FILE@0..371
  FN@0..371
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..371
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..39
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "i"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_CALL@24..33
          EXPR_IDENT@24..27
            PATH@24..27
              Ident@24..27 "ref"
          ARG_LIST@27..33
            LParen@27..28 "("
            ARG@28..32
              EXPR_INT32@28..32
                Int32Lit@28..32 "0i32"
            RParen@32..33 ")"
        Semi@33..34 ";"
        Whitespace@34..39 "\n    "
      STMT_EXPR@39..344
        EXPR_WHILE@39..338
          WhileKeyword@39..44 "while"
          Whitespace@44..45 " "
          EXPR_WHILE_COND@45..63
            EXPR_BINARY@45..63
              EXPR_CALL@45..56
                EXPR_IDENT@45..52
                  PATH@45..52
                    Ident@45..52 "ref_get"
                ARG_LIST@52..56
                  LParen@52..53 "("
                  ARG@53..54
                    EXPR_IDENT@53..54
                      PATH@53..54
                        Ident@53..54 "i"
                  RParen@54..55 ")"
                  Whitespace@55..56 " "
              Less@56..57 "<"
              Whitespace@57..58 " "
              EXPR_INT32@58..63
                Int32Lit@58..62 "8i32"
                Whitespace@62..63 " "
          EXPR_WHILE_BODY@63..338
            BLOCK@63..338
              LBrace@63..64 "{"
              Whitespace@64..73 "\n        "
              STMT_EXPR@73..112
                EXPR_CALL@73..102
                  EXPR_IDENT@73..80
                    PATH@73..80
                      Ident@73..80 "ref_set"
                  ARG_LIST@80..102
                    LParen@80..81 "("
                    ARG@81..84
                      EXPR_IDENT@81..82
                        PATH@81..82
                          Ident@81..82 "i"
                      Comma@82..83 ","
                      Whitespace@83..84 " "
                    ARG@84..101
                      EXPR_BINARY@84..101
                        EXPR_CALL@84..95
                          EXPR_IDENT@84..91
                            PATH@84..91
                              Ident@84..91 "ref_get"
                          ARG_LIST@91..95
                            LParen@91..92 "("
                            ARG@92..93
                              EXPR_IDENT@92..93
                                PATH@92..93
                                  Ident@92..93 "i"
                            RParen@93..94 ")"
                            Whitespace@94..95 " "
                        Plus@95..96 "+"
                        Whitespace@96..97 " "
                        EXPR_INT32@97..101
                          Int32Lit@97..101 "1i32"
                    RParen@101..102 ")"
                Semi@102..103 ";"
                Whitespace@103..112 "\n        "
              STMT_EXPR@112..208
                EXPR_IF@112..198
                  IfKeyword@112..114 "if"
                  Whitespace@114..115 " "
                  EXPR_IF_COND@115..134
                    EXPR_BINARY@115..134
                      EXPR_CALL@115..126
                        EXPR_IDENT@115..122
                          PATH@115..122
                            Ident@115..122 "ref_get"
                        ARG_LIST@122..126
                          LParen@122..123 "("
                          ARG@123..124
                            EXPR_IDENT@123..124
                              PATH@123..124
                                Ident@123..124 "i"
                          RParen@124..125 ")"
                          Whitespace@125..126 " "
                      EqEq@126..128 "=="
                      Whitespace@128..129 " "
                      EXPR_INT32@129..134
                        Int32Lit@129..133 "3i32"
                        Whitespace@133..134 " "
                  EXPR_IF_THEN@134..167
                    BLOCK@134..167
                      LBrace@134..135 "{"
                      Whitespace@135..148 "\n            "
                      EXPR_CONTINUE@148..165
                        ContinueKeyword@148..156 "continue"
                        Whitespace@156..165 "\n        "
                      RBrace@165..166 "}"
                      Whitespace@166..167 " "
                  ElseKeyword@167..171 "else"
                  Whitespace@171..172 " "
                  EXPR_IF_ELSE@172..198
                    BLOCK@172..198
                      LBrace@172..173 "{"
                      Whitespace@173..186 "\n            "
                      EXPR_UNIT@186..197
                        LParen@186..187 "("
                        RParen@187..188 ")"
                        Whitespace@188..197 "\n        "
                      RBrace@197..198 "}"
                Semi@198..199 ";"
                Whitespace@199..208 "\n        "
              STMT_EXPR@208..304
                EXPR_IF@208..294
                  IfKeyword@208..210 "if"
                  Whitespace@210..211 " "
                  EXPR_IF_COND@211..230
                    EXPR_BINARY@211..230
                      EXPR_CALL@211..222
                        EXPR_IDENT@211..218
                          PATH@211..218
                            Ident@211..218 "ref_get"
                        ARG_LIST@218..222
                          LParen@218..219 "("
                          ARG@219..220
                            EXPR_IDENT@219..220
                              PATH@219..220
                                Ident@219..220 "i"
                          RParen@220..221 ")"
                          Whitespace@221..222 " "
                      EqEq@222..224 "=="
                      Whitespace@224..225 " "
                      EXPR_INT32@225..230
                        Int32Lit@225..229 "6i32"
                        Whitespace@229..230 " "
                  EXPR_IF_THEN@230..263
                    BLOCK@230..263
                      LBrace@230..231 "{"
                      Whitespace@231..244 "\n            "
                      EXPR_CONTINUE@244..261
                        ContinueKeyword@244..252 "continue"
                        Whitespace@252..261 "\n        "
                      RBrace@261..262 "}"
                      Whitespace@262..263 " "
                  ElseKeyword@263..267 "else"
                  Whitespace@267..268 " "
                  EXPR_IF_ELSE@268..294
                    BLOCK@268..294
                      LBrace@268..269 "{"
                      Whitespace@269..282 "\n            "
                      EXPR_UNIT@282..293
                        LParen@282..283 "("
                        RParen@283..284 ")"
                        Whitespace@284..293 "\n        "
                      RBrace@293..294 "}"
                Semi@294..295 ";"
                Whitespace@295..304 "\n        "
              STMT_LET@304..337
                LetKeyword@304..307 "let"
                Whitespace@307..308 " "
                PATTERN_WILDCARD@308..310
                  WildcardKeyword@308..309 "_"
                  Whitespace@309..310 " "
                Eq@310..311 "="
                Whitespace@311..312 " "
                EXPR_CALL@312..331
                  EXPR_IDENT@312..319
                    PATH@312..319
                      Ident@312..319 "println"
                  ARG_LIST@319..331
                    LParen@319..320 "("
                    ARG@320..330
                      EXPR_CALL@320..330
                        EXPR_IDENT@320..327
                          PATH@320..327
                            Ident@320..327 "ref_get"
                        ARG_LIST@327..330
                          LParen@327..328 "("
                          ARG@328..329
                            EXPR_IDENT@328..329
                              PATH@328..329
                                Ident@328..329 "i"
                          RParen@329..330 ")"
                    RParen@330..331 ")"
                Semi@331..332 ";"
                Whitespace@332..337 "\n    "
              RBrace@337..338 "}"
        Semi@338..339 ";"
        Whitespace@339..344 "\n    "
      STMT_LET@344..369
        LetKeyword@344..347 "let"
        Whitespace@347..348 " "
        PATTERN_WILDCARD@348..350
          WildcardKeyword@348..349 "_"
          Whitespace@349..350 " "
        Eq@350..351 "="
        Whitespace@351..352 " "
        EXPR_CALL@352..367
          EXPR_IDENT@352..359
            PATH@352..359
              Ident@352..359 "println"
          ARG_LIST@359..367
            LParen@359..360 "("
            ARG@360..366
              EXPR_STR@360..366
                Str@360..366 "\"done\""
            RParen@366..367 ")"
        Semi@367..368 ";"
        Whitespace@368..369 "\n"
      RBrace@369..370 "}"
      Whitespace@370..371 "\n"