FILE@0..604
  TRAIT@0..46
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Named"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..46
      TRAIT_METHOD_SIG@18..43
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..25 "name"
        PARAM_LIST@25..32
          LParen@25..26 "("
          PARAM@26..30
            Ident@26..30 "self"
          RParen@30..31 ")"
          Whitespace@31..32 " "
        Arrow@32..34 "->"
        Whitespace@34..35 " "
        TYPE_STRING@35..41
          StringKeyword@35..41 "string"
        Semi@41..42 ";"
        Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  TRAIT@46..117
    TraitKeyword@46..51 "trait"
    Whitespace@51..52 " "
    Ident@52..59 "Display"
    Colon@59..60 ":"
    Whitespace@60..61 " "
    TRAIT_SET@61..67
      TYPE_TAPP@61..67
        PATH@61..67
          Ident@61..66 "Named"
          Whitespace@66..67 " "
    LBrace@67..68 "{"
    Whitespace@68..73 "\n    "
    TRAIT_METHOD_SIG_LIST@73..117
      TRAIT_METHOD_SIG@73..114
        FnKeyword@73..75 "fn"
        Whitespace@75..76 " "
        Ident@76..80 "show"
        PARAM_LIST@80..103
          LParen@80..81 "("
          PARAM@81..87
            Ident@81..85 "self"
            Comma@85..86 ","
            Whitespace@86..87 " "
          PARAM@87..101
            Ident@87..93 "prefix"
            Colon@93..94 ":"
            Whitespace@94..95 " "
            TYPE_STRING@95..101
              StringKeyword@95..101 "string"
          RParen@101..102 ")"
          Whitespace@102..103 " "
        Arrow@103..105 "->"
        Whitespace@105..106 " "
        TYPE_STRING@106..112
          StringKeyword@106..112 "string"
        Semi@112..113 ";"
        Whitespace@113..114 "\n"
      RBrace@114..115 "}"
      Whitespace@115..117 "\n\n"
  STRUCT@117..151
    StructKeyword@117..123 "struct"
    Whitespace@123..124 " "
    Ident@124..129 "Point"
    Whitespace@129..130 " "
    LBrace@130..131 "{"
    Whitespace@131..136 "\n    "
    STRUCT_FIELD_LIST@136..151
      STRUCT_FIELD@136..146
        Ident@136..141 "value"
        Colon@141..142 ":"
        Whitespace@142..143 " "
        TYPE_INT32@143..146
          I32Keyword@143..146 "i32"
      Comma@146..147 ","
      Whitespace@147..148 "\n"
      RBrace@148..149 "}"
      Whitespace@149..151 "\n\n"
  IMPL@151..229
    ImplKeyword@151..155 "impl"
    Whitespace@155..156 " "
    TYPE_TAPP@156..162
      PATH@156..162
        Ident@156..161 "Named"
        Whitespace@161..162 " "
    ForKeyword@162..165 "for"
    Whitespace@165..166 " "
    TYPE_TAPP@166..172
      PATH@166..172
        Ident@166..171 "Point"
        Whitespace@171..172 " "
    LBrace@172..173 "{"
    Whitespace@173..178 "\n    "
    FN@178..226
      FnKeyword@178..180 "fn"
      Whitespace@180..181 " "
      Ident@181..185 "name"
      PARAM_LIST@185..192
        LParen@185..186 "("
        PARAM@186..190
          Ident@186..190 "self"
        RParen@190..191 ")"
        Whitespace@191..192 " "
      Arrow@192..194 "->"
      Whitespace@194..195 " "
      TYPE_STRING@195..202
        StringKeyword@195..201 "string"
        Whitespace@201..202 " "
      BLOCK@202..226
        LBrace@202..203 "{"
        Whitespace@203..212 "\n        "
        EXPR_STR@212..224
          Str@212..219 "\"point\""
          Whitespace@219..224 "\n    "
        RBrace@224..225 "}"
        Whitespace@225..226 "\n"
    RBrace@226..227 "}"
    Whitespace@227..229 "\n\n"
  IMPL@229..349
    ImplKeyword@229..233 "impl"
    Whitespace@233..234 " "
    TYPE_TAPP@234..242
      PATH@234..242
        Ident@234..241 "Display"
        Whitespace@241..242 " "
    ForKeyword@242..245 "for"
    Whitespace@245..246 " "
    TYPE_TAPP@246..252
      PATH@246..252
        Ident@246..251 "Point"
        Whitespace@251..252 " "
    LBrace@252..253 "{"
    Whitespace@253..258 "\n    "
    FN@258..346
      FnKeyword@258..260 "fn"
      Whitespace@260..261 " "
      Ident@261..265 "show"
      PARAM_LIST@265..288
        LParen@265..266 "("
        PARAM@266..272
          Ident@266..270 "self"
          Comma@270..271 ","
          Whitespace@271..272 " "
        PARAM@272..286
          Ident@272..278 "prefix"
          Colon@278..279 ":"
          Whitespace@279..280 " "
          TYPE_STRING@280..286
            StringKeyword@280..286 "string"
        RParen@286..287 ")"
        Whitespace@287..288 " "
      Arrow@288..290 "->"
      Whitespace@290..291 " "
      TYPE_STRING@291..298
        StringKeyword@291..297 "string"
        Whitespace@297..298 " "
      BLOCK@298..346
        LBrace@298..299 "{"
        Whitespace@299..308 "\n        "
        EXPR_BINARY@308..344
          EXPR_IDENT@308..315
            PATH@308..315
              Ident@308..314 "prefix"
              Whitespace@314..315 " "
          Plus@315..316 "+"
          Whitespace@316..317 " "
          EXPR_CALL@317..344
            EXPR_BINARY@317..337
              EXPR_BINARY@317..327
                EXPR_IDENT@317..321
                  PATH@317..321
                    Ident@317..321 "self"
                Dot@321..322 "."
                EXPR_IDENT@322..327
                  PATH@322..327
                    Ident@322..327 "value"
              Dot@327..328 "."
              EXPR_IDENT@328..337
                PATH@328..337
                  Ident@328..337 "to_string"
            ARG_LIST@337..344
              LParen@337..338 "("
              RParen@338..339 ")"
              Whitespace@339..344 "\n    "
        RBrace@344..345 "}"
        Whitespace@345..346 "\n"
    RBrace@346..347 "}"
    Whitespace@347..349 "\n\n"
  FN@349..499
    FnKeyword@349..351 "fn"
    Whitespace@351..352 " "
    Ident@352..358 "render"
    PARAM_LIST@358..379
      LParen@358..359 "("
      PARAM@359..377
        Ident@359..364 "value"
        Colon@364..365 ":"
        Whitespace@365..366 " "
        TYPE_DYN@366..377
          DynKeyword@366..369 "dyn"
          Whitespace@369..370 " "
          DYN_BOUND@370..377
            PATH@370..377
              Ident@370..377 "Display"
      RParen@377..378 ")"
      Whitespace@378..379 " "
    Arrow@379..381 "->"
    Whitespace@381..382 " "
    TYPE_UNIT@382..387
      UnitKeyword@382..386 "unit"
      Whitespace@386..387 " "
    BLOCK@387..499
      LBrace@387..388 "{"
      Whitespace@388..393 "\n    "
      STMT_EXPR@393..428
        EXPR_CALL@393..422
          EXPR_IDENT@393..400
            PATH@393..400
              Ident@393..400 "println"
          ARG_LIST@400..422
            LParen@400..401 "("
            ARG@401..421
              EXPR_CALL@401..421
                EXPR_BINARY@401..411
                  EXPR_IDENT@401..406
                    PATH@401..406
                      Ident@401..406 "value"
                  Dot@406..407 "."
                  EXPR_IDENT@407..411
                    PATH@407..411
                      Ident@407..411 "show"
                ARG_LIST@411..421
                  LParen@411..412 "("
                  ARG@412..420
                    EXPR_STR@412..420
                      Str@412..420 "\"value=\""
                  RParen@420..421 ")"
            RParen@421..422 ")"
        Semi@422..423 ";"
        Whitespace@423..428 "\n    "
      STMT_EXPR@428..455
        EXPR_CALL@428..449
          EXPR_IDENT@428..435
            PATH@428..435
              Ident@428..435 "println"
          ARG_LIST@435..449
            LParen@435..436 "("
            ARG@436..448
              EXPR_CALL@436..448
                EXPR_BINARY@436..446
                  EXPR_IDENT@436..441
                    PATH@436..441
                      Ident@436..441 "value"
                  Dot@441..442 "."
                  EXPR_IDENT@442..446
                    PATH@442..446
                      Ident@442..446 "name"
                ARG_LIST@446..448
                  LParen@446..447 "("
                  RParen@447..448 ")"
            RParen@448..449 ")"
        Semi@449..450 ";"
        Whitespace@450..455 "\n    "
      STMT_EXPR@455..496
        EXPR_CALL@455..494
          EXPR_IDENT@455..462
            PATH@455..462
              Ident@455..462 "println"
          ARG_LIST@462..494
            LParen@462..463 "("
            ARG@463..493
              EXPR_CALL@463..493
                EXPR_IDENT@463..476
                  PATH@463..476
                    Ident@463..470 "Display"
                    ColonColon@470..472 "::"
                    Ident@472..476 "show"
                ARG_LIST@476..493
                  LParen@476..477 "("
                  ARG@477..484
                    EXPR_IDENT@477..482
                      PATH@477..482
                        Ident@477..482 "value"
                    Comma@482..483 ","
                    Whitespace@483..484 " "
                  ARG@484..492
                    EXPR_STR@484..492
                      Str@484..492 "\"again=\""
                  RParen@492..493 ")"
            RParen@493..494 ")"
        Semi@494..495 ";"
        Whitespace@495..496 "\n"
      RBrace@496..497 "}"
      Whitespace@497..499 "\n\n"
  FN@499..604
    FnKeyword@499..501 "fn"
    Whitespace@501..502 " "
    Ident@502..506 "main"
    PARAM_LIST@506..509
      LParen@506..507 "("
      RParen@507..508 ")"
      Whitespace@508..509 " "
    Arrow@509..511 "->"
    Whitespace@511..512 " "
    TYPE_UNIT@512..517
      UnitKeyword@512..516 "unit"
      Whitespace@516..517 " "
    BLOCK@517..604
      LBrace@517..518 "{"
      Whitespace@518..523 "\n    "
      STMT_LET@523..587
        LetKeyword@523..526 "let"
        Whitespace@526..527 " "
        PATTERN_VARIABLE@527..532
          Ident@527..532 "value"
        Colon@532..533 ":"
        Whitespace@533..534 " "
        TYPE_DYN@534..546
          DynKeyword@534..537 "dyn"
          Whitespace@537..538 " "
          DYN_BOUND@538..546
            PATH@538..546
              Ident@538..545 "Display"
              Whitespace@545..546 " "
        Eq@546..547 "="
        Whitespace@547..548 " "
        EXPR_CAST@548..581
          EXPR_STRUCT_LITERAL@548..567
            PATH@548..554
              Ident@548..553 "Point"
              Whitespace@553..554 " "
            STRUCT_LITERAL_FIELD_LIST@554..567
              LBrace@554..555 "{"
              Whitespace@555..556 " "
              STRUCT_LITERAL_FIELD@556..565
                Ident@556..561 "value"
                Colon@561..562 ":"
                Whitespace@562..563 " "
                EXPR_INT@563..565
                  Int@563..564 "7"
                  Whitespace@564..565 " "
              RBrace@565..566 "}"
              Whitespace@566..567 " "
          AsKeyword@567..569 "as"
          Whitespace@569..570 " "
          TYPE_DYN@570..581
            DynKeyword@570..573 "dyn"
            Whitespace@573..574 " "
            DYN_BOUND@574..581
              PATH@574..581
                Ident@574..581 "Display"
        Semi@581..582 ";"
        Whitespace@582..587 "\n    "
      STMT_EXPR@587..602
        EXPR_CALL@587..600
          EXPR_IDENT@587..593
            PATH@587..593
              Ident@587..593 "render"
          ARG_LIST@593..600
            LParen@593..594 "("
            ARG@594..599
              EXPR_IDENT@594..599
                PATH@594..599
                  Ident@594..599 "value"
            RParen@599..600 ")"
        Semi@600..601 ";"
        Whitespace@601..602 "\n"
      RBrace@602..603 "}"
      Whitespace@603..604 "\n"