FILE@0..296
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..17 "\n  "
    STRUCT_FIELD_LIST@17..42
      STRUCT_FIELD@17..25
        Ident@17..18 "x"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..25
          Int32Keyword@20..25 "int32"
      Comma@25..26 ","
      Whitespace@26..29 "\n  "
      STRUCT_FIELD@29..37
        Ident@29..30 "y"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_INT32@32..37
          Int32Keyword@32..37 "int32"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  FN@42..116
    FnKeyword@42..44 "fn"
    Whitespace@44..45 " "
    Ident@45..55 "make_point"
    PARAM_LIST@55..69
      LParen@55..56 "("
      PARAM@56..67
        Ident@56..60 "base"
        Colon@60..61 ":"
        Whitespace@61..62 " "
        TYPE_INT32@62..67
          Int32Keyword@62..67 "int32"
      RParen@67..68 ")"
      Whitespace@68..69 " "
    Arrow@69..71 "->"
    Whitespace@71..72 " "
    TYPE_TAPP@72..78
      PATH@72..78
        Ident@72..77 "Point"
        Whitespace@77..78 " "
    BLOCK@78..116
      LBrace@78..79 "{"
      Whitespace@79..82 "\n  "
      EXPR_STRUCT_LITERAL@82..113
        PATH@82..88
          Ident@82..87 "Point"
          Whitespace@87..88 " "
        STRUCT_LITERAL_FIELD_LIST@88..113
          LBrace@88..89 "{"
          Whitespace@89..90 " "
          STRUCT_LITERAL_FIELD@90..97
            Ident@90..91 "x"
            Colon@91..92 ":"
            Whitespace@92..93 " "
            EXPR_IDENT@93..97
              PATH@93..97
                Ident@93..97 "base"
          Comma@97..98 ","
          Whitespace@98..99 " "
          STRUCT_LITERAL_FIELD@99..111
            Ident@99..100 "y"
            Colon@100..101 ":"
            Whitespace@101..102 " "
            EXPR_BINARY@102..111
              EXPR_IDENT@102..107
                PATH@102..107
                  Ident@102..106 "base"
                  Whitespace@106..107 " "
              Plus@107..108 "+"
              Whitespace@108..109 " "
              EXPR_INT@109..111
                Int@109..110 "1"
                Whitespace@110..111 " "
          RBrace@111..112 "}"
          Whitespace@112..113 "\n"
      RBrace@113..114 "}"
      Whitespace@114..116 "\n\n"
  FN@116..165
    FnKeyword@116..118 "fn"
    Whitespace@118..119 " "
    Ident@119..128 "sum_point"
    PARAM_LIST@128..139
      LParen@128..129 "("
      PARAM@129..137
        Ident@129..130 "p"
        Colon@130..131 ":"
        Whitespace@131..132 " "
        TYPE_TAPP@132..137
          PATH@132..137
            Ident@132..137 "Point"
      RParen@137..138 ")"
      Whitespace@138..139 " "
    Arrow@139..141 "->"
    Whitespace@141..142 " "
    TYPE_INT32@142..148
      Int32Keyword@142..147 "int32"
      Whitespace@147..148 " "
    BLOCK@148..165
      LBrace@148..149 "{"
      Whitespace@149..152 "\n  "
      EXPR_BINARY@152..162
        EXPR_BINARY@152..156
          EXPR_IDENT@152..153
            PATH@152..153
              Ident@152..153 "p"
          Dot@153..154 "."
          EXPR_IDENT@154..156
            PATH@154..156
              Ident@154..155 "x"
              Whitespace@155..156 " "
        Plus@156..157 "+"
        Whitespace@157..158 " "
        EXPR_BINARY@158..162
          EXPR_IDENT@158..159
            PATH@158..159
              Ident@158..159 "p"
          Dot@159..160 "."
          EXPR_IDENT@160..162
            PATH@160..162
              Ident@160..161 "y"
              Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..165 "\n\n"
  FN@165..296
    FnKeyword@165..167 "fn"
    Whitespace@167..168 " "
    Ident@168..172 "main"
    PARAM_LIST@172..175
      LParen@172..173 "("
      RParen@173..174 ")"
      Whitespace@174..175 " "
    Arrow@175..177 "->"
    Whitespace@177..178 " "
    TYPE_INT32@178..184
      Int32Keyword@178..183 "int32"
      Whitespace@183..184 " "
    BLOCK@184..296
      LBrace@184..185 "{"
      Whitespace@185..188 "\n  "
      STMT_LET@188..213
        LetKeyword@188..191 "let"
        Whitespace@191..192 " "
        PATTERN_VARIABLE@192..194
          Ident@192..193 "p"
          Whitespace@193..194 " "
        Eq@194..195 "="
        Whitespace@195..196 " "
        EXPR_CALL@196..209
          EXPR_IDENT@196..206
            PATH@196..206
              Ident@196..206 "make_point"
          ARG_LIST@206..209
            LParen@206..207 "("
            ARG@207..208
              EXPR_INT@207..208
                Int@207..208 "5"
            RParen@208..209 ")"
        Semi@209..210 ";"
        Whitespace@210..213 "\n  "
      STMT_LET@213..263
        LetKeyword@213..216 "let"
        Whitespace@216..217 " "
        PATTERN_VARIABLE@217..225
          Ident@217..224 "shifted"
          Whitespace@224..225 " "
        Eq@225..226 "="
        Whitespace@226..227 " "
        EXPR_STRUCT_LITERAL@227..259
          PATH@227..233
            Ident@227..232 "Point"
            Whitespace@232..233 " "
          STRUCT_LITERAL_FIELD_LIST@233..259
            LBrace@233..234 "{"
            Whitespace@234..235 " "
            STRUCT_LITERAL_FIELD@235..245
              Ident@235..236 "x"
              Colon@236..237 ":"
              Whitespace@237..238 " "
              EXPR_BINARY@238..245
                EXPR_BINARY@238..242
                  EXPR_IDENT@238..239
                    PATH@238..239
                      Ident@238..239 "p"
                  Dot@239..240 "."
                  EXPR_IDENT@240..242
                    PATH@240..242
                      Ident@240..241 "x"
                      Whitespace@241..242 " "
                Plus@242..243 "+"
                Whitespace@243..244 " "
                EXPR_INT@244..245
                  Int@244..245 "1"
            Comma@245..246 ","
            Whitespace@246..247 " "
            STRUCT_LITERAL_FIELD@247..258
              Ident@247..248 "y"
              Colon@248..249 ":"
              Whitespace@249..250 " "
              EXPR_BINARY@250..258
                EXPR_BINARY@250..254
                  EXPR_IDENT@250..251
                    PATH@250..251
                      Ident@250..251 "p"
                  Dot@251..252 "."
                  EXPR_IDENT@252..254
                    PATH@252..254
                      Ident@252..253 "y"
                      Whitespace@253..254 " "
                Minus@254..255 "-"
                Whitespace@255..256 " "
                EXPR_INT@256..258
                  Int@256..257 "2"
                  Whitespace@257..258 " "
            RBrace@258..259 "}"
        Semi@259..260 ";"
        Whitespace@260..263 "\n  "
      EXPR_BINARY@263..294
        EXPR_BINARY@263..273
          EXPR_IDENT@263..270
            PATH@263..270
              Ident@263..270 "shifted"
          Dot@270..271 "."
          EXPR_IDENT@271..273
            PATH@271..273
              Ident@271..272 "x"
              Whitespace@272..273 " "
        Plus@273..274 "+"
        Whitespace@274..275 " "
        EXPR_CALL@275..294
          EXPR_IDENT@275..284
            PATH@275..284
              Ident@275..284 "sum_point"
          ARG_LIST@284..294
            LParen@284..285 "("
            ARG@285..292
              EXPR_IDENT@285..292
                PATH@285..292
                  Ident@285..292 "shifted"
            RParen@292..293 ")"
            Whitespace@293..294 "\n"
      RBrace@294..295 "}"
      Whitespace@295..296 "\n"