FILE@0..492
  FN@0..142
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..13 "cut_prefix"
    PARAM_LIST@13..30
      LParen@13..14 "("
      PARAM@14..28
        Ident@14..21 "case_id"
        Colon@21..22 ":"
        Whitespace@22..23 " "
        TYPE_INT32@23..28
          Int32Keyword@23..28 "int32"
      RParen@28..29 ")"
      Whitespace@29..30 " "
    Arrow@30..32 "->"
    Whitespace@32..33 " "
    TYPE_TAPP@33..48
      PATH@33..39
        Ident@33..39 "Option"
      TYPE_PARAM_LIST@39..48
        LBracket@39..40 "["
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        RBracket@46..47 "]"
        Whitespace@47..48 " "
    BLOCK@48..142
      LBrace@48..49 "{"
      Whitespace@49..54 "\n    "
      EXPR_IF@54..139
        IfKeyword@54..56 "if"
        Whitespace@56..57 " "
        EXPR_IF_COND@57..70
          EXPR_BINARY@57..70
            EXPR_IDENT@57..65
              PATH@57..65
                Ident@57..64 "case_id"
                Whitespace@64..65 " "
            EqEq@65..67 "=="
            Whitespace@67..68 " "
            EXPR_INT@68..70
              Int@68..69 "0"
              Whitespace@69..70 " "
        EXPR_IF_THEN@70..105
          BLOCK@70..105
            LBrace@70..71 "{"
            Whitespace@71..80 "\n        "
            EXPR_CALL@80..103
              EXPR_IDENT@80..92
                PATH@80..92
                  Ident@80..86 "Option"
                  ColonColon@86..88 "::"
                  Ident@88..92 "Some"
              ARG_LIST@92..103
                LParen@92..93 "("
                ARG@93..97
                  EXPR_STR@93..97
                    Str@93..97 "\"ml\""
                RParen@97..98 ")"
                Whitespace@98..103 "\n    "
            RBrace@103..104 "}"
            Whitespace@104..105 " "
        ElseKeyword@105..109 "else"
        Whitespace@109..110 " "
        EXPR_IF_ELSE@110..139
          BLOCK@110..139
            LBrace@110..111 "{"
            Whitespace@111..120 "\n        "
            EXPR_IDENT@120..137
              PATH@120..137
                Ident@120..126 "Option"
                ColonColon@126..128 "::"
                Ident@128..132 "None"
                Whitespace@132..137 "\n    "
            RBrace@137..138 "}"
            Whitespace@138..139 "\n"
      RBrace@139..140 "}"
      Whitespace@140..142 "\n\n"
  FN@142..262
    FnKeyword@142..144 "fn"
    Whitespace@144..145 " "
    Ident@145..152 "trim_go"
    PARAM_LIST@152..169
      LParen@152..153 "("
      PARAM@153..167
        Ident@153..160 "case_id"
        Colon@160..161 ":"
        Whitespace@161..162 " "
        TYPE_INT32@162..167
          Int32Keyword@162..167 "int32"
      RParen@167..168 ")"
      Whitespace@168..169 " "
    Arrow@169..171 "->"
    Whitespace@171..172 " "
    TYPE_TAPP@172..187
      PATH@172..178
        Ident@172..178 "Option"
      TYPE_PARAM_LIST@178..187
        LBracket@178..179 "["
        TYPE_STRING@179..185
          StringKeyword@179..185 "string"
        RBracket@185..186 "]"
        Whitespace@186..187 " "
    BLOCK@187..262
      LBrace@187..188 "{"
      Whitespace@188..193 "\n    "
      STMT_LET@193..232
        LetKeyword@193..196 "let"
        Whitespace@196..197 " "
        PATTERN_VARIABLE@197..204
          Ident@197..203 "suffix"
          Whitespace@203..204 " "
        Eq@204..205 "="
        Whitespace@205..206 " "
        EXPR_TRY@206..226
          EXPR_CALL@206..225
            EXPR_IDENT@206..216
              PATH@206..216
                Ident@206..216 "cut_prefix"
            ARG_LIST@216..225
              LParen@216..217 "("
              ARG@217..224
                EXPR_IDENT@217..224
                  PATH@217..224
                    Ident@217..224 "case_id"
              RParen@224..225 ")"
          Question@225..226 "?"
        Semi@226..227 ";"
        Whitespace@227..232 "\n    "
      EXPR_CALL@232..259
        EXPR_IDENT@232..244
          PATH@232..244
            Ident@232..238 "Option"
            ColonColon@238..240 "::"
            Ident@240..244 "Some"
        ARG_LIST@244..259
          LParen@244..245 "("
          ARG@245..257
            EXPR_BINARY@245..257
              EXPR_IDENT@245..252
                PATH@245..252
                  Ident@245..251 "suffix"
                  Whitespace@251..252 " "
              Plus@252..253 "+"
              Whitespace@253..254 " "
              EXPR_STR@254..257
                Str@254..257 "\"!\""
          RParen@257..258 ")"
          Whitespace@258..259 "\n"
      RBrace@259..260 "}"
      Whitespace@260..262 "\n\n"
  FN@262..408
    FnKeyword@262..264 "fn"
    Whitespace@264..265 " "
    Ident@265..269 "show"
    PARAM_LIST@269..291
      LParen@269..270 "("
      PARAM@270..289
        Ident@270..273 "opt"
        Colon@273..274 ":"
        Whitespace@274..275 " "
        TYPE_TAPP@275..289
          PATH@275..281
            Ident@275..281 "Option"
          TYPE_PARAM_LIST@281..289
            LBracket@281..282 "["
            TYPE_STRING@282..288
              StringKeyword@282..288 "string"
            RBracket@288..289 "]"
      RParen@289..290 ")"
      Whitespace@290..291 " "
    Arrow@291..293 "->"
    Whitespace@293..294 " "
    TYPE_STRING@294..301
      StringKeyword@294..300 "string"
      Whitespace@300..301 " "
    BLOCK@301..408
      LBrace@301..302 "{"
      Whitespace@302..307 "\n    "
      EXPR_MATCH@307..405
        MatchKeyword@307..312 "match"
        Whitespace@312..313 " "
        EXPR_IDENT@313..317
          PATH@313..317
            Ident@313..316 "opt"
            Whitespace@316..317 " "
        MATCH_ARM_LIST@317..405
          LBrace@317..318 "{"
          Whitespace@318..327 "\n        "
          MATCH_ARM@327..365
            PATTERN_CONSTR@327..347
              PATH@327..339
                Ident@327..333 "Option"
                ColonColon@333..335 "::"
                Ident@335..339 "Some"
              LParen@339..340 "("
              PATTERN_VARIABLE@340..345
                Ident@340..345 "value"
              RParen@345..346 ")"
              Whitespace@346..347 " "
            FatArrow@347..349 "=>"
            Whitespace@349..350 " "
            EXPR_BINARY@350..365
              EXPR_STR@350..358
                Str@350..357 "\"some \""
                Whitespace@357..358 " "
              Plus@358..359 "+"
              Whitespace@359..360 " "
              EXPR_IDENT@360..365
                PATH@360..365
                  Ident@360..365 "value"
          Comma@365..366 ","
          Whitespace@366..375 "\n        "
          MATCH_ARM@375..397
            PATTERN_CONSTR@375..388
              PATH@375..388
                Ident@375..381 "Option"
                ColonColon@381..383 "::"
                Ident@383..387 "None"
                Whitespace@387..388 " "
            FatArrow@388..390 "=>"
            Whitespace@390..391 " "
            EXPR_STR@391..397
              Str@391..397 "\"none\""
          Comma@397..398 ","
          Whitespace@398..403 "\n    "
          RBrace@403..404 "}"
          Whitespace@404..405 "\n"
      RBrace@405..406 "}"
      Whitespace@406..408 "\n\n"
  FN@408..492
    FnKeyword@408..410 "fn"
    Whitespace@410..411 " "
    Ident@411..415 "main"
    PARAM_LIST@415..418
      LParen@415..416 "("
      RParen@416..417 ")"
      Whitespace@417..418 " "
    Arrow@418..420 "->"
    Whitespace@420..421 " "
    TYPE_UNIT@421..426
      UnitKeyword@421..425 "unit"
      Whitespace@425..426 " "
    BLOCK@426..492
      LBrace@426..427 "{"
      Whitespace@427..432 "\n    "
      STMT_EXPR@432..463
        EXPR_CALL@432..457
          EXPR_IDENT@432..439
            PATH@432..439
              Ident@432..439 "println"
          ARG_LIST@439..457
            LParen@439..440 "("
            ARG@440..456
              EXPR_CALL@440..456
                EXPR_IDENT@440..444
                  PATH@440..444
                    Ident@440..444 "show"
                ARG_LIST@444..456
                  LParen@444..445 "("
                  ARG@445..455
                    EXPR_CALL@445..455
                      EXPR_IDENT@445..452
                        PATH@445..452
                          Ident@445..452 "trim_go"
                      ARG_LIST@452..455
                        LParen@452..453 "("
                        ARG@453..454
                          EXPR_INT@453..454
                            Int@453..454 "0"
                        RParen@454..455 ")"
                  RParen@455..456 ")"
            RParen@456..457 ")"
        Semi@457..458 ";"
        Whitespace@458..463 "\n    "
      STMT_EXPR@463..490
        EXPR_CALL@463..488
          EXPR_IDENT@463..470
            PATH@463..470
              Ident@463..470 "println"
          ARG_LIST@470..488
            LParen@470..471 "("
            ARG@471..487
              EXPR_CALL@471..487
                EXPR_IDENT@471..475
                  PATH@471..475
                    Ident@471..475 "show"
                ARG_LIST@475..487
                  LParen@475..476 "("
                  ARG@476..486
                    EXPR_CALL@476..486
                      EXPR_IDENT@476..483
                        PATH@476..483
                          Ident@476..483 "trim_go"
                      ARG_LIST@483..486
                        LParen@483..484 "("
                        ARG@484..485
                          EXPR_INT@484..485
                            Int@484..485 "1"
                        RParen@485..486 ")"
                  RParen@486..487 ")"
            RParen@487..488 ")"
        Semi@488..489 ";"
        Whitespace@489..490 "\n"
      RBrace@490..491 "}"
      Whitespace@491..492 "\n"