FILE@0..1214
  STRUCT@0..41
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..17 "\n  "
    STRUCT_FIELD_LIST@17..41
      STRUCT_FIELD@17..25
        Ident@17..18 "x"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..25
          Int32Keyword@20..25 "int32"
      Comma@25..26 ","
      Whitespace@26..29 "\n  "
      STRUCT_FIELD@29..38
        Ident@29..30 "y"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_INT32@32..38
          Int32Keyword@32..37 "int32"
          Whitespace@37..38 "\n"
      RBrace@38..39 "}"
      Whitespace@39..41 "\n\n"
  FN@41..193
    FnKeyword@41..43 "fn"
    Whitespace@43..44 " "
    Ident@44..61 "point32_to_string"
    PARAM_LIST@61..72
      LParen@61..62 "("
      PARAM@62..70
        Ident@62..63 "p"
        Colon@63..64 ":"
        Whitespace@64..65 " "
        TYPE_TAPP@65..70
          PATH@65..70
            Ident@65..70 "Point"
      RParen@70..71 ")"
      Whitespace@71..72 " "
    Arrow@72..74 "->"
    Whitespace@74..75 " "
    TYPE_STRING@75..82
      StringKeyword@75..81 "string"
      Whitespace@81..82 " "
    BLOCK@82..193
      LBrace@82..83 "{"
      Whitespace@83..86 "\n  "
      STMT_LET@86..117
        LetKeyword@86..89 "let"
        Whitespace@89..90 " "
        PATTERN_CONSTR@90..110
          PATH@90..96
            Ident@90..95 "Point"
            Whitespace@95..96 " "
          STRUCT_PATTERN_FIELD_LIST@96..110
            LBrace@96..97 "{"
            STRUCT_PATTERN_FIELD@97..102
              Ident@97..98 "x"
              Whitespace@98..99 " "
              Colon@99..100 ":"
              Whitespace@100..101 " "
              PATTERN_VARIABLE@101..102
                Ident@101..102 "x"
            Comma@102..103 ","
            Whitespace@103..104 " "
            STRUCT_PATTERN_FIELD@104..108
              Ident@104..105 "y"
              Colon@105..106 ":"
              Whitespace@106..107 " "
              PATTERN_VARIABLE@107..108
                Ident@107..108 "y"
            RBrace@108..109 "}"
            Whitespace@109..110 " "
        Eq@110..111 "="
        Whitespace@111..112 " "
        EXPR_IDENT@112..113
          PATH@112..113
            Ident@112..113 "p"
        Semi@113..114 ";"
        Whitespace@114..117 "\n  "
      EXPR_BINARY@117..190
        EXPR_BINARY@117..183
          EXPR_BINARY@117..162
            EXPR_BINARY@117..152
              EXPR_STR@117..131
                Str@117..130 "\"Point { x: \""
                Whitespace@130..131 " "
              Plus@131..132 "+"
              Whitespace@132..133 " "
              EXPR_CALL@133..152
                EXPR_IDENT@133..148
                  PATH@133..148
                    Ident@133..148 "int32_to_string"
                ARG_LIST@148..152
                  LParen@148..149 "("
                  ARG@149..150
                    EXPR_IDENT@149..150
                      PATH@149..150
                        Ident@149..150 "x"
                  RParen@150..151 ")"
                  Whitespace@151..152 " "
            Plus@152..153 "+"
            Whitespace@153..154 " "
            EXPR_STR@154..162
              Str@154..161 "\", y: \""
              Whitespace@161..162 " "
          Plus@162..163 "+"
          Whitespace@163..164 " "
          EXPR_CALL@164..183
            EXPR_IDENT@164..179
              PATH@164..179
                Ident@164..179 "int32_to_string"
            ARG_LIST@179..183
              LParen@179..180 "("
              ARG@180..181
                EXPR_IDENT@180..181
                  PATH@180..181
                    Ident@180..181 "y"
              RParen@181..182 ")"
              Whitespace@182..183 " "
        Plus@183..184 "+"
        Whitespace@184..185 " "
        EXPR_STR@185..190
          Str@185..189 "\" }\""
          Whitespace@189..190 "\n"
      RBrace@190..191 "}"
      Whitespace@191..193 "\n\n"
  ENUM@193..233
    EnumKeyword@193..197 "enum"
    Whitespace@197..198 " "
    Ident@198..203 "Color"
    Whitespace@203..204 " "
    LBrace@204..205 "{"
    Whitespace@205..208 "\n  "
    VARIANT_LIST@208..233
      VARIANT@208..211
        Ident@208..211 "Red"
      Comma@211..212 ","
      Whitespace@212..215 "\n  "
      VARIANT@215..220
        Ident@215..220 "Green"
      Comma@220..221 ","
      Whitespace@221..224 "\n  "
      VARIANT@224..228
        Ident@224..228 "Blue"
      Comma@228..229 ","
      Whitespace@229..230 "\n"
      RBrace@230..231 "}"
      Whitespace@231..233 "\n\n"
  FN@233..353
    FnKeyword@233..235 "fn"
    Whitespace@235..236 " "
    Ident@236..251 "color_to_string"
    PARAM_LIST@251..262
      LParen@251..252 "("
      PARAM@252..260
        Ident@252..253 "c"
        Colon@253..254 ":"
        Whitespace@254..255 " "
        TYPE_TAPP@255..260
          PATH@255..260
            Ident@255..260 "Color"
      RParen@260..261 ")"
      Whitespace@261..262 " "
    Arrow@262..264 "->"
    Whitespace@264..265 " "
    TYPE_STRING@265..272
      StringKeyword@265..271 "string"
      Whitespace@271..272 " "
    BLOCK@272..353
      LBrace@272..273 "{"
      Whitespace@273..276 "\n  "
      EXPR_MATCH@276..350
        MatchKeyword@276..281 "match"
        Whitespace@281..282 " "
        EXPR_IDENT@282..284
          PATH@282..284
            Ident@282..283 "c"
            Whitespace@283..284 " "
        MATCH_ARM_LIST@284..350
          LBrace@284..285 "{"
          Whitespace@285..290 "\n    "
          MATCH_ARM@290..302
            PATTERN_VARIABLE@290..294
              Ident@290..293 "Red"
              Whitespace@293..294 " "
            FatArrow@294..296 "=>"
            Whitespace@296..297 " "
            EXPR_STR@297..302
              Str@297..302 "\"Red\""
          Comma@302..303 ","
          Whitespace@303..308 "\n    "
          MATCH_ARM@308..324
            PATTERN_VARIABLE@308..314
              Ident@308..313 "Green"
              Whitespace@313..314 " "
            FatArrow@314..316 "=>"
            Whitespace@316..317 " "
            EXPR_STR@317..324
              Str@317..324 "\"Green\""
          Comma@324..325 ","
          Whitespace@325..330 "\n    "
          MATCH_ARM@330..344
            PATTERN_VARIABLE@330..335
              Ident@330..334 "Blue"
              Whitespace@334..335 " "
            FatArrow@335..337 "=>"
            Whitespace@337..338 " "
            EXPR_STR@338..344
              Str@338..344 "\"Blue\""
          Comma@344..345 ","
          Whitespace@345..348 "\n  "
          RBrace@348..349 "}"
          Whitespace@349..350 "\n"
      RBrace@350..351 "}"
      Whitespace@351..353 "\n\n"
  STRUCT@353..414
    StructKeyword@353..359 "struct"
    Whitespace@359..360 " "
    Ident@360..364 "Line"
    Whitespace@364..365 " "
    LBrace@365..366 "{"
    Whitespace@366..369 "\n  "
    STRUCT_FIELD_LIST@369..414
      STRUCT_FIELD@369..380
        Ident@369..373 "from"
        Colon@373..374 ":"
        Whitespace@374..375 " "
        TYPE_TAPP@375..380
          PATH@375..380
            Ident@375..380 "Point"
      Comma@380..381 ","
      Whitespace@381..384 "\n  "
      STRUCT_FIELD@384..393
        Ident@384..386 "to"
        Colon@386..387 ":"
        Whitespace@387..388 " "
        TYPE_TAPP@388..393
          PATH@388..393
            Ident@388..393 "Point"
      Comma@393..394 ","
      Whitespace@394..397 "\n  "
      STRUCT_FIELD@397..409
        Ident@397..402 "color"
        Colon@402..403 ":"
        Whitespace@403..404 " "
        TYPE_TAPP@404..409
          PATH@404..409
            Ident@404..409 "Color"
      Comma@409..410 ","
      Whitespace@410..411 "\n"
      RBrace@411..412 "}"
      Whitespace@412..414 "\n\n"
  FN@414..658
    FnKeyword@414..416 "fn"
    Whitespace@416..417 " "
    Ident@417..431 "line_to_string"
    PARAM_LIST@431..441
      LParen@431..432 "("
      PARAM@432..439
        Ident@432..433 "l"
        Colon@433..434 ":"
        Whitespace@434..435 " "
        TYPE_TAPP@435..439
          PATH@435..439
            Ident@435..439 "Line"
      RParen@439..440 ")"
      Whitespace@440..441 " "
    Arrow@441..443 "->"
    Whitespace@443..444 " "
    TYPE_STRING@444..451
      StringKeyword@444..450 "string"
      Whitespace@450..451 " "
    BLOCK@451..658
      LBrace@451..452 "{"
      Whitespace@452..455 "\n  "
      STMT_LET@455..508
        LetKeyword@455..458 "let"
        Whitespace@458..459 " "
        PATTERN_CONSTR@459..501
          PATH@459..464
            Ident@459..463 "Line"
            Whitespace@463..464 " "
          STRUCT_PATTERN_FIELD_LIST@464..501
            LBrace@464..465 "{"
            Whitespace@465..466 " "
            STRUCT_PATTERN_FIELD@466..476
              Ident@466..470 "from"
              Colon@470..471 ":"
              Whitespace@471..472 " "
              PATTERN_VARIABLE@472..476
                Ident@472..476 "from"
            Comma@476..477 ","
            Whitespace@477..478 " "
            STRUCT_PATTERN_FIELD@478..484
              Ident@478..480 "to"
              Colon@480..481 ":"
              Whitespace@481..482 " "
              PATTERN_VARIABLE@482..484
                Ident@482..484 "to"
            Comma@484..485 ","
            Whitespace@485..486 " "
            STRUCT_PATTERN_FIELD@486..499
              Ident@486..491 "color"
              Colon@491..492 ":"
              Whitespace@492..493 " "
              PATTERN_VARIABLE@493..499
                Ident@493..498 "color"
                Whitespace@498..499 " "
            RBrace@499..500 "}"
            Whitespace@500..501 " "
        Eq@501..502 "="
        Whitespace@502..503 " "
        EXPR_IDENT@503..504
          PATH@503..504
            Ident@503..504 "l"
        Semi@504..505 ";"
        Whitespace@505..508 "\n  "
      EXPR_BINARY@508..655
        EXPR_BINARY@508..648
          EXPR_BINARY@508..619
            EXPR_BINARY@508..601
              EXPR_BINARY@508..573
                EXPR_BINARY@508..558
                  EXPR_STR@508..528
                    Str@508..523 "\"Line { from: \""
                    Whitespace@523..528 "\n    "
                  Plus@528..529 "+"
                  Whitespace@529..530 " "
                  EXPR_CALL@530..558
                    EXPR_IDENT@530..547
                      PATH@530..547
                        Ident@530..547 "point32_to_string"
                    ARG_LIST@547..558
                      LParen@547..548 "("
                      ARG@548..552
                        EXPR_IDENT@548..552
                          PATH@548..552
                            Ident@548..552 "from"
                      RParen@552..553 ")"
                      Whitespace@553..558 "\n    "
                Plus@558..559 "+"
                Whitespace@559..560 " "
                EXPR_STR@560..573
                  Str@560..568 "\", to: \""
                  Whitespace@568..573 "\n    "
              Plus@573..574 "+"
              Whitespace@574..575 " "
              EXPR_CALL@575..601
                EXPR_IDENT@575..592
                  PATH@575..592
                    Ident@575..592 "point32_to_string"
                ARG_LIST@592..601
                  LParen@592..593 "("
                  ARG@593..595
                    EXPR_IDENT@593..595
                      PATH@593..595
                        Ident@593..595 "to"
                  RParen@595..596 ")"
                  Whitespace@596..601 "\n    "
            Plus@601..602 "+"
            Whitespace@602..603 " "
            EXPR_STR@603..619
              Str@603..614 "\", color: \""
              Whitespace@614..619 "\n    "
          Plus@619..620 "+"
          Whitespace@620..621 " "
          EXPR_CALL@621..648
            EXPR_IDENT@621..636
              PATH@621..636
                Ident@621..636 "color_to_string"
            ARG_LIST@636..648
              LParen@636..637 "("
              ARG@637..642
                EXPR_IDENT@637..642
                  PATH@637..642
                    Ident@637..642 "color"
              RParen@642..643 ")"
              Whitespace@643..648 "\n    "
        Plus@648..649 "+"
        Whitespace@649..650 " "
        EXPR_STR@650..655
          Str@650..654 "\" }\""
          Whitespace@654..655 "\n"
      RBrace@655..656 "}"
      Whitespace@656..658 "\n\n"
  FN@658..999
    FnKeyword@658..660 "fn"
    Whitespace@660..661 " "
    Ident@661..671 "point_type"
    PARAM_LIST@671..682
      LParen@671..672 "("
      PARAM@672..680
        Ident@672..673 "p"
        Colon@673..674 ":"
        Whitespace@674..675 " "
        TYPE_TAPP@675..680
          PATH@675..680
            Ident@675..680 "Point"
      RParen@680..681 ")"
      Whitespace@681..682 " "
    Arrow@682..684 "->"
    Whitespace@684..685 " "
    TYPE_STRING@685..692
      StringKeyword@685..691 "string"
      Whitespace@691..692 " "
    BLOCK@692..999
      LBrace@692..693 "{"
      Whitespace@693..696 "\n  "
      EXPR_MATCH@696..996
        MatchKeyword@696..701 "match"
        Whitespace@701..702 " "
        EXPR_IDENT@702..704
          PATH@702..704
            Ident@702..703 "p"
            Whitespace@703..704 " "
        MATCH_ARM_LIST@704..996
          LBrace@704..705 "{"
          Whitespace@705..710 "\n    "
          MATCH_ARM@710..756
            PATTERN_CONSTR@710..731
              PATH@710..716
                Ident@710..715 "Point"
                Whitespace@715..716 " "
              STRUCT_PATTERN_FIELD_LIST@716..731
                LBrace@716..717 "{"
                Whitespace@717..718 " "
                STRUCT_PATTERN_FIELD@718..722
                  Ident@718..719 "x"
                  Colon@719..720 ":"
                  Whitespace@720..721 " "
                  PATTERN_INT@721..722
                    Int@721..722 "0"
                Comma@722..723 ","
                Whitespace@723..724 " "
                STRUCT_PATTERN_FIELD@724..729
                  Ident@724..725 "y"
                  Whitespace@725..726 " "
                  Colon@726..727 ":"
                  Whitespace@727..728 " "
                  PATTERN_INT@728..729
                    Int@728..729 "0"
                RBrace@729..730 "}"
                Whitespace@730..731 " "
            FatArrow@731..733 "=>"
            Whitespace@733..734 " "
            BLOCK@734..756
              LBrace@734..735 "{"
              Whitespace@735..742 "\n      "
              EXPR_STR@742..755
                Str@742..750 "\"origin\""
                Whitespace@750..755 "\n    "
              RBrace@755..756 "}"
          Comma@756..757 ","
          Whitespace@757..762 "\n    "
          MATCH_ARM@762..804
            PATTERN_CONSTR@762..783
              PATH@762..768
                Ident@762..767 "Point"
                Whitespace@767..768 " "
              STRUCT_PATTERN_FIELD_LIST@768..783
                LBrace@768..769 "{"
                Whitespace@769..770 " "
                STRUCT_PATTERN_FIELD@770..774
                  Ident@770..771 "x"
                  Colon@771..772 ":"
                  Whitespace@772..773 " "
                  PATTERN_INT@773..774
                    Int@773..774 "0"
                Comma@774..775 ","
                Whitespace@775..776 " "
                STRUCT_PATTERN_FIELD@776..781
                  Ident@776..777 "y"
                  Whitespace@777..778 " "
                  Colon@778..779 ":"
                  Whitespace@779..780 " "
                  PATTERN_INT@780..781
                    Int@780..781 "1"
                RBrace@781..782 "}"
                Whitespace@782..783 " "
            FatArrow@783..785 "=>"
            Whitespace@785..786 " "
            BLOCK@786..804
              LBrace@786..787 "{"
              Whitespace@787..794 "\n      "
              EXPR_STR@794..803
                Str@794..798 "\"up\""
                Whitespace@798..803 "\n    "
              RBrace@803..804 "}"
          Comma@804..805 ","
          Whitespace@805..810 "\n    "
          MATCH_ARM@810..855
            PATTERN_CONSTR@810..831
              PATH@810..816
                Ident@810..815 "Point"
                Whitespace@815..816 " "
              STRUCT_PATTERN_FIELD_LIST@816..831
                LBrace@816..817 "{"
                Whitespace@817..818 " "
                STRUCT_PATTERN_FIELD@818..822
                  Ident@818..819 "x"
                  Colon@819..820 ":"
                  Whitespace@820..821 " "
                  PATTERN_INT@821..822
                    Int@821..822 "1"
                Comma@822..823 ","
                Whitespace@823..824 " "
                STRUCT_PATTERN_FIELD@824..829
                  Ident@824..825 "y"
                  Whitespace@825..826 " "
                  Colon@826..827 ":"
                  Whitespace@827..828 " "
                  PATTERN_INT@828..829
                    Int@828..829 "0"
                RBrace@829..830 "}"
                Whitespace@830..831 " "
            FatArrow@831..833 "=>"
            Whitespace@833..834 " "
            BLOCK@834..855
              LBrace@834..835 "{"
              Whitespace@835..842 "\n      "
              EXPR_STR@842..854
                Str@842..849 "\"right\""
                Whitespace@849..854 "\n    "
              RBrace@854..855 "}"
          Comma@855..856 ","
          Whitespace@856..861 "\n    "
          MATCH_ARM@861..971
            PATTERN_CONSTR@861..882
              PATH@861..867
                Ident@861..866 "Point"
                Whitespace@866..867 " "
              STRUCT_PATTERN_FIELD_LIST@867..882
                LBrace@867..868 "{"
                Whitespace@868..869 " "
                STRUCT_PATTERN_FIELD@869..873
                  Ident@869..870 "x"
                  Colon@870..871 ":"
                  Whitespace@871..872 " "
                  PATTERN_INT@872..873
                    Int@872..873 "0"
                Comma@873..874 ","
                Whitespace@874..875 " "
                STRUCT_PATTERN_FIELD@875..880
                  Ident@875..876 "y"
                  Whitespace@876..877 " "
                  Colon@877..878 ":"
                  Whitespace@878..879 " "
                  PATTERN_VARIABLE@879..880
                    Ident@879..880 "y"
                RBrace@880..881 "}"
                Whitespace@881..882 " "
            FatArrow@882..884 "=>"
            Whitespace@884..885 " "
            BLOCK@885..971
              LBrace@885..886 "{"
              Whitespace@886..893 "\n      "
              EXPR_MATCH@893..970
                MatchKeyword@893..898 "match"
                Whitespace@898..899 " "
                EXPR_BINARY@899..905
                  EXPR_INT@899..901
                    Int@899..900 "0"
                    Whitespace@900..901 " "
                  Less@901..902 "<"
                  Whitespace@902..903 " "
                  EXPR_IDENT@903..905
                    PATH@903..905
                      Ident@903..904 "y"
                      Whitespace@904..905 " "
                MATCH_ARM_LIST@905..970
                  LBrace@905..906 "{"
                  Whitespace@906..915 "\n        "
                  MATCH_ARM@915..930
                    PATTERN_BOOL@915..920
                      TrueKeyword@915..919 "true"
                      Whitespace@919..920 " "
                    FatArrow@920..922 "=>"
                    Whitespace@922..923 " "
                    EXPR_STR@923..930
                      Str@923..930 "\"above\""
                  Comma@930..931 ","
                  Whitespace@931..940 "\n        "
                  MATCH_ARM@940..956
                    PATTERN_BOOL@940..946
                      FalseKeyword@940..945 "false"
                      Whitespace@945..946 " "
                    FatArrow@946..948 "=>"
                    Whitespace@948..949 " "
                    EXPR_STR@949..956
                      Str@949..956 "\"below\""
                  Comma@956..957 ","
                  Whitespace@957..964 "\n      "
                  RBrace@964..965 "}"
                  Whitespace@965..970 "\n    "
              RBrace@970..971 "}"
          Comma@971..972 ","
          Whitespace@972..977 "\n    "
          MATCH_ARM@977..994
            PATTERN_WILDCARD@977..979
              WildcardKeyword@977..978 "_"
              Whitespace@978..979 " "
            FatArrow@979..981 "=>"
            Whitespace@981..982 " "
            EXPR_STR@982..994
              Str@982..991 "\"unknown\""
              Whitespace@991..994 "\n  "
          RBrace@994..995 "}"
          Whitespace@995..996 "\n"
      RBrace@996..997 "}"
      Whitespace@997..999 "\n\n"
  FN@999..1214
    FnKeyword@999..1001 "fn"
    Whitespace@1001..1002 " "
    Ident@1002..1006 "main"
    PARAM_LIST@1006..1009
      LParen@1006..1007 "("
      RParen@1007..1008 ")"
      Whitespace@1008..1009 " "
    BLOCK@1009..1214
      LBrace@1009..1010 "{"
      Whitespace@1010..1013 "\n  "
      STMT_LET@1013..1046
        LetKeyword@1013..1016 "let"
        Whitespace@1016..1017 " "
        PATTERN_VARIABLE@1017..1020
          Ident@1017..1019 "p0"
          Whitespace@1019..1020 " "
        Eq@1020..1021 "="
        Whitespace@1021..1022 " "
        EXPR_STRUCT_LITERAL@1022..1042
          PATH@1022..1028
            Ident@1022..1027 "Point"
            Whitespace@1027..1028 " "
          STRUCT_LITERAL_FIELD_LIST@1028..1042
            LBrace@1028..1029 "{"
            Whitespace@1029..1030 " "
            STRUCT_LITERAL_FIELD@1030..1034
              Ident@1030..1031 "x"
              Colon@1031..1032 ":"
              Whitespace@1032..1033 " "
              EXPR_INT@1033..1034
                Int@1033..1034 "0"
            Comma@1034..1035 ","
            Whitespace@1035..1036 " "
            STRUCT_LITERAL_FIELD@1036..1041
              Ident@1036..1037 "y"
              Colon@1037..1038 ":"
              Whitespace@1038..1039 " "
              EXPR_INT@1039..1041
                Int@1039..1040 "0"
                Whitespace@1040..1041 " "
            RBrace@1041..1042 "}"
        Semi@1042..1043 ";"
        Whitespace@1043..1046 "\n  "
      STMT_LET@1046..1088
        LetKeyword@1046..1049 "let"
        Whitespace@1049..1050 " "
        PATTERN_WILDCARD@1050..1052
          WildcardKeyword@1050..1051 "_"
          Whitespace@1051..1052 " "
        Eq@1052..1053 "="
        Whitespace@1053..1054 " "
        EXPR_CALL@1054..1084
          EXPR_IDENT@1054..1068
            PATH@1054..1068
              Ident@1054..1068 "string_println"
          ARG_LIST@1068..1084
            LParen@1068..1069 "("
            ARG@1069..1083
              EXPR_CALL@1069..1083
                EXPR_IDENT@1069..1079
                  PATH@1069..1079
                    Ident@1069..1079 "point_type"
                ARG_LIST@1079..1083
                  LParen@1079..1080 "("
                  ARG@1080..1082
                    EXPR_IDENT@1080..1082
                      PATH@1080..1082
                        Ident@1080..1082 "p0"
                  RParen@1082..1083 ")"
            RParen@1083..1084 ")"
        Semi@1084..1085 ";"
        Whitespace@1085..1088 "\n  "
      STMT_LET@1088..1123
        LetKeyword@1088..1091 "let"
        Whitespace@1091..1092 " "
        PATTERN_VARIABLE@1092..1095
          Ident@1092..1094 "p1"
          Whitespace@1094..1095 " "
        Eq@1095..1096 "="
        Whitespace@1096..1097 " "
        EXPR_STRUCT_LITERAL@1097..1119
          PATH@1097..1103
            Ident@1097..1102 "Point"
            Whitespace@1102..1103 " "
          STRUCT_LITERAL_FIELD_LIST@1103..1119
            LBrace@1103..1104 "{"
            Whitespace@1104..1105 " "
            STRUCT_LITERAL_FIELD@1105..1110
              Ident@1105..1106 "x"
              Colon@1106..1107 ":"
              Whitespace@1107..1108 " "
              EXPR_INT@1108..1110
                Int@1108..1110 "10"
            Comma@1110..1111 ","
            Whitespace@1111..1112 " "
            STRUCT_LITERAL_FIELD@1112..1118
              Ident@1112..1113 "y"
              Colon@1113..1114 ":"
              Whitespace@1114..1115 " "
              EXPR_INT@1115..1118
                Int@1115..1117 "10"
                Whitespace@1117..1118 " "
            RBrace@1118..1119 "}"
        Semi@1119..1120 ";"
        Whitespace@1120..1123 "\n  "
      STMT_LET@1123..1175
        LetKeyword@1123..1126 "let"
        Whitespace@1126..1127 " "
        PATTERN_VARIABLE@1127..1132
          Ident@1127..1131 "line"
          Whitespace@1131..1132 " "
        Eq@1132..1133 "="
        Whitespace@1133..1134 " "
        EXPR_STRUCT_LITERAL@1134..1171
          PATH@1134..1139
            Ident@1134..1138 "Line"
            Whitespace@1138..1139 " "
          STRUCT_LITERAL_FIELD_LIST@1139..1171
            LBrace@1139..1140 "{"
            Whitespace@1140..1141 " "
            STRUCT_LITERAL_FIELD@1141..1149
              Ident@1141..1145 "from"
              Colon@1145..1146 ":"
              Whitespace@1146..1147 " "
              EXPR_IDENT@1147..1149
                PATH@1147..1149
                  Ident@1147..1149 "p0"
            Comma@1149..1150 ","
            Whitespace@1150..1151 " "
            STRUCT_LITERAL_FIELD@1151..1157
              Ident@1151..1153 "to"
              Colon@1153..1154 ":"
              Whitespace@1154..1155 " "
              EXPR_IDENT@1155..1157
                PATH@1155..1157
                  Ident@1155..1157 "p1"
            Comma@1157..1158 ","
            Whitespace@1158..1159 " "
            STRUCT_LITERAL_FIELD@1159..1170
              Ident@1159..1164 "color"
              Colon@1164..1165 ":"
              Whitespace@1165..1166 " "
              EXPR_IDENT@1166..1170
                PATH@1166..1170
                  Ident@1166..1169 "Red"
                  Whitespace@1169..1170 " "
            RBrace@1170..1171 "}"
        Semi@1171..1172 ";"
        Whitespace@1172..1175 "\n  "
      EXPR_CALL@1175..1212
        EXPR_IDENT@1175..1189
          PATH@1175..1189
            Ident@1175..1189 "string_println"
        ARG_LIST@1189..1212
          LParen@1189..1190 "("
          ARG@1190..1210
            EXPR_CALL@1190..1210
              EXPR_IDENT@1190..1204
                PATH@1190..1204
                  Ident@1190..1204 "line_to_string"
              ARG_LIST@1204..1210
                LParen@1204..1205 "("
                ARG@1205..1209
                  EXPR_IDENT@1205..1209
                    PATH@1205..1209
                      Ident@1205..1209 "line"
                RParen@1209..1210 ")"
          RParen@1210..1211 ")"
          Whitespace@1211..1212 "\n"
      RBrace@1212..1213 "}"
      Whitespace@1213..1214 "\n"