FILE@0..1194
  STRUCT@0..41
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..17 "\n  "
    STRUCT_FIELD_LIST@17..41
      STRUCT_FIELD@17..25
        Ident@17..18 "x"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..25
          Int32Keyword@20..25 "int32"
      Comma@25..26 ","
      Whitespace@26..29 "\n  "
      STRUCT_FIELD@29..38
        Ident@29..30 "y"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_INT32@32..38
          Int32Keyword@32..37 "int32"
          Whitespace@37..38 "\n"
      RBrace@38..39 "}"
      Whitespace@39..41 "\n\n"
  FN@41..187
    FnKeyword@41..43 "fn"
    Whitespace@43..44 " "
    Ident@44..61 "point32_to_string"
    PARAM_LIST@61..72
      LParen@61..62 "("
      PARAM@62..70
        Ident@62..63 "p"
        Colon@63..64 ":"
        Whitespace@64..65 " "
        TYPE_TAPP@65..70
          PATH@65..70
            Ident@65..70 "Point"
      RParen@70..71 ")"
      Whitespace@71..72 " "
    Arrow@72..74 "->"
    Whitespace@74..75 " "
    TYPE_STRING@75..82
      StringKeyword@75..81 "string"
      Whitespace@81..82 " "
    BLOCK@82..187
      LBrace@82..83 "{"
      Whitespace@83..86 "\n  "
      STMT_LET@86..117
        LetKeyword@86..89 "let"
        Whitespace@89..90 " "
        PATTERN_CONSTR@90..110
          PATH@90..96
            Ident@90..95 "Point"
            Whitespace@95..96 " "
          STRUCT_PATTERN_FIELD_LIST@96..110
            LBrace@96..97 "{"
            STRUCT_PATTERN_FIELD@97..102
              Ident@97..98 "x"
              Whitespace@98..99 " "
              Colon@99..100 ":"
              Whitespace@100..101 " "
              PATTERN_VARIABLE@101..102
                Ident@101..102 "x"
            Comma@102..103 ","
            Whitespace@103..104 " "
            STRUCT_PATTERN_FIELD@104..108
              Ident@104..105 "y"
              Colon@105..106 ":"
              Whitespace@106..107 " "
              PATTERN_VARIABLE@107..108
                Ident@107..108 "y"
            RBrace@108..109 "}"
            Whitespace@109..110 " "
        Eq@110..111 "="
        Whitespace@111..112 " "
        EXPR_IDENT@112..113
          PATH@112..113
            Ident@112..113 "p"
        Semi@113..114 ";"
        Whitespace@114..117 "\n  "
      EXPR_BINARY@117..184
        EXPR_BINARY@117..177
          EXPR_BINARY@117..159
            EXPR_BINARY@117..149
              EXPR_STR@117..131
                Str@117..130 "\"Point { x: \""
                Whitespace@130..131 " "
              Plus@131..132 "+"
              Whitespace@132..133 " "
              EXPR_CALL@133..149
                EXPR_BINARY@133..146
                  EXPR_PAREN@133..136
                    LParen@133..134 "("
                    EXPR_IDENT@134..135
                      PATH@134..135
                        Ident@134..135 "x"
                    RParen@135..136 ")"
                  Dot@136..137 "."
                  EXPR_IDENT@137..146
                    PATH@137..146
                      Ident@137..146 "to_string"
                ARG_LIST@146..149
                  LParen@146..147 "("
                  RParen@147..148 ")"
                  Whitespace@148..149 " "
            Plus@149..150 "+"
            Whitespace@150..151 " "
            EXPR_STR@151..159
              Str@151..158 "\", y: \""
              Whitespace@158..159 " "
          Plus@159..160 "+"
          Whitespace@160..161 " "
          EXPR_CALL@161..177
            EXPR_BINARY@161..174
              EXPR_PAREN@161..164
                LParen@161..162 "("
                EXPR_IDENT@162..163
                  PATH@162..163
                    Ident@162..163 "y"
                RParen@163..164 ")"
              Dot@164..165 "."
              EXPR_IDENT@165..174
                PATH@165..174
                  Ident@165..174 "to_string"
            ARG_LIST@174..177
              LParen@174..175 "("
              RParen@175..176 ")"
              Whitespace@176..177 " "
        Plus@177..178 "+"
        Whitespace@178..179 " "
        EXPR_STR@179..184
          Str@179..183 "\" }\""
          Whitespace@183..184 "\n"
      RBrace@184..185 "}"
      Whitespace@185..187 "\n\n"
  ENUM@187..227
    EnumKeyword@187..191 "enum"
    Whitespace@191..192 " "
    Ident@192..197 "Color"
    Whitespace@197..198 " "
    LBrace@198..199 "{"
    Whitespace@199..202 "\n  "
    VARIANT_LIST@202..227
      VARIANT@202..205
        Ident@202..205 "Red"
      Comma@205..206 ","
      Whitespace@206..209 "\n  "
      VARIANT@209..214
        Ident@209..214 "Green"
      Comma@214..215 ","
      Whitespace@215..218 "\n  "
      VARIANT@218..222
        Ident@218..222 "Blue"
      Comma@222..223 ","
      Whitespace@223..224 "\n"
      RBrace@224..225 "}"
      Whitespace@225..227 "\n\n"
  FN@227..347
    FnKeyword@227..229 "fn"
    Whitespace@229..230 " "
    Ident@230..245 "color_to_string"
    PARAM_LIST@245..256
      LParen@245..246 "("
      PARAM@246..254
        Ident@246..247 "c"
        Colon@247..248 ":"
        Whitespace@248..249 " "
        TYPE_TAPP@249..254
          PATH@249..254
            Ident@249..254 "Color"
      RParen@254..255 ")"
      Whitespace@255..256 " "
    Arrow@256..258 "->"
    Whitespace@258..259 " "
    TYPE_STRING@259..266
      StringKeyword@259..265 "string"
      Whitespace@265..266 " "
    BLOCK@266..347
      LBrace@266..267 "{"
      Whitespace@267..270 "\n  "
      EXPR_MATCH@270..344
        MatchKeyword@270..275 "match"
        Whitespace@275..276 " "
        EXPR_IDENT@276..278
          PATH@276..278
            Ident@276..277 "c"
            Whitespace@277..278 " "
        MATCH_ARM_LIST@278..344
          LBrace@278..279 "{"
          Whitespace@279..284 "\n    "
          MATCH_ARM@284..296
            PATTERN_VARIABLE@284..288
              Ident@284..287 "Red"
              Whitespace@287..288 " "
            FatArrow@288..290 "=>"
            Whitespace@290..291 " "
            EXPR_STR@291..296
              Str@291..296 "\"Red\""
          Comma@296..297 ","
          Whitespace@297..302 "\n    "
          MATCH_ARM@302..318
            PATTERN_VARIABLE@302..308
              Ident@302..307 "Green"
              Whitespace@307..308 " "
            FatArrow@308..310 "=>"
            Whitespace@310..311 " "
            EXPR_STR@311..318
              Str@311..318 "\"Green\""
          Comma@318..319 ","
          Whitespace@319..324 "\n    "
          MATCH_ARM@324..338
            PATTERN_VARIABLE@324..329
              Ident@324..328 "Blue"
              Whitespace@328..329 " "
            FatArrow@329..331 "=>"
            Whitespace@331..332 " "
            EXPR_STR@332..338
              Str@332..338 "\"Blue\""
          Comma@338..339 ","
          Whitespace@339..342 "\n  "
          RBrace@342..343 "}"
          Whitespace@343..344 "\n"
      RBrace@344..345 "}"
      Whitespace@345..347 "\n\n"
  STRUCT@347..408
    StructKeyword@347..353 "struct"
    Whitespace@353..354 " "
    Ident@354..358 "Line"
    Whitespace@358..359 " "
    LBrace@359..360 "{"
    Whitespace@360..363 "\n  "
    STRUCT_FIELD_LIST@363..408
      STRUCT_FIELD@363..374
        Ident@363..367 "from"
        Colon@367..368 ":"
        Whitespace@368..369 " "
        TYPE_TAPP@369..374
          PATH@369..374
            Ident@369..374 "Point"
      Comma@374..375 ","
      Whitespace@375..378 "\n  "
      STRUCT_FIELD@378..387
        Ident@378..380 "to"
        Colon@380..381 ":"
        Whitespace@381..382 " "
        TYPE_TAPP@382..387
          PATH@382..387
            Ident@382..387 "Point"
      Comma@387..388 ","
      Whitespace@388..391 "\n  "
      STRUCT_FIELD@391..403
        Ident@391..396 "color"
        Colon@396..397 ":"
        Whitespace@397..398 " "
        TYPE_TAPP@398..403
          PATH@398..403
            Ident@398..403 "Color"
      Comma@403..404 ","
      Whitespace@404..405 "\n"
      RBrace@405..406 "}"
      Whitespace@406..408 "\n\n"
  FN@408..652
    FnKeyword@408..410 "fn"
    Whitespace@410..411 " "
    Ident@411..425 "line_to_string"
    PARAM_LIST@425..435
      LParen@425..426 "("
      PARAM@426..433
        Ident@426..427 "l"
        Colon@427..428 ":"
        Whitespace@428..429 " "
        TYPE_TAPP@429..433
          PATH@429..433
            Ident@429..433 "Line"
      RParen@433..434 ")"
      Whitespace@434..435 " "
    Arrow@435..437 "->"
    Whitespace@437..438 " "
    TYPE_STRING@438..445
      StringKeyword@438..444 "string"
      Whitespace@444..445 " "
    BLOCK@445..652
      LBrace@445..446 "{"
      Whitespace@446..449 "\n  "
      STMT_LET@449..502
        LetKeyword@449..452 "let"
        Whitespace@452..453 " "
        PATTERN_CONSTR@453..495
          PATH@453..458
            Ident@453..457 "Line"
            Whitespace@457..458 " "
          STRUCT_PATTERN_FIELD_LIST@458..495
            LBrace@458..459 "{"
            Whitespace@459..460 " "
            STRUCT_PATTERN_FIELD@460..470
              Ident@460..464 "from"
              Colon@464..465 ":"
              Whitespace@465..466 " "
              PATTERN_VARIABLE@466..470
                Ident@466..470 "from"
            Comma@470..471 ","
            Whitespace@471..472 " "
            STRUCT_PATTERN_FIELD@472..478
              Ident@472..474 "to"
              Colon@474..475 ":"
              Whitespace@475..476 " "
              PATTERN_VARIABLE@476..478
                Ident@476..478 "to"
            Comma@478..479 ","
            Whitespace@479..480 " "
            STRUCT_PATTERN_FIELD@480..493
              Ident@480..485 "color"
              Colon@485..486 ":"
              Whitespace@486..487 " "
              PATTERN_VARIABLE@487..493
                Ident@487..492 "color"
                Whitespace@492..493 " "
            RBrace@493..494 "}"
            Whitespace@494..495 " "
        Eq@495..496 "="
        Whitespace@496..497 " "
        EXPR_IDENT@497..498
          PATH@497..498
            Ident@497..498 "l"
        Semi@498..499 ";"
        Whitespace@499..502 "\n  "
      EXPR_BINARY@502..649
        EXPR_BINARY@502..642
          EXPR_BINARY@502..613
            EXPR_BINARY@502..595
              EXPR_BINARY@502..567
                EXPR_BINARY@502..552
                  EXPR_STR@502..522
                    Str@502..517 "\"Line { from: \""
                    Whitespace@517..522 "\n    "
                  Plus@522..523 "+"
                  Whitespace@523..524 " "
                  EXPR_CALL@524..552
                    EXPR_IDENT@524..541
                      PATH@524..541
                        Ident@524..541 "point32_to_string"
                    ARG_LIST@541..552
                      LParen@541..542 "("
                      ARG@542..546
                        EXPR_IDENT@542..546
                          PATH@542..546
                            Ident@542..546 "from"
                      RParen@546..547 ")"
                      Whitespace@547..552 "\n    "
                Plus@552..553 "+"
                Whitespace@553..554 " "
                EXPR_STR@554..567
                  Str@554..562 "\", to: \""
                  Whitespace@562..567 "\n    "
              Plus@567..568 "+"
              Whitespace@568..569 " "
              EXPR_CALL@569..595
                EXPR_IDENT@569..586
                  PATH@569..586
                    Ident@569..586 "point32_to_string"
                ARG_LIST@586..595
                  LParen@586..587 "("
                  ARG@587..589
                    EXPR_IDENT@587..589
                      PATH@587..589
                        Ident@587..589 "to"
                  RParen@589..590 ")"
                  Whitespace@590..595 "\n    "
            Plus@595..596 "+"
            Whitespace@596..597 " "
            EXPR_STR@597..613
              Str@597..608 "\", color: \""
              Whitespace@608..613 "\n    "
          Plus@613..614 "+"
          Whitespace@614..615 " "
          EXPR_CALL@615..642
            EXPR_IDENT@615..630
              PATH@615..630
                Ident@615..630 "color_to_string"
            ARG_LIST@630..642
              LParen@630..631 "("
              ARG@631..636
                EXPR_IDENT@631..636
                  PATH@631..636
                    Ident@631..636 "color"
              RParen@636..637 ")"
              Whitespace@637..642 "\n    "
        Plus@642..643 "+"
        Whitespace@643..644 " "
        EXPR_STR@644..649
          Str@644..648 "\" }\""
          Whitespace@648..649 "\n"
      RBrace@649..650 "}"
      Whitespace@650..652 "\n\n"
  FN@652..993
    FnKeyword@652..654 "fn"
    Whitespace@654..655 " "
    Ident@655..665 "point_type"
    PARAM_LIST@665..676
      LParen@665..666 "("
      PARAM@666..674
        Ident@666..667 "p"
        Colon@667..668 ":"
        Whitespace@668..669 " "
        TYPE_TAPP@669..674
          PATH@669..674
            Ident@669..674 "Point"
      RParen@674..675 ")"
      Whitespace@675..676 " "
    Arrow@676..678 "->"
    Whitespace@678..679 " "
    TYPE_STRING@679..686
      StringKeyword@679..685 "string"
      Whitespace@685..686 " "
    BLOCK@686..993
      LBrace@686..687 "{"
      Whitespace@687..690 "\n  "
      EXPR_MATCH@690..990
        MatchKeyword@690..695 "match"
        Whitespace@695..696 " "
        EXPR_IDENT@696..698
          PATH@696..698
            Ident@696..697 "p"
            Whitespace@697..698 " "
        MATCH_ARM_LIST@698..990
          LBrace@698..699 "{"
          Whitespace@699..704 "\n    "
          MATCH_ARM@704..750
            PATTERN_CONSTR@704..725
              PATH@704..710
                Ident@704..709 "Point"
                Whitespace@709..710 " "
              STRUCT_PATTERN_FIELD_LIST@710..725
                LBrace@710..711 "{"
                Whitespace@711..712 " "
                STRUCT_PATTERN_FIELD@712..716
                  Ident@712..713 "x"
                  Colon@713..714 ":"
                  Whitespace@714..715 " "
                  PATTERN_INT@715..716
                    Int@715..716 "0"
                Comma@716..717 ","
                Whitespace@717..718 " "
                STRUCT_PATTERN_FIELD@718..723
                  Ident@718..719 "y"
                  Whitespace@719..720 " "
                  Colon@720..721 ":"
                  Whitespace@721..722 " "
                  PATTERN_INT@722..723
                    Int@722..723 "0"
                RBrace@723..724 "}"
                Whitespace@724..725 " "
            FatArrow@725..727 "=>"
            Whitespace@727..728 " "
            BLOCK@728..750
              LBrace@728..729 "{"
              Whitespace@729..736 "\n      "
              EXPR_STR@736..749
                Str@736..744 "\"origin\""
                Whitespace@744..749 "\n    "
              RBrace@749..750 "}"
          Comma@750..751 ","
          Whitespace@751..756 "\n    "
          MATCH_ARM@756..798
            PATTERN_CONSTR@756..777
              PATH@756..762
                Ident@756..761 "Point"
                Whitespace@761..762 " "
              STRUCT_PATTERN_FIELD_LIST@762..777
                LBrace@762..763 "{"
                Whitespace@763..764 " "
                STRUCT_PATTERN_FIELD@764..768
                  Ident@764..765 "x"
                  Colon@765..766 ":"
                  Whitespace@766..767 " "
                  PATTERN_INT@767..768
                    Int@767..768 "0"
                Comma@768..769 ","
                Whitespace@769..770 " "
                STRUCT_PATTERN_FIELD@770..775
                  Ident@770..771 "y"
                  Whitespace@771..772 " "
                  Colon@772..773 ":"
                  Whitespace@773..774 " "
                  PATTERN_INT@774..775
                    Int@774..775 "1"
                RBrace@775..776 "}"
                Whitespace@776..777 " "
            FatArrow@777..779 "=>"
            Whitespace@779..780 " "
            BLOCK@780..798
              LBrace@780..781 "{"
              Whitespace@781..788 "\n      "
              EXPR_STR@788..797
                Str@788..792 "\"up\""
                Whitespace@792..797 "\n    "
              RBrace@797..798 "}"
          Comma@798..799 ","
          Whitespace@799..804 "\n    "
          MATCH_ARM@804..849
            PATTERN_CONSTR@804..825
              PATH@804..810
                Ident@804..809 "Point"
                Whitespace@809..810 " "
              STRUCT_PATTERN_FIELD_LIST@810..825
                LBrace@810..811 "{"
                Whitespace@811..812 " "
                STRUCT_PATTERN_FIELD@812..816
                  Ident@812..813 "x"
                  Colon@813..814 ":"
                  Whitespace@814..815 " "
                  PATTERN_INT@815..816
                    Int@815..816 "1"
                Comma@816..817 ","
                Whitespace@817..818 " "
                STRUCT_PATTERN_FIELD@818..823
                  Ident@818..819 "y"
                  Whitespace@819..820 " "
                  Colon@820..821 ":"
                  Whitespace@821..822 " "
                  PATTERN_INT@822..823
                    Int@822..823 "0"
                RBrace@823..824 "}"
                Whitespace@824..825 " "
            FatArrow@825..827 "=>"
            Whitespace@827..828 " "
            BLOCK@828..849
              LBrace@828..829 "{"
              Whitespace@829..836 "\n      "
              EXPR_STR@836..848
                Str@836..843 "\"right\""
                Whitespace@843..848 "\n    "
              RBrace@848..849 "}"
          Comma@849..850 ","
          Whitespace@850..855 "\n    "
          MATCH_ARM@855..965
            PATTERN_CONSTR@855..876
              PATH@855..861
                Ident@855..860 "Point"
                Whitespace@860..861 " "
              STRUCT_PATTERN_FIELD_LIST@861..876
                LBrace@861..862 "{"
                Whitespace@862..863 " "
                STRUCT_PATTERN_FIELD@863..867
                  Ident@863..864 "x"
                  Colon@864..865 ":"
                  Whitespace@865..866 " "
                  PATTERN_INT@866..867
                    Int@866..867 "0"
                Comma@867..868 ","
                Whitespace@868..869 " "
                STRUCT_PATTERN_FIELD@869..874
                  Ident@869..870 "y"
                  Whitespace@870..871 " "
                  Colon@871..872 ":"
                  Whitespace@872..873 " "
                  PATTERN_VARIABLE@873..874
                    Ident@873..874 "y"
                RBrace@874..875 "}"
                Whitespace@875..876 " "
            FatArrow@876..878 "=>"
            Whitespace@878..879 " "
            BLOCK@879..965
              LBrace@879..880 "{"
              Whitespace@880..887 "\n      "
              EXPR_MATCH@887..964
                MatchKeyword@887..892 "match"
                Whitespace@892..893 " "
                EXPR_BINARY@893..899
                  EXPR_INT@893..895
                    Int@893..894 "0"
                    Whitespace@894..895 " "
                  Less@895..896 "<"
                  Whitespace@896..897 " "
                  EXPR_IDENT@897..899
                    PATH@897..899
                      Ident@897..898 "y"
                      Whitespace@898..899 " "
                MATCH_ARM_LIST@899..964
                  LBrace@899..900 "{"
                  Whitespace@900..909 "\n        "
                  MATCH_ARM@909..924
                    PATTERN_BOOL@909..914
                      TrueKeyword@909..913 "true"
                      Whitespace@913..914 " "
                    FatArrow@914..916 "=>"
                    Whitespace@916..917 " "
                    EXPR_STR@917..924
                      Str@917..924 "\"above\""
                  Comma@924..925 ","
                  Whitespace@925..934 "\n        "
                  MATCH_ARM@934..950
                    PATTERN_BOOL@934..940
                      FalseKeyword@934..939 "false"
                      Whitespace@939..940 " "
                    FatArrow@940..942 "=>"
                    Whitespace@942..943 " "
                    EXPR_STR@943..950
                      Str@943..950 "\"below\""
                  Comma@950..951 ","
                  Whitespace@951..958 "\n      "
                  RBrace@958..959 "}"
                  Whitespace@959..964 "\n    "
              RBrace@964..965 "}"
          Comma@965..966 ","
          Whitespace@966..971 "\n    "
          MATCH_ARM@971..988
            PATTERN_WILDCARD@971..973
              WildcardKeyword@971..972 "_"
              Whitespace@972..973 " "
            FatArrow@973..975 "=>"
            Whitespace@975..976 " "
            EXPR_STR@976..988
              Str@976..985 "\"unknown\""
              Whitespace@985..988 "\n  "
          RBrace@988..989 "}"
          Whitespace@989..990 "\n"
      RBrace@990..991 "}"
      Whitespace@991..993 "\n\n"
  FN@993..1194
    FnKeyword@993..995 "fn"
    Whitespace@995..996 " "
    Ident@996..1000 "main"
    PARAM_LIST@1000..1003
      LParen@1000..1001 "("
      RParen@1001..1002 ")"
      Whitespace@1002..1003 " "
    BLOCK@1003..1194
      LBrace@1003..1004 "{"
      Whitespace@1004..1007 "\n  "
      STMT_LET@1007..1040
        LetKeyword@1007..1010 "let"
        Whitespace@1010..1011 " "
        PATTERN_VARIABLE@1011..1014
          Ident@1011..1013 "p0"
          Whitespace@1013..1014 " "
        Eq@1014..1015 "="
        Whitespace@1015..1016 " "
        EXPR_STRUCT_LITERAL@1016..1036
          PATH@1016..1022
            Ident@1016..1021 "Point"
            Whitespace@1021..1022 " "
          STRUCT_LITERAL_FIELD_LIST@1022..1036
            LBrace@1022..1023 "{"
            Whitespace@1023..1024 " "
            STRUCT_LITERAL_FIELD@1024..1028
              Ident@1024..1025 "x"
              Colon@1025..1026 ":"
              Whitespace@1026..1027 " "
              EXPR_INT@1027..1028
                Int@1027..1028 "0"
            Comma@1028..1029 ","
            Whitespace@1029..1030 " "
            STRUCT_LITERAL_FIELD@1030..1035
              Ident@1030..1031 "y"
              Colon@1031..1032 ":"
              Whitespace@1032..1033 " "
              EXPR_INT@1033..1035
                Int@1033..1034 "0"
                Whitespace@1034..1035 " "
            RBrace@1035..1036 "}"
        Semi@1036..1037 ";"
        Whitespace@1037..1040 "\n  "
      STMT_LET@1040..1075
        LetKeyword@1040..1043 "let"
        Whitespace@1043..1044 " "
        PATTERN_WILDCARD@1044..1046
          WildcardKeyword@1044..1045 "_"
          Whitespace@1045..1046 " "
        Eq@1046..1047 "="
        Whitespace@1047..1048 " "
        EXPR_CALL@1048..1071
          EXPR_IDENT@1048..1055
            PATH@1048..1055
              Ident@1048..1055 "println"
          ARG_LIST@1055..1071
            LParen@1055..1056 "("
            ARG@1056..1070
              EXPR_CALL@1056..1070
                EXPR_IDENT@1056..1066
                  PATH@1056..1066
                    Ident@1056..1066 "point_type"
                ARG_LIST@1066..1070
                  LParen@1066..1067 "("
                  ARG@1067..1069
                    EXPR_IDENT@1067..1069
                      PATH@1067..1069
                        Ident@1067..1069 "p0"
                  RParen@1069..1070 ")"
            RParen@1070..1071 ")"
        Semi@1071..1072 ";"
        Whitespace@1072..1075 "\n  "
      STMT_LET@1075..1110
        LetKeyword@1075..1078 "let"
        Whitespace@1078..1079 " "
        PATTERN_VARIABLE@1079..1082
          Ident@1079..1081 "p1"
          Whitespace@1081..1082 " "
        Eq@1082..1083 "="
        Whitespace@1083..1084 " "
        EXPR_STRUCT_LITERAL@1084..1106
          PATH@1084..1090
            Ident@1084..1089 "Point"
            Whitespace@1089..1090 " "
          STRUCT_LITERAL_FIELD_LIST@1090..1106
            LBrace@1090..1091 "{"
            Whitespace@1091..1092 " "
            STRUCT_LITERAL_FIELD@1092..1097
              Ident@1092..1093 "x"
              Colon@1093..1094 ":"
              Whitespace@1094..1095 " "
              EXPR_INT@1095..1097
                Int@1095..1097 "10"
            Comma@1097..1098 ","
            Whitespace@1098..1099 " "
            STRUCT_LITERAL_FIELD@1099..1105
              Ident@1099..1100 "y"
              Colon@1100..1101 ":"
              Whitespace@1101..1102 " "
              EXPR_INT@1102..1105
                Int@1102..1104 "10"
                Whitespace@1104..1105 " "
            RBrace@1105..1106 "}"
        Semi@1106..1107 ";"
        Whitespace@1107..1110 "\n  "
      STMT_LET@1110..1162
        LetKeyword@1110..1113 "let"
        Whitespace@1113..1114 " "
        PATTERN_VARIABLE@1114..1119
          Ident@1114..1118 "line"
          Whitespace@1118..1119 " "
        Eq@1119..1120 "="
        Whitespace@1120..1121 " "
        EXPR_STRUCT_LITERAL@1121..1158
          PATH@1121..1126
            Ident@1121..1125 "Line"
            Whitespace@1125..1126 " "
          STRUCT_LITERAL_FIELD_LIST@1126..1158
            LBrace@1126..1127 "{"
            Whitespace@1127..1128 " "
            STRUCT_LITERAL_FIELD@1128..1136
              Ident@1128..1132 "from"
              Colon@1132..1133 ":"
              Whitespace@1133..1134 " "
              EXPR_IDENT@1134..1136
                PATH@1134..1136
                  Ident@1134..1136 "p0"
            Comma@1136..1137 ","
            Whitespace@1137..1138 " "
            STRUCT_LITERAL_FIELD@1138..1144
              Ident@1138..1140 "to"
              Colon@1140..1141 ":"
              Whitespace@1141..1142 " "
              EXPR_IDENT@1142..1144
                PATH@1142..1144
                  Ident@1142..1144 "p1"
            Comma@1144..1145 ","
            Whitespace@1145..1146 " "
            STRUCT_LITERAL_FIELD@1146..1157
              Ident@1146..1151 "color"
              Colon@1151..1152 ":"
              Whitespace@1152..1153 " "
              EXPR_IDENT@1153..1157
                PATH@1153..1157
                  Ident@1153..1156 "Red"
                  Whitespace@1156..1157 " "
            RBrace@1157..1158 "}"
        Semi@1158..1159 ";"
        Whitespace@1159..1162 "\n  "
      EXPR_CALL@1162..1192
        EXPR_IDENT@1162..1169
          PATH@1162..1169
            Ident@1162..1169 "println"
        ARG_LIST@1169..1192
          LParen@1169..1170 "("
          ARG@1170..1190
            EXPR_CALL@1170..1190
              EXPR_IDENT@1170..1184
                PATH@1170..1184
                  Ident@1170..1184 "line_to_string"
              ARG_LIST@1184..1190
                LParen@1184..1185 "("
                ARG@1185..1189
                  EXPR_IDENT@1185..1189
                    PATH@1185..1189
                      Ident@1185..1189 "line"
                RParen@1189..1190 ")"
          RParen@1190..1191 ")"
          Whitespace@1191..1192 "\n"
      RBrace@1192..1193 "}"
      Whitespace@1193..1194 "\n"