FILE@0..529
  ENUM@0..39
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Light"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    VARIANT_LIST@20..39
      VARIANT@20..23
        Ident@20..23 "Red"
      Comma@23..24 ","
      Whitespace@24..29 "\n    "
      VARIANT@29..34
        Ident@29..34 "Green"
      Comma@34..35 ","
      Whitespace@35..36 "\n"
      RBrace@36..37 "}"
      Whitespace@37..39 "\n\n"
  FN@39..172
    FnKeyword@39..41 "fn"
    Whitespace@41..42 " "
    Ident@42..46 "flip"
    GENERIC_LIST@46..49
      LBracket@46..47 "["
      GENERIC@47..48
        Ident@47..48 "T"
      RBracket@48..49 "]"
    PARAM_LIST@49..63
      LParen@49..50 "("
      PARAM@50..61
        Ident@50..51 "x"
        Colon@51..52 ":"
        Whitespace@52..53 " "
        TYPE_TAPP@53..61
          PATH@53..58
            Ident@53..58 "Light"
          TYPE_PARAM_LIST@58..61
            LBracket@58..59 "["
            TYPE_TAPP@59..60
              PATH@59..60
                Ident@59..60 "T"
            RBracket@60..61 "]"
      RParen@61..62 ")"
      Whitespace@62..63 " "
    Arrow@63..65 "->"
    Whitespace@65..66 " "
    TYPE_TAPP@66..75
      PATH@66..71
        Ident@66..71 "Light"
      TYPE_PARAM_LIST@71..75
        LBracket@71..72 "["
        TYPE_TAPP@72..73
          PATH@72..73
            Ident@72..73 "T"
        RBracket@73..74 "]"
        Whitespace@74..75 " "
    BLOCK@75..172
      LBrace@75..76 "{"
      Whitespace@76..81 "\n    "
      EXPR_MATCH@81..169
        MatchKeyword@81..86 "match"
        Whitespace@86..87 " "
        EXPR_IDENT@87..89
          PATH@87..89
            Ident@87..88 "x"
            Whitespace@88..89 " "
        MATCH_ARM_LIST@89..169
          LBrace@89..90 "{"
          Whitespace@90..99 "\n        "
          MATCH_ARM@99..125
            PATTERN_CONSTR@99..110
              PATH@99..110
                Ident@99..104 "Light"
                ColonColon@104..106 "::"
                Ident@106..109 "Red"
                Whitespace@109..110 " "
            FatArrow@110..112 "=>"
            Whitespace@112..113 " "
            EXPR_IDENT@113..125
              PATH@113..125
                Ident@113..118 "Light"
                ColonColon@118..120 "::"
                Ident@120..125 "Green"
          Comma@125..126 ","
          Whitespace@126..135 "\n        "
          MATCH_ARM@135..161
            PATTERN_CONSTR@135..148
              PATH@135..148
                Ident@135..140 "Light"
                ColonColon@140..142 "::"
                Ident@142..147 "Green"
                Whitespace@147..148 " "
            FatArrow@148..150 "=>"
            Whitespace@150..151 " "
            EXPR_IDENT@151..161
              PATH@151..161
                Ident@151..156 "Light"
                ColonColon@156..158 "::"
                Ident@158..161 "Red"
          Comma@161..162 ","
          Whitespace@162..167 "\n    "
          RBrace@167..168 "}"
          Whitespace@168..169 "\n"
      RBrace@169..170 "}"
      Whitespace@170..172 "\n\n"
  FN@172..294
    FnKeyword@172..174 "fn"
    Whitespace@174..175 " "
    Ident@175..183 "show_int"
    PARAM_LIST@183..201
      LParen@183..184 "("
      PARAM@184..199
        Ident@184..185 "x"
        Colon@185..186 ":"
        Whitespace@186..187 " "
        TYPE_TAPP@187..199
          PATH@187..192
            Ident@187..192 "Light"
          TYPE_PARAM_LIST@192..199
            LBracket@192..193 "["
            TYPE_INT32@193..198
              Int32Keyword@193..198 "int32"
            RBracket@198..199 "]"
      RParen@199..200 ")"
      Whitespace@200..201 " "
    Arrow@201..203 "->"
    Whitespace@203..204 " "
    TYPE_STRING@204..211
      StringKeyword@204..210 "string"
      Whitespace@210..211 " "
    BLOCK@211..294
      LBrace@211..212 "{"
      Whitespace@212..217 "\n    "
      EXPR_MATCH@217..291
        MatchKeyword@217..222 "match"
        Whitespace@222..223 " "
        EXPR_IDENT@223..225
          PATH@223..225
            Ident@223..224 "x"
            Whitespace@224..225 " "
        MATCH_ARM_LIST@225..291
          LBrace@225..226 "{"
          Whitespace@226..235 "\n        "
          MATCH_ARM@235..253
            PATTERN_CONSTR@235..246
              PATH@235..246
                Ident@235..240 "Light"
                ColonColon@240..242 "::"
                Ident@242..245 "Red"
                Whitespace@245..246 " "
            FatArrow@246..248 "=>"
            Whitespace@248..249 " "
            EXPR_STR@249..253
              Str@249..253 "\"ri\""
          Comma@253..254 ","
          Whitespace@254..263 "\n        "
          MATCH_ARM@263..283
            PATTERN_CONSTR@263..276
              PATH@263..276
                Ident@263..268 "Light"
                ColonColon@268..270 "::"
                Ident@270..275 "Green"
                Whitespace@275..276 " "
            FatArrow@276..278 "=>"
            Whitespace@278..279 " "
            EXPR_STR@279..283
              Str@279..283 "\"gi\""
          Comma@283..284 ","
          Whitespace@284..289 "\n    "
          RBrace@289..290 "}"
          Whitespace@290..291 "\n"
      RBrace@291..292 "}"
      Whitespace@292..294 "\n\n"
  FN@294..420
    FnKeyword@294..296 "fn"
    Whitespace@296..297 " "
    Ident@297..308 "show_string"
    PARAM_LIST@308..327
      LParen@308..309 "("
      PARAM@309..325
        Ident@309..310 "x"
        Colon@310..311 ":"
        Whitespace@311..312 " "
        TYPE_TAPP@312..325
          PATH@312..317
            Ident@312..317 "Light"
          TYPE_PARAM_LIST@317..325
            LBracket@317..318 "["
            TYPE_STRING@318..324
              StringKeyword@318..324 "string"
            RBracket@324..325 "]"
      RParen@325..326 ")"
      Whitespace@326..327 " "
    Arrow@327..329 "->"
    Whitespace@329..330 " "
    TYPE_STRING@330..337
      StringKeyword@330..336 "string"
      Whitespace@336..337 " "
    BLOCK@337..420
      LBrace@337..338 "{"
      Whitespace@338..343 "\n    "
      EXPR_MATCH@343..417
        MatchKeyword@343..348 "match"
        Whitespace@348..349 " "
        EXPR_IDENT@349..351
          PATH@349..351
            Ident@349..350 "x"
            Whitespace@350..351 " "
        MATCH_ARM_LIST@351..417
          LBrace@351..352 "{"
          Whitespace@352..361 "\n        "
          MATCH_ARM@361..379
            PATTERN_CONSTR@361..372
              PATH@361..372
                Ident@361..366 "Light"
                ColonColon@366..368 "::"
                Ident@368..371 "Red"
                Whitespace@371..372 " "
            FatArrow@372..374 "=>"
            Whitespace@374..375 " "
            EXPR_STR@375..379
              Str@375..379 "\"rs\""
          Comma@379..380 ","
          Whitespace@380..389 "\n        "
          MATCH_ARM@389..409
            PATTERN_CONSTR@389..402
              PATH@389..402
                Ident@389..394 "Light"
                ColonColon@394..396 "::"
                Ident@396..401 "Green"
                Whitespace@401..402 " "
            FatArrow@402..404 "=>"
            Whitespace@404..405 " "
            EXPR_STR@405..409
              Str@405..409 "\"gs\""
          Comma@409..410 ","
          Whitespace@410..415 "\n    "
          RBrace@415..416 "}"
          Whitespace@416..417 "\n"
      RBrace@417..418 "}"
      Whitespace@418..420 "\n\n"
  FN@420..529
    FnKeyword@420..422 "fn"
    Whitespace@422..423 " "
    Ident@423..427 "main"
    PARAM_LIST@427..430
      LParen@427..428 "("
      RParen@428..429 ")"
      Whitespace@429..430 " "
    Arrow@430..432 "->"
    Whitespace@432..433 " "
    TYPE_UNIT@433..438
      UnitKeyword@433..437 "unit"
      Whitespace@437..438 " "
    BLOCK@438..529
      LBrace@438..439 "{"
      Whitespace@439..444 "\n    "
      STMT_EXPR@444..485
        EXPR_CALL@444..479
          EXPR_IDENT@444..451
            PATH@444..451
              Ident@444..451 "println"
          ARG_LIST@451..479
            LParen@451..452 "("
            ARG@452..478
              EXPR_CALL@452..478
                EXPR_IDENT@452..460
                  PATH@452..460
                    Ident@452..460 "show_int"
                ARG_LIST@460..478
                  LParen@460..461 "("
                  ARG@461..477
                    EXPR_CALL@461..477
                      EXPR_IDENT@461..465
                        PATH@461..465
                          Ident@461..465 "flip"
                      ARG_LIST@465..477
                        LParen@465..466 "("
                        ARG@466..476
                          EXPR_IDENT@466..476
                            PATH@466..476
                              Ident@466..471 "Light"
                              ColonColon@471..473 "::"
                              Ident@473..476 "Red"
                        RParen@476..477 ")"
                  RParen@477..478 ")"
            RParen@478..479 ")"
        Semi@479..480 ";"
        Whitespace@480..485 "\n    "
      STMT_EXPR@485..527
        EXPR_CALL@485..525
          EXPR_IDENT@485..492
            PATH@485..492
              Ident@485..492 "println"
          ARG_LIST@492..525
            LParen@492..493 "("
            ARG@493..524
              EXPR_CALL@493..524
                EXPR_IDENT@493..504
                  PATH@493..504
                    Ident@493..504 "show_string"
                ARG_LIST@504..524
                  LParen@504..505 "("
                  ARG@505..523
                    EXPR_CALL@505..523
                      EXPR_IDENT@505..509
                        PATH@505..509
                          Ident@505..509 "flip"
                      ARG_LIST@509..523
                        LParen@509..510 "("
                        ARG@510..522
                          EXPR_IDENT@510..522
                            PATH@510..522
                              Ident@510..515 "Light"
                              ColonColon@515..517 "::"
                              Ident@517..522 "Green"
                        RParen@522..523 ")"
                  RParen@523..524 ")"
            RParen@524..525 ")"
        Semi@525..526 ";"
        Whitespace@526..527 "\n"
      RBrace@527..528 "}"
      Whitespace@528..529 "\n"