FILE@0..117
  FN@0..117
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..117
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..38
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..21
          Ident@20..21 "a"
        Colon@21..22 ":"
        Whitespace@22..23 " "
        TYPE_INT8@23..26
          I8Keyword@23..25 "i8"
          Whitespace@25..26 " "
        Eq@26..27 "="
        Whitespace@27..28 " "
        EXPR_PREFIX@28..32
          Minus@28..29 "-"
          EXPR_INT@29..32
            Int@29..32 "128"
        Semi@32..33 ";"
        Whitespace@33..38 "\n    "
      STMT_EXPR@38..66
        EXPR_CALL@38..60
          EXPR_IDENT@38..45
            PATH@38..45
              Ident@38..45 "println"
          ARG_LIST@45..60
            LParen@45..46 "("
            ARG@46..59
              EXPR_CALL@46..59
                EXPR_BINARY@46..57
                  EXPR_IDENT@46..47
                    PATH@46..47
                      Ident@46..47 "a"
                  Dot@47..48 "."
                  EXPR_IDENT@48..57
                    PATH@48..57
                      Ident@48..57 "to_string"
                ARG_LIST@57..59
                  LParen@57..58 "("
                  RParen@58..59 ")"
            RParen@59..60 ")"
        Semi@60..61 ";"
        Whitespace@61..66 "\n    "
      STMT_LET@66..91
        LetKeyword@66..69 "let"
        Whitespace@69..70 " "
        PATTERN_VARIABLE@70..71
          Ident@70..71 "b"
        Colon@71..72 ":"
        Whitespace@72..73 " "
        TYPE_INT16@73..77
          I16Keyword@73..76 "i16"
          Whitespace@76..77 " "
        Eq@77..78 "="
        Whitespace@78..79 " "
        EXPR_PREFIX@79..85
          Minus@79..80 "-"
          EXPR_INT@80..85
            Int@80..85 "32768"
        Semi@85..86 ";"
        Whitespace@86..91 "\n    "
      STMT_EXPR@91..115
        EXPR_CALL@91..113
          EXPR_IDENT@91..98
            PATH@91..98
              Ident@91..98 "println"
          ARG_LIST@98..113
            LParen@98..99 "("
            ARG@99..112
              EXPR_CALL@99..112
                EXPR_BINARY@99..110
                  EXPR_IDENT@99..100
                    PATH@99..100
                      Ident@99..100 "b"
                  Dot@100..101 "."
                  EXPR_IDENT@101..110
                    PATH@101..110
                      Ident@101..110 "to_string"
                ARG_LIST@110..112
                  LParen@110..111 "("
                  RParen@111..112 ")"
            RParen@112..113 ")"
        Semi@113..114 ";"
        Whitespace@114..115 "\n"
      RBrace@115..116 "}"
      Whitespace@116..117 "\n"