FILE@0..132
  FN@0..132
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..132
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..44
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "a"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..38
          EXPR_IDENT@32..35
            PATH@32..35
              Ident@32..35 "ref"
          ARG_LIST@35..38
            LParen@35..36 "("
            ARG@36..37
              EXPR_INT@36..37
                Int@36..37 "1"
            RParen@37..38 ")"
        Semi@38..39 ";"
        Whitespace@39..44 "\n    "
      STMT_LET@44..59
        LetKeyword@44..47 "let"
        Whitespace@47..48 " "
        PATTERN_VARIABLE@48..50
          Ident@48..49 "b"
          Whitespace@49..50 " "
        Eq@50..51 "="
        Whitespace@51..52 " "
        EXPR_IDENT@52..53
          PATH@52..53
            Ident@52..53 "a"
        Semi@53..54 ";"
        Whitespace@54..59 "\n    "
      STMT_LET@59..80
        LetKeyword@59..62 "let"
        Whitespace@62..63 " "
        PATTERN_VARIABLE@63..65
          Ident@63..64 "c"
          Whitespace@64..65 " "
        Eq@65..66 "="
        Whitespace@66..67 " "
        EXPR_CALL@67..73
          EXPR_IDENT@67..70
            PATH@67..70
              Ident@67..70 "ref"
          ARG_LIST@70..73
            LParen@70..71 "("
            ARG@71..72
              EXPR_INT@71..72
                Int@71..72 "1"
            RParen@72..73 ")"
        Semi@73..74 ";"
        Whitespace@74..80 "\n\n    "
      STMT_EXPR@80..107
        EXPR_CALL@80..101
          EXPR_IDENT@80..87
            PATH@80..87
              Ident@80..87 "println"
          ARG_LIST@87..101
            LParen@87..88 "("
            ARG@88..100
              EXPR_CALL@88..100
                EXPR_IDENT@88..94
                  PATH@88..94
                    Ident@88..94 "ptr_eq"
                ARG_LIST@94..100
                  LParen@94..95 "("
                  ARG@95..98
                    EXPR_IDENT@95..96
                      PATH@95..96
                        Ident@95..96 "a"
                    Comma@96..97 ","
                    Whitespace@97..98 " "
                  ARG@98..99
                    EXPR_IDENT@98..99
                      PATH@98..99
                        Ident@98..99 "b"
                  RParen@99..100 ")"
            RParen@100..101 ")"
        Semi@101..102 ";"
        Whitespace@102..107 "\n    "
      STMT_EXPR@107..130
        EXPR_CALL@107..128
          EXPR_IDENT@107..114
            PATH@107..114
              Ident@107..114 "println"
          ARG_LIST@114..128
            LParen@114..115 "("
            ARG@115..127
              EXPR_CALL@115..127
                EXPR_IDENT@115..121
                  PATH@115..121
                    Ident@115..121 "ptr_eq"
                ARG_LIST@121..127
                  LParen@121..122 "("
                  ARG@122..125
                    EXPR_IDENT@122..123
                      PATH@122..123
                        Ident@122..123 "a"
                    Comma@123..124 ","
                    Whitespace@124..125 " "
                  ARG@125..126
                    EXPR_IDENT@125..126
                      PATH@125..126
                        Ident@125..126 "c"
                  RParen@126..127 ")"
            RParen@127..128 ")"
        Semi@128..129 ";"
        Whitespace@129..130 "\n"
      RBrace@130..131 "}"
      Whitespace@131..132 "\n"