FILE@0..990
  FN@0..49
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "increment"
    PARAM_LIST@12..24
      LParen@12..13 "("
      PARAM@13..22
        Ident@13..18 "value"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_UINT8@20..22
          U8Keyword@20..22 "u8"
      RParen@22..23 ")"
      Whitespace@23..24 " "
    Arrow@24..26 "->"
    Whitespace@26..27 " "
    TYPE_UINT8@27..30
      U8Keyword@27..29 "u8"
      Whitespace@29..30 " "
    BLOCK@30..49
      LBrace@30..31 "{"
      Whitespace@31..36 "\n    "
      EXPR_BINARY@36..46
        EXPR_IDENT@36..42
          PATH@36..42
            Ident@36..41 "value"
            Whitespace@41..42 " "
        Plus@42..43 "+"
        Whitespace@43..44 " "
        EXPR_INT@44..46
          Int@44..45 "1"
          Whitespace@45..46 "\n"
      RBrace@46..47 "}"
      Whitespace@47..49 "\n\n"
  FN@49..84
    FnKeyword@49..51 "fn"
    Whitespace@51..52 " "
    Ident@52..63 "one_float32"
    PARAM_LIST@63..66
      LParen@63..64 "("
      RParen@64..65 ")"
      Whitespace@65..66 " "
    Arrow@66..68 "->"
    Whitespace@68..69 " "
    TYPE_FLOAT32@69..73
      F32Keyword@69..72 "f32"
      Whitespace@72..73 " "
    BLOCK@73..84
      LBrace@73..74 "{"
      Whitespace@74..79 "\n    "
      EXPR_INT@79..81
        Int@79..80 "1"
        Whitespace@80..81 "\n"
      RBrace@81..82 "}"
      Whitespace@82..84 "\n\n"
  FN@84..119
    FnKeyword@84..86 "fn"
    Whitespace@86..87 " "
    Ident@87..96 "two_int16"
    PARAM_LIST@96..99
      LParen@96..97 "("
      RParen@97..98 ")"
      Whitespace@98..99 " "
    Arrow@99..101 "->"
    Whitespace@101..102 " "
    TYPE_INT16@102..106
      I16Keyword@102..105 "i16"
      Whitespace@105..106 " "
    BLOCK@106..119
      LBrace@106..107 "{"
      Whitespace@107..112 "\n    "
      EXPR_FLOAT@112..116
        Float@112..115 "2.0"
        Whitespace@115..116 "\n"
      RBrace@116..117 "}"
      Whitespace@117..119 "\n\n"
  FN@119..179
    FnKeyword@119..121 "fn"
    Whitespace@121..122 " "
    Ident@122..133 "read_uint32"
    PARAM_LIST@133..151
      LParen@133..134 "("
      PARAM@134..149
        Ident@134..139 "value"
        Colon@139..140 ":"
        Whitespace@140..141 " "
        TYPE_TAPP@141..149
          PATH@141..144
            Ident@141..144 "Ref"
          TYPE_PARAM_LIST@144..149
            LBracket@144..145 "["
            TYPE_UINT32@145..148
              U32Keyword@145..148 "u32"
            RBracket@148..149 "]"
      RParen@149..150 ")"
      Whitespace@150..151 " "
    Arrow@151..153 "->"
    Whitespace@153..154 " "
    TYPE_UINT32@154..158
      U32Keyword@154..157 "u32"
      Whitespace@157..158 " "
    BLOCK@158..179
      LBrace@158..159 "{"
      Whitespace@159..164 "\n    "
      EXPR_CALL@164..176
        EXPR_BINARY@164..173
          EXPR_IDENT@164..169
            PATH@164..169
              Ident@164..169 "value"
          Dot@169..170 "."
          EXPR_IDENT@170..173
            PATH@170..173
              Ident@170..173 "get"
        ARG_LIST@173..176
          LParen@173..174 "("
          RParen@174..175 ")"
          Whitespace@175..176 "\n"
      RBrace@176..177 "}"
      Whitespace@177..179 "\n\n"
  FN@179..990
    FnKeyword@179..181 "fn"
    Whitespace@181..182 " "
    Ident@182..186 "main"
    PARAM_LIST@186..189
      LParen@186..187 "("
      RParen@187..188 ")"
      Whitespace@188..189 " "
    Arrow@189..191 "->"
    Whitespace@191..192 " "
    TYPE_TUPLE@192..195
      TYPE_LIST@192..195
        LParen@192..193 "("
        RParen@193..194 ")"
        Whitespace@194..195 " "
    BLOCK@195..990
      LBrace@195..196 "{"
      Whitespace@196..201 "\n    "
      STMT_LET@201..231
        LetKeyword@201..204 "let"
        Whitespace@204..205 " "
        PATTERN_VARIABLE@205..221
          Ident@205..220 "default_integer"
          Whitespace@220..221 " "
        Eq@221..222 "="
        Whitespace@222..223 " "
        EXPR_INT@223..225
          Int@223..225 "40"
        Semi@225..226 ";"
        Whitespace@226..231 "\n    "
      STMT_LET@231..260
        LetKeyword@231..234 "let"
        Whitespace@234..235 " "
        PATTERN_VARIABLE@235..249
          Ident@235..248 "default_float"
          Whitespace@248..249 " "
        Eq@249..250 "="
        Whitespace@250..251 " "
        EXPR_FLOAT@251..254
          Float@251..254 "0.5"
        Semi@254..255 ";"
        Whitespace@255..260 "\n    "
      STMT_LET@260..284
        LetKeyword@260..263 "let"
        Whitespace@263..264 " "
        PATTERN_VARIABLE@264..269
          Ident@264..269 "small"
        Colon@269..270 ":"
        Whitespace@270..271 " "
        TYPE_UINT8@271..274
          U8Keyword@271..273 "u8"
          Whitespace@273..274 " "
        Eq@274..275 "="
        Whitespace@275..276 " "
        EXPR_INT@276..278
          Int@276..278 "41"
        Semi@278..279 ";"
        Whitespace@279..284 "\n    "
      STMT_LET@284..315
        LetKeyword@284..287 "let"
        Whitespace@287..288 " "
        PATTERN_VARIABLE@288..297
          Ident@288..296 "inferred"
          Whitespace@296..297 " "
        Eq@297..298 "="
        Whitespace@298..299 " "
        EXPR_ARRAY_LITERAL@299..309
          LBracket@299..300 "["
          EXPR_IDENT@300..305
            PATH@300..305
              Ident@300..305 "small"
          Comma@305..306 ","
          Whitespace@306..307 " "
          EXPR_INT@307..308
            Int@307..308 "2"
          RBracket@308..309 "]"
        Semi@309..310 ";"
        Whitespace@310..315 "\n    "
      STMT_LET@315..386
        LetKeyword@315..318 "let"
        Whitespace@318..319 " "
        PATTERN_VARIABLE@319..326
          Ident@319..325 "branch"
          Whitespace@325..326 " "
        Eq@326..327 "="
        Whitespace@327..328 " "
        EXPR_IF@328..380
          IfKeyword@328..330 "if"
          Whitespace@330..331 " "
          EXPR_IF_COND@331..336
            EXPR_BOOL@331..336
              TrueKeyword@331..335 "true"
              Whitespace@335..336 " "
          EXPR_IF_THEN@336..354
            BLOCK@336..354
              LBrace@336..337 "{"
              Whitespace@337..346 "\n        "
              EXPR_INT@346..352
                Int@346..347 "1"
                Whitespace@347..352 "\n    "
              RBrace@352..353 "}"
              Whitespace@353..354 " "
          ElseKeyword@354..358 "else"
          Whitespace@358..359 " "
          EXPR_IF_ELSE@359..380
            BLOCK@359..380
              LBrace@359..360 "{"
              Whitespace@360..369 "\n        "
              EXPR_IDENT@369..379
                PATH@369..379
                  Ident@369..374 "small"
                  Whitespace@374..379 "\n    "
              RBrace@379..380 "}"
        Semi@380..381 ";"
        Whitespace@381..386 "\n    "
      STMT_LET@386..423
        LetKeyword@386..389 "let"
        Whitespace@389..390 " "
        PATTERN_VARIABLE@390..396
          Ident@390..396 "values"
        Colon@396..397 ":"
        Whitespace@397..398 " "
        TYPE_ARRAY@398..407
          LBracket@398..399 "["
          TYPE_UINT16@399..402
            U16Keyword@399..402 "u16"
          Semi@402..403 ";"
          Whitespace@403..404 " "
          Int@404..405 "2"
          RBracket@405..406 "]"
          Whitespace@406..407 " "
        Eq@407..408 "="
        Whitespace@408..409 " "
        EXPR_ARRAY_LITERAL@409..417
          LBracket@409..410 "["
          EXPR_INT@410..412
            Int@410..412 "10"
          Comma@412..413 ","
          Whitespace@413..414 " "
          EXPR_INT@414..416
            Int@414..416 "20"
          RBracket@416..417 "]"
        Semi@417..418 ";"
        Whitespace@418..423 "\n    "
      STMT_LET@423..454
        LetKeyword@423..426 "let"
        Whitespace@426..427 " "
        PATTERN_VARIABLE@427..435
          Ident@427..434 "delayed"
          Whitespace@434..435 " "
        Eq@435..436 "="
        Whitespace@436..437 " "
        EXPR_CALL@437..448
          EXPR_IDENT@437..445
            PATH@437..445
              Ident@437..440 "Ref"
              ColonColon@440..442 "::"
              Ident@442..445 "new"
          ARG_LIST@445..448
            LParen@445..446 "("
            ARG@446..447
              EXPR_INT@446..447
                Int@446..447 "0"
            RParen@447..448 ")"
        Semi@448..449 ";"
        Whitespace@449..454 "\n    "
      STMT_LET@454..486
        LetKeyword@454..457 "let"
        Whitespace@457..458 " "
        PATTERN_VARIABLE@458..463
          Ident@458..462 "byte"
          Whitespace@462..463 " "
        Eq@463..464 "="
        Whitespace@464..465 " "
        EXPR_CALL@465..480
          EXPR_BINARY@465..477
            EXPR_STR@465..468
              Str@465..468 "\"A\""
            Dot@468..469 "."
            EXPR_IDENT@469..477
              PATH@469..477
                Ident@469..477 "byte_get"
          ARG_LIST@477..480
            LParen@477..478 "("
            ARG@478..479
              EXPR_INT@478..479
                Int@478..479 "0"
            RParen@479..480 ")"
        Semi@480..481 ";"
        Whitespace@481..486 "\n    "
      STMT_EXPR@486..534
        EXPR_CALL@486..528
          EXPR_IDENT@486..493
            PATH@486..493
              Ident@486..493 "println"
          ARG_LIST@493..528
            LParen@493..494 "("
            ARG@494..527
              EXPR_CALL@494..527
                EXPR_BINARY@494..525
                  EXPR_PAREN@494..515
                    LParen@494..495 "("
                    EXPR_BINARY@495..514
                      EXPR_IDENT@495..511
                        PATH@495..511
                          Ident@495..510 "default_integer"
                          Whitespace@510..511 " "
                      Plus@511..512 "+"
                      Whitespace@512..513 " "
                      EXPR_INT@513..514
                        Int@513..514 "2"
                    RParen@514..515 ")"
                  Dot@515..516 "."
                  EXPR_IDENT@516..525
                    PATH@516..525
                      Ident@516..525 "to_string"
                ARG_LIST@525..527
                  LParen@525..526 "("
                  RParen@526..527 ")"
            RParen@527..528 ")"
        Semi@528..529 ";"
        Whitespace@529..534 "\n    "
      STMT_EXPR@534..574
        EXPR_CALL@534..568
          EXPR_IDENT@534..541
            PATH@534..541
              Ident@534..541 "println"
          ARG_LIST@541..568
            LParen@541..542 "("
            ARG@542..567
              EXPR_CALL@542..567
                EXPR_BINARY@542..565
                  EXPR_IDENT@542..555
                    PATH@542..555
                      Ident@542..555 "default_float"
                  Dot@555..556 "."
                  EXPR_IDENT@556..565
                    PATH@556..565
                      Ident@556..565 "to_string"
                ARG_LIST@565..567
                  LParen@565..566 "("
                  RParen@566..567 ")"
            RParen@567..568 ")"
        Semi@568..569 ";"
        Whitespace@569..574 "\n    "
      STMT_EXPR@574..617
        EXPR_CALL@574..611
          EXPR_IDENT@574..581
            PATH@574..581
              Ident@574..581 "println"
          ARG_LIST@581..611
            LParen@581..582 "("
            ARG@582..610
              EXPR_CALL@582..610
                EXPR_BINARY@582..608
                  EXPR_CALL@582..598
                    EXPR_IDENT@582..591
                      PATH@582..591
                        Ident@582..591 "increment"
                    ARG_LIST@591..598
                      LParen@591..592 "("
                      ARG@592..597
                        EXPR_IDENT@592..597
                          PATH@592..597
                            Ident@592..597 "small"
                      RParen@597..598 ")"
                  Dot@598..599 "."
                  EXPR_IDENT@599..608
                    PATH@599..608
                      Ident@599..608 "to_string"
                ARG_LIST@608..610
                  LParen@608..609 "("
                  RParen@609..610 ")"
            RParen@610..611 ")"
        Semi@611..612 ";"
        Whitespace@612..617 "\n    "
      STMT_EXPR@617..655
        EXPR_CALL@617..649
          EXPR_IDENT@617..624
            PATH@617..624
              Ident@617..624 "println"
          ARG_LIST@624..649
            LParen@624..625 "("
            ARG@625..648
              EXPR_CALL@625..648
                EXPR_BINARY@625..646
                  EXPR_INDEX@625..636
                    EXPR_IDENT@625..633
                      PATH@625..633
                        Ident@625..633 "inferred"
                    LBracket@633..634 "["
                    EXPR_INT@634..635
                      Int@634..635 "1"
                    RBracket@635..636 "]"
                  Dot@636..637 "."
                  EXPR_IDENT@637..646
                    PATH@637..646
                      Ident@637..646 "to_string"
                ARG_LIST@646..648
                  LParen@646..647 "("
                  RParen@647..648 ")"
            RParen@648..649 ")"
        Semi@649..650 ";"
        Whitespace@650..655 "\n    "
      STMT_EXPR@655..688
        EXPR_CALL@655..682
          EXPR_IDENT@655..662
            PATH@655..662
              Ident@655..662 "println"
          ARG_LIST@662..682
            LParen@662..663 "("
            ARG@663..681
              EXPR_CALL@663..681
                EXPR_BINARY@663..679
                  EXPR_IDENT@663..669
                    PATH@663..669
                      Ident@663..669 "branch"
                  Dot@669..670 "."
                  EXPR_IDENT@670..679
                    PATH@670..679
                      Ident@670..679 "to_string"
                ARG_LIST@679..681
                  LParen@679..680 "("
                  RParen@680..681 ")"
            RParen@681..682 ")"
        Semi@682..683 ";"
        Whitespace@683..688 "\n    "
      STMT_EXPR@688..724
        EXPR_CALL@688..718
          EXPR_IDENT@688..695
            PATH@688..695
              Ident@688..695 "println"
          ARG_LIST@695..718
            LParen@695..696 "("
            ARG@696..717
              EXPR_CALL@696..717
                EXPR_BINARY@696..715
                  EXPR_INDEX@696..705
                    EXPR_IDENT@696..702
                      PATH@696..702
                        Ident@696..702 "values"
                    LBracket@702..703 "["
                    EXPR_INT@703..704
                      Int@703..704 "1"
                    RBracket@704..705 "]"
                  Dot@705..706 "."
                  EXPR_IDENT@706..715
                    PATH@706..715
                      Ident@706..715 "to_string"
                ARG_LIST@715..717
                  LParen@715..716 "("
                  RParen@716..717 ")"
            RParen@717..718 ")"
        Semi@718..719 ";"
        Whitespace@719..724 "\n    "
      STMT_EXPR@724..764
        EXPR_CALL@724..758
          EXPR_IDENT@724..731
            PATH@724..731
              Ident@724..731 "println"
          ARG_LIST@731..758
            LParen@731..732 "("
            ARG@732..757
              EXPR_CALL@732..757
                EXPR_BINARY@732..755
                  EXPR_CALL@732..745
                    EXPR_IDENT@732..743
                      PATH@732..743
                        Ident@732..743 "one_float32"
                    ARG_LIST@743..745
                      LParen@743..744 "("
                      RParen@744..745 ")"
                  Dot@745..746 "."
                  EXPR_IDENT@746..755
                    PATH@746..755
                      Ident@746..755 "to_string"
                ARG_LIST@755..757
                  LParen@755..756 "("
                  RParen@756..757 ")"
            RParen@757..758 ")"
        Semi@758..759 ";"
        Whitespace@759..764 "\n    "
      STMT_EXPR@764..802
        EXPR_CALL@764..796
          EXPR_IDENT@764..771
            PATH@764..771
              Ident@764..771 "println"
          ARG_LIST@771..796
            LParen@771..772 "("
            ARG@772..795
              EXPR_CALL@772..795
                EXPR_BINARY@772..793
                  EXPR_CALL@772..783
                    EXPR_IDENT@772..781
                      PATH@772..781
                        Ident@772..781 "two_int16"
                    ARG_LIST@781..783
                      LParen@781..782 "("
                      RParen@782..783 ")"
                  Dot@783..784 "."
                  EXPR_IDENT@784..793
                    PATH@784..793
                      Ident@784..793 "to_string"
                ARG_LIST@793..795
                  LParen@793..794 "("
                  RParen@794..795 ")"
            RParen@795..796 ")"
        Semi@796..797 ";"
        Whitespace@797..802 "\n    "
      STMT_EXPR@802..849
        EXPR_CALL@802..843
          EXPR_IDENT@802..809
            PATH@802..809
              Ident@802..809 "println"
          ARG_LIST@809..843
            LParen@809..810 "("
            ARG@810..842
              EXPR_CALL@810..842
                EXPR_BINARY@810..840
                  EXPR_CALL@810..830
                    EXPR_IDENT@810..821
                      PATH@810..821
                        Ident@810..821 "read_uint32"
                    ARG_LIST@821..830
                      LParen@821..822 "("
                      ARG@822..829
                        EXPR_IDENT@822..829
                          PATH@822..829
                            Ident@822..829 "delayed"
                      RParen@829..830 ")"
                  Dot@830..831 "."
                  EXPR_IDENT@831..840
                    PATH@831..840
                      Ident@831..840 "to_string"
                ARG_LIST@840..842
                  LParen@840..841 "("
                  RParen@841..842 ")"
            RParen@842..843 ")"
        Semi@843..844 ";"
        Whitespace@844..849 "\n    "
      STMT_EXPR@849..888
        EXPR_CALL@849..882
          EXPR_IDENT@849..856
            PATH@849..856
              Ident@849..856 "println"
          ARG_LIST@856..882
            LParen@856..857 "("
            ARG@857..881
              EXPR_CALL@857..881
                EXPR_BINARY@857..879
                  EXPR_PAREN@857..869
                    LParen@857..858 "("
                    EXPR_BINARY@858..868
                      EXPR_IDENT@858..863
                        PATH@858..863
                          Ident@858..862 "byte"
                          Whitespace@862..863 " "
                      EqEq@863..865 "=="
                      Whitespace@865..866 " "
                      EXPR_INT@866..868
                        Int@866..868 "65"
                    RParen@868..869 ")"
                  Dot@869..870 "."
                  EXPR_IDENT@870..879
                    PATH@870..879
                      Ident@870..879 "to_string"
                ARG_LIST@879..881
                  LParen@879..880 "("
                  RParen@880..881 ")"
            RParen@881..882 ")"
        Semi@882..883 ";"
        Whitespace@883..888 "\n    "
      STMT_EXPR@888..988
        EXPR_CALL@888..986
          EXPR_IDENT@888..895
            PATH@888..895
              Ident@888..895 "println"
          ARG_LIST@895..986
            LParen@895..896 "("
            Whitespace@896..905 "\n        "
            ARG@905..985
              EXPR_MATCH@905..979
                MatchKeyword@905..910 "match"
                Whitespace@910..911 " "
                EXPR_IDENT@911..916
                  PATH@911..916
                    Ident@911..915 "byte"
                    Whitespace@915..916 " "
                MATCH_ARM_LIST@916..979
                  LBrace@916..917 "{"
                  Whitespace@917..930 "\n            "
                  MATCH_ARM@930..942
                    PATTERN_INT@930..933
                      Int@930..932 "65"
                      Whitespace@932..933 " "
                    FatArrow@933..935 "=>"
                    Whitespace@935..936 " "
                    EXPR_STR@936..942
                      Str@936..942 "\"byte\""
                  Comma@942..943 ","
                  Whitespace@943..956 "\n            "
                  MATCH_ARM@956..968
                    PATTERN_WILDCARD@956..958
                      WildcardKeyword@956..957 "_"
                      Whitespace@957..958 " "
                    FatArrow@958..960 "=>"
                    Whitespace@960..961 " "
                    EXPR_STR@961..968
                      Str@961..968 "\"other\""
                  Comma@968..969 ","
                  Whitespace@969..978 "\n        "
                  RBrace@978..979 "}"
              Comma@979..980 ","
              Whitespace@980..985 "\n    "
            RParen@985..986 ")"
        Semi@986..987 ";"
        Whitespace@987..988 "\n"
      RBrace@988..989 "}"
      Whitespace@989..990 "\n"