FILE@0..992
  FN@0..49
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "increment"
    PARAM_LIST@12..24
      LParen@12..13 "("
      PARAM@13..22
        Ident@13..18 "value"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_UINT8@20..22
          U8Keyword@20..22 "u8"
      RParen@22..23 ")"
      Whitespace@23..24 " "
    Arrow@24..26 "->"
    Whitespace@26..27 " "
    TYPE_UINT8@27..30
      U8Keyword@27..29 "u8"
      Whitespace@29..30 " "
    BLOCK@30..49
      LBrace@30..31 "{"
      Whitespace@31..36 "\n    "
      EXPR_BINARY@36..46
        EXPR_IDENT@36..42
          PATH@36..42
            Ident@36..41 "value"
            Whitespace@41..42 " "
        Plus@42..43 "+"
        Whitespace@43..44 " "
        EXPR_INT@44..46
          Int@44..45 "1"
          Whitespace@45..46 "\n"
      RBrace@46..47 "}"
      Whitespace@47..49 "\n\n"
  FN@49..84
    FnKeyword@49..51 "fn"
    Whitespace@51..52 " "
    Ident@52..63 "one_float32"
    PARAM_LIST@63..66
      LParen@63..64 "("
      RParen@64..65 ")"
      Whitespace@65..66 " "
    Arrow@66..68 "->"
    Whitespace@68..69 " "
    TYPE_FLOAT32@69..73
      F32Keyword@69..72 "f32"
      Whitespace@72..73 " "
    BLOCK@73..84
      LBrace@73..74 "{"
      Whitespace@74..79 "\n    "
      EXPR_INT@79..81
        Int@79..80 "1"
        Whitespace@80..81 "\n"
      RBrace@81..82 "}"
      Whitespace@82..84 "\n\n"
  FN@84..119
    FnKeyword@84..86 "fn"
    Whitespace@86..87 " "
    Ident@87..96 "two_int16"
    PARAM_LIST@96..99
      LParen@96..97 "("
      RParen@97..98 ")"
      Whitespace@98..99 " "
    Arrow@99..101 "->"
    Whitespace@101..102 " "
    TYPE_INT16@102..106
      I16Keyword@102..105 "i16"
      Whitespace@105..106 " "
    BLOCK@106..119
      LBrace@106..107 "{"
      Whitespace@107..112 "\n    "
      EXPR_FLOAT@112..116
        Float@112..115 "2.0"
        Whitespace@115..116 "\n"
      RBrace@116..117 "}"
      Whitespace@117..119 "\n\n"
  FN@119..179
    FnKeyword@119..121 "fn"
    Whitespace@121..122 " "
    Ident@122..133 "read_uint32"
    PARAM_LIST@133..151
      LParen@133..134 "("
      PARAM@134..149
        Ident@134..139 "value"
        Colon@139..140 ":"
        Whitespace@140..141 " "
        TYPE_TAPP@141..149
          PATH@141..144
            Ident@141..144 "Ref"
          TYPE_PARAM_LIST@144..149
            LBracket@144..145 "["
            TYPE_UINT32@145..148
              U32Keyword@145..148 "u32"
            RBracket@148..149 "]"
      RParen@149..150 ")"
      Whitespace@150..151 " "
    Arrow@151..153 "->"
    Whitespace@153..154 " "
    TYPE_UINT32@154..158
      U32Keyword@154..157 "u32"
      Whitespace@157..158 " "
    BLOCK@158..179
      LBrace@158..159 "{"
      Whitespace@159..164 "\n    "
      EXPR_CALL@164..176
        EXPR_BINARY@164..173
          EXPR_IDENT@164..169
            PATH@164..169
              Ident@164..169 "value"
          Dot@169..170 "."
          EXPR_IDENT@170..173
            PATH@170..173
              Ident@170..173 "get"
        ARG_LIST@173..176
          LParen@173..174 "("
          RParen@174..175 ")"
          Whitespace@175..176 "\n"
      RBrace@176..177 "}"
      Whitespace@177..179 "\n\n"
  FN@179..992
    FnKeyword@179..181 "fn"
    Whitespace@181..182 " "
    Ident@182..186 "main"
    PARAM_LIST@186..189
      LParen@186..187 "("
      RParen@187..188 ")"
      Whitespace@188..189 " "
    Arrow@189..191 "->"
    Whitespace@191..192 " "
    TYPE_UNIT@192..197
      UnitKeyword@192..196 "unit"
      Whitespace@196..197 " "
    BLOCK@197..992
      LBrace@197..198 "{"
      Whitespace@198..203 "\n    "
      STMT_LET@203..233
        LetKeyword@203..206 "let"
        Whitespace@206..207 " "
        PATTERN_VARIABLE@207..223
          Ident@207..222 "default_integer"
          Whitespace@222..223 " "
        Eq@223..224 "="
        Whitespace@224..225 " "
        EXPR_INT@225..227
          Int@225..227 "40"
        Semi@227..228 ";"
        Whitespace@228..233 "\n    "
      STMT_LET@233..262
        LetKeyword@233..236 "let"
        Whitespace@236..237 " "
        PATTERN_VARIABLE@237..251
          Ident@237..250 "default_float"
          Whitespace@250..251 " "
        Eq@251..252 "="
        Whitespace@252..253 " "
        EXPR_FLOAT@253..256
          Float@253..256 "0.5"
        Semi@256..257 ";"
        Whitespace@257..262 "\n    "
      STMT_LET@262..286
        LetKeyword@262..265 "let"
        Whitespace@265..266 " "
        PATTERN_VARIABLE@266..271
          Ident@266..271 "small"
        Colon@271..272 ":"
        Whitespace@272..273 " "
        TYPE_UINT8@273..276
          U8Keyword@273..275 "u8"
          Whitespace@275..276 " "
        Eq@276..277 "="
        Whitespace@277..278 " "
        EXPR_INT@278..280
          Int@278..280 "41"
        Semi@280..281 ";"
        Whitespace@281..286 "\n    "
      STMT_LET@286..317
        LetKeyword@286..289 "let"
        Whitespace@289..290 " "
        PATTERN_VARIABLE@290..299
          Ident@290..298 "inferred"
          Whitespace@298..299 " "
        Eq@299..300 "="
        Whitespace@300..301 " "
        EXPR_ARRAY_LITERAL@301..311
          LBracket@301..302 "["
          EXPR_IDENT@302..307
            PATH@302..307
              Ident@302..307 "small"
          Comma@307..308 ","
          Whitespace@308..309 " "
          EXPR_INT@309..310
            Int@309..310 "2"
          RBracket@310..311 "]"
        Semi@311..312 ";"
        Whitespace@312..317 "\n    "
      STMT_LET@317..388
        LetKeyword@317..320 "let"
        Whitespace@320..321 " "
        PATTERN_VARIABLE@321..328
          Ident@321..327 "branch"
          Whitespace@327..328 " "
        Eq@328..329 "="
        Whitespace@329..330 " "
        EXPR_IF@330..382
          IfKeyword@330..332 "if"
          Whitespace@332..333 " "
          EXPR_IF_COND@333..338
            EXPR_BOOL@333..338
              TrueKeyword@333..337 "true"
              Whitespace@337..338 " "
          EXPR_IF_THEN@338..356
            BLOCK@338..356
              LBrace@338..339 "{"
              Whitespace@339..348 "\n        "
              EXPR_INT@348..354
                Int@348..349 "1"
                Whitespace@349..354 "\n    "
              RBrace@354..355 "}"
              Whitespace@355..356 " "
          ElseKeyword@356..360 "else"
          Whitespace@360..361 " "
          EXPR_IF_ELSE@361..382
            BLOCK@361..382
              LBrace@361..362 "{"
              Whitespace@362..371 "\n        "
              EXPR_IDENT@371..381
                PATH@371..381
                  Ident@371..376 "small"
                  Whitespace@376..381 "\n    "
              RBrace@381..382 "}"
        Semi@382..383 ";"
        Whitespace@383..388 "\n    "
      STMT_LET@388..425
        LetKeyword@388..391 "let"
        Whitespace@391..392 " "
        PATTERN_VARIABLE@392..398
          Ident@392..398 "values"
        Colon@398..399 ":"
        Whitespace@399..400 " "
        TYPE_ARRAY@400..409
          LBracket@400..401 "["
          TYPE_UINT16@401..404
            U16Keyword@401..404 "u16"
          Semi@404..405 ";"
          Whitespace@405..406 " "
          Int@406..407 "2"
          RBracket@407..408 "]"
          Whitespace@408..409 " "
        Eq@409..410 "="
        Whitespace@410..411 " "
        EXPR_ARRAY_LITERAL@411..419
          LBracket@411..412 "["
          EXPR_INT@412..414
            Int@412..414 "10"
          Comma@414..415 ","
          Whitespace@415..416 " "
          EXPR_INT@416..418
            Int@416..418 "20"
          RBracket@418..419 "]"
        Semi@419..420 ";"
        Whitespace@420..425 "\n    "
      STMT_LET@425..456
        LetKeyword@425..428 "let"
        Whitespace@428..429 " "
        PATTERN_VARIABLE@429..437
          Ident@429..436 "delayed"
          Whitespace@436..437 " "
        Eq@437..438 "="
        Whitespace@438..439 " "
        EXPR_CALL@439..450
          EXPR_IDENT@439..447
            PATH@439..447
              Ident@439..442 "Ref"
              ColonColon@442..444 "::"
              Ident@444..447 "new"
          ARG_LIST@447..450
            LParen@447..448 "("
            ARG@448..449
              EXPR_INT@448..449
                Int@448..449 "0"
            RParen@449..450 ")"
        Semi@450..451 ";"
        Whitespace@451..456 "\n    "
      STMT_LET@456..488
        LetKeyword@456..459 "let"
        Whitespace@459..460 " "
        PATTERN_VARIABLE@460..465
          Ident@460..464 "byte"
          Whitespace@464..465 " "
        Eq@465..466 "="
        Whitespace@466..467 " "
        EXPR_CALL@467..482
          EXPR_BINARY@467..479
            EXPR_STR@467..470
              Str@467..470 "\"A\""
            Dot@470..471 "."
            EXPR_IDENT@471..479
              PATH@471..479
                Ident@471..479 "byte_get"
          ARG_LIST@479..482
            LParen@479..480 "("
            ARG@480..481
              EXPR_INT@480..481
                Int@480..481 "0"
            RParen@481..482 ")"
        Semi@482..483 ";"
        Whitespace@483..488 "\n    "
      STMT_EXPR@488..536
        EXPR_CALL@488..530
          EXPR_IDENT@488..495
            PATH@488..495
              Ident@488..495 "println"
          ARG_LIST@495..530
            LParen@495..496 "("
            ARG@496..529
              EXPR_CALL@496..529
                EXPR_BINARY@496..527
                  EXPR_PAREN@496..517
                    LParen@496..497 "("
                    EXPR_BINARY@497..516
                      EXPR_IDENT@497..513
                        PATH@497..513
                          Ident@497..512 "default_integer"
                          Whitespace@512..513 " "
                      Plus@513..514 "+"
                      Whitespace@514..515 " "
                      EXPR_INT@515..516
                        Int@515..516 "2"
                    RParen@516..517 ")"
                  Dot@517..518 "."
                  EXPR_IDENT@518..527
                    PATH@518..527
                      Ident@518..527 "to_string"
                ARG_LIST@527..529
                  LParen@527..528 "("
                  RParen@528..529 ")"
            RParen@529..530 ")"
        Semi@530..531 ";"
        Whitespace@531..536 "\n    "
      STMT_EXPR@536..576
        EXPR_CALL@536..570
          EXPR_IDENT@536..543
            PATH@536..543
              Ident@536..543 "println"
          ARG_LIST@543..570
            LParen@543..544 "("
            ARG@544..569
              EXPR_CALL@544..569
                EXPR_BINARY@544..567
                  EXPR_IDENT@544..557
                    PATH@544..557
                      Ident@544..557 "default_float"
                  Dot@557..558 "."
                  EXPR_IDENT@558..567
                    PATH@558..567
                      Ident@558..567 "to_string"
                ARG_LIST@567..569
                  LParen@567..568 "("
                  RParen@568..569 ")"
            RParen@569..570 ")"
        Semi@570..571 ";"
        Whitespace@571..576 "\n    "
      STMT_EXPR@576..619
        EXPR_CALL@576..613
          EXPR_IDENT@576..583
            PATH@576..583
              Ident@576..583 "println"
          ARG_LIST@583..613
            LParen@583..584 "("
            ARG@584..612
              EXPR_CALL@584..612
                EXPR_BINARY@584..610
                  EXPR_CALL@584..600
                    EXPR_IDENT@584..593
                      PATH@584..593
                        Ident@584..593 "increment"
                    ARG_LIST@593..600
                      LParen@593..594 "("
                      ARG@594..599
                        EXPR_IDENT@594..599
                          PATH@594..599
                            Ident@594..599 "small"
                      RParen@599..600 ")"
                  Dot@600..601 "."
                  EXPR_IDENT@601..610
                    PATH@601..610
                      Ident@601..610 "to_string"
                ARG_LIST@610..612
                  LParen@610..611 "("
                  RParen@611..612 ")"
            RParen@612..613 ")"
        Semi@613..614 ";"
        Whitespace@614..619 "\n    "
      STMT_EXPR@619..657
        EXPR_CALL@619..651
          EXPR_IDENT@619..626
            PATH@619..626
              Ident@619..626 "println"
          ARG_LIST@626..651
            LParen@626..627 "("
            ARG@627..650
              EXPR_CALL@627..650
                EXPR_BINARY@627..648
                  EXPR_INDEX@627..638
                    EXPR_IDENT@627..635
                      PATH@627..635
                        Ident@627..635 "inferred"
                    LBracket@635..636 "["
                    EXPR_INT@636..637
                      Int@636..637 "1"
                    RBracket@637..638 "]"
                  Dot@638..639 "."
                  EXPR_IDENT@639..648
                    PATH@639..648
                      Ident@639..648 "to_string"
                ARG_LIST@648..650
                  LParen@648..649 "("
                  RParen@649..650 ")"
            RParen@650..651 ")"
        Semi@651..652 ";"
        Whitespace@652..657 "\n    "
      STMT_EXPR@657..690
        EXPR_CALL@657..684
          EXPR_IDENT@657..664
            PATH@657..664
              Ident@657..664 "println"
          ARG_LIST@664..684
            LParen@664..665 "("
            ARG@665..683
              EXPR_CALL@665..683
                EXPR_BINARY@665..681
                  EXPR_IDENT@665..671
                    PATH@665..671
                      Ident@665..671 "branch"
                  Dot@671..672 "."
                  EXPR_IDENT@672..681
                    PATH@672..681
                      Ident@672..681 "to_string"
                ARG_LIST@681..683
                  LParen@681..682 "("
                  RParen@682..683 ")"
            RParen@683..684 ")"
        Semi@684..685 ";"
        Whitespace@685..690 "\n    "
      STMT_EXPR@690..726
        EXPR_CALL@690..720
          EXPR_IDENT@690..697
            PATH@690..697
              Ident@690..697 "println"
          ARG_LIST@697..720
            LParen@697..698 "("
            ARG@698..719
              EXPR_CALL@698..719
                EXPR_BINARY@698..717
                  EXPR_INDEX@698..707
                    EXPR_IDENT@698..704
                      PATH@698..704
                        Ident@698..704 "values"
                    LBracket@704..705 "["
                    EXPR_INT@705..706
                      Int@705..706 "1"
                    RBracket@706..707 "]"
                  Dot@707..708 "."
                  EXPR_IDENT@708..717
                    PATH@708..717
                      Ident@708..717 "to_string"
                ARG_LIST@717..719
                  LParen@717..718 "("
                  RParen@718..719 ")"
            RParen@719..720 ")"
        Semi@720..721 ";"
        Whitespace@721..726 "\n    "
      STMT_EXPR@726..766
        EXPR_CALL@726..760
          EXPR_IDENT@726..733
            PATH@726..733
              Ident@726..733 "println"
          ARG_LIST@733..760
            LParen@733..734 "("
            ARG@734..759
              EXPR_CALL@734..759
                EXPR_BINARY@734..757
                  EXPR_CALL@734..747
                    EXPR_IDENT@734..745
                      PATH@734..745
                        Ident@734..745 "one_float32"
                    ARG_LIST@745..747
                      LParen@745..746 "("
                      RParen@746..747 ")"
                  Dot@747..748 "."
                  EXPR_IDENT@748..757
                    PATH@748..757
                      Ident@748..757 "to_string"
                ARG_LIST@757..759
                  LParen@757..758 "("
                  RParen@758..759 ")"
            RParen@759..760 ")"
        Semi@760..761 ";"
        Whitespace@761..766 "\n    "
      STMT_EXPR@766..804
        EXPR_CALL@766..798
          EXPR_IDENT@766..773
            PATH@766..773
              Ident@766..773 "println"
          ARG_LIST@773..798
            LParen@773..774 "("
            ARG@774..797
              EXPR_CALL@774..797
                EXPR_BINARY@774..795
                  EXPR_CALL@774..785
                    EXPR_IDENT@774..783
                      PATH@774..783
                        Ident@774..783 "two_int16"
                    ARG_LIST@783..785
                      LParen@783..784 "("
                      RParen@784..785 ")"
                  Dot@785..786 "."
                  EXPR_IDENT@786..795
                    PATH@786..795
                      Ident@786..795 "to_string"
                ARG_LIST@795..797
                  LParen@795..796 "("
                  RParen@796..797 ")"
            RParen@797..798 ")"
        Semi@798..799 ";"
        Whitespace@799..804 "\n    "
      STMT_EXPR@804..851
        EXPR_CALL@804..845
          EXPR_IDENT@804..811
            PATH@804..811
              Ident@804..811 "println"
          ARG_LIST@811..845
            LParen@811..812 "("
            ARG@812..844
              EXPR_CALL@812..844
                EXPR_BINARY@812..842
                  EXPR_CALL@812..832
                    EXPR_IDENT@812..823
                      PATH@812..823
                        Ident@812..823 "read_uint32"
                    ARG_LIST@823..832
                      LParen@823..824 "("
                      ARG@824..831
                        EXPR_IDENT@824..831
                          PATH@824..831
                            Ident@824..831 "delayed"
                      RParen@831..832 ")"
                  Dot@832..833 "."
                  EXPR_IDENT@833..842
                    PATH@833..842
                      Ident@833..842 "to_string"
                ARG_LIST@842..844
                  LParen@842..843 "("
                  RParen@843..844 ")"
            RParen@844..845 ")"
        Semi@845..846 ";"
        Whitespace@846..851 "\n    "
      STMT_EXPR@851..890
        EXPR_CALL@851..884
          EXPR_IDENT@851..858
            PATH@851..858
              Ident@851..858 "println"
          ARG_LIST@858..884
            LParen@858..859 "("
            ARG@859..883
              EXPR_CALL@859..883
                EXPR_BINARY@859..881
                  EXPR_PAREN@859..871
                    LParen@859..860 "("
                    EXPR_BINARY@860..870
                      EXPR_IDENT@860..865
                        PATH@860..865
                          Ident@860..864 "byte"
                          Whitespace@864..865 " "
                      EqEq@865..867 "=="
                      Whitespace@867..868 " "
                      EXPR_INT@868..870
                        Int@868..870 "65"
                    RParen@870..871 ")"
                  Dot@871..872 "."
                  EXPR_IDENT@872..881
                    PATH@872..881
                      Ident@872..881 "to_string"
                ARG_LIST@881..883
                  LParen@881..882 "("
                  RParen@882..883 ")"
            RParen@883..884 ")"
        Semi@884..885 ";"
        Whitespace@885..890 "\n    "
      STMT_EXPR@890..990
        EXPR_CALL@890..988
          EXPR_IDENT@890..897
            PATH@890..897
              Ident@890..897 "println"
          ARG_LIST@897..988
            LParen@897..898 "("
            Whitespace@898..907 "\n        "
            ARG@907..987
              EXPR_MATCH@907..981
                MatchKeyword@907..912 "match"
                Whitespace@912..913 " "
                EXPR_IDENT@913..918
                  PATH@913..918
                    Ident@913..917 "byte"
                    Whitespace@917..918 " "
                MATCH_ARM_LIST@918..981
                  LBrace@918..919 "{"
                  Whitespace@919..932 "\n            "
                  MATCH_ARM@932..944
                    PATTERN_INT@932..935
                      Int@932..934 "65"
                      Whitespace@934..935 " "
                    FatArrow@935..937 "=>"
                    Whitespace@937..938 " "
                    EXPR_STR@938..944
                      Str@938..944 "\"byte\""
                  Comma@944..945 ","
                  Whitespace@945..958 "\n            "
                  MATCH_ARM@958..970
                    PATTERN_WILDCARD@958..960
                      WildcardKeyword@958..959 "_"
                      Whitespace@959..960 " "
                    FatArrow@960..962 "=>"
                    Whitespace@962..963 " "
                    EXPR_STR@963..970
                      Str@963..970 "\"other\""
                  Comma@970..971 ","
                  Whitespace@971..980 "\n        "
                  RBrace@980..981 "}"
              Comma@981..982 ","
              Whitespace@982..987 "\n    "
            RParen@987..988 ")"
        Semi@988..989 ";"
        Whitespace@989..990 "\n"
      RBrace@990..991 "}"
      Whitespace@991..992 "\n"