FILE@0..556
  EXTERN@0..22
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    TypeKeyword@7..11 "type"
    Whitespace@11..12 " "
    Ident@12..20 "Duration"
    Whitespace@20..22 "\n\n"
  EXTERN@22..68
    ExternKeyword@22..28 "extern"
    Whitespace@28..29 " "
    Str@29..33 "\"go\""
    Whitespace@33..34 " "
    Str@34..40 "\"time\""
    Whitespace@40..41 " "
    Ident@41..46 "sleep"
    PARAM_LIST@46..60
      LParen@46..47 "("
      PARAM@47..58
        Ident@47..48 "d"
        Colon@48..49 ":"
        Whitespace@49..50 " "
        TYPE_TAPP@50..58
          PATH@50..58
            Ident@50..58 "Duration"
      RParen@58..59 ")"
      Whitespace@59..60 " "
    Arrow@60..62 "->"
    Whitespace@62..63 " "
    TYPE_UNIT@63..68
      UnitKeyword@63..67 "unit"
      Whitespace@67..68 "\n"
  EXTERN@68..123
    ExternKeyword@68..74 "extern"
    Whitespace@74..75 " "
    Str@75..79 "\"go\""
    Whitespace@79..80 " "
    Str@80..86 "\"time\""
    Whitespace@86..87 " "
    Ident@87..95 "duration"
    PARAM_LIST@95..110
      LParen@95..96 "("
      PARAM@96..108
        Ident@96..101 "nanos"
        Colon@101..102 ":"
        Whitespace@102..103 " "
        TYPE_INT32@103..108
          Int32Keyword@103..108 "int32"
      RParen@108..109 ")"
      Whitespace@109..110 " "
    Arrow@110..112 "->"
    Whitespace@112..113 " "
    TYPE_TAPP@113..123
      PATH@113..123
        Ident@113..121 "Duration"
        Whitespace@121..123 "\n\n"
  FN@123..172
    FnKeyword@123..125 "fn"
    Whitespace@125..126 " "
    Ident@126..133 "child_a"
    PARAM_LIST@133..136
      LParen@133..134 "("
      RParen@134..135 ")"
      Whitespace@135..136 " "
    Arrow@136..138 "->"
    Whitespace@138..139 " "
    TYPE_UNIT@139..144
      UnitKeyword@139..143 "unit"
      Whitespace@143..144 " "
    BLOCK@144..172
      LBrace@144..145 "{"
      Whitespace@145..150 "\n    "
      EXPR_CALL@150..169
        EXPR_IDENT@150..157
          PATH@150..157
            Ident@150..157 "println"
        ARG_LIST@157..169
          LParen@157..158 "("
          ARG@158..167
            EXPR_STR@158..167
              Str@158..167 "\"child-a\""
          RParen@167..168 ")"
          Whitespace@168..169 "\n"
      RBrace@169..170 "}"
      Whitespace@170..172 "\n\n"
  FN@172..221
    FnKeyword@172..174 "fn"
    Whitespace@174..175 " "
    Ident@175..182 "child_b"
    PARAM_LIST@182..185
      LParen@182..183 "("
      RParen@183..184 ")"
      Whitespace@184..185 " "
    Arrow@185..187 "->"
    Whitespace@187..188 " "
    TYPE_UNIT@188..193
      UnitKeyword@188..192 "unit"
      Whitespace@192..193 " "
    BLOCK@193..221
      LBrace@193..194 "{"
      Whitespace@194..199 "\n    "
      EXPR_CALL@199..218
        EXPR_IDENT@199..206
          PATH@199..206
            Ident@199..206 "println"
        ARG_LIST@206..218
          LParen@206..207 "("
          ARG@207..216
            EXPR_STR@207..216
              Str@207..216 "\"child-b\""
          RParen@216..217 ")"
          Whitespace@217..218 "\n"
      RBrace@218..219 "}"
      Whitespace@219..221 "\n\n"
  FN@221..272
    FnKeyword@221..223 "fn"
    Whitespace@223..224 " "
    Ident@224..229 "spawn"
    PARAM_LIST@229..247
      LParen@229..230 "("
      PARAM@230..245
        Ident@230..233 "job"
        Colon@233..234 ":"
        Whitespace@234..235 " "
        TYPE_FUNC@235..245
          TYPE_TUPLE@235..238
            TYPE_LIST@235..238
              LParen@235..236 "("
              RParen@236..237 ")"
              Whitespace@237..238 " "
          Arrow@238..240 "->"
          Whitespace@240..241 " "
          TYPE_UNIT@241..245
            UnitKeyword@241..245 "unit"
      RParen@245..246 ")"
      Whitespace@246..247 " "
    Arrow@247..249 "->"
    Whitespace@249..250 " "
    TYPE_UNIT@250..255
      UnitKeyword@250..254 "unit"
      Whitespace@254..255 " "
    BLOCK@255..272
      LBrace@255..256 "{"
      Whitespace@256..261 "\n    "
      STMT_EXPR@261..269
        EXPR_GO@261..267
          GoKeyword@261..263 "go"
          Whitespace@263..264 " "
          EXPR_IDENT@264..267
            PATH@264..267
              Ident@264..267 "job"
        Semi@267..268 ";"
        Whitespace@268..269 "\n"
      RBrace@269..270 "}"
      Whitespace@270..272 "\n\n"
  FN@272..352
    FnKeyword@272..274 "fn"
    Whitespace@274..275 " "
    Ident@275..279 "pick"
    PARAM_LIST@279..292
      LParen@279..280 "("
      PARAM@280..290
        Ident@280..284 "flag"
        Colon@284..285 ":"
        Whitespace@285..286 " "
        TYPE_BOOL@286..290
          BoolKeyword@286..290 "bool"
      RParen@290..291 ")"
      Whitespace@291..292 " "
    Arrow@292..294 "->"
    Whitespace@294..295 " "
    TYPE_FUNC@295..306
      TYPE_TUPLE@295..298
        TYPE_LIST@295..298
          LParen@295..296 "("
          RParen@296..297 ")"
          Whitespace@297..298 " "
      Arrow@298..300 "->"
      Whitespace@300..301 " "
      TYPE_UNIT@301..306
        UnitKeyword@301..305 "unit"
        Whitespace@305..306 " "
    BLOCK@306..352
      LBrace@306..307 "{"
      Whitespace@307..312 "\n    "
      EXPR_IF@312..349
        IfKeyword@312..314 "if"
        Whitespace@314..315 " "
        EXPR_IF_COND@315..320
          EXPR_IDENT@315..320
            PATH@315..320
              Ident@315..319 "flag"
              Whitespace@319..320 " "
        EXPR_IF_THEN@320..332
          BLOCK@320..332
            LBrace@320..321 "{"
            Whitespace@321..322 " "
            EXPR_IDENT@322..330
              PATH@322..330
                Ident@322..329 "child_a"
                Whitespace@329..330 " "
            RBrace@330..331 "}"
            Whitespace@331..332 " "
        ElseKeyword@332..336 "else"
        Whitespace@336..337 " "
        EXPR_IF_ELSE@337..349
          BLOCK@337..349
            LBrace@337..338 "{"
            Whitespace@338..339 " "
            EXPR_IDENT@339..347
              PATH@339..347
                Ident@339..346 "child_b"
                Whitespace@346..347 " "
            RBrace@347..348 "}"
            Whitespace@348..349 "\n"
      RBrace@349..350 "}"
      Whitespace@350..352 "\n\n"
  FN@352..404
    FnKeyword@352..354 "fn"
    Whitespace@354..355 " "
    Ident@355..359 "wait"
    PARAM_LIST@359..362
      LParen@359..360 "("
      RParen@360..361 ")"
      Whitespace@361..362 " "
    Arrow@362..364 "->"
    Whitespace@364..365 " "
    TYPE_UNIT@365..370
      UnitKeyword@365..369 "unit"
      Whitespace@369..370 " "
    BLOCK@370..404
      LBrace@370..371 "{"
      Whitespace@371..376 "\n    "
      EXPR_CALL@376..401
        EXPR_IDENT@376..381
          PATH@376..381
            Ident@376..381 "sleep"
        ARG_LIST@381..401
          LParen@381..382 "("
          ARG@382..399
            EXPR_CALL@382..399
              EXPR_IDENT@382..390
                PATH@382..390
                  Ident@382..390 "duration"
              ARG_LIST@390..399
                LParen@390..391 "("
                ARG@391..398
                  EXPR_INT@391..398
                    Int@391..398 "5000000"
                RParen@398..399 ")"
          RParen@399..400 ")"
          Whitespace@400..401 "\n"
      RBrace@401..402 "}"
      Whitespace@402..404 "\n\n"
  FN@404..556
    FnKeyword@404..406 "fn"
    Whitespace@406..407 " "
    Ident@407..411 "main"
    PARAM_LIST@411..414
      LParen@411..412 "("
      RParen@412..413 ")"
      Whitespace@413..414 " "
    Arrow@414..416 "->"
    Whitespace@416..417 " "
    TYPE_UNIT@417..422
      UnitKeyword@417..421 "unit"
      Whitespace@421..422 " "
    BLOCK@422..556
      LBrace@422..423 "{"
      Whitespace@423..428 "\n    "
      STMT_EXPR@428..444
        EXPR_GO@428..438
          GoKeyword@428..430 "go"
          Whitespace@430..431 " "
          EXPR_IDENT@431..438
            PATH@431..438
              Ident@431..438 "child_a"
        Semi@438..439 ";"
        Whitespace@439..444 "\n    "
      STMT_EXPR@444..456
        EXPR_CALL@444..450
          EXPR_IDENT@444..448
            PATH@444..448
              Ident@444..448 "wait"
          ARG_LIST@448..450
            LParen@448..449 "("
            RParen@449..450 ")"
        Semi@450..451 ";"
        Whitespace@451..456 "\n    "
      STMT_EXPR@456..476
        EXPR_CALL@456..470
          EXPR_IDENT@456..461
            PATH@456..461
              Ident@456..461 "spawn"
          ARG_LIST@461..470
            LParen@461..462 "("
            ARG@462..469
              EXPR_IDENT@462..469
                PATH@462..469
                  Ident@462..469 "child_b"
            RParen@469..470 ")"
        Semi@470..471 ";"
        Whitespace@471..476 "\n    "
      STMT_EXPR@476..488
        EXPR_CALL@476..482
          EXPR_IDENT@476..480
            PATH@476..480
              Ident@476..480 "wait"
          ARG_LIST@480..482
            LParen@480..481 "("
            RParen@481..482 ")"
        Semi@482..483 ";"
        Whitespace@483..488 "\n    "
      STMT_LET@488..514
        LetKeyword@488..491 "let"
        Whitespace@491..492 " "
        PATTERN_VARIABLE@492..496
          Ident@492..495 "job"
          Whitespace@495..496 " "
        Eq@496..497 "="
        Whitespace@497..498 " "
        EXPR_CALL@498..508
          EXPR_IDENT@498..502
            PATH@498..502
              Ident@498..502 "pick"
          ARG_LIST@502..508
            LParen@502..503 "("
            ARG@503..507
              EXPR_BOOL@503..507
                TrueKeyword@503..507 "true"
            RParen@507..508 ")"
        Semi@508..509 ";"
        Whitespace@509..514 "\n    "
      STMT_EXPR@514..526
        EXPR_GO@514..520
          GoKeyword@514..516 "go"
          Whitespace@516..517 " "
          EXPR_IDENT@517..520
            PATH@517..520
              Ident@517..520 "job"
        Semi@520..521 ";"
        Whitespace@521..526 "\n    "
      STMT_EXPR@526..538
        EXPR_CALL@526..532
          EXPR_IDENT@526..530
            PATH@526..530
              Ident@526..530 "wait"
          ARG_LIST@530..532
            LParen@530..531 "("
            RParen@531..532 ")"
        Semi@532..533 ";"
        Whitespace@533..538 "\n    "
      EXPR_CALL@538..554
        EXPR_IDENT@538..545
          PATH@538..545
            Ident@538..545 "println"
        ARG_LIST@545..554
          LParen@545..546 "("
          ARG@546..552
            EXPR_STR@546..552
              Str@546..552 "\"main\""
          RParen@552..553 ")"
          Whitespace@553..554 "\n"
      RBrace@554..555 "}"
      Whitespace@555..556 "\n"