FILE@0..549
  FN@0..131
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "print_values"
    PARAM_LIST@15..36
      LParen@15..16 "("
      PARAM@16..34
        Ident@16..22 "values"
        Colon@22..23 ":"
        Whitespace@23..24 " "
        TYPE_TAPP@24..34
          PATH@24..27
            Ident@24..27 "Vec"
          TYPE_PARAM_LIST@27..34
            LBracket@27..28 "["
            TYPE_INT32@28..33
              Int32Keyword@28..33 "int32"
            RBracket@33..34 "]"
      RParen@34..35 ")"
      Whitespace@35..36 " "
    Arrow@36..38 "->"
    Whitespace@38..39 " "
    TYPE_UNIT@39..44
      UnitKeyword@39..43 "unit"
      Whitespace@43..44 " "
    BLOCK@44..131
      LBrace@44..45 "{"
      Whitespace@45..50 "\n    "
      STMT_EXPR@50..77
        EXPR_CALL@50..71
          EXPR_IDENT@50..57
            PATH@50..57
              Ident@50..57 "println"
          ARG_LIST@57..71
            LParen@57..58 "("
            ARG@58..70
              EXPR_CALL@58..70
                EXPR_BINARY@58..68
                  EXPR_IDENT@58..64
                    PATH@58..64
                      Ident@58..64 "values"
                  Dot@64..65 "."
                  EXPR_IDENT@65..68
                    PATH@65..68
                      Ident@65..68 "len"
                ARG_LIST@68..70
                  LParen@68..69 "("
                  RParen@69..70 ")"
            RParen@70..71 ")"
        Semi@71..72 ";"
        Whitespace@72..77 "\n    "
      EXPR_FOR@77..128
        ForKeyword@77..80 "for"
        Whitespace@80..81 " "
        PATTERN_VARIABLE@81..87
          Ident@81..86 "value"
          Whitespace@86..87 " "
        InKeyword@87..89 "in"
        Whitespace@89..90 " "
        EXPR_IDENT@90..97
          PATH@90..97
            Ident@90..96 "values"
            Whitespace@96..97 " "
        BLOCK@97..128
          LBrace@97..98 "{"
          Whitespace@98..107 "\n        "
          EXPR_CALL@107..126
            EXPR_IDENT@107..114
              PATH@107..114
                Ident@107..114 "println"
            ARG_LIST@114..126
              LParen@114..115 "("
              ARG@115..120
                EXPR_IDENT@115..120
                  PATH@115..120
                    Ident@115..120 "value"
              RParen@120..121 ")"
              Whitespace@121..126 "\n    "
          RBrace@126..127 "}"
          Whitespace@127..128 "\n"
      RBrace@128..129 "}"
      Whitespace@129..131 "\n\n"
  FN@131..549
    FnKeyword@131..133 "fn"
    Whitespace@133..134 " "
    Ident@134..138 "main"
    PARAM_LIST@138..141
      LParen@138..139 "("
      RParen@139..140 ")"
      Whitespace@140..141 " "
    BLOCK@141..549
      LBrace@141..142 "{"
      Whitespace@142..147 "\n    "
      STMT_LET@147..188
        LetKeyword@147..150 "let"
        Whitespace@150..151 " "
        PATTERN_VARIABLE@151..157
          Ident@151..157 "values"
        Colon@157..158 ":"
        Whitespace@158..159 " "
        TYPE_TAPP@159..170
          PATH@159..162
            Ident@159..162 "Vec"
          TYPE_PARAM_LIST@162..170
            LBracket@162..163 "["
            TYPE_INT32@163..168
              Int32Keyword@163..168 "int32"
            RBracket@168..169 "]"
            Whitespace@169..170 " "
        Eq@170..171 "="
        Whitespace@171..172 " "
        EXPR_CALL@172..182
          EXPR_IDENT@172..180
            PATH@172..180
              Ident@172..175 "Vec"
              ColonColon@175..177 "::"
              Ident@177..180 "new"
          ARG_LIST@180..182
            LParen@180..181 "("
            RParen@181..182 ")"
        Semi@182..183 ";"
        Whitespace@183..188 "\n    "
      STMT_EXPR@188..208
        EXPR_CALL@188..202
          EXPR_BINARY@188..199
            EXPR_IDENT@188..194
              PATH@188..194
                Ident@188..194 "values"
            Dot@194..195 "."
            EXPR_IDENT@195..199
              PATH@195..199
                Ident@195..199 "push"
          ARG_LIST@199..202
            LParen@199..200 "("
            ARG@200..201
              EXPR_INT@200..201
                Int@200..201 "1"
            RParen@201..202 ")"
        Semi@202..203 ";"
        Whitespace@203..208 "\n    "
      STMT_EXPR@208..228
        EXPR_CALL@208..222
          EXPR_BINARY@208..219
            EXPR_IDENT@208..214
              PATH@208..214
                Ident@208..214 "values"
            Dot@214..215 "."
            EXPR_IDENT@215..219
              PATH@215..219
                Ident@215..219 "push"
          ARG_LIST@219..222
            LParen@219..220 "("
            ARG@220..221
              EXPR_INT@220..221
                Int@220..221 "2"
            RParen@221..222 ")"
        Semi@222..223 ";"
        Whitespace@223..228 "\n    "
      STMT_EXPR@228..248
        EXPR_CALL@228..242
          EXPR_BINARY@228..239
            EXPR_IDENT@228..234
              PATH@228..234
                Ident@228..234 "values"
            Dot@234..235 "."
            EXPR_IDENT@235..239
              PATH@235..239
                Ident@235..239 "push"
          ARG_LIST@239..242
            LParen@239..240 "("
            ARG@240..241
              EXPR_INT@240..241
                Int@240..241 "3"
            RParen@241..242 ")"
        Semi@242..243 ";"
        Whitespace@243..248 "\n    "
      STMT_EXPR@248..275
        EXPR_CALL@248..269
          EXPR_BINARY@248..261
            EXPR_IDENT@248..254
              PATH@248..254
                Ident@248..254 "values"
            Dot@254..255 "."
            EXPR_IDENT@255..261
              PATH@255..261
                Ident@255..261 "extend"
          ARG_LIST@261..269
            LParen@261..262 "("
            ARG@262..268
              EXPR_IDENT@262..268
                PATH@262..268
                  Ident@262..268 "values"
            RParen@268..269 ")"
        Semi@269..270 ";"
        Whitespace@270..275 "\n    "
      STMT_EXPR@275..301
        EXPR_CALL@275..295
          EXPR_IDENT@275..287
            PATH@275..287
              Ident@275..287 "print_values"
          ARG_LIST@287..295
            LParen@287..288 "("
            ARG@288..294
              EXPR_IDENT@288..294
                PATH@288..294
                  Ident@288..294 "values"
            RParen@294..295 ")"
        Semi@295..296 ";"
        Whitespace@296..301 "\n    "
      STMT_LET@301..343
        LetKeyword@301..304 "let"
        Whitespace@304..305 " "
        PATTERN_VARIABLE@305..312
          Ident@305..312 "aliased"
        Colon@312..313 ":"
        Whitespace@313..314 " "
        TYPE_TAPP@314..325
          PATH@314..317
            Ident@314..317 "Vec"
          TYPE_PARAM_LIST@317..325
            LBracket@317..318 "["
            TYPE_INT32@318..323
              Int32Keyword@318..323 "int32"
            RBracket@323..324 "]"
            Whitespace@324..325 " "
        Eq@325..326 "="
        Whitespace@326..327 " "
        EXPR_CALL@327..337
          EXPR_IDENT@327..335
            PATH@327..335
              Ident@327..330 "Vec"
              ColonColon@330..332 "::"
              Ident@332..335 "new"
          ARG_LIST@335..337
            LParen@335..336 "("
            RParen@336..337 ")"
        Semi@337..338 ";"
        Whitespace@338..343 "\n    "
      STMT_EXPR@343..364
        EXPR_CALL@343..358
          EXPR_BINARY@343..355
            EXPR_IDENT@343..350
              PATH@343..350
                Ident@343..350 "aliased"
            Dot@350..351 "."
            EXPR_IDENT@351..355
              PATH@351..355
                Ident@351..355 "push"
          ARG_LIST@355..358
            LParen@355..356 "("
            ARG@356..357
              EXPR_INT@356..357
                Int@356..357 "4"
            RParen@357..358 ")"
        Semi@358..359 ";"
        Whitespace@359..364 "\n    "
      STMT_EXPR@364..385
        EXPR_CALL@364..379
          EXPR_BINARY@364..376
            EXPR_IDENT@364..371
              PATH@364..371
                Ident@364..371 "aliased"
            Dot@371..372 "."
            EXPR_IDENT@372..376
              PATH@372..376
                Ident@372..376 "push"
          ARG_LIST@376..379
            LParen@376..377 "("
            ARG@377..378
              EXPR_INT@377..378
                Int@377..378 "5"
            RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..385 "\n    "
      STMT_LET@385..409
        LetKeyword@385..388 "let"
        Whitespace@388..389 " "
        PATTERN_VARIABLE@389..394
          Ident@389..393 "same"
          Whitespace@393..394 " "
        Eq@394..395 "="
        Whitespace@395..396 " "
        EXPR_IDENT@396..403
          PATH@396..403
            Ident@396..403 "aliased"
        Semi@403..404 ";"
        Whitespace@404..409 "\n    "
      STMT_EXPR@409..435
        EXPR_CALL@409..429
          EXPR_BINARY@409..423
            EXPR_IDENT@409..416
              PATH@409..416
                Ident@409..416 "aliased"
            Dot@416..417 "."
            EXPR_IDENT@417..423
              PATH@417..423
                Ident@417..423 "extend"
          ARG_LIST@423..429
            LParen@423..424 "("
            ARG@424..428
              EXPR_IDENT@424..428
                PATH@424..428
                  Ident@424..428 "same"
            RParen@428..429 ")"
        Semi@429..430 ";"
        Whitespace@430..435 "\n    "
      STMT_EXPR@435..462
        EXPR_CALL@435..456
          EXPR_IDENT@435..447
            PATH@435..447
              Ident@435..447 "print_values"
          ARG_LIST@447..456
            LParen@447..448 "("
            ARG@448..455
              EXPR_IDENT@448..455
                PATH@448..455
                  Ident@448..455 "aliased"
            RParen@455..456 ")"
        Semi@456..457 ";"
        Whitespace@457..462 "\n    "
      STMT_LET@462..502
        LetKeyword@462..465 "let"
        Whitespace@465..466 " "
        PATTERN_VARIABLE@466..471
          Ident@466..471 "empty"
        Colon@471..472 ":"
        Whitespace@472..473 " "
        TYPE_TAPP@473..484
          PATH@473..476
            Ident@473..476 "Vec"
          TYPE_PARAM_LIST@476..484
            LBracket@476..477 "["
            TYPE_INT32@477..482
              Int32Keyword@477..482 "int32"
            RBracket@482..483 "]"
            Whitespace@483..484 " "
        Eq@484..485 "="
        Whitespace@485..486 " "
        EXPR_CALL@486..496
          EXPR_IDENT@486..494
            PATH@486..494
              Ident@486..489 "Vec"
              ColonColon@489..491 "::"
              Ident@491..494 "new"
          ARG_LIST@494..496
            LParen@494..495 "("
            RParen@495..496 ")"
        Semi@496..497 ";"
        Whitespace@497..502 "\n    "
      STMT_EXPR@502..527
        EXPR_CALL@502..521
          EXPR_BINARY@502..514
            EXPR_IDENT@502..507
              PATH@502..507
                Ident@502..507 "empty"
            Dot@507..508 "."
            EXPR_IDENT@508..514
              PATH@508..514
                Ident@508..514 "extend"
          ARG_LIST@514..521
            LParen@514..515 "("
            ARG@515..520
              EXPR_IDENT@515..520
                PATH@515..520
                  Ident@515..520 "empty"
            RParen@520..521 ")"
        Semi@521..522 ";"
        Whitespace@522..527 "\n    "
      EXPR_CALL@527..547
        EXPR_IDENT@527..539
          PATH@527..539
            Ident@527..539 "print_values"
        ARG_LIST@539..547
          LParen@539..540 "("
          ARG@540..545
            EXPR_IDENT@540..545
              PATH@540..545
                Ident@540..545 "empty"
          RParen@545..546 ")"
          Whitespace@546..547 "\n"
      RBrace@547..548 "}"
      Whitespace@548..549 "\n"