FILE@0..539
  FN@0..127
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "print_values"
    PARAM_LIST@15..34
      LParen@15..16 "("
      PARAM@16..32
        Ident@16..22 "values"
        Colon@22..23 ":"
        Whitespace@23..24 " "
        TYPE_TAPP@24..32
          PATH@24..27
            Ident@24..27 "Vec"
          TYPE_PARAM_LIST@27..32
            LBracket@27..28 "["
            TYPE_INT32@28..31
              I32Keyword@28..31 "i32"
            RBracket@31..32 "]"
      RParen@32..33 ")"
      Whitespace@33..34 " "
    Arrow@34..36 "->"
    Whitespace@36..37 " "
    TYPE_TUPLE@37..40
      TYPE_LIST@37..40
        LParen@37..38 "("
        RParen@38..39 ")"
        Whitespace@39..40 " "
    BLOCK@40..127
      LBrace@40..41 "{"
      Whitespace@41..46 "\n    "
      STMT_EXPR@46..73
        EXPR_CALL@46..67
          EXPR_IDENT@46..53
            PATH@46..53
              Ident@46..53 "println"
          ARG_LIST@53..67
            LParen@53..54 "("
            ARG@54..66
              EXPR_CALL@54..66
                EXPR_BINARY@54..64
                  EXPR_IDENT@54..60
                    PATH@54..60
                      Ident@54..60 "values"
                  Dot@60..61 "."
                  EXPR_IDENT@61..64
                    PATH@61..64
                      Ident@61..64 "len"
                ARG_LIST@64..66
                  LParen@64..65 "("
                  RParen@65..66 ")"
            RParen@66..67 ")"
        Semi@67..68 ";"
        Whitespace@68..73 "\n    "
      EXPR_FOR@73..124
        ForKeyword@73..76 "for"
        Whitespace@76..77 " "
        PATTERN_VARIABLE@77..83
          Ident@77..82 "value"
          Whitespace@82..83 " "
        InKeyword@83..85 "in"
        Whitespace@85..86 " "
        EXPR_IDENT@86..93
          PATH@86..93
            Ident@86..92 "values"
            Whitespace@92..93 " "
        BLOCK@93..124
          LBrace@93..94 "{"
          Whitespace@94..103 "\n        "
          EXPR_CALL@103..122
            EXPR_IDENT@103..110
              PATH@103..110
                Ident@103..110 "println"
            ARG_LIST@110..122
              LParen@110..111 "("
              ARG@111..116
                EXPR_IDENT@111..116
                  PATH@111..116
                    Ident@111..116 "value"
              RParen@116..117 ")"
              Whitespace@117..122 "\n    "
          RBrace@122..123 "}"
          Whitespace@123..124 "\n"
      RBrace@124..125 "}"
      Whitespace@125..127 "\n\n"
  FN@127..539
    FnKeyword@127..129 "fn"
    Whitespace@129..130 " "
    Ident@130..134 "main"
    PARAM_LIST@134..137
      LParen@134..135 "("
      RParen@135..136 ")"
      Whitespace@136..137 " "
    BLOCK@137..539
      LBrace@137..138 "{"
      Whitespace@138..143 "\n    "
      STMT_LET@143..182
        LetKeyword@143..146 "let"
        Whitespace@146..147 " "
        PATTERN_VARIABLE@147..153
          Ident@147..153 "values"
        Colon@153..154 ":"
        Whitespace@154..155 " "
        TYPE_TAPP@155..164
          PATH@155..158
            Ident@155..158 "Vec"
          TYPE_PARAM_LIST@158..164
            LBracket@158..159 "["
            TYPE_INT32@159..162
              I32Keyword@159..162 "i32"
            RBracket@162..163 "]"
            Whitespace@163..164 " "
        Eq@164..165 "="
        Whitespace@165..166 " "
        EXPR_CALL@166..176
          EXPR_IDENT@166..174
            PATH@166..174
              Ident@166..169 "Vec"
              ColonColon@169..171 "::"
              Ident@171..174 "new"
          ARG_LIST@174..176
            LParen@174..175 "("
            RParen@175..176 ")"
        Semi@176..177 ";"
        Whitespace@177..182 "\n    "
      STMT_EXPR@182..202
        EXPR_CALL@182..196
          EXPR_BINARY@182..193
            EXPR_IDENT@182..188
              PATH@182..188
                Ident@182..188 "values"
            Dot@188..189 "."
            EXPR_IDENT@189..193
              PATH@189..193
                Ident@189..193 "push"
          ARG_LIST@193..196
            LParen@193..194 "("
            ARG@194..195
              EXPR_INT@194..195
                Int@194..195 "1"
            RParen@195..196 ")"
        Semi@196..197 ";"
        Whitespace@197..202 "\n    "
      STMT_EXPR@202..222
        EXPR_CALL@202..216
          EXPR_BINARY@202..213
            EXPR_IDENT@202..208
              PATH@202..208
                Ident@202..208 "values"
            Dot@208..209 "."
            EXPR_IDENT@209..213
              PATH@209..213
                Ident@209..213 "push"
          ARG_LIST@213..216
            LParen@213..214 "("
            ARG@214..215
              EXPR_INT@214..215
                Int@214..215 "2"
            RParen@215..216 ")"
        Semi@216..217 ";"
        Whitespace@217..222 "\n    "
      STMT_EXPR@222..242
        EXPR_CALL@222..236
          EXPR_BINARY@222..233
            EXPR_IDENT@222..228
              PATH@222..228
                Ident@222..228 "values"
            Dot@228..229 "."
            EXPR_IDENT@229..233
              PATH@229..233
                Ident@229..233 "push"
          ARG_LIST@233..236
            LParen@233..234 "("
            ARG@234..235
              EXPR_INT@234..235
                Int@234..235 "3"
            RParen@235..236 ")"
        Semi@236..237 ";"
        Whitespace@237..242 "\n    "
      STMT_EXPR@242..269
        EXPR_CALL@242..263
          EXPR_BINARY@242..255
            EXPR_IDENT@242..248
              PATH@242..248
                Ident@242..248 "values"
            Dot@248..249 "."
            EXPR_IDENT@249..255
              PATH@249..255
                Ident@249..255 "extend"
          ARG_LIST@255..263
            LParen@255..256 "("
            ARG@256..262
              EXPR_IDENT@256..262
                PATH@256..262
                  Ident@256..262 "values"
            RParen@262..263 ")"
        Semi@263..264 ";"
        Whitespace@264..269 "\n    "
      STMT_EXPR@269..295
        EXPR_CALL@269..289
          EXPR_IDENT@269..281
            PATH@269..281
              Ident@269..281 "print_values"
          ARG_LIST@281..289
            LParen@281..282 "("
            ARG@282..288
              EXPR_IDENT@282..288
                PATH@282..288
                  Ident@282..288 "values"
            RParen@288..289 ")"
        Semi@289..290 ";"
        Whitespace@290..295 "\n    "
      STMT_LET@295..335
        LetKeyword@295..298 "let"
        Whitespace@298..299 " "
        PATTERN_VARIABLE@299..306
          Ident@299..306 "aliased"
        Colon@306..307 ":"
        Whitespace@307..308 " "
        TYPE_TAPP@308..317
          PATH@308..311
            Ident@308..311 "Vec"
          TYPE_PARAM_LIST@311..317
            LBracket@311..312 "["
            TYPE_INT32@312..315
              I32Keyword@312..315 "i32"
            RBracket@315..316 "]"
            Whitespace@316..317 " "
        Eq@317..318 "="
        Whitespace@318..319 " "
        EXPR_CALL@319..329
          EXPR_IDENT@319..327
            PATH@319..327
              Ident@319..322 "Vec"
              ColonColon@322..324 "::"
              Ident@324..327 "new"
          ARG_LIST@327..329
            LParen@327..328 "("
            RParen@328..329 ")"
        Semi@329..330 ";"
        Whitespace@330..335 "\n    "
      STMT_EXPR@335..356
        EXPR_CALL@335..350
          EXPR_BINARY@335..347
            EXPR_IDENT@335..342
              PATH@335..342
                Ident@335..342 "aliased"
            Dot@342..343 "."
            EXPR_IDENT@343..347
              PATH@343..347
                Ident@343..347 "push"
          ARG_LIST@347..350
            LParen@347..348 "("
            ARG@348..349
              EXPR_INT@348..349
                Int@348..349 "4"
            RParen@349..350 ")"
        Semi@350..351 ";"
        Whitespace@351..356 "\n    "
      STMT_EXPR@356..377
        EXPR_CALL@356..371
          EXPR_BINARY@356..368
            EXPR_IDENT@356..363
              PATH@356..363
                Ident@356..363 "aliased"
            Dot@363..364 "."
            EXPR_IDENT@364..368
              PATH@364..368
                Ident@364..368 "push"
          ARG_LIST@368..371
            LParen@368..369 "("
            ARG@369..370
              EXPR_INT@369..370
                Int@369..370 "5"
            RParen@370..371 ")"
        Semi@371..372 ";"
        Whitespace@372..377 "\n    "
      STMT_LET@377..401
        LetKeyword@377..380 "let"
        Whitespace@380..381 " "
        PATTERN_VARIABLE@381..386
          Ident@381..385 "same"
          Whitespace@385..386 " "
        Eq@386..387 "="
        Whitespace@387..388 " "
        EXPR_IDENT@388..395
          PATH@388..395
            Ident@388..395 "aliased"
        Semi@395..396 ";"
        Whitespace@396..401 "\n    "
      STMT_EXPR@401..427
        EXPR_CALL@401..421
          EXPR_BINARY@401..415
            EXPR_IDENT@401..408
              PATH@401..408
                Ident@401..408 "aliased"
            Dot@408..409 "."
            EXPR_IDENT@409..415
              PATH@409..415
                Ident@409..415 "extend"
          ARG_LIST@415..421
            LParen@415..416 "("
            ARG@416..420
              EXPR_IDENT@416..420
                PATH@416..420
                  Ident@416..420 "same"
            RParen@420..421 ")"
        Semi@421..422 ";"
        Whitespace@422..427 "\n    "
      STMT_EXPR@427..454
        EXPR_CALL@427..448
          EXPR_IDENT@427..439
            PATH@427..439
              Ident@427..439 "print_values"
          ARG_LIST@439..448
            LParen@439..440 "("
            ARG@440..447
              EXPR_IDENT@440..447
                PATH@440..447
                  Ident@440..447 "aliased"
            RParen@447..448 ")"
        Semi@448..449 ";"
        Whitespace@449..454 "\n    "
      STMT_LET@454..492
        LetKeyword@454..457 "let"
        Whitespace@457..458 " "
        PATTERN_VARIABLE@458..463
          Ident@458..463 "empty"
        Colon@463..464 ":"
        Whitespace@464..465 " "
        TYPE_TAPP@465..474
          PATH@465..468
            Ident@465..468 "Vec"
          TYPE_PARAM_LIST@468..474
            LBracket@468..469 "["
            TYPE_INT32@469..472
              I32Keyword@469..472 "i32"
            RBracket@472..473 "]"
            Whitespace@473..474 " "
        Eq@474..475 "="
        Whitespace@475..476 " "
        EXPR_CALL@476..486
          EXPR_IDENT@476..484
            PATH@476..484
              Ident@476..479 "Vec"
              ColonColon@479..481 "::"
              Ident@481..484 "new"
          ARG_LIST@484..486
            LParen@484..485 "("
            RParen@485..486 ")"
        Semi@486..487 ";"
        Whitespace@487..492 "\n    "
      STMT_EXPR@492..517
        EXPR_CALL@492..511
          EXPR_BINARY@492..504
            EXPR_IDENT@492..497
              PATH@492..497
                Ident@492..497 "empty"
            Dot@497..498 "."
            EXPR_IDENT@498..504
              PATH@498..504
                Ident@498..504 "extend"
          ARG_LIST@504..511
            LParen@504..505 "("
            ARG@505..510
              EXPR_IDENT@505..510
                PATH@505..510
                  Ident@505..510 "empty"
            RParen@510..511 ")"
        Semi@511..512 ";"
        Whitespace@512..517 "\n    "
      EXPR_CALL@517..537
        EXPR_IDENT@517..529
          PATH@517..529
            Ident@517..529 "print_values"
        ARG_LIST@529..537
          LParen@529..530 "("
          ARG@530..535
            EXPR_IDENT@530..535
              PATH@530..535
                Ident@530..535 "empty"
          RParen@535..536 ")"
          Whitespace@536..537 "\n"
      RBrace@537..538 "}"
      Whitespace@538..539 "\n"