FILE@0..820
  FN@0..820
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..820
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..52
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "i"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..46
          EXPR_IDENT@32..40
            PATH@32..40
              Ident@32..35 "Ref"
              ColonColon@35..37 "::"
              Ident@37..40 "new"
          ARG_LIST@40..46
            LParen@40..41 "("
            ARG@41..45
              EXPR_INT32@41..45
                Int32Lit@41..45 "0i32"
            RParen@45..46 ")"
        Semi@46..47 ";"
        Whitespace@47..52 "\n    "
      STMT_EXPR@52..171
        EXPR_WHILE@52..164
          WhileKeyword@52..57 "while"
          Whitespace@57..58 " "
          EXPR_WHILE_COND@58..100
            EXPR_IF@58..100
              IfKeyword@58..60 "if"
              Whitespace@60..61 " "
              EXPR_IF_COND@61..76
                EXPR_BINARY@61..76
                  EXPR_CALL@61..69
                    EXPR_BINARY@61..66
                      EXPR_IDENT@61..62
                        PATH@61..62
                          Ident@61..62 "i"
                      Dot@62..63 "."
                      EXPR_IDENT@63..66
                        PATH@63..66
                          Ident@63..66 "get"
                    ARG_LIST@66..69
                      LParen@66..67 "("
                      RParen@67..68 ")"
                      Whitespace@68..69 " "
                  Less@69..70 "<"
                  Whitespace@70..71 " "
                  EXPR_INT32@71..76
                    Int32Lit@71..75 "3i32"
                    Whitespace@75..76 " "
              EXPR_IF_THEN@76..85
                BLOCK@76..85
                  LBrace@76..77 "{"
                  Whitespace@77..78 " "
                  EXPR_BOOL@78..83
                    TrueKeyword@78..82 "true"
                    Whitespace@82..83 " "
                  RBrace@83..84 "}"
                  Whitespace@84..85 " "
              ElseKeyword@85..89 "else"
              Whitespace@89..90 " "
              EXPR_IF_ELSE@90..100
                BLOCK@90..100
                  LBrace@90..91 "{"
                  Whitespace@91..92 " "
                  EXPR_BOOL@92..98
                    FalseKeyword@92..97 "false"
                    Whitespace@97..98 " "
                  RBrace@98..99 "}"
                  Whitespace@99..100 " "
          EXPR_WHILE_BODY@100..164
            BLOCK@100..164
              LBrace@100..101 "{"
              Whitespace@101..110 "\n        "
              STMT_EXPR@110..136
                EXPR_CALL@110..126
                  EXPR_IDENT@110..117
                    PATH@110..117
                      Ident@110..117 "println"
                  ARG_LIST@117..126
                    LParen@117..118 "("
                    ARG@118..125
                      EXPR_CALL@118..125
                        EXPR_BINARY@118..123
                          EXPR_IDENT@118..119
                            PATH@118..119
                              Ident@118..119 "i"
                          Dot@119..120 "."
                          EXPR_IDENT@120..123
                            PATH@120..123
                              Ident@120..123 "get"
                        ARG_LIST@123..125
                          LParen@123..124 "("
                          RParen@124..125 ")"
                    RParen@125..126 ")"
                Semi@126..127 ";"
                Whitespace@127..136 "\n        "
              STMT_EXPR@136..163
                EXPR_CALL@136..157
                  EXPR_BINARY@136..141
                    EXPR_IDENT@136..137
                      PATH@136..137
                        Ident@136..137 "i"
                    Dot@137..138 "."
                    EXPR_IDENT@138..141
                      PATH@138..141
                        Ident@138..141 "set"
                  ARG_LIST@141..157
                    LParen@141..142 "("
                    ARG@142..156
                      EXPR_BINARY@142..156
                        EXPR_CALL@142..150
                          EXPR_BINARY@142..147
                            EXPR_IDENT@142..143
                              PATH@142..143
                                Ident@142..143 "i"
                            Dot@143..144 "."
                            EXPR_IDENT@144..147
                              PATH@144..147
                                Ident@144..147 "get"
                          ARG_LIST@147..150
                            LParen@147..148 "("
                            RParen@148..149 ")"
                            Whitespace@149..150 " "
                        Plus@150..151 "+"
                        Whitespace@151..152 " "
                        EXPR_INT32@152..156
                          Int32Lit@152..156 "1i32"
                    RParen@156..157 ")"
                Semi@157..158 ";"
                Whitespace@158..163 "\n    "
              RBrace@163..164 "}"
        Semi@164..165 ";"
        Whitespace@165..171 "\n\n    "
      STMT_LET@171..199
        LetKeyword@171..174 "let"
        Whitespace@174..175 " "
        PATTERN_VARIABLE@175..177
          Ident@175..176 "j"
          Whitespace@176..177 " "
        Eq@177..178 "="
        Whitespace@178..179 " "
        EXPR_CALL@179..193
          EXPR_IDENT@179..187
            PATH@179..187
              Ident@179..182 "Ref"
              ColonColon@182..184 "::"
              Ident@184..187 "new"
          ARG_LIST@187..193
            LParen@187..188 "("
            ARG@188..192
              EXPR_INT32@188..192
                Int32Lit@188..192 "0i32"
            RParen@192..193 ")"
        Semi@193..194 ";"
        Whitespace@194..199 "\n    "
      STMT_LET@199..231
        LetKeyword@199..202 "let"
        Whitespace@202..203 " "
        PATTERN_VARIABLE@203..209
          Ident@203..208 "total"
          Whitespace@208..209 " "
        Eq@209..210 "="
        Whitespace@210..211 " "
        EXPR_CALL@211..225
          EXPR_IDENT@211..219
            PATH@211..219
              Ident@211..214 "Ref"
              ColonColon@214..216 "::"
              Ident@216..219 "new"
          ARG_LIST@219..225
            LParen@219..220 "("
            ARG@220..224
              EXPR_INT32@220..224
                Int32Lit@220..224 "0i32"
            RParen@224..225 ")"
        Semi@225..226 ";"
        Whitespace@226..231 "\n    "
      STMT_EXPR@231..477
        EXPR_WHILE@231..471
          WhileKeyword@231..236 "while"
          Whitespace@236..237 " "
          EXPR_WHILE_COND@237..391
            EXPR_IF@237..391
              IfKeyword@237..239 "if"
              Whitespace@239..240 " "
              EXPR_IF_COND@240..255
                EXPR_BINARY@240..255
                  EXPR_CALL@240..248
                    EXPR_BINARY@240..245
                      EXPR_IDENT@240..241
                        PATH@240..241
                          Ident@240..241 "j"
                      Dot@241..242 "."
                      EXPR_IDENT@242..245
                        PATH@242..245
                          Ident@242..245 "get"
                    ARG_LIST@245..248
                      LParen@245..246 "("
                      RParen@246..247 ")"
                      Whitespace@247..248 " "
                  Less@248..249 "<"
                  Whitespace@249..250 " "
                  EXPR_INT32@250..255
                    Int32Lit@250..254 "4i32"
                    Whitespace@254..255 " "
              EXPR_IF_THEN@255..364
                BLOCK@255..364
                  LBrace@255..256 "{"
                  Whitespace@256..265 "\n        "
                  EXPR_IF@265..362
                    IfKeyword@265..267 "if"
                    Whitespace@267..268 " "
                    EXPR_IF_COND@268..284
                      EXPR_BINARY@268..284
                        EXPR_CALL@268..276
                          EXPR_BINARY@268..273
                            EXPR_IDENT@268..269
                              PATH@268..269
                                Ident@268..269 "j"
                            Dot@269..270 "."
                            EXPR_IDENT@270..273
                              PATH@270..273
                                Ident@270..273 "get"
                          ARG_LIST@273..276
                            LParen@273..274 "("
                            RParen@274..275 ")"
                            Whitespace@275..276 " "
                        EqEq@276..278 "=="
                        Whitespace@278..279 " "
                        EXPR_INT32@279..284
                          Int32Lit@279..283 "1i32"
                          Whitespace@283..284 " "
                    EXPR_IF_THEN@284..313
                      BLOCK@284..313
                        LBrace@284..285 "{"
                        Whitespace@285..298 "\n            "
                        EXPR_BOOL@298..311
                          TrueKeyword@298..302 "true"
                          Whitespace@302..311 "\n        "
                        RBrace@311..312 "}"
                        Whitespace@312..313 " "
                    ElseKeyword@313..317 "else"
                    Whitespace@317..318 " "
                    EXPR_IF_ELSE@318..362
                      BLOCK@318..362
                        LBrace@318..319 "{"
                        Whitespace@319..332 "\n            "
                        EXPR_BINARY@332..356
                          EXPR_CALL@332..340
                            EXPR_BINARY@332..337
                              EXPR_IDENT@332..333
                                PATH@332..333
                                  Ident@332..333 "j"
                              Dot@333..334 "."
                              EXPR_IDENT@334..337
                                PATH@334..337
                                  Ident@334..337 "get"
                            ARG_LIST@337..340
                              LParen@337..338 "("
                              RParen@338..339 ")"
                              Whitespace@339..340 " "
                          NotEq@340..342 "!="
                          Whitespace@342..343 " "
                          EXPR_INT32@343..356
                            Int32Lit@343..347 "3i32"
                            Whitespace@347..356 "\n        "
                        RBrace@356..357 "}"
                        Whitespace@357..362 "\n    "
                  RBrace@362..363 "}"
                  Whitespace@363..364 " "
              ElseKeyword@364..368 "else"
              Whitespace@368..369 " "
              EXPR_IF_ELSE@369..391
                BLOCK@369..391
                  LBrace@369..370 "{"
                  Whitespace@370..379 "\n        "
                  EXPR_BOOL@379..389
                    FalseKeyword@379..384 "false"
                    Whitespace@384..389 "\n    "
                  RBrace@389..390 "}"
                  Whitespace@390..391 " "
          EXPR_WHILE_BODY@391..471
            BLOCK@391..471
              LBrace@391..392 "{"
              Whitespace@392..401 "\n        "
              STMT_EXPR@401..443
                EXPR_CALL@401..433
                  EXPR_BINARY@401..410
                    EXPR_IDENT@401..406
                      PATH@401..406
                        Ident@401..406 "total"
                    Dot@406..407 "."
                    EXPR_IDENT@407..410
                      PATH@407..410
                        Ident@407..410 "set"
                  ARG_LIST@410..433
                    LParen@410..411 "("
                    ARG@411..432
                      EXPR_BINARY@411..432
                        EXPR_CALL@411..423
                          EXPR_BINARY@411..420
                            EXPR_IDENT@411..416
                              PATH@411..416
                                Ident@411..416 "total"
                            Dot@416..417 "."
                            EXPR_IDENT@417..420
                              PATH@417..420
                                Ident@417..420 "get"
                          ARG_LIST@420..423
                            LParen@420..421 "("
                            RParen@421..422 ")"
                            Whitespace@422..423 " "
                        Plus@423..424 "+"
                        Whitespace@424..425 " "
                        EXPR_CALL@425..432
                          EXPR_BINARY@425..430
                            EXPR_IDENT@425..426
                              PATH@425..426
                                Ident@425..426 "j"
                            Dot@426..427 "."
                            EXPR_IDENT@427..430
                              PATH@427..430
                                Ident@427..430 "get"
                          ARG_LIST@430..432
                            LParen@430..431 "("
                            RParen@431..432 ")"
                    RParen@432..433 ")"
                Semi@433..434 ";"
                Whitespace@434..443 "\n        "
              STMT_EXPR@443..470
                EXPR_CALL@443..464
                  EXPR_BINARY@443..448
                    EXPR_IDENT@443..444
                      PATH@443..444
                        Ident@443..444 "j"
                    Dot@444..445 "."
                    EXPR_IDENT@445..448
                      PATH@445..448
                        Ident@445..448 "set"
                  ARG_LIST@448..464
                    LParen@448..449 "("
                    ARG@449..463
                      EXPR_BINARY@449..463
                        EXPR_CALL@449..457
                          EXPR_BINARY@449..454
                            EXPR_IDENT@449..450
                              PATH@449..450
                                Ident@449..450 "j"
                            Dot@450..451 "."
                            EXPR_IDENT@451..454
                              PATH@451..454
                                Ident@451..454 "get"
                          ARG_LIST@454..457
                            LParen@454..455 "("
                            RParen@455..456 ")"
                            Whitespace@456..457 " "
                        Plus@457..458 "+"
                        Whitespace@458..459 " "
                        EXPR_INT32@459..463
                          Int32Lit@459..463 "1i32"
                    RParen@463..464 ")"
                Semi@464..465 ";"
                Whitespace@465..470 "\n    "
              RBrace@470..471 "}"
        Semi@471..472 ";"
        Whitespace@472..477 "\n    "
      STMT_EXPR@477..504
        EXPR_CALL@477..497
          EXPR_IDENT@477..484
            PATH@477..484
              Ident@477..484 "println"
          ARG_LIST@484..497
            LParen@484..485 "("
            ARG@485..496
              EXPR_CALL@485..496
                EXPR_BINARY@485..494
                  EXPR_IDENT@485..490
                    PATH@485..490
                      Ident@485..490 "total"
                  Dot@490..491 "."
                  EXPR_IDENT@491..494
                    PATH@491..494
                      Ident@491..494 "get"
                ARG_LIST@494..496
                  LParen@494..495 "("
                  RParen@495..496 ")"
            RParen@496..497 ")"
        Semi@497..498 ";"
        Whitespace@498..504 "\n\n    "
      STMT_LET@504..532
        LetKeyword@504..507 "let"
        Whitespace@507..508 " "
        PATTERN_VARIABLE@508..510
          Ident@508..509 "k"
          Whitespace@509..510 " "
        Eq@510..511 "="
        Whitespace@511..512 " "
        EXPR_CALL@512..526
          EXPR_IDENT@512..520
            PATH@512..520
              Ident@512..515 "Ref"
              ColonColon@515..517 "::"
              Ident@517..520 "new"
          ARG_LIST@520..526
            LParen@520..521 "("
            ARG@521..525
              EXPR_INT32@521..525
                Int32Lit@521..525 "0i32"
            RParen@525..526 ")"
        Semi@526..527 ";"
        Whitespace@527..532 "\n    "
      STMT_LET@532..562
        LetKeyword@532..535 "let"
        Whitespace@535..536 " "
        PATTERN_VARIABLE@536..540
          Ident@536..539 "sum"
          Whitespace@539..540 " "
        Eq@540..541 "="
        Whitespace@541..542 " "
        EXPR_CALL@542..556
          EXPR_IDENT@542..550
            PATH@542..550
              Ident@542..545 "Ref"
              ColonColon@545..547 "::"
              Ident@547..550 "new"
          ARG_LIST@550..556
            LParen@550..551 "("
            ARG@551..555
              EXPR_INT32@551..555
                Int32Lit@551..555 "0i32"
            RParen@555..556 ")"
        Semi@556..557 ";"
        Whitespace@557..562 "\n    "
      STMT_EXPR@562..798
        EXPR_WHILE@562..792
          WhileKeyword@562..567 "while"
          Whitespace@567..568 " "
          EXPR_WHILE_COND@568..716
            EXPR_MATCH@568..716
              MatchKeyword@568..573 "match"
              Whitespace@573..574 " "
              EXPR_CALL@574..582
                EXPR_BINARY@574..579
                  EXPR_IDENT@574..575
                    PATH@574..575
                      Ident@574..575 "k"
                  Dot@575..576 "."
                  EXPR_IDENT@576..579
                    PATH@576..579
                      Ident@576..579 "get"
                ARG_LIST@579..582
                  LParen@579..580 "("
                  RParen@580..581 ")"
                  Whitespace@581..582 " "
              MATCH_ARM_LIST@582..716
                LBrace@582..583 "{"
                Whitespace@583..592 "\n        "
                MATCH_ARM@592..604
                  PATTERN_INT32@592..597
                    Int32Lit@592..596 "0i32"
                    Whitespace@596..597 " "
                  FatArrow@597..599 "=>"
                  Whitespace@599..600 " "
                  EXPR_BOOL@600..604
                    TrueKeyword@600..604 "true"
                Comma@604..605 ","
                Whitespace@605..614 "\n        "
                MATCH_ARM@614..666
                  PATTERN_INT32@614..619
                    Int32Lit@614..618 "1i32"
                    Whitespace@618..619 " "
                  FatArrow@619..621 "=>"
                  Whitespace@621..622 " "
                  EXPR_IF@622..666
                    IfKeyword@622..624 "if"
                    Whitespace@624..625 " "
                    EXPR_IF_COND@625..643
                      EXPR_BINARY@625..643
                        EXPR_CALL@625..635
                          EXPR_BINARY@625..632
                            EXPR_IDENT@625..628
                              PATH@625..628
                                Ident@625..628 "sum"
                            Dot@628..629 "."
                            EXPR_IDENT@629..632
                              PATH@629..632
                                Ident@629..632 "get"
                          ARG_LIST@632..635
                            LParen@632..633 "("
                            RParen@633..634 ")"
                            Whitespace@634..635 " "
                        EqEq@635..637 "=="
                        Whitespace@637..638 " "
                        EXPR_INT32@638..643
                          Int32Lit@638..642 "0i32"
                          Whitespace@642..643 " "
                    EXPR_IF_THEN@643..652
                      BLOCK@643..652
                        LBrace@643..644 "{"
                        Whitespace@644..645 " "
                        EXPR_BOOL@645..650
                          TrueKeyword@645..649 "true"
                          Whitespace@649..650 " "
                        RBrace@650..651 "}"
                        Whitespace@651..652 " "
                    ElseKeyword@652..656 "else"
                    Whitespace@656..657 " "
                    EXPR_IF_ELSE@657..666
                      BLOCK@657..666
                        LBrace@657..658 "{"
                        Whitespace@658..659 " "
                        EXPR_BOOL@659..665
                          FalseKeyword@659..664 "false"
                          Whitespace@664..665 " "
                        RBrace@665..666 "}"
                Comma@666..667 ","
                Whitespace@667..676 "\n        "
                MATCH_ARM@676..688
                  PATTERN_INT32@676..681
                    Int32Lit@676..680 "2i32"
                    Whitespace@680..681 " "
                  FatArrow@681..683 "=>"
                  Whitespace@683..684 " "
                  EXPR_BOOL@684..688
                    TrueKeyword@684..688 "true"
                Comma@688..689 ","
                Whitespace@689..698 "\n        "
                MATCH_ARM@698..708
                  PATTERN_WILDCARD@698..700
                    WildcardKeyword@698..699 "_"
                    Whitespace@699..700 " "
                  FatArrow@700..702 "=>"
                  Whitespace@702..703 " "
                  EXPR_BOOL@703..708
                    FalseKeyword@703..708 "false"
                Comma@708..709 ","
                Whitespace@709..714 "\n    "
                RBrace@714..715 "}"
                Whitespace@715..716 " "
          EXPR_WHILE_BODY@716..792
            BLOCK@716..792
              LBrace@716..717 "{"
              Whitespace@717..726 "\n        "
              STMT_EXPR@726..764
                EXPR_CALL@726..754
                  EXPR_BINARY@726..733
                    EXPR_IDENT@726..729
                      PATH@726..729
                        Ident@726..729 "sum"
                    Dot@729..730 "."
                    EXPR_IDENT@730..733
                      PATH@730..733
                        Ident@730..733 "set"
                  ARG_LIST@733..754
                    LParen@733..734 "("
                    ARG@734..753
                      EXPR_BINARY@734..753
                        EXPR_CALL@734..744
                          EXPR_BINARY@734..741
                            EXPR_IDENT@734..737
                              PATH@734..737
                                Ident@734..737 "sum"
                            Dot@737..738 "."
                            EXPR_IDENT@738..741
                              PATH@738..741
                                Ident@738..741 "get"
                          ARG_LIST@741..744
                            LParen@741..742 "("
                            RParen@742..743 ")"
                            Whitespace@743..744 " "
                        Plus@744..745 "+"
                        Whitespace@745..746 " "
                        EXPR_CALL@746..753
                          EXPR_BINARY@746..751
                            EXPR_IDENT@746..747
                              PATH@746..747
                                Ident@746..747 "k"
                            Dot@747..748 "."
                            EXPR_IDENT@748..751
                              PATH@748..751
                                Ident@748..751 "get"
                          ARG_LIST@751..753
                            LParen@751..752 "("
                            RParen@752..753 ")"
                    RParen@753..754 ")"
                Semi@754..755 ";"
                Whitespace@755..764 "\n        "
              STMT_EXPR@764..791
                EXPR_CALL@764..785
                  EXPR_BINARY@764..769
                    EXPR_IDENT@764..765
                      PATH@764..765
                        Ident@764..765 "k"
                    Dot@765..766 "."
                    EXPR_IDENT@766..769
                      PATH@766..769
                        Ident@766..769 "set"
                  ARG_LIST@769..785
                    LParen@769..770 "("
                    ARG@770..784
                      EXPR_BINARY@770..784
                        EXPR_CALL@770..778
                          EXPR_BINARY@770..775
                            EXPR_IDENT@770..771
                              PATH@770..771
                                Ident@770..771 "k"
                            Dot@771..772 "."
                            EXPR_IDENT@772..775
                              PATH@772..775
                                Ident@772..775 "get"
                          ARG_LIST@775..778
                            LParen@775..776 "("
                            RParen@776..777 ")"
                            Whitespace@777..778 " "
                        Plus@778..779 "+"
                        Whitespace@779..780 " "
                        EXPR_INT32@780..784
                          Int32Lit@780..784 "1i32"
                    RParen@784..785 ")"
                Semi@785..786 ";"
                Whitespace@786..791 "\n    "
              RBrace@791..792 "}"
        Semi@792..793 ";"
        Whitespace@793..798 "\n    "
      STMT_EXPR@798..818
        EXPR_CALL@798..816
          EXPR_IDENT@798..805
            PATH@798..805
              Ident@798..805 "println"
          ARG_LIST@805..816
            LParen@805..806 "("
            ARG@806..815
              EXPR_CALL@806..815
                EXPR_BINARY@806..813
                  EXPR_IDENT@806..809
                    PATH@806..809
                      Ident@806..809 "sum"
                  Dot@809..810 "."
                  EXPR_IDENT@810..813
                    PATH@810..813
                      Ident@810..813 "get"
                ARG_LIST@813..815
                  LParen@813..814 "("
                  RParen@814..815 ")"
            RParen@815..816 ")"
        Semi@816..817 ";"
        Whitespace@817..818 "\n"
      RBrace@818..819 "}"
      Whitespace@819..820 "\n"