FILE@0..291
  FN@0..291
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..291
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..73
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..35
          Ident@28..35 "minimum"
        Colon@35..36 ":"
        Whitespace@36..37 " "
        TYPE_INT64@37..41
          I64Keyword@37..40 "i64"
          Whitespace@40..41 " "
        Eq@41..42 "="
        Whitespace@42..43 " "
        EXPR_BINARY@43..67
          EXPR_PREFIX@43..64
            Minus@43..44 "-"
            EXPR_INT@44..64
              Int@44..63 "9223372036854775807"
              Whitespace@63..64 " "
          Minus@64..65 "-"
          Whitespace@65..66 " "
          EXPR_INT@66..67
            Int@66..67 "1"
        Semi@67..68 ";"
        Whitespace@68..73 "\n    "
      STMT_LET@73..117
        LetKeyword@73..76 "let"
        Whitespace@76..77 " "
        PATTERN_VARIABLE@77..84
          Ident@77..84 "maximum"
        Colon@84..85 ":"
        Whitespace@85..86 " "
        TYPE_INT64@86..90
          I64Keyword@86..89 "i64"
          Whitespace@89..90 " "
        Eq@90..91 "="
        Whitespace@91..92 " "
        EXPR_INT@92..111
          Int@92..111 "9223372036854775807"
        Semi@111..112 ";"
        Whitespace@112..117 "\n    "
      STMT_LET@117..163
        LetKeyword@117..120 "let"
        Whitespace@120..121 " "
        PATTERN_VARIABLE@121..129
          Ident@121..129 "unsigned"
        Colon@129..130 ":"
        Whitespace@130..131 " "
        TYPE_UINT64@131..135
          U64Keyword@131..134 "u64"
          Whitespace@134..135 " "
        Eq@135..136 "="
        Whitespace@136..137 " "
        EXPR_INT@137..157
          Int@137..157 "18446744073709551615"
        Semi@157..158 ";"
        Whitespace@158..163 "\n    "
      STMT_EXPR@163..185
        EXPR_CALL@163..179
          EXPR_IDENT@163..170
            PATH@163..170
              Ident@163..170 "println"
          ARG_LIST@170..179
            LParen@170..171 "("
            ARG@171..178
              EXPR_IDENT@171..178
                PATH@171..178
                  Ident@171..178 "minimum"
            RParen@178..179 ")"
        Semi@179..180 ";"
        Whitespace@180..185 "\n    "
      STMT_EXPR@185..207
        EXPR_CALL@185..201
          EXPR_IDENT@185..192
            PATH@185..192
              Ident@185..192 "println"
          ARG_LIST@192..201
            LParen@192..193 "("
            ARG@193..200
              EXPR_IDENT@193..200
                PATH@193..200
                  Ident@193..200 "maximum"
            RParen@200..201 ")"
        Semi@201..202 ";"
        Whitespace@202..207 "\n    "
      STMT_EXPR@207..230
        EXPR_CALL@207..224
          EXPR_IDENT@207..214
            PATH@207..214
              Ident@207..214 "println"
          ARG_LIST@214..224
            LParen@214..215 "("
            ARG@215..223
              EXPR_IDENT@215..223
                PATH@215..223
                  Ident@215..223 "unsigned"
            RParen@223..224 ")"
        Semi@224..225 ";"
        Whitespace@225..230 "\n    "
      EXPR_CALL@230..289
        EXPR_IDENT@230..237
          PATH@230..237
            Ident@230..237 "println"
        ARG_LIST@237..289
          LParen@237..238 "("
          ARG@238..287
            EXPR_CALL@238..287
              EXPR_IDENT@238..251
                PATH@238..251
                  Ident@238..251 "string_concat"
              ARG_LIST@251..287
                LParen@251..252 "("
                ARG@252..286
                  EXPR_CALL@252..286
                    EXPR_IDENT@252..267
                      PATH@252..267
                        Ident@252..255 "Vec"
                        ColonColon@255..257 "::"
                        Ident@257..267 "from_array"
                    ARG_LIST@267..286
                      LParen@267..268 "("
                      ARG@268..285
                        EXPR_ARRAY_LITERAL@268..285
                          LBracket@268..269 "["
                          EXPR_STR@269..273
                            Str@269..273 "\"go\""
                          Comma@273..274 ","
                          Whitespace@274..275 " "
                          EXPR_STR@275..279
                            Str@275..279 "\"ml\""
                          Comma@279..280 ","
                          Whitespace@280..281 " "
                          EXPR_STR@281..284
                            Str@281..284 "\"!\""
                          RBracket@284..285 "]"
                      RParen@285..286 ")"
                RParen@286..287 ")"
          RParen@287..288 ")"
          Whitespace@288..289 "\n"
      RBrace@289..290 "}"
      Whitespace@290..291 "\n"