FILE@0..289
  FN@0..289
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..289
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..71
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        PATTERN_VARIABLE@26..33
          Ident@26..33 "minimum"
        Colon@33..34 ":"
        Whitespace@34..35 " "
        TYPE_INT64@35..39
          I64Keyword@35..38 "i64"
          Whitespace@38..39 " "
        Eq@39..40 "="
        Whitespace@40..41 " "
        EXPR_BINARY@41..65
          EXPR_PREFIX@41..62
            Minus@41..42 "-"
            EXPR_INT@42..62
              Int@42..61 "9223372036854775807"
              Whitespace@61..62 " "
          Minus@62..63 "-"
          Whitespace@63..64 " "
          EXPR_INT@64..65
            Int@64..65 "1"
        Semi@65..66 ";"
        Whitespace@66..71 "\n    "
      STMT_LET@71..115
        LetKeyword@71..74 "let"
        Whitespace@74..75 " "
        PATTERN_VARIABLE@75..82
          Ident@75..82 "maximum"
        Colon@82..83 ":"
        Whitespace@83..84 " "
        TYPE_INT64@84..88
          I64Keyword@84..87 "i64"
          Whitespace@87..88 " "
        Eq@88..89 "="
        Whitespace@89..90 " "
        EXPR_INT@90..109
          Int@90..109 "9223372036854775807"
        Semi@109..110 ";"
        Whitespace@110..115 "\n    "
      STMT_LET@115..161
        LetKeyword@115..118 "let"
        Whitespace@118..119 " "
        PATTERN_VARIABLE@119..127
          Ident@119..127 "unsigned"
        Colon@127..128 ":"
        Whitespace@128..129 " "
        TYPE_UINT64@129..133
          U64Keyword@129..132 "u64"
          Whitespace@132..133 " "
        Eq@133..134 "="
        Whitespace@134..135 " "
        EXPR_INT@135..155
          Int@135..155 "18446744073709551615"
        Semi@155..156 ";"
        Whitespace@156..161 "\n    "
      STMT_EXPR@161..183
        EXPR_CALL@161..177
          EXPR_IDENT@161..168
            PATH@161..168
              Ident@161..168 "println"
          ARG_LIST@168..177
            LParen@168..169 "("
            ARG@169..176
              EXPR_IDENT@169..176
                PATH@169..176
                  Ident@169..176 "minimum"
            RParen@176..177 ")"
        Semi@177..178 ";"
        Whitespace@178..183 "\n    "
      STMT_EXPR@183..205
        EXPR_CALL@183..199
          EXPR_IDENT@183..190
            PATH@183..190
              Ident@183..190 "println"
          ARG_LIST@190..199
            LParen@190..191 "("
            ARG@191..198
              EXPR_IDENT@191..198
                PATH@191..198
                  Ident@191..198 "maximum"
            RParen@198..199 ")"
        Semi@199..200 ";"
        Whitespace@200..205 "\n    "
      STMT_EXPR@205..228
        EXPR_CALL@205..222
          EXPR_IDENT@205..212
            PATH@205..212
              Ident@205..212 "println"
          ARG_LIST@212..222
            LParen@212..213 "("
            ARG@213..221
              EXPR_IDENT@213..221
                PATH@213..221
                  Ident@213..221 "unsigned"
            RParen@221..222 ")"
        Semi@222..223 ";"
        Whitespace@223..228 "\n    "
      EXPR_CALL@228..287
        EXPR_IDENT@228..235
          PATH@228..235
            Ident@228..235 "println"
        ARG_LIST@235..287
          LParen@235..236 "("
          ARG@236..285
            EXPR_CALL@236..285
              EXPR_IDENT@236..249
                PATH@236..249
                  Ident@236..249 "string_concat"
              ARG_LIST@249..285
                LParen@249..250 "("
                ARG@250..284
                  EXPR_CALL@250..284
                    EXPR_IDENT@250..265
                      PATH@250..265
                        Ident@250..253 "Vec"
                        ColonColon@253..255 "::"
                        Ident@255..265 "from_array"
                    ARG_LIST@265..284
                      LParen@265..266 "("
                      ARG@266..283
                        EXPR_ARRAY_LITERAL@266..283
                          LBracket@266..267 "["
                          EXPR_STR@267..271
                            Str@267..271 "\"go\""
                          Comma@271..272 ","
                          Whitespace@272..273 " "
                          EXPR_STR@273..277
                            Str@273..277 "\"ml\""
                          Comma@277..278 ","
                          Whitespace@278..279 " "
                          EXPR_STR@279..282
                            Str@279..282 "\"!\""
                          RBracket@282..283 "]"
                      RParen@283..284 ")"
                RParen@284..285 ")"
          RParen@285..286 ")"
          Whitespace@286..287 "\n"
      RBrace@287..288 "}"
      Whitespace@288..289 "\n"