FILE@0..622
  USE@0..13
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..11
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..11 "fs"
    Semi@11..12 ";"
    Whitespace@12..13 "\n"
  USE@13..27
    UseKeyword@13..16 "use"
    Whitespace@16..17 " "
    PATH@17..24
      Ident@17..20 "std"
      ColonColon@20..22 "::"
      Ident@22..24 "io"
    Semi@24..25 ";"
    Whitespace@25..27 "\n\n"
  FN@27..184
    FnKeyword@27..29 "fn"
    Whitespace@29..30 " "
    Ident@30..39 "show_read"
    PARAM_LIST@39..69
      LParen@39..40 "("
      PARAM@40..67
        Ident@40..43 "res"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_TAPP@45..67
          PATH@45..51
            Ident@45..51 "Result"
          TYPE_PARAM_LIST@51..67
            LBracket@51..52 "["
            TYPE_STRING@52..58
              StringKeyword@52..58 "string"
            Comma@58..59 ","
            Whitespace@59..60 " "
            TYPE_STRING@60..66
              StringKeyword@60..66 "string"
            RBracket@66..67 "]"
      RParen@67..68 ")"
      Whitespace@68..69 " "
    Arrow@69..71 "->"
    Whitespace@71..72 " "
    TYPE_STRING@72..79
      StringKeyword@72..78 "string"
      Whitespace@78..79 " "
    BLOCK@79..184
      LBrace@79..80 "{"
      Whitespace@80..85 "\n    "
      EXPR_MATCH@85..181
        MatchKeyword@85..90 "match"
        Whitespace@90..91 " "
        EXPR_IDENT@91..95
          PATH@91..95
            Ident@91..94 "res"
            Whitespace@94..95 " "
        MATCH_ARM_LIST@95..181
          LBrace@95..96 "{"
          Whitespace@96..105 "\n        "
          MATCH_ARM@105..131
            PATTERN_CONSTR@105..123
              PATH@105..115
                Ident@105..111 "Result"
                ColonColon@111..113 "::"
                Ident@113..115 "Ok"
              LParen@115..116 "("
              PATTERN_VARIABLE@116..121
                Ident@116..121 "value"
              RParen@121..122 ")"
              Whitespace@122..123 " "
            FatArrow@123..125 "=>"
            Whitespace@125..126 " "
            EXPR_IDENT@126..131
              PATH@126..131
                Ident@126..131 "value"
          Comma@131..132 ","
          Whitespace@132..141 "\n        "
          MATCH_ARM@141..173
            PATTERN_CONSTR@141..158
              PATH@141..152
                Ident@141..147 "Result"
                ColonColon@147..149 "::"
                Ident@149..152 "Err"
              LParen@152..153 "("
              PATTERN_VARIABLE@153..156
                Ident@153..156 "err"
              RParen@156..157 ")"
              Whitespace@157..158 " "
            FatArrow@158..160 "=>"
            Whitespace@160..161 " "
            EXPR_BINARY@161..173
              EXPR_STR@161..168
                Str@161..167 "\"err \""
                Whitespace@167..168 " "
              Plus@168..169 "+"
              Whitespace@169..170 " "
              EXPR_IDENT@170..173
                PATH@170..173
                  Ident@170..173 "err"
          Comma@173..174 ","
          Whitespace@174..179 "\n    "
          RBrace@179..180 "}"
          Whitespace@180..181 "\n"
      RBrace@181..182 "}"
      Whitespace@182..184 "\n\n"
  FN@184..369
    FnKeyword@184..186 "fn"
    Whitespace@186..187 " "
    Ident@187..195 "show_dir"
    PARAM_LIST@195..230
      LParen@195..196 "("
      PARAM@196..228
        Ident@196..199 "res"
        Colon@199..200 ":"
        Whitespace@200..201 " "
        TYPE_TAPP@201..228
          PATH@201..207
            Ident@201..207 "Result"
          TYPE_PARAM_LIST@207..228
            LBracket@207..208 "["
            TYPE_TAPP@208..219
              PATH@208..211
                Ident@208..211 "Vec"
              TYPE_PARAM_LIST@211..219
                LBracket@211..212 "["
                TYPE_STRING@212..218
                  StringKeyword@212..218 "string"
                RBracket@218..219 "]"
            Comma@219..220 ","
            Whitespace@220..221 " "
            TYPE_STRING@221..227
              StringKeyword@221..227 "string"
            RBracket@227..228 "]"
      RParen@228..229 ")"
      Whitespace@229..230 " "
    Arrow@230..232 "->"
    Whitespace@232..233 " "
    TYPE_STRING@233..240
      StringKeyword@233..239 "string"
      Whitespace@239..240 " "
    BLOCK@240..369
      LBrace@240..241 "{"
      Whitespace@241..246 "\n    "
      EXPR_MATCH@246..366
        MatchKeyword@246..251 "match"
        Whitespace@251..252 " "
        EXPR_IDENT@252..256
          PATH@252..256
            Ident@252..255 "res"
            Whitespace@255..256 " "
        MATCH_ARM_LIST@256..366
          LBrace@256..257 "{"
          Whitespace@257..266 "\n        "
          MATCH_ARM@266..316
            PATTERN_CONSTR@266..284
              PATH@266..276
                Ident@266..272 "Result"
                ColonColon@272..274 "::"
                Ident@274..276 "Ok"
              LParen@276..277 "("
              PATTERN_VARIABLE@277..282
                Ident@277..282 "names"
              RParen@282..283 ")"
              Whitespace@283..284 " "
            FatArrow@284..286 "=>"
            Whitespace@286..287 " "
            EXPR_CALL@287..316
              EXPR_BINARY@287..314
                EXPR_PAREN@287..304
                  LParen@287..288 "("
                  EXPR_BINARY@288..303
                    EXPR_CALL@288..300
                      EXPR_BINARY@288..297
                        EXPR_IDENT@288..293
                          PATH@288..293
                            Ident@288..293 "names"
                        Dot@293..294 "."
                        EXPR_IDENT@294..297
                          PATH@294..297
                            Ident@294..297 "len"
                      ARG_LIST@297..300
                        LParen@297..298 "("
                        RParen@298..299 ")"
                        Whitespace@299..300 " "
                    Greater@300..301 ">"
                    Whitespace@301..302 " "
                    EXPR_INT@302..303
                      Int@302..303 "0"
                  RParen@303..304 ")"
                Dot@304..305 "."
                EXPR_IDENT@305..314
                  PATH@305..314
                    Ident@305..314 "to_string"
              ARG_LIST@314..316
                LParen@314..315 "("
                RParen@315..316 ")"
          Comma@316..317 ","
          Whitespace@317..326 "\n        "
          MATCH_ARM@326..358
            PATTERN_CONSTR@326..343
              PATH@326..337
                Ident@326..332 "Result"
                ColonColon@332..334 "::"
                Ident@334..337 "Err"
              LParen@337..338 "("
              PATTERN_VARIABLE@338..341
                Ident@338..341 "err"
              RParen@341..342 ")"
              Whitespace@342..343 " "
            FatArrow@343..345 "=>"
            Whitespace@345..346 " "
            EXPR_BINARY@346..358
              EXPR_STR@346..353
                Str@346..352 "\"err \""
                Whitespace@352..353 " "
              Plus@353..354 "+"
              Whitespace@354..355 " "
              EXPR_IDENT@355..358
                PATH@355..358
                  Ident@355..358 "err"
          Comma@358..359 ","
          Whitespace@359..364 "\n    "
          RBrace@364..365 "}"
          Whitespace@365..366 "\n"
      RBrace@366..367 "}"
      Whitespace@367..369 "\n\n"
  FN@369..622
    FnKeyword@369..371 "fn"
    Whitespace@371..372 " "
    Ident@372..376 "main"
    PARAM_LIST@376..379
      LParen@376..377 "("
      RParen@377..378 ")"
      Whitespace@378..379 " "
    Arrow@379..381 "->"
    Whitespace@381..382 " "
    TYPE_UNIT@382..387
      UnitKeyword@382..386 "unit"
      Whitespace@386..387 " "
    BLOCK@387..622
      LBrace@387..388 "{"
      Whitespace@388..393 "\n    "
      STMT_LET@393..452
        LetKeyword@393..396 "let"
        Whitespace@396..397 " "
        PATTERN_WILDCARD@397..399
          WildcardKeyword@397..398 "_"
          Whitespace@398..399 " "
        Eq@399..400 "="
        Whitespace@400..401 " "
        EXPR_CALL@401..446
          EXPR_IDENT@401..415
            PATH@401..415
              Ident@401..403 "fs"
              ColonColon@403..405 "::"
              Ident@405..415 "write_file"
          ARG_LIST@415..446
            LParen@415..416 "("
            ARG@416..437
              EXPR_STR@416..435
                Str@416..435 "\"goml-std-test.txt\""
              Comma@435..436 ","
              Whitespace@436..437 " "
            ARG@437..445
              EXPR_STR@437..445
                Str@437..445 "\"std-ok\""
            RParen@445..446 ")"
        Semi@446..447 ";"
        Whitespace@447..452 "\n    "
      STMT_EXPR@452..516
        EXPR_CALL@452..510
          EXPR_IDENT@452..463
            PATH@452..463
              Ident@452..454 "io"
              ColonColon@454..456 "::"
              Ident@456..463 "println"
          ARG_LIST@463..510
            LParen@463..464 "("
            ARG@464..509
              EXPR_CALL@464..509
                EXPR_IDENT@464..473
                  PATH@464..473
                    Ident@464..473 "show_read"
                ARG_LIST@473..509
                  LParen@473..474 "("
                  ARG@474..508
                    EXPR_CALL@474..508
                      EXPR_IDENT@474..487
                        PATH@474..487
                          Ident@474..476 "fs"
                          ColonColon@476..478 "::"
                          Ident@478..487 "read_file"
                      ARG_LIST@487..508
                        LParen@487..488 "("
                        ARG@488..507
                          EXPR_STR@488..507
                            Str@488..507 "\"goml-std-test.txt\""
                        RParen@507..508 ")"
                  RParen@508..509 ")"
            RParen@509..510 ")"
        Semi@510..511 ";"
        Whitespace@511..516 "\n    "
      STMT_EXPR@516..578
        EXPR_CALL@516..572
          EXPR_IDENT@516..527
            PATH@516..527
              Ident@516..518 "io"
              ColonColon@518..520 "::"
              Ident@520..527 "println"
          ARG_LIST@527..572
            LParen@527..528 "("
            ARG@528..571
              EXPR_CALL@528..571
                EXPR_BINARY@528..569
                  EXPR_CALL@528..559
                    EXPR_IDENT@528..538
                      PATH@528..538
                        Ident@528..530 "fs"
                        ColonColon@530..532 "::"
                        Ident@532..538 "exists"
                    ARG_LIST@538..559
                      LParen@538..539 "("
                      ARG@539..558
                        EXPR_STR@539..558
                          Str@539..558 "\"goml-std-test.txt\""
                      RParen@558..559 ")"
                  Dot@559..560 "."
                  EXPR_IDENT@560..569
                    PATH@560..569
                      Ident@560..569 "to_string"
                ARG_LIST@569..571
                  LParen@569..570 "("
                  RParen@570..571 ")"
            RParen@571..572 ")"
        Semi@572..573 ";"
        Whitespace@573..578 "\n    "
      STMT_EXPR@578..620
        EXPR_CALL@578..618
          EXPR_IDENT@578..589
            PATH@578..589
              Ident@578..580 "io"
              ColonColon@580..582 "::"
              Ident@582..589 "println"
          ARG_LIST@589..618
            LParen@589..590 "("
            ARG@590..617
              EXPR_CALL@590..617
                EXPR_IDENT@590..598
                  PATH@590..598
                    Ident@590..598 "show_dir"
                ARG_LIST@598..617
                  LParen@598..599 "("
                  ARG@599..616
                    EXPR_CALL@599..616
                      EXPR_IDENT@599..611
                        PATH@599..611
                          Ident@599..601 "fs"
                          ColonColon@601..603 "::"
                          Ident@603..611 "read_dir"
                      ARG_LIST@611..616
                        LParen@611..612 "("
                        ARG@612..615
                          EXPR_STR@612..615
                            Str@612..615 "\".\""
                        RParen@615..616 ")"
                  RParen@616..617 ")"
            RParen@617..618 ")"
        Semi@618..619 ";"
        Whitespace@619..620 "\n"
      RBrace@620..621 "}"
      Whitespace@621..622 "\n"