FILE@0..165
  FN@0..165
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..165
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..41
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        MutKeyword@26..29 "mut"
        Whitespace@29..30 " "
        PATTERN_VARIABLE@30..32
          Ident@30..31 "x"
          Whitespace@31..32 " "
        Eq@32..33 "="
        Whitespace@33..34 " "
        EXPR_INT@34..35
          Int@34..35 "0"
        Semi@35..36 ";"
        Whitespace@36..41 "\n    "
      STMT_LET@41..96
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..49
          Ident@45..48 "inc"
          Whitespace@48..49 " "
        Eq@49..50 "="
        Whitespace@50..51 " "
        EXPR_CLOSURE@51..90
          CLOSURE_PARAM_LIST@51..54
            OrOr@51..53 "||"
            Whitespace@53..54 " "
          EXPR_CLOSURE_BODY@54..90
            BLOCK@54..90
              LBrace@54..55 "{"
              Whitespace@55..64 "\n        "
              STMT_ASSIGN@64..83
                EXPR_IDENT@64..66
                  PATH@64..66
                    Ident@64..65 "x"
                    Whitespace@65..66 " "
                Eq@66..67 "="
                Whitespace@67..68 " "
                EXPR_BINARY@68..73
                  EXPR_IDENT@68..70
                    PATH@68..70
                      Ident@68..69 "x"
                      Whitespace@69..70 " "
                  Plus@70..71 "+"
                  Whitespace@71..72 " "
                  EXPR_INT@72..73
                    Int@72..73 "1"
                Semi@73..74 ";"
                Whitespace@74..83 "\n        "
              EXPR_IDENT@83..89
                PATH@83..89
                  Ident@83..84 "x"
                  Whitespace@84..89 "\n    "
              RBrace@89..90 "}"
        Semi@90..91 ";"
        Whitespace@91..96 "\n    "
      STMT_LET@96..116
        LetKeyword@96..99 "let"
        Whitespace@99..100 " "
        PATTERN_VARIABLE@100..104
          Ident@100..103 "get"
          Whitespace@103..104 " "
        Eq@104..105 "="
        Whitespace@105..106 " "
        EXPR_CLOSURE@106..110
          CLOSURE_PARAM_LIST@106..109
            OrOr@106..108 "||"
            Whitespace@108..109 " "
          EXPR_CLOSURE_BODY@109..110
            EXPR_IDENT@109..110
              PATH@109..110
                Ident@109..110 "x"
        Semi@110..111 ";"
        Whitespace@111..116 "\n    "
      STMT_LET@116..135
        LetKeyword@116..119 "let"
        Whitespace@119..120 " "
        PATTERN_WILDCARD@120..122
          WildcardKeyword@120..121 "_"
          Whitespace@121..122 " "
        Eq@122..123 "="
        Whitespace@123..124 " "
        EXPR_CALL@124..129
          EXPR_IDENT@124..127
            PATH@124..127
              Ident@124..127 "inc"
          ARG_LIST@127..129
            LParen@127..128 "("
            RParen@128..129 ")"
        Semi@129..130 ";"
        Whitespace@130..135 "\n    "
      STMT_EXPR@135..163
        EXPR_CALL@135..161
          EXPR_IDENT@135..142
            PATH@135..142
              Ident@135..142 "println"
          ARG_LIST@142..161
            LParen@142..143 "("
            ARG@143..160
              EXPR_CALL@143..160
                EXPR_BINARY@143..158
                  EXPR_CALL@143..148
                    EXPR_IDENT@143..146
                      PATH@143..146
                        Ident@143..146 "get"
                    ARG_LIST@146..148
                      LParen@146..147 "("
                      RParen@147..148 ")"
                  Dot@148..149 "."
                  EXPR_IDENT@149..158
                    PATH@149..158
                      Ident@149..158 "to_string"
                ARG_LIST@158..160
                  LParen@158..159 "("
                  RParen@159..160 ")"
            RParen@160..161 ")"
        Semi@161..162 ";"
        Whitespace@162..163 "\n"
      RBrace@163..164 "}"
      Whitespace@164..165 "\n"