FILE@0..974
  FN@0..136
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "step_some"
    PARAM_LIST@12..23
      LParen@12..13 "("
      PARAM@13..21
        Ident@13..14 "i"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_INT32@16..21
          Int32Keyword@16..21 "int32"
      RParen@21..22 ")"
      Whitespace@22..23 " "
    Arrow@23..25 "->"
    Whitespace@25..26 " "
    TYPE_TAPP@26..39
      PATH@26..32
        Ident@26..32 "Option"
      TYPE_PARAM_LIST@32..39
        LBracket@32..33 "["
        TYPE_BOOL@33..37
          BoolKeyword@33..37 "bool"
        RBracket@37..38 "]"
        Whitespace@38..39 " "
    BLOCK@39..136
      LBrace@39..40 "{"
      Whitespace@40..45 "\n    "
      EXPR_IF@45..133
        IfKeyword@45..47 "if"
        Whitespace@47..48 " "
        EXPR_IF_COND@48..57
          EXPR_BINARY@48..57
            EXPR_IDENT@48..50
              PATH@48..50
                Ident@48..49 "i"
                Whitespace@49..50 " "
            Less@50..51 "<"
            Whitespace@51..52 " "
            EXPR_INT32@52..57
              Int32Lit@52..56 "3i32"
              Whitespace@56..57 " "
        EXPR_IF_THEN@57..92
          BLOCK@57..92
            LBrace@57..58 "{"
            Whitespace@58..67 "\n        "
            EXPR_CALL@67..90
              EXPR_IDENT@67..79
                PATH@67..79
                  Ident@67..73 "Option"
                  ColonColon@73..75 "::"
                  Ident@75..79 "Some"
              ARG_LIST@79..90
                LParen@79..80 "("
                ARG@80..84
                  EXPR_BOOL@80..84
                    TrueKeyword@80..84 "true"
                RParen@84..85 ")"
                Whitespace@85..90 "\n    "
            RBrace@90..91 "}"
            Whitespace@91..92 " "
        ElseKeyword@92..96 "else"
        Whitespace@96..97 " "
        EXPR_IF_ELSE@97..133
          BLOCK@97..133
            LBrace@97..98 "{"
            Whitespace@98..107 "\n        "
            EXPR_CALL@107..131
              EXPR_IDENT@107..119
                PATH@107..119
                  Ident@107..113 "Option"
                  ColonColon@113..115 "::"
                  Ident@115..119 "Some"
              ARG_LIST@119..131
                LParen@119..120 "("
                ARG@120..125
                  EXPR_BOOL@120..125
                    FalseKeyword@120..125 "false"
                RParen@125..126 ")"
                Whitespace@126..131 "\n    "
            RBrace@131..132 "}"
            Whitespace@132..133 "\n"
      RBrace@133..134 "}"
      Whitespace@134..136 "\n\n"
  FN@136..265
    FnKeyword@136..138 "fn"
    Whitespace@138..139 " "
    Ident@139..148 "step_none"
    PARAM_LIST@148..159
      LParen@148..149 "("
      PARAM@149..157
        Ident@149..150 "i"
        Colon@150..151 ":"
        Whitespace@151..152 " "
        TYPE_INT32@152..157
          Int32Keyword@152..157 "int32"
      RParen@157..158 ")"
      Whitespace@158..159 " "
    Arrow@159..161 "->"
    Whitespace@161..162 " "
    TYPE_TAPP@162..175
      PATH@162..168
        Ident@162..168 "Option"
      TYPE_PARAM_LIST@168..175
        LBracket@168..169 "["
        TYPE_BOOL@169..173
          BoolKeyword@169..173 "bool"
        RBracket@173..174 "]"
        Whitespace@174..175 " "
    BLOCK@175..265
      LBrace@175..176 "{"
      Whitespace@176..181 "\n    "
      EXPR_IF@181..262
        IfKeyword@181..183 "if"
        Whitespace@183..184 " "
        EXPR_IF_COND@184..193
          EXPR_BINARY@184..193
            EXPR_IDENT@184..186
              PATH@184..186
                Ident@184..185 "i"
                Whitespace@185..186 " "
            Less@186..187 "<"
            Whitespace@187..188 " "
            EXPR_INT32@188..193
              Int32Lit@188..192 "2i32"
              Whitespace@192..193 " "
        EXPR_IF_THEN@193..228
          BLOCK@193..228
            LBrace@193..194 "{"
            Whitespace@194..203 "\n        "
            EXPR_CALL@203..226
              EXPR_IDENT@203..215
                PATH@203..215
                  Ident@203..209 "Option"
                  ColonColon@209..211 "::"
                  Ident@211..215 "Some"
              ARG_LIST@215..226
                LParen@215..216 "("
                ARG@216..220
                  EXPR_BOOL@216..220
                    TrueKeyword@216..220 "true"
                RParen@220..221 ")"
                Whitespace@221..226 "\n    "
            RBrace@226..227 "}"
            Whitespace@227..228 " "
        ElseKeyword@228..232 "else"
        Whitespace@232..233 " "
        EXPR_IF_ELSE@233..262
          BLOCK@233..262
            LBrace@233..234 "{"
            Whitespace@234..243 "\n        "
            EXPR_IDENT@243..260
              PATH@243..260
                Ident@243..249 "Option"
                ColonColon@249..251 "::"
                Ident@251..255 "None"
                Whitespace@255..260 "\n    "
            RBrace@260..261 "}"
            Whitespace@261..262 "\n"
      RBrace@262..263 "}"
      Whitespace@263..265 "\n\n"
  FN@265..505
    FnKeyword@265..267 "fn"
    Whitespace@267..268 " "
    Ident@268..276 "run_some"
    PARAM_LIST@276..279
      LParen@276..277 "("
      RParen@277..278 ")"
      Whitespace@278..279 " "
    Arrow@279..281 "->"
    Whitespace@281..282 " "
    TYPE_TAPP@282..296
      PATH@282..288
        Ident@282..288 "Option"
      TYPE_PARAM_LIST@288..296
        LBracket@288..289 "["
        TYPE_INT32@289..294
          Int32Keyword@289..294 "int32"
        RBracket@294..295 "]"
        Whitespace@295..296 " "
    BLOCK@296..505
      LBrace@296..297 "{"
      Whitespace@297..302 "\n    "
      STMT_LET@302..330
        LetKeyword@302..305 "let"
        Whitespace@305..306 " "
        PATTERN_VARIABLE@306..308
          Ident@306..307 "i"
          Whitespace@307..308 " "
        Eq@308..309 "="
        Whitespace@309..310 " "
        EXPR_CALL@310..324
          EXPR_IDENT@310..318
            PATH@310..318
              Ident@310..313 "Ref"
              ColonColon@313..315 "::"
              Ident@315..318 "new"
          ARG_LIST@318..324
            LParen@318..319 "("
            ARG@319..323
              EXPR_INT32@319..323
                Int32Lit@319..323 "0i32"
            RParen@323..324 ")"
        Semi@324..325 ";"
        Whitespace@325..330 "\n    "
      STMT_LET@330..363
        LetKeyword@330..333 "let"
        Whitespace@333..334 " "
        PATTERN_VARIABLE@334..340
          Ident@334..339 "total"
          Whitespace@339..340 " "
        Eq@340..341 "="
        Whitespace@341..342 " "
        EXPR_CALL@342..356
          EXPR_IDENT@342..350
            PATH@342..350
              Ident@342..345 "Ref"
              ColonColon@345..347 "::"
              Ident@347..350 "new"
          ARG_LIST@350..356
            LParen@350..351 "("
            ARG@351..355
              EXPR_INT32@351..355
                Int32Lit@351..355 "0i32"
            RParen@355..356 ")"
        Semi@356..357 ";"
        Whitespace@357..363 "\n\n    "
      STMT_EXPR@363..476
        EXPR_WHILE@363..469
          WhileKeyword@363..368 "while"
          Whitespace@368..369 " "
          EXPR_WHILE_COND@369..389
            EXPR_TRY@369..389
              EXPR_CALL@369..387
                EXPR_IDENT@369..378
                  PATH@369..378
                    Ident@369..378 "step_some"
                ARG_LIST@378..387
                  LParen@378..379 "("
                  ARG@379..386
                    EXPR_CALL@379..386
                      EXPR_BINARY@379..384
                        EXPR_IDENT@379..380
                          PATH@379..380
                            Ident@379..380 "i"
                        Dot@380..381 "."
                        EXPR_IDENT@381..384
                          PATH@381..384
                            Ident@381..384 "get"
                      ARG_LIST@384..386
                        LParen@384..385 "("
                        RParen@385..386 ")"
                  RParen@386..387 ")"
              Question@387..388 "?"
              Whitespace@388..389 " "
          EXPR_WHILE_BODY@389..469
            BLOCK@389..469
              LBrace@389..390 "{"
              Whitespace@390..399 "\n        "
              STMT_EXPR@399..441
                EXPR_CALL@399..431
                  EXPR_BINARY@399..408
                    EXPR_IDENT@399..404
                      PATH@399..404
                        Ident@399..404 "total"
                    Dot@404..405 "."
                    EXPR_IDENT@405..408
                      PATH@405..408
                        Ident@405..408 "set"
                  ARG_LIST@408..431
                    LParen@408..409 "("
                    ARG@409..430
                      EXPR_BINARY@409..430
                        EXPR_CALL@409..421
                          EXPR_BINARY@409..418
                            EXPR_IDENT@409..414
                              PATH@409..414
                                Ident@409..414 "total"
                            Dot@414..415 "."
                            EXPR_IDENT@415..418
                              PATH@415..418
                                Ident@415..418 "get"
                          ARG_LIST@418..421
                            LParen@418..419 "("
                            RParen@419..420 ")"
                            Whitespace@420..421 " "
                        Plus@421..422 "+"
                        Whitespace@422..423 " "
                        EXPR_CALL@423..430
                          EXPR_BINARY@423..428
                            EXPR_IDENT@423..424
                              PATH@423..424
                                Ident@423..424 "i"
                            Dot@424..425 "."
                            EXPR_IDENT@425..428
                              PATH@425..428
                                Ident@425..428 "get"
                          ARG_LIST@428..430
                            LParen@428..429 "("
                            RParen@429..430 ")"
                    RParen@430..431 ")"
                Semi@431..432 ";"
                Whitespace@432..441 "\n        "
              STMT_EXPR@441..468
                EXPR_CALL@441..462
                  EXPR_BINARY@441..446
                    EXPR_IDENT@441..442
                      PATH@441..442
                        Ident@441..442 "i"
                    Dot@442..443 "."
                    EXPR_IDENT@443..446
                      PATH@443..446
                        Ident@443..446 "set"
                  ARG_LIST@446..462
                    LParen@446..447 "("
                    ARG@447..461
                      EXPR_BINARY@447..461
                        EXPR_CALL@447..455
                          EXPR_BINARY@447..452
                            EXPR_IDENT@447..448
                              PATH@447..448
                                Ident@447..448 "i"
                            Dot@448..449 "."
                            EXPR_IDENT@449..452
                              PATH@449..452
                                Ident@449..452 "get"
                          ARG_LIST@452..455
                            LParen@452..453 "("
                            RParen@453..454 ")"
                            Whitespace@454..455 " "
                        Plus@455..456 "+"
                        Whitespace@456..457 " "
                        EXPR_INT32@457..461
                          Int32Lit@457..461 "1i32"
                    RParen@461..462 ")"
                Semi@462..463 ";"
                Whitespace@463..468 "\n    "
              RBrace@468..469 "}"
        Semi@469..470 ";"
        Whitespace@470..476 "\n\n    "
      EXPR_CALL@476..502
        EXPR_IDENT@476..488
          PATH@476..488
            Ident@476..482 "Option"
            ColonColon@482..484 "::"
            Ident@484..488 "Some"
        ARG_LIST@488..502
          LParen@488..489 "("
          ARG@489..500
            EXPR_CALL@489..500
              EXPR_BINARY@489..498
                EXPR_IDENT@489..494
                  PATH@489..494
                    Ident@489..494 "total"
                Dot@494..495 "."
                EXPR_IDENT@495..498
                  PATH@495..498
                    Ident@495..498 "get"
              ARG_LIST@498..500
                LParen@498..499 "("
                RParen@499..500 ")"
          RParen@500..501 ")"
          Whitespace@501..502 "\n"
      RBrace@502..503 "}"
      Whitespace@503..505 "\n\n"
  FN@505..745
    FnKeyword@505..507 "fn"
    Whitespace@507..508 " "
    Ident@508..516 "run_none"
    PARAM_LIST@516..519
      LParen@516..517 "("
      RParen@517..518 ")"
      Whitespace@518..519 " "
    Arrow@519..521 "->"
    Whitespace@521..522 " "
    TYPE_TAPP@522..536
      PATH@522..528
        Ident@522..528 "Option"
      TYPE_PARAM_LIST@528..536
        LBracket@528..529 "["
        TYPE_INT32@529..534
          Int32Keyword@529..534 "int32"
        RBracket@534..535 "]"
        Whitespace@535..536 " "
    BLOCK@536..745
      LBrace@536..537 "{"
      Whitespace@537..542 "\n    "
      STMT_LET@542..570
        LetKeyword@542..545 "let"
        Whitespace@545..546 " "
        PATTERN_VARIABLE@546..548
          Ident@546..547 "i"
          Whitespace@547..548 " "
        Eq@548..549 "="
        Whitespace@549..550 " "
        EXPR_CALL@550..564
          EXPR_IDENT@550..558
            PATH@550..558
              Ident@550..553 "Ref"
              ColonColon@553..555 "::"
              Ident@555..558 "new"
          ARG_LIST@558..564
            LParen@558..559 "("
            ARG@559..563
              EXPR_INT32@559..563
                Int32Lit@559..563 "0i32"
            RParen@563..564 ")"
        Semi@564..565 ";"
        Whitespace@565..570 "\n    "
      STMT_LET@570..603
        LetKeyword@570..573 "let"
        Whitespace@573..574 " "
        PATTERN_VARIABLE@574..580
          Ident@574..579 "total"
          Whitespace@579..580 " "
        Eq@580..581 "="
        Whitespace@581..582 " "
        EXPR_CALL@582..596
          EXPR_IDENT@582..590
            PATH@582..590
              Ident@582..585 "Ref"
              ColonColon@585..587 "::"
              Ident@587..590 "new"
          ARG_LIST@590..596
            LParen@590..591 "("
            ARG@591..595
              EXPR_INT32@591..595
                Int32Lit@591..595 "0i32"
            RParen@595..596 ")"
        Semi@596..597 ";"
        Whitespace@597..603 "\n\n    "
      STMT_EXPR@603..716
        EXPR_WHILE@603..709
          WhileKeyword@603..608 "while"
          Whitespace@608..609 " "
          EXPR_WHILE_COND@609..629
            EXPR_TRY@609..629
              EXPR_CALL@609..627
                EXPR_IDENT@609..618
                  PATH@609..618
                    Ident@609..618 "step_none"
                ARG_LIST@618..627
                  LParen@618..619 "("
                  ARG@619..626
                    EXPR_CALL@619..626
                      EXPR_BINARY@619..624
                        EXPR_IDENT@619..620
                          PATH@619..620
                            Ident@619..620 "i"
                        Dot@620..621 "."
                        EXPR_IDENT@621..624
                          PATH@621..624
                            Ident@621..624 "get"
                      ARG_LIST@624..626
                        LParen@624..625 "("
                        RParen@625..626 ")"
                  RParen@626..627 ")"
              Question@627..628 "?"
              Whitespace@628..629 " "
          EXPR_WHILE_BODY@629..709
            BLOCK@629..709
              LBrace@629..630 "{"
              Whitespace@630..639 "\n        "
              STMT_EXPR@639..681
                EXPR_CALL@639..671
                  EXPR_BINARY@639..648
                    EXPR_IDENT@639..644
                      PATH@639..644
                        Ident@639..644 "total"
                    Dot@644..645 "."
                    EXPR_IDENT@645..648
                      PATH@645..648
                        Ident@645..648 "set"
                  ARG_LIST@648..671
                    LParen@648..649 "("
                    ARG@649..670
                      EXPR_BINARY@649..670
                        EXPR_CALL@649..661
                          EXPR_BINARY@649..658
                            EXPR_IDENT@649..654
                              PATH@649..654
                                Ident@649..654 "total"
                            Dot@654..655 "."
                            EXPR_IDENT@655..658
                              PATH@655..658
                                Ident@655..658 "get"
                          ARG_LIST@658..661
                            LParen@658..659 "("
                            RParen@659..660 ")"
                            Whitespace@660..661 " "
                        Plus@661..662 "+"
                        Whitespace@662..663 " "
                        EXPR_CALL@663..670
                          EXPR_BINARY@663..668
                            EXPR_IDENT@663..664
                              PATH@663..664
                                Ident@663..664 "i"
                            Dot@664..665 "."
                            EXPR_IDENT@665..668
                              PATH@665..668
                                Ident@665..668 "get"
                          ARG_LIST@668..670
                            LParen@668..669 "("
                            RParen@669..670 ")"
                    RParen@670..671 ")"
                Semi@671..672 ";"
                Whitespace@672..681 "\n        "
              STMT_EXPR@681..708
                EXPR_CALL@681..702
                  EXPR_BINARY@681..686
                    EXPR_IDENT@681..682
                      PATH@681..682
                        Ident@681..682 "i"
                    Dot@682..683 "."
                    EXPR_IDENT@683..686
                      PATH@683..686
                        Ident@683..686 "set"
                  ARG_LIST@686..702
                    LParen@686..687 "("
                    ARG@687..701
                      EXPR_BINARY@687..701
                        EXPR_CALL@687..695
                          EXPR_BINARY@687..692
                            EXPR_IDENT@687..688
                              PATH@687..688
                                Ident@687..688 "i"
                            Dot@688..689 "."
                            EXPR_IDENT@689..692
                              PATH@689..692
                                Ident@689..692 "get"
                          ARG_LIST@692..695
                            LParen@692..693 "("
                            RParen@693..694 ")"
                            Whitespace@694..695 " "
                        Plus@695..696 "+"
                        Whitespace@696..697 " "
                        EXPR_INT32@697..701
                          Int32Lit@697..701 "1i32"
                    RParen@701..702 ")"
                Semi@702..703 ";"
                Whitespace@703..708 "\n    "
              RBrace@708..709 "}"
        Semi@709..710 ";"
        Whitespace@710..716 "\n\n    "
      EXPR_CALL@716..742
        EXPR_IDENT@716..728
          PATH@716..728
            Ident@716..722 "Option"
            ColonColon@722..724 "::"
            Ident@724..728 "Some"
        ARG_LIST@728..742
          LParen@728..729 "("
          ARG@729..740
            EXPR_CALL@729..740
              EXPR_BINARY@729..738
                EXPR_IDENT@729..734
                  PATH@729..734
                    Ident@729..734 "total"
                Dot@734..735 "."
                EXPR_IDENT@735..738
                  PATH@735..738
                    Ident@735..738 "get"
              ARG_LIST@738..740
                LParen@738..739 "("
                RParen@739..740 ")"
          RParen@740..741 ")"
          Whitespace@741..742 "\n"
      RBrace@742..743 "}"
      Whitespace@743..745 "\n\n"
  FN@745..890
    FnKeyword@745..747 "fn"
    Whitespace@747..748 " "
    Ident@748..752 "show"
    PARAM_LIST@752..771
      LParen@752..753 "("
      PARAM@753..769
        Ident@753..754 "x"
        Colon@754..755 ":"
        Whitespace@755..756 " "
        TYPE_TAPP@756..769
          PATH@756..762
            Ident@756..762 "Option"
          TYPE_PARAM_LIST@762..769
            LBracket@762..763 "["
            TYPE_INT32@763..768
              Int32Keyword@763..768 "int32"
            RBracket@768..769 "]"
      RParen@769..770 ")"
      Whitespace@770..771 " "
    Arrow@771..773 "->"
    Whitespace@773..774 " "
    TYPE_STRING@774..781
      StringKeyword@774..780 "string"
      Whitespace@780..781 " "
    BLOCK@781..890
      LBrace@781..782 "{"
      Whitespace@782..787 "\n    "
      EXPR_MATCH@787..887
        MatchKeyword@787..792 "match"
        Whitespace@792..793 " "
        EXPR_IDENT@793..795
          PATH@793..795
            Ident@793..794 "x"
            Whitespace@794..795 " "
        MATCH_ARM_LIST@795..887
          LBrace@795..796 "{"
          Whitespace@796..805 "\n        "
          MATCH_ARM@805..847
            PATTERN_CONSTR@805..821
              PATH@805..817
                Ident@805..811 "Option"
                ColonColon@811..813 "::"
                Ident@813..817 "Some"
              LParen@817..818 "("
              PATTERN_VARIABLE@818..819
                Ident@818..819 "v"
              RParen@819..820 ")"
              Whitespace@820..821 " "
            FatArrow@821..823 "=>"
            Whitespace@823..824 " "
            EXPR_BINARY@824..847
              EXPR_STR@824..832
                Str@824..831 "\"some=\""
                Whitespace@831..832 " "
              Plus@832..833 "+"
              Whitespace@833..834 " "
              EXPR_CALL@834..847
                EXPR_BINARY@834..845
                  EXPR_IDENT@834..835
                    PATH@834..835
                      Ident@834..835 "v"
                  Dot@835..836 "."
                  EXPR_IDENT@836..845
                    PATH@836..845
                      Ident@836..845 "to_string"
                ARG_LIST@845..847
                  LParen@845..846 "("
                  RParen@846..847 ")"
          Comma@847..848 ","
          Whitespace@848..857 "\n        "
          MATCH_ARM@857..879
            PATTERN_CONSTR@857..870
              PATH@857..870
                Ident@857..863 "Option"
                ColonColon@863..865 "::"
                Ident@865..869 "None"
                Whitespace@869..870 " "
            FatArrow@870..872 "=>"
            Whitespace@872..873 " "
            EXPR_STR@873..879
              Str@873..879 "\"none\""
          Comma@879..880 ","
          Whitespace@880..885 "\n    "
          RBrace@885..886 "}"
          Whitespace@886..887 "\n"
      RBrace@887..888 "}"
      Whitespace@888..890 "\n\n"
  FN@890..974
    FnKeyword@890..892 "fn"
    Whitespace@892..893 " "
    Ident@893..897 "main"
    PARAM_LIST@897..900
      LParen@897..898 "("
      RParen@898..899 ")"
      Whitespace@899..900 " "
    Arrow@900..902 "->"
    Whitespace@902..903 " "
    TYPE_UNIT@903..908
      UnitKeyword@903..907 "unit"
      Whitespace@907..908 " "
    BLOCK@908..974
      LBrace@908..909 "{"
      Whitespace@909..914 "\n    "
      STMT_EXPR@914..945
        EXPR_CALL@914..939
          EXPR_IDENT@914..921
            PATH@914..921
              Ident@914..921 "println"
          ARG_LIST@921..939
            LParen@921..922 "("
            ARG@922..938
              EXPR_CALL@922..938
                EXPR_IDENT@922..926
                  PATH@922..926
                    Ident@922..926 "show"
                ARG_LIST@926..938
                  LParen@926..927 "("
                  ARG@927..937
                    EXPR_CALL@927..937
                      EXPR_IDENT@927..935
                        PATH@927..935
                          Ident@927..935 "run_some"
                      ARG_LIST@935..937
                        LParen@935..936 "("
                        RParen@936..937 ")"
                  RParen@937..938 ")"
            RParen@938..939 ")"
        Semi@939..940 ";"
        Whitespace@940..945 "\n    "
      STMT_EXPR@945..972
        EXPR_CALL@945..970
          EXPR_IDENT@945..952
            PATH@945..952
              Ident@945..952 "println"
          ARG_LIST@952..970
            LParen@952..953 "("
            ARG@953..969
              EXPR_CALL@953..969
                EXPR_IDENT@953..957
                  PATH@953..957
                    Ident@953..957 "show"
                ARG_LIST@957..969
                  LParen@957..958 "("
                  ARG@958..968
                    EXPR_CALL@958..968
                      EXPR_IDENT@958..966
                        PATH@958..966
                          Ident@958..966 "run_none"
                      ARG_LIST@966..968
                        LParen@966..967 "("
                        RParen@967..968 ")"
                  RParen@968..969 ")"
            RParen@969..970 ")"
        Semi@970..971 ";"
        Whitespace@971..972 "\n"
      RBrace@972..973 "}"
      Whitespace@973..974 "\n"