FILE@0..204
  FN@0..60
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "child"
    PARAM_LIST@8..29
      LParen@8..9 "("
      PARAM@9..27
        Ident@9..15 "signal"
        Colon@15..16 ":"
        Whitespace@16..17 " "
        TYPE_TAPP@17..27
          PATH@17..20
            Ident@17..20 "Ref"
          TYPE_PARAM_LIST@20..27
            LBracket@20..21 "["
            TYPE_INT32@21..26
              Int32Keyword@21..26 "int32"
            RBracket@26..27 "]"
      RParen@27..28 ")"
      Whitespace@28..29 " "
    Arrow@29..31 "->"
    Whitespace@31..32 " "
    TYPE_UNIT@32..37
      UnitKeyword@32..36 "unit"
      Whitespace@36..37 " "
    BLOCK@37..60
      LBrace@37..38 "{"
      Whitespace@38..43 "\n    "
      EXPR_CALL@43..57
        EXPR_BINARY@43..53
          EXPR_IDENT@43..49
            PATH@43..49
              Ident@43..49 "signal"
          Dot@49..50 "."
          EXPR_IDENT@50..53
            PATH@50..53
              Ident@50..53 "set"
        ARG_LIST@53..57
          LParen@53..54 "("
          ARG@54..55
            EXPR_INT@54..55
              Int@54..55 "1"
          RParen@55..56 ")"
          Whitespace@56..57 "\n"
      RBrace@57..58 "}"
      Whitespace@58..60 "\n\n"
  FN@60..204
    FnKeyword@60..62 "fn"
    Whitespace@62..63 " "
    Ident@63..67 "main"
    PARAM_LIST@67..70
      LParen@67..68 "("
      RParen@68..69 ")"
      Whitespace@69..70 " "
    Arrow@70..72 "->"
    Whitespace@72..73 " "
    TYPE_UNIT@73..78
      UnitKeyword@73..77 "unit"
      Whitespace@77..78 " "
    BLOCK@78..204
      LBrace@78..79 "{"
      Whitespace@79..84 "\n    "
      STMT_LET@84..114
        LetKeyword@84..87 "let"
        Whitespace@87..88 " "
        PATTERN_VARIABLE@88..95
          Ident@88..94 "signal"
          Whitespace@94..95 " "
        Eq@95..96 "="
        Whitespace@96..97 " "
        EXPR_CALL@97..108
          EXPR_IDENT@97..105
            PATH@97..105
              Ident@97..100 "Ref"
              ColonColon@100..102 "::"
              Ident@102..105 "new"
          ARG_LIST@105..108
            LParen@105..106 "("
            ARG@106..107
              EXPR_INT@106..107
                Int@106..107 "0"
            RParen@107..108 ")"
        Semi@108..109 ";"
        Whitespace@109..114 "\n    "
      STMT_EXPR@114..155
        EXPR_GO@114..149
          GoKeyword@114..116 "go"
          Whitespace@116..117 " "
          EXPR_CLOSURE@117..149
            CLOSURE_PARAM_LIST@117..120
              OrOr@117..119 "||"
              Whitespace@119..120 " "
            EXPR_CLOSURE_BODY@120..149
              BLOCK@120..149
                LBrace@120..121 "{"
                Whitespace@121..130 "\n        "
                EXPR_CALL@130..148
                  EXPR_IDENT@130..135
                    PATH@130..135
                      Ident@130..135 "child"
                  ARG_LIST@135..148
                    LParen@135..136 "("
                    ARG@136..142
                      EXPR_IDENT@136..142
                        PATH@136..142
                          Ident@136..142 "signal"
                    RParen@142..143 ")"
                    Whitespace@143..148 "\n    "
                RBrace@148..149 "}"
        Semi@149..150 ";"
        Whitespace@150..155 "\n    "
      STMT_EXPR@155..185
        EXPR_WHILE@155..185
          WhileKeyword@155..160 "while"
          Whitespace@160..161 " "
          EXPR_WHILE_COND@161..178
            EXPR_BINARY@161..178
              EXPR_CALL@161..174
                EXPR_BINARY@161..171
                  EXPR_IDENT@161..167
                    PATH@161..167
                      Ident@161..167 "signal"
                  Dot@167..168 "."
                  EXPR_IDENT@168..171
                    PATH@168..171
                      Ident@168..171 "get"
                ARG_LIST@171..174
                  LParen@171..172 "("
                  RParen@172..173 ")"
                  Whitespace@173..174 " "
              Less@174..175 "<"
              Whitespace@175..176 " "
              EXPR_INT@176..178
                Int@176..177 "1"
                Whitespace@177..178 " "
          EXPR_WHILE_BODY@178..185
            BLOCK@178..185
              LBrace@178..179 "{"
              RBrace@179..180 "}"
              Whitespace@180..185 "\n    "
      STMT_EXPR@185..202
        EXPR_CALL@185..200
          EXPR_IDENT@185..192
            PATH@185..192
              Ident@185..192 "println"
          ARG_LIST@192..200
            LParen@192..193 "("
            ARG@193..199
              EXPR_STR@193..199
                Str@193..199 "\"main\""
            RParen@199..200 ")"
        Semi@200..201 ";"
        Whitespace@201..202 "\n"
      RBrace@202..203 "}"
      Whitespace@203..204 "\n"