FILE@0..2012
  STRUCT@0..55
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..15 "PairData"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    STRUCT_FIELD_LIST@22..55
      STRUCT_FIELD@22..33
        Ident@22..26 "head"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..33
          Int32Keyword@28..33 "int32"
      Comma@33..34 ","
      Whitespace@34..39 "\n    "
      STRUCT_FIELD@39..50
        Ident@39..43 "tail"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_INT64@45..50
          Int64Keyword@45..50 "int64"
      Comma@50..51 ","
      Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  FN@55..182
    FnKeyword@55..57 "fn"
    Whitespace@57..58 " "
    Ident@58..69 "is_special8"
    PARAM_LIST@69..83
      LParen@69..70 "("
      PARAM@70..81
        Ident@70..75 "value"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TYPE_INT8@77..81
          Int8Keyword@77..81 "int8"
      RParen@81..82 ")"
      Whitespace@82..83 " "
    Arrow@83..85 "->"
    Whitespace@85..86 " "
    TYPE_BOOL@86..91
      BoolKeyword@86..90 "bool"
      Whitespace@90..91 " "
    BLOCK@91..182
      LBrace@91..92 "{"
      Whitespace@92..97 "\n    "
      EXPR_MATCH@97..179
        MatchKeyword@97..102 "match"
        Whitespace@102..103 " "
        EXPR_IDENT@103..109
          PATH@103..109
            Ident@103..108 "value"
            Whitespace@108..109 " "
        MATCH_ARM_LIST@109..179
          LBrace@109..110 "{"
          Whitespace@110..119 "\n        "
          MATCH_ARM@119..130
            PATTERN_INT8@119..123
              Int8Lit@119..122 "5i8"
              Whitespace@122..123 " "
            FatArrow@123..125 "=>"
            Whitespace@125..126 " "
            EXPR_BOOL@126..130
              TrueKeyword@126..130 "true"
          Comma@130..131 ","
          Whitespace@131..140 "\n        "
          MATCH_ARM@140..151
            PATTERN_INT8@140..144
              Int8Lit@140..143 "7i8"
              Whitespace@143..144 " "
            FatArrow@144..146 "=>"
            Whitespace@146..147 " "
            EXPR_BOOL@147..151
              TrueKeyword@147..151 "true"
          Comma@151..152 ","
          Whitespace@152..161 "\n        "
          MATCH_ARM@161..171
            PATTERN_WILDCARD@161..163
              WildcardKeyword@161..162 "_"
              Whitespace@162..163 " "
            FatArrow@163..165 "=>"
            Whitespace@165..166 " "
            EXPR_BOOL@166..171
              FalseKeyword@166..171 "false"
          Comma@171..172 ","
          Whitespace@172..177 "\n    "
          RBrace@177..178 "}"
          Whitespace@178..179 "\n"
      RBrace@179..180 "}"
      Whitespace@180..182 "\n\n"
  FN@182..319
    FnKeyword@182..184 "fn"
    Whitespace@184..185 " "
    Ident@185..197 "is_special16"
    PARAM_LIST@197..212
      LParen@197..198 "("
      PARAM@198..210
        Ident@198..203 "value"
        Colon@203..204 ":"
        Whitespace@204..205 " "
        TYPE_INT16@205..210
          Int16Keyword@205..210 "int16"
      RParen@210..211 ")"
      Whitespace@211..212 " "
    Arrow@212..214 "->"
    Whitespace@214..215 " "
    TYPE_BOOL@215..220
      BoolKeyword@215..219 "bool"
      Whitespace@219..220 " "
    BLOCK@220..319
      LBrace@220..221 "{"
      Whitespace@221..226 "\n    "
      EXPR_MATCH@226..316
        MatchKeyword@226..231 "match"
        Whitespace@231..232 " "
        EXPR_IDENT@232..238
          PATH@232..238
            Ident@232..237 "value"
            Whitespace@237..238 " "
        MATCH_ARM_LIST@238..316
          LBrace@238..239 "{"
          Whitespace@239..248 "\n        "
          MATCH_ARM@248..263
            PATTERN_INT16@248..256
              Int16Lit@248..255 "1024i16"
              Whitespace@255..256 " "
            FatArrow@256..258 "=>"
            Whitespace@258..259 " "
            EXPR_BOOL@259..263
              TrueKeyword@259..263 "true"
          Comma@263..264 ","
          Whitespace@264..273 "\n        "
          MATCH_ARM@273..288
            PATTERN_INT16@273..281
              Int16Lit@273..280 "2048i16"
              Whitespace@280..281 " "
            FatArrow@281..283 "=>"
            Whitespace@283..284 " "
            EXPR_BOOL@284..288
              TrueKeyword@284..288 "true"
          Comma@288..289 ","
          Whitespace@289..298 "\n        "
          MATCH_ARM@298..308
            PATTERN_WILDCARD@298..300
              WildcardKeyword@298..299 "_"
              Whitespace@299..300 " "
            FatArrow@300..302 "=>"
            Whitespace@302..303 " "
            EXPR_BOOL@303..308
              FalseKeyword@303..308 "false"
          Comma@308..309 ","
          Whitespace@309..314 "\n    "
          RBrace@314..315 "}"
          Whitespace@315..316 "\n"
      RBrace@316..317 "}"
      Whitespace@317..319 "\n\n"
  FN@319..456
    FnKeyword@319..321 "fn"
    Whitespace@321..322 " "
    Ident@322..334 "is_special32"
    PARAM_LIST@334..349
      LParen@334..335 "("
      PARAM@335..347
        Ident@335..340 "value"
        Colon@340..341 ":"
        Whitespace@341..342 " "
        TYPE_INT32@342..347
          Int32Keyword@342..347 "int32"
      RParen@347..348 ")"
      Whitespace@348..349 " "
    Arrow@349..351 "->"
    Whitespace@351..352 " "
    TYPE_BOOL@352..357
      BoolKeyword@352..356 "bool"
      Whitespace@356..357 " "
    BLOCK@357..456
      LBrace@357..358 "{"
      Whitespace@358..363 "\n    "
      EXPR_MATCH@363..453
        MatchKeyword@363..368 "match"
        Whitespace@368..369 " "
        EXPR_IDENT@369..375
          PATH@369..375
            Ident@369..374 "value"
            Whitespace@374..375 " "
        MATCH_ARM_LIST@375..453
          LBrace@375..376 "{"
          Whitespace@376..385 "\n        "
          MATCH_ARM@385..400
            PATTERN_INT32@385..393
              Int32Lit@385..392 "4096i32"
              Whitespace@392..393 " "
            FatArrow@393..395 "=>"
            Whitespace@395..396 " "
            EXPR_BOOL@396..400
              TrueKeyword@396..400 "true"
          Comma@400..401 ","
          Whitespace@401..410 "\n        "
          MATCH_ARM@410..425
            PATTERN_INT32@410..418
              Int32Lit@410..417 "8192i32"
              Whitespace@417..418 " "
            FatArrow@418..420 "=>"
            Whitespace@420..421 " "
            EXPR_BOOL@421..425
              TrueKeyword@421..425 "true"
          Comma@425..426 ","
          Whitespace@426..435 "\n        "
          MATCH_ARM@435..445
            PATTERN_WILDCARD@435..437
              WildcardKeyword@435..436 "_"
              Whitespace@436..437 " "
            FatArrow@437..439 "=>"
            Whitespace@439..440 " "
            EXPR_BOOL@440..445
              FalseKeyword@440..445 "false"
          Comma@445..446 ","
          Whitespace@446..451 "\n    "
          RBrace@451..452 "}"
          Whitespace@452..453 "\n"
      RBrace@453..454 "}"
      Whitespace@454..456 "\n\n"
  FN@456..595
    FnKeyword@456..458 "fn"
    Whitespace@458..459 " "
    Ident@459..471 "is_special64"
    PARAM_LIST@471..486
      LParen@471..472 "("
      PARAM@472..484
        Ident@472..477 "value"
        Colon@477..478 ":"
        Whitespace@478..479 " "
        TYPE_INT64@479..484
          Int64Keyword@479..484 "int64"
      RParen@484..485 ")"
      Whitespace@485..486 " "
    Arrow@486..488 "->"
    Whitespace@488..489 " "
    TYPE_BOOL@489..494
      BoolKeyword@489..493 "bool"
      Whitespace@493..494 " "
    BLOCK@494..595
      LBrace@494..495 "{"
      Whitespace@495..500 "\n    "
      EXPR_MATCH@500..592
        MatchKeyword@500..505 "match"
        Whitespace@505..506 " "
        EXPR_IDENT@506..512
          PATH@506..512
            Ident@506..511 "value"
            Whitespace@511..512 " "
        MATCH_ARM_LIST@512..592
          LBrace@512..513 "{"
          Whitespace@513..522 "\n        "
          MATCH_ARM@522..538
            PATTERN_INT64@522..531
              Int64Lit@522..530 "16384i64"
              Whitespace@530..531 " "
            FatArrow@531..533 "=>"
            Whitespace@533..534 " "
            EXPR_BOOL@534..538
              TrueKeyword@534..538 "true"
          Comma@538..539 ","
          Whitespace@539..548 "\n        "
          MATCH_ARM@548..564
            PATTERN_INT64@548..557
              Int64Lit@548..556 "32768i64"
              Whitespace@556..557 " "
            FatArrow@557..559 "=>"
            Whitespace@559..560 " "
            EXPR_BOOL@560..564
              TrueKeyword@560..564 "true"
          Comma@564..565 ","
          Whitespace@565..574 "\n        "
          MATCH_ARM@574..584
            PATTERN_WILDCARD@574..576
              WildcardKeyword@574..575 "_"
              Whitespace@575..576 " "
            FatArrow@576..578 "=>"
            Whitespace@578..579 " "
            EXPR_BOOL@579..584
              FalseKeyword@579..584 "false"
          Comma@584..585 ","
          Whitespace@585..590 "\n    "
          RBrace@590..591 "}"
          Whitespace@591..592 "\n"
      RBrace@592..593 "}"
      Whitespace@593..595 "\n\n"
  FN@595..720
    FnKeyword@595..597 "fn"
    Whitespace@597..598 " "
    Ident@598..609 "match_tuple"
    PARAM_LIST@609..633
      LParen@609..610 "("
      PARAM@610..631
        Ident@610..616 "values"
        Colon@616..617 ":"
        Whitespace@617..618 " "
        TYPE_TUPLE@618..631
          TYPE_LIST@618..631
            LParen@618..619 "("
            TYPE_INT8@619..623
              Int8Keyword@619..623 "int8"
            Comma@623..624 ","
            Whitespace@624..625 " "
            TYPE_INT16@625..630
              Int16Keyword@625..630 "int16"
            RParen@630..631 ")"
      RParen@631..632 ")"
      Whitespace@632..633 " "
    Arrow@633..635 "->"
    Whitespace@635..636 " "
    TYPE_BOOL@636..641
      BoolKeyword@636..640 "bool"
      Whitespace@640..641 " "
    BLOCK@641..720
      LBrace@641..642 "{"
      Whitespace@642..647 "\n    "
      EXPR_MATCH@647..717
        MatchKeyword@647..652 "match"
        Whitespace@652..653 " "
        EXPR_IDENT@653..660
          PATH@653..660
            Ident@653..659 "values"
            Whitespace@659..660 " "
        MATCH_ARM_LIST@660..717
          LBrace@660..661 "{"
          Whitespace@661..670 "\n        "
          MATCH_ARM@670..689
            PATTERN_TUPLE@670..682
              LParen@670..671 "("
              PATTERN_INT8@671..674
                Int8Lit@671..674 "1i8"
              Comma@674..675 ","
              Whitespace@675..676 " "
              PATTERN_INT16@676..680
                Int16Lit@676..680 "2i16"
              RParen@680..681 ")"
              Whitespace@681..682 " "
            FatArrow@682..684 "=>"
            Whitespace@684..685 " "
            EXPR_BOOL@685..689
              TrueKeyword@685..689 "true"
          Comma@689..690 ","
          Whitespace@690..699 "\n        "
          MATCH_ARM@699..709
            PATTERN_WILDCARD@699..701
              WildcardKeyword@699..700 "_"
              Whitespace@700..701 " "
            FatArrow@701..703 "=>"
            Whitespace@703..704 " "
            EXPR_BOOL@704..709
              FalseKeyword@704..709 "false"
          Comma@709..710 ","
          Whitespace@710..715 "\n    "
          RBrace@715..716 "}"
          Whitespace@716..717 "\n"
      RBrace@717..718 "}"
      Whitespace@718..720 "\n\n"
  FN@720..917
    FnKeyword@720..722 "fn"
    Whitespace@722..723 " "
    Ident@723..735 "match_struct"
    PARAM_LIST@735..752
      LParen@735..736 "("
      PARAM@736..750
        Ident@736..740 "pair"
        Colon@740..741 ":"
        Whitespace@741..742 " "
        TYPE_TAPP@742..750
          PATH@742..750
            Ident@742..750 "PairData"
      RParen@750..751 ")"
      Whitespace@751..752 " "
    Arrow@752..754 "->"
    Whitespace@754..755 " "
    TYPE_BOOL@755..760
      BoolKeyword@755..759 "bool"
      Whitespace@759..760 " "
    BLOCK@760..917
      LBrace@760..761 "{"
      Whitespace@761..766 "\n    "
      EXPR_MATCH@766..914
        MatchKeyword@766..771 "match"
        Whitespace@771..772 " "
        EXPR_IDENT@772..777
          PATH@772..777
            Ident@772..776 "pair"
            Whitespace@776..777 " "
        MATCH_ARM_LIST@777..914
          LBrace@777..778 "{"
          Whitespace@778..787 "\n        "
          MATCH_ARM@787..834
            PATTERN_CONSTR@787..827
              PATH@787..796
                Ident@787..795 "PairData"
                Whitespace@795..796 " "
              STRUCT_PATTERN_FIELD_LIST@796..827
                LBrace@796..797 "{"
                Whitespace@797..798 " "
                STRUCT_PATTERN_FIELD@798..810
                  Ident@798..802 "head"
                  Colon@802..803 ":"
                  Whitespace@803..804 " "
                  PATTERN_INT32@804..810
                    Int32Lit@804..810 "100i32"
                Comma@810..811 ","
                Whitespace@811..812 " "
                STRUCT_PATTERN_FIELD@812..825
                  Ident@812..816 "tail"
                  Colon@816..817 ":"
                  Whitespace@817..818 " "
                  PATTERN_INT64@818..825
                    Int64Lit@818..824 "200i64"
                    Whitespace@824..825 " "
                RBrace@825..826 "}"
                Whitespace@826..827 " "
            FatArrow@827..829 "=>"
            Whitespace@829..830 " "
            EXPR_BOOL@830..834
              TrueKeyword@830..834 "true"
          Comma@834..835 ","
          Whitespace@835..844 "\n        "
          MATCH_ARM@844..886
            PATTERN_CONSTR@844..879
              PATH@844..853
                Ident@844..852 "PairData"
                Whitespace@852..853 " "
              STRUCT_PATTERN_FIELD_LIST@853..879
                LBrace@853..854 "{"
                Whitespace@854..855 " "
                STRUCT_PATTERN_FIELD@855..862
                  Ident@855..859 "head"
                  Colon@859..860 ":"
                  Whitespace@860..861 " "
                  PATTERN_WILDCARD@861..862
                    WildcardKeyword@861..862 "_"
                Comma@862..863 ","
                Whitespace@863..864 " "
                STRUCT_PATTERN_FIELD@864..877
                  Ident@864..868 "tail"
                  Colon@868..869 ":"
                  Whitespace@869..870 " "
                  PATTERN_INT64@870..877
                    Int64Lit@870..876 "300i64"
                    Whitespace@876..877 " "
                RBrace@877..878 "}"
                Whitespace@878..879 " "
            FatArrow@879..881 "=>"
            Whitespace@881..882 " "
            EXPR_BOOL@882..886
              TrueKeyword@882..886 "true"
          Comma@886..887 ","
          Whitespace@887..896 "\n        "
          MATCH_ARM@896..906
            PATTERN_WILDCARD@896..898
              WildcardKeyword@896..897 "_"
              Whitespace@897..898 " "
            FatArrow@898..900 "=>"
            Whitespace@900..901 " "
            EXPR_BOOL@901..906
              FalseKeyword@901..906 "false"
          Comma@906..907 ","
          Whitespace@907..912 "\n    "
          RBrace@912..913 "}"
          Whitespace@913..914 "\n"
      RBrace@914..915 "}"
      Whitespace@915..917 "\n\n"
  FN@917..1004
    FnKeyword@917..919 "fn"
    Whitespace@919..920 " "
    Ident@920..926 "report"
    PARAM_LIST@926..955
      LParen@926..927 "("
      PARAM@927..942
        Ident@927..932 "label"
        Colon@932..933 ":"
        Whitespace@933..934 " "
        TYPE_STRING@934..940
          StringKeyword@934..940 "string"
        Comma@940..941 ","
        Whitespace@941..942 " "
      PARAM@942..953
        Ident@942..947 "value"
        Colon@947..948 ":"
        Whitespace@948..949 " "
        TYPE_BOOL@949..953
          BoolKeyword@949..953 "bool"
      RParen@953..954 ")"
      Whitespace@954..955 " "
    Arrow@955..957 "->"
    Whitespace@957..958 " "
    TYPE_STRING@958..965
      StringKeyword@958..964 "string"
      Whitespace@964..965 " "
    BLOCK@965..1004
      LBrace@965..966 "{"
      Whitespace@966..971 "\n    "
      EXPR_BINARY@971..1001
        EXPR_IDENT@971..977
          PATH@971..977
            Ident@971..976 "label"
            Whitespace@976..977 " "
        Plus@977..978 "+"
        Whitespace@978..979 " "
        EXPR_CALL@979..1001
          EXPR_IDENT@979..993
            PATH@979..993
              Ident@979..993 "bool_to_string"
          ARG_LIST@993..1001
            LParen@993..994 "("
            ARG@994..999
              EXPR_IDENT@994..999
                PATH@994..999
                  Ident@994..999 "value"
            RParen@999..1000 ")"
            Whitespace@1000..1001 "\n"
      RBrace@1001..1002 "}"
      Whitespace@1002..1004 "\n\n"
  FN@1004..2012
    FnKeyword@1004..1006 "fn"
    Whitespace@1006..1007 " "
    Ident@1007..1011 "main"
    PARAM_LIST@1011..1014
      LParen@1011..1012 "("
      RParen@1012..1013 ")"
      Whitespace@1013..1014 " "
    BLOCK@1014..2012
      LBrace@1014..1015 "{"
      Whitespace@1015..1020 "\n    "
      STMT_LET@1020..1053
        LetKeyword@1020..1023 "let"
        Whitespace@1023..1024 " "
        PATTERN_VARIABLE@1024..1035
          Ident@1024..1035 "tuple_first"
        Colon@1035..1036 ":"
        Whitespace@1036..1037 " "
        TYPE_INT8@1037..1042
          Int8Keyword@1037..1041 "int8"
          Whitespace@1041..1042 " "
        Eq@1042..1043 "="
        Whitespace@1043..1044 " "
        EXPR_INT8@1044..1047
          Int8Lit@1044..1047 "1i8"
        Semi@1047..1048 ";"
        Whitespace@1048..1053 "\n    "
      STMT_LET@1053..1089
        LetKeyword@1053..1056 "let"
        Whitespace@1056..1057 " "
        PATTERN_VARIABLE@1057..1069
          Ident@1057..1069 "tuple_second"
        Colon@1069..1070 ":"
        Whitespace@1070..1071 " "
        TYPE_INT16@1071..1077
          Int16Keyword@1071..1076 "int16"
          Whitespace@1076..1077 " "
        Eq@1077..1078 "="
        Whitespace@1078..1079 " "
        EXPR_INT16@1079..1083
          Int16Lit@1079..1083 "2i16"
        Semi@1083..1084 ";"
        Whitespace@1084..1089 "\n    "
      STMT_LET@1089..1158
        LetKeyword@1089..1092 "let"
        Whitespace@1092..1093 " "
        PATTERN_VARIABLE@1093..1110
          Ident@1093..1109 "tuple_result_hit"
          Whitespace@1109..1110 " "
        Eq@1110..1111 "="
        Whitespace@1111..1112 " "
        EXPR_CALL@1112..1152
          EXPR_IDENT@1112..1123
            PATH@1112..1123
              Ident@1112..1123 "match_tuple"
          ARG_LIST@1123..1152
            LParen@1123..1124 "("
            ARG@1124..1151
              EXPR_TUPLE@1124..1151
                LParen@1124..1125 "("
                EXPR_IDENT@1125..1136
                  PATH@1125..1136
                    Ident@1125..1136 "tuple_first"
                Comma@1136..1137 ","
                Whitespace@1137..1138 " "
                EXPR_IDENT@1138..1150
                  PATH@1138..1150
                    Ident@1138..1150 "tuple_second"
                RParen@1150..1151 ")"
            RParen@1151..1152 ")"
        Semi@1152..1153 ";"
        Whitespace@1153..1158 "\n    "
      STMT_LET@1158..1212
        LetKeyword@1158..1161 "let"
        Whitespace@1161..1162 " "
        PATTERN_VARIABLE@1162..1180
          Ident@1162..1179 "tuple_result_miss"
          Whitespace@1179..1180 " "
        Eq@1180..1181 "="
        Whitespace@1181..1182 " "
        EXPR_CALL@1182..1206
          EXPR_IDENT@1182..1193
            PATH@1182..1193
              Ident@1182..1193 "match_tuple"
          ARG_LIST@1193..1206
            LParen@1193..1194 "("
            ARG@1194..1205
              EXPR_TUPLE@1194..1205
                LParen@1194..1195 "("
                EXPR_INT8@1195..1198
                  Int8Lit@1195..1198 "3i8"
                Comma@1198..1199 ","
                Whitespace@1199..1200 " "
                EXPR_INT16@1200..1204
                  Int16Lit@1200..1204 "4i16"
                RParen@1204..1205 ")"
            RParen@1205..1206 ")"
        Semi@1206..1207 ";"
        Whitespace@1207..1212 "\n    "
      STMT_LET@1212..1288
        LetKeyword@1212..1215 "let"
        Whitespace@1215..1216 " "
        PATTERN_VARIABLE@1216..1227
          Ident@1216..1226 "pair_first"
          Whitespace@1226..1227 " "
        Eq@1227..1228 "="
        Whitespace@1228..1229 " "
        EXPR_CALL@1229..1282
          EXPR_IDENT@1229..1241
            PATH@1229..1241
              Ident@1229..1241 "match_struct"
          ARG_LIST@1241..1282
            LParen@1241..1242 "("
            ARG@1242..1281
              EXPR_STRUCT_LITERAL@1242..1281
                PATH@1242..1251
                  Ident@1242..1250 "PairData"
                  Whitespace@1250..1251 " "
                STRUCT_LITERAL_FIELD_LIST@1251..1281
                  LBrace@1251..1252 "{"
                  Whitespace@1252..1253 " "
                  STRUCT_LITERAL_FIELD@1253..1265
                    Ident@1253..1257 "head"
                    Colon@1257..1258 ":"
                    Whitespace@1258..1259 " "
                    EXPR_INT32@1259..1265
                      Int32Lit@1259..1265 "100i32"
                  Comma@1265..1266 ","
                  Whitespace@1266..1267 " "
                  STRUCT_LITERAL_FIELD@1267..1280
                    Ident@1267..1271 "tail"
                    Colon@1271..1272 ":"
                    Whitespace@1272..1273 " "
                    EXPR_INT64@1273..1280
                      Int64Lit@1273..1279 "200i64"
                      Whitespace@1279..1280 " "
                  RBrace@1280..1281 "}"
            RParen@1281..1282 ")"
        Semi@1282..1283 ";"
        Whitespace@1283..1288 "\n    "
      STMT_LET@1288..1365
        LetKeyword@1288..1291 "let"
        Whitespace@1291..1292 " "
        PATTERN_VARIABLE@1292..1304
          Ident@1292..1303 "pair_second"
          Whitespace@1303..1304 " "
        Eq@1304..1305 "="
        Whitespace@1305..1306 " "
        EXPR_CALL@1306..1358
          EXPR_IDENT@1306..1318
            PATH@1306..1318
              Ident@1306..1318 "match_struct"
          ARG_LIST@1318..1358
            LParen@1318..1319 "("
            ARG@1319..1357
              EXPR_STRUCT_LITERAL@1319..1357
                PATH@1319..1328
                  Ident@1319..1327 "PairData"
                  Whitespace@1327..1328 " "
                STRUCT_LITERAL_FIELD_LIST@1328..1357
                  LBrace@1328..1329 "{"
                  Whitespace@1329..1330 " "
                  STRUCT_LITERAL_FIELD@1330..1341
                    Ident@1330..1334 "head"
                    Colon@1334..1335 ":"
                    Whitespace@1335..1336 " "
                    EXPR_INT32@1336..1341
                      Int32Lit@1336..1341 "10i32"
                  Comma@1341..1342 ","
                  Whitespace@1342..1343 " "
                  STRUCT_LITERAL_FIELD@1343..1356
                    Ident@1343..1347 "tail"
                    Colon@1347..1348 ":"
                    Whitespace@1348..1349 " "
                    EXPR_INT64@1349..1356
                      Int64Lit@1349..1355 "300i64"
                      Whitespace@1355..1356 " "
                  RBrace@1356..1357 "}"
            RParen@1357..1358 ")"
        Semi@1358..1359 ";"
        Whitespace@1359..1365 "\n\n    "
      STMT_LET@1365..1416
        LetKeyword@1365..1368 "let"
        Whitespace@1368..1369 " "
        PATTERN_VARIABLE@1369..1375
          Ident@1369..1374 "part1"
          Whitespace@1374..1375 " "
        Eq@1375..1376 "="
        Whitespace@1376..1377 " "
        EXPR_CALL@1377..1410
          EXPR_IDENT@1377..1383
            PATH@1377..1383
              Ident@1377..1383 "report"
          ARG_LIST@1383..1410
            LParen@1383..1384 "("
            ARG@1384..1393
              EXPR_STR@1384..1391
                Str@1384..1391 "\"int8=\""
              Comma@1391..1392 ","
              Whitespace@1392..1393 " "
            ARG@1393..1409
              EXPR_CALL@1393..1409
                EXPR_IDENT@1393..1404
                  PATH@1393..1404
                    Ident@1393..1404 "is_special8"
                ARG_LIST@1404..1409
                  LParen@1404..1405 "("
                  ARG@1405..1408
                    EXPR_INT8@1405..1408
                      Int8Lit@1405..1408 "5i8"
                  RParen@1408..1409 ")"
            RParen@1409..1410 ")"
        Semi@1410..1411 ";"
        Whitespace@1411..1416 "\n    "
      STMT_LET@1416..1474
        LetKeyword@1416..1419 "let"
        Whitespace@1419..1420 " "
        PATTERN_VARIABLE@1420..1426
          Ident@1420..1425 "part2"
          Whitespace@1425..1426 " "
        Eq@1426..1427 "="
        Whitespace@1427..1428 " "
        EXPR_CALL@1428..1468
          EXPR_IDENT@1428..1434
            PATH@1428..1434
              Ident@1428..1434 "report"
          ARG_LIST@1434..1468
            LParen@1434..1435 "("
            ARG@1435..1446
              EXPR_STR@1435..1444
                Str@1435..1444 "\",int16=\""
              Comma@1444..1445 ","
              Whitespace@1445..1446 " "
            ARG@1446..1467
              EXPR_CALL@1446..1467
                EXPR_IDENT@1446..1458
                  PATH@1446..1458
                    Ident@1446..1458 "is_special16"
                ARG_LIST@1458..1467
                  LParen@1458..1459 "("
                  ARG@1459..1466
                    EXPR_INT16@1459..1466
                      Int16Lit@1459..1466 "1024i16"
                  RParen@1466..1467 ")"
            RParen@1467..1468 ")"
        Semi@1468..1469 ";"
        Whitespace@1469..1474 "\n    "
      STMT_LET@1474..1532
        LetKeyword@1474..1477 "let"
        Whitespace@1477..1478 " "
        PATTERN_VARIABLE@1478..1484
          Ident@1478..1483 "part3"
          Whitespace@1483..1484 " "
        Eq@1484..1485 "="
        Whitespace@1485..1486 " "
        EXPR_CALL@1486..1526
          EXPR_IDENT@1486..1492
            PATH@1486..1492
              Ident@1486..1492 "report"
          ARG_LIST@1492..1526
            LParen@1492..1493 "("
            ARG@1493..1504
              EXPR_STR@1493..1502
                Str@1493..1502 "\",int32=\""
              Comma@1502..1503 ","
              Whitespace@1503..1504 " "
            ARG@1504..1525
              EXPR_CALL@1504..1525
                EXPR_IDENT@1504..1516
                  PATH@1504..1516
                    Ident@1504..1516 "is_special32"
                ARG_LIST@1516..1525
                  LParen@1516..1517 "("
                  ARG@1517..1524
                    EXPR_INT32@1517..1524
                      Int32Lit@1517..1524 "8192i32"
                  RParen@1524..1525 ")"
            RParen@1525..1526 ")"
        Semi@1526..1527 ";"
        Whitespace@1527..1532 "\n    "
      STMT_LET@1532..1593
        LetKeyword@1532..1535 "let"
        Whitespace@1535..1536 " "
        PATTERN_VARIABLE@1536..1542
          Ident@1536..1541 "part4"
          Whitespace@1541..1542 " "
        Eq@1542..1543 "="
        Whitespace@1543..1544 " "
        EXPR_CALL@1544..1587
          EXPR_IDENT@1544..1550
            PATH@1544..1550
              Ident@1544..1550 "report"
          ARG_LIST@1550..1587
            LParen@1550..1551 "("
            ARG@1551..1564
              EXPR_STR@1551..1562
                Str@1551..1562 "\",int64_a=\""
              Comma@1562..1563 ","
              Whitespace@1563..1564 " "
            ARG@1564..1586
              EXPR_CALL@1564..1586
                EXPR_IDENT@1564..1576
                  PATH@1564..1576
                    Ident@1564..1576 "is_special64"
                ARG_LIST@1576..1586
                  LParen@1576..1577 "("
                  ARG@1577..1585
                    EXPR_INT64@1577..1585
                      Int64Lit@1577..1585 "16384i64"
                  RParen@1585..1586 ")"
            RParen@1586..1587 ")"
        Semi@1587..1588 ";"
        Whitespace@1588..1593 "\n    "
      STMT_LET@1593..1654
        LetKeyword@1593..1596 "let"
        Whitespace@1596..1597 " "
        PATTERN_VARIABLE@1597..1603
          Ident@1597..1602 "part5"
          Whitespace@1602..1603 " "
        Eq@1603..1604 "="
        Whitespace@1604..1605 " "
        EXPR_CALL@1605..1648
          EXPR_IDENT@1605..1611
            PATH@1605..1611
              Ident@1605..1611 "report"
          ARG_LIST@1611..1648
            LParen@1611..1612 "("
            ARG@1612..1625
              EXPR_STR@1612..1623
                Str@1612..1623 "\",int64_b=\""
              Comma@1623..1624 ","
              Whitespace@1624..1625 " "
            ARG@1625..1647
              EXPR_CALL@1625..1647
                EXPR_IDENT@1625..1637
                  PATH@1625..1637
                    Ident@1625..1637 "is_special64"
                ARG_LIST@1637..1647
                  LParen@1637..1638 "("
                  ARG@1638..1646
                    EXPR_INT64@1638..1646
                      Int64Lit@1638..1646 "32768i64"
                  RParen@1646..1647 ")"
            RParen@1647..1648 ")"
        Semi@1648..1649 ";"
        Whitespace@1649..1654 "\n    "
      STMT_LET@1654..1711
        LetKeyword@1654..1657 "let"
        Whitespace@1657..1658 " "
        PATTERN_VARIABLE@1658..1664
          Ident@1658..1663 "part6"
          Whitespace@1663..1664 " "
        Eq@1664..1665 "="
        Whitespace@1665..1666 " "
        EXPR_CALL@1666..1705
          EXPR_IDENT@1666..1672
            PATH@1666..1672
              Ident@1666..1672 "report"
          ARG_LIST@1672..1705
            LParen@1672..1673 "("
            ARG@1673..1688
              EXPR_STR@1673..1686
                Str@1673..1686 "\",tuple_hit=\""
              Comma@1686..1687 ","
              Whitespace@1687..1688 " "
            ARG@1688..1704
              EXPR_IDENT@1688..1704
                PATH@1688..1704
                  Ident@1688..1704 "tuple_result_hit"
            RParen@1704..1705 ")"
        Semi@1705..1706 ";"
        Whitespace@1706..1711 "\n    "
      STMT_LET@1711..1770
        LetKeyword@1711..1714 "let"
        Whitespace@1714..1715 " "
        PATTERN_VARIABLE@1715..1721
          Ident@1715..1720 "part7"
          Whitespace@1720..1721 " "
        Eq@1721..1722 "="
        Whitespace@1722..1723 " "
        EXPR_CALL@1723..1764
          EXPR_IDENT@1723..1729
            PATH@1723..1729
              Ident@1723..1729 "report"
          ARG_LIST@1729..1764
            LParen@1729..1730 "("
            ARG@1730..1746
              EXPR_STR@1730..1744
                Str@1730..1744 "\",tuple_miss=\""
              Comma@1744..1745 ","
              Whitespace@1745..1746 " "
            ARG@1746..1763
              EXPR_IDENT@1746..1763
                PATH@1746..1763
                  Ident@1746..1763 "tuple_result_miss"
            RParen@1763..1764 ")"
        Semi@1764..1765 ";"
        Whitespace@1765..1770 "\n    "
      STMT_LET@1770..1824
        LetKeyword@1770..1773 "let"
        Whitespace@1773..1774 " "
        PATTERN_VARIABLE@1774..1780
          Ident@1774..1779 "part8"
          Whitespace@1779..1780 " "
        Eq@1780..1781 "="
        Whitespace@1781..1782 " "
        EXPR_CALL@1782..1818
          EXPR_IDENT@1782..1788
            PATH@1782..1788
              Ident@1782..1788 "report"
          ARG_LIST@1788..1818
            LParen@1788..1789 "("
            ARG@1789..1807
              EXPR_STR@1789..1805
                Str@1789..1805 "\",struct_first=\""
              Comma@1805..1806 ","
              Whitespace@1806..1807 " "
            ARG@1807..1817
              EXPR_IDENT@1807..1817
                PATH@1807..1817
                  Ident@1807..1817 "pair_first"
            RParen@1817..1818 ")"
        Semi@1818..1819 ";"
        Whitespace@1819..1824 "\n    "
      STMT_LET@1824..1881
        LetKeyword@1824..1827 "let"
        Whitespace@1827..1828 " "
        PATTERN_VARIABLE@1828..1834
          Ident@1828..1833 "part9"
          Whitespace@1833..1834 " "
        Eq@1834..1835 "="
        Whitespace@1835..1836 " "
        EXPR_CALL@1836..1874
          EXPR_IDENT@1836..1842
            PATH@1836..1842
              Ident@1836..1842 "report"
          ARG_LIST@1842..1874
            LParen@1842..1843 "("
            ARG@1843..1862
              EXPR_STR@1843..1860
                Str@1843..1860 "\",struct_second=\""
              Comma@1860..1861 ","
              Whitespace@1861..1862 " "
            ARG@1862..1873
              EXPR_IDENT@1862..1873
                PATH@1862..1873
                  Ident@1862..1873 "pair_second"
            RParen@1873..1874 ")"
        Semi@1874..1875 ";"
        Whitespace@1875..1881 "\n\n    "
      STMT_LET@1881..1970
        LetKeyword@1881..1884 "let"
        Whitespace@1884..1885 " "
        PATTERN_VARIABLE@1885..1893
          Ident@1885..1892 "message"
          Whitespace@1892..1893 " "
        Eq@1893..1894 "="
        Whitespace@1894..1895 " "
        EXPR_BINARY@1895..1964
          EXPR_BINARY@1895..1957
            EXPR_BINARY@1895..1949
              EXPR_BINARY@1895..1941
                EXPR_BINARY@1895..1933
                  EXPR_BINARY@1895..1925
                    EXPR_BINARY@1895..1917
                      EXPR_BINARY@1895..1909
                        EXPR_IDENT@1895..1901
                          PATH@1895..1901
                            Ident@1895..1900 "part1"
                            Whitespace@1900..1901 " "
                        Plus@1901..1902 "+"
                        Whitespace@1902..1903 " "
                        EXPR_IDENT@1903..1909
                          PATH@1903..1909
                            Ident@1903..1908 "part2"
                            Whitespace@1908..1909 " "
                      Plus@1909..1910 "+"
                      Whitespace@1910..1911 " "
                      EXPR_IDENT@1911..1917
                        PATH@1911..1917
                          Ident@1911..1916 "part3"
                          Whitespace@1916..1917 " "
                    Plus@1917..1918 "+"
                    Whitespace@1918..1919 " "
                    EXPR_IDENT@1919..1925
                      PATH@1919..1925
                        Ident@1919..1924 "part4"
                        Whitespace@1924..1925 " "
                  Plus@1925..1926 "+"
                  Whitespace@1926..1927 " "
                  EXPR_IDENT@1927..1933
                    PATH@1927..1933
                      Ident@1927..1932 "part5"
                      Whitespace@1932..1933 " "
                Plus@1933..1934 "+"
                Whitespace@1934..1935 " "
                EXPR_IDENT@1935..1941
                  PATH@1935..1941
                    Ident@1935..1940 "part6"
                    Whitespace@1940..1941 " "
              Plus@1941..1942 "+"
              Whitespace@1942..1943 " "
              EXPR_IDENT@1943..1949
                PATH@1943..1949
                  Ident@1943..1948 "part7"
                  Whitespace@1948..1949 " "
            Plus@1949..1950 "+"
            Whitespace@1950..1951 " "
            EXPR_IDENT@1951..1957
              PATH@1951..1957
                Ident@1951..1956 "part8"
                Whitespace@1956..1957 " "
          Plus@1957..1958 "+"
          Whitespace@1958..1959 " "
          EXPR_IDENT@1959..1964
            PATH@1959..1964
              Ident@1959..1964 "part9"
        Semi@1964..1965 ";"
        Whitespace@1965..1970 "\n    "
      STMT_LET@1970..2007
        LetKeyword@1970..1973 "let"
        Whitespace@1973..1974 " "
        PATTERN_WILDCARD@1974..1976
          WildcardKeyword@1974..1975 "_"
          Whitespace@1975..1976 " "
        Eq@1976..1977 "="
        Whitespace@1977..1978 " "
        EXPR_CALL@1978..2001
          EXPR_IDENT@1978..1992
            PATH@1978..1992
              Ident@1978..1992 "string_println"
          ARG_LIST@1992..2001
            LParen@1992..1993 "("
            ARG@1993..2000
              EXPR_IDENT@1993..2000
                PATH@1993..2000
                  Ident@1993..2000 "message"
            RParen@2000..2001 ")"
        Semi@2001..2002 ";"
        Whitespace@2002..2007 "\n    "
      EXPR_UNIT@2007..2010
        LParen@2007..2008 "("
        RParen@2008..2009 ")"
        Whitespace@2009..2010 "\n"
      RBrace@2010..2011 "}"
      Whitespace@2011..2012 "\n"