FILE@0..828
  FN@0..108
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "match_int"
    PARAM_LIST@12..23
      LParen@12..13 "("
      PARAM@13..21
        Ident@13..14 "n"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_INT32@16..21
          Int32Keyword@16..21 "int32"
      RParen@21..22 ")"
      Whitespace@22..23 " "
    Arrow@23..25 "->"
    Whitespace@25..26 " "
    TYPE_INT32@26..32
      Int32Keyword@26..31 "int32"
      Whitespace@31..32 " "
    BLOCK@32..108
      LBrace@32..33 "{"
      Whitespace@33..38 "\n    "
      EXPR_MATCH@38..105
        MatchKeyword@38..43 "match"
        Whitespace@43..44 " "
        EXPR_IDENT@44..46
          PATH@44..46
            Ident@44..45 "n"
            Whitespace@45..46 " "
        MATCH_ARM_LIST@46..105
          LBrace@46..47 "{"
          Whitespace@47..56 "\n        "
          MATCH_ARM@56..63
            PATTERN_INT@56..58
              Int@56..57 "0"
              Whitespace@57..58 " "
            FatArrow@58..60 "=>"
            Whitespace@60..61 " "
            EXPR_INT@61..63
              Int@61..63 "10"
          Comma@63..64 ","
          Whitespace@64..73 "\n        "
          MATCH_ARM@73..80
            PATTERN_INT@73..75
              Int@73..74 "1"
              Whitespace@74..75 " "
            FatArrow@75..77 "=>"
            Whitespace@77..78 " "
            EXPR_INT@78..80
              Int@78..80 "20"
          Comma@80..81 ","
          Whitespace@81..90 "\n        "
          MATCH_ARM@90..97
            PATTERN_WILDCARD@90..92
              WildcardKeyword@90..91 "_"
              Whitespace@91..92 " "
            FatArrow@92..94 "=>"
            Whitespace@94..95 " "
            EXPR_INT@95..97
              Int@95..97 "30"
          Comma@97..98 ","
          Whitespace@98..103 "\n    "
          RBrace@103..104 "}"
          Whitespace@104..105 "\n"
      RBrace@105..106 "}"
      Whitespace@106..108 "\n\n"
  FN@108..204
    FnKeyword@108..110 "fn"
    Whitespace@110..111 " "
    Ident@111..125 "wildcard_first"
    PARAM_LIST@125..136
      LParen@125..126 "("
      PARAM@126..134
        Ident@126..127 "n"
        Colon@127..128 ":"
        Whitespace@128..129 " "
        TYPE_INT32@129..134
          Int32Keyword@129..134 "int32"
      RParen@134..135 ")"
      Whitespace@135..136 " "
    Arrow@136..138 "->"
    Whitespace@138..139 " "
    TYPE_INT32@139..145
      Int32Keyword@139..144 "int32"
      Whitespace@144..145 " "
    BLOCK@145..204
      LBrace@145..146 "{"
      Whitespace@146..151 "\n    "
      EXPR_MATCH@151..201
        MatchKeyword@151..156 "match"
        Whitespace@156..157 " "
        EXPR_IDENT@157..159
          PATH@157..159
            Ident@157..158 "n"
            Whitespace@158..159 " "
        MATCH_ARM_LIST@159..201
          LBrace@159..160 "{"
          Whitespace@160..169 "\n        "
          MATCH_ARM@169..176
            PATTERN_WILDCARD@169..171
              WildcardKeyword@169..170 "_"
              Whitespace@170..171 " "
            FatArrow@171..173 "=>"
            Whitespace@173..174 " "
            EXPR_INT@174..176
              Int@174..176 "40"
          Comma@176..177 ","
          Whitespace@177..186 "\n        "
          MATCH_ARM@186..193
            PATTERN_INT@186..188
              Int@186..187 "0"
              Whitespace@187..188 " "
            FatArrow@188..190 "=>"
            Whitespace@190..191 " "
            EXPR_INT@191..193
              Int@191..193 "50"
          Comma@193..194 ","
          Whitespace@194..199 "\n    "
          RBrace@199..200 "}"
          Whitespace@200..201 "\n"
      RBrace@201..202 "}"
      Whitespace@202..204 "\n\n"
  FN@204..320
    FnKeyword@204..206 "fn"
    Whitespace@206..207 " "
    Ident@207..222 "wildcard_middle"
    PARAM_LIST@222..233
      LParen@222..223 "("
      PARAM@223..231
        Ident@223..224 "n"
        Colon@224..225 ":"
        Whitespace@225..226 " "
        TYPE_INT32@226..231
          Int32Keyword@226..231 "int32"
      RParen@231..232 ")"
      Whitespace@232..233 " "
    Arrow@233..235 "->"
    Whitespace@235..236 " "
    TYPE_INT32@236..242
      Int32Keyword@236..241 "int32"
      Whitespace@241..242 " "
    BLOCK@242..320
      LBrace@242..243 "{"
      Whitespace@243..248 "\n    "
      EXPR_MATCH@248..317
        MatchKeyword@248..253 "match"
        Whitespace@253..254 " "
        EXPR_IDENT@254..256
          PATH@254..256
            Ident@254..255 "n"
            Whitespace@255..256 " "
        MATCH_ARM_LIST@256..317
          LBrace@256..257 "{"
          Whitespace@257..266 "\n        "
          MATCH_ARM@266..273
            PATTERN_INT@266..268
              Int@266..267 "2"
              Whitespace@267..268 " "
            FatArrow@268..270 "=>"
            Whitespace@270..271 " "
            EXPR_INT@271..273
              Int@271..273 "90"
          Comma@273..274 ","
          Whitespace@274..283 "\n        "
          MATCH_ARM@283..291
            PATTERN_WILDCARD@283..285
              WildcardKeyword@283..284 "_"
              Whitespace@284..285 " "
            FatArrow@285..287 "=>"
            Whitespace@287..288 " "
            EXPR_INT@288..291
              Int@288..291 "100"
          Comma@291..292 ","
          Whitespace@292..301 "\n        "
          MATCH_ARM@301..309
            PATTERN_INT@301..303
              Int@301..302 "3"
              Whitespace@302..303 " "
            FatArrow@303..305 "=>"
            Whitespace@305..306 " "
            EXPR_INT@306..309
              Int@306..309 "110"
          Comma@309..310 ","
          Whitespace@310..315 "\n    "
          RBrace@315..316 "}"
          Whitespace@316..317 "\n"
      RBrace@317..318 "}"
      Whitespace@318..320 "\n\n"
  FN@320..427
    FnKeyword@320..322 "fn"
    Whitespace@322..323 " "
    Ident@323..331 "repeated"
    PARAM_LIST@331..342
      LParen@331..332 "("
      PARAM@332..340
        Ident@332..333 "n"
        Colon@333..334 ":"
        Whitespace@334..335 " "
        TYPE_INT32@335..340
          Int32Keyword@335..340 "int32"
      RParen@340..341 ")"
      Whitespace@341..342 " "
    Arrow@342..344 "->"
    Whitespace@344..345 " "
    TYPE_INT32@345..351
      Int32Keyword@345..350 "int32"
      Whitespace@350..351 " "
    BLOCK@351..427
      LBrace@351..352 "{"
      Whitespace@352..357 "\n    "
      EXPR_MATCH@357..424
        MatchKeyword@357..362 "match"
        Whitespace@362..363 " "
        EXPR_IDENT@363..365
          PATH@363..365
            Ident@363..364 "n"
            Whitespace@364..365 " "
        MATCH_ARM_LIST@365..424
          LBrace@365..366 "{"
          Whitespace@366..375 "\n        "
          MATCH_ARM@375..382
            PATTERN_INT@375..377
              Int@375..376 "1"
              Whitespace@376..377 " "
            FatArrow@377..379 "=>"
            Whitespace@379..380 " "
            EXPR_INT@380..382
              Int@380..382 "60"
          Comma@382..383 ","
          Whitespace@383..392 "\n        "
          MATCH_ARM@392..399
            PATTERN_INT@392..394
              Int@392..393 "1"
              Whitespace@393..394 " "
            FatArrow@394..396 "=>"
            Whitespace@396..397 " "
            EXPR_INT@397..399
              Int@397..399 "70"
          Comma@399..400 ","
          Whitespace@400..409 "\n        "
          MATCH_ARM@409..416
            PATTERN_WILDCARD@409..411
              WildcardKeyword@409..410 "_"
              Whitespace@410..411 " "
            FatArrow@411..413 "=>"
            Whitespace@413..414 " "
            EXPR_INT@414..416
              Int@414..416 "80"
          Comma@416..417 ","
          Whitespace@417..422 "\n    "
          RBrace@422..423 "}"
          Whitespace@423..424 "\n"
      RBrace@424..425 "}"
      Whitespace@425..427 "\n\n"
  FN@427..828
    FnKeyword@427..429 "fn"
    Whitespace@429..430 " "
    Ident@430..434 "main"
    PARAM_LIST@434..437
      LParen@434..435 "("
      RParen@435..436 ")"
      Whitespace@436..437 " "
    BLOCK@437..828
      LBrace@437..438 "{"
      Whitespace@438..443 "\n    "
      STMT_LET@443..490
        LetKeyword@443..446 "let"
        Whitespace@446..447 " "
        PATTERN_WILDCARD@447..449
          WildcardKeyword@447..448 "_"
          Whitespace@448..449 " "
        Eq@449..450 "="
        Whitespace@450..451 " "
        EXPR_CALL@451..484
          EXPR_IDENT@451..458
            PATH@451..458
              Ident@451..458 "println"
          ARG_LIST@458..484
            LParen@458..459 "("
            ARG@459..483
              EXPR_CALL@459..483
                EXPR_BINARY@459..481
                  EXPR_CALL@459..471
                    EXPR_IDENT@459..468
                      PATH@459..468
                        Ident@459..468 "match_int"
                    ARG_LIST@468..471
                      LParen@468..469 "("
                      ARG@469..470
                        EXPR_INT@469..470
                          Int@469..470 "0"
                      RParen@470..471 ")"
                  Dot@471..472 "."
                  EXPR_IDENT@472..481
                    PATH@472..481
                      Ident@472..481 "to_string"
                ARG_LIST@481..483
                  LParen@481..482 "("
                  RParen@482..483 ")"
            RParen@483..484 ")"
        Semi@484..485 ";"
        Whitespace@485..490 "\n    "
      STMT_LET@490..537
        LetKeyword@490..493 "let"
        Whitespace@493..494 " "
        PATTERN_WILDCARD@494..496
          WildcardKeyword@494..495 "_"
          Whitespace@495..496 " "
        Eq@496..497 "="
        Whitespace@497..498 " "
        EXPR_CALL@498..531
          EXPR_IDENT@498..505
            PATH@498..505
              Ident@498..505 "println"
          ARG_LIST@505..531
            LParen@505..506 "("
            ARG@506..530
              EXPR_CALL@506..530
                EXPR_BINARY@506..528
                  EXPR_CALL@506..518
                    EXPR_IDENT@506..515
                      PATH@506..515
                        Ident@506..515 "match_int"
                    ARG_LIST@515..518
                      LParen@515..516 "("
                      ARG@516..517
                        EXPR_INT@516..517
                          Int@516..517 "5"
                      RParen@517..518 ")"
                  Dot@518..519 "."
                  EXPR_IDENT@519..528
                    PATH@519..528
                      Ident@519..528 "to_string"
                ARG_LIST@528..530
                  LParen@528..529 "("
                  RParen@529..530 ")"
            RParen@530..531 ")"
        Semi@531..532 ";"
        Whitespace@532..537 "\n    "
      STMT_LET@537..589
        LetKeyword@537..540 "let"
        Whitespace@540..541 " "
        PATTERN_WILDCARD@541..543
          WildcardKeyword@541..542 "_"
          Whitespace@542..543 " "
        Eq@543..544 "="
        Whitespace@544..545 " "
        EXPR_CALL@545..583
          EXPR_IDENT@545..552
            PATH@545..552
              Ident@545..552 "println"
          ARG_LIST@552..583
            LParen@552..553 "("
            ARG@553..582
              EXPR_CALL@553..582
                EXPR_BINARY@553..580
                  EXPR_CALL@553..570
                    EXPR_IDENT@553..567
                      PATH@553..567
                        Ident@553..567 "wildcard_first"
                    ARG_LIST@567..570
                      LParen@567..568 "("
                      ARG@568..569
                        EXPR_INT@568..569
                          Int@568..569 "0"
                      RParen@569..570 ")"
                  Dot@570..571 "."
                  EXPR_IDENT@571..580
                    PATH@571..580
                      Ident@571..580 "to_string"
                ARG_LIST@580..582
                  LParen@580..581 "("
                  RParen@581..582 ")"
            RParen@582..583 ")"
        Semi@583..584 ";"
        Whitespace@584..589 "\n    "
      STMT_LET@589..641
        LetKeyword@589..592 "let"
        Whitespace@592..593 " "
        PATTERN_WILDCARD@593..595
          WildcardKeyword@593..594 "_"
          Whitespace@594..595 " "
        Eq@595..596 "="
        Whitespace@596..597 " "
        EXPR_CALL@597..635
          EXPR_IDENT@597..604
            PATH@597..604
              Ident@597..604 "println"
          ARG_LIST@604..635
            LParen@604..605 "("
            ARG@605..634
              EXPR_CALL@605..634
                EXPR_BINARY@605..632
                  EXPR_CALL@605..622
                    EXPR_IDENT@605..619
                      PATH@605..619
                        Ident@605..619 "wildcard_first"
                    ARG_LIST@619..622
                      LParen@619..620 "("
                      ARG@620..621
                        EXPR_INT@620..621
                          Int@620..621 "2"
                      RParen@621..622 ")"
                  Dot@622..623 "."
                  EXPR_IDENT@623..632
                    PATH@623..632
                      Ident@623..632 "to_string"
                ARG_LIST@632..634
                  LParen@632..633 "("
                  RParen@633..634 ")"
            RParen@634..635 ")"
        Semi@635..636 ";"
        Whitespace@636..641 "\n    "
      STMT_LET@641..694
        LetKeyword@641..644 "let"
        Whitespace@644..645 " "
        PATTERN_WILDCARD@645..647
          WildcardKeyword@645..646 "_"
          Whitespace@646..647 " "
        Eq@647..648 "="
        Whitespace@648..649 " "
        EXPR_CALL@649..688
          EXPR_IDENT@649..656
            PATH@649..656
              Ident@649..656 "println"
          ARG_LIST@656..688
            LParen@656..657 "("
            ARG@657..687
              EXPR_CALL@657..687
                EXPR_BINARY@657..685
                  EXPR_CALL@657..675
                    EXPR_IDENT@657..672
                      PATH@657..672
                        Ident@657..672 "wildcard_middle"
                    ARG_LIST@672..675
                      LParen@672..673 "("
                      ARG@673..674
                        EXPR_INT@673..674
                          Int@673..674 "2"
                      RParen@674..675 ")"
                  Dot@675..676 "."
                  EXPR_IDENT@676..685
                    PATH@676..685
                      Ident@676..685 "to_string"
                ARG_LIST@685..687
                  LParen@685..686 "("
                  RParen@686..687 ")"
            RParen@687..688 ")"
        Semi@688..689 ";"
        Whitespace@689..694 "\n    "
      STMT_LET@694..747
        LetKeyword@694..697 "let"
        Whitespace@697..698 " "
        PATTERN_WILDCARD@698..700
          WildcardKeyword@698..699 "_"
          Whitespace@699..700 " "
        Eq@700..701 "="
        Whitespace@701..702 " "
        EXPR_CALL@702..741
          EXPR_IDENT@702..709
            PATH@702..709
              Ident@702..709 "println"
          ARG_LIST@709..741
            LParen@709..710 "("
            ARG@710..740
              EXPR_CALL@710..740
                EXPR_BINARY@710..738
                  EXPR_CALL@710..728
                    EXPR_IDENT@710..725
                      PATH@710..725
                        Ident@710..725 "wildcard_middle"
                    ARG_LIST@725..728
                      LParen@725..726 "("
                      ARG@726..727
                        EXPR_INT@726..727
                          Int@726..727 "3"
                      RParen@727..728 ")"
                  Dot@728..729 "."
                  EXPR_IDENT@729..738
                    PATH@729..738
                      Ident@729..738 "to_string"
                ARG_LIST@738..740
                  LParen@738..739 "("
                  RParen@739..740 ")"
            RParen@740..741 ")"
        Semi@741..742 ";"
        Whitespace@742..747 "\n    "
      STMT_LET@747..793
        LetKeyword@747..750 "let"
        Whitespace@750..751 " "
        PATTERN_WILDCARD@751..753
          WildcardKeyword@751..752 "_"
          Whitespace@752..753 " "
        Eq@753..754 "="
        Whitespace@754..755 " "
        EXPR_CALL@755..787
          EXPR_IDENT@755..762
            PATH@755..762
              Ident@755..762 "println"
          ARG_LIST@762..787
            LParen@762..763 "("
            ARG@763..786
              EXPR_CALL@763..786
                EXPR_BINARY@763..784
                  EXPR_CALL@763..774
                    EXPR_IDENT@763..771
                      PATH@763..771
                        Ident@763..771 "repeated"
                    ARG_LIST@771..774
                      LParen@771..772 "("
                      ARG@772..773
                        EXPR_INT@772..773
                          Int@772..773 "1"
                      RParen@773..774 ")"
                  Dot@774..775 "."
                  EXPR_IDENT@775..784
                    PATH@775..784
                      Ident@775..784 "to_string"
                ARG_LIST@784..786
                  LParen@784..785 "("
                  RParen@785..786 ")"
            RParen@786..787 ")"
        Semi@787..788 ";"
        Whitespace@788..793 "\n    "
      EXPR_CALL@793..826
        EXPR_IDENT@793..800
          PATH@793..800
            Ident@793..800 "println"
        ARG_LIST@800..826
          LParen@800..801 "("
          ARG@801..824
            EXPR_CALL@801..824
              EXPR_BINARY@801..822
                EXPR_CALL@801..812
                  EXPR_IDENT@801..809
                    PATH@801..809
                      Ident@801..809 "repeated"
                  ARG_LIST@809..812
                    LParen@809..810 "("
                    ARG@810..811
                      EXPR_INT@810..811
                        Int@810..811 "3"
                    RParen@811..812 ")"
                Dot@812..813 "."
                EXPR_IDENT@813..822
                  PATH@813..822
                    Ident@813..822 "to_string"
              ARG_LIST@822..824
                LParen@822..823 "("
                RParen@823..824 ")"
          RParen@824..825 ")"
          Whitespace@825..826 "\n"
      RBrace@826..827 "}"
      Whitespace@827..828 "\n"