FILE@0..3326
  FN@0..54
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "show_u8"
    PARAM_LIST@10..22
      LParen@10..11 "("
      PARAM@11..20
        Ident@11..16 "value"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_UINT8@18..20
          U8Keyword@18..20 "u8"
      RParen@20..21 ")"
      Whitespace@21..22 " "
    Arrow@22..24 "->"
    Whitespace@24..25 " "
    TYPE_UNIT@25..30
      UnitKeyword@25..29 "unit"
      Whitespace@29..30 " "
    BLOCK@30..54
      LBrace@30..31 "{"
      Whitespace@31..36 "\n    "
      EXPR_CALL@36..51
        EXPR_IDENT@36..43
          PATH@36..43
            Ident@36..43 "println"
        ARG_LIST@43..51
          LParen@43..44 "("
          ARG@44..49
            EXPR_IDENT@44..49
              PATH@44..49
                Ident@44..49 "value"
          RParen@49..50 ")"
          Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  FN@54..110
    FnKeyword@54..56 "fn"
    Whitespace@56..57 " "
    Ident@57..65 "show_u16"
    PARAM_LIST@65..78
      LParen@65..66 "("
      PARAM@66..76
        Ident@66..71 "value"
        Colon@71..72 ":"
        Whitespace@72..73 " "
        TYPE_UINT16@73..76
          U16Keyword@73..76 "u16"
      RParen@76..77 ")"
      Whitespace@77..78 " "
    Arrow@78..80 "->"
    Whitespace@80..81 " "
    TYPE_UNIT@81..86
      UnitKeyword@81..85 "unit"
      Whitespace@85..86 " "
    BLOCK@86..110
      LBrace@86..87 "{"
      Whitespace@87..92 "\n    "
      EXPR_CALL@92..107
        EXPR_IDENT@92..99
          PATH@92..99
            Ident@92..99 "println"
        ARG_LIST@99..107
          LParen@99..100 "("
          ARG@100..105
            EXPR_IDENT@100..105
              PATH@100..105
                Ident@100..105 "value"
          RParen@105..106 ")"
          Whitespace@106..107 "\n"
      RBrace@107..108 "}"
      Whitespace@108..110 "\n\n"
  FN@110..166
    FnKeyword@110..112 "fn"
    Whitespace@112..113 " "
    Ident@113..121 "show_u32"
    PARAM_LIST@121..134
      LParen@121..122 "("
      PARAM@122..132
        Ident@122..127 "value"
        Colon@127..128 ":"
        Whitespace@128..129 " "
        TYPE_UINT32@129..132
          U32Keyword@129..132 "u32"
      RParen@132..133 ")"
      Whitespace@133..134 " "
    Arrow@134..136 "->"
    Whitespace@136..137 " "
    TYPE_UNIT@137..142
      UnitKeyword@137..141 "unit"
      Whitespace@141..142 " "
    BLOCK@142..166
      LBrace@142..143 "{"
      Whitespace@143..148 "\n    "
      EXPR_CALL@148..163
        EXPR_IDENT@148..155
          PATH@148..155
            Ident@148..155 "println"
        ARG_LIST@155..163
          LParen@155..156 "("
          ARG@156..161
            EXPR_IDENT@156..161
              PATH@156..161
                Ident@156..161 "value"
          RParen@161..162 ")"
          Whitespace@162..163 "\n"
      RBrace@163..164 "}"
      Whitespace@164..166 "\n\n"
  FN@166..222
    FnKeyword@166..168 "fn"
    Whitespace@168..169 " "
    Ident@169..177 "show_u64"
    PARAM_LIST@177..190
      LParen@177..178 "("
      PARAM@178..188
        Ident@178..183 "value"
        Colon@183..184 ":"
        Whitespace@184..185 " "
        TYPE_UINT64@185..188
          U64Keyword@185..188 "u64"
      RParen@188..189 ")"
      Whitespace@189..190 " "
    Arrow@190..192 "->"
    Whitespace@192..193 " "
    TYPE_UNIT@193..198
      UnitKeyword@193..197 "unit"
      Whitespace@197..198 " "
    BLOCK@198..222
      LBrace@198..199 "{"
      Whitespace@199..204 "\n    "
      EXPR_CALL@204..219
        EXPR_IDENT@204..211
          PATH@204..211
            Ident@204..211 "println"
        ARG_LIST@211..219
          LParen@211..212 "("
          ARG@212..217
            EXPR_IDENT@212..217
              PATH@212..217
                Ident@212..217 "value"
          RParen@217..218 ")"
          Whitespace@218..219 "\n"
      RBrace@219..220 "}"
      Whitespace@220..222 "\n\n"
  FN@222..276
    FnKeyword@222..224 "fn"
    Whitespace@224..225 " "
    Ident@225..232 "show_i8"
    PARAM_LIST@232..244
      LParen@232..233 "("
      PARAM@233..242
        Ident@233..238 "value"
        Colon@238..239 ":"
        Whitespace@239..240 " "
        TYPE_INT8@240..242
          I8Keyword@240..242 "i8"
      RParen@242..243 ")"
      Whitespace@243..244 " "
    Arrow@244..246 "->"
    Whitespace@246..247 " "
    TYPE_UNIT@247..252
      UnitKeyword@247..251 "unit"
      Whitespace@251..252 " "
    BLOCK@252..276
      LBrace@252..253 "{"
      Whitespace@253..258 "\n    "
      EXPR_CALL@258..273
        EXPR_IDENT@258..265
          PATH@258..265
            Ident@258..265 "println"
        ARG_LIST@265..273
          LParen@265..266 "("
          ARG@266..271
            EXPR_IDENT@266..271
              PATH@266..271
                Ident@266..271 "value"
          RParen@271..272 ")"
          Whitespace@272..273 "\n"
      RBrace@273..274 "}"
      Whitespace@274..276 "\n\n"
  FN@276..332
    FnKeyword@276..278 "fn"
    Whitespace@278..279 " "
    Ident@279..287 "show_i16"
    PARAM_LIST@287..300
      LParen@287..288 "("
      PARAM@288..298
        Ident@288..293 "value"
        Colon@293..294 ":"
        Whitespace@294..295 " "
        TYPE_INT16@295..298
          I16Keyword@295..298 "i16"
      RParen@298..299 ")"
      Whitespace@299..300 " "
    Arrow@300..302 "->"
    Whitespace@302..303 " "
    TYPE_UNIT@303..308
      UnitKeyword@303..307 "unit"
      Whitespace@307..308 " "
    BLOCK@308..332
      LBrace@308..309 "{"
      Whitespace@309..314 "\n    "
      EXPR_CALL@314..329
        EXPR_IDENT@314..321
          PATH@314..321
            Ident@314..321 "println"
        ARG_LIST@321..329
          LParen@321..322 "("
          ARG@322..327
            EXPR_IDENT@322..327
              PATH@322..327
                Ident@322..327 "value"
          RParen@327..328 ")"
          Whitespace@328..329 "\n"
      RBrace@329..330 "}"
      Whitespace@330..332 "\n\n"
  FN@332..388
    FnKeyword@332..334 "fn"
    Whitespace@334..335 " "
    Ident@335..343 "show_i32"
    PARAM_LIST@343..356
      LParen@343..344 "("
      PARAM@344..354
        Ident@344..349 "value"
        Colon@349..350 ":"
        Whitespace@350..351 " "
        TYPE_INT32@351..354
          I32Keyword@351..354 "i32"
      RParen@354..355 ")"
      Whitespace@355..356 " "
    Arrow@356..358 "->"
    Whitespace@358..359 " "
    TYPE_UNIT@359..364
      UnitKeyword@359..363 "unit"
      Whitespace@363..364 " "
    BLOCK@364..388
      LBrace@364..365 "{"
      Whitespace@365..370 "\n    "
      EXPR_CALL@370..385
        EXPR_IDENT@370..377
          PATH@370..377
            Ident@370..377 "println"
        ARG_LIST@377..385
          LParen@377..378 "("
          ARG@378..383
            EXPR_IDENT@378..383
              PATH@378..383
                Ident@378..383 "value"
          RParen@383..384 ")"
          Whitespace@384..385 "\n"
      RBrace@385..386 "}"
      Whitespace@386..388 "\n\n"
  FN@388..444
    FnKeyword@388..390 "fn"
    Whitespace@390..391 " "
    Ident@391..399 "show_i64"
    PARAM_LIST@399..412
      LParen@399..400 "("
      PARAM@400..410
        Ident@400..405 "value"
        Colon@405..406 ":"
        Whitespace@406..407 " "
        TYPE_INT64@407..410
          I64Keyword@407..410 "i64"
      RParen@410..411 ")"
      Whitespace@411..412 " "
    Arrow@412..414 "->"
    Whitespace@414..415 " "
    TYPE_UNIT@415..420
      UnitKeyword@415..419 "unit"
      Whitespace@419..420 " "
    BLOCK@420..444
      LBrace@420..421 "{"
      Whitespace@421..426 "\n    "
      EXPR_CALL@426..441
        EXPR_IDENT@426..433
          PATH@426..433
            Ident@426..433 "println"
        ARG_LIST@433..441
          LParen@433..434 "("
          ARG@434..439
            EXPR_IDENT@434..439
              PATH@434..439
                Ident@434..439 "value"
          RParen@439..440 ")"
          Whitespace@440..441 "\n"
      RBrace@441..442 "}"
      Whitespace@442..444 "\n\n"
  FN@444..1326
    FnKeyword@444..446 "fn"
    Whitespace@446..447 " "
    Ident@447..459 "unsigned_ops"
    PARAM_LIST@459..462
      LParen@459..460 "("
      RParen@460..461 ")"
      Whitespace@461..462 " "
    Arrow@462..464 "->"
    Whitespace@464..465 " "
    TYPE_UNIT@465..470
      UnitKeyword@465..469 "unit"
      Whitespace@469..470 " "
    BLOCK@470..1326
      LBrace@470..471 "{"
      Whitespace@471..476 "\n    "
      STMT_EXPR@476..497
        EXPR_CALL@476..491
          EXPR_IDENT@476..483
            PATH@476..483
              Ident@476..483 "show_u8"
          ARG_LIST@483..491
            LParen@483..484 "("
            ARG@484..490
              EXPR_BINARY@484..490
                EXPR_INT@484..487
                  Int@484..486 "13"
                  Whitespace@486..487 " "
                Percent@487..488 "%"
                Whitespace@488..489 " "
                EXPR_INT@489..490
                  Int@489..490 "5"
            RParen@490..491 ")"
        Semi@491..492 ";"
        Whitespace@492..497 "\n    "
      STMT_EXPR@497..519
        EXPR_CALL@497..513
          EXPR_IDENT@497..504
            PATH@497..504
              Ident@497..504 "show_u8"
          ARG_LIST@504..513
            LParen@504..505 "("
            ARG@505..512
              EXPR_BINARY@505..512
                EXPR_INT@505..508
                  Int@505..507 "12"
                  Whitespace@507..508 " "
                Amp@508..509 "&"
                Whitespace@509..510 " "
                EXPR_INT@510..512
                  Int@510..512 "10"
            RParen@512..513 ")"
        Semi@513..514 ";"
        Whitespace@514..519 "\n    "
      STMT_EXPR@519..540
        EXPR_CALL@519..534
          EXPR_IDENT@519..526
            PATH@519..526
              Ident@519..526 "show_u8"
          ARG_LIST@526..534
            LParen@526..527 "("
            ARG@527..533
              EXPR_BINARY@527..533
                EXPR_INT@527..530
                  Int@527..529 "12"
                  Whitespace@529..530 " "
                Pipe@530..531 "|"
                Whitespace@531..532 " "
                EXPR_INT@532..533
                  Int@532..533 "3"
            RParen@533..534 ")"
        Semi@534..535 ";"
        Whitespace@535..540 "\n    "
      STMT_EXPR@540..562
        EXPR_CALL@540..556
          EXPR_IDENT@540..547
            PATH@540..547
              Ident@540..547 "show_u8"
          ARG_LIST@547..556
            LParen@547..548 "("
            ARG@548..555
              EXPR_BINARY@548..555
                EXPR_INT@548..551
                  Int@548..550 "12"
                  Whitespace@550..551 " "
                Caret@551..552 "^"
                Whitespace@552..553 " "
                EXPR_INT@553..555
                  Int@553..555 "10"
            RParen@555..556 ")"
        Semi@556..557 ";"
        Whitespace@557..562 "\n    "
      STMT_EXPR@562..583
        EXPR_CALL@562..577
          EXPR_IDENT@562..569
            PATH@562..569
              Ident@562..569 "show_u8"
          ARG_LIST@569..577
            LParen@569..570 "("
            ARG@570..576
              EXPR_BINARY@570..576
                EXPR_INT@570..572
                  Int@570..571 "1"
                  Whitespace@571..572 " "
                LessLess@572..574 "<<"
                Whitespace@574..575 " "
                EXPR_INT@575..576
                  Int@575..576 "7"
            RParen@576..577 ")"
        Semi@577..578 ";"
        Whitespace@578..583 "\n    "
      STMT_EXPR@583..606
        EXPR_CALL@583..600
          EXPR_IDENT@583..590
            PATH@583..590
              Ident@583..590 "show_u8"
          ARG_LIST@590..600
            LParen@590..591 "("
            ARG@591..599
              EXPR_BINARY@591..599
                EXPR_INT@591..595
                  Int@591..594 "128"
                  Whitespace@594..595 " "
                GreaterGreater@595..597 ">>"
                Whitespace@597..598 " "
                EXPR_INT@598..599
                  Int@598..599 "7"
            RParen@599..600 ")"
        Semi@600..601 ";"
        Whitespace@601..606 "\n    "
      STMT_EXPR@606..623
        EXPR_CALL@606..617
          EXPR_IDENT@606..613
            PATH@606..613
              Ident@606..613 "show_u8"
          ARG_LIST@613..617
            LParen@613..614 "("
            ARG@614..616
              EXPR_PREFIX@614..616
                Tilde@614..615 "~"
                EXPR_INT@615..616
                  Int@615..616 "0"
            RParen@616..617 ")"
        Semi@617..618 ";"
        Whitespace@618..623 "\n    "
      STMT_EXPR@623..644
        EXPR_CALL@623..638
          EXPR_IDENT@623..630
            PATH@623..630
              Ident@623..630 "show_u8"
          ARG_LIST@630..638
            LParen@630..631 "("
            ARG@631..637
              EXPR_BINARY@631..637
                EXPR_INT@631..633
                  Int@631..632 "1"
                  Whitespace@632..633 " "
                LessLess@633..635 "<<"
                Whitespace@635..636 " "
                EXPR_INT@636..637
                  Int@636..637 "8"
            RParen@637..638 ")"
        Semi@638..639 ";"
        Whitespace@639..644 "\n    "
      STMT_EXPR@644..669
        EXPR_CALL@644..663
          EXPR_IDENT@644..652
            PATH@644..652
              Ident@644..652 "show_u16"
          ARG_LIST@652..663
            LParen@652..653 "("
            ARG@653..662
              EXPR_BINARY@653..662
                EXPR_INT@653..657
                  Int@653..656 "513"
                  Whitespace@656..657 " "
                Percent@657..658 "%"
                Whitespace@658..659 " "
                EXPR_INT@659..662
                  Int@659..662 "256"
            RParen@662..663 ")"
        Semi@663..664 ";"
        Whitespace@664..669 "\n    "
      STMT_EXPR@669..695
        EXPR_CALL@669..689
          EXPR_IDENT@669..677
            PATH@669..677
              Ident@669..677 "show_u16"
          ARG_LIST@677..689
            LParen@677..678 "("
            ARG@678..688
              EXPR_BINARY@678..688
                EXPR_INT@678..683
                  Int@678..682 "3855"
                  Whitespace@682..683 " "
                Amp@683..684 "&"
                Whitespace@684..685 " "
                EXPR_INT@685..688
                  Int@685..688 "255"
            RParen@688..689 ")"
        Semi@689..690 ";"
        Whitespace@690..695 "\n    "
      STMT_EXPR@695..720
        EXPR_CALL@695..714
          EXPR_IDENT@695..703
            PATH@695..703
              Ident@695..703 "show_u16"
          ARG_LIST@703..714
            LParen@703..704 "("
            ARG@704..713
              EXPR_BINARY@704..713
                EXPR_INT@704..709
                  Int@704..708 "3840"
                  Whitespace@708..709 " "
                Pipe@709..710 "|"
                Whitespace@710..711 " "
                EXPR_INT@711..713
                  Int@711..713 "15"
            RParen@713..714 ")"
        Semi@714..715 ";"
        Whitespace@715..720 "\n    "
      STMT_EXPR@720..748
        EXPR_CALL@720..742
          EXPR_IDENT@720..728
            PATH@720..728
              Ident@720..728 "show_u16"
          ARG_LIST@728..742
            LParen@728..729 "("
            ARG@729..741
              EXPR_BINARY@729..741
                EXPR_INT@729..735
                  Int@729..734 "43690"
                  Whitespace@734..735 " "
                Caret@735..736 "^"
                Whitespace@736..737 " "
                EXPR_INT@737..741
                  Int@737..741 "3855"
            RParen@741..742 ")"
        Semi@742..743 ";"
        Whitespace@743..748 "\n    "
      STMT_EXPR@748..771
        EXPR_CALL@748..765
          EXPR_IDENT@748..756
            PATH@748..756
              Ident@748..756 "show_u16"
          ARG_LIST@756..765
            LParen@756..757 "("
            ARG@757..764
              EXPR_BINARY@757..764
                EXPR_INT@757..759
                  Int@757..758 "1"
                  Whitespace@758..759 " "
                LessLess@759..761 "<<"
                Whitespace@761..762 " "
                EXPR_INT@762..764
                  Int@762..764 "15"
            RParen@764..765 ")"
        Semi@765..766 ";"
        Whitespace@766..771 "\n    "
      STMT_EXPR@771..798
        EXPR_CALL@771..792
          EXPR_IDENT@771..779
            PATH@771..779
              Ident@771..779 "show_u16"
          ARG_LIST@779..792
            LParen@779..780 "("
            ARG@780..791
              EXPR_BINARY@780..791
                EXPR_INT@780..786
                  Int@780..785 "32768"
                  Whitespace@785..786 " "
                GreaterGreater@786..788 ">>"
                Whitespace@788..789 " "
                EXPR_INT@789..791
                  Int@789..791 "15"
            RParen@791..792 ")"
        Semi@792..793 ";"
        Whitespace@793..798 "\n    "
      STMT_EXPR@798..816
        EXPR_CALL@798..810
          EXPR_IDENT@798..806
            PATH@798..806
              Ident@798..806 "show_u16"
          ARG_LIST@806..810
            LParen@806..807 "("
            ARG@807..809
              EXPR_PREFIX@807..809
                Tilde@807..808 "~"
                EXPR_INT@808..809
                  Int@808..809 "0"
            RParen@809..810 ")"
        Semi@810..811 ";"
        Whitespace@811..816 "\n    "
      STMT_EXPR@816..849
        EXPR_CALL@816..843
          EXPR_IDENT@816..824
            PATH@816..824
              Ident@816..824 "show_u32"
          ARG_LIST@824..843
            LParen@824..825 "("
            ARG@825..842
              EXPR_BINARY@825..842
                EXPR_INT@825..836
                  Int@825..835 "1000000001"
                  Whitespace@835..836 " "
                Percent@836..837 "%"
                Whitespace@837..838 " "
                EXPR_INT@838..842
                  Int@838..842 "1000"
            RParen@842..843 ")"
        Semi@843..844 ";"
        Whitespace@844..849 "\n    "
      STMT_EXPR@849..887
        EXPR_CALL@849..881
          EXPR_IDENT@849..857
            PATH@849..857
              Ident@849..857 "show_u32"
          ARG_LIST@857..881
            LParen@857..858 "("
            ARG@858..880
              EXPR_BINARY@858..880
                EXPR_INT@858..869
                  Int@858..868 "4042322160"
                  Whitespace@868..869 " "
                Amp@869..870 "&"
                Whitespace@870..871 " "
                EXPR_INT@871..880
                  Int@871..880 "252645135"
            RParen@880..881 ")"
        Semi@881..882 ";"
        Whitespace@882..887 "\n    "
      STMT_EXPR@887..925
        EXPR_CALL@887..919
          EXPR_IDENT@887..895
            PATH@887..895
              Ident@887..895 "show_u32"
          ARG_LIST@895..919
            LParen@895..896 "("
            ARG@896..918
              EXPR_BINARY@896..918
                EXPR_INT@896..907
                  Int@896..906 "4042322160"
                  Whitespace@906..907 " "
                Pipe@907..908 "|"
                Whitespace@908..909 " "
                EXPR_INT@909..918
                  Int@909..918 "252645135"
            RParen@918..919 ")"
        Semi@919..920 ";"
        Whitespace@920..925 "\n    "
      STMT_EXPR@925..963
        EXPR_CALL@925..957
          EXPR_IDENT@925..933
            PATH@925..933
              Ident@925..933 "show_u32"
          ARG_LIST@933..957
            LParen@933..934 "("
            ARG@934..956
              EXPR_BINARY@934..956
                EXPR_INT@934..945
                  Int@934..944 "4042322160"
                  Whitespace@944..945 " "
                Caret@945..946 "^"
                Whitespace@946..947 " "
                EXPR_INT@947..956
                  Int@947..956 "252645135"
            RParen@956..957 ")"
        Semi@957..958 ";"
        Whitespace@958..963 "\n    "
      STMT_EXPR@963..986
        EXPR_CALL@963..980
          EXPR_IDENT@963..971
            PATH@963..971
              Ident@963..971 "show_u32"
          ARG_LIST@971..980
            LParen@971..972 "("
            ARG@972..979
              EXPR_BINARY@972..979
                EXPR_INT@972..974
                  Int@972..973 "1"
                  Whitespace@973..974 " "
                LessLess@974..976 "<<"
                Whitespace@976..977 " "
                EXPR_INT@977..979
                  Int@977..979 "31"
            RParen@979..980 ")"
        Semi@980..981 ";"
        Whitespace@981..986 "\n    "
      STMT_EXPR@986..1018
        EXPR_CALL@986..1012
          EXPR_IDENT@986..994
            PATH@986..994
              Ident@986..994 "show_u32"
          ARG_LIST@994..1012
            LParen@994..995 "("
            ARG@995..1011
              EXPR_BINARY@995..1011
                EXPR_INT@995..1006
                  Int@995..1005 "2147483648"
                  Whitespace@1005..1006 " "
                GreaterGreater@1006..1008 ">>"
                Whitespace@1008..1009 " "
                EXPR_INT@1009..1011
                  Int@1009..1011 "31"
            RParen@1011..1012 ")"
        Semi@1012..1013 ";"
        Whitespace@1013..1018 "\n    "
      STMT_EXPR@1018..1036
        EXPR_CALL@1018..1030
          EXPR_IDENT@1018..1026
            PATH@1018..1026
              Ident@1018..1026 "show_u32"
          ARG_LIST@1026..1030
            LParen@1026..1027 "("
            ARG@1027..1029
              EXPR_PREFIX@1027..1029
                Tilde@1027..1028 "~"
                EXPR_INT@1028..1029
                  Int@1028..1029 "0"
            RParen@1029..1030 ")"
        Semi@1030..1031 ";"
        Whitespace@1031..1036 "\n    "
      STMT_EXPR@1036..1072
        EXPR_CALL@1036..1066
          EXPR_IDENT@1036..1044
            PATH@1036..1044
              Ident@1036..1044 "show_u64"
          ARG_LIST@1044..1066
            LParen@1044..1045 "("
            ARG@1045..1065
              EXPR_BINARY@1045..1065
                EXPR_INT@1045..1059
                  Int@1045..1058 "1000000000001"
                  Whitespace@1058..1059 " "
                Percent@1059..1060 "%"
                Whitespace@1060..1061 " "
                EXPR_INT@1061..1065
                  Int@1061..1065 "1000"
            RParen@1065..1066 ")"
        Semi@1066..1067 ";"
        Whitespace@1067..1072 "\n    "
      STMT_EXPR@1072..1130
        EXPR_CALL@1072..1124
          EXPR_IDENT@1072..1080
            PATH@1072..1080
              Ident@1072..1080 "show_u64"
          ARG_LIST@1080..1124
            LParen@1080..1081 "("
            ARG@1081..1123
              EXPR_BINARY@1081..1123
                EXPR_INT@1081..1102
                  Int@1081..1101 "17361641481138401520"
                  Whitespace@1101..1102 " "
                Amp@1102..1103 "&"
                Whitespace@1103..1104 " "
                EXPR_INT@1104..1123
                  Int@1104..1123 "1085102592571150095"
            RParen@1123..1124 ")"
        Semi@1124..1125 ";"
        Whitespace@1125..1130 "\n    "
      STMT_EXPR@1130..1188
        EXPR_CALL@1130..1182
          EXPR_IDENT@1130..1138
            PATH@1130..1138
              Ident@1130..1138 "show_u64"
          ARG_LIST@1138..1182
            LParen@1138..1139 "("
            ARG@1139..1181
              EXPR_BINARY@1139..1181
                EXPR_INT@1139..1160
                  Int@1139..1159 "17361641481138401520"
                  Whitespace@1159..1160 " "
                Pipe@1160..1161 "|"
                Whitespace@1161..1162 " "
                EXPR_INT@1162..1181
                  Int@1162..1181 "1085102592571150095"
            RParen@1181..1182 ")"
        Semi@1182..1183 ";"
        Whitespace@1183..1188 "\n    "
      STMT_EXPR@1188..1246
        EXPR_CALL@1188..1240
          EXPR_IDENT@1188..1196
            PATH@1188..1196
              Ident@1188..1196 "show_u64"
          ARG_LIST@1196..1240
            LParen@1196..1197 "("
            ARG@1197..1239
              EXPR_BINARY@1197..1239
                EXPR_INT@1197..1218
                  Int@1197..1217 "17361641481138401520"
                  Whitespace@1217..1218 " "
                Caret@1218..1219 "^"
                Whitespace@1219..1220 " "
                EXPR_INT@1220..1239
                  Int@1220..1239 "1085102592571150095"
            RParen@1239..1240 ")"
        Semi@1240..1241 ";"
        Whitespace@1241..1246 "\n    "
      STMT_EXPR@1246..1269
        EXPR_CALL@1246..1263
          EXPR_IDENT@1246..1254
            PATH@1246..1254
              Ident@1246..1254 "show_u64"
          ARG_LIST@1254..1263
            LParen@1254..1255 "("
            ARG@1255..1262
              EXPR_BINARY@1255..1262
                EXPR_INT@1255..1257
                  Int@1255..1256 "1"
                  Whitespace@1256..1257 " "
                LessLess@1257..1259 "<<"
                Whitespace@1259..1260 " "
                EXPR_INT@1260..1262
                  Int@1260..1262 "63"
            RParen@1262..1263 ")"
        Semi@1263..1264 ";"
        Whitespace@1264..1269 "\n    "
      STMT_EXPR@1269..1310
        EXPR_CALL@1269..1304
          EXPR_IDENT@1269..1277
            PATH@1269..1277
              Ident@1269..1277 "show_u64"
          ARG_LIST@1277..1304
            LParen@1277..1278 "("
            ARG@1278..1303
              EXPR_BINARY@1278..1303
                EXPR_INT@1278..1298
                  Int@1278..1297 "9223372036854775808"
                  Whitespace@1297..1298 " "
                GreaterGreater@1298..1300 ">>"
                Whitespace@1300..1301 " "
                EXPR_INT@1301..1303
                  Int@1301..1303 "63"
            RParen@1303..1304 ")"
        Semi@1304..1305 ";"
        Whitespace@1305..1310 "\n    "
      EXPR_CALL@1310..1323
        EXPR_IDENT@1310..1318
          PATH@1310..1318
            Ident@1310..1318 "show_u64"
        ARG_LIST@1318..1323
          LParen@1318..1319 "("
          ARG@1319..1321
            EXPR_PREFIX@1319..1321
              Tilde@1319..1320 "~"
              EXPR_INT@1320..1321
                Int@1320..1321 "0"
          RParen@1321..1322 ")"
          Whitespace@1322..1323 "\n"
      RBrace@1323..1324 "}"
      Whitespace@1324..1326 "\n\n"
  FN@1326..1808
    FnKeyword@1326..1328 "fn"
    Whitespace@1328..1329 " "
    Ident@1329..1339 "signed_ops"
    PARAM_LIST@1339..1342
      LParen@1339..1340 "("
      RParen@1340..1341 ")"
      Whitespace@1341..1342 " "
    Arrow@1342..1344 "->"
    Whitespace@1344..1345 " "
    TYPE_UNIT@1345..1350
      UnitKeyword@1345..1349 "unit"
      Whitespace@1349..1350 " "
    BLOCK@1350..1808
      LBrace@1350..1351 "{"
      Whitespace@1351..1356 "\n    "
      STMT_EXPR@1356..1378
        EXPR_CALL@1356..1372
          EXPR_IDENT@1356..1363
            PATH@1356..1363
              Ident@1356..1363 "show_i8"
          ARG_LIST@1363..1372
            LParen@1363..1364 "("
            ARG@1364..1371
              EXPR_BINARY@1364..1371
                EXPR_PREFIX@1364..1368
                  Minus@1364..1365 "-"
                  EXPR_INT@1365..1368
                    Int@1365..1367 "13"
                    Whitespace@1367..1368 " "
                Percent@1368..1369 "%"
                Whitespace@1369..1370 " "
                EXPR_INT@1370..1371
                  Int@1370..1371 "5"
            RParen@1371..1372 ")"
        Semi@1372..1373 ";"
        Whitespace@1373..1378 "\n    "
      STMT_EXPR@1378..1400
        EXPR_CALL@1378..1394
          EXPR_IDENT@1378..1385
            PATH@1378..1385
              Ident@1378..1385 "show_i8"
          ARG_LIST@1385..1394
            LParen@1385..1386 "("
            ARG@1386..1393
              EXPR_BINARY@1386..1393
                EXPR_PREFIX@1386..1389
                  Minus@1386..1387 "-"
                  EXPR_INT@1387..1389
                    Int@1387..1388 "8"
                    Whitespace@1388..1389 " "
                GreaterGreater@1389..1391 ">>"
                Whitespace@1391..1392 " "
                EXPR_INT@1392..1393
                  Int@1392..1393 "2"
            RParen@1393..1394 ")"
        Semi@1394..1395 ";"
        Whitespace@1395..1400 "\n    "
      STMT_EXPR@1400..1421
        EXPR_CALL@1400..1415
          EXPR_IDENT@1400..1407
            PATH@1400..1407
              Ident@1400..1407 "show_i8"
          ARG_LIST@1407..1415
            LParen@1407..1408 "("
            ARG@1408..1414
              EXPR_BINARY@1408..1414
                EXPR_INT@1408..1410
                  Int@1408..1409 "1"
                  Whitespace@1409..1410 " "
                LessLess@1410..1412 "<<"
                Whitespace@1412..1413 " "
                EXPR_INT@1413..1414
                  Int@1413..1414 "6"
            RParen@1414..1415 ")"
        Semi@1415..1416 ";"
        Whitespace@1416..1421 "\n    "
      STMT_EXPR@1421..1438
        EXPR_CALL@1421..1432
          EXPR_IDENT@1421..1428
            PATH@1421..1428
              Ident@1421..1428 "show_i8"
          ARG_LIST@1428..1432
            LParen@1428..1429 "("
            ARG@1429..1431
              EXPR_PREFIX@1429..1431
                Tilde@1429..1430 "~"
                EXPR_INT@1430..1431
                  Int@1430..1431 "0"
            RParen@1431..1432 ")"
        Semi@1432..1433 ";"
        Whitespace@1433..1438 "\n    "
      STMT_EXPR@1438..1460
        EXPR_CALL@1438..1454
          EXPR_IDENT@1438..1445
            PATH@1438..1445
              Ident@1438..1445 "show_i8"
          ARG_LIST@1445..1454
            LParen@1445..1446 "("
            ARG@1446..1453
              EXPR_BINARY@1446..1453
                EXPR_PREFIX@1446..1449
                  Minus@1446..1447 "-"
                  EXPR_INT@1447..1449
                    Int@1447..1448 "1"
                    Whitespace@1448..1449 " "
                GreaterGreater@1449..1451 ">>"
                Whitespace@1451..1452 " "
                EXPR_INT@1452..1453
                  Int@1452..1453 "7"
            RParen@1453..1454 ")"
        Semi@1454..1455 ";"
        Whitespace@1455..1460 "\n    "
      STMT_EXPR@1460..1486
        EXPR_CALL@1460..1480
          EXPR_IDENT@1460..1468
            PATH@1460..1468
              Ident@1460..1468 "show_i16"
          ARG_LIST@1468..1480
            LParen@1468..1469 "("
            ARG@1469..1479
              EXPR_BINARY@1469..1479
                EXPR_PREFIX@1469..1474
                  Minus@1469..1470 "-"
                  EXPR_INT@1470..1474
                    Int@1470..1473 "513"
                    Whitespace@1473..1474 " "
                Percent@1474..1475 "%"
                Whitespace@1475..1476 " "
                EXPR_INT@1476..1479
                  Int@1476..1479 "256"
            RParen@1479..1480 ")"
        Semi@1480..1481 ";"
        Whitespace@1481..1486 "\n    "
      STMT_EXPR@1486..1520
        EXPR_CALL@1486..1514
          EXPR_IDENT@1486..1494
            PATH@1486..1494
              Ident@1486..1494 "show_i16"
          ARG_LIST@1494..1514
            LParen@1494..1495 "("
            ARG@1495..1513
              EXPR_BINARY@1495..1513
                EXPR_PAREN@1495..1508
                  LParen@1495..1496 "("
                  EXPR_BINARY@1496..1506
                    EXPR_PREFIX@1496..1503
                      Minus@1496..1497 "-"
                      EXPR_INT@1497..1503
                        Int@1497..1502 "32767"
                        Whitespace@1502..1503 " "
                    Minus@1503..1504 "-"
                    Whitespace@1504..1505 " "
                    EXPR_INT@1505..1506
                      Int@1505..1506 "1"
                  RParen@1506..1507 ")"
                  Whitespace@1507..1508 " "
                GreaterGreater@1508..1510 ">>"
                Whitespace@1510..1511 " "
                EXPR_INT@1511..1513
                  Int@1511..1513 "15"
            RParen@1513..1514 ")"
        Semi@1514..1515 ";"
        Whitespace@1515..1520 "\n    "
      STMT_EXPR@1520..1543
        EXPR_CALL@1520..1537
          EXPR_IDENT@1520..1528
            PATH@1520..1528
              Ident@1520..1528 "show_i16"
          ARG_LIST@1528..1537
            LParen@1528..1529 "("
            ARG@1529..1536
              EXPR_BINARY@1529..1536
                EXPR_INT@1529..1531
                  Int@1529..1530 "1"
                  Whitespace@1530..1531 " "
                LessLess@1531..1533 "<<"
                Whitespace@1533..1534 " "
                EXPR_INT@1534..1536
                  Int@1534..1536 "14"
            RParen@1536..1537 ")"
        Semi@1537..1538 ";"
        Whitespace@1538..1543 "\n    "
      STMT_EXPR@1543..1563
        EXPR_CALL@1543..1557
          EXPR_IDENT@1543..1551
            PATH@1543..1551
              Ident@1543..1551 "show_i16"
          ARG_LIST@1551..1557
            LParen@1551..1552 "("
            ARG@1552..1556
              EXPR_PREFIX@1552..1556
                Tilde@1552..1553 "~"
                EXPR_INT@1553..1556
                  Int@1553..1556 "255"
            RParen@1556..1557 ")"
        Semi@1557..1558 ";"
        Whitespace@1558..1563 "\n    "
      STMT_EXPR@1563..1597
        EXPR_CALL@1563..1591
          EXPR_IDENT@1563..1571
            PATH@1563..1571
              Ident@1563..1571 "show_i32"
          ARG_LIST@1571..1591
            LParen@1571..1572 "("
            ARG@1572..1590
              EXPR_BINARY@1572..1590
                EXPR_PREFIX@1572..1584
                  Minus@1572..1573 "-"
                  EXPR_INT@1573..1584
                    Int@1573..1583 "1000000001"
                    Whitespace@1583..1584 " "
                Percent@1584..1585 "%"
                Whitespace@1585..1586 " "
                EXPR_INT@1586..1590
                  Int@1586..1590 "1000"
            RParen@1590..1591 ")"
        Semi@1591..1592 ";"
        Whitespace@1592..1597 "\n    "
      STMT_EXPR@1597..1636
        EXPR_CALL@1597..1630
          EXPR_IDENT@1597..1605
            PATH@1597..1605
              Ident@1597..1605 "show_i32"
          ARG_LIST@1605..1630
            LParen@1605..1606 "("
            ARG@1606..1629
              EXPR_BINARY@1606..1629
                EXPR_PAREN@1606..1624
                  LParen@1606..1607 "("
                  EXPR_BINARY@1607..1622
                    EXPR_PREFIX@1607..1619
                      Minus@1607..1608 "-"
                      EXPR_INT@1608..1619
                        Int@1608..1618 "2147483647"
                        Whitespace@1618..1619 " "
                    Minus@1619..1620 "-"
                    Whitespace@1620..1621 " "
                    EXPR_INT@1621..1622
                      Int@1621..1622 "1"
                  RParen@1622..1623 ")"
                  Whitespace@1623..1624 " "
                GreaterGreater@1624..1626 ">>"
                Whitespace@1626..1627 " "
                EXPR_INT@1627..1629
                  Int@1627..1629 "31"
            RParen@1629..1630 ")"
        Semi@1630..1631 ";"
        Whitespace@1631..1636 "\n    "
      STMT_EXPR@1636..1659
        EXPR_CALL@1636..1653
          EXPR_IDENT@1636..1644
            PATH@1636..1644
              Ident@1636..1644 "show_i32"
          ARG_LIST@1644..1653
            LParen@1644..1645 "("
            ARG@1645..1652
              EXPR_BINARY@1645..1652
                EXPR_INT@1645..1647
                  Int@1645..1646 "1"
                  Whitespace@1646..1647 " "
                LessLess@1647..1649 "<<"
                Whitespace@1649..1650 " "
                EXPR_INT@1650..1652
                  Int@1650..1652 "30"
            RParen@1652..1653 ")"
        Semi@1653..1654 ";"
        Whitespace@1654..1659 "\n    "
      STMT_EXPR@1659..1681
        EXPR_CALL@1659..1675
          EXPR_IDENT@1659..1667
            PATH@1659..1667
              Ident@1659..1667 "show_i32"
          ARG_LIST@1667..1675
            LParen@1667..1668 "("
            ARG@1668..1674
              EXPR_PREFIX@1668..1674
                Tilde@1668..1669 "~"
                EXPR_INT@1669..1674
                  Int@1669..1674 "65535"
            RParen@1674..1675 ")"
        Semi@1675..1676 ";"
        Whitespace@1676..1681 "\n    "
      STMT_EXPR@1681..1718
        EXPR_CALL@1681..1712
          EXPR_IDENT@1681..1689
            PATH@1681..1689
              Ident@1681..1689 "show_i64"
          ARG_LIST@1689..1712
            LParen@1689..1690 "("
            ARG@1690..1711
              EXPR_BINARY@1690..1711
                EXPR_PREFIX@1690..1705
                  Minus@1690..1691 "-"
                  EXPR_INT@1691..1705
                    Int@1691..1704 "1000000000001"
                    Whitespace@1704..1705 " "
                Percent@1705..1706 "%"
                Whitespace@1706..1707 " "
                EXPR_INT@1707..1711
                  Int@1707..1711 "1000"
            RParen@1711..1712 ")"
        Semi@1712..1713 ";"
        Whitespace@1713..1718 "\n    "
      STMT_EXPR@1718..1760
        EXPR_CALL@1718..1754
          EXPR_IDENT@1718..1726
            PATH@1718..1726
              Ident@1718..1726 "show_i64"
          ARG_LIST@1726..1754
            LParen@1726..1727 "("
            ARG@1727..1753
              EXPR_BINARY@1727..1753
                EXPR_PREFIX@1727..1748
                  Minus@1727..1728 "-"
                  EXPR_INT@1728..1748
                    Int@1728..1747 "9223372036854775807"
                    Whitespace@1747..1748 " "
                GreaterGreater@1748..1750 ">>"
                Whitespace@1750..1751 " "
                EXPR_INT@1751..1753
                  Int@1751..1753 "62"
            RParen@1753..1754 ")"
        Semi@1754..1755 ";"
        Whitespace@1755..1760 "\n    "
      STMT_EXPR@1760..1783
        EXPR_CALL@1760..1777
          EXPR_IDENT@1760..1768
            PATH@1760..1768
              Ident@1760..1768 "show_i64"
          ARG_LIST@1768..1777
            LParen@1768..1769 "("
            ARG@1769..1776
              EXPR_BINARY@1769..1776
                EXPR_INT@1769..1771
                  Int@1769..1770 "1"
                  Whitespace@1770..1771 " "
                LessLess@1771..1773 "<<"
                Whitespace@1773..1774 " "
                EXPR_INT@1774..1776
                  Int@1774..1776 "62"
            RParen@1776..1777 ")"
        Semi@1777..1778 ";"
        Whitespace@1778..1783 "\n    "
      EXPR_CALL@1783..1805
        EXPR_IDENT@1783..1791
          PATH@1783..1791
            Ident@1783..1791 "show_i64"
        ARG_LIST@1791..1805
          LParen@1791..1792 "("
          ARG@1792..1803
            EXPR_PREFIX@1792..1803
              Tilde@1792..1793 "~"
              EXPR_INT@1793..1803
                Int@1793..1803 "4294967295"
          RParen@1803..1804 ")"
          Whitespace@1804..1805 "\n"
      RBrace@1805..1806 "}"
      Whitespace@1806..1808 "\n\n"
  FN@1808..1991
    FnKeyword@1808..1810 "fn"
    Whitespace@1810..1811 " "
    Ident@1811..1821 "precedence"
    PARAM_LIST@1821..1824
      LParen@1821..1822 "("
      RParen@1822..1823 ")"
      Whitespace@1823..1824 " "
    Arrow@1824..1826 "->"
    Whitespace@1826..1827 " "
    TYPE_UNIT@1827..1832
      UnitKeyword@1827..1831 "unit"
      Whitespace@1831..1832 " "
    BLOCK@1832..1991
      LBrace@1832..1833 "{"
      Whitespace@1833..1838 "\n    "
      STMT_EXPR@1838..1866
        EXPR_CALL@1838..1860
          EXPR_IDENT@1838..1845
            PATH@1838..1845
              Ident@1838..1845 "show_u8"
          ARG_LIST@1845..1860
            LParen@1845..1846 "("
            ARG@1846..1859
              EXPR_BINARY@1846..1859
                EXPR_INT@1846..1848
                  Int@1846..1847 "1"
                  Whitespace@1847..1848 " "
                Pipe@1848..1849 "|"
                Whitespace@1849..1850 " "
                EXPR_BINARY@1850..1859
                  EXPR_INT@1850..1852
                    Int@1850..1851 "2"
                    Whitespace@1851..1852 " "
                  Caret@1852..1853 "^"
                  Whitespace@1853..1854 " "
                  EXPR_BINARY@1854..1859
                    EXPR_INT@1854..1856
                      Int@1854..1855 "3"
                      Whitespace@1855..1856 " "
                    Amp@1856..1857 "&"
                    Whitespace@1857..1858 " "
                    EXPR_INT@1858..1859
                      Int@1858..1859 "1"
            RParen@1859..1860 ")"
        Semi@1860..1861 ";"
        Whitespace@1861..1866 "\n    "
      STMT_EXPR@1866..1891
        EXPR_CALL@1866..1885
          EXPR_IDENT@1866..1873
            PATH@1866..1873
              Ident@1866..1873 "show_u8"
          ARG_LIST@1873..1885
            LParen@1873..1874 "("
            ARG@1874..1884
              EXPR_BINARY@1874..1884
                EXPR_INT@1874..1876
                  Int@1874..1875 "1"
                  Whitespace@1875..1876 " "
                LessLess@1876..1878 "<<"
                Whitespace@1878..1879 " "
                EXPR_BINARY@1879..1884
                  EXPR_INT@1879..1881
                    Int@1879..1880 "2"
                    Whitespace@1880..1881 " "
                  Plus@1881..1882 "+"
                  Whitespace@1882..1883 " "
                  EXPR_INT@1883..1884
                    Int@1883..1884 "1"
            RParen@1884..1885 ")"
        Semi@1885..1886 ";"
        Whitespace@1886..1891 "\n    "
      STMT_EXPR@1891..1930
        EXPR_CALL@1891..1924
          EXPR_IDENT@1891..1898
            PATH@1891..1898
              Ident@1891..1898 "println"
          ARG_LIST@1898..1924
            LParen@1898..1899 "("
            ARG@1899..1923
              EXPR_CALL@1899..1923
                EXPR_BINARY@1899..1921
                  EXPR_PAREN@1899..1911
                    LParen@1899..1900 "("
                    EXPR_BINARY@1900..1910
                      EXPR_BINARY@1900..1906
                        EXPR_INT@1900..1902
                          Int@1900..1901 "1"
                          Whitespace@1901..1902 " "
                        Pipe@1902..1903 "|"
                        Whitespace@1903..1904 " "
                        EXPR_INT@1904..1906
                          Int@1904..1905 "2"
                          Whitespace@1905..1906 " "
                      EqEq@1906..1908 "=="
                      Whitespace@1908..1909 " "
                      EXPR_INT@1909..1910
                        Int@1909..1910 "3"
                    RParen@1910..1911 ")"
                  Dot@1911..1912 "."
                  EXPR_IDENT@1912..1921
                    PATH@1912..1921
                      Ident@1912..1921 "to_string"
                ARG_LIST@1921..1923
                  LParen@1921..1922 "("
                  RParen@1922..1923 ")"
            RParen@1923..1924 ")"
        Semi@1924..1925 ";"
        Whitespace@1925..1930 "\n    "
      STMT_EXPR@1930..1969
        EXPR_CALL@1930..1963
          EXPR_IDENT@1930..1937
            PATH@1930..1937
              Ident@1930..1937 "println"
          ARG_LIST@1937..1963
            LParen@1937..1938 "("
            ARG@1938..1962
              EXPR_CALL@1938..1962
                EXPR_BINARY@1938..1960
                  EXPR_PAREN@1938..1950
                    LParen@1938..1939 "("
                    EXPR_BINARY@1939..1949
                      EXPR_BINARY@1939..1946
                        EXPR_INT@1939..1941
                          Int@1939..1940 "8"
                          Whitespace@1940..1941 " "
                        GreaterGreater@1941..1943 ">>"
                        Whitespace@1943..1944 " "
                        EXPR_INT@1944..1946
                          Int@1944..1945 "1"
                          Whitespace@1945..1946 " "
                      Less@1946..1947 "<"
                      Whitespace@1947..1948 " "
                      EXPR_INT@1948..1949
                        Int@1948..1949 "5"
                    RParen@1949..1950 ")"
                  Dot@1950..1951 "."
                  EXPR_IDENT@1951..1960
                    PATH@1951..1960
                      Ident@1951..1960 "to_string"
                ARG_LIST@1960..1962
                  LParen@1960..1961 "("
                  RParen@1961..1962 ")"
            RParen@1962..1963 ")"
        Semi@1963..1964 ";"
        Whitespace@1964..1969 "\n    "
      EXPR_CALL@1969..1988
        EXPR_IDENT@1969..1976
          PATH@1969..1976
            Ident@1969..1976 "show_u8"
        ARG_LIST@1976..1988
          LParen@1976..1977 "("
          ARG@1977..1986
            EXPR_BINARY@1977..1986
              EXPR_PAREN@1977..1982
                LParen@1977..1978 "("
                EXPR_PREFIX@1978..1980
                  Tilde@1978..1979 "~"
                  EXPR_INT@1979..1980
                    Int@1979..1980 "1"
                RParen@1980..1981 ")"
                Whitespace@1981..1982 " "
              Amp@1982..1983 "&"
              Whitespace@1983..1984 " "
              EXPR_INT@1984..1986
                Int@1984..1986 "15"
          RParen@1986..1987 ")"
          Whitespace@1987..1988 "\n"
      RBrace@1988..1989 "}"
      Whitespace@1989..1991 "\n\n"
  FN@1991..3137
    FnKeyword@1991..1993 "fn"
    Whitespace@1993..1994 " "
    Ident@1994..1999 "casts"
    PARAM_LIST@1999..2002
      LParen@1999..2000 "("
      RParen@2000..2001 ")"
      Whitespace@2001..2002 " "
    Arrow@2002..2004 "->"
    Whitespace@2004..2005 " "
    TYPE_UNIT@2005..2010
      UnitKeyword@2005..2009 "unit"
      Whitespace@2009..2010 " "
    BLOCK@2010..3137
      LBrace@2010..2011 "{"
      Whitespace@2011..2016 "\n    "
      STMT_LET@2016..2048
        LetKeyword@2016..2019 "let"
        Whitespace@2019..2020 " "
        PATTERN_VARIABLE@2020..2031
          Ident@2020..2031 "five_eleven"
        Colon@2031..2032 ":"
        Whitespace@2032..2033 " "
        TYPE_UINT16@2033..2037
          U16Keyword@2033..2036 "u16"
          Whitespace@2036..2037 " "
        Eq@2037..2038 "="
        Whitespace@2038..2039 " "
        EXPR_INT@2039..2042
          Int@2039..2042 "511"
        Semi@2042..2043 ";"
        Whitespace@2043..2048 "\n    "
      STMT_LET@2048..2082
        LetKeyword@2048..2051 "let"
        Whitespace@2051..2052 " "
        PATTERN_VARIABLE@2052..2065
          Ident@2052..2065 "two_fifty_six"
        Colon@2065..2066 ":"
        Whitespace@2066..2067 " "
        TYPE_UINT16@2067..2071
          U16Keyword@2067..2070 "u16"
          Whitespace@2070..2071 " "
        Eq@2071..2072 "="
        Whitespace@2072..2073 " "
        EXPR_INT@2073..2076
          Int@2073..2076 "256"
        Semi@2076..2077 ";"
        Whitespace@2077..2082 "\n    "
      STMT_LET@2082..2118
        LetKeyword@2082..2085 "let"
        Whitespace@2085..2086 " "
        PATTERN_VARIABLE@2086..2102
          Ident@2086..2102 "negative_one_i16"
        Colon@2102..2103 ":"
        Whitespace@2103..2104 " "
        TYPE_INT16@2104..2108
          I16Keyword@2104..2107 "i16"
          Whitespace@2107..2108 " "
        Eq@2108..2109 "="
        Whitespace@2109..2110 " "
        EXPR_PREFIX@2110..2112
          Minus@2110..2111 "-"
          EXPR_INT@2111..2112
            Int@2111..2112 "1"
        Semi@2112..2113 ";"
        Whitespace@2113..2118 "\n    "
      STMT_LET@2118..2152
        LetKeyword@2118..2121 "let"
        Whitespace@2121..2122 " "
        PATTERN_VARIABLE@2122..2136
          Ident@2122..2136 "two_fifty_five"
        Colon@2136..2137 ":"
        Whitespace@2137..2138 " "
        TYPE_UINT8@2138..2141
          U8Keyword@2138..2140 "u8"
          Whitespace@2140..2141 " "
        Eq@2141..2142 "="
        Whitespace@2142..2143 " "
        EXPR_INT@2143..2146
          Int@2143..2146 "255"
        Semi@2146..2147 ";"
        Whitespace@2147..2152 "\n    "
      STMT_LET@2152..2188
        LetKeyword@2152..2155 "let"
        Whitespace@2155..2156 " "
        PATTERN_VARIABLE@2156..2172
          Ident@2156..2172 "one_twenty_eight"
        Colon@2172..2173 ":"
        Whitespace@2173..2174 " "
        TYPE_UINT8@2174..2177
          U8Keyword@2174..2176 "u8"
          Whitespace@2176..2177 " "
        Eq@2177..2178 "="
        Whitespace@2178..2179 " "
        EXPR_INT@2179..2182
          Int@2179..2182 "128"
        Semi@2182..2183 ";"
        Whitespace@2183..2188 "\n    "
      STMT_LET@2188..2234
        LetKeyword@2188..2191 "let"
        Whitespace@2191..2192 " "
        PATTERN_VARIABLE@2192..2216
          Ident@2192..2216 "negative_one_twenty_nine"
        Colon@2216..2217 ":"
        Whitespace@2217..2218 " "
        TYPE_INT16@2218..2222
          I16Keyword@2218..2221 "i16"
          Whitespace@2221..2222 " "
        Eq@2222..2223 "="
        Whitespace@2223..2224 " "
        EXPR_PREFIX@2224..2228
          Minus@2224..2225 "-"
          EXPR_INT@2225..2228
            Int@2225..2228 "129"
        Semi@2228..2229 ";"
        Whitespace@2229..2234 "\n    "
      STMT_LET@2234..2264
        LetKeyword@2234..2237 "let"
        Whitespace@2237..2238 " "
        PATTERN_VARIABLE@2238..2245
          Ident@2238..2245 "max_u16"
        Colon@2245..2246 ":"
        Whitespace@2246..2247 " "
        TYPE_UINT16@2247..2251
          U16Keyword@2247..2250 "u16"
          Whitespace@2250..2251 " "
        Eq@2251..2252 "="
        Whitespace@2252..2253 " "
        EXPR_INT@2253..2258
          Int@2253..2258 "65535"
        Semi@2258..2259 ";"
        Whitespace@2259..2264 "\n    "
      STMT_LET@2264..2300
        LetKeyword@2264..2267 "let"
        Whitespace@2267..2268 " "
        PATTERN_VARIABLE@2268..2284
          Ident@2268..2284 "negative_one_i32"
        Colon@2284..2285 ":"
        Whitespace@2285..2286 " "
        TYPE_INT32@2286..2290
          I32Keyword@2286..2289 "i32"
          Whitespace@2289..2290 " "
        Eq@2290..2291 "="
        Whitespace@2291..2292 " "
        EXPR_PREFIX@2292..2294
          Minus@2292..2293 "-"
          EXPR_INT@2293..2294
            Int@2293..2294 "1"
        Semi@2294..2295 ";"
        Whitespace@2295..2300 "\n    "
      STMT_LET@2300..2334
        LetKeyword@2300..2303 "let"
        Whitespace@2303..2304 " "
        PATTERN_VARIABLE@2304..2319
          Ident@2304..2319 "negative_one_i8"
        Colon@2319..2320 ":"
        Whitespace@2320..2321 " "
        TYPE_INT8@2321..2324
          I8Keyword@2321..2323 "i8"
          Whitespace@2323..2324 " "
        Eq@2324..2325 "="
        Whitespace@2325..2326 " "
        EXPR_PREFIX@2326..2328
          Minus@2326..2327 "-"
          EXPR_INT@2327..2328
            Int@2327..2328 "1"
        Semi@2328..2329 ";"
        Whitespace@2329..2334 "\n    "
      STMT_LET@2334..2379
        LetKeyword@2334..2337 "let"
        Whitespace@2337..2338 " "
        PATTERN_VARIABLE@2338..2345
          Ident@2338..2345 "max_u64"
        Colon@2345..2346 ":"
        Whitespace@2346..2347 " "
        TYPE_UINT64@2347..2351
          U64Keyword@2347..2350 "u64"
          Whitespace@2350..2351 " "
        Eq@2351..2352 "="
        Whitespace@2352..2353 " "
        EXPR_INT@2353..2373
          Int@2353..2373 "18446744073709551615"
        Semi@2373..2374 ";"
        Whitespace@2374..2379 "\n    "
      STMT_LET@2379..2408
        LetKeyword@2379..2382 "let"
        Whitespace@2382..2383 " "
        PATTERN_VARIABLE@2383..2393
          Ident@2383..2393 "sixty_five"
        Colon@2393..2394 ":"
        Whitespace@2394..2395 " "
        TYPE_UINT8@2395..2398
          U8Keyword@2395..2397 "u8"
          Whitespace@2397..2398 " "
        Eq@2398..2399 "="
        Whitespace@2399..2400 " "
        EXPR_INT@2400..2402
          Int@2400..2402 "65"
        Semi@2402..2403 ";"
        Whitespace@2403..2408 "\n    "
      STMT_LET@2408..2443
        LetKeyword@2408..2411 "let"
        Whitespace@2411..2412 " "
        PATTERN_VARIABLE@2412..2419
          Ident@2412..2419 "max_u32"
        Colon@2419..2420 ":"
        Whitespace@2420..2421 " "
        TYPE_UINT32@2421..2425
          U32Keyword@2421..2424 "u32"
          Whitespace@2424..2425 " "
        Eq@2425..2426 "="
        Whitespace@2426..2427 " "
        EXPR_INT@2427..2437
          Int@2427..2437 "4294967295"
        Semi@2437..2438 ";"
        Whitespace@2438..2443 "\n    "
      STMT_LET@2443..2477
        LetKeyword@2443..2446 "let"
        Whitespace@2446..2447 " "
        PATTERN_VARIABLE@2447..2460
          Ident@2447..2460 "three_hundred"
        Colon@2460..2461 ":"
        Whitespace@2461..2462 " "
        TYPE_UINT16@2462..2466
          U16Keyword@2462..2465 "u16"
          Whitespace@2465..2466 " "
        Eq@2466..2467 "="
        Whitespace@2467..2468 " "
        EXPR_INT@2468..2471
          Int@2468..2471 "300"
        Semi@2471..2472 ";"
        Whitespace@2472..2477 "\n    "
      STMT_EXPR@2477..2511
        EXPR_CALL@2477..2505
          EXPR_IDENT@2477..2484
            PATH@2477..2484
              Ident@2477..2484 "show_u8"
          ARG_LIST@2484..2505
            LParen@2484..2485 "("
            ARG@2485..2504
              EXPR_CALL@2485..2504
                EXPR_BINARY@2485..2502
                  EXPR_IDENT@2485..2496
                    PATH@2485..2496
                      Ident@2485..2496 "five_eleven"
                  Dot@2496..2497 "."
                  EXPR_IDENT@2497..2502
                    PATH@2497..2502
                      Ident@2497..2502 "to_u8"
                ARG_LIST@2502..2504
                  LParen@2502..2503 "("
                  RParen@2503..2504 ")"
            RParen@2504..2505 ")"
        Semi@2505..2506 ";"
        Whitespace@2506..2511 "\n    "
      STMT_EXPR@2511..2547
        EXPR_CALL@2511..2541
          EXPR_IDENT@2511..2518
            PATH@2511..2518
              Ident@2511..2518 "show_u8"
          ARG_LIST@2518..2541
            LParen@2518..2519 "("
            ARG@2519..2540
              EXPR_CALL@2519..2540
                EXPR_BINARY@2519..2538
                  EXPR_IDENT@2519..2532
                    PATH@2519..2532
                      Ident@2519..2532 "two_fifty_six"
                  Dot@2532..2533 "."
                  EXPR_IDENT@2533..2538
                    PATH@2533..2538
                      Ident@2533..2538 "to_u8"
                ARG_LIST@2538..2540
                  LParen@2538..2539 "("
                  RParen@2539..2540 ")"
            RParen@2540..2541 ")"
        Semi@2541..2542 ";"
        Whitespace@2542..2547 "\n    "
      STMT_EXPR@2547..2586
        EXPR_CALL@2547..2580
          EXPR_IDENT@2547..2554
            PATH@2547..2554
              Ident@2547..2554 "show_u8"
          ARG_LIST@2554..2580
            LParen@2554..2555 "("
            ARG@2555..2579
              EXPR_CALL@2555..2579
                EXPR_BINARY@2555..2577
                  EXPR_IDENT@2555..2571
                    PATH@2555..2571
                      Ident@2555..2571 "negative_one_i16"
                  Dot@2571..2572 "."
                  EXPR_IDENT@2572..2577
                    PATH@2572..2577
                      Ident@2572..2577 "to_u8"
                ARG_LIST@2577..2579
                  LParen@2577..2578 "("
                  RParen@2578..2579 ")"
            RParen@2579..2580 ")"
        Semi@2580..2581 ";"
        Whitespace@2581..2586 "\n    "
      STMT_EXPR@2586..2623
        EXPR_CALL@2586..2617
          EXPR_IDENT@2586..2593
            PATH@2586..2593
              Ident@2586..2593 "show_i8"
          ARG_LIST@2593..2617
            LParen@2593..2594 "("
            ARG@2594..2616
              EXPR_CALL@2594..2616
                EXPR_BINARY@2594..2614
                  EXPR_IDENT@2594..2608
                    PATH@2594..2608
                      Ident@2594..2608 "two_fifty_five"
                  Dot@2608..2609 "."
                  EXPR_IDENT@2609..2614
                    PATH@2609..2614
                      Ident@2609..2614 "to_i8"
                ARG_LIST@2614..2616
                  LParen@2614..2615 "("
                  RParen@2615..2616 ")"
            RParen@2616..2617 ")"
        Semi@2617..2618 ";"
        Whitespace@2618..2623 "\n    "
      STMT_EXPR@2623..2662
        EXPR_CALL@2623..2656
          EXPR_IDENT@2623..2630
            PATH@2623..2630
              Ident@2623..2630 "show_i8"
          ARG_LIST@2630..2656
            LParen@2630..2631 "("
            ARG@2631..2655
              EXPR_CALL@2631..2655
                EXPR_BINARY@2631..2653
                  EXPR_IDENT@2631..2647
                    PATH@2631..2647
                      Ident@2631..2647 "one_twenty_eight"
                  Dot@2647..2648 "."
                  EXPR_IDENT@2648..2653
                    PATH@2648..2653
                      Ident@2648..2653 "to_i8"
                ARG_LIST@2653..2655
                  LParen@2653..2654 "("
                  RParen@2654..2655 ")"
            RParen@2655..2656 ")"
        Semi@2656..2657 ";"
        Whitespace@2657..2662 "\n    "
      STMT_EXPR@2662..2709
        EXPR_CALL@2662..2703
          EXPR_IDENT@2662..2669
            PATH@2662..2669
              Ident@2662..2669 "show_i8"
          ARG_LIST@2669..2703
            LParen@2669..2670 "("
            ARG@2670..2702
              EXPR_CALL@2670..2702
                EXPR_BINARY@2670..2700
                  EXPR_IDENT@2670..2694
                    PATH@2670..2694
                      Ident@2670..2694 "negative_one_twenty_nine"
                  Dot@2694..2695 "."
                  EXPR_IDENT@2695..2700
                    PATH@2695..2700
                      Ident@2695..2700 "to_i8"
                ARG_LIST@2700..2702
                  LParen@2700..2701 "("
                  RParen@2701..2702 ")"
            RParen@2702..2703 ")"
        Semi@2703..2704 ";"
        Whitespace@2704..2709 "\n    "
      STMT_EXPR@2709..2741
        EXPR_CALL@2709..2735
          EXPR_IDENT@2709..2717
            PATH@2709..2717
              Ident@2709..2717 "show_i16"
          ARG_LIST@2717..2735
            LParen@2717..2718 "("
            ARG@2718..2734
              EXPR_CALL@2718..2734
                EXPR_BINARY@2718..2732
                  EXPR_IDENT@2718..2725
                    PATH@2718..2725
                      Ident@2718..2725 "max_u16"
                  Dot@2725..2726 "."
                  EXPR_IDENT@2726..2732
                    PATH@2726..2732
                      Ident@2726..2732 "to_i16"
                ARG_LIST@2732..2734
                  LParen@2732..2733 "("
                  RParen@2733..2734 ")"
            RParen@2734..2735 ")"
        Semi@2735..2736 ";"
        Whitespace@2736..2741 "\n    "
      STMT_EXPR@2741..2782
        EXPR_CALL@2741..2776
          EXPR_IDENT@2741..2749
            PATH@2741..2749
              Ident@2741..2749 "show_u16"
          ARG_LIST@2749..2776
            LParen@2749..2750 "("
            ARG@2750..2775
              EXPR_CALL@2750..2775
                EXPR_BINARY@2750..2773
                  EXPR_IDENT@2750..2766
                    PATH@2750..2766
                      Ident@2750..2766 "negative_one_i32"
                  Dot@2766..2767 "."
                  EXPR_IDENT@2767..2773
                    PATH@2767..2773
                      Ident@2767..2773 "to_u16"
                ARG_LIST@2773..2775
                  LParen@2773..2774 "("
                  RParen@2774..2775 ")"
            RParen@2775..2776 ")"
        Semi@2776..2777 ";"
        Whitespace@2777..2782 "\n    "
      STMT_EXPR@2782..2822
        EXPR_CALL@2782..2816
          EXPR_IDENT@2782..2790
            PATH@2782..2790
              Ident@2782..2790 "show_u64"
          ARG_LIST@2790..2816
            LParen@2790..2791 "("
            ARG@2791..2815
              EXPR_CALL@2791..2815
                EXPR_BINARY@2791..2813
                  EXPR_IDENT@2791..2806
                    PATH@2791..2806
                      Ident@2791..2806 "negative_one_i8"
                  Dot@2806..2807 "."
                  EXPR_IDENT@2807..2813
                    PATH@2807..2813
                      Ident@2807..2813 "to_u64"
                ARG_LIST@2813..2815
                  LParen@2813..2814 "("
                  RParen@2814..2815 ")"
            RParen@2815..2816 ")"
        Semi@2816..2817 ";"
        Whitespace@2817..2822 "\n    "
      STMT_EXPR@2822..2854
        EXPR_CALL@2822..2848
          EXPR_IDENT@2822..2830
            PATH@2822..2830
              Ident@2822..2830 "show_i32"
          ARG_LIST@2830..2848
            LParen@2830..2831 "("
            ARG@2831..2847
              EXPR_CALL@2831..2847
                EXPR_BINARY@2831..2845
                  EXPR_IDENT@2831..2838
                    PATH@2831..2838
                      Ident@2831..2838 "max_u64"
                  Dot@2838..2839 "."
                  EXPR_IDENT@2839..2845
                    PATH@2839..2845
                      Ident@2839..2845 "to_i32"
                ARG_LIST@2845..2847
                  LParen@2845..2846 "("
                  RParen@2846..2847 ")"
            RParen@2847..2848 ")"
        Semi@2848..2849 ";"
        Whitespace@2849..2854 "\n    "
      STMT_EXPR@2854..2889
        EXPR_CALL@2854..2883
          EXPR_IDENT@2854..2862
            PATH@2854..2862
              Ident@2854..2862 "show_u32"
          ARG_LIST@2862..2883
            LParen@2862..2863 "("
            ARG@2863..2882
              EXPR_CALL@2863..2882
                EXPR_BINARY@2863..2880
                  EXPR_IDENT@2863..2873
                    PATH@2863..2873
                      Ident@2863..2873 "sixty_five"
                  Dot@2873..2874 "."
                  EXPR_IDENT@2874..2880
                    PATH@2874..2880
                      Ident@2874..2880 "to_u32"
                ARG_LIST@2880..2882
                  LParen@2880..2881 "("
                  RParen@2881..2882 ")"
            RParen@2882..2883 ")"
        Semi@2883..2884 ";"
        Whitespace@2884..2889 "\n    "
      STMT_EXPR@2889..2921
        EXPR_CALL@2889..2915
          EXPR_IDENT@2889..2897
            PATH@2889..2897
              Ident@2889..2897 "show_i64"
          ARG_LIST@2897..2915
            LParen@2897..2898 "("
            ARG@2898..2914
              EXPR_CALL@2898..2914
                EXPR_BINARY@2898..2912
                  EXPR_IDENT@2898..2905
                    PATH@2898..2905
                      Ident@2898..2905 "max_u32"
                  Dot@2905..2906 "."
                  EXPR_IDENT@2906..2912
                    PATH@2906..2912
                      Ident@2906..2912 "to_i64"
                ARG_LIST@2912..2914
                  LParen@2912..2913 "("
                  RParen@2913..2914 ")"
            RParen@2914..2915 ")"
        Semi@2915..2916 ";"
        Whitespace@2916..2921 "\n    "
      STMT_EXPR@2921..2949
        EXPR_CALL@2921..2943
          EXPR_IDENT@2921..2929
            PATH@2921..2929
              Ident@2921..2929 "show_u32"
          ARG_LIST@2929..2943
            LParen@2929..2930 "("
            ARG@2930..2942
              EXPR_CALL@2930..2942
                EXPR_BINARY@2930..2940
                  EXPR_CHAR@2930..2933
                    CharLit@2930..2933 "'A'"
                  Dot@2933..2934 "."
                  EXPR_IDENT@2934..2940
                    PATH@2934..2940
                      Ident@2934..2940 "to_u32"
                ARG_LIST@2940..2942
                  LParen@2940..2941 "("
                  RParen@2941..2942 ")"
            RParen@2942..2943 ")"
        Semi@2943..2944 ";"
        Whitespace@2944..2949 "\n    "
      STMT_EXPR@2949..3093
        EXPR_MATCH@2949..3087
          MatchKeyword@2949..2954 "match"
          Whitespace@2954..2955 " "
          EXPR_CALL@2955..2977
            EXPR_IDENT@2955..2968
              PATH@2955..2968
                Ident@2955..2968 "char_from_u32"
            ARG_LIST@2968..2977
              LParen@2968..2969 "("
              ARG@2969..2975
                EXPR_INT@2969..2975
                  Int@2969..2975 "128512"
              RParen@2975..2976 ")"
              Whitespace@2976..2977 " "
          MATCH_ARM_LIST@2977..3087
            LBrace@2977..2978 "{"
            Whitespace@2978..2987 "\n        "
            MATCH_ARM@2987..3036
              PATTERN_CONSTR@2987..3007
                PATH@2987..2999
                  Ident@2987..2993 "Option"
                  ColonColon@2993..2995 "::"
                  Ident@2995..2999 "Some"
                LParen@2999..3000 "("
                PATTERN_VARIABLE@3000..3005
                  Ident@3000..3005 "value"
                RParen@3005..3006 ")"
                Whitespace@3006..3007 " "
              FatArrow@3007..3009 "=>"
              Whitespace@3009..3010 " "
              EXPR_CALL@3010..3036
                EXPR_IDENT@3010..3017
                  PATH@3010..3017
                    Ident@3010..3017 "println"
                ARG_LIST@3017..3036
                  LParen@3017..3018 "("
                  ARG@3018..3035
                    EXPR_CALL@3018..3035
                      EXPR_BINARY@3018..3033
                        EXPR_IDENT@3018..3023
                          PATH@3018..3023
                            Ident@3018..3023 "value"
                        Dot@3023..3024 "."
                        EXPR_IDENT@3024..3033
                          PATH@3024..3033
                            Ident@3024..3033 "to_string"
                      ARG_LIST@3033..3035
                        LParen@3033..3034 "("
                        RParen@3034..3035 ")"
                  RParen@3035..3036 ")"
            Comma@3036..3037 ","
            Whitespace@3037..3046 "\n        "
            MATCH_ARM@3046..3080
              PATTERN_CONSTR@3046..3059
                PATH@3046..3059
                  Ident@3046..3052 "Option"
                  ColonColon@3052..3054 "::"
                  Ident@3054..3058 "None"
                  Whitespace@3058..3059 " "
              FatArrow@3059..3061 "=>"
              Whitespace@3061..3062 " "
              EXPR_CALL@3062..3080
                EXPR_IDENT@3062..3069
                  PATH@3062..3069
                    Ident@3062..3069 "println"
                ARG_LIST@3069..3080
                  LParen@3069..3070 "("
                  ARG@3070..3079
                    EXPR_STR@3070..3079
                      Str@3070..3079 "\"invalid\""
                  RParen@3079..3080 ")"
            Comma@3080..3081 ","
            Whitespace@3081..3086 "\n    "
            RBrace@3086..3087 "}"
        Semi@3087..3088 ";"
        Whitespace@3088..3093 "\n    "
      EXPR_CALL@3093..3134
        EXPR_IDENT@3093..3101
          PATH@3093..3101
            Ident@3093..3101 "show_u32"
        ARG_LIST@3101..3134
          LParen@3101..3102 "("
          ARG@3102..3132
            EXPR_CALL@3102..3132
              EXPR_BINARY@3102..3130
                EXPR_CALL@3102..3123
                  EXPR_BINARY@3102..3121
                    EXPR_IDENT@3102..3115
                      PATH@3102..3115
                        Ident@3102..3115 "three_hundred"
                    Dot@3115..3116 "."
                    EXPR_IDENT@3116..3121
                      PATH@3116..3121
                        Ident@3116..3121 "to_u8"
                  ARG_LIST@3121..3123
                    LParen@3121..3122 "("
                    RParen@3122..3123 ")"
                Dot@3123..3124 "."
                EXPR_IDENT@3124..3130
                  PATH@3124..3130
                    Ident@3124..3130 "to_u32"
              ARG_LIST@3130..3132
                LParen@3130..3131 "("
                RParen@3131..3132 ")"
          RParen@3132..3133 ")"
          Whitespace@3133..3134 "\n"
      RBrace@3134..3135 "}"
      Whitespace@3135..3137 "\n\n"
  FN@3137..3207
    FnKeyword@3137..3139 "fn"
    Whitespace@3139..3140 " "
    Ident@3140..3150 "contextual"
    PARAM_LIST@3150..3162
      LParen@3150..3151 "("
      PARAM@3151..3160
        Ident@3151..3156 "value"
        Colon@3156..3157 ":"
        Whitespace@3157..3158 " "
        TYPE_UINT8@3158..3160
          U8Keyword@3158..3160 "u8"
      RParen@3160..3161 ")"
      Whitespace@3161..3162 " "
    Arrow@3162..3164 "->"
    Whitespace@3164..3165 " "
    TYPE_UINT8@3165..3168
      U8Keyword@3165..3167 "u8"
      Whitespace@3167..3168 " "
    BLOCK@3168..3207
      LBrace@3168..3169 "{"
      Whitespace@3169..3174 "\n    "
      EXPR_BINARY@3174..3204
        EXPR_PAREN@3174..3188
          LParen@3174..3175 "("
          EXPR_BINARY@3175..3186
            EXPR_PREFIX@3175..3182
              Tilde@3175..3176 "~"
              EXPR_IDENT@3176..3182
                PATH@3176..3182
                  Ident@3176..3181 "value"
                  Whitespace@3181..3182 " "
            Amp@3182..3183 "&"
            Whitespace@3183..3184 " "
            EXPR_INT@3184..3186
              Int@3184..3186 "15"
          RParen@3186..3187 ")"
          Whitespace@3187..3188 " "
        Pipe@3188..3189 "|"
        Whitespace@3189..3190 " "
        EXPR_BINARY@3190..3204
          EXPR_PAREN@3190..3199
            LParen@3190..3191 "("
            EXPR_BINARY@3191..3197
              EXPR_INT@3191..3193
                Int@3191..3192 "1"
                Whitespace@3192..3193 " "
              LessLess@3193..3195 "<<"
              Whitespace@3195..3196 " "
              EXPR_INT@3196..3197
                Int@3196..3197 "4"
            RParen@3197..3198 ")"
            Whitespace@3198..3199 " "
          Percent@3199..3200 "%"
          Whitespace@3200..3201 " "
          EXPR_INT@3201..3204
            Int@3201..3203 "31"
            Whitespace@3203..3204 "\n"
      RBrace@3204..3205 "}"
      Whitespace@3205..3207 "\n\n"
  FN@3207..3326
    FnKeyword@3207..3209 "fn"
    Whitespace@3209..3210 " "
    Ident@3210..3214 "main"
    PARAM_LIST@3214..3217
      LParen@3214..3215 "("
      RParen@3215..3216 ")"
      Whitespace@3216..3217 " "
    Arrow@3217..3219 "->"
    Whitespace@3219..3220 " "
    TYPE_UNIT@3220..3225
      UnitKeyword@3220..3224 "unit"
      Whitespace@3224..3225 " "
    BLOCK@3225..3326
      LBrace@3225..3226 "{"
      Whitespace@3226..3231 "\n    "
      STMT_EXPR@3231..3251
        EXPR_CALL@3231..3245
          EXPR_IDENT@3231..3243
            PATH@3231..3243
              Ident@3231..3243 "unsigned_ops"
          ARG_LIST@3243..3245
            LParen@3243..3244 "("
            RParen@3244..3245 ")"
        Semi@3245..3246 ";"
        Whitespace@3246..3251 "\n    "
      STMT_EXPR@3251..3269
        EXPR_CALL@3251..3263
          EXPR_IDENT@3251..3261
            PATH@3251..3261
              Ident@3251..3261 "signed_ops"
          ARG_LIST@3261..3263
            LParen@3261..3262 "("
            RParen@3262..3263 ")"
        Semi@3263..3264 ";"
        Whitespace@3264..3269 "\n    "
      STMT_EXPR@3269..3287
        EXPR_CALL@3269..3281
          EXPR_IDENT@3269..3279
            PATH@3269..3279
              Ident@3269..3279 "precedence"
          ARG_LIST@3279..3281
            LParen@3279..3280 "("
            RParen@3280..3281 ")"
        Semi@3281..3282 ";"
        Whitespace@3282..3287 "\n    "
      STMT_EXPR@3287..3300
        EXPR_CALL@3287..3294
          EXPR_IDENT@3287..3292
            PATH@3287..3292
              Ident@3287..3292 "casts"
          ARG_LIST@3292..3294
            LParen@3292..3293 "("
            RParen@3293..3294 ")"
        Semi@3294..3295 ";"
        Whitespace@3295..3300 "\n    "
      EXPR_CALL@3300..3324
        EXPR_IDENT@3300..3307
          PATH@3300..3307
            Ident@3300..3307 "show_u8"
        ARG_LIST@3307..3324
          LParen@3307..3308 "("
          ARG@3308..3322
            EXPR_CALL@3308..3322
              EXPR_IDENT@3308..3318
                PATH@3308..3318
                  Ident@3308..3318 "contextual"
              ARG_LIST@3318..3322
                LParen@3318..3319 "("
                ARG@3319..3321
                  EXPR_INT@3319..3321
                    Int@3319..3321 "10"
                RParen@3321..3322 ")"
          RParen@3322..3323 ")"
          Whitespace@3323..3324 "\n"
      RBrace@3324..3325 "}"
      Whitespace@3325..3326 "\n"