FILE@0..1878
  TRAIT@0..61
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..9 "Put"
    GENERIC_LIST@9..13
      LBracket@9..10 "["
      GENERIC@10..11
        Ident@10..11 "T"
      RBracket@11..12 "]"
      Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..61
      TRAIT_METHOD_SIG@19..58
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..25 "put"
        PARAM_LIST@25..47
          LParen@25..26 "("
          PARAM@26..38
            Ident@26..30 "self"
            Colon@30..31 ":"
            Whitespace@31..32 " "
            TYPE_TAPP@32..36
              PATH@32..36
                Ident@32..36 "Self"
            Comma@36..37 ","
            Whitespace@37..38 " "
          PARAM@38..45
            Ident@38..42 "arg1"
            Colon@42..43 ":"
            Whitespace@43..44 " "
            TYPE_TAPP@44..45
              PATH@44..45
                Ident@44..45 "T"
          RParen@45..46 ")"
          Whitespace@46..47 " "
        Arrow@47..49 "->"
        Whitespace@49..50 " "
        TYPE_STRING@50..56
          StringKeyword@50..56 "string"
        Semi@56..57 ";"
        Whitespace@57..58 "\n"
      RBrace@58..59 "}"
      Whitespace@59..61 "\n\n"
  STRUCT@61..79
    StructKeyword@61..67 "struct"
    Whitespace@67..68 " "
    Ident@68..74 "Target"
    Whitespace@74..75 " "
    LBrace@75..76 "{"
    STRUCT_FIELD_LIST@76..79
      RBrace@76..77 "}"
      Whitespace@77..79 "\n\n"
  IMPL@79..201
    ImplKeyword@79..83 "impl"
    Whitespace@83..84 " "
    TYPE_TAPP@84..92
      PATH@84..87
        Ident@84..87 "Put"
      TYPE_PARAM_LIST@87..92
        LBracket@87..88 "["
        TYPE_INT32@88..91
          I32Keyword@88..91 "i32"
        RBracket@91..92 "]"
    ForKeyword@92..95 "for"
    Whitespace@95..96 " "
    TYPE_TAPP@96..103
      PATH@96..103
        Ident@96..102 "Target"
        Whitespace@102..103 " "
    LBrace@103..104 "{"
    Whitespace@104..109 "\n    "
    FN@109..198
      FnKeyword@109..111 "fn"
      Whitespace@111..112 " "
      Ident@112..115 "put"
      PARAM_LIST@115..142
        LParen@115..116 "("
        PARAM@116..130
          Ident@116..120 "self"
          Colon@120..121 ":"
          Whitespace@121..122 " "
          TYPE_TAPP@122..128
            PATH@122..128
              Ident@122..128 "Target"
          Comma@128..129 ","
          Whitespace@129..130 " "
        PARAM@130..140
          Ident@130..135 "value"
          Colon@135..136 ":"
          Whitespace@136..137 " "
          TYPE_INT32@137..140
            I32Keyword@137..140 "i32"
        RParen@140..141 ")"
        Whitespace@141..142 " "
      Arrow@142..144 "->"
      Whitespace@144..145 " "
      TYPE_STRING@145..152
        StringKeyword@145..151 "string"
        Whitespace@151..152 " "
      BLOCK@152..198
        LBrace@152..153 "{"
        Whitespace@153..162 "\n        "
        EXPR_BINARY@162..196
          EXPR_STR@162..172
            Str@162..171 "\"number:\""
            Whitespace@171..172 " "
          Plus@172..173 "+"
          Whitespace@173..174 " "
          EXPR_CALL@174..196
            EXPR_BINARY@174..189
              EXPR_IDENT@174..179
                PATH@174..179
                  Ident@174..179 "value"
              Dot@179..180 "."
              EXPR_IDENT@180..189
                PATH@180..189
                  Ident@180..189 "to_string"
            ARG_LIST@189..196
              LParen@189..190 "("
              RParen@190..191 ")"
              Whitespace@191..196 "\n    "
        RBrace@196..197 "}"
        Whitespace@197..198 "\n"
    RBrace@198..199 "}"
    Whitespace@199..201 "\n\n"
  IMPL@201..315
    ImplKeyword@201..205 "impl"
    Whitespace@205..206 " "
    TYPE_TAPP@206..217
      PATH@206..209
        Ident@206..209 "Put"
      TYPE_PARAM_LIST@209..217
        LBracket@209..210 "["
        TYPE_STRING@210..216
          StringKeyword@210..216 "string"
        RBracket@216..217 "]"
    ForKeyword@217..220 "for"
    Whitespace@220..221 " "
    TYPE_TAPP@221..228
      PATH@221..228
        Ident@221..227 "Target"
        Whitespace@227..228 " "
    LBrace@228..229 "{"
    Whitespace@229..234 "\n    "
    FN@234..312
      FnKeyword@234..236 "fn"
      Whitespace@236..237 " "
      Ident@237..240 "put"
      PARAM_LIST@240..270
        LParen@240..241 "("
        PARAM@241..255
          Ident@241..245 "self"
          Colon@245..246 ":"
          Whitespace@246..247 " "
          TYPE_TAPP@247..253
            PATH@247..253
              Ident@247..253 "Target"
          Comma@253..254 ","
          Whitespace@254..255 " "
        PARAM@255..268
          Ident@255..260 "value"
          Colon@260..261 ":"
          Whitespace@261..262 " "
          TYPE_STRING@262..268
            StringKeyword@262..268 "string"
        RParen@268..269 ")"
        Whitespace@269..270 " "
      Arrow@270..272 "->"
      Whitespace@272..273 " "
      TYPE_STRING@273..280
        StringKeyword@273..279 "string"
        Whitespace@279..280 " "
      BLOCK@280..312
        LBrace@280..281 "{"
        Whitespace@281..290 "\n        "
        EXPR_BINARY@290..310
          EXPR_STR@290..298
            Str@290..297 "\"text:\""
            Whitespace@297..298 " "
          Plus@298..299 "+"
          Whitespace@299..300 " "
          EXPR_IDENT@300..310
            PATH@300..310
              Ident@300..305 "value"
              Whitespace@305..310 "\n    "
        RBrace@310..311 "}"
        Whitespace@311..312 "\n"
    RBrace@312..313 "}"
    Whitespace@313..315 "\n\n"
  TRAIT@315..398
    TraitKeyword@315..320 "trait"
    Whitespace@320..321 " "
    Ident@321..328 "Convert"
    GENERIC_LIST@328..332
      LBracket@328..329 "["
      GENERIC@329..330
        Ident@329..330 "T"
      RBracket@330..331 "]"
      Whitespace@331..332 " "
    LBrace@332..333 "{"
    Whitespace@333..338 "\n    "
    TRAIT_METHOD_SIG_LIST@338..398
      TRAIT_ASSOCIATED_TYPE@338..355
        TypeKeyword@338..342 "type"
        Whitespace@342..343 " "
        Ident@343..349 "Output"
        Semi@349..350 ";"
        Whitespace@350..355 "\n    "
      TRAIT_METHOD_SIG@355..395
        FnKeyword@355..357 "fn"
        Whitespace@357..358 " "
        Ident@358..365 "convert"
        PARAM_LIST@365..378
          LParen@365..366 "("
          PARAM@366..376
            Ident@366..370 "self"
            Colon@370..371 ":"
            Whitespace@371..372 " "
            TYPE_TAPP@372..376
              PATH@372..376
                Ident@372..376 "Self"
          RParen@376..377 ")"
          Whitespace@377..378 " "
        Arrow@378..380 "->"
        Whitespace@380..381 " "
        TYPE_TAPP@381..393
          PATH@381..393
            Ident@381..385 "Self"
            ColonColon@385..387 "::"
            Ident@387..393 "Output"
        Semi@393..394 ";"
        Whitespace@394..395 "\n"
      RBrace@395..396 "}"
      Whitespace@396..398 "\n\n"
  STRUCT@398..421
    StructKeyword@398..404 "struct"
    Whitespace@404..405 " "
    Ident@405..416 "Convertible"
    Whitespace@416..417 " "
    LBrace@417..418 "{"
    STRUCT_FIELD_LIST@418..421
      RBrace@418..419 "}"
      Whitespace@419..421 "\n\n"
  IMPL@421..558
    ImplKeyword@421..425 "impl"
    Whitespace@425..426 " "
    TYPE_TAPP@426..438
      PATH@426..433
        Ident@426..433 "Convert"
      TYPE_PARAM_LIST@433..438
        LBracket@433..434 "["
        TYPE_INT32@434..437
          I32Keyword@434..437 "i32"
        RBracket@437..438 "]"
    ForKeyword@438..441 "for"
    Whitespace@441..442 " "
    TYPE_TAPP@442..454
      PATH@442..454
        Ident@442..453 "Convertible"
        Whitespace@453..454 " "
    LBrace@454..455 "{"
    Whitespace@455..460 "\n    "
    IMPL_ASSOCIATED_TYPE@460..487
      TypeKeyword@460..464 "type"
      Whitespace@464..465 " "
      Ident@465..471 "Output"
      Whitespace@471..472 " "
      Eq@472..473 "="
      Whitespace@473..474 " "
      TYPE_STRING@474..480
        StringKeyword@474..480 "string"
      Semi@480..481 ";"
      Whitespace@481..487 "\n\n    "
    FN@487..555
      FnKeyword@487..489 "fn"
      Whitespace@489..490 " "
      Ident@490..497 "convert"
      PARAM_LIST@497..517
        LParen@497..498 "("
        PARAM@498..515
          Ident@498..502 "self"
          Colon@502..503 ":"
          Whitespace@503..504 " "
          TYPE_TAPP@504..515
            PATH@504..515
              Ident@504..515 "Convertible"
        RParen@515..516 ")"
        Whitespace@516..517 " "
      Arrow@517..519 "->"
      Whitespace@519..520 " "
      TYPE_STRING@520..527
        StringKeyword@520..526 "string"
        Whitespace@526..527 " "
      BLOCK@527..555
        LBrace@527..528 "{"
        Whitespace@528..537 "\n        "
        EXPR_STR@537..553
          Str@537..548 "\"converted\""
          Whitespace@548..553 "\n    "
        RBrace@553..554 "}"
        Whitespace@554..555 "\n"
    RBrace@555..556 "}"
    Whitespace@556..558 "\n\n"
  IMPL@558..682
    ImplKeyword@558..562 "impl"
    Whitespace@562..563 " "
    TYPE_TAPP@563..578
      PATH@563..570
        Ident@563..570 "Convert"
      TYPE_PARAM_LIST@570..578
        LBracket@570..571 "["
        TYPE_STRING@571..577
          StringKeyword@571..577 "string"
        RBracket@577..578 "]"
    ForKeyword@578..581 "for"
    Whitespace@581..582 " "
    TYPE_TAPP@582..594
      PATH@582..594
        Ident@582..593 "Convertible"
        Whitespace@593..594 " "
    LBrace@594..595 "{"
    Whitespace@595..600 "\n    "
    IMPL_ASSOCIATED_TYPE@600..624
      TypeKeyword@600..604 "type"
      Whitespace@604..605 " "
      Ident@605..611 "Output"
      Whitespace@611..612 " "
      Eq@612..613 "="
      Whitespace@613..614 " "
      TYPE_INT32@614..617
        I32Keyword@614..617 "i32"
      Semi@617..618 ";"
      Whitespace@618..624 "\n\n    "
    FN@624..679
      FnKeyword@624..626 "fn"
      Whitespace@626..627 " "
      Ident@627..634 "convert"
      PARAM_LIST@634..654
        LParen@634..635 "("
        PARAM@635..652
          Ident@635..639 "self"
          Colon@639..640 ":"
          Whitespace@640..641 " "
          TYPE_TAPP@641..652
            PATH@641..652
              Ident@641..652 "Convertible"
        RParen@652..653 ")"
        Whitespace@653..654 " "
      Arrow@654..656 "->"
      Whitespace@656..657 " "
      TYPE_INT32@657..661
        I32Keyword@657..660 "i32"
        Whitespace@660..661 " "
      BLOCK@661..679
        LBrace@661..662 "{"
        Whitespace@662..671 "\n        "
        EXPR_INT@671..677
          Int@671..672 "7"
          Whitespace@672..677 "\n    "
        RBrace@677..678 "}"
        Whitespace@678..679 "\n"
    RBrace@679..680 "}"
    Whitespace@680..682 "\n\n"
  TRAIT@682..777
    TraitKeyword@682..687 "trait"
    Whitespace@687..688 " "
    Ident@688..694 "Source"
    GENERIC_LIST@694..698
      LBracket@694..695 "["
      GENERIC@695..696
        Ident@695..696 "T"
      RBracket@696..697 "]"
      Whitespace@697..698 " "
    WHERE_CLAUSE@698..719
      WhereKeyword@698..703 "where"
      Whitespace@703..704 " "
      WHERE_PREDICATE@704..719
        TYPE_TAPP@704..715
          PATH@704..715
            Ident@704..708 "Self"
            ColonColon@708..710 "::"
            Ident@710..714 "Item"
            Whitespace@714..715 " "
        Eq@715..716 "="
        Whitespace@716..717 " "
        TYPE_TAPP@717..719
          PATH@717..719
            Ident@717..718 "T"
            Whitespace@718..719 " "
    LBrace@719..720 "{"
    Whitespace@720..725 "\n    "
    TRAIT_METHOD_SIG_LIST@725..777
      TRAIT_ASSOCIATED_TYPE@725..740
        TypeKeyword@725..729 "type"
        Whitespace@729..730 " "
        Ident@730..734 "Item"
        Semi@734..735 ";"
        Whitespace@735..740 "\n    "
      TRAIT_METHOD_SIG@740..774
        FnKeyword@740..742 "fn"
        Whitespace@742..743 " "
        Ident@743..746 "get"
        PARAM_LIST@746..759
          LParen@746..747 "("
          PARAM@747..757
            Ident@747..751 "self"
            Colon@751..752 ":"
            Whitespace@752..753 " "
            TYPE_TAPP@753..757
              PATH@753..757
                Ident@753..757 "Self"
          RParen@757..758 ")"
          Whitespace@758..759 " "
        Arrow@759..761 "->"
        Whitespace@761..762 " "
        TYPE_TAPP@762..772
          PATH@762..772
            Ident@762..766 "Self"
            ColonColon@766..768 "::"
            Ident@768..772 "Item"
        Semi@772..773 ";"
        Whitespace@773..774 "\n"
      RBrace@774..775 "}"
      Whitespace@775..777 "\n\n"
  STRUCT@777..812
    StructKeyword@777..783 "struct"
    Whitespace@783..784 " "
    Ident@784..790 "Number"
    Whitespace@790..791 " "
    LBrace@791..792 "{"
    Whitespace@792..797 "\n    "
    STRUCT_FIELD_LIST@797..812
      STRUCT_FIELD@797..807
        Ident@797..802 "value"
        Colon@802..803 ":"
        Whitespace@803..804 " "
        TYPE_INT32@804..807
          I32Keyword@804..807 "i32"
      Comma@807..808 ","
      Whitespace@808..809 "\n"
      RBrace@809..810 "}"
      Whitespace@810..812 "\n\n"
  IMPL@812..925
    ImplKeyword@812..816 "impl"
    Whitespace@816..817 " "
    TYPE_TAPP@817..828
      PATH@817..823
        Ident@817..823 "Source"
      TYPE_PARAM_LIST@823..828
        LBracket@823..824 "["
        TYPE_INT32@824..827
          I32Keyword@824..827 "i32"
        RBracket@827..828 "]"
    ForKeyword@828..831 "for"
    Whitespace@831..832 " "
    TYPE_TAPP@832..839
      PATH@832..839
        Ident@832..838 "Number"
        Whitespace@838..839 " "
    LBrace@839..840 "{"
    Whitespace@840..845 "\n    "
    IMPL_ASSOCIATED_TYPE@845..867
      TypeKeyword@845..849 "type"
      Whitespace@849..850 " "
      Ident@850..854 "Item"
      Whitespace@854..855 " "
      Eq@855..856 "="
      Whitespace@856..857 " "
      TYPE_INT32@857..860
        I32Keyword@857..860 "i32"
      Semi@860..861 ";"
      Whitespace@861..867 "\n\n    "
    FN@867..922
      FnKeyword@867..869 "fn"
      Whitespace@869..870 " "
      Ident@870..873 "get"
      PARAM_LIST@873..888
        LParen@873..874 "("
        PARAM@874..886
          Ident@874..878 "self"
          Colon@878..879 ":"
          Whitespace@879..880 " "
          TYPE_TAPP@880..886
            PATH@880..886
              Ident@880..886 "Number"
        RParen@886..887 ")"
        Whitespace@887..888 " "
      Arrow@888..890 "->"
      Whitespace@890..891 " "
      TYPE_INT32@891..895
        I32Keyword@891..894 "i32"
        Whitespace@894..895 " "
      BLOCK@895..922
        LBrace@895..896 "{"
        Whitespace@896..905 "\n        "
        EXPR_BINARY@905..920
          EXPR_IDENT@905..909
            PATH@905..909
              Ident@905..909 "self"
          Dot@909..910 "."
          EXPR_IDENT@910..920
            PATH@910..920
              Ident@910..915 "value"
              Whitespace@915..920 "\n    "
        RBrace@920..921 "}"
        Whitespace@921..922 "\n"
    RBrace@922..923 "}"
    Whitespace@923..925 "\n\n"
  FN@925..1000
    FnKeyword@925..927 "fn"
    Whitespace@927..928 " "
    Ident@928..932 "read"
    GENERIC_LIST@932..949
      LBracket@932..933 "["
      GENERIC@933..934
        Ident@933..934 "T"
      Comma@934..935 ","
      Whitespace@935..936 " "
      GENERIC@936..948
        Ident@936..937 "S"
        Colon@937..938 ":"
        Whitespace@938..939 " "
        TRAIT_SET@939..948
          TYPE_TAPP@939..948
            PATH@939..945
              Ident@939..945 "Source"
            TYPE_PARAM_LIST@945..948
              LBracket@945..946 "["
              TYPE_TAPP@946..947
                PATH@946..947
                  Ident@946..947 "T"
              RBracket@947..948 "]"
      RBracket@948..949 "]"
    PARAM_LIST@949..961
      LParen@949..950 "("
      PARAM@950..959
        Ident@950..956 "source"
        Colon@956..957 ":"
        Whitespace@957..958 " "
        TYPE_TAPP@958..959
          PATH@958..959
            Ident@958..959 "S"
      RParen@959..960 ")"
      Whitespace@960..961 " "
    Arrow@961..963 "->"
    Whitespace@963..964 " "
    TYPE_TAPP@964..966
      PATH@964..966
        Ident@964..965 "T"
        Whitespace@965..966 " "
    BLOCK@966..1000
      LBrace@966..967 "{"
      Whitespace@967..972 "\n    "
      EXPR_CALL@972..997
        EXPR_IDENT@972..988
          TYPE_TAPP@972..983
            PATH@972..978
              Ident@972..978 "Source"
            ColonColon@978..980 "::"
            TYPE_PARAM_LIST@980..983
              LBracket@980..981 "["
              TYPE_TAPP@981..982
                PATH@981..982
                  Ident@981..982 "T"
              RBracket@982..983 "]"
          ColonColon@983..985 "::"
          PATH@985..988
            Ident@985..988 "get"
        ARG_LIST@988..997
          LParen@988..989 "("
          ARG@989..995
            EXPR_IDENT@989..995
              PATH@989..995
                Ident@989..995 "source"
          RParen@995..996 ")"
          Whitespace@996..997 "\n"
      RBrace@997..998 "}"
      Whitespace@998..1000 "\n\n"
  TRAIT@1000..1076
    TraitKeyword@1000..1005 "trait"
    Whitespace@1005..1006 " "
    Ident@1006..1016 "ItemSource"
    Whitespace@1016..1017 " "
    LBrace@1017..1018 "{"
    Whitespace@1018..1023 "\n    "
    TRAIT_METHOD_SIG_LIST@1023..1076
      TRAIT_ASSOCIATED_TYPE@1023..1038
        TypeKeyword@1023..1027 "type"
        Whitespace@1027..1028 " "
        Ident@1028..1032 "Item"
        Semi@1032..1033 ";"
        Whitespace@1033..1038 "\n    "
      TRAIT_METHOD_SIG@1038..1073
        FnKeyword@1038..1040 "fn"
        Whitespace@1040..1041 " "
        Ident@1041..1045 "item"
        PARAM_LIST@1045..1058
          LParen@1045..1046 "("
          PARAM@1046..1056
            Ident@1046..1050 "self"
            Colon@1050..1051 ":"
            Whitespace@1051..1052 " "
            TYPE_TAPP@1052..1056
              PATH@1052..1056
                Ident@1052..1056 "Self"
          RParen@1056..1057 ")"
          Whitespace@1057..1058 " "
        Arrow@1058..1060 "->"
        Whitespace@1060..1061 " "
        TYPE_TAPP@1061..1071
          PATH@1061..1071
            Ident@1061..1065 "Self"
            ColonColon@1065..1067 "::"
            Ident@1067..1071 "Item"
        Semi@1071..1072 ";"
        Whitespace@1072..1073 "\n"
      RBrace@1073..1074 "}"
      Whitespace@1074..1076 "\n\n"
  TRAIT@1076..1129
    TraitKeyword@1076..1081 "trait"
    Whitespace@1081..1082 " "
    Ident@1082..1088 "Select"
    GENERIC_LIST@1088..1092
      LBracket@1088..1089 "["
      GENERIC@1089..1090
        Ident@1089..1090 "T"
      RBracket@1090..1091 "]"
      Whitespace@1091..1092 " "
    LBrace@1092..1093 "{"
    Whitespace@1093..1098 "\n    "
    TRAIT_METHOD_SIG_LIST@1098..1129
      TRAIT_METHOD_SIG@1098..1126
        FnKeyword@1098..1100 "fn"
        Whitespace@1100..1101 " "
        Ident@1101..1107 "select"
        PARAM_LIST@1107..1120
          LParen@1107..1108 "("
          PARAM@1108..1118
            Ident@1108..1112 "self"
            Colon@1112..1113 ":"
            Whitespace@1113..1114 " "
            TYPE_TAPP@1114..1118
              PATH@1114..1118
                Ident@1114..1118 "Self"
          RParen@1118..1119 ")"
          Whitespace@1119..1120 " "
        Arrow@1120..1122 "->"
        Whitespace@1122..1123 " "
        TYPE_TAPP@1123..1124
          PATH@1123..1124
            Ident@1123..1124 "T"
        Semi@1124..1125 ";"
        Whitespace@1125..1126 "\n"
      RBrace@1126..1127 "}"
      Whitespace@1127..1129 "\n\n"
  IMPL@1129..1258
    ImplKeyword@1129..1133 "impl"
    GENERIC_LIST@1133..1152
      LBracket@1133..1134 "["
      GENERIC@1134..1147
        Ident@1134..1135 "S"
        Colon@1135..1136 ":"
        Whitespace@1136..1137 " "
        TRAIT_SET@1137..1147
          TYPE_TAPP@1137..1147
            PATH@1137..1147
              Ident@1137..1147 "ItemSource"
      Comma@1147..1148 ","
      Whitespace@1148..1149 " "
      GENERIC@1149..1150
        Ident@1149..1150 "T"
      RBracket@1150..1151 "]"
      Whitespace@1151..1152 " "
    TYPE_TAPP@1152..1161
      PATH@1152..1158
        Ident@1152..1158 "Select"
      TYPE_PARAM_LIST@1158..1161
        LBracket@1158..1159 "["
        TYPE_TAPP@1159..1160
          PATH@1159..1160
            Ident@1159..1160 "T"
        RBracket@1160..1161 "]"
    ForKeyword@1161..1164 "for"
    Whitespace@1164..1165 " "
    TYPE_TAPP@1165..1167
      PATH@1165..1167
        Ident@1165..1166 "S"
        Whitespace@1166..1167 " "
    WHERE_CLAUSE@1167..1186
      WhereKeyword@1167..1172 "where"
      Whitespace@1172..1173 " "
      WHERE_PREDICATE@1173..1186
        TYPE_TAPP@1173..1181
          PATH@1173..1181
            Ident@1173..1174 "S"
            ColonColon@1174..1176 "::"
            Ident@1176..1180 "Item"
            Whitespace@1180..1181 " "
        Eq@1181..1182 "="
        Whitespace@1182..1183 " "
        TYPE_TAPP@1183..1186
          PATH@1183..1186
            Ident@1183..1184 "T"
            Whitespace@1184..1186 "  "
    LBrace@1186..1187 "{"
    Whitespace@1187..1192 "\n    "
    FN@1192..1255
      FnKeyword@1192..1194 "fn"
      Whitespace@1194..1195 " "
      Ident@1195..1201 "select"
      PARAM_LIST@1201..1211
        LParen@1201..1202 "("
        PARAM@1202..1209
          Ident@1202..1206 "self"
          Colon@1206..1207 ":"
          Whitespace@1207..1208 " "
          TYPE_TAPP@1208..1209
            PATH@1208..1209
              Ident@1208..1209 "S"
        RParen@1209..1210 ")"
        Whitespace@1210..1211 " "
      Arrow@1211..1213 "->"
      Whitespace@1213..1214 " "
      TYPE_TAPP@1214..1216
        PATH@1214..1216
          Ident@1214..1215 "T"
          Whitespace@1215..1216 " "
      BLOCK@1216..1255
        LBrace@1216..1217 "{"
        Whitespace@1217..1226 "\n        "
        EXPR_CALL@1226..1253
          EXPR_IDENT@1226..1242
            PATH@1226..1242
              Ident@1226..1236 "ItemSource"
              ColonColon@1236..1238 "::"
              Ident@1238..1242 "item"
          ARG_LIST@1242..1253
            LParen@1242..1243 "("
            ARG@1243..1247
              EXPR_IDENT@1243..1247
                PATH@1243..1247
                  Ident@1243..1247 "self"
            RParen@1247..1248 ")"
            Whitespace@1248..1253 "\n    "
        RBrace@1253..1254 "}"
        Whitespace@1254..1255 "\n"
    RBrace@1255..1256 "}"
    Whitespace@1256..1258 "\n\n"
  STRUCT@1258..1295
    StructKeyword@1258..1264 "struct"
    Whitespace@1264..1265 " "
    Ident@1265..1273 "Selected"
    Whitespace@1273..1274 " "
    LBrace@1274..1275 "{"
    Whitespace@1275..1280 "\n    "
    STRUCT_FIELD_LIST@1280..1295
      STRUCT_FIELD@1280..1290
        Ident@1280..1285 "value"
        Colon@1285..1286 ":"
        Whitespace@1286..1287 " "
        TYPE_INT32@1287..1290
          I32Keyword@1287..1290 "i32"
      Comma@1290..1291 ","
      Whitespace@1291..1292 "\n"
      RBrace@1292..1293 "}"
      Whitespace@1293..1295 "\n\n"
  IMPL@1295..1413
    ImplKeyword@1295..1299 "impl"
    Whitespace@1299..1300 " "
    TYPE_TAPP@1300..1311
      PATH@1300..1311
        Ident@1300..1310 "ItemSource"
        Whitespace@1310..1311 " "
    ForKeyword@1311..1314 "for"
    Whitespace@1314..1315 " "
    TYPE_TAPP@1315..1324
      PATH@1315..1324
        Ident@1315..1323 "Selected"
        Whitespace@1323..1324 " "
    LBrace@1324..1325 "{"
    Whitespace@1325..1330 "\n    "
    IMPL_ASSOCIATED_TYPE@1330..1352
      TypeKeyword@1330..1334 "type"
      Whitespace@1334..1335 " "
      Ident@1335..1339 "Item"
      Whitespace@1339..1340 " "
      Eq@1340..1341 "="
      Whitespace@1341..1342 " "
      TYPE_INT32@1342..1345
        I32Keyword@1342..1345 "i32"
      Semi@1345..1346 ";"
      Whitespace@1346..1352 "\n\n    "
    FN@1352..1410
      FnKeyword@1352..1354 "fn"
      Whitespace@1354..1355 " "
      Ident@1355..1359 "item"
      PARAM_LIST@1359..1376
        LParen@1359..1360 "("
        PARAM@1360..1374
          Ident@1360..1364 "self"
          Colon@1364..1365 ":"
          Whitespace@1365..1366 " "
          TYPE_TAPP@1366..1374
            PATH@1366..1374
              Ident@1366..1374 "Selected"
        RParen@1374..1375 ")"
        Whitespace@1375..1376 " "
      Arrow@1376..1378 "->"
      Whitespace@1378..1379 " "
      TYPE_INT32@1379..1383
        I32Keyword@1379..1382 "i32"
        Whitespace@1382..1383 " "
      BLOCK@1383..1410
        LBrace@1383..1384 "{"
        Whitespace@1384..1393 "\n        "
        EXPR_BINARY@1393..1408
          EXPR_IDENT@1393..1397
            PATH@1393..1397
              Ident@1393..1397 "self"
          Dot@1397..1398 "."
          EXPR_IDENT@1398..1408
            PATH@1398..1408
              Ident@1398..1403 "value"
              Whitespace@1403..1408 "\n    "
        RBrace@1408..1409 "}"
        Whitespace@1409..1410 "\n"
    RBrace@1410..1411 "}"
    Whitespace@1411..1413 "\n\n"
  FN@1413..1481
    FnKeyword@1413..1415 "fn"
    Whitespace@1415..1416 " "
    Ident@1416..1422 "invoke"
    GENERIC_LIST@1422..1439
      LBracket@1422..1423 "["
      GENERIC@1423..1424
        Ident@1423..1424 "T"
      Comma@1424..1425 ","
      Whitespace@1425..1426 " "
      GENERIC@1426..1438
        Ident@1426..1427 "S"
        Colon@1427..1428 ":"
        Whitespace@1428..1429 " "
        TRAIT_SET@1429..1438
          TYPE_TAPP@1429..1438
            PATH@1429..1435
              Ident@1429..1435 "Select"
            TYPE_PARAM_LIST@1435..1438
              LBracket@1435..1436 "["
              TYPE_TAPP@1436..1437
                PATH@1436..1437
                  Ident@1436..1437 "T"
              RBracket@1437..1438 "]"
      RBracket@1438..1439 "]"
    PARAM_LIST@1439..1451
      LParen@1439..1440 "("
      PARAM@1440..1449
        Ident@1440..1446 "source"
        Colon@1446..1447 ":"
        Whitespace@1447..1448 " "
        TYPE_TAPP@1448..1449
          PATH@1448..1449
            Ident@1448..1449 "S"
      RParen@1449..1450 ")"
      Whitespace@1450..1451 " "
    Arrow@1451..1453 "->"
    Whitespace@1453..1454 " "
    TYPE_TAPP@1454..1456
      PATH@1454..1456
        Ident@1454..1455 "T"
        Whitespace@1455..1456 " "
    BLOCK@1456..1481
      LBrace@1456..1457 "{"
      Whitespace@1457..1462 "\n    "
      EXPR_CALL@1462..1478
        EXPR_BINARY@1462..1475
          EXPR_IDENT@1462..1468
            PATH@1462..1468
              Ident@1462..1468 "source"
          Dot@1468..1469 "."
          EXPR_IDENT@1469..1475
            PATH@1469..1475
              Ident@1469..1475 "select"
        ARG_LIST@1475..1478
          LParen@1475..1476 "("
          RParen@1476..1477 ")"
          Whitespace@1477..1478 "\n"
      RBrace@1478..1479 "}"
      Whitespace@1479..1481 "\n\n"
  FN@1481..1557
    FnKeyword@1481..1483 "fn"
    Whitespace@1483..1484 " "
    Ident@1484..1495 "select_item"
    GENERIC_LIST@1495..1510
      LBracket@1495..1496 "["
      GENERIC@1496..1509
        Ident@1496..1497 "S"
        Colon@1497..1498 ":"
        Whitespace@1498..1499 " "
        TRAIT_SET@1499..1509
          TYPE_TAPP@1499..1509
            PATH@1499..1509
              Ident@1499..1509 "ItemSource"
      RBracket@1509..1510 "]"
    PARAM_LIST@1510..1522
      LParen@1510..1511 "("
      PARAM@1511..1520
        Ident@1511..1517 "source"
        Colon@1517..1518 ":"
        Whitespace@1518..1519 " "
        TYPE_TAPP@1519..1520
          PATH@1519..1520
            Ident@1519..1520 "S"
      RParen@1520..1521 ")"
      Whitespace@1521..1522 " "
    Arrow@1522..1524 "->"
    Whitespace@1524..1525 " "
    TYPE_TAPP@1525..1533
      PATH@1525..1533
        Ident@1525..1526 "S"
        ColonColon@1526..1528 "::"
        Ident@1528..1532 "Item"
        Whitespace@1532..1533 " "
    BLOCK@1533..1557
      LBrace@1533..1534 "{"
      Whitespace@1534..1539 "\n    "
      EXPR_CALL@1539..1554
        EXPR_IDENT@1539..1545
          PATH@1539..1545
            Ident@1539..1545 "invoke"
        ARG_LIST@1545..1554
          LParen@1545..1546 "("
          ARG@1546..1552
            EXPR_IDENT@1546..1552
              PATH@1546..1552
                Ident@1546..1552 "source"
          RParen@1552..1553 ")"
          Whitespace@1553..1554 "\n"
      RBrace@1554..1555 "}"
      Whitespace@1555..1557 "\n\n"
  FN@1557..1878
    FnKeyword@1557..1559 "fn"
    Whitespace@1559..1560 " "
    Ident@1560..1564 "main"
    PARAM_LIST@1564..1567
      LParen@1564..1565 "("
      RParen@1565..1566 ")"
      Whitespace@1566..1567 " "
    Arrow@1567..1569 "->"
    Whitespace@1569..1570 " "
    TYPE_TUPLE@1570..1573
      TYPE_LIST@1570..1573
        LParen@1570..1571 "("
        RParen@1571..1572 ")"
        Whitespace@1572..1573 " "
    BLOCK@1573..1878
      LBrace@1573..1574 "{"
      Whitespace@1574..1579 "\n    "
      STMT_EXPR@1579..1612
        EXPR_CALL@1579..1606
          EXPR_IDENT@1579..1586
            PATH@1579..1586
              Ident@1579..1586 "println"
          ARG_LIST@1586..1606
            LParen@1586..1587 "("
            ARG@1587..1605
              EXPR_CALL@1587..1605
                EXPR_BINARY@1587..1602
                  EXPR_PAREN@1587..1598
                    LParen@1587..1588 "("
                    EXPR_STRUCT_LITERAL@1588..1597
                      PATH@1588..1595
                        Ident@1588..1594 "Target"
                        Whitespace@1594..1595 " "
                      STRUCT_LITERAL_FIELD_LIST@1595..1597
                        LBrace@1595..1596 "{"
                        RBrace@1596..1597 "}"
                    RParen@1597..1598 ")"
                  Dot@1598..1599 "."
                  EXPR_IDENT@1599..1602
                    PATH@1599..1602
                      Ident@1599..1602 "put"
                ARG_LIST@1602..1605
                  LParen@1602..1603 "("
                  ARG@1603..1604
                    EXPR_INT@1603..1604
                      Int@1603..1604 "3"
                  RParen@1604..1605 ")"
            RParen@1605..1606 ")"
        Semi@1606..1607 ";"
        Whitespace@1607..1612 "\n    "
      STMT_EXPR@1612..1650
        EXPR_CALL@1612..1644
          EXPR_IDENT@1612..1619
            PATH@1612..1619
              Ident@1612..1619 "println"
          ARG_LIST@1619..1644
            LParen@1619..1620 "("
            ARG@1620..1643
              EXPR_CALL@1620..1643
                EXPR_BINARY@1620..1635
                  EXPR_PAREN@1620..1631
                    LParen@1620..1621 "("
                    EXPR_STRUCT_LITERAL@1621..1630
                      PATH@1621..1628
                        Ident@1621..1627 "Target"
                        Whitespace@1627..1628 " "
                      STRUCT_LITERAL_FIELD_LIST@1628..1630
                        LBrace@1628..1629 "{"
                        RBrace@1629..1630 "}"
                    RParen@1630..1631 ")"
                  Dot@1631..1632 "."
                  EXPR_IDENT@1632..1635
                    PATH@1632..1635
                      Ident@1632..1635 "put"
                ARG_LIST@1635..1643
                  LParen@1635..1636 "("
                  ARG@1636..1642
                    EXPR_STR@1636..1642
                      Str@1636..1642 "\"goml\""
                  RParen@1642..1643 ")"
            RParen@1643..1644 ")"
        Semi@1644..1645 ";"
        Whitespace@1645..1650 "\n    "
      STMT_LET@1650..1701
        LetKeyword@1650..1653 "let"
        Whitespace@1653..1654 " "
        PATTERN_VARIABLE@1654..1658
          Ident@1654..1658 "text"
        Colon@1658..1659 ":"
        Whitespace@1659..1660 " "
        TYPE_STRING@1660..1667
          StringKeyword@1660..1666 "string"
          Whitespace@1666..1667 " "
        Eq@1667..1668 "="
        Whitespace@1668..1669 " "
        EXPR_CALL@1669..1695
          EXPR_BINARY@1669..1693
            EXPR_PAREN@1669..1685
              LParen@1669..1670 "("
              EXPR_STRUCT_LITERAL@1670..1684
                PATH@1670..1682
                  Ident@1670..1681 "Convertible"
                  Whitespace@1681..1682 " "
                STRUCT_LITERAL_FIELD_LIST@1682..1684
                  LBrace@1682..1683 "{"
                  RBrace@1683..1684 "}"
              RParen@1684..1685 ")"
            Dot@1685..1686 "."
            EXPR_IDENT@1686..1693
              PATH@1686..1693
                Ident@1686..1693 "convert"
          ARG_LIST@1693..1695
            LParen@1693..1694 "("
            RParen@1694..1695 ")"
        Semi@1695..1696 ";"
        Whitespace@1696..1701 "\n    "
      STMT_LET@1701..1751
        LetKeyword@1701..1704 "let"
        Whitespace@1704..1705 " "
        PATTERN_VARIABLE@1705..1711
          Ident@1705..1711 "number"
        Colon@1711..1712 ":"
        Whitespace@1712..1713 " "
        TYPE_INT32@1713..1717
          I32Keyword@1713..1716 "i32"
          Whitespace@1716..1717 " "
        Eq@1717..1718 "="
        Whitespace@1718..1719 " "
        EXPR_CALL@1719..1745
          EXPR_BINARY@1719..1743
            EXPR_PAREN@1719..1735
              LParen@1719..1720 "("
              EXPR_STRUCT_LITERAL@1720..1734
                PATH@1720..1732
                  Ident@1720..1731 "Convertible"
                  Whitespace@1731..1732 " "
                STRUCT_LITERAL_FIELD_LIST@1732..1734
                  LBrace@1732..1733 "{"
                  RBrace@1733..1734 "}"
              RParen@1734..1735 ")"
            Dot@1735..1736 "."
            EXPR_IDENT@1736..1743
              PATH@1736..1743
                Ident@1736..1743 "convert"
          ARG_LIST@1743..1745
            LParen@1743..1744 "("
            RParen@1744..1745 ")"
        Semi@1745..1746 ";"
        Whitespace@1746..1751 "\n    "
      STMT_EXPR@1751..1770
        EXPR_CALL@1751..1764
          EXPR_IDENT@1751..1758
            PATH@1751..1758
              Ident@1751..1758 "println"
          ARG_LIST@1758..1764
            LParen@1758..1759 "("
            ARG@1759..1763
              EXPR_IDENT@1759..1763
                PATH@1759..1763
                  Ident@1759..1763 "text"
            RParen@1763..1764 ")"
        Semi@1764..1765 ";"
        Whitespace@1765..1770 "\n    "
      STMT_EXPR@1770..1791
        EXPR_CALL@1770..1785
          EXPR_IDENT@1770..1777
            PATH@1770..1777
              Ident@1770..1777 "println"
          ARG_LIST@1777..1785
            LParen@1777..1778 "("
            ARG@1778..1784
              EXPR_IDENT@1778..1784
                PATH@1778..1784
                  Ident@1778..1784 "number"
            RParen@1784..1785 ")"
        Semi@1785..1786 ";"
        Whitespace@1786..1791 "\n    "
      STMT_EXPR@1791..1831
        EXPR_CALL@1791..1825
          EXPR_IDENT@1791..1798
            PATH@1791..1798
              Ident@1791..1798 "println"
          ARG_LIST@1798..1825
            LParen@1798..1799 "("
            ARG@1799..1824
              EXPR_CALL@1799..1824
                EXPR_IDENT@1799..1803
                  PATH@1799..1803
                    Ident@1799..1803 "read"
                ARG_LIST@1803..1824
                  LParen@1803..1804 "("
                  ARG@1804..1823
                    EXPR_STRUCT_LITERAL@1804..1823
                      PATH@1804..1811
                        Ident@1804..1810 "Number"
                        Whitespace@1810..1811 " "
                      STRUCT_LITERAL_FIELD_LIST@1811..1823
                        LBrace@1811..1812 "{"
                        Whitespace@1812..1813 " "
                        STRUCT_LITERAL_FIELD@1813..1822
                          Ident@1813..1818 "value"
                          Colon@1818..1819 ":"
                          Whitespace@1819..1820 " "
                          EXPR_INT@1820..1822
                            Int@1820..1821 "8"
                            Whitespace@1821..1822 " "
                        RBrace@1822..1823 "}"
                  RParen@1823..1824 ")"
            RParen@1824..1825 ")"
        Semi@1825..1826 ";"
        Whitespace@1826..1831 "\n    "
      STMT_EXPR@1831..1876
        EXPR_CALL@1831..1874
          EXPR_IDENT@1831..1838
            PATH@1831..1838
              Ident@1831..1838 "println"
          ARG_LIST@1838..1874
            LParen@1838..1839 "("
            ARG@1839..1873
              EXPR_CALL@1839..1873
                EXPR_IDENT@1839..1850
                  PATH@1839..1850
                    Ident@1839..1850 "select_item"
                ARG_LIST@1850..1873
                  LParen@1850..1851 "("
                  ARG@1851..1872
                    EXPR_STRUCT_LITERAL@1851..1872
                      PATH@1851..1860
                        Ident@1851..1859 "Selected"
                        Whitespace@1859..1860 " "
                      STRUCT_LITERAL_FIELD_LIST@1860..1872
                        LBrace@1860..1861 "{"
                        Whitespace@1861..1862 " "
                        STRUCT_LITERAL_FIELD@1862..1871
                          Ident@1862..1867 "value"
                          Colon@1867..1868 ":"
                          Whitespace@1868..1869 " "
                          EXPR_INT@1869..1871
                            Int@1869..1870 "9"
                            Whitespace@1870..1871 " "
                        RBrace@1871..1872 "}"
                  RParen@1872..1873 ")"
            RParen@1873..1874 ")"
        Semi@1874..1875 ";"
        Whitespace@1875..1876 "\n"
      RBrace@1876..1877 "}"
      Whitespace@1877..1878 "\n"