FILE@0..333
  EXTERN@0..41
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    Str@7..11 "\"go\""
    Whitespace@11..12 " "
    Str@12..18 "\"time\""
    Whitespace@18..19 " "
    Str@19..29 "\"Duration\""
    Whitespace@29..30 " "
    TypeKeyword@30..34 "type"
    Whitespace@34..35 " "
    Ident@35..39 "Span"
    Whitespace@39..41 "\n\n"
  EXTERN@41..99
    ExternKeyword@41..47 "extern"
    Whitespace@47..48 " "
    Str@48..52 "\"go\""
    Whitespace@52..53 " "
    Str@53..59 "\"time\""
    Whitespace@59..60 " "
    Str@60..70 "\"Duration\""
    Whitespace@70..71 " "
    Ident@71..76 "nanos"
    PARAM_LIST@76..91
      LParen@76..77 "("
      PARAM@77..89
        Ident@77..82 "nanos"
        Colon@82..83 ":"
        Whitespace@83..84 " "
        TYPE_INT32@84..89
          Int32Keyword@84..89 "int32"
      RParen@89..90 ")"
      Whitespace@90..91 " "
    Arrow@91..93 "->"
    Whitespace@93..94 " "
    TYPE_TAPP@94..99
      PATH@94..99
        Ident@94..98 "Span"
        Whitespace@98..99 "\n"
  EXTERN@99..179
    ExternKeyword@99..105 "extern"
    Whitespace@105..106 " "
    Str@106..110 "\"go\""
    Whitespace@110..111 " "
    Str@111..116 "\"fmt\""
    Whitespace@116..117 " "
    Str@117..126 "\"Sprintf\""
    Whitespace@126..127 " "
    Ident@127..138 "format_span"
    PARAM_LIST@138..168
      LParen@138..139 "("
      PARAM@139..155
        Ident@139..145 "format"
        Colon@145..146 ":"
        Whitespace@146..147 " "
        TYPE_STRING@147..153
          StringKeyword@147..153 "string"
        Comma@153..154 ","
        Whitespace@154..155 " "
      PARAM@155..166
        Ident@155..160 "value"
        Colon@160..161 ":"
        Whitespace@161..162 " "
        TYPE_TAPP@162..166
          PATH@162..166
            Ident@162..166 "Span"
      RParen@166..167 ")"
      Whitespace@167..168 " "
    Arrow@168..170 "->"
    Whitespace@170..171 " "
    TYPE_STRING@171..179
      StringKeyword@171..177 "string"
      Whitespace@177..179 "\n\n"
  FN@179..280
    FnKeyword@179..181 "fn"
    Whitespace@181..182 " "
    Ident@182..190 "describe"
    PARAM_LIST@190..193
      LParen@190..191 "("
      RParen@191..192 ")"
      Whitespace@192..193 " "
    Arrow@193..195 "->"
    Whitespace@195..196 " "
    TYPE_STRING@196..203
      StringKeyword@196..202 "string"
      Whitespace@202..203 " "
    BLOCK@203..280
      LBrace@203..204 "{"
      Whitespace@204..209 "\n    "
      STMT_LET@209..244
        LetKeyword@209..212 "let"
        Whitespace@212..213 " "
        PATTERN_VARIABLE@213..219
          Ident@213..218 "value"
          Whitespace@218..219 " "
        Eq@219..220 "="
        Whitespace@220..221 " "
        EXPR_CALL@221..238
          EXPR_IDENT@221..226
            PATH@221..226
              Ident@221..226 "nanos"
          ARG_LIST@226..238
            LParen@226..227 "("
            ARG@227..237
              EXPR_INT@227..237
                Int@227..237 "1500000000"
            RParen@237..238 ")"
        Semi@238..239 ";"
        Whitespace@239..244 "\n    "
      EXPR_CALL@244..277
        EXPR_IDENT@244..255
          PATH@244..255
            Ident@244..255 "format_span"
        ARG_LIST@255..277
          LParen@255..256 "("
          ARG@256..270
            EXPR_STR@256..268
              Str@256..268 "\"span => %v\""
            Comma@268..269 ","
            Whitespace@269..270 " "
          ARG@270..275
            EXPR_IDENT@270..275
              PATH@270..275
                Ident@270..275 "value"
          RParen@275..276 ")"
          Whitespace@276..277 "\n"
      RBrace@277..278 "}"
      Whitespace@278..280 "\n\n"
  FN@280..333
    FnKeyword@280..282 "fn"
    Whitespace@282..283 " "
    Ident@283..287 "main"
    PARAM_LIST@287..290
      LParen@287..288 "("
      RParen@288..289 ")"
      Whitespace@289..290 " "
    Arrow@290..292 "->"
    Whitespace@292..293 " "
    TYPE_UNIT@293..298
      UnitKeyword@293..297 "unit"
      Whitespace@297..298 " "
    BLOCK@298..333
      LBrace@298..299 "{"
      Whitespace@299..304 "\n    "
      EXPR_CALL@304..331
        EXPR_IDENT@304..318
          PATH@304..318
            Ident@304..318 "string_println"
        ARG_LIST@318..331
          LParen@318..319 "("
          ARG@319..329
            EXPR_CALL@319..329
              EXPR_IDENT@319..327
                PATH@319..327
                  Ident@319..327 "describe"
              ARG_LIST@327..329
                LParen@327..328 "("
                RParen@328..329 ")"
          RParen@329..330 ")"
          Whitespace@330..331 "\n"
      RBrace@331..332 "}"
      Whitespace@332..333 "\n"