FILE@0..679
  TRAIT@0..66
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Source"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..66
      TRAIT_ASSOCIATED_TYPE@19..35
        TypeKeyword@19..23 "type"
        Whitespace@23..24 " "
        Ident@24..28 "Item"
        Semi@28..29 ";"
        Whitespace@29..35 "\n\n    "
      TRAIT_METHOD_SIG@35..61
        FnKeyword@35..37 "fn"
        Whitespace@37..38 " "
        Ident@38..41 "get"
        TYPE_LIST@41..48
          LParen@41..42 "("
          TYPE_TAPP@42..46
            PATH@42..46
              Ident@42..46 "Self"
          RParen@46..47 ")"
          Whitespace@47..48 " "
        Arrow@48..50 "->"
        Whitespace@50..51 " "
        TYPE_TAPP@51..61
          PATH@51..61
            Ident@51..55 "Self"
            ColonColon@55..57 "::"
            Ident@57..61 "Item"
      Semi@61..62 ";"
      Whitespace@62..63 "\n"
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  TRAIT@66..109
    TraitKeyword@66..71 "trait"
    Whitespace@71..72 " "
    Ident@72..76 "Pick"
    GENERIC_LIST@76..80
      LBracket@76..77 "["
      GENERIC@77..78
        Ident@77..78 "T"
      RBracket@78..79 "]"
      Whitespace@79..80 " "
    LBrace@80..81 "{"
    Whitespace@81..86 "\n    "
    TRAIT_METHOD_SIG_LIST@86..109
      TRAIT_METHOD_SIG@86..104
        FnKeyword@86..88 "fn"
        Whitespace@88..89 " "
        Ident@89..93 "pick"
        TYPE_LIST@93..100
          LParen@93..94 "("
          TYPE_TAPP@94..98
            PATH@94..98
              Ident@94..98 "Self"
          RParen@98..99 ")"
          Whitespace@99..100 " "
        Arrow@100..102 "->"
        Whitespace@102..103 " "
        TYPE_TAPP@103..104
          PATH@103..104
            Ident@103..104 "T"
      Semi@104..105 ";"
      Whitespace@105..106 "\n"
      RBrace@106..107 "}"
      Whitespace@107..109 "\n\n"
  IMPL@109..216
    ImplKeyword@109..113 "impl"
    GENERIC_LIST@113..125
      LBracket@113..114 "["
      GENERIC@114..123
        Ident@114..115 "S"
        Colon@115..116 ":"
        Whitespace@116..117 " "
        TRAIT_SET@117..123
          TYPE_TAPP@117..123
            PATH@117..123
              Ident@117..123 "Source"
      RBracket@123..124 "]"
      Whitespace@124..125 " "
    TYPE_TAPP@125..139
      PATH@125..129
        Ident@125..129 "Pick"
      TYPE_PARAM_LIST@129..139
        LBracket@129..130 "["
        TYPE_TAPP@130..137
          PATH@130..137
            Ident@130..131 "S"
            ColonColon@131..133 "::"
            Ident@133..137 "Item"
        RBracket@137..138 "]"
        Whitespace@138..139 " "
    ForKeyword@139..142 "for"
    Whitespace@142..143 " "
    TYPE_TAPP@143..145
      PATH@143..145
        Ident@143..144 "S"
        Whitespace@144..145 " "
    LBrace@145..146 "{"
    Whitespace@146..151 "\n    "
    FN@151..213
      FnKeyword@151..153 "fn"
      Whitespace@153..154 " "
      Ident@154..158 "pick"
      PARAM_LIST@158..168
        LParen@158..159 "("
        PARAM@159..166
          Ident@159..163 "self"
          Colon@163..164 ":"
          Whitespace@164..165 " "
          TYPE_TAPP@165..166
            PATH@165..166
              Ident@165..166 "S"
        RParen@166..167 ")"
        Whitespace@167..168 " "
      Arrow@168..170 "->"
      Whitespace@170..171 " "
      TYPE_TAPP@171..179
        PATH@171..179
          Ident@171..172 "S"
          ColonColon@172..174 "::"
          Ident@174..178 "Item"
          Whitespace@178..179 " "
      BLOCK@179..213
        LBrace@179..180 "{"
        Whitespace@180..189 "\n        "
        EXPR_CALL@189..211
          EXPR_IDENT@189..200
            PATH@189..200
              Ident@189..195 "Source"
              ColonColon@195..197 "::"
              Ident@197..200 "get"
          ARG_LIST@200..211
            LParen@200..201 "("
            ARG@201..205
              EXPR_IDENT@201..205
                PATH@201..205
                  Ident@201..205 "self"
            RParen@205..206 ")"
            Whitespace@206..211 "\n    "
        RBrace@211..212 "}"
        Whitespace@212..213 "\n"
    RBrace@213..214 "}"
    Whitespace@214..216 "\n\n"
  STRUCT@216..252
    StructKeyword@216..222 "struct"
    Whitespace@222..223 " "
    Ident@223..228 "Value"
    Whitespace@228..229 " "
    LBrace@229..230 "{"
    Whitespace@230..235 "\n    "
    STRUCT_FIELD_LIST@235..252
      STRUCT_FIELD@235..247
        Ident@235..240 "value"
        Colon@240..241 ":"
        Whitespace@241..242 " "
        TYPE_INT32@242..247
          Int32Keyword@242..247 "int32"
      Comma@247..248 ","
      Whitespace@248..249 "\n"
      RBrace@249..250 "}"
      Whitespace@250..252 "\n\n"
  IMPL@252..363
    ImplKeyword@252..256 "impl"
    Whitespace@256..257 " "
    TYPE_TAPP@257..264
      PATH@257..264
        Ident@257..263 "Source"
        Whitespace@263..264 " "
    ForKeyword@264..267 "for"
    Whitespace@267..268 " "
    TYPE_TAPP@268..274
      PATH@268..274
        Ident@268..273 "Value"
        Whitespace@273..274 " "
    LBrace@274..275 "{"
    Whitespace@275..280 "\n    "
    IMPL_ASSOCIATED_TYPE@280..304
      TypeKeyword@280..284 "type"
      Whitespace@284..285 " "
      Ident@285..289 "Item"
      Whitespace@289..290 " "
      Eq@290..291 "="
      Whitespace@291..292 " "
      TYPE_INT32@292..297
        Int32Keyword@292..297 "int32"
      Semi@297..298 ";"
      Whitespace@298..304 "\n\n    "
    FN@304..360
      FnKeyword@304..306 "fn"
      Whitespace@306..307 " "
      Ident@307..310 "get"
      PARAM_LIST@310..324
        LParen@310..311 "("
        PARAM@311..322
          Ident@311..315 "self"
          Colon@315..316 ":"
          Whitespace@316..317 " "
          TYPE_TAPP@317..322
            PATH@317..322
              Ident@317..322 "Value"
        RParen@322..323 ")"
        Whitespace@323..324 " "
      Arrow@324..326 "->"
      Whitespace@326..327 " "
      TYPE_INT32@327..333
        Int32Keyword@327..332 "int32"
        Whitespace@332..333 " "
      BLOCK@333..360
        LBrace@333..334 "{"
        Whitespace@334..343 "\n        "
        EXPR_BINARY@343..358
          EXPR_IDENT@343..347
            PATH@343..347
              Ident@343..347 "self"
          Dot@347..348 "."
          EXPR_IDENT@348..358
            PATH@348..358
              Ident@348..353 "value"
              Whitespace@353..358 "\n    "
        RBrace@358..359 "}"
        Whitespace@359..360 "\n"
    RBrace@360..361 "}"
    Whitespace@361..363 "\n\n"
  FN@363..542
    FnKeyword@363..365 "fn"
    Whitespace@365..366 " "
    Ident@366..370 "copy"
    GENERIC_LIST@370..397
      LBracket@370..371 "["
      GENERIC@371..396
        Ident@371..372 "S"
        Colon@372..373 ":"
        Whitespace@373..374 " "
        TRAIT_SET@374..396
          TYPE_TAPP@374..381
            PATH@374..381
              Ident@374..380 "Source"
              Whitespace@380..381 " "
          Plus@381..382 "+"
          Whitespace@382..383 " "
          TYPE_TAPP@383..396
            PATH@383..387
              Ident@383..387 "Pick"
            TYPE_PARAM_LIST@387..396
              LBracket@387..388 "["
              TYPE_TAPP@388..395
                PATH@388..395
                  Ident@388..389 "S"
                  ColonColon@389..391 "::"
                  Ident@391..395 "Item"
              RBracket@395..396 "]"
      RBracket@396..397 "]"
    PARAM_LIST@397..409
      LParen@397..398 "("
      PARAM@398..407
        Ident@398..404 "source"
        Colon@404..405 ":"
        Whitespace@405..406 " "
        TYPE_TAPP@406..407
          PATH@406..407
            Ident@406..407 "S"
      RParen@407..408 ")"
      Whitespace@408..409 " "
    Arrow@409..411 "->"
    Whitespace@411..412 " "
    TYPE_TAPP@412..420
      PATH@412..420
        Ident@412..413 "S"
        ColonColon@413..415 "::"
        Ident@415..419 "Item"
        Whitespace@419..420 " "
    BLOCK@420..542
      LBrace@420..421 "{"
      Whitespace@421..426 "\n    "
      STMT_LET@426..482
        LetKeyword@426..429 "let"
        Whitespace@429..430 " "
        PATTERN_VARIABLE@430..435
          Ident@430..435 "value"
        Colon@435..436 ":"
        Whitespace@436..437 " "
        TYPE_TAPP@437..445
          PATH@437..445
            Ident@437..438 "S"
            ColonColon@438..440 "::"
            Ident@440..444 "Item"
            Whitespace@444..445 " "
        Eq@445..446 "="
        Whitespace@446..447 " "
        EXPR_CALL@447..476
          EXPR_IDENT@447..468
            TYPE_TAPP@447..462
              PATH@447..451
                Ident@447..451 "Pick"
              ColonColon@451..453 "::"
              TYPE_PARAM_LIST@453..462
                LBracket@453..454 "["
                TYPE_TAPP@454..461
                  PATH@454..461
                    Ident@454..455 "S"
                    ColonColon@455..457 "::"
                    Ident@457..461 "Item"
                RBracket@461..462 "]"
            ColonColon@462..464 "::"
            PATH@464..468
              Ident@464..468 "pick"
          ARG_LIST@468..476
            LParen@468..469 "("
            ARG@469..475
              EXPR_IDENT@469..475
                PATH@469..475
                  Ident@469..475 "source"
            RParen@475..476 ")"
        Semi@476..477 ";"
        Whitespace@477..482 "\n    "
      STMT_LET@482..523
        LetKeyword@482..485 "let"
        Whitespace@485..486 " "
        PATTERN_VARIABLE@486..495
          Ident@486..494 "identity"
          Whitespace@494..495 " "
        Eq@495..496 "="
        Whitespace@496..497 " "
        EXPR_CLOSURE@497..517
          CLOSURE_PARAM_LIST@497..513
            Pipe@497..498 "|"
            CLOSURE_PARAM@498..511
              Ident@498..502 "item"
              Colon@502..503 ":"
              Whitespace@503..504 " "
              TYPE_TAPP@504..511
                PATH@504..511
                  Ident@504..505 "S"
                  ColonColon@505..507 "::"
                  Ident@507..511 "Item"
            Pipe@511..512 "|"
            Whitespace@512..513 " "
          EXPR_CLOSURE_BODY@513..517
            EXPR_IDENT@513..517
              PATH@513..517
                Ident@513..517 "item"
        Semi@517..518 ";"
        Whitespace@518..523 "\n    "
      EXPR_CALL@523..539
        EXPR_IDENT@523..531
          PATH@523..531
            Ident@523..531 "identity"
        ARG_LIST@531..539
          LParen@531..532 "("
          ARG@532..537
            EXPR_IDENT@532..537
              PATH@532..537
                Ident@532..537 "value"
          RParen@537..538 ")"
          Whitespace@538..539 "\n"
      RBrace@539..540 "}"
      Whitespace@540..542 "\n\n"
  FN@542..679
    FnKeyword@542..544 "fn"
    Whitespace@544..545 " "
    Ident@545..549 "main"
    PARAM_LIST@549..552
      LParen@549..550 "("
      RParen@550..551 ")"
      Whitespace@551..552 " "
    Arrow@552..554 "->"
    Whitespace@554..555 " "
    TYPE_UNIT@555..560
      UnitKeyword@555..559 "unit"
      Whitespace@559..560 " "
    BLOCK@560..679
      LBrace@560..561 "{"
      Whitespace@561..566 "\n    "
      STMT_LET@566..620
        LetKeyword@566..569 "let"
        Whitespace@569..570 " "
        PATTERN_VARIABLE@570..576
          Ident@570..576 "direct"
        Colon@576..577 ":"
        Whitespace@577..578 " "
        TYPE_INT32@578..584
          Int32Keyword@578..583 "int32"
          Whitespace@583..584 " "
        Eq@584..585 "="
        Whitespace@585..586 " "
        EXPR_CALL@586..614
          EXPR_BINARY@586..612
            EXPR_PAREN@586..607
              LParen@586..587 "("
              EXPR_STRUCT_LITERAL@587..606
                PATH@587..593
                  Ident@587..592 "Value"
                  Whitespace@592..593 " "
                STRUCT_LITERAL_FIELD_LIST@593..606
                  LBrace@593..594 "{"
                  Whitespace@594..595 " "
                  STRUCT_LITERAL_FIELD@595..605
                    Ident@595..600 "value"
                    Colon@600..601 ":"
                    Whitespace@601..602 " "
                    EXPR_INT@602..605
                      Int@602..604 "41"
                      Whitespace@604..605 " "
                  RBrace@605..606 "}"
              RParen@606..607 ")"
            Dot@607..608 "."
            EXPR_IDENT@608..612
              PATH@608..612
                Ident@608..612 "pick"
          ARG_LIST@612..614
            LParen@612..613 "("
            RParen@613..614 ")"
        Semi@614..615 ";"
        Whitespace@615..620 "\n    "
      STMT_EXPR@620..641
        EXPR_CALL@620..635
          EXPR_IDENT@620..627
            PATH@620..627
              Ident@620..627 "println"
          ARG_LIST@627..635
            LParen@627..628 "("
            ARG@628..634
              EXPR_IDENT@628..634
                PATH@628..634
                  Ident@628..634 "direct"
            RParen@634..635 ")"
        Semi@635..636 ";"
        Whitespace@636..641 "\n    "
      STMT_EXPR@641..677
        EXPR_CALL@641..675
          EXPR_IDENT@641..648
            PATH@641..648
              Ident@641..648 "println"
          ARG_LIST@648..675
            LParen@648..649 "("
            ARG@649..674
              EXPR_CALL@649..674
                EXPR_IDENT@649..653
                  PATH@649..653
                    Ident@649..653 "copy"
                ARG_LIST@653..674
                  LParen@653..654 "("
                  ARG@654..673
                    EXPR_STRUCT_LITERAL@654..673
                      PATH@654..660
                        Ident@654..659 "Value"
                        Whitespace@659..660 " "
                      STRUCT_LITERAL_FIELD_LIST@660..673
                        LBrace@660..661 "{"
                        Whitespace@661..662 " "
                        STRUCT_LITERAL_FIELD@662..672
                          Ident@662..667 "value"
                          Colon@667..668 ":"
                          Whitespace@668..669 " "
                          EXPR_INT@669..672
                            Int@669..671 "42"
                            Whitespace@671..672 " "
                        RBrace@672..673 "}"
                  RParen@673..674 ")"
            RParen@674..675 ")"
        Semi@675..676 ";"
        Whitespace@676..677 "\n"
      RBrace@677..678 "}"
      Whitespace@678..679 "\n"