FILE@0..4073
  CONST@0..31
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..18 "NEGATIVE_ONE"
    Colon@18..19 ":"
    Whitespace@19..20 " "
    TYPE_INT16@20..24
      I16Keyword@20..23 "i16"
      Whitespace@23..24 " "
    Eq@24..25 "="
    Whitespace@25..26 " "
    EXPR_PREFIX@26..28
      Minus@26..27 "-"
      EXPR_INT@27..28
        Int@27..28 "1"
    Semi@28..29 ";"
    Whitespace@29..31 "\n\n"
  CONST@31..74
    ConstKeyword@31..36 "const"
    Whitespace@36..37 " "
    Ident@37..44 "WRAPPED"
    Colon@44..45 ":"
    Whitespace@45..46 " "
    TYPE_UINT8@46..49
      U8Keyword@46..48 "u8"
      Whitespace@48..49 " "
    Eq@49..50 "="
    Whitespace@50..51 " "
    EXPR_CALL@51..71
      EXPR_BINARY@51..69
        EXPR_IDENT@51..63
          PATH@51..63
            Ident@51..63 "NEGATIVE_ONE"
        Dot@63..64 "."
        EXPR_IDENT@64..69
          PATH@64..69
            Ident@64..69 "to_u8"
      ARG_LIST@69..71
        LParen@69..70 "("
        RParen@70..71 ")"
    Semi@71..72 ";"
    Whitespace@72..74 "\n\n"
  CONST@74..109
    ConstKeyword@74..79 "const"
    Whitespace@79..80 " "
    Ident@80..86 "LETTER"
    Colon@86..87 ":"
    Whitespace@87..88 " "
    TYPE_UINT32@88..92
      U32Keyword@88..91 "u32"
      Whitespace@91..92 " "
    Eq@92..93 "="
    Whitespace@93..94 " "
    EXPR_CALL@94..106
      EXPR_BINARY@94..104
        EXPR_CHAR@94..97
          CharLit@94..97 "'A'"
        Dot@97..98 "."
        EXPR_IDENT@98..104
          PATH@98..104
            Ident@98..104 "to_u32"
      ARG_LIST@104..106
        LParen@104..105 "("
        RParen@105..106 ")"
    Semi@106..107 ";"
    Whitespace@107..109 "\n\n"
  FN@109..188
    ATTRIBUTE_LIST@109..121
      ATTRIBUTE@109..121
        Pound@109..110 "#"
        LBracket@110..111 "["
        Ident@111..119 "comptime"
        RBracket@119..120 "]"
        Whitespace@120..121 "\n"
    FnKeyword@121..123 "fn"
    Whitespace@123..124 " "
    Ident@124..146 "narrow_at_compile_time"
    PARAM_LIST@146..159
      LParen@146..147 "("
      PARAM@147..157
        Ident@147..152 "value"
        Colon@152..153 ":"
        Whitespace@153..154 " "
        TYPE_INT16@154..157
          I16Keyword@154..157 "i16"
      RParen@157..158 ")"
      Whitespace@158..159 " "
    Arrow@159..161 "->"
    Whitespace@161..162 " "
    TYPE_UINT8@162..165
      U8Keyword@162..164 "u8"
      Whitespace@164..165 " "
    BLOCK@165..188
      LBrace@165..166 "{"
      Whitespace@166..171 "\n    "
      EXPR_CALL@171..185
        EXPR_BINARY@171..182
          EXPR_IDENT@171..176
            PATH@171..176
              Ident@171..176 "value"
          Dot@176..177 "."
          EXPR_IDENT@177..182
            PATH@177..182
              Ident@177..182 "to_u8"
        ARG_LIST@182..185
          LParen@182..183 "("
          RParen@183..184 ")"
          Whitespace@184..185 "\n"
      RBrace@185..186 "}"
      Whitespace@186..188 "\n\n"
  FN@188..528
    FnKeyword@188..190 "fn"
    Whitespace@190..191 " "
    Ident@191..203 "exercise_int"
    PARAM_LIST@203..218
      LParen@203..204 "("
      PARAM@204..216
        Ident@204..209 "value"
        Colon@209..210 ":"
        Whitespace@210..211 " "
        TYPE_INT@211..216
          IsizeKeyword@211..216 "isize"
      RParen@216..217 ")"
      Whitespace@217..218 " "
    Arrow@218..220 "->"
    Whitespace@220..221 " "
    TYPE_UNIT@221..226
      UnitKeyword@221..225 "unit"
      Whitespace@225..226 " "
    BLOCK@226..528
      LBrace@226..227 "{"
      Whitespace@227..232 "\n    "
      STMT_LET@232..263
        LetKeyword@232..235 "let"
        Whitespace@235..236 " "
        PATTERN_WILDCARD@236..237
          WildcardKeyword@236..237 "_"
        Colon@237..238 ":"
        Whitespace@238..239 " "
        TYPE_INT8@239..242
          I8Keyword@239..241 "i8"
          Whitespace@241..242 " "
        Eq@242..243 "="
        Whitespace@243..244 " "
        EXPR_CALL@244..257
          EXPR_BINARY@244..255
            EXPR_IDENT@244..249
              PATH@244..249
                Ident@244..249 "value"
            Dot@249..250 "."
            EXPR_IDENT@250..255
              PATH@250..255
                Ident@250..255 "to_i8"
          ARG_LIST@255..257
            LParen@255..256 "("
            RParen@256..257 ")"
        Semi@257..258 ";"
        Whitespace@258..263 "\n    "
      STMT_LET@263..296
        LetKeyword@263..266 "let"
        Whitespace@266..267 " "
        PATTERN_WILDCARD@267..268
          WildcardKeyword@267..268 "_"
        Colon@268..269 ":"
        Whitespace@269..270 " "
        TYPE_INT16@270..274
          I16Keyword@270..273 "i16"
          Whitespace@273..274 " "
        Eq@274..275 "="
        Whitespace@275..276 " "
        EXPR_CALL@276..290
          EXPR_BINARY@276..288
            EXPR_IDENT@276..281
              PATH@276..281
                Ident@276..281 "value"
            Dot@281..282 "."
            EXPR_IDENT@282..288
              PATH@282..288
                Ident@282..288 "to_i16"
          ARG_LIST@288..290
            LParen@288..289 "("
            RParen@289..290 ")"
        Semi@290..291 ";"
        Whitespace@291..296 "\n    "
      STMT_LET@296..329
        LetKeyword@296..299 "let"
        Whitespace@299..300 " "
        PATTERN_WILDCARD@300..301
          WildcardKeyword@300..301 "_"
        Colon@301..302 ":"
        Whitespace@302..303 " "
        TYPE_INT32@303..307
          I32Keyword@303..306 "i32"
          Whitespace@306..307 " "
        Eq@307..308 "="
        Whitespace@308..309 " "
        EXPR_CALL@309..323
          EXPR_BINARY@309..321
            EXPR_IDENT@309..314
              PATH@309..314
                Ident@309..314 "value"
            Dot@314..315 "."
            EXPR_IDENT@315..321
              PATH@315..321
                Ident@315..321 "to_i32"
          ARG_LIST@321..323
            LParen@321..322 "("
            RParen@322..323 ")"
        Semi@323..324 ";"
        Whitespace@324..329 "\n    "
      STMT_LET@329..362
        LetKeyword@329..332 "let"
        Whitespace@332..333 " "
        PATTERN_WILDCARD@333..334
          WildcardKeyword@333..334 "_"
        Colon@334..335 ":"
        Whitespace@335..336 " "
        TYPE_INT64@336..340
          I64Keyword@336..339 "i64"
          Whitespace@339..340 " "
        Eq@340..341 "="
        Whitespace@341..342 " "
        EXPR_CALL@342..356
          EXPR_BINARY@342..354
            EXPR_IDENT@342..347
              PATH@342..347
                Ident@342..347 "value"
            Dot@347..348 "."
            EXPR_IDENT@348..354
              PATH@348..354
                Ident@348..354 "to_i64"
          ARG_LIST@354..356
            LParen@354..355 "("
            RParen@355..356 ")"
        Semi@356..357 ";"
        Whitespace@357..362 "\n    "
      STMT_LET@362..399
        LetKeyword@362..365 "let"
        Whitespace@365..366 " "
        PATTERN_WILDCARD@366..367
          WildcardKeyword@366..367 "_"
        Colon@367..368 ":"
        Whitespace@368..369 " "
        TYPE_UINT@369..375
          UsizeKeyword@369..374 "usize"
          Whitespace@374..375 " "
        Eq@375..376 "="
        Whitespace@376..377 " "
        EXPR_CALL@377..393
          EXPR_BINARY@377..391
            EXPR_IDENT@377..382
              PATH@377..382
                Ident@377..382 "value"
            Dot@382..383 "."
            EXPR_IDENT@383..391
              PATH@383..391
                Ident@383..391 "to_usize"
          ARG_LIST@391..393
            LParen@391..392 "("
            RParen@392..393 ")"
        Semi@393..394 ";"
        Whitespace@394..399 "\n    "
      STMT_LET@399..430
        LetKeyword@399..402 "let"
        Whitespace@402..403 " "
        PATTERN_WILDCARD@403..404
          WildcardKeyword@403..404 "_"
        Colon@404..405 ":"
        Whitespace@405..406 " "
        TYPE_UINT8@406..409
          U8Keyword@406..408 "u8"
          Whitespace@408..409 " "
        Eq@409..410 "="
        Whitespace@410..411 " "
        EXPR_CALL@411..424
          EXPR_BINARY@411..422
            EXPR_IDENT@411..416
              PATH@411..416
                Ident@411..416 "value"
            Dot@416..417 "."
            EXPR_IDENT@417..422
              PATH@417..422
                Ident@417..422 "to_u8"
          ARG_LIST@422..424
            LParen@422..423 "("
            RParen@423..424 ")"
        Semi@424..425 ";"
        Whitespace@425..430 "\n    "
      STMT_LET@430..463
        LetKeyword@430..433 "let"
        Whitespace@433..434 " "
        PATTERN_WILDCARD@434..435
          WildcardKeyword@434..435 "_"
        Colon@435..436 ":"
        Whitespace@436..437 " "
        TYPE_UINT16@437..441
          U16Keyword@437..440 "u16"
          Whitespace@440..441 " "
        Eq@441..442 "="
        Whitespace@442..443 " "
        EXPR_CALL@443..457
          EXPR_BINARY@443..455
            EXPR_IDENT@443..448
              PATH@443..448
                Ident@443..448 "value"
            Dot@448..449 "."
            EXPR_IDENT@449..455
              PATH@449..455
                Ident@449..455 "to_u16"
          ARG_LIST@455..457
            LParen@455..456 "("
            RParen@456..457 ")"
        Semi@457..458 ";"
        Whitespace@458..463 "\n    "
      STMT_LET@463..496
        LetKeyword@463..466 "let"
        Whitespace@466..467 " "
        PATTERN_WILDCARD@467..468
          WildcardKeyword@467..468 "_"
        Colon@468..469 ":"
        Whitespace@469..470 " "
        TYPE_UINT32@470..474
          U32Keyword@470..473 "u32"
          Whitespace@473..474 " "
        Eq@474..475 "="
        Whitespace@475..476 " "
        EXPR_CALL@476..490
          EXPR_BINARY@476..488
            EXPR_IDENT@476..481
              PATH@476..481
                Ident@476..481 "value"
            Dot@481..482 "."
            EXPR_IDENT@482..488
              PATH@482..488
                Ident@482..488 "to_u32"
          ARG_LIST@488..490
            LParen@488..489 "("
            RParen@489..490 ")"
        Semi@490..491 ";"
        Whitespace@491..496 "\n    "
      STMT_LET@496..525
        LetKeyword@496..499 "let"
        Whitespace@499..500 " "
        PATTERN_WILDCARD@500..501
          WildcardKeyword@500..501 "_"
        Colon@501..502 ":"
        Whitespace@502..503 " "
        TYPE_UINT64@503..507
          U64Keyword@503..506 "u64"
          Whitespace@506..507 " "
        Eq@507..508 "="
        Whitespace@508..509 " "
        EXPR_CALL@509..523
          EXPR_BINARY@509..521
            EXPR_IDENT@509..514
              PATH@509..514
                Ident@509..514 "value"
            Dot@514..515 "."
            EXPR_IDENT@515..521
              PATH@515..521
                Ident@515..521 "to_u64"
          ARG_LIST@521..523
            LParen@521..522 "("
            RParen@522..523 ")"
        Semi@523..524 ";"
        Whitespace@524..525 "\n"
      RBrace@525..526 "}"
      Whitespace@526..528 "\n\n"
  FN@528..872
    FnKeyword@528..530 "fn"
    Whitespace@530..531 " "
    Ident@531..544 "exercise_int8"
    PARAM_LIST@544..556
      LParen@544..545 "("
      PARAM@545..554
        Ident@545..550 "value"
        Colon@550..551 ":"
        Whitespace@551..552 " "
        TYPE_INT8@552..554
          I8Keyword@552..554 "i8"
      RParen@554..555 ")"
      Whitespace@555..556 " "
    Arrow@556..558 "->"
    Whitespace@558..559 " "
    TYPE_UNIT@559..564
      UnitKeyword@559..563 "unit"
      Whitespace@563..564 " "
    BLOCK@564..872
      LBrace@564..565 "{"
      Whitespace@565..570 "\n    "
      STMT_LET@570..607
        LetKeyword@570..573 "let"
        Whitespace@573..574 " "
        PATTERN_WILDCARD@574..575
          WildcardKeyword@574..575 "_"
        Colon@575..576 ":"
        Whitespace@576..577 " "
        TYPE_INT@577..583
          IsizeKeyword@577..582 "isize"
          Whitespace@582..583 " "
        Eq@583..584 "="
        Whitespace@584..585 " "
        EXPR_CALL@585..601
          EXPR_BINARY@585..599
            EXPR_IDENT@585..590
              PATH@585..590
                Ident@585..590 "value"
            Dot@590..591 "."
            EXPR_IDENT@591..599
              PATH@591..599
                Ident@591..599 "to_isize"
          ARG_LIST@599..601
            LParen@599..600 "("
            RParen@600..601 ")"
        Semi@601..602 ";"
        Whitespace@602..607 "\n    "
      STMT_LET@607..640
        LetKeyword@607..610 "let"
        Whitespace@610..611 " "
        PATTERN_WILDCARD@611..612
          WildcardKeyword@611..612 "_"
        Colon@612..613 ":"
        Whitespace@613..614 " "
        TYPE_INT16@614..618
          I16Keyword@614..617 "i16"
          Whitespace@617..618 " "
        Eq@618..619 "="
        Whitespace@619..620 " "
        EXPR_CALL@620..634
          EXPR_BINARY@620..632
            EXPR_IDENT@620..625
              PATH@620..625
                Ident@620..625 "value"
            Dot@625..626 "."
            EXPR_IDENT@626..632
              PATH@626..632
                Ident@626..632 "to_i16"
          ARG_LIST@632..634
            LParen@632..633 "("
            RParen@633..634 ")"
        Semi@634..635 ";"
        Whitespace@635..640 "\n    "
      STMT_LET@640..673
        LetKeyword@640..643 "let"
        Whitespace@643..644 " "
        PATTERN_WILDCARD@644..645
          WildcardKeyword@644..645 "_"
        Colon@645..646 ":"
        Whitespace@646..647 " "
        TYPE_INT32@647..651
          I32Keyword@647..650 "i32"
          Whitespace@650..651 " "
        Eq@651..652 "="
        Whitespace@652..653 " "
        EXPR_CALL@653..667
          EXPR_BINARY@653..665
            EXPR_IDENT@653..658
              PATH@653..658
                Ident@653..658 "value"
            Dot@658..659 "."
            EXPR_IDENT@659..665
              PATH@659..665
                Ident@659..665 "to_i32"
          ARG_LIST@665..667
            LParen@665..666 "("
            RParen@666..667 ")"
        Semi@667..668 ";"
        Whitespace@668..673 "\n    "
      STMT_LET@673..706
        LetKeyword@673..676 "let"
        Whitespace@676..677 " "
        PATTERN_WILDCARD@677..678
          WildcardKeyword@677..678 "_"
        Colon@678..679 ":"
        Whitespace@679..680 " "
        TYPE_INT64@680..684
          I64Keyword@680..683 "i64"
          Whitespace@683..684 " "
        Eq@684..685 "="
        Whitespace@685..686 " "
        EXPR_CALL@686..700
          EXPR_BINARY@686..698
            EXPR_IDENT@686..691
              PATH@686..691
                Ident@686..691 "value"
            Dot@691..692 "."
            EXPR_IDENT@692..698
              PATH@692..698
                Ident@692..698 "to_i64"
          ARG_LIST@698..700
            LParen@698..699 "("
            RParen@699..700 ")"
        Semi@700..701 ";"
        Whitespace@701..706 "\n    "
      STMT_LET@706..743
        LetKeyword@706..709 "let"
        Whitespace@709..710 " "
        PATTERN_WILDCARD@710..711
          WildcardKeyword@710..711 "_"
        Colon@711..712 ":"
        Whitespace@712..713 " "
        TYPE_UINT@713..719
          UsizeKeyword@713..718 "usize"
          Whitespace@718..719 " "
        Eq@719..720 "="
        Whitespace@720..721 " "
        EXPR_CALL@721..737
          EXPR_BINARY@721..735
            EXPR_IDENT@721..726
              PATH@721..726
                Ident@721..726 "value"
            Dot@726..727 "."
            EXPR_IDENT@727..735
              PATH@727..735
                Ident@727..735 "to_usize"
          ARG_LIST@735..737
            LParen@735..736 "("
            RParen@736..737 ")"
        Semi@737..738 ";"
        Whitespace@738..743 "\n    "
      STMT_LET@743..774
        LetKeyword@743..746 "let"
        Whitespace@746..747 " "
        PATTERN_WILDCARD@747..748
          WildcardKeyword@747..748 "_"
        Colon@748..749 ":"
        Whitespace@749..750 " "
        TYPE_UINT8@750..753
          U8Keyword@750..752 "u8"
          Whitespace@752..753 " "
        Eq@753..754 "="
        Whitespace@754..755 " "
        EXPR_CALL@755..768
          EXPR_BINARY@755..766
            EXPR_IDENT@755..760
              PATH@755..760
                Ident@755..760 "value"
            Dot@760..761 "."
            EXPR_IDENT@761..766
              PATH@761..766
                Ident@761..766 "to_u8"
          ARG_LIST@766..768
            LParen@766..767 "("
            RParen@767..768 ")"
        Semi@768..769 ";"
        Whitespace@769..774 "\n    "
      STMT_LET@774..807
        LetKeyword@774..777 "let"
        Whitespace@777..778 " "
        PATTERN_WILDCARD@778..779
          WildcardKeyword@778..779 "_"
        Colon@779..780 ":"
        Whitespace@780..781 " "
        TYPE_UINT16@781..785
          U16Keyword@781..784 "u16"
          Whitespace@784..785 " "
        Eq@785..786 "="
        Whitespace@786..787 " "
        EXPR_CALL@787..801
          EXPR_BINARY@787..799
            EXPR_IDENT@787..792
              PATH@787..792
                Ident@787..792 "value"
            Dot@792..793 "."
            EXPR_IDENT@793..799
              PATH@793..799
                Ident@793..799 "to_u16"
          ARG_LIST@799..801
            LParen@799..800 "("
            RParen@800..801 ")"
        Semi@801..802 ";"
        Whitespace@802..807 "\n    "
      STMT_LET@807..840
        LetKeyword@807..810 "let"
        Whitespace@810..811 " "
        PATTERN_WILDCARD@811..812
          WildcardKeyword@811..812 "_"
        Colon@812..813 ":"
        Whitespace@813..814 " "
        TYPE_UINT32@814..818
          U32Keyword@814..817 "u32"
          Whitespace@817..818 " "
        Eq@818..819 "="
        Whitespace@819..820 " "
        EXPR_CALL@820..834
          EXPR_BINARY@820..832
            EXPR_IDENT@820..825
              PATH@820..825
                Ident@820..825 "value"
            Dot@825..826 "."
            EXPR_IDENT@826..832
              PATH@826..832
                Ident@826..832 "to_u32"
          ARG_LIST@832..834
            LParen@832..833 "("
            RParen@833..834 ")"
        Semi@834..835 ";"
        Whitespace@835..840 "\n    "
      STMT_LET@840..869
        LetKeyword@840..843 "let"
        Whitespace@843..844 " "
        PATTERN_WILDCARD@844..845
          WildcardKeyword@844..845 "_"
        Colon@845..846 ":"
        Whitespace@846..847 " "
        TYPE_UINT64@847..851
          U64Keyword@847..850 "u64"
          Whitespace@850..851 " "
        Eq@851..852 "="
        Whitespace@852..853 " "
        EXPR_CALL@853..867
          EXPR_BINARY@853..865
            EXPR_IDENT@853..858
              PATH@853..858
                Ident@853..858 "value"
            Dot@858..859 "."
            EXPR_IDENT@859..865
              PATH@859..865
                Ident@859..865 "to_u64"
          ARG_LIST@865..867
            LParen@865..866 "("
            RParen@866..867 ")"
        Semi@867..868 ";"
        Whitespace@868..869 "\n"
      RBrace@869..870 "}"
      Whitespace@870..872 "\n\n"
  FN@872..1216
    FnKeyword@872..874 "fn"
    Whitespace@874..875 " "
    Ident@875..889 "exercise_int16"
    PARAM_LIST@889..902
      LParen@889..890 "("
      PARAM@890..900
        Ident@890..895 "value"
        Colon@895..896 ":"
        Whitespace@896..897 " "
        TYPE_INT16@897..900
          I16Keyword@897..900 "i16"
      RParen@900..901 ")"
      Whitespace@901..902 " "
    Arrow@902..904 "->"
    Whitespace@904..905 " "
    TYPE_UNIT@905..910
      UnitKeyword@905..909 "unit"
      Whitespace@909..910 " "
    BLOCK@910..1216
      LBrace@910..911 "{"
      Whitespace@911..916 "\n    "
      STMT_LET@916..953
        LetKeyword@916..919 "let"
        Whitespace@919..920 " "
        PATTERN_WILDCARD@920..921
          WildcardKeyword@920..921 "_"
        Colon@921..922 ":"
        Whitespace@922..923 " "
        TYPE_INT@923..929
          IsizeKeyword@923..928 "isize"
          Whitespace@928..929 " "
        Eq@929..930 "="
        Whitespace@930..931 " "
        EXPR_CALL@931..947
          EXPR_BINARY@931..945
            EXPR_IDENT@931..936
              PATH@931..936
                Ident@931..936 "value"
            Dot@936..937 "."
            EXPR_IDENT@937..945
              PATH@937..945
                Ident@937..945 "to_isize"
          ARG_LIST@945..947
            LParen@945..946 "("
            RParen@946..947 ")"
        Semi@947..948 ";"
        Whitespace@948..953 "\n    "
      STMT_LET@953..984
        LetKeyword@953..956 "let"
        Whitespace@956..957 " "
        PATTERN_WILDCARD@957..958
          WildcardKeyword@957..958 "_"
        Colon@958..959 ":"
        Whitespace@959..960 " "
        TYPE_INT8@960..963
          I8Keyword@960..962 "i8"
          Whitespace@962..963 " "
        Eq@963..964 "="
        Whitespace@964..965 " "
        EXPR_CALL@965..978
          EXPR_BINARY@965..976
            EXPR_IDENT@965..970
              PATH@965..970
                Ident@965..970 "value"
            Dot@970..971 "."
            EXPR_IDENT@971..976
              PATH@971..976
                Ident@971..976 "to_i8"
          ARG_LIST@976..978
            LParen@976..977 "("
            RParen@977..978 ")"
        Semi@978..979 ";"
        Whitespace@979..984 "\n    "
      STMT_LET@984..1017
        LetKeyword@984..987 "let"
        Whitespace@987..988 " "
        PATTERN_WILDCARD@988..989
          WildcardKeyword@988..989 "_"
        Colon@989..990 ":"
        Whitespace@990..991 " "
        TYPE_INT32@991..995
          I32Keyword@991..994 "i32"
          Whitespace@994..995 " "
        Eq@995..996 "="
        Whitespace@996..997 " "
        EXPR_CALL@997..1011
          EXPR_BINARY@997..1009
            EXPR_IDENT@997..1002
              PATH@997..1002
                Ident@997..1002 "value"
            Dot@1002..1003 "."
            EXPR_IDENT@1003..1009
              PATH@1003..1009
                Ident@1003..1009 "to_i32"
          ARG_LIST@1009..1011
            LParen@1009..1010 "("
            RParen@1010..1011 ")"
        Semi@1011..1012 ";"
        Whitespace@1012..1017 "\n    "
      STMT_LET@1017..1050
        LetKeyword@1017..1020 "let"
        Whitespace@1020..1021 " "
        PATTERN_WILDCARD@1021..1022
          WildcardKeyword@1021..1022 "_"
        Colon@1022..1023 ":"
        Whitespace@1023..1024 " "
        TYPE_INT64@1024..1028
          I64Keyword@1024..1027 "i64"
          Whitespace@1027..1028 " "
        Eq@1028..1029 "="
        Whitespace@1029..1030 " "
        EXPR_CALL@1030..1044
          EXPR_BINARY@1030..1042
            EXPR_IDENT@1030..1035
              PATH@1030..1035
                Ident@1030..1035 "value"
            Dot@1035..1036 "."
            EXPR_IDENT@1036..1042
              PATH@1036..1042
                Ident@1036..1042 "to_i64"
          ARG_LIST@1042..1044
            LParen@1042..1043 "("
            RParen@1043..1044 ")"
        Semi@1044..1045 ";"
        Whitespace@1045..1050 "\n    "
      STMT_LET@1050..1087
        LetKeyword@1050..1053 "let"
        Whitespace@1053..1054 " "
        PATTERN_WILDCARD@1054..1055
          WildcardKeyword@1054..1055 "_"
        Colon@1055..1056 ":"
        Whitespace@1056..1057 " "
        TYPE_UINT@1057..1063
          UsizeKeyword@1057..1062 "usize"
          Whitespace@1062..1063 " "
        Eq@1063..1064 "="
        Whitespace@1064..1065 " "
        EXPR_CALL@1065..1081
          EXPR_BINARY@1065..1079
            EXPR_IDENT@1065..1070
              PATH@1065..1070
                Ident@1065..1070 "value"
            Dot@1070..1071 "."
            EXPR_IDENT@1071..1079
              PATH@1071..1079
                Ident@1071..1079 "to_usize"
          ARG_LIST@1079..1081
            LParen@1079..1080 "("
            RParen@1080..1081 ")"
        Semi@1081..1082 ";"
        Whitespace@1082..1087 "\n    "
      STMT_LET@1087..1118
        LetKeyword@1087..1090 "let"
        Whitespace@1090..1091 " "
        PATTERN_WILDCARD@1091..1092
          WildcardKeyword@1091..1092 "_"
        Colon@1092..1093 ":"
        Whitespace@1093..1094 " "
        TYPE_UINT8@1094..1097
          U8Keyword@1094..1096 "u8"
          Whitespace@1096..1097 " "
        Eq@1097..1098 "="
        Whitespace@1098..1099 " "
        EXPR_CALL@1099..1112
          EXPR_BINARY@1099..1110
            EXPR_IDENT@1099..1104
              PATH@1099..1104
                Ident@1099..1104 "value"
            Dot@1104..1105 "."
            EXPR_IDENT@1105..1110
              PATH@1105..1110
                Ident@1105..1110 "to_u8"
          ARG_LIST@1110..1112
            LParen@1110..1111 "("
            RParen@1111..1112 ")"
        Semi@1112..1113 ";"
        Whitespace@1113..1118 "\n    "
      STMT_LET@1118..1151
        LetKeyword@1118..1121 "let"
        Whitespace@1121..1122 " "
        PATTERN_WILDCARD@1122..1123
          WildcardKeyword@1122..1123 "_"
        Colon@1123..1124 ":"
        Whitespace@1124..1125 " "
        TYPE_UINT16@1125..1129
          U16Keyword@1125..1128 "u16"
          Whitespace@1128..1129 " "
        Eq@1129..1130 "="
        Whitespace@1130..1131 " "
        EXPR_CALL@1131..1145
          EXPR_BINARY@1131..1143
            EXPR_IDENT@1131..1136
              PATH@1131..1136
                Ident@1131..1136 "value"
            Dot@1136..1137 "."
            EXPR_IDENT@1137..1143
              PATH@1137..1143
                Ident@1137..1143 "to_u16"
          ARG_LIST@1143..1145
            LParen@1143..1144 "("
            RParen@1144..1145 ")"
        Semi@1145..1146 ";"
        Whitespace@1146..1151 "\n    "
      STMT_LET@1151..1184
        LetKeyword@1151..1154 "let"
        Whitespace@1154..1155 " "
        PATTERN_WILDCARD@1155..1156
          WildcardKeyword@1155..1156 "_"
        Colon@1156..1157 ":"
        Whitespace@1157..1158 " "
        TYPE_UINT32@1158..1162
          U32Keyword@1158..1161 "u32"
          Whitespace@1161..1162 " "
        Eq@1162..1163 "="
        Whitespace@1163..1164 " "
        EXPR_CALL@1164..1178
          EXPR_BINARY@1164..1176
            EXPR_IDENT@1164..1169
              PATH@1164..1169
                Ident@1164..1169 "value"
            Dot@1169..1170 "."
            EXPR_IDENT@1170..1176
              PATH@1170..1176
                Ident@1170..1176 "to_u32"
          ARG_LIST@1176..1178
            LParen@1176..1177 "("
            RParen@1177..1178 ")"
        Semi@1178..1179 ";"
        Whitespace@1179..1184 "\n    "
      STMT_LET@1184..1213
        LetKeyword@1184..1187 "let"
        Whitespace@1187..1188 " "
        PATTERN_WILDCARD@1188..1189
          WildcardKeyword@1188..1189 "_"
        Colon@1189..1190 ":"
        Whitespace@1190..1191 " "
        TYPE_UINT64@1191..1195
          U64Keyword@1191..1194 "u64"
          Whitespace@1194..1195 " "
        Eq@1195..1196 "="
        Whitespace@1196..1197 " "
        EXPR_CALL@1197..1211
          EXPR_BINARY@1197..1209
            EXPR_IDENT@1197..1202
              PATH@1197..1202
                Ident@1197..1202 "value"
            Dot@1202..1203 "."
            EXPR_IDENT@1203..1209
              PATH@1203..1209
                Ident@1203..1209 "to_u64"
          ARG_LIST@1209..1211
            LParen@1209..1210 "("
            RParen@1210..1211 ")"
        Semi@1211..1212 ";"
        Whitespace@1212..1213 "\n"
      RBrace@1213..1214 "}"
      Whitespace@1214..1216 "\n\n"
  FN@1216..1560
    FnKeyword@1216..1218 "fn"
    Whitespace@1218..1219 " "
    Ident@1219..1233 "exercise_int32"
    PARAM_LIST@1233..1246
      LParen@1233..1234 "("
      PARAM@1234..1244
        Ident@1234..1239 "value"
        Colon@1239..1240 ":"
        Whitespace@1240..1241 " "
        TYPE_INT32@1241..1244
          I32Keyword@1241..1244 "i32"
      RParen@1244..1245 ")"
      Whitespace@1245..1246 " "
    Arrow@1246..1248 "->"
    Whitespace@1248..1249 " "
    TYPE_UNIT@1249..1254
      UnitKeyword@1249..1253 "unit"
      Whitespace@1253..1254 " "
    BLOCK@1254..1560
      LBrace@1254..1255 "{"
      Whitespace@1255..1260 "\n    "
      STMT_LET@1260..1297
        LetKeyword@1260..1263 "let"
        Whitespace@1263..1264 " "
        PATTERN_WILDCARD@1264..1265
          WildcardKeyword@1264..1265 "_"
        Colon@1265..1266 ":"
        Whitespace@1266..1267 " "
        TYPE_INT@1267..1273
          IsizeKeyword@1267..1272 "isize"
          Whitespace@1272..1273 " "
        Eq@1273..1274 "="
        Whitespace@1274..1275 " "
        EXPR_CALL@1275..1291
          EXPR_BINARY@1275..1289
            EXPR_IDENT@1275..1280
              PATH@1275..1280
                Ident@1275..1280 "value"
            Dot@1280..1281 "."
            EXPR_IDENT@1281..1289
              PATH@1281..1289
                Ident@1281..1289 "to_isize"
          ARG_LIST@1289..1291
            LParen@1289..1290 "("
            RParen@1290..1291 ")"
        Semi@1291..1292 ";"
        Whitespace@1292..1297 "\n    "
      STMT_LET@1297..1328
        LetKeyword@1297..1300 "let"
        Whitespace@1300..1301 " "
        PATTERN_WILDCARD@1301..1302
          WildcardKeyword@1301..1302 "_"
        Colon@1302..1303 ":"
        Whitespace@1303..1304 " "
        TYPE_INT8@1304..1307
          I8Keyword@1304..1306 "i8"
          Whitespace@1306..1307 " "
        Eq@1307..1308 "="
        Whitespace@1308..1309 " "
        EXPR_CALL@1309..1322
          EXPR_BINARY@1309..1320
            EXPR_IDENT@1309..1314
              PATH@1309..1314
                Ident@1309..1314 "value"
            Dot@1314..1315 "."
            EXPR_IDENT@1315..1320
              PATH@1315..1320
                Ident@1315..1320 "to_i8"
          ARG_LIST@1320..1322
            LParen@1320..1321 "("
            RParen@1321..1322 ")"
        Semi@1322..1323 ";"
        Whitespace@1323..1328 "\n    "
      STMT_LET@1328..1361
        LetKeyword@1328..1331 "let"
        Whitespace@1331..1332 " "
        PATTERN_WILDCARD@1332..1333
          WildcardKeyword@1332..1333 "_"
        Colon@1333..1334 ":"
        Whitespace@1334..1335 " "
        TYPE_INT16@1335..1339
          I16Keyword@1335..1338 "i16"
          Whitespace@1338..1339 " "
        Eq@1339..1340 "="
        Whitespace@1340..1341 " "
        EXPR_CALL@1341..1355
          EXPR_BINARY@1341..1353
            EXPR_IDENT@1341..1346
              PATH@1341..1346
                Ident@1341..1346 "value"
            Dot@1346..1347 "."
            EXPR_IDENT@1347..1353
              PATH@1347..1353
                Ident@1347..1353 "to_i16"
          ARG_LIST@1353..1355
            LParen@1353..1354 "("
            RParen@1354..1355 ")"
        Semi@1355..1356 ";"
        Whitespace@1356..1361 "\n    "
      STMT_LET@1361..1394
        LetKeyword@1361..1364 "let"
        Whitespace@1364..1365 " "
        PATTERN_WILDCARD@1365..1366
          WildcardKeyword@1365..1366 "_"
        Colon@1366..1367 ":"
        Whitespace@1367..1368 " "
        TYPE_INT64@1368..1372
          I64Keyword@1368..1371 "i64"
          Whitespace@1371..1372 " "
        Eq@1372..1373 "="
        Whitespace@1373..1374 " "
        EXPR_CALL@1374..1388
          EXPR_BINARY@1374..1386
            EXPR_IDENT@1374..1379
              PATH@1374..1379
                Ident@1374..1379 "value"
            Dot@1379..1380 "."
            EXPR_IDENT@1380..1386
              PATH@1380..1386
                Ident@1380..1386 "to_i64"
          ARG_LIST@1386..1388
            LParen@1386..1387 "("
            RParen@1387..1388 ")"
        Semi@1388..1389 ";"
        Whitespace@1389..1394 "\n    "
      STMT_LET@1394..1431
        LetKeyword@1394..1397 "let"
        Whitespace@1397..1398 " "
        PATTERN_WILDCARD@1398..1399
          WildcardKeyword@1398..1399 "_"
        Colon@1399..1400 ":"
        Whitespace@1400..1401 " "
        TYPE_UINT@1401..1407
          UsizeKeyword@1401..1406 "usize"
          Whitespace@1406..1407 " "
        Eq@1407..1408 "="
        Whitespace@1408..1409 " "
        EXPR_CALL@1409..1425
          EXPR_BINARY@1409..1423
            EXPR_IDENT@1409..1414
              PATH@1409..1414
                Ident@1409..1414 "value"
            Dot@1414..1415 "."
            EXPR_IDENT@1415..1423
              PATH@1415..1423
                Ident@1415..1423 "to_usize"
          ARG_LIST@1423..1425
            LParen@1423..1424 "("
            RParen@1424..1425 ")"
        Semi@1425..1426 ";"
        Whitespace@1426..1431 "\n    "
      STMT_LET@1431..1462
        LetKeyword@1431..1434 "let"
        Whitespace@1434..1435 " "
        PATTERN_WILDCARD@1435..1436
          WildcardKeyword@1435..1436 "_"
        Colon@1436..1437 ":"
        Whitespace@1437..1438 " "
        TYPE_UINT8@1438..1441
          U8Keyword@1438..1440 "u8"
          Whitespace@1440..1441 " "
        Eq@1441..1442 "="
        Whitespace@1442..1443 " "
        EXPR_CALL@1443..1456
          EXPR_BINARY@1443..1454
            EXPR_IDENT@1443..1448
              PATH@1443..1448
                Ident@1443..1448 "value"
            Dot@1448..1449 "."
            EXPR_IDENT@1449..1454
              PATH@1449..1454
                Ident@1449..1454 "to_u8"
          ARG_LIST@1454..1456
            LParen@1454..1455 "("
            RParen@1455..1456 ")"
        Semi@1456..1457 ";"
        Whitespace@1457..1462 "\n    "
      STMT_LET@1462..1495
        LetKeyword@1462..1465 "let"
        Whitespace@1465..1466 " "
        PATTERN_WILDCARD@1466..1467
          WildcardKeyword@1466..1467 "_"
        Colon@1467..1468 ":"
        Whitespace@1468..1469 " "
        TYPE_UINT16@1469..1473
          U16Keyword@1469..1472 "u16"
          Whitespace@1472..1473 " "
        Eq@1473..1474 "="
        Whitespace@1474..1475 " "
        EXPR_CALL@1475..1489
          EXPR_BINARY@1475..1487
            EXPR_IDENT@1475..1480
              PATH@1475..1480
                Ident@1475..1480 "value"
            Dot@1480..1481 "."
            EXPR_IDENT@1481..1487
              PATH@1481..1487
                Ident@1481..1487 "to_u16"
          ARG_LIST@1487..1489
            LParen@1487..1488 "("
            RParen@1488..1489 ")"
        Semi@1489..1490 ";"
        Whitespace@1490..1495 "\n    "
      STMT_LET@1495..1528
        LetKeyword@1495..1498 "let"
        Whitespace@1498..1499 " "
        PATTERN_WILDCARD@1499..1500
          WildcardKeyword@1499..1500 "_"
        Colon@1500..1501 ":"
        Whitespace@1501..1502 " "
        TYPE_UINT32@1502..1506
          U32Keyword@1502..1505 "u32"
          Whitespace@1505..1506 " "
        Eq@1506..1507 "="
        Whitespace@1507..1508 " "
        EXPR_CALL@1508..1522
          EXPR_BINARY@1508..1520
            EXPR_IDENT@1508..1513
              PATH@1508..1513
                Ident@1508..1513 "value"
            Dot@1513..1514 "."
            EXPR_IDENT@1514..1520
              PATH@1514..1520
                Ident@1514..1520 "to_u32"
          ARG_LIST@1520..1522
            LParen@1520..1521 "("
            RParen@1521..1522 ")"
        Semi@1522..1523 ";"
        Whitespace@1523..1528 "\n    "
      STMT_LET@1528..1557
        LetKeyword@1528..1531 "let"
        Whitespace@1531..1532 " "
        PATTERN_WILDCARD@1532..1533
          WildcardKeyword@1532..1533 "_"
        Colon@1533..1534 ":"
        Whitespace@1534..1535 " "
        TYPE_UINT64@1535..1539
          U64Keyword@1535..1538 "u64"
          Whitespace@1538..1539 " "
        Eq@1539..1540 "="
        Whitespace@1540..1541 " "
        EXPR_CALL@1541..1555
          EXPR_BINARY@1541..1553
            EXPR_IDENT@1541..1546
              PATH@1541..1546
                Ident@1541..1546 "value"
            Dot@1546..1547 "."
            EXPR_IDENT@1547..1553
              PATH@1547..1553
                Ident@1547..1553 "to_u64"
          ARG_LIST@1553..1555
            LParen@1553..1554 "("
            RParen@1554..1555 ")"
        Semi@1555..1556 ";"
        Whitespace@1556..1557 "\n"
      RBrace@1557..1558 "}"
      Whitespace@1558..1560 "\n\n"
  FN@1560..1904
    FnKeyword@1560..1562 "fn"
    Whitespace@1562..1563 " "
    Ident@1563..1577 "exercise_int64"
    PARAM_LIST@1577..1590
      LParen@1577..1578 "("
      PARAM@1578..1588
        Ident@1578..1583 "value"
        Colon@1583..1584 ":"
        Whitespace@1584..1585 " "
        TYPE_INT64@1585..1588
          I64Keyword@1585..1588 "i64"
      RParen@1588..1589 ")"
      Whitespace@1589..1590 " "
    Arrow@1590..1592 "->"
    Whitespace@1592..1593 " "
    TYPE_UNIT@1593..1598
      UnitKeyword@1593..1597 "unit"
      Whitespace@1597..1598 " "
    BLOCK@1598..1904
      LBrace@1598..1599 "{"
      Whitespace@1599..1604 "\n    "
      STMT_LET@1604..1641
        LetKeyword@1604..1607 "let"
        Whitespace@1607..1608 " "
        PATTERN_WILDCARD@1608..1609
          WildcardKeyword@1608..1609 "_"
        Colon@1609..1610 ":"
        Whitespace@1610..1611 " "
        TYPE_INT@1611..1617
          IsizeKeyword@1611..1616 "isize"
          Whitespace@1616..1617 " "
        Eq@1617..1618 "="
        Whitespace@1618..1619 " "
        EXPR_CALL@1619..1635
          EXPR_BINARY@1619..1633
            EXPR_IDENT@1619..1624
              PATH@1619..1624
                Ident@1619..1624 "value"
            Dot@1624..1625 "."
            EXPR_IDENT@1625..1633
              PATH@1625..1633
                Ident@1625..1633 "to_isize"
          ARG_LIST@1633..1635
            LParen@1633..1634 "("
            RParen@1634..1635 ")"
        Semi@1635..1636 ";"
        Whitespace@1636..1641 "\n    "
      STMT_LET@1641..1672
        LetKeyword@1641..1644 "let"
        Whitespace@1644..1645 " "
        PATTERN_WILDCARD@1645..1646
          WildcardKeyword@1645..1646 "_"
        Colon@1646..1647 ":"
        Whitespace@1647..1648 " "
        TYPE_INT8@1648..1651
          I8Keyword@1648..1650 "i8"
          Whitespace@1650..1651 " "
        Eq@1651..1652 "="
        Whitespace@1652..1653 " "
        EXPR_CALL@1653..1666
          EXPR_BINARY@1653..1664
            EXPR_IDENT@1653..1658
              PATH@1653..1658
                Ident@1653..1658 "value"
            Dot@1658..1659 "."
            EXPR_IDENT@1659..1664
              PATH@1659..1664
                Ident@1659..1664 "to_i8"
          ARG_LIST@1664..1666
            LParen@1664..1665 "("
            RParen@1665..1666 ")"
        Semi@1666..1667 ";"
        Whitespace@1667..1672 "\n    "
      STMT_LET@1672..1705
        LetKeyword@1672..1675 "let"
        Whitespace@1675..1676 " "
        PATTERN_WILDCARD@1676..1677
          WildcardKeyword@1676..1677 "_"
        Colon@1677..1678 ":"
        Whitespace@1678..1679 " "
        TYPE_INT16@1679..1683
          I16Keyword@1679..1682 "i16"
          Whitespace@1682..1683 " "
        Eq@1683..1684 "="
        Whitespace@1684..1685 " "
        EXPR_CALL@1685..1699
          EXPR_BINARY@1685..1697
            EXPR_IDENT@1685..1690
              PATH@1685..1690
                Ident@1685..1690 "value"
            Dot@1690..1691 "."
            EXPR_IDENT@1691..1697
              PATH@1691..1697
                Ident@1691..1697 "to_i16"
          ARG_LIST@1697..1699
            LParen@1697..1698 "("
            RParen@1698..1699 ")"
        Semi@1699..1700 ";"
        Whitespace@1700..1705 "\n    "
      STMT_LET@1705..1738
        LetKeyword@1705..1708 "let"
        Whitespace@1708..1709 " "
        PATTERN_WILDCARD@1709..1710
          WildcardKeyword@1709..1710 "_"
        Colon@1710..1711 ":"
        Whitespace@1711..1712 " "
        TYPE_INT32@1712..1716
          I32Keyword@1712..1715 "i32"
          Whitespace@1715..1716 " "
        Eq@1716..1717 "="
        Whitespace@1717..1718 " "
        EXPR_CALL@1718..1732
          EXPR_BINARY@1718..1730
            EXPR_IDENT@1718..1723
              PATH@1718..1723
                Ident@1718..1723 "value"
            Dot@1723..1724 "."
            EXPR_IDENT@1724..1730
              PATH@1724..1730
                Ident@1724..1730 "to_i32"
          ARG_LIST@1730..1732
            LParen@1730..1731 "("
            RParen@1731..1732 ")"
        Semi@1732..1733 ";"
        Whitespace@1733..1738 "\n    "
      STMT_LET@1738..1775
        LetKeyword@1738..1741 "let"
        Whitespace@1741..1742 " "
        PATTERN_WILDCARD@1742..1743
          WildcardKeyword@1742..1743 "_"
        Colon@1743..1744 ":"
        Whitespace@1744..1745 " "
        TYPE_UINT@1745..1751
          UsizeKeyword@1745..1750 "usize"
          Whitespace@1750..1751 " "
        Eq@1751..1752 "="
        Whitespace@1752..1753 " "
        EXPR_CALL@1753..1769
          EXPR_BINARY@1753..1767
            EXPR_IDENT@1753..1758
              PATH@1753..1758
                Ident@1753..1758 "value"
            Dot@1758..1759 "."
            EXPR_IDENT@1759..1767
              PATH@1759..1767
                Ident@1759..1767 "to_usize"
          ARG_LIST@1767..1769
            LParen@1767..1768 "("
            RParen@1768..1769 ")"
        Semi@1769..1770 ";"
        Whitespace@1770..1775 "\n    "
      STMT_LET@1775..1806
        LetKeyword@1775..1778 "let"
        Whitespace@1778..1779 " "
        PATTERN_WILDCARD@1779..1780
          WildcardKeyword@1779..1780 "_"
        Colon@1780..1781 ":"
        Whitespace@1781..1782 " "
        TYPE_UINT8@1782..1785
          U8Keyword@1782..1784 "u8"
          Whitespace@1784..1785 " "
        Eq@1785..1786 "="
        Whitespace@1786..1787 " "
        EXPR_CALL@1787..1800
          EXPR_BINARY@1787..1798
            EXPR_IDENT@1787..1792
              PATH@1787..1792
                Ident@1787..1792 "value"
            Dot@1792..1793 "."
            EXPR_IDENT@1793..1798
              PATH@1793..1798
                Ident@1793..1798 "to_u8"
          ARG_LIST@1798..1800
            LParen@1798..1799 "("
            RParen@1799..1800 ")"
        Semi@1800..1801 ";"
        Whitespace@1801..1806 "\n    "
      STMT_LET@1806..1839
        LetKeyword@1806..1809 "let"
        Whitespace@1809..1810 " "
        PATTERN_WILDCARD@1810..1811
          WildcardKeyword@1810..1811 "_"
        Colon@1811..1812 ":"
        Whitespace@1812..1813 " "
        TYPE_UINT16@1813..1817
          U16Keyword@1813..1816 "u16"
          Whitespace@1816..1817 " "
        Eq@1817..1818 "="
        Whitespace@1818..1819 " "
        EXPR_CALL@1819..1833
          EXPR_BINARY@1819..1831
            EXPR_IDENT@1819..1824
              PATH@1819..1824
                Ident@1819..1824 "value"
            Dot@1824..1825 "."
            EXPR_IDENT@1825..1831
              PATH@1825..1831
                Ident@1825..1831 "to_u16"
          ARG_LIST@1831..1833
            LParen@1831..1832 "("
            RParen@1832..1833 ")"
        Semi@1833..1834 ";"
        Whitespace@1834..1839 "\n    "
      STMT_LET@1839..1872
        LetKeyword@1839..1842 "let"
        Whitespace@1842..1843 " "
        PATTERN_WILDCARD@1843..1844
          WildcardKeyword@1843..1844 "_"
        Colon@1844..1845 ":"
        Whitespace@1845..1846 " "
        TYPE_UINT32@1846..1850
          U32Keyword@1846..1849 "u32"
          Whitespace@1849..1850 " "
        Eq@1850..1851 "="
        Whitespace@1851..1852 " "
        EXPR_CALL@1852..1866
          EXPR_BINARY@1852..1864
            EXPR_IDENT@1852..1857
              PATH@1852..1857
                Ident@1852..1857 "value"
            Dot@1857..1858 "."
            EXPR_IDENT@1858..1864
              PATH@1858..1864
                Ident@1858..1864 "to_u32"
          ARG_LIST@1864..1866
            LParen@1864..1865 "("
            RParen@1865..1866 ")"
        Semi@1866..1867 ";"
        Whitespace@1867..1872 "\n    "
      STMT_LET@1872..1901
        LetKeyword@1872..1875 "let"
        Whitespace@1875..1876 " "
        PATTERN_WILDCARD@1876..1877
          WildcardKeyword@1876..1877 "_"
        Colon@1877..1878 ":"
        Whitespace@1878..1879 " "
        TYPE_UINT64@1879..1883
          U64Keyword@1879..1882 "u64"
          Whitespace@1882..1883 " "
        Eq@1883..1884 "="
        Whitespace@1884..1885 " "
        EXPR_CALL@1885..1899
          EXPR_BINARY@1885..1897
            EXPR_IDENT@1885..1890
              PATH@1885..1890
                Ident@1885..1890 "value"
            Dot@1890..1891 "."
            EXPR_IDENT@1891..1897
              PATH@1891..1897
                Ident@1891..1897 "to_u64"
          ARG_LIST@1897..1899
            LParen@1897..1898 "("
            RParen@1898..1899 ")"
        Semi@1899..1900 ";"
        Whitespace@1900..1901 "\n"
      RBrace@1901..1902 "}"
      Whitespace@1902..1904 "\n\n"
  FN@1904..2245
    FnKeyword@1904..1906 "fn"
    Whitespace@1906..1907 " "
    Ident@1907..1920 "exercise_uint"
    PARAM_LIST@1920..1935
      LParen@1920..1921 "("
      PARAM@1921..1933
        Ident@1921..1926 "value"
        Colon@1926..1927 ":"
        Whitespace@1927..1928 " "
        TYPE_UINT@1928..1933
          UsizeKeyword@1928..1933 "usize"
      RParen@1933..1934 ")"
      Whitespace@1934..1935 " "
    Arrow@1935..1937 "->"
    Whitespace@1937..1938 " "
    TYPE_UNIT@1938..1943
      UnitKeyword@1938..1942 "unit"
      Whitespace@1942..1943 " "
    BLOCK@1943..2245
      LBrace@1943..1944 "{"
      Whitespace@1944..1949 "\n    "
      STMT_LET@1949..1986
        LetKeyword@1949..1952 "let"
        Whitespace@1952..1953 " "
        PATTERN_WILDCARD@1953..1954
          WildcardKeyword@1953..1954 "_"
        Colon@1954..1955 ":"
        Whitespace@1955..1956 " "
        TYPE_INT@1956..1962
          IsizeKeyword@1956..1961 "isize"
          Whitespace@1961..1962 " "
        Eq@1962..1963 "="
        Whitespace@1963..1964 " "
        EXPR_CALL@1964..1980
          EXPR_BINARY@1964..1978
            EXPR_IDENT@1964..1969
              PATH@1964..1969
                Ident@1964..1969 "value"
            Dot@1969..1970 "."
            EXPR_IDENT@1970..1978
              PATH@1970..1978
                Ident@1970..1978 "to_isize"
          ARG_LIST@1978..1980
            LParen@1978..1979 "("
            RParen@1979..1980 ")"
        Semi@1980..1981 ";"
        Whitespace@1981..1986 "\n    "
      STMT_LET@1986..2017
        LetKeyword@1986..1989 "let"
        Whitespace@1989..1990 " "
        PATTERN_WILDCARD@1990..1991
          WildcardKeyword@1990..1991 "_"
        Colon@1991..1992 ":"
        Whitespace@1992..1993 " "
        TYPE_INT8@1993..1996
          I8Keyword@1993..1995 "i8"
          Whitespace@1995..1996 " "
        Eq@1996..1997 "="
        Whitespace@1997..1998 " "
        EXPR_CALL@1998..2011
          EXPR_BINARY@1998..2009
            EXPR_IDENT@1998..2003
              PATH@1998..2003
                Ident@1998..2003 "value"
            Dot@2003..2004 "."
            EXPR_IDENT@2004..2009
              PATH@2004..2009
                Ident@2004..2009 "to_i8"
          ARG_LIST@2009..2011
            LParen@2009..2010 "("
            RParen@2010..2011 ")"
        Semi@2011..2012 ";"
        Whitespace@2012..2017 "\n    "
      STMT_LET@2017..2050
        LetKeyword@2017..2020 "let"
        Whitespace@2020..2021 " "
        PATTERN_WILDCARD@2021..2022
          WildcardKeyword@2021..2022 "_"
        Colon@2022..2023 ":"
        Whitespace@2023..2024 " "
        TYPE_INT16@2024..2028
          I16Keyword@2024..2027 "i16"
          Whitespace@2027..2028 " "
        Eq@2028..2029 "="
        Whitespace@2029..2030 " "
        EXPR_CALL@2030..2044
          EXPR_BINARY@2030..2042
            EXPR_IDENT@2030..2035
              PATH@2030..2035
                Ident@2030..2035 "value"
            Dot@2035..2036 "."
            EXPR_IDENT@2036..2042
              PATH@2036..2042
                Ident@2036..2042 "to_i16"
          ARG_LIST@2042..2044
            LParen@2042..2043 "("
            RParen@2043..2044 ")"
        Semi@2044..2045 ";"
        Whitespace@2045..2050 "\n    "
      STMT_LET@2050..2083
        LetKeyword@2050..2053 "let"
        Whitespace@2053..2054 " "
        PATTERN_WILDCARD@2054..2055
          WildcardKeyword@2054..2055 "_"
        Colon@2055..2056 ":"
        Whitespace@2056..2057 " "
        TYPE_INT32@2057..2061
          I32Keyword@2057..2060 "i32"
          Whitespace@2060..2061 " "
        Eq@2061..2062 "="
        Whitespace@2062..2063 " "
        EXPR_CALL@2063..2077
          EXPR_BINARY@2063..2075
            EXPR_IDENT@2063..2068
              PATH@2063..2068
                Ident@2063..2068 "value"
            Dot@2068..2069 "."
            EXPR_IDENT@2069..2075
              PATH@2069..2075
                Ident@2069..2075 "to_i32"
          ARG_LIST@2075..2077
            LParen@2075..2076 "("
            RParen@2076..2077 ")"
        Semi@2077..2078 ";"
        Whitespace@2078..2083 "\n    "
      STMT_LET@2083..2116
        LetKeyword@2083..2086 "let"
        Whitespace@2086..2087 " "
        PATTERN_WILDCARD@2087..2088
          WildcardKeyword@2087..2088 "_"
        Colon@2088..2089 ":"
        Whitespace@2089..2090 " "
        TYPE_INT64@2090..2094
          I64Keyword@2090..2093 "i64"
          Whitespace@2093..2094 " "
        Eq@2094..2095 "="
        Whitespace@2095..2096 " "
        EXPR_CALL@2096..2110
          EXPR_BINARY@2096..2108
            EXPR_IDENT@2096..2101
              PATH@2096..2101
                Ident@2096..2101 "value"
            Dot@2101..2102 "."
            EXPR_IDENT@2102..2108
              PATH@2102..2108
                Ident@2102..2108 "to_i64"
          ARG_LIST@2108..2110
            LParen@2108..2109 "("
            RParen@2109..2110 ")"
        Semi@2110..2111 ";"
        Whitespace@2111..2116 "\n    "
      STMT_LET@2116..2147
        LetKeyword@2116..2119 "let"
        Whitespace@2119..2120 " "
        PATTERN_WILDCARD@2120..2121
          WildcardKeyword@2120..2121 "_"
        Colon@2121..2122 ":"
        Whitespace@2122..2123 " "
        TYPE_UINT8@2123..2126
          U8Keyword@2123..2125 "u8"
          Whitespace@2125..2126 " "
        Eq@2126..2127 "="
        Whitespace@2127..2128 " "
        EXPR_CALL@2128..2141
          EXPR_BINARY@2128..2139
            EXPR_IDENT@2128..2133
              PATH@2128..2133
                Ident@2128..2133 "value"
            Dot@2133..2134 "."
            EXPR_IDENT@2134..2139
              PATH@2134..2139
                Ident@2134..2139 "to_u8"
          ARG_LIST@2139..2141
            LParen@2139..2140 "("
            RParen@2140..2141 ")"
        Semi@2141..2142 ";"
        Whitespace@2142..2147 "\n    "
      STMT_LET@2147..2180
        LetKeyword@2147..2150 "let"
        Whitespace@2150..2151 " "
        PATTERN_WILDCARD@2151..2152
          WildcardKeyword@2151..2152 "_"
        Colon@2152..2153 ":"
        Whitespace@2153..2154 " "
        TYPE_UINT16@2154..2158
          U16Keyword@2154..2157 "u16"
          Whitespace@2157..2158 " "
        Eq@2158..2159 "="
        Whitespace@2159..2160 " "
        EXPR_CALL@2160..2174
          EXPR_BINARY@2160..2172
            EXPR_IDENT@2160..2165
              PATH@2160..2165
                Ident@2160..2165 "value"
            Dot@2165..2166 "."
            EXPR_IDENT@2166..2172
              PATH@2166..2172
                Ident@2166..2172 "to_u16"
          ARG_LIST@2172..2174
            LParen@2172..2173 "("
            RParen@2173..2174 ")"
        Semi@2174..2175 ";"
        Whitespace@2175..2180 "\n    "
      STMT_LET@2180..2213
        LetKeyword@2180..2183 "let"
        Whitespace@2183..2184 " "
        PATTERN_WILDCARD@2184..2185
          WildcardKeyword@2184..2185 "_"
        Colon@2185..2186 ":"
        Whitespace@2186..2187 " "
        TYPE_UINT32@2187..2191
          U32Keyword@2187..2190 "u32"
          Whitespace@2190..2191 " "
        Eq@2191..2192 "="
        Whitespace@2192..2193 " "
        EXPR_CALL@2193..2207
          EXPR_BINARY@2193..2205
            EXPR_IDENT@2193..2198
              PATH@2193..2198
                Ident@2193..2198 "value"
            Dot@2198..2199 "."
            EXPR_IDENT@2199..2205
              PATH@2199..2205
                Ident@2199..2205 "to_u32"
          ARG_LIST@2205..2207
            LParen@2205..2206 "("
            RParen@2206..2207 ")"
        Semi@2207..2208 ";"
        Whitespace@2208..2213 "\n    "
      STMT_LET@2213..2242
        LetKeyword@2213..2216 "let"
        Whitespace@2216..2217 " "
        PATTERN_WILDCARD@2217..2218
          WildcardKeyword@2217..2218 "_"
        Colon@2218..2219 ":"
        Whitespace@2219..2220 " "
        TYPE_UINT64@2220..2224
          U64Keyword@2220..2223 "u64"
          Whitespace@2223..2224 " "
        Eq@2224..2225 "="
        Whitespace@2225..2226 " "
        EXPR_CALL@2226..2240
          EXPR_BINARY@2226..2238
            EXPR_IDENT@2226..2231
              PATH@2226..2231
                Ident@2226..2231 "value"
            Dot@2231..2232 "."
            EXPR_IDENT@2232..2238
              PATH@2232..2238
                Ident@2232..2238 "to_u64"
          ARG_LIST@2238..2240
            LParen@2238..2239 "("
            RParen@2239..2240 ")"
        Semi@2240..2241 ";"
        Whitespace@2241..2242 "\n"
      RBrace@2242..2243 "}"
      Whitespace@2243..2245 "\n\n"
  FN@2245..2590
    FnKeyword@2245..2247 "fn"
    Whitespace@2247..2248 " "
    Ident@2248..2262 "exercise_uint8"
    PARAM_LIST@2262..2274
      LParen@2262..2263 "("
      PARAM@2263..2272
        Ident@2263..2268 "value"
        Colon@2268..2269 ":"
        Whitespace@2269..2270 " "
        TYPE_UINT8@2270..2272
          U8Keyword@2270..2272 "u8"
      RParen@2272..2273 ")"
      Whitespace@2273..2274 " "
    Arrow@2274..2276 "->"
    Whitespace@2276..2277 " "
    TYPE_UNIT@2277..2282
      UnitKeyword@2277..2281 "unit"
      Whitespace@2281..2282 " "
    BLOCK@2282..2590
      LBrace@2282..2283 "{"
      Whitespace@2283..2288 "\n    "
      STMT_LET@2288..2325
        LetKeyword@2288..2291 "let"
        Whitespace@2291..2292 " "
        PATTERN_WILDCARD@2292..2293
          WildcardKeyword@2292..2293 "_"
        Colon@2293..2294 ":"
        Whitespace@2294..2295 " "
        TYPE_INT@2295..2301
          IsizeKeyword@2295..2300 "isize"
          Whitespace@2300..2301 " "
        Eq@2301..2302 "="
        Whitespace@2302..2303 " "
        EXPR_CALL@2303..2319
          EXPR_BINARY@2303..2317
            EXPR_IDENT@2303..2308
              PATH@2303..2308
                Ident@2303..2308 "value"
            Dot@2308..2309 "."
            EXPR_IDENT@2309..2317
              PATH@2309..2317
                Ident@2309..2317 "to_isize"
          ARG_LIST@2317..2319
            LParen@2317..2318 "("
            RParen@2318..2319 ")"
        Semi@2319..2320 ";"
        Whitespace@2320..2325 "\n    "
      STMT_LET@2325..2356
        LetKeyword@2325..2328 "let"
        Whitespace@2328..2329 " "
        PATTERN_WILDCARD@2329..2330
          WildcardKeyword@2329..2330 "_"
        Colon@2330..2331 ":"
        Whitespace@2331..2332 " "
        TYPE_INT8@2332..2335
          I8Keyword@2332..2334 "i8"
          Whitespace@2334..2335 " "
        Eq@2335..2336 "="
        Whitespace@2336..2337 " "
        EXPR_CALL@2337..2350
          EXPR_BINARY@2337..2348
            EXPR_IDENT@2337..2342
              PATH@2337..2342
                Ident@2337..2342 "value"
            Dot@2342..2343 "."
            EXPR_IDENT@2343..2348
              PATH@2343..2348
                Ident@2343..2348 "to_i8"
          ARG_LIST@2348..2350
            LParen@2348..2349 "("
            RParen@2349..2350 ")"
        Semi@2350..2351 ";"
        Whitespace@2351..2356 "\n    "
      STMT_LET@2356..2389
        LetKeyword@2356..2359 "let"
        Whitespace@2359..2360 " "
        PATTERN_WILDCARD@2360..2361
          WildcardKeyword@2360..2361 "_"
        Colon@2361..2362 ":"
        Whitespace@2362..2363 " "
        TYPE_INT16@2363..2367
          I16Keyword@2363..2366 "i16"
          Whitespace@2366..2367 " "
        Eq@2367..2368 "="
        Whitespace@2368..2369 " "
        EXPR_CALL@2369..2383
          EXPR_BINARY@2369..2381
            EXPR_IDENT@2369..2374
              PATH@2369..2374
                Ident@2369..2374 "value"
            Dot@2374..2375 "."
            EXPR_IDENT@2375..2381
              PATH@2375..2381
                Ident@2375..2381 "to_i16"
          ARG_LIST@2381..2383
            LParen@2381..2382 "("
            RParen@2382..2383 ")"
        Semi@2383..2384 ";"
        Whitespace@2384..2389 "\n    "
      STMT_LET@2389..2422
        LetKeyword@2389..2392 "let"
        Whitespace@2392..2393 " "
        PATTERN_WILDCARD@2393..2394
          WildcardKeyword@2393..2394 "_"
        Colon@2394..2395 ":"
        Whitespace@2395..2396 " "
        TYPE_INT32@2396..2400
          I32Keyword@2396..2399 "i32"
          Whitespace@2399..2400 " "
        Eq@2400..2401 "="
        Whitespace@2401..2402 " "
        EXPR_CALL@2402..2416
          EXPR_BINARY@2402..2414
            EXPR_IDENT@2402..2407
              PATH@2402..2407
                Ident@2402..2407 "value"
            Dot@2407..2408 "."
            EXPR_IDENT@2408..2414
              PATH@2408..2414
                Ident@2408..2414 "to_i32"
          ARG_LIST@2414..2416
            LParen@2414..2415 "("
            RParen@2415..2416 ")"
        Semi@2416..2417 ";"
        Whitespace@2417..2422 "\n    "
      STMT_LET@2422..2455
        LetKeyword@2422..2425 "let"
        Whitespace@2425..2426 " "
        PATTERN_WILDCARD@2426..2427
          WildcardKeyword@2426..2427 "_"
        Colon@2427..2428 ":"
        Whitespace@2428..2429 " "
        TYPE_INT64@2429..2433
          I64Keyword@2429..2432 "i64"
          Whitespace@2432..2433 " "
        Eq@2433..2434 "="
        Whitespace@2434..2435 " "
        EXPR_CALL@2435..2449
          EXPR_BINARY@2435..2447
            EXPR_IDENT@2435..2440
              PATH@2435..2440
                Ident@2435..2440 "value"
            Dot@2440..2441 "."
            EXPR_IDENT@2441..2447
              PATH@2441..2447
                Ident@2441..2447 "to_i64"
          ARG_LIST@2447..2449
            LParen@2447..2448 "("
            RParen@2448..2449 ")"
        Semi@2449..2450 ";"
        Whitespace@2450..2455 "\n    "
      STMT_LET@2455..2492
        LetKeyword@2455..2458 "let"
        Whitespace@2458..2459 " "
        PATTERN_WILDCARD@2459..2460
          WildcardKeyword@2459..2460 "_"
        Colon@2460..2461 ":"
        Whitespace@2461..2462 " "
        TYPE_UINT@2462..2468
          UsizeKeyword@2462..2467 "usize"
          Whitespace@2467..2468 " "
        Eq@2468..2469 "="
        Whitespace@2469..2470 " "
        EXPR_CALL@2470..2486
          EXPR_BINARY@2470..2484
            EXPR_IDENT@2470..2475
              PATH@2470..2475
                Ident@2470..2475 "value"
            Dot@2475..2476 "."
            EXPR_IDENT@2476..2484
              PATH@2476..2484
                Ident@2476..2484 "to_usize"
          ARG_LIST@2484..2486
            LParen@2484..2485 "("
            RParen@2485..2486 ")"
        Semi@2486..2487 ";"
        Whitespace@2487..2492 "\n    "
      STMT_LET@2492..2525
        LetKeyword@2492..2495 "let"
        Whitespace@2495..2496 " "
        PATTERN_WILDCARD@2496..2497
          WildcardKeyword@2496..2497 "_"
        Colon@2497..2498 ":"
        Whitespace@2498..2499 " "
        TYPE_UINT16@2499..2503
          U16Keyword@2499..2502 "u16"
          Whitespace@2502..2503 " "
        Eq@2503..2504 "="
        Whitespace@2504..2505 " "
        EXPR_CALL@2505..2519
          EXPR_BINARY@2505..2517
            EXPR_IDENT@2505..2510
              PATH@2505..2510
                Ident@2505..2510 "value"
            Dot@2510..2511 "."
            EXPR_IDENT@2511..2517
              PATH@2511..2517
                Ident@2511..2517 "to_u16"
          ARG_LIST@2517..2519
            LParen@2517..2518 "("
            RParen@2518..2519 ")"
        Semi@2519..2520 ";"
        Whitespace@2520..2525 "\n    "
      STMT_LET@2525..2558
        LetKeyword@2525..2528 "let"
        Whitespace@2528..2529 " "
        PATTERN_WILDCARD@2529..2530
          WildcardKeyword@2529..2530 "_"
        Colon@2530..2531 ":"
        Whitespace@2531..2532 " "
        TYPE_UINT32@2532..2536
          U32Keyword@2532..2535 "u32"
          Whitespace@2535..2536 " "
        Eq@2536..2537 "="
        Whitespace@2537..2538 " "
        EXPR_CALL@2538..2552
          EXPR_BINARY@2538..2550
            EXPR_IDENT@2538..2543
              PATH@2538..2543
                Ident@2538..2543 "value"
            Dot@2543..2544 "."
            EXPR_IDENT@2544..2550
              PATH@2544..2550
                Ident@2544..2550 "to_u32"
          ARG_LIST@2550..2552
            LParen@2550..2551 "("
            RParen@2551..2552 ")"
        Semi@2552..2553 ";"
        Whitespace@2553..2558 "\n    "
      STMT_LET@2558..2587
        LetKeyword@2558..2561 "let"
        Whitespace@2561..2562 " "
        PATTERN_WILDCARD@2562..2563
          WildcardKeyword@2562..2563 "_"
        Colon@2563..2564 ":"
        Whitespace@2564..2565 " "
        TYPE_UINT64@2565..2569
          U64Keyword@2565..2568 "u64"
          Whitespace@2568..2569 " "
        Eq@2569..2570 "="
        Whitespace@2570..2571 " "
        EXPR_CALL@2571..2585
          EXPR_BINARY@2571..2583
            EXPR_IDENT@2571..2576
              PATH@2571..2576
                Ident@2571..2576 "value"
            Dot@2576..2577 "."
            EXPR_IDENT@2577..2583
              PATH@2577..2583
                Ident@2577..2583 "to_u64"
          ARG_LIST@2583..2585
            LParen@2583..2584 "("
            RParen@2584..2585 ")"
        Semi@2585..2586 ";"
        Whitespace@2586..2587 "\n"
      RBrace@2587..2588 "}"
      Whitespace@2588..2590 "\n\n"
  FN@2590..2935
    FnKeyword@2590..2592 "fn"
    Whitespace@2592..2593 " "
    Ident@2593..2608 "exercise_uint16"
    PARAM_LIST@2608..2621
      LParen@2608..2609 "("
      PARAM@2609..2619
        Ident@2609..2614 "value"
        Colon@2614..2615 ":"
        Whitespace@2615..2616 " "
        TYPE_UINT16@2616..2619
          U16Keyword@2616..2619 "u16"
      RParen@2619..2620 ")"
      Whitespace@2620..2621 " "
    Arrow@2621..2623 "->"
    Whitespace@2623..2624 " "
    TYPE_UNIT@2624..2629
      UnitKeyword@2624..2628 "unit"
      Whitespace@2628..2629 " "
    BLOCK@2629..2935
      LBrace@2629..2630 "{"
      Whitespace@2630..2635 "\n    "
      STMT_LET@2635..2672
        LetKeyword@2635..2638 "let"
        Whitespace@2638..2639 " "
        PATTERN_WILDCARD@2639..2640
          WildcardKeyword@2639..2640 "_"
        Colon@2640..2641 ":"
        Whitespace@2641..2642 " "
        TYPE_INT@2642..2648
          IsizeKeyword@2642..2647 "isize"
          Whitespace@2647..2648 " "
        Eq@2648..2649 "="
        Whitespace@2649..2650 " "
        EXPR_CALL@2650..2666
          EXPR_BINARY@2650..2664
            EXPR_IDENT@2650..2655
              PATH@2650..2655
                Ident@2650..2655 "value"
            Dot@2655..2656 "."
            EXPR_IDENT@2656..2664
              PATH@2656..2664
                Ident@2656..2664 "to_isize"
          ARG_LIST@2664..2666
            LParen@2664..2665 "("
            RParen@2665..2666 ")"
        Semi@2666..2667 ";"
        Whitespace@2667..2672 "\n    "
      STMT_LET@2672..2703
        LetKeyword@2672..2675 "let"
        Whitespace@2675..2676 " "
        PATTERN_WILDCARD@2676..2677
          WildcardKeyword@2676..2677 "_"
        Colon@2677..2678 ":"
        Whitespace@2678..2679 " "
        TYPE_INT8@2679..2682
          I8Keyword@2679..2681 "i8"
          Whitespace@2681..2682 " "
        Eq@2682..2683 "="
        Whitespace@2683..2684 " "
        EXPR_CALL@2684..2697
          EXPR_BINARY@2684..2695
            EXPR_IDENT@2684..2689
              PATH@2684..2689
                Ident@2684..2689 "value"
            Dot@2689..2690 "."
            EXPR_IDENT@2690..2695
              PATH@2690..2695
                Ident@2690..2695 "to_i8"
          ARG_LIST@2695..2697
            LParen@2695..2696 "("
            RParen@2696..2697 ")"
        Semi@2697..2698 ";"
        Whitespace@2698..2703 "\n    "
      STMT_LET@2703..2736
        LetKeyword@2703..2706 "let"
        Whitespace@2706..2707 " "
        PATTERN_WILDCARD@2707..2708
          WildcardKeyword@2707..2708 "_"
        Colon@2708..2709 ":"
        Whitespace@2709..2710 " "
        TYPE_INT16@2710..2714
          I16Keyword@2710..2713 "i16"
          Whitespace@2713..2714 " "
        Eq@2714..2715 "="
        Whitespace@2715..2716 " "
        EXPR_CALL@2716..2730
          EXPR_BINARY@2716..2728
            EXPR_IDENT@2716..2721
              PATH@2716..2721
                Ident@2716..2721 "value"
            Dot@2721..2722 "."
            EXPR_IDENT@2722..2728
              PATH@2722..2728
                Ident@2722..2728 "to_i16"
          ARG_LIST@2728..2730
            LParen@2728..2729 "("
            RParen@2729..2730 ")"
        Semi@2730..2731 ";"
        Whitespace@2731..2736 "\n    "
      STMT_LET@2736..2769
        LetKeyword@2736..2739 "let"
        Whitespace@2739..2740 " "
        PATTERN_WILDCARD@2740..2741
          WildcardKeyword@2740..2741 "_"
        Colon@2741..2742 ":"
        Whitespace@2742..2743 " "
        TYPE_INT32@2743..2747
          I32Keyword@2743..2746 "i32"
          Whitespace@2746..2747 " "
        Eq@2747..2748 "="
        Whitespace@2748..2749 " "
        EXPR_CALL@2749..2763
          EXPR_BINARY@2749..2761
            EXPR_IDENT@2749..2754
              PATH@2749..2754
                Ident@2749..2754 "value"
            Dot@2754..2755 "."
            EXPR_IDENT@2755..2761
              PATH@2755..2761
                Ident@2755..2761 "to_i32"
          ARG_LIST@2761..2763
            LParen@2761..2762 "("
            RParen@2762..2763 ")"
        Semi@2763..2764 ";"
        Whitespace@2764..2769 "\n    "
      STMT_LET@2769..2802
        LetKeyword@2769..2772 "let"
        Whitespace@2772..2773 " "
        PATTERN_WILDCARD@2773..2774
          WildcardKeyword@2773..2774 "_"
        Colon@2774..2775 ":"
        Whitespace@2775..2776 " "
        TYPE_INT64@2776..2780
          I64Keyword@2776..2779 "i64"
          Whitespace@2779..2780 " "
        Eq@2780..2781 "="
        Whitespace@2781..2782 " "
        EXPR_CALL@2782..2796
          EXPR_BINARY@2782..2794
            EXPR_IDENT@2782..2787
              PATH@2782..2787
                Ident@2782..2787 "value"
            Dot@2787..2788 "."
            EXPR_IDENT@2788..2794
              PATH@2788..2794
                Ident@2788..2794 "to_i64"
          ARG_LIST@2794..2796
            LParen@2794..2795 "("
            RParen@2795..2796 ")"
        Semi@2796..2797 ";"
        Whitespace@2797..2802 "\n    "
      STMT_LET@2802..2839
        LetKeyword@2802..2805 "let"
        Whitespace@2805..2806 " "
        PATTERN_WILDCARD@2806..2807
          WildcardKeyword@2806..2807 "_"
        Colon@2807..2808 ":"
        Whitespace@2808..2809 " "
        TYPE_UINT@2809..2815
          UsizeKeyword@2809..2814 "usize"
          Whitespace@2814..2815 " "
        Eq@2815..2816 "="
        Whitespace@2816..2817 " "
        EXPR_CALL@2817..2833
          EXPR_BINARY@2817..2831
            EXPR_IDENT@2817..2822
              PATH@2817..2822
                Ident@2817..2822 "value"
            Dot@2822..2823 "."
            EXPR_IDENT@2823..2831
              PATH@2823..2831
                Ident@2823..2831 "to_usize"
          ARG_LIST@2831..2833
            LParen@2831..2832 "("
            RParen@2832..2833 ")"
        Semi@2833..2834 ";"
        Whitespace@2834..2839 "\n    "
      STMT_LET@2839..2870
        LetKeyword@2839..2842 "let"
        Whitespace@2842..2843 " "
        PATTERN_WILDCARD@2843..2844
          WildcardKeyword@2843..2844 "_"
        Colon@2844..2845 ":"
        Whitespace@2845..2846 " "
        TYPE_UINT8@2846..2849
          U8Keyword@2846..2848 "u8"
          Whitespace@2848..2849 " "
        Eq@2849..2850 "="
        Whitespace@2850..2851 " "
        EXPR_CALL@2851..2864
          EXPR_BINARY@2851..2862
            EXPR_IDENT@2851..2856
              PATH@2851..2856
                Ident@2851..2856 "value"
            Dot@2856..2857 "."
            EXPR_IDENT@2857..2862
              PATH@2857..2862
                Ident@2857..2862 "to_u8"
          ARG_LIST@2862..2864
            LParen@2862..2863 "("
            RParen@2863..2864 ")"
        Semi@2864..2865 ";"
        Whitespace@2865..2870 "\n    "
      STMT_LET@2870..2903
        LetKeyword@2870..2873 "let"
        Whitespace@2873..2874 " "
        PATTERN_WILDCARD@2874..2875
          WildcardKeyword@2874..2875 "_"
        Colon@2875..2876 ":"
        Whitespace@2876..2877 " "
        TYPE_UINT32@2877..2881
          U32Keyword@2877..2880 "u32"
          Whitespace@2880..2881 " "
        Eq@2881..2882 "="
        Whitespace@2882..2883 " "
        EXPR_CALL@2883..2897
          EXPR_BINARY@2883..2895
            EXPR_IDENT@2883..2888
              PATH@2883..2888
                Ident@2883..2888 "value"
            Dot@2888..2889 "."
            EXPR_IDENT@2889..2895
              PATH@2889..2895
                Ident@2889..2895 "to_u32"
          ARG_LIST@2895..2897
            LParen@2895..2896 "("
            RParen@2896..2897 ")"
        Semi@2897..2898 ";"
        Whitespace@2898..2903 "\n    "
      STMT_LET@2903..2932
        LetKeyword@2903..2906 "let"
        Whitespace@2906..2907 " "
        PATTERN_WILDCARD@2907..2908
          WildcardKeyword@2907..2908 "_"
        Colon@2908..2909 ":"
        Whitespace@2909..2910 " "
        TYPE_UINT64@2910..2914
          U64Keyword@2910..2913 "u64"
          Whitespace@2913..2914 " "
        Eq@2914..2915 "="
        Whitespace@2915..2916 " "
        EXPR_CALL@2916..2930
          EXPR_BINARY@2916..2928
            EXPR_IDENT@2916..2921
              PATH@2916..2921
                Ident@2916..2921 "value"
            Dot@2921..2922 "."
            EXPR_IDENT@2922..2928
              PATH@2922..2928
                Ident@2922..2928 "to_u64"
          ARG_LIST@2928..2930
            LParen@2928..2929 "("
            RParen@2929..2930 ")"
        Semi@2930..2931 ";"
        Whitespace@2931..2932 "\n"
      RBrace@2932..2933 "}"
      Whitespace@2933..2935 "\n\n"
  FN@2935..3280
    FnKeyword@2935..2937 "fn"
    Whitespace@2937..2938 " "
    Ident@2938..2953 "exercise_uint32"
    PARAM_LIST@2953..2966
      LParen@2953..2954 "("
      PARAM@2954..2964
        Ident@2954..2959 "value"
        Colon@2959..2960 ":"
        Whitespace@2960..2961 " "
        TYPE_UINT32@2961..2964
          U32Keyword@2961..2964 "u32"
      RParen@2964..2965 ")"
      Whitespace@2965..2966 " "
    Arrow@2966..2968 "->"
    Whitespace@2968..2969 " "
    TYPE_UNIT@2969..2974
      UnitKeyword@2969..2973 "unit"
      Whitespace@2973..2974 " "
    BLOCK@2974..3280
      LBrace@2974..2975 "{"
      Whitespace@2975..2980 "\n    "
      STMT_LET@2980..3017
        LetKeyword@2980..2983 "let"
        Whitespace@2983..2984 " "
        PATTERN_WILDCARD@2984..2985
          WildcardKeyword@2984..2985 "_"
        Colon@2985..2986 ":"
        Whitespace@2986..2987 " "
        TYPE_INT@2987..2993
          IsizeKeyword@2987..2992 "isize"
          Whitespace@2992..2993 " "
        Eq@2993..2994 "="
        Whitespace@2994..2995 " "
        EXPR_CALL@2995..3011
          EXPR_BINARY@2995..3009
            EXPR_IDENT@2995..3000
              PATH@2995..3000
                Ident@2995..3000 "value"
            Dot@3000..3001 "."
            EXPR_IDENT@3001..3009
              PATH@3001..3009
                Ident@3001..3009 "to_isize"
          ARG_LIST@3009..3011
            LParen@3009..3010 "("
            RParen@3010..3011 ")"
        Semi@3011..3012 ";"
        Whitespace@3012..3017 "\n    "
      STMT_LET@3017..3048
        LetKeyword@3017..3020 "let"
        Whitespace@3020..3021 " "
        PATTERN_WILDCARD@3021..3022
          WildcardKeyword@3021..3022 "_"
        Colon@3022..3023 ":"
        Whitespace@3023..3024 " "
        TYPE_INT8@3024..3027
          I8Keyword@3024..3026 "i8"
          Whitespace@3026..3027 " "
        Eq@3027..3028 "="
        Whitespace@3028..3029 " "
        EXPR_CALL@3029..3042
          EXPR_BINARY@3029..3040
            EXPR_IDENT@3029..3034
              PATH@3029..3034
                Ident@3029..3034 "value"
            Dot@3034..3035 "."
            EXPR_IDENT@3035..3040
              PATH@3035..3040
                Ident@3035..3040 "to_i8"
          ARG_LIST@3040..3042
            LParen@3040..3041 "("
            RParen@3041..3042 ")"
        Semi@3042..3043 ";"
        Whitespace@3043..3048 "\n    "
      STMT_LET@3048..3081
        LetKeyword@3048..3051 "let"
        Whitespace@3051..3052 " "
        PATTERN_WILDCARD@3052..3053
          WildcardKeyword@3052..3053 "_"
        Colon@3053..3054 ":"
        Whitespace@3054..3055 " "
        TYPE_INT16@3055..3059
          I16Keyword@3055..3058 "i16"
          Whitespace@3058..3059 " "
        Eq@3059..3060 "="
        Whitespace@3060..3061 " "
        EXPR_CALL@3061..3075
          EXPR_BINARY@3061..3073
            EXPR_IDENT@3061..3066
              PATH@3061..3066
                Ident@3061..3066 "value"
            Dot@3066..3067 "."
            EXPR_IDENT@3067..3073
              PATH@3067..3073
                Ident@3067..3073 "to_i16"
          ARG_LIST@3073..3075
            LParen@3073..3074 "("
            RParen@3074..3075 ")"
        Semi@3075..3076 ";"
        Whitespace@3076..3081 "\n    "
      STMT_LET@3081..3114
        LetKeyword@3081..3084 "let"
        Whitespace@3084..3085 " "
        PATTERN_WILDCARD@3085..3086
          WildcardKeyword@3085..3086 "_"
        Colon@3086..3087 ":"
        Whitespace@3087..3088 " "
        TYPE_INT32@3088..3092
          I32Keyword@3088..3091 "i32"
          Whitespace@3091..3092 " "
        Eq@3092..3093 "="
        Whitespace@3093..3094 " "
        EXPR_CALL@3094..3108
          EXPR_BINARY@3094..3106
            EXPR_IDENT@3094..3099
              PATH@3094..3099
                Ident@3094..3099 "value"
            Dot@3099..3100 "."
            EXPR_IDENT@3100..3106
              PATH@3100..3106
                Ident@3100..3106 "to_i32"
          ARG_LIST@3106..3108
            LParen@3106..3107 "("
            RParen@3107..3108 ")"
        Semi@3108..3109 ";"
        Whitespace@3109..3114 "\n    "
      STMT_LET@3114..3147
        LetKeyword@3114..3117 "let"
        Whitespace@3117..3118 " "
        PATTERN_WILDCARD@3118..3119
          WildcardKeyword@3118..3119 "_"
        Colon@3119..3120 ":"
        Whitespace@3120..3121 " "
        TYPE_INT64@3121..3125
          I64Keyword@3121..3124 "i64"
          Whitespace@3124..3125 " "
        Eq@3125..3126 "="
        Whitespace@3126..3127 " "
        EXPR_CALL@3127..3141
          EXPR_BINARY@3127..3139
            EXPR_IDENT@3127..3132
              PATH@3127..3132
                Ident@3127..3132 "value"
            Dot@3132..3133 "."
            EXPR_IDENT@3133..3139
              PATH@3133..3139
                Ident@3133..3139 "to_i64"
          ARG_LIST@3139..3141
            LParen@3139..3140 "("
            RParen@3140..3141 ")"
        Semi@3141..3142 ";"
        Whitespace@3142..3147 "\n    "
      STMT_LET@3147..3184
        LetKeyword@3147..3150 "let"
        Whitespace@3150..3151 " "
        PATTERN_WILDCARD@3151..3152
          WildcardKeyword@3151..3152 "_"
        Colon@3152..3153 ":"
        Whitespace@3153..3154 " "
        TYPE_UINT@3154..3160
          UsizeKeyword@3154..3159 "usize"
          Whitespace@3159..3160 " "
        Eq@3160..3161 "="
        Whitespace@3161..3162 " "
        EXPR_CALL@3162..3178
          EXPR_BINARY@3162..3176
            EXPR_IDENT@3162..3167
              PATH@3162..3167
                Ident@3162..3167 "value"
            Dot@3167..3168 "."
            EXPR_IDENT@3168..3176
              PATH@3168..3176
                Ident@3168..3176 "to_usize"
          ARG_LIST@3176..3178
            LParen@3176..3177 "("
            RParen@3177..3178 ")"
        Semi@3178..3179 ";"
        Whitespace@3179..3184 "\n    "
      STMT_LET@3184..3215
        LetKeyword@3184..3187 "let"
        Whitespace@3187..3188 " "
        PATTERN_WILDCARD@3188..3189
          WildcardKeyword@3188..3189 "_"
        Colon@3189..3190 ":"
        Whitespace@3190..3191 " "
        TYPE_UINT8@3191..3194
          U8Keyword@3191..3193 "u8"
          Whitespace@3193..3194 " "
        Eq@3194..3195 "="
        Whitespace@3195..3196 " "
        EXPR_CALL@3196..3209
          EXPR_BINARY@3196..3207
            EXPR_IDENT@3196..3201
              PATH@3196..3201
                Ident@3196..3201 "value"
            Dot@3201..3202 "."
            EXPR_IDENT@3202..3207
              PATH@3202..3207
                Ident@3202..3207 "to_u8"
          ARG_LIST@3207..3209
            LParen@3207..3208 "("
            RParen@3208..3209 ")"
        Semi@3209..3210 ";"
        Whitespace@3210..3215 "\n    "
      STMT_LET@3215..3248
        LetKeyword@3215..3218 "let"
        Whitespace@3218..3219 " "
        PATTERN_WILDCARD@3219..3220
          WildcardKeyword@3219..3220 "_"
        Colon@3220..3221 ":"
        Whitespace@3221..3222 " "
        TYPE_UINT16@3222..3226
          U16Keyword@3222..3225 "u16"
          Whitespace@3225..3226 " "
        Eq@3226..3227 "="
        Whitespace@3227..3228 " "
        EXPR_CALL@3228..3242
          EXPR_BINARY@3228..3240
            EXPR_IDENT@3228..3233
              PATH@3228..3233
                Ident@3228..3233 "value"
            Dot@3233..3234 "."
            EXPR_IDENT@3234..3240
              PATH@3234..3240
                Ident@3234..3240 "to_u16"
          ARG_LIST@3240..3242
            LParen@3240..3241 "("
            RParen@3241..3242 ")"
        Semi@3242..3243 ";"
        Whitespace@3243..3248 "\n    "
      STMT_LET@3248..3277
        LetKeyword@3248..3251 "let"
        Whitespace@3251..3252 " "
        PATTERN_WILDCARD@3252..3253
          WildcardKeyword@3252..3253 "_"
        Colon@3253..3254 ":"
        Whitespace@3254..3255 " "
        TYPE_UINT64@3255..3259
          U64Keyword@3255..3258 "u64"
          Whitespace@3258..3259 " "
        Eq@3259..3260 "="
        Whitespace@3260..3261 " "
        EXPR_CALL@3261..3275
          EXPR_BINARY@3261..3273
            EXPR_IDENT@3261..3266
              PATH@3261..3266
                Ident@3261..3266 "value"
            Dot@3266..3267 "."
            EXPR_IDENT@3267..3273
              PATH@3267..3273
                Ident@3267..3273 "to_u64"
          ARG_LIST@3273..3275
            LParen@3273..3274 "("
            RParen@3274..3275 ")"
        Semi@3275..3276 ";"
        Whitespace@3276..3277 "\n"
      RBrace@3277..3278 "}"
      Whitespace@3278..3280 "\n\n"
  FN@3280..3625
    FnKeyword@3280..3282 "fn"
    Whitespace@3282..3283 " "
    Ident@3283..3298 "exercise_uint64"
    PARAM_LIST@3298..3311
      LParen@3298..3299 "("
      PARAM@3299..3309
        Ident@3299..3304 "value"
        Colon@3304..3305 ":"
        Whitespace@3305..3306 " "
        TYPE_UINT64@3306..3309
          U64Keyword@3306..3309 "u64"
      RParen@3309..3310 ")"
      Whitespace@3310..3311 " "
    Arrow@3311..3313 "->"
    Whitespace@3313..3314 " "
    TYPE_UNIT@3314..3319
      UnitKeyword@3314..3318 "unit"
      Whitespace@3318..3319 " "
    BLOCK@3319..3625
      LBrace@3319..3320 "{"
      Whitespace@3320..3325 "\n    "
      STMT_LET@3325..3362
        LetKeyword@3325..3328 "let"
        Whitespace@3328..3329 " "
        PATTERN_WILDCARD@3329..3330
          WildcardKeyword@3329..3330 "_"
        Colon@3330..3331 ":"
        Whitespace@3331..3332 " "
        TYPE_INT@3332..3338
          IsizeKeyword@3332..3337 "isize"
          Whitespace@3337..3338 " "
        Eq@3338..3339 "="
        Whitespace@3339..3340 " "
        EXPR_CALL@3340..3356
          EXPR_BINARY@3340..3354
            EXPR_IDENT@3340..3345
              PATH@3340..3345
                Ident@3340..3345 "value"
            Dot@3345..3346 "."
            EXPR_IDENT@3346..3354
              PATH@3346..3354
                Ident@3346..3354 "to_isize"
          ARG_LIST@3354..3356
            LParen@3354..3355 "("
            RParen@3355..3356 ")"
        Semi@3356..3357 ";"
        Whitespace@3357..3362 "\n    "
      STMT_LET@3362..3393
        LetKeyword@3362..3365 "let"
        Whitespace@3365..3366 " "
        PATTERN_WILDCARD@3366..3367
          WildcardKeyword@3366..3367 "_"
        Colon@3367..3368 ":"
        Whitespace@3368..3369 " "
        TYPE_INT8@3369..3372
          I8Keyword@3369..3371 "i8"
          Whitespace@3371..3372 " "
        Eq@3372..3373 "="
        Whitespace@3373..3374 " "
        EXPR_CALL@3374..3387
          EXPR_BINARY@3374..3385
            EXPR_IDENT@3374..3379
              PATH@3374..3379
                Ident@3374..3379 "value"
            Dot@3379..3380 "."
            EXPR_IDENT@3380..3385
              PATH@3380..3385
                Ident@3380..3385 "to_i8"
          ARG_LIST@3385..3387
            LParen@3385..3386 "("
            RParen@3386..3387 ")"
        Semi@3387..3388 ";"
        Whitespace@3388..3393 "\n    "
      STMT_LET@3393..3426
        LetKeyword@3393..3396 "let"
        Whitespace@3396..3397 " "
        PATTERN_WILDCARD@3397..3398
          WildcardKeyword@3397..3398 "_"
        Colon@3398..3399 ":"
        Whitespace@3399..3400 " "
        TYPE_INT16@3400..3404
          I16Keyword@3400..3403 "i16"
          Whitespace@3403..3404 " "
        Eq@3404..3405 "="
        Whitespace@3405..3406 " "
        EXPR_CALL@3406..3420
          EXPR_BINARY@3406..3418
            EXPR_IDENT@3406..3411
              PATH@3406..3411
                Ident@3406..3411 "value"
            Dot@3411..3412 "."
            EXPR_IDENT@3412..3418
              PATH@3412..3418
                Ident@3412..3418 "to_i16"
          ARG_LIST@3418..3420
            LParen@3418..3419 "("
            RParen@3419..3420 ")"
        Semi@3420..3421 ";"
        Whitespace@3421..3426 "\n    "
      STMT_LET@3426..3459
        LetKeyword@3426..3429 "let"
        Whitespace@3429..3430 " "
        PATTERN_WILDCARD@3430..3431
          WildcardKeyword@3430..3431 "_"
        Colon@3431..3432 ":"
        Whitespace@3432..3433 " "
        TYPE_INT32@3433..3437
          I32Keyword@3433..3436 "i32"
          Whitespace@3436..3437 " "
        Eq@3437..3438 "="
        Whitespace@3438..3439 " "
        EXPR_CALL@3439..3453
          EXPR_BINARY@3439..3451
            EXPR_IDENT@3439..3444
              PATH@3439..3444
                Ident@3439..3444 "value"
            Dot@3444..3445 "."
            EXPR_IDENT@3445..3451
              PATH@3445..3451
                Ident@3445..3451 "to_i32"
          ARG_LIST@3451..3453
            LParen@3451..3452 "("
            RParen@3452..3453 ")"
        Semi@3453..3454 ";"
        Whitespace@3454..3459 "\n    "
      STMT_LET@3459..3492
        LetKeyword@3459..3462 "let"
        Whitespace@3462..3463 " "
        PATTERN_WILDCARD@3463..3464
          WildcardKeyword@3463..3464 "_"
        Colon@3464..3465 ":"
        Whitespace@3465..3466 " "
        TYPE_INT64@3466..3470
          I64Keyword@3466..3469 "i64"
          Whitespace@3469..3470 " "
        Eq@3470..3471 "="
        Whitespace@3471..3472 " "
        EXPR_CALL@3472..3486
          EXPR_BINARY@3472..3484
            EXPR_IDENT@3472..3477
              PATH@3472..3477
                Ident@3472..3477 "value"
            Dot@3477..3478 "."
            EXPR_IDENT@3478..3484
              PATH@3478..3484
                Ident@3478..3484 "to_i64"
          ARG_LIST@3484..3486
            LParen@3484..3485 "("
            RParen@3485..3486 ")"
        Semi@3486..3487 ";"
        Whitespace@3487..3492 "\n    "
      STMT_LET@3492..3529
        LetKeyword@3492..3495 "let"
        Whitespace@3495..3496 " "
        PATTERN_WILDCARD@3496..3497
          WildcardKeyword@3496..3497 "_"
        Colon@3497..3498 ":"
        Whitespace@3498..3499 " "
        TYPE_UINT@3499..3505
          UsizeKeyword@3499..3504 "usize"
          Whitespace@3504..3505 " "
        Eq@3505..3506 "="
        Whitespace@3506..3507 " "
        EXPR_CALL@3507..3523
          EXPR_BINARY@3507..3521
            EXPR_IDENT@3507..3512
              PATH@3507..3512
                Ident@3507..3512 "value"
            Dot@3512..3513 "."
            EXPR_IDENT@3513..3521
              PATH@3513..3521
                Ident@3513..3521 "to_usize"
          ARG_LIST@3521..3523
            LParen@3521..3522 "("
            RParen@3522..3523 ")"
        Semi@3523..3524 ";"
        Whitespace@3524..3529 "\n    "
      STMT_LET@3529..3560
        LetKeyword@3529..3532 "let"
        Whitespace@3532..3533 " "
        PATTERN_WILDCARD@3533..3534
          WildcardKeyword@3533..3534 "_"
        Colon@3534..3535 ":"
        Whitespace@3535..3536 " "
        TYPE_UINT8@3536..3539
          U8Keyword@3536..3538 "u8"
          Whitespace@3538..3539 " "
        Eq@3539..3540 "="
        Whitespace@3540..3541 " "
        EXPR_CALL@3541..3554
          EXPR_BINARY@3541..3552
            EXPR_IDENT@3541..3546
              PATH@3541..3546
                Ident@3541..3546 "value"
            Dot@3546..3547 "."
            EXPR_IDENT@3547..3552
              PATH@3547..3552
                Ident@3547..3552 "to_u8"
          ARG_LIST@3552..3554
            LParen@3552..3553 "("
            RParen@3553..3554 ")"
        Semi@3554..3555 ";"
        Whitespace@3555..3560 "\n    "
      STMT_LET@3560..3593
        LetKeyword@3560..3563 "let"
        Whitespace@3563..3564 " "
        PATTERN_WILDCARD@3564..3565
          WildcardKeyword@3564..3565 "_"
        Colon@3565..3566 ":"
        Whitespace@3566..3567 " "
        TYPE_UINT16@3567..3571
          U16Keyword@3567..3570 "u16"
          Whitespace@3570..3571 " "
        Eq@3571..3572 "="
        Whitespace@3572..3573 " "
        EXPR_CALL@3573..3587
          EXPR_BINARY@3573..3585
            EXPR_IDENT@3573..3578
              PATH@3573..3578
                Ident@3573..3578 "value"
            Dot@3578..3579 "."
            EXPR_IDENT@3579..3585
              PATH@3579..3585
                Ident@3579..3585 "to_u16"
          ARG_LIST@3585..3587
            LParen@3585..3586 "("
            RParen@3586..3587 ")"
        Semi@3587..3588 ";"
        Whitespace@3588..3593 "\n    "
      STMT_LET@3593..3622
        LetKeyword@3593..3596 "let"
        Whitespace@3596..3597 " "
        PATTERN_WILDCARD@3597..3598
          WildcardKeyword@3597..3598 "_"
        Colon@3598..3599 ":"
        Whitespace@3599..3600 " "
        TYPE_UINT32@3600..3604
          U32Keyword@3600..3603 "u32"
          Whitespace@3603..3604 " "
        Eq@3604..3605 "="
        Whitespace@3605..3606 " "
        EXPR_CALL@3606..3620
          EXPR_BINARY@3606..3618
            EXPR_IDENT@3606..3611
              PATH@3606..3611
                Ident@3606..3611 "value"
            Dot@3611..3612 "."
            EXPR_IDENT@3612..3618
              PATH@3612..3618
                Ident@3612..3618 "to_u32"
          ARG_LIST@3618..3620
            LParen@3618..3619 "("
            RParen@3619..3620 ")"
        Semi@3620..3621 ";"
        Whitespace@3621..3622 "\n"
      RBrace@3622..3623 "}"
      Whitespace@3623..3625 "\n\n"
  FN@3625..4073
    FnKeyword@3625..3627 "fn"
    Whitespace@3627..3628 " "
    Ident@3628..3632 "main"
    PARAM_LIST@3632..3635
      LParen@3632..3633 "("
      RParen@3633..3634 ")"
      Whitespace@3634..3635 " "
    Arrow@3635..3637 "->"
    Whitespace@3637..3638 " "
    TYPE_UNIT@3638..3643
      UnitKeyword@3638..3642 "unit"
      Whitespace@3642..3643 " "
    BLOCK@3643..4073
      LBrace@3643..3644 "{"
      Whitespace@3644..3649 "\n    "
      STMT_EXPR@3649..3670
        EXPR_CALL@3649..3664
          EXPR_IDENT@3649..3661
            PATH@3649..3661
              Ident@3649..3661 "exercise_int"
          ARG_LIST@3661..3664
            LParen@3661..3662 "("
            ARG@3662..3663
              EXPR_INT@3662..3663
                Int@3662..3663 "1"
            RParen@3663..3664 ")"
        Semi@3664..3665 ";"
        Whitespace@3665..3670 "\n    "
      STMT_EXPR@3670..3692
        EXPR_CALL@3670..3686
          EXPR_IDENT@3670..3683
            PATH@3670..3683
              Ident@3670..3683 "exercise_int8"
          ARG_LIST@3683..3686
            LParen@3683..3684 "("
            ARG@3684..3685
              EXPR_INT@3684..3685
                Int@3684..3685 "1"
            RParen@3685..3686 ")"
        Semi@3686..3687 ";"
        Whitespace@3687..3692 "\n    "
      STMT_EXPR@3692..3715
        EXPR_CALL@3692..3709
          EXPR_IDENT@3692..3706
            PATH@3692..3706
              Ident@3692..3706 "exercise_int16"
          ARG_LIST@3706..3709
            LParen@3706..3707 "("
            ARG@3707..3708
              EXPR_INT@3707..3708
                Int@3707..3708 "1"
            RParen@3708..3709 ")"
        Semi@3709..3710 ";"
        Whitespace@3710..3715 "\n    "
      STMT_EXPR@3715..3738
        EXPR_CALL@3715..3732
          EXPR_IDENT@3715..3729
            PATH@3715..3729
              Ident@3715..3729 "exercise_int32"
          ARG_LIST@3729..3732
            LParen@3729..3730 "("
            ARG@3730..3731
              EXPR_INT@3730..3731
                Int@3730..3731 "1"
            RParen@3731..3732 ")"
        Semi@3732..3733 ";"
        Whitespace@3733..3738 "\n    "
      STMT_EXPR@3738..3761
        EXPR_CALL@3738..3755
          EXPR_IDENT@3738..3752
            PATH@3738..3752
              Ident@3738..3752 "exercise_int64"
          ARG_LIST@3752..3755
            LParen@3752..3753 "("
            ARG@3753..3754
              EXPR_INT@3753..3754
                Int@3753..3754 "1"
            RParen@3754..3755 ")"
        Semi@3755..3756 ";"
        Whitespace@3756..3761 "\n    "
      STMT_EXPR@3761..3783
        EXPR_CALL@3761..3777
          EXPR_IDENT@3761..3774
            PATH@3761..3774
              Ident@3761..3774 "exercise_uint"
          ARG_LIST@3774..3777
            LParen@3774..3775 "("
            ARG@3775..3776
              EXPR_INT@3775..3776
                Int@3775..3776 "1"
            RParen@3776..3777 ")"
        Semi@3777..3778 ";"
        Whitespace@3778..3783 "\n    "
      STMT_EXPR@3783..3806
        EXPR_CALL@3783..3800
          EXPR_IDENT@3783..3797
            PATH@3783..3797
              Ident@3783..3797 "exercise_uint8"
          ARG_LIST@3797..3800
            LParen@3797..3798 "("
            ARG@3798..3799
              EXPR_INT@3798..3799
                Int@3798..3799 "1"
            RParen@3799..3800 ")"
        Semi@3800..3801 ";"
        Whitespace@3801..3806 "\n    "
      STMT_EXPR@3806..3830
        EXPR_CALL@3806..3824
          EXPR_IDENT@3806..3821
            PATH@3806..3821
              Ident@3806..3821 "exercise_uint16"
          ARG_LIST@3821..3824
            LParen@3821..3822 "("
            ARG@3822..3823
              EXPR_INT@3822..3823
                Int@3822..3823 "1"
            RParen@3823..3824 ")"
        Semi@3824..3825 ";"
        Whitespace@3825..3830 "\n    "
      STMT_EXPR@3830..3854
        EXPR_CALL@3830..3848
          EXPR_IDENT@3830..3845
            PATH@3830..3845
              Ident@3830..3845 "exercise_uint32"
          ARG_LIST@3845..3848
            LParen@3845..3846 "("
            ARG@3846..3847
              EXPR_INT@3846..3847
                Int@3846..3847 "1"
            RParen@3847..3848 ")"
        Semi@3848..3849 ";"
        Whitespace@3849..3854 "\n    "
      STMT_EXPR@3854..3878
        EXPR_CALL@3854..3872
          EXPR_IDENT@3854..3869
            PATH@3854..3869
              Ident@3854..3869 "exercise_uint64"
          ARG_LIST@3869..3872
            LParen@3869..3870 "("
            ARG@3870..3871
              EXPR_INT@3870..3871
                Int@3870..3871 "1"
            RParen@3871..3872 ")"
        Semi@3872..3873 ";"
        Whitespace@3873..3878 "\n    "
      STMT_LET@3878..3904
        LetKeyword@3878..3881 "let"
        Whitespace@3881..3882 " "
        PATTERN_VARIABLE@3882..3887
          Ident@3882..3887 "value"
        Colon@3887..3888 ":"
        Whitespace@3888..3889 " "
        TYPE_INT16@3889..3893
          I16Keyword@3889..3892 "i16"
          Whitespace@3892..3893 " "
        Eq@3893..3894 "="
        Whitespace@3894..3895 " "
        EXPR_INT@3895..3898
          Int@3895..3898 "511"
        Semi@3898..3899 ";"
        Whitespace@3899..3904 "\n    "
      STMT_EXPR@3904..3932
        EXPR_CALL@3904..3926
          EXPR_IDENT@3904..3911
            PATH@3904..3911
              Ident@3904..3911 "println"
          ARG_LIST@3911..3926
            LParen@3911..3912 "("
            ARG@3912..3925
              EXPR_CALL@3912..3925
                EXPR_BINARY@3912..3923
                  EXPR_IDENT@3912..3917
                    PATH@3912..3917
                      Ident@3912..3917 "value"
                  Dot@3917..3918 "."
                  EXPR_IDENT@3918..3923
                    PATH@3918..3923
                      Ident@3918..3923 "to_u8"
                ARG_LIST@3923..3925
                  LParen@3923..3924 "("
                  RParen@3924..3925 ")"
            RParen@3925..3926 ")"
        Semi@3926..3927 ";"
        Whitespace@3927..3932 "\n    "
      STMT_EXPR@3932..3954
        EXPR_CALL@3932..3948
          EXPR_IDENT@3932..3939
            PATH@3932..3939
              Ident@3932..3939 "println"
          ARG_LIST@3939..3948
            LParen@3939..3940 "("
            ARG@3940..3947
              EXPR_IDENT@3940..3947
                PATH@3940..3947
                  Ident@3940..3947 "WRAPPED"
            RParen@3947..3948 ")"
        Semi@3948..3949 ";"
        Whitespace@3949..3954 "\n    "
      STMT_EXPR@3954..3975
        EXPR_CALL@3954..3969
          EXPR_IDENT@3954..3961
            PATH@3954..3961
              Ident@3954..3961 "println"
          ARG_LIST@3961..3969
            LParen@3961..3962 "("
            ARG@3962..3968
              EXPR_IDENT@3962..3968
                PATH@3962..3968
                  Ident@3962..3968 "LETTER"
            RParen@3968..3969 ")"
        Semi@3969..3970 ";"
        Whitespace@3970..3975 "\n    "
      STMT_EXPR@3975..4016
        EXPR_CALL@3975..4010
          EXPR_IDENT@3975..3982
            PATH@3975..3982
              Ident@3975..3982 "println"
          ARG_LIST@3982..4010
            LParen@3982..3983 "("
            ARG@3983..4009
              EXPR_CALL@3983..4009
                EXPR_IDENT@3983..4005
                  PATH@3983..4005
                    Ident@3983..4005 "narrow_at_compile_time"
                ARG_LIST@4005..4009
                  LParen@4005..4006 "("
                  ARG@4006..4008
                    EXPR_PREFIX@4006..4008
                      Minus@4006..4007 "-"
                      EXPR_INT@4007..4008
                        Int@4007..4008 "1"
                  RParen@4008..4009 ")"
            RParen@4009..4010 ")"
        Semi@4010..4011 ";"
        Whitespace@4011..4016 "\n    "
      STMT_LET@4016..4047
        LetKeyword@4016..4019 "let"
        Whitespace@4019..4020 " "
        PATTERN_VARIABLE@4020..4025
          Ident@4020..4025 "octet"
        Colon@4025..4026 ":"
        Whitespace@4026..4027 " "
        TYPE_TAPP@4027..4032
          PATH@4027..4032
            Ident@4027..4031 "byte"
            Whitespace@4031..4032 " "
        Eq@4032..4033 "="
        Whitespace@4033..4034 " "
        EXPR_BYTE@4034..4041
          ByteCharLit@4034..4041 "b'\\xFF'"
        Semi@4041..4042 ";"
        Whitespace@4042..4047 "\n    "
      EXPR_CALL@4047..4071
        EXPR_IDENT@4047..4054
          PATH@4047..4054
            Ident@4047..4054 "println"
        ARG_LIST@4054..4071
          LParen@4054..4055 "("
          ARG@4055..4069
            EXPR_CALL@4055..4069
              EXPR_BINARY@4055..4067
                EXPR_IDENT@4055..4060
                  PATH@4055..4060
                    Ident@4055..4060 "octet"
                Dot@4060..4061 "."
                EXPR_IDENT@4061..4067
                  PATH@4061..4067
                    Ident@4061..4067 "to_i16"
              ARG_LIST@4067..4069
                LParen@4067..4068 "("
                RParen@4068..4069 ")"
          RParen@4069..4070 ")"
          Whitespace@4070..4071 "\n"
      RBrace@4071..4072 "}"
      Whitespace@4072..4073 "\n"