FILE@0..308
  IMPL@0..104
    ImplKeyword@0..4 "impl"
    Whitespace@4..5 " "
    TYPE_TAPP@5..14
      PATH@5..14
        Ident@5..13 "ToString"
        Whitespace@13..14 " "
    ForKeyword@14..17 "for"
    Whitespace@17..18 " "
    TYPE_TUPLE@18..29
      TYPE_LIST@18..29
        LParen@18..19 "("
        TYPE_INT@19..22
          IntKeyword@19..22 "int"
        Comma@22..23 ","
        Whitespace@23..24 " "
        TYPE_INT@24..27
          IntKeyword@24..27 "int"
        RParen@27..28 ")"
        Whitespace@28..29 " "
    LBrace@29..30 "{"
    Whitespace@30..35 "\n    "
    FN@35..101
      FnKeyword@35..37 "fn"
      Whitespace@37..38 " "
      Ident@38..47 "to_string"
      PARAM_LIST@47..66
        LParen@47..48 "("
        PARAM@48..64
          Ident@48..52 "self"
          Colon@52..53 ":"
          Whitespace@53..54 " "
          TYPE_TUPLE@54..64
            TYPE_LIST@54..64
              LParen@54..55 "("
              TYPE_INT@55..58
                IntKeyword@55..58 "int"
              Comma@58..59 ","
              Whitespace@59..60 " "
              TYPE_INT@60..63
                IntKeyword@60..63 "int"
              RParen@63..64 ")"
        RParen@64..65 ")"
        Whitespace@65..66 " "
      Arrow@66..68 "->"
      Whitespace@68..69 " "
      TYPE_STRING@69..76
        StringKeyword@69..75 "string"
        Whitespace@75..76 " "
      BLOCK@76..101
        LBrace@76..77 "{"
        Whitespace@77..86 "\n        "
        EXPR_STR@86..99
          Str@86..94 "\"(?, ?)\""
          Whitespace@94..99 "\n    "
        RBrace@99..100 "}"
        Whitespace@100..101 "\n"
    RBrace@101..102 "}"
    Whitespace@102..104 "\n\n"
  FN@104..308
    FnKeyword@104..106 "fn"
    Whitespace@106..107 " "
    Ident@107..111 "main"
    PARAM_LIST@111..114
      LParen@111..112 "("
      RParen@112..113 ")"
      Whitespace@113..114 " "
    BLOCK@114..308
      LBrace@114..115 "{"
      Whitespace@115..120 "\n    "
      STMT_LET@120..137
        LetKeyword@120..123 "let"
        Whitespace@123..124 " "
        PATTERN_VARIABLE@124..126
          Ident@124..125 "x"
          Whitespace@125..126 " "
        Eq@126..127 "="
        Whitespace@127..128 " "
        EXPR_INT@128..131
          Int@128..131 "123"
        Semi@131..132 ";"
        Whitespace@132..137 "\n    "
      STMT_LET@137..182
        LetKeyword@137..140 "let"
        Whitespace@140..141 " "
        PATTERN_WILDCARD@141..143
          WildcardKeyword@141..142 "_"
          Whitespace@142..143 " "
        Eq@143..144 "="
        Whitespace@144..145 " "
        EXPR_CALL@145..176
          EXPR_IDENT@145..152
            PATH@145..152
              Ident@145..152 "println"
          ARG_LIST@152..176
            LParen@152..153 "("
            ARG@153..175
              EXPR_CALL@153..175
                EXPR_IDENT@153..172
                  PATH@153..172
                    Ident@153..161 "ToString"
                    ColonColon@161..163 "::"
                    Ident@163..172 "to_string"
                ARG_LIST@172..175
                  LParen@172..173 "("
                  ARG@173..174
                    EXPR_IDENT@173..174
                      PATH@173..174
                        Ident@173..174 "x"
                  RParen@174..175 ")"
            RParen@175..176 ")"
        Semi@176..177 ";"
        Whitespace@177..182 "\n    "
      STMT_LET@182..200
        LetKeyword@182..185 "let"
        Whitespace@185..186 " "
        PATTERN_VARIABLE@186..188
          Ident@186..187 "x"
          Whitespace@187..188 " "
        Eq@188..189 "="
        Whitespace@189..190 " "
        EXPR_BOOL@190..194
          TrueKeyword@190..194 "true"
        Semi@194..195 ";"
        Whitespace@195..200 "\n    "
      STMT_LET@200..245
        LetKeyword@200..203 "let"
        Whitespace@203..204 " "
        PATTERN_WILDCARD@204..206
          WildcardKeyword@204..205 "_"
          Whitespace@205..206 " "
        Eq@206..207 "="
        Whitespace@207..208 " "
        EXPR_CALL@208..239
          EXPR_IDENT@208..215
            PATH@208..215
              Ident@208..215 "println"
          ARG_LIST@215..239
            LParen@215..216 "("
            ARG@216..238
              EXPR_CALL@216..238
                EXPR_IDENT@216..235
                  PATH@216..235
                    Ident@216..224 "ToString"
                    ColonColon@224..226 "::"
                    Ident@226..235 "to_string"
                ARG_LIST@235..238
                  LParen@235..236 "("
                  ARG@236..237
                    EXPR_IDENT@236..237
                      PATH@236..237
                        Ident@236..237 "x"
                  RParen@237..238 ")"
            RParen@238..239 ")"
        Semi@239..240 ";"
        Whitespace@240..245 "\n    "
      STMT_LET@245..265
        LetKeyword@245..248 "let"
        Whitespace@248..249 " "
        PATTERN_VARIABLE@249..251
          Ident@249..250 "x"
          Whitespace@250..251 " "
        Eq@251..252 "="
        Whitespace@252..253 " "
        EXPR_TUPLE@253..259
          LParen@253..254 "("
          EXPR_INT@254..255
            Int@254..255 "3"
          Comma@255..256 ","
          Whitespace@256..257 " "
          EXPR_INT@257..258
            Int@257..258 "4"
          RParen@258..259 ")"
        Semi@259..260 ";"
        Whitespace@260..265 "\n    "
      STMT_LET@265..306
        LetKeyword@265..268 "let"
        Whitespace@268..269 " "
        PATTERN_WILDCARD@269..271
          WildcardKeyword@269..270 "_"
          Whitespace@270..271 " "
        Eq@271..272 "="
        Whitespace@272..273 " "
        EXPR_CALL@273..304
          EXPR_IDENT@273..280
            PATH@273..280
              Ident@273..280 "println"
          ARG_LIST@280..304
            LParen@280..281 "("
            ARG@281..303
              EXPR_CALL@281..303
                EXPR_IDENT@281..300
                  PATH@281..300
                    Ident@281..289 "ToString"
                    ColonColon@289..291 "::"
                    Ident@291..300 "to_string"
                ARG_LIST@300..303
                  LParen@300..301 "("
                  ARG@301..302
                    EXPR_IDENT@301..302
                      PATH@301..302
                        Ident@301..302 "x"
                  RParen@302..303 ")"
            RParen@303..304 ")"
        Semi@304..305 ";"
        Whitespace@305..306 "\n"
      RBrace@306..307 "}"
      Whitespace@307..308 "\n"