FILE@0..316
  IMPL@0..112
    ImplKeyword@0..4 "impl"
    Whitespace@4..5 " "
    TYPE_TAPP@5..14
      PATH@5..14
        Ident@5..13 "ToString"
        Whitespace@13..14 " "
    ForKeyword@14..17 "for"
    Whitespace@17..18 " "
    TYPE_TUPLE@18..33
      TYPE_LIST@18..33
        LParen@18..19 "("
        TYPE_INT@19..24
          IsizeKeyword@19..24 "isize"
        Comma@24..25 ","
        Whitespace@25..26 " "
        TYPE_INT@26..31
          IsizeKeyword@26..31 "isize"
        RParen@31..32 ")"
        Whitespace@32..33 " "
    LBrace@33..34 "{"
    Whitespace@34..39 "\n    "
    FN@39..109
      FnKeyword@39..41 "fn"
      Whitespace@41..42 " "
      Ident@42..51 "to_string"
      PARAM_LIST@51..74
        LParen@51..52 "("
        PARAM@52..72
          Ident@52..56 "self"
          Colon@56..57 ":"
          Whitespace@57..58 " "
          TYPE_TUPLE@58..72
            TYPE_LIST@58..72
              LParen@58..59 "("
              TYPE_INT@59..64
                IsizeKeyword@59..64 "isize"
              Comma@64..65 ","
              Whitespace@65..66 " "
              TYPE_INT@66..71
                IsizeKeyword@66..71 "isize"
              RParen@71..72 ")"
        RParen@72..73 ")"
        Whitespace@73..74 " "
      Arrow@74..76 "->"
      Whitespace@76..77 " "
      TYPE_STRING@77..84
        StringKeyword@77..83 "string"
        Whitespace@83..84 " "
      BLOCK@84..109
        LBrace@84..85 "{"
        Whitespace@85..94 "\n        "
        EXPR_STR@94..107
          Str@94..102 "\"(?, ?)\""
          Whitespace@102..107 "\n    "
        RBrace@107..108 "}"
        Whitespace@108..109 "\n"
    RBrace@109..110 "}"
    Whitespace@110..112 "\n\n"
  FN@112..316
    FnKeyword@112..114 "fn"
    Whitespace@114..115 " "
    Ident@115..119 "main"
    PARAM_LIST@119..122
      LParen@119..120 "("
      RParen@120..121 ")"
      Whitespace@121..122 " "
    BLOCK@122..316
      LBrace@122..123 "{"
      Whitespace@123..128 "\n    "
      STMT_LET@128..145
        LetKeyword@128..131 "let"
        Whitespace@131..132 " "
        PATTERN_VARIABLE@132..134
          Ident@132..133 "x"
          Whitespace@133..134 " "
        Eq@134..135 "="
        Whitespace@135..136 " "
        EXPR_INT@136..139
          Int@136..139 "123"
        Semi@139..140 ";"
        Whitespace@140..145 "\n    "
      STMT_LET@145..190
        LetKeyword@145..148 "let"
        Whitespace@148..149 " "
        PATTERN_WILDCARD@149..151
          WildcardKeyword@149..150 "_"
          Whitespace@150..151 " "
        Eq@151..152 "="
        Whitespace@152..153 " "
        EXPR_CALL@153..184
          EXPR_IDENT@153..160
            PATH@153..160
              Ident@153..160 "println"
          ARG_LIST@160..184
            LParen@160..161 "("
            ARG@161..183
              EXPR_CALL@161..183
                EXPR_IDENT@161..180
                  PATH@161..180
                    Ident@161..169 "ToString"
                    ColonColon@169..171 "::"
                    Ident@171..180 "to_string"
                ARG_LIST@180..183
                  LParen@180..181 "("
                  ARG@181..182
                    EXPR_IDENT@181..182
                      PATH@181..182
                        Ident@181..182 "x"
                  RParen@182..183 ")"
            RParen@183..184 ")"
        Semi@184..185 ";"
        Whitespace@185..190 "\n    "
      STMT_LET@190..208
        LetKeyword@190..193 "let"
        Whitespace@193..194 " "
        PATTERN_VARIABLE@194..196
          Ident@194..195 "x"
          Whitespace@195..196 " "
        Eq@196..197 "="
        Whitespace@197..198 " "
        EXPR_BOOL@198..202
          TrueKeyword@198..202 "true"
        Semi@202..203 ";"
        Whitespace@203..208 "\n    "
      STMT_LET@208..253
        LetKeyword@208..211 "let"
        Whitespace@211..212 " "
        PATTERN_WILDCARD@212..214
          WildcardKeyword@212..213 "_"
          Whitespace@213..214 " "
        Eq@214..215 "="
        Whitespace@215..216 " "
        EXPR_CALL@216..247
          EXPR_IDENT@216..223
            PATH@216..223
              Ident@216..223 "println"
          ARG_LIST@223..247
            LParen@223..224 "("
            ARG@224..246
              EXPR_CALL@224..246
                EXPR_IDENT@224..243
                  PATH@224..243
                    Ident@224..232 "ToString"
                    ColonColon@232..234 "::"
                    Ident@234..243 "to_string"
                ARG_LIST@243..246
                  LParen@243..244 "("
                  ARG@244..245
                    EXPR_IDENT@244..245
                      PATH@244..245
                        Ident@244..245 "x"
                  RParen@245..246 ")"
            RParen@246..247 ")"
        Semi@247..248 ";"
        Whitespace@248..253 "\n    "
      STMT_LET@253..273
        LetKeyword@253..256 "let"
        Whitespace@256..257 " "
        PATTERN_VARIABLE@257..259
          Ident@257..258 "x"
          Whitespace@258..259 " "
        Eq@259..260 "="
        Whitespace@260..261 " "
        EXPR_TUPLE@261..267
          LParen@261..262 "("
          EXPR_INT@262..263
            Int@262..263 "3"
          Comma@263..264 ","
          Whitespace@264..265 " "
          EXPR_INT@265..266
            Int@265..266 "4"
          RParen@266..267 ")"
        Semi@267..268 ";"
        Whitespace@268..273 "\n    "
      STMT_LET@273..314
        LetKeyword@273..276 "let"
        Whitespace@276..277 " "
        PATTERN_WILDCARD@277..279
          WildcardKeyword@277..278 "_"
          Whitespace@278..279 " "
        Eq@279..280 "="
        Whitespace@280..281 " "
        EXPR_CALL@281..312
          EXPR_IDENT@281..288
            PATH@281..288
              Ident@281..288 "println"
          ARG_LIST@288..312
            LParen@288..289 "("
            ARG@289..311
              EXPR_CALL@289..311
                EXPR_IDENT@289..308
                  PATH@289..308
                    Ident@289..297 "ToString"
                    ColonColon@297..299 "::"
                    Ident@299..308 "to_string"
                ARG_LIST@308..311
                  LParen@308..309 "("
                  ARG@309..310
                    EXPR_IDENT@309..310
                      PATH@309..310
                        Ident@309..310 "x"
                  RParen@310..311 ")"
            RParen@311..312 ")"
        Semi@312..313 ";"
        Whitespace@313..314 "\n"
      RBrace@314..315 "}"
      Whitespace@315..316 "\n"