FILE@0..310
  IMPL@0..96
    ImplKeyword@0..4 "impl"
    Whitespace@4..5 " "
    TYPE_TAPP@5..14
      PATH@5..14
        Ident@5..13 "ToString"
        Whitespace@13..14 " "
    ForKeyword@14..17 "for"
    Whitespace@17..18 " "
    TYPE_TUPLE@18..29
      TYPE_LIST@18..29
        LParen@18..19 "("
        TYPE_INT@19..22
          IntKeyword@19..22 "int"
        Comma@22..23 ","
        Whitespace@23..24 " "
        TYPE_INT@24..27
          IntKeyword@24..27 "int"
        RParen@27..28 ")"
        Whitespace@28..29 " "
    LBrace@29..30 "{"
    Whitespace@30..33 "\n  "
    FN@33..93
      FnKeyword@33..35 "fn"
      Whitespace@35..36 " "
      Ident@36..45 "to_string"
      PARAM_LIST@45..64
        LParen@45..46 "("
        PARAM@46..62
          Ident@46..50 "self"
          Colon@50..51 ":"
          Whitespace@51..52 " "
          TYPE_TUPLE@52..62
            TYPE_LIST@52..62
              LParen@52..53 "("
              TYPE_INT@53..56
                IntKeyword@53..56 "int"
              Comma@56..57 ","
              Whitespace@57..58 " "
              TYPE_INT@58..61
                IntKeyword@58..61 "int"
              RParen@61..62 ")"
        RParen@62..63 ")"
        Whitespace@63..64 " "
      Arrow@64..66 "->"
      Whitespace@66..67 " "
      TYPE_STRING@67..74
        StringKeyword@67..73 "string"
        Whitespace@73..74 " "
      BLOCK@74..93
        LBrace@74..75 "{"
        Whitespace@75..80 "\n    "
        EXPR_STR@80..91
          Str@80..88 "\"(?, ?)\""
          Whitespace@88..91 "\n  "
        RBrace@91..92 "}"
        Whitespace@92..93 "\n"
    RBrace@93..94 "}"
    Whitespace@94..96 "\n\n"
  FN@96..310
    FnKeyword@96..98 "fn"
    Whitespace@98..99 " "
    Ident@99..103 "main"
    PARAM_LIST@103..106
      LParen@103..104 "("
      RParen@104..105 ")"
      Whitespace@105..106 " "
    BLOCK@106..310
      LBrace@106..107 "{"
      Whitespace@107..112 "\n    "
      STMT_LET@112..129
        LetKeyword@112..115 "let"
        Whitespace@115..116 " "
        PATTERN_VARIABLE@116..118
          Ident@116..117 "x"
          Whitespace@117..118 " "
        Eq@118..119 "="
        Whitespace@119..120 " "
        EXPR_INT@120..123
          Int@120..123 "123"
        Semi@123..124 ";"
        Whitespace@124..129 "\n    "
      STMT_LET@129..175
        LetKeyword@129..132 "let"
        Whitespace@132..133 " "
        PATTERN_WILDCARD@133..135
          WildcardKeyword@133..134 "_"
          Whitespace@134..135 " "
        Eq@135..136 "="
        Whitespace@136..137 " "
        EXPR_CALL@137..168
          EXPR_IDENT@137..144
            PATH@137..144
              Ident@137..144 "println"
          ARG_LIST@144..168
            LParen@144..145 "("
            ARG@145..167
              EXPR_CALL@145..167
                EXPR_IDENT@145..164
                  PATH@145..164
                    Ident@145..153 "ToString"
                    ColonColon@153..155 "::"
                    Ident@155..164 "to_string"
                ARG_LIST@164..167
                  LParen@164..165 "("
                  ARG@165..166
                    EXPR_IDENT@165..166
                      PATH@165..166
                        Ident@165..166 "x"
                  RParen@166..167 ")"
            RParen@167..168 ")"
        Semi@168..169 ";"
        Whitespace@169..175 "\n\n    "
      STMT_LET@175..193
        LetKeyword@175..178 "let"
        Whitespace@178..179 " "
        PATTERN_VARIABLE@179..181
          Ident@179..180 "x"
          Whitespace@180..181 " "
        Eq@181..182 "="
        Whitespace@182..183 " "
        EXPR_BOOL@183..187
          TrueKeyword@183..187 "true"
        Semi@187..188 ";"
        Whitespace@188..193 "\n    "
      STMT_LET@193..239
        LetKeyword@193..196 "let"
        Whitespace@196..197 " "
        PATTERN_WILDCARD@197..199
          WildcardKeyword@197..198 "_"
          Whitespace@198..199 " "
        Eq@199..200 "="
        Whitespace@200..201 " "
        EXPR_CALL@201..232
          EXPR_IDENT@201..208
            PATH@201..208
              Ident@201..208 "println"
          ARG_LIST@208..232
            LParen@208..209 "("
            ARG@209..231
              EXPR_CALL@209..231
                EXPR_IDENT@209..228
                  PATH@209..228
                    Ident@209..217 "ToString"
                    ColonColon@217..219 "::"
                    Ident@219..228 "to_string"
                ARG_LIST@228..231
                  LParen@228..229 "("
                  ARG@229..230
                    EXPR_IDENT@229..230
                      PATH@229..230
                        Ident@229..230 "x"
                  RParen@230..231 ")"
            RParen@231..232 ")"
        Semi@232..233 ";"
        Whitespace@233..239 "\n\n    "
      STMT_LET@239..259
        LetKeyword@239..242 "let"
        Whitespace@242..243 " "
        PATTERN_VARIABLE@243..245
          Ident@243..244 "x"
          Whitespace@244..245 " "
        Eq@245..246 "="
        Whitespace@246..247 " "
        EXPR_TUPLE@247..253
          LParen@247..248 "("
          EXPR_INT@248..249
            Int@248..249 "3"
          Comma@249..250 ","
          Whitespace@250..251 " "
          EXPR_INT@251..252
            Int@251..252 "4"
          RParen@252..253 ")"
        Semi@253..254 ";"
        Whitespace@254..259 "\n    "
      STMT_LET@259..305
        LetKeyword@259..262 "let"
        Whitespace@262..263 " "
        PATTERN_WILDCARD@263..265
          WildcardKeyword@263..264 "_"
          Whitespace@264..265 " "
        Eq@265..266 "="
        Whitespace@266..267 " "
        EXPR_CALL@267..298
          EXPR_IDENT@267..274
            PATH@267..274
              Ident@267..274 "println"
          ARG_LIST@274..298
            LParen@274..275 "("
            ARG@275..297
              EXPR_CALL@275..297
                EXPR_IDENT@275..294
                  PATH@275..294
                    Ident@275..283 "ToString"
                    ColonColon@283..285 "::"
                    Ident@285..294 "to_string"
                ARG_LIST@294..297
                  LParen@294..295 "("
                  ARG@295..296
                    EXPR_IDENT@295..296
                      PATH@295..296
                        Ident@295..296 "x"
                  RParen@296..297 ")"
            RParen@297..298 ")"
        Semi@298..299 ";"
        Whitespace@299..305 "\n\n    "
      EXPR_UNIT@305..308
        LParen@305..306 "("
        RParen@306..307 ")"
        Whitespace@307..308 "\n"
      RBrace@308..309 "}"
      Whitespace@309..310 "\n"