FILE@0..306
  CONST@0..24
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..10 "base"
    Colon@10..11 ":"
    Whitespace@11..12 " "
    TYPE_INT@12..16
      IntKeyword@12..15 "int"
      Whitespace@15..16 " "
    Eq@16..17 "="
    Whitespace@17..18 " "
    EXPR_INT@18..22
      Int@18..22 "0x10"
    Semi@22..23 ";"
    Whitespace@23..24 "\n"
  CONST@24..59
    ConstKeyword@24..29 "const"
    Whitespace@29..30 " "
    Ident@30..36 "answer"
    Colon@36..37 ":"
    Whitespace@37..38 " "
    TYPE_INT@38..42
      IntKeyword@38..41 "int"
      Whitespace@41..42 " "
    Eq@42..43 "="
    Whitespace@43..44 " "
    EXPR_BINARY@44..57
      EXPR_BINARY@44..53
        EXPR_IDENT@44..49
          PATH@44..49
            Ident@44..48 "base"
            Whitespace@48..49 " "
        Star@49..50 "*"
        Whitespace@50..51 " "
        EXPR_INT@51..53
          Int@51..52 "2"
          Whitespace@52..53 " "
      Plus@53..54 "+"
      Whitespace@54..55 " "
      EXPR_INT@55..57
        Int@55..57 "10"
    Semi@57..58 ";"
    Whitespace@58..59 "\n"
  CONST@59..87
    ConstKeyword@59..64 "const"
    Whitespace@64..65 " "
    Ident@65..69 "mask"
    Colon@69..70 ":"
    Whitespace@70..71 " "
    TYPE_TAPP@71..76
      PATH@71..76
        Ident@71..75 "byte"
        Whitespace@75..76 " "
    Eq@76..77 "="
    Whitespace@77..78 " "
    EXPR_BYTE@78..85
      ByteCharLit@78..85 "b'\\xF0'"
    Semi@85..86 ";"
    Whitespace@86..87 "\n"
  CONST@87..135
    ConstKeyword@87..92 "const"
    Whitespace@92..93 " "
    Ident@93..101 "greeting"
    Colon@101..102 ":"
    Whitespace@102..103 " "
    TYPE_STRING@103..110
      StringKeyword@103..109 "string"
      Whitespace@109..110 " "
    Eq@110..111 "="
    Whitespace@111..112 " "
    EXPR_BINARY@112..133
      EXPR_STR@112..123
        Str@112..122 "\"constant\""
        Whitespace@122..123 " "
      Plus@123..124 "+"
      Whitespace@124..125 " "
      EXPR_STR@125..133
        Str@125..133 "\" value\""
    Semi@133..134 ";"
    Whitespace@134..135 "\n"
  CONST@135..164
    ConstKeyword@135..140 "const"
    Whitespace@140..141 " "
    Ident@141..148 "enabled"
    Colon@148..149 ":"
    Whitespace@149..150 " "
    TYPE_BOOL@150..155
      BoolKeyword@150..154 "bool"
      Whitespace@154..155 " "
    Eq@155..156 "="
    Whitespace@156..157 " "
    EXPR_BOOL@157..161
      TrueKeyword@157..161 "true"
    Semi@161..162 ";"
    Whitespace@162..164 "\n\n"
  FN@164..306
    FnKeyword@164..166 "fn"
    Whitespace@166..167 " "
    Ident@167..171 "main"
    PARAM_LIST@171..174
      LParen@171..172 "("
      RParen@172..173 ")"
      Whitespace@173..174 " "
    Arrow@174..176 "->"
    Whitespace@176..177 " "
    TYPE_UNIT@177..182
      UnitKeyword@177..181 "unit"
      Whitespace@181..182 " "
    BLOCK@182..306
      LBrace@182..183 "{"
      Whitespace@183..188 "\n    "
      STMT_EXPR@188..221
        EXPR_CALL@188..215
          EXPR_IDENT@188..195
            PATH@188..195
              Ident@188..195 "println"
          ARG_LIST@195..215
            LParen@195..196 "("
            ARG@196..214
              EXPR_CALL@196..214
                EXPR_BINARY@196..212
                  EXPR_IDENT@196..202
                    PATH@196..202
                      Ident@196..202 "answer"
                  Dot@202..203 "."
                  EXPR_IDENT@203..212
                    PATH@203..212
                      Ident@203..212 "to_string"
                ARG_LIST@212..214
                  LParen@212..213 "("
                  RParen@213..214 ")"
            RParen@214..215 ")"
        Semi@215..216 ";"
        Whitespace@216..221 "\n    "
      STMT_EXPR@221..252
        EXPR_CALL@221..246
          EXPR_IDENT@221..228
            PATH@221..228
              Ident@221..228 "println"
          ARG_LIST@228..246
            LParen@228..229 "("
            ARG@229..245
              EXPR_CALL@229..245
                EXPR_BINARY@229..243
                  EXPR_IDENT@229..233
                    PATH@229..233
                      Ident@229..233 "mask"
                  Dot@233..234 "."
                  EXPR_IDENT@234..243
                    PATH@234..243
                      Ident@234..243 "to_string"
                ARG_LIST@243..245
                  LParen@243..244 "("
                  RParen@244..245 ")"
            RParen@245..246 ")"
        Semi@246..247 ";"
        Whitespace@247..252 "\n    "
      STMT_EXPR@252..275
        EXPR_CALL@252..269
          EXPR_IDENT@252..259
            PATH@252..259
              Ident@252..259 "println"
          ARG_LIST@259..269
            LParen@259..260 "("
            ARG@260..268
              EXPR_IDENT@260..268
                PATH@260..268
                  Ident@260..268 "greeting"
            RParen@268..269 ")"
        Semi@269..270 ";"
        Whitespace@270..275 "\n    "
      EXPR_CALL@275..304
        EXPR_IDENT@275..282
          PATH@275..282
            Ident@275..282 "println"
        ARG_LIST@282..304
          LParen@282..283 "("
          ARG@283..302
            EXPR_CALL@283..302
              EXPR_BINARY@283..300
                EXPR_IDENT@283..290
                  PATH@283..290
                    Ident@283..290 "enabled"
                Dot@290..291 "."
                EXPR_IDENT@291..300
                  PATH@291..300
                    Ident@291..300 "to_string"
              ARG_LIST@300..302
                LParen@300..301 "("
                RParen@301..302 ")"
          RParen@302..303 ")"
          Whitespace@303..304 "\n"
      RBrace@304..305 "}"
      Whitespace@305..306 "\n"