FILE@0..312
  CONST@0..27
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..10 "BASE"
    Colon@10..11 ":"
    Whitespace@11..12 " "
    TYPE_INT@12..18
      IsizeKeyword@12..17 "isize"
      Whitespace@17..18 " "
    Eq@18..19 "="
    Whitespace@19..20 " "
    EXPR_INT@20..24
      Int@20..24 "0x10"
    Semi@24..25 ";"
    Whitespace@25..27 "\n\n"
  CONST@27..65
    ConstKeyword@27..32 "const"
    Whitespace@32..33 " "
    Ident@33..39 "ANSWER"
    Colon@39..40 ":"
    Whitespace@40..41 " "
    TYPE_INT@41..47
      IsizeKeyword@41..46 "isize"
      Whitespace@46..47 " "
    Eq@47..48 "="
    Whitespace@48..49 " "
    EXPR_BINARY@49..62
      EXPR_BINARY@49..58
        EXPR_IDENT@49..54
          PATH@49..54
            Ident@49..53 "BASE"
            Whitespace@53..54 " "
        Star@54..55 "*"
        Whitespace@55..56 " "
        EXPR_INT@56..58
          Int@56..57 "2"
          Whitespace@57..58 " "
      Plus@58..59 "+"
      Whitespace@59..60 " "
      EXPR_INT@60..62
        Int@60..62 "10"
    Semi@62..63 ";"
    Whitespace@63..65 "\n\n"
  CONST@65..94
    ConstKeyword@65..70 "const"
    Whitespace@70..71 " "
    Ident@71..75 "MASK"
    Colon@75..76 ":"
    Whitespace@76..77 " "
    TYPE_TAPP@77..82
      PATH@77..82
        Ident@77..81 "byte"
        Whitespace@81..82 " "
    Eq@82..83 "="
    Whitespace@83..84 " "
    EXPR_BYTE@84..91
      ByteCharLit@84..91 "b'\\xF0'"
    Semi@91..92 ";"
    Whitespace@92..94 "\n\n"
  CONST@94..143
    ConstKeyword@94..99 "const"
    Whitespace@99..100 " "
    Ident@100..108 "GREETING"
    Colon@108..109 ":"
    Whitespace@109..110 " "
    TYPE_STRING@110..117
      StringKeyword@110..116 "string"
      Whitespace@116..117 " "
    Eq@117..118 "="
    Whitespace@118..119 " "
    EXPR_BINARY@119..140
      EXPR_STR@119..130
        Str@119..129 "\"constant\""
        Whitespace@129..130 " "
      Plus@130..131 "+"
      Whitespace@131..132 " "
      EXPR_STR@132..140
        Str@132..140 "\" value\""
    Semi@140..141 ";"
    Whitespace@141..143 "\n\n"
  CONST@143..172
    ConstKeyword@143..148 "const"
    Whitespace@148..149 " "
    Ident@149..156 "ENABLED"
    Colon@156..157 ":"
    Whitespace@157..158 " "
    TYPE_BOOL@158..163
      BoolKeyword@158..162 "bool"
      Whitespace@162..163 " "
    Eq@163..164 "="
    Whitespace@164..165 " "
    EXPR_BOOL@165..169
      TrueKeyword@165..169 "true"
    Semi@169..170 ";"
    Whitespace@170..172 "\n\n"
  FN@172..312
    FnKeyword@172..174 "fn"
    Whitespace@174..175 " "
    Ident@175..179 "main"
    PARAM_LIST@179..182
      LParen@179..180 "("
      RParen@180..181 ")"
      Whitespace@181..182 " "
    Arrow@182..184 "->"
    Whitespace@184..185 " "
    TYPE_TUPLE@185..188
      TYPE_LIST@185..188
        LParen@185..186 "("
        RParen@186..187 ")"
        Whitespace@187..188 " "
    BLOCK@188..312
      LBrace@188..189 "{"
      Whitespace@189..194 "\n    "
      STMT_EXPR@194..227
        EXPR_CALL@194..221
          EXPR_IDENT@194..201
            PATH@194..201
              Ident@194..201 "println"
          ARG_LIST@201..221
            LParen@201..202 "("
            ARG@202..220
              EXPR_CALL@202..220
                EXPR_BINARY@202..218
                  EXPR_IDENT@202..208
                    PATH@202..208
                      Ident@202..208 "ANSWER"
                  Dot@208..209 "."
                  EXPR_IDENT@209..218
                    PATH@209..218
                      Ident@209..218 "to_string"
                ARG_LIST@218..220
                  LParen@218..219 "("
                  RParen@219..220 ")"
            RParen@220..221 ")"
        Semi@221..222 ";"
        Whitespace@222..227 "\n    "
      STMT_EXPR@227..258
        EXPR_CALL@227..252
          EXPR_IDENT@227..234
            PATH@227..234
              Ident@227..234 "println"
          ARG_LIST@234..252
            LParen@234..235 "("
            ARG@235..251
              EXPR_CALL@235..251
                EXPR_BINARY@235..249
                  EXPR_IDENT@235..239
                    PATH@235..239
                      Ident@235..239 "MASK"
                  Dot@239..240 "."
                  EXPR_IDENT@240..249
                    PATH@240..249
                      Ident@240..249 "to_string"
                ARG_LIST@249..251
                  LParen@249..250 "("
                  RParen@250..251 ")"
            RParen@251..252 ")"
        Semi@252..253 ";"
        Whitespace@253..258 "\n    "
      STMT_EXPR@258..281
        EXPR_CALL@258..275
          EXPR_IDENT@258..265
            PATH@258..265
              Ident@258..265 "println"
          ARG_LIST@265..275
            LParen@265..266 "("
            ARG@266..274
              EXPR_IDENT@266..274
                PATH@266..274
                  Ident@266..274 "GREETING"
            RParen@274..275 ")"
        Semi@275..276 ";"
        Whitespace@276..281 "\n    "
      EXPR_CALL@281..310
        EXPR_IDENT@281..288
          PATH@281..288
            Ident@281..288 "println"
        ARG_LIST@288..310
          LParen@288..289 "("
          ARG@289..308
            EXPR_CALL@289..308
              EXPR_BINARY@289..306
                EXPR_IDENT@289..296
                  PATH@289..296
                    Ident@289..296 "ENABLED"
                Dot@296..297 "."
                EXPR_IDENT@297..306
                  PATH@297..306
                    Ident@297..306 "to_string"
              ARG_LIST@306..308
                LParen@306..307 "("
                RParen@307..308 ")"
          RParen@308..309 ")"
          Whitespace@309..310 "\n"
      RBrace@310..311 "}"
      Whitespace@311..312 "\n"