FILE@0..310
  CONST@0..25
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..10 "BASE"
    Colon@10..11 ":"
    Whitespace@11..12 " "
    TYPE_INT@12..16
      IntKeyword@12..15 "int"
      Whitespace@15..16 " "
    Eq@16..17 "="
    Whitespace@17..18 " "
    EXPR_INT@18..22
      Int@18..22 "0x10"
    Semi@22..23 ";"
    Whitespace@23..25 "\n\n"
  CONST@25..61
    ConstKeyword@25..30 "const"
    Whitespace@30..31 " "
    Ident@31..37 "ANSWER"
    Colon@37..38 ":"
    Whitespace@38..39 " "
    TYPE_INT@39..43
      IntKeyword@39..42 "int"
      Whitespace@42..43 " "
    Eq@43..44 "="
    Whitespace@44..45 " "
    EXPR_BINARY@45..58
      EXPR_BINARY@45..54
        EXPR_IDENT@45..50
          PATH@45..50
            Ident@45..49 "BASE"
            Whitespace@49..50 " "
        Star@50..51 "*"
        Whitespace@51..52 " "
        EXPR_INT@52..54
          Int@52..53 "2"
          Whitespace@53..54 " "
      Plus@54..55 "+"
      Whitespace@55..56 " "
      EXPR_INT@56..58
        Int@56..58 "10"
    Semi@58..59 ";"
    Whitespace@59..61 "\n\n"
  CONST@61..90
    ConstKeyword@61..66 "const"
    Whitespace@66..67 " "
    Ident@67..71 "MASK"
    Colon@71..72 ":"
    Whitespace@72..73 " "
    TYPE_TAPP@73..78
      PATH@73..78
        Ident@73..77 "byte"
        Whitespace@77..78 " "
    Eq@78..79 "="
    Whitespace@79..80 " "
    EXPR_BYTE@80..87
      ByteCharLit@80..87 "b'\\xF0'"
    Semi@87..88 ";"
    Whitespace@88..90 "\n\n"
  CONST@90..139
    ConstKeyword@90..95 "const"
    Whitespace@95..96 " "
    Ident@96..104 "GREETING"
    Colon@104..105 ":"
    Whitespace@105..106 " "
    TYPE_STRING@106..113
      StringKeyword@106..112 "string"
      Whitespace@112..113 " "
    Eq@113..114 "="
    Whitespace@114..115 " "
    EXPR_BINARY@115..136
      EXPR_STR@115..126
        Str@115..125 "\"constant\""
        Whitespace@125..126 " "
      Plus@126..127 "+"
      Whitespace@127..128 " "
      EXPR_STR@128..136
        Str@128..136 "\" value\""
    Semi@136..137 ";"
    Whitespace@137..139 "\n\n"
  CONST@139..168
    ConstKeyword@139..144 "const"
    Whitespace@144..145 " "
    Ident@145..152 "ENABLED"
    Colon@152..153 ":"
    Whitespace@153..154 " "
    TYPE_BOOL@154..159
      BoolKeyword@154..158 "bool"
      Whitespace@158..159 " "
    Eq@159..160 "="
    Whitespace@160..161 " "
    EXPR_BOOL@161..165
      TrueKeyword@161..165 "true"
    Semi@165..166 ";"
    Whitespace@166..168 "\n\n"
  FN@168..310
    FnKeyword@168..170 "fn"
    Whitespace@170..171 " "
    Ident@171..175 "main"
    PARAM_LIST@175..178
      LParen@175..176 "("
      RParen@176..177 ")"
      Whitespace@177..178 " "
    Arrow@178..180 "->"
    Whitespace@180..181 " "
    TYPE_UNIT@181..186
      UnitKeyword@181..185 "unit"
      Whitespace@185..186 " "
    BLOCK@186..310
      LBrace@186..187 "{"
      Whitespace@187..192 "\n    "
      STMT_EXPR@192..225
        EXPR_CALL@192..219
          EXPR_IDENT@192..199
            PATH@192..199
              Ident@192..199 "println"
          ARG_LIST@199..219
            LParen@199..200 "("
            ARG@200..218
              EXPR_CALL@200..218
                EXPR_BINARY@200..216
                  EXPR_IDENT@200..206
                    PATH@200..206
                      Ident@200..206 "ANSWER"
                  Dot@206..207 "."
                  EXPR_IDENT@207..216
                    PATH@207..216
                      Ident@207..216 "to_string"
                ARG_LIST@216..218
                  LParen@216..217 "("
                  RParen@217..218 ")"
            RParen@218..219 ")"
        Semi@219..220 ";"
        Whitespace@220..225 "\n    "
      STMT_EXPR@225..256
        EXPR_CALL@225..250
          EXPR_IDENT@225..232
            PATH@225..232
              Ident@225..232 "println"
          ARG_LIST@232..250
            LParen@232..233 "("
            ARG@233..249
              EXPR_CALL@233..249
                EXPR_BINARY@233..247
                  EXPR_IDENT@233..237
                    PATH@233..237
                      Ident@233..237 "MASK"
                  Dot@237..238 "."
                  EXPR_IDENT@238..247
                    PATH@238..247
                      Ident@238..247 "to_string"
                ARG_LIST@247..249
                  LParen@247..248 "("
                  RParen@248..249 ")"
            RParen@249..250 ")"
        Semi@250..251 ";"
        Whitespace@251..256 "\n    "
      STMT_EXPR@256..279
        EXPR_CALL@256..273
          EXPR_IDENT@256..263
            PATH@256..263
              Ident@256..263 "println"
          ARG_LIST@263..273
            LParen@263..264 "("
            ARG@264..272
              EXPR_IDENT@264..272
                PATH@264..272
                  Ident@264..272 "GREETING"
            RParen@272..273 ")"
        Semi@273..274 ";"
        Whitespace@274..279 "\n    "
      EXPR_CALL@279..308
        EXPR_IDENT@279..286
          PATH@279..286
            Ident@279..286 "println"
        ARG_LIST@286..308
          LParen@286..287 "("
          ARG@287..306
            EXPR_CALL@287..306
              EXPR_BINARY@287..304
                EXPR_IDENT@287..294
                  PATH@287..294
                    Ident@287..294 "ENABLED"
                Dot@294..295 "."
                EXPR_IDENT@295..304
                  PATH@295..304
                    Ident@295..304 "to_string"
              ARG_LIST@304..306
                LParen@304..305 "("
                RParen@305..306 ")"
          RParen@306..307 ")"
          Whitespace@307..308 "\n"
      RBrace@308..309 "}"
      Whitespace@309..310 "\n"