FILE@0..631
  ENUM@0..48
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Light"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..48
      VARIANT@17..20
        Ident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..32
        Ident@26..32 "Yellow"
      Comma@32..33 ","
      Whitespace@33..38 "\n    "
      VARIANT@38..43
        Ident@38..43 "Green"
      Comma@43..44 ","
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  ENUM@48..83
    EnumKeyword@48..52 "enum"
    Whitespace@52..53 " "
    Ident@53..58 "Paint"
    Whitespace@58..59 " "
    LBrace@59..60 "{"
    Whitespace@60..65 "\n    "
    VARIANT_LIST@65..83
      VARIANT@65..68
        Ident@65..68 "Red"
      Comma@68..69 ","
      Whitespace@69..74 "\n    "
      VARIANT@74..78
        Ident@74..78 "Blue"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..232
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..96 "light_code"
    PARAM_LIST@96..111
      LParen@96..97 "("
      PARAM@97..109
        Ident@97..102 "light"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_TAPP@104..109
          PATH@104..109
            Ident@104..109 "Light"
      RParen@109..110 ")"
      Whitespace@110..111 " "
    Arrow@111..113 "->"
    Whitespace@113..114 " "
    TYPE_INT32@114..120
      Int32Keyword@114..119 "int32"
      Whitespace@119..120 " "
    BLOCK@120..232
      LBrace@120..121 "{"
      Whitespace@121..126 "\n    "
      EXPR_MATCH@126..229
        MatchKeyword@126..131 "match"
        Whitespace@131..132 " "
        EXPR_IDENT@132..138
          PATH@132..138
            Ident@132..137 "light"
            Whitespace@137..138 " "
        MATCH_ARM_LIST@138..229
          LBrace@138..139 "{"
          Whitespace@139..148 "\n        "
          MATCH_ARM@148..164
            PATTERN_CONSTR@148..159
              PATH@148..159
                Ident@148..153 "Light"
                ColonColon@153..155 "::"
                Ident@155..158 "Red"
                Whitespace@158..159 " "
            FatArrow@159..161 "=>"
            Whitespace@161..162 " "
            EXPR_INT@162..164
              Int@162..164 "10"
          Comma@164..165 ","
          Whitespace@165..174 "\n        "
          MATCH_ARM@174..193
            PATTERN_CONSTR@174..188
              PATH@174..188
                Ident@174..179 "Light"
                ColonColon@179..181 "::"
                Ident@181..187 "Yellow"
                Whitespace@187..188 " "
            FatArrow@188..190 "=>"
            Whitespace@190..191 " "
            EXPR_INT@191..193
              Int@191..193 "20"
          Comma@193..194 ","
          Whitespace@194..203 "\n        "
          MATCH_ARM@203..221
            PATTERN_CONSTR@203..216
              PATH@203..216
                Ident@203..208 "Light"
                ColonColon@208..210 "::"
                Ident@210..215 "Green"
                Whitespace@215..216 " "
            FatArrow@216..218 "=>"
            Whitespace@218..219 " "
            EXPR_INT@219..221
              Int@219..221 "30"
          Comma@221..222 ","
          Whitespace@222..227 "\n    "
          RBrace@227..228 "}"
          Whitespace@228..229 "\n"
      RBrace@229..230 "}"
      Whitespace@230..232 "\n\n"
  FN@232..349
    FnKeyword@232..234 "fn"
    Whitespace@234..235 " "
    Ident@235..245 "paint_code"
    PARAM_LIST@245..260
      LParen@245..246 "("
      PARAM@246..258
        Ident@246..251 "paint"
        Colon@251..252 ":"
        Whitespace@252..253 " "
        TYPE_TAPP@253..258
          PATH@253..258
            Ident@253..258 "Paint"
      RParen@258..259 ")"
      Whitespace@259..260 " "
    Arrow@260..262 "->"
    Whitespace@262..263 " "
    TYPE_INT32@263..269
      Int32Keyword@263..268 "int32"
      Whitespace@268..269 " "
    BLOCK@269..349
      LBrace@269..270 "{"
      Whitespace@270..275 "\n    "
      EXPR_MATCH@275..346
        MatchKeyword@275..280 "match"
        Whitespace@280..281 " "
        EXPR_IDENT@281..287
          PATH@281..287
            Ident@281..286 "paint"
            Whitespace@286..287 " "
        MATCH_ARM_LIST@287..346
          LBrace@287..288 "{"
          Whitespace@288..297 "\n        "
          MATCH_ARM@297..312
            PATTERN_CONSTR@297..308
              PATH@297..308
                Ident@297..302 "Paint"
                ColonColon@302..304 "::"
                Ident@304..307 "Red"
                Whitespace@307..308 " "
            FatArrow@308..310 "=>"
            Whitespace@310..311 " "
            EXPR_INT@311..312
              Int@311..312 "1"
          Comma@312..313 ","
          Whitespace@313..322 "\n        "
          MATCH_ARM@322..338
            PATTERN_CONSTR@322..334
              PATH@322..334
                Ident@322..327 "Paint"
                ColonColon@327..329 "::"
                Ident@329..333 "Blue"
                Whitespace@333..334 " "
            FatArrow@334..336 "=>"
            Whitespace@336..337 " "
            EXPR_INT@337..338
              Int@337..338 "2"
          Comma@338..339 ","
          Whitespace@339..344 "\n    "
          RBrace@344..345 "}"
          Whitespace@345..346 "\n"
      RBrace@346..347 "}"
      Whitespace@347..349 "\n\n"
  FN@349..631
    FnKeyword@349..351 "fn"
    Whitespace@351..352 " "
    Ident@352..356 "main"
    PARAM_LIST@356..359
      LParen@356..357 "("
      RParen@357..358 ")"
      Whitespace@358..359 " "
    BLOCK@359..631
      LBrace@359..360 "{"
      Whitespace@360..365 "\n    "
      STMT_LET@365..393
        LetKeyword@365..368 "let"
        Whitespace@368..369 " "
        PATTERN_VARIABLE@369..375
          Ident@369..374 "light"
          Whitespace@374..375 " "
        Eq@375..376 "="
        Whitespace@376..377 " "
        EXPR_IDENT@377..387
          PATH@377..387
            Ident@377..382 "Light"
            ColonColon@382..384 "::"
            Ident@384..387 "Red"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      STMT_LET@393..421
        LetKeyword@393..396 "let"
        Whitespace@396..397 " "
        PATTERN_VARIABLE@397..403
          Ident@397..402 "paint"
          Whitespace@402..403 " "
        Eq@403..404 "="
        Whitespace@404..405 " "
        EXPR_IDENT@405..415
          PATH@405..415
            Ident@405..410 "Paint"
            ColonColon@410..412 "::"
            Ident@412..415 "Red"
        Semi@415..416 ";"
        Whitespace@416..421 "\n    "
      STMT_LET@421..473
        LetKeyword@421..424 "let"
        Whitespace@424..425 " "
        PATTERN_WILDCARD@425..427
          WildcardKeyword@425..426 "_"
          Whitespace@426..427 " "
        Eq@427..428 "="
        Whitespace@428..429 " "
        EXPR_CALL@429..467
          EXPR_IDENT@429..436
            PATH@429..436
              Ident@429..436 "println"
          ARG_LIST@436..467
            LParen@436..437 "("
            ARG@437..466
              EXPR_CALL@437..466
                EXPR_BINARY@437..464
                  EXPR_CALL@437..454
                    EXPR_IDENT@437..447
                      PATH@437..447
                        Ident@437..447 "light_code"
                    ARG_LIST@447..454
                      LParen@447..448 "("
                      ARG@448..453
                        EXPR_IDENT@448..453
                          PATH@448..453
                            Ident@448..453 "light"
                      RParen@453..454 ")"
                  Dot@454..455 "."
                  EXPR_IDENT@455..464
                    PATH@455..464
                      Ident@455..464 "to_string"
                ARG_LIST@464..466
                  LParen@464..465 "("
                  RParen@465..466 ")"
            RParen@466..467 ")"
        Semi@467..468 ";"
        Whitespace@468..473 "\n    "
      STMT_LET@473..525
        LetKeyword@473..476 "let"
        Whitespace@476..477 " "
        PATTERN_WILDCARD@477..479
          WildcardKeyword@477..478 "_"
          Whitespace@478..479 " "
        Eq@479..480 "="
        Whitespace@480..481 " "
        EXPR_CALL@481..519
          EXPR_IDENT@481..488
            PATH@481..488
              Ident@481..488 "println"
          ARG_LIST@488..519
            LParen@488..489 "("
            ARG@489..518
              EXPR_CALL@489..518
                EXPR_BINARY@489..516
                  EXPR_CALL@489..506
                    EXPR_IDENT@489..499
                      PATH@489..499
                        Ident@489..499 "paint_code"
                    ARG_LIST@499..506
                      LParen@499..500 "("
                      ARG@500..505
                        EXPR_IDENT@500..505
                          PATH@500..505
                            Ident@500..505 "paint"
                      RParen@505..506 ")"
                  Dot@506..507 "."
                  EXPR_IDENT@507..516
                    PATH@507..516
                      Ident@507..516 "to_string"
                ARG_LIST@516..518
                  LParen@516..517 "("
                  RParen@517..518 ")"
            RParen@518..519 ")"
        Semi@519..520 ";"
        Whitespace@520..525 "\n    "
      STMT_LET@525..584
        LetKeyword@525..528 "let"
        Whitespace@528..529 " "
        PATTERN_WILDCARD@529..531
          WildcardKeyword@529..530 "_"
          Whitespace@530..531 " "
        Eq@531..532 "="
        Whitespace@532..533 " "
        EXPR_CALL@533..578
          EXPR_IDENT@533..540
            PATH@533..540
              Ident@533..540 "println"
          ARG_LIST@540..578
            LParen@540..541 "("
            ARG@541..577
              EXPR_CALL@541..577
                EXPR_BINARY@541..575
                  EXPR_CALL@541..565
                    EXPR_IDENT@541..551
                      PATH@541..551
                        Ident@541..551 "light_code"
                    ARG_LIST@551..565
                      LParen@551..552 "("
                      ARG@552..564
                        EXPR_IDENT@552..564
                          PATH@552..564
                            Ident@552..557 "Light"
                            ColonColon@557..559 "::"
                            Ident@559..564 "Green"
                      RParen@564..565 ")"
                  Dot@565..566 "."
                  EXPR_IDENT@566..575
                    PATH@566..575
                      Ident@566..575 "to_string"
                ARG_LIST@575..577
                  LParen@575..576 "("
                  RParen@576..577 ")"
            RParen@577..578 ")"
        Semi@578..579 ";"
        Whitespace@579..584 "\n    "
      EXPR_CALL@584..629
        EXPR_IDENT@584..591
          PATH@584..591
            Ident@584..591 "println"
        ARG_LIST@591..629
          LParen@591..592 "("
          ARG@592..627
            EXPR_CALL@592..627
              EXPR_BINARY@592..625
                EXPR_CALL@592..615
                  EXPR_IDENT@592..602
                    PATH@592..602
                      Ident@592..602 "paint_code"
                  ARG_LIST@602..615
                    LParen@602..603 "("
                    ARG@603..614
                      EXPR_IDENT@603..614
                        PATH@603..614
                          Ident@603..608 "Paint"
                          ColonColon@608..610 "::"
                          Ident@610..614 "Blue"
                    RParen@614..615 ")"
                Dot@615..616 "."
                EXPR_IDENT@616..625
                  PATH@616..625
                    Ident@616..625 "to_string"
              ARG_LIST@625..627
                LParen@625..626 "("
                RParen@626..627 ")"
          RParen@627..628 ")"
          Whitespace@628..629 "\n"
      RBrace@629..630 "}"
      Whitespace@630..631 "\n"