FILE@0..424
  FN@0..180
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "fetch"
    PARAM_LIST@8..21
      LParen@8..9 "("
      PARAM@9..19
        Ident@9..13 "flag"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_BOOL@15..19
          BoolKeyword@15..19 "bool"
      RParen@19..20 ")"
      Whitespace@20..21 " "
    Arrow@21..23 "->"
    Whitespace@23..24 " "
    TYPE_TAPP@24..38
      PATH@24..30
        Ident@24..30 "Option"
      TYPE_PARAM_LIST@30..38
        LBracket@30..31 "["
        TYPE_INT32@31..36
          Int32Keyword@31..36 "int32"
        RBracket@36..37 "]"
        Whitespace@37..38 " "
    BLOCK@38..180
      LBrace@38..39 "{"
      Whitespace@39..44 "\n    "
      STMT_LET@44..72
        LetKeyword@44..47 "let"
        Whitespace@47..48 " "
        PATTERN_VARIABLE@48..50
          Ident@48..49 "m"
          Whitespace@49..50 " "
        Eq@50..51 "="
        Whitespace@51..52 " "
        EXPR_CALL@52..66
          EXPR_IDENT@52..64
            PATH@52..64
              Ident@52..59 "HashMap"
              ColonColon@59..61 "::"
              Ident@61..64 "new"
          ARG_LIST@64..66
            LParen@64..65 "("
            RParen@65..66 ")"
        Semi@66..67 ";"
        Whitespace@67..72 "\n    "
      STMT_EXPR@72..124
        EXPR_IF@72..118
          IfKeyword@72..74 "if"
          Whitespace@74..75 " "
          EXPR_IF_COND@75..80
            EXPR_IDENT@75..80
              PATH@75..80
                Ident@75..79 "flag"
                Whitespace@79..80 " "
          EXPR_IF_THEN@80..111
            BLOCK@80..111
              LBrace@80..81 "{"
              Whitespace@81..90 "\n        "
              STMT_EXPR@90..109
                EXPR_CALL@90..103
                  EXPR_BINARY@90..95
                    EXPR_IDENT@90..91
                      PATH@90..91
                        Ident@90..91 "m"
                    Dot@91..92 "."
                    EXPR_IDENT@92..95
                      PATH@92..95
                        Ident@92..95 "set"
                  ARG_LIST@95..103
                    LParen@95..96 "("
                    ARG@96..101
                      EXPR_STR@96..99
                        Str@96..99 "\"a\""
                      Comma@99..100 ","
                      Whitespace@100..101 " "
                    ARG@101..102
                      EXPR_INT@101..102
                        Int@101..102 "7"
                    RParen@102..103 ")"
                Semi@103..104 ";"
                Whitespace@104..109 "\n    "
              RBrace@109..110 "}"
              Whitespace@110..111 " "
          ElseKeyword@111..115 "else"
          Whitespace@115..116 " "
          EXPR_IF_ELSE@116..118
            BLOCK@116..118
              LBrace@116..117 "{"
              RBrace@117..118 "}"
        Semi@118..119 ";"
        Whitespace@119..124 "\n    "
      STMT_LET@124..153
        LetKeyword@124..127 "let"
        Whitespace@127..128 " "
        PATTERN_VARIABLE@128..134
          Ident@128..133 "value"
          Whitespace@133..134 " "
        Eq@134..135 "="
        Whitespace@135..136 " "
        EXPR_TRY@136..147
          EXPR_CALL@136..146
            EXPR_BINARY@136..141
              EXPR_IDENT@136..137
                PATH@136..137
                  Ident@136..137 "m"
              Dot@137..138 "."
              EXPR_IDENT@138..141
                PATH@138..141
                  Ident@138..141 "get"
            ARG_LIST@141..146
              LParen@141..142 "("
              ARG@142..145
                EXPR_STR@142..145
                  Str@142..145 "\"a\""
              RParen@145..146 ")"
          Question@146..147 "?"
        Semi@147..148 ";"
        Whitespace@148..153 "\n    "
      EXPR_CALL@153..177
        EXPR_IDENT@153..165
          PATH@153..165
            Ident@153..159 "Option"
            ColonColon@159..161 "::"
            Ident@161..165 "Some"
        ARG_LIST@165..177
          LParen@165..166 "("
          ARG@166..175
            EXPR_BINARY@166..175
              EXPR_IDENT@166..172
                PATH@166..172
                  Ident@166..171 "value"
                  Whitespace@171..172 " "
              Plus@172..173 "+"
              Whitespace@173..174 " "
              EXPR_INT@174..175
                Int@174..175 "1"
          RParen@175..176 ")"
          Whitespace@176..177 "\n"
      RBrace@177..178 "}"
      Whitespace@178..180 "\n\n"
  FN@180..337
    FnKeyword@180..182 "fn"
    Whitespace@182..183 " "
    Ident@183..187 "show"
    PARAM_LIST@187..208
      LParen@187..188 "("
      PARAM@188..206
        Ident@188..191 "opt"
        Colon@191..192 ":"
        Whitespace@192..193 " "
        TYPE_TAPP@193..206
          PATH@193..199
            Ident@193..199 "Option"
          TYPE_PARAM_LIST@199..206
            LBracket@199..200 "["
            TYPE_INT32@200..205
              Int32Keyword@200..205 "int32"
            RBracket@205..206 "]"
      RParen@206..207 ")"
      Whitespace@207..208 " "
    Arrow@208..210 "->"
    Whitespace@210..211 " "
    TYPE_STRING@211..218
      StringKeyword@211..217 "string"
      Whitespace@217..218 " "
    BLOCK@218..337
      LBrace@218..219 "{"
      Whitespace@219..224 "\n    "
      EXPR_MATCH@224..334
        MatchKeyword@224..229 "match"
        Whitespace@229..230 " "
        EXPR_IDENT@230..234
          PATH@230..234
            Ident@230..233 "opt"
            Whitespace@233..234 " "
        MATCH_ARM_LIST@234..334
          LBrace@234..235 "{"
          Whitespace@235..244 "\n        "
          MATCH_ARM@244..294
            PATTERN_CONSTR@244..264
              PATH@244..256
                Ident@244..250 "Option"
                ColonColon@250..252 "::"
                Ident@252..256 "Some"
              LParen@256..257 "("
              PATTERN_VARIABLE@257..262
                Ident@257..262 "value"
              RParen@262..263 ")"
              Whitespace@263..264 " "
            FatArrow@264..266 "=>"
            Whitespace@266..267 " "
            EXPR_BINARY@267..294
              EXPR_STR@267..275
                Str@267..274 "\"some=\""
                Whitespace@274..275 " "
              Plus@275..276 "+"
              Whitespace@276..277 " "
              EXPR_CALL@277..294
                EXPR_BINARY@277..292
                  EXPR_IDENT@277..282
                    PATH@277..282
                      Ident@277..282 "value"
                  Dot@282..283 "."
                  EXPR_IDENT@283..292
                    PATH@283..292
                      Ident@283..292 "to_string"
                ARG_LIST@292..294
                  LParen@292..293 "("
                  RParen@293..294 ")"
          Comma@294..295 ","
          Whitespace@295..304 "\n        "
          MATCH_ARM@304..326
            PATTERN_CONSTR@304..317
              PATH@304..317
                Ident@304..310 "Option"
                ColonColon@310..312 "::"
                Ident@312..316 "None"
                Whitespace@316..317 " "
            FatArrow@317..319 "=>"
            Whitespace@319..320 " "
            EXPR_STR@320..326
              Str@320..326 "\"none\""
          Comma@326..327 ","
          Whitespace@327..332 "\n    "
          RBrace@332..333 "}"
          Whitespace@333..334 "\n"
      RBrace@334..335 "}"
      Whitespace@335..337 "\n\n"
  FN@337..424
    FnKeyword@337..339 "fn"
    Whitespace@339..340 " "
    Ident@340..344 "main"
    PARAM_LIST@344..347
      LParen@344..345 "("
      RParen@345..346 ")"
      Whitespace@346..347 " "
    Arrow@347..349 "->"
    Whitespace@349..350 " "
    TYPE_UNIT@350..355
      UnitKeyword@350..354 "unit"
      Whitespace@354..355 " "
    BLOCK@355..424
      LBrace@355..356 "{"
      Whitespace@356..361 "\n    "
      STMT_EXPR@361..393
        EXPR_CALL@361..387
          EXPR_IDENT@361..368
            PATH@361..368
              Ident@361..368 "println"
          ARG_LIST@368..387
            LParen@368..369 "("
            ARG@369..386
              EXPR_CALL@369..386
                EXPR_IDENT@369..373
                  PATH@369..373
                    Ident@369..373 "show"
                ARG_LIST@373..386
                  LParen@373..374 "("
                  ARG@374..385
                    EXPR_CALL@374..385
                      EXPR_IDENT@374..379
                        PATH@374..379
                          Ident@374..379 "fetch"
                      ARG_LIST@379..385
                        LParen@379..380 "("
                        ARG@380..384
                          EXPR_BOOL@380..384
                            TrueKeyword@380..384 "true"
                        RParen@384..385 ")"
                  RParen@385..386 ")"
            RParen@386..387 ")"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      STMT_EXPR@393..422
        EXPR_CALL@393..420
          EXPR_IDENT@393..400
            PATH@393..400
              Ident@393..400 "println"
          ARG_LIST@400..420
            LParen@400..401 "("
            ARG@401..419
              EXPR_CALL@401..419
                EXPR_IDENT@401..405
                  PATH@401..405
                    Ident@401..405 "show"
                ARG_LIST@405..419
                  LParen@405..406 "("
                  ARG@406..418
                    EXPR_CALL@406..418
                      EXPR_IDENT@406..411
                        PATH@406..411
                          Ident@406..411 "fetch"
                      ARG_LIST@411..418
                        LParen@411..412 "("
                        ARG@412..417
                          EXPR_BOOL@412..417
                            FalseKeyword@412..417 "false"
                        RParen@417..418 ")"
                  RParen@418..419 ")"
            RParen@419..420 ")"
        Semi@420..421 ";"
        Whitespace@421..422 "\n"
      RBrace@422..423 "}"
      Whitespace@423..424 "\n"