FILE@0..885
  TRAIT@0..55
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..55
      TRAIT_METHOD_SIG@19..52
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "render"
        PARAM_LIST@28..41
          LParen@28..29 "("
          PARAM@29..39
            Ident@29..33 "self"
            Colon@33..34 ":"
            Whitespace@34..35 " "
            TYPE_TAPP@35..39
              PATH@35..39
                Ident@35..39 "Self"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Arrow@41..43 "->"
        Whitespace@43..44 " "
        TYPE_STRING@44..50
          StringKeyword@44..50 "string"
        Semi@50..51 ";"
        Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  TRAIT@55..114
    TraitKeyword@55..60 "trait"
    Whitespace@60..61 " "
    Ident@61..69 "Selected"
    Whitespace@69..70 " "
    LBrace@70..71 "{"
    Whitespace@71..76 "\n    "
    TRAIT_METHOD_SIG_LIST@76..114
      TRAIT_METHOD_SIG@76..111
        FnKeyword@76..78 "fn"
        Whitespace@78..79 " "
        Ident@79..87 "selected"
        PARAM_LIST@87..100
          LParen@87..88 "("
          PARAM@88..98
            Ident@88..92 "self"
            Colon@92..93 ":"
            Whitespace@93..94 " "
            TYPE_TAPP@94..98
              PATH@94..98
                Ident@94..98 "Self"
          RParen@98..99 ")"
          Whitespace@99..100 " "
        Arrow@100..102 "->"
        Whitespace@102..103 " "
        TYPE_STRING@103..109
          StringKeyword@103..109 "string"
        Semi@109..110 ";"
        Whitespace@110..111 "\n"
      RBrace@111..112 "}"
      Whitespace@112..114 "\n\n"
  STRUCT@114..148
    StructKeyword@114..120 "struct"
    Whitespace@120..121 " "
    Ident@121..125 "Wrap"
    GENERIC_LIST@125..129
      LBracket@125..126 "["
      GENERIC@126..127
        Ident@126..127 "T"
      RBracket@127..128 "]"
      Whitespace@128..129 " "
    LBrace@129..130 "{"
    Whitespace@130..135 "\n    "
    STRUCT_FIELD_LIST@135..148
      STRUCT_FIELD@135..143
        Ident@135..140 "value"
        Colon@140..141 ":"
        Whitespace@141..142 " "
        TYPE_TAPP@142..143
          PATH@142..143
            Ident@142..143 "T"
      Comma@143..144 ","
      Whitespace@144..145 "\n"
      RBrace@145..146 "}"
      Whitespace@146..148 "\n\n"
  IMPL@148..272
    ImplKeyword@148..152 "impl"
    Whitespace@152..153 " "
    TYPE_TAPP@153..160
      PATH@153..160
        Ident@153..159 "Render"
        Whitespace@159..160 " "
    ForKeyword@160..163 "for"
    Whitespace@163..164 " "
    TYPE_TAPP@164..175
      PATH@164..167
        Ident@164..167 "Vec"
      TYPE_PARAM_LIST@167..175
        LBracket@167..168 "["
        TYPE_INT32@168..173
          Int32Keyword@168..173 "int32"
        RBracket@173..174 "]"
        Whitespace@174..175 " "
    LBrace@175..176 "{"
    Whitespace@176..181 "\n    "
    FN@181..269
      FnKeyword@181..183 "fn"
      Whitespace@183..184 " "
      Ident@184..190 "render"
      PARAM_LIST@190..209
        LParen@190..191 "("
        PARAM@191..207
          Ident@191..195 "self"
          Colon@195..196 ":"
          Whitespace@196..197 " "
          TYPE_TAPP@197..207
            PATH@197..200
              Ident@197..200 "Vec"
            TYPE_PARAM_LIST@200..207
              LBracket@200..201 "["
              TYPE_INT32@201..206
                Int32Keyword@201..206 "int32"
              RBracket@206..207 "]"
        RParen@207..208 ")"
        Whitespace@208..209 " "
      Arrow@209..211 "->"
      Whitespace@211..212 " "
      TYPE_STRING@212..219
        StringKeyword@212..218 "string"
        Whitespace@218..219 " "
      BLOCK@219..269
        LBrace@219..220 "{"
        Whitespace@220..229 "\n        "
        EXPR_BINARY@229..267
          EXPR_STR@229..238
            Str@229..237 "\"items=\""
            Whitespace@237..238 " "
          Plus@238..239 "+"
          Whitespace@239..240 " "
          EXPR_CALL@240..267
            EXPR_BINARY@240..260
              EXPR_CALL@240..250
                EXPR_BINARY@240..248
                  EXPR_IDENT@240..244
                    PATH@240..244
                      Ident@240..244 "self"
                  Dot@244..245 "."
                  EXPR_IDENT@245..248
                    PATH@245..248
                      Ident@245..248 "len"
                ARG_LIST@248..250
                  LParen@248..249 "("
                  RParen@249..250 ")"
              Dot@250..251 "."
              EXPR_IDENT@251..260
                PATH@251..260
                  Ident@251..260 "to_string"
            ARG_LIST@260..267
              LParen@260..261 "("
              RParen@261..262 ")"
              Whitespace@262..267 "\n    "
        RBrace@267..268 "}"
        Whitespace@268..269 "\n"
    RBrace@269..270 "}"
    Whitespace@270..272 "\n\n"
  IMPL@272..395
    ImplKeyword@272..276 "impl"
    GENERIC_LIST@276..280
      LBracket@276..277 "["
      GENERIC@277..278
        Ident@277..278 "T"
      RBracket@278..279 "]"
      Whitespace@279..280 " "
    TYPE_TAPP@280..289
      PATH@280..289
        Ident@280..288 "Selected"
        Whitespace@288..289 " "
    ForKeyword@289..292 "for"
    Whitespace@292..293 " "
    TYPE_TAPP@293..301
      PATH@293..297
        Ident@293..297 "Wrap"
      TYPE_PARAM_LIST@297..301
        LBracket@297..298 "["
        TYPE_TAPP@298..299
          PATH@298..299
            Ident@298..299 "T"
        RBracket@299..300 "]"
        Whitespace@300..301 " "
    WHERE_CLAUSE@301..322
      WhereKeyword@301..306 "where"
      Whitespace@306..307 " "
      WHERE_PREDICATE@307..322
        TYPE_TAPP@307..313
          PATH@307..310
            Ident@307..310 "Vec"
          TYPE_PARAM_LIST@310..313
            LBracket@310..311 "["
            TYPE_TAPP@311..312
              PATH@311..312
                Ident@311..312 "T"
            RBracket@312..313 "]"
        Colon@313..314 ":"
        Whitespace@314..315 " "
        TRAIT_SET@315..322
          TYPE_TAPP@315..322
            PATH@315..322
              Ident@315..321 "Render"
              Whitespace@321..322 " "
    LBrace@322..323 "{"
    Whitespace@323..328 "\n    "
    FN@328..392
      FnKeyword@328..330 "fn"
      Whitespace@330..331 " "
      Ident@331..339 "selected"
      PARAM_LIST@339..355
        LParen@339..340 "("
        PARAM@340..353
          Ident@340..344 "self"
          Colon@344..345 ":"
          Whitespace@345..346 " "
          TYPE_TAPP@346..353
            PATH@346..350
              Ident@346..350 "Wrap"
            TYPE_PARAM_LIST@350..353
              LBracket@350..351 "["
              TYPE_TAPP@351..352
                PATH@351..352
                  Ident@351..352 "T"
              RBracket@352..353 "]"
        RParen@353..354 ")"
        Whitespace@354..355 " "
      Arrow@355..357 "->"
      Whitespace@357..358 " "
      TYPE_STRING@358..365
        StringKeyword@358..364 "string"
        Whitespace@364..365 " "
      BLOCK@365..392
        LBrace@365..366 "{"
        Whitespace@366..375 "\n        "
        EXPR_STR@375..390
          Str@375..385 "\"selected\""
          Whitespace@385..390 "\n    "
        RBrace@390..391 "}"
        Whitespace@391..392 "\n"
    RBrace@392..393 "}"
    Whitespace@393..395 "\n\n"
  FN@395..484
    FnKeyword@395..397 "fn"
    Whitespace@397..398 " "
    Ident@398..408 "render_all"
    GENERIC_LIST@408..411
      LBracket@408..409 "["
      GENERIC@409..410
        Ident@409..410 "T"
      RBracket@410..411 "]"
    PARAM_LIST@411..428
      LParen@411..412 "("
      PARAM@412..426
        Ident@412..418 "values"
        Colon@418..419 ":"
        Whitespace@419..420 " "
        TYPE_TAPP@420..426
          PATH@420..423
            Ident@420..423 "Vec"
          TYPE_PARAM_LIST@423..426
            LBracket@423..424 "["
            TYPE_TAPP@424..425
              PATH@424..425
                Ident@424..425 "T"
            RBracket@425..426 "]"
      RParen@426..427 ")"
      Whitespace@427..428 " "
    Arrow@428..430 "->"
    Whitespace@430..431 " "
    TYPE_STRING@431..438
      StringKeyword@431..437 "string"
      Whitespace@437..438 " "
    WHERE_CLAUSE@438..459
      WhereKeyword@438..443 "where"
      Whitespace@443..444 " "
      WHERE_PREDICATE@444..459
        TYPE_TAPP@444..450
          PATH@444..447
            Ident@444..447 "Vec"
          TYPE_PARAM_LIST@447..450
            LBracket@447..448 "["
            TYPE_TAPP@448..449
              PATH@448..449
                Ident@448..449 "T"
            RBracket@449..450 "]"
        Colon@450..451 ":"
        Whitespace@451..452 " "
        TRAIT_SET@452..459
          TYPE_TAPP@452..459
            PATH@452..459
              Ident@452..458 "Render"
              Whitespace@458..459 " "
    BLOCK@459..484
      LBrace@459..460 "{"
      Whitespace@460..465 "\n    "
      EXPR_CALL@465..481
        EXPR_BINARY@465..478
          EXPR_IDENT@465..471
            PATH@465..471
              Ident@465..471 "values"
          Dot@471..472 "."
          EXPR_IDENT@472..478
            PATH@472..478
              Ident@472..478 "render"
        ARG_LIST@478..481
          LParen@478..479 "("
          RParen@479..480 ")"
          Whitespace@480..481 "\n"
      RBrace@481..482 "}"
      Whitespace@482..484 "\n\n"
  FN@484..540
    FnKeyword@484..486 "fn"
    Whitespace@486..487 " "
    Ident@487..491 "same"
    GENERIC_LIST@491..497
      LBracket@491..492 "["
      GENERIC@492..493
        Ident@492..493 "T"
      Comma@493..494 ","
      Whitespace@494..495 " "
      GENERIC@495..496
        Ident@495..496 "U"
      RBracket@496..497 "]"
    PARAM_LIST@497..508
      LParen@497..498 "("
      PARAM@498..506
        Ident@498..503 "value"
        Colon@503..504 ":"
        Whitespace@504..505 " "
        TYPE_TAPP@505..506
          PATH@505..506
            Ident@505..506 "T"
      RParen@506..507 ")"
      Whitespace@507..508 " "
    Arrow@508..510 "->"
    Whitespace@510..511 " "
    TYPE_TAPP@511..513
      PATH@511..513
        Ident@511..512 "U"
        Whitespace@512..513 " "
    WHERE_CLAUSE@513..525
      WhereKeyword@513..518 "where"
      Whitespace@518..519 " "
      WHERE_PREDICATE@519..525
        TYPE_TAPP@519..521
          PATH@519..521
            Ident@519..520 "T"
            Whitespace@520..521 " "
        Eq@521..522 "="
        Whitespace@522..523 " "
        TYPE_TAPP@523..525
          PATH@523..525
            Ident@523..524 "U"
            Whitespace@524..525 " "
    BLOCK@525..540
      LBrace@525..526 "{"
      Whitespace@526..531 "\n    "
      EXPR_IDENT@531..537
        PATH@531..537
          Ident@531..536 "value"
          Whitespace@536..537 "\n"
      RBrace@537..538 "}"
      Whitespace@538..540 "\n\n"
  FN@540..610
    FnKeyword@540..542 "fn"
    Whitespace@542..543 " "
    Ident@543..550 "require"
    GENERIC_LIST@550..563
      LBracket@550..551 "["
      GENERIC@551..562
        Ident@551..552 "T"
        Colon@552..553 ":"
        Whitespace@553..554 " "
        TRAIT_SET@554..562
          TYPE_TAPP@554..562
            PATH@554..562
              Ident@554..562 "Selected"
      RBracket@562..563 "]"
    PARAM_LIST@563..574
      LParen@563..564 "("
      PARAM@564..572
        Ident@564..569 "value"
        Colon@569..570 ":"
        Whitespace@570..571 " "
        TYPE_TAPP@571..572
          PATH@571..572
            Ident@571..572 "T"
      RParen@572..573 ")"
      Whitespace@573..574 " "
    Arrow@574..576 "->"
    Whitespace@576..577 " "
    TYPE_STRING@577..584
      StringKeyword@577..583 "string"
      Whitespace@583..584 " "
    BLOCK@584..610
      LBrace@584..585 "{"
      Whitespace@585..590 "\n    "
      EXPR_CALL@590..607
        EXPR_BINARY@590..604
          EXPR_IDENT@590..595
            PATH@590..595
              Ident@590..595 "value"
          Dot@595..596 "."
          EXPR_IDENT@596..604
            PATH@596..604
              Ident@596..604 "selected"
        ARG_LIST@604..607
          LParen@604..605 "("
          RParen@605..606 ")"
          Whitespace@606..607 "\n"
      RBrace@607..608 "}"
      Whitespace@608..610 "\n\n"
  FN@610..885
    FnKeyword@610..612 "fn"
    Whitespace@612..613 " "
    Ident@613..617 "main"
    PARAM_LIST@617..620
      LParen@617..618 "("
      RParen@618..619 ")"
      Whitespace@619..620 " "
    Arrow@620..622 "->"
    Whitespace@622..623 " "
    TYPE_UNIT@623..628
      UnitKeyword@623..627 "unit"
      Whitespace@627..628 " "
    BLOCK@628..885
      LBrace@628..629 "{"
      Whitespace@629..634 "\n    "
      STMT_LET@634..674
        LetKeyword@634..637 "let"
        Whitespace@637..638 " "
        PATTERN_VARIABLE@638..644
          Ident@638..644 "values"
        Colon@644..645 ":"
        Whitespace@645..646 " "
        TYPE_TAPP@646..657
          PATH@646..649
            Ident@646..649 "Vec"
          TYPE_PARAM_LIST@649..657
            LBracket@649..650 "["
            TYPE_INT32@650..655
              Int32Keyword@650..655 "int32"
            RBracket@655..656 "]"
            Whitespace@656..657 " "
        Eq@657..658 "="
        Whitespace@658..659 " "
        EXPR_CALL@659..668
          EXPR_IDENT@659..666
            PATH@659..666
              Ident@659..666 "vec_new"
          ARG_LIST@666..668
            LParen@666..667 "("
            RParen@667..668 ")"
        Semi@668..669 ";"
        Whitespace@669..674 "\n    "
      STMT_EXPR@674..694
        EXPR_CALL@674..688
          EXPR_BINARY@674..685
            EXPR_IDENT@674..680
              PATH@674..680
                Ident@674..680 "values"
            Dot@680..681 "."
            EXPR_IDENT@681..685
              PATH@681..685
                Ident@681..685 "push"
          ARG_LIST@685..688
            LParen@685..686 "("
            ARG@686..687
              EXPR_INT@686..687
                Int@686..687 "1"
            RParen@687..688 ")"
        Semi@688..689 ";"
        Whitespace@689..694 "\n    "
      STMT_EXPR@694..714
        EXPR_CALL@694..708
          EXPR_BINARY@694..705
            EXPR_IDENT@694..700
              PATH@694..700
                Ident@694..700 "values"
            Dot@700..701 "."
            EXPR_IDENT@701..705
              PATH@701..705
                Ident@701..705 "push"
          ARG_LIST@705..708
            LParen@705..706 "("
            ARG@706..707
              EXPR_INT@706..707
                Int@706..707 "2"
            RParen@707..708 ")"
        Semi@708..709 ";"
        Whitespace@709..714 "\n    "
      STMT_EXPR@714..747
        EXPR_CALL@714..741
          EXPR_IDENT@714..721
            PATH@714..721
              Ident@714..721 "println"
          ARG_LIST@721..741
            LParen@721..722 "("
            ARG@722..740
              EXPR_CALL@722..740
                EXPR_IDENT@722..732
                  PATH@722..732
                    Ident@722..732 "render_all"
                ARG_LIST@732..740
                  LParen@732..733 "("
                  ARG@733..739
                    EXPR_IDENT@733..739
                      PATH@733..739
                        Ident@733..739 "values"
                  RParen@739..740 ")"
            RParen@740..741 ")"
        Semi@741..742 ";"
        Whitespace@742..747 "\n    "
      STMT_LET@747..785
        LetKeyword@747..750 "let"
        Whitespace@750..751 " "
        PATTERN_VARIABLE@751..755
          Ident@751..755 "text"
        Colon@755..756 ":"
        Whitespace@756..757 " "
        TYPE_STRING@757..764
          StringKeyword@757..763 "string"
          Whitespace@763..764 " "
        Eq@764..765 "="
        Whitespace@765..766 " "
        EXPR_CALL@766..779
          EXPR_IDENT@766..770
            PATH@766..770
              Ident@766..770 "same"
          ARG_LIST@770..779
            LParen@770..771 "("
            ARG@771..778
              EXPR_STR@771..778
                Str@771..778 "\"equal\""
            RParen@778..779 ")"
        Semi@779..780 ";"
        Whitespace@780..785 "\n    "
      STMT_EXPR@785..804
        EXPR_CALL@785..798
          EXPR_IDENT@785..792
            PATH@785..792
              Ident@785..792 "println"
          ARG_LIST@792..798
            LParen@792..793 "("
            ARG@793..797
              EXPR_IDENT@793..797
                PATH@793..797
                  Ident@793..797 "text"
            RParen@797..798 ")"
        Semi@798..799 ";"
        Whitespace@799..804 "\n    "
      STMT_LET@804..855
        LetKeyword@804..807 "let"
        Whitespace@807..808 " "
        PATTERN_VARIABLE@808..816
          Ident@808..816 "selected"
        Colon@816..817 ":"
        Whitespace@817..818 " "
        TYPE_TAPP@818..830
          PATH@818..822
            Ident@818..822 "Wrap"
          TYPE_PARAM_LIST@822..830
            LBracket@822..823 "["
            TYPE_INT32@823..828
              Int32Keyword@823..828 "int32"
            RBracket@828..829 "]"
            Whitespace@829..830 " "
        Eq@830..831 "="
        Whitespace@831..832 " "
        EXPR_STRUCT_LITERAL@832..849
          PATH@832..837
            Ident@832..836 "Wrap"
            Whitespace@836..837 " "
          STRUCT_LITERAL_FIELD_LIST@837..849
            LBrace@837..838 "{"
            Whitespace@838..839 " "
            STRUCT_LITERAL_FIELD@839..848
              Ident@839..844 "value"
              Colon@844..845 ":"
              Whitespace@845..846 " "
              EXPR_INT@846..848
                Int@846..847 "7"
                Whitespace@847..848 " "
            RBrace@848..849 "}"
        Semi@849..850 ";"
        Whitespace@850..855 "\n    "
      STMT_EXPR@855..883
        EXPR_CALL@855..881
          EXPR_IDENT@855..862
            PATH@855..862
              Ident@855..862 "println"
          ARG_LIST@862..881
            LParen@862..863 "("
            ARG@863..880
              EXPR_CALL@863..880
                EXPR_IDENT@863..870
                  PATH@863..870
                    Ident@863..870 "require"
                ARG_LIST@870..880
                  LParen@870..871 "("
                  ARG@871..879
                    EXPR_IDENT@871..879
                      PATH@871..879
                        Ident@871..879 "selected"
                  RParen@879..880 ")"
            RParen@880..881 ")"
        Semi@881..882 ";"
        Whitespace@882..883 "\n"
      RBrace@883..884 "}"
      Whitespace@884..885 "\n"