FILE@0..876
  TRAIT@0..55
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..55
      TRAIT_METHOD_SIG@19..52
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "render"
        PARAM_LIST@28..41
          LParen@28..29 "("
          PARAM@29..39
            Ident@29..33 "self"
            Colon@33..34 ":"
            Whitespace@34..35 " "
            TYPE_TAPP@35..39
              PATH@35..39
                Ident@35..39 "Self"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Arrow@41..43 "->"
        Whitespace@43..44 " "
        TYPE_STRING@44..50
          StringKeyword@44..50 "string"
        Semi@50..51 ";"
        Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  TRAIT@55..114
    TraitKeyword@55..60 "trait"
    Whitespace@60..61 " "
    Ident@61..69 "Selected"
    Whitespace@69..70 " "
    LBrace@70..71 "{"
    Whitespace@71..76 "\n    "
    TRAIT_METHOD_SIG_LIST@76..114
      TRAIT_METHOD_SIG@76..111
        FnKeyword@76..78 "fn"
        Whitespace@78..79 " "
        Ident@79..87 "selected"
        PARAM_LIST@87..100
          LParen@87..88 "("
          PARAM@88..98
            Ident@88..92 "self"
            Colon@92..93 ":"
            Whitespace@93..94 " "
            TYPE_TAPP@94..98
              PATH@94..98
                Ident@94..98 "Self"
          RParen@98..99 ")"
          Whitespace@99..100 " "
        Arrow@100..102 "->"
        Whitespace@102..103 " "
        TYPE_STRING@103..109
          StringKeyword@103..109 "string"
        Semi@109..110 ";"
        Whitespace@110..111 "\n"
      RBrace@111..112 "}"
      Whitespace@112..114 "\n\n"
  STRUCT@114..148
    StructKeyword@114..120 "struct"
    Whitespace@120..121 " "
    Ident@121..125 "Wrap"
    GENERIC_LIST@125..129
      LBracket@125..126 "["
      GENERIC@126..127
        Ident@126..127 "T"
      RBracket@127..128 "]"
      Whitespace@128..129 " "
    LBrace@129..130 "{"
    Whitespace@130..135 "\n    "
    STRUCT_FIELD_LIST@135..148
      STRUCT_FIELD@135..143
        Ident@135..140 "value"
        Colon@140..141 ":"
        Whitespace@141..142 " "
        TYPE_TAPP@142..143
          PATH@142..143
            Ident@142..143 "T"
      Comma@143..144 ","
      Whitespace@144..145 "\n"
      RBrace@145..146 "}"
      Whitespace@146..148 "\n\n"
  IMPL@148..268
    ImplKeyword@148..152 "impl"
    Whitespace@152..153 " "
    TYPE_TAPP@153..160
      PATH@153..160
        Ident@153..159 "Render"
        Whitespace@159..160 " "
    ForKeyword@160..163 "for"
    Whitespace@163..164 " "
    TYPE_TAPP@164..173
      PATH@164..167
        Ident@164..167 "Vec"
      TYPE_PARAM_LIST@167..173
        LBracket@167..168 "["
        TYPE_INT32@168..171
          I32Keyword@168..171 "i32"
        RBracket@171..172 "]"
        Whitespace@172..173 " "
    LBrace@173..174 "{"
    Whitespace@174..179 "\n    "
    FN@179..265
      FnKeyword@179..181 "fn"
      Whitespace@181..182 " "
      Ident@182..188 "render"
      PARAM_LIST@188..205
        LParen@188..189 "("
        PARAM@189..203
          Ident@189..193 "self"
          Colon@193..194 ":"
          Whitespace@194..195 " "
          TYPE_TAPP@195..203
            PATH@195..198
              Ident@195..198 "Vec"
            TYPE_PARAM_LIST@198..203
              LBracket@198..199 "["
              TYPE_INT32@199..202
                I32Keyword@199..202 "i32"
              RBracket@202..203 "]"
        RParen@203..204 ")"
        Whitespace@204..205 " "
      Arrow@205..207 "->"
      Whitespace@207..208 " "
      TYPE_STRING@208..215
        StringKeyword@208..214 "string"
        Whitespace@214..215 " "
      BLOCK@215..265
        LBrace@215..216 "{"
        Whitespace@216..225 "\n        "
        EXPR_BINARY@225..263
          EXPR_STR@225..234
            Str@225..233 "\"items=\""
            Whitespace@233..234 " "
          Plus@234..235 "+"
          Whitespace@235..236 " "
          EXPR_CALL@236..263
            EXPR_BINARY@236..256
              EXPR_CALL@236..246
                EXPR_BINARY@236..244
                  EXPR_IDENT@236..240
                    PATH@236..240
                      Ident@236..240 "self"
                  Dot@240..241 "."
                  EXPR_IDENT@241..244
                    PATH@241..244
                      Ident@241..244 "len"
                ARG_LIST@244..246
                  LParen@244..245 "("
                  RParen@245..246 ")"
              Dot@246..247 "."
              EXPR_IDENT@247..256
                PATH@247..256
                  Ident@247..256 "to_string"
            ARG_LIST@256..263
              LParen@256..257 "("
              RParen@257..258 ")"
              Whitespace@258..263 "\n    "
        RBrace@263..264 "}"
        Whitespace@264..265 "\n"
    RBrace@265..266 "}"
    Whitespace@266..268 "\n\n"
  IMPL@268..392
    ImplKeyword@268..272 "impl"
    GENERIC_LIST@272..276
      LBracket@272..273 "["
      GENERIC@273..274
        Ident@273..274 "T"
      RBracket@274..275 "]"
      Whitespace@275..276 " "
    TYPE_TAPP@276..285
      PATH@276..285
        Ident@276..284 "Selected"
        Whitespace@284..285 " "
    ForKeyword@285..288 "for"
    Whitespace@288..289 " "
    TYPE_TAPP@289..297
      PATH@289..293
        Ident@289..293 "Wrap"
      TYPE_PARAM_LIST@293..297
        LBracket@293..294 "["
        TYPE_TAPP@294..295
          PATH@294..295
            Ident@294..295 "T"
        RBracket@295..296 "]"
        Whitespace@296..297 " "
    WHERE_CLAUSE@297..319
      WhereKeyword@297..302 "where"
      Whitespace@302..303 " "
      WHERE_PREDICATE@303..319
        TYPE_TAPP@303..309
          PATH@303..306
            Ident@303..306 "Vec"
          TYPE_PARAM_LIST@306..309
            LBracket@306..307 "["
            TYPE_TAPP@307..308
              PATH@307..308
                Ident@307..308 "T"
            RBracket@308..309 "]"
        Colon@309..310 ":"
        Whitespace@310..311 " "
        TRAIT_SET@311..319
          TYPE_TAPP@311..319
            PATH@311..319
              Ident@311..317 "Render"
              Whitespace@317..319 "  "
    LBrace@319..320 "{"
    Whitespace@320..325 "\n    "
    FN@325..389
      FnKeyword@325..327 "fn"
      Whitespace@327..328 " "
      Ident@328..336 "selected"
      PARAM_LIST@336..352
        LParen@336..337 "("
        PARAM@337..350
          Ident@337..341 "self"
          Colon@341..342 ":"
          Whitespace@342..343 " "
          TYPE_TAPP@343..350
            PATH@343..347
              Ident@343..347 "Wrap"
            TYPE_PARAM_LIST@347..350
              LBracket@347..348 "["
              TYPE_TAPP@348..349
                PATH@348..349
                  Ident@348..349 "T"
              RBracket@349..350 "]"
        RParen@350..351 ")"
        Whitespace@351..352 " "
      Arrow@352..354 "->"
      Whitespace@354..355 " "
      TYPE_STRING@355..362
        StringKeyword@355..361 "string"
        Whitespace@361..362 " "
      BLOCK@362..389
        LBrace@362..363 "{"
        Whitespace@363..372 "\n        "
        EXPR_STR@372..387
          Str@372..382 "\"selected\""
          Whitespace@382..387 "\n    "
        RBrace@387..388 "}"
        Whitespace@388..389 "\n"
    RBrace@389..390 "}"
    Whitespace@390..392 "\n\n"
  FN@392..481
    FnKeyword@392..394 "fn"
    Whitespace@394..395 " "
    Ident@395..405 "render_all"
    GENERIC_LIST@405..408
      LBracket@405..406 "["
      GENERIC@406..407
        Ident@406..407 "T"
      RBracket@407..408 "]"
    PARAM_LIST@408..425
      LParen@408..409 "("
      PARAM@409..423
        Ident@409..415 "values"
        Colon@415..416 ":"
        Whitespace@416..417 " "
        TYPE_TAPP@417..423
          PATH@417..420
            Ident@417..420 "Vec"
          TYPE_PARAM_LIST@420..423
            LBracket@420..421 "["
            TYPE_TAPP@421..422
              PATH@421..422
                Ident@421..422 "T"
            RBracket@422..423 "]"
      RParen@423..424 ")"
      Whitespace@424..425 " "
    Arrow@425..427 "->"
    Whitespace@427..428 " "
    TYPE_STRING@428..435
      StringKeyword@428..434 "string"
      Whitespace@434..435 " "
    WHERE_CLAUSE@435..456
      WhereKeyword@435..440 "where"
      Whitespace@440..441 " "
      WHERE_PREDICATE@441..456
        TYPE_TAPP@441..447
          PATH@441..444
            Ident@441..444 "Vec"
          TYPE_PARAM_LIST@444..447
            LBracket@444..445 "["
            TYPE_TAPP@445..446
              PATH@445..446
                Ident@445..446 "T"
            RBracket@446..447 "]"
        Colon@447..448 ":"
        Whitespace@448..449 " "
        TRAIT_SET@449..456
          TYPE_TAPP@449..456
            PATH@449..456
              Ident@449..455 "Render"
              Whitespace@455..456 " "
    BLOCK@456..481
      LBrace@456..457 "{"
      Whitespace@457..462 "\n    "
      EXPR_CALL@462..478
        EXPR_BINARY@462..475
          EXPR_IDENT@462..468
            PATH@462..468
              Ident@462..468 "values"
          Dot@468..469 "."
          EXPR_IDENT@469..475
            PATH@469..475
              Ident@469..475 "render"
        ARG_LIST@475..478
          LParen@475..476 "("
          RParen@476..477 ")"
          Whitespace@477..478 "\n"
      RBrace@478..479 "}"
      Whitespace@479..481 "\n\n"
  FN@481..537
    FnKeyword@481..483 "fn"
    Whitespace@483..484 " "
    Ident@484..488 "same"
    GENERIC_LIST@488..494
      LBracket@488..489 "["
      GENERIC@489..490
        Ident@489..490 "T"
      Comma@490..491 ","
      Whitespace@491..492 " "
      GENERIC@492..493
        Ident@492..493 "U"
      RBracket@493..494 "]"
    PARAM_LIST@494..505
      LParen@494..495 "("
      PARAM@495..503
        Ident@495..500 "value"
        Colon@500..501 ":"
        Whitespace@501..502 " "
        TYPE_TAPP@502..503
          PATH@502..503
            Ident@502..503 "T"
      RParen@503..504 ")"
      Whitespace@504..505 " "
    Arrow@505..507 "->"
    Whitespace@507..508 " "
    TYPE_TAPP@508..510
      PATH@508..510
        Ident@508..509 "U"
        Whitespace@509..510 " "
    WHERE_CLAUSE@510..522
      WhereKeyword@510..515 "where"
      Whitespace@515..516 " "
      WHERE_PREDICATE@516..522
        TYPE_TAPP@516..518
          PATH@516..518
            Ident@516..517 "T"
            Whitespace@517..518 " "
        Eq@518..519 "="
        Whitespace@519..520 " "
        TYPE_TAPP@520..522
          PATH@520..522
            Ident@520..521 "U"
            Whitespace@521..522 " "
    BLOCK@522..537
      LBrace@522..523 "{"
      Whitespace@523..528 "\n    "
      EXPR_IDENT@528..534
        PATH@528..534
          Ident@528..533 "value"
          Whitespace@533..534 "\n"
      RBrace@534..535 "}"
      Whitespace@535..537 "\n\n"
  FN@537..607
    FnKeyword@537..539 "fn"
    Whitespace@539..540 " "
    Ident@540..547 "require"
    GENERIC_LIST@547..560
      LBracket@547..548 "["
      GENERIC@548..559
        Ident@548..549 "T"
        Colon@549..550 ":"
        Whitespace@550..551 " "
        TRAIT_SET@551..559
          TYPE_TAPP@551..559
            PATH@551..559
              Ident@551..559 "Selected"
      RBracket@559..560 "]"
    PARAM_LIST@560..571
      LParen@560..561 "("
      PARAM@561..569
        Ident@561..566 "value"
        Colon@566..567 ":"
        Whitespace@567..568 " "
        TYPE_TAPP@568..569
          PATH@568..569
            Ident@568..569 "T"
      RParen@569..570 ")"
      Whitespace@570..571 " "
    Arrow@571..573 "->"
    Whitespace@573..574 " "
    TYPE_STRING@574..581
      StringKeyword@574..580 "string"
      Whitespace@580..581 " "
    BLOCK@581..607
      LBrace@581..582 "{"
      Whitespace@582..587 "\n    "
      EXPR_CALL@587..604
        EXPR_BINARY@587..601
          EXPR_IDENT@587..592
            PATH@587..592
              Ident@587..592 "value"
          Dot@592..593 "."
          EXPR_IDENT@593..601
            PATH@593..601
              Ident@593..601 "selected"
        ARG_LIST@601..604
          LParen@601..602 "("
          RParen@602..603 ")"
          Whitespace@603..604 "\n"
      RBrace@604..605 "}"
      Whitespace@605..607 "\n\n"
  FN@607..876
    FnKeyword@607..609 "fn"
    Whitespace@609..610 " "
    Ident@610..614 "main"
    PARAM_LIST@614..617
      LParen@614..615 "("
      RParen@615..616 ")"
      Whitespace@616..617 " "
    Arrow@617..619 "->"
    Whitespace@619..620 " "
    TYPE_TUPLE@620..623
      TYPE_LIST@620..623
        LParen@620..621 "("
        RParen@621..622 ")"
        Whitespace@622..623 " "
    BLOCK@623..876
      LBrace@623..624 "{"
      Whitespace@624..629 "\n    "
      STMT_LET@629..667
        LetKeyword@629..632 "let"
        Whitespace@632..633 " "
        PATTERN_VARIABLE@633..639
          Ident@633..639 "values"
        Colon@639..640 ":"
        Whitespace@640..641 " "
        TYPE_TAPP@641..650
          PATH@641..644
            Ident@641..644 "Vec"
          TYPE_PARAM_LIST@644..650
            LBracket@644..645 "["
            TYPE_INT32@645..648
              I32Keyword@645..648 "i32"
            RBracket@648..649 "]"
            Whitespace@649..650 " "
        Eq@650..651 "="
        Whitespace@651..652 " "
        EXPR_CALL@652..661
          EXPR_IDENT@652..659
            PATH@652..659
              Ident@652..659 "vec_new"
          ARG_LIST@659..661
            LParen@659..660 "("
            RParen@660..661 ")"
        Semi@661..662 ";"
        Whitespace@662..667 "\n    "
      STMT_EXPR@667..687
        EXPR_CALL@667..681
          EXPR_BINARY@667..678
            EXPR_IDENT@667..673
              PATH@667..673
                Ident@667..673 "values"
            Dot@673..674 "."
            EXPR_IDENT@674..678
              PATH@674..678
                Ident@674..678 "push"
          ARG_LIST@678..681
            LParen@678..679 "("
            ARG@679..680
              EXPR_INT@679..680
                Int@679..680 "1"
            RParen@680..681 ")"
        Semi@681..682 ";"
        Whitespace@682..687 "\n    "
      STMT_EXPR@687..707
        EXPR_CALL@687..701
          EXPR_BINARY@687..698
            EXPR_IDENT@687..693
              PATH@687..693
                Ident@687..693 "values"
            Dot@693..694 "."
            EXPR_IDENT@694..698
              PATH@694..698
                Ident@694..698 "push"
          ARG_LIST@698..701
            LParen@698..699 "("
            ARG@699..700
              EXPR_INT@699..700
                Int@699..700 "2"
            RParen@700..701 ")"
        Semi@701..702 ";"
        Whitespace@702..707 "\n    "
      STMT_EXPR@707..740
        EXPR_CALL@707..734
          EXPR_IDENT@707..714
            PATH@707..714
              Ident@707..714 "println"
          ARG_LIST@714..734
            LParen@714..715 "("
            ARG@715..733
              EXPR_CALL@715..733
                EXPR_IDENT@715..725
                  PATH@715..725
                    Ident@715..725 "render_all"
                ARG_LIST@725..733
                  LParen@725..726 "("
                  ARG@726..732
                    EXPR_IDENT@726..732
                      PATH@726..732
                        Ident@726..732 "values"
                  RParen@732..733 ")"
            RParen@733..734 ")"
        Semi@734..735 ";"
        Whitespace@735..740 "\n    "
      STMT_LET@740..778
        LetKeyword@740..743 "let"
        Whitespace@743..744 " "
        PATTERN_VARIABLE@744..748
          Ident@744..748 "text"
        Colon@748..749 ":"
        Whitespace@749..750 " "
        TYPE_STRING@750..757
          StringKeyword@750..756 "string"
          Whitespace@756..757 " "
        Eq@757..758 "="
        Whitespace@758..759 " "
        EXPR_CALL@759..772
          EXPR_IDENT@759..763
            PATH@759..763
              Ident@759..763 "same"
          ARG_LIST@763..772
            LParen@763..764 "("
            ARG@764..771
              EXPR_STR@764..771
                Str@764..771 "\"equal\""
            RParen@771..772 ")"
        Semi@772..773 ";"
        Whitespace@773..778 "\n    "
      STMT_EXPR@778..797
        EXPR_CALL@778..791
          EXPR_IDENT@778..785
            PATH@778..785
              Ident@778..785 "println"
          ARG_LIST@785..791
            LParen@785..786 "("
            ARG@786..790
              EXPR_IDENT@786..790
                PATH@786..790
                  Ident@786..790 "text"
            RParen@790..791 ")"
        Semi@791..792 ";"
        Whitespace@792..797 "\n    "
      STMT_LET@797..846
        LetKeyword@797..800 "let"
        Whitespace@800..801 " "
        PATTERN_VARIABLE@801..809
          Ident@801..809 "selected"
        Colon@809..810 ":"
        Whitespace@810..811 " "
        TYPE_TAPP@811..821
          PATH@811..815
            Ident@811..815 "Wrap"
          TYPE_PARAM_LIST@815..821
            LBracket@815..816 "["
            TYPE_INT32@816..819
              I32Keyword@816..819 "i32"
            RBracket@819..820 "]"
            Whitespace@820..821 " "
        Eq@821..822 "="
        Whitespace@822..823 " "
        EXPR_STRUCT_LITERAL@823..840
          PATH@823..828
            Ident@823..827 "Wrap"
            Whitespace@827..828 " "
          STRUCT_LITERAL_FIELD_LIST@828..840
            LBrace@828..829 "{"
            Whitespace@829..830 " "
            STRUCT_LITERAL_FIELD@830..839
              Ident@830..835 "value"
              Colon@835..836 ":"
              Whitespace@836..837 " "
              EXPR_INT@837..839
                Int@837..838 "7"
                Whitespace@838..839 " "
            RBrace@839..840 "}"
        Semi@840..841 ";"
        Whitespace@841..846 "\n    "
      STMT_EXPR@846..874
        EXPR_CALL@846..872
          EXPR_IDENT@846..853
            PATH@846..853
              Ident@846..853 "println"
          ARG_LIST@853..872
            LParen@853..854 "("
            ARG@854..871
              EXPR_CALL@854..871
                EXPR_IDENT@854..861
                  PATH@854..861
                    Ident@854..861 "require"
                ARG_LIST@861..871
                  LParen@861..862 "("
                  ARG@862..870
                    EXPR_IDENT@862..870
                      PATH@862..870
                        Ident@862..870 "selected"
                  RParen@870..871 ")"
            RParen@871..872 ")"
        Semi@872..873 ";"
        Whitespace@873..874 "\n"
      RBrace@874..875 "}"
      Whitespace@875..876 "\n"