FILE@0..886
  TRAIT@0..55
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..55
      TRAIT_METHOD_SIG@19..52
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "render"
        PARAM_LIST@28..41
          LParen@28..29 "("
          PARAM@29..39
            Ident@29..33 "self"
            Colon@33..34 ":"
            Whitespace@34..35 " "
            TYPE_TAPP@35..39
              PATH@35..39
                Ident@35..39 "Self"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Arrow@41..43 "->"
        Whitespace@43..44 " "
        TYPE_STRING@44..50
          StringKeyword@44..50 "string"
        Semi@50..51 ";"
        Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  TRAIT@55..114
    TraitKeyword@55..60 "trait"
    Whitespace@60..61 " "
    Ident@61..69 "Selected"
    Whitespace@69..70 " "
    LBrace@70..71 "{"
    Whitespace@71..76 "\n    "
    TRAIT_METHOD_SIG_LIST@76..114
      TRAIT_METHOD_SIG@76..111
        FnKeyword@76..78 "fn"
        Whitespace@78..79 " "
        Ident@79..87 "selected"
        PARAM_LIST@87..100
          LParen@87..88 "("
          PARAM@88..98
            Ident@88..92 "self"
            Colon@92..93 ":"
            Whitespace@93..94 " "
            TYPE_TAPP@94..98
              PATH@94..98
                Ident@94..98 "Self"
          RParen@98..99 ")"
          Whitespace@99..100 " "
        Arrow@100..102 "->"
        Whitespace@102..103 " "
        TYPE_STRING@103..109
          StringKeyword@103..109 "string"
        Semi@109..110 ";"
        Whitespace@110..111 "\n"
      RBrace@111..112 "}"
      Whitespace@112..114 "\n\n"
  STRUCT@114..148
    StructKeyword@114..120 "struct"
    Whitespace@120..121 " "
    Ident@121..125 "Wrap"
    GENERIC_LIST@125..129
      LBracket@125..126 "["
      GENERIC@126..127
        Ident@126..127 "T"
      RBracket@127..128 "]"
      Whitespace@128..129 " "
    LBrace@129..130 "{"
    Whitespace@130..135 "\n    "
    STRUCT_FIELD_LIST@135..148
      STRUCT_FIELD@135..143
        Ident@135..140 "value"
        Colon@140..141 ":"
        Whitespace@141..142 " "
        TYPE_TAPP@142..143
          PATH@142..143
            Ident@142..143 "T"
      Comma@143..144 ","
      Whitespace@144..145 "\n"
      RBrace@145..146 "}"
      Whitespace@146..148 "\n\n"
  IMPL@148..272
    ImplKeyword@148..152 "impl"
    Whitespace@152..153 " "
    TYPE_TAPP@153..160
      PATH@153..160
        Ident@153..159 "Render"
        Whitespace@159..160 " "
    ForKeyword@160..163 "for"
    Whitespace@163..164 " "
    TYPE_TAPP@164..175
      PATH@164..167
        Ident@164..167 "Vec"
      TYPE_PARAM_LIST@167..175
        LBracket@167..168 "["
        TYPE_INT32@168..173
          Int32Keyword@168..173 "int32"
        RBracket@173..174 "]"
        Whitespace@174..175 " "
    LBrace@175..176 "{"
    Whitespace@176..181 "\n    "
    FN@181..269
      FnKeyword@181..183 "fn"
      Whitespace@183..184 " "
      Ident@184..190 "render"
      PARAM_LIST@190..209
        LParen@190..191 "("
        PARAM@191..207
          Ident@191..195 "self"
          Colon@195..196 ":"
          Whitespace@196..197 " "
          TYPE_TAPP@197..207
            PATH@197..200
              Ident@197..200 "Vec"
            TYPE_PARAM_LIST@200..207
              LBracket@200..201 "["
              TYPE_INT32@201..206
                Int32Keyword@201..206 "int32"
              RBracket@206..207 "]"
        RParen@207..208 ")"
        Whitespace@208..209 " "
      Arrow@209..211 "->"
      Whitespace@211..212 " "
      TYPE_STRING@212..219
        StringKeyword@212..218 "string"
        Whitespace@218..219 " "
      BLOCK@219..269
        LBrace@219..220 "{"
        Whitespace@220..229 "\n        "
        EXPR_BINARY@229..267
          EXPR_STR@229..238
            Str@229..237 "\"items=\""
            Whitespace@237..238 " "
          Plus@238..239 "+"
          Whitespace@239..240 " "
          EXPR_CALL@240..267
            EXPR_BINARY@240..260
              EXPR_CALL@240..250
                EXPR_BINARY@240..248
                  EXPR_IDENT@240..244
                    PATH@240..244
                      Ident@240..244 "self"
                  Dot@244..245 "."
                  EXPR_IDENT@245..248
                    PATH@245..248
                      Ident@245..248 "len"
                ARG_LIST@248..250
                  LParen@248..249 "("
                  RParen@249..250 ")"
              Dot@250..251 "."
              EXPR_IDENT@251..260
                PATH@251..260
                  Ident@251..260 "to_string"
            ARG_LIST@260..267
              LParen@260..261 "("
              RParen@261..262 ")"
              Whitespace@262..267 "\n    "
        RBrace@267..268 "}"
        Whitespace@268..269 "\n"
    RBrace@269..270 "}"
    Whitespace@270..272 "\n\n"
  IMPL@272..396
    ImplKeyword@272..276 "impl"
    GENERIC_LIST@276..280
      LBracket@276..277 "["
      GENERIC@277..278
        Ident@277..278 "T"
      RBracket@278..279 "]"
      Whitespace@279..280 " "
    TYPE_TAPP@280..289
      PATH@280..289
        Ident@280..288 "Selected"
        Whitespace@288..289 " "
    ForKeyword@289..292 "for"
    Whitespace@292..293 " "
    TYPE_TAPP@293..301
      PATH@293..297
        Ident@293..297 "Wrap"
      TYPE_PARAM_LIST@297..301
        LBracket@297..298 "["
        TYPE_TAPP@298..299
          PATH@298..299
            Ident@298..299 "T"
        RBracket@299..300 "]"
        Whitespace@300..301 " "
    WHERE_CLAUSE@301..323
      WhereKeyword@301..306 "where"
      Whitespace@306..307 " "
      WHERE_PREDICATE@307..323
        TYPE_TAPP@307..313
          PATH@307..310
            Ident@307..310 "Vec"
          TYPE_PARAM_LIST@310..313
            LBracket@310..311 "["
            TYPE_TAPP@311..312
              PATH@311..312
                Ident@311..312 "T"
            RBracket@312..313 "]"
        Colon@313..314 ":"
        Whitespace@314..315 " "
        TRAIT_SET@315..323
          TYPE_TAPP@315..323
            PATH@315..323
              Ident@315..321 "Render"
              Whitespace@321..323 "  "
    LBrace@323..324 "{"
    Whitespace@324..329 "\n    "
    FN@329..393
      FnKeyword@329..331 "fn"
      Whitespace@331..332 " "
      Ident@332..340 "selected"
      PARAM_LIST@340..356
        LParen@340..341 "("
        PARAM@341..354
          Ident@341..345 "self"
          Colon@345..346 ":"
          Whitespace@346..347 " "
          TYPE_TAPP@347..354
            PATH@347..351
              Ident@347..351 "Wrap"
            TYPE_PARAM_LIST@351..354
              LBracket@351..352 "["
              TYPE_TAPP@352..353
                PATH@352..353
                  Ident@352..353 "T"
              RBracket@353..354 "]"
        RParen@354..355 ")"
        Whitespace@355..356 " "
      Arrow@356..358 "->"
      Whitespace@358..359 " "
      TYPE_STRING@359..366
        StringKeyword@359..365 "string"
        Whitespace@365..366 " "
      BLOCK@366..393
        LBrace@366..367 "{"
        Whitespace@367..376 "\n        "
        EXPR_STR@376..391
          Str@376..386 "\"selected\""
          Whitespace@386..391 "\n    "
        RBrace@391..392 "}"
        Whitespace@392..393 "\n"
    RBrace@393..394 "}"
    Whitespace@394..396 "\n\n"
  FN@396..485
    FnKeyword@396..398 "fn"
    Whitespace@398..399 " "
    Ident@399..409 "render_all"
    GENERIC_LIST@409..412
      LBracket@409..410 "["
      GENERIC@410..411
        Ident@410..411 "T"
      RBracket@411..412 "]"
    PARAM_LIST@412..429
      LParen@412..413 "("
      PARAM@413..427
        Ident@413..419 "values"
        Colon@419..420 ":"
        Whitespace@420..421 " "
        TYPE_TAPP@421..427
          PATH@421..424
            Ident@421..424 "Vec"
          TYPE_PARAM_LIST@424..427
            LBracket@424..425 "["
            TYPE_TAPP@425..426
              PATH@425..426
                Ident@425..426 "T"
            RBracket@426..427 "]"
      RParen@427..428 ")"
      Whitespace@428..429 " "
    Arrow@429..431 "->"
    Whitespace@431..432 " "
    TYPE_STRING@432..439
      StringKeyword@432..438 "string"
      Whitespace@438..439 " "
    WHERE_CLAUSE@439..460
      WhereKeyword@439..444 "where"
      Whitespace@444..445 " "
      WHERE_PREDICATE@445..460
        TYPE_TAPP@445..451
          PATH@445..448
            Ident@445..448 "Vec"
          TYPE_PARAM_LIST@448..451
            LBracket@448..449 "["
            TYPE_TAPP@449..450
              PATH@449..450
                Ident@449..450 "T"
            RBracket@450..451 "]"
        Colon@451..452 ":"
        Whitespace@452..453 " "
        TRAIT_SET@453..460
          TYPE_TAPP@453..460
            PATH@453..460
              Ident@453..459 "Render"
              Whitespace@459..460 " "
    BLOCK@460..485
      LBrace@460..461 "{"
      Whitespace@461..466 "\n    "
      EXPR_CALL@466..482
        EXPR_BINARY@466..479
          EXPR_IDENT@466..472
            PATH@466..472
              Ident@466..472 "values"
          Dot@472..473 "."
          EXPR_IDENT@473..479
            PATH@473..479
              Ident@473..479 "render"
        ARG_LIST@479..482
          LParen@479..480 "("
          RParen@480..481 ")"
          Whitespace@481..482 "\n"
      RBrace@482..483 "}"
      Whitespace@483..485 "\n\n"
  FN@485..541
    FnKeyword@485..487 "fn"
    Whitespace@487..488 " "
    Ident@488..492 "same"
    GENERIC_LIST@492..498
      LBracket@492..493 "["
      GENERIC@493..494
        Ident@493..494 "T"
      Comma@494..495 ","
      Whitespace@495..496 " "
      GENERIC@496..497
        Ident@496..497 "U"
      RBracket@497..498 "]"
    PARAM_LIST@498..509
      LParen@498..499 "("
      PARAM@499..507
        Ident@499..504 "value"
        Colon@504..505 ":"
        Whitespace@505..506 " "
        TYPE_TAPP@506..507
          PATH@506..507
            Ident@506..507 "T"
      RParen@507..508 ")"
      Whitespace@508..509 " "
    Arrow@509..511 "->"
    Whitespace@511..512 " "
    TYPE_TAPP@512..514
      PATH@512..514
        Ident@512..513 "U"
        Whitespace@513..514 " "
    WHERE_CLAUSE@514..526
      WhereKeyword@514..519 "where"
      Whitespace@519..520 " "
      WHERE_PREDICATE@520..526
        TYPE_TAPP@520..522
          PATH@520..522
            Ident@520..521 "T"
            Whitespace@521..522 " "
        Eq@522..523 "="
        Whitespace@523..524 " "
        TYPE_TAPP@524..526
          PATH@524..526
            Ident@524..525 "U"
            Whitespace@525..526 " "
    BLOCK@526..541
      LBrace@526..527 "{"
      Whitespace@527..532 "\n    "
      EXPR_IDENT@532..538
        PATH@532..538
          Ident@532..537 "value"
          Whitespace@537..538 "\n"
      RBrace@538..539 "}"
      Whitespace@539..541 "\n\n"
  FN@541..611
    FnKeyword@541..543 "fn"
    Whitespace@543..544 " "
    Ident@544..551 "require"
    GENERIC_LIST@551..564
      LBracket@551..552 "["
      GENERIC@552..563
        Ident@552..553 "T"
        Colon@553..554 ":"
        Whitespace@554..555 " "
        TRAIT_SET@555..563
          TYPE_TAPP@555..563
            PATH@555..563
              Ident@555..563 "Selected"
      RBracket@563..564 "]"
    PARAM_LIST@564..575
      LParen@564..565 "("
      PARAM@565..573
        Ident@565..570 "value"
        Colon@570..571 ":"
        Whitespace@571..572 " "
        TYPE_TAPP@572..573
          PATH@572..573
            Ident@572..573 "T"
      RParen@573..574 ")"
      Whitespace@574..575 " "
    Arrow@575..577 "->"
    Whitespace@577..578 " "
    TYPE_STRING@578..585
      StringKeyword@578..584 "string"
      Whitespace@584..585 " "
    BLOCK@585..611
      LBrace@585..586 "{"
      Whitespace@586..591 "\n    "
      EXPR_CALL@591..608
        EXPR_BINARY@591..605
          EXPR_IDENT@591..596
            PATH@591..596
              Ident@591..596 "value"
          Dot@596..597 "."
          EXPR_IDENT@597..605
            PATH@597..605
              Ident@597..605 "selected"
        ARG_LIST@605..608
          LParen@605..606 "("
          RParen@606..607 ")"
          Whitespace@607..608 "\n"
      RBrace@608..609 "}"
      Whitespace@609..611 "\n\n"
  FN@611..886
    FnKeyword@611..613 "fn"
    Whitespace@613..614 " "
    Ident@614..618 "main"
    PARAM_LIST@618..621
      LParen@618..619 "("
      RParen@619..620 ")"
      Whitespace@620..621 " "
    Arrow@621..623 "->"
    Whitespace@623..624 " "
    TYPE_UNIT@624..629
      UnitKeyword@624..628 "unit"
      Whitespace@628..629 " "
    BLOCK@629..886
      LBrace@629..630 "{"
      Whitespace@630..635 "\n    "
      STMT_LET@635..675
        LetKeyword@635..638 "let"
        Whitespace@638..639 " "
        PATTERN_VARIABLE@639..645
          Ident@639..645 "values"
        Colon@645..646 ":"
        Whitespace@646..647 " "
        TYPE_TAPP@647..658
          PATH@647..650
            Ident@647..650 "Vec"
          TYPE_PARAM_LIST@650..658
            LBracket@650..651 "["
            TYPE_INT32@651..656
              Int32Keyword@651..656 "int32"
            RBracket@656..657 "]"
            Whitespace@657..658 " "
        Eq@658..659 "="
        Whitespace@659..660 " "
        EXPR_CALL@660..669
          EXPR_IDENT@660..667
            PATH@660..667
              Ident@660..667 "vec_new"
          ARG_LIST@667..669
            LParen@667..668 "("
            RParen@668..669 ")"
        Semi@669..670 ";"
        Whitespace@670..675 "\n    "
      STMT_EXPR@675..695
        EXPR_CALL@675..689
          EXPR_BINARY@675..686
            EXPR_IDENT@675..681
              PATH@675..681
                Ident@675..681 "values"
            Dot@681..682 "."
            EXPR_IDENT@682..686
              PATH@682..686
                Ident@682..686 "push"
          ARG_LIST@686..689
            LParen@686..687 "("
            ARG@687..688
              EXPR_INT@687..688
                Int@687..688 "1"
            RParen@688..689 ")"
        Semi@689..690 ";"
        Whitespace@690..695 "\n    "
      STMT_EXPR@695..715
        EXPR_CALL@695..709
          EXPR_BINARY@695..706
            EXPR_IDENT@695..701
              PATH@695..701
                Ident@695..701 "values"
            Dot@701..702 "."
            EXPR_IDENT@702..706
              PATH@702..706
                Ident@702..706 "push"
          ARG_LIST@706..709
            LParen@706..707 "("
            ARG@707..708
              EXPR_INT@707..708
                Int@707..708 "2"
            RParen@708..709 ")"
        Semi@709..710 ";"
        Whitespace@710..715 "\n    "
      STMT_EXPR@715..748
        EXPR_CALL@715..742
          EXPR_IDENT@715..722
            PATH@715..722
              Ident@715..722 "println"
          ARG_LIST@722..742
            LParen@722..723 "("
            ARG@723..741
              EXPR_CALL@723..741
                EXPR_IDENT@723..733
                  PATH@723..733
                    Ident@723..733 "render_all"
                ARG_LIST@733..741
                  LParen@733..734 "("
                  ARG@734..740
                    EXPR_IDENT@734..740
                      PATH@734..740
                        Ident@734..740 "values"
                  RParen@740..741 ")"
            RParen@741..742 ")"
        Semi@742..743 ";"
        Whitespace@743..748 "\n    "
      STMT_LET@748..786
        LetKeyword@748..751 "let"
        Whitespace@751..752 " "
        PATTERN_VARIABLE@752..756
          Ident@752..756 "text"
        Colon@756..757 ":"
        Whitespace@757..758 " "
        TYPE_STRING@758..765
          StringKeyword@758..764 "string"
          Whitespace@764..765 " "
        Eq@765..766 "="
        Whitespace@766..767 " "
        EXPR_CALL@767..780
          EXPR_IDENT@767..771
            PATH@767..771
              Ident@767..771 "same"
          ARG_LIST@771..780
            LParen@771..772 "("
            ARG@772..779
              EXPR_STR@772..779
                Str@772..779 "\"equal\""
            RParen@779..780 ")"
        Semi@780..781 ";"
        Whitespace@781..786 "\n    "
      STMT_EXPR@786..805
        EXPR_CALL@786..799
          EXPR_IDENT@786..793
            PATH@786..793
              Ident@786..793 "println"
          ARG_LIST@793..799
            LParen@793..794 "("
            ARG@794..798
              EXPR_IDENT@794..798
                PATH@794..798
                  Ident@794..798 "text"
            RParen@798..799 ")"
        Semi@799..800 ";"
        Whitespace@800..805 "\n    "
      STMT_LET@805..856
        LetKeyword@805..808 "let"
        Whitespace@808..809 " "
        PATTERN_VARIABLE@809..817
          Ident@809..817 "selected"
        Colon@817..818 ":"
        Whitespace@818..819 " "
        TYPE_TAPP@819..831
          PATH@819..823
            Ident@819..823 "Wrap"
          TYPE_PARAM_LIST@823..831
            LBracket@823..824 "["
            TYPE_INT32@824..829
              Int32Keyword@824..829 "int32"
            RBracket@829..830 "]"
            Whitespace@830..831 " "
        Eq@831..832 "="
        Whitespace@832..833 " "
        EXPR_STRUCT_LITERAL@833..850
          PATH@833..838
            Ident@833..837 "Wrap"
            Whitespace@837..838 " "
          STRUCT_LITERAL_FIELD_LIST@838..850
            LBrace@838..839 "{"
            Whitespace@839..840 " "
            STRUCT_LITERAL_FIELD@840..849
              Ident@840..845 "value"
              Colon@845..846 ":"
              Whitespace@846..847 " "
              EXPR_INT@847..849
                Int@847..848 "7"
                Whitespace@848..849 " "
            RBrace@849..850 "}"
        Semi@850..851 ";"
        Whitespace@851..856 "\n    "
      STMT_EXPR@856..884
        EXPR_CALL@856..882
          EXPR_IDENT@856..863
            PATH@856..863
              Ident@856..863 "println"
          ARG_LIST@863..882
            LParen@863..864 "("
            ARG@864..881
              EXPR_CALL@864..881
                EXPR_IDENT@864..871
                  PATH@864..871
                    Ident@864..871 "require"
                ARG_LIST@871..881
                  LParen@871..872 "("
                  ARG@872..880
                    EXPR_IDENT@872..880
                      PATH@872..880
                        Ident@872..880 "selected"
                  RParen@880..881 ")"
            RParen@881..882 ")"
        Semi@882..883 ";"
        Whitespace@883..884 "\n"
      RBrace@884..885 "}"
      Whitespace@885..886 "\n"