FILE@0..545
  TRAIT@0..53
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Label"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..53
      TRAIT_METHOD_SIG@18..50
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..26 "label"
        PARAM_LIST@26..39
          LParen@26..27 "("
          PARAM@27..37
            Ident@27..31 "self"
            Colon@31..32 ":"
            Whitespace@32..33 " "
            TYPE_TAPP@33..37
              PATH@33..37
                Ident@33..37 "Self"
          RParen@37..38 ")"
          Whitespace@38..39 " "
        Arrow@39..41 "->"
        Whitespace@41..42 " "
        TYPE_STRING@42..48
          StringKeyword@42..48 "string"
        Semi@48..49 ";"
        Whitespace@49..50 "\n"
      RBrace@50..51 "}"
      Whitespace@51..53 "\n\n"
  TRAIT@53..132
    TraitKeyword@53..58 "trait"
    Whitespace@58..59 " "
    Ident@59..65 "Source"
    Whitespace@65..66 " "
    LBrace@66..67 "{"
    Whitespace@67..72 "\n    "
    TRAIT_METHOD_SIG_LIST@72..132
      TRAIT_ASSOCIATED_TYPE@72..95
        TypeKeyword@72..76 "type"
        Whitespace@76..77 " "
        Ident@77..81 "Item"
        Colon@81..82 ":"
        Whitespace@82..83 " "
        TRAIT_SET@83..88
          TYPE_TAPP@83..88
            PATH@83..88
              Ident@83..88 "Label"
        Semi@88..89 ";"
        Whitespace@89..95 "\n\n    "
      TRAIT_METHOD_SIG@95..129
        FnKeyword@95..97 "fn"
        Whitespace@97..98 " "
        Ident@98..101 "get"
        PARAM_LIST@101..114
          LParen@101..102 "("
          PARAM@102..112
            Ident@102..106 "self"
            Colon@106..107 ":"
            Whitespace@107..108 " "
            TYPE_TAPP@108..112
              PATH@108..112
                Ident@108..112 "Self"
          RParen@112..113 ")"
          Whitespace@113..114 " "
        Arrow@114..116 "->"
        Whitespace@116..117 " "
        TYPE_TAPP@117..127
          PATH@117..127
            Ident@117..121 "Self"
            ColonColon@121..123 "::"
            Ident@123..127 "Item"
        Semi@127..128 ";"
        Whitespace@128..129 "\n"
      RBrace@129..130 "}"
      Whitespace@130..132 "\n\n"
  STRUCT@132..174
    StructKeyword@132..138 "struct"
    Whitespace@138..139 " "
    Ident@139..149 "TextSource"
    Whitespace@149..150 " "
    LBrace@150..151 "{"
    Whitespace@151..156 "\n    "
    STRUCT_FIELD_LIST@156..174
      STRUCT_FIELD@156..169
        Ident@156..161 "value"
        Colon@161..162 ":"
        Whitespace@162..163 " "
        TYPE_STRING@163..169
          StringKeyword@163..169 "string"
      Comma@169..170 ","
      Whitespace@170..171 "\n"
      RBrace@171..172 "}"
      Whitespace@172..174 "\n\n"
  IMPL@174..270
    ImplKeyword@174..178 "impl"
    Whitespace@178..179 " "
    TYPE_TAPP@179..185
      PATH@179..185
        Ident@179..184 "Label"
        Whitespace@184..185 " "
    ForKeyword@185..188 "for"
    Whitespace@188..189 " "
    TYPE_STRING@189..196
      StringKeyword@189..195 "string"
      Whitespace@195..196 " "
    LBrace@196..197 "{"
    Whitespace@197..202 "\n    "
    FN@202..267
      FnKeyword@202..204 "fn"
      Whitespace@204..205 " "
      Ident@205..210 "label"
      PARAM_LIST@210..225
        LParen@210..211 "("
        PARAM@211..223
          Ident@211..215 "self"
          Colon@215..216 ":"
          Whitespace@216..217 " "
          TYPE_STRING@217..223
            StringKeyword@217..223 "string"
        RParen@223..224 ")"
        Whitespace@224..225 " "
      Arrow@225..227 "->"
      Whitespace@227..228 " "
      TYPE_STRING@228..235
        StringKeyword@228..234 "string"
        Whitespace@234..235 " "
      BLOCK@235..267
        LBrace@235..236 "{"
        Whitespace@236..245 "\n        "
        EXPR_BINARY@245..265
          EXPR_STR@245..254
            Str@245..253 "\"label:\""
            Whitespace@253..254 " "
          Plus@254..255 "+"
          Whitespace@255..256 " "
          EXPR_IDENT@256..265
            PATH@256..265
              Ident@256..260 "self"
              Whitespace@260..265 "\n    "
        RBrace@265..266 "}"
        Whitespace@266..267 "\n"
    RBrace@267..268 "}"
    Whitespace@268..270 "\n\n"
  IMPL@270..393
    ImplKeyword@270..274 "impl"
    Whitespace@274..275 " "
    TYPE_TAPP@275..282
      PATH@275..282
        Ident@275..281 "Source"
        Whitespace@281..282 " "
    ForKeyword@282..285 "for"
    Whitespace@285..286 " "
    TYPE_TAPP@286..297
      PATH@286..297
        Ident@286..296 "TextSource"
        Whitespace@296..297 " "
    LBrace@297..298 "{"
    Whitespace@298..303 "\n    "
    IMPL_ASSOCIATED_TYPE@303..328
      TypeKeyword@303..307 "type"
      Whitespace@307..308 " "
      Ident@308..312 "Item"
      Whitespace@312..313 " "
      Eq@313..314 "="
      Whitespace@314..315 " "
      TYPE_STRING@315..321
        StringKeyword@315..321 "string"
      Semi@321..322 ";"
      Whitespace@322..328 "\n\n    "
    FN@328..390
      FnKeyword@328..330 "fn"
      Whitespace@330..331 " "
      Ident@331..334 "get"
      PARAM_LIST@334..353
        LParen@334..335 "("
        PARAM@335..351
          Ident@335..339 "self"
          Colon@339..340 ":"
          Whitespace@340..341 " "
          TYPE_TAPP@341..351
            PATH@341..351
              Ident@341..351 "TextSource"
        RParen@351..352 ")"
        Whitespace@352..353 " "
      Arrow@353..355 "->"
      Whitespace@355..356 " "
      TYPE_STRING@356..363
        StringKeyword@356..362 "string"
        Whitespace@362..363 " "
      BLOCK@363..390
        LBrace@363..364 "{"
        Whitespace@364..373 "\n        "
        EXPR_BINARY@373..388
          EXPR_IDENT@373..377
            PATH@373..377
              Ident@373..377 "self"
          Dot@377..378 "."
          EXPR_IDENT@378..388
            PATH@378..388
              Ident@378..383 "value"
              Whitespace@383..388 "\n    "
        RBrace@388..389 "}"
        Whitespace@389..390 "\n"
    RBrace@390..391 "}"
    Whitespace@391..393 "\n\n"
  FN@393..472
    FnKeyword@393..395 "fn"
    Whitespace@395..396 " "
    Ident@396..402 "render"
    GENERIC_LIST@402..413
      LBracket@402..403 "["
      GENERIC@403..412
        Ident@403..404 "S"
        Colon@404..405 ":"
        Whitespace@405..406 " "
        TRAIT_SET@406..412
          TYPE_TAPP@406..412
            PATH@406..412
              Ident@406..412 "Source"
      RBracket@412..413 "]"
    PARAM_LIST@413..425
      LParen@413..414 "("
      PARAM@414..423
        Ident@414..420 "source"
        Colon@420..421 ":"
        Whitespace@421..422 " "
        TYPE_TAPP@422..423
          PATH@422..423
            Ident@422..423 "S"
      RParen@423..424 ")"
      Whitespace@424..425 " "
    Arrow@425..427 "->"
    Whitespace@427..428 " "
    TYPE_STRING@428..435
      StringKeyword@428..434 "string"
      Whitespace@434..435 " "
    BLOCK@435..472
      LBrace@435..436 "{"
      Whitespace@436..441 "\n    "
      EXPR_CALL@441..469
        EXPR_BINARY@441..466
          EXPR_CALL@441..460
            EXPR_IDENT@441..452
              PATH@441..452
                Ident@441..447 "Source"
                ColonColon@447..449 "::"
                Ident@449..452 "get"
            ARG_LIST@452..460
              LParen@452..453 "("
              ARG@453..459
                EXPR_IDENT@453..459
                  PATH@453..459
                    Ident@453..459 "source"
              RParen@459..460 ")"
          Dot@460..461 "."
          EXPR_IDENT@461..466
            PATH@461..466
              Ident@461..466 "label"
        ARG_LIST@466..469
          LParen@466..467 "("
          RParen@467..468 ")"
          Whitespace@468..469 "\n"
      RBrace@469..470 "}"
      Whitespace@470..472 "\n\n"
  FN@472..545
    FnKeyword@472..474 "fn"
    Whitespace@474..475 " "
    Ident@475..479 "main"
    PARAM_LIST@479..482
      LParen@479..480 "("
      RParen@480..481 ")"
      Whitespace@481..482 " "
    Arrow@482..484 "->"
    Whitespace@484..485 " "
    TYPE_UNIT@485..490
      UnitKeyword@485..489 "unit"
      Whitespace@489..490 " "
    BLOCK@490..545
      LBrace@490..491 "{"
      Whitespace@491..496 "\n    "
      STMT_EXPR@496..543
        EXPR_CALL@496..541
          EXPR_IDENT@496..503
            PATH@496..503
              Ident@496..503 "println"
          ARG_LIST@503..541
            LParen@503..504 "("
            ARG@504..540
              EXPR_CALL@504..540
                EXPR_IDENT@504..510
                  PATH@504..510
                    Ident@504..510 "render"
                ARG_LIST@510..540
                  LParen@510..511 "("
                  ARG@511..539
                    EXPR_STRUCT_LITERAL@511..539
                      PATH@511..522
                        Ident@511..521 "TextSource"
                        Whitespace@521..522 " "
                      STRUCT_LITERAL_FIELD_LIST@522..539
                        LBrace@522..523 "{"
                        Whitespace@523..524 " "
                        STRUCT_LITERAL_FIELD@524..538
                          Ident@524..529 "value"
                          Colon@529..530 ":"
                          Whitespace@530..531 " "
                          EXPR_STR@531..538
                            Str@531..537 "\"goml\""
                            Whitespace@537..538 " "
                        RBrace@538..539 "}"
                  RParen@539..540 ")"
            RParen@540..541 ")"
        Semi@541..542 ";"
        Whitespace@542..543 "\n"
      RBrace@543..544 "}"
      Whitespace@544..545 "\n"