FILE@0..2337
  STRUCT@0..57
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..16 "LoggedKey"
    Whitespace@16..17 " "
    LBrace@17..18 "{"
    Whitespace@18..23 "\n    "
    STRUCT_FIELD_LIST@23..57
      STRUCT_FIELD@23..30
        Ident@23..25 "id"
        Colon@25..26 ":"
        Whitespace@26..27 " "
        TYPE_INT@27..30
          IntKeyword@27..30 "int"
      Comma@30..31 ","
      Whitespace@31..36 "\n    "
      STRUCT_FIELD@36..52
        Ident@36..39 "log"
        Colon@39..40 ":"
        Whitespace@40..41 " "
        TYPE_TAPP@41..52
          PATH@41..44
            Ident@41..44 "Ref"
          TYPE_PARAM_LIST@44..52
            LBracket@44..45 "["
            TYPE_STRING@45..51
              StringKeyword@45..51 "string"
            RBracket@51..52 "]"
      Comma@52..53 ","
      Whitespace@53..54 "\n"
      RBrace@54..55 "}"
      Whitespace@55..57 "\n\n"
  IMPL@57..224
    ImplKeyword@57..61 "impl"
    Whitespace@61..62 " "
    TYPE_TAPP@62..72
      PATH@62..72
        Ident@62..71 "PartialEq"
        Whitespace@71..72 " "
    ForKeyword@72..75 "for"
    Whitespace@75..76 " "
    TYPE_TAPP@76..86
      PATH@76..86
        Ident@76..85 "LoggedKey"
        Whitespace@85..86 " "
    LBrace@86..87 "{"
    Whitespace@87..92 "\n    "
    FN@92..221
      FnKeyword@92..94 "fn"
      Whitespace@94..95 " "
      Ident@95..97 "eq"
      PARAM_LIST@97..133
        LParen@97..98 "("
        PARAM@98..115
          Ident@98..102 "self"
          Colon@102..103 ":"
          Whitespace@103..104 " "
          TYPE_TAPP@104..113
            PATH@104..113
              Ident@104..113 "LoggedKey"
          Comma@113..114 ","
          Whitespace@114..115 " "
        PARAM@115..131
          Ident@115..120 "other"
          Colon@120..121 ":"
          Whitespace@121..122 " "
          TYPE_TAPP@122..131
            PATH@122..131
              Ident@122..131 "LoggedKey"
        RParen@131..132 ")"
        Whitespace@132..133 " "
      Arrow@133..135 "->"
      Whitespace@135..136 " "
      TYPE_BOOL@136..141
        BoolKeyword@136..140 "bool"
        Whitespace@140..141 " "
      BLOCK@141..221
        LBrace@141..142 "{"
        Whitespace@142..151 "\n        "
        STMT_EXPR@151..195
          EXPR_CALL@151..185
            EXPR_BINARY@151..163
              EXPR_BINARY@151..159
                EXPR_IDENT@151..155
                  PATH@151..155
                    Ident@151..155 "self"
                Dot@155..156 "."
                EXPR_IDENT@156..159
                  PATH@156..159
                    Ident@156..159 "log"
              Dot@159..160 "."
              EXPR_IDENT@160..163
                PATH@160..163
                  Ident@160..163 "set"
            ARG_LIST@163..185
              LParen@163..164 "("
              ARG@164..184
                EXPR_BINARY@164..184
                  EXPR_CALL@164..179
                    EXPR_BINARY@164..176
                      EXPR_BINARY@164..172
                        EXPR_IDENT@164..168
                          PATH@164..168
                            Ident@164..168 "self"
                        Dot@168..169 "."
                        EXPR_IDENT@169..172
                          PATH@169..172
                            Ident@169..172 "log"
                      Dot@172..173 "."
                      EXPR_IDENT@173..176
                        PATH@173..176
                          Ident@173..176 "get"
                    ARG_LIST@176..179
                      LParen@176..177 "("
                      RParen@177..178 ")"
                      Whitespace@178..179 " "
                  Plus@179..180 "+"
                  Whitespace@180..181 " "
                  EXPR_STR@181..184
                    Str@181..184 "\"E\""
              RParen@184..185 ")"
          Semi@185..186 ";"
          Whitespace@186..195 "\n        "
        EXPR_BINARY@195..219
          EXPR_BINARY@195..203
            EXPR_IDENT@195..199
              PATH@195..199
                Ident@195..199 "self"
            Dot@199..200 "."
            EXPR_IDENT@200..203
              PATH@200..203
                Ident@200..202 "id"
                Whitespace@202..203 " "
          EqEq@203..205 "=="
          Whitespace@205..206 " "
          EXPR_BINARY@206..219
            EXPR_IDENT@206..211
              PATH@206..211
                Ident@206..211 "other"
            Dot@211..212 "."
            EXPR_IDENT@212..219
              PATH@212..219
                Ident@212..214 "id"
                Whitespace@214..219 "\n    "
        RBrace@219..220 "}"
        Whitespace@220..221 "\n"
    RBrace@221..222 "}"
    Whitespace@222..224 "\n\n"
  IMPL@224..250
    ImplKeyword@224..228 "impl"
    Whitespace@228..229 " "
    TYPE_TAPP@229..232
      PATH@229..232
        Ident@229..231 "Eq"
        Whitespace@231..232 " "
    ForKeyword@232..235 "for"
    Whitespace@235..236 " "
    TYPE_TAPP@236..246
      PATH@236..246
        Ident@236..245 "LoggedKey"
        Whitespace@245..246 " "
    LBrace@246..247 "{"
    RBrace@247..248 "}"
    Whitespace@248..250 "\n\n"
  IMPL@250..398
    ImplKeyword@250..254 "impl"
    Whitespace@254..255 " "
    TYPE_TAPP@255..260
      PATH@255..260
        Ident@255..259 "Hash"
        Whitespace@259..260 " "
    ForKeyword@260..263 "for"
    Whitespace@263..264 " "
    TYPE_TAPP@264..274
      PATH@264..274
        Ident@264..273 "LoggedKey"
        Whitespace@273..274 " "
    LBrace@274..275 "{"
    Whitespace@275..280 "\n    "
    FN@280..395
      FnKeyword@280..282 "fn"
      Whitespace@282..283 " "
      Ident@283..287 "hash"
      PARAM_LIST@287..305
        LParen@287..288 "("
        PARAM@288..303
          Ident@288..292 "self"
          Colon@292..293 ":"
          Whitespace@293..294 " "
          TYPE_TAPP@294..303
            PATH@294..303
              Ident@294..303 "LoggedKey"
        RParen@303..304 ")"
        Whitespace@304..305 " "
      Arrow@305..307 "->"
      Whitespace@307..308 " "
      TYPE_UINT64@308..315
        Uint64Keyword@308..314 "uint64"
        Whitespace@314..315 " "
      BLOCK@315..395
        LBrace@315..316 "{"
        Whitespace@316..325 "\n        "
        STMT_EXPR@325..369
          EXPR_CALL@325..359
            EXPR_BINARY@325..337
              EXPR_BINARY@325..333
                EXPR_IDENT@325..329
                  PATH@325..329
                    Ident@325..329 "self"
                Dot@329..330 "."
                EXPR_IDENT@330..333
                  PATH@330..333
                    Ident@330..333 "log"
              Dot@333..334 "."
              EXPR_IDENT@334..337
                PATH@334..337
                  Ident@334..337 "set"
            ARG_LIST@337..359
              LParen@337..338 "("
              ARG@338..358
                EXPR_BINARY@338..358
                  EXPR_CALL@338..353
                    EXPR_BINARY@338..350
                      EXPR_BINARY@338..346
                        EXPR_IDENT@338..342
                          PATH@338..342
                            Ident@338..342 "self"
                        Dot@342..343 "."
                        EXPR_IDENT@343..346
                          PATH@343..346
                            Ident@343..346 "log"
                      Dot@346..347 "."
                      EXPR_IDENT@347..350
                        PATH@347..350
                          Ident@347..350 "get"
                    ARG_LIST@350..353
                      LParen@350..351 "("
                      RParen@351..352 ")"
                      Whitespace@352..353 " "
                  Plus@353..354 "+"
                  Whitespace@354..355 " "
                  EXPR_STR@355..358
                    Str@355..358 "\"H\""
              RParen@358..359 ")"
          Semi@359..360 ";"
          Whitespace@360..369 "\n        "
        EXPR_CALL@369..393
          EXPR_BINARY@369..386
            EXPR_BINARY@369..376
              EXPR_IDENT@369..373
                PATH@369..373
                  Ident@369..373 "self"
              Dot@373..374 "."
              EXPR_IDENT@374..376
                PATH@374..376
                  Ident@374..376 "id"
            Dot@376..377 "."
            EXPR_IDENT@377..386
              PATH@377..386
                Ident@377..386 "to_uint64"
          ARG_LIST@386..393
            LParen@386..387 "("
            RParen@387..388 ")"
            Whitespace@388..393 "\n    "
        RBrace@393..394 "}"
        Whitespace@394..395 "\n"
    RBrace@395..396 "}"
    Whitespace@396..398 "\n\n"
  FN@398..530
    FnKeyword@398..400 "fn"
    Whitespace@400..401 " "
    Ident@401..411 "logged_key"
    PARAM_LIST@411..454
      LParen@411..412 "("
      PARAM@412..430
        Ident@412..415 "log"
        Colon@415..416 ":"
        Whitespace@416..417 " "
        TYPE_TAPP@417..428
          PATH@417..420
            Ident@417..420 "Ref"
          TYPE_PARAM_LIST@420..428
            LBracket@420..421 "["
            TYPE_STRING@421..427
              StringKeyword@421..427 "string"
            RBracket@427..428 "]"
        Comma@428..429 ","
        Whitespace@429..430 " "
      PARAM@430..445
        Ident@430..435 "label"
        Colon@435..436 ":"
        Whitespace@436..437 " "
        TYPE_STRING@437..443
          StringKeyword@437..443 "string"
        Comma@443..444 ","
        Whitespace@444..445 " "
      PARAM@445..452
        Ident@445..447 "id"
        Colon@447..448 ":"
        Whitespace@448..449 " "
        TYPE_INT@449..452
          IntKeyword@449..452 "int"
      RParen@452..453 ")"
      Whitespace@453..454 " "
    Arrow@454..456 "->"
    Whitespace@456..457 " "
    TYPE_TAPP@457..467
      PATH@457..467
        Ident@457..466 "LoggedKey"
        Whitespace@466..467 " "
    BLOCK@467..530
      LBrace@467..468 "{"
      Whitespace@468..473 "\n    "
      STMT_EXPR@473..505
        EXPR_CALL@473..499
          EXPR_BINARY@473..480
            EXPR_IDENT@473..476
              PATH@473..476
                Ident@473..476 "log"
            Dot@476..477 "."
            EXPR_IDENT@477..480
              PATH@477..480
                Ident@477..480 "set"
          ARG_LIST@480..499
            LParen@480..481 "("
            ARG@481..498
              EXPR_BINARY@481..498
                EXPR_CALL@481..491
                  EXPR_BINARY@481..488
                    EXPR_IDENT@481..484
                      PATH@481..484
                        Ident@481..484 "log"
                    Dot@484..485 "."
                    EXPR_IDENT@485..488
                      PATH@485..488
                        Ident@485..488 "get"
                  ARG_LIST@488..491
                    LParen@488..489 "("
                    RParen@489..490 ")"
                    Whitespace@490..491 " "
                Plus@491..492 "+"
                Whitespace@492..493 " "
                EXPR_IDENT@493..498
                  PATH@493..498
                    Ident@493..498 "label"
            RParen@498..499 ")"
        Semi@499..500 ";"
        Whitespace@500..505 "\n    "
      EXPR_STRUCT_LITERAL@505..527
        PATH@505..515
          Ident@505..514 "LoggedKey"
          Whitespace@514..515 " "
        STRUCT_LITERAL_FIELD_LIST@515..527
          LBrace@515..516 "{"
          Whitespace@516..517 " "
          STRUCT_LITERAL_FIELD@517..519
            Ident@517..519 "id"
          Comma@519..520 ","
          Whitespace@520..521 " "
          STRUCT_LITERAL_FIELD@521..525
            Ident@521..524 "log"
            Whitespace@524..525 " "
          RBrace@525..526 "}"
          Whitespace@526..527 "\n"
      RBrace@527..528 "}"
      Whitespace@528..530 "\n\n"
  FN@530..645
    FnKeyword@530..532 "fn"
    Whitespace@532..533 " "
    Ident@533..545 "logged_value"
    PARAM_LIST@545..591
      LParen@545..546 "("
      PARAM@546..564
        Ident@546..549 "log"
        Colon@549..550 ":"
        Whitespace@550..551 " "
        TYPE_TAPP@551..562
          PATH@551..554
            Ident@551..554 "Ref"
          TYPE_PARAM_LIST@554..562
            LBracket@554..555 "["
            TYPE_STRING@555..561
              StringKeyword@555..561 "string"
            RBracket@561..562 "]"
        Comma@562..563 ","
        Whitespace@563..564 " "
      PARAM@564..579
        Ident@564..569 "label"
        Colon@569..570 ":"
        Whitespace@570..571 " "
        TYPE_STRING@571..577
          StringKeyword@571..577 "string"
        Comma@577..578 ","
        Whitespace@578..579 " "
      PARAM@579..589
        Ident@579..584 "value"
        Colon@584..585 ":"
        Whitespace@585..586 " "
        TYPE_INT@586..589
          IntKeyword@586..589 "int"
      RParen@589..590 ")"
      Whitespace@590..591 " "
    Arrow@591..593 "->"
    Whitespace@593..594 " "
    TYPE_INT@594..598
      IntKeyword@594..597 "int"
      Whitespace@597..598 " "
    BLOCK@598..645
      LBrace@598..599 "{"
      Whitespace@599..604 "\n    "
      STMT_EXPR@604..636
        EXPR_CALL@604..630
          EXPR_BINARY@604..611
            EXPR_IDENT@604..607
              PATH@604..607
                Ident@604..607 "log"
            Dot@607..608 "."
            EXPR_IDENT@608..611
              PATH@608..611
                Ident@608..611 "set"
          ARG_LIST@611..630
            LParen@611..612 "("
            ARG@612..629
              EXPR_BINARY@612..629
                EXPR_CALL@612..622
                  EXPR_BINARY@612..619
                    EXPR_IDENT@612..615
                      PATH@612..615
                        Ident@612..615 "log"
                    Dot@615..616 "."
                    EXPR_IDENT@616..619
                      PATH@616..619
                        Ident@616..619 "get"
                  ARG_LIST@619..622
                    LParen@619..620 "("
                    RParen@620..621 ")"
                    Whitespace@621..622 " "
                Plus@622..623 "+"
                Whitespace@623..624 " "
                EXPR_IDENT@624..629
                  PATH@624..629
                    Ident@624..629 "label"
            RParen@629..630 ")"
        Semi@630..631 ";"
        Whitespace@631..636 "\n    "
      EXPR_IDENT@636..642
        PATH@636..642
          Ident@636..641 "value"
          Whitespace@641..642 "\n"
      RBrace@642..643 "}"
      Whitespace@643..645 "\n\n"
  FN@645..2337
    FnKeyword@645..647 "fn"
    Whitespace@647..648 " "
    Ident@648..652 "main"
    PARAM_LIST@652..655
      LParen@652..653 "("
      RParen@653..654 ")"
      Whitespace@654..655 " "
    Arrow@655..657 "->"
    Whitespace@657..658 " "
    TYPE_UNIT@658..663
      UnitKeyword@658..662 "unit"
      Whitespace@662..663 " "
    BLOCK@663..2337
      LBrace@663..664 "{"
      Whitespace@664..669 "\n    "
      STMT_LET@669..729
        LetKeyword@669..672 "let"
        Whitespace@672..673 " "
        PATTERN_VARIABLE@673..681
          Ident@673..681 "make_vec"
        Colon@681..682 ":"
        Whitespace@682..683 " "
        TYPE_FUNC@683..706
          TYPE_TUPLE@683..694
            TYPE_LIST@683..694
              LParen@683..684 "("
              TYPE_ARRAY@684..692
                LBracket@684..685 "["
                TYPE_INT@685..688
                  IntKeyword@685..688 "int"
                Semi@688..689 ";"
                Whitespace@689..690 " "
                Int@690..691 "3"
                RBracket@691..692 "]"
              RParen@692..693 ")"
              Whitespace@693..694 " "
          Arrow@694..696 "->"
          Whitespace@696..697 " "
          TYPE_TAPP@697..706
            PATH@697..700
              Ident@697..700 "Vec"
            TYPE_PARAM_LIST@700..706
              LBracket@700..701 "["
              TYPE_INT@701..704
                IntKeyword@701..704 "int"
              RBracket@704..705 "]"
              Whitespace@705..706 " "
        Eq@706..707 "="
        Whitespace@707..708 " "
        EXPR_IDENT@708..723
          PATH@708..723
            Ident@708..711 "Vec"
            ColonColon@711..713 "::"
            Ident@713..723 "from_array"
        Semi@723..724 ";"
        Whitespace@724..729 "\n    "
      STMT_LET@729..767
        LetKeyword@729..732 "let"
        Whitespace@732..733 " "
        PATTERN_VARIABLE@733..740
          Ident@733..739 "values"
          Whitespace@739..740 " "
        Eq@740..741 "="
        Whitespace@741..742 " "
        EXPR_CALL@742..761
          EXPR_IDENT@742..750
            PATH@742..750
              Ident@742..750 "make_vec"
          ARG_LIST@750..761
            LParen@750..751 "("
            ARG@751..760
              EXPR_ARRAY_LITERAL@751..760
                LBracket@751..752 "["
                EXPR_INT@752..753
                  Int@752..753 "1"
                Comma@753..754 ","
                Whitespace@754..755 " "
                EXPR_INT@755..756
                  Int@755..756 "2"
                Comma@756..757 ","
                Whitespace@757..758 " "
                EXPR_INT@758..759
                  Int@758..759 "3"
                RBracket@759..760 "]"
            RParen@760..761 ")"
        Semi@761..762 ";"
        Whitespace@762..767 "\n    "
      STMT_EXPR@767..823
        EXPR_CALL@767..817
          EXPR_IDENT@767..774
            PATH@767..774
              Ident@767..774 "println"
          ARG_LIST@774..817
            LParen@774..775 "("
            ARG@775..816
              EXPR_INTERPOLATED_STRING@775..816
                FStringStart@775..777 "f\""
                FStringExprStart@777..778 "{"
                INTERPOLATED_STRING_EXPR@778..791
                  EXPR_CALL@778..790
                    EXPR_BINARY@778..788
                      EXPR_IDENT@778..784
                        PATH@778..784
                          Ident@778..784 "values"
                      Dot@784..785 "."
                      EXPR_IDENT@785..788
                        PATH@785..788
                          Ident@785..788 "len"
                    ARG_LIST@788..790
                      LParen@788..789 "("
                      RParen@789..790 ")"
                  FStringExprEnd@790..791 "}"
                FStringText@791..792 ":"
                FStringExprStart@792..793 "{"
                INTERPOLATED_STRING_EXPR@793..803
                  EXPR_INDEX@793..802
                    EXPR_IDENT@793..799
                      PATH@793..799
                        Ident@793..799 "values"
                    LBracket@799..800 "["
                    EXPR_INT@800..801
                      Int@800..801 "0"
                    RBracket@801..802 "]"
                  FStringExprEnd@802..803 "}"
                FStringText@803..804 ":"
                FStringExprStart@804..805 "{"
                INTERPOLATED_STRING_EXPR@805..815
                  EXPR_INDEX@805..814
                    EXPR_IDENT@805..811
                      PATH@805..811
                        Ident@805..811 "values"
                    LBracket@811..812 "["
                    EXPR_INT@812..813
                      Int@812..813 "2"
                    RBracket@813..814 "]"
                  FStringExprEnd@814..815 "}"
                FStringEnd@815..816 "\""
            RParen@816..817 ")"
        Semi@817..818 ";"
        Whitespace@818..823 "\n    "
      STMT_LET@823..877
        LetKeyword@823..826 "let"
        Whitespace@826..827 " "
        PATTERN_VARIABLE@827..832
          Ident@827..832 "empty"
        Colon@832..833 ":"
        Whitespace@833..834 " "
        TYPE_TAPP@834..843
          PATH@834..837
            Ident@834..837 "Vec"
          TYPE_PARAM_LIST@837..843
            LBracket@837..838 "["
            TYPE_INT@838..841
              IntKeyword@838..841 "int"
            RBracket@841..842 "]"
            Whitespace@842..843 " "
        Eq@843..844 "="
        Whitespace@844..845 " "
        EXPR_CALL@845..871
          EXPR_IDENT@845..867
            TYPE_TAPP@845..855
              PATH@845..848
                Ident@845..848 "Vec"
              ColonColon@848..850 "::"
              TYPE_PARAM_LIST@850..855
                LBracket@850..851 "["
                TYPE_INT@851..854
                  IntKeyword@851..854 "int"
                RBracket@854..855 "]"
            ColonColon@855..857 "::"
            PATH@857..867
              Ident@857..867 "from_array"
          ARG_LIST@867..871
            LParen@867..868 "("
            ARG@868..870
              EXPR_ARRAY_LITERAL@868..870
                LBracket@868..869 "["
                RBracket@869..870 "]"
            RParen@870..871 ")"
        Semi@871..872 ";"
        Whitespace@872..877 "\n    "
      STMT_EXPR@877..903
        EXPR_CALL@877..897
          EXPR_IDENT@877..884
            PATH@877..884
              Ident@877..884 "println"
          ARG_LIST@884..897
            LParen@884..885 "("
            ARG@885..896
              EXPR_CALL@885..896
                EXPR_BINARY@885..894
                  EXPR_IDENT@885..890
                    PATH@885..890
                      Ident@885..890 "empty"
                  Dot@890..891 "."
                  EXPR_IDENT@891..894
                    PATH@891..894
                      Ident@891..894 "len"
                ARG_LIST@894..896
                  LParen@894..895 "("
                  RParen@895..896 ")"
            RParen@896..897 ")"
        Semi@897..898 ";"
        Whitespace@898..903 "\n    "
      STMT_LET@903..959
        LetKeyword@903..906 "let"
        Whitespace@906..907 " "
        PATTERN_VARIABLE@907..921
          Ident@907..921 "inferred_empty"
        Colon@921..922 ":"
        Whitespace@922..923 " "
        TYPE_TAPP@923..932
          PATH@923..926
            Ident@923..926 "Vec"
          TYPE_PARAM_LIST@926..932
            LBracket@926..927 "["
            TYPE_INT@927..930
              IntKeyword@927..930 "int"
            RBracket@930..931 "]"
            Whitespace@931..932 " "
        Eq@932..933 "="
        Whitespace@933..934 " "
        EXPR_CALL@934..953
          EXPR_IDENT@934..949
            PATH@934..949
              Ident@934..937 "Vec"
              ColonColon@937..939 "::"
              Ident@939..949 "from_array"
          ARG_LIST@949..953
            LParen@949..950 "("
            ARG@950..952
              EXPR_ARRAY_LITERAL@950..952
                LBracket@950..951 "["
                RBracket@951..952 "]"
            RParen@952..953 ")"
        Semi@953..954 ";"
        Whitespace@954..959 "\n    "
      STMT_EXPR@959..994
        EXPR_CALL@959..988
          EXPR_IDENT@959..966
            PATH@959..966
              Ident@959..966 "println"
          ARG_LIST@966..988
            LParen@966..967 "("
            ARG@967..987
              EXPR_CALL@967..987
                EXPR_BINARY@967..985
                  EXPR_IDENT@967..981
                    PATH@967..981
                      Ident@967..981 "inferred_empty"
                  Dot@981..982 "."
                  EXPR_IDENT@982..985
                    PATH@982..985
                      Ident@982..985 "len"
                ARG_LIST@985..987
                  LParen@985..986 "("
                  RParen@986..987 ")"
            RParen@987..988 ")"
        Semi@988..989 ";"
        Whitespace@989..994 "\n    "
      STMT_LET@994..1043
        LetKeyword@994..997 "let"
        Whitespace@997..998 " "
        MutKeyword@998..1001 "mut"
        Whitespace@1001..1002 " "
        PATTERN_VARIABLE@1002..1009
          Ident@1002..1008 "source"
          Whitespace@1008..1009 " "
        Eq@1009..1010 "="
        Whitespace@1010..1011 " "
        EXPR_ARRAY_LITERAL@1011..1037
          LBracket@1011..1012 "["
          EXPR_CALL@1012..1023
            EXPR_IDENT@1012..1020
              PATH@1012..1020
                Ident@1012..1015 "Ref"
                ColonColon@1015..1017 "::"
                Ident@1017..1020 "new"
            ARG_LIST@1020..1023
              LParen@1020..1021 "("
              ARG@1021..1022
                EXPR_INT@1021..1022
                  Int@1021..1022 "1"
              RParen@1022..1023 ")"
          Comma@1023..1024 ","
          Whitespace@1024..1025 " "
          EXPR_CALL@1025..1036
            EXPR_IDENT@1025..1033
              PATH@1025..1033
                Ident@1025..1028 "Ref"
                ColonColon@1028..1030 "::"
                Ident@1030..1033 "new"
            ARG_LIST@1033..1036
              LParen@1033..1034 "("
              ARG@1034..1035
                EXPR_INT@1034..1035
                  Int@1034..1035 "2"
              RParen@1035..1036 ")"
          RBracket@1036..1037 "]"
        Semi@1037..1038 ";"
        Whitespace@1038..1043 "\n    "
      STMT_LET@1043..1085
        LetKeyword@1043..1046 "let"
        Whitespace@1046..1047 " "
        PATTERN_VARIABLE@1047..1054
          Ident@1047..1053 "copied"
          Whitespace@1053..1054 " "
        Eq@1054..1055 "="
        Whitespace@1055..1056 " "
        EXPR_CALL@1056..1079
          EXPR_IDENT@1056..1071
            PATH@1056..1071
              Ident@1056..1059 "Vec"
              ColonColon@1059..1061 "::"
              Ident@1061..1071 "from_array"
          ARG_LIST@1071..1079
            LParen@1071..1072 "("
            ARG@1072..1078
              EXPR_IDENT@1072..1078
                PATH@1072..1078
                  Ident@1072..1078 "source"
            RParen@1078..1079 ")"
        Semi@1079..1080 ";"
        Whitespace@1080..1085 "\n    "
      STMT_EXPR@1085..1107
        EXPR_CALL@1085..1101
          EXPR_BINARY@1085..1098
            EXPR_INDEX@1085..1094
              EXPR_IDENT@1085..1091
                PATH@1085..1091
                  Ident@1085..1091 "source"
              LBracket@1091..1092 "["
              EXPR_INT@1092..1093
                Int@1092..1093 "0"
              RBracket@1093..1094 "]"
            Dot@1094..1095 "."
            EXPR_IDENT@1095..1098
              PATH@1095..1098
                Ident@1095..1098 "set"
          ARG_LIST@1098..1101
            LParen@1098..1099 "("
            ARG@1099..1100
              EXPR_INT@1099..1100
                Int@1099..1100 "5"
            RParen@1100..1101 ")"
        Semi@1101..1102 ";"
        Whitespace@1102..1107 "\n    "
      STMT_ASSIGN@1107..1136
        EXPR_INDEX@1107..1117
          EXPR_IDENT@1107..1113
            PATH@1107..1113
              Ident@1107..1113 "source"
          LBracket@1113..1114 "["
          EXPR_INT@1114..1115
            Int@1114..1115 "0"
          RBracket@1115..1116 "]"
          Whitespace@1116..1117 " "
        Eq@1117..1118 "="
        Whitespace@1118..1119 " "
        EXPR_CALL@1119..1130
          EXPR_IDENT@1119..1127
            PATH@1119..1127
              Ident@1119..1122 "Ref"
              ColonColon@1122..1124 "::"
              Ident@1124..1127 "new"
          ARG_LIST@1127..1130
            LParen@1127..1128 "("
            ARG@1128..1129
              EXPR_INT@1128..1129
                Int@1128..1129 "9"
            RParen@1129..1130 ")"
        Semi@1130..1131 ";"
        Whitespace@1131..1136 "\n    "
      STMT_EXPR@1136..1189
        EXPR_CALL@1136..1183
          EXPR_IDENT@1136..1143
            PATH@1136..1143
              Ident@1136..1143 "println"
          ARG_LIST@1143..1183
            LParen@1143..1144 "("
            ARG@1144..1182
              EXPR_INTERPOLATED_STRING@1144..1182
                FStringStart@1144..1146 "f\""
                FStringExprStart@1146..1147 "{"
                INTERPOLATED_STRING_EXPR@1147..1163
                  EXPR_CALL@1147..1162
                    EXPR_BINARY@1147..1160
                      EXPR_INDEX@1147..1156
                        EXPR_IDENT@1147..1153
                          PATH@1147..1153
                            Ident@1147..1153 "copied"
                        LBracket@1153..1154 "["
                        EXPR_INT@1154..1155
                          Int@1154..1155 "0"
                        RBracket@1155..1156 "]"
                      Dot@1156..1157 "."
                      EXPR_IDENT@1157..1160
                        PATH@1157..1160
                          Ident@1157..1160 "get"
                    ARG_LIST@1160..1162
                      LParen@1160..1161 "("
                      RParen@1161..1162 ")"
                  FStringExprEnd@1162..1163 "}"
                FStringText@1163..1164 ":"
                FStringExprStart@1164..1165 "{"
                INTERPOLATED_STRING_EXPR@1165..1181
                  EXPR_CALL@1165..1180
                    EXPR_BINARY@1165..1178
                      EXPR_INDEX@1165..1174
                        EXPR_IDENT@1165..1171
                          PATH@1165..1171
                            Ident@1165..1171 "source"
                        LBracket@1171..1172 "["
                        EXPR_INT@1172..1173
                          Int@1172..1173 "0"
                        RBracket@1173..1174 "]"
                      Dot@1174..1175 "."
                      EXPR_IDENT@1175..1178
                        PATH@1175..1178
                          Ident@1175..1178 "get"
                    ARG_LIST@1178..1180
                      LParen@1178..1179 "("
                      RParen@1179..1180 ")"
                  FStringExprEnd@1180..1181 "}"
                FStringEnd@1181..1182 "\""
            RParen@1182..1183 ")"
        Semi@1183..1184 ";"
        Whitespace@1184..1189 "\n    "
      STMT_LET@1189..1217
        LetKeyword@1189..1192 "let"
        Whitespace@1192..1193 " "
        PATTERN_VARIABLE@1193..1197
          Ident@1193..1196 "log"
          Whitespace@1196..1197 " "
        Eq@1197..1198 "="
        Whitespace@1198..1199 " "
        EXPR_CALL@1199..1211
          EXPR_IDENT@1199..1207
            PATH@1199..1207
              Ident@1199..1202 "Ref"
              ColonColon@1202..1204 "::"
              Ident@1204..1207 "new"
          ARG_LIST@1207..1211
            LParen@1207..1208 "("
            ARG@1208..1210
              EXPR_STR@1208..1210
                Str@1208..1210 "\"\""
            RParen@1210..1211 ")"
        Semi@1211..1212 ";"
        Whitespace@1212..1217 "\n    "
      STMT_LET@1217..1416
        LetKeyword@1217..1220 "let"
        Whitespace@1220..1221 " "
        PATTERN_VARIABLE@1221..1227
          Ident@1221..1226 "table"
          Whitespace@1226..1227 " "
        Eq@1227..1228 "="
        Whitespace@1228..1229 " "
        EXPR_CALL@1229..1410
          EXPR_IDENT@1229..1248
            PATH@1229..1248
              Ident@1229..1236 "HashMap"
              ColonColon@1236..1238 "::"
              Ident@1238..1248 "from_array"
          ARG_LIST@1248..1410
            LParen@1248..1249 "("
            Whitespace@1249..1258 "\n        "
            ARG@1258..1409
              EXPR_ARRAY_LITERAL@1258..1403
                LBracket@1258..1259 "["
                Whitespace@1259..1272 "\n            "
                EXPR_TUPLE@1272..1325
                  LParen@1272..1273 "("
                  EXPR_CALL@1273..1296
                    EXPR_IDENT@1273..1283
                      PATH@1273..1283
                        Ident@1273..1283 "logged_key"
                    ARG_LIST@1283..1296
                      LParen@1283..1284 "("
                      ARG@1284..1289
                        EXPR_IDENT@1284..1287
                          PATH@1284..1287
                            Ident@1284..1287 "log"
                        Comma@1287..1288 ","
                        Whitespace@1288..1289 " "
                      ARG@1289..1294
                        EXPR_STR@1289..1292
                          Str@1289..1292 "\"A\""
                        Comma@1292..1293 ","
                        Whitespace@1293..1294 " "
                      ARG@1294..1295
                        EXPR_INT@1294..1295
                          Int@1294..1295 "1"
                      RParen@1295..1296 ")"
                  Comma@1296..1297 ","
                  Whitespace@1297..1298 " "
                  EXPR_CALL@1298..1324
                    EXPR_IDENT@1298..1310
                      PATH@1298..1310
                        Ident@1298..1310 "logged_value"
                    ARG_LIST@1310..1324
                      LParen@1310..1311 "("
                      ARG@1311..1316
                        EXPR_IDENT@1311..1314
                          PATH@1311..1314
                            Ident@1311..1314 "log"
                        Comma@1314..1315 ","
                        Whitespace@1315..1316 " "
                      ARG@1316..1321
                        EXPR_STR@1316..1319
                          Str@1316..1319 "\"a\""
                        Comma@1319..1320 ","
                        Whitespace@1320..1321 " "
                      ARG@1321..1323
                        EXPR_INT@1321..1323
                          Int@1321..1323 "10"
                      RParen@1323..1324 ")"
                  RParen@1324..1325 ")"
                Comma@1325..1326 ","
                Whitespace@1326..1339 "\n            "
                EXPR_TUPLE@1339..1392
                  LParen@1339..1340 "("
                  EXPR_CALL@1340..1363
                    EXPR_IDENT@1340..1350
                      PATH@1340..1350
                        Ident@1340..1350 "logged_key"
                    ARG_LIST@1350..1363
                      LParen@1350..1351 "("
                      ARG@1351..1356
                        EXPR_IDENT@1351..1354
                          PATH@1351..1354
                            Ident@1351..1354 "log"
                        Comma@1354..1355 ","
                        Whitespace@1355..1356 " "
                      ARG@1356..1361
                        EXPR_STR@1356..1359
                          Str@1356..1359 "\"B\""
                        Comma@1359..1360 ","
                        Whitespace@1360..1361 " "
                      ARG@1361..1362
                        EXPR_INT@1361..1362
                          Int@1361..1362 "1"
                      RParen@1362..1363 ")"
                  Comma@1363..1364 ","
                  Whitespace@1364..1365 " "
                  EXPR_CALL@1365..1391
                    EXPR_IDENT@1365..1377
                      PATH@1365..1377
                        Ident@1365..1377 "logged_value"
                    ARG_LIST@1377..1391
                      LParen@1377..1378 "("
                      ARG@1378..1383
                        EXPR_IDENT@1378..1381
                          PATH@1378..1381
                            Ident@1378..1381 "log"
                        Comma@1381..1382 ","
                        Whitespace@1382..1383 " "
                      ARG@1383..1388
                        EXPR_STR@1383..1386
                          Str@1383..1386 "\"b\""
                        Comma@1386..1387 ","
                        Whitespace@1387..1388 " "
                      ARG@1388..1390
                        EXPR_INT@1388..1390
                          Int@1388..1390 "20"
                      RParen@1390..1391 ")"
                  RParen@1391..1392 ")"
                Comma@1392..1393 ","
                Whitespace@1393..1402 "\n        "
                RBracket@1402..1403 "]"
              Comma@1403..1404 ","
              Whitespace@1404..1409 "\n    "
            RParen@1409..1410 ")"
        Semi@1410..1411 ";"
        Whitespace@1411..1416 "\n    "
      STMT_EXPR@1416..1440
        EXPR_CALL@1416..1434
          EXPR_IDENT@1416..1423
            PATH@1416..1423
              Ident@1416..1423 "println"
          ARG_LIST@1423..1434
            LParen@1423..1424 "("
            ARG@1424..1433
              EXPR_CALL@1424..1433
                EXPR_BINARY@1424..1431
                  EXPR_IDENT@1424..1427
                    PATH@1424..1427
                      Ident@1424..1427 "log"
                  Dot@1427..1428 "."
                  EXPR_IDENT@1428..1431
                    PATH@1428..1431
                      Ident@1428..1431 "get"
                ARG_LIST@1431..1433
                  LParen@1431..1432 "("
                  RParen@1432..1433 ")"
            RParen@1433..1434 ")"
        Semi@1434..1435 ";"
        Whitespace@1435..1440 "\n    "
      STMT_EXPR@1440..1580
        EXPR_CALL@1440..1574
          EXPR_IDENT@1440..1447
            PATH@1440..1447
              Ident@1440..1447 "println"
          ARG_LIST@1447..1574
            LParen@1447..1448 "("
            Whitespace@1448..1457 "\n        "
            ARG@1457..1573
              EXPR_MATCH@1457..1567
                MatchKeyword@1457..1462 "match"
                Whitespace@1462..1463 " "
                EXPR_CALL@1463..1499
                  EXPR_BINARY@1463..1472
                    EXPR_IDENT@1463..1468
                      PATH@1463..1468
                        Ident@1463..1468 "table"
                    Dot@1468..1469 "."
                    EXPR_IDENT@1469..1472
                      PATH@1469..1472
                        Ident@1469..1472 "get"
                  ARG_LIST@1472..1499
                    LParen@1472..1473 "("
                    ARG@1473..1497
                      EXPR_STRUCT_LITERAL@1473..1497
                        PATH@1473..1483
                          Ident@1473..1482 "LoggedKey"
                          Whitespace@1482..1483 " "
                        STRUCT_LITERAL_FIELD_LIST@1483..1497
                          LBrace@1483..1484 "{"
                          Whitespace@1484..1485 " "
                          STRUCT_LITERAL_FIELD@1485..1490
                            Ident@1485..1487 "id"
                            Colon@1487..1488 ":"
                            Whitespace@1488..1489 " "
                            EXPR_INT@1489..1490
                              Int@1489..1490 "1"
                          Comma@1490..1491 ","
                          Whitespace@1491..1492 " "
                          STRUCT_LITERAL_FIELD@1492..1496
                            Ident@1492..1495 "log"
                            Whitespace@1495..1496 " "
                          RBrace@1496..1497 "}"
                    RParen@1497..1498 ")"
                    Whitespace@1498..1499 " "
                MATCH_ARM_LIST@1499..1567
                  LBrace@1499..1500 "{"
                  Whitespace@1500..1513 "\n            "
                  MATCH_ARM@1513..1533
                    PATTERN_CONSTR@1513..1525
                      PATH@1513..1517
                        Ident@1513..1517 "Some"
                      LParen@1517..1518 "("
                      PATTERN_VARIABLE@1518..1523
                        Ident@1518..1523 "value"
                      RParen@1523..1524 ")"
                      Whitespace@1524..1525 " "
                    FatArrow@1525..1527 "=>"
                    Whitespace@1527..1528 " "
                    EXPR_IDENT@1528..1533
                      PATH@1528..1533
                        Ident@1528..1533 "value"
                  Comma@1533..1534 ","
                  Whitespace@1534..1547 "\n            "
                  MATCH_ARM@1547..1556
                    PATTERN_CONSTR@1547..1552
                      PATH@1547..1552
                        Ident@1547..1551 "None"
                        Whitespace@1551..1552 " "
                    FatArrow@1552..1554 "=>"
                    Whitespace@1554..1555 " "
                    EXPR_INT@1555..1556
                      Int@1555..1556 "0"
                  Comma@1556..1557 ","
                  Whitespace@1557..1566 "\n        "
                  RBrace@1566..1567 "}"
              Comma@1567..1568 ","
              Whitespace@1568..1573 "\n    "
            RParen@1573..1574 ")"
        Semi@1574..1575 ";"
        Whitespace@1575..1580 "\n    "
      STMT_LET@1580..1666
        LetKeyword@1580..1583 "let"
        Whitespace@1583..1584 " "
        PATTERN_VARIABLE@1584..1592
          Ident@1584..1592 "make_map"
        Colon@1592..1593 ":"
        Whitespace@1593..1594 " "
        TYPE_FUNC@1594..1639
          TYPE_TUPLE@1594..1615
            TYPE_LIST@1594..1615
              LParen@1594..1595 "("
              TYPE_ARRAY@1595..1613
                LBracket@1595..1596 "["
                TYPE_TUPLE@1596..1609
                  TYPE_LIST@1596..1609
                    LParen@1596..1597 "("
                    TYPE_STRING@1597..1603
                      StringKeyword@1597..1603 "string"
                    Comma@1603..1604 ","
                    Whitespace@1604..1605 " "
                    TYPE_INT@1605..1608
                      IntKeyword@1605..1608 "int"
                    RParen@1608..1609 ")"
                Semi@1609..1610 ";"
                Whitespace@1610..1611 " "
                Int@1611..1612 "2"
                RBracket@1612..1613 "]"
              RParen@1613..1614 ")"
              Whitespace@1614..1615 " "
          Arrow@1615..1617 "->"
          Whitespace@1617..1618 " "
          TYPE_TAPP@1618..1639
            PATH@1618..1625
              Ident@1618..1625 "HashMap"
            TYPE_PARAM_LIST@1625..1639
              LBracket@1625..1626 "["
              TYPE_STRING@1626..1632
                StringKeyword@1626..1632 "string"
              Comma@1632..1633 ","
              Whitespace@1633..1634 " "
              TYPE_INT@1634..1637
                IntKeyword@1634..1637 "int"
              RBracket@1637..1638 "]"
              Whitespace@1638..1639 " "
        Eq@1639..1640 "="
        Whitespace@1640..1641 " "
        EXPR_IDENT@1641..1660
          PATH@1641..1660
            Ident@1641..1648 "HashMap"
            ColonColon@1648..1650 "::"
            Ident@1650..1660 "from_array"
        Semi@1660..1661 ";"
        Whitespace@1661..1666 "\n    "
      STMT_LET@1666..1714
        LetKeyword@1666..1669 "let"
        Whitespace@1669..1670 " "
        PATTERN_VARIABLE@1670..1676
          Ident@1670..1675 "words"
          Whitespace@1675..1676 " "
        Eq@1676..1677 "="
        Whitespace@1677..1678 " "
        EXPR_CALL@1678..1708
          EXPR_IDENT@1678..1686
            PATH@1678..1686
              Ident@1678..1686 "make_map"
          ARG_LIST@1686..1708
            LParen@1686..1687 "("
            ARG@1687..1707
              EXPR_ARRAY_LITERAL@1687..1707
                LBracket@1687..1688 "["
                EXPR_TUPLE@1688..1696
                  LParen@1688..1689 "("
                  EXPR_STR@1689..1692
                    Str@1689..1692 "\"a\""
                  Comma@1692..1693 ","
                  Whitespace@1693..1694 " "
                  EXPR_INT@1694..1695
                    Int@1694..1695 "1"
                  RParen@1695..1696 ")"
                Comma@1696..1697 ","
                Whitespace@1697..1698 " "
                EXPR_TUPLE@1698..1706
                  LParen@1698..1699 "("
                  EXPR_STR@1699..1702
                    Str@1699..1702 "\"b\""
                  Comma@1702..1703 ","
                  Whitespace@1703..1704 " "
                  EXPR_INT@1704..1705
                    Int@1704..1705 "2"
                  RParen@1705..1706 ")"
                RBracket@1706..1707 "]"
            RParen@1707..1708 ")"
        Semi@1708..1709 ";"
        Whitespace@1709..1714 "\n    "
      STMT_EXPR@1714..1740
        EXPR_CALL@1714..1734
          EXPR_IDENT@1714..1721
            PATH@1714..1721
              Ident@1714..1721 "println"
          ARG_LIST@1721..1734
            LParen@1721..1722 "("
            ARG@1722..1733
              EXPR_CALL@1722..1733
                EXPR_BINARY@1722..1731
                  EXPR_IDENT@1722..1727
                    PATH@1722..1727
                      Ident@1722..1727 "words"
                  Dot@1727..1728 "."
                  EXPR_IDENT@1728..1731
                    PATH@1728..1731
                      Ident@1728..1731 "len"
                ARG_LIST@1731..1733
                  LParen@1731..1732 "("
                  RParen@1732..1733 ")"
            RParen@1733..1734 ")"
        Semi@1734..1735 ";"
        Whitespace@1735..1740 "\n    "
      STMT_LET@1740..1799
        LetKeyword@1740..1743 "let"
        Whitespace@1743..1744 " "
        PATTERN_VARIABLE@1744..1753
          Ident@1744..1752 "no_words"
          Whitespace@1752..1753 " "
        Eq@1753..1754 "="
        Whitespace@1754..1755 " "
        EXPR_CALL@1755..1793
          EXPR_IDENT@1755..1789
            TYPE_TAPP@1755..1777
              PATH@1755..1762
                Ident@1755..1762 "HashMap"
              ColonColon@1762..1764 "::"
              TYPE_PARAM_LIST@1764..1777
                LBracket@1764..1765 "["
                TYPE_STRING@1765..1771
                  StringKeyword@1765..1771 "string"
                Comma@1771..1772 ","
                Whitespace@1772..1773 " "
                TYPE_INT@1773..1776
                  IntKeyword@1773..1776 "int"
                RBracket@1776..1777 "]"
            ColonColon@1777..1779 "::"
            PATH@1779..1789
              Ident@1779..1789 "from_array"
          ARG_LIST@1789..1793
            LParen@1789..1790 "("
            ARG@1790..1792
              EXPR_ARRAY_LITERAL@1790..1792
                LBracket@1790..1791 "["
                RBracket@1791..1792 "]"
            RParen@1792..1793 ")"
        Semi@1793..1794 ";"
        Whitespace@1794..1799 "\n    "
      STMT_EXPR@1799..1828
        EXPR_CALL@1799..1822
          EXPR_IDENT@1799..1806
            PATH@1799..1806
              Ident@1799..1806 "println"
          ARG_LIST@1806..1822
            LParen@1806..1807 "("
            ARG@1807..1821
              EXPR_CALL@1807..1821
                EXPR_BINARY@1807..1819
                  EXPR_IDENT@1807..1815
                    PATH@1807..1815
                      Ident@1807..1815 "no_words"
                  Dot@1815..1816 "."
                  EXPR_IDENT@1816..1819
                    PATH@1816..1819
                      Ident@1816..1819 "len"
                ARG_LIST@1819..1821
                  LParen@1819..1820 "("
                  RParen@1820..1821 ")"
            RParen@1821..1822 ")"
        Semi@1822..1823 ";"
        Whitespace@1823..1828 "\n    "
      STMT_LET@1828..1903
        LetKeyword@1828..1831 "let"
        Whitespace@1831..1832 " "
        PATTERN_VARIABLE@1832..1849
          Ident@1832..1849 "inferred_no_words"
        Colon@1849..1850 ":"
        Whitespace@1850..1851 " "
        TYPE_TAPP@1851..1872
          PATH@1851..1858
            Ident@1851..1858 "HashMap"
          TYPE_PARAM_LIST@1858..1872
            LBracket@1858..1859 "["
            TYPE_STRING@1859..1865
              StringKeyword@1859..1865 "string"
            Comma@1865..1866 ","
            Whitespace@1866..1867 " "
            TYPE_INT@1867..1870
              IntKeyword@1867..1870 "int"
            RBracket@1870..1871 "]"
            Whitespace@1871..1872 " "
        Eq@1872..1873 "="
        Whitespace@1873..1874 " "
        EXPR_CALL@1874..1897
          EXPR_IDENT@1874..1893
            PATH@1874..1893
              Ident@1874..1881 "HashMap"
              ColonColon@1881..1883 "::"
              Ident@1883..1893 "from_array"
          ARG_LIST@1893..1897
            LParen@1893..1894 "("
            ARG@1894..1896
              EXPR_ARRAY_LITERAL@1894..1896
                LBracket@1894..1895 "["
                RBracket@1895..1896 "]"
            RParen@1896..1897 ")"
        Semi@1897..1898 ";"
        Whitespace@1898..1903 "\n    "
      STMT_EXPR@1903..1941
        EXPR_CALL@1903..1935
          EXPR_IDENT@1903..1910
            PATH@1903..1910
              Ident@1903..1910 "println"
          ARG_LIST@1910..1935
            LParen@1910..1911 "("
            ARG@1911..1934
              EXPR_CALL@1911..1934
                EXPR_BINARY@1911..1932
                  EXPR_IDENT@1911..1928
                    PATH@1911..1928
                      Ident@1911..1928 "inferred_no_words"
                  Dot@1928..1929 "."
                  EXPR_IDENT@1929..1932
                    PATH@1929..1932
                      Ident@1929..1932 "len"
                ARG_LIST@1932..1934
                  LParen@1932..1933 "("
                  RParen@1933..1934 ")"
            RParen@1934..1935 ")"
        Semi@1935..1936 ";"
        Whitespace@1936..1941 "\n    "
      STMT_LET@1941..1996
        LetKeyword@1941..1944 "let"
        Whitespace@1944..1945 " "
        PATTERN_VARIABLE@1945..1951
          Ident@1945..1950 "pairs"
          Whitespace@1950..1951 " "
        Eq@1951..1952 "="
        Whitespace@1952..1953 " "
        EXPR_CALL@1953..1990
          EXPR_IDENT@1953..1968
            PATH@1953..1968
              Ident@1953..1956 "Vec"
              ColonColon@1956..1958 "::"
              Ident@1958..1968 "from_array"
          ARG_LIST@1968..1990
            LParen@1968..1969 "("
            ARG@1969..1989
              EXPR_ARRAY_LITERAL@1969..1989
                LBracket@1969..1970 "["
                EXPR_TUPLE@1970..1978
                  LParen@1970..1971 "("
                  EXPR_INT@1971..1972
                    Int@1971..1972 "1"
                  Comma@1972..1973 ","
                  Whitespace@1973..1974 " "
                  EXPR_STR@1974..1977
                    Str@1974..1977 "\"a\""
                  RParen@1977..1978 ")"
                Comma@1978..1979 ","
                Whitespace@1979..1980 " "
                EXPR_TUPLE@1980..1988
                  LParen@1980..1981 "("
                  EXPR_INT@1981..1982
                    Int@1981..1982 "2"
                  Comma@1982..1983 ","
                  Whitespace@1983..1984 " "
                  EXPR_STR@1984..1987
                    Str@1984..1987 "\"b\""
                  RParen@1987..1988 ")"
                RBracket@1988..1989 "]"
            RParen@1989..1990 ")"
        Semi@1990..1991 ";"
        Whitespace@1991..1996 "\n    "
      STMT_LET@1996..2082
        LetKeyword@1996..1999 "let"
        Whitespace@1999..2000 " "
        PATTERN_VARIABLE@2000..2007
          Ident@2000..2006 "nested"
          Whitespace@2006..2007 " "
        Eq@2007..2008 "="
        Whitespace@2008..2009 " "
        EXPR_CALL@2009..2076
          EXPR_IDENT@2009..2024
            PATH@2009..2024
              Ident@2009..2012 "Vec"
              ColonColon@2012..2014 "::"
              Ident@2014..2024 "from_array"
          ARG_LIST@2024..2076
            LParen@2024..2025 "("
            ARG@2025..2075
              EXPR_ARRAY_LITERAL@2025..2075
                LBracket@2025..2026 "["
                EXPR_CALL@2026..2049
                  EXPR_IDENT@2026..2041
                    PATH@2026..2041
                      Ident@2026..2029 "Vec"
                      ColonColon@2029..2031 "::"
                      Ident@2031..2041 "from_array"
                  ARG_LIST@2041..2049
                    LParen@2041..2042 "("
                    ARG@2042..2048
                      EXPR_ARRAY_LITERAL@2042..2048
                        LBracket@2042..2043 "["
                        EXPR_INT@2043..2044
                          Int@2043..2044 "1"
                        Comma@2044..2045 ","
                        Whitespace@2045..2046 " "
                        EXPR_INT@2046..2047
                          Int@2046..2047 "2"
                        RBracket@2047..2048 "]"
                    RParen@2048..2049 ")"
                Comma@2049..2050 ","
                Whitespace@2050..2051 " "
                EXPR_CALL@2051..2074
                  EXPR_IDENT@2051..2066
                    PATH@2051..2066
                      Ident@2051..2054 "Vec"
                      ColonColon@2054..2056 "::"
                      Ident@2056..2066 "from_array"
                  ARG_LIST@2066..2074
                    LParen@2066..2067 "("
                    ARG@2067..2073
                      EXPR_ARRAY_LITERAL@2067..2073
                        LBracket@2067..2068 "["
                        EXPR_INT@2068..2069
                          Int@2068..2069 "3"
                        Comma@2069..2070 ","
                        Whitespace@2070..2071 " "
                        EXPR_INT@2071..2072
                          Int@2071..2072 "4"
                        RBracket@2072..2073 "]"
                    RParen@2073..2074 ")"
                RBracket@2074..2075 "]"
            RParen@2075..2076 ")"
        Semi@2076..2077 ";"
        Whitespace@2077..2082 "\n    "
      STMT_LET@2082..2163
        LetKeyword@2082..2085 "let"
        Whitespace@2085..2086 " "
        PATTERN_VARIABLE@2086..2097
          Ident@2086..2096 "nested_map"
          Whitespace@2096..2097 " "
        Eq@2097..2098 "="
        Whitespace@2098..2099 " "
        EXPR_CALL@2099..2157
          EXPR_IDENT@2099..2118
            PATH@2099..2118
              Ident@2099..2106 "HashMap"
              ColonColon@2106..2108 "::"
              Ident@2108..2118 "from_array"
          ARG_LIST@2118..2157
            LParen@2118..2119 "("
            ARG@2119..2156
              EXPR_ARRAY_LITERAL@2119..2156
                LBracket@2119..2120 "["
                EXPR_TUPLE@2120..2155
                  LParen@2120..2121 "("
                  EXPR_STR@2121..2129
                    Str@2121..2129 "\"values\""
                  Comma@2129..2130 ","
                  Whitespace@2130..2131 " "
                  EXPR_CALL@2131..2154
                    EXPR_IDENT@2131..2146
                      PATH@2131..2146
                        Ident@2131..2134 "Vec"
                        ColonColon@2134..2136 "::"
                        Ident@2136..2146 "from_array"
                    ARG_LIST@2146..2154
                      LParen@2146..2147 "("
                      ARG@2147..2153
                        EXPR_ARRAY_LITERAL@2147..2153
                          LBracket@2147..2148 "["
                          EXPR_INT@2148..2149
                            Int@2148..2149 "5"
                          Comma@2149..2150 ","
                          Whitespace@2150..2151 " "
                          EXPR_INT@2151..2152
                            Int@2151..2152 "6"
                          RBracket@2152..2153 "]"
                      RParen@2153..2154 ")"
                  RParen@2154..2155 ")"
                RBracket@2155..2156 "]"
            RParen@2156..2157 ")"
        Semi@2157..2158 ";"
        Whitespace@2158..2163 "\n    "
      STMT_LET@2163..2280
        LetKeyword@2163..2166 "let"
        Whitespace@2166..2167 " "
        PATTERN_VARIABLE@2167..2180
          Ident@2167..2179 "nested_value"
          Whitespace@2179..2180 " "
        Eq@2180..2181 "="
        Whitespace@2181..2182 " "
        EXPR_MATCH@2182..2274
          MatchKeyword@2182..2187 "match"
          Whitespace@2187..2188 " "
          EXPR_CALL@2188..2213
            EXPR_BINARY@2188..2202
              EXPR_IDENT@2188..2198
                PATH@2188..2198
                  Ident@2188..2198 "nested_map"
              Dot@2198..2199 "."
              EXPR_IDENT@2199..2202
                PATH@2199..2202
                  Ident@2199..2202 "get"
            ARG_LIST@2202..2213
              LParen@2202..2203 "("
              ARG@2203..2211
                EXPR_STR@2203..2211
                  Str@2203..2211 "\"values\""
              RParen@2211..2212 ")"
              Whitespace@2212..2213 " "
          MATCH_ARM_LIST@2213..2274
            LBrace@2213..2214 "{"
            Whitespace@2214..2223 "\n        "
            MATCH_ARM@2223..2248
              PATTERN_CONSTR@2223..2236
                PATH@2223..2227
                  Ident@2223..2227 "Some"
                LParen@2227..2228 "("
                PATTERN_VARIABLE@2228..2234
                  Ident@2228..2234 "values"
                RParen@2234..2235 ")"
                Whitespace@2235..2236 " "
              FatArrow@2236..2238 "=>"
              Whitespace@2238..2239 " "
              EXPR_INDEX@2239..2248
                EXPR_IDENT@2239..2245
                  PATH@2239..2245
                    Ident@2239..2245 "values"
                LBracket@2245..2246 "["
                EXPR_INT@2246..2247
                  Int@2246..2247 "0"
                RBracket@2247..2248 "]"
            Comma@2248..2249 ","
            Whitespace@2249..2258 "\n        "
            MATCH_ARM@2258..2267
              PATTERN_CONSTR@2258..2263
                PATH@2258..2263
                  Ident@2258..2262 "None"
                  Whitespace@2262..2263 " "
              FatArrow@2263..2265 "=>"
              Whitespace@2265..2266 " "
              EXPR_INT@2266..2267
                Int@2266..2267 "0"
            Comma@2267..2268 ","
            Whitespace@2268..2273 "\n    "
            RBrace@2273..2274 "}"
        Semi@2274..2275 ";"
        Whitespace@2275..2280 "\n    "
      EXPR_CALL@2280..2335
        EXPR_IDENT@2280..2287
          PATH@2280..2287
            Ident@2280..2287 "println"
        ARG_LIST@2287..2335
          LParen@2287..2288 "("
          ARG@2288..2333
            EXPR_INTERPOLATED_STRING@2288..2333
              FStringStart@2288..2290 "f\""
              FStringExprStart@2290..2291 "{"
              INTERPOLATED_STRING_EXPR@2291..2302
                EXPR_BINARY@2291..2301
                  EXPR_INDEX@2291..2299
                    EXPR_IDENT@2291..2296
                      PATH@2291..2296
                        Ident@2291..2296 "pairs"
                    LBracket@2296..2297 "["
                    EXPR_INT@2297..2298
                      Int@2297..2298 "1"
                    RBracket@2298..2299 "]"
                  Dot@2299..2300 "."
                  EXPR_INT@2300..2301
                    Int@2300..2301 "1"
                FStringExprEnd@2301..2302 "}"
              FStringText@2302..2303 ":"
              FStringExprStart@2303..2304 "{"
              INTERPOLATED_STRING_EXPR@2304..2317
                EXPR_INDEX@2304..2316
                  EXPR_INDEX@2304..2313
                    EXPR_IDENT@2304..2310
                      PATH@2304..2310
                        Ident@2304..2310 "nested"
                    LBracket@2310..2311 "["
                    EXPR_INT@2311..2312
                      Int@2311..2312 "1"
                    RBracket@2312..2313 "]"
                  LBracket@2313..2314 "["
                  EXPR_INT@2314..2315
                    Int@2314..2315 "0"
                  RBracket@2315..2316 "]"
                FStringExprEnd@2316..2317 "}"
              FStringText@2317..2318 ":"
              FStringExprStart@2318..2319 "{"
              INTERPOLATED_STRING_EXPR@2319..2332
                EXPR_IDENT@2319..2331
                  PATH@2319..2331
                    Ident@2319..2331 "nested_value"
                FStringExprEnd@2331..2332 "}"
              FStringEnd@2332..2333 "\""
          RParen@2333..2334 ")"
          Whitespace@2334..2335 "\n"
      RBrace@2335..2336 "}"
      Whitespace@2336..2337 "\n"