FILE@0..518
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..51
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
        Semi@49..50 ";"
        Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  IMPL@54..146
    ImplKeyword@54..58 "impl"
    Whitespace@58..59 " "
    TYPE_TAPP@59..67
      PATH@59..67
        Ident@59..66 "Display"
        Whitespace@66..67 " "
    ForKeyword@67..70 "for"
    Whitespace@70..71 " "
    TYPE_INT32@71..75
      I32Keyword@71..74 "i32"
      Whitespace@74..75 " "
    LBrace@75..76 "{"
    Whitespace@76..81 "\n    "
    FN@81..143
      FnKeyword@81..83 "fn"
      Whitespace@83..84 " "
      Ident@84..88 "show"
      PARAM_LIST@88..100
        LParen@88..89 "("
        PARAM@89..98
          Ident@89..93 "self"
          Colon@93..94 ":"
          Whitespace@94..95 " "
          TYPE_INT32@95..98
            I32Keyword@95..98 "i32"
        RParen@98..99 ")"
        Whitespace@99..100 " "
      Arrow@100..102 "->"
      Whitespace@102..103 " "
      TYPE_STRING@103..110
        StringKeyword@103..109 "string"
        Whitespace@109..110 " "
      BLOCK@110..143
        LBrace@110..111 "{"
        Whitespace@111..120 "\n        "
        EXPR_CALL@120..141
          EXPR_BINARY@120..134
            EXPR_IDENT@120..124
              PATH@120..124
                Ident@120..124 "self"
            Dot@124..125 "."
            EXPR_IDENT@125..134
              PATH@125..134
                Ident@125..134 "to_string"
          ARG_LIST@134..141
            LParen@134..135 "("
            RParen@135..136 ")"
            Whitespace@136..141 "\n    "
        RBrace@141..142 "}"
        Whitespace@142..143 "\n"
    RBrace@143..144 "}"
    Whitespace@144..146 "\n\n"
  FN@146..208
    FnKeyword@146..148 "fn"
    Whitespace@148..149 " "
    Ident@149..155 "render"
    PARAM_LIST@155..172
      LParen@155..156 "("
      PARAM@156..170
        Ident@156..157 "x"
        Colon@157..158 ":"
        Whitespace@158..159 " "
        TYPE_DYN@159..170
          DynKeyword@159..162 "dyn"
          Whitespace@162..163 " "
          DYN_BOUND@163..170
            PATH@163..170
              Ident@163..170 "Display"
      RParen@170..171 ")"
      Whitespace@171..172 " "
    Arrow@172..174 "->"
    Whitespace@174..175 " "
    TYPE_STRING@175..182
      StringKeyword@175..181 "string"
      Whitespace@181..182 " "
    BLOCK@182..208
      LBrace@182..183 "{"
      Whitespace@183..188 "\n    "
      EXPR_CALL@188..205
        EXPR_IDENT@188..201
          PATH@188..201
            Ident@188..195 "Display"
            ColonColon@195..197 "::"
            Ident@197..201 "show"
        ARG_LIST@201..205
          LParen@201..202 "("
          ARG@202..203
            EXPR_IDENT@202..203
              PATH@202..203
                Ident@202..203 "x"
          RParen@203..204 ")"
          Whitespace@204..205 "\n"
      RBrace@205..206 "}"
      Whitespace@206..208 "\n\n"
  FN@208..518
    FnKeyword@208..210 "fn"
    Whitespace@210..211 " "
    Ident@211..215 "main"
    PARAM_LIST@215..218
      LParen@215..216 "("
      RParen@216..217 ")"
      Whitespace@217..218 " "
    Arrow@218..220 "->"
    Whitespace@220..221 " "
    TYPE_UNIT@221..226
      UnitKeyword@221..225 "unit"
      Whitespace@225..226 " "
    BLOCK@226..518
      LBrace@226..227 "{"
      Whitespace@227..232 "\n    "
      STMT_LET@232..274
        LetKeyword@232..235 "let"
        Whitespace@235..236 " "
        PATTERN_VARIABLE@236..237
          Ident@236..237 "v"
        Colon@237..238 ":"
        Whitespace@238..239 " "
        TYPE_TAPP@239..256
          PATH@239..242
            Ident@239..242 "Vec"
          TYPE_PARAM_LIST@242..256
            LBracket@242..243 "["
            TYPE_DYN@243..254
              DynKeyword@243..246 "dyn"
              Whitespace@246..247 " "
              DYN_BOUND@247..254
                PATH@247..254
                  Ident@247..254 "Display"
            RBracket@254..255 "]"
            Whitespace@255..256 " "
        Eq@256..257 "="
        Whitespace@257..258 " "
        EXPR_CALL@258..268
          EXPR_IDENT@258..266
            PATH@258..266
              Ident@258..261 "Vec"
              ColonColon@261..263 "::"
              Ident@263..266 "new"
          ARG_LIST@266..268
            LParen@266..267 "("
            RParen@267..268 ")"
        Semi@268..269 ";"
        Whitespace@269..274 "\n    "
      STMT_LET@274..299
        LetKeyword@274..277 "let"
        Whitespace@277..278 " "
        PATTERN_VARIABLE@278..283
          Ident@278..283 "first"
        Colon@283..284 ":"
        Whitespace@284..285 " "
        TYPE_INT32@285..289
          I32Keyword@285..288 "i32"
          Whitespace@288..289 " "
        Eq@289..290 "="
        Whitespace@290..291 " "
        EXPR_INT@291..293
          Int@291..293 "10"
        Semi@293..294 ";"
        Whitespace@294..299 "\n    "
      STMT_LET@299..325
        LetKeyword@299..302 "let"
        Whitespace@302..303 " "
        PATTERN_VARIABLE@303..309
          Ident@303..309 "second"
        Colon@309..310 ":"
        Whitespace@310..311 " "
        TYPE_INT32@311..315
          I32Keyword@311..314 "i32"
          Whitespace@314..315 " "
        Eq@315..316 "="
        Whitespace@316..317 " "
        EXPR_INT@317..319
          Int@317..319 "20"
        Semi@319..320 ";"
        Whitespace@320..325 "\n    "
      STMT_EXPR@325..359
        EXPR_CALL@325..353
          EXPR_BINARY@325..331
            EXPR_IDENT@325..326
              PATH@325..326
                Ident@325..326 "v"
            Dot@326..327 "."
            EXPR_IDENT@327..331
              PATH@327..331
                Ident@327..331 "push"
          ARG_LIST@331..353
            LParen@331..332 "("
            ARG@332..352
              EXPR_CAST@332..352
                EXPR_IDENT@332..338
                  PATH@332..338
                    Ident@332..337 "first"
                    Whitespace@337..338 " "
                AsKeyword@338..340 "as"
                Whitespace@340..341 " "
                TYPE_DYN@341..352
                  DynKeyword@341..344 "dyn"
                  Whitespace@344..345 " "
                  DYN_BOUND@345..352
                    PATH@345..352
                      Ident@345..352 "Display"
            RParen@352..353 ")"
        Semi@353..354 ";"
        Whitespace@354..359 "\n    "
      STMT_EXPR@359..394
        EXPR_CALL@359..388
          EXPR_BINARY@359..365
            EXPR_IDENT@359..360
              PATH@359..360
                Ident@359..360 "v"
            Dot@360..361 "."
            EXPR_IDENT@361..365
              PATH@361..365
                Ident@361..365 "push"
          ARG_LIST@365..388
            LParen@365..366 "("
            ARG@366..387
              EXPR_CAST@366..387
                EXPR_IDENT@366..373
                  PATH@366..373
                    Ident@366..372 "second"
                    Whitespace@372..373 " "
                AsKeyword@373..375 "as"
                Whitespace@375..376 " "
                TYPE_DYN@376..387
                  DynKeyword@376..379 "dyn"
                  Whitespace@379..380 " "
                  DYN_BOUND@380..387
                    PATH@380..387
                      Ident@380..387 "Display"
            RParen@387..388 ")"
        Semi@388..389 ";"
        Whitespace@389..394 "\n    "
      STMT_LET@394..441
        LetKeyword@394..397 "let"
        Whitespace@397..398 " "
        PATTERN_VARIABLE@398..399
          Ident@398..399 "s"
        Colon@399..400 ":"
        Whitespace@400..401 " "
        TYPE_TAPP@401..420
          PATH@401..406
            Ident@401..406 "Slice"
          TYPE_PARAM_LIST@406..420
            LBracket@406..407 "["
            TYPE_DYN@407..418
              DynKeyword@407..410 "dyn"
              Whitespace@410..411 " "
              DYN_BOUND@411..418
                PATH@411..418
                  Ident@411..418 "Display"
            RBracket@418..419 "]"
            Whitespace@419..420 " "
        Eq@420..421 "="
        Whitespace@421..422 " "
        EXPR_CALL@422..435
          EXPR_BINARY@422..429
            EXPR_IDENT@422..423
              PATH@422..423
                Ident@422..423 "v"
            Dot@423..424 "."
            EXPR_IDENT@424..429
              PATH@424..429
                Ident@424..429 "slice"
          ARG_LIST@429..435
            LParen@429..430 "("
            ARG@430..433
              EXPR_INT@430..431
                Int@430..431 "0"
              Comma@431..432 ","
              Whitespace@432..433 " "
            ARG@433..434
              EXPR_INT@433..434
                Int@433..434 "2"
            RParen@434..435 ")"
        Semi@435..436 ";"
        Whitespace@436..441 "\n    "
      STMT_EXPR@441..468
        EXPR_CALL@441..462
          EXPR_IDENT@441..448
            PATH@441..448
              Ident@441..448 "println"
          ARG_LIST@448..462
            LParen@448..449 "("
            ARG@449..461
              EXPR_CALL@449..461
                EXPR_IDENT@449..455
                  PATH@449..455
                    Ident@449..455 "render"
                ARG_LIST@455..461
                  LParen@455..456 "("
                  ARG@456..460
                    EXPR_INDEX@456..460
                      EXPR_IDENT@456..457
                        PATH@456..457
                          Ident@456..457 "s"
                      LBracket@457..458 "["
                      EXPR_INT@458..459
                        Int@458..459 "0"
                      RBracket@459..460 "]"
                  RParen@460..461 ")"
            RParen@461..462 ")"
        Semi@462..463 ";"
        Whitespace@463..468 "\n    "
      STMT_LET@468..493
        LetKeyword@468..471 "let"
        Whitespace@471..472 " "
        PATTERN_VARIABLE@472..474
          Ident@472..473 "t"
          Whitespace@473..474 " "
        Eq@474..475 "="
        Whitespace@475..476 " "
        EXPR_CALL@476..487
          EXPR_BINARY@476..481
            EXPR_IDENT@476..477
              PATH@476..477
                Ident@476..477 "s"
            Dot@477..478 "."
            EXPR_IDENT@478..481
              PATH@478..481
                Ident@478..481 "sub"
          ARG_LIST@481..487
            LParen@481..482 "("
            ARG@482..485
              EXPR_INT@482..483
                Int@482..483 "1"
              Comma@483..484 ","
              Whitespace@484..485 " "
            ARG@485..486
              EXPR_INT@485..486
                Int@485..486 "2"
            RParen@486..487 ")"
        Semi@487..488 ";"
        Whitespace@488..493 "\n    "
      STMT_EXPR@493..516
        EXPR_CALL@493..514
          EXPR_IDENT@493..500
            PATH@493..500
              Ident@493..500 "println"
          ARG_LIST@500..514
            LParen@500..501 "("
            ARG@501..513
              EXPR_CALL@501..513
                EXPR_IDENT@501..507
                  PATH@501..507
                    Ident@501..507 "render"
                ARG_LIST@507..513
                  LParen@507..508 "("
                  ARG@508..512
                    EXPR_INDEX@508..512
                      EXPR_IDENT@508..509
                        PATH@508..509
                          Ident@508..509 "t"
                      LBracket@509..510 "["
                      EXPR_INT@510..511
                        Int@510..511 "0"
                      RBracket@511..512 "]"
                  RParen@512..513 ")"
            RParen@513..514 ")"
        Semi@514..515 ";"
        Whitespace@515..516 "\n"
      RBrace@516..517 "}"
      Whitespace@517..518 "\n"