FILE@0..516
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..51
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
        Semi@49..50 ";"
        Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  IMPL@54..146
    ImplKeyword@54..58 "impl"
    Whitespace@58..59 " "
    TYPE_TAPP@59..67
      PATH@59..67
        Ident@59..66 "Display"
        Whitespace@66..67 " "
    ForKeyword@67..70 "for"
    Whitespace@70..71 " "
    TYPE_INT32@71..75
      I32Keyword@71..74 "i32"
      Whitespace@74..75 " "
    LBrace@75..76 "{"
    Whitespace@76..81 "\n    "
    FN@81..143
      FnKeyword@81..83 "fn"
      Whitespace@83..84 " "
      Ident@84..88 "show"
      PARAM_LIST@88..100
        LParen@88..89 "("
        PARAM@89..98
          Ident@89..93 "self"
          Colon@93..94 ":"
          Whitespace@94..95 " "
          TYPE_INT32@95..98
            I32Keyword@95..98 "i32"
        RParen@98..99 ")"
        Whitespace@99..100 " "
      Arrow@100..102 "->"
      Whitespace@102..103 " "
      TYPE_STRING@103..110
        StringKeyword@103..109 "string"
        Whitespace@109..110 " "
      BLOCK@110..143
        LBrace@110..111 "{"
        Whitespace@111..120 "\n        "
        EXPR_CALL@120..141
          EXPR_BINARY@120..134
            EXPR_IDENT@120..124
              PATH@120..124
                Ident@120..124 "self"
            Dot@124..125 "."
            EXPR_IDENT@125..134
              PATH@125..134
                Ident@125..134 "to_string"
          ARG_LIST@134..141
            LParen@134..135 "("
            RParen@135..136 ")"
            Whitespace@136..141 "\n    "
        RBrace@141..142 "}"
        Whitespace@142..143 "\n"
    RBrace@143..144 "}"
    Whitespace@144..146 "\n\n"
  FN@146..208
    FnKeyword@146..148 "fn"
    Whitespace@148..149 " "
    Ident@149..155 "render"
    PARAM_LIST@155..172
      LParen@155..156 "("
      PARAM@156..170
        Ident@156..157 "x"
        Colon@157..158 ":"
        Whitespace@158..159 " "
        TYPE_DYN@159..170
          DynKeyword@159..162 "dyn"
          Whitespace@162..163 " "
          DYN_BOUND@163..170
            PATH@163..170
              Ident@163..170 "Display"
      RParen@170..171 ")"
      Whitespace@171..172 " "
    Arrow@172..174 "->"
    Whitespace@174..175 " "
    TYPE_STRING@175..182
      StringKeyword@175..181 "string"
      Whitespace@181..182 " "
    BLOCK@182..208
      LBrace@182..183 "{"
      Whitespace@183..188 "\n    "
      EXPR_CALL@188..205
        EXPR_IDENT@188..201
          PATH@188..201
            Ident@188..195 "Display"
            ColonColon@195..197 "::"
            Ident@197..201 "show"
        ARG_LIST@201..205
          LParen@201..202 "("
          ARG@202..203
            EXPR_IDENT@202..203
              PATH@202..203
                Ident@202..203 "x"
          RParen@203..204 ")"
          Whitespace@204..205 "\n"
      RBrace@205..206 "}"
      Whitespace@206..208 "\n\n"
  FN@208..516
    FnKeyword@208..210 "fn"
    Whitespace@210..211 " "
    Ident@211..215 "main"
    PARAM_LIST@215..218
      LParen@215..216 "("
      RParen@216..217 ")"
      Whitespace@217..218 " "
    Arrow@218..220 "->"
    Whitespace@220..221 " "
    TYPE_TUPLE@221..224
      TYPE_LIST@221..224
        LParen@221..222 "("
        RParen@222..223 ")"
        Whitespace@223..224 " "
    BLOCK@224..516
      LBrace@224..225 "{"
      Whitespace@225..230 "\n    "
      STMT_LET@230..272
        LetKeyword@230..233 "let"
        Whitespace@233..234 " "
        PATTERN_VARIABLE@234..235
          Ident@234..235 "v"
        Colon@235..236 ":"
        Whitespace@236..237 " "
        TYPE_TAPP@237..254
          PATH@237..240
            Ident@237..240 "Vec"
          TYPE_PARAM_LIST@240..254
            LBracket@240..241 "["
            TYPE_DYN@241..252
              DynKeyword@241..244 "dyn"
              Whitespace@244..245 " "
              DYN_BOUND@245..252
                PATH@245..252
                  Ident@245..252 "Display"
            RBracket@252..253 "]"
            Whitespace@253..254 " "
        Eq@254..255 "="
        Whitespace@255..256 " "
        EXPR_CALL@256..266
          EXPR_IDENT@256..264
            PATH@256..264
              Ident@256..259 "Vec"
              ColonColon@259..261 "::"
              Ident@261..264 "new"
          ARG_LIST@264..266
            LParen@264..265 "("
            RParen@265..266 ")"
        Semi@266..267 ";"
        Whitespace@267..272 "\n    "
      STMT_LET@272..297
        LetKeyword@272..275 "let"
        Whitespace@275..276 " "
        PATTERN_VARIABLE@276..281
          Ident@276..281 "first"
        Colon@281..282 ":"
        Whitespace@282..283 " "
        TYPE_INT32@283..287
          I32Keyword@283..286 "i32"
          Whitespace@286..287 " "
        Eq@287..288 "="
        Whitespace@288..289 " "
        EXPR_INT@289..291
          Int@289..291 "10"
        Semi@291..292 ";"
        Whitespace@292..297 "\n    "
      STMT_LET@297..323
        LetKeyword@297..300 "let"
        Whitespace@300..301 " "
        PATTERN_VARIABLE@301..307
          Ident@301..307 "second"
        Colon@307..308 ":"
        Whitespace@308..309 " "
        TYPE_INT32@309..313
          I32Keyword@309..312 "i32"
          Whitespace@312..313 " "
        Eq@313..314 "="
        Whitespace@314..315 " "
        EXPR_INT@315..317
          Int@315..317 "20"
        Semi@317..318 ";"
        Whitespace@318..323 "\n    "
      STMT_EXPR@323..357
        EXPR_CALL@323..351
          EXPR_BINARY@323..329
            EXPR_IDENT@323..324
              PATH@323..324
                Ident@323..324 "v"
            Dot@324..325 "."
            EXPR_IDENT@325..329
              PATH@325..329
                Ident@325..329 "push"
          ARG_LIST@329..351
            LParen@329..330 "("
            ARG@330..350
              EXPR_CAST@330..350
                EXPR_IDENT@330..336
                  PATH@330..336
                    Ident@330..335 "first"
                    Whitespace@335..336 " "
                AsKeyword@336..338 "as"
                Whitespace@338..339 " "
                TYPE_DYN@339..350
                  DynKeyword@339..342 "dyn"
                  Whitespace@342..343 " "
                  DYN_BOUND@343..350
                    PATH@343..350
                      Ident@343..350 "Display"
            RParen@350..351 ")"
        Semi@351..352 ";"
        Whitespace@352..357 "\n    "
      STMT_EXPR@357..392
        EXPR_CALL@357..386
          EXPR_BINARY@357..363
            EXPR_IDENT@357..358
              PATH@357..358
                Ident@357..358 "v"
            Dot@358..359 "."
            EXPR_IDENT@359..363
              PATH@359..363
                Ident@359..363 "push"
          ARG_LIST@363..386
            LParen@363..364 "("
            ARG@364..385
              EXPR_CAST@364..385
                EXPR_IDENT@364..371
                  PATH@364..371
                    Ident@364..370 "second"
                    Whitespace@370..371 " "
                AsKeyword@371..373 "as"
                Whitespace@373..374 " "
                TYPE_DYN@374..385
                  DynKeyword@374..377 "dyn"
                  Whitespace@377..378 " "
                  DYN_BOUND@378..385
                    PATH@378..385
                      Ident@378..385 "Display"
            RParen@385..386 ")"
        Semi@386..387 ";"
        Whitespace@387..392 "\n    "
      STMT_LET@392..439
        LetKeyword@392..395 "let"
        Whitespace@395..396 " "
        PATTERN_VARIABLE@396..397
          Ident@396..397 "s"
        Colon@397..398 ":"
        Whitespace@398..399 " "
        TYPE_TAPP@399..418
          PATH@399..404
            Ident@399..404 "Slice"
          TYPE_PARAM_LIST@404..418
            LBracket@404..405 "["
            TYPE_DYN@405..416
              DynKeyword@405..408 "dyn"
              Whitespace@408..409 " "
              DYN_BOUND@409..416
                PATH@409..416
                  Ident@409..416 "Display"
            RBracket@416..417 "]"
            Whitespace@417..418 " "
        Eq@418..419 "="
        Whitespace@419..420 " "
        EXPR_CALL@420..433
          EXPR_BINARY@420..427
            EXPR_IDENT@420..421
              PATH@420..421
                Ident@420..421 "v"
            Dot@421..422 "."
            EXPR_IDENT@422..427
              PATH@422..427
                Ident@422..427 "slice"
          ARG_LIST@427..433
            LParen@427..428 "("
            ARG@428..431
              EXPR_INT@428..429
                Int@428..429 "0"
              Comma@429..430 ","
              Whitespace@430..431 " "
            ARG@431..432
              EXPR_INT@431..432
                Int@431..432 "2"
            RParen@432..433 ")"
        Semi@433..434 ";"
        Whitespace@434..439 "\n    "
      STMT_EXPR@439..466
        EXPR_CALL@439..460
          EXPR_IDENT@439..446
            PATH@439..446
              Ident@439..446 "println"
          ARG_LIST@446..460
            LParen@446..447 "("
            ARG@447..459
              EXPR_CALL@447..459
                EXPR_IDENT@447..453
                  PATH@447..453
                    Ident@447..453 "render"
                ARG_LIST@453..459
                  LParen@453..454 "("
                  ARG@454..458
                    EXPR_INDEX@454..458
                      EXPR_IDENT@454..455
                        PATH@454..455
                          Ident@454..455 "s"
                      LBracket@455..456 "["
                      EXPR_INT@456..457
                        Int@456..457 "0"
                      RBracket@457..458 "]"
                  RParen@458..459 ")"
            RParen@459..460 ")"
        Semi@460..461 ";"
        Whitespace@461..466 "\n    "
      STMT_LET@466..491
        LetKeyword@466..469 "let"
        Whitespace@469..470 " "
        PATTERN_VARIABLE@470..472
          Ident@470..471 "t"
          Whitespace@471..472 " "
        Eq@472..473 "="
        Whitespace@473..474 " "
        EXPR_CALL@474..485
          EXPR_BINARY@474..479
            EXPR_IDENT@474..475
              PATH@474..475
                Ident@474..475 "s"
            Dot@475..476 "."
            EXPR_IDENT@476..479
              PATH@476..479
                Ident@476..479 "sub"
          ARG_LIST@479..485
            LParen@479..480 "("
            ARG@480..483
              EXPR_INT@480..481
                Int@480..481 "1"
              Comma@481..482 ","
              Whitespace@482..483 " "
            ARG@483..484
              EXPR_INT@483..484
                Int@483..484 "2"
            RParen@484..485 ")"
        Semi@485..486 ";"
        Whitespace@486..491 "\n    "
      STMT_EXPR@491..514
        EXPR_CALL@491..512
          EXPR_IDENT@491..498
            PATH@491..498
              Ident@491..498 "println"
          ARG_LIST@498..512
            LParen@498..499 "("
            ARG@499..511
              EXPR_CALL@499..511
                EXPR_IDENT@499..505
                  PATH@499..505
                    Ident@499..505 "render"
                ARG_LIST@505..511
                  LParen@505..506 "("
                  ARG@506..510
                    EXPR_INDEX@506..510
                      EXPR_IDENT@506..507
                        PATH@506..507
                          Ident@506..507 "t"
                      LBracket@507..508 "["
                      EXPR_INT@508..509
                        Int@508..509 "0"
                      RBracket@509..510 "]"
                  RParen@510..511 ")"
            RParen@511..512 ")"
        Semi@512..513 ";"
        Whitespace@513..514 "\n"
      RBrace@514..515 "}"
      Whitespace@515..516 "\n"