FILE@0..526
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..51
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
        Semi@49..50 ";"
        Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  IMPL@54..150
    ImplKeyword@54..58 "impl"
    Whitespace@58..59 " "
    TYPE_TAPP@59..67
      PATH@59..67
        Ident@59..66 "Display"
        Whitespace@66..67 " "
    ForKeyword@67..70 "for"
    Whitespace@70..71 " "
    TYPE_INT32@71..77
      Int32Keyword@71..76 "int32"
      Whitespace@76..77 " "
    LBrace@77..78 "{"
    Whitespace@78..83 "\n    "
    FN@83..147
      FnKeyword@83..85 "fn"
      Whitespace@85..86 " "
      Ident@86..90 "show"
      PARAM_LIST@90..104
        LParen@90..91 "("
        PARAM@91..102
          Ident@91..95 "self"
          Colon@95..96 ":"
          Whitespace@96..97 " "
          TYPE_INT32@97..102
            Int32Keyword@97..102 "int32"
        RParen@102..103 ")"
        Whitespace@103..104 " "
      Arrow@104..106 "->"
      Whitespace@106..107 " "
      TYPE_STRING@107..114
        StringKeyword@107..113 "string"
        Whitespace@113..114 " "
      BLOCK@114..147
        LBrace@114..115 "{"
        Whitespace@115..124 "\n        "
        EXPR_CALL@124..145
          EXPR_BINARY@124..138
            EXPR_IDENT@124..128
              PATH@124..128
                Ident@124..128 "self"
            Dot@128..129 "."
            EXPR_IDENT@129..138
              PATH@129..138
                Ident@129..138 "to_string"
          ARG_LIST@138..145
            LParen@138..139 "("
            RParen@139..140 ")"
            Whitespace@140..145 "\n    "
        RBrace@145..146 "}"
        Whitespace@146..147 "\n"
    RBrace@147..148 "}"
    Whitespace@148..150 "\n\n"
  FN@150..212
    FnKeyword@150..152 "fn"
    Whitespace@152..153 " "
    Ident@153..159 "render"
    PARAM_LIST@159..176
      LParen@159..160 "("
      PARAM@160..174
        Ident@160..161 "x"
        Colon@161..162 ":"
        Whitespace@162..163 " "
        TYPE_DYN@163..174
          DynKeyword@163..166 "dyn"
          Whitespace@166..167 " "
          DYN_BOUND@167..174
            PATH@167..174
              Ident@167..174 "Display"
      RParen@174..175 ")"
      Whitespace@175..176 " "
    Arrow@176..178 "->"
    Whitespace@178..179 " "
    TYPE_STRING@179..186
      StringKeyword@179..185 "string"
      Whitespace@185..186 " "
    BLOCK@186..212
      LBrace@186..187 "{"
      Whitespace@187..192 "\n    "
      EXPR_CALL@192..209
        EXPR_IDENT@192..205
          PATH@192..205
            Ident@192..199 "Display"
            ColonColon@199..201 "::"
            Ident@201..205 "show"
        ARG_LIST@205..209
          LParen@205..206 "("
          ARG@206..207
            EXPR_IDENT@206..207
              PATH@206..207
                Ident@206..207 "x"
          RParen@207..208 ")"
          Whitespace@208..209 "\n"
      RBrace@209..210 "}"
      Whitespace@210..212 "\n\n"
  FN@212..526
    FnKeyword@212..214 "fn"
    Whitespace@214..215 " "
    Ident@215..219 "main"
    PARAM_LIST@219..222
      LParen@219..220 "("
      RParen@220..221 ")"
      Whitespace@221..222 " "
    Arrow@222..224 "->"
    Whitespace@224..225 " "
    TYPE_UNIT@225..230
      UnitKeyword@225..229 "unit"
      Whitespace@229..230 " "
    BLOCK@230..526
      LBrace@230..231 "{"
      Whitespace@231..236 "\n    "
      STMT_LET@236..278
        LetKeyword@236..239 "let"
        Whitespace@239..240 " "
        PATTERN_VARIABLE@240..241
          Ident@240..241 "v"
        Colon@241..242 ":"
        Whitespace@242..243 " "
        TYPE_TAPP@243..260
          PATH@243..246
            Ident@243..246 "Vec"
          TYPE_PARAM_LIST@246..260
            LBracket@246..247 "["
            TYPE_DYN@247..258
              DynKeyword@247..250 "dyn"
              Whitespace@250..251 " "
              DYN_BOUND@251..258
                PATH@251..258
                  Ident@251..258 "Display"
            RBracket@258..259 "]"
            Whitespace@259..260 " "
        Eq@260..261 "="
        Whitespace@261..262 " "
        EXPR_CALL@262..272
          EXPR_IDENT@262..270
            PATH@262..270
              Ident@262..265 "Vec"
              ColonColon@265..267 "::"
              Ident@267..270 "new"
          ARG_LIST@270..272
            LParen@270..271 "("
            RParen@271..272 ")"
        Semi@272..273 ";"
        Whitespace@273..278 "\n    "
      STMT_LET@278..305
        LetKeyword@278..281 "let"
        Whitespace@281..282 " "
        PATTERN_VARIABLE@282..287
          Ident@282..287 "first"
        Colon@287..288 ":"
        Whitespace@288..289 " "
        TYPE_INT32@289..295
          Int32Keyword@289..294 "int32"
          Whitespace@294..295 " "
        Eq@295..296 "="
        Whitespace@296..297 " "
        EXPR_INT@297..299
          Int@297..299 "10"
        Semi@299..300 ";"
        Whitespace@300..305 "\n    "
      STMT_LET@305..333
        LetKeyword@305..308 "let"
        Whitespace@308..309 " "
        PATTERN_VARIABLE@309..315
          Ident@309..315 "second"
        Colon@315..316 ":"
        Whitespace@316..317 " "
        TYPE_INT32@317..323
          Int32Keyword@317..322 "int32"
          Whitespace@322..323 " "
        Eq@323..324 "="
        Whitespace@324..325 " "
        EXPR_INT@325..327
          Int@325..327 "20"
        Semi@327..328 ";"
        Whitespace@328..333 "\n    "
      STMT_EXPR@333..367
        EXPR_CALL@333..361
          EXPR_BINARY@333..339
            EXPR_IDENT@333..334
              PATH@333..334
                Ident@333..334 "v"
            Dot@334..335 "."
            EXPR_IDENT@335..339
              PATH@335..339
                Ident@335..339 "push"
          ARG_LIST@339..361
            LParen@339..340 "("
            ARG@340..360
              EXPR_CAST@340..360
                EXPR_IDENT@340..346
                  PATH@340..346
                    Ident@340..345 "first"
                    Whitespace@345..346 " "
                AsKeyword@346..348 "as"
                Whitespace@348..349 " "
                TYPE_DYN@349..360
                  DynKeyword@349..352 "dyn"
                  Whitespace@352..353 " "
                  DYN_BOUND@353..360
                    PATH@353..360
                      Ident@353..360 "Display"
            RParen@360..361 ")"
        Semi@361..362 ";"
        Whitespace@362..367 "\n    "
      STMT_EXPR@367..402
        EXPR_CALL@367..396
          EXPR_BINARY@367..373
            EXPR_IDENT@367..368
              PATH@367..368
                Ident@367..368 "v"
            Dot@368..369 "."
            EXPR_IDENT@369..373
              PATH@369..373
                Ident@369..373 "push"
          ARG_LIST@373..396
            LParen@373..374 "("
            ARG@374..395
              EXPR_CAST@374..395
                EXPR_IDENT@374..381
                  PATH@374..381
                    Ident@374..380 "second"
                    Whitespace@380..381 " "
                AsKeyword@381..383 "as"
                Whitespace@383..384 " "
                TYPE_DYN@384..395
                  DynKeyword@384..387 "dyn"
                  Whitespace@387..388 " "
                  DYN_BOUND@388..395
                    PATH@388..395
                      Ident@388..395 "Display"
            RParen@395..396 ")"
        Semi@396..397 ";"
        Whitespace@397..402 "\n    "
      STMT_LET@402..449
        LetKeyword@402..405 "let"
        Whitespace@405..406 " "
        PATTERN_VARIABLE@406..407
          Ident@406..407 "s"
        Colon@407..408 ":"
        Whitespace@408..409 " "
        TYPE_TAPP@409..428
          PATH@409..414
            Ident@409..414 "Slice"
          TYPE_PARAM_LIST@414..428
            LBracket@414..415 "["
            TYPE_DYN@415..426
              DynKeyword@415..418 "dyn"
              Whitespace@418..419 " "
              DYN_BOUND@419..426
                PATH@419..426
                  Ident@419..426 "Display"
            RBracket@426..427 "]"
            Whitespace@427..428 " "
        Eq@428..429 "="
        Whitespace@429..430 " "
        EXPR_CALL@430..443
          EXPR_BINARY@430..437
            EXPR_IDENT@430..431
              PATH@430..431
                Ident@430..431 "v"
            Dot@431..432 "."
            EXPR_IDENT@432..437
              PATH@432..437
                Ident@432..437 "slice"
          ARG_LIST@437..443
            LParen@437..438 "("
            ARG@438..441
              EXPR_INT@438..439
                Int@438..439 "0"
              Comma@439..440 ","
              Whitespace@440..441 " "
            ARG@441..442
              EXPR_INT@441..442
                Int@441..442 "2"
            RParen@442..443 ")"
        Semi@443..444 ";"
        Whitespace@444..449 "\n    "
      STMT_EXPR@449..476
        EXPR_CALL@449..470
          EXPR_IDENT@449..456
            PATH@449..456
              Ident@449..456 "println"
          ARG_LIST@456..470
            LParen@456..457 "("
            ARG@457..469
              EXPR_CALL@457..469
                EXPR_IDENT@457..463
                  PATH@457..463
                    Ident@457..463 "render"
                ARG_LIST@463..469
                  LParen@463..464 "("
                  ARG@464..468
                    EXPR_INDEX@464..468
                      EXPR_IDENT@464..465
                        PATH@464..465
                          Ident@464..465 "s"
                      LBracket@465..466 "["
                      EXPR_INT@466..467
                        Int@466..467 "0"
                      RBracket@467..468 "]"
                  RParen@468..469 ")"
            RParen@469..470 ")"
        Semi@470..471 ";"
        Whitespace@471..476 "\n    "
      STMT_LET@476..501
        LetKeyword@476..479 "let"
        Whitespace@479..480 " "
        PATTERN_VARIABLE@480..482
          Ident@480..481 "t"
          Whitespace@481..482 " "
        Eq@482..483 "="
        Whitespace@483..484 " "
        EXPR_CALL@484..495
          EXPR_BINARY@484..489
            EXPR_IDENT@484..485
              PATH@484..485
                Ident@484..485 "s"
            Dot@485..486 "."
            EXPR_IDENT@486..489
              PATH@486..489
                Ident@486..489 "sub"
          ARG_LIST@489..495
            LParen@489..490 "("
            ARG@490..493
              EXPR_INT@490..491
                Int@490..491 "1"
              Comma@491..492 ","
              Whitespace@492..493 " "
            ARG@493..494
              EXPR_INT@493..494
                Int@493..494 "2"
            RParen@494..495 ")"
        Semi@495..496 ";"
        Whitespace@496..501 "\n    "
      STMT_EXPR@501..524
        EXPR_CALL@501..522
          EXPR_IDENT@501..508
            PATH@501..508
              Ident@501..508 "println"
          ARG_LIST@508..522
            LParen@508..509 "("
            ARG@509..521
              EXPR_CALL@509..521
                EXPR_IDENT@509..515
                  PATH@509..515
                    Ident@509..515 "render"
                ARG_LIST@515..521
                  LParen@515..516 "("
                  ARG@516..520
                    EXPR_INDEX@516..520
                      EXPR_IDENT@516..517
                        PATH@516..517
                          Ident@516..517 "t"
                      LBracket@517..518 "["
                      EXPR_INT@518..519
                        Int@518..519 "0"
                      RBracket@519..520 "]"
                  RParen@520..521 ")"
            RParen@521..522 ")"
        Semi@522..523 ";"
        Whitespace@523..524 "\n"
      RBrace@524..525 "}"
      Whitespace@525..526 "\n"