FILE@0..268
  FN@0..268
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..268
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..147
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..25
          Ident@20..24 "poem"
          Whitespace@24..25 " "
        Eq@25..26 "="
        Whitespace@26..27 " "
        EXPR_MULTILINE_STR@27..140
          MultilineStr@27..135 "\\\\roses are red\n      ..."
          Whitespace@135..140 "\n    "
        Semi@140..141 ";"
        Whitespace@141..147 "\n\n    "
      STMT_LET@147..222
        LetKeyword@147..150 "let"
        Whitespace@150..151 " "
        PATTERN_VARIABLE@151..166
          Ident@151..165 "trailing_blank"
          Whitespace@165..166 " "
        Eq@166..167 "="
        Whitespace@167..168 " "
        EXPR_MULTILINE_STR@168..215
          MultilineStr@168..210 "\\\\line one\n        \\\\ ..."
          Whitespace@210..215 "\n    "
        Semi@215..216 ";"
        Whitespace@216..222 "\n\n    "
      STMT_EXPR@222..241
        EXPR_CALL@222..235
          EXPR_IDENT@222..229
            PATH@222..229
              Ident@222..229 "println"
          ARG_LIST@229..235
            LParen@229..230 "("
            ARG@230..234
              EXPR_IDENT@230..234
                PATH@230..234
                  Ident@230..234 "poem"
            RParen@234..235 ")"
        Semi@235..236 ";"
        Whitespace@236..241 "\n    "
      STMT_EXPR@241..266
        EXPR_CALL@241..264
          EXPR_IDENT@241..248
            PATH@241..248
              Ident@241..248 "println"
          ARG_LIST@248..264
            LParen@248..249 "("
            ARG@249..263
              EXPR_IDENT@249..263
                PATH@249..263
                  Ident@249..263 "trailing_blank"
            RParen@263..264 ")"
        Semi@264..265 ";"
        Whitespace@265..266 "\n"
      RBrace@266..267 "}"
      Whitespace@267..268 "\n"