FILE@0..101
  FN@0..35
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "stop"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..35
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_EXPR@24..32
        EXPR_RETURN@24..30
          ReturnKeyword@24..30 "return"
        Semi@30..31 ";"
        Whitespace@31..32 "\n"
      RBrace@32..33 "}"
      Whitespace@33..35 "\n\n"
  FN@35..101
    FnKeyword@35..37 "fn"
    Whitespace@37..38 " "
    Ident@38..42 "main"
    PARAM_LIST@42..45
      LParen@42..43 "("
      RParen@43..44 ")"
      Whitespace@44..45 " "
    Arrow@45..47 "->"
    Whitespace@47..48 " "
    TYPE_UNIT@48..53
      UnitKeyword@48..52 "unit"
      Whitespace@52..53 " "
    BLOCK@53..101
      LBrace@53..54 "{"
      Whitespace@54..59 "\n    "
      STMT_EXPR@59..71
        EXPR_CALL@59..65
          EXPR_IDENT@59..63
            PATH@59..63
              Ident@59..63 "stop"
          ARG_LIST@63..65
            LParen@63..64 "("
            RParen@64..65 ")"
        Semi@65..66 ";"
        Whitespace@66..71 "\n    "
      EXPR_CALL@71..99
        EXPR_IDENT@71..85
          PATH@71..85
            Ident@71..85 "string_println"
        ARG_LIST@85..99
          LParen@85..86 "("
          ARG@86..97
            EXPR_STR@86..97
              Str@86..97 "\"continued\""
          RParen@97..98 ")"
          Whitespace@98..99 "\n"
      RBrace@99..100 "}"
      Whitespace@100..101 "\n"