FILE@0..605
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..14 "ToString"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    TRAIT_METHOD_SIG_LIST@21..54
      TRAIT_METHOD_SIG@21..49
        FnKeyword@21..23 "fn"
        Whitespace@23..24 " "
        Ident@24..33 "to_string"
        TYPE_LIST@33..40
          LParen@33..34 "("
          TYPE_TAPP@34..38
            PATH@34..38
              Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
      Semi@49..50 ";"
      Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  IMPL@54..161
    ImplKeyword@54..58 "impl"
    Whitespace@58..59 " "
    PATH@59..68
      Ident@59..67 "ToString"
      Whitespace@67..68 " "
    ForKeyword@68..71 "for"
    Whitespace@71..72 " "
    TYPE_INT32@72..78
      Int32Keyword@72..77 "int32"
      Whitespace@77..78 " "
    LBrace@78..79 "{"
    Whitespace@79..84 "\n    "
    FN@84..158
      FnKeyword@84..86 "fn"
      Whitespace@86..87 " "
      Ident@87..96 "to_string"
      PARAM_LIST@96..110
        LParen@96..97 "("
        PARAM@97..108
          Ident@97..101 "self"
          Colon@101..102 ":"
          Whitespace@102..103 " "
          TYPE_INT32@103..108
            Int32Keyword@103..108 "int32"
        RParen@108..109 ")"
        Whitespace@109..110 " "
      Arrow@110..112 "->"
      Whitespace@112..113 " "
      TYPE_STRING@113..120
        StringKeyword@113..119 "string"
        Whitespace@119..120 " "
      BLOCK@120..158
        LBrace@120..121 "{"
        Whitespace@121..130 "\n        "
        EXPR_CALL@130..156
          EXPR_IDENT@130..145
            PATH@130..145
              Ident@130..145 "int32_to_string"
          ARG_LIST@145..156
            LParen@145..146 "("
            ARG@146..150
              EXPR_IDENT@146..150
                PATH@146..150
                  Ident@146..150 "self"
            RParen@150..151 ")"
            Whitespace@151..156 "\n    "
        RBrace@156..157 "}"
        Whitespace@157..158 "\n"
    RBrace@158..159 "}"
    Whitespace@159..161 "\n\n"
  IMPL@161..266
    ImplKeyword@161..165 "impl"
    Whitespace@165..166 " "
    PATH@166..175
      Ident@166..174 "ToString"
      Whitespace@174..175 " "
    ForKeyword@175..178 "for"
    Whitespace@178..179 " "
    TYPE_BOOL@179..185
      BoolKeyword@179..183 "bool"
      Whitespace@183..185 "  "
    LBrace@185..186 "{"
    Whitespace@186..191 "\n    "
    FN@191..263
      FnKeyword@191..193 "fn"
      Whitespace@193..194 " "
      Ident@194..203 "to_string"
      PARAM_LIST@203..216
        LParen@203..204 "("
        PARAM@204..214
          Ident@204..208 "self"
          Colon@208..209 ":"
          Whitespace@209..210 " "
          TYPE_BOOL@210..214
            BoolKeyword@210..214 "bool"
        RParen@214..215 ")"
        Whitespace@215..216 " "
      Arrow@216..218 "->"
      Whitespace@218..219 " "
      TYPE_STRING@219..226
        StringKeyword@219..225 "string"
        Whitespace@225..226 " "
      BLOCK@226..263
        LBrace@226..227 "{"
        Whitespace@227..236 "\n        "
        EXPR_CALL@236..261
          EXPR_IDENT@236..250
            PATH@236..250
              Ident@236..250 "bool_to_string"
          ARG_LIST@250..261
            LParen@250..251 "("
            ARG@251..255
              EXPR_IDENT@251..255
                PATH@251..255
                  Ident@251..255 "self"
            RParen@255..256 ")"
            Whitespace@256..261 "\n    "
        RBrace@261..262 "}"
        Whitespace@262..263 "\n"
    RBrace@263..264 "}"
    Whitespace@264..266 "\n\n"
  IMPL@266..370
    ImplKeyword@266..270 "impl"
    Whitespace@270..271 " "
    PATH@271..280
      Ident@271..279 "ToString"
      Whitespace@279..280 " "
    ForKeyword@280..283 "for"
    Whitespace@283..284 " "
    TYPE_TUPLE@284..299
      TYPE_LIST@284..299
        LParen@284..285 "("
        TYPE_INT32@285..290
          Int32Keyword@285..290 "int32"
        Comma@290..291 ","
        Whitespace@291..292 " "
        TYPE_INT32@292..297
          Int32Keyword@292..297 "int32"
        RParen@297..298 ")"
        Whitespace@298..299 " "
    LBrace@299..300 "{"
    Whitespace@300..303 "\n  "
    FN@303..367
      FnKeyword@303..305 "fn"
      Whitespace@305..306 " "
      Ident@306..315 "to_string"
      PARAM_LIST@315..338
        LParen@315..316 "("
        PARAM@316..336
          Ident@316..320 "self"
          Colon@320..321 ":"
          Whitespace@321..322 " "
          TYPE_TUPLE@322..336
            TYPE_LIST@322..336
              LParen@322..323 "("
              TYPE_INT32@323..328
                Int32Keyword@323..328 "int32"
              Comma@328..329 ","
              Whitespace@329..330 " "
              TYPE_INT32@330..335
                Int32Keyword@330..335 "int32"
              RParen@335..336 ")"
        RParen@336..337 ")"
        Whitespace@337..338 " "
      Arrow@338..340 "->"
      Whitespace@340..341 " "
      TYPE_STRING@341..348
        StringKeyword@341..347 "string"
        Whitespace@347..348 " "
      BLOCK@348..367
        LBrace@348..349 "{"
        Whitespace@349..354 "\n    "
        EXPR_STR@354..365
          Str@354..362 "\"(?, ?)\""
          Whitespace@362..365 "\n  "
        RBrace@365..366 "}"
        Whitespace@366..367 "\n"
    RBrace@367..368 "}"
    Whitespace@368..370 "\n\n"
  FN@370..605
    FnKeyword@370..372 "fn"
    Whitespace@372..373 " "
    Ident@373..377 "main"
    PARAM_LIST@377..380
      LParen@377..378 "("
      RParen@378..379 ")"
      Whitespace@379..380 " "
    BLOCK@380..605
      LBrace@380..381 "{"
      Whitespace@381..386 "\n    "
      STMT_LET@386..403
        LetKeyword@386..389 "let"
        Whitespace@389..390 " "
        PATTERN_VARIABLE@390..392
          Ident@390..391 "x"
          Whitespace@391..392 " "
        Eq@392..393 "="
        Whitespace@393..394 " "
        EXPR_INT@394..397
          Int@394..397 "123"
        Semi@397..398 ";"
        Whitespace@398..403 "\n    "
      STMT_LET@403..456
        LetKeyword@403..406 "let"
        Whitespace@406..407 " "
        PATTERN_WILDCARD@407..409
          WildcardKeyword@407..408 "_"
          Whitespace@408..409 " "
        Eq@409..410 "="
        Whitespace@410..411 " "
        EXPR_CALL@411..449
          EXPR_IDENT@411..425
            PATH@411..425
              Ident@411..425 "string_println"
          ARG_LIST@425..449
            LParen@425..426 "("
            ARG@426..448
              EXPR_CALL@426..448
                EXPR_IDENT@426..445
                  PATH@426..445
                    Ident@426..434 "ToString"
                    ColonColon@434..436 "::"
                    Ident@436..445 "to_string"
                ARG_LIST@445..448
                  LParen@445..446 "("
                  ARG@446..447
                    EXPR_IDENT@446..447
                      PATH@446..447
                        Ident@446..447 "x"
                  RParen@447..448 ")"
            RParen@448..449 ")"
        Semi@449..450 ";"
        Whitespace@450..456 "\n\n    "
      STMT_LET@456..474
        LetKeyword@456..459 "let"
        Whitespace@459..460 " "
        PATTERN_VARIABLE@460..462
          Ident@460..461 "x"
          Whitespace@461..462 " "
        Eq@462..463 "="
        Whitespace@463..464 " "
        EXPR_BOOL@464..468
          TrueKeyword@464..468 "true"
        Semi@468..469 ";"
        Whitespace@469..474 "\n    "
      STMT_LET@474..527
        LetKeyword@474..477 "let"
        Whitespace@477..478 " "
        PATTERN_WILDCARD@478..480
          WildcardKeyword@478..479 "_"
          Whitespace@479..480 " "
        Eq@480..481 "="
        Whitespace@481..482 " "
        EXPR_CALL@482..520
          EXPR_IDENT@482..496
            PATH@482..496
              Ident@482..496 "string_println"
          ARG_LIST@496..520
            LParen@496..497 "("
            ARG@497..519
              EXPR_CALL@497..519
                EXPR_IDENT@497..516
                  PATH@497..516
                    Ident@497..505 "ToString"
                    ColonColon@505..507 "::"
                    Ident@507..516 "to_string"
                ARG_LIST@516..519
                  LParen@516..517 "("
                  ARG@517..518
                    EXPR_IDENT@517..518
                      PATH@517..518
                        Ident@517..518 "x"
                  RParen@518..519 ")"
            RParen@519..520 ")"
        Semi@520..521 ";"
        Whitespace@521..527 "\n\n    "
      STMT_LET@527..547
        LetKeyword@527..530 "let"
        Whitespace@530..531 " "
        PATTERN_VARIABLE@531..533
          Ident@531..532 "x"
          Whitespace@532..533 " "
        Eq@533..534 "="
        Whitespace@534..535 " "
        EXPR_TUPLE@535..541
          LParen@535..536 "("
          EXPR_INT@536..537
            Int@536..537 "3"
          Comma@537..538 ","
          Whitespace@538..539 " "
          EXPR_INT@539..540
            Int@539..540 "4"
          RParen@540..541 ")"
        Semi@541..542 ";"
        Whitespace@542..547 "\n    "
      STMT_LET@547..600
        LetKeyword@547..550 "let"
        Whitespace@550..551 " "
        PATTERN_WILDCARD@551..553
          WildcardKeyword@551..552 "_"
          Whitespace@552..553 " "
        Eq@553..554 "="
        Whitespace@554..555 " "
        EXPR_CALL@555..593
          EXPR_IDENT@555..569
            PATH@555..569
              Ident@555..569 "string_println"
          ARG_LIST@569..593
            LParen@569..570 "("
            ARG@570..592
              EXPR_CALL@570..592
                EXPR_IDENT@570..589
                  PATH@570..589
                    Ident@570..578 "ToString"
                    ColonColon@578..580 "::"
                    Ident@580..589 "to_string"
                ARG_LIST@589..592
                  LParen@589..590 "("
                  ARG@590..591
                    EXPR_IDENT@590..591
                      PATH@590..591
                        Ident@590..591 "x"
                  RParen@591..592 ")"
            RParen@592..593 ")"
        Semi@593..594 ";"
        Whitespace@594..600 "\n\n    "
      EXPR_UNIT@600..603
        LParen@600..601 "("
        RParen@601..602 ")"
        Whitespace@602..603 "\n"
      RBrace@603..604 "}"
      Whitespace@604..605 "\n"