FILE@0..339
  IMPL@0..104
    ImplKeyword@0..4 "impl"
    Whitespace@4..5 " "
    PATH@5..14
      Ident@5..13 "ToString"
      Whitespace@13..14 " "
    ForKeyword@14..17 "for"
    Whitespace@17..18 " "
    TYPE_TUPLE@18..33
      TYPE_LIST@18..33
        LParen@18..19 "("
        TYPE_INT32@19..24
          Int32Keyword@19..24 "int32"
        Comma@24..25 ","
        Whitespace@25..26 " "
        TYPE_INT32@26..31
          Int32Keyword@26..31 "int32"
        RParen@31..32 ")"
        Whitespace@32..33 " "
    LBrace@33..34 "{"
    Whitespace@34..37 "\n  "
    FN@37..101
      FnKeyword@37..39 "fn"
      Whitespace@39..40 " "
      Ident@40..49 "to_string"
      PARAM_LIST@49..72
        LParen@49..50 "("
        PARAM@50..70
          Ident@50..54 "self"
          Colon@54..55 ":"
          Whitespace@55..56 " "
          TYPE_TUPLE@56..70
            TYPE_LIST@56..70
              LParen@56..57 "("
              TYPE_INT32@57..62
                Int32Keyword@57..62 "int32"
              Comma@62..63 ","
              Whitespace@63..64 " "
              TYPE_INT32@64..69
                Int32Keyword@64..69 "int32"
              RParen@69..70 ")"
        RParen@70..71 ")"
        Whitespace@71..72 " "
      Arrow@72..74 "->"
      Whitespace@74..75 " "
      TYPE_STRING@75..82
        StringKeyword@75..81 "string"
        Whitespace@81..82 " "
      BLOCK@82..101
        LBrace@82..83 "{"
        Whitespace@83..88 "\n    "
        EXPR_STR@88..99
          Str@88..96 "\"(?, ?)\""
          Whitespace@96..99 "\n  "
        RBrace@99..100 "}"
        Whitespace@100..101 "\n"
    RBrace@101..102 "}"
    Whitespace@102..104 "\n\n"
  FN@104..339
    FnKeyword@104..106 "fn"
    Whitespace@106..107 " "
    Ident@107..111 "main"
    PARAM_LIST@111..114
      LParen@111..112 "("
      RParen@112..113 ")"
      Whitespace@113..114 " "
    BLOCK@114..339
      LBrace@114..115 "{"
      Whitespace@115..120 "\n    "
      STMT_LET@120..137
        LetKeyword@120..123 "let"
        Whitespace@123..124 " "
        PATTERN_VARIABLE@124..126
          Ident@124..125 "x"
          Whitespace@125..126 " "
        Eq@126..127 "="
        Whitespace@127..128 " "
        EXPR_INT@128..131
          Int@128..131 "123"
        Semi@131..132 ";"
        Whitespace@132..137 "\n    "
      STMT_LET@137..190
        LetKeyword@137..140 "let"
        Whitespace@140..141 " "
        PATTERN_WILDCARD@141..143
          WildcardKeyword@141..142 "_"
          Whitespace@142..143 " "
        Eq@143..144 "="
        Whitespace@144..145 " "
        EXPR_CALL@145..183
          EXPR_IDENT@145..159
            PATH@145..159
              Ident@145..159 "string_println"
          ARG_LIST@159..183
            LParen@159..160 "("
            ARG@160..182
              EXPR_CALL@160..182
                EXPR_IDENT@160..179
                  PATH@160..179
                    Ident@160..168 "ToString"
                    ColonColon@168..170 "::"
                    Ident@170..179 "to_string"
                ARG_LIST@179..182
                  LParen@179..180 "("
                  ARG@180..181
                    EXPR_IDENT@180..181
                      PATH@180..181
                        Ident@180..181 "x"
                  RParen@181..182 ")"
            RParen@182..183 ")"
        Semi@183..184 ";"
        Whitespace@184..190 "\n\n    "
      STMT_LET@190..208
        LetKeyword@190..193 "let"
        Whitespace@193..194 " "
        PATTERN_VARIABLE@194..196
          Ident@194..195 "x"
          Whitespace@195..196 " "
        Eq@196..197 "="
        Whitespace@197..198 " "
        EXPR_BOOL@198..202
          TrueKeyword@198..202 "true"
        Semi@202..203 ";"
        Whitespace@203..208 "\n    "
      STMT_LET@208..261
        LetKeyword@208..211 "let"
        Whitespace@211..212 " "
        PATTERN_WILDCARD@212..214
          WildcardKeyword@212..213 "_"
          Whitespace@213..214 " "
        Eq@214..215 "="
        Whitespace@215..216 " "
        EXPR_CALL@216..254
          EXPR_IDENT@216..230
            PATH@216..230
              Ident@216..230 "string_println"
          ARG_LIST@230..254
            LParen@230..231 "("
            ARG@231..253
              EXPR_CALL@231..253
                EXPR_IDENT@231..250
                  PATH@231..250
                    Ident@231..239 "ToString"
                    ColonColon@239..241 "::"
                    Ident@241..250 "to_string"
                ARG_LIST@250..253
                  LParen@250..251 "("
                  ARG@251..252
                    EXPR_IDENT@251..252
                      PATH@251..252
                        Ident@251..252 "x"
                  RParen@252..253 ")"
            RParen@253..254 ")"
        Semi@254..255 ";"
        Whitespace@255..261 "\n\n    "
      STMT_LET@261..281
        LetKeyword@261..264 "let"
        Whitespace@264..265 " "
        PATTERN_VARIABLE@265..267
          Ident@265..266 "x"
          Whitespace@266..267 " "
        Eq@267..268 "="
        Whitespace@268..269 " "
        EXPR_TUPLE@269..275
          LParen@269..270 "("
          EXPR_INT@270..271
            Int@270..271 "3"
          Comma@271..272 ","
          Whitespace@272..273 " "
          EXPR_INT@273..274
            Int@273..274 "4"
          RParen@274..275 ")"
        Semi@275..276 ";"
        Whitespace@276..281 "\n    "
      STMT_LET@281..334
        LetKeyword@281..284 "let"
        Whitespace@284..285 " "
        PATTERN_WILDCARD@285..287
          WildcardKeyword@285..286 "_"
          Whitespace@286..287 " "
        Eq@287..288 "="
        Whitespace@288..289 " "
        EXPR_CALL@289..327
          EXPR_IDENT@289..303
            PATH@289..303
              Ident@289..303 "string_println"
          ARG_LIST@303..327
            LParen@303..304 "("
            ARG@304..326
              EXPR_CALL@304..326
                EXPR_IDENT@304..323
                  PATH@304..323
                    Ident@304..312 "ToString"
                    ColonColon@312..314 "::"
                    Ident@314..323 "to_string"
                ARG_LIST@323..326
                  LParen@323..324 "("
                  ARG@324..325
                    EXPR_IDENT@324..325
                      PATH@324..325
                        Ident@324..325 "x"
                  RParen@325..326 ")"
            RParen@326..327 ")"
        Semi@327..328 ";"
        Whitespace@328..334 "\n\n    "
      EXPR_UNIT@334..337
        LParen@334..335 "("
        RParen@335..336 ")"
        Whitespace@336..337 "\n"
      RBrace@337..338 "}"
      Whitespace@338..339 "\n"