FILE@0..490
  STRUCT@0..30
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..8 "S"
    Whitespace@8..9 " "
    LBrace@9..10 "{"
    Whitespace@10..15 "\n    "
    STRUCT_FIELD_LIST@15..30
      STRUCT_FIELD@15..25
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..27 "\n"
      RBrace@27..28 "}"
      Whitespace@28..30 "\n\n"
  IMPL@30..143
    ImplKeyword@30..34 "impl"
    Whitespace@34..35 " "
    TYPE_TAPP@35..44
      PATH@35..44
        Ident@35..43 "ToString"
        Whitespace@43..44 " "
    ForKeyword@44..47 "for"
    Whitespace@47..48 " "
    TYPE_TAPP@48..50
      PATH@48..50
        Ident@48..49 "S"
        Whitespace@49..50 " "
    LBrace@50..51 "{"
    Whitespace@51..56 "\n    "
    FN@56..140
      FnKeyword@56..58 "fn"
      Whitespace@58..59 " "
      Ident@59..68 "to_string"
      PARAM_LIST@68..78
        LParen@68..69 "("
        PARAM@69..76
          Ident@69..73 "self"
          Colon@73..74 ":"
          Whitespace@74..75 " "
          TYPE_TAPP@75..76
            PATH@75..76
              Ident@75..76 "S"
        RParen@76..77 ")"
        Whitespace@77..78 " "
      Arrow@78..80 "->"
      Whitespace@80..81 " "
      TYPE_STRING@81..88
        StringKeyword@81..87 "string"
        Whitespace@87..88 " "
      BLOCK@88..140
        LBrace@88..89 "{"
        Whitespace@89..98 "\n        "
        EXPR_BINARY@98..138
          EXPR_BINARY@98..128
            EXPR_STR@98..103
              Str@98..102 "\"S(\""
              Whitespace@102..103 " "
            Plus@103..104 "+"
            Whitespace@104..105 " "
            EXPR_CALL@105..128
              EXPR_BINARY@105..125
                EXPR_BINARY@105..115
                  EXPR_IDENT@105..109
                    PATH@105..109
                      Ident@105..109 "self"
                  Dot@109..110 "."
                  EXPR_IDENT@110..115
                    PATH@110..115
                      Ident@110..115 "value"
                Dot@115..116 "."
                EXPR_IDENT@116..125
                  PATH@116..125
                    Ident@116..125 "to_string"
              ARG_LIST@125..128
                LParen@125..126 "("
                RParen@126..127 ")"
                Whitespace@127..128 " "
          Plus@128..129 "+"
          Whitespace@129..130 " "
          EXPR_STR@130..138
            Str@130..133 "\")\""
            Whitespace@133..138 "\n    "
        RBrace@138..139 "}"
        Whitespace@139..140 "\n"
    RBrace@140..141 "}"
    Whitespace@141..143 "\n\n"
  FN@143..490
    FnKeyword@143..145 "fn"
    Whitespace@145..146 " "
    Ident@146..150 "main"
    PARAM_LIST@150..153
      LParen@150..151 "("
      RParen@151..152 ")"
      Whitespace@152..153 " "
    Arrow@153..155 "->"
    Whitespace@155..156 " "
    TYPE_TUPLE@156..159
      TYPE_LIST@156..159
        LParen@156..157 "("
        RParen@157..158 ")"
        Whitespace@158..159 " "
    BLOCK@159..490
      LBrace@159..160 "{"
      Whitespace@160..165 "\n    "
      STMT_EXPR@165..181
        EXPR_CALL@165..175
          EXPR_IDENT@165..172
            PATH@165..172
              Ident@165..172 "println"
          ARG_LIST@172..175
            LParen@172..173 "("
            ARG@173..174
              EXPR_INT@173..174
                Int@173..174 "1"
            RParen@174..175 ")"
        Semi@175..176 ";"
        Whitespace@176..181 "\n    "
      STMT_EXPR@181..200
        EXPR_CALL@181..194
          EXPR_IDENT@181..188
            PATH@181..188
              Ident@181..188 "println"
          ARG_LIST@188..194
            LParen@188..189 "("
            ARG@189..193
              EXPR_BOOL@189..193
                TrueKeyword@189..193 "true"
            RParen@193..194 ")"
        Semi@194..195 ";"
        Whitespace@195..200 "\n    "
      STMT_EXPR@200..219
        EXPR_CALL@200..213
          EXPR_IDENT@200..207
            PATH@200..207
              Ident@200..207 "println"
          ARG_LIST@207..213
            LParen@207..208 "("
            ARG@208..212
              EXPR_STR@208..212
                Str@208..212 "\"hi\""
            RParen@212..213 ")"
        Semi@213..214 ";"
        Whitespace@214..219 "\n    "
      STMT_EXPR@219..236
        EXPR_CALL@219..230
          EXPR_IDENT@219..226
            PATH@219..226
              Ident@219..226 "println"
          ARG_LIST@226..230
            LParen@226..227 "("
            ARG@227..229
              EXPR_UNIT@227..229
                LParen@227..228 "("
                RParen@228..229 ")"
            RParen@229..230 ")"
        Semi@230..231 ";"
        Whitespace@231..236 "\n    "
      STMT_EXPR@236..273
        EXPR_CALL@236..267
          EXPR_IDENT@236..243
            PATH@236..243
              Ident@236..243 "println"
          ARG_LIST@243..267
            LParen@243..244 "("
            ARG@244..266
              EXPR_CALL@244..266
                EXPR_IDENT@244..263
                  PATH@244..263
                    Ident@244..252 "ToString"
                    ColonColon@252..254 "::"
                    Ident@254..263 "to_string"
                ARG_LIST@263..266
                  LParen@263..264 "("
                  ARG@264..265
                    EXPR_INT@264..265
                      Int@264..265 "2"
                  RParen@265..266 ")"
            RParen@266..267 ")"
        Semi@267..268 ";"
        Whitespace@268..273 "\n    "
      STMT_EXPR@273..303
        EXPR_CALL@273..297
          EXPR_IDENT@273..280
            PATH@273..280
              Ident@273..280 "println"
          ARG_LIST@280..297
            LParen@280..281 "("
            ARG@281..296
              EXPR_CALL@281..296
                EXPR_BINARY@281..294
                  EXPR_PAREN@281..284
                    LParen@281..282 "("
                    EXPR_INT@282..283
                      Int@282..283 "2"
                    RParen@283..284 ")"
                  Dot@284..285 "."
                  EXPR_IDENT@285..294
                    PATH@285..294
                      Ident@285..294 "to_string"
                ARG_LIST@294..296
                  LParen@294..295 "("
                  RParen@295..296 ")"
            RParen@296..297 ")"
        Semi@297..298 ";"
        Whitespace@298..303 "\n    "
      STMT_LET@303..331
        LetKeyword@303..306 "let"
        Whitespace@306..307 " "
        PATTERN_VARIABLE@307..309
          Ident@307..308 "s"
          Whitespace@308..309 " "
        Eq@309..310 "="
        Whitespace@310..311 " "
        EXPR_STRUCT_LITERAL@311..325
          PATH@311..313
            Ident@311..312 "S"
            Whitespace@312..313 " "
          STRUCT_LITERAL_FIELD_LIST@313..325
            LBrace@313..314 "{"
            Whitespace@314..315 " "
            STRUCT_LITERAL_FIELD@315..324
              Ident@315..320 "value"
              Colon@320..321 ":"
              Whitespace@321..322 " "
              EXPR_INT@322..324
                Int@322..323 "9"
                Whitespace@323..324 " "
            RBrace@324..325 "}"
        Semi@325..326 ";"
        Whitespace@326..331 "\n    "
      STMT_EXPR@331..347
        EXPR_CALL@331..341
          EXPR_IDENT@331..338
            PATH@331..338
              Ident@331..338 "println"
          ARG_LIST@338..341
            LParen@338..339 "("
            ARG@339..340
              EXPR_IDENT@339..340
                PATH@339..340
                  Ident@339..340 "s"
            RParen@340..341 ")"
        Semi@341..342 ";"
        Whitespace@342..347 "\n    "
      STMT_LET@347..392
        LetKeyword@347..350 "let"
        Whitespace@350..351 " "
        PATTERN_VARIABLE@351..352
          Ident@351..352 "d"
        Colon@352..353 ":"
        Whitespace@353..354 " "
        TYPE_DYN@354..367
          DynKeyword@354..357 "dyn"
          Whitespace@357..358 " "
          DYN_BOUND@358..367
            PATH@358..367
              Ident@358..366 "ToString"
              Whitespace@366..367 " "
        Eq@367..368 "="
        Whitespace@368..369 " "
        EXPR_CAST@369..386
          EXPR_IDENT@369..371
            PATH@369..371
              Ident@369..370 "s"
              Whitespace@370..371 " "
          AsKeyword@371..373 "as"
          Whitespace@373..374 " "
          TYPE_DYN@374..386
            DynKeyword@374..377 "dyn"
            Whitespace@377..378 " "
            DYN_BOUND@378..386
              PATH@378..386
                Ident@378..386 "ToString"
        Semi@386..387 ";"
        Whitespace@387..392 "\n    "
      STMT_EXPR@392..408
        EXPR_CALL@392..402
          EXPR_IDENT@392..399
            PATH@392..399
              Ident@392..399 "println"
          ARG_LIST@399..402
            LParen@399..400 "("
            ARG@400..401
              EXPR_IDENT@400..401
                PATH@400..401
                  Ident@400..401 "d"
            RParen@401..402 ")"
        Semi@402..403 ";"
        Whitespace@403..408 "\n    "
      STMT_LET@408..433
        LetKeyword@408..411 "let"
        Whitespace@411..412 " "
        PATTERN_VARIABLE@412..414
          Ident@412..413 "r"
          Whitespace@413..414 " "
        Eq@414..415 "="
        Whitespace@415..416 " "
        EXPR_CALL@416..427
          EXPR_IDENT@416..424
            PATH@416..424
              Ident@416..419 "Ref"
              ColonColon@419..421 "::"
              Ident@421..424 "new"
          ARG_LIST@424..427
            LParen@424..425 "("
            ARG@425..426
              EXPR_INT@425..426
                Int@425..426 "5"
            RParen@426..427 ")"
        Semi@427..428 ";"
        Whitespace@428..433 "\n    "
      STMT_EXPR@433..449
        EXPR_CALL@433..443
          EXPR_IDENT@433..440
            PATH@433..440
              Ident@433..440 "println"
          ARG_LIST@440..443
            LParen@440..441 "("
            ARG@441..442
              EXPR_IDENT@441..442
                PATH@441..442
                  Ident@441..442 "r"
            RParen@442..443 ")"
        Semi@443..444 ";"
        Whitespace@444..449 "\n    "
      STMT_EXPR@449..474
        EXPR_CALL@449..468
          EXPR_IDENT@449..454
            PATH@449..454
              Ident@449..454 "print"
          ARG_LIST@454..468
            LParen@454..455 "("
            ARG@455..467
              EXPR_STR@455..467
                Str@455..467 "\"no-newline\""
            RParen@467..468 ")"
        Semi@468..469 ";"
        Whitespace@469..474 "\n    "
      STMT_EXPR@474..488
        EXPR_CALL@474..486
          EXPR_IDENT@474..481
            PATH@474..481
              Ident@474..481 "println"
          ARG_LIST@481..486
            LParen@481..482 "("
            ARG@482..485
              EXPR_STR@482..485
                Str@482..485 "\"!\""
            RParen@485..486 ")"
        Semi@486..487 ";"
        Whitespace@487..488 "\n"
      RBrace@488..489 "}"
      Whitespace@489..490 "\n"