FILE@0..306
  FN@0..306
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..306
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..80
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_TUPLE@28..43
          LParen@28..29 "("
          PATTERN_VARIABLE@29..34
            Ident@29..34 "valid"
          Comma@34..35 ","
          Whitespace@35..36 " "
          PATTERN_VARIABLE@36..41
            Ident@36..41 "value"
          RParen@41..42 ")"
          Whitespace@42..43 " "
        Eq@43..44 "="
        Whitespace@44..45 " "
        EXPR_CALL@45..74
          EXPR_IDENT@45..65
            PATH@45..65
              Ident@45..65 "string_parse_float64"
          ARG_LIST@65..74
            LParen@65..66 "("
            ARG@66..73
              EXPR_STR@66..73
                Str@66..73 "\"3.125\""
            RParen@73..74 ")"
        Semi@74..75 ";"
        Whitespace@75..80 "\n    "
      STMT_EXPR@80..119
        EXPR_CALL@80..113
          EXPR_IDENT@80..94
            PATH@80..94
              Ident@80..94 "string_println"
          ARG_LIST@94..113
            LParen@94..95 "("
            ARG@95..112
              EXPR_CALL@95..112
                EXPR_BINARY@95..110
                  EXPR_IDENT@95..100
                    PATH@95..100
                      Ident@95..100 "valid"
                  Dot@100..101 "."
                  EXPR_IDENT@101..110
                    PATH@101..110
                      Ident@101..110 "to_string"
                ARG_LIST@110..112
                  LParen@110..111 "("
                  RParen@111..112 ")"
            RParen@112..113 ")"
        Semi@113..114 ";"
        Whitespace@114..119 "\n    "
      STMT_EXPR@119..158
        EXPR_CALL@119..152
          EXPR_IDENT@119..133
            PATH@119..133
              Ident@119..133 "string_println"
          ARG_LIST@133..152
            LParen@133..134 "("
            ARG@134..151
              EXPR_CALL@134..151
                EXPR_BINARY@134..149
                  EXPR_IDENT@134..139
                    PATH@134..139
                      Ident@134..139 "value"
                  Dot@139..140 "."
                  EXPR_IDENT@140..149
                    PATH@140..149
                      Ident@140..149 "to_string"
                ARG_LIST@149..151
                  LParen@149..150 "("
                  RParen@150..151 ")"
            RParen@151..152 ")"
        Semi@152..153 ";"
        Whitespace@153..158 "\n    "
      STMT_LET@158..226
        LetKeyword@158..161 "let"
        Whitespace@161..162 " "
        PATTERN_TUPLE@162..182
          LParen@162..163 "("
          PATTERN_VARIABLE@163..170
            Ident@163..170 "invalid"
          Comma@170..171 ","
          Whitespace@171..172 " "
          PATTERN_VARIABLE@172..180
            Ident@172..180 "fallback"
          RParen@180..181 ")"
          Whitespace@181..182 " "
        Eq@182..183 "="
        Whitespace@183..184 " "
        EXPR_CALL@184..220
          EXPR_IDENT@184..204
            PATH@184..204
              Ident@184..204 "string_parse_float64"
          ARG_LIST@204..220
            LParen@204..205 "("
            ARG@205..219
              EXPR_STR@205..219
                Str@205..219 "\"not-a-number\""
            RParen@219..220 ")"
        Semi@220..221 ";"
        Whitespace@221..226 "\n    "
      STMT_EXPR@226..267
        EXPR_CALL@226..261
          EXPR_IDENT@226..240
            PATH@226..240
              Ident@226..240 "string_println"
          ARG_LIST@240..261
            LParen@240..241 "("
            ARG@241..260
              EXPR_CALL@241..260
                EXPR_BINARY@241..258
                  EXPR_IDENT@241..248
                    PATH@241..248
                      Ident@241..248 "invalid"
                  Dot@248..249 "."
                  EXPR_IDENT@249..258
                    PATH@249..258
                      Ident@249..258 "to_string"
                ARG_LIST@258..260
                  LParen@258..259 "("
                  RParen@259..260 ")"
            RParen@260..261 ")"
        Semi@261..262 ";"
        Whitespace@262..267 "\n    "
      EXPR_CALL@267..304
        EXPR_IDENT@267..281
          PATH@267..281
            Ident@267..281 "string_println"
        ARG_LIST@281..304
          LParen@281..282 "("
          ARG@282..302
            EXPR_CALL@282..302
              EXPR_BINARY@282..300
                EXPR_IDENT@282..290
                  PATH@282..290
                    Ident@282..290 "fallback"
                Dot@290..291 "."
                EXPR_IDENT@291..300
                  PATH@291..300
                    Ident@291..300 "to_string"
              ARG_LIST@300..302
                LParen@300..301 "("
                RParen@301..302 ")"
          RParen@302..303 ")"
          Whitespace@303..304 "\n"
      RBrace@304..305 "}"
      Whitespace@305..306 "\n"