FILE@0..527
  TRAIT@0..51
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Mark"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..51
      TRAIT_METHOD_SIG@17..48
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..24 "mark"
        PARAM_LIST@24..37
          LParen@24..25 "("
          PARAM@25..35
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Semi@46..47 ";"
        Whitespace@47..48 "\n"
      RBrace@48..49 "}"
      Whitespace@49..51 "\n\n"
  TRAIT@51..112
    TraitKeyword@51..56 "trait"
    Whitespace@56..57 " "
    Ident@57..66 "Container"
    GENERIC_LIST@66..76
      LBracket@66..67 "["
      GENERIC@67..74
        Ident@67..68 "T"
        Colon@68..69 ":"
        Whitespace@69..70 " "
        TRAIT_SET@70..74
          TYPE_TAPP@70..74
            PATH@70..74
              Ident@70..74 "Mark"
      RBracket@74..75 "]"
      Whitespace@75..76 " "
    LBrace@76..77 "{"
    Whitespace@77..82 "\n    "
    TRAIT_METHOD_SIG_LIST@82..112
      TRAIT_METHOD_SIG@82..109
        FnKeyword@82..84 "fn"
        Whitespace@84..85 " "
        Ident@85..90 "value"
        PARAM_LIST@90..103
          LParen@90..91 "("
          PARAM@91..101
            Ident@91..95 "self"
            Colon@95..96 ":"
            Whitespace@96..97 " "
            TYPE_TAPP@97..101
              PATH@97..101
                Ident@97..101 "Self"
          RParen@101..102 ")"
          Whitespace@102..103 " "
        Arrow@103..105 "->"
        Whitespace@105..106 " "
        TYPE_TAPP@106..107
          PATH@106..107
            Ident@106..107 "T"
        Semi@107..108 ";"
        Whitespace@108..109 "\n"
      RBrace@109..110 "}"
      Whitespace@110..112 "\n\n"
  STRUCT@112..150
    StructKeyword@112..118 "struct"
    Whitespace@118..119 " "
    Ident@119..128 "NumberBox"
    Whitespace@128..129 " "
    LBrace@129..130 "{"
    Whitespace@130..135 "\n    "
    STRUCT_FIELD_LIST@135..150
      STRUCT_FIELD@135..145
        Ident@135..140 "value"
        Colon@140..141 ":"
        Whitespace@141..142 " "
        TYPE_INT32@142..145
          I32Keyword@142..145 "i32"
      Comma@145..146 ","
      Whitespace@146..147 "\n"
      RBrace@147..148 "}"
      Whitespace@148..150 "\n\n"
  IMPL@150..251
    ImplKeyword@150..154 "impl"
    Whitespace@154..155 " "
    TYPE_TAPP@155..160
      PATH@155..160
        Ident@155..159 "Mark"
        Whitespace@159..160 " "
    ForKeyword@160..163 "for"
    Whitespace@163..164 " "
    TYPE_INT32@164..168
      I32Keyword@164..167 "i32"
      Whitespace@167..168 " "
    LBrace@168..169 "{"
    Whitespace@169..174 "\n    "
    FN@174..248
      FnKeyword@174..176 "fn"
      Whitespace@176..177 " "
      Ident@177..181 "mark"
      PARAM_LIST@181..193
        LParen@181..182 "("
        PARAM@182..191
          Ident@182..186 "self"
          Colon@186..187 ":"
          Whitespace@187..188 " "
          TYPE_INT32@188..191
            I32Keyword@188..191 "i32"
        RParen@191..192 ")"
        Whitespace@192..193 " "
      Arrow@193..195 "->"
      Whitespace@195..196 " "
      TYPE_STRING@196..203
        StringKeyword@196..202 "string"
        Whitespace@202..203 " "
      BLOCK@203..248
        LBrace@203..204 "{"
        Whitespace@204..213 "\n        "
        EXPR_BINARY@213..246
          EXPR_STR@213..223
            Str@213..222 "\"marked:\""
            Whitespace@222..223 " "
          Plus@223..224 "+"
          Whitespace@224..225 " "
          EXPR_CALL@225..246
            EXPR_BINARY@225..239
              EXPR_IDENT@225..229
                PATH@225..229
                  Ident@225..229 "self"
              Dot@229..230 "."
              EXPR_IDENT@230..239
                PATH@230..239
                  Ident@230..239 "to_string"
            ARG_LIST@239..246
              LParen@239..240 "("
              RParen@240..241 ")"
              Whitespace@241..246 "\n    "
        RBrace@246..247 "}"
        Whitespace@247..248 "\n"
    RBrace@248..249 "}"
    Whitespace@249..251 "\n\n"
  IMPL@251..353
    ImplKeyword@251..255 "impl"
    Whitespace@255..256 " "
    TYPE_TAPP@256..270
      PATH@256..265
        Ident@256..265 "Container"
      TYPE_PARAM_LIST@265..270
        LBracket@265..266 "["
        TYPE_INT32@266..269
          I32Keyword@266..269 "i32"
        RBracket@269..270 "]"
    ForKeyword@270..273 "for"
    Whitespace@273..274 " "
    TYPE_TAPP@274..284
      PATH@274..284
        Ident@274..283 "NumberBox"
        Whitespace@283..284 " "
    LBrace@284..285 "{"
    Whitespace@285..290 "\n    "
    FN@290..350
      FnKeyword@290..292 "fn"
      Whitespace@292..293 " "
      Ident@293..298 "value"
      PARAM_LIST@298..316
        LParen@298..299 "("
        PARAM@299..314
          Ident@299..303 "self"
          Colon@303..304 ":"
          Whitespace@304..305 " "
          TYPE_TAPP@305..314
            PATH@305..314
              Ident@305..314 "NumberBox"
        RParen@314..315 ")"
        Whitespace@315..316 " "
      Arrow@316..318 "->"
      Whitespace@318..319 " "
      TYPE_INT32@319..323
        I32Keyword@319..322 "i32"
        Whitespace@322..323 " "
      BLOCK@323..350
        LBrace@323..324 "{"
        Whitespace@324..333 "\n        "
        EXPR_BINARY@333..348
          EXPR_IDENT@333..337
            PATH@333..337
              Ident@333..337 "self"
          Dot@337..338 "."
          EXPR_IDENT@338..348
            PATH@338..348
              Ident@338..343 "value"
              Whitespace@343..348 "\n    "
        RBrace@348..349 "}"
        Whitespace@349..350 "\n"
    RBrace@350..351 "}"
    Whitespace@351..353 "\n\n"
  FN@353..458
    FnKeyword@353..355 "fn"
    Whitespace@355..356 " "
    Ident@356..364 "describe"
    GENERIC_LIST@364..384
      LBracket@364..365 "["
      GENERIC@365..366
        Ident@365..366 "T"
      Comma@366..367 ","
      Whitespace@367..368 " "
      GENERIC@368..383
        Ident@368..369 "C"
        Colon@369..370 ":"
        Whitespace@370..371 " "
        TRAIT_SET@371..383
          TYPE_TAPP@371..383
            PATH@371..380
              Ident@371..380 "Container"
            TYPE_PARAM_LIST@380..383
              LBracket@380..381 "["
              TYPE_TAPP@381..382
                PATH@381..382
                  Ident@381..382 "T"
              RBracket@382..383 "]"
      RBracket@383..384 "]"
    PARAM_LIST@384..399
      LParen@384..385 "("
      PARAM@385..397
        Ident@385..394 "container"
        Colon@394..395 ":"
        Whitespace@395..396 " "
        TYPE_TAPP@396..397
          PATH@396..397
            Ident@396..397 "C"
      RParen@397..398 ")"
      Whitespace@398..399 " "
    Arrow@399..401 "->"
    Whitespace@401..402 " "
    TYPE_STRING@402..409
      StringKeyword@402..408 "string"
      Whitespace@408..409 " "
    BLOCK@409..458
      LBrace@409..410 "{"
      Whitespace@410..415 "\n    "
      EXPR_CALL@415..455
        EXPR_BINARY@415..452
          EXPR_CALL@415..447
            EXPR_IDENT@415..436
              TYPE_TAPP@415..429
                PATH@415..424
                  Ident@415..424 "Container"
                ColonColon@424..426 "::"
                TYPE_PARAM_LIST@426..429
                  LBracket@426..427 "["
                  TYPE_TAPP@427..428
                    PATH@427..428
                      Ident@427..428 "T"
                  RBracket@428..429 "]"
              ColonColon@429..431 "::"
              PATH@431..436
                Ident@431..436 "value"
            ARG_LIST@436..447
              LParen@436..437 "("
              ARG@437..446
                EXPR_IDENT@437..446
                  PATH@437..446
                    Ident@437..446 "container"
              RParen@446..447 ")"
          Dot@447..448 "."
          EXPR_IDENT@448..452
            PATH@448..452
              Ident@448..452 "mark"
        ARG_LIST@452..455
          LParen@452..453 "("
          RParen@453..454 ")"
          Whitespace@454..455 "\n"
      RBrace@455..456 "}"
      Whitespace@456..458 "\n\n"
  FN@458..527
    FnKeyword@458..460 "fn"
    Whitespace@460..461 " "
    Ident@461..465 "main"
    PARAM_LIST@465..468
      LParen@465..466 "("
      RParen@466..467 ")"
      Whitespace@467..468 " "
    Arrow@468..470 "->"
    Whitespace@470..471 " "
    TYPE_UNIT@471..476
      UnitKeyword@471..475 "unit"
      Whitespace@475..476 " "
    BLOCK@476..527
      LBrace@476..477 "{"
      Whitespace@477..482 "\n    "
      STMT_EXPR@482..525
        EXPR_CALL@482..523
          EXPR_IDENT@482..489
            PATH@482..489
              Ident@482..489 "println"
          ARG_LIST@489..523
            LParen@489..490 "("
            ARG@490..522
              EXPR_CALL@490..522
                EXPR_IDENT@490..498
                  PATH@490..498
                    Ident@490..498 "describe"
                ARG_LIST@498..522
                  LParen@498..499 "("
                  ARG@499..521
                    EXPR_STRUCT_LITERAL@499..521
                      PATH@499..509
                        Ident@499..508 "NumberBox"
                        Whitespace@508..509 " "
                      STRUCT_LITERAL_FIELD_LIST@509..521
                        LBrace@509..510 "{"
                        Whitespace@510..511 " "
                        STRUCT_LITERAL_FIELD@511..520
                          Ident@511..516 "value"
                          Colon@516..517 ":"
                          Whitespace@517..518 " "
                          EXPR_INT@518..520
                            Int@518..519 "7"
                            Whitespace@519..520 " "
                        RBrace@520..521 "}"
                  RParen@521..522 ")"
            RParen@522..523 ")"
        Semi@523..524 ";"
        Whitespace@524..525 "\n"
      RBrace@525..526 "}"
      Whitespace@526..527 "\n"