FILE@0..1755
  FN@0..302
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "countdown"
    PARAM_LIST@12..27
      LParen@12..13 "("
      PARAM@13..25
        Ident@13..18 "start"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..25
          Int32Keyword@20..25 "int32"
      RParen@25..26 ")"
      Whitespace@26..27 " "
    Arrow@27..29 "->"
    Whitespace@29..30 " "
    TYPE_TAPP@30..48
      PATH@30..40
        Ident@30..40 "FnIterator"
      TYPE_PARAM_LIST@40..48
        LBracket@40..41 "["
        TYPE_INT32@41..46
          Int32Keyword@41..46 "int32"
        RBracket@46..47 "]"
        Whitespace@47..48 " "
    BLOCK@48..302
      LBrace@48..49 "{"
      Whitespace@49..54 "\n    "
      STMT_LET@54..89
        LetKeyword@54..57 "let"
        Whitespace@57..58 " "
        PATTERN_VARIABLE@58..66
          Ident@58..65 "current"
          Whitespace@65..66 " "
        Eq@66..67 "="
        Whitespace@67..68 " "
        EXPR_CALL@68..83
          EXPR_IDENT@68..76
            PATH@68..76
              Ident@68..71 "Ref"
              ColonColon@71..73 "::"
              Ident@73..76 "new"
          ARG_LIST@76..83
            LParen@76..77 "("
            ARG@77..82
              EXPR_IDENT@77..82
                PATH@77..82
                  Ident@77..82 "start"
            RParen@82..83 ")"
        Semi@83..84 ";"
        Whitespace@84..89 "\n    "
      EXPR_CALL@89..299
        EXPR_IDENT@89..108
          PATH@89..108
            Ident@89..99 "FnIterator"
            ColonColon@99..101 "::"
            Ident@101..108 "from_fn"
        ARG_LIST@108..299
          LParen@108..109 "("
          ARG@109..297
            EXPR_CLOSURE@109..297
              CLOSURE_PARAM_LIST@109..112
                OrOr@109..111 "||"
                Whitespace@111..112 " "
              EXPR_CLOSURE_BODY@112..297
                BLOCK@112..297
                  LBrace@112..113 "{"
                  Whitespace@113..122 "\n        "
                  STMT_LET@122..157
                    LetKeyword@122..125 "let"
                    Whitespace@125..126 " "
                    PATTERN_VARIABLE@126..132
                      Ident@126..131 "value"
                      Whitespace@131..132 " "
                    Eq@132..133 "="
                    Whitespace@133..134 " "
                    EXPR_CALL@134..147
                      EXPR_BINARY@134..145
                        EXPR_IDENT@134..141
                          PATH@134..141
                            Ident@134..141 "current"
                        Dot@141..142 "."
                        EXPR_IDENT@142..145
                          PATH@142..145
                            Ident@142..145 "get"
                      ARG_LIST@145..147
                        LParen@145..146 "("
                        RParen@146..147 ")"
                    Semi@147..148 ";"
                    Whitespace@148..157 "\n        "
                  EXPR_IF@157..296
                    IfKeyword@157..159 "if"
                    Whitespace@159..160 " "
                    EXPR_IF_COND@160..170
                      EXPR_BINARY@160..170
                        EXPR_IDENT@160..166
                          PATH@160..166
                            Ident@160..165 "value"
                            Whitespace@165..166 " "
                        Greater@166..167 ">"
                        Whitespace@167..168 " "
                        EXPR_INT@168..170
                          Int@168..169 "0"
                          Whitespace@169..170 " "
                    EXPR_IF_THEN@170..250
                      BLOCK@170..250
                        LBrace@170..171 "{"
                        Whitespace@171..184 "\n            "
                        STMT_EXPR@184..220
                          EXPR_CALL@184..206
                            EXPR_BINARY@184..195
                              EXPR_IDENT@184..191
                                PATH@184..191
                                  Ident@184..191 "current"
                              Dot@191..192 "."
                              EXPR_IDENT@192..195
                                PATH@192..195
                                  Ident@192..195 "set"
                            ARG_LIST@195..206
                              LParen@195..196 "("
                              ARG@196..205
                                EXPR_BINARY@196..205
                                  EXPR_IDENT@196..202
                                    PATH@196..202
                                      Ident@196..201 "value"
                                      Whitespace@201..202 " "
                                  Minus@202..203 "-"
                                  Whitespace@203..204 " "
                                  EXPR_INT@204..205
                                    Int@204..205 "1"
                              RParen@205..206 ")"
                          Semi@206..207 ";"
                          Whitespace@207..220 "\n            "
                        EXPR_CALL@220..248
                          EXPR_IDENT@220..232
                            PATH@220..232
                              Ident@220..226 "Option"
                              ColonColon@226..228 "::"
                              Ident@228..232 "Some"
                          ARG_LIST@232..248
                            LParen@232..233 "("
                            ARG@233..238
                              EXPR_IDENT@233..238
                                PATH@233..238
                                  Ident@233..238 "value"
                            RParen@238..239 ")"
                            Whitespace@239..248 "\n        "
                        RBrace@248..249 "}"
                        Whitespace@249..250 " "
                    ElseKeyword@250..254 "else"
                    Whitespace@254..255 " "
                    EXPR_IF_ELSE@255..296
                      BLOCK@255..296
                        LBrace@255..256 "{"
                        Whitespace@256..269 "\n            "
                        EXPR_IDENT@269..290
                          PATH@269..290
                            Ident@269..275 "Option"
                            ColonColon@275..277 "::"
                            Ident@277..281 "None"
                            Whitespace@281..290 "\n        "
                        RBrace@290..291 "}"
                        Whitespace@291..296 "\n    "
                  RBrace@296..297 "}"
          RParen@297..298 ")"
          Whitespace@298..299 "\n"
      RBrace@299..300 "}"
      Whitespace@300..302 "\n\n"
  FN@302..412
    FnKeyword@302..304 "fn"
    Whitespace@304..305 " "
    Ident@305..318 "counted_range"
    PARAM_LIST@318..338
      LParen@318..319 "("
      PARAM@319..336
        Ident@319..324 "calls"
        Colon@324..325 ":"
        Whitespace@325..326 " "
        TYPE_TAPP@326..336
          PATH@326..329
            Ident@326..329 "Ref"
          TYPE_PARAM_LIST@329..336
            LBracket@329..330 "["
            TYPE_INT32@330..335
              Int32Keyword@330..335 "int32"
            RBracket@335..336 "]"
      RParen@336..337 ")"
      Whitespace@337..338 " "
    Arrow@338..340 "->"
    Whitespace@340..341 " "
    TYPE_TAPP@341..359
      PATH@341..351
        Ident@341..351 "FnIterator"
      TYPE_PARAM_LIST@351..359
        LBracket@351..352 "["
        TYPE_INT32@352..357
          Int32Keyword@352..357 "int32"
        RBracket@357..358 "]"
        Whitespace@358..359 " "
    BLOCK@359..412
      LBrace@359..360 "{"
      Whitespace@360..365 "\n    "
      STMT_EXPR@365..397
        EXPR_CALL@365..391
          EXPR_BINARY@365..374
            EXPR_IDENT@365..370
              PATH@365..370
                Ident@365..370 "calls"
            Dot@370..371 "."
            EXPR_IDENT@371..374
              PATH@371..374
                Ident@371..374 "set"
          ARG_LIST@374..391
            LParen@374..375 "("
            ARG@375..390
              EXPR_BINARY@375..390
                EXPR_CALL@375..387
                  EXPR_BINARY@375..384
                    EXPR_IDENT@375..380
                      PATH@375..380
                        Ident@375..380 "calls"
                    Dot@380..381 "."
                    EXPR_IDENT@381..384
                      PATH@381..384
                        Ident@381..384 "get"
                  ARG_LIST@384..387
                    LParen@384..385 "("
                    RParen@385..386 ")"
                    Whitespace@386..387 " "
                Plus@387..388 "+"
                Whitespace@388..389 " "
                EXPR_INT@389..390
                  Int@389..390 "1"
            RParen@390..391 ")"
        Semi@391..392 ";"
        Whitespace@392..397 "\n    "
      EXPR_CALL@397..409
        EXPR_IDENT@397..402
          PATH@397..402
            Ident@397..402 "range"
        ARG_LIST@402..409
          LParen@402..403 "("
          ARG@403..406
            EXPR_INT@403..404
              Int@403..404 "1"
            Comma@404..405 ","
            Whitespace@405..406 " "
          ARG@406..407
            EXPR_INT@406..407
              Int@406..407 "5"
          RParen@407..408 ")"
          Whitespace@408..409 "\n"
      RBrace@409..410 "}"
      Whitespace@410..412 "\n\n"
  FN@412..611
    FnKeyword@412..414 "fn"
    Whitespace@414..415 " "
    Ident@415..425 "first_even"
    PARAM_LIST@425..453
      LParen@425..426 "("
      PARAM@426..451
        Ident@426..432 "values"
        Colon@432..433 ":"
        Whitespace@433..434 " "
        TYPE_TAPP@434..451
          PATH@434..444
            Ident@434..444 "FnIterator"
          TYPE_PARAM_LIST@444..451
            LBracket@444..445 "["
            TYPE_INT32@445..450
              Int32Keyword@445..450 "int32"
            RBracket@450..451 "]"
      RParen@451..452 ")"
      Whitespace@452..453 " "
    Arrow@453..455 "->"
    Whitespace@455..456 " "
    TYPE_INT32@456..462
      Int32Keyword@456..461 "int32"
      Whitespace@461..462 " "
    BLOCK@462..611
      LBrace@462..463 "{"
      Whitespace@463..468 "\n    "
      STMT_EXPR@468..605
        EXPR_FOR@468..599
          ForKeyword@468..471 "for"
          Whitespace@471..472 " "
          PATTERN_VARIABLE@472..478
            Ident@472..477 "value"
            Whitespace@477..478 " "
          InKeyword@478..480 "in"
          Whitespace@480..481 " "
          EXPR_IDENT@481..488
            PATH@481..488
              Ident@481..487 "values"
              Whitespace@487..488 " "
          BLOCK@488..599
            LBrace@488..489 "{"
            Whitespace@489..498 "\n        "
            STMT_EXPR@498..598
              EXPR_IF@498..592
                IfKeyword@498..500 "if"
                Whitespace@500..501 " "
                EXPR_IF_COND@501..524
                  EXPR_BINARY@501..524
                    EXPR_BINARY@501..515
                      EXPR_BINARY@501..511
                        EXPR_IDENT@501..507
                          PATH@501..507
                            Ident@501..506 "value"
                            Whitespace@506..507 " "
                        Slash@507..508 "/"
                        Whitespace@508..509 " "
                        EXPR_INT@509..511
                          Int@509..510 "2"
                          Whitespace@510..511 " "
                      Star@511..512 "*"
                      Whitespace@512..513 " "
                      EXPR_INT@513..515
                        Int@513..514 "2"
                        Whitespace@514..515 " "
                    EqEq@515..517 "=="
                    Whitespace@517..518 " "
                    EXPR_IDENT@518..524
                      PATH@518..524
                        Ident@518..523 "value"
                        Whitespace@523..524 " "
                EXPR_IF_THEN@524..561
                  BLOCK@524..561
                    LBrace@524..525 "{"
                    Whitespace@525..538 "\n            "
                    EXPR_RETURN@538..559
                      ReturnKeyword@538..544 "return"
                      Whitespace@544..545 " "
                      EXPR_IDENT@545..559
                        PATH@545..559
                          Ident@545..550 "value"
                          Whitespace@550..559 "\n        "
                    RBrace@559..560 "}"
                    Whitespace@560..561 " "
                ElseKeyword@561..565 "else"
                Whitespace@565..566 " "
                EXPR_IF_ELSE@566..592
                  BLOCK@566..592
                    LBrace@566..567 "{"
                    Whitespace@567..580 "\n            "
                    EXPR_UNIT@580..591
                      LParen@580..581 "("
                      RParen@581..582 ")"
                      Whitespace@582..591 "\n        "
                    RBrace@591..592 "}"
              Semi@592..593 ";"
              Whitespace@593..598 "\n    "
            RBrace@598..599 "}"
        Semi@599..600 ";"
        Whitespace@600..605 "\n    "
      EXPR_PREFIX@605..608
        Minus@605..606 "-"
        EXPR_INT@606..608
          Int@606..607 "1"
          Whitespace@607..608 "\n"
      RBrace@608..609 "}"
      Whitespace@609..611 "\n\n"
  FN@611..1755
    FnKeyword@611..613 "fn"
    Whitespace@613..614 " "
    Ident@614..618 "main"
    PARAM_LIST@618..621
      LParen@618..619 "("
      RParen@619..620 ")"
      Whitespace@620..621 " "
    Arrow@621..623 "->"
    Whitespace@623..624 " "
    TYPE_UNIT@624..629
      UnitKeyword@624..628 "unit"
      Whitespace@628..629 " "
    BLOCK@629..1755
      LBrace@629..630 "{"
      Whitespace@630..635 "\n    "
      STMT_LET@635..676
        LetKeyword@635..638 "let"
        Whitespace@638..639 " "
        PATTERN_VARIABLE@639..645
          Ident@639..645 "values"
        Colon@645..646 ":"
        Whitespace@646..647 " "
        TYPE_TAPP@647..658
          PATH@647..650
            Ident@647..650 "Vec"
          TYPE_PARAM_LIST@650..658
            LBracket@650..651 "["
            TYPE_INT32@651..656
              Int32Keyword@651..656 "int32"
            RBracket@656..657 "]"
            Whitespace@657..658 " "
        Eq@658..659 "="
        Whitespace@659..660 " "
        EXPR_CALL@660..670
          EXPR_IDENT@660..668
            PATH@660..668
              Ident@660..663 "Vec"
              ColonColon@663..665 "::"
              Ident@665..668 "new"
          ARG_LIST@668..670
            LParen@668..669 "("
            RParen@669..670 ")"
        Semi@670..671 ";"
        Whitespace@671..676 "\n    "
      STMT_EXPR@676..697
        EXPR_CALL@676..691
          EXPR_BINARY@676..687
            EXPR_IDENT@676..682
              PATH@676..682
                Ident@676..682 "values"
            Dot@682..683 "."
            EXPR_IDENT@683..687
              PATH@683..687
                Ident@683..687 "push"
          ARG_LIST@687..691
            LParen@687..688 "("
            ARG@688..690
              EXPR_INT@688..690
                Int@688..690 "10"
            RParen@690..691 ")"
        Semi@691..692 ";"
        Whitespace@692..697 "\n    "
      STMT_EXPR@697..718
        EXPR_CALL@697..712
          EXPR_BINARY@697..708
            EXPR_IDENT@697..703
              PATH@697..703
                Ident@697..703 "values"
            Dot@703..704 "."
            EXPR_IDENT@704..708
              PATH@704..708
                Ident@704..708 "push"
          ARG_LIST@708..712
            LParen@708..709 "("
            ARG@709..711
              EXPR_INT@709..711
                Int@709..711 "20"
            RParen@711..712 ")"
        Semi@712..713 ";"
        Whitespace@713..718 "\n    "
      STMT_EXPR@718..739
        EXPR_CALL@718..733
          EXPR_BINARY@718..729
            EXPR_IDENT@718..724
              PATH@718..724
                Ident@718..724 "values"
            Dot@724..725 "."
            EXPR_IDENT@725..729
              PATH@725..729
                Ident@725..729 "push"
          ARG_LIST@729..733
            LParen@729..730 "("
            ARG@730..732
              EXPR_INT@730..732
                Int@730..732 "30"
            RParen@732..733 ")"
        Semi@733..734 ";"
        Whitespace@734..739 "\n    "
      STMT_LET@739..766
        LetKeyword@739..742 "let"
        Whitespace@742..743 " "
        PATTERN_VARIABLE@743..747
          Ident@743..746 "sum"
          Whitespace@746..747 " "
        Eq@747..748 "="
        Whitespace@748..749 " "
        EXPR_CALL@749..760
          EXPR_IDENT@749..757
            PATH@749..757
              Ident@749..752 "Ref"
              ColonColon@752..754 "::"
              Ident@754..757 "new"
          ARG_LIST@757..760
            LParen@757..758 "("
            ARG@758..759
              EXPR_INT@758..759
                Int@758..759 "0"
            RParen@759..760 ")"
        Semi@760..761 ";"
        Whitespace@761..766 "\n    "
      STMT_EXPR@766..924
        EXPR_FOR@766..918
          ForKeyword@766..769 "for"
          Whitespace@769..770 " "
          PATTERN_VARIABLE@770..776
            Ident@770..775 "value"
            Whitespace@775..776 " "
          InKeyword@776..778 "in"
          Whitespace@778..779 " "
          EXPR_IDENT@779..786
            PATH@779..786
              Ident@779..785 "values"
              Whitespace@785..786 " "
          BLOCK@786..918
            LBrace@786..787 "{"
            Whitespace@787..796 "\n        "
            STMT_EXPR@796..885
              EXPR_IF@796..875
                IfKeyword@796..798 "if"
                Whitespace@798..799 " "
                EXPR_IF_COND@799..811
                  EXPR_BINARY@799..811
                    EXPR_IDENT@799..805
                      PATH@799..805
                        Ident@799..804 "value"
                        Whitespace@804..805 " "
                    EqEq@805..807 "=="
                    Whitespace@807..808 " "
                    EXPR_INT@808..811
                      Int@808..810 "20"
                      Whitespace@810..811 " "
                EXPR_IF_THEN@811..844
                  BLOCK@811..844
                    LBrace@811..812 "{"
                    Whitespace@812..825 "\n            "
                    EXPR_CONTINUE@825..842
                      ContinueKeyword@825..833 "continue"
                      Whitespace@833..842 "\n        "
                    RBrace@842..843 "}"
                    Whitespace@843..844 " "
                ElseKeyword@844..848 "else"
                Whitespace@848..849 " "
                EXPR_IF_ELSE@849..875
                  BLOCK@849..875
                    LBrace@849..850 "{"
                    Whitespace@850..863 "\n            "
                    EXPR_UNIT@863..874
                      LParen@863..864 "("
                      RParen@864..865 ")"
                      Whitespace@865..874 "\n        "
                    RBrace@874..875 "}"
              Semi@875..876 ";"
              Whitespace@876..885 "\n        "
            STMT_EXPR@885..917
              EXPR_CALL@885..911
                EXPR_BINARY@885..892
                  EXPR_IDENT@885..888
                    PATH@885..888
                      Ident@885..888 "sum"
                  Dot@888..889 "."
                  EXPR_IDENT@889..892
                    PATH@889..892
                      Ident@889..892 "set"
                ARG_LIST@892..911
                  LParen@892..893 "("
                  ARG@893..910
                    EXPR_BINARY@893..910
                      EXPR_CALL@893..903
                        EXPR_BINARY@893..900
                          EXPR_IDENT@893..896
                            PATH@893..896
                              Ident@893..896 "sum"
                          Dot@896..897 "."
                          EXPR_IDENT@897..900
                            PATH@897..900
                              Ident@897..900 "get"
                        ARG_LIST@900..903
                          LParen@900..901 "("
                          RParen@901..902 ")"
                          Whitespace@902..903 " "
                      Plus@903..904 "+"
                      Whitespace@904..905 " "
                      EXPR_IDENT@905..910
                        PATH@905..910
                          Ident@905..910 "value"
                  RParen@910..911 ")"
              Semi@911..912 ";"
              Whitespace@912..917 "\n    "
            RBrace@917..918 "}"
        Semi@918..919 ";"
        Whitespace@919..924 "\n    "
      STMT_EXPR@924..949
        EXPR_CALL@924..942
          EXPR_IDENT@924..931
            PATH@924..931
              Ident@924..931 "println"
          ARG_LIST@931..942
            LParen@931..932 "("
            ARG@932..941
              EXPR_CALL@932..941
                EXPR_BINARY@932..939
                  EXPR_IDENT@932..935
                    PATH@932..935
                      Ident@932..935 "sum"
                  Dot@935..936 "."
                  EXPR_IDENT@936..939
                    PATH@936..939
                      Ident@936..939 "get"
                ARG_LIST@939..941
                  LParen@939..940 "("
                  RParen@940..941 ")"
            RParen@941..942 ")"
        Semi@942..943 ";"
        Whitespace@943..949 "\n\n    "
      STMT_LET@949..999
        LetKeyword@949..952 "let"
        Whitespace@952..953 " "
        PATTERN_VARIABLE@953..958
          Ident@953..958 "pairs"
        Colon@958..959 ":"
        Whitespace@959..960 " "
        TYPE_TAPP@960..981
          PATH@960..963
            Ident@960..963 "Vec"
          TYPE_PARAM_LIST@963..981
            LBracket@963..964 "["
            TYPE_TUPLE@964..979
              TYPE_LIST@964..979
                LParen@964..965 "("
                TYPE_INT32@965..970
                  Int32Keyword@965..970 "int32"
                Comma@970..971 ","
                Whitespace@971..972 " "
                TYPE_STRING@972..978
                  StringKeyword@972..978 "string"
                RParen@978..979 ")"
            RBracket@979..980 "]"
            Whitespace@980..981 " "
        Eq@981..982 "="
        Whitespace@982..983 " "
        EXPR_CALL@983..993
          EXPR_IDENT@983..991
            PATH@983..991
              Ident@983..986 "Vec"
              ColonColon@986..988 "::"
              Ident@988..991 "new"
          ARG_LIST@991..993
            LParen@991..992 "("
            RParen@992..993 ")"
        Semi@993..994 ";"
        Whitespace@994..999 "\n    "
      STMT_EXPR@999..1025
        EXPR_CALL@999..1019
          EXPR_BINARY@999..1009
            EXPR_IDENT@999..1004
              PATH@999..1004
                Ident@999..1004 "pairs"
            Dot@1004..1005 "."
            EXPR_IDENT@1005..1009
              PATH@1005..1009
                Ident@1005..1009 "push"
          ARG_LIST@1009..1019
            LParen@1009..1010 "("
            ARG@1010..1018
              EXPR_TUPLE@1010..1018
                LParen@1010..1011 "("
                EXPR_INT@1011..1012
                  Int@1011..1012 "1"
                Comma@1012..1013 ","
                Whitespace@1013..1014 " "
                EXPR_STR@1014..1017
                  Str@1014..1017 "\"a\""
                RParen@1017..1018 ")"
            RParen@1018..1019 ")"
        Semi@1019..1020 ";"
        Whitespace@1020..1025 "\n    "
      STMT_EXPR@1025..1051
        EXPR_CALL@1025..1045
          EXPR_BINARY@1025..1035
            EXPR_IDENT@1025..1030
              PATH@1025..1030
                Ident@1025..1030 "pairs"
            Dot@1030..1031 "."
            EXPR_IDENT@1031..1035
              PATH@1031..1035
                Ident@1031..1035 "push"
          ARG_LIST@1035..1045
            LParen@1035..1036 "("
            ARG@1036..1044
              EXPR_TUPLE@1036..1044
                LParen@1036..1037 "("
                EXPR_INT@1037..1038
                  Int@1037..1038 "2"
                Comma@1038..1039 ","
                Whitespace@1039..1040 " "
                EXPR_STR@1040..1043
                  Str@1040..1043 "\"b\""
                RParen@1043..1044 ")"
            RParen@1044..1045 ")"
        Semi@1045..1046 ";"
        Whitespace@1046..1051 "\n    "
      STMT_EXPR@1051..1137
        EXPR_FOR@1051..1130
          ForKeyword@1051..1054 "for"
          Whitespace@1054..1055 " "
          PATTERN_TUPLE@1055..1070
            LParen@1055..1056 "("
            PATTERN_VARIABLE@1056..1062
              Ident@1056..1062 "number"
            Comma@1062..1063 ","
            Whitespace@1063..1064 " "
            PATTERN_VARIABLE@1064..1068
              Ident@1064..1068 "text"
            RParen@1068..1069 ")"
            Whitespace@1069..1070 " "
          InKeyword@1070..1072 "in"
          Whitespace@1072..1073 " "
          EXPR_IDENT@1073..1079
            PATH@1073..1079
              Ident@1073..1078 "pairs"
              Whitespace@1078..1079 " "
          BLOCK@1079..1130
            LBrace@1079..1080 "{"
            Whitespace@1080..1089 "\n        "
            STMT_EXPR@1089..1129
              EXPR_CALL@1089..1123
                EXPR_IDENT@1089..1096
                  PATH@1089..1096
                    Ident@1089..1096 "println"
                ARG_LIST@1096..1123
                  LParen@1096..1097 "("
                  ARG@1097..1122
                    EXPR_BINARY@1097..1122
                      EXPR_CALL@1097..1116
                        EXPR_BINARY@1097..1113
                          EXPR_IDENT@1097..1103
                            PATH@1097..1103
                              Ident@1097..1103 "number"
                          Dot@1103..1104 "."
                          EXPR_IDENT@1104..1113
                            PATH@1104..1113
                              Ident@1104..1113 "to_string"
                        ARG_LIST@1113..1116
                          LParen@1113..1114 "("
                          RParen@1114..1115 ")"
                          Whitespace@1115..1116 " "
                      Plus@1116..1117 "+"
                      Whitespace@1117..1118 " "
                      EXPR_IDENT@1118..1122
                        PATH@1118..1122
                          Ident@1118..1122 "text"
                  RParen@1122..1123 ")"
              Semi@1123..1124 ";"
              Whitespace@1124..1129 "\n    "
            RBrace@1129..1130 "}"
        Semi@1130..1131 ";"
        Whitespace@1131..1137 "\n\n    "
      STMT_LET@1137..1166
        LetKeyword@1137..1140 "let"
        Whitespace@1140..1141 " "
        PATTERN_VARIABLE@1141..1147
          Ident@1141..1146 "calls"
          Whitespace@1146..1147 " "
        Eq@1147..1148 "="
        Whitespace@1148..1149 " "
        EXPR_CALL@1149..1160
          EXPR_IDENT@1149..1157
            PATH@1149..1157
              Ident@1149..1152 "Ref"
              ColonColon@1152..1154 "::"
              Ident@1154..1157 "new"
          ARG_LIST@1157..1160
            LParen@1157..1158 "("
            ARG@1158..1159
              EXPR_INT@1158..1159
                Int@1158..1159 "0"
            RParen@1159..1160 ")"
        Semi@1160..1161 ";"
        Whitespace@1161..1166 "\n    "
      STMT_LET@1166..1199
        LetKeyword@1166..1169 "let"
        Whitespace@1169..1170 " "
        PATTERN_VARIABLE@1170..1180
          Ident@1170..1179 "range_sum"
          Whitespace@1179..1180 " "
        Eq@1180..1181 "="
        Whitespace@1181..1182 " "
        EXPR_CALL@1182..1193
          EXPR_IDENT@1182..1190
            PATH@1182..1190
              Ident@1182..1185 "Ref"
              ColonColon@1185..1187 "::"
              Ident@1187..1190 "new"
          ARG_LIST@1190..1193
            LParen@1190..1191 "("
            ARG@1191..1192
              EXPR_INT@1191..1192
                Int@1191..1192 "0"
            RParen@1192..1193 ")"
        Semi@1193..1194 ";"
        Whitespace@1194..1199 "\n    "
      STMT_EXPR@1199..1294
        EXPR_FOR@1199..1288
          ForKeyword@1199..1202 "for"
          Whitespace@1202..1203 " "
          PATTERN_VARIABLE@1203..1209
            Ident@1203..1208 "value"
            Whitespace@1208..1209 " "
          InKeyword@1209..1211 "in"
          Whitespace@1211..1212 " "
          EXPR_CALL@1212..1233
            EXPR_IDENT@1212..1225
              PATH@1212..1225
                Ident@1212..1225 "counted_range"
            ARG_LIST@1225..1233
              LParen@1225..1226 "("
              ARG@1226..1231
                EXPR_IDENT@1226..1231
                  PATH@1226..1231
                    Ident@1226..1231 "calls"
              RParen@1231..1232 ")"
              Whitespace@1232..1233 " "
          BLOCK@1233..1288
            LBrace@1233..1234 "{"
            Whitespace@1234..1243 "\n        "
            STMT_EXPR@1243..1287
              EXPR_CALL@1243..1281
                EXPR_BINARY@1243..1256
                  EXPR_IDENT@1243..1252
                    PATH@1243..1252
                      Ident@1243..1252 "range_sum"
                  Dot@1252..1253 "."
                  EXPR_IDENT@1253..1256
                    PATH@1253..1256
                      Ident@1253..1256 "set"
                ARG_LIST@1256..1281
                  LParen@1256..1257 "("
                  ARG@1257..1280
                    EXPR_BINARY@1257..1280
                      EXPR_CALL@1257..1273
                        EXPR_BINARY@1257..1270
                          EXPR_IDENT@1257..1266
                            PATH@1257..1266
                              Ident@1257..1266 "range_sum"
                          Dot@1266..1267 "."
                          EXPR_IDENT@1267..1270
                            PATH@1267..1270
                              Ident@1267..1270 "get"
                        ARG_LIST@1270..1273
                          LParen@1270..1271 "("
                          RParen@1271..1272 ")"
                          Whitespace@1272..1273 " "
                      Plus@1273..1274 "+"
                      Whitespace@1274..1275 " "
                      EXPR_IDENT@1275..1280
                        PATH@1275..1280
                          Ident@1275..1280 "value"
                  RParen@1280..1281 ")"
              Semi@1281..1282 ";"
              Whitespace@1282..1287 "\n    "
            RBrace@1287..1288 "}"
        Semi@1288..1289 ";"
        Whitespace@1289..1294 "\n    "
      STMT_EXPR@1294..1320
        EXPR_CALL@1294..1314
          EXPR_IDENT@1294..1301
            PATH@1294..1301
              Ident@1294..1301 "println"
          ARG_LIST@1301..1314
            LParen@1301..1302 "("
            ARG@1302..1313
              EXPR_CALL@1302..1313
                EXPR_BINARY@1302..1311
                  EXPR_IDENT@1302..1307
                    PATH@1302..1307
                      Ident@1302..1307 "calls"
                  Dot@1307..1308 "."
                  EXPR_IDENT@1308..1311
                    PATH@1308..1311
                      Ident@1308..1311 "get"
                ARG_LIST@1311..1313
                  LParen@1311..1312 "("
                  RParen@1312..1313 ")"
            RParen@1313..1314 ")"
        Semi@1314..1315 ";"
        Whitespace@1315..1320 "\n    "
      STMT_EXPR@1320..1351
        EXPR_CALL@1320..1344
          EXPR_IDENT@1320..1327
            PATH@1320..1327
              Ident@1320..1327 "println"
          ARG_LIST@1327..1344
            LParen@1327..1328 "("
            ARG@1328..1343
              EXPR_CALL@1328..1343
                EXPR_BINARY@1328..1341
                  EXPR_IDENT@1328..1337
                    PATH@1328..1337
                      Ident@1328..1337 "range_sum"
                  Dot@1337..1338 "."
                  EXPR_IDENT@1338..1341
                    PATH@1338..1341
                      Ident@1338..1341 "get"
                ARG_LIST@1341..1343
                  LParen@1341..1342 "("
                  RParen@1342..1343 ")"
            RParen@1343..1344 ")"
        Semi@1344..1345 ";"
        Whitespace@1345..1351 "\n\n    "
      STMT_LET@1351..1384
        LetKeyword@1351..1354 "let"
        Whitespace@1354..1355 " "
        PATTERN_VARIABLE@1355..1365
          Ident@1355..1364 "slice_sum"
          Whitespace@1364..1365 " "
        Eq@1365..1366 "="
        Whitespace@1366..1367 " "
        EXPR_CALL@1367..1378
          EXPR_IDENT@1367..1375
            PATH@1367..1375
              Ident@1367..1370 "Ref"
              ColonColon@1370..1372 "::"
              Ident@1372..1375 "new"
          ARG_LIST@1375..1378
            LParen@1375..1376 "("
            ARG@1376..1377
              EXPR_INT@1376..1377
                Int@1376..1377 "0"
            RParen@1377..1378 ")"
        Semi@1378..1379 ";"
        Whitespace@1379..1384 "\n    "
      STMT_EXPR@1384..1477
        EXPR_FOR@1384..1471
          ForKeyword@1384..1387 "for"
          Whitespace@1387..1388 " "
          PATTERN_VARIABLE@1388..1394
            Ident@1388..1393 "value"
            Whitespace@1393..1394 " "
          InKeyword@1394..1396 "in"
          Whitespace@1396..1397 " "
          EXPR_CALL@1397..1416
            EXPR_BINARY@1397..1409
              EXPR_IDENT@1397..1403
                PATH@1397..1403
                  Ident@1397..1403 "values"
              Dot@1403..1404 "."
              EXPR_IDENT@1404..1409
                PATH@1404..1409
                  Ident@1404..1409 "slice"
            ARG_LIST@1409..1416
              LParen@1409..1410 "("
              ARG@1410..1413
                EXPR_INT@1410..1411
                  Int@1410..1411 "1"
                Comma@1411..1412 ","
                Whitespace@1412..1413 " "
              ARG@1413..1414
                EXPR_INT@1413..1414
                  Int@1413..1414 "3"
              RParen@1414..1415 ")"
              Whitespace@1415..1416 " "
          BLOCK@1416..1471
            LBrace@1416..1417 "{"
            Whitespace@1417..1426 "\n        "
            STMT_EXPR@1426..1470
              EXPR_CALL@1426..1464
                EXPR_BINARY@1426..1439
                  EXPR_IDENT@1426..1435
                    PATH@1426..1435
                      Ident@1426..1435 "slice_sum"
                  Dot@1435..1436 "."
                  EXPR_IDENT@1436..1439
                    PATH@1436..1439
                      Ident@1436..1439 "set"
                ARG_LIST@1439..1464
                  LParen@1439..1440 "("
                  ARG@1440..1463
                    EXPR_BINARY@1440..1463
                      EXPR_CALL@1440..1456
                        EXPR_BINARY@1440..1453
                          EXPR_IDENT@1440..1449
                            PATH@1440..1449
                              Ident@1440..1449 "slice_sum"
                          Dot@1449..1450 "."
                          EXPR_IDENT@1450..1453
                            PATH@1450..1453
                              Ident@1450..1453 "get"
                        ARG_LIST@1453..1456
                          LParen@1453..1454 "("
                          RParen@1454..1455 ")"
                          Whitespace@1455..1456 " "
                      Plus@1456..1457 "+"
                      Whitespace@1457..1458 " "
                      EXPR_IDENT@1458..1463
                        PATH@1458..1463
                          Ident@1458..1463 "value"
                  RParen@1463..1464 ")"
              Semi@1464..1465 ";"
              Whitespace@1465..1470 "\n    "
            RBrace@1470..1471 "}"
        Semi@1471..1472 ";"
        Whitespace@1472..1477 "\n    "
      STMT_EXPR@1477..1508
        EXPR_CALL@1477..1501
          EXPR_IDENT@1477..1484
            PATH@1477..1484
              Ident@1477..1484 "println"
          ARG_LIST@1484..1501
            LParen@1484..1485 "("
            ARG@1485..1500
              EXPR_CALL@1485..1500
                EXPR_BINARY@1485..1498
                  EXPR_IDENT@1485..1494
                    PATH@1485..1494
                      Ident@1485..1494 "slice_sum"
                  Dot@1494..1495 "."
                  EXPR_IDENT@1495..1498
                    PATH@1495..1498
                      Ident@1495..1498 "get"
                ARG_LIST@1498..1500
                  LParen@1498..1499 "("
                  RParen@1499..1500 ")"
            RParen@1500..1501 ")"
        Semi@1501..1502 ";"
        Whitespace@1502..1508 "\n\n    "
      STMT_EXPR@1508..1646
        EXPR_FOR@1508..1639
          ForKeyword@1508..1511 "for"
          Whitespace@1511..1512 " "
          PATTERN_VARIABLE@1512..1518
            Ident@1512..1517 "value"
            Whitespace@1517..1518 " "
          InKeyword@1518..1520 "in"
          Whitespace@1520..1521 " "
          EXPR_CALL@1521..1534
            EXPR_IDENT@1521..1530
              PATH@1521..1530
                Ident@1521..1530 "countdown"
            ARG_LIST@1530..1534
              LParen@1530..1531 "("
              ARG@1531..1532
                EXPR_INT@1531..1532
                  Int@1531..1532 "4"
              RParen@1532..1533 ")"
              Whitespace@1533..1534 " "
          BLOCK@1534..1639
            LBrace@1534..1535 "{"
            Whitespace@1535..1544 "\n        "
            STMT_EXPR@1544..1638
              EXPR_IF@1544..1632
                IfKeyword@1544..1546 "if"
                Whitespace@1546..1547 " "
                EXPR_IF_COND@1547..1558
                  EXPR_BINARY@1547..1558
                    EXPR_IDENT@1547..1553
                      PATH@1547..1553
                        Ident@1547..1552 "value"
                        Whitespace@1552..1553 " "
                    EqEq@1553..1555 "=="
                    Whitespace@1555..1556 " "
                    EXPR_INT@1556..1558
                      Int@1556..1557 "2"
                      Whitespace@1557..1558 " "
                EXPR_IF_THEN@1558..1588
                  BLOCK@1558..1588
                    LBrace@1558..1559 "{"
                    Whitespace@1559..1572 "\n            "
                    EXPR_BREAK@1572..1586
                      BreakKeyword@1572..1577 "break"
                      Whitespace@1577..1586 "\n        "
                    RBrace@1586..1587 "}"
                    Whitespace@1587..1588 " "
                ElseKeyword@1588..1592 "else"
                Whitespace@1592..1593 " "
                EXPR_IF_ELSE@1593..1632
                  BLOCK@1593..1632
                    LBrace@1593..1594 "{"
                    Whitespace@1594..1607 "\n            "
                    STMT_EXPR@1607..1631
                      EXPR_CALL@1607..1621
                        EXPR_IDENT@1607..1614
                          PATH@1607..1614
                            Ident@1607..1614 "println"
                        ARG_LIST@1614..1621
                          LParen@1614..1615 "("
                          ARG@1615..1620
                            EXPR_IDENT@1615..1620
                              PATH@1615..1620
                                Ident@1615..1620 "value"
                          RParen@1620..1621 ")"
                      Semi@1621..1622 ";"
                      Whitespace@1622..1631 "\n        "
                    RBrace@1631..1632 "}"
              Semi@1632..1633 ";"
              Whitespace@1633..1638 "\n    "
            RBrace@1638..1639 "}"
        Semi@1639..1640 ";"
        Whitespace@1640..1646 "\n\n    "
      STMT_LET@1646..1675
        LetKeyword@1646..1649 "let"
        Whitespace@1649..1650 " "
        PATTERN_VARIABLE@1650..1656
          Ident@1650..1655 "empty"
          Whitespace@1655..1656 " "
        Eq@1656..1657 "="
        Whitespace@1657..1658 " "
        EXPR_CALL@1658..1669
          EXPR_IDENT@1658..1663
            PATH@1658..1663
              Ident@1658..1663 "range"
          ARG_LIST@1663..1669
            LParen@1663..1664 "("
            ARG@1664..1667
              EXPR_INT@1664..1665
                Int@1664..1665 "0"
              Comma@1665..1666 ","
              Whitespace@1666..1667 " "
            ARG@1667..1668
              EXPR_INT@1667..1668
                Int@1667..1668 "0"
            RParen@1668..1669 ")"
        Semi@1669..1670 ";"
        Whitespace@1670..1675 "\n    "
      STMT_EXPR@1675..1698
        EXPR_FOR@1675..1692
          ForKeyword@1675..1678 "for"
          Whitespace@1678..1679 " "
          PATTERN_WILDCARD@1679..1681
            WildcardKeyword@1679..1680 "_"
            Whitespace@1680..1681 " "
          InKeyword@1681..1683 "in"
          Whitespace@1683..1684 " "
          EXPR_IDENT@1684..1690
            PATH@1684..1690
              Ident@1684..1689 "empty"
              Whitespace@1689..1690 " "
          BLOCK@1690..1692
            LBrace@1690..1691 "{"
            RBrace@1691..1692 "}"
        Semi@1692..1693 ";"
        Whitespace@1693..1698 "\n    "
      STMT_EXPR@1698..1736
        EXPR_CALL@1698..1730
          EXPR_IDENT@1698..1705
            PATH@1698..1705
              Ident@1698..1705 "println"
          ARG_LIST@1705..1730
            LParen@1705..1706 "("
            ARG@1706..1729
              EXPR_CALL@1706..1729
                EXPR_IDENT@1706..1716
                  PATH@1706..1716
                    Ident@1706..1716 "first_even"
                ARG_LIST@1716..1729
                  LParen@1716..1717 "("
                  ARG@1717..1728
                    EXPR_CALL@1717..1728
                      EXPR_IDENT@1717..1722
                        PATH@1717..1722
                          Ident@1717..1722 "range"
                      ARG_LIST@1722..1728
                        LParen@1722..1723 "("
                        ARG@1723..1726
                          EXPR_INT@1723..1724
                            Int@1723..1724 "3"
                          Comma@1724..1725 ","
                          Whitespace@1725..1726 " "
                        ARG@1726..1727
                          EXPR_INT@1726..1727
                            Int@1726..1727 "8"
                        RParen@1727..1728 ")"
                  RParen@1728..1729 ")"
            RParen@1729..1730 ")"
        Semi@1730..1731 ";"
        Whitespace@1731..1736 "\n    "
      STMT_EXPR@1736..1753
        EXPR_CALL@1736..1751
          EXPR_IDENT@1736..1743
            PATH@1736..1743
              Ident@1736..1743 "println"
          ARG_LIST@1743..1751
            LParen@1743..1744 "("
            ARG@1744..1750
              EXPR_STR@1744..1750
                Str@1744..1750 "\"done\""
            RParen@1750..1751 ")"
        Semi@1751..1752 ";"
        Whitespace@1752..1753 "\n"
      RBrace@1753..1754 "}"
      Whitespace@1754..1755 "\n"