FILE@0..1768
  FN@0..298
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "countdown"
    PARAM_LIST@12..27
      LParen@12..13 "("
      PARAM@13..25
        Ident@13..18 "start"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..25
          Int32Keyword@20..25 "int32"
      RParen@25..26 ")"
      Whitespace@26..27 " "
    Arrow@27..29 "->"
    Whitespace@29..30 " "
    TYPE_TAPP@30..46
      PATH@30..38
        Ident@30..38 "Iterator"
      TYPE_PARAM_LIST@38..46
        LBracket@38..39 "["
        TYPE_INT32@39..44
          Int32Keyword@39..44 "int32"
        RBracket@44..45 "]"
        Whitespace@45..46 " "
    BLOCK@46..298
      LBrace@46..47 "{"
      Whitespace@47..52 "\n    "
      STMT_LET@52..87
        LetKeyword@52..55 "let"
        Whitespace@55..56 " "
        PATTERN_VARIABLE@56..64
          Ident@56..63 "current"
          Whitespace@63..64 " "
        Eq@64..65 "="
        Whitespace@65..66 " "
        EXPR_CALL@66..81
          EXPR_IDENT@66..74
            PATH@66..74
              Ident@66..69 "Ref"
              ColonColon@69..71 "::"
              Ident@71..74 "new"
          ARG_LIST@74..81
            LParen@74..75 "("
            ARG@75..80
              EXPR_IDENT@75..80
                PATH@75..80
                  Ident@75..80 "start"
            RParen@80..81 ")"
        Semi@81..82 ";"
        Whitespace@82..87 "\n    "
      EXPR_CALL@87..295
        EXPR_IDENT@87..104
          PATH@87..104
            Ident@87..95 "Iterator"
            ColonColon@95..97 "::"
            Ident@97..104 "from_fn"
        ARG_LIST@104..295
          LParen@104..105 "("
          ARG@105..293
            EXPR_CLOSURE@105..293
              CLOSURE_PARAM_LIST@105..108
                OrOr@105..107 "||"
                Whitespace@107..108 " "
              EXPR_CLOSURE_BODY@108..293
                BLOCK@108..293
                  LBrace@108..109 "{"
                  Whitespace@109..118 "\n        "
                  STMT_LET@118..153
                    LetKeyword@118..121 "let"
                    Whitespace@121..122 " "
                    PATTERN_VARIABLE@122..128
                      Ident@122..127 "value"
                      Whitespace@127..128 " "
                    Eq@128..129 "="
                    Whitespace@129..130 " "
                    EXPR_CALL@130..143
                      EXPR_BINARY@130..141
                        EXPR_IDENT@130..137
                          PATH@130..137
                            Ident@130..137 "current"
                        Dot@137..138 "."
                        EXPR_IDENT@138..141
                          PATH@138..141
                            Ident@138..141 "get"
                      ARG_LIST@141..143
                        LParen@141..142 "("
                        RParen@142..143 ")"
                    Semi@143..144 ";"
                    Whitespace@144..153 "\n        "
                  EXPR_IF@153..292
                    IfKeyword@153..155 "if"
                    Whitespace@155..156 " "
                    EXPR_IF_COND@156..166
                      EXPR_BINARY@156..166
                        EXPR_IDENT@156..162
                          PATH@156..162
                            Ident@156..161 "value"
                            Whitespace@161..162 " "
                        Greater@162..163 ">"
                        Whitespace@163..164 " "
                        EXPR_INT@164..166
                          Int@164..165 "0"
                          Whitespace@165..166 " "
                    EXPR_IF_THEN@166..246
                      BLOCK@166..246
                        LBrace@166..167 "{"
                        Whitespace@167..180 "\n            "
                        STMT_EXPR@180..216
                          EXPR_CALL@180..202
                            EXPR_BINARY@180..191
                              EXPR_IDENT@180..187
                                PATH@180..187
                                  Ident@180..187 "current"
                              Dot@187..188 "."
                              EXPR_IDENT@188..191
                                PATH@188..191
                                  Ident@188..191 "set"
                            ARG_LIST@191..202
                              LParen@191..192 "("
                              ARG@192..201
                                EXPR_BINARY@192..201
                                  EXPR_IDENT@192..198
                                    PATH@192..198
                                      Ident@192..197 "value"
                                      Whitespace@197..198 " "
                                  Minus@198..199 "-"
                                  Whitespace@199..200 " "
                                  EXPR_INT@200..201
                                    Int@200..201 "1"
                              RParen@201..202 ")"
                          Semi@202..203 ";"
                          Whitespace@203..216 "\n            "
                        EXPR_CALL@216..244
                          EXPR_IDENT@216..228
                            PATH@216..228
                              Ident@216..222 "Option"
                              ColonColon@222..224 "::"
                              Ident@224..228 "Some"
                          ARG_LIST@228..244
                            LParen@228..229 "("
                            ARG@229..234
                              EXPR_IDENT@229..234
                                PATH@229..234
                                  Ident@229..234 "value"
                            RParen@234..235 ")"
                            Whitespace@235..244 "\n        "
                        RBrace@244..245 "}"
                        Whitespace@245..246 " "
                    ElseKeyword@246..250 "else"
                    Whitespace@250..251 " "
                    EXPR_IF_ELSE@251..292
                      BLOCK@251..292
                        LBrace@251..252 "{"
                        Whitespace@252..265 "\n            "
                        EXPR_IDENT@265..286
                          PATH@265..286
                            Ident@265..271 "Option"
                            ColonColon@271..273 "::"
                            Ident@273..277 "None"
                            Whitespace@277..286 "\n        "
                        RBrace@286..287 "}"
                        Whitespace@287..292 "\n    "
                  RBrace@292..293 "}"
          RParen@293..294 ")"
          Whitespace@294..295 "\n"
      RBrace@295..296 "}"
      Whitespace@296..298 "\n\n"
  FN@298..406
    FnKeyword@298..300 "fn"
    Whitespace@300..301 " "
    Ident@301..314 "counted_range"
    PARAM_LIST@314..334
      LParen@314..315 "("
      PARAM@315..332
        Ident@315..320 "calls"
        Colon@320..321 ":"
        Whitespace@321..322 " "
        TYPE_TAPP@322..332
          PATH@322..325
            Ident@322..325 "Ref"
          TYPE_PARAM_LIST@325..332
            LBracket@325..326 "["
            TYPE_INT32@326..331
              Int32Keyword@326..331 "int32"
            RBracket@331..332 "]"
      RParen@332..333 ")"
      Whitespace@333..334 " "
    Arrow@334..336 "->"
    Whitespace@336..337 " "
    TYPE_TAPP@337..353
      PATH@337..345
        Ident@337..345 "Iterator"
      TYPE_PARAM_LIST@345..353
        LBracket@345..346 "["
        TYPE_INT32@346..351
          Int32Keyword@346..351 "int32"
        RBracket@351..352 "]"
        Whitespace@352..353 " "
    BLOCK@353..406
      LBrace@353..354 "{"
      Whitespace@354..359 "\n    "
      STMT_EXPR@359..391
        EXPR_CALL@359..385
          EXPR_BINARY@359..368
            EXPR_IDENT@359..364
              PATH@359..364
                Ident@359..364 "calls"
            Dot@364..365 "."
            EXPR_IDENT@365..368
              PATH@365..368
                Ident@365..368 "set"
          ARG_LIST@368..385
            LParen@368..369 "("
            ARG@369..384
              EXPR_BINARY@369..384
                EXPR_CALL@369..381
                  EXPR_BINARY@369..378
                    EXPR_IDENT@369..374
                      PATH@369..374
                        Ident@369..374 "calls"
                    Dot@374..375 "."
                    EXPR_IDENT@375..378
                      PATH@375..378
                        Ident@375..378 "get"
                  ARG_LIST@378..381
                    LParen@378..379 "("
                    RParen@379..380 ")"
                    Whitespace@380..381 " "
                Plus@381..382 "+"
                Whitespace@382..383 " "
                EXPR_INT@383..384
                  Int@383..384 "1"
            RParen@384..385 ")"
        Semi@385..386 ";"
        Whitespace@386..391 "\n    "
      EXPR_CALL@391..403
        EXPR_IDENT@391..396
          PATH@391..396
            Ident@391..396 "range"
        ARG_LIST@396..403
          LParen@396..397 "("
          ARG@397..400
            EXPR_INT@397..398
              Int@397..398 "1"
            Comma@398..399 ","
            Whitespace@399..400 " "
          ARG@400..401
            EXPR_INT@400..401
              Int@400..401 "5"
          RParen@401..402 ")"
          Whitespace@402..403 "\n"
      RBrace@403..404 "}"
      Whitespace@404..406 "\n\n"
  FN@406..603
    FnKeyword@406..408 "fn"
    Whitespace@408..409 " "
    Ident@409..419 "first_even"
    PARAM_LIST@419..445
      LParen@419..420 "("
      PARAM@420..443
        Ident@420..426 "values"
        Colon@426..427 ":"
        Whitespace@427..428 " "
        TYPE_TAPP@428..443
          PATH@428..436
            Ident@428..436 "Iterator"
          TYPE_PARAM_LIST@436..443
            LBracket@436..437 "["
            TYPE_INT32@437..442
              Int32Keyword@437..442 "int32"
            RBracket@442..443 "]"
      RParen@443..444 ")"
      Whitespace@444..445 " "
    Arrow@445..447 "->"
    Whitespace@447..448 " "
    TYPE_INT32@448..454
      Int32Keyword@448..453 "int32"
      Whitespace@453..454 " "
    BLOCK@454..603
      LBrace@454..455 "{"
      Whitespace@455..460 "\n    "
      STMT_EXPR@460..597
        EXPR_FOR@460..591
          ForKeyword@460..463 "for"
          Whitespace@463..464 " "
          PATTERN_VARIABLE@464..470
            Ident@464..469 "value"
            Whitespace@469..470 " "
          InKeyword@470..472 "in"
          Whitespace@472..473 " "
          EXPR_IDENT@473..480
            PATH@473..480
              Ident@473..479 "values"
              Whitespace@479..480 " "
          BLOCK@480..591
            LBrace@480..481 "{"
            Whitespace@481..490 "\n        "
            STMT_EXPR@490..590
              EXPR_IF@490..584
                IfKeyword@490..492 "if"
                Whitespace@492..493 " "
                EXPR_IF_COND@493..516
                  EXPR_BINARY@493..516
                    EXPR_BINARY@493..507
                      EXPR_BINARY@493..503
                        EXPR_IDENT@493..499
                          PATH@493..499
                            Ident@493..498 "value"
                            Whitespace@498..499 " "
                        Slash@499..500 "/"
                        Whitespace@500..501 " "
                        EXPR_INT@501..503
                          Int@501..502 "2"
                          Whitespace@502..503 " "
                      Star@503..504 "*"
                      Whitespace@504..505 " "
                      EXPR_INT@505..507
                        Int@505..506 "2"
                        Whitespace@506..507 " "
                    EqEq@507..509 "=="
                    Whitespace@509..510 " "
                    EXPR_IDENT@510..516
                      PATH@510..516
                        Ident@510..515 "value"
                        Whitespace@515..516 " "
                EXPR_IF_THEN@516..553
                  BLOCK@516..553
                    LBrace@516..517 "{"
                    Whitespace@517..530 "\n            "
                    EXPR_RETURN@530..551
                      ReturnKeyword@530..536 "return"
                      Whitespace@536..537 " "
                      EXPR_IDENT@537..551
                        PATH@537..551
                          Ident@537..542 "value"
                          Whitespace@542..551 "\n        "
                    RBrace@551..552 "}"
                    Whitespace@552..553 " "
                ElseKeyword@553..557 "else"
                Whitespace@557..558 " "
                EXPR_IF_ELSE@558..584
                  BLOCK@558..584
                    LBrace@558..559 "{"
                    Whitespace@559..572 "\n            "
                    EXPR_UNIT@572..583
                      LParen@572..573 "("
                      RParen@573..574 ")"
                      Whitespace@574..583 "\n        "
                    RBrace@583..584 "}"
              Semi@584..585 ";"
              Whitespace@585..590 "\n    "
            RBrace@590..591 "}"
        Semi@591..592 ";"
        Whitespace@592..597 "\n    "
      EXPR_PREFIX@597..600
        Minus@597..598 "-"
        EXPR_INT@598..600
          Int@598..599 "1"
          Whitespace@599..600 "\n"
      RBrace@600..601 "}"
      Whitespace@601..603 "\n\n"
  FN@603..1768
    FnKeyword@603..605 "fn"
    Whitespace@605..606 " "
    Ident@606..610 "main"
    PARAM_LIST@610..613
      LParen@610..611 "("
      RParen@611..612 ")"
      Whitespace@612..613 " "
    Arrow@613..615 "->"
    Whitespace@615..616 " "
    TYPE_UNIT@616..621
      UnitKeyword@616..620 "unit"
      Whitespace@620..621 " "
    BLOCK@621..1768
      LBrace@621..622 "{"
      Whitespace@622..627 "\n    "
      STMT_LET@627..668
        LetKeyword@627..630 "let"
        Whitespace@630..631 " "
        PATTERN_VARIABLE@631..637
          Ident@631..637 "values"
        Colon@637..638 ":"
        Whitespace@638..639 " "
        TYPE_TAPP@639..650
          PATH@639..642
            Ident@639..642 "Vec"
          TYPE_PARAM_LIST@642..650
            LBracket@642..643 "["
            TYPE_INT32@643..648
              Int32Keyword@643..648 "int32"
            RBracket@648..649 "]"
            Whitespace@649..650 " "
        Eq@650..651 "="
        Whitespace@651..652 " "
        EXPR_CALL@652..662
          EXPR_IDENT@652..660
            PATH@652..660
              Ident@652..655 "Vec"
              ColonColon@655..657 "::"
              Ident@657..660 "new"
          ARG_LIST@660..662
            LParen@660..661 "("
            RParen@661..662 ")"
        Semi@662..663 ";"
        Whitespace@663..668 "\n    "
      STMT_EXPR@668..689
        EXPR_CALL@668..683
          EXPR_BINARY@668..679
            EXPR_IDENT@668..674
              PATH@668..674
                Ident@668..674 "values"
            Dot@674..675 "."
            EXPR_IDENT@675..679
              PATH@675..679
                Ident@675..679 "push"
          ARG_LIST@679..683
            LParen@679..680 "("
            ARG@680..682
              EXPR_INT@680..682
                Int@680..682 "10"
            RParen@682..683 ")"
        Semi@683..684 ";"
        Whitespace@684..689 "\n    "
      STMT_EXPR@689..710
        EXPR_CALL@689..704
          EXPR_BINARY@689..700
            EXPR_IDENT@689..695
              PATH@689..695
                Ident@689..695 "values"
            Dot@695..696 "."
            EXPR_IDENT@696..700
              PATH@696..700
                Ident@696..700 "push"
          ARG_LIST@700..704
            LParen@700..701 "("
            ARG@701..703
              EXPR_INT@701..703
                Int@701..703 "20"
            RParen@703..704 ")"
        Semi@704..705 ";"
        Whitespace@705..710 "\n    "
      STMT_EXPR@710..731
        EXPR_CALL@710..725
          EXPR_BINARY@710..721
            EXPR_IDENT@710..716
              PATH@710..716
                Ident@710..716 "values"
            Dot@716..717 "."
            EXPR_IDENT@717..721
              PATH@717..721
                Ident@717..721 "push"
          ARG_LIST@721..725
            LParen@721..722 "("
            ARG@722..724
              EXPR_INT@722..724
                Int@722..724 "30"
            RParen@724..725 ")"
        Semi@725..726 ";"
        Whitespace@726..731 "\n    "
      STMT_LET@731..758
        LetKeyword@731..734 "let"
        Whitespace@734..735 " "
        PATTERN_VARIABLE@735..739
          Ident@735..738 "sum"
          Whitespace@738..739 " "
        Eq@739..740 "="
        Whitespace@740..741 " "
        EXPR_CALL@741..752
          EXPR_IDENT@741..749
            PATH@741..749
              Ident@741..744 "Ref"
              ColonColon@744..746 "::"
              Ident@746..749 "new"
          ARG_LIST@749..752
            LParen@749..750 "("
            ARG@750..751
              EXPR_INT@750..751
                Int@750..751 "0"
            RParen@751..752 ")"
        Semi@752..753 ";"
        Whitespace@753..758 "\n    "
      STMT_EXPR@758..923
        EXPR_FOR@758..917
          ForKeyword@758..761 "for"
          Whitespace@761..762 " "
          PATTERN_VARIABLE@762..768
            Ident@762..767 "value"
            Whitespace@767..768 " "
          InKeyword@768..770 "in"
          Whitespace@770..771 " "
          EXPR_CALL@771..785
            EXPR_BINARY@771..782
              EXPR_IDENT@771..777
                PATH@771..777
                  Ident@771..777 "values"
              Dot@777..778 "."
              EXPR_IDENT@778..782
                PATH@778..782
                  Ident@778..782 "iter"
            ARG_LIST@782..785
              LParen@782..783 "("
              RParen@783..784 ")"
              Whitespace@784..785 " "
          BLOCK@785..917
            LBrace@785..786 "{"
            Whitespace@786..795 "\n        "
            STMT_EXPR@795..884
              EXPR_IF@795..874
                IfKeyword@795..797 "if"
                Whitespace@797..798 " "
                EXPR_IF_COND@798..810
                  EXPR_BINARY@798..810
                    EXPR_IDENT@798..804
                      PATH@798..804
                        Ident@798..803 "value"
                        Whitespace@803..804 " "
                    EqEq@804..806 "=="
                    Whitespace@806..807 " "
                    EXPR_INT@807..810
                      Int@807..809 "20"
                      Whitespace@809..810 " "
                EXPR_IF_THEN@810..843
                  BLOCK@810..843
                    LBrace@810..811 "{"
                    Whitespace@811..824 "\n            "
                    EXPR_CONTINUE@824..841
                      ContinueKeyword@824..832 "continue"
                      Whitespace@832..841 "\n        "
                    RBrace@841..842 "}"
                    Whitespace@842..843 " "
                ElseKeyword@843..847 "else"
                Whitespace@847..848 " "
                EXPR_IF_ELSE@848..874
                  BLOCK@848..874
                    LBrace@848..849 "{"
                    Whitespace@849..862 "\n            "
                    EXPR_UNIT@862..873
                      LParen@862..863 "("
                      RParen@863..864 ")"
                      Whitespace@864..873 "\n        "
                    RBrace@873..874 "}"
              Semi@874..875 ";"
              Whitespace@875..884 "\n        "
            STMT_EXPR@884..916
              EXPR_CALL@884..910
                EXPR_BINARY@884..891
                  EXPR_IDENT@884..887
                    PATH@884..887
                      Ident@884..887 "sum"
                  Dot@887..888 "."
                  EXPR_IDENT@888..891
                    PATH@888..891
                      Ident@888..891 "set"
                ARG_LIST@891..910
                  LParen@891..892 "("
                  ARG@892..909
                    EXPR_BINARY@892..909
                      EXPR_CALL@892..902
                        EXPR_BINARY@892..899
                          EXPR_IDENT@892..895
                            PATH@892..895
                              Ident@892..895 "sum"
                          Dot@895..896 "."
                          EXPR_IDENT@896..899
                            PATH@896..899
                              Ident@896..899 "get"
                        ARG_LIST@899..902
                          LParen@899..900 "("
                          RParen@900..901 ")"
                          Whitespace@901..902 " "
                      Plus@902..903 "+"
                      Whitespace@903..904 " "
                      EXPR_IDENT@904..909
                        PATH@904..909
                          Ident@904..909 "value"
                  RParen@909..910 ")"
              Semi@910..911 ";"
              Whitespace@911..916 "\n    "
            RBrace@916..917 "}"
        Semi@917..918 ";"
        Whitespace@918..923 "\n    "
      STMT_EXPR@923..948
        EXPR_CALL@923..941
          EXPR_IDENT@923..930
            PATH@923..930
              Ident@923..930 "println"
          ARG_LIST@930..941
            LParen@930..931 "("
            ARG@931..940
              EXPR_CALL@931..940
                EXPR_BINARY@931..938
                  EXPR_IDENT@931..934
                    PATH@931..934
                      Ident@931..934 "sum"
                  Dot@934..935 "."
                  EXPR_IDENT@935..938
                    PATH@935..938
                      Ident@935..938 "get"
                ARG_LIST@938..940
                  LParen@938..939 "("
                  RParen@939..940 ")"
            RParen@940..941 ")"
        Semi@941..942 ";"
        Whitespace@942..948 "\n\n    "
      STMT_LET@948..998
        LetKeyword@948..951 "let"
        Whitespace@951..952 " "
        PATTERN_VARIABLE@952..957
          Ident@952..957 "pairs"
        Colon@957..958 ":"
        Whitespace@958..959 " "
        TYPE_TAPP@959..980
          PATH@959..962
            Ident@959..962 "Vec"
          TYPE_PARAM_LIST@962..980
            LBracket@962..963 "["
            TYPE_TUPLE@963..978
              TYPE_LIST@963..978
                LParen@963..964 "("
                TYPE_INT32@964..969
                  Int32Keyword@964..969 "int32"
                Comma@969..970 ","
                Whitespace@970..971 " "
                TYPE_STRING@971..977
                  StringKeyword@971..977 "string"
                RParen@977..978 ")"
            RBracket@978..979 "]"
            Whitespace@979..980 " "
        Eq@980..981 "="
        Whitespace@981..982 " "
        EXPR_CALL@982..992
          EXPR_IDENT@982..990
            PATH@982..990
              Ident@982..985 "Vec"
              ColonColon@985..987 "::"
              Ident@987..990 "new"
          ARG_LIST@990..992
            LParen@990..991 "("
            RParen@991..992 ")"
        Semi@992..993 ";"
        Whitespace@993..998 "\n    "
      STMT_EXPR@998..1024
        EXPR_CALL@998..1018
          EXPR_BINARY@998..1008
            EXPR_IDENT@998..1003
              PATH@998..1003
                Ident@998..1003 "pairs"
            Dot@1003..1004 "."
            EXPR_IDENT@1004..1008
              PATH@1004..1008
                Ident@1004..1008 "push"
          ARG_LIST@1008..1018
            LParen@1008..1009 "("
            ARG@1009..1017
              EXPR_TUPLE@1009..1017
                LParen@1009..1010 "("
                EXPR_INT@1010..1011
                  Int@1010..1011 "1"
                Comma@1011..1012 ","
                Whitespace@1012..1013 " "
                EXPR_STR@1013..1016
                  Str@1013..1016 "\"a\""
                RParen@1016..1017 ")"
            RParen@1017..1018 ")"
        Semi@1018..1019 ";"
        Whitespace@1019..1024 "\n    "
      STMT_EXPR@1024..1050
        EXPR_CALL@1024..1044
          EXPR_BINARY@1024..1034
            EXPR_IDENT@1024..1029
              PATH@1024..1029
                Ident@1024..1029 "pairs"
            Dot@1029..1030 "."
            EXPR_IDENT@1030..1034
              PATH@1030..1034
                Ident@1030..1034 "push"
          ARG_LIST@1034..1044
            LParen@1034..1035 "("
            ARG@1035..1043
              EXPR_TUPLE@1035..1043
                LParen@1035..1036 "("
                EXPR_INT@1036..1037
                  Int@1036..1037 "2"
                Comma@1037..1038 ","
                Whitespace@1038..1039 " "
                EXPR_STR@1039..1042
                  Str@1039..1042 "\"b\""
                RParen@1042..1043 ")"
            RParen@1043..1044 ")"
        Semi@1044..1045 ";"
        Whitespace@1045..1050 "\n    "
      STMT_EXPR@1050..1143
        EXPR_FOR@1050..1136
          ForKeyword@1050..1053 "for"
          Whitespace@1053..1054 " "
          PATTERN_TUPLE@1054..1069
            LParen@1054..1055 "("
            PATTERN_VARIABLE@1055..1061
              Ident@1055..1061 "number"
            Comma@1061..1062 ","
            Whitespace@1062..1063 " "
            PATTERN_VARIABLE@1063..1067
              Ident@1063..1067 "text"
            RParen@1067..1068 ")"
            Whitespace@1068..1069 " "
          InKeyword@1069..1071 "in"
          Whitespace@1071..1072 " "
          EXPR_CALL@1072..1085
            EXPR_BINARY@1072..1082
              EXPR_IDENT@1072..1077
                PATH@1072..1077
                  Ident@1072..1077 "pairs"
              Dot@1077..1078 "."
              EXPR_IDENT@1078..1082
                PATH@1078..1082
                  Ident@1078..1082 "iter"
            ARG_LIST@1082..1085
              LParen@1082..1083 "("
              RParen@1083..1084 ")"
              Whitespace@1084..1085 " "
          BLOCK@1085..1136
            LBrace@1085..1086 "{"
            Whitespace@1086..1095 "\n        "
            STMT_EXPR@1095..1135
              EXPR_CALL@1095..1129
                EXPR_IDENT@1095..1102
                  PATH@1095..1102
                    Ident@1095..1102 "println"
                ARG_LIST@1102..1129
                  LParen@1102..1103 "("
                  ARG@1103..1128
                    EXPR_BINARY@1103..1128
                      EXPR_CALL@1103..1122
                        EXPR_BINARY@1103..1119
                          EXPR_IDENT@1103..1109
                            PATH@1103..1109
                              Ident@1103..1109 "number"
                          Dot@1109..1110 "."
                          EXPR_IDENT@1110..1119
                            PATH@1110..1119
                              Ident@1110..1119 "to_string"
                        ARG_LIST@1119..1122
                          LParen@1119..1120 "("
                          RParen@1120..1121 ")"
                          Whitespace@1121..1122 " "
                      Plus@1122..1123 "+"
                      Whitespace@1123..1124 " "
                      EXPR_IDENT@1124..1128
                        PATH@1124..1128
                          Ident@1124..1128 "text"
                  RParen@1128..1129 ")"
              Semi@1129..1130 ";"
              Whitespace@1130..1135 "\n    "
            RBrace@1135..1136 "}"
        Semi@1136..1137 ";"
        Whitespace@1137..1143 "\n\n    "
      STMT_LET@1143..1172
        LetKeyword@1143..1146 "let"
        Whitespace@1146..1147 " "
        PATTERN_VARIABLE@1147..1153
          Ident@1147..1152 "calls"
          Whitespace@1152..1153 " "
        Eq@1153..1154 "="
        Whitespace@1154..1155 " "
        EXPR_CALL@1155..1166
          EXPR_IDENT@1155..1163
            PATH@1155..1163
              Ident@1155..1158 "Ref"
              ColonColon@1158..1160 "::"
              Ident@1160..1163 "new"
          ARG_LIST@1163..1166
            LParen@1163..1164 "("
            ARG@1164..1165
              EXPR_INT@1164..1165
                Int@1164..1165 "0"
            RParen@1165..1166 ")"
        Semi@1166..1167 ";"
        Whitespace@1167..1172 "\n    "
      STMT_LET@1172..1205
        LetKeyword@1172..1175 "let"
        Whitespace@1175..1176 " "
        PATTERN_VARIABLE@1176..1186
          Ident@1176..1185 "range_sum"
          Whitespace@1185..1186 " "
        Eq@1186..1187 "="
        Whitespace@1187..1188 " "
        EXPR_CALL@1188..1199
          EXPR_IDENT@1188..1196
            PATH@1188..1196
              Ident@1188..1191 "Ref"
              ColonColon@1191..1193 "::"
              Ident@1193..1196 "new"
          ARG_LIST@1196..1199
            LParen@1196..1197 "("
            ARG@1197..1198
              EXPR_INT@1197..1198
                Int@1197..1198 "0"
            RParen@1198..1199 ")"
        Semi@1199..1200 ";"
        Whitespace@1200..1205 "\n    "
      STMT_EXPR@1205..1300
        EXPR_FOR@1205..1294
          ForKeyword@1205..1208 "for"
          Whitespace@1208..1209 " "
          PATTERN_VARIABLE@1209..1215
            Ident@1209..1214 "value"
            Whitespace@1214..1215 " "
          InKeyword@1215..1217 "in"
          Whitespace@1217..1218 " "
          EXPR_CALL@1218..1239
            EXPR_IDENT@1218..1231
              PATH@1218..1231
                Ident@1218..1231 "counted_range"
            ARG_LIST@1231..1239
              LParen@1231..1232 "("
              ARG@1232..1237
                EXPR_IDENT@1232..1237
                  PATH@1232..1237
                    Ident@1232..1237 "calls"
              RParen@1237..1238 ")"
              Whitespace@1238..1239 " "
          BLOCK@1239..1294
            LBrace@1239..1240 "{"
            Whitespace@1240..1249 "\n        "
            STMT_EXPR@1249..1293
              EXPR_CALL@1249..1287
                EXPR_BINARY@1249..1262
                  EXPR_IDENT@1249..1258
                    PATH@1249..1258
                      Ident@1249..1258 "range_sum"
                  Dot@1258..1259 "."
                  EXPR_IDENT@1259..1262
                    PATH@1259..1262
                      Ident@1259..1262 "set"
                ARG_LIST@1262..1287
                  LParen@1262..1263 "("
                  ARG@1263..1286
                    EXPR_BINARY@1263..1286
                      EXPR_CALL@1263..1279
                        EXPR_BINARY@1263..1276
                          EXPR_IDENT@1263..1272
                            PATH@1263..1272
                              Ident@1263..1272 "range_sum"
                          Dot@1272..1273 "."
                          EXPR_IDENT@1273..1276
                            PATH@1273..1276
                              Ident@1273..1276 "get"
                        ARG_LIST@1276..1279
                          LParen@1276..1277 "("
                          RParen@1277..1278 ")"
                          Whitespace@1278..1279 " "
                      Plus@1279..1280 "+"
                      Whitespace@1280..1281 " "
                      EXPR_IDENT@1281..1286
                        PATH@1281..1286
                          Ident@1281..1286 "value"
                  RParen@1286..1287 ")"
              Semi@1287..1288 ";"
              Whitespace@1288..1293 "\n    "
            RBrace@1293..1294 "}"
        Semi@1294..1295 ";"
        Whitespace@1295..1300 "\n    "
      STMT_EXPR@1300..1326
        EXPR_CALL@1300..1320
          EXPR_IDENT@1300..1307
            PATH@1300..1307
              Ident@1300..1307 "println"
          ARG_LIST@1307..1320
            LParen@1307..1308 "("
            ARG@1308..1319
              EXPR_CALL@1308..1319
                EXPR_BINARY@1308..1317
                  EXPR_IDENT@1308..1313
                    PATH@1308..1313
                      Ident@1308..1313 "calls"
                  Dot@1313..1314 "."
                  EXPR_IDENT@1314..1317
                    PATH@1314..1317
                      Ident@1314..1317 "get"
                ARG_LIST@1317..1319
                  LParen@1317..1318 "("
                  RParen@1318..1319 ")"
            RParen@1319..1320 ")"
        Semi@1320..1321 ";"
        Whitespace@1321..1326 "\n    "
      STMT_EXPR@1326..1357
        EXPR_CALL@1326..1350
          EXPR_IDENT@1326..1333
            PATH@1326..1333
              Ident@1326..1333 "println"
          ARG_LIST@1333..1350
            LParen@1333..1334 "("
            ARG@1334..1349
              EXPR_CALL@1334..1349
                EXPR_BINARY@1334..1347
                  EXPR_IDENT@1334..1343
                    PATH@1334..1343
                      Ident@1334..1343 "range_sum"
                  Dot@1343..1344 "."
                  EXPR_IDENT@1344..1347
                    PATH@1344..1347
                      Ident@1344..1347 "get"
                ARG_LIST@1347..1349
                  LParen@1347..1348 "("
                  RParen@1348..1349 ")"
            RParen@1349..1350 ")"
        Semi@1350..1351 ";"
        Whitespace@1351..1357 "\n\n    "
      STMT_LET@1357..1390
        LetKeyword@1357..1360 "let"
        Whitespace@1360..1361 " "
        PATTERN_VARIABLE@1361..1371
          Ident@1361..1370 "slice_sum"
          Whitespace@1370..1371 " "
        Eq@1371..1372 "="
        Whitespace@1372..1373 " "
        EXPR_CALL@1373..1384
          EXPR_IDENT@1373..1381
            PATH@1373..1381
              Ident@1373..1376 "Ref"
              ColonColon@1376..1378 "::"
              Ident@1378..1381 "new"
          ARG_LIST@1381..1384
            LParen@1381..1382 "("
            ARG@1382..1383
              EXPR_INT@1382..1383
                Int@1382..1383 "0"
            RParen@1383..1384 ")"
        Semi@1384..1385 ";"
        Whitespace@1385..1390 "\n    "
      STMT_EXPR@1390..1490
        EXPR_FOR@1390..1484
          ForKeyword@1390..1393 "for"
          Whitespace@1393..1394 " "
          PATTERN_VARIABLE@1394..1400
            Ident@1394..1399 "value"
            Whitespace@1399..1400 " "
          InKeyword@1400..1402 "in"
          Whitespace@1402..1403 " "
          EXPR_CALL@1403..1429
            EXPR_BINARY@1403..1426
              EXPR_CALL@1403..1421
                EXPR_BINARY@1403..1415
                  EXPR_IDENT@1403..1409
                    PATH@1403..1409
                      Ident@1403..1409 "values"
                  Dot@1409..1410 "."
                  EXPR_IDENT@1410..1415
                    PATH@1410..1415
                      Ident@1410..1415 "slice"
                ARG_LIST@1415..1421
                  LParen@1415..1416 "("
                  ARG@1416..1419
                    EXPR_INT@1416..1417
                      Int@1416..1417 "1"
                    Comma@1417..1418 ","
                    Whitespace@1418..1419 " "
                  ARG@1419..1420
                    EXPR_INT@1419..1420
                      Int@1419..1420 "3"
                  RParen@1420..1421 ")"
              Dot@1421..1422 "."
              EXPR_IDENT@1422..1426
                PATH@1422..1426
                  Ident@1422..1426 "iter"
            ARG_LIST@1426..1429
              LParen@1426..1427 "("
              RParen@1427..1428 ")"
              Whitespace@1428..1429 " "
          BLOCK@1429..1484
            LBrace@1429..1430 "{"
            Whitespace@1430..1439 "\n        "
            STMT_EXPR@1439..1483
              EXPR_CALL@1439..1477
                EXPR_BINARY@1439..1452
                  EXPR_IDENT@1439..1448
                    PATH@1439..1448
                      Ident@1439..1448 "slice_sum"
                  Dot@1448..1449 "."
                  EXPR_IDENT@1449..1452
                    PATH@1449..1452
                      Ident@1449..1452 "set"
                ARG_LIST@1452..1477
                  LParen@1452..1453 "("
                  ARG@1453..1476
                    EXPR_BINARY@1453..1476
                      EXPR_CALL@1453..1469
                        EXPR_BINARY@1453..1466
                          EXPR_IDENT@1453..1462
                            PATH@1453..1462
                              Ident@1453..1462 "slice_sum"
                          Dot@1462..1463 "."
                          EXPR_IDENT@1463..1466
                            PATH@1463..1466
                              Ident@1463..1466 "get"
                        ARG_LIST@1466..1469
                          LParen@1466..1467 "("
                          RParen@1467..1468 ")"
                          Whitespace@1468..1469 " "
                      Plus@1469..1470 "+"
                      Whitespace@1470..1471 " "
                      EXPR_IDENT@1471..1476
                        PATH@1471..1476
                          Ident@1471..1476 "value"
                  RParen@1476..1477 ")"
              Semi@1477..1478 ";"
              Whitespace@1478..1483 "\n    "
            RBrace@1483..1484 "}"
        Semi@1484..1485 ";"
        Whitespace@1485..1490 "\n    "
      STMT_EXPR@1490..1521
        EXPR_CALL@1490..1514
          EXPR_IDENT@1490..1497
            PATH@1490..1497
              Ident@1490..1497 "println"
          ARG_LIST@1497..1514
            LParen@1497..1498 "("
            ARG@1498..1513
              EXPR_CALL@1498..1513
                EXPR_BINARY@1498..1511
                  EXPR_IDENT@1498..1507
                    PATH@1498..1507
                      Ident@1498..1507 "slice_sum"
                  Dot@1507..1508 "."
                  EXPR_IDENT@1508..1511
                    PATH@1508..1511
                      Ident@1508..1511 "get"
                ARG_LIST@1511..1513
                  LParen@1511..1512 "("
                  RParen@1512..1513 ")"
            RParen@1513..1514 ")"
        Semi@1514..1515 ";"
        Whitespace@1515..1521 "\n\n    "
      STMT_EXPR@1521..1659
        EXPR_FOR@1521..1652
          ForKeyword@1521..1524 "for"
          Whitespace@1524..1525 " "
          PATTERN_VARIABLE@1525..1531
            Ident@1525..1530 "value"
            Whitespace@1530..1531 " "
          InKeyword@1531..1533 "in"
          Whitespace@1533..1534 " "
          EXPR_CALL@1534..1547
            EXPR_IDENT@1534..1543
              PATH@1534..1543
                Ident@1534..1543 "countdown"
            ARG_LIST@1543..1547
              LParen@1543..1544 "("
              ARG@1544..1545
                EXPR_INT@1544..1545
                  Int@1544..1545 "4"
              RParen@1545..1546 ")"
              Whitespace@1546..1547 " "
          BLOCK@1547..1652
            LBrace@1547..1548 "{"
            Whitespace@1548..1557 "\n        "
            STMT_EXPR@1557..1651
              EXPR_IF@1557..1645
                IfKeyword@1557..1559 "if"
                Whitespace@1559..1560 " "
                EXPR_IF_COND@1560..1571
                  EXPR_BINARY@1560..1571
                    EXPR_IDENT@1560..1566
                      PATH@1560..1566
                        Ident@1560..1565 "value"
                        Whitespace@1565..1566 " "
                    EqEq@1566..1568 "=="
                    Whitespace@1568..1569 " "
                    EXPR_INT@1569..1571
                      Int@1569..1570 "2"
                      Whitespace@1570..1571 " "
                EXPR_IF_THEN@1571..1601
                  BLOCK@1571..1601
                    LBrace@1571..1572 "{"
                    Whitespace@1572..1585 "\n            "
                    EXPR_BREAK@1585..1599
                      BreakKeyword@1585..1590 "break"
                      Whitespace@1590..1599 "\n        "
                    RBrace@1599..1600 "}"
                    Whitespace@1600..1601 " "
                ElseKeyword@1601..1605 "else"
                Whitespace@1605..1606 " "
                EXPR_IF_ELSE@1606..1645
                  BLOCK@1606..1645
                    LBrace@1606..1607 "{"
                    Whitespace@1607..1620 "\n            "
                    STMT_EXPR@1620..1644
                      EXPR_CALL@1620..1634
                        EXPR_IDENT@1620..1627
                          PATH@1620..1627
                            Ident@1620..1627 "println"
                        ARG_LIST@1627..1634
                          LParen@1627..1628 "("
                          ARG@1628..1633
                            EXPR_IDENT@1628..1633
                              PATH@1628..1633
                                Ident@1628..1633 "value"
                          RParen@1633..1634 ")"
                      Semi@1634..1635 ";"
                      Whitespace@1635..1644 "\n        "
                    RBrace@1644..1645 "}"
              Semi@1645..1646 ";"
              Whitespace@1646..1651 "\n    "
            RBrace@1651..1652 "}"
        Semi@1652..1653 ";"
        Whitespace@1653..1659 "\n\n    "
      STMT_LET@1659..1688
        LetKeyword@1659..1662 "let"
        Whitespace@1662..1663 " "
        PATTERN_VARIABLE@1663..1669
          Ident@1663..1668 "empty"
          Whitespace@1668..1669 " "
        Eq@1669..1670 "="
        Whitespace@1670..1671 " "
        EXPR_CALL@1671..1682
          EXPR_IDENT@1671..1676
            PATH@1671..1676
              Ident@1671..1676 "range"
          ARG_LIST@1676..1682
            LParen@1676..1677 "("
            ARG@1677..1680
              EXPR_INT@1677..1678
                Int@1677..1678 "0"
              Comma@1678..1679 ","
              Whitespace@1679..1680 " "
            ARG@1680..1681
              EXPR_INT@1680..1681
                Int@1680..1681 "0"
            RParen@1681..1682 ")"
        Semi@1682..1683 ";"
        Whitespace@1683..1688 "\n    "
      STMT_EXPR@1688..1711
        EXPR_FOR@1688..1705
          ForKeyword@1688..1691 "for"
          Whitespace@1691..1692 " "
          PATTERN_WILDCARD@1692..1694
            WildcardKeyword@1692..1693 "_"
            Whitespace@1693..1694 " "
          InKeyword@1694..1696 "in"
          Whitespace@1696..1697 " "
          EXPR_IDENT@1697..1703
            PATH@1697..1703
              Ident@1697..1702 "empty"
              Whitespace@1702..1703 " "
          BLOCK@1703..1705
            LBrace@1703..1704 "{"
            RBrace@1704..1705 "}"
        Semi@1705..1706 ";"
        Whitespace@1706..1711 "\n    "
      STMT_EXPR@1711..1749
        EXPR_CALL@1711..1743
          EXPR_IDENT@1711..1718
            PATH@1711..1718
              Ident@1711..1718 "println"
          ARG_LIST@1718..1743
            LParen@1718..1719 "("
            ARG@1719..1742
              EXPR_CALL@1719..1742
                EXPR_IDENT@1719..1729
                  PATH@1719..1729
                    Ident@1719..1729 "first_even"
                ARG_LIST@1729..1742
                  LParen@1729..1730 "("
                  ARG@1730..1741
                    EXPR_CALL@1730..1741
                      EXPR_IDENT@1730..1735
                        PATH@1730..1735
                          Ident@1730..1735 "range"
                      ARG_LIST@1735..1741
                        LParen@1735..1736 "("
                        ARG@1736..1739
                          EXPR_INT@1736..1737
                            Int@1736..1737 "3"
                          Comma@1737..1738 ","
                          Whitespace@1738..1739 " "
                        ARG@1739..1740
                          EXPR_INT@1739..1740
                            Int@1739..1740 "8"
                        RParen@1740..1741 ")"
                  RParen@1741..1742 ")"
            RParen@1742..1743 ")"
        Semi@1743..1744 ";"
        Whitespace@1744..1749 "\n    "
      STMT_EXPR@1749..1766
        EXPR_CALL@1749..1764
          EXPR_IDENT@1749..1756
            PATH@1749..1756
              Ident@1749..1756 "println"
          ARG_LIST@1756..1764
            LParen@1756..1757 "("
            ARG@1757..1763
              EXPR_STR@1757..1763
                Str@1757..1763 "\"done\""
            RParen@1763..1764 ")"
        Semi@1764..1765 ";"
        Whitespace@1765..1766 "\n"
      RBrace@1766..1767 "}"
      Whitespace@1767..1768 "\n"