FILE@0..472
  FN@0..147
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..11 "cut_pair"
    PARAM_LIST@11..22
      LParen@11..12 "("
      PARAM@12..20
        Ident@12..14 "ok"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_BOOL@16..20
          BoolKeyword@16..20 "bool"
      RParen@20..21 ")"
      Whitespace@21..22 " "
    Arrow@22..24 "->"
    Whitespace@24..25 " "
    TYPE_TAPP@25..50
      PATH@25..31
        Ident@25..31 "Option"
      TYPE_PARAM_LIST@31..50
        LBracket@31..32 "["
        TYPE_TUPLE@32..48
          TYPE_LIST@32..48
            LParen@32..33 "("
            TYPE_STRING@33..39
              StringKeyword@33..39 "string"
            Comma@39..40 ","
            Whitespace@40..41 " "
            TYPE_STRING@41..47
              StringKeyword@41..47 "string"
            RParen@47..48 ")"
        RBracket@48..49 "]"
        Whitespace@49..50 " "
    BLOCK@50..147
      LBrace@50..51 "{"
      Whitespace@51..56 "\n    "
      EXPR_IF@56..144
        IfKeyword@56..58 "if"
        Whitespace@58..59 " "
        EXPR_IF_COND@59..62
          EXPR_IDENT@59..62
            PATH@59..62
              Ident@59..61 "ok"
              Whitespace@61..62 " "
        EXPR_IF_THEN@62..110
          BLOCK@62..110
            LBrace@62..63 "{"
            Whitespace@63..72 "\n        "
            EXPR_CALL@72..108
              EXPR_IDENT@72..84
                PATH@72..84
                  Ident@72..78 "Option"
                  ColonColon@78..80 "::"
                  Ident@80..84 "Some"
              ARG_LIST@84..108
                LParen@84..85 "("
                ARG@85..102
                  EXPR_TUPLE@85..102
                    LParen@85..86 "("
                    EXPR_STR@86..92
                      Str@86..92 "\"left\""
                    Comma@92..93 ","
                    Whitespace@93..94 " "
                    EXPR_STR@94..101
                      Str@94..101 "\"right\""
                    RParen@101..102 ")"
                RParen@102..103 ")"
                Whitespace@103..108 "\n    "
            RBrace@108..109 "}"
            Whitespace@109..110 " "
        ElseKeyword@110..114 "else"
        Whitespace@114..115 " "
        EXPR_IF_ELSE@115..144
          BLOCK@115..144
            LBrace@115..116 "{"
            Whitespace@116..125 "\n        "
            EXPR_IDENT@125..142
              PATH@125..142
                Ident@125..131 "Option"
                ColonColon@131..133 "::"
                Ident@133..137 "None"
                Whitespace@137..142 "\n    "
            RBrace@142..143 "}"
            Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..147 "\n\n"
  FN@147..239
    FnKeyword@147..149 "fn"
    Whitespace@149..150 " "
    Ident@150..155 "check"
    PARAM_LIST@155..166
      LParen@155..156 "("
      PARAM@156..164
        Ident@156..158 "ok"
        Colon@158..159 ":"
        Whitespace@159..160 " "
        TYPE_BOOL@160..164
          BoolKeyword@160..164 "bool"
      RParen@164..165 ")"
      Whitespace@165..166 " "
    Arrow@166..168 "->"
    Whitespace@168..169 " "
    TYPE_TAPP@169..184
      PATH@169..175
        Ident@169..175 "Option"
      TYPE_PARAM_LIST@175..184
        LBracket@175..176 "["
        TYPE_STRING@176..182
          StringKeyword@176..182 "string"
        RBracket@182..183 "]"
        Whitespace@183..184 " "
    BLOCK@184..239
      LBrace@184..185 "{"
      Whitespace@185..190 "\n    "
      STMT_LET@190..217
        LetKeyword@190..193 "let"
        Whitespace@193..194 " "
        PATTERN_WILDCARD@194..196
          WildcardKeyword@194..195 "_"
          Whitespace@195..196 " "
        Eq@196..197 "="
        Whitespace@197..198 " "
        EXPR_TRY@198..211
          EXPR_CALL@198..210
            EXPR_IDENT@198..206
              PATH@198..206
                Ident@198..206 "cut_pair"
            ARG_LIST@206..210
              LParen@206..207 "("
              ARG@207..209
                EXPR_IDENT@207..209
                  PATH@207..209
                    Ident@207..209 "ok"
              RParen@209..210 ")"
          Question@210..211 "?"
        Semi@211..212 ";"
        Whitespace@212..217 "\n    "
      EXPR_CALL@217..236
        EXPR_IDENT@217..229
          PATH@217..229
            Ident@217..223 "Option"
            ColonColon@223..225 "::"
            Ident@225..229 "Some"
        ARG_LIST@229..236
          LParen@229..230 "("
          ARG@230..234
            EXPR_STR@230..234
              Str@230..234 "\"ok\""
          RParen@234..235 ")"
          Whitespace@235..236 "\n"
      RBrace@236..237 "}"
      Whitespace@237..239 "\n\n"
  FN@239..385
    FnKeyword@239..241 "fn"
    Whitespace@241..242 " "
    Ident@242..246 "show"
    PARAM_LIST@246..268
      LParen@246..247 "("
      PARAM@247..266
        Ident@247..250 "opt"
        Colon@250..251 ":"
        Whitespace@251..252 " "
        TYPE_TAPP@252..266
          PATH@252..258
            Ident@252..258 "Option"
          TYPE_PARAM_LIST@258..266
            LBracket@258..259 "["
            TYPE_STRING@259..265
              StringKeyword@259..265 "string"
            RBracket@265..266 "]"
      RParen@266..267 ")"
      Whitespace@267..268 " "
    Arrow@268..270 "->"
    Whitespace@270..271 " "
    TYPE_STRING@271..278
      StringKeyword@271..277 "string"
      Whitespace@277..278 " "
    BLOCK@278..385
      LBrace@278..279 "{"
      Whitespace@279..284 "\n    "
      EXPR_MATCH@284..382
        MatchKeyword@284..289 "match"
        Whitespace@289..290 " "
        EXPR_IDENT@290..294
          PATH@290..294
            Ident@290..293 "opt"
            Whitespace@293..294 " "
        MATCH_ARM_LIST@294..382
          LBrace@294..295 "{"
          Whitespace@295..304 "\n        "
          MATCH_ARM@304..342
            PATTERN_CONSTR@304..324
              PATH@304..316
                Ident@304..310 "Option"
                ColonColon@310..312 "::"
                Ident@312..316 "Some"
              LParen@316..317 "("
              PATTERN_VARIABLE@317..322
                Ident@317..322 "value"
              RParen@322..323 ")"
              Whitespace@323..324 " "
            FatArrow@324..326 "=>"
            Whitespace@326..327 " "
            EXPR_BINARY@327..342
              EXPR_STR@327..335
                Str@327..334 "\"some \""
                Whitespace@334..335 " "
              Plus@335..336 "+"
              Whitespace@336..337 " "
              EXPR_IDENT@337..342
                PATH@337..342
                  Ident@337..342 "value"
          Comma@342..343 ","
          Whitespace@343..352 "\n        "
          MATCH_ARM@352..374
            PATTERN_CONSTR@352..365
              PATH@352..365
                Ident@352..358 "Option"
                ColonColon@358..360 "::"
                Ident@360..364 "None"
                Whitespace@364..365 " "
            FatArrow@365..367 "=>"
            Whitespace@367..368 " "
            EXPR_STR@368..374
              Str@368..374 "\"none\""
          Comma@374..375 ","
          Whitespace@375..380 "\n    "
          RBrace@380..381 "}"
          Whitespace@381..382 "\n"
      RBrace@382..383 "}"
      Whitespace@383..385 "\n\n"
  FN@385..472
    FnKeyword@385..387 "fn"
    Whitespace@387..388 " "
    Ident@388..392 "main"
    PARAM_LIST@392..395
      LParen@392..393 "("
      RParen@393..394 ")"
      Whitespace@394..395 " "
    Arrow@395..397 "->"
    Whitespace@397..398 " "
    TYPE_UNIT@398..403
      UnitKeyword@398..402 "unit"
      Whitespace@402..403 " "
    BLOCK@403..472
      LBrace@403..404 "{"
      Whitespace@404..409 "\n    "
      STMT_EXPR@409..441
        EXPR_CALL@409..435
          EXPR_IDENT@409..416
            PATH@409..416
              Ident@409..416 "println"
          ARG_LIST@416..435
            LParen@416..417 "("
            ARG@417..434
              EXPR_CALL@417..434
                EXPR_IDENT@417..421
                  PATH@417..421
                    Ident@417..421 "show"
                ARG_LIST@421..434
                  LParen@421..422 "("
                  ARG@422..433
                    EXPR_CALL@422..433
                      EXPR_IDENT@422..427
                        PATH@422..427
                          Ident@422..427 "check"
                      ARG_LIST@427..433
                        LParen@427..428 "("
                        ARG@428..432
                          EXPR_BOOL@428..432
                            TrueKeyword@428..432 "true"
                        RParen@432..433 ")"
                  RParen@433..434 ")"
            RParen@434..435 ")"
        Semi@435..436 ";"
        Whitespace@436..441 "\n    "
      STMT_EXPR@441..470
        EXPR_CALL@441..468
          EXPR_IDENT@441..448
            PATH@441..448
              Ident@441..448 "println"
          ARG_LIST@448..468
            LParen@448..449 "("
            ARG@449..467
              EXPR_CALL@449..467
                EXPR_IDENT@449..453
                  PATH@449..453
                    Ident@449..453 "show"
                ARG_LIST@453..467
                  LParen@453..454 "("
                  ARG@454..466
                    EXPR_CALL@454..466
                      EXPR_IDENT@454..459
                        PATH@454..459
                          Ident@454..459 "check"
                      ARG_LIST@459..466
                        LParen@459..460 "("
                        ARG@460..465
                          EXPR_BOOL@460..465
                            FalseKeyword@460..465 "false"
                        RParen@465..466 ")"
                  RParen@466..467 ")"
            RParen@467..468 ")"
        Semi@468..469 ";"
        Whitespace@469..470 "\n"
      RBrace@470..471 "}"
      Whitespace@471..472 "\n"