FILE@0..714
  FN@0..65
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "range"
    PARAM_LIST@8..35
      LParen@8..9 "("
      PARAM@9..23
        Ident@9..14 "start"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_INT32@16..21
          Int32Keyword@16..21 "int32"
        Comma@21..22 ","
        Whitespace@22..23 " "
      PARAM@23..33
        Ident@23..26 "end"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..33
          Int32Keyword@28..33 "int32"
      RParen@33..34 ")"
      Whitespace@34..35 " "
    Arrow@35..37 "->"
    Whitespace@37..38 " "
    TYPE_INT32@38..44
      Int32Keyword@38..43 "int32"
      Whitespace@43..44 " "
    BLOCK@44..65
      LBrace@44..45 "{"
      Whitespace@45..50 "\n    "
      EXPR_BINARY@50..62
        EXPR_IDENT@50..56
          PATH@50..56
            Ident@50..55 "start"
            Whitespace@55..56 " "
        Plus@56..57 "+"
        Whitespace@57..58 " "
        EXPR_IDENT@58..62
          PATH@58..62
            Ident@58..61 "end"
            Whitespace@61..62 "\n"
      RBrace@62..63 "}"
      Whitespace@63..65 "\n\n"
  FN@65..160
    FnKeyword@65..67 "fn"
    Whitespace@67..68 " "
    Ident@68..76 "endpoint"
    PARAM_LIST@76..106
      LParen@76..77 "("
      PARAM@77..94
        Ident@77..82 "calls"
        Colon@82..83 ":"
        Whitespace@83..84 " "
        TYPE_TAPP@84..92
          PATH@84..87
            Ident@84..87 "Ref"
          TYPE_PARAM_LIST@87..92
            LBracket@87..88 "["
            TYPE_INT@88..91
              IntKeyword@88..91 "int"
            RBracket@91..92 "]"
        Comma@92..93 ","
        Whitespace@93..94 " "
      PARAM@94..104
        Ident@94..99 "value"
        Colon@99..100 ":"
        Whitespace@100..101 " "
        TYPE_INT@101..104
          IntKeyword@101..104 "int"
      RParen@104..105 ")"
      Whitespace@105..106 " "
    Arrow@106..108 "->"
    Whitespace@108..109 " "
    TYPE_INT@109..113
      IntKeyword@109..112 "int"
      Whitespace@112..113 " "
    BLOCK@113..160
      LBrace@113..114 "{"
      Whitespace@114..119 "\n    "
      STMT_EXPR@119..151
        EXPR_CALL@119..145
          EXPR_BINARY@119..128
            EXPR_IDENT@119..124
              PATH@119..124
                Ident@119..124 "calls"
            Dot@124..125 "."
            EXPR_IDENT@125..128
              PATH@125..128
                Ident@125..128 "set"
          ARG_LIST@128..145
            LParen@128..129 "("
            ARG@129..144
              EXPR_BINARY@129..144
                EXPR_CALL@129..141
                  EXPR_BINARY@129..138
                    EXPR_IDENT@129..134
                      PATH@129..134
                        Ident@129..134 "calls"
                    Dot@134..135 "."
                    EXPR_IDENT@135..138
                      PATH@135..138
                        Ident@135..138 "get"
                  ARG_LIST@138..141
                    LParen@138..139 "("
                    RParen@139..140 ")"
                    Whitespace@140..141 " "
                Plus@141..142 "+"
                Whitespace@142..143 " "
                EXPR_INT@143..144
                  Int@143..144 "1"
            RParen@144..145 ")"
        Semi@145..146 ";"
        Whitespace@146..151 "\n    "
      EXPR_IDENT@151..157
        PATH@151..157
          Ident@151..156 "value"
          Whitespace@156..157 "\n"
      RBrace@157..158 "}"
      Whitespace@158..160 "\n\n"
  FN@160..714
    FnKeyword@160..162 "fn"
    Whitespace@162..163 " "
    Ident@163..167 "main"
    PARAM_LIST@167..170
      LParen@167..168 "("
      RParen@168..169 ")"
      Whitespace@169..170 " "
    Arrow@170..172 "->"
    Whitespace@172..173 " "
    TYPE_UNIT@173..178
      UnitKeyword@173..177 "unit"
      Whitespace@177..178 " "
    BLOCK@178..714
      LBrace@178..179 "{"
      Whitespace@179..184 "\n    "
      STMT_EXPR@184..238
        EXPR_FOR@184..238
          ForKeyword@184..187 "for"
          Whitespace@187..188 " "
          PATTERN_VARIABLE@188..194
            Ident@188..193 "value"
            Whitespace@193..194 " "
          InKeyword@194..196 "in"
          Whitespace@196..197 " "
          EXPR_RANGE@197..202
            EXPR_INT@197..198
              Int@197..198 "1"
            DotDot@198..200 ".."
            EXPR_INT@200..202
              Int@200..201 "4"
              Whitespace@201..202 " "
          BLOCK@202..238
            LBrace@202..203 "{"
            Whitespace@203..212 "\n        "
            STMT_EXPR@212..232
              EXPR_CALL@212..226
                EXPR_IDENT@212..219
                  PATH@212..219
                    Ident@212..219 "println"
                ARG_LIST@219..226
                  LParen@219..220 "("
                  ARG@220..225
                    EXPR_IDENT@220..225
                      PATH@220..225
                        Ident@220..225 "value"
                  RParen@225..226 ")"
              Semi@226..227 ";"
              Whitespace@227..232 "\n    "
            RBrace@232..233 "}"
            Whitespace@233..238 "\n    "
      STMT_LET@238..267
        LetKeyword@238..241 "let"
        Whitespace@241..242 " "
        PATTERN_VARIABLE@242..248
          Ident@242..247 "calls"
          Whitespace@247..248 " "
        Eq@248..249 "="
        Whitespace@249..250 " "
        EXPR_CALL@250..261
          EXPR_IDENT@250..258
            PATH@250..258
              Ident@250..253 "Ref"
              ColonColon@253..255 "::"
              Ident@255..258 "new"
          ARG_LIST@258..261
            LParen@258..259 "("
            ARG@259..260
              EXPR_INT@259..260
                Int@259..260 "0"
            RParen@260..261 ")"
        Semi@261..262 ";"
        Whitespace@262..267 "\n    "
      STMT_EXPR@267..356
        EXPR_FOR@267..356
          ForKeyword@267..270 "for"
          Whitespace@270..271 " "
          PATTERN_VARIABLE@271..277
            Ident@271..276 "value"
            Whitespace@276..277 " "
          InKeyword@277..279 "in"
          Whitespace@279..280 " "
          EXPR_RANGE@280..320
            EXPR_CALL@280..298
              EXPR_IDENT@280..288
                PATH@280..288
                  Ident@280..288 "endpoint"
              ARG_LIST@288..298
                LParen@288..289 "("
                ARG@289..296
                  EXPR_IDENT@289..294
                    PATH@289..294
                      Ident@289..294 "calls"
                  Comma@294..295 ","
                  Whitespace@295..296 " "
                ARG@296..297
                  EXPR_INT@296..297
                    Int@296..297 "4"
                RParen@297..298 ")"
            DotDotEq@298..301 "..="
            EXPR_CALL@301..320
              EXPR_IDENT@301..309
                PATH@301..309
                  Ident@301..309 "endpoint"
              ARG_LIST@309..320
                LParen@309..310 "("
                ARG@310..317
                  EXPR_IDENT@310..315
                    PATH@310..315
                      Ident@310..315 "calls"
                  Comma@315..316 ","
                  Whitespace@316..317 " "
                ARG@317..318
                  EXPR_INT@317..318
                    Int@317..318 "6"
                RParen@318..319 ")"
                Whitespace@319..320 " "
          BLOCK@320..356
            LBrace@320..321 "{"
            Whitespace@321..330 "\n        "
            STMT_EXPR@330..350
              EXPR_CALL@330..344
                EXPR_IDENT@330..337
                  PATH@330..337
                    Ident@330..337 "println"
                ARG_LIST@337..344
                  LParen@337..338 "("
                  ARG@338..343
                    EXPR_IDENT@338..343
                      PATH@338..343
                        Ident@338..343 "value"
                  RParen@343..344 ")"
              Semi@344..345 ";"
              Whitespace@345..350 "\n    "
            RBrace@350..351 "}"
            Whitespace@351..356 "\n    "
      STMT_EXPR@356..411
        EXPR_FOR@356..411
          ForKeyword@356..359 "for"
          Whitespace@359..360 " "
          PATTERN_VARIABLE@360..366
            Ident@360..365 "value"
            Whitespace@365..366 " "
          InKeyword@366..368 "in"
          Whitespace@368..369 " "
          EXPR_RANGE@369..375
            EXPR_INT@369..370
              Int@369..370 "3"
            DotDotEq@370..373 "..="
            EXPR_INT@373..375
              Int@373..374 "1"
              Whitespace@374..375 " "
          BLOCK@375..411
            LBrace@375..376 "{"
            Whitespace@376..385 "\n        "
            STMT_EXPR@385..405
              EXPR_CALL@385..399
                EXPR_IDENT@385..392
                  PATH@385..392
                    Ident@385..392 "println"
                ARG_LIST@392..399
                  LParen@392..393 "("
                  ARG@393..398
                    EXPR_IDENT@393..398
                      PATH@393..398
                        Ident@393..398 "value"
                  RParen@398..399 ")"
              Semi@399..400 ";"
              Whitespace@400..405 "\n    "
            RBrace@405..406 "}"
            Whitespace@406..411 "\n    "
      STMT_LET@411..450
        LetKeyword@411..414 "let"
        Whitespace@414..415 " "
        PATTERN_VARIABLE@415..423
          Ident@415..422 "maximum"
          Whitespace@422..423 " "
        Eq@423..424 "="
        Whitespace@424..425 " "
        EXPR_INT@425..444
          Int@425..444 "9223372036854775807"
        Semi@444..445 ";"
        Whitespace@445..450 "\n    "
      STMT_EXPR@450..517
        EXPR_FOR@450..517
          ForKeyword@450..453 "for"
          Whitespace@453..454 " "
          PATTERN_VARIABLE@454..460
            Ident@454..459 "value"
            Whitespace@459..460 " "
          InKeyword@460..462 "in"
          Whitespace@462..463 " "
          EXPR_RANGE@463..481
            EXPR_IDENT@463..470
              PATH@463..470
                Ident@463..470 "maximum"
            DotDotEq@470..473 "..="
            EXPR_IDENT@473..481
              PATH@473..481
                Ident@473..480 "maximum"
                Whitespace@480..481 " "
          BLOCK@481..517
            LBrace@481..482 "{"
            Whitespace@482..491 "\n        "
            STMT_EXPR@491..511
              EXPR_CALL@491..505
                EXPR_IDENT@491..498
                  PATH@491..498
                    Ident@491..498 "println"
                ARG_LIST@498..505
                  LParen@498..499 "("
                  ARG@499..504
                    EXPR_IDENT@499..504
                      PATH@499..504
                        Ident@499..504 "value"
                  RParen@504..505 ")"
              Semi@505..506 ";"
              Whitespace@506..511 "\n    "
            RBrace@511..512 "}"
            Whitespace@512..517 "\n    "
      STMT_LET@517..543
        LetKeyword@517..520 "let"
        Whitespace@520..521 " "
        PATTERN_VARIABLE@521..530
          Ident@521..529 "iterator"
          Whitespace@529..530 " "
        Eq@530..531 "="
        Whitespace@531..532 " "
        EXPR_RANGE@532..537
          EXPR_INT@532..533
            Int@532..533 "8"
          DotDotEq@533..536 "..="
          EXPR_INT@536..537
            Int@536..537 "8"
        Semi@537..538 ";"
        Whitespace@538..543 "\n    "
      STMT_EXPR@543..662
        EXPR_MATCH@543..656
          MatchKeyword@543..548 "match"
          Whitespace@548..549 " "
          EXPR_CALL@549..574
            EXPR_IDENT@549..563
              PATH@549..563
                Ident@549..557 "Iterator"
                ColonColon@557..559 "::"
                Ident@559..563 "next"
            ARG_LIST@563..574
              LParen@563..564 "("
              ARG@564..572
                EXPR_IDENT@564..572
                  PATH@564..572
                    Ident@564..572 "iterator"
              RParen@572..573 ")"
              Whitespace@573..574 " "
          MATCH_ARM_LIST@574..656
            LBrace@574..575 "{"
            Whitespace@575..584 "\n        "
            MATCH_ARM@584..613
              PATTERN_CONSTR@584..596
                PATH@584..588
                  Ident@584..588 "Some"
                LParen@588..589 "("
                PATTERN_VARIABLE@589..594
                  Ident@589..594 "value"
                RParen@594..595 ")"
                Whitespace@595..596 " "
              FatArrow@596..598 "=>"
              Whitespace@598..599 " "
              EXPR_CALL@599..613
                EXPR_IDENT@599..606
                  PATH@599..606
                    Ident@599..606 "println"
                ARG_LIST@606..613
                  LParen@606..607 "("
                  ARG@607..612
                    EXPR_IDENT@607..612
                      PATH@607..612
                        Ident@607..612 "value"
                  RParen@612..613 ")"
            Comma@613..614 ","
            Whitespace@614..623 "\n        "
            MATCH_ARM@623..649
              PATTERN_CONSTR@623..628
                PATH@623..628
                  Ident@623..627 "None"
                  Whitespace@627..628 " "
              FatArrow@628..630 "=>"
              Whitespace@630..631 " "
              EXPR_CALL@631..649
                EXPR_IDENT@631..638
                  PATH@631..638
                    Ident@631..638 "println"
                ARG_LIST@638..649
                  LParen@638..639 "("
                  ARG@639..648
                    EXPR_STR@639..648
                      Str@639..648 "\"missing\""
                  RParen@648..649 ")"
            Comma@649..650 ","
            Whitespace@650..655 "\n    "
            RBrace@655..656 "}"
        Semi@656..657 ";"
        Whitespace@657..662 "\n    "
      STMT_EXPR@662..688
        EXPR_CALL@662..682
          EXPR_IDENT@662..669
            PATH@662..669
              Ident@662..669 "println"
          ARG_LIST@669..682
            LParen@669..670 "("
            ARG@670..681
              EXPR_CALL@670..681
                EXPR_BINARY@670..679
                  EXPR_IDENT@670..675
                    PATH@670..675
                      Ident@670..675 "calls"
                  Dot@675..676 "."
                  EXPR_IDENT@676..679
                    PATH@676..679
                      Ident@676..679 "get"
                ARG_LIST@679..681
                  LParen@679..680 "("
                  RParen@680..681 ")"
            RParen@681..682 ")"
        Semi@682..683 ";"
        Whitespace@683..688 "\n    "
      STMT_EXPR@688..712
        EXPR_CALL@688..710
          EXPR_IDENT@688..695
            PATH@688..695
              Ident@688..695 "println"
          ARG_LIST@695..710
            LParen@695..696 "("
            ARG@696..709
              EXPR_CALL@696..709
                EXPR_IDENT@696..701
                  PATH@696..701
                    Ident@696..701 "range"
                ARG_LIST@701..709
                  LParen@701..702 "("
                  ARG@702..706
                    EXPR_INT@702..704
                      Int@702..704 "10"
                    Comma@704..705 ","
                    Whitespace@705..706 " "
                  ARG@706..708
                    EXPR_INT@706..708
                      Int@706..708 "20"
                  RParen@708..709 ")"
            RParen@709..710 ")"
        Semi@710..711 ";"
        Whitespace@711..712 "\n"
      RBrace@712..713 "}"
      Whitespace@713..714 "\n"