FILE@0..687
  STRUCT@0..44
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..22 "AlwaysDifferent"
    Whitespace@22..23 " "
    LBrace@23..24 "{"
    Whitespace@24..29 "\n    "
    STRUCT_FIELD_LIST@29..44
      STRUCT_FIELD@29..39
        Ident@29..34 "value"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..39
          I32Keyword@36..39 "i32"
      Comma@39..40 ","
      Whitespace@40..41 "\n"
      RBrace@41..42 "}"
      Whitespace@42..44 "\n\n"
  IMPL@44..154
    ImplKeyword@44..48 "impl"
    Whitespace@48..49 " "
    TYPE_TAPP@49..59
      PATH@49..59
        Ident@49..58 "PartialEq"
        Whitespace@58..59 " "
    ForKeyword@59..62 "for"
    Whitespace@62..63 " "
    TYPE_TAPP@63..79
      PATH@63..79
        Ident@63..78 "AlwaysDifferent"
        Whitespace@78..79 " "
    LBrace@79..80 "{"
    Whitespace@80..85 "\n    "
    FN@85..151
      FnKeyword@85..87 "fn"
      Whitespace@87..88 " "
      Ident@88..90 "eq"
      PARAM_LIST@90..121
        LParen@90..91 "("
        PARAM@91..97
          Ident@91..95 "self"
          Comma@95..96 ","
          Whitespace@96..97 " "
        PARAM@97..119
          Ident@97..102 "other"
          Colon@102..103 ":"
          Whitespace@103..104 " "
          TYPE_TAPP@104..119
            PATH@104..119
              Ident@104..119 "AlwaysDifferent"
        RParen@119..120 ")"
        Whitespace@120..121 " "
      Arrow@121..123 "->"
      Whitespace@123..124 " "
      TYPE_BOOL@124..129
        BoolKeyword@124..128 "bool"
        Whitespace@128..129 " "
      BLOCK@129..151
        LBrace@129..130 "{"
        Whitespace@130..139 "\n        "
        EXPR_BOOL@139..149
          FalseKeyword@139..144 "false"
          Whitespace@144..149 "\n    "
        RBrace@149..150 "}"
        Whitespace@150..151 "\n"
    RBrace@151..152 "}"
    Whitespace@152..154 "\n\n"
  FN@154..687
    FnKeyword@154..156 "fn"
    Whitespace@156..157 " "
    Ident@157..161 "main"
    PARAM_LIST@161..164
      LParen@161..162 "("
      RParen@162..163 ")"
      Whitespace@163..164 " "
    Arrow@164..166 "->"
    Whitespace@166..167 " "
    TYPE_TUPLE@167..170
      TYPE_LIST@167..170
        LParen@167..168 "("
        RParen@168..169 ")"
        Whitespace@169..170 " "
    BLOCK@170..687
      LBrace@170..171 "{"
      Whitespace@171..176 "\n    "
      STMT_LET@176..222
        LetKeyword@176..179 "let"
        Whitespace@179..180 " "
        PATTERN_VARIABLE@180..186
          Ident@180..185 "first"
          Whitespace@185..186 " "
        Eq@186..187 "="
        Whitespace@187..188 " "
        EXPR_STRUCT_LITERAL@188..216
          PATH@188..204
            Ident@188..203 "AlwaysDifferent"
            Whitespace@203..204 " "
          STRUCT_LITERAL_FIELD_LIST@204..216
            LBrace@204..205 "{"
            Whitespace@205..206 " "
            STRUCT_LITERAL_FIELD@206..215
              Ident@206..211 "value"
              Colon@211..212 ":"
              Whitespace@212..213 " "
              EXPR_INT@213..215
                Int@213..214 "7"
                Whitespace@214..215 " "
            RBrace@215..216 "}"
        Semi@216..217 ";"
        Whitespace@217..222 "\n    "
      STMT_LET@222..269
        LetKeyword@222..225 "let"
        Whitespace@225..226 " "
        PATTERN_VARIABLE@226..233
          Ident@226..232 "second"
          Whitespace@232..233 " "
        Eq@233..234 "="
        Whitespace@234..235 " "
        EXPR_STRUCT_LITERAL@235..263
          PATH@235..251
            Ident@235..250 "AlwaysDifferent"
            Whitespace@250..251 " "
          STRUCT_LITERAL_FIELD_LIST@251..263
            LBrace@251..252 "{"
            Whitespace@252..253 " "
            STRUCT_LITERAL_FIELD@253..262
              Ident@253..258 "value"
              Colon@258..259 ":"
              Whitespace@259..260 " "
              EXPR_INT@260..262
                Int@260..261 "7"
                Whitespace@261..262 " "
            RBrace@262..263 "}"
        Semi@263..264 ";"
        Whitespace@264..269 "\n    "
      STMT_EXPR@269..299
        EXPR_CALL@269..293
          EXPR_IDENT@269..276
            PATH@269..276
              Ident@269..276 "println"
          ARG_LIST@276..293
            LParen@276..277 "("
            ARG@277..292
              EXPR_BINARY@277..292
                EXPR_IDENT@277..283
                  PATH@277..283
                    Ident@277..282 "first"
                    Whitespace@282..283 " "
                EqEq@283..285 "=="
                Whitespace@285..286 " "
                EXPR_IDENT@286..292
                  PATH@286..292
                    Ident@286..292 "second"
            RParen@292..293 ")"
        Semi@293..294 ";"
        Whitespace@294..299 "\n    "
      STMT_EXPR@299..329
        EXPR_CALL@299..323
          EXPR_IDENT@299..306
            PATH@299..306
              Ident@299..306 "println"
          ARG_LIST@306..323
            LParen@306..307 "("
            ARG@307..322
              EXPR_BINARY@307..322
                EXPR_IDENT@307..313
                  PATH@307..313
                    Ident@307..312 "first"
                    Whitespace@312..313 " "
                NotEq@313..315 "!="
                Whitespace@315..316 " "
                EXPR_IDENT@316..322
                  PATH@316..322
                    Ident@316..322 "second"
            RParen@322..323 ")"
        Semi@323..324 ";"
        Whitespace@324..329 "\n    "
      STMT_LET@329..385
        LetKeyword@329..332 "let"
        Whitespace@332..333 " "
        PATTERN_VARIABLE@333..344
          Ident@333..343 "left_tuple"
          Whitespace@343..344 " "
        Eq@344..345 "="
        Whitespace@345..346 " "
        EXPR_TUPLE@346..379
          LParen@346..347 "("
          EXPR_STRUCT_LITERAL@347..375
            PATH@347..363
              Ident@347..362 "AlwaysDifferent"
              Whitespace@362..363 " "
            STRUCT_LITERAL_FIELD_LIST@363..375
              LBrace@363..364 "{"
              Whitespace@364..365 " "
              STRUCT_LITERAL_FIELD@365..374
                Ident@365..370 "value"
                Colon@370..371 ":"
                Whitespace@371..372 " "
                EXPR_INT@372..374
                  Int@372..373 "1"
                  Whitespace@373..374 " "
              RBrace@374..375 "}"
          Comma@375..376 ","
          Whitespace@376..377 " "
          EXPR_INT@377..378
            Int@377..378 "2"
          RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..385 "\n    "
      STMT_LET@385..442
        LetKeyword@385..388 "let"
        Whitespace@388..389 " "
        PATTERN_VARIABLE@389..401
          Ident@389..400 "right_tuple"
          Whitespace@400..401 " "
        Eq@401..402 "="
        Whitespace@402..403 " "
        EXPR_TUPLE@403..436
          LParen@403..404 "("
          EXPR_STRUCT_LITERAL@404..432
            PATH@404..420
              Ident@404..419 "AlwaysDifferent"
              Whitespace@419..420 " "
            STRUCT_LITERAL_FIELD_LIST@420..432
              LBrace@420..421 "{"
              Whitespace@421..422 " "
              STRUCT_LITERAL_FIELD@422..431
                Ident@422..427 "value"
                Colon@427..428 ":"
                Whitespace@428..429 " "
                EXPR_INT@429..431
                  Int@429..430 "1"
                  Whitespace@430..431 " "
              RBrace@431..432 "}"
          Comma@432..433 ","
          Whitespace@433..434 " "
          EXPR_INT@434..435
            Int@434..435 "2"
          RParen@435..436 ")"
        Semi@436..437 ";"
        Whitespace@437..442 "\n    "
      STMT_EXPR@442..482
        EXPR_CALL@442..476
          EXPR_IDENT@442..449
            PATH@442..449
              Ident@442..449 "println"
          ARG_LIST@449..476
            LParen@449..450 "("
            ARG@450..475
              EXPR_BINARY@450..475
                EXPR_IDENT@450..461
                  PATH@450..461
                    Ident@450..460 "left_tuple"
                    Whitespace@460..461 " "
                EqEq@461..463 "=="
                Whitespace@463..464 " "
                EXPR_IDENT@464..475
                  PATH@464..475
                    Ident@464..475 "right_tuple"
            RParen@475..476 ")"
        Semi@476..477 ";"
        Whitespace@477..482 "\n    "
      STMT_LET@482..565
        LetKeyword@482..485 "let"
        Whitespace@485..486 " "
        PATTERN_VARIABLE@486..497
          Ident@486..496 "left_array"
          Whitespace@496..497 " "
        Eq@497..498 "="
        Whitespace@498..499 " "
        EXPR_ARRAY_LITERAL@499..559
          LBracket@499..500 "["
          EXPR_STRUCT_LITERAL@500..528
            PATH@500..516
              Ident@500..515 "AlwaysDifferent"
              Whitespace@515..516 " "
            STRUCT_LITERAL_FIELD_LIST@516..528
              LBrace@516..517 "{"
              Whitespace@517..518 " "
              STRUCT_LITERAL_FIELD@518..527
                Ident@518..523 "value"
                Colon@523..524 ":"
                Whitespace@524..525 " "
                EXPR_INT@525..527
                  Int@525..526 "1"
                  Whitespace@526..527 " "
              RBrace@527..528 "}"
          Comma@528..529 ","
          Whitespace@529..530 " "
          EXPR_STRUCT_LITERAL@530..558
            PATH@530..546
              Ident@530..545 "AlwaysDifferent"
              Whitespace@545..546 " "
            STRUCT_LITERAL_FIELD_LIST@546..558
              LBrace@546..547 "{"
              Whitespace@547..548 " "
              STRUCT_LITERAL_FIELD@548..557
                Ident@548..553 "value"
                Colon@553..554 ":"
                Whitespace@554..555 " "
                EXPR_INT@555..557
                  Int@555..556 "2"
                  Whitespace@556..557 " "
              RBrace@557..558 "}"
          RBracket@558..559 "]"
        Semi@559..560 ";"
        Whitespace@560..565 "\n    "
      STMT_LET@565..649
        LetKeyword@565..568 "let"
        Whitespace@568..569 " "
        PATTERN_VARIABLE@569..581
          Ident@569..580 "right_array"
          Whitespace@580..581 " "
        Eq@581..582 "="
        Whitespace@582..583 " "
        EXPR_ARRAY_LITERAL@583..643
          LBracket@583..584 "["
          EXPR_STRUCT_LITERAL@584..612
            PATH@584..600
              Ident@584..599 "AlwaysDifferent"
              Whitespace@599..600 " "
            STRUCT_LITERAL_FIELD_LIST@600..612
              LBrace@600..601 "{"
              Whitespace@601..602 " "
              STRUCT_LITERAL_FIELD@602..611
                Ident@602..607 "value"
                Colon@607..608 ":"
                Whitespace@608..609 " "
                EXPR_INT@609..611
                  Int@609..610 "1"
                  Whitespace@610..611 " "
              RBrace@611..612 "}"
          Comma@612..613 ","
          Whitespace@613..614 " "
          EXPR_STRUCT_LITERAL@614..642
            PATH@614..630
              Ident@614..629 "AlwaysDifferent"
              Whitespace@629..630 " "
            STRUCT_LITERAL_FIELD_LIST@630..642
              LBrace@630..631 "{"
              Whitespace@631..632 " "
              STRUCT_LITERAL_FIELD@632..641
                Ident@632..637 "value"
                Colon@637..638 ":"
                Whitespace@638..639 " "
                EXPR_INT@639..641
                  Int@639..640 "2"
                  Whitespace@640..641 " "
              RBrace@641..642 "}"
          RBracket@642..643 "]"
        Semi@643..644 ";"
        Whitespace@644..649 "\n    "
      STMT_EXPR@649..685
        EXPR_CALL@649..683
          EXPR_IDENT@649..656
            PATH@649..656
              Ident@649..656 "println"
          ARG_LIST@656..683
            LParen@656..657 "("
            ARG@657..682
              EXPR_BINARY@657..682
                EXPR_IDENT@657..668
                  PATH@657..668
                    Ident@657..667 "left_array"
                    Whitespace@667..668 " "
                EqEq@668..670 "=="
                Whitespace@670..671 " "
                EXPR_IDENT@671..682
                  PATH@671..682
                    Ident@671..682 "right_array"
            RParen@682..683 ")"
        Semi@683..684 ";"
        Whitespace@684..685 "\n"
      RBrace@685..686 "}"
      Whitespace@686..687 "\n"