FILE@0..689
  STRUCT@0..44
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..22 "AlwaysDifferent"
    Whitespace@22..23 " "
    LBrace@23..24 "{"
    Whitespace@24..29 "\n    "
    STRUCT_FIELD_LIST@29..44
      STRUCT_FIELD@29..39
        Ident@29..34 "value"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..39
          I32Keyword@36..39 "i32"
      Comma@39..40 ","
      Whitespace@40..41 "\n"
      RBrace@41..42 "}"
      Whitespace@42..44 "\n\n"
  IMPL@44..154
    ImplKeyword@44..48 "impl"
    Whitespace@48..49 " "
    TYPE_TAPP@49..59
      PATH@49..59
        Ident@49..58 "PartialEq"
        Whitespace@58..59 " "
    ForKeyword@59..62 "for"
    Whitespace@62..63 " "
    TYPE_TAPP@63..79
      PATH@63..79
        Ident@63..78 "AlwaysDifferent"
        Whitespace@78..79 " "
    LBrace@79..80 "{"
    Whitespace@80..85 "\n    "
    FN@85..151
      FnKeyword@85..87 "fn"
      Whitespace@87..88 " "
      Ident@88..90 "eq"
      PARAM_LIST@90..121
        LParen@90..91 "("
        PARAM@91..97
          Ident@91..95 "self"
          Comma@95..96 ","
          Whitespace@96..97 " "
        PARAM@97..119
          Ident@97..102 "other"
          Colon@102..103 ":"
          Whitespace@103..104 " "
          TYPE_TAPP@104..119
            PATH@104..119
              Ident@104..119 "AlwaysDifferent"
        RParen@119..120 ")"
        Whitespace@120..121 " "
      Arrow@121..123 "->"
      Whitespace@123..124 " "
      TYPE_BOOL@124..129
        BoolKeyword@124..128 "bool"
        Whitespace@128..129 " "
      BLOCK@129..151
        LBrace@129..130 "{"
        Whitespace@130..139 "\n        "
        EXPR_BOOL@139..149
          FalseKeyword@139..144 "false"
          Whitespace@144..149 "\n    "
        RBrace@149..150 "}"
        Whitespace@150..151 "\n"
    RBrace@151..152 "}"
    Whitespace@152..154 "\n\n"
  FN@154..689
    FnKeyword@154..156 "fn"
    Whitespace@156..157 " "
    Ident@157..161 "main"
    PARAM_LIST@161..164
      LParen@161..162 "("
      RParen@162..163 ")"
      Whitespace@163..164 " "
    Arrow@164..166 "->"
    Whitespace@166..167 " "
    TYPE_UNIT@167..172
      UnitKeyword@167..171 "unit"
      Whitespace@171..172 " "
    BLOCK@172..689
      LBrace@172..173 "{"
      Whitespace@173..178 "\n    "
      STMT_LET@178..224
        LetKeyword@178..181 "let"
        Whitespace@181..182 " "
        PATTERN_VARIABLE@182..188
          Ident@182..187 "first"
          Whitespace@187..188 " "
        Eq@188..189 "="
        Whitespace@189..190 " "
        EXPR_STRUCT_LITERAL@190..218
          PATH@190..206
            Ident@190..205 "AlwaysDifferent"
            Whitespace@205..206 " "
          STRUCT_LITERAL_FIELD_LIST@206..218
            LBrace@206..207 "{"
            Whitespace@207..208 " "
            STRUCT_LITERAL_FIELD@208..217
              Ident@208..213 "value"
              Colon@213..214 ":"
              Whitespace@214..215 " "
              EXPR_INT@215..217
                Int@215..216 "7"
                Whitespace@216..217 " "
            RBrace@217..218 "}"
        Semi@218..219 ";"
        Whitespace@219..224 "\n    "
      STMT_LET@224..271
        LetKeyword@224..227 "let"
        Whitespace@227..228 " "
        PATTERN_VARIABLE@228..235
          Ident@228..234 "second"
          Whitespace@234..235 " "
        Eq@235..236 "="
        Whitespace@236..237 " "
        EXPR_STRUCT_LITERAL@237..265
          PATH@237..253
            Ident@237..252 "AlwaysDifferent"
            Whitespace@252..253 " "
          STRUCT_LITERAL_FIELD_LIST@253..265
            LBrace@253..254 "{"
            Whitespace@254..255 " "
            STRUCT_LITERAL_FIELD@255..264
              Ident@255..260 "value"
              Colon@260..261 ":"
              Whitespace@261..262 " "
              EXPR_INT@262..264
                Int@262..263 "7"
                Whitespace@263..264 " "
            RBrace@264..265 "}"
        Semi@265..266 ";"
        Whitespace@266..271 "\n    "
      STMT_EXPR@271..301
        EXPR_CALL@271..295
          EXPR_IDENT@271..278
            PATH@271..278
              Ident@271..278 "println"
          ARG_LIST@278..295
            LParen@278..279 "("
            ARG@279..294
              EXPR_BINARY@279..294
                EXPR_IDENT@279..285
                  PATH@279..285
                    Ident@279..284 "first"
                    Whitespace@284..285 " "
                EqEq@285..287 "=="
                Whitespace@287..288 " "
                EXPR_IDENT@288..294
                  PATH@288..294
                    Ident@288..294 "second"
            RParen@294..295 ")"
        Semi@295..296 ";"
        Whitespace@296..301 "\n    "
      STMT_EXPR@301..331
        EXPR_CALL@301..325
          EXPR_IDENT@301..308
            PATH@301..308
              Ident@301..308 "println"
          ARG_LIST@308..325
            LParen@308..309 "("
            ARG@309..324
              EXPR_BINARY@309..324
                EXPR_IDENT@309..315
                  PATH@309..315
                    Ident@309..314 "first"
                    Whitespace@314..315 " "
                NotEq@315..317 "!="
                Whitespace@317..318 " "
                EXPR_IDENT@318..324
                  PATH@318..324
                    Ident@318..324 "second"
            RParen@324..325 ")"
        Semi@325..326 ";"
        Whitespace@326..331 "\n    "
      STMT_LET@331..387
        LetKeyword@331..334 "let"
        Whitespace@334..335 " "
        PATTERN_VARIABLE@335..346
          Ident@335..345 "left_tuple"
          Whitespace@345..346 " "
        Eq@346..347 "="
        Whitespace@347..348 " "
        EXPR_TUPLE@348..381
          LParen@348..349 "("
          EXPR_STRUCT_LITERAL@349..377
            PATH@349..365
              Ident@349..364 "AlwaysDifferent"
              Whitespace@364..365 " "
            STRUCT_LITERAL_FIELD_LIST@365..377
              LBrace@365..366 "{"
              Whitespace@366..367 " "
              STRUCT_LITERAL_FIELD@367..376
                Ident@367..372 "value"
                Colon@372..373 ":"
                Whitespace@373..374 " "
                EXPR_INT@374..376
                  Int@374..375 "1"
                  Whitespace@375..376 " "
              RBrace@376..377 "}"
          Comma@377..378 ","
          Whitespace@378..379 " "
          EXPR_INT@379..380
            Int@379..380 "2"
          RParen@380..381 ")"
        Semi@381..382 ";"
        Whitespace@382..387 "\n    "
      STMT_LET@387..444
        LetKeyword@387..390 "let"
        Whitespace@390..391 " "
        PATTERN_VARIABLE@391..403
          Ident@391..402 "right_tuple"
          Whitespace@402..403 " "
        Eq@403..404 "="
        Whitespace@404..405 " "
        EXPR_TUPLE@405..438
          LParen@405..406 "("
          EXPR_STRUCT_LITERAL@406..434
            PATH@406..422
              Ident@406..421 "AlwaysDifferent"
              Whitespace@421..422 " "
            STRUCT_LITERAL_FIELD_LIST@422..434
              LBrace@422..423 "{"
              Whitespace@423..424 " "
              STRUCT_LITERAL_FIELD@424..433
                Ident@424..429 "value"
                Colon@429..430 ":"
                Whitespace@430..431 " "
                EXPR_INT@431..433
                  Int@431..432 "1"
                  Whitespace@432..433 " "
              RBrace@433..434 "}"
          Comma@434..435 ","
          Whitespace@435..436 " "
          EXPR_INT@436..437
            Int@436..437 "2"
          RParen@437..438 ")"
        Semi@438..439 ";"
        Whitespace@439..444 "\n    "
      STMT_EXPR@444..484
        EXPR_CALL@444..478
          EXPR_IDENT@444..451
            PATH@444..451
              Ident@444..451 "println"
          ARG_LIST@451..478
            LParen@451..452 "("
            ARG@452..477
              EXPR_BINARY@452..477
                EXPR_IDENT@452..463
                  PATH@452..463
                    Ident@452..462 "left_tuple"
                    Whitespace@462..463 " "
                EqEq@463..465 "=="
                Whitespace@465..466 " "
                EXPR_IDENT@466..477
                  PATH@466..477
                    Ident@466..477 "right_tuple"
            RParen@477..478 ")"
        Semi@478..479 ";"
        Whitespace@479..484 "\n    "
      STMT_LET@484..567
        LetKeyword@484..487 "let"
        Whitespace@487..488 " "
        PATTERN_VARIABLE@488..499
          Ident@488..498 "left_array"
          Whitespace@498..499 " "
        Eq@499..500 "="
        Whitespace@500..501 " "
        EXPR_ARRAY_LITERAL@501..561
          LBracket@501..502 "["
          EXPR_STRUCT_LITERAL@502..530
            PATH@502..518
              Ident@502..517 "AlwaysDifferent"
              Whitespace@517..518 " "
            STRUCT_LITERAL_FIELD_LIST@518..530
              LBrace@518..519 "{"
              Whitespace@519..520 " "
              STRUCT_LITERAL_FIELD@520..529
                Ident@520..525 "value"
                Colon@525..526 ":"
                Whitespace@526..527 " "
                EXPR_INT@527..529
                  Int@527..528 "1"
                  Whitespace@528..529 " "
              RBrace@529..530 "}"
          Comma@530..531 ","
          Whitespace@531..532 " "
          EXPR_STRUCT_LITERAL@532..560
            PATH@532..548
              Ident@532..547 "AlwaysDifferent"
              Whitespace@547..548 " "
            STRUCT_LITERAL_FIELD_LIST@548..560
              LBrace@548..549 "{"
              Whitespace@549..550 " "
              STRUCT_LITERAL_FIELD@550..559
                Ident@550..555 "value"
                Colon@555..556 ":"
                Whitespace@556..557 " "
                EXPR_INT@557..559
                  Int@557..558 "2"
                  Whitespace@558..559 " "
              RBrace@559..560 "}"
          RBracket@560..561 "]"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      STMT_LET@567..651
        LetKeyword@567..570 "let"
        Whitespace@570..571 " "
        PATTERN_VARIABLE@571..583
          Ident@571..582 "right_array"
          Whitespace@582..583 " "
        Eq@583..584 "="
        Whitespace@584..585 " "
        EXPR_ARRAY_LITERAL@585..645
          LBracket@585..586 "["
          EXPR_STRUCT_LITERAL@586..614
            PATH@586..602
              Ident@586..601 "AlwaysDifferent"
              Whitespace@601..602 " "
            STRUCT_LITERAL_FIELD_LIST@602..614
              LBrace@602..603 "{"
              Whitespace@603..604 " "
              STRUCT_LITERAL_FIELD@604..613
                Ident@604..609 "value"
                Colon@609..610 ":"
                Whitespace@610..611 " "
                EXPR_INT@611..613
                  Int@611..612 "1"
                  Whitespace@612..613 " "
              RBrace@613..614 "}"
          Comma@614..615 ","
          Whitespace@615..616 " "
          EXPR_STRUCT_LITERAL@616..644
            PATH@616..632
              Ident@616..631 "AlwaysDifferent"
              Whitespace@631..632 " "
            STRUCT_LITERAL_FIELD_LIST@632..644
              LBrace@632..633 "{"
              Whitespace@633..634 " "
              STRUCT_LITERAL_FIELD@634..643
                Ident@634..639 "value"
                Colon@639..640 ":"
                Whitespace@640..641 " "
                EXPR_INT@641..643
                  Int@641..642 "2"
                  Whitespace@642..643 " "
              RBrace@643..644 "}"
          RBracket@644..645 "]"
        Semi@645..646 ";"
        Whitespace@646..651 "\n    "
      STMT_EXPR@651..687
        EXPR_CALL@651..685
          EXPR_IDENT@651..658
            PATH@651..658
              Ident@651..658 "println"
          ARG_LIST@658..685
            LParen@658..659 "("
            ARG@659..684
              EXPR_BINARY@659..684
                EXPR_IDENT@659..670
                  PATH@659..670
                    Ident@659..669 "left_array"
                    Whitespace@669..670 " "
                EqEq@670..672 "=="
                Whitespace@672..673 " "
                EXPR_IDENT@673..684
                  PATH@673..684
                    Ident@673..684 "right_array"
            RParen@684..685 ")"
        Semi@685..686 ";"
        Whitespace@686..687 "\n"
      RBrace@687..688 "}"
      Whitespace@688..689 "\n"