FILE@0..691
  STRUCT@0..46
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..22 "AlwaysDifferent"
    Whitespace@22..23 " "
    LBrace@23..24 "{"
    Whitespace@24..29 "\n    "
    STRUCT_FIELD_LIST@29..46
      STRUCT_FIELD@29..41
        Ident@29..34 "value"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..41
          Int32Keyword@36..41 "int32"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  IMPL@46..156
    ImplKeyword@46..50 "impl"
    Whitespace@50..51 " "
    TYPE_TAPP@51..61
      PATH@51..61
        Ident@51..60 "PartialEq"
        Whitespace@60..61 " "
    ForKeyword@61..64 "for"
    Whitespace@64..65 " "
    TYPE_TAPP@65..81
      PATH@65..81
        Ident@65..80 "AlwaysDifferent"
        Whitespace@80..81 " "
    LBrace@81..82 "{"
    Whitespace@82..87 "\n    "
    FN@87..153
      FnKeyword@87..89 "fn"
      Whitespace@89..90 " "
      Ident@90..92 "eq"
      PARAM_LIST@92..123
        LParen@92..93 "("
        PARAM@93..99
          Ident@93..97 "self"
          Comma@97..98 ","
          Whitespace@98..99 " "
        PARAM@99..121
          Ident@99..104 "other"
          Colon@104..105 ":"
          Whitespace@105..106 " "
          TYPE_TAPP@106..121
            PATH@106..121
              Ident@106..121 "AlwaysDifferent"
        RParen@121..122 ")"
        Whitespace@122..123 " "
      Arrow@123..125 "->"
      Whitespace@125..126 " "
      TYPE_BOOL@126..131
        BoolKeyword@126..130 "bool"
        Whitespace@130..131 " "
      BLOCK@131..153
        LBrace@131..132 "{"
        Whitespace@132..141 "\n        "
        EXPR_BOOL@141..151
          FalseKeyword@141..146 "false"
          Whitespace@146..151 "\n    "
        RBrace@151..152 "}"
        Whitespace@152..153 "\n"
    RBrace@153..154 "}"
    Whitespace@154..156 "\n\n"
  FN@156..691
    FnKeyword@156..158 "fn"
    Whitespace@158..159 " "
    Ident@159..163 "main"
    PARAM_LIST@163..166
      LParen@163..164 "("
      RParen@164..165 ")"
      Whitespace@165..166 " "
    Arrow@166..168 "->"
    Whitespace@168..169 " "
    TYPE_UNIT@169..174
      UnitKeyword@169..173 "unit"
      Whitespace@173..174 " "
    BLOCK@174..691
      LBrace@174..175 "{"
      Whitespace@175..180 "\n    "
      STMT_LET@180..226
        LetKeyword@180..183 "let"
        Whitespace@183..184 " "
        PATTERN_VARIABLE@184..190
          Ident@184..189 "first"
          Whitespace@189..190 " "
        Eq@190..191 "="
        Whitespace@191..192 " "
        EXPR_STRUCT_LITERAL@192..220
          PATH@192..208
            Ident@192..207 "AlwaysDifferent"
            Whitespace@207..208 " "
          STRUCT_LITERAL_FIELD_LIST@208..220
            LBrace@208..209 "{"
            Whitespace@209..210 " "
            STRUCT_LITERAL_FIELD@210..219
              Ident@210..215 "value"
              Colon@215..216 ":"
              Whitespace@216..217 " "
              EXPR_INT@217..219
                Int@217..218 "7"
                Whitespace@218..219 " "
            RBrace@219..220 "}"
        Semi@220..221 ";"
        Whitespace@221..226 "\n    "
      STMT_LET@226..273
        LetKeyword@226..229 "let"
        Whitespace@229..230 " "
        PATTERN_VARIABLE@230..237
          Ident@230..236 "second"
          Whitespace@236..237 " "
        Eq@237..238 "="
        Whitespace@238..239 " "
        EXPR_STRUCT_LITERAL@239..267
          PATH@239..255
            Ident@239..254 "AlwaysDifferent"
            Whitespace@254..255 " "
          STRUCT_LITERAL_FIELD_LIST@255..267
            LBrace@255..256 "{"
            Whitespace@256..257 " "
            STRUCT_LITERAL_FIELD@257..266
              Ident@257..262 "value"
              Colon@262..263 ":"
              Whitespace@263..264 " "
              EXPR_INT@264..266
                Int@264..265 "7"
                Whitespace@265..266 " "
            RBrace@266..267 "}"
        Semi@267..268 ";"
        Whitespace@268..273 "\n    "
      STMT_EXPR@273..303
        EXPR_CALL@273..297
          EXPR_IDENT@273..280
            PATH@273..280
              Ident@273..280 "println"
          ARG_LIST@280..297
            LParen@280..281 "("
            ARG@281..296
              EXPR_BINARY@281..296
                EXPR_IDENT@281..287
                  PATH@281..287
                    Ident@281..286 "first"
                    Whitespace@286..287 " "
                EqEq@287..289 "=="
                Whitespace@289..290 " "
                EXPR_IDENT@290..296
                  PATH@290..296
                    Ident@290..296 "second"
            RParen@296..297 ")"
        Semi@297..298 ";"
        Whitespace@298..303 "\n    "
      STMT_EXPR@303..333
        EXPR_CALL@303..327
          EXPR_IDENT@303..310
            PATH@303..310
              Ident@303..310 "println"
          ARG_LIST@310..327
            LParen@310..311 "("
            ARG@311..326
              EXPR_BINARY@311..326
                EXPR_IDENT@311..317
                  PATH@311..317
                    Ident@311..316 "first"
                    Whitespace@316..317 " "
                NotEq@317..319 "!="
                Whitespace@319..320 " "
                EXPR_IDENT@320..326
                  PATH@320..326
                    Ident@320..326 "second"
            RParen@326..327 ")"
        Semi@327..328 ";"
        Whitespace@328..333 "\n    "
      STMT_LET@333..389
        LetKeyword@333..336 "let"
        Whitespace@336..337 " "
        PATTERN_VARIABLE@337..348
          Ident@337..347 "left_tuple"
          Whitespace@347..348 " "
        Eq@348..349 "="
        Whitespace@349..350 " "
        EXPR_TUPLE@350..383
          LParen@350..351 "("
          EXPR_STRUCT_LITERAL@351..379
            PATH@351..367
              Ident@351..366 "AlwaysDifferent"
              Whitespace@366..367 " "
            STRUCT_LITERAL_FIELD_LIST@367..379
              LBrace@367..368 "{"
              Whitespace@368..369 " "
              STRUCT_LITERAL_FIELD@369..378
                Ident@369..374 "value"
                Colon@374..375 ":"
                Whitespace@375..376 " "
                EXPR_INT@376..378
                  Int@376..377 "1"
                  Whitespace@377..378 " "
              RBrace@378..379 "}"
          Comma@379..380 ","
          Whitespace@380..381 " "
          EXPR_INT@381..382
            Int@381..382 "2"
          RParen@382..383 ")"
        Semi@383..384 ";"
        Whitespace@384..389 "\n    "
      STMT_LET@389..446
        LetKeyword@389..392 "let"
        Whitespace@392..393 " "
        PATTERN_VARIABLE@393..405
          Ident@393..404 "right_tuple"
          Whitespace@404..405 " "
        Eq@405..406 "="
        Whitespace@406..407 " "
        EXPR_TUPLE@407..440
          LParen@407..408 "("
          EXPR_STRUCT_LITERAL@408..436
            PATH@408..424
              Ident@408..423 "AlwaysDifferent"
              Whitespace@423..424 " "
            STRUCT_LITERAL_FIELD_LIST@424..436
              LBrace@424..425 "{"
              Whitespace@425..426 " "
              STRUCT_LITERAL_FIELD@426..435
                Ident@426..431 "value"
                Colon@431..432 ":"
                Whitespace@432..433 " "
                EXPR_INT@433..435
                  Int@433..434 "1"
                  Whitespace@434..435 " "
              RBrace@435..436 "}"
          Comma@436..437 ","
          Whitespace@437..438 " "
          EXPR_INT@438..439
            Int@438..439 "2"
          RParen@439..440 ")"
        Semi@440..441 ";"
        Whitespace@441..446 "\n    "
      STMT_EXPR@446..486
        EXPR_CALL@446..480
          EXPR_IDENT@446..453
            PATH@446..453
              Ident@446..453 "println"
          ARG_LIST@453..480
            LParen@453..454 "("
            ARG@454..479
              EXPR_BINARY@454..479
                EXPR_IDENT@454..465
                  PATH@454..465
                    Ident@454..464 "left_tuple"
                    Whitespace@464..465 " "
                EqEq@465..467 "=="
                Whitespace@467..468 " "
                EXPR_IDENT@468..479
                  PATH@468..479
                    Ident@468..479 "right_tuple"
            RParen@479..480 ")"
        Semi@480..481 ";"
        Whitespace@481..486 "\n    "
      STMT_LET@486..569
        LetKeyword@486..489 "let"
        Whitespace@489..490 " "
        PATTERN_VARIABLE@490..501
          Ident@490..500 "left_array"
          Whitespace@500..501 " "
        Eq@501..502 "="
        Whitespace@502..503 " "
        EXPR_ARRAY_LITERAL@503..563
          LBracket@503..504 "["
          EXPR_STRUCT_LITERAL@504..532
            PATH@504..520
              Ident@504..519 "AlwaysDifferent"
              Whitespace@519..520 " "
            STRUCT_LITERAL_FIELD_LIST@520..532
              LBrace@520..521 "{"
              Whitespace@521..522 " "
              STRUCT_LITERAL_FIELD@522..531
                Ident@522..527 "value"
                Colon@527..528 ":"
                Whitespace@528..529 " "
                EXPR_INT@529..531
                  Int@529..530 "1"
                  Whitespace@530..531 " "
              RBrace@531..532 "}"
          Comma@532..533 ","
          Whitespace@533..534 " "
          EXPR_STRUCT_LITERAL@534..562
            PATH@534..550
              Ident@534..549 "AlwaysDifferent"
              Whitespace@549..550 " "
            STRUCT_LITERAL_FIELD_LIST@550..562
              LBrace@550..551 "{"
              Whitespace@551..552 " "
              STRUCT_LITERAL_FIELD@552..561
                Ident@552..557 "value"
                Colon@557..558 ":"
                Whitespace@558..559 " "
                EXPR_INT@559..561
                  Int@559..560 "2"
                  Whitespace@560..561 " "
              RBrace@561..562 "}"
          RBracket@562..563 "]"
        Semi@563..564 ";"
        Whitespace@564..569 "\n    "
      STMT_LET@569..653
        LetKeyword@569..572 "let"
        Whitespace@572..573 " "
        PATTERN_VARIABLE@573..585
          Ident@573..584 "right_array"
          Whitespace@584..585 " "
        Eq@585..586 "="
        Whitespace@586..587 " "
        EXPR_ARRAY_LITERAL@587..647
          LBracket@587..588 "["
          EXPR_STRUCT_LITERAL@588..616
            PATH@588..604
              Ident@588..603 "AlwaysDifferent"
              Whitespace@603..604 " "
            STRUCT_LITERAL_FIELD_LIST@604..616
              LBrace@604..605 "{"
              Whitespace@605..606 " "
              STRUCT_LITERAL_FIELD@606..615
                Ident@606..611 "value"
                Colon@611..612 ":"
                Whitespace@612..613 " "
                EXPR_INT@613..615
                  Int@613..614 "1"
                  Whitespace@614..615 " "
              RBrace@615..616 "}"
          Comma@616..617 ","
          Whitespace@617..618 " "
          EXPR_STRUCT_LITERAL@618..646
            PATH@618..634
              Ident@618..633 "AlwaysDifferent"
              Whitespace@633..634 " "
            STRUCT_LITERAL_FIELD_LIST@634..646
              LBrace@634..635 "{"
              Whitespace@635..636 " "
              STRUCT_LITERAL_FIELD@636..645
                Ident@636..641 "value"
                Colon@641..642 ":"
                Whitespace@642..643 " "
                EXPR_INT@643..645
                  Int@643..644 "2"
                  Whitespace@644..645 " "
              RBrace@645..646 "}"
          RBracket@646..647 "]"
        Semi@647..648 ";"
        Whitespace@648..653 "\n    "
      STMT_EXPR@653..689
        EXPR_CALL@653..687
          EXPR_IDENT@653..660
            PATH@653..660
              Ident@653..660 "println"
          ARG_LIST@660..687
            LParen@660..661 "("
            ARG@661..686
              EXPR_BINARY@661..686
                EXPR_IDENT@661..672
                  PATH@661..672
                    Ident@661..671 "left_array"
                    Whitespace@671..672 " "
                EqEq@672..674 "=="
                Whitespace@674..675 " "
                EXPR_IDENT@675..686
                  PATH@675..686
                    Ident@675..686 "right_array"
            RParen@686..687 ")"
        Semi@687..688 ";"
        Whitespace@688..689 "\n"
      RBrace@689..690 "}"
      Whitespace@690..691 "\n"