FILE@0..261
  FN@0..261
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..261
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..44
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "i"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_CALL@24..38
          EXPR_IDENT@24..32
            PATH@24..32
              Ident@24..27 "Ref"
              ColonColon@27..29 "::"
              Ident@29..32 "new"
          ARG_LIST@32..38
            LParen@32..33 "("
            ARG@33..37
              EXPR_INT32@33..37
                Int32Lit@33..37 "0i32"
            RParen@37..38 ")"
        Semi@38..39 ";"
        Whitespace@39..44 "\n    "
      STMT_EXPR@44..234
        EXPR_WHILE@44..228
          WhileKeyword@44..49 "while"
          Whitespace@49..50 " "
          EXPR_WHILE_COND@50..66
            EXPR_BINARY@50..66
              EXPR_CALL@50..58
                EXPR_BINARY@50..55
                  EXPR_IDENT@50..51
                    PATH@50..51
                      Ident@50..51 "i"
                  Dot@51..52 "."
                  EXPR_IDENT@52..55
                    PATH@52..55
                      Ident@52..55 "get"
                ARG_LIST@55..58
                  LParen@55..56 "("
                  RParen@56..57 ")"
                  Whitespace@57..58 " "
              Less@58..59 "<"
              Whitespace@59..60 " "
              EXPR_INT32@60..66
                Int32Lit@60..65 "10i32"
                Whitespace@65..66 " "
          EXPR_WHILE_BODY@66..228
            BLOCK@66..228
              LBrace@66..67 "{"
              Whitespace@67..76 "\n        "
              STMT_EXPR@76..166
                EXPR_IF@76..156
                  IfKeyword@76..78 "if"
                  Whitespace@78..79 " "
                  EXPR_IF_COND@79..95
                    EXPR_BINARY@79..95
                      EXPR_CALL@79..87
                        EXPR_BINARY@79..84
                          EXPR_IDENT@79..80
                            PATH@79..80
                              Ident@79..80 "i"
                          Dot@80..81 "."
                          EXPR_IDENT@81..84
                            PATH@81..84
                              Ident@81..84 "get"
                        ARG_LIST@84..87
                          LParen@84..85 "("
                          RParen@85..86 ")"
                          Whitespace@86..87 " "
                      EqEq@87..89 "=="
                      Whitespace@89..90 " "
                      EXPR_INT32@90..95
                        Int32Lit@90..94 "5i32"
                        Whitespace@94..95 " "
                  EXPR_IF_THEN@95..125
                    BLOCK@95..125
                      LBrace@95..96 "{"
                      Whitespace@96..109 "\n            "
                      EXPR_BREAK@109..123
                        BreakKeyword@109..114 "break"
                        Whitespace@114..123 "\n        "
                      RBrace@123..124 "}"
                      Whitespace@124..125 " "
                  ElseKeyword@125..129 "else"
                  Whitespace@129..130 " "
                  EXPR_IF_ELSE@130..156
                    BLOCK@130..156
                      LBrace@130..131 "{"
                      Whitespace@131..144 "\n            "
                      EXPR_UNIT@144..155
                        LParen@144..145 "("
                        RParen@145..146 ")"
                        Whitespace@146..155 "\n        "
                      RBrace@155..156 "}"
                Semi@156..157 ";"
                Whitespace@157..166 "\n        "
              STMT_LET@166..200
                LetKeyword@166..169 "let"
                Whitespace@169..170 " "
                PATTERN_WILDCARD@170..172
                  WildcardKeyword@170..171 "_"
                  Whitespace@171..172 " "
                Eq@172..173 "="
                Whitespace@173..174 " "
                EXPR_CALL@174..190
                  EXPR_IDENT@174..181
                    PATH@174..181
                      Ident@174..181 "println"
                  ARG_LIST@181..190
                    LParen@181..182 "("
                    ARG@182..189
                      EXPR_CALL@182..189
                        EXPR_BINARY@182..187
                          EXPR_IDENT@182..183
                            PATH@182..183
                              Ident@182..183 "i"
                          Dot@183..184 "."
                          EXPR_IDENT@184..187
                            PATH@184..187
                              Ident@184..187 "get"
                        ARG_LIST@187..189
                          LParen@187..188 "("
                          RParen@188..189 ")"
                    RParen@189..190 ")"
                Semi@190..191 ";"
                Whitespace@191..200 "\n        "
              STMT_EXPR@200..227
                EXPR_CALL@200..221
                  EXPR_BINARY@200..205
                    EXPR_IDENT@200..201
                      PATH@200..201
                        Ident@200..201 "i"
                    Dot@201..202 "."
                    EXPR_IDENT@202..205
                      PATH@202..205
                        Ident@202..205 "set"
                  ARG_LIST@205..221
                    LParen@205..206 "("
                    ARG@206..220
                      EXPR_BINARY@206..220
                        EXPR_CALL@206..214
                          EXPR_BINARY@206..211
                            EXPR_IDENT@206..207
                              PATH@206..207
                                Ident@206..207 "i"
                            Dot@207..208 "."
                            EXPR_IDENT@208..211
                              PATH@208..211
                                Ident@208..211 "get"
                          ARG_LIST@211..214
                            LParen@211..212 "("
                            RParen@212..213 ")"
                            Whitespace@213..214 " "
                        Plus@214..215 "+"
                        Whitespace@215..216 " "
                        EXPR_INT32@216..220
                          Int32Lit@216..220 "1i32"
                    RParen@220..221 ")"
                Semi@221..222 ";"
                Whitespace@222..227 "\n    "
              RBrace@227..228 "}"
        Semi@228..229 ";"
        Whitespace@229..234 "\n    "
      STMT_LET@234..259
        LetKeyword@234..237 "let"
        Whitespace@237..238 " "
        PATTERN_WILDCARD@238..240
          WildcardKeyword@238..239 "_"
          Whitespace@239..240 " "
        Eq@240..241 "="
        Whitespace@241..242 " "
        EXPR_CALL@242..257
          EXPR_IDENT@242..249
            PATH@242..249
              Ident@242..249 "println"
          ARG_LIST@249..257
            LParen@249..250 "("
            ARG@250..256
              EXPR_STR@250..256
                Str@250..256 "\"done\""
            RParen@256..257 ")"
        Semi@257..258 ";"
        Whitespace@258..259 "\n"
      RBrace@259..260 "}"
      Whitespace@260..261 "\n"