FILE@0..890
  TRAIT@0..136
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..14 "Describe"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    TRAIT_METHOD_SIG_LIST@21..136
      TRAIT_METHOD_SIG@21..57
        FnKeyword@21..23 "fn"
        Whitespace@23..24 " "
        Ident@24..28 "name"
        PARAM_LIST@28..41
          LParen@28..29 "("
          PARAM@29..39
            Ident@29..33 "self"
            Colon@33..34 ":"
            Whitespace@34..35 " "
            TYPE_TAPP@35..39
              PATH@35..39
                Ident@35..39 "Self"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Arrow@41..43 "->"
        Whitespace@43..44 " "
        TYPE_STRING@44..50
          StringKeyword@44..50 "string"
        Semi@50..51 ";"
        Whitespace@51..57 "\n\n    "
      TRAIT_METHOD_SIG@57..133
        FnKeyword@57..59 "fn"
        Whitespace@59..60 " "
        Ident@60..68 "describe"
        PARAM_LIST@68..81
          LParen@68..69 "("
          PARAM@69..79
            Ident@69..73 "self"
            Colon@73..74 ":"
            Whitespace@74..75 " "
            TYPE_TAPP@75..79
              PATH@75..79
                Ident@75..79 "Self"
          RParen@79..80 ")"
          Whitespace@80..81 " "
        Arrow@81..83 "->"
        Whitespace@83..84 " "
        TYPE_STRING@84..91
          StringKeyword@84..90 "string"
          Whitespace@90..91 " "
        BLOCK@91..133
          LBrace@91..92 "{"
          Whitespace@92..101 "\n        "
          EXPR_BINARY@101..130
            EXPR_STR@101..112
              Str@101..111 "\"default:\""
              Whitespace@111..112 " "
            Plus@112..113 "+"
            Whitespace@113..114 " "
            EXPR_CALL@114..130
              EXPR_BINARY@114..123
                EXPR_IDENT@114..118
                  PATH@114..118
                    Ident@114..118 "self"
                Dot@118..119 "."
                EXPR_IDENT@119..123
                  PATH@119..123
                    Ident@119..123 "name"
              ARG_LIST@123..130
                LParen@123..124 "("
                RParen@124..125 ")"
                Whitespace@125..130 "\n    "
          RBrace@130..131 "}"
          Whitespace@131..133 "\n\n"
      RBrace@133..134 "}"
      Whitespace@134..136 "\n\n"
  TRAIT@136..216
    TraitKeyword@136..141 "trait"
    Whitespace@141..142 " "
    Ident@142..146 "Keep"
    Whitespace@146..147 " "
    LBrace@147..148 "{"
    Whitespace@148..153 "\n    "
    TRAIT_METHOD_SIG_LIST@153..216
      TRAIT_METHOD_SIG@153..213
        FnKeyword@153..155 "fn"
        Whitespace@155..156 " "
        Ident@156..160 "keep"
        GENERIC_LIST@160..163
          LBracket@160..161 "["
          GENERIC@161..162
            Ident@161..162 "T"
          RBracket@162..163 "]"
        PARAM_LIST@163..186
          LParen@163..164 "("
          PARAM@164..176
            Ident@164..168 "self"
            Colon@168..169 ":"
            Whitespace@169..170 " "
            TYPE_TAPP@170..174
              PATH@170..174
                Ident@170..174 "Self"
            Comma@174..175 ","
            Whitespace@175..176 " "
          PARAM@176..184
            Ident@176..181 "value"
            Colon@181..182 ":"
            Whitespace@182..183 " "
            TYPE_TAPP@183..184
              PATH@183..184
                Ident@183..184 "T"
          RParen@184..185 ")"
          Whitespace@185..186 " "
        Arrow@186..188 "->"
        Whitespace@188..189 " "
        TYPE_TAPP@189..191
          PATH@189..191
            Ident@189..190 "T"
            Whitespace@190..191 " "
        BLOCK@191..213
          LBrace@191..192 "{"
          Whitespace@192..201 "\n        "
          EXPR_IDENT@201..211
            PATH@201..211
              Ident@201..206 "value"
              Whitespace@206..211 "\n    "
          RBrace@211..212 "}"
          Whitespace@212..213 "\n"
      RBrace@213..214 "}"
      Whitespace@214..216 "\n\n"
  STRUCT@216..259
    StructKeyword@216..222 "struct"
    Whitespace@222..223 " "
    Ident@223..235 "DefaultValue"
    Whitespace@235..236 " "
    LBrace@236..237 "{"
    Whitespace@237..242 "\n    "
    STRUCT_FIELD_LIST@242..259
      STRUCT_FIELD@242..254
        Ident@242..246 "name"
        Colon@246..247 ":"
        Whitespace@247..248 " "
        TYPE_STRING@248..254
          StringKeyword@248..254 "string"
      Comma@254..255 ","
      Whitespace@255..256 "\n"
      RBrace@256..257 "}"
      Whitespace@257..259 "\n\n"
  IMPL@259..355
    ImplKeyword@259..263 "impl"
    Whitespace@263..264 " "
    TYPE_TAPP@264..273
      PATH@264..273
        Ident@264..272 "Describe"
        Whitespace@272..273 " "
    ForKeyword@273..276 "for"
    Whitespace@276..277 " "
    TYPE_TAPP@277..290
      PATH@277..290
        Ident@277..289 "DefaultValue"
        Whitespace@289..290 " "
    LBrace@290..291 "{"
    Whitespace@291..296 "\n    "
    FN@296..352
      FnKeyword@296..298 "fn"
      Whitespace@298..299 " "
      Ident@299..303 "name"
      PARAM_LIST@303..316
        LParen@303..304 "("
        PARAM@304..314
          Ident@304..308 "self"
          Colon@308..309 ":"
          Whitespace@309..310 " "
          TYPE_TAPP@310..314
            PATH@310..314
              Ident@310..314 "Self"
        RParen@314..315 ")"
        Whitespace@315..316 " "
      Arrow@316..318 "->"
      Whitespace@318..319 " "
      TYPE_STRING@319..326
        StringKeyword@319..325 "string"
        Whitespace@325..326 " "
      BLOCK@326..352
        LBrace@326..327 "{"
        Whitespace@327..336 "\n        "
        EXPR_BINARY@336..350
          EXPR_IDENT@336..340
            PATH@336..340
              Ident@336..340 "self"
          Dot@340..341 "."
          EXPR_IDENT@341..350
            PATH@341..350
              Ident@341..345 "name"
              Whitespace@345..350 "\n    "
        RBrace@350..351 "}"
        Whitespace@351..352 "\n"
    RBrace@352..353 "}"
    Whitespace@353..355 "\n\n"
  IMPL@355..386
    ImplKeyword@355..359 "impl"
    Whitespace@359..360 " "
    TYPE_TAPP@360..365
      PATH@360..365
        Ident@360..364 "Keep"
        Whitespace@364..365 " "
    ForKeyword@365..368 "for"
    Whitespace@368..369 " "
    TYPE_TAPP@369..382
      PATH@369..382
        Ident@369..381 "DefaultValue"
        Whitespace@381..382 " "
    LBrace@382..383 "{"
    RBrace@383..384 "}"
    Whitespace@384..386 "\n\n"
  STRUCT@386..411
    StructKeyword@386..392 "struct"
    Whitespace@392..393 " "
    Ident@393..406 "OverrideValue"
    Whitespace@406..407 " "
    LBrace@407..408 "{"
    STRUCT_FIELD_LIST@408..411
      RBrace@408..409 "}"
      Whitespace@409..411 "\n\n"
  IMPL@411..580
    ImplKeyword@411..415 "impl"
    Whitespace@415..416 " "
    TYPE_TAPP@416..425
      PATH@416..425
        Ident@416..424 "Describe"
        Whitespace@424..425 " "
    ForKeyword@425..428 "for"
    Whitespace@428..429 " "
    TYPE_TAPP@429..443
      PATH@429..443
        Ident@429..442 "OverrideValue"
        Whitespace@442..443 " "
    LBrace@443..444 "{"
    Whitespace@444..449 "\n    "
    FN@449..516
      FnKeyword@449..451 "fn"
      Whitespace@451..452 " "
      Ident@452..456 "name"
      PARAM_LIST@456..469
        LParen@456..457 "("
        PARAM@457..467
          Ident@457..461 "self"
          Colon@461..462 ":"
          Whitespace@462..463 " "
          TYPE_TAPP@463..467
            PATH@463..467
              Ident@463..467 "Self"
        RParen@467..468 ")"
        Whitespace@468..469 " "
      Arrow@469..471 "->"
      Whitespace@471..472 " "
      TYPE_STRING@472..479
        StringKeyword@472..478 "string"
        Whitespace@478..479 " "
      BLOCK@479..516
        LBrace@479..480 "{"
        Whitespace@480..489 "\n        "
        EXPR_STR@489..509
          Str@489..504 "\"override-name\""
          Whitespace@504..509 "\n    "
        RBrace@509..510 "}"
        Whitespace@510..516 "\n\n    "
    FN@516..577
      FnKeyword@516..518 "fn"
      Whitespace@518..519 " "
      Ident@519..527 "describe"
      PARAM_LIST@527..540
        LParen@527..528 "("
        PARAM@528..538
          Ident@528..532 "self"
          Colon@532..533 ":"
          Whitespace@533..534 " "
          TYPE_TAPP@534..538
            PATH@534..538
              Ident@534..538 "Self"
        RParen@538..539 ")"
        Whitespace@539..540 " "
      Arrow@540..542 "->"
      Whitespace@542..543 " "
      TYPE_STRING@543..550
        StringKeyword@543..549 "string"
        Whitespace@549..550 " "
      BLOCK@550..577
        LBrace@550..551 "{"
        Whitespace@551..560 "\n        "
        EXPR_STR@560..575
          Str@560..570 "\"override\""
          Whitespace@570..575 "\n    "
        RBrace@575..576 "}"
        Whitespace@576..577 "\n"
    RBrace@577..578 "}"
    Whitespace@578..580 "\n\n"
  FN@580..653
    FnKeyword@580..582 "fn"
    Whitespace@582..583 " "
    Ident@583..595 "describe_dyn"
    PARAM_LIST@595..617
      LParen@595..596 "("
      PARAM@596..615
        Ident@596..601 "value"
        Colon@601..602 ":"
        Whitespace@602..603 " "
        TYPE_DYN@603..615
          DynKeyword@603..606 "dyn"
          Whitespace@606..607 " "
          DYN_BOUND@607..615
            PATH@607..615
              Ident@607..615 "Describe"
      RParen@615..616 ")"
      Whitespace@616..617 " "
    Arrow@617..619 "->"
    Whitespace@619..620 " "
    TYPE_STRING@620..627
      StringKeyword@620..626 "string"
      Whitespace@626..627 " "
    BLOCK@627..653
      LBrace@627..628 "{"
      Whitespace@628..633 "\n    "
      EXPR_CALL@633..650
        EXPR_BINARY@633..647
          EXPR_IDENT@633..638
            PATH@633..638
              Ident@633..638 "value"
          Dot@638..639 "."
          EXPR_IDENT@639..647
            PATH@639..647
              Ident@639..647 "describe"
        ARG_LIST@647..650
          LParen@647..648 "("
          RParen@648..649 ")"
          Whitespace@649..650 "\n"
      RBrace@650..651 "}"
      Whitespace@651..653 "\n\n"
  FN@653..890
    FnKeyword@653..655 "fn"
    Whitespace@655..656 " "
    Ident@656..660 "main"
    PARAM_LIST@660..663
      LParen@660..661 "("
      RParen@661..662 ")"
      Whitespace@662..663 " "
    BLOCK@663..890
      LBrace@663..664 "{"
      Whitespace@664..669 "\n    "
      STMT_LET@669..725
        LetKeyword@669..672 "let"
        Whitespace@672..673 " "
        PATTERN_VARIABLE@673..687
          Ident@673..686 "default_value"
          Whitespace@686..687 " "
        Eq@687..688 "="
        Whitespace@688..689 " "
        EXPR_STRUCT_LITERAL@689..719
          PATH@689..702
            Ident@689..701 "DefaultValue"
            Whitespace@701..702 " "
          STRUCT_LITERAL_FIELD_LIST@702..719
            LBrace@702..703 "{"
            Whitespace@703..704 " "
            STRUCT_LITERAL_FIELD@704..718
              Ident@704..708 "name"
              Colon@708..709 ":"
              Whitespace@709..710 " "
              EXPR_STR@710..718
                Str@710..717 "\"value\""
                Whitespace@717..718 " "
            RBrace@718..719 "}"
        Semi@719..720 ";"
        Whitespace@720..725 "\n    "
      STMT_EXPR@725..764
        EXPR_CALL@725..758
          EXPR_IDENT@725..732
            PATH@725..732
              Ident@725..732 "println"
          ARG_LIST@732..758
            LParen@732..733 "("
            ARG@733..757
              EXPR_CALL@733..757
                EXPR_BINARY@733..755
                  EXPR_IDENT@733..746
                    PATH@733..746
                      Ident@733..746 "default_value"
                  Dot@746..747 "."
                  EXPR_IDENT@747..755
                    PATH@747..755
                      Ident@747..755 "describe"
                ARG_LIST@755..757
                  LParen@755..756 "("
                  RParen@756..757 ")"
            RParen@757..758 ")"
        Semi@758..759 ";"
        Whitespace@759..764 "\n    "
      STMT_EXPR@764..808
        EXPR_CALL@764..802
          EXPR_IDENT@764..771
            PATH@764..771
              Ident@764..771 "println"
          ARG_LIST@771..802
            LParen@771..772 "("
            ARG@772..801
              EXPR_CALL@772..801
                EXPR_BINARY@772..790
                  EXPR_IDENT@772..785
                    PATH@772..785
                      Ident@772..785 "default_value"
                  Dot@785..786 "."
                  EXPR_IDENT@786..790
                    PATH@786..790
                      Ident@786..790 "keep"
                ARG_LIST@790..801
                  LParen@790..791 "("
                  ARG@791..800
                    EXPR_STR@791..800
                      Str@791..800 "\"generic\""
                  RParen@800..801 ")"
            RParen@801..802 ")"
        Semi@802..803 ";"
        Whitespace@803..808 "\n    "
      STMT_EXPR@808..850
        EXPR_CALL@808..844
          EXPR_IDENT@808..815
            PATH@808..815
              Ident@808..815 "println"
          ARG_LIST@815..844
            LParen@815..816 "("
            ARG@816..843
              EXPR_CALL@816..843
                EXPR_BINARY@816..841
                  EXPR_STRUCT_LITERAL@816..832
                    PATH@816..830
                      Ident@816..829 "OverrideValue"
                      Whitespace@829..830 " "
                    STRUCT_LITERAL_FIELD_LIST@830..832
                      LBrace@830..831 "{"
                      RBrace@831..832 "}"
                  Dot@832..833 "."
                  EXPR_IDENT@833..841
                    PATH@833..841
                      Ident@833..841 "describe"
                ARG_LIST@841..843
                  LParen@841..842 "("
                  RParen@842..843 ")"
            RParen@843..844 ")"
        Semi@844..845 ";"
        Whitespace@845..850 "\n    "
      STMT_EXPR@850..888
        EXPR_CALL@850..886
          EXPR_IDENT@850..857
            PATH@850..857
              Ident@850..857 "println"
          ARG_LIST@857..886
            LParen@857..858 "("
            ARG@858..885
              EXPR_CALL@858..885
                EXPR_IDENT@858..870
                  PATH@858..870
                    Ident@858..870 "describe_dyn"
                ARG_LIST@870..885
                  LParen@870..871 "("
                  ARG@871..884
                    EXPR_IDENT@871..884
                      PATH@871..884
                        Ident@871..884 "default_value"
                  RParen@884..885 ")"
            RParen@885..886 ")"
        Semi@886..887 ";"
        Whitespace@887..888 "\n"
      RBrace@888..889 "}"
      Whitespace@889..890 "\n"