FILE@0..336
  EXTERN@0..39
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    Str@7..11 "\"go\""
    Whitespace@11..12 " "
    Str@12..16 "\"io\""
    Whitespace@16..17 " "
    Str@17..25 "\"Reader\""
    Whitespace@25..26 " "
    TypeKeyword@26..30 "type"
    Whitespace@30..31 " "
    Ident@31..37 "Reader"
    Whitespace@37..39 "\n\n"
  EXTERN@39..101
    ATTRIBUTE_LIST@39..51
      ATTRIBUTE@39..51
        Pound@39..40 "#"
        LBracket@40..41 "["
        Ident@41..49 "go_value"
        RBracket@49..50 "]"
        Whitespace@50..51 "\n"
    ExternKeyword@51..57 "extern"
    Whitespace@57..58 " "
    Str@58..62 "\"go\""
    Whitespace@62..63 " "
    Str@63..69 "\"time\""
    Whitespace@69..70 " "
    Str@70..79 "\"RFC3339\""
    Whitespace@79..80 " "
    Ident@80..87 "rfc3339"
    PARAM_LIST@87..90
      LParen@87..88 "("
      RParen@88..89 ")"
      Whitespace@89..90 " "
    Arrow@90..92 "->"
    Whitespace@92..93 " "
    TYPE_STRING@93..101
      StringKeyword@93..99 "string"
      Whitespace@99..101 "\n\n"
  EXTERN@101..157
    ATTRIBUTE_LIST@101..113
      ATTRIBUTE@101..113
        Pound@101..102 "#"
        LBracket@102..103 "["
        Ident@103..111 "go_value"
        RBracket@111..112 "]"
        Whitespace@112..113 "\n"
    ExternKeyword@113..119 "extern"
    Whitespace@119..120 " "
    Str@120..124 "\"go\""
    Whitespace@124..125 " "
    Str@125..129 "\"os\""
    Whitespace@129..130 " "
    Str@130..137 "\"Stdin\""
    Whitespace@137..138 " "
    Ident@138..143 "stdin"
    PARAM_LIST@143..146
      LParen@143..144 "("
      RParen@144..145 ")"
      Whitespace@145..146 " "
    Arrow@146..148 "->"
    Whitespace@148..149 " "
    TYPE_TAPP@149..157
      PATH@149..157
        Ident@149..155 "Reader"
        Whitespace@155..157 "\n\n"
  EXTERN@157..241
    ExternKeyword@157..163 "extern"
    Whitespace@163..164 " "
    Str@164..168 "\"go\""
    Whitespace@168..169 " "
    Str@169..174 "\"fmt\""
    Whitespace@174..175 " "
    Str@175..184 "\"Sprintf\""
    Whitespace@184..185 " "
    Ident@185..198 "format_reader"
    PARAM_LIST@198..230
      LParen@198..199 "("
      PARAM@199..215
        Ident@199..205 "format"
        Colon@205..206 ":"
        Whitespace@206..207 " "
        TYPE_STRING@207..213
          StringKeyword@207..213 "string"
        Comma@213..214 ","
        Whitespace@214..215 " "
      PARAM@215..228
        Ident@215..220 "value"
        Colon@220..221 ":"
        Whitespace@221..222 " "
        TYPE_TAPP@222..228
          PATH@222..228
            Ident@222..228 "Reader"
      RParen@228..229 ")"
      Whitespace@229..230 " "
    Arrow@230..232 "->"
    Whitespace@232..233 " "
    TYPE_STRING@233..241
      StringKeyword@233..239 "string"
      Whitespace@239..241 "\n\n"
  FN@241..336
    FnKeyword@241..243 "fn"
    Whitespace@243..244 " "
    Ident@244..248 "main"
    PARAM_LIST@248..251
      LParen@248..249 "("
      RParen@249..250 ")"
      Whitespace@250..251 " "
    Arrow@251..253 "->"
    Whitespace@253..254 " "
    TYPE_UNIT@254..259
      UnitKeyword@254..258 "unit"
      Whitespace@258..259 " "
    BLOCK@259..336
      LBrace@259..260 "{"
      Whitespace@260..265 "\n    "
      STMT_EXPR@265..289
        EXPR_CALL@265..283
          EXPR_IDENT@265..272
            PATH@265..272
              Ident@265..272 "println"
          ARG_LIST@272..283
            LParen@272..273 "("
            ARG@273..282
              EXPR_CALL@273..282
                EXPR_IDENT@273..280
                  PATH@273..280
                    Ident@273..280 "rfc3339"
                ARG_LIST@280..282
                  LParen@280..281 "("
                  RParen@281..282 ")"
            RParen@282..283 ")"
        Semi@283..284 ";"
        Whitespace@284..289 "\n    "
      STMT_EXPR@289..334
        EXPR_CALL@289..332
          EXPR_IDENT@289..296
            PATH@289..296
              Ident@289..296 "println"
          ARG_LIST@296..332
            LParen@296..297 "("
            ARG@297..331
              EXPR_CALL@297..331
                EXPR_IDENT@297..310
                  PATH@297..310
                    Ident@297..310 "format_reader"
                ARG_LIST@310..331
                  LParen@310..311 "("
                  ARG@311..323
                    EXPR_STR@311..321
                      Str@311..321 "\"stdin=%T\""
                    Comma@321..322 ","
                    Whitespace@322..323 " "
                  ARG@323..330
                    EXPR_CALL@323..330
                      EXPR_IDENT@323..328
                        PATH@323..328
                          Ident@323..328 "stdin"
                      ARG_LIST@328..330
                        LParen@328..329 "("
                        RParen@329..330 ")"
                  RParen@330..331 ")"
            RParen@331..332 ")"
        Semi@332..333 ";"
        Whitespace@333..334 "\n"
      RBrace@334..335 "}"
      Whitespace@335..336 "\n"