FILE@0..627
  ENUM@0..48
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Light"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..48
      VARIANT@17..20
        Ident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..32
        Ident@26..32 "Yellow"
      Comma@32..33 ","
      Whitespace@33..38 "\n    "
      VARIANT@38..43
        Ident@38..43 "Green"
      Comma@43..44 ","
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  ENUM@48..83
    EnumKeyword@48..52 "enum"
    Whitespace@52..53 " "
    Ident@53..58 "Paint"
    Whitespace@58..59 " "
    LBrace@59..60 "{"
    Whitespace@60..65 "\n    "
    VARIANT_LIST@65..83
      VARIANT@65..68
        Ident@65..68 "Red"
      Comma@68..69 ","
      Whitespace@69..74 "\n    "
      VARIANT@74..78
        Ident@74..78 "Blue"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..230
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..96 "light_code"
    PARAM_LIST@96..111
      LParen@96..97 "("
      PARAM@97..109
        Ident@97..102 "light"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_TAPP@104..109
          PATH@104..109
            Ident@104..109 "Light"
      RParen@109..110 ")"
      Whitespace@110..111 " "
    Arrow@111..113 "->"
    Whitespace@113..114 " "
    TYPE_INT32@114..118
      I32Keyword@114..117 "i32"
      Whitespace@117..118 " "
    BLOCK@118..230
      LBrace@118..119 "{"
      Whitespace@119..124 "\n    "
      EXPR_MATCH@124..227
        MatchKeyword@124..129 "match"
        Whitespace@129..130 " "
        EXPR_IDENT@130..136
          PATH@130..136
            Ident@130..135 "light"
            Whitespace@135..136 " "
        MATCH_ARM_LIST@136..227
          LBrace@136..137 "{"
          Whitespace@137..146 "\n        "
          MATCH_ARM@146..162
            PATTERN_CONSTR@146..157
              PATH@146..157
                Ident@146..151 "Light"
                ColonColon@151..153 "::"
                Ident@153..156 "Red"
                Whitespace@156..157 " "
            FatArrow@157..159 "=>"
            Whitespace@159..160 " "
            EXPR_INT@160..162
              Int@160..162 "10"
          Comma@162..163 ","
          Whitespace@163..172 "\n        "
          MATCH_ARM@172..191
            PATTERN_CONSTR@172..186
              PATH@172..186
                Ident@172..177 "Light"
                ColonColon@177..179 "::"
                Ident@179..185 "Yellow"
                Whitespace@185..186 " "
            FatArrow@186..188 "=>"
            Whitespace@188..189 " "
            EXPR_INT@189..191
              Int@189..191 "20"
          Comma@191..192 ","
          Whitespace@192..201 "\n        "
          MATCH_ARM@201..219
            PATTERN_CONSTR@201..214
              PATH@201..214
                Ident@201..206 "Light"
                ColonColon@206..208 "::"
                Ident@208..213 "Green"
                Whitespace@213..214 " "
            FatArrow@214..216 "=>"
            Whitespace@216..217 " "
            EXPR_INT@217..219
              Int@217..219 "30"
          Comma@219..220 ","
          Whitespace@220..225 "\n    "
          RBrace@225..226 "}"
          Whitespace@226..227 "\n"
      RBrace@227..228 "}"
      Whitespace@228..230 "\n\n"
  FN@230..345
    FnKeyword@230..232 "fn"
    Whitespace@232..233 " "
    Ident@233..243 "paint_code"
    PARAM_LIST@243..258
      LParen@243..244 "("
      PARAM@244..256
        Ident@244..249 "paint"
        Colon@249..250 ":"
        Whitespace@250..251 " "
        TYPE_TAPP@251..256
          PATH@251..256
            Ident@251..256 "Paint"
      RParen@256..257 ")"
      Whitespace@257..258 " "
    Arrow@258..260 "->"
    Whitespace@260..261 " "
    TYPE_INT32@261..265
      I32Keyword@261..264 "i32"
      Whitespace@264..265 " "
    BLOCK@265..345
      LBrace@265..266 "{"
      Whitespace@266..271 "\n    "
      EXPR_MATCH@271..342
        MatchKeyword@271..276 "match"
        Whitespace@276..277 " "
        EXPR_IDENT@277..283
          PATH@277..283
            Ident@277..282 "paint"
            Whitespace@282..283 " "
        MATCH_ARM_LIST@283..342
          LBrace@283..284 "{"
          Whitespace@284..293 "\n        "
          MATCH_ARM@293..308
            PATTERN_CONSTR@293..304
              PATH@293..304
                Ident@293..298 "Paint"
                ColonColon@298..300 "::"
                Ident@300..303 "Red"
                Whitespace@303..304 " "
            FatArrow@304..306 "=>"
            Whitespace@306..307 " "
            EXPR_INT@307..308
              Int@307..308 "1"
          Comma@308..309 ","
          Whitespace@309..318 "\n        "
          MATCH_ARM@318..334
            PATTERN_CONSTR@318..330
              PATH@318..330
                Ident@318..323 "Paint"
                ColonColon@323..325 "::"
                Ident@325..329 "Blue"
                Whitespace@329..330 " "
            FatArrow@330..332 "=>"
            Whitespace@332..333 " "
            EXPR_INT@333..334
              Int@333..334 "2"
          Comma@334..335 ","
          Whitespace@335..340 "\n    "
          RBrace@340..341 "}"
          Whitespace@341..342 "\n"
      RBrace@342..343 "}"
      Whitespace@343..345 "\n\n"
  FN@345..627
    FnKeyword@345..347 "fn"
    Whitespace@347..348 " "
    Ident@348..352 "main"
    PARAM_LIST@352..355
      LParen@352..353 "("
      RParen@353..354 ")"
      Whitespace@354..355 " "
    BLOCK@355..627
      LBrace@355..356 "{"
      Whitespace@356..361 "\n    "
      STMT_LET@361..389
        LetKeyword@361..364 "let"
        Whitespace@364..365 " "
        PATTERN_VARIABLE@365..371
          Ident@365..370 "light"
          Whitespace@370..371 " "
        Eq@371..372 "="
        Whitespace@372..373 " "
        EXPR_IDENT@373..383
          PATH@373..383
            Ident@373..378 "Light"
            ColonColon@378..380 "::"
            Ident@380..383 "Red"
        Semi@383..384 ";"
        Whitespace@384..389 "\n    "
      STMT_LET@389..417
        LetKeyword@389..392 "let"
        Whitespace@392..393 " "
        PATTERN_VARIABLE@393..399
          Ident@393..398 "paint"
          Whitespace@398..399 " "
        Eq@399..400 "="
        Whitespace@400..401 " "
        EXPR_IDENT@401..411
          PATH@401..411
            Ident@401..406 "Paint"
            ColonColon@406..408 "::"
            Ident@408..411 "Red"
        Semi@411..412 ";"
        Whitespace@412..417 "\n    "
      STMT_LET@417..469
        LetKeyword@417..420 "let"
        Whitespace@420..421 " "
        PATTERN_WILDCARD@421..423
          WildcardKeyword@421..422 "_"
          Whitespace@422..423 " "
        Eq@423..424 "="
        Whitespace@424..425 " "
        EXPR_CALL@425..463
          EXPR_IDENT@425..432
            PATH@425..432
              Ident@425..432 "println"
          ARG_LIST@432..463
            LParen@432..433 "("
            ARG@433..462
              EXPR_CALL@433..462
                EXPR_BINARY@433..460
                  EXPR_CALL@433..450
                    EXPR_IDENT@433..443
                      PATH@433..443
                        Ident@433..443 "light_code"
                    ARG_LIST@443..450
                      LParen@443..444 "("
                      ARG@444..449
                        EXPR_IDENT@444..449
                          PATH@444..449
                            Ident@444..449 "light"
                      RParen@449..450 ")"
                  Dot@450..451 "."
                  EXPR_IDENT@451..460
                    PATH@451..460
                      Ident@451..460 "to_string"
                ARG_LIST@460..462
                  LParen@460..461 "("
                  RParen@461..462 ")"
            RParen@462..463 ")"
        Semi@463..464 ";"
        Whitespace@464..469 "\n    "
      STMT_LET@469..521
        LetKeyword@469..472 "let"
        Whitespace@472..473 " "
        PATTERN_WILDCARD@473..475
          WildcardKeyword@473..474 "_"
          Whitespace@474..475 " "
        Eq@475..476 "="
        Whitespace@476..477 " "
        EXPR_CALL@477..515
          EXPR_IDENT@477..484
            PATH@477..484
              Ident@477..484 "println"
          ARG_LIST@484..515
            LParen@484..485 "("
            ARG@485..514
              EXPR_CALL@485..514
                EXPR_BINARY@485..512
                  EXPR_CALL@485..502
                    EXPR_IDENT@485..495
                      PATH@485..495
                        Ident@485..495 "paint_code"
                    ARG_LIST@495..502
                      LParen@495..496 "("
                      ARG@496..501
                        EXPR_IDENT@496..501
                          PATH@496..501
                            Ident@496..501 "paint"
                      RParen@501..502 ")"
                  Dot@502..503 "."
                  EXPR_IDENT@503..512
                    PATH@503..512
                      Ident@503..512 "to_string"
                ARG_LIST@512..514
                  LParen@512..513 "("
                  RParen@513..514 ")"
            RParen@514..515 ")"
        Semi@515..516 ";"
        Whitespace@516..521 "\n    "
      STMT_LET@521..580
        LetKeyword@521..524 "let"
        Whitespace@524..525 " "
        PATTERN_WILDCARD@525..527
          WildcardKeyword@525..526 "_"
          Whitespace@526..527 " "
        Eq@527..528 "="
        Whitespace@528..529 " "
        EXPR_CALL@529..574
          EXPR_IDENT@529..536
            PATH@529..536
              Ident@529..536 "println"
          ARG_LIST@536..574
            LParen@536..537 "("
            ARG@537..573
              EXPR_CALL@537..573
                EXPR_BINARY@537..571
                  EXPR_CALL@537..561
                    EXPR_IDENT@537..547
                      PATH@537..547
                        Ident@537..547 "light_code"
                    ARG_LIST@547..561
                      LParen@547..548 "("
                      ARG@548..560
                        EXPR_IDENT@548..560
                          PATH@548..560
                            Ident@548..553 "Light"
                            ColonColon@553..555 "::"
                            Ident@555..560 "Green"
                      RParen@560..561 ")"
                  Dot@561..562 "."
                  EXPR_IDENT@562..571
                    PATH@562..571
                      Ident@562..571 "to_string"
                ARG_LIST@571..573
                  LParen@571..572 "("
                  RParen@572..573 ")"
            RParen@573..574 ")"
        Semi@574..575 ";"
        Whitespace@575..580 "\n    "
      EXPR_CALL@580..625
        EXPR_IDENT@580..587
          PATH@580..587
            Ident@580..587 "println"
        ARG_LIST@587..625
          LParen@587..588 "("
          ARG@588..623
            EXPR_CALL@588..623
              EXPR_BINARY@588..621
                EXPR_CALL@588..611
                  EXPR_IDENT@588..598
                    PATH@588..598
                      Ident@588..598 "paint_code"
                  ARG_LIST@598..611
                    LParen@598..599 "("
                    ARG@599..610
                      EXPR_IDENT@599..610
                        PATH@599..610
                          Ident@599..604 "Paint"
                          ColonColon@604..606 "::"
                          Ident@606..610 "Blue"
                    RParen@610..611 ")"
                Dot@611..612 "."
                EXPR_IDENT@612..621
                  PATH@612..621
                    Ident@612..621 "to_string"
              ARG_LIST@621..623
                LParen@621..622 "("
                RParen@622..623 ")"
          RParen@623..624 ")"
          Whitespace@624..625 "\n"
      RBrace@625..626 "}"
      Whitespace@626..627 "\n"