FILE@0..215
  STRUCT@0..52
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..11 "Pair"
    GENERIC_LIST@11..18
      LBracket@11..12 "["
      GENERIC@12..13
        Ident@12..13 "A"
      Comma@13..14 ","
      Whitespace@14..15 " "
      GENERIC@15..16
        Ident@15..16 "B"
      RBracket@16..17 "]"
      Whitespace@17..18 " "
    LBrace@18..19 "{"
    Whitespace@19..24 "\n    "
    STRUCT_FIELD_LIST@24..52
      STRUCT_FIELD@24..32
        Ident@24..29 "first"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_TAPP@31..32
          PATH@31..32
            Ident@31..32 "A"
      Comma@32..33 ","
      Whitespace@33..38 "\n    "
      STRUCT_FIELD@38..47
        Ident@38..44 "second"
        Colon@44..45 ":"
        Whitespace@45..46 " "
        TYPE_TAPP@46..47
          PATH@46..47
            Ident@46..47 "B"
      Comma@47..48 ","
      Whitespace@48..49 "\n"
      RBrace@49..50 "}"
      Whitespace@50..52 "\n\n"
  FN@52..215
    FnKeyword@52..54 "fn"
    Whitespace@54..55 " "
    Ident@55..59 "main"
    PARAM_LIST@59..62
      LParen@59..60 "("
      RParen@60..61 ")"
      Whitespace@61..62 " "
    BLOCK@62..215
      LBrace@62..63 "{"
      Whitespace@63..68 "\n    "
      STMT_LET@68..136
        LetKeyword@68..71 "let"
        Whitespace@71..72 " "
        PATTERN_VARIABLE@72..73
          Ident@72..73 "p"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_TAPP@75..96
          PATH@75..79
            Ident@75..79 "Pair"
          TYPE_PARAM_LIST@79..96
            LBracket@79..80 "["
            TYPE_UINT8@80..85
              Uint8Keyword@80..85 "uint8"
            Comma@85..86 ","
            Whitespace@86..87 " "
            TYPE_FLOAT32@87..94
              Float32Keyword@87..94 "float32"
            RBracket@94..95 "]"
            Whitespace@95..96 " "
        Eq@96..97 "="
        Whitespace@97..98 " "
        EXPR_STRUCT_LITERAL@98..130
          PATH@98..103
            Ident@98..102 "Pair"
            Whitespace@102..103 " "
          STRUCT_LITERAL_FIELD_LIST@103..130
            LBrace@103..104 "{"
            Whitespace@104..105 " "
            STRUCT_LITERAL_FIELD@105..114
              Ident@105..110 "first"
              Colon@110..111 ":"
              Whitespace@111..112 " "
              EXPR_INT@112..114
                Int@112..114 "10"
            Comma@114..115 ","
            Whitespace@115..116 " "
            STRUCT_LITERAL_FIELD@116..129
              Ident@116..122 "second"
              Colon@122..123 ":"
              Whitespace@123..124 " "
              EXPR_FLOAT@124..129
                Float@124..128 "3.14"
                Whitespace@128..129 " "
            RBrace@129..130 "}"
        Semi@130..131 ";"
        Whitespace@131..136 "\n    "
      STMT_EXPR@136..175
        EXPR_CALL@136..169
          EXPR_IDENT@136..143
            PATH@136..143
              Ident@136..143 "println"
          ARG_LIST@143..169
            LParen@143..144 "("
            ARG@144..168
              EXPR_CALL@144..168
                EXPR_IDENT@144..159
                  PATH@144..159
                    Ident@144..159 "uint8_to_string"
                ARG_LIST@159..168
                  LParen@159..160 "("
                  ARG@160..167
                    EXPR_BINARY@160..167
                      EXPR_IDENT@160..161
                        PATH@160..161
                          Ident@160..161 "p"
                      Dot@161..162 "."
                      EXPR_IDENT@162..167
                        PATH@162..167
                          Ident@162..167 "first"
                  RParen@167..168 ")"
            RParen@168..169 ")"
        Semi@169..170 ";"
        Whitespace@170..175 "\n    "
      STMT_EXPR@175..213
        EXPR_CALL@175..211
          EXPR_IDENT@175..182
            PATH@175..182
              Ident@175..182 "println"
          ARG_LIST@182..211
            LParen@182..183 "("
            ARG@183..210
              EXPR_CALL@183..210
                EXPR_IDENT@183..200
                  PATH@183..200
                    Ident@183..200 "float32_to_string"
                ARG_LIST@200..210
                  LParen@200..201 "("
                  ARG@201..209
                    EXPR_BINARY@201..209
                      EXPR_IDENT@201..202
                        PATH@201..202
                          Ident@201..202 "p"
                      Dot@202..203 "."
                      EXPR_IDENT@203..209
                        PATH@203..209
                          Ident@203..209 "second"
                  RParen@209..210 ")"
            RParen@210..211 ")"
        Semi@211..212 ";"
        Whitespace@212..213 "\n"
      RBrace@213..214 "}"
      Whitespace@214..215 "\n"