FILE@0..274
  FN@0..95
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "choose"
    PARAM_LIST@9..42
      LParen@9..10 "("
      PARAM@10..22
        Ident@10..14 "flag"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_BOOL@16..20
          BoolKeyword@16..20 "bool"
        Comma@20..21 ","
        Whitespace@21..22 " "
      PARAM@22..32
        Ident@22..23 "x"
        Colon@23..24 ":"
        Whitespace@24..25 " "
        TYPE_INT32@25..30
          Int32Keyword@25..30 "int32"
        Comma@30..31 ","
        Whitespace@31..32 " "
      PARAM@32..40
        Ident@32..33 "y"
        Colon@33..34 ":"
        Whitespace@34..35 " "
        TYPE_INT32@35..40
          Int32Keyword@35..40 "int32"
      RParen@40..41 ")"
      Whitespace@41..42 " "
    Arrow@42..44 "->"
    Whitespace@44..45 " "
    TYPE_INT32@45..51
      Int32Keyword@45..50 "int32"
      Whitespace@50..51 " "
    BLOCK@51..95
      LBrace@51..52 "{"
      Whitespace@52..55 "\n  "
      EXPR_IF@55..92
        IfKeyword@55..57 "if"
        Whitespace@57..58 " "
        EXPR_IF_COND@58..63
          EXPR_IDENT@58..63
            PATH@58..63
              Ident@58..62 "flag"
              Whitespace@62..63 " "
        EXPR_IF_THEN@63..75
          BLOCK@63..75
            LBrace@63..64 "{"
            Whitespace@64..69 "\n    "
            EXPR_IDENT@69..73
              PATH@69..73
                Ident@69..70 "x"
                Whitespace@70..73 "\n  "
            RBrace@73..74 "}"
            Whitespace@74..75 " "
        ElseKeyword@75..79 "else"
        Whitespace@79..80 " "
        EXPR_IF_ELSE@80..92
          BLOCK@80..92
            LBrace@80..81 "{"
            Whitespace@81..86 "\n    "
            EXPR_IDENT@86..90
              PATH@86..90
                Ident@86..87 "y"
                Whitespace@87..90 "\n  "
            RBrace@90..91 "}"
            Whitespace@91..92 "\n"
      RBrace@92..93 "}"
      Whitespace@93..95 "\n\n"
  FN@95..274
    FnKeyword@95..97 "fn"
    Whitespace@97..98 " "
    Ident@98..102 "main"
    PARAM_LIST@102..105
      LParen@102..103 "("
      RParen@103..104 ")"
      Whitespace@104..105 " "
    BLOCK@105..274
      LBrace@105..106 "{"
      Whitespace@106..109 "\n  "
      STMT_LET@109..143
        LetKeyword@109..112 "let"
        Whitespace@112..113 " "
        PATTERN_VARIABLE@113..117
          Ident@113..116 "yes"
          Whitespace@116..117 " "
        Eq@117..118 "="
        Whitespace@118..119 " "
        EXPR_CALL@119..139
          EXPR_IDENT@119..125
            PATH@119..125
              Ident@119..125 "choose"
          ARG_LIST@125..139
            LParen@125..126 "("
            ARG@126..132
              EXPR_BOOL@126..130
                TrueKeyword@126..130 "true"
              Comma@130..131 ","
              Whitespace@131..132 " "
            ARG@132..136
              EXPR_INT@132..134
                Int@132..134 "10"
              Comma@134..135 ","
              Whitespace@135..136 " "
            ARG@136..138
              EXPR_INT@136..138
                Int@136..138 "99"
            RParen@138..139 ")"
        Semi@139..140 ";"
        Whitespace@140..143 "\n  "
      STMT_LET@143..177
        LetKeyword@143..146 "let"
        Whitespace@146..147 " "
        PATTERN_VARIABLE@147..150
          Ident@147..149 "no"
          Whitespace@149..150 " "
        Eq@150..151 "="
        Whitespace@151..152 " "
        EXPR_CALL@152..173
          EXPR_IDENT@152..158
            PATH@152..158
              Ident@152..158 "choose"
          ARG_LIST@158..173
            LParen@158..159 "("
            ARG@159..166
              EXPR_BOOL@159..164
                FalseKeyword@159..164 "false"
              Comma@164..165 ","
              Whitespace@165..166 " "
            ARG@166..170
              EXPR_INT@166..168
                Int@166..168 "10"
              Comma@168..169 ","
              Whitespace@169..170 " "
            ARG@170..172
              EXPR_INT@170..172
                Int@170..172 "99"
            RParen@172..173 ")"
        Semi@173..174 ";"
        Whitespace@174..177 "\n  "
      STMT_LET@177..224
        LetKeyword@177..180 "let"
        Whitespace@180..181 " "
        PATTERN_WILDCARD@181..183
          WildcardKeyword@181..182 "_"
          Whitespace@182..183 " "
        Eq@183..184 "="
        Whitespace@184..185 " "
        EXPR_CALL@185..220
          EXPR_IDENT@185..192
            PATH@185..192
              Ident@185..192 "println"
          ARG_LIST@192..220
            LParen@192..193 "("
            ARG@193..219
              EXPR_BINARY@193..219
                EXPR_STR@193..200
                  Str@193..199 "\"yes=\""
                  Whitespace@199..200 " "
                Plus@200..201 "+"
                Whitespace@201..202 " "
                EXPR_CALL@202..219
                  EXPR_BINARY@202..217
                    EXPR_PAREN@202..207
                      LParen@202..203 "("
                      EXPR_IDENT@203..206
                        PATH@203..206
                          Ident@203..206 "yes"
                      RParen@206..207 ")"
                    Dot@207..208 "."
                    EXPR_IDENT@208..217
                      PATH@208..217
                        Ident@208..217 "to_string"
                  ARG_LIST@217..219
                    LParen@217..218 "("
                    RParen@218..219 ")"
            RParen@219..220 ")"
        Semi@220..221 ";"
        Whitespace@221..224 "\n  "
      STMT_LET@224..269
        LetKeyword@224..227 "let"
        Whitespace@227..228 " "
        PATTERN_WILDCARD@228..230
          WildcardKeyword@228..229 "_"
          Whitespace@229..230 " "
        Eq@230..231 "="
        Whitespace@231..232 " "
        EXPR_CALL@232..265
          EXPR_IDENT@232..239
            PATH@232..239
              Ident@232..239 "println"
          ARG_LIST@239..265
            LParen@239..240 "("
            ARG@240..264
              EXPR_BINARY@240..264
                EXPR_STR@240..246
                  Str@240..245 "\"no=\""
                  Whitespace@245..246 " "
                Plus@246..247 "+"
                Whitespace@247..248 " "
                EXPR_CALL@248..264
                  EXPR_BINARY@248..262
                    EXPR_PAREN@248..252
                      LParen@248..249 "("
                      EXPR_IDENT@249..251
                        PATH@249..251
                          Ident@249..251 "no"
                      RParen@251..252 ")"
                    Dot@252..253 "."
                    EXPR_IDENT@253..262
                      PATH@253..262
                        Ident@253..262 "to_string"
                  ARG_LIST@262..264
                    LParen@262..263 "("
                    RParen@263..264 ")"
            RParen@264..265 ")"
        Semi@265..266 ";"
        Whitespace@266..269 "\n  "
      EXPR_UNIT@269..272
        LParen@269..270 "("
        RParen@270..271 ")"
        Whitespace@271..272 "\n"
      RBrace@272..273 "}"
      Whitespace@273..274 "\n"