FILE@0..1160
  CONST@0..33
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..16 "WRAPPED_I8"
    Colon@16..17 ":"
    Whitespace@17..18 " "
    TYPE_INT8@18..21
      I8Keyword@18..20 "i8"
      Whitespace@20..21 " "
    Eq@21..22 "="
    Whitespace@22..23 " "
    EXPR_BINARY@23..30
      EXPR_INT@23..27
        Int@23..26 "127"
        Whitespace@26..27 " "
      Plus@27..28 "+"
      Whitespace@28..29 " "
      EXPR_INT@29..30
        Int@29..30 "1"
    Semi@30..31 ";"
    Whitespace@31..33 "\n\n"
  CONST@33..64
    ConstKeyword@33..38 "const"
    Whitespace@38..39 " "
    Ident@39..49 "WRAPPED_U8"
    Colon@49..50 ":"
    Whitespace@50..51 " "
    TYPE_UINT8@51..54
      U8Keyword@51..53 "u8"
      Whitespace@53..54 " "
    Eq@54..55 "="
    Whitespace@55..56 " "
    EXPR_BINARY@56..61
      EXPR_INT@56..58
        Int@56..57 "0"
        Whitespace@57..58 " "
      Minus@58..59 "-"
      Whitespace@59..60 " "
      EXPR_INT@60..61
        Int@60..61 "1"
    Semi@61..62 ";"
    Whitespace@62..64 "\n\n"
  CONST@64..102
    ConstKeyword@64..69 "const"
    Whitespace@69..70 " "
    Ident@70..85 "WRAPPED_PRODUCT"
    Colon@85..86 ":"
    Whitespace@86..87 " "
    TYPE_UINT8@87..90
      U8Keyword@87..89 "u8"
      Whitespace@89..90 " "
    Eq@90..91 "="
    Whitespace@91..92 " "
    EXPR_BINARY@92..99
      EXPR_INT@92..96
        Int@92..95 "128"
        Whitespace@95..96 " "
      Star@96..97 "*"
      Whitespace@97..98 " "
      EXPR_INT@98..99
        Int@98..99 "2"
    Semi@99..100 ";"
    Whitespace@100..102 "\n\n"
  CONST@102..143
    ConstKeyword@102..107 "const"
    Whitespace@107..108 " "
    Ident@108..124 "WRAPPED_DIVISION"
    Colon@124..125 ":"
    Whitespace@125..126 " "
    TYPE_INT8@126..129
      I8Keyword@126..128 "i8"
      Whitespace@128..129 " "
    Eq@129..130 "="
    Whitespace@130..131 " "
    EXPR_BINARY@131..140
      EXPR_PREFIX@131..136
        Minus@131..132 "-"
        EXPR_INT@132..136
          Int@132..135 "128"
          Whitespace@135..136 " "
      Slash@136..137 "/"
      Whitespace@137..138 " "
      EXPR_PREFIX@138..140
        Minus@138..139 "-"
        EXPR_INT@139..140
          Int@139..140 "1"
    Semi@140..141 ";"
    Whitespace@141..143 "\n\n"
  CONST@143..182
    ConstKeyword@143..148 "const"
    Whitespace@148..149 " "
    Ident@149..165 "WRAPPED_NEGATION"
    Colon@165..166 ":"
    Whitespace@166..167 " "
    TYPE_INT8@167..170
      I8Keyword@167..169 "i8"
      Whitespace@169..170 " "
    Eq@170..171 "="
    Whitespace@171..172 " "
    EXPR_PREFIX@172..179
      Minus@172..173 "-"
      EXPR_PAREN@173..179
        LParen@173..174 "("
        EXPR_PREFIX@174..178
          Minus@174..175 "-"
          EXPR_INT@175..178
            Int@175..178 "128"
        RParen@178..179 ")"
    Semi@179..180 ";"
    Whitespace@180..182 "\n\n"
  CONST@182..223
    ConstKeyword@182..187 "const"
    Whitespace@187..188 " "
    Ident@188..203 "FORWARD_WRAPPED"
    Colon@203..204 ":"
    Whitespace@204..205 " "
    TYPE_INT8@205..208
      I8Keyword@205..207 "i8"
      Whitespace@207..208 " "
    Eq@208..209 "="
    Whitespace@209..210 " "
    EXPR_BINARY@210..220
      EXPR_IDENT@210..217
        PATH@210..217
          Ident@210..216 "MAX_I8"
          Whitespace@216..217 " "
      Plus@217..218 "+"
      Whitespace@218..219 " "
      EXPR_INT@219..220
        Int@219..220 "1"
    Semi@220..221 ";"
    Whitespace@221..223 "\n\n"
  CONST@223..248
    ConstKeyword@223..228 "const"
    Whitespace@228..229 " "
    Ident@229..235 "MAX_I8"
    Colon@235..236 ":"
    Whitespace@236..237 " "
    TYPE_INT8@237..240
      I8Keyword@237..239 "i8"
      Whitespace@239..240 " "
    Eq@240..241 "="
    Whitespace@241..242 " "
    EXPR_INT@242..245
      Int@242..245 "127"
    Semi@245..246 ";"
    Whitespace@246..248 "\n\n"
  CONST@248..283
    ConstKeyword@248..253 "const"
    Whitespace@253..254 " "
    Ident@254..270 "NEGATIVE_ONE_I16"
    Colon@270..271 ":"
    Whitespace@271..272 " "
    TYPE_INT16@272..276
      I16Keyword@272..275 "i16"
      Whitespace@275..276 " "
    Eq@276..277 "="
    Whitespace@277..278 " "
    EXPR_PREFIX@278..280
      Minus@278..279 "-"
      EXPR_INT@279..280
        Int@279..280 "1"
    Semi@280..281 ";"
    Whitespace@281..283 "\n\n"
  CONST@283..316
    ConstKeyword@283..288 "const"
    Whitespace@288..289 " "
    Ident@289..295 "PREFIX"
    Colon@295..296 ":"
    Whitespace@296..297 " "
    TYPE_STRING@297..304
      StringKeyword@297..303 "string"
      Whitespace@303..304 " "
    Eq@304..305 "="
    Whitespace@305..306 " "
    EXPR_STR@306..313
      Str@306..313 "\"fixed\""
    Semi@313..314 ";"
    Whitespace@314..316 "\n\n"
  FN@316..368
    FnKeyword@316..318 "fn"
    Whitespace@318..319 " "
    Ident@319..326 "show_i8"
    PARAM_LIST@326..338
      LParen@326..327 "("
      PARAM@327..336
        Ident@327..332 "value"
        Colon@332..333 ":"
        Whitespace@333..334 " "
        TYPE_INT8@334..336
          I8Keyword@334..336 "i8"
      RParen@336..337 ")"
      Whitespace@337..338 " "
    Arrow@338..340 "->"
    Whitespace@340..341 " "
    TYPE_TUPLE@341..344
      TYPE_LIST@341..344
        LParen@341..342 "("
        RParen@342..343 ")"
        Whitespace@343..344 " "
    BLOCK@344..368
      LBrace@344..345 "{"
      Whitespace@345..350 "\n    "
      EXPR_CALL@350..365
        EXPR_IDENT@350..357
          PATH@350..357
            Ident@350..357 "println"
        ARG_LIST@357..365
          LParen@357..358 "("
          ARG@358..363
            EXPR_IDENT@358..363
              PATH@358..363
                Ident@358..363 "value"
          RParen@363..364 ")"
          Whitespace@364..365 "\n"
      RBrace@365..366 "}"
      Whitespace@366..368 "\n\n"
  FN@368..420
    FnKeyword@368..370 "fn"
    Whitespace@370..371 " "
    Ident@371..378 "show_u8"
    PARAM_LIST@378..390
      LParen@378..379 "("
      PARAM@379..388
        Ident@379..384 "value"
        Colon@384..385 ":"
        Whitespace@385..386 " "
        TYPE_UINT8@386..388
          U8Keyword@386..388 "u8"
      RParen@388..389 ")"
      Whitespace@389..390 " "
    Arrow@390..392 "->"
    Whitespace@392..393 " "
    TYPE_TUPLE@393..396
      TYPE_LIST@393..396
        LParen@393..394 "("
        RParen@394..395 ")"
        Whitespace@395..396 " "
    BLOCK@396..420
      LBrace@396..397 "{"
      Whitespace@397..402 "\n    "
      EXPR_CALL@402..417
        EXPR_IDENT@402..409
          PATH@402..409
            Ident@402..409 "println"
        ARG_LIST@409..417
          LParen@409..410 "("
          ARG@410..415
            EXPR_IDENT@410..415
              PATH@410..415
                Ident@410..415 "value"
          RParen@415..416 ")"
          Whitespace@416..417 "\n"
      RBrace@417..418 "}"
      Whitespace@418..420 "\n\n"
  FN@420..474
    FnKeyword@420..422 "fn"
    Whitespace@422..423 " "
    Ident@423..431 "show_i64"
    PARAM_LIST@431..444
      LParen@431..432 "("
      PARAM@432..442
        Ident@432..437 "value"
        Colon@437..438 ":"
        Whitespace@438..439 " "
        TYPE_INT64@439..442
          I64Keyword@439..442 "i64"
      RParen@442..443 ")"
      Whitespace@443..444 " "
    Arrow@444..446 "->"
    Whitespace@446..447 " "
    TYPE_TUPLE@447..450
      TYPE_LIST@447..450
        LParen@447..448 "("
        RParen@448..449 ")"
        Whitespace@449..450 " "
    BLOCK@450..474
      LBrace@450..451 "{"
      Whitespace@451..456 "\n    "
      EXPR_CALL@456..471
        EXPR_IDENT@456..463
          PATH@456..463
            Ident@456..463 "println"
        ARG_LIST@463..471
          LParen@463..464 "("
          ARG@464..469
            EXPR_IDENT@464..469
              PATH@464..469
                Ident@464..469 "value"
          RParen@469..470 ")"
          Whitespace@470..471 "\n"
      RBrace@471..472 "}"
      Whitespace@472..474 "\n\n"
  FN@474..528
    FnKeyword@474..476 "fn"
    Whitespace@476..477 " "
    Ident@477..485 "show_u64"
    PARAM_LIST@485..498
      LParen@485..486 "("
      PARAM@486..496
        Ident@486..491 "value"
        Colon@491..492 ":"
        Whitespace@492..493 " "
        TYPE_UINT64@493..496
          U64Keyword@493..496 "u64"
      RParen@496..497 ")"
      Whitespace@497..498 " "
    Arrow@498..500 "->"
    Whitespace@500..501 " "
    TYPE_TUPLE@501..504
      TYPE_LIST@501..504
        LParen@501..502 "("
        RParen@502..503 ")"
        Whitespace@503..504 " "
    BLOCK@504..528
      LBrace@504..505 "{"
      Whitespace@505..510 "\n    "
      EXPR_CALL@510..525
        EXPR_IDENT@510..517
          PATH@510..517
            Ident@510..517 "println"
        ARG_LIST@517..525
          LParen@517..518 "("
          ARG@518..523
            EXPR_IDENT@518..523
              PATH@518..523
                Ident@518..523 "value"
          RParen@523..524 ")"
          Whitespace@524..525 "\n"
      RBrace@525..526 "}"
      Whitespace@526..528 "\n\n"
  FN@528..1160
    FnKeyword@528..530 "fn"
    Whitespace@530..531 " "
    Ident@531..535 "main"
    PARAM_LIST@535..538
      LParen@535..536 "("
      RParen@536..537 ")"
      Whitespace@537..538 " "
    Arrow@538..540 "->"
    Whitespace@540..541 " "
    TYPE_TUPLE@541..544
      TYPE_LIST@541..544
        LParen@541..542 "("
        RParen@542..543 ")"
        Whitespace@543..544 " "
    BLOCK@544..1160
      LBrace@544..545 "{"
      Whitespace@545..550 "\n    "
      STMT_EXPR@550..572
        EXPR_CALL@550..566
          EXPR_IDENT@550..557
            PATH@550..557
              Ident@550..557 "show_i8"
          ARG_LIST@557..566
            LParen@557..558 "("
            ARG@558..565
              EXPR_BINARY@558..565
                EXPR_INT@558..562
                  Int@558..561 "127"
                  Whitespace@561..562 " "
                Plus@562..563 "+"
                Whitespace@563..564 " "
                EXPR_INT@564..565
                  Int@564..565 "1"
            RParen@565..566 ")"
        Semi@566..567 ";"
        Whitespace@567..572 "\n    "
      STMT_EXPR@572..592
        EXPR_CALL@572..586
          EXPR_IDENT@572..579
            PATH@572..579
              Ident@572..579 "show_u8"
          ARG_LIST@579..586
            LParen@579..580 "("
            ARG@580..585
              EXPR_BINARY@580..585
                EXPR_INT@580..582
                  Int@580..581 "0"
                  Whitespace@581..582 " "
                Minus@582..583 "-"
                Whitespace@583..584 " "
                EXPR_INT@584..585
                  Int@584..585 "1"
            RParen@585..586 ")"
        Semi@586..587 ";"
        Whitespace@587..592 "\n    "
      STMT_EXPR@592..614
        EXPR_CALL@592..608
          EXPR_IDENT@592..599
            PATH@592..599
              Ident@592..599 "show_u8"
          ARG_LIST@599..608
            LParen@599..600 "("
            ARG@600..607
              EXPR_BINARY@600..607
                EXPR_INT@600..604
                  Int@600..603 "128"
                  Whitespace@603..604 " "
                Star@604..605 "*"
                Whitespace@605..606 " "
                EXPR_INT@606..607
                  Int@606..607 "2"
            RParen@607..608 ")"
        Semi@608..609 ";"
        Whitespace@609..614 "\n    "
      STMT_EXPR@614..638
        EXPR_CALL@614..632
          EXPR_IDENT@614..621
            PATH@614..621
              Ident@614..621 "show_i8"
          ARG_LIST@621..632
            LParen@621..622 "("
            ARG@622..631
              EXPR_BINARY@622..631
                EXPR_PREFIX@622..627
                  Minus@622..623 "-"
                  EXPR_INT@623..627
                    Int@623..626 "128"
                    Whitespace@626..627 " "
                Slash@627..628 "/"
                Whitespace@628..629 " "
                EXPR_PREFIX@629..631
                  Minus@629..630 "-"
                  EXPR_INT@630..631
                    Int@630..631 "1"
            RParen@631..632 ")"
        Semi@632..633 ";"
        Whitespace@633..638 "\n    "
      STMT_EXPR@638..660
        EXPR_CALL@638..654
          EXPR_IDENT@638..645
            PATH@638..645
              Ident@638..645 "show_i8"
          ARG_LIST@645..654
            LParen@645..646 "("
            ARG@646..653
              EXPR_PREFIX@646..653
                Minus@646..647 "-"
                EXPR_PAREN@647..653
                  LParen@647..648 "("
                  EXPR_PREFIX@648..652
                    Minus@648..649 "-"
                    EXPR_INT@649..652
                      Int@649..652 "128"
                  RParen@652..653 ")"
            RParen@653..654 ")"
        Semi@654..655 ";"
        Whitespace@655..660 "\n    "
      STMT_EXPR@660..699
        EXPR_CALL@660..693
          EXPR_IDENT@660..668
            PATH@660..668
              Ident@660..668 "show_i64"
          ARG_LIST@668..693
            LParen@668..669 "("
            ARG@669..692
              EXPR_BINARY@669..692
                EXPR_INT@669..689
                  Int@669..688 "9223372036854775807"
                  Whitespace@688..689 " "
                Plus@689..690 "+"
                Whitespace@690..691 " "
                EXPR_INT@691..692
                  Int@691..692 "1"
            RParen@692..693 ")"
        Semi@693..694 ";"
        Whitespace@694..699 "\n    "
      STMT_EXPR@699..739
        EXPR_CALL@699..733
          EXPR_IDENT@699..707
            PATH@699..707
              Ident@699..707 "show_u64"
          ARG_LIST@707..733
            LParen@707..708 "("
            ARG@708..732
              EXPR_BINARY@708..732
                EXPR_INT@708..729
                  Int@708..728 "18446744073709551615"
                  Whitespace@728..729 " "
                Plus@729..730 "+"
                Whitespace@730..731 " "
                EXPR_INT@731..732
                  Int@731..732 "1"
            RParen@732..733 ")"
        Semi@733..734 ";"
        Whitespace@734..739 "\n    "
      STMT_EXPR@739..764
        EXPR_CALL@739..758
          EXPR_IDENT@739..746
            PATH@739..746
              Ident@739..746 "show_i8"
          ARG_LIST@746..758
            LParen@746..747 "("
            ARG@747..757
              EXPR_IDENT@747..757
                PATH@747..757
                  Ident@747..757 "WRAPPED_I8"
            RParen@757..758 ")"
        Semi@758..759 ";"
        Whitespace@759..764 "\n    "
      STMT_EXPR@764..789
        EXPR_CALL@764..783
          EXPR_IDENT@764..771
            PATH@764..771
              Ident@764..771 "show_u8"
          ARG_LIST@771..783
            LParen@771..772 "("
            ARG@772..782
              EXPR_IDENT@772..782
                PATH@772..782
                  Ident@772..782 "WRAPPED_U8"
            RParen@782..783 ")"
        Semi@783..784 ";"
        Whitespace@784..789 "\n    "
      STMT_EXPR@789..819
        EXPR_CALL@789..813
          EXPR_IDENT@789..796
            PATH@789..796
              Ident@789..796 "show_u8"
          ARG_LIST@796..813
            LParen@796..797 "("
            ARG@797..812
              EXPR_IDENT@797..812
                PATH@797..812
                  Ident@797..812 "WRAPPED_PRODUCT"
            RParen@812..813 ")"
        Semi@813..814 ";"
        Whitespace@814..819 "\n    "
      STMT_EXPR@819..850
        EXPR_CALL@819..844
          EXPR_IDENT@819..826
            PATH@819..826
              Ident@819..826 "show_i8"
          ARG_LIST@826..844
            LParen@826..827 "("
            ARG@827..843
              EXPR_IDENT@827..843
                PATH@827..843
                  Ident@827..843 "WRAPPED_DIVISION"
            RParen@843..844 ")"
        Semi@844..845 ";"
        Whitespace@845..850 "\n    "
      STMT_EXPR@850..881
        EXPR_CALL@850..875
          EXPR_IDENT@850..857
            PATH@850..857
              Ident@850..857 "show_i8"
          ARG_LIST@857..875
            LParen@857..858 "("
            ARG@858..874
              EXPR_IDENT@858..874
                PATH@858..874
                  Ident@858..874 "WRAPPED_NEGATION"
            RParen@874..875 ")"
        Semi@875..876 ";"
        Whitespace@876..881 "\n    "
      STMT_EXPR@881..911
        EXPR_CALL@881..905
          EXPR_IDENT@881..888
            PATH@881..888
              Ident@881..888 "show_i8"
          ARG_LIST@888..905
            LParen@888..889 "("
            ARG@889..904
              EXPR_IDENT@889..904
                PATH@889..904
                  Ident@889..904 "FORWARD_WRAPPED"
            RParen@904..905 ")"
        Semi@905..906 ";"
        Whitespace@906..911 "\n    "
      STMT_EXPR@911..936
        EXPR_CALL@911..930
          EXPR_IDENT@911..918
            PATH@911..918
              Ident@911..918 "show_i8"
          ARG_LIST@918..930
            LParen@918..919 "("
            ARG@919..929
              EXPR_BINARY@919..929
                EXPR_IDENT@919..926
                  PATH@919..926
                    Ident@919..925 "MAX_I8"
                    Whitespace@925..926 " "
                Plus@926..927 "+"
                Whitespace@927..928 " "
                EXPR_INT@928..929
                  Int@928..929 "1"
            RParen@929..930 ")"
        Semi@930..931 ";"
        Whitespace@931..936 "\n    "
      STMT_EXPR@936..966
        EXPR_CALL@936..960
          EXPR_IDENT@936..943
            PATH@936..943
              Ident@936..943 "show_i8"
          ARG_LIST@943..960
            LParen@943..944 "("
            ARG@944..959
              EXPR_BINARY@944..959
                EXPR_IDENT@944..955
                  PATH@944..955
                    Ident@944..954 "WRAPPED_I8"
                    Whitespace@954..955 " "
                Slash@955..956 "/"
                Whitespace@956..957 " "
                EXPR_PREFIX@957..959
                  Minus@957..958 "-"
                  EXPR_INT@958..959
                    Int@958..959 "1"
            RParen@959..960 ")"
        Semi@960..961 ";"
        Whitespace@961..966 "\n    "
      STMT_EXPR@966..992
        EXPR_CALL@966..986
          EXPR_IDENT@966..973
            PATH@966..973
              Ident@966..973 "show_i8"
          ARG_LIST@973..986
            LParen@973..974 "("
            ARG@974..985
              EXPR_PREFIX@974..985
                Minus@974..975 "-"
                EXPR_IDENT@975..985
                  PATH@975..985
                    Ident@975..985 "WRAPPED_I8"
            RParen@985..986 ")"
        Semi@986..987 ";"
        Whitespace@987..992 "\n    "
      STMT_LET@992..1042
        LetKeyword@992..995 "let"
        Whitespace@995..996 " "
        PATTERN_VARIABLE@996..1005
          Ident@996..1005 "converted"
        Colon@1005..1006 ":"
        Whitespace@1006..1007 " "
        TYPE_UINT8@1007..1010
          U8Keyword@1007..1009 "u8"
          Whitespace@1009..1010 " "
        Eq@1010..1011 "="
        Whitespace@1011..1012 " "
        EXPR_CALL@1012..1036
          EXPR_BINARY@1012..1034
            EXPR_IDENT@1012..1028
              PATH@1012..1028
                Ident@1012..1028 "NEGATIVE_ONE_I16"
            Dot@1028..1029 "."
            EXPR_IDENT@1029..1034
              PATH@1029..1034
                Ident@1029..1034 "to_u8"
          ARG_LIST@1034..1036
            LParen@1034..1035 "("
            RParen@1035..1036 ")"
        Semi@1036..1037 ";"
        Whitespace@1037..1042 "\n    "
      STMT_EXPR@1042..1066
        EXPR_CALL@1042..1060
          EXPR_IDENT@1042..1049
            PATH@1042..1049
              Ident@1042..1049 "show_u8"
          ARG_LIST@1049..1060
            LParen@1049..1050 "("
            ARG@1050..1059
              EXPR_IDENT@1050..1059
                PATH@1050..1059
                  Ident@1050..1059 "converted"
            RParen@1059..1060 ")"
        Semi@1060..1061 ";"
        Whitespace@1061..1066 "\n    "
      STMT_LET@1066..1099
        LetKeyword@1066..1069 "let"
        Whitespace@1069..1070 " "
        PATTERN_VARIABLE@1070..1083
          Ident@1070..1083 "runtime_value"
        Colon@1083..1084 ":"
        Whitespace@1084..1085 " "
        TYPE_INT8@1085..1088
          I8Keyword@1085..1087 "i8"
          Whitespace@1087..1088 " "
        Eq@1088..1089 "="
        Whitespace@1089..1090 " "
        EXPR_INT@1090..1093
          Int@1090..1093 "127"
        Semi@1093..1094 ";"
        Whitespace@1094..1099 "\n    "
      STMT_EXPR@1099..1131
        EXPR_CALL@1099..1125
          EXPR_IDENT@1099..1106
            PATH@1099..1106
              Ident@1099..1106 "show_i8"
          ARG_LIST@1106..1125
            LParen@1106..1107 "("
            ARG@1107..1124
              EXPR_BINARY@1107..1124
                EXPR_IDENT@1107..1121
                  PATH@1107..1121
                    Ident@1107..1120 "runtime_value"
                    Whitespace@1120..1121 " "
                Plus@1121..1122 "+"
                Whitespace@1122..1123 " "
                EXPR_INT@1123..1124
                  Int@1123..1124 "1"
            RParen@1124..1125 ")"
        Semi@1125..1126 ";"
        Whitespace@1126..1131 "\n    "
      EXPR_CALL@1131..1158
        EXPR_IDENT@1131..1138
          PATH@1131..1138
            Ident@1131..1138 "println"
        ARG_LIST@1138..1158
          LParen@1138..1139 "("
          ARG@1139..1156
            EXPR_BINARY@1139..1156
              EXPR_IDENT@1139..1146
                PATH@1139..1146
                  Ident@1139..1145 "PREFIX"
                  Whitespace@1145..1146 " "
              Plus@1146..1147 "+"
              Whitespace@1147..1148 " "
              EXPR_STR@1148..1156
                Str@1148..1156 "\" width\""
          RParen@1156..1157 ")"
          Whitespace@1157..1158 "\n"
      RBrace@1158..1159 "}"
      Whitespace@1159..1160 "\n"