FILE@0..430
  FN@0..54
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "show_i8"
    PARAM_LIST@10..22
      LParen@10..11 "("
      PARAM@11..20
        Ident@11..16 "value"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT8@18..20
          I8Keyword@18..20 "i8"
      RParen@20..21 ")"
      Whitespace@21..22 " "
    Arrow@22..24 "->"
    Whitespace@24..25 " "
    TYPE_UNIT@25..30
      UnitKeyword@25..29 "unit"
      Whitespace@29..30 " "
    BLOCK@30..54
      LBrace@30..31 "{"
      Whitespace@31..36 "\n    "
      EXPR_CALL@36..51
        EXPR_IDENT@36..43
          PATH@36..43
            Ident@36..43 "println"
        ARG_LIST@43..51
          LParen@43..44 "("
          ARG@44..49
            EXPR_IDENT@44..49
              PATH@44..49
                Ident@44..49 "value"
          RParen@49..50 ")"
          Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  FN@54..108
    FnKeyword@54..56 "fn"
    Whitespace@56..57 " "
    Ident@57..64 "show_u8"
    PARAM_LIST@64..76
      LParen@64..65 "("
      PARAM@65..74
        Ident@65..70 "value"
        Colon@70..71 ":"
        Whitespace@71..72 " "
        TYPE_UINT8@72..74
          U8Keyword@72..74 "u8"
      RParen@74..75 ")"
      Whitespace@75..76 " "
    Arrow@76..78 "->"
    Whitespace@78..79 " "
    TYPE_UNIT@79..84
      UnitKeyword@79..83 "unit"
      Whitespace@83..84 " "
    BLOCK@84..108
      LBrace@84..85 "{"
      Whitespace@85..90 "\n    "
      EXPR_CALL@90..105
        EXPR_IDENT@90..97
          PATH@90..97
            Ident@90..97 "println"
        ARG_LIST@97..105
          LParen@97..98 "("
          ARG@98..103
            EXPR_IDENT@98..103
              PATH@98..103
                Ident@98..103 "value"
          RParen@103..104 ")"
          Whitespace@104..105 "\n"
      RBrace@105..106 "}"
      Whitespace@106..108 "\n\n"
  FN@108..164
    FnKeyword@108..110 "fn"
    Whitespace@110..111 " "
    Ident@111..119 "show_i64"
    PARAM_LIST@119..132
      LParen@119..120 "("
      PARAM@120..130
        Ident@120..125 "value"
        Colon@125..126 ":"
        Whitespace@126..127 " "
        TYPE_INT64@127..130
          I64Keyword@127..130 "i64"
      RParen@130..131 ")"
      Whitespace@131..132 " "
    Arrow@132..134 "->"
    Whitespace@134..135 " "
    TYPE_UNIT@135..140
      UnitKeyword@135..139 "unit"
      Whitespace@139..140 " "
    BLOCK@140..164
      LBrace@140..141 "{"
      Whitespace@141..146 "\n    "
      EXPR_CALL@146..161
        EXPR_IDENT@146..153
          PATH@146..153
            Ident@146..153 "println"
        ARG_LIST@153..161
          LParen@153..154 "("
          ARG@154..159
            EXPR_IDENT@154..159
              PATH@154..159
                Ident@154..159 "value"
          RParen@159..160 ")"
          Whitespace@160..161 "\n"
      RBrace@161..162 "}"
      Whitespace@162..164 "\n\n"
  FN@164..220
    FnKeyword@164..166 "fn"
    Whitespace@166..167 " "
    Ident@167..175 "show_u64"
    PARAM_LIST@175..188
      LParen@175..176 "("
      PARAM@176..186
        Ident@176..181 "value"
        Colon@181..182 ":"
        Whitespace@182..183 " "
        TYPE_UINT64@183..186
          U64Keyword@183..186 "u64"
      RParen@186..187 ")"
      Whitespace@187..188 " "
    Arrow@188..190 "->"
    Whitespace@190..191 " "
    TYPE_UNIT@191..196
      UnitKeyword@191..195 "unit"
      Whitespace@195..196 " "
    BLOCK@196..220
      LBrace@196..197 "{"
      Whitespace@197..202 "\n    "
      EXPR_CALL@202..217
        EXPR_IDENT@202..209
          PATH@202..209
            Ident@202..209 "println"
        ARG_LIST@209..217
          LParen@209..210 "("
          ARG@210..215
            EXPR_IDENT@210..215
              PATH@210..215
                Ident@210..215 "value"
          RParen@215..216 ")"
          Whitespace@216..217 "\n"
      RBrace@217..218 "}"
      Whitespace@218..220 "\n\n"
  FN@220..430
    FnKeyword@220..222 "fn"
    Whitespace@222..223 " "
    Ident@223..227 "main"
    PARAM_LIST@227..230
      LParen@227..228 "("
      RParen@228..229 ")"
      Whitespace@229..230 " "
    Arrow@230..232 "->"
    Whitespace@232..233 " "
    TYPE_UNIT@233..238
      UnitKeyword@233..237 "unit"
      Whitespace@237..238 " "
    BLOCK@238..430
      LBrace@238..239 "{"
      Whitespace@239..244 "\n    "
      STMT_EXPR@244..266
        EXPR_CALL@244..260
          EXPR_IDENT@244..251
            PATH@244..251
              Ident@244..251 "show_i8"
          ARG_LIST@251..260
            LParen@251..252 "("
            ARG@252..259
              EXPR_BINARY@252..259
                EXPR_INT@252..256
                  Int@252..255 "127"
                  Whitespace@255..256 " "
                Plus@256..257 "+"
                Whitespace@257..258 " "
                EXPR_INT@258..259
                  Int@258..259 "1"
            RParen@259..260 ")"
        Semi@260..261 ";"
        Whitespace@261..266 "\n    "
      STMT_EXPR@266..286
        EXPR_CALL@266..280
          EXPR_IDENT@266..273
            PATH@266..273
              Ident@266..273 "show_u8"
          ARG_LIST@273..280
            LParen@273..274 "("
            ARG@274..279
              EXPR_BINARY@274..279
                EXPR_INT@274..276
                  Int@274..275 "0"
                  Whitespace@275..276 " "
                Minus@276..277 "-"
                Whitespace@277..278 " "
                EXPR_INT@278..279
                  Int@278..279 "1"
            RParen@279..280 ")"
        Semi@280..281 ";"
        Whitespace@281..286 "\n    "
      STMT_EXPR@286..308
        EXPR_CALL@286..302
          EXPR_IDENT@286..293
            PATH@286..293
              Ident@286..293 "show_u8"
          ARG_LIST@293..302
            LParen@293..294 "("
            ARG@294..301
              EXPR_BINARY@294..301
                EXPR_INT@294..298
                  Int@294..297 "128"
                  Whitespace@297..298 " "
                Star@298..299 "*"
                Whitespace@299..300 " "
                EXPR_INT@300..301
                  Int@300..301 "2"
            RParen@301..302 ")"
        Semi@302..303 ";"
        Whitespace@303..308 "\n    "
      STMT_EXPR@308..332
        EXPR_CALL@308..326
          EXPR_IDENT@308..315
            PATH@308..315
              Ident@308..315 "show_i8"
          ARG_LIST@315..326
            LParen@315..316 "("
            ARG@316..325
              EXPR_BINARY@316..325
                EXPR_PREFIX@316..321
                  Minus@316..317 "-"
                  EXPR_INT@317..321
                    Int@317..320 "128"
                    Whitespace@320..321 " "
                Slash@321..322 "/"
                Whitespace@322..323 " "
                EXPR_PREFIX@323..325
                  Minus@323..324 "-"
                  EXPR_INT@324..325
                    Int@324..325 "1"
            RParen@325..326 ")"
        Semi@326..327 ";"
        Whitespace@327..332 "\n    "
      STMT_EXPR@332..354
        EXPR_CALL@332..348
          EXPR_IDENT@332..339
            PATH@332..339
              Ident@332..339 "show_i8"
          ARG_LIST@339..348
            LParen@339..340 "("
            ARG@340..347
              EXPR_PREFIX@340..347
                Minus@340..341 "-"
                EXPR_PAREN@341..347
                  LParen@341..342 "("
                  EXPR_PREFIX@342..346
                    Minus@342..343 "-"
                    EXPR_INT@343..346
                      Int@343..346 "128"
                  RParen@346..347 ")"
            RParen@347..348 ")"
        Semi@348..349 ";"
        Whitespace@349..354 "\n    "
      STMT_EXPR@354..393
        EXPR_CALL@354..387
          EXPR_IDENT@354..362
            PATH@354..362
              Ident@354..362 "show_i64"
          ARG_LIST@362..387
            LParen@362..363 "("
            ARG@363..386
              EXPR_BINARY@363..386
                EXPR_INT@363..383
                  Int@363..382 "9223372036854775807"
                  Whitespace@382..383 " "
                Plus@383..384 "+"
                Whitespace@384..385 " "
                EXPR_INT@385..386
                  Int@385..386 "1"
            RParen@386..387 ")"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      EXPR_CALL@393..428
        EXPR_IDENT@393..401
          PATH@393..401
            Ident@393..401 "show_u64"
        ARG_LIST@401..428
          LParen@401..402 "("
          ARG@402..426
            EXPR_BINARY@402..426
              EXPR_INT@402..423
                Int@402..422 "18446744073709551615"
                Whitespace@422..423 " "
              Plus@423..424 "+"
              Whitespace@424..425 " "
              EXPR_INT@425..426
                Int@425..426 "1"
          RParen@426..427 ")"
          Whitespace@427..428 "\n"
      RBrace@428..429 "}"
      Whitespace@429..430 "\n"