FILE@0..555
  USE@0..16
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..13
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..13 "task"
    Semi@13..14 ";"
    Whitespace@14..16 "\n\n"
  FN@16..555
    FnKeyword@16..18 "fn"
    Whitespace@18..19 " "
    Ident@19..23 "main"
    PARAM_LIST@23..26
      LParen@23..24 "("
      RParen@24..25 ")"
      Whitespace@25..26 " "
    Arrow@26..28 "->"
    Whitespace@28..29 " "
    TYPE_TUPLE@29..32
      TYPE_LIST@29..32
        LParen@29..30 "("
        RParen@30..31 ")"
        Whitespace@31..32 " "
    BLOCK@32..555
      LBrace@32..33 "{"
      Whitespace@33..38 "\n    "
      STMT_LET@38..75
        LetKeyword@38..41 "let"
        Whitespace@41..42 " "
        PATTERN_VARIABLE@42..52
          Ident@42..51 "completed"
          Whitespace@51..52 " "
        Eq@52..53 "="
        Whitespace@53..54 " "
        EXPR_CALL@54..69
          EXPR_IDENT@54..62
            PATH@54..62
              Ident@54..57 "Ref"
              ColonColon@57..59 "::"
              Ident@59..62 "new"
          ARG_LIST@62..69
            LParen@62..63 "("
            ARG@63..68
              EXPR_BOOL@63..68
                FalseKeyword@63..68 "false"
            RParen@68..69 ")"
        Semi@69..70 ";"
        Whitespace@70..75 "\n    "
      STMT_LET@75..273
        LetKeyword@75..78 "let"
        Whitespace@78..79 " "
        PATTERN_VARIABLE@79..85
          Ident@79..84 "total"
          Whitespace@84..85 " "
        Eq@85..86 "="
        Whitespace@86..87 " "
        EXPR_SCOPE@87..267
          Ident@87..92 "scope"
          Whitespace@92..93 " "
          BLOCK@93..267
            LBrace@93..94 "{"
            Whitespace@94..103 "\n        "
            STMT_LET@103..142
              LetKeyword@103..106 "let"
              Whitespace@106..107 " "
              PATTERN_VARIABLE@107..112
                Ident@107..111 "left"
                Whitespace@111..112 " "
              Eq@112..113 "="
              Whitespace@113..114 " "
              EXPR_SPAWN@114..132
                Ident@114..119 "spawn"
                Whitespace@119..120 " "
                EXPR_CLOSURE@120..132
                  CLOSURE_PARAM_LIST@120..130
                    Pipe@120..121 "|"
                    CLOSURE_PARAM@121..128
                      Ident@121..128 "_cancel"
                    Pipe@128..129 "|"
                    Whitespace@129..130 " "
                  EXPR_CLOSURE_BODY@130..132
                    EXPR_INT@130..132
                      Int@130..132 "20"
              Semi@132..133 ";"
              Whitespace@133..142 "\n        "
            STMT_LET@142..182
              LetKeyword@142..145 "let"
              Whitespace@145..146 " "
              PATTERN_VARIABLE@146..152
                Ident@146..151 "right"
                Whitespace@151..152 " "
              Eq@152..153 "="
              Whitespace@153..154 " "
              EXPR_SPAWN@154..172
                Ident@154..159 "spawn"
                Whitespace@159..160 " "
                EXPR_CLOSURE@160..172
                  CLOSURE_PARAM_LIST@160..170
                    Pipe@160..161 "|"
                    CLOSURE_PARAM@161..168
                      Ident@161..168 "_cancel"
                    Pipe@168..169 "|"
                    Whitespace@169..170 " "
                  EXPR_CLOSURE_BODY@170..172
                    EXPR_INT@170..172
                      Int@170..172 "22"
              Semi@172..173 ";"
              Whitespace@173..182 "\n        "
            STMT_LET@182..235
              LetKeyword@182..185 "let"
              Whitespace@185..186 " "
              PATTERN_WILDCARD@186..188
                WildcardKeyword@186..187 "_"
                Whitespace@187..188 " "
              Eq@188..189 "="
              Whitespace@189..190 " "
              EXPR_SPAWN@190..225
                Ident@190..195 "spawn"
                Whitespace@195..196 " "
                EXPR_CLOSURE@196..225
                  CLOSURE_PARAM_LIST@196..206
                    Pipe@196..197 "|"
                    CLOSURE_PARAM@197..204
                      Ident@197..204 "_cancel"
                    Pipe@204..205 "|"
                    Whitespace@205..206 " "
                  EXPR_CLOSURE_BODY@206..225
                    EXPR_CALL@206..225
                      EXPR_BINARY@206..219
                        EXPR_IDENT@206..215
                          PATH@206..215
                            Ident@206..215 "completed"
                        Dot@215..216 "."
                        EXPR_IDENT@216..219
                          PATH@216..219
                            Ident@216..219 "set"
                      ARG_LIST@219..225
                        LParen@219..220 "("
                        ARG@220..224
                          EXPR_BOOL@220..224
                            TrueKeyword@220..224 "true"
                        RParen@224..225 ")"
              Semi@225..226 ";"
              Whitespace@226..235 "\n        "
            EXPR_BINARY@235..266
              EXPR_CALL@235..247
                EXPR_BINARY@235..244
                  EXPR_IDENT@235..239
                    PATH@235..239
                      Ident@235..239 "left"
                  Dot@239..240 "."
                  EXPR_IDENT@240..244
                    PATH@240..244
                      Ident@240..244 "join"
                ARG_LIST@244..247
                  LParen@244..245 "("
                  RParen@245..246 ")"
                  Whitespace@246..247 " "
              Plus@247..248 "+"
              Whitespace@248..249 " "
              EXPR_CALL@249..266
                EXPR_BINARY@249..259
                  EXPR_IDENT@249..254
                    PATH@249..254
                      Ident@249..254 "right"
                  Dot@254..255 "."
                  EXPR_IDENT@255..259
                    PATH@255..259
                      Ident@255..259 "join"
                ARG_LIST@259..266
                  LParen@259..260 "("
                  RParen@260..261 ")"
                  Whitespace@261..266 "\n    "
            RBrace@266..267 "}"
        Semi@267..268 ";"
        Whitespace@268..273 "\n    "
      STMT_EXPR@273..293
        EXPR_CALL@273..287
          EXPR_IDENT@273..280
            PATH@273..280
              Ident@273..280 "println"
          ARG_LIST@280..287
            LParen@280..281 "("
            ARG@281..286
              EXPR_IDENT@281..286
                PATH@281..286
                  Ident@281..286 "total"
            RParen@286..287 ")"
        Semi@287..288 ";"
        Whitespace@288..293 "\n    "
      STMT_EXPR@293..323
        EXPR_CALL@293..317
          EXPR_IDENT@293..300
            PATH@293..300
              Ident@293..300 "println"
          ARG_LIST@300..317
            LParen@300..301 "("
            ARG@301..316
              EXPR_CALL@301..316
                EXPR_BINARY@301..314
                  EXPR_IDENT@301..310
                    PATH@301..310
                      Ident@301..310 "completed"
                  Dot@310..311 "."
                  EXPR_IDENT@311..314
                    PATH@311..314
                      Ident@311..314 "get"
                ARG_LIST@314..316
                  LParen@314..315 "("
                  RParen@315..316 ")"
            RParen@316..317 ")"
        Semi@317..318 ";"
        Whitespace@318..323 "\n    "
      STMT_LET@323..449
        LetKeyword@323..326 "let"
        Whitespace@326..327 " "
        PATTERN_VARIABLE@327..334
          Ident@327..333 "nested"
          Whitespace@333..334 " "
        Eq@334..335 "="
        Whitespace@335..336 " "
        EXPR_SCOPE@336..443
          Ident@336..341 "scope"
          Whitespace@341..342 " "
          BLOCK@342..443
            LBrace@342..343 "{"
            Whitespace@343..352 "\n        "
            EXPR_SCOPE@352..442
              Ident@352..357 "scope"
              Whitespace@357..358 " "
              BLOCK@358..442
                LBrace@358..359 "{"
                Whitespace@359..372 "\n            "
                STMT_LET@372..415
                  LetKeyword@372..375 "let"
                  Whitespace@375..376 " "
                  PATTERN_VARIABLE@376..382
                    Ident@376..381 "value"
                    Whitespace@381..382 " "
                  Eq@382..383 "="
                  Whitespace@383..384 " "
                  EXPR_SPAWN@384..401
                    Ident@384..389 "spawn"
                    Whitespace@389..390 " "
                    EXPR_CLOSURE@390..401
                      CLOSURE_PARAM_LIST@390..400
                        Pipe@390..391 "|"
                        CLOSURE_PARAM@391..398
                          Ident@391..398 "_cancel"
                        Pipe@398..399 "|"
                        Whitespace@399..400 " "
                      EXPR_CLOSURE_BODY@400..401
                        EXPR_INT@400..401
                          Int@400..401 "7"
                  Semi@401..402 ";"
                  Whitespace@402..415 "\n            "
                EXPR_CALL@415..436
                  EXPR_BINARY@415..425
                    EXPR_IDENT@415..420
                      PATH@415..420
                        Ident@415..420 "value"
                    Dot@420..421 "."
                    EXPR_IDENT@421..425
                      PATH@421..425
                        Ident@421..425 "join"
                  ARG_LIST@425..436
                    LParen@425..426 "("
                    RParen@426..427 ")"
                    Whitespace@427..436 "\n        "
                RBrace@436..437 "}"
                Whitespace@437..442 "\n    "
            RBrace@442..443 "}"
        Semi@443..444 ";"
        Whitespace@444..449 "\n    "
      STMT_EXPR@449..470
        EXPR_CALL@449..464
          EXPR_IDENT@449..456
            PATH@449..456
              Ident@449..456 "println"
          ARG_LIST@456..464
            LParen@456..457 "("
            ARG@457..463
              EXPR_IDENT@457..463
                PATH@457..463
                  Ident@457..463 "nested"
            RParen@463..464 ")"
        Semi@464..465 ";"
        Whitespace@465..470 "\n    "
      STMT_LET@470..489
        LetKeyword@470..473 "let"
        Whitespace@473..474 " "
        PATTERN_VARIABLE@474..480
          Ident@474..479 "scope"
          Whitespace@479..480 " "
        Eq@480..481 "="
        Whitespace@481..482 " "
        EXPR_INT@482..483
          Int@482..483 "3"
        Semi@483..484 ";"
        Whitespace@484..489 "\n    "
      STMT_LET@489..531
        LetKeyword@489..492 "let"
        Whitespace@492..493 " "
        PATTERN_VARIABLE@493..499
          Ident@493..498 "spawn"
          Whitespace@498..499 " "
        Eq@499..500 "="
        Whitespace@500..501 " "
        EXPR_CLOSURE@501..525
          CLOSURE_PARAM_LIST@501..516
            Pipe@501..502 "|"
            CLOSURE_PARAM@502..514
              Ident@502..507 "value"
              Colon@507..508 ":"
              Whitespace@508..509 " "
              TYPE_INT@509..514
                IsizeKeyword@509..514 "isize"
            Pipe@514..515 "|"
            Whitespace@515..516 " "
          EXPR_CLOSURE_BODY@516..525
            EXPR_BINARY@516..525
              EXPR_IDENT@516..522
                PATH@516..522
                  Ident@516..521 "value"
                  Whitespace@521..522 " "
              Plus@522..523 "+"
              Whitespace@523..524 " "
              EXPR_INT@524..525
                Int@524..525 "1"
        Semi@525..526 ";"
        Whitespace@526..531 "\n    "
      EXPR_CALL@531..553
        EXPR_IDENT@531..538
          PATH@531..538
            Ident@531..538 "println"
        ARG_LIST@538..553
          LParen@538..539 "("
          ARG@539..551
            EXPR_CALL@539..551
              EXPR_IDENT@539..544
                PATH@539..544
                  Ident@539..544 "spawn"
              ARG_LIST@544..551
                LParen@544..545 "("
                ARG@545..550
                  EXPR_IDENT@545..550
                    PATH@545..550
                      Ident@545..550 "scope"
                RParen@550..551 ")"
          RParen@551..552 ")"
          Whitespace@552..553 "\n"
      RBrace@553..554 "}"
      Whitespace@554..555 "\n"