FILE@0..369
  FN@0..369
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..369
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..48
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "v"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..42
          EXPR_IDENT@32..40
            PATH@32..40
              Ident@32..35 "Vec"
              ColonColon@35..37 "::"
              Ident@37..40 "new"
          ARG_LIST@40..42
            LParen@40..41 "("
            RParen@41..42 ")"
        Semi@42..43 ";"
        Whitespace@43..48 "\n    "
      STMT_LET@48..72
        LetKeyword@48..51 "let"
        Whitespace@51..52 " "
        PATTERN_VARIABLE@52..54
          Ident@52..53 "v"
          Whitespace@53..54 " "
        Eq@54..55 "="
        Whitespace@55..56 " "
        EXPR_CALL@56..66
          EXPR_BINARY@56..62
            EXPR_IDENT@56..57
              PATH@56..57
                Ident@56..57 "v"
            Dot@57..58 "."
            EXPR_IDENT@58..62
              PATH@58..62
                Ident@58..62 "push"
          ARG_LIST@62..66
            LParen@62..63 "("
            ARG@63..65
              EXPR_INT@63..65
                Int@63..65 "10"
            RParen@65..66 ")"
        Semi@66..67 ";"
        Whitespace@67..72 "\n    "
      STMT_LET@72..96
        LetKeyword@72..75 "let"
        Whitespace@75..76 " "
        PATTERN_VARIABLE@76..78
          Ident@76..77 "v"
          Whitespace@77..78 " "
        Eq@78..79 "="
        Whitespace@79..80 " "
        EXPR_CALL@80..90
          EXPR_BINARY@80..86
            EXPR_IDENT@80..81
              PATH@80..81
                Ident@80..81 "v"
            Dot@81..82 "."
            EXPR_IDENT@82..86
              PATH@82..86
                Ident@82..86 "push"
          ARG_LIST@86..90
            LParen@86..87 "("
            ARG@87..89
              EXPR_INT@87..89
                Int@87..89 "20"
            RParen@89..90 ")"
        Semi@90..91 ";"
        Whitespace@91..96 "\n    "
      STMT_LET@96..120
        LetKeyword@96..99 "let"
        Whitespace@99..100 " "
        PATTERN_VARIABLE@100..102
          Ident@100..101 "v"
          Whitespace@101..102 " "
        Eq@102..103 "="
        Whitespace@103..104 " "
        EXPR_CALL@104..114
          EXPR_BINARY@104..110
            EXPR_IDENT@104..105
              PATH@104..105
                Ident@104..105 "v"
            Dot@105..106 "."
            EXPR_IDENT@106..110
              PATH@106..110
                Ident@106..110 "push"
          ARG_LIST@110..114
            LParen@110..111 "("
            ARG@111..113
              EXPR_INT@111..113
                Int@111..113 "30"
            RParen@113..114 ")"
        Semi@114..115 ";"
        Whitespace@115..120 "\n    "
      STMT_LET@120..145
        LetKeyword@120..123 "let"
        Whitespace@123..124 " "
        PATTERN_VARIABLE@124..126
          Ident@124..125 "v"
          Whitespace@125..126 " "
        Eq@126..127 "="
        Whitespace@127..128 " "
        EXPR_CALL@128..138
          EXPR_BINARY@128..134
            EXPR_IDENT@128..129
              PATH@128..129
                Ident@128..129 "v"
            Dot@129..130 "."
            EXPR_IDENT@130..134
              PATH@130..134
                Ident@130..134 "push"
          ARG_LIST@134..138
            LParen@134..135 "("
            ARG@135..137
              EXPR_INT@135..137
                Int@135..137 "40"
            RParen@137..138 ")"
        Semi@138..139 ";"
        Whitespace@139..145 "\n\n    "
      STMT_LET@145..186
        LetKeyword@145..148 "let"
        Whitespace@148..149 " "
        PATTERN_VARIABLE@149..150
          Ident@149..150 "s"
        Colon@150..151 ":"
        Whitespace@151..152 " "
        TYPE_TAPP@152..165
          PATH@152..157
            Ident@152..157 "Slice"
          TYPE_PARAM_LIST@157..165
            LBracket@157..158 "["
            TYPE_INT32@158..163
              Int32Keyword@158..163 "int32"
            RBracket@163..164 "]"
            Whitespace@164..165 " "
        Eq@165..166 "="
        Whitespace@166..167 " "
        EXPR_CALL@167..180
          EXPR_BINARY@167..174
            EXPR_IDENT@167..168
              PATH@167..168
                Ident@167..168 "v"
            Dot@168..169 "."
            EXPR_IDENT@169..174
              PATH@169..174
                Ident@169..174 "slice"
          ARG_LIST@174..180
            LParen@174..175 "("
            ARG@175..178
              EXPR_INT@175..176
                Int@175..176 "1"
              Comma@176..177 ","
              Whitespace@177..178 " "
            ARG@178..179
              EXPR_INT@178..179
                Int@178..179 "4"
            RParen@179..180 ")"
        Semi@180..181 ";"
        Whitespace@181..186 "\n    "
      STMT_EXPR@186..208
        EXPR_CALL@186..202
          EXPR_IDENT@186..193
            PATH@186..193
              Ident@186..193 "println"
          ARG_LIST@193..202
            LParen@193..194 "("
            ARG@194..201
              EXPR_CALL@194..201
                EXPR_BINARY@194..199
                  EXPR_IDENT@194..195
                    PATH@194..195
                      Ident@194..195 "s"
                  Dot@195..196 "."
                  EXPR_IDENT@196..199
                    PATH@196..199
                      Ident@196..199 "len"
                ARG_LIST@199..201
                  LParen@199..200 "("
                  RParen@200..201 ")"
            RParen@201..202 ")"
        Semi@202..203 ";"
        Whitespace@203..208 "\n    "
      STMT_EXPR@208..231
        EXPR_CALL@208..225
          EXPR_IDENT@208..215
            PATH@208..215
              Ident@208..215 "println"
          ARG_LIST@215..225
            LParen@215..216 "("
            ARG@216..224
              EXPR_CALL@216..224
                EXPR_BINARY@216..221
                  EXPR_IDENT@216..217
                    PATH@216..217
                      Ident@216..217 "s"
                  Dot@217..218 "."
                  EXPR_IDENT@218..221
                    PATH@218..221
                      Ident@218..221 "get"
                ARG_LIST@221..224
                  LParen@221..222 "("
                  ARG@222..223
                    EXPR_INT@222..223
                      Int@222..223 "0"
                  RParen@223..224 ")"
            RParen@224..225 ")"
        Semi@225..226 ";"
        Whitespace@226..231 "\n    "
      STMT_EXPR@231..254
        EXPR_CALL@231..248
          EXPR_IDENT@231..238
            PATH@231..238
              Ident@231..238 "println"
          ARG_LIST@238..248
            LParen@238..239 "("
            ARG@239..247
              EXPR_CALL@239..247
                EXPR_BINARY@239..244
                  EXPR_IDENT@239..240
                    PATH@239..240
                      Ident@239..240 "s"
                  Dot@240..241 "."
                  EXPR_IDENT@241..244
                    PATH@241..244
                      Ident@241..244 "get"
                ARG_LIST@244..247
                  LParen@244..245 "("
                  ARG@245..246
                    EXPR_INT@245..246
                      Int@245..246 "1"
                  RParen@246..247 ")"
            RParen@247..248 ")"
        Semi@248..249 ";"
        Whitespace@249..254 "\n    "
      STMT_EXPR@254..278
        EXPR_CALL@254..271
          EXPR_IDENT@254..261
            PATH@254..261
              Ident@254..261 "println"
          ARG_LIST@261..271
            LParen@261..262 "("
            ARG@262..270
              EXPR_CALL@262..270
                EXPR_BINARY@262..267
                  EXPR_IDENT@262..263
                    PATH@262..263
                      Ident@262..263 "s"
                  Dot@263..264 "."
                  EXPR_IDENT@264..267
                    PATH@264..267
                      Ident@264..267 "get"
                ARG_LIST@267..270
                  LParen@267..268 "("
                  ARG@268..269
                    EXPR_INT@268..269
                      Int@268..269 "2"
                  RParen@269..270 ")"
            RParen@270..271 ")"
        Semi@271..272 ";"
        Whitespace@272..278 "\n\n    "
      STMT_LET@278..303
        LetKeyword@278..281 "let"
        Whitespace@281..282 " "
        PATTERN_VARIABLE@282..284
          Ident@282..283 "t"
          Whitespace@283..284 " "
        Eq@284..285 "="
        Whitespace@285..286 " "
        EXPR_CALL@286..297
          EXPR_BINARY@286..291
            EXPR_IDENT@286..287
              PATH@286..287
                Ident@286..287 "s"
            Dot@287..288 "."
            EXPR_IDENT@288..291
              PATH@288..291
                Ident@288..291 "sub"
          ARG_LIST@291..297
            LParen@291..292 "("
            ARG@292..295
              EXPR_INT@292..293
                Int@292..293 "1"
              Comma@293..294 ","
              Whitespace@294..295 " "
            ARG@295..296
              EXPR_INT@295..296
                Int@295..296 "3"
            RParen@296..297 ")"
        Semi@297..298 ";"
        Whitespace@298..303 "\n    "
      STMT_EXPR@303..325
        EXPR_CALL@303..319
          EXPR_IDENT@303..310
            PATH@303..310
              Ident@303..310 "println"
          ARG_LIST@310..319
            LParen@310..311 "("
            ARG@311..318
              EXPR_CALL@311..318
                EXPR_BINARY@311..316
                  EXPR_IDENT@311..312
                    PATH@311..312
                      Ident@311..312 "t"
                  Dot@312..313 "."
                  EXPR_IDENT@313..316
                    PATH@313..316
                      Ident@313..316 "len"
                ARG_LIST@316..318
                  LParen@316..317 "("
                  RParen@317..318 ")"
            RParen@318..319 ")"
        Semi@319..320 ";"
        Whitespace@320..325 "\n    "
      STMT_EXPR@325..348
        EXPR_CALL@325..342
          EXPR_IDENT@325..332
            PATH@325..332
              Ident@325..332 "println"
          ARG_LIST@332..342
            LParen@332..333 "("
            ARG@333..341
              EXPR_CALL@333..341
                EXPR_BINARY@333..338
                  EXPR_IDENT@333..334
                    PATH@333..334
                      Ident@333..334 "t"
                  Dot@334..335 "."
                  EXPR_IDENT@335..338
                    PATH@335..338
                      Ident@335..338 "get"
                ARG_LIST@338..341
                  LParen@338..339 "("
                  ARG@339..340
                    EXPR_INT@339..340
                      Int@339..340 "0"
                  RParen@340..341 ")"
            RParen@341..342 ")"
        Semi@342..343 ";"
        Whitespace@343..348 "\n    "
      STMT_EXPR@348..367
        EXPR_CALL@348..365
          EXPR_IDENT@348..355
            PATH@348..355
              Ident@348..355 "println"
          ARG_LIST@355..365
            LParen@355..356 "("
            ARG@356..364
              EXPR_CALL@356..364
                EXPR_BINARY@356..361
                  EXPR_IDENT@356..357
                    PATH@356..357
                      Ident@356..357 "t"
                  Dot@357..358 "."
                  EXPR_IDENT@358..361
                    PATH@358..361
                      Ident@358..361 "get"
                ARG_LIST@361..364
                  LParen@361..362 "("
                  ARG@362..363
                    EXPR_INT@362..363
                      Int@362..363 "1"
                  RParen@363..364 ")"
            RParen@364..365 ")"
        Semi@365..366 ";"
        Whitespace@366..367 "\n"
      RBrace@367..368 "}"
      Whitespace@368..369 "\n"