FILE@0..227
  FN@0..227
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..227
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..41
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "i"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_CALL@24..35
          EXPR_IDENT@24..32
            PATH@24..32
              Ident@24..27 "Ref"
              ColonColon@27..29 "::"
              Ident@29..32 "new"
          ARG_LIST@32..35
            LParen@32..33 "("
            ARG@33..34
              EXPR_INT@33..34
                Int@33..34 "0"
            RParen@34..35 ")"
        Semi@35..36 ";"
        Whitespace@36..41 "\n    "
      STMT_EXPR@41..200
        EXPR_WHILE@41..200
          WhileKeyword@41..46 "while"
          Whitespace@46..47 " "
          EXPR_WHILE_COND@47..60
            EXPR_BINARY@47..60
              EXPR_CALL@47..55
                EXPR_BINARY@47..52
                  EXPR_IDENT@47..48
                    PATH@47..48
                      Ident@47..48 "i"
                  Dot@48..49 "."
                  EXPR_IDENT@49..52
                    PATH@49..52
                      Ident@49..52 "get"
                ARG_LIST@52..55
                  LParen@52..53 "("
                  RParen@53..54 ")"
                  Whitespace@54..55 " "
              Less@55..56 "<"
              Whitespace@56..57 " "
              EXPR_INT@57..60
                Int@57..59 "10"
                Whitespace@59..60 " "
          EXPR_WHILE_BODY@60..200
            BLOCK@60..200
              LBrace@60..61 "{"
              Whitespace@61..70 "\n        "
              STMT_EXPR@70..98
                EXPR_CALL@70..88
                  EXPR_BINARY@70..75
                    EXPR_IDENT@70..71
                      PATH@70..71
                        Ident@70..71 "i"
                    Dot@71..72 "."
                    EXPR_IDENT@72..75
                      PATH@72..75
                        Ident@72..75 "set"
                  ARG_LIST@75..88
                    LParen@75..76 "("
                    ARG@76..87
                      EXPR_BINARY@76..87
                        EXPR_CALL@76..84
                          EXPR_BINARY@76..81
                            EXPR_IDENT@76..77
                              PATH@76..77
                                Ident@76..77 "i"
                            Dot@77..78 "."
                            EXPR_IDENT@78..81
                              PATH@78..81
                                Ident@78..81 "get"
                          ARG_LIST@81..84
                            LParen@81..82 "("
                            RParen@82..83 ")"
                            Whitespace@83..84 " "
                        Plus@84..85 "+"
                        Whitespace@85..86 " "
                        EXPR_INT@86..87
                          Int@86..87 "1"
                    RParen@87..88 ")"
                Semi@88..89 ";"
                Whitespace@89..98 "\n        "
              STMT_EXPR@98..164
                EXPR_IF@98..154
                  IfKeyword@98..100 "if"
                  Whitespace@100..101 " "
                  EXPR_IF_COND@101..114
                    EXPR_BINARY@101..114
                      EXPR_CALL@101..109
                        EXPR_BINARY@101..106
                          EXPR_IDENT@101..102
                            PATH@101..102
                              Ident@101..102 "i"
                          Dot@102..103 "."
                          EXPR_IDENT@103..106
                            PATH@103..106
                              Ident@103..106 "get"
                        ARG_LIST@106..109
                          LParen@106..107 "("
                          RParen@107..108 ")"
                          Whitespace@108..109 " "
                      EqEq@109..111 "=="
                      Whitespace@111..112 " "
                      EXPR_INT@112..114
                        Int@112..113 "5"
                        Whitespace@113..114 " "
                  EXPR_IF_THEN@114..147
                    BLOCK@114..147
                      LBrace@114..115 "{"
                      Whitespace@115..128 "\n            "
                      EXPR_CONTINUE@128..145
                        ContinueKeyword@128..136 "continue"
                        Whitespace@136..145 "\n        "
                      RBrace@145..146 "}"
                      Whitespace@146..147 " "
                  ElseKeyword@147..151 "else"
                  Whitespace@151..152 " "
                  EXPR_IF_ELSE@152..154
                    BLOCK@152..154
                      LBrace@152..153 "{"
                      RBrace@153..154 "}"
                Semi@154..155 ";"
                Whitespace@155..164 "\n        "
              STMT_LET@164..194
                LetKeyword@164..167 "let"
                Whitespace@167..168 " "
                PATTERN_WILDCARD@168..170
                  WildcardKeyword@168..169 "_"
                  Whitespace@169..170 " "
                Eq@170..171 "="
                Whitespace@171..172 " "
                EXPR_CALL@172..188
                  EXPR_IDENT@172..179
                    PATH@172..179
                      Ident@172..179 "println"
                  ARG_LIST@179..188
                    LParen@179..180 "("
                    ARG@180..187
                      EXPR_CALL@180..187
                        EXPR_BINARY@180..185
                          EXPR_IDENT@180..181
                            PATH@180..181
                              Ident@180..181 "i"
                          Dot@181..182 "."
                          EXPR_IDENT@182..185
                            PATH@182..185
                              Ident@182..185 "get"
                        ARG_LIST@185..187
                          LParen@185..186 "("
                          RParen@186..187 ")"
                    RParen@187..188 ")"
                Semi@188..189 ";"
                Whitespace@189..194 "\n    "
              RBrace@194..195 "}"
              Whitespace@195..200 "\n    "
      STMT_LET@200..225
        LetKeyword@200..203 "let"
        Whitespace@203..204 " "
        PATTERN_WILDCARD@204..206
          WildcardKeyword@204..205 "_"
          Whitespace@205..206 " "
        Eq@206..207 "="
        Whitespace@207..208 " "
        EXPR_CALL@208..223
          EXPR_IDENT@208..215
            PATH@208..215
              Ident@208..215 "println"
          ARG_LIST@215..223
            LParen@215..216 "("
            ARG@216..222
              EXPR_STR@216..222
                Str@216..222 "\"done\""
            RParen@222..223 ")"
        Semi@223..224 ";"
        Whitespace@224..225 "\n"
      RBrace@225..226 "}"
      Whitespace@226..227 "\n"