FILE@0..596
  FN@0..596
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..596
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      EXPR_LET@16..594
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Lident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_LET_VALUE@24..38
          EXPR_TUPLE@24..38
            LParen@24..25 "("
            EXPR_BOOL@25..29
              TrueKeyword@25..29 "true"
            Comma@29..30 ","
            Whitespace@30..31 " "
            EXPR_BOOL@31..36
              FalseKeyword@31..36 "false"
            RParen@36..37 ")"
            Whitespace@37..38 " "
        InKeyword@38..40 "in"
        Whitespace@40..45 "\n    "
        EXPR_LET_BODY@45..594
          EXPR_LET@45..594
            LetKeyword@45..48 "let"
            Whitespace@48..49 " "
            PATTERN_VARIABLE@49..51
              Lident@49..50 "b"
              Whitespace@50..51 " "
            Eq@51..52 "="
            Whitespace@52..53 " "
            EXPR_LET_VALUE@53..229
              EXPR_MATCH@53..229
                MatchKeyword@53..58 "match"
                Whitespace@58..59 " "
                EXPR_LIDENT@59..61
                  Lident@59..60 "a"
                  Whitespace@60..61 " "
                MATCH_ARM_LIST@61..229
                  LBrace@61..62 "{"
                  Whitespace@62..71 "\n        "
                  MATCH_ARM@71..101
                    PATTERN_TUPLE@71..86
                      LParen@71..72 "("
                      PATTERN_BOOL@72..77
                        FalseKeyword@72..77 "false"
                      Comma@77..78 ","
                      Whitespace@78..79 " "
                      PATTERN_BOOL@79..84
                        FalseKeyword@79..84 "false"
                      RParen@84..85 ")"
                      Whitespace@85..86 " "
                    FatArrow@86..88 "=>"
                    Whitespace@88..89 " "
                    EXPR_TUPLE@89..101
                      LParen@89..90 "("
                      EXPR_BOOL@90..94
                        TrueKeyword@90..94 "true"
                      Comma@94..95 ","
                      Whitespace@95..96 " "
                      EXPR_BOOL@96..100
                        TrueKeyword@96..100 "true"
                      RParen@100..101 ")"
                  Comma@101..102 ","
                  Whitespace@102..111 "\n        "
                  MATCH_ARM@111..141
                    PATTERN_TUPLE@111..125
                      LParen@111..112 "("
                      PATTERN_BOOL@112..117
                        FalseKeyword@112..117 "false"
                      Comma@117..118 ","
                      Whitespace@118..119 " "
                      PATTERN_BOOL@119..123
                        TrueKeyword@119..123 "true"
                      RParen@123..124 ")"
                      Whitespace@124..125 " "
                    FatArrow@125..127 "=>"
                    Whitespace@127..128 " "
                    EXPR_TUPLE@128..141
                      LParen@128..129 "("
                      EXPR_BOOL@129..133
                        TrueKeyword@129..133 "true"
                      Comma@133..134 ","
                      Whitespace@134..135 " "
                      EXPR_BOOL@135..140
                        FalseKeyword@135..140 "false"
                      RParen@140..141 ")"
                  Comma@141..142 ","
                  Whitespace@142..151 "\n        "
                  MATCH_ARM@151..181
                    PATTERN_TUPLE@151..165
                      LParen@151..152 "("
                      PATTERN_BOOL@152..156
                        TrueKeyword@152..156 "true"
                      Comma@156..157 ","
                      Whitespace@157..158 " "
                      PATTERN_BOOL@158..163
                        FalseKeyword@158..163 "false"
                      RParen@163..164 ")"
                      Whitespace@164..165 " "
                    FatArrow@165..167 "=>"
                    Whitespace@167..168 " "
                    EXPR_TUPLE@168..181
                      LParen@168..169 "("
                      EXPR_BOOL@169..174
                        FalseKeyword@169..174 "false"
                      Comma@174..175 ","
                      Whitespace@175..176 " "
                      EXPR_BOOL@176..180
                        TrueKeyword@176..180 "true"
                      RParen@180..181 ")"
                  Comma@181..182 ","
                  Whitespace@182..191 "\n        "
                  MATCH_ARM@191..221
                    PATTERN_TUPLE@191..204
                      LParen@191..192 "("
                      PATTERN_BOOL@192..196
                        TrueKeyword@192..196 "true"
                      Comma@196..197 ","
                      Whitespace@197..198 " "
                      PATTERN_BOOL@198..202
                        TrueKeyword@198..202 "true"
                      RParen@202..203 ")"
                      Whitespace@203..204 " "
                    FatArrow@204..206 "=>"
                    Whitespace@206..207 " "
                    EXPR_TUPLE@207..221
                      LParen@207..208 "("
                      EXPR_BOOL@208..213
                        FalseKeyword@208..213 "false"
                      Comma@213..214 ","
                      Whitespace@214..215 " "
                      EXPR_BOOL@215..220
                        FalseKeyword@215..220 "false"
                      RParen@220..221 ")"
                  Comma@221..222 ","
                  Whitespace@222..227 "\n    "
                  RBrace@227..228 "}"
                  Whitespace@228..229 " "
            InKeyword@229..231 "in"
            Whitespace@231..236 "\n    "
            EXPR_LET_BODY@236..594
              EXPR_LET@236..594
                LetKeyword@236..239 "let"
                Whitespace@239..240 " "
                PATTERN_VARIABLE@240..244
                  Lident@240..243 "b_1"
                  Whitespace@243..244 " "
                Eq@244..245 "="
                Whitespace@245..246 " "
                EXPR_LET_VALUE@246..282
                  EXPR_MATCH@246..282
                    MatchKeyword@246..251 "match"
                    Whitespace@251..252 " "
                    EXPR_LIDENT@252..254
                      Lident@252..253 "b"
                      Whitespace@253..254 " "
                    MATCH_ARM_LIST@254..282
                      LBrace@254..255 "{"
                      Whitespace@255..264 "\n        "
                      MATCH_ARM@264..280
                        PATTERN_TUPLE@264..271
                          LParen@264..265 "("
                          PATTERN_WILDCARD@265..266
                            WildcardKeyword@265..266 "_"
                          Comma@266..267 ","
                          Whitespace@267..268 " "
                          PATTERN_VARIABLE@268..269
                            Lident@268..269 "w"
                          RParen@269..270 ")"
                          Whitespace@270..271 " "
                        FatArrow@271..273 "=>"
                        Whitespace@273..274 " "
                        EXPR_LIDENT@274..280
                          Lident@274..275 "w"
                          Whitespace@275..280 "\n    "
                      RBrace@280..281 "}"
                      Whitespace@281..282 " "
                InKeyword@282..284 "in"
                Whitespace@284..289 "\n    "
                EXPR_LET_BODY@289..594
                  EXPR_LET@289..594
                    LetKeyword@289..292 "let"
                    Whitespace@292..293 " "
                    PATTERN_VARIABLE@293..295
                      Lident@293..294 "c"
                      Whitespace@294..295 " "
                    Eq@295..296 "="
                    Whitespace@296..297 " "
                    EXPR_LET_VALUE@297..555
                      EXPR_MATCH@297..555
                        MatchKeyword@297..302 "match"
                        Whitespace@302..303 " "
                        EXPR_TUPLE@303..315
                          LParen@303..304 "("
                          EXPR_BOOL@304..308
                            TrueKeyword@304..308 "true"
                          Comma@308..309 ","
                          Whitespace@309..310 " "
                          EXPR_LIDENT@310..313
                            Lident@310..313 "b_1"
                          RParen@313..314 ")"
                          Whitespace@314..315 " "
                        MATCH_ARM_LIST@315..555
                          LBrace@315..316 "{"
                          Whitespace@316..325 "\n        "
                          MATCH_ARM@325..373
                            PATTERN_TUPLE@325..340
                              LParen@325..326 "("
                              PATTERN_BOOL@326..331
                                FalseKeyword@326..331 "false"
                              Comma@331..332 ","
                              Whitespace@332..333 " "
                              PATTERN_BOOL@333..338
                                FalseKeyword@333..338 "false"
                              RParen@338..339 ")"
                              Whitespace@339..340 " "
                            FatArrow@340..342 "=>"
                            Whitespace@342..343 " "
                            EXPR_CALL@343..373
                              EXPR_LIDENT@343..355
                                Lident@343..355 "string_print"
                              ARG_LIST@355..373
                                LParen@355..356 "("
                                ARG@356..372
                                  EXPR_CALL@356..372
                                    EXPR_LIDENT@356..369
                                      Lident@356..369 "int_to_string"
                                    ARG_LIST@369..372
                                      LParen@369..370 "("
                                      ARG@370..371
                                        EXPR_INT@370..371
                                          Int@370..371 "0"
                                      RParen@371..372 ")"
                                RParen@372..373 ")"
                          Comma@373..374 ","
                          Whitespace@374..383 "\n        "
                          MATCH_ARM@383..430
                            PATTERN_TUPLE@383..397
                              LParen@383..384 "("
                              PATTERN_BOOL@384..389
                                FalseKeyword@384..389 "false"
                              Comma@389..390 ","
                              Whitespace@390..391 " "
                              PATTERN_BOOL@391..395
                                TrueKeyword@391..395 "true"
                              RParen@395..396 ")"
                              Whitespace@396..397 " "
                            FatArrow@397..399 "=>"
                            Whitespace@399..400 " "
                            EXPR_CALL@400..430
                              EXPR_LIDENT@400..412
                                Lident@400..412 "string_print"
                              ARG_LIST@412..430
                                LParen@412..413 "("
                                ARG@413..429
                                  EXPR_CALL@413..429
                                    EXPR_LIDENT@413..426
                                      Lident@413..426 "int_to_string"
                                    ARG_LIST@426..429
                                      LParen@426..427 "("
                                      ARG@427..428
                                        EXPR_INT@427..428
                                          Int@427..428 "1"
                                      RParen@428..429 ")"
                                RParen@429..430 ")"
                          Comma@430..431 ","
                          Whitespace@431..440 "\n        "
                          MATCH_ARM@440..487
                            PATTERN_TUPLE@440..454
                              LParen@440..441 "("
                              PATTERN_BOOL@441..445
                                TrueKeyword@441..445 "true"
                              Comma@445..446 ","
                              Whitespace@446..447 " "
                              PATTERN_BOOL@447..452
                                FalseKeyword@447..452 "false"
                              RParen@452..453 ")"
                              Whitespace@453..454 " "
                            FatArrow@454..456 "=>"
                            Whitespace@456..457 " "
                            EXPR_CALL@457..487
                              EXPR_LIDENT@457..469
                                Lident@457..469 "string_print"
                              ARG_LIST@469..487
                                LParen@469..470 "("
                                ARG@470..486
                                  EXPR_CALL@470..486
                                    EXPR_LIDENT@470..483
                                      Lident@470..483 "int_to_string"
                                    ARG_LIST@483..486
                                      LParen@483..484 "("
                                      ARG@484..485
                                        EXPR_INT@484..485
                                          Int@484..485 "2"
                                      RParen@485..486 ")"
                                RParen@486..487 ")"
                          Comma@487..488 ","
                          Whitespace@488..497 "\n        "
                          MATCH_ARM@497..543
                            PATTERN_TUPLE@497..510
                              LParen@497..498 "("
                              PATTERN_BOOL@498..502
                                TrueKeyword@498..502 "true"
                              Comma@502..503 ","
                              Whitespace@503..504 " "
                              PATTERN_BOOL@504..508
                                TrueKeyword@504..508 "true"
                              RParen@508..509 ")"
                              Whitespace@509..510 " "
                            FatArrow@510..512 "=>"
                            Whitespace@512..513 " "
                            EXPR_CALL@513..543
                              EXPR_LIDENT@513..525
                                Lident@513..525 "string_print"
                              ARG_LIST@525..543
                                LParen@525..526 "("
                                ARG@526..542
                                  EXPR_CALL@526..542
                                    EXPR_LIDENT@526..539
                                      Lident@526..539 "int_to_string"
                                    ARG_LIST@539..542
                                      LParen@539..540 "("
                                      ARG@540..541
                                        EXPR_INT@540..541
                                          Int@540..541 "3"
                                      RParen@541..542 ")"
                                RParen@542..543 ")"
                          Comma@543..544 ","
                          Whitespace@544..549 "\n    "
                          RBrace@549..550 "}"
                          Whitespace@550..555 "\n    "
                    InKeyword@555..557 "in"
                    Whitespace@557..562 "\n    "
                    EXPR_LET_BODY@562..594
                      EXPR_CALL@562..594
                        EXPR_LIDENT@562..574
                          Lident@562..574 "string_print"
                        ARG_LIST@574..594
                          LParen@574..575 "("
                          ARG@575..592
                            EXPR_CALL@575..592
                              EXPR_LIDENT@575..589
                                Lident@575..589 "unit_to_string"
                              ARG_LIST@589..592
                                LParen@589..590 "("
                                ARG@590..591
                                  EXPR_LIDENT@590..591
                                    Lident@590..591 "c"
                                RParen@591..592 ")"
                          RParen@592..593 ")"
                          Whitespace@593..594 "\n"
      RBrace@594..595 "}"
      Whitespace@595..596 "\n"