FILE@0..255
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Uident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "Bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_UNIT@28..32
            UnitKeyword@28..32 "Unit"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  FN@38..255
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Lident@41..45 "main"
    PARAM_LIST@45..48
      LParen@45..46 "("
      RParen@46..47 ")"
      Whitespace@47..48 " "
    BLOCK@48..255
      LBrace@48..49 "{"
      Whitespace@49..54 "\n    "
      EXPR_LET@54..253
        LetKeyword@54..57 "let"
        Whitespace@57..58 " "
        PATTERN_VARIABLE@58..60
          Lident@58..59 "t"
          Whitespace@59..60 " "
        Eq@60..61 "="
        Whitespace@61..62 " "
        EXPR_LET_VALUE@62..74
          EXPR_CALL@62..74
            EXPR_UIDENT@62..63
              Uident@62..63 "B"
            ARG_LIST@63..74
              LParen@63..64 "("
              ARG@64..70
                EXPR_BOOL@64..68
                  TrueKeyword@64..68 "true"
                Comma@68..69 ","
                Whitespace@69..70 " "
              ARG@70..72
                EXPR_UNIT@70..72
                  LParen@70..71 "("
                  RParen@71..72 ")"
              RParen@72..73 ")"
              Whitespace@73..74 " "
        InKeyword@74..76 "in"
        Whitespace@76..81 "\n    "
        EXPR_LET_BODY@81..253
          EXPR_MATCH@81..253
            MatchKeyword@81..86 "match"
            Whitespace@86..87 " "
            EXPR_LIDENT@87..89
              Lident@87..88 "t"
              Whitespace@88..89 " "
            MATCH_ARM_LIST@89..253
              LBrace@89..90 "{"
              Whitespace@90..99 "\n        "
              MATCH_ARM@99..134
                PATTERN_CONSTR@99..101
                  Uident@99..100 "A"
                  Whitespace@100..101 " "
                FatArrow@101..103 "=>"
                Whitespace@103..104 " "
                EXPR_CALL@104..134
                  EXPR_LIDENT@104..116
                    Lident@104..116 "string_print"
                  ARG_LIST@116..134
                    LParen@116..117 "("
                    ARG@117..133
                      EXPR_CALL@117..133
                        EXPR_LIDENT@117..130
                          Lident@117..130 "int_to_string"
                        ARG_LIST@130..133
                          LParen@130..131 "("
                          ARG@131..132
                            EXPR_INT@131..132
                              Int@131..132 "1"
                          RParen@132..133 ")"
                    RParen@133..134 ")"
              Comma@134..135 ","
              Whitespace@135..144 "\n        "
              MATCH_ARM@144..189
                PATTERN_CONSTR@144..156
                  Uident@144..145 "B"
                  LParen@145..146 "("
                  PATTERN_BOOL@146..150
                    TrueKeyword@146..150 "true"
                  Comma@150..151 ","
                  Whitespace@151..152 " "
                  PATTERN_UNIT@152..154
                    LParen@152..153 "("
                    RParen@153..154 ")"
                  RParen@154..155 ")"
                  Whitespace@155..156 " "
                FatArrow@156..158 "=>"
                Whitespace@158..159 " "
                EXPR_CALL@159..189
                  EXPR_LIDENT@159..171
                    Lident@159..171 "string_print"
                  ARG_LIST@171..189
                    LParen@171..172 "("
                    ARG@172..188
                      EXPR_CALL@172..188
                        EXPR_LIDENT@172..185
                          Lident@172..185 "int_to_string"
                        ARG_LIST@185..188
                          LParen@185..186 "("
                          ARG@186..187
                            EXPR_INT@186..187
                              Int@186..187 "2"
                          RParen@187..188 ")"
                    RParen@188..189 ")"
              Comma@189..190 ","
              Whitespace@190..199 "\n        "
              MATCH_ARM@199..245
                PATTERN_CONSTR@199..212
                  Uident@199..200 "B"
                  LParen@200..201 "("
                  PATTERN_BOOL@201..206
                    FalseKeyword@201..206 "false"
                  Comma@206..207 ","
                  Whitespace@207..208 " "
                  PATTERN_UNIT@208..210
                    LParen@208..209 "("
                    RParen@209..210 ")"
                  RParen@210..211 ")"
                  Whitespace@211..212 " "
                FatArrow@212..214 "=>"
                Whitespace@214..215 " "
                EXPR_CALL@215..245
                  EXPR_LIDENT@215..227
                    Lident@215..227 "string_print"
                  ARG_LIST@227..245
                    LParen@227..228 "("
                    ARG@228..244
                      EXPR_CALL@228..244
                        EXPR_LIDENT@228..241
                          Lident@228..241 "int_to_string"
                        ARG_LIST@241..244
                          LParen@241..242 "("
                          ARG@242..243
                            EXPR_INT@242..243
                              Int@242..243 "3"
                          RParen@243..244 ")"
                    RParen@244..245 ")"
              Comma@245..246 ","
              Whitespace@246..251 "\n    "
              RBrace@251..252 "}"
              Whitespace@252..253 "\n"
      RBrace@253..254 "}"
      Whitespace@254..255 "\n"