FILE@0..128
  FN@0..128
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..128
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      EXPR_LET@16..127
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Lident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_LET_VALUE@24..26
          EXPR_INT@24..26
            Int@24..25 "1"
            Whitespace@25..26 " "
        InKeyword@26..28 "in"
        Whitespace@28..33 "\n    "
        EXPR_LET_BODY@33..127
          EXPR_LET@33..127
            LetKeyword@33..36 "let"
            Whitespace@36..37 " "
            PATTERN_VARIABLE@37..39
              Lident@37..38 "a"
              Whitespace@38..39 " "
            Eq@39..40 "="
            Whitespace@40..41 " "
            EXPR_LET_VALUE@41..47
              EXPR_BINARY@41..47
                EXPR_LIDENT@41..43
                  Lident@41..42 "a"
                  Whitespace@42..43 " "
                Plus@43..44 "+"
                Whitespace@44..45 " "
                EXPR_INT@45..47
                  Int@45..46 "2"
                  Whitespace@46..47 " "
            InKeyword@47..49 "in"
            Whitespace@49..54 "\n    "
            EXPR_LET_BODY@54..127
              EXPR_LET@54..127
                LetKeyword@54..57 "let"
                Whitespace@57..58 " "
                PATTERN_VARIABLE@58..60
                  Lident@58..59 "a"
                  Whitespace@59..60 " "
                Eq@60..61 "="
                Whitespace@61..62 " "
                EXPR_LET_VALUE@62..68
                  EXPR_BINARY@62..68
                    EXPR_LIDENT@62..64
                      Lident@62..63 "a"
                      Whitespace@63..64 " "
                    Plus@64..65 "+"
                    Whitespace@65..66 " "
                    EXPR_INT@66..68
                      Int@66..67 "3"
                      Whitespace@67..68 " "
                InKeyword@68..70 "in"
                Whitespace@70..75 "\n    "
                EXPR_LET_BODY@75..127
                  EXPR_LET@75..127
                    LetKeyword@75..78 "let"
                    Whitespace@78..79 " "
                    PATTERN_VARIABLE@79..81
                      Lident@79..80 "a"
                      Whitespace@80..81 " "
                    Eq@81..82 "="
                    Whitespace@82..83 " "
                    EXPR_LET_VALUE@83..89
                      EXPR_BINARY@83..89
                        EXPR_LIDENT@83..85
                          Lident@83..84 "a"
                          Whitespace@84..85 " "
                        Plus@85..86 "+"
                        Whitespace@86..87 " "
                        EXPR_INT@87..89
                          Int@87..88 "4"
                          Whitespace@88..89 " "
                    InKeyword@89..91 "in"
                    Whitespace@91..96 "\n    "
                    EXPR_LET_BODY@96..127
                      EXPR_CALL@96..127
                        EXPR_LIDENT@96..108
                          Lident@96..108 "string_print"
                        ARG_LIST@108..127
                          LParen@108..109 "("
                          ARG@109..125
                            EXPR_CALL@109..125
                              EXPR_LIDENT@109..122
                                Lident@109..122 "int_to_string"
                              ARG_LIST@122..125
                                LParen@122..123 "("
                                ARG@123..124
                                  EXPR_LIDENT@123..124
                                    Lident@123..124 "a"
                                RParen@124..125 ")"
                          RParen@125..126 ")"
                          Whitespace@126..127 "\n"
      RBrace@127..128 "}"