FILE@0..164
  FN@0..109
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..6 "fib"
    PARAM_LIST@6..15
      LParen@6..7 "("
      PARAM@7..13
        Lident@7..8 "x"
        Colon@8..9 ":"
        Whitespace@9..10 " "
        TYPE_INT@10..13
          IntKeyword@10..13 "int"
      RParen@13..14 ")"
      Whitespace@14..15 " "
    Arrow@15..17 "->"
    Whitespace@17..18 " "
    TYPE_INT@18..22
      IntKeyword@18..21 "int"
      Whitespace@21..22 " "
    BLOCK@22..109
      LBrace@22..23 "{"
      Whitespace@23..26 "\n  "
      EXPR_MATCH@26..106
        MatchKeyword@26..31 "match"
        Whitespace@31..32 " "
        EXPR_CALL@32..47
          EXPR_LIDENT@32..40
            Lident@32..40 "int_less"
          ARG_LIST@40..47
            LParen@40..41 "("
            ARG@41..44
              EXPR_LIDENT@41..42
                Lident@41..42 "x"
              Comma@42..43 ","
              Whitespace@43..44 " "
            ARG@44..45
              EXPR_INT@44..45
                Int@44..45 "2"
            RParen@45..46 ")"
            Whitespace@46..47 " "
        MATCH_ARM_LIST@47..106
          LBrace@47..48 "{"
          Whitespace@48..53 "\n    "
          MATCH_ARM@53..85
            PATTERN_BOOL@53..59
              FalseKeyword@53..58 "false"
              Whitespace@58..59 " "
            FatArrow@59..61 "=>"
            Whitespace@61..62 " "
            EXPR_CALL@62..85
              EXPR_BINARY@62..78
                EXPR_CALL@62..73
                  EXPR_LIDENT@62..65
                    Lident@62..65 "fib"
                  ARG_LIST@65..73
                    LParen@65..66 "("
                    ARG@66..71
                      EXPR_BINARY@66..71
                        EXPR_LIDENT@66..68
                          Lident@66..67 "x"
                          Whitespace@67..68 " "
                        Minus@68..69 "-"
                        Whitespace@69..70 " "
                        EXPR_INT@70..71
                          Int@70..71 "1"
                    RParen@71..72 ")"
                    Whitespace@72..73 " "
                Plus@73..74 "+"
                Whitespace@74..75 " "
                EXPR_LIDENT@75..78
                  Lident@75..78 "fib"
              ARG_LIST@78..85
                LParen@78..79 "("
                ARG@79..84
                  EXPR_BINARY@79..84
                    EXPR_LIDENT@79..81
                      Lident@79..80 "x"
                      Whitespace@80..81 " "
                    Minus@81..82 "-"
                    Whitespace@82..83 " "
                    EXPR_INT@83..84
                      Int@83..84 "2"
                RParen@84..85 ")"
          Comma@85..86 ","
          Whitespace@86..91 "\n    "
          MATCH_ARM@91..100
            PATTERN_BOOL@91..96
              TrueKeyword@91..95 "true"
              Whitespace@95..96 " "
            FatArrow@96..98 "=>"
            Whitespace@98..99 " "
            EXPR_INT@99..100
              Int@99..100 "1"
          Comma@100..101 ","
          Whitespace@101..104 "\n  "
          RBrace@104..105 "}"
          Whitespace@105..106 "\n"
      RBrace@106..107 "}"
      Whitespace@107..109 "\n\n"
  FN@109..164
    FnKeyword@109..111 "fn"
    Whitespace@111..112 " "
    Lident@112..116 "main"
    PARAM_LIST@116..119
      LParen@116..117 "("
      RParen@117..118 ")"
      Whitespace@118..119 " "
    BLOCK@119..164
      LBrace@119..120 "{"
      Whitespace@120..125 "\n    "
      EXPR_CALL@125..162
        EXPR_LIDENT@125..137
          Lident@125..137 "string_print"
        ARG_LIST@137..162
          LParen@137..138 "("
          ARG@138..160
            EXPR_CALL@138..160
              EXPR_LIDENT@138..151
                Lident@138..151 "int_to_string"
              ARG_LIST@151..160
                LParen@151..152 "("
                ARG@152..159
                  EXPR_CALL@152..159
                    EXPR_LIDENT@152..155
                      Lident@152..155 "fib"
                    ARG_LIST@155..159
                      LParen@155..156 "("
                      ARG@156..158
                        EXPR_INT@156..158
                          Int@156..158 "10"
                      RParen@158..159 ")"
                RParen@159..160 ")"
          RParen@160..161 ")"
          Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..164 "\n"