FILE@0..2973
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Uident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Lident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT@22..25
          IntKeyword@22..25 "Int"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Lident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT@34..37
          IntKeyword@34..37 "Int"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  STRUCT@42..79
    StructKeyword@42..48 "struct"
    Whitespace@48..49 " "
    Uident@49..56 "Wrapper"
    GENERIC_LIST@56..60
      LBracket@56..57 "["
      GENERIC@57..58
        Uident@57..58 "T"
      RBracket@58..59 "]"
      Whitespace@59..60 " "
    LBrace@60..61 "{"
    Whitespace@61..66 "\n    "
    STRUCT_FIELD_LIST@66..79
      STRUCT_FIELD@66..74
        Lident@66..71 "value"
        Colon@71..72 ":"
        Whitespace@72..73 " "
        TYPE_TAPP@73..74
          Uident@73..74 "T"
      Comma@74..75 ","
      Whitespace@75..76 "\n"
      RBrace@76..77 "}"
      Whitespace@77..79 "\n\n"
  ENUM@79..151
    EnumKeyword@79..83 "enum"
    Whitespace@83..84 " "
    Uident@84..89 "Shape"
    GENERIC_LIST@89..93
      LBracket@89..90 "["
      GENERIC@90..91
        Uident@90..91 "T"
      RBracket@91..92 "]"
      Whitespace@92..93 " "
    LBrace@93..94 "{"
    Whitespace@94..99 "\n    "
    VARIANT_LIST@99..151
      VARIANT@99..109
        Uident@99..102 "Dot"
        TYPE_LIST@102..109
          LParen@102..103 "("
          TYPE_TAPP@103..108
            Uident@103..108 "Point"
          RParen@108..109 ")"
      Comma@109..110 ","
      Whitespace@110..115 "\n    "
      VARIANT@115..134
        Uident@115..122 "Wrapped"
        TYPE_LIST@122..134
          LParen@122..123 "("
          TYPE_TAPP@123..133
            Uident@123..130 "Wrapper"
            TYPE_PARAM_LIST@130..133
              LBracket@130..131 "["
              TYPE_TAPP@131..132
                Uident@131..132 "T"
              RBracket@132..133 "]"
          RParen@133..134 ")"
      Comma@134..135 ","
      Whitespace@135..140 "\n    "
      VARIANT@140..146
        Uident@140..146 "Origin"
      Comma@146..147 ","
      Whitespace@147..148 "\n"
      RBrace@148..149 "}"
      Whitespace@149..151 "\n\n"
  FN@151..329
    FnKeyword@151..153 "fn"
    Whitespace@153..154 " "
    Lident@154..164 "bounce_int"
    PARAM_LIST@164..184
      LParen@164..165 "("
      PARAM@165..182
        Lident@165..170 "shape"
        Colon@170..171 ":"
        Whitespace@171..172 " "
        TYPE_TAPP@172..182
          Uident@172..177 "Shape"
          TYPE_PARAM_LIST@177..182
            LBracket@177..178 "["
            TYPE_INT@178..181
              IntKeyword@178..181 "Int"
            RBracket@181..182 "]"
      RParen@182..183 ")"
      Whitespace@183..184 " "
    Arrow@184..186 "->"
    Whitespace@186..187 " "
    TYPE_TAPP@187..198
      Uident@187..192 "Shape"
      TYPE_PARAM_LIST@192..198
        LBracket@192..193 "["
        TYPE_INT@193..196
          IntKeyword@193..196 "Int"
        RBracket@196..197 "]"
        Whitespace@197..198 " "
    BLOCK@198..329
      LBrace@198..199 "{"
      Whitespace@199..204 "\n    "
      EXPR_MATCH@204..326
        MatchKeyword@204..209 "match"
        Whitespace@209..210 " "
        EXPR_LIDENT@210..216
          Lident@210..215 "shape"
          Whitespace@215..216 " "
        MATCH_ARM_LIST@216..326
          LBrace@216..217 "{"
          Whitespace@217..226 "\n        "
          MATCH_ARM@226..250
            PATTERN_CONSTR@226..237
              Uident@226..229 "Dot"
              LParen@229..230 "("
              PATTERN_VARIABLE@230..235
                Lident@230..235 "point"
              RParen@235..236 ")"
              Whitespace@236..237 " "
            FatArrow@237..239 "=>"
            Whitespace@239..240 " "
            EXPR_CALL@240..250
              EXPR_UIDENT@240..243
                Uident@240..243 "Dot"
              ARG_LIST@243..250
                LParen@243..244 "("
                ARG@244..249
                  EXPR_LIDENT@244..249
                    Lident@244..249 "point"
                RParen@249..250 ")"
          Comma@250..251 ","
          Whitespace@251..260 "\n        "
          MATCH_ARM@260..292
            PATTERN_CONSTR@260..275
              Uident@260..267 "Wrapped"
              LParen@267..268 "("
              PATTERN_VARIABLE@268..273
                Lident@268..273 "inner"
              RParen@273..274 ")"
              Whitespace@274..275 " "
            FatArrow@275..277 "=>"
            Whitespace@277..278 " "
            EXPR_CALL@278..292
              EXPR_UIDENT@278..285
                Uident@278..285 "Wrapped"
              ARG_LIST@285..292
                LParen@285..286 "("
                ARG@286..291
                  EXPR_LIDENT@286..291
                    Lident@286..291 "inner"
                RParen@291..292 ")"
          Comma@292..293 ","
          Whitespace@293..302 "\n        "
          MATCH_ARM@302..318
            PATTERN_CONSTR@302..309
              Uident@302..308 "Origin"
              Whitespace@308..309 " "
            FatArrow@309..311 "=>"
            Whitespace@311..312 " "
            EXPR_UIDENT@312..318
              Uident@312..318 "Origin"
          Comma@318..319 ","
          Whitespace@319..324 "\n    "
          RBrace@324..325 "}"
          Whitespace@325..326 "\n"
      RBrace@326..327 "}"
      Whitespace@327..329 "\n\n"
  FN@329..403
    FnKeyword@329..331 "fn"
    Whitespace@331..332 " "
    Lident@332..341 "wrap_unit"
    PARAM_LIST@341..364
      LParen@341..342 "("
      PARAM@342..362
        Lident@342..347 "value"
        Colon@347..348 ":"
        Whitespace@348..349 " "
        TYPE_TAPP@349..362
          Uident@349..356 "Wrapper"
          TYPE_PARAM_LIST@356..362
            LBracket@356..357 "["
            TYPE_UNIT@357..361
              UnitKeyword@357..361 "Unit"
            RBracket@361..362 "]"
      RParen@362..363 ")"
      Whitespace@363..364 " "
    Arrow@364..366 "->"
    Whitespace@366..367 " "
    TYPE_TAPP@367..379
      Uident@367..372 "Shape"
      TYPE_PARAM_LIST@372..379
        LBracket@372..373 "["
        TYPE_UNIT@373..377
          UnitKeyword@373..377 "Unit"
        RBracket@377..378 "]"
        Whitespace@378..379 " "
    BLOCK@379..403
      LBrace@379..380 "{"
      Whitespace@380..385 "\n    "
      EXPR_CALL@385..400
        EXPR_UIDENT@385..392
          Uident@385..392 "Wrapped"
        ARG_LIST@392..400
          LParen@392..393 "("
          ARG@393..398
            EXPR_LIDENT@393..398
              Lident@393..398 "value"
          RParen@398..399 ")"
          Whitespace@399..400 "\n"
      RBrace@400..401 "}"
      Whitespace@401..403 "\n\n"
  FN@403..565
    FnKeyword@403..405 "fn"
    Whitespace@405..406 " "
    Lident@406..410 "pick"
    PARAM_LIST@410..460
      LParen@410..411 "("
      PARAM@411..423
        Lident@411..415 "flag"
        Colon@415..416 ":"
        Whitespace@416..417 " "
        TYPE_BOOL@417..421
          BoolKeyword@417..421 "Bool"
        Comma@421..422 ","
        Whitespace@422..423 " "
      PARAM@423..437
        Lident@423..428 "point"
        Colon@428..429 ":"
        Whitespace@429..430 " "
        TYPE_TAPP@430..435
          Uident@430..435 "Point"
        Comma@435..436 ","
        Whitespace@436..437 " "
      PARAM@437..458
        Lident@437..444 "wrapper"
        Colon@444..445 ":"
        Whitespace@445..446 " "
        TYPE_TAPP@446..458
          Uident@446..453 "Wrapper"
          TYPE_PARAM_LIST@453..458
            LBracket@453..454 "["
            TYPE_INT@454..457
              IntKeyword@454..457 "Int"
            RBracket@457..458 "]"
      RParen@458..459 ")"
      Whitespace@459..460 " "
    Arrow@460..462 "->"
    Whitespace@462..463 " "
    TYPE_TAPP@463..474
      Uident@463..468 "Shape"
      TYPE_PARAM_LIST@468..474
        LBracket@468..469 "["
        TYPE_INT@469..472
          IntKeyword@469..472 "Int"
        RBracket@472..473 "]"
        Whitespace@473..474 " "
    BLOCK@474..565
      LBrace@474..475 "{"
      Whitespace@475..480 "\n    "
      EXPR_MATCH@480..562
        MatchKeyword@480..485 "match"
        Whitespace@485..486 " "
        EXPR_LIDENT@486..491
          Lident@486..490 "flag"
          Whitespace@490..491 " "
        MATCH_ARM_LIST@491..562
          LBrace@491..492 "{"
          Whitespace@492..501 "\n        "
          MATCH_ARM@501..519
            PATTERN_BOOL@501..506
              TrueKeyword@501..505 "true"
              Whitespace@505..506 " "
            FatArrow@506..508 "=>"
            Whitespace@508..509 " "
            EXPR_CALL@509..519
              EXPR_UIDENT@509..512
                Uident@509..512 "Dot"
              ARG_LIST@512..519
                LParen@512..513 "("
                ARG@513..518
                  EXPR_LIDENT@513..518
                    Lident@513..518 "point"
                RParen@518..519 ")"
          Comma@519..520 ","
          Whitespace@520..529 "\n        "
          MATCH_ARM@529..554
            PATTERN_BOOL@529..535
              FalseKeyword@529..534 "false"
              Whitespace@534..535 " "
            FatArrow@535..537 "=>"
            Whitespace@537..538 " "
            EXPR_CALL@538..554
              EXPR_UIDENT@538..545
                Uident@538..545 "Wrapped"
              ARG_LIST@545..554
                LParen@545..546 "("
                ARG@546..553
                  EXPR_LIDENT@546..553
                    Lident@546..553 "wrapper"
                RParen@553..554 ")"
          Comma@554..555 ","
          Whitespace@555..560 "\n    "
          RBrace@560..561 "}"
          Whitespace@561..562 "\n"
      RBrace@562..563 "}"
      Whitespace@563..565 "\n\n"
  FN@565..700
    FnKeyword@565..567 "fn"
    Whitespace@567..568 " "
    Lident@568..576 "describe"
    GENERIC_LIST@576..579
      LBracket@576..577 "["
      GENERIC@577..578
        Uident@577..578 "T"
      RBracket@578..579 "]"
    PARAM_LIST@579..597
      LParen@579..580 "("
      PARAM@580..595
        Lident@580..585 "shape"
        Colon@585..586 ":"
        Whitespace@586..587 " "
        TYPE_TAPP@587..595
          Uident@587..592 "Shape"
          TYPE_PARAM_LIST@592..595
            LBracket@592..593 "["
            TYPE_TAPP@593..594
              Uident@593..594 "T"
            RBracket@594..595 "]"
      RParen@595..596 ")"
      Whitespace@596..597 " "
    Arrow@597..599 "->"
    Whitespace@599..600 " "
    TYPE_INT@600..604
      IntKeyword@600..603 "Int"
      Whitespace@603..604 " "
    BLOCK@604..700
      LBrace@604..605 "{"
      Whitespace@605..610 "\n    "
      EXPR_MATCH@610..697
        MatchKeyword@610..615 "match"
        Whitespace@615..616 " "
        EXPR_LIDENT@616..622
          Lident@616..621 "shape"
          Whitespace@621..622 " "
        MATCH_ARM_LIST@622..697
          LBrace@622..623 "{"
          Whitespace@623..632 "\n        "
          MATCH_ARM@632..643
            PATTERN_CONSTR@632..639
              Uident@632..635 "Dot"
              LParen@635..636 "("
              PATTERN_WILDCARD@636..637
                WildcardKeyword@636..637 "_"
              RParen@637..638 ")"
              Whitespace@638..639 " "
            FatArrow@639..641 "=>"
            Whitespace@641..642 " "
            EXPR_INT@642..643
              Int@642..643 "1"
          Comma@643..644 ","
          Whitespace@644..653 "\n        "
          MATCH_ARM@653..668
            PATTERN_CONSTR@653..664
              Uident@653..660 "Wrapped"
              LParen@660..661 "("
              PATTERN_WILDCARD@661..662
                WildcardKeyword@661..662 "_"
              RParen@662..663 ")"
              Whitespace@663..664 " "
            FatArrow@664..666 "=>"
            Whitespace@666..667 " "
            EXPR_INT@667..668
              Int@667..668 "2"
          Comma@668..669 ","
          Whitespace@669..678 "\n        "
          MATCH_ARM@678..689
            PATTERN_CONSTR@678..685
              Uident@678..684 "Origin"
              Whitespace@684..685 " "
            FatArrow@685..687 "=>"
            Whitespace@687..688 " "
            EXPR_INT@688..689
              Int@688..689 "0"
          Comma@689..690 ","
          Whitespace@690..695 "\n    "
          RBrace@695..696 "}"
          Whitespace@696..697 "\n"
      RBrace@697..698 "}"
      Whitespace@698..700 "\n\n"
  FN@700..989
    FnKeyword@700..702 "fn"
    Whitespace@702..703 " "
    Lident@703..718 "point_to_string"
    PARAM_LIST@718..733
      LParen@718..719 "("
      PARAM@719..731
        Lident@719..724 "point"
        Colon@724..725 ":"
        Whitespace@725..726 " "
        TYPE_TAPP@726..731
          Uident@726..731 "Point"
      RParen@731..732 ")"
      Whitespace@732..733 " "
    Arrow@733..735 "->"
    Whitespace@735..736 " "
    TYPE_STRING@736..743
      StringKeyword@736..742 "String"
      Whitespace@742..743 " "
    BLOCK@743..989
      LBrace@743..744 "{"
      Whitespace@744..749 "\n    "
      EXPR_LET@749..986
        LetKeyword@749..752 "let"
        Whitespace@752..753 " "
        PATTERN_CONSTR@753..765
          Uident@753..758 "Point"
          LParen@758..759 "("
          PATTERN_VARIABLE@759..760
            Lident@759..760 "x"
          Comma@760..761 ","
          Whitespace@761..762 " "
          PATTERN_VARIABLE@762..763
            Lident@762..763 "y"
          RParen@763..764 ")"
          Whitespace@764..765 " "
        Eq@765..766 "="
        Whitespace@766..767 " "
        EXPR_LET_VALUE@767..773
          EXPR_LIDENT@767..773
            Lident@767..772 "point"
            Whitespace@772..773 " "
        InKeyword@773..775 "in"
        Whitespace@775..780 "\n    "
        EXPR_LET_BODY@780..986
          EXPR_LET@780..986
            LetKeyword@780..783 "let"
            Whitespace@783..784 " "
            PATTERN_VARIABLE@784..791
              Lident@784..790 "with_x"
              Whitespace@790..791 " "
            Eq@791..792 "="
            Whitespace@792..793 " "
            EXPR_LET_VALUE@793..837
              EXPR_CALL@793..837
                EXPR_LIDENT@793..803
                  Lident@793..803 "string_add"
                ARG_LIST@803..837
                  LParen@803..804 "("
                  ARG@804..819
                    EXPR_STR@804..817
                      Str@804..817 "\"Point { x: \""
                    Comma@817..818 ","
                    Whitespace@818..819 " "
                  ARG@819..835
                    EXPR_CALL@819..835
                      EXPR_LIDENT@819..832
                        Lident@819..832 "int_to_string"
                      ARG_LIST@832..835
                        LParen@832..833 "("
                        ARG@833..834
                          EXPR_LIDENT@833..834
                            Lident@833..834 "x"
                        RParen@834..835 ")"
                  RParen@835..836 ")"
                  Whitespace@836..837 " "
            InKeyword@837..839 "in"
            Whitespace@839..844 "\n    "
            EXPR_LET_BODY@844..986
              EXPR_LET@844..986
                LetKeyword@844..847 "let"
                Whitespace@847..848 " "
                PATTERN_VARIABLE@848..861
                  Lident@848..860 "with_y_label"
                  Whitespace@860..861 " "
                Eq@861..862 "="
                Whitespace@862..863 " "
                EXPR_LET_VALUE@863..891
                  EXPR_CALL@863..891
                    EXPR_LIDENT@863..873
                      Lident@863..873 "string_add"
                    ARG_LIST@873..891
                      LParen@873..874 "("
                      ARG@874..882
                        EXPR_LIDENT@874..880
                          Lident@874..880 "with_x"
                        Comma@880..881 ","
                        Whitespace@881..882 " "
                      ARG@882..889
                        EXPR_STR@882..889
                          Str@882..889 "\", y: \""
                      RParen@889..890 ")"
                      Whitespace@890..891 " "
                InKeyword@891..893 "in"
                Whitespace@893..898 "\n    "
                EXPR_LET_BODY@898..986
                  EXPR_LET@898..986
                    LetKeyword@898..901 "let"
                    Whitespace@901..902 " "
                    PATTERN_VARIABLE@902..909
                      Lident@902..908 "with_y"
                      Whitespace@908..909 " "
                    Eq@909..910 "="
                    Whitespace@910..911 " "
                    EXPR_LET_VALUE@911..954
                      EXPR_CALL@911..954
                        EXPR_LIDENT@911..921
                          Lident@911..921 "string_add"
                        ARG_LIST@921..954
                          LParen@921..922 "("
                          ARG@922..936
                            EXPR_LIDENT@922..934
                              Lident@922..934 "with_y_label"
                            Comma@934..935 ","
                            Whitespace@935..936 " "
                          ARG@936..952
                            EXPR_CALL@936..952
                              EXPR_LIDENT@936..949
                                Lident@936..949 "int_to_string"
                              ARG_LIST@949..952
                                LParen@949..950 "("
                                ARG@950..951
                                  EXPR_LIDENT@950..951
                                    Lident@950..951 "y"
                                RParen@951..952 ")"
                          RParen@952..953 ")"
                          Whitespace@953..954 " "
                    InKeyword@954..956 "in"
                    Whitespace@956..961 "\n    "
                    EXPR_LET_BODY@961..986
                      EXPR_CALL@961..986
                        EXPR_LIDENT@961..971
                          Lident@961..971 "string_add"
                        ARG_LIST@971..986
                          LParen@971..972 "("
                          ARG@972..980
                            EXPR_LIDENT@972..978
                              Lident@972..978 "with_y"
                            Comma@978..979 ","
                            Whitespace@979..980 " "
                          ARG@980..984
                            EXPR_STR@980..984
                              Str@980..984 "\" }\""
                          RParen@984..985 ")"
                          Whitespace@985..986 "\n"
      RBrace@986..987 "}"
      Whitespace@987..989 "\n\n"
  FN@989..1196
    FnKeyword@989..991 "fn"
    Whitespace@991..992 " "
    Lident@992..1013 "wrapper_int_to_string"
    PARAM_LIST@1013..1037
      LParen@1013..1014 "("
      PARAM@1014..1035
        Lident@1014..1021 "wrapper"
        Colon@1021..1022 ":"
        Whitespace@1022..1023 " "
        TYPE_TAPP@1023..1035
          Uident@1023..1030 "Wrapper"
          TYPE_PARAM_LIST@1030..1035
            LBracket@1030..1031 "["
            TYPE_INT@1031..1034
              IntKeyword@1031..1034 "Int"
            RBracket@1034..1035 "]"
      RParen@1035..1036 ")"
      Whitespace@1036..1037 " "
    Arrow@1037..1039 "->"
    Whitespace@1039..1040 " "
    TYPE_STRING@1040..1047
      StringKeyword@1040..1046 "String"
      Whitespace@1046..1047 " "
    BLOCK@1047..1196
      LBrace@1047..1048 "{"
      Whitespace@1048..1053 "\n    "
      EXPR_LET@1053..1193
        LetKeyword@1053..1056 "let"
        Whitespace@1056..1057 " "
        PATTERN_CONSTR@1057..1072
          Uident@1057..1064 "Wrapper"
          LParen@1064..1065 "("
          PATTERN_VARIABLE@1065..1070
            Lident@1065..1070 "value"
          RParen@1070..1071 ")"
          Whitespace@1071..1072 " "
        Eq@1072..1073 "="
        Whitespace@1073..1074 " "
        EXPR_LET_VALUE@1074..1082
          EXPR_LIDENT@1074..1082
            Lident@1074..1081 "wrapper"
            Whitespace@1081..1082 " "
        InKeyword@1082..1084 "in"
        Whitespace@1084..1089 "\n    "
        EXPR_LET_BODY@1089..1193
          EXPR_LET@1089..1193
            LetKeyword@1089..1092 "let"
            Whitespace@1092..1093 " "
            PATTERN_VARIABLE@1093..1100
              Lident@1093..1099 "prefix"
              Whitespace@1099..1100 " "
            Eq@1100..1101 "="
            Whitespace@1101..1102 " "
            EXPR_LET_VALUE@1102..1161
              EXPR_CALL@1102..1161
                EXPR_LIDENT@1102..1112
                  Lident@1102..1112 "string_add"
                ARG_LIST@1112..1161
                  LParen@1112..1113 "("
                  ARG@1113..1139
                    EXPR_STR@1113..1137
                      Str@1113..1137 "\"Wrapper[Int] { value: \""
                    Comma@1137..1138 ","
                    Whitespace@1138..1139 " "
                  ARG@1139..1159
                    EXPR_CALL@1139..1159
                      EXPR_LIDENT@1139..1152
                        Lident@1139..1152 "int_to_string"
                      ARG_LIST@1152..1159
                        LParen@1152..1153 "("
                        ARG@1153..1158
                          EXPR_LIDENT@1153..1158
                            Lident@1153..1158 "value"
                        RParen@1158..1159 ")"
                  RParen@1159..1160 ")"
                  Whitespace@1160..1161 " "
            InKeyword@1161..1163 "in"
            Whitespace@1163..1168 "\n    "
            EXPR_LET_BODY@1168..1193
              EXPR_CALL@1168..1193
                EXPR_LIDENT@1168..1178
                  Lident@1168..1178 "string_add"
                ARG_LIST@1178..1193
                  LParen@1178..1179 "("
                  ARG@1179..1187
                    EXPR_LIDENT@1179..1185
                      Lident@1179..1185 "prefix"
                    Comma@1185..1186 ","
                    Whitespace@1186..1187 " "
                  ARG@1187..1191
                    EXPR_STR@1187..1191
                      Str@1187..1191 "\" }\""
                  RParen@1191..1192 ")"
                  Whitespace@1192..1193 "\n"
      RBrace@1193..1194 "}"
      Whitespace@1194..1196 "\n\n"
  FN@1196..1407
    FnKeyword@1196..1198 "fn"
    Whitespace@1198..1199 " "
    Lident@1199..1221 "wrapper_unit_to_string"
    PARAM_LIST@1221..1246
      LParen@1221..1222 "("
      PARAM@1222..1244
        Lident@1222..1229 "wrapper"
        Colon@1229..1230 ":"
        Whitespace@1230..1231 " "
        TYPE_TAPP@1231..1244
          Uident@1231..1238 "Wrapper"
          TYPE_PARAM_LIST@1238..1244
            LBracket@1238..1239 "["
            TYPE_UNIT@1239..1243
              UnitKeyword@1239..1243 "Unit"
            RBracket@1243..1244 "]"
      RParen@1244..1245 ")"
      Whitespace@1245..1246 " "
    Arrow@1246..1248 "->"
    Whitespace@1248..1249 " "
    TYPE_STRING@1249..1256
      StringKeyword@1249..1255 "String"
      Whitespace@1255..1256 " "
    BLOCK@1256..1407
      LBrace@1256..1257 "{"
      Whitespace@1257..1262 "\n    "
      EXPR_LET@1262..1404
        LetKeyword@1262..1265 "let"
        Whitespace@1265..1266 " "
        PATTERN_CONSTR@1266..1281
          Uident@1266..1273 "Wrapper"
          LParen@1273..1274 "("
          PATTERN_VARIABLE@1274..1279
            Lident@1274..1279 "value"
          RParen@1279..1280 ")"
          Whitespace@1280..1281 " "
        Eq@1281..1282 "="
        Whitespace@1282..1283 " "
        EXPR_LET_VALUE@1283..1291
          EXPR_LIDENT@1283..1291
            Lident@1283..1290 "wrapper"
            Whitespace@1290..1291 " "
        InKeyword@1291..1293 "in"
        Whitespace@1293..1298 "\n    "
        EXPR_LET_BODY@1298..1404
          EXPR_LET@1298..1404
            LetKeyword@1298..1301 "let"
            Whitespace@1301..1302 " "
            PATTERN_VARIABLE@1302..1309
              Lident@1302..1308 "prefix"
              Whitespace@1308..1309 " "
            Eq@1309..1310 "="
            Whitespace@1310..1311 " "
            EXPR_LET_VALUE@1311..1372
              EXPR_CALL@1311..1372
                EXPR_LIDENT@1311..1321
                  Lident@1311..1321 "string_add"
                ARG_LIST@1321..1372
                  LParen@1321..1322 "("
                  ARG@1322..1349
                    EXPR_STR@1322..1347
                      Str@1322..1347 "\"Wrapper[Unit] { valu ..."
                    Comma@1347..1348 ","
                    Whitespace@1348..1349 " "
                  ARG@1349..1370
                    EXPR_CALL@1349..1370
                      EXPR_LIDENT@1349..1363
                        Lident@1349..1363 "unit_to_string"
                      ARG_LIST@1363..1370
                        LParen@1363..1364 "("
                        ARG@1364..1369
                          EXPR_LIDENT@1364..1369
                            Lident@1364..1369 "value"
                        RParen@1369..1370 ")"
                  RParen@1370..1371 ")"
                  Whitespace@1371..1372 " "
            InKeyword@1372..1374 "in"
            Whitespace@1374..1379 "\n    "
            EXPR_LET_BODY@1379..1404
              EXPR_CALL@1379..1404
                EXPR_LIDENT@1379..1389
                  Lident@1379..1389 "string_add"
                ARG_LIST@1389..1404
                  LParen@1389..1390 "("
                  ARG@1390..1398
                    EXPR_LIDENT@1390..1396
                      Lident@1390..1396 "prefix"
                    Comma@1396..1397 ","
                    Whitespace@1397..1398 " "
                  ARG@1398..1402
                    EXPR_STR@1398..1402
                      Str@1398..1402 "\" }\""
                  RParen@1402..1403 ")"
                  Whitespace@1403..1404 "\n"
      RBrace@1404..1405 "}"
      Whitespace@1405..1407 "\n\n"
  FN@1407..1815
    FnKeyword@1407..1409 "fn"
    Whitespace@1409..1410 " "
    Lident@1410..1429 "shape_int_to_string"
    PARAM_LIST@1429..1449
      LParen@1429..1430 "("
      PARAM@1430..1447
        Lident@1430..1435 "shape"
        Colon@1435..1436 ":"
        Whitespace@1436..1437 " "
        TYPE_TAPP@1437..1447
          Uident@1437..1442 "Shape"
          TYPE_PARAM_LIST@1442..1447
            LBracket@1442..1443 "["
            TYPE_INT@1443..1446
              IntKeyword@1443..1446 "Int"
            RBracket@1446..1447 "]"
      RParen@1447..1448 ")"
      Whitespace@1448..1449 " "
    Arrow@1449..1451 "->"
    Whitespace@1451..1452 " "
    TYPE_STRING@1452..1459
      StringKeyword@1452..1458 "String"
      Whitespace@1458..1459 " "
    BLOCK@1459..1815
      LBrace@1459..1460 "{"
      Whitespace@1460..1465 "\n    "
      EXPR_MATCH@1465..1812
        MatchKeyword@1465..1470 "match"
        Whitespace@1470..1471 " "
        EXPR_LIDENT@1471..1477
          Lident@1471..1476 "shape"
          Whitespace@1476..1477 " "
        MATCH_ARM_LIST@1477..1812
          LBrace@1477..1478 "{"
          Whitespace@1478..1487 "\n        "
          MATCH_ARM@1487..1614
            PATTERN_CONSTR@1487..1498
              Uident@1487..1490 "Dot"
              LParen@1490..1491 "("
              PATTERN_VARIABLE@1491..1496
                Lident@1491..1496 "point"
              RParen@1496..1497 ")"
              Whitespace@1497..1498 " "
            FatArrow@1498..1500 "=>"
            Whitespace@1500..1513 "\n            "
            EXPR_LET@1513..1614
              LetKeyword@1513..1516 "let"
              Whitespace@1516..1517 " "
              PATTERN_VARIABLE@1517..1524
                Lident@1517..1523 "prefix"
                Whitespace@1523..1524 " "
              Eq@1524..1525 "="
              Whitespace@1525..1526 " "
              EXPR_LET_VALUE@1526..1576
                EXPR_CALL@1526..1576
                  EXPR_LIDENT@1526..1536
                    Lident@1526..1536 "string_add"
                  ARG_LIST@1536..1576
                    LParen@1536..1537 "("
                    ARG@1537..1552
                      EXPR_STR@1537..1550
                        Str@1537..1550 "\"Shape::Dot(\""
                      Comma@1550..1551 ","
                      Whitespace@1551..1552 " "
                    ARG@1552..1574
                      EXPR_CALL@1552..1574
                        EXPR_LIDENT@1552..1567
                          Lident@1552..1567 "point_to_string"
                        ARG_LIST@1567..1574
                          LParen@1567..1568 "("
                          ARG@1568..1573
                            EXPR_LIDENT@1568..1573
                              Lident@1568..1573 "point"
                          RParen@1573..1574 ")"
                    RParen@1574..1575 ")"
                    Whitespace@1575..1576 " "
              InKeyword@1576..1578 "in"
              Whitespace@1578..1591 "\n            "
              EXPR_LET_BODY@1591..1614
                EXPR_CALL@1591..1614
                  EXPR_LIDENT@1591..1601
                    Lident@1591..1601 "string_add"
                  ARG_LIST@1601..1614
                    LParen@1601..1602 "("
                    ARG@1602..1610
                      EXPR_LIDENT@1602..1608
                        Lident@1602..1608 "prefix"
                      Comma@1608..1609 ","
                      Whitespace@1609..1610 " "
                    ARG@1610..1613
                      EXPR_STR@1610..1613
                        Str@1610..1613 "\")\""
                    RParen@1613..1614 ")"
          Comma@1614..1615 ","
          Whitespace@1615..1624 "\n        "
          MATCH_ARM@1624..1769
            PATTERN_CONSTR@1624..1641
              Uident@1624..1631 "Wrapped"
              LParen@1631..1632 "("
              PATTERN_VARIABLE@1632..1639
                Lident@1632..1639 "wrapper"
              RParen@1639..1640 ")"
              Whitespace@1640..1641 " "
            FatArrow@1641..1643 "=>"
            Whitespace@1643..1656 "\n            "
            EXPR_LET@1656..1769
              LetKeyword@1656..1659 "let"
              Whitespace@1659..1660 " "
              PATTERN_VARIABLE@1660..1667
                Lident@1660..1666 "prefix"
                Whitespace@1666..1667 " "
              Eq@1667..1668 "="
              Whitespace@1668..1669 " "
              EXPR_LET_VALUE@1669..1731
                EXPR_CALL@1669..1731
                  EXPR_LIDENT@1669..1679
                    Lident@1669..1679 "string_add"
                  ARG_LIST@1679..1731
                    LParen@1679..1680 "("
                    ARG@1680..1699
                      EXPR_STR@1680..1697
                        Str@1680..1697 "\"Shape::Wrapped(\""
                      Comma@1697..1698 ","
                      Whitespace@1698..1699 " "
                    ARG@1699..1729
                      EXPR_CALL@1699..1729
                        EXPR_LIDENT@1699..1720
                          Lident@1699..1720 "wrapper_int_to_string"
                        ARG_LIST@1720..1729
                          LParen@1720..1721 "("
                          ARG@1721..1728
                            EXPR_LIDENT@1721..1728
                              Lident@1721..1728 "wrapper"
                          RParen@1728..1729 ")"
                    RParen@1729..1730 ")"
                    Whitespace@1730..1731 " "
              InKeyword@1731..1733 "in"
              Whitespace@1733..1746 "\n            "
              EXPR_LET_BODY@1746..1769
                EXPR_CALL@1746..1769
                  EXPR_LIDENT@1746..1756
                    Lident@1746..1756 "string_add"
                  ARG_LIST@1756..1769
                    LParen@1756..1757 "("
                    ARG@1757..1765
                      EXPR_LIDENT@1757..1763
                        Lident@1757..1763 "prefix"
                      Comma@1763..1764 ","
                      Whitespace@1764..1765 " "
                    ARG@1765..1768
                      EXPR_STR@1765..1768
                        Str@1765..1768 "\")\""
                    RParen@1768..1769 ")"
          Comma@1769..1770 ","
          Whitespace@1770..1779 "\n        "
          MATCH_ARM@1779..1804
            PATTERN_CONSTR@1779..1786
              Uident@1779..1785 "Origin"
              Whitespace@1785..1786 " "
            FatArrow@1786..1788 "=>"
            Whitespace@1788..1789 " "
            EXPR_STR@1789..1804
              Str@1789..1804 "\"Shape::Origin\""
          Comma@1804..1805 ","
          Whitespace@1805..1810 "\n    "
          RBrace@1810..1811 "}"
          Whitespace@1811..1812 "\n"
      RBrace@1812..1813 "}"
      Whitespace@1813..1815 "\n\n"
  FN@1815..2226
    FnKeyword@1815..1817 "fn"
    Whitespace@1817..1818 " "
    Lident@1818..1838 "shape_unit_to_string"
    PARAM_LIST@1838..1859
      LParen@1838..1839 "("
      PARAM@1839..1857
        Lident@1839..1844 "shape"
        Colon@1844..1845 ":"
        Whitespace@1845..1846 " "
        TYPE_TAPP@1846..1857
          Uident@1846..1851 "Shape"
          TYPE_PARAM_LIST@1851..1857
            LBracket@1851..1852 "["
            TYPE_UNIT@1852..1856
              UnitKeyword@1852..1856 "Unit"
            RBracket@1856..1857 "]"
      RParen@1857..1858 ")"
      Whitespace@1858..1859 " "
    Arrow@1859..1861 "->"
    Whitespace@1861..1862 " "
    TYPE_STRING@1862..1869
      StringKeyword@1862..1868 "String"
      Whitespace@1868..1869 " "
    BLOCK@1869..2226
      LBrace@1869..1870 "{"
      Whitespace@1870..1875 "\n    "
      EXPR_MATCH@1875..2223
        MatchKeyword@1875..1880 "match"
        Whitespace@1880..1881 " "
        EXPR_LIDENT@1881..1887
          Lident@1881..1886 "shape"
          Whitespace@1886..1887 " "
        MATCH_ARM_LIST@1887..2223
          LBrace@1887..1888 "{"
          Whitespace@1888..1897 "\n        "
          MATCH_ARM@1897..2024
            PATTERN_CONSTR@1897..1908
              Uident@1897..1900 "Dot"
              LParen@1900..1901 "("
              PATTERN_VARIABLE@1901..1906
                Lident@1901..1906 "point"
              RParen@1906..1907 ")"
              Whitespace@1907..1908 " "
            FatArrow@1908..1910 "=>"
            Whitespace@1910..1923 "\n            "
            EXPR_LET@1923..2024
              LetKeyword@1923..1926 "let"
              Whitespace@1926..1927 " "
              PATTERN_VARIABLE@1927..1934
                Lident@1927..1933 "prefix"
                Whitespace@1933..1934 " "
              Eq@1934..1935 "="
              Whitespace@1935..1936 " "
              EXPR_LET_VALUE@1936..1986
                EXPR_CALL@1936..1986
                  EXPR_LIDENT@1936..1946
                    Lident@1936..1946 "string_add"
                  ARG_LIST@1946..1986
                    LParen@1946..1947 "("
                    ARG@1947..1962
                      EXPR_STR@1947..1960
                        Str@1947..1960 "\"Shape::Dot(\""
                      Comma@1960..1961 ","
                      Whitespace@1961..1962 " "
                    ARG@1962..1984
                      EXPR_CALL@1962..1984
                        EXPR_LIDENT@1962..1977
                          Lident@1962..1977 "point_to_string"
                        ARG_LIST@1977..1984
                          LParen@1977..1978 "("
                          ARG@1978..1983
                            EXPR_LIDENT@1978..1983
                              Lident@1978..1983 "point"
                          RParen@1983..1984 ")"
                    RParen@1984..1985 ")"
                    Whitespace@1985..1986 " "
              InKeyword@1986..1988 "in"
              Whitespace@1988..2001 "\n            "
              EXPR_LET_BODY@2001..2024
                EXPR_CALL@2001..2024
                  EXPR_LIDENT@2001..2011
                    Lident@2001..2011 "string_add"
                  ARG_LIST@2011..2024
                    LParen@2011..2012 "("
                    ARG@2012..2020
                      EXPR_LIDENT@2012..2018
                        Lident@2012..2018 "prefix"
                      Comma@2018..2019 ","
                      Whitespace@2019..2020 " "
                    ARG@2020..2023
                      EXPR_STR@2020..2023
                        Str@2020..2023 "\")\""
                    RParen@2023..2024 ")"
          Comma@2024..2025 ","
          Whitespace@2025..2034 "\n        "
          MATCH_ARM@2034..2180
            PATTERN_CONSTR@2034..2051
              Uident@2034..2041 "Wrapped"
              LParen@2041..2042 "("
              PATTERN_VARIABLE@2042..2049
                Lident@2042..2049 "wrapper"
              RParen@2049..2050 ")"
              Whitespace@2050..2051 " "
            FatArrow@2051..2053 "=>"
            Whitespace@2053..2066 "\n            "
            EXPR_LET@2066..2180
              LetKeyword@2066..2069 "let"
              Whitespace@2069..2070 " "
              PATTERN_VARIABLE@2070..2077
                Lident@2070..2076 "prefix"
                Whitespace@2076..2077 " "
              Eq@2077..2078 "="
              Whitespace@2078..2079 " "
              EXPR_LET_VALUE@2079..2142
                EXPR_CALL@2079..2142
                  EXPR_LIDENT@2079..2089
                    Lident@2079..2089 "string_add"
                  ARG_LIST@2089..2142
                    LParen@2089..2090 "("
                    ARG@2090..2109
                      EXPR_STR@2090..2107
                        Str@2090..2107 "\"Shape::Wrapped(\""
                      Comma@2107..2108 ","
                      Whitespace@2108..2109 " "
                    ARG@2109..2140
                      EXPR_CALL@2109..2140
                        EXPR_LIDENT@2109..2131
                          Lident@2109..2131 "wrapper_unit_to_string"
                        ARG_LIST@2131..2140
                          LParen@2131..2132 "("
                          ARG@2132..2139
                            EXPR_LIDENT@2132..2139
                              Lident@2132..2139 "wrapper"
                          RParen@2139..2140 ")"
                    RParen@2140..2141 ")"
                    Whitespace@2141..2142 " "
              InKeyword@2142..2144 "in"
              Whitespace@2144..2157 "\n            "
              EXPR_LET_BODY@2157..2180
                EXPR_CALL@2157..2180
                  EXPR_LIDENT@2157..2167
                    Lident@2157..2167 "string_add"
                  ARG_LIST@2167..2180
                    LParen@2167..2168 "("
                    ARG@2168..2176
                      EXPR_LIDENT@2168..2174
                        Lident@2168..2174 "prefix"
                      Comma@2174..2175 ","
                      Whitespace@2175..2176 " "
                    ARG@2176..2179
                      EXPR_STR@2176..2179
                        Str@2176..2179 "\")\""
                    RParen@2179..2180 ")"
          Comma@2180..2181 ","
          Whitespace@2181..2190 "\n        "
          MATCH_ARM@2190..2215
            PATTERN_CONSTR@2190..2197
              Uident@2190..2196 "Origin"
              Whitespace@2196..2197 " "
            FatArrow@2197..2199 "=>"
            Whitespace@2199..2200 " "
            EXPR_STR@2200..2215
              Str@2200..2215 "\"Shape::Origin\""
          Comma@2215..2216 ","
          Whitespace@2216..2221 "\n    "
          RBrace@2221..2222 "}"
          Whitespace@2222..2223 "\n"
      RBrace@2223..2224 "}"
      Whitespace@2224..2226 "\n\n"
  FN@2226..2973
    FnKeyword@2226..2228 "fn"
    Whitespace@2228..2229 " "
    Lident@2229..2233 "main"
    PARAM_LIST@2233..2236
      LParen@2233..2234 "("
      RParen@2234..2235 ")"
      Whitespace@2235..2236 " "
    BLOCK@2236..2973
      LBrace@2236..2237 "{"
      Whitespace@2237..2242 "\n    "
      EXPR_LET@2242..2971
        LetKeyword@2242..2245 "let"
        Whitespace@2245..2246 " "
        PATTERN_WILDCARD@2246..2248
          WildcardKeyword@2246..2247 "_"
          Whitespace@2247..2248 " "
        Eq@2248..2249 "="
        Whitespace@2249..2250 " "
        EXPR_LET_VALUE@2250..2295
          EXPR_CALL@2250..2295
            EXPR_LIDENT@2250..2264
              Lident@2250..2264 "string_println"
            ARG_LIST@2264..2295
              LParen@2264..2265 "("
              ARG@2265..2293
                EXPR_CALL@2265..2293
                  EXPR_LIDENT@2265..2280
                    Lident@2265..2280 "point_to_string"
                  ARG_LIST@2280..2293
                    LParen@2280..2281 "("
                    ARG@2281..2292
                      EXPR_CALL@2281..2292
                        EXPR_UIDENT@2281..2286
                          Uident@2281..2286 "Point"
                        ARG_LIST@2286..2292
                          LParen@2286..2287 "("
                          ARG@2287..2290
                            EXPR_INT@2287..2288
                              Int@2287..2288 "3"
                            Comma@2288..2289 ","
                            Whitespace@2289..2290 " "
                          ARG@2290..2291
                            EXPR_INT@2290..2291
                              Int@2290..2291 "4"
                          RParen@2291..2292 ")"
                    RParen@2292..2293 ")"
              RParen@2293..2294 ")"
              Whitespace@2294..2295 " "
        InKeyword@2295..2297 "in"
        Whitespace@2297..2302 "\n    "
        EXPR_LET_BODY@2302..2971
          EXPR_LET@2302..2971
            LetKeyword@2302..2305 "let"
            Whitespace@2305..2306 " "
            PATTERN_WILDCARD@2306..2308
              WildcardKeyword@2306..2307 "_"
              Whitespace@2307..2308 " "
            Eq@2308..2309 "="
            Whitespace@2309..2310 " "
            EXPR_LET_VALUE@2310..2360
              EXPR_CALL@2310..2360
                EXPR_LIDENT@2310..2324
                  Lident@2310..2324 "string_println"
                ARG_LIST@2324..2360
                  LParen@2324..2325 "("
                  ARG@2325..2358
                    EXPR_CALL@2325..2358
                      EXPR_LIDENT@2325..2346
                        Lident@2325..2346 "wrapper_int_to_string"
                      ARG_LIST@2346..2358
                        LParen@2346..2347 "("
                        ARG@2347..2357
                          EXPR_CALL@2347..2357
                            EXPR_UIDENT@2347..2354
                              Uident@2347..2354 "Wrapper"
                            ARG_LIST@2354..2357
                              LParen@2354..2355 "("
                              ARG@2355..2356
                                EXPR_INT@2355..2356
                                  Int@2355..2356 "7"
                              RParen@2356..2357 ")"
                        RParen@2357..2358 ")"
                  RParen@2358..2359 ")"
                  Whitespace@2359..2360 " "
            InKeyword@2360..2362 "in"
            Whitespace@2362..2367 "\n    "
            EXPR_LET_BODY@2367..2971
              EXPR_LET@2367..2971
                LetKeyword@2367..2370 "let"
                Whitespace@2370..2371 " "
                PATTERN_WILDCARD@2371..2373
                  WildcardKeyword@2371..2372 "_"
                  Whitespace@2372..2373 " "
                Eq@2373..2374 "="
                Whitespace@2374..2375 " "
                EXPR_LET_VALUE@2375..2427
                  EXPR_CALL@2375..2427
                    EXPR_LIDENT@2375..2389
                      Lident@2375..2389 "string_println"
                    ARG_LIST@2389..2427
                      LParen@2389..2390 "("
                      ARG@2390..2425
                        EXPR_CALL@2390..2425
                          EXPR_LIDENT@2390..2412
                            Lident@2390..2412 "wrapper_unit_to_string"
                          ARG_LIST@2412..2425
                            LParen@2412..2413 "("
                            ARG@2413..2424
                              EXPR_CALL@2413..2424
                                EXPR_UIDENT@2413..2420
                                  Uident@2413..2420 "Wrapper"
                                ARG_LIST@2420..2424
                                  LParen@2420..2421 "("
                                  ARG@2421..2423
                                    EXPR_UNIT@2421..2423
                                      LParen@2421..2422 "("
                                      RParen@2422..2423 ")"
                                  RParen@2423..2424 ")"
                            RParen@2424..2425 ")"
                      RParen@2425..2426 ")"
                      Whitespace@2426..2427 " "
                InKeyword@2427..2429 "in"
                Whitespace@2429..2435 "\n\n    "
                EXPR_LET_BODY@2435..2971
                  EXPR_LET@2435..2971
                    LetKeyword@2435..2438 "let"
                    Whitespace@2438..2439 " "
                    PATTERN_VARIABLE@2439..2454
                      Lident@2439..2453 "bounced_origin"
                      Whitespace@2453..2454 " "
                    Eq@2454..2455 "="
                    Whitespace@2455..2456 " "
                    EXPR_LET_VALUE@2456..2475
                      EXPR_CALL@2456..2475
                        EXPR_LIDENT@2456..2466
                          Lident@2456..2466 "bounce_int"
                        ARG_LIST@2466..2475
                          LParen@2466..2467 "("
                          ARG@2467..2473
                            EXPR_UIDENT@2467..2473
                              Uident@2467..2473 "Origin"
                          RParen@2473..2474 ")"
                          Whitespace@2474..2475 " "
                    InKeyword@2475..2477 "in"
                    Whitespace@2477..2482 "\n    "
                    EXPR_LET_BODY@2482..2971
                      EXPR_LET@2482..2971
                        LetKeyword@2482..2485 "let"
                        Whitespace@2485..2486 " "
                        PATTERN_WILDCARD@2486..2488
                          WildcardKeyword@2486..2487 "_"
                          Whitespace@2487..2488 " "
                        Eq@2488..2489 "="
                        Whitespace@2489..2490 " "
                        EXPR_LET_VALUE@2490..2544
                          EXPR_CALL@2490..2544
                            EXPR_LIDENT@2490..2504
                              Lident@2490..2504 "string_println"
                            ARG_LIST@2504..2544
                              LParen@2504..2505 "("
                              ARG@2505..2542
                                EXPR_CALL@2505..2542
                                  EXPR_LIDENT@2505..2524
                                    Lident@2505..2524 "shape_int_to_string"
                                  ARG_LIST@2524..2542
                                    LParen@2524..2525 "("
                                    ARG@2525..2541
                                      EXPR_CALL@2525..2541
                                        EXPR_UIDENT@2525..2528
                                          Uident@2525..2528 "Dot"
                                        ARG_LIST@2528..2541
                                          LParen@2528..2529 "("
                                          ARG@2529..2540
                                            EXPR_CALL@2529..2540
                                              EXPR_UIDENT@2529..2534
                                                Uident@2529..2534 "Point"
                                              ARG_LIST@2534..2540
                                                LParen@2534..2535 "("
                                                ARG@2535..2538
                                                  EXPR_INT@2535..2536
                                                    Int@2535..2536 "3"
                                                  Comma@2536..2537 ","
                                                  Whitespace@2537..2538 " "
                                                ARG@2538..2539
                                                  EXPR_INT@2538..2539
                                                    Int@2538..2539 "4"
                                                RParen@2539..2540 ")"
                                          RParen@2540..2541 ")"
                                    RParen@2541..2542 ")"
                              RParen@2542..2543 ")"
                              Whitespace@2543..2544 " "
                        InKeyword@2544..2546 "in"
                        Whitespace@2546..2551 "\n    "
                        EXPR_LET_BODY@2551..2971
                          EXPR_LET@2551..2971
                            LetKeyword@2551..2554 "let"
                            Whitespace@2554..2555 " "
                            PATTERN_WILDCARD@2555..2557
                              WildcardKeyword@2555..2556 "_"
                              Whitespace@2556..2557 " "
                            Eq@2557..2558 "="
                            Whitespace@2558..2559 " "
                            EXPR_LET_VALUE@2559..2616
                              EXPR_CALL@2559..2616
                                EXPR_LIDENT@2559..2573
                                  Lident@2559..2573 "string_println"
                                ARG_LIST@2573..2616
                                  LParen@2573..2574 "("
                                  ARG@2574..2614
                                    EXPR_CALL@2574..2614
                                      EXPR_LIDENT@2574..2593
                                        Lident@2574..2593 "shape_int_to_string"
                                      ARG_LIST@2593..2614
                                        LParen@2593..2594 "("
                                        ARG@2594..2613
                                          EXPR_CALL@2594..2613
                                            EXPR_UIDENT@2594..2601
                                              Uident@2594..2601 "Wrapped"
                                            ARG_LIST@2601..2613
                                              LParen@2601..2602 "("
                                              ARG@2602..2612
                                                EXPR_CALL@2602..2612
                                                  EXPR_UIDENT@2602..2609
                                                    Uident@2602..2609 "Wrapper"
                                                  ARG_LIST@2609..2612
                                                    LParen@2609..2610 "("
                                                    ARG@2610..2611
                                                      EXPR_INT@2610..2611
                                                        Int@2610..2611 "7"
                                                    RParen@2611..2612 ")"
                                              RParen@2612..2613 ")"
                                        RParen@2613..2614 ")"
                                  RParen@2614..2615 ")"
                                  Whitespace@2615..2616 " "
                            InKeyword@2616..2618 "in"
                            Whitespace@2618..2623 "\n    "
                            EXPR_LET_BODY@2623..2971
                              EXPR_LET@2623..2971
                                LetKeyword@2623..2626 "let"
                                Whitespace@2626..2627 " "
                                PATTERN_WILDCARD@2627..2629
                                  WildcardKeyword@2627..2628 "_"
                                  Whitespace@2628..2629 " "
                                Eq@2629..2630 "="
                                Whitespace@2630..2631 " "
                                EXPR_LET_VALUE@2631..2683
                                  EXPR_CALL@2631..2683
                                    EXPR_LIDENT@2631..2645
                                      Lident@2631..2645 "string_println"
                                    ARG_LIST@2645..2683
                                      LParen@2645..2646 "("
                                      ARG@2646..2681
                                        EXPR_CALL@2646..2681
                                          EXPR_LIDENT@2646..2665
                                            Lident@2646..2665 "shape_int_to_string"
                                          ARG_LIST@2665..2681
                                            LParen@2665..2666 "("
                                            ARG@2666..2680
                                              EXPR_LIDENT@2666..2680
                                                Lident@2666..2680 "bounced_origin"
                                            RParen@2680..2681 ")"
                                      RParen@2681..2682 ")"
                                      Whitespace@2682..2683 " "
                                InKeyword@2683..2685 "in"
                                Whitespace@2685..2690 "\n    "
                                EXPR_LET_BODY@2690..2971
                                  EXPR_LET@2690..2971
                                    LetKeyword@2690..2693 "let"
                                    Whitespace@2693..2694 " "
                                    PATTERN_WILDCARD@2694..2696
                                      WildcardKeyword@2694..2695 "_"
                                      Whitespace@2695..2696 " "
                                    Eq@2696..2697 "="
                                    Whitespace@2697..2698 " "
                                    EXPR_LET_VALUE@2698..2753
                                      EXPR_CALL@2698..2753
                                        EXPR_LIDENT@2698..2712
                                          Lident@2698..2712 "string_println"
                                        ARG_LIST@2712..2753
                                          LParen@2712..2713 "("
                                          ARG@2713..2751
                                            EXPR_CALL@2713..2751
                                              EXPR_LIDENT@2713..2733
                                                Lident@2713..2733 "shape_unit_to_string"
                                              ARG_LIST@2733..2751
                                                LParen@2733..2734 "("
                                                ARG@2734..2750
                                                  EXPR_CALL@2734..2750
                                                    EXPR_UIDENT@2734..2737
                                                      Uident@2734..2737 "Dot"
                                                    ARG_LIST@2737..2750
                                                      LParen@2737..2738 "("
                                                      ARG@2738..2749
                                                        EXPR_CALL@2738..2749
                                                          EXPR_UIDENT@2738..2743
                                                            Uident@2738..2743 "Point"
                                                          ARG_LIST@2743..2749
                                                            LParen@2743..2744 "("
                                                            ARG@2744..2747
                                                              EXPR_INT@2744..2745
                                                                Int@2744..2745 "3"
                                                              Comma@2745..2746 ","
                                                              Whitespace@2746..2747 " "
                                                            ARG@2747..2748
                                                              EXPR_INT@2747..2748
                                                                Int@2747..2748 "4"
                                                            RParen@2748..2749 ")"
                                                      RParen@2749..2750 ")"
                                                RParen@2750..2751 ")"
                                          RParen@2751..2752 ")"
                                          Whitespace@2752..2753 " "
                                    InKeyword@2753..2755 "in"
                                    Whitespace@2755..2760 "\n    "
                                    EXPR_LET_BODY@2760..2971
                                      EXPR_LET@2760..2971
                                        LetKeyword@2760..2763 "let"
                                        Whitespace@2763..2764 " "
                                        PATTERN_WILDCARD@2764..2766
                                          WildcardKeyword@2764..2765 "_"
                                          Whitespace@2765..2766 " "
                                        Eq@2766..2767 "="
                                        Whitespace@2767..2768 " "
                                        EXPR_LET_VALUE@2768..2827
                                          EXPR_CALL@2768..2827
                                            EXPR_LIDENT@2768..2782
                                              Lident@2768..2782 "string_println"
                                            ARG_LIST@2782..2827
                                              LParen@2782..2783 "("
                                              ARG@2783..2825
                                                EXPR_CALL@2783..2825
                                                  EXPR_LIDENT@2783..2803
                                                    Lident@2783..2803 "shape_unit_to_string"
                                                  ARG_LIST@2803..2825
                                                    LParen@2803..2804 "("
                                                    ARG@2804..2824
                                                      EXPR_CALL@2804..2824
                                                        EXPR_UIDENT@2804..2811
                                                          Uident@2804..2811 "Wrapped"
                                                        ARG_LIST@2811..2824
                                                          LParen@2811..2812 "("
                                                          ARG@2812..2823
                                                            EXPR_CALL@2812..2823
                                                              EXPR_UIDENT@2812..2819
                                                                Uident@2812..2819 "Wrapper"
                                                              ARG_LIST@2819..2823
                                                                LParen@2819..2820 "("
                                                                ARG@2820..2822
                                                                  EXPR_UNIT@2820..2822
                                                                    LParen@2820..2821 "("
                                                                    RParen@2821..2822 ")"
                                                                RParen@2822..2823 ")"
                                                          RParen@2823..2824 ")"
                                                    RParen@2824..2825 ")"
                                              RParen@2825..2826 ")"
                                              Whitespace@2826..2827 " "
                                        InKeyword@2827..2829 "in"
                                        Whitespace@2829..2834 "\n    "
                                        EXPR_LET_BODY@2834..2971
                                          EXPR_LET@2834..2971
                                            LetKeyword@2834..2837 "let"
                                            Whitespace@2837..2838 " "
                                            PATTERN_WILDCARD@2838..2840
                                              WildcardKeyword@2838..2839 "_"
                                              Whitespace@2839..2840 " "
                                            Eq@2840..2841 "="
                                            Whitespace@2841..2842 " "
                                            EXPR_LET_VALUE@2842..2887
                                              EXPR_CALL@2842..2887
                                                EXPR_LIDENT@2842..2856
                                                  Lident@2842..2856 "string_println"
                                                ARG_LIST@2856..2887
                                                  LParen@2856..2857 "("
                                                  ARG@2857..2885
                                                    EXPR_CALL@2857..2885
                                                      EXPR_LIDENT@2857..2877
                                                        Lident@2857..2877 "shape_unit_to_string"
                                                      ARG_LIST@2877..2885
                                                        LParen@2877..2878 "("
                                                        ARG@2878..2884
                                                          EXPR_UIDENT@2878..2884
                                                            Uident@2878..2884 "Origin"
                                                        RParen@2884..2885 ")"
                                                  RParen@2885..2886 ")"
                                                  Whitespace@2886..2887 " "
                                            InKeyword@2887..2889 "in"
                                            Whitespace@2889..2895 "\n\n    "
                                            EXPR_LET_BODY@2895..2971
                                              EXPR_LET@2895..2971
                                                LetKeyword@2895..2898 "let"
                                                Whitespace@2898..2899 " "
                                                PATTERN_WILDCARD@2899..2901
                                                  WildcardKeyword@2899..2900 "_"
                                                  Whitespace@2900..2901 " "
                                                Eq@2901..2902 "="
                                                Whitespace@2902..2903 " "
                                                EXPR_LET_VALUE@2903..2932
                                                  EXPR_CALL@2903..2932
                                                    EXPR_LIDENT@2903..2911
                                                      Lident@2903..2911 "describe"
                                                    ARG_LIST@2911..2932
                                                      LParen@2911..2912 "("
                                                      ARG@2912..2930
                                                        EXPR_CALL@2912..2930
                                                          EXPR_LIDENT@2912..2922
                                                            Lident@2912..2922 "bounce_int"
                                                          ARG_LIST@2922..2930
                                                            LParen@2922..2923 "("
                                                            ARG@2923..2929
                                                              EXPR_UIDENT@2923..2929
                                                                Uident@2923..2929 "Origin"
                                                            RParen@2929..2930 ")"
                                                      RParen@2930..2931 ")"
                                                      Whitespace@2931..2932 " "
                                                InKeyword@2932..2934 "in"
                                                Whitespace@2934..2939 "\n    "
                                                EXPR_LET_BODY@2939..2971
                                                  EXPR_CALL@2939..2971
                                                    EXPR_LIDENT@2939..2953
                                                      Lident@2939..2953 "string_println"
                                                    ARG_LIST@2953..2971
                                                      LParen@2953..2954 "("
                                                      ARG@2954..2969
                                                        EXPR_STR@2954..2969
                                                          Str@2954..2969 "\"struct enums!\""
                                                      RParen@2969..2970 ")"
                                                      Whitespace@2970..2971 "\n"
      RBrace@2971..2972 "}"
      Whitespace@2972..2973 "\n"