FILE@0..724
  FN@0..103
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..15 "match_string"
    PARAM_LIST@15..27
      LParen@15..16 "("
      PARAM@16..25
        Lident@16..17 "s"
        Colon@17..18 ":"
        Whitespace@18..19 " "
        TYPE_STRING@19..25
          StringKeyword@19..25 "String"
      RParen@25..26 ")"
      Whitespace@26..27 " "
    Arrow@27..29 "->"
    Whitespace@29..30 " "
    TYPE_INT@30..34
      IntKeyword@30..33 "Int"
      Whitespace@33..34 " "
    BLOCK@34..103
      LBrace@34..35 "{"
      Whitespace@35..38 "\n  "
      EXPR_MATCH@38..100
        MatchKeyword@38..43 "match"
        Whitespace@43..44 " "
        EXPR_LIDENT@44..46
          Lident@44..45 "s"
          Whitespace@45..46 " "
        MATCH_ARM_LIST@46..100
          LBrace@46..47 "{"
          Whitespace@47..52 "\n    "
          MATCH_ARM@52..64
            PATTERN_STRING@52..60
              Str@52..59 "\"hello\""
              Whitespace@59..60 " "
            FatArrow@60..62 "=>"
            Whitespace@62..63 " "
            EXPR_INT@63..64
              Int@63..64 "1"
          Comma@64..65 ","
          Whitespace@65..70 "\n    "
          MATCH_ARM@70..82
            PATTERN_STRING@70..78
              Str@70..77 "\"world\""
              Whitespace@77..78 " "
            FatArrow@78..80 "=>"
            Whitespace@80..81 " "
            EXPR_INT@81..82
              Int@81..82 "2"
          Comma@82..83 ","
          Whitespace@83..88 "\n    "
          MATCH_ARM@88..94
            PATTERN_WILDCARD@88..90
              WildcardKeyword@88..89 "_"
              Whitespace@89..90 " "
            FatArrow@90..92 "=>"
            Whitespace@92..93 " "
            EXPR_INT@93..94
              Int@93..94 "3"
          Comma@94..95 ","
          Whitespace@95..98 "\n  "
          RBrace@98..99 "}"
          Whitespace@99..100 "\n"
      RBrace@100..101 "}"
      Whitespace@101..103 "\n\n"
  FN@103..193
    FnKeyword@103..105 "fn"
    Whitespace@105..106 " "
    Lident@106..123 "wildcard_position"
    PARAM_LIST@123..135
      LParen@123..124 "("
      PARAM@124..133
        Lident@124..125 "s"
        Colon@125..126 ":"
        Whitespace@126..127 " "
        TYPE_STRING@127..133
          StringKeyword@127..133 "String"
      RParen@133..134 ")"
      Whitespace@134..135 " "
    Arrow@135..137 "->"
    Whitespace@137..138 " "
    TYPE_INT@138..142
      IntKeyword@138..141 "Int"
      Whitespace@141..142 " "
    BLOCK@142..193
      LBrace@142..143 "{"
      Whitespace@143..146 "\n  "
      EXPR_MATCH@146..190
        MatchKeyword@146..151 "match"
        Whitespace@151..152 " "
        EXPR_LIDENT@152..154
          Lident@152..153 "s"
          Whitespace@153..154 " "
        MATCH_ARM_LIST@154..190
          LBrace@154..155 "{"
          Whitespace@155..160 "\n    "
          MATCH_ARM@160..166
            PATTERN_WILDCARD@160..162
              WildcardKeyword@160..161 "_"
              Whitespace@161..162 " "
            FatArrow@162..164 "=>"
            Whitespace@164..165 " "
            EXPR_INT@165..166
              Int@165..166 "4"
          Comma@166..167 ","
          Whitespace@167..172 "\n    "
          MATCH_ARM@172..184
            PATTERN_STRING@172..180
              Str@172..179 "\"world\""
              Whitespace@179..180 " "
            FatArrow@180..182 "=>"
            Whitespace@182..183 " "
            EXPR_INT@183..184
              Int@183..184 "5"
          Comma@184..185 ","
          Whitespace@185..188 "\n  "
          RBrace@188..189 "}"
          Whitespace@189..190 "\n"
      RBrace@190..191 "}"
      Whitespace@191..193 "\n\n"
  FN@193..299
    FnKeyword@193..195 "fn"
    Whitespace@195..196 " "
    Lident@196..211 "repeated_string"
    PARAM_LIST@211..223
      LParen@211..212 "("
      PARAM@212..221
        Lident@212..213 "s"
        Colon@213..214 ":"
        Whitespace@214..215 " "
        TYPE_STRING@215..221
          StringKeyword@215..221 "String"
      RParen@221..222 ")"
      Whitespace@222..223 " "
    Arrow@223..225 "->"
    Whitespace@225..226 " "
    TYPE_INT@226..230
      IntKeyword@226..229 "Int"
      Whitespace@229..230 " "
    BLOCK@230..299
      LBrace@230..231 "{"
      Whitespace@231..234 "\n  "
      EXPR_MATCH@234..296
        MatchKeyword@234..239 "match"
        Whitespace@239..240 " "
        EXPR_LIDENT@240..242
          Lident@240..241 "s"
          Whitespace@241..242 " "
        MATCH_ARM_LIST@242..296
          LBrace@242..243 "{"
          Whitespace@243..248 "\n    "
          MATCH_ARM@248..260
            PATTERN_STRING@248..256
              Str@248..255 "\"hello\""
              Whitespace@255..256 " "
            FatArrow@256..258 "=>"
            Whitespace@258..259 " "
            EXPR_INT@259..260
              Int@259..260 "6"
          Comma@260..261 ","
          Whitespace@261..266 "\n    "
          MATCH_ARM@266..278
            PATTERN_STRING@266..274
              Str@266..273 "\"hello\""
              Whitespace@273..274 " "
            FatArrow@274..276 "=>"
            Whitespace@276..277 " "
            EXPR_INT@277..278
              Int@277..278 "7"
          Comma@278..279 ","
          Whitespace@279..284 "\n    "
          MATCH_ARM@284..290
            PATTERN_WILDCARD@284..286
              WildcardKeyword@284..285 "_"
              Whitespace@285..286 " "
            FatArrow@286..288 "=>"
            Whitespace@288..289 " "
            EXPR_INT@289..290
              Int@289..290 "8"
          Comma@290..291 ","
          Whitespace@291..294 "\n  "
          RBrace@294..295 "}"
          Whitespace@295..296 "\n"
      RBrace@296..297 "}"
      Whitespace@297..299 "\n\n"
  FN@299..724
    FnKeyword@299..301 "fn"
    Whitespace@301..302 " "
    Lident@302..306 "main"
    PARAM_LIST@306..309
      LParen@306..307 "("
      RParen@307..308 ")"
      Whitespace@308..309 " "
    BLOCK@309..724
      LBrace@309..310 "{"
      Whitespace@310..315 "\n    "
      EXPR_LET@315..722
        LetKeyword@315..318 "let"
        Whitespace@318..319 " "
        PATTERN_WILDCARD@319..321
          WildcardKeyword@319..320 "_"
          Whitespace@320..321 " "
        Eq@321..322 "="
        Whitespace@322..323 " "
        EXPR_LET_VALUE@323..376
          EXPR_CALL@323..376
            EXPR_LIDENT@323..337
              Lident@323..337 "string_println"
            ARG_LIST@337..376
              LParen@337..338 "("
              ARG@338..374
                EXPR_CALL@338..374
                  EXPR_LIDENT@338..351
                    Lident@338..351 "int_to_string"
                  ARG_LIST@351..374
                    LParen@351..352 "("
                    ARG@352..373
                      EXPR_CALL@352..373
                        EXPR_LIDENT@352..364
                          Lident@352..364 "match_string"
                        ARG_LIST@364..373
                          LParen@364..365 "("
                          ARG@365..372
                            EXPR_STR@365..372
                              Str@365..372 "\"hello\""
                          RParen@372..373 ")"
                    RParen@373..374 ")"
              RParen@374..375 ")"
              Whitespace@375..376 " "
        InKeyword@376..378 "in"
        Whitespace@378..383 "\n    "
        EXPR_LET_BODY@383..722
          EXPR_LET@383..722
            LetKeyword@383..386 "let"
            Whitespace@386..387 " "
            PATTERN_WILDCARD@387..389
              WildcardKeyword@387..388 "_"
              Whitespace@388..389 " "
            Eq@389..390 "="
            Whitespace@390..391 " "
            EXPR_LET_VALUE@391..445
              EXPR_CALL@391..445
                EXPR_LIDENT@391..405
                  Lident@391..405 "string_println"
                ARG_LIST@405..445
                  LParen@405..406 "("
                  ARG@406..443
                    EXPR_CALL@406..443
                      EXPR_LIDENT@406..419
                        Lident@406..419 "int_to_string"
                      ARG_LIST@419..443
                        LParen@419..420 "("
                        ARG@420..442
                          EXPR_CALL@420..442
                            EXPR_LIDENT@420..432
                              Lident@420..432 "match_string"
                            ARG_LIST@432..442
                              LParen@432..433 "("
                              ARG@433..441
                                EXPR_STR@433..441
                                  Str@433..441 "\"planet\""
                              RParen@441..442 ")"
                        RParen@442..443 ")"
                  RParen@443..444 ")"
                  Whitespace@444..445 " "
            InKeyword@445..447 "in"
            Whitespace@447..452 "\n    "
            EXPR_LET_BODY@452..722
              EXPR_LET@452..722
                LetKeyword@452..455 "let"
                Whitespace@455..456 " "
                PATTERN_WILDCARD@456..458
                  WildcardKeyword@456..457 "_"
                  Whitespace@457..458 " "
                Eq@458..459 "="
                Whitespace@459..460 " "
                EXPR_LET_VALUE@460..518
                  EXPR_CALL@460..518
                    EXPR_LIDENT@460..474
                      Lident@460..474 "string_println"
                    ARG_LIST@474..518
                      LParen@474..475 "("
                      ARG@475..516
                        EXPR_CALL@475..516
                          EXPR_LIDENT@475..488
                            Lident@475..488 "int_to_string"
                          ARG_LIST@488..516
                            LParen@488..489 "("
                            ARG@489..515
                              EXPR_CALL@489..515
                                EXPR_LIDENT@489..506
                                  Lident@489..506 "wildcard_position"
                                ARG_LIST@506..515
                                  LParen@506..507 "("
                                  ARG@507..514
                                    EXPR_STR@507..514
                                      Str@507..514 "\"world\""
                                  RParen@514..515 ")"
                            RParen@515..516 ")"
                      RParen@516..517 ")"
                      Whitespace@517..518 " "
                InKeyword@518..520 "in"
                Whitespace@520..525 "\n    "
                EXPR_LET_BODY@525..722
                  EXPR_LET@525..722
                    LetKeyword@525..528 "let"
                    Whitespace@528..529 " "
                    PATTERN_WILDCARD@529..531
                      WildcardKeyword@529..530 "_"
                      Whitespace@530..531 " "
                    Eq@531..532 "="
                    Whitespace@532..533 " "
                    EXPR_LET_VALUE@533..589
                      EXPR_CALL@533..589
                        EXPR_LIDENT@533..547
                          Lident@533..547 "string_println"
                        ARG_LIST@547..589
                          LParen@547..548 "("
                          ARG@548..587
                            EXPR_CALL@548..587
                              EXPR_LIDENT@548..561
                                Lident@548..561 "int_to_string"
                              ARG_LIST@561..587
                                LParen@561..562 "("
                                ARG@562..586
                                  EXPR_CALL@562..586
                                    EXPR_LIDENT@562..579
                                      Lident@562..579 "wildcard_position"
                                    ARG_LIST@579..586
                                      LParen@579..580 "("
                                      ARG@580..585
                                        EXPR_STR@580..585
                                          Str@580..585 "\"sun\""
                                      RParen@585..586 ")"
                                RParen@586..587 ")"
                          RParen@587..588 ")"
                          Whitespace@588..589 " "
                    InKeyword@589..591 "in"
                    Whitespace@591..596 "\n    "
                    EXPR_LET_BODY@596..722
                      EXPR_LET@596..722
                        LetKeyword@596..599 "let"
                        Whitespace@599..600 " "
                        PATTERN_WILDCARD@600..602
                          WildcardKeyword@600..601 "_"
                          Whitespace@601..602 " "
                        Eq@602..603 "="
                        Whitespace@603..604 " "
                        EXPR_LET_VALUE@604..660
                          EXPR_CALL@604..660
                            EXPR_LIDENT@604..618
                              Lident@604..618 "string_println"
                            ARG_LIST@618..660
                              LParen@618..619 "("
                              ARG@619..658
                                EXPR_CALL@619..658
                                  EXPR_LIDENT@619..632
                                    Lident@619..632 "int_to_string"
                                  ARG_LIST@632..658
                                    LParen@632..633 "("
                                    ARG@633..657
                                      EXPR_CALL@633..657
                                        EXPR_LIDENT@633..648
                                          Lident@633..648 "repeated_string"
                                        ARG_LIST@648..657
                                          LParen@648..649 "("
                                          ARG@649..656
                                            EXPR_STR@649..656
                                              Str@649..656 "\"hello\""
                                          RParen@656..657 ")"
                                    RParen@657..658 ")"
                              RParen@658..659 ")"
                              Whitespace@659..660 " "
                        InKeyword@660..662 "in"
                        Whitespace@662..667 "\n    "
                        EXPR_LET_BODY@667..722
                          EXPR_CALL@667..722
                            EXPR_LIDENT@667..681
                              Lident@667..681 "string_println"
                            ARG_LIST@681..722
                              LParen@681..682 "("
                              ARG@682..720
                                EXPR_CALL@682..720
                                  EXPR_LIDENT@682..695
                                    Lident@682..695 "int_to_string"
                                  ARG_LIST@695..720
                                    LParen@695..696 "("
                                    ARG@696..719
                                      EXPR_CALL@696..719
                                        EXPR_LIDENT@696..711
                                          Lident@696..711 "repeated_string"
                                        ARG_LIST@711..719
                                          LParen@711..712 "("
                                          ARG@712..718
                                            EXPR_STR@712..718
                                              Str@712..718 "\"mars\""
                                          RParen@718..719 ")"
                                    RParen@719..720 ")"
                              RParen@720..721 ")"
                              Whitespace@721..722 "\n"
      RBrace@722..723 "}"
      Whitespace@723..724 "\n"