FILE@0..981
  FN@0..122
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..11 "show_int"
    PARAM_LIST@11..39
      LParen@11..12 "("
      PARAM@12..27
        Lident@12..17 "label"
        Colon@17..18 ":"
        Whitespace@18..19 " "
        TYPE_STRING@19..25
          StringKeyword@19..25 "string"
        Comma@25..26 ","
        Whitespace@26..27 " "
      PARAM@27..37
        Lident@27..32 "value"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT@34..37
          IntKeyword@34..37 "int"
      RParen@37..38 ")"
      Whitespace@38..39 " "
    BLOCK@39..122
      LBrace@39..40 "{"
      Whitespace@40..45 "\n    "
      EXPR_LET@45..119
        LetKeyword@45..48 "let"
        Whitespace@48..49 " "
        PATTERN_WILDCARD@49..51
          WildcardKeyword@49..50 "_"
          Whitespace@50..51 " "
        Eq@51..52 "="
        Whitespace@52..53 " "
        EXPR_LET_VALUE@53..109
          EXPR_CALL@53..109
            EXPR_LIDENT@53..67
              Lident@53..67 "string_println"
            ARG_LIST@67..109
              LParen@67..68 "("
              ARG@68..107
                EXPR_CALL@68..107
                  EXPR_LIDENT@68..78
                    Lident@68..78 "string_add"
                  ARG_LIST@78..107
                    LParen@78..79 "("
                    ARG@79..86
                      EXPR_LIDENT@79..84
                        Lident@79..84 "label"
                      Comma@84..85 ","
                      Whitespace@85..86 " "
                    ARG@86..106
                      EXPR_CALL@86..106
                        EXPR_LIDENT@86..99
                          Lident@86..99 "int_to_string"
                        ARG_LIST@99..106
                          LParen@99..100 "("
                          ARG@100..105
                            EXPR_LIDENT@100..105
                              Lident@100..105 "value"
                          RParen@105..106 ")"
                    RParen@106..107 ")"
              RParen@107..108 ")"
              Whitespace@108..109 " "
        InKeyword@109..111 "in"
        Whitespace@111..116 "\n    "
        EXPR_LET_BODY@116..119
          EXPR_UNIT@116..119
            LParen@116..117 "("
            RParen@117..118 ")"
            Whitespace@118..119 "\n"
      RBrace@119..120 "}"
      Whitespace@120..122 "\n\n"
  FN@122..247
    FnKeyword@122..124 "fn"
    Whitespace@124..125 " "
    Lident@125..134 "show_bool"
    PARAM_LIST@134..163
      LParen@134..135 "("
      PARAM@135..150
        Lident@135..140 "label"
        Colon@140..141 ":"
        Whitespace@141..142 " "
        TYPE_STRING@142..148
          StringKeyword@142..148 "string"
        Comma@148..149 ","
        Whitespace@149..150 " "
      PARAM@150..161
        Lident@150..155 "value"
        Colon@155..156 ":"
        Whitespace@156..157 " "
        TYPE_BOOL@157..161
          BoolKeyword@157..161 "bool"
      RParen@161..162 ")"
      Whitespace@162..163 " "
    BLOCK@163..247
      LBrace@163..164 "{"
      Whitespace@164..169 "\n    "
      EXPR_LET@169..244
        LetKeyword@169..172 "let"
        Whitespace@172..173 " "
        PATTERN_WILDCARD@173..175
          WildcardKeyword@173..174 "_"
          Whitespace@174..175 " "
        Eq@175..176 "="
        Whitespace@176..177 " "
        EXPR_LET_VALUE@177..234
          EXPR_CALL@177..234
            EXPR_LIDENT@177..191
              Lident@177..191 "string_println"
            ARG_LIST@191..234
              LParen@191..192 "("
              ARG@192..232
                EXPR_CALL@192..232
                  EXPR_LIDENT@192..202
                    Lident@192..202 "string_add"
                  ARG_LIST@202..232
                    LParen@202..203 "("
                    ARG@203..210
                      EXPR_LIDENT@203..208
                        Lident@203..208 "label"
                      Comma@208..209 ","
                      Whitespace@209..210 " "
                    ARG@210..231
                      EXPR_CALL@210..231
                        EXPR_LIDENT@210..224
                          Lident@210..224 "bool_to_string"
                        ARG_LIST@224..231
                          LParen@224..225 "("
                          ARG@225..230
                            EXPR_LIDENT@225..230
                              Lident@225..230 "value"
                          RParen@230..231 ")"
                    RParen@231..232 ")"
              RParen@232..233 ")"
              Whitespace@233..234 " "
        InKeyword@234..236 "in"
        Whitespace@236..241 "\n    "
        EXPR_LET_BODY@241..244
          EXPR_UNIT@241..244
            LParen@241..242 "("
            RParen@242..243 ")"
            Whitespace@243..244 "\n"
      RBrace@244..245 "}"
      Whitespace@245..247 "\n\n"
  FN@247..981
    FnKeyword@247..249 "fn"
    Whitespace@249..250 " "
    Lident@250..254 "main"
    PARAM_LIST@254..257
      LParen@254..255 "("
      RParen@255..256 ")"
      Whitespace@256..257 " "
    BLOCK@257..981
      LBrace@257..258 "{"
      Whitespace@258..263 "\n    "
      EXPR_LET@263..979
        LetKeyword@263..266 "let"
        Whitespace@266..267 " "
        PATTERN_VARIABLE@267..272
          Lident@267..271 "base"
          Whitespace@271..272 " "
        Eq@272..273 "="
        Whitespace@273..274 " "
        EXPR_LET_VALUE@274..277
          EXPR_INT@274..277
            Int@274..276 "10"
            Whitespace@276..277 " "
        InKeyword@277..279 "in"
        Whitespace@279..284 "\n    "
        EXPR_LET_BODY@284..979
          EXPR_LET@284..979
            LetKeyword@284..287 "let"
            Whitespace@287..288 " "
            PATTERN_VARIABLE@288..292
              Lident@288..291 "sum"
              Whitespace@291..292 " "
            Eq@292..293 "="
            Whitespace@293..294 " "
            EXPR_LET_VALUE@294..303
              EXPR_BINARY@294..303
                EXPR_LIDENT@294..299
                  Lident@294..298 "base"
                  Whitespace@298..299 " "
                Plus@299..300 "+"
                Whitespace@300..301 " "
                EXPR_INT@301..303
                  Int@301..302 "5"
                  Whitespace@302..303 " "
            InKeyword@303..305 "in"
            Whitespace@305..310 "\n    "
            EXPR_LET_BODY@310..979
              EXPR_LET@310..979
                LetKeyword@310..313 "let"
                Whitespace@313..314 " "
                PATTERN_VARIABLE@314..319
                  Lident@314..318 "diff"
                  Whitespace@318..319 " "
                Eq@319..320 "="
                Whitespace@320..321 " "
                EXPR_LET_VALUE@321..329
                  EXPR_BINARY@321..329
                    EXPR_LIDENT@321..325
                      Lident@321..324 "sum"
                      Whitespace@324..325 " "
                    Minus@325..326 "-"
                    Whitespace@326..327 " "
                    EXPR_INT@327..329
                      Int@327..328 "3"
                      Whitespace@328..329 " "
                InKeyword@329..331 "in"
                Whitespace@331..336 "\n    "
                EXPR_LET_BODY@336..979
                  EXPR_LET@336..979
                    LetKeyword@336..339 "let"
                    Whitespace@339..340 " "
                    PATTERN_VARIABLE@340..345
                      Lident@340..344 "prod"
                      Whitespace@344..345 " "
                    Eq@345..346 "="
                    Whitespace@346..347 " "
                    EXPR_LET_VALUE@347..356
                      EXPR_BINARY@347..356
                        EXPR_LIDENT@347..352
                          Lident@347..351 "diff"
                          Whitespace@351..352 " "
                        Star@352..353 "*"
                        Whitespace@353..354 " "
                        EXPR_INT@354..356
                          Int@354..355 "2"
                          Whitespace@355..356 " "
                    InKeyword@356..358 "in"
                    Whitespace@358..363 "\n    "
                    EXPR_LET_BODY@363..979
                      EXPR_LET@363..979
                        LetKeyword@363..366 "let"
                        Whitespace@366..367 " "
                        PATTERN_VARIABLE@367..372
                          Lident@367..371 "quot"
                          Whitespace@371..372 " "
                        Eq@372..373 "="
                        Whitespace@373..374 " "
                        EXPR_LET_VALUE@374..383
                          EXPR_BINARY@374..383
                            EXPR_LIDENT@374..379
                              Lident@374..378 "prod"
                              Whitespace@378..379 " "
                            Slash@379..380 "/"
                            Whitespace@380..381 " "
                            EXPR_INT@381..383
                              Int@381..382 "4"
                              Whitespace@382..383 " "
                        InKeyword@383..385 "in"
                        Whitespace@385..391 "\n\n    "
                        EXPR_LET_BODY@391..979
                          EXPR_LET@391..979
                            LetKeyword@391..394 "let"
                            Whitespace@394..395 " "
                            PATTERN_WILDCARD@395..397
                              WildcardKeyword@395..396 "_"
                              Whitespace@396..397 " "
                            Eq@397..398 "="
                            Whitespace@398..399 " "
                            EXPR_LET_VALUE@399..421
                              EXPR_CALL@399..421
                                EXPR_LIDENT@399..407
                                  Lident@399..407 "show_int"
                                ARG_LIST@407..421
                                  LParen@407..408 "("
                                  ARG@408..416
                                    EXPR_STR@408..414
                                      Str@408..414 "\"sum=\""
                                    Comma@414..415 ","
                                    Whitespace@415..416 " "
                                  ARG@416..419
                                    EXPR_LIDENT@416..419
                                      Lident@416..419 "sum"
                                  RParen@419..420 ")"
                                  Whitespace@420..421 " "
                            InKeyword@421..423 "in"
                            Whitespace@423..428 "\n    "
                            EXPR_LET_BODY@428..979
                              EXPR_LET@428..979
                                LetKeyword@428..431 "let"
                                Whitespace@431..432 " "
                                PATTERN_WILDCARD@432..434
                                  WildcardKeyword@432..433 "_"
                                  Whitespace@433..434 " "
                                Eq@434..435 "="
                                Whitespace@435..436 " "
                                EXPR_LET_VALUE@436..460
                                  EXPR_CALL@436..460
                                    EXPR_LIDENT@436..444
                                      Lident@436..444 "show_int"
                                    ARG_LIST@444..460
                                      LParen@444..445 "("
                                      ARG@445..454
                                        EXPR_STR@445..452
                                          Str@445..452 "\"diff=\""
                                        Comma@452..453 ","
                                        Whitespace@453..454 " "
                                      ARG@454..458
                                        EXPR_LIDENT@454..458
                                          Lident@454..458 "diff"
                                      RParen@458..459 ")"
                                      Whitespace@459..460 " "
                                InKeyword@460..462 "in"
                                Whitespace@462..467 "\n    "
                                EXPR_LET_BODY@467..979
                                  EXPR_LET@467..979
                                    LetKeyword@467..470 "let"
                                    Whitespace@470..471 " "
                                    PATTERN_WILDCARD@471..473
                                      WildcardKeyword@471..472 "_"
                                      Whitespace@472..473 " "
                                    Eq@473..474 "="
                                    Whitespace@474..475 " "
                                    EXPR_LET_VALUE@475..499
                                      EXPR_CALL@475..499
                                        EXPR_LIDENT@475..483
                                          Lident@475..483 "show_int"
                                        ARG_LIST@483..499
                                          LParen@483..484 "("
                                          ARG@484..493
                                            EXPR_STR@484..491
                                              Str@484..491 "\"prod=\""
                                            Comma@491..492 ","
                                            Whitespace@492..493 " "
                                          ARG@493..497
                                            EXPR_LIDENT@493..497
                                              Lident@493..497 "prod"
                                          RParen@497..498 ")"
                                          Whitespace@498..499 " "
                                    InKeyword@499..501 "in"
                                    Whitespace@501..506 "\n    "
                                    EXPR_LET_BODY@506..979
                                      EXPR_LET@506..979
                                        LetKeyword@506..509 "let"
                                        Whitespace@509..510 " "
                                        PATTERN_WILDCARD@510..512
                                          WildcardKeyword@510..511 "_"
                                          Whitespace@511..512 " "
                                        Eq@512..513 "="
                                        Whitespace@513..514 " "
                                        EXPR_LET_VALUE@514..538
                                          EXPR_CALL@514..538
                                            EXPR_LIDENT@514..522
                                              Lident@514..522 "show_int"
                                            ARG_LIST@522..538
                                              LParen@522..523 "("
                                              ARG@523..532
                                                EXPR_STR@523..530
                                                  Str@523..530 "\"quot=\""
                                                Comma@530..531 ","
                                                Whitespace@531..532 " "
                                              ARG@532..536
                                                EXPR_LIDENT@532..536
                                                  Lident@532..536 "quot"
                                              RParen@536..537 ")"
                                              Whitespace@537..538 " "
                                        InKeyword@538..540 "in"
                                        Whitespace@540..546 "\n\n    "
                                        EXPR_LET_BODY@546..979
                                          EXPR_LET@546..979
                                            LetKeyword@546..549 "let"
                                            Whitespace@549..550 " "
                                            PATTERN_VARIABLE@550..561
                                              Lident@550..560 "and_result"
                                              Whitespace@560..561 " "
                                            Eq@561..562 "="
                                            Whitespace@562..563 " "
                                            EXPR_LET_VALUE@563..577
                                              EXPR_BINARY@563..577
                                                EXPR_BOOL@563..568
                                                  TrueKeyword@563..567 "true"
                                                  Whitespace@567..568 " "
                                                AndAnd@568..570 "&&"
                                                Whitespace@570..571 " "
                                                EXPR_BOOL@571..577
                                                  FalseKeyword@571..576 "false"
                                                  Whitespace@576..577 " "
                                            InKeyword@577..579 "in"
                                            Whitespace@579..584 "\n    "
                                            EXPR_LET_BODY@584..979
                                              EXPR_LET@584..979
                                                LetKeyword@584..587 "let"
                                                Whitespace@587..588 " "
                                                PATTERN_VARIABLE@588..598
                                                  Lident@588..597 "or_result"
                                                  Whitespace@597..598 " "
                                                Eq@598..599 "="
                                                Whitespace@599..600 " "
                                                EXPR_LET_VALUE@600..614
                                                  EXPR_BINARY@600..614
                                                    EXPR_BOOL@600..605
                                                      TrueKeyword@600..604 "true"
                                                      Whitespace@604..605 " "
                                                    OrOr@605..607 "||"
                                                    Whitespace@607..608 " "
                                                    EXPR_BOOL@608..614
                                                      FalseKeyword@608..613 "false"
                                                      Whitespace@613..614 " "
                                                InKeyword@614..616 "in"
                                                Whitespace@616..621 "\n    "
                                                EXPR_LET_BODY@621..979
                                                  EXPR_LET@621..979
                                                    LetKeyword@621..624 "let"
                                                    Whitespace@624..625 " "
                                                    PATTERN_VARIABLE@625..636
                                                      Lident@625..635 "not_result"
                                                      Whitespace@635..636 " "
                                                    Eq@636..637 "="
                                                    Whitespace@637..638 " "
                                                    EXPR_LET_VALUE@638..645
                                                      EXPR_PREFIX@638..645
                                                        Bang@638..639 "!"
                                                        EXPR_BOOL@639..645
                                                          FalseKeyword@639..644 "false"
                                                          Whitespace@644..645 " "
                                                    InKeyword@645..647 "in"
                                                    Whitespace@647..652 "\n    "
                                                    EXPR_LET_BODY@652..979
                                                      EXPR_LET@652..979
                                                        LetKeyword@652..655 "let"
                                                        Whitespace@655..656 " "
                                                        PATTERN_VARIABLE@656..662
                                                          Lident@656..661 "mixed"
                                                          Whitespace@661..662 " "
                                                        Eq@662..663 "="
                                                        Whitespace@663..664 " "
                                                        EXPR_LET_VALUE@664..792
                                                          EXPR_BINARY@664..792
                                                            EXPR_BINARY@664..746
                                                              EXPR_PREFIX@664..676
                                                                Bang@664..665 "!"
                                                                EXPR_LIDENT@665..676
                                                                  Lident@665..675 "and_result"
                                                                  Whitespace@675..676 " "
                                                              AndAnd@676..678 "&&"
                                                              Whitespace@678..679 " "
                                                              EXPR_CALL@679..746
                                                                EXPR_LIDENT@679..687
                                                                  Lident@679..687 "int_less"
                                                                ARG_LIST@687..746
                                                                  LParen@687..688 "("
                                                                  ARG@688..718
                                                                    EXPR_BINARY@688..716
                                                                      EXPR_BINARY@688..706
                                                                        EXPR_LIDENT@688..692
                                                                          Lident@688..691 "sum"
                                                                          Whitespace@691..692 " "
                                                                        Plus@692..693 "+"
                                                                        Whitespace@693..694 " "
                                                                        EXPR_BINARY@694..706
                                                                          EXPR_LIDENT@694..699
                                                                            Lident@694..698 "prod"
                                                                            Whitespace@698..699 " "
                                                                          Star@699..700 "*"
                                                                          Whitespace@700..701 " "
                                                                          EXPR_LIDENT@701..706
                                                                            Lident@701..705 "base"
                                                                            Whitespace@705..706 " "
                                                                      Minus@706..707 "-"
                                                                      Whitespace@707..708 " "
                                                                      EXPR_BINARY@708..716
                                                                        EXPR_LIDENT@708..713
                                                                          Lident@708..712 "prod"
                                                                          Whitespace@712..713 " "
                                                                        Slash@713..714 "/"
                                                                        Whitespace@714..715 " "
                                                                        EXPR_INT@715..716
                                                                          Int@715..716 "2"
                                                                    Comma@716..717 ","
                                                                    Whitespace@717..718 " "
                                                                  ARG@718..736
                                                                    EXPR_BINARY@718..736
                                                                      EXPR_BINARY@718..730
                                                                        EXPR_LIDENT@718..723
                                                                          Lident@718..722 "diff"
                                                                          Whitespace@722..723 " "
                                                                        Minus@723..724 "-"
                                                                        Whitespace@724..725 " "
                                                                        EXPR_LIDENT@725..730
                                                                          Lident@725..729 "quot"
                                                                          Whitespace@729..730 " "
                                                                      Plus@730..731 "+"
                                                                      Whitespace@731..732 " "
                                                                      EXPR_LIDENT@732..736
                                                                        Lident@732..736 "base"
                                                                  RParen@736..737 ")"
                                                                  Whitespace@737..746 "\n        "
                                                            OrOr@746..748 "||"
                                                            Whitespace@748..749 " "
                                                            EXPR_CALL@749..792
                                                              EXPR_PREFIX@749..758
                                                                Bang@749..750 "!"
                                                                EXPR_LIDENT@750..758
                                                                  Lident@750..758 "int_less"
                                                              ARG_LIST@758..792
                                                                LParen@758..759 "("
                                                                ARG@759..776
                                                                  EXPR_BINARY@759..774
                                                                    EXPR_LIDENT@759..764
                                                                      Lident@759..763 "quot"
                                                                      Whitespace@763..764 " "
                                                                    Plus@764..765 "+"
                                                                    Whitespace@765..766 " "
                                                                    EXPR_BINARY@766..774
                                                                      EXPR_LIDENT@766..771
                                                                        Lident@766..770 "base"
                                                                        Whitespace@770..771 " "
                                                                      Slash@771..772 "/"
                                                                      Whitespace@772..773 " "
                                                                      EXPR_INT@773..774
                                                                        Int@773..774 "2"
                                                                  Comma@774..775 ","
                                                                  Whitespace@775..776 " "
                                                                ARG@776..790
                                                                  EXPR_BINARY@776..790
                                                                    EXPR_LIDENT@776..781
                                                                      Lident@776..780 "diff"
                                                                      Whitespace@780..781 " "
                                                                    Minus@781..782 "-"
                                                                    Whitespace@782..783 " "
                                                                    EXPR_BINARY@783..790
                                                                      EXPR_LIDENT@783..787
                                                                        Lident@783..786 "sum"
                                                                        Whitespace@786..787 " "
                                                                      Slash@787..788 "/"
                                                                      Whitespace@788..789 " "
                                                                      EXPR_INT@789..790
                                                                        Int@789..790 "2"
                                                                RParen@790..791 ")"
                                                                Whitespace@791..792 " "
                                                        InKeyword@792..794 "in"
                                                        Whitespace@794..800 "\n\n    "
                                                        EXPR_LET_BODY@800..979
                                                          EXPR_LET@800..979
                                                            LetKeyword@800..803 "let"
                                                            Whitespace@803..804 " "
                                                            PATTERN_WILDCARD@804..806
                                                              WildcardKeyword@804..805 "_"
                                                              Whitespace@805..806 " "
                                                            Eq@806..807 "="
                                                            Whitespace@807..808 " "
                                                            EXPR_LET_VALUE@808..838
                                                              EXPR_CALL@808..838
                                                                EXPR_LIDENT@808..817
                                                                  Lident@808..817 "show_bool"
                                                                ARG_LIST@817..838
                                                                  LParen@817..818 "("
                                                                  ARG@818..826
                                                                    EXPR_STR@818..824
                                                                      Str@818..824 "\"and=\""
                                                                    Comma@824..825 ","
                                                                    Whitespace@825..826 " "
                                                                  ARG@826..836
                                                                    EXPR_LIDENT@826..836
                                                                      Lident@826..836 "and_result"
                                                                  RParen@836..837 ")"
                                                                  Whitespace@837..838 " "
                                                            InKeyword@838..840 "in"
                                                            Whitespace@840..845 "\n    "
                                                            EXPR_LET_BODY@845..979
                                                              EXPR_LET@845..979
                                                                LetKeyword@845..848 "let"
                                                                Whitespace@848..849 " "
                                                                PATTERN_WILDCARD@849..851
                                                                  WildcardKeyword@849..850 "_"
                                                                  Whitespace@850..851 " "
                                                                Eq@851..852 "="
                                                                Whitespace@852..853 " "
                                                                EXPR_LET_VALUE@853..881
                                                                  EXPR_CALL@853..881
                                                                    EXPR_LIDENT@853..862
                                                                      Lident@853..862 "show_bool"
                                                                    ARG_LIST@862..881
                                                                      LParen@862..863 "("
                                                                      ARG@863..870
                                                                        EXPR_STR@863..868
                                                                          Str@863..868 "\"or=\""
                                                                        Comma@868..869 ","
                                                                        Whitespace@869..870 " "
                                                                      ARG@870..879
                                                                        EXPR_LIDENT@870..879
                                                                          Lident@870..879 "or_result"
                                                                      RParen@879..880 ")"
                                                                      Whitespace@880..881 " "
                                                                InKeyword@881..883 "in"
                                                                Whitespace@883..888 "\n    "
                                                                EXPR_LET_BODY@888..979
                                                                  EXPR_LET@888..979
                                                                    LetKeyword@888..891 "let"
                                                                    Whitespace@891..892 " "
                                                                    PATTERN_WILDCARD@892..894
                                                                      WildcardKeyword@892..893 "_"
                                                                      Whitespace@893..894 " "
                                                                    Eq@894..895 "="
                                                                    Whitespace@895..896 " "
                                                                    EXPR_LET_VALUE@896..926
                                                                      EXPR_CALL@896..926
                                                                        EXPR_LIDENT@896..905
                                                                          Lident@896..905 "show_bool"
                                                                        ARG_LIST@905..926
                                                                          LParen@905..906 "("
                                                                          ARG@906..914
                                                                            EXPR_STR@906..912
                                                                              Str@906..912 "\"not=\""
                                                                            Comma@912..913 ","
                                                                            Whitespace@913..914 " "
                                                                          ARG@914..924
                                                                            EXPR_LIDENT@914..924
                                                                              Lident@914..924 "not_result"
                                                                          RParen@924..925 ")"
                                                                          Whitespace@925..926 " "
                                                                    InKeyword@926..928 "in"
                                                                    Whitespace@928..933 "\n    "
                                                                    EXPR_LET_BODY@933..979
                                                                      EXPR_LET@933..979
                                                                        LetKeyword@933..936 "let"
                                                                        Whitespace@936..937 " "
                                                                        PATTERN_WILDCARD@937..939
                                                                          WildcardKeyword@937..938 "_"
                                                                          Whitespace@938..939 " "
                                                                        Eq@939..940 "="
                                                                        Whitespace@940..941 " "
                                                                        EXPR_LET_VALUE@941..968
                                                                          EXPR_CALL@941..968
                                                                            EXPR_LIDENT@941..950
                                                                              Lident@941..950 "show_bool"
                                                                            ARG_LIST@950..968
                                                                              LParen@950..951 "("
                                                                              ARG@951..961
                                                                                EXPR_STR@951..959
                                                                                  Str@951..959 "\"mixed=\""
                                                                                Comma@959..960 ","
                                                                                Whitespace@960..961 " "
                                                                              ARG@961..966
                                                                                EXPR_LIDENT@961..966
                                                                                  Lident@961..966 "mixed"
                                                                              RParen@966..967 ")"
                                                                              Whitespace@967..968 " "
                                                                        InKeyword@968..970 "in"
                                                                        Whitespace@970..976 "\n\n    "
                                                                        EXPR_LET_BODY@976..979
                                                                          EXPR_UNIT@976..979
                                                                            LParen@976..977 "("
                                                                            RParen@977..978 ")"
                                                                            Whitespace@978..979 "\n"
      RBrace@979..980 "}"
      Whitespace@980..981 "\n"