FILE@0..463
  STRUCT@0..30
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Uident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..30
      STRUCT_FIELD@19..25
        Lident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT@22..25
          IntKeyword@22..25 "int"
      Comma@25..26 ","
      Whitespace@26..27 "\n"
      RBrace@27..28 "}"
      Whitespace@28..30 "\n\n"
  STRUCT@30..67
    StructKeyword@30..36 "struct"
    Whitespace@36..37 " "
    Uident@37..44 "Wrapper"
    GENERIC_LIST@44..48
      LBracket@44..45 "["
      GENERIC@45..46
        Uident@45..46 "T"
      RBracket@46..47 "]"
      Whitespace@47..48 " "
    LBrace@48..49 "{"
    Whitespace@49..54 "\n    "
    STRUCT_FIELD_LIST@54..67
      STRUCT_FIELD@54..62
        Lident@54..59 "value"
        Colon@59..60 ":"
        Whitespace@60..61 " "
        TYPE_TAPP@61..62
          Uident@61..62 "T"
      Comma@62..63 ","
      Whitespace@63..64 "\n"
      RBrace@64..65 "}"
      Whitespace@65..67 "\n\n"
  TRAIT@67..112
    TraitKeyword@67..72 "trait"
    Whitespace@72..73 " "
    Uident@73..77 "Show"
    Whitespace@77..78 " "
    LBrace@78..79 "{"
    Whitespace@79..84 "\n    "
    TRAIT_METHOD_SIG_LIST@84..112
      TRAIT_METHOD_SIG@84..107
        FnKeyword@84..86 "fn"
        Whitespace@86..87 " "
        Lident@87..91 "show"
        TYPE_LIST@91..98
          LParen@91..92 "("
          TYPE_TAPP@92..96
            Uident@92..96 "Self"
          RParen@96..97 ")"
          Whitespace@97..98 " "
        Arrow@98..100 "->"
        Whitespace@100..101 " "
        TYPE_STRING@101..107
          StringKeyword@101..107 "string"
      Semi@107..108 ";"
      Whitespace@108..109 "\n"
      RBrace@109..110 "}"
      Whitespace@110..112 "\n\n"
  IMPL@112..184
    ImplKeyword@112..116 "impl"
    Whitespace@116..117 " "
    Uident@117..121 "Show"
    Whitespace@121..122 " "
    ForKeyword@122..125 "for"
    Whitespace@125..126 " "
    TYPE_TAPP@126..132
      Uident@126..131 "Point"
      Whitespace@131..132 " "
    LBrace@132..133 "{"
    Whitespace@133..138 "\n    "
    FN@138..181
      FnKeyword@138..140 "fn"
      Whitespace@140..141 " "
      Lident@141..145 "show"
      PARAM_LIST@145..159
        LParen@145..146 "("
        PARAM@146..157
          Lident@146..150 "self"
          Colon@150..151 ":"
          Whitespace@151..152 " "
          TYPE_TAPP@152..157
            Uident@152..157 "Point"
        RParen@157..158 ")"
        Whitespace@158..159 " "
      Arrow@159..161 "->"
      Whitespace@161..162 " "
      TYPE_STRING@162..169
        StringKeyword@162..168 "string"
        Whitespace@168..169 " "
      BLOCK@169..181
        LBrace@169..170 "{"
        Whitespace@170..171 " "
        EXPR_STR@171..179
          Str@171..178 "\"Point\""
          Whitespace@178..179 " "
        RBrace@179..180 "}"
        Whitespace@180..181 "\n"
    RBrace@181..182 "}"
    Whitespace@182..184 "\n\n"
  IMPL@184..277
    ImplKeyword@184..188 "impl"
    Whitespace@188..189 " "
    Uident@189..193 "Show"
    Whitespace@193..194 " "
    ForKeyword@194..197 "for"
    Whitespace@197..198 " "
    TYPE_TAPP@198..211
      Uident@198..205 "Wrapper"
      TYPE_PARAM_LIST@205..211
        LBracket@205..206 "["
        TYPE_INT@206..209
          IntKeyword@206..209 "int"
        RBracket@209..210 "]"
        Whitespace@210..211 " "
    LBrace@211..212 "{"
    Whitespace@212..217 "\n    "
    FN@217..274
      FnKeyword@217..219 "fn"
      Whitespace@219..220 " "
      Lident@220..224 "show"
      PARAM_LIST@224..245
        LParen@224..225 "("
        PARAM@225..243
          Lident@225..229 "self"
          Colon@229..230 ":"
          Whitespace@230..231 " "
          TYPE_TAPP@231..243
            Uident@231..238 "Wrapper"
            TYPE_PARAM_LIST@238..243
              LBracket@238..239 "["
              TYPE_INT@239..242
                IntKeyword@239..242 "int"
              RBracket@242..243 "]"
        RParen@243..244 ")"
        Whitespace@244..245 " "
      Arrow@245..247 "->"
      Whitespace@247..248 " "
      TYPE_STRING@248..255
        StringKeyword@248..254 "string"
        Whitespace@254..255 " "
      BLOCK@255..274
        LBrace@255..256 "{"
        Whitespace@256..257 " "
        EXPR_STR@257..272
          Str@257..271 "\"Wrapper[int]\""
          Whitespace@271..272 " "
        RBrace@272..273 "}"
        Whitespace@273..274 "\n"
    RBrace@274..275 "}"
    Whitespace@275..277 "\n\n"
  FN@277..463
    FnKeyword@277..279 "fn"
    Whitespace@279..280 " "
    Lident@280..284 "main"
    PARAM_LIST@284..287
      LParen@284..285 "("
      RParen@285..286 ")"
      Whitespace@286..287 " "
    BLOCK@287..463
      LBrace@287..288 "{"
      Whitespace@288..293 "\n    "
      EXPR_LET@293..461
        LetKeyword@293..296 "let"
        Whitespace@296..297 " "
        PATTERN_VARIABLE@297..303
          Lident@297..302 "point"
          Whitespace@302..303 " "
        Eq@303..304 "="
        Whitespace@304..305 " "
        EXPR_LET_VALUE@305..320
          EXPR_STRUCT_LITERAL@305..320
            Uident@305..310 "Point"
            Whitespace@310..311 " "
            STRUCT_LITERAL_FIELD_LIST@311..320
              LBrace@311..312 "{"
              Whitespace@312..313 " "
              STRUCT_LITERAL_FIELD@313..318
                Lident@313..314 "x"
                Colon@314..315 ":"
                Whitespace@315..316 " "
                EXPR_INT@316..318
                  Int@316..317 "5"
                  Whitespace@317..318 " "
              RBrace@318..319 "}"
              Whitespace@319..320 " "
        InKeyword@320..322 "in"
        Whitespace@322..327 "\n    "
        EXPR_LET_BODY@327..461
          EXPR_LET@327..461
            LetKeyword@327..330 "let"
            Whitespace@330..331 " "
            PATTERN_VARIABLE@331..339
              Lident@331..338 "wrapped"
              Whitespace@338..339 " "
            Eq@339..340 "="
            Whitespace@340..341 " "
            EXPR_LET_VALUE@341..363
              EXPR_STRUCT_LITERAL@341..363
                Uident@341..348 "Wrapper"
                Whitespace@348..349 " "
                STRUCT_LITERAL_FIELD_LIST@349..363
                  LBrace@349..350 "{"
                  Whitespace@350..351 " "
                  STRUCT_LITERAL_FIELD@351..361
                    Lident@351..356 "value"
                    Colon@356..357 ":"
                    Whitespace@357..358 " "
                    EXPR_INT@358..361
                      Int@358..360 "42"
                      Whitespace@360..361 " "
                  RBrace@361..362 "}"
                  Whitespace@362..363 " "
            InKeyword@363..365 "in"
            Whitespace@365..370 "\n    "
            EXPR_LET_BODY@370..461
              EXPR_LET@370..461
                LetKeyword@370..373 "let"
                Whitespace@373..374 " "
                PATTERN_WILDCARD@374..376
                  WildcardKeyword@374..375 "_"
                  Whitespace@375..376 " "
                Eq@376..377 "="
                Whitespace@377..378 " "
                EXPR_LET_VALUE@378..406
                  EXPR_CALL@378..406
                    EXPR_LIDENT@378..392
                      Lident@378..392 "string_println"
                    ARG_LIST@392..406
                      LParen@392..393 "("
                      ARG@393..404
                        EXPR_CALL@393..404
                          EXPR_LIDENT@393..397
                            Lident@393..397 "show"
                          ARG_LIST@397..404
                            LParen@397..398 "("
                            ARG@398..403
                              EXPR_LIDENT@398..403
                                Lident@398..403 "point"
                            RParen@403..404 ")"
                      RParen@404..405 ")"
                      Whitespace@405..406 " "
                InKeyword@406..408 "in"
                Whitespace@408..413 "\n    "
                EXPR_LET_BODY@413..461
                  EXPR_LET@413..461
                    LetKeyword@413..416 "let"
                    Whitespace@416..417 " "
                    PATTERN_WILDCARD@417..419
                      WildcardKeyword@417..418 "_"
                      Whitespace@418..419 " "
                    Eq@419..420 "="
                    Whitespace@420..421 " "
                    EXPR_LET_VALUE@421..451
                      EXPR_CALL@421..451
                        EXPR_LIDENT@421..435
                          Lident@421..435 "string_println"
                        ARG_LIST@435..451
                          LParen@435..436 "("
                          ARG@436..449
                            EXPR_CALL@436..449
                              EXPR_LIDENT@436..440
                                Lident@436..440 "show"
                              ARG_LIST@440..449
                                LParen@440..441 "("
                                ARG@441..448
                                  EXPR_LIDENT@441..448
                                    Lident@441..448 "wrapped"
                                RParen@448..449 ")"
                          RParen@449..450 ")"
                          Whitespace@450..451 " "
                    InKeyword@451..453 "in"
                    Whitespace@453..458 "\n    "
                    EXPR_LET_BODY@458..461
                      EXPR_UNIT@458..461
                        LParen@458..459 "("
                        RParen@459..460 ")"
                        Whitespace@460..461 "\n"
      RBrace@461..462 "}"
      Whitespace@462..463 "\n"