FILE@0..518
  TRAIT@0..78
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Convert"
    GENERIC_LIST@13..17
      LBracket@13..14 "["
      GENERIC@14..15
        Ident@14..15 "T"
      RBracket@15..16 "]"
      Whitespace@16..17 " "
    LBrace@17..18 "{"
    Whitespace@18..23 "\n    "
    TRAIT_METHOD_SIG_LIST@23..78
      TRAIT_ASSOCIATED_TYPE@23..41
        TypeKeyword@23..27 "type"
        Whitespace@27..28 " "
        Ident@28..34 "Output"
        Semi@34..35 ";"
        Whitespace@35..41 "\n\n    "
      TRAIT_METHOD_SIG@41..73
        FnKeyword@41..43 "fn"
        Whitespace@43..44 " "
        Ident@44..51 "convert"
        TYPE_LIST@51..58
          LParen@51..52 "("
          TYPE_TAPP@52..56
            PATH@52..56
              Ident@52..56 "Self"
          RParen@56..57 ")"
          Whitespace@57..58 " "
        Arrow@58..60 "->"
        Whitespace@60..61 " "
        TYPE_TAPP@61..73
          PATH@61..73
            Ident@61..65 "Self"
            ColonColon@65..67 "::"
            Ident@67..73 "Output"
      Semi@73..74 ";"
      Whitespace@74..75 "\n"
      RBrace@75..76 "}"
      Whitespace@76..78 "\n\n"
  STRUCT@78..95
    StructKeyword@78..84 "struct"
    Whitespace@84..85 " "
    Ident@85..90 "Value"
    Whitespace@90..91 " "
    LBrace@91..92 "{"
    STRUCT_FIELD_LIST@92..95
      RBrace@92..93 "}"
      Whitespace@93..95 "\n\n"
  IMPL@95..217
    ImplKeyword@95..99 "impl"
    Whitespace@99..100 " "
    TYPE_TAPP@100..115
      PATH@100..107
        Ident@100..107 "Convert"
      TYPE_PARAM_LIST@107..115
        LBracket@107..108 "["
        TYPE_INT32@108..113
          Int32Keyword@108..113 "int32"
        RBracket@113..114 "]"
        Whitespace@114..115 " "
    ForKeyword@115..118 "for"
    Whitespace@118..119 " "
    TYPE_TAPP@119..125
      PATH@119..125
        Ident@119..124 "Value"
        Whitespace@124..125 " "
    LBrace@125..126 "{"
    Whitespace@126..131 "\n    "
    IMPL_ASSOCIATED_TYPE@131..158
      TypeKeyword@131..135 "type"
      Whitespace@135..136 " "
      Ident@136..142 "Output"
      Whitespace@142..143 " "
      Eq@143..144 "="
      Whitespace@144..145 " "
      TYPE_STRING@145..151
        StringKeyword@145..151 "string"
      Semi@151..152 ";"
      Whitespace@152..158 "\n\n    "
    FN@158..214
      FnKeyword@158..160 "fn"
      Whitespace@160..161 " "
      Ident@161..168 "convert"
      PARAM_LIST@168..182
        LParen@168..169 "("
        PARAM@169..180
          Ident@169..173 "self"
          Colon@173..174 ":"
          Whitespace@174..175 " "
          TYPE_TAPP@175..180
            PATH@175..180
              Ident@175..180 "Value"
        RParen@180..181 ")"
        Whitespace@181..182 " "
      Arrow@182..184 "->"
      Whitespace@184..185 " "
      TYPE_STRING@185..192
        StringKeyword@185..191 "string"
        Whitespace@191..192 " "
      BLOCK@192..214
        LBrace@192..193 "{"
        Whitespace@193..202 "\n        "
        EXPR_STR@202..212
          Str@202..207 "\"int\""
          Whitespace@207..212 "\n    "
        RBrace@212..213 "}"
        Whitespace@213..214 "\n"
    RBrace@214..215 "}"
    Whitespace@215..217 "\n\n"
  IMPL@217..334
    ImplKeyword@217..221 "impl"
    Whitespace@221..222 " "
    TYPE_TAPP@222..238
      PATH@222..229
        Ident@222..229 "Convert"
      TYPE_PARAM_LIST@229..238
        LBracket@229..230 "["
        TYPE_STRING@230..236
          StringKeyword@230..236 "string"
        RBracket@236..237 "]"
        Whitespace@237..238 " "
    ForKeyword@238..241 "for"
    Whitespace@241..242 " "
    TYPE_TAPP@242..248
      PATH@242..248
        Ident@242..247 "Value"
        Whitespace@247..248 " "
    LBrace@248..249 "{"
    Whitespace@249..254 "\n    "
    IMPL_ASSOCIATED_TYPE@254..280
      TypeKeyword@254..258 "type"
      Whitespace@258..259 " "
      Ident@259..265 "Output"
      Whitespace@265..266 " "
      Eq@266..267 "="
      Whitespace@267..268 " "
      TYPE_INT32@268..273
        Int32Keyword@268..273 "int32"
      Semi@273..274 ";"
      Whitespace@274..280 "\n\n    "
    FN@280..331
      FnKeyword@280..282 "fn"
      Whitespace@282..283 " "
      Ident@283..290 "convert"
      PARAM_LIST@290..304
        LParen@290..291 "("
        PARAM@291..302
          Ident@291..295 "self"
          Colon@295..296 ":"
          Whitespace@296..297 " "
          TYPE_TAPP@297..302
            PATH@297..302
              Ident@297..302 "Value"
        RParen@302..303 ")"
        Whitespace@303..304 " "
      Arrow@304..306 "->"
      Whitespace@306..307 " "
      TYPE_INT32@307..313
        Int32Keyword@307..312 "int32"
        Whitespace@312..313 " "
      BLOCK@313..331
        LBrace@313..314 "{"
        Whitespace@314..323 "\n        "
        EXPR_INT@323..329
          Int@323..324 "7"
          Whitespace@324..329 "\n    "
        RBrace@329..330 "}"
        Whitespace@330..331 "\n"
    RBrace@331..332 "}"
    Whitespace@332..334 "\n\n"
  FN@334..518
    FnKeyword@334..336 "fn"
    Whitespace@336..337 " "
    Ident@337..341 "main"
    PARAM_LIST@341..344
      LParen@341..342 "("
      RParen@342..343 ")"
      Whitespace@343..344 " "
    Arrow@344..346 "->"
    Whitespace@346..347 " "
    TYPE_UNIT@347..352
      UnitKeyword@347..351 "unit"
      Whitespace@351..352 " "
    BLOCK@352..518
      LBrace@352..353 "{"
      Whitespace@353..358 "\n    "
      STMT_LET@358..418
        LetKeyword@358..361 "let"
        Whitespace@361..362 " "
        PATTERN_VARIABLE@362..366
          Ident@362..366 "text"
        Colon@366..367 ":"
        Whitespace@367..368 " "
        TYPE_STRING@368..375
          StringKeyword@368..374 "string"
          Whitespace@374..375 " "
        Eq@375..376 "="
        Whitespace@376..377 " "
        EXPR_CALL@377..412
          EXPR_IDENT@377..402
            TYPE_TAPP@377..393
              PATH@377..384
                Ident@377..384 "Convert"
              ColonColon@384..386 "::"
              TYPE_PARAM_LIST@386..393
                LBracket@386..387 "["
                TYPE_INT32@387..392
                  Int32Keyword@387..392 "int32"
                RBracket@392..393 "]"
            ColonColon@393..395 "::"
            PATH@395..402
              Ident@395..402 "convert"
          ARG_LIST@402..412
            LParen@402..403 "("
            ARG@403..411
              EXPR_STRUCT_LITERAL@403..411
                PATH@403..409
                  Ident@403..408 "Value"
                  Whitespace@408..409 " "
                STRUCT_LITERAL_FIELD_LIST@409..411
                  LBrace@409..410 "{"
                  RBrace@410..411 "}"
            RParen@411..412 ")"
        Semi@412..413 ";"
        Whitespace@413..418 "\n    "
      STMT_LET@418..480
        LetKeyword@418..421 "let"
        Whitespace@421..422 " "
        PATTERN_VARIABLE@422..428
          Ident@422..428 "number"
        Colon@428..429 ":"
        Whitespace@429..430 " "
        TYPE_INT32@430..436
          Int32Keyword@430..435 "int32"
          Whitespace@435..436 " "
        Eq@436..437 "="
        Whitespace@437..438 " "
        EXPR_CALL@438..474
          EXPR_IDENT@438..464
            TYPE_TAPP@438..455
              PATH@438..445
                Ident@438..445 "Convert"
              ColonColon@445..447 "::"
              TYPE_PARAM_LIST@447..455
                LBracket@447..448 "["
                TYPE_STRING@448..454
                  StringKeyword@448..454 "string"
                RBracket@454..455 "]"
            ColonColon@455..457 "::"
            PATH@457..464
              Ident@457..464 "convert"
          ARG_LIST@464..474
            LParen@464..465 "("
            ARG@465..473
              EXPR_STRUCT_LITERAL@465..473
                PATH@465..471
                  Ident@465..470 "Value"
                  Whitespace@470..471 " "
                STRUCT_LITERAL_FIELD_LIST@471..473
                  LBrace@471..472 "{"
                  RBrace@472..473 "}"
            RParen@473..474 ")"
        Semi@474..475 ";"
        Whitespace@475..480 "\n    "
      STMT_EXPR@480..499
        EXPR_CALL@480..493
          EXPR_IDENT@480..487
            PATH@480..487
              Ident@480..487 "println"
          ARG_LIST@487..493
            LParen@487..488 "("
            ARG@488..492
              EXPR_IDENT@488..492
                PATH@488..492
                  Ident@488..492 "text"
            RParen@492..493 ")"
        Semi@493..494 ";"
        Whitespace@494..499 "\n    "
      STMT_EXPR@499..516
        EXPR_CALL@499..514
          EXPR_IDENT@499..506
            PATH@499..506
              Ident@499..506 "println"
          ARG_LIST@506..514
            LParen@506..507 "("
            ARG@507..513
              EXPR_IDENT@507..513
                PATH@507..513
                  Ident@507..513 "number"
            RParen@513..514 ")"
        Semi@514..515 ";"
        Whitespace@515..516 "\n"
      RBrace@516..517 "}"
      Whitespace@517..518 "\n"