FILE@0..619
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..15 " "
    STRUCT_FIELD_LIST@15..37
      STRUCT_FIELD@15..23
        Ident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT32@18..23
          Int32Keyword@18..23 "int32"
      Comma@23..24 ","
      Whitespace@24..25 " "
      STRUCT_FIELD@25..34
        Ident@25..26 "y"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..34
          Int32Keyword@28..33 "int32"
          Whitespace@33..34 " "
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  STRUCT@37..66
    StructKeyword@37..43 "struct"
    Whitespace@43..44 " "
    Ident@44..48 "Flag"
    Whitespace@48..49 " "
    LBrace@49..50 "{"
    Whitespace@50..51 " "
    STRUCT_FIELD_LIST@51..66
      STRUCT_FIELD@51..63
        Ident@51..56 "value"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_BOOL@58..63
          BoolKeyword@58..62 "bool"
          Whitespace@62..63 " "
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  TRAIT@66..114
    TraitKeyword@66..71 "trait"
    Whitespace@71..72 " "
    Ident@72..79 "Display"
    Whitespace@79..80 " "
    LBrace@80..81 "{"
    Whitespace@81..86 "\n    "
    TRAIT_METHOD_SIG_LIST@86..114
      TRAIT_METHOD_SIG@86..109
        FnKeyword@86..88 "fn"
        Whitespace@88..89 " "
        Ident@89..93 "show"
        TYPE_LIST@93..100
          LParen@93..94 "("
          TYPE_TAPP@94..98
            PATH@94..98
              Ident@94..98 "Self"
          RParen@98..99 ")"
          Whitespace@99..100 " "
        Arrow@100..102 "->"
        Whitespace@102..103 " "
        TYPE_STRING@103..109
          StringKeyword@103..109 "string"
      Semi@109..110 ";"
      Whitespace@110..111 "\n"
      RBrace@111..112 "}"
      Whitespace@112..114 "\n\n"
  IMPL@114..260
    ImplKeyword@114..118 "impl"
    Whitespace@118..119 " "
    PATH@119..127
      Ident@119..126 "Display"
      Whitespace@126..127 " "
    ForKeyword@127..130 "for"
    Whitespace@130..131 " "
    TYPE_TAPP@131..137
      PATH@131..137
        Ident@131..136 "Point"
        Whitespace@136..137 " "
    LBrace@137..138 "{"
    Whitespace@138..143 "\n    "
    FN@143..257
      FnKeyword@143..145 "fn"
      Whitespace@145..146 " "
      Ident@146..150 "show"
      PARAM_LIST@150..164
        LParen@150..151 "("
        PARAM@151..162
          Ident@151..155 "self"
          Colon@155..156 ":"
          Whitespace@156..157 " "
          TYPE_TAPP@157..162
            PATH@157..162
              Ident@157..162 "Point"
        RParen@162..163 ")"
        Whitespace@163..164 " "
      Arrow@164..166 "->"
      Whitespace@166..167 " "
      TYPE_STRING@167..174
        StringKeyword@167..173 "string"
        Whitespace@173..174 " "
      BLOCK@174..257
        LBrace@174..175 "{"
        Whitespace@175..184 "\n        "
        EXPR_BINARY@184..255
          EXPR_BINARY@184..245
            EXPR_BINARY@184..222
              EXPR_BINARY@184..216
                EXPR_STR@184..193
                  Str@184..192 "\"Point(\""
                  Whitespace@192..193 " "
                Plus@193..194 "+"
                Whitespace@194..195 " "
                EXPR_CALL@195..216
                  EXPR_BINARY@195..213
                    EXPR_PAREN@195..203
                      LParen@195..196 "("
                      EXPR_BINARY@196..202
                        EXPR_IDENT@196..200
                          PATH@196..200
                            Ident@196..200 "self"
                        Dot@200..201 "."
                        EXPR_IDENT@201..202
                          PATH@201..202
                            Ident@201..202 "x"
                      RParen@202..203 ")"
                    Dot@203..204 "."
                    EXPR_IDENT@204..213
                      PATH@204..213
                        Ident@204..213 "to_string"
                  ARG_LIST@213..216
                    LParen@213..214 "("
                    RParen@214..215 ")"
                    Whitespace@215..216 " "
              Plus@216..217 "+"
              Whitespace@217..218 " "
              EXPR_STR@218..222
                Str@218..221 "\",\""
                Whitespace@221..222 " "
            Plus@222..223 "+"
            Whitespace@223..224 " "
            EXPR_CALL@224..245
              EXPR_BINARY@224..242
                EXPR_PAREN@224..232
                  LParen@224..225 "("
                  EXPR_BINARY@225..231
                    EXPR_IDENT@225..229
                      PATH@225..229
                        Ident@225..229 "self"
                    Dot@229..230 "."
                    EXPR_IDENT@230..231
                      PATH@230..231
                        Ident@230..231 "y"
                  RParen@231..232 ")"
                Dot@232..233 "."
                EXPR_IDENT@233..242
                  PATH@233..242
                    Ident@233..242 "to_string"
              ARG_LIST@242..245
                LParen@242..243 "("
                RParen@243..244 ")"
                Whitespace@244..245 " "
          Plus@245..246 "+"
          Whitespace@246..247 " "
          EXPR_STR@247..255
            Str@247..250 "\")\""
            Whitespace@250..255 "\n    "
        RBrace@255..256 "}"
        Whitespace@256..257 "\n"
    RBrace@257..258 "}"
    Whitespace@258..260 "\n\n"
  IMPL@260..391
    ImplKeyword@260..264 "impl"
    Whitespace@264..265 " "
    PATH@265..273
      Ident@265..272 "Display"
      Whitespace@272..273 " "
    ForKeyword@273..276 "for"
    Whitespace@276..277 " "
    TYPE_TAPP@277..282
      PATH@277..282
        Ident@277..281 "Flag"
        Whitespace@281..282 " "
    LBrace@282..283 "{"
    Whitespace@283..288 "\n    "
    FN@288..388
      FnKeyword@288..290 "fn"
      Whitespace@290..291 " "
      Ident@291..295 "show"
      PARAM_LIST@295..308
        LParen@295..296 "("
        PARAM@296..306
          Ident@296..300 "self"
          Colon@300..301 ":"
          Whitespace@301..302 " "
          TYPE_TAPP@302..306
            PATH@302..306
              Ident@302..306 "Flag"
        RParen@306..307 ")"
        Whitespace@307..308 " "
      Arrow@308..310 "->"
      Whitespace@310..311 " "
      TYPE_STRING@311..318
        StringKeyword@311..317 "string"
        Whitespace@317..318 " "
      BLOCK@318..388
        LBrace@318..319 "{"
        Whitespace@319..328 "\n        "
        EXPR_IF@328..386
          IfKeyword@328..330 "if"
          Whitespace@330..331 " "
          EXPR_IF_COND@331..342
            EXPR_BINARY@331..342
              EXPR_IDENT@331..335
                PATH@331..335
                  Ident@331..335 "self"
              Dot@335..336 "."
              EXPR_IDENT@336..342
                PATH@336..342
                  Ident@336..341 "value"
                  Whitespace@341..342 " "
          EXPR_IF_THEN@342..359
            BLOCK@342..359
              LBrace@342..343 "{"
              Whitespace@343..344 " "
              EXPR_STR@344..357
                Str@344..356 "\"Flag(true)\""
                Whitespace@356..357 " "
              RBrace@357..358 "}"
              Whitespace@358..359 " "
          ElseKeyword@359..363 "else"
          Whitespace@363..364 " "
          EXPR_IF_ELSE@364..386
            BLOCK@364..386
              LBrace@364..365 "{"
              Whitespace@365..366 " "
              EXPR_STR@366..380
                Str@366..379 "\"Flag(false)\""
                Whitespace@379..380 " "
              RBrace@380..381 "}"
              Whitespace@381..386 "\n    "
        RBrace@386..387 "}"
        Whitespace@387..388 "\n"
    RBrace@388..389 "}"
    Whitespace@389..391 "\n\n"
  FN@391..619
    FnKeyword@391..393 "fn"
    Whitespace@393..394 " "
    Ident@394..398 "main"
    PARAM_LIST@398..401
      LParen@398..399 "("
      RParen@399..400 ")"
      Whitespace@400..401 " "
    BLOCK@401..619
      LBrace@401..402 "{"
      Whitespace@402..407 "\n    "
      STMT_LET@407..441
        LetKeyword@407..410 "let"
        Whitespace@410..411 " "
        PATTERN_VARIABLE@411..413
          Ident@411..412 "p"
          Whitespace@412..413 " "
        Eq@413..414 "="
        Whitespace@414..415 " "
        EXPR_STRUCT_LITERAL@415..435
          PATH@415..421
            Ident@415..420 "Point"
            Whitespace@420..421 " "
          STRUCT_LITERAL_FIELD_LIST@421..435
            LBrace@421..422 "{"
            Whitespace@422..423 " "
            STRUCT_LITERAL_FIELD@423..427
              Ident@423..424 "x"
              Colon@424..425 ":"
              Whitespace@425..426 " "
              EXPR_INT@426..427
                Int@426..427 "1"
            Comma@427..428 ","
            Whitespace@428..429 " "
            STRUCT_LITERAL_FIELD@429..434
              Ident@429..430 "y"
              Colon@430..431 ":"
              Whitespace@431..432 " "
              EXPR_INT@432..434
                Int@432..433 "2"
                Whitespace@433..434 " "
            RBrace@434..435 "}"
        Semi@435..436 ";"
        Whitespace@436..441 "\n    "
      STMT_LET@441..475
        LetKeyword@441..444 "let"
        Whitespace@444..445 " "
        PATTERN_VARIABLE@445..447
          Ident@445..446 "t"
          Whitespace@446..447 " "
        Eq@447..448 "="
        Whitespace@448..449 " "
        EXPR_STRUCT_LITERAL@449..469
          PATH@449..454
            Ident@449..453 "Flag"
            Whitespace@453..454 " "
          STRUCT_LITERAL_FIELD_LIST@454..469
            LBrace@454..455 "{"
            Whitespace@455..456 " "
            STRUCT_LITERAL_FIELD@456..468
              Ident@456..461 "value"
              Colon@461..462 ":"
              Whitespace@462..463 " "
              EXPR_BOOL@463..468
                TrueKeyword@463..467 "true"
                Whitespace@467..468 " "
            RBrace@468..469 "}"
        Semi@469..470 ";"
        Whitespace@470..475 "\n    "
      STMT_LET@475..504
        LetKeyword@475..478 "let"
        Whitespace@478..479 " "
        PATTERN_VARIABLE@479..481
          Ident@479..481 "dp"
        Colon@481..482 ":"
        Whitespace@482..483 " "
        TYPE_DYN@483..495
          DynKeyword@483..486 "dyn"
          Whitespace@486..487 " "
          PATH@487..495
            Ident@487..494 "Display"
            Whitespace@494..495 " "
        Eq@495..496 "="
        Whitespace@496..497 " "
        EXPR_IDENT@497..498
          PATH@497..498
            Ident@497..498 "p"
        Semi@498..499 ";"
        Whitespace@499..504 "\n    "
      STMT_LET@504..533
        LetKeyword@504..507 "let"
        Whitespace@507..508 " "
        PATTERN_VARIABLE@508..510
          Ident@508..510 "dt"
        Colon@510..511 ":"
        Whitespace@511..512 " "
        TYPE_DYN@512..524
          DynKeyword@512..515 "dyn"
          Whitespace@515..516 " "
          PATH@516..524
            Ident@516..523 "Display"
            Whitespace@523..524 " "
        Eq@524..525 "="
        Whitespace@525..526 " "
        EXPR_IDENT@526..527
          PATH@526..527
            Ident@526..527 "t"
        Semi@527..528 ";"
        Whitespace@528..533 "\n    "
      STMT_LET@533..573
        LetKeyword@533..536 "let"
        Whitespace@536..537 " "
        PATTERN_WILDCARD@537..539
          WildcardKeyword@537..538 "_"
          Whitespace@538..539 " "
        Eq@539..540 "="
        Whitespace@540..541 " "
        EXPR_CALL@541..567
          EXPR_IDENT@541..548
            PATH@541..548
              Ident@541..548 "println"
          ARG_LIST@548..567
            LParen@548..549 "("
            ARG@549..566
              EXPR_CALL@549..566
                EXPR_IDENT@549..562
                  PATH@549..562
                    Ident@549..556 "Display"
                    ColonColon@556..558 "::"
                    Ident@558..562 "show"
                ARG_LIST@562..566
                  LParen@562..563 "("
                  ARG@563..565
                    EXPR_IDENT@563..565
                      PATH@563..565
                        Ident@563..565 "dp"
                  RParen@565..566 ")"
            RParen@566..567 ")"
        Semi@567..568 ";"
        Whitespace@568..573 "\n    "
      STMT_LET@573..613
        LetKeyword@573..576 "let"
        Whitespace@576..577 " "
        PATTERN_WILDCARD@577..579
          WildcardKeyword@577..578 "_"
          Whitespace@578..579 " "
        Eq@579..580 "="
        Whitespace@580..581 " "
        EXPR_CALL@581..607
          EXPR_IDENT@581..588
            PATH@581..588
              Ident@581..588 "println"
          ARG_LIST@588..607
            LParen@588..589 "("
            ARG@589..606
              EXPR_CALL@589..606
                EXPR_IDENT@589..602
                  PATH@589..602
                    Ident@589..596 "Display"
                    ColonColon@596..598 "::"
                    Ident@598..602 "show"
                ARG_LIST@602..606
                  LParen@602..603 "("
                  ARG@603..605
                    EXPR_IDENT@603..605
                      PATH@603..605
                        Ident@603..605 "dt"
                  RParen@605..606 ")"
            RParen@606..607 ")"
        Semi@607..608 ";"
        Whitespace@608..613 "\n    "
      EXPR_UNIT@613..616
        LParen@613..614 "("
        RParen@614..615 ")"
        Whitespace@615..616 "\n"
      RBrace@616..617 "}"
      Whitespace@617..619 "\n\n"