FILE@0..383
  TRAIT@0..49
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..49
      TRAIT_METHOD_SIG@19..44
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "format"
        TYPE_LIST@28..35
          LParen@28..29 "("
          TYPE_TAPP@29..33
            PATH@29..33
              Ident@29..33 "Self"
          RParen@33..34 ")"
          Whitespace@34..35 " "
        Arrow@35..37 "->"
        Whitespace@37..38 " "
        TYPE_STRING@38..44
          StringKeyword@38..44 "string"
      Semi@44..45 ";"
      Whitespace@45..46 "\n"
      RBrace@46..47 "}"
      Whitespace@47..49 "\n\n"
  STRUCT@49..85
    StructKeyword@49..55 "struct"
    Whitespace@55..56 " "
    Ident@56..61 "Boxed"
    Whitespace@61..62 " "
    LBrace@62..63 "{"
    Whitespace@63..68 "\n    "
    STRUCT_FIELD_LIST@68..85
      STRUCT_FIELD@68..80
        Ident@68..73 "value"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_INT32@75..80
          Int32Keyword@75..80 "int32"
      Comma@80..81 ","
      Whitespace@81..82 "\n"
      RBrace@82..83 "}"
      Whitespace@83..85 "\n\n"
  IMPL@85..164
    ImplKeyword@85..89 "impl"
    Whitespace@89..90 " "
    TYPE_TAPP@90..96
      PATH@90..96
        Ident@90..95 "Boxed"
        Whitespace@95..96 " "
    LBrace@96..97 "{"
    Whitespace@97..102 "\n    "
    FN@102..161
      FnKeyword@102..104 "fn"
      Whitespace@104..105 " "
      Ident@105..111 "format"
      PARAM_LIST@111..124
        LParen@111..112 "("
        PARAM@112..122
          Ident@112..116 "self"
          Colon@116..117 ":"
          Whitespace@117..118 " "
          TYPE_TAPP@118..122
            PATH@118..122
              Ident@118..122 "Self"
        RParen@122..123 ")"
        Whitespace@123..124 " "
      Arrow@124..126 "->"
      Whitespace@126..127 " "
      TYPE_STRING@127..134
        StringKeyword@127..133 "string"
        Whitespace@133..134 " "
      BLOCK@134..161
        LBrace@134..135 "{"
        Whitespace@135..144 "\n        "
        EXPR_STR@144..159
          Str@144..154 "\"inherent\""
          Whitespace@154..159 "\n    "
        RBrace@159..160 "}"
        Whitespace@160..161 "\n"
    RBrace@161..162 "}"
    Whitespace@162..164 "\n\n"
  IMPL@164..272
    ImplKeyword@164..168 "impl"
    Whitespace@168..169 " "
    PATH@169..176
      Ident@169..175 "Render"
      Whitespace@175..176 " "
    ForKeyword@176..179 "for"
    Whitespace@179..180 " "
    TYPE_TAPP@180..186
      PATH@180..186
        Ident@180..185 "Boxed"
        Whitespace@185..186 " "
    LBrace@186..187 "{"
    Whitespace@187..192 "\n    "
    FN@192..269
      FnKeyword@192..194 "fn"
      Whitespace@194..195 " "
      Ident@195..201 "format"
      PARAM_LIST@201..215
        LParen@201..202 "("
        PARAM@202..213
          Ident@202..206 "self"
          Colon@206..207 ":"
          Whitespace@207..208 " "
          TYPE_TAPP@208..213
            PATH@208..213
              Ident@208..213 "Boxed"
        RParen@213..214 ")"
        Whitespace@214..215 " "
      Arrow@215..217 "->"
      Whitespace@217..218 " "
      TYPE_STRING@218..225
        StringKeyword@218..224 "string"
        Whitespace@224..225 " "
      BLOCK@225..269
        LBrace@225..226 "{"
        Whitespace@226..235 "\n        "
        EXPR_CALL@235..267
          EXPR_IDENT@235..250
            PATH@235..250
              Ident@235..250 "int32_to_string"
          ARG_LIST@250..267
            LParen@250..251 "("
            ARG@251..261
              EXPR_BINARY@251..261
                EXPR_IDENT@251..255
                  PATH@251..255
                    Ident@251..255 "self"
                Dot@255..256 "."
                EXPR_IDENT@256..261
                  PATH@256..261
                    Ident@256..261 "value"
            RParen@261..262 ")"
            Whitespace@262..267 "\n    "
        RBrace@267..268 "}"
        Whitespace@268..269 "\n"
    RBrace@269..270 "}"
    Whitespace@270..272 "\n\n"
  FN@272..383
    FnKeyword@272..274 "fn"
    Whitespace@274..275 " "
    Ident@275..279 "main"
    PARAM_LIST@279..282
      LParen@279..280 "("
      RParen@280..281 ")"
      Whitespace@281..282 " "
    BLOCK@282..383
      LBrace@282..283 "{"
      Whitespace@283..288 "\n    "
      STMT_EXPR@288..336
        EXPR_CALL@288..330
          EXPR_IDENT@288..295
            PATH@288..295
              Ident@288..295 "println"
          ARG_LIST@295..330
            LParen@295..296 "("
            ARG@296..329
              EXPR_CALL@296..329
                EXPR_IDENT@296..309
                  PATH@296..309
                    Ident@296..301 "Boxed"
                    ColonColon@301..303 "::"
                    Ident@303..309 "format"
                ARG_LIST@309..329
                  LParen@309..310 "("
                  ARG@310..328
                    EXPR_STRUCT_LITERAL@310..328
                      PATH@310..316
                        Ident@310..315 "Boxed"
                        Whitespace@315..316 " "
                      STRUCT_LITERAL_FIELD_LIST@316..328
                        LBrace@316..317 "{"
                        Whitespace@317..318 " "
                        STRUCT_LITERAL_FIELD@318..327
                          Ident@318..323 "value"
                          Colon@323..324 ":"
                          Whitespace@324..325 " "
                          EXPR_INT@325..327
                            Int@325..326 "9"
                            Whitespace@326..327 " "
                        RBrace@327..328 "}"
                  RParen@328..329 ")"
            RParen@329..330 ")"
        Semi@330..331 ";"
        Whitespace@331..336 "\n    "
      STMT_EXPR@336..381
        EXPR_CALL@336..379
          EXPR_IDENT@336..343
            PATH@336..343
              Ident@336..343 "println"
          ARG_LIST@343..379
            LParen@343..344 "("
            ARG@344..378
              EXPR_CALL@344..378
                EXPR_IDENT@344..358
                  PATH@344..358
                    Ident@344..350 "Render"
                    ColonColon@350..352 "::"
                    Ident@352..358 "format"
                ARG_LIST@358..378
                  LParen@358..359 "("
                  ARG@359..377
                    EXPR_STRUCT_LITERAL@359..377
                      PATH@359..365
                        Ident@359..364 "Boxed"
                        Whitespace@364..365 " "
                      STRUCT_LITERAL_FIELD_LIST@365..377
                        LBrace@365..366 "{"
                        Whitespace@366..367 " "
                        STRUCT_LITERAL_FIELD@367..376
                          Ident@367..372 "value"
                          Colon@372..373 ":"
                          Whitespace@373..374 " "
                          EXPR_INT@374..376
                            Int@374..375 "9"
                            Whitespace@375..376 " "
                        RBrace@376..377 "}"
                  RParen@377..378 ")"
            RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..381 "\n"
      RBrace@381..382 "}"
      Whitespace@382..383 "\n"