FILE@0..378
  TRAIT@0..49
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..49
      TRAIT_METHOD_SIG@19..44
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "format"
        TYPE_LIST@28..35
          LParen@28..29 "("
          TYPE_TAPP@29..33
            PATH@29..33
              Ident@29..33 "Self"
          RParen@33..34 ")"
          Whitespace@34..35 " "
        Arrow@35..37 "->"
        Whitespace@37..38 " "
        TYPE_STRING@38..44
          StringKeyword@38..44 "string"
      Semi@44..45 ";"
      Whitespace@45..46 "\n"
      RBrace@46..47 "}"
      Whitespace@47..49 "\n\n"
  STRUCT@49..85
    StructKeyword@49..55 "struct"
    Whitespace@55..56 " "
    Ident@56..61 "Boxed"
    Whitespace@61..62 " "
    LBrace@62..63 "{"
    Whitespace@63..68 "\n    "
    STRUCT_FIELD_LIST@68..85
      STRUCT_FIELD@68..80
        Ident@68..73 "value"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_INT32@75..80
          Int32Keyword@75..80 "int32"
      Comma@80..81 ","
      Whitespace@81..82 "\n"
      RBrace@82..83 "}"
      Whitespace@83..85 "\n\n"
  IMPL@85..164
    ImplKeyword@85..89 "impl"
    Whitespace@89..90 " "
    TYPE_TAPP@90..96
      PATH@90..96
        Ident@90..95 "Boxed"
        Whitespace@95..96 " "
    LBrace@96..97 "{"
    Whitespace@97..102 "\n    "
    FN@102..161
      FnKeyword@102..104 "fn"
      Whitespace@104..105 " "
      Ident@105..111 "format"
      PARAM_LIST@111..124
        LParen@111..112 "("
        PARAM@112..122
          Ident@112..116 "self"
          Colon@116..117 ":"
          Whitespace@117..118 " "
          TYPE_TAPP@118..122
            PATH@118..122
              Ident@118..122 "Self"
        RParen@122..123 ")"
        Whitespace@123..124 " "
      Arrow@124..126 "->"
      Whitespace@126..127 " "
      TYPE_STRING@127..134
        StringKeyword@127..133 "string"
        Whitespace@133..134 " "
      BLOCK@134..161
        LBrace@134..135 "{"
        Whitespace@135..144 "\n        "
        EXPR_STR@144..159
          Str@144..154 "\"inherent\""
          Whitespace@154..159 "\n    "
        RBrace@159..160 "}"
        Whitespace@160..161 "\n"
    RBrace@161..162 "}"
    Whitespace@162..164 "\n\n"
  IMPL@164..267
    ImplKeyword@164..168 "impl"
    Whitespace@168..169 " "
    PATH@169..176
      Ident@169..175 "Render"
      Whitespace@175..176 " "
    ForKeyword@176..179 "for"
    Whitespace@179..180 " "
    TYPE_TAPP@180..186
      PATH@180..186
        Ident@180..185 "Boxed"
        Whitespace@185..186 " "
    LBrace@186..187 "{"
    Whitespace@187..192 "\n    "
    FN@192..264
      FnKeyword@192..194 "fn"
      Whitespace@194..195 " "
      Ident@195..201 "format"
      PARAM_LIST@201..215
        LParen@201..202 "("
        PARAM@202..213
          Ident@202..206 "self"
          Colon@206..207 ":"
          Whitespace@207..208 " "
          TYPE_TAPP@208..213
            PATH@208..213
              Ident@208..213 "Boxed"
        RParen@213..214 ")"
        Whitespace@214..215 " "
      Arrow@215..217 "->"
      Whitespace@217..218 " "
      TYPE_STRING@218..225
        StringKeyword@218..224 "string"
        Whitespace@224..225 " "
      BLOCK@225..264
        LBrace@225..226 "{"
        Whitespace@226..235 "\n        "
        EXPR_CALL@235..262
          EXPR_BINARY@235..255
            EXPR_BINARY@235..245
              EXPR_IDENT@235..239
                PATH@235..239
                  Ident@235..239 "self"
              Dot@239..240 "."
              EXPR_IDENT@240..245
                PATH@240..245
                  Ident@240..245 "value"
            Dot@245..246 "."
            EXPR_IDENT@246..255
              PATH@246..255
                Ident@246..255 "to_string"
          ARG_LIST@255..262
            LParen@255..256 "("
            RParen@256..257 ")"
            Whitespace@257..262 "\n    "
        RBrace@262..263 "}"
        Whitespace@263..264 "\n"
    RBrace@264..265 "}"
    Whitespace@265..267 "\n\n"
  FN@267..378
    FnKeyword@267..269 "fn"
    Whitespace@269..270 " "
    Ident@270..274 "main"
    PARAM_LIST@274..277
      LParen@274..275 "("
      RParen@275..276 ")"
      Whitespace@276..277 " "
    BLOCK@277..378
      LBrace@277..278 "{"
      Whitespace@278..283 "\n    "
      STMT_EXPR@283..331
        EXPR_CALL@283..325
          EXPR_IDENT@283..290
            PATH@283..290
              Ident@283..290 "println"
          ARG_LIST@290..325
            LParen@290..291 "("
            ARG@291..324
              EXPR_CALL@291..324
                EXPR_IDENT@291..304
                  PATH@291..304
                    Ident@291..296 "Boxed"
                    ColonColon@296..298 "::"
                    Ident@298..304 "format"
                ARG_LIST@304..324
                  LParen@304..305 "("
                  ARG@305..323
                    EXPR_STRUCT_LITERAL@305..323
                      PATH@305..311
                        Ident@305..310 "Boxed"
                        Whitespace@310..311 " "
                      STRUCT_LITERAL_FIELD_LIST@311..323
                        LBrace@311..312 "{"
                        Whitespace@312..313 " "
                        STRUCT_LITERAL_FIELD@313..322
                          Ident@313..318 "value"
                          Colon@318..319 ":"
                          Whitespace@319..320 " "
                          EXPR_INT@320..322
                            Int@320..321 "9"
                            Whitespace@321..322 " "
                        RBrace@322..323 "}"
                  RParen@323..324 ")"
            RParen@324..325 ")"
        Semi@325..326 ";"
        Whitespace@326..331 "\n    "
      STMT_EXPR@331..376
        EXPR_CALL@331..374
          EXPR_IDENT@331..338
            PATH@331..338
              Ident@331..338 "println"
          ARG_LIST@338..374
            LParen@338..339 "("
            ARG@339..373
              EXPR_CALL@339..373
                EXPR_IDENT@339..353
                  PATH@339..353
                    Ident@339..345 "Render"
                    ColonColon@345..347 "::"
                    Ident@347..353 "format"
                ARG_LIST@353..373
                  LParen@353..354 "("
                  ARG@354..372
                    EXPR_STRUCT_LITERAL@354..372
                      PATH@354..360
                        Ident@354..359 "Boxed"
                        Whitespace@359..360 " "
                      STRUCT_LITERAL_FIELD_LIST@360..372
                        LBrace@360..361 "{"
                        Whitespace@361..362 " "
                        STRUCT_LITERAL_FIELD@362..371
                          Ident@362..367 "value"
                          Colon@367..368 ":"
                          Whitespace@368..369 " "
                          EXPR_INT@369..371
                            Int@369..370 "9"
                            Whitespace@370..371 " "
                        RBrace@371..372 "}"
                  RParen@372..373 ")"
            RParen@373..374 ")"
        Semi@374..375 ";"
        Whitespace@375..376 "\n"
      RBrace@376..377 "}"
      Whitespace@377..378 "\n"