FILE@0..469
  ENUM@0..42
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Maybe"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    VARIANT_LIST@20..42
      VARIANT@20..24
        Ident@20..24 "None"
      Comma@24..25 ","
      Whitespace@25..30 "\n    "
      VARIANT@30..37
        Ident@30..34 "Some"
        TYPE_LIST@34..37
          LParen@34..35 "("
          ENUM_TUPLE_FIELD@35..36
            TYPE_TAPP@35..36
              PATH@35..36
                Ident@35..36 "T"
          RParen@36..37 ")"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  IMPL@42..265
    ImplKeyword@42..46 "impl"
    GENERIC_LIST@46..50
      LBracket@46..47 "["
      GENERIC@47..48
        Ident@47..48 "T"
      RBracket@48..49 "]"
      Whitespace@49..50 " "
    TYPE_TAPP@50..59
      PATH@50..55
        Ident@50..55 "Maybe"
      TYPE_PARAM_LIST@55..59
        LBracket@55..56 "["
        TYPE_TAPP@56..57
          PATH@56..57
            Ident@56..57 "T"
        RBracket@57..58 "]"
        Whitespace@58..59 " "
    LBrace@59..60 "{"
    Whitespace@60..65 "\n    "
    FN@65..262
      FnKeyword@65..67 "fn"
      Whitespace@67..68 " "
      Ident@68..71 "map"
      GENERIC_LIST@71..74
        LBracket@71..72 "["
        GENERIC@72..73
          Ident@72..73 "U"
        RBracket@73..74 "]"
      PARAM_LIST@74..109
        LParen@74..75 "("
        PARAM@75..91
          Ident@75..79 "self"
          Colon@79..80 ":"
          Whitespace@80..81 " "
          TYPE_TAPP@81..89
            PATH@81..86
              Ident@81..86 "Maybe"
            TYPE_PARAM_LIST@86..89
              LBracket@86..87 "["
              TYPE_TAPP@87..88
                PATH@87..88
                  Ident@87..88 "T"
              RBracket@88..89 "]"
          Comma@89..90 ","
          Whitespace@90..91 " "
        PARAM@91..107
          Ident@91..97 "map_fn"
          Colon@97..98 ":"
          Whitespace@98..99 " "
          TYPE_FUNC@99..107
            TYPE_TUPLE@99..103
              TYPE_LIST@99..103
                LParen@99..100 "("
                TYPE_TAPP@100..101
                  PATH@100..101
                    Ident@100..101 "T"
                RParen@101..102 ")"
                Whitespace@102..103 " "
            Arrow@103..105 "->"
            Whitespace@105..106 " "
            TYPE_TAPP@106..107
              PATH@106..107
                Ident@106..107 "U"
        RParen@107..108 ")"
        Whitespace@108..109 " "
      Arrow@109..111 "->"
      Whitespace@111..112 " "
      TYPE_TAPP@112..121
        PATH@112..117
          Ident@112..117 "Maybe"
        TYPE_PARAM_LIST@117..121
          LBracket@117..118 "["
          TYPE_TAPP@118..119
            PATH@118..119
              Ident@118..119 "U"
          RBracket@119..120 "]"
          Whitespace@120..121 " "
      BLOCK@121..262
        LBrace@121..122 "{"
        Whitespace@122..131 "\n        "
        EXPR_MATCH@131..260
          MatchKeyword@131..136 "match"
          Whitespace@136..137 " "
          EXPR_IDENT@137..142
            PATH@137..142
              Ident@137..141 "self"
              Whitespace@141..142 " "
          MATCH_ARM_LIST@142..260
            LBrace@142..143 "{"
            Whitespace@143..156 "\n            "
            MATCH_ARM@156..204
              PATTERN_CONSTR@156..175
                PATH@156..167
                  Ident@156..161 "Maybe"
                  ColonColon@161..163 "::"
                  Ident@163..167 "Some"
                LParen@167..168 "("
                PATTERN_VARIABLE@168..173
                  Ident@168..173 "value"
                RParen@173..174 ")"
                Whitespace@174..175 " "
              FatArrow@175..177 "=>"
              Whitespace@177..178 " "
              EXPR_CALL@178..204
                EXPR_IDENT@178..189
                  PATH@178..189
                    Ident@178..183 "Maybe"
                    ColonColon@183..185 "::"
                    Ident@185..189 "Some"
                ARG_LIST@189..204
                  LParen@189..190 "("
                  ARG@190..203
                    EXPR_CALL@190..203
                      EXPR_IDENT@190..196
                        PATH@190..196
                          Ident@190..196 "map_fn"
                      ARG_LIST@196..203
                        LParen@196..197 "("
                        ARG@197..202
                          EXPR_IDENT@197..202
                            PATH@197..202
                              Ident@197..202 "value"
                        RParen@202..203 ")"
                  RParen@203..204 ")"
            Comma@204..205 ","
            Whitespace@205..218 "\n            "
            MATCH_ARM@218..244
              PATTERN_CONSTR@218..230
                PATH@218..230
                  Ident@218..223 "Maybe"
                  ColonColon@223..225 "::"
                  Ident@225..229 "None"
                  Whitespace@229..230 " "
              FatArrow@230..232 "=>"
              Whitespace@232..233 " "
              EXPR_IDENT@233..244
                PATH@233..244
                  Ident@233..238 "Maybe"
                  ColonColon@238..240 "::"
                  Ident@240..244 "None"
            Comma@244..245 ","
            Whitespace@245..254 "\n        "
            RBrace@254..255 "}"
            Whitespace@255..260 "\n    "
        RBrace@260..261 "}"
        Whitespace@261..262 "\n"
    RBrace@262..263 "}"
    Whitespace@263..265 "\n\n"
  FN@265..469
    FnKeyword@265..267 "fn"
    Whitespace@267..268 " "
    Ident@268..272 "main"
    PARAM_LIST@272..275
      LParen@272..273 "("
      RParen@273..274 ")"
      Whitespace@274..275 " "
    BLOCK@275..469
      LBrace@275..276 "{"
      Whitespace@276..281 "\n    "
      STMT_LET@281..327
        LetKeyword@281..284 "let"
        Whitespace@284..285 " "
        PATTERN_VARIABLE@285..290
          Ident@285..290 "value"
        Colon@290..291 ":"
        Whitespace@291..292 " "
        TYPE_TAPP@292..305
          PATH@292..297
            Ident@292..297 "Maybe"
          TYPE_PARAM_LIST@297..305
            LBracket@297..298 "["
            TYPE_INT@298..303
              IsizeKeyword@298..303 "isize"
            RBracket@303..304 "]"
            Whitespace@304..305 " "
        Eq@305..306 "="
        Whitespace@306..307 " "
        EXPR_CALL@307..321
          EXPR_IDENT@307..318
            PATH@307..318
              Ident@307..312 "Maybe"
              ColonColon@312..314 "::"
              Ident@314..318 "Some"
          ARG_LIST@318..321
            LParen@318..319 "("
            ARG@319..320
              EXPR_INT@319..320
                Int@319..320 "3"
            RParen@320..321 ")"
        Semi@321..322 ";"
        Whitespace@322..327 "\n    "
      EXPR_MATCH@327..467
        MatchKeyword@327..332 "match"
        Whitespace@332..333 " "
        EXPR_CALL@333..375
          EXPR_BINARY@333..342
            EXPR_IDENT@333..338
              PATH@333..338
                Ident@333..338 "value"
            Dot@338..339 "."
            EXPR_IDENT@339..342
              PATH@339..342
                Ident@339..342 "map"
          ARG_LIST@342..375
            LParen@342..343 "("
            ARG@343..373
              EXPR_CLOSURE@343..373
                CLOSURE_PARAM_LIST@343..357
                  Pipe@343..344 "|"
                  CLOSURE_PARAM@344..355
                    Ident@344..348 "item"
                    Colon@348..349 ":"
                    Whitespace@349..350 " "
                    TYPE_INT@350..355
                      IsizeKeyword@350..355 "isize"
                  Pipe@355..356 "|"
                  Whitespace@356..357 " "
                EXPR_CLOSURE_BODY@357..373
                  EXPR_CALL@357..373
                    EXPR_BINARY@357..371
                      EXPR_IDENT@357..361
                        PATH@357..361
                          Ident@357..361 "item"
                      Dot@361..362 "."
                      EXPR_IDENT@362..371
                        PATH@362..371
                          Ident@362..371 "to_string"
                    ARG_LIST@371..373
                      LParen@371..372 "("
                      RParen@372..373 ")"
            RParen@373..374 ")"
            Whitespace@374..375 " "
        MATCH_ARM_LIST@375..467
          LBrace@375..376 "{"
          Whitespace@376..385 "\n        "
          MATCH_ARM@385..419
            PATTERN_CONSTR@385..403
              PATH@385..396
                Ident@385..390 "Maybe"
                ColonColon@390..392 "::"
                Ident@392..396 "Some"
              LParen@396..397 "("
              PATTERN_VARIABLE@397..401
                Ident@397..401 "text"
              RParen@401..402 ")"
              Whitespace@402..403 " "
            FatArrow@403..405 "=>"
            Whitespace@405..406 " "
            EXPR_CALL@406..419
              EXPR_IDENT@406..413
                PATH@406..413
                  Ident@406..413 "println"
              ARG_LIST@413..419
                LParen@413..414 "("
                ARG@414..418
                  EXPR_IDENT@414..418
                    PATH@414..418
                      Ident@414..418 "text"
                RParen@418..419 ")"
          Comma@419..420 ","
          Whitespace@420..429 "\n        "
          MATCH_ARM@429..459
            PATTERN_CONSTR@429..441
              PATH@429..441
                Ident@429..434 "Maybe"
                ColonColon@434..436 "::"
                Ident@436..440 "None"
                Whitespace@440..441 " "
            FatArrow@441..443 "=>"
            Whitespace@443..444 " "
            EXPR_CALL@444..459
              EXPR_IDENT@444..451
                PATH@444..451
                  Ident@444..451 "println"
              ARG_LIST@451..459
                LParen@451..452 "("
                ARG@452..458
                  EXPR_STR@452..458
                    Str@452..458 "\"none\""
                RParen@458..459 ")"
          Comma@459..460 ","
          Whitespace@460..465 "\n    "
          RBrace@465..466 "}"
          Whitespace@466..467 "\n"
      RBrace@467..468 "}"
      Whitespace@468..469 "\n"