FILE@0..514
  FN@0..338
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "find"
    PARAM_LIST@7..21
      LParen@7..8 "("
      PARAM@8..19
        Ident@8..14 "wanted"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_INT@16..19
          IntKeyword@16..19 "int"
      RParen@19..20 ")"
      Whitespace@20..21 " "
    Arrow@21..23 "->"
    Whitespace@23..24 " "
    TYPE_TAPP@24..36
      PATH@24..30
        Ident@24..30 "Option"
      TYPE_PARAM_LIST@30..36
        LBracket@30..31 "["
        TYPE_INT@31..34
          IntKeyword@31..34 "int"
        RBracket@34..35 "]"
        Whitespace@35..36 " "
    BLOCK@36..338
      LBrace@36..37 "{"
      Whitespace@37..42 "\n    "
      STMT_LET@42..73
        LetKeyword@42..45 "let"
        Whitespace@45..46 " "
        PATTERN_VARIABLE@46..54
          Ident@46..53 "current"
          Whitespace@53..54 " "
        Eq@54..55 "="
        Whitespace@55..56 " "
        EXPR_CALL@56..67
          EXPR_IDENT@56..64
            PATH@56..64
              Ident@56..59 "Ref"
              ColonColon@59..61 "::"
              Ident@61..64 "new"
          ARG_LIST@64..67
            LParen@64..65 "("
            ARG@65..66
              EXPR_INT@65..66
                Int@65..66 "0"
            RParen@66..67 ")"
        Semi@67..68 ";"
        Whitespace@68..73 "\n    "
      STMT_EXPR@73..322
        EXPR_LOOP@73..322
          LoopKeyword@73..77 "loop"
          Whitespace@77..78 " "
          BLOCK@78..322
            LBrace@78..79 "{"
            Whitespace@79..88 "\n        "
            STMT_LET@88..123
              LetKeyword@88..91 "let"
              Whitespace@91..92 " "
              PATTERN_VARIABLE@92..98
                Ident@92..97 "value"
                Whitespace@97..98 " "
              Eq@98..99 "="
              Whitespace@99..100 " "
              EXPR_CALL@100..113
                EXPR_BINARY@100..111
                  EXPR_IDENT@100..107
                    PATH@100..107
                      Ident@100..107 "current"
                  Dot@107..108 "."
                  EXPR_IDENT@108..111
                    PATH@108..111
                      Ident@108..111 "get"
                ARG_LIST@111..113
                  LParen@111..112 "("
                  RParen@112..113 ")"
              Semi@113..114 ";"
              Whitespace@114..123 "\n        "
            STMT_EXPR@123..316
              EXPR_IF@123..310
                IfKeyword@123..125 "if"
                Whitespace@125..126 " "
                EXPR_IF_COND@126..137
                  EXPR_BINARY@126..137
                    EXPR_IDENT@126..132
                      PATH@126..132
                        Ident@126..131 "value"
                        Whitespace@131..132 " "
                    GreaterEq@132..134 ">="
                    Whitespace@134..135 " "
                    EXPR_INT@135..137
                      Int@135..136 "5"
                      Whitespace@136..137 " "
                EXPR_IF_THEN@137..182
                  BLOCK@137..182
                    LBrace@137..138 "{"
                    Whitespace@138..151 "\n            "
                    STMT_EXPR@151..180
                      EXPR_RETURN@151..170
                        ReturnKeyword@151..157 "return"
                        Whitespace@157..158 " "
                        EXPR_IDENT@158..170
                          PATH@158..170
                            Ident@158..164 "Option"
                            ColonColon@164..166 "::"
                            Ident@166..170 "None"
                      Semi@170..171 ";"
                      Whitespace@171..180 "\n        "
                    RBrace@180..181 "}"
                    Whitespace@181..182 " "
                ElseKeyword@182..186 "else"
                Whitespace@186..187 " "
                EXPR_IF_ELSE@187..310
                  EXPR_IF@187..310
                    IfKeyword@187..189 "if"
                    Whitespace@189..190 " "
                    EXPR_IF_COND@190..206
                      EXPR_BINARY@190..206
                        EXPR_IDENT@190..196
                          PATH@190..196
                            Ident@190..195 "value"
                            Whitespace@195..196 " "
                        EqEq@196..198 "=="
                        Whitespace@198..199 " "
                        EXPR_IDENT@199..206
                          PATH@199..206
                            Ident@199..205 "wanted"
                            Whitespace@205..206 " "
                    EXPR_IF_THEN@206..258
                      BLOCK@206..258
                        LBrace@206..207 "{"
                        Whitespace@207..220 "\n            "
                        STMT_EXPR@220..256
                          EXPR_RETURN@220..246
                            ReturnKeyword@220..226 "return"
                            Whitespace@226..227 " "
                            EXPR_CALL@227..246
                              EXPR_IDENT@227..239
                                PATH@227..239
                                  Ident@227..233 "Option"
                                  ColonColon@233..235 "::"
                                  Ident@235..239 "Some"
                              ARG_LIST@239..246
                                LParen@239..240 "("
                                ARG@240..245
                                  EXPR_IDENT@240..245
                                    PATH@240..245
                                      Ident@240..245 "value"
                                RParen@245..246 ")"
                          Semi@246..247 ";"
                          Whitespace@247..256 "\n        "
                        RBrace@256..257 "}"
                        Whitespace@257..258 " "
                    ElseKeyword@258..262 "else"
                    Whitespace@262..263 " "
                    EXPR_IF_ELSE@263..310
                      BLOCK@263..310
                        LBrace@263..264 "{"
                        Whitespace@264..277 "\n            "
                        STMT_EXPR@277..309
                          EXPR_CALL@277..299
                            EXPR_BINARY@277..288
                              EXPR_IDENT@277..284
                                PATH@277..284
                                  Ident@277..284 "current"
                              Dot@284..285 "."
                              EXPR_IDENT@285..288
                                PATH@285..288
                                  Ident@285..288 "set"
                            ARG_LIST@288..299
                              LParen@288..289 "("
                              ARG@289..298
                                EXPR_BINARY@289..298
                                  EXPR_IDENT@289..295
                                    PATH@289..295
                                      Ident@289..294 "value"
                                      Whitespace@294..295 " "
                                  Plus@295..296 "+"
                                  Whitespace@296..297 " "
                                  EXPR_INT@297..298
                                    Int@297..298 "1"
                              RParen@298..299 ")"
                          Semi@299..300 ";"
                          Whitespace@300..309 "\n        "
                        RBrace@309..310 "}"
              Semi@310..311 ";"
              Whitespace@311..316 "\n    "
            RBrace@316..317 "}"
            Whitespace@317..322 "\n    "
      EXPR_IDENT@322..335
        PATH@322..335
          Ident@322..328 "Option"
          ColonColon@328..330 "::"
          Ident@330..334 "None"
          Whitespace@334..335 "\n"
      RBrace@335..336 "}"
      Whitespace@336..338 "\n\n"
  FN@338..450
    FnKeyword@338..340 "fn"
    Whitespace@340..341 " "
    Ident@341..344 "any"
    PARAM_LIST@344..358
      LParen@344..345 "("
      PARAM@345..356
        Ident@345..351 "wanted"
        Colon@351..352 ":"
        Whitespace@352..353 " "
        TYPE_INT@353..356
          IntKeyword@353..356 "int"
      RParen@356..357 ")"
      Whitespace@357..358 " "
    Arrow@358..360 "->"
    Whitespace@360..361 " "
    TYPE_BOOL@361..366
      BoolKeyword@361..365 "bool"
      Whitespace@365..366 " "
    BLOCK@366..450
      LBrace@366..367 "{"
      Whitespace@367..372 "\n    "
      EXPR_MATCH@372..447
        MatchKeyword@372..377 "match"
        Whitespace@377..378 " "
        EXPR_CALL@378..391
          EXPR_IDENT@378..382
            PATH@378..382
              Ident@378..382 "find"
          ARG_LIST@382..391
            LParen@382..383 "("
            ARG@383..389
              EXPR_IDENT@383..389
                PATH@383..389
                  Ident@383..389 "wanted"
            RParen@389..390 ")"
            Whitespace@390..391 " "
        MATCH_ARM_LIST@391..447
          LBrace@391..392 "{"
          Whitespace@392..401 "\n        "
          MATCH_ARM@401..416
            PATTERN_CONSTR@401..409
              PATH@401..405
                Ident@401..405 "Some"
              LParen@405..406 "("
              PATTERN_WILDCARD@406..407
                WildcardKeyword@406..407 "_"
              RParen@407..408 ")"
              Whitespace@408..409 " "
            FatArrow@409..411 "=>"
            Whitespace@411..412 " "
            EXPR_BOOL@412..416
              TrueKeyword@412..416 "true"
          Comma@416..417 ","
          Whitespace@417..426 "\n        "
          MATCH_ARM@426..439
            PATTERN_CONSTR@426..431
              PATH@426..431
                Ident@426..430 "None"
                Whitespace@430..431 " "
            FatArrow@431..433 "=>"
            Whitespace@433..434 " "
            EXPR_BOOL@434..439
              FalseKeyword@434..439 "false"
          Comma@439..440 ","
          Whitespace@440..445 "\n    "
          RBrace@445..446 "}"
          Whitespace@446..447 "\n"
      RBrace@447..448 "}"
      Whitespace@448..450 "\n\n"
  FN@450..514
    FnKeyword@450..452 "fn"
    Whitespace@452..453 " "
    Ident@453..457 "main"
    PARAM_LIST@457..460
      LParen@457..458 "("
      RParen@458..459 ")"
      Whitespace@459..460 " "
    Arrow@460..462 "->"
    Whitespace@462..463 " "
    TYPE_UNIT@463..468
      UnitKeyword@463..467 "unit"
      Whitespace@467..468 " "
    BLOCK@468..514
      LBrace@468..469 "{"
      Whitespace@469..474 "\n    "
      STMT_EXPR@474..495
        EXPR_CALL@474..489
          EXPR_IDENT@474..481
            PATH@474..481
              Ident@474..481 "println"
          ARG_LIST@481..489
            LParen@481..482 "("
            ARG@482..488
              EXPR_CALL@482..488
                EXPR_IDENT@482..485
                  PATH@482..485
                    Ident@482..485 "any"
                ARG_LIST@485..488
                  LParen@485..486 "("
                  ARG@486..487
                    EXPR_INT@486..487
                      Int@486..487 "3"
                  RParen@487..488 ")"
            RParen@488..489 ")"
        Semi@489..490 ";"
        Whitespace@490..495 "\n    "
      STMT_EXPR@495..512
        EXPR_CALL@495..510
          EXPR_IDENT@495..502
            PATH@495..502
              Ident@495..502 "println"
          ARG_LIST@502..510
            LParen@502..503 "("
            ARG@503..509
              EXPR_CALL@503..509
                EXPR_IDENT@503..506
                  PATH@503..506
                    Ident@503..506 "any"
                ARG_LIST@506..509
                  LParen@506..507 "("
                  ARG@507..508
                    EXPR_INT@507..508
                      Int@507..508 "8"
                  RParen@508..509 ")"
            RParen@509..510 ")"
        Semi@510..511 ";"
        Whitespace@511..512 "\n"
      RBrace@512..513 "}"
      Whitespace@513..514 "\n"