FILE@0..520
  FN@0..342
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "find"
    PARAM_LIST@7..23
      LParen@7..8 "("
      PARAM@8..21
        Ident@8..14 "wanted"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_INT@16..21
          IsizeKeyword@16..21 "isize"
      RParen@21..22 ")"
      Whitespace@22..23 " "
    Arrow@23..25 "->"
    Whitespace@25..26 " "
    TYPE_TAPP@26..40
      PATH@26..32
        Ident@26..32 "Option"
      TYPE_PARAM_LIST@32..40
        LBracket@32..33 "["
        TYPE_INT@33..38
          IsizeKeyword@33..38 "isize"
        RBracket@38..39 "]"
        Whitespace@39..40 " "
    BLOCK@40..342
      LBrace@40..41 "{"
      Whitespace@41..46 "\n    "
      STMT_LET@46..77
        LetKeyword@46..49 "let"
        Whitespace@49..50 " "
        PATTERN_VARIABLE@50..58
          Ident@50..57 "current"
          Whitespace@57..58 " "
        Eq@58..59 "="
        Whitespace@59..60 " "
        EXPR_CALL@60..71
          EXPR_IDENT@60..68
            PATH@60..68
              Ident@60..63 "Ref"
              ColonColon@63..65 "::"
              Ident@65..68 "new"
          ARG_LIST@68..71
            LParen@68..69 "("
            ARG@69..70
              EXPR_INT@69..70
                Int@69..70 "0"
            RParen@70..71 ")"
        Semi@71..72 ";"
        Whitespace@72..77 "\n    "
      STMT_EXPR@77..326
        EXPR_LOOP@77..326
          LoopKeyword@77..81 "loop"
          Whitespace@81..82 " "
          BLOCK@82..326
            LBrace@82..83 "{"
            Whitespace@83..92 "\n        "
            STMT_LET@92..127
              LetKeyword@92..95 "let"
              Whitespace@95..96 " "
              PATTERN_VARIABLE@96..102
                Ident@96..101 "value"
                Whitespace@101..102 " "
              Eq@102..103 "="
              Whitespace@103..104 " "
              EXPR_CALL@104..117
                EXPR_BINARY@104..115
                  EXPR_IDENT@104..111
                    PATH@104..111
                      Ident@104..111 "current"
                  Dot@111..112 "."
                  EXPR_IDENT@112..115
                    PATH@112..115
                      Ident@112..115 "get"
                ARG_LIST@115..117
                  LParen@115..116 "("
                  RParen@116..117 ")"
              Semi@117..118 ";"
              Whitespace@118..127 "\n        "
            STMT_EXPR@127..320
              EXPR_IF@127..314
                IfKeyword@127..129 "if"
                Whitespace@129..130 " "
                EXPR_IF_COND@130..141
                  EXPR_BINARY@130..141
                    EXPR_IDENT@130..136
                      PATH@130..136
                        Ident@130..135 "value"
                        Whitespace@135..136 " "
                    GreaterEq@136..138 ">="
                    Whitespace@138..139 " "
                    EXPR_INT@139..141
                      Int@139..140 "5"
                      Whitespace@140..141 " "
                EXPR_IF_THEN@141..186
                  BLOCK@141..186
                    LBrace@141..142 "{"
                    Whitespace@142..155 "\n            "
                    STMT_EXPR@155..184
                      EXPR_RETURN@155..174
                        ReturnKeyword@155..161 "return"
                        Whitespace@161..162 " "
                        EXPR_IDENT@162..174
                          PATH@162..174
                            Ident@162..168 "Option"
                            ColonColon@168..170 "::"
                            Ident@170..174 "None"
                      Semi@174..175 ";"
                      Whitespace@175..184 "\n        "
                    RBrace@184..185 "}"
                    Whitespace@185..186 " "
                ElseKeyword@186..190 "else"
                Whitespace@190..191 " "
                EXPR_IF_ELSE@191..314
                  EXPR_IF@191..314
                    IfKeyword@191..193 "if"
                    Whitespace@193..194 " "
                    EXPR_IF_COND@194..210
                      EXPR_BINARY@194..210
                        EXPR_IDENT@194..200
                          PATH@194..200
                            Ident@194..199 "value"
                            Whitespace@199..200 " "
                        EqEq@200..202 "=="
                        Whitespace@202..203 " "
                        EXPR_IDENT@203..210
                          PATH@203..210
                            Ident@203..209 "wanted"
                            Whitespace@209..210 " "
                    EXPR_IF_THEN@210..262
                      BLOCK@210..262
                        LBrace@210..211 "{"
                        Whitespace@211..224 "\n            "
                        STMT_EXPR@224..260
                          EXPR_RETURN@224..250
                            ReturnKeyword@224..230 "return"
                            Whitespace@230..231 " "
                            EXPR_CALL@231..250
                              EXPR_IDENT@231..243
                                PATH@231..243
                                  Ident@231..237 "Option"
                                  ColonColon@237..239 "::"
                                  Ident@239..243 "Some"
                              ARG_LIST@243..250
                                LParen@243..244 "("
                                ARG@244..249
                                  EXPR_IDENT@244..249
                                    PATH@244..249
                                      Ident@244..249 "value"
                                RParen@249..250 ")"
                          Semi@250..251 ";"
                          Whitespace@251..260 "\n        "
                        RBrace@260..261 "}"
                        Whitespace@261..262 " "
                    ElseKeyword@262..266 "else"
                    Whitespace@266..267 " "
                    EXPR_IF_ELSE@267..314
                      BLOCK@267..314
                        LBrace@267..268 "{"
                        Whitespace@268..281 "\n            "
                        STMT_EXPR@281..313
                          EXPR_CALL@281..303
                            EXPR_BINARY@281..292
                              EXPR_IDENT@281..288
                                PATH@281..288
                                  Ident@281..288 "current"
                              Dot@288..289 "."
                              EXPR_IDENT@289..292
                                PATH@289..292
                                  Ident@289..292 "set"
                            ARG_LIST@292..303
                              LParen@292..293 "("
                              ARG@293..302
                                EXPR_BINARY@293..302
                                  EXPR_IDENT@293..299
                                    PATH@293..299
                                      Ident@293..298 "value"
                                      Whitespace@298..299 " "
                                  Plus@299..300 "+"
                                  Whitespace@300..301 " "
                                  EXPR_INT@301..302
                                    Int@301..302 "1"
                              RParen@302..303 ")"
                          Semi@303..304 ";"
                          Whitespace@304..313 "\n        "
                        RBrace@313..314 "}"
              Semi@314..315 ";"
              Whitespace@315..320 "\n    "
            RBrace@320..321 "}"
            Whitespace@321..326 "\n    "
      EXPR_IDENT@326..339
        PATH@326..339
          Ident@326..332 "Option"
          ColonColon@332..334 "::"
          Ident@334..338 "None"
          Whitespace@338..339 "\n"
      RBrace@339..340 "}"
      Whitespace@340..342 "\n\n"
  FN@342..456
    FnKeyword@342..344 "fn"
    Whitespace@344..345 " "
    Ident@345..348 "any"
    PARAM_LIST@348..364
      LParen@348..349 "("
      PARAM@349..362
        Ident@349..355 "wanted"
        Colon@355..356 ":"
        Whitespace@356..357 " "
        TYPE_INT@357..362
          IsizeKeyword@357..362 "isize"
      RParen@362..363 ")"
      Whitespace@363..364 " "
    Arrow@364..366 "->"
    Whitespace@366..367 " "
    TYPE_BOOL@367..372
      BoolKeyword@367..371 "bool"
      Whitespace@371..372 " "
    BLOCK@372..456
      LBrace@372..373 "{"
      Whitespace@373..378 "\n    "
      EXPR_MATCH@378..453
        MatchKeyword@378..383 "match"
        Whitespace@383..384 " "
        EXPR_CALL@384..397
          EXPR_IDENT@384..388
            PATH@384..388
              Ident@384..388 "find"
          ARG_LIST@388..397
            LParen@388..389 "("
            ARG@389..395
              EXPR_IDENT@389..395
                PATH@389..395
                  Ident@389..395 "wanted"
            RParen@395..396 ")"
            Whitespace@396..397 " "
        MATCH_ARM_LIST@397..453
          LBrace@397..398 "{"
          Whitespace@398..407 "\n        "
          MATCH_ARM@407..422
            PATTERN_CONSTR@407..415
              PATH@407..411
                Ident@407..411 "Some"
              LParen@411..412 "("
              PATTERN_WILDCARD@412..413
                WildcardKeyword@412..413 "_"
              RParen@413..414 ")"
              Whitespace@414..415 " "
            FatArrow@415..417 "=>"
            Whitespace@417..418 " "
            EXPR_BOOL@418..422
              TrueKeyword@418..422 "true"
          Comma@422..423 ","
          Whitespace@423..432 "\n        "
          MATCH_ARM@432..445
            PATTERN_CONSTR@432..437
              PATH@432..437
                Ident@432..436 "None"
                Whitespace@436..437 " "
            FatArrow@437..439 "=>"
            Whitespace@439..440 " "
            EXPR_BOOL@440..445
              FalseKeyword@440..445 "false"
          Comma@445..446 ","
          Whitespace@446..451 "\n    "
          RBrace@451..452 "}"
          Whitespace@452..453 "\n"
      RBrace@453..454 "}"
      Whitespace@454..456 "\n\n"
  FN@456..520
    FnKeyword@456..458 "fn"
    Whitespace@458..459 " "
    Ident@459..463 "main"
    PARAM_LIST@463..466
      LParen@463..464 "("
      RParen@464..465 ")"
      Whitespace@465..466 " "
    Arrow@466..468 "->"
    Whitespace@468..469 " "
    TYPE_UNIT@469..474
      UnitKeyword@469..473 "unit"
      Whitespace@473..474 " "
    BLOCK@474..520
      LBrace@474..475 "{"
      Whitespace@475..480 "\n    "
      STMT_EXPR@480..501
        EXPR_CALL@480..495
          EXPR_IDENT@480..487
            PATH@480..487
              Ident@480..487 "println"
          ARG_LIST@487..495
            LParen@487..488 "("
            ARG@488..494
              EXPR_CALL@488..494
                EXPR_IDENT@488..491
                  PATH@488..491
                    Ident@488..491 "any"
                ARG_LIST@491..494
                  LParen@491..492 "("
                  ARG@492..493
                    EXPR_INT@492..493
                      Int@492..493 "3"
                  RParen@493..494 ")"
            RParen@494..495 ")"
        Semi@495..496 ";"
        Whitespace@496..501 "\n    "
      STMT_EXPR@501..518
        EXPR_CALL@501..516
          EXPR_IDENT@501..508
            PATH@501..508
              Ident@501..508 "println"
          ARG_LIST@508..516
            LParen@508..509 "("
            ARG@509..515
              EXPR_CALL@509..515
                EXPR_IDENT@509..512
                  PATH@509..512
                    Ident@509..512 "any"
                ARG_LIST@512..515
                  LParen@512..513 "("
                  ARG@513..514
                    EXPR_INT@513..514
                      Int@513..514 "8"
                  RParen@514..515 ")"
            RParen@515..516 ")"
        Semi@516..517 ";"
        Whitespace@517..518 "\n"
      RBrace@518..519 "}"
      Whitespace@519..520 "\n"