FILE@0..1068
  USE@0..16
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..13
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..13 "iter"
    Semi@13..14 ";"
    Whitespace@14..16 "\n\n"
  FN@16..1068
    FnKeyword@16..18 "fn"
    Whitespace@18..19 " "
    Ident@19..23 "main"
    PARAM_LIST@23..26
      LParen@23..24 "("
      RParen@24..25 ")"
      Whitespace@25..26 " "
    Arrow@26..28 "->"
    Whitespace@28..29 " "
    TYPE_UNIT@29..34
      UnitKeyword@29..33 "unit"
      Whitespace@33..34 " "
    BLOCK@34..1068
      LBrace@34..35 "{"
      Whitespace@35..40 "\n    "
      STMT_LET@40..65
        LetKeyword@40..43 "let"
        Whitespace@43..44 " "
        PATTERN_VARIABLE@44..50
          Ident@44..50 "native"
        Colon@50..51 ":"
        Whitespace@51..52 " "
        TYPE_INT@52..56
          IntKeyword@52..55 "int"
          Whitespace@55..56 " "
        Eq@56..57 "="
        Whitespace@57..58 " "
        EXPR_INT@58..59
          Int@58..59 "7"
        Semi@59..60 ";"
        Whitespace@60..65 "\n    "
      STMT_LET@65..90
        LetKeyword@65..68 "let"
        Whitespace@68..69 " "
        PATTERN_VARIABLE@69..74
          Ident@69..74 "small"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_INT8@76..81
          Int8Keyword@76..80 "int8"
          Whitespace@80..81 " "
        Eq@81..82 "="
        Whitespace@82..83 " "
        EXPR_INT@83..84
          Int@83..84 "8"
        Semi@84..85 ";"
        Whitespace@85..90 "\n    "
      STMT_LET@90..119
        LetKeyword@90..93 "let"
        Whitespace@93..94 " "
        PATTERN_VARIABLE@94..102
          Ident@94..102 "unsigned"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_UINT8@104..110
          Uint8Keyword@104..109 "uint8"
          Whitespace@109..110 " "
        Eq@110..111 "="
        Whitespace@111..112 " "
        EXPR_INT@112..113
          Int@112..113 "9"
        Semi@113..114 ";"
        Whitespace@114..119 "\n    "
      STMT_LET@119..251
        LetKeyword@119..122 "let"
        Whitespace@122..123 " "
        PATTERN_VARIABLE@123..128
          Ident@123..127 "text"
          Whitespace@127..128 " "
        Eq@128..129 "="
        Whitespace@129..130 " "
        EXPR_BINARY@130..245
          EXPR_BINARY@130..212
            EXPR_BINARY@130..176
              EXPR_CALL@130..152
                EXPR_IDENT@130..143
                  PATH@130..143
                    Ident@130..143 "int_to_string"
                ARG_LIST@143..152
                  LParen@143..144 "("
                  ARG@144..150
                    EXPR_IDENT@144..150
                      PATH@144..150
                        Ident@144..150 "native"
                  RParen@150..151 ")"
                  Whitespace@151..152 " "
              Plus@152..153 "+"
              Whitespace@153..154 " "
              EXPR_CALL@154..176
                EXPR_IDENT@154..168
                  PATH@154..168
                    Ident@154..168 "int8_to_string"
                ARG_LIST@168..176
                  LParen@168..169 "("
                  ARG@169..174
                    EXPR_IDENT@169..174
                      PATH@169..174
                        Ident@169..174 "small"
                  RParen@174..175 ")"
                  Whitespace@175..176 " "
            Plus@176..177 "+"
            Whitespace@177..178 " "
            EXPR_CALL@178..212
              EXPR_IDENT@178..193
                PATH@178..193
                  Ident@178..193 "uint8_to_string"
              ARG_LIST@193..212
                LParen@193..194 "("
                ARG@194..202
                  EXPR_IDENT@194..202
                    PATH@194..202
                      Ident@194..202 "unsigned"
                RParen@202..203 ")"
                Whitespace@203..212 "\n        "
          Plus@212..213 "+"
          Whitespace@213..214 " "
          EXPR_CALL@214..245
            EXPR_IDENT@214..231
              PATH@214..231
                Ident@214..231 "string_byte_slice"
            ARG_LIST@231..245
              LParen@231..232 "("
              ARG@232..240
                EXPR_STR@232..238
                  Str@232..238 "\"abcd\""
                Comma@238..239 ","
                Whitespace@239..240 " "
              ARG@240..243
                EXPR_INT@240..241
                  Int@240..241 "1"
                Comma@241..242 ","
                Whitespace@242..243 " "
              ARG@243..244
                EXPR_INT@243..244
                  Int@243..244 "3"
              RParen@244..245 ")"
        Semi@245..246 ";"
        Whitespace@246..251 "\n    "
      STMT_LET@251..287
        LetKeyword@251..254 "let"
        Whitespace@254..255 " "
        PATTERN_VARIABLE@255..260
          Ident@255..260 "value"
        Colon@260..261 ":"
        Whitespace@261..262 " "
        TYPE_TAPP@262..273
          PATH@262..265
            Ident@262..265 "Ref"
          TYPE_PARAM_LIST@265..273
            LBracket@265..266 "["
            TYPE_INT32@266..271
              Int32Keyword@266..271 "int32"
            RBracket@271..272 "]"
            Whitespace@272..273 " "
        Eq@273..274 "="
        Whitespace@274..275 " "
        EXPR_CALL@275..281
          EXPR_IDENT@275..278
            PATH@275..278
              Ident@275..278 "ref"
          ARG_LIST@278..281
            LParen@278..279 "("
            ARG@279..280
              EXPR_INT@279..280
                Int@279..280 "1"
            RParen@280..281 ")"
        Semi@281..282 ";"
        Whitespace@282..287 "\n    "
      STMT_EXPR@287..310
        EXPR_CALL@287..304
          EXPR_IDENT@287..294
            PATH@287..294
              Ident@287..294 "ref_set"
          ARG_LIST@294..304
            LParen@294..295 "("
            ARG@295..302
              EXPR_IDENT@295..300
                PATH@295..300
                  Ident@295..300 "value"
              Comma@300..301 ","
              Whitespace@301..302 " "
            ARG@302..303
              EXPR_INT@302..303
                Int@302..303 "2"
            RParen@303..304 ")"
        Semi@304..305 ";"
        Whitespace@305..310 "\n    "
      STMT_LET@310..347
        LetKeyword@310..313 "let"
        Whitespace@313..314 " "
        PATTERN_VARIABLE@314..319
          Ident@314..318 "same"
          Whitespace@318..319 " "
        Eq@319..320 "="
        Whitespace@320..321 " "
        EXPR_CALL@321..341
          EXPR_IDENT@321..327
            PATH@321..327
              Ident@321..327 "ptr_eq"
          ARG_LIST@327..341
            LParen@327..328 "("
            ARG@328..335
              EXPR_IDENT@328..333
                PATH@328..333
                  Ident@328..333 "value"
              Comma@333..334 ","
              Whitespace@334..335 " "
            ARG@335..340
              EXPR_IDENT@335..340
                PATH@335..340
                  Ident@335..340 "value"
            RParen@340..341 ")"
        Semi@341..342 ";"
        Whitespace@342..347 "\n    "
      STMT_LET@347..376
        LetKeyword@347..350 "let"
        Whitespace@350..351 " "
        PATTERN_WILDCARD@351..353
          WildcardKeyword@351..352 "_"
          Whitespace@352..353 " "
        Eq@353..354 "="
        Whitespace@354..355 " "
        EXPR_CALL@355..370
          EXPR_IDENT@355..363
            PATH@355..363
              Ident@355..363 "ptr_hash"
          ARG_LIST@363..370
            LParen@363..364 "("
            ARG@364..369
              EXPR_IDENT@364..369
                PATH@364..369
                  Ident@364..369 "value"
            RParen@369..370 ")"
        Semi@370..371 ";"
        Whitespace@371..376 "\n    "
      STMT_LET@376..416
        LetKeyword@376..379 "let"
        Whitespace@379..380 " "
        PATTERN_VARIABLE@380..386
          Ident@380..386 "values"
        Colon@386..387 ":"
        Whitespace@387..388 " "
        TYPE_TAPP@388..399
          PATH@388..391
            Ident@388..391 "Vec"
          TYPE_PARAM_LIST@391..399
            LBracket@391..392 "["
            TYPE_INT32@392..397
              Int32Keyword@392..397 "int32"
            RBracket@397..398 "]"
            Whitespace@398..399 " "
        Eq@399..400 "="
        Whitespace@400..401 " "
        EXPR_CALL@401..410
          EXPR_IDENT@401..408
            PATH@401..408
              Ident@401..408 "vec_new"
          ARG_LIST@408..410
            LParen@408..409 "("
            RParen@409..410 ")"
        Semi@410..411 ";"
        Whitespace@411..416 "\n    "
      STMT_EXPR@416..454
        EXPR_CALL@416..448
          EXPR_IDENT@416..424
            PATH@416..424
              Ident@416..424 "vec_push"
          ARG_LIST@424..448
            LParen@424..425 "("
            ARG@425..433
              EXPR_IDENT@425..431
                PATH@425..431
                  Ident@425..431 "values"
              Comma@431..432 ","
              Whitespace@432..433 " "
            ARG@433..447
              EXPR_CALL@433..447
                EXPR_IDENT@433..440
                  PATH@433..440
                    Ident@433..440 "ref_get"
                ARG_LIST@440..447
                  LParen@440..441 "("
                  ARG@441..446
                    EXPR_IDENT@441..446
                      PATH@441..446
                        Ident@441..446 "value"
                  RParen@446..447 ")"
            RParen@447..448 ")"
        Semi@448..449 ";"
        Whitespace@449..454 "\n    "
      STMT_EXPR@454..479
        EXPR_CALL@454..473
          EXPR_IDENT@454..462
            PATH@454..462
              Ident@454..462 "vec_push"
          ARG_LIST@462..473
            LParen@462..463 "("
            ARG@463..471
              EXPR_IDENT@463..469
                PATH@463..469
                  Ident@463..469 "values"
              Comma@469..470 ","
              Whitespace@470..471 " "
            ARG@471..472
              EXPR_INT@471..472
                Int@471..472 "3"
            RParen@472..473 ")"
        Semi@473..474 ";"
        Whitespace@474..479 "\n    "
      STMT_EXPR@479..506
        EXPR_CALL@479..500
          EXPR_IDENT@479..486
            PATH@479..486
              Ident@479..486 "vec_set"
          ARG_LIST@486..500
            LParen@486..487 "("
            ARG@487..495
              EXPR_IDENT@487..493
                PATH@487..493
                  Ident@487..493 "values"
              Comma@493..494 ","
              Whitespace@494..495 " "
            ARG@495..498
              EXPR_INT@495..496
                Int@495..496 "1"
              Comma@496..497 ","
              Whitespace@497..498 " "
            ARG@498..499
              EXPR_INT@498..499
                Int@498..499 "4"
            RParen@499..500 ")"
        Semi@500..501 ";"
        Whitespace@501..506 "\n    "
      STMT_LET@506..564
        LetKeyword@506..509 "let"
        Whitespace@509..510 " "
        PATTERN_VARIABLE@510..523
          Ident@510..522 "values_slice"
          Whitespace@522..523 " "
        Eq@523..524 "="
        Whitespace@524..525 " "
        EXPR_CALL@525..558
          EXPR_IDENT@525..530
            PATH@525..530
              Ident@525..530 "slice"
          ARG_LIST@530..558
            LParen@530..531 "("
            ARG@531..539
              EXPR_IDENT@531..537
                PATH@531..537
                  Ident@531..537 "values"
              Comma@537..538 ","
              Whitespace@538..539 " "
            ARG@539..542
              EXPR_INT@539..540
                Int@539..540 "0"
              Comma@540..541 ","
              Whitespace@541..542 " "
            ARG@542..557
              EXPR_CALL@542..557
                EXPR_IDENT@542..549
                  PATH@542..549
                    Ident@542..549 "vec_len"
                ARG_LIST@549..557
                  LParen@549..550 "("
                  ARG@550..556
                    EXPR_IDENT@550..556
                      PATH@550..556
                        Ident@550..556 "values"
                  RParen@556..557 ")"
            RParen@557..558 ")"
        Semi@558..559 ";"
        Whitespace@559..564 "\n    "
      STMT_LET@564..634
        LetKeyword@564..567 "let"
        Whitespace@567..568 " "
        PATTERN_VARIABLE@568..575
          Ident@568..574 "nested"
          Whitespace@574..575 " "
        Eq@575..576 "="
        Whitespace@576..577 " "
        EXPR_CALL@577..628
          EXPR_IDENT@577..586
            PATH@577..586
              Ident@577..586 "slice_sub"
          ARG_LIST@586..628
            LParen@586..587 "("
            ARG@587..601
              EXPR_IDENT@587..599
                PATH@587..599
                  Ident@587..599 "values_slice"
              Comma@599..600 ","
              Whitespace@600..601 " "
            ARG@601..604
              EXPR_INT@601..602
                Int@601..602 "0"
              Comma@602..603 ","
              Whitespace@603..604 " "
            ARG@604..627
              EXPR_CALL@604..627
                EXPR_IDENT@604..613
                  PATH@604..613
                    Ident@604..613 "slice_len"
                ARG_LIST@613..627
                  LParen@613..614 "("
                  ARG@614..626
                    EXPR_IDENT@614..626
                      PATH@614..626
                        Ident@614..626 "values_slice"
                  RParen@626..627 ")"
            RParen@627..628 ")"
        Semi@628..629 ";"
        Whitespace@629..634 "\n    "
      STMT_LET@634..684
        LetKeyword@634..637 "let"
        Whitespace@637..638 " "
        PATTERN_VARIABLE@638..645
          Ident@638..645 "channel"
        Colon@645..646 ":"
        Whitespace@646..647 " "
        TYPE_TAPP@647..662
          PATH@647..654
            Ident@647..654 "Channel"
          TYPE_PARAM_LIST@654..662
            LBracket@654..655 "["
            TYPE_INT32@655..660
              Int32Keyword@655..660 "int32"
            RBracket@660..661 "]"
            Whitespace@661..662 " "
        Eq@662..663 "="
        Whitespace@663..664 " "
        EXPR_CALL@664..678
          EXPR_IDENT@664..675
            PATH@664..675
              Ident@664..675 "channel_new"
          ARG_LIST@675..678
            LParen@675..676 "("
            ARG@676..677
              EXPR_INT@676..677
                Int@676..677 "1"
            RParen@677..678 ")"
        Semi@678..679 ";"
        Whitespace@679..684 "\n    "
      STMT_EXPR@684..733
        EXPR_CALL@684..727
          EXPR_IDENT@684..696
            PATH@684..696
              Ident@684..696 "channel_send"
          ARG_LIST@696..727
            LParen@696..697 "("
            ARG@697..706
              EXPR_IDENT@697..704
                PATH@697..704
                  Ident@697..704 "channel"
              Comma@704..705 ","
              Whitespace@705..706 " "
            ARG@706..726
              EXPR_CALL@706..726
                EXPR_IDENT@706..715
                  PATH@706..715
                    Ident@706..715 "slice_get"
                ARG_LIST@715..726
                  LParen@715..716 "("
                  ARG@716..724
                    EXPR_IDENT@716..722
                      PATH@716..722
                        Ident@716..722 "nested"
                    Comma@722..723 ","
                    Whitespace@723..724 " "
                  ARG@724..725
                    EXPR_INT@724..725
                      Int@724..725 "1"
                  RParen@725..726 ")"
            RParen@726..727 ")"
        Semi@727..728 ";"
        Whitespace@728..733 "\n    "
      STMT_LET@733..775
        LetKeyword@733..736 "let"
        Whitespace@736..737 " "
        PATTERN_VARIABLE@737..746
          Ident@737..745 "received"
          Whitespace@745..746 " "
        Eq@746..747 "="
        Whitespace@747..748 " "
        EXPR_CALL@748..769
          EXPR_IDENT@748..760
            PATH@748..760
              Ident@748..760 "channel_recv"
          ARG_LIST@760..769
            LParen@760..761 "("
            ARG@761..768
              EXPR_IDENT@761..768
                PATH@761..768
                  Ident@761..768 "channel"
            RParen@768..769 ")"
        Semi@769..770 ";"
        Whitespace@770..775 "\n    "
      STMT_EXPR@775..803
        EXPR_CALL@775..797
          EXPR_IDENT@775..788
            PATH@775..788
              Ident@775..788 "channel_close"
          ARG_LIST@788..797
            LParen@788..789 "("
            ARG@789..796
              EXPR_IDENT@789..796
                PATH@789..796
                  Ident@789..796 "channel"
            RParen@796..797 ")"
        Semi@797..798 ";"
        Whitespace@798..803 "\n    "
      STMT_LET@803..936
        LetKeyword@803..806 "let"
        Whitespace@806..807 " "
        PATTERN_VARIABLE@807..813
          Ident@807..812 "total"
          Whitespace@812..813 " "
        Eq@813..814 "="
        Whitespace@814..815 " "
        EXPR_CALL@815..930
          EXPR_IDENT@815..825
            PATH@815..825
              Ident@815..819 "iter"
              ColonColon@819..821 "::"
              Ident@821..825 "fold"
          ARG_LIST@825..930
            LParen@825..826 "("
            Whitespace@826..835 "\n        "
            ARG@835..856
              EXPR_CALL@835..846
                EXPR_IDENT@835..840
                  PATH@835..840
                    Ident@835..840 "range"
                ARG_LIST@840..846
                  LParen@840..841 "("
                  ARG@841..844
                    EXPR_INT@841..842
                      Int@841..842 "0"
                    Comma@842..843 ","
                    Whitespace@843..844 " "
                  ARG@844..845
                    EXPR_INT@844..845
                      Int@844..845 "3"
                  RParen@845..846 ")"
              Comma@846..847 ","
              Whitespace@847..856 "\n        "
            ARG@856..867
              EXPR_INT@856..857
                Int@856..857 "0"
              Comma@857..858 ","
              Whitespace@858..867 "\n        "
            ARG@867..929
              EXPR_CLOSURE@867..923
                CLOSURE_PARAM_LIST@867..889
                  Pipe@867..868 "|"
                  CLOSURE_PARAM@868..876
                    Ident@868..871 "sum"
                    Colon@871..872 ":"
                    Whitespace@872..873 " "
                    TYPE_INT@873..876
                      IntKeyword@873..876 "int"
                  Comma@876..877 ","
                  Whitespace@877..878 " "
                  CLOSURE_PARAM@878..887
                    Ident@878..882 "item"
                    Colon@882..883 ":"
                    Whitespace@883..884 " "
                    TYPE_INT@884..887
                      IntKeyword@884..887 "int"
                  Pipe@887..888 "|"
                  Whitespace@888..889 " "
                EXPR_CLOSURE_BODY@889..923
                  BLOCK@889..923
                    LBrace@889..890 "{"
                    Whitespace@890..903 "\n            "
                    EXPR_BINARY@903..922
                      EXPR_IDENT@903..907
                        PATH@903..907
                          Ident@903..906 "sum"
                          Whitespace@906..907 " "
                      Plus@907..908 "+"
                      Whitespace@908..909 " "
                      EXPR_IDENT@909..922
                        PATH@909..922
                          Ident@909..913 "item"
                          Whitespace@913..922 "\n        "
                    RBrace@922..923 "}"
              Comma@923..924 ","
              Whitespace@924..929 "\n    "
            RParen@929..930 ")"
        Semi@930..931 ";"
        Whitespace@931..936 "\n    "
      EXPR_CALL@936..1066
        EXPR_IDENT@936..943
          PATH@936..943
            Ident@936..943 "println"
        ARG_LIST@943..1066
          LParen@943..944 "("
          Whitespace@944..953 "\n        "
          ARG@953..1064
            EXPR_BINARY@953..1058
              EXPR_BINARY@953..1039
                EXPR_BINARY@953..1002
                  EXPR_BINARY@953..977
                    EXPR_IDENT@953..958
                      PATH@953..958
                        Ident@953..957 "text"
                        Whitespace@957..958 " "
                    Plus@958..959 "+"
                    Whitespace@959..960 " "
                    EXPR_CALL@960..977
                      EXPR_BINARY@960..974
                        EXPR_IDENT@960..964
                          PATH@960..964
                            Ident@960..964 "same"
                        Dot@964..965 "."
                        EXPR_IDENT@965..974
                          PATH@965..974
                            Ident@965..974 "to_string"
                      ARG_LIST@974..977
                        LParen@974..975 "("
                        RParen@975..976 ")"
                        Whitespace@976..977 " "
                  Plus@977..978 "+"
                  Whitespace@978..979 " "
                  EXPR_CALL@979..1002
                    EXPR_BINARY@979..999
                      EXPR_BINARY@979..989
                        EXPR_IDENT@979..987
                          PATH@979..987
                            Ident@979..987 "received"
                        Dot@987..988 "."
                        EXPR_INT@988..989
                          Int@988..989 "0"
                      Dot@989..990 "."
                      EXPR_IDENT@990..999
                        PATH@990..999
                          Ident@990..999 "to_string"
                    ARG_LIST@999..1002
                      LParen@999..1000 "("
                      RParen@1000..1001 ")"
                      Whitespace@1001..1002 " "
                Plus@1002..1003 "+"
                Whitespace@1003..1004 " "
                EXPR_CALL@1004..1039
                  EXPR_BINARY@1004..1024
                    EXPR_BINARY@1004..1014
                      EXPR_IDENT@1004..1012
                        PATH@1004..1012
                          Ident@1004..1012 "received"
                      Dot@1012..1013 "."
                      EXPR_INT@1013..1014
                        Int@1013..1014 "1"
                    Dot@1014..1015 "."
                    EXPR_IDENT@1015..1024
                      PATH@1015..1024
                        Ident@1015..1024 "to_string"
                  ARG_LIST@1024..1039
                    LParen@1024..1025 "("
                    RParen@1025..1026 ")"
                    Whitespace@1026..1039 "\n            "
              Plus@1039..1040 "+"
              Whitespace@1040..1041 " "
              EXPR_CALL@1041..1058
                EXPR_BINARY@1041..1056
                  EXPR_IDENT@1041..1046
                    PATH@1041..1046
                      Ident@1041..1046 "total"
                  Dot@1046..1047 "."
                  EXPR_IDENT@1047..1056
                    PATH@1047..1056
                      Ident@1047..1056 "to_string"
                ARG_LIST@1056..1058
                  LParen@1056..1057 "("
                  RParen@1057..1058 ")"
            Comma@1058..1059 ","
            Whitespace@1059..1064 "\n    "
          RParen@1064..1065 ")"
          Whitespace@1065..1066 "\n"
      RBrace@1066..1067 "}"
      Whitespace@1067..1068 "\n"