FILE@0..1087
  USE@0..16
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..13
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..13 "iter"
    Semi@13..14 ";"
    Whitespace@14..16 "\n\n"
  FN@16..1087
    FnKeyword@16..18 "fn"
    Whitespace@18..19 " "
    Ident@19..23 "main"
    PARAM_LIST@23..26
      LParen@23..24 "("
      RParen@24..25 ")"
      Whitespace@25..26 " "
    Arrow@26..28 "->"
    Whitespace@28..29 " "
    TYPE_UNIT@29..34
      UnitKeyword@29..33 "unit"
      Whitespace@33..34 " "
    BLOCK@34..1087
      LBrace@34..35 "{"
      Whitespace@35..40 "\n    "
      STMT_LET@40..65
        LetKeyword@40..43 "let"
        Whitespace@43..44 " "
        PATTERN_VARIABLE@44..50
          Ident@44..50 "native"
        Colon@50..51 ":"
        Whitespace@51..52 " "
        TYPE_INT@52..56
          IntKeyword@52..55 "int"
          Whitespace@55..56 " "
        Eq@56..57 "="
        Whitespace@57..58 " "
        EXPR_INT@58..59
          Int@58..59 "7"
        Semi@59..60 ";"
        Whitespace@60..65 "\n    "
      STMT_LET@65..90
        LetKeyword@65..68 "let"
        Whitespace@68..69 " "
        PATTERN_VARIABLE@69..74
          Ident@69..74 "small"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_INT8@76..81
          Int8Keyword@76..80 "int8"
          Whitespace@80..81 " "
        Eq@81..82 "="
        Whitespace@82..83 " "
        EXPR_INT@83..84
          Int@83..84 "8"
        Semi@84..85 ";"
        Whitespace@85..90 "\n    "
      STMT_LET@90..119
        LetKeyword@90..93 "let"
        Whitespace@93..94 " "
        PATTERN_VARIABLE@94..102
          Ident@94..102 "unsigned"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_UINT8@104..110
          Uint8Keyword@104..109 "uint8"
          Whitespace@109..110 " "
        Eq@110..111 "="
        Whitespace@111..112 " "
        EXPR_INT@112..113
          Int@112..113 "9"
        Semi@113..114 ";"
        Whitespace@114..119 "\n    "
      STMT_LET@119..268
        LetKeyword@119..122 "let"
        Whitespace@122..123 " "
        PATTERN_VARIABLE@123..128
          Ident@123..127 "text"
          Whitespace@127..128 " "
        Eq@128..129 "="
        Whitespace@129..130 " "
        EXPR_BINARY@130..261
          EXPR_BINARY@130..228
            EXPR_BINARY@130..192
              EXPR_CALL@130..160
                EXPR_IDENT@130..143
                  PATH@130..143
                    Ident@130..143 "int_to_string"
                ARG_LIST@143..160
                  LParen@143..144 "("
                  ARG@144..150
                    EXPR_IDENT@144..150
                      PATH@144..150
                        Ident@144..150 "native"
                  RParen@150..151 ")"
                  Whitespace@151..160 "\n        "
              Plus@160..161 "+"
              Whitespace@161..162 " "
              EXPR_CALL@162..192
                EXPR_IDENT@162..176
                  PATH@162..176
                    Ident@162..176 "int8_to_string"
                ARG_LIST@176..192
                  LParen@176..177 "("
                  ARG@177..182
                    EXPR_IDENT@177..182
                      PATH@177..182
                        Ident@177..182 "small"
                  RParen@182..183 ")"
                  Whitespace@183..192 "\n        "
            Plus@192..193 "+"
            Whitespace@193..194 " "
            EXPR_CALL@194..228
              EXPR_IDENT@194..209
                PATH@194..209
                  Ident@194..209 "uint8_to_string"
              ARG_LIST@209..228
                LParen@209..210 "("
                ARG@210..218
                  EXPR_IDENT@210..218
                    PATH@210..218
                      Ident@210..218 "unsigned"
                RParen@218..219 ")"
                Whitespace@219..228 "\n        "
          Plus@228..229 "+"
          Whitespace@229..230 " "
          EXPR_CALL@230..261
            EXPR_IDENT@230..247
              PATH@230..247
                Ident@230..247 "string_byte_slice"
            ARG_LIST@247..261
              LParen@247..248 "("
              ARG@248..256
                EXPR_STR@248..254
                  Str@248..254 "\"abcd\""
                Comma@254..255 ","
                Whitespace@255..256 " "
              ARG@256..259
                EXPR_INT@256..257
                  Int@256..257 "1"
                Comma@257..258 ","
                Whitespace@258..259 " "
              ARG@259..260
                EXPR_INT@259..260
                  Int@259..260 "3"
              RParen@260..261 ")"
        Semi@261..262 ";"
        Whitespace@262..268 "\n\n    "
      STMT_LET@268..304
        LetKeyword@268..271 "let"
        Whitespace@271..272 " "
        PATTERN_VARIABLE@272..277
          Ident@272..277 "value"
        Colon@277..278 ":"
        Whitespace@278..279 " "
        TYPE_TAPP@279..290
          PATH@279..282
            Ident@279..282 "Ref"
          TYPE_PARAM_LIST@282..290
            LBracket@282..283 "["
            TYPE_INT32@283..288
              Int32Keyword@283..288 "int32"
            RBracket@288..289 "]"
            Whitespace@289..290 " "
        Eq@290..291 "="
        Whitespace@291..292 " "
        EXPR_CALL@292..298
          EXPR_IDENT@292..295
            PATH@292..295
              Ident@292..295 "ref"
          ARG_LIST@295..298
            LParen@295..296 "("
            ARG@296..297
              EXPR_INT@296..297
                Int@296..297 "1"
            RParen@297..298 ")"
        Semi@298..299 ";"
        Whitespace@299..304 "\n    "
      STMT_EXPR@304..327
        EXPR_CALL@304..321
          EXPR_IDENT@304..311
            PATH@304..311
              Ident@304..311 "ref_set"
          ARG_LIST@311..321
            LParen@311..312 "("
            ARG@312..319
              EXPR_IDENT@312..317
                PATH@312..317
                  Ident@312..317 "value"
              Comma@317..318 ","
              Whitespace@318..319 " "
            ARG@319..320
              EXPR_INT@319..320
                Int@319..320 "2"
            RParen@320..321 ")"
        Semi@321..322 ";"
        Whitespace@322..327 "\n    "
      STMT_LET@327..364
        LetKeyword@327..330 "let"
        Whitespace@330..331 " "
        PATTERN_VARIABLE@331..336
          Ident@331..335 "same"
          Whitespace@335..336 " "
        Eq@336..337 "="
        Whitespace@337..338 " "
        EXPR_CALL@338..358
          EXPR_IDENT@338..344
            PATH@338..344
              Ident@338..344 "ptr_eq"
          ARG_LIST@344..358
            LParen@344..345 "("
            ARG@345..352
              EXPR_IDENT@345..350
                PATH@345..350
                  Ident@345..350 "value"
              Comma@350..351 ","
              Whitespace@351..352 " "
            ARG@352..357
              EXPR_IDENT@352..357
                PATH@352..357
                  Ident@352..357 "value"
            RParen@357..358 ")"
        Semi@358..359 ";"
        Whitespace@359..364 "\n    "
      STMT_LET@364..394
        LetKeyword@364..367 "let"
        Whitespace@367..368 " "
        PATTERN_WILDCARD@368..370
          WildcardKeyword@368..369 "_"
          Whitespace@369..370 " "
        Eq@370..371 "="
        Whitespace@371..372 " "
        EXPR_CALL@372..387
          EXPR_IDENT@372..380
            PATH@372..380
              Ident@372..380 "ptr_hash"
          ARG_LIST@380..387
            LParen@380..381 "("
            ARG@381..386
              EXPR_IDENT@381..386
                PATH@381..386
                  Ident@381..386 "value"
            RParen@386..387 ")"
        Semi@387..388 ";"
        Whitespace@388..394 "\n\n    "
      STMT_LET@394..434
        LetKeyword@394..397 "let"
        Whitespace@397..398 " "
        PATTERN_VARIABLE@398..404
          Ident@398..404 "values"
        Colon@404..405 ":"
        Whitespace@405..406 " "
        TYPE_TAPP@406..417
          PATH@406..409
            Ident@406..409 "Vec"
          TYPE_PARAM_LIST@409..417
            LBracket@409..410 "["
            TYPE_INT32@410..415
              Int32Keyword@410..415 "int32"
            RBracket@415..416 "]"
            Whitespace@416..417 " "
        Eq@417..418 "="
        Whitespace@418..419 " "
        EXPR_CALL@419..428
          EXPR_IDENT@419..426
            PATH@419..426
              Ident@419..426 "vec_new"
          ARG_LIST@426..428
            LParen@426..427 "("
            RParen@427..428 ")"
        Semi@428..429 ";"
        Whitespace@429..434 "\n    "
      STMT_EXPR@434..472
        EXPR_CALL@434..466
          EXPR_IDENT@434..442
            PATH@434..442
              Ident@434..442 "vec_push"
          ARG_LIST@442..466
            LParen@442..443 "("
            ARG@443..451
              EXPR_IDENT@443..449
                PATH@443..449
                  Ident@443..449 "values"
              Comma@449..450 ","
              Whitespace@450..451 " "
            ARG@451..465
              EXPR_CALL@451..465
                EXPR_IDENT@451..458
                  PATH@451..458
                    Ident@451..458 "ref_get"
                ARG_LIST@458..465
                  LParen@458..459 "("
                  ARG@459..464
                    EXPR_IDENT@459..464
                      PATH@459..464
                        Ident@459..464 "value"
                  RParen@464..465 ")"
            RParen@465..466 ")"
        Semi@466..467 ";"
        Whitespace@467..472 "\n    "
      STMT_EXPR@472..497
        EXPR_CALL@472..491
          EXPR_IDENT@472..480
            PATH@472..480
              Ident@472..480 "vec_push"
          ARG_LIST@480..491
            LParen@480..481 "("
            ARG@481..489
              EXPR_IDENT@481..487
                PATH@481..487
                  Ident@481..487 "values"
              Comma@487..488 ","
              Whitespace@488..489 " "
            ARG@489..490
              EXPR_INT@489..490
                Int@489..490 "3"
            RParen@490..491 ")"
        Semi@491..492 ";"
        Whitespace@492..497 "\n    "
      STMT_EXPR@497..525
        EXPR_CALL@497..518
          EXPR_IDENT@497..504
            PATH@497..504
              Ident@497..504 "vec_set"
          ARG_LIST@504..518
            LParen@504..505 "("
            ARG@505..513
              EXPR_IDENT@505..511
                PATH@505..511
                  Ident@505..511 "values"
              Comma@511..512 ","
              Whitespace@512..513 " "
            ARG@513..516
              EXPR_INT@513..514
                Int@513..514 "1"
              Comma@514..515 ","
              Whitespace@515..516 " "
            ARG@516..517
              EXPR_INT@516..517
                Int@516..517 "4"
            RParen@517..518 ")"
        Semi@518..519 ";"
        Whitespace@519..525 "\n\n    "
      STMT_LET@525..583
        LetKeyword@525..528 "let"
        Whitespace@528..529 " "
        PATTERN_VARIABLE@529..542
          Ident@529..541 "values_slice"
          Whitespace@541..542 " "
        Eq@542..543 "="
        Whitespace@543..544 " "
        EXPR_CALL@544..577
          EXPR_IDENT@544..549
            PATH@544..549
              Ident@544..549 "slice"
          ARG_LIST@549..577
            LParen@549..550 "("
            ARG@550..558
              EXPR_IDENT@550..556
                PATH@550..556
                  Ident@550..556 "values"
              Comma@556..557 ","
              Whitespace@557..558 " "
            ARG@558..561
              EXPR_INT@558..559
                Int@558..559 "0"
              Comma@559..560 ","
              Whitespace@560..561 " "
            ARG@561..576
              EXPR_CALL@561..576
                EXPR_IDENT@561..568
                  PATH@561..568
                    Ident@561..568 "vec_len"
                ARG_LIST@568..576
                  LParen@568..569 "("
                  ARG@569..575
                    EXPR_IDENT@569..575
                      PATH@569..575
                        Ident@569..575 "values"
                  RParen@575..576 ")"
            RParen@576..577 ")"
        Semi@577..578 ";"
        Whitespace@578..583 "\n    "
      STMT_LET@583..654
        LetKeyword@583..586 "let"
        Whitespace@586..587 " "
        PATTERN_VARIABLE@587..594
          Ident@587..593 "nested"
          Whitespace@593..594 " "
        Eq@594..595 "="
        Whitespace@595..596 " "
        EXPR_CALL@596..647
          EXPR_IDENT@596..605
            PATH@596..605
              Ident@596..605 "slice_sub"
          ARG_LIST@605..647
            LParen@605..606 "("
            ARG@606..620
              EXPR_IDENT@606..618
                PATH@606..618
                  Ident@606..618 "values_slice"
              Comma@618..619 ","
              Whitespace@619..620 " "
            ARG@620..623
              EXPR_INT@620..621
                Int@620..621 "0"
              Comma@621..622 ","
              Whitespace@622..623 " "
            ARG@623..646
              EXPR_CALL@623..646
                EXPR_IDENT@623..632
                  PATH@623..632
                    Ident@623..632 "slice_len"
                ARG_LIST@632..646
                  LParen@632..633 "("
                  ARG@633..645
                    EXPR_IDENT@633..645
                      PATH@633..645
                        Ident@633..645 "values_slice"
                  RParen@645..646 ")"
            RParen@646..647 ")"
        Semi@647..648 ";"
        Whitespace@648..654 "\n\n    "
      STMT_LET@654..704
        LetKeyword@654..657 "let"
        Whitespace@657..658 " "
        PATTERN_VARIABLE@658..665
          Ident@658..665 "channel"
        Colon@665..666 ":"
        Whitespace@666..667 " "
        TYPE_TAPP@667..682
          PATH@667..674
            Ident@667..674 "Channel"
          TYPE_PARAM_LIST@674..682
            LBracket@674..675 "["
            TYPE_INT32@675..680
              Int32Keyword@675..680 "int32"
            RBracket@680..681 "]"
            Whitespace@681..682 " "
        Eq@682..683 "="
        Whitespace@683..684 " "
        EXPR_CALL@684..698
          EXPR_IDENT@684..695
            PATH@684..695
              Ident@684..695 "channel_new"
          ARG_LIST@695..698
            LParen@695..696 "("
            ARG@696..697
              EXPR_INT@696..697
                Int@696..697 "1"
            RParen@697..698 ")"
        Semi@698..699 ";"
        Whitespace@699..704 "\n    "
      STMT_EXPR@704..753
        EXPR_CALL@704..747
          EXPR_IDENT@704..716
            PATH@704..716
              Ident@704..716 "channel_send"
          ARG_LIST@716..747
            LParen@716..717 "("
            ARG@717..726
              EXPR_IDENT@717..724
                PATH@717..724
                  Ident@717..724 "channel"
              Comma@724..725 ","
              Whitespace@725..726 " "
            ARG@726..746
              EXPR_CALL@726..746
                EXPR_IDENT@726..735
                  PATH@726..735
                    Ident@726..735 "slice_get"
                ARG_LIST@735..746
                  LParen@735..736 "("
                  ARG@736..744
                    EXPR_IDENT@736..742
                      PATH@736..742
                        Ident@736..742 "nested"
                    Comma@742..743 ","
                    Whitespace@743..744 " "
                  ARG@744..745
                    EXPR_INT@744..745
                      Int@744..745 "1"
                  RParen@745..746 ")"
            RParen@746..747 ")"
        Semi@747..748 ";"
        Whitespace@748..753 "\n    "
      STMT_LET@753..795
        LetKeyword@753..756 "let"
        Whitespace@756..757 " "
        PATTERN_VARIABLE@757..766
          Ident@757..765 "received"
          Whitespace@765..766 " "
        Eq@766..767 "="
        Whitespace@767..768 " "
        EXPR_CALL@768..789
          EXPR_IDENT@768..780
            PATH@768..780
              Ident@768..780 "channel_recv"
          ARG_LIST@780..789
            LParen@780..781 "("
            ARG@781..788
              EXPR_IDENT@781..788
                PATH@781..788
                  Ident@781..788 "channel"
            RParen@788..789 ")"
        Semi@789..790 ";"
        Whitespace@790..795 "\n    "
      STMT_EXPR@795..824
        EXPR_CALL@795..817
          EXPR_IDENT@795..808
            PATH@795..808
              Ident@795..808 "channel_close"
          ARG_LIST@808..817
            LParen@808..809 "("
            ARG@809..816
              EXPR_IDENT@809..816
                PATH@809..816
                  Ident@809..816 "channel"
            RParen@816..817 ")"
        Semi@817..818 ";"
        Whitespace@818..824 "\n\n    "
      STMT_LET@824..919
        LetKeyword@824..827 "let"
        Whitespace@827..828 " "
        PATTERN_VARIABLE@828..834
          Ident@828..833 "total"
          Whitespace@833..834 " "
        Eq@834..835 "="
        Whitespace@835..836 " "
        EXPR_CALL@836..912
          EXPR_IDENT@836..846
            PATH@836..846
              Ident@836..840 "iter"
              ColonColon@840..842 "::"
              Ident@842..846 "fold"
          ARG_LIST@846..912
            LParen@846..847 "("
            ARG@847..860
              EXPR_CALL@847..858
                EXPR_IDENT@847..852
                  PATH@847..852
                    Ident@847..852 "range"
                ARG_LIST@852..858
                  LParen@852..853 "("
                  ARG@853..856
                    EXPR_INT@853..854
                      Int@853..854 "0"
                    Comma@854..855 ","
                    Whitespace@855..856 " "
                  ARG@856..857
                    EXPR_INT@856..857
                      Int@856..857 "3"
                  RParen@857..858 ")"
              Comma@858..859 ","
              Whitespace@859..860 " "
            ARG@860..863
              EXPR_INT@860..861
                Int@860..861 "0"
              Comma@861..862 ","
              Whitespace@862..863 " "
            ARG@863..911
              EXPR_CLOSURE@863..911
                CLOSURE_PARAM_LIST@863..885
                  Pipe@863..864 "|"
                  CLOSURE_PARAM@864..872
                    Ident@864..867 "sum"
                    Colon@867..868 ":"
                    Whitespace@868..869 " "
                    TYPE_INT@869..872
                      IntKeyword@869..872 "int"
                  Comma@872..873 ","
                  Whitespace@873..874 " "
                  CLOSURE_PARAM@874..883
                    Ident@874..878 "item"
                    Colon@878..879 ":"
                    Whitespace@879..880 " "
                    TYPE_INT@880..883
                      IntKeyword@880..883 "int"
                  Pipe@883..884 "|"
                  Whitespace@884..885 " "
                EXPR_CLOSURE_BODY@885..911
                  BLOCK@885..911
                    LBrace@885..886 "{"
                    Whitespace@886..895 "\n        "
                    EXPR_BINARY@895..910
                      EXPR_IDENT@895..899
                        PATH@895..899
                          Ident@895..898 "sum"
                          Whitespace@898..899 " "
                      Plus@899..900 "+"
                      Whitespace@900..901 " "
                      EXPR_IDENT@901..910
                        PATH@901..910
                          Ident@901..905 "item"
                          Whitespace@905..910 "\n    "
                    RBrace@910..911 "}"
            RParen@911..912 ")"
        Semi@912..913 ";"
        Whitespace@913..919 "\n\n    "
      EXPR_CALL@919..1085
        EXPR_IDENT@919..926
          PATH@919..926
            Ident@919..926 "println"
        ARG_LIST@926..1085
          LParen@926..927 "("
          Whitespace@927..936 "\n        "
          ARG@936..1083
            EXPR_BINARY@936..1077
              EXPR_BINARY@936..1058
                EXPR_BINARY@936..1021
                  EXPR_BINARY@936..984
                    EXPR_IDENT@936..953
                      PATH@936..953
                        Ident@936..940 "text"
                        Whitespace@940..953 "\n            "
                    Plus@953..954 "+"
                    Whitespace@954..955 " "
                    EXPR_CALL@955..984
                      EXPR_BINARY@955..969
                        EXPR_IDENT@955..959
                          PATH@955..959
                            Ident@955..959 "same"
                        Dot@959..960 "."
                        EXPR_IDENT@960..969
                          PATH@960..969
                            Ident@960..969 "to_string"
                      ARG_LIST@969..984
                        LParen@969..970 "("
                        RParen@970..971 ")"
                        Whitespace@971..984 "\n            "
                  Plus@984..985 "+"
                  Whitespace@985..986 " "
                  EXPR_CALL@986..1021
                    EXPR_BINARY@986..1006
                      EXPR_BINARY@986..996
                        EXPR_IDENT@986..994
                          PATH@986..994
                            Ident@986..994 "received"
                        Dot@994..995 "."
                        EXPR_INT@995..996
                          Int@995..996 "0"
                      Dot@996..997 "."
                      EXPR_IDENT@997..1006
                        PATH@997..1006
                          Ident@997..1006 "to_string"
                    ARG_LIST@1006..1021
                      LParen@1006..1007 "("
                      RParen@1007..1008 ")"
                      Whitespace@1008..1021 "\n            "
                Plus@1021..1022 "+"
                Whitespace@1022..1023 " "
                EXPR_CALL@1023..1058
                  EXPR_BINARY@1023..1043
                    EXPR_BINARY@1023..1033
                      EXPR_IDENT@1023..1031
                        PATH@1023..1031
                          Ident@1023..1031 "received"
                      Dot@1031..1032 "."
                      EXPR_INT@1032..1033
                        Int@1032..1033 "1"
                    Dot@1033..1034 "."
                    EXPR_IDENT@1034..1043
                      PATH@1034..1043
                        Ident@1034..1043 "to_string"
                  ARG_LIST@1043..1058
                    LParen@1043..1044 "("
                    RParen@1044..1045 ")"
                    Whitespace@1045..1058 "\n            "
              Plus@1058..1059 "+"
              Whitespace@1059..1060 " "
              EXPR_CALL@1060..1077
                EXPR_BINARY@1060..1075
                  EXPR_IDENT@1060..1065
                    PATH@1060..1065
                      Ident@1060..1065 "total"
                  Dot@1065..1066 "."
                  EXPR_IDENT@1066..1075
                    PATH@1066..1075
                      Ident@1066..1075 "to_string"
                ARG_LIST@1075..1077
                  LParen@1075..1076 "("
                  RParen@1076..1077 ")"
            Comma@1077..1078 ","
            Whitespace@1078..1083 "\n    "
          RParen@1083..1084 ")"
          Whitespace@1084..1085 "\n"
      RBrace@1085..1086 "}"
      Whitespace@1086..1087 "\n"