FILE@0..987
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Ident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT32@34..37
          I32Keyword@34..37 "i32"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  ENUM@42..89
    EnumKeyword@42..46 "enum"
    Whitespace@46..47 " "
    Ident@47..52 "Shape"
    Whitespace@52..53 " "
    LBrace@53..54 "{"
    Whitespace@54..59 "\n    "
    VARIANT_LIST@59..89
      VARIANT@59..63
        Ident@59..63 "Unit"
      Comma@63..64 ","
      Whitespace@64..69 "\n    "
      VARIANT@69..84
        Ident@69..77 "Location"
        TYPE_LIST@77..84
          LParen@77..78 "("
          ENUM_TUPLE_FIELD@78..83
            TYPE_TAPP@78..83
              PATH@78..83
                Ident@78..83 "Point"
          RParen@83..84 ")"
      Comma@84..85 ","
      Whitespace@85..86 "\n"
      RBrace@86..87 "}"
      Whitespace@87..89 "\n\n"
  TRAIT@89..149
    TraitKeyword@89..94 "trait"
    Whitespace@94..95 " "
    Ident@95..103 "TypeName"
    Whitespace@103..104 " "
    LBrace@104..105 "{"
    Whitespace@105..110 "\n    "
    TRAIT_METHOD_SIG_LIST@110..149
      TRAIT_METHOD_SIG@110..146
        FnKeyword@110..112 "fn"
        Whitespace@112..113 " "
        Ident@113..122 "type_name"
        PARAM_LIST@122..135
          LParen@122..123 "("
          PARAM@123..133
            Ident@123..127 "self"
            Colon@127..128 ":"
            Whitespace@128..129 " "
            TYPE_TAPP@129..133
              PATH@129..133
                Ident@129..133 "Self"
          RParen@133..134 ")"
          Whitespace@134..135 " "
        Arrow@135..137 "->"
        Whitespace@137..138 " "
        TYPE_STRING@138..144
          StringKeyword@138..144 "string"
        Semi@144..145 ";"
        Whitespace@145..146 "\n"
      RBrace@146..147 "}"
      Whitespace@147..149 "\n\n"
  IMPL@149..357
    ImplKeyword@149..153 "impl"
    Whitespace@153..154 " "
    TYPE_TAPP@154..163
      PATH@154..163
        Ident@154..162 "TypeName"
        Whitespace@162..163 " "
    ForKeyword@163..166 "for"
    Whitespace@166..167 " "
    TYPE_TAPP@167..173
      PATH@167..173
        Ident@167..172 "Point"
        Whitespace@172..173 " "
    LBrace@173..174 "{"
    Whitespace@174..179 "\n    "
    FN@179..354
      FnKeyword@179..181 "fn"
      Whitespace@181..182 " "
      Ident@182..191 "type_name"
      PARAM_LIST@191..204
        LParen@191..192 "("
        PARAM@192..202
          Ident@192..196 "self"
          Colon@196..197 ":"
          Whitespace@197..198 " "
          TYPE_TAPP@198..202
            PATH@198..202
              Ident@198..202 "Self"
        RParen@202..203 ")"
        Whitespace@203..204 " "
      Arrow@204..206 "->"
      Whitespace@206..207 " "
      TYPE_STRING@207..214
        StringKeyword@207..213 "string"
        Whitespace@213..214 " "
      BLOCK@214..354
        LBrace@214..215 "{"
        Whitespace@215..224 "\n        "
        STMT_LET@224..265
          LetKeyword@224..227 "let"
          Whitespace@227..228 " "
          PATTERN_CONSTR@228..249
            PATH@228..234
              Ident@228..233 "Point"
              Whitespace@233..234 " "
            STRUCT_PATTERN_FIELD_LIST@234..249
              LBrace@234..235 "{"
              Whitespace@235..236 " "
              STRUCT_PATTERN_FIELD@236..240
                Ident@236..237 "x"
                Colon@237..238 ":"
                Whitespace@238..239 " "
                PATTERN_VARIABLE@239..240
                  Ident@239..240 "x"
              Comma@240..241 ","
              Whitespace@241..242 " "
              STRUCT_PATTERN_FIELD@242..247
                Ident@242..243 "y"
                Colon@243..244 ":"
                Whitespace@244..245 " "
                PATTERN_VARIABLE@245..247
                  Ident@245..246 "y"
                  Whitespace@246..247 " "
              RBrace@247..248 "}"
              Whitespace@248..249 " "
          Eq@249..250 "="
          Whitespace@250..251 " "
          EXPR_IDENT@251..255
            PATH@251..255
              Ident@251..255 "self"
          Semi@255..256 ";"
          Whitespace@256..265 "\n        "
        STMT_LET@265..312
          LetKeyword@265..268 "let"
          Whitespace@268..269 " "
          PATTERN_VARIABLE@269..276
            Ident@269..275 "prefix"
            Whitespace@275..276 " "
          Eq@276..277 "="
          Whitespace@277..278 " "
          EXPR_BINARY@278..302
            EXPR_STR@278..287
              Str@278..286 "\"Point(\""
              Whitespace@286..287 " "
            Plus@287..288 "+"
            Whitespace@288..289 " "
            EXPR_CALL@289..302
              EXPR_BINARY@289..300
                EXPR_IDENT@289..290
                  PATH@289..290
                    Ident@289..290 "x"
                Dot@290..291 "."
                EXPR_IDENT@291..300
                  PATH@291..300
                    Ident@291..300 "to_string"
              ARG_LIST@300..302
                LParen@300..301 "("
                RParen@301..302 ")"
          Semi@302..303 ";"
          Whitespace@303..312 "\n        "
        EXPR_BINARY@312..352
          EXPR_BINARY@312..342
            EXPR_BINARY@312..326
              EXPR_IDENT@312..319
                PATH@312..319
                  Ident@312..318 "prefix"
                  Whitespace@318..319 " "
              Plus@319..320 "+"
              Whitespace@320..321 " "
              EXPR_STR@321..326
                Str@321..325 "\", \""
                Whitespace@325..326 " "
            Plus@326..327 "+"
            Whitespace@327..328 " "
            EXPR_CALL@328..342
              EXPR_BINARY@328..339
                EXPR_IDENT@328..329
                  PATH@328..329
                    Ident@328..329 "y"
                Dot@329..330 "."
                EXPR_IDENT@330..339
                  PATH@330..339
                    Ident@330..339 "to_string"
              ARG_LIST@339..342
                LParen@339..340 "("
                RParen@340..341 ")"
                Whitespace@341..342 " "
          Plus@342..343 "+"
          Whitespace@343..344 " "
          EXPR_STR@344..352
            Str@344..347 "\")\""
            Whitespace@347..352 "\n    "
        RBrace@352..353 "}"
        Whitespace@353..354 "\n"
    RBrace@354..355 "}"
    Whitespace@355..357 "\n\n"
  IMPL@357..563
    ImplKeyword@357..361 "impl"
    Whitespace@361..362 " "
    TYPE_TAPP@362..371
      PATH@362..371
        Ident@362..370 "TypeName"
        Whitespace@370..371 " "
    ForKeyword@371..374 "for"
    Whitespace@374..375 " "
    TYPE_TAPP@375..381
      PATH@375..381
        Ident@375..380 "Shape"
        Whitespace@380..381 " "
    LBrace@381..382 "{"
    Whitespace@382..387 "\n    "
    FN@387..560
      FnKeyword@387..389 "fn"
      Whitespace@389..390 " "
      Ident@390..399 "type_name"
      PARAM_LIST@399..412
        LParen@399..400 "("
        PARAM@400..410
          Ident@400..404 "self"
          Colon@404..405 ":"
          Whitespace@405..406 " "
          TYPE_TAPP@406..410
            PATH@406..410
              Ident@406..410 "Self"
        RParen@410..411 ")"
        Whitespace@411..412 " "
      Arrow@412..414 "->"
      Whitespace@414..415 " "
      TYPE_STRING@415..422
        StringKeyword@415..421 "string"
        Whitespace@421..422 " "
      BLOCK@422..560
        LBrace@422..423 "{"
        Whitespace@423..432 "\n        "
        EXPR_MATCH@432..558
          MatchKeyword@432..437 "match"
          Whitespace@437..438 " "
          EXPR_IDENT@438..443
            PATH@438..443
              Ident@438..442 "self"
              Whitespace@442..443 " "
          MATCH_ARM_LIST@443..558
            LBrace@443..444 "{"
            Whitespace@444..457 "\n            "
            MATCH_ARM@457..471
              PATTERN_CONSTR@457..462
                PATH@457..462
                  Ident@457..461 "Unit"
                  Whitespace@461..462 " "
              FatArrow@462..464 "=>"
              Whitespace@464..465 " "
              EXPR_STR@465..471
                Str@465..471 "\"Unit\""
            Comma@471..472 ","
            Whitespace@472..485 "\n            "
            MATCH_ARM@485..542
              PATTERN_CONSTR@485..501
                PATH@485..493
                  Ident@485..493 "Location"
                LParen@493..494 "("
                PATTERN_VARIABLE@494..499
                  Ident@494..499 "point"
                RParen@499..500 ")"
                Whitespace@500..501 " "
              FatArrow@501..503 "=>"
              Whitespace@503..504 " "
              EXPR_BINARY@504..542
                EXPR_STR@504..514
                  Str@504..513 "\"Shape::\""
                  Whitespace@513..514 " "
                Plus@514..515 "+"
                Whitespace@515..516 " "
                EXPR_CALL@516..542
                  EXPR_IDENT@516..535
                    PATH@516..535
                      Ident@516..524 "TypeName"
                      ColonColon@524..526 "::"
                      Ident@526..535 "type_name"
                  ARG_LIST@535..542
                    LParen@535..536 "("
                    ARG@536..541
                      EXPR_IDENT@536..541
                        PATH@536..541
                          Ident@536..541 "point"
                    RParen@541..542 ")"
            Comma@542..543 ","
            Whitespace@543..552 "\n        "
            RBrace@552..553 "}"
            Whitespace@553..558 "\n    "
        RBrace@558..559 "}"
        Whitespace@559..560 "\n"
    RBrace@560..561 "}"
    Whitespace@561..563 "\n\n"
  FN@563..637
    FnKeyword@563..565 "fn"
    Whitespace@565..566 " "
    Ident@566..576 "show_point"
    PARAM_LIST@576..591
      LParen@576..577 "("
      PARAM@577..589
        Ident@577..582 "point"
        Colon@582..583 ":"
        Whitespace@583..584 " "
        TYPE_TAPP@584..589
          PATH@584..589
            Ident@584..589 "Point"
      RParen@589..590 ")"
      Whitespace@590..591 " "
    Arrow@591..593 "->"
    Whitespace@593..594 " "
    TYPE_STRING@594..601
      StringKeyword@594..600 "string"
      Whitespace@600..601 " "
    BLOCK@601..637
      LBrace@601..602 "{"
      Whitespace@602..607 "\n    "
      EXPR_CALL@607..634
        EXPR_IDENT@607..626
          PATH@607..626
            Ident@607..615 "TypeName"
            ColonColon@615..617 "::"
            Ident@617..626 "type_name"
        ARG_LIST@626..634
          LParen@626..627 "("
          ARG@627..632
            EXPR_IDENT@627..632
              PATH@627..632
                Ident@627..632 "point"
          RParen@632..633 ")"
          Whitespace@633..634 "\n"
      RBrace@634..635 "}"
      Whitespace@635..637 "\n\n"
  FN@637..711
    FnKeyword@637..639 "fn"
    Whitespace@639..640 " "
    Ident@640..650 "show_shape"
    PARAM_LIST@650..665
      LParen@650..651 "("
      PARAM@651..663
        Ident@651..656 "shape"
        Colon@656..657 ":"
        Whitespace@657..658 " "
        TYPE_TAPP@658..663
          PATH@658..663
            Ident@658..663 "Shape"
      RParen@663..664 ")"
      Whitespace@664..665 " "
    Arrow@665..667 "->"
    Whitespace@667..668 " "
    TYPE_STRING@668..675
      StringKeyword@668..674 "string"
      Whitespace@674..675 " "
    BLOCK@675..711
      LBrace@675..676 "{"
      Whitespace@676..681 "\n    "
      EXPR_CALL@681..708
        EXPR_IDENT@681..700
          PATH@681..700
            Ident@681..689 "TypeName"
            ColonColon@689..691 "::"
            Ident@691..700 "type_name"
        ARG_LIST@700..708
          LParen@700..701 "("
          ARG@701..706
            EXPR_IDENT@701..706
              PATH@701..706
                Ident@701..706 "shape"
          RParen@706..707 ")"
          Whitespace@707..708 "\n"
      RBrace@708..709 "}"
      Whitespace@709..711 "\n\n"
  FN@711..987
    FnKeyword@711..713 "fn"
    Whitespace@713..714 " "
    Ident@714..718 "main"
    PARAM_LIST@718..721
      LParen@718..719 "("
      RParen@719..720 ")"
      Whitespace@720..721 " "
    Arrow@721..723 "->"
    Whitespace@723..724 " "
    TYPE_TUPLE@724..727
      TYPE_LIST@724..727
        LParen@724..725 "("
        RParen@725..726 ")"
        Whitespace@726..727 " "
    BLOCK@727..987
      LBrace@727..728 "{"
      Whitespace@728..733 "\n    "
      STMT_LET@733..771
        LetKeyword@733..736 "let"
        Whitespace@736..737 " "
        PATTERN_VARIABLE@737..743
          Ident@737..742 "point"
          Whitespace@742..743 " "
        Eq@743..744 "="
        Whitespace@744..745 " "
        EXPR_STRUCT_LITERAL@745..765
          PATH@745..751
            Ident@745..750 "Point"
            Whitespace@750..751 " "
          STRUCT_LITERAL_FIELD_LIST@751..765
            LBrace@751..752 "{"
            Whitespace@752..753 " "
            STRUCT_LITERAL_FIELD@753..757
              Ident@753..754 "x"
              Colon@754..755 ":"
              Whitespace@755..756 " "
              EXPR_INT@756..757
                Int@756..757 "7"
            Comma@757..758 ","
            Whitespace@758..759 " "
            STRUCT_LITERAL_FIELD@759..764
              Ident@759..760 "y"
              Colon@760..761 ":"
              Whitespace@761..762 " "
              EXPR_INT@762..764
                Int@762..763 "9"
                Whitespace@763..764 " "
            RBrace@764..765 "}"
        Semi@765..766 ";"
        Whitespace@766..771 "\n    "
      STMT_LET@771..811
        LetKeyword@771..774 "let"
        Whitespace@774..775 " "
        PATTERN_WILDCARD@775..777
          WildcardKeyword@775..776 "_"
          Whitespace@776..777 " "
        Eq@777..778 "="
        Whitespace@778..779 " "
        EXPR_CALL@779..805
          EXPR_IDENT@779..786
            PATH@779..786
              Ident@779..786 "println"
          ARG_LIST@786..805
            LParen@786..787 "("
            ARG@787..804
              EXPR_CALL@787..804
                EXPR_IDENT@787..797
                  PATH@787..797
                    Ident@787..797 "show_point"
                ARG_LIST@797..804
                  LParen@797..798 "("
                  ARG@798..803
                    EXPR_IDENT@798..803
                      PATH@798..803
                        Ident@798..803 "point"
                  RParen@803..804 ")"
            RParen@804..805 ")"
        Semi@805..806 ";"
        Whitespace@806..811 "\n    "
      STMT_LET@811..838
        LetKeyword@811..814 "let"
        Whitespace@814..815 " "
        PATTERN_VARIABLE@815..826
          Ident@815..825 "unit_shape"
          Whitespace@825..826 " "
        Eq@826..827 "="
        Whitespace@827..828 " "
        EXPR_IDENT@828..832
          PATH@828..832
            Ident@828..832 "Unit"
        Semi@832..833 ";"
        Whitespace@833..838 "\n    "
      STMT_LET@838..883
        LetKeyword@838..841 "let"
        Whitespace@841..842 " "
        PATTERN_WILDCARD@842..844
          WildcardKeyword@842..843 "_"
          Whitespace@843..844 " "
        Eq@844..845 "="
        Whitespace@845..846 " "
        EXPR_CALL@846..877
          EXPR_IDENT@846..853
            PATH@846..853
              Ident@846..853 "println"
          ARG_LIST@853..877
            LParen@853..854 "("
            ARG@854..876
              EXPR_CALL@854..876
                EXPR_IDENT@854..864
                  PATH@854..864
                    Ident@854..864 "show_shape"
                ARG_LIST@864..876
                  LParen@864..865 "("
                  ARG@865..875
                    EXPR_IDENT@865..875
                      PATH@865..875
                        Ident@865..875 "unit_shape"
                  RParen@875..876 ")"
            RParen@876..877 ")"
        Semi@877..878 ";"
        Whitespace@878..883 "\n    "
      STMT_LET@883..940
        LetKeyword@883..886 "let"
        Whitespace@886..887 " "
        PATTERN_VARIABLE@887..902
          Ident@887..901 "location_shape"
          Whitespace@901..902 " "
        Eq@902..903 "="
        Whitespace@903..904 " "
        EXPR_CALL@904..934
          EXPR_IDENT@904..912
            PATH@904..912
              Ident@904..912 "Location"
          ARG_LIST@912..934
            LParen@912..913 "("
            ARG@913..933
              EXPR_STRUCT_LITERAL@913..933
                PATH@913..919
                  Ident@913..918 "Point"
                  Whitespace@918..919 " "
                STRUCT_LITERAL_FIELD_LIST@919..933
                  LBrace@919..920 "{"
                  Whitespace@920..921 " "
                  STRUCT_LITERAL_FIELD@921..925
                    Ident@921..922 "x"
                    Colon@922..923 ":"
                    Whitespace@923..924 " "
                    EXPR_INT@924..925
                      Int@924..925 "1"
                  Comma@925..926 ","
                  Whitespace@926..927 " "
                  STRUCT_LITERAL_FIELD@927..932
                    Ident@927..928 "y"
                    Colon@928..929 ":"
                    Whitespace@929..930 " "
                    EXPR_INT@930..932
                      Int@930..931 "2"
                      Whitespace@931..932 " "
                  RBrace@932..933 "}"
            RParen@933..934 ")"
        Semi@934..935 ";"
        Whitespace@935..940 "\n    "
      STMT_LET@940..985
        LetKeyword@940..943 "let"
        Whitespace@943..944 " "
        PATTERN_WILDCARD@944..946
          WildcardKeyword@944..945 "_"
          Whitespace@945..946 " "
        Eq@946..947 "="
        Whitespace@947..948 " "
        EXPR_CALL@948..983
          EXPR_IDENT@948..955
            PATH@948..955
              Ident@948..955 "println"
          ARG_LIST@955..983
            LParen@955..956 "("
            ARG@956..982
              EXPR_CALL@956..982
                EXPR_IDENT@956..966
                  PATH@956..966
                    Ident@956..966 "show_shape"
                ARG_LIST@966..982
                  LParen@966..967 "("
                  ARG@967..981
                    EXPR_IDENT@967..981
                      PATH@967..981
                        Ident@967..981 "location_shape"
                  RParen@981..982 ")"
            RParen@982..983 ")"
        Semi@983..984 ";"
        Whitespace@984..985 "\n"
      RBrace@985..986 "}"
      Whitespace@986..987 "\n"