FILE@0..1425
  FN@0..139
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "mark_channel"
    PARAM_LIST@15..73
      LParen@15..16 "("
      PARAM@16..34
        Ident@16..19 "log"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_TAPP@21..32
          PATH@21..24
            Ident@21..24 "Ref"
          TYPE_PARAM_LIST@24..32
            LBracket@24..25 "["
            TYPE_STRING@25..31
              StringKeyword@25..31 "string"
            RBracket@31..32 "]"
        Comma@32..33 ","
        Whitespace@33..34 " "
      PARAM@34..48
        Ident@34..38 "mark"
        Colon@38..39 ":"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Comma@46..47 ","
        Whitespace@47..48 " "
      PARAM@48..71
        Ident@48..55 "channel"
        Colon@55..56 ":"
        Whitespace@56..57 " "
        TYPE_TAPP@57..71
          PATH@57..64
            Ident@57..64 "Channel"
          TYPE_PARAM_LIST@64..71
            LBracket@64..65 "["
            TYPE_INT@65..70
              IsizeKeyword@65..70 "isize"
            RBracket@70..71 "]"
      RParen@71..72 ")"
      Whitespace@72..73 " "
    Arrow@73..75 "->"
    Whitespace@75..76 " "
    TYPE_TAPP@76..91
      PATH@76..83
        Ident@76..83 "Channel"
      TYPE_PARAM_LIST@83..91
        LBracket@83..84 "["
        TYPE_INT@84..89
          IsizeKeyword@84..89 "isize"
        RBracket@89..90 "]"
        Whitespace@90..91 " "
    BLOCK@91..139
      LBrace@91..92 "{"
      Whitespace@92..97 "\n    "
      STMT_EXPR@97..128
        EXPR_CALL@97..122
          EXPR_BINARY@97..104
            EXPR_IDENT@97..100
              PATH@97..100
                Ident@97..100 "log"
            Dot@100..101 "."
            EXPR_IDENT@101..104
              PATH@101..104
                Ident@101..104 "set"
          ARG_LIST@104..122
            LParen@104..105 "("
            ARG@105..121
              EXPR_BINARY@105..121
                EXPR_CALL@105..115
                  EXPR_BINARY@105..112
                    EXPR_IDENT@105..108
                      PATH@105..108
                        Ident@105..108 "log"
                    Dot@108..109 "."
                    EXPR_IDENT@109..112
                      PATH@109..112
                        Ident@109..112 "get"
                  ARG_LIST@112..115
                    LParen@112..113 "("
                    RParen@113..114 ")"
                    Whitespace@114..115 " "
                Plus@115..116 "+"
                Whitespace@116..117 " "
                EXPR_IDENT@117..121
                  PATH@117..121
                    Ident@117..121 "mark"
            RParen@121..122 ")"
        Semi@122..123 ";"
        Whitespace@123..128 "\n    "
      EXPR_IDENT@128..136
        PATH@128..136
          Ident@128..135 "channel"
          Whitespace@135..136 "\n"
      RBrace@136..137 "}"
      Whitespace@137..139 "\n\n"
  FN@139..254
    FnKeyword@139..141 "fn"
    Whitespace@141..142 " "
    Ident@142..152 "mark_value"
    PARAM_LIST@152..199
      LParen@152..153 "("
      PARAM@153..171
        Ident@153..156 "log"
        Colon@156..157 ":"
        Whitespace@157..158 " "
        TYPE_TAPP@158..169
          PATH@158..161
            Ident@158..161 "Ref"
          TYPE_PARAM_LIST@161..169
            LBracket@161..162 "["
            TYPE_STRING@162..168
              StringKeyword@162..168 "string"
            RBracket@168..169 "]"
        Comma@169..170 ","
        Whitespace@170..171 " "
      PARAM@171..185
        Ident@171..175 "mark"
        Colon@175..176 ":"
        Whitespace@176..177 " "
        TYPE_STRING@177..183
          StringKeyword@177..183 "string"
        Comma@183..184 ","
        Whitespace@184..185 " "
      PARAM@185..197
        Ident@185..190 "value"
        Colon@190..191 ":"
        Whitespace@191..192 " "
        TYPE_INT@192..197
          IsizeKeyword@192..197 "isize"
      RParen@197..198 ")"
      Whitespace@198..199 " "
    Arrow@199..201 "->"
    Whitespace@201..202 " "
    TYPE_INT@202..208
      IsizeKeyword@202..207 "isize"
      Whitespace@207..208 " "
    BLOCK@208..254
      LBrace@208..209 "{"
      Whitespace@209..214 "\n    "
      STMT_EXPR@214..245
        EXPR_CALL@214..239
          EXPR_BINARY@214..221
            EXPR_IDENT@214..217
              PATH@214..217
                Ident@214..217 "log"
            Dot@217..218 "."
            EXPR_IDENT@218..221
              PATH@218..221
                Ident@218..221 "set"
          ARG_LIST@221..239
            LParen@221..222 "("
            ARG@222..238
              EXPR_BINARY@222..238
                EXPR_CALL@222..232
                  EXPR_BINARY@222..229
                    EXPR_IDENT@222..225
                      PATH@222..225
                        Ident@222..225 "log"
                    Dot@225..226 "."
                    EXPR_IDENT@226..229
                      PATH@226..229
                        Ident@226..229 "get"
                  ARG_LIST@229..232
                    LParen@229..230 "("
                    RParen@230..231 ")"
                    Whitespace@231..232 " "
                Plus@232..233 "+"
                Whitespace@233..234 " "
                EXPR_IDENT@234..238
                  PATH@234..238
                    Ident@234..238 "mark"
            RParen@238..239 ")"
        Semi@239..240 ";"
        Whitespace@240..245 "\n    "
      EXPR_IDENT@245..251
        PATH@245..251
          Ident@245..250 "value"
          Whitespace@250..251 "\n"
      RBrace@251..252 "}"
      Whitespace@252..254 "\n\n"
  FN@254..1425
    FnKeyword@254..256 "fn"
    Whitespace@256..257 " "
    Ident@257..261 "main"
    PARAM_LIST@261..264
      LParen@261..262 "("
      RParen@262..263 ")"
      Whitespace@263..264 " "
    Arrow@264..266 "->"
    Whitespace@266..267 " "
    TYPE_TUPLE@267..270
      TYPE_LIST@267..270
        LParen@267..268 "("
        RParen@268..269 ")"
        Whitespace@269..270 " "
    BLOCK@270..1425
      LBrace@270..271 "{"
      Whitespace@271..276 "\n    "
      STMT_LET@276..321
        LetKeyword@276..279 "let"
        Whitespace@279..280 " "
        PATTERN_VARIABLE@280..289
          Ident@280..288 "received"
          Whitespace@288..289 " "
        Eq@289..290 "="
        Whitespace@290..291 " "
        EXPR_CALL@291..315
          EXPR_IDENT@291..312
            TYPE_TAPP@291..307
              PATH@291..298
                Ident@291..298 "Channel"
              ColonColon@298..300 "::"
              TYPE_PARAM_LIST@300..307
                LBracket@300..301 "["
                TYPE_INT@301..306
                  IsizeKeyword@301..306 "isize"
                RBracket@306..307 "]"
            ColonColon@307..309 "::"
            PATH@309..312
              Ident@309..312 "new"
          ARG_LIST@312..315
            LParen@312..313 "("
            ARG@313..314
              EXPR_INT@313..314
                Int@313..314 "1"
            RParen@314..315 ")"
        Semi@315..316 ";"
        Whitespace@316..321 "\n    "
      STMT_EXPR@321..343
        EXPR_CALL@321..337
          EXPR_BINARY@321..334
            EXPR_IDENT@321..329
              PATH@321..329
                Ident@321..329 "received"
            Dot@329..330 "."
            EXPR_IDENT@330..334
              PATH@330..334
                Ident@330..334 "send"
          ARG_LIST@334..337
            LParen@334..335 "("
            ARG@335..336
              EXPR_INT@335..336
                Int@335..336 "7"
            RParen@336..337 ")"
        Semi@337..338 ";"
        Whitespace@338..343 "\n    "
      STMT_LET@343..511
        LetKeyword@343..346 "let"
        Whitespace@346..347 " "
        PATTERN_VARIABLE@347..353
          Ident@347..352 "first"
          Whitespace@352..353 " "
        Eq@353..354 "="
        Whitespace@354..355 " "
        EXPR_SELECT@355..505
          Ident@355..361 "select"
          Whitespace@361..362 " "
          SELECT_ARM_LIST@362..505
            LBrace@362..363 "{"
            Whitespace@363..372 "\n        "
            SELECT_RECV_ARM@372..476
              Ident@372..376 "recv"
              LParen@376..377 "("
              EXPR_IDENT@377..385
                PATH@377..385
                  Ident@377..385 "received"
              RParen@385..386 ")"
              Whitespace@386..387 " "
              AsKeyword@387..389 "as"
              Whitespace@389..390 " "
              SELECT_RECV_BINDING@390..396
                Ident@390..395 "value"
                Whitespace@395..396 " "
              FatArrow@396..398 "=>"
              Whitespace@398..399 " "
              BLOCK@399..476
                LBrace@399..400 "{"
                Whitespace@400..413 "\n            "
                STMT_LET@413..460
                  LetKeyword@413..416 "let"
                  Whitespace@416..417 " "
                  PATTERN_VARIABLE@417..422
                    Ident@417..421 "read"
                    Whitespace@421..422 " "
                  Eq@422..423 "="
                  Whitespace@423..424 " "
                  EXPR_CLOSURE@424..446
                    CLOSURE_PARAM_LIST@424..427
                      OrOr@424..426 "||"
                      Whitespace@426..427 " "
                    EXPR_CLOSURE_BODY@427..446
                      EXPR_CALL@427..446
                        EXPR_BINARY@427..442
                          EXPR_IDENT@427..432
                            PATH@427..432
                              Ident@427..432 "value"
                          Dot@432..433 "."
                          EXPR_IDENT@433..442
                            PATH@433..442
                              Ident@433..442 "unwrap_or"
                        ARG_LIST@442..446
                          LParen@442..443 "("
                          ARG@443..445
                            EXPR_PREFIX@443..445
                              Minus@443..444 "-"
                              EXPR_INT@444..445
                                Int@444..445 "1"
                          RParen@445..446 ")"
                  Semi@446..447 ";"
                  Whitespace@447..460 "\n            "
                EXPR_CALL@460..475
                  EXPR_IDENT@460..464
                    PATH@460..464
                      Ident@460..464 "read"
                  ARG_LIST@464..475
                    LParen@464..465 "("
                    RParen@465..466 ")"
                    Whitespace@466..475 "\n        "
                RBrace@475..476 "}"
            Comma@476..477 ","
            Whitespace@477..486 "\n        "
            SELECT_DEFAULT_ARM@486..498
              Ident@486..493 "default"
              Whitespace@493..494 " "
              FatArrow@494..496 "=>"
              Whitespace@496..497 " "
              EXPR_INT@497..498
                Int@497..498 "0"
            Comma@498..499 ","
            Whitespace@499..504 "\n    "
            RBrace@504..505 "}"
        Semi@505..506 ";"
        Whitespace@506..511 "\n    "
      STMT_EXPR@511..532
        EXPR_CALL@511..525
          EXPR_IDENT@511..518
            PATH@511..518
              Ident@511..518 "println"
          ARG_LIST@518..525
            LParen@518..519 "("
            ARG@519..524
              EXPR_IDENT@519..524
                PATH@519..524
                  Ident@519..524 "first"
            RParen@524..525 ")"
        Semi@525..526 ";"
        Whitespace@526..532 "\n\n    "
      STMT_LET@532..574
        LetKeyword@532..535 "let"
        Whitespace@535..536 " "
        PATTERN_VARIABLE@536..541
          Ident@536..540 "sent"
          Whitespace@540..541 " "
        Eq@541..542 "="
        Whitespace@542..543 " "
        EXPR_CALL@543..568
          EXPR_IDENT@543..565
            TYPE_TAPP@543..560
              PATH@543..550
                Ident@543..550 "Channel"
              ColonColon@550..552 "::"
              TYPE_PARAM_LIST@552..560
                LBracket@552..553 "["
                TYPE_STRING@553..559
                  StringKeyword@553..559 "string"
                RBracket@559..560 "]"
            ColonColon@560..562 "::"
            PATH@562..565
              Ident@562..565 "new"
          ARG_LIST@565..568
            LParen@565..566 "("
            ARG@566..567
              EXPR_INT@566..567
                Int@566..567 "1"
            RParen@567..568 ")"
        Semi@568..569 ";"
        Whitespace@569..574 "\n    "
      STMT_LET@574..676
        LetKeyword@574..577 "let"
        Whitespace@577..578 " "
        PATTERN_VARIABLE@578..585
          Ident@578..584 "branch"
          Whitespace@584..585 " "
        Eq@585..586 "="
        Whitespace@586..587 " "
        EXPR_SELECT@587..670
          Ident@587..593 "select"
          Whitespace@593..594 " "
          SELECT_ARM_LIST@594..670
            LBrace@594..595 "{"
            Whitespace@595..604 "\n        "
            SELECT_SEND_ARM@604..633
              Ident@604..608 "send"
              LParen@608..609 "("
              EXPR_IDENT@609..613
                PATH@609..613
                  Ident@609..613 "sent"
              Comma@613..614 ","
              Whitespace@614..615 " "
              EXPR_STR@615..622
                Str@615..622 "\"ready\""
              RParen@622..623 ")"
              Whitespace@623..624 " "
              FatArrow@624..626 "=>"
              Whitespace@626..627 " "
              EXPR_STR@627..633
                Str@627..633 "\"sent\""
            Comma@633..634 ","
            Whitespace@634..643 "\n        "
            SELECT_DEFAULT_ARM@643..663
              Ident@643..650 "default"
              Whitespace@650..651 " "
              FatArrow@651..653 "=>"
              Whitespace@653..654 " "
              EXPR_STR@654..663
                Str@654..663 "\"blocked\""
            Comma@663..664 ","
            Whitespace@664..669 "\n    "
            RBrace@669..670 "}"
        Semi@670..671 ";"
        Whitespace@671..676 "\n    "
      STMT_EXPR@676..697
        EXPR_CALL@676..691
          EXPR_IDENT@676..683
            PATH@676..683
              Ident@676..683 "println"
          ARG_LIST@683..691
            LParen@683..684 "("
            ARG@684..690
              EXPR_IDENT@684..690
                PATH@684..690
                  Ident@684..690 "branch"
            RParen@690..691 ")"
        Semi@691..692 ";"
        Whitespace@692..697 "\n    "
      STMT_EXPR@697..745
        EXPR_CALL@697..738
          EXPR_IDENT@697..704
            PATH@697..704
              Ident@697..704 "println"
          ARG_LIST@704..738
            LParen@704..705 "("
            ARG@705..737
              EXPR_CALL@705..737
                EXPR_BINARY@705..726
                  EXPR_CALL@705..716
                    EXPR_BINARY@705..714
                      EXPR_IDENT@705..709
                        PATH@705..709
                          Ident@705..709 "sent"
                      Dot@709..710 "."
                      EXPR_IDENT@710..714
                        PATH@710..714
                          Ident@710..714 "recv"
                    ARG_LIST@714..716
                      LParen@714..715 "("
                      RParen@715..716 ")"
                  Dot@716..717 "."
                  EXPR_IDENT@717..726
                    PATH@717..726
                      Ident@717..726 "unwrap_or"
                ARG_LIST@726..737
                  LParen@726..727 "("
                  ARG@727..736
                    EXPR_STR@727..736
                      Str@727..736 "\"missing\""
                  RParen@736..737 ")"
            RParen@737..738 ")"
        Semi@738..739 ";"
        Whitespace@739..745 "\n\n    "
      STMT_LET@745..787
        LetKeyword@745..748 "let"
        Whitespace@748..749 " "
        PATTERN_VARIABLE@749..755
          Ident@749..754 "empty"
          Whitespace@754..755 " "
        Eq@755..756 "="
        Whitespace@756..757 " "
        EXPR_CALL@757..781
          EXPR_IDENT@757..778
            TYPE_TAPP@757..773
              PATH@757..764
                Ident@757..764 "Channel"
              ColonColon@764..766 "::"
              TYPE_PARAM_LIST@766..773
                LBracket@766..767 "["
                TYPE_INT@767..772
                  IsizeKeyword@767..772 "isize"
                RBracket@772..773 "]"
            ColonColon@773..775 "::"
            PATH@775..778
              Ident@775..778 "new"
          ARG_LIST@778..781
            LParen@778..779 "("
            ARG@779..780
              EXPR_INT@779..780
                Int@779..780 "0"
            RParen@780..781 ")"
        Semi@781..782 ";"
        Whitespace@782..787 "\n    "
      STMT_LET@787..877
        LetKeyword@787..790 "let"
        Whitespace@790..791 " "
        PATTERN_VARIABLE@791..800
          Ident@791..799 "fallback"
          Whitespace@799..800 " "
        Eq@800..801 "="
        Whitespace@801..802 " "
        EXPR_SELECT@802..871
          Ident@802..808 "select"
          Whitespace@808..809 " "
          SELECT_ARM_LIST@809..871
            LBrace@809..810 "{"
            Whitespace@810..819 "\n        "
            SELECT_RECV_ARM@819..841
              Ident@819..823 "recv"
              LParen@823..824 "("
              EXPR_IDENT@824..829
                PATH@824..829
                  Ident@824..829 "empty"
              RParen@829..830 ")"
              Whitespace@830..831 " "
              AsKeyword@831..833 "as"
              Whitespace@833..834 " "
              SELECT_RECV_BINDING@834..836
                WildcardKeyword@834..835 "_"
                Whitespace@835..836 " "
              FatArrow@836..838 "=>"
              Whitespace@838..839 " "
              EXPR_PREFIX@839..841
                Minus@839..840 "-"
                EXPR_INT@840..841
                  Int@840..841 "1"
            Comma@841..842 ","
            Whitespace@842..851 "\n        "
            SELECT_DEFAULT_ARM@851..864
              Ident@851..858 "default"
              Whitespace@858..859 " "
              FatArrow@859..861 "=>"
              Whitespace@861..862 " "
              EXPR_INT@862..864
                Int@862..864 "42"
            Comma@864..865 ","
            Whitespace@865..870 "\n    "
            RBrace@870..871 "}"
        Semi@871..872 ";"
        Whitespace@872..877 "\n    "
      STMT_EXPR@877..901
        EXPR_CALL@877..894
          EXPR_IDENT@877..884
            PATH@877..884
              Ident@877..884 "println"
          ARG_LIST@884..894
            LParen@884..885 "("
            ARG@885..893
              EXPR_IDENT@885..893
                PATH@885..893
                  Ident@885..893 "fallback"
            RParen@893..894 ")"
        Semi@894..895 ";"
        Whitespace@895..901 "\n\n    "
      STMT_LET@901..929
        LetKeyword@901..904 "let"
        Whitespace@904..905 " "
        PATTERN_VARIABLE@905..909
          Ident@905..908 "log"
          Whitespace@908..909 " "
        Eq@909..910 "="
        Whitespace@910..911 " "
        EXPR_CALL@911..923
          EXPR_IDENT@911..919
            PATH@911..919
              Ident@911..914 "Ref"
              ColonColon@914..916 "::"
              Ident@916..919 "new"
          ARG_LIST@919..923
            LParen@919..920 "("
            ARG@920..922
              EXPR_STR@920..922
                Str@920..922 "\"\""
            RParen@922..923 ")"
        Semi@923..924 ";"
        Whitespace@924..929 "\n    "
      STMT_LET@929..970
        LetKeyword@929..932 "let"
        Whitespace@932..933 " "
        PATTERN_VARIABLE@933..938
          Ident@933..937 "left"
          Whitespace@937..938 " "
        Eq@938..939 "="
        Whitespace@939..940 " "
        EXPR_CALL@940..964
          EXPR_IDENT@940..961
            TYPE_TAPP@940..956
              PATH@940..947
                Ident@940..947 "Channel"
              ColonColon@947..949 "::"
              TYPE_PARAM_LIST@949..956
                LBracket@949..950 "["
                TYPE_INT@950..955
                  IsizeKeyword@950..955 "isize"
                RBracket@955..956 "]"
            ColonColon@956..958 "::"
            PATH@958..961
              Ident@958..961 "new"
          ARG_LIST@961..964
            LParen@961..962 "("
            ARG@962..963
              EXPR_INT@962..963
                Int@962..963 "0"
            RParen@963..964 ")"
        Semi@964..965 ";"
        Whitespace@965..970 "\n    "
      STMT_LET@970..1012
        LetKeyword@970..973 "let"
        Whitespace@973..974 " "
        PATTERN_VARIABLE@974..980
          Ident@974..979 "right"
          Whitespace@979..980 " "
        Eq@980..981 "="
        Whitespace@981..982 " "
        EXPR_CALL@982..1006
          EXPR_IDENT@982..1003
            TYPE_TAPP@982..998
              PATH@982..989
                Ident@982..989 "Channel"
              ColonColon@989..991 "::"
              TYPE_PARAM_LIST@991..998
                LBracket@991..992 "["
                TYPE_INT@992..997
                  IsizeKeyword@992..997 "isize"
                RBracket@997..998 "]"
            ColonColon@998..1000 "::"
            PATH@1000..1003
              Ident@1000..1003 "new"
          ARG_LIST@1003..1006
            LParen@1003..1004 "("
            ARG@1004..1005
              EXPR_INT@1004..1005
                Int@1004..1005 "0"
            RParen@1005..1006 ")"
        Semi@1006..1007 ";"
        Whitespace@1007..1012 "\n    "
      STMT_EXPR@1012..1206
        EXPR_SELECT@1012..1200
          Ident@1012..1018 "select"
          Whitespace@1018..1019 " "
          SELECT_ARM_LIST@1019..1200
            LBrace@1019..1020 "{"
            Whitespace@1020..1029 "\n        "
            SELECT_SEND_ARM@1029..1094
              Ident@1029..1033 "send"
              LParen@1033..1034 "("
              EXPR_CALL@1034..1062
                EXPR_IDENT@1034..1046
                  PATH@1034..1046
                    Ident@1034..1046 "mark_channel"
                ARG_LIST@1046..1062
                  LParen@1046..1047 "("
                  ARG@1047..1052
                    EXPR_IDENT@1047..1050
                      PATH@1047..1050
                        Ident@1047..1050 "log"
                    Comma@1050..1051 ","
                    Whitespace@1051..1052 " "
                  ARG@1052..1057
                    EXPR_STR@1052..1055
                      Str@1052..1055 "\"a\""
                    Comma@1055..1056 ","
                    Whitespace@1056..1057 " "
                  ARG@1057..1061
                    EXPR_IDENT@1057..1061
                      PATH@1057..1061
                        Ident@1057..1061 "left"
                  RParen@1061..1062 ")"
              Comma@1062..1063 ","
              Whitespace@1063..1064 " "
              EXPR_CALL@1064..1087
                EXPR_IDENT@1064..1074
                  PATH@1064..1074
                    Ident@1064..1074 "mark_value"
                ARG_LIST@1074..1087
                  LParen@1074..1075 "("
                  ARG@1075..1080
                    EXPR_IDENT@1075..1078
                      PATH@1075..1078
                        Ident@1075..1078 "log"
                    Comma@1078..1079 ","
                    Whitespace@1079..1080 " "
                  ARG@1080..1085
                    EXPR_STR@1080..1083
                      Str@1080..1083 "\"1\""
                    Comma@1083..1084 ","
                    Whitespace@1084..1085 " "
                  ARG@1085..1086
                    EXPR_INT@1085..1086
                      Int@1085..1086 "1"
                  RParen@1086..1087 ")"
              RParen@1087..1088 ")"
              Whitespace@1088..1089 " "
              FatArrow@1089..1091 "=>"
              Whitespace@1091..1092 " "
              EXPR_UNIT@1092..1094
                LParen@1092..1093 "("
                RParen@1093..1094 ")"
            Comma@1094..1095 ","
            Whitespace@1095..1104 "\n        "
            SELECT_SEND_ARM@1104..1170
              Ident@1104..1108 "send"
              LParen@1108..1109 "("
              EXPR_CALL@1109..1138
                EXPR_IDENT@1109..1121
                  PATH@1109..1121
                    Ident@1109..1121 "mark_channel"
                ARG_LIST@1121..1138
                  LParen@1121..1122 "("
                  ARG@1122..1127
                    EXPR_IDENT@1122..1125
                      PATH@1122..1125
                        Ident@1122..1125 "log"
                    Comma@1125..1126 ","
                    Whitespace@1126..1127 " "
                  ARG@1127..1132
                    EXPR_STR@1127..1130
                      Str@1127..1130 "\"b\""
                    Comma@1130..1131 ","
                    Whitespace@1131..1132 " "
                  ARG@1132..1137
                    EXPR_IDENT@1132..1137
                      PATH@1132..1137
                        Ident@1132..1137 "right"
                  RParen@1137..1138 ")"
              Comma@1138..1139 ","
              Whitespace@1139..1140 " "
              EXPR_CALL@1140..1163
                EXPR_IDENT@1140..1150
                  PATH@1140..1150
                    Ident@1140..1150 "mark_value"
                ARG_LIST@1150..1163
                  LParen@1150..1151 "("
                  ARG@1151..1156
                    EXPR_IDENT@1151..1154
                      PATH@1151..1154
                        Ident@1151..1154 "log"
                    Comma@1154..1155 ","
                    Whitespace@1155..1156 " "
                  ARG@1156..1161
                    EXPR_STR@1156..1159
                      Str@1156..1159 "\"2\""
                    Comma@1159..1160 ","
                    Whitespace@1160..1161 " "
                  ARG@1161..1162
                    EXPR_INT@1161..1162
                      Int@1161..1162 "2"
                  RParen@1162..1163 ")"
              RParen@1163..1164 ")"
              Whitespace@1164..1165 " "
              FatArrow@1165..1167 "=>"
              Whitespace@1167..1168 " "
              EXPR_UNIT@1168..1170
                LParen@1168..1169 "("
                RParen@1169..1170 ")"
            Comma@1170..1171 ","
            Whitespace@1171..1180 "\n        "
            SELECT_DEFAULT_ARM@1180..1193
              Ident@1180..1187 "default"
              Whitespace@1187..1188 " "
              FatArrow@1188..1190 "=>"
              Whitespace@1190..1191 " "
              EXPR_UNIT@1191..1193
                LParen@1191..1192 "("
                RParen@1192..1193 ")"
            Comma@1193..1194 ","
            Whitespace@1194..1199 "\n    "
            RBrace@1199..1200 "}"
        Semi@1200..1201 ";"
        Whitespace@1201..1206 "\n    "
      STMT_EXPR@1206..1231
        EXPR_CALL@1206..1224
          EXPR_IDENT@1206..1213
            PATH@1206..1213
              Ident@1206..1213 "println"
          ARG_LIST@1213..1224
            LParen@1213..1214 "("
            ARG@1214..1223
              EXPR_CALL@1214..1223
                EXPR_BINARY@1214..1221
                  EXPR_IDENT@1214..1217
                    PATH@1214..1217
                      Ident@1214..1217 "log"
                  Dot@1217..1218 "."
                  EXPR_IDENT@1218..1221
                    PATH@1218..1221
                      Ident@1218..1221 "get"
                ARG_LIST@1221..1223
                  LParen@1221..1222 "("
                  RParen@1222..1223 ")"
            RParen@1223..1224 ")"
        Semi@1224..1225 ";"
        Whitespace@1225..1231 "\n\n    "
      STMT_EXPR@1231..1253
        EXPR_CALL@1231..1247
          EXPR_BINARY@1231..1245
            EXPR_IDENT@1231..1239
              PATH@1231..1239
                Ident@1231..1239 "received"
            Dot@1239..1240 "."
            EXPR_IDENT@1240..1245
              PATH@1240..1245
                Ident@1240..1245 "close"
          ARG_LIST@1245..1247
            LParen@1245..1246 "("
            RParen@1246..1247 ")"
        Semi@1247..1248 ";"
        Whitespace@1248..1253 "\n    "
      STMT_LET@1253..1407
        LetKeyword@1253..1256 "let"
        Whitespace@1256..1257 " "
        PATTERN_VARIABLE@1257..1264
          Ident@1257..1263 "closed"
          Whitespace@1263..1264 " "
        Eq@1264..1265 "="
        Whitespace@1265..1266 " "
        EXPR_SELECT@1266..1401
          Ident@1266..1272 "select"
          Whitespace@1272..1273 " "
          SELECT_ARM_LIST@1273..1401
            LBrace@1273..1274 "{"
            Whitespace@1274..1283 "\n        "
            SELECT_RECV_ARM@1283..1394
              Ident@1283..1287 "recv"
              LParen@1287..1288 "("
              EXPR_IDENT@1288..1296
                PATH@1288..1296
                  Ident@1288..1296 "received"
              RParen@1296..1297 ")"
              Whitespace@1297..1298 " "
              AsKeyword@1298..1300 "as"
              Whitespace@1300..1301 " "
              SELECT_RECV_BINDING@1301..1307
                Ident@1301..1306 "value"
                Whitespace@1306..1307 " "
              FatArrow@1307..1309 "=>"
              Whitespace@1309..1310 " "
              EXPR_MATCH@1310..1394
                MatchKeyword@1310..1315 "match"
                Whitespace@1315..1316 " "
                EXPR_IDENT@1316..1322
                  PATH@1316..1322
                    Ident@1316..1321 "value"
                    Whitespace@1321..1322 " "
                MATCH_ARM_LIST@1322..1394
                  LBrace@1322..1323 "{"
                  Whitespace@1323..1336 "\n            "
                  MATCH_ARM@1336..1353
                    PATTERN_CONSTR@1336..1344
                      PATH@1336..1340
                        Ident@1336..1340 "Some"
                      LParen@1340..1341 "("
                      PATTERN_WILDCARD@1341..1342
                        WildcardKeyword@1341..1342 "_"
                      RParen@1342..1343 ")"
                      Whitespace@1343..1344 " "
                    FatArrow@1344..1346 "=>"
                    Whitespace@1346..1347 " "
                    EXPR_STR@1347..1353
                      Str@1347..1353 "\"open\""
                  Comma@1353..1354 ","
                  Whitespace@1354..1367 "\n            "
                  MATCH_ARM@1367..1383
                    PATTERN_CONSTR@1367..1372
                      PATH@1367..1372
                        Ident@1367..1371 "None"
                        Whitespace@1371..1372 " "
                    FatArrow@1372..1374 "=>"
                    Whitespace@1374..1375 " "
                    EXPR_STR@1375..1383
                      Str@1375..1383 "\"closed\""
                  Comma@1383..1384 ","
                  Whitespace@1384..1393 "\n        "
                  RBrace@1393..1394 "}"
            Comma@1394..1395 ","
            Whitespace@1395..1400 "\n    "
            RBrace@1400..1401 "}"
        Semi@1401..1402 ";"
        Whitespace@1402..1407 "\n    "
      EXPR_CALL@1407..1423
        EXPR_IDENT@1407..1414
          PATH@1407..1414
            Ident@1407..1414 "println"
        ARG_LIST@1414..1423
          LParen@1414..1415 "("
          ARG@1415..1421
            EXPR_IDENT@1415..1421
              PATH@1415..1421
                Ident@1415..1421 "closed"
          RParen@1421..1422 ")"
          Whitespace@1422..1423 "\n"
      RBrace@1423..1424 "}"
      Whitespace@1424..1425 "\n"