FILE@0..1411
  FN@0..135
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "mark_channel"
    PARAM_LIST@15..71
      LParen@15..16 "("
      PARAM@16..34
        Ident@16..19 "log"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_TAPP@21..32
          PATH@21..24
            Ident@21..24 "Ref"
          TYPE_PARAM_LIST@24..32
            LBracket@24..25 "["
            TYPE_STRING@25..31
              StringKeyword@25..31 "string"
            RBracket@31..32 "]"
        Comma@32..33 ","
        Whitespace@33..34 " "
      PARAM@34..48
        Ident@34..38 "mark"
        Colon@38..39 ":"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Comma@46..47 ","
        Whitespace@47..48 " "
      PARAM@48..69
        Ident@48..55 "channel"
        Colon@55..56 ":"
        Whitespace@56..57 " "
        TYPE_TAPP@57..69
          PATH@57..64
            Ident@57..64 "Channel"
          TYPE_PARAM_LIST@64..69
            LBracket@64..65 "["
            TYPE_INT@65..68
              IntKeyword@65..68 "int"
            RBracket@68..69 "]"
      RParen@69..70 ")"
      Whitespace@70..71 " "
    Arrow@71..73 "->"
    Whitespace@73..74 " "
    TYPE_TAPP@74..87
      PATH@74..81
        Ident@74..81 "Channel"
      TYPE_PARAM_LIST@81..87
        LBracket@81..82 "["
        TYPE_INT@82..85
          IntKeyword@82..85 "int"
        RBracket@85..86 "]"
        Whitespace@86..87 " "
    BLOCK@87..135
      LBrace@87..88 "{"
      Whitespace@88..93 "\n    "
      STMT_EXPR@93..124
        EXPR_CALL@93..118
          EXPR_BINARY@93..100
            EXPR_IDENT@93..96
              PATH@93..96
                Ident@93..96 "log"
            Dot@96..97 "."
            EXPR_IDENT@97..100
              PATH@97..100
                Ident@97..100 "set"
          ARG_LIST@100..118
            LParen@100..101 "("
            ARG@101..117
              EXPR_BINARY@101..117
                EXPR_CALL@101..111
                  EXPR_BINARY@101..108
                    EXPR_IDENT@101..104
                      PATH@101..104
                        Ident@101..104 "log"
                    Dot@104..105 "."
                    EXPR_IDENT@105..108
                      PATH@105..108
                        Ident@105..108 "get"
                  ARG_LIST@108..111
                    LParen@108..109 "("
                    RParen@109..110 ")"
                    Whitespace@110..111 " "
                Plus@111..112 "+"
                Whitespace@112..113 " "
                EXPR_IDENT@113..117
                  PATH@113..117
                    Ident@113..117 "mark"
            RParen@117..118 ")"
        Semi@118..119 ";"
        Whitespace@119..124 "\n    "
      EXPR_IDENT@124..132
        PATH@124..132
          Ident@124..131 "channel"
          Whitespace@131..132 "\n"
      RBrace@132..133 "}"
      Whitespace@133..135 "\n\n"
  FN@135..246
    FnKeyword@135..137 "fn"
    Whitespace@137..138 " "
    Ident@138..148 "mark_value"
    PARAM_LIST@148..193
      LParen@148..149 "("
      PARAM@149..167
        Ident@149..152 "log"
        Colon@152..153 ":"
        Whitespace@153..154 " "
        TYPE_TAPP@154..165
          PATH@154..157
            Ident@154..157 "Ref"
          TYPE_PARAM_LIST@157..165
            LBracket@157..158 "["
            TYPE_STRING@158..164
              StringKeyword@158..164 "string"
            RBracket@164..165 "]"
        Comma@165..166 ","
        Whitespace@166..167 " "
      PARAM@167..181
        Ident@167..171 "mark"
        Colon@171..172 ":"
        Whitespace@172..173 " "
        TYPE_STRING@173..179
          StringKeyword@173..179 "string"
        Comma@179..180 ","
        Whitespace@180..181 " "
      PARAM@181..191
        Ident@181..186 "value"
        Colon@186..187 ":"
        Whitespace@187..188 " "
        TYPE_INT@188..191
          IntKeyword@188..191 "int"
      RParen@191..192 ")"
      Whitespace@192..193 " "
    Arrow@193..195 "->"
    Whitespace@195..196 " "
    TYPE_INT@196..200
      IntKeyword@196..199 "int"
      Whitespace@199..200 " "
    BLOCK@200..246
      LBrace@200..201 "{"
      Whitespace@201..206 "\n    "
      STMT_EXPR@206..237
        EXPR_CALL@206..231
          EXPR_BINARY@206..213
            EXPR_IDENT@206..209
              PATH@206..209
                Ident@206..209 "log"
            Dot@209..210 "."
            EXPR_IDENT@210..213
              PATH@210..213
                Ident@210..213 "set"
          ARG_LIST@213..231
            LParen@213..214 "("
            ARG@214..230
              EXPR_BINARY@214..230
                EXPR_CALL@214..224
                  EXPR_BINARY@214..221
                    EXPR_IDENT@214..217
                      PATH@214..217
                        Ident@214..217 "log"
                    Dot@217..218 "."
                    EXPR_IDENT@218..221
                      PATH@218..221
                        Ident@218..221 "get"
                  ARG_LIST@221..224
                    LParen@221..222 "("
                    RParen@222..223 ")"
                    Whitespace@223..224 " "
                Plus@224..225 "+"
                Whitespace@225..226 " "
                EXPR_IDENT@226..230
                  PATH@226..230
                    Ident@226..230 "mark"
            RParen@230..231 ")"
        Semi@231..232 ";"
        Whitespace@232..237 "\n    "
      EXPR_IDENT@237..243
        PATH@237..243
          Ident@237..242 "value"
          Whitespace@242..243 "\n"
      RBrace@243..244 "}"
      Whitespace@244..246 "\n\n"
  FN@246..1411
    FnKeyword@246..248 "fn"
    Whitespace@248..249 " "
    Ident@249..253 "main"
    PARAM_LIST@253..256
      LParen@253..254 "("
      RParen@254..255 ")"
      Whitespace@255..256 " "
    Arrow@256..258 "->"
    Whitespace@258..259 " "
    TYPE_UNIT@259..264
      UnitKeyword@259..263 "unit"
      Whitespace@263..264 " "
    BLOCK@264..1411
      LBrace@264..265 "{"
      Whitespace@265..270 "\n    "
      STMT_LET@270..313
        LetKeyword@270..273 "let"
        Whitespace@273..274 " "
        PATTERN_VARIABLE@274..283
          Ident@274..282 "received"
          Whitespace@282..283 " "
        Eq@283..284 "="
        Whitespace@284..285 " "
        EXPR_CALL@285..307
          EXPR_IDENT@285..304
            TYPE_TAPP@285..299
              PATH@285..292
                Ident@285..292 "Channel"
              ColonColon@292..294 "::"
              TYPE_PARAM_LIST@294..299
                LBracket@294..295 "["
                TYPE_INT@295..298
                  IntKeyword@295..298 "int"
                RBracket@298..299 "]"
            ColonColon@299..301 "::"
            PATH@301..304
              Ident@301..304 "new"
          ARG_LIST@304..307
            LParen@304..305 "("
            ARG@305..306
              EXPR_INT@305..306
                Int@305..306 "1"
            RParen@306..307 ")"
        Semi@307..308 ";"
        Whitespace@308..313 "\n    "
      STMT_EXPR@313..335
        EXPR_CALL@313..329
          EXPR_BINARY@313..326
            EXPR_IDENT@313..321
              PATH@313..321
                Ident@313..321 "received"
            Dot@321..322 "."
            EXPR_IDENT@322..326
              PATH@322..326
                Ident@322..326 "send"
          ARG_LIST@326..329
            LParen@326..327 "("
            ARG@327..328
              EXPR_INT@327..328
                Int@327..328 "7"
            RParen@328..329 ")"
        Semi@329..330 ";"
        Whitespace@330..335 "\n    "
      STMT_LET@335..503
        LetKeyword@335..338 "let"
        Whitespace@338..339 " "
        PATTERN_VARIABLE@339..345
          Ident@339..344 "first"
          Whitespace@344..345 " "
        Eq@345..346 "="
        Whitespace@346..347 " "
        EXPR_SELECT@347..497
          Ident@347..353 "select"
          Whitespace@353..354 " "
          SELECT_ARM_LIST@354..497
            LBrace@354..355 "{"
            Whitespace@355..364 "\n        "
            SELECT_RECV_ARM@364..468
              Ident@364..368 "recv"
              LParen@368..369 "("
              EXPR_IDENT@369..377
                PATH@369..377
                  Ident@369..377 "received"
              RParen@377..378 ")"
              Whitespace@378..379 " "
              AsKeyword@379..381 "as"
              Whitespace@381..382 " "
              SELECT_RECV_BINDING@382..388
                Ident@382..387 "value"
                Whitespace@387..388 " "
              FatArrow@388..390 "=>"
              Whitespace@390..391 " "
              BLOCK@391..468
                LBrace@391..392 "{"
                Whitespace@392..405 "\n            "
                STMT_LET@405..452
                  LetKeyword@405..408 "let"
                  Whitespace@408..409 " "
                  PATTERN_VARIABLE@409..414
                    Ident@409..413 "read"
                    Whitespace@413..414 " "
                  Eq@414..415 "="
                  Whitespace@415..416 " "
                  EXPR_CLOSURE@416..438
                    CLOSURE_PARAM_LIST@416..419
                      OrOr@416..418 "||"
                      Whitespace@418..419 " "
                    EXPR_CLOSURE_BODY@419..438
                      EXPR_CALL@419..438
                        EXPR_BINARY@419..434
                          EXPR_IDENT@419..424
                            PATH@419..424
                              Ident@419..424 "value"
                          Dot@424..425 "."
                          EXPR_IDENT@425..434
                            PATH@425..434
                              Ident@425..434 "unwrap_or"
                        ARG_LIST@434..438
                          LParen@434..435 "("
                          ARG@435..437
                            EXPR_PREFIX@435..437
                              Minus@435..436 "-"
                              EXPR_INT@436..437
                                Int@436..437 "1"
                          RParen@437..438 ")"
                  Semi@438..439 ";"
                  Whitespace@439..452 "\n            "
                EXPR_CALL@452..467
                  EXPR_IDENT@452..456
                    PATH@452..456
                      Ident@452..456 "read"
                  ARG_LIST@456..467
                    LParen@456..457 "("
                    RParen@457..458 ")"
                    Whitespace@458..467 "\n        "
                RBrace@467..468 "}"
            Comma@468..469 ","
            Whitespace@469..478 "\n        "
            SELECT_DEFAULT_ARM@478..490
              Ident@478..485 "default"
              Whitespace@485..486 " "
              FatArrow@486..488 "=>"
              Whitespace@488..489 " "
              EXPR_INT@489..490
                Int@489..490 "0"
            Comma@490..491 ","
            Whitespace@491..496 "\n    "
            RBrace@496..497 "}"
        Semi@497..498 ";"
        Whitespace@498..503 "\n    "
      STMT_EXPR@503..524
        EXPR_CALL@503..517
          EXPR_IDENT@503..510
            PATH@503..510
              Ident@503..510 "println"
          ARG_LIST@510..517
            LParen@510..511 "("
            ARG@511..516
              EXPR_IDENT@511..516
                PATH@511..516
                  Ident@511..516 "first"
            RParen@516..517 ")"
        Semi@517..518 ";"
        Whitespace@518..524 "\n\n    "
      STMT_LET@524..566
        LetKeyword@524..527 "let"
        Whitespace@527..528 " "
        PATTERN_VARIABLE@528..533
          Ident@528..532 "sent"
          Whitespace@532..533 " "
        Eq@533..534 "="
        Whitespace@534..535 " "
        EXPR_CALL@535..560
          EXPR_IDENT@535..557
            TYPE_TAPP@535..552
              PATH@535..542
                Ident@535..542 "Channel"
              ColonColon@542..544 "::"
              TYPE_PARAM_LIST@544..552
                LBracket@544..545 "["
                TYPE_STRING@545..551
                  StringKeyword@545..551 "string"
                RBracket@551..552 "]"
            ColonColon@552..554 "::"
            PATH@554..557
              Ident@554..557 "new"
          ARG_LIST@557..560
            LParen@557..558 "("
            ARG@558..559
              EXPR_INT@558..559
                Int@558..559 "1"
            RParen@559..560 ")"
        Semi@560..561 ";"
        Whitespace@561..566 "\n    "
      STMT_LET@566..668
        LetKeyword@566..569 "let"
        Whitespace@569..570 " "
        PATTERN_VARIABLE@570..577
          Ident@570..576 "branch"
          Whitespace@576..577 " "
        Eq@577..578 "="
        Whitespace@578..579 " "
        EXPR_SELECT@579..662
          Ident@579..585 "select"
          Whitespace@585..586 " "
          SELECT_ARM_LIST@586..662
            LBrace@586..587 "{"
            Whitespace@587..596 "\n        "
            SELECT_SEND_ARM@596..625
              Ident@596..600 "send"
              LParen@600..601 "("
              EXPR_IDENT@601..605
                PATH@601..605
                  Ident@601..605 "sent"
              Comma@605..606 ","
              Whitespace@606..607 " "
              EXPR_STR@607..614
                Str@607..614 "\"ready\""
              RParen@614..615 ")"
              Whitespace@615..616 " "
              FatArrow@616..618 "=>"
              Whitespace@618..619 " "
              EXPR_STR@619..625
                Str@619..625 "\"sent\""
            Comma@625..626 ","
            Whitespace@626..635 "\n        "
            SELECT_DEFAULT_ARM@635..655
              Ident@635..642 "default"
              Whitespace@642..643 " "
              FatArrow@643..645 "=>"
              Whitespace@645..646 " "
              EXPR_STR@646..655
                Str@646..655 "\"blocked\""
            Comma@655..656 ","
            Whitespace@656..661 "\n    "
            RBrace@661..662 "}"
        Semi@662..663 ";"
        Whitespace@663..668 "\n    "
      STMT_EXPR@668..689
        EXPR_CALL@668..683
          EXPR_IDENT@668..675
            PATH@668..675
              Ident@668..675 "println"
          ARG_LIST@675..683
            LParen@675..676 "("
            ARG@676..682
              EXPR_IDENT@676..682
                PATH@676..682
                  Ident@676..682 "branch"
            RParen@682..683 ")"
        Semi@683..684 ";"
        Whitespace@684..689 "\n    "
      STMT_EXPR@689..737
        EXPR_CALL@689..730
          EXPR_IDENT@689..696
            PATH@689..696
              Ident@689..696 "println"
          ARG_LIST@696..730
            LParen@696..697 "("
            ARG@697..729
              EXPR_CALL@697..729
                EXPR_BINARY@697..718
                  EXPR_CALL@697..708
                    EXPR_BINARY@697..706
                      EXPR_IDENT@697..701
                        PATH@697..701
                          Ident@697..701 "sent"
                      Dot@701..702 "."
                      EXPR_IDENT@702..706
                        PATH@702..706
                          Ident@702..706 "recv"
                    ARG_LIST@706..708
                      LParen@706..707 "("
                      RParen@707..708 ")"
                  Dot@708..709 "."
                  EXPR_IDENT@709..718
                    PATH@709..718
                      Ident@709..718 "unwrap_or"
                ARG_LIST@718..729
                  LParen@718..719 "("
                  ARG@719..728
                    EXPR_STR@719..728
                      Str@719..728 "\"missing\""
                  RParen@728..729 ")"
            RParen@729..730 ")"
        Semi@730..731 ";"
        Whitespace@731..737 "\n\n    "
      STMT_LET@737..777
        LetKeyword@737..740 "let"
        Whitespace@740..741 " "
        PATTERN_VARIABLE@741..747
          Ident@741..746 "empty"
          Whitespace@746..747 " "
        Eq@747..748 "="
        Whitespace@748..749 " "
        EXPR_CALL@749..771
          EXPR_IDENT@749..768
            TYPE_TAPP@749..763
              PATH@749..756
                Ident@749..756 "Channel"
              ColonColon@756..758 "::"
              TYPE_PARAM_LIST@758..763
                LBracket@758..759 "["
                TYPE_INT@759..762
                  IntKeyword@759..762 "int"
                RBracket@762..763 "]"
            ColonColon@763..765 "::"
            PATH@765..768
              Ident@765..768 "new"
          ARG_LIST@768..771
            LParen@768..769 "("
            ARG@769..770
              EXPR_INT@769..770
                Int@769..770 "0"
            RParen@770..771 ")"
        Semi@771..772 ";"
        Whitespace@772..777 "\n    "
      STMT_LET@777..867
        LetKeyword@777..780 "let"
        Whitespace@780..781 " "
        PATTERN_VARIABLE@781..790
          Ident@781..789 "fallback"
          Whitespace@789..790 " "
        Eq@790..791 "="
        Whitespace@791..792 " "
        EXPR_SELECT@792..861
          Ident@792..798 "select"
          Whitespace@798..799 " "
          SELECT_ARM_LIST@799..861
            LBrace@799..800 "{"
            Whitespace@800..809 "\n        "
            SELECT_RECV_ARM@809..831
              Ident@809..813 "recv"
              LParen@813..814 "("
              EXPR_IDENT@814..819
                PATH@814..819
                  Ident@814..819 "empty"
              RParen@819..820 ")"
              Whitespace@820..821 " "
              AsKeyword@821..823 "as"
              Whitespace@823..824 " "
              SELECT_RECV_BINDING@824..826
                WildcardKeyword@824..825 "_"
                Whitespace@825..826 " "
              FatArrow@826..828 "=>"
              Whitespace@828..829 " "
              EXPR_PREFIX@829..831
                Minus@829..830 "-"
                EXPR_INT@830..831
                  Int@830..831 "1"
            Comma@831..832 ","
            Whitespace@832..841 "\n        "
            SELECT_DEFAULT_ARM@841..854
              Ident@841..848 "default"
              Whitespace@848..849 " "
              FatArrow@849..851 "=>"
              Whitespace@851..852 " "
              EXPR_INT@852..854
                Int@852..854 "42"
            Comma@854..855 ","
            Whitespace@855..860 "\n    "
            RBrace@860..861 "}"
        Semi@861..862 ";"
        Whitespace@862..867 "\n    "
      STMT_EXPR@867..891
        EXPR_CALL@867..884
          EXPR_IDENT@867..874
            PATH@867..874
              Ident@867..874 "println"
          ARG_LIST@874..884
            LParen@874..875 "("
            ARG@875..883
              EXPR_IDENT@875..883
                PATH@875..883
                  Ident@875..883 "fallback"
            RParen@883..884 ")"
        Semi@884..885 ";"
        Whitespace@885..891 "\n\n    "
      STMT_LET@891..919
        LetKeyword@891..894 "let"
        Whitespace@894..895 " "
        PATTERN_VARIABLE@895..899
          Ident@895..898 "log"
          Whitespace@898..899 " "
        Eq@899..900 "="
        Whitespace@900..901 " "
        EXPR_CALL@901..913
          EXPR_IDENT@901..909
            PATH@901..909
              Ident@901..904 "Ref"
              ColonColon@904..906 "::"
              Ident@906..909 "new"
          ARG_LIST@909..913
            LParen@909..910 "("
            ARG@910..912
              EXPR_STR@910..912
                Str@910..912 "\"\""
            RParen@912..913 ")"
        Semi@913..914 ";"
        Whitespace@914..919 "\n    "
      STMT_LET@919..958
        LetKeyword@919..922 "let"
        Whitespace@922..923 " "
        PATTERN_VARIABLE@923..928
          Ident@923..927 "left"
          Whitespace@927..928 " "
        Eq@928..929 "="
        Whitespace@929..930 " "
        EXPR_CALL@930..952
          EXPR_IDENT@930..949
            TYPE_TAPP@930..944
              PATH@930..937
                Ident@930..937 "Channel"
              ColonColon@937..939 "::"
              TYPE_PARAM_LIST@939..944
                LBracket@939..940 "["
                TYPE_INT@940..943
                  IntKeyword@940..943 "int"
                RBracket@943..944 "]"
            ColonColon@944..946 "::"
            PATH@946..949
              Ident@946..949 "new"
          ARG_LIST@949..952
            LParen@949..950 "("
            ARG@950..951
              EXPR_INT@950..951
                Int@950..951 "0"
            RParen@951..952 ")"
        Semi@952..953 ";"
        Whitespace@953..958 "\n    "
      STMT_LET@958..998
        LetKeyword@958..961 "let"
        Whitespace@961..962 " "
        PATTERN_VARIABLE@962..968
          Ident@962..967 "right"
          Whitespace@967..968 " "
        Eq@968..969 "="
        Whitespace@969..970 " "
        EXPR_CALL@970..992
          EXPR_IDENT@970..989
            TYPE_TAPP@970..984
              PATH@970..977
                Ident@970..977 "Channel"
              ColonColon@977..979 "::"
              TYPE_PARAM_LIST@979..984
                LBracket@979..980 "["
                TYPE_INT@980..983
                  IntKeyword@980..983 "int"
                RBracket@983..984 "]"
            ColonColon@984..986 "::"
            PATH@986..989
              Ident@986..989 "new"
          ARG_LIST@989..992
            LParen@989..990 "("
            ARG@990..991
              EXPR_INT@990..991
                Int@990..991 "0"
            RParen@991..992 ")"
        Semi@992..993 ";"
        Whitespace@993..998 "\n    "
      STMT_EXPR@998..1192
        EXPR_SELECT@998..1186
          Ident@998..1004 "select"
          Whitespace@1004..1005 " "
          SELECT_ARM_LIST@1005..1186
            LBrace@1005..1006 "{"
            Whitespace@1006..1015 "\n        "
            SELECT_SEND_ARM@1015..1080
              Ident@1015..1019 "send"
              LParen@1019..1020 "("
              EXPR_CALL@1020..1048
                EXPR_IDENT@1020..1032
                  PATH@1020..1032
                    Ident@1020..1032 "mark_channel"
                ARG_LIST@1032..1048
                  LParen@1032..1033 "("
                  ARG@1033..1038
                    EXPR_IDENT@1033..1036
                      PATH@1033..1036
                        Ident@1033..1036 "log"
                    Comma@1036..1037 ","
                    Whitespace@1037..1038 " "
                  ARG@1038..1043
                    EXPR_STR@1038..1041
                      Str@1038..1041 "\"a\""
                    Comma@1041..1042 ","
                    Whitespace@1042..1043 " "
                  ARG@1043..1047
                    EXPR_IDENT@1043..1047
                      PATH@1043..1047
                        Ident@1043..1047 "left"
                  RParen@1047..1048 ")"
              Comma@1048..1049 ","
              Whitespace@1049..1050 " "
              EXPR_CALL@1050..1073
                EXPR_IDENT@1050..1060
                  PATH@1050..1060
                    Ident@1050..1060 "mark_value"
                ARG_LIST@1060..1073
                  LParen@1060..1061 "("
                  ARG@1061..1066
                    EXPR_IDENT@1061..1064
                      PATH@1061..1064
                        Ident@1061..1064 "log"
                    Comma@1064..1065 ","
                    Whitespace@1065..1066 " "
                  ARG@1066..1071
                    EXPR_STR@1066..1069
                      Str@1066..1069 "\"1\""
                    Comma@1069..1070 ","
                    Whitespace@1070..1071 " "
                  ARG@1071..1072
                    EXPR_INT@1071..1072
                      Int@1071..1072 "1"
                  RParen@1072..1073 ")"
              RParen@1073..1074 ")"
              Whitespace@1074..1075 " "
              FatArrow@1075..1077 "=>"
              Whitespace@1077..1078 " "
              EXPR_UNIT@1078..1080
                LParen@1078..1079 "("
                RParen@1079..1080 ")"
            Comma@1080..1081 ","
            Whitespace@1081..1090 "\n        "
            SELECT_SEND_ARM@1090..1156
              Ident@1090..1094 "send"
              LParen@1094..1095 "("
              EXPR_CALL@1095..1124
                EXPR_IDENT@1095..1107
                  PATH@1095..1107
                    Ident@1095..1107 "mark_channel"
                ARG_LIST@1107..1124
                  LParen@1107..1108 "("
                  ARG@1108..1113
                    EXPR_IDENT@1108..1111
                      PATH@1108..1111
                        Ident@1108..1111 "log"
                    Comma@1111..1112 ","
                    Whitespace@1112..1113 " "
                  ARG@1113..1118
                    EXPR_STR@1113..1116
                      Str@1113..1116 "\"b\""
                    Comma@1116..1117 ","
                    Whitespace@1117..1118 " "
                  ARG@1118..1123
                    EXPR_IDENT@1118..1123
                      PATH@1118..1123
                        Ident@1118..1123 "right"
                  RParen@1123..1124 ")"
              Comma@1124..1125 ","
              Whitespace@1125..1126 " "
              EXPR_CALL@1126..1149
                EXPR_IDENT@1126..1136
                  PATH@1126..1136
                    Ident@1126..1136 "mark_value"
                ARG_LIST@1136..1149
                  LParen@1136..1137 "("
                  ARG@1137..1142
                    EXPR_IDENT@1137..1140
                      PATH@1137..1140
                        Ident@1137..1140 "log"
                    Comma@1140..1141 ","
                    Whitespace@1141..1142 " "
                  ARG@1142..1147
                    EXPR_STR@1142..1145
                      Str@1142..1145 "\"2\""
                    Comma@1145..1146 ","
                    Whitespace@1146..1147 " "
                  ARG@1147..1148
                    EXPR_INT@1147..1148
                      Int@1147..1148 "2"
                  RParen@1148..1149 ")"
              RParen@1149..1150 ")"
              Whitespace@1150..1151 " "
              FatArrow@1151..1153 "=>"
              Whitespace@1153..1154 " "
              EXPR_UNIT@1154..1156
                LParen@1154..1155 "("
                RParen@1155..1156 ")"
            Comma@1156..1157 ","
            Whitespace@1157..1166 "\n        "
            SELECT_DEFAULT_ARM@1166..1179
              Ident@1166..1173 "default"
              Whitespace@1173..1174 " "
              FatArrow@1174..1176 "=>"
              Whitespace@1176..1177 " "
              EXPR_UNIT@1177..1179
                LParen@1177..1178 "("
                RParen@1178..1179 ")"
            Comma@1179..1180 ","
            Whitespace@1180..1185 "\n    "
            RBrace@1185..1186 "}"
        Semi@1186..1187 ";"
        Whitespace@1187..1192 "\n    "
      STMT_EXPR@1192..1217
        EXPR_CALL@1192..1210
          EXPR_IDENT@1192..1199
            PATH@1192..1199
              Ident@1192..1199 "println"
          ARG_LIST@1199..1210
            LParen@1199..1200 "("
            ARG@1200..1209
              EXPR_CALL@1200..1209
                EXPR_BINARY@1200..1207
                  EXPR_IDENT@1200..1203
                    PATH@1200..1203
                      Ident@1200..1203 "log"
                  Dot@1203..1204 "."
                  EXPR_IDENT@1204..1207
                    PATH@1204..1207
                      Ident@1204..1207 "get"
                ARG_LIST@1207..1209
                  LParen@1207..1208 "("
                  RParen@1208..1209 ")"
            RParen@1209..1210 ")"
        Semi@1210..1211 ";"
        Whitespace@1211..1217 "\n\n    "
      STMT_EXPR@1217..1239
        EXPR_CALL@1217..1233
          EXPR_BINARY@1217..1231
            EXPR_IDENT@1217..1225
              PATH@1217..1225
                Ident@1217..1225 "received"
            Dot@1225..1226 "."
            EXPR_IDENT@1226..1231
              PATH@1226..1231
                Ident@1226..1231 "close"
          ARG_LIST@1231..1233
            LParen@1231..1232 "("
            RParen@1232..1233 ")"
        Semi@1233..1234 ";"
        Whitespace@1234..1239 "\n    "
      STMT_LET@1239..1393
        LetKeyword@1239..1242 "let"
        Whitespace@1242..1243 " "
        PATTERN_VARIABLE@1243..1250
          Ident@1243..1249 "closed"
          Whitespace@1249..1250 " "
        Eq@1250..1251 "="
        Whitespace@1251..1252 " "
        EXPR_SELECT@1252..1387
          Ident@1252..1258 "select"
          Whitespace@1258..1259 " "
          SELECT_ARM_LIST@1259..1387
            LBrace@1259..1260 "{"
            Whitespace@1260..1269 "\n        "
            SELECT_RECV_ARM@1269..1380
              Ident@1269..1273 "recv"
              LParen@1273..1274 "("
              EXPR_IDENT@1274..1282
                PATH@1274..1282
                  Ident@1274..1282 "received"
              RParen@1282..1283 ")"
              Whitespace@1283..1284 " "
              AsKeyword@1284..1286 "as"
              Whitespace@1286..1287 " "
              SELECT_RECV_BINDING@1287..1293
                Ident@1287..1292 "value"
                Whitespace@1292..1293 " "
              FatArrow@1293..1295 "=>"
              Whitespace@1295..1296 " "
              EXPR_MATCH@1296..1380
                MatchKeyword@1296..1301 "match"
                Whitespace@1301..1302 " "
                EXPR_IDENT@1302..1308
                  PATH@1302..1308
                    Ident@1302..1307 "value"
                    Whitespace@1307..1308 " "
                MATCH_ARM_LIST@1308..1380
                  LBrace@1308..1309 "{"
                  Whitespace@1309..1322 "\n            "
                  MATCH_ARM@1322..1339
                    PATTERN_CONSTR@1322..1330
                      PATH@1322..1326
                        Ident@1322..1326 "Some"
                      LParen@1326..1327 "("
                      PATTERN_WILDCARD@1327..1328
                        WildcardKeyword@1327..1328 "_"
                      RParen@1328..1329 ")"
                      Whitespace@1329..1330 " "
                    FatArrow@1330..1332 "=>"
                    Whitespace@1332..1333 " "
                    EXPR_STR@1333..1339
                      Str@1333..1339 "\"open\""
                  Comma@1339..1340 ","
                  Whitespace@1340..1353 "\n            "
                  MATCH_ARM@1353..1369
                    PATTERN_CONSTR@1353..1358
                      PATH@1353..1358
                        Ident@1353..1357 "None"
                        Whitespace@1357..1358 " "
                    FatArrow@1358..1360 "=>"
                    Whitespace@1360..1361 " "
                    EXPR_STR@1361..1369
                      Str@1361..1369 "\"closed\""
                  Comma@1369..1370 ","
                  Whitespace@1370..1379 "\n        "
                  RBrace@1379..1380 "}"
            Comma@1380..1381 ","
            Whitespace@1381..1386 "\n    "
            RBrace@1386..1387 "}"
        Semi@1387..1388 ";"
        Whitespace@1388..1393 "\n    "
      EXPR_CALL@1393..1409
        EXPR_IDENT@1393..1400
          PATH@1393..1400
            Ident@1393..1400 "println"
        ARG_LIST@1400..1409
          LParen@1400..1401 "("
          ARG@1401..1407
            EXPR_IDENT@1401..1407
              PATH@1401..1407
                Ident@1401..1407 "closed"
          RParen@1407..1408 ")"
          Whitespace@1408..1409 "\n"
      RBrace@1409..1410 "}"
      Whitespace@1410..1411 "\n"