FILE@0..1427
  FN@0..139
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "mark_channel"
    PARAM_LIST@15..73
      LParen@15..16 "("
      PARAM@16..34
        Ident@16..19 "log"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_TAPP@21..32
          PATH@21..24
            Ident@21..24 "Ref"
          TYPE_PARAM_LIST@24..32
            LBracket@24..25 "["
            TYPE_STRING@25..31
              StringKeyword@25..31 "string"
            RBracket@31..32 "]"
        Comma@32..33 ","
        Whitespace@33..34 " "
      PARAM@34..48
        Ident@34..38 "mark"
        Colon@38..39 ":"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Comma@46..47 ","
        Whitespace@47..48 " "
      PARAM@48..71
        Ident@48..55 "channel"
        Colon@55..56 ":"
        Whitespace@56..57 " "
        TYPE_TAPP@57..71
          PATH@57..64
            Ident@57..64 "Channel"
          TYPE_PARAM_LIST@64..71
            LBracket@64..65 "["
            TYPE_INT@65..70
              IsizeKeyword@65..70 "isize"
            RBracket@70..71 "]"
      RParen@71..72 ")"
      Whitespace@72..73 " "
    Arrow@73..75 "->"
    Whitespace@75..76 " "
    TYPE_TAPP@76..91
      PATH@76..83
        Ident@76..83 "Channel"
      TYPE_PARAM_LIST@83..91
        LBracket@83..84 "["
        TYPE_INT@84..89
          IsizeKeyword@84..89 "isize"
        RBracket@89..90 "]"
        Whitespace@90..91 " "
    BLOCK@91..139
      LBrace@91..92 "{"
      Whitespace@92..97 "\n    "
      STMT_EXPR@97..128
        EXPR_CALL@97..122
          EXPR_BINARY@97..104
            EXPR_IDENT@97..100
              PATH@97..100
                Ident@97..100 "log"
            Dot@100..101 "."
            EXPR_IDENT@101..104
              PATH@101..104
                Ident@101..104 "set"
          ARG_LIST@104..122
            LParen@104..105 "("
            ARG@105..121
              EXPR_BINARY@105..121
                EXPR_CALL@105..115
                  EXPR_BINARY@105..112
                    EXPR_IDENT@105..108
                      PATH@105..108
                        Ident@105..108 "log"
                    Dot@108..109 "."
                    EXPR_IDENT@109..112
                      PATH@109..112
                        Ident@109..112 "get"
                  ARG_LIST@112..115
                    LParen@112..113 "("
                    RParen@113..114 ")"
                    Whitespace@114..115 " "
                Plus@115..116 "+"
                Whitespace@116..117 " "
                EXPR_IDENT@117..121
                  PATH@117..121
                    Ident@117..121 "mark"
            RParen@121..122 ")"
        Semi@122..123 ";"
        Whitespace@123..128 "\n    "
      EXPR_IDENT@128..136
        PATH@128..136
          Ident@128..135 "channel"
          Whitespace@135..136 "\n"
      RBrace@136..137 "}"
      Whitespace@137..139 "\n\n"
  FN@139..254
    FnKeyword@139..141 "fn"
    Whitespace@141..142 " "
    Ident@142..152 "mark_value"
    PARAM_LIST@152..199
      LParen@152..153 "("
      PARAM@153..171
        Ident@153..156 "log"
        Colon@156..157 ":"
        Whitespace@157..158 " "
        TYPE_TAPP@158..169
          PATH@158..161
            Ident@158..161 "Ref"
          TYPE_PARAM_LIST@161..169
            LBracket@161..162 "["
            TYPE_STRING@162..168
              StringKeyword@162..168 "string"
            RBracket@168..169 "]"
        Comma@169..170 ","
        Whitespace@170..171 " "
      PARAM@171..185
        Ident@171..175 "mark"
        Colon@175..176 ":"
        Whitespace@176..177 " "
        TYPE_STRING@177..183
          StringKeyword@177..183 "string"
        Comma@183..184 ","
        Whitespace@184..185 " "
      PARAM@185..197
        Ident@185..190 "value"
        Colon@190..191 ":"
        Whitespace@191..192 " "
        TYPE_INT@192..197
          IsizeKeyword@192..197 "isize"
      RParen@197..198 ")"
      Whitespace@198..199 " "
    Arrow@199..201 "->"
    Whitespace@201..202 " "
    TYPE_INT@202..208
      IsizeKeyword@202..207 "isize"
      Whitespace@207..208 " "
    BLOCK@208..254
      LBrace@208..209 "{"
      Whitespace@209..214 "\n    "
      STMT_EXPR@214..245
        EXPR_CALL@214..239
          EXPR_BINARY@214..221
            EXPR_IDENT@214..217
              PATH@214..217
                Ident@214..217 "log"
            Dot@217..218 "."
            EXPR_IDENT@218..221
              PATH@218..221
                Ident@218..221 "set"
          ARG_LIST@221..239
            LParen@221..222 "("
            ARG@222..238
              EXPR_BINARY@222..238
                EXPR_CALL@222..232
                  EXPR_BINARY@222..229
                    EXPR_IDENT@222..225
                      PATH@222..225
                        Ident@222..225 "log"
                    Dot@225..226 "."
                    EXPR_IDENT@226..229
                      PATH@226..229
                        Ident@226..229 "get"
                  ARG_LIST@229..232
                    LParen@229..230 "("
                    RParen@230..231 ")"
                    Whitespace@231..232 " "
                Plus@232..233 "+"
                Whitespace@233..234 " "
                EXPR_IDENT@234..238
                  PATH@234..238
                    Ident@234..238 "mark"
            RParen@238..239 ")"
        Semi@239..240 ";"
        Whitespace@240..245 "\n    "
      EXPR_IDENT@245..251
        PATH@245..251
          Ident@245..250 "value"
          Whitespace@250..251 "\n"
      RBrace@251..252 "}"
      Whitespace@252..254 "\n\n"
  FN@254..1427
    FnKeyword@254..256 "fn"
    Whitespace@256..257 " "
    Ident@257..261 "main"
    PARAM_LIST@261..264
      LParen@261..262 "("
      RParen@262..263 ")"
      Whitespace@263..264 " "
    Arrow@264..266 "->"
    Whitespace@266..267 " "
    TYPE_UNIT@267..272
      UnitKeyword@267..271 "unit"
      Whitespace@271..272 " "
    BLOCK@272..1427
      LBrace@272..273 "{"
      Whitespace@273..278 "\n    "
      STMT_LET@278..323
        LetKeyword@278..281 "let"
        Whitespace@281..282 " "
        PATTERN_VARIABLE@282..291
          Ident@282..290 "received"
          Whitespace@290..291 " "
        Eq@291..292 "="
        Whitespace@292..293 " "
        EXPR_CALL@293..317
          EXPR_IDENT@293..314
            TYPE_TAPP@293..309
              PATH@293..300
                Ident@293..300 "Channel"
              ColonColon@300..302 "::"
              TYPE_PARAM_LIST@302..309
                LBracket@302..303 "["
                TYPE_INT@303..308
                  IsizeKeyword@303..308 "isize"
                RBracket@308..309 "]"
            ColonColon@309..311 "::"
            PATH@311..314
              Ident@311..314 "new"
          ARG_LIST@314..317
            LParen@314..315 "("
            ARG@315..316
              EXPR_INT@315..316
                Int@315..316 "1"
            RParen@316..317 ")"
        Semi@317..318 ";"
        Whitespace@318..323 "\n    "
      STMT_EXPR@323..345
        EXPR_CALL@323..339
          EXPR_BINARY@323..336
            EXPR_IDENT@323..331
              PATH@323..331
                Ident@323..331 "received"
            Dot@331..332 "."
            EXPR_IDENT@332..336
              PATH@332..336
                Ident@332..336 "send"
          ARG_LIST@336..339
            LParen@336..337 "("
            ARG@337..338
              EXPR_INT@337..338
                Int@337..338 "7"
            RParen@338..339 ")"
        Semi@339..340 ";"
        Whitespace@340..345 "\n    "
      STMT_LET@345..513
        LetKeyword@345..348 "let"
        Whitespace@348..349 " "
        PATTERN_VARIABLE@349..355
          Ident@349..354 "first"
          Whitespace@354..355 " "
        Eq@355..356 "="
        Whitespace@356..357 " "
        EXPR_SELECT@357..507
          Ident@357..363 "select"
          Whitespace@363..364 " "
          SELECT_ARM_LIST@364..507
            LBrace@364..365 "{"
            Whitespace@365..374 "\n        "
            SELECT_RECV_ARM@374..478
              Ident@374..378 "recv"
              LParen@378..379 "("
              EXPR_IDENT@379..387
                PATH@379..387
                  Ident@379..387 "received"
              RParen@387..388 ")"
              Whitespace@388..389 " "
              AsKeyword@389..391 "as"
              Whitespace@391..392 " "
              SELECT_RECV_BINDING@392..398
                Ident@392..397 "value"
                Whitespace@397..398 " "
              FatArrow@398..400 "=>"
              Whitespace@400..401 " "
              BLOCK@401..478
                LBrace@401..402 "{"
                Whitespace@402..415 "\n            "
                STMT_LET@415..462
                  LetKeyword@415..418 "let"
                  Whitespace@418..419 " "
                  PATTERN_VARIABLE@419..424
                    Ident@419..423 "read"
                    Whitespace@423..424 " "
                  Eq@424..425 "="
                  Whitespace@425..426 " "
                  EXPR_CLOSURE@426..448
                    CLOSURE_PARAM_LIST@426..429
                      OrOr@426..428 "||"
                      Whitespace@428..429 " "
                    EXPR_CLOSURE_BODY@429..448
                      EXPR_CALL@429..448
                        EXPR_BINARY@429..444
                          EXPR_IDENT@429..434
                            PATH@429..434
                              Ident@429..434 "value"
                          Dot@434..435 "."
                          EXPR_IDENT@435..444
                            PATH@435..444
                              Ident@435..444 "unwrap_or"
                        ARG_LIST@444..448
                          LParen@444..445 "("
                          ARG@445..447
                            EXPR_PREFIX@445..447
                              Minus@445..446 "-"
                              EXPR_INT@446..447
                                Int@446..447 "1"
                          RParen@447..448 ")"
                  Semi@448..449 ";"
                  Whitespace@449..462 "\n            "
                EXPR_CALL@462..477
                  EXPR_IDENT@462..466
                    PATH@462..466
                      Ident@462..466 "read"
                  ARG_LIST@466..477
                    LParen@466..467 "("
                    RParen@467..468 ")"
                    Whitespace@468..477 "\n        "
                RBrace@477..478 "}"
            Comma@478..479 ","
            Whitespace@479..488 "\n        "
            SELECT_DEFAULT_ARM@488..500
              Ident@488..495 "default"
              Whitespace@495..496 " "
              FatArrow@496..498 "=>"
              Whitespace@498..499 " "
              EXPR_INT@499..500
                Int@499..500 "0"
            Comma@500..501 ","
            Whitespace@501..506 "\n    "
            RBrace@506..507 "}"
        Semi@507..508 ";"
        Whitespace@508..513 "\n    "
      STMT_EXPR@513..534
        EXPR_CALL@513..527
          EXPR_IDENT@513..520
            PATH@513..520
              Ident@513..520 "println"
          ARG_LIST@520..527
            LParen@520..521 "("
            ARG@521..526
              EXPR_IDENT@521..526
                PATH@521..526
                  Ident@521..526 "first"
            RParen@526..527 ")"
        Semi@527..528 ";"
        Whitespace@528..534 "\n\n    "
      STMT_LET@534..576
        LetKeyword@534..537 "let"
        Whitespace@537..538 " "
        PATTERN_VARIABLE@538..543
          Ident@538..542 "sent"
          Whitespace@542..543 " "
        Eq@543..544 "="
        Whitespace@544..545 " "
        EXPR_CALL@545..570
          EXPR_IDENT@545..567
            TYPE_TAPP@545..562
              PATH@545..552
                Ident@545..552 "Channel"
              ColonColon@552..554 "::"
              TYPE_PARAM_LIST@554..562
                LBracket@554..555 "["
                TYPE_STRING@555..561
                  StringKeyword@555..561 "string"
                RBracket@561..562 "]"
            ColonColon@562..564 "::"
            PATH@564..567
              Ident@564..567 "new"
          ARG_LIST@567..570
            LParen@567..568 "("
            ARG@568..569
              EXPR_INT@568..569
                Int@568..569 "1"
            RParen@569..570 ")"
        Semi@570..571 ";"
        Whitespace@571..576 "\n    "
      STMT_LET@576..678
        LetKeyword@576..579 "let"
        Whitespace@579..580 " "
        PATTERN_VARIABLE@580..587
          Ident@580..586 "branch"
          Whitespace@586..587 " "
        Eq@587..588 "="
        Whitespace@588..589 " "
        EXPR_SELECT@589..672
          Ident@589..595 "select"
          Whitespace@595..596 " "
          SELECT_ARM_LIST@596..672
            LBrace@596..597 "{"
            Whitespace@597..606 "\n        "
            SELECT_SEND_ARM@606..635
              Ident@606..610 "send"
              LParen@610..611 "("
              EXPR_IDENT@611..615
                PATH@611..615
                  Ident@611..615 "sent"
              Comma@615..616 ","
              Whitespace@616..617 " "
              EXPR_STR@617..624
                Str@617..624 "\"ready\""
              RParen@624..625 ")"
              Whitespace@625..626 " "
              FatArrow@626..628 "=>"
              Whitespace@628..629 " "
              EXPR_STR@629..635
                Str@629..635 "\"sent\""
            Comma@635..636 ","
            Whitespace@636..645 "\n        "
            SELECT_DEFAULT_ARM@645..665
              Ident@645..652 "default"
              Whitespace@652..653 " "
              FatArrow@653..655 "=>"
              Whitespace@655..656 " "
              EXPR_STR@656..665
                Str@656..665 "\"blocked\""
            Comma@665..666 ","
            Whitespace@666..671 "\n    "
            RBrace@671..672 "}"
        Semi@672..673 ";"
        Whitespace@673..678 "\n    "
      STMT_EXPR@678..699
        EXPR_CALL@678..693
          EXPR_IDENT@678..685
            PATH@678..685
              Ident@678..685 "println"
          ARG_LIST@685..693
            LParen@685..686 "("
            ARG@686..692
              EXPR_IDENT@686..692
                PATH@686..692
                  Ident@686..692 "branch"
            RParen@692..693 ")"
        Semi@693..694 ";"
        Whitespace@694..699 "\n    "
      STMT_EXPR@699..747
        EXPR_CALL@699..740
          EXPR_IDENT@699..706
            PATH@699..706
              Ident@699..706 "println"
          ARG_LIST@706..740
            LParen@706..707 "("
            ARG@707..739
              EXPR_CALL@707..739
                EXPR_BINARY@707..728
                  EXPR_CALL@707..718
                    EXPR_BINARY@707..716
                      EXPR_IDENT@707..711
                        PATH@707..711
                          Ident@707..711 "sent"
                      Dot@711..712 "."
                      EXPR_IDENT@712..716
                        PATH@712..716
                          Ident@712..716 "recv"
                    ARG_LIST@716..718
                      LParen@716..717 "("
                      RParen@717..718 ")"
                  Dot@718..719 "."
                  EXPR_IDENT@719..728
                    PATH@719..728
                      Ident@719..728 "unwrap_or"
                ARG_LIST@728..739
                  LParen@728..729 "("
                  ARG@729..738
                    EXPR_STR@729..738
                      Str@729..738 "\"missing\""
                  RParen@738..739 ")"
            RParen@739..740 ")"
        Semi@740..741 ";"
        Whitespace@741..747 "\n\n    "
      STMT_LET@747..789
        LetKeyword@747..750 "let"
        Whitespace@750..751 " "
        PATTERN_VARIABLE@751..757
          Ident@751..756 "empty"
          Whitespace@756..757 " "
        Eq@757..758 "="
        Whitespace@758..759 " "
        EXPR_CALL@759..783
          EXPR_IDENT@759..780
            TYPE_TAPP@759..775
              PATH@759..766
                Ident@759..766 "Channel"
              ColonColon@766..768 "::"
              TYPE_PARAM_LIST@768..775
                LBracket@768..769 "["
                TYPE_INT@769..774
                  IsizeKeyword@769..774 "isize"
                RBracket@774..775 "]"
            ColonColon@775..777 "::"
            PATH@777..780
              Ident@777..780 "new"
          ARG_LIST@780..783
            LParen@780..781 "("
            ARG@781..782
              EXPR_INT@781..782
                Int@781..782 "0"
            RParen@782..783 ")"
        Semi@783..784 ";"
        Whitespace@784..789 "\n    "
      STMT_LET@789..879
        LetKeyword@789..792 "let"
        Whitespace@792..793 " "
        PATTERN_VARIABLE@793..802
          Ident@793..801 "fallback"
          Whitespace@801..802 " "
        Eq@802..803 "="
        Whitespace@803..804 " "
        EXPR_SELECT@804..873
          Ident@804..810 "select"
          Whitespace@810..811 " "
          SELECT_ARM_LIST@811..873
            LBrace@811..812 "{"
            Whitespace@812..821 "\n        "
            SELECT_RECV_ARM@821..843
              Ident@821..825 "recv"
              LParen@825..826 "("
              EXPR_IDENT@826..831
                PATH@826..831
                  Ident@826..831 "empty"
              RParen@831..832 ")"
              Whitespace@832..833 " "
              AsKeyword@833..835 "as"
              Whitespace@835..836 " "
              SELECT_RECV_BINDING@836..838
                WildcardKeyword@836..837 "_"
                Whitespace@837..838 " "
              FatArrow@838..840 "=>"
              Whitespace@840..841 " "
              EXPR_PREFIX@841..843
                Minus@841..842 "-"
                EXPR_INT@842..843
                  Int@842..843 "1"
            Comma@843..844 ","
            Whitespace@844..853 "\n        "
            SELECT_DEFAULT_ARM@853..866
              Ident@853..860 "default"
              Whitespace@860..861 " "
              FatArrow@861..863 "=>"
              Whitespace@863..864 " "
              EXPR_INT@864..866
                Int@864..866 "42"
            Comma@866..867 ","
            Whitespace@867..872 "\n    "
            RBrace@872..873 "}"
        Semi@873..874 ";"
        Whitespace@874..879 "\n    "
      STMT_EXPR@879..903
        EXPR_CALL@879..896
          EXPR_IDENT@879..886
            PATH@879..886
              Ident@879..886 "println"
          ARG_LIST@886..896
            LParen@886..887 "("
            ARG@887..895
              EXPR_IDENT@887..895
                PATH@887..895
                  Ident@887..895 "fallback"
            RParen@895..896 ")"
        Semi@896..897 ";"
        Whitespace@897..903 "\n\n    "
      STMT_LET@903..931
        LetKeyword@903..906 "let"
        Whitespace@906..907 " "
        PATTERN_VARIABLE@907..911
          Ident@907..910 "log"
          Whitespace@910..911 " "
        Eq@911..912 "="
        Whitespace@912..913 " "
        EXPR_CALL@913..925
          EXPR_IDENT@913..921
            PATH@913..921
              Ident@913..916 "Ref"
              ColonColon@916..918 "::"
              Ident@918..921 "new"
          ARG_LIST@921..925
            LParen@921..922 "("
            ARG@922..924
              EXPR_STR@922..924
                Str@922..924 "\"\""
            RParen@924..925 ")"
        Semi@925..926 ";"
        Whitespace@926..931 "\n    "
      STMT_LET@931..972
        LetKeyword@931..934 "let"
        Whitespace@934..935 " "
        PATTERN_VARIABLE@935..940
          Ident@935..939 "left"
          Whitespace@939..940 " "
        Eq@940..941 "="
        Whitespace@941..942 " "
        EXPR_CALL@942..966
          EXPR_IDENT@942..963
            TYPE_TAPP@942..958
              PATH@942..949
                Ident@942..949 "Channel"
              ColonColon@949..951 "::"
              TYPE_PARAM_LIST@951..958
                LBracket@951..952 "["
                TYPE_INT@952..957
                  IsizeKeyword@952..957 "isize"
                RBracket@957..958 "]"
            ColonColon@958..960 "::"
            PATH@960..963
              Ident@960..963 "new"
          ARG_LIST@963..966
            LParen@963..964 "("
            ARG@964..965
              EXPR_INT@964..965
                Int@964..965 "0"
            RParen@965..966 ")"
        Semi@966..967 ";"
        Whitespace@967..972 "\n    "
      STMT_LET@972..1014
        LetKeyword@972..975 "let"
        Whitespace@975..976 " "
        PATTERN_VARIABLE@976..982
          Ident@976..981 "right"
          Whitespace@981..982 " "
        Eq@982..983 "="
        Whitespace@983..984 " "
        EXPR_CALL@984..1008
          EXPR_IDENT@984..1005
            TYPE_TAPP@984..1000
              PATH@984..991
                Ident@984..991 "Channel"
              ColonColon@991..993 "::"
              TYPE_PARAM_LIST@993..1000
                LBracket@993..994 "["
                TYPE_INT@994..999
                  IsizeKeyword@994..999 "isize"
                RBracket@999..1000 "]"
            ColonColon@1000..1002 "::"
            PATH@1002..1005
              Ident@1002..1005 "new"
          ARG_LIST@1005..1008
            LParen@1005..1006 "("
            ARG@1006..1007
              EXPR_INT@1006..1007
                Int@1006..1007 "0"
            RParen@1007..1008 ")"
        Semi@1008..1009 ";"
        Whitespace@1009..1014 "\n    "
      STMT_EXPR@1014..1208
        EXPR_SELECT@1014..1202
          Ident@1014..1020 "select"
          Whitespace@1020..1021 " "
          SELECT_ARM_LIST@1021..1202
            LBrace@1021..1022 "{"
            Whitespace@1022..1031 "\n        "
            SELECT_SEND_ARM@1031..1096
              Ident@1031..1035 "send"
              LParen@1035..1036 "("
              EXPR_CALL@1036..1064
                EXPR_IDENT@1036..1048
                  PATH@1036..1048
                    Ident@1036..1048 "mark_channel"
                ARG_LIST@1048..1064
                  LParen@1048..1049 "("
                  ARG@1049..1054
                    EXPR_IDENT@1049..1052
                      PATH@1049..1052
                        Ident@1049..1052 "log"
                    Comma@1052..1053 ","
                    Whitespace@1053..1054 " "
                  ARG@1054..1059
                    EXPR_STR@1054..1057
                      Str@1054..1057 "\"a\""
                    Comma@1057..1058 ","
                    Whitespace@1058..1059 " "
                  ARG@1059..1063
                    EXPR_IDENT@1059..1063
                      PATH@1059..1063
                        Ident@1059..1063 "left"
                  RParen@1063..1064 ")"
              Comma@1064..1065 ","
              Whitespace@1065..1066 " "
              EXPR_CALL@1066..1089
                EXPR_IDENT@1066..1076
                  PATH@1066..1076
                    Ident@1066..1076 "mark_value"
                ARG_LIST@1076..1089
                  LParen@1076..1077 "("
                  ARG@1077..1082
                    EXPR_IDENT@1077..1080
                      PATH@1077..1080
                        Ident@1077..1080 "log"
                    Comma@1080..1081 ","
                    Whitespace@1081..1082 " "
                  ARG@1082..1087
                    EXPR_STR@1082..1085
                      Str@1082..1085 "\"1\""
                    Comma@1085..1086 ","
                    Whitespace@1086..1087 " "
                  ARG@1087..1088
                    EXPR_INT@1087..1088
                      Int@1087..1088 "1"
                  RParen@1088..1089 ")"
              RParen@1089..1090 ")"
              Whitespace@1090..1091 " "
              FatArrow@1091..1093 "=>"
              Whitespace@1093..1094 " "
              EXPR_UNIT@1094..1096
                LParen@1094..1095 "("
                RParen@1095..1096 ")"
            Comma@1096..1097 ","
            Whitespace@1097..1106 "\n        "
            SELECT_SEND_ARM@1106..1172
              Ident@1106..1110 "send"
              LParen@1110..1111 "("
              EXPR_CALL@1111..1140
                EXPR_IDENT@1111..1123
                  PATH@1111..1123
                    Ident@1111..1123 "mark_channel"
                ARG_LIST@1123..1140
                  LParen@1123..1124 "("
                  ARG@1124..1129
                    EXPR_IDENT@1124..1127
                      PATH@1124..1127
                        Ident@1124..1127 "log"
                    Comma@1127..1128 ","
                    Whitespace@1128..1129 " "
                  ARG@1129..1134
                    EXPR_STR@1129..1132
                      Str@1129..1132 "\"b\""
                    Comma@1132..1133 ","
                    Whitespace@1133..1134 " "
                  ARG@1134..1139
                    EXPR_IDENT@1134..1139
                      PATH@1134..1139
                        Ident@1134..1139 "right"
                  RParen@1139..1140 ")"
              Comma@1140..1141 ","
              Whitespace@1141..1142 " "
              EXPR_CALL@1142..1165
                EXPR_IDENT@1142..1152
                  PATH@1142..1152
                    Ident@1142..1152 "mark_value"
                ARG_LIST@1152..1165
                  LParen@1152..1153 "("
                  ARG@1153..1158
                    EXPR_IDENT@1153..1156
                      PATH@1153..1156
                        Ident@1153..1156 "log"
                    Comma@1156..1157 ","
                    Whitespace@1157..1158 " "
                  ARG@1158..1163
                    EXPR_STR@1158..1161
                      Str@1158..1161 "\"2\""
                    Comma@1161..1162 ","
                    Whitespace@1162..1163 " "
                  ARG@1163..1164
                    EXPR_INT@1163..1164
                      Int@1163..1164 "2"
                  RParen@1164..1165 ")"
              RParen@1165..1166 ")"
              Whitespace@1166..1167 " "
              FatArrow@1167..1169 "=>"
              Whitespace@1169..1170 " "
              EXPR_UNIT@1170..1172
                LParen@1170..1171 "("
                RParen@1171..1172 ")"
            Comma@1172..1173 ","
            Whitespace@1173..1182 "\n        "
            SELECT_DEFAULT_ARM@1182..1195
              Ident@1182..1189 "default"
              Whitespace@1189..1190 " "
              FatArrow@1190..1192 "=>"
              Whitespace@1192..1193 " "
              EXPR_UNIT@1193..1195
                LParen@1193..1194 "("
                RParen@1194..1195 ")"
            Comma@1195..1196 ","
            Whitespace@1196..1201 "\n    "
            RBrace@1201..1202 "}"
        Semi@1202..1203 ";"
        Whitespace@1203..1208 "\n    "
      STMT_EXPR@1208..1233
        EXPR_CALL@1208..1226
          EXPR_IDENT@1208..1215
            PATH@1208..1215
              Ident@1208..1215 "println"
          ARG_LIST@1215..1226
            LParen@1215..1216 "("
            ARG@1216..1225
              EXPR_CALL@1216..1225
                EXPR_BINARY@1216..1223
                  EXPR_IDENT@1216..1219
                    PATH@1216..1219
                      Ident@1216..1219 "log"
                  Dot@1219..1220 "."
                  EXPR_IDENT@1220..1223
                    PATH@1220..1223
                      Ident@1220..1223 "get"
                ARG_LIST@1223..1225
                  LParen@1223..1224 "("
                  RParen@1224..1225 ")"
            RParen@1225..1226 ")"
        Semi@1226..1227 ";"
        Whitespace@1227..1233 "\n\n    "
      STMT_EXPR@1233..1255
        EXPR_CALL@1233..1249
          EXPR_BINARY@1233..1247
            EXPR_IDENT@1233..1241
              PATH@1233..1241
                Ident@1233..1241 "received"
            Dot@1241..1242 "."
            EXPR_IDENT@1242..1247
              PATH@1242..1247
                Ident@1242..1247 "close"
          ARG_LIST@1247..1249
            LParen@1247..1248 "("
            RParen@1248..1249 ")"
        Semi@1249..1250 ";"
        Whitespace@1250..1255 "\n    "
      STMT_LET@1255..1409
        LetKeyword@1255..1258 "let"
        Whitespace@1258..1259 " "
        PATTERN_VARIABLE@1259..1266
          Ident@1259..1265 "closed"
          Whitespace@1265..1266 " "
        Eq@1266..1267 "="
        Whitespace@1267..1268 " "
        EXPR_SELECT@1268..1403
          Ident@1268..1274 "select"
          Whitespace@1274..1275 " "
          SELECT_ARM_LIST@1275..1403
            LBrace@1275..1276 "{"
            Whitespace@1276..1285 "\n        "
            SELECT_RECV_ARM@1285..1396
              Ident@1285..1289 "recv"
              LParen@1289..1290 "("
              EXPR_IDENT@1290..1298
                PATH@1290..1298
                  Ident@1290..1298 "received"
              RParen@1298..1299 ")"
              Whitespace@1299..1300 " "
              AsKeyword@1300..1302 "as"
              Whitespace@1302..1303 " "
              SELECT_RECV_BINDING@1303..1309
                Ident@1303..1308 "value"
                Whitespace@1308..1309 " "
              FatArrow@1309..1311 "=>"
              Whitespace@1311..1312 " "
              EXPR_MATCH@1312..1396
                MatchKeyword@1312..1317 "match"
                Whitespace@1317..1318 " "
                EXPR_IDENT@1318..1324
                  PATH@1318..1324
                    Ident@1318..1323 "value"
                    Whitespace@1323..1324 " "
                MATCH_ARM_LIST@1324..1396
                  LBrace@1324..1325 "{"
                  Whitespace@1325..1338 "\n            "
                  MATCH_ARM@1338..1355
                    PATTERN_CONSTR@1338..1346
                      PATH@1338..1342
                        Ident@1338..1342 "Some"
                      LParen@1342..1343 "("
                      PATTERN_WILDCARD@1343..1344
                        WildcardKeyword@1343..1344 "_"
                      RParen@1344..1345 ")"
                      Whitespace@1345..1346 " "
                    FatArrow@1346..1348 "=>"
                    Whitespace@1348..1349 " "
                    EXPR_STR@1349..1355
                      Str@1349..1355 "\"open\""
                  Comma@1355..1356 ","
                  Whitespace@1356..1369 "\n            "
                  MATCH_ARM@1369..1385
                    PATTERN_CONSTR@1369..1374
                      PATH@1369..1374
                        Ident@1369..1373 "None"
                        Whitespace@1373..1374 " "
                    FatArrow@1374..1376 "=>"
                    Whitespace@1376..1377 " "
                    EXPR_STR@1377..1385
                      Str@1377..1385 "\"closed\""
                  Comma@1385..1386 ","
                  Whitespace@1386..1395 "\n        "
                  RBrace@1395..1396 "}"
            Comma@1396..1397 ","
            Whitespace@1397..1402 "\n    "
            RBrace@1402..1403 "}"
        Semi@1403..1404 ";"
        Whitespace@1404..1409 "\n    "
      EXPR_CALL@1409..1425
        EXPR_IDENT@1409..1416
          PATH@1409..1416
            Ident@1409..1416 "println"
        ARG_LIST@1416..1425
          LParen@1416..1417 "("
          ARG@1417..1423
            EXPR_IDENT@1417..1423
              PATH@1417..1423
                Ident@1417..1423 "closed"
          RParen@1423..1424 ")"
          Whitespace@1424..1425 "\n"
      RBrace@1425..1426 "}"
      Whitespace@1426..1427 "\n"