FILE@0..796
  ENUM@0..66
    ATTRIBUTE_LIST@0..20
      ATTRIBUTE@0..20
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "derive"
        LParen@8..9 "("
        Ident@9..17 "ToString"
        RParen@17..18 ")"
        RBracket@18..19 "]"
        Whitespace@19..20 "\n"
    EnumKeyword@20..24 "enum"
    Whitespace@24..25 " "
    Ident@25..30 "Color"
    Whitespace@30..31 " "
    LBrace@31..32 "{"
    Whitespace@32..37 "\n    "
    VARIANT_LIST@37..66
      VARIANT@37..40
        Ident@37..40 "Red"
      Comma@40..41 ","
      Whitespace@41..46 "\n    "
      VARIANT@46..51
        Ident@46..51 "Green"
      Comma@51..52 ","
      Whitespace@52..57 "\n    "
      VARIANT@57..61
        Ident@57..61 "Blue"
      Comma@61..62 ","
      Whitespace@62..63 "\n"
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  STRUCT@66..146
    ATTRIBUTE_LIST@66..86
      ATTRIBUTE@66..86
        Pound@66..67 "#"
        LBracket@67..68 "["
        Ident@68..74 "derive"
        LParen@74..75 "("
        Ident@75..83 "ToString"
        RParen@83..84 ")"
        RBracket@84..85 "]"
        Whitespace@85..86 "\n"
    StructKeyword@86..92 "struct"
    Whitespace@92..93 " "
    Ident@93..98 "Point"
    Whitespace@98..99 " "
    LBrace@99..100 "{"
    Whitespace@100..105 "\n    "
    STRUCT_FIELD_LIST@105..146
      STRUCT_FIELD@105..111
        Ident@105..106 "x"
        Colon@106..107 ":"
        Whitespace@107..108 " "
        TYPE_INT32@108..111
          I32Keyword@108..111 "i32"
      Comma@111..112 ","
      Whitespace@112..117 "\n    "
      STRUCT_FIELD@117..123
        Ident@117..118 "y"
        Colon@118..119 ":"
        Whitespace@119..120 " "
        TYPE_INT32@120..123
          I32Keyword@120..123 "i32"
      Comma@123..124 ","
      Whitespace@124..129 "\n    "
      STRUCT_FIELD@129..141
        Ident@129..134 "color"
        Colon@134..135 ":"
        Whitespace@135..136 " "
        TYPE_TAPP@136..141
          PATH@136..141
            Ident@136..141 "Color"
      Comma@141..142 ","
      Whitespace@142..143 "\n"
      RBrace@143..144 "}"
      Whitespace@144..146 "\n\n"
  IMPL@146..263
    ImplKeyword@146..150 "impl"
    Whitespace@150..151 " "
    TYPE_TAPP@151..157
      PATH@151..157
        Ident@151..156 "Point"
        Whitespace@156..157 " "
    LBrace@157..158 "{"
    Whitespace@158..163 "\n    "
    FN@163..260
      FnKeyword@163..165 "fn"
      Whitespace@165..166 " "
      Ident@166..169 "new"
      PARAM_LIST@169..200
        LParen@169..170 "("
        PARAM@170..178
          Ident@170..171 "x"
          Colon@171..172 ":"
          Whitespace@172..173 " "
          TYPE_INT32@173..176
            I32Keyword@173..176 "i32"
          Comma@176..177 ","
          Whitespace@177..178 " "
        PARAM@178..186
          Ident@178..179 "y"
          Colon@179..180 ":"
          Whitespace@180..181 " "
          TYPE_INT32@181..184
            I32Keyword@181..184 "i32"
          Comma@184..185 ","
          Whitespace@185..186 " "
        PARAM@186..198
          Ident@186..191 "color"
          Colon@191..192 ":"
          Whitespace@192..193 " "
          TYPE_TAPP@193..198
            PATH@193..198
              Ident@193..198 "Color"
        RParen@198..199 ")"
        Whitespace@199..200 " "
      Arrow@200..202 "->"
      Whitespace@202..203 " "
      TYPE_TAPP@203..209
        PATH@203..209
          Ident@203..208 "Point"
          Whitespace@208..209 " "
      BLOCK@209..260
        LBrace@209..210 "{"
        Whitespace@210..219 "\n        "
        EXPR_STRUCT_LITERAL@219..258
          PATH@219..225
            Ident@219..224 "Point"
            Whitespace@224..225 " "
          STRUCT_LITERAL_FIELD_LIST@225..258
            LBrace@225..226 "{"
            Whitespace@226..227 " "
            STRUCT_LITERAL_FIELD@227..231
              Ident@227..228 "x"
              Colon@228..229 ":"
              Whitespace@229..230 " "
              EXPR_IDENT@230..231
                PATH@230..231
                  Ident@230..231 "x"
            Comma@231..232 ","
            Whitespace@232..233 " "
            STRUCT_LITERAL_FIELD@233..237
              Ident@233..234 "y"
              Colon@234..235 ":"
              Whitespace@235..236 " "
              EXPR_IDENT@236..237
                PATH@236..237
                  Ident@236..237 "y"
            Comma@237..238 ","
            Whitespace@238..239 " "
            STRUCT_LITERAL_FIELD@239..252
              Ident@239..244 "color"
              Colon@244..245 ":"
              Whitespace@245..246 " "
              EXPR_IDENT@246..252
                PATH@246..252
                  Ident@246..251 "color"
                  Whitespace@251..252 " "
            RBrace@252..253 "}"
            Whitespace@253..258 "\n    "
        RBrace@258..259 "}"
        Whitespace@259..260 "\n"
    RBrace@260..261 "}"
    Whitespace@261..263 "\n\n"
  STRUCT@263..350
    ATTRIBUTE_LIST@263..283
      ATTRIBUTE@263..283
        Pound@263..264 "#"
        LBracket@264..265 "["
        Ident@265..271 "derive"
        LParen@271..272 "("
        Ident@272..280 "ToString"
        RParen@280..281 ")"
        RBracket@281..282 "]"
        Whitespace@282..283 "\n"
    StructKeyword@283..289 "struct"
    Whitespace@289..290 " "
    Ident@290..294 "Line"
    Whitespace@294..295 " "
    LBrace@295..296 "{"
    Whitespace@296..301 "\n    "
    STRUCT_FIELD_LIST@301..350
      STRUCT_FIELD@301..312
        Ident@301..305 "from"
        Colon@305..306 ":"
        Whitespace@306..307 " "
        TYPE_TAPP@307..312
          PATH@307..312
            Ident@307..312 "Point"
      Comma@312..313 ","
      Whitespace@313..318 "\n    "
      STRUCT_FIELD@318..327
        Ident@318..320 "to"
        Colon@320..321 ":"
        Whitespace@321..322 " "
        TYPE_TAPP@322..327
          PATH@322..327
            Ident@322..327 "Point"
      Comma@327..328 ","
      Whitespace@328..333 "\n    "
      STRUCT_FIELD@333..345
        Ident@333..338 "color"
        Colon@338..339 ":"
        Whitespace@339..340 " "
        TYPE_TAPP@340..345
          PATH@340..345
            Ident@340..345 "Color"
      Comma@345..346 ","
      Whitespace@346..347 "\n"
      RBrace@347..348 "}"
      Whitespace@348..350 "\n\n"
  IMPL@350..480
    ImplKeyword@350..354 "impl"
    Whitespace@354..355 " "
    TYPE_TAPP@355..360
      PATH@355..360
        Ident@355..359 "Line"
        Whitespace@359..360 " "
    LBrace@360..361 "{"
    Whitespace@361..366 "\n    "
    FN@366..477
      FnKeyword@366..368 "fn"
      Whitespace@368..369 " "
      Ident@369..372 "new"
      PARAM_LIST@372..411
        LParen@372..373 "("
        PARAM@373..386
          Ident@373..377 "from"
          Colon@377..378 ":"
          Whitespace@378..379 " "
          TYPE_TAPP@379..384
            PATH@379..384
              Ident@379..384 "Point"
          Comma@384..385 ","
          Whitespace@385..386 " "
        PARAM@386..397
          Ident@386..388 "to"
          Colon@388..389 ":"
          Whitespace@389..390 " "
          TYPE_TAPP@390..395
            PATH@390..395
              Ident@390..395 "Point"
          Comma@395..396 ","
          Whitespace@396..397 " "
        PARAM@397..409
          Ident@397..402 "color"
          Colon@402..403 ":"
          Whitespace@403..404 " "
          TYPE_TAPP@404..409
            PATH@404..409
              Ident@404..409 "Color"
        RParen@409..410 ")"
        Whitespace@410..411 " "
      Arrow@411..413 "->"
      Whitespace@413..414 " "
      TYPE_TAPP@414..419
        PATH@414..419
          Ident@414..418 "Line"
          Whitespace@418..419 " "
      BLOCK@419..477
        LBrace@419..420 "{"
        Whitespace@420..429 "\n        "
        EXPR_STRUCT_LITERAL@429..475
          PATH@429..434
            Ident@429..433 "Line"
            Whitespace@433..434 " "
          STRUCT_LITERAL_FIELD_LIST@434..475
            LBrace@434..435 "{"
            Whitespace@435..436 " "
            STRUCT_LITERAL_FIELD@436..446
              Ident@436..440 "from"
              Colon@440..441 ":"
              Whitespace@441..442 " "
              EXPR_IDENT@442..446
                PATH@442..446
                  Ident@442..446 "from"
            Comma@446..447 ","
            Whitespace@447..448 " "
            STRUCT_LITERAL_FIELD@448..454
              Ident@448..450 "to"
              Colon@450..451 ":"
              Whitespace@451..452 " "
              EXPR_IDENT@452..454
                PATH@452..454
                  Ident@452..454 "to"
            Comma@454..455 ","
            Whitespace@455..456 " "
            STRUCT_LITERAL_FIELD@456..469
              Ident@456..461 "color"
              Colon@461..462 ":"
              Whitespace@462..463 " "
              EXPR_IDENT@463..469
                PATH@463..469
                  Ident@463..468 "color"
                  Whitespace@468..469 " "
            RBrace@469..470 "}"
            Whitespace@470..475 "\n    "
        RBrace@475..476 "}"
        Whitespace@476..477 "\n"
    RBrace@477..478 "}"
    Whitespace@478..480 "\n\n"
  ENUM@480..554
    ATTRIBUTE_LIST@480..500
      ATTRIBUTE@480..500
        Pound@480..481 "#"
        LBracket@481..482 "["
        Ident@482..488 "derive"
        LParen@488..489 "("
        Ident@489..497 "ToString"
        RParen@497..498 ")"
        RBracket@498..499 "]"
        Whitespace@499..500 "\n"
    EnumKeyword@500..504 "enum"
    Whitespace@504..505 " "
    Ident@505..513 "LineList"
    Whitespace@513..514 " "
    LBrace@514..515 "{"
    Whitespace@515..520 "\n    "
    VARIANT_LIST@520..554
      VARIANT@520..523
        Ident@520..523 "Nil"
      Comma@523..524 ","
      Whitespace@524..529 "\n    "
      VARIANT@529..549
        Ident@529..533 "Cons"
        TYPE_LIST@533..549
          LParen@533..534 "("
          ENUM_TUPLE_FIELD@534..538
            TYPE_TAPP@534..538
              PATH@534..538
                Ident@534..538 "Line"
          Comma@538..539 ","
          Whitespace@539..540 " "
          ENUM_TUPLE_FIELD@540..548
            TYPE_TAPP@540..548
              PATH@540..548
                Ident@540..548 "LineList"
          RParen@548..549 ")"
      Comma@549..550 ","
      Whitespace@550..551 "\n"
      RBrace@551..552 "}"
      Whitespace@552..554 "\n\n"
  FN@554..796
    FnKeyword@554..556 "fn"
    Whitespace@556..557 " "
    Ident@557..561 "main"
    PARAM_LIST@561..564
      LParen@561..562 "("
      RParen@562..563 ")"
      Whitespace@563..564 " "
    BLOCK@564..796
      LBrace@564..565 "{"
      Whitespace@565..570 "\n    "
      STMT_LET@570..617
        LetKeyword@570..573 "let"
        Whitespace@573..574 " "
        PATTERN_VARIABLE@574..579
          Ident@574..578 "from"
          Whitespace@578..579 " "
        Eq@579..580 "="
        Whitespace@580..581 " "
        EXPR_CALL@581..611
          EXPR_IDENT@581..591
            PATH@581..591
              Ident@581..586 "Point"
              ColonColon@586..588 "::"
              Ident@588..591 "new"
          ARG_LIST@591..611
            LParen@591..592 "("
            ARG@592..596
              EXPR_INT@592..594
                Int@592..594 "10"
              Comma@594..595 ","
              Whitespace@595..596 " "
            ARG@596..600
              EXPR_INT@596..598
                Int@596..598 "20"
              Comma@598..599 ","
              Whitespace@599..600 " "
            ARG@600..610
              EXPR_IDENT@600..610
                PATH@600..610
                  Ident@600..605 "Color"
                  ColonColon@605..607 "::"
                  Ident@607..610 "Red"
            RParen@610..611 ")"
        Semi@611..612 ";"
        Whitespace@612..617 "\n    "
      STMT_LET@617..664
        LetKeyword@617..620 "let"
        Whitespace@620..621 " "
        PATTERN_VARIABLE@621..624
          Ident@621..623 "to"
          Whitespace@623..624 " "
        Eq@624..625 "="
        Whitespace@625..626 " "
        EXPR_CALL@626..658
          EXPR_IDENT@626..636
            PATH@626..636
              Ident@626..631 "Point"
              ColonColon@631..633 "::"
              Ident@633..636 "new"
          ARG_LIST@636..658
            LParen@636..637 "("
            ARG@637..641
              EXPR_INT@637..639
                Int@637..639 "30"
              Comma@639..640 ","
              Whitespace@640..641 " "
            ARG@641..645
              EXPR_INT@641..643
                Int@641..643 "40"
              Comma@643..644 ","
              Whitespace@644..645 " "
            ARG@645..657
              EXPR_IDENT@645..657
                PATH@645..657
                  Ident@645..650 "Color"
                  ColonColon@650..652 "::"
                  Ident@652..657 "Green"
            RParen@657..658 ")"
        Semi@658..659 ";"
        Whitespace@659..664 "\n    "
      STMT_LET@664..713
        LetKeyword@664..667 "let"
        Whitespace@667..668 " "
        PATTERN_VARIABLE@668..673
          Ident@668..672 "line"
          Whitespace@672..673 " "
        Eq@673..674 "="
        Whitespace@674..675 " "
        EXPR_CALL@675..707
          EXPR_IDENT@675..684
            PATH@675..684
              Ident@675..679 "Line"
              ColonColon@679..681 "::"
              Ident@681..684 "new"
          ARG_LIST@684..707
            LParen@684..685 "("
            ARG@685..691
              EXPR_IDENT@685..689
                PATH@685..689
                  Ident@685..689 "from"
              Comma@689..690 ","
              Whitespace@690..691 " "
            ARG@691..695
              EXPR_IDENT@691..693
                PATH@691..693
                  Ident@691..693 "to"
              Comma@693..694 ","
              Whitespace@694..695 " "
            ARG@695..706
              EXPR_IDENT@695..706
                PATH@695..706
                  Ident@695..700 "Color"
                  ColonColon@700..702 "::"
                  Ident@702..706 "Blue"
            RParen@706..707 ")"
        Semi@707..708 ";"
        Whitespace@708..713 "\n    "
      STMT_LET@713..766
        LetKeyword@713..716 "let"
        Whitespace@716..717 " "
        PATTERN_VARIABLE@717..723
          Ident@717..722 "lines"
          Whitespace@722..723 " "
        Eq@723..724 "="
        Whitespace@724..725 " "
        EXPR_CALL@725..760
          EXPR_IDENT@725..739
            PATH@725..739
              Ident@725..733 "LineList"
              ColonColon@733..735 "::"
              Ident@735..739 "Cons"
          ARG_LIST@739..760
            LParen@739..740 "("
            ARG@740..746
              EXPR_IDENT@740..744
                PATH@740..744
                  Ident@740..744 "line"
              Comma@744..745 ","
              Whitespace@745..746 " "
            ARG@746..759
              EXPR_IDENT@746..759
                PATH@746..759
                  Ident@746..754 "LineList"
                  ColonColon@754..756 "::"
                  Ident@756..759 "Nil"
            RParen@759..760 ")"
        Semi@760..761 ";"
        Whitespace@761..766 "\n    "
      STMT_EXPR@766..794
        EXPR_CALL@766..792
          EXPR_IDENT@766..773
            PATH@766..773
              Ident@766..773 "println"
          ARG_LIST@773..792
            LParen@773..774 "("
            ARG@774..791
              EXPR_CALL@774..791
                EXPR_BINARY@774..789
                  EXPR_IDENT@774..779
                    PATH@774..779
                      Ident@774..779 "lines"
                  Dot@779..780 "."
                  EXPR_IDENT@780..789
                    PATH@780..789
                      Ident@780..789 "to_string"
                ARG_LIST@789..791
                  LParen@789..790 "("
                  RParen@790..791 ")"
            RParen@791..792 ")"
        Semi@792..793 ";"
        Whitespace@793..794 "\n"
      RBrace@794..795 "}"
      Whitespace@795..796 "\n"