FILE@0..813
  TRAIT@0..83
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..14 "Provider"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    TRAIT_METHOD_SIG_LIST@21..83
      TRAIT_ASSOCIATED_TYPE@21..46
        TypeKeyword@21..25 "type"
        Whitespace@25..26 " "
        Ident@26..30 "Item"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TRAIT_SET@32..40
          TYPE_TAPP@32..40
            PATH@32..40
              Ident@32..40 "ToString"
        Semi@40..41 ";"
        Whitespace@41..46 "\n    "
      TRAIT_METHOD_SIG@46..80
        FnKeyword@46..48 "fn"
        Whitespace@48..49 " "
        Ident@49..52 "get"
        PARAM_LIST@52..65
          LParen@52..53 "("
          PARAM@53..63
            Ident@53..57 "self"
            Colon@57..58 ":"
            Whitespace@58..59 " "
            TYPE_TAPP@59..63
              PATH@59..63
                Ident@59..63 "Self"
          RParen@63..64 ")"
          Whitespace@64..65 " "
        Arrow@65..67 "->"
        Whitespace@67..68 " "
        TYPE_TAPP@68..78
          PATH@68..78
            Ident@68..72 "Self"
            ColonColon@72..74 "::"
            Ident@74..78 "Item"
        Semi@78..79 ";"
        Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  STRUCT@83..120
    StructKeyword@83..89 "struct"
    Whitespace@89..90 " "
    Ident@90..96 "Number"
    Whitespace@96..97 " "
    LBrace@97..98 "{"
    Whitespace@98..103 "\n    "
    STRUCT_FIELD_LIST@103..120
      STRUCT_FIELD@103..115
        Ident@103..108 "value"
        Colon@108..109 ":"
        Whitespace@109..110 " "
        TYPE_INT32@110..115
          Int32Keyword@110..115 "int32"
      Comma@115..116 ","
      Whitespace@116..117 "\n"
      RBrace@117..118 "}"
      Whitespace@118..120 "\n\n"
  STRUCT@120..153
    StructKeyword@120..126 "struct"
    Whitespace@126..127 " "
    Ident@127..130 "Box"
    GENERIC_LIST@130..134
      LBracket@130..131 "["
      GENERIC@131..132
        Ident@131..132 "T"
      RBracket@132..133 "]"
      Whitespace@133..134 " "
    LBrace@134..135 "{"
    Whitespace@135..140 "\n    "
    STRUCT_FIELD_LIST@140..153
      STRUCT_FIELD@140..148
        Ident@140..145 "value"
        Colon@145..146 ":"
        Whitespace@146..147 " "
        TYPE_TAPP@147..148
          PATH@147..148
            Ident@147..148 "T"
      Comma@148..149 ","
      Whitespace@149..150 "\n"
      RBrace@150..151 "}"
      Whitespace@151..153 "\n\n"
  IMPL@153..268
    ImplKeyword@153..157 "impl"
    Whitespace@157..158 " "
    TYPE_TAPP@158..167
      PATH@158..167
        Ident@158..166 "Provider"
        Whitespace@166..167 " "
    ForKeyword@167..170 "for"
    Whitespace@170..171 " "
    TYPE_TAPP@171..178
      PATH@171..178
        Ident@171..177 "Number"
        Whitespace@177..178 " "
    LBrace@178..179 "{"
    Whitespace@179..184 "\n    "
    IMPL_ASSOCIATED_TYPE@184..208
      TypeKeyword@184..188 "type"
      Whitespace@188..189 " "
      Ident@189..193 "Item"
      Whitespace@193..194 " "
      Eq@194..195 "="
      Whitespace@195..196 " "
      TYPE_INT32@196..201
        Int32Keyword@196..201 "int32"
      Semi@201..202 ";"
      Whitespace@202..208 "\n\n    "
    FN@208..265
      FnKeyword@208..210 "fn"
      Whitespace@210..211 " "
      Ident@211..214 "get"
      PARAM_LIST@214..229
        LParen@214..215 "("
        PARAM@215..227
          Ident@215..219 "self"
          Colon@219..220 ":"
          Whitespace@220..221 " "
          TYPE_TAPP@221..227
            PATH@221..227
              Ident@221..227 "Number"
        RParen@227..228 ")"
        Whitespace@228..229 " "
      Arrow@229..231 "->"
      Whitespace@231..232 " "
      TYPE_INT32@232..238
        Int32Keyword@232..237 "int32"
        Whitespace@237..238 " "
      BLOCK@238..265
        LBrace@238..239 "{"
        Whitespace@239..248 "\n        "
        EXPR_BINARY@248..263
          EXPR_IDENT@248..252
            PATH@248..252
              Ident@248..252 "self"
          Dot@252..253 "."
          EXPR_IDENT@253..263
            PATH@253..263
              Ident@253..258 "value"
              Whitespace@258..263 "\n    "
        RBrace@263..264 "}"
        Whitespace@264..265 "\n"
    RBrace@265..266 "}"
    Whitespace@266..268 "\n\n"
  IMPL@268..388
    ImplKeyword@268..272 "impl"
    GENERIC_LIST@272..286
      LBracket@272..273 "["
      GENERIC@273..284
        Ident@273..274 "T"
        Colon@274..275 ":"
        Whitespace@275..276 " "
        TRAIT_SET@276..284
          TYPE_TAPP@276..284
            PATH@276..284
              Ident@276..284 "ToString"
      RBracket@284..285 "]"
      Whitespace@285..286 " "
    TYPE_TAPP@286..295
      PATH@286..295
        Ident@286..294 "Provider"
        Whitespace@294..295 " "
    ForKeyword@295..298 "for"
    Whitespace@298..299 " "
    TYPE_TAPP@299..306
      PATH@299..302
        Ident@299..302 "Box"
      TYPE_PARAM_LIST@302..306
        LBracket@302..303 "["
        TYPE_TAPP@303..304
          PATH@303..304
            Ident@303..304 "T"
        RBracket@304..305 "]"
        Whitespace@305..306 " "
    LBrace@306..307 "{"
    Whitespace@307..312 "\n    "
    IMPL_ASSOCIATED_TYPE@312..332
      TypeKeyword@312..316 "type"
      Whitespace@316..317 " "
      Ident@317..321 "Item"
      Whitespace@321..322 " "
      Eq@322..323 "="
      Whitespace@323..324 " "
      TYPE_TAPP@324..325
        PATH@324..325
          Ident@324..325 "T"
      Semi@325..326 ";"
      Whitespace@326..332 "\n\n    "
    FN@332..385
      FnKeyword@332..334 "fn"
      Whitespace@334..335 " "
      Ident@335..338 "get"
      PARAM_LIST@338..353
        LParen@338..339 "("
        PARAM@339..351
          Ident@339..343 "self"
          Colon@343..344 ":"
          Whitespace@344..345 " "
          TYPE_TAPP@345..351
            PATH@345..348
              Ident@345..348 "Box"
            TYPE_PARAM_LIST@348..351
              LBracket@348..349 "["
              TYPE_TAPP@349..350
                PATH@349..350
                  Ident@349..350 "T"
              RBracket@350..351 "]"
        RParen@351..352 ")"
        Whitespace@352..353 " "
      Arrow@353..355 "->"
      Whitespace@355..356 " "
      TYPE_TAPP@356..358
        PATH@356..358
          Ident@356..357 "T"
          Whitespace@357..358 " "
      BLOCK@358..385
        LBrace@358..359 "{"
        Whitespace@359..368 "\n        "
        EXPR_BINARY@368..383
          EXPR_IDENT@368..372
            PATH@368..372
              Ident@368..372 "self"
          Dot@372..373 "."
          EXPR_IDENT@373..383
            PATH@373..383
              Ident@373..378 "value"
              Whitespace@378..383 "\n    "
        RBrace@383..384 "}"
        Whitespace@384..385 "\n"
    RBrace@385..386 "}"
    Whitespace@386..388 "\n\n"
  FN@388..457
    FnKeyword@388..390 "fn"
    Whitespace@390..391 " "
    Ident@391..395 "read"
    GENERIC_LIST@395..408
      LBracket@395..396 "["
      GENERIC@396..407
        Ident@396..397 "P"
        Colon@397..398 ":"
        Whitespace@398..399 " "
        TRAIT_SET@399..407
          TYPE_TAPP@399..407
            PATH@399..407
              Ident@399..407 "Provider"
      RBracket@407..408 "]"
    PARAM_LIST@408..422
      LParen@408..409 "("
      PARAM@409..420
        Ident@409..417 "provider"
        Colon@417..418 ":"
        Whitespace@418..419 " "
        TYPE_TAPP@419..420
          PATH@419..420
            Ident@419..420 "P"
      RParen@420..421 ")"
      Whitespace@421..422 " "
    Arrow@422..424 "->"
    Whitespace@424..425 " "
    TYPE_TAPP@425..433
      PATH@425..433
        Ident@425..426 "P"
        ColonColon@426..428 "::"
        Ident@428..432 "Item"
        Whitespace@432..433 " "
    BLOCK@433..457
      LBrace@433..434 "{"
      Whitespace@434..439 "\n    "
      EXPR_CALL@439..454
        EXPR_BINARY@439..451
          EXPR_IDENT@439..447
            PATH@439..447
              Ident@439..447 "provider"
          Dot@447..448 "."
          EXPR_IDENT@448..451
            PATH@448..451
              Ident@448..451 "get"
        ARG_LIST@451..454
          LParen@451..452 "("
          RParen@452..453 ")"
          Whitespace@453..454 "\n"
      RBrace@454..455 "}"
      Whitespace@455..457 "\n\n"
  FN@457..547
    FnKeyword@457..459 "fn"
    Whitespace@459..460 " "
    Ident@460..467 "read_as"
    GENERIC_LIST@467..473
      LBracket@467..468 "["
      GENERIC@468..469
        Ident@468..469 "P"
      Comma@469..470 ","
      Whitespace@470..471 " "
      GENERIC@471..472
        Ident@471..472 "T"
      RBracket@472..473 "]"
    PARAM_LIST@473..487
      LParen@473..474 "("
      PARAM@474..485
        Ident@474..482 "provider"
        Colon@482..483 ":"
        Whitespace@483..484 " "
        TYPE_TAPP@484..485
          PATH@484..485
            Ident@484..485 "P"
      RParen@485..486 ")"
      Whitespace@486..487 " "
    Arrow@487..489 "->"
    Whitespace@489..490 " "
    TYPE_TAPP@490..492
      PATH@490..492
        Ident@490..491 "T"
        Whitespace@491..492 " "
    WHERE_CLAUSE@492..523
      WhereKeyword@492..497 "where"
      Whitespace@497..498 " "
      WHERE_PREDICATE@498..509
        TYPE_TAPP@498..499
          PATH@498..499
            Ident@498..499 "P"
        Colon@499..500 ":"
        Whitespace@500..501 " "
        TRAIT_SET@501..509
          TYPE_TAPP@501..509
            PATH@501..509
              Ident@501..509 "Provider"
      Comma@509..510 ","
      Whitespace@510..511 " "
      WHERE_PREDICATE@511..523
        TYPE_TAPP@511..519
          PATH@511..519
            Ident@511..512 "P"
            ColonColon@512..514 "::"
            Ident@514..518 "Item"
            Whitespace@518..519 " "
        Eq@519..520 "="
        Whitespace@520..521 " "
        TYPE_TAPP@521..523
          PATH@521..523
            Ident@521..522 "T"
            Whitespace@522..523 " "
    BLOCK@523..547
      LBrace@523..524 "{"
      Whitespace@524..529 "\n    "
      EXPR_CALL@529..544
        EXPR_BINARY@529..541
          EXPR_IDENT@529..537
            PATH@529..537
              Ident@529..537 "provider"
          Dot@537..538 "."
          EXPR_IDENT@538..541
            PATH@538..541
              Ident@538..541 "get"
        ARG_LIST@541..544
          LParen@541..542 "("
          RParen@542..543 ")"
          Whitespace@543..544 "\n"
      RBrace@544..545 "}"
      Whitespace@545..547 "\n\n"
  FN@547..813
    FnKeyword@547..549 "fn"
    Whitespace@549..550 " "
    Ident@550..554 "main"
    PARAM_LIST@554..557
      LParen@554..555 "("
      RParen@555..556 ")"
      Whitespace@556..557 " "
    Arrow@557..559 "->"
    Whitespace@559..560 " "
    TYPE_UNIT@560..565
      UnitKeyword@560..564 "unit"
      Whitespace@564..565 " "
    BLOCK@565..813
      LBrace@565..566 "{"
      Whitespace@566..571 "\n    "
      STMT_EXPR@571..624
        EXPR_CALL@571..618
          EXPR_IDENT@571..578
            PATH@571..578
              Ident@571..578 "println"
          ARG_LIST@578..618
            LParen@578..579 "("
            ARG@579..617
              EXPR_CALL@579..617
                EXPR_BINARY@579..615
                  EXPR_CALL@579..605
                    EXPR_IDENT@579..583
                      PATH@579..583
                        Ident@579..583 "read"
                    ARG_LIST@583..605
                      LParen@583..584 "("
                      ARG@584..604
                        EXPR_STRUCT_LITERAL@584..604
                          PATH@584..591
                            Ident@584..590 "Number"
                            Whitespace@590..591 " "
                          STRUCT_LITERAL_FIELD_LIST@591..604
                            LBrace@591..592 "{"
                            Whitespace@592..593 " "
                            STRUCT_LITERAL_FIELD@593..603
                              Ident@593..598 "value"
                              Colon@598..599 ":"
                              Whitespace@599..600 " "
                              EXPR_INT@600..603
                                Int@600..602 "42"
                                Whitespace@602..603 " "
                            RBrace@603..604 "}"
                      RParen@604..605 ")"
                  Dot@605..606 "."
                  EXPR_IDENT@606..615
                    PATH@606..615
                      Ident@606..615 "to_string"
                ARG_LIST@615..617
                  LParen@615..616 "("
                  RParen@616..617 ")"
            RParen@617..618 ")"
        Semi@618..619 ";"
        Whitespace@619..624 "\n    "
      STMT_LET@624..677
        LetKeyword@624..627 "let"
        Whitespace@627..628 " "
        PATTERN_VARIABLE@628..633
          Ident@628..633 "value"
        Colon@633..634 ":"
        Whitespace@634..635 " "
        TYPE_INT32@635..641
          Int32Keyword@635..640 "int32"
          Whitespace@640..641 " "
        Eq@641..642 "="
        Whitespace@642..643 " "
        EXPR_CALL@643..671
          EXPR_IDENT@643..650
            PATH@643..650
              Ident@643..650 "read_as"
          ARG_LIST@650..671
            LParen@650..651 "("
            ARG@651..670
              EXPR_STRUCT_LITERAL@651..670
                PATH@651..658
                  Ident@651..657 "Number"
                  Whitespace@657..658 " "
                STRUCT_LITERAL_FIELD_LIST@658..670
                  LBrace@658..659 "{"
                  Whitespace@659..660 " "
                  STRUCT_LITERAL_FIELD@660..669
                    Ident@660..665 "value"
                    Colon@665..666 ":"
                    Whitespace@666..667 " "
                    EXPR_INT@667..669
                      Int@667..668 "7"
                      Whitespace@668..669 " "
                  RBrace@669..670 "}"
            RParen@670..671 ")"
        Semi@671..672 ";"
        Whitespace@672..677 "\n    "
      STMT_EXPR@677..709
        EXPR_CALL@677..703
          EXPR_IDENT@677..684
            PATH@677..684
              Ident@677..684 "println"
          ARG_LIST@684..703
            LParen@684..685 "("
            ARG@685..702
              EXPR_CALL@685..702
                EXPR_BINARY@685..700
                  EXPR_IDENT@685..690
                    PATH@685..690
                      Ident@685..690 "value"
                  Dot@690..691 "."
                  EXPR_IDENT@691..700
                    PATH@691..700
                      Ident@691..700 "to_string"
                ARG_LIST@700..702
                  LParen@700..701 "("
                  RParen@701..702 ")"
            RParen@702..703 ")"
        Semi@703..704 ";"
        Whitespace@704..709 "\n    "
      STMT_EXPR@709..754
        EXPR_CALL@709..748
          EXPR_IDENT@709..716
            PATH@709..716
              Ident@709..716 "println"
          ARG_LIST@716..748
            LParen@716..717 "("
            ARG@717..747
              EXPR_CALL@717..747
                EXPR_IDENT@717..721
                  PATH@717..721
                    Ident@717..721 "read"
                ARG_LIST@721..747
                  LParen@721..722 "("
                  ARG@722..746
                    EXPR_STRUCT_LITERAL@722..746
                      PATH@722..726
                        Ident@722..725 "Box"
                        Whitespace@725..726 " "
                      STRUCT_LITERAL_FIELD_LIST@726..746
                        LBrace@726..727 "{"
                        Whitespace@727..728 " "
                        STRUCT_LITERAL_FIELD@728..745
                          Ident@728..733 "value"
                          Colon@733..734 ":"
                          Whitespace@734..735 " "
                          EXPR_STR@735..745
                            Str@735..744 "\"generic\""
                            Whitespace@744..745 " "
                        RBrace@745..746 "}"
                  RParen@746..747 ")"
            RParen@747..748 ")"
        Semi@748..749 ";"
        Whitespace@749..754 "\n    "
      EXPR_CALL@754..811
        EXPR_IDENT@754..761
          PATH@754..761
            Ident@754..761 "println"
        ARG_LIST@761..811
          LParen@761..762 "("
          ARG@762..809
            EXPR_CALL@762..809
              EXPR_BINARY@762..807
                EXPR_CALL@762..797
                  EXPR_IDENT@762..775
                    PATH@762..775
                      Ident@762..770 "Provider"
                      ColonColon@770..772 "::"
                      Ident@772..775 "get"
                  ARG_LIST@775..797
                    LParen@775..776 "("
                    ARG@776..796
                      EXPR_STRUCT_LITERAL@776..796
                        PATH@776..783
                          Ident@776..782 "Number"
                          Whitespace@782..783 " "
                        STRUCT_LITERAL_FIELD_LIST@783..796
                          LBrace@783..784 "{"
                          Whitespace@784..785 " "
                          STRUCT_LITERAL_FIELD@785..795
                            Ident@785..790 "value"
                            Colon@790..791 ":"
                            Whitespace@791..792 " "
                            EXPR_INT@792..795
                              Int@792..794 "11"
                              Whitespace@794..795 " "
                          RBrace@795..796 "}"
                    RParen@796..797 ")"
                Dot@797..798 "."
                EXPR_IDENT@798..807
                  PATH@798..807
                    Ident@798..807 "to_string"
              ARG_LIST@807..809
                LParen@807..808 "("
                RParen@808..809 ")"
          RParen@809..810 ")"
          Whitespace@810..811 "\n"
      RBrace@811..812 "}"
      Whitespace@812..813 "\n"