FILE@0..385
  EXTERN@0..109
    ATTRIBUTE_LIST@0..18
      ATTRIBUTE@0..18
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..16 "go_option_last"
        RBracket@16..17 "]"
        Whitespace@17..18 "\n"
    ExternKeyword@18..24 "extern"
    Whitespace@24..25 " "
    Str@25..29 "\"go\""
    Whitespace@29..30 " "
    Str@30..39 "\"strings\""
    Whitespace@39..40 " "
    Str@40..51 "\"CutPrefix\""
    Whitespace@51..52 " "
    Ident@52..62 "cut_prefix"
    PARAM_LIST@62..90
      LParen@62..63 "("
      PARAM@63..74
        Ident@63..64 "s"
        Colon@64..65 ":"
        Whitespace@65..66 " "
        TYPE_STRING@66..72
          StringKeyword@66..72 "string"
        Comma@72..73 ","
        Whitespace@73..74 " "
      PARAM@74..88
        Ident@74..80 "prefix"
        Colon@80..81 ":"
        Whitespace@81..82 " "
        TYPE_STRING@82..88
          StringKeyword@82..88 "string"
      RParen@88..89 ")"
      Whitespace@89..90 " "
    Arrow@90..92 "->"
    Whitespace@92..93 " "
    TYPE_TAPP@93..109
      PATH@93..99
        Ident@93..99 "Option"
      TYPE_PARAM_LIST@99..109
        LBracket@99..100 "["
        TYPE_STRING@100..106
          StringKeyword@100..106 "string"
        RBracket@106..107 "]"
        Whitespace@107..109 "\n\n"
  FN@109..289
    FnKeyword@109..111 "fn"
    Whitespace@111..112 " "
    Ident@112..120 "describe"
    PARAM_LIST@120..152
      LParen@120..121 "("
      PARAM@121..136
        Ident@121..126 "input"
        Colon@126..127 ":"
        Whitespace@127..128 " "
        TYPE_STRING@128..134
          StringKeyword@128..134 "string"
        Comma@134..135 ","
        Whitespace@135..136 " "
      PARAM@136..150
        Ident@136..142 "prefix"
        Colon@142..143 ":"
        Whitespace@143..144 " "
        TYPE_STRING@144..150
          StringKeyword@144..150 "string"
      RParen@150..151 ")"
      Whitespace@151..152 " "
    Arrow@152..154 "->"
    Whitespace@154..155 " "
    TYPE_STRING@155..162
      StringKeyword@155..161 "string"
      Whitespace@161..162 " "
    BLOCK@162..289
      LBrace@162..163 "{"
      Whitespace@163..168 "\n    "
      EXPR_MATCH@168..286
        MatchKeyword@168..173 "match"
        Whitespace@173..174 " "
        EXPR_CALL@174..200
          EXPR_IDENT@174..184
            PATH@174..184
              Ident@174..184 "cut_prefix"
          ARG_LIST@184..200
            LParen@184..185 "("
            ARG@185..192
              EXPR_IDENT@185..190
                PATH@185..190
                  Ident@185..190 "input"
              Comma@190..191 ","
              Whitespace@191..192 " "
            ARG@192..198
              EXPR_IDENT@192..198
                PATH@192..198
                  Ident@192..198 "prefix"
            RParen@198..199 ")"
            Whitespace@199..200 " "
        MATCH_ARM_LIST@200..286
          LBrace@200..201 "{"
          Whitespace@201..210 "\n        "
          MATCH_ARM@210..246
            PATTERN_CONSTR@210..229
              PATH@210..222
                Ident@210..216 "Option"
                ColonColon@216..218 "::"
                Ident@218..222 "Some"
              LParen@222..223 "("
              PATTERN_VARIABLE@223..227
                Ident@223..227 "rest"
              RParen@227..228 ")"
              Whitespace@228..229 " "
            FatArrow@229..231 "=>"
            Whitespace@231..232 " "
            EXPR_BINARY@232..246
              EXPR_STR@232..240
                Str@232..239 "\"some=\""
                Whitespace@239..240 " "
              Plus@240..241 "+"
              Whitespace@241..242 " "
              EXPR_IDENT@242..246
                PATH@242..246
                  Ident@242..246 "rest"
          Comma@246..247 ","
          Whitespace@247..256 "\n        "
          MATCH_ARM@256..278
            PATTERN_CONSTR@256..269
              PATH@256..269
                Ident@256..262 "Option"
                ColonColon@262..264 "::"
                Ident@264..268 "None"
                Whitespace@268..269 " "
            FatArrow@269..271 "=>"
            Whitespace@271..272 " "
            EXPR_STR@272..278
              Str@272..278 "\"none\""
          Comma@278..279 ","
          Whitespace@279..284 "\n    "
          RBrace@284..285 "}"
          Whitespace@285..286 "\n"
      RBrace@286..287 "}"
      Whitespace@287..289 "\n\n"
  FN@289..385
    FnKeyword@289..291 "fn"
    Whitespace@291..292 " "
    Ident@292..296 "main"
    PARAM_LIST@296..299
      LParen@296..297 "("
      RParen@297..298 ")"
      Whitespace@298..299 " "
    Arrow@299..301 "->"
    Whitespace@301..302 " "
    TYPE_UNIT@302..307
      UnitKeyword@302..306 "unit"
      Whitespace@306..307 " "
    BLOCK@307..385
      LBrace@307..308 "{"
      Whitespace@308..313 "\n    "
      STMT_EXPR@313..350
        EXPR_CALL@313..344
          EXPR_IDENT@313..320
            PATH@313..320
              Ident@313..320 "println"
          ARG_LIST@320..344
            LParen@320..321 "("
            ARG@321..343
              EXPR_CALL@321..343
                EXPR_IDENT@321..329
                  PATH@321..329
                    Ident@321..329 "describe"
                ARG_LIST@329..343
                  LParen@329..330 "("
                  ARG@330..338
                    EXPR_STR@330..336
                      Str@330..336 "\"goml\""
                    Comma@336..337 ","
                    Whitespace@337..338 " "
                  ARG@338..342
                    EXPR_STR@338..342
                      Str@338..342 "\"go\""
                  RParen@342..343 ")"
            RParen@343..344 ")"
        Semi@344..345 ";"
        Whitespace@345..350 "\n    "
      STMT_EXPR@350..383
        EXPR_CALL@350..381
          EXPR_IDENT@350..357
            PATH@350..357
              Ident@350..357 "println"
          ARG_LIST@357..381
            LParen@357..358 "("
            ARG@358..380
              EXPR_CALL@358..380
                EXPR_IDENT@358..366
                  PATH@358..366
                    Ident@358..366 "describe"
                ARG_LIST@366..380
                  LParen@366..367 "("
                  ARG@367..375
                    EXPR_STR@367..373
                      Str@367..373 "\"goml\""
                    Comma@373..374 ","
                    Whitespace@374..375 " "
                  ARG@375..379
                    EXPR_STR@375..379
                      Str@375..379 "\"ml\""
                  RParen@379..380 ")"
            RParen@380..381 ")"
        Semi@381..382 ";"
        Whitespace@382..383 "\n"
      RBrace@383..384 "}"
      Whitespace@384..385 "\n"