FILE@0..422
  FN@0..422
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..422
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..32
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_INT@24..26
          Int@24..26 "10"
        Semi@26..27 ";"
        Whitespace@27..32 "\n    "
      STMT_LET@32..380
        LetKeyword@32..35 "let"
        Whitespace@35..36 " "
        PATTERN_VARIABLE@36..39
          Ident@36..38 "f1"
          Whitespace@38..39 " "
        Eq@39..40 "="
        Whitespace@40..41 " "
        EXPR_CLOSURE@41..374
          CLOSURE_PARAM_LIST@41..50
            Pipe@41..42 "|"
            CLOSURE_PARAM@42..48
              Ident@42..43 "x"
              Colon@43..44 ":"
              Whitespace@44..45 " "
              TYPE_INT32@45..48
                I32Keyword@45..48 "i32"
            Pipe@48..49 "|"
            Whitespace@49..50 " "
          EXPR_CLOSURE_BODY@50..374
            BLOCK@50..374
              LBrace@50..51 "{"
              Whitespace@51..60 "\n        "
              STMT_LET@60..80
                LetKeyword@60..63 "let"
                Whitespace@63..64 " "
                PATTERN_VARIABLE@64..66
                  Ident@64..65 "b"
                  Whitespace@65..66 " "
                Eq@66..67 "="
                Whitespace@67..68 " "
                EXPR_INT@68..70
                  Int@68..70 "20"
                Semi@70..71 ";"
                Whitespace@71..80 "\n        "
              STMT_LET@80..363
                LetKeyword@80..83 "let"
                Whitespace@83..84 " "
                PATTERN_VARIABLE@84..87
                  Ident@84..86 "f2"
                  Whitespace@86..87 " "
                Eq@87..88 "="
                Whitespace@88..89 " "
                EXPR_CLOSURE@89..353
                  CLOSURE_PARAM_LIST@89..98
                    Pipe@89..90 "|"
                    CLOSURE_PARAM@90..96
                      Ident@90..91 "y"
                      Colon@91..92 ":"
                      Whitespace@92..93 " "
                      TYPE_INT32@93..96
                        I32Keyword@93..96 "i32"
                    Pipe@96..97 "|"
                    Whitespace@97..98 " "
                  EXPR_CLOSURE_BODY@98..353
                    BLOCK@98..353
                      LBrace@98..99 "{"
                      Whitespace@99..112 "\n            "
                      STMT_LET@112..136
                        LetKeyword@112..115 "let"
                        Whitespace@115..116 " "
                        PATTERN_VARIABLE@116..118
                          Ident@116..117 "c"
                          Whitespace@117..118 " "
                        Eq@118..119 "="
                        Whitespace@119..120 " "
                        EXPR_INT@120..122
                          Int@120..122 "30"
                        Semi@122..123 ";"
                        Whitespace@123..136 "\n            "
                      STMT_LET@136..338
                        LetKeyword@136..139 "let"
                        Whitespace@139..140 " "
                        PATTERN_VARIABLE@140..143
                          Ident@140..142 "f3"
                          Whitespace@142..143 " "
                        Eq@143..144 "="
                        Whitespace@144..145 " "
                        EXPR_CLOSURE@145..324
                          CLOSURE_PARAM_LIST@145..154
                            Pipe@145..146 "|"
                            CLOSURE_PARAM@146..152
                              Ident@146..147 "z"
                              Colon@147..148 ":"
                              Whitespace@148..149 " "
                              TYPE_INT32@149..152
                                I32Keyword@149..152 "i32"
                            Pipe@152..153 "|"
                            Whitespace@153..154 " "
                          EXPR_CLOSURE_BODY@154..324
                            BLOCK@154..324
                              LBrace@154..155 "{"
                              Whitespace@155..172 "\n                "
                              STMT_LET@172..200
                                LetKeyword@172..175 "let"
                                Whitespace@175..176 " "
                                PATTERN_VARIABLE@176..178
                                  Ident@176..177 "d"
                                  Whitespace@177..178 " "
                                Eq@178..179 "="
                                Whitespace@179..180 " "
                                EXPR_INT@180..182
                                  Int@180..182 "40"
                                Semi@182..183 ";"
                                Whitespace@183..200 "\n                "
                              STMT_LET@200..305
                                LetKeyword@200..203 "let"
                                Whitespace@203..204 " "
                                PATTERN_VARIABLE@204..207
                                  Ident@204..206 "f4"
                                  Whitespace@206..207 " "
                                Eq@207..208 "="
                                Whitespace@208..209 " "
                                EXPR_CLOSURE@209..287
                                  CLOSURE_PARAM_LIST@209..218
                                    Pipe@209..210 "|"
                                    CLOSURE_PARAM@210..216
                                      Ident@210..211 "w"
                                      Colon@211..212 ":"
                                      Whitespace@212..213 " "
                                      TYPE_INT32@213..216
                                        I32Keyword@213..216 "i32"
                                    Pipe@216..217 "|"
                                    Whitespace@217..218 " "
                                  EXPR_CLOSURE_BODY@218..287
                                    BLOCK@218..287
                                      LBrace@218..219 "{"
                                      Whitespace@219..240 "\n                    "
                                      EXPR_BINARY@240..286
                                        EXPR_BINARY@240..266
                                          EXPR_BINARY@240..262
                                            EXPR_BINARY@240..258
                                              EXPR_BINARY@240..254
                                                EXPR_BINARY@240..250
                                                  EXPR_BINARY@240..246
                                                    EXPR_IDENT@240..242
                                                      PATH@240..242
                                                        Ident@240..241 "a"
                                                        Whitespace@241..242 " "
                                                    Plus@242..243 "+"
                                                    Whitespace@243..244 " "
                                                    EXPR_IDENT@244..246
                                                      PATH@244..246
                                                        Ident@244..245 "b"
                                                        Whitespace@245..246 " "
                                                  Plus@246..247 "+"
                                                  Whitespace@247..248 " "
                                                  EXPR_IDENT@248..250
                                                    PATH@248..250
                                                      Ident@248..249 "c"
                                                      Whitespace@249..250 " "
                                                Plus@250..251 "+"
                                                Whitespace@251..252 " "
                                                EXPR_IDENT@252..254
                                                  PATH@252..254
                                                    Ident@252..253 "d"
                                                    Whitespace@253..254 " "
                                              Plus@254..255 "+"
                                              Whitespace@255..256 " "
                                              EXPR_IDENT@256..258
                                                PATH@256..258
                                                  Ident@256..257 "x"
                                                  Whitespace@257..258 " "
                                            Plus@258..259 "+"
                                            Whitespace@259..260 " "
                                            EXPR_IDENT@260..262
                                              PATH@260..262
                                                Ident@260..261 "y"
                                                Whitespace@261..262 " "
                                          Plus@262..263 "+"
                                          Whitespace@263..264 " "
                                          EXPR_IDENT@264..266
                                            PATH@264..266
                                              Ident@264..265 "z"
                                              Whitespace@265..266 " "
                                        Plus@266..267 "+"
                                        Whitespace@267..268 " "
                                        EXPR_IDENT@268..286
                                          PATH@268..286
                                            Ident@268..269 "w"
                                            Whitespace@269..286 "\n                "
                                      RBrace@286..287 "}"
                                Semi@287..288 ";"
                                Whitespace@288..305 "\n                "
                              EXPR_CALL@305..323
                                EXPR_IDENT@305..307
                                  PATH@305..307
                                    Ident@305..307 "f4"
                                ARG_LIST@307..323
                                  LParen@307..308 "("
                                  ARG@308..309
                                    EXPR_INT@308..309
                                      Int@308..309 "4"
                                  RParen@309..310 ")"
                                  Whitespace@310..323 "\n            "
                              RBrace@323..324 "}"
                        Semi@324..325 ";"
                        Whitespace@325..338 "\n            "
                      EXPR_CALL@338..352
                        EXPR_IDENT@338..340
                          PATH@338..340
                            Ident@338..340 "f3"
                        ARG_LIST@340..352
                          LParen@340..341 "("
                          ARG@341..342
                            EXPR_INT@341..342
                              Int@341..342 "3"
                          RParen@342..343 ")"
                          Whitespace@343..352 "\n        "
                      RBrace@352..353 "}"
                Semi@353..354 ";"
                Whitespace@354..363 "\n        "
              EXPR_CALL@363..373
                EXPR_IDENT@363..365
                  PATH@363..365
                    Ident@363..365 "f2"
                ARG_LIST@365..373
                  LParen@365..366 "("
                  ARG@366..367
                    EXPR_INT@366..367
                      Int@366..367 "2"
                  RParen@367..368 ")"
                  Whitespace@368..373 "\n    "
              RBrace@373..374 "}"
        Semi@374..375 ";"
        Whitespace@375..380 "\n    "
      STMT_LET@380..404
        LetKeyword@380..383 "let"
        Whitespace@383..384 " "
        PATTERN_VARIABLE@384..391
          Ident@384..390 "result"
          Whitespace@390..391 " "
        Eq@391..392 "="
        Whitespace@392..393 " "
        EXPR_CALL@393..398
          EXPR_IDENT@393..395
            PATH@393..395
              Ident@393..395 "f1"
          ARG_LIST@395..398
            LParen@395..396 "("
            ARG@396..397
              EXPR_INT@396..397
                Int@396..397 "1"
            RParen@397..398 ")"
        Semi@398..399 ";"
        Whitespace@399..404 "\n    "
      EXPR_CALL@404..420
        EXPR_IDENT@404..411
          PATH@404..411
            Ident@404..411 "println"
        ARG_LIST@411..420
          LParen@411..412 "("
          ARG@412..418
            EXPR_IDENT@412..418
              PATH@412..418
                Ident@412..418 "result"
          RParen@418..419 ")"
          Whitespace@419..420 "\n"
      RBrace@420..421 "}"
      Whitespace@421..422 "\n"