FILE@0..951
  FN@0..951
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..951
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..47
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "i"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..41
          EXPR_IDENT@32..35
            PATH@32..35
              Ident@32..35 "ref"
          ARG_LIST@35..41
            LParen@35..36 "("
            ARG@36..40
              EXPR_INT32@36..40
                Int32Lit@36..40 "0i32"
            RParen@40..41 ")"
        Semi@41..42 ";"
        Whitespace@42..47 "\n    "
      STMT_LET@47..75
        LetKeyword@47..50 "let"
        Whitespace@50..51 " "
        PATTERN_VARIABLE@51..57
          Ident@51..56 "total"
          Whitespace@56..57 " "
        Eq@57..58 "="
        Whitespace@58..59 " "
        EXPR_CALL@59..68
          EXPR_IDENT@59..62
            PATH@59..62
              Ident@59..62 "ref"
          ARG_LIST@62..68
            LParen@62..63 "("
            ARG@63..67
              EXPR_INT32@63..67
                Int32Lit@63..67 "0i32"
            RParen@67..68 ")"
        Semi@68..69 ";"
        Whitespace@69..75 "\n\n    "
      STMT_EXPR@75..455
        EXPR_WHILE@75..449
          WhileKeyword@75..80 "while"
          Whitespace@80..81 " "
          EXPR_WHILE_COND@81..224
            EXPR_IF@81..224
              IfKeyword@81..83 "if"
              Whitespace@83..84 " "
              EXPR_IF_COND@84..103
                EXPR_BINARY@84..103
                  EXPR_CALL@84..95
                    EXPR_IDENT@84..91
                      PATH@84..91
                        Ident@84..91 "ref_get"
                    ARG_LIST@91..95
                      LParen@91..92 "("
                      ARG@92..93
                        EXPR_IDENT@92..93
                          PATH@92..93
                            Ident@92..93 "i"
                      RParen@93..94 ")"
                      Whitespace@94..95 " "
                  EqEq@95..97 "=="
                  Whitespace@97..98 " "
                  EXPR_INT32@98..103
                    Int32Lit@98..102 "0i32"
                    Whitespace@102..103 " "
              EXPR_IF_THEN@103..150
                BLOCK@103..150
                  LBrace@103..104 "{"
                  Whitespace@104..113 "\n        "
                  STMT_EXPR@113..139
                    EXPR_CALL@113..129
                      EXPR_IDENT@113..120
                        PATH@113..120
                          Ident@113..120 "ref_set"
                      ARG_LIST@120..129
                        LParen@120..121 "("
                        ARG@121..124
                          EXPR_IDENT@121..122
                            PATH@121..122
                              Ident@121..122 "i"
                          Comma@122..123 ","
                          Whitespace@123..124 " "
                        ARG@124..128
                          EXPR_INT32@124..128
                            Int32Lit@124..128 "1i32"
                        RParen@128..129 ")"
                    Semi@129..130 ";"
                    Whitespace@130..139 "\n        "
                  EXPR_BOOL@139..148
                    TrueKeyword@139..143 "true"
                    Whitespace@143..148 "\n    "
                  RBrace@148..149 "}"
                  Whitespace@149..150 " "
              ElseKeyword@150..154 "else"
              Whitespace@154..155 " "
              EXPR_IF_ELSE@155..224
                EXPR_IF@155..224
                  IfKeyword@155..157 "if"
                  Whitespace@157..158 " "
                  EXPR_IF_COND@158..176
                    EXPR_BINARY@158..176
                      EXPR_CALL@158..169
                        EXPR_IDENT@158..165
                          PATH@158..165
                            Ident@158..165 "ref_get"
                        ARG_LIST@165..169
                          LParen@165..166 "("
                          ARG@166..167
                            EXPR_IDENT@166..167
                              PATH@166..167
                                Ident@166..167 "i"
                          RParen@167..168 ")"
                          Whitespace@168..169 " "
                      Less@169..170 "<"
                      Whitespace@170..171 " "
                      EXPR_INT32@171..176
                        Int32Lit@171..175 "4i32"
                        Whitespace@175..176 " "
                  EXPR_IF_THEN@176..197
                    BLOCK@176..197
                      LBrace@176..177 "{"
                      Whitespace@177..186 "\n        "
                      EXPR_BOOL@186..195
                        TrueKeyword@186..190 "true"
                        Whitespace@190..195 "\n    "
                      RBrace@195..196 "}"
                      Whitespace@196..197 " "
                  ElseKeyword@197..201 "else"
                  Whitespace@201..202 " "
                  EXPR_IF_ELSE@202..224
                    BLOCK@202..224
                      LBrace@202..203 "{"
                      Whitespace@203..212 "\n        "
                      EXPR_BOOL@212..222
                        FalseKeyword@212..217 "false"
                        Whitespace@217..222 "\n    "
                      RBrace@222..223 "}"
                      Whitespace@223..224 " "
          EXPR_WHILE_BODY@224..449
            BLOCK@224..449
              LBrace@224..225 "{"
              Whitespace@225..234 "\n        "
              STMT_EXPR@234..287
                EXPR_CALL@234..277
                  EXPR_IDENT@234..241
                    PATH@234..241
                      Ident@234..241 "ref_set"
                  ARG_LIST@241..277
                    LParen@241..242 "("
                    ARG@242..249
                      EXPR_IDENT@242..247
                        PATH@242..247
                          Ident@242..247 "total"
                      Comma@247..248 ","
                      Whitespace@248..249 " "
                    ARG@249..276
                      EXPR_BINARY@249..276
                        EXPR_CALL@249..264
                          EXPR_IDENT@249..256
                            PATH@249..256
                              Ident@249..256 "ref_get"
                          ARG_LIST@256..264
                            LParen@256..257 "("
                            ARG@257..262
                              EXPR_IDENT@257..262
                                PATH@257..262
                                  Ident@257..262 "total"
                            RParen@262..263 ")"
                            Whitespace@263..264 " "
                        Plus@264..265 "+"
                        Whitespace@265..266 " "
                        EXPR_CALL@266..276
                          EXPR_IDENT@266..273
                            PATH@266..273
                              Ident@266..273 "ref_get"
                          ARG_LIST@273..276
                            LParen@273..274 "("
                            ARG@274..275
                              EXPR_IDENT@274..275
                                PATH@274..275
                                  Ident@274..275 "i"
                            RParen@275..276 ")"
                    RParen@276..277 ")"
                Semi@277..278 ";"
                Whitespace@278..287 "\n        "
              STMT_EXPR@287..413
                EXPR_IF@287..403
                  IfKeyword@287..289 "if"
                  Whitespace@289..290 " "
                  EXPR_IF_COND@290..309
                    EXPR_BINARY@290..309
                      EXPR_CALL@290..301
                        EXPR_IDENT@290..297
                          PATH@290..297
                            Ident@290..297 "ref_get"
                        ARG_LIST@297..301
                          LParen@297..298 "("
                          ARG@298..299
                            EXPR_IDENT@298..299
                              PATH@298..299
                                Ident@298..299 "i"
                          RParen@299..300 ")"
                          Whitespace@300..301 " "
                      EqEq@301..303 "=="
                      Whitespace@303..304 " "
                      EXPR_INT32@304..309
                        Int32Lit@304..308 "1i32"
                        Whitespace@308..309 " "
                  EXPR_IF_THEN@309..372
                    BLOCK@309..372
                      LBrace@309..310 "{"
                      Whitespace@310..323 "\n            "
                      STMT_EXPR@323..353
                        EXPR_CALL@323..339
                          EXPR_IDENT@323..330
                            PATH@323..330
                              Ident@323..330 "ref_set"
                          ARG_LIST@330..339
                            LParen@330..331 "("
                            ARG@331..334
                              EXPR_IDENT@331..332
                                PATH@331..332
                                  Ident@331..332 "i"
                              Comma@332..333 ","
                              Whitespace@333..334 " "
                            ARG@334..338
                              EXPR_INT32@334..338
                                Int32Lit@334..338 "2i32"
                            RParen@338..339 ")"
                        Semi@339..340 ";"
                        Whitespace@340..353 "\n            "
                      EXPR_CONTINUE@353..370
                        ContinueKeyword@353..361 "continue"
                        Whitespace@361..370 "\n        "
                      RBrace@370..371 "}"
                      Whitespace@371..372 " "
                  ElseKeyword@372..376 "else"
                  Whitespace@376..377 " "
                  EXPR_IF_ELSE@377..403
                    BLOCK@377..403
                      LBrace@377..378 "{"
                      Whitespace@378..391 "\n            "
                      EXPR_UNIT@391..402
                        LParen@391..392 "("
                        RParen@392..393 ")"
                        Whitespace@393..402 "\n        "
                      RBrace@402..403 "}"
                Semi@403..404 ";"
                Whitespace@404..413 "\n        "
              STMT_EXPR@413..448
                EXPR_CALL@413..442
                  EXPR_IDENT@413..420
                    PATH@413..420
                      Ident@413..420 "ref_set"
                  ARG_LIST@420..442
                    LParen@420..421 "("
                    ARG@421..424
                      EXPR_IDENT@421..422
                        PATH@421..422
                          Ident@421..422 "i"
                      Comma@422..423 ","
                      Whitespace@423..424 " "
                    ARG@424..441
                      EXPR_BINARY@424..441
                        EXPR_CALL@424..435
                          EXPR_IDENT@424..431
                            PATH@424..431
                              Ident@424..431 "ref_get"
                          ARG_LIST@431..435
                            LParen@431..432 "("
                            ARG@432..433
                              EXPR_IDENT@432..433
                                PATH@432..433
                                  Ident@432..433 "i"
                            RParen@433..434 ")"
                            Whitespace@434..435 " "
                        Plus@435..436 "+"
                        Whitespace@436..437 " "
                        EXPR_INT32@437..441
                          Int32Lit@437..441 "1i32"
                    RParen@441..442 ")"
                Semi@442..443 ";"
                Whitespace@443..448 "\n    "
              RBrace@448..449 "}"
        Semi@449..450 ";"
        Whitespace@450..455 "\n    "
      STMT_EXPR@455..485
        EXPR_CALL@455..478
          EXPR_IDENT@455..462
            PATH@455..462
              Ident@455..462 "println"
          ARG_LIST@462..478
            LParen@462..463 "("
            ARG@463..477
              EXPR_CALL@463..477
                EXPR_IDENT@463..470
                  PATH@463..470
                    Ident@463..470 "ref_get"
                ARG_LIST@470..477
                  LParen@470..471 "("
                  ARG@471..476
                    EXPR_IDENT@471..476
                      PATH@471..476
                        Ident@471..476 "total"
                  RParen@476..477 ")"
            RParen@477..478 ")"
        Semi@478..479 ";"
        Whitespace@479..485 "\n\n    "
      STMT_LET@485..508
        LetKeyword@485..488 "let"
        Whitespace@488..489 " "
        PATTERN_VARIABLE@489..491
          Ident@489..490 "j"
          Whitespace@490..491 " "
        Eq@491..492 "="
        Whitespace@492..493 " "
        EXPR_CALL@493..502
          EXPR_IDENT@493..496
            PATH@493..496
              Ident@493..496 "ref"
          ARG_LIST@496..502
            LParen@496..497 "("
            ARG@497..501
              EXPR_INT32@497..501
                Int32Lit@497..501 "0i32"
            RParen@501..502 ")"
        Semi@502..503 ";"
        Whitespace@503..508 "\n    "
      STMT_LET@508..536
        LetKeyword@508..511 "let"
        Whitespace@511..512 " "
        PATTERN_VARIABLE@512..519
          Ident@512..518 "total2"
          Whitespace@518..519 " "
        Eq@519..520 "="
        Whitespace@520..521 " "
        EXPR_CALL@521..530
          EXPR_IDENT@521..524
            PATH@521..524
              Ident@521..524 "ref"
          ARG_LIST@524..530
            LParen@524..525 "("
            ARG@525..529
              EXPR_INT32@525..529
                Int32Lit@525..529 "0i32"
            RParen@529..530 ")"
        Semi@530..531 ";"
        Whitespace@531..536 "\n    "
      STMT_EXPR@536..923
        EXPR_WHILE@536..917
          WhileKeyword@536..541 "while"
          Whitespace@541..542 " "
          EXPR_WHILE_COND@542..761
            EXPR_MATCH@542..761
              MatchKeyword@542..547 "match"
              Whitespace@547..548 " "
              EXPR_CALL@548..559
                EXPR_IDENT@548..555
                  PATH@548..555
                    Ident@548..555 "ref_get"
                ARG_LIST@555..559
                  LParen@555..556 "("
                  ARG@556..557
                    EXPR_IDENT@556..557
                      PATH@556..557
                        Ident@556..557 "j"
                  RParen@557..558 ")"
                  Whitespace@558..559 " "
              MATCH_ARM_LIST@559..761
                LBrace@559..560 "{"
                Whitespace@560..569 "\n        "
                MATCH_ARM@569..635
                  PATTERN_INT32@569..574
                    Int32Lit@569..573 "0i32"
                    Whitespace@573..574 " "
                  FatArrow@574..576 "=>"
                  Whitespace@576..577 " "
                  BLOCK@577..635
                    LBrace@577..578 "{"
                    Whitespace@578..591 "\n            "
                    STMT_EXPR@591..621
                      EXPR_CALL@591..607
                        EXPR_IDENT@591..598
                          PATH@591..598
                            Ident@591..598 "ref_set"
                        ARG_LIST@598..607
                          LParen@598..599 "("
                          ARG@599..602
                            EXPR_IDENT@599..600
                              PATH@599..600
                                Ident@599..600 "j"
                            Comma@600..601 ","
                            Whitespace@601..602 " "
                          ARG@602..606
                            EXPR_INT32@602..606
                              Int32Lit@602..606 "1i32"
                          RParen@606..607 ")"
                      Semi@607..608 ";"
                      Whitespace@608..621 "\n            "
                    EXPR_BOOL@621..634
                      TrueKeyword@621..625 "true"
                      Whitespace@625..634 "\n        "
                    RBrace@634..635 "}"
                Comma@635..636 ","
                Whitespace@636..645 "\n        "
                MATCH_ARM@645..711
                  PATTERN_INT32@645..650
                    Int32Lit@645..649 "1i32"
                    Whitespace@649..650 " "
                  FatArrow@650..652 "=>"
                  Whitespace@652..653 " "
                  BLOCK@653..711
                    LBrace@653..654 "{"
                    Whitespace@654..667 "\n            "
                    STMT_EXPR@667..697
                      EXPR_CALL@667..683
                        EXPR_IDENT@667..674
                          PATH@667..674
                            Ident@667..674 "ref_set"
                        ARG_LIST@674..683
                          LParen@674..675 "("
                          ARG@675..678
                            EXPR_IDENT@675..676
                              PATH@675..676
                                Ident@675..676 "j"
                            Comma@676..677 ","
                            Whitespace@677..678 " "
                          ARG@678..682
                            EXPR_INT32@678..682
                              Int32Lit@678..682 "2i32"
                          RParen@682..683 ")"
                      Semi@683..684 ";"
                      Whitespace@684..697 "\n            "
                    EXPR_BOOL@697..710
                      TrueKeyword@697..701 "true"
                      Whitespace@701..710 "\n        "
                    RBrace@710..711 "}"
                Comma@711..712 ","
                Whitespace@712..721 "\n        "
                MATCH_ARM@721..733
                  PATTERN_INT32@721..726
                    Int32Lit@721..725 "2i32"
                    Whitespace@725..726 " "
                  FatArrow@726..728 "=>"
                  Whitespace@728..729 " "
                  EXPR_BOOL@729..733
                    TrueKeyword@729..733 "true"
                Comma@733..734 ","
                Whitespace@734..743 "\n        "
                MATCH_ARM@743..753
                  PATTERN_WILDCARD@743..745
                    WildcardKeyword@743..744 "_"
                    Whitespace@744..745 " "
                  FatArrow@745..747 "=>"
                  Whitespace@747..748 " "
                  EXPR_BOOL@748..753
                    FalseKeyword@748..753 "false"
                Comma@753..754 ","
                Whitespace@754..759 "\n    "
                RBrace@759..760 "}"
                Whitespace@760..761 " "
          EXPR_WHILE_BODY@761..917
            BLOCK@761..917
              LBrace@761..762 "{"
              Whitespace@762..771 "\n        "
              STMT_EXPR@771..826
                EXPR_CALL@771..816
                  EXPR_IDENT@771..778
                    PATH@771..778
                      Ident@771..778 "ref_set"
                  ARG_LIST@778..816
                    LParen@778..779 "("
                    ARG@779..787
                      EXPR_IDENT@779..785
                        PATH@779..785
                          Ident@779..785 "total2"
                      Comma@785..786 ","
                      Whitespace@786..787 " "
                    ARG@787..815
                      EXPR_BINARY@787..815
                        EXPR_CALL@787..803
                          EXPR_IDENT@787..794
                            PATH@787..794
                              Ident@787..794 "ref_get"
                          ARG_LIST@794..803
                            LParen@794..795 "("
                            ARG@795..801
                              EXPR_IDENT@795..801
                                PATH@795..801
                                  Ident@795..801 "total2"
                            RParen@801..802 ")"
                            Whitespace@802..803 " "
                        Plus@803..804 "+"
                        Whitespace@804..805 " "
                        EXPR_CALL@805..815
                          EXPR_IDENT@805..812
                            PATH@805..812
                              Ident@805..812 "ref_get"
                          ARG_LIST@812..815
                            LParen@812..813 "("
                            ARG@813..814
                              EXPR_IDENT@813..814
                                PATH@813..814
                                  Ident@813..814 "j"
                            RParen@814..815 ")"
                    RParen@815..816 ")"
                Semi@816..817 ";"
                Whitespace@817..826 "\n        "
              STMT_EXPR@826..916
                EXPR_IF@826..910
                  IfKeyword@826..828 "if"
                  Whitespace@828..829 " "
                  EXPR_IF_COND@829..848
                    EXPR_BINARY@829..848
                      EXPR_CALL@829..840
                        EXPR_IDENT@829..836
                          PATH@829..836
                            Ident@829..836 "ref_get"
                        ARG_LIST@836..840
                          LParen@836..837 "("
                          ARG@837..838
                            EXPR_IDENT@837..838
                              PATH@837..838
                                Ident@837..838 "j"
                          RParen@838..839 ")"
                          Whitespace@839..840 " "
                      EqEq@840..842 "=="
                      Whitespace@842..843 " "
                      EXPR_INT32@843..848
                        Int32Lit@843..847 "2i32"
                        Whitespace@847..848 " "
                  EXPR_IF_THEN@848..879
                    BLOCK@848..879
                      LBrace@848..849 "{"
                      Whitespace@849..862 "\n            "
                      STMT_EXPR@862..877
                        EXPR_BREAK@862..867
                          BreakKeyword@862..867 "break"
                        Semi@867..868 ";"
                        Whitespace@868..877 "\n        "
                      RBrace@877..878 "}"
                      Whitespace@878..879 " "
                  ElseKeyword@879..883 "else"
                  Whitespace@883..884 " "
                  EXPR_IF_ELSE@884..910
                    BLOCK@884..910
                      LBrace@884..885 "{"
                      Whitespace@885..898 "\n            "
                      EXPR_UNIT@898..909
                        LParen@898..899 "("
                        RParen@899..900 ")"
                        Whitespace@900..909 "\n        "
                      RBrace@909..910 "}"
                Semi@910..911 ";"
                Whitespace@911..916 "\n    "
              RBrace@916..917 "}"
        Semi@917..918 ";"
        Whitespace@918..923 "\n    "
      STMT_EXPR@923..949
        EXPR_CALL@923..947
          EXPR_IDENT@923..930
            PATH@923..930
              Ident@923..930 "println"
          ARG_LIST@930..947
            LParen@930..931 "("
            ARG@931..946
              EXPR_CALL@931..946
                EXPR_IDENT@931..938
                  PATH@931..938
                    Ident@931..938 "ref_get"
                ARG_LIST@938..946
                  LParen@938..939 "("
                  ARG@939..945
                    EXPR_IDENT@939..945
                      PATH@939..945
                        Ident@939..945 "total2"
                  RParen@945..946 ")"
            RParen@946..947 ")"
        Semi@947..948 ";"
        Whitespace@948..949 "\n"
      RBrace@949..950 "}"
      Whitespace@950..951 "\n"