FILE@0..484
  FN@0..484
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..484
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..47
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        PATTERN_VARIABLE@26..28
          Ident@26..27 "i"
          Whitespace@27..28 " "
        Eq@28..29 "="
        Whitespace@29..30 " "
        EXPR_CALL@30..41
          EXPR_IDENT@30..38
            PATH@30..38
              Ident@30..33 "Ref"
              ColonColon@33..35 "::"
              Ident@35..38 "new"
          ARG_LIST@38..41
            LParen@38..39 "("
            ARG@39..40
              EXPR_INT@39..40
                Int@39..40 "0"
            RParen@40..41 ")"
        Semi@41..42 ";"
        Whitespace@42..47 "\n    "
      STMT_LET@47..74
        LetKeyword@47..50 "let"
        Whitespace@50..51 " "
        PATTERN_VARIABLE@51..55
          Ident@51..54 "sum"
          Whitespace@54..55 " "
        Eq@55..56 "="
        Whitespace@56..57 " "
        EXPR_CALL@57..68
          EXPR_IDENT@57..65
            PATH@57..65
              Ident@57..60 "Ref"
              ColonColon@60..62 "::"
              Ident@62..65 "new"
          ARG_LIST@65..68
            LParen@65..66 "("
            ARG@66..67
              EXPR_INT@66..67
                Int@66..67 "0"
            RParen@67..68 ")"
        Semi@68..69 ";"
        Whitespace@69..74 "\n    "
      STMT_EXPR@74..462
        EXPR_WHILE@74..462
          WhileKeyword@74..79 "while"
          Whitespace@79..80 " "
          EXPR_WHILE_COND@80..92
            EXPR_BINARY@80..92
              EXPR_CALL@80..88
                EXPR_BINARY@80..85
                  EXPR_IDENT@80..81
                    PATH@80..81
                      Ident@80..81 "i"
                  Dot@81..82 "."
                  EXPR_IDENT@82..85
                    PATH@82..85
                      Ident@82..85 "get"
                ARG_LIST@85..88
                  LParen@85..86 "("
                  RParen@86..87 ")"
                  Whitespace@87..88 " "
              Less@88..89 "<"
              Whitespace@89..90 " "
              EXPR_INT@90..92
                Int@90..91 "7"
                Whitespace@91..92 " "
          EXPR_WHILE_BODY@92..462
            BLOCK@92..462
              LBrace@92..93 "{"
              Whitespace@93..102 "\n        "
              STMT_LET@102..129
                LetKeyword@102..105 "let"
                Whitespace@105..106 " "
                PATTERN_VARIABLE@106..110
                  Ident@106..109 "cur"
                  Whitespace@109..110 " "
                Eq@110..111 "="
                Whitespace@111..112 " "
                EXPR_CALL@112..119
                  EXPR_BINARY@112..117
                    EXPR_IDENT@112..113
                      PATH@112..113
                        Ident@112..113 "i"
                    Dot@113..114 "."
                    EXPR_IDENT@114..117
                      PATH@114..117
                        Ident@114..117 "get"
                  ARG_LIST@117..119
                    LParen@117..118 "("
                    RParen@118..119 ")"
                Semi@119..120 ";"
                Whitespace@120..129 "\n        "
              STMT_EXPR@129..153
                EXPR_CALL@129..143
                  EXPR_BINARY@129..134
                    EXPR_IDENT@129..130
                      PATH@129..130
                        Ident@129..130 "i"
                    Dot@130..131 "."
                    EXPR_IDENT@131..134
                      PATH@131..134
                        Ident@131..134 "set"
                  ARG_LIST@134..143
                    LParen@134..135 "("
                    ARG@135..142
                      EXPR_BINARY@135..142
                        EXPR_IDENT@135..139
                          PATH@135..139
                            Ident@135..138 "cur"
                            Whitespace@138..139 " "
                        Plus@139..140 "+"
                        Whitespace@140..141 " "
                        EXPR_INT@141..142
                          Int@141..142 "1"
                    RParen@142..143 ")"
                Semi@143..144 ";"
                Whitespace@144..153 "\n        "
              STMT_LET@153..426
                LetKeyword@153..156 "let"
                Whitespace@156..157 " "
                PATTERN_WILDCARD@157..159
                  WildcardKeyword@157..158 "_"
                  Whitespace@158..159 " "
                Eq@159..160 "="
                Whitespace@160..161 " "
                EXPR_IF@161..416
                  IfKeyword@161..163 "if"
                  Whitespace@163..164 " "
                  EXPR_IF_COND@164..172
                    EXPR_BINARY@164..172
                      EXPR_IDENT@164..168
                        PATH@164..168
                          Ident@164..167 "cur"
                          Whitespace@167..168 " "
                      Less@168..169 "<"
                      Whitespace@169..170 " "
                      EXPR_INT@170..172
                        Int@170..171 "5"
                        Whitespace@171..172 " "
                  EXPR_IF_THEN@172..309
                    BLOCK@172..309
                      LBrace@172..173 "{"
                      Whitespace@173..186 "\n            "
                      EXPR_MATCH@186..307
                        MatchKeyword@186..191 "match"
                        Whitespace@191..192 " "
                        EXPR_IDENT@192..196
                          PATH@192..196
                            Ident@192..195 "cur"
                            Whitespace@195..196 " "
                        MATCH_ARM_LIST@196..307
                          LBrace@196..197 "{"
                          Whitespace@197..214 "\n                "
                          MATCH_ARM@214..227
                            PATTERN_INT@214..216
                              Int@214..215 "1"
                              Whitespace@215..216 " "
                            FatArrow@216..218 "=>"
                            Whitespace@218..219 " "
                            EXPR_CONTINUE@219..227
                              ContinueKeyword@219..227 "continue"
                          Comma@227..228 ","
                          Whitespace@228..245 "\n                "
                          MATCH_ARM@245..258
                            PATTERN_INT@245..247
                              Int@245..246 "3"
                              Whitespace@246..247 " "
                            FatArrow@247..249 "=>"
                            Whitespace@249..250 " "
                            EXPR_CONTINUE@250..258
                              ContinueKeyword@250..258 "continue"
                          Comma@258..259 ","
                          Whitespace@259..276 "\n                "
                          MATCH_ARM@276..283
                            PATTERN_WILDCARD@276..278
                              WildcardKeyword@276..277 "_"
                              Whitespace@277..278 " "
                            FatArrow@278..280 "=>"
                            Whitespace@280..281 " "
                            EXPR_UNIT@281..283
                              LParen@281..282 "("
                              RParen@282..283 ")"
                          Comma@283..284 ","
                          Whitespace@284..297 "\n            "
                          RBrace@297..298 "}"
                          Whitespace@298..307 "\n        "
                      RBrace@307..308 "}"
                      Whitespace@308..309 " "
                  ElseKeyword@309..313 "else"
                  Whitespace@313..314 " "
                  EXPR_IF_ELSE@314..416
                    BLOCK@314..416
                      LBrace@314..315 "{"
                      Whitespace@315..328 "\n            "
                      EXPR_MATCH@328..415
                        MatchKeyword@328..333 "match"
                        Whitespace@333..334 " "
                        EXPR_IDENT@334..338
                          PATH@334..338
                            Ident@334..337 "cur"
                            Whitespace@337..338 " "
                        MATCH_ARM_LIST@338..415
                          LBrace@338..339 "{"
                          Whitespace@339..356 "\n                "
                          MATCH_ARM@356..366
                            PATTERN_INT@356..358
                              Int@356..357 "5"
                              Whitespace@357..358 " "
                            FatArrow@358..360 "=>"
                            Whitespace@360..361 " "
                            EXPR_BREAK@361..366
                              BreakKeyword@361..366 "break"
                          Comma@366..367 ","
                          Whitespace@367..384 "\n                "
                          MATCH_ARM@384..391
                            PATTERN_WILDCARD@384..386
                              WildcardKeyword@384..385 "_"
                              Whitespace@385..386 " "
                            FatArrow@386..388 "=>"
                            Whitespace@388..389 " "
                            EXPR_UNIT@389..391
                              LParen@389..390 "("
                              RParen@390..391 ")"
                          Comma@391..392 ","
                          Whitespace@392..405 "\n            "
                          RBrace@405..406 "}"
                          Whitespace@406..415 "\n        "
                      RBrace@415..416 "}"
                Semi@416..417 ";"
                Whitespace@417..426 "\n        "
              STMT_EXPR@426..456
                EXPR_CALL@426..450
                  EXPR_BINARY@426..433
                    EXPR_IDENT@426..429
                      PATH@426..429
                        Ident@426..429 "sum"
                    Dot@429..430 "."
                    EXPR_IDENT@430..433
                      PATH@430..433
                        Ident@430..433 "set"
                  ARG_LIST@433..450
                    LParen@433..434 "("
                    ARG@434..449
                      EXPR_BINARY@434..449
                        EXPR_CALL@434..444
                          EXPR_BINARY@434..441
                            EXPR_IDENT@434..437
                              PATH@434..437
                                Ident@434..437 "sum"
                            Dot@437..438 "."
                            EXPR_IDENT@438..441
                              PATH@438..441
                                Ident@438..441 "get"
                          ARG_LIST@441..444
                            LParen@441..442 "("
                            RParen@442..443 ")"
                            Whitespace@443..444 " "
                        Plus@444..445 "+"
                        Whitespace@445..446 " "
                        EXPR_IDENT@446..449
                          PATH@446..449
                            Ident@446..449 "cur"
                    RParen@449..450 ")"
                Semi@450..451 ";"
                Whitespace@451..456 "\n    "
              RBrace@456..457 "}"
              Whitespace@457..462 "\n    "
      STMT_EXPR@462..482
        EXPR_CALL@462..480
          EXPR_IDENT@462..469
            PATH@462..469
              Ident@462..469 "println"
          ARG_LIST@469..480
            LParen@469..470 "("
            ARG@470..479
              EXPR_CALL@470..479
                EXPR_BINARY@470..477
                  EXPR_IDENT@470..473
                    PATH@470..473
                      Ident@470..473 "sum"
                  Dot@473..474 "."
                  EXPR_IDENT@474..477
                    PATH@474..477
                      Ident@474..477 "get"
                ARG_LIST@477..479
                  LParen@477..478 "("
                  RParen@478..479 ")"
            RParen@479..480 ")"
        Semi@480..481 ";"
        Whitespace@481..482 "\n"
      RBrace@482..483 "}"
      Whitespace@483..484 "\n"