FILE@0..705
  FN@0..121
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "step"
    PARAM_LIST@7..16
      LParen@7..8 "("
      PARAM@8..14
        Ident@8..9 "i"
        Colon@9..10 ":"
        Whitespace@10..11 " "
        TYPE_INT32@11..14
          I32Keyword@11..14 "i32"
      RParen@14..15 ")"
      Whitespace@15..16 " "
    Arrow@16..18 "->"
    Whitespace@18..19 " "
    TYPE_TAPP@19..31
      PATH@19..25
        Ident@19..25 "Option"
      TYPE_PARAM_LIST@25..31
        LBracket@25..26 "["
        TYPE_INT32@26..29
          I32Keyword@26..29 "i32"
        RBracket@29..30 "]"
        Whitespace@30..31 " "
    BLOCK@31..121
      LBrace@31..32 "{"
      Whitespace@32..37 "\n    "
      EXPR_IF@37..118
        IfKeyword@37..39 "if"
        Whitespace@39..40 " "
        EXPR_IF_COND@40..47
          EXPR_BINARY@40..47
            EXPR_IDENT@40..42
              PATH@40..42
                Ident@40..41 "i"
                Whitespace@41..42 " "
            EqEq@42..44 "=="
            Whitespace@44..45 " "
            EXPR_INT@45..47
              Int@45..46 "2"
              Whitespace@46..47 " "
        EXPR_IF_THEN@47..76
          BLOCK@47..76
            LBrace@47..48 "{"
            Whitespace@48..57 "\n        "
            EXPR_IDENT@57..74
              PATH@57..74
                Ident@57..63 "Option"
                ColonColon@63..65 "::"
                Ident@65..69 "None"
                Whitespace@69..74 "\n    "
            RBrace@74..75 "}"
            Whitespace@75..76 " "
        ElseKeyword@76..80 "else"
        Whitespace@80..81 " "
        EXPR_IF_ELSE@81..118
          BLOCK@81..118
            LBrace@81..82 "{"
            Whitespace@82..91 "\n        "
            EXPR_CALL@91..116
              EXPR_IDENT@91..103
                PATH@91..103
                  Ident@91..97 "Option"
                  ColonColon@97..99 "::"
                  Ident@99..103 "Some"
              ARG_LIST@103..116
                LParen@103..104 "("
                ARG@104..110
                  EXPR_BINARY@104..110
                    EXPR_IDENT@104..106
                      PATH@104..106
                        Ident@104..105 "i"
                        Whitespace@105..106 " "
                    Plus@106..107 "+"
                    Whitespace@107..108 " "
                    EXPR_INT@108..110
                      Int@108..110 "10"
                RParen@110..111 ")"
                Whitespace@111..116 "\n    "
            RBrace@116..117 "}"
            Whitespace@117..118 "\n"
      RBrace@118..119 "}"
      Whitespace@119..121 "\n\n"
  FN@121..462
    FnKeyword@121..123 "fn"
    Whitespace@123..124 " "
    Ident@124..134 "accumulate"
    PARAM_LIST@134..147
      LParen@134..135 "("
      PARAM@135..145
        Ident@135..140 "limit"
        Colon@140..141 ":"
        Whitespace@141..142 " "
        TYPE_INT32@142..145
          I32Keyword@142..145 "i32"
      RParen@145..146 ")"
      Whitespace@146..147 " "
    Arrow@147..149 "->"
    Whitespace@149..150 " "
    TYPE_TAPP@150..162
      PATH@150..156
        Ident@150..156 "Option"
      TYPE_PARAM_LIST@156..162
        LBracket@156..157 "["
        TYPE_INT32@157..160
          I32Keyword@157..160 "i32"
        RBracket@160..161 "]"
        Whitespace@161..162 " "
    BLOCK@162..462
      LBrace@162..163 "{"
      Whitespace@163..168 "\n    "
      STMT_LET@168..195
        LetKeyword@168..171 "let"
        Whitespace@171..172 " "
        PATTERN_VARIABLE@172..176
          Ident@172..175 "sum"
          Whitespace@175..176 " "
        Eq@176..177 "="
        Whitespace@177..178 " "
        EXPR_CALL@178..189
          EXPR_IDENT@178..186
            PATH@178..186
              Ident@178..181 "Ref"
              ColonColon@181..183 "::"
              Ident@183..186 "new"
          ARG_LIST@186..189
            LParen@186..187 "("
            ARG@187..188
              EXPR_INT@187..188
                Int@187..188 "0"
            RParen@188..189 ")"
        Semi@189..190 ";"
        Whitespace@190..195 "\n    "
      STMT_LET@195..220
        LetKeyword@195..198 "let"
        Whitespace@198..199 " "
        PATTERN_VARIABLE@199..201
          Ident@199..200 "i"
          Whitespace@200..201 " "
        Eq@201..202 "="
        Whitespace@202..203 " "
        EXPR_CALL@203..214
          EXPR_IDENT@203..211
            PATH@203..211
              Ident@203..206 "Ref"
              ColonColon@206..208 "::"
              Ident@208..211 "new"
          ARG_LIST@211..214
            LParen@211..212 "("
            ARG@212..213
              EXPR_INT@212..213
                Int@212..213 "0"
            RParen@213..214 ")"
        Semi@214..215 ";"
        Whitespace@215..220 "\n    "
      STMT_EXPR@220..435
        EXPR_WHILE@220..435
          WhileKeyword@220..225 "while"
          Whitespace@225..226 " "
          EXPR_WHILE_COND@226..242
            EXPR_BINARY@226..242
              EXPR_CALL@226..234
                EXPR_BINARY@226..231
                  EXPR_IDENT@226..227
                    PATH@226..227
                      Ident@226..227 "i"
                  Dot@227..228 "."
                  EXPR_IDENT@228..231
                    PATH@228..231
                      Ident@228..231 "get"
                ARG_LIST@231..234
                  LParen@231..232 "("
                  RParen@232..233 ")"
                  Whitespace@233..234 " "
              Less@234..235 "<"
              Whitespace@235..236 " "
              EXPR_IDENT@236..242
                PATH@236..242
                  Ident@236..241 "limit"
                  Whitespace@241..242 " "
          EXPR_WHILE_BODY@242..435
            BLOCK@242..435
              LBrace@242..243 "{"
              Whitespace@243..252 "\n        "
              STMT_LET@252..279
                LetKeyword@252..255 "let"
                Whitespace@255..256 " "
                PATTERN_VARIABLE@256..260
                  Ident@256..259 "cur"
                  Whitespace@259..260 " "
                Eq@260..261 "="
                Whitespace@261..262 " "
                EXPR_CALL@262..269
                  EXPR_BINARY@262..267
                    EXPR_IDENT@262..263
                      PATH@262..263
                        Ident@262..263 "i"
                    Dot@263..264 "."
                    EXPR_IDENT@264..267
                      PATH@264..267
                        Ident@264..267 "get"
                  ARG_LIST@267..269
                    LParen@267..268 "("
                    RParen@268..269 ")"
                Semi@269..270 ";"
                Whitespace@270..279 "\n        "
              STMT_EXPR@279..303
                EXPR_CALL@279..293
                  EXPR_BINARY@279..284
                    EXPR_IDENT@279..280
                      PATH@279..280
                        Ident@279..280 "i"
                    Dot@280..281 "."
                    EXPR_IDENT@281..284
                      PATH@281..284
                        Ident@281..284 "set"
                  ARG_LIST@284..293
                    LParen@284..285 "("
                    ARG@285..292
                      EXPR_BINARY@285..292
                        EXPR_IDENT@285..289
                          PATH@285..289
                            Ident@285..288 "cur"
                            Whitespace@288..289 " "
                        Plus@289..290 "+"
                        Whitespace@290..291 " "
                        EXPR_INT@291..292
                          Int@291..292 "1"
                    RParen@292..293 ")"
                Semi@293..294 ";"
                Whitespace@294..303 "\n        "
              STMT_EXPR@303..365
                EXPR_IF@303..355
                  IfKeyword@303..305 "if"
                  Whitespace@305..306 " "
                  EXPR_IF_COND@306..315
                    EXPR_BINARY@306..315
                      EXPR_IDENT@306..310
                        PATH@306..310
                          Ident@306..309 "cur"
                          Whitespace@309..310 " "
                      EqEq@310..312 "=="
                      Whitespace@312..313 " "
                      EXPR_INT@313..315
                        Int@313..314 "1"
                        Whitespace@314..315 " "
                  EXPR_IF_THEN@315..348
                    BLOCK@315..348
                      LBrace@315..316 "{"
                      Whitespace@316..329 "\n            "
                      EXPR_CONTINUE@329..346
                        ContinueKeyword@329..337 "continue"
                        Whitespace@337..346 "\n        "
                      RBrace@346..347 "}"
                      Whitespace@347..348 " "
                  ElseKeyword@348..352 "else"
                  Whitespace@352..353 " "
                  EXPR_IF_ELSE@353..355
                    BLOCK@353..355
                      LBrace@353..354 "{"
                      RBrace@354..355 "}"
                Semi@355..356 ";"
                Whitespace@356..365 "\n        "
              STMT_LET@365..397
                LetKeyword@365..368 "let"
                Whitespace@368..369 " "
                PATTERN_VARIABLE@369..375
                  Ident@369..374 "value"
                  Whitespace@374..375 " "
                Eq@375..376 "="
                Whitespace@376..377 " "
                EXPR_TRY@377..387
                  EXPR_CALL@377..386
                    EXPR_IDENT@377..381
                      PATH@377..381
                        Ident@377..381 "step"
                    ARG_LIST@381..386
                      LParen@381..382 "("
                      ARG@382..385
                        EXPR_IDENT@382..385
                          PATH@382..385
                            Ident@382..385 "cur"
                      RParen@385..386 ")"
                  Question@386..387 "?"
                Semi@387..388 ";"
                Whitespace@388..397 "\n        "
              STMT_EXPR@397..429
                EXPR_CALL@397..423
                  EXPR_BINARY@397..404
                    EXPR_IDENT@397..400
                      PATH@397..400
                        Ident@397..400 "sum"
                    Dot@400..401 "."
                    EXPR_IDENT@401..404
                      PATH@401..404
                        Ident@401..404 "set"
                  ARG_LIST@404..423
                    LParen@404..405 "("
                    ARG@405..422
                      EXPR_BINARY@405..422
                        EXPR_CALL@405..415
                          EXPR_BINARY@405..412
                            EXPR_IDENT@405..408
                              PATH@405..408
                                Ident@405..408 "sum"
                            Dot@408..409 "."
                            EXPR_IDENT@409..412
                              PATH@409..412
                                Ident@409..412 "get"
                          ARG_LIST@412..415
                            LParen@412..413 "("
                            RParen@413..414 ")"
                            Whitespace@414..415 " "
                        Plus@415..416 "+"
                        Whitespace@416..417 " "
                        EXPR_IDENT@417..422
                          PATH@417..422
                            Ident@417..422 "value"
                    RParen@422..423 ")"
                Semi@423..424 ";"
                Whitespace@424..429 "\n    "
              RBrace@429..430 "}"
              Whitespace@430..435 "\n    "
      EXPR_CALL@435..459
        EXPR_IDENT@435..447
          PATH@435..447
            Ident@435..441 "Option"
            ColonColon@441..443 "::"
            Ident@443..447 "Some"
        ARG_LIST@447..459
          LParen@447..448 "("
          ARG@448..457
            EXPR_CALL@448..457
              EXPR_BINARY@448..455
                EXPR_IDENT@448..451
                  PATH@448..451
                    Ident@448..451 "sum"
                Dot@451..452 "."
                EXPR_IDENT@452..455
                  PATH@452..455
                    Ident@452..455 "get"
              ARG_LIST@455..457
                LParen@455..456 "("
                RParen@456..457 ")"
          RParen@457..458 ")"
          Whitespace@458..459 "\n"
      RBrace@459..460 "}"
      Whitespace@460..462 "\n\n"
  FN@462..617
    FnKeyword@462..464 "fn"
    Whitespace@464..465 " "
    Ident@465..469 "show"
    PARAM_LIST@469..488
      LParen@469..470 "("
      PARAM@470..486
        Ident@470..473 "opt"
        Colon@473..474 ":"
        Whitespace@474..475 " "
        TYPE_TAPP@475..486
          PATH@475..481
            Ident@475..481 "Option"
          TYPE_PARAM_LIST@481..486
            LBracket@481..482 "["
            TYPE_INT32@482..485
              I32Keyword@482..485 "i32"
            RBracket@485..486 "]"
      RParen@486..487 ")"
      Whitespace@487..488 " "
    Arrow@488..490 "->"
    Whitespace@490..491 " "
    TYPE_STRING@491..498
      StringKeyword@491..497 "string"
      Whitespace@497..498 " "
    BLOCK@498..617
      LBrace@498..499 "{"
      Whitespace@499..504 "\n    "
      EXPR_MATCH@504..614
        MatchKeyword@504..509 "match"
        Whitespace@509..510 " "
        EXPR_IDENT@510..514
          PATH@510..514
            Ident@510..513 "opt"
            Whitespace@513..514 " "
        MATCH_ARM_LIST@514..614
          LBrace@514..515 "{"
          Whitespace@515..524 "\n        "
          MATCH_ARM@524..574
            PATTERN_CONSTR@524..544
              PATH@524..536
                Ident@524..530 "Option"
                ColonColon@530..532 "::"
                Ident@532..536 "Some"
              LParen@536..537 "("
              PATTERN_VARIABLE@537..542
                Ident@537..542 "value"
              RParen@542..543 ")"
              Whitespace@543..544 " "
            FatArrow@544..546 "=>"
            Whitespace@546..547 " "
            EXPR_BINARY@547..574
              EXPR_STR@547..555
                Str@547..554 "\"some=\""
                Whitespace@554..555 " "
              Plus@555..556 "+"
              Whitespace@556..557 " "
              EXPR_CALL@557..574
                EXPR_BINARY@557..572
                  EXPR_IDENT@557..562
                    PATH@557..562
                      Ident@557..562 "value"
                  Dot@562..563 "."
                  EXPR_IDENT@563..572
                    PATH@563..572
                      Ident@563..572 "to_string"
                ARG_LIST@572..574
                  LParen@572..573 "("
                  RParen@573..574 ")"
          Comma@574..575 ","
          Whitespace@575..584 "\n        "
          MATCH_ARM@584..606
            PATTERN_CONSTR@584..597
              PATH@584..597
                Ident@584..590 "Option"
                ColonColon@590..592 "::"
                Ident@592..596 "None"
                Whitespace@596..597 " "
            FatArrow@597..599 "=>"
            Whitespace@599..600 " "
            EXPR_STR@600..606
              Str@600..606 "\"none\""
          Comma@606..607 ","
          Whitespace@607..612 "\n    "
          RBrace@612..613 "}"
          Whitespace@613..614 "\n"
      RBrace@614..615 "}"
      Whitespace@615..617 "\n\n"
  FN@617..705
    FnKeyword@617..619 "fn"
    Whitespace@619..620 " "
    Ident@620..624 "main"
    PARAM_LIST@624..627
      LParen@624..625 "("
      RParen@625..626 ")"
      Whitespace@626..627 " "
    Arrow@627..629 "->"
    Whitespace@629..630 " "
    TYPE_TUPLE@630..633
      TYPE_LIST@630..633
        LParen@630..631 "("
        RParen@631..632 ")"
        Whitespace@632..633 " "
    BLOCK@633..705
      LBrace@633..634 "{"
      Whitespace@634..639 "\n    "
      STMT_EXPR@639..673
        EXPR_CALL@639..667
          EXPR_IDENT@639..646
            PATH@639..646
              Ident@639..646 "println"
          ARG_LIST@646..667
            LParen@646..647 "("
            ARG@647..666
              EXPR_CALL@647..666
                EXPR_IDENT@647..651
                  PATH@647..651
                    Ident@647..651 "show"
                ARG_LIST@651..666
                  LParen@651..652 "("
                  ARG@652..665
                    EXPR_CALL@652..665
                      EXPR_IDENT@652..662
                        PATH@652..662
                          Ident@652..662 "accumulate"
                      ARG_LIST@662..665
                        LParen@662..663 "("
                        ARG@663..664
                          EXPR_INT@663..664
                            Int@663..664 "2"
                        RParen@664..665 ")"
                  RParen@665..666 ")"
            RParen@666..667 ")"
        Semi@667..668 ";"
        Whitespace@668..673 "\n    "
      STMT_EXPR@673..703
        EXPR_CALL@673..701
          EXPR_IDENT@673..680
            PATH@673..680
              Ident@673..680 "println"
          ARG_LIST@680..701
            LParen@680..681 "("
            ARG@681..700
              EXPR_CALL@681..700
                EXPR_IDENT@681..685
                  PATH@681..685
                    Ident@681..685 "show"
                ARG_LIST@685..700
                  LParen@685..686 "("
                  ARG@686..699
                    EXPR_CALL@686..699
                      EXPR_IDENT@686..696
                        PATH@686..696
                          Ident@686..696 "accumulate"
                      ARG_LIST@696..699
                        LParen@696..697 "("
                        ARG@697..698
                          EXPR_INT@697..698
                            Int@697..698 "4"
                        RParen@698..699 ")"
                  RParen@699..700 ")"
            RParen@700..701 ")"
        Semi@701..702 ";"
        Whitespace@702..703 "\n"
      RBrace@703..704 "}"
      Whitespace@704..705 "\n"