FILE@0..717
  FN@0..125
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "step"
    PARAM_LIST@7..18
      LParen@7..8 "("
      PARAM@8..16
        Ident@8..9 "i"
        Colon@9..10 ":"
        Whitespace@10..11 " "
        TYPE_INT32@11..16
          Int32Keyword@11..16 "int32"
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_TAPP@21..35
      PATH@21..27
        Ident@21..27 "Option"
      TYPE_PARAM_LIST@27..35
        LBracket@27..28 "["
        TYPE_INT32@28..33
          Int32Keyword@28..33 "int32"
        RBracket@33..34 "]"
        Whitespace@34..35 " "
    BLOCK@35..125
      LBrace@35..36 "{"
      Whitespace@36..41 "\n    "
      EXPR_IF@41..122
        IfKeyword@41..43 "if"
        Whitespace@43..44 " "
        EXPR_IF_COND@44..51
          EXPR_BINARY@44..51
            EXPR_IDENT@44..46
              PATH@44..46
                Ident@44..45 "i"
                Whitespace@45..46 " "
            EqEq@46..48 "=="
            Whitespace@48..49 " "
            EXPR_INT@49..51
              Int@49..50 "2"
              Whitespace@50..51 " "
        EXPR_IF_THEN@51..80
          BLOCK@51..80
            LBrace@51..52 "{"
            Whitespace@52..61 "\n        "
            EXPR_IDENT@61..78
              PATH@61..78
                Ident@61..67 "Option"
                ColonColon@67..69 "::"
                Ident@69..73 "None"
                Whitespace@73..78 "\n    "
            RBrace@78..79 "}"
            Whitespace@79..80 " "
        ElseKeyword@80..84 "else"
        Whitespace@84..85 " "
        EXPR_IF_ELSE@85..122
          BLOCK@85..122
            LBrace@85..86 "{"
            Whitespace@86..95 "\n        "
            EXPR_CALL@95..120
              EXPR_IDENT@95..107
                PATH@95..107
                  Ident@95..101 "Option"
                  ColonColon@101..103 "::"
                  Ident@103..107 "Some"
              ARG_LIST@107..120
                LParen@107..108 "("
                ARG@108..114
                  EXPR_BINARY@108..114
                    EXPR_IDENT@108..110
                      PATH@108..110
                        Ident@108..109 "i"
                        Whitespace@109..110 " "
                    Plus@110..111 "+"
                    Whitespace@111..112 " "
                    EXPR_INT@112..114
                      Int@112..114 "10"
                RParen@114..115 ")"
                Whitespace@115..120 "\n    "
            RBrace@120..121 "}"
            Whitespace@121..122 "\n"
      RBrace@122..123 "}"
      Whitespace@123..125 "\n\n"
  FN@125..470
    FnKeyword@125..127 "fn"
    Whitespace@127..128 " "
    Ident@128..138 "accumulate"
    PARAM_LIST@138..153
      LParen@138..139 "("
      PARAM@139..151
        Ident@139..144 "limit"
        Colon@144..145 ":"
        Whitespace@145..146 " "
        TYPE_INT32@146..151
          Int32Keyword@146..151 "int32"
      RParen@151..152 ")"
      Whitespace@152..153 " "
    Arrow@153..155 "->"
    Whitespace@155..156 " "
    TYPE_TAPP@156..170
      PATH@156..162
        Ident@156..162 "Option"
      TYPE_PARAM_LIST@162..170
        LBracket@162..163 "["
        TYPE_INT32@163..168
          Int32Keyword@163..168 "int32"
        RBracket@168..169 "]"
        Whitespace@169..170 " "
    BLOCK@170..470
      LBrace@170..171 "{"
      Whitespace@171..176 "\n    "
      STMT_LET@176..203
        LetKeyword@176..179 "let"
        Whitespace@179..180 " "
        PATTERN_VARIABLE@180..184
          Ident@180..183 "sum"
          Whitespace@183..184 " "
        Eq@184..185 "="
        Whitespace@185..186 " "
        EXPR_CALL@186..197
          EXPR_IDENT@186..194
            PATH@186..194
              Ident@186..189 "Ref"
              ColonColon@189..191 "::"
              Ident@191..194 "new"
          ARG_LIST@194..197
            LParen@194..195 "("
            ARG@195..196
              EXPR_INT@195..196
                Int@195..196 "0"
            RParen@196..197 ")"
        Semi@197..198 ";"
        Whitespace@198..203 "\n    "
      STMT_LET@203..228
        LetKeyword@203..206 "let"
        Whitespace@206..207 " "
        PATTERN_VARIABLE@207..209
          Ident@207..208 "i"
          Whitespace@208..209 " "
        Eq@209..210 "="
        Whitespace@210..211 " "
        EXPR_CALL@211..222
          EXPR_IDENT@211..219
            PATH@211..219
              Ident@211..214 "Ref"
              ColonColon@214..216 "::"
              Ident@216..219 "new"
          ARG_LIST@219..222
            LParen@219..220 "("
            ARG@220..221
              EXPR_INT@220..221
                Int@220..221 "0"
            RParen@221..222 ")"
        Semi@222..223 ";"
        Whitespace@223..228 "\n    "
      STMT_EXPR@228..443
        EXPR_WHILE@228..443
          WhileKeyword@228..233 "while"
          Whitespace@233..234 " "
          EXPR_WHILE_COND@234..250
            EXPR_BINARY@234..250
              EXPR_CALL@234..242
                EXPR_BINARY@234..239
                  EXPR_IDENT@234..235
                    PATH@234..235
                      Ident@234..235 "i"
                  Dot@235..236 "."
                  EXPR_IDENT@236..239
                    PATH@236..239
                      Ident@236..239 "get"
                ARG_LIST@239..242
                  LParen@239..240 "("
                  RParen@240..241 ")"
                  Whitespace@241..242 " "
              Less@242..243 "<"
              Whitespace@243..244 " "
              EXPR_IDENT@244..250
                PATH@244..250
                  Ident@244..249 "limit"
                  Whitespace@249..250 " "
          EXPR_WHILE_BODY@250..443
            BLOCK@250..443
              LBrace@250..251 "{"
              Whitespace@251..260 "\n        "
              STMT_LET@260..287
                LetKeyword@260..263 "let"
                Whitespace@263..264 " "
                PATTERN_VARIABLE@264..268
                  Ident@264..267 "cur"
                  Whitespace@267..268 " "
                Eq@268..269 "="
                Whitespace@269..270 " "
                EXPR_CALL@270..277
                  EXPR_BINARY@270..275
                    EXPR_IDENT@270..271
                      PATH@270..271
                        Ident@270..271 "i"
                    Dot@271..272 "."
                    EXPR_IDENT@272..275
                      PATH@272..275
                        Ident@272..275 "get"
                  ARG_LIST@275..277
                    LParen@275..276 "("
                    RParen@276..277 ")"
                Semi@277..278 ";"
                Whitespace@278..287 "\n        "
              STMT_EXPR@287..311
                EXPR_CALL@287..301
                  EXPR_BINARY@287..292
                    EXPR_IDENT@287..288
                      PATH@287..288
                        Ident@287..288 "i"
                    Dot@288..289 "."
                    EXPR_IDENT@289..292
                      PATH@289..292
                        Ident@289..292 "set"
                  ARG_LIST@292..301
                    LParen@292..293 "("
                    ARG@293..300
                      EXPR_BINARY@293..300
                        EXPR_IDENT@293..297
                          PATH@293..297
                            Ident@293..296 "cur"
                            Whitespace@296..297 " "
                        Plus@297..298 "+"
                        Whitespace@298..299 " "
                        EXPR_INT@299..300
                          Int@299..300 "1"
                    RParen@300..301 ")"
                Semi@301..302 ";"
                Whitespace@302..311 "\n        "
              STMT_EXPR@311..373
                EXPR_IF@311..363
                  IfKeyword@311..313 "if"
                  Whitespace@313..314 " "
                  EXPR_IF_COND@314..323
                    EXPR_BINARY@314..323
                      EXPR_IDENT@314..318
                        PATH@314..318
                          Ident@314..317 "cur"
                          Whitespace@317..318 " "
                      EqEq@318..320 "=="
                      Whitespace@320..321 " "
                      EXPR_INT@321..323
                        Int@321..322 "1"
                        Whitespace@322..323 " "
                  EXPR_IF_THEN@323..356
                    BLOCK@323..356
                      LBrace@323..324 "{"
                      Whitespace@324..337 "\n            "
                      EXPR_CONTINUE@337..354
                        ContinueKeyword@337..345 "continue"
                        Whitespace@345..354 "\n        "
                      RBrace@354..355 "}"
                      Whitespace@355..356 " "
                  ElseKeyword@356..360 "else"
                  Whitespace@360..361 " "
                  EXPR_IF_ELSE@361..363
                    BLOCK@361..363
                      LBrace@361..362 "{"
                      RBrace@362..363 "}"
                Semi@363..364 ";"
                Whitespace@364..373 "\n        "
              STMT_LET@373..405
                LetKeyword@373..376 "let"
                Whitespace@376..377 " "
                PATTERN_VARIABLE@377..383
                  Ident@377..382 "value"
                  Whitespace@382..383 " "
                Eq@383..384 "="
                Whitespace@384..385 " "
                EXPR_TRY@385..395
                  EXPR_CALL@385..394
                    EXPR_IDENT@385..389
                      PATH@385..389
                        Ident@385..389 "step"
                    ARG_LIST@389..394
                      LParen@389..390 "("
                      ARG@390..393
                        EXPR_IDENT@390..393
                          PATH@390..393
                            Ident@390..393 "cur"
                      RParen@393..394 ")"
                  Question@394..395 "?"
                Semi@395..396 ";"
                Whitespace@396..405 "\n        "
              STMT_EXPR@405..437
                EXPR_CALL@405..431
                  EXPR_BINARY@405..412
                    EXPR_IDENT@405..408
                      PATH@405..408
                        Ident@405..408 "sum"
                    Dot@408..409 "."
                    EXPR_IDENT@409..412
                      PATH@409..412
                        Ident@409..412 "set"
                  ARG_LIST@412..431
                    LParen@412..413 "("
                    ARG@413..430
                      EXPR_BINARY@413..430
                        EXPR_CALL@413..423
                          EXPR_BINARY@413..420
                            EXPR_IDENT@413..416
                              PATH@413..416
                                Ident@413..416 "sum"
                            Dot@416..417 "."
                            EXPR_IDENT@417..420
                              PATH@417..420
                                Ident@417..420 "get"
                          ARG_LIST@420..423
                            LParen@420..421 "("
                            RParen@421..422 ")"
                            Whitespace@422..423 " "
                        Plus@423..424 "+"
                        Whitespace@424..425 " "
                        EXPR_IDENT@425..430
                          PATH@425..430
                            Ident@425..430 "value"
                    RParen@430..431 ")"
                Semi@431..432 ";"
                Whitespace@432..437 "\n    "
              RBrace@437..438 "}"
              Whitespace@438..443 "\n    "
      EXPR_CALL@443..467
        EXPR_IDENT@443..455
          PATH@443..455
            Ident@443..449 "Option"
            ColonColon@449..451 "::"
            Ident@451..455 "Some"
        ARG_LIST@455..467
          LParen@455..456 "("
          ARG@456..465
            EXPR_CALL@456..465
              EXPR_BINARY@456..463
                EXPR_IDENT@456..459
                  PATH@456..459
                    Ident@456..459 "sum"
                Dot@459..460 "."
                EXPR_IDENT@460..463
                  PATH@460..463
                    Ident@460..463 "get"
              ARG_LIST@463..465
                LParen@463..464 "("
                RParen@464..465 ")"
          RParen@465..466 ")"
          Whitespace@466..467 "\n"
      RBrace@467..468 "}"
      Whitespace@468..470 "\n\n"
  FN@470..627
    FnKeyword@470..472 "fn"
    Whitespace@472..473 " "
    Ident@473..477 "show"
    PARAM_LIST@477..498
      LParen@477..478 "("
      PARAM@478..496
        Ident@478..481 "opt"
        Colon@481..482 ":"
        Whitespace@482..483 " "
        TYPE_TAPP@483..496
          PATH@483..489
            Ident@483..489 "Option"
          TYPE_PARAM_LIST@489..496
            LBracket@489..490 "["
            TYPE_INT32@490..495
              Int32Keyword@490..495 "int32"
            RBracket@495..496 "]"
      RParen@496..497 ")"
      Whitespace@497..498 " "
    Arrow@498..500 "->"
    Whitespace@500..501 " "
    TYPE_STRING@501..508
      StringKeyword@501..507 "string"
      Whitespace@507..508 " "
    BLOCK@508..627
      LBrace@508..509 "{"
      Whitespace@509..514 "\n    "
      EXPR_MATCH@514..624
        MatchKeyword@514..519 "match"
        Whitespace@519..520 " "
        EXPR_IDENT@520..524
          PATH@520..524
            Ident@520..523 "opt"
            Whitespace@523..524 " "
        MATCH_ARM_LIST@524..624
          LBrace@524..525 "{"
          Whitespace@525..534 "\n        "
          MATCH_ARM@534..584
            PATTERN_CONSTR@534..554
              PATH@534..546
                Ident@534..540 "Option"
                ColonColon@540..542 "::"
                Ident@542..546 "Some"
              LParen@546..547 "("
              PATTERN_VARIABLE@547..552
                Ident@547..552 "value"
              RParen@552..553 ")"
              Whitespace@553..554 " "
            FatArrow@554..556 "=>"
            Whitespace@556..557 " "
            EXPR_BINARY@557..584
              EXPR_STR@557..565
                Str@557..564 "\"some=\""
                Whitespace@564..565 " "
              Plus@565..566 "+"
              Whitespace@566..567 " "
              EXPR_CALL@567..584
                EXPR_BINARY@567..582
                  EXPR_IDENT@567..572
                    PATH@567..572
                      Ident@567..572 "value"
                  Dot@572..573 "."
                  EXPR_IDENT@573..582
                    PATH@573..582
                      Ident@573..582 "to_string"
                ARG_LIST@582..584
                  LParen@582..583 "("
                  RParen@583..584 ")"
          Comma@584..585 ","
          Whitespace@585..594 "\n        "
          MATCH_ARM@594..616
            PATTERN_CONSTR@594..607
              PATH@594..607
                Ident@594..600 "Option"
                ColonColon@600..602 "::"
                Ident@602..606 "None"
                Whitespace@606..607 " "
            FatArrow@607..609 "=>"
            Whitespace@609..610 " "
            EXPR_STR@610..616
              Str@610..616 "\"none\""
          Comma@616..617 ","
          Whitespace@617..622 "\n    "
          RBrace@622..623 "}"
          Whitespace@623..624 "\n"
      RBrace@624..625 "}"
      Whitespace@625..627 "\n\n"
  FN@627..717
    FnKeyword@627..629 "fn"
    Whitespace@629..630 " "
    Ident@630..634 "main"
    PARAM_LIST@634..637
      LParen@634..635 "("
      RParen@635..636 ")"
      Whitespace@636..637 " "
    Arrow@637..639 "->"
    Whitespace@639..640 " "
    TYPE_UNIT@640..645
      UnitKeyword@640..644 "unit"
      Whitespace@644..645 " "
    BLOCK@645..717
      LBrace@645..646 "{"
      Whitespace@646..651 "\n    "
      STMT_EXPR@651..685
        EXPR_CALL@651..679
          EXPR_IDENT@651..658
            PATH@651..658
              Ident@651..658 "println"
          ARG_LIST@658..679
            LParen@658..659 "("
            ARG@659..678
              EXPR_CALL@659..678
                EXPR_IDENT@659..663
                  PATH@659..663
                    Ident@659..663 "show"
                ARG_LIST@663..678
                  LParen@663..664 "("
                  ARG@664..677
                    EXPR_CALL@664..677
                      EXPR_IDENT@664..674
                        PATH@664..674
                          Ident@664..674 "accumulate"
                      ARG_LIST@674..677
                        LParen@674..675 "("
                        ARG@675..676
                          EXPR_INT@675..676
                            Int@675..676 "2"
                        RParen@676..677 ")"
                  RParen@677..678 ")"
            RParen@678..679 ")"
        Semi@679..680 ";"
        Whitespace@680..685 "\n    "
      STMT_EXPR@685..715
        EXPR_CALL@685..713
          EXPR_IDENT@685..692
            PATH@685..692
              Ident@685..692 "println"
          ARG_LIST@692..713
            LParen@692..693 "("
            ARG@693..712
              EXPR_CALL@693..712
                EXPR_IDENT@693..697
                  PATH@693..697
                    Ident@693..697 "show"
                ARG_LIST@697..712
                  LParen@697..698 "("
                  ARG@698..711
                    EXPR_CALL@698..711
                      EXPR_IDENT@698..708
                        PATH@698..708
                          Ident@698..708 "accumulate"
                      ARG_LIST@708..711
                        LParen@708..709 "("
                        ARG@709..710
                          EXPR_INT@709..710
                            Int@709..710 "4"
                        RParen@710..711 ")"
                  RParen@711..712 ")"
            RParen@712..713 ")"
        Semi@713..714 ";"
        Whitespace@714..715 "\n"
      RBrace@715..716 "}"
      Whitespace@716..717 "\n"