FILE@0..565
  FN@0..565
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..565
      LBrace@10..11 "{"
      Whitespace@11..14 "\n  "
      STMT_LET@14..42
        LetKeyword@14..17 "let"
        Whitespace@17..18 " "
        PATTERN_VARIABLE@18..25
          Ident@18..25 "start16"
        Colon@25..26 ":"
        Whitespace@26..27 " "
        TYPE_INT16@27..33
          Int16Keyword@27..32 "int16"
          Whitespace@32..33 " "
        Eq@33..34 "="
        Whitespace@34..35 " "
        EXPR_INT@35..38
          Int@35..38 "300"
        Semi@38..39 ";"
        Whitespace@39..42 "\n  "
      STMT_LET@42..69
        LetKeyword@42..45 "let"
        Whitespace@45..46 " "
        PATTERN_VARIABLE@46..53
          Ident@46..53 "delta16"
        Colon@53..54 ":"
        Whitespace@54..55 " "
        TYPE_INT16@55..61
          Int16Keyword@55..60 "int16"
          Whitespace@60..61 " "
        Eq@61..62 "="
        Whitespace@62..63 " "
        EXPR_INT@63..65
          Int@63..65 "45"
        Semi@65..66 ";"
        Whitespace@66..69 "\n  "
      STMT_LET@69..102
        LetKeyword@69..72 "let"
        Whitespace@72..73 " "
        PATTERN_VARIABLE@73..79
          Ident@73..78 "sum16"
          Whitespace@78..79 " "
        Eq@79..80 "="
        Whitespace@80..81 " "
        EXPR_BINARY@81..98
          EXPR_IDENT@81..89
            PATH@81..89
              Ident@81..88 "start16"
              Whitespace@88..89 " "
          Plus@89..90 "+"
          Whitespace@90..91 " "
          EXPR_IDENT@91..98
            PATH@91..98
              Ident@91..98 "delta16"
        Semi@98..99 ";"
        Whitespace@99..102 "\n  "
      STMT_LET@102..131
        LetKeyword@102..105 "let"
        Whitespace@105..106 " "
        PATTERN_VARIABLE@106..116
          Ident@106..115 "flipped16"
          Whitespace@115..116 " "
        Eq@116..117 "="
        Whitespace@117..118 " "
        EXPR_PREFIX@118..126
          Minus@118..119 "-"
          EXPR_IDENT@119..126
            PATH@119..126
              Ident@119..126 "start16"
        Semi@126..127 ";"
        Whitespace@127..131 "\n\n  "
      STMT_LET@131..161
        LetKeyword@131..134 "let"
        Whitespace@134..135 " "
        PATTERN_VARIABLE@135..141
          Ident@135..141 "base32"
        Colon@141..142 ":"
        Whitespace@142..143 " "
        TYPE_INT32@143..149
          Int32Keyword@143..148 "int32"
          Whitespace@148..149 " "
        Eq@149..150 "="
        Whitespace@150..151 " "
        EXPR_INT@151..157
          Int@151..157 "100000"
        Semi@157..158 ";"
        Whitespace@158..161 "\n  "
      STMT_LET@161..191
        LetKeyword@161..164 "let"
        Whitespace@164..165 " "
        PATTERN_VARIABLE@165..171
          Ident@165..171 "more32"
        Colon@171..172 ":"
        Whitespace@172..173 " "
        TYPE_INT32@173..179
          Int32Keyword@173..178 "int32"
          Whitespace@178..179 " "
        Eq@179..180 "="
        Whitespace@180..181 " "
        EXPR_INT@181..187
          Int@181..187 "200000"
        Semi@187..188 ";"
        Whitespace@188..191 "\n  "
      STMT_LET@191..222
        LetKeyword@191..194 "let"
        Whitespace@194..195 " "
        PATTERN_VARIABLE@195..201
          Ident@195..200 "sum32"
          Whitespace@200..201 " "
        Eq@201..202 "="
        Whitespace@202..203 " "
        EXPR_BINARY@203..218
          EXPR_IDENT@203..210
            PATH@203..210
              Ident@203..209 "base32"
              Whitespace@209..210 " "
          Plus@210..211 "+"
          Whitespace@211..212 " "
          EXPR_IDENT@212..218
            PATH@212..218
              Ident@212..218 "more32"
        Semi@218..219 ";"
        Whitespace@219..222 "\n  "
      STMT_LET@222..254
        LetKeyword@222..225 "let"
        Whitespace@225..226 " "
        PATTERN_VARIABLE@226..233
          Ident@226..232 "diff32"
          Whitespace@232..233 " "
        Eq@233..234 "="
        Whitespace@234..235 " "
        EXPR_BINARY@235..249
          EXPR_IDENT@235..241
            PATH@235..241
              Ident@235..240 "sum32"
              Whitespace@240..241 " "
          Minus@241..242 "-"
          Whitespace@242..243 " "
          EXPR_IDENT@243..249
            PATH@243..249
              Ident@243..249 "base32"
        Semi@249..250 ";"
        Whitespace@250..254 "\n\n  "
      STMT_LET@254..287
        LetKeyword@254..257 "let"
        Whitespace@257..258 " "
        PATTERN_VARIABLE@258..263
          Ident@258..263 "big64"
        Colon@263..264 ":"
        Whitespace@264..265 " "
        TYPE_INT64@265..271
          Int64Keyword@265..270 "int64"
          Whitespace@270..271 " "
        Eq@271..272 "="
        Whitespace@272..273 " "
        EXPR_INT@273..283
          Int@273..283 "5000000000"
        Semi@283..284 ";"
        Whitespace@284..287 "\n  "
      STMT_LET@287..321
        LetKeyword@287..290 "let"
        Whitespace@290..291 " "
        PATTERN_VARIABLE@291..297
          Ident@291..297 "step64"
        Colon@297..298 ":"
        Whitespace@298..299 " "
        TYPE_INT64@299..305
          Int64Keyword@299..304 "int64"
          Whitespace@304..305 " "
        Eq@305..306 "="
        Whitespace@306..307 " "
        EXPR_INT@307..317
          Int@307..317 "2000000000"
        Semi@317..318 ";"
        Whitespace@318..321 "\n  "
      STMT_LET@321..354
        LetKeyword@321..324 "let"
        Whitespace@324..325 " "
        PATTERN_VARIABLE@325..334
          Ident@325..333 "remain64"
          Whitespace@333..334 " "
        Eq@334..335 "="
        Whitespace@335..336 " "
        EXPR_BINARY@336..350
          EXPR_IDENT@336..342
            PATH@336..342
              Ident@336..341 "big64"
              Whitespace@341..342 " "
          Minus@342..343 "-"
          Whitespace@343..344 " "
          EXPR_IDENT@344..350
            PATH@344..350
              Ident@344..350 "step64"
        Semi@350..351 ";"
        Whitespace@351..354 "\n  "
      STMT_LET@354..378
        LetKeyword@354..357 "let"
        Whitespace@357..358 " "
        PATTERN_VARIABLE@358..364
          Ident@358..363 "neg64"
          Whitespace@363..364 " "
        Eq@364..365 "="
        Whitespace@365..366 " "
        EXPR_PREFIX@366..373
          Minus@366..367 "-"
          EXPR_IDENT@367..373
            PATH@367..373
              Ident@367..373 "step64"
        Semi@373..374 ";"
        Whitespace@374..378 "\n\n  "
      STMT_LET@378..545
        LetKeyword@378..381 "let"
        Whitespace@381..382 " "
        PATTERN_VARIABLE@382..390
          Ident@382..389 "message"
          Whitespace@389..390 " "
        Eq@390..391 "="
        Whitespace@391..392 " "
        EXPR_BINARY@392..541
          EXPR_BINARY@392..522
            EXPR_BINARY@392..515
              EXPR_BINARY@392..488
                EXPR_BINARY@392..481
                  EXPR_BINARY@392..456
                    EXPR_BINARY@392..449
                      EXPR_BINARY@392..421
                        EXPR_CALL@392..414
                          EXPR_BINARY@392..407
                            EXPR_IDENT@392..397
                              PATH@392..397
                                Ident@392..397 "sum16"
                            Dot@397..398 "."
                            EXPR_IDENT@398..407
                              PATH@398..407
                                Ident@398..407 "to_string"
                          ARG_LIST@407..414
                            LParen@407..408 "("
                            RParen@408..409 ")"
                            Whitespace@409..414 "\n    "
                        Plus@414..415 "+"
                        Whitespace@415..416 " "
                        EXPR_STR@416..421
                          Str@416..420 "\", \""
                          Whitespace@420..421 " "
                      Plus@421..422 "+"
                      Whitespace@422..423 " "
                      EXPR_CALL@423..449
                        EXPR_BINARY@423..442
                          EXPR_IDENT@423..432
                            PATH@423..432
                              Ident@423..432 "flipped16"
                          Dot@432..433 "."
                          EXPR_IDENT@433..442
                            PATH@433..442
                              Ident@433..442 "to_string"
                        ARG_LIST@442..449
                          LParen@442..443 "("
                          RParen@443..444 ")"
                          Whitespace@444..449 "\n    "
                    Plus@449..450 "+"
                    Whitespace@450..451 " "
                    EXPR_STR@451..456
                      Str@451..455 "\"; \""
                      Whitespace@455..456 " "
                  Plus@456..457 "+"
                  Whitespace@457..458 " "
                  EXPR_CALL@458..481
                    EXPR_BINARY@458..474
                      EXPR_IDENT@458..464
                        PATH@458..464
                          Ident@458..464 "diff32"
                      Dot@464..465 "."
                      EXPR_IDENT@465..474
                        PATH@465..474
                          Ident@465..474 "to_string"
                    ARG_LIST@474..481
                      LParen@474..475 "("
                      RParen@475..476 ")"
                      Whitespace@476..481 "\n    "
                Plus@481..482 "+"
                Whitespace@482..483 " "
                EXPR_STR@483..488
                  Str@483..487 "\"; \""
                  Whitespace@487..488 " "
              Plus@488..489 "+"
              Whitespace@489..490 " "
              EXPR_CALL@490..515
                EXPR_BINARY@490..508
                  EXPR_IDENT@490..498
                    PATH@490..498
                      Ident@490..498 "remain64"
                  Dot@498..499 "."
                  EXPR_IDENT@499..508
                    PATH@499..508
                      Ident@499..508 "to_string"
                ARG_LIST@508..515
                  LParen@508..509 "("
                  RParen@509..510 ")"
                  Whitespace@510..515 "\n    "
            Plus@515..516 "+"
            Whitespace@516..517 " "
            EXPR_STR@517..522
              Str@517..521 "\"; \""
              Whitespace@521..522 " "
          Plus@522..523 "+"
          Whitespace@523..524 " "
          EXPR_CALL@524..541
            EXPR_BINARY@524..539
              EXPR_IDENT@524..529
                PATH@524..529
                  Ident@524..529 "neg64"
              Dot@529..530 "."
              EXPR_IDENT@530..539
                PATH@530..539
                  Ident@530..539 "to_string"
            ARG_LIST@539..541
              LParen@539..540 "("
              RParen@540..541 ")"
        Semi@541..542 ";"
        Whitespace@542..545 "\n  "
      STMT_EXPR@545..563
        EXPR_CALL@545..561
          EXPR_IDENT@545..552
            PATH@545..552
              Ident@545..552 "println"
          ARG_LIST@552..561
            LParen@552..553 "("
            ARG@553..560
              EXPR_IDENT@553..560
                PATH@553..560
                  Ident@553..560 "message"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..563 "\n"
      RBrace@563..564 "}"
      Whitespace@564..565 "\n"