FILE@0..310
  STRUCT@0..46
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..46
      STRUCT_FIELD@19..27
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..33 "\n    "
      STRUCT_FIELD@33..41
        Ident@33..34 "y"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..41
          Int32Keyword@36..41 "int32"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  FN@46..122
    FnKeyword@46..48 "fn"
    Whitespace@48..49 " "
    Ident@49..59 "make_point"
    PARAM_LIST@59..73
      LParen@59..60 "("
      PARAM@60..71
        Ident@60..64 "base"
        Colon@64..65 ":"
        Whitespace@65..66 " "
        TYPE_INT32@66..71
          Int32Keyword@66..71 "int32"
      RParen@71..72 ")"
      Whitespace@72..73 " "
    Arrow@73..75 "->"
    Whitespace@75..76 " "
    TYPE_TAPP@76..82
      PATH@76..82
        Ident@76..81 "Point"
        Whitespace@81..82 " "
    BLOCK@82..122
      LBrace@82..83 "{"
      Whitespace@83..88 "\n    "
      EXPR_STRUCT_LITERAL@88..119
        PATH@88..94
          Ident@88..93 "Point"
          Whitespace@93..94 " "
        STRUCT_LITERAL_FIELD_LIST@94..119
          LBrace@94..95 "{"
          Whitespace@95..96 " "
          STRUCT_LITERAL_FIELD@96..103
            Ident@96..97 "x"
            Colon@97..98 ":"
            Whitespace@98..99 " "
            EXPR_IDENT@99..103
              PATH@99..103
                Ident@99..103 "base"
          Comma@103..104 ","
          Whitespace@104..105 " "
          STRUCT_LITERAL_FIELD@105..117
            Ident@105..106 "y"
            Colon@106..107 ":"
            Whitespace@107..108 " "
            EXPR_BINARY@108..117
              EXPR_IDENT@108..113
                PATH@108..113
                  Ident@108..112 "base"
                  Whitespace@112..113 " "
              Plus@113..114 "+"
              Whitespace@114..115 " "
              EXPR_INT@115..117
                Int@115..116 "1"
                Whitespace@116..117 " "
          RBrace@117..118 "}"
          Whitespace@118..119 "\n"
      RBrace@119..120 "}"
      Whitespace@120..122 "\n\n"
  FN@122..173
    FnKeyword@122..124 "fn"
    Whitespace@124..125 " "
    Ident@125..134 "sum_point"
    PARAM_LIST@134..145
      LParen@134..135 "("
      PARAM@135..143
        Ident@135..136 "p"
        Colon@136..137 ":"
        Whitespace@137..138 " "
        TYPE_TAPP@138..143
          PATH@138..143
            Ident@138..143 "Point"
      RParen@143..144 ")"
      Whitespace@144..145 " "
    Arrow@145..147 "->"
    Whitespace@147..148 " "
    TYPE_INT32@148..154
      Int32Keyword@148..153 "int32"
      Whitespace@153..154 " "
    BLOCK@154..173
      LBrace@154..155 "{"
      Whitespace@155..160 "\n    "
      EXPR_BINARY@160..170
        EXPR_BINARY@160..164
          EXPR_IDENT@160..161
            PATH@160..161
              Ident@160..161 "p"
          Dot@161..162 "."
          EXPR_IDENT@162..164
            PATH@162..164
              Ident@162..163 "x"
              Whitespace@163..164 " "
        Plus@164..165 "+"
        Whitespace@165..166 " "
        EXPR_BINARY@166..170
          EXPR_IDENT@166..167
            PATH@166..167
              Ident@166..167 "p"
          Dot@167..168 "."
          EXPR_IDENT@168..170
            PATH@168..170
              Ident@168..169 "y"
              Whitespace@169..170 "\n"
      RBrace@170..171 "}"
      Whitespace@171..173 "\n\n"
  FN@173..310
    FnKeyword@173..175 "fn"
    Whitespace@175..176 " "
    Ident@176..180 "main"
    PARAM_LIST@180..183
      LParen@180..181 "("
      RParen@181..182 ")"
      Whitespace@182..183 " "
    Arrow@183..185 "->"
    Whitespace@185..186 " "
    TYPE_INT32@186..192
      Int32Keyword@186..191 "int32"
      Whitespace@191..192 " "
    BLOCK@192..310
      LBrace@192..193 "{"
      Whitespace@193..198 "\n    "
      STMT_LET@198..225
        LetKeyword@198..201 "let"
        Whitespace@201..202 " "
        PATTERN_VARIABLE@202..204
          Ident@202..203 "p"
          Whitespace@203..204 " "
        Eq@204..205 "="
        Whitespace@205..206 " "
        EXPR_CALL@206..219
          EXPR_IDENT@206..216
            PATH@206..216
              Ident@206..216 "make_point"
          ARG_LIST@216..219
            LParen@216..217 "("
            ARG@217..218
              EXPR_INT@217..218
                Int@217..218 "5"
            RParen@218..219 ")"
        Semi@219..220 ";"
        Whitespace@220..225 "\n    "
      STMT_LET@225..277
        LetKeyword@225..228 "let"
        Whitespace@228..229 " "
        PATTERN_VARIABLE@229..237
          Ident@229..236 "shifted"
          Whitespace@236..237 " "
        Eq@237..238 "="
        Whitespace@238..239 " "
        EXPR_STRUCT_LITERAL@239..271
          PATH@239..245
            Ident@239..244 "Point"
            Whitespace@244..245 " "
          STRUCT_LITERAL_FIELD_LIST@245..271
            LBrace@245..246 "{"
            Whitespace@246..247 " "
            STRUCT_LITERAL_FIELD@247..257
              Ident@247..248 "x"
              Colon@248..249 ":"
              Whitespace@249..250 " "
              EXPR_BINARY@250..257
                EXPR_BINARY@250..254
                  EXPR_IDENT@250..251
                    PATH@250..251
                      Ident@250..251 "p"
                  Dot@251..252 "."
                  EXPR_IDENT@252..254
                    PATH@252..254
                      Ident@252..253 "x"
                      Whitespace@253..254 " "
                Plus@254..255 "+"
                Whitespace@255..256 " "
                EXPR_INT@256..257
                  Int@256..257 "1"
            Comma@257..258 ","
            Whitespace@258..259 " "
            STRUCT_LITERAL_FIELD@259..270
              Ident@259..260 "y"
              Colon@260..261 ":"
              Whitespace@261..262 " "
              EXPR_BINARY@262..270
                EXPR_BINARY@262..266
                  EXPR_IDENT@262..263
                    PATH@262..263
                      Ident@262..263 "p"
                  Dot@263..264 "."
                  EXPR_IDENT@264..266
                    PATH@264..266
                      Ident@264..265 "y"
                      Whitespace@265..266 " "
                Minus@266..267 "-"
                Whitespace@267..268 " "
                EXPR_INT@268..270
                  Int@268..269 "2"
                  Whitespace@269..270 " "
            RBrace@270..271 "}"
        Semi@271..272 ";"
        Whitespace@272..277 "\n    "
      EXPR_BINARY@277..308
        EXPR_BINARY@277..287
          EXPR_IDENT@277..284
            PATH@277..284
              Ident@277..284 "shifted"
          Dot@284..285 "."
          EXPR_IDENT@285..287
            PATH@285..287
              Ident@285..286 "x"
              Whitespace@286..287 " "
        Plus@287..288 "+"
        Whitespace@288..289 " "
        EXPR_CALL@289..308
          EXPR_IDENT@289..298
            PATH@289..298
              Ident@289..298 "sum_point"
          ARG_LIST@298..308
            LParen@298..299 "("
            ARG@299..306
              EXPR_IDENT@299..306
                PATH@299..306
                  Ident@299..306 "shifted"
            RParen@306..307 ")"
            Whitespace@307..308 "\n"
      RBrace@308..309 "}"
      Whitespace@309..310 "\n"