FILE@0..300
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Ident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT32@34..37
          I32Keyword@34..37 "i32"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  FN@42..116
    FnKeyword@42..44 "fn"
    Whitespace@44..45 " "
    Ident@45..55 "make_point"
    PARAM_LIST@55..67
      LParen@55..56 "("
      PARAM@56..65
        Ident@56..60 "base"
        Colon@60..61 ":"
        Whitespace@61..62 " "
        TYPE_INT32@62..65
          I32Keyword@62..65 "i32"
      RParen@65..66 ")"
      Whitespace@66..67 " "
    Arrow@67..69 "->"
    Whitespace@69..70 " "
    TYPE_TAPP@70..76
      PATH@70..76
        Ident@70..75 "Point"
        Whitespace@75..76 " "
    BLOCK@76..116
      LBrace@76..77 "{"
      Whitespace@77..82 "\n    "
      EXPR_STRUCT_LITERAL@82..113
        PATH@82..88
          Ident@82..87 "Point"
          Whitespace@87..88 " "
        STRUCT_LITERAL_FIELD_LIST@88..113
          LBrace@88..89 "{"
          Whitespace@89..90 " "
          STRUCT_LITERAL_FIELD@90..97
            Ident@90..91 "x"
            Colon@91..92 ":"
            Whitespace@92..93 " "
            EXPR_IDENT@93..97
              PATH@93..97
                Ident@93..97 "base"
          Comma@97..98 ","
          Whitespace@98..99 " "
          STRUCT_LITERAL_FIELD@99..111
            Ident@99..100 "y"
            Colon@100..101 ":"
            Whitespace@101..102 " "
            EXPR_BINARY@102..111
              EXPR_IDENT@102..107
                PATH@102..107
                  Ident@102..106 "base"
                  Whitespace@106..107 " "
              Plus@107..108 "+"
              Whitespace@108..109 " "
              EXPR_INT@109..111
                Int@109..110 "1"
                Whitespace@110..111 " "
          RBrace@111..112 "}"
          Whitespace@112..113 "\n"
      RBrace@113..114 "}"
      Whitespace@114..116 "\n\n"
  FN@116..165
    FnKeyword@116..118 "fn"
    Whitespace@118..119 " "
    Ident@119..128 "sum_point"
    PARAM_LIST@128..139
      LParen@128..129 "("
      PARAM@129..137
        Ident@129..130 "p"
        Colon@130..131 ":"
        Whitespace@131..132 " "
        TYPE_TAPP@132..137
          PATH@132..137
            Ident@132..137 "Point"
      RParen@137..138 ")"
      Whitespace@138..139 " "
    Arrow@139..141 "->"
    Whitespace@141..142 " "
    TYPE_INT32@142..146
      I32Keyword@142..145 "i32"
      Whitespace@145..146 " "
    BLOCK@146..165
      LBrace@146..147 "{"
      Whitespace@147..152 "\n    "
      EXPR_BINARY@152..162
        EXPR_BINARY@152..156
          EXPR_IDENT@152..153
            PATH@152..153
              Ident@152..153 "p"
          Dot@153..154 "."
          EXPR_IDENT@154..156
            PATH@154..156
              Ident@154..155 "x"
              Whitespace@155..156 " "
        Plus@156..157 "+"
        Whitespace@157..158 " "
        EXPR_BINARY@158..162
          EXPR_IDENT@158..159
            PATH@158..159
              Ident@158..159 "p"
          Dot@159..160 "."
          EXPR_IDENT@160..162
            PATH@160..162
              Ident@160..161 "y"
              Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..165 "\n\n"
  FN@165..300
    FnKeyword@165..167 "fn"
    Whitespace@167..168 " "
    Ident@168..172 "main"
    PARAM_LIST@172..175
      LParen@172..173 "("
      RParen@173..174 ")"
      Whitespace@174..175 " "
    Arrow@175..177 "->"
    Whitespace@177..178 " "
    TYPE_INT32@178..182
      I32Keyword@178..181 "i32"
      Whitespace@181..182 " "
    BLOCK@182..300
      LBrace@182..183 "{"
      Whitespace@183..188 "\n    "
      STMT_LET@188..215
        LetKeyword@188..191 "let"
        Whitespace@191..192 " "
        PATTERN_VARIABLE@192..194
          Ident@192..193 "p"
          Whitespace@193..194 " "
        Eq@194..195 "="
        Whitespace@195..196 " "
        EXPR_CALL@196..209
          EXPR_IDENT@196..206
            PATH@196..206
              Ident@196..206 "make_point"
          ARG_LIST@206..209
            LParen@206..207 "("
            ARG@207..208
              EXPR_INT@207..208
                Int@207..208 "5"
            RParen@208..209 ")"
        Semi@209..210 ";"
        Whitespace@210..215 "\n    "
      STMT_LET@215..267
        LetKeyword@215..218 "let"
        Whitespace@218..219 " "
        PATTERN_VARIABLE@219..227
          Ident@219..226 "shifted"
          Whitespace@226..227 " "
        Eq@227..228 "="
        Whitespace@228..229 " "
        EXPR_STRUCT_LITERAL@229..261
          PATH@229..235
            Ident@229..234 "Point"
            Whitespace@234..235 " "
          STRUCT_LITERAL_FIELD_LIST@235..261
            LBrace@235..236 "{"
            Whitespace@236..237 " "
            STRUCT_LITERAL_FIELD@237..247
              Ident@237..238 "x"
              Colon@238..239 ":"
              Whitespace@239..240 " "
              EXPR_BINARY@240..247
                EXPR_BINARY@240..244
                  EXPR_IDENT@240..241
                    PATH@240..241
                      Ident@240..241 "p"
                  Dot@241..242 "."
                  EXPR_IDENT@242..244
                    PATH@242..244
                      Ident@242..243 "x"
                      Whitespace@243..244 " "
                Plus@244..245 "+"
                Whitespace@245..246 " "
                EXPR_INT@246..247
                  Int@246..247 "1"
            Comma@247..248 ","
            Whitespace@248..249 " "
            STRUCT_LITERAL_FIELD@249..260
              Ident@249..250 "y"
              Colon@250..251 ":"
              Whitespace@251..252 " "
              EXPR_BINARY@252..260
                EXPR_BINARY@252..256
                  EXPR_IDENT@252..253
                    PATH@252..253
                      Ident@252..253 "p"
                  Dot@253..254 "."
                  EXPR_IDENT@254..256
                    PATH@254..256
                      Ident@254..255 "y"
                      Whitespace@255..256 " "
                Minus@256..257 "-"
                Whitespace@257..258 " "
                EXPR_INT@258..260
                  Int@258..259 "2"
                  Whitespace@259..260 " "
            RBrace@260..261 "}"
        Semi@261..262 ";"
        Whitespace@262..267 "\n    "
      EXPR_BINARY@267..298
        EXPR_BINARY@267..277
          EXPR_IDENT@267..274
            PATH@267..274
              Ident@267..274 "shifted"
          Dot@274..275 "."
          EXPR_IDENT@275..277
            PATH@275..277
              Ident@275..276 "x"
              Whitespace@276..277 " "
        Plus@277..278 "+"
        Whitespace@278..279 " "
        EXPR_CALL@279..298
          EXPR_IDENT@279..288
            PATH@279..288
              Ident@279..288 "sum_point"
          ARG_LIST@288..298
            LParen@288..289 "("
            ARG@289..296
              EXPR_IDENT@289..296
                PATH@289..296
                  Ident@289..296 "shifted"
            RParen@296..297 ")"
            Whitespace@297..298 "\n"
      RBrace@298..299 "}"
      Whitespace@299..300 "\n"