FILE@0..851
  TRAIT@0..84
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..14 "Provider"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    TRAIT_METHOD_SIG_LIST@21..84
      TRAIT_ASSOCIATED_TYPE@21..47
        TypeKeyword@21..25 "type"
        Whitespace@25..26 " "
        Ident@26..30 "Item"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TRAIT_SET@32..40
          TYPE_TAPP@32..40
            PATH@32..40
              Ident@32..40 "ToString"
        Semi@40..41 ";"
        Whitespace@41..47 "\n\n    "
      TRAIT_METHOD_SIG@47..79
        FnKeyword@47..49 "fn"
        Whitespace@49..50 " "
        Ident@50..53 "get"
        PARAM_LIST@53..66
          LParen@53..54 "("
          PARAM@54..64
            Ident@54..58 "self"
            Colon@58..59 ":"
            Whitespace@59..60 " "
            TYPE_TAPP@60..64
              PATH@60..64
                Ident@60..64 "Self"
          RParen@64..65 ")"
          Whitespace@65..66 " "
        Arrow@66..68 "->"
        Whitespace@68..69 " "
        TYPE_TAPP@69..79
          PATH@69..79
            Ident@69..73 "Self"
            ColonColon@73..75 "::"
            Ident@75..79 "Item"
      Semi@79..80 ";"
      Whitespace@80..81 "\n"
      RBrace@81..82 "}"
      Whitespace@82..84 "\n\n"
  STRUCT@84..121
    StructKeyword@84..90 "struct"
    Whitespace@90..91 " "
    Ident@91..97 "Number"
    Whitespace@97..98 " "
    LBrace@98..99 "{"
    Whitespace@99..104 "\n    "
    STRUCT_FIELD_LIST@104..121
      STRUCT_FIELD@104..116
        Ident@104..109 "value"
        Colon@109..110 ":"
        Whitespace@110..111 " "
        TYPE_INT32@111..116
          Int32Keyword@111..116 "int32"
      Comma@116..117 ","
      Whitespace@117..118 "\n"
      RBrace@118..119 "}"
      Whitespace@119..121 "\n\n"
  STRUCT@121..154
    StructKeyword@121..127 "struct"
    Whitespace@127..128 " "
    Ident@128..131 "Box"
    GENERIC_LIST@131..135
      LBracket@131..132 "["
      GENERIC@132..133
        Ident@132..133 "T"
      RBracket@133..134 "]"
      Whitespace@134..135 " "
    LBrace@135..136 "{"
    Whitespace@136..141 "\n    "
    STRUCT_FIELD_LIST@141..154
      STRUCT_FIELD@141..149
        Ident@141..146 "value"
        Colon@146..147 ":"
        Whitespace@147..148 " "
        TYPE_TAPP@148..149
          PATH@148..149
            Ident@148..149 "T"
      Comma@149..150 ","
      Whitespace@150..151 "\n"
      RBrace@151..152 "}"
      Whitespace@152..154 "\n\n"
  IMPL@154..269
    ImplKeyword@154..158 "impl"
    Whitespace@158..159 " "
    TYPE_TAPP@159..168
      PATH@159..168
        Ident@159..167 "Provider"
        Whitespace@167..168 " "
    ForKeyword@168..171 "for"
    Whitespace@171..172 " "
    TYPE_TAPP@172..179
      PATH@172..179
        Ident@172..178 "Number"
        Whitespace@178..179 " "
    LBrace@179..180 "{"
    Whitespace@180..185 "\n    "
    IMPL_ASSOCIATED_TYPE@185..209
      TypeKeyword@185..189 "type"
      Whitespace@189..190 " "
      Ident@190..194 "Item"
      Whitespace@194..195 " "
      Eq@195..196 "="
      Whitespace@196..197 " "
      TYPE_INT32@197..202
        Int32Keyword@197..202 "int32"
      Semi@202..203 ";"
      Whitespace@203..209 "\n\n    "
    FN@209..266
      FnKeyword@209..211 "fn"
      Whitespace@211..212 " "
      Ident@212..215 "get"
      PARAM_LIST@215..230
        LParen@215..216 "("
        PARAM@216..228
          Ident@216..220 "self"
          Colon@220..221 ":"
          Whitespace@221..222 " "
          TYPE_TAPP@222..228
            PATH@222..228
              Ident@222..228 "Number"
        RParen@228..229 ")"
        Whitespace@229..230 " "
      Arrow@230..232 "->"
      Whitespace@232..233 " "
      TYPE_INT32@233..239
        Int32Keyword@233..238 "int32"
        Whitespace@238..239 " "
      BLOCK@239..266
        LBrace@239..240 "{"
        Whitespace@240..249 "\n        "
        EXPR_BINARY@249..264
          EXPR_IDENT@249..253
            PATH@249..253
              Ident@249..253 "self"
          Dot@253..254 "."
          EXPR_IDENT@254..264
            PATH@254..264
              Ident@254..259 "value"
              Whitespace@259..264 "\n    "
        RBrace@264..265 "}"
        Whitespace@265..266 "\n"
    RBrace@266..267 "}"
    Whitespace@267..269 "\n\n"
  IMPL@269..389
    ImplKeyword@269..273 "impl"
    GENERIC_LIST@273..287
      LBracket@273..274 "["
      GENERIC@274..285
        Ident@274..275 "T"
        Colon@275..276 ":"
        Whitespace@276..277 " "
        TRAIT_SET@277..285
          TYPE_TAPP@277..285
            PATH@277..285
              Ident@277..285 "ToString"
      RBracket@285..286 "]"
      Whitespace@286..287 " "
    TYPE_TAPP@287..296
      PATH@287..296
        Ident@287..295 "Provider"
        Whitespace@295..296 " "
    ForKeyword@296..299 "for"
    Whitespace@299..300 " "
    TYPE_TAPP@300..307
      PATH@300..303
        Ident@300..303 "Box"
      TYPE_PARAM_LIST@303..307
        LBracket@303..304 "["
        TYPE_TAPP@304..305
          PATH@304..305
            Ident@304..305 "T"
        RBracket@305..306 "]"
        Whitespace@306..307 " "
    LBrace@307..308 "{"
    Whitespace@308..313 "\n    "
    IMPL_ASSOCIATED_TYPE@313..333
      TypeKeyword@313..317 "type"
      Whitespace@317..318 " "
      Ident@318..322 "Item"
      Whitespace@322..323 " "
      Eq@323..324 "="
      Whitespace@324..325 " "
      TYPE_TAPP@325..326
        PATH@325..326
          Ident@325..326 "T"
      Semi@326..327 ";"
      Whitespace@327..333 "\n\n    "
    FN@333..386
      FnKeyword@333..335 "fn"
      Whitespace@335..336 " "
      Ident@336..339 "get"
      PARAM_LIST@339..354
        LParen@339..340 "("
        PARAM@340..352
          Ident@340..344 "self"
          Colon@344..345 ":"
          Whitespace@345..346 " "
          TYPE_TAPP@346..352
            PATH@346..349
              Ident@346..349 "Box"
            TYPE_PARAM_LIST@349..352
              LBracket@349..350 "["
              TYPE_TAPP@350..351
                PATH@350..351
                  Ident@350..351 "T"
              RBracket@351..352 "]"
        RParen@352..353 ")"
        Whitespace@353..354 " "
      Arrow@354..356 "->"
      Whitespace@356..357 " "
      TYPE_TAPP@357..359
        PATH@357..359
          Ident@357..358 "T"
          Whitespace@358..359 " "
      BLOCK@359..386
        LBrace@359..360 "{"
        Whitespace@360..369 "\n        "
        EXPR_BINARY@369..384
          EXPR_IDENT@369..373
            PATH@369..373
              Ident@369..373 "self"
          Dot@373..374 "."
          EXPR_IDENT@374..384
            PATH@374..384
              Ident@374..379 "value"
              Whitespace@379..384 "\n    "
        RBrace@384..385 "}"
        Whitespace@385..386 "\n"
    RBrace@386..387 "}"
    Whitespace@387..389 "\n\n"
  FN@389..458
    FnKeyword@389..391 "fn"
    Whitespace@391..392 " "
    Ident@392..396 "read"
    GENERIC_LIST@396..409
      LBracket@396..397 "["
      GENERIC@397..408
        Ident@397..398 "P"
        Colon@398..399 ":"
        Whitespace@399..400 " "
        TRAIT_SET@400..408
          TYPE_TAPP@400..408
            PATH@400..408
              Ident@400..408 "Provider"
      RBracket@408..409 "]"
    PARAM_LIST@409..423
      LParen@409..410 "("
      PARAM@410..421
        Ident@410..418 "provider"
        Colon@418..419 ":"
        Whitespace@419..420 " "
        TYPE_TAPP@420..421
          PATH@420..421
            Ident@420..421 "P"
      RParen@421..422 ")"
      Whitespace@422..423 " "
    Arrow@423..425 "->"
    Whitespace@425..426 " "
    TYPE_TAPP@426..434
      PATH@426..434
        Ident@426..427 "P"
        ColonColon@427..429 "::"
        Ident@429..433 "Item"
        Whitespace@433..434 " "
    BLOCK@434..458
      LBrace@434..435 "{"
      Whitespace@435..440 "\n    "
      EXPR_CALL@440..455
        EXPR_BINARY@440..452
          EXPR_IDENT@440..448
            PATH@440..448
              Ident@440..448 "provider"
          Dot@448..449 "."
          EXPR_IDENT@449..452
            PATH@449..452
              Ident@449..452 "get"
        ARG_LIST@452..455
          LParen@452..453 "("
          RParen@453..454 ")"
          Whitespace@454..455 "\n"
      RBrace@455..456 "}"
      Whitespace@456..458 "\n\n"
  FN@458..557
    FnKeyword@458..460 "fn"
    Whitespace@460..461 " "
    Ident@461..468 "read_as"
    GENERIC_LIST@468..474
      LBracket@468..469 "["
      GENERIC@469..470
        Ident@469..470 "P"
      Comma@470..471 ","
      Whitespace@471..472 " "
      GENERIC@472..473
        Ident@472..473 "T"
      RBracket@473..474 "]"
    PARAM_LIST@474..488
      LParen@474..475 "("
      PARAM@475..486
        Ident@475..483 "provider"
        Colon@483..484 ":"
        Whitespace@484..485 " "
        TYPE_TAPP@485..486
          PATH@485..486
            Ident@485..486 "P"
      RParen@486..487 ")"
      Whitespace@487..488 " "
    Arrow@488..490 "->"
    Whitespace@490..491 " "
    TYPE_TAPP@491..493
      PATH@491..493
        Ident@491..492 "T"
        Whitespace@492..493 "\n"
    WHERE_CLAUSE@493..533
      WhereKeyword@493..498 "where"
      Whitespace@498..503 "\n    "
      WHERE_PREDICATE@503..514
        TYPE_TAPP@503..504
          PATH@503..504
            Ident@503..504 "P"
        Colon@504..505 ":"
        Whitespace@505..506 " "
        TRAIT_SET@506..514
          TYPE_TAPP@506..514
            PATH@506..514
              Ident@506..514 "Provider"
      Comma@514..515 ","
      Whitespace@515..520 "\n    "
      WHERE_PREDICATE@520..531
        TYPE_TAPP@520..528
          PATH@520..528
            Ident@520..521 "P"
            ColonColon@521..523 "::"
            Ident@523..527 "Item"
            Whitespace@527..528 " "
        Eq@528..529 "="
        Whitespace@529..530 " "
        TYPE_TAPP@530..531
          PATH@530..531
            Ident@530..531 "T"
      Comma@531..532 ","
      Whitespace@532..533 "\n"
    BLOCK@533..557
      LBrace@533..534 "{"
      Whitespace@534..539 "\n    "
      EXPR_CALL@539..554
        EXPR_BINARY@539..551
          EXPR_IDENT@539..547
            PATH@539..547
              Ident@539..547 "provider"
          Dot@547..548 "."
          EXPR_IDENT@548..551
            PATH@548..551
              Ident@548..551 "get"
        ARG_LIST@551..554
          LParen@551..552 "("
          RParen@552..553 ")"
          Whitespace@553..554 "\n"
      RBrace@554..555 "}"
      Whitespace@555..557 "\n\n"
  FN@557..851
    FnKeyword@557..559 "fn"
    Whitespace@559..560 " "
    Ident@560..564 "main"
    PARAM_LIST@564..567
      LParen@564..565 "("
      RParen@565..566 ")"
      Whitespace@566..567 " "
    Arrow@567..569 "->"
    Whitespace@569..570 " "
    TYPE_UNIT@570..575
      UnitKeyword@570..574 "unit"
      Whitespace@574..575 " "
    BLOCK@575..851
      LBrace@575..576 "{"
      Whitespace@576..581 "\n    "
      STMT_EXPR@581..641
        EXPR_CALL@581..635
          EXPR_IDENT@581..595
            PATH@581..595
              Ident@581..595 "string_println"
          ARG_LIST@595..635
            LParen@595..596 "("
            ARG@596..634
              EXPR_CALL@596..634
                EXPR_BINARY@596..632
                  EXPR_CALL@596..622
                    EXPR_IDENT@596..600
                      PATH@596..600
                        Ident@596..600 "read"
                    ARG_LIST@600..622
                      LParen@600..601 "("
                      ARG@601..621
                        EXPR_STRUCT_LITERAL@601..621
                          PATH@601..608
                            Ident@601..607 "Number"
                            Whitespace@607..608 " "
                          STRUCT_LITERAL_FIELD_LIST@608..621
                            LBrace@608..609 "{"
                            Whitespace@609..610 " "
                            STRUCT_LITERAL_FIELD@610..620
                              Ident@610..615 "value"
                              Colon@615..616 ":"
                              Whitespace@616..617 " "
                              EXPR_INT@617..620
                                Int@617..619 "42"
                                Whitespace@619..620 " "
                            RBrace@620..621 "}"
                      RParen@621..622 ")"
                  Dot@622..623 "."
                  EXPR_IDENT@623..632
                    PATH@623..632
                      Ident@623..632 "to_string"
                ARG_LIST@632..634
                  LParen@632..633 "("
                  RParen@633..634 ")"
            RParen@634..635 ")"
        Semi@635..636 ";"
        Whitespace@636..641 "\n    "
      STMT_LET@641..694
        LetKeyword@641..644 "let"
        Whitespace@644..645 " "
        PATTERN_VARIABLE@645..650
          Ident@645..650 "value"
        Colon@650..651 ":"
        Whitespace@651..652 " "
        TYPE_INT32@652..658
          Int32Keyword@652..657 "int32"
          Whitespace@657..658 " "
        Eq@658..659 "="
        Whitespace@659..660 " "
        EXPR_CALL@660..688
          EXPR_IDENT@660..667
            PATH@660..667
              Ident@660..667 "read_as"
          ARG_LIST@667..688
            LParen@667..668 "("
            ARG@668..687
              EXPR_STRUCT_LITERAL@668..687
                PATH@668..675
                  Ident@668..674 "Number"
                  Whitespace@674..675 " "
                STRUCT_LITERAL_FIELD_LIST@675..687
                  LBrace@675..676 "{"
                  Whitespace@676..677 " "
                  STRUCT_LITERAL_FIELD@677..686
                    Ident@677..682 "value"
                    Colon@682..683 ":"
                    Whitespace@683..684 " "
                    EXPR_INT@684..686
                      Int@684..685 "7"
                      Whitespace@685..686 " "
                  RBrace@686..687 "}"
            RParen@687..688 ")"
        Semi@688..689 ";"
        Whitespace@689..694 "\n    "
      STMT_EXPR@694..733
        EXPR_CALL@694..727
          EXPR_IDENT@694..708
            PATH@694..708
              Ident@694..708 "string_println"
          ARG_LIST@708..727
            LParen@708..709 "("
            ARG@709..726
              EXPR_CALL@709..726
                EXPR_BINARY@709..724
                  EXPR_IDENT@709..714
                    PATH@709..714
                      Ident@709..714 "value"
                  Dot@714..715 "."
                  EXPR_IDENT@715..724
                    PATH@715..724
                      Ident@715..724 "to_string"
                ARG_LIST@724..726
                  LParen@724..725 "("
                  RParen@725..726 ")"
            RParen@726..727 ")"
        Semi@727..728 ";"
        Whitespace@728..733 "\n    "
      STMT_EXPR@733..785
        EXPR_CALL@733..779
          EXPR_IDENT@733..747
            PATH@733..747
              Ident@733..747 "string_println"
          ARG_LIST@747..779
            LParen@747..748 "("
            ARG@748..778
              EXPR_CALL@748..778
                EXPR_IDENT@748..752
                  PATH@748..752
                    Ident@748..752 "read"
                ARG_LIST@752..778
                  LParen@752..753 "("
                  ARG@753..777
                    EXPR_STRUCT_LITERAL@753..777
                      PATH@753..757
                        Ident@753..756 "Box"
                        Whitespace@756..757 " "
                      STRUCT_LITERAL_FIELD_LIST@757..777
                        LBrace@757..758 "{"
                        Whitespace@758..759 " "
                        STRUCT_LITERAL_FIELD@759..776
                          Ident@759..764 "value"
                          Colon@764..765 ":"
                          Whitespace@765..766 " "
                          EXPR_STR@766..776
                            Str@766..775 "\"generic\""
                            Whitespace@775..776 " "
                        RBrace@776..777 "}"
                  RParen@777..778 ")"
            RParen@778..779 ")"
        Semi@779..780 ";"
        Whitespace@780..785 "\n    "
      EXPR_CALL@785..849
        EXPR_IDENT@785..799
          PATH@785..799
            Ident@785..799 "string_println"
        ARG_LIST@799..849
          LParen@799..800 "("
          ARG@800..847
            EXPR_CALL@800..847
              EXPR_BINARY@800..845
                EXPR_CALL@800..835
                  EXPR_IDENT@800..813
                    PATH@800..813
                      Ident@800..808 "Provider"
                      ColonColon@808..810 "::"
                      Ident@810..813 "get"
                  ARG_LIST@813..835
                    LParen@813..814 "("
                    ARG@814..834
                      EXPR_STRUCT_LITERAL@814..834
                        PATH@814..821
                          Ident@814..820 "Number"
                          Whitespace@820..821 " "
                        STRUCT_LITERAL_FIELD_LIST@821..834
                          LBrace@821..822 "{"
                          Whitespace@822..823 " "
                          STRUCT_LITERAL_FIELD@823..833
                            Ident@823..828 "value"
                            Colon@828..829 ":"
                            Whitespace@829..830 " "
                            EXPR_INT@830..833
                              Int@830..832 "11"
                              Whitespace@832..833 " "
                          RBrace@833..834 "}"
                    RParen@834..835 ")"
                Dot@835..836 "."
                EXPR_IDENT@836..845
                  PATH@836..845
                    Ident@836..845 "to_string"
              ARG_LIST@845..847
                LParen@845..846 "("
                RParen@846..847 ")"
          RParen@847..848 ")"
          Whitespace@848..849 "\n"
      RBrace@849..850 "}"
      Whitespace@850..851 "\n"