FILE@0..832
  TRAIT@0..49
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..49
      TRAIT_METHOD_SIG@19..44
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "render"
        TYPE_LIST@28..35
          LParen@28..29 "("
          TYPE_TAPP@29..33
            PATH@29..33
              Ident@29..33 "Self"
          RParen@33..34 ")"
          Whitespace@34..35 " "
        Arrow@35..37 "->"
        Whitespace@37..38 " "
        TYPE_STRING@38..44
          StringKeyword@38..44 "string"
      Semi@44..45 ";"
      Whitespace@45..46 "\n"
      RBrace@46..47 "}"
      Whitespace@47..49 "\n\n"
  TRAIT@49..102
    TraitKeyword@49..54 "trait"
    Whitespace@54..55 " "
    Ident@55..63 "Selected"
    Whitespace@63..64 " "
    LBrace@64..65 "{"
    Whitespace@65..70 "\n    "
    TRAIT_METHOD_SIG_LIST@70..102
      TRAIT_METHOD_SIG@70..97
        FnKeyword@70..72 "fn"
        Whitespace@72..73 " "
        Ident@73..81 "selected"
        TYPE_LIST@81..88
          LParen@81..82 "("
          TYPE_TAPP@82..86
            PATH@82..86
              Ident@82..86 "Self"
          RParen@86..87 ")"
          Whitespace@87..88 " "
        Arrow@88..90 "->"
        Whitespace@90..91 " "
        TYPE_STRING@91..97
          StringKeyword@91..97 "string"
      Semi@97..98 ";"
      Whitespace@98..99 "\n"
      RBrace@99..100 "}"
      Whitespace@100..102 "\n\n"
  STRUCT@102..136
    StructKeyword@102..108 "struct"
    Whitespace@108..109 " "
    Ident@109..113 "Wrap"
    GENERIC_LIST@113..117
      LBracket@113..114 "["
      GENERIC@114..115
        Ident@114..115 "T"
      RBracket@115..116 "]"
      Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    STRUCT_FIELD_LIST@123..136
      STRUCT_FIELD@123..131
        Ident@123..128 "value"
        Colon@128..129 ":"
        Whitespace@129..130 " "
        TYPE_TAPP@130..131
          PATH@130..131
            Ident@130..131 "T"
      Comma@131..132 ","
      Whitespace@132..133 "\n"
      RBrace@133..134 "}"
      Whitespace@134..136 "\n\n"
  IMPL@136..260
    ImplKeyword@136..140 "impl"
    Whitespace@140..141 " "
    TYPE_TAPP@141..148
      PATH@141..148
        Ident@141..147 "Render"
        Whitespace@147..148 " "
    ForKeyword@148..151 "for"
    Whitespace@151..152 " "
    TYPE_TAPP@152..163
      PATH@152..155
        Ident@152..155 "Vec"
      TYPE_PARAM_LIST@155..163
        LBracket@155..156 "["
        TYPE_INT32@156..161
          Int32Keyword@156..161 "int32"
        RBracket@161..162 "]"
        Whitespace@162..163 " "
    LBrace@163..164 "{"
    Whitespace@164..169 "\n    "
    FN@169..257
      FnKeyword@169..171 "fn"
      Whitespace@171..172 " "
      Ident@172..178 "render"
      PARAM_LIST@178..197
        LParen@178..179 "("
        PARAM@179..195
          Ident@179..183 "self"
          Colon@183..184 ":"
          Whitespace@184..185 " "
          TYPE_TAPP@185..195
            PATH@185..188
              Ident@185..188 "Vec"
            TYPE_PARAM_LIST@188..195
              LBracket@188..189 "["
              TYPE_INT32@189..194
                Int32Keyword@189..194 "int32"
              RBracket@194..195 "]"
        RParen@195..196 ")"
        Whitespace@196..197 " "
      Arrow@197..199 "->"
      Whitespace@199..200 " "
      TYPE_STRING@200..207
        StringKeyword@200..206 "string"
        Whitespace@206..207 " "
      BLOCK@207..257
        LBrace@207..208 "{"
        Whitespace@208..217 "\n        "
        EXPR_BINARY@217..255
          EXPR_STR@217..226
            Str@217..225 "\"items=\""
            Whitespace@225..226 " "
          Plus@226..227 "+"
          Whitespace@227..228 " "
          EXPR_CALL@228..255
            EXPR_BINARY@228..248
              EXPR_CALL@228..238
                EXPR_BINARY@228..236
                  EXPR_IDENT@228..232
                    PATH@228..232
                      Ident@228..232 "self"
                  Dot@232..233 "."
                  EXPR_IDENT@233..236
                    PATH@233..236
                      Ident@233..236 "len"
                ARG_LIST@236..238
                  LParen@236..237 "("
                  RParen@237..238 ")"
              Dot@238..239 "."
              EXPR_IDENT@239..248
                PATH@239..248
                  Ident@239..248 "to_string"
            ARG_LIST@248..255
              LParen@248..249 "("
              RParen@249..250 ")"
              Whitespace@250..255 "\n    "
        RBrace@255..256 "}"
        Whitespace@256..257 "\n"
    RBrace@257..258 "}"
    Whitespace@258..260 "\n\n"
  IMPL@260..383
    ImplKeyword@260..264 "impl"
    GENERIC_LIST@264..268
      LBracket@264..265 "["
      GENERIC@265..266
        Ident@265..266 "T"
      RBracket@266..267 "]"
      Whitespace@267..268 " "
    TYPE_TAPP@268..277
      PATH@268..277
        Ident@268..276 "Selected"
        Whitespace@276..277 " "
    ForKeyword@277..280 "for"
    Whitespace@280..281 " "
    TYPE_TAPP@281..289
      PATH@281..285
        Ident@281..285 "Wrap"
      TYPE_PARAM_LIST@285..289
        LBracket@285..286 "["
        TYPE_TAPP@286..287
          PATH@286..287
            Ident@286..287 "T"
        RBracket@287..288 "]"
        Whitespace@288..289 " "
    WHERE_CLAUSE@289..310
      WhereKeyword@289..294 "where"
      Whitespace@294..295 " "
      WHERE_PREDICATE@295..310
        TYPE_TAPP@295..301
          PATH@295..298
            Ident@295..298 "Vec"
          TYPE_PARAM_LIST@298..301
            LBracket@298..299 "["
            TYPE_TAPP@299..300
              PATH@299..300
                Ident@299..300 "T"
            RBracket@300..301 "]"
        Colon@301..302 ":"
        Whitespace@302..303 " "
        TRAIT_SET@303..310
          TYPE_TAPP@303..310
            PATH@303..310
              Ident@303..309 "Render"
              Whitespace@309..310 " "
    LBrace@310..311 "{"
    Whitespace@311..316 "\n    "
    FN@316..380
      FnKeyword@316..318 "fn"
      Whitespace@318..319 " "
      Ident@319..327 "selected"
      PARAM_LIST@327..343
        LParen@327..328 "("
        PARAM@328..341
          Ident@328..332 "self"
          Colon@332..333 ":"
          Whitespace@333..334 " "
          TYPE_TAPP@334..341
            PATH@334..338
              Ident@334..338 "Wrap"
            TYPE_PARAM_LIST@338..341
              LBracket@338..339 "["
              TYPE_TAPP@339..340
                PATH@339..340
                  Ident@339..340 "T"
              RBracket@340..341 "]"
        RParen@341..342 ")"
        Whitespace@342..343 " "
      Arrow@343..345 "->"
      Whitespace@345..346 " "
      TYPE_STRING@346..353
        StringKeyword@346..352 "string"
        Whitespace@352..353 " "
      BLOCK@353..380
        LBrace@353..354 "{"
        Whitespace@354..363 "\n        "
        EXPR_STR@363..378
          Str@363..373 "\"selected\""
          Whitespace@373..378 "\n    "
        RBrace@378..379 "}"
        Whitespace@379..380 "\n"
    RBrace@380..381 "}"
    Whitespace@381..383 "\n\n"
  FN@383..472
    FnKeyword@383..385 "fn"
    Whitespace@385..386 " "
    Ident@386..396 "render_all"
    GENERIC_LIST@396..399
      LBracket@396..397 "["
      GENERIC@397..398
        Ident@397..398 "T"
      RBracket@398..399 "]"
    PARAM_LIST@399..416
      LParen@399..400 "("
      PARAM@400..414
        Ident@400..406 "values"
        Colon@406..407 ":"
        Whitespace@407..408 " "
        TYPE_TAPP@408..414
          PATH@408..411
            Ident@408..411 "Vec"
          TYPE_PARAM_LIST@411..414
            LBracket@411..412 "["
            TYPE_TAPP@412..413
              PATH@412..413
                Ident@412..413 "T"
            RBracket@413..414 "]"
      RParen@414..415 ")"
      Whitespace@415..416 " "
    Arrow@416..418 "->"
    Whitespace@418..419 " "
    TYPE_STRING@419..426
      StringKeyword@419..425 "string"
      Whitespace@425..426 " "
    WHERE_CLAUSE@426..447
      WhereKeyword@426..431 "where"
      Whitespace@431..432 " "
      WHERE_PREDICATE@432..447
        TYPE_TAPP@432..438
          PATH@432..435
            Ident@432..435 "Vec"
          TYPE_PARAM_LIST@435..438
            LBracket@435..436 "["
            TYPE_TAPP@436..437
              PATH@436..437
                Ident@436..437 "T"
            RBracket@437..438 "]"
        Colon@438..439 ":"
        Whitespace@439..440 " "
        TRAIT_SET@440..447
          TYPE_TAPP@440..447
            PATH@440..447
              Ident@440..446 "Render"
              Whitespace@446..447 " "
    BLOCK@447..472
      LBrace@447..448 "{"
      Whitespace@448..453 "\n    "
      EXPR_CALL@453..469
        EXPR_BINARY@453..466
          EXPR_IDENT@453..459
            PATH@453..459
              Ident@453..459 "values"
          Dot@459..460 "."
          EXPR_IDENT@460..466
            PATH@460..466
              Ident@460..466 "render"
        ARG_LIST@466..469
          LParen@466..467 "("
          RParen@467..468 ")"
          Whitespace@468..469 "\n"
      RBrace@469..470 "}"
      Whitespace@470..472 "\n\n"
  FN@472..529
    FnKeyword@472..474 "fn"
    Whitespace@474..475 " "
    Ident@475..479 "same"
    GENERIC_LIST@479..485
      LBracket@479..480 "["
      GENERIC@480..481
        Ident@480..481 "T"
      Comma@481..482 ","
      Whitespace@482..483 " "
      GENERIC@483..484
        Ident@483..484 "U"
      RBracket@484..485 "]"
    PARAM_LIST@485..496
      LParen@485..486 "("
      PARAM@486..494
        Ident@486..491 "value"
        Colon@491..492 ":"
        Whitespace@492..493 " "
        TYPE_TAPP@493..494
          PATH@493..494
            Ident@493..494 "T"
      RParen@494..495 ")"
      Whitespace@495..496 " "
    Arrow@496..498 "->"
    Whitespace@498..499 " "
    TYPE_TAPP@499..501
      PATH@499..501
        Ident@499..500 "U"
        Whitespace@500..501 " "
    WHERE_CLAUSE@501..514
      WhereKeyword@501..506 "where"
      Whitespace@506..507 " "
      WHERE_PREDICATE@507..514
        TYPE_TAPP@507..509
          PATH@507..509
            Ident@507..508 "T"
            Whitespace@508..509 " "
        EqEq@509..511 "=="
        Whitespace@511..512 " "
        TYPE_TAPP@512..514
          PATH@512..514
            Ident@512..513 "U"
            Whitespace@513..514 " "
    BLOCK@514..529
      LBrace@514..515 "{"
      Whitespace@515..520 "\n    "
      EXPR_IDENT@520..526
        PATH@520..526
          Ident@520..525 "value"
          Whitespace@525..526 "\n"
      RBrace@526..527 "}"
      Whitespace@527..529 "\n\n"
  FN@529..599
    FnKeyword@529..531 "fn"
    Whitespace@531..532 " "
    Ident@532..539 "require"
    GENERIC_LIST@539..552
      LBracket@539..540 "["
      GENERIC@540..551
        Ident@540..541 "T"
        Colon@541..542 ":"
        Whitespace@542..543 " "
        TRAIT_SET@543..551
          TYPE_TAPP@543..551
            PATH@543..551
              Ident@543..551 "Selected"
      RBracket@551..552 "]"
    PARAM_LIST@552..563
      LParen@552..553 "("
      PARAM@553..561
        Ident@553..558 "value"
        Colon@558..559 ":"
        Whitespace@559..560 " "
        TYPE_TAPP@560..561
          PATH@560..561
            Ident@560..561 "T"
      RParen@561..562 ")"
      Whitespace@562..563 " "
    Arrow@563..565 "->"
    Whitespace@565..566 " "
    TYPE_STRING@566..573
      StringKeyword@566..572 "string"
      Whitespace@572..573 " "
    BLOCK@573..599
      LBrace@573..574 "{"
      Whitespace@574..579 "\n    "
      EXPR_CALL@579..596
        EXPR_BINARY@579..593
          EXPR_IDENT@579..584
            PATH@579..584
              Ident@579..584 "value"
          Dot@584..585 "."
          EXPR_IDENT@585..593
            PATH@585..593
              Ident@585..593 "selected"
        ARG_LIST@593..596
          LParen@593..594 "("
          RParen@594..595 ")"
          Whitespace@595..596 "\n"
      RBrace@596..597 "}"
      Whitespace@597..599 "\n\n"
  FN@599..832
    FnKeyword@599..601 "fn"
    Whitespace@601..602 " "
    Ident@602..606 "main"
    PARAM_LIST@606..609
      LParen@606..607 "("
      RParen@607..608 ")"
      Whitespace@608..609 " "
    Arrow@609..611 "->"
    Whitespace@611..612 " "
    TYPE_UNIT@612..617
      UnitKeyword@612..616 "unit"
      Whitespace@616..617 " "
    BLOCK@617..832
      LBrace@617..618 "{"
      Whitespace@618..623 "\n    "
      STMT_LET@623..663
        LetKeyword@623..626 "let"
        Whitespace@626..627 " "
        PATTERN_VARIABLE@627..633
          Ident@627..633 "values"
        Colon@633..634 ":"
        Whitespace@634..635 " "
        TYPE_TAPP@635..646
          PATH@635..638
            Ident@635..638 "Vec"
          TYPE_PARAM_LIST@638..646
            LBracket@638..639 "["
            TYPE_INT32@639..644
              Int32Keyword@639..644 "int32"
            RBracket@644..645 "]"
            Whitespace@645..646 " "
        Eq@646..647 "="
        Whitespace@647..648 " "
        EXPR_CALL@648..657
          EXPR_IDENT@648..655
            PATH@648..655
              Ident@648..655 "vec_new"
          ARG_LIST@655..657
            LParen@655..656 "("
            RParen@656..657 ")"
        Semi@657..658 ";"
        Whitespace@658..663 "\n    "
      STMT_EXPR@663..683
        EXPR_CALL@663..677
          EXPR_BINARY@663..674
            EXPR_IDENT@663..669
              PATH@663..669
                Ident@663..669 "values"
            Dot@669..670 "."
            EXPR_IDENT@670..674
              PATH@670..674
                Ident@670..674 "push"
          ARG_LIST@674..677
            LParen@674..675 "("
            ARG@675..676
              EXPR_INT@675..676
                Int@675..676 "1"
            RParen@676..677 ")"
        Semi@677..678 ";"
        Whitespace@678..683 "\n    "
      STMT_EXPR@683..703
        EXPR_CALL@683..697
          EXPR_BINARY@683..694
            EXPR_IDENT@683..689
              PATH@683..689
                Ident@683..689 "values"
            Dot@689..690 "."
            EXPR_IDENT@690..694
              PATH@690..694
                Ident@690..694 "push"
          ARG_LIST@694..697
            LParen@694..695 "("
            ARG@695..696
              EXPR_INT@695..696
                Int@695..696 "2"
            RParen@696..697 ")"
        Semi@697..698 ";"
        Whitespace@698..703 "\n    "
      STMT_EXPR@703..736
        EXPR_CALL@703..730
          EXPR_IDENT@703..710
            PATH@703..710
              Ident@703..710 "println"
          ARG_LIST@710..730
            LParen@710..711 "("
            ARG@711..729
              EXPR_CALL@711..729
                EXPR_IDENT@711..721
                  PATH@711..721
                    Ident@711..721 "render_all"
                ARG_LIST@721..729
                  LParen@721..722 "("
                  ARG@722..728
                    EXPR_IDENT@722..728
                      PATH@722..728
                        Ident@722..728 "values"
                  RParen@728..729 ")"
            RParen@729..730 ")"
        Semi@730..731 ";"
        Whitespace@731..736 "\n    "
      STMT_LET@736..774
        LetKeyword@736..739 "let"
        Whitespace@739..740 " "
        PATTERN_VARIABLE@740..744
          Ident@740..744 "text"
        Colon@744..745 ":"
        Whitespace@745..746 " "
        TYPE_STRING@746..753
          StringKeyword@746..752 "string"
          Whitespace@752..753 " "
        Eq@753..754 "="
        Whitespace@754..755 " "
        EXPR_CALL@755..768
          EXPR_IDENT@755..759
            PATH@755..759
              Ident@755..759 "same"
          ARG_LIST@759..768
            LParen@759..760 "("
            ARG@760..767
              EXPR_STR@760..767
                Str@760..767 "\"equal\""
            RParen@767..768 ")"
        Semi@768..769 ";"
        Whitespace@769..774 "\n    "
      STMT_EXPR@774..793
        EXPR_CALL@774..787
          EXPR_IDENT@774..781
            PATH@774..781
              Ident@774..781 "println"
          ARG_LIST@781..787
            LParen@781..782 "("
            ARG@782..786
              EXPR_IDENT@782..786
                PATH@782..786
                  Ident@782..786 "text"
            RParen@786..787 ")"
        Semi@787..788 ";"
        Whitespace@788..793 "\n    "
      STMT_EXPR@793..830
        EXPR_CALL@793..828
          EXPR_IDENT@793..800
            PATH@793..800
              Ident@793..800 "println"
          ARG_LIST@800..828
            LParen@800..801 "("
            ARG@801..827
              EXPR_CALL@801..827
                EXPR_IDENT@801..808
                  PATH@801..808
                    Ident@801..808 "require"
                ARG_LIST@808..827
                  LParen@808..809 "("
                  ARG@809..826
                    EXPR_STRUCT_LITERAL@809..826
                      PATH@809..814
                        Ident@809..813 "Wrap"
                        Whitespace@813..814 " "
                      STRUCT_LITERAL_FIELD_LIST@814..826
                        LBrace@814..815 "{"
                        Whitespace@815..816 " "
                        STRUCT_LITERAL_FIELD@816..825
                          Ident@816..821 "value"
                          Colon@821..822 ":"
                          Whitespace@822..823 " "
                          EXPR_INT@823..825
                            Int@823..824 "7"
                            Whitespace@824..825 " "
                        RBrace@825..826 "}"
                  RParen@826..827 ")"
            RParen@827..828 ")"
        Semi@828..829 ";"
        Whitespace@829..830 "\n"
      RBrace@830..831 "}"
      Whitespace@831..832 "\n"