FILE@0..2176
  STRUCT@0..18
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..13 "Marker"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    STRUCT_FIELD_LIST@15..18
      RBrace@15..16 "}"
      Whitespace@16..18 "\n\n"
  ENUM@18..92
    EnumKeyword@18..22 "enum"
    Whitespace@22..23 " "
    Ident@23..29 "Shared"
    Whitespace@29..30 " "
    LBrace@30..31 "{"
    Whitespace@31..36 "\n    "
    VARIANT_LIST@36..92
      VARIANT@36..45
        Ident@36..41 "First"
        TYPE_LIST@41..45
          LParen@41..42 "("
          ENUM_TUPLE_FIELD@42..44
            TYPE_UINT8@42..44
              U8Keyword@42..44 "u8"
          RParen@44..45 ")"
      Comma@45..46 ","
      Whitespace@46..51 "\n    "
      VARIANT@51..61
        Ident@51..57 "Second"
        TYPE_LIST@57..61
          LParen@57..58 "("
          ENUM_TUPLE_FIELD@58..60
            TYPE_UINT8@58..60
              U8Keyword@58..60 "u8"
          RParen@60..61 ")"
      Comma@61..62 ","
      Whitespace@62..67 "\n    "
      VARIANT@67..76
        Ident@67..71 "Wide"
        TYPE_LIST@71..76
          LParen@71..72 "("
          ENUM_TUPLE_FIELD@72..75
            TYPE_UINT16@72..75
              U16Keyword@72..75 "u16"
          RParen@75..76 ")"
      Comma@76..77 ","
      Whitespace@77..82 "\n    "
      VARIANT@82..87
        Ident@82..87 "Empty"
      Comma@87..88 ","
      Whitespace@88..89 "\n"
      RBrace@89..90 "}"
      Whitespace@90..92 "\n\n"
  ENUM@92..156
    EnumKeyword@92..96 "enum"
    Whitespace@96..97 " "
    Ident@97..106 "ZeroSized"
    Whitespace@106..107 " "
    LBrace@107..108 "{"
    Whitespace@108..113 "\n    "
    VARIANT_LIST@113..156
      VARIANT@113..132
        Ident@113..124 "MarkerValue"
        TYPE_LIST@124..132
          LParen@124..125 "("
          ENUM_TUPLE_FIELD@125..131
            TYPE_TAPP@125..131
              PATH@125..131
                Ident@125..131 "Marker"
          RParen@131..132 ")"
      Comma@132..133 ","
      Whitespace@133..138 "\n    "
      VARIANT@138..151
        Ident@138..147 "UnitValue"
        TYPE_LIST@147..151
          LParen@147..148 "("
          ENUM_TUPLE_FIELD@148..150
            TYPE_TUPLE@148..150
              TYPE_LIST@148..150
                LParen@148..149 "("
                RParen@149..150 ")"
          RParen@150..151 ")"
      Comma@151..152 ","
      Whitespace@152..153 "\n"
      RBrace@153..154 "}"
      Whitespace@154..156 "\n\n"
  ENUM@156..200
    EnumKeyword@156..160 "enum"
    Whitespace@160..161 " "
    Ident@161..170 "MaybeByte"
    Whitespace@170..171 " "
    LBrace@171..172 "{"
    Whitespace@172..177 "\n    "
    VARIANT_LIST@177..200
      VARIANT@177..181
        Ident@177..181 "None"
      Comma@181..182 ","
      Whitespace@182..187 "\n    "
      VARIANT@187..195
        Ident@187..191 "Some"
        TYPE_LIST@191..195
          LParen@191..192 "("
          ENUM_TUPLE_FIELD@192..194
            TYPE_UINT8@192..194
              U8Keyword@192..194 "u8"
          RParen@194..195 ")"
      Comma@195..196 ","
      Whitespace@196..197 "\n"
      RBrace@197..198 "}"
      Whitespace@198..200 "\n\n"
  ENUM@200..247
    EnumKeyword@200..204 "enum"
    Whitespace@204..205 " "
    Ident@205..216 "MaybeSigned"
    Whitespace@216..217 " "
    LBrace@217..218 "{"
    Whitespace@218..223 "\n    "
    VARIANT_LIST@223..247
      VARIANT@223..227
        Ident@223..227 "None"
      Comma@227..228 ","
      Whitespace@228..233 "\n    "
      VARIANT@233..242
        Ident@233..237 "Some"
        TYPE_LIST@237..242
          LParen@237..238 "("
          ENUM_TUPLE_FIELD@238..241
            TYPE_INT32@238..241
              I32Keyword@238..241 "i32"
          RParen@241..242 ")"
      Comma@242..243 ","
      Whitespace@243..244 "\n"
      RBrace@244..245 "}"
      Whitespace@245..247 "\n\n"
  ENUM@247..296
    EnumKeyword@247..251 "enum"
    Whitespace@251..252 " "
    Ident@252..260 "MaybeVec"
    Whitespace@260..261 " "
    LBrace@261..262 "{"
    Whitespace@262..267 "\n    "
    VARIANT_LIST@267..296
      VARIANT@267..271
        Ident@267..271 "None"
      Comma@271..272 ","
      Whitespace@272..277 "\n    "
      VARIANT@277..291
        Ident@277..281 "Some"
        TYPE_LIST@281..291
          LParen@281..282 "("
          ENUM_TUPLE_FIELD@282..290
            TYPE_TAPP@282..290
              PATH@282..285
                Ident@282..285 "Vec"
              TYPE_PARAM_LIST@285..290
                LBracket@285..286 "["
                TYPE_INT32@286..289
                  I32Keyword@286..289 "i32"
                RBracket@289..290 "]"
          RParen@290..291 ")"
      Comma@291..292 ","
      Whitespace@292..293 "\n"
      RBrace@293..294 "}"
      Whitespace@294..296 "\n\n"
  ENUM@296..339
    EnumKeyword@296..300 "enum"
    Whitespace@300..301 " "
    Ident@301..306 "Outer"
    Whitespace@306..307 " "
    LBrace@307..308 "{"
    Whitespace@308..313 "\n    "
    VARIANT_LIST@313..339
      VARIANT@313..317
        Ident@313..317 "None"
      Comma@317..318 ","
      Whitespace@318..323 "\n    "
      VARIANT@323..334
        Ident@323..327 "Some"
        TYPE_LIST@327..334
          LParen@327..328 "("
          ENUM_TUPLE_FIELD@328..333
            TYPE_TAPP@328..333
              PATH@328..333
                Ident@328..333 "Inner"
          RParen@333..334 ")"
      Comma@334..335 ","
      Whitespace@335..336 "\n"
      RBrace@336..337 "}"
      Whitespace@337..339 "\n\n"
  ENUM@339..384
    EnumKeyword@339..343 "enum"
    Whitespace@343..344 " "
    Ident@344..349 "Inner"
    Whitespace@349..350 " "
    LBrace@350..351 "{"
    Whitespace@351..356 "\n    "
    VARIANT_LIST@356..384
      VARIANT@356..364
        Ident@356..360 "Left"
        TYPE_LIST@360..364
          LParen@360..361 "("
          ENUM_TUPLE_FIELD@361..363
            TYPE_UINT8@361..363
              U8Keyword@361..363 "u8"
          RParen@363..364 ")"
      Comma@364..365 ","
      Whitespace@365..370 "\n    "
      VARIANT@370..379
        Ident@370..375 "Right"
        TYPE_LIST@375..379
          LParen@375..376 "("
          ENUM_TUPLE_FIELD@376..378
            TYPE_UINT8@376..378
              U8Keyword@376..378 "u8"
          RParen@378..379 ")"
      Comma@379..380 ","
      Whitespace@380..381 "\n"
      RBrace@381..382 "}"
      Whitespace@382..384 "\n\n"
  ENUM@384..429
    EnumKeyword@384..388 "enum"
    Whitespace@388..389 " "
    Ident@389..393 "List"
    Whitespace@393..394 " "
    LBrace@394..395 "{"
    Whitespace@395..400 "\n    "
    VARIANT_LIST@400..429
      VARIANT@400..403
        Ident@400..403 "Nil"
      Comma@403..404 ","
      Whitespace@404..409 "\n    "
      VARIANT@409..424
        Ident@409..413 "Cons"
        TYPE_LIST@413..424
          LParen@413..414 "("
          ENUM_TUPLE_FIELD@414..417
            TYPE_INT32@414..417
              I32Keyword@414..417 "i32"
          Comma@417..418 ","
          Whitespace@418..419 " "
          ENUM_TUPLE_FIELD@419..423
            TYPE_TAPP@419..423
              PATH@419..423
                Ident@419..423 "List"
          RParen@423..424 ")"
      Comma@424..425 ","
      Whitespace@425..426 "\n"
      RBrace@426..427 "}"
      Whitespace@427..429 "\n\n"
  FN@429..686
    FnKeyword@429..431 "fn"
    Whitespace@431..432 " "
    Ident@432..444 "shared_value"
    PARAM_LIST@444..460
      LParen@444..445 "("
      PARAM@445..458
        Ident@445..450 "value"
        Colon@450..451 ":"
        Whitespace@451..452 " "
        TYPE_TAPP@452..458
          PATH@452..458
            Ident@452..458 "Shared"
      RParen@458..459 ")"
      Whitespace@459..460 " "
    Arrow@460..462 "->"
    Whitespace@462..463 " "
    TYPE_INT@463..469
      IsizeKeyword@463..468 "isize"
      Whitespace@468..469 " "
    BLOCK@469..686
      LBrace@469..470 "{"
      Whitespace@470..475 "\n    "
      EXPR_MATCH@475..683
        MatchKeyword@475..480 "match"
        Whitespace@480..481 " "
        EXPR_IDENT@481..487
          PATH@481..487
            Ident@481..486 "value"
            Whitespace@486..487 " "
        MATCH_ARM_LIST@487..683
          LBrace@487..488 "{"
          Whitespace@488..497 "\n        "
          MATCH_ARM@497..537
            PATTERN_CONSTR@497..518
              PATH@497..510
                Ident@497..503 "Shared"
                ColonColon@503..505 "::"
                Ident@505..510 "First"
              LParen@510..511 "("
              PATTERN_VARIABLE@511..516
                Ident@511..516 "value"
              RParen@516..517 ")"
              Whitespace@517..518 " "
            FatArrow@518..520 "=>"
            Whitespace@520..521 " "
            EXPR_CALL@521..537
              EXPR_BINARY@521..535
                EXPR_IDENT@521..526
                  PATH@521..526
                    Ident@521..526 "value"
                Dot@526..527 "."
                EXPR_IDENT@527..535
                  PATH@527..535
                    Ident@527..535 "to_isize"
              ARG_LIST@535..537
                LParen@535..536 "("
                RParen@536..537 ")"
          Comma@537..538 ","
          Whitespace@538..547 "\n        "
          MATCH_ARM@547..593
            PATTERN_CONSTR@547..569
              PATH@547..561
                Ident@547..553 "Shared"
                ColonColon@553..555 "::"
                Ident@555..561 "Second"
              LParen@561..562 "("
              PATTERN_VARIABLE@562..567
                Ident@562..567 "value"
              RParen@567..568 ")"
              Whitespace@568..569 " "
            FatArrow@569..571 "=>"
            Whitespace@571..572 " "
            EXPR_BINARY@572..593
              EXPR_CALL@572..589
                EXPR_BINARY@572..586
                  EXPR_IDENT@572..577
                    PATH@572..577
                      Ident@572..577 "value"
                  Dot@577..578 "."
                  EXPR_IDENT@578..586
                    PATH@578..586
                      Ident@578..586 "to_isize"
                ARG_LIST@586..589
                  LParen@586..587 "("
                  RParen@587..588 ")"
                  Whitespace@588..589 " "
              Plus@589..590 "+"
              Whitespace@590..591 " "
              EXPR_INT@591..593
                Int@591..593 "10"
          Comma@593..594 ","
          Whitespace@594..603 "\n        "
          MATCH_ARM@603..647
            PATTERN_CONSTR@603..623
              PATH@603..615
                Ident@603..609 "Shared"
                ColonColon@609..611 "::"
                Ident@611..615 "Wide"
              LParen@615..616 "("
              PATTERN_VARIABLE@616..621
                Ident@616..621 "value"
              RParen@621..622 ")"
              Whitespace@622..623 " "
            FatArrow@623..625 "=>"
            Whitespace@625..626 " "
            EXPR_BINARY@626..647
              EXPR_CALL@626..643
                EXPR_BINARY@626..640
                  EXPR_IDENT@626..631
                    PATH@626..631
                      Ident@626..631 "value"
                  Dot@631..632 "."
                  EXPR_IDENT@632..640
                    PATH@632..640
                      Ident@632..640 "to_isize"
                ARG_LIST@640..643
                  LParen@640..641 "("
                  RParen@641..642 ")"
                  Whitespace@642..643 " "
              Plus@643..644 "+"
              Whitespace@644..645 " "
              EXPR_INT@645..647
                Int@645..647 "20"
          Comma@647..648 ","
          Whitespace@648..657 "\n        "
          MATCH_ARM@657..675
            PATTERN_CONSTR@657..671
              PATH@657..671
                Ident@657..663 "Shared"
                ColonColon@663..665 "::"
                Ident@665..670 "Empty"
                Whitespace@670..671 " "
            FatArrow@671..673 "=>"
            Whitespace@673..674 " "
            EXPR_INT@674..675
              Int@674..675 "0"
          Comma@675..676 ","
          Whitespace@676..681 "\n    "
          RBrace@681..682 "}"
          Whitespace@682..683 "\n"
      RBrace@683..684 "}"
      Whitespace@684..686 "\n\n"
  FN@686..838
    FnKeyword@686..688 "fn"
    Whitespace@688..689 " "
    Ident@689..699 "maybe_byte"
    PARAM_LIST@699..718
      LParen@699..700 "("
      PARAM@700..716
        Ident@700..705 "value"
        Colon@705..706 ":"
        Whitespace@706..707 " "
        TYPE_TAPP@707..716
          PATH@707..716
            Ident@707..716 "MaybeByte"
      RParen@716..717 ")"
      Whitespace@717..718 " "
    Arrow@718..720 "->"
    Whitespace@720..721 " "
    TYPE_INT@721..727
      IsizeKeyword@721..726 "isize"
      Whitespace@726..727 " "
    BLOCK@727..838
      LBrace@727..728 "{"
      Whitespace@728..733 "\n    "
      EXPR_MATCH@733..835
        MatchKeyword@733..738 "match"
        Whitespace@738..739 " "
        EXPR_IDENT@739..745
          PATH@739..745
            Ident@739..744 "value"
            Whitespace@744..745 " "
        MATCH_ARM_LIST@745..835
          LBrace@745..746 "{"
          Whitespace@746..755 "\n        "
          MATCH_ARM@755..775
            PATTERN_CONSTR@755..771
              PATH@755..771
                Ident@755..764 "MaybeByte"
                ColonColon@764..766 "::"
                Ident@766..770 "None"
                Whitespace@770..771 " "
            FatArrow@771..773 "=>"
            Whitespace@773..774 " "
            EXPR_INT@774..775
              Int@774..775 "0"
          Comma@775..776 ","
          Whitespace@776..785 "\n        "
          MATCH_ARM@785..827
            PATTERN_CONSTR@785..808
              PATH@785..800
                Ident@785..794 "MaybeByte"
                ColonColon@794..796 "::"
                Ident@796..800 "Some"
              LParen@800..801 "("
              PATTERN_VARIABLE@801..806
                Ident@801..806 "value"
              RParen@806..807 ")"
              Whitespace@807..808 " "
            FatArrow@808..810 "=>"
            Whitespace@810..811 " "
            EXPR_CALL@811..827
              EXPR_BINARY@811..825
                EXPR_IDENT@811..816
                  PATH@811..816
                    Ident@811..816 "value"
                Dot@816..817 "."
                EXPR_IDENT@817..825
                  PATH@817..825
                    Ident@817..825 "to_isize"
              ARG_LIST@825..827
                LParen@825..826 "("
                RParen@826..827 ")"
          Comma@827..828 ","
          Whitespace@828..833 "\n    "
          RBrace@833..834 "}"
          Whitespace@834..835 "\n"
      RBrace@835..836 "}"
      Whitespace@836..838 "\n\n"
  FN@838..985
    FnKeyword@838..840 "fn"
    Whitespace@840..841 " "
    Ident@841..853 "maybe_signed"
    PARAM_LIST@853..874
      LParen@853..854 "("
      PARAM@854..872
        Ident@854..859 "value"
        Colon@859..860 ":"
        Whitespace@860..861 " "
        TYPE_TAPP@861..872
          PATH@861..872
            Ident@861..872 "MaybeSigned"
      RParen@872..873 ")"
      Whitespace@873..874 " "
    Arrow@874..876 "->"
    Whitespace@876..877 " "
    TYPE_INT32@877..881
      I32Keyword@877..880 "i32"
      Whitespace@880..881 " "
    BLOCK@881..985
      LBrace@881..882 "{"
      Whitespace@882..887 "\n    "
      EXPR_MATCH@887..982
        MatchKeyword@887..892 "match"
        Whitespace@892..893 " "
        EXPR_IDENT@893..899
          PATH@893..899
            Ident@893..898 "value"
            Whitespace@898..899 " "
        MATCH_ARM_LIST@899..982
          LBrace@899..900 "{"
          Whitespace@900..909 "\n        "
          MATCH_ARM@909..931
            PATTERN_CONSTR@909..927
              PATH@909..927
                Ident@909..920 "MaybeSigned"
                ColonColon@920..922 "::"
                Ident@922..926 "None"
                Whitespace@926..927 " "
            FatArrow@927..929 "=>"
            Whitespace@929..930 " "
            EXPR_INT@930..931
              Int@930..931 "0"
          Comma@931..932 ","
          Whitespace@932..941 "\n        "
          MATCH_ARM@941..974
            PATTERN_CONSTR@941..966
              PATH@941..958
                Ident@941..952 "MaybeSigned"
                ColonColon@952..954 "::"
                Ident@954..958 "Some"
              LParen@958..959 "("
              PATTERN_VARIABLE@959..964
                Ident@959..964 "value"
              RParen@964..965 ")"
              Whitespace@965..966 " "
            FatArrow@966..968 "=>"
            Whitespace@968..969 " "
            EXPR_IDENT@969..974
              PATH@969..974
                Ident@969..974 "value"
          Comma@974..975 ","
          Whitespace@975..980 "\n    "
          RBrace@980..981 "}"
          Whitespace@981..982 "\n"
      RBrace@982..983 "}"
      Whitespace@983..985 "\n\n"
  FN@985..1128
    FnKeyword@985..987 "fn"
    Whitespace@987..988 " "
    Ident@988..997 "maybe_vec"
    PARAM_LIST@997..1015
      LParen@997..998 "("
      PARAM@998..1013
        Ident@998..1003 "value"
        Colon@1003..1004 ":"
        Whitespace@1004..1005 " "
        TYPE_TAPP@1005..1013
          PATH@1005..1013
            Ident@1005..1013 "MaybeVec"
      RParen@1013..1014 ")"
      Whitespace@1014..1015 " "
    Arrow@1015..1017 "->"
    Whitespace@1017..1018 " "
    TYPE_INT@1018..1024
      IsizeKeyword@1018..1023 "isize"
      Whitespace@1023..1024 " "
    BLOCK@1024..1128
      LBrace@1024..1025 "{"
      Whitespace@1025..1030 "\n    "
      EXPR_MATCH@1030..1125
        MatchKeyword@1030..1035 "match"
        Whitespace@1035..1036 " "
        EXPR_IDENT@1036..1042
          PATH@1036..1042
            Ident@1036..1041 "value"
            Whitespace@1041..1042 " "
        MATCH_ARM_LIST@1042..1125
          LBrace@1042..1043 "{"
          Whitespace@1043..1052 "\n        "
          MATCH_ARM@1052..1071
            PATTERN_CONSTR@1052..1067
              PATH@1052..1067
                Ident@1052..1060 "MaybeVec"
                ColonColon@1060..1062 "::"
                Ident@1062..1066 "None"
                Whitespace@1066..1067 " "
            FatArrow@1067..1069 "=>"
            Whitespace@1069..1070 " "
            EXPR_INT@1070..1071
              Int@1070..1071 "0"
          Comma@1071..1072 ","
          Whitespace@1072..1081 "\n        "
          MATCH_ARM@1081..1117
            PATTERN_CONSTR@1081..1103
              PATH@1081..1095
                Ident@1081..1089 "MaybeVec"
                ColonColon@1089..1091 "::"
                Ident@1091..1095 "Some"
              LParen@1095..1096 "("
              PATTERN_VARIABLE@1096..1101
                Ident@1096..1101 "value"
              RParen@1101..1102 ")"
              Whitespace@1102..1103 " "
            FatArrow@1103..1105 "=>"
            Whitespace@1105..1106 " "
            EXPR_CALL@1106..1117
              EXPR_BINARY@1106..1115
                EXPR_IDENT@1106..1111
                  PATH@1106..1111
                    Ident@1106..1111 "value"
                Dot@1111..1112 "."
                EXPR_IDENT@1112..1115
                  PATH@1112..1115
                    Ident@1112..1115 "len"
              ARG_LIST@1115..1117
                LParen@1115..1116 "("
                RParen@1116..1117 ")"
          Comma@1117..1118 ","
          Whitespace@1118..1123 "\n    "
          RBrace@1123..1124 "}"
          Whitespace@1124..1125 "\n"
      RBrace@1125..1126 "}"
      Whitespace@1126..1128 "\n\n"
  FN@1128..1348
    FnKeyword@1128..1130 "fn"
    Whitespace@1130..1131 " "
    Ident@1131..1142 "outer_value"
    PARAM_LIST@1142..1157
      LParen@1142..1143 "("
      PARAM@1143..1155
        Ident@1143..1148 "value"
        Colon@1148..1149 ":"
        Whitespace@1149..1150 " "
        TYPE_TAPP@1150..1155
          PATH@1150..1155
            Ident@1150..1155 "Outer"
      RParen@1155..1156 ")"
      Whitespace@1156..1157 " "
    Arrow@1157..1159 "->"
    Whitespace@1159..1160 " "
    TYPE_INT@1160..1166
      IsizeKeyword@1160..1165 "isize"
      Whitespace@1165..1166 " "
    BLOCK@1166..1348
      LBrace@1166..1167 "{"
      Whitespace@1167..1172 "\n    "
      EXPR_MATCH@1172..1345
        MatchKeyword@1172..1177 "match"
        Whitespace@1177..1178 " "
        EXPR_IDENT@1178..1184
          PATH@1178..1184
            Ident@1178..1183 "value"
            Whitespace@1183..1184 " "
        MATCH_ARM_LIST@1184..1345
          LBrace@1184..1185 "{"
          Whitespace@1185..1194 "\n        "
          MATCH_ARM@1194..1210
            PATTERN_CONSTR@1194..1206
              PATH@1194..1206
                Ident@1194..1199 "Outer"
                ColonColon@1199..1201 "::"
                Ident@1201..1205 "None"
                Whitespace@1205..1206 " "
            FatArrow@1206..1208 "=>"
            Whitespace@1208..1209 " "
            EXPR_INT@1209..1210
              Int@1209..1210 "0"
          Comma@1210..1211 ","
          Whitespace@1211..1220 "\n        "
          MATCH_ARM@1220..1271
            PATTERN_CONSTR@1220..1252
              PATH@1220..1231
                Ident@1220..1225 "Outer"
                ColonColon@1225..1227 "::"
                Ident@1227..1231 "Some"
              LParen@1231..1232 "("
              PATTERN_CONSTR@1232..1250
                PATH@1232..1243
                  Ident@1232..1237 "Inner"
                  ColonColon@1237..1239 "::"
                  Ident@1239..1243 "Left"
                LParen@1243..1244 "("
                PATTERN_VARIABLE@1244..1249
                  Ident@1244..1249 "value"
                RParen@1249..1250 ")"
              RParen@1250..1251 ")"
              Whitespace@1251..1252 " "
            FatArrow@1252..1254 "=>"
            Whitespace@1254..1255 " "
            EXPR_CALL@1255..1271
              EXPR_BINARY@1255..1269
                EXPR_IDENT@1255..1260
                  PATH@1255..1260
                    Ident@1255..1260 "value"
                Dot@1260..1261 "."
                EXPR_IDENT@1261..1269
                  PATH@1261..1269
                    Ident@1261..1269 "to_isize"
              ARG_LIST@1269..1271
                LParen@1269..1270 "("
                RParen@1270..1271 ")"
          Comma@1271..1272 ","
          Whitespace@1272..1281 "\n        "
          MATCH_ARM@1281..1337
            PATTERN_CONSTR@1281..1314
              PATH@1281..1292
                Ident@1281..1286 "Outer"
                ColonColon@1286..1288 "::"
                Ident@1288..1292 "Some"
              LParen@1292..1293 "("
              PATTERN_CONSTR@1293..1312
                PATH@1293..1305
                  Ident@1293..1298 "Inner"
                  ColonColon@1298..1300 "::"
                  Ident@1300..1305 "Right"
                LParen@1305..1306 "("
                PATTERN_VARIABLE@1306..1311
                  Ident@1306..1311 "value"
                RParen@1311..1312 ")"
              RParen@1312..1313 ")"
              Whitespace@1313..1314 " "
            FatArrow@1314..1316 "=>"
            Whitespace@1316..1317 " "
            EXPR_BINARY@1317..1337
              EXPR_CALL@1317..1334
                EXPR_BINARY@1317..1331
                  EXPR_IDENT@1317..1322
                    PATH@1317..1322
                      Ident@1317..1322 "value"
                  Dot@1322..1323 "."
                  EXPR_IDENT@1323..1331
                    PATH@1323..1331
                      Ident@1323..1331 "to_isize"
                ARG_LIST@1331..1334
                  LParen@1331..1332 "("
                  RParen@1332..1333 ")"
                  Whitespace@1333..1334 " "
              Plus@1334..1335 "+"
              Whitespace@1335..1336 " "
              EXPR_INT@1336..1337
                Int@1336..1337 "1"
          Comma@1337..1338 ","
          Whitespace@1338..1343 "\n    "
          RBrace@1343..1344 "}"
          Whitespace@1344..1345 "\n"
      RBrace@1345..1346 "}"
      Whitespace@1346..1348 "\n\n"
  FN@1348..1490
    FnKeyword@1348..1350 "fn"
    Whitespace@1350..1351 " "
    Ident@1351..1359 "list_sum"
    PARAM_LIST@1359..1373
      LParen@1359..1360 "("
      PARAM@1360..1371
        Ident@1360..1365 "value"
        Colon@1365..1366 ":"
        Whitespace@1366..1367 " "
        TYPE_TAPP@1367..1371
          PATH@1367..1371
            Ident@1367..1371 "List"
      RParen@1371..1372 ")"
      Whitespace@1372..1373 " "
    Arrow@1373..1375 "->"
    Whitespace@1375..1376 " "
    TYPE_INT32@1376..1380
      I32Keyword@1376..1379 "i32"
      Whitespace@1379..1380 " "
    BLOCK@1380..1490
      LBrace@1380..1381 "{"
      Whitespace@1381..1386 "\n    "
      EXPR_MATCH@1386..1487
        MatchKeyword@1386..1391 "match"
        Whitespace@1391..1392 " "
        EXPR_IDENT@1392..1398
          PATH@1392..1398
            Ident@1392..1397 "value"
            Whitespace@1397..1398 " "
        MATCH_ARM_LIST@1398..1487
          LBrace@1398..1399 "{"
          Whitespace@1399..1408 "\n        "
          MATCH_ARM@1408..1422
            PATTERN_CONSTR@1408..1418
              PATH@1408..1418
                Ident@1408..1412 "List"
                ColonColon@1412..1414 "::"
                Ident@1414..1417 "Nil"
                Whitespace@1417..1418 " "
            FatArrow@1418..1420 "=>"
            Whitespace@1420..1421 " "
            EXPR_INT@1421..1422
              Int@1421..1422 "0"
          Comma@1422..1423 ","
          Whitespace@1423..1432 "\n        "
          MATCH_ARM@1432..1479
            PATTERN_CONSTR@1432..1455
              PATH@1432..1442
                Ident@1432..1436 "List"
                ColonColon@1436..1438 "::"
                Ident@1438..1442 "Cons"
              LParen@1442..1443 "("
              PATTERN_VARIABLE@1443..1447
                Ident@1443..1447 "head"
              Comma@1447..1448 ","
              Whitespace@1448..1449 " "
              PATTERN_VARIABLE@1449..1453
                Ident@1449..1453 "tail"
              RParen@1453..1454 ")"
              Whitespace@1454..1455 " "
            FatArrow@1455..1457 "=>"
            Whitespace@1457..1458 " "
            EXPR_BINARY@1458..1479
              EXPR_IDENT@1458..1463
                PATH@1458..1463
                  Ident@1458..1462 "head"
                  Whitespace@1462..1463 " "
              Plus@1463..1464 "+"
              Whitespace@1464..1465 " "
              EXPR_CALL@1465..1479
                EXPR_IDENT@1465..1473
                  PATH@1465..1473
                    Ident@1465..1473 "list_sum"
                ARG_LIST@1473..1479
                  LParen@1473..1474 "("
                  ARG@1474..1478
                    EXPR_IDENT@1474..1478
                      PATH@1474..1478
                        Ident@1474..1478 "tail"
                  RParen@1478..1479 ")"
          Comma@1479..1480 ","
          Whitespace@1480..1485 "\n    "
          RBrace@1485..1486 "}"
          Whitespace@1486..1487 "\n"
      RBrace@1487..1488 "}"
      Whitespace@1488..1490 "\n\n"
  FN@1490..2176
    FnKeyword@1490..1492 "fn"
    Whitespace@1492..1493 " "
    Ident@1493..1497 "main"
    PARAM_LIST@1497..1500
      LParen@1497..1498 "("
      RParen@1498..1499 ")"
      Whitespace@1499..1500 " "
    Arrow@1500..1502 "->"
    Whitespace@1502..1503 " "
    TYPE_TUPLE@1503..1506
      TYPE_LIST@1503..1506
        LParen@1503..1504 "("
        RParen@1504..1505 ")"
        Whitespace@1505..1506 " "
    BLOCK@1506..2176
      LBrace@1506..1507 "{"
      Whitespace@1507..1512 "\n    "
      STMT_EXPR@1512..1557
        EXPR_CALL@1512..1551
          EXPR_IDENT@1512..1519
            PATH@1512..1519
              Ident@1512..1519 "println"
          ARG_LIST@1519..1551
            LParen@1519..1520 "("
            ARG@1520..1550
              EXPR_CALL@1520..1550
                EXPR_IDENT@1520..1532
                  PATH@1520..1532
                    Ident@1520..1532 "shared_value"
                ARG_LIST@1532..1550
                  LParen@1532..1533 "("
                  ARG@1533..1549
                    EXPR_CALL@1533..1549
                      EXPR_IDENT@1533..1546
                        PATH@1533..1546
                          Ident@1533..1539 "Shared"
                          ColonColon@1539..1541 "::"
                          Ident@1541..1546 "First"
                      ARG_LIST@1546..1549
                        LParen@1546..1547 "("
                        ARG@1547..1548
                          EXPR_INT@1547..1548
                            Int@1547..1548 "3"
                        RParen@1548..1549 ")"
                  RParen@1549..1550 ")"
            RParen@1550..1551 ")"
        Semi@1551..1552 ";"
        Whitespace@1552..1557 "\n    "
      STMT_EXPR@1557..1603
        EXPR_CALL@1557..1597
          EXPR_IDENT@1557..1564
            PATH@1557..1564
              Ident@1557..1564 "println"
          ARG_LIST@1564..1597
            LParen@1564..1565 "("
            ARG@1565..1596
              EXPR_CALL@1565..1596
                EXPR_IDENT@1565..1577
                  PATH@1565..1577
                    Ident@1565..1577 "shared_value"
                ARG_LIST@1577..1596
                  LParen@1577..1578 "("
                  ARG@1578..1595
                    EXPR_CALL@1578..1595
                      EXPR_IDENT@1578..1592
                        PATH@1578..1592
                          Ident@1578..1584 "Shared"
                          ColonColon@1584..1586 "::"
                          Ident@1586..1592 "Second"
                      ARG_LIST@1592..1595
                        LParen@1592..1593 "("
                        ARG@1593..1594
                          EXPR_INT@1593..1594
                            Int@1593..1594 "4"
                        RParen@1594..1595 ")"
                  RParen@1595..1596 ")"
            RParen@1596..1597 ")"
        Semi@1597..1598 ";"
        Whitespace@1598..1603 "\n    "
      STMT_EXPR@1603..1647
        EXPR_CALL@1603..1641
          EXPR_IDENT@1603..1610
            PATH@1603..1610
              Ident@1603..1610 "println"
          ARG_LIST@1610..1641
            LParen@1610..1611 "("
            ARG@1611..1640
              EXPR_CALL@1611..1640
                EXPR_IDENT@1611..1623
                  PATH@1611..1623
                    Ident@1611..1623 "shared_value"
                ARG_LIST@1623..1640
                  LParen@1623..1624 "("
                  ARG@1624..1639
                    EXPR_CALL@1624..1639
                      EXPR_IDENT@1624..1636
                        PATH@1624..1636
                          Ident@1624..1630 "Shared"
                          ColonColon@1630..1632 "::"
                          Ident@1632..1636 "Wide"
                      ARG_LIST@1636..1639
                        LParen@1636..1637 "("
                        ARG@1637..1638
                          EXPR_INT@1637..1638
                            Int@1637..1638 "5"
                        RParen@1638..1639 ")"
                  RParen@1639..1640 ")"
            RParen@1640..1641 ")"
        Semi@1641..1642 ";"
        Whitespace@1642..1647 "\n    "
      STMT_EXPR@1647..1694
        EXPR_CALL@1647..1688
          EXPR_IDENT@1647..1654
            PATH@1647..1654
              Ident@1647..1654 "println"
          ARG_LIST@1654..1688
            LParen@1654..1655 "("
            ARG@1655..1687
              EXPR_CALL@1655..1687
                EXPR_IDENT@1655..1665
                  PATH@1655..1665
                    Ident@1655..1665 "maybe_byte"
                ARG_LIST@1665..1687
                  LParen@1665..1666 "("
                  ARG@1666..1686
                    EXPR_CALL@1666..1686
                      EXPR_IDENT@1666..1681
                        PATH@1666..1681
                          Ident@1666..1675 "MaybeByte"
                          ColonColon@1675..1677 "::"
                          Ident@1677..1681 "Some"
                      ARG_LIST@1681..1686
                        LParen@1681..1682 "("
                        ARG@1682..1685
                          EXPR_INT@1682..1685
                            Int@1682..1685 "255"
                        RParen@1685..1686 ")"
                  RParen@1686..1687 ")"
            RParen@1687..1688 ")"
        Semi@1688..1689 ";"
        Whitespace@1689..1694 "\n    "
      STMT_EXPR@1694..1744
        EXPR_CALL@1694..1738
          EXPR_IDENT@1694..1701
            PATH@1694..1701
              Ident@1694..1701 "println"
          ARG_LIST@1701..1738
            LParen@1701..1702 "("
            ARG@1702..1737
              EXPR_CALL@1702..1737
                EXPR_IDENT@1702..1714
                  PATH@1702..1714
                    Ident@1702..1714 "maybe_signed"
                ARG_LIST@1714..1737
                  LParen@1714..1715 "("
                  ARG@1715..1736
                    EXPR_CALL@1715..1736
                      EXPR_IDENT@1715..1732
                        PATH@1715..1732
                          Ident@1715..1726 "MaybeSigned"
                          ColonColon@1726..1728 "::"
                          Ident@1728..1732 "Some"
                      ARG_LIST@1732..1736
                        LParen@1732..1733 "("
                        ARG@1733..1735
                          EXPR_PREFIX@1733..1735
                            Minus@1733..1734 "-"
                            EXPR_INT@1734..1735
                              Int@1734..1735 "7"
                        RParen@1735..1736 ")"
                  RParen@1736..1737 ")"
            RParen@1737..1738 ")"
        Semi@1738..1739 ";"
        Whitespace@1739..1744 "\n    "
      STMT_EXPR@1744..1803
        EXPR_CALL@1744..1797
          EXPR_IDENT@1744..1751
            PATH@1744..1751
              Ident@1744..1751 "println"
          ARG_LIST@1751..1797
            LParen@1751..1752 "("
            ARG@1752..1796
              EXPR_CALL@1752..1796
                EXPR_IDENT@1752..1764
                  PATH@1752..1764
                    Ident@1752..1764 "maybe_signed"
                ARG_LIST@1764..1796
                  LParen@1764..1765 "("
                  ARG@1765..1795
                    EXPR_CALL@1765..1795
                      EXPR_IDENT@1765..1782
                        PATH@1765..1782
                          Ident@1765..1776 "MaybeSigned"
                          ColonColon@1776..1778 "::"
                          Ident@1778..1782 "Some"
                      ARG_LIST@1782..1795
                        LParen@1782..1783 "("
                        ARG@1783..1794
                          EXPR_PREFIX@1783..1794
                            Minus@1783..1784 "-"
                            EXPR_INT@1784..1794
                              Int@1784..1794 "2147483648"
                        RParen@1794..1795 ")"
                  RParen@1795..1796 ")"
            RParen@1796..1797 ")"
        Semi@1797..1798 ";"
        Whitespace@1798..1803 "\n    "
      STMT_LET@1803..1842
        LetKeyword@1803..1806 "let"
        Whitespace@1806..1807 " "
        PATTERN_VARIABLE@1807..1813
          Ident@1807..1813 "values"
        Colon@1813..1814 ":"
        Whitespace@1814..1815 " "
        TYPE_TAPP@1815..1824
          PATH@1815..1818
            Ident@1815..1818 "Vec"
          TYPE_PARAM_LIST@1818..1824
            LBracket@1818..1819 "["
            TYPE_INT32@1819..1822
              I32Keyword@1819..1822 "i32"
            RBracket@1822..1823 "]"
            Whitespace@1823..1824 " "
        Eq@1824..1825 "="
        Whitespace@1825..1826 " "
        EXPR_CALL@1826..1836
          EXPR_IDENT@1826..1834
            PATH@1826..1834
              Ident@1826..1829 "Vec"
              ColonColon@1829..1831 "::"
              Ident@1831..1834 "new"
          ARG_LIST@1834..1836
            LParen@1834..1835 "("
            RParen@1835..1836 ")"
        Semi@1836..1837 ";"
        Whitespace@1837..1842 "\n    "
      STMT_EXPR@1842..1862
        EXPR_CALL@1842..1856
          EXPR_BINARY@1842..1853
            EXPR_IDENT@1842..1848
              PATH@1842..1848
                Ident@1842..1848 "values"
            Dot@1848..1849 "."
            EXPR_IDENT@1849..1853
              PATH@1849..1853
                Ident@1849..1853 "push"
          ARG_LIST@1853..1856
            LParen@1853..1854 "("
            ARG@1854..1855
              EXPR_INT@1854..1855
                Int@1854..1855 "7"
            RParen@1855..1856 ")"
        Semi@1856..1857 ";"
        Whitespace@1857..1862 "\n    "
      STMT_EXPR@1862..1910
        EXPR_CALL@1862..1904
          EXPR_IDENT@1862..1869
            PATH@1862..1869
              Ident@1862..1869 "println"
          ARG_LIST@1869..1904
            LParen@1869..1870 "("
            ARG@1870..1903
              EXPR_CALL@1870..1903
                EXPR_IDENT@1870..1879
                  PATH@1870..1879
                    Ident@1870..1879 "maybe_vec"
                ARG_LIST@1879..1903
                  LParen@1879..1880 "("
                  ARG@1880..1902
                    EXPR_CALL@1880..1902
                      EXPR_IDENT@1880..1894
                        PATH@1880..1894
                          Ident@1880..1888 "MaybeVec"
                          ColonColon@1888..1890 "::"
                          Ident@1890..1894 "Some"
                      ARG_LIST@1894..1902
                        LParen@1894..1895 "("
                        ARG@1895..1901
                          EXPR_IDENT@1895..1901
                            PATH@1895..1901
                              Ident@1895..1901 "values"
                        RParen@1901..1902 ")"
                  RParen@1902..1903 ")"
            RParen@1903..1904 ")"
        Semi@1904..1905 ";"
        Whitespace@1905..1910 "\n    "
      STMT_EXPR@1910..1966
        EXPR_CALL@1910..1960
          EXPR_IDENT@1910..1917
            PATH@1910..1917
              Ident@1910..1917 "println"
          ARG_LIST@1917..1960
            LParen@1917..1918 "("
            ARG@1918..1959
              EXPR_CALL@1918..1959
                EXPR_IDENT@1918..1929
                  PATH@1918..1929
                    Ident@1918..1929 "outer_value"
                ARG_LIST@1929..1959
                  LParen@1929..1930 "("
                  ARG@1930..1958
                    EXPR_CALL@1930..1958
                      EXPR_IDENT@1930..1941
                        PATH@1930..1941
                          Ident@1930..1935 "Outer"
                          ColonColon@1935..1937 "::"
                          Ident@1937..1941 "Some"
                      ARG_LIST@1941..1958
                        LParen@1941..1942 "("
                        ARG@1942..1957
                          EXPR_CALL@1942..1957
                            EXPR_IDENT@1942..1954
                              PATH@1942..1954
                                Ident@1942..1947 "Inner"
                                ColonColon@1947..1949 "::"
                                Ident@1949..1954 "Right"
                            ARG_LIST@1954..1957
                              LParen@1954..1955 "("
                              ARG@1955..1956
                                EXPR_INT@1955..1956
                                  Int@1955..1956 "8"
                              RParen@1956..1957 ")"
                        RParen@1957..1958 ")"
                  RParen@1958..1959 ")"
            RParen@1959..1960 ")"
        Semi@1960..1961 ";"
        Whitespace@1961..1966 "\n    "
      STMT_EXPR@1966..2030
        EXPR_CALL@1966..2024
          EXPR_IDENT@1966..1973
            PATH@1966..1973
              Ident@1966..1973 "println"
          ARG_LIST@1973..2024
            LParen@1973..1974 "("
            ARG@1974..2023
              EXPR_CALL@1974..2023
                EXPR_IDENT@1974..1982
                  PATH@1974..1982
                    Ident@1974..1982 "list_sum"
                ARG_LIST@1982..2023
                  LParen@1982..1983 "("
                  ARG@1983..2022
                    EXPR_CALL@1983..2022
                      EXPR_IDENT@1983..1993
                        PATH@1983..1993
                          Ident@1983..1987 "List"
                          ColonColon@1987..1989 "::"
                          Ident@1989..1993 "Cons"
                      ARG_LIST@1993..2022
                        LParen@1993..1994 "("
                        ARG@1994..1997
                          EXPR_INT@1994..1995
                            Int@1994..1995 "1"
                          Comma@1995..1996 ","
                          Whitespace@1996..1997 " "
                        ARG@1997..2021
                          EXPR_CALL@1997..2021
                            EXPR_IDENT@1997..2007
                              PATH@1997..2007
                                Ident@1997..2001 "List"
                                ColonColon@2001..2003 "::"
                                Ident@2003..2007 "Cons"
                            ARG_LIST@2007..2021
                              LParen@2007..2008 "("
                              ARG@2008..2011
                                EXPR_INT@2008..2009
                                  Int@2008..2009 "2"
                                Comma@2009..2010 ","
                                Whitespace@2010..2011 " "
                              ARG@2011..2020
                                EXPR_IDENT@2011..2020
                                  PATH@2011..2020
                                    Ident@2011..2015 "List"
                                    ColonColon@2015..2017 "::"
                                    Ident@2017..2020 "Nil"
                              RParen@2020..2021 ")"
                        RParen@2021..2022 ")"
                  RParen@2022..2023 ")"
            RParen@2023..2024 ")"
        Semi@2024..2025 ";"
        Whitespace@2025..2030 "\n    "
      EXPR_MATCH@2030..2174
        MatchKeyword@2030..2035 "match"
        Whitespace@2035..2036 " "
        EXPR_CALL@2036..2070
          EXPR_IDENT@2036..2058
            PATH@2036..2058
              Ident@2036..2045 "ZeroSized"
              ColonColon@2045..2047 "::"
              Ident@2047..2058 "MarkerValue"
          ARG_LIST@2058..2070
            LParen@2058..2059 "("
            ARG@2059..2068
              EXPR_STRUCT_LITERAL@2059..2068
                PATH@2059..2066
                  Ident@2059..2065 "Marker"
                  Whitespace@2065..2066 " "
                STRUCT_LITERAL_FIELD_LIST@2066..2068
                  LBrace@2066..2067 "{"
                  RBrace@2067..2068 "}"
            RParen@2068..2069 ")"
            Whitespace@2069..2070 " "
        MATCH_ARM_LIST@2070..2174
          LBrace@2070..2071 "{"
          Whitespace@2071..2080 "\n        "
          MATCH_ARM@2080..2119
            PATTERN_CONSTR@2080..2106
              PATH@2080..2102
                Ident@2080..2089 "ZeroSized"
                ColonColon@2089..2091 "::"
                Ident@2091..2102 "MarkerValue"
              LParen@2102..2103 "("
              PATTERN_WILDCARD@2103..2104
                WildcardKeyword@2103..2104 "_"
              RParen@2104..2105 ")"
              Whitespace@2105..2106 " "
            FatArrow@2106..2108 "=>"
            Whitespace@2108..2109 " "
            EXPR_CALL@2109..2119
              EXPR_IDENT@2109..2116
                PATH@2109..2116
                  Ident@2109..2116 "println"
              ARG_LIST@2116..2119
                LParen@2116..2117 "("
                ARG@2117..2118
                  EXPR_INT@2117..2118
                    Int@2117..2118 "1"
                RParen@2118..2119 ")"
          Comma@2119..2120 ","
          Whitespace@2120..2129 "\n        "
          MATCH_ARM@2129..2166
            PATTERN_CONSTR@2129..2153
              PATH@2129..2149
                Ident@2129..2138 "ZeroSized"
                ColonColon@2138..2140 "::"
                Ident@2140..2149 "UnitValue"
              LParen@2149..2150 "("
              PATTERN_WILDCARD@2150..2151
                WildcardKeyword@2150..2151 "_"
              RParen@2151..2152 ")"
              Whitespace@2152..2153 " "
            FatArrow@2153..2155 "=>"
            Whitespace@2155..2156 " "
            EXPR_CALL@2156..2166
              EXPR_IDENT@2156..2163
                PATH@2156..2163
                  Ident@2156..2163 "println"
              ARG_LIST@2163..2166
                LParen@2163..2164 "("
                ARG@2164..2165
                  EXPR_INT@2164..2165
                    Int@2164..2165 "2"
                RParen@2165..2166 ")"
          Comma@2166..2167 ","
          Whitespace@2167..2172 "\n    "
          RBrace@2172..2173 "}"
          Whitespace@2173..2174 "\n"
      RBrace@2174..2175 "}"
      Whitespace@2175..2176 "\n"