FILE@0..72
  FN@0..72
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..72
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..37
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "s"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_STR@24..31
          Str@24..31 "\"abcde\""
        Semi@31..32 ";"
        Whitespace@32..37 "\n    "
      STMT_EXPR@37..53
        EXPR_CALL@37..47
          EXPR_IDENT@37..44
            PATH@37..44
              Ident@37..44 "println"
          ARG_LIST@44..47
            LParen@44..45 "("
            ARG@45..46
              EXPR_IDENT@45..46
                PATH@45..46
                  Ident@45..46 "s"
            RParen@46..47 ")"
        Semi@47..48 ";"
        Whitespace@48..53 "\n    "
      STMT_EXPR@53..67
        EXPR_CALL@53..61
          EXPR_IDENT@53..58
            PATH@53..58
              Ident@53..58 "print"
          ARG_LIST@58..61
            LParen@58..59 "("
            ARG@59..60
              EXPR_IDENT@59..60
                PATH@59..60
                  Ident@59..60 "s"
            RParen@60..61 ")"
        Semi@61..62 ";"
        Whitespace@62..67 "\n    "
      EXPR_UNIT@67..70
        LParen@67..68 "("
        RParen@68..69 ")"
        Whitespace@69..70 "\n"
      RBrace@70..71 "}"
      Whitespace@71..72 "\n"