FILE@0..84
  USE@0..10
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..7
      Ident@4..7 "Lib"
    Semi@7..8 ";"
    Whitespace@8..10 "\n\n"
  FN@10..84
    FnKeyword@10..12 "fn"
    Whitespace@12..13 " "
    Ident@13..17 "main"
    PARAM_LIST@17..20
      LParen@17..18 "("
      RParen@18..19 ")"
      Whitespace@19..20 " "
    BLOCK@20..84
      LBrace@20..21 "{"
      Whitespace@21..26 "\n    "
      EXPR_CALL@26..82
        EXPR_IDENT@26..33
          PATH@26..33
            Ident@26..33 "println"
        ARG_LIST@33..82
          LParen@33..34 "("
          ARG@34..80
            EXPR_CALL@34..80
              EXPR_BINARY@34..78
                EXPR_CALL@34..68
                  EXPR_IDENT@34..51
                    PATH@34..51
                      Ident@34..37 "Lib"
                      ColonColon@37..39 "::"
                      Ident@39..51 "color_to_int"
                  ARG_LIST@51..68
                    LParen@51..52 "("
                    ARG@52..67
                      EXPR_IDENT@52..67
                        PATH@52..67
                          Ident@52..55 "Lib"
                          ColonColon@55..57 "::"
                          Ident@57..62 "Color"
                          ColonColon@62..64 "::"
                          Ident@64..67 "Red"
                    RParen@67..68 ")"
                Dot@68..69 "."
                EXPR_IDENT@69..78
                  PATH@69..78
                    Ident@69..78 "to_string"
              ARG_LIST@78..80
                LParen@78..79 "("
                RParen@79..80 ")"
          RParen@80..81 ")"
          Whitespace@81..82 "\n"
      RBrace@82..83 "}"
      Whitespace@83..84 "\n"