FILE@0..115
  PACKAGE@0..15
    PackageKeyword@0..7 "package"
    Whitespace@7..8 " "
    Ident@8..12 "main"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  USE@15..41
    UseKeyword@15..18 "use"
    Whitespace@18..19 " "
    PATH@19..38
      Ident@19..33 "packages_basic"
      ColonColon@33..35 "::"
      Ident@35..38 "Lib"
    Semi@38..39 ";"
    Whitespace@39..41 "\n\n"
  FN@41..115
    FnKeyword@41..43 "fn"
    Whitespace@43..44 " "
    Ident@44..48 "main"
    PARAM_LIST@48..51
      LParen@48..49 "("
      RParen@49..50 ")"
      Whitespace@50..51 " "
    BLOCK@51..115
      LBrace@51..52 "{"
      Whitespace@52..57 "\n    "
      EXPR_CALL@57..113
        EXPR_IDENT@57..64
          PATH@57..64
            Ident@57..64 "println"
        ARG_LIST@64..113
          LParen@64..65 "("
          ARG@65..111
            EXPR_CALL@65..111
              EXPR_BINARY@65..109
                EXPR_CALL@65..99
                  EXPR_IDENT@65..82
                    PATH@65..82
                      Ident@65..68 "Lib"
                      ColonColon@68..70 "::"
                      Ident@70..82 "color_to_int"
                  ARG_LIST@82..99
                    LParen@82..83 "("
                    ARG@83..98
                      EXPR_IDENT@83..98
                        PATH@83..98
                          Ident@83..86 "Lib"
                          ColonColon@86..88 "::"
                          Ident@88..93 "Color"
                          ColonColon@93..95 "::"
                          Ident@95..98 "Red"
                    RParen@98..99 ")"
                Dot@99..100 "."
                EXPR_IDENT@100..109
                  PATH@100..109
                    Ident@100..109 "to_string"
              ARG_LIST@109..111
                LParen@109..110 "("
                RParen@110..111 ")"
          RParen@111..112 ")"
          Whitespace@112..113 "\n"
      RBrace@113..114 "}"
      Whitespace@114..115 "\n"