FILE@0..89
  USE@0..10
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..7
      Ident@4..7 "Lib"
    Semi@7..8 ";"
    Whitespace@8..10 "\n\n"
  FN@10..89
    FnKeyword@10..12 "fn"
    Whitespace@12..13 " "
    Ident@13..17 "main"
    PARAM_LIST@17..20
      LParen@17..18 "("
      RParen@18..19 ")"
      Whitespace@19..20 " "
    BLOCK@20..89
      LBrace@20..21 "{"
      Whitespace@21..26 "\n    "
      EXPR_CALL@26..87
        EXPR_IDENT@26..33
          PATH@26..33
            Ident@26..33 "println"
        ARG_LIST@33..87
          LParen@33..34 "("
          ARG@34..85
            EXPR_CALL@34..85
              EXPR_IDENT@34..49
                PATH@34..49
                  Ident@34..49 "int32_to_string"
              ARG_LIST@49..85
                LParen@49..50 "("
                ARG@50..84
                  EXPR_CALL@50..84
                    EXPR_IDENT@50..67
                      PATH@50..67
                        Ident@50..53 "Lib"
                        ColonColon@53..55 "::"
                        Ident@55..67 "color_to_int"
                    ARG_LIST@67..84
                      LParen@67..68 "("
                      ARG@68..83
                        EXPR_IDENT@68..83
                          PATH@68..83
                            Ident@68..71 "Lib"
                            ColonColon@71..73 "::"
                            Ident@73..78 "Color"
                            ColonColon@78..80 "::"
                            Ident@80..83 "Red"
                      RParen@83..84 ")"
                RParen@84..85 ")"
          RParen@85..86 ")"
          Whitespace@86..87 "\n"
      RBrace@87..88 "}"
      Whitespace@88..89 "\n"