FILE@0..615
  FN@0..138
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "parse"
    PARAM_LIST@8..21
      LParen@8..9 "("
      PARAM@9..19
        Ident@9..13 "flag"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_BOOL@15..19
          BoolKeyword@15..19 "bool"
      RParen@19..20 ")"
      Whitespace@20..21 " "
    Arrow@21..23 "->"
    Whitespace@23..24 " "
    TYPE_TAPP@24..44
      PATH@24..30
        Ident@24..30 "Result"
      TYPE_PARAM_LIST@30..44
        LBracket@30..31 "["
        TYPE_INT32@31..34
          I32Keyword@31..34 "i32"
        Comma@34..35 ","
        Whitespace@35..36 " "
        TYPE_STRING@36..42
          StringKeyword@36..42 "string"
        RBracket@42..43 "]"
        Whitespace@43..44 " "
    BLOCK@44..138
      LBrace@44..45 "{"
      Whitespace@45..50 "\n    "
      EXPR_IF@50..135
        IfKeyword@50..52 "if"
        Whitespace@52..53 " "
        EXPR_IF_COND@53..58
          EXPR_IDENT@53..58
            PATH@53..58
              Ident@53..57 "flag"
              Whitespace@57..58 " "
        EXPR_IF_THEN@58..88
          BLOCK@58..88
            LBrace@58..59 "{"
            Whitespace@59..68 "\n        "
            EXPR_CALL@68..86
              EXPR_IDENT@68..78
                PATH@68..78
                  Ident@68..74 "Result"
                  ColonColon@74..76 "::"
                  Ident@76..78 "Ok"
              ARG_LIST@78..86
                LParen@78..79 "("
                ARG@79..80
                  EXPR_INT@79..80
                    Int@79..80 "5"
                RParen@80..81 ")"
                Whitespace@81..86 "\n    "
            RBrace@86..87 "}"
            Whitespace@87..88 " "
        ElseKeyword@88..92 "else"
        Whitespace@92..93 " "
        EXPR_IF_ELSE@93..135
          BLOCK@93..135
            LBrace@93..94 "{"
            Whitespace@94..103 "\n        "
            EXPR_CALL@103..133
              EXPR_IDENT@103..114
                PATH@103..114
                  Ident@103..109 "Result"
                  ColonColon@109..111 "::"
                  Ident@111..114 "Err"
              ARG_LIST@114..133
                LParen@114..115 "("
                ARG@115..127
                  EXPR_STR@115..127
                    Str@115..127 "\"bad-branch\""
                RParen@127..128 ")"
                Whitespace@128..133 "\n    "
            RBrace@133..134 "}"
            Whitespace@134..135 "\n"
      RBrace@135..136 "}"
      Whitespace@136..138 "\n\n"
  FN@138..310
    FnKeyword@138..140 "fn"
    Whitespace@140..141 " "
    Ident@141..145 "bump"
    PARAM_LIST@145..174
      LParen@145..146 "("
      PARAM@146..158
        Ident@146..150 "flag"
        Colon@150..151 ":"
        Whitespace@151..152 " "
        TYPE_BOOL@152..156
          BoolKeyword@152..156 "bool"
        Comma@156..157 ","
        Whitespace@157..158 " "
      PARAM@158..172
        Ident@158..166 "fallback"
        Colon@166..167 ":"
        Whitespace@167..168 " "
        TYPE_BOOL@168..172
          BoolKeyword@168..172 "bool"
      RParen@172..173 ")"
      Whitespace@173..174 " "
    Arrow@174..176 "->"
    Whitespace@176..177 " "
    TYPE_TAPP@177..197
      PATH@177..183
        Ident@177..183 "Result"
      TYPE_PARAM_LIST@183..197
        LBracket@183..184 "["
        TYPE_INT32@184..187
          I32Keyword@184..187 "i32"
        Comma@187..188 ","
        Whitespace@188..189 " "
        TYPE_STRING@189..195
          StringKeyword@189..195 "string"
        RBracket@195..196 "]"
        Whitespace@196..197 " "
    BLOCK@197..310
      LBrace@197..198 "{"
      Whitespace@198..203 "\n    "
      STMT_LET@203..285
        LetKeyword@203..206 "let"
        Whitespace@206..207 " "
        PATTERN_VARIABLE@207..213
          Ident@207..212 "value"
          Whitespace@212..213 " "
        Eq@213..214 "="
        Whitespace@214..215 " "
        EXPR_IF@215..279
          IfKeyword@215..217 "if"
          Whitespace@217..218 " "
          EXPR_IF_COND@218..223
            EXPR_IDENT@218..223
              PATH@218..223
                Ident@218..222 "flag"
                Whitespace@222..223 " "
          EXPR_IF_THEN@223..256
            BLOCK@223..256
              LBrace@223..224 "{"
              Whitespace@224..233 "\n        "
              EXPR_TRY@233..254
                EXPR_CALL@233..248
                  EXPR_IDENT@233..238
                    PATH@233..238
                      Ident@233..238 "parse"
                  ARG_LIST@238..248
                    LParen@238..239 "("
                    ARG@239..247
                      EXPR_IDENT@239..247
                        PATH@239..247
                          Ident@239..247 "fallback"
                    RParen@247..248 ")"
                Question@248..249 "?"
                Whitespace@249..254 "\n    "
              RBrace@254..255 "}"
              Whitespace@255..256 " "
          ElseKeyword@256..260 "else"
          Whitespace@260..261 " "
          EXPR_IF_ELSE@261..279
            BLOCK@261..279
              LBrace@261..262 "{"
              Whitespace@262..271 "\n        "
              EXPR_INT@271..278
                Int@271..273 "10"
                Whitespace@273..278 "\n    "
              RBrace@278..279 "}"
        Semi@279..280 ";"
        Whitespace@280..285 "\n    "
      EXPR_CALL@285..307
        EXPR_IDENT@285..295
          PATH@285..295
            Ident@285..291 "Result"
            ColonColon@291..293 "::"
            Ident@293..295 "Ok"
        ARG_LIST@295..307
          LParen@295..296 "("
          ARG@296..305
            EXPR_BINARY@296..305
              EXPR_IDENT@296..302
                PATH@296..302
                  Ident@296..301 "value"
                  Whitespace@301..302 " "
              Plus@302..303 "+"
              Whitespace@303..304 " "
              EXPR_INT@304..305
                Int@304..305 "1"
          RParen@305..306 ")"
          Whitespace@306..307 "\n"
      RBrace@307..308 "}"
      Whitespace@308..310 "\n\n"
  FN@310..479
    FnKeyword@310..312 "fn"
    Whitespace@312..313 " "
    Ident@313..317 "show"
    PARAM_LIST@317..344
      LParen@317..318 "("
      PARAM@318..342
        Ident@318..321 "res"
        Colon@321..322 ":"
        Whitespace@322..323 " "
        TYPE_TAPP@323..342
          PATH@323..329
            Ident@323..329 "Result"
          TYPE_PARAM_LIST@329..342
            LBracket@329..330 "["
            TYPE_INT32@330..333
              I32Keyword@330..333 "i32"
            Comma@333..334 ","
            Whitespace@334..335 " "
            TYPE_STRING@335..341
              StringKeyword@335..341 "string"
            RBracket@341..342 "]"
      RParen@342..343 ")"
      Whitespace@343..344 " "
    Arrow@344..346 "->"
    Whitespace@346..347 " "
    TYPE_STRING@347..354
      StringKeyword@347..353 "string"
      Whitespace@353..354 " "
    BLOCK@354..479
      LBrace@354..355 "{"
      Whitespace@355..360 "\n    "
      EXPR_MATCH@360..476
        MatchKeyword@360..365 "match"
        Whitespace@365..366 " "
        EXPR_IDENT@366..370
          PATH@366..370
            Ident@366..369 "res"
            Whitespace@369..370 " "
        MATCH_ARM_LIST@370..476
          LBrace@370..371 "{"
          Whitespace@371..380 "\n        "
          MATCH_ARM@380..426
            PATTERN_CONSTR@380..398
              PATH@380..390
                Ident@380..386 "Result"
                ColonColon@386..388 "::"
                Ident@388..390 "Ok"
              LParen@390..391 "("
              PATTERN_VARIABLE@391..396
                Ident@391..396 "value"
              RParen@396..397 ")"
              Whitespace@397..398 " "
            FatArrow@398..400 "=>"
            Whitespace@400..401 " "
            EXPR_BINARY@401..426
              EXPR_STR@401..407
                Str@401..406 "\"ok=\""
                Whitespace@406..407 " "
              Plus@407..408 "+"
              Whitespace@408..409 " "
              EXPR_CALL@409..426
                EXPR_BINARY@409..424
                  EXPR_IDENT@409..414
                    PATH@409..414
                      Ident@409..414 "value"
                  Dot@414..415 "."
                  EXPR_IDENT@415..424
                    PATH@415..424
                      Ident@415..424 "to_string"
                ARG_LIST@424..426
                  LParen@424..425 "("
                  RParen@425..426 ")"
          Comma@426..427 ","
          Whitespace@427..436 "\n        "
          MATCH_ARM@436..468
            PATTERN_CONSTR@436..453
              PATH@436..447
                Ident@436..442 "Result"
                ColonColon@442..444 "::"
                Ident@444..447 "Err"
              LParen@447..448 "("
              PATTERN_VARIABLE@448..451
                Ident@448..451 "err"
              RParen@451..452 ")"
              Whitespace@452..453 " "
            FatArrow@453..455 "=>"
            Whitespace@455..456 " "
            EXPR_BINARY@456..468
              EXPR_STR@456..463
                Str@456..462 "\"err=\""
                Whitespace@462..463 " "
              Plus@463..464 "+"
              Whitespace@464..465 " "
              EXPR_IDENT@465..468
                PATH@465..468
                  Ident@465..468 "err"
          Comma@468..469 ","
          Whitespace@469..474 "\n    "
          RBrace@474..475 "}"
          Whitespace@475..476 "\n"
      RBrace@476..477 "}"
      Whitespace@477..479 "\n\n"
  FN@479..615
    FnKeyword@479..481 "fn"
    Whitespace@481..482 " "
    Ident@482..486 "main"
    PARAM_LIST@486..489
      LParen@486..487 "("
      RParen@487..488 ")"
      Whitespace@488..489 " "
    Arrow@489..491 "->"
    Whitespace@491..492 " "
    TYPE_UNIT@492..497
      UnitKeyword@492..496 "unit"
      Whitespace@496..497 " "
    BLOCK@497..615
      LBrace@497..498 "{"
      Whitespace@498..503 "\n    "
      STMT_EXPR@503..540
        EXPR_CALL@503..534
          EXPR_IDENT@503..510
            PATH@503..510
              Ident@503..510 "println"
          ARG_LIST@510..534
            LParen@510..511 "("
            ARG@511..533
              EXPR_CALL@511..533
                EXPR_IDENT@511..515
                  PATH@511..515
                    Ident@511..515 "show"
                ARG_LIST@515..533
                  LParen@515..516 "("
                  ARG@516..532
                    EXPR_CALL@516..532
                      EXPR_IDENT@516..520
                        PATH@516..520
                          Ident@516..520 "bump"
                      ARG_LIST@520..532
                        LParen@520..521 "("
                        ARG@521..527
                          EXPR_BOOL@521..525
                            TrueKeyword@521..525 "true"
                          Comma@525..526 ","
                          Whitespace@526..527 " "
                        ARG@527..531
                          EXPR_BOOL@527..531
                            TrueKeyword@527..531 "true"
                        RParen@531..532 ")"
                  RParen@532..533 ")"
            RParen@533..534 ")"
        Semi@534..535 ";"
        Whitespace@535..540 "\n    "
      STMT_EXPR@540..578
        EXPR_CALL@540..572
          EXPR_IDENT@540..547
            PATH@540..547
              Ident@540..547 "println"
          ARG_LIST@547..572
            LParen@547..548 "("
            ARG@548..571
              EXPR_CALL@548..571
                EXPR_IDENT@548..552
                  PATH@548..552
                    Ident@548..552 "show"
                ARG_LIST@552..571
                  LParen@552..553 "("
                  ARG@553..570
                    EXPR_CALL@553..570
                      EXPR_IDENT@553..557
                        PATH@553..557
                          Ident@553..557 "bump"
                      ARG_LIST@557..570
                        LParen@557..558 "("
                        ARG@558..564
                          EXPR_BOOL@558..562
                            TrueKeyword@558..562 "true"
                          Comma@562..563 ","
                          Whitespace@563..564 " "
                        ARG@564..569
                          EXPR_BOOL@564..569
                            FalseKeyword@564..569 "false"
                        RParen@569..570 ")"
                  RParen@570..571 ")"
            RParen@571..572 ")"
        Semi@572..573 ";"
        Whitespace@573..578 "\n    "
      STMT_EXPR@578..613
        EXPR_CALL@578..611
          EXPR_IDENT@578..585
            PATH@578..585
              Ident@578..585 "println"
          ARG_LIST@585..611
            LParen@585..586 "("
            ARG@586..610
              EXPR_CALL@586..610
                EXPR_IDENT@586..590
                  PATH@586..590
                    Ident@586..590 "show"
                ARG_LIST@590..610
                  LParen@590..591 "("
                  ARG@591..609
                    EXPR_CALL@591..609
                      EXPR_IDENT@591..595
                        PATH@591..595
                          Ident@591..595 "bump"
                      ARG_LIST@595..609
                        LParen@595..596 "("
                        ARG@596..603
                          EXPR_BOOL@596..601
                            FalseKeyword@596..601 "false"
                          Comma@601..602 ","
                          Whitespace@602..603 " "
                        ARG@603..608
                          EXPR_BOOL@603..608
                            FalseKeyword@603..608 "false"
                        RParen@608..609 ")"
                  RParen@609..610 ")"
            RParen@610..611 ")"
        Semi@611..612 ";"
        Whitespace@612..613 "\n"
      RBrace@613..614 "}"
      Whitespace@614..615 "\n"