FILE@0..125
  STRUCT@0..41
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..17 "\n  "
    STRUCT_FIELD_LIST@17..41
      STRUCT_FIELD@17..25
        Ident@17..18 "x"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..25
          Int32Keyword@20..25 "int32"
      Comma@25..26 ","
      Whitespace@26..29 "\n  "
      STRUCT_FIELD@29..38
        Ident@29..30 "y"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_INT32@32..38
          Int32Keyword@32..37 "int32"
          Whitespace@37..38 "\n"
      RBrace@38..39 "}"
      Whitespace@39..41 "\n\n"
  FN@41..125
    FnKeyword@41..43 "fn"
    Whitespace@43..44 " "
    Ident@44..48 "main"
    PARAM_LIST@48..51
      LParen@48..49 "("
      RParen@49..50 ")"
      Whitespace@50..51 " "
    BLOCK@51..125
      LBrace@51..52 "{"
      Whitespace@52..55 "\n  "
      STMT_LET@55..88
        LetKeyword@55..58 "let"
        Whitespace@58..59 " "
        PATTERN_VARIABLE@59..62
          Ident@59..61 "p0"
          Whitespace@61..62 " "
        Eq@62..63 "="
        Whitespace@63..64 " "
        EXPR_STRUCT_LITERAL@64..84
          PATH@64..70
            Ident@64..69 "Point"
            Whitespace@69..70 " "
          STRUCT_LITERAL_FIELD_LIST@70..84
            LBrace@70..71 "{"
            Whitespace@71..72 " "
            STRUCT_LITERAL_FIELD@72..76
              Ident@72..73 "x"
              Colon@73..74 ":"
              Whitespace@74..75 " "
              EXPR_INT@75..76
                Int@75..76 "0"
            Comma@76..77 ","
            Whitespace@77..78 " "
            STRUCT_LITERAL_FIELD@78..83
              Ident@78..79 "y"
              Colon@79..80 ":"
              Whitespace@80..81 " "
              EXPR_INT@81..83
                Int@81..82 "0"
                Whitespace@82..83 " "
            RBrace@83..84 "}"
        Semi@84..85 ";"
        Whitespace@85..88 "\n  "
      STMT_LET@88..120
        LetKeyword@88..91 "let"
        Whitespace@91..92 " "
        PATTERN_CONSTR@92..112
          PATH@92..98
            Ident@92..97 "Point"
            Whitespace@97..98 " "
          STRUCT_PATTERN_FIELD_LIST@98..112
            LBrace@98..99 "{"
            Whitespace@99..100 " "
            STRUCT_PATTERN_FIELD@100..104
              Ident@100..101 "x"
              Colon@101..102 ":"
              Whitespace@102..103 " "
              PATTERN_INT@103..104
                Int@103..104 "0"
            Comma@104..105 ","
            Whitespace@105..106 " "
            STRUCT_PATTERN_FIELD@106..110
              Ident@106..107 "y"
              Colon@107..108 ":"
              Whitespace@108..109 " "
              PATTERN_INT@109..110
                Int@109..110 "0"
            RBrace@110..111 "}"
            Whitespace@111..112 " "
        Eq@112..113 "="
        Whitespace@113..114 " "
        EXPR_IDENT@114..116
          PATH@114..116
            Ident@114..116 "p0"
        Semi@116..117 ";"
        Whitespace@117..120 "\n  "
      EXPR_UNIT@120..123
        LParen@120..121 "("
        RParen@121..122 ")"
        Whitespace@122..123 "\n"
      RBrace@123..124 "}"
      Whitespace@124..125 "\n"