FILE@0..1926
  TRAIT@0..61
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..9 "Put"
    GENERIC_LIST@9..13
      LBracket@9..10 "["
      GENERIC@10..11
        Ident@10..11 "T"
      RBracket@11..12 "]"
      Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..61
      TRAIT_METHOD_SIG@19..56
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..25 "put"
        PARAM_LIST@25..47
          LParen@25..26 "("
          PARAM@26..38
            Ident@26..30 "self"
            Colon@30..31 ":"
            Whitespace@31..32 " "
            TYPE_TAPP@32..36
              PATH@32..36
                Ident@32..36 "Self"
            Comma@36..37 ","
            Whitespace@37..38 " "
          PARAM@38..45
            Ident@38..42 "arg1"
            Colon@42..43 ":"
            Whitespace@43..44 " "
            TYPE_TAPP@44..45
              PATH@44..45
                Ident@44..45 "T"
          RParen@45..46 ")"
          Whitespace@46..47 " "
        Arrow@47..49 "->"
        Whitespace@49..50 " "
        TYPE_STRING@50..56
          StringKeyword@50..56 "string"
      Semi@56..57 ";"
      Whitespace@57..58 "\n"
      RBrace@58..59 "}"
      Whitespace@59..61 "\n\n"
  STRUCT@61..79
    StructKeyword@61..67 "struct"
    Whitespace@67..68 " "
    Ident@68..74 "Target"
    Whitespace@74..75 " "
    LBrace@75..76 "{"
    STRUCT_FIELD_LIST@76..79
      RBrace@76..77 "}"
      Whitespace@77..79 "\n\n"
  IMPL@79..206
    ImplKeyword@79..83 "impl"
    Whitespace@83..84 " "
    TYPE_TAPP@84..95
      PATH@84..87
        Ident@84..87 "Put"
      TYPE_PARAM_LIST@87..95
        LBracket@87..88 "["
        TYPE_INT32@88..93
          Int32Keyword@88..93 "int32"
        RBracket@93..94 "]"
        Whitespace@94..95 " "
    ForKeyword@95..98 "for"
    Whitespace@98..99 " "
    TYPE_TAPP@99..106
      PATH@99..106
        Ident@99..105 "Target"
        Whitespace@105..106 " "
    LBrace@106..107 "{"
    Whitespace@107..112 "\n    "
    FN@112..203
      FnKeyword@112..114 "fn"
      Whitespace@114..115 " "
      Ident@115..118 "put"
      PARAM_LIST@118..147
        LParen@118..119 "("
        PARAM@119..133
          Ident@119..123 "self"
          Colon@123..124 ":"
          Whitespace@124..125 " "
          TYPE_TAPP@125..131
            PATH@125..131
              Ident@125..131 "Target"
          Comma@131..132 ","
          Whitespace@132..133 " "
        PARAM@133..145
          Ident@133..138 "value"
          Colon@138..139 ":"
          Whitespace@139..140 " "
          TYPE_INT32@140..145
            Int32Keyword@140..145 "int32"
        RParen@145..146 ")"
        Whitespace@146..147 " "
      Arrow@147..149 "->"
      Whitespace@149..150 " "
      TYPE_STRING@150..157
        StringKeyword@150..156 "string"
        Whitespace@156..157 " "
      BLOCK@157..203
        LBrace@157..158 "{"
        Whitespace@158..167 "\n        "
        EXPR_BINARY@167..201
          EXPR_STR@167..177
            Str@167..176 "\"number:\""
            Whitespace@176..177 " "
          Plus@177..178 "+"
          Whitespace@178..179 " "
          EXPR_CALL@179..201
            EXPR_BINARY@179..194
              EXPR_IDENT@179..184
                PATH@179..184
                  Ident@179..184 "value"
              Dot@184..185 "."
              EXPR_IDENT@185..194
                PATH@185..194
                  Ident@185..194 "to_string"
            ARG_LIST@194..201
              LParen@194..195 "("
              RParen@195..196 ")"
              Whitespace@196..201 "\n    "
        RBrace@201..202 "}"
        Whitespace@202..203 "\n"
    RBrace@203..204 "}"
    Whitespace@204..206 "\n\n"
  IMPL@206..321
    ImplKeyword@206..210 "impl"
    Whitespace@210..211 " "
    TYPE_TAPP@211..223
      PATH@211..214
        Ident@211..214 "Put"
      TYPE_PARAM_LIST@214..223
        LBracket@214..215 "["
        TYPE_STRING@215..221
          StringKeyword@215..221 "string"
        RBracket@221..222 "]"
        Whitespace@222..223 " "
    ForKeyword@223..226 "for"
    Whitespace@226..227 " "
    TYPE_TAPP@227..234
      PATH@227..234
        Ident@227..233 "Target"
        Whitespace@233..234 " "
    LBrace@234..235 "{"
    Whitespace@235..240 "\n    "
    FN@240..318
      FnKeyword@240..242 "fn"
      Whitespace@242..243 " "
      Ident@243..246 "put"
      PARAM_LIST@246..276
        LParen@246..247 "("
        PARAM@247..261
          Ident@247..251 "self"
          Colon@251..252 ":"
          Whitespace@252..253 " "
          TYPE_TAPP@253..259
            PATH@253..259
              Ident@253..259 "Target"
          Comma@259..260 ","
          Whitespace@260..261 " "
        PARAM@261..274
          Ident@261..266 "value"
          Colon@266..267 ":"
          Whitespace@267..268 " "
          TYPE_STRING@268..274
            StringKeyword@268..274 "string"
        RParen@274..275 ")"
        Whitespace@275..276 " "
      Arrow@276..278 "->"
      Whitespace@278..279 " "
      TYPE_STRING@279..286
        StringKeyword@279..285 "string"
        Whitespace@285..286 " "
      BLOCK@286..318
        LBrace@286..287 "{"
        Whitespace@287..296 "\n        "
        EXPR_BINARY@296..316
          EXPR_STR@296..304
            Str@296..303 "\"text:\""
            Whitespace@303..304 " "
          Plus@304..305 "+"
          Whitespace@305..306 " "
          EXPR_IDENT@306..316
            PATH@306..316
              Ident@306..311 "value"
              Whitespace@311..316 "\n    "
        RBrace@316..317 "}"
        Whitespace@317..318 "\n"
    RBrace@318..319 "}"
    Whitespace@319..321 "\n\n"
  TRAIT@321..405
    TraitKeyword@321..326 "trait"
    Whitespace@326..327 " "
    Ident@327..334 "Convert"
    GENERIC_LIST@334..338
      LBracket@334..335 "["
      GENERIC@335..336
        Ident@335..336 "T"
      RBracket@336..337 "]"
      Whitespace@337..338 " "
    LBrace@338..339 "{"
    Whitespace@339..344 "\n    "
    TRAIT_METHOD_SIG_LIST@344..405
      TRAIT_ASSOCIATED_TYPE@344..362
        TypeKeyword@344..348 "type"
        Whitespace@348..349 " "
        Ident@349..355 "Output"
        Semi@355..356 ";"
        Whitespace@356..362 "\n\n    "
      TRAIT_METHOD_SIG@362..400
        FnKeyword@362..364 "fn"
        Whitespace@364..365 " "
        Ident@365..372 "convert"
        PARAM_LIST@372..385
          LParen@372..373 "("
          PARAM@373..383
            Ident@373..377 "self"
            Colon@377..378 ":"
            Whitespace@378..379 " "
            TYPE_TAPP@379..383
              PATH@379..383
                Ident@379..383 "Self"
          RParen@383..384 ")"
          Whitespace@384..385 " "
        Arrow@385..387 "->"
        Whitespace@387..388 " "
        TYPE_TAPP@388..400
          PATH@388..400
            Ident@388..392 "Self"
            ColonColon@392..394 "::"
            Ident@394..400 "Output"
      Semi@400..401 ";"
      Whitespace@401..402 "\n"
      RBrace@402..403 "}"
      Whitespace@403..405 "\n\n"
  STRUCT@405..428
    StructKeyword@405..411 "struct"
    Whitespace@411..412 " "
    Ident@412..423 "Convertible"
    Whitespace@423..424 " "
    LBrace@424..425 "{"
    STRUCT_FIELD_LIST@425..428
      RBrace@425..426 "}"
      Whitespace@426..428 "\n\n"
  IMPL@428..568
    ImplKeyword@428..432 "impl"
    Whitespace@432..433 " "
    TYPE_TAPP@433..448
      PATH@433..440
        Ident@433..440 "Convert"
      TYPE_PARAM_LIST@440..448
        LBracket@440..441 "["
        TYPE_INT32@441..446
          Int32Keyword@441..446 "int32"
        RBracket@446..447 "]"
        Whitespace@447..448 " "
    ForKeyword@448..451 "for"
    Whitespace@451..452 " "
    TYPE_TAPP@452..464
      PATH@452..464
        Ident@452..463 "Convertible"
        Whitespace@463..464 " "
    LBrace@464..465 "{"
    Whitespace@465..470 "\n    "
    IMPL_ASSOCIATED_TYPE@470..497
      TypeKeyword@470..474 "type"
      Whitespace@474..475 " "
      Ident@475..481 "Output"
      Whitespace@481..482 " "
      Eq@482..483 "="
      Whitespace@483..484 " "
      TYPE_STRING@484..490
        StringKeyword@484..490 "string"
      Semi@490..491 ";"
      Whitespace@491..497 "\n\n    "
    FN@497..565
      FnKeyword@497..499 "fn"
      Whitespace@499..500 " "
      Ident@500..507 "convert"
      PARAM_LIST@507..527
        LParen@507..508 "("
        PARAM@508..525
          Ident@508..512 "self"
          Colon@512..513 ":"
          Whitespace@513..514 " "
          TYPE_TAPP@514..525
            PATH@514..525
              Ident@514..525 "Convertible"
        RParen@525..526 ")"
        Whitespace@526..527 " "
      Arrow@527..529 "->"
      Whitespace@529..530 " "
      TYPE_STRING@530..537
        StringKeyword@530..536 "string"
        Whitespace@536..537 " "
      BLOCK@537..565
        LBrace@537..538 "{"
        Whitespace@538..547 "\n        "
        EXPR_STR@547..563
          Str@547..558 "\"converted\""
          Whitespace@558..563 "\n    "
        RBrace@563..564 "}"
        Whitespace@564..565 "\n"
    RBrace@565..566 "}"
    Whitespace@566..568 "\n\n"
  IMPL@568..697
    ImplKeyword@568..572 "impl"
    Whitespace@572..573 " "
    TYPE_TAPP@573..589
      PATH@573..580
        Ident@573..580 "Convert"
      TYPE_PARAM_LIST@580..589
        LBracket@580..581 "["
        TYPE_STRING@581..587
          StringKeyword@581..587 "string"
        RBracket@587..588 "]"
        Whitespace@588..589 " "
    ForKeyword@589..592 "for"
    Whitespace@592..593 " "
    TYPE_TAPP@593..605
      PATH@593..605
        Ident@593..604 "Convertible"
        Whitespace@604..605 " "
    LBrace@605..606 "{"
    Whitespace@606..611 "\n    "
    IMPL_ASSOCIATED_TYPE@611..637
      TypeKeyword@611..615 "type"
      Whitespace@615..616 " "
      Ident@616..622 "Output"
      Whitespace@622..623 " "
      Eq@623..624 "="
      Whitespace@624..625 " "
      TYPE_INT32@625..630
        Int32Keyword@625..630 "int32"
      Semi@630..631 ";"
      Whitespace@631..637 "\n\n    "
    FN@637..694
      FnKeyword@637..639 "fn"
      Whitespace@639..640 " "
      Ident@640..647 "convert"
      PARAM_LIST@647..667
        LParen@647..648 "("
        PARAM@648..665
          Ident@648..652 "self"
          Colon@652..653 ":"
          Whitespace@653..654 " "
          TYPE_TAPP@654..665
            PATH@654..665
              Ident@654..665 "Convertible"
        RParen@665..666 ")"
        Whitespace@666..667 " "
      Arrow@667..669 "->"
      Whitespace@669..670 " "
      TYPE_INT32@670..676
        Int32Keyword@670..675 "int32"
        Whitespace@675..676 " "
      BLOCK@676..694
        LBrace@676..677 "{"
        Whitespace@677..686 "\n        "
        EXPR_INT@686..692
          Int@686..687 "7"
          Whitespace@687..692 "\n    "
        RBrace@692..693 "}"
        Whitespace@693..694 "\n"
    RBrace@694..695 "}"
    Whitespace@695..697 "\n\n"
  TRAIT@697..799
    TraitKeyword@697..702 "trait"
    Whitespace@702..703 " "
    Ident@703..709 "Source"
    GENERIC_LIST@709..713
      LBracket@709..710 "["
      GENERIC@710..711
        Ident@710..711 "T"
      RBracket@711..712 "]"
      Whitespace@712..713 "\n"
    WHERE_CLAUSE@713..740
      WhereKeyword@713..718 "where"
      Whitespace@718..723 "\n    "
      WHERE_PREDICATE@723..738
        TYPE_TAPP@723..734
          PATH@723..734
            Ident@723..727 "Self"
            ColonColon@727..729 "::"
            Ident@729..733 "Item"
            Whitespace@733..734 " "
        EqEq@734..736 "=="
        Whitespace@736..737 " "
        TYPE_TAPP@737..738
          PATH@737..738
            Ident@737..738 "T"
      Comma@738..739 ","
      Whitespace@739..740 "\n"
    LBrace@740..741 "{"
    Whitespace@741..746 "\n    "
    TRAIT_METHOD_SIG_LIST@746..799
      TRAIT_ASSOCIATED_TYPE@746..762
        TypeKeyword@746..750 "type"
        Whitespace@750..751 " "
        Ident@751..755 "Item"
        Semi@755..756 ";"
        Whitespace@756..762 "\n\n    "
      TRAIT_METHOD_SIG@762..794
        FnKeyword@762..764 "fn"
        Whitespace@764..765 " "
        Ident@765..768 "get"
        PARAM_LIST@768..781
          LParen@768..769 "("
          PARAM@769..779
            Ident@769..773 "self"
            Colon@773..774 ":"
            Whitespace@774..775 " "
            TYPE_TAPP@775..779
              PATH@775..779
                Ident@775..779 "Self"
          RParen@779..780 ")"
          Whitespace@780..781 " "
        Arrow@781..783 "->"
        Whitespace@783..784 " "
        TYPE_TAPP@784..794
          PATH@784..794
            Ident@784..788 "Self"
            ColonColon@788..790 "::"
            Ident@790..794 "Item"
      Semi@794..795 ";"
      Whitespace@795..796 "\n"
      RBrace@796..797 "}"
      Whitespace@797..799 "\n\n"
  STRUCT@799..836
    StructKeyword@799..805 "struct"
    Whitespace@805..806 " "
    Ident@806..812 "Number"
    Whitespace@812..813 " "
    LBrace@813..814 "{"
    Whitespace@814..819 "\n    "
    STRUCT_FIELD_LIST@819..836
      STRUCT_FIELD@819..831
        Ident@819..824 "value"
        Colon@824..825 ":"
        Whitespace@825..826 " "
        TYPE_INT32@826..831
          Int32Keyword@826..831 "int32"
      Comma@831..832 ","
      Whitespace@832..833 "\n"
      RBrace@833..834 "}"
      Whitespace@834..836 "\n\n"
  IMPL@836..956
    ImplKeyword@836..840 "impl"
    Whitespace@840..841 " "
    TYPE_TAPP@841..855
      PATH@841..847
        Ident@841..847 "Source"
      TYPE_PARAM_LIST@847..855
        LBracket@847..848 "["
        TYPE_INT32@848..853
          Int32Keyword@848..853 "int32"
        RBracket@853..854 "]"
        Whitespace@854..855 " "
    ForKeyword@855..858 "for"
    Whitespace@858..859 " "
    TYPE_TAPP@859..866
      PATH@859..866
        Ident@859..865 "Number"
        Whitespace@865..866 " "
    LBrace@866..867 "{"
    Whitespace@867..872 "\n    "
    IMPL_ASSOCIATED_TYPE@872..896
      TypeKeyword@872..876 "type"
      Whitespace@876..877 " "
      Ident@877..881 "Item"
      Whitespace@881..882 " "
      Eq@882..883 "="
      Whitespace@883..884 " "
      TYPE_INT32@884..889
        Int32Keyword@884..889 "int32"
      Semi@889..890 ";"
      Whitespace@890..896 "\n\n    "
    FN@896..953
      FnKeyword@896..898 "fn"
      Whitespace@898..899 " "
      Ident@899..902 "get"
      PARAM_LIST@902..917
        LParen@902..903 "("
        PARAM@903..915
          Ident@903..907 "self"
          Colon@907..908 ":"
          Whitespace@908..909 " "
          TYPE_TAPP@909..915
            PATH@909..915
              Ident@909..915 "Number"
        RParen@915..916 ")"
        Whitespace@916..917 " "
      Arrow@917..919 "->"
      Whitespace@919..920 " "
      TYPE_INT32@920..926
        Int32Keyword@920..925 "int32"
        Whitespace@925..926 " "
      BLOCK@926..953
        LBrace@926..927 "{"
        Whitespace@927..936 "\n        "
        EXPR_BINARY@936..951
          EXPR_IDENT@936..940
            PATH@936..940
              Ident@936..940 "self"
          Dot@940..941 "."
          EXPR_IDENT@941..951
            PATH@941..951
              Ident@941..946 "value"
              Whitespace@946..951 "\n    "
        RBrace@951..952 "}"
        Whitespace@952..953 "\n"
    RBrace@953..954 "}"
    Whitespace@954..956 "\n\n"
  FN@956..1031
    FnKeyword@956..958 "fn"
    Whitespace@958..959 " "
    Ident@959..963 "read"
    GENERIC_LIST@963..980
      LBracket@963..964 "["
      GENERIC@964..965
        Ident@964..965 "T"
      Comma@965..966 ","
      Whitespace@966..967 " "
      GENERIC@967..979
        Ident@967..968 "S"
        Colon@968..969 ":"
        Whitespace@969..970 " "
        TRAIT_SET@970..979
          TYPE_TAPP@970..979
            PATH@970..976
              Ident@970..976 "Source"
            TYPE_PARAM_LIST@976..979
              LBracket@976..977 "["
              TYPE_TAPP@977..978
                PATH@977..978
                  Ident@977..978 "T"
              RBracket@978..979 "]"
      RBracket@979..980 "]"
    PARAM_LIST@980..992
      LParen@980..981 "("
      PARAM@981..990
        Ident@981..987 "source"
        Colon@987..988 ":"
        Whitespace@988..989 " "
        TYPE_TAPP@989..990
          PATH@989..990
            Ident@989..990 "S"
      RParen@990..991 ")"
      Whitespace@991..992 " "
    Arrow@992..994 "->"
    Whitespace@994..995 " "
    TYPE_TAPP@995..997
      PATH@995..997
        Ident@995..996 "T"
        Whitespace@996..997 " "
    BLOCK@997..1031
      LBrace@997..998 "{"
      Whitespace@998..1003 "\n    "
      EXPR_CALL@1003..1028
        EXPR_IDENT@1003..1019
          TYPE_TAPP@1003..1014
            PATH@1003..1009
              Ident@1003..1009 "Source"
            ColonColon@1009..1011 "::"
            TYPE_PARAM_LIST@1011..1014
              LBracket@1011..1012 "["
              TYPE_TAPP@1012..1013
                PATH@1012..1013
                  Ident@1012..1013 "T"
              RBracket@1013..1014 "]"
          ColonColon@1014..1016 "::"
          PATH@1016..1019
            Ident@1016..1019 "get"
        ARG_LIST@1019..1028
          LParen@1019..1020 "("
          ARG@1020..1026
            EXPR_IDENT@1020..1026
              PATH@1020..1026
                Ident@1020..1026 "source"
          RParen@1026..1027 ")"
          Whitespace@1027..1028 "\n"
      RBrace@1028..1029 "}"
      Whitespace@1029..1031 "\n\n"
  TRAIT@1031..1108
    TraitKeyword@1031..1036 "trait"
    Whitespace@1036..1037 " "
    Ident@1037..1047 "ItemSource"
    Whitespace@1047..1048 " "
    LBrace@1048..1049 "{"
    Whitespace@1049..1054 "\n    "
    TRAIT_METHOD_SIG_LIST@1054..1108
      TRAIT_ASSOCIATED_TYPE@1054..1070
        TypeKeyword@1054..1058 "type"
        Whitespace@1058..1059 " "
        Ident@1059..1063 "Item"
        Semi@1063..1064 ";"
        Whitespace@1064..1070 "\n\n    "
      TRAIT_METHOD_SIG@1070..1103
        FnKeyword@1070..1072 "fn"
        Whitespace@1072..1073 " "
        Ident@1073..1077 "item"
        PARAM_LIST@1077..1090
          LParen@1077..1078 "("
          PARAM@1078..1088
            Ident@1078..1082 "self"
            Colon@1082..1083 ":"
            Whitespace@1083..1084 " "
            TYPE_TAPP@1084..1088
              PATH@1084..1088
                Ident@1084..1088 "Self"
          RParen@1088..1089 ")"
          Whitespace@1089..1090 " "
        Arrow@1090..1092 "->"
        Whitespace@1092..1093 " "
        TYPE_TAPP@1093..1103
          PATH@1093..1103
            Ident@1093..1097 "Self"
            ColonColon@1097..1099 "::"
            Ident@1099..1103 "Item"
      Semi@1103..1104 ";"
      Whitespace@1104..1105 "\n"
      RBrace@1105..1106 "}"
      Whitespace@1106..1108 "\n\n"
  TRAIT@1108..1161
    TraitKeyword@1108..1113 "trait"
    Whitespace@1113..1114 " "
    Ident@1114..1120 "Select"
    GENERIC_LIST@1120..1124
      LBracket@1120..1121 "["
      GENERIC@1121..1122
        Ident@1121..1122 "T"
      RBracket@1122..1123 "]"
      Whitespace@1123..1124 " "
    LBrace@1124..1125 "{"
    Whitespace@1125..1130 "\n    "
    TRAIT_METHOD_SIG_LIST@1130..1161
      TRAIT_METHOD_SIG@1130..1156
        FnKeyword@1130..1132 "fn"
        Whitespace@1132..1133 " "
        Ident@1133..1139 "select"
        PARAM_LIST@1139..1152
          LParen@1139..1140 "("
          PARAM@1140..1150
            Ident@1140..1144 "self"
            Colon@1144..1145 ":"
            Whitespace@1145..1146 " "
            TYPE_TAPP@1146..1150
              PATH@1146..1150
                Ident@1146..1150 "Self"
          RParen@1150..1151 ")"
          Whitespace@1151..1152 " "
        Arrow@1152..1154 "->"
        Whitespace@1154..1155 " "
        TYPE_TAPP@1155..1156
          PATH@1155..1156
            Ident@1155..1156 "T"
      Semi@1156..1157 ";"
      Whitespace@1157..1158 "\n"
      RBrace@1158..1159 "}"
      Whitespace@1159..1161 "\n\n"
  IMPL@1161..1296
    ImplKeyword@1161..1165 "impl"
    GENERIC_LIST@1165..1184
      LBracket@1165..1166 "["
      GENERIC@1166..1179
        Ident@1166..1167 "S"
        Colon@1167..1168 ":"
        Whitespace@1168..1169 " "
        TRAIT_SET@1169..1179
          TYPE_TAPP@1169..1179
            PATH@1169..1179
              Ident@1169..1179 "ItemSource"
      Comma@1179..1180 ","
      Whitespace@1180..1181 " "
      GENERIC@1181..1182
        Ident@1181..1182 "T"
      RBracket@1182..1183 "]"
      Whitespace@1183..1184 " "
    TYPE_TAPP@1184..1194
      PATH@1184..1190
        Ident@1184..1190 "Select"
      TYPE_PARAM_LIST@1190..1194
        LBracket@1190..1191 "["
        TYPE_TAPP@1191..1192
          PATH@1191..1192
            Ident@1191..1192 "T"
        RBracket@1192..1193 "]"
        Whitespace@1193..1194 " "
    ForKeyword@1194..1197 "for"
    Whitespace@1197..1198 " "
    TYPE_TAPP@1198..1200
      PATH@1198..1200
        Ident@1198..1199 "S"
        Whitespace@1199..1200 "\n"
    WHERE_CLAUSE@1200..1224
      WhereKeyword@1200..1205 "where"
      Whitespace@1205..1210 "\n    "
      WHERE_PREDICATE@1210..1222
        TYPE_TAPP@1210..1218
          PATH@1210..1218
            Ident@1210..1211 "S"
            ColonColon@1211..1213 "::"
            Ident@1213..1217 "Item"
            Whitespace@1217..1218 " "
        EqEq@1218..1220 "=="
        Whitespace@1220..1221 " "
        TYPE_TAPP@1221..1222
          PATH@1221..1222
            Ident@1221..1222 "T"
      Comma@1222..1223 ","
      Whitespace@1223..1224 "\n"
    LBrace@1224..1225 "{"
    Whitespace@1225..1230 "\n    "
    FN@1230..1293
      FnKeyword@1230..1232 "fn"
      Whitespace@1232..1233 " "
      Ident@1233..1239 "select"
      PARAM_LIST@1239..1249
        LParen@1239..1240 "("
        PARAM@1240..1247
          Ident@1240..1244 "self"
          Colon@1244..1245 ":"
          Whitespace@1245..1246 " "
          TYPE_TAPP@1246..1247
            PATH@1246..1247
              Ident@1246..1247 "S"
        RParen@1247..1248 ")"
        Whitespace@1248..1249 " "
      Arrow@1249..1251 "->"
      Whitespace@1251..1252 " "
      TYPE_TAPP@1252..1254
        PATH@1252..1254
          Ident@1252..1253 "T"
          Whitespace@1253..1254 " "
      BLOCK@1254..1293
        LBrace@1254..1255 "{"
        Whitespace@1255..1264 "\n        "
        EXPR_CALL@1264..1291
          EXPR_IDENT@1264..1280
            PATH@1264..1280
              Ident@1264..1274 "ItemSource"
              ColonColon@1274..1276 "::"
              Ident@1276..1280 "item"
          ARG_LIST@1280..1291
            LParen@1280..1281 "("
            ARG@1281..1285
              EXPR_IDENT@1281..1285
                PATH@1281..1285
                  Ident@1281..1285 "self"
            RParen@1285..1286 ")"
            Whitespace@1286..1291 "\n    "
        RBrace@1291..1292 "}"
        Whitespace@1292..1293 "\n"
    RBrace@1293..1294 "}"
    Whitespace@1294..1296 "\n\n"
  STRUCT@1296..1335
    StructKeyword@1296..1302 "struct"
    Whitespace@1302..1303 " "
    Ident@1303..1311 "Selected"
    Whitespace@1311..1312 " "
    LBrace@1312..1313 "{"
    Whitespace@1313..1318 "\n    "
    STRUCT_FIELD_LIST@1318..1335
      STRUCT_FIELD@1318..1330
        Ident@1318..1323 "value"
        Colon@1323..1324 ":"
        Whitespace@1324..1325 " "
        TYPE_INT32@1325..1330
          Int32Keyword@1325..1330 "int32"
      Comma@1330..1331 ","
      Whitespace@1331..1332 "\n"
      RBrace@1332..1333 "}"
      Whitespace@1333..1335 "\n\n"
  IMPL@1335..1457
    ImplKeyword@1335..1339 "impl"
    Whitespace@1339..1340 " "
    TYPE_TAPP@1340..1351
      PATH@1340..1351
        Ident@1340..1350 "ItemSource"
        Whitespace@1350..1351 " "
    ForKeyword@1351..1354 "for"
    Whitespace@1354..1355 " "
    TYPE_TAPP@1355..1364
      PATH@1355..1364
        Ident@1355..1363 "Selected"
        Whitespace@1363..1364 " "
    LBrace@1364..1365 "{"
    Whitespace@1365..1370 "\n    "
    IMPL_ASSOCIATED_TYPE@1370..1394
      TypeKeyword@1370..1374 "type"
      Whitespace@1374..1375 " "
      Ident@1375..1379 "Item"
      Whitespace@1379..1380 " "
      Eq@1380..1381 "="
      Whitespace@1381..1382 " "
      TYPE_INT32@1382..1387
        Int32Keyword@1382..1387 "int32"
      Semi@1387..1388 ";"
      Whitespace@1388..1394 "\n\n    "
    FN@1394..1454
      FnKeyword@1394..1396 "fn"
      Whitespace@1396..1397 " "
      Ident@1397..1401 "item"
      PARAM_LIST@1401..1418
        LParen@1401..1402 "("
        PARAM@1402..1416
          Ident@1402..1406 "self"
          Colon@1406..1407 ":"
          Whitespace@1407..1408 " "
          TYPE_TAPP@1408..1416
            PATH@1408..1416
              Ident@1408..1416 "Selected"
        RParen@1416..1417 ")"
        Whitespace@1417..1418 " "
      Arrow@1418..1420 "->"
      Whitespace@1420..1421 " "
      TYPE_INT32@1421..1427
        Int32Keyword@1421..1426 "int32"
        Whitespace@1426..1427 " "
      BLOCK@1427..1454
        LBrace@1427..1428 "{"
        Whitespace@1428..1437 "\n        "
        EXPR_BINARY@1437..1452
          EXPR_IDENT@1437..1441
            PATH@1437..1441
              Ident@1437..1441 "self"
          Dot@1441..1442 "."
          EXPR_IDENT@1442..1452
            PATH@1442..1452
              Ident@1442..1447 "value"
              Whitespace@1447..1452 "\n    "
        RBrace@1452..1453 "}"
        Whitespace@1453..1454 "\n"
    RBrace@1454..1455 "}"
    Whitespace@1455..1457 "\n\n"
  FN@1457..1525
    FnKeyword@1457..1459 "fn"
    Whitespace@1459..1460 " "
    Ident@1460..1466 "invoke"
    GENERIC_LIST@1466..1483
      LBracket@1466..1467 "["
      GENERIC@1467..1468
        Ident@1467..1468 "T"
      Comma@1468..1469 ","
      Whitespace@1469..1470 " "
      GENERIC@1470..1482
        Ident@1470..1471 "S"
        Colon@1471..1472 ":"
        Whitespace@1472..1473 " "
        TRAIT_SET@1473..1482
          TYPE_TAPP@1473..1482
            PATH@1473..1479
              Ident@1473..1479 "Select"
            TYPE_PARAM_LIST@1479..1482
              LBracket@1479..1480 "["
              TYPE_TAPP@1480..1481
                PATH@1480..1481
                  Ident@1480..1481 "T"
              RBracket@1481..1482 "]"
      RBracket@1482..1483 "]"
    PARAM_LIST@1483..1495
      LParen@1483..1484 "("
      PARAM@1484..1493
        Ident@1484..1490 "source"
        Colon@1490..1491 ":"
        Whitespace@1491..1492 " "
        TYPE_TAPP@1492..1493
          PATH@1492..1493
            Ident@1492..1493 "S"
      RParen@1493..1494 ")"
      Whitespace@1494..1495 " "
    Arrow@1495..1497 "->"
    Whitespace@1497..1498 " "
    TYPE_TAPP@1498..1500
      PATH@1498..1500
        Ident@1498..1499 "T"
        Whitespace@1499..1500 " "
    BLOCK@1500..1525
      LBrace@1500..1501 "{"
      Whitespace@1501..1506 "\n    "
      EXPR_CALL@1506..1522
        EXPR_BINARY@1506..1519
          EXPR_IDENT@1506..1512
            PATH@1506..1512
              Ident@1506..1512 "source"
          Dot@1512..1513 "."
          EXPR_IDENT@1513..1519
            PATH@1513..1519
              Ident@1513..1519 "select"
        ARG_LIST@1519..1522
          LParen@1519..1520 "("
          RParen@1520..1521 ")"
          Whitespace@1521..1522 "\n"
      RBrace@1522..1523 "}"
      Whitespace@1523..1525 "\n\n"
  FN@1525..1601
    FnKeyword@1525..1527 "fn"
    Whitespace@1527..1528 " "
    Ident@1528..1539 "select_item"
    GENERIC_LIST@1539..1554
      LBracket@1539..1540 "["
      GENERIC@1540..1553
        Ident@1540..1541 "S"
        Colon@1541..1542 ":"
        Whitespace@1542..1543 " "
        TRAIT_SET@1543..1553
          TYPE_TAPP@1543..1553
            PATH@1543..1553
              Ident@1543..1553 "ItemSource"
      RBracket@1553..1554 "]"
    PARAM_LIST@1554..1566
      LParen@1554..1555 "("
      PARAM@1555..1564
        Ident@1555..1561 "source"
        Colon@1561..1562 ":"
        Whitespace@1562..1563 " "
        TYPE_TAPP@1563..1564
          PATH@1563..1564
            Ident@1563..1564 "S"
      RParen@1564..1565 ")"
      Whitespace@1565..1566 " "
    Arrow@1566..1568 "->"
    Whitespace@1568..1569 " "
    TYPE_TAPP@1569..1577
      PATH@1569..1577
        Ident@1569..1570 "S"
        ColonColon@1570..1572 "::"
        Ident@1572..1576 "Item"
        Whitespace@1576..1577 " "
    BLOCK@1577..1601
      LBrace@1577..1578 "{"
      Whitespace@1578..1583 "\n    "
      EXPR_CALL@1583..1598
        EXPR_IDENT@1583..1589
          PATH@1583..1589
            Ident@1583..1589 "invoke"
        ARG_LIST@1589..1598
          LParen@1589..1590 "("
          ARG@1590..1596
            EXPR_IDENT@1590..1596
              PATH@1590..1596
                Ident@1590..1596 "source"
          RParen@1596..1597 ")"
          Whitespace@1597..1598 "\n"
      RBrace@1598..1599 "}"
      Whitespace@1599..1601 "\n\n"
  FN@1601..1926
    FnKeyword@1601..1603 "fn"
    Whitespace@1603..1604 " "
    Ident@1604..1608 "main"
    PARAM_LIST@1608..1611
      LParen@1608..1609 "("
      RParen@1609..1610 ")"
      Whitespace@1610..1611 " "
    Arrow@1611..1613 "->"
    Whitespace@1613..1614 " "
    TYPE_UNIT@1614..1619
      UnitKeyword@1614..1618 "unit"
      Whitespace@1618..1619 " "
    BLOCK@1619..1926
      LBrace@1619..1620 "{"
      Whitespace@1620..1625 "\n    "
      STMT_EXPR@1625..1658
        EXPR_CALL@1625..1652
          EXPR_IDENT@1625..1632
            PATH@1625..1632
              Ident@1625..1632 "println"
          ARG_LIST@1632..1652
            LParen@1632..1633 "("
            ARG@1633..1651
              EXPR_CALL@1633..1651
                EXPR_BINARY@1633..1648
                  EXPR_PAREN@1633..1644
                    LParen@1633..1634 "("
                    EXPR_STRUCT_LITERAL@1634..1643
                      PATH@1634..1641
                        Ident@1634..1640 "Target"
                        Whitespace@1640..1641 " "
                      STRUCT_LITERAL_FIELD_LIST@1641..1643
                        LBrace@1641..1642 "{"
                        RBrace@1642..1643 "}"
                    RParen@1643..1644 ")"
                  Dot@1644..1645 "."
                  EXPR_IDENT@1645..1648
                    PATH@1645..1648
                      Ident@1645..1648 "put"
                ARG_LIST@1648..1651
                  LParen@1648..1649 "("
                  ARG@1649..1650
                    EXPR_INT@1649..1650
                      Int@1649..1650 "3"
                  RParen@1650..1651 ")"
            RParen@1651..1652 ")"
        Semi@1652..1653 ";"
        Whitespace@1653..1658 "\n    "
      STMT_EXPR@1658..1696
        EXPR_CALL@1658..1690
          EXPR_IDENT@1658..1665
            PATH@1658..1665
              Ident@1658..1665 "println"
          ARG_LIST@1665..1690
            LParen@1665..1666 "("
            ARG@1666..1689
              EXPR_CALL@1666..1689
                EXPR_BINARY@1666..1681
                  EXPR_PAREN@1666..1677
                    LParen@1666..1667 "("
                    EXPR_STRUCT_LITERAL@1667..1676
                      PATH@1667..1674
                        Ident@1667..1673 "Target"
                        Whitespace@1673..1674 " "
                      STRUCT_LITERAL_FIELD_LIST@1674..1676
                        LBrace@1674..1675 "{"
                        RBrace@1675..1676 "}"
                    RParen@1676..1677 ")"
                  Dot@1677..1678 "."
                  EXPR_IDENT@1678..1681
                    PATH@1678..1681
                      Ident@1678..1681 "put"
                ARG_LIST@1681..1689
                  LParen@1681..1682 "("
                  ARG@1682..1688
                    EXPR_STR@1682..1688
                      Str@1682..1688 "\"goml\""
                  RParen@1688..1689 ")"
            RParen@1689..1690 ")"
        Semi@1690..1691 ";"
        Whitespace@1691..1696 "\n    "
      STMT_LET@1696..1747
        LetKeyword@1696..1699 "let"
        Whitespace@1699..1700 " "
        PATTERN_VARIABLE@1700..1704
          Ident@1700..1704 "text"
        Colon@1704..1705 ":"
        Whitespace@1705..1706 " "
        TYPE_STRING@1706..1713
          StringKeyword@1706..1712 "string"
          Whitespace@1712..1713 " "
        Eq@1713..1714 "="
        Whitespace@1714..1715 " "
        EXPR_CALL@1715..1741
          EXPR_BINARY@1715..1739
            EXPR_PAREN@1715..1731
              LParen@1715..1716 "("
              EXPR_STRUCT_LITERAL@1716..1730
                PATH@1716..1728
                  Ident@1716..1727 "Convertible"
                  Whitespace@1727..1728 " "
                STRUCT_LITERAL_FIELD_LIST@1728..1730
                  LBrace@1728..1729 "{"
                  RBrace@1729..1730 "}"
              RParen@1730..1731 ")"
            Dot@1731..1732 "."
            EXPR_IDENT@1732..1739
              PATH@1732..1739
                Ident@1732..1739 "convert"
          ARG_LIST@1739..1741
            LParen@1739..1740 "("
            RParen@1740..1741 ")"
        Semi@1741..1742 ";"
        Whitespace@1742..1747 "\n    "
      STMT_LET@1747..1799
        LetKeyword@1747..1750 "let"
        Whitespace@1750..1751 " "
        PATTERN_VARIABLE@1751..1757
          Ident@1751..1757 "number"
        Colon@1757..1758 ":"
        Whitespace@1758..1759 " "
        TYPE_INT32@1759..1765
          Int32Keyword@1759..1764 "int32"
          Whitespace@1764..1765 " "
        Eq@1765..1766 "="
        Whitespace@1766..1767 " "
        EXPR_CALL@1767..1793
          EXPR_BINARY@1767..1791
            EXPR_PAREN@1767..1783
              LParen@1767..1768 "("
              EXPR_STRUCT_LITERAL@1768..1782
                PATH@1768..1780
                  Ident@1768..1779 "Convertible"
                  Whitespace@1779..1780 " "
                STRUCT_LITERAL_FIELD_LIST@1780..1782
                  LBrace@1780..1781 "{"
                  RBrace@1781..1782 "}"
              RParen@1782..1783 ")"
            Dot@1783..1784 "."
            EXPR_IDENT@1784..1791
              PATH@1784..1791
                Ident@1784..1791 "convert"
          ARG_LIST@1791..1793
            LParen@1791..1792 "("
            RParen@1792..1793 ")"
        Semi@1793..1794 ";"
        Whitespace@1794..1799 "\n    "
      STMT_EXPR@1799..1818
        EXPR_CALL@1799..1812
          EXPR_IDENT@1799..1806
            PATH@1799..1806
              Ident@1799..1806 "println"
          ARG_LIST@1806..1812
            LParen@1806..1807 "("
            ARG@1807..1811
              EXPR_IDENT@1807..1811
                PATH@1807..1811
                  Ident@1807..1811 "text"
            RParen@1811..1812 ")"
        Semi@1812..1813 ";"
        Whitespace@1813..1818 "\n    "
      STMT_EXPR@1818..1839
        EXPR_CALL@1818..1833
          EXPR_IDENT@1818..1825
            PATH@1818..1825
              Ident@1818..1825 "println"
          ARG_LIST@1825..1833
            LParen@1825..1826 "("
            ARG@1826..1832
              EXPR_IDENT@1826..1832
                PATH@1826..1832
                  Ident@1826..1832 "number"
            RParen@1832..1833 ")"
        Semi@1833..1834 ";"
        Whitespace@1834..1839 "\n    "
      STMT_EXPR@1839..1879
        EXPR_CALL@1839..1873
          EXPR_IDENT@1839..1846
            PATH@1839..1846
              Ident@1839..1846 "println"
          ARG_LIST@1846..1873
            LParen@1846..1847 "("
            ARG@1847..1872
              EXPR_CALL@1847..1872
                EXPR_IDENT@1847..1851
                  PATH@1847..1851
                    Ident@1847..1851 "read"
                ARG_LIST@1851..1872
                  LParen@1851..1852 "("
                  ARG@1852..1871
                    EXPR_STRUCT_LITERAL@1852..1871
                      PATH@1852..1859
                        Ident@1852..1858 "Number"
                        Whitespace@1858..1859 " "
                      STRUCT_LITERAL_FIELD_LIST@1859..1871
                        LBrace@1859..1860 "{"
                        Whitespace@1860..1861 " "
                        STRUCT_LITERAL_FIELD@1861..1870
                          Ident@1861..1866 "value"
                          Colon@1866..1867 ":"
                          Whitespace@1867..1868 " "
                          EXPR_INT@1868..1870
                            Int@1868..1869 "8"
                            Whitespace@1869..1870 " "
                        RBrace@1870..1871 "}"
                  RParen@1871..1872 ")"
            RParen@1872..1873 ")"
        Semi@1873..1874 ";"
        Whitespace@1874..1879 "\n    "
      STMT_EXPR@1879..1924
        EXPR_CALL@1879..1922
          EXPR_IDENT@1879..1886
            PATH@1879..1886
              Ident@1879..1886 "println"
          ARG_LIST@1886..1922
            LParen@1886..1887 "("
            ARG@1887..1921
              EXPR_CALL@1887..1921
                EXPR_IDENT@1887..1898
                  PATH@1887..1898
                    Ident@1887..1898 "select_item"
                ARG_LIST@1898..1921
                  LParen@1898..1899 "("
                  ARG@1899..1920
                    EXPR_STRUCT_LITERAL@1899..1920
                      PATH@1899..1908
                        Ident@1899..1907 "Selected"
                        Whitespace@1907..1908 " "
                      STRUCT_LITERAL_FIELD_LIST@1908..1920
                        LBrace@1908..1909 "{"
                        Whitespace@1909..1910 " "
                        STRUCT_LITERAL_FIELD@1910..1919
                          Ident@1910..1915 "value"
                          Colon@1915..1916 ":"
                          Whitespace@1916..1917 " "
                          EXPR_INT@1917..1919
                            Int@1917..1918 "9"
                            Whitespace@1918..1919 " "
                        RBrace@1919..1920 "}"
                  RParen@1920..1921 ")"
            RParen@1921..1922 ")"
        Semi@1922..1923 ";"
        Whitespace@1923..1924 "\n"
      RBrace@1924..1925 "}"
      Whitespace@1925..1926 "\n"