FILE@0..403
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Ident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Ident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          ENUM_TUPLE_FIELD@22..26
            TYPE_BOOL@22..26
              BoolKeyword@22..26 "bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          ENUM_TUPLE_FIELD@28..32
            TYPE_BOOL@28..32
              BoolKeyword@28..32 "bool"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  FN@38..266
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Ident@41..45 "test"
    PARAM_LIST@45..52
      LParen@45..46 "("
      PARAM@46..50
        Ident@46..47 "t"
        Colon@47..48 ":"
        Whitespace@48..49 " "
        TYPE_TAPP@49..50
          PATH@49..50
            Ident@49..50 "T"
      RParen@50..51 ")"
      Whitespace@51..52 " "
    Arrow@52..54 "->"
    Whitespace@54..55 " "
    TYPE_TUPLE@55..58
      TYPE_LIST@55..58
        LParen@55..56 "("
        RParen@56..57 ")"
        Whitespace@57..58 " "
    BLOCK@58..266
      LBrace@58..59 "{"
      Whitespace@59..64 "\n    "
      EXPR_MATCH@64..263
        MatchKeyword@64..69 "match"
        Whitespace@69..70 " "
        EXPR_IDENT@70..72
          PATH@70..72
            Ident@70..71 "t"
            Whitespace@71..72 " "
        MATCH_ARM_LIST@72..263
          LBrace@72..73 "{"
          Whitespace@73..82 "\n        "
          MATCH_ARM@82..111
            PATTERN_CONSTR@82..84
              PATH@82..84
                Ident@82..83 "A"
                Whitespace@83..84 " "
            FatArrow@84..86 "=>"
            Whitespace@86..87 " "
            EXPR_CALL@87..111
              EXPR_IDENT@87..94
                PATH@87..94
                  Ident@87..94 "println"
              ARG_LIST@94..111
                LParen@94..95 "("
                ARG@95..110
                  EXPR_CALL@95..110
                    EXPR_BINARY@95..108
                      EXPR_PAREN@95..98
                        LParen@95..96 "("
                        EXPR_INT@96..97
                          Int@96..97 "1"
                        RParen@97..98 ")"
                      Dot@98..99 "."
                      EXPR_IDENT@99..108
                        PATH@99..108
                          Ident@99..108 "to_string"
                    ARG_LIST@108..110
                      LParen@108..109 "("
                      RParen@109..110 ")"
                RParen@110..111 ")"
          Comma@111..112 ","
          Whitespace@112..121 "\n        "
          MATCH_ARM@121..164
            PATTERN_CONSTR@121..137
              PATH@121..122
                Ident@121..122 "B"
              LParen@122..123 "("
              PATTERN_BOOL@123..128
                FalseKeyword@123..128 "false"
              Comma@128..129 ","
              Whitespace@129..130 " "
              PATTERN_BOOL@130..135
                FalseKeyword@130..135 "false"
              RParen@135..136 ")"
              Whitespace@136..137 " "
            FatArrow@137..139 "=>"
            Whitespace@139..140 " "
            EXPR_CALL@140..164
              EXPR_IDENT@140..147
                PATH@140..147
                  Ident@140..147 "println"
              ARG_LIST@147..164
                LParen@147..148 "("
                ARG@148..163
                  EXPR_CALL@148..163
                    EXPR_BINARY@148..161
                      EXPR_PAREN@148..151
                        LParen@148..149 "("
                        EXPR_INT@149..150
                          Int@149..150 "2"
                        RParen@150..151 ")"
                      Dot@151..152 "."
                      EXPR_IDENT@152..161
                        PATH@152..161
                          Ident@152..161 "to_string"
                    ARG_LIST@161..163
                      LParen@161..162 "("
                      RParen@162..163 ")"
                RParen@163..164 ")"
          Comma@164..165 ","
          Whitespace@165..174 "\n        "
          MATCH_ARM@174..216
            PATTERN_CONSTR@174..189
              PATH@174..175
                Ident@174..175 "B"
              LParen@175..176 "("
              PATTERN_BOOL@176..181
                FalseKeyword@176..181 "false"
              Comma@181..182 ","
              Whitespace@182..183 " "
              PATTERN_BOOL@183..187
                TrueKeyword@183..187 "true"
              RParen@187..188 ")"
              Whitespace@188..189 " "
            FatArrow@189..191 "=>"
            Whitespace@191..192 " "
            EXPR_CALL@192..216
              EXPR_IDENT@192..199
                PATH@192..199
                  Ident@192..199 "println"
              ARG_LIST@199..216
                LParen@199..200 "("
                ARG@200..215
                  EXPR_CALL@200..215
                    EXPR_BINARY@200..213
                      EXPR_PAREN@200..203
                        LParen@200..201 "("
                        EXPR_INT@201..202
                          Int@201..202 "3"
                        RParen@202..203 ")"
                      Dot@203..204 "."
                      EXPR_IDENT@204..213
                        PATH@204..213
                          Ident@204..213 "to_string"
                    ARG_LIST@213..215
                      LParen@213..214 "("
                      RParen@214..215 ")"
                RParen@215..216 ")"
          Comma@216..217 ","
          Whitespace@217..226 "\n        "
          MATCH_ARM@226..255
            PATTERN_WILDCARD@226..228
              WildcardKeyword@226..227 "_"
              Whitespace@227..228 " "
            FatArrow@228..230 "=>"
            Whitespace@230..231 " "
            EXPR_CALL@231..255
              EXPR_IDENT@231..238
                PATH@231..238
                  Ident@231..238 "println"
              ARG_LIST@238..255
                LParen@238..239 "("
                ARG@239..254
                  EXPR_CALL@239..254
                    EXPR_BINARY@239..252
                      EXPR_PAREN@239..242
                        LParen@239..240 "("
                        EXPR_INT@240..241
                          Int@240..241 "4"
                        RParen@241..242 ")"
                      Dot@242..243 "."
                      EXPR_IDENT@243..252
                        PATH@243..252
                          Ident@243..252 "to_string"
                    ARG_LIST@252..254
                      LParen@252..253 "("
                      RParen@253..254 ")"
                RParen@254..255 ")"
          Comma@255..256 ","
          Whitespace@256..261 "\n    "
          RBrace@261..262 "}"
          Whitespace@262..263 "\n"
      RBrace@263..264 "}"
      Whitespace@264..266 "\n\n"
  FN@266..403
    FnKeyword@266..268 "fn"
    Whitespace@268..269 " "
    Ident@269..273 "main"
    PARAM_LIST@273..276
      LParen@273..274 "("
      RParen@274..275 ")"
      Whitespace@275..276 " "
    BLOCK@276..403
      LBrace@276..277 "{"
      Whitespace@277..282 "\n    "
      STMT_LET@282..315
        LetKeyword@282..285 "let"
        Whitespace@285..286 " "
        PATTERN_WILDCARD@286..288
          WildcardKeyword@286..287 "_"
          Whitespace@287..288 " "
        Eq@288..289 "="
        Whitespace@289..290 " "
        EXPR_CALL@290..309
          EXPR_IDENT@290..294
            PATH@290..294
              Ident@290..294 "test"
          ARG_LIST@294..309
            LParen@294..295 "("
            ARG@295..308
              EXPR_CALL@295..308
                EXPR_IDENT@295..296
                  PATH@295..296
                    Ident@295..296 "B"
                ARG_LIST@296..308
                  LParen@296..297 "("
                  ARG@297..303
                    EXPR_BOOL@297..301
                      TrueKeyword@297..301 "true"
                    Comma@301..302 ","
                    Whitespace@302..303 " "
                  ARG@303..307
                    EXPR_BOOL@303..307
                      TrueKeyword@303..307 "true"
                  RParen@307..308 ")"
            RParen@308..309 ")"
        Semi@309..310 ";"
        Whitespace@310..315 "\n    "
      STMT_LET@315..349
        LetKeyword@315..318 "let"
        Whitespace@318..319 " "
        PATTERN_WILDCARD@319..321
          WildcardKeyword@319..320 "_"
          Whitespace@320..321 " "
        Eq@321..322 "="
        Whitespace@322..323 " "
        EXPR_CALL@323..343
          EXPR_IDENT@323..327
            PATH@323..327
              Ident@323..327 "test"
          ARG_LIST@327..343
            LParen@327..328 "("
            ARG@328..342
              EXPR_CALL@328..342
                EXPR_IDENT@328..329
                  PATH@328..329
                    Ident@328..329 "B"
                ARG_LIST@329..342
                  LParen@329..330 "("
                  ARG@330..337
                    EXPR_BOOL@330..335
                      FalseKeyword@330..335 "false"
                    Comma@335..336 ","
                    Whitespace@336..337 " "
                  ARG@337..341
                    EXPR_BOOL@337..341
                      TrueKeyword@337..341 "true"
                  RParen@341..342 ")"
            RParen@342..343 ")"
        Semi@343..344 ";"
        Whitespace@344..349 "\n    "
      STMT_LET@349..384
        LetKeyword@349..352 "let"
        Whitespace@352..353 " "
        PATTERN_WILDCARD@353..355
          WildcardKeyword@353..354 "_"
          Whitespace@354..355 " "
        Eq@355..356 "="
        Whitespace@356..357 " "
        EXPR_CALL@357..378
          EXPR_IDENT@357..361
            PATH@357..361
              Ident@357..361 "test"
          ARG_LIST@361..378
            LParen@361..362 "("
            ARG@362..377
              EXPR_CALL@362..377
                EXPR_IDENT@362..363
                  PATH@362..363
                    Ident@362..363 "B"
                ARG_LIST@363..377
                  LParen@363..364 "("
                  ARG@364..371
                    EXPR_BOOL@364..369
                      FalseKeyword@364..369 "false"
                    Comma@369..370 ","
                    Whitespace@370..371 " "
                  ARG@371..376
                    EXPR_BOOL@371..376
                      FalseKeyword@371..376 "false"
                  RParen@376..377 ")"
            RParen@377..378 ")"
        Semi@378..379 ";"
        Whitespace@379..384 "\n    "
      STMT_LET@384..401
        LetKeyword@384..387 "let"
        Whitespace@387..388 " "
        PATTERN_WILDCARD@388..390
          WildcardKeyword@388..389 "_"
          Whitespace@389..390 " "
        Eq@390..391 "="
        Whitespace@391..392 " "
        EXPR_CALL@392..399
          EXPR_IDENT@392..396
            PATH@392..396
              Ident@392..396 "test"
          ARG_LIST@396..399
            LParen@396..397 "("
            ARG@397..398
              EXPR_IDENT@397..398
                PATH@397..398
                  Ident@397..398 "A"
            RParen@398..399 ")"
        Semi@399..400 ";"
        Whitespace@400..401 "\n"
      RBrace@401..402 "}"
      Whitespace@402..403 "\n"