FILE@0..412
  TRAIT@0..51
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Show"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..51
      TRAIT_METHOD_SIG@17..48
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..24 "show"
        PARAM_LIST@24..37
          LParen@24..25 "("
          PARAM@25..35
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Semi@46..47 ";"
        Whitespace@47..48 "\n"
      RBrace@48..49 "}"
      Whitespace@49..51 "\n\n"
  STRUCT@51..85
    StructKeyword@51..57 "struct"
    Whitespace@57..58 " "
    Ident@58..62 "Wrap"
    GENERIC_LIST@62..66
      LBracket@62..63 "["
      GENERIC@63..64
        Ident@63..64 "T"
      RBracket@64..65 "]"
      Whitespace@65..66 " "
    LBrace@66..67 "{"
    Whitespace@67..72 "\n    "
    STRUCT_FIELD_LIST@72..85
      STRUCT_FIELD@72..80
        Ident@72..77 "value"
        Colon@77..78 ":"
        Whitespace@78..79 " "
        TYPE_TAPP@79..80
          PATH@79..80
            Ident@79..80 "T"
      Comma@80..81 ","
      Whitespace@81..82 "\n"
      RBrace@82..83 "}"
      Whitespace@83..85 "\n\n"
  IMPL@85..192
    ImplKeyword@85..89 "impl"
    Whitespace@89..90 " "
    TYPE_TAPP@90..95
      PATH@90..95
        Ident@90..94 "Show"
        Whitespace@94..95 " "
    ForKeyword@95..98 "for"
    Whitespace@98..99 " "
    TYPE_TAPP@99..109
      PATH@99..103
        Ident@99..103 "Wrap"
      TYPE_PARAM_LIST@103..109
        LBracket@103..104 "["
        TYPE_INT32@104..107
          I32Keyword@104..107 "i32"
        RBracket@107..108 "]"
        Whitespace@108..109 " "
    LBrace@109..110 "{"
    Whitespace@110..115 "\n    "
    FN@115..189
      FnKeyword@115..117 "fn"
      Whitespace@117..118 " "
      Ident@118..122 "show"
      PARAM_LIST@122..140
        LParen@122..123 "("
        PARAM@123..138
          Ident@123..127 "self"
          Colon@127..128 ":"
          Whitespace@128..129 " "
          TYPE_TAPP@129..138
            PATH@129..133
              Ident@129..133 "Wrap"
            TYPE_PARAM_LIST@133..138
              LBracket@133..134 "["
              TYPE_INT32@134..137
                I32Keyword@134..137 "i32"
              RBracket@137..138 "]"
        RParen@138..139 ")"
        Whitespace@139..140 " "
      Arrow@140..142 "->"
      Whitespace@142..143 " "
      TYPE_STRING@143..150
        StringKeyword@143..149 "string"
        Whitespace@149..150 " "
      BLOCK@150..189
        LBrace@150..151 "{"
        Whitespace@151..160 "\n        "
        EXPR_CALL@160..187
          EXPR_BINARY@160..180
            EXPR_BINARY@160..170
              EXPR_IDENT@160..164
                PATH@160..164
                  Ident@160..164 "self"
              Dot@164..165 "."
              EXPR_IDENT@165..170
                PATH@165..170
                  Ident@165..170 "value"
            Dot@170..171 "."
            EXPR_IDENT@171..180
              PATH@171..180
                Ident@171..180 "to_string"
          ARG_LIST@180..187
            LParen@180..181 "("
            RParen@181..182 ")"
            Whitespace@182..187 "\n    "
        RBrace@187..188 "}"
        Whitespace@188..189 "\n"
    RBrace@189..190 "}"
    Whitespace@190..192 "\n\n"
  FN@192..253
    FnKeyword@192..194 "fn"
    Whitespace@194..195 " "
    Ident@195..204 "make_wrap"
    GENERIC_LIST@204..207
      LBracket@204..205 "["
      GENERIC@205..206
        Ident@205..206 "T"
      RBracket@206..207 "]"
    PARAM_LIST@207..218
      LParen@207..208 "("
      PARAM@208..216
        Ident@208..213 "value"
        Colon@213..214 ":"
        Whitespace@214..215 " "
        TYPE_TAPP@215..216
          PATH@215..216
            Ident@215..216 "T"
      RParen@216..217 ")"
      Whitespace@217..218 " "
    Arrow@218..220 "->"
    Whitespace@220..221 " "
    TYPE_TAPP@221..229
      PATH@221..225
        Ident@221..225 "Wrap"
      TYPE_PARAM_LIST@225..229
        LBracket@225..226 "["
        TYPE_TAPP@226..227
          PATH@226..227
            Ident@226..227 "T"
        RBracket@227..228 "]"
        Whitespace@228..229 " "
    BLOCK@229..253
      LBrace@229..230 "{"
      Whitespace@230..235 "\n    "
      EXPR_STRUCT_LITERAL@235..250
        PATH@235..240
          Ident@235..239 "Wrap"
          Whitespace@239..240 " "
        STRUCT_LITERAL_FIELD_LIST@240..250
          LBrace@240..241 "{"
          Whitespace@241..242 " "
          STRUCT_LITERAL_FIELD@242..248
            Ident@242..247 "value"
            Whitespace@247..248 " "
          RBrace@248..249 "}"
          Whitespace@249..250 "\n"
      RBrace@250..251 "}"
      Whitespace@251..253 "\n\n"
  FN@253..317
    FnKeyword@253..255 "fn"
    Whitespace@255..256 " "
    Ident@256..262 "render"
    PARAM_LIST@262..280
      LParen@262..263 "("
      PARAM@263..278
        Ident@263..268 "value"
        Colon@268..269 ":"
        Whitespace@269..270 " "
        TYPE_DYN@270..278
          DynKeyword@270..273 "dyn"
          Whitespace@273..274 " "
          DYN_BOUND@274..278
            PATH@274..278
              Ident@274..278 "Show"
      RParen@278..279 ")"
      Whitespace@279..280 " "
    Arrow@280..282 "->"
    Whitespace@282..283 " "
    TYPE_STRING@283..290
      StringKeyword@283..289 "string"
      Whitespace@289..290 " "
    BLOCK@290..317
      LBrace@290..291 "{"
      Whitespace@291..296 "\n    "
      EXPR_CALL@296..314
        EXPR_IDENT@296..306
          PATH@296..306
            Ident@296..300 "Show"
            ColonColon@300..302 "::"
            Ident@302..306 "show"
        ARG_LIST@306..314
          LParen@306..307 "("
          ARG@307..312
            EXPR_IDENT@307..312
              PATH@307..312
                Ident@307..312 "value"
          RParen@312..313 ")"
          Whitespace@313..314 "\n"
      RBrace@314..315 "}"
      Whitespace@315..317 "\n\n"
  FN@317..412
    FnKeyword@317..319 "fn"
    Whitespace@319..320 " "
    Ident@320..324 "main"
    PARAM_LIST@324..327
      LParen@324..325 "("
      RParen@325..326 ")"
      Whitespace@326..327 " "
    Arrow@327..329 "->"
    Whitespace@329..330 " "
    TYPE_TUPLE@330..333
      TYPE_LIST@330..333
        LParen@330..331 "("
        RParen@331..332 ")"
        Whitespace@332..333 " "
    BLOCK@333..412
      LBrace@333..334 "{"
      Whitespace@334..339 "\n    "
      STMT_LET@339..364
        LetKeyword@339..342 "let"
        Whitespace@342..343 " "
        PATTERN_VARIABLE@343..348
          Ident@343..348 "value"
        Colon@348..349 ":"
        Whitespace@349..350 " "
        TYPE_INT32@350..354
          I32Keyword@350..353 "i32"
          Whitespace@353..354 " "
        Eq@354..355 "="
        Whitespace@355..356 " "
        EXPR_INT@356..358
          Int@356..358 "42"
        Semi@358..359 ";"
        Whitespace@359..364 "\n    "
      EXPR_CALL@364..410
        EXPR_IDENT@364..371
          PATH@364..371
            Ident@364..371 "println"
        ARG_LIST@371..410
          LParen@371..372 "("
          ARG@372..408
            EXPR_CALL@372..408
              EXPR_IDENT@372..378
                PATH@372..378
                  Ident@372..378 "render"
              ARG_LIST@378..408
                LParen@378..379 "("
                ARG@379..407
                  EXPR_CAST@379..407
                    EXPR_CALL@379..396
                      EXPR_IDENT@379..388
                        PATH@379..388
                          Ident@379..388 "make_wrap"
                      ARG_LIST@388..396
                        LParen@388..389 "("
                        ARG@389..394
                          EXPR_IDENT@389..394
                            PATH@389..394
                              Ident@389..394 "value"
                        RParen@394..395 ")"
                        Whitespace@395..396 " "
                    AsKeyword@396..398 "as"
                    Whitespace@398..399 " "
                    TYPE_DYN@399..407
                      DynKeyword@399..402 "dyn"
                      Whitespace@402..403 " "
                      DYN_BOUND@403..407
                        PATH@403..407
                          Ident@403..407 "Show"
                RParen@407..408 ")"
          RParen@408..409 ")"
          Whitespace@409..410 "\n"
      RBrace@410..411 "}"
      Whitespace@411..412 "\n"