FILE@0..3572
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..12
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..12 "cmp"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..120
    ATTRIBUTE_LIST@15..64
      ATTRIBUTE@15..64
        Pound@15..16 "#"
        LBracket@16..17 "["
        Ident@17..23 "derive"
        LParen@23..24 "("
        Ident@24..33 "PartialEq"
        Comma@33..34 ","
        Whitespace@34..35 " "
        Ident@35..37 "Eq"
        Comma@37..38 ","
        Whitespace@38..39 " "
        Ident@39..49 "PartialOrd"
        Comma@49..50 ","
        Whitespace@50..51 " "
        Ident@51..54 "Ord"
        Comma@54..55 ","
        Whitespace@55..56 " "
        Ident@56..61 "Debug"
        RParen@61..62 ")"
        RBracket@62..63 "]"
        Whitespace@63..64 "\n"
    StructKeyword@64..70 "struct"
    Whitespace@70..71 " "
    Ident@71..78 "Version"
    Whitespace@78..79 " "
    LBrace@79..80 "{"
    Whitespace@80..85 "\n    "
    STRUCT_FIELD_LIST@85..120
      STRUCT_FIELD@85..97
        Ident@85..90 "major"
        Colon@90..91 ":"
        Whitespace@91..92 " "
        TYPE_INT@92..97
          IsizeKeyword@92..97 "isize"
      Comma@97..98 ","
      Whitespace@98..103 "\n    "
      STRUCT_FIELD@103..115
        Ident@103..108 "minor"
        Colon@108..109 ":"
        Whitespace@109..110 " "
        TYPE_INT@110..115
          IsizeKeyword@110..115 "isize"
      Comma@115..116 ","
      Whitespace@116..117 "\n"
      RBrace@117..118 "}"
      Whitespace@118..120 "\n\n"
  ENUM@120..282
    ATTRIBUTE_LIST@120..169
      ATTRIBUTE@120..169
        Pound@120..121 "#"
        LBracket@121..122 "["
        Ident@122..128 "derive"
        LParen@128..129 "("
        Ident@129..138 "PartialEq"
        Comma@138..139 ","
        Whitespace@139..140 " "
        Ident@140..142 "Eq"
        Comma@142..143 ","
        Whitespace@143..144 " "
        Ident@144..154 "PartialOrd"
        Comma@154..155 ","
        Whitespace@155..156 " "
        Ident@156..159 "Ord"
        Comma@159..160 ","
        Whitespace@160..161 " "
        Ident@161..166 "Debug"
        RParen@166..167 ")"
        RBracket@167..168 "]"
        Whitespace@168..169 "\n"
    EnumKeyword@169..173 "enum"
    Whitespace@173..174 " "
    Ident@174..179 "Level"
    Whitespace@179..180 " "
    LBrace@180..181 "{"
    Whitespace@181..186 "\n    "
    VARIANT_LIST@186..282
      VARIANT@186..189
        Ident@186..189 "Low"
      Comma@189..190 ","
      Whitespace@190..195 "\n    "
      VARIANT@195..215
        Ident@195..201 "Medium"
        TYPE_LIST@201..215
          LParen@201..202 "("
          ENUM_TUPLE_FIELD@202..207
            TYPE_INT@202..207
              IsizeKeyword@202..207 "isize"
          Comma@207..208 ","
          Whitespace@208..209 " "
          ENUM_TUPLE_FIELD@209..214
            TYPE_INT@209..214
              IsizeKeyword@209..214 "isize"
          RParen@214..215 ")"
      Comma@215..216 ","
      Whitespace@216..221 "\n    "
      VARIANT@221..277
        Ident@221..225 "High"
        Whitespace@225..226 " "
        LBrace@226..227 "{"
        Whitespace@227..236 "\n        "
        STRUCT_FIELD_LIST@236..277
          STRUCT_FIELD@236..247
            Ident@236..240 "rank"
            Colon@240..241 ":"
            Whitespace@241..242 " "
            TYPE_INT@242..247
              IsizeKeyword@242..247 "isize"
          Comma@247..248 ","
          Whitespace@248..257 "\n        "
          STRUCT_FIELD@257..270
            Ident@257..263 "detail"
            Colon@263..264 ":"
            Whitespace@264..265 " "
            TYPE_INT@265..270
              IsizeKeyword@265..270 "isize"
          Comma@270..271 ","
          Whitespace@271..276 "\n    "
          RBrace@276..277 "}"
      Comma@277..278 ","
      Whitespace@278..279 "\n"
      RBrace@279..280 "}"
      Whitespace@280..282 "\n\n"
  STRUCT@282..355
    ATTRIBUTE_LIST@282..315
      ATTRIBUTE@282..315
        Pound@282..283 "#"
        LBracket@283..284 "["
        Ident@284..290 "derive"
        LParen@290..291 "("
        Ident@291..300 "PartialEq"
        Comma@300..301 ","
        Whitespace@301..302 " "
        Ident@302..312 "PartialOrd"
        RParen@312..313 ")"
        RBracket@313..314 "]"
        Whitespace@314..315 "\n"
    StructKeyword@315..321 "struct"
    Whitespace@321..322 " "
    Ident@322..333 "MaybeNumber"
    Whitespace@333..334 " "
    LBrace@334..335 "{"
    Whitespace@335..340 "\n    "
    STRUCT_FIELD_LIST@340..355
      STRUCT_FIELD@340..350
        Ident@340..345 "value"
        Colon@345..346 ":"
        Whitespace@346..347 " "
        TYPE_FLOAT64@347..350
          F64Keyword@347..350 "f64"
      Comma@350..351 ","
      Whitespace@351..352 "\n"
      RBrace@352..353 "}"
      Whitespace@353..355 "\n\n"
  STRUCT@355..480
    ATTRIBUTE_LIST@355..404
      ATTRIBUTE@355..404
        Pound@355..356 "#"
        LBracket@356..357 "["
        Ident@357..363 "derive"
        LParen@363..364 "("
        Ident@364..373 "PartialEq"
        Comma@373..374 ","
        Whitespace@374..375 " "
        Ident@375..377 "Eq"
        Comma@377..378 ","
        Whitespace@378..379 " "
        Ident@379..389 "PartialOrd"
        Comma@389..390 ","
        Whitespace@390..391 " "
        Ident@391..394 "Ord"
        Comma@394..395 ","
        Whitespace@395..396 " "
        Ident@396..401 "Debug"
        RParen@401..402 ")"
        RBracket@402..403 "]"
        Whitespace@403..404 "\n"
    StructKeyword@404..410 "struct"
    Whitespace@410..411 " "
    Ident@411..422 "GenericPair"
    GENERIC_LIST@422..426
      LBracket@422..423 "["
      GENERIC@423..424
        Ident@423..424 "T"
      RBracket@424..425 "]"
      Whitespace@425..426 " "
    LBrace@426..427 "{"
    Whitespace@427..432 "\n    "
    STRUCT_FIELD_LIST@432..480
      STRUCT_FIELD@432..440
        Ident@432..437 "first"
        Colon@437..438 ":"
        Whitespace@438..439 " "
        TYPE_TAPP@439..440
          PATH@439..440
            Ident@439..440 "T"
      Comma@440..441 ","
      Whitespace@441..446 "\n    "
      STRUCT_FIELD@446..455
        Ident@446..452 "second"
        Colon@452..453 ":"
        Whitespace@453..454 " "
        TYPE_TAPP@454..455
          PATH@454..455
            Ident@454..455 "T"
      Comma@455..456 ","
      Whitespace@456..461 "\n    "
      STRUCT_FIELD@461..475
        Ident@461..467 "nested"
        Colon@467..468 ":"
        Whitespace@468..469 " "
        TYPE_TAPP@469..475
          PATH@469..472
            Ident@469..472 "Vec"
          TYPE_PARAM_LIST@472..475
            LBracket@472..473 "["
            TYPE_TAPP@473..474
              PATH@473..474
                Ident@473..474 "T"
            RBracket@474..475 "]"
      Comma@475..476 ","
      Whitespace@476..477 "\n"
      RBrace@477..478 "}"
      Whitespace@478..480 "\n\n"
  STRUCT@480..500
    StructKeyword@480..486 "struct"
    Whitespace@486..487 " "
    Ident@487..495 "NoTraits"
    Whitespace@495..496 " "
    LBrace@496..497 "{"
    STRUCT_FIELD_LIST@497..500
      RBrace@497..498 "}"
      Whitespace@498..500 "\n\n"
  ENUM@500..586
    ATTRIBUTE_LIST@500..542
      ATTRIBUTE@500..542
        Pound@500..501 "#"
        LBracket@501..502 "["
        Ident@502..508 "derive"
        LParen@508..509 "("
        Ident@509..518 "PartialEq"
        Comma@518..519 ","
        Whitespace@519..520 " "
        Ident@520..522 "Eq"
        Comma@522..523 ","
        Whitespace@523..524 " "
        Ident@524..534 "PartialOrd"
        Comma@534..535 ","
        Whitespace@535..536 " "
        Ident@536..539 "Ord"
        RParen@539..540 ")"
        RBracket@540..541 "]"
        Whitespace@541..542 "\n"
    EnumKeyword@542..546 "enum"
    Whitespace@546..547 " "
    Ident@547..554 "Phantom"
    GENERIC_LIST@554..558
      LBracket@554..555 "["
      GENERIC@555..556
        Ident@555..556 "T"
      RBracket@556..557 "]"
      Whitespace@557..558 " "
    LBrace@558..559 "{"
    Whitespace@559..564 "\n    "
    VARIANT_LIST@564..586
      VARIANT@564..569
        Ident@564..569 "First"
      Comma@569..570 ","
      Whitespace@570..575 "\n    "
      VARIANT@575..581
        Ident@575..581 "Second"
      Comma@581..582 ","
      Whitespace@582..583 "\n"
      RBrace@583..584 "}"
      Whitespace@584..586 "\n\n"
  ENUM@586..669
    ATTRIBUTE_LIST@586..619
      ATTRIBUTE@586..619
        Pound@586..587 "#"
        LBracket@587..588 "["
        Ident@588..594 "derive"
        LParen@594..595 "("
        Ident@595..604 "PartialEq"
        Comma@604..605 ","
        Whitespace@605..606 " "
        Ident@606..616 "PartialOrd"
        RParen@616..617 ")"
        RBracket@617..618 "]"
        Whitespace@618..619 "\n"
    EnumKeyword@619..623 "enum"
    Whitespace@623..624 " "
    Ident@624..636 "PartialLevel"
    Whitespace@636..637 " "
    LBrace@637..638 "{"
    Whitespace@638..643 "\n    "
    VARIANT_LIST@643..669
      VARIANT@643..653
        Ident@643..648 "Value"
        TYPE_LIST@648..653
          LParen@648..649 "("
          ENUM_TUPLE_FIELD@649..652
            TYPE_FLOAT64@649..652
              F64Keyword@649..652 "f64"
          RParen@652..653 ")"
      Comma@653..654 ","
      Whitespace@654..659 "\n    "
      VARIANT@659..664
        Ident@659..664 "Empty"
      Comma@664..665 ","
      Whitespace@665..666 "\n"
      RBrace@666..667 "}"
      Whitespace@667..669 "\n\n"
  FN@669..872
    FnKeyword@669..671 "fn"
    Whitespace@671..672 " "
    Ident@672..685 "ordering_name"
    PARAM_LIST@685..708
      LParen@685..686 "("
      PARAM@686..706
        Ident@686..691 "value"
        Colon@691..692 ":"
        Whitespace@692..693 " "
        TYPE_TAPP@693..706
          PATH@693..706
            Ident@693..696 "cmp"
            ColonColon@696..698 "::"
            Ident@698..706 "Ordering"
      RParen@706..707 ")"
      Whitespace@707..708 " "
    Arrow@708..710 "->"
    Whitespace@710..711 " "
    TYPE_STRING@711..718
      StringKeyword@711..717 "string"
      Whitespace@717..718 " "
    BLOCK@718..872
      LBrace@718..719 "{"
      Whitespace@719..724 "\n    "
      EXPR_MATCH@724..869
        MatchKeyword@724..729 "match"
        Whitespace@729..730 " "
        EXPR_IDENT@730..736
          PATH@730..736
            Ident@730..735 "value"
            Whitespace@735..736 " "
        MATCH_ARM_LIST@736..869
          LBrace@736..737 "{"
          Whitespace@737..746 "\n        "
          MATCH_ARM@746..775
            PATTERN_CONSTR@746..766
              PATH@746..766
                Ident@746..749 "cmp"
                ColonColon@749..751 "::"
                Ident@751..759 "Ordering"
                ColonColon@759..761 "::"
                Ident@761..765 "Less"
                Whitespace@765..766 " "
            FatArrow@766..768 "=>"
            Whitespace@768..769 " "
            EXPR_STR@769..775
              Str@769..775 "\"less\""
          Comma@775..776 ","
          Whitespace@776..785 "\n        "
          MATCH_ARM@785..816
            PATTERN_CONSTR@785..806
              PATH@785..806
                Ident@785..788 "cmp"
                ColonColon@788..790 "::"
                Ident@790..798 "Ordering"
                ColonColon@798..800 "::"
                Ident@800..805 "Equal"
                Whitespace@805..806 " "
            FatArrow@806..808 "=>"
            Whitespace@808..809 " "
            EXPR_STR@809..816
              Str@809..816 "\"equal\""
          Comma@816..817 ","
          Whitespace@817..826 "\n        "
          MATCH_ARM@826..861
            PATTERN_CONSTR@826..849
              PATH@826..849
                Ident@826..829 "cmp"
                ColonColon@829..831 "::"
                Ident@831..839 "Ordering"
                ColonColon@839..841 "::"
                Ident@841..848 "Greater"
                Whitespace@848..849 " "
            FatArrow@849..851 "=>"
            Whitespace@851..852 " "
            EXPR_STR@852..861
              Str@852..861 "\"greater\""
          Comma@861..862 ","
          Whitespace@862..867 "\n    "
          RBrace@867..868 "}"
          Whitespace@868..869 "\n"
      RBrace@869..870 "}"
      Whitespace@870..872 "\n\n"
  FN@872..3572
    FnKeyword@872..874 "fn"
    Whitespace@874..875 " "
    Ident@875..879 "main"
    PARAM_LIST@879..882
      LParen@879..880 "("
      RParen@880..881 ")"
      Whitespace@881..882 " "
    Arrow@882..884 "->"
    Whitespace@884..885 " "
    TYPE_TUPLE@885..888
      TYPE_LIST@885..888
        LParen@885..886 "("
        RParen@886..887 ")"
        Whitespace@887..888 " "
    BLOCK@888..3572
      LBrace@888..889 "{"
      Whitespace@889..894 "\n    "
      STMT_LET@894..942
        LetKeyword@894..897 "let"
        Whitespace@897..898 " "
        PATTERN_VARIABLE@898..904
          Ident@898..903 "first"
          Whitespace@903..904 " "
        Eq@904..905 "="
        Whitespace@905..906 " "
        EXPR_STRUCT_LITERAL@906..936
          PATH@906..914
            Ident@906..913 "Version"
            Whitespace@913..914 " "
          STRUCT_LITERAL_FIELD_LIST@914..936
            LBrace@914..915 "{"
            Whitespace@915..916 " "
            STRUCT_LITERAL_FIELD@916..924
              Ident@916..921 "major"
              Colon@921..922 ":"
              Whitespace@922..923 " "
              EXPR_INT@923..924
                Int@923..924 "1"
            Comma@924..925 ","
            Whitespace@925..926 " "
            STRUCT_LITERAL_FIELD@926..935
              Ident@926..931 "minor"
              Colon@931..932 ":"
              Whitespace@932..933 " "
              EXPR_INT@933..935
                Int@933..934 "9"
                Whitespace@934..935 " "
            RBrace@935..936 "}"
        Semi@936..937 ";"
        Whitespace@937..942 "\n    "
      STMT_LET@942..991
        LetKeyword@942..945 "let"
        Whitespace@945..946 " "
        PATTERN_VARIABLE@946..953
          Ident@946..952 "second"
          Whitespace@952..953 " "
        Eq@953..954 "="
        Whitespace@954..955 " "
        EXPR_STRUCT_LITERAL@955..985
          PATH@955..963
            Ident@955..962 "Version"
            Whitespace@962..963 " "
          STRUCT_LITERAL_FIELD_LIST@963..985
            LBrace@963..964 "{"
            Whitespace@964..965 " "
            STRUCT_LITERAL_FIELD@965..973
              Ident@965..970 "major"
              Colon@970..971 ":"
              Whitespace@971..972 " "
              EXPR_INT@972..973
                Int@972..973 "2"
            Comma@973..974 ","
            Whitespace@974..975 " "
            STRUCT_LITERAL_FIELD@975..984
              Ident@975..980 "minor"
              Colon@980..981 ":"
              Whitespace@981..982 " "
              EXPR_INT@982..984
                Int@982..983 "0"
                Whitespace@983..984 " "
            RBrace@984..985 "}"
        Semi@985..986 ";"
        Whitespace@986..991 "\n    "
      STMT_EXPR@991..1034
        EXPR_CALL@991..1028
          EXPR_IDENT@991..998
            PATH@991..998
              Ident@991..998 "println"
          ARG_LIST@998..1028
            LParen@998..999 "("
            ARG@999..1027
              EXPR_CALL@999..1027
                EXPR_BINARY@999..1025
                  EXPR_PAREN@999..1015
                    LParen@999..1000 "("
                    EXPR_BINARY@1000..1014
                      EXPR_IDENT@1000..1006
                        PATH@1000..1006
                          Ident@1000..1005 "first"
                          Whitespace@1005..1006 " "
                      Less@1006..1007 "<"
                      Whitespace@1007..1008 " "
                      EXPR_IDENT@1008..1014
                        PATH@1008..1014
                          Ident@1008..1014 "second"
                    RParen@1014..1015 ")"
                  Dot@1015..1016 "."
                  EXPR_IDENT@1016..1025
                    PATH@1016..1025
                      Ident@1016..1025 "to_string"
                ARG_LIST@1025..1027
                  LParen@1025..1026 "("
                  RParen@1026..1027 ")"
            RParen@1027..1028 ")"
        Semi@1028..1029 ";"
        Whitespace@1029..1034 "\n    "
      STMT_EXPR@1034..1092
        EXPR_CALL@1034..1086
          EXPR_IDENT@1034..1041
            PATH@1034..1041
              Ident@1034..1041 "println"
          ARG_LIST@1041..1086
            LParen@1041..1042 "("
            ARG@1042..1085
              EXPR_CALL@1042..1085
                EXPR_IDENT@1042..1055
                  PATH@1042..1055
                    Ident@1042..1055 "ordering_name"
                ARG_LIST@1055..1085
                  LParen@1055..1056 "("
                  ARG@1056..1084
                    EXPR_CALL@1056..1084
                      EXPR_IDENT@1056..1069
                        PATH@1056..1069
                          Ident@1056..1059 "cmp"
                          ColonColon@1059..1061 "::"
                          Ident@1061..1064 "Ord"
                          ColonColon@1064..1066 "::"
                          Ident@1066..1069 "cmp"
                      ARG_LIST@1069..1084
                        LParen@1069..1070 "("
                        ARG@1070..1077
                          EXPR_IDENT@1070..1075
                            PATH@1070..1075
                              Ident@1070..1075 "first"
                          Comma@1075..1076 ","
                          Whitespace@1076..1077 " "
                        ARG@1077..1083
                          EXPR_IDENT@1077..1083
                            PATH@1077..1083
                              Ident@1077..1083 "second"
                        RParen@1083..1084 ")"
                  RParen@1084..1085 ")"
            RParen@1085..1086 ")"
        Semi@1086..1087 ";"
        Whitespace@1087..1092 "\n    "
      STMT_EXPR@1092..1153
        EXPR_CALL@1092..1147
          EXPR_IDENT@1092..1099
            PATH@1092..1099
              Ident@1092..1099 "println"
          ARG_LIST@1099..1147
            LParen@1099..1100 "("
            ARG@1100..1146
              EXPR_CALL@1100..1146
                EXPR_BINARY@1100..1144
                  EXPR_PAREN@1100..1134
                    LParen@1100..1101 "("
                    EXPR_BINARY@1101..1133
                      EXPR_IDENT@1101..1112
                        PATH@1101..1112
                          Ident@1101..1106 "Level"
                          ColonColon@1106..1108 "::"
                          Ident@1108..1111 "Low"
                          Whitespace@1111..1112 " "
                      Less@1112..1113 "<"
                      Whitespace@1113..1114 " "
                      EXPR_CALL@1114..1133
                        EXPR_IDENT@1114..1127
                          PATH@1114..1127
                            Ident@1114..1119 "Level"
                            ColonColon@1119..1121 "::"
                            Ident@1121..1127 "Medium"
                        ARG_LIST@1127..1133
                          LParen@1127..1128 "("
                          ARG@1128..1131
                            EXPR_INT@1128..1129
                              Int@1128..1129 "0"
                            Comma@1129..1130 ","
                            Whitespace@1130..1131 " "
                          ARG@1131..1132
                            EXPR_INT@1131..1132
                              Int@1131..1132 "0"
                          RParen@1132..1133 ")"
                    RParen@1133..1134 ")"
                  Dot@1134..1135 "."
                  EXPR_IDENT@1135..1144
                    PATH@1135..1144
                      Ident@1135..1144 "to_string"
                ARG_LIST@1144..1146
                  LParen@1144..1145 "("
                  RParen@1145..1146 ")"
            RParen@1146..1147 ")"
        Semi@1147..1148 ";"
        Whitespace@1148..1153 "\n    "
      STMT_EXPR@1153..1223
        EXPR_CALL@1153..1217
          EXPR_IDENT@1153..1160
            PATH@1153..1160
              Ident@1153..1160 "println"
          ARG_LIST@1160..1217
            LParen@1160..1161 "("
            ARG@1161..1216
              EXPR_CALL@1161..1216
                EXPR_BINARY@1161..1214
                  EXPR_PAREN@1161..1204
                    LParen@1161..1162 "("
                    EXPR_BINARY@1162..1203
                      EXPR_CALL@1162..1182
                        EXPR_IDENT@1162..1175
                          PATH@1162..1175
                            Ident@1162..1167 "Level"
                            ColonColon@1167..1169 "::"
                            Ident@1169..1175 "Medium"
                        ARG_LIST@1175..1182
                          LParen@1175..1176 "("
                          ARG@1176..1179
                            EXPR_INT@1176..1177
                              Int@1176..1177 "1"
                            Comma@1177..1178 ","
                            Whitespace@1178..1179 " "
                          ARG@1179..1180
                            EXPR_INT@1179..1180
                              Int@1179..1180 "9"
                          RParen@1180..1181 ")"
                          Whitespace@1181..1182 " "
                      Less@1182..1183 "<"
                      Whitespace@1183..1184 " "
                      EXPR_CALL@1184..1203
                        EXPR_IDENT@1184..1197
                          PATH@1184..1197
                            Ident@1184..1189 "Level"
                            ColonColon@1189..1191 "::"
                            Ident@1191..1197 "Medium"
                        ARG_LIST@1197..1203
                          LParen@1197..1198 "("
                          ARG@1198..1201
                            EXPR_INT@1198..1199
                              Int@1198..1199 "2"
                            Comma@1199..1200 ","
                            Whitespace@1200..1201 " "
                          ARG@1201..1202
                            EXPR_INT@1201..1202
                              Int@1201..1202 "0"
                          RParen@1202..1203 ")"
                    RParen@1203..1204 ")"
                  Dot@1204..1205 "."
                  EXPR_IDENT@1205..1214
                    PATH@1205..1214
                      Ident@1205..1214 "to_string"
                ARG_LIST@1214..1216
                  LParen@1214..1215 "("
                  RParen@1215..1216 ")"
            RParen@1216..1217 ")"
        Semi@1217..1218 ";"
        Whitespace@1218..1223 "\n    "
      STMT_EXPR@1223..1376
        EXPR_CALL@1223..1370
          EXPR_IDENT@1223..1230
            PATH@1223..1230
              Ident@1223..1230 "println"
          ARG_LIST@1230..1370
            LParen@1230..1231 "("
            Whitespace@1231..1240 "\n        "
            ARG@1240..1369
              EXPR_CALL@1240..1363
                EXPR_IDENT@1240..1253
                  PATH@1240..1253
                    Ident@1240..1253 "ordering_name"
                ARG_LIST@1253..1363
                  LParen@1253..1254 "("
                  Whitespace@1254..1267 "\n            "
                  ARG@1267..1362
                    EXPR_CALL@1267..1352
                      EXPR_IDENT@1267..1280
                        PATH@1267..1280
                          Ident@1267..1270 "cmp"
                          ColonColon@1270..1272 "::"
                          Ident@1272..1275 "Ord"
                          ColonColon@1275..1277 "::"
                          Ident@1277..1280 "cmp"
                      ARG_LIST@1280..1352
                        LParen@1280..1281 "("
                        ARG@1281..1317
                          EXPR_STRUCT_LITERAL@1281..1315
                            PATH@1281..1293
                              Ident@1281..1286 "Level"
                              ColonColon@1286..1288 "::"
                              Ident@1288..1292 "High"
                              Whitespace@1292..1293 " "
                            STRUCT_LITERAL_FIELD_LIST@1293..1315
                              LBrace@1293..1294 "{"
                              Whitespace@1294..1295 " "
                              STRUCT_LITERAL_FIELD@1295..1302
                                Ident@1295..1299 "rank"
                                Colon@1299..1300 ":"
                                Whitespace@1300..1301 " "
                                EXPR_INT@1301..1302
                                  Int@1301..1302 "3"
                              Comma@1302..1303 ","
                              Whitespace@1303..1304 " "
                              STRUCT_LITERAL_FIELD@1304..1314
                                Ident@1304..1310 "detail"
                                Colon@1310..1311 ":"
                                Whitespace@1311..1312 " "
                                EXPR_INT@1312..1314
                                  Int@1312..1313 "1"
                                  Whitespace@1313..1314 " "
                              RBrace@1314..1315 "}"
                          Comma@1315..1316 ","
                          Whitespace@1316..1317 " "
                        ARG@1317..1351
                          EXPR_STRUCT_LITERAL@1317..1351
                            PATH@1317..1329
                              Ident@1317..1322 "Level"
                              ColonColon@1322..1324 "::"
                              Ident@1324..1328 "High"
                              Whitespace@1328..1329 " "
                            STRUCT_LITERAL_FIELD_LIST@1329..1351
                              LBrace@1329..1330 "{"
                              Whitespace@1330..1331 " "
                              STRUCT_LITERAL_FIELD@1331..1338
                                Ident@1331..1335 "rank"
                                Colon@1335..1336 ":"
                                Whitespace@1336..1337 " "
                                EXPR_INT@1337..1338
                                  Int@1337..1338 "3"
                              Comma@1338..1339 ","
                              Whitespace@1339..1340 " "
                              STRUCT_LITERAL_FIELD@1340..1350
                                Ident@1340..1346 "detail"
                                Colon@1346..1347 ":"
                                Whitespace@1347..1348 " "
                                EXPR_INT@1348..1350
                                  Int@1348..1349 "1"
                                  Whitespace@1349..1350 " "
                              RBrace@1350..1351 "}"
                        RParen@1351..1352 ")"
                    Comma@1352..1353 ","
                    Whitespace@1353..1362 "\n        "
                  RParen@1362..1363 ")"
              Comma@1363..1364 ","
              Whitespace@1364..1369 "\n    "
            RParen@1369..1370 ")"
        Semi@1370..1371 ";"
        Whitespace@1371..1376 "\n    "
      STMT_LET@1376..1396
        LetKeyword@1376..1379 "let"
        Whitespace@1379..1380 " "
        PATTERN_VARIABLE@1380..1385
          Ident@1380..1384 "zero"
          Whitespace@1384..1385 " "
        Eq@1385..1386 "="
        Whitespace@1386..1387 " "
        EXPR_FLOAT@1387..1390
          Float@1387..1390 "0.0"
        Semi@1390..1391 ";"
        Whitespace@1391..1396 "\n    "
      STMT_LET@1396..1446
        LetKeyword@1396..1399 "let"
        Whitespace@1399..1400 " "
        PATTERN_VARIABLE@1400..1404
          Ident@1400..1403 "nan"
          Whitespace@1403..1404 " "
        Eq@1404..1405 "="
        Whitespace@1405..1406 " "
        EXPR_STRUCT_LITERAL@1406..1440
          PATH@1406..1418
            Ident@1406..1417 "MaybeNumber"
            Whitespace@1417..1418 " "
          STRUCT_LITERAL_FIELD_LIST@1418..1440
            LBrace@1418..1419 "{"
            Whitespace@1419..1420 " "
            STRUCT_LITERAL_FIELD@1420..1439
              Ident@1420..1425 "value"
              Colon@1425..1426 ":"
              Whitespace@1426..1427 " "
              EXPR_BINARY@1427..1439
                EXPR_IDENT@1427..1432
                  PATH@1427..1432
                    Ident@1427..1431 "zero"
                    Whitespace@1431..1432 " "
                Slash@1432..1433 "/"
                Whitespace@1433..1434 " "
                EXPR_IDENT@1434..1439
                  PATH@1434..1439
                    Ident@1434..1438 "zero"
                    Whitespace@1438..1439 " "
            RBrace@1439..1440 "}"
        Semi@1440..1441 ";"
        Whitespace@1441..1446 "\n    "
      STMT_EXPR@1446..1485
        EXPR_CALL@1446..1479
          EXPR_IDENT@1446..1453
            PATH@1446..1453
              Ident@1446..1453 "println"
          ARG_LIST@1453..1479
            LParen@1453..1454 "("
            ARG@1454..1478
              EXPR_CALL@1454..1478
                EXPR_BINARY@1454..1476
                  EXPR_PAREN@1454..1466
                    LParen@1454..1455 "("
                    EXPR_BINARY@1455..1465
                      EXPR_IDENT@1455..1459
                        PATH@1455..1459
                          Ident@1455..1458 "nan"
                          Whitespace@1458..1459 " "
                      EqEq@1459..1461 "=="
                      Whitespace@1461..1462 " "
                      EXPR_IDENT@1462..1465
                        PATH@1462..1465
                          Ident@1462..1465 "nan"
                    RParen@1465..1466 ")"
                  Dot@1466..1467 "."
                  EXPR_IDENT@1467..1476
                    PATH@1467..1476
                      Ident@1467..1476 "to_string"
                ARG_LIST@1476..1478
                  LParen@1476..1477 "("
                  RParen@1477..1478 ")"
            RParen@1478..1479 ")"
        Semi@1479..1480 ";"
        Whitespace@1480..1485 "\n    "
      STMT_EXPR@1485..1560
        EXPR_CALL@1485..1554
          EXPR_IDENT@1485..1492
            PATH@1485..1492
              Ident@1485..1492 "println"
          ARG_LIST@1492..1554
            LParen@1492..1493 "("
            ARG@1493..1553
              EXPR_CALL@1493..1553
                EXPR_BINARY@1493..1551
                  EXPR_CALL@1493..1541
                    EXPR_BINARY@1493..1539
                      EXPR_CALL@1493..1531
                        EXPR_IDENT@1493..1521
                          PATH@1493..1521
                            Ident@1493..1496 "cmp"
                            ColonColon@1496..1498 "::"
                            Ident@1498..1508 "PartialOrd"
                            ColonColon@1508..1510 "::"
                            Ident@1510..1521 "partial_cmp"
                        ARG_LIST@1521..1531
                          LParen@1521..1522 "("
                          ARG@1522..1527
                            EXPR_IDENT@1522..1525
                              PATH@1522..1525
                                Ident@1522..1525 "nan"
                            Comma@1525..1526 ","
                            Whitespace@1526..1527 " "
                          ARG@1527..1530
                            EXPR_IDENT@1527..1530
                              PATH@1527..1530
                                Ident@1527..1530 "nan"
                          RParen@1530..1531 ")"
                      Dot@1531..1532 "."
                      EXPR_IDENT@1532..1539
                        PATH@1532..1539
                          Ident@1532..1539 "is_none"
                    ARG_LIST@1539..1541
                      LParen@1539..1540 "("
                      RParen@1540..1541 ")"
                  Dot@1541..1542 "."
                  EXPR_IDENT@1542..1551
                    PATH@1542..1551
                      Ident@1542..1551 "to_string"
                ARG_LIST@1551..1553
                  LParen@1551..1552 "("
                  RParen@1552..1553 ")"
            RParen@1553..1554 ")"
        Semi@1554..1555 ";"
        Whitespace@1555..1560 "\n    "
      STMT_LET@1560..1651
        LetKeyword@1560..1563 "let"
        Whitespace@1563..1564 " "
        PATTERN_VARIABLE@1564..1578
          Ident@1564..1577 "generic_first"
          Whitespace@1577..1578 " "
        Eq@1578..1579 "="
        Whitespace@1579..1580 " "
        EXPR_STRUCT_LITERAL@1580..1645
          PATH@1580..1592
            Ident@1580..1591 "GenericPair"
            Whitespace@1591..1592 " "
          STRUCT_LITERAL_FIELD_LIST@1592..1645
            LBrace@1592..1593 "{"
            Whitespace@1593..1594 " "
            STRUCT_LITERAL_FIELD@1594..1602
              Ident@1594..1599 "first"
              Colon@1599..1600 ":"
              Whitespace@1600..1601 " "
              EXPR_INT@1601..1602
                Int@1601..1602 "1"
            Comma@1602..1603 ","
            Whitespace@1603..1604 " "
            STRUCT_LITERAL_FIELD@1604..1613
              Ident@1604..1610 "second"
              Colon@1610..1611 ":"
              Whitespace@1611..1612 " "
              EXPR_INT@1612..1613
                Int@1612..1613 "2"
            Comma@1613..1614 ","
            Whitespace@1614..1615 " "
            STRUCT_LITERAL_FIELD@1615..1644
              Ident@1615..1621 "nested"
              Colon@1621..1622 ":"
              Whitespace@1622..1623 " "
              EXPR_CALL@1623..1644
                EXPR_IDENT@1623..1638
                  PATH@1623..1638
                    Ident@1623..1626 "Vec"
                    ColonColon@1626..1628 "::"
                    Ident@1628..1638 "from_array"
                ARG_LIST@1638..1644
                  LParen@1638..1639 "("
                  ARG@1639..1642
                    EXPR_ARRAY_LITERAL@1639..1642
                      LBracket@1639..1640 "["
                      EXPR_INT@1640..1641
                        Int@1640..1641 "3"
                      RBracket@1641..1642 "]"
                  RParen@1642..1643 ")"
                  Whitespace@1643..1644 " "
            RBrace@1644..1645 "}"
        Semi@1645..1646 ";"
        Whitespace@1646..1651 "\n    "
      STMT_LET@1651..1743
        LetKeyword@1651..1654 "let"
        Whitespace@1654..1655 " "
        PATTERN_VARIABLE@1655..1670
          Ident@1655..1669 "generic_second"
          Whitespace@1669..1670 " "
        Eq@1670..1671 "="
        Whitespace@1671..1672 " "
        EXPR_STRUCT_LITERAL@1672..1737
          PATH@1672..1684
            Ident@1672..1683 "GenericPair"
            Whitespace@1683..1684 " "
          STRUCT_LITERAL_FIELD_LIST@1684..1737
            LBrace@1684..1685 "{"
            Whitespace@1685..1686 " "
            STRUCT_LITERAL_FIELD@1686..1694
              Ident@1686..1691 "first"
              Colon@1691..1692 ":"
              Whitespace@1692..1693 " "
              EXPR_INT@1693..1694
                Int@1693..1694 "1"
            Comma@1694..1695 ","
            Whitespace@1695..1696 " "
            STRUCT_LITERAL_FIELD@1696..1705
              Ident@1696..1702 "second"
              Colon@1702..1703 ":"
              Whitespace@1703..1704 " "
              EXPR_INT@1704..1705
                Int@1704..1705 "3"
            Comma@1705..1706 ","
            Whitespace@1706..1707 " "
            STRUCT_LITERAL_FIELD@1707..1736
              Ident@1707..1713 "nested"
              Colon@1713..1714 ":"
              Whitespace@1714..1715 " "
              EXPR_CALL@1715..1736
                EXPR_IDENT@1715..1730
                  PATH@1715..1730
                    Ident@1715..1718 "Vec"
                    ColonColon@1718..1720 "::"
                    Ident@1720..1730 "from_array"
                ARG_LIST@1730..1736
                  LParen@1730..1731 "("
                  ARG@1731..1734
                    EXPR_ARRAY_LITERAL@1731..1734
                      LBracket@1731..1732 "["
                      EXPR_INT@1732..1733
                        Int@1732..1733 "0"
                      RBracket@1733..1734 "]"
                  RParen@1734..1735 ")"
                  Whitespace@1735..1736 " "
            RBrace@1736..1737 "}"
        Semi@1737..1738 ";"
        Whitespace@1738..1743 "\n    "
      STMT_EXPR@1743..1802
        EXPR_CALL@1743..1796
          EXPR_IDENT@1743..1750
            PATH@1743..1750
              Ident@1743..1750 "println"
          ARG_LIST@1750..1796
            LParen@1750..1751 "("
            ARG@1751..1795
              EXPR_CALL@1751..1795
                EXPR_BINARY@1751..1793
                  EXPR_PAREN@1751..1783
                    LParen@1751..1752 "("
                    EXPR_BINARY@1752..1782
                      EXPR_IDENT@1752..1766
                        PATH@1752..1766
                          Ident@1752..1765 "generic_first"
                          Whitespace@1765..1766 " "
                      Less@1766..1767 "<"
                      Whitespace@1767..1768 " "
                      EXPR_IDENT@1768..1782
                        PATH@1768..1782
                          Ident@1768..1782 "generic_second"
                    RParen@1782..1783 ")"
                  Dot@1783..1784 "."
                  EXPR_IDENT@1784..1793
                    PATH@1784..1793
                      Ident@1784..1793 "to_string"
                ARG_LIST@1793..1795
                  LParen@1793..1794 "("
                  RParen@1794..1795 ")"
            RParen@1795..1796 ")"
        Semi@1796..1797 ";"
        Whitespace@1797..1802 "\n    "
      STMT_LET@1802..1861
        LetKeyword@1802..1805 "let"
        Whitespace@1805..1806 " "
        PATTERN_VARIABLE@1806..1819
          Ident@1806..1819 "phantom_first"
        Colon@1819..1820 ":"
        Whitespace@1820..1821 " "
        TYPE_TAPP@1821..1839
          PATH@1821..1828
            Ident@1821..1828 "Phantom"
          TYPE_PARAM_LIST@1828..1839
            LBracket@1828..1829 "["
            TYPE_TAPP@1829..1837
              PATH@1829..1837
                Ident@1829..1837 "NoTraits"
            RBracket@1837..1838 "]"
            Whitespace@1838..1839 " "
        Eq@1839..1840 "="
        Whitespace@1840..1841 " "
        EXPR_IDENT@1841..1855
          PATH@1841..1855
            Ident@1841..1848 "Phantom"
            ColonColon@1848..1850 "::"
            Ident@1850..1855 "First"
        Semi@1855..1856 ";"
        Whitespace@1856..1861 "\n    "
      STMT_LET@1861..1922
        LetKeyword@1861..1864 "let"
        Whitespace@1864..1865 " "
        PATTERN_VARIABLE@1865..1879
          Ident@1865..1879 "phantom_second"
        Colon@1879..1880 ":"
        Whitespace@1880..1881 " "
        TYPE_TAPP@1881..1899
          PATH@1881..1888
            Ident@1881..1888 "Phantom"
          TYPE_PARAM_LIST@1888..1899
            LBracket@1888..1889 "["
            TYPE_TAPP@1889..1897
              PATH@1889..1897
                Ident@1889..1897 "NoTraits"
            RBracket@1897..1898 "]"
            Whitespace@1898..1899 " "
        Eq@1899..1900 "="
        Whitespace@1900..1901 " "
        EXPR_IDENT@1901..1916
          PATH@1901..1916
            Ident@1901..1908 "Phantom"
            ColonColon@1908..1910 "::"
            Ident@1910..1916 "Second"
        Semi@1916..1917 ";"
        Whitespace@1917..1922 "\n    "
      STMT_EXPR@1922..1981
        EXPR_CALL@1922..1975
          EXPR_IDENT@1922..1929
            PATH@1922..1929
              Ident@1922..1929 "println"
          ARG_LIST@1929..1975
            LParen@1929..1930 "("
            ARG@1930..1974
              EXPR_CALL@1930..1974
                EXPR_BINARY@1930..1972
                  EXPR_PAREN@1930..1962
                    LParen@1930..1931 "("
                    EXPR_BINARY@1931..1961
                      EXPR_IDENT@1931..1945
                        PATH@1931..1945
                          Ident@1931..1944 "phantom_first"
                          Whitespace@1944..1945 " "
                      Less@1945..1946 "<"
                      Whitespace@1946..1947 " "
                      EXPR_IDENT@1947..1961
                        PATH@1947..1961
                          Ident@1947..1961 "phantom_second"
                    RParen@1961..1962 ")"
                  Dot@1962..1963 "."
                  EXPR_IDENT@1963..1972
                    PATH@1963..1972
                      Ident@1963..1972 "to_string"
                ARG_LIST@1972..1974
                  LParen@1972..1973 "("
                  RParen@1973..1974 ")"
            RParen@1974..1975 ")"
        Semi@1975..1976 ";"
        Whitespace@1976..1981 "\n    "
      STMT_LET@1981..2037
        LetKeyword@1981..1984 "let"
        Whitespace@1984..1985 " "
        PATTERN_VARIABLE@1985..1997
          Ident@1985..1996 "partial_nan"
          Whitespace@1996..1997 " "
        Eq@1997..1998 "="
        Whitespace@1998..1999 " "
        EXPR_CALL@1999..2031
          EXPR_IDENT@1999..2018
            PATH@1999..2018
              Ident@1999..2011 "PartialLevel"
              ColonColon@2011..2013 "::"
              Ident@2013..2018 "Value"
          ARG_LIST@2018..2031
            LParen@2018..2019 "("
            ARG@2019..2030
              EXPR_BINARY@2019..2030
                EXPR_IDENT@2019..2024
                  PATH@2019..2024
                    Ident@2019..2023 "zero"
                    Whitespace@2023..2024 " "
                Slash@2024..2025 "/"
                Whitespace@2025..2026 " "
                EXPR_IDENT@2026..2030
                  PATH@2026..2030
                    Ident@2026..2030 "zero"
            RParen@2030..2031 ")"
        Semi@2031..2032 ";"
        Whitespace@2032..2037 "\n    "
      STMT_EXPR@2037..2128
        EXPR_CALL@2037..2122
          EXPR_IDENT@2037..2044
            PATH@2037..2044
              Ident@2037..2044 "println"
          ARG_LIST@2044..2122
            LParen@2044..2045 "("
            ARG@2045..2121
              EXPR_CALL@2045..2121
                EXPR_BINARY@2045..2119
                  EXPR_CALL@2045..2109
                    EXPR_BINARY@2045..2107
                      EXPR_CALL@2045..2099
                        EXPR_IDENT@2045..2073
                          PATH@2045..2073
                            Ident@2045..2048 "cmp"
                            ColonColon@2048..2050 "::"
                            Ident@2050..2060 "PartialOrd"
                            ColonColon@2060..2062 "::"
                            Ident@2062..2073 "partial_cmp"
                        ARG_LIST@2073..2099
                          LParen@2073..2074 "("
                          ARG@2074..2087
                            EXPR_IDENT@2074..2085
                              PATH@2074..2085
                                Ident@2074..2085 "partial_nan"
                            Comma@2085..2086 ","
                            Whitespace@2086..2087 " "
                          ARG@2087..2098
                            EXPR_IDENT@2087..2098
                              PATH@2087..2098
                                Ident@2087..2098 "partial_nan"
                          RParen@2098..2099 ")"
                      Dot@2099..2100 "."
                      EXPR_IDENT@2100..2107
                        PATH@2100..2107
                          Ident@2100..2107 "is_none"
                    ARG_LIST@2107..2109
                      LParen@2107..2108 "("
                      RParen@2108..2109 ")"
                  Dot@2109..2110 "."
                  EXPR_IDENT@2110..2119
                    PATH@2110..2119
                      Ident@2110..2119 "to_string"
                ARG_LIST@2119..2121
                  LParen@2119..2120 "("
                  RParen@2120..2121 ")"
            RParen@2121..2122 ")"
        Semi@2122..2123 ";"
        Whitespace@2123..2128 "\n    "
      STMT_LET@2128..2188
        LetKeyword@2128..2131 "let"
        Whitespace@2131..2132 " "
        PATTERN_VARIABLE@2132..2144
          Ident@2132..2144 "first_values"
        Colon@2144..2145 ":"
        Whitespace@2145..2146 " "
        TYPE_TAPP@2146..2157
          PATH@2146..2149
            Ident@2146..2149 "Vec"
          TYPE_PARAM_LIST@2149..2157
            LBracket@2149..2150 "["
            TYPE_INT@2150..2155
              IsizeKeyword@2150..2155 "isize"
            RBracket@2155..2156 "]"
            Whitespace@2156..2157 " "
        Eq@2157..2158 "="
        Whitespace@2158..2159 " "
        EXPR_CALL@2159..2182
          EXPR_IDENT@2159..2174
            PATH@2159..2174
              Ident@2159..2162 "Vec"
              ColonColon@2162..2164 "::"
              Ident@2164..2174 "from_array"
          ARG_LIST@2174..2182
            LParen@2174..2175 "("
            ARG@2175..2181
              EXPR_ARRAY_LITERAL@2175..2181
                LBracket@2175..2176 "["
                EXPR_INT@2176..2177
                  Int@2176..2177 "1"
                Comma@2177..2178 ","
                Whitespace@2178..2179 " "
                EXPR_INT@2179..2180
                  Int@2179..2180 "2"
                RBracket@2180..2181 "]"
            RParen@2181..2182 ")"
        Semi@2182..2183 ";"
        Whitespace@2183..2188 "\n    "
      STMT_LET@2188..2249
        LetKeyword@2188..2191 "let"
        Whitespace@2191..2192 " "
        PATTERN_VARIABLE@2192..2205
          Ident@2192..2205 "second_values"
        Colon@2205..2206 ":"
        Whitespace@2206..2207 " "
        TYPE_TAPP@2207..2218
          PATH@2207..2210
            Ident@2207..2210 "Vec"
          TYPE_PARAM_LIST@2210..2218
            LBracket@2210..2211 "["
            TYPE_INT@2211..2216
              IsizeKeyword@2211..2216 "isize"
            RBracket@2216..2217 "]"
            Whitespace@2217..2218 " "
        Eq@2218..2219 "="
        Whitespace@2219..2220 " "
        EXPR_CALL@2220..2243
          EXPR_IDENT@2220..2235
            PATH@2220..2235
              Ident@2220..2223 "Vec"
              ColonColon@2223..2225 "::"
              Ident@2225..2235 "from_array"
          ARG_LIST@2235..2243
            LParen@2235..2236 "("
            ARG@2236..2242
              EXPR_ARRAY_LITERAL@2236..2242
                LBracket@2236..2237 "["
                EXPR_INT@2237..2238
                  Int@2237..2238 "1"
                Comma@2238..2239 ","
                Whitespace@2239..2240 " "
                EXPR_INT@2240..2241
                  Int@2240..2241 "3"
                RBracket@2241..2242 "]"
            RParen@2242..2243 ")"
        Semi@2243..2244 ";"
        Whitespace@2244..2249 "\n    "
      STMT_EXPR@2249..2306
        EXPR_CALL@2249..2300
          EXPR_IDENT@2249..2256
            PATH@2249..2256
              Ident@2249..2256 "println"
          ARG_LIST@2256..2300
            LParen@2256..2257 "("
            ARG@2257..2299
              EXPR_CALL@2257..2299
                EXPR_BINARY@2257..2297
                  EXPR_PAREN@2257..2287
                    LParen@2257..2258 "("
                    EXPR_BINARY@2258..2286
                      EXPR_IDENT@2258..2271
                        PATH@2258..2271
                          Ident@2258..2270 "first_values"
                          Whitespace@2270..2271 " "
                      Less@2271..2272 "<"
                      Whitespace@2272..2273 " "
                      EXPR_IDENT@2273..2286
                        PATH@2273..2286
                          Ident@2273..2286 "second_values"
                    RParen@2286..2287 ")"
                  Dot@2287..2288 "."
                  EXPR_IDENT@2288..2297
                    PATH@2288..2297
                      Ident@2288..2297 "to_string"
                ARG_LIST@2297..2299
                  LParen@2297..2298 "("
                  RParen@2298..2299 ")"
            RParen@2299..2300 ")"
        Semi@2300..2301 ";"
        Whitespace@2301..2306 "\n    "
      STMT_EXPR@2306..2368
        EXPR_CALL@2306..2362
          EXPR_IDENT@2306..2313
            PATH@2306..2313
              Ident@2306..2313 "println"
          ARG_LIST@2313..2362
            LParen@2313..2314 "("
            ARG@2314..2361
              EXPR_CALL@2314..2361
                EXPR_BINARY@2314..2359
                  EXPR_PAREN@2314..2349
                    LParen@2314..2315 "("
                    EXPR_BINARY@2315..2348
                      EXPR_CALL@2315..2331
                        EXPR_IDENT@2315..2327
                          PATH@2315..2327
                            Ident@2315..2321 "Option"
                            ColonColon@2321..2323 "::"
                            Ident@2323..2327 "Some"
                        ARG_LIST@2327..2331
                          LParen@2327..2328 "("
                          ARG@2328..2329
                            EXPR_INT@2328..2329
                              Int@2328..2329 "2"
                          RParen@2329..2330 ")"
                          Whitespace@2330..2331 " "
                      Less@2331..2332 "<"
                      Whitespace@2332..2333 " "
                      EXPR_CALL@2333..2348
                        EXPR_IDENT@2333..2345
                          PATH@2333..2345
                            Ident@2333..2339 "Option"
                            ColonColon@2339..2341 "::"
                            Ident@2341..2345 "Some"
                        ARG_LIST@2345..2348
                          LParen@2345..2346 "("
                          ARG@2346..2347
                            EXPR_INT@2346..2347
                              Int@2346..2347 "3"
                          RParen@2347..2348 ")"
                    RParen@2348..2349 ")"
                  Dot@2349..2350 "."
                  EXPR_IDENT@2350..2359
                    PATH@2350..2359
                      Ident@2350..2359 "to_string"
                ARG_LIST@2359..2361
                  LParen@2359..2360 "("
                  RParen@2360..2361 ")"
            RParen@2361..2362 ")"
        Semi@2362..2363 ";"
        Whitespace@2363..2368 "\n    "
      STMT_LET@2368..2419
        LetKeyword@2368..2371 "let"
        Whitespace@2371..2372 " "
        PATTERN_VARIABLE@2372..2374
          Ident@2372..2374 "ok"
        Colon@2374..2375 ":"
        Whitespace@2375..2376 " "
        TYPE_TAPP@2376..2398
          PATH@2376..2382
            Ident@2376..2382 "Result"
          TYPE_PARAM_LIST@2382..2398
            LBracket@2382..2383 "["
            TYPE_INT@2383..2388
              IsizeKeyword@2383..2388 "isize"
            Comma@2388..2389 ","
            Whitespace@2389..2390 " "
            TYPE_STRING@2390..2396
              StringKeyword@2390..2396 "string"
            RBracket@2396..2397 "]"
            Whitespace@2397..2398 " "
        Eq@2398..2399 "="
        Whitespace@2399..2400 " "
        EXPR_CALL@2400..2413
          EXPR_IDENT@2400..2410
            PATH@2400..2410
              Ident@2400..2406 "Result"
              ColonColon@2406..2408 "::"
              Ident@2408..2410 "Ok"
          ARG_LIST@2410..2413
            LParen@2410..2411 "("
            ARG@2411..2412
              EXPR_INT@2411..2412
                Int@2411..2412 "1"
            RParen@2412..2413 ")"
        Semi@2413..2414 ";"
        Whitespace@2414..2419 "\n    "
      STMT_LET@2419..2480
        LetKeyword@2419..2422 "let"
        Whitespace@2422..2423 " "
        PATTERN_VARIABLE@2423..2428
          Ident@2423..2428 "error"
        Colon@2428..2429 ":"
        Whitespace@2429..2430 " "
        TYPE_TAPP@2430..2452
          PATH@2430..2436
            Ident@2430..2436 "Result"
          TYPE_PARAM_LIST@2436..2452
            LBracket@2436..2437 "["
            TYPE_INT@2437..2442
              IsizeKeyword@2437..2442 "isize"
            Comma@2442..2443 ","
            Whitespace@2443..2444 " "
            TYPE_STRING@2444..2450
              StringKeyword@2444..2450 "string"
            RBracket@2450..2451 "]"
            Whitespace@2451..2452 " "
        Eq@2452..2453 "="
        Whitespace@2453..2454 " "
        EXPR_CALL@2454..2474
          EXPR_IDENT@2454..2465
            PATH@2454..2465
              Ident@2454..2460 "Result"
              ColonColon@2460..2462 "::"
              Ident@2462..2465 "Err"
          ARG_LIST@2465..2474
            LParen@2465..2466 "("
            ARG@2466..2473
              EXPR_STR@2466..2473
                Str@2466..2473 "\"error\""
            RParen@2473..2474 ")"
        Semi@2474..2475 ";"
        Whitespace@2475..2480 "\n    "
      STMT_EXPR@2480..2519
        EXPR_CALL@2480..2513
          EXPR_IDENT@2480..2487
            PATH@2480..2487
              Ident@2480..2487 "println"
          ARG_LIST@2487..2513
            LParen@2487..2488 "("
            ARG@2488..2512
              EXPR_CALL@2488..2512
                EXPR_BINARY@2488..2510
                  EXPR_PAREN@2488..2500
                    LParen@2488..2489 "("
                    EXPR_BINARY@2489..2499
                      EXPR_IDENT@2489..2492
                        PATH@2489..2492
                          Ident@2489..2491 "ok"
                          Whitespace@2491..2492 " "
                      Less@2492..2493 "<"
                      Whitespace@2493..2494 " "
                      EXPR_IDENT@2494..2499
                        PATH@2494..2499
                          Ident@2494..2499 "error"
                    RParen@2499..2500 ")"
                  Dot@2500..2501 "."
                  EXPR_IDENT@2501..2510
                    PATH@2501..2510
                      Ident@2501..2510 "to_string"
                ARG_LIST@2510..2512
                  LParen@2510..2511 "("
                  RParen@2511..2512 ")"
            RParen@2512..2513 ")"
        Semi@2513..2514 ";"
        Whitespace@2514..2519 "\n    "
      STMT_EXPR@2519..2600
        EXPR_CALL@2519..2594
          EXPR_IDENT@2519..2526
            PATH@2519..2526
              Ident@2519..2526 "println"
          ARG_LIST@2526..2594
            LParen@2526..2527 "("
            ARG@2527..2593
              EXPR_CALL@2527..2593
                EXPR_BINARY@2527..2591
                  EXPR_PAREN@2527..2581
                    LParen@2527..2528 "("
                    EXPR_BINARY@2528..2580
                      EXPR_CALL@2528..2553
                        EXPR_BINARY@2528..2546
                          EXPR_IDENT@2528..2540
                            PATH@2528..2540
                              Ident@2528..2540 "first_values"
                          Dot@2540..2541 "."
                          EXPR_IDENT@2541..2546
                            PATH@2541..2546
                              Ident@2541..2546 "slice"
                        ARG_LIST@2546..2553
                          LParen@2546..2547 "("
                          ARG@2547..2550
                            EXPR_INT@2547..2548
                              Int@2547..2548 "0"
                            Comma@2548..2549 ","
                            Whitespace@2549..2550 " "
                          ARG@2550..2551
                            EXPR_INT@2550..2551
                              Int@2550..2551 "2"
                          RParen@2551..2552 ")"
                          Whitespace@2552..2553 " "
                      Less@2553..2554 "<"
                      Whitespace@2554..2555 " "
                      EXPR_CALL@2555..2580
                        EXPR_BINARY@2555..2574
                          EXPR_IDENT@2555..2568
                            PATH@2555..2568
                              Ident@2555..2568 "second_values"
                          Dot@2568..2569 "."
                          EXPR_IDENT@2569..2574
                            PATH@2569..2574
                              Ident@2569..2574 "slice"
                        ARG_LIST@2574..2580
                          LParen@2574..2575 "("
                          ARG@2575..2578
                            EXPR_INT@2575..2576
                              Int@2575..2576 "0"
                            Comma@2576..2577 ","
                            Whitespace@2577..2578 " "
                          ARG@2578..2579
                            EXPR_INT@2578..2579
                              Int@2578..2579 "2"
                          RParen@2579..2580 ")"
                    RParen@2580..2581 ")"
                  Dot@2581..2582 "."
                  EXPR_IDENT@2582..2591
                    PATH@2582..2591
                      Ident@2582..2591 "to_string"
                ARG_LIST@2591..2593
                  LParen@2591..2592 "("
                  RParen@2592..2593 ")"
            RParen@2593..2594 ")"
        Semi@2594..2595 ";"
        Whitespace@2595..2600 "\n    "
      STMT_LET@2600..2662
        LetKeyword@2600..2603 "let"
        Whitespace@2603..2604 " "
        PATTERN_VARIABLE@2604..2610
          Ident@2604..2610 "values"
        Colon@2610..2611 ":"
        Whitespace@2611..2612 " "
        TYPE_TAPP@2612..2640
          PATH@2612..2619
            Ident@2612..2619 "HashMap"
          TYPE_PARAM_LIST@2619..2640
            LBracket@2619..2620 "["
            TYPE_TAPP@2620..2630
              PATH@2620..2623
                Ident@2620..2623 "Vec"
              TYPE_PARAM_LIST@2623..2630
                LBracket@2623..2624 "["
                TYPE_INT@2624..2629
                  IsizeKeyword@2624..2629 "isize"
                RBracket@2629..2630 "]"
            Comma@2630..2631 ","
            Whitespace@2631..2632 " "
            TYPE_STRING@2632..2638
              StringKeyword@2632..2638 "string"
            RBracket@2638..2639 "]"
            Whitespace@2639..2640 " "
        Eq@2640..2641 "="
        Whitespace@2641..2642 " "
        EXPR_CALL@2642..2656
          EXPR_IDENT@2642..2654
            PATH@2642..2654
              Ident@2642..2649 "HashMap"
              ColonColon@2649..2651 "::"
              Ident@2651..2654 "new"
          ARG_LIST@2654..2656
            LParen@2654..2655 "("
            RParen@2655..2656 ")"
        Semi@2656..2657 ";"
        Whitespace@2657..2662 "\n    "
      STMT_EXPR@2662..2702
        EXPR_CALL@2662..2696
          EXPR_BINARY@2662..2672
            EXPR_IDENT@2662..2668
              PATH@2662..2668
                Ident@2662..2668 "values"
            Dot@2668..2669 "."
            EXPR_IDENT@2669..2672
              PATH@2669..2672
                Ident@2669..2672 "set"
          ARG_LIST@2672..2696
            LParen@2672..2673 "("
            ARG@2673..2687
              EXPR_IDENT@2673..2685
                PATH@2673..2685
                  Ident@2673..2685 "first_values"
              Comma@2685..2686 ","
              Whitespace@2686..2687 " "
            ARG@2687..2695
              EXPR_STR@2687..2695
                Str@2687..2695 "\"vector\""
            RParen@2695..2696 ")"
        Semi@2696..2697 ";"
        Whitespace@2697..2702 "\n    "
      STMT_EXPR@2702..2773
        EXPR_CALL@2702..2767
          EXPR_IDENT@2702..2709
            PATH@2702..2709
              Ident@2702..2709 "println"
          ARG_LIST@2709..2767
            LParen@2709..2710 "("
            ARG@2710..2766
              EXPR_CALL@2710..2766
                EXPR_BINARY@2710..2755
                  EXPR_CALL@2710..2745
                    EXPR_BINARY@2710..2720
                      EXPR_IDENT@2710..2716
                        PATH@2710..2716
                          Ident@2710..2716 "values"
                      Dot@2716..2717 "."
                      EXPR_IDENT@2717..2720
                        PATH@2717..2720
                          Ident@2717..2720 "get"
                    ARG_LIST@2720..2745
                      LParen@2720..2721 "("
                      ARG@2721..2744
                        EXPR_CALL@2721..2744
                          EXPR_IDENT@2721..2736
                            PATH@2721..2736
                              Ident@2721..2724 "Vec"
                              ColonColon@2724..2726 "::"
                              Ident@2726..2736 "from_array"
                          ARG_LIST@2736..2744
                            LParen@2736..2737 "("
                            ARG@2737..2743
                              EXPR_ARRAY_LITERAL@2737..2743
                                LBracket@2737..2738 "["
                                EXPR_INT@2738..2739
                                  Int@2738..2739 "1"
                                Comma@2739..2740 ","
                                Whitespace@2740..2741 " "
                                EXPR_INT@2741..2742
                                  Int@2741..2742 "2"
                                RBracket@2742..2743 "]"
                            RParen@2743..2744 ")"
                      RParen@2744..2745 ")"
                  Dot@2745..2746 "."
                  EXPR_IDENT@2746..2755
                    PATH@2746..2755
                      Ident@2746..2755 "unwrap_or"
                ARG_LIST@2755..2766
                  LParen@2755..2756 "("
                  ARG@2756..2765
                    EXPR_STR@2756..2765
                      Str@2756..2765 "\"missing\""
                  RParen@2765..2766 ")"
            RParen@2766..2767 ")"
        Semi@2767..2768 ";"
        Whitespace@2768..2773 "\n    "
      STMT_LET@2773..2834
        LetKeyword@2773..2776 "let"
        Whitespace@2776..2777 " "
        PATTERN_VARIABLE@2777..2790
          Ident@2777..2790 "default_tuple"
        Colon@2790..2791 ":"
        Whitespace@2791..2792 " "
        TYPE_TUPLE@2792..2808
          TYPE_LIST@2792..2808
            LParen@2792..2793 "("
            TYPE_INT@2793..2798
              IsizeKeyword@2793..2798 "isize"
            Comma@2798..2799 ","
            Whitespace@2799..2800 " "
            TYPE_STRING@2800..2806
              StringKeyword@2800..2806 "string"
            RParen@2806..2807 ")"
            Whitespace@2807..2808 " "
        Eq@2808..2809 "="
        Whitespace@2809..2810 " "
        EXPR_CALL@2810..2828
          EXPR_IDENT@2810..2826
            PATH@2810..2826
              Ident@2810..2817 "Default"
              ColonColon@2817..2819 "::"
              Ident@2819..2826 "default"
          ARG_LIST@2826..2828
            LParen@2826..2827 "("
            RParen@2827..2828 ")"
        Semi@2828..2829 ";"
        Whitespace@2829..2834 "\n    "
      STMT_EXPR@2834..2887
        EXPR_CALL@2834..2881
          EXPR_IDENT@2834..2841
            PATH@2834..2841
              Ident@2834..2841 "println"
          ARG_LIST@2841..2881
            LParen@2841..2842 "("
            ARG@2842..2880
              EXPR_CALL@2842..2880
                EXPR_BINARY@2842..2878
                  EXPR_PAREN@2842..2868
                    LParen@2842..2843 "("
                    EXPR_BINARY@2843..2867
                      EXPR_IDENT@2843..2857
                        PATH@2843..2857
                          Ident@2843..2856 "default_tuple"
                          Whitespace@2856..2857 " "
                      EqEq@2857..2859 "=="
                      Whitespace@2859..2860 " "
                      EXPR_TUPLE@2860..2867
                        LParen@2860..2861 "("
                        EXPR_INT@2861..2862
                          Int@2861..2862 "0"
                        Comma@2862..2863 ","
                        Whitespace@2863..2864 " "
                        EXPR_STR@2864..2866
                          Str@2864..2866 "\"\""
                        RParen@2866..2867 ")"
                    RParen@2867..2868 ")"
                  Dot@2868..2869 "."
                  EXPR_IDENT@2869..2878
                    PATH@2869..2878
                      Ident@2869..2878 "to_string"
                ARG_LIST@2878..2880
                  LParen@2878..2879 "("
                  RParen@2879..2880 ")"
            RParen@2880..2881 ")"
        Semi@2881..2882 ";"
        Whitespace@2882..2887 "\n    "
      STMT_LET@2887..2943
        LetKeyword@2887..2890 "let"
        Whitespace@2890..2891 " "
        PATTERN_VARIABLE@2891..2904
          Ident@2891..2904 "default_array"
        Colon@2904..2905 ":"
        Whitespace@2905..2906 " "
        TYPE_ARRAY@2906..2917
          LBracket@2906..2907 "["
          TYPE_INT@2907..2912
            IsizeKeyword@2907..2912 "isize"
          Semi@2912..2913 ";"
          Whitespace@2913..2914 " "
          Int@2914..2915 "3"
          RBracket@2915..2916 "]"
          Whitespace@2916..2917 " "
        Eq@2917..2918 "="
        Whitespace@2918..2919 " "
        EXPR_CALL@2919..2937
          EXPR_IDENT@2919..2935
            PATH@2919..2935
              Ident@2919..2926 "Default"
              ColonColon@2926..2928 "::"
              Ident@2928..2935 "default"
          ARG_LIST@2935..2937
            LParen@2935..2936 "("
            RParen@2936..2937 ")"
        Semi@2937..2938 ";"
        Whitespace@2938..2943 "\n    "
      STMT_EXPR@2943..2998
        EXPR_CALL@2943..2992
          EXPR_IDENT@2943..2950
            PATH@2943..2950
              Ident@2943..2950 "println"
          ARG_LIST@2950..2992
            LParen@2950..2951 "("
            ARG@2951..2991
              EXPR_CALL@2951..2991
                EXPR_BINARY@2951..2989
                  EXPR_PAREN@2951..2979
                    LParen@2951..2952 "("
                    EXPR_BINARY@2952..2978
                      EXPR_IDENT@2952..2966
                        PATH@2952..2966
                          Ident@2952..2965 "default_array"
                          Whitespace@2965..2966 " "
                      EqEq@2966..2968 "=="
                      Whitespace@2968..2969 " "
                      EXPR_ARRAY_LITERAL@2969..2978
                        LBracket@2969..2970 "["
                        EXPR_INT@2970..2971
                          Int@2970..2971 "0"
                        Comma@2971..2972 ","
                        Whitespace@2972..2973 " "
                        EXPR_INT@2973..2974
                          Int@2973..2974 "0"
                        Comma@2974..2975 ","
                        Whitespace@2975..2976 " "
                        EXPR_INT@2976..2977
                          Int@2976..2977 "0"
                        RBracket@2977..2978 "]"
                    RParen@2978..2979 ")"
                  Dot@2979..2980 "."
                  EXPR_IDENT@2980..2989
                    PATH@2980..2989
                      Ident@2980..2989 "to_string"
                ARG_LIST@2989..2991
                  LParen@2989..2990 "("
                  RParen@2990..2991 ")"
            RParen@2991..2992 ")"
        Semi@2992..2993 ";"
        Whitespace@2993..2998 "\n    "
      STMT_EXPR@2998..3042
        EXPR_CALL@2998..3036
          EXPR_IDENT@2998..3005
            PATH@2998..3005
              Ident@2998..3005 "println"
          ARG_LIST@3005..3036
            LParen@3005..3006 "("
            ARG@3006..3035
              EXPR_CALL@3006..3035
                EXPR_BINARY@3006..3033
                  EXPR_PAREN@3006..3023
                    LParen@3006..3007 "("
                    EXPR_BINARY@3007..3022
                      EXPR_TUPLE@3007..3014
                        LParen@3007..3008 "("
                        EXPR_INT@3008..3009
                          Int@3008..3009 "1"
                        Comma@3009..3010 ","
                        Whitespace@3010..3011 " "
                        EXPR_INT@3011..3012
                          Int@3011..3012 "2"
                        RParen@3012..3013 ")"
                        Whitespace@3013..3014 " "
                      Less@3014..3015 "<"
                      Whitespace@3015..3016 " "
                      EXPR_TUPLE@3016..3022
                        LParen@3016..3017 "("
                        EXPR_INT@3017..3018
                          Int@3017..3018 "1"
                        Comma@3018..3019 ","
                        Whitespace@3019..3020 " "
                        EXPR_INT@3020..3021
                          Int@3020..3021 "3"
                        RParen@3021..3022 ")"
                    RParen@3022..3023 ")"
                  Dot@3023..3024 "."
                  EXPR_IDENT@3024..3033
                    PATH@3024..3033
                      Ident@3024..3033 "to_string"
                ARG_LIST@3033..3035
                  LParen@3033..3034 "("
                  RParen@3034..3035 ")"
            RParen@3035..3036 ")"
        Semi@3036..3037 ";"
        Whitespace@3037..3042 "\n    "
      STMT_EXPR@3042..3101
        EXPR_CALL@3042..3095
          EXPR_IDENT@3042..3049
            PATH@3042..3049
              Ident@3042..3049 "println"
          ARG_LIST@3049..3095
            LParen@3049..3050 "("
            ARG@3050..3094
              EXPR_CALL@3050..3094
                EXPR_IDENT@3050..3063
                  PATH@3050..3063
                    Ident@3050..3063 "ordering_name"
                ARG_LIST@3063..3094
                  LParen@3063..3064 "("
                  ARG@3064..3093
                    EXPR_CALL@3064..3093
                      EXPR_IDENT@3064..3077
                        PATH@3064..3077
                          Ident@3064..3067 "cmp"
                          ColonColon@3067..3069 "::"
                          Ident@3069..3072 "Ord"
                          ColonColon@3072..3074 "::"
                          Ident@3074..3077 "cmp"
                      ARG_LIST@3077..3093
                        LParen@3077..3078 "("
                        ARG@3078..3086
                          EXPR_ARRAY_LITERAL@3078..3084
                            LBracket@3078..3079 "["
                            EXPR_INT@3079..3080
                              Int@3079..3080 "1"
                            Comma@3080..3081 ","
                            Whitespace@3081..3082 " "
                            EXPR_INT@3082..3083
                              Int@3082..3083 "2"
                            RBracket@3083..3084 "]"
                          Comma@3084..3085 ","
                          Whitespace@3085..3086 " "
                        ARG@3086..3092
                          EXPR_ARRAY_LITERAL@3086..3092
                            LBracket@3086..3087 "["
                            EXPR_INT@3087..3088
                              Int@3087..3088 "1"
                            Comma@3088..3089 ","
                            Whitespace@3089..3090 " "
                            EXPR_INT@3090..3091
                              Int@3090..3091 "3"
                            RBracket@3091..3092 "]"
                        RParen@3092..3093 ")"
                  RParen@3093..3094 ")"
            RParen@3094..3095 ")"
        Semi@3095..3096 ";"
        Whitespace@3096..3101 "\n    "
      STMT_LET@3101..3141
        LetKeyword@3101..3104 "let"
        Whitespace@3104..3105 " "
        PATTERN_VARIABLE@3105..3115
          Ident@3105..3114 "tuple_nan"
          Whitespace@3114..3115 " "
        Eq@3115..3116 "="
        Whitespace@3116..3117 " "
        EXPR_TUPLE@3117..3135
          LParen@3117..3118 "("
          EXPR_FLOAT@3118..3121
            Float@3118..3121 "0.0"
          Comma@3121..3122 ","
          Whitespace@3122..3123 " "
          EXPR_BINARY@3123..3134
            EXPR_IDENT@3123..3128
              PATH@3123..3128
                Ident@3123..3127 "zero"
                Whitespace@3127..3128 " "
            Slash@3128..3129 "/"
            Whitespace@3129..3130 " "
            EXPR_IDENT@3130..3134
              PATH@3130..3134
                Ident@3130..3134 "zero"
          RParen@3134..3135 ")"
        Semi@3135..3136 ";"
        Whitespace@3136..3141 "\n    "
      STMT_EXPR@3141..3228
        EXPR_CALL@3141..3222
          EXPR_IDENT@3141..3148
            PATH@3141..3148
              Ident@3141..3148 "println"
          ARG_LIST@3148..3222
            LParen@3148..3149 "("
            ARG@3149..3221
              EXPR_CALL@3149..3221
                EXPR_BINARY@3149..3219
                  EXPR_CALL@3149..3209
                    EXPR_BINARY@3149..3207
                      EXPR_CALL@3149..3199
                        EXPR_IDENT@3149..3177
                          PATH@3149..3177
                            Ident@3149..3152 "cmp"
                            ColonColon@3152..3154 "::"
                            Ident@3154..3164 "PartialOrd"
                            ColonColon@3164..3166 "::"
                            Ident@3166..3177 "partial_cmp"
                        ARG_LIST@3177..3199
                          LParen@3177..3178 "("
                          ARG@3178..3189
                            EXPR_IDENT@3178..3187
                              PATH@3178..3187
                                Ident@3178..3187 "tuple_nan"
                            Comma@3187..3188 ","
                            Whitespace@3188..3189 " "
                          ARG@3189..3198
                            EXPR_IDENT@3189..3198
                              PATH@3189..3198
                                Ident@3189..3198 "tuple_nan"
                          RParen@3198..3199 ")"
                      Dot@3199..3200 "."
                      EXPR_IDENT@3200..3207
                        PATH@3200..3207
                          Ident@3200..3207 "is_none"
                    ARG_LIST@3207..3209
                      LParen@3207..3208 "("
                      RParen@3208..3209 ")"
                  Dot@3209..3210 "."
                  EXPR_IDENT@3210..3219
                    PATH@3210..3219
                      Ident@3210..3219 "to_string"
                ARG_LIST@3219..3221
                  LParen@3219..3220 "("
                  RParen@3220..3221 ")"
            RParen@3221..3222 ")"
        Semi@3222..3223 ";"
        Whitespace@3223..3228 "\n    "
      STMT_LET@3228..3301
        LetKeyword@3228..3231 "let"
        Whitespace@3231..3232 " "
        PATTERN_VARIABLE@3232..3244
          Ident@3232..3244 "tuple_values"
        Colon@3244..3245 ":"
        Whitespace@3245..3246 " "
        TYPE_TAPP@3246..3279
          PATH@3246..3253
            Ident@3246..3253 "HashMap"
          TYPE_PARAM_LIST@3253..3279
            LBracket@3253..3254 "["
            TYPE_TUPLE@3254..3269
              TYPE_LIST@3254..3269
                LParen@3254..3255 "("
                TYPE_INT@3255..3260
                  IsizeKeyword@3255..3260 "isize"
                Comma@3260..3261 ","
                Whitespace@3261..3262 " "
                TYPE_STRING@3262..3268
                  StringKeyword@3262..3268 "string"
                RParen@3268..3269 ")"
            Comma@3269..3270 ","
            Whitespace@3270..3271 " "
            TYPE_STRING@3271..3277
              StringKeyword@3271..3277 "string"
            RBracket@3277..3278 "]"
            Whitespace@3278..3279 " "
        Eq@3279..3280 "="
        Whitespace@3280..3281 " "
        EXPR_CALL@3281..3295
          EXPR_IDENT@3281..3293
            PATH@3281..3293
              Ident@3281..3288 "HashMap"
              ColonColon@3288..3290 "::"
              Ident@3290..3293 "new"
          ARG_LIST@3293..3295
            LParen@3293..3294 "("
            RParen@3294..3295 ")"
        Semi@3295..3296 ";"
        Whitespace@3296..3301 "\n    "
      STMT_EXPR@3301..3344
        EXPR_CALL@3301..3338
          EXPR_BINARY@3301..3317
            EXPR_IDENT@3301..3313
              PATH@3301..3313
                Ident@3301..3313 "tuple_values"
            Dot@3313..3314 "."
            EXPR_IDENT@3314..3317
              PATH@3314..3317
                Ident@3314..3317 "set"
          ARG_LIST@3317..3338
            LParen@3317..3318 "("
            ARG@3318..3330
              EXPR_TUPLE@3318..3328
                LParen@3318..3319 "("
                EXPR_INT@3319..3320
                  Int@3319..3320 "1"
                Comma@3320..3321 ","
                Whitespace@3321..3322 " "
                EXPR_STR@3322..3327
                  Str@3322..3327 "\"one\""
                RParen@3327..3328 ")"
              Comma@3328..3329 ","
              Whitespace@3329..3330 " "
            ARG@3330..3337
              EXPR_STR@3330..3337
                Str@3330..3337 "\"tuple\""
            RParen@3337..3338 ")"
        Semi@3338..3339 ";"
        Whitespace@3339..3344 "\n    "
      STMT_EXPR@3344..3408
        EXPR_CALL@3344..3402
          EXPR_IDENT@3344..3351
            PATH@3344..3351
              Ident@3344..3351 "println"
          ARG_LIST@3351..3402
            LParen@3351..3352 "("
            ARG@3352..3401
              EXPR_CALL@3352..3401
                EXPR_BINARY@3352..3390
                  EXPR_CALL@3352..3380
                    EXPR_BINARY@3352..3368
                      EXPR_IDENT@3352..3364
                        PATH@3352..3364
                          Ident@3352..3364 "tuple_values"
                      Dot@3364..3365 "."
                      EXPR_IDENT@3365..3368
                        PATH@3365..3368
                          Ident@3365..3368 "get"
                    ARG_LIST@3368..3380
                      LParen@3368..3369 "("
                      ARG@3369..3379
                        EXPR_TUPLE@3369..3379
                          LParen@3369..3370 "("
                          EXPR_INT@3370..3371
                            Int@3370..3371 "1"
                          Comma@3371..3372 ","
                          Whitespace@3372..3373 " "
                          EXPR_STR@3373..3378
                            Str@3373..3378 "\"one\""
                          RParen@3378..3379 ")"
                      RParen@3379..3380 ")"
                  Dot@3380..3381 "."
                  EXPR_IDENT@3381..3390
                    PATH@3381..3390
                      Ident@3381..3390 "unwrap_or"
                ARG_LIST@3390..3401
                  LParen@3390..3391 "("
                  ARG@3391..3400
                    EXPR_STR@3391..3400
                      Str@3391..3400 "\"missing\""
                  RParen@3400..3401 ")"
            RParen@3401..3402 ")"
        Semi@3402..3403 ";"
        Whitespace@3403..3408 "\n    "
      STMT_LET@3408..3476
        LetKeyword@3408..3411 "let"
        Whitespace@3411..3412 " "
        PATTERN_VARIABLE@3412..3424
          Ident@3412..3424 "array_values"
        Colon@3424..3425 ":"
        Whitespace@3425..3426 " "
        TYPE_TAPP@3426..3454
          PATH@3426..3433
            Ident@3426..3433 "HashMap"
          TYPE_PARAM_LIST@3433..3454
            LBracket@3433..3434 "["
            TYPE_ARRAY@3434..3444
              LBracket@3434..3435 "["
              TYPE_INT@3435..3440
                IsizeKeyword@3435..3440 "isize"
              Semi@3440..3441 ";"
              Whitespace@3441..3442 " "
              Int@3442..3443 "2"
              RBracket@3443..3444 "]"
            Comma@3444..3445 ","
            Whitespace@3445..3446 " "
            TYPE_STRING@3446..3452
              StringKeyword@3446..3452 "string"
            RBracket@3452..3453 "]"
            Whitespace@3453..3454 " "
        Eq@3454..3455 "="
        Whitespace@3455..3456 " "
        EXPR_CALL@3456..3470
          EXPR_IDENT@3456..3468
            PATH@3456..3468
              Ident@3456..3463 "HashMap"
              ColonColon@3463..3465 "::"
              Ident@3465..3468 "new"
          ARG_LIST@3468..3470
            LParen@3468..3469 "("
            RParen@3469..3470 ")"
        Semi@3470..3471 ";"
        Whitespace@3471..3476 "\n    "
      STMT_EXPR@3476..3515
        EXPR_CALL@3476..3509
          EXPR_BINARY@3476..3492
            EXPR_IDENT@3476..3488
              PATH@3476..3488
                Ident@3476..3488 "array_values"
            Dot@3488..3489 "."
            EXPR_IDENT@3489..3492
              PATH@3489..3492
                Ident@3489..3492 "set"
          ARG_LIST@3492..3509
            LParen@3492..3493 "("
            ARG@3493..3501
              EXPR_ARRAY_LITERAL@3493..3499
                LBracket@3493..3494 "["
                EXPR_INT@3494..3495
                  Int@3494..3495 "1"
                Comma@3495..3496 ","
                Whitespace@3496..3497 " "
                EXPR_INT@3497..3498
                  Int@3497..3498 "2"
                RBracket@3498..3499 "]"
              Comma@3499..3500 ","
              Whitespace@3500..3501 " "
            ARG@3501..3508
              EXPR_STR@3501..3508
                Str@3501..3508 "\"array\""
            RParen@3508..3509 ")"
        Semi@3509..3510 ";"
        Whitespace@3510..3515 "\n    "
      EXPR_CALL@3515..3570
        EXPR_IDENT@3515..3522
          PATH@3515..3522
            Ident@3515..3522 "println"
        ARG_LIST@3522..3570
          LParen@3522..3523 "("
          ARG@3523..3568
            EXPR_CALL@3523..3568
              EXPR_BINARY@3523..3557
                EXPR_CALL@3523..3547
                  EXPR_BINARY@3523..3539
                    EXPR_IDENT@3523..3535
                      PATH@3523..3535
                        Ident@3523..3535 "array_values"
                    Dot@3535..3536 "."
                    EXPR_IDENT@3536..3539
                      PATH@3536..3539
                        Ident@3536..3539 "get"
                  ARG_LIST@3539..3547
                    LParen@3539..3540 "("
                    ARG@3540..3546
                      EXPR_ARRAY_LITERAL@3540..3546
                        LBracket@3540..3541 "["
                        EXPR_INT@3541..3542
                          Int@3541..3542 "1"
                        Comma@3542..3543 ","
                        Whitespace@3543..3544 " "
                        EXPR_INT@3544..3545
                          Int@3544..3545 "2"
                        RBracket@3545..3546 "]"
                    RParen@3546..3547 ")"
                Dot@3547..3548 "."
                EXPR_IDENT@3548..3557
                  PATH@3548..3557
                    Ident@3548..3557 "unwrap_or"
              ARG_LIST@3557..3568
                LParen@3557..3558 "("
                ARG@3558..3567
                  EXPR_STR@3558..3567
                    Str@3558..3567 "\"missing\""
                RParen@3567..3568 ")"
          RParen@3568..3569 ")"
          Whitespace@3569..3570 "\n"
      RBrace@3570..3571 "}"
      Whitespace@3571..3572 "\n"