FILE@0..3574
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..12
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..12 "cmp"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..120
    ATTRIBUTE_LIST@15..64
      ATTRIBUTE@15..64
        Pound@15..16 "#"
        LBracket@16..17 "["
        Ident@17..23 "derive"
        LParen@23..24 "("
        Ident@24..33 "PartialEq"
        Comma@33..34 ","
        Whitespace@34..35 " "
        Ident@35..37 "Eq"
        Comma@37..38 ","
        Whitespace@38..39 " "
        Ident@39..49 "PartialOrd"
        Comma@49..50 ","
        Whitespace@50..51 " "
        Ident@51..54 "Ord"
        Comma@54..55 ","
        Whitespace@55..56 " "
        Ident@56..61 "Debug"
        RParen@61..62 ")"
        RBracket@62..63 "]"
        Whitespace@63..64 "\n"
    StructKeyword@64..70 "struct"
    Whitespace@70..71 " "
    Ident@71..78 "Version"
    Whitespace@78..79 " "
    LBrace@79..80 "{"
    Whitespace@80..85 "\n    "
    STRUCT_FIELD_LIST@85..120
      STRUCT_FIELD@85..97
        Ident@85..90 "major"
        Colon@90..91 ":"
        Whitespace@91..92 " "
        TYPE_INT@92..97
          IsizeKeyword@92..97 "isize"
      Comma@97..98 ","
      Whitespace@98..103 "\n    "
      STRUCT_FIELD@103..115
        Ident@103..108 "minor"
        Colon@108..109 ":"
        Whitespace@109..110 " "
        TYPE_INT@110..115
          IsizeKeyword@110..115 "isize"
      Comma@115..116 ","
      Whitespace@116..117 "\n"
      RBrace@117..118 "}"
      Whitespace@118..120 "\n\n"
  ENUM@120..282
    ATTRIBUTE_LIST@120..169
      ATTRIBUTE@120..169
        Pound@120..121 "#"
        LBracket@121..122 "["
        Ident@122..128 "derive"
        LParen@128..129 "("
        Ident@129..138 "PartialEq"
        Comma@138..139 ","
        Whitespace@139..140 " "
        Ident@140..142 "Eq"
        Comma@142..143 ","
        Whitespace@143..144 " "
        Ident@144..154 "PartialOrd"
        Comma@154..155 ","
        Whitespace@155..156 " "
        Ident@156..159 "Ord"
        Comma@159..160 ","
        Whitespace@160..161 " "
        Ident@161..166 "Debug"
        RParen@166..167 ")"
        RBracket@167..168 "]"
        Whitespace@168..169 "\n"
    EnumKeyword@169..173 "enum"
    Whitespace@173..174 " "
    Ident@174..179 "Level"
    Whitespace@179..180 " "
    LBrace@180..181 "{"
    Whitespace@181..186 "\n    "
    VARIANT_LIST@186..282
      VARIANT@186..189
        Ident@186..189 "Low"
      Comma@189..190 ","
      Whitespace@190..195 "\n    "
      VARIANT@195..215
        Ident@195..201 "Medium"
        TYPE_LIST@201..215
          LParen@201..202 "("
          ENUM_TUPLE_FIELD@202..207
            TYPE_INT@202..207
              IsizeKeyword@202..207 "isize"
          Comma@207..208 ","
          Whitespace@208..209 " "
          ENUM_TUPLE_FIELD@209..214
            TYPE_INT@209..214
              IsizeKeyword@209..214 "isize"
          RParen@214..215 ")"
      Comma@215..216 ","
      Whitespace@216..221 "\n    "
      VARIANT@221..277
        Ident@221..225 "High"
        Whitespace@225..226 " "
        LBrace@226..227 "{"
        Whitespace@227..236 "\n        "
        STRUCT_FIELD_LIST@236..277
          STRUCT_FIELD@236..247
            Ident@236..240 "rank"
            Colon@240..241 ":"
            Whitespace@241..242 " "
            TYPE_INT@242..247
              IsizeKeyword@242..247 "isize"
          Comma@247..248 ","
          Whitespace@248..257 "\n        "
          STRUCT_FIELD@257..270
            Ident@257..263 "detail"
            Colon@263..264 ":"
            Whitespace@264..265 " "
            TYPE_INT@265..270
              IsizeKeyword@265..270 "isize"
          Comma@270..271 ","
          Whitespace@271..276 "\n    "
          RBrace@276..277 "}"
      Comma@277..278 ","
      Whitespace@278..279 "\n"
      RBrace@279..280 "}"
      Whitespace@280..282 "\n\n"
  STRUCT@282..355
    ATTRIBUTE_LIST@282..315
      ATTRIBUTE@282..315
        Pound@282..283 "#"
        LBracket@283..284 "["
        Ident@284..290 "derive"
        LParen@290..291 "("
        Ident@291..300 "PartialEq"
        Comma@300..301 ","
        Whitespace@301..302 " "
        Ident@302..312 "PartialOrd"
        RParen@312..313 ")"
        RBracket@313..314 "]"
        Whitespace@314..315 "\n"
    StructKeyword@315..321 "struct"
    Whitespace@321..322 " "
    Ident@322..333 "MaybeNumber"
    Whitespace@333..334 " "
    LBrace@334..335 "{"
    Whitespace@335..340 "\n    "
    STRUCT_FIELD_LIST@340..355
      STRUCT_FIELD@340..350
        Ident@340..345 "value"
        Colon@345..346 ":"
        Whitespace@346..347 " "
        TYPE_FLOAT64@347..350
          F64Keyword@347..350 "f64"
      Comma@350..351 ","
      Whitespace@351..352 "\n"
      RBrace@352..353 "}"
      Whitespace@353..355 "\n\n"
  STRUCT@355..480
    ATTRIBUTE_LIST@355..404
      ATTRIBUTE@355..404
        Pound@355..356 "#"
        LBracket@356..357 "["
        Ident@357..363 "derive"
        LParen@363..364 "("
        Ident@364..373 "PartialEq"
        Comma@373..374 ","
        Whitespace@374..375 " "
        Ident@375..377 "Eq"
        Comma@377..378 ","
        Whitespace@378..379 " "
        Ident@379..389 "PartialOrd"
        Comma@389..390 ","
        Whitespace@390..391 " "
        Ident@391..394 "Ord"
        Comma@394..395 ","
        Whitespace@395..396 " "
        Ident@396..401 "Debug"
        RParen@401..402 ")"
        RBracket@402..403 "]"
        Whitespace@403..404 "\n"
    StructKeyword@404..410 "struct"
    Whitespace@410..411 " "
    Ident@411..422 "GenericPair"
    GENERIC_LIST@422..426
      LBracket@422..423 "["
      GENERIC@423..424
        Ident@423..424 "T"
      RBracket@424..425 "]"
      Whitespace@425..426 " "
    LBrace@426..427 "{"
    Whitespace@427..432 "\n    "
    STRUCT_FIELD_LIST@432..480
      STRUCT_FIELD@432..440
        Ident@432..437 "first"
        Colon@437..438 ":"
        Whitespace@438..439 " "
        TYPE_TAPP@439..440
          PATH@439..440
            Ident@439..440 "T"
      Comma@440..441 ","
      Whitespace@441..446 "\n    "
      STRUCT_FIELD@446..455
        Ident@446..452 "second"
        Colon@452..453 ":"
        Whitespace@453..454 " "
        TYPE_TAPP@454..455
          PATH@454..455
            Ident@454..455 "T"
      Comma@455..456 ","
      Whitespace@456..461 "\n    "
      STRUCT_FIELD@461..475
        Ident@461..467 "nested"
        Colon@467..468 ":"
        Whitespace@468..469 " "
        TYPE_TAPP@469..475
          PATH@469..472
            Ident@469..472 "Vec"
          TYPE_PARAM_LIST@472..475
            LBracket@472..473 "["
            TYPE_TAPP@473..474
              PATH@473..474
                Ident@473..474 "T"
            RBracket@474..475 "]"
      Comma@475..476 ","
      Whitespace@476..477 "\n"
      RBrace@477..478 "}"
      Whitespace@478..480 "\n\n"
  STRUCT@480..500
    StructKeyword@480..486 "struct"
    Whitespace@486..487 " "
    Ident@487..495 "NoTraits"
    Whitespace@495..496 " "
    LBrace@496..497 "{"
    STRUCT_FIELD_LIST@497..500
      RBrace@497..498 "}"
      Whitespace@498..500 "\n\n"
  ENUM@500..586
    ATTRIBUTE_LIST@500..542
      ATTRIBUTE@500..542
        Pound@500..501 "#"
        LBracket@501..502 "["
        Ident@502..508 "derive"
        LParen@508..509 "("
        Ident@509..518 "PartialEq"
        Comma@518..519 ","
        Whitespace@519..520 " "
        Ident@520..522 "Eq"
        Comma@522..523 ","
        Whitespace@523..524 " "
        Ident@524..534 "PartialOrd"
        Comma@534..535 ","
        Whitespace@535..536 " "
        Ident@536..539 "Ord"
        RParen@539..540 ")"
        RBracket@540..541 "]"
        Whitespace@541..542 "\n"
    EnumKeyword@542..546 "enum"
    Whitespace@546..547 " "
    Ident@547..554 "Phantom"
    GENERIC_LIST@554..558
      LBracket@554..555 "["
      GENERIC@555..556
        Ident@555..556 "T"
      RBracket@556..557 "]"
      Whitespace@557..558 " "
    LBrace@558..559 "{"
    Whitespace@559..564 "\n    "
    VARIANT_LIST@564..586
      VARIANT@564..569
        Ident@564..569 "First"
      Comma@569..570 ","
      Whitespace@570..575 "\n    "
      VARIANT@575..581
        Ident@575..581 "Second"
      Comma@581..582 ","
      Whitespace@582..583 "\n"
      RBrace@583..584 "}"
      Whitespace@584..586 "\n\n"
  ENUM@586..669
    ATTRIBUTE_LIST@586..619
      ATTRIBUTE@586..619
        Pound@586..587 "#"
        LBracket@587..588 "["
        Ident@588..594 "derive"
        LParen@594..595 "("
        Ident@595..604 "PartialEq"
        Comma@604..605 ","
        Whitespace@605..606 " "
        Ident@606..616 "PartialOrd"
        RParen@616..617 ")"
        RBracket@617..618 "]"
        Whitespace@618..619 "\n"
    EnumKeyword@619..623 "enum"
    Whitespace@623..624 " "
    Ident@624..636 "PartialLevel"
    Whitespace@636..637 " "
    LBrace@637..638 "{"
    Whitespace@638..643 "\n    "
    VARIANT_LIST@643..669
      VARIANT@643..653
        Ident@643..648 "Value"
        TYPE_LIST@648..653
          LParen@648..649 "("
          ENUM_TUPLE_FIELD@649..652
            TYPE_FLOAT64@649..652
              F64Keyword@649..652 "f64"
          RParen@652..653 ")"
      Comma@653..654 ","
      Whitespace@654..659 "\n    "
      VARIANT@659..664
        Ident@659..664 "Empty"
      Comma@664..665 ","
      Whitespace@665..666 "\n"
      RBrace@666..667 "}"
      Whitespace@667..669 "\n\n"
  FN@669..872
    FnKeyword@669..671 "fn"
    Whitespace@671..672 " "
    Ident@672..685 "ordering_name"
    PARAM_LIST@685..708
      LParen@685..686 "("
      PARAM@686..706
        Ident@686..691 "value"
        Colon@691..692 ":"
        Whitespace@692..693 " "
        TYPE_TAPP@693..706
          PATH@693..706
            Ident@693..696 "cmp"
            ColonColon@696..698 "::"
            Ident@698..706 "Ordering"
      RParen@706..707 ")"
      Whitespace@707..708 " "
    Arrow@708..710 "->"
    Whitespace@710..711 " "
    TYPE_STRING@711..718
      StringKeyword@711..717 "string"
      Whitespace@717..718 " "
    BLOCK@718..872
      LBrace@718..719 "{"
      Whitespace@719..724 "\n    "
      EXPR_MATCH@724..869
        MatchKeyword@724..729 "match"
        Whitespace@729..730 " "
        EXPR_IDENT@730..736
          PATH@730..736
            Ident@730..735 "value"
            Whitespace@735..736 " "
        MATCH_ARM_LIST@736..869
          LBrace@736..737 "{"
          Whitespace@737..746 "\n        "
          MATCH_ARM@746..775
            PATTERN_CONSTR@746..766
              PATH@746..766
                Ident@746..749 "cmp"
                ColonColon@749..751 "::"
                Ident@751..759 "Ordering"
                ColonColon@759..761 "::"
                Ident@761..765 "Less"
                Whitespace@765..766 " "
            FatArrow@766..768 "=>"
            Whitespace@768..769 " "
            EXPR_STR@769..775
              Str@769..775 "\"less\""
          Comma@775..776 ","
          Whitespace@776..785 "\n        "
          MATCH_ARM@785..816
            PATTERN_CONSTR@785..806
              PATH@785..806
                Ident@785..788 "cmp"
                ColonColon@788..790 "::"
                Ident@790..798 "Ordering"
                ColonColon@798..800 "::"
                Ident@800..805 "Equal"
                Whitespace@805..806 " "
            FatArrow@806..808 "=>"
            Whitespace@808..809 " "
            EXPR_STR@809..816
              Str@809..816 "\"equal\""
          Comma@816..817 ","
          Whitespace@817..826 "\n        "
          MATCH_ARM@826..861
            PATTERN_CONSTR@826..849
              PATH@826..849
                Ident@826..829 "cmp"
                ColonColon@829..831 "::"
                Ident@831..839 "Ordering"
                ColonColon@839..841 "::"
                Ident@841..848 "Greater"
                Whitespace@848..849 " "
            FatArrow@849..851 "=>"
            Whitespace@851..852 " "
            EXPR_STR@852..861
              Str@852..861 "\"greater\""
          Comma@861..862 ","
          Whitespace@862..867 "\n    "
          RBrace@867..868 "}"
          Whitespace@868..869 "\n"
      RBrace@869..870 "}"
      Whitespace@870..872 "\n\n"
  FN@872..3574
    FnKeyword@872..874 "fn"
    Whitespace@874..875 " "
    Ident@875..879 "main"
    PARAM_LIST@879..882
      LParen@879..880 "("
      RParen@880..881 ")"
      Whitespace@881..882 " "
    Arrow@882..884 "->"
    Whitespace@884..885 " "
    TYPE_UNIT@885..890
      UnitKeyword@885..889 "unit"
      Whitespace@889..890 " "
    BLOCK@890..3574
      LBrace@890..891 "{"
      Whitespace@891..896 "\n    "
      STMT_LET@896..944
        LetKeyword@896..899 "let"
        Whitespace@899..900 " "
        PATTERN_VARIABLE@900..906
          Ident@900..905 "first"
          Whitespace@905..906 " "
        Eq@906..907 "="
        Whitespace@907..908 " "
        EXPR_STRUCT_LITERAL@908..938
          PATH@908..916
            Ident@908..915 "Version"
            Whitespace@915..916 " "
          STRUCT_LITERAL_FIELD_LIST@916..938
            LBrace@916..917 "{"
            Whitespace@917..918 " "
            STRUCT_LITERAL_FIELD@918..926
              Ident@918..923 "major"
              Colon@923..924 ":"
              Whitespace@924..925 " "
              EXPR_INT@925..926
                Int@925..926 "1"
            Comma@926..927 ","
            Whitespace@927..928 " "
            STRUCT_LITERAL_FIELD@928..937
              Ident@928..933 "minor"
              Colon@933..934 ":"
              Whitespace@934..935 " "
              EXPR_INT@935..937
                Int@935..936 "9"
                Whitespace@936..937 " "
            RBrace@937..938 "}"
        Semi@938..939 ";"
        Whitespace@939..944 "\n    "
      STMT_LET@944..993
        LetKeyword@944..947 "let"
        Whitespace@947..948 " "
        PATTERN_VARIABLE@948..955
          Ident@948..954 "second"
          Whitespace@954..955 " "
        Eq@955..956 "="
        Whitespace@956..957 " "
        EXPR_STRUCT_LITERAL@957..987
          PATH@957..965
            Ident@957..964 "Version"
            Whitespace@964..965 " "
          STRUCT_LITERAL_FIELD_LIST@965..987
            LBrace@965..966 "{"
            Whitespace@966..967 " "
            STRUCT_LITERAL_FIELD@967..975
              Ident@967..972 "major"
              Colon@972..973 ":"
              Whitespace@973..974 " "
              EXPR_INT@974..975
                Int@974..975 "2"
            Comma@975..976 ","
            Whitespace@976..977 " "
            STRUCT_LITERAL_FIELD@977..986
              Ident@977..982 "minor"
              Colon@982..983 ":"
              Whitespace@983..984 " "
              EXPR_INT@984..986
                Int@984..985 "0"
                Whitespace@985..986 " "
            RBrace@986..987 "}"
        Semi@987..988 ";"
        Whitespace@988..993 "\n    "
      STMT_EXPR@993..1036
        EXPR_CALL@993..1030
          EXPR_IDENT@993..1000
            PATH@993..1000
              Ident@993..1000 "println"
          ARG_LIST@1000..1030
            LParen@1000..1001 "("
            ARG@1001..1029
              EXPR_CALL@1001..1029
                EXPR_BINARY@1001..1027
                  EXPR_PAREN@1001..1017
                    LParen@1001..1002 "("
                    EXPR_BINARY@1002..1016
                      EXPR_IDENT@1002..1008
                        PATH@1002..1008
                          Ident@1002..1007 "first"
                          Whitespace@1007..1008 " "
                      Less@1008..1009 "<"
                      Whitespace@1009..1010 " "
                      EXPR_IDENT@1010..1016
                        PATH@1010..1016
                          Ident@1010..1016 "second"
                    RParen@1016..1017 ")"
                  Dot@1017..1018 "."
                  EXPR_IDENT@1018..1027
                    PATH@1018..1027
                      Ident@1018..1027 "to_string"
                ARG_LIST@1027..1029
                  LParen@1027..1028 "("
                  RParen@1028..1029 ")"
            RParen@1029..1030 ")"
        Semi@1030..1031 ";"
        Whitespace@1031..1036 "\n    "
      STMT_EXPR@1036..1094
        EXPR_CALL@1036..1088
          EXPR_IDENT@1036..1043
            PATH@1036..1043
              Ident@1036..1043 "println"
          ARG_LIST@1043..1088
            LParen@1043..1044 "("
            ARG@1044..1087
              EXPR_CALL@1044..1087
                EXPR_IDENT@1044..1057
                  PATH@1044..1057
                    Ident@1044..1057 "ordering_name"
                ARG_LIST@1057..1087
                  LParen@1057..1058 "("
                  ARG@1058..1086
                    EXPR_CALL@1058..1086
                      EXPR_IDENT@1058..1071
                        PATH@1058..1071
                          Ident@1058..1061 "cmp"
                          ColonColon@1061..1063 "::"
                          Ident@1063..1066 "Ord"
                          ColonColon@1066..1068 "::"
                          Ident@1068..1071 "cmp"
                      ARG_LIST@1071..1086
                        LParen@1071..1072 "("
                        ARG@1072..1079
                          EXPR_IDENT@1072..1077
                            PATH@1072..1077
                              Ident@1072..1077 "first"
                          Comma@1077..1078 ","
                          Whitespace@1078..1079 " "
                        ARG@1079..1085
                          EXPR_IDENT@1079..1085
                            PATH@1079..1085
                              Ident@1079..1085 "second"
                        RParen@1085..1086 ")"
                  RParen@1086..1087 ")"
            RParen@1087..1088 ")"
        Semi@1088..1089 ";"
        Whitespace@1089..1094 "\n    "
      STMT_EXPR@1094..1155
        EXPR_CALL@1094..1149
          EXPR_IDENT@1094..1101
            PATH@1094..1101
              Ident@1094..1101 "println"
          ARG_LIST@1101..1149
            LParen@1101..1102 "("
            ARG@1102..1148
              EXPR_CALL@1102..1148
                EXPR_BINARY@1102..1146
                  EXPR_PAREN@1102..1136
                    LParen@1102..1103 "("
                    EXPR_BINARY@1103..1135
                      EXPR_IDENT@1103..1114
                        PATH@1103..1114
                          Ident@1103..1108 "Level"
                          ColonColon@1108..1110 "::"
                          Ident@1110..1113 "Low"
                          Whitespace@1113..1114 " "
                      Less@1114..1115 "<"
                      Whitespace@1115..1116 " "
                      EXPR_CALL@1116..1135
                        EXPR_IDENT@1116..1129
                          PATH@1116..1129
                            Ident@1116..1121 "Level"
                            ColonColon@1121..1123 "::"
                            Ident@1123..1129 "Medium"
                        ARG_LIST@1129..1135
                          LParen@1129..1130 "("
                          ARG@1130..1133
                            EXPR_INT@1130..1131
                              Int@1130..1131 "0"
                            Comma@1131..1132 ","
                            Whitespace@1132..1133 " "
                          ARG@1133..1134
                            EXPR_INT@1133..1134
                              Int@1133..1134 "0"
                          RParen@1134..1135 ")"
                    RParen@1135..1136 ")"
                  Dot@1136..1137 "."
                  EXPR_IDENT@1137..1146
                    PATH@1137..1146
                      Ident@1137..1146 "to_string"
                ARG_LIST@1146..1148
                  LParen@1146..1147 "("
                  RParen@1147..1148 ")"
            RParen@1148..1149 ")"
        Semi@1149..1150 ";"
        Whitespace@1150..1155 "\n    "
      STMT_EXPR@1155..1225
        EXPR_CALL@1155..1219
          EXPR_IDENT@1155..1162
            PATH@1155..1162
              Ident@1155..1162 "println"
          ARG_LIST@1162..1219
            LParen@1162..1163 "("
            ARG@1163..1218
              EXPR_CALL@1163..1218
                EXPR_BINARY@1163..1216
                  EXPR_PAREN@1163..1206
                    LParen@1163..1164 "("
                    EXPR_BINARY@1164..1205
                      EXPR_CALL@1164..1184
                        EXPR_IDENT@1164..1177
                          PATH@1164..1177
                            Ident@1164..1169 "Level"
                            ColonColon@1169..1171 "::"
                            Ident@1171..1177 "Medium"
                        ARG_LIST@1177..1184
                          LParen@1177..1178 "("
                          ARG@1178..1181
                            EXPR_INT@1178..1179
                              Int@1178..1179 "1"
                            Comma@1179..1180 ","
                            Whitespace@1180..1181 " "
                          ARG@1181..1182
                            EXPR_INT@1181..1182
                              Int@1181..1182 "9"
                          RParen@1182..1183 ")"
                          Whitespace@1183..1184 " "
                      Less@1184..1185 "<"
                      Whitespace@1185..1186 " "
                      EXPR_CALL@1186..1205
                        EXPR_IDENT@1186..1199
                          PATH@1186..1199
                            Ident@1186..1191 "Level"
                            ColonColon@1191..1193 "::"
                            Ident@1193..1199 "Medium"
                        ARG_LIST@1199..1205
                          LParen@1199..1200 "("
                          ARG@1200..1203
                            EXPR_INT@1200..1201
                              Int@1200..1201 "2"
                            Comma@1201..1202 ","
                            Whitespace@1202..1203 " "
                          ARG@1203..1204
                            EXPR_INT@1203..1204
                              Int@1203..1204 "0"
                          RParen@1204..1205 ")"
                    RParen@1205..1206 ")"
                  Dot@1206..1207 "."
                  EXPR_IDENT@1207..1216
                    PATH@1207..1216
                      Ident@1207..1216 "to_string"
                ARG_LIST@1216..1218
                  LParen@1216..1217 "("
                  RParen@1217..1218 ")"
            RParen@1218..1219 ")"
        Semi@1219..1220 ";"
        Whitespace@1220..1225 "\n    "
      STMT_EXPR@1225..1378
        EXPR_CALL@1225..1372
          EXPR_IDENT@1225..1232
            PATH@1225..1232
              Ident@1225..1232 "println"
          ARG_LIST@1232..1372
            LParen@1232..1233 "("
            Whitespace@1233..1242 "\n        "
            ARG@1242..1371
              EXPR_CALL@1242..1365
                EXPR_IDENT@1242..1255
                  PATH@1242..1255
                    Ident@1242..1255 "ordering_name"
                ARG_LIST@1255..1365
                  LParen@1255..1256 "("
                  Whitespace@1256..1269 "\n            "
                  ARG@1269..1364
                    EXPR_CALL@1269..1354
                      EXPR_IDENT@1269..1282
                        PATH@1269..1282
                          Ident@1269..1272 "cmp"
                          ColonColon@1272..1274 "::"
                          Ident@1274..1277 "Ord"
                          ColonColon@1277..1279 "::"
                          Ident@1279..1282 "cmp"
                      ARG_LIST@1282..1354
                        LParen@1282..1283 "("
                        ARG@1283..1319
                          EXPR_STRUCT_LITERAL@1283..1317
                            PATH@1283..1295
                              Ident@1283..1288 "Level"
                              ColonColon@1288..1290 "::"
                              Ident@1290..1294 "High"
                              Whitespace@1294..1295 " "
                            STRUCT_LITERAL_FIELD_LIST@1295..1317
                              LBrace@1295..1296 "{"
                              Whitespace@1296..1297 " "
                              STRUCT_LITERAL_FIELD@1297..1304
                                Ident@1297..1301 "rank"
                                Colon@1301..1302 ":"
                                Whitespace@1302..1303 " "
                                EXPR_INT@1303..1304
                                  Int@1303..1304 "3"
                              Comma@1304..1305 ","
                              Whitespace@1305..1306 " "
                              STRUCT_LITERAL_FIELD@1306..1316
                                Ident@1306..1312 "detail"
                                Colon@1312..1313 ":"
                                Whitespace@1313..1314 " "
                                EXPR_INT@1314..1316
                                  Int@1314..1315 "1"
                                  Whitespace@1315..1316 " "
                              RBrace@1316..1317 "}"
                          Comma@1317..1318 ","
                          Whitespace@1318..1319 " "
                        ARG@1319..1353
                          EXPR_STRUCT_LITERAL@1319..1353
                            PATH@1319..1331
                              Ident@1319..1324 "Level"
                              ColonColon@1324..1326 "::"
                              Ident@1326..1330 "High"
                              Whitespace@1330..1331 " "
                            STRUCT_LITERAL_FIELD_LIST@1331..1353
                              LBrace@1331..1332 "{"
                              Whitespace@1332..1333 " "
                              STRUCT_LITERAL_FIELD@1333..1340
                                Ident@1333..1337 "rank"
                                Colon@1337..1338 ":"
                                Whitespace@1338..1339 " "
                                EXPR_INT@1339..1340
                                  Int@1339..1340 "3"
                              Comma@1340..1341 ","
                              Whitespace@1341..1342 " "
                              STRUCT_LITERAL_FIELD@1342..1352
                                Ident@1342..1348 "detail"
                                Colon@1348..1349 ":"
                                Whitespace@1349..1350 " "
                                EXPR_INT@1350..1352
                                  Int@1350..1351 "1"
                                  Whitespace@1351..1352 " "
                              RBrace@1352..1353 "}"
                        RParen@1353..1354 ")"
                    Comma@1354..1355 ","
                    Whitespace@1355..1364 "\n        "
                  RParen@1364..1365 ")"
              Comma@1365..1366 ","
              Whitespace@1366..1371 "\n    "
            RParen@1371..1372 ")"
        Semi@1372..1373 ";"
        Whitespace@1373..1378 "\n    "
      STMT_LET@1378..1398
        LetKeyword@1378..1381 "let"
        Whitespace@1381..1382 " "
        PATTERN_VARIABLE@1382..1387
          Ident@1382..1386 "zero"
          Whitespace@1386..1387 " "
        Eq@1387..1388 "="
        Whitespace@1388..1389 " "
        EXPR_FLOAT@1389..1392
          Float@1389..1392 "0.0"
        Semi@1392..1393 ";"
        Whitespace@1393..1398 "\n    "
      STMT_LET@1398..1448
        LetKeyword@1398..1401 "let"
        Whitespace@1401..1402 " "
        PATTERN_VARIABLE@1402..1406
          Ident@1402..1405 "nan"
          Whitespace@1405..1406 " "
        Eq@1406..1407 "="
        Whitespace@1407..1408 " "
        EXPR_STRUCT_LITERAL@1408..1442
          PATH@1408..1420
            Ident@1408..1419 "MaybeNumber"
            Whitespace@1419..1420 " "
          STRUCT_LITERAL_FIELD_LIST@1420..1442
            LBrace@1420..1421 "{"
            Whitespace@1421..1422 " "
            STRUCT_LITERAL_FIELD@1422..1441
              Ident@1422..1427 "value"
              Colon@1427..1428 ":"
              Whitespace@1428..1429 " "
              EXPR_BINARY@1429..1441
                EXPR_IDENT@1429..1434
                  PATH@1429..1434
                    Ident@1429..1433 "zero"
                    Whitespace@1433..1434 " "
                Slash@1434..1435 "/"
                Whitespace@1435..1436 " "
                EXPR_IDENT@1436..1441
                  PATH@1436..1441
                    Ident@1436..1440 "zero"
                    Whitespace@1440..1441 " "
            RBrace@1441..1442 "}"
        Semi@1442..1443 ";"
        Whitespace@1443..1448 "\n    "
      STMT_EXPR@1448..1487
        EXPR_CALL@1448..1481
          EXPR_IDENT@1448..1455
            PATH@1448..1455
              Ident@1448..1455 "println"
          ARG_LIST@1455..1481
            LParen@1455..1456 "("
            ARG@1456..1480
              EXPR_CALL@1456..1480
                EXPR_BINARY@1456..1478
                  EXPR_PAREN@1456..1468
                    LParen@1456..1457 "("
                    EXPR_BINARY@1457..1467
                      EXPR_IDENT@1457..1461
                        PATH@1457..1461
                          Ident@1457..1460 "nan"
                          Whitespace@1460..1461 " "
                      EqEq@1461..1463 "=="
                      Whitespace@1463..1464 " "
                      EXPR_IDENT@1464..1467
                        PATH@1464..1467
                          Ident@1464..1467 "nan"
                    RParen@1467..1468 ")"
                  Dot@1468..1469 "."
                  EXPR_IDENT@1469..1478
                    PATH@1469..1478
                      Ident@1469..1478 "to_string"
                ARG_LIST@1478..1480
                  LParen@1478..1479 "("
                  RParen@1479..1480 ")"
            RParen@1480..1481 ")"
        Semi@1481..1482 ";"
        Whitespace@1482..1487 "\n    "
      STMT_EXPR@1487..1562
        EXPR_CALL@1487..1556
          EXPR_IDENT@1487..1494
            PATH@1487..1494
              Ident@1487..1494 "println"
          ARG_LIST@1494..1556
            LParen@1494..1495 "("
            ARG@1495..1555
              EXPR_CALL@1495..1555
                EXPR_BINARY@1495..1553
                  EXPR_CALL@1495..1543
                    EXPR_BINARY@1495..1541
                      EXPR_CALL@1495..1533
                        EXPR_IDENT@1495..1523
                          PATH@1495..1523
                            Ident@1495..1498 "cmp"
                            ColonColon@1498..1500 "::"
                            Ident@1500..1510 "PartialOrd"
                            ColonColon@1510..1512 "::"
                            Ident@1512..1523 "partial_cmp"
                        ARG_LIST@1523..1533
                          LParen@1523..1524 "("
                          ARG@1524..1529
                            EXPR_IDENT@1524..1527
                              PATH@1524..1527
                                Ident@1524..1527 "nan"
                            Comma@1527..1528 ","
                            Whitespace@1528..1529 " "
                          ARG@1529..1532
                            EXPR_IDENT@1529..1532
                              PATH@1529..1532
                                Ident@1529..1532 "nan"
                          RParen@1532..1533 ")"
                      Dot@1533..1534 "."
                      EXPR_IDENT@1534..1541
                        PATH@1534..1541
                          Ident@1534..1541 "is_none"
                    ARG_LIST@1541..1543
                      LParen@1541..1542 "("
                      RParen@1542..1543 ")"
                  Dot@1543..1544 "."
                  EXPR_IDENT@1544..1553
                    PATH@1544..1553
                      Ident@1544..1553 "to_string"
                ARG_LIST@1553..1555
                  LParen@1553..1554 "("
                  RParen@1554..1555 ")"
            RParen@1555..1556 ")"
        Semi@1556..1557 ";"
        Whitespace@1557..1562 "\n    "
      STMT_LET@1562..1653
        LetKeyword@1562..1565 "let"
        Whitespace@1565..1566 " "
        PATTERN_VARIABLE@1566..1580
          Ident@1566..1579 "generic_first"
          Whitespace@1579..1580 " "
        Eq@1580..1581 "="
        Whitespace@1581..1582 " "
        EXPR_STRUCT_LITERAL@1582..1647
          PATH@1582..1594
            Ident@1582..1593 "GenericPair"
            Whitespace@1593..1594 " "
          STRUCT_LITERAL_FIELD_LIST@1594..1647
            LBrace@1594..1595 "{"
            Whitespace@1595..1596 " "
            STRUCT_LITERAL_FIELD@1596..1604
              Ident@1596..1601 "first"
              Colon@1601..1602 ":"
              Whitespace@1602..1603 " "
              EXPR_INT@1603..1604
                Int@1603..1604 "1"
            Comma@1604..1605 ","
            Whitespace@1605..1606 " "
            STRUCT_LITERAL_FIELD@1606..1615
              Ident@1606..1612 "second"
              Colon@1612..1613 ":"
              Whitespace@1613..1614 " "
              EXPR_INT@1614..1615
                Int@1614..1615 "2"
            Comma@1615..1616 ","
            Whitespace@1616..1617 " "
            STRUCT_LITERAL_FIELD@1617..1646
              Ident@1617..1623 "nested"
              Colon@1623..1624 ":"
              Whitespace@1624..1625 " "
              EXPR_CALL@1625..1646
                EXPR_IDENT@1625..1640
                  PATH@1625..1640
                    Ident@1625..1628 "Vec"
                    ColonColon@1628..1630 "::"
                    Ident@1630..1640 "from_array"
                ARG_LIST@1640..1646
                  LParen@1640..1641 "("
                  ARG@1641..1644
                    EXPR_ARRAY_LITERAL@1641..1644
                      LBracket@1641..1642 "["
                      EXPR_INT@1642..1643
                        Int@1642..1643 "3"
                      RBracket@1643..1644 "]"
                  RParen@1644..1645 ")"
                  Whitespace@1645..1646 " "
            RBrace@1646..1647 "}"
        Semi@1647..1648 ";"
        Whitespace@1648..1653 "\n    "
      STMT_LET@1653..1745
        LetKeyword@1653..1656 "let"
        Whitespace@1656..1657 " "
        PATTERN_VARIABLE@1657..1672
          Ident@1657..1671 "generic_second"
          Whitespace@1671..1672 " "
        Eq@1672..1673 "="
        Whitespace@1673..1674 " "
        EXPR_STRUCT_LITERAL@1674..1739
          PATH@1674..1686
            Ident@1674..1685 "GenericPair"
            Whitespace@1685..1686 " "
          STRUCT_LITERAL_FIELD_LIST@1686..1739
            LBrace@1686..1687 "{"
            Whitespace@1687..1688 " "
            STRUCT_LITERAL_FIELD@1688..1696
              Ident@1688..1693 "first"
              Colon@1693..1694 ":"
              Whitespace@1694..1695 " "
              EXPR_INT@1695..1696
                Int@1695..1696 "1"
            Comma@1696..1697 ","
            Whitespace@1697..1698 " "
            STRUCT_LITERAL_FIELD@1698..1707
              Ident@1698..1704 "second"
              Colon@1704..1705 ":"
              Whitespace@1705..1706 " "
              EXPR_INT@1706..1707
                Int@1706..1707 "3"
            Comma@1707..1708 ","
            Whitespace@1708..1709 " "
            STRUCT_LITERAL_FIELD@1709..1738
              Ident@1709..1715 "nested"
              Colon@1715..1716 ":"
              Whitespace@1716..1717 " "
              EXPR_CALL@1717..1738
                EXPR_IDENT@1717..1732
                  PATH@1717..1732
                    Ident@1717..1720 "Vec"
                    ColonColon@1720..1722 "::"
                    Ident@1722..1732 "from_array"
                ARG_LIST@1732..1738
                  LParen@1732..1733 "("
                  ARG@1733..1736
                    EXPR_ARRAY_LITERAL@1733..1736
                      LBracket@1733..1734 "["
                      EXPR_INT@1734..1735
                        Int@1734..1735 "0"
                      RBracket@1735..1736 "]"
                  RParen@1736..1737 ")"
                  Whitespace@1737..1738 " "
            RBrace@1738..1739 "}"
        Semi@1739..1740 ";"
        Whitespace@1740..1745 "\n    "
      STMT_EXPR@1745..1804
        EXPR_CALL@1745..1798
          EXPR_IDENT@1745..1752
            PATH@1745..1752
              Ident@1745..1752 "println"
          ARG_LIST@1752..1798
            LParen@1752..1753 "("
            ARG@1753..1797
              EXPR_CALL@1753..1797
                EXPR_BINARY@1753..1795
                  EXPR_PAREN@1753..1785
                    LParen@1753..1754 "("
                    EXPR_BINARY@1754..1784
                      EXPR_IDENT@1754..1768
                        PATH@1754..1768
                          Ident@1754..1767 "generic_first"
                          Whitespace@1767..1768 " "
                      Less@1768..1769 "<"
                      Whitespace@1769..1770 " "
                      EXPR_IDENT@1770..1784
                        PATH@1770..1784
                          Ident@1770..1784 "generic_second"
                    RParen@1784..1785 ")"
                  Dot@1785..1786 "."
                  EXPR_IDENT@1786..1795
                    PATH@1786..1795
                      Ident@1786..1795 "to_string"
                ARG_LIST@1795..1797
                  LParen@1795..1796 "("
                  RParen@1796..1797 ")"
            RParen@1797..1798 ")"
        Semi@1798..1799 ";"
        Whitespace@1799..1804 "\n    "
      STMT_LET@1804..1863
        LetKeyword@1804..1807 "let"
        Whitespace@1807..1808 " "
        PATTERN_VARIABLE@1808..1821
          Ident@1808..1821 "phantom_first"
        Colon@1821..1822 ":"
        Whitespace@1822..1823 " "
        TYPE_TAPP@1823..1841
          PATH@1823..1830
            Ident@1823..1830 "Phantom"
          TYPE_PARAM_LIST@1830..1841
            LBracket@1830..1831 "["
            TYPE_TAPP@1831..1839
              PATH@1831..1839
                Ident@1831..1839 "NoTraits"
            RBracket@1839..1840 "]"
            Whitespace@1840..1841 " "
        Eq@1841..1842 "="
        Whitespace@1842..1843 " "
        EXPR_IDENT@1843..1857
          PATH@1843..1857
            Ident@1843..1850 "Phantom"
            ColonColon@1850..1852 "::"
            Ident@1852..1857 "First"
        Semi@1857..1858 ";"
        Whitespace@1858..1863 "\n    "
      STMT_LET@1863..1924
        LetKeyword@1863..1866 "let"
        Whitespace@1866..1867 " "
        PATTERN_VARIABLE@1867..1881
          Ident@1867..1881 "phantom_second"
        Colon@1881..1882 ":"
        Whitespace@1882..1883 " "
        TYPE_TAPP@1883..1901
          PATH@1883..1890
            Ident@1883..1890 "Phantom"
          TYPE_PARAM_LIST@1890..1901
            LBracket@1890..1891 "["
            TYPE_TAPP@1891..1899
              PATH@1891..1899
                Ident@1891..1899 "NoTraits"
            RBracket@1899..1900 "]"
            Whitespace@1900..1901 " "
        Eq@1901..1902 "="
        Whitespace@1902..1903 " "
        EXPR_IDENT@1903..1918
          PATH@1903..1918
            Ident@1903..1910 "Phantom"
            ColonColon@1910..1912 "::"
            Ident@1912..1918 "Second"
        Semi@1918..1919 ";"
        Whitespace@1919..1924 "\n    "
      STMT_EXPR@1924..1983
        EXPR_CALL@1924..1977
          EXPR_IDENT@1924..1931
            PATH@1924..1931
              Ident@1924..1931 "println"
          ARG_LIST@1931..1977
            LParen@1931..1932 "("
            ARG@1932..1976
              EXPR_CALL@1932..1976
                EXPR_BINARY@1932..1974
                  EXPR_PAREN@1932..1964
                    LParen@1932..1933 "("
                    EXPR_BINARY@1933..1963
                      EXPR_IDENT@1933..1947
                        PATH@1933..1947
                          Ident@1933..1946 "phantom_first"
                          Whitespace@1946..1947 " "
                      Less@1947..1948 "<"
                      Whitespace@1948..1949 " "
                      EXPR_IDENT@1949..1963
                        PATH@1949..1963
                          Ident@1949..1963 "phantom_second"
                    RParen@1963..1964 ")"
                  Dot@1964..1965 "."
                  EXPR_IDENT@1965..1974
                    PATH@1965..1974
                      Ident@1965..1974 "to_string"
                ARG_LIST@1974..1976
                  LParen@1974..1975 "("
                  RParen@1975..1976 ")"
            RParen@1976..1977 ")"
        Semi@1977..1978 ";"
        Whitespace@1978..1983 "\n    "
      STMT_LET@1983..2039
        LetKeyword@1983..1986 "let"
        Whitespace@1986..1987 " "
        PATTERN_VARIABLE@1987..1999
          Ident@1987..1998 "partial_nan"
          Whitespace@1998..1999 " "
        Eq@1999..2000 "="
        Whitespace@2000..2001 " "
        EXPR_CALL@2001..2033
          EXPR_IDENT@2001..2020
            PATH@2001..2020
              Ident@2001..2013 "PartialLevel"
              ColonColon@2013..2015 "::"
              Ident@2015..2020 "Value"
          ARG_LIST@2020..2033
            LParen@2020..2021 "("
            ARG@2021..2032
              EXPR_BINARY@2021..2032
                EXPR_IDENT@2021..2026
                  PATH@2021..2026
                    Ident@2021..2025 "zero"
                    Whitespace@2025..2026 " "
                Slash@2026..2027 "/"
                Whitespace@2027..2028 " "
                EXPR_IDENT@2028..2032
                  PATH@2028..2032
                    Ident@2028..2032 "zero"
            RParen@2032..2033 ")"
        Semi@2033..2034 ";"
        Whitespace@2034..2039 "\n    "
      STMT_EXPR@2039..2130
        EXPR_CALL@2039..2124
          EXPR_IDENT@2039..2046
            PATH@2039..2046
              Ident@2039..2046 "println"
          ARG_LIST@2046..2124
            LParen@2046..2047 "("
            ARG@2047..2123
              EXPR_CALL@2047..2123
                EXPR_BINARY@2047..2121
                  EXPR_CALL@2047..2111
                    EXPR_BINARY@2047..2109
                      EXPR_CALL@2047..2101
                        EXPR_IDENT@2047..2075
                          PATH@2047..2075
                            Ident@2047..2050 "cmp"
                            ColonColon@2050..2052 "::"
                            Ident@2052..2062 "PartialOrd"
                            ColonColon@2062..2064 "::"
                            Ident@2064..2075 "partial_cmp"
                        ARG_LIST@2075..2101
                          LParen@2075..2076 "("
                          ARG@2076..2089
                            EXPR_IDENT@2076..2087
                              PATH@2076..2087
                                Ident@2076..2087 "partial_nan"
                            Comma@2087..2088 ","
                            Whitespace@2088..2089 " "
                          ARG@2089..2100
                            EXPR_IDENT@2089..2100
                              PATH@2089..2100
                                Ident@2089..2100 "partial_nan"
                          RParen@2100..2101 ")"
                      Dot@2101..2102 "."
                      EXPR_IDENT@2102..2109
                        PATH@2102..2109
                          Ident@2102..2109 "is_none"
                    ARG_LIST@2109..2111
                      LParen@2109..2110 "("
                      RParen@2110..2111 ")"
                  Dot@2111..2112 "."
                  EXPR_IDENT@2112..2121
                    PATH@2112..2121
                      Ident@2112..2121 "to_string"
                ARG_LIST@2121..2123
                  LParen@2121..2122 "("
                  RParen@2122..2123 ")"
            RParen@2123..2124 ")"
        Semi@2124..2125 ";"
        Whitespace@2125..2130 "\n    "
      STMT_LET@2130..2190
        LetKeyword@2130..2133 "let"
        Whitespace@2133..2134 " "
        PATTERN_VARIABLE@2134..2146
          Ident@2134..2146 "first_values"
        Colon@2146..2147 ":"
        Whitespace@2147..2148 " "
        TYPE_TAPP@2148..2159
          PATH@2148..2151
            Ident@2148..2151 "Vec"
          TYPE_PARAM_LIST@2151..2159
            LBracket@2151..2152 "["
            TYPE_INT@2152..2157
              IsizeKeyword@2152..2157 "isize"
            RBracket@2157..2158 "]"
            Whitespace@2158..2159 " "
        Eq@2159..2160 "="
        Whitespace@2160..2161 " "
        EXPR_CALL@2161..2184
          EXPR_IDENT@2161..2176
            PATH@2161..2176
              Ident@2161..2164 "Vec"
              ColonColon@2164..2166 "::"
              Ident@2166..2176 "from_array"
          ARG_LIST@2176..2184
            LParen@2176..2177 "("
            ARG@2177..2183
              EXPR_ARRAY_LITERAL@2177..2183
                LBracket@2177..2178 "["
                EXPR_INT@2178..2179
                  Int@2178..2179 "1"
                Comma@2179..2180 ","
                Whitespace@2180..2181 " "
                EXPR_INT@2181..2182
                  Int@2181..2182 "2"
                RBracket@2182..2183 "]"
            RParen@2183..2184 ")"
        Semi@2184..2185 ";"
        Whitespace@2185..2190 "\n    "
      STMT_LET@2190..2251
        LetKeyword@2190..2193 "let"
        Whitespace@2193..2194 " "
        PATTERN_VARIABLE@2194..2207
          Ident@2194..2207 "second_values"
        Colon@2207..2208 ":"
        Whitespace@2208..2209 " "
        TYPE_TAPP@2209..2220
          PATH@2209..2212
            Ident@2209..2212 "Vec"
          TYPE_PARAM_LIST@2212..2220
            LBracket@2212..2213 "["
            TYPE_INT@2213..2218
              IsizeKeyword@2213..2218 "isize"
            RBracket@2218..2219 "]"
            Whitespace@2219..2220 " "
        Eq@2220..2221 "="
        Whitespace@2221..2222 " "
        EXPR_CALL@2222..2245
          EXPR_IDENT@2222..2237
            PATH@2222..2237
              Ident@2222..2225 "Vec"
              ColonColon@2225..2227 "::"
              Ident@2227..2237 "from_array"
          ARG_LIST@2237..2245
            LParen@2237..2238 "("
            ARG@2238..2244
              EXPR_ARRAY_LITERAL@2238..2244
                LBracket@2238..2239 "["
                EXPR_INT@2239..2240
                  Int@2239..2240 "1"
                Comma@2240..2241 ","
                Whitespace@2241..2242 " "
                EXPR_INT@2242..2243
                  Int@2242..2243 "3"
                RBracket@2243..2244 "]"
            RParen@2244..2245 ")"
        Semi@2245..2246 ";"
        Whitespace@2246..2251 "\n    "
      STMT_EXPR@2251..2308
        EXPR_CALL@2251..2302
          EXPR_IDENT@2251..2258
            PATH@2251..2258
              Ident@2251..2258 "println"
          ARG_LIST@2258..2302
            LParen@2258..2259 "("
            ARG@2259..2301
              EXPR_CALL@2259..2301
                EXPR_BINARY@2259..2299
                  EXPR_PAREN@2259..2289
                    LParen@2259..2260 "("
                    EXPR_BINARY@2260..2288
                      EXPR_IDENT@2260..2273
                        PATH@2260..2273
                          Ident@2260..2272 "first_values"
                          Whitespace@2272..2273 " "
                      Less@2273..2274 "<"
                      Whitespace@2274..2275 " "
                      EXPR_IDENT@2275..2288
                        PATH@2275..2288
                          Ident@2275..2288 "second_values"
                    RParen@2288..2289 ")"
                  Dot@2289..2290 "."
                  EXPR_IDENT@2290..2299
                    PATH@2290..2299
                      Ident@2290..2299 "to_string"
                ARG_LIST@2299..2301
                  LParen@2299..2300 "("
                  RParen@2300..2301 ")"
            RParen@2301..2302 ")"
        Semi@2302..2303 ";"
        Whitespace@2303..2308 "\n    "
      STMT_EXPR@2308..2370
        EXPR_CALL@2308..2364
          EXPR_IDENT@2308..2315
            PATH@2308..2315
              Ident@2308..2315 "println"
          ARG_LIST@2315..2364
            LParen@2315..2316 "("
            ARG@2316..2363
              EXPR_CALL@2316..2363
                EXPR_BINARY@2316..2361
                  EXPR_PAREN@2316..2351
                    LParen@2316..2317 "("
                    EXPR_BINARY@2317..2350
                      EXPR_CALL@2317..2333
                        EXPR_IDENT@2317..2329
                          PATH@2317..2329
                            Ident@2317..2323 "Option"
                            ColonColon@2323..2325 "::"
                            Ident@2325..2329 "Some"
                        ARG_LIST@2329..2333
                          LParen@2329..2330 "("
                          ARG@2330..2331
                            EXPR_INT@2330..2331
                              Int@2330..2331 "2"
                          RParen@2331..2332 ")"
                          Whitespace@2332..2333 " "
                      Less@2333..2334 "<"
                      Whitespace@2334..2335 " "
                      EXPR_CALL@2335..2350
                        EXPR_IDENT@2335..2347
                          PATH@2335..2347
                            Ident@2335..2341 "Option"
                            ColonColon@2341..2343 "::"
                            Ident@2343..2347 "Some"
                        ARG_LIST@2347..2350
                          LParen@2347..2348 "("
                          ARG@2348..2349
                            EXPR_INT@2348..2349
                              Int@2348..2349 "3"
                          RParen@2349..2350 ")"
                    RParen@2350..2351 ")"
                  Dot@2351..2352 "."
                  EXPR_IDENT@2352..2361
                    PATH@2352..2361
                      Ident@2352..2361 "to_string"
                ARG_LIST@2361..2363
                  LParen@2361..2362 "("
                  RParen@2362..2363 ")"
            RParen@2363..2364 ")"
        Semi@2364..2365 ";"
        Whitespace@2365..2370 "\n    "
      STMT_LET@2370..2421
        LetKeyword@2370..2373 "let"
        Whitespace@2373..2374 " "
        PATTERN_VARIABLE@2374..2376
          Ident@2374..2376 "ok"
        Colon@2376..2377 ":"
        Whitespace@2377..2378 " "
        TYPE_TAPP@2378..2400
          PATH@2378..2384
            Ident@2378..2384 "Result"
          TYPE_PARAM_LIST@2384..2400
            LBracket@2384..2385 "["
            TYPE_INT@2385..2390
              IsizeKeyword@2385..2390 "isize"
            Comma@2390..2391 ","
            Whitespace@2391..2392 " "
            TYPE_STRING@2392..2398
              StringKeyword@2392..2398 "string"
            RBracket@2398..2399 "]"
            Whitespace@2399..2400 " "
        Eq@2400..2401 "="
        Whitespace@2401..2402 " "
        EXPR_CALL@2402..2415
          EXPR_IDENT@2402..2412
            PATH@2402..2412
              Ident@2402..2408 "Result"
              ColonColon@2408..2410 "::"
              Ident@2410..2412 "Ok"
          ARG_LIST@2412..2415
            LParen@2412..2413 "("
            ARG@2413..2414
              EXPR_INT@2413..2414
                Int@2413..2414 "1"
            RParen@2414..2415 ")"
        Semi@2415..2416 ";"
        Whitespace@2416..2421 "\n    "
      STMT_LET@2421..2482
        LetKeyword@2421..2424 "let"
        Whitespace@2424..2425 " "
        PATTERN_VARIABLE@2425..2430
          Ident@2425..2430 "error"
        Colon@2430..2431 ":"
        Whitespace@2431..2432 " "
        TYPE_TAPP@2432..2454
          PATH@2432..2438
            Ident@2432..2438 "Result"
          TYPE_PARAM_LIST@2438..2454
            LBracket@2438..2439 "["
            TYPE_INT@2439..2444
              IsizeKeyword@2439..2444 "isize"
            Comma@2444..2445 ","
            Whitespace@2445..2446 " "
            TYPE_STRING@2446..2452
              StringKeyword@2446..2452 "string"
            RBracket@2452..2453 "]"
            Whitespace@2453..2454 " "
        Eq@2454..2455 "="
        Whitespace@2455..2456 " "
        EXPR_CALL@2456..2476
          EXPR_IDENT@2456..2467
            PATH@2456..2467
              Ident@2456..2462 "Result"
              ColonColon@2462..2464 "::"
              Ident@2464..2467 "Err"
          ARG_LIST@2467..2476
            LParen@2467..2468 "("
            ARG@2468..2475
              EXPR_STR@2468..2475
                Str@2468..2475 "\"error\""
            RParen@2475..2476 ")"
        Semi@2476..2477 ";"
        Whitespace@2477..2482 "\n    "
      STMT_EXPR@2482..2521
        EXPR_CALL@2482..2515
          EXPR_IDENT@2482..2489
            PATH@2482..2489
              Ident@2482..2489 "println"
          ARG_LIST@2489..2515
            LParen@2489..2490 "("
            ARG@2490..2514
              EXPR_CALL@2490..2514
                EXPR_BINARY@2490..2512
                  EXPR_PAREN@2490..2502
                    LParen@2490..2491 "("
                    EXPR_BINARY@2491..2501
                      EXPR_IDENT@2491..2494
                        PATH@2491..2494
                          Ident@2491..2493 "ok"
                          Whitespace@2493..2494 " "
                      Less@2494..2495 "<"
                      Whitespace@2495..2496 " "
                      EXPR_IDENT@2496..2501
                        PATH@2496..2501
                          Ident@2496..2501 "error"
                    RParen@2501..2502 ")"
                  Dot@2502..2503 "."
                  EXPR_IDENT@2503..2512
                    PATH@2503..2512
                      Ident@2503..2512 "to_string"
                ARG_LIST@2512..2514
                  LParen@2512..2513 "("
                  RParen@2513..2514 ")"
            RParen@2514..2515 ")"
        Semi@2515..2516 ";"
        Whitespace@2516..2521 "\n    "
      STMT_EXPR@2521..2602
        EXPR_CALL@2521..2596
          EXPR_IDENT@2521..2528
            PATH@2521..2528
              Ident@2521..2528 "println"
          ARG_LIST@2528..2596
            LParen@2528..2529 "("
            ARG@2529..2595
              EXPR_CALL@2529..2595
                EXPR_BINARY@2529..2593
                  EXPR_PAREN@2529..2583
                    LParen@2529..2530 "("
                    EXPR_BINARY@2530..2582
                      EXPR_CALL@2530..2555
                        EXPR_BINARY@2530..2548
                          EXPR_IDENT@2530..2542
                            PATH@2530..2542
                              Ident@2530..2542 "first_values"
                          Dot@2542..2543 "."
                          EXPR_IDENT@2543..2548
                            PATH@2543..2548
                              Ident@2543..2548 "slice"
                        ARG_LIST@2548..2555
                          LParen@2548..2549 "("
                          ARG@2549..2552
                            EXPR_INT@2549..2550
                              Int@2549..2550 "0"
                            Comma@2550..2551 ","
                            Whitespace@2551..2552 " "
                          ARG@2552..2553
                            EXPR_INT@2552..2553
                              Int@2552..2553 "2"
                          RParen@2553..2554 ")"
                          Whitespace@2554..2555 " "
                      Less@2555..2556 "<"
                      Whitespace@2556..2557 " "
                      EXPR_CALL@2557..2582
                        EXPR_BINARY@2557..2576
                          EXPR_IDENT@2557..2570
                            PATH@2557..2570
                              Ident@2557..2570 "second_values"
                          Dot@2570..2571 "."
                          EXPR_IDENT@2571..2576
                            PATH@2571..2576
                              Ident@2571..2576 "slice"
                        ARG_LIST@2576..2582
                          LParen@2576..2577 "("
                          ARG@2577..2580
                            EXPR_INT@2577..2578
                              Int@2577..2578 "0"
                            Comma@2578..2579 ","
                            Whitespace@2579..2580 " "
                          ARG@2580..2581
                            EXPR_INT@2580..2581
                              Int@2580..2581 "2"
                          RParen@2581..2582 ")"
                    RParen@2582..2583 ")"
                  Dot@2583..2584 "."
                  EXPR_IDENT@2584..2593
                    PATH@2584..2593
                      Ident@2584..2593 "to_string"
                ARG_LIST@2593..2595
                  LParen@2593..2594 "("
                  RParen@2594..2595 ")"
            RParen@2595..2596 ")"
        Semi@2596..2597 ";"
        Whitespace@2597..2602 "\n    "
      STMT_LET@2602..2664
        LetKeyword@2602..2605 "let"
        Whitespace@2605..2606 " "
        PATTERN_VARIABLE@2606..2612
          Ident@2606..2612 "values"
        Colon@2612..2613 ":"
        Whitespace@2613..2614 " "
        TYPE_TAPP@2614..2642
          PATH@2614..2621
            Ident@2614..2621 "HashMap"
          TYPE_PARAM_LIST@2621..2642
            LBracket@2621..2622 "["
            TYPE_TAPP@2622..2632
              PATH@2622..2625
                Ident@2622..2625 "Vec"
              TYPE_PARAM_LIST@2625..2632
                LBracket@2625..2626 "["
                TYPE_INT@2626..2631
                  IsizeKeyword@2626..2631 "isize"
                RBracket@2631..2632 "]"
            Comma@2632..2633 ","
            Whitespace@2633..2634 " "
            TYPE_STRING@2634..2640
              StringKeyword@2634..2640 "string"
            RBracket@2640..2641 "]"
            Whitespace@2641..2642 " "
        Eq@2642..2643 "="
        Whitespace@2643..2644 " "
        EXPR_CALL@2644..2658
          EXPR_IDENT@2644..2656
            PATH@2644..2656
              Ident@2644..2651 "HashMap"
              ColonColon@2651..2653 "::"
              Ident@2653..2656 "new"
          ARG_LIST@2656..2658
            LParen@2656..2657 "("
            RParen@2657..2658 ")"
        Semi@2658..2659 ";"
        Whitespace@2659..2664 "\n    "
      STMT_EXPR@2664..2704
        EXPR_CALL@2664..2698
          EXPR_BINARY@2664..2674
            EXPR_IDENT@2664..2670
              PATH@2664..2670
                Ident@2664..2670 "values"
            Dot@2670..2671 "."
            EXPR_IDENT@2671..2674
              PATH@2671..2674
                Ident@2671..2674 "set"
          ARG_LIST@2674..2698
            LParen@2674..2675 "("
            ARG@2675..2689
              EXPR_IDENT@2675..2687
                PATH@2675..2687
                  Ident@2675..2687 "first_values"
              Comma@2687..2688 ","
              Whitespace@2688..2689 " "
            ARG@2689..2697
              EXPR_STR@2689..2697
                Str@2689..2697 "\"vector\""
            RParen@2697..2698 ")"
        Semi@2698..2699 ";"
        Whitespace@2699..2704 "\n    "
      STMT_EXPR@2704..2775
        EXPR_CALL@2704..2769
          EXPR_IDENT@2704..2711
            PATH@2704..2711
              Ident@2704..2711 "println"
          ARG_LIST@2711..2769
            LParen@2711..2712 "("
            ARG@2712..2768
              EXPR_CALL@2712..2768
                EXPR_BINARY@2712..2757
                  EXPR_CALL@2712..2747
                    EXPR_BINARY@2712..2722
                      EXPR_IDENT@2712..2718
                        PATH@2712..2718
                          Ident@2712..2718 "values"
                      Dot@2718..2719 "."
                      EXPR_IDENT@2719..2722
                        PATH@2719..2722
                          Ident@2719..2722 "get"
                    ARG_LIST@2722..2747
                      LParen@2722..2723 "("
                      ARG@2723..2746
                        EXPR_CALL@2723..2746
                          EXPR_IDENT@2723..2738
                            PATH@2723..2738
                              Ident@2723..2726 "Vec"
                              ColonColon@2726..2728 "::"
                              Ident@2728..2738 "from_array"
                          ARG_LIST@2738..2746
                            LParen@2738..2739 "("
                            ARG@2739..2745
                              EXPR_ARRAY_LITERAL@2739..2745
                                LBracket@2739..2740 "["
                                EXPR_INT@2740..2741
                                  Int@2740..2741 "1"
                                Comma@2741..2742 ","
                                Whitespace@2742..2743 " "
                                EXPR_INT@2743..2744
                                  Int@2743..2744 "2"
                                RBracket@2744..2745 "]"
                            RParen@2745..2746 ")"
                      RParen@2746..2747 ")"
                  Dot@2747..2748 "."
                  EXPR_IDENT@2748..2757
                    PATH@2748..2757
                      Ident@2748..2757 "unwrap_or"
                ARG_LIST@2757..2768
                  LParen@2757..2758 "("
                  ARG@2758..2767
                    EXPR_STR@2758..2767
                      Str@2758..2767 "\"missing\""
                  RParen@2767..2768 ")"
            RParen@2768..2769 ")"
        Semi@2769..2770 ";"
        Whitespace@2770..2775 "\n    "
      STMT_LET@2775..2836
        LetKeyword@2775..2778 "let"
        Whitespace@2778..2779 " "
        PATTERN_VARIABLE@2779..2792
          Ident@2779..2792 "default_tuple"
        Colon@2792..2793 ":"
        Whitespace@2793..2794 " "
        TYPE_TUPLE@2794..2810
          TYPE_LIST@2794..2810
            LParen@2794..2795 "("
            TYPE_INT@2795..2800
              IsizeKeyword@2795..2800 "isize"
            Comma@2800..2801 ","
            Whitespace@2801..2802 " "
            TYPE_STRING@2802..2808
              StringKeyword@2802..2808 "string"
            RParen@2808..2809 ")"
            Whitespace@2809..2810 " "
        Eq@2810..2811 "="
        Whitespace@2811..2812 " "
        EXPR_CALL@2812..2830
          EXPR_IDENT@2812..2828
            PATH@2812..2828
              Ident@2812..2819 "Default"
              ColonColon@2819..2821 "::"
              Ident@2821..2828 "default"
          ARG_LIST@2828..2830
            LParen@2828..2829 "("
            RParen@2829..2830 ")"
        Semi@2830..2831 ";"
        Whitespace@2831..2836 "\n    "
      STMT_EXPR@2836..2889
        EXPR_CALL@2836..2883
          EXPR_IDENT@2836..2843
            PATH@2836..2843
              Ident@2836..2843 "println"
          ARG_LIST@2843..2883
            LParen@2843..2844 "("
            ARG@2844..2882
              EXPR_CALL@2844..2882
                EXPR_BINARY@2844..2880
                  EXPR_PAREN@2844..2870
                    LParen@2844..2845 "("
                    EXPR_BINARY@2845..2869
                      EXPR_IDENT@2845..2859
                        PATH@2845..2859
                          Ident@2845..2858 "default_tuple"
                          Whitespace@2858..2859 " "
                      EqEq@2859..2861 "=="
                      Whitespace@2861..2862 " "
                      EXPR_TUPLE@2862..2869
                        LParen@2862..2863 "("
                        EXPR_INT@2863..2864
                          Int@2863..2864 "0"
                        Comma@2864..2865 ","
                        Whitespace@2865..2866 " "
                        EXPR_STR@2866..2868
                          Str@2866..2868 "\"\""
                        RParen@2868..2869 ")"
                    RParen@2869..2870 ")"
                  Dot@2870..2871 "."
                  EXPR_IDENT@2871..2880
                    PATH@2871..2880
                      Ident@2871..2880 "to_string"
                ARG_LIST@2880..2882
                  LParen@2880..2881 "("
                  RParen@2881..2882 ")"
            RParen@2882..2883 ")"
        Semi@2883..2884 ";"
        Whitespace@2884..2889 "\n    "
      STMT_LET@2889..2945
        LetKeyword@2889..2892 "let"
        Whitespace@2892..2893 " "
        PATTERN_VARIABLE@2893..2906
          Ident@2893..2906 "default_array"
        Colon@2906..2907 ":"
        Whitespace@2907..2908 " "
        TYPE_ARRAY@2908..2919
          LBracket@2908..2909 "["
          TYPE_INT@2909..2914
            IsizeKeyword@2909..2914 "isize"
          Semi@2914..2915 ";"
          Whitespace@2915..2916 " "
          Int@2916..2917 "3"
          RBracket@2917..2918 "]"
          Whitespace@2918..2919 " "
        Eq@2919..2920 "="
        Whitespace@2920..2921 " "
        EXPR_CALL@2921..2939
          EXPR_IDENT@2921..2937
            PATH@2921..2937
              Ident@2921..2928 "Default"
              ColonColon@2928..2930 "::"
              Ident@2930..2937 "default"
          ARG_LIST@2937..2939
            LParen@2937..2938 "("
            RParen@2938..2939 ")"
        Semi@2939..2940 ";"
        Whitespace@2940..2945 "\n    "
      STMT_EXPR@2945..3000
        EXPR_CALL@2945..2994
          EXPR_IDENT@2945..2952
            PATH@2945..2952
              Ident@2945..2952 "println"
          ARG_LIST@2952..2994
            LParen@2952..2953 "("
            ARG@2953..2993
              EXPR_CALL@2953..2993
                EXPR_BINARY@2953..2991
                  EXPR_PAREN@2953..2981
                    LParen@2953..2954 "("
                    EXPR_BINARY@2954..2980
                      EXPR_IDENT@2954..2968
                        PATH@2954..2968
                          Ident@2954..2967 "default_array"
                          Whitespace@2967..2968 " "
                      EqEq@2968..2970 "=="
                      Whitespace@2970..2971 " "
                      EXPR_ARRAY_LITERAL@2971..2980
                        LBracket@2971..2972 "["
                        EXPR_INT@2972..2973
                          Int@2972..2973 "0"
                        Comma@2973..2974 ","
                        Whitespace@2974..2975 " "
                        EXPR_INT@2975..2976
                          Int@2975..2976 "0"
                        Comma@2976..2977 ","
                        Whitespace@2977..2978 " "
                        EXPR_INT@2978..2979
                          Int@2978..2979 "0"
                        RBracket@2979..2980 "]"
                    RParen@2980..2981 ")"
                  Dot@2981..2982 "."
                  EXPR_IDENT@2982..2991
                    PATH@2982..2991
                      Ident@2982..2991 "to_string"
                ARG_LIST@2991..2993
                  LParen@2991..2992 "("
                  RParen@2992..2993 ")"
            RParen@2993..2994 ")"
        Semi@2994..2995 ";"
        Whitespace@2995..3000 "\n    "
      STMT_EXPR@3000..3044
        EXPR_CALL@3000..3038
          EXPR_IDENT@3000..3007
            PATH@3000..3007
              Ident@3000..3007 "println"
          ARG_LIST@3007..3038
            LParen@3007..3008 "("
            ARG@3008..3037
              EXPR_CALL@3008..3037
                EXPR_BINARY@3008..3035
                  EXPR_PAREN@3008..3025
                    LParen@3008..3009 "("
                    EXPR_BINARY@3009..3024
                      EXPR_TUPLE@3009..3016
                        LParen@3009..3010 "("
                        EXPR_INT@3010..3011
                          Int@3010..3011 "1"
                        Comma@3011..3012 ","
                        Whitespace@3012..3013 " "
                        EXPR_INT@3013..3014
                          Int@3013..3014 "2"
                        RParen@3014..3015 ")"
                        Whitespace@3015..3016 " "
                      Less@3016..3017 "<"
                      Whitespace@3017..3018 " "
                      EXPR_TUPLE@3018..3024
                        LParen@3018..3019 "("
                        EXPR_INT@3019..3020
                          Int@3019..3020 "1"
                        Comma@3020..3021 ","
                        Whitespace@3021..3022 " "
                        EXPR_INT@3022..3023
                          Int@3022..3023 "3"
                        RParen@3023..3024 ")"
                    RParen@3024..3025 ")"
                  Dot@3025..3026 "."
                  EXPR_IDENT@3026..3035
                    PATH@3026..3035
                      Ident@3026..3035 "to_string"
                ARG_LIST@3035..3037
                  LParen@3035..3036 "("
                  RParen@3036..3037 ")"
            RParen@3037..3038 ")"
        Semi@3038..3039 ";"
        Whitespace@3039..3044 "\n    "
      STMT_EXPR@3044..3103
        EXPR_CALL@3044..3097
          EXPR_IDENT@3044..3051
            PATH@3044..3051
              Ident@3044..3051 "println"
          ARG_LIST@3051..3097
            LParen@3051..3052 "("
            ARG@3052..3096
              EXPR_CALL@3052..3096
                EXPR_IDENT@3052..3065
                  PATH@3052..3065
                    Ident@3052..3065 "ordering_name"
                ARG_LIST@3065..3096
                  LParen@3065..3066 "("
                  ARG@3066..3095
                    EXPR_CALL@3066..3095
                      EXPR_IDENT@3066..3079
                        PATH@3066..3079
                          Ident@3066..3069 "cmp"
                          ColonColon@3069..3071 "::"
                          Ident@3071..3074 "Ord"
                          ColonColon@3074..3076 "::"
                          Ident@3076..3079 "cmp"
                      ARG_LIST@3079..3095
                        LParen@3079..3080 "("
                        ARG@3080..3088
                          EXPR_ARRAY_LITERAL@3080..3086
                            LBracket@3080..3081 "["
                            EXPR_INT@3081..3082
                              Int@3081..3082 "1"
                            Comma@3082..3083 ","
                            Whitespace@3083..3084 " "
                            EXPR_INT@3084..3085
                              Int@3084..3085 "2"
                            RBracket@3085..3086 "]"
                          Comma@3086..3087 ","
                          Whitespace@3087..3088 " "
                        ARG@3088..3094
                          EXPR_ARRAY_LITERAL@3088..3094
                            LBracket@3088..3089 "["
                            EXPR_INT@3089..3090
                              Int@3089..3090 "1"
                            Comma@3090..3091 ","
                            Whitespace@3091..3092 " "
                            EXPR_INT@3092..3093
                              Int@3092..3093 "3"
                            RBracket@3093..3094 "]"
                        RParen@3094..3095 ")"
                  RParen@3095..3096 ")"
            RParen@3096..3097 ")"
        Semi@3097..3098 ";"
        Whitespace@3098..3103 "\n    "
      STMT_LET@3103..3143
        LetKeyword@3103..3106 "let"
        Whitespace@3106..3107 " "
        PATTERN_VARIABLE@3107..3117
          Ident@3107..3116 "tuple_nan"
          Whitespace@3116..3117 " "
        Eq@3117..3118 "="
        Whitespace@3118..3119 " "
        EXPR_TUPLE@3119..3137
          LParen@3119..3120 "("
          EXPR_FLOAT@3120..3123
            Float@3120..3123 "0.0"
          Comma@3123..3124 ","
          Whitespace@3124..3125 " "
          EXPR_BINARY@3125..3136
            EXPR_IDENT@3125..3130
              PATH@3125..3130
                Ident@3125..3129 "zero"
                Whitespace@3129..3130 " "
            Slash@3130..3131 "/"
            Whitespace@3131..3132 " "
            EXPR_IDENT@3132..3136
              PATH@3132..3136
                Ident@3132..3136 "zero"
          RParen@3136..3137 ")"
        Semi@3137..3138 ";"
        Whitespace@3138..3143 "\n    "
      STMT_EXPR@3143..3230
        EXPR_CALL@3143..3224
          EXPR_IDENT@3143..3150
            PATH@3143..3150
              Ident@3143..3150 "println"
          ARG_LIST@3150..3224
            LParen@3150..3151 "("
            ARG@3151..3223
              EXPR_CALL@3151..3223
                EXPR_BINARY@3151..3221
                  EXPR_CALL@3151..3211
                    EXPR_BINARY@3151..3209
                      EXPR_CALL@3151..3201
                        EXPR_IDENT@3151..3179
                          PATH@3151..3179
                            Ident@3151..3154 "cmp"
                            ColonColon@3154..3156 "::"
                            Ident@3156..3166 "PartialOrd"
                            ColonColon@3166..3168 "::"
                            Ident@3168..3179 "partial_cmp"
                        ARG_LIST@3179..3201
                          LParen@3179..3180 "("
                          ARG@3180..3191
                            EXPR_IDENT@3180..3189
                              PATH@3180..3189
                                Ident@3180..3189 "tuple_nan"
                            Comma@3189..3190 ","
                            Whitespace@3190..3191 " "
                          ARG@3191..3200
                            EXPR_IDENT@3191..3200
                              PATH@3191..3200
                                Ident@3191..3200 "tuple_nan"
                          RParen@3200..3201 ")"
                      Dot@3201..3202 "."
                      EXPR_IDENT@3202..3209
                        PATH@3202..3209
                          Ident@3202..3209 "is_none"
                    ARG_LIST@3209..3211
                      LParen@3209..3210 "("
                      RParen@3210..3211 ")"
                  Dot@3211..3212 "."
                  EXPR_IDENT@3212..3221
                    PATH@3212..3221
                      Ident@3212..3221 "to_string"
                ARG_LIST@3221..3223
                  LParen@3221..3222 "("
                  RParen@3222..3223 ")"
            RParen@3223..3224 ")"
        Semi@3224..3225 ";"
        Whitespace@3225..3230 "\n    "
      STMT_LET@3230..3303
        LetKeyword@3230..3233 "let"
        Whitespace@3233..3234 " "
        PATTERN_VARIABLE@3234..3246
          Ident@3234..3246 "tuple_values"
        Colon@3246..3247 ":"
        Whitespace@3247..3248 " "
        TYPE_TAPP@3248..3281
          PATH@3248..3255
            Ident@3248..3255 "HashMap"
          TYPE_PARAM_LIST@3255..3281
            LBracket@3255..3256 "["
            TYPE_TUPLE@3256..3271
              TYPE_LIST@3256..3271
                LParen@3256..3257 "("
                TYPE_INT@3257..3262
                  IsizeKeyword@3257..3262 "isize"
                Comma@3262..3263 ","
                Whitespace@3263..3264 " "
                TYPE_STRING@3264..3270
                  StringKeyword@3264..3270 "string"
                RParen@3270..3271 ")"
            Comma@3271..3272 ","
            Whitespace@3272..3273 " "
            TYPE_STRING@3273..3279
              StringKeyword@3273..3279 "string"
            RBracket@3279..3280 "]"
            Whitespace@3280..3281 " "
        Eq@3281..3282 "="
        Whitespace@3282..3283 " "
        EXPR_CALL@3283..3297
          EXPR_IDENT@3283..3295
            PATH@3283..3295
              Ident@3283..3290 "HashMap"
              ColonColon@3290..3292 "::"
              Ident@3292..3295 "new"
          ARG_LIST@3295..3297
            LParen@3295..3296 "("
            RParen@3296..3297 ")"
        Semi@3297..3298 ";"
        Whitespace@3298..3303 "\n    "
      STMT_EXPR@3303..3346
        EXPR_CALL@3303..3340
          EXPR_BINARY@3303..3319
            EXPR_IDENT@3303..3315
              PATH@3303..3315
                Ident@3303..3315 "tuple_values"
            Dot@3315..3316 "."
            EXPR_IDENT@3316..3319
              PATH@3316..3319
                Ident@3316..3319 "set"
          ARG_LIST@3319..3340
            LParen@3319..3320 "("
            ARG@3320..3332
              EXPR_TUPLE@3320..3330
                LParen@3320..3321 "("
                EXPR_INT@3321..3322
                  Int@3321..3322 "1"
                Comma@3322..3323 ","
                Whitespace@3323..3324 " "
                EXPR_STR@3324..3329
                  Str@3324..3329 "\"one\""
                RParen@3329..3330 ")"
              Comma@3330..3331 ","
              Whitespace@3331..3332 " "
            ARG@3332..3339
              EXPR_STR@3332..3339
                Str@3332..3339 "\"tuple\""
            RParen@3339..3340 ")"
        Semi@3340..3341 ";"
        Whitespace@3341..3346 "\n    "
      STMT_EXPR@3346..3410
        EXPR_CALL@3346..3404
          EXPR_IDENT@3346..3353
            PATH@3346..3353
              Ident@3346..3353 "println"
          ARG_LIST@3353..3404
            LParen@3353..3354 "("
            ARG@3354..3403
              EXPR_CALL@3354..3403
                EXPR_BINARY@3354..3392
                  EXPR_CALL@3354..3382
                    EXPR_BINARY@3354..3370
                      EXPR_IDENT@3354..3366
                        PATH@3354..3366
                          Ident@3354..3366 "tuple_values"
                      Dot@3366..3367 "."
                      EXPR_IDENT@3367..3370
                        PATH@3367..3370
                          Ident@3367..3370 "get"
                    ARG_LIST@3370..3382
                      LParen@3370..3371 "("
                      ARG@3371..3381
                        EXPR_TUPLE@3371..3381
                          LParen@3371..3372 "("
                          EXPR_INT@3372..3373
                            Int@3372..3373 "1"
                          Comma@3373..3374 ","
                          Whitespace@3374..3375 " "
                          EXPR_STR@3375..3380
                            Str@3375..3380 "\"one\""
                          RParen@3380..3381 ")"
                      RParen@3381..3382 ")"
                  Dot@3382..3383 "."
                  EXPR_IDENT@3383..3392
                    PATH@3383..3392
                      Ident@3383..3392 "unwrap_or"
                ARG_LIST@3392..3403
                  LParen@3392..3393 "("
                  ARG@3393..3402
                    EXPR_STR@3393..3402
                      Str@3393..3402 "\"missing\""
                  RParen@3402..3403 ")"
            RParen@3403..3404 ")"
        Semi@3404..3405 ";"
        Whitespace@3405..3410 "\n    "
      STMT_LET@3410..3478
        LetKeyword@3410..3413 "let"
        Whitespace@3413..3414 " "
        PATTERN_VARIABLE@3414..3426
          Ident@3414..3426 "array_values"
        Colon@3426..3427 ":"
        Whitespace@3427..3428 " "
        TYPE_TAPP@3428..3456
          PATH@3428..3435
            Ident@3428..3435 "HashMap"
          TYPE_PARAM_LIST@3435..3456
            LBracket@3435..3436 "["
            TYPE_ARRAY@3436..3446
              LBracket@3436..3437 "["
              TYPE_INT@3437..3442
                IsizeKeyword@3437..3442 "isize"
              Semi@3442..3443 ";"
              Whitespace@3443..3444 " "
              Int@3444..3445 "2"
              RBracket@3445..3446 "]"
            Comma@3446..3447 ","
            Whitespace@3447..3448 " "
            TYPE_STRING@3448..3454
              StringKeyword@3448..3454 "string"
            RBracket@3454..3455 "]"
            Whitespace@3455..3456 " "
        Eq@3456..3457 "="
        Whitespace@3457..3458 " "
        EXPR_CALL@3458..3472
          EXPR_IDENT@3458..3470
            PATH@3458..3470
              Ident@3458..3465 "HashMap"
              ColonColon@3465..3467 "::"
              Ident@3467..3470 "new"
          ARG_LIST@3470..3472
            LParen@3470..3471 "("
            RParen@3471..3472 ")"
        Semi@3472..3473 ";"
        Whitespace@3473..3478 "\n    "
      STMT_EXPR@3478..3517
        EXPR_CALL@3478..3511
          EXPR_BINARY@3478..3494
            EXPR_IDENT@3478..3490
              PATH@3478..3490
                Ident@3478..3490 "array_values"
            Dot@3490..3491 "."
            EXPR_IDENT@3491..3494
              PATH@3491..3494
                Ident@3491..3494 "set"
          ARG_LIST@3494..3511
            LParen@3494..3495 "("
            ARG@3495..3503
              EXPR_ARRAY_LITERAL@3495..3501
                LBracket@3495..3496 "["
                EXPR_INT@3496..3497
                  Int@3496..3497 "1"
                Comma@3497..3498 ","
                Whitespace@3498..3499 " "
                EXPR_INT@3499..3500
                  Int@3499..3500 "2"
                RBracket@3500..3501 "]"
              Comma@3501..3502 ","
              Whitespace@3502..3503 " "
            ARG@3503..3510
              EXPR_STR@3503..3510
                Str@3503..3510 "\"array\""
            RParen@3510..3511 ")"
        Semi@3511..3512 ";"
        Whitespace@3512..3517 "\n    "
      EXPR_CALL@3517..3572
        EXPR_IDENT@3517..3524
          PATH@3517..3524
            Ident@3517..3524 "println"
        ARG_LIST@3524..3572
          LParen@3524..3525 "("
          ARG@3525..3570
            EXPR_CALL@3525..3570
              EXPR_BINARY@3525..3559
                EXPR_CALL@3525..3549
                  EXPR_BINARY@3525..3541
                    EXPR_IDENT@3525..3537
                      PATH@3525..3537
                        Ident@3525..3537 "array_values"
                    Dot@3537..3538 "."
                    EXPR_IDENT@3538..3541
                      PATH@3538..3541
                        Ident@3538..3541 "get"
                  ARG_LIST@3541..3549
                    LParen@3541..3542 "("
                    ARG@3542..3548
                      EXPR_ARRAY_LITERAL@3542..3548
                        LBracket@3542..3543 "["
                        EXPR_INT@3543..3544
                          Int@3543..3544 "1"
                        Comma@3544..3545 ","
                        Whitespace@3545..3546 " "
                        EXPR_INT@3546..3547
                          Int@3546..3547 "2"
                        RBracket@3547..3548 "]"
                    RParen@3548..3549 ")"
                Dot@3549..3550 "."
                EXPR_IDENT@3550..3559
                  PATH@3550..3559
                    Ident@3550..3559 "unwrap_or"
              ARG_LIST@3559..3570
                LParen@3559..3560 "("
                ARG@3560..3569
                  EXPR_STR@3560..3569
                    Str@3560..3569 "\"missing\""
                RParen@3569..3570 ")"
          RParen@3570..3571 ")"
          Whitespace@3571..3572 "\n"
      RBrace@3572..3573 "}"
      Whitespace@3573..3574 "\n"