FILE@0..3552
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..12
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..12 "cmp"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..116
    ATTRIBUTE_LIST@15..64
      ATTRIBUTE@15..64
        Pound@15..16 "#"
        LBracket@16..17 "["
        Ident@17..23 "derive"
        LParen@23..24 "("
        Ident@24..33 "PartialEq"
        Comma@33..34 ","
        Whitespace@34..35 " "
        Ident@35..37 "Eq"
        Comma@37..38 ","
        Whitespace@38..39 " "
        Ident@39..49 "PartialOrd"
        Comma@49..50 ","
        Whitespace@50..51 " "
        Ident@51..54 "Ord"
        Comma@54..55 ","
        Whitespace@55..56 " "
        Ident@56..61 "Debug"
        RParen@61..62 ")"
        RBracket@62..63 "]"
        Whitespace@63..64 "\n"
    StructKeyword@64..70 "struct"
    Whitespace@70..71 " "
    Ident@71..78 "Version"
    Whitespace@78..79 " "
    LBrace@79..80 "{"
    Whitespace@80..85 "\n    "
    STRUCT_FIELD_LIST@85..116
      STRUCT_FIELD@85..95
        Ident@85..90 "major"
        Colon@90..91 ":"
        Whitespace@91..92 " "
        TYPE_INT@92..95
          IntKeyword@92..95 "int"
      Comma@95..96 ","
      Whitespace@96..101 "\n    "
      STRUCT_FIELD@101..111
        Ident@101..106 "minor"
        Colon@106..107 ":"
        Whitespace@107..108 " "
        TYPE_INT@108..111
          IntKeyword@108..111 "int"
      Comma@111..112 ","
      Whitespace@112..113 "\n"
      RBrace@113..114 "}"
      Whitespace@114..116 "\n\n"
  ENUM@116..270
    ATTRIBUTE_LIST@116..165
      ATTRIBUTE@116..165
        Pound@116..117 "#"
        LBracket@117..118 "["
        Ident@118..124 "derive"
        LParen@124..125 "("
        Ident@125..134 "PartialEq"
        Comma@134..135 ","
        Whitespace@135..136 " "
        Ident@136..138 "Eq"
        Comma@138..139 ","
        Whitespace@139..140 " "
        Ident@140..150 "PartialOrd"
        Comma@150..151 ","
        Whitespace@151..152 " "
        Ident@152..155 "Ord"
        Comma@155..156 ","
        Whitespace@156..157 " "
        Ident@157..162 "Debug"
        RParen@162..163 ")"
        RBracket@163..164 "]"
        Whitespace@164..165 "\n"
    EnumKeyword@165..169 "enum"
    Whitespace@169..170 " "
    Ident@170..175 "Level"
    Whitespace@175..176 " "
    LBrace@176..177 "{"
    Whitespace@177..182 "\n    "
    VARIANT_LIST@182..270
      VARIANT@182..185
        Ident@182..185 "Low"
      Comma@185..186 ","
      Whitespace@186..191 "\n    "
      VARIANT@191..207
        Ident@191..197 "Medium"
        TYPE_LIST@197..207
          LParen@197..198 "("
          ENUM_TUPLE_FIELD@198..201
            TYPE_INT@198..201
              IntKeyword@198..201 "int"
          Comma@201..202 ","
          Whitespace@202..203 " "
          ENUM_TUPLE_FIELD@203..206
            TYPE_INT@203..206
              IntKeyword@203..206 "int"
          RParen@206..207 ")"
      Comma@207..208 ","
      Whitespace@208..213 "\n    "
      VARIANT@213..265
        Ident@213..217 "High"
        Whitespace@217..218 " "
        LBrace@218..219 "{"
        Whitespace@219..228 "\n        "
        STRUCT_FIELD_LIST@228..265
          STRUCT_FIELD@228..237
            Ident@228..232 "rank"
            Colon@232..233 ":"
            Whitespace@233..234 " "
            TYPE_INT@234..237
              IntKeyword@234..237 "int"
          Comma@237..238 ","
          Whitespace@238..247 "\n        "
          STRUCT_FIELD@247..258
            Ident@247..253 "detail"
            Colon@253..254 ":"
            Whitespace@254..255 " "
            TYPE_INT@255..258
              IntKeyword@255..258 "int"
          Comma@258..259 ","
          Whitespace@259..264 "\n    "
          RBrace@264..265 "}"
      Comma@265..266 ","
      Whitespace@266..267 "\n"
      RBrace@267..268 "}"
      Whitespace@268..270 "\n\n"
  STRUCT@270..347
    ATTRIBUTE_LIST@270..303
      ATTRIBUTE@270..303
        Pound@270..271 "#"
        LBracket@271..272 "["
        Ident@272..278 "derive"
        LParen@278..279 "("
        Ident@279..288 "PartialEq"
        Comma@288..289 ","
        Whitespace@289..290 " "
        Ident@290..300 "PartialOrd"
        RParen@300..301 ")"
        RBracket@301..302 "]"
        Whitespace@302..303 "\n"
    StructKeyword@303..309 "struct"
    Whitespace@309..310 " "
    Ident@310..321 "MaybeNumber"
    Whitespace@321..322 " "
    LBrace@322..323 "{"
    Whitespace@323..328 "\n    "
    STRUCT_FIELD_LIST@328..347
      STRUCT_FIELD@328..342
        Ident@328..333 "value"
        Colon@333..334 ":"
        Whitespace@334..335 " "
        TYPE_FLOAT64@335..342
          Float64Keyword@335..342 "float64"
      Comma@342..343 ","
      Whitespace@343..344 "\n"
      RBrace@344..345 "}"
      Whitespace@345..347 "\n\n"
  STRUCT@347..472
    ATTRIBUTE_LIST@347..396
      ATTRIBUTE@347..396
        Pound@347..348 "#"
        LBracket@348..349 "["
        Ident@349..355 "derive"
        LParen@355..356 "("
        Ident@356..365 "PartialEq"
        Comma@365..366 ","
        Whitespace@366..367 " "
        Ident@367..369 "Eq"
        Comma@369..370 ","
        Whitespace@370..371 " "
        Ident@371..381 "PartialOrd"
        Comma@381..382 ","
        Whitespace@382..383 " "
        Ident@383..386 "Ord"
        Comma@386..387 ","
        Whitespace@387..388 " "
        Ident@388..393 "Debug"
        RParen@393..394 ")"
        RBracket@394..395 "]"
        Whitespace@395..396 "\n"
    StructKeyword@396..402 "struct"
    Whitespace@402..403 " "
    Ident@403..414 "GenericPair"
    GENERIC_LIST@414..418
      LBracket@414..415 "["
      GENERIC@415..416
        Ident@415..416 "T"
      RBracket@416..417 "]"
      Whitespace@417..418 " "
    LBrace@418..419 "{"
    Whitespace@419..424 "\n    "
    STRUCT_FIELD_LIST@424..472
      STRUCT_FIELD@424..432
        Ident@424..429 "first"
        Colon@429..430 ":"
        Whitespace@430..431 " "
        TYPE_TAPP@431..432
          PATH@431..432
            Ident@431..432 "T"
      Comma@432..433 ","
      Whitespace@433..438 "\n    "
      STRUCT_FIELD@438..447
        Ident@438..444 "second"
        Colon@444..445 ":"
        Whitespace@445..446 " "
        TYPE_TAPP@446..447
          PATH@446..447
            Ident@446..447 "T"
      Comma@447..448 ","
      Whitespace@448..453 "\n    "
      STRUCT_FIELD@453..467
        Ident@453..459 "nested"
        Colon@459..460 ":"
        Whitespace@460..461 " "
        TYPE_TAPP@461..467
          PATH@461..464
            Ident@461..464 "Vec"
          TYPE_PARAM_LIST@464..467
            LBracket@464..465 "["
            TYPE_TAPP@465..466
              PATH@465..466
                Ident@465..466 "T"
            RBracket@466..467 "]"
      Comma@467..468 ","
      Whitespace@468..469 "\n"
      RBrace@469..470 "}"
      Whitespace@470..472 "\n\n"
  STRUCT@472..492
    StructKeyword@472..478 "struct"
    Whitespace@478..479 " "
    Ident@479..487 "NoTraits"
    Whitespace@487..488 " "
    LBrace@488..489 "{"
    STRUCT_FIELD_LIST@489..492
      RBrace@489..490 "}"
      Whitespace@490..492 "\n\n"
  ENUM@492..578
    ATTRIBUTE_LIST@492..534
      ATTRIBUTE@492..534
        Pound@492..493 "#"
        LBracket@493..494 "["
        Ident@494..500 "derive"
        LParen@500..501 "("
        Ident@501..510 "PartialEq"
        Comma@510..511 ","
        Whitespace@511..512 " "
        Ident@512..514 "Eq"
        Comma@514..515 ","
        Whitespace@515..516 " "
        Ident@516..526 "PartialOrd"
        Comma@526..527 ","
        Whitespace@527..528 " "
        Ident@528..531 "Ord"
        RParen@531..532 ")"
        RBracket@532..533 "]"
        Whitespace@533..534 "\n"
    EnumKeyword@534..538 "enum"
    Whitespace@538..539 " "
    Ident@539..546 "Phantom"
    GENERIC_LIST@546..550
      LBracket@546..547 "["
      GENERIC@547..548
        Ident@547..548 "T"
      RBracket@548..549 "]"
      Whitespace@549..550 " "
    LBrace@550..551 "{"
    Whitespace@551..556 "\n    "
    VARIANT_LIST@556..578
      VARIANT@556..561
        Ident@556..561 "First"
      Comma@561..562 ","
      Whitespace@562..567 "\n    "
      VARIANT@567..573
        Ident@567..573 "Second"
      Comma@573..574 ","
      Whitespace@574..575 "\n"
      RBrace@575..576 "}"
      Whitespace@576..578 "\n\n"
  ENUM@578..665
    ATTRIBUTE_LIST@578..611
      ATTRIBUTE@578..611
        Pound@578..579 "#"
        LBracket@579..580 "["
        Ident@580..586 "derive"
        LParen@586..587 "("
        Ident@587..596 "PartialEq"
        Comma@596..597 ","
        Whitespace@597..598 " "
        Ident@598..608 "PartialOrd"
        RParen@608..609 ")"
        RBracket@609..610 "]"
        Whitespace@610..611 "\n"
    EnumKeyword@611..615 "enum"
    Whitespace@615..616 " "
    Ident@616..628 "PartialLevel"
    Whitespace@628..629 " "
    LBrace@629..630 "{"
    Whitespace@630..635 "\n    "
    VARIANT_LIST@635..665
      VARIANT@635..649
        Ident@635..640 "Value"
        TYPE_LIST@640..649
          LParen@640..641 "("
          ENUM_TUPLE_FIELD@641..648
            TYPE_FLOAT64@641..648
              Float64Keyword@641..648 "float64"
          RParen@648..649 ")"
      Comma@649..650 ","
      Whitespace@650..655 "\n    "
      VARIANT@655..660
        Ident@655..660 "Empty"
      Comma@660..661 ","
      Whitespace@661..662 "\n"
      RBrace@662..663 "}"
      Whitespace@663..665 "\n\n"
  FN@665..868
    FnKeyword@665..667 "fn"
    Whitespace@667..668 " "
    Ident@668..681 "ordering_name"
    PARAM_LIST@681..704
      LParen@681..682 "("
      PARAM@682..702
        Ident@682..687 "value"
        Colon@687..688 ":"
        Whitespace@688..689 " "
        TYPE_TAPP@689..702
          PATH@689..702
            Ident@689..692 "cmp"
            ColonColon@692..694 "::"
            Ident@694..702 "Ordering"
      RParen@702..703 ")"
      Whitespace@703..704 " "
    Arrow@704..706 "->"
    Whitespace@706..707 " "
    TYPE_STRING@707..714
      StringKeyword@707..713 "string"
      Whitespace@713..714 " "
    BLOCK@714..868
      LBrace@714..715 "{"
      Whitespace@715..720 "\n    "
      EXPR_MATCH@720..865
        MatchKeyword@720..725 "match"
        Whitespace@725..726 " "
        EXPR_IDENT@726..732
          PATH@726..732
            Ident@726..731 "value"
            Whitespace@731..732 " "
        MATCH_ARM_LIST@732..865
          LBrace@732..733 "{"
          Whitespace@733..742 "\n        "
          MATCH_ARM@742..771
            PATTERN_CONSTR@742..762
              PATH@742..762
                Ident@742..745 "cmp"
                ColonColon@745..747 "::"
                Ident@747..755 "Ordering"
                ColonColon@755..757 "::"
                Ident@757..761 "Less"
                Whitespace@761..762 " "
            FatArrow@762..764 "=>"
            Whitespace@764..765 " "
            EXPR_STR@765..771
              Str@765..771 "\"less\""
          Comma@771..772 ","
          Whitespace@772..781 "\n        "
          MATCH_ARM@781..812
            PATTERN_CONSTR@781..802
              PATH@781..802
                Ident@781..784 "cmp"
                ColonColon@784..786 "::"
                Ident@786..794 "Ordering"
                ColonColon@794..796 "::"
                Ident@796..801 "Equal"
                Whitespace@801..802 " "
            FatArrow@802..804 "=>"
            Whitespace@804..805 " "
            EXPR_STR@805..812
              Str@805..812 "\"equal\""
          Comma@812..813 ","
          Whitespace@813..822 "\n        "
          MATCH_ARM@822..857
            PATTERN_CONSTR@822..845
              PATH@822..845
                Ident@822..825 "cmp"
                ColonColon@825..827 "::"
                Ident@827..835 "Ordering"
                ColonColon@835..837 "::"
                Ident@837..844 "Greater"
                Whitespace@844..845 " "
            FatArrow@845..847 "=>"
            Whitespace@847..848 " "
            EXPR_STR@848..857
              Str@848..857 "\"greater\""
          Comma@857..858 ","
          Whitespace@858..863 "\n    "
          RBrace@863..864 "}"
          Whitespace@864..865 "\n"
      RBrace@865..866 "}"
      Whitespace@866..868 "\n\n"
  FN@868..3552
    FnKeyword@868..870 "fn"
    Whitespace@870..871 " "
    Ident@871..875 "main"
    PARAM_LIST@875..878
      LParen@875..876 "("
      RParen@876..877 ")"
      Whitespace@877..878 " "
    Arrow@878..880 "->"
    Whitespace@880..881 " "
    TYPE_UNIT@881..886
      UnitKeyword@881..885 "unit"
      Whitespace@885..886 " "
    BLOCK@886..3552
      LBrace@886..887 "{"
      Whitespace@887..892 "\n    "
      STMT_LET@892..940
        LetKeyword@892..895 "let"
        Whitespace@895..896 " "
        PATTERN_VARIABLE@896..902
          Ident@896..901 "first"
          Whitespace@901..902 " "
        Eq@902..903 "="
        Whitespace@903..904 " "
        EXPR_STRUCT_LITERAL@904..934
          PATH@904..912
            Ident@904..911 "Version"
            Whitespace@911..912 " "
          STRUCT_LITERAL_FIELD_LIST@912..934
            LBrace@912..913 "{"
            Whitespace@913..914 " "
            STRUCT_LITERAL_FIELD@914..922
              Ident@914..919 "major"
              Colon@919..920 ":"
              Whitespace@920..921 " "
              EXPR_INT@921..922
                Int@921..922 "1"
            Comma@922..923 ","
            Whitespace@923..924 " "
            STRUCT_LITERAL_FIELD@924..933
              Ident@924..929 "minor"
              Colon@929..930 ":"
              Whitespace@930..931 " "
              EXPR_INT@931..933
                Int@931..932 "9"
                Whitespace@932..933 " "
            RBrace@933..934 "}"
        Semi@934..935 ";"
        Whitespace@935..940 "\n    "
      STMT_LET@940..989
        LetKeyword@940..943 "let"
        Whitespace@943..944 " "
        PATTERN_VARIABLE@944..951
          Ident@944..950 "second"
          Whitespace@950..951 " "
        Eq@951..952 "="
        Whitespace@952..953 " "
        EXPR_STRUCT_LITERAL@953..983
          PATH@953..961
            Ident@953..960 "Version"
            Whitespace@960..961 " "
          STRUCT_LITERAL_FIELD_LIST@961..983
            LBrace@961..962 "{"
            Whitespace@962..963 " "
            STRUCT_LITERAL_FIELD@963..971
              Ident@963..968 "major"
              Colon@968..969 ":"
              Whitespace@969..970 " "
              EXPR_INT@970..971
                Int@970..971 "2"
            Comma@971..972 ","
            Whitespace@972..973 " "
            STRUCT_LITERAL_FIELD@973..982
              Ident@973..978 "minor"
              Colon@978..979 ":"
              Whitespace@979..980 " "
              EXPR_INT@980..982
                Int@980..981 "0"
                Whitespace@981..982 " "
            RBrace@982..983 "}"
        Semi@983..984 ";"
        Whitespace@984..989 "\n    "
      STMT_EXPR@989..1032
        EXPR_CALL@989..1026
          EXPR_IDENT@989..996
            PATH@989..996
              Ident@989..996 "println"
          ARG_LIST@996..1026
            LParen@996..997 "("
            ARG@997..1025
              EXPR_CALL@997..1025
                EXPR_BINARY@997..1023
                  EXPR_PAREN@997..1013
                    LParen@997..998 "("
                    EXPR_BINARY@998..1012
                      EXPR_IDENT@998..1004
                        PATH@998..1004
                          Ident@998..1003 "first"
                          Whitespace@1003..1004 " "
                      Less@1004..1005 "<"
                      Whitespace@1005..1006 " "
                      EXPR_IDENT@1006..1012
                        PATH@1006..1012
                          Ident@1006..1012 "second"
                    RParen@1012..1013 ")"
                  Dot@1013..1014 "."
                  EXPR_IDENT@1014..1023
                    PATH@1014..1023
                      Ident@1014..1023 "to_string"
                ARG_LIST@1023..1025
                  LParen@1023..1024 "("
                  RParen@1024..1025 ")"
            RParen@1025..1026 ")"
        Semi@1026..1027 ";"
        Whitespace@1027..1032 "\n    "
      STMT_EXPR@1032..1090
        EXPR_CALL@1032..1084
          EXPR_IDENT@1032..1039
            PATH@1032..1039
              Ident@1032..1039 "println"
          ARG_LIST@1039..1084
            LParen@1039..1040 "("
            ARG@1040..1083
              EXPR_CALL@1040..1083
                EXPR_IDENT@1040..1053
                  PATH@1040..1053
                    Ident@1040..1053 "ordering_name"
                ARG_LIST@1053..1083
                  LParen@1053..1054 "("
                  ARG@1054..1082
                    EXPR_CALL@1054..1082
                      EXPR_IDENT@1054..1067
                        PATH@1054..1067
                          Ident@1054..1057 "cmp"
                          ColonColon@1057..1059 "::"
                          Ident@1059..1062 "Ord"
                          ColonColon@1062..1064 "::"
                          Ident@1064..1067 "cmp"
                      ARG_LIST@1067..1082
                        LParen@1067..1068 "("
                        ARG@1068..1075
                          EXPR_IDENT@1068..1073
                            PATH@1068..1073
                              Ident@1068..1073 "first"
                          Comma@1073..1074 ","
                          Whitespace@1074..1075 " "
                        ARG@1075..1081
                          EXPR_IDENT@1075..1081
                            PATH@1075..1081
                              Ident@1075..1081 "second"
                        RParen@1081..1082 ")"
                  RParen@1082..1083 ")"
            RParen@1083..1084 ")"
        Semi@1084..1085 ";"
        Whitespace@1085..1090 "\n    "
      STMT_EXPR@1090..1151
        EXPR_CALL@1090..1145
          EXPR_IDENT@1090..1097
            PATH@1090..1097
              Ident@1090..1097 "println"
          ARG_LIST@1097..1145
            LParen@1097..1098 "("
            ARG@1098..1144
              EXPR_CALL@1098..1144
                EXPR_BINARY@1098..1142
                  EXPR_PAREN@1098..1132
                    LParen@1098..1099 "("
                    EXPR_BINARY@1099..1131
                      EXPR_IDENT@1099..1110
                        PATH@1099..1110
                          Ident@1099..1104 "Level"
                          ColonColon@1104..1106 "::"
                          Ident@1106..1109 "Low"
                          Whitespace@1109..1110 " "
                      Less@1110..1111 "<"
                      Whitespace@1111..1112 " "
                      EXPR_CALL@1112..1131
                        EXPR_IDENT@1112..1125
                          PATH@1112..1125
                            Ident@1112..1117 "Level"
                            ColonColon@1117..1119 "::"
                            Ident@1119..1125 "Medium"
                        ARG_LIST@1125..1131
                          LParen@1125..1126 "("
                          ARG@1126..1129
                            EXPR_INT@1126..1127
                              Int@1126..1127 "0"
                            Comma@1127..1128 ","
                            Whitespace@1128..1129 " "
                          ARG@1129..1130
                            EXPR_INT@1129..1130
                              Int@1129..1130 "0"
                          RParen@1130..1131 ")"
                    RParen@1131..1132 ")"
                  Dot@1132..1133 "."
                  EXPR_IDENT@1133..1142
                    PATH@1133..1142
                      Ident@1133..1142 "to_string"
                ARG_LIST@1142..1144
                  LParen@1142..1143 "("
                  RParen@1143..1144 ")"
            RParen@1144..1145 ")"
        Semi@1145..1146 ";"
        Whitespace@1146..1151 "\n    "
      STMT_EXPR@1151..1221
        EXPR_CALL@1151..1215
          EXPR_IDENT@1151..1158
            PATH@1151..1158
              Ident@1151..1158 "println"
          ARG_LIST@1158..1215
            LParen@1158..1159 "("
            ARG@1159..1214
              EXPR_CALL@1159..1214
                EXPR_BINARY@1159..1212
                  EXPR_PAREN@1159..1202
                    LParen@1159..1160 "("
                    EXPR_BINARY@1160..1201
                      EXPR_CALL@1160..1180
                        EXPR_IDENT@1160..1173
                          PATH@1160..1173
                            Ident@1160..1165 "Level"
                            ColonColon@1165..1167 "::"
                            Ident@1167..1173 "Medium"
                        ARG_LIST@1173..1180
                          LParen@1173..1174 "("
                          ARG@1174..1177
                            EXPR_INT@1174..1175
                              Int@1174..1175 "1"
                            Comma@1175..1176 ","
                            Whitespace@1176..1177 " "
                          ARG@1177..1178
                            EXPR_INT@1177..1178
                              Int@1177..1178 "9"
                          RParen@1178..1179 ")"
                          Whitespace@1179..1180 " "
                      Less@1180..1181 "<"
                      Whitespace@1181..1182 " "
                      EXPR_CALL@1182..1201
                        EXPR_IDENT@1182..1195
                          PATH@1182..1195
                            Ident@1182..1187 "Level"
                            ColonColon@1187..1189 "::"
                            Ident@1189..1195 "Medium"
                        ARG_LIST@1195..1201
                          LParen@1195..1196 "("
                          ARG@1196..1199
                            EXPR_INT@1196..1197
                              Int@1196..1197 "2"
                            Comma@1197..1198 ","
                            Whitespace@1198..1199 " "
                          ARG@1199..1200
                            EXPR_INT@1199..1200
                              Int@1199..1200 "0"
                          RParen@1200..1201 ")"
                    RParen@1201..1202 ")"
                  Dot@1202..1203 "."
                  EXPR_IDENT@1203..1212
                    PATH@1203..1212
                      Ident@1203..1212 "to_string"
                ARG_LIST@1212..1214
                  LParen@1212..1213 "("
                  RParen@1213..1214 ")"
            RParen@1214..1215 ")"
        Semi@1215..1216 ";"
        Whitespace@1216..1221 "\n    "
      STMT_EXPR@1221..1374
        EXPR_CALL@1221..1368
          EXPR_IDENT@1221..1228
            PATH@1221..1228
              Ident@1221..1228 "println"
          ARG_LIST@1228..1368
            LParen@1228..1229 "("
            Whitespace@1229..1238 "\n        "
            ARG@1238..1367
              EXPR_CALL@1238..1361
                EXPR_IDENT@1238..1251
                  PATH@1238..1251
                    Ident@1238..1251 "ordering_name"
                ARG_LIST@1251..1361
                  LParen@1251..1252 "("
                  Whitespace@1252..1265 "\n            "
                  ARG@1265..1360
                    EXPR_CALL@1265..1350
                      EXPR_IDENT@1265..1278
                        PATH@1265..1278
                          Ident@1265..1268 "cmp"
                          ColonColon@1268..1270 "::"
                          Ident@1270..1273 "Ord"
                          ColonColon@1273..1275 "::"
                          Ident@1275..1278 "cmp"
                      ARG_LIST@1278..1350
                        LParen@1278..1279 "("
                        ARG@1279..1315
                          EXPR_STRUCT_LITERAL@1279..1313
                            PATH@1279..1291
                              Ident@1279..1284 "Level"
                              ColonColon@1284..1286 "::"
                              Ident@1286..1290 "High"
                              Whitespace@1290..1291 " "
                            STRUCT_LITERAL_FIELD_LIST@1291..1313
                              LBrace@1291..1292 "{"
                              Whitespace@1292..1293 " "
                              STRUCT_LITERAL_FIELD@1293..1300
                                Ident@1293..1297 "rank"
                                Colon@1297..1298 ":"
                                Whitespace@1298..1299 " "
                                EXPR_INT@1299..1300
                                  Int@1299..1300 "3"
                              Comma@1300..1301 ","
                              Whitespace@1301..1302 " "
                              STRUCT_LITERAL_FIELD@1302..1312
                                Ident@1302..1308 "detail"
                                Colon@1308..1309 ":"
                                Whitespace@1309..1310 " "
                                EXPR_INT@1310..1312
                                  Int@1310..1311 "1"
                                  Whitespace@1311..1312 " "
                              RBrace@1312..1313 "}"
                          Comma@1313..1314 ","
                          Whitespace@1314..1315 " "
                        ARG@1315..1349
                          EXPR_STRUCT_LITERAL@1315..1349
                            PATH@1315..1327
                              Ident@1315..1320 "Level"
                              ColonColon@1320..1322 "::"
                              Ident@1322..1326 "High"
                              Whitespace@1326..1327 " "
                            STRUCT_LITERAL_FIELD_LIST@1327..1349
                              LBrace@1327..1328 "{"
                              Whitespace@1328..1329 " "
                              STRUCT_LITERAL_FIELD@1329..1336
                                Ident@1329..1333 "rank"
                                Colon@1333..1334 ":"
                                Whitespace@1334..1335 " "
                                EXPR_INT@1335..1336
                                  Int@1335..1336 "3"
                              Comma@1336..1337 ","
                              Whitespace@1337..1338 " "
                              STRUCT_LITERAL_FIELD@1338..1348
                                Ident@1338..1344 "detail"
                                Colon@1344..1345 ":"
                                Whitespace@1345..1346 " "
                                EXPR_INT@1346..1348
                                  Int@1346..1347 "1"
                                  Whitespace@1347..1348 " "
                              RBrace@1348..1349 "}"
                        RParen@1349..1350 ")"
                    Comma@1350..1351 ","
                    Whitespace@1351..1360 "\n        "
                  RParen@1360..1361 ")"
              Comma@1361..1362 ","
              Whitespace@1362..1367 "\n    "
            RParen@1367..1368 ")"
        Semi@1368..1369 ";"
        Whitespace@1369..1374 "\n    "
      STMT_LET@1374..1394
        LetKeyword@1374..1377 "let"
        Whitespace@1377..1378 " "
        PATTERN_VARIABLE@1378..1383
          Ident@1378..1382 "zero"
          Whitespace@1382..1383 " "
        Eq@1383..1384 "="
        Whitespace@1384..1385 " "
        EXPR_FLOAT@1385..1388
          Float@1385..1388 "0.0"
        Semi@1388..1389 ";"
        Whitespace@1389..1394 "\n    "
      STMT_LET@1394..1444
        LetKeyword@1394..1397 "let"
        Whitespace@1397..1398 " "
        PATTERN_VARIABLE@1398..1402
          Ident@1398..1401 "nan"
          Whitespace@1401..1402 " "
        Eq@1402..1403 "="
        Whitespace@1403..1404 " "
        EXPR_STRUCT_LITERAL@1404..1438
          PATH@1404..1416
            Ident@1404..1415 "MaybeNumber"
            Whitespace@1415..1416 " "
          STRUCT_LITERAL_FIELD_LIST@1416..1438
            LBrace@1416..1417 "{"
            Whitespace@1417..1418 " "
            STRUCT_LITERAL_FIELD@1418..1437
              Ident@1418..1423 "value"
              Colon@1423..1424 ":"
              Whitespace@1424..1425 " "
              EXPR_BINARY@1425..1437
                EXPR_IDENT@1425..1430
                  PATH@1425..1430
                    Ident@1425..1429 "zero"
                    Whitespace@1429..1430 " "
                Slash@1430..1431 "/"
                Whitespace@1431..1432 " "
                EXPR_IDENT@1432..1437
                  PATH@1432..1437
                    Ident@1432..1436 "zero"
                    Whitespace@1436..1437 " "
            RBrace@1437..1438 "}"
        Semi@1438..1439 ";"
        Whitespace@1439..1444 "\n    "
      STMT_EXPR@1444..1483
        EXPR_CALL@1444..1477
          EXPR_IDENT@1444..1451
            PATH@1444..1451
              Ident@1444..1451 "println"
          ARG_LIST@1451..1477
            LParen@1451..1452 "("
            ARG@1452..1476
              EXPR_CALL@1452..1476
                EXPR_BINARY@1452..1474
                  EXPR_PAREN@1452..1464
                    LParen@1452..1453 "("
                    EXPR_BINARY@1453..1463
                      EXPR_IDENT@1453..1457
                        PATH@1453..1457
                          Ident@1453..1456 "nan"
                          Whitespace@1456..1457 " "
                      EqEq@1457..1459 "=="
                      Whitespace@1459..1460 " "
                      EXPR_IDENT@1460..1463
                        PATH@1460..1463
                          Ident@1460..1463 "nan"
                    RParen@1463..1464 ")"
                  Dot@1464..1465 "."
                  EXPR_IDENT@1465..1474
                    PATH@1465..1474
                      Ident@1465..1474 "to_string"
                ARG_LIST@1474..1476
                  LParen@1474..1475 "("
                  RParen@1475..1476 ")"
            RParen@1476..1477 ")"
        Semi@1477..1478 ";"
        Whitespace@1478..1483 "\n    "
      STMT_EXPR@1483..1558
        EXPR_CALL@1483..1552
          EXPR_IDENT@1483..1490
            PATH@1483..1490
              Ident@1483..1490 "println"
          ARG_LIST@1490..1552
            LParen@1490..1491 "("
            ARG@1491..1551
              EXPR_CALL@1491..1551
                EXPR_BINARY@1491..1549
                  EXPR_CALL@1491..1539
                    EXPR_BINARY@1491..1537
                      EXPR_CALL@1491..1529
                        EXPR_IDENT@1491..1519
                          PATH@1491..1519
                            Ident@1491..1494 "cmp"
                            ColonColon@1494..1496 "::"
                            Ident@1496..1506 "PartialOrd"
                            ColonColon@1506..1508 "::"
                            Ident@1508..1519 "partial_cmp"
                        ARG_LIST@1519..1529
                          LParen@1519..1520 "("
                          ARG@1520..1525
                            EXPR_IDENT@1520..1523
                              PATH@1520..1523
                                Ident@1520..1523 "nan"
                            Comma@1523..1524 ","
                            Whitespace@1524..1525 " "
                          ARG@1525..1528
                            EXPR_IDENT@1525..1528
                              PATH@1525..1528
                                Ident@1525..1528 "nan"
                          RParen@1528..1529 ")"
                      Dot@1529..1530 "."
                      EXPR_IDENT@1530..1537
                        PATH@1530..1537
                          Ident@1530..1537 "is_none"
                    ARG_LIST@1537..1539
                      LParen@1537..1538 "("
                      RParen@1538..1539 ")"
                  Dot@1539..1540 "."
                  EXPR_IDENT@1540..1549
                    PATH@1540..1549
                      Ident@1540..1549 "to_string"
                ARG_LIST@1549..1551
                  LParen@1549..1550 "("
                  RParen@1550..1551 ")"
            RParen@1551..1552 ")"
        Semi@1552..1553 ";"
        Whitespace@1553..1558 "\n    "
      STMT_LET@1558..1649
        LetKeyword@1558..1561 "let"
        Whitespace@1561..1562 " "
        PATTERN_VARIABLE@1562..1576
          Ident@1562..1575 "generic_first"
          Whitespace@1575..1576 " "
        Eq@1576..1577 "="
        Whitespace@1577..1578 " "
        EXPR_STRUCT_LITERAL@1578..1643
          PATH@1578..1590
            Ident@1578..1589 "GenericPair"
            Whitespace@1589..1590 " "
          STRUCT_LITERAL_FIELD_LIST@1590..1643
            LBrace@1590..1591 "{"
            Whitespace@1591..1592 " "
            STRUCT_LITERAL_FIELD@1592..1600
              Ident@1592..1597 "first"
              Colon@1597..1598 ":"
              Whitespace@1598..1599 " "
              EXPR_INT@1599..1600
                Int@1599..1600 "1"
            Comma@1600..1601 ","
            Whitespace@1601..1602 " "
            STRUCT_LITERAL_FIELD@1602..1611
              Ident@1602..1608 "second"
              Colon@1608..1609 ":"
              Whitespace@1609..1610 " "
              EXPR_INT@1610..1611
                Int@1610..1611 "2"
            Comma@1611..1612 ","
            Whitespace@1612..1613 " "
            STRUCT_LITERAL_FIELD@1613..1642
              Ident@1613..1619 "nested"
              Colon@1619..1620 ":"
              Whitespace@1620..1621 " "
              EXPR_CALL@1621..1642
                EXPR_IDENT@1621..1636
                  PATH@1621..1636
                    Ident@1621..1624 "Vec"
                    ColonColon@1624..1626 "::"
                    Ident@1626..1636 "from_array"
                ARG_LIST@1636..1642
                  LParen@1636..1637 "("
                  ARG@1637..1640
                    EXPR_ARRAY_LITERAL@1637..1640
                      LBracket@1637..1638 "["
                      EXPR_INT@1638..1639
                        Int@1638..1639 "3"
                      RBracket@1639..1640 "]"
                  RParen@1640..1641 ")"
                  Whitespace@1641..1642 " "
            RBrace@1642..1643 "}"
        Semi@1643..1644 ";"
        Whitespace@1644..1649 "\n    "
      STMT_LET@1649..1741
        LetKeyword@1649..1652 "let"
        Whitespace@1652..1653 " "
        PATTERN_VARIABLE@1653..1668
          Ident@1653..1667 "generic_second"
          Whitespace@1667..1668 " "
        Eq@1668..1669 "="
        Whitespace@1669..1670 " "
        EXPR_STRUCT_LITERAL@1670..1735
          PATH@1670..1682
            Ident@1670..1681 "GenericPair"
            Whitespace@1681..1682 " "
          STRUCT_LITERAL_FIELD_LIST@1682..1735
            LBrace@1682..1683 "{"
            Whitespace@1683..1684 " "
            STRUCT_LITERAL_FIELD@1684..1692
              Ident@1684..1689 "first"
              Colon@1689..1690 ":"
              Whitespace@1690..1691 " "
              EXPR_INT@1691..1692
                Int@1691..1692 "1"
            Comma@1692..1693 ","
            Whitespace@1693..1694 " "
            STRUCT_LITERAL_FIELD@1694..1703
              Ident@1694..1700 "second"
              Colon@1700..1701 ":"
              Whitespace@1701..1702 " "
              EXPR_INT@1702..1703
                Int@1702..1703 "3"
            Comma@1703..1704 ","
            Whitespace@1704..1705 " "
            STRUCT_LITERAL_FIELD@1705..1734
              Ident@1705..1711 "nested"
              Colon@1711..1712 ":"
              Whitespace@1712..1713 " "
              EXPR_CALL@1713..1734
                EXPR_IDENT@1713..1728
                  PATH@1713..1728
                    Ident@1713..1716 "Vec"
                    ColonColon@1716..1718 "::"
                    Ident@1718..1728 "from_array"
                ARG_LIST@1728..1734
                  LParen@1728..1729 "("
                  ARG@1729..1732
                    EXPR_ARRAY_LITERAL@1729..1732
                      LBracket@1729..1730 "["
                      EXPR_INT@1730..1731
                        Int@1730..1731 "0"
                      RBracket@1731..1732 "]"
                  RParen@1732..1733 ")"
                  Whitespace@1733..1734 " "
            RBrace@1734..1735 "}"
        Semi@1735..1736 ";"
        Whitespace@1736..1741 "\n    "
      STMT_EXPR@1741..1800
        EXPR_CALL@1741..1794
          EXPR_IDENT@1741..1748
            PATH@1741..1748
              Ident@1741..1748 "println"
          ARG_LIST@1748..1794
            LParen@1748..1749 "("
            ARG@1749..1793
              EXPR_CALL@1749..1793
                EXPR_BINARY@1749..1791
                  EXPR_PAREN@1749..1781
                    LParen@1749..1750 "("
                    EXPR_BINARY@1750..1780
                      EXPR_IDENT@1750..1764
                        PATH@1750..1764
                          Ident@1750..1763 "generic_first"
                          Whitespace@1763..1764 " "
                      Less@1764..1765 "<"
                      Whitespace@1765..1766 " "
                      EXPR_IDENT@1766..1780
                        PATH@1766..1780
                          Ident@1766..1780 "generic_second"
                    RParen@1780..1781 ")"
                  Dot@1781..1782 "."
                  EXPR_IDENT@1782..1791
                    PATH@1782..1791
                      Ident@1782..1791 "to_string"
                ARG_LIST@1791..1793
                  LParen@1791..1792 "("
                  RParen@1792..1793 ")"
            RParen@1793..1794 ")"
        Semi@1794..1795 ";"
        Whitespace@1795..1800 "\n    "
      STMT_LET@1800..1859
        LetKeyword@1800..1803 "let"
        Whitespace@1803..1804 " "
        PATTERN_VARIABLE@1804..1817
          Ident@1804..1817 "phantom_first"
        Colon@1817..1818 ":"
        Whitespace@1818..1819 " "
        TYPE_TAPP@1819..1837
          PATH@1819..1826
            Ident@1819..1826 "Phantom"
          TYPE_PARAM_LIST@1826..1837
            LBracket@1826..1827 "["
            TYPE_TAPP@1827..1835
              PATH@1827..1835
                Ident@1827..1835 "NoTraits"
            RBracket@1835..1836 "]"
            Whitespace@1836..1837 " "
        Eq@1837..1838 "="
        Whitespace@1838..1839 " "
        EXPR_IDENT@1839..1853
          PATH@1839..1853
            Ident@1839..1846 "Phantom"
            ColonColon@1846..1848 "::"
            Ident@1848..1853 "First"
        Semi@1853..1854 ";"
        Whitespace@1854..1859 "\n    "
      STMT_LET@1859..1920
        LetKeyword@1859..1862 "let"
        Whitespace@1862..1863 " "
        PATTERN_VARIABLE@1863..1877
          Ident@1863..1877 "phantom_second"
        Colon@1877..1878 ":"
        Whitespace@1878..1879 " "
        TYPE_TAPP@1879..1897
          PATH@1879..1886
            Ident@1879..1886 "Phantom"
          TYPE_PARAM_LIST@1886..1897
            LBracket@1886..1887 "["
            TYPE_TAPP@1887..1895
              PATH@1887..1895
                Ident@1887..1895 "NoTraits"
            RBracket@1895..1896 "]"
            Whitespace@1896..1897 " "
        Eq@1897..1898 "="
        Whitespace@1898..1899 " "
        EXPR_IDENT@1899..1914
          PATH@1899..1914
            Ident@1899..1906 "Phantom"
            ColonColon@1906..1908 "::"
            Ident@1908..1914 "Second"
        Semi@1914..1915 ";"
        Whitespace@1915..1920 "\n    "
      STMT_EXPR@1920..1979
        EXPR_CALL@1920..1973
          EXPR_IDENT@1920..1927
            PATH@1920..1927
              Ident@1920..1927 "println"
          ARG_LIST@1927..1973
            LParen@1927..1928 "("
            ARG@1928..1972
              EXPR_CALL@1928..1972
                EXPR_BINARY@1928..1970
                  EXPR_PAREN@1928..1960
                    LParen@1928..1929 "("
                    EXPR_BINARY@1929..1959
                      EXPR_IDENT@1929..1943
                        PATH@1929..1943
                          Ident@1929..1942 "phantom_first"
                          Whitespace@1942..1943 " "
                      Less@1943..1944 "<"
                      Whitespace@1944..1945 " "
                      EXPR_IDENT@1945..1959
                        PATH@1945..1959
                          Ident@1945..1959 "phantom_second"
                    RParen@1959..1960 ")"
                  Dot@1960..1961 "."
                  EXPR_IDENT@1961..1970
                    PATH@1961..1970
                      Ident@1961..1970 "to_string"
                ARG_LIST@1970..1972
                  LParen@1970..1971 "("
                  RParen@1971..1972 ")"
            RParen@1972..1973 ")"
        Semi@1973..1974 ";"
        Whitespace@1974..1979 "\n    "
      STMT_LET@1979..2035
        LetKeyword@1979..1982 "let"
        Whitespace@1982..1983 " "
        PATTERN_VARIABLE@1983..1995
          Ident@1983..1994 "partial_nan"
          Whitespace@1994..1995 " "
        Eq@1995..1996 "="
        Whitespace@1996..1997 " "
        EXPR_CALL@1997..2029
          EXPR_IDENT@1997..2016
            PATH@1997..2016
              Ident@1997..2009 "PartialLevel"
              ColonColon@2009..2011 "::"
              Ident@2011..2016 "Value"
          ARG_LIST@2016..2029
            LParen@2016..2017 "("
            ARG@2017..2028
              EXPR_BINARY@2017..2028
                EXPR_IDENT@2017..2022
                  PATH@2017..2022
                    Ident@2017..2021 "zero"
                    Whitespace@2021..2022 " "
                Slash@2022..2023 "/"
                Whitespace@2023..2024 " "
                EXPR_IDENT@2024..2028
                  PATH@2024..2028
                    Ident@2024..2028 "zero"
            RParen@2028..2029 ")"
        Semi@2029..2030 ";"
        Whitespace@2030..2035 "\n    "
      STMT_EXPR@2035..2126
        EXPR_CALL@2035..2120
          EXPR_IDENT@2035..2042
            PATH@2035..2042
              Ident@2035..2042 "println"
          ARG_LIST@2042..2120
            LParen@2042..2043 "("
            ARG@2043..2119
              EXPR_CALL@2043..2119
                EXPR_BINARY@2043..2117
                  EXPR_CALL@2043..2107
                    EXPR_BINARY@2043..2105
                      EXPR_CALL@2043..2097
                        EXPR_IDENT@2043..2071
                          PATH@2043..2071
                            Ident@2043..2046 "cmp"
                            ColonColon@2046..2048 "::"
                            Ident@2048..2058 "PartialOrd"
                            ColonColon@2058..2060 "::"
                            Ident@2060..2071 "partial_cmp"
                        ARG_LIST@2071..2097
                          LParen@2071..2072 "("
                          ARG@2072..2085
                            EXPR_IDENT@2072..2083
                              PATH@2072..2083
                                Ident@2072..2083 "partial_nan"
                            Comma@2083..2084 ","
                            Whitespace@2084..2085 " "
                          ARG@2085..2096
                            EXPR_IDENT@2085..2096
                              PATH@2085..2096
                                Ident@2085..2096 "partial_nan"
                          RParen@2096..2097 ")"
                      Dot@2097..2098 "."
                      EXPR_IDENT@2098..2105
                        PATH@2098..2105
                          Ident@2098..2105 "is_none"
                    ARG_LIST@2105..2107
                      LParen@2105..2106 "("
                      RParen@2106..2107 ")"
                  Dot@2107..2108 "."
                  EXPR_IDENT@2108..2117
                    PATH@2108..2117
                      Ident@2108..2117 "to_string"
                ARG_LIST@2117..2119
                  LParen@2117..2118 "("
                  RParen@2118..2119 ")"
            RParen@2119..2120 ")"
        Semi@2120..2121 ";"
        Whitespace@2121..2126 "\n    "
      STMT_LET@2126..2184
        LetKeyword@2126..2129 "let"
        Whitespace@2129..2130 " "
        PATTERN_VARIABLE@2130..2142
          Ident@2130..2142 "first_values"
        Colon@2142..2143 ":"
        Whitespace@2143..2144 " "
        TYPE_TAPP@2144..2153
          PATH@2144..2147
            Ident@2144..2147 "Vec"
          TYPE_PARAM_LIST@2147..2153
            LBracket@2147..2148 "["
            TYPE_INT@2148..2151
              IntKeyword@2148..2151 "int"
            RBracket@2151..2152 "]"
            Whitespace@2152..2153 " "
        Eq@2153..2154 "="
        Whitespace@2154..2155 " "
        EXPR_CALL@2155..2178
          EXPR_IDENT@2155..2170
            PATH@2155..2170
              Ident@2155..2158 "Vec"
              ColonColon@2158..2160 "::"
              Ident@2160..2170 "from_array"
          ARG_LIST@2170..2178
            LParen@2170..2171 "("
            ARG@2171..2177
              EXPR_ARRAY_LITERAL@2171..2177
                LBracket@2171..2172 "["
                EXPR_INT@2172..2173
                  Int@2172..2173 "1"
                Comma@2173..2174 ","
                Whitespace@2174..2175 " "
                EXPR_INT@2175..2176
                  Int@2175..2176 "2"
                RBracket@2176..2177 "]"
            RParen@2177..2178 ")"
        Semi@2178..2179 ";"
        Whitespace@2179..2184 "\n    "
      STMT_LET@2184..2243
        LetKeyword@2184..2187 "let"
        Whitespace@2187..2188 " "
        PATTERN_VARIABLE@2188..2201
          Ident@2188..2201 "second_values"
        Colon@2201..2202 ":"
        Whitespace@2202..2203 " "
        TYPE_TAPP@2203..2212
          PATH@2203..2206
            Ident@2203..2206 "Vec"
          TYPE_PARAM_LIST@2206..2212
            LBracket@2206..2207 "["
            TYPE_INT@2207..2210
              IntKeyword@2207..2210 "int"
            RBracket@2210..2211 "]"
            Whitespace@2211..2212 " "
        Eq@2212..2213 "="
        Whitespace@2213..2214 " "
        EXPR_CALL@2214..2237
          EXPR_IDENT@2214..2229
            PATH@2214..2229
              Ident@2214..2217 "Vec"
              ColonColon@2217..2219 "::"
              Ident@2219..2229 "from_array"
          ARG_LIST@2229..2237
            LParen@2229..2230 "("
            ARG@2230..2236
              EXPR_ARRAY_LITERAL@2230..2236
                LBracket@2230..2231 "["
                EXPR_INT@2231..2232
                  Int@2231..2232 "1"
                Comma@2232..2233 ","
                Whitespace@2233..2234 " "
                EXPR_INT@2234..2235
                  Int@2234..2235 "3"
                RBracket@2235..2236 "]"
            RParen@2236..2237 ")"
        Semi@2237..2238 ";"
        Whitespace@2238..2243 "\n    "
      STMT_EXPR@2243..2300
        EXPR_CALL@2243..2294
          EXPR_IDENT@2243..2250
            PATH@2243..2250
              Ident@2243..2250 "println"
          ARG_LIST@2250..2294
            LParen@2250..2251 "("
            ARG@2251..2293
              EXPR_CALL@2251..2293
                EXPR_BINARY@2251..2291
                  EXPR_PAREN@2251..2281
                    LParen@2251..2252 "("
                    EXPR_BINARY@2252..2280
                      EXPR_IDENT@2252..2265
                        PATH@2252..2265
                          Ident@2252..2264 "first_values"
                          Whitespace@2264..2265 " "
                      Less@2265..2266 "<"
                      Whitespace@2266..2267 " "
                      EXPR_IDENT@2267..2280
                        PATH@2267..2280
                          Ident@2267..2280 "second_values"
                    RParen@2280..2281 ")"
                  Dot@2281..2282 "."
                  EXPR_IDENT@2282..2291
                    PATH@2282..2291
                      Ident@2282..2291 "to_string"
                ARG_LIST@2291..2293
                  LParen@2291..2292 "("
                  RParen@2292..2293 ")"
            RParen@2293..2294 ")"
        Semi@2294..2295 ";"
        Whitespace@2295..2300 "\n    "
      STMT_EXPR@2300..2362
        EXPR_CALL@2300..2356
          EXPR_IDENT@2300..2307
            PATH@2300..2307
              Ident@2300..2307 "println"
          ARG_LIST@2307..2356
            LParen@2307..2308 "("
            ARG@2308..2355
              EXPR_CALL@2308..2355
                EXPR_BINARY@2308..2353
                  EXPR_PAREN@2308..2343
                    LParen@2308..2309 "("
                    EXPR_BINARY@2309..2342
                      EXPR_CALL@2309..2325
                        EXPR_IDENT@2309..2321
                          PATH@2309..2321
                            Ident@2309..2315 "Option"
                            ColonColon@2315..2317 "::"
                            Ident@2317..2321 "Some"
                        ARG_LIST@2321..2325
                          LParen@2321..2322 "("
                          ARG@2322..2323
                            EXPR_INT@2322..2323
                              Int@2322..2323 "2"
                          RParen@2323..2324 ")"
                          Whitespace@2324..2325 " "
                      Less@2325..2326 "<"
                      Whitespace@2326..2327 " "
                      EXPR_CALL@2327..2342
                        EXPR_IDENT@2327..2339
                          PATH@2327..2339
                            Ident@2327..2333 "Option"
                            ColonColon@2333..2335 "::"
                            Ident@2335..2339 "Some"
                        ARG_LIST@2339..2342
                          LParen@2339..2340 "("
                          ARG@2340..2341
                            EXPR_INT@2340..2341
                              Int@2340..2341 "3"
                          RParen@2341..2342 ")"
                    RParen@2342..2343 ")"
                  Dot@2343..2344 "."
                  EXPR_IDENT@2344..2353
                    PATH@2344..2353
                      Ident@2344..2353 "to_string"
                ARG_LIST@2353..2355
                  LParen@2353..2354 "("
                  RParen@2354..2355 ")"
            RParen@2355..2356 ")"
        Semi@2356..2357 ";"
        Whitespace@2357..2362 "\n    "
      STMT_LET@2362..2411
        LetKeyword@2362..2365 "let"
        Whitespace@2365..2366 " "
        PATTERN_VARIABLE@2366..2368
          Ident@2366..2368 "ok"
        Colon@2368..2369 ":"
        Whitespace@2369..2370 " "
        TYPE_TAPP@2370..2390
          PATH@2370..2376
            Ident@2370..2376 "Result"
          TYPE_PARAM_LIST@2376..2390
            LBracket@2376..2377 "["
            TYPE_INT@2377..2380
              IntKeyword@2377..2380 "int"
            Comma@2380..2381 ","
            Whitespace@2381..2382 " "
            TYPE_STRING@2382..2388
              StringKeyword@2382..2388 "string"
            RBracket@2388..2389 "]"
            Whitespace@2389..2390 " "
        Eq@2390..2391 "="
        Whitespace@2391..2392 " "
        EXPR_CALL@2392..2405
          EXPR_IDENT@2392..2402
            PATH@2392..2402
              Ident@2392..2398 "Result"
              ColonColon@2398..2400 "::"
              Ident@2400..2402 "Ok"
          ARG_LIST@2402..2405
            LParen@2402..2403 "("
            ARG@2403..2404
              EXPR_INT@2403..2404
                Int@2403..2404 "1"
            RParen@2404..2405 ")"
        Semi@2405..2406 ";"
        Whitespace@2406..2411 "\n    "
      STMT_LET@2411..2470
        LetKeyword@2411..2414 "let"
        Whitespace@2414..2415 " "
        PATTERN_VARIABLE@2415..2420
          Ident@2415..2420 "error"
        Colon@2420..2421 ":"
        Whitespace@2421..2422 " "
        TYPE_TAPP@2422..2442
          PATH@2422..2428
            Ident@2422..2428 "Result"
          TYPE_PARAM_LIST@2428..2442
            LBracket@2428..2429 "["
            TYPE_INT@2429..2432
              IntKeyword@2429..2432 "int"
            Comma@2432..2433 ","
            Whitespace@2433..2434 " "
            TYPE_STRING@2434..2440
              StringKeyword@2434..2440 "string"
            RBracket@2440..2441 "]"
            Whitespace@2441..2442 " "
        Eq@2442..2443 "="
        Whitespace@2443..2444 " "
        EXPR_CALL@2444..2464
          EXPR_IDENT@2444..2455
            PATH@2444..2455
              Ident@2444..2450 "Result"
              ColonColon@2450..2452 "::"
              Ident@2452..2455 "Err"
          ARG_LIST@2455..2464
            LParen@2455..2456 "("
            ARG@2456..2463
              EXPR_STR@2456..2463
                Str@2456..2463 "\"error\""
            RParen@2463..2464 ")"
        Semi@2464..2465 ";"
        Whitespace@2465..2470 "\n    "
      STMT_EXPR@2470..2509
        EXPR_CALL@2470..2503
          EXPR_IDENT@2470..2477
            PATH@2470..2477
              Ident@2470..2477 "println"
          ARG_LIST@2477..2503
            LParen@2477..2478 "("
            ARG@2478..2502
              EXPR_CALL@2478..2502
                EXPR_BINARY@2478..2500
                  EXPR_PAREN@2478..2490
                    LParen@2478..2479 "("
                    EXPR_BINARY@2479..2489
                      EXPR_IDENT@2479..2482
                        PATH@2479..2482
                          Ident@2479..2481 "ok"
                          Whitespace@2481..2482 " "
                      Less@2482..2483 "<"
                      Whitespace@2483..2484 " "
                      EXPR_IDENT@2484..2489
                        PATH@2484..2489
                          Ident@2484..2489 "error"
                    RParen@2489..2490 ")"
                  Dot@2490..2491 "."
                  EXPR_IDENT@2491..2500
                    PATH@2491..2500
                      Ident@2491..2500 "to_string"
                ARG_LIST@2500..2502
                  LParen@2500..2501 "("
                  RParen@2501..2502 ")"
            RParen@2502..2503 ")"
        Semi@2503..2504 ";"
        Whitespace@2504..2509 "\n    "
      STMT_EXPR@2509..2590
        EXPR_CALL@2509..2584
          EXPR_IDENT@2509..2516
            PATH@2509..2516
              Ident@2509..2516 "println"
          ARG_LIST@2516..2584
            LParen@2516..2517 "("
            ARG@2517..2583
              EXPR_CALL@2517..2583
                EXPR_BINARY@2517..2581
                  EXPR_PAREN@2517..2571
                    LParen@2517..2518 "("
                    EXPR_BINARY@2518..2570
                      EXPR_CALL@2518..2543
                        EXPR_BINARY@2518..2536
                          EXPR_IDENT@2518..2530
                            PATH@2518..2530
                              Ident@2518..2530 "first_values"
                          Dot@2530..2531 "."
                          EXPR_IDENT@2531..2536
                            PATH@2531..2536
                              Ident@2531..2536 "slice"
                        ARG_LIST@2536..2543
                          LParen@2536..2537 "("
                          ARG@2537..2540
                            EXPR_INT@2537..2538
                              Int@2537..2538 "0"
                            Comma@2538..2539 ","
                            Whitespace@2539..2540 " "
                          ARG@2540..2541
                            EXPR_INT@2540..2541
                              Int@2540..2541 "2"
                          RParen@2541..2542 ")"
                          Whitespace@2542..2543 " "
                      Less@2543..2544 "<"
                      Whitespace@2544..2545 " "
                      EXPR_CALL@2545..2570
                        EXPR_BINARY@2545..2564
                          EXPR_IDENT@2545..2558
                            PATH@2545..2558
                              Ident@2545..2558 "second_values"
                          Dot@2558..2559 "."
                          EXPR_IDENT@2559..2564
                            PATH@2559..2564
                              Ident@2559..2564 "slice"
                        ARG_LIST@2564..2570
                          LParen@2564..2565 "("
                          ARG@2565..2568
                            EXPR_INT@2565..2566
                              Int@2565..2566 "0"
                            Comma@2566..2567 ","
                            Whitespace@2567..2568 " "
                          ARG@2568..2569
                            EXPR_INT@2568..2569
                              Int@2568..2569 "2"
                          RParen@2569..2570 ")"
                    RParen@2570..2571 ")"
                  Dot@2571..2572 "."
                  EXPR_IDENT@2572..2581
                    PATH@2572..2581
                      Ident@2572..2581 "to_string"
                ARG_LIST@2581..2583
                  LParen@2581..2582 "("
                  RParen@2582..2583 ")"
            RParen@2583..2584 ")"
        Semi@2584..2585 ";"
        Whitespace@2585..2590 "\n    "
      STMT_LET@2590..2650
        LetKeyword@2590..2593 "let"
        Whitespace@2593..2594 " "
        PATTERN_VARIABLE@2594..2600
          Ident@2594..2600 "values"
        Colon@2600..2601 ":"
        Whitespace@2601..2602 " "
        TYPE_TAPP@2602..2628
          PATH@2602..2609
            Ident@2602..2609 "HashMap"
          TYPE_PARAM_LIST@2609..2628
            LBracket@2609..2610 "["
            TYPE_TAPP@2610..2618
              PATH@2610..2613
                Ident@2610..2613 "Vec"
              TYPE_PARAM_LIST@2613..2618
                LBracket@2613..2614 "["
                TYPE_INT@2614..2617
                  IntKeyword@2614..2617 "int"
                RBracket@2617..2618 "]"
            Comma@2618..2619 ","
            Whitespace@2619..2620 " "
            TYPE_STRING@2620..2626
              StringKeyword@2620..2626 "string"
            RBracket@2626..2627 "]"
            Whitespace@2627..2628 " "
        Eq@2628..2629 "="
        Whitespace@2629..2630 " "
        EXPR_CALL@2630..2644
          EXPR_IDENT@2630..2642
            PATH@2630..2642
              Ident@2630..2637 "HashMap"
              ColonColon@2637..2639 "::"
              Ident@2639..2642 "new"
          ARG_LIST@2642..2644
            LParen@2642..2643 "("
            RParen@2643..2644 ")"
        Semi@2644..2645 ";"
        Whitespace@2645..2650 "\n    "
      STMT_EXPR@2650..2690
        EXPR_CALL@2650..2684
          EXPR_BINARY@2650..2660
            EXPR_IDENT@2650..2656
              PATH@2650..2656
                Ident@2650..2656 "values"
            Dot@2656..2657 "."
            EXPR_IDENT@2657..2660
              PATH@2657..2660
                Ident@2657..2660 "set"
          ARG_LIST@2660..2684
            LParen@2660..2661 "("
            ARG@2661..2675
              EXPR_IDENT@2661..2673
                PATH@2661..2673
                  Ident@2661..2673 "first_values"
              Comma@2673..2674 ","
              Whitespace@2674..2675 " "
            ARG@2675..2683
              EXPR_STR@2675..2683
                Str@2675..2683 "\"vector\""
            RParen@2683..2684 ")"
        Semi@2684..2685 ";"
        Whitespace@2685..2690 "\n    "
      STMT_EXPR@2690..2761
        EXPR_CALL@2690..2755
          EXPR_IDENT@2690..2697
            PATH@2690..2697
              Ident@2690..2697 "println"
          ARG_LIST@2697..2755
            LParen@2697..2698 "("
            ARG@2698..2754
              EXPR_CALL@2698..2754
                EXPR_BINARY@2698..2743
                  EXPR_CALL@2698..2733
                    EXPR_BINARY@2698..2708
                      EXPR_IDENT@2698..2704
                        PATH@2698..2704
                          Ident@2698..2704 "values"
                      Dot@2704..2705 "."
                      EXPR_IDENT@2705..2708
                        PATH@2705..2708
                          Ident@2705..2708 "get"
                    ARG_LIST@2708..2733
                      LParen@2708..2709 "("
                      ARG@2709..2732
                        EXPR_CALL@2709..2732
                          EXPR_IDENT@2709..2724
                            PATH@2709..2724
                              Ident@2709..2712 "Vec"
                              ColonColon@2712..2714 "::"
                              Ident@2714..2724 "from_array"
                          ARG_LIST@2724..2732
                            LParen@2724..2725 "("
                            ARG@2725..2731
                              EXPR_ARRAY_LITERAL@2725..2731
                                LBracket@2725..2726 "["
                                EXPR_INT@2726..2727
                                  Int@2726..2727 "1"
                                Comma@2727..2728 ","
                                Whitespace@2728..2729 " "
                                EXPR_INT@2729..2730
                                  Int@2729..2730 "2"
                                RBracket@2730..2731 "]"
                            RParen@2731..2732 ")"
                      RParen@2732..2733 ")"
                  Dot@2733..2734 "."
                  EXPR_IDENT@2734..2743
                    PATH@2734..2743
                      Ident@2734..2743 "unwrap_or"
                ARG_LIST@2743..2754
                  LParen@2743..2744 "("
                  ARG@2744..2753
                    EXPR_STR@2744..2753
                      Str@2744..2753 "\"missing\""
                  RParen@2753..2754 ")"
            RParen@2754..2755 ")"
        Semi@2755..2756 ";"
        Whitespace@2756..2761 "\n    "
      STMT_LET@2761..2820
        LetKeyword@2761..2764 "let"
        Whitespace@2764..2765 " "
        PATTERN_VARIABLE@2765..2778
          Ident@2765..2778 "default_tuple"
        Colon@2778..2779 ":"
        Whitespace@2779..2780 " "
        TYPE_TUPLE@2780..2794
          TYPE_LIST@2780..2794
            LParen@2780..2781 "("
            TYPE_INT@2781..2784
              IntKeyword@2781..2784 "int"
            Comma@2784..2785 ","
            Whitespace@2785..2786 " "
            TYPE_STRING@2786..2792
              StringKeyword@2786..2792 "string"
            RParen@2792..2793 ")"
            Whitespace@2793..2794 " "
        Eq@2794..2795 "="
        Whitespace@2795..2796 " "
        EXPR_CALL@2796..2814
          EXPR_IDENT@2796..2812
            PATH@2796..2812
              Ident@2796..2803 "Default"
              ColonColon@2803..2805 "::"
              Ident@2805..2812 "default"
          ARG_LIST@2812..2814
            LParen@2812..2813 "("
            RParen@2813..2814 ")"
        Semi@2814..2815 ";"
        Whitespace@2815..2820 "\n    "
      STMT_EXPR@2820..2873
        EXPR_CALL@2820..2867
          EXPR_IDENT@2820..2827
            PATH@2820..2827
              Ident@2820..2827 "println"
          ARG_LIST@2827..2867
            LParen@2827..2828 "("
            ARG@2828..2866
              EXPR_CALL@2828..2866
                EXPR_BINARY@2828..2864
                  EXPR_PAREN@2828..2854
                    LParen@2828..2829 "("
                    EXPR_BINARY@2829..2853
                      EXPR_IDENT@2829..2843
                        PATH@2829..2843
                          Ident@2829..2842 "default_tuple"
                          Whitespace@2842..2843 " "
                      EqEq@2843..2845 "=="
                      Whitespace@2845..2846 " "
                      EXPR_TUPLE@2846..2853
                        LParen@2846..2847 "("
                        EXPR_INT@2847..2848
                          Int@2847..2848 "0"
                        Comma@2848..2849 ","
                        Whitespace@2849..2850 " "
                        EXPR_STR@2850..2852
                          Str@2850..2852 "\"\""
                        RParen@2852..2853 ")"
                    RParen@2853..2854 ")"
                  Dot@2854..2855 "."
                  EXPR_IDENT@2855..2864
                    PATH@2855..2864
                      Ident@2855..2864 "to_string"
                ARG_LIST@2864..2866
                  LParen@2864..2865 "("
                  RParen@2865..2866 ")"
            RParen@2866..2867 ")"
        Semi@2867..2868 ";"
        Whitespace@2868..2873 "\n    "
      STMT_LET@2873..2927
        LetKeyword@2873..2876 "let"
        Whitespace@2876..2877 " "
        PATTERN_VARIABLE@2877..2890
          Ident@2877..2890 "default_array"
        Colon@2890..2891 ":"
        Whitespace@2891..2892 " "
        TYPE_ARRAY@2892..2901
          LBracket@2892..2893 "["
          TYPE_INT@2893..2896
            IntKeyword@2893..2896 "int"
          Semi@2896..2897 ";"
          Whitespace@2897..2898 " "
          Int@2898..2899 "3"
          RBracket@2899..2900 "]"
          Whitespace@2900..2901 " "
        Eq@2901..2902 "="
        Whitespace@2902..2903 " "
        EXPR_CALL@2903..2921
          EXPR_IDENT@2903..2919
            PATH@2903..2919
              Ident@2903..2910 "Default"
              ColonColon@2910..2912 "::"
              Ident@2912..2919 "default"
          ARG_LIST@2919..2921
            LParen@2919..2920 "("
            RParen@2920..2921 ")"
        Semi@2921..2922 ";"
        Whitespace@2922..2927 "\n    "
      STMT_EXPR@2927..2982
        EXPR_CALL@2927..2976
          EXPR_IDENT@2927..2934
            PATH@2927..2934
              Ident@2927..2934 "println"
          ARG_LIST@2934..2976
            LParen@2934..2935 "("
            ARG@2935..2975
              EXPR_CALL@2935..2975
                EXPR_BINARY@2935..2973
                  EXPR_PAREN@2935..2963
                    LParen@2935..2936 "("
                    EXPR_BINARY@2936..2962
                      EXPR_IDENT@2936..2950
                        PATH@2936..2950
                          Ident@2936..2949 "default_array"
                          Whitespace@2949..2950 " "
                      EqEq@2950..2952 "=="
                      Whitespace@2952..2953 " "
                      EXPR_ARRAY_LITERAL@2953..2962
                        LBracket@2953..2954 "["
                        EXPR_INT@2954..2955
                          Int@2954..2955 "0"
                        Comma@2955..2956 ","
                        Whitespace@2956..2957 " "
                        EXPR_INT@2957..2958
                          Int@2957..2958 "0"
                        Comma@2958..2959 ","
                        Whitespace@2959..2960 " "
                        EXPR_INT@2960..2961
                          Int@2960..2961 "0"
                        RBracket@2961..2962 "]"
                    RParen@2962..2963 ")"
                  Dot@2963..2964 "."
                  EXPR_IDENT@2964..2973
                    PATH@2964..2973
                      Ident@2964..2973 "to_string"
                ARG_LIST@2973..2975
                  LParen@2973..2974 "("
                  RParen@2974..2975 ")"
            RParen@2975..2976 ")"
        Semi@2976..2977 ";"
        Whitespace@2977..2982 "\n    "
      STMT_EXPR@2982..3026
        EXPR_CALL@2982..3020
          EXPR_IDENT@2982..2989
            PATH@2982..2989
              Ident@2982..2989 "println"
          ARG_LIST@2989..3020
            LParen@2989..2990 "("
            ARG@2990..3019
              EXPR_CALL@2990..3019
                EXPR_BINARY@2990..3017
                  EXPR_PAREN@2990..3007
                    LParen@2990..2991 "("
                    EXPR_BINARY@2991..3006
                      EXPR_TUPLE@2991..2998
                        LParen@2991..2992 "("
                        EXPR_INT@2992..2993
                          Int@2992..2993 "1"
                        Comma@2993..2994 ","
                        Whitespace@2994..2995 " "
                        EXPR_INT@2995..2996
                          Int@2995..2996 "2"
                        RParen@2996..2997 ")"
                        Whitespace@2997..2998 " "
                      Less@2998..2999 "<"
                      Whitespace@2999..3000 " "
                      EXPR_TUPLE@3000..3006
                        LParen@3000..3001 "("
                        EXPR_INT@3001..3002
                          Int@3001..3002 "1"
                        Comma@3002..3003 ","
                        Whitespace@3003..3004 " "
                        EXPR_INT@3004..3005
                          Int@3004..3005 "3"
                        RParen@3005..3006 ")"
                    RParen@3006..3007 ")"
                  Dot@3007..3008 "."
                  EXPR_IDENT@3008..3017
                    PATH@3008..3017
                      Ident@3008..3017 "to_string"
                ARG_LIST@3017..3019
                  LParen@3017..3018 "("
                  RParen@3018..3019 ")"
            RParen@3019..3020 ")"
        Semi@3020..3021 ";"
        Whitespace@3021..3026 "\n    "
      STMT_EXPR@3026..3085
        EXPR_CALL@3026..3079
          EXPR_IDENT@3026..3033
            PATH@3026..3033
              Ident@3026..3033 "println"
          ARG_LIST@3033..3079
            LParen@3033..3034 "("
            ARG@3034..3078
              EXPR_CALL@3034..3078
                EXPR_IDENT@3034..3047
                  PATH@3034..3047
                    Ident@3034..3047 "ordering_name"
                ARG_LIST@3047..3078
                  LParen@3047..3048 "("
                  ARG@3048..3077
                    EXPR_CALL@3048..3077
                      EXPR_IDENT@3048..3061
                        PATH@3048..3061
                          Ident@3048..3051 "cmp"
                          ColonColon@3051..3053 "::"
                          Ident@3053..3056 "Ord"
                          ColonColon@3056..3058 "::"
                          Ident@3058..3061 "cmp"
                      ARG_LIST@3061..3077
                        LParen@3061..3062 "("
                        ARG@3062..3070
                          EXPR_ARRAY_LITERAL@3062..3068
                            LBracket@3062..3063 "["
                            EXPR_INT@3063..3064
                              Int@3063..3064 "1"
                            Comma@3064..3065 ","
                            Whitespace@3065..3066 " "
                            EXPR_INT@3066..3067
                              Int@3066..3067 "2"
                            RBracket@3067..3068 "]"
                          Comma@3068..3069 ","
                          Whitespace@3069..3070 " "
                        ARG@3070..3076
                          EXPR_ARRAY_LITERAL@3070..3076
                            LBracket@3070..3071 "["
                            EXPR_INT@3071..3072
                              Int@3071..3072 "1"
                            Comma@3072..3073 ","
                            Whitespace@3073..3074 " "
                            EXPR_INT@3074..3075
                              Int@3074..3075 "3"
                            RBracket@3075..3076 "]"
                        RParen@3076..3077 ")"
                  RParen@3077..3078 ")"
            RParen@3078..3079 ")"
        Semi@3079..3080 ";"
        Whitespace@3080..3085 "\n    "
      STMT_LET@3085..3125
        LetKeyword@3085..3088 "let"
        Whitespace@3088..3089 " "
        PATTERN_VARIABLE@3089..3099
          Ident@3089..3098 "tuple_nan"
          Whitespace@3098..3099 " "
        Eq@3099..3100 "="
        Whitespace@3100..3101 " "
        EXPR_TUPLE@3101..3119
          LParen@3101..3102 "("
          EXPR_FLOAT@3102..3105
            Float@3102..3105 "0.0"
          Comma@3105..3106 ","
          Whitespace@3106..3107 " "
          EXPR_BINARY@3107..3118
            EXPR_IDENT@3107..3112
              PATH@3107..3112
                Ident@3107..3111 "zero"
                Whitespace@3111..3112 " "
            Slash@3112..3113 "/"
            Whitespace@3113..3114 " "
            EXPR_IDENT@3114..3118
              PATH@3114..3118
                Ident@3114..3118 "zero"
          RParen@3118..3119 ")"
        Semi@3119..3120 ";"
        Whitespace@3120..3125 "\n    "
      STMT_EXPR@3125..3212
        EXPR_CALL@3125..3206
          EXPR_IDENT@3125..3132
            PATH@3125..3132
              Ident@3125..3132 "println"
          ARG_LIST@3132..3206
            LParen@3132..3133 "("
            ARG@3133..3205
              EXPR_CALL@3133..3205
                EXPR_BINARY@3133..3203
                  EXPR_CALL@3133..3193
                    EXPR_BINARY@3133..3191
                      EXPR_CALL@3133..3183
                        EXPR_IDENT@3133..3161
                          PATH@3133..3161
                            Ident@3133..3136 "cmp"
                            ColonColon@3136..3138 "::"
                            Ident@3138..3148 "PartialOrd"
                            ColonColon@3148..3150 "::"
                            Ident@3150..3161 "partial_cmp"
                        ARG_LIST@3161..3183
                          LParen@3161..3162 "("
                          ARG@3162..3173
                            EXPR_IDENT@3162..3171
                              PATH@3162..3171
                                Ident@3162..3171 "tuple_nan"
                            Comma@3171..3172 ","
                            Whitespace@3172..3173 " "
                          ARG@3173..3182
                            EXPR_IDENT@3173..3182
                              PATH@3173..3182
                                Ident@3173..3182 "tuple_nan"
                          RParen@3182..3183 ")"
                      Dot@3183..3184 "."
                      EXPR_IDENT@3184..3191
                        PATH@3184..3191
                          Ident@3184..3191 "is_none"
                    ARG_LIST@3191..3193
                      LParen@3191..3192 "("
                      RParen@3192..3193 ")"
                  Dot@3193..3194 "."
                  EXPR_IDENT@3194..3203
                    PATH@3194..3203
                      Ident@3194..3203 "to_string"
                ARG_LIST@3203..3205
                  LParen@3203..3204 "("
                  RParen@3204..3205 ")"
            RParen@3205..3206 ")"
        Semi@3206..3207 ";"
        Whitespace@3207..3212 "\n    "
      STMT_LET@3212..3283
        LetKeyword@3212..3215 "let"
        Whitespace@3215..3216 " "
        PATTERN_VARIABLE@3216..3228
          Ident@3216..3228 "tuple_values"
        Colon@3228..3229 ":"
        Whitespace@3229..3230 " "
        TYPE_TAPP@3230..3261
          PATH@3230..3237
            Ident@3230..3237 "HashMap"
          TYPE_PARAM_LIST@3237..3261
            LBracket@3237..3238 "["
            TYPE_TUPLE@3238..3251
              TYPE_LIST@3238..3251
                LParen@3238..3239 "("
                TYPE_INT@3239..3242
                  IntKeyword@3239..3242 "int"
                Comma@3242..3243 ","
                Whitespace@3243..3244 " "
                TYPE_STRING@3244..3250
                  StringKeyword@3244..3250 "string"
                RParen@3250..3251 ")"
            Comma@3251..3252 ","
            Whitespace@3252..3253 " "
            TYPE_STRING@3253..3259
              StringKeyword@3253..3259 "string"
            RBracket@3259..3260 "]"
            Whitespace@3260..3261 " "
        Eq@3261..3262 "="
        Whitespace@3262..3263 " "
        EXPR_CALL@3263..3277
          EXPR_IDENT@3263..3275
            PATH@3263..3275
              Ident@3263..3270 "HashMap"
              ColonColon@3270..3272 "::"
              Ident@3272..3275 "new"
          ARG_LIST@3275..3277
            LParen@3275..3276 "("
            RParen@3276..3277 ")"
        Semi@3277..3278 ";"
        Whitespace@3278..3283 "\n    "
      STMT_EXPR@3283..3326
        EXPR_CALL@3283..3320
          EXPR_BINARY@3283..3299
            EXPR_IDENT@3283..3295
              PATH@3283..3295
                Ident@3283..3295 "tuple_values"
            Dot@3295..3296 "."
            EXPR_IDENT@3296..3299
              PATH@3296..3299
                Ident@3296..3299 "set"
          ARG_LIST@3299..3320
            LParen@3299..3300 "("
            ARG@3300..3312
              EXPR_TUPLE@3300..3310
                LParen@3300..3301 "("
                EXPR_INT@3301..3302
                  Int@3301..3302 "1"
                Comma@3302..3303 ","
                Whitespace@3303..3304 " "
                EXPR_STR@3304..3309
                  Str@3304..3309 "\"one\""
                RParen@3309..3310 ")"
              Comma@3310..3311 ","
              Whitespace@3311..3312 " "
            ARG@3312..3319
              EXPR_STR@3312..3319
                Str@3312..3319 "\"tuple\""
            RParen@3319..3320 ")"
        Semi@3320..3321 ";"
        Whitespace@3321..3326 "\n    "
      STMT_EXPR@3326..3390
        EXPR_CALL@3326..3384
          EXPR_IDENT@3326..3333
            PATH@3326..3333
              Ident@3326..3333 "println"
          ARG_LIST@3333..3384
            LParen@3333..3334 "("
            ARG@3334..3383
              EXPR_CALL@3334..3383
                EXPR_BINARY@3334..3372
                  EXPR_CALL@3334..3362
                    EXPR_BINARY@3334..3350
                      EXPR_IDENT@3334..3346
                        PATH@3334..3346
                          Ident@3334..3346 "tuple_values"
                      Dot@3346..3347 "."
                      EXPR_IDENT@3347..3350
                        PATH@3347..3350
                          Ident@3347..3350 "get"
                    ARG_LIST@3350..3362
                      LParen@3350..3351 "("
                      ARG@3351..3361
                        EXPR_TUPLE@3351..3361
                          LParen@3351..3352 "("
                          EXPR_INT@3352..3353
                            Int@3352..3353 "1"
                          Comma@3353..3354 ","
                          Whitespace@3354..3355 " "
                          EXPR_STR@3355..3360
                            Str@3355..3360 "\"one\""
                          RParen@3360..3361 ")"
                      RParen@3361..3362 ")"
                  Dot@3362..3363 "."
                  EXPR_IDENT@3363..3372
                    PATH@3363..3372
                      Ident@3363..3372 "unwrap_or"
                ARG_LIST@3372..3383
                  LParen@3372..3373 "("
                  ARG@3373..3382
                    EXPR_STR@3373..3382
                      Str@3373..3382 "\"missing\""
                  RParen@3382..3383 ")"
            RParen@3383..3384 ")"
        Semi@3384..3385 ";"
        Whitespace@3385..3390 "\n    "
      STMT_LET@3390..3456
        LetKeyword@3390..3393 "let"
        Whitespace@3393..3394 " "
        PATTERN_VARIABLE@3394..3406
          Ident@3394..3406 "array_values"
        Colon@3406..3407 ":"
        Whitespace@3407..3408 " "
        TYPE_TAPP@3408..3434
          PATH@3408..3415
            Ident@3408..3415 "HashMap"
          TYPE_PARAM_LIST@3415..3434
            LBracket@3415..3416 "["
            TYPE_ARRAY@3416..3424
              LBracket@3416..3417 "["
              TYPE_INT@3417..3420
                IntKeyword@3417..3420 "int"
              Semi@3420..3421 ";"
              Whitespace@3421..3422 " "
              Int@3422..3423 "2"
              RBracket@3423..3424 "]"
            Comma@3424..3425 ","
            Whitespace@3425..3426 " "
            TYPE_STRING@3426..3432
              StringKeyword@3426..3432 "string"
            RBracket@3432..3433 "]"
            Whitespace@3433..3434 " "
        Eq@3434..3435 "="
        Whitespace@3435..3436 " "
        EXPR_CALL@3436..3450
          EXPR_IDENT@3436..3448
            PATH@3436..3448
              Ident@3436..3443 "HashMap"
              ColonColon@3443..3445 "::"
              Ident@3445..3448 "new"
          ARG_LIST@3448..3450
            LParen@3448..3449 "("
            RParen@3449..3450 ")"
        Semi@3450..3451 ";"
        Whitespace@3451..3456 "\n    "
      STMT_EXPR@3456..3495
        EXPR_CALL@3456..3489
          EXPR_BINARY@3456..3472
            EXPR_IDENT@3456..3468
              PATH@3456..3468
                Ident@3456..3468 "array_values"
            Dot@3468..3469 "."
            EXPR_IDENT@3469..3472
              PATH@3469..3472
                Ident@3469..3472 "set"
          ARG_LIST@3472..3489
            LParen@3472..3473 "("
            ARG@3473..3481
              EXPR_ARRAY_LITERAL@3473..3479
                LBracket@3473..3474 "["
                EXPR_INT@3474..3475
                  Int@3474..3475 "1"
                Comma@3475..3476 ","
                Whitespace@3476..3477 " "
                EXPR_INT@3477..3478
                  Int@3477..3478 "2"
                RBracket@3478..3479 "]"
              Comma@3479..3480 ","
              Whitespace@3480..3481 " "
            ARG@3481..3488
              EXPR_STR@3481..3488
                Str@3481..3488 "\"array\""
            RParen@3488..3489 ")"
        Semi@3489..3490 ";"
        Whitespace@3490..3495 "\n    "
      EXPR_CALL@3495..3550
        EXPR_IDENT@3495..3502
          PATH@3495..3502
            Ident@3495..3502 "println"
        ARG_LIST@3502..3550
          LParen@3502..3503 "("
          ARG@3503..3548
            EXPR_CALL@3503..3548
              EXPR_BINARY@3503..3537
                EXPR_CALL@3503..3527
                  EXPR_BINARY@3503..3519
                    EXPR_IDENT@3503..3515
                      PATH@3503..3515
                        Ident@3503..3515 "array_values"
                    Dot@3515..3516 "."
                    EXPR_IDENT@3516..3519
                      PATH@3516..3519
                        Ident@3516..3519 "get"
                  ARG_LIST@3519..3527
                    LParen@3519..3520 "("
                    ARG@3520..3526
                      EXPR_ARRAY_LITERAL@3520..3526
                        LBracket@3520..3521 "["
                        EXPR_INT@3521..3522
                          Int@3521..3522 "1"
                        Comma@3522..3523 ","
                        Whitespace@3523..3524 " "
                        EXPR_INT@3524..3525
                          Int@3524..3525 "2"
                        RBracket@3525..3526 "]"
                    RParen@3526..3527 ")"
                Dot@3527..3528 "."
                EXPR_IDENT@3528..3537
                  PATH@3528..3537
                    Ident@3528..3537 "unwrap_or"
              ARG_LIST@3537..3548
                LParen@3537..3538 "("
                ARG@3538..3547
                  EXPR_STR@3538..3547
                    Str@3538..3547 "\"missing\""
                RParen@3547..3548 ")"
          RParen@3548..3549 ")"
          Whitespace@3549..3550 "\n"
      RBrace@3550..3551 "}"
      Whitespace@3551..3552 "\n"