FILE@0..753
  TRAIT@0..71
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Diamond"
    Colon@13..14 ":"
    Whitespace@14..15 " "
    TRAIT_SET@15..28
      TYPE_TAPP@15..20
        PATH@15..20
          Ident@15..19 "Left"
          Whitespace@19..20 " "
      Plus@20..21 "+"
      Whitespace@21..22 " "
      TYPE_TAPP@22..28
        PATH@22..28
          Ident@22..27 "Right"
          Whitespace@27..28 " "
    LBrace@28..29 "{"
    Whitespace@29..34 "\n    "
    TRAIT_METHOD_SIG_LIST@34..71
      TRAIT_METHOD_SIG@34..68
        FnKeyword@34..36 "fn"
        Whitespace@36..37 " "
        Ident@37..44 "diamond"
        PARAM_LIST@44..57
          LParen@44..45 "("
          PARAM@45..55
            Ident@45..49 "self"
            Colon@49..50 ":"
            Whitespace@50..51 " "
            TYPE_TAPP@51..55
              PATH@51..55
                Ident@51..55 "Self"
          RParen@55..56 ")"
          Whitespace@56..57 " "
        Arrow@57..59 "->"
        Whitespace@59..60 " "
        TYPE_STRING@60..66
          StringKeyword@60..66 "string"
        Semi@66..67 ";"
        Whitespace@67..68 "\n"
      RBrace@68..69 "}"
      Whitespace@69..71 "\n\n"
  TRAIT@71..128
    TraitKeyword@71..76 "trait"
    Whitespace@76..77 " "
    Ident@77..81 "Left"
    Colon@81..82 ":"
    Whitespace@82..83 " "
    TRAIT_SET@83..88
      TYPE_TAPP@83..88
        PATH@83..88
          Ident@83..87 "Base"
          Whitespace@87..88 " "
    LBrace@88..89 "{"
    Whitespace@89..94 "\n    "
    TRAIT_METHOD_SIG_LIST@94..128
      TRAIT_METHOD_SIG@94..125
        FnKeyword@94..96 "fn"
        Whitespace@96..97 " "
        Ident@97..101 "left"
        PARAM_LIST@101..114
          LParen@101..102 "("
          PARAM@102..112
            Ident@102..106 "self"
            Colon@106..107 ":"
            Whitespace@107..108 " "
            TYPE_TAPP@108..112
              PATH@108..112
                Ident@108..112 "Self"
          RParen@112..113 ")"
          Whitespace@113..114 " "
        Arrow@114..116 "->"
        Whitespace@116..117 " "
        TYPE_STRING@117..123
          StringKeyword@117..123 "string"
        Semi@123..124 ";"
        Whitespace@124..125 "\n"
      RBrace@125..126 "}"
      Whitespace@126..128 "\n\n"
  TRAIT@128..187
    TraitKeyword@128..133 "trait"
    Whitespace@133..134 " "
    Ident@134..139 "Right"
    Colon@139..140 ":"
    Whitespace@140..141 " "
    TRAIT_SET@141..146
      TYPE_TAPP@141..146
        PATH@141..146
          Ident@141..145 "Base"
          Whitespace@145..146 " "
    LBrace@146..147 "{"
    Whitespace@147..152 "\n    "
    TRAIT_METHOD_SIG_LIST@152..187
      TRAIT_METHOD_SIG@152..184
        FnKeyword@152..154 "fn"
        Whitespace@154..155 " "
        Ident@155..160 "right"
        PARAM_LIST@160..173
          LParen@160..161 "("
          PARAM@161..171
            Ident@161..165 "self"
            Colon@165..166 ":"
            Whitespace@166..167 " "
            TYPE_TAPP@167..171
              PATH@167..171
                Ident@167..171 "Self"
          RParen@171..172 ")"
          Whitespace@172..173 " "
        Arrow@173..175 "->"
        Whitespace@175..176 " "
        TYPE_STRING@176..182
          StringKeyword@176..182 "string"
        Semi@182..183 ";"
        Whitespace@183..184 "\n"
      RBrace@184..185 "}"
      Whitespace@185..187 "\n\n"
  TRAIT@187..238
    TraitKeyword@187..192 "trait"
    Whitespace@192..193 " "
    Ident@193..197 "Base"
    Whitespace@197..198 " "
    LBrace@198..199 "{"
    Whitespace@199..204 "\n    "
    TRAIT_METHOD_SIG_LIST@204..238
      TRAIT_METHOD_SIG@204..235
        FnKeyword@204..206 "fn"
        Whitespace@206..207 " "
        Ident@207..211 "base"
        PARAM_LIST@211..224
          LParen@211..212 "("
          PARAM@212..222
            Ident@212..216 "self"
            Colon@216..217 ":"
            Whitespace@217..218 " "
            TYPE_TAPP@218..222
              PATH@218..222
                Ident@218..222 "Self"
          RParen@222..223 ")"
          Whitespace@223..224 " "
        Arrow@224..226 "->"
        Whitespace@226..227 " "
        TYPE_STRING@227..233
          StringKeyword@227..233 "string"
        Semi@233..234 ";"
        Whitespace@234..235 "\n"
      RBrace@235..236 "}"
      Whitespace@236..238 "\n\n"
  STRUCT@238..255
    StructKeyword@238..244 "struct"
    Whitespace@244..245 " "
    Ident@245..250 "Value"
    Whitespace@250..251 " "
    LBrace@251..252 "{"
    STRUCT_FIELD_LIST@252..255
      RBrace@252..253 "}"
      Whitespace@253..255 "\n\n"
  IMPL@255..335
    ImplKeyword@255..259 "impl"
    Whitespace@259..260 " "
    TYPE_TAPP@260..265
      PATH@260..265
        Ident@260..264 "Base"
        Whitespace@264..265 " "
    ForKeyword@265..268 "for"
    Whitespace@268..269 " "
    TYPE_TAPP@269..275
      PATH@269..275
        Ident@269..274 "Value"
        Whitespace@274..275 " "
    LBrace@275..276 "{"
    Whitespace@276..281 "\n    "
    FN@281..332
      FnKeyword@281..283 "fn"
      Whitespace@283..284 " "
      Ident@284..288 "base"
      PARAM_LIST@288..302
        LParen@288..289 "("
        PARAM@289..300
          Ident@289..293 "self"
          Colon@293..294 ":"
          Whitespace@294..295 " "
          TYPE_TAPP@295..300
            PATH@295..300
              Ident@295..300 "Value"
        RParen@300..301 ")"
        Whitespace@301..302 " "
      Arrow@302..304 "->"
      Whitespace@304..305 " "
      TYPE_STRING@305..312
        StringKeyword@305..311 "string"
        Whitespace@311..312 " "
      BLOCK@312..332
        LBrace@312..313 "{"
        Whitespace@313..322 "\n        "
        EXPR_STR@322..330
          Str@322..325 "\"B\""
          Whitespace@325..330 "\n    "
        RBrace@330..331 "}"
        Whitespace@331..332 "\n"
    RBrace@332..333 "}"
    Whitespace@333..335 "\n\n"
  IMPL@335..415
    ImplKeyword@335..339 "impl"
    Whitespace@339..340 " "
    TYPE_TAPP@340..345
      PATH@340..345
        Ident@340..344 "Left"
        Whitespace@344..345 " "
    ForKeyword@345..348 "for"
    Whitespace@348..349 " "
    TYPE_TAPP@349..355
      PATH@349..355
        Ident@349..354 "Value"
        Whitespace@354..355 " "
    LBrace@355..356 "{"
    Whitespace@356..361 "\n    "
    FN@361..412
      FnKeyword@361..363 "fn"
      Whitespace@363..364 " "
      Ident@364..368 "left"
      PARAM_LIST@368..382
        LParen@368..369 "("
        PARAM@369..380
          Ident@369..373 "self"
          Colon@373..374 ":"
          Whitespace@374..375 " "
          TYPE_TAPP@375..380
            PATH@375..380
              Ident@375..380 "Value"
        RParen@380..381 ")"
        Whitespace@381..382 " "
      Arrow@382..384 "->"
      Whitespace@384..385 " "
      TYPE_STRING@385..392
        StringKeyword@385..391 "string"
        Whitespace@391..392 " "
      BLOCK@392..412
        LBrace@392..393 "{"
        Whitespace@393..402 "\n        "
        EXPR_STR@402..410
          Str@402..405 "\"L\""
          Whitespace@405..410 "\n    "
        RBrace@410..411 "}"
        Whitespace@411..412 "\n"
    RBrace@412..413 "}"
    Whitespace@413..415 "\n\n"
  IMPL@415..497
    ImplKeyword@415..419 "impl"
    Whitespace@419..420 " "
    TYPE_TAPP@420..426
      PATH@420..426
        Ident@420..425 "Right"
        Whitespace@425..426 " "
    ForKeyword@426..429 "for"
    Whitespace@429..430 " "
    TYPE_TAPP@430..436
      PATH@430..436
        Ident@430..435 "Value"
        Whitespace@435..436 " "
    LBrace@436..437 "{"
    Whitespace@437..442 "\n    "
    FN@442..494
      FnKeyword@442..444 "fn"
      Whitespace@444..445 " "
      Ident@445..450 "right"
      PARAM_LIST@450..464
        LParen@450..451 "("
        PARAM@451..462
          Ident@451..455 "self"
          Colon@455..456 ":"
          Whitespace@456..457 " "
          TYPE_TAPP@457..462
            PATH@457..462
              Ident@457..462 "Value"
        RParen@462..463 ")"
        Whitespace@463..464 " "
      Arrow@464..466 "->"
      Whitespace@466..467 " "
      TYPE_STRING@467..474
        StringKeyword@467..473 "string"
        Whitespace@473..474 " "
      BLOCK@474..494
        LBrace@474..475 "{"
        Whitespace@475..484 "\n        "
        EXPR_STR@484..492
          Str@484..487 "\"R\""
          Whitespace@487..492 "\n    "
        RBrace@492..493 "}"
        Whitespace@493..494 "\n"
    RBrace@494..495 "}"
    Whitespace@495..497 "\n\n"
  IMPL@497..583
    ImplKeyword@497..501 "impl"
    Whitespace@501..502 " "
    TYPE_TAPP@502..510
      PATH@502..510
        Ident@502..509 "Diamond"
        Whitespace@509..510 " "
    ForKeyword@510..513 "for"
    Whitespace@513..514 " "
    TYPE_TAPP@514..520
      PATH@514..520
        Ident@514..519 "Value"
        Whitespace@519..520 " "
    LBrace@520..521 "{"
    Whitespace@521..526 "\n    "
    FN@526..580
      FnKeyword@526..528 "fn"
      Whitespace@528..529 " "
      Ident@529..536 "diamond"
      PARAM_LIST@536..550
        LParen@536..537 "("
        PARAM@537..548
          Ident@537..541 "self"
          Colon@541..542 ":"
          Whitespace@542..543 " "
          TYPE_TAPP@543..548
            PATH@543..548
              Ident@543..548 "Value"
        RParen@548..549 ")"
        Whitespace@549..550 " "
      Arrow@550..552 "->"
      Whitespace@552..553 " "
      TYPE_STRING@553..560
        StringKeyword@553..559 "string"
        Whitespace@559..560 " "
      BLOCK@560..580
        LBrace@560..561 "{"
        Whitespace@561..570 "\n        "
        EXPR_STR@570..578
          Str@570..573 "\"D\""
          Whitespace@573..578 "\n    "
        RBrace@578..579 "}"
        Whitespace@579..580 "\n"
    RBrace@580..581 "}"
    Whitespace@581..583 "\n\n"
  FN@583..698
    FnKeyword@583..585 "fn"
    Whitespace@585..586 " "
    Ident@586..594 "describe"
    GENERIC_LIST@594..606
      LBracket@594..595 "["
      GENERIC@595..605
        Ident@595..596 "T"
        Colon@596..597 ":"
        Whitespace@597..598 " "
        TRAIT_SET@598..605
          TYPE_TAPP@598..605
            PATH@598..605
              Ident@598..605 "Diamond"
      RBracket@605..606 "]"
    PARAM_LIST@606..617
      LParen@606..607 "("
      PARAM@607..615
        Ident@607..612 "value"
        Colon@612..613 ":"
        Whitespace@613..614 " "
        TYPE_TAPP@614..615
          PATH@614..615
            Ident@614..615 "T"
      RParen@615..616 ")"
      Whitespace@616..617 " "
    Arrow@617..619 "->"
    Whitespace@619..620 " "
    TYPE_STRING@620..627
      StringKeyword@620..626 "string"
      Whitespace@626..627 " "
    BLOCK@627..698
      LBrace@627..628 "{"
      Whitespace@628..633 "\n    "
      EXPR_BINARY@633..695
        EXPR_BINARY@633..677
          EXPR_BINARY@633..661
            EXPR_CALL@633..646
              EXPR_BINARY@633..643
                EXPR_IDENT@633..638
                  PATH@633..638
                    Ident@633..638 "value"
                Dot@638..639 "."
                EXPR_IDENT@639..643
                  PATH@639..643
                    Ident@639..643 "base"
              ARG_LIST@643..646
                LParen@643..644 "("
                RParen@644..645 ")"
                Whitespace@645..646 " "
            Plus@646..647 "+"
            Whitespace@647..648 " "
            EXPR_CALL@648..661
              EXPR_BINARY@648..658
                EXPR_IDENT@648..653
                  PATH@648..653
                    Ident@648..653 "value"
                Dot@653..654 "."
                EXPR_IDENT@654..658
                  PATH@654..658
                    Ident@654..658 "left"
              ARG_LIST@658..661
                LParen@658..659 "("
                RParen@659..660 ")"
                Whitespace@660..661 " "
          Plus@661..662 "+"
          Whitespace@662..663 " "
          EXPR_CALL@663..677
            EXPR_BINARY@663..674
              EXPR_IDENT@663..668
                PATH@663..668
                  Ident@663..668 "value"
              Dot@668..669 "."
              EXPR_IDENT@669..674
                PATH@669..674
                  Ident@669..674 "right"
            ARG_LIST@674..677
              LParen@674..675 "("
              RParen@675..676 ")"
              Whitespace@676..677 " "
        Plus@677..678 "+"
        Whitespace@678..679 " "
        EXPR_CALL@679..695
          EXPR_BINARY@679..692
            EXPR_IDENT@679..684
              PATH@679..684
                Ident@679..684 "value"
            Dot@684..685 "."
            EXPR_IDENT@685..692
              PATH@685..692
                Ident@685..692 "diamond"
          ARG_LIST@692..695
            LParen@692..693 "("
            RParen@693..694 ")"
            Whitespace@694..695 "\n"
      RBrace@695..696 "}"
      Whitespace@696..698 "\n\n"
  FN@698..753
    FnKeyword@698..700 "fn"
    Whitespace@700..701 " "
    Ident@701..705 "main"
    PARAM_LIST@705..708
      LParen@705..706 "("
      RParen@706..707 ")"
      Whitespace@707..708 " "
    Arrow@708..710 "->"
    Whitespace@710..711 " "
    TYPE_UNIT@711..716
      UnitKeyword@711..715 "unit"
      Whitespace@715..716 " "
    BLOCK@716..753
      LBrace@716..717 "{"
      Whitespace@717..722 "\n    "
      STMT_EXPR@722..751
        EXPR_CALL@722..749
          EXPR_IDENT@722..729
            PATH@722..729
              Ident@722..729 "println"
          ARG_LIST@729..749
            LParen@729..730 "("
            ARG@730..748
              EXPR_CALL@730..748
                EXPR_IDENT@730..738
                  PATH@730..738
                    Ident@730..738 "describe"
                ARG_LIST@738..748
                  LParen@738..739 "("
                  ARG@739..747
                    EXPR_STRUCT_LITERAL@739..747
                      PATH@739..745
                        Ident@739..744 "Value"
                        Whitespace@744..745 " "
                      STRUCT_LITERAL_FIELD_LIST@745..747
                        LBrace@745..746 "{"
                        RBrace@746..747 "}"
                  RParen@747..748 ")"
            RParen@748..749 ")"
        Semi@749..750 ";"
        Whitespace@750..751 "\n"
      RBrace@751..752 "}"
      Whitespace@752..753 "\n"