FILE@0..159
  PACKAGE@0..15
    PackageKeyword@0..7 "package"
    Whitespace@7..8 " "
    Ident@8..12 "main"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  FN@15..159
    FnKeyword@15..17 "fn"
    Whitespace@17..18 " "
    Ident@18..22 "main"
    PARAM_LIST@22..25
      LParen@22..23 "("
      RParen@23..24 ")"
      Whitespace@24..25 " "
    BLOCK@25..159
      LBrace@25..26 "{"
      Whitespace@26..31 "\n    "
      STMT_LET@31..55
        LetKeyword@31..34 "let"
        Whitespace@34..35 " "
        PATTERN_VARIABLE@35..36
          Ident@35..36 "a"
        Colon@36..37 ":"
        Whitespace@37..38 " "
        TYPE_INT8@38..43
          Int8Keyword@38..42 "int8"
          Whitespace@42..43 " "
        Eq@43..44 "="
        Whitespace@44..45 " "
        EXPR_PREFIX@45..49
          Minus@45..46 "-"
          EXPR_INT@46..49
            Int@46..49 "128"
        Semi@49..50 ";"
        Whitespace@50..55 "\n    "
      STMT_EXPR@55..94
        EXPR_CALL@55..88
          EXPR_IDENT@55..69
            PATH@55..69
              Ident@55..69 "string_println"
          ARG_LIST@69..88
            LParen@69..70 "("
            ARG@70..87
              EXPR_CALL@70..87
                EXPR_IDENT@70..84
                  PATH@70..84
                    Ident@70..84 "int8_to_string"
                ARG_LIST@84..87
                  LParen@84..85 "("
                  ARG@85..86
                    EXPR_IDENT@85..86
                      PATH@85..86
                        Ident@85..86 "a"
                  RParen@86..87 ")"
            RParen@87..88 ")"
        Semi@88..89 ";"
        Whitespace@89..94 "\n    "
      STMT_LET@94..121
        LetKeyword@94..97 "let"
        Whitespace@97..98 " "
        PATTERN_VARIABLE@98..99
          Ident@98..99 "b"
        Colon@99..100 ":"
        Whitespace@100..101 " "
        TYPE_INT16@101..107
          Int16Keyword@101..106 "int16"
          Whitespace@106..107 " "
        Eq@107..108 "="
        Whitespace@108..109 " "
        EXPR_PREFIX@109..115
          Minus@109..110 "-"
          EXPR_INT@110..115
            Int@110..115 "32768"
        Semi@115..116 ";"
        Whitespace@116..121 "\n    "
      STMT_EXPR@121..157
        EXPR_CALL@121..155
          EXPR_IDENT@121..135
            PATH@121..135
              Ident@121..135 "string_println"
          ARG_LIST@135..155
            LParen@135..136 "("
            ARG@136..154
              EXPR_CALL@136..154
                EXPR_IDENT@136..151
                  PATH@136..151
                    Ident@136..151 "int16_to_string"
                ARG_LIST@151..154
                  LParen@151..152 "("
                  ARG@152..153
                    EXPR_IDENT@152..153
                      PATH@152..153
                        Ident@152..153 "b"
                  RParen@153..154 ")"
            RParen@154..155 ")"
        Semi@155..156 ";"
        Whitespace@156..157 "\n"
      RBrace@157..158 "}"
      Whitespace@158..159 "\n"