FILE@0..121
  FN@0..121
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..121
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..40
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..21
          Ident@20..21 "a"
        Colon@21..22 ":"
        Whitespace@22..23 " "
        TYPE_INT8@23..28
          Int8Keyword@23..27 "int8"
          Whitespace@27..28 " "
        Eq@28..29 "="
        Whitespace@29..30 " "
        EXPR_PREFIX@30..34
          Minus@30..31 "-"
          EXPR_INT@31..34
            Int@31..34 "128"
        Semi@34..35 ";"
        Whitespace@35..40 "\n    "
      STMT_EXPR@40..68
        EXPR_CALL@40..62
          EXPR_IDENT@40..47
            PATH@40..47
              Ident@40..47 "println"
          ARG_LIST@47..62
            LParen@47..48 "("
            ARG@48..61
              EXPR_CALL@48..61
                EXPR_BINARY@48..59
                  EXPR_IDENT@48..49
                    PATH@48..49
                      Ident@48..49 "a"
                  Dot@49..50 "."
                  EXPR_IDENT@50..59
                    PATH@50..59
                      Ident@50..59 "to_string"
                ARG_LIST@59..61
                  LParen@59..60 "("
                  RParen@60..61 ")"
            RParen@61..62 ")"
        Semi@62..63 ";"
        Whitespace@63..68 "\n    "
      STMT_LET@68..95
        LetKeyword@68..71 "let"
        Whitespace@71..72 " "
        PATTERN_VARIABLE@72..73
          Ident@72..73 "b"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_INT16@75..81
          Int16Keyword@75..80 "int16"
          Whitespace@80..81 " "
        Eq@81..82 "="
        Whitespace@82..83 " "
        EXPR_PREFIX@83..89
          Minus@83..84 "-"
          EXPR_INT@84..89
            Int@84..89 "32768"
        Semi@89..90 ";"
        Whitespace@90..95 "\n    "
      STMT_EXPR@95..119
        EXPR_CALL@95..117
          EXPR_IDENT@95..102
            PATH@95..102
              Ident@95..102 "println"
          ARG_LIST@102..117
            LParen@102..103 "("
            ARG@103..116
              EXPR_CALL@103..116
                EXPR_BINARY@103..114
                  EXPR_IDENT@103..104
                    PATH@103..104
                      Ident@103..104 "b"
                  Dot@104..105 "."
                  EXPR_IDENT@105..114
                    PATH@105..114
                      Ident@105..114 "to_string"
                ARG_LIST@114..116
                  LParen@114..115 "("
                  RParen@115..116 ")"
            RParen@116..117 ")"
        Semi@117..118 ";"
        Whitespace@118..119 "\n"
      RBrace@119..120 "}"
      Whitespace@120..121 "\n"