FILE@0..250
  FN@0..74
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "my_int_equal"
    PARAM_LIST@15..36
      LParen@15..16 "("
      PARAM@16..26
        Ident@16..17 "x"
        Colon@17..18 ":"
        Whitespace@18..19 " "
        TYPE_INT32@19..24
          Int32Keyword@19..24 "int32"
        Comma@24..25 ","
        Whitespace@25..26 " "
      PARAM@26..34
        Ident@26..27 "y"
        Colon@27..28 ":"
        Whitespace@28..29 " "
        TYPE_INT32@29..34
          Int32Keyword@29..34 "int32"
      RParen@34..35 ")"
      Whitespace@35..36 " "
    Arrow@36..38 "->"
    Whitespace@38..39 " "
    TYPE_BOOL@39..44
      BoolKeyword@39..43 "bool"
      Whitespace@43..44 " "
    BLOCK@44..74
      LBrace@44..45 "{"
      Whitespace@45..50 "\n    "
      EXPR_BINARY@50..71
        EXPR_PREFIX@50..59
          Bang@50..51 "!"
          EXPR_PAREN@51..59
            LParen@51..52 "("
            EXPR_BINARY@52..57
              EXPR_IDENT@52..54
                PATH@52..54
                  Ident@52..53 "x"
                  Whitespace@53..54 " "
              Less@54..55 "<"
              Whitespace@55..56 " "
              EXPR_IDENT@56..57
                PATH@56..57
                  Ident@56..57 "y"
            RParen@57..58 ")"
            Whitespace@58..59 " "
        AndAnd@59..61 "&&"
        Whitespace@61..62 " "
        EXPR_PREFIX@62..71
          Bang@62..63 "!"
          EXPR_PAREN@63..71
            LParen@63..64 "("
            EXPR_BINARY@64..69
              EXPR_IDENT@64..66
                PATH@64..66
                  Ident@64..65 "y"
                  Whitespace@65..66 " "
              Less@66..67 "<"
              Whitespace@67..68 " "
              EXPR_IDENT@68..69
                PATH@68..69
                  Ident@68..69 "x"
            RParen@69..70 ")"
            Whitespace@70..71 "\n"
      RBrace@71..72 "}"
      Whitespace@72..74 "\n\n"
  FN@74..185
    FnKeyword@74..76 "fn"
    Whitespace@76..77 " "
    Ident@77..80 "sum"
    PARAM_LIST@80..91
      LParen@80..81 "("
      PARAM@81..89
        Ident@81..82 "n"
        Colon@82..83 ":"
        Whitespace@83..84 " "
        TYPE_INT32@84..89
          Int32Keyword@84..89 "int32"
      RParen@89..90 ")"
      Whitespace@90..91 " "
    Arrow@91..93 "->"
    Whitespace@93..94 " "
    TYPE_INT32@94..100
      Int32Keyword@94..99 "int32"
      Whitespace@99..100 " "
    BLOCK@100..185
      LBrace@100..101 "{"
      Whitespace@101..106 "\n    "
      EXPR_IF@106..182
        IfKeyword@106..108 "if"
        Whitespace@108..109 " "
        EXPR_IF_COND@109..128
          EXPR_CALL@109..128
            EXPR_IDENT@109..121
              PATH@109..121
                Ident@109..121 "my_int_equal"
            ARG_LIST@121..128
              LParen@121..122 "("
              ARG@122..125
                EXPR_IDENT@122..123
                  PATH@122..123
                    Ident@122..123 "n"
                Comma@123..124 ","
                Whitespace@124..125 " "
              ARG@125..126
                EXPR_INT@125..126
                  Int@125..126 "1"
              RParen@126..127 ")"
              Whitespace@127..128 " "
        EXPR_IF_THEN@128..146
          BLOCK@128..146
            LBrace@128..129 "{"
            Whitespace@129..138 "\n        "
            EXPR_INT@138..144
              Int@138..139 "1"
              Whitespace@139..144 "\n    "
            RBrace@144..145 "}"
            Whitespace@145..146 " "
        ElseKeyword@146..150 "else"
        Whitespace@150..151 " "
        EXPR_IF_ELSE@151..182
          BLOCK@151..182
            LBrace@151..152 "{"
            Whitespace@152..161 "\n        "
            EXPR_BINARY@161..180
              EXPR_IDENT@161..163
                PATH@161..163
                  Ident@161..162 "n"
                  Whitespace@162..163 " "
              Plus@163..164 "+"
              Whitespace@164..165 " "
              EXPR_CALL@165..180
                EXPR_IDENT@165..168
                  PATH@165..168
                    Ident@165..168 "sum"
                ARG_LIST@168..180
                  LParen@168..169 "("
                  ARG@169..174
                    EXPR_BINARY@169..174
                      EXPR_IDENT@169..171
                        PATH@169..171
                          Ident@169..170 "n"
                          Whitespace@170..171 " "
                      Minus@171..172 "-"
                      Whitespace@172..173 " "
                      EXPR_INT@173..174
                        Int@173..174 "1"
                  RParen@174..175 ")"
                  Whitespace@175..180 "\n    "
            RBrace@180..181 "}"
            Whitespace@181..182 "\n"
      RBrace@182..183 "}"
      Whitespace@183..185 "\n\n"
  FN@185..250
    FnKeyword@185..187 "fn"
    Whitespace@187..188 " "
    Ident@188..192 "main"
    PARAM_LIST@192..195
      LParen@192..193 "("
      RParen@193..194 ")"
      Whitespace@194..195 " "
    BLOCK@195..250
      LBrace@195..196 "{"
      Whitespace@196..201 "\n    "
      EXPR_CALL@201..248
        EXPR_IDENT@201..215
          PATH@201..215
            Ident@201..215 "string_println"
        ARG_LIST@215..248
          LParen@215..216 "("
          ARG@216..241
            EXPR_CALL@216..241
              EXPR_IDENT@216..231
                PATH@216..231
                  Ident@216..231 "int32_to_string"
              ARG_LIST@231..241
                LParen@231..232 "("
                ARG@232..240
                  EXPR_CALL@232..240
                    EXPR_IDENT@232..235
                      PATH@232..235
                        Ident@232..235 "sum"
                    ARG_LIST@235..240
                      LParen@235..236 "("
                      ARG@236..239
                        EXPR_INT@236..239
                          Int@236..239 "100"
                      RParen@239..240 ")"
                RParen@240..241 ")"
          RParen@241..242 ")"
          Whitespace@242..248 "\n    \n"
      RBrace@248..249 "}"
      Whitespace@249..250 "\n"