FILE@0..3721
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..51
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
        Semi@49..50 ";"
        Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  TRAIT@54..106
    TraitKeyword@54..59 "trait"
    Whitespace@59..60 " "
    Ident@60..65 "Debug"
    Whitespace@65..66 " "
    LBrace@66..67 "{"
    Whitespace@67..72 "\n    "
    TRAIT_METHOD_SIG_LIST@72..106
      TRAIT_METHOD_SIG@72..103
        FnKeyword@72..74 "fn"
        Whitespace@74..75 " "
        Ident@75..79 "show"
        PARAM_LIST@79..92
          LParen@79..80 "("
          PARAM@80..90
            Ident@80..84 "self"
            Colon@84..85 ":"
            Whitespace@85..86 " "
            TYPE_TAPP@86..90
              PATH@86..90
                Ident@86..90 "Self"
          RParen@90..91 ")"
          Whitespace@91..92 " "
        Arrow@92..94 "->"
        Whitespace@94..95 " "
        TYPE_STRING@95..101
          StringKeyword@95..101 "string"
        Semi@101..102 ";"
        Whitespace@102..103 "\n"
      RBrace@103..104 "}"
      Whitespace@104..106 "\n\n"
  TRAIT@106..165
    TraitKeyword@106..111 "trait"
    Whitespace@111..112 " "
    Ident@112..116 "MyEq"
    Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    TRAIT_METHOD_SIG_LIST@123..165
      TRAIT_METHOD_SIG@123..162
        FnKeyword@123..125 "fn"
        Whitespace@125..126 " "
        Ident@126..128 "eq"
        PARAM_LIST@128..153
          LParen@128..129 "("
          PARAM@129..141
            Ident@129..133 "self"
            Colon@133..134 ":"
            Whitespace@134..135 " "
            TYPE_TAPP@135..139
              PATH@135..139
                Ident@135..139 "Self"
            Comma@139..140 ","
            Whitespace@140..141 " "
          PARAM@141..151
            Ident@141..145 "arg1"
            Colon@145..146 ":"
            Whitespace@146..147 " "
            TYPE_TAPP@147..151
              PATH@147..151
                Ident@147..151 "Self"
          RParen@151..152 ")"
          Whitespace@152..153 " "
        Arrow@153..155 "->"
        Whitespace@155..156 " "
        TYPE_BOOL@156..160
          BoolKeyword@156..160 "bool"
        Semi@160..161 ";"
        Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..165 "\n\n"
  TRAIT@165..215
    TraitKeyword@165..170 "trait"
    Whitespace@170..171 " "
    Ident@171..177 "MyHash"
    Whitespace@177..178 " "
    LBrace@178..179 "{"
    Whitespace@179..184 "\n    "
    TRAIT_METHOD_SIG_LIST@184..215
      TRAIT_METHOD_SIG@184..212
        FnKeyword@184..186 "fn"
        Whitespace@186..187 " "
        Ident@187..191 "hash"
        PARAM_LIST@191..204
          LParen@191..192 "("
          PARAM@192..202
            Ident@192..196 "self"
            Colon@196..197 ":"
            Whitespace@197..198 " "
            TYPE_TAPP@198..202
              PATH@198..202
                Ident@198..202 "Self"
          RParen@202..203 ")"
          Whitespace@203..204 " "
        Arrow@204..206 "->"
        Whitespace@206..207 " "
        TYPE_INT32@207..210
          I32Keyword@207..210 "i32"
        Semi@210..211 ";"
        Whitespace@211..212 "\n"
      RBrace@212..213 "}"
      Whitespace@213..215 "\n\n"
  TRAIT@215..274
    TraitKeyword@215..220 "trait"
    Whitespace@220..221 " "
    Ident@221..224 "Add"
    Whitespace@224..225 " "
    LBrace@225..226 "{"
    Whitespace@226..231 "\n    "
    TRAIT_METHOD_SIG_LIST@231..274
      TRAIT_METHOD_SIG@231..271
        FnKeyword@231..233 "fn"
        Whitespace@233..234 " "
        Ident@234..237 "add"
        PARAM_LIST@237..262
          LParen@237..238 "("
          PARAM@238..250
            Ident@238..242 "self"
            Colon@242..243 ":"
            Whitespace@243..244 " "
            TYPE_TAPP@244..248
              PATH@244..248
                Ident@244..248 "Self"
            Comma@248..249 ","
            Whitespace@249..250 " "
          PARAM@250..260
            Ident@250..254 "arg1"
            Colon@254..255 ":"
            Whitespace@255..256 " "
            TYPE_TAPP@256..260
              PATH@256..260
                Ident@256..260 "Self"
          RParen@260..261 ")"
          Whitespace@261..262 " "
        Arrow@262..264 "->"
        Whitespace@264..265 " "
        TYPE_TAPP@265..269
          PATH@265..269
            Ident@265..269 "Self"
        Semi@269..270 ";"
        Whitespace@270..271 "\n"
      RBrace@271..272 "}"
      Whitespace@272..274 "\n\n"
  TRAIT@274..336
    TraitKeyword@274..279 "trait"
    Whitespace@279..280 " "
    Ident@280..285 "Scale"
    Whitespace@285..286 " "
    LBrace@286..287 "{"
    Whitespace@287..292 "\n    "
    TRAIT_METHOD_SIG_LIST@292..336
      TRAIT_METHOD_SIG@292..333
        FnKeyword@292..294 "fn"
        Whitespace@294..295 " "
        Ident@295..300 "scale"
        PARAM_LIST@300..324
          LParen@300..301 "("
          PARAM@301..313
            Ident@301..305 "self"
            Colon@305..306 ":"
            Whitespace@306..307 " "
            TYPE_TAPP@307..311
              PATH@307..311
                Ident@307..311 "Self"
            Comma@311..312 ","
            Whitespace@312..313 " "
          PARAM@313..322
            Ident@313..317 "arg1"
            Colon@317..318 ":"
            Whitespace@318..319 " "
            TYPE_INT32@319..322
              I32Keyword@319..322 "i32"
          RParen@322..323 ")"
          Whitespace@323..324 " "
        Arrow@324..326 "->"
        Whitespace@326..327 " "
        TYPE_TAPP@327..331
          PATH@327..331
            Ident@327..331 "Self"
        Semi@331..332 ";"
        Whitespace@332..333 "\n"
      RBrace@333..334 "}"
      Whitespace@334..336 "\n\n"
  TRAIT@336..393
    TraitKeyword@336..341 "trait"
    Whitespace@341..342 " "
    Ident@342..349 "Inspect"
    Whitespace@349..350 " "
    LBrace@350..351 "{"
    Whitespace@351..356 "\n    "
    TRAIT_METHOD_SIG_LIST@356..393
      TRAIT_METHOD_SIG@356..390
        FnKeyword@356..358 "fn"
        Whitespace@358..359 " "
        Ident@359..366 "inspect"
        PARAM_LIST@366..379
          LParen@366..367 "("
          PARAM@367..377
            Ident@367..371 "self"
            Colon@371..372 ":"
            Whitespace@372..373 " "
            TYPE_TAPP@373..377
              PATH@373..377
                Ident@373..377 "Self"
          RParen@377..378 ")"
          Whitespace@378..379 " "
        Arrow@379..381 "->"
        Whitespace@381..382 " "
        TYPE_STRING@382..388
          StringKeyword@382..388 "string"
        Semi@388..389 ";"
        Whitespace@389..390 "\n"
      RBrace@390..391 "}"
      Whitespace@391..393 "\n\n"
  STRUCT@393..427
    StructKeyword@393..399 "struct"
    Whitespace@399..400 " "
    Ident@400..405 "Boxed"
    Whitespace@405..406 " "
    LBrace@406..407 "{"
    Whitespace@407..412 "\n    "
    STRUCT_FIELD_LIST@412..427
      STRUCT_FIELD@412..422
        Ident@412..417 "value"
        Colon@417..418 ":"
        Whitespace@418..419 " "
        TYPE_INT32@419..422
          I32Keyword@419..422 "i32"
      Comma@422..423 ","
      Whitespace@423..424 "\n"
      RBrace@424..425 "}"
      Whitespace@425..427 "\n\n"
  IMPL@427..519
    ImplKeyword@427..431 "impl"
    Whitespace@431..432 " "
    TYPE_TAPP@432..440
      PATH@432..440
        Ident@432..439 "Display"
        Whitespace@439..440 " "
    ForKeyword@440..443 "for"
    Whitespace@443..444 " "
    TYPE_INT32@444..448
      I32Keyword@444..447 "i32"
      Whitespace@447..448 " "
    LBrace@448..449 "{"
    Whitespace@449..454 "\n    "
    FN@454..516
      FnKeyword@454..456 "fn"
      Whitespace@456..457 " "
      Ident@457..461 "show"
      PARAM_LIST@461..473
        LParen@461..462 "("
        PARAM@462..471
          Ident@462..466 "self"
          Colon@466..467 ":"
          Whitespace@467..468 " "
          TYPE_INT32@468..471
            I32Keyword@468..471 "i32"
        RParen@471..472 ")"
        Whitespace@472..473 " "
      Arrow@473..475 "->"
      Whitespace@475..476 " "
      TYPE_STRING@476..483
        StringKeyword@476..482 "string"
        Whitespace@482..483 " "
      BLOCK@483..516
        LBrace@483..484 "{"
        Whitespace@484..493 "\n        "
        EXPR_CALL@493..514
          EXPR_BINARY@493..507
            EXPR_IDENT@493..497
              PATH@493..497
                Ident@493..497 "self"
            Dot@497..498 "."
            EXPR_IDENT@498..507
              PATH@498..507
                Ident@498..507 "to_string"
          ARG_LIST@507..514
            LParen@507..508 "("
            RParen@508..509 ")"
            Whitespace@509..514 "\n    "
        RBrace@514..515 "}"
        Whitespace@515..516 "\n"
    RBrace@516..517 "}"
    Whitespace@517..519 "\n\n"
  IMPL@519..624
    ImplKeyword@519..523 "impl"
    Whitespace@523..524 " "
    TYPE_TAPP@524..530
      PATH@524..530
        Ident@524..529 "Debug"
        Whitespace@529..530 " "
    ForKeyword@530..533 "for"
    Whitespace@533..534 " "
    TYPE_INT32@534..538
      I32Keyword@534..537 "i32"
      Whitespace@537..538 " "
    LBrace@538..539 "{"
    Whitespace@539..544 "\n    "
    FN@544..621
      FnKeyword@544..546 "fn"
      Whitespace@546..547 " "
      Ident@547..551 "show"
      PARAM_LIST@551..563
        LParen@551..552 "("
        PARAM@552..561
          Ident@552..556 "self"
          Colon@556..557 ":"
          Whitespace@557..558 " "
          TYPE_INT32@558..561
            I32Keyword@558..561 "i32"
        RParen@561..562 ")"
        Whitespace@562..563 " "
      Arrow@563..565 "->"
      Whitespace@565..566 " "
      TYPE_STRING@566..573
        StringKeyword@566..572 "string"
        Whitespace@572..573 " "
      BLOCK@573..621
        LBrace@573..574 "{"
        Whitespace@574..583 "\n        "
        EXPR_BINARY@583..619
          EXPR_BINARY@583..609
            EXPR_STR@583..590
              Str@583..589 "\"i32(\""
              Whitespace@589..590 " "
            Plus@590..591 "+"
            Whitespace@591..592 " "
            EXPR_CALL@592..609
              EXPR_BINARY@592..606
                EXPR_IDENT@592..596
                  PATH@592..596
                    Ident@592..596 "self"
                Dot@596..597 "."
                EXPR_IDENT@597..606
                  PATH@597..606
                    Ident@597..606 "to_string"
              ARG_LIST@606..609
                LParen@606..607 "("
                RParen@607..608 ")"
                Whitespace@608..609 " "
          Plus@609..610 "+"
          Whitespace@610..611 " "
          EXPR_STR@611..619
            Str@611..614 "\")\""
            Whitespace@614..619 "\n    "
        RBrace@619..620 "}"
        Whitespace@620..621 "\n"
    RBrace@621..622 "}"
    Whitespace@622..624 "\n\n"
  IMPL@624..718
    ImplKeyword@624..628 "impl"
    Whitespace@628..629 " "
    TYPE_TAPP@629..634
      PATH@629..634
        Ident@629..633 "MyEq"
        Whitespace@633..634 " "
    ForKeyword@634..637 "for"
    Whitespace@637..638 " "
    TYPE_INT32@638..642
      I32Keyword@638..641 "i32"
      Whitespace@641..642 " "
    LBrace@642..643 "{"
    Whitespace@643..648 "\n    "
    FN@648..715
      FnKeyword@648..650 "fn"
      Whitespace@650..651 " "
      Ident@651..653 "eq"
      PARAM_LIST@653..677
        LParen@653..654 "("
        PARAM@654..665
          Ident@654..658 "self"
          Colon@658..659 ":"
          Whitespace@659..660 " "
          TYPE_INT32@660..663
            I32Keyword@660..663 "i32"
          Comma@663..664 ","
          Whitespace@664..665 " "
        PARAM@665..675
          Ident@665..670 "other"
          Colon@670..671 ":"
          Whitespace@671..672 " "
          TYPE_INT32@672..675
            I32Keyword@672..675 "i32"
        RParen@675..676 ")"
        Whitespace@676..677 " "
      Arrow@677..679 "->"
      Whitespace@679..680 " "
      TYPE_BOOL@680..685
        BoolKeyword@680..684 "bool"
        Whitespace@684..685 " "
      BLOCK@685..715
        LBrace@685..686 "{"
        Whitespace@686..695 "\n        "
        EXPR_BINARY@695..713
          EXPR_IDENT@695..700
            PATH@695..700
              Ident@695..699 "self"
              Whitespace@699..700 " "
          EqEq@700..702 "=="
          Whitespace@702..703 " "
          EXPR_IDENT@703..713
            PATH@703..713
              Ident@703..708 "other"
              Whitespace@708..713 "\n    "
        RBrace@713..714 "}"
        Whitespace@714..715 "\n"
    RBrace@715..716 "}"
    Whitespace@716..718 "\n\n"
  IMPL@718..819
    ImplKeyword@718..722 "impl"
    Whitespace@722..723 " "
    TYPE_TAPP@723..730
      PATH@723..730
        Ident@723..729 "MyHash"
        Whitespace@729..730 " "
    ForKeyword@730..733 "for"
    Whitespace@733..734 " "
    TYPE_INT32@734..738
      I32Keyword@734..737 "i32"
      Whitespace@737..738 " "
    LBrace@738..739 "{"
    Whitespace@739..744 "\n    "
    FN@744..816
      FnKeyword@744..746 "fn"
      Whitespace@746..747 " "
      Ident@747..751 "hash"
      PARAM_LIST@751..763
        LParen@751..752 "("
        PARAM@752..761
          Ident@752..756 "self"
          Colon@756..757 ":"
          Whitespace@757..758 " "
          TYPE_INT32@758..761
            I32Keyword@758..761 "i32"
        RParen@761..762 ")"
        Whitespace@762..763 " "
      Arrow@763..765 "->"
      Whitespace@765..766 " "
      TYPE_INT32@766..770
        I32Keyword@766..769 "i32"
        Whitespace@769..770 " "
      BLOCK@770..816
        LBrace@770..771 "{"
        Whitespace@771..780 "\n        "
        EXPR_BINARY@780..814
          EXPR_PAREN@780..798
            LParen@780..781 "("
            EXPR_BINARY@781..796
              EXPR_IDENT@781..786
                PATH@781..786
                  Ident@781..785 "self"
                  Whitespace@785..786 " "
              Star@786..787 "*"
              Whitespace@787..788 " "
              EXPR_INT@788..796
                Int@788..796 "16777619"
            RParen@796..797 ")"
            Whitespace@797..798 " "
          Plus@798..799 "+"
          Whitespace@799..800 " "
          EXPR_INT@800..814
            Int@800..809 "216613626"
            Whitespace@809..814 "\n    "
        RBrace@814..815 "}"
        Whitespace@815..816 "\n"
    RBrace@816..817 "}"
    Whitespace@817..819 "\n\n"
  IMPL@819..911
    ImplKeyword@819..823 "impl"
    Whitespace@823..824 " "
    TYPE_TAPP@824..828
      PATH@824..828
        Ident@824..827 "Add"
        Whitespace@827..828 " "
    ForKeyword@828..831 "for"
    Whitespace@831..832 " "
    TYPE_INT32@832..836
      I32Keyword@832..835 "i32"
      Whitespace@835..836 " "
    LBrace@836..837 "{"
    Whitespace@837..842 "\n    "
    FN@842..908
      FnKeyword@842..844 "fn"
      Whitespace@844..845 " "
      Ident@845..848 "add"
      PARAM_LIST@848..872
        LParen@848..849 "("
        PARAM@849..860
          Ident@849..853 "self"
          Colon@853..854 ":"
          Whitespace@854..855 " "
          TYPE_INT32@855..858
            I32Keyword@855..858 "i32"
          Comma@858..859 ","
          Whitespace@859..860 " "
        PARAM@860..870
          Ident@860..865 "other"
          Colon@865..866 ":"
          Whitespace@866..867 " "
          TYPE_INT32@867..870
            I32Keyword@867..870 "i32"
        RParen@870..871 ")"
        Whitespace@871..872 " "
      Arrow@872..874 "->"
      Whitespace@874..875 " "
      TYPE_INT32@875..879
        I32Keyword@875..878 "i32"
        Whitespace@878..879 " "
      BLOCK@879..908
        LBrace@879..880 "{"
        Whitespace@880..889 "\n        "
        EXPR_BINARY@889..906
          EXPR_IDENT@889..894
            PATH@889..894
              Ident@889..893 "self"
              Whitespace@893..894 " "
          Plus@894..895 "+"
          Whitespace@895..896 " "
          EXPR_IDENT@896..906
            PATH@896..906
              Ident@896..901 "other"
              Whitespace@901..906 "\n    "
        RBrace@906..907 "}"
        Whitespace@907..908 "\n"
    RBrace@908..909 "}"
    Whitespace@909..911 "\n\n"
  IMPL@911..1009
    ImplKeyword@911..915 "impl"
    Whitespace@915..916 " "
    TYPE_TAPP@916..922
      PATH@916..922
        Ident@916..921 "Scale"
        Whitespace@921..922 " "
    ForKeyword@922..925 "for"
    Whitespace@925..926 " "
    TYPE_INT32@926..930
      I32Keyword@926..929 "i32"
      Whitespace@929..930 " "
    LBrace@930..931 "{"
    Whitespace@931..936 "\n    "
    FN@936..1006
      FnKeyword@936..938 "fn"
      Whitespace@938..939 " "
      Ident@939..944 "scale"
      PARAM_LIST@944..969
        LParen@944..945 "("
        PARAM@945..956
          Ident@945..949 "self"
          Colon@949..950 ":"
          Whitespace@950..951 " "
          TYPE_INT32@951..954
            I32Keyword@951..954 "i32"
          Comma@954..955 ","
          Whitespace@955..956 " "
        PARAM@956..967
          Ident@956..962 "factor"
          Colon@962..963 ":"
          Whitespace@963..964 " "
          TYPE_INT32@964..967
            I32Keyword@964..967 "i32"
        RParen@967..968 ")"
        Whitespace@968..969 " "
      Arrow@969..971 "->"
      Whitespace@971..972 " "
      TYPE_INT32@972..976
        I32Keyword@972..975 "i32"
        Whitespace@975..976 " "
      BLOCK@976..1006
        LBrace@976..977 "{"
        Whitespace@977..986 "\n        "
        EXPR_BINARY@986..1004
          EXPR_IDENT@986..991
            PATH@986..991
              Ident@986..990 "self"
              Whitespace@990..991 " "
          Star@991..992 "*"
          Whitespace@992..993 " "
          EXPR_IDENT@993..1004
            PATH@993..1004
              Ident@993..999 "factor"
              Whitespace@999..1004 "\n    "
        RBrace@1004..1005 "}"
        Whitespace@1005..1006 "\n"
    RBrace@1006..1007 "}"
    Whitespace@1007..1009 "\n\n"
  IMPL@1009..1116
    ImplKeyword@1009..1013 "impl"
    Whitespace@1013..1014 " "
    TYPE_TAPP@1014..1022
      PATH@1014..1022
        Ident@1014..1021 "Inspect"
        Whitespace@1021..1022 " "
    ForKeyword@1022..1025 "for"
    Whitespace@1025..1026 " "
    TYPE_INT32@1026..1030
      I32Keyword@1026..1029 "i32"
      Whitespace@1029..1030 " "
    LBrace@1030..1031 "{"
    Whitespace@1031..1036 "\n    "
    FN@1036..1113
      FnKeyword@1036..1038 "fn"
      Whitespace@1038..1039 " "
      Ident@1039..1046 "inspect"
      PARAM_LIST@1046..1058
        LParen@1046..1047 "("
        PARAM@1047..1056
          Ident@1047..1051 "self"
          Colon@1051..1052 ":"
          Whitespace@1052..1053 " "
          TYPE_INT32@1053..1056
            I32Keyword@1053..1056 "i32"
        RParen@1056..1057 ")"
        Whitespace@1057..1058 " "
      Arrow@1058..1060 "->"
      Whitespace@1060..1061 " "
      TYPE_STRING@1061..1068
        StringKeyword@1061..1067 "string"
        Whitespace@1067..1068 " "
      BLOCK@1068..1113
        LBrace@1068..1069 "{"
        Whitespace@1069..1078 "\n        "
        EXPR_BINARY@1078..1111
          EXPR_BINARY@1078..1101
            EXPR_STR@1078..1082
              Str@1078..1081 "\"<\""
              Whitespace@1081..1082 " "
            Plus@1082..1083 "+"
            Whitespace@1083..1084 " "
            EXPR_CALL@1084..1101
              EXPR_BINARY@1084..1098
                EXPR_IDENT@1084..1088
                  PATH@1084..1088
                    Ident@1084..1088 "self"
                Dot@1088..1089 "."
                EXPR_IDENT@1089..1098
                  PATH@1089..1098
                    Ident@1089..1098 "to_string"
              ARG_LIST@1098..1101
                LParen@1098..1099 "("
                RParen@1099..1100 ")"
                Whitespace@1100..1101 " "
          Plus@1101..1102 "+"
          Whitespace@1102..1103 " "
          EXPR_STR@1103..1111
            Str@1103..1106 "\">\""
            Whitespace@1106..1111 "\n    "
        RBrace@1111..1112 "}"
        Whitespace@1112..1113 "\n"
    RBrace@1113..1114 "}"
    Whitespace@1114..1116 "\n\n"
  IMPL@1116..1235
    ImplKeyword@1116..1120 "impl"
    Whitespace@1120..1121 " "
    TYPE_TAPP@1121..1129
      PATH@1121..1129
        Ident@1121..1128 "Display"
        Whitespace@1128..1129 " "
    ForKeyword@1129..1132 "for"
    Whitespace@1132..1133 " "
    TYPE_TAPP@1133..1139
      PATH@1133..1139
        Ident@1133..1138 "Boxed"
        Whitespace@1138..1139 " "
    LBrace@1139..1140 "{"
    Whitespace@1140..1145 "\n    "
    FN@1145..1232
      FnKeyword@1145..1147 "fn"
      Whitespace@1147..1148 " "
      Ident@1148..1152 "show"
      PARAM_LIST@1152..1166
        LParen@1152..1153 "("
        PARAM@1153..1164
          Ident@1153..1157 "self"
          Colon@1157..1158 ":"
          Whitespace@1158..1159 " "
          TYPE_TAPP@1159..1164
            PATH@1159..1164
              Ident@1159..1164 "Boxed"
        RParen@1164..1165 ")"
        Whitespace@1165..1166 " "
      Arrow@1166..1168 "->"
      Whitespace@1168..1169 " "
      TYPE_STRING@1169..1176
        StringKeyword@1169..1175 "string"
        Whitespace@1175..1176 " "
      BLOCK@1176..1232
        LBrace@1176..1177 "{"
        Whitespace@1177..1186 "\n        "
        EXPR_BINARY@1186..1230
          EXPR_BINARY@1186..1220
            EXPR_STR@1186..1195
              Str@1186..1194 "\"Boxed(\""
              Whitespace@1194..1195 " "
            Plus@1195..1196 "+"
            Whitespace@1196..1197 " "
            EXPR_CALL@1197..1220
              EXPR_BINARY@1197..1217
                EXPR_BINARY@1197..1207
                  EXPR_IDENT@1197..1201
                    PATH@1197..1201
                      Ident@1197..1201 "self"
                  Dot@1201..1202 "."
                  EXPR_IDENT@1202..1207
                    PATH@1202..1207
                      Ident@1202..1207 "value"
                Dot@1207..1208 "."
                EXPR_IDENT@1208..1217
                  PATH@1208..1217
                    Ident@1208..1217 "to_string"
              ARG_LIST@1217..1220
                LParen@1217..1218 "("
                RParen@1218..1219 ")"
                Whitespace@1219..1220 " "
          Plus@1220..1221 "+"
          Whitespace@1221..1222 " "
          EXPR_STR@1222..1230
            Str@1222..1225 "\")\""
            Whitespace@1225..1230 "\n    "
        RBrace@1230..1231 "}"
        Whitespace@1231..1232 "\n"
    RBrace@1232..1233 "}"
    Whitespace@1233..1235 "\n\n"
  IMPL@1235..1358
    ImplKeyword@1235..1239 "impl"
    Whitespace@1239..1240 " "
    TYPE_TAPP@1240..1246
      PATH@1240..1246
        Ident@1240..1245 "Debug"
        Whitespace@1245..1246 " "
    ForKeyword@1246..1249 "for"
    Whitespace@1249..1250 " "
    TYPE_TAPP@1250..1256
      PATH@1250..1256
        Ident@1250..1255 "Boxed"
        Whitespace@1255..1256 " "
    LBrace@1256..1257 "{"
    Whitespace@1257..1262 "\n    "
    FN@1262..1355
      FnKeyword@1262..1264 "fn"
      Whitespace@1264..1265 " "
      Ident@1265..1269 "show"
      PARAM_LIST@1269..1283
        LParen@1269..1270 "("
        PARAM@1270..1281
          Ident@1270..1274 "self"
          Colon@1274..1275 ":"
          Whitespace@1275..1276 " "
          TYPE_TAPP@1276..1281
            PATH@1276..1281
              Ident@1276..1281 "Boxed"
        RParen@1281..1282 ")"
        Whitespace@1282..1283 " "
      Arrow@1283..1285 "->"
      Whitespace@1285..1286 " "
      TYPE_STRING@1286..1293
        StringKeyword@1286..1292 "string"
        Whitespace@1292..1293 " "
      BLOCK@1293..1355
        LBrace@1293..1294 "{"
        Whitespace@1294..1303 "\n        "
        EXPR_BINARY@1303..1353
          EXPR_BINARY@1303..1343
            EXPR_STR@1303..1318
              Str@1303..1317 "\"Boxed{value=\""
              Whitespace@1317..1318 " "
            Plus@1318..1319 "+"
            Whitespace@1319..1320 " "
            EXPR_CALL@1320..1343
              EXPR_BINARY@1320..1340
                EXPR_BINARY@1320..1330
                  EXPR_IDENT@1320..1324
                    PATH@1320..1324
                      Ident@1320..1324 "self"
                  Dot@1324..1325 "."
                  EXPR_IDENT@1325..1330
                    PATH@1325..1330
                      Ident@1325..1330 "value"
                Dot@1330..1331 "."
                EXPR_IDENT@1331..1340
                  PATH@1331..1340
                    Ident@1331..1340 "to_string"
              ARG_LIST@1340..1343
                LParen@1340..1341 "("
                RParen@1341..1342 ")"
                Whitespace@1342..1343 " "
          Plus@1343..1344 "+"
          Whitespace@1344..1345 " "
          EXPR_STR@1345..1353
            Str@1345..1348 "\"}\""
            Whitespace@1348..1353 "\n    "
        RBrace@1353..1354 "}"
        Whitespace@1354..1355 "\n"
    RBrace@1355..1356 "}"
    Whitespace@1356..1358 "\n\n"
  IMPL@1358..1470
    ImplKeyword@1358..1362 "impl"
    Whitespace@1362..1363 " "
    TYPE_TAPP@1363..1368
      PATH@1363..1368
        Ident@1363..1367 "MyEq"
        Whitespace@1367..1368 " "
    ForKeyword@1368..1371 "for"
    Whitespace@1371..1372 " "
    TYPE_TAPP@1372..1378
      PATH@1372..1378
        Ident@1372..1377 "Boxed"
        Whitespace@1377..1378 " "
    LBrace@1378..1379 "{"
    Whitespace@1379..1384 "\n    "
    FN@1384..1467
      FnKeyword@1384..1386 "fn"
      Whitespace@1386..1387 " "
      Ident@1387..1389 "eq"
      PARAM_LIST@1389..1417
        LParen@1389..1390 "("
        PARAM@1390..1403
          Ident@1390..1394 "self"
          Colon@1394..1395 ":"
          Whitespace@1395..1396 " "
          TYPE_TAPP@1396..1401
            PATH@1396..1401
              Ident@1396..1401 "Boxed"
          Comma@1401..1402 ","
          Whitespace@1402..1403 " "
        PARAM@1403..1415
          Ident@1403..1408 "other"
          Colon@1408..1409 ":"
          Whitespace@1409..1410 " "
          TYPE_TAPP@1410..1415
            PATH@1410..1415
              Ident@1410..1415 "Boxed"
        RParen@1415..1416 ")"
        Whitespace@1416..1417 " "
      Arrow@1417..1419 "->"
      Whitespace@1419..1420 " "
      TYPE_BOOL@1420..1425
        BoolKeyword@1420..1424 "bool"
        Whitespace@1424..1425 " "
      BLOCK@1425..1467
        LBrace@1425..1426 "{"
        Whitespace@1426..1435 "\n        "
        EXPR_BINARY@1435..1465
          EXPR_BINARY@1435..1446
            EXPR_IDENT@1435..1439
              PATH@1435..1439
                Ident@1435..1439 "self"
            Dot@1439..1440 "."
            EXPR_IDENT@1440..1446
              PATH@1440..1446
                Ident@1440..1445 "value"
                Whitespace@1445..1446 " "
          EqEq@1446..1448 "=="
          Whitespace@1448..1449 " "
          EXPR_BINARY@1449..1465
            EXPR_IDENT@1449..1454
              PATH@1449..1454
                Ident@1449..1454 "other"
            Dot@1454..1455 "."
            EXPR_IDENT@1455..1465
              PATH@1455..1465
                Ident@1455..1460 "value"
                Whitespace@1460..1465 "\n    "
        RBrace@1465..1466 "}"
        Whitespace@1466..1467 "\n"
    RBrace@1467..1468 "}"
    Whitespace@1468..1470 "\n\n"
  IMPL@1470..1582
    ImplKeyword@1470..1474 "impl"
    Whitespace@1474..1475 " "
    TYPE_TAPP@1475..1482
      PATH@1475..1482
        Ident@1475..1481 "MyHash"
        Whitespace@1481..1482 " "
    ForKeyword@1482..1485 "for"
    Whitespace@1485..1486 " "
    TYPE_TAPP@1486..1492
      PATH@1486..1492
        Ident@1486..1491 "Boxed"
        Whitespace@1491..1492 " "
    LBrace@1492..1493 "{"
    Whitespace@1493..1498 "\n    "
    FN@1498..1579
      FnKeyword@1498..1500 "fn"
      Whitespace@1500..1501 " "
      Ident@1501..1505 "hash"
      PARAM_LIST@1505..1519
        LParen@1505..1506 "("
        PARAM@1506..1517
          Ident@1506..1510 "self"
          Colon@1510..1511 ":"
          Whitespace@1511..1512 " "
          TYPE_TAPP@1512..1517
            PATH@1512..1517
              Ident@1512..1517 "Boxed"
        RParen@1517..1518 ")"
        Whitespace@1518..1519 " "
      Arrow@1519..1521 "->"
      Whitespace@1521..1522 " "
      TYPE_INT32@1522..1526
        I32Keyword@1522..1525 "i32"
        Whitespace@1525..1526 " "
      BLOCK@1526..1579
        LBrace@1526..1527 "{"
        Whitespace@1527..1536 "\n        "
        EXPR_BINARY@1536..1577
          EXPR_PAREN@1536..1560
            LParen@1536..1537 "("
            EXPR_BINARY@1537..1558
              EXPR_PAREN@1537..1555
                LParen@1537..1538 "("
                EXPR_BINARY@1538..1553
                  EXPR_BINARY@1538..1549
                    EXPR_IDENT@1538..1542
                      PATH@1538..1542
                        Ident@1538..1542 "self"
                    Dot@1542..1543 "."
                    EXPR_IDENT@1543..1549
                      PATH@1543..1549
                        Ident@1543..1548 "value"
                        Whitespace@1548..1549 " "
                  Star@1549..1550 "*"
                  Whitespace@1550..1551 " "
                  EXPR_INT@1551..1553
                    Int@1551..1553 "31"
                RParen@1553..1554 ")"
                Whitespace@1554..1555 " "
              Plus@1555..1556 "+"
              Whitespace@1556..1557 " "
              EXPR_INT@1557..1558
                Int@1557..1558 "7"
            RParen@1558..1559 ")"
            Whitespace@1559..1560 " "
          Star@1560..1561 "*"
          Whitespace@1561..1562 " "
          EXPR_INT@1562..1577
            Int@1562..1572 "1315423911"
            Whitespace@1572..1577 "\n    "
        RBrace@1577..1578 "}"
        Whitespace@1578..1579 "\n"
    RBrace@1579..1580 "}"
    Whitespace@1580..1582 "\n\n"
  IMPL@1582..1711
    ImplKeyword@1582..1586 "impl"
    Whitespace@1586..1587 " "
    TYPE_TAPP@1587..1591
      PATH@1587..1591
        Ident@1587..1590 "Add"
        Whitespace@1590..1591 " "
    ForKeyword@1591..1594 "for"
    Whitespace@1594..1595 " "
    TYPE_TAPP@1595..1601
      PATH@1595..1601
        Ident@1595..1600 "Boxed"
        Whitespace@1600..1601 " "
    LBrace@1601..1602 "{"
    Whitespace@1602..1607 "\n    "
    FN@1607..1708
      FnKeyword@1607..1609 "fn"
      Whitespace@1609..1610 " "
      Ident@1610..1613 "add"
      PARAM_LIST@1613..1641
        LParen@1613..1614 "("
        PARAM@1614..1627
          Ident@1614..1618 "self"
          Colon@1618..1619 ":"
          Whitespace@1619..1620 " "
          TYPE_TAPP@1620..1625
            PATH@1620..1625
              Ident@1620..1625 "Boxed"
          Comma@1625..1626 ","
          Whitespace@1626..1627 " "
        PARAM@1627..1639
          Ident@1627..1632 "other"
          Colon@1632..1633 ":"
          Whitespace@1633..1634 " "
          TYPE_TAPP@1634..1639
            PATH@1634..1639
              Ident@1634..1639 "Boxed"
        RParen@1639..1640 ")"
        Whitespace@1640..1641 " "
      Arrow@1641..1643 "->"
      Whitespace@1643..1644 " "
      TYPE_TAPP@1644..1650
        PATH@1644..1650
          Ident@1644..1649 "Boxed"
          Whitespace@1649..1650 " "
      BLOCK@1650..1708
        LBrace@1650..1651 "{"
        Whitespace@1651..1660 "\n        "
        EXPR_STRUCT_LITERAL@1660..1706
          PATH@1660..1666
            Ident@1660..1665 "Boxed"
            Whitespace@1665..1666 " "
          STRUCT_LITERAL_FIELD_LIST@1666..1706
            LBrace@1666..1667 "{"
            Whitespace@1667..1668 " "
            STRUCT_LITERAL_FIELD@1668..1700
              Ident@1668..1673 "value"
              Colon@1673..1674 ":"
              Whitespace@1674..1675 " "
              EXPR_BINARY@1675..1700
                EXPR_BINARY@1675..1686
                  EXPR_IDENT@1675..1679
                    PATH@1675..1679
                      Ident@1675..1679 "self"
                  Dot@1679..1680 "."
                  EXPR_IDENT@1680..1686
                    PATH@1680..1686
                      Ident@1680..1685 "value"
                      Whitespace@1685..1686 " "
                Plus@1686..1687 "+"
                Whitespace@1687..1688 " "
                EXPR_BINARY@1688..1700
                  EXPR_IDENT@1688..1693
                    PATH@1688..1693
                      Ident@1688..1693 "other"
                  Dot@1693..1694 "."
                  EXPR_IDENT@1694..1700
                    PATH@1694..1700
                      Ident@1694..1699 "value"
                      Whitespace@1699..1700 " "
            RBrace@1700..1701 "}"
            Whitespace@1701..1706 "\n    "
        RBrace@1706..1707 "}"
        Whitespace@1707..1708 "\n"
    RBrace@1708..1709 "}"
    Whitespace@1709..1711 "\n\n"
  IMPL@1711..1838
    ImplKeyword@1711..1715 "impl"
    Whitespace@1715..1716 " "
    TYPE_TAPP@1716..1722
      PATH@1716..1722
        Ident@1716..1721 "Scale"
        Whitespace@1721..1722 " "
    ForKeyword@1722..1725 "for"
    Whitespace@1725..1726 " "
    TYPE_TAPP@1726..1732
      PATH@1726..1732
        Ident@1726..1731 "Boxed"
        Whitespace@1731..1732 " "
    LBrace@1732..1733 "{"
    Whitespace@1733..1738 "\n    "
    FN@1738..1835
      FnKeyword@1738..1740 "fn"
      Whitespace@1740..1741 " "
      Ident@1741..1746 "scale"
      PARAM_LIST@1746..1773
        LParen@1746..1747 "("
        PARAM@1747..1760
          Ident@1747..1751 "self"
          Colon@1751..1752 ":"
          Whitespace@1752..1753 " "
          TYPE_TAPP@1753..1758
            PATH@1753..1758
              Ident@1753..1758 "Boxed"
          Comma@1758..1759 ","
          Whitespace@1759..1760 " "
        PARAM@1760..1771
          Ident@1760..1766 "factor"
          Colon@1766..1767 ":"
          Whitespace@1767..1768 " "
          TYPE_INT32@1768..1771
            I32Keyword@1768..1771 "i32"
        RParen@1771..1772 ")"
        Whitespace@1772..1773 " "
      Arrow@1773..1775 "->"
      Whitespace@1775..1776 " "
      TYPE_TAPP@1776..1782
        PATH@1776..1782
          Ident@1776..1781 "Boxed"
          Whitespace@1781..1782 " "
      BLOCK@1782..1835
        LBrace@1782..1783 "{"
        Whitespace@1783..1792 "\n        "
        EXPR_STRUCT_LITERAL@1792..1833
          PATH@1792..1798
            Ident@1792..1797 "Boxed"
            Whitespace@1797..1798 " "
          STRUCT_LITERAL_FIELD_LIST@1798..1833
            LBrace@1798..1799 "{"
            Whitespace@1799..1800 " "
            STRUCT_LITERAL_FIELD@1800..1827
              Ident@1800..1805 "value"
              Colon@1805..1806 ":"
              Whitespace@1806..1807 " "
              EXPR_BINARY@1807..1827
                EXPR_BINARY@1807..1818
                  EXPR_IDENT@1807..1811
                    PATH@1807..1811
                      Ident@1807..1811 "self"
                  Dot@1811..1812 "."
                  EXPR_IDENT@1812..1818
                    PATH@1812..1818
                      Ident@1812..1817 "value"
                      Whitespace@1817..1818 " "
                Star@1818..1819 "*"
                Whitespace@1819..1820 " "
                EXPR_IDENT@1820..1827
                  PATH@1820..1827
                    Ident@1820..1826 "factor"
                    Whitespace@1826..1827 " "
            RBrace@1827..1828 "}"
            Whitespace@1828..1833 "\n    "
        RBrace@1833..1834 "}"
        Whitespace@1834..1835 "\n"
    RBrace@1835..1836 "}"
    Whitespace@1836..1838 "\n\n"
  IMPL@1838..1955
    ImplKeyword@1838..1842 "impl"
    Whitespace@1842..1843 " "
    TYPE_TAPP@1843..1851
      PATH@1843..1851
        Ident@1843..1850 "Inspect"
        Whitespace@1850..1851 " "
    ForKeyword@1851..1854 "for"
    Whitespace@1854..1855 " "
    TYPE_TAPP@1855..1861
      PATH@1855..1861
        Ident@1855..1860 "Boxed"
        Whitespace@1860..1861 " "
    LBrace@1861..1862 "{"
    Whitespace@1862..1867 "\n    "
    FN@1867..1952
      FnKeyword@1867..1869 "fn"
      Whitespace@1869..1870 " "
      Ident@1870..1877 "inspect"
      PARAM_LIST@1877..1891
        LParen@1877..1878 "("
        PARAM@1878..1889
          Ident@1878..1882 "self"
          Colon@1882..1883 ":"
          Whitespace@1883..1884 " "
          TYPE_TAPP@1884..1889
            PATH@1884..1889
              Ident@1884..1889 "Boxed"
        RParen@1889..1890 ")"
        Whitespace@1890..1891 " "
      Arrow@1891..1893 "->"
      Whitespace@1893..1894 " "
      TYPE_STRING@1894..1901
        StringKeyword@1894..1900 "string"
        Whitespace@1900..1901 " "
      BLOCK@1901..1952
        LBrace@1901..1902 "{"
        Whitespace@1902..1911 "\n        "
        EXPR_BINARY@1911..1950
          EXPR_BINARY@1911..1940
            EXPR_STR@1911..1915
              Str@1911..1914 "\"[\""
              Whitespace@1914..1915 " "
            Plus@1915..1916 "+"
            Whitespace@1916..1917 " "
            EXPR_CALL@1917..1940
              EXPR_BINARY@1917..1937
                EXPR_BINARY@1917..1927
                  EXPR_IDENT@1917..1921
                    PATH@1917..1921
                      Ident@1917..1921 "self"
                  Dot@1921..1922 "."
                  EXPR_IDENT@1922..1927
                    PATH@1922..1927
                      Ident@1922..1927 "value"
                Dot@1927..1928 "."
                EXPR_IDENT@1928..1937
                  PATH@1928..1937
                    Ident@1928..1937 "to_string"
              ARG_LIST@1937..1940
                LParen@1937..1938 "("
                RParen@1938..1939 ")"
                Whitespace@1939..1940 " "
          Plus@1940..1941 "+"
          Whitespace@1941..1942 " "
          EXPR_STR@1942..1950
            Str@1942..1945 "\"]\""
            Whitespace@1945..1950 "\n    "
        RBrace@1950..1951 "}"
        Whitespace@1951..1952 "\n"
    RBrace@1952..1953 "}"
    Whitespace@1953..1955 "\n\n"
  FN@1955..2053
    FnKeyword@1955..1957 "fn"
    Whitespace@1957..1958 " "
    Ident@1958..1967 "bool_text"
    PARAM_LIST@1967..1977
      LParen@1967..1968 "("
      PARAM@1968..1975
        Ident@1968..1969 "x"
        Colon@1969..1970 ":"
        Whitespace@1970..1971 " "
        TYPE_BOOL@1971..1975
          BoolKeyword@1971..1975 "bool"
      RParen@1975..1976 ")"
      Whitespace@1976..1977 " "
    Arrow@1977..1979 "->"
    Whitespace@1979..1980 " "
    TYPE_STRING@1980..1987
      StringKeyword@1980..1986 "string"
      Whitespace@1986..1987 " "
    BLOCK@1987..2053
      LBrace@1987..1988 "{"
      Whitespace@1988..1993 "\n    "
      EXPR_IF@1993..2050
        IfKeyword@1993..1995 "if"
        Whitespace@1995..1996 " "
        EXPR_IF_COND@1996..1998
          EXPR_IDENT@1996..1998
            PATH@1996..1998
              Ident@1996..1997 "x"
              Whitespace@1997..1998 " "
        EXPR_IF_THEN@1998..2021
          BLOCK@1998..2021
            LBrace@1998..1999 "{"
            Whitespace@1999..2008 "\n        "
            EXPR_STR@2008..2019
              Str@2008..2014 "\"true\""
              Whitespace@2014..2019 "\n    "
            RBrace@2019..2020 "}"
            Whitespace@2020..2021 " "
        ElseKeyword@2021..2025 "else"
        Whitespace@2025..2026 " "
        EXPR_IF_ELSE@2026..2050
          BLOCK@2026..2050
            LBrace@2026..2027 "{"
            Whitespace@2027..2036 "\n        "
            EXPR_STR@2036..2048
              Str@2036..2043 "\"false\""
              Whitespace@2043..2048 "\n    "
            RBrace@2048..2049 "}"
            Whitespace@2049..2050 "\n"
      RBrace@2050..2051 "}"
      Whitespace@2051..2053 "\n\n"
  FN@2053..2155
    FnKeyword@2053..2055 "fn"
    Whitespace@2055..2056 " "
    Ident@2056..2065 "show_both"
    GENERIC_LIST@2065..2085
      LBracket@2065..2066 "["
      GENERIC@2066..2084
        Ident@2066..2067 "T"
        Colon@2067..2068 ":"
        Whitespace@2068..2069 " "
        TRAIT_SET@2069..2084
          TYPE_TAPP@2069..2075
            PATH@2069..2075
              Ident@2069..2074 "Debug"
              Whitespace@2074..2075 " "
          Plus@2075..2076 "+"
          Whitespace@2076..2077 " "
          TYPE_TAPP@2077..2084
            PATH@2077..2084
              Ident@2077..2084 "Display"
      RBracket@2084..2085 "]"
    PARAM_LIST@2085..2092
      LParen@2085..2086 "("
      PARAM@2086..2090
        Ident@2086..2087 "x"
        Colon@2087..2088 ":"
        Whitespace@2088..2089 " "
        TYPE_TAPP@2089..2090
          PATH@2089..2090
            Ident@2089..2090 "T"
      RParen@2090..2091 ")"
      Whitespace@2091..2092 " "
    Arrow@2092..2094 "->"
    Whitespace@2094..2095 " "
    TYPE_STRING@2095..2102
      StringKeyword@2095..2101 "string"
      Whitespace@2101..2102 " "
    BLOCK@2102..2155
      LBrace@2102..2103 "{"
      Whitespace@2103..2108 "\n    "
      EXPR_BINARY@2108..2152
        EXPR_PAREN@2108..2133
          LParen@2108..2109 "("
          EXPR_BINARY@2109..2131
            EXPR_CALL@2109..2124
              EXPR_IDENT@2109..2120
                PATH@2109..2120
                  Ident@2109..2114 "Debug"
                  ColonColon@2114..2116 "::"
                  Ident@2116..2120 "show"
              ARG_LIST@2120..2124
                LParen@2120..2121 "("
                ARG@2121..2122
                  EXPR_IDENT@2121..2122
                    PATH@2121..2122
                      Ident@2121..2122 "x"
                RParen@2122..2123 ")"
                Whitespace@2123..2124 " "
            Plus@2124..2125 "+"
            Whitespace@2125..2126 " "
            EXPR_STR@2126..2131
              Str@2126..2131 "\" / \""
          RParen@2131..2132 ")"
          Whitespace@2132..2133 " "
        Plus@2133..2134 "+"
        Whitespace@2134..2135 " "
        EXPR_CALL@2135..2152
          EXPR_IDENT@2135..2148
            PATH@2135..2148
              Ident@2135..2142 "Display"
              ColonColon@2142..2144 "::"
              Ident@2144..2148 "show"
          ARG_LIST@2148..2152
            LParen@2148..2149 "("
            ARG@2149..2150
              EXPR_IDENT@2149..2150
                PATH@2149..2150
                  Ident@2149..2150 "x"
            RParen@2150..2151 ")"
            Whitespace@2151..2152 "\n"
      RBrace@2152..2153 "}"
      Whitespace@2153..2155 "\n\n"
  FN@2155..2263
    FnKeyword@2155..2157 "fn"
    Whitespace@2157..2158 " "
    Ident@2158..2166 "tag_text"
    GENERIC_LIST@2166..2185
      LBracket@2166..2167 "["
      GENERIC@2167..2184
        Ident@2167..2168 "Q"
        Colon@2168..2169 ":"
        Whitespace@2169..2170 " "
        TRAIT_SET@2170..2184
          TYPE_TAPP@2170..2176
            PATH@2170..2176
              Ident@2170..2175 "Debug"
              Whitespace@2175..2176 " "
          Plus@2176..2177 "+"
          Whitespace@2177..2178 " "
          TYPE_TAPP@2178..2184
            PATH@2178..2184
              Ident@2178..2184 "MyHash"
      RBracket@2184..2185 "]"
    PARAM_LIST@2185..2194
      LParen@2185..2186 "("
      PARAM@2186..2192
        Ident@2186..2189 "tag"
        Colon@2189..2190 ":"
        Whitespace@2190..2191 " "
        TYPE_TAPP@2191..2192
          PATH@2191..2192
            Ident@2191..2192 "Q"
      RParen@2192..2193 ")"
      Whitespace@2193..2194 " "
    Arrow@2194..2196 "->"
    Whitespace@2196..2197 " "
    TYPE_STRING@2197..2204
      StringKeyword@2197..2203 "string"
      Whitespace@2203..2204 " "
    BLOCK@2204..2263
      LBrace@2204..2205 "{"
      Whitespace@2205..2210 "\n    "
      EXPR_BINARY@2210..2260
        EXPR_PAREN@2210..2235
          LParen@2210..2211 "("
          EXPR_BINARY@2211..2233
            EXPR_CALL@2211..2228
              EXPR_IDENT@2211..2222
                PATH@2211..2222
                  Ident@2211..2216 "Debug"
                  ColonColon@2216..2218 "::"
                  Ident@2218..2222 "show"
              ARG_LIST@2222..2228
                LParen@2222..2223 "("
                ARG@2223..2226
                  EXPR_IDENT@2223..2226
                    PATH@2223..2226
                      Ident@2223..2226 "tag"
                RParen@2226..2227 ")"
                Whitespace@2227..2228 " "
            Plus@2228..2229 "+"
            Whitespace@2229..2230 " "
            EXPR_STR@2230..2233
              Str@2230..2233 "\"#\""
          RParen@2233..2234 ")"
          Whitespace@2234..2235 " "
        Plus@2235..2236 "+"
        Whitespace@2236..2237 " "
        EXPR_CALL@2237..2260
          EXPR_BINARY@2237..2257
            EXPR_CALL@2237..2247
              EXPR_BINARY@2237..2245
                EXPR_IDENT@2237..2240
                  PATH@2237..2240
                    Ident@2237..2240 "tag"
                Dot@2240..2241 "."
                EXPR_IDENT@2241..2245
                  PATH@2241..2245
                    Ident@2241..2245 "hash"
              ARG_LIST@2245..2247
                LParen@2245..2246 "("
                RParen@2246..2247 ")"
            Dot@2247..2248 "."
            EXPR_IDENT@2248..2257
              PATH@2248..2257
                Ident@2248..2257 "to_string"
          ARG_LIST@2257..2260
            LParen@2257..2258 "("
            RParen@2258..2259 ")"
            Whitespace@2259..2260 "\n"
      RBrace@2260..2261 "}"
      Whitespace@2261..2263 "\n\n"
  FN@2263..2359
    FnKeyword@2263..2265 "fn"
    Whitespace@2265..2266 " "
    Ident@2266..2280 "combine_scaled"
    GENERIC_LIST@2280..2296
      LBracket@2280..2281 "["
      GENERIC@2281..2295
        Ident@2281..2282 "T"
        Colon@2282..2283 ":"
        Whitespace@2283..2284 " "
        TRAIT_SET@2284..2295
          TYPE_TAPP@2284..2288
            PATH@2284..2288
              Ident@2284..2287 "Add"
              Whitespace@2287..2288 " "
          Plus@2288..2289 "+"
          Whitespace@2289..2290 " "
          TYPE_TAPP@2290..2295
            PATH@2290..2295
              Ident@2290..2295 "Scale"
      RBracket@2295..2296 "]"
    PARAM_LIST@2296..2322
      LParen@2296..2297 "("
      PARAM@2297..2303
        Ident@2297..2298 "a"
        Colon@2298..2299 ":"
        Whitespace@2299..2300 " "
        TYPE_TAPP@2300..2301
          PATH@2300..2301
            Ident@2300..2301 "T"
        Comma@2301..2302 ","
        Whitespace@2302..2303 " "
      PARAM@2303..2309
        Ident@2303..2304 "b"
        Colon@2304..2305 ":"
        Whitespace@2305..2306 " "
        TYPE_TAPP@2306..2307
          PATH@2306..2307
            Ident@2306..2307 "T"
        Comma@2307..2308 ","
        Whitespace@2308..2309 " "
      PARAM@2309..2320
        Ident@2309..2315 "factor"
        Colon@2315..2316 ":"
        Whitespace@2316..2317 " "
        TYPE_INT32@2317..2320
          I32Keyword@2317..2320 "i32"
      RParen@2320..2321 ")"
      Whitespace@2321..2322 " "
    Arrow@2322..2324 "->"
    Whitespace@2324..2325 " "
    TYPE_TAPP@2325..2327
      PATH@2325..2327
        Ident@2325..2326 "T"
        Whitespace@2326..2327 " "
    BLOCK@2327..2359
      LBrace@2327..2328 "{"
      Whitespace@2328..2333 "\n    "
      EXPR_CALL@2333..2356
        EXPR_BINARY@2333..2347
          EXPR_CALL@2333..2341
            EXPR_BINARY@2333..2338
              EXPR_IDENT@2333..2334
                PATH@2333..2334
                  Ident@2333..2334 "a"
              Dot@2334..2335 "."
              EXPR_IDENT@2335..2338
                PATH@2335..2338
                  Ident@2335..2338 "add"
            ARG_LIST@2338..2341
              LParen@2338..2339 "("
              ARG@2339..2340
                EXPR_IDENT@2339..2340
                  PATH@2339..2340
                    Ident@2339..2340 "b"
              RParen@2340..2341 ")"
          Dot@2341..2342 "."
          EXPR_IDENT@2342..2347
            PATH@2342..2347
              Ident@2342..2347 "scale"
        ARG_LIST@2347..2356
          LParen@2347..2348 "("
          ARG@2348..2354
            EXPR_IDENT@2348..2354
              PATH@2348..2354
                Ident@2348..2354 "factor"
          RParen@2354..2355 ")"
          Whitespace@2355..2356 "\n"
      RBrace@2356..2357 "}"
      Whitespace@2357..2359 "\n\n"
  FN@2359..2716
    FnKeyword@2359..2361 "fn"
    Whitespace@2361..2362 " "
    Ident@2362..2373 "report_pair"
    GENERIC_LIST@2373..2428
      LBracket@2373..2374 "["
      GENERIC@2374..2408
        Ident@2374..2375 "T"
        Colon@2375..2376 ":"
        Whitespace@2376..2377 " "
        TRAIT_SET@2377..2408
          TYPE_TAPP@2377..2383
            PATH@2377..2383
              Ident@2377..2382 "Debug"
              Whitespace@2382..2383 " "
          Plus@2383..2384 "+"
          Whitespace@2384..2385 " "
          TYPE_TAPP@2385..2393
            PATH@2385..2393
              Ident@2385..2392 "Display"
              Whitespace@2392..2393 " "
          Plus@2393..2394 "+"
          Whitespace@2394..2395 " "
          TYPE_TAPP@2395..2400
            PATH@2395..2400
              Ident@2395..2399 "MyEq"
              Whitespace@2399..2400 " "
          Plus@2400..2401 "+"
          Whitespace@2401..2402 " "
          TYPE_TAPP@2402..2408
            PATH@2402..2408
              Ident@2402..2408 "MyHash"
      Comma@2408..2409 ","
      Whitespace@2409..2410 " "
      GENERIC@2410..2427
        Ident@2410..2411 "Q"
        Colon@2411..2412 ":"
        Whitespace@2412..2413 " "
        TRAIT_SET@2413..2427
          TYPE_TAPP@2413..2419
            PATH@2413..2419
              Ident@2413..2418 "Debug"
              Whitespace@2418..2419 " "
          Plus@2419..2420 "+"
          Whitespace@2420..2421 " "
          TYPE_TAPP@2421..2427
            PATH@2421..2427
              Ident@2421..2427 "MyHash"
      RBracket@2427..2428 "]"
    PARAM_LIST@2428..2481
      LParen@2428..2429 "("
      Whitespace@2429..2434 "\n    "
      PARAM@2434..2446
        Ident@2434..2437 "tag"
        Colon@2437..2438 ":"
        Whitespace@2438..2439 " "
        TYPE_TAPP@2439..2440
          PATH@2439..2440
            Ident@2439..2440 "Q"
        Comma@2440..2441 ","
        Whitespace@2441..2446 "\n    "
      PARAM@2446..2456
        Ident@2446..2447 "a"
        Colon@2447..2448 ":"
        Whitespace@2448..2449 " "
        TYPE_TAPP@2449..2450
          PATH@2449..2450
            Ident@2449..2450 "T"
        Comma@2450..2451 ","
        Whitespace@2451..2456 "\n    "
      PARAM@2456..2466
        Ident@2456..2457 "b"
        Colon@2457..2458 ":"
        Whitespace@2458..2459 " "
        TYPE_TAPP@2459..2460
          PATH@2459..2460
            Ident@2459..2460 "T"
        Comma@2460..2461 ","
        Whitespace@2461..2466 "\n    "
      PARAM@2466..2479
        Ident@2466..2474 "combined"
        Colon@2474..2475 ":"
        Whitespace@2475..2476 " "
        TYPE_TAPP@2476..2477
          PATH@2476..2477
            Ident@2476..2477 "T"
        Comma@2477..2478 ","
        Whitespace@2478..2479 "\n"
      RParen@2479..2480 ")"
      Whitespace@2480..2481 " "
    Arrow@2481..2483 "->"
    Whitespace@2483..2484 " "
    TYPE_STRING@2484..2491
      StringKeyword@2484..2490 "string"
      Whitespace@2490..2491 " "
    BLOCK@2491..2716
      LBrace@2491..2492 "{"
      Whitespace@2492..2497 "\n    "
      STMT_LET@2497..2528
        LetKeyword@2497..2500 "let"
        Whitespace@2500..2501 " "
        PATTERN_VARIABLE@2501..2506
          Ident@2501..2505 "same"
          Whitespace@2505..2506 " "
        Eq@2506..2507 "="
        Whitespace@2507..2508 " "
        EXPR_CALL@2508..2522
          EXPR_IDENT@2508..2516
            PATH@2508..2516
              Ident@2508..2512 "MyEq"
              ColonColon@2512..2514 "::"
              Ident@2514..2516 "eq"
          ARG_LIST@2516..2522
            LParen@2516..2517 "("
            ARG@2517..2520
              EXPR_IDENT@2517..2518
                PATH@2517..2518
                  Ident@2517..2518 "a"
              Comma@2518..2519 ","
              Whitespace@2519..2520 " "
            ARG@2520..2521
              EXPR_IDENT@2520..2521
                PATH@2520..2521
                  Ident@2520..2521 "b"
            RParen@2521..2522 ")"
        Semi@2522..2523 ";"
        Whitespace@2523..2528 "\n    "
      STMT_LET@2528..2560
        LetKeyword@2528..2531 "let"
        Whitespace@2531..2532 " "
        PATTERN_VARIABLE@2532..2539
          Ident@2532..2538 "header"
          Whitespace@2538..2539 " "
        Eq@2539..2540 "="
        Whitespace@2540..2541 " "
        EXPR_CALL@2541..2554
          EXPR_IDENT@2541..2549
            PATH@2541..2549
              Ident@2541..2549 "tag_text"
          ARG_LIST@2549..2554
            LParen@2549..2550 "("
            ARG@2550..2553
              EXPR_IDENT@2550..2553
                PATH@2550..2553
                  Ident@2550..2553 "tag"
            RParen@2553..2554 ")"
        Semi@2554..2555 ";"
        Whitespace@2555..2560 "\n    "
      STMT_LET@2560..2596
        LetKeyword@2560..2563 "let"
        Whitespace@2563..2564 " "
        PATTERN_VARIABLE@2564..2569
          Ident@2564..2568 "repr"
          Whitespace@2568..2569 " "
        Eq@2569..2570 "="
        Whitespace@2570..2571 " "
        EXPR_CALL@2571..2590
          EXPR_IDENT@2571..2580
            PATH@2571..2580
              Ident@2571..2580 "show_both"
          ARG_LIST@2580..2590
            LParen@2580..2581 "("
            ARG@2581..2589
              EXPR_IDENT@2581..2589
                PATH@2581..2589
                  Ident@2581..2589 "combined"
            RParen@2589..2590 ")"
        Semi@2590..2591 ";"
        Whitespace@2591..2596 "\n    "
      STMT_LET@2596..2625
        LetKeyword@2596..2599 "let"
        Whitespace@2599..2600 " "
        PATTERN_VARIABLE@2600..2602
          Ident@2600..2601 "h"
          Whitespace@2601..2602 " "
        Eq@2602..2603 "="
        Whitespace@2603..2604 " "
        EXPR_CALL@2604..2619
          EXPR_BINARY@2604..2617
            EXPR_IDENT@2604..2612
              PATH@2604..2612
                Ident@2604..2612 "combined"
            Dot@2612..2613 "."
            EXPR_IDENT@2613..2617
              PATH@2613..2617
                Ident@2613..2617 "hash"
          ARG_LIST@2617..2619
            LParen@2617..2618 "("
            RParen@2618..2619 ")"
        Semi@2619..2620 ";"
        Whitespace@2620..2625 "\n    "
      EXPR_BINARY@2625..2713
        EXPR_PAREN@2625..2649
          LParen@2625..2626 "("
          EXPR_BINARY@2626..2647
            EXPR_PAREN@2626..2641
              LParen@2626..2627 "("
              EXPR_BINARY@2627..2639
                EXPR_IDENT@2627..2634
                  PATH@2627..2634
                    Ident@2627..2633 "header"
                    Whitespace@2633..2634 " "
                Plus@2634..2635 "+"
                Whitespace@2635..2636 " "
                EXPR_STR@2636..2639
                  Str@2636..2639 "\" \""
              RParen@2639..2640 ")"
              Whitespace@2640..2641 " "
            Plus@2641..2642 "+"
            Whitespace@2642..2643 " "
            EXPR_IDENT@2643..2647
              PATH@2643..2647
                Ident@2643..2647 "repr"
          RParen@2647..2648 ")"
          Whitespace@2648..2649 " "
        Plus@2649..2650 "+"
        Whitespace@2650..2651 " "
        EXPR_PAREN@2651..2713
          LParen@2651..2652 "("
          EXPR_BINARY@2652..2711
            EXPR_PAREN@2652..2681
              LParen@2652..2653 "("
              EXPR_BINARY@2653..2679
                EXPR_STR@2653..2662
                  Str@2653..2661 "\" | eq=\""
                  Whitespace@2661..2662 " "
                Plus@2662..2663 "+"
                Whitespace@2663..2664 " "
                EXPR_CALL@2664..2679
                  EXPR_IDENT@2664..2673
                    PATH@2664..2673
                      Ident@2664..2673 "bool_text"
                  ARG_LIST@2673..2679
                    LParen@2673..2674 "("
                    ARG@2674..2678
                      EXPR_IDENT@2674..2678
                        PATH@2674..2678
                          Ident@2674..2678 "same"
                    RParen@2678..2679 ")"
              RParen@2679..2680 ")"
              Whitespace@2680..2681 " "
            Plus@2681..2682 "+"
            Whitespace@2682..2683 " "
            EXPR_PAREN@2683..2711
              LParen@2683..2684 "("
              EXPR_BINARY@2684..2710
                EXPR_STR@2684..2695
                  Str@2684..2694 "\" | hash=\""
                  Whitespace@2694..2695 " "
                Plus@2695..2696 "+"
                Whitespace@2696..2697 " "
                EXPR_CALL@2697..2710
                  EXPR_BINARY@2697..2708
                    EXPR_IDENT@2697..2698
                      PATH@2697..2698
                        Ident@2697..2698 "h"
                    Dot@2698..2699 "."
                    EXPR_IDENT@2699..2708
                      PATH@2699..2708
                        Ident@2699..2708 "to_string"
                  ARG_LIST@2708..2710
                    LParen@2708..2709 "("
                    RParen@2709..2710 ")"
              RParen@2710..2711 ")"
          RParen@2711..2712 ")"
          Whitespace@2712..2713 "\n"
      RBrace@2713..2714 "}"
      Whitespace@2714..2716 "\n\n"
  FN@2716..2939
    FnKeyword@2716..2718 "fn"
    Whitespace@2718..2719 " "
    Ident@2719..2730 "full_report"
    GENERIC_LIST@2730..2807
      LBracket@2730..2731 "["
      GENERIC@2731..2787
        Ident@2731..2732 "T"
        Colon@2732..2733 ":"
        Whitespace@2733..2734 " "
        TRAIT_SET@2734..2787
          TYPE_TAPP@2734..2740
            PATH@2734..2740
              Ident@2734..2739 "Debug"
              Whitespace@2739..2740 " "
          Plus@2740..2741 "+"
          Whitespace@2741..2742 " "
          TYPE_TAPP@2742..2749
            PATH@2742..2749
              Ident@2742..2748 "MyHash"
              Whitespace@2748..2749 " "
          Plus@2749..2750 "+"
          Whitespace@2750..2751 " "
          TYPE_TAPP@2751..2759
            PATH@2751..2759
              Ident@2751..2758 "Display"
              Whitespace@2758..2759 " "
          Plus@2759..2760 "+"
          Whitespace@2760..2761 " "
          TYPE_TAPP@2761..2766
            PATH@2761..2766
              Ident@2761..2765 "MyEq"
              Whitespace@2765..2766 " "
          Plus@2766..2767 "+"
          Whitespace@2767..2768 " "
          TYPE_TAPP@2768..2772
            PATH@2768..2772
              Ident@2768..2771 "Add"
              Whitespace@2771..2772 " "
          Plus@2772..2773 "+"
          Whitespace@2773..2774 " "
          TYPE_TAPP@2774..2780
            PATH@2774..2780
              Ident@2774..2779 "Scale"
              Whitespace@2779..2780 " "
          Plus@2780..2781 "+"
          Whitespace@2781..2782 " "
          TYPE_TAPP@2782..2787
            PATH@2782..2787
              Ident@2782..2787 "Debug"
      Comma@2787..2788 ","
      Whitespace@2788..2789 " "
      GENERIC@2789..2806
        Ident@2789..2790 "Q"
        Colon@2790..2791 ":"
        Whitespace@2791..2792 " "
        TRAIT_SET@2792..2806
          TYPE_TAPP@2792..2798
            PATH@2792..2798
              Ident@2792..2797 "Debug"
              Whitespace@2797..2798 " "
          Plus@2798..2799 "+"
          Whitespace@2799..2800 " "
          TYPE_TAPP@2800..2806
            PATH@2800..2806
              Ident@2800..2806 "MyHash"
      RBracket@2806..2807 "]"
    PARAM_LIST@2807..2843
      LParen@2807..2808 "("
      Whitespace@2808..2813 "\n    "
      PARAM@2813..2825
        Ident@2813..2816 "tag"
        Colon@2816..2817 ":"
        Whitespace@2817..2818 " "
        TYPE_TAPP@2818..2819
          PATH@2818..2819
            Ident@2818..2819 "Q"
        Comma@2819..2820 ","
        Whitespace@2820..2825 "\n    "
      PARAM@2825..2835
        Ident@2825..2826 "a"
        Colon@2826..2827 ":"
        Whitespace@2827..2828 " "
        TYPE_TAPP@2828..2829
          PATH@2828..2829
            Ident@2828..2829 "T"
        Comma@2829..2830 ","
        Whitespace@2830..2835 "\n    "
      PARAM@2835..2841
        Ident@2835..2836 "b"
        Colon@2836..2837 ":"
        Whitespace@2837..2838 " "
        TYPE_TAPP@2838..2839
          PATH@2838..2839
            Ident@2838..2839 "T"
        Comma@2839..2840 ","
        Whitespace@2840..2841 "\n"
      RParen@2841..2842 ")"
      Whitespace@2842..2843 " "
    Arrow@2843..2845 "->"
    Whitespace@2845..2846 " "
    TYPE_STRING@2846..2853
      StringKeyword@2846..2852 "string"
      Whitespace@2852..2853 " "
    BLOCK@2853..2939
      LBrace@2853..2854 "{"
      Whitespace@2854..2859 "\n    "
      STMT_LET@2859..2903
        LetKeyword@2859..2862 "let"
        Whitespace@2862..2863 " "
        PATTERN_VARIABLE@2863..2872
          Ident@2863..2871 "combined"
          Whitespace@2871..2872 " "
        Eq@2872..2873 "="
        Whitespace@2873..2874 " "
        EXPR_CALL@2874..2897
          EXPR_IDENT@2874..2888
            PATH@2874..2888
              Ident@2874..2888 "combine_scaled"
          ARG_LIST@2888..2897
            LParen@2888..2889 "("
            ARG@2889..2892
              EXPR_IDENT@2889..2890
                PATH@2889..2890
                  Ident@2889..2890 "a"
              Comma@2890..2891 ","
              Whitespace@2891..2892 " "
            ARG@2892..2895
              EXPR_IDENT@2892..2893
                PATH@2892..2893
                  Ident@2892..2893 "b"
              Comma@2893..2894 ","
              Whitespace@2894..2895 " "
            ARG@2895..2896
              EXPR_INT@2895..2896
                Int@2895..2896 "2"
            RParen@2896..2897 ")"
        Semi@2897..2898 ";"
        Whitespace@2898..2903 "\n    "
      EXPR_CALL@2903..2936
        EXPR_IDENT@2903..2914
          PATH@2903..2914
            Ident@2903..2914 "report_pair"
        ARG_LIST@2914..2936
          LParen@2914..2915 "("
          ARG@2915..2920
            EXPR_IDENT@2915..2918
              PATH@2915..2918
                Ident@2915..2918 "tag"
            Comma@2918..2919 ","
            Whitespace@2919..2920 " "
          ARG@2920..2923
            EXPR_IDENT@2920..2921
              PATH@2920..2921
                Ident@2920..2921 "a"
            Comma@2921..2922 ","
            Whitespace@2922..2923 " "
          ARG@2923..2926
            EXPR_IDENT@2923..2924
              PATH@2923..2924
                Ident@2923..2924 "b"
            Comma@2924..2925 ","
            Whitespace@2925..2926 " "
          ARG@2926..2934
            EXPR_IDENT@2926..2934
              PATH@2926..2934
                Ident@2926..2934 "combined"
          RParen@2934..2935 ")"
          Whitespace@2935..2936 "\n"
      RBrace@2936..2937 "}"
      Whitespace@2937..2939 "\n\n"
  FN@2939..3196
    FnKeyword@2939..2941 "fn"
    Whitespace@2941..2942 " "
    Ident@2942..2953 "sum_and_tag"
    GENERIC_LIST@2953..2999
      LBracket@2953..2954 "["
      GENERIC@2954..2979
        Ident@2954..2955 "T"
        Colon@2955..2956 ":"
        Whitespace@2956..2957 " "
        TRAIT_SET@2957..2979
          TYPE_TAPP@2957..2961
            PATH@2957..2961
              Ident@2957..2960 "Add"
              Whitespace@2960..2961 " "
          Plus@2961..2962 "+"
          Whitespace@2962..2963 " "
          TYPE_TAPP@2963..2970
            PATH@2963..2970
              Ident@2963..2969 "MyHash"
              Whitespace@2969..2970 " "
          Plus@2970..2971 "+"
          Whitespace@2971..2972 " "
          TYPE_TAPP@2972..2979
            PATH@2972..2979
              Ident@2972..2979 "Inspect"
      Comma@2979..2980 ","
      Whitespace@2980..2981 " "
      GENERIC@2981..2998
        Ident@2981..2982 "Q"
        Colon@2982..2983 ":"
        Whitespace@2983..2984 " "
        TRAIT_SET@2984..2998
          TYPE_TAPP@2984..2990
            PATH@2984..2990
              Ident@2984..2989 "Debug"
              Whitespace@2989..2990 " "
          Plus@2990..2991 "+"
          Whitespace@2991..2992 " "
          TYPE_TAPP@2992..2998
            PATH@2992..2998
              Ident@2992..2998 "MyHash"
      RBracket@2998..2999 "]"
    PARAM_LIST@2999..3026
      LParen@2999..3000 "("
      PARAM@3000..3008
        Ident@3000..3003 "tag"
        Colon@3003..3004 ":"
        Whitespace@3004..3005 " "
        TYPE_TAPP@3005..3006
          PATH@3005..3006
            Ident@3005..3006 "Q"
        Comma@3006..3007 ","
        Whitespace@3007..3008 " "
      PARAM@3008..3014
        Ident@3008..3009 "x"
        Colon@3009..3010 ":"
        Whitespace@3010..3011 " "
        TYPE_TAPP@3011..3012
          PATH@3011..3012
            Ident@3011..3012 "T"
        Comma@3012..3013 ","
        Whitespace@3013..3014 " "
      PARAM@3014..3020
        Ident@3014..3015 "y"
        Colon@3015..3016 ":"
        Whitespace@3016..3017 " "
        TYPE_TAPP@3017..3018
          PATH@3017..3018
            Ident@3017..3018 "T"
        Comma@3018..3019 ","
        Whitespace@3019..3020 " "
      PARAM@3020..3024
        Ident@3020..3021 "z"
        Colon@3021..3022 ":"
        Whitespace@3022..3023 " "
        TYPE_TAPP@3023..3024
          PATH@3023..3024
            Ident@3023..3024 "T"
      RParen@3024..3025 ")"
      Whitespace@3025..3026 " "
    Arrow@3026..3028 "->"
    Whitespace@3028..3029 " "
    TYPE_STRING@3029..3036
      StringKeyword@3029..3035 "string"
      Whitespace@3035..3036 " "
    BLOCK@3036..3196
      LBrace@3036..3037 "{"
      Whitespace@3037..3042 "\n    "
      STMT_LET@3042..3075
        LetKeyword@3042..3045 "let"
        Whitespace@3045..3046 " "
        PATTERN_VARIABLE@3046..3052
          Ident@3046..3051 "total"
          Whitespace@3051..3052 " "
        Eq@3052..3053 "="
        Whitespace@3053..3054 " "
        EXPR_CALL@3054..3069
          EXPR_BINARY@3054..3066
            EXPR_CALL@3054..3062
              EXPR_BINARY@3054..3059
                EXPR_IDENT@3054..3055
                  PATH@3054..3055
                    Ident@3054..3055 "x"
                Dot@3055..3056 "."
                EXPR_IDENT@3056..3059
                  PATH@3056..3059
                    Ident@3056..3059 "add"
              ARG_LIST@3059..3062
                LParen@3059..3060 "("
                ARG@3060..3061
                  EXPR_IDENT@3060..3061
                    PATH@3060..3061
                      Ident@3060..3061 "y"
                RParen@3061..3062 ")"
            Dot@3062..3063 "."
            EXPR_IDENT@3063..3066
              PATH@3063..3066
                Ident@3063..3066 "add"
          ARG_LIST@3066..3069
            LParen@3066..3067 "("
            ARG@3067..3068
              EXPR_IDENT@3067..3068
                PATH@3067..3068
                  Ident@3067..3068 "z"
            RParen@3068..3069 ")"
        Semi@3069..3070 ";"
        Whitespace@3070..3075 "\n    "
      STMT_LET@3075..3107
        LetKeyword@3075..3078 "let"
        Whitespace@3078..3079 " "
        PATTERN_VARIABLE@3079..3086
          Ident@3079..3085 "header"
          Whitespace@3085..3086 " "
        Eq@3086..3087 "="
        Whitespace@3087..3088 " "
        EXPR_CALL@3088..3101
          EXPR_IDENT@3088..3096
            PATH@3088..3096
              Ident@3088..3096 "tag_text"
          ARG_LIST@3096..3101
            LParen@3096..3097 "("
            ARG@3097..3100
              EXPR_IDENT@3097..3100
                PATH@3097..3100
                  Ident@3097..3100 "tag"
            RParen@3100..3101 ")"
        Semi@3101..3102 ";"
        Whitespace@3102..3107 "\n    "
      STMT_LET@3107..3133
        LetKeyword@3107..3110 "let"
        Whitespace@3110..3111 " "
        PATTERN_VARIABLE@3111..3113
          Ident@3111..3112 "h"
          Whitespace@3112..3113 " "
        Eq@3113..3114 "="
        Whitespace@3114..3115 " "
        EXPR_CALL@3115..3127
          EXPR_BINARY@3115..3125
            EXPR_IDENT@3115..3120
              PATH@3115..3120
                Ident@3115..3120 "total"
            Dot@3120..3121 "."
            EXPR_IDENT@3121..3125
              PATH@3121..3125
                Ident@3121..3125 "hash"
          ARG_LIST@3125..3127
            LParen@3125..3126 "("
            RParen@3126..3127 ")"
        Semi@3127..3128 ";"
        Whitespace@3128..3133 "\n    "
      EXPR_BINARY@3133..3193
        EXPR_PAREN@3133..3168
          LParen@3133..3134 "("
          EXPR_BINARY@3134..3166
            EXPR_PAREN@3134..3149
              LParen@3134..3135 "("
              EXPR_BINARY@3135..3147
                EXPR_IDENT@3135..3142
                  PATH@3135..3142
                    Ident@3135..3141 "header"
                    Whitespace@3141..3142 " "
                Plus@3142..3143 "+"
                Whitespace@3143..3144 " "
                EXPR_STR@3144..3147
                  Str@3144..3147 "\" \""
              RParen@3147..3148 ")"
              Whitespace@3148..3149 " "
            Plus@3149..3150 "+"
            Whitespace@3150..3151 " "
            EXPR_CALL@3151..3166
              EXPR_BINARY@3151..3164
                EXPR_IDENT@3151..3156
                  PATH@3151..3156
                    Ident@3151..3156 "total"
                Dot@3156..3157 "."
                EXPR_IDENT@3157..3164
                  PATH@3157..3164
                    Ident@3157..3164 "inspect"
              ARG_LIST@3164..3166
                LParen@3164..3165 "("
                RParen@3165..3166 ")"
          RParen@3166..3167 ")"
          Whitespace@3167..3168 " "
        Plus@3168..3169 "+"
        Whitespace@3169..3170 " "
        EXPR_PAREN@3170..3193
          LParen@3170..3171 "("
          EXPR_BINARY@3171..3191
            EXPR_STR@3171..3176
              Str@3171..3175 "\" @\""
              Whitespace@3175..3176 " "
            Plus@3176..3177 "+"
            Whitespace@3177..3178 " "
            EXPR_CALL@3178..3191
              EXPR_BINARY@3178..3189
                EXPR_IDENT@3178..3179
                  PATH@3178..3179
                    Ident@3178..3179 "h"
                Dot@3179..3180 "."
                EXPR_IDENT@3180..3189
                  PATH@3180..3189
                    Ident@3180..3189 "to_string"
              ARG_LIST@3189..3191
                LParen@3189..3190 "("
                RParen@3190..3191 ")"
          RParen@3191..3192 ")"
          Whitespace@3192..3193 "\n"
      RBrace@3193..3194 "}"
      Whitespace@3194..3196 "\n\n"
  FN@3196..3721
    FnKeyword@3196..3198 "fn"
    Whitespace@3198..3199 " "
    Ident@3199..3203 "main"
    PARAM_LIST@3203..3206
      LParen@3203..3204 "("
      RParen@3204..3205 ")"
      Whitespace@3205..3206 " "
    BLOCK@3206..3721
      LBrace@3206..3207 "{"
      Whitespace@3207..3212 "\n    "
      STMT_LET@3212..3234
        LetKeyword@3212..3215 "let"
        Whitespace@3215..3216 " "
        PATTERN_VARIABLE@3216..3219
          Ident@3216..3219 "tag"
        Colon@3219..3220 ":"
        Whitespace@3220..3221 " "
        TYPE_INT32@3221..3225
          I32Keyword@3221..3224 "i32"
          Whitespace@3224..3225 " "
        Eq@3225..3226 "="
        Whitespace@3226..3227 " "
        EXPR_INT@3227..3228
          Int@3227..3228 "7"
        Semi@3228..3229 ";"
        Whitespace@3229..3234 "\n    "
      STMT_LET@3234..3258
        LetKeyword@3234..3237 "let"
        Whitespace@3237..3238 " "
        PATTERN_VARIABLE@3238..3242
          Ident@3238..3242 "left"
        Colon@3242..3243 ":"
        Whitespace@3243..3244 " "
        TYPE_INT32@3244..3248
          I32Keyword@3244..3247 "i32"
          Whitespace@3247..3248 " "
        Eq@3248..3249 "="
        Whitespace@3249..3250 " "
        EXPR_INT@3250..3252
          Int@3250..3252 "10"
        Semi@3252..3253 ";"
        Whitespace@3253..3258 "\n    "
      STMT_LET@3258..3283
        LetKeyword@3258..3261 "let"
        Whitespace@3261..3262 " "
        PATTERN_VARIABLE@3262..3267
          Ident@3262..3267 "right"
        Colon@3267..3268 ":"
        Whitespace@3268..3269 " "
        TYPE_INT32@3269..3273
          I32Keyword@3269..3272 "i32"
          Whitespace@3272..3273 " "
        Eq@3273..3274 "="
        Whitespace@3274..3275 " "
        EXPR_INT@3275..3277
          Int@3275..3277 "32"
        Semi@3277..3278 ";"
        Whitespace@3278..3283 "\n    "
      STMT_LET@3283..3309
        LetKeyword@3283..3286 "let"
        Whitespace@3286..3287 " "
        PATTERN_VARIABLE@3287..3294
          Ident@3287..3294 "sum_tag"
        Colon@3294..3295 ":"
        Whitespace@3295..3296 " "
        TYPE_INT32@3296..3300
          I32Keyword@3296..3299 "i32"
          Whitespace@3299..3300 " "
        Eq@3300..3301 "="
        Whitespace@3301..3302 " "
        EXPR_INT@3302..3303
          Int@3302..3303 "0"
        Semi@3303..3304 ";"
        Whitespace@3304..3309 "\n    "
      STMT_LET@3309..3333
        LetKeyword@3309..3312 "let"
        Whitespace@3312..3313 " "
        PATTERN_VARIABLE@3313..3318
          Ident@3313..3318 "first"
        Colon@3318..3319 ":"
        Whitespace@3319..3320 " "
        TYPE_INT32@3320..3324
          I32Keyword@3320..3323 "i32"
          Whitespace@3323..3324 " "
        Eq@3324..3325 "="
        Whitespace@3325..3326 " "
        EXPR_INT@3326..3327
          Int@3326..3327 "1"
        Semi@3327..3328 ";"
        Whitespace@3328..3333 "\n    "
      STMT_LET@3333..3358
        LetKeyword@3333..3336 "let"
        Whitespace@3336..3337 " "
        PATTERN_VARIABLE@3337..3343
          Ident@3337..3343 "second"
        Colon@3343..3344 ":"
        Whitespace@3344..3345 " "
        TYPE_INT32@3345..3349
          I32Keyword@3345..3348 "i32"
          Whitespace@3348..3349 " "
        Eq@3349..3350 "="
        Whitespace@3350..3351 " "
        EXPR_INT@3351..3352
          Int@3351..3352 "2"
        Semi@3352..3353 ";"
        Whitespace@3353..3358 "\n    "
      STMT_LET@3358..3382
        LetKeyword@3358..3361 "let"
        Whitespace@3361..3362 " "
        PATTERN_VARIABLE@3362..3367
          Ident@3362..3367 "third"
        Colon@3367..3368 ":"
        Whitespace@3368..3369 " "
        TYPE_INT32@3369..3373
          I32Keyword@3369..3372 "i32"
          Whitespace@3372..3373 " "
        Eq@3373..3374 "="
        Whitespace@3374..3375 " "
        EXPR_INT@3375..3376
          Int@3375..3376 "3"
        Semi@3376..3377 ";"
        Whitespace@3377..3382 "\n    "
      STMT_LET@3382..3434
        LetKeyword@3382..3385 "let"
        Whitespace@3385..3386 " "
        PATTERN_WILDCARD@3386..3388
          WildcardKeyword@3386..3387 "_"
          Whitespace@3387..3388 " "
        Eq@3388..3389 "="
        Whitespace@3389..3390 " "
        EXPR_CALL@3390..3428
          EXPR_IDENT@3390..3397
            PATH@3390..3397
              Ident@3390..3397 "println"
          ARG_LIST@3397..3428
            LParen@3397..3398 "("
            ARG@3398..3427
              EXPR_CALL@3398..3427
                EXPR_IDENT@3398..3409
                  PATH@3398..3409
                    Ident@3398..3409 "full_report"
                ARG_LIST@3409..3427
                  LParen@3409..3410 "("
                  ARG@3410..3415
                    EXPR_IDENT@3410..3413
                      PATH@3410..3413
                        Ident@3410..3413 "tag"
                    Comma@3413..3414 ","
                    Whitespace@3414..3415 " "
                  ARG@3415..3421
                    EXPR_IDENT@3415..3419
                      PATH@3415..3419
                        Ident@3415..3419 "left"
                    Comma@3419..3420 ","
                    Whitespace@3420..3421 " "
                  ARG@3421..3426
                    EXPR_IDENT@3421..3426
                      PATH@3421..3426
                        Ident@3421..3426 "right"
                  RParen@3426..3427 ")"
            RParen@3427..3428 ")"
        Semi@3428..3429 ";"
        Whitespace@3429..3434 "\n    "
      STMT_LET@3434..3529
        LetKeyword@3434..3437 "let"
        Whitespace@3437..3438 " "
        PATTERN_WILDCARD@3438..3440
          WildcardKeyword@3438..3439 "_"
          Whitespace@3439..3440 " "
        Eq@3440..3441 "="
        Whitespace@3441..3442 " "
        EXPR_CALL@3442..3523
          EXPR_IDENT@3442..3449
            PATH@3442..3449
              Ident@3442..3449 "println"
          ARG_LIST@3449..3523
            LParen@3449..3450 "("
            ARG@3450..3522
              EXPR_CALL@3450..3522
                EXPR_IDENT@3450..3461
                  PATH@3450..3461
                    Ident@3450..3461 "full_report"
                ARG_LIST@3461..3522
                  LParen@3461..3462 "("
                  ARG@3462..3483
                    EXPR_STRUCT_LITERAL@3462..3481
                      PATH@3462..3468
                        Ident@3462..3467 "Boxed"
                        Whitespace@3467..3468 " "
                      STRUCT_LITERAL_FIELD_LIST@3468..3481
                        LBrace@3468..3469 "{"
                        Whitespace@3469..3470 " "
                        STRUCT_LITERAL_FIELD@3470..3480
                          Ident@3470..3475 "value"
                          Colon@3475..3476 ":"
                          Whitespace@3476..3477 " "
                          EXPR_INT@3477..3480
                            Int@3477..3479 "99"
                            Whitespace@3479..3480 " "
                        RBrace@3480..3481 "}"
                    Comma@3481..3482 ","
                    Whitespace@3482..3483 " "
                  ARG@3483..3503
                    EXPR_STRUCT_LITERAL@3483..3501
                      PATH@3483..3489
                        Ident@3483..3488 "Boxed"
                        Whitespace@3488..3489 " "
                      STRUCT_LITERAL_FIELD_LIST@3489..3501
                        LBrace@3489..3490 "{"
                        Whitespace@3490..3491 " "
                        STRUCT_LITERAL_FIELD@3491..3500
                          Ident@3491..3496 "value"
                          Colon@3496..3497 ":"
                          Whitespace@3497..3498 " "
                          EXPR_INT@3498..3500
                            Int@3498..3499 "3"
                            Whitespace@3499..3500 " "
                        RBrace@3500..3501 "}"
                    Comma@3501..3502 ","
                    Whitespace@3502..3503 " "
                  ARG@3503..3521
                    EXPR_STRUCT_LITERAL@3503..3521
                      PATH@3503..3509
                        Ident@3503..3508 "Boxed"
                        Whitespace@3508..3509 " "
                      STRUCT_LITERAL_FIELD_LIST@3509..3521
                        LBrace@3509..3510 "{"
                        Whitespace@3510..3511 " "
                        STRUCT_LITERAL_FIELD@3511..3520
                          Ident@3511..3516 "value"
                          Colon@3516..3517 ":"
                          Whitespace@3517..3518 " "
                          EXPR_INT@3518..3520
                            Int@3518..3519 "4"
                            Whitespace@3519..3520 " "
                        RBrace@3520..3521 "}"
                  RParen@3521..3522 ")"
            RParen@3522..3523 ")"
        Semi@3523..3524 ";"
        Whitespace@3524..3529 "\n    "
      STMT_LET@3529..3594
        LetKeyword@3529..3532 "let"
        Whitespace@3532..3533 " "
        PATTERN_WILDCARD@3533..3535
          WildcardKeyword@3533..3534 "_"
          Whitespace@3534..3535 " "
        Eq@3535..3536 "="
        Whitespace@3536..3537 " "
        EXPR_CALL@3537..3588
          EXPR_IDENT@3537..3544
            PATH@3537..3544
              Ident@3537..3544 "println"
          ARG_LIST@3544..3588
            LParen@3544..3545 "("
            ARG@3545..3587
              EXPR_CALL@3545..3587
                EXPR_IDENT@3545..3556
                  PATH@3545..3556
                    Ident@3545..3556 "sum_and_tag"
                ARG_LIST@3556..3587
                  LParen@3556..3557 "("
                  ARG@3557..3566
                    EXPR_IDENT@3557..3564
                      PATH@3557..3564
                        Ident@3557..3564 "sum_tag"
                    Comma@3564..3565 ","
                    Whitespace@3565..3566 " "
                  ARG@3566..3573
                    EXPR_IDENT@3566..3571
                      PATH@3566..3571
                        Ident@3566..3571 "first"
                    Comma@3571..3572 ","
                    Whitespace@3572..3573 " "
                  ARG@3573..3581
                    EXPR_IDENT@3573..3579
                      PATH@3573..3579
                        Ident@3573..3579 "second"
                    Comma@3579..3580 ","
                    Whitespace@3580..3581 " "
                  ARG@3581..3586
                    EXPR_IDENT@3581..3586
                      PATH@3581..3586
                        Ident@3581..3586 "third"
                  RParen@3586..3587 ")"
            RParen@3587..3588 ")"
        Semi@3588..3589 ";"
        Whitespace@3589..3594 "\n    "
      STMT_LET@3594..3719
        LetKeyword@3594..3597 "let"
        Whitespace@3597..3598 " "
        PATTERN_WILDCARD@3598..3600
          WildcardKeyword@3598..3599 "_"
          Whitespace@3599..3600 " "
        Eq@3600..3601 "="
        Whitespace@3601..3602 " "
        EXPR_CALL@3602..3717
          EXPR_IDENT@3602..3609
            PATH@3602..3609
              Ident@3602..3609 "println"
          ARG_LIST@3609..3717
            LParen@3609..3610 "("
            Whitespace@3610..3619 "\n        "
            ARG@3619..3716
              EXPR_CALL@3619..3710
                EXPR_IDENT@3619..3630
                  PATH@3619..3630
                    Ident@3619..3630 "sum_and_tag"
                ARG_LIST@3630..3710
                  LParen@3630..3631 "("
                  ARG@3631..3651
                    EXPR_STRUCT_LITERAL@3631..3649
                      PATH@3631..3637
                        Ident@3631..3636 "Boxed"
                        Whitespace@3636..3637 " "
                      STRUCT_LITERAL_FIELD_LIST@3637..3649
                        LBrace@3637..3638 "{"
                        Whitespace@3638..3639 " "
                        STRUCT_LITERAL_FIELD@3639..3648
                          Ident@3639..3644 "value"
                          Colon@3644..3645 ":"
                          Whitespace@3645..3646 " "
                          EXPR_INT@3646..3648
                            Int@3646..3647 "1"
                            Whitespace@3647..3648 " "
                        RBrace@3648..3649 "}"
                    Comma@3649..3650 ","
                    Whitespace@3650..3651 " "
                  ARG@3651..3671
                    EXPR_STRUCT_LITERAL@3651..3669
                      PATH@3651..3657
                        Ident@3651..3656 "Boxed"
                        Whitespace@3656..3657 " "
                      STRUCT_LITERAL_FIELD_LIST@3657..3669
                        LBrace@3657..3658 "{"
                        Whitespace@3658..3659 " "
                        STRUCT_LITERAL_FIELD@3659..3668
                          Ident@3659..3664 "value"
                          Colon@3664..3665 ":"
                          Whitespace@3665..3666 " "
                          EXPR_INT@3666..3668
                            Int@3666..3667 "5"
                            Whitespace@3667..3668 " "
                        RBrace@3668..3669 "}"
                    Comma@3669..3670 ","
                    Whitespace@3670..3671 " "
                  ARG@3671..3691
                    EXPR_STRUCT_LITERAL@3671..3689
                      PATH@3671..3677
                        Ident@3671..3676 "Boxed"
                        Whitespace@3676..3677 " "
                      STRUCT_LITERAL_FIELD_LIST@3677..3689
                        LBrace@3677..3678 "{"
                        Whitespace@3678..3679 " "
                        STRUCT_LITERAL_FIELD@3679..3688
                          Ident@3679..3684 "value"
                          Colon@3684..3685 ":"
                          Whitespace@3685..3686 " "
                          EXPR_INT@3686..3688
                            Int@3686..3687 "6"
                            Whitespace@3687..3688 " "
                        RBrace@3688..3689 "}"
                    Comma@3689..3690 ","
                    Whitespace@3690..3691 " "
                  ARG@3691..3709
                    EXPR_STRUCT_LITERAL@3691..3709
                      PATH@3691..3697
                        Ident@3691..3696 "Boxed"
                        Whitespace@3696..3697 " "
                      STRUCT_LITERAL_FIELD_LIST@3697..3709
                        LBrace@3697..3698 "{"
                        Whitespace@3698..3699 " "
                        STRUCT_LITERAL_FIELD@3699..3708
                          Ident@3699..3704 "value"
                          Colon@3704..3705 ":"
                          Whitespace@3705..3706 " "
                          EXPR_INT@3706..3708
                            Int@3706..3707 "7"
                            Whitespace@3707..3708 " "
                        RBrace@3708..3709 "}"
                  RParen@3709..3710 ")"
              Comma@3710..3711 ","
              Whitespace@3711..3716 "\n    "
            RParen@3716..3717 ")"
        Semi@3717..3718 ";"
        Whitespace@3718..3719 "\n"
      RBrace@3719..3720 "}"
      Whitespace@3720..3721 "\n"