FILE@0..3787
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..51
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
        Semi@49..50 ";"
        Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  TRAIT@54..106
    TraitKeyword@54..59 "trait"
    Whitespace@59..60 " "
    Ident@60..65 "Debug"
    Whitespace@65..66 " "
    LBrace@66..67 "{"
    Whitespace@67..72 "\n    "
    TRAIT_METHOD_SIG_LIST@72..106
      TRAIT_METHOD_SIG@72..103
        FnKeyword@72..74 "fn"
        Whitespace@74..75 " "
        Ident@75..79 "show"
        PARAM_LIST@79..92
          LParen@79..80 "("
          PARAM@80..90
            Ident@80..84 "self"
            Colon@84..85 ":"
            Whitespace@85..86 " "
            TYPE_TAPP@86..90
              PATH@86..90
                Ident@86..90 "Self"
          RParen@90..91 ")"
          Whitespace@91..92 " "
        Arrow@92..94 "->"
        Whitespace@94..95 " "
        TYPE_STRING@95..101
          StringKeyword@95..101 "string"
        Semi@101..102 ";"
        Whitespace@102..103 "\n"
      RBrace@103..104 "}"
      Whitespace@104..106 "\n\n"
  TRAIT@106..165
    TraitKeyword@106..111 "trait"
    Whitespace@111..112 " "
    Ident@112..116 "MyEq"
    Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    TRAIT_METHOD_SIG_LIST@123..165
      TRAIT_METHOD_SIG@123..162
        FnKeyword@123..125 "fn"
        Whitespace@125..126 " "
        Ident@126..128 "eq"
        PARAM_LIST@128..153
          LParen@128..129 "("
          PARAM@129..141
            Ident@129..133 "self"
            Colon@133..134 ":"
            Whitespace@134..135 " "
            TYPE_TAPP@135..139
              PATH@135..139
                Ident@135..139 "Self"
            Comma@139..140 ","
            Whitespace@140..141 " "
          PARAM@141..151
            Ident@141..145 "arg1"
            Colon@145..146 ":"
            Whitespace@146..147 " "
            TYPE_TAPP@147..151
              PATH@147..151
                Ident@147..151 "Self"
          RParen@151..152 ")"
          Whitespace@152..153 " "
        Arrow@153..155 "->"
        Whitespace@155..156 " "
        TYPE_BOOL@156..160
          BoolKeyword@156..160 "bool"
        Semi@160..161 ";"
        Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..165 "\n\n"
  TRAIT@165..217
    TraitKeyword@165..170 "trait"
    Whitespace@170..171 " "
    Ident@171..177 "MyHash"
    Whitespace@177..178 " "
    LBrace@178..179 "{"
    Whitespace@179..184 "\n    "
    TRAIT_METHOD_SIG_LIST@184..217
      TRAIT_METHOD_SIG@184..214
        FnKeyword@184..186 "fn"
        Whitespace@186..187 " "
        Ident@187..191 "hash"
        PARAM_LIST@191..204
          LParen@191..192 "("
          PARAM@192..202
            Ident@192..196 "self"
            Colon@196..197 ":"
            Whitespace@197..198 " "
            TYPE_TAPP@198..202
              PATH@198..202
                Ident@198..202 "Self"
          RParen@202..203 ")"
          Whitespace@203..204 " "
        Arrow@204..206 "->"
        Whitespace@206..207 " "
        TYPE_INT32@207..212
          Int32Keyword@207..212 "int32"
        Semi@212..213 ";"
        Whitespace@213..214 "\n"
      RBrace@214..215 "}"
      Whitespace@215..217 "\n\n"
  TRAIT@217..276
    TraitKeyword@217..222 "trait"
    Whitespace@222..223 " "
    Ident@223..226 "Add"
    Whitespace@226..227 " "
    LBrace@227..228 "{"
    Whitespace@228..233 "\n    "
    TRAIT_METHOD_SIG_LIST@233..276
      TRAIT_METHOD_SIG@233..273
        FnKeyword@233..235 "fn"
        Whitespace@235..236 " "
        Ident@236..239 "add"
        PARAM_LIST@239..264
          LParen@239..240 "("
          PARAM@240..252
            Ident@240..244 "self"
            Colon@244..245 ":"
            Whitespace@245..246 " "
            TYPE_TAPP@246..250
              PATH@246..250
                Ident@246..250 "Self"
            Comma@250..251 ","
            Whitespace@251..252 " "
          PARAM@252..262
            Ident@252..256 "arg1"
            Colon@256..257 ":"
            Whitespace@257..258 " "
            TYPE_TAPP@258..262
              PATH@258..262
                Ident@258..262 "Self"
          RParen@262..263 ")"
          Whitespace@263..264 " "
        Arrow@264..266 "->"
        Whitespace@266..267 " "
        TYPE_TAPP@267..271
          PATH@267..271
            Ident@267..271 "Self"
        Semi@271..272 ";"
        Whitespace@272..273 "\n"
      RBrace@273..274 "}"
      Whitespace@274..276 "\n\n"
  TRAIT@276..340
    TraitKeyword@276..281 "trait"
    Whitespace@281..282 " "
    Ident@282..287 "Scale"
    Whitespace@287..288 " "
    LBrace@288..289 "{"
    Whitespace@289..294 "\n    "
    TRAIT_METHOD_SIG_LIST@294..340
      TRAIT_METHOD_SIG@294..337
        FnKeyword@294..296 "fn"
        Whitespace@296..297 " "
        Ident@297..302 "scale"
        PARAM_LIST@302..328
          LParen@302..303 "("
          PARAM@303..315
            Ident@303..307 "self"
            Colon@307..308 ":"
            Whitespace@308..309 " "
            TYPE_TAPP@309..313
              PATH@309..313
                Ident@309..313 "Self"
            Comma@313..314 ","
            Whitespace@314..315 " "
          PARAM@315..326
            Ident@315..319 "arg1"
            Colon@319..320 ":"
            Whitespace@320..321 " "
            TYPE_INT32@321..326
              Int32Keyword@321..326 "int32"
          RParen@326..327 ")"
          Whitespace@327..328 " "
        Arrow@328..330 "->"
        Whitespace@330..331 " "
        TYPE_TAPP@331..335
          PATH@331..335
            Ident@331..335 "Self"
        Semi@335..336 ";"
        Whitespace@336..337 "\n"
      RBrace@337..338 "}"
      Whitespace@338..340 "\n\n"
  TRAIT@340..397
    TraitKeyword@340..345 "trait"
    Whitespace@345..346 " "
    Ident@346..353 "Inspect"
    Whitespace@353..354 " "
    LBrace@354..355 "{"
    Whitespace@355..360 "\n    "
    TRAIT_METHOD_SIG_LIST@360..397
      TRAIT_METHOD_SIG@360..394
        FnKeyword@360..362 "fn"
        Whitespace@362..363 " "
        Ident@363..370 "inspect"
        PARAM_LIST@370..383
          LParen@370..371 "("
          PARAM@371..381
            Ident@371..375 "self"
            Colon@375..376 ":"
            Whitespace@376..377 " "
            TYPE_TAPP@377..381
              PATH@377..381
                Ident@377..381 "Self"
          RParen@381..382 ")"
          Whitespace@382..383 " "
        Arrow@383..385 "->"
        Whitespace@385..386 " "
        TYPE_STRING@386..392
          StringKeyword@386..392 "string"
        Semi@392..393 ";"
        Whitespace@393..394 "\n"
      RBrace@394..395 "}"
      Whitespace@395..397 "\n\n"
  STRUCT@397..433
    StructKeyword@397..403 "struct"
    Whitespace@403..404 " "
    Ident@404..409 "Boxed"
    Whitespace@409..410 " "
    LBrace@410..411 "{"
    Whitespace@411..416 "\n    "
    STRUCT_FIELD_LIST@416..433
      STRUCT_FIELD@416..428
        Ident@416..421 "value"
        Colon@421..422 ":"
        Whitespace@422..423 " "
        TYPE_INT32@423..428
          Int32Keyword@423..428 "int32"
      Comma@428..429 ","
      Whitespace@429..430 "\n"
      RBrace@430..431 "}"
      Whitespace@431..433 "\n\n"
  IMPL@433..529
    ImplKeyword@433..437 "impl"
    Whitespace@437..438 " "
    TYPE_TAPP@438..446
      PATH@438..446
        Ident@438..445 "Display"
        Whitespace@445..446 " "
    ForKeyword@446..449 "for"
    Whitespace@449..450 " "
    TYPE_INT32@450..456
      Int32Keyword@450..455 "int32"
      Whitespace@455..456 " "
    LBrace@456..457 "{"
    Whitespace@457..462 "\n    "
    FN@462..526
      FnKeyword@462..464 "fn"
      Whitespace@464..465 " "
      Ident@465..469 "show"
      PARAM_LIST@469..483
        LParen@469..470 "("
        PARAM@470..481
          Ident@470..474 "self"
          Colon@474..475 ":"
          Whitespace@475..476 " "
          TYPE_INT32@476..481
            Int32Keyword@476..481 "int32"
        RParen@481..482 ")"
        Whitespace@482..483 " "
      Arrow@483..485 "->"
      Whitespace@485..486 " "
      TYPE_STRING@486..493
        StringKeyword@486..492 "string"
        Whitespace@492..493 " "
      BLOCK@493..526
        LBrace@493..494 "{"
        Whitespace@494..503 "\n        "
        EXPR_CALL@503..524
          EXPR_BINARY@503..517
            EXPR_IDENT@503..507
              PATH@503..507
                Ident@503..507 "self"
            Dot@507..508 "."
            EXPR_IDENT@508..517
              PATH@508..517
                Ident@508..517 "to_string"
          ARG_LIST@517..524
            LParen@517..518 "("
            RParen@518..519 ")"
            Whitespace@519..524 "\n    "
        RBrace@524..525 "}"
        Whitespace@525..526 "\n"
    RBrace@526..527 "}"
    Whitespace@527..529 "\n\n"
  IMPL@529..638
    ImplKeyword@529..533 "impl"
    Whitespace@533..534 " "
    TYPE_TAPP@534..540
      PATH@534..540
        Ident@534..539 "Debug"
        Whitespace@539..540 " "
    ForKeyword@540..543 "for"
    Whitespace@543..544 " "
    TYPE_INT32@544..550
      Int32Keyword@544..549 "int32"
      Whitespace@549..550 " "
    LBrace@550..551 "{"
    Whitespace@551..556 "\n    "
    FN@556..635
      FnKeyword@556..558 "fn"
      Whitespace@558..559 " "
      Ident@559..563 "show"
      PARAM_LIST@563..577
        LParen@563..564 "("
        PARAM@564..575
          Ident@564..568 "self"
          Colon@568..569 ":"
          Whitespace@569..570 " "
          TYPE_INT32@570..575
            Int32Keyword@570..575 "int32"
        RParen@575..576 ")"
        Whitespace@576..577 " "
      Arrow@577..579 "->"
      Whitespace@579..580 " "
      TYPE_STRING@580..587
        StringKeyword@580..586 "string"
        Whitespace@586..587 " "
      BLOCK@587..635
        LBrace@587..588 "{"
        Whitespace@588..597 "\n        "
        EXPR_BINARY@597..633
          EXPR_BINARY@597..623
            EXPR_STR@597..604
              Str@597..603 "\"i32(\""
              Whitespace@603..604 " "
            Plus@604..605 "+"
            Whitespace@605..606 " "
            EXPR_CALL@606..623
              EXPR_BINARY@606..620
                EXPR_IDENT@606..610
                  PATH@606..610
                    Ident@606..610 "self"
                Dot@610..611 "."
                EXPR_IDENT@611..620
                  PATH@611..620
                    Ident@611..620 "to_string"
              ARG_LIST@620..623
                LParen@620..621 "("
                RParen@621..622 ")"
                Whitespace@622..623 " "
          Plus@623..624 "+"
          Whitespace@624..625 " "
          EXPR_STR@625..633
            Str@625..628 "\")\""
            Whitespace@628..633 "\n    "
        RBrace@633..634 "}"
        Whitespace@634..635 "\n"
    RBrace@635..636 "}"
    Whitespace@636..638 "\n\n"
  IMPL@638..738
    ImplKeyword@638..642 "impl"
    Whitespace@642..643 " "
    TYPE_TAPP@643..648
      PATH@643..648
        Ident@643..647 "MyEq"
        Whitespace@647..648 " "
    ForKeyword@648..651 "for"
    Whitespace@651..652 " "
    TYPE_INT32@652..658
      Int32Keyword@652..657 "int32"
      Whitespace@657..658 " "
    LBrace@658..659 "{"
    Whitespace@659..664 "\n    "
    FN@664..735
      FnKeyword@664..666 "fn"
      Whitespace@666..667 " "
      Ident@667..669 "eq"
      PARAM_LIST@669..697
        LParen@669..670 "("
        PARAM@670..683
          Ident@670..674 "self"
          Colon@674..675 ":"
          Whitespace@675..676 " "
          TYPE_INT32@676..681
            Int32Keyword@676..681 "int32"
          Comma@681..682 ","
          Whitespace@682..683 " "
        PARAM@683..695
          Ident@683..688 "other"
          Colon@688..689 ":"
          Whitespace@689..690 " "
          TYPE_INT32@690..695
            Int32Keyword@690..695 "int32"
        RParen@695..696 ")"
        Whitespace@696..697 " "
      Arrow@697..699 "->"
      Whitespace@699..700 " "
      TYPE_BOOL@700..705
        BoolKeyword@700..704 "bool"
        Whitespace@704..705 " "
      BLOCK@705..735
        LBrace@705..706 "{"
        Whitespace@706..715 "\n        "
        EXPR_BINARY@715..733
          EXPR_IDENT@715..720
            PATH@715..720
              Ident@715..719 "self"
              Whitespace@719..720 " "
          EqEq@720..722 "=="
          Whitespace@722..723 " "
          EXPR_IDENT@723..733
            PATH@723..733
              Ident@723..728 "other"
              Whitespace@728..733 "\n    "
        RBrace@733..734 "}"
        Whitespace@734..735 "\n"
    RBrace@735..736 "}"
    Whitespace@736..738 "\n\n"
  IMPL@738..845
    ImplKeyword@738..742 "impl"
    Whitespace@742..743 " "
    TYPE_TAPP@743..750
      PATH@743..750
        Ident@743..749 "MyHash"
        Whitespace@749..750 " "
    ForKeyword@750..753 "for"
    Whitespace@753..754 " "
    TYPE_INT32@754..760
      Int32Keyword@754..759 "int32"
      Whitespace@759..760 " "
    LBrace@760..761 "{"
    Whitespace@761..766 "\n    "
    FN@766..842
      FnKeyword@766..768 "fn"
      Whitespace@768..769 " "
      Ident@769..773 "hash"
      PARAM_LIST@773..787
        LParen@773..774 "("
        PARAM@774..785
          Ident@774..778 "self"
          Colon@778..779 ":"
          Whitespace@779..780 " "
          TYPE_INT32@780..785
            Int32Keyword@780..785 "int32"
        RParen@785..786 ")"
        Whitespace@786..787 " "
      Arrow@787..789 "->"
      Whitespace@789..790 " "
      TYPE_INT32@790..796
        Int32Keyword@790..795 "int32"
        Whitespace@795..796 " "
      BLOCK@796..842
        LBrace@796..797 "{"
        Whitespace@797..806 "\n        "
        EXPR_BINARY@806..840
          EXPR_PAREN@806..824
            LParen@806..807 "("
            EXPR_BINARY@807..822
              EXPR_IDENT@807..812
                PATH@807..812
                  Ident@807..811 "self"
                  Whitespace@811..812 " "
              Star@812..813 "*"
              Whitespace@813..814 " "
              EXPR_INT@814..822
                Int@814..822 "16777619"
            RParen@822..823 ")"
            Whitespace@823..824 " "
          Plus@824..825 "+"
          Whitespace@825..826 " "
          EXPR_INT@826..840
            Int@826..835 "216613626"
            Whitespace@835..840 "\n    "
        RBrace@840..841 "}"
        Whitespace@841..842 "\n"
    RBrace@842..843 "}"
    Whitespace@843..845 "\n\n"
  IMPL@845..945
    ImplKeyword@845..849 "impl"
    Whitespace@849..850 " "
    TYPE_TAPP@850..854
      PATH@850..854
        Ident@850..853 "Add"
        Whitespace@853..854 " "
    ForKeyword@854..857 "for"
    Whitespace@857..858 " "
    TYPE_INT32@858..864
      Int32Keyword@858..863 "int32"
      Whitespace@863..864 " "
    LBrace@864..865 "{"
    Whitespace@865..870 "\n    "
    FN@870..942
      FnKeyword@870..872 "fn"
      Whitespace@872..873 " "
      Ident@873..876 "add"
      PARAM_LIST@876..904
        LParen@876..877 "("
        PARAM@877..890
          Ident@877..881 "self"
          Colon@881..882 ":"
          Whitespace@882..883 " "
          TYPE_INT32@883..888
            Int32Keyword@883..888 "int32"
          Comma@888..889 ","
          Whitespace@889..890 " "
        PARAM@890..902
          Ident@890..895 "other"
          Colon@895..896 ":"
          Whitespace@896..897 " "
          TYPE_INT32@897..902
            Int32Keyword@897..902 "int32"
        RParen@902..903 ")"
        Whitespace@903..904 " "
      Arrow@904..906 "->"
      Whitespace@906..907 " "
      TYPE_INT32@907..913
        Int32Keyword@907..912 "int32"
        Whitespace@912..913 " "
      BLOCK@913..942
        LBrace@913..914 "{"
        Whitespace@914..923 "\n        "
        EXPR_BINARY@923..940
          EXPR_IDENT@923..928
            PATH@923..928
              Ident@923..927 "self"
              Whitespace@927..928 " "
          Plus@928..929 "+"
          Whitespace@929..930 " "
          EXPR_IDENT@930..940
            PATH@930..940
              Ident@930..935 "other"
              Whitespace@935..940 "\n    "
        RBrace@940..941 "}"
        Whitespace@941..942 "\n"
    RBrace@942..943 "}"
    Whitespace@943..945 "\n\n"
  IMPL@945..1051
    ImplKeyword@945..949 "impl"
    Whitespace@949..950 " "
    TYPE_TAPP@950..956
      PATH@950..956
        Ident@950..955 "Scale"
        Whitespace@955..956 " "
    ForKeyword@956..959 "for"
    Whitespace@959..960 " "
    TYPE_INT32@960..966
      Int32Keyword@960..965 "int32"
      Whitespace@965..966 " "
    LBrace@966..967 "{"
    Whitespace@967..972 "\n    "
    FN@972..1048
      FnKeyword@972..974 "fn"
      Whitespace@974..975 " "
      Ident@975..980 "scale"
      PARAM_LIST@980..1009
        LParen@980..981 "("
        PARAM@981..994
          Ident@981..985 "self"
          Colon@985..986 ":"
          Whitespace@986..987 " "
          TYPE_INT32@987..992
            Int32Keyword@987..992 "int32"
          Comma@992..993 ","
          Whitespace@993..994 " "
        PARAM@994..1007
          Ident@994..1000 "factor"
          Colon@1000..1001 ":"
          Whitespace@1001..1002 " "
          TYPE_INT32@1002..1007
            Int32Keyword@1002..1007 "int32"
        RParen@1007..1008 ")"
        Whitespace@1008..1009 " "
      Arrow@1009..1011 "->"
      Whitespace@1011..1012 " "
      TYPE_INT32@1012..1018
        Int32Keyword@1012..1017 "int32"
        Whitespace@1017..1018 " "
      BLOCK@1018..1048
        LBrace@1018..1019 "{"
        Whitespace@1019..1028 "\n        "
        EXPR_BINARY@1028..1046
          EXPR_IDENT@1028..1033
            PATH@1028..1033
              Ident@1028..1032 "self"
              Whitespace@1032..1033 " "
          Star@1033..1034 "*"
          Whitespace@1034..1035 " "
          EXPR_IDENT@1035..1046
            PATH@1035..1046
              Ident@1035..1041 "factor"
              Whitespace@1041..1046 "\n    "
        RBrace@1046..1047 "}"
        Whitespace@1047..1048 "\n"
    RBrace@1048..1049 "}"
    Whitespace@1049..1051 "\n\n"
  IMPL@1051..1162
    ImplKeyword@1051..1055 "impl"
    Whitespace@1055..1056 " "
    TYPE_TAPP@1056..1064
      PATH@1056..1064
        Ident@1056..1063 "Inspect"
        Whitespace@1063..1064 " "
    ForKeyword@1064..1067 "for"
    Whitespace@1067..1068 " "
    TYPE_INT32@1068..1074
      Int32Keyword@1068..1073 "int32"
      Whitespace@1073..1074 " "
    LBrace@1074..1075 "{"
    Whitespace@1075..1080 "\n    "
    FN@1080..1159
      FnKeyword@1080..1082 "fn"
      Whitespace@1082..1083 " "
      Ident@1083..1090 "inspect"
      PARAM_LIST@1090..1104
        LParen@1090..1091 "("
        PARAM@1091..1102
          Ident@1091..1095 "self"
          Colon@1095..1096 ":"
          Whitespace@1096..1097 " "
          TYPE_INT32@1097..1102
            Int32Keyword@1097..1102 "int32"
        RParen@1102..1103 ")"
        Whitespace@1103..1104 " "
      Arrow@1104..1106 "->"
      Whitespace@1106..1107 " "
      TYPE_STRING@1107..1114
        StringKeyword@1107..1113 "string"
        Whitespace@1113..1114 " "
      BLOCK@1114..1159
        LBrace@1114..1115 "{"
        Whitespace@1115..1124 "\n        "
        EXPR_BINARY@1124..1157
          EXPR_BINARY@1124..1147
            EXPR_STR@1124..1128
              Str@1124..1127 "\"<\""
              Whitespace@1127..1128 " "
            Plus@1128..1129 "+"
            Whitespace@1129..1130 " "
            EXPR_CALL@1130..1147
              EXPR_BINARY@1130..1144
                EXPR_IDENT@1130..1134
                  PATH@1130..1134
                    Ident@1130..1134 "self"
                Dot@1134..1135 "."
                EXPR_IDENT@1135..1144
                  PATH@1135..1144
                    Ident@1135..1144 "to_string"
              ARG_LIST@1144..1147
                LParen@1144..1145 "("
                RParen@1145..1146 ")"
                Whitespace@1146..1147 " "
          Plus@1147..1148 "+"
          Whitespace@1148..1149 " "
          EXPR_STR@1149..1157
            Str@1149..1152 "\">\""
            Whitespace@1152..1157 "\n    "
        RBrace@1157..1158 "}"
        Whitespace@1158..1159 "\n"
    RBrace@1159..1160 "}"
    Whitespace@1160..1162 "\n\n"
  IMPL@1162..1281
    ImplKeyword@1162..1166 "impl"
    Whitespace@1166..1167 " "
    TYPE_TAPP@1167..1175
      PATH@1167..1175
        Ident@1167..1174 "Display"
        Whitespace@1174..1175 " "
    ForKeyword@1175..1178 "for"
    Whitespace@1178..1179 " "
    TYPE_TAPP@1179..1185
      PATH@1179..1185
        Ident@1179..1184 "Boxed"
        Whitespace@1184..1185 " "
    LBrace@1185..1186 "{"
    Whitespace@1186..1191 "\n    "
    FN@1191..1278
      FnKeyword@1191..1193 "fn"
      Whitespace@1193..1194 " "
      Ident@1194..1198 "show"
      PARAM_LIST@1198..1212
        LParen@1198..1199 "("
        PARAM@1199..1210
          Ident@1199..1203 "self"
          Colon@1203..1204 ":"
          Whitespace@1204..1205 " "
          TYPE_TAPP@1205..1210
            PATH@1205..1210
              Ident@1205..1210 "Boxed"
        RParen@1210..1211 ")"
        Whitespace@1211..1212 " "
      Arrow@1212..1214 "->"
      Whitespace@1214..1215 " "
      TYPE_STRING@1215..1222
        StringKeyword@1215..1221 "string"
        Whitespace@1221..1222 " "
      BLOCK@1222..1278
        LBrace@1222..1223 "{"
        Whitespace@1223..1232 "\n        "
        EXPR_BINARY@1232..1276
          EXPR_BINARY@1232..1266
            EXPR_STR@1232..1241
              Str@1232..1240 "\"Boxed(\""
              Whitespace@1240..1241 " "
            Plus@1241..1242 "+"
            Whitespace@1242..1243 " "
            EXPR_CALL@1243..1266
              EXPR_BINARY@1243..1263
                EXPR_BINARY@1243..1253
                  EXPR_IDENT@1243..1247
                    PATH@1243..1247
                      Ident@1243..1247 "self"
                  Dot@1247..1248 "."
                  EXPR_IDENT@1248..1253
                    PATH@1248..1253
                      Ident@1248..1253 "value"
                Dot@1253..1254 "."
                EXPR_IDENT@1254..1263
                  PATH@1254..1263
                    Ident@1254..1263 "to_string"
              ARG_LIST@1263..1266
                LParen@1263..1264 "("
                RParen@1264..1265 ")"
                Whitespace@1265..1266 " "
          Plus@1266..1267 "+"
          Whitespace@1267..1268 " "
          EXPR_STR@1268..1276
            Str@1268..1271 "\")\""
            Whitespace@1271..1276 "\n    "
        RBrace@1276..1277 "}"
        Whitespace@1277..1278 "\n"
    RBrace@1278..1279 "}"
    Whitespace@1279..1281 "\n\n"
  IMPL@1281..1404
    ImplKeyword@1281..1285 "impl"
    Whitespace@1285..1286 " "
    TYPE_TAPP@1286..1292
      PATH@1286..1292
        Ident@1286..1291 "Debug"
        Whitespace@1291..1292 " "
    ForKeyword@1292..1295 "for"
    Whitespace@1295..1296 " "
    TYPE_TAPP@1296..1302
      PATH@1296..1302
        Ident@1296..1301 "Boxed"
        Whitespace@1301..1302 " "
    LBrace@1302..1303 "{"
    Whitespace@1303..1308 "\n    "
    FN@1308..1401
      FnKeyword@1308..1310 "fn"
      Whitespace@1310..1311 " "
      Ident@1311..1315 "show"
      PARAM_LIST@1315..1329
        LParen@1315..1316 "("
        PARAM@1316..1327
          Ident@1316..1320 "self"
          Colon@1320..1321 ":"
          Whitespace@1321..1322 " "
          TYPE_TAPP@1322..1327
            PATH@1322..1327
              Ident@1322..1327 "Boxed"
        RParen@1327..1328 ")"
        Whitespace@1328..1329 " "
      Arrow@1329..1331 "->"
      Whitespace@1331..1332 " "
      TYPE_STRING@1332..1339
        StringKeyword@1332..1338 "string"
        Whitespace@1338..1339 " "
      BLOCK@1339..1401
        LBrace@1339..1340 "{"
        Whitespace@1340..1349 "\n        "
        EXPR_BINARY@1349..1399
          EXPR_BINARY@1349..1389
            EXPR_STR@1349..1364
              Str@1349..1363 "\"Boxed{value=\""
              Whitespace@1363..1364 " "
            Plus@1364..1365 "+"
            Whitespace@1365..1366 " "
            EXPR_CALL@1366..1389
              EXPR_BINARY@1366..1386
                EXPR_BINARY@1366..1376
                  EXPR_IDENT@1366..1370
                    PATH@1366..1370
                      Ident@1366..1370 "self"
                  Dot@1370..1371 "."
                  EXPR_IDENT@1371..1376
                    PATH@1371..1376
                      Ident@1371..1376 "value"
                Dot@1376..1377 "."
                EXPR_IDENT@1377..1386
                  PATH@1377..1386
                    Ident@1377..1386 "to_string"
              ARG_LIST@1386..1389
                LParen@1386..1387 "("
                RParen@1387..1388 ")"
                Whitespace@1388..1389 " "
          Plus@1389..1390 "+"
          Whitespace@1390..1391 " "
          EXPR_STR@1391..1399
            Str@1391..1394 "\"}\""
            Whitespace@1394..1399 "\n    "
        RBrace@1399..1400 "}"
        Whitespace@1400..1401 "\n"
    RBrace@1401..1402 "}"
    Whitespace@1402..1404 "\n\n"
  IMPL@1404..1516
    ImplKeyword@1404..1408 "impl"
    Whitespace@1408..1409 " "
    TYPE_TAPP@1409..1414
      PATH@1409..1414
        Ident@1409..1413 "MyEq"
        Whitespace@1413..1414 " "
    ForKeyword@1414..1417 "for"
    Whitespace@1417..1418 " "
    TYPE_TAPP@1418..1424
      PATH@1418..1424
        Ident@1418..1423 "Boxed"
        Whitespace@1423..1424 " "
    LBrace@1424..1425 "{"
    Whitespace@1425..1430 "\n    "
    FN@1430..1513
      FnKeyword@1430..1432 "fn"
      Whitespace@1432..1433 " "
      Ident@1433..1435 "eq"
      PARAM_LIST@1435..1463
        LParen@1435..1436 "("
        PARAM@1436..1449
          Ident@1436..1440 "self"
          Colon@1440..1441 ":"
          Whitespace@1441..1442 " "
          TYPE_TAPP@1442..1447
            PATH@1442..1447
              Ident@1442..1447 "Boxed"
          Comma@1447..1448 ","
          Whitespace@1448..1449 " "
        PARAM@1449..1461
          Ident@1449..1454 "other"
          Colon@1454..1455 ":"
          Whitespace@1455..1456 " "
          TYPE_TAPP@1456..1461
            PATH@1456..1461
              Ident@1456..1461 "Boxed"
        RParen@1461..1462 ")"
        Whitespace@1462..1463 " "
      Arrow@1463..1465 "->"
      Whitespace@1465..1466 " "
      TYPE_BOOL@1466..1471
        BoolKeyword@1466..1470 "bool"
        Whitespace@1470..1471 " "
      BLOCK@1471..1513
        LBrace@1471..1472 "{"
        Whitespace@1472..1481 "\n        "
        EXPR_BINARY@1481..1511
          EXPR_BINARY@1481..1492
            EXPR_IDENT@1481..1485
              PATH@1481..1485
                Ident@1481..1485 "self"
            Dot@1485..1486 "."
            EXPR_IDENT@1486..1492
              PATH@1486..1492
                Ident@1486..1491 "value"
                Whitespace@1491..1492 " "
          EqEq@1492..1494 "=="
          Whitespace@1494..1495 " "
          EXPR_BINARY@1495..1511
            EXPR_IDENT@1495..1500
              PATH@1495..1500
                Ident@1495..1500 "other"
            Dot@1500..1501 "."
            EXPR_IDENT@1501..1511
              PATH@1501..1511
                Ident@1501..1506 "value"
                Whitespace@1506..1511 "\n    "
        RBrace@1511..1512 "}"
        Whitespace@1512..1513 "\n"
    RBrace@1513..1514 "}"
    Whitespace@1514..1516 "\n\n"
  IMPL@1516..1630
    ImplKeyword@1516..1520 "impl"
    Whitespace@1520..1521 " "
    TYPE_TAPP@1521..1528
      PATH@1521..1528
        Ident@1521..1527 "MyHash"
        Whitespace@1527..1528 " "
    ForKeyword@1528..1531 "for"
    Whitespace@1531..1532 " "
    TYPE_TAPP@1532..1538
      PATH@1532..1538
        Ident@1532..1537 "Boxed"
        Whitespace@1537..1538 " "
    LBrace@1538..1539 "{"
    Whitespace@1539..1544 "\n    "
    FN@1544..1627
      FnKeyword@1544..1546 "fn"
      Whitespace@1546..1547 " "
      Ident@1547..1551 "hash"
      PARAM_LIST@1551..1565
        LParen@1551..1552 "("
        PARAM@1552..1563
          Ident@1552..1556 "self"
          Colon@1556..1557 ":"
          Whitespace@1557..1558 " "
          TYPE_TAPP@1558..1563
            PATH@1558..1563
              Ident@1558..1563 "Boxed"
        RParen@1563..1564 ")"
        Whitespace@1564..1565 " "
      Arrow@1565..1567 "->"
      Whitespace@1567..1568 " "
      TYPE_INT32@1568..1574
        Int32Keyword@1568..1573 "int32"
        Whitespace@1573..1574 " "
      BLOCK@1574..1627
        LBrace@1574..1575 "{"
        Whitespace@1575..1584 "\n        "
        EXPR_BINARY@1584..1625
          EXPR_PAREN@1584..1608
            LParen@1584..1585 "("
            EXPR_BINARY@1585..1606
              EXPR_PAREN@1585..1603
                LParen@1585..1586 "("
                EXPR_BINARY@1586..1601
                  EXPR_BINARY@1586..1597
                    EXPR_IDENT@1586..1590
                      PATH@1586..1590
                        Ident@1586..1590 "self"
                    Dot@1590..1591 "."
                    EXPR_IDENT@1591..1597
                      PATH@1591..1597
                        Ident@1591..1596 "value"
                        Whitespace@1596..1597 " "
                  Star@1597..1598 "*"
                  Whitespace@1598..1599 " "
                  EXPR_INT@1599..1601
                    Int@1599..1601 "31"
                RParen@1601..1602 ")"
                Whitespace@1602..1603 " "
              Plus@1603..1604 "+"
              Whitespace@1604..1605 " "
              EXPR_INT@1605..1606
                Int@1605..1606 "7"
            RParen@1606..1607 ")"
            Whitespace@1607..1608 " "
          Star@1608..1609 "*"
          Whitespace@1609..1610 " "
          EXPR_INT@1610..1625
            Int@1610..1620 "1315423911"
            Whitespace@1620..1625 "\n    "
        RBrace@1625..1626 "}"
        Whitespace@1626..1627 "\n"
    RBrace@1627..1628 "}"
    Whitespace@1628..1630 "\n\n"
  IMPL@1630..1759
    ImplKeyword@1630..1634 "impl"
    Whitespace@1634..1635 " "
    TYPE_TAPP@1635..1639
      PATH@1635..1639
        Ident@1635..1638 "Add"
        Whitespace@1638..1639 " "
    ForKeyword@1639..1642 "for"
    Whitespace@1642..1643 " "
    TYPE_TAPP@1643..1649
      PATH@1643..1649
        Ident@1643..1648 "Boxed"
        Whitespace@1648..1649 " "
    LBrace@1649..1650 "{"
    Whitespace@1650..1655 "\n    "
    FN@1655..1756
      FnKeyword@1655..1657 "fn"
      Whitespace@1657..1658 " "
      Ident@1658..1661 "add"
      PARAM_LIST@1661..1689
        LParen@1661..1662 "("
        PARAM@1662..1675
          Ident@1662..1666 "self"
          Colon@1666..1667 ":"
          Whitespace@1667..1668 " "
          TYPE_TAPP@1668..1673
            PATH@1668..1673
              Ident@1668..1673 "Boxed"
          Comma@1673..1674 ","
          Whitespace@1674..1675 " "
        PARAM@1675..1687
          Ident@1675..1680 "other"
          Colon@1680..1681 ":"
          Whitespace@1681..1682 " "
          TYPE_TAPP@1682..1687
            PATH@1682..1687
              Ident@1682..1687 "Boxed"
        RParen@1687..1688 ")"
        Whitespace@1688..1689 " "
      Arrow@1689..1691 "->"
      Whitespace@1691..1692 " "
      TYPE_TAPP@1692..1698
        PATH@1692..1698
          Ident@1692..1697 "Boxed"
          Whitespace@1697..1698 " "
      BLOCK@1698..1756
        LBrace@1698..1699 "{"
        Whitespace@1699..1708 "\n        "
        EXPR_STRUCT_LITERAL@1708..1754
          PATH@1708..1714
            Ident@1708..1713 "Boxed"
            Whitespace@1713..1714 " "
          STRUCT_LITERAL_FIELD_LIST@1714..1754
            LBrace@1714..1715 "{"
            Whitespace@1715..1716 " "
            STRUCT_LITERAL_FIELD@1716..1748
              Ident@1716..1721 "value"
              Colon@1721..1722 ":"
              Whitespace@1722..1723 " "
              EXPR_BINARY@1723..1748
                EXPR_BINARY@1723..1734
                  EXPR_IDENT@1723..1727
                    PATH@1723..1727
                      Ident@1723..1727 "self"
                  Dot@1727..1728 "."
                  EXPR_IDENT@1728..1734
                    PATH@1728..1734
                      Ident@1728..1733 "value"
                      Whitespace@1733..1734 " "
                Plus@1734..1735 "+"
                Whitespace@1735..1736 " "
                EXPR_BINARY@1736..1748
                  EXPR_IDENT@1736..1741
                    PATH@1736..1741
                      Ident@1736..1741 "other"
                  Dot@1741..1742 "."
                  EXPR_IDENT@1742..1748
                    PATH@1742..1748
                      Ident@1742..1747 "value"
                      Whitespace@1747..1748 " "
            RBrace@1748..1749 "}"
            Whitespace@1749..1754 "\n    "
        RBrace@1754..1755 "}"
        Whitespace@1755..1756 "\n"
    RBrace@1756..1757 "}"
    Whitespace@1757..1759 "\n\n"
  IMPL@1759..1888
    ImplKeyword@1759..1763 "impl"
    Whitespace@1763..1764 " "
    TYPE_TAPP@1764..1770
      PATH@1764..1770
        Ident@1764..1769 "Scale"
        Whitespace@1769..1770 " "
    ForKeyword@1770..1773 "for"
    Whitespace@1773..1774 " "
    TYPE_TAPP@1774..1780
      PATH@1774..1780
        Ident@1774..1779 "Boxed"
        Whitespace@1779..1780 " "
    LBrace@1780..1781 "{"
    Whitespace@1781..1786 "\n    "
    FN@1786..1885
      FnKeyword@1786..1788 "fn"
      Whitespace@1788..1789 " "
      Ident@1789..1794 "scale"
      PARAM_LIST@1794..1823
        LParen@1794..1795 "("
        PARAM@1795..1808
          Ident@1795..1799 "self"
          Colon@1799..1800 ":"
          Whitespace@1800..1801 " "
          TYPE_TAPP@1801..1806
            PATH@1801..1806
              Ident@1801..1806 "Boxed"
          Comma@1806..1807 ","
          Whitespace@1807..1808 " "
        PARAM@1808..1821
          Ident@1808..1814 "factor"
          Colon@1814..1815 ":"
          Whitespace@1815..1816 " "
          TYPE_INT32@1816..1821
            Int32Keyword@1816..1821 "int32"
        RParen@1821..1822 ")"
        Whitespace@1822..1823 " "
      Arrow@1823..1825 "->"
      Whitespace@1825..1826 " "
      TYPE_TAPP@1826..1832
        PATH@1826..1832
          Ident@1826..1831 "Boxed"
          Whitespace@1831..1832 " "
      BLOCK@1832..1885
        LBrace@1832..1833 "{"
        Whitespace@1833..1842 "\n        "
        EXPR_STRUCT_LITERAL@1842..1883
          PATH@1842..1848
            Ident@1842..1847 "Boxed"
            Whitespace@1847..1848 " "
          STRUCT_LITERAL_FIELD_LIST@1848..1883
            LBrace@1848..1849 "{"
            Whitespace@1849..1850 " "
            STRUCT_LITERAL_FIELD@1850..1877
              Ident@1850..1855 "value"
              Colon@1855..1856 ":"
              Whitespace@1856..1857 " "
              EXPR_BINARY@1857..1877
                EXPR_BINARY@1857..1868
                  EXPR_IDENT@1857..1861
                    PATH@1857..1861
                      Ident@1857..1861 "self"
                  Dot@1861..1862 "."
                  EXPR_IDENT@1862..1868
                    PATH@1862..1868
                      Ident@1862..1867 "value"
                      Whitespace@1867..1868 " "
                Star@1868..1869 "*"
                Whitespace@1869..1870 " "
                EXPR_IDENT@1870..1877
                  PATH@1870..1877
                    Ident@1870..1876 "factor"
                    Whitespace@1876..1877 " "
            RBrace@1877..1878 "}"
            Whitespace@1878..1883 "\n    "
        RBrace@1883..1884 "}"
        Whitespace@1884..1885 "\n"
    RBrace@1885..1886 "}"
    Whitespace@1886..1888 "\n\n"
  IMPL@1888..2005
    ImplKeyword@1888..1892 "impl"
    Whitespace@1892..1893 " "
    TYPE_TAPP@1893..1901
      PATH@1893..1901
        Ident@1893..1900 "Inspect"
        Whitespace@1900..1901 " "
    ForKeyword@1901..1904 "for"
    Whitespace@1904..1905 " "
    TYPE_TAPP@1905..1911
      PATH@1905..1911
        Ident@1905..1910 "Boxed"
        Whitespace@1910..1911 " "
    LBrace@1911..1912 "{"
    Whitespace@1912..1917 "\n    "
    FN@1917..2002
      FnKeyword@1917..1919 "fn"
      Whitespace@1919..1920 " "
      Ident@1920..1927 "inspect"
      PARAM_LIST@1927..1941
        LParen@1927..1928 "("
        PARAM@1928..1939
          Ident@1928..1932 "self"
          Colon@1932..1933 ":"
          Whitespace@1933..1934 " "
          TYPE_TAPP@1934..1939
            PATH@1934..1939
              Ident@1934..1939 "Boxed"
        RParen@1939..1940 ")"
        Whitespace@1940..1941 " "
      Arrow@1941..1943 "->"
      Whitespace@1943..1944 " "
      TYPE_STRING@1944..1951
        StringKeyword@1944..1950 "string"
        Whitespace@1950..1951 " "
      BLOCK@1951..2002
        LBrace@1951..1952 "{"
        Whitespace@1952..1961 "\n        "
        EXPR_BINARY@1961..2000
          EXPR_BINARY@1961..1990
            EXPR_STR@1961..1965
              Str@1961..1964 "\"[\""
              Whitespace@1964..1965 " "
            Plus@1965..1966 "+"
            Whitespace@1966..1967 " "
            EXPR_CALL@1967..1990
              EXPR_BINARY@1967..1987
                EXPR_BINARY@1967..1977
                  EXPR_IDENT@1967..1971
                    PATH@1967..1971
                      Ident@1967..1971 "self"
                  Dot@1971..1972 "."
                  EXPR_IDENT@1972..1977
                    PATH@1972..1977
                      Ident@1972..1977 "value"
                Dot@1977..1978 "."
                EXPR_IDENT@1978..1987
                  PATH@1978..1987
                    Ident@1978..1987 "to_string"
              ARG_LIST@1987..1990
                LParen@1987..1988 "("
                RParen@1988..1989 ")"
                Whitespace@1989..1990 " "
          Plus@1990..1991 "+"
          Whitespace@1991..1992 " "
          EXPR_STR@1992..2000
            Str@1992..1995 "\"]\""
            Whitespace@1995..2000 "\n    "
        RBrace@2000..2001 "}"
        Whitespace@2001..2002 "\n"
    RBrace@2002..2003 "}"
    Whitespace@2003..2005 "\n\n"
  FN@2005..2103
    FnKeyword@2005..2007 "fn"
    Whitespace@2007..2008 " "
    Ident@2008..2017 "bool_text"
    PARAM_LIST@2017..2027
      LParen@2017..2018 "("
      PARAM@2018..2025
        Ident@2018..2019 "x"
        Colon@2019..2020 ":"
        Whitespace@2020..2021 " "
        TYPE_BOOL@2021..2025
          BoolKeyword@2021..2025 "bool"
      RParen@2025..2026 ")"
      Whitespace@2026..2027 " "
    Arrow@2027..2029 "->"
    Whitespace@2029..2030 " "
    TYPE_STRING@2030..2037
      StringKeyword@2030..2036 "string"
      Whitespace@2036..2037 " "
    BLOCK@2037..2103
      LBrace@2037..2038 "{"
      Whitespace@2038..2043 "\n    "
      EXPR_IF@2043..2100
        IfKeyword@2043..2045 "if"
        Whitespace@2045..2046 " "
        EXPR_IF_COND@2046..2048
          EXPR_IDENT@2046..2048
            PATH@2046..2048
              Ident@2046..2047 "x"
              Whitespace@2047..2048 " "
        EXPR_IF_THEN@2048..2071
          BLOCK@2048..2071
            LBrace@2048..2049 "{"
            Whitespace@2049..2058 "\n        "
            EXPR_STR@2058..2069
              Str@2058..2064 "\"true\""
              Whitespace@2064..2069 "\n    "
            RBrace@2069..2070 "}"
            Whitespace@2070..2071 " "
        ElseKeyword@2071..2075 "else"
        Whitespace@2075..2076 " "
        EXPR_IF_ELSE@2076..2100
          BLOCK@2076..2100
            LBrace@2076..2077 "{"
            Whitespace@2077..2086 "\n        "
            EXPR_STR@2086..2098
              Str@2086..2093 "\"false\""
              Whitespace@2093..2098 "\n    "
            RBrace@2098..2099 "}"
            Whitespace@2099..2100 "\n"
      RBrace@2100..2101 "}"
      Whitespace@2101..2103 "\n\n"
  FN@2103..2205
    FnKeyword@2103..2105 "fn"
    Whitespace@2105..2106 " "
    Ident@2106..2115 "show_both"
    GENERIC_LIST@2115..2135
      LBracket@2115..2116 "["
      GENERIC@2116..2134
        Ident@2116..2117 "T"
        Colon@2117..2118 ":"
        Whitespace@2118..2119 " "
        TRAIT_SET@2119..2134
          TYPE_TAPP@2119..2125
            PATH@2119..2125
              Ident@2119..2124 "Debug"
              Whitespace@2124..2125 " "
          Plus@2125..2126 "+"
          Whitespace@2126..2127 " "
          TYPE_TAPP@2127..2134
            PATH@2127..2134
              Ident@2127..2134 "Display"
      RBracket@2134..2135 "]"
    PARAM_LIST@2135..2142
      LParen@2135..2136 "("
      PARAM@2136..2140
        Ident@2136..2137 "x"
        Colon@2137..2138 ":"
        Whitespace@2138..2139 " "
        TYPE_TAPP@2139..2140
          PATH@2139..2140
            Ident@2139..2140 "T"
      RParen@2140..2141 ")"
      Whitespace@2141..2142 " "
    Arrow@2142..2144 "->"
    Whitespace@2144..2145 " "
    TYPE_STRING@2145..2152
      StringKeyword@2145..2151 "string"
      Whitespace@2151..2152 " "
    BLOCK@2152..2205
      LBrace@2152..2153 "{"
      Whitespace@2153..2158 "\n    "
      EXPR_BINARY@2158..2202
        EXPR_PAREN@2158..2183
          LParen@2158..2159 "("
          EXPR_BINARY@2159..2181
            EXPR_CALL@2159..2174
              EXPR_IDENT@2159..2170
                PATH@2159..2170
                  Ident@2159..2164 "Debug"
                  ColonColon@2164..2166 "::"
                  Ident@2166..2170 "show"
              ARG_LIST@2170..2174
                LParen@2170..2171 "("
                ARG@2171..2172
                  EXPR_IDENT@2171..2172
                    PATH@2171..2172
                      Ident@2171..2172 "x"
                RParen@2172..2173 ")"
                Whitespace@2173..2174 " "
            Plus@2174..2175 "+"
            Whitespace@2175..2176 " "
            EXPR_STR@2176..2181
              Str@2176..2181 "\" / \""
          RParen@2181..2182 ")"
          Whitespace@2182..2183 " "
        Plus@2183..2184 "+"
        Whitespace@2184..2185 " "
        EXPR_CALL@2185..2202
          EXPR_IDENT@2185..2198
            PATH@2185..2198
              Ident@2185..2192 "Display"
              ColonColon@2192..2194 "::"
              Ident@2194..2198 "show"
          ARG_LIST@2198..2202
            LParen@2198..2199 "("
            ARG@2199..2200
              EXPR_IDENT@2199..2200
                PATH@2199..2200
                  Ident@2199..2200 "x"
            RParen@2200..2201 ")"
            Whitespace@2201..2202 "\n"
      RBrace@2202..2203 "}"
      Whitespace@2203..2205 "\n\n"
  FN@2205..2313
    FnKeyword@2205..2207 "fn"
    Whitespace@2207..2208 " "
    Ident@2208..2216 "tag_text"
    GENERIC_LIST@2216..2235
      LBracket@2216..2217 "["
      GENERIC@2217..2234
        Ident@2217..2218 "Q"
        Colon@2218..2219 ":"
        Whitespace@2219..2220 " "
        TRAIT_SET@2220..2234
          TYPE_TAPP@2220..2226
            PATH@2220..2226
              Ident@2220..2225 "Debug"
              Whitespace@2225..2226 " "
          Plus@2226..2227 "+"
          Whitespace@2227..2228 " "
          TYPE_TAPP@2228..2234
            PATH@2228..2234
              Ident@2228..2234 "MyHash"
      RBracket@2234..2235 "]"
    PARAM_LIST@2235..2244
      LParen@2235..2236 "("
      PARAM@2236..2242
        Ident@2236..2239 "tag"
        Colon@2239..2240 ":"
        Whitespace@2240..2241 " "
        TYPE_TAPP@2241..2242
          PATH@2241..2242
            Ident@2241..2242 "Q"
      RParen@2242..2243 ")"
      Whitespace@2243..2244 " "
    Arrow@2244..2246 "->"
    Whitespace@2246..2247 " "
    TYPE_STRING@2247..2254
      StringKeyword@2247..2253 "string"
      Whitespace@2253..2254 " "
    BLOCK@2254..2313
      LBrace@2254..2255 "{"
      Whitespace@2255..2260 "\n    "
      EXPR_BINARY@2260..2310
        EXPR_PAREN@2260..2285
          LParen@2260..2261 "("
          EXPR_BINARY@2261..2283
            EXPR_CALL@2261..2278
              EXPR_IDENT@2261..2272
                PATH@2261..2272
                  Ident@2261..2266 "Debug"
                  ColonColon@2266..2268 "::"
                  Ident@2268..2272 "show"
              ARG_LIST@2272..2278
                LParen@2272..2273 "("
                ARG@2273..2276
                  EXPR_IDENT@2273..2276
                    PATH@2273..2276
                      Ident@2273..2276 "tag"
                RParen@2276..2277 ")"
                Whitespace@2277..2278 " "
            Plus@2278..2279 "+"
            Whitespace@2279..2280 " "
            EXPR_STR@2280..2283
              Str@2280..2283 "\"#\""
          RParen@2283..2284 ")"
          Whitespace@2284..2285 " "
        Plus@2285..2286 "+"
        Whitespace@2286..2287 " "
        EXPR_CALL@2287..2310
          EXPR_BINARY@2287..2307
            EXPR_CALL@2287..2297
              EXPR_BINARY@2287..2295
                EXPR_IDENT@2287..2290
                  PATH@2287..2290
                    Ident@2287..2290 "tag"
                Dot@2290..2291 "."
                EXPR_IDENT@2291..2295
                  PATH@2291..2295
                    Ident@2291..2295 "hash"
              ARG_LIST@2295..2297
                LParen@2295..2296 "("
                RParen@2296..2297 ")"
            Dot@2297..2298 "."
            EXPR_IDENT@2298..2307
              PATH@2298..2307
                Ident@2298..2307 "to_string"
          ARG_LIST@2307..2310
            LParen@2307..2308 "("
            RParen@2308..2309 ")"
            Whitespace@2309..2310 "\n"
      RBrace@2310..2311 "}"
      Whitespace@2311..2313 "\n\n"
  FN@2313..2411
    FnKeyword@2313..2315 "fn"
    Whitespace@2315..2316 " "
    Ident@2316..2330 "combine_scaled"
    GENERIC_LIST@2330..2346
      LBracket@2330..2331 "["
      GENERIC@2331..2345
        Ident@2331..2332 "T"
        Colon@2332..2333 ":"
        Whitespace@2333..2334 " "
        TRAIT_SET@2334..2345
          TYPE_TAPP@2334..2338
            PATH@2334..2338
              Ident@2334..2337 "Add"
              Whitespace@2337..2338 " "
          Plus@2338..2339 "+"
          Whitespace@2339..2340 " "
          TYPE_TAPP@2340..2345
            PATH@2340..2345
              Ident@2340..2345 "Scale"
      RBracket@2345..2346 "]"
    PARAM_LIST@2346..2374
      LParen@2346..2347 "("
      PARAM@2347..2353
        Ident@2347..2348 "a"
        Colon@2348..2349 ":"
        Whitespace@2349..2350 " "
        TYPE_TAPP@2350..2351
          PATH@2350..2351
            Ident@2350..2351 "T"
        Comma@2351..2352 ","
        Whitespace@2352..2353 " "
      PARAM@2353..2359
        Ident@2353..2354 "b"
        Colon@2354..2355 ":"
        Whitespace@2355..2356 " "
        TYPE_TAPP@2356..2357
          PATH@2356..2357
            Ident@2356..2357 "T"
        Comma@2357..2358 ","
        Whitespace@2358..2359 " "
      PARAM@2359..2372
        Ident@2359..2365 "factor"
        Colon@2365..2366 ":"
        Whitespace@2366..2367 " "
        TYPE_INT32@2367..2372
          Int32Keyword@2367..2372 "int32"
      RParen@2372..2373 ")"
      Whitespace@2373..2374 " "
    Arrow@2374..2376 "->"
    Whitespace@2376..2377 " "
    TYPE_TAPP@2377..2379
      PATH@2377..2379
        Ident@2377..2378 "T"
        Whitespace@2378..2379 " "
    BLOCK@2379..2411
      LBrace@2379..2380 "{"
      Whitespace@2380..2385 "\n    "
      EXPR_CALL@2385..2408
        EXPR_BINARY@2385..2399
          EXPR_CALL@2385..2393
            EXPR_BINARY@2385..2390
              EXPR_IDENT@2385..2386
                PATH@2385..2386
                  Ident@2385..2386 "a"
              Dot@2386..2387 "."
              EXPR_IDENT@2387..2390
                PATH@2387..2390
                  Ident@2387..2390 "add"
            ARG_LIST@2390..2393
              LParen@2390..2391 "("
              ARG@2391..2392
                EXPR_IDENT@2391..2392
                  PATH@2391..2392
                    Ident@2391..2392 "b"
              RParen@2392..2393 ")"
          Dot@2393..2394 "."
          EXPR_IDENT@2394..2399
            PATH@2394..2399
              Ident@2394..2399 "scale"
        ARG_LIST@2399..2408
          LParen@2399..2400 "("
          ARG@2400..2406
            EXPR_IDENT@2400..2406
              PATH@2400..2406
                Ident@2400..2406 "factor"
          RParen@2406..2407 ")"
          Whitespace@2407..2408 "\n"
      RBrace@2408..2409 "}"
      Whitespace@2409..2411 "\n\n"
  FN@2411..2768
    FnKeyword@2411..2413 "fn"
    Whitespace@2413..2414 " "
    Ident@2414..2425 "report_pair"
    GENERIC_LIST@2425..2480
      LBracket@2425..2426 "["
      GENERIC@2426..2460
        Ident@2426..2427 "T"
        Colon@2427..2428 ":"
        Whitespace@2428..2429 " "
        TRAIT_SET@2429..2460
          TYPE_TAPP@2429..2435
            PATH@2429..2435
              Ident@2429..2434 "Debug"
              Whitespace@2434..2435 " "
          Plus@2435..2436 "+"
          Whitespace@2436..2437 " "
          TYPE_TAPP@2437..2445
            PATH@2437..2445
              Ident@2437..2444 "Display"
              Whitespace@2444..2445 " "
          Plus@2445..2446 "+"
          Whitespace@2446..2447 " "
          TYPE_TAPP@2447..2452
            PATH@2447..2452
              Ident@2447..2451 "MyEq"
              Whitespace@2451..2452 " "
          Plus@2452..2453 "+"
          Whitespace@2453..2454 " "
          TYPE_TAPP@2454..2460
            PATH@2454..2460
              Ident@2454..2460 "MyHash"
      Comma@2460..2461 ","
      Whitespace@2461..2462 " "
      GENERIC@2462..2479
        Ident@2462..2463 "Q"
        Colon@2463..2464 ":"
        Whitespace@2464..2465 " "
        TRAIT_SET@2465..2479
          TYPE_TAPP@2465..2471
            PATH@2465..2471
              Ident@2465..2470 "Debug"
              Whitespace@2470..2471 " "
          Plus@2471..2472 "+"
          Whitespace@2472..2473 " "
          TYPE_TAPP@2473..2479
            PATH@2473..2479
              Ident@2473..2479 "MyHash"
      RBracket@2479..2480 "]"
    PARAM_LIST@2480..2533
      LParen@2480..2481 "("
      Whitespace@2481..2486 "\n    "
      PARAM@2486..2498
        Ident@2486..2489 "tag"
        Colon@2489..2490 ":"
        Whitespace@2490..2491 " "
        TYPE_TAPP@2491..2492
          PATH@2491..2492
            Ident@2491..2492 "Q"
        Comma@2492..2493 ","
        Whitespace@2493..2498 "\n    "
      PARAM@2498..2508
        Ident@2498..2499 "a"
        Colon@2499..2500 ":"
        Whitespace@2500..2501 " "
        TYPE_TAPP@2501..2502
          PATH@2501..2502
            Ident@2501..2502 "T"
        Comma@2502..2503 ","
        Whitespace@2503..2508 "\n    "
      PARAM@2508..2518
        Ident@2508..2509 "b"
        Colon@2509..2510 ":"
        Whitespace@2510..2511 " "
        TYPE_TAPP@2511..2512
          PATH@2511..2512
            Ident@2511..2512 "T"
        Comma@2512..2513 ","
        Whitespace@2513..2518 "\n    "
      PARAM@2518..2531
        Ident@2518..2526 "combined"
        Colon@2526..2527 ":"
        Whitespace@2527..2528 " "
        TYPE_TAPP@2528..2529
          PATH@2528..2529
            Ident@2528..2529 "T"
        Comma@2529..2530 ","
        Whitespace@2530..2531 "\n"
      RParen@2531..2532 ")"
      Whitespace@2532..2533 " "
    Arrow@2533..2535 "->"
    Whitespace@2535..2536 " "
    TYPE_STRING@2536..2543
      StringKeyword@2536..2542 "string"
      Whitespace@2542..2543 " "
    BLOCK@2543..2768
      LBrace@2543..2544 "{"
      Whitespace@2544..2549 "\n    "
      STMT_LET@2549..2580
        LetKeyword@2549..2552 "let"
        Whitespace@2552..2553 " "
        PATTERN_VARIABLE@2553..2558
          Ident@2553..2557 "same"
          Whitespace@2557..2558 " "
        Eq@2558..2559 "="
        Whitespace@2559..2560 " "
        EXPR_CALL@2560..2574
          EXPR_IDENT@2560..2568
            PATH@2560..2568
              Ident@2560..2564 "MyEq"
              ColonColon@2564..2566 "::"
              Ident@2566..2568 "eq"
          ARG_LIST@2568..2574
            LParen@2568..2569 "("
            ARG@2569..2572
              EXPR_IDENT@2569..2570
                PATH@2569..2570
                  Ident@2569..2570 "a"
              Comma@2570..2571 ","
              Whitespace@2571..2572 " "
            ARG@2572..2573
              EXPR_IDENT@2572..2573
                PATH@2572..2573
                  Ident@2572..2573 "b"
            RParen@2573..2574 ")"
        Semi@2574..2575 ";"
        Whitespace@2575..2580 "\n    "
      STMT_LET@2580..2612
        LetKeyword@2580..2583 "let"
        Whitespace@2583..2584 " "
        PATTERN_VARIABLE@2584..2591
          Ident@2584..2590 "header"
          Whitespace@2590..2591 " "
        Eq@2591..2592 "="
        Whitespace@2592..2593 " "
        EXPR_CALL@2593..2606
          EXPR_IDENT@2593..2601
            PATH@2593..2601
              Ident@2593..2601 "tag_text"
          ARG_LIST@2601..2606
            LParen@2601..2602 "("
            ARG@2602..2605
              EXPR_IDENT@2602..2605
                PATH@2602..2605
                  Ident@2602..2605 "tag"
            RParen@2605..2606 ")"
        Semi@2606..2607 ";"
        Whitespace@2607..2612 "\n    "
      STMT_LET@2612..2648
        LetKeyword@2612..2615 "let"
        Whitespace@2615..2616 " "
        PATTERN_VARIABLE@2616..2621
          Ident@2616..2620 "repr"
          Whitespace@2620..2621 " "
        Eq@2621..2622 "="
        Whitespace@2622..2623 " "
        EXPR_CALL@2623..2642
          EXPR_IDENT@2623..2632
            PATH@2623..2632
              Ident@2623..2632 "show_both"
          ARG_LIST@2632..2642
            LParen@2632..2633 "("
            ARG@2633..2641
              EXPR_IDENT@2633..2641
                PATH@2633..2641
                  Ident@2633..2641 "combined"
            RParen@2641..2642 ")"
        Semi@2642..2643 ";"
        Whitespace@2643..2648 "\n    "
      STMT_LET@2648..2677
        LetKeyword@2648..2651 "let"
        Whitespace@2651..2652 " "
        PATTERN_VARIABLE@2652..2654
          Ident@2652..2653 "h"
          Whitespace@2653..2654 " "
        Eq@2654..2655 "="
        Whitespace@2655..2656 " "
        EXPR_CALL@2656..2671
          EXPR_BINARY@2656..2669
            EXPR_IDENT@2656..2664
              PATH@2656..2664
                Ident@2656..2664 "combined"
            Dot@2664..2665 "."
            EXPR_IDENT@2665..2669
              PATH@2665..2669
                Ident@2665..2669 "hash"
          ARG_LIST@2669..2671
            LParen@2669..2670 "("
            RParen@2670..2671 ")"
        Semi@2671..2672 ";"
        Whitespace@2672..2677 "\n    "
      EXPR_BINARY@2677..2765
        EXPR_PAREN@2677..2701
          LParen@2677..2678 "("
          EXPR_BINARY@2678..2699
            EXPR_PAREN@2678..2693
              LParen@2678..2679 "("
              EXPR_BINARY@2679..2691
                EXPR_IDENT@2679..2686
                  PATH@2679..2686
                    Ident@2679..2685 "header"
                    Whitespace@2685..2686 " "
                Plus@2686..2687 "+"
                Whitespace@2687..2688 " "
                EXPR_STR@2688..2691
                  Str@2688..2691 "\" \""
              RParen@2691..2692 ")"
              Whitespace@2692..2693 " "
            Plus@2693..2694 "+"
            Whitespace@2694..2695 " "
            EXPR_IDENT@2695..2699
              PATH@2695..2699
                Ident@2695..2699 "repr"
          RParen@2699..2700 ")"
          Whitespace@2700..2701 " "
        Plus@2701..2702 "+"
        Whitespace@2702..2703 " "
        EXPR_PAREN@2703..2765
          LParen@2703..2704 "("
          EXPR_BINARY@2704..2763
            EXPR_PAREN@2704..2733
              LParen@2704..2705 "("
              EXPR_BINARY@2705..2731
                EXPR_STR@2705..2714
                  Str@2705..2713 "\" | eq=\""
                  Whitespace@2713..2714 " "
                Plus@2714..2715 "+"
                Whitespace@2715..2716 " "
                EXPR_CALL@2716..2731
                  EXPR_IDENT@2716..2725
                    PATH@2716..2725
                      Ident@2716..2725 "bool_text"
                  ARG_LIST@2725..2731
                    LParen@2725..2726 "("
                    ARG@2726..2730
                      EXPR_IDENT@2726..2730
                        PATH@2726..2730
                          Ident@2726..2730 "same"
                    RParen@2730..2731 ")"
              RParen@2731..2732 ")"
              Whitespace@2732..2733 " "
            Plus@2733..2734 "+"
            Whitespace@2734..2735 " "
            EXPR_PAREN@2735..2763
              LParen@2735..2736 "("
              EXPR_BINARY@2736..2762
                EXPR_STR@2736..2747
                  Str@2736..2746 "\" | hash=\""
                  Whitespace@2746..2747 " "
                Plus@2747..2748 "+"
                Whitespace@2748..2749 " "
                EXPR_CALL@2749..2762
                  EXPR_BINARY@2749..2760
                    EXPR_IDENT@2749..2750
                      PATH@2749..2750
                        Ident@2749..2750 "h"
                    Dot@2750..2751 "."
                    EXPR_IDENT@2751..2760
                      PATH@2751..2760
                        Ident@2751..2760 "to_string"
                  ARG_LIST@2760..2762
                    LParen@2760..2761 "("
                    RParen@2761..2762 ")"
              RParen@2762..2763 ")"
          RParen@2763..2764 ")"
          Whitespace@2764..2765 "\n"
      RBrace@2765..2766 "}"
      Whitespace@2766..2768 "\n\n"
  FN@2768..2991
    FnKeyword@2768..2770 "fn"
    Whitespace@2770..2771 " "
    Ident@2771..2782 "full_report"
    GENERIC_LIST@2782..2859
      LBracket@2782..2783 "["
      GENERIC@2783..2839
        Ident@2783..2784 "T"
        Colon@2784..2785 ":"
        Whitespace@2785..2786 " "
        TRAIT_SET@2786..2839
          TYPE_TAPP@2786..2792
            PATH@2786..2792
              Ident@2786..2791 "Debug"
              Whitespace@2791..2792 " "
          Plus@2792..2793 "+"
          Whitespace@2793..2794 " "
          TYPE_TAPP@2794..2801
            PATH@2794..2801
              Ident@2794..2800 "MyHash"
              Whitespace@2800..2801 " "
          Plus@2801..2802 "+"
          Whitespace@2802..2803 " "
          TYPE_TAPP@2803..2811
            PATH@2803..2811
              Ident@2803..2810 "Display"
              Whitespace@2810..2811 " "
          Plus@2811..2812 "+"
          Whitespace@2812..2813 " "
          TYPE_TAPP@2813..2818
            PATH@2813..2818
              Ident@2813..2817 "MyEq"
              Whitespace@2817..2818 " "
          Plus@2818..2819 "+"
          Whitespace@2819..2820 " "
          TYPE_TAPP@2820..2824
            PATH@2820..2824
              Ident@2820..2823 "Add"
              Whitespace@2823..2824 " "
          Plus@2824..2825 "+"
          Whitespace@2825..2826 " "
          TYPE_TAPP@2826..2832
            PATH@2826..2832
              Ident@2826..2831 "Scale"
              Whitespace@2831..2832 " "
          Plus@2832..2833 "+"
          Whitespace@2833..2834 " "
          TYPE_TAPP@2834..2839
            PATH@2834..2839
              Ident@2834..2839 "Debug"
      Comma@2839..2840 ","
      Whitespace@2840..2841 " "
      GENERIC@2841..2858
        Ident@2841..2842 "Q"
        Colon@2842..2843 ":"
        Whitespace@2843..2844 " "
        TRAIT_SET@2844..2858
          TYPE_TAPP@2844..2850
            PATH@2844..2850
              Ident@2844..2849 "Debug"
              Whitespace@2849..2850 " "
          Plus@2850..2851 "+"
          Whitespace@2851..2852 " "
          TYPE_TAPP@2852..2858
            PATH@2852..2858
              Ident@2852..2858 "MyHash"
      RBracket@2858..2859 "]"
    PARAM_LIST@2859..2895
      LParen@2859..2860 "("
      Whitespace@2860..2865 "\n    "
      PARAM@2865..2877
        Ident@2865..2868 "tag"
        Colon@2868..2869 ":"
        Whitespace@2869..2870 " "
        TYPE_TAPP@2870..2871
          PATH@2870..2871
            Ident@2870..2871 "Q"
        Comma@2871..2872 ","
        Whitespace@2872..2877 "\n    "
      PARAM@2877..2887
        Ident@2877..2878 "a"
        Colon@2878..2879 ":"
        Whitespace@2879..2880 " "
        TYPE_TAPP@2880..2881
          PATH@2880..2881
            Ident@2880..2881 "T"
        Comma@2881..2882 ","
        Whitespace@2882..2887 "\n    "
      PARAM@2887..2893
        Ident@2887..2888 "b"
        Colon@2888..2889 ":"
        Whitespace@2889..2890 " "
        TYPE_TAPP@2890..2891
          PATH@2890..2891
            Ident@2890..2891 "T"
        Comma@2891..2892 ","
        Whitespace@2892..2893 "\n"
      RParen@2893..2894 ")"
      Whitespace@2894..2895 " "
    Arrow@2895..2897 "->"
    Whitespace@2897..2898 " "
    TYPE_STRING@2898..2905
      StringKeyword@2898..2904 "string"
      Whitespace@2904..2905 " "
    BLOCK@2905..2991
      LBrace@2905..2906 "{"
      Whitespace@2906..2911 "\n    "
      STMT_LET@2911..2955
        LetKeyword@2911..2914 "let"
        Whitespace@2914..2915 " "
        PATTERN_VARIABLE@2915..2924
          Ident@2915..2923 "combined"
          Whitespace@2923..2924 " "
        Eq@2924..2925 "="
        Whitespace@2925..2926 " "
        EXPR_CALL@2926..2949
          EXPR_IDENT@2926..2940
            PATH@2926..2940
              Ident@2926..2940 "combine_scaled"
          ARG_LIST@2940..2949
            LParen@2940..2941 "("
            ARG@2941..2944
              EXPR_IDENT@2941..2942
                PATH@2941..2942
                  Ident@2941..2942 "a"
              Comma@2942..2943 ","
              Whitespace@2943..2944 " "
            ARG@2944..2947
              EXPR_IDENT@2944..2945
                PATH@2944..2945
                  Ident@2944..2945 "b"
              Comma@2945..2946 ","
              Whitespace@2946..2947 " "
            ARG@2947..2948
              EXPR_INT@2947..2948
                Int@2947..2948 "2"
            RParen@2948..2949 ")"
        Semi@2949..2950 ";"
        Whitespace@2950..2955 "\n    "
      EXPR_CALL@2955..2988
        EXPR_IDENT@2955..2966
          PATH@2955..2966
            Ident@2955..2966 "report_pair"
        ARG_LIST@2966..2988
          LParen@2966..2967 "("
          ARG@2967..2972
            EXPR_IDENT@2967..2970
              PATH@2967..2970
                Ident@2967..2970 "tag"
            Comma@2970..2971 ","
            Whitespace@2971..2972 " "
          ARG@2972..2975
            EXPR_IDENT@2972..2973
              PATH@2972..2973
                Ident@2972..2973 "a"
            Comma@2973..2974 ","
            Whitespace@2974..2975 " "
          ARG@2975..2978
            EXPR_IDENT@2975..2976
              PATH@2975..2976
                Ident@2975..2976 "b"
            Comma@2976..2977 ","
            Whitespace@2977..2978 " "
          ARG@2978..2986
            EXPR_IDENT@2978..2986
              PATH@2978..2986
                Ident@2978..2986 "combined"
          RParen@2986..2987 ")"
          Whitespace@2987..2988 "\n"
      RBrace@2988..2989 "}"
      Whitespace@2989..2991 "\n\n"
  FN@2991..3248
    FnKeyword@2991..2993 "fn"
    Whitespace@2993..2994 " "
    Ident@2994..3005 "sum_and_tag"
    GENERIC_LIST@3005..3051
      LBracket@3005..3006 "["
      GENERIC@3006..3031
        Ident@3006..3007 "T"
        Colon@3007..3008 ":"
        Whitespace@3008..3009 " "
        TRAIT_SET@3009..3031
          TYPE_TAPP@3009..3013
            PATH@3009..3013
              Ident@3009..3012 "Add"
              Whitespace@3012..3013 " "
          Plus@3013..3014 "+"
          Whitespace@3014..3015 " "
          TYPE_TAPP@3015..3022
            PATH@3015..3022
              Ident@3015..3021 "MyHash"
              Whitespace@3021..3022 " "
          Plus@3022..3023 "+"
          Whitespace@3023..3024 " "
          TYPE_TAPP@3024..3031
            PATH@3024..3031
              Ident@3024..3031 "Inspect"
      Comma@3031..3032 ","
      Whitespace@3032..3033 " "
      GENERIC@3033..3050
        Ident@3033..3034 "Q"
        Colon@3034..3035 ":"
        Whitespace@3035..3036 " "
        TRAIT_SET@3036..3050
          TYPE_TAPP@3036..3042
            PATH@3036..3042
              Ident@3036..3041 "Debug"
              Whitespace@3041..3042 " "
          Plus@3042..3043 "+"
          Whitespace@3043..3044 " "
          TYPE_TAPP@3044..3050
            PATH@3044..3050
              Ident@3044..3050 "MyHash"
      RBracket@3050..3051 "]"
    PARAM_LIST@3051..3078
      LParen@3051..3052 "("
      PARAM@3052..3060
        Ident@3052..3055 "tag"
        Colon@3055..3056 ":"
        Whitespace@3056..3057 " "
        TYPE_TAPP@3057..3058
          PATH@3057..3058
            Ident@3057..3058 "Q"
        Comma@3058..3059 ","
        Whitespace@3059..3060 " "
      PARAM@3060..3066
        Ident@3060..3061 "x"
        Colon@3061..3062 ":"
        Whitespace@3062..3063 " "
        TYPE_TAPP@3063..3064
          PATH@3063..3064
            Ident@3063..3064 "T"
        Comma@3064..3065 ","
        Whitespace@3065..3066 " "
      PARAM@3066..3072
        Ident@3066..3067 "y"
        Colon@3067..3068 ":"
        Whitespace@3068..3069 " "
        TYPE_TAPP@3069..3070
          PATH@3069..3070
            Ident@3069..3070 "T"
        Comma@3070..3071 ","
        Whitespace@3071..3072 " "
      PARAM@3072..3076
        Ident@3072..3073 "z"
        Colon@3073..3074 ":"
        Whitespace@3074..3075 " "
        TYPE_TAPP@3075..3076
          PATH@3075..3076
            Ident@3075..3076 "T"
      RParen@3076..3077 ")"
      Whitespace@3077..3078 " "
    Arrow@3078..3080 "->"
    Whitespace@3080..3081 " "
    TYPE_STRING@3081..3088
      StringKeyword@3081..3087 "string"
      Whitespace@3087..3088 " "
    BLOCK@3088..3248
      LBrace@3088..3089 "{"
      Whitespace@3089..3094 "\n    "
      STMT_LET@3094..3127
        LetKeyword@3094..3097 "let"
        Whitespace@3097..3098 " "
        PATTERN_VARIABLE@3098..3104
          Ident@3098..3103 "total"
          Whitespace@3103..3104 " "
        Eq@3104..3105 "="
        Whitespace@3105..3106 " "
        EXPR_CALL@3106..3121
          EXPR_BINARY@3106..3118
            EXPR_CALL@3106..3114
              EXPR_BINARY@3106..3111
                EXPR_IDENT@3106..3107
                  PATH@3106..3107
                    Ident@3106..3107 "x"
                Dot@3107..3108 "."
                EXPR_IDENT@3108..3111
                  PATH@3108..3111
                    Ident@3108..3111 "add"
              ARG_LIST@3111..3114
                LParen@3111..3112 "("
                ARG@3112..3113
                  EXPR_IDENT@3112..3113
                    PATH@3112..3113
                      Ident@3112..3113 "y"
                RParen@3113..3114 ")"
            Dot@3114..3115 "."
            EXPR_IDENT@3115..3118
              PATH@3115..3118
                Ident@3115..3118 "add"
          ARG_LIST@3118..3121
            LParen@3118..3119 "("
            ARG@3119..3120
              EXPR_IDENT@3119..3120
                PATH@3119..3120
                  Ident@3119..3120 "z"
            RParen@3120..3121 ")"
        Semi@3121..3122 ";"
        Whitespace@3122..3127 "\n    "
      STMT_LET@3127..3159
        LetKeyword@3127..3130 "let"
        Whitespace@3130..3131 " "
        PATTERN_VARIABLE@3131..3138
          Ident@3131..3137 "header"
          Whitespace@3137..3138 " "
        Eq@3138..3139 "="
        Whitespace@3139..3140 " "
        EXPR_CALL@3140..3153
          EXPR_IDENT@3140..3148
            PATH@3140..3148
              Ident@3140..3148 "tag_text"
          ARG_LIST@3148..3153
            LParen@3148..3149 "("
            ARG@3149..3152
              EXPR_IDENT@3149..3152
                PATH@3149..3152
                  Ident@3149..3152 "tag"
            RParen@3152..3153 ")"
        Semi@3153..3154 ";"
        Whitespace@3154..3159 "\n    "
      STMT_LET@3159..3185
        LetKeyword@3159..3162 "let"
        Whitespace@3162..3163 " "
        PATTERN_VARIABLE@3163..3165
          Ident@3163..3164 "h"
          Whitespace@3164..3165 " "
        Eq@3165..3166 "="
        Whitespace@3166..3167 " "
        EXPR_CALL@3167..3179
          EXPR_BINARY@3167..3177
            EXPR_IDENT@3167..3172
              PATH@3167..3172
                Ident@3167..3172 "total"
            Dot@3172..3173 "."
            EXPR_IDENT@3173..3177
              PATH@3173..3177
                Ident@3173..3177 "hash"
          ARG_LIST@3177..3179
            LParen@3177..3178 "("
            RParen@3178..3179 ")"
        Semi@3179..3180 ";"
        Whitespace@3180..3185 "\n    "
      EXPR_BINARY@3185..3245
        EXPR_PAREN@3185..3220
          LParen@3185..3186 "("
          EXPR_BINARY@3186..3218
            EXPR_PAREN@3186..3201
              LParen@3186..3187 "("
              EXPR_BINARY@3187..3199
                EXPR_IDENT@3187..3194
                  PATH@3187..3194
                    Ident@3187..3193 "header"
                    Whitespace@3193..3194 " "
                Plus@3194..3195 "+"
                Whitespace@3195..3196 " "
                EXPR_STR@3196..3199
                  Str@3196..3199 "\" \""
              RParen@3199..3200 ")"
              Whitespace@3200..3201 " "
            Plus@3201..3202 "+"
            Whitespace@3202..3203 " "
            EXPR_CALL@3203..3218
              EXPR_BINARY@3203..3216
                EXPR_IDENT@3203..3208
                  PATH@3203..3208
                    Ident@3203..3208 "total"
                Dot@3208..3209 "."
                EXPR_IDENT@3209..3216
                  PATH@3209..3216
                    Ident@3209..3216 "inspect"
              ARG_LIST@3216..3218
                LParen@3216..3217 "("
                RParen@3217..3218 ")"
          RParen@3218..3219 ")"
          Whitespace@3219..3220 " "
        Plus@3220..3221 "+"
        Whitespace@3221..3222 " "
        EXPR_PAREN@3222..3245
          LParen@3222..3223 "("
          EXPR_BINARY@3223..3243
            EXPR_STR@3223..3228
              Str@3223..3227 "\" @\""
              Whitespace@3227..3228 " "
            Plus@3228..3229 "+"
            Whitespace@3229..3230 " "
            EXPR_CALL@3230..3243
              EXPR_BINARY@3230..3241
                EXPR_IDENT@3230..3231
                  PATH@3230..3231
                    Ident@3230..3231 "h"
                Dot@3231..3232 "."
                EXPR_IDENT@3232..3241
                  PATH@3232..3241
                    Ident@3232..3241 "to_string"
              ARG_LIST@3241..3243
                LParen@3241..3242 "("
                RParen@3242..3243 ")"
          RParen@3243..3244 ")"
          Whitespace@3244..3245 "\n"
      RBrace@3245..3246 "}"
      Whitespace@3246..3248 "\n\n"
  FN@3248..3787
    FnKeyword@3248..3250 "fn"
    Whitespace@3250..3251 " "
    Ident@3251..3255 "main"
    PARAM_LIST@3255..3258
      LParen@3255..3256 "("
      RParen@3256..3257 ")"
      Whitespace@3257..3258 " "
    BLOCK@3258..3787
      LBrace@3258..3259 "{"
      Whitespace@3259..3264 "\n    "
      STMT_LET@3264..3288
        LetKeyword@3264..3267 "let"
        Whitespace@3267..3268 " "
        PATTERN_VARIABLE@3268..3271
          Ident@3268..3271 "tag"
        Colon@3271..3272 ":"
        Whitespace@3272..3273 " "
        TYPE_INT32@3273..3279
          Int32Keyword@3273..3278 "int32"
          Whitespace@3278..3279 " "
        Eq@3279..3280 "="
        Whitespace@3280..3281 " "
        EXPR_INT@3281..3282
          Int@3281..3282 "7"
        Semi@3282..3283 ";"
        Whitespace@3283..3288 "\n    "
      STMT_LET@3288..3314
        LetKeyword@3288..3291 "let"
        Whitespace@3291..3292 " "
        PATTERN_VARIABLE@3292..3296
          Ident@3292..3296 "left"
        Colon@3296..3297 ":"
        Whitespace@3297..3298 " "
        TYPE_INT32@3298..3304
          Int32Keyword@3298..3303 "int32"
          Whitespace@3303..3304 " "
        Eq@3304..3305 "="
        Whitespace@3305..3306 " "
        EXPR_INT@3306..3308
          Int@3306..3308 "10"
        Semi@3308..3309 ";"
        Whitespace@3309..3314 "\n    "
      STMT_LET@3314..3341
        LetKeyword@3314..3317 "let"
        Whitespace@3317..3318 " "
        PATTERN_VARIABLE@3318..3323
          Ident@3318..3323 "right"
        Colon@3323..3324 ":"
        Whitespace@3324..3325 " "
        TYPE_INT32@3325..3331
          Int32Keyword@3325..3330 "int32"
          Whitespace@3330..3331 " "
        Eq@3331..3332 "="
        Whitespace@3332..3333 " "
        EXPR_INT@3333..3335
          Int@3333..3335 "32"
        Semi@3335..3336 ";"
        Whitespace@3336..3341 "\n    "
      STMT_LET@3341..3369
        LetKeyword@3341..3344 "let"
        Whitespace@3344..3345 " "
        PATTERN_VARIABLE@3345..3352
          Ident@3345..3352 "sum_tag"
        Colon@3352..3353 ":"
        Whitespace@3353..3354 " "
        TYPE_INT32@3354..3360
          Int32Keyword@3354..3359 "int32"
          Whitespace@3359..3360 " "
        Eq@3360..3361 "="
        Whitespace@3361..3362 " "
        EXPR_INT@3362..3363
          Int@3362..3363 "0"
        Semi@3363..3364 ";"
        Whitespace@3364..3369 "\n    "
      STMT_LET@3369..3395
        LetKeyword@3369..3372 "let"
        Whitespace@3372..3373 " "
        PATTERN_VARIABLE@3373..3378
          Ident@3373..3378 "first"
        Colon@3378..3379 ":"
        Whitespace@3379..3380 " "
        TYPE_INT32@3380..3386
          Int32Keyword@3380..3385 "int32"
          Whitespace@3385..3386 " "
        Eq@3386..3387 "="
        Whitespace@3387..3388 " "
        EXPR_INT@3388..3389
          Int@3388..3389 "1"
        Semi@3389..3390 ";"
        Whitespace@3390..3395 "\n    "
      STMT_LET@3395..3422
        LetKeyword@3395..3398 "let"
        Whitespace@3398..3399 " "
        PATTERN_VARIABLE@3399..3405
          Ident@3399..3405 "second"
        Colon@3405..3406 ":"
        Whitespace@3406..3407 " "
        TYPE_INT32@3407..3413
          Int32Keyword@3407..3412 "int32"
          Whitespace@3412..3413 " "
        Eq@3413..3414 "="
        Whitespace@3414..3415 " "
        EXPR_INT@3415..3416
          Int@3415..3416 "2"
        Semi@3416..3417 ";"
        Whitespace@3417..3422 "\n    "
      STMT_LET@3422..3448
        LetKeyword@3422..3425 "let"
        Whitespace@3425..3426 " "
        PATTERN_VARIABLE@3426..3431
          Ident@3426..3431 "third"
        Colon@3431..3432 ":"
        Whitespace@3432..3433 " "
        TYPE_INT32@3433..3439
          Int32Keyword@3433..3438 "int32"
          Whitespace@3438..3439 " "
        Eq@3439..3440 "="
        Whitespace@3440..3441 " "
        EXPR_INT@3441..3442
          Int@3441..3442 "3"
        Semi@3442..3443 ";"
        Whitespace@3443..3448 "\n    "
      STMT_LET@3448..3500
        LetKeyword@3448..3451 "let"
        Whitespace@3451..3452 " "
        PATTERN_WILDCARD@3452..3454
          WildcardKeyword@3452..3453 "_"
          Whitespace@3453..3454 " "
        Eq@3454..3455 "="
        Whitespace@3455..3456 " "
        EXPR_CALL@3456..3494
          EXPR_IDENT@3456..3463
            PATH@3456..3463
              Ident@3456..3463 "println"
          ARG_LIST@3463..3494
            LParen@3463..3464 "("
            ARG@3464..3493
              EXPR_CALL@3464..3493
                EXPR_IDENT@3464..3475
                  PATH@3464..3475
                    Ident@3464..3475 "full_report"
                ARG_LIST@3475..3493
                  LParen@3475..3476 "("
                  ARG@3476..3481
                    EXPR_IDENT@3476..3479
                      PATH@3476..3479
                        Ident@3476..3479 "tag"
                    Comma@3479..3480 ","
                    Whitespace@3480..3481 " "
                  ARG@3481..3487
                    EXPR_IDENT@3481..3485
                      PATH@3481..3485
                        Ident@3481..3485 "left"
                    Comma@3485..3486 ","
                    Whitespace@3486..3487 " "
                  ARG@3487..3492
                    EXPR_IDENT@3487..3492
                      PATH@3487..3492
                        Ident@3487..3492 "right"
                  RParen@3492..3493 ")"
            RParen@3493..3494 ")"
        Semi@3494..3495 ";"
        Whitespace@3495..3500 "\n    "
      STMT_LET@3500..3595
        LetKeyword@3500..3503 "let"
        Whitespace@3503..3504 " "
        PATTERN_WILDCARD@3504..3506
          WildcardKeyword@3504..3505 "_"
          Whitespace@3505..3506 " "
        Eq@3506..3507 "="
        Whitespace@3507..3508 " "
        EXPR_CALL@3508..3589
          EXPR_IDENT@3508..3515
            PATH@3508..3515
              Ident@3508..3515 "println"
          ARG_LIST@3515..3589
            LParen@3515..3516 "("
            ARG@3516..3588
              EXPR_CALL@3516..3588
                EXPR_IDENT@3516..3527
                  PATH@3516..3527
                    Ident@3516..3527 "full_report"
                ARG_LIST@3527..3588
                  LParen@3527..3528 "("
                  ARG@3528..3549
                    EXPR_STRUCT_LITERAL@3528..3547
                      PATH@3528..3534
                        Ident@3528..3533 "Boxed"
                        Whitespace@3533..3534 " "
                      STRUCT_LITERAL_FIELD_LIST@3534..3547
                        LBrace@3534..3535 "{"
                        Whitespace@3535..3536 " "
                        STRUCT_LITERAL_FIELD@3536..3546
                          Ident@3536..3541 "value"
                          Colon@3541..3542 ":"
                          Whitespace@3542..3543 " "
                          EXPR_INT@3543..3546
                            Int@3543..3545 "99"
                            Whitespace@3545..3546 " "
                        RBrace@3546..3547 "}"
                    Comma@3547..3548 ","
                    Whitespace@3548..3549 " "
                  ARG@3549..3569
                    EXPR_STRUCT_LITERAL@3549..3567
                      PATH@3549..3555
                        Ident@3549..3554 "Boxed"
                        Whitespace@3554..3555 " "
                      STRUCT_LITERAL_FIELD_LIST@3555..3567
                        LBrace@3555..3556 "{"
                        Whitespace@3556..3557 " "
                        STRUCT_LITERAL_FIELD@3557..3566
                          Ident@3557..3562 "value"
                          Colon@3562..3563 ":"
                          Whitespace@3563..3564 " "
                          EXPR_INT@3564..3566
                            Int@3564..3565 "3"
                            Whitespace@3565..3566 " "
                        RBrace@3566..3567 "}"
                    Comma@3567..3568 ","
                    Whitespace@3568..3569 " "
                  ARG@3569..3587
                    EXPR_STRUCT_LITERAL@3569..3587
                      PATH@3569..3575
                        Ident@3569..3574 "Boxed"
                        Whitespace@3574..3575 " "
                      STRUCT_LITERAL_FIELD_LIST@3575..3587
                        LBrace@3575..3576 "{"
                        Whitespace@3576..3577 " "
                        STRUCT_LITERAL_FIELD@3577..3586
                          Ident@3577..3582 "value"
                          Colon@3582..3583 ":"
                          Whitespace@3583..3584 " "
                          EXPR_INT@3584..3586
                            Int@3584..3585 "4"
                            Whitespace@3585..3586 " "
                        RBrace@3586..3587 "}"
                  RParen@3587..3588 ")"
            RParen@3588..3589 ")"
        Semi@3589..3590 ";"
        Whitespace@3590..3595 "\n    "
      STMT_LET@3595..3660
        LetKeyword@3595..3598 "let"
        Whitespace@3598..3599 " "
        PATTERN_WILDCARD@3599..3601
          WildcardKeyword@3599..3600 "_"
          Whitespace@3600..3601 " "
        Eq@3601..3602 "="
        Whitespace@3602..3603 " "
        EXPR_CALL@3603..3654
          EXPR_IDENT@3603..3610
            PATH@3603..3610
              Ident@3603..3610 "println"
          ARG_LIST@3610..3654
            LParen@3610..3611 "("
            ARG@3611..3653
              EXPR_CALL@3611..3653
                EXPR_IDENT@3611..3622
                  PATH@3611..3622
                    Ident@3611..3622 "sum_and_tag"
                ARG_LIST@3622..3653
                  LParen@3622..3623 "("
                  ARG@3623..3632
                    EXPR_IDENT@3623..3630
                      PATH@3623..3630
                        Ident@3623..3630 "sum_tag"
                    Comma@3630..3631 ","
                    Whitespace@3631..3632 " "
                  ARG@3632..3639
                    EXPR_IDENT@3632..3637
                      PATH@3632..3637
                        Ident@3632..3637 "first"
                    Comma@3637..3638 ","
                    Whitespace@3638..3639 " "
                  ARG@3639..3647
                    EXPR_IDENT@3639..3645
                      PATH@3639..3645
                        Ident@3639..3645 "second"
                    Comma@3645..3646 ","
                    Whitespace@3646..3647 " "
                  ARG@3647..3652
                    EXPR_IDENT@3647..3652
                      PATH@3647..3652
                        Ident@3647..3652 "third"
                  RParen@3652..3653 ")"
            RParen@3653..3654 ")"
        Semi@3654..3655 ";"
        Whitespace@3655..3660 "\n    "
      STMT_LET@3660..3785
        LetKeyword@3660..3663 "let"
        Whitespace@3663..3664 " "
        PATTERN_WILDCARD@3664..3666
          WildcardKeyword@3664..3665 "_"
          Whitespace@3665..3666 " "
        Eq@3666..3667 "="
        Whitespace@3667..3668 " "
        EXPR_CALL@3668..3783
          EXPR_IDENT@3668..3675
            PATH@3668..3675
              Ident@3668..3675 "println"
          ARG_LIST@3675..3783
            LParen@3675..3676 "("
            Whitespace@3676..3685 "\n        "
            ARG@3685..3782
              EXPR_CALL@3685..3776
                EXPR_IDENT@3685..3696
                  PATH@3685..3696
                    Ident@3685..3696 "sum_and_tag"
                ARG_LIST@3696..3776
                  LParen@3696..3697 "("
                  ARG@3697..3717
                    EXPR_STRUCT_LITERAL@3697..3715
                      PATH@3697..3703
                        Ident@3697..3702 "Boxed"
                        Whitespace@3702..3703 " "
                      STRUCT_LITERAL_FIELD_LIST@3703..3715
                        LBrace@3703..3704 "{"
                        Whitespace@3704..3705 " "
                        STRUCT_LITERAL_FIELD@3705..3714
                          Ident@3705..3710 "value"
                          Colon@3710..3711 ":"
                          Whitespace@3711..3712 " "
                          EXPR_INT@3712..3714
                            Int@3712..3713 "1"
                            Whitespace@3713..3714 " "
                        RBrace@3714..3715 "}"
                    Comma@3715..3716 ","
                    Whitespace@3716..3717 " "
                  ARG@3717..3737
                    EXPR_STRUCT_LITERAL@3717..3735
                      PATH@3717..3723
                        Ident@3717..3722 "Boxed"
                        Whitespace@3722..3723 " "
                      STRUCT_LITERAL_FIELD_LIST@3723..3735
                        LBrace@3723..3724 "{"
                        Whitespace@3724..3725 " "
                        STRUCT_LITERAL_FIELD@3725..3734
                          Ident@3725..3730 "value"
                          Colon@3730..3731 ":"
                          Whitespace@3731..3732 " "
                          EXPR_INT@3732..3734
                            Int@3732..3733 "5"
                            Whitespace@3733..3734 " "
                        RBrace@3734..3735 "}"
                    Comma@3735..3736 ","
                    Whitespace@3736..3737 " "
                  ARG@3737..3757
                    EXPR_STRUCT_LITERAL@3737..3755
                      PATH@3737..3743
                        Ident@3737..3742 "Boxed"
                        Whitespace@3742..3743 " "
                      STRUCT_LITERAL_FIELD_LIST@3743..3755
                        LBrace@3743..3744 "{"
                        Whitespace@3744..3745 " "
                        STRUCT_LITERAL_FIELD@3745..3754
                          Ident@3745..3750 "value"
                          Colon@3750..3751 ":"
                          Whitespace@3751..3752 " "
                          EXPR_INT@3752..3754
                            Int@3752..3753 "6"
                            Whitespace@3753..3754 " "
                        RBrace@3754..3755 "}"
                    Comma@3755..3756 ","
                    Whitespace@3756..3757 " "
                  ARG@3757..3775
                    EXPR_STRUCT_LITERAL@3757..3775
                      PATH@3757..3763
                        Ident@3757..3762 "Boxed"
                        Whitespace@3762..3763 " "
                      STRUCT_LITERAL_FIELD_LIST@3763..3775
                        LBrace@3763..3764 "{"
                        Whitespace@3764..3765 " "
                        STRUCT_LITERAL_FIELD@3765..3774
                          Ident@3765..3770 "value"
                          Colon@3770..3771 ":"
                          Whitespace@3771..3772 " "
                          EXPR_INT@3772..3774
                            Int@3772..3773 "7"
                            Whitespace@3773..3774 " "
                        RBrace@3774..3775 "}"
                  RParen@3775..3776 ")"
              Comma@3776..3777 ","
              Whitespace@3777..3782 "\n    "
            RParen@3782..3783 ")"
        Semi@3783..3784 ";"
        Whitespace@3784..3785 "\n"
      RBrace@3785..3786 "}"
      Whitespace@3786..3787 "\n"