FILE@0..4651
  STRUCT@0..86
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..14 "Tracker"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    STRUCT_FIELD_LIST@21..86
      STRUCT_FIELD@21..34
        Ident@21..26 "label"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_STRING@28..34
          StringKeyword@28..34 "string"
      Comma@34..35 ","
      Whitespace@35..40 "\n    "
      STRUCT_FIELD@40..57
        Ident@40..45 "count"
        Colon@45..46 ":"
        Whitespace@46..47 " "
        TYPE_TAPP@47..57
          PATH@47..50
            Ident@47..50 "Ref"
          TYPE_PARAM_LIST@50..57
            LBracket@50..51 "["
            TYPE_INT32@51..56
              Int32Keyword@51..56 "int32"
            RBracket@56..57 "]"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      STRUCT_FIELD@63..81
        Ident@63..70 "toggled"
        Colon@70..71 ":"
        Whitespace@71..72 " "
        TYPE_TAPP@72..81
          PATH@72..75
            Ident@72..75 "Ref"
          TYPE_PARAM_LIST@75..81
            LBracket@75..76 "["
            TYPE_BOOL@76..80
              BoolKeyword@76..80 "bool"
            RBracket@80..81 "]"
      Comma@81..82 ","
      Whitespace@82..83 "\n"
      RBrace@83..84 "}"
      Whitespace@84..86 "\n\n"
  ENUM@86..147
    EnumKeyword@86..90 "enum"
    Whitespace@90..91 " "
    Ident@91..97 "Record"
    GENERIC_LIST@97..101
      LBracket@97..98 "["
      GENERIC@98..99
        Ident@98..99 "T"
      RBracket@99..100 "]"
      Whitespace@100..101 " "
    LBrace@101..102 "{"
    Whitespace@102..107 "\n    "
    VARIANT_LIST@107..147
      VARIANT@107..115
        Ident@107..112 "Value"
        TYPE_LIST@112..115
          LParen@112..113 "("
          TYPE_TAPP@113..114
            PATH@113..114
              Ident@113..114 "T"
          RParen@114..115 ")"
      Comma@115..116 ","
      Whitespace@116..121 "\n    "
      VARIANT@121..131
        Ident@121..125 "Pair"
        TYPE_LIST@125..131
          LParen@125..126 "("
          TYPE_TAPP@126..127
            PATH@126..127
              Ident@126..127 "T"
          Comma@127..128 ","
          Whitespace@128..129 " "
          TYPE_TAPP@129..130
            PATH@129..130
              Ident@129..130 "T"
          RParen@130..131 ")"
      Comma@131..132 ","
      Whitespace@132..137 "\n    "
      VARIANT@137..142
        Ident@137..142 "Empty"
      Comma@142..143 ","
      Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..147 "\n\n"
  ENUM@147..189
    EnumKeyword@147..151 "enum"
    Whitespace@151..152 " "
    Ident@152..157 "Maybe"
    GENERIC_LIST@157..161
      LBracket@157..158 "["
      GENERIC@158..159
        Ident@158..159 "T"
      RBracket@159..160 "]"
      Whitespace@160..161 " "
    LBrace@161..162 "{"
    Whitespace@162..167 "\n    "
    VARIANT_LIST@167..189
      VARIANT@167..174
        Ident@167..171 "Some"
        TYPE_LIST@171..174
          LParen@171..172 "("
          TYPE_TAPP@172..173
            PATH@172..173
              Ident@172..173 "T"
          RParen@173..174 ")"
      Comma@174..175 ","
      Whitespace@175..180 "\n    "
      VARIANT@180..184
        Ident@180..184 "None"
      Comma@184..185 ","
      Whitespace@185..186 "\n"
      RBrace@186..187 "}"
      Whitespace@187..189 "\n\n"
  TRAIT@189..242
    TraitKeyword@189..194 "trait"
    Whitespace@194..195 " "
    Ident@195..203 "Describe"
    Whitespace@203..204 " "
    LBrace@204..205 "{"
    Whitespace@205..210 "\n    "
    TRAIT_METHOD_SIG_LIST@210..242
      TRAIT_METHOD_SIG@210..237
        FnKeyword@210..212 "fn"
        Whitespace@212..213 " "
        Ident@213..221 "describe"
        TYPE_LIST@221..228
          LParen@221..222 "("
          TYPE_TAPP@222..226
            PATH@222..226
              Ident@222..226 "Self"
          RParen@226..227 ")"
          Whitespace@227..228 " "
        Arrow@228..230 "->"
        Whitespace@230..231 " "
        TYPE_STRING@231..237
          StringKeyword@231..237 "string"
      Semi@237..238 ";"
      Whitespace@238..239 "\n"
      RBrace@239..240 "}"
      Whitespace@240..242 "\n\n"
  IMPL@242..757
    ImplKeyword@242..246 "impl"
    Whitespace@246..247 " "
    PATH@247..256
      Ident@247..255 "Describe"
      Whitespace@255..256 " "
    ForKeyword@256..259 "for"
    Whitespace@259..260 " "
    TYPE_TAPP@260..268
      PATH@260..268
        Ident@260..267 "Tracker"
        Whitespace@267..268 " "
    LBrace@268..269 "{"
    Whitespace@269..274 "\n    "
    FN@274..754
      FnKeyword@274..276 "fn"
      Whitespace@276..277 " "
      Ident@277..285 "describe"
      PARAM_LIST@285..301
        LParen@285..286 "("
        PARAM@286..299
          Ident@286..290 "self"
          Colon@290..291 ":"
          Whitespace@291..292 " "
          TYPE_TAPP@292..299
            PATH@292..299
              Ident@292..299 "Tracker"
        RParen@299..300 ")"
        Whitespace@300..301 " "
      Arrow@301..303 "->"
      Whitespace@303..304 " "
      TYPE_STRING@304..311
        StringKeyword@304..310 "string"
        Whitespace@310..311 " "
      BLOCK@311..754
        LBrace@311..312 "{"
        Whitespace@312..321 "\n        "
        STMT_LET@321..398
          LetKeyword@321..324 "let"
          Whitespace@324..325 " "
          PATTERN_CONSTR@325..382
            PATH@325..333
              Ident@325..332 "Tracker"
              Whitespace@332..333 " "
            STRUCT_PATTERN_FIELD_LIST@333..382
              LBrace@333..334 "{"
              Whitespace@334..335 " "
              STRUCT_PATTERN_FIELD@335..347
                Ident@335..340 "label"
                Colon@340..341 ":"
                Whitespace@341..342 " "
                PATTERN_VARIABLE@342..347
                  Ident@342..347 "label"
              Comma@347..348 ","
              Whitespace@348..349 " "
              STRUCT_PATTERN_FIELD@349..361
                Ident@349..354 "count"
                Colon@354..355 ":"
                Whitespace@355..356 " "
                PATTERN_VARIABLE@356..361
                  Ident@356..361 "count"
              Comma@361..362 ","
              Whitespace@362..363 " "
              STRUCT_PATTERN_FIELD@363..380
                Ident@363..370 "toggled"
                Colon@370..371 ":"
                Whitespace@371..372 " "
                PATTERN_VARIABLE@372..380
                  Ident@372..379 "toggled"
                  Whitespace@379..380 " "
              RBrace@380..381 "}"
              Whitespace@381..382 " "
          Eq@382..383 "="
          Whitespace@383..384 " "
          EXPR_IDENT@384..388
            PATH@384..388
              Ident@384..388 "self"
          Semi@388..389 ";"
          Whitespace@389..398 "\n        "
        STMT_LET@398..436
          LetKeyword@398..401 "let"
          Whitespace@401..402 " "
          PATTERN_VARIABLE@402..410
            Ident@402..409 "current"
            Whitespace@409..410 " "
          Eq@410..411 "="
          Whitespace@411..412 " "
          EXPR_CALL@412..426
            EXPR_IDENT@412..419
              PATH@412..419
                Ident@412..419 "ref_get"
            ARG_LIST@419..426
              LParen@419..420 "("
              ARG@420..425
                EXPR_IDENT@420..425
                  PATH@420..425
                    Ident@420..425 "count"
              RParen@425..426 ")"
          Semi@426..427 ";"
          Whitespace@427..436 "\n        "
        STMT_LET@436..473
          LetKeyword@436..439 "let"
          Whitespace@439..440 " "
          PATTERN_VARIABLE@440..445
            Ident@440..444 "flag"
            Whitespace@444..445 " "
          Eq@445..446 "="
          Whitespace@446..447 " "
          EXPR_CALL@447..463
            EXPR_IDENT@447..454
              PATH@447..454
                Ident@447..454 "ref_get"
            ARG_LIST@454..463
              LParen@454..455 "("
              ARG@455..462
                EXPR_IDENT@455..462
                  PATH@455..462
                    Ident@455..462 "toggled"
              RParen@462..463 ")"
          Semi@463..464 ";"
          Whitespace@464..473 "\n        "
        STMT_LET@473..518
          LetKeyword@473..476 "let"
          Whitespace@476..477 " "
          PATTERN_VARIABLE@477..488
            Ident@477..487 "with_label"
            Whitespace@487..488 " "
          Eq@488..489 "="
          Whitespace@489..490 " "
          EXPR_BINARY@490..508
            EXPR_STR@490..501
              Str@490..500 "\"Tracker(\""
              Whitespace@500..501 " "
            Plus@501..502 "+"
            Whitespace@502..503 " "
            EXPR_IDENT@503..508
              PATH@503..508
                Ident@503..508 "label"
          Semi@508..509 ";"
          Whitespace@509..518 "\n        "
        STMT_LET@518..575
          LetKeyword@518..521 "let"
          Whitespace@521..522 " "
          PATTERN_VARIABLE@522..539
            Ident@522..538 "with_count_label"
            Whitespace@538..539 " "
          Eq@539..540 "="
          Whitespace@540..541 " "
          EXPR_BINARY@541..565
            EXPR_IDENT@541..552
              PATH@541..552
                Ident@541..551 "with_label"
                Whitespace@551..552 " "
            Plus@552..553 "+"
            Whitespace@553..554 " "
            EXPR_STR@554..565
              Str@554..565 "\", count: \""
          Semi@565..566 ";"
          Whitespace@566..575 "\n        "
        STMT_LET@575..645
          LetKeyword@575..578 "let"
          Whitespace@578..579 " "
          PATTERN_VARIABLE@579..590
            Ident@579..589 "with_count"
            Whitespace@589..590 " "
          Eq@590..591 "="
          Whitespace@591..592 " "
          EXPR_BINARY@592..635
            EXPR_IDENT@592..609
              PATH@592..609
                Ident@592..608 "with_count_label"
                Whitespace@608..609 " "
            Plus@609..610 "+"
            Whitespace@610..611 " "
            EXPR_CALL@611..635
              EXPR_IDENT@611..626
                PATH@611..626
                  Ident@611..626 "int32_to_string"
              ARG_LIST@626..635
                LParen@626..627 "("
                ARG@627..634
                  EXPR_IDENT@627..634
                    PATH@627..634
                      Ident@627..634 "current"
                RParen@634..635 ")"
          Semi@635..636 ";"
          Whitespace@636..645 "\n        "
        STMT_LET@645..703
          LetKeyword@645..648 "let"
          Whitespace@648..649 " "
          PATTERN_VARIABLE@649..665
            Ident@649..664 "with_flag_label"
            Whitespace@664..665 " "
          Eq@665..666 "="
          Whitespace@666..667 " "
          EXPR_BINARY@667..693
            EXPR_IDENT@667..678
              PATH@667..678
                Ident@667..677 "with_count"
                Whitespace@677..678 " "
            Plus@678..679 "+"
            Whitespace@679..680 " "
            EXPR_STR@680..693
              Str@680..693 "\", toggled: \""
          Semi@693..694 ";"
          Whitespace@694..703 "\n        "
        EXPR_BINARY@703..752
          EXPR_BINARY@703..742
            EXPR_IDENT@703..719
              PATH@703..719
                Ident@703..718 "with_flag_label"
                Whitespace@718..719 " "
            Plus@719..720 "+"
            Whitespace@720..721 " "
            EXPR_CALL@721..742
              EXPR_IDENT@721..735
                PATH@721..735
                  Ident@721..735 "bool_to_string"
              ARG_LIST@735..742
                LParen@735..736 "("
                ARG@736..740
                  EXPR_IDENT@736..740
                    PATH@736..740
                      Ident@736..740 "flag"
                RParen@740..741 ")"
                Whitespace@741..742 " "
          Plus@742..743 "+"
          Whitespace@743..744 " "
          EXPR_STR@744..752
            Str@744..747 "\")\""
            Whitespace@747..752 "\n    "
        RBrace@752..753 "}"
        Whitespace@753..754 "\n"
    RBrace@754..755 "}"
    Whitespace@755..757 "\n\n"
  IMPL@757..1156
    ImplKeyword@757..761 "impl"
    Whitespace@761..762 " "
    PATH@762..771
      Ident@762..770 "Describe"
      Whitespace@770..771 " "
    ForKeyword@771..774 "for"
    Whitespace@774..775 " "
    TYPE_TAPP@775..789
      PATH@775..781
        Ident@775..781 "Record"
      TYPE_PARAM_LIST@781..789
        LBracket@781..782 "["
        TYPE_INT32@782..787
          Int32Keyword@782..787 "int32"
        RBracket@787..788 "]"
        Whitespace@788..789 " "
    LBrace@789..790 "{"
    Whitespace@790..795 "\n    "
    FN@795..1153
      FnKeyword@795..797 "fn"
      Whitespace@797..798 " "
      Ident@798..806 "describe"
      PARAM_LIST@806..828
        LParen@806..807 "("
        PARAM@807..826
          Ident@807..811 "self"
          Colon@811..812 ":"
          Whitespace@812..813 " "
          TYPE_TAPP@813..826
            PATH@813..819
              Ident@813..819 "Record"
            TYPE_PARAM_LIST@819..826
              LBracket@819..820 "["
              TYPE_INT32@820..825
                Int32Keyword@820..825 "int32"
              RBracket@825..826 "]"
        RParen@826..827 ")"
        Whitespace@827..828 " "
      Arrow@828..830 "->"
      Whitespace@830..831 " "
      TYPE_STRING@831..838
        StringKeyword@831..837 "string"
        Whitespace@837..838 " "
      BLOCK@838..1153
        LBrace@838..839 "{"
        Whitespace@839..848 "\n        "
        EXPR_MATCH@848..1151
          MatchKeyword@848..853 "match"
          Whitespace@853..854 " "
          EXPR_IDENT@854..859
            PATH@854..859
              Ident@854..858 "self"
              Whitespace@858..859 " "
          MATCH_ARM_LIST@859..1151
            LBrace@859..860 "{"
            Whitespace@860..873 "\n            "
            MATCH_ARM@873..928
              PATTERN_CONSTR@873..886
                PATH@873..878
                  Ident@873..878 "Value"
                LParen@878..879 "("
                PATTERN_VARIABLE@879..884
                  Ident@879..884 "value"
                RParen@884..885 ")"
                Whitespace@885..886 " "
              FatArrow@886..888 "=>"
              Whitespace@888..889 " "
              EXPR_BINARY@889..928
                EXPR_BINARY@889..923
                  EXPR_STR@889..898
                    Str@889..897 "\"Value(\""
                    Whitespace@897..898 " "
                  Plus@898..899 "+"
                  Whitespace@899..900 " "
                  EXPR_CALL@900..923
                    EXPR_IDENT@900..915
                      PATH@900..915
                        Ident@900..915 "int32_to_string"
                    ARG_LIST@915..923
                      LParen@915..916 "("
                      ARG@916..921
                        EXPR_IDENT@916..921
                          PATH@916..921
                            Ident@916..921 "value"
                      RParen@921..922 ")"
                      Whitespace@922..923 " "
                Plus@923..924 "+"
                Whitespace@924..925 " "
                EXPR_STR@925..928
                  Str@925..928 "\")\""
            Comma@928..929 ","
            Whitespace@929..942 "\n            "
            MATCH_ARM@942..1105
              PATTERN_CONSTR@942..962
                PATH@942..946
                  Ident@942..946 "Pair"
                LParen@946..947 "("
                PATTERN_VARIABLE@947..953
                  Ident@947..953 "before"
                Comma@953..954 ","
                Whitespace@954..955 " "
                PATTERN_VARIABLE@955..960
                  Ident@955..960 "after"
                RParen@960..961 ")"
                Whitespace@961..962 " "
              FatArrow@962..964 "=>"
              Whitespace@964..965 " "
              BLOCK@965..1105
                LBrace@965..966 "{"
                Whitespace@966..983 "\n                "
                STMT_LET@983..1047
                  LetKeyword@983..986 "let"
                  Whitespace@986..987 " "
                  PATTERN_VARIABLE@987..994
                    Ident@987..993 "prefix"
                    Whitespace@993..994 " "
                  Eq@994..995 "="
                  Whitespace@995..996 " "
                  EXPR_BINARY@996..1029
                    EXPR_STR@996..1004
                      Str@996..1003 "\"Pair(\""
                      Whitespace@1003..1004 " "
                    Plus@1004..1005 "+"
                    Whitespace@1005..1006 " "
                    EXPR_CALL@1006..1029
                      EXPR_IDENT@1006..1021
                        PATH@1006..1021
                          Ident@1006..1021 "int32_to_string"
                      ARG_LIST@1021..1029
                        LParen@1021..1022 "("
                        ARG@1022..1028
                          EXPR_IDENT@1022..1028
                            PATH@1022..1028
                              Ident@1022..1028 "before"
                        RParen@1028..1029 ")"
                  Semi@1029..1030 ";"
                  Whitespace@1030..1047 "\n                "
                EXPR_BINARY@1047..1104
                  EXPR_BINARY@1047..1086
                    EXPR_BINARY@1047..1061
                      EXPR_IDENT@1047..1054
                        PATH@1047..1054
                          Ident@1047..1053 "prefix"
                          Whitespace@1053..1054 " "
                      Plus@1054..1055 "+"
                      Whitespace@1055..1056 " "
                      EXPR_STR@1056..1061
                        Str@1056..1060 "\", \""
                        Whitespace@1060..1061 " "
                    Plus@1061..1062 "+"
                    Whitespace@1062..1063 " "
                    EXPR_CALL@1063..1086
                      EXPR_IDENT@1063..1078
                        PATH@1063..1078
                          Ident@1063..1078 "int32_to_string"
                      ARG_LIST@1078..1086
                        LParen@1078..1079 "("
                        ARG@1079..1084
                          EXPR_IDENT@1079..1084
                            PATH@1079..1084
                              Ident@1079..1084 "after"
                        RParen@1084..1085 ")"
                        Whitespace@1085..1086 " "
                  Plus@1086..1087 "+"
                  Whitespace@1087..1088 " "
                  EXPR_STR@1088..1104
                    Str@1088..1091 "\")\""
                    Whitespace@1091..1104 "\n            "
                RBrace@1104..1105 "}"
            Comma@1105..1106 ","
            Whitespace@1106..1119 "\n            "
            MATCH_ARM@1119..1135
              PATTERN_VARIABLE@1119..1125
                Ident@1119..1124 "Empty"
                Whitespace@1124..1125 " "
              FatArrow@1125..1127 "=>"
              Whitespace@1127..1128 " "
              EXPR_STR@1128..1135
                Str@1128..1135 "\"Empty\""
            Comma@1135..1136 ","
            Whitespace@1136..1145 "\n        "
            RBrace@1145..1146 "}"
            Whitespace@1146..1151 "\n    "
        RBrace@1151..1152 "}"
        Whitespace@1152..1153 "\n"
    RBrace@1153..1154 "}"
    Whitespace@1154..1156 "\n\n"
  IMPL@1156..1504
    ImplKeyword@1156..1160 "impl"
    Whitespace@1160..1161 " "
    PATH@1161..1170
      Ident@1161..1169 "Describe"
      Whitespace@1169..1170 " "
    ForKeyword@1170..1173 "for"
    Whitespace@1173..1174 " "
    TYPE_TAPP@1174..1189
      PATH@1174..1180
        Ident@1174..1180 "Record"
      TYPE_PARAM_LIST@1180..1189
        LBracket@1180..1181 "["
        TYPE_STRING@1181..1187
          StringKeyword@1181..1187 "string"
        RBracket@1187..1188 "]"
        Whitespace@1188..1189 " "
    LBrace@1189..1190 "{"
    Whitespace@1190..1195 "\n    "
    FN@1195..1501
      FnKeyword@1195..1197 "fn"
      Whitespace@1197..1198 " "
      Ident@1198..1206 "describe"
      PARAM_LIST@1206..1229
        LParen@1206..1207 "("
        PARAM@1207..1227
          Ident@1207..1211 "self"
          Colon@1211..1212 ":"
          Whitespace@1212..1213 " "
          TYPE_TAPP@1213..1227
            PATH@1213..1219
              Ident@1213..1219 "Record"
            TYPE_PARAM_LIST@1219..1227
              LBracket@1219..1220 "["
              TYPE_STRING@1220..1226
                StringKeyword@1220..1226 "string"
              RBracket@1226..1227 "]"
        RParen@1227..1228 ")"
        Whitespace@1228..1229 " "
      Arrow@1229..1231 "->"
      Whitespace@1231..1232 " "
      TYPE_STRING@1232..1239
        StringKeyword@1232..1238 "string"
        Whitespace@1238..1239 " "
      BLOCK@1239..1501
        LBrace@1239..1240 "{"
        Whitespace@1240..1249 "\n        "
        EXPR_MATCH@1249..1499
          MatchKeyword@1249..1254 "match"
          Whitespace@1254..1255 " "
          EXPR_IDENT@1255..1260
            PATH@1255..1260
              Ident@1255..1259 "self"
              Whitespace@1259..1260 " "
          MATCH_ARM_LIST@1260..1499
            LBrace@1260..1261 "{"
            Whitespace@1261..1274 "\n            "
            MATCH_ARM@1274..1310
              PATTERN_CONSTR@1274..1286
                PATH@1274..1279
                  Ident@1274..1279 "Value"
                LParen@1279..1280 "("
                PATTERN_VARIABLE@1280..1284
                  Ident@1280..1284 "text"
                RParen@1284..1285 ")"
                Whitespace@1285..1286 " "
              FatArrow@1286..1288 "=>"
              Whitespace@1288..1289 " "
              EXPR_BINARY@1289..1310
                EXPR_BINARY@1289..1305
                  EXPR_STR@1289..1298
                    Str@1289..1297 "\"Value(\""
                    Whitespace@1297..1298 " "
                  Plus@1298..1299 "+"
                  Whitespace@1299..1300 " "
                  EXPR_IDENT@1300..1305
                    PATH@1300..1305
                      Ident@1300..1304 "text"
                      Whitespace@1304..1305 " "
                Plus@1305..1306 "+"
                Whitespace@1306..1307 " "
                EXPR_STR@1307..1310
                  Str@1307..1310 "\")\""
            Comma@1310..1311 ","
            Whitespace@1311..1324 "\n            "
            MATCH_ARM@1324..1453
              PATTERN_CONSTR@1324..1344
                PATH@1324..1328
                  Ident@1324..1328 "Pair"
                LParen@1328..1329 "("
                PATTERN_VARIABLE@1329..1335
                  Ident@1329..1335 "before"
                Comma@1335..1336 ","
                Whitespace@1336..1337 " "
                PATTERN_VARIABLE@1337..1342
                  Ident@1337..1342 "after"
                RParen@1342..1343 ")"
                Whitespace@1343..1344 " "
              FatArrow@1344..1346 "=>"
              Whitespace@1346..1347 " "
              BLOCK@1347..1453
                LBrace@1347..1348 "{"
                Whitespace@1348..1365 "\n                "
                STMT_LET@1365..1412
                  LetKeyword@1365..1368 "let"
                  Whitespace@1368..1369 " "
                  PATTERN_VARIABLE@1369..1376
                    Ident@1369..1375 "prefix"
                    Whitespace@1375..1376 " "
                  Eq@1376..1377 "="
                  Whitespace@1377..1378 " "
                  EXPR_BINARY@1378..1394
                    EXPR_STR@1378..1386
                      Str@1378..1385 "\"Pair(\""
                      Whitespace@1385..1386 " "
                    Plus@1386..1387 "+"
                    Whitespace@1387..1388 " "
                    EXPR_IDENT@1388..1394
                      PATH@1388..1394
                        Ident@1388..1394 "before"
                  Semi@1394..1395 ";"
                  Whitespace@1395..1412 "\n                "
                EXPR_BINARY@1412..1452
                  EXPR_BINARY@1412..1434
                    EXPR_BINARY@1412..1426
                      EXPR_IDENT@1412..1419
                        PATH@1412..1419
                          Ident@1412..1418 "prefix"
                          Whitespace@1418..1419 " "
                      Plus@1419..1420 "+"
                      Whitespace@1420..1421 " "
                      EXPR_STR@1421..1426
                        Str@1421..1425 "\", \""
                        Whitespace@1425..1426 " "
                    Plus@1426..1427 "+"
                    Whitespace@1427..1428 " "
                    EXPR_IDENT@1428..1434
                      PATH@1428..1434
                        Ident@1428..1433 "after"
                        Whitespace@1433..1434 " "
                  Plus@1434..1435 "+"
                  Whitespace@1435..1436 " "
                  EXPR_STR@1436..1452
                    Str@1436..1439 "\")\""
                    Whitespace@1439..1452 "\n            "
                RBrace@1452..1453 "}"
            Comma@1453..1454 ","
            Whitespace@1454..1467 "\n            "
            MATCH_ARM@1467..1483
              PATTERN_VARIABLE@1467..1473
                Ident@1467..1472 "Empty"
                Whitespace@1472..1473 " "
              FatArrow@1473..1475 "=>"
              Whitespace@1475..1476 " "
              EXPR_STR@1476..1483
                Str@1476..1483 "\"Empty\""
            Comma@1483..1484 ","
            Whitespace@1484..1493 "\n        "
            RBrace@1493..1494 "}"
            Whitespace@1494..1499 "\n    "
        RBrace@1499..1500 "}"
        Whitespace@1500..1501 "\n"
    RBrace@1501..1502 "}"
    Whitespace@1502..1504 "\n\n"
  FN@1504..1614
    FnKeyword@1504..1506 "fn"
    Whitespace@1506..1507 " "
    Ident@1507..1513 "choose"
    GENERIC_LIST@1513..1516
      LBracket@1513..1514 "["
      GENERIC@1514..1515
        Ident@1514..1515 "T"
      RBracket@1515..1516 "]"
    PARAM_LIST@1516..1558
      LParen@1516..1517 "("
      PARAM@1517..1529
        Ident@1517..1521 "flag"
        Colon@1521..1522 ":"
        Whitespace@1522..1523 " "
        TYPE_BOOL@1523..1527
          BoolKeyword@1523..1527 "bool"
        Comma@1527..1528 ","
        Whitespace@1528..1529 " "
      PARAM@1529..1543
        Ident@1529..1538 "when_true"
        Colon@1538..1539 ":"
        Whitespace@1539..1540 " "
        TYPE_TAPP@1540..1541
          PATH@1540..1541
            Ident@1540..1541 "T"
        Comma@1541..1542 ","
        Whitespace@1542..1543 " "
      PARAM@1543..1556
        Ident@1543..1553 "when_false"
        Colon@1553..1554 ":"
        Whitespace@1554..1555 " "
        TYPE_TAPP@1555..1556
          PATH@1555..1556
            Ident@1555..1556 "T"
      RParen@1556..1557 ")"
      Whitespace@1557..1558 " "
    Arrow@1558..1560 "->"
    Whitespace@1560..1561 " "
    TYPE_TAPP@1561..1563
      PATH@1561..1563
        Ident@1561..1562 "T"
        Whitespace@1562..1563 " "
    BLOCK@1563..1614
      LBrace@1563..1564 "{"
      Whitespace@1564..1569 "\n    "
      EXPR_IF@1569..1611
        IfKeyword@1569..1571 "if"
        Whitespace@1571..1572 " "
        EXPR_IF_COND@1572..1577
          EXPR_IDENT@1572..1577
            PATH@1572..1577
              Ident@1572..1576 "flag"
              Whitespace@1576..1577 " "
        EXPR_IF_THEN@1577..1591
          BLOCK@1577..1591
            LBrace@1577..1578 "{"
            Whitespace@1578..1579 " "
            EXPR_IDENT@1579..1589
              PATH@1579..1589
                Ident@1579..1588 "when_true"
                Whitespace@1588..1589 " "
            RBrace@1589..1590 "}"
            Whitespace@1590..1591 " "
        ElseKeyword@1591..1595 "else"
        Whitespace@1595..1596 " "
        EXPR_IF_ELSE@1596..1611
          BLOCK@1596..1611
            LBrace@1596..1597 "{"
            Whitespace@1597..1598 " "
            EXPR_IDENT@1598..1609
              PATH@1598..1609
                Ident@1598..1608 "when_false"
                Whitespace@1608..1609 " "
            RBrace@1609..1610 "}"
            Whitespace@1610..1611 "\n"
      RBrace@1611..1612 "}"
      Whitespace@1612..1614 "\n\n"
  FN@1614..1765
    FnKeyword@1614..1616 "fn"
    Whitespace@1616..1617 " "
    Ident@1617..1626 "map_maybe"
    GENERIC_LIST@1626..1632
      LBracket@1626..1627 "["
      GENERIC@1627..1628
        Ident@1627..1628 "T"
      Comma@1628..1629 ","
      Whitespace@1629..1630 " "
      GENERIC@1630..1631
        Ident@1630..1631 "U"
      RBracket@1631..1632 "]"
    PARAM_LIST@1632..1663
      LParen@1632..1633 "("
      PARAM@1633..1650
        Ident@1633..1638 "value"
        Colon@1638..1639 ":"
        Whitespace@1639..1640 " "
        TYPE_TAPP@1640..1648
          PATH@1640..1645
            Ident@1640..1645 "Maybe"
          TYPE_PARAM_LIST@1645..1648
            LBracket@1645..1646 "["
            TYPE_TAPP@1646..1647
              PATH@1646..1647
                Ident@1646..1647 "T"
            RBracket@1647..1648 "]"
        Comma@1648..1649 ","
        Whitespace@1649..1650 " "
      PARAM@1650..1661
        Ident@1650..1651 "f"
        Colon@1651..1652 ":"
        Whitespace@1652..1653 " "
        TYPE_FUNC@1653..1661
          TYPE_TUPLE@1653..1657
            TYPE_LIST@1653..1657
              LParen@1653..1654 "("
              TYPE_TAPP@1654..1655
                PATH@1654..1655
                  Ident@1654..1655 "T"
              RParen@1655..1656 ")"
              Whitespace@1656..1657 " "
          Arrow@1657..1659 "->"
          Whitespace@1659..1660 " "
          TYPE_TAPP@1660..1661
            PATH@1660..1661
              Ident@1660..1661 "U"
      RParen@1661..1662 ")"
      Whitespace@1662..1663 " "
    Arrow@1663..1665 "->"
    Whitespace@1665..1666 " "
    TYPE_TAPP@1666..1675
      PATH@1666..1671
        Ident@1666..1671 "Maybe"
      TYPE_PARAM_LIST@1671..1675
        LBracket@1671..1672 "["
        TYPE_TAPP@1672..1673
          PATH@1672..1673
            Ident@1672..1673 "U"
        RBracket@1673..1674 "]"
        Whitespace@1674..1675 " "
    BLOCK@1675..1765
      LBrace@1675..1676 "{"
      Whitespace@1676..1681 "\n    "
      EXPR_MATCH@1681..1762
        MatchKeyword@1681..1686 "match"
        Whitespace@1686..1687 " "
        EXPR_IDENT@1687..1693
          PATH@1687..1693
            Ident@1687..1692 "value"
            Whitespace@1692..1693 " "
        MATCH_ARM_LIST@1693..1762
          LBrace@1693..1694 "{"
          Whitespace@1694..1703 "\n        "
          MATCH_ARM@1703..1732
            PATTERN_CONSTR@1703..1715
              PATH@1703..1707
                Ident@1703..1707 "Some"
              LParen@1707..1708 "("
              PATTERN_VARIABLE@1708..1713
                Ident@1708..1713 "inner"
              RParen@1713..1714 ")"
              Whitespace@1714..1715 " "
            FatArrow@1715..1717 "=>"
            Whitespace@1717..1718 " "
            EXPR_CALL@1718..1732
              EXPR_IDENT@1718..1722
                PATH@1718..1722
                  Ident@1718..1722 "Some"
              ARG_LIST@1722..1732
                LParen@1722..1723 "("
                ARG@1723..1731
                  EXPR_CALL@1723..1731
                    EXPR_IDENT@1723..1724
                      PATH@1723..1724
                        Ident@1723..1724 "f"
                    ARG_LIST@1724..1731
                      LParen@1724..1725 "("
                      ARG@1725..1730
                        EXPR_IDENT@1725..1730
                          PATH@1725..1730
                            Ident@1725..1730 "inner"
                      RParen@1730..1731 ")"
                RParen@1731..1732 ")"
          Comma@1732..1733 ","
          Whitespace@1733..1742 "\n        "
          MATCH_ARM@1742..1754
            PATTERN_VARIABLE@1742..1747
              Ident@1742..1746 "None"
              Whitespace@1746..1747 " "
            FatArrow@1747..1749 "=>"
            Whitespace@1749..1750 " "
            EXPR_IDENT@1750..1754
              PATH@1750..1754
                Ident@1750..1754 "None"
          Comma@1754..1755 ","
          Whitespace@1755..1760 "\n    "
          RBrace@1760..1761 "}"
          Whitespace@1761..1762 "\n"
      RBrace@1762..1763 "}"
      Whitespace@1763..1765 "\n\n"
  FN@1765..1849
    FnKeyword@1765..1767 "fn"
    Whitespace@1767..1768 " "
    Ident@1768..1780 "format_total"
    PARAM_LIST@1780..1795
      LParen@1780..1781 "("
      PARAM@1781..1793
        Ident@1781..1786 "total"
        Colon@1786..1787 ":"
        Whitespace@1787..1788 " "
        TYPE_INT32@1788..1793
          Int32Keyword@1788..1793 "int32"
      RParen@1793..1794 ")"
      Whitespace@1794..1795 " "
    Arrow@1795..1797 "->"
    Whitespace@1797..1798 " "
    TYPE_STRING@1798..1805
      StringKeyword@1798..1804 "string"
      Whitespace@1804..1805 " "
    BLOCK@1805..1849
      LBrace@1805..1806 "{"
      Whitespace@1806..1811 "\n    "
      EXPR_BINARY@1811..1846
        EXPR_STR@1811..1821
          Str@1811..1820 "\"total: \""
          Whitespace@1820..1821 " "
        Plus@1821..1822 "+"
        Whitespace@1822..1823 " "
        EXPR_CALL@1823..1846
          EXPR_IDENT@1823..1838
            PATH@1823..1838
              Ident@1823..1838 "int32_to_string"
          ARG_LIST@1838..1846
            LParen@1838..1839 "("
            ARG@1839..1844
              EXPR_IDENT@1839..1844
                PATH@1839..1844
                  Ident@1839..1844 "total"
            RParen@1844..1845 ")"
            Whitespace@1845..1846 "\n"
      RBrace@1846..1847 "}"
      Whitespace@1847..1849 "\n\n"
  FN@1849..1904
    FnKeyword@1849..1851 "fn"
    Whitespace@1851..1852 " "
    Ident@1852..1861 "increment"
    PARAM_LIST@1861..1876
      LParen@1861..1862 "("
      PARAM@1862..1874
        Ident@1862..1867 "value"
        Colon@1867..1868 ":"
        Whitespace@1868..1869 " "
        TYPE_INT32@1869..1874
          Int32Keyword@1869..1874 "int32"
      RParen@1874..1875 ")"
      Whitespace@1875..1876 " "
    Arrow@1876..1878 "->"
    Whitespace@1878..1879 " "
    TYPE_INT32@1879..1885
      Int32Keyword@1879..1884 "int32"
      Whitespace@1884..1885 " "
    BLOCK@1885..1904
      LBrace@1885..1886 "{"
      Whitespace@1886..1891 "\n    "
      EXPR_BINARY@1891..1901
        EXPR_IDENT@1891..1897
          PATH@1891..1897
            Ident@1891..1896 "value"
            Whitespace@1896..1897 " "
        Plus@1897..1898 "+"
        Whitespace@1898..1899 " "
        EXPR_INT@1899..1901
          Int@1899..1900 "1"
          Whitespace@1900..1901 "\n"
      RBrace@1901..1902 "}"
      Whitespace@1902..1904 "\n\n"
  FN@1904..1956
    FnKeyword@1904..1906 "fn"
    Whitespace@1906..1907 " "
    Ident@1907..1913 "triple"
    PARAM_LIST@1913..1928
      LParen@1913..1914 "("
      PARAM@1914..1926
        Ident@1914..1919 "value"
        Colon@1919..1920 ":"
        Whitespace@1920..1921 " "
        TYPE_INT32@1921..1926
          Int32Keyword@1921..1926 "int32"
      RParen@1926..1927 ")"
      Whitespace@1927..1928 " "
    Arrow@1928..1930 "->"
    Whitespace@1930..1931 " "
    TYPE_INT32@1931..1937
      Int32Keyword@1931..1936 "int32"
      Whitespace@1936..1937 " "
    BLOCK@1937..1956
      LBrace@1937..1938 "{"
      Whitespace@1938..1943 "\n    "
      EXPR_BINARY@1943..1953
        EXPR_IDENT@1943..1949
          PATH@1943..1949
            Ident@1943..1948 "value"
            Whitespace@1948..1949 " "
        Star@1949..1950 "*"
        Whitespace@1950..1951 " "
        EXPR_INT@1951..1953
          Int@1951..1952 "3"
          Whitespace@1952..1953 "\n"
      RBrace@1953..1954 "}"
      Whitespace@1954..1956 "\n\n"
  FN@1956..2066
    FnKeyword@1956..1958 "fn"
    Whitespace@1958..1959 " "
    Ident@1959..1968 "pair_join"
    PARAM_LIST@1968..1994
      LParen@1968..1969 "("
      PARAM@1969..1992
        Ident@1969..1974 "parts"
        Colon@1974..1975 ":"
        Whitespace@1975..1976 " "
        TYPE_TUPLE@1976..1992
          TYPE_LIST@1976..1992
            LParen@1976..1977 "("
            TYPE_STRING@1977..1983
              StringKeyword@1977..1983 "string"
            Comma@1983..1984 ","
            Whitespace@1984..1985 " "
            TYPE_STRING@1985..1991
              StringKeyword@1985..1991 "string"
            RParen@1991..1992 ")"
      RParen@1992..1993 ")"
      Whitespace@1993..1994 " "
    Arrow@1994..1996 "->"
    Whitespace@1996..1997 " "
    TYPE_STRING@1997..2004
      StringKeyword@1997..2003 "string"
      Whitespace@2003..2004 " "
    BLOCK@2004..2066
      LBrace@2004..2005 "{"
      Whitespace@2005..2010 "\n    "
      STMT_LET@2010..2041
        LetKeyword@2010..2013 "let"
        Whitespace@2013..2014 " "
        PATTERN_TUPLE@2014..2028
          LParen@2014..2015 "("
          PATTERN_VARIABLE@2015..2019
            Ident@2015..2019 "left"
          Comma@2019..2020 ","
          Whitespace@2020..2021 " "
          PATTERN_VARIABLE@2021..2026
            Ident@2021..2026 "right"
          RParen@2026..2027 ")"
          Whitespace@2027..2028 " "
        Eq@2028..2029 "="
        Whitespace@2029..2030 " "
        EXPR_IDENT@2030..2035
          PATH@2030..2035
            Ident@2030..2035 "parts"
        Semi@2035..2036 ";"
        Whitespace@2036..2041 "\n    "
      EXPR_BINARY@2041..2063
        EXPR_BINARY@2041..2055
          EXPR_IDENT@2041..2046
            PATH@2041..2046
              Ident@2041..2045 "left"
              Whitespace@2045..2046 " "
          Plus@2046..2047 "+"
          Whitespace@2047..2048 " "
          EXPR_STR@2048..2055
            Str@2048..2054 "\" -> \""
            Whitespace@2054..2055 " "
        Plus@2055..2056 "+"
        Whitespace@2056..2057 " "
        EXPR_IDENT@2057..2063
          PATH@2057..2063
            Ident@2057..2062 "right"
            Whitespace@2062..2063 "\n"
      RBrace@2063..2064 "}"
      Whitespace@2064..2066 "\n\n"
  FN@2066..2387
    FnKeyword@2066..2068 "fn"
    Whitespace@2068..2069 " "
    Ident@2069..2083 "run_transforms"
    PARAM_LIST@2083..2133
      LParen@2083..2084 "("
      PARAM@2084..2098
        Ident@2084..2089 "value"
        Colon@2089..2090 ":"
        Whitespace@2090..2091 " "
        TYPE_INT32@2091..2096
          Int32Keyword@2091..2096 "int32"
        Comma@2096..2097 ","
        Whitespace@2097..2098 " "
      PARAM@2098..2131
        Ident@2098..2108 "transforms"
        Colon@2108..2109 ":"
        Whitespace@2109..2110 " "
        TYPE_ARRAY@2110..2131
          LBracket@2110..2111 "["
          TYPE_FUNC@2111..2127
            TYPE_TUPLE@2111..2119
              TYPE_LIST@2111..2119
                LParen@2111..2112 "("
                TYPE_INT32@2112..2117
                  Int32Keyword@2112..2117 "int32"
                RParen@2117..2118 ")"
                Whitespace@2118..2119 " "
            Arrow@2119..2121 "->"
            Whitespace@2121..2122 " "
            TYPE_INT32@2122..2127
              Int32Keyword@2122..2127 "int32"
          Semi@2127..2128 ";"
          Whitespace@2128..2129 " "
          Int@2129..2130 "2"
          RBracket@2130..2131 "]"
      RParen@2131..2132 ")"
      Whitespace@2132..2133 " "
    Arrow@2133..2135 "->"
    Whitespace@2135..2136 " "
    TYPE_ARRAY@2136..2147
      LBracket@2136..2137 "["
      TYPE_INT32@2137..2142
        Int32Keyword@2137..2142 "int32"
      Semi@2142..2143 ";"
      Whitespace@2143..2144 " "
      Int@2144..2145 "2"
      RBracket@2145..2146 "]"
      Whitespace@2146..2147 " "
    BLOCK@2147..2387
      LBrace@2147..2148 "{"
      Whitespace@2148..2153 "\n    "
      STMT_LET@2153..2184
        LetKeyword@2153..2156 "let"
        Whitespace@2156..2157 " "
        PATTERN_VARIABLE@2157..2163
          Ident@2157..2162 "first"
          Whitespace@2162..2163 " "
        Eq@2163..2164 "="
        Whitespace@2164..2165 " "
        EXPR_INDEX@2165..2178
          EXPR_IDENT@2165..2175
            PATH@2165..2175
              Ident@2165..2175 "transforms"
          LBracket@2175..2176 "["
          EXPR_INT@2176..2177
            Int@2176..2177 "0"
          RBracket@2177..2178 "]"
        Semi@2178..2179 ";"
        Whitespace@2179..2184 "\n    "
      STMT_LET@2184..2216
        LetKeyword@2184..2187 "let"
        Whitespace@2187..2188 " "
        PATTERN_VARIABLE@2188..2195
          Ident@2188..2194 "second"
          Whitespace@2194..2195 " "
        Eq@2195..2196 "="
        Whitespace@2196..2197 " "
        EXPR_INDEX@2197..2210
          EXPR_IDENT@2197..2207
            PATH@2197..2207
              Ident@2197..2207 "transforms"
          LBracket@2207..2208 "["
          EXPR_INT@2208..2209
            Int@2208..2209 "1"
          RBracket@2209..2210 "]"
        Semi@2210..2211 ";"
        Whitespace@2211..2216 "\n    "
      STMT_LET@2216..2253
        LetKeyword@2216..2219 "let"
        Whitespace@2219..2220 " "
        PATTERN_VARIABLE@2220..2233
          Ident@2220..2232 "first_result"
          Whitespace@2232..2233 " "
        Eq@2233..2234 "="
        Whitespace@2234..2235 " "
        EXPR_CALL@2235..2247
          EXPR_IDENT@2235..2240
            PATH@2235..2240
              Ident@2235..2240 "first"
          ARG_LIST@2240..2247
            LParen@2240..2241 "("
            ARG@2241..2246
              EXPR_IDENT@2241..2246
                PATH@2241..2246
                  Ident@2241..2246 "value"
            RParen@2246..2247 ")"
        Semi@2247..2248 ";"
        Whitespace@2248..2253 "\n    "
      STMT_LET@2253..2299
        LetKeyword@2253..2256 "let"
        Whitespace@2256..2257 " "
        PATTERN_VARIABLE@2257..2271
          Ident@2257..2270 "second_result"
          Whitespace@2270..2271 " "
        Eq@2271..2272 "="
        Whitespace@2272..2273 " "
        EXPR_CALL@2273..2293
          EXPR_IDENT@2273..2279
            PATH@2273..2279
              Ident@2273..2279 "second"
          ARG_LIST@2279..2293
            LParen@2279..2280 "("
            ARG@2280..2292
              EXPR_IDENT@2280..2292
                PATH@2280..2292
                  Ident@2280..2292 "first_result"
            RParen@2292..2293 ")"
        Semi@2293..2294 ";"
        Whitespace@2294..2299 "\n    "
      STMT_LET@2299..2344
        LetKeyword@2299..2302 "let"
        Whitespace@2302..2303 " "
        MutKeyword@2303..2306 "mut"
        Whitespace@2306..2307 " "
        PATTERN_VARIABLE@2307..2315
          Ident@2307..2314 "results"
          Whitespace@2314..2315 " "
        Eq@2315..2316 "="
        Whitespace@2316..2317 " "
        EXPR_ARRAY_LITERAL@2317..2338
          LBracket@2317..2318 "["
          EXPR_IDENT@2318..2330
            PATH@2318..2330
              Ident@2318..2330 "first_result"
          Comma@2330..2331 ","
          Whitespace@2331..2332 " "
          EXPR_IDENT@2332..2337
            PATH@2332..2337
              Ident@2332..2337 "value"
          RBracket@2337..2338 "]"
        Semi@2338..2339 ";"
        Whitespace@2339..2344 "\n    "
      STMT_ASSIGN@2344..2376
        EXPR_INDEX@2344..2355
          EXPR_IDENT@2344..2351
            PATH@2344..2351
              Ident@2344..2351 "results"
          LBracket@2351..2352 "["
          EXPR_INT@2352..2353
            Int@2352..2353 "1"
          RBracket@2353..2354 "]"
          Whitespace@2354..2355 " "
        Eq@2355..2356 "="
        Whitespace@2356..2357 " "
        EXPR_IDENT@2357..2370
          PATH@2357..2370
            Ident@2357..2370 "second_result"
        Semi@2370..2371 ";"
        Whitespace@2371..2376 "\n    "
      EXPR_IDENT@2376..2384
        PATH@2376..2384
          Ident@2376..2383 "results"
          Whitespace@2383..2384 "\n"
      RBrace@2384..2385 "}"
      Whitespace@2385..2387 "\n\n"
  FN@2387..2565
    FnKeyword@2387..2389 "fn"
    Whitespace@2389..2390 " "
    Ident@2390..2396 "gather"
    PARAM_LIST@2396..2420
      LParen@2396..2397 "("
      PARAM@2397..2418
        Ident@2397..2403 "record"
        Colon@2403..2404 ":"
        Whitespace@2404..2405 " "
        TYPE_TAPP@2405..2418
          PATH@2405..2411
            Ident@2405..2411 "Record"
          TYPE_PARAM_LIST@2411..2418
            LBracket@2411..2412 "["
            TYPE_INT32@2412..2417
              Int32Keyword@2412..2417 "int32"
            RBracket@2417..2418 "]"
      RParen@2418..2419 ")"
      Whitespace@2419..2420 " "
    Arrow@2420..2422 "->"
    Whitespace@2422..2423 " "
    TYPE_TAPP@2423..2436
      PATH@2423..2428
        Ident@2423..2428 "Maybe"
      TYPE_PARAM_LIST@2428..2436
        LBracket@2428..2429 "["
        TYPE_INT32@2429..2434
          Int32Keyword@2429..2434 "int32"
        RBracket@2434..2435 "]"
        Whitespace@2435..2436 " "
    BLOCK@2436..2565
      LBrace@2436..2437 "{"
      Whitespace@2437..2442 "\n    "
      EXPR_MATCH@2442..2562
        MatchKeyword@2442..2447 "match"
        Whitespace@2447..2448 " "
        EXPR_IDENT@2448..2455
          PATH@2448..2455
            Ident@2448..2454 "record"
            Whitespace@2454..2455 " "
        MATCH_ARM_LIST@2455..2562
          LBrace@2455..2456 "{"
          Whitespace@2456..2465 "\n        "
          MATCH_ARM@2465..2492
            PATTERN_CONSTR@2465..2478
              PATH@2465..2470
                Ident@2465..2470 "Value"
              LParen@2470..2471 "("
              PATTERN_VARIABLE@2471..2476
                Ident@2471..2476 "value"
              RParen@2476..2477 ")"
              Whitespace@2477..2478 " "
            FatArrow@2478..2480 "=>"
            Whitespace@2480..2481 " "
            EXPR_CALL@2481..2492
              EXPR_IDENT@2481..2485
                PATH@2481..2485
                  Ident@2481..2485 "Some"
              ARG_LIST@2485..2492
                LParen@2485..2486 "("
                ARG@2486..2491
                  EXPR_IDENT@2486..2491
                    PATH@2486..2491
                      Ident@2486..2491 "value"
                RParen@2491..2492 ")"
          Comma@2492..2493 ","
          Whitespace@2493..2502 "\n        "
          MATCH_ARM@2502..2531
            PATTERN_CONSTR@2502..2517
              PATH@2502..2506
                Ident@2502..2506 "Pair"
              LParen@2506..2507 "("
              PATTERN_WILDCARD@2507..2508
                WildcardKeyword@2507..2508 "_"
              Comma@2508..2509 ","
              Whitespace@2509..2510 " "
              PATTERN_VARIABLE@2510..2515
                Ident@2510..2515 "after"
              RParen@2515..2516 ")"
              Whitespace@2516..2517 " "
            FatArrow@2517..2519 "=>"
            Whitespace@2519..2520 " "
            EXPR_CALL@2520..2531
              EXPR_IDENT@2520..2524
                PATH@2520..2524
                  Ident@2520..2524 "Some"
              ARG_LIST@2524..2531
                LParen@2524..2525 "("
                ARG@2525..2530
                  EXPR_IDENT@2525..2530
                    PATH@2525..2530
                      Ident@2525..2530 "after"
                RParen@2530..2531 ")"
          Comma@2531..2532 ","
          Whitespace@2532..2541 "\n        "
          MATCH_ARM@2541..2554
            PATTERN_VARIABLE@2541..2547
              Ident@2541..2546 "Empty"
              Whitespace@2546..2547 " "
            FatArrow@2547..2549 "=>"
            Whitespace@2549..2550 " "
            EXPR_IDENT@2550..2554
              PATH@2550..2554
                Ident@2550..2554 "None"
          Comma@2554..2555 ","
          Whitespace@2555..2560 "\n    "
          RBrace@2560..2561 "}"
          Whitespace@2561..2562 "\n"
      RBrace@2562..2563 "}"
      Whitespace@2563..2565 "\n\n"
  FN@2565..3297
    FnKeyword@2565..2567 "fn"
    Whitespace@2567..2568 " "
    Ident@2568..2581 "build_counter"
    PARAM_LIST@2581..2611
      LParen@2581..2582 "("
      PARAM@2582..2597
        Ident@2582..2587 "label"
        Colon@2587..2588 ":"
        Whitespace@2588..2589 " "
        TYPE_STRING@2589..2595
          StringKeyword@2589..2595 "string"
        Comma@2595..2596 ","
        Whitespace@2596..2597 " "
      PARAM@2597..2609
        Ident@2597..2602 "start"
        Colon@2602..2603 ":"
        Whitespace@2603..2604 " "
        TYPE_INT32@2604..2609
          Int32Keyword@2604..2609 "int32"
      RParen@2609..2610 ")"
      Whitespace@2610..2611 " "
    Arrow@2611..2613 "->"
    Whitespace@2613..2614 " "
    TYPE_TUPLE@2614..2693
      TYPE_LIST@2614..2693
        LParen@2614..2615 "("
        TYPE_TAPP@2615..2622
          PATH@2615..2622
            Ident@2615..2622 "Tracker"
        Comma@2622..2623 ","
        Whitespace@2623..2624 " "
        TYPE_FUNC@2624..2643
          TYPE_TUPLE@2624..2627
            TYPE_LIST@2624..2627
              LParen@2624..2625 "("
              RParen@2625..2626 ")"
              Whitespace@2626..2627 " "
          Arrow@2627..2629 "->"
          Whitespace@2629..2630 " "
          TYPE_TAPP@2630..2643
            PATH@2630..2636
              Ident@2630..2636 "Record"
            TYPE_PARAM_LIST@2636..2643
              LBracket@2636..2637 "["
              TYPE_INT32@2637..2642
                Int32Keyword@2637..2642 "int32"
              RBracket@2642..2643 "]"
        Comma@2643..2644 ","
        Whitespace@2644..2645 " "
        TYPE_FUNC@2645..2669
          TYPE_TUPLE@2645..2653
            TYPE_LIST@2645..2653
              LParen@2645..2646 "("
              TYPE_INT32@2646..2651
                Int32Keyword@2646..2651 "int32"
              RParen@2651..2652 ")"
              Whitespace@2652..2653 " "
          Arrow@2653..2655 "->"
          Whitespace@2655..2656 " "
          TYPE_TAPP@2656..2669
            PATH@2656..2662
              Ident@2656..2662 "Record"
            TYPE_PARAM_LIST@2662..2669
              LBracket@2662..2663 "["
              TYPE_INT32@2663..2668
                Int32Keyword@2663..2668 "int32"
              RBracket@2668..2669 "]"
        Comma@2669..2670 ","
        Whitespace@2670..2671 " "
        TYPE_FUNC@2671..2691
          TYPE_TUPLE@2671..2674
            TYPE_LIST@2671..2674
              LParen@2671..2672 "("
              RParen@2672..2673 ")"
              Whitespace@2673..2674 " "
          Arrow@2674..2676 "->"
          Whitespace@2676..2677 " "
          TYPE_TAPP@2677..2691
            PATH@2677..2683
              Ident@2677..2683 "Record"
            TYPE_PARAM_LIST@2683..2691
              LBracket@2683..2684 "["
              TYPE_STRING@2684..2690
                StringKeyword@2684..2690 "string"
              RBracket@2690..2691 "]"
        RParen@2691..2692 ")"
        Whitespace@2692..2693 " "
    BLOCK@2693..3297
      LBrace@2693..2694 "{"
      Whitespace@2694..2699 "\n    "
      STMT_LET@2699..2727
        LetKeyword@2699..2702 "let"
        Whitespace@2702..2703 " "
        PATTERN_VARIABLE@2703..2709
          Ident@2703..2708 "count"
          Whitespace@2708..2709 " "
        Eq@2709..2710 "="
        Whitespace@2710..2711 " "
        EXPR_CALL@2711..2721
          EXPR_IDENT@2711..2714
            PATH@2711..2714
              Ident@2711..2714 "ref"
          ARG_LIST@2714..2721
            LParen@2714..2715 "("
            ARG@2715..2720
              EXPR_IDENT@2715..2720
                PATH@2715..2720
                  Ident@2715..2720 "start"
            RParen@2720..2721 ")"
        Semi@2721..2722 ";"
        Whitespace@2722..2727 "\n    "
      STMT_LET@2727..2757
        LetKeyword@2727..2730 "let"
        Whitespace@2730..2731 " "
        PATTERN_VARIABLE@2731..2739
          Ident@2731..2738 "toggled"
          Whitespace@2738..2739 " "
        Eq@2739..2740 "="
        Whitespace@2740..2741 " "
        EXPR_CALL@2741..2751
          EXPR_IDENT@2741..2744
            PATH@2741..2744
              Ident@2741..2744 "ref"
          ARG_LIST@2744..2751
            LParen@2744..2745 "("
            ARG@2745..2750
              EXPR_BOOL@2745..2750
                FalseKeyword@2745..2750 "false"
            RParen@2750..2751 ")"
        Semi@2751..2752 ";"
        Whitespace@2752..2757 "\n    "
      STMT_LET@2757..2833
        LetKeyword@2757..2760 "let"
        Whitespace@2760..2761 " "
        PATTERN_VARIABLE@2761..2769
          Ident@2761..2768 "tracker"
          Whitespace@2768..2769 " "
        Eq@2769..2770 "="
        Whitespace@2770..2771 " "
        EXPR_STRUCT_LITERAL@2771..2827
          PATH@2771..2779
            Ident@2771..2778 "Tracker"
            Whitespace@2778..2779 " "
          STRUCT_LITERAL_FIELD_LIST@2779..2827
            LBrace@2779..2780 "{"
            Whitespace@2780..2781 " "
            STRUCT_LITERAL_FIELD@2781..2793
              Ident@2781..2786 "label"
              Colon@2786..2787 ":"
              Whitespace@2787..2788 " "
              EXPR_IDENT@2788..2793
                PATH@2788..2793
                  Ident@2788..2793 "label"
            Comma@2793..2794 ","
            Whitespace@2794..2795 " "
            STRUCT_LITERAL_FIELD@2795..2807
              Ident@2795..2800 "count"
              Colon@2800..2801 ":"
              Whitespace@2801..2802 " "
              EXPR_IDENT@2802..2807
                PATH@2802..2807
                  Ident@2802..2807 "count"
            Comma@2807..2808 ","
            Whitespace@2808..2809 " "
            STRUCT_LITERAL_FIELD@2809..2826
              Ident@2809..2816 "toggled"
              Colon@2816..2817 ":"
              Whitespace@2817..2818 " "
              EXPR_IDENT@2818..2826
                PATH@2818..2826
                  Ident@2818..2825 "toggled"
                  Whitespace@2825..2826 " "
            RBrace@2826..2827 "}"
        Semi@2827..2828 ";"
        Whitespace@2828..2833 "\n    "
      STMT_LET@2833..2894
        LetKeyword@2833..2836 "let"
        Whitespace@2836..2837 " "
        PATTERN_VARIABLE@2837..2846
          Ident@2837..2845 "snapshot"
          Whitespace@2845..2846 " "
        Eq@2846..2847 "="
        Whitespace@2847..2848 " "
        EXPR_CLOSURE@2848..2888
          CLOSURE_PARAM_LIST@2848..2851
            OrOr@2848..2850 "||"
            Whitespace@2850..2851 " "
          EXPR_CLOSURE_BODY@2851..2888
            BLOCK@2851..2888
              LBrace@2851..2852 "{"
              Whitespace@2852..2861 "\n        "
              EXPR_CALL@2861..2887
                EXPR_IDENT@2861..2866
                  PATH@2861..2866
                    Ident@2861..2866 "Value"
                ARG_LIST@2866..2887
                  LParen@2866..2867 "("
                  ARG@2867..2881
                    EXPR_CALL@2867..2881
                      EXPR_IDENT@2867..2874
                        PATH@2867..2874
                          Ident@2867..2874 "ref_get"
                      ARG_LIST@2874..2881
                        LParen@2874..2875 "("
                        ARG@2875..2880
                          EXPR_IDENT@2875..2880
                            PATH@2875..2880
                              Ident@2875..2880 "count"
                        RParen@2880..2881 ")"
                  RParen@2881..2882 ")"
                  Whitespace@2882..2887 "\n    "
              RBrace@2887..2888 "}"
        Semi@2888..2889 ";"
        Whitespace@2889..2894 "\n    "
      STMT_LET@2894..3055
        LetKeyword@2894..2897 "let"
        Whitespace@2897..2898 " "
        PATTERN_VARIABLE@2898..2903
          Ident@2898..2902 "bump"
          Whitespace@2902..2903 " "
        Eq@2903..2904 "="
        Whitespace@2904..2905 " "
        EXPR_CLOSURE@2905..3049
          CLOSURE_PARAM_LIST@2905..2920
            Pipe@2905..2906 "|"
            CLOSURE_PARAM@2906..2918
              Ident@2906..2911 "delta"
              Colon@2911..2912 ":"
              Whitespace@2912..2913 " "
              TYPE_INT32@2913..2918
                Int32Keyword@2913..2918 "int32"
            Pipe@2918..2919 "|"
            Whitespace@2919..2920 " "
          EXPR_CLOSURE_BODY@2920..3049
            BLOCK@2920..3049
              LBrace@2920..2921 "{"
              Whitespace@2921..2930 "\n        "
              STMT_LET@2930..2967
                LetKeyword@2930..2933 "let"
                Whitespace@2933..2934 " "
                PATTERN_VARIABLE@2934..2941
                  Ident@2934..2940 "before"
                  Whitespace@2940..2941 " "
                Eq@2941..2942 "="
                Whitespace@2942..2943 " "
                EXPR_CALL@2943..2957
                  EXPR_IDENT@2943..2950
                    PATH@2943..2950
                      Ident@2943..2950 "ref_get"
                  ARG_LIST@2950..2957
                    LParen@2950..2951 "("
                    ARG@2951..2956
                      EXPR_IDENT@2951..2956
                        PATH@2951..2956
                          Ident@2951..2956 "count"
                    RParen@2956..2957 ")"
                Semi@2957..2958 ";"
                Whitespace@2958..2967 "\n        "
              STMT_LET@2967..3015
                LetKeyword@2967..2970 "let"
                Whitespace@2970..2971 " "
                PATTERN_WILDCARD@2971..2973
                  WildcardKeyword@2971..2972 "_"
                  Whitespace@2972..2973 " "
                Eq@2973..2974 "="
                Whitespace@2974..2975 " "
                EXPR_CALL@2975..3005
                  EXPR_IDENT@2975..2982
                    PATH@2975..2982
                      Ident@2975..2982 "ref_set"
                  ARG_LIST@2982..3005
                    LParen@2982..2983 "("
                    ARG@2983..2990
                      EXPR_IDENT@2983..2988
                        PATH@2983..2988
                          Ident@2983..2988 "count"
                      Comma@2988..2989 ","
                      Whitespace@2989..2990 " "
                    ARG@2990..3004
                      EXPR_BINARY@2990..3004
                        EXPR_IDENT@2990..2997
                          PATH@2990..2997
                            Ident@2990..2996 "before"
                            Whitespace@2996..2997 " "
                        Plus@2997..2998 "+"
                        Whitespace@2998..2999 " "
                        EXPR_IDENT@2999..3004
                          PATH@2999..3004
                            Ident@2999..3004 "delta"
                    RParen@3004..3005 ")"
                Semi@3005..3006 ";"
                Whitespace@3006..3015 "\n        "
              EXPR_CALL@3015..3048
                EXPR_IDENT@3015..3019
                  PATH@3015..3019
                    Ident@3015..3019 "Pair"
                ARG_LIST@3019..3048
                  LParen@3019..3020 "("
                  ARG@3020..3028
                    EXPR_IDENT@3020..3026
                      PATH@3020..3026
                        Ident@3020..3026 "before"
                    Comma@3026..3027 ","
                    Whitespace@3027..3028 " "
                  ARG@3028..3042
                    EXPR_CALL@3028..3042
                      EXPR_IDENT@3028..3035
                        PATH@3028..3035
                          Ident@3028..3035 "ref_get"
                      ARG_LIST@3035..3042
                        LParen@3035..3036 "("
                        ARG@3036..3041
                          EXPR_IDENT@3036..3041
                            PATH@3036..3041
                              Ident@3036..3041 "count"
                        RParen@3041..3042 ")"
                  RParen@3042..3043 ")"
                  Whitespace@3043..3048 "\n    "
              RBrace@3048..3049 "}"
        Semi@3049..3050 ";"
        Whitespace@3050..3055 "\n    "
      STMT_LET@3055..3262
        LetKeyword@3055..3058 "let"
        Whitespace@3058..3059 " "
        PATTERN_VARIABLE@3059..3064
          Ident@3059..3063 "flip"
          Whitespace@3063..3064 " "
        Eq@3064..3065 "="
        Whitespace@3065..3066 " "
        EXPR_CLOSURE@3066..3256
          CLOSURE_PARAM_LIST@3066..3069
            OrOr@3066..3068 "||"
            Whitespace@3068..3069 " "
          EXPR_CLOSURE_BODY@3069..3256
            BLOCK@3069..3256
              LBrace@3069..3070 "{"
              Whitespace@3070..3079 "\n        "
              STMT_LET@3079..3118
                LetKeyword@3079..3082 "let"
                Whitespace@3082..3083 " "
                PATTERN_VARIABLE@3083..3090
                  Ident@3083..3089 "before"
                  Whitespace@3089..3090 " "
                Eq@3090..3091 "="
                Whitespace@3091..3092 " "
                EXPR_CALL@3092..3108
                  EXPR_IDENT@3092..3099
                    PATH@3092..3099
                      Ident@3092..3099 "ref_get"
                  ARG_LIST@3099..3108
                    LParen@3099..3100 "("
                    ARG@3100..3107
                      EXPR_IDENT@3100..3107
                        PATH@3100..3107
                          Ident@3100..3107 "toggled"
                    RParen@3107..3108 ")"
                Semi@3108..3109 ";"
                Whitespace@3109..3118 "\n        "
              STMT_LET@3118..3161
                LetKeyword@3118..3121 "let"
                Whitespace@3121..3122 " "
                PATTERN_WILDCARD@3122..3124
                  WildcardKeyword@3122..3123 "_"
                  Whitespace@3123..3124 " "
                Eq@3124..3125 "="
                Whitespace@3125..3126 " "
                EXPR_CALL@3126..3151
                  EXPR_IDENT@3126..3133
                    PATH@3126..3133
                      Ident@3126..3133 "ref_set"
                  ARG_LIST@3133..3151
                    LParen@3133..3134 "("
                    ARG@3134..3143
                      EXPR_IDENT@3134..3141
                        PATH@3134..3141
                          Ident@3134..3141 "toggled"
                      Comma@3141..3142 ","
                      Whitespace@3142..3143 " "
                    ARG@3143..3150
                      EXPR_PREFIX@3143..3150
                        Bang@3143..3144 "!"
                        EXPR_IDENT@3144..3150
                          PATH@3144..3150
                            Ident@3144..3150 "before"
                    RParen@3150..3151 ")"
                Semi@3151..3152 ";"
                Whitespace@3152..3161 "\n        "
              STMT_LET@3161..3199
                LetKeyword@3161..3164 "let"
                Whitespace@3164..3165 " "
                PATTERN_VARIABLE@3165..3171
                  Ident@3165..3170 "after"
                  Whitespace@3170..3171 " "
                Eq@3171..3172 "="
                Whitespace@3172..3173 " "
                EXPR_CALL@3173..3189
                  EXPR_IDENT@3173..3180
                    PATH@3173..3180
                      Ident@3173..3180 "ref_get"
                  ARG_LIST@3180..3189
                    LParen@3180..3181 "("
                    ARG@3181..3188
                      EXPR_IDENT@3181..3188
                        PATH@3181..3188
                          Ident@3181..3188 "toggled"
                    RParen@3188..3189 ")"
                Semi@3189..3190 ";"
                Whitespace@3190..3199 "\n        "
              EXPR_CALL@3199..3255
                EXPR_IDENT@3199..3203
                  PATH@3199..3203
                    Ident@3199..3203 "Pair"
                ARG_LIST@3203..3255
                  LParen@3203..3204 "("
                  ARG@3204..3228
                    EXPR_CALL@3204..3226
                      EXPR_IDENT@3204..3218
                        PATH@3204..3218
                          Ident@3204..3218 "bool_to_string"
                      ARG_LIST@3218..3226
                        LParen@3218..3219 "("
                        ARG@3219..3225
                          EXPR_IDENT@3219..3225
                            PATH@3219..3225
                              Ident@3219..3225 "before"
                        RParen@3225..3226 ")"
                    Comma@3226..3227 ","
                    Whitespace@3227..3228 " "
                  ARG@3228..3249
                    EXPR_CALL@3228..3249
                      EXPR_IDENT@3228..3242
                        PATH@3228..3242
                          Ident@3228..3242 "bool_to_string"
                      ARG_LIST@3242..3249
                        LParen@3242..3243 "("
                        ARG@3243..3248
                          EXPR_IDENT@3243..3248
                            PATH@3243..3248
                              Ident@3243..3248 "after"
                        RParen@3248..3249 ")"
                  RParen@3249..3250 ")"
                  Whitespace@3250..3255 "\n    "
              RBrace@3255..3256 "}"
        Semi@3256..3257 ";"
        Whitespace@3257..3262 "\n    "
      EXPR_TUPLE@3262..3294
        LParen@3262..3263 "("
        EXPR_IDENT@3263..3270
          PATH@3263..3270
            Ident@3263..3270 "tracker"
        Comma@3270..3271 ","
        Whitespace@3271..3272 " "
        EXPR_IDENT@3272..3280
          PATH@3272..3280
            Ident@3272..3280 "snapshot"
        Comma@3280..3281 ","
        Whitespace@3281..3282 " "
        EXPR_IDENT@3282..3286
          PATH@3282..3286
            Ident@3282..3286 "bump"
        Comma@3286..3287 ","
        Whitespace@3287..3288 " "
        EXPR_IDENT@3288..3292
          PATH@3288..3292
            Ident@3288..3292 "flip"
        RParen@3292..3293 ")"
        Whitespace@3293..3294 "\n"
      RBrace@3294..3295 "}"
      Whitespace@3295..3297 "\n\n"
  FN@3297..4651
    FnKeyword@3297..3299 "fn"
    Whitespace@3299..3300 " "
    Ident@3300..3304 "main"
    PARAM_LIST@3304..3307
      LParen@3304..3305 "("
      RParen@3305..3306 ")"
      Whitespace@3306..3307 " "
    BLOCK@3307..4651
      LBrace@3307..3308 "{"
      Whitespace@3308..3313 "\n    "
      STMT_LET@3313..3381
        LetKeyword@3313..3316 "let"
        Whitespace@3316..3317 " "
        PATTERN_TUPLE@3317..3349
          LParen@3317..3318 "("
          PATTERN_VARIABLE@3318..3325
            Ident@3318..3325 "tracker"
          Comma@3325..3326 ","
          Whitespace@3326..3327 " "
          PATTERN_VARIABLE@3327..3335
            Ident@3327..3335 "snapshot"
          Comma@3335..3336 ","
          Whitespace@3336..3337 " "
          PATTERN_VARIABLE@3337..3341
            Ident@3337..3341 "bump"
          Comma@3341..3342 ","
          Whitespace@3342..3343 " "
          PATTERN_VARIABLE@3343..3347
            Ident@3343..3347 "flip"
          RParen@3347..3348 ")"
          Whitespace@3348..3349 " "
        Eq@3349..3350 "="
        Whitespace@3350..3351 " "
        EXPR_CALL@3351..3375
          EXPR_IDENT@3351..3364
            PATH@3351..3364
              Ident@3351..3364 "build_counter"
          ARG_LIST@3364..3375
            LParen@3364..3365 "("
            ARG@3365..3373
              EXPR_STR@3365..3371
                Str@3365..3371 "\"goml\""
              Comma@3371..3372 ","
              Whitespace@3372..3373 " "
            ARG@3373..3374
              EXPR_INT@3373..3374
                Int@3373..3374 "2"
            RParen@3374..3375 ")"
        Semi@3375..3376 ";"
        Whitespace@3376..3381 "\n    "
      STMT_LET@3381..3433
        LetKeyword@3381..3384 "let"
        Whitespace@3384..3385 " "
        PATTERN_VARIABLE@3385..3398
          Ident@3385..3397 "tracker_info"
          Whitespace@3397..3398 " "
        Eq@3398..3399 "="
        Whitespace@3399..3400 " "
        EXPR_CALL@3400..3427
          EXPR_IDENT@3400..3418
            PATH@3400..3418
              Ident@3400..3408 "Describe"
              ColonColon@3408..3410 "::"
              Ident@3410..3418 "describe"
          ARG_LIST@3418..3427
            LParen@3418..3419 "("
            ARG@3419..3426
              EXPR_IDENT@3419..3426
                PATH@3419..3426
                  Ident@3419..3426 "tracker"
            RParen@3426..3427 ")"
        Semi@3427..3428 ";"
        Whitespace@3428..3433 "\n    "
      STMT_LET@3433..3468
        LetKeyword@3433..3436 "let"
        Whitespace@3436..3437 " "
        PATTERN_VARIABLE@3437..3450
          Ident@3437..3449 "first_record"
          Whitespace@3449..3450 " "
        Eq@3450..3451 "="
        Whitespace@3451..3452 " "
        EXPR_CALL@3452..3462
          EXPR_IDENT@3452..3460
            PATH@3452..3460
              Ident@3452..3460 "snapshot"
          ARG_LIST@3460..3462
            LParen@3460..3461 "("
            RParen@3461..3462 ")"
        Semi@3462..3463 ";"
        Whitespace@3463..3468 "\n    "
      STMT_LET@3468..3501
        LetKeyword@3468..3471 "let"
        Whitespace@3471..3472 " "
        PATTERN_VARIABLE@3472..3486
          Ident@3472..3485 "bumped_record"
          Whitespace@3485..3486 " "
        Eq@3486..3487 "="
        Whitespace@3487..3488 " "
        EXPR_CALL@3488..3495
          EXPR_IDENT@3488..3492
            PATH@3488..3492
              Ident@3488..3492 "bump"
          ARG_LIST@3492..3495
            LParen@3492..3493 "("
            ARG@3493..3494
              EXPR_INT@3493..3494
                Int@3493..3494 "5"
            RParen@3494..3495 ")"
        Semi@3495..3496 ";"
        Whitespace@3496..3501 "\n    "
      STMT_LET@3501..3535
        LetKeyword@3501..3504 "let"
        Whitespace@3504..3505 " "
        PATTERN_VARIABLE@3505..3520
          Ident@3505..3519 "flipped_record"
          Whitespace@3519..3520 " "
        Eq@3520..3521 "="
        Whitespace@3521..3522 " "
        EXPR_CALL@3522..3528
          EXPR_IDENT@3522..3526
            PATH@3522..3526
              Ident@3522..3526 "flip"
          ARG_LIST@3526..3528
            LParen@3526..3527 "("
            RParen@3527..3528 ")"
        Semi@3528..3529 ";"
        Whitespace@3529..3535 "\n\n    "
      STMT_LET@3535..3579
        LetKeyword@3535..3538 "let"
        Whitespace@3538..3539 " "
        PATTERN_VARIABLE@3539..3551
          Ident@3539..3550 "maybe_first"
          Whitespace@3550..3551 " "
        Eq@3551..3552 "="
        Whitespace@3552..3553 " "
        EXPR_CALL@3553..3573
          EXPR_IDENT@3553..3559
            PATH@3553..3559
              Ident@3553..3559 "gather"
          ARG_LIST@3559..3573
            LParen@3559..3560 "("
            ARG@3560..3572
              EXPR_IDENT@3560..3572
                PATH@3560..3572
                  Ident@3560..3572 "first_record"
            RParen@3572..3573 ")"
        Semi@3573..3574 ";"
        Whitespace@3574..3579 "\n    "
      STMT_LET@3579..3625
        LetKeyword@3579..3582 "let"
        Whitespace@3582..3583 " "
        PATTERN_VARIABLE@3583..3596
          Ident@3583..3595 "maybe_second"
          Whitespace@3595..3596 " "
        Eq@3596..3597 "="
        Whitespace@3597..3598 " "
        EXPR_CALL@3598..3619
          EXPR_IDENT@3598..3604
            PATH@3598..3604
              Ident@3598..3604 "gather"
          ARG_LIST@3604..3619
            LParen@3604..3605 "("
            ARG@3605..3618
              EXPR_IDENT@3605..3618
                PATH@3605..3618
                  Ident@3605..3618 "bumped_record"
            RParen@3618..3619 ")"
        Semi@3619..3620 ";"
        Whitespace@3620..3625 "\n    "
      STMT_LET@3625..3683
        LetKeyword@3625..3628 "let"
        Whitespace@3628..3629 " "
        PATTERN_VARIABLE@3629..3636
          Ident@3629..3635 "chosen"
          Whitespace@3635..3636 " "
        Eq@3636..3637 "="
        Whitespace@3637..3638 " "
        EXPR_CALL@3638..3677
          EXPR_IDENT@3638..3644
            PATH@3638..3644
              Ident@3638..3644 "choose"
          ARG_LIST@3644..3677
            LParen@3644..3645 "("
            ARG@3645..3651
              EXPR_BOOL@3645..3649
                TrueKeyword@3645..3649 "true"
              Comma@3649..3650 ","
              Whitespace@3650..3651 " "
            ARG@3651..3665
              EXPR_IDENT@3651..3663
                PATH@3651..3663
                  Ident@3651..3663 "maybe_second"
              Comma@3663..3664 ","
              Whitespace@3664..3665 " "
            ARG@3665..3676
              EXPR_IDENT@3665..3676
                PATH@3665..3676
                  Ident@3665..3676 "maybe_first"
            RParen@3676..3677 ")"
        Semi@3677..3678 ";"
        Whitespace@3678..3683 "\n    "
      STMT_LET@3683..3739
        LetKeyword@3683..3686 "let"
        Whitespace@3686..3687 " "
        PATTERN_VARIABLE@3687..3699
          Ident@3687..3698 "stringified"
          Whitespace@3698..3699 " "
        Eq@3699..3700 "="
        Whitespace@3700..3701 " "
        EXPR_CALL@3701..3732
          EXPR_IDENT@3701..3710
            PATH@3701..3710
              Ident@3701..3710 "map_maybe"
          ARG_LIST@3710..3732
            LParen@3710..3711 "("
            ARG@3711..3719
              EXPR_IDENT@3711..3717
                PATH@3711..3717
                  Ident@3711..3717 "chosen"
              Comma@3717..3718 ","
              Whitespace@3718..3719 " "
            ARG@3719..3731
              EXPR_IDENT@3719..3731
                PATH@3719..3731
                  Ident@3719..3731 "format_total"
            RParen@3731..3732 ")"
        Semi@3732..3733 ";"
        Whitespace@3733..3739 "\n\n    "
      STMT_LET@3739..3781
        LetKeyword@3739..3742 "let"
        Whitespace@3742..3743 " "
        PATTERN_VARIABLE@3743..3754
          Ident@3743..3753 "transforms"
          Whitespace@3753..3754 " "
        Eq@3754..3755 "="
        Whitespace@3755..3756 " "
        EXPR_ARRAY_LITERAL@3756..3775
          LBracket@3756..3757 "["
          EXPR_IDENT@3757..3766
            PATH@3757..3766
              Ident@3757..3766 "increment"
          Comma@3766..3767 ","
          Whitespace@3767..3768 " "
          EXPR_IDENT@3768..3774
            PATH@3768..3774
              Ident@3768..3774 "triple"
          RBracket@3774..3775 "]"
        Semi@3775..3776 ";"
        Whitespace@3776..3781 "\n    "
      STMT_LET@3781..3842
        LetKeyword@3781..3784 "let"
        Whitespace@3784..3785 " "
        PATTERN_VARIABLE@3785..3792
          Ident@3785..3792 "results"
        Colon@3792..3793 ":"
        Whitespace@3793..3794 " "
        TYPE_ARRAY@3794..3805
          LBracket@3794..3795 "["
          TYPE_INT32@3795..3800
            Int32Keyword@3795..3800 "int32"
          Semi@3800..3801 ";"
          Whitespace@3801..3802 " "
          Int@3802..3803 "2"
          RBracket@3803..3804 "]"
          Whitespace@3804..3805 " "
        Eq@3805..3806 "="
        Whitespace@3806..3807 " "
        EXPR_CALL@3807..3836
          EXPR_IDENT@3807..3821
            PATH@3807..3821
              Ident@3807..3821 "run_transforms"
          ARG_LIST@3821..3836
            LParen@3821..3822 "("
            ARG@3822..3825
              EXPR_INT@3822..3823
                Int@3822..3823 "4"
              Comma@3823..3824 ","
              Whitespace@3824..3825 " "
            ARG@3825..3835
              EXPR_IDENT@3825..3835
                PATH@3825..3835
                  Ident@3825..3835 "transforms"
            RParen@3835..3836 ")"
        Semi@3836..3837 ";"
        Whitespace@3837..3842 "\n    "
      STMT_LET@3842..3877
        LetKeyword@3842..3845 "let"
        Whitespace@3845..3846 " "
        PATTERN_VARIABLE@3846..3859
          Ident@3846..3858 "first_result"
          Whitespace@3858..3859 " "
        Eq@3859..3860 "="
        Whitespace@3860..3861 " "
        EXPR_INDEX@3861..3871
          EXPR_IDENT@3861..3868
            PATH@3861..3868
              Ident@3861..3868 "results"
          LBracket@3868..3869 "["
          EXPR_INT@3869..3870
            Int@3869..3870 "0"
          RBracket@3870..3871 "]"
        Semi@3871..3872 ";"
        Whitespace@3872..3877 "\n    "
      STMT_LET@3877..3913
        LetKeyword@3877..3880 "let"
        Whitespace@3880..3881 " "
        PATTERN_VARIABLE@3881..3895
          Ident@3881..3894 "second_result"
          Whitespace@3894..3895 " "
        Eq@3895..3896 "="
        Whitespace@3896..3897 " "
        EXPR_INDEX@3897..3907
          EXPR_IDENT@3897..3904
            PATH@3897..3904
              Ident@3897..3904 "results"
          LBracket@3904..3905 "["
          EXPR_INT@3905..3906
            Int@3905..3906 "1"
          RBracket@3906..3907 "]"
        Semi@3907..3908 ";"
        Whitespace@3908..3913 "\n    "
      STMT_LET@3913..3974
        LetKeyword@3913..3916 "let"
        Whitespace@3916..3917 " "
        PATTERN_VARIABLE@3917..3929
          Ident@3917..3928 "order_check"
          Whitespace@3928..3929 " "
        Eq@3929..3930 "="
        Whitespace@3930..3931 " "
        EXPR_BINARY@3931..3967
          EXPR_BINARY@3931..3960
            EXPR_IDENT@3931..3944
              PATH@3931..3944
                Ident@3931..3943 "first_result"
                Whitespace@3943..3944 " "
            Less@3944..3945 "<"
            Whitespace@3945..3946 " "
            EXPR_IDENT@3946..3960
              PATH@3946..3960
                Ident@3946..3959 "second_result"
                Whitespace@3959..3960 " "
          AndAnd@3960..3962 "&&"
          Whitespace@3962..3963 " "
          EXPR_BOOL@3963..3967
            TrueKeyword@3963..3967 "true"
        Semi@3967..3968 ";"
        Whitespace@3968..3974 "\n\n    "
      STMT_LET@3974..4029
        LetKeyword@3974..3977 "let"
        Whitespace@3977..3978 " "
        PATTERN_VARIABLE@3978..3989
          Ident@3978..3988 "first_text"
          Whitespace@3988..3989 " "
        Eq@3989..3990 "="
        Whitespace@3990..3991 " "
        EXPR_CALL@3991..4023
          EXPR_IDENT@3991..4009
            PATH@3991..4009
              Ident@3991..3999 "Describe"
              ColonColon@3999..4001 "::"
              Ident@4001..4009 "describe"
          ARG_LIST@4009..4023
            LParen@4009..4010 "("
            ARG@4010..4022
              EXPR_IDENT@4010..4022
                PATH@4010..4022
                  Ident@4010..4022 "first_record"
            RParen@4022..4023 ")"
        Semi@4023..4024 ";"
        Whitespace@4024..4029 "\n    "
      STMT_LET@4029..4086
        LetKeyword@4029..4032 "let"
        Whitespace@4032..4033 " "
        PATTERN_VARIABLE@4033..4045
          Ident@4033..4044 "bumped_text"
          Whitespace@4044..4045 " "
        Eq@4045..4046 "="
        Whitespace@4046..4047 " "
        EXPR_CALL@4047..4080
          EXPR_IDENT@4047..4065
            PATH@4047..4065
              Ident@4047..4055 "Describe"
              ColonColon@4055..4057 "::"
              Ident@4057..4065 "describe"
          ARG_LIST@4065..4080
            LParen@4065..4066 "("
            ARG@4066..4079
              EXPR_IDENT@4066..4079
                PATH@4066..4079
                  Ident@4066..4079 "bumped_record"
            RParen@4079..4080 ")"
        Semi@4080..4081 ";"
        Whitespace@4081..4086 "\n    "
      STMT_LET@4086..4146
        LetKeyword@4086..4089 "let"
        Whitespace@4089..4090 " "
        PATTERN_VARIABLE@4090..4103
          Ident@4090..4102 "flipped_text"
          Whitespace@4102..4103 " "
        Eq@4103..4104 "="
        Whitespace@4104..4105 " "
        EXPR_CALL@4105..4139
          EXPR_IDENT@4105..4123
            PATH@4105..4123
              Ident@4105..4113 "Describe"
              ColonColon@4113..4115 "::"
              Ident@4115..4123 "describe"
          ARG_LIST@4123..4139
            LParen@4123..4124 "("
            ARG@4124..4138
              EXPR_IDENT@4124..4138
                PATH@4124..4138
                  Ident@4124..4138 "flipped_record"
            RParen@4138..4139 ")"
        Semi@4139..4140 ";"
        Whitespace@4140..4146 "\n\n    "
      STMT_LET@4146..4269
        LetKeyword@4146..4149 "let"
        Whitespace@4149..4150 " "
        PATTERN_VARIABLE@4150..4158
          Ident@4150..4157 "summary"
          Whitespace@4157..4158 " "
        Eq@4158..4159 "="
        Whitespace@4159..4160 " "
        EXPR_MATCH@4160..4262
          MatchKeyword@4160..4165 "match"
          Whitespace@4165..4166 " "
          EXPR_IDENT@4166..4178
            PATH@4166..4178
              Ident@4166..4177 "stringified"
              Whitespace@4177..4178 " "
          MATCH_ARM_LIST@4178..4262
            LBrace@4178..4179 "{"
            Whitespace@4179..4188 "\n        "
            MATCH_ARM@4188..4221
              PATTERN_CONSTR@4188..4199
                PATH@4188..4192
                  Ident@4188..4192 "Some"
                LParen@4192..4193 "("
                PATTERN_VARIABLE@4193..4197
                  Ident@4193..4197 "text"
                RParen@4197..4198 ")"
                Whitespace@4198..4199 " "
              FatArrow@4199..4201 "=>"
              Whitespace@4201..4202 " "
              EXPR_BINARY@4202..4221
                EXPR_STR@4202..4215
                  Str@4202..4214 "\"Snapshot: \""
                  Whitespace@4214..4215 " "
                Plus@4215..4216 "+"
                Whitespace@4216..4217 " "
                EXPR_IDENT@4217..4221
                  PATH@4217..4221
                    Ident@4217..4221 "text"
            Comma@4221..4222 ","
            Whitespace@4222..4231 "\n        "
            MATCH_ARM@4231..4255
              PATTERN_VARIABLE@4231..4236
                Ident@4231..4235 "None"
                Whitespace@4235..4236 " "
              FatArrow@4236..4238 "=>"
              Whitespace@4238..4239 " "
              EXPR_STR@4239..4255
                Str@4239..4255 "\"Snapshot: none\""
            Comma@4255..4256 ","
            Whitespace@4256..4261 "\n    "
            RBrace@4261..4262 "}"
        Semi@4262..4263 ";"
        Whitespace@4263..4269 "\n\n    "
      STMT_LET@4269..4365
        LetKeyword@4269..4272 "let"
        Whitespace@4272..4273 " "
        PATTERN_VARIABLE@4273..4283
          Ident@4273..4282 "pair_text"
          Whitespace@4282..4283 " "
        Eq@4283..4284 "="
        Whitespace@4284..4285 " "
        EXPR_CALL@4285..4359
          EXPR_IDENT@4285..4294
            PATH@4285..4294
              Ident@4285..4294 "pair_join"
          ARG_LIST@4294..4359
            LParen@4294..4295 "("
            ARG@4295..4358
              EXPR_TUPLE@4295..4358
                LParen@4295..4296 "("
                EXPR_CALL@4296..4325
                  EXPR_IDENT@4296..4311
                    PATH@4296..4311
                      Ident@4296..4311 "int32_to_string"
                  ARG_LIST@4311..4325
                    LParen@4311..4312 "("
                    ARG@4312..4324
                      EXPR_IDENT@4312..4324
                        PATH@4312..4324
                          Ident@4312..4324 "first_result"
                    RParen@4324..4325 ")"
                Comma@4325..4326 ","
                Whitespace@4326..4327 " "
                EXPR_CALL@4327..4357
                  EXPR_IDENT@4327..4342
                    PATH@4327..4342
                      Ident@4327..4342 "int32_to_string"
                  ARG_LIST@4342..4357
                    LParen@4342..4343 "("
                    ARG@4343..4356
                      EXPR_IDENT@4343..4356
                        PATH@4343..4356
                          Ident@4343..4356 "second_result"
                    RParen@4356..4357 ")"
                RParen@4357..4358 ")"
            RParen@4358..4359 ")"
        Semi@4359..4360 ";"
        Whitespace@4360..4365 "\n    "
      STMT_LET@4365..4415
        LetKeyword@4365..4368 "let"
        Whitespace@4368..4369 " "
        PATTERN_VARIABLE@4369..4379
          Ident@4369..4378 "bool_text"
          Whitespace@4378..4379 " "
        Eq@4379..4380 "="
        Whitespace@4380..4381 " "
        EXPR_CALL@4381..4408
          EXPR_IDENT@4381..4395
            PATH@4381..4395
              Ident@4381..4395 "bool_to_string"
          ARG_LIST@4395..4408
            LParen@4395..4396 "("
            ARG@4396..4407
              EXPR_IDENT@4396..4407
                PATH@4396..4407
                  Ident@4396..4407 "order_check"
            RParen@4407..4408 ")"
        Semi@4408..4409 ";"
        Whitespace@4409..4415 "\n\n    "
      STMT_LET@4415..4450
        LetKeyword@4415..4418 "let"
        Whitespace@4418..4419 " "
        PATTERN_WILDCARD@4419..4421
          WildcardKeyword@4419..4420 "_"
          Whitespace@4420..4421 " "
        Eq@4421..4422 "="
        Whitespace@4422..4423 " "
        EXPR_CALL@4423..4444
          EXPR_IDENT@4423..4430
            PATH@4423..4430
              Ident@4423..4430 "println"
          ARG_LIST@4430..4444
            LParen@4430..4431 "("
            ARG@4431..4443
              EXPR_IDENT@4431..4443
                PATH@4431..4443
                  Ident@4431..4443 "tracker_info"
            RParen@4443..4444 ")"
        Semi@4444..4445 ";"
        Whitespace@4445..4450 "\n    "
      STMT_LET@4450..4483
        LetKeyword@4450..4453 "let"
        Whitespace@4453..4454 " "
        PATTERN_WILDCARD@4454..4456
          WildcardKeyword@4454..4455 "_"
          Whitespace@4455..4456 " "
        Eq@4456..4457 "="
        Whitespace@4457..4458 " "
        EXPR_CALL@4458..4477
          EXPR_IDENT@4458..4465
            PATH@4458..4465
              Ident@4458..4465 "println"
          ARG_LIST@4465..4477
            LParen@4465..4466 "("
            ARG@4466..4476
              EXPR_IDENT@4466..4476
                PATH@4466..4476
                  Ident@4466..4476 "first_text"
            RParen@4476..4477 ")"
        Semi@4477..4478 ";"
        Whitespace@4478..4483 "\n    "
      STMT_LET@4483..4517
        LetKeyword@4483..4486 "let"
        Whitespace@4486..4487 " "
        PATTERN_WILDCARD@4487..4489
          WildcardKeyword@4487..4488 "_"
          Whitespace@4488..4489 " "
        Eq@4489..4490 "="
        Whitespace@4490..4491 " "
        EXPR_CALL@4491..4511
          EXPR_IDENT@4491..4498
            PATH@4491..4498
              Ident@4491..4498 "println"
          ARG_LIST@4498..4511
            LParen@4498..4499 "("
            ARG@4499..4510
              EXPR_IDENT@4499..4510
                PATH@4499..4510
                  Ident@4499..4510 "bumped_text"
            RParen@4510..4511 ")"
        Semi@4511..4512 ";"
        Whitespace@4512..4517 "\n    "
      STMT_LET@4517..4552
        LetKeyword@4517..4520 "let"
        Whitespace@4520..4521 " "
        PATTERN_WILDCARD@4521..4523
          WildcardKeyword@4521..4522 "_"
          Whitespace@4522..4523 " "
        Eq@4523..4524 "="
        Whitespace@4524..4525 " "
        EXPR_CALL@4525..4546
          EXPR_IDENT@4525..4532
            PATH@4525..4532
              Ident@4525..4532 "println"
          ARG_LIST@4532..4546
            LParen@4532..4533 "("
            ARG@4533..4545
              EXPR_IDENT@4533..4545
                PATH@4533..4545
                  Ident@4533..4545 "flipped_text"
            RParen@4545..4546 ")"
        Semi@4546..4547 ";"
        Whitespace@4547..4552 "\n    "
      STMT_LET@4552..4582
        LetKeyword@4552..4555 "let"
        Whitespace@4555..4556 " "
        PATTERN_WILDCARD@4556..4558
          WildcardKeyword@4556..4557 "_"
          Whitespace@4557..4558 " "
        Eq@4558..4559 "="
        Whitespace@4559..4560 " "
        EXPR_CALL@4560..4576
          EXPR_IDENT@4560..4567
            PATH@4560..4567
              Ident@4560..4567 "println"
          ARG_LIST@4567..4576
            LParen@4567..4568 "("
            ARG@4568..4575
              EXPR_IDENT@4568..4575
                PATH@4568..4575
                  Ident@4568..4575 "summary"
            RParen@4575..4576 ")"
        Semi@4576..4577 ";"
        Whitespace@4577..4582 "\n    "
      STMT_LET@4582..4614
        LetKeyword@4582..4585 "let"
        Whitespace@4585..4586 " "
        PATTERN_WILDCARD@4586..4588
          WildcardKeyword@4586..4587 "_"
          Whitespace@4587..4588 " "
        Eq@4588..4589 "="
        Whitespace@4589..4590 " "
        EXPR_CALL@4590..4608
          EXPR_IDENT@4590..4597
            PATH@4590..4597
              Ident@4590..4597 "println"
          ARG_LIST@4597..4608
            LParen@4597..4598 "("
            ARG@4598..4607
              EXPR_IDENT@4598..4607
                PATH@4598..4607
                  Ident@4598..4607 "pair_text"
            RParen@4607..4608 ")"
        Semi@4608..4609 ";"
        Whitespace@4609..4614 "\n    "
      STMT_LET@4614..4646
        LetKeyword@4614..4617 "let"
        Whitespace@4617..4618 " "
        PATTERN_WILDCARD@4618..4620
          WildcardKeyword@4618..4619 "_"
          Whitespace@4619..4620 " "
        Eq@4620..4621 "="
        Whitespace@4621..4622 " "
        EXPR_CALL@4622..4640
          EXPR_IDENT@4622..4629
            PATH@4622..4629
              Ident@4622..4629 "println"
          ARG_LIST@4629..4640
            LParen@4629..4630 "("
            ARG@4630..4639
              EXPR_IDENT@4630..4639
                PATH@4630..4639
                  Ident@4630..4639 "bool_text"
            RParen@4639..4640 ")"
        Semi@4640..4641 ";"
        Whitespace@4641..4646 "\n    "
      EXPR_UNIT@4646..4649
        LParen@4646..4647 "("
        RParen@4647..4648 ")"
        Whitespace@4648..4649 "\n"
      RBrace@4649..4650 "}"
      Whitespace@4650..4651 "\n"