FILE@0..575
  FN@0..147
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..11 "cut_pair"
    PARAM_LIST@11..22
      LParen@11..12 "("
      PARAM@12..20
        Ident@12..14 "ok"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_BOOL@16..20
          BoolKeyword@16..20 "bool"
      RParen@20..21 ")"
      Whitespace@21..22 " "
    Arrow@22..24 "->"
    Whitespace@24..25 " "
    TYPE_TAPP@25..50
      PATH@25..31
        Ident@25..31 "Option"
      TYPE_PARAM_LIST@31..50
        LBracket@31..32 "["
        TYPE_TUPLE@32..48
          TYPE_LIST@32..48
            LParen@32..33 "("
            TYPE_STRING@33..39
              StringKeyword@33..39 "string"
            Comma@39..40 ","
            Whitespace@40..41 " "
            TYPE_STRING@41..47
              StringKeyword@41..47 "string"
            RParen@47..48 ")"
        RBracket@48..49 "]"
        Whitespace@49..50 " "
    BLOCK@50..147
      LBrace@50..51 "{"
      Whitespace@51..56 "\n    "
      EXPR_IF@56..144
        IfKeyword@56..58 "if"
        Whitespace@58..59 " "
        EXPR_IF_COND@59..62
          EXPR_IDENT@59..62
            PATH@59..62
              Ident@59..61 "ok"
              Whitespace@61..62 " "
        EXPR_IF_THEN@62..110
          BLOCK@62..110
            LBrace@62..63 "{"
            Whitespace@63..72 "\n        "
            EXPR_CALL@72..108
              EXPR_IDENT@72..84
                PATH@72..84
                  Ident@72..78 "Option"
                  ColonColon@78..80 "::"
                  Ident@80..84 "Some"
              ARG_LIST@84..108
                LParen@84..85 "("
                ARG@85..102
                  EXPR_TUPLE@85..102
                    LParen@85..86 "("
                    EXPR_STR@86..92
                      Str@86..92 "\"left\""
                    Comma@92..93 ","
                    Whitespace@93..94 " "
                    EXPR_STR@94..101
                      Str@94..101 "\"right\""
                    RParen@101..102 ")"
                RParen@102..103 ")"
                Whitespace@103..108 "\n    "
            RBrace@108..109 "}"
            Whitespace@109..110 " "
        ElseKeyword@110..114 "else"
        Whitespace@114..115 " "
        EXPR_IF_ELSE@115..144
          BLOCK@115..144
            LBrace@115..116 "{"
            Whitespace@116..125 "\n        "
            EXPR_IDENT@125..142
              PATH@125..142
                Ident@125..131 "Option"
                ColonColon@131..133 "::"
                Ident@133..137 "None"
                Whitespace@137..142 "\n    "
            RBrace@142..143 "}"
            Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..147 "\n\n"
  FN@147..215
    FnKeyword@147..149 "fn"
    Whitespace@149..150 " "
    Ident@150..154 "pair"
    PARAM_LIST@154..165
      LParen@154..155 "("
      PARAM@155..163
        Ident@155..157 "ok"
        Colon@157..158 ":"
        Whitespace@158..159 " "
        TYPE_BOOL@159..163
          BoolKeyword@159..163 "bool"
      RParen@163..164 ")"
      Whitespace@164..165 " "
    Arrow@165..167 "->"
    Whitespace@167..168 " "
    TYPE_TAPP@168..193
      PATH@168..174
        Ident@168..174 "Option"
      TYPE_PARAM_LIST@174..193
        LBracket@174..175 "["
        TYPE_TUPLE@175..191
          TYPE_LIST@175..191
            LParen@175..176 "("
            TYPE_STRING@176..182
              StringKeyword@176..182 "string"
            Comma@182..183 ","
            Whitespace@183..184 " "
            TYPE_STRING@184..190
              StringKeyword@184..190 "string"
            RParen@190..191 ")"
        RBracket@191..192 "]"
        Whitespace@192..193 " "
    BLOCK@193..215
      LBrace@193..194 "{"
      Whitespace@194..199 "\n    "
      EXPR_CALL@199..212
        EXPR_IDENT@199..207
          PATH@199..207
            Ident@199..207 "cut_pair"
        ARG_LIST@207..212
          LParen@207..208 "("
          ARG@208..210
            EXPR_IDENT@208..210
              PATH@208..210
                Ident@208..210 "ok"
          RParen@210..211 ")"
          Whitespace@211..212 "\n"
      RBrace@212..213 "}"
      Whitespace@213..215 "\n\n"
  FN@215..336
    FnKeyword@215..217 "fn"
    Whitespace@217..218 " "
    Ident@218..226 "describe"
    PARAM_LIST@226..237
      LParen@226..227 "("
      PARAM@227..235
        Ident@227..229 "ok"
        Colon@229..230 ":"
        Whitespace@230..231 " "
        TYPE_BOOL@231..235
          BoolKeyword@231..235 "bool"
      RParen@235..236 ")"
      Whitespace@236..237 " "
    Arrow@237..239 "->"
    Whitespace@239..240 " "
    TYPE_TAPP@240..255
      PATH@240..246
        Ident@240..246 "Option"
      TYPE_PARAM_LIST@246..255
        LBracket@246..247 "["
        TYPE_STRING@247..253
          StringKeyword@247..253 "string"
        RBracket@253..254 "]"
        Whitespace@254..255 " "
    BLOCK@255..336
      LBrace@255..256 "{"
      Whitespace@256..261 "\n    "
      STMT_LET@261..298
        LetKeyword@261..264 "let"
        Whitespace@264..265 " "
        PATTERN_TUPLE@265..281
          LParen@265..266 "("
          PATTERN_VARIABLE@266..272
            Ident@266..272 "before"
          Comma@272..273 ","
          Whitespace@273..274 " "
          PATTERN_VARIABLE@274..279
            Ident@274..279 "after"
          RParen@279..280 ")"
          Whitespace@280..281 " "
        Eq@281..282 "="
        Whitespace@282..283 " "
        EXPR_TRY@283..292
          EXPR_CALL@283..291
            EXPR_IDENT@283..287
              PATH@283..287
                Ident@283..287 "pair"
            ARG_LIST@287..291
              LParen@287..288 "("
              ARG@288..290
                EXPR_IDENT@288..290
                  PATH@288..290
                    Ident@288..290 "ok"
              RParen@290..291 ")"
          Question@291..292 "?"
        Semi@292..293 ";"
        Whitespace@293..298 "\n    "
      EXPR_CALL@298..333
        EXPR_IDENT@298..310
          PATH@298..310
            Ident@298..304 "Option"
            ColonColon@304..306 "::"
            Ident@306..310 "Some"
        ARG_LIST@310..333
          LParen@310..311 "("
          ARG@311..331
            EXPR_BINARY@311..331
              EXPR_BINARY@311..324
                EXPR_IDENT@311..318
                  PATH@311..318
                    Ident@311..317 "before"
                    Whitespace@317..318 " "
                Plus@318..319 "+"
                Whitespace@319..320 " "
                EXPR_STR@320..324
                  Str@320..323 "\":\""
                  Whitespace@323..324 " "
              Plus@324..325 "+"
              Whitespace@325..326 " "
              EXPR_IDENT@326..331
                PATH@326..331
                  Ident@326..331 "after"
          RParen@331..332 ")"
          Whitespace@332..333 "\n"
      RBrace@333..334 "}"
      Whitespace@334..336 "\n\n"
  FN@336..482
    FnKeyword@336..338 "fn"
    Whitespace@338..339 " "
    Ident@339..343 "show"
    PARAM_LIST@343..365
      LParen@343..344 "("
      PARAM@344..363
        Ident@344..347 "opt"
        Colon@347..348 ":"
        Whitespace@348..349 " "
        TYPE_TAPP@349..363
          PATH@349..355
            Ident@349..355 "Option"
          TYPE_PARAM_LIST@355..363
            LBracket@355..356 "["
            TYPE_STRING@356..362
              StringKeyword@356..362 "string"
            RBracket@362..363 "]"
      RParen@363..364 ")"
      Whitespace@364..365 " "
    Arrow@365..367 "->"
    Whitespace@367..368 " "
    TYPE_STRING@368..375
      StringKeyword@368..374 "string"
      Whitespace@374..375 " "
    BLOCK@375..482
      LBrace@375..376 "{"
      Whitespace@376..381 "\n    "
      EXPR_MATCH@381..479
        MatchKeyword@381..386 "match"
        Whitespace@386..387 " "
        EXPR_IDENT@387..391
          PATH@387..391
            Ident@387..390 "opt"
            Whitespace@390..391 " "
        MATCH_ARM_LIST@391..479
          LBrace@391..392 "{"
          Whitespace@392..401 "\n        "
          MATCH_ARM@401..439
            PATTERN_CONSTR@401..421
              PATH@401..413
                Ident@401..407 "Option"
                ColonColon@407..409 "::"
                Ident@409..413 "Some"
              LParen@413..414 "("
              PATTERN_VARIABLE@414..419
                Ident@414..419 "value"
              RParen@419..420 ")"
              Whitespace@420..421 " "
            FatArrow@421..423 "=>"
            Whitespace@423..424 " "
            EXPR_BINARY@424..439
              EXPR_STR@424..432
                Str@424..431 "\"some \""
                Whitespace@431..432 " "
              Plus@432..433 "+"
              Whitespace@433..434 " "
              EXPR_IDENT@434..439
                PATH@434..439
                  Ident@434..439 "value"
          Comma@439..440 ","
          Whitespace@440..449 "\n        "
          MATCH_ARM@449..471
            PATTERN_CONSTR@449..462
              PATH@449..462
                Ident@449..455 "Option"
                ColonColon@455..457 "::"
                Ident@457..461 "None"
                Whitespace@461..462 " "
            FatArrow@462..464 "=>"
            Whitespace@464..465 " "
            EXPR_STR@465..471
              Str@465..471 "\"none\""
          Comma@471..472 ","
          Whitespace@472..477 "\n    "
          RBrace@477..478 "}"
          Whitespace@478..479 "\n"
      RBrace@479..480 "}"
      Whitespace@480..482 "\n\n"
  FN@482..575
    FnKeyword@482..484 "fn"
    Whitespace@484..485 " "
    Ident@485..489 "main"
    PARAM_LIST@489..492
      LParen@489..490 "("
      RParen@490..491 ")"
      Whitespace@491..492 " "
    Arrow@492..494 "->"
    Whitespace@494..495 " "
    TYPE_UNIT@495..500
      UnitKeyword@495..499 "unit"
      Whitespace@499..500 " "
    BLOCK@500..575
      LBrace@500..501 "{"
      Whitespace@501..506 "\n    "
      STMT_EXPR@506..541
        EXPR_CALL@506..535
          EXPR_IDENT@506..513
            PATH@506..513
              Ident@506..513 "println"
          ARG_LIST@513..535
            LParen@513..514 "("
            ARG@514..534
              EXPR_CALL@514..534
                EXPR_IDENT@514..518
                  PATH@514..518
                    Ident@514..518 "show"
                ARG_LIST@518..534
                  LParen@518..519 "("
                  ARG@519..533
                    EXPR_CALL@519..533
                      EXPR_IDENT@519..527
                        PATH@519..527
                          Ident@519..527 "describe"
                      ARG_LIST@527..533
                        LParen@527..528 "("
                        ARG@528..532
                          EXPR_BOOL@528..532
                            TrueKeyword@528..532 "true"
                        RParen@532..533 ")"
                  RParen@533..534 ")"
            RParen@534..535 ")"
        Semi@535..536 ";"
        Whitespace@536..541 "\n    "
      STMT_EXPR@541..573
        EXPR_CALL@541..571
          EXPR_IDENT@541..548
            PATH@541..548
              Ident@541..548 "println"
          ARG_LIST@548..571
            LParen@548..549 "("
            ARG@549..570
              EXPR_CALL@549..570
                EXPR_IDENT@549..553
                  PATH@549..553
                    Ident@549..553 "show"
                ARG_LIST@553..570
                  LParen@553..554 "("
                  ARG@554..569
                    EXPR_CALL@554..569
                      EXPR_IDENT@554..562
                        PATH@554..562
                          Ident@554..562 "describe"
                      ARG_LIST@562..569
                        LParen@562..563 "("
                        ARG@563..568
                          EXPR_BOOL@563..568
                            FalseKeyword@563..568 "false"
                        RParen@568..569 ")"
                  RParen@569..570 ")"
            RParen@570..571 ")"
        Semi@571..572 ";"
        Whitespace@572..573 "\n"
      RBrace@573..574 "}"
      Whitespace@574..575 "\n"