FILE@0..562
  TRAIT@0..47
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..7 "A"
    Whitespace@7..8 " "
    LBrace@8..9 "{"
    Whitespace@9..14 "\n    "
    TRAIT_METHOD_SIG_LIST@14..47
      TRAIT_METHOD_SIG@14..44
        FnKeyword@14..16 "fn"
        Whitespace@16..17 " "
        Ident@17..20 "foo"
        PARAM_LIST@20..33
          LParen@20..21 "("
          PARAM@21..31
            Ident@21..25 "self"
            Colon@25..26 ":"
            Whitespace@26..27 " "
            TYPE_TAPP@27..31
              PATH@27..31
                Ident@27..31 "Self"
          RParen@31..32 ")"
          Whitespace@32..33 " "
        Arrow@33..35 "->"
        Whitespace@35..36 " "
        TYPE_STRING@36..42
          StringKeyword@36..42 "string"
        Semi@42..43 ";"
        Whitespace@43..44 "\n"
      RBrace@44..45 "}"
      Whitespace@45..47 "\n\n"
  TRAIT@47..94
    TraitKeyword@47..52 "trait"
    Whitespace@52..53 " "
    Ident@53..54 "B"
    Whitespace@54..55 " "
    LBrace@55..56 "{"
    Whitespace@56..61 "\n    "
    TRAIT_METHOD_SIG_LIST@61..94
      TRAIT_METHOD_SIG@61..91
        FnKeyword@61..63 "fn"
        Whitespace@63..64 " "
        Ident@64..67 "foo"
        PARAM_LIST@67..80
          LParen@67..68 "("
          PARAM@68..78
            Ident@68..72 "self"
            Colon@72..73 ":"
            Whitespace@73..74 " "
            TYPE_TAPP@74..78
              PATH@74..78
                Ident@74..78 "Self"
          RParen@78..79 ")"
          Whitespace@79..80 " "
        Arrow@80..82 "->"
        Whitespace@82..83 " "
        TYPE_STRING@83..89
          StringKeyword@83..89 "string"
        Semi@89..90 ";"
        Whitespace@90..91 "\n"
      RBrace@91..92 "}"
      Whitespace@92..94 "\n\n"
  TRAIT@94..141
    TraitKeyword@94..99 "trait"
    Whitespace@99..100 " "
    Ident@100..101 "C"
    Whitespace@101..102 " "
    LBrace@102..103 "{"
    Whitespace@103..108 "\n    "
    TRAIT_METHOD_SIG_LIST@108..141
      TRAIT_METHOD_SIG@108..138
        FnKeyword@108..110 "fn"
        Whitespace@110..111 " "
        Ident@111..114 "bar"
        PARAM_LIST@114..127
          LParen@114..115 "("
          PARAM@115..125
            Ident@115..119 "self"
            Colon@119..120 ":"
            Whitespace@120..121 " "
            TYPE_TAPP@121..125
              PATH@121..125
                Ident@121..125 "Self"
          RParen@125..126 ")"
          Whitespace@126..127 " "
        Arrow@127..129 "->"
        Whitespace@129..130 " "
        TYPE_STRING@130..136
          StringKeyword@130..136 "string"
        Semi@136..137 ";"
        Whitespace@137..138 "\n"
      RBrace@138..139 "}"
      Whitespace@139..141 "\n\n"
  STRUCT@141..154
    StructKeyword@141..147 "struct"
    Whitespace@147..148 " "
    Ident@148..149 "S"
    Whitespace@149..150 " "
    LBrace@150..151 "{"
    STRUCT_FIELD_LIST@151..154
      RBrace@151..152 "}"
      Whitespace@152..154 "\n\n"
  IMPL@154..222
    ImplKeyword@154..158 "impl"
    Whitespace@158..159 " "
    TYPE_TAPP@159..161
      PATH@159..161
        Ident@159..160 "A"
        Whitespace@160..161 " "
    ForKeyword@161..164 "for"
    Whitespace@164..165 " "
    TYPE_TAPP@165..167
      PATH@165..167
        Ident@165..166 "S"
        Whitespace@166..167 " "
    LBrace@167..168 "{"
    Whitespace@168..173 "\n    "
    FN@173..219
      FnKeyword@173..175 "fn"
      Whitespace@175..176 " "
      Ident@176..179 "foo"
      PARAM_LIST@179..189
        LParen@179..180 "("
        PARAM@180..187
          Ident@180..184 "self"
          Colon@184..185 ":"
          Whitespace@185..186 " "
          TYPE_TAPP@186..187
            PATH@186..187
              Ident@186..187 "S"
        RParen@187..188 ")"
        Whitespace@188..189 " "
      Arrow@189..191 "->"
      Whitespace@191..192 " "
      TYPE_STRING@192..199
        StringKeyword@192..198 "string"
        Whitespace@198..199 " "
      BLOCK@199..219
        LBrace@199..200 "{"
        Whitespace@200..209 "\n        "
        EXPR_STR@209..217
          Str@209..212 "\"A\""
          Whitespace@212..217 "\n    "
        RBrace@217..218 "}"
        Whitespace@218..219 "\n"
    RBrace@219..220 "}"
    Whitespace@220..222 "\n\n"
  IMPL@222..290
    ImplKeyword@222..226 "impl"
    Whitespace@226..227 " "
    TYPE_TAPP@227..229
      PATH@227..229
        Ident@227..228 "B"
        Whitespace@228..229 " "
    ForKeyword@229..232 "for"
    Whitespace@232..233 " "
    TYPE_TAPP@233..235
      PATH@233..235
        Ident@233..234 "S"
        Whitespace@234..235 " "
    LBrace@235..236 "{"
    Whitespace@236..241 "\n    "
    FN@241..287
      FnKeyword@241..243 "fn"
      Whitespace@243..244 " "
      Ident@244..247 "foo"
      PARAM_LIST@247..257
        LParen@247..248 "("
        PARAM@248..255
          Ident@248..252 "self"
          Colon@252..253 ":"
          Whitespace@253..254 " "
          TYPE_TAPP@254..255
            PATH@254..255
              Ident@254..255 "S"
        RParen@255..256 ")"
        Whitespace@256..257 " "
      Arrow@257..259 "->"
      Whitespace@259..260 " "
      TYPE_STRING@260..267
        StringKeyword@260..266 "string"
        Whitespace@266..267 " "
      BLOCK@267..287
        LBrace@267..268 "{"
        Whitespace@268..277 "\n        "
        EXPR_STR@277..285
          Str@277..280 "\"B\""
          Whitespace@280..285 "\n    "
        RBrace@285..286 "}"
        Whitespace@286..287 "\n"
    RBrace@287..288 "}"
    Whitespace@288..290 "\n\n"
  IMPL@290..358
    ImplKeyword@290..294 "impl"
    Whitespace@294..295 " "
    TYPE_TAPP@295..297
      PATH@295..297
        Ident@295..296 "C"
        Whitespace@296..297 " "
    ForKeyword@297..300 "for"
    Whitespace@300..301 " "
    TYPE_TAPP@301..303
      PATH@301..303
        Ident@301..302 "S"
        Whitespace@302..303 " "
    LBrace@303..304 "{"
    Whitespace@304..309 "\n    "
    FN@309..355
      FnKeyword@309..311 "fn"
      Whitespace@311..312 " "
      Ident@312..315 "bar"
      PARAM_LIST@315..325
        LParen@315..316 "("
        PARAM@316..323
          Ident@316..320 "self"
          Colon@320..321 ":"
          Whitespace@321..322 " "
          TYPE_TAPP@322..323
            PATH@322..323
              Ident@322..323 "S"
        RParen@323..324 ")"
        Whitespace@324..325 " "
      Arrow@325..327 "->"
      Whitespace@327..328 " "
      TYPE_STRING@328..335
        StringKeyword@328..334 "string"
        Whitespace@334..335 " "
      BLOCK@335..355
        LBrace@335..336 "{"
        Whitespace@336..345 "\n        "
        EXPR_STR@345..353
          Str@345..348 "\"C\""
          Whitespace@348..353 "\n    "
        RBrace@353..354 "}"
        Whitespace@354..355 "\n"
    RBrace@355..356 "}"
    Whitespace@356..358 "\n\n"
  FN@358..417
    FnKeyword@358..360 "fn"
    Whitespace@360..361 " "
    Ident@361..367 "pick_a"
    GENERIC_LIST@367..381
      LBracket@367..368 "["
      GENERIC@368..380
        Ident@368..369 "T"
        Colon@369..370 ":"
        Whitespace@370..371 " "
        TRAIT_SET@371..380
          TYPE_TAPP@371..373
            PATH@371..373
              Ident@371..372 "B"
              Whitespace@372..373 " "
          Plus@373..374 "+"
          Whitespace@374..375 " "
          TYPE_TAPP@375..377
            PATH@375..377
              Ident@375..376 "A"
              Whitespace@376..377 " "
          Plus@377..378 "+"
          Whitespace@378..379 " "
          TYPE_TAPP@379..380
            PATH@379..380
              Ident@379..380 "A"
      RBracket@380..381 "]"
    PARAM_LIST@381..388
      LParen@381..382 "("
      PARAM@382..386
        Ident@382..383 "x"
        Colon@383..384 ":"
        Whitespace@384..385 " "
        TYPE_TAPP@385..386
          PATH@385..386
            Ident@385..386 "T"
      RParen@386..387 ")"
      Whitespace@387..388 " "
    Arrow@388..390 "->"
    Whitespace@390..391 " "
    TYPE_STRING@391..398
      StringKeyword@391..397 "string"
      Whitespace@397..398 " "
    BLOCK@398..417
      LBrace@398..399 "{"
      Whitespace@399..404 "\n    "
      EXPR_CALL@404..414
        EXPR_IDENT@404..410
          PATH@404..410
            Ident@404..405 "A"
            ColonColon@405..407 "::"
            Ident@407..410 "foo"
        ARG_LIST@410..414
          LParen@410..411 "("
          ARG@411..412
            EXPR_IDENT@411..412
              PATH@411..412
                Ident@411..412 "x"
          RParen@412..413 ")"
          Whitespace@413..414 "\n"
      RBrace@414..415 "}"
      Whitespace@415..417 "\n\n"
  FN@417..466
    FnKeyword@417..419 "fn"
    Whitespace@419..420 " "
    Ident@420..426 "bar_it"
    GENERIC_LIST@426..432
      LBracket@426..427 "["
      GENERIC@427..431
        Ident@427..428 "T"
        Colon@428..429 ":"
        Whitespace@429..430 " "
        TRAIT_SET@430..431
          TYPE_TAPP@430..431
            PATH@430..431
              Ident@430..431 "C"
      RBracket@431..432 "]"
    PARAM_LIST@432..439
      LParen@432..433 "("
      PARAM@433..437
        Ident@433..434 "x"
        Colon@434..435 ":"
        Whitespace@435..436 " "
        TYPE_TAPP@436..437
          PATH@436..437
            Ident@436..437 "T"
      RParen@437..438 ")"
      Whitespace@438..439 " "
    Arrow@439..441 "->"
    Whitespace@441..442 " "
    TYPE_STRING@442..449
      StringKeyword@442..448 "string"
      Whitespace@448..449 " "
    BLOCK@449..466
      LBrace@449..450 "{"
      Whitespace@450..455 "\n    "
      EXPR_CALL@455..463
        EXPR_BINARY@455..460
          EXPR_IDENT@455..456
            PATH@455..456
              Ident@455..456 "x"
          Dot@456..457 "."
          EXPR_IDENT@457..460
            PATH@457..460
              Ident@457..460 "bar"
        ARG_LIST@460..463
          LParen@460..461 "("
          RParen@461..462 ")"
          Whitespace@462..463 "\n"
      RBrace@463..464 "}"
      Whitespace@464..466 "\n\n"
  FN@466..562
    FnKeyword@466..468 "fn"
    Whitespace@468..469 " "
    Ident@469..473 "main"
    PARAM_LIST@473..476
      LParen@473..474 "("
      RParen@474..475 ")"
      Whitespace@475..476 " "
    BLOCK@476..562
      LBrace@476..477 "{"
      Whitespace@477..482 "\n    "
      STMT_LET@482..500
        LetKeyword@482..485 "let"
        Whitespace@485..486 " "
        PATTERN_VARIABLE@486..488
          Ident@486..487 "s"
          Whitespace@487..488 " "
        Eq@488..489 "="
        Whitespace@489..490 " "
        EXPR_STRUCT_LITERAL@490..494
          PATH@490..492
            Ident@490..491 "S"
            Whitespace@491..492 " "
          STRUCT_LITERAL_FIELD_LIST@492..494
            LBrace@492..493 "{"
            RBrace@493..494 "}"
        Semi@494..495 ";"
        Whitespace@495..500 "\n    "
      STMT_LET@500..532
        LetKeyword@500..503 "let"
        Whitespace@503..504 " "
        PATTERN_WILDCARD@504..506
          WildcardKeyword@504..505 "_"
          Whitespace@505..506 " "
        Eq@506..507 "="
        Whitespace@507..508 " "
        EXPR_CALL@508..526
          EXPR_IDENT@508..515
            PATH@508..515
              Ident@508..515 "println"
          ARG_LIST@515..526
            LParen@515..516 "("
            ARG@516..525
              EXPR_CALL@516..525
                EXPR_IDENT@516..522
                  PATH@516..522
                    Ident@516..522 "pick_a"
                ARG_LIST@522..525
                  LParen@522..523 "("
                  ARG@523..524
                    EXPR_IDENT@523..524
                      PATH@523..524
                        Ident@523..524 "s"
                  RParen@524..525 ")"
            RParen@525..526 ")"
        Semi@526..527 ";"
        Whitespace@527..532 "\n    "
      STMT_LET@532..560
        LetKeyword@532..535 "let"
        Whitespace@535..536 " "
        PATTERN_WILDCARD@536..538
          WildcardKeyword@536..537 "_"
          Whitespace@537..538 " "
        Eq@538..539 "="
        Whitespace@539..540 " "
        EXPR_CALL@540..558
          EXPR_IDENT@540..547
            PATH@540..547
              Ident@540..547 "println"
          ARG_LIST@547..558
            LParen@547..548 "("
            ARG@548..557
              EXPR_CALL@548..557
                EXPR_IDENT@548..554
                  PATH@548..554
                    Ident@548..554 "bar_it"
                ARG_LIST@554..557
                  LParen@554..555 "("
                  ARG@555..556
                    EXPR_IDENT@555..556
                      PATH@555..556
                        Ident@555..556 "s"
                  RParen@556..557 ")"
            RParen@557..558 ")"
        Semi@558..559 ";"
        Whitespace@559..560 "\n"
      RBrace@560..561 "}"
      Whitespace@561..562 "\n"