FILE@0..816
  FN@0..33
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "a_value"
    PARAM_LIST@10..13
      LParen@10..11 "("
      RParen@11..12 ")"
      Whitespace@12..13 " "
    Arrow@13..15 "->"
    Whitespace@15..16 " "
    TYPE_INT8@16..21
      Int8Keyword@16..20 "int8"
      Whitespace@20..21 " "
    BLOCK@21..33
      LBrace@21..22 "{"
      Whitespace@22..27 "\n    "
      EXPR_INT@27..30
        Int@27..29 "90"
        Whitespace@29..30 "\n"
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  FN@33..67
    FnKeyword@33..35 "fn"
    Whitespace@35..36 " "
    Ident@36..43 "b_value"
    PARAM_LIST@43..46
      LParen@43..44 "("
      RParen@44..45 ")"
      Whitespace@45..46 " "
    Arrow@46..48 "->"
    Whitespace@48..49 " "
    TYPE_INT8@49..54
      Int8Keyword@49..53 "int8"
      Whitespace@53..54 " "
    BLOCK@54..67
      LBrace@54..55 "{"
      Whitespace@55..60 "\n    "
      EXPR_PREFIX@60..64
        Minus@60..61 "-"
        EXPR_INT@61..64
          Int@61..63 "20"
          Whitespace@63..64 "\n"
      RBrace@64..65 "}"
      Whitespace@65..67 "\n\n"
  FN@67..99
    FnKeyword@67..69 "fn"
    Whitespace@69..70 " "
    Ident@70..77 "c_value"
    PARAM_LIST@77..80
      LParen@77..78 "("
      RParen@78..79 ")"
      Whitespace@79..80 " "
    Arrow@80..82 "->"
    Whitespace@82..83 " "
    TYPE_INT8@83..88
      Int8Keyword@83..87 "int8"
      Whitespace@87..88 " "
    BLOCK@88..99
      LBrace@88..89 "{"
      Whitespace@89..94 "\n    "
      EXPR_INT@94..96
        Int@94..95 "3"
        Whitespace@95..96 "\n"
      RBrace@96..97 "}"
      Whitespace@97..99 "\n\n"
  FN@99..193
    FnKeyword@99..101 "fn"
    Whitespace@101..102 " "
    Ident@102..111 "show_int8"
    PARAM_LIST@111..140
      LParen@111..112 "("
      PARAM@112..127
        Ident@112..117 "label"
        Colon@117..118 ":"
        Whitespace@118..119 " "
        TYPE_STRING@119..125
          StringKeyword@119..125 "string"
        Comma@125..126 ","
        Whitespace@126..127 " "
      PARAM@127..138
        Ident@127..132 "value"
        Colon@132..133 ":"
        Whitespace@133..134 " "
        TYPE_INT8@134..138
          Int8Keyword@134..138 "int8"
      RParen@138..139 ")"
      Whitespace@139..140 " "
    BLOCK@140..193
      LBrace@140..141 "{"
      Whitespace@141..146 "\n    "
      STMT_LET@146..190
        LetKeyword@146..149 "let"
        Whitespace@149..150 " "
        PATTERN_WILDCARD@150..152
          WildcardKeyword@150..151 "_"
          Whitespace@151..152 " "
        Eq@152..153 "="
        Whitespace@153..154 " "
        EXPR_CALL@154..188
          EXPR_IDENT@154..161
            PATH@154..161
              Ident@154..161 "println"
          ARG_LIST@161..188
            LParen@161..162 "("
            ARG@162..187
              EXPR_BINARY@162..187
                EXPR_IDENT@162..168
                  PATH@162..168
                    Ident@162..167 "label"
                    Whitespace@167..168 " "
                Plus@168..169 "+"
                Whitespace@169..170 " "
                EXPR_CALL@170..187
                  EXPR_BINARY@170..185
                    EXPR_IDENT@170..175
                      PATH@170..175
                        Ident@170..175 "value"
                    Dot@175..176 "."
                    EXPR_IDENT@176..185
                      PATH@176..185
                        Ident@176..185 "to_string"
                  ARG_LIST@185..187
                    LParen@185..186 "("
                    RParen@186..187 ")"
            RParen@187..188 ")"
        Semi@188..189 ";"
        Whitespace@189..190 "\n"
      RBrace@190..191 "}"
      Whitespace@191..193 "\n\n"
  FN@193..287
    FnKeyword@193..195 "fn"
    Whitespace@195..196 " "
    Ident@196..205 "show_bool"
    PARAM_LIST@205..234
      LParen@205..206 "("
      PARAM@206..221
        Ident@206..211 "label"
        Colon@211..212 ":"
        Whitespace@212..213 " "
        TYPE_STRING@213..219
          StringKeyword@213..219 "string"
        Comma@219..220 ","
        Whitespace@220..221 " "
      PARAM@221..232
        Ident@221..226 "value"
        Colon@226..227 ":"
        Whitespace@227..228 " "
        TYPE_BOOL@228..232
          BoolKeyword@228..232 "bool"
      RParen@232..233 ")"
      Whitespace@233..234 " "
    BLOCK@234..287
      LBrace@234..235 "{"
      Whitespace@235..240 "\n    "
      STMT_LET@240..284
        LetKeyword@240..243 "let"
        Whitespace@243..244 " "
        PATTERN_WILDCARD@244..246
          WildcardKeyword@244..245 "_"
          Whitespace@245..246 " "
        Eq@246..247 "="
        Whitespace@247..248 " "
        EXPR_CALL@248..282
          EXPR_IDENT@248..255
            PATH@248..255
              Ident@248..255 "println"
          ARG_LIST@255..282
            LParen@255..256 "("
            ARG@256..281
              EXPR_BINARY@256..281
                EXPR_IDENT@256..262
                  PATH@256..262
                    Ident@256..261 "label"
                    Whitespace@261..262 " "
                Plus@262..263 "+"
                Whitespace@263..264 " "
                EXPR_CALL@264..281
                  EXPR_BINARY@264..279
                    EXPR_IDENT@264..269
                      PATH@264..269
                        Ident@264..269 "value"
                    Dot@269..270 "."
                    EXPR_IDENT@270..279
                      PATH@270..279
                        Ident@270..279 "to_string"
                  ARG_LIST@279..281
                    LParen@279..280 "("
                    RParen@280..281 ")"
            RParen@281..282 ")"
        Semi@282..283 ";"
        Whitespace@283..284 "\n"
      RBrace@284..285 "}"
      Whitespace@285..287 "\n\n"
  FN@287..816
    FnKeyword@287..289 "fn"
    Whitespace@289..290 " "
    Ident@290..294 "main"
    PARAM_LIST@294..297
      LParen@294..295 "("
      RParen@295..296 ")"
      Whitespace@296..297 " "
    BLOCK@297..816
      LBrace@297..298 "{"
      Whitespace@298..303 "\n    "
      STMT_LET@303..326
        LetKeyword@303..306 "let"
        Whitespace@306..307 " "
        PATTERN_VARIABLE@307..309
          Ident@307..308 "a"
          Whitespace@308..309 " "
        Eq@309..310 "="
        Whitespace@310..311 " "
        EXPR_CALL@311..320
          EXPR_IDENT@311..318
            PATH@311..318
              Ident@311..318 "a_value"
          ARG_LIST@318..320
            LParen@318..319 "("
            RParen@319..320 ")"
        Semi@320..321 ";"
        Whitespace@321..326 "\n    "
      STMT_LET@326..349
        LetKeyword@326..329 "let"
        Whitespace@329..330 " "
        PATTERN_VARIABLE@330..332
          Ident@330..331 "b"
          Whitespace@331..332 " "
        Eq@332..333 "="
        Whitespace@333..334 " "
        EXPR_CALL@334..343
          EXPR_IDENT@334..341
            PATH@334..341
              Ident@334..341 "b_value"
          ARG_LIST@341..343
            LParen@341..342 "("
            RParen@342..343 ")"
        Semi@343..344 ";"
        Whitespace@344..349 "\n    "
      STMT_LET@349..372
        LetKeyword@349..352 "let"
        Whitespace@352..353 " "
        PATTERN_VARIABLE@353..355
          Ident@353..354 "c"
          Whitespace@354..355 " "
        Eq@355..356 "="
        Whitespace@356..357 " "
        EXPR_CALL@357..366
          EXPR_IDENT@357..364
            PATH@357..364
              Ident@357..364 "c_value"
          ARG_LIST@364..366
            LParen@364..365 "("
            RParen@365..366 ")"
        Semi@366..367 ";"
        Whitespace@367..372 "\n    "
      STMT_LET@372..393
        LetKeyword@372..375 "let"
        Whitespace@375..376 " "
        PATTERN_VARIABLE@376..380
          Ident@376..379 "sum"
          Whitespace@379..380 " "
        Eq@380..381 "="
        Whitespace@381..382 " "
        EXPR_BINARY@382..387
          EXPR_IDENT@382..384
            PATH@382..384
              Ident@382..383 "a"
              Whitespace@383..384 " "
          Plus@384..385 "+"
          Whitespace@385..386 " "
          EXPR_IDENT@386..387
            PATH@386..387
              Ident@386..387 "b"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      STMT_LET@393..415
        LetKeyword@393..396 "let"
        Whitespace@396..397 " "
        PATTERN_VARIABLE@397..402
          Ident@397..401 "diff"
          Whitespace@401..402 " "
        Eq@402..403 "="
        Whitespace@403..404 " "
        EXPR_BINARY@404..409
          EXPR_IDENT@404..406
            PATH@404..406
              Ident@404..405 "a"
              Whitespace@405..406 " "
          Minus@406..407 "-"
          Whitespace@407..408 " "
          EXPR_IDENT@408..409
            PATH@408..409
              Ident@408..409 "c"
        Semi@409..410 ";"
        Whitespace@410..415 "\n    "
      STMT_LET@415..437
        LetKeyword@415..418 "let"
        Whitespace@418..419 " "
        PATTERN_VARIABLE@419..424
          Ident@419..423 "prod"
          Whitespace@423..424 " "
        Eq@424..425 "="
        Whitespace@425..426 " "
        EXPR_BINARY@426..431
          EXPR_IDENT@426..428
            PATH@426..428
              Ident@426..427 "b"
              Whitespace@427..428 " "
          Star@428..429 "*"
          Whitespace@429..430 " "
          EXPR_IDENT@430..431
            PATH@430..431
              Ident@430..431 "c"
        Semi@431..432 ";"
        Whitespace@432..437 "\n    "
      STMT_LET@437..459
        LetKeyword@437..440 "let"
        Whitespace@440..441 " "
        PATTERN_VARIABLE@441..446
          Ident@441..445 "quot"
          Whitespace@445..446 " "
        Eq@446..447 "="
        Whitespace@447..448 " "
        EXPR_BINARY@448..453
          EXPR_IDENT@448..450
            PATH@448..450
              Ident@448..449 "a"
              Whitespace@449..450 " "
          Slash@450..451 "/"
          Whitespace@451..452 " "
          EXPR_IDENT@452..453
            PATH@452..453
              Ident@452..453 "c"
        Semi@453..454 ";"
        Whitespace@454..459 "\n    "
      STMT_LET@459..477
        LetKeyword@459..462 "let"
        Whitespace@462..463 " "
        PATTERN_VARIABLE@463..467
          Ident@463..466 "neg"
          Whitespace@466..467 " "
        Eq@467..468 "="
        Whitespace@468..469 " "
        EXPR_PREFIX@469..471
          Minus@469..470 "-"
          EXPR_IDENT@470..471
            PATH@470..471
              Ident@470..471 "b"
        Semi@471..472 ";"
        Whitespace@472..477 "\n    "
      STMT_LET@477..499
        LetKeyword@477..480 "let"
        Whitespace@480..481 " "
        PATTERN_VARIABLE@481..486
          Ident@481..485 "less"
          Whitespace@485..486 " "
        Eq@486..487 "="
        Whitespace@487..488 " "
        EXPR_BINARY@488..493
          EXPR_IDENT@488..490
            PATH@488..490
              Ident@488..489 "b"
              Whitespace@489..490 " "
          Less@490..491 "<"
          Whitespace@491..492 " "
          EXPR_IDENT@492..493
            PATH@492..493
              Ident@492..493 "a"
        Semi@493..494 ";"
        Whitespace@494..499 "\n    "
      STMT_LET@499..531
        LetKeyword@499..502 "let"
        Whitespace@502..503 " "
        PATTERN_WILDCARD@503..505
          WildcardKeyword@503..504 "_"
          Whitespace@504..505 " "
        Eq@505..506 "="
        Whitespace@506..507 " "
        EXPR_CALL@507..525
          EXPR_IDENT@507..516
            PATH@507..516
              Ident@507..516 "show_int8"
          ARG_LIST@516..525
            LParen@516..517 "("
            ARG@517..523
              EXPR_STR@517..521
                Str@517..521 "\"a=\""
              Comma@521..522 ","
              Whitespace@522..523 " "
            ARG@523..524
              EXPR_IDENT@523..524
                PATH@523..524
                  Ident@523..524 "a"
            RParen@524..525 ")"
        Semi@525..526 ";"
        Whitespace@526..531 "\n    "
      STMT_LET@531..563
        LetKeyword@531..534 "let"
        Whitespace@534..535 " "
        PATTERN_WILDCARD@535..537
          WildcardKeyword@535..536 "_"
          Whitespace@536..537 " "
        Eq@537..538 "="
        Whitespace@538..539 " "
        EXPR_CALL@539..557
          EXPR_IDENT@539..548
            PATH@539..548
              Ident@539..548 "show_int8"
          ARG_LIST@548..557
            LParen@548..549 "("
            ARG@549..555
              EXPR_STR@549..553
                Str@549..553 "\"b=\""
              Comma@553..554 ","
              Whitespace@554..555 " "
            ARG@555..556
              EXPR_IDENT@555..556
                PATH@555..556
                  Ident@555..556 "b"
            RParen@556..557 ")"
        Semi@557..558 ";"
        Whitespace@558..563 "\n    "
      STMT_LET@563..595
        LetKeyword@563..566 "let"
        Whitespace@566..567 " "
        PATTERN_WILDCARD@567..569
          WildcardKeyword@567..568 "_"
          Whitespace@568..569 " "
        Eq@569..570 "="
        Whitespace@570..571 " "
        EXPR_CALL@571..589
          EXPR_IDENT@571..580
            PATH@571..580
              Ident@571..580 "show_int8"
          ARG_LIST@580..589
            LParen@580..581 "("
            ARG@581..587
              EXPR_STR@581..585
                Str@581..585 "\"c=\""
              Comma@585..586 ","
              Whitespace@586..587 " "
            ARG@587..588
              EXPR_IDENT@587..588
                PATH@587..588
                  Ident@587..588 "c"
            RParen@588..589 ")"
        Semi@589..590 ";"
        Whitespace@590..595 "\n    "
      STMT_LET@595..631
        LetKeyword@595..598 "let"
        Whitespace@598..599 " "
        PATTERN_WILDCARD@599..601
          WildcardKeyword@599..600 "_"
          Whitespace@600..601 " "
        Eq@601..602 "="
        Whitespace@602..603 " "
        EXPR_CALL@603..625
          EXPR_IDENT@603..612
            PATH@603..612
              Ident@603..612 "show_int8"
          ARG_LIST@612..625
            LParen@612..613 "("
            ARG@613..621
              EXPR_STR@613..619
                Str@613..619 "\"sum=\""
              Comma@619..620 ","
              Whitespace@620..621 " "
            ARG@621..624
              EXPR_IDENT@621..624
                PATH@621..624
                  Ident@621..624 "sum"
            RParen@624..625 ")"
        Semi@625..626 ";"
        Whitespace@626..631 "\n    "
      STMT_LET@631..669
        LetKeyword@631..634 "let"
        Whitespace@634..635 " "
        PATTERN_WILDCARD@635..637
          WildcardKeyword@635..636 "_"
          Whitespace@636..637 " "
        Eq@637..638 "="
        Whitespace@638..639 " "
        EXPR_CALL@639..663
          EXPR_IDENT@639..648
            PATH@639..648
              Ident@639..648 "show_int8"
          ARG_LIST@648..663
            LParen@648..649 "("
            ARG@649..658
              EXPR_STR@649..656
                Str@649..656 "\"diff=\""
              Comma@656..657 ","
              Whitespace@657..658 " "
            ARG@658..662
              EXPR_IDENT@658..662
                PATH@658..662
                  Ident@658..662 "diff"
            RParen@662..663 ")"
        Semi@663..664 ";"
        Whitespace@664..669 "\n    "
      STMT_LET@669..707
        LetKeyword@669..672 "let"
        Whitespace@672..673 " "
        PATTERN_WILDCARD@673..675
          WildcardKeyword@673..674 "_"
          Whitespace@674..675 " "
        Eq@675..676 "="
        Whitespace@676..677 " "
        EXPR_CALL@677..701
          EXPR_IDENT@677..686
            PATH@677..686
              Ident@677..686 "show_int8"
          ARG_LIST@686..701
            LParen@686..687 "("
            ARG@687..696
              EXPR_STR@687..694
                Str@687..694 "\"prod=\""
              Comma@694..695 ","
              Whitespace@695..696 " "
            ARG@696..700
              EXPR_IDENT@696..700
                PATH@696..700
                  Ident@696..700 "prod"
            RParen@700..701 ")"
        Semi@701..702 ";"
        Whitespace@702..707 "\n    "
      STMT_LET@707..745
        LetKeyword@707..710 "let"
        Whitespace@710..711 " "
        PATTERN_WILDCARD@711..713
          WildcardKeyword@711..712 "_"
          Whitespace@712..713 " "
        Eq@713..714 "="
        Whitespace@714..715 " "
        EXPR_CALL@715..739
          EXPR_IDENT@715..724
            PATH@715..724
              Ident@715..724 "show_int8"
          ARG_LIST@724..739
            LParen@724..725 "("
            ARG@725..734
              EXPR_STR@725..732
                Str@725..732 "\"quot=\""
              Comma@732..733 ","
              Whitespace@733..734 " "
            ARG@734..738
              EXPR_IDENT@734..738
                PATH@734..738
                  Ident@734..738 "quot"
            RParen@738..739 ")"
        Semi@739..740 ";"
        Whitespace@740..745 "\n    "
      STMT_LET@745..781
        LetKeyword@745..748 "let"
        Whitespace@748..749 " "
        PATTERN_WILDCARD@749..751
          WildcardKeyword@749..750 "_"
          Whitespace@750..751 " "
        Eq@751..752 "="
        Whitespace@752..753 " "
        EXPR_CALL@753..775
          EXPR_IDENT@753..762
            PATH@753..762
              Ident@753..762 "show_int8"
          ARG_LIST@762..775
            LParen@762..763 "("
            ARG@763..771
              EXPR_STR@763..769
                Str@763..769 "\"neg=\""
              Comma@769..770 ","
              Whitespace@770..771 " "
            ARG@771..774
              EXPR_IDENT@771..774
                PATH@771..774
                  Ident@771..774 "neg"
            RParen@774..775 ")"
        Semi@775..776 ";"
        Whitespace@776..781 "\n    "
      STMT_LET@781..814
        LetKeyword@781..784 "let"
        Whitespace@784..785 " "
        PATTERN_WILDCARD@785..787
          WildcardKeyword@785..786 "_"
          Whitespace@786..787 " "
        Eq@787..788 "="
        Whitespace@788..789 " "
        EXPR_CALL@789..812
          EXPR_IDENT@789..798
            PATH@789..798
              Ident@789..798 "show_bool"
          ARG_LIST@798..812
            LParen@798..799 "("
            ARG@799..807
              EXPR_STR@799..805
                Str@799..805 "\"b<a=\""
              Comma@805..806 ","
              Whitespace@806..807 " "
            ARG@807..811
              EXPR_IDENT@807..811
                PATH@807..811
                  Ident@807..811 "less"
            RParen@811..812 ")"
        Semi@812..813 ";"
        Whitespace@813..814 "\n"
      RBrace@814..815 "}"
      Whitespace@815..816 "\n"