FILE@0..554
  STRUCT@0..17
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Shape"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    STRUCT_FIELD_LIST@14..17
      RBrace@14..15 "}"
      Whitespace@15..17 "\n\n"
  IMPL@17..288
    ImplKeyword@17..21 "impl"
    Whitespace@21..22 " "
    TYPE_TAPP@22..28
      PATH@22..28
        Ident@22..27 "Shape"
        Whitespace@27..28 " "
    LBrace@28..29 "{"
    Whitespace@29..34 "\n    "
    FN@34..93
      FnKeyword@34..36 "fn"
      Whitespace@36..37 " "
      Ident@37..41 "name"
      PARAM_LIST@41..54
        LParen@41..42 "("
        PARAM@42..52
          Ident@42..46 "self"
          Colon@46..47 ":"
          Whitespace@47..48 " "
          TYPE_TAPP@48..52
            PATH@48..52
              Ident@48..52 "Self"
        RParen@52..53 ")"
        Whitespace@53..54 " "
      Arrow@54..56 "->"
      Whitespace@56..57 " "
      TYPE_STRING@57..64
        StringKeyword@57..63 "string"
        Whitespace@63..64 " "
      BLOCK@64..93
        LBrace@64..65 "{"
        Whitespace@65..74 "\n        "
        EXPR_STR@74..86
          Str@74..81 "\"Shape\""
          Whitespace@81..86 "\n    "
        RBrace@86..87 "}"
        Whitespace@87..93 "\n\n    "
    FN@93..183
      FnKeyword@93..95 "fn"
      Whitespace@95..96 " "
      Ident@96..102 "rename"
      PARAM_LIST@102..131
        LParen@102..103 "("
        PARAM@103..115
          Ident@103..107 "self"
          Colon@107..108 ":"
          Whitespace@108..109 " "
          TYPE_TAPP@109..113
            PATH@109..113
              Ident@109..113 "Self"
          Comma@113..114 ","
          Whitespace@114..115 " "
        PARAM@115..129
          Ident@115..121 "suffix"
          Colon@121..122 ":"
          Whitespace@122..123 " "
          TYPE_STRING@123..129
            StringKeyword@123..129 "string"
        RParen@129..130 ")"
        Whitespace@130..131 " "
      Arrow@131..133 "->"
      Whitespace@133..134 " "
      TYPE_STRING@134..141
        StringKeyword@134..140 "string"
        Whitespace@140..141 " "
      BLOCK@141..183
        LBrace@141..142 "{"
        Whitespace@142..151 "\n        "
        EXPR_BINARY@151..176
          EXPR_CALL@151..163
            EXPR_BINARY@151..160
              EXPR_IDENT@151..155
                PATH@151..155
                  Ident@151..155 "self"
              Dot@155..156 "."
              EXPR_IDENT@156..160
                PATH@156..160
                  Ident@156..160 "name"
            ARG_LIST@160..163
              LParen@160..161 "("
              RParen@161..162 ")"
              Whitespace@162..163 " "
          Plus@163..164 "+"
          Whitespace@164..165 " "
          EXPR_IDENT@165..176
            PATH@165..176
              Ident@165..171 "suffix"
              Whitespace@171..176 "\n    "
        RBrace@176..177 "}"
        Whitespace@177..183 "\n\n    "
    FN@183..285
      FnKeyword@183..185 "fn"
      Whitespace@185..186 " "
      Ident@186..190 "join"
      PARAM_LIST@190..232
        LParen@190..191 "("
        PARAM@191..203
          Ident@191..195 "self"
          Colon@195..196 ":"
          Whitespace@196..197 " "
          TYPE_TAPP@197..201
            PATH@197..201
              Ident@197..201 "Self"
          Comma@201..202 ","
          Whitespace@202..203 " "
        PARAM@203..217
          Ident@203..207 "left"
          Colon@207..208 ":"
          Whitespace@208..209 " "
          TYPE_STRING@209..215
            StringKeyword@209..215 "string"
          Comma@215..216 ","
          Whitespace@216..217 " "
        PARAM@217..230
          Ident@217..222 "right"
          Colon@222..223 ":"
          Whitespace@223..224 " "
          TYPE_STRING@224..230
            StringKeyword@224..230 "string"
        RParen@230..231 ")"
        Whitespace@231..232 " "
      Arrow@232..234 "->"
      Whitespace@234..235 " "
      TYPE_STRING@235..242
        StringKeyword@235..241 "string"
        Whitespace@241..242 " "
      BLOCK@242..285
        LBrace@242..243 "{"
        Whitespace@243..252 "\n        "
        EXPR_BINARY@252..283
          EXPR_BINARY@252..271
            EXPR_IDENT@252..257
              PATH@252..257
                Ident@252..256 "left"
                Whitespace@256..257 " "
            Plus@257..258 "+"
            Whitespace@258..259 " "
            EXPR_CALL@259..271
              EXPR_BINARY@259..268
                EXPR_IDENT@259..263
                  PATH@259..263
                    Ident@259..263 "self"
                Dot@263..264 "."
                EXPR_IDENT@264..268
                  PATH@264..268
                    Ident@264..268 "name"
              ARG_LIST@268..271
                LParen@268..269 "("
                RParen@269..270 ")"
                Whitespace@270..271 " "
          Plus@271..272 "+"
          Whitespace@272..273 " "
          EXPR_IDENT@273..283
            PATH@273..283
              Ident@273..278 "right"
              Whitespace@278..283 "\n    "
        RBrace@283..284 "}"
        Whitespace@284..285 "\n"
    RBrace@285..286 "}"
    Whitespace@286..288 "\n\n"
  FN@288..485
    FnKeyword@288..290 "fn"
    Whitespace@290..291 " "
    Ident@291..299 "announce"
    PARAM_LIST@299..314
      LParen@299..300 "("
      PARAM@300..312
        Ident@300..305 "shape"
        Colon@305..306 ":"
        Whitespace@306..307 " "
        TYPE_TAPP@307..312
          PATH@307..312
            Ident@307..312 "Shape"
      RParen@312..313 ")"
      Whitespace@313..314 " "
    Arrow@314..316 "->"
    Whitespace@316..317 " "
    TYPE_UNIT@317..322
      UnitKeyword@317..321 "unit"
      Whitespace@321..322 " "
    BLOCK@322..485
      LBrace@322..323 "{"
      Whitespace@323..328 "\n    "
      STMT_LET@328..357
        LetKeyword@328..331 "let"
        Whitespace@331..332 " "
        PATTERN_VARIABLE@332..337
          Ident@332..336 "base"
          Whitespace@336..337 " "
        Eq@337..338 "="
        Whitespace@338..339 " "
        EXPR_CALL@339..351
          EXPR_BINARY@339..349
            EXPR_IDENT@339..344
              PATH@339..344
                Ident@339..344 "shape"
            Dot@344..345 "."
            EXPR_IDENT@345..349
              PATH@345..349
                Ident@345..349 "name"
          ARG_LIST@349..351
            LParen@349..350 "("
            RParen@350..351 ")"
        Semi@351..352 ";"
        Whitespace@352..357 "\n    "
      STMT_LET@357..398
        LetKeyword@357..360 "let"
        Whitespace@360..361 " "
        PATTERN_VARIABLE@361..373
          Ident@361..372 "with_suffix"
          Whitespace@372..373 " "
        Eq@373..374 "="
        Whitespace@374..375 " "
        EXPR_CALL@375..392
          EXPR_BINARY@375..387
            EXPR_IDENT@375..380
              PATH@375..380
                Ident@375..380 "shape"
            Dot@380..381 "."
            EXPR_IDENT@381..387
              PATH@381..387
                Ident@381..387 "rename"
          ARG_LIST@387..392
            LParen@387..388 "("
            ARG@388..391
              EXPR_STR@388..391
                Str@388..391 "\"!\""
            RParen@391..392 ")"
        Semi@392..393 ";"
        Whitespace@393..398 "\n    "
      STMT_LET@398..448
        LetKeyword@398..401 "let"
        Whitespace@401..402 " "
        PATTERN_VARIABLE@402..411
          Ident@402..410 "combined"
          Whitespace@410..411 " "
        Eq@411..412 "="
        Whitespace@412..413 " "
        EXPR_CALL@413..442
          EXPR_BINARY@413..423
            EXPR_IDENT@413..418
              PATH@413..418
                Ident@413..418 "shape"
            Dot@418..419 "."
            EXPR_IDENT@419..423
              PATH@419..423
                Ident@419..423 "join"
          ARG_LIST@423..442
            LParen@423..424 "("
            ARG@424..430
              EXPR_IDENT@424..428
                PATH@424..428
                  Ident@424..428 "base"
              Comma@428..429 ","
              Whitespace@429..430 " "
            ARG@430..441
              EXPR_IDENT@430..441
                PATH@430..441
                  Ident@430..441 "with_suffix"
            RParen@441..442 ")"
        Semi@442..443 ";"
        Whitespace@443..448 "\n    "
      STMT_LET@448..479
        LetKeyword@448..451 "let"
        Whitespace@451..452 " "
        PATTERN_WILDCARD@452..454
          WildcardKeyword@452..453 "_"
          Whitespace@453..454 " "
        Eq@454..455 "="
        Whitespace@455..456 " "
        EXPR_CALL@456..473
          EXPR_IDENT@456..463
            PATH@456..463
              Ident@456..463 "println"
          ARG_LIST@463..473
            LParen@463..464 "("
            ARG@464..472
              EXPR_IDENT@464..472
                PATH@464..472
                  Ident@464..472 "combined"
            RParen@472..473 ")"
        Semi@473..474 ";"
        Whitespace@474..479 "\n    "
      EXPR_UNIT@479..482
        LParen@479..480 "("
        RParen@480..481 ")"
        Whitespace@481..482 "\n"
      RBrace@482..483 "}"
      Whitespace@483..485 "\n\n"
  FN@485..554
    FnKeyword@485..487 "fn"
    Whitespace@487..488 " "
    Ident@488..492 "main"
    PARAM_LIST@492..495
      LParen@492..493 "("
      RParen@493..494 ")"
      Whitespace@494..495 " "
    Arrow@495..497 "->"
    Whitespace@497..498 " "
    TYPE_UNIT@498..503
      UnitKeyword@498..502 "unit"
      Whitespace@502..503 " "
    BLOCK@503..554
      LBrace@503..504 "{"
      Whitespace@504..509 "\n    "
      STMT_LET@509..535
        LetKeyword@509..512 "let"
        Whitespace@512..513 " "
        PATTERN_VARIABLE@513..519
          Ident@513..518 "shape"
          Whitespace@518..519 " "
        Eq@519..520 "="
        Whitespace@520..521 " "
        EXPR_STRUCT_LITERAL@521..529
          PATH@521..527
            Ident@521..526 "Shape"
            Whitespace@526..527 " "
          STRUCT_LITERAL_FIELD_LIST@527..529
            LBrace@527..528 "{"
            RBrace@528..529 "}"
        Semi@529..530 ";"
        Whitespace@530..535 "\n    "
      STMT_EXPR@535..552
        EXPR_CALL@535..550
          EXPR_IDENT@535..543
            PATH@535..543
              Ident@535..543 "announce"
          ARG_LIST@543..550
            LParen@543..544 "("
            ARG@544..549
              EXPR_IDENT@544..549
                PATH@544..549
                  Ident@544..549 "shape"
            RParen@549..550 ")"
        Semi@550..551 ";"
        Whitespace@551..552 "\n"
      RBrace@552..553 "}"
      Whitespace@553..554 "\n"