FILE@0..384
  TRAIT@0..55
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..55
      TRAIT_METHOD_SIG@19..50
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "format"
        PARAM_LIST@28..41
          LParen@28..29 "("
          PARAM@29..39
            Ident@29..33 "self"
            Colon@33..34 ":"
            Whitespace@34..35 " "
            TYPE_TAPP@35..39
              PATH@35..39
                Ident@35..39 "Self"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Arrow@41..43 "->"
        Whitespace@43..44 " "
        TYPE_STRING@44..50
          StringKeyword@44..50 "string"
      Semi@50..51 ";"
      Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  STRUCT@55..91
    StructKeyword@55..61 "struct"
    Whitespace@61..62 " "
    Ident@62..67 "Boxed"
    Whitespace@67..68 " "
    LBrace@68..69 "{"
    Whitespace@69..74 "\n    "
    STRUCT_FIELD_LIST@74..91
      STRUCT_FIELD@74..86
        Ident@74..79 "value"
        Colon@79..80 ":"
        Whitespace@80..81 " "
        TYPE_INT32@81..86
          Int32Keyword@81..86 "int32"
      Comma@86..87 ","
      Whitespace@87..88 "\n"
      RBrace@88..89 "}"
      Whitespace@89..91 "\n\n"
  IMPL@91..170
    ImplKeyword@91..95 "impl"
    Whitespace@95..96 " "
    TYPE_TAPP@96..102
      PATH@96..102
        Ident@96..101 "Boxed"
        Whitespace@101..102 " "
    LBrace@102..103 "{"
    Whitespace@103..108 "\n    "
    FN@108..167
      FnKeyword@108..110 "fn"
      Whitespace@110..111 " "
      Ident@111..117 "format"
      PARAM_LIST@117..130
        LParen@117..118 "("
        PARAM@118..128
          Ident@118..122 "self"
          Colon@122..123 ":"
          Whitespace@123..124 " "
          TYPE_TAPP@124..128
            PATH@124..128
              Ident@124..128 "Self"
        RParen@128..129 ")"
        Whitespace@129..130 " "
      Arrow@130..132 "->"
      Whitespace@132..133 " "
      TYPE_STRING@133..140
        StringKeyword@133..139 "string"
        Whitespace@139..140 " "
      BLOCK@140..167
        LBrace@140..141 "{"
        Whitespace@141..150 "\n        "
        EXPR_STR@150..165
          Str@150..160 "\"inherent\""
          Whitespace@160..165 "\n    "
        RBrace@165..166 "}"
        Whitespace@166..167 "\n"
    RBrace@167..168 "}"
    Whitespace@168..170 "\n\n"
  IMPL@170..273
    ImplKeyword@170..174 "impl"
    Whitespace@174..175 " "
    TYPE_TAPP@175..182
      PATH@175..182
        Ident@175..181 "Render"
        Whitespace@181..182 " "
    ForKeyword@182..185 "for"
    Whitespace@185..186 " "
    TYPE_TAPP@186..192
      PATH@186..192
        Ident@186..191 "Boxed"
        Whitespace@191..192 " "
    LBrace@192..193 "{"
    Whitespace@193..198 "\n    "
    FN@198..270
      FnKeyword@198..200 "fn"
      Whitespace@200..201 " "
      Ident@201..207 "format"
      PARAM_LIST@207..221
        LParen@207..208 "("
        PARAM@208..219
          Ident@208..212 "self"
          Colon@212..213 ":"
          Whitespace@213..214 " "
          TYPE_TAPP@214..219
            PATH@214..219
              Ident@214..219 "Boxed"
        RParen@219..220 ")"
        Whitespace@220..221 " "
      Arrow@221..223 "->"
      Whitespace@223..224 " "
      TYPE_STRING@224..231
        StringKeyword@224..230 "string"
        Whitespace@230..231 " "
      BLOCK@231..270
        LBrace@231..232 "{"
        Whitespace@232..241 "\n        "
        EXPR_CALL@241..268
          EXPR_BINARY@241..261
            EXPR_BINARY@241..251
              EXPR_IDENT@241..245
                PATH@241..245
                  Ident@241..245 "self"
              Dot@245..246 "."
              EXPR_IDENT@246..251
                PATH@246..251
                  Ident@246..251 "value"
            Dot@251..252 "."
            EXPR_IDENT@252..261
              PATH@252..261
                Ident@252..261 "to_string"
          ARG_LIST@261..268
            LParen@261..262 "("
            RParen@262..263 ")"
            Whitespace@263..268 "\n    "
        RBrace@268..269 "}"
        Whitespace@269..270 "\n"
    RBrace@270..271 "}"
    Whitespace@271..273 "\n\n"
  FN@273..384
    FnKeyword@273..275 "fn"
    Whitespace@275..276 " "
    Ident@276..280 "main"
    PARAM_LIST@280..283
      LParen@280..281 "("
      RParen@281..282 ")"
      Whitespace@282..283 " "
    BLOCK@283..384
      LBrace@283..284 "{"
      Whitespace@284..289 "\n    "
      STMT_EXPR@289..337
        EXPR_CALL@289..331
          EXPR_IDENT@289..296
            PATH@289..296
              Ident@289..296 "println"
          ARG_LIST@296..331
            LParen@296..297 "("
            ARG@297..330
              EXPR_CALL@297..330
                EXPR_IDENT@297..310
                  PATH@297..310
                    Ident@297..302 "Boxed"
                    ColonColon@302..304 "::"
                    Ident@304..310 "format"
                ARG_LIST@310..330
                  LParen@310..311 "("
                  ARG@311..329
                    EXPR_STRUCT_LITERAL@311..329
                      PATH@311..317
                        Ident@311..316 "Boxed"
                        Whitespace@316..317 " "
                      STRUCT_LITERAL_FIELD_LIST@317..329
                        LBrace@317..318 "{"
                        Whitespace@318..319 " "
                        STRUCT_LITERAL_FIELD@319..328
                          Ident@319..324 "value"
                          Colon@324..325 ":"
                          Whitespace@325..326 " "
                          EXPR_INT@326..328
                            Int@326..327 "9"
                            Whitespace@327..328 " "
                        RBrace@328..329 "}"
                  RParen@329..330 ")"
            RParen@330..331 ")"
        Semi@331..332 ";"
        Whitespace@332..337 "\n    "
      STMT_EXPR@337..382
        EXPR_CALL@337..380
          EXPR_IDENT@337..344
            PATH@337..344
              Ident@337..344 "println"
          ARG_LIST@344..380
            LParen@344..345 "("
            ARG@345..379
              EXPR_CALL@345..379
                EXPR_IDENT@345..359
                  PATH@345..359
                    Ident@345..351 "Render"
                    ColonColon@351..353 "::"
                    Ident@353..359 "format"
                ARG_LIST@359..379
                  LParen@359..360 "("
                  ARG@360..378
                    EXPR_STRUCT_LITERAL@360..378
                      PATH@360..366
                        Ident@360..365 "Boxed"
                        Whitespace@365..366 " "
                      STRUCT_LITERAL_FIELD_LIST@366..378
                        LBrace@366..367 "{"
                        Whitespace@367..368 " "
                        STRUCT_LITERAL_FIELD@368..377
                          Ident@368..373 "value"
                          Colon@373..374 ":"
                          Whitespace@374..375 " "
                          EXPR_INT@375..377
                            Int@375..376 "9"
                            Whitespace@376..377 " "
                        RBrace@377..378 "}"
                  RParen@378..379 ")"
            RParen@379..380 ")"
        Semi@380..381 ";"
        Whitespace@381..382 "\n"
      RBrace@382..383 "}"
      Whitespace@383..384 "\n"