FILE@0..548
  FN@0..125
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..14 "maybe_value"
    PARAM_LIST@14..27
      LParen@14..15 "("
      PARAM@15..25
        Ident@15..19 "flag"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_BOOL@21..25
          BoolKeyword@21..25 "bool"
      RParen@25..26 ")"
      Whitespace@26..27 " "
    Arrow@27..29 "->"
    Whitespace@29..30 " "
    TYPE_TAPP@30..42
      PATH@30..36
        Ident@30..36 "Option"
      TYPE_PARAM_LIST@36..42
        LBracket@36..37 "["
        TYPE_INT32@37..40
          I32Keyword@37..40 "i32"
        RBracket@40..41 "]"
        Whitespace@41..42 " "
    BLOCK@42..125
      LBrace@42..43 "{"
      Whitespace@43..48 "\n    "
      EXPR_IF@48..122
        IfKeyword@48..50 "if"
        Whitespace@50..51 " "
        EXPR_IF_COND@51..56
          EXPR_IDENT@51..56
            PATH@51..56
              Ident@51..55 "flag"
              Whitespace@55..56 " "
        EXPR_IF_THEN@56..88
          BLOCK@56..88
            LBrace@56..57 "{"
            Whitespace@57..66 "\n        "
            EXPR_CALL@66..86
              EXPR_IDENT@66..78
                PATH@66..78
                  Ident@66..72 "Option"
                  ColonColon@72..74 "::"
                  Ident@74..78 "Some"
              ARG_LIST@78..86
                LParen@78..79 "("
                ARG@79..80
                  EXPR_INT@79..80
                    Int@79..80 "4"
                RParen@80..81 ")"
                Whitespace@81..86 "\n    "
            RBrace@86..87 "}"
            Whitespace@87..88 " "
        ElseKeyword@88..92 "else"
        Whitespace@92..93 " "
        EXPR_IF_ELSE@93..122
          BLOCK@93..122
            LBrace@93..94 "{"
            Whitespace@94..103 "\n        "
            EXPR_IDENT@103..120
              PATH@103..120
                Ident@103..109 "Option"
                ColonColon@109..111 "::"
                Ident@111..115 "None"
                Whitespace@115..120 "\n    "
            RBrace@120..121 "}"
            Whitespace@121..122 "\n"
      RBrace@122..123 "}"
      Whitespace@123..125 "\n\n"
  FN@125..292
    FnKeyword@125..127 "fn"
    Whitespace@127..128 " "
    Ident@128..137 "with_base"
    PARAM_LIST@137..161
      LParen@137..138 "("
      PARAM@138..149
        Ident@138..142 "base"
        Colon@142..143 ":"
        Whitespace@143..144 " "
        TYPE_INT32@144..147
          I32Keyword@144..147 "i32"
        Comma@147..148 ","
        Whitespace@148..149 " "
      PARAM@149..159
        Ident@149..153 "flag"
        Colon@153..154 ":"
        Whitespace@154..155 " "
        TYPE_BOOL@155..159
          BoolKeyword@155..159 "bool"
      RParen@159..160 ")"
      Whitespace@160..161 " "
    Arrow@161..163 "->"
    Whitespace@163..164 " "
    TYPE_TAPP@164..176
      PATH@164..170
        Ident@164..170 "Option"
      TYPE_PARAM_LIST@170..176
        LBracket@170..171 "["
        TYPE_INT32@171..174
          I32Keyword@171..174 "i32"
        RBracket@174..175 "]"
        Whitespace@175..176 " "
    BLOCK@176..292
      LBrace@176..177 "{"
      Whitespace@177..182 "\n    "
      STMT_LET@182..283
        LetKeyword@182..185 "let"
        Whitespace@185..186 " "
        PATTERN_VARIABLE@186..190
          Ident@186..189 "run"
          Whitespace@189..190 " "
        Eq@190..191 "="
        Whitespace@191..192 " "
        EXPR_CLOSURE@192..277
          CLOSURE_PARAM_LIST@192..195
            OrOr@192..194 "||"
            Whitespace@194..195 " "
          EXPR_CLOSURE_BODY@195..277
            BLOCK@195..277
              LBrace@195..196 "{"
              Whitespace@196..205 "\n        "
              STMT_LET@205..245
                LetKeyword@205..208 "let"
                Whitespace@208..209 " "
                PATTERN_VARIABLE@209..215
                  Ident@209..214 "value"
                  Whitespace@214..215 " "
                Eq@215..216 "="
                Whitespace@216..217 " "
                EXPR_TRY@217..235
                  EXPR_CALL@217..234
                    EXPR_IDENT@217..228
                      PATH@217..228
                        Ident@217..228 "maybe_value"
                    ARG_LIST@228..234
                      LParen@228..229 "("
                      ARG@229..233
                        EXPR_IDENT@229..233
                          PATH@229..233
                            Ident@229..233 "flag"
                      RParen@233..234 ")"
                  Question@234..235 "?"
                Semi@235..236 ";"
                Whitespace@236..245 "\n        "
              EXPR_CALL@245..276
                EXPR_IDENT@245..257
                  PATH@245..257
                    Ident@245..251 "Option"
                    ColonColon@251..253 "::"
                    Ident@253..257 "Some"
                ARG_LIST@257..276
                  LParen@257..258 "("
                  ARG@258..270
                    EXPR_BINARY@258..270
                      EXPR_IDENT@258..264
                        PATH@258..264
                          Ident@258..263 "value"
                          Whitespace@263..264 " "
                      Plus@264..265 "+"
                      Whitespace@265..266 " "
                      EXPR_IDENT@266..270
                        PATH@266..270
                          Ident@266..270 "base"
                  RParen@270..271 ")"
                  Whitespace@271..276 "\n    "
              RBrace@276..277 "}"
        Semi@277..278 ";"
        Whitespace@278..283 "\n    "
      EXPR_CALL@283..289
        EXPR_IDENT@283..286
          PATH@283..286
            Ident@283..286 "run"
        ARG_LIST@286..289
          LParen@286..287 "("
          RParen@287..288 ")"
          Whitespace@288..289 "\n"
      RBrace@289..290 "}"
      Whitespace@290..292 "\n\n"
  FN@292..447
    FnKeyword@292..294 "fn"
    Whitespace@294..295 " "
    Ident@295..299 "show"
    PARAM_LIST@299..318
      LParen@299..300 "("
      PARAM@300..316
        Ident@300..303 "opt"
        Colon@303..304 ":"
        Whitespace@304..305 " "
        TYPE_TAPP@305..316
          PATH@305..311
            Ident@305..311 "Option"
          TYPE_PARAM_LIST@311..316
            LBracket@311..312 "["
            TYPE_INT32@312..315
              I32Keyword@312..315 "i32"
            RBracket@315..316 "]"
      RParen@316..317 ")"
      Whitespace@317..318 " "
    Arrow@318..320 "->"
    Whitespace@320..321 " "
    TYPE_STRING@321..328
      StringKeyword@321..327 "string"
      Whitespace@327..328 " "
    BLOCK@328..447
      LBrace@328..329 "{"
      Whitespace@329..334 "\n    "
      EXPR_MATCH@334..444
        MatchKeyword@334..339 "match"
        Whitespace@339..340 " "
        EXPR_IDENT@340..344
          PATH@340..344
            Ident@340..343 "opt"
            Whitespace@343..344 " "
        MATCH_ARM_LIST@344..444
          LBrace@344..345 "{"
          Whitespace@345..354 "\n        "
          MATCH_ARM@354..404
            PATTERN_CONSTR@354..374
              PATH@354..366
                Ident@354..360 "Option"
                ColonColon@360..362 "::"
                Ident@362..366 "Some"
              LParen@366..367 "("
              PATTERN_VARIABLE@367..372
                Ident@367..372 "value"
              RParen@372..373 ")"
              Whitespace@373..374 " "
            FatArrow@374..376 "=>"
            Whitespace@376..377 " "
            EXPR_BINARY@377..404
              EXPR_STR@377..385
                Str@377..384 "\"some=\""
                Whitespace@384..385 " "
              Plus@385..386 "+"
              Whitespace@386..387 " "
              EXPR_CALL@387..404
                EXPR_BINARY@387..402
                  EXPR_IDENT@387..392
                    PATH@387..392
                      Ident@387..392 "value"
                  Dot@392..393 "."
                  EXPR_IDENT@393..402
                    PATH@393..402
                      Ident@393..402 "to_string"
                ARG_LIST@402..404
                  LParen@402..403 "("
                  RParen@403..404 ")"
          Comma@404..405 ","
          Whitespace@405..414 "\n        "
          MATCH_ARM@414..436
            PATTERN_CONSTR@414..427
              PATH@414..427
                Ident@414..420 "Option"
                ColonColon@420..422 "::"
                Ident@422..426 "None"
                Whitespace@426..427 " "
            FatArrow@427..429 "=>"
            Whitespace@429..430 " "
            EXPR_STR@430..436
              Str@430..436 "\"none\""
          Comma@436..437 ","
          Whitespace@437..442 "\n    "
          RBrace@442..443 "}"
          Whitespace@443..444 "\n"
      RBrace@444..445 "}"
      Whitespace@445..447 "\n\n"
  FN@447..548
    FnKeyword@447..449 "fn"
    Whitespace@449..450 " "
    Ident@450..454 "main"
    PARAM_LIST@454..457
      LParen@454..455 "("
      RParen@455..456 ")"
      Whitespace@456..457 " "
    Arrow@457..459 "->"
    Whitespace@459..460 " "
    TYPE_UNIT@460..465
      UnitKeyword@460..464 "unit"
      Whitespace@464..465 " "
    BLOCK@465..548
      LBrace@465..466 "{"
      Whitespace@466..471 "\n    "
      STMT_EXPR@471..510
        EXPR_CALL@471..504
          EXPR_IDENT@471..478
            PATH@471..478
              Ident@471..478 "println"
          ARG_LIST@478..504
            LParen@478..479 "("
            ARG@479..503
              EXPR_CALL@479..503
                EXPR_IDENT@479..483
                  PATH@479..483
                    Ident@479..483 "show"
                ARG_LIST@483..503
                  LParen@483..484 "("
                  ARG@484..502
                    EXPR_CALL@484..502
                      EXPR_IDENT@484..493
                        PATH@484..493
                          Ident@484..493 "with_base"
                      ARG_LIST@493..502
                        LParen@493..494 "("
                        ARG@494..497
                          EXPR_INT@494..495
                            Int@494..495 "3"
                          Comma@495..496 ","
                          Whitespace@496..497 " "
                        ARG@497..501
                          EXPR_BOOL@497..501
                            TrueKeyword@497..501 "true"
                        RParen@501..502 ")"
                  RParen@502..503 ")"
            RParen@503..504 ")"
        Semi@504..505 ";"
        Whitespace@505..510 "\n    "
      STMT_EXPR@510..546
        EXPR_CALL@510..544
          EXPR_IDENT@510..517
            PATH@510..517
              Ident@510..517 "println"
          ARG_LIST@517..544
            LParen@517..518 "("
            ARG@518..543
              EXPR_CALL@518..543
                EXPR_IDENT@518..522
                  PATH@518..522
                    Ident@518..522 "show"
                ARG_LIST@522..543
                  LParen@522..523 "("
                  ARG@523..542
                    EXPR_CALL@523..542
                      EXPR_IDENT@523..532
                        PATH@523..532
                          Ident@523..532 "with_base"
                      ARG_LIST@532..542
                        LParen@532..533 "("
                        ARG@533..536
                          EXPR_INT@533..534
                            Int@533..534 "3"
                          Comma@534..535 ","
                          Whitespace@535..536 " "
                        ARG@536..541
                          EXPR_BOOL@536..541
                            FalseKeyword@536..541 "false"
                        RParen@541..542 ")"
                  RParen@542..543 ")"
            RParen@543..544 ")"
        Semi@544..545 ";"
        Whitespace@545..546 "\n"
      RBrace@546..547 "}"
      Whitespace@547..548 "\n"