FILE@0..583
  FN@0..583
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..583
      LBrace@10..11 "{"
      Whitespace@11..14 "\n  "
      STMT_LET@14..45
        LetKeyword@14..17 "let"
        Whitespace@17..18 " "
        PATTERN_VARIABLE@18..25
          Ident@18..25 "start16"
        Colon@25..26 ":"
        Whitespace@26..27 " "
        TYPE_INT16@27..33
          Int16Keyword@27..32 "int16"
          Whitespace@32..33 " "
        Eq@33..34 "="
        Whitespace@34..35 " "
        EXPR_INT16@35..41
          Int16Lit@35..41 "300i16"
        Semi@41..42 ";"
        Whitespace@42..45 "\n  "
      STMT_LET@45..75
        LetKeyword@45..48 "let"
        Whitespace@48..49 " "
        PATTERN_VARIABLE@49..56
          Ident@49..56 "delta16"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_INT16@58..64
          Int16Keyword@58..63 "int16"
          Whitespace@63..64 " "
        Eq@64..65 "="
        Whitespace@65..66 " "
        EXPR_INT16@66..71
          Int16Lit@66..71 "45i16"
        Semi@71..72 ";"
        Whitespace@72..75 "\n  "
      STMT_LET@75..108
        LetKeyword@75..78 "let"
        Whitespace@78..79 " "
        PATTERN_VARIABLE@79..85
          Ident@79..84 "sum16"
          Whitespace@84..85 " "
        Eq@85..86 "="
        Whitespace@86..87 " "
        EXPR_BINARY@87..104
          EXPR_IDENT@87..95
            PATH@87..95
              Ident@87..94 "start16"
              Whitespace@94..95 " "
          Plus@95..96 "+"
          Whitespace@96..97 " "
          EXPR_IDENT@97..104
            PATH@97..104
              Ident@97..104 "delta16"
        Semi@104..105 ";"
        Whitespace@105..108 "\n  "
      STMT_LET@108..137
        LetKeyword@108..111 "let"
        Whitespace@111..112 " "
        PATTERN_VARIABLE@112..122
          Ident@112..121 "flipped16"
          Whitespace@121..122 " "
        Eq@122..123 "="
        Whitespace@123..124 " "
        EXPR_PREFIX@124..132
          Minus@124..125 "-"
          EXPR_IDENT@125..132
            PATH@125..132
              Ident@125..132 "start16"
        Semi@132..133 ";"
        Whitespace@133..137 "\n\n  "
      STMT_LET@137..170
        LetKeyword@137..140 "let"
        Whitespace@140..141 " "
        PATTERN_VARIABLE@141..147
          Ident@141..147 "base32"
        Colon@147..148 ":"
        Whitespace@148..149 " "
        TYPE_INT32@149..155
          Int32Keyword@149..154 "int32"
          Whitespace@154..155 " "
        Eq@155..156 "="
        Whitespace@156..157 " "
        EXPR_INT32@157..166
          Int32Lit@157..166 "100000i32"
        Semi@166..167 ";"
        Whitespace@167..170 "\n  "
      STMT_LET@170..203
        LetKeyword@170..173 "let"
        Whitespace@173..174 " "
        PATTERN_VARIABLE@174..180
          Ident@174..180 "more32"
        Colon@180..181 ":"
        Whitespace@181..182 " "
        TYPE_INT32@182..188
          Int32Keyword@182..187 "int32"
          Whitespace@187..188 " "
        Eq@188..189 "="
        Whitespace@189..190 " "
        EXPR_INT32@190..199
          Int32Lit@190..199 "200000i32"
        Semi@199..200 ";"
        Whitespace@200..203 "\n  "
      STMT_LET@203..234
        LetKeyword@203..206 "let"
        Whitespace@206..207 " "
        PATTERN_VARIABLE@207..213
          Ident@207..212 "sum32"
          Whitespace@212..213 " "
        Eq@213..214 "="
        Whitespace@214..215 " "
        EXPR_BINARY@215..230
          EXPR_IDENT@215..222
            PATH@215..222
              Ident@215..221 "base32"
              Whitespace@221..222 " "
          Plus@222..223 "+"
          Whitespace@223..224 " "
          EXPR_IDENT@224..230
            PATH@224..230
              Ident@224..230 "more32"
        Semi@230..231 ";"
        Whitespace@231..234 "\n  "
      STMT_LET@234..266
        LetKeyword@234..237 "let"
        Whitespace@237..238 " "
        PATTERN_VARIABLE@238..245
          Ident@238..244 "diff32"
          Whitespace@244..245 " "
        Eq@245..246 "="
        Whitespace@246..247 " "
        EXPR_BINARY@247..261
          EXPR_IDENT@247..253
            PATH@247..253
              Ident@247..252 "sum32"
              Whitespace@252..253 " "
          Minus@253..254 "-"
          Whitespace@254..255 " "
          EXPR_IDENT@255..261
            PATH@255..261
              Ident@255..261 "base32"
        Semi@261..262 ";"
        Whitespace@262..266 "\n\n  "
      STMT_LET@266..302
        LetKeyword@266..269 "let"
        Whitespace@269..270 " "
        PATTERN_VARIABLE@270..275
          Ident@270..275 "big64"
        Colon@275..276 ":"
        Whitespace@276..277 " "
        TYPE_INT64@277..283
          Int64Keyword@277..282 "int64"
          Whitespace@282..283 " "
        Eq@283..284 "="
        Whitespace@284..285 " "
        EXPR_INT64@285..298
          Int64Lit@285..298 "5000000000i64"
        Semi@298..299 ";"
        Whitespace@299..302 "\n  "
      STMT_LET@302..339
        LetKeyword@302..305 "let"
        Whitespace@305..306 " "
        PATTERN_VARIABLE@306..312
          Ident@306..312 "step64"
        Colon@312..313 ":"
        Whitespace@313..314 " "
        TYPE_INT64@314..320
          Int64Keyword@314..319 "int64"
          Whitespace@319..320 " "
        Eq@320..321 "="
        Whitespace@321..322 " "
        EXPR_INT64@322..335
          Int64Lit@322..335 "2000000000i64"
        Semi@335..336 ";"
        Whitespace@336..339 "\n  "
      STMT_LET@339..372
        LetKeyword@339..342 "let"
        Whitespace@342..343 " "
        PATTERN_VARIABLE@343..352
          Ident@343..351 "remain64"
          Whitespace@351..352 " "
        Eq@352..353 "="
        Whitespace@353..354 " "
        EXPR_BINARY@354..368
          EXPR_IDENT@354..360
            PATH@354..360
              Ident@354..359 "big64"
              Whitespace@359..360 " "
          Minus@360..361 "-"
          Whitespace@361..362 " "
          EXPR_IDENT@362..368
            PATH@362..368
              Ident@362..368 "step64"
        Semi@368..369 ";"
        Whitespace@369..372 "\n  "
      STMT_LET@372..396
        LetKeyword@372..375 "let"
        Whitespace@375..376 " "
        PATTERN_VARIABLE@376..382
          Ident@376..381 "neg64"
          Whitespace@381..382 " "
        Eq@382..383 "="
        Whitespace@383..384 " "
        EXPR_PREFIX@384..391
          Minus@384..385 "-"
          EXPR_IDENT@385..391
            PATH@385..391
              Ident@385..391 "step64"
        Semi@391..392 ";"
        Whitespace@392..396 "\n\n  "
      STMT_LET@396..563
        LetKeyword@396..399 "let"
        Whitespace@399..400 " "
        PATTERN_VARIABLE@400..408
          Ident@400..407 "message"
          Whitespace@407..408 " "
        Eq@408..409 "="
        Whitespace@409..410 " "
        EXPR_BINARY@410..559
          EXPR_BINARY@410..540
            EXPR_BINARY@410..533
              EXPR_BINARY@410..506
                EXPR_BINARY@410..499
                  EXPR_BINARY@410..474
                    EXPR_BINARY@410..467
                      EXPR_BINARY@410..439
                        EXPR_CALL@410..432
                          EXPR_BINARY@410..425
                            EXPR_IDENT@410..415
                              PATH@410..415
                                Ident@410..415 "sum16"
                            Dot@415..416 "."
                            EXPR_IDENT@416..425
                              PATH@416..425
                                Ident@416..425 "to_string"
                          ARG_LIST@425..432
                            LParen@425..426 "("
                            RParen@426..427 ")"
                            Whitespace@427..432 "\n    "
                        Plus@432..433 "+"
                        Whitespace@433..434 " "
                        EXPR_STR@434..439
                          Str@434..438 "\", \""
                          Whitespace@438..439 " "
                      Plus@439..440 "+"
                      Whitespace@440..441 " "
                      EXPR_CALL@441..467
                        EXPR_BINARY@441..460
                          EXPR_IDENT@441..450
                            PATH@441..450
                              Ident@441..450 "flipped16"
                          Dot@450..451 "."
                          EXPR_IDENT@451..460
                            PATH@451..460
                              Ident@451..460 "to_string"
                        ARG_LIST@460..467
                          LParen@460..461 "("
                          RParen@461..462 ")"
                          Whitespace@462..467 "\n    "
                    Plus@467..468 "+"
                    Whitespace@468..469 " "
                    EXPR_STR@469..474
                      Str@469..473 "\"; \""
                      Whitespace@473..474 " "
                  Plus@474..475 "+"
                  Whitespace@475..476 " "
                  EXPR_CALL@476..499
                    EXPR_BINARY@476..492
                      EXPR_IDENT@476..482
                        PATH@476..482
                          Ident@476..482 "diff32"
                      Dot@482..483 "."
                      EXPR_IDENT@483..492
                        PATH@483..492
                          Ident@483..492 "to_string"
                    ARG_LIST@492..499
                      LParen@492..493 "("
                      RParen@493..494 ")"
                      Whitespace@494..499 "\n    "
                Plus@499..500 "+"
                Whitespace@500..501 " "
                EXPR_STR@501..506
                  Str@501..505 "\"; \""
                  Whitespace@505..506 " "
              Plus@506..507 "+"
              Whitespace@507..508 " "
              EXPR_CALL@508..533
                EXPR_BINARY@508..526
                  EXPR_IDENT@508..516
                    PATH@508..516
                      Ident@508..516 "remain64"
                  Dot@516..517 "."
                  EXPR_IDENT@517..526
                    PATH@517..526
                      Ident@517..526 "to_string"
                ARG_LIST@526..533
                  LParen@526..527 "("
                  RParen@527..528 ")"
                  Whitespace@528..533 "\n    "
            Plus@533..534 "+"
            Whitespace@534..535 " "
            EXPR_STR@535..540
              Str@535..539 "\"; \""
              Whitespace@539..540 " "
          Plus@540..541 "+"
          Whitespace@541..542 " "
          EXPR_CALL@542..559
            EXPR_BINARY@542..557
              EXPR_IDENT@542..547
                PATH@542..547
                  Ident@542..547 "neg64"
              Dot@547..548 "."
              EXPR_IDENT@548..557
                PATH@548..557
                  Ident@548..557 "to_string"
            ARG_LIST@557..559
              LParen@557..558 "("
              RParen@558..559 ")"
        Semi@559..560 ";"
        Whitespace@560..563 "\n  "
      STMT_EXPR@563..581
        EXPR_CALL@563..579
          EXPR_IDENT@563..570
            PATH@563..570
              Ident@563..570 "println"
          ARG_LIST@570..579
            LParen@570..571 "("
            ARG@571..578
              EXPR_IDENT@571..578
                PATH@571..578
                  Ident@571..578 "message"
            RParen@578..579 ")"
        Semi@579..580 ";"
        Whitespace@580..581 "\n"
      RBrace@581..582 "}"
      Whitespace@582..583 "\n"