FILE@0..615
  FN@0..615
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..615
      LBrace@10..11 "{"
      Whitespace@11..14 "\n  "
      STMT_LET@14..45
        LetKeyword@14..17 "let"
        Whitespace@17..18 " "
        PATTERN_VARIABLE@18..25
          Ident@18..25 "start16"
        Colon@25..26 ":"
        Whitespace@26..27 " "
        TYPE_INT16@27..33
          Int16Keyword@27..32 "int16"
          Whitespace@32..33 " "
        Eq@33..34 "="
        Whitespace@34..35 " "
        EXPR_INT16@35..41
          Int16Lit@35..41 "300i16"
        Semi@41..42 ";"
        Whitespace@42..45 "\n  "
      STMT_LET@45..75
        LetKeyword@45..48 "let"
        Whitespace@48..49 " "
        PATTERN_VARIABLE@49..56
          Ident@49..56 "delta16"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_INT16@58..64
          Int16Keyword@58..63 "int16"
          Whitespace@63..64 " "
        Eq@64..65 "="
        Whitespace@65..66 " "
        EXPR_INT16@66..71
          Int16Lit@66..71 "45i16"
        Semi@71..72 ";"
        Whitespace@72..75 "\n  "
      STMT_LET@75..108
        LetKeyword@75..78 "let"
        Whitespace@78..79 " "
        PATTERN_VARIABLE@79..85
          Ident@79..84 "sum16"
          Whitespace@84..85 " "
        Eq@85..86 "="
        Whitespace@86..87 " "
        EXPR_BINARY@87..104
          EXPR_IDENT@87..95
            PATH@87..95
              Ident@87..94 "start16"
              Whitespace@94..95 " "
          Plus@95..96 "+"
          Whitespace@96..97 " "
          EXPR_IDENT@97..104
            PATH@97..104
              Ident@97..104 "delta16"
        Semi@104..105 ";"
        Whitespace@105..108 "\n  "
      STMT_LET@108..137
        LetKeyword@108..111 "let"
        Whitespace@111..112 " "
        PATTERN_VARIABLE@112..122
          Ident@112..121 "flipped16"
          Whitespace@121..122 " "
        Eq@122..123 "="
        Whitespace@123..124 " "
        EXPR_PREFIX@124..132
          Minus@124..125 "-"
          EXPR_IDENT@125..132
            PATH@125..132
              Ident@125..132 "start16"
        Semi@132..133 ";"
        Whitespace@133..137 "\n\n  "
      STMT_LET@137..170
        LetKeyword@137..140 "let"
        Whitespace@140..141 " "
        PATTERN_VARIABLE@141..147
          Ident@141..147 "base32"
        Colon@147..148 ":"
        Whitespace@148..149 " "
        TYPE_INT32@149..155
          Int32Keyword@149..154 "int32"
          Whitespace@154..155 " "
        Eq@155..156 "="
        Whitespace@156..157 " "
        EXPR_INT32@157..166
          Int32Lit@157..166 "100000i32"
        Semi@166..167 ";"
        Whitespace@167..170 "\n  "
      STMT_LET@170..203
        LetKeyword@170..173 "let"
        Whitespace@173..174 " "
        PATTERN_VARIABLE@174..180
          Ident@174..180 "more32"
        Colon@180..181 ":"
        Whitespace@181..182 " "
        TYPE_INT32@182..188
          Int32Keyword@182..187 "int32"
          Whitespace@187..188 " "
        Eq@188..189 "="
        Whitespace@189..190 " "
        EXPR_INT32@190..199
          Int32Lit@190..199 "200000i32"
        Semi@199..200 ";"
        Whitespace@200..203 "\n  "
      STMT_LET@203..234
        LetKeyword@203..206 "let"
        Whitespace@206..207 " "
        PATTERN_VARIABLE@207..213
          Ident@207..212 "sum32"
          Whitespace@212..213 " "
        Eq@213..214 "="
        Whitespace@214..215 " "
        EXPR_BINARY@215..230
          EXPR_IDENT@215..222
            PATH@215..222
              Ident@215..221 "base32"
              Whitespace@221..222 " "
          Plus@222..223 "+"
          Whitespace@223..224 " "
          EXPR_IDENT@224..230
            PATH@224..230
              Ident@224..230 "more32"
        Semi@230..231 ";"
        Whitespace@231..234 "\n  "
      STMT_LET@234..266
        LetKeyword@234..237 "let"
        Whitespace@237..238 " "
        PATTERN_VARIABLE@238..245
          Ident@238..244 "diff32"
          Whitespace@244..245 " "
        Eq@245..246 "="
        Whitespace@246..247 " "
        EXPR_BINARY@247..261
          EXPR_IDENT@247..253
            PATH@247..253
              Ident@247..252 "sum32"
              Whitespace@252..253 " "
          Minus@253..254 "-"
          Whitespace@254..255 " "
          EXPR_IDENT@255..261
            PATH@255..261
              Ident@255..261 "base32"
        Semi@261..262 ";"
        Whitespace@262..266 "\n\n  "
      STMT_LET@266..302
        LetKeyword@266..269 "let"
        Whitespace@269..270 " "
        PATTERN_VARIABLE@270..275
          Ident@270..275 "big64"
        Colon@275..276 ":"
        Whitespace@276..277 " "
        TYPE_INT64@277..283
          Int64Keyword@277..282 "int64"
          Whitespace@282..283 " "
        Eq@283..284 "="
        Whitespace@284..285 " "
        EXPR_INT64@285..298
          Int64Lit@285..298 "5000000000i64"
        Semi@298..299 ";"
        Whitespace@299..302 "\n  "
      STMT_LET@302..339
        LetKeyword@302..305 "let"
        Whitespace@305..306 " "
        PATTERN_VARIABLE@306..312
          Ident@306..312 "step64"
        Colon@312..313 ":"
        Whitespace@313..314 " "
        TYPE_INT64@314..320
          Int64Keyword@314..319 "int64"
          Whitespace@319..320 " "
        Eq@320..321 "="
        Whitespace@321..322 " "
        EXPR_INT64@322..335
          Int64Lit@322..335 "2000000000i64"
        Semi@335..336 ";"
        Whitespace@336..339 "\n  "
      STMT_LET@339..372
        LetKeyword@339..342 "let"
        Whitespace@342..343 " "
        PATTERN_VARIABLE@343..352
          Ident@343..351 "remain64"
          Whitespace@351..352 " "
        Eq@352..353 "="
        Whitespace@353..354 " "
        EXPR_BINARY@354..368
          EXPR_IDENT@354..360
            PATH@354..360
              Ident@354..359 "big64"
              Whitespace@359..360 " "
          Minus@360..361 "-"
          Whitespace@361..362 " "
          EXPR_IDENT@362..368
            PATH@362..368
              Ident@362..368 "step64"
        Semi@368..369 ";"
        Whitespace@369..372 "\n  "
      STMT_LET@372..396
        LetKeyword@372..375 "let"
        Whitespace@375..376 " "
        PATTERN_VARIABLE@376..382
          Ident@376..381 "neg64"
          Whitespace@381..382 " "
        Eq@382..383 "="
        Whitespace@383..384 " "
        EXPR_PREFIX@384..391
          Minus@384..385 "-"
          EXPR_IDENT@385..391
            PATH@385..391
              Ident@385..391 "step64"
        Semi@391..392 ";"
        Whitespace@392..396 "\n\n  "
      STMT_LET@396..588
        LetKeyword@396..399 "let"
        Whitespace@399..400 " "
        PATTERN_VARIABLE@400..408
          Ident@400..407 "message"
          Whitespace@407..408 " "
        Eq@408..409 "="
        Whitespace@409..410 " "
        EXPR_BINARY@410..584
          EXPR_BINARY@410..560
            EXPR_BINARY@410..553
              EXPR_BINARY@410..521
                EXPR_BINARY@410..514
                  EXPR_BINARY@410..484
                    EXPR_BINARY@410..477
                      EXPR_BINARY@410..444
                        EXPR_CALL@410..437
                          EXPR_IDENT@410..425
                            PATH@410..425
                              Ident@410..425 "int16_to_string"
                          ARG_LIST@425..437
                            LParen@425..426 "("
                            ARG@426..431
                              EXPR_IDENT@426..431
                                PATH@426..431
                                  Ident@426..431 "sum16"
                            RParen@431..432 ")"
                            Whitespace@432..437 "\n    "
                        Plus@437..438 "+"
                        Whitespace@438..439 " "
                        EXPR_STR@439..444
                          Str@439..443 "\", \""
                          Whitespace@443..444 " "
                      Plus@444..445 "+"
                      Whitespace@445..446 " "
                      EXPR_CALL@446..477
                        EXPR_IDENT@446..461
                          PATH@446..461
                            Ident@446..461 "int16_to_string"
                        ARG_LIST@461..477
                          LParen@461..462 "("
                          ARG@462..471
                            EXPR_IDENT@462..471
                              PATH@462..471
                                Ident@462..471 "flipped16"
                          RParen@471..472 ")"
                          Whitespace@472..477 "\n    "
                    Plus@477..478 "+"
                    Whitespace@478..479 " "
                    EXPR_STR@479..484
                      Str@479..483 "\"; \""
                      Whitespace@483..484 " "
                  Plus@484..485 "+"
                  Whitespace@485..486 " "
                  EXPR_CALL@486..514
                    EXPR_IDENT@486..501
                      PATH@486..501
                        Ident@486..501 "int32_to_string"
                    ARG_LIST@501..514
                      LParen@501..502 "("
                      ARG@502..508
                        EXPR_IDENT@502..508
                          PATH@502..508
                            Ident@502..508 "diff32"
                      RParen@508..509 ")"
                      Whitespace@509..514 "\n    "
                Plus@514..515 "+"
                Whitespace@515..516 " "
                EXPR_STR@516..521
                  Str@516..520 "\"; \""
                  Whitespace@520..521 " "
              Plus@521..522 "+"
              Whitespace@522..523 " "
              EXPR_CALL@523..553
                EXPR_IDENT@523..538
                  PATH@523..538
                    Ident@523..538 "int64_to_string"
                ARG_LIST@538..553
                  LParen@538..539 "("
                  ARG@539..547
                    EXPR_IDENT@539..547
                      PATH@539..547
                        Ident@539..547 "remain64"
                  RParen@547..548 ")"
                  Whitespace@548..553 "\n    "
            Plus@553..554 "+"
            Whitespace@554..555 " "
            EXPR_STR@555..560
              Str@555..559 "\"; \""
              Whitespace@559..560 " "
          Plus@560..561 "+"
          Whitespace@561..562 " "
          EXPR_CALL@562..584
            EXPR_IDENT@562..577
              PATH@562..577
                Ident@562..577 "int64_to_string"
            ARG_LIST@577..584
              LParen@577..578 "("
              ARG@578..583
                EXPR_IDENT@578..583
                  PATH@578..583
                    Ident@578..583 "neg64"
              RParen@583..584 ")"
        Semi@584..585 ";"
        Whitespace@585..588 "\n  "
      STMT_EXPR@588..613
        EXPR_CALL@588..611
          EXPR_IDENT@588..602
            PATH@588..602
              Ident@588..602 "string_println"
          ARG_LIST@602..611
            LParen@602..603 "("
            ARG@603..610
              EXPR_IDENT@603..610
                PATH@603..610
                  Ident@603..610 "message"
            RParen@610..611 ")"
        Semi@611..612 ";"
        Whitespace@612..613 "\n"
      RBrace@613..614 "}"
      Whitespace@614..615 "\n"