FILE@0..827
  STRUCT@0..35
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..11 "Node"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    STRUCT_FIELD_LIST@18..35
      STRUCT_FIELD@18..30
        Ident@18..23 "value"
        Colon@23..24 ":"
        Whitespace@24..25 " "
        TYPE_INT32@25..30
          Int32Keyword@25..30 "int32"
      Comma@30..31 ","
      Whitespace@31..32 "\n"
      RBrace@32..33 "}"
      Whitespace@33..35 "\n\n"
  FN@35..235
    FnKeyword@35..37 "fn"
    Whitespace@37..38 " "
    Ident@38..50 "print_lookup"
    PARAM_LIST@50..100
      LParen@50..51 "("
      PARAM@51..84
        Ident@51..54 "map"
        Colon@54..55 ":"
        Whitespace@55..56 " "
        TYPE_TAPP@56..82
          PATH@56..63
            Ident@56..63 "HashMap"
          TYPE_PARAM_LIST@63..82
            LBracket@63..64 "["
            TYPE_TAPP@64..73
              PATH@64..67
                Ident@64..67 "Ref"
              TYPE_PARAM_LIST@67..73
                LBracket@67..68 "["
                TYPE_TAPP@68..72
                  PATH@68..72
                    Ident@68..72 "Node"
                RBracket@72..73 "]"
            Comma@73..74 ","
            Whitespace@74..75 " "
            TYPE_STRING@75..81
              StringKeyword@75..81 "string"
            RBracket@81..82 "]"
        Comma@82..83 ","
        Whitespace@83..84 " "
      PARAM@84..98
        Ident@84..87 "key"
        Colon@87..88 ":"
        Whitespace@88..89 " "
        TYPE_TAPP@89..98
          PATH@89..92
            Ident@89..92 "Ref"
          TYPE_PARAM_LIST@92..98
            LBracket@92..93 "["
            TYPE_TAPP@93..97
              PATH@93..97
                Ident@93..97 "Node"
            RBracket@97..98 "]"
      RParen@98..99 ")"
      Whitespace@99..100 " "
    Arrow@100..102 "->"
    Whitespace@102..103 " "
    TYPE_UNIT@103..108
      UnitKeyword@103..107 "unit"
      Whitespace@107..108 " "
    BLOCK@108..235
      LBrace@108..109 "{"
      Whitespace@109..114 "\n    "
      EXPR_MATCH@114..232
        MatchKeyword@114..119 "match"
        Whitespace@119..120 " "
        EXPR_CALL@120..133
          EXPR_BINARY@120..127
            EXPR_IDENT@120..123
              PATH@120..123
                Ident@120..123 "map"
            Dot@123..124 "."
            EXPR_IDENT@124..127
              PATH@124..127
                Ident@124..127 "get"
          ARG_LIST@127..133
            LParen@127..128 "("
            ARG@128..131
              EXPR_IDENT@128..131
                PATH@128..131
                  Ident@128..131 "key"
            RParen@131..132 ")"
            Whitespace@132..133 " "
        MATCH_ARM_LIST@133..232
          LBrace@133..134 "{"
          Whitespace@134..143 "\n        "
          MATCH_ARM@143..180
            PATTERN_CONSTR@143..163
              PATH@143..155
                Ident@143..149 "Option"
                ColonColon@149..151 "::"
                Ident@151..155 "Some"
              LParen@155..156 "("
              PATTERN_VARIABLE@156..161
                Ident@156..161 "value"
              RParen@161..162 ")"
              Whitespace@162..163 " "
            FatArrow@163..165 "=>"
            Whitespace@165..166 " "
            EXPR_CALL@166..180
              EXPR_IDENT@166..173
                PATH@166..173
                  Ident@166..173 "println"
              ARG_LIST@173..180
                LParen@173..174 "("
                ARG@174..179
                  EXPR_IDENT@174..179
                    PATH@174..179
                      Ident@174..179 "value"
                RParen@179..180 ")"
          Comma@180..181 ","
          Whitespace@181..190 "\n        "
          MATCH_ARM@190..224
            PATTERN_CONSTR@190..203
              PATH@190..203
                Ident@190..196 "Option"
                ColonColon@196..198 "::"
                Ident@198..202 "None"
                Whitespace@202..203 " "
            FatArrow@203..205 "=>"
            Whitespace@205..206 " "
            EXPR_CALL@206..224
              EXPR_IDENT@206..213
                PATH@206..213
                  Ident@206..213 "println"
              ARG_LIST@213..224
                LParen@213..214 "("
                ARG@214..223
                  EXPR_STR@214..223
                    Str@214..223 "\"missing\""
                RParen@223..224 ")"
          Comma@224..225 ","
          Whitespace@225..230 "\n    "
          RBrace@230..231 "}"
          Whitespace@231..232 "\n"
      RBrace@232..233 "}"
      Whitespace@233..235 "\n\n"
  FN@235..827
    FnKeyword@235..237 "fn"
    Whitespace@237..238 " "
    Ident@238..242 "main"
    PARAM_LIST@242..245
      LParen@242..243 "("
      RParen@243..244 ")"
      Whitespace@244..245 " "
    BLOCK@245..827
      LBrace@245..246 "{"
      Whitespace@246..251 "\n    "
      STMT_LET@251..296
        LetKeyword@251..254 "let"
        Whitespace@254..255 " "
        PATTERN_VARIABLE@255..261
          Ident@255..260 "first"
          Whitespace@260..261 " "
        Eq@261..262 "="
        Whitespace@262..263 " "
        EXPR_CALL@263..290
          EXPR_IDENT@263..271
            PATH@263..271
              Ident@263..266 "Ref"
              ColonColon@266..268 "::"
              Ident@268..271 "new"
          ARG_LIST@271..290
            LParen@271..272 "("
            ARG@272..289
              EXPR_STRUCT_LITERAL@272..289
                PATH@272..277
                  Ident@272..276 "Node"
                  Whitespace@276..277 " "
                STRUCT_LITERAL_FIELD_LIST@277..289
                  LBrace@277..278 "{"
                  Whitespace@278..279 " "
                  STRUCT_LITERAL_FIELD@279..288
                    Ident@279..284 "value"
                    Colon@284..285 ":"
                    Whitespace@285..286 " "
                    EXPR_INT@286..288
                      Int@286..287 "1"
                      Whitespace@287..288 " "
                  RBrace@288..289 "}"
            RParen@289..290 ")"
        Semi@290..291 ";"
        Whitespace@291..296 "\n    "
      STMT_LET@296..319
        LetKeyword@296..299 "let"
        Whitespace@299..300 " "
        PATTERN_VARIABLE@300..306
          Ident@300..305 "alias"
          Whitespace@305..306 " "
        Eq@306..307 "="
        Whitespace@307..308 " "
        EXPR_IDENT@308..313
          PATH@308..313
            Ident@308..313 "first"
        Semi@313..314 ";"
        Whitespace@314..319 "\n    "
      STMT_LET@319..367
        LetKeyword@319..322 "let"
        Whitespace@322..323 " "
        PATTERN_VARIABLE@323..332
          Ident@323..331 "distinct"
          Whitespace@331..332 " "
        Eq@332..333 "="
        Whitespace@333..334 " "
        EXPR_CALL@334..361
          EXPR_IDENT@334..342
            PATH@334..342
              Ident@334..337 "Ref"
              ColonColon@337..339 "::"
              Ident@339..342 "new"
          ARG_LIST@342..361
            LParen@342..343 "("
            ARG@343..360
              EXPR_STRUCT_LITERAL@343..360
                PATH@343..348
                  Ident@343..347 "Node"
                  Whitespace@347..348 " "
                STRUCT_LITERAL_FIELD_LIST@348..360
                  LBrace@348..349 "{"
                  Whitespace@349..350 " "
                  STRUCT_LITERAL_FIELD@350..359
                    Ident@350..355 "value"
                    Colon@355..356 ":"
                    Whitespace@356..357 " "
                    EXPR_INT@357..359
                      Int@357..358 "1"
                      Whitespace@358..359 " "
                  RBrace@359..360 "}"
            RParen@360..361 ")"
        Semi@361..362 ";"
        Whitespace@362..367 "\n    "
      STMT_EXPR@367..402
        EXPR_CALL@367..396
          EXPR_IDENT@367..374
            PATH@367..374
              Ident@367..374 "println"
          ARG_LIST@374..396
            LParen@374..375 "("
            ARG@375..395
              EXPR_CALL@375..395
                EXPR_IDENT@375..381
                  PATH@375..381
                    Ident@375..377 "Eq"
                    ColonColon@377..379 "::"
                    Ident@379..381 "eq"
                ARG_LIST@381..395
                  LParen@381..382 "("
                  ARG@382..389
                    EXPR_IDENT@382..387
                      PATH@382..387
                        Ident@382..387 "first"
                    Comma@387..388 ","
                    Whitespace@388..389 " "
                  ARG@389..394
                    EXPR_IDENT@389..394
                      PATH@389..394
                        Ident@389..394 "alias"
                  RParen@394..395 ")"
            RParen@395..396 ")"
        Semi@396..397 ";"
        Whitespace@397..402 "\n    "
      STMT_EXPR@402..440
        EXPR_CALL@402..434
          EXPR_IDENT@402..409
            PATH@402..409
              Ident@402..409 "println"
          ARG_LIST@409..434
            LParen@409..410 "("
            ARG@410..433
              EXPR_CALL@410..433
                EXPR_IDENT@410..416
                  PATH@410..416
                    Ident@410..412 "Eq"
                    ColonColon@412..414 "::"
                    Ident@414..416 "eq"
                ARG_LIST@416..433
                  LParen@416..417 "("
                  ARG@417..424
                    EXPR_IDENT@417..422
                      PATH@417..422
                        Ident@417..422 "first"
                    Comma@422..423 ","
                    Whitespace@423..424 " "
                  ARG@424..432
                    EXPR_IDENT@424..432
                      PATH@424..432
                        Ident@424..432 "distinct"
                  RParen@432..433 ")"
            RParen@433..434 ")"
        Semi@434..435 ";"
        Whitespace@435..440 "\n    "
      STMT_EXPR@440..494
        EXPR_CALL@440..487
          EXPR_IDENT@440..447
            PATH@440..447
              Ident@440..447 "println"
          ARG_LIST@447..487
            LParen@447..448 "("
            ARG@448..486
              EXPR_BINARY@448..486
                EXPR_CALL@448..466
                  EXPR_IDENT@448..458
                    PATH@448..458
                      Ident@448..452 "Hash"
                      ColonColon@452..454 "::"
                      Ident@454..458 "hash"
                  ARG_LIST@458..466
                    LParen@458..459 "("
                    ARG@459..464
                      EXPR_IDENT@459..464
                        PATH@459..464
                          Ident@459..464 "first"
                    RParen@464..465 ")"
                    Whitespace@465..466 " "
                EqEq@466..468 "=="
                Whitespace@468..469 " "
                EXPR_CALL@469..486
                  EXPR_IDENT@469..479
                    PATH@469..479
                      Ident@469..473 "Hash"
                      ColonColon@473..475 "::"
                      Ident@475..479 "hash"
                  ARG_LIST@479..486
                    LParen@479..480 "("
                    ARG@480..485
                      EXPR_IDENT@480..485
                        PATH@480..485
                          Ident@480..485 "alias"
                    RParen@485..486 ")"
            RParen@486..487 ")"
        Semi@487..488 ";"
        Whitespace@488..494 "\n\n    "
      STMT_LET@494..552
        LetKeyword@494..497 "let"
        Whitespace@497..498 " "
        PATTERN_VARIABLE@498..501
          Ident@498..501 "map"
        Colon@501..502 ":"
        Whitespace@502..503 " "
        TYPE_TAPP@503..530
          PATH@503..510
            Ident@503..510 "HashMap"
          TYPE_PARAM_LIST@510..530
            LBracket@510..511 "["
            TYPE_TAPP@511..520
              PATH@511..514
                Ident@511..514 "Ref"
              TYPE_PARAM_LIST@514..520
                LBracket@514..515 "["
                TYPE_TAPP@515..519
                  PATH@515..519
                    Ident@515..519 "Node"
                RBracket@519..520 "]"
            Comma@520..521 ","
            Whitespace@521..522 " "
            TYPE_STRING@522..528
              StringKeyword@522..528 "string"
            RBracket@528..529 "]"
            Whitespace@529..530 " "
        Eq@530..531 "="
        Whitespace@531..532 " "
        EXPR_CALL@532..546
          EXPR_IDENT@532..544
            PATH@532..544
              Ident@532..539 "HashMap"
              ColonColon@539..541 "::"
              Ident@541..544 "new"
          ARG_LIST@544..546
            LParen@544..545 "("
            RParen@545..546 ")"
        Semi@546..547 ";"
        Whitespace@547..552 "\n    "
      STMT_EXPR@552..581
        EXPR_CALL@552..575
          EXPR_BINARY@552..559
            EXPR_IDENT@552..555
              PATH@552..555
                Ident@552..555 "map"
            Dot@555..556 "."
            EXPR_IDENT@556..559
              PATH@556..559
                Ident@556..559 "set"
          ARG_LIST@559..575
            LParen@559..560 "("
            ARG@560..567
              EXPR_IDENT@560..565
                PATH@560..565
                  Ident@560..565 "first"
              Comma@565..566 ","
              Whitespace@566..567 " "
            ARG@567..574
              EXPR_STR@567..574
                Str@567..574 "\"first\""
            RParen@574..575 ")"
        Semi@575..576 ";"
        Whitespace@576..581 "\n    "
      STMT_EXPR@581..611
        EXPR_CALL@581..605
          EXPR_IDENT@581..593
            PATH@581..593
              Ident@581..593 "print_lookup"
          ARG_LIST@593..605
            LParen@593..594 "("
            ARG@594..599
              EXPR_IDENT@594..597
                PATH@594..597
                  Ident@594..597 "map"
              Comma@597..598 ","
              Whitespace@598..599 " "
            ARG@599..604
              EXPR_IDENT@599..604
                PATH@599..604
                  Ident@599..604 "alias"
            RParen@604..605 ")"
        Semi@605..606 ";"
        Whitespace@606..611 "\n    "
      STMT_EXPR@611..644
        EXPR_CALL@611..638
          EXPR_IDENT@611..623
            PATH@611..623
              Ident@611..623 "print_lookup"
          ARG_LIST@623..638
            LParen@623..624 "("
            ARG@624..629
              EXPR_IDENT@624..627
                PATH@624..627
                  Ident@624..627 "map"
              Comma@627..628 ","
              Whitespace@628..629 " "
            ARG@629..637
              EXPR_IDENT@629..637
                PATH@629..637
                  Ident@629..637 "distinct"
            RParen@637..638 ")"
        Semi@638..639 ";"
        Whitespace@639..644 "\n    "
      STMT_EXPR@644..678
        EXPR_CALL@644..672
          EXPR_BINARY@644..653
            EXPR_IDENT@644..649
              PATH@644..649
                Ident@644..649 "first"
            Dot@649..650 "."
            EXPR_IDENT@650..653
              PATH@650..653
                Ident@650..653 "set"
          ARG_LIST@653..672
            LParen@653..654 "("
            ARG@654..671
              EXPR_STRUCT_LITERAL@654..671
                PATH@654..659
                  Ident@654..658 "Node"
                  Whitespace@658..659 " "
                STRUCT_LITERAL_FIELD_LIST@659..671
                  LBrace@659..660 "{"
                  Whitespace@660..661 " "
                  STRUCT_LITERAL_FIELD@661..670
                    Ident@661..666 "value"
                    Colon@666..667 ":"
                    Whitespace@667..668 " "
                    EXPR_INT@668..670
                      Int@668..669 "2"
                      Whitespace@669..670 " "
                  RBrace@670..671 "}"
            RParen@671..672 ")"
        Semi@672..673 ";"
        Whitespace@673..678 "\n    "
      STMT_EXPR@678..708
        EXPR_CALL@678..702
          EXPR_IDENT@678..690
            PATH@678..690
              Ident@678..690 "print_lookup"
          ARG_LIST@690..702
            LParen@690..691 "("
            ARG@691..696
              EXPR_IDENT@691..694
                PATH@691..694
                  Ident@691..694 "map"
              Comma@694..695 ","
              Whitespace@695..696 " "
            ARG@696..701
              EXPR_IDENT@696..701
                PATH@696..701
                  Ident@696..701 "first"
            RParen@701..702 ")"
        Semi@702..703 ";"
        Whitespace@703..708 "\n    "
      STMT_EXPR@708..743
        EXPR_CALL@708..737
          EXPR_BINARY@708..715
            EXPR_IDENT@708..711
              PATH@708..711
                Ident@708..711 "map"
            Dot@711..712 "."
            EXPR_IDENT@712..715
              PATH@712..715
                Ident@712..715 "set"
          ARG_LIST@715..737
            LParen@715..716 "("
            ARG@716..726
              EXPR_IDENT@716..724
                PATH@716..724
                  Ident@716..724 "distinct"
              Comma@724..725 ","
              Whitespace@725..726 " "
            ARG@726..736
              EXPR_STR@726..736
                Str@726..736 "\"distinct\""
            RParen@736..737 ")"
        Semi@737..738 ";"
        Whitespace@738..743 "\n    "
      STMT_EXPR@743..767
        EXPR_CALL@743..761
          EXPR_IDENT@743..750
            PATH@743..750
              Ident@743..750 "println"
          ARG_LIST@750..761
            LParen@750..751 "("
            ARG@751..760
              EXPR_CALL@751..760
                EXPR_BINARY@751..758
                  EXPR_IDENT@751..754
                    PATH@751..754
                      Ident@751..754 "map"
                  Dot@754..755 "."
                  EXPR_IDENT@755..758
                    PATH@755..758
                      Ident@755..758 "len"
                ARG_LIST@758..760
                  LParen@758..759 "("
                  RParen@759..760 ")"
            RParen@760..761 ")"
        Semi@761..762 ";"
        Whitespace@762..767 "\n    "
      STMT_EXPR@767..797
        EXPR_CALL@767..791
          EXPR_IDENT@767..779
            PATH@767..779
              Ident@767..779 "print_lookup"
          ARG_LIST@779..791
            LParen@779..780 "("
            ARG@780..785
              EXPR_IDENT@780..783
                PATH@780..783
                  Ident@780..783 "map"
              Comma@783..784 ","
              Whitespace@784..785 " "
            ARG@785..790
              EXPR_IDENT@785..790
                PATH@785..790
                  Ident@785..790 "first"
            RParen@790..791 ")"
        Semi@791..792 ";"
        Whitespace@792..797 "\n    "
      EXPR_CALL@797..825
        EXPR_IDENT@797..809
          PATH@797..809
            Ident@797..809 "print_lookup"
        ARG_LIST@809..825
          LParen@809..810 "("
          ARG@810..815
            EXPR_IDENT@810..813
              PATH@810..813
                Ident@810..813 "map"
            Comma@813..814 ","
            Whitespace@814..815 " "
          ARG@815..823
            EXPR_IDENT@815..823
              PATH@815..823
                Ident@815..823 "distinct"
          RParen@823..824 ")"
          Whitespace@824..825 "\n"
      RBrace@825..826 "}"
      Whitespace@826..827 "\n"