FILE@0..103
  FN@0..103
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..103
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..41
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        MutKeyword@26..29 "mut"
        Whitespace@29..30 " "
        PATTERN_VARIABLE@30..32
          Ident@30..31 "x"
          Whitespace@31..32 " "
        Eq@32..33 "="
        Whitespace@33..34 " "
        EXPR_INT@34..35
          Int@34..35 "0"
        Semi@35..36 ";"
        Whitespace@36..41 "\n    "
      STMT_LET@41..61
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..49
          Ident@45..48 "get"
          Whitespace@48..49 " "
        Eq@49..50 "="
        Whitespace@50..51 " "
        EXPR_CLOSURE@51..55
          CLOSURE_PARAM_LIST@51..54
            OrOr@51..53 "||"
            Whitespace@53..54 " "
          EXPR_CLOSURE_BODY@54..55
            EXPR_IDENT@54..55
              PATH@54..55
                Ident@54..55 "x"
        Semi@55..56 ";"
        Whitespace@56..61 "\n    "
      STMT_ASSIGN@61..73
        EXPR_IDENT@61..63
          PATH@61..63
            Ident@61..62 "x"
            Whitespace@62..63 " "
        Eq@63..64 "="
        Whitespace@64..65 " "
        EXPR_INT@65..67
          Int@65..67 "41"
        Semi@67..68 ";"
        Whitespace@68..73 "\n    "
      STMT_EXPR@73..101
        EXPR_CALL@73..99
          EXPR_IDENT@73..80
            PATH@73..80
              Ident@73..80 "println"
          ARG_LIST@80..99
            LParen@80..81 "("
            ARG@81..98
              EXPR_CALL@81..98
                EXPR_BINARY@81..96
                  EXPR_CALL@81..86
                    EXPR_IDENT@81..84
                      PATH@81..84
                        Ident@81..84 "get"
                    ARG_LIST@84..86
                      LParen@84..85 "("
                      RParen@85..86 ")"
                  Dot@86..87 "."
                  EXPR_IDENT@87..96
                    PATH@87..96
                      Ident@87..96 "to_string"
                ARG_LIST@96..98
                  LParen@96..97 "("
                  RParen@97..98 ")"
            RParen@98..99 ")"
        Semi@99..100 ";"
        Whitespace@100..101 "\n"
      RBrace@101..102 "}"
      Whitespace@102..103 "\n"