FILE@0..540
  FN@0..44
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "double"
    PARAM_LIST@9..20
      LParen@9..10 "("
      PARAM@10..18
        Ident@10..11 "x"
        Colon@11..12 ":"
        Whitespace@12..13 " "
        TYPE_INT32@13..18
          Int32Keyword@13..18 "int32"
      RParen@18..19 ")"
      Whitespace@19..20 " "
    Arrow@20..22 "->"
    Whitespace@22..23 " "
    TYPE_INT32@23..29
      Int32Keyword@23..28 "int32"
      Whitespace@28..29 " "
    BLOCK@29..44
      LBrace@29..30 "{"
      Whitespace@30..35 "\n    "
      EXPR_BINARY@35..41
        EXPR_IDENT@35..37
          PATH@35..37
            Ident@35..36 "x"
            Whitespace@36..37 " "
        Star@37..38 "*"
        Whitespace@38..39 " "
        EXPR_INT@39..41
          Int@39..40 "2"
          Whitespace@40..41 "\n"
      RBrace@41..42 "}"
      Whitespace@42..44 "\n\n"
  FN@44..91
    FnKeyword@44..46 "fn"
    Whitespace@46..47 " "
    Ident@47..56 "increment"
    PARAM_LIST@56..67
      LParen@56..57 "("
      PARAM@57..65
        Ident@57..58 "x"
        Colon@58..59 ":"
        Whitespace@59..60 " "
        TYPE_INT32@60..65
          Int32Keyword@60..65 "int32"
      RParen@65..66 ")"
      Whitespace@66..67 " "
    Arrow@67..69 "->"
    Whitespace@69..70 " "
    TYPE_INT32@70..76
      Int32Keyword@70..75 "int32"
      Whitespace@75..76 " "
    BLOCK@76..91
      LBrace@76..77 "{"
      Whitespace@77..82 "\n    "
      EXPR_BINARY@82..88
        EXPR_IDENT@82..84
          PATH@82..84
            Ident@82..83 "x"
            Whitespace@83..84 " "
        Plus@84..85 "+"
        Whitespace@85..86 " "
        EXPR_INT@86..88
          Int@86..87 "1"
          Whitespace@87..88 "\n"
      RBrace@88..89 "}"
      Whitespace@89..91 "\n\n"
  FN@91..205
    FnKeyword@91..93 "fn"
    Whitespace@93..94 " "
    Ident@94..101 "chooser"
    PARAM_LIST@101..114
      LParen@101..102 "("
      PARAM@102..112
        Ident@102..106 "flag"
        Colon@106..107 ":"
        Whitespace@107..108 " "
        TYPE_BOOL@108..112
          BoolKeyword@108..112 "bool"
      RParen@112..113 ")"
      Whitespace@113..114 " "
    Arrow@114..116 "->"
    Whitespace@116..117 " "
    TYPE_FUNC@117..134
      TYPE_TUPLE@117..125
        TYPE_LIST@117..125
          LParen@117..118 "("
          TYPE_INT32@118..123
            Int32Keyword@118..123 "int32"
          RParen@123..124 ")"
          Whitespace@124..125 " "
      Arrow@125..127 "->"
      Whitespace@127..128 " "
      TYPE_INT32@128..134
        Int32Keyword@128..133 "int32"
        Whitespace@133..134 " "
    BLOCK@134..205
      LBrace@134..135 "{"
      Whitespace@135..140 "\n    "
      EXPR_IF@140..202
        IfKeyword@140..142 "if"
        Whitespace@142..143 " "
        EXPR_IF_COND@143..148
          EXPR_IDENT@143..148
            PATH@143..148
              Ident@143..147 "flag"
              Whitespace@147..148 " "
        EXPR_IF_THEN@148..171
          BLOCK@148..171
            LBrace@148..149 "{"
            Whitespace@149..158 "\n        "
            EXPR_IDENT@158..169
              PATH@158..169
                Ident@158..164 "double"
                Whitespace@164..169 "\n    "
            RBrace@169..170 "}"
            Whitespace@170..171 " "
        ElseKeyword@171..175 "else"
        Whitespace@175..176 " "
        EXPR_IF_ELSE@176..202
          BLOCK@176..202
            LBrace@176..177 "{"
            Whitespace@177..186 "\n        "
            EXPR_IDENT@186..200
              PATH@186..200
                Ident@186..195 "increment"
                Whitespace@195..200 "\n    "
            RBrace@200..201 "}"
            Whitespace@201..202 "\n"
      RBrace@202..203 "}"
      Whitespace@203..205 "\n\n"
  FN@205..540
    FnKeyword@205..207 "fn"
    Whitespace@207..208 " "
    Ident@208..212 "main"
    PARAM_LIST@212..215
      LParen@212..213 "("
      RParen@213..214 ")"
      Whitespace@214..215 " "
    BLOCK@215..540
      LBrace@215..216 "{"
      Whitespace@216..221 "\n    "
      STMT_LET@221..255
        LetKeyword@221..224 "let"
        Whitespace@224..225 " "
        PATTERN_VARIABLE@225..228
          Ident@225..227 "xs"
          Whitespace@227..228 " "
        Eq@228..229 "="
        Whitespace@229..230 " "
        EXPR_ARRAY_LITERAL@230..249
          LBracket@230..231 "["
          EXPR_IDENT@231..237
            PATH@231..237
              Ident@231..237 "double"
          Comma@237..238 ","
          Whitespace@238..239 " "
          EXPR_IDENT@239..248
            PATH@239..248
              Ident@239..248 "increment"
          RBracket@248..249 "]"
        Semi@249..250 ";"
        Whitespace@250..255 "\n    "
      STMT_LET@255..274
        LetKeyword@255..258 "let"
        Whitespace@258..259 " "
        PATTERN_VARIABLE@259..261
          Ident@259..260 "f"
          Whitespace@260..261 " "
        Eq@261..262 "="
        Whitespace@262..263 " "
        EXPR_INDEX@263..268
          EXPR_IDENT@263..265
            PATH@263..265
              Ident@263..265 "xs"
          LBracket@265..266 "["
          EXPR_INT@266..267
            Int@266..267 "0"
          RBracket@267..268 "]"
        Semi@268..269 ";"
        Whitespace@269..274 "\n    "
      STMT_LET@274..293
        LetKeyword@274..277 "let"
        Whitespace@277..278 " "
        PATTERN_VARIABLE@278..280
          Ident@278..279 "g"
          Whitespace@279..280 " "
        Eq@280..281 "="
        Whitespace@281..282 " "
        EXPR_INDEX@282..287
          EXPR_IDENT@282..284
            PATH@282..284
              Ident@282..284 "xs"
          LBracket@284..285 "["
          EXPR_INT@285..286
            Int@285..286 "1"
          RBracket@286..287 "]"
        Semi@287..288 ";"
        Whitespace@288..293 "\n    "
      STMT_LET@293..324
        LetKeyword@293..296 "let"
        Whitespace@296..297 " "
        PATTERN_WILDCARD@297..299
          WildcardKeyword@297..298 "_"
          Whitespace@298..299 " "
        Eq@299..300 "="
        Whitespace@300..301 " "
        EXPR_CALL@301..318
          EXPR_IDENT@301..308
            PATH@301..308
              Ident@301..308 "println"
          ARG_LIST@308..318
            LParen@308..309 "("
            ARG@309..317
              EXPR_CALL@309..317
                EXPR_IDENT@309..310
                  PATH@309..310
                    Ident@309..310 "g"
                ARG_LIST@310..317
                  LParen@310..311 "("
                  ARG@311..316
                    EXPR_CALL@311..316
                      EXPR_IDENT@311..312
                        PATH@311..312
                          Ident@311..312 "f"
                      ARG_LIST@312..316
                        LParen@312..313 "("
                        ARG@313..315
                          EXPR_INT@313..315
                            Int@313..315 "10"
                        RParen@315..316 ")"
                  RParen@316..317 ")"
            RParen@317..318 ")"
        Semi@318..319 ";"
        Whitespace@319..324 "\n    "
      STMT_LET@324..356
        LetKeyword@324..327 "let"
        Whitespace@327..328 " "
        PATTERN_VARIABLE@328..335
          Ident@328..334 "chosen"
          Whitespace@334..335 " "
        Eq@335..336 "="
        Whitespace@336..337 " "
        EXPR_CALL@337..350
          EXPR_IDENT@337..344
            PATH@337..344
              Ident@337..344 "chooser"
          ARG_LIST@344..350
            LParen@344..345 "("
            ARG@345..349
              EXPR_BOOL@345..349
                TrueKeyword@345..349 "true"
            RParen@349..350 ")"
        Semi@350..351 ";"
        Whitespace@351..356 "\n    "
      STMT_LET@356..385
        LetKeyword@356..359 "let"
        Whitespace@359..360 " "
        PATTERN_VARIABLE@360..368
          Ident@360..367 "applied"
          Whitespace@367..368 " "
        Eq@368..369 "="
        Whitespace@369..370 " "
        EXPR_CALL@370..379
          EXPR_IDENT@370..376
            PATH@370..376
              Ident@370..376 "chosen"
          ARG_LIST@376..379
            LParen@376..377 "("
            ARG@377..378
              EXPR_INT@377..378
                Int@377..378 "5"
            RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..385 "\n    "
      STMT_LET@385..421
        LetKeyword@385..388 "let"
        Whitespace@388..389 " "
        PATTERN_VARIABLE@389..396
          Ident@389..395 "direct"
          Whitespace@395..396 " "
        Eq@396..397 "="
        Whitespace@397..398 " "
        EXPR_CALL@398..415
          EXPR_CALL@398..412
            EXPR_IDENT@398..405
              PATH@398..405
                Ident@398..405 "chooser"
            ARG_LIST@405..412
              LParen@405..406 "("
              ARG@406..411
                EXPR_BOOL@406..411
                  FalseKeyword@406..411 "false"
              RParen@411..412 ")"
          ARG_LIST@412..415
            LParen@412..413 "("
            ARG@413..414
              EXPR_INT@413..414
                Int@413..414 "5"
            RParen@414..415 ")"
        Semi@415..416 ";"
        Whitespace@416..421 "\n    "
      STMT_LET@421..448
        LetKeyword@421..424 "let"
        Whitespace@424..425 " "
        PATTERN_VARIABLE@425..433
          Ident@425..432 "printer"
          Whitespace@432..433 " "
        Eq@433..434 "="
        Whitespace@434..435 " "
        EXPR_IDENT@435..442
          PATH@435..442
            Ident@435..442 "println"
        Semi@442..443 ";"
        Whitespace@443..448 "\n    "
      STMT_LET@448..492
        LetKeyword@448..451 "let"
        Whitespace@451..452 " "
        PATTERN_WILDCARD@452..454
          WildcardKeyword@452..453 "_"
          Whitespace@453..454 " "
        Eq@454..455 "="
        Whitespace@455..456 " "
        EXPR_CALL@456..486
          EXPR_IDENT@456..463
            PATH@456..463
              Ident@456..463 "printer"
          ARG_LIST@463..486
            LParen@463..464 "("
            ARG@464..485
              EXPR_CALL@464..485
                EXPR_BINARY@464..483
                  EXPR_PAREN@464..473
                    LParen@464..465 "("
                    EXPR_IDENT@465..472
                      PATH@465..472
                        Ident@465..472 "applied"
                    RParen@472..473 ")"
                  Dot@473..474 "."
                  EXPR_IDENT@474..483
                    PATH@474..483
                      Ident@474..483 "to_string"
                ARG_LIST@483..485
                  LParen@483..484 "("
                  RParen@484..485 ")"
            RParen@485..486 ")"
        Semi@486..487 ";"
        Whitespace@487..492 "\n    "
      STMT_LET@492..535
        LetKeyword@492..495 "let"
        Whitespace@495..496 " "
        PATTERN_WILDCARD@496..498
          WildcardKeyword@496..497 "_"
          Whitespace@497..498 " "
        Eq@498..499 "="
        Whitespace@499..500 " "
        EXPR_CALL@500..529
          EXPR_IDENT@500..507
            PATH@500..507
              Ident@500..507 "printer"
          ARG_LIST@507..529
            LParen@507..508 "("
            ARG@508..528
              EXPR_CALL@508..528
                EXPR_BINARY@508..526
                  EXPR_PAREN@508..516
                    LParen@508..509 "("
                    EXPR_IDENT@509..515
                      PATH@509..515
                        Ident@509..515 "direct"
                    RParen@515..516 ")"
                  Dot@516..517 "."
                  EXPR_IDENT@517..526
                    PATH@517..526
                      Ident@517..526 "to_string"
                ARG_LIST@526..528
                  LParen@526..527 "("
                  RParen@527..528 ")"
            RParen@528..529 ")"
        Semi@529..530 ";"
        Whitespace@530..535 "\n    "
      EXPR_UNIT@535..538
        LParen@535..536 "("
        RParen@536..537 ")"
        Whitespace@537..538 "\n"
      RBrace@538..539 "}"
      Whitespace@539..540 "\n"