FILE@0..854
  FN@0..35
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "a_value"
    PARAM_LIST@10..13
      LParen@10..11 "("
      RParen@11..12 ")"
      Whitespace@12..13 " "
    Arrow@13..15 "->"
    Whitespace@15..16 " "
    TYPE_INT8@16..21
      Int8Keyword@16..20 "int8"
      Whitespace@20..21 " "
    BLOCK@21..35
      LBrace@21..22 "{"
      Whitespace@22..27 "\n    "
      EXPR_INT8@27..32
        Int8Lit@27..31 "90i8"
        Whitespace@31..32 "\n"
      RBrace@32..33 "}"
      Whitespace@33..35 "\n\n"
  FN@35..71
    FnKeyword@35..37 "fn"
    Whitespace@37..38 " "
    Ident@38..45 "b_value"
    PARAM_LIST@45..48
      LParen@45..46 "("
      RParen@46..47 ")"
      Whitespace@47..48 " "
    Arrow@48..50 "->"
    Whitespace@50..51 " "
    TYPE_INT8@51..56
      Int8Keyword@51..55 "int8"
      Whitespace@55..56 " "
    BLOCK@56..71
      LBrace@56..57 "{"
      Whitespace@57..62 "\n    "
      EXPR_PREFIX@62..68
        Minus@62..63 "-"
        EXPR_INT8@63..68
          Int8Lit@63..67 "20i8"
          Whitespace@67..68 "\n"
      RBrace@68..69 "}"
      Whitespace@69..71 "\n\n"
  FN@71..105
    FnKeyword@71..73 "fn"
    Whitespace@73..74 " "
    Ident@74..81 "c_value"
    PARAM_LIST@81..84
      LParen@81..82 "("
      RParen@82..83 ")"
      Whitespace@83..84 " "
    Arrow@84..86 "->"
    Whitespace@86..87 " "
    TYPE_INT8@87..92
      Int8Keyword@87..91 "int8"
      Whitespace@91..92 " "
    BLOCK@92..105
      LBrace@92..93 "{"
      Whitespace@93..98 "\n    "
      EXPR_INT8@98..102
        Int8Lit@98..101 "3i8"
        Whitespace@101..102 "\n"
      RBrace@102..103 "}"
      Whitespace@103..105 "\n\n"
  FN@105..210
    FnKeyword@105..107 "fn"
    Whitespace@107..108 " "
    Ident@108..117 "show_int8"
    PARAM_LIST@117..146
      LParen@117..118 "("
      PARAM@118..133
        Ident@118..123 "label"
        Colon@123..124 ":"
        Whitespace@124..125 " "
        TYPE_STRING@125..131
          StringKeyword@125..131 "string"
        Comma@131..132 ","
        Whitespace@132..133 " "
      PARAM@133..144
        Ident@133..138 "value"
        Colon@138..139 ":"
        Whitespace@139..140 " "
        TYPE_INT8@140..144
          Int8Keyword@140..144 "int8"
      RParen@144..145 ")"
      Whitespace@145..146 " "
    BLOCK@146..210
      LBrace@146..147 "{"
      Whitespace@147..152 "\n    "
      STMT_LET@152..204
        LetKeyword@152..155 "let"
        Whitespace@155..156 " "
        PATTERN_WILDCARD@156..158
          WildcardKeyword@156..157 "_"
          Whitespace@157..158 " "
        Eq@158..159 "="
        Whitespace@159..160 " "
        EXPR_CALL@160..198
          EXPR_IDENT@160..167
            PATH@160..167
              Ident@160..167 "println"
          ARG_LIST@167..198
            LParen@167..168 "("
            ARG@168..197
              EXPR_BINARY@168..197
                EXPR_IDENT@168..174
                  PATH@168..174
                    Ident@168..173 "label"
                    Whitespace@173..174 " "
                Plus@174..175 "+"
                Whitespace@175..176 " "
                EXPR_CALL@176..197
                  EXPR_IDENT@176..190
                    PATH@176..190
                      Ident@176..190 "int8_to_string"
                  ARG_LIST@190..197
                    LParen@190..191 "("
                    ARG@191..196
                      EXPR_IDENT@191..196
                        PATH@191..196
                          Ident@191..196 "value"
                    RParen@196..197 ")"
            RParen@197..198 ")"
        Semi@198..199 ";"
        Whitespace@199..204 "\n    "
      EXPR_UNIT@204..207
        LParen@204..205 "("
        RParen@205..206 ")"
        Whitespace@206..207 "\n"
      RBrace@207..208 "}"
      Whitespace@208..210 "\n\n"
  FN@210..315
    FnKeyword@210..212 "fn"
    Whitespace@212..213 " "
    Ident@213..222 "show_bool"
    PARAM_LIST@222..251
      LParen@222..223 "("
      PARAM@223..238
        Ident@223..228 "label"
        Colon@228..229 ":"
        Whitespace@229..230 " "
        TYPE_STRING@230..236
          StringKeyword@230..236 "string"
        Comma@236..237 ","
        Whitespace@237..238 " "
      PARAM@238..249
        Ident@238..243 "value"
        Colon@243..244 ":"
        Whitespace@244..245 " "
        TYPE_BOOL@245..249
          BoolKeyword@245..249 "bool"
      RParen@249..250 ")"
      Whitespace@250..251 " "
    BLOCK@251..315
      LBrace@251..252 "{"
      Whitespace@252..257 "\n    "
      STMT_LET@257..309
        LetKeyword@257..260 "let"
        Whitespace@260..261 " "
        PATTERN_WILDCARD@261..263
          WildcardKeyword@261..262 "_"
          Whitespace@262..263 " "
        Eq@263..264 "="
        Whitespace@264..265 " "
        EXPR_CALL@265..303
          EXPR_IDENT@265..272
            PATH@265..272
              Ident@265..272 "println"
          ARG_LIST@272..303
            LParen@272..273 "("
            ARG@273..302
              EXPR_BINARY@273..302
                EXPR_IDENT@273..279
                  PATH@273..279
                    Ident@273..278 "label"
                    Whitespace@278..279 " "
                Plus@279..280 "+"
                Whitespace@280..281 " "
                EXPR_CALL@281..302
                  EXPR_IDENT@281..295
                    PATH@281..295
                      Ident@281..295 "bool_to_string"
                  ARG_LIST@295..302
                    LParen@295..296 "("
                    ARG@296..301
                      EXPR_IDENT@296..301
                        PATH@296..301
                          Ident@296..301 "value"
                    RParen@301..302 ")"
            RParen@302..303 ")"
        Semi@303..304 ";"
        Whitespace@304..309 "\n    "
      EXPR_UNIT@309..312
        LParen@309..310 "("
        RParen@310..311 ")"
        Whitespace@311..312 "\n"
      RBrace@312..313 "}"
      Whitespace@313..315 "\n\n"
  FN@315..854
    FnKeyword@315..317 "fn"
    Whitespace@317..318 " "
    Ident@318..322 "main"
    PARAM_LIST@322..325
      LParen@322..323 "("
      RParen@323..324 ")"
      Whitespace@324..325 " "
    BLOCK@325..854
      LBrace@325..326 "{"
      Whitespace@326..331 "\n    "
      STMT_LET@331..354
        LetKeyword@331..334 "let"
        Whitespace@334..335 " "
        PATTERN_VARIABLE@335..337
          Ident@335..336 "a"
          Whitespace@336..337 " "
        Eq@337..338 "="
        Whitespace@338..339 " "
        EXPR_CALL@339..348
          EXPR_IDENT@339..346
            PATH@339..346
              Ident@339..346 "a_value"
          ARG_LIST@346..348
            LParen@346..347 "("
            RParen@347..348 ")"
        Semi@348..349 ";"
        Whitespace@349..354 "\n    "
      STMT_LET@354..377
        LetKeyword@354..357 "let"
        Whitespace@357..358 " "
        PATTERN_VARIABLE@358..360
          Ident@358..359 "b"
          Whitespace@359..360 " "
        Eq@360..361 "="
        Whitespace@361..362 " "
        EXPR_CALL@362..371
          EXPR_IDENT@362..369
            PATH@362..369
              Ident@362..369 "b_value"
          ARG_LIST@369..371
            LParen@369..370 "("
            RParen@370..371 ")"
        Semi@371..372 ";"
        Whitespace@372..377 "\n    "
      STMT_LET@377..401
        LetKeyword@377..380 "let"
        Whitespace@380..381 " "
        PATTERN_VARIABLE@381..383
          Ident@381..382 "c"
          Whitespace@382..383 " "
        Eq@383..384 "="
        Whitespace@384..385 " "
        EXPR_CALL@385..394
          EXPR_IDENT@385..392
            PATH@385..392
              Ident@385..392 "c_value"
          ARG_LIST@392..394
            LParen@392..393 "("
            RParen@393..394 ")"
        Semi@394..395 ";"
        Whitespace@395..401 "\n\n    "
      STMT_LET@401..422
        LetKeyword@401..404 "let"
        Whitespace@404..405 " "
        PATTERN_VARIABLE@405..409
          Ident@405..408 "sum"
          Whitespace@408..409 " "
        Eq@409..410 "="
        Whitespace@410..411 " "
        EXPR_BINARY@411..416
          EXPR_IDENT@411..413
            PATH@411..413
              Ident@411..412 "a"
              Whitespace@412..413 " "
          Plus@413..414 "+"
          Whitespace@414..415 " "
          EXPR_IDENT@415..416
            PATH@415..416
              Ident@415..416 "b"
        Semi@416..417 ";"
        Whitespace@417..422 "\n    "
      STMT_LET@422..444
        LetKeyword@422..425 "let"
        Whitespace@425..426 " "
        PATTERN_VARIABLE@426..431
          Ident@426..430 "diff"
          Whitespace@430..431 " "
        Eq@431..432 "="
        Whitespace@432..433 " "
        EXPR_BINARY@433..438
          EXPR_IDENT@433..435
            PATH@433..435
              Ident@433..434 "a"
              Whitespace@434..435 " "
          Minus@435..436 "-"
          Whitespace@436..437 " "
          EXPR_IDENT@437..438
            PATH@437..438
              Ident@437..438 "c"
        Semi@438..439 ";"
        Whitespace@439..444 "\n    "
      STMT_LET@444..466
        LetKeyword@444..447 "let"
        Whitespace@447..448 " "
        PATTERN_VARIABLE@448..453
          Ident@448..452 "prod"
          Whitespace@452..453 " "
        Eq@453..454 "="
        Whitespace@454..455 " "
        EXPR_BINARY@455..460
          EXPR_IDENT@455..457
            PATH@455..457
              Ident@455..456 "b"
              Whitespace@456..457 " "
          Star@457..458 "*"
          Whitespace@458..459 " "
          EXPR_IDENT@459..460
            PATH@459..460
              Ident@459..460 "c"
        Semi@460..461 ";"
        Whitespace@461..466 "\n    "
      STMT_LET@466..488
        LetKeyword@466..469 "let"
        Whitespace@469..470 " "
        PATTERN_VARIABLE@470..475
          Ident@470..474 "quot"
          Whitespace@474..475 " "
        Eq@475..476 "="
        Whitespace@476..477 " "
        EXPR_BINARY@477..482
          EXPR_IDENT@477..479
            PATH@477..479
              Ident@477..478 "a"
              Whitespace@478..479 " "
          Slash@479..480 "/"
          Whitespace@480..481 " "
          EXPR_IDENT@481..482
            PATH@481..482
              Ident@481..482 "c"
        Semi@482..483 ";"
        Whitespace@483..488 "\n    "
      STMT_LET@488..506
        LetKeyword@488..491 "let"
        Whitespace@491..492 " "
        PATTERN_VARIABLE@492..496
          Ident@492..495 "neg"
          Whitespace@495..496 " "
        Eq@496..497 "="
        Whitespace@497..498 " "
        EXPR_PREFIX@498..500
          Minus@498..499 "-"
          EXPR_IDENT@499..500
            PATH@499..500
              Ident@499..500 "b"
        Semi@500..501 ";"
        Whitespace@501..506 "\n    "
      STMT_LET@506..529
        LetKeyword@506..509 "let"
        Whitespace@509..510 " "
        PATTERN_VARIABLE@510..515
          Ident@510..514 "less"
          Whitespace@514..515 " "
        Eq@515..516 "="
        Whitespace@516..517 " "
        EXPR_BINARY@517..522
          EXPR_IDENT@517..519
            PATH@517..519
              Ident@517..518 "b"
              Whitespace@518..519 " "
          Less@519..520 "<"
          Whitespace@520..521 " "
          EXPR_IDENT@521..522
            PATH@521..522
              Ident@521..522 "a"
        Semi@522..523 ";"
        Whitespace@523..529 "\n\n    "
      STMT_LET@529..561
        LetKeyword@529..532 "let"
        Whitespace@532..533 " "
        PATTERN_WILDCARD@533..535
          WildcardKeyword@533..534 "_"
          Whitespace@534..535 " "
        Eq@535..536 "="
        Whitespace@536..537 " "
        EXPR_CALL@537..555
          EXPR_IDENT@537..546
            PATH@537..546
              Ident@537..546 "show_int8"
          ARG_LIST@546..555
            LParen@546..547 "("
            ARG@547..553
              EXPR_STR@547..551
                Str@547..551 "\"a=\""
              Comma@551..552 ","
              Whitespace@552..553 " "
            ARG@553..554
              EXPR_IDENT@553..554
                PATH@553..554
                  Ident@553..554 "a"
            RParen@554..555 ")"
        Semi@555..556 ";"
        Whitespace@556..561 "\n    "
      STMT_LET@561..593
        LetKeyword@561..564 "let"
        Whitespace@564..565 " "
        PATTERN_WILDCARD@565..567
          WildcardKeyword@565..566 "_"
          Whitespace@566..567 " "
        Eq@567..568 "="
        Whitespace@568..569 " "
        EXPR_CALL@569..587
          EXPR_IDENT@569..578
            PATH@569..578
              Ident@569..578 "show_int8"
          ARG_LIST@578..587
            LParen@578..579 "("
            ARG@579..585
              EXPR_STR@579..583
                Str@579..583 "\"b=\""
              Comma@583..584 ","
              Whitespace@584..585 " "
            ARG@585..586
              EXPR_IDENT@585..586
                PATH@585..586
                  Ident@585..586 "b"
            RParen@586..587 ")"
        Semi@587..588 ";"
        Whitespace@588..593 "\n    "
      STMT_LET@593..625
        LetKeyword@593..596 "let"
        Whitespace@596..597 " "
        PATTERN_WILDCARD@597..599
          WildcardKeyword@597..598 "_"
          Whitespace@598..599 " "
        Eq@599..600 "="
        Whitespace@600..601 " "
        EXPR_CALL@601..619
          EXPR_IDENT@601..610
            PATH@601..610
              Ident@601..610 "show_int8"
          ARG_LIST@610..619
            LParen@610..611 "("
            ARG@611..617
              EXPR_STR@611..615
                Str@611..615 "\"c=\""
              Comma@615..616 ","
              Whitespace@616..617 " "
            ARG@617..618
              EXPR_IDENT@617..618
                PATH@617..618
                  Ident@617..618 "c"
            RParen@618..619 ")"
        Semi@619..620 ";"
        Whitespace@620..625 "\n    "
      STMT_LET@625..661
        LetKeyword@625..628 "let"
        Whitespace@628..629 " "
        PATTERN_WILDCARD@629..631
          WildcardKeyword@629..630 "_"
          Whitespace@630..631 " "
        Eq@631..632 "="
        Whitespace@632..633 " "
        EXPR_CALL@633..655
          EXPR_IDENT@633..642
            PATH@633..642
              Ident@633..642 "show_int8"
          ARG_LIST@642..655
            LParen@642..643 "("
            ARG@643..651
              EXPR_STR@643..649
                Str@643..649 "\"sum=\""
              Comma@649..650 ","
              Whitespace@650..651 " "
            ARG@651..654
              EXPR_IDENT@651..654
                PATH@651..654
                  Ident@651..654 "sum"
            RParen@654..655 ")"
        Semi@655..656 ";"
        Whitespace@656..661 "\n    "
      STMT_LET@661..699
        LetKeyword@661..664 "let"
        Whitespace@664..665 " "
        PATTERN_WILDCARD@665..667
          WildcardKeyword@665..666 "_"
          Whitespace@666..667 " "
        Eq@667..668 "="
        Whitespace@668..669 " "
        EXPR_CALL@669..693
          EXPR_IDENT@669..678
            PATH@669..678
              Ident@669..678 "show_int8"
          ARG_LIST@678..693
            LParen@678..679 "("
            ARG@679..688
              EXPR_STR@679..686
                Str@679..686 "\"diff=\""
              Comma@686..687 ","
              Whitespace@687..688 " "
            ARG@688..692
              EXPR_IDENT@688..692
                PATH@688..692
                  Ident@688..692 "diff"
            RParen@692..693 ")"
        Semi@693..694 ";"
        Whitespace@694..699 "\n    "
      STMT_LET@699..737
        LetKeyword@699..702 "let"
        Whitespace@702..703 " "
        PATTERN_WILDCARD@703..705
          WildcardKeyword@703..704 "_"
          Whitespace@704..705 " "
        Eq@705..706 "="
        Whitespace@706..707 " "
        EXPR_CALL@707..731
          EXPR_IDENT@707..716
            PATH@707..716
              Ident@707..716 "show_int8"
          ARG_LIST@716..731
            LParen@716..717 "("
            ARG@717..726
              EXPR_STR@717..724
                Str@717..724 "\"prod=\""
              Comma@724..725 ","
              Whitespace@725..726 " "
            ARG@726..730
              EXPR_IDENT@726..730
                PATH@726..730
                  Ident@726..730 "prod"
            RParen@730..731 ")"
        Semi@731..732 ";"
        Whitespace@732..737 "\n    "
      STMT_LET@737..775
        LetKeyword@737..740 "let"
        Whitespace@740..741 " "
        PATTERN_WILDCARD@741..743
          WildcardKeyword@741..742 "_"
          Whitespace@742..743 " "
        Eq@743..744 "="
        Whitespace@744..745 " "
        EXPR_CALL@745..769
          EXPR_IDENT@745..754
            PATH@745..754
              Ident@745..754 "show_int8"
          ARG_LIST@754..769
            LParen@754..755 "("
            ARG@755..764
              EXPR_STR@755..762
                Str@755..762 "\"quot=\""
              Comma@762..763 ","
              Whitespace@763..764 " "
            ARG@764..768
              EXPR_IDENT@764..768
                PATH@764..768
                  Ident@764..768 "quot"
            RParen@768..769 ")"
        Semi@769..770 ";"
        Whitespace@770..775 "\n    "
      STMT_LET@775..811
        LetKeyword@775..778 "let"
        Whitespace@778..779 " "
        PATTERN_WILDCARD@779..781
          WildcardKeyword@779..780 "_"
          Whitespace@780..781 " "
        Eq@781..782 "="
        Whitespace@782..783 " "
        EXPR_CALL@783..805
          EXPR_IDENT@783..792
            PATH@783..792
              Ident@783..792 "show_int8"
          ARG_LIST@792..805
            LParen@792..793 "("
            ARG@793..801
              EXPR_STR@793..799
                Str@793..799 "\"neg=\""
              Comma@799..800 ","
              Whitespace@800..801 " "
            ARG@801..804
              EXPR_IDENT@801..804
                PATH@801..804
                  Ident@801..804 "neg"
            RParen@804..805 ")"
        Semi@805..806 ";"
        Whitespace@806..811 "\n    "
      STMT_LET@811..849
        LetKeyword@811..814 "let"
        Whitespace@814..815 " "
        PATTERN_WILDCARD@815..817
          WildcardKeyword@815..816 "_"
          Whitespace@816..817 " "
        Eq@817..818 "="
        Whitespace@818..819 " "
        EXPR_CALL@819..842
          EXPR_IDENT@819..828
            PATH@819..828
              Ident@819..828 "show_bool"
          ARG_LIST@828..842
            LParen@828..829 "("
            ARG@829..837
              EXPR_STR@829..835
                Str@829..835 "\"b<a=\""
              Comma@835..836 ","
              Whitespace@836..837 " "
            ARG@837..841
              EXPR_IDENT@837..841
                PATH@837..841
                  Ident@837..841 "less"
            RParen@841..842 ")"
        Semi@842..843 ";"
        Whitespace@843..849 "\n\n    "
      EXPR_UNIT@849..852
        LParen@849..850 "("
        RParen@850..851 ")"
        Whitespace@851..852 "\n"
      RBrace@852..853 "}"
      Whitespace@853..854 "\n"