FILE@0..872
  FN@0..33
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "a_value"
    PARAM_LIST@10..13
      LParen@10..11 "("
      RParen@11..12 ")"
      Whitespace@12..13 " "
    Arrow@13..15 "->"
    Whitespace@15..16 " "
    TYPE_INT8@16..21
      Int8Keyword@16..20 "int8"
      Whitespace@20..21 " "
    BLOCK@21..33
      LBrace@21..22 "{"
      Whitespace@22..27 "\n    "
      EXPR_INT@27..30
        Int@27..29 "90"
        Whitespace@29..30 "\n"
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  FN@33..67
    FnKeyword@33..35 "fn"
    Whitespace@35..36 " "
    Ident@36..43 "b_value"
    PARAM_LIST@43..46
      LParen@43..44 "("
      RParen@44..45 ")"
      Whitespace@45..46 " "
    Arrow@46..48 "->"
    Whitespace@48..49 " "
    TYPE_INT8@49..54
      Int8Keyword@49..53 "int8"
      Whitespace@53..54 " "
    BLOCK@54..67
      LBrace@54..55 "{"
      Whitespace@55..60 "\n    "
      EXPR_PREFIX@60..64
        Minus@60..61 "-"
        EXPR_INT@61..64
          Int@61..63 "20"
          Whitespace@63..64 "\n"
      RBrace@64..65 "}"
      Whitespace@65..67 "\n\n"
  FN@67..99
    FnKeyword@67..69 "fn"
    Whitespace@69..70 " "
    Ident@70..77 "c_value"
    PARAM_LIST@77..80
      LParen@77..78 "("
      RParen@78..79 ")"
      Whitespace@79..80 " "
    Arrow@80..82 "->"
    Whitespace@82..83 " "
    TYPE_INT8@83..88
      Int8Keyword@83..87 "int8"
      Whitespace@87..88 " "
    BLOCK@88..99
      LBrace@88..89 "{"
      Whitespace@89..94 "\n    "
      EXPR_INT@94..96
        Int@94..95 "3"
        Whitespace@95..96 "\n"
      RBrace@96..97 "}"
      Whitespace@97..99 "\n\n"
  FN@99..211
    FnKeyword@99..101 "fn"
    Whitespace@101..102 " "
    Ident@102..111 "show_int8"
    PARAM_LIST@111..140
      LParen@111..112 "("
      PARAM@112..127
        Ident@112..117 "label"
        Colon@117..118 ":"
        Whitespace@118..119 " "
        TYPE_STRING@119..125
          StringKeyword@119..125 "string"
        Comma@125..126 ","
        Whitespace@126..127 " "
      PARAM@127..138
        Ident@127..132 "value"
        Colon@132..133 ":"
        Whitespace@133..134 " "
        TYPE_INT8@134..138
          Int8Keyword@134..138 "int8"
      RParen@138..139 ")"
      Whitespace@139..140 " "
    BLOCK@140..211
      LBrace@140..141 "{"
      Whitespace@141..146 "\n    "
      STMT_LET@146..205
        LetKeyword@146..149 "let"
        Whitespace@149..150 " "
        PATTERN_WILDCARD@150..152
          WildcardKeyword@150..151 "_"
          Whitespace@151..152 " "
        Eq@152..153 "="
        Whitespace@153..154 " "
        EXPR_CALL@154..199
          EXPR_IDENT@154..168
            PATH@154..168
              Ident@154..168 "string_println"
          ARG_LIST@168..199
            LParen@168..169 "("
            ARG@169..198
              EXPR_BINARY@169..198
                EXPR_IDENT@169..175
                  PATH@169..175
                    Ident@169..174 "label"
                    Whitespace@174..175 " "
                Plus@175..176 "+"
                Whitespace@176..177 " "
                EXPR_CALL@177..198
                  EXPR_IDENT@177..191
                    PATH@177..191
                      Ident@177..191 "int8_to_string"
                  ARG_LIST@191..198
                    LParen@191..192 "("
                    ARG@192..197
                      EXPR_IDENT@192..197
                        PATH@192..197
                          Ident@192..197 "value"
                    RParen@197..198 ")"
            RParen@198..199 ")"
        Semi@199..200 ";"
        Whitespace@200..205 "\n    "
      EXPR_UNIT@205..208
        LParen@205..206 "("
        RParen@206..207 ")"
        Whitespace@207..208 "\n"
      RBrace@208..209 "}"
      Whitespace@209..211 "\n\n"
  FN@211..323
    FnKeyword@211..213 "fn"
    Whitespace@213..214 " "
    Ident@214..223 "show_bool"
    PARAM_LIST@223..252
      LParen@223..224 "("
      PARAM@224..239
        Ident@224..229 "label"
        Colon@229..230 ":"
        Whitespace@230..231 " "
        TYPE_STRING@231..237
          StringKeyword@231..237 "string"
        Comma@237..238 ","
        Whitespace@238..239 " "
      PARAM@239..250
        Ident@239..244 "value"
        Colon@244..245 ":"
        Whitespace@245..246 " "
        TYPE_BOOL@246..250
          BoolKeyword@246..250 "bool"
      RParen@250..251 ")"
      Whitespace@251..252 " "
    BLOCK@252..323
      LBrace@252..253 "{"
      Whitespace@253..258 "\n    "
      STMT_LET@258..317
        LetKeyword@258..261 "let"
        Whitespace@261..262 " "
        PATTERN_WILDCARD@262..264
          WildcardKeyword@262..263 "_"
          Whitespace@263..264 " "
        Eq@264..265 "="
        Whitespace@265..266 " "
        EXPR_CALL@266..311
          EXPR_IDENT@266..280
            PATH@266..280
              Ident@266..280 "string_println"
          ARG_LIST@280..311
            LParen@280..281 "("
            ARG@281..310
              EXPR_BINARY@281..310
                EXPR_IDENT@281..287
                  PATH@281..287
                    Ident@281..286 "label"
                    Whitespace@286..287 " "
                Plus@287..288 "+"
                Whitespace@288..289 " "
                EXPR_CALL@289..310
                  EXPR_IDENT@289..303
                    PATH@289..303
                      Ident@289..303 "bool_to_string"
                  ARG_LIST@303..310
                    LParen@303..304 "("
                    ARG@304..309
                      EXPR_IDENT@304..309
                        PATH@304..309
                          Ident@304..309 "value"
                    RParen@309..310 ")"
            RParen@310..311 ")"
        Semi@311..312 ";"
        Whitespace@312..317 "\n    "
      EXPR_UNIT@317..320
        LParen@317..318 "("
        RParen@318..319 ")"
        Whitespace@319..320 "\n"
      RBrace@320..321 "}"
      Whitespace@321..323 "\n\n"
  FN@323..872
    FnKeyword@323..325 "fn"
    Whitespace@325..326 " "
    Ident@326..330 "main"
    PARAM_LIST@330..333
      LParen@330..331 "("
      RParen@331..332 ")"
      Whitespace@332..333 " "
    BLOCK@333..872
      LBrace@333..334 "{"
      Whitespace@334..339 "\n    "
      STMT_LET@339..362
        LetKeyword@339..342 "let"
        Whitespace@342..343 " "
        PATTERN_VARIABLE@343..345
          Ident@343..344 "a"
          Whitespace@344..345 " "
        Eq@345..346 "="
        Whitespace@346..347 " "
        EXPR_CALL@347..356
          EXPR_IDENT@347..354
            PATH@347..354
              Ident@347..354 "a_value"
          ARG_LIST@354..356
            LParen@354..355 "("
            RParen@355..356 ")"
        Semi@356..357 ";"
        Whitespace@357..362 "\n    "
      STMT_LET@362..385
        LetKeyword@362..365 "let"
        Whitespace@365..366 " "
        PATTERN_VARIABLE@366..368
          Ident@366..367 "b"
          Whitespace@367..368 " "
        Eq@368..369 "="
        Whitespace@369..370 " "
        EXPR_CALL@370..379
          EXPR_IDENT@370..377
            PATH@370..377
              Ident@370..377 "b_value"
          ARG_LIST@377..379
            LParen@377..378 "("
            RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..385 "\n    "
      STMT_LET@385..409
        LetKeyword@385..388 "let"
        Whitespace@388..389 " "
        PATTERN_VARIABLE@389..391
          Ident@389..390 "c"
          Whitespace@390..391 " "
        Eq@391..392 "="
        Whitespace@392..393 " "
        EXPR_CALL@393..402
          EXPR_IDENT@393..400
            PATH@393..400
              Ident@393..400 "c_value"
          ARG_LIST@400..402
            LParen@400..401 "("
            RParen@401..402 ")"
        Semi@402..403 ";"
        Whitespace@403..409 "\n\n    "
      STMT_LET@409..430
        LetKeyword@409..412 "let"
        Whitespace@412..413 " "
        PATTERN_VARIABLE@413..417
          Ident@413..416 "sum"
          Whitespace@416..417 " "
        Eq@417..418 "="
        Whitespace@418..419 " "
        EXPR_BINARY@419..424
          EXPR_IDENT@419..421
            PATH@419..421
              Ident@419..420 "a"
              Whitespace@420..421 " "
          Plus@421..422 "+"
          Whitespace@422..423 " "
          EXPR_IDENT@423..424
            PATH@423..424
              Ident@423..424 "b"
        Semi@424..425 ";"
        Whitespace@425..430 "\n    "
      STMT_LET@430..452
        LetKeyword@430..433 "let"
        Whitespace@433..434 " "
        PATTERN_VARIABLE@434..439
          Ident@434..438 "diff"
          Whitespace@438..439 " "
        Eq@439..440 "="
        Whitespace@440..441 " "
        EXPR_BINARY@441..446
          EXPR_IDENT@441..443
            PATH@441..443
              Ident@441..442 "a"
              Whitespace@442..443 " "
          Minus@443..444 "-"
          Whitespace@444..445 " "
          EXPR_IDENT@445..446
            PATH@445..446
              Ident@445..446 "c"
        Semi@446..447 ";"
        Whitespace@447..452 "\n    "
      STMT_LET@452..474
        LetKeyword@452..455 "let"
        Whitespace@455..456 " "
        PATTERN_VARIABLE@456..461
          Ident@456..460 "prod"
          Whitespace@460..461 " "
        Eq@461..462 "="
        Whitespace@462..463 " "
        EXPR_BINARY@463..468
          EXPR_IDENT@463..465
            PATH@463..465
              Ident@463..464 "b"
              Whitespace@464..465 " "
          Star@465..466 "*"
          Whitespace@466..467 " "
          EXPR_IDENT@467..468
            PATH@467..468
              Ident@467..468 "c"
        Semi@468..469 ";"
        Whitespace@469..474 "\n    "
      STMT_LET@474..496
        LetKeyword@474..477 "let"
        Whitespace@477..478 " "
        PATTERN_VARIABLE@478..483
          Ident@478..482 "quot"
          Whitespace@482..483 " "
        Eq@483..484 "="
        Whitespace@484..485 " "
        EXPR_BINARY@485..490
          EXPR_IDENT@485..487
            PATH@485..487
              Ident@485..486 "a"
              Whitespace@486..487 " "
          Slash@487..488 "/"
          Whitespace@488..489 " "
          EXPR_IDENT@489..490
            PATH@489..490
              Ident@489..490 "c"
        Semi@490..491 ";"
        Whitespace@491..496 "\n    "
      STMT_LET@496..514
        LetKeyword@496..499 "let"
        Whitespace@499..500 " "
        PATTERN_VARIABLE@500..504
          Ident@500..503 "neg"
          Whitespace@503..504 " "
        Eq@504..505 "="
        Whitespace@505..506 " "
        EXPR_PREFIX@506..508
          Minus@506..507 "-"
          EXPR_IDENT@507..508
            PATH@507..508
              Ident@507..508 "b"
        Semi@508..509 ";"
        Whitespace@509..514 "\n    "
      STMT_LET@514..547
        LetKeyword@514..517 "let"
        Whitespace@517..518 " "
        PATTERN_VARIABLE@518..523
          Ident@518..522 "less"
          Whitespace@522..523 " "
        Eq@523..524 "="
        Whitespace@524..525 " "
        EXPR_CALL@525..540
          EXPR_IDENT@525..534
            PATH@525..534
              Ident@525..534 "int8_less"
          ARG_LIST@534..540
            LParen@534..535 "("
            ARG@535..538
              EXPR_IDENT@535..536
                PATH@535..536
                  Ident@535..536 "b"
              Comma@536..537 ","
              Whitespace@537..538 " "
            ARG@538..539
              EXPR_IDENT@538..539
                PATH@538..539
                  Ident@538..539 "a"
            RParen@539..540 ")"
        Semi@540..541 ";"
        Whitespace@541..547 "\n\n    "
      STMT_LET@547..579
        LetKeyword@547..550 "let"
        Whitespace@550..551 " "
        PATTERN_WILDCARD@551..553
          WildcardKeyword@551..552 "_"
          Whitespace@552..553 " "
        Eq@553..554 "="
        Whitespace@554..555 " "
        EXPR_CALL@555..573
          EXPR_IDENT@555..564
            PATH@555..564
              Ident@555..564 "show_int8"
          ARG_LIST@564..573
            LParen@564..565 "("
            ARG@565..571
              EXPR_STR@565..569
                Str@565..569 "\"a=\""
              Comma@569..570 ","
              Whitespace@570..571 " "
            ARG@571..572
              EXPR_IDENT@571..572
                PATH@571..572
                  Ident@571..572 "a"
            RParen@572..573 ")"
        Semi@573..574 ";"
        Whitespace@574..579 "\n    "
      STMT_LET@579..611
        LetKeyword@579..582 "let"
        Whitespace@582..583 " "
        PATTERN_WILDCARD@583..585
          WildcardKeyword@583..584 "_"
          Whitespace@584..585 " "
        Eq@585..586 "="
        Whitespace@586..587 " "
        EXPR_CALL@587..605
          EXPR_IDENT@587..596
            PATH@587..596
              Ident@587..596 "show_int8"
          ARG_LIST@596..605
            LParen@596..597 "("
            ARG@597..603
              EXPR_STR@597..601
                Str@597..601 "\"b=\""
              Comma@601..602 ","
              Whitespace@602..603 " "
            ARG@603..604
              EXPR_IDENT@603..604
                PATH@603..604
                  Ident@603..604 "b"
            RParen@604..605 ")"
        Semi@605..606 ";"
        Whitespace@606..611 "\n    "
      STMT_LET@611..643
        LetKeyword@611..614 "let"
        Whitespace@614..615 " "
        PATTERN_WILDCARD@615..617
          WildcardKeyword@615..616 "_"
          Whitespace@616..617 " "
        Eq@617..618 "="
        Whitespace@618..619 " "
        EXPR_CALL@619..637
          EXPR_IDENT@619..628
            PATH@619..628
              Ident@619..628 "show_int8"
          ARG_LIST@628..637
            LParen@628..629 "("
            ARG@629..635
              EXPR_STR@629..633
                Str@629..633 "\"c=\""
              Comma@633..634 ","
              Whitespace@634..635 " "
            ARG@635..636
              EXPR_IDENT@635..636
                PATH@635..636
                  Ident@635..636 "c"
            RParen@636..637 ")"
        Semi@637..638 ";"
        Whitespace@638..643 "\n    "
      STMT_LET@643..679
        LetKeyword@643..646 "let"
        Whitespace@646..647 " "
        PATTERN_WILDCARD@647..649
          WildcardKeyword@647..648 "_"
          Whitespace@648..649 " "
        Eq@649..650 "="
        Whitespace@650..651 " "
        EXPR_CALL@651..673
          EXPR_IDENT@651..660
            PATH@651..660
              Ident@651..660 "show_int8"
          ARG_LIST@660..673
            LParen@660..661 "("
            ARG@661..669
              EXPR_STR@661..667
                Str@661..667 "\"sum=\""
              Comma@667..668 ","
              Whitespace@668..669 " "
            ARG@669..672
              EXPR_IDENT@669..672
                PATH@669..672
                  Ident@669..672 "sum"
            RParen@672..673 ")"
        Semi@673..674 ";"
        Whitespace@674..679 "\n    "
      STMT_LET@679..717
        LetKeyword@679..682 "let"
        Whitespace@682..683 " "
        PATTERN_WILDCARD@683..685
          WildcardKeyword@683..684 "_"
          Whitespace@684..685 " "
        Eq@685..686 "="
        Whitespace@686..687 " "
        EXPR_CALL@687..711
          EXPR_IDENT@687..696
            PATH@687..696
              Ident@687..696 "show_int8"
          ARG_LIST@696..711
            LParen@696..697 "("
            ARG@697..706
              EXPR_STR@697..704
                Str@697..704 "\"diff=\""
              Comma@704..705 ","
              Whitespace@705..706 " "
            ARG@706..710
              EXPR_IDENT@706..710
                PATH@706..710
                  Ident@706..710 "diff"
            RParen@710..711 ")"
        Semi@711..712 ";"
        Whitespace@712..717 "\n    "
      STMT_LET@717..755
        LetKeyword@717..720 "let"
        Whitespace@720..721 " "
        PATTERN_WILDCARD@721..723
          WildcardKeyword@721..722 "_"
          Whitespace@722..723 " "
        Eq@723..724 "="
        Whitespace@724..725 " "
        EXPR_CALL@725..749
          EXPR_IDENT@725..734
            PATH@725..734
              Ident@725..734 "show_int8"
          ARG_LIST@734..749
            LParen@734..735 "("
            ARG@735..744
              EXPR_STR@735..742
                Str@735..742 "\"prod=\""
              Comma@742..743 ","
              Whitespace@743..744 " "
            ARG@744..748
              EXPR_IDENT@744..748
                PATH@744..748
                  Ident@744..748 "prod"
            RParen@748..749 ")"
        Semi@749..750 ";"
        Whitespace@750..755 "\n    "
      STMT_LET@755..793
        LetKeyword@755..758 "let"
        Whitespace@758..759 " "
        PATTERN_WILDCARD@759..761
          WildcardKeyword@759..760 "_"
          Whitespace@760..761 " "
        Eq@761..762 "="
        Whitespace@762..763 " "
        EXPR_CALL@763..787
          EXPR_IDENT@763..772
            PATH@763..772
              Ident@763..772 "show_int8"
          ARG_LIST@772..787
            LParen@772..773 "("
            ARG@773..782
              EXPR_STR@773..780
                Str@773..780 "\"quot=\""
              Comma@780..781 ","
              Whitespace@781..782 " "
            ARG@782..786
              EXPR_IDENT@782..786
                PATH@782..786
                  Ident@782..786 "quot"
            RParen@786..787 ")"
        Semi@787..788 ";"
        Whitespace@788..793 "\n    "
      STMT_LET@793..829
        LetKeyword@793..796 "let"
        Whitespace@796..797 " "
        PATTERN_WILDCARD@797..799
          WildcardKeyword@797..798 "_"
          Whitespace@798..799 " "
        Eq@799..800 "="
        Whitespace@800..801 " "
        EXPR_CALL@801..823
          EXPR_IDENT@801..810
            PATH@801..810
              Ident@801..810 "show_int8"
          ARG_LIST@810..823
            LParen@810..811 "("
            ARG@811..819
              EXPR_STR@811..817
                Str@811..817 "\"neg=\""
              Comma@817..818 ","
              Whitespace@818..819 " "
            ARG@819..822
              EXPR_IDENT@819..822
                PATH@819..822
                  Ident@819..822 "neg"
            RParen@822..823 ")"
        Semi@823..824 ";"
        Whitespace@824..829 "\n    "
      STMT_LET@829..867
        LetKeyword@829..832 "let"
        Whitespace@832..833 " "
        PATTERN_WILDCARD@833..835
          WildcardKeyword@833..834 "_"
          Whitespace@834..835 " "
        Eq@835..836 "="
        Whitespace@836..837 " "
        EXPR_CALL@837..860
          EXPR_IDENT@837..846
            PATH@837..846
              Ident@837..846 "show_bool"
          ARG_LIST@846..860
            LParen@846..847 "("
            ARG@847..855
              EXPR_STR@847..853
                Str@847..853 "\"b<a=\""
              Comma@853..854 ","
              Whitespace@854..855 " "
            ARG@855..859
              EXPR_IDENT@855..859
                PATH@855..859
                  Ident@855..859 "less"
            RParen@859..860 ")"
        Semi@860..861 ";"
        Whitespace@861..867 "\n\n    "
      EXPR_UNIT@867..870
        LParen@867..868 "("
        RParen@868..869 ")"
        Whitespace@869..870 "\n"
      RBrace@870..871 "}"
      Whitespace@871..872 "\n"