FILE@0..846
  FN@0..35
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "a_value"
    PARAM_LIST@10..13
      LParen@10..11 "("
      RParen@11..12 ")"
      Whitespace@12..13 " "
    Arrow@13..15 "->"
    Whitespace@15..16 " "
    TYPE_INT8@16..21
      Int8Keyword@16..20 "int8"
      Whitespace@20..21 " "
    BLOCK@21..35
      LBrace@21..22 "{"
      Whitespace@22..27 "\n    "
      EXPR_INT8@27..32
        Int8Lit@27..31 "90i8"
        Whitespace@31..32 "\n"
      RBrace@32..33 "}"
      Whitespace@33..35 "\n\n"
  FN@35..71
    FnKeyword@35..37 "fn"
    Whitespace@37..38 " "
    Ident@38..45 "b_value"
    PARAM_LIST@45..48
      LParen@45..46 "("
      RParen@46..47 ")"
      Whitespace@47..48 " "
    Arrow@48..50 "->"
    Whitespace@50..51 " "
    TYPE_INT8@51..56
      Int8Keyword@51..55 "int8"
      Whitespace@55..56 " "
    BLOCK@56..71
      LBrace@56..57 "{"
      Whitespace@57..62 "\n    "
      EXPR_PREFIX@62..68
        Minus@62..63 "-"
        EXPR_INT8@63..68
          Int8Lit@63..67 "20i8"
          Whitespace@67..68 "\n"
      RBrace@68..69 "}"
      Whitespace@69..71 "\n\n"
  FN@71..105
    FnKeyword@71..73 "fn"
    Whitespace@73..74 " "
    Ident@74..81 "c_value"
    PARAM_LIST@81..84
      LParen@81..82 "("
      RParen@82..83 ")"
      Whitespace@83..84 " "
    Arrow@84..86 "->"
    Whitespace@86..87 " "
    TYPE_INT8@87..92
      Int8Keyword@87..91 "int8"
      Whitespace@91..92 " "
    BLOCK@92..105
      LBrace@92..93 "{"
      Whitespace@93..98 "\n    "
      EXPR_INT8@98..102
        Int8Lit@98..101 "3i8"
        Whitespace@101..102 "\n"
      RBrace@102..103 "}"
      Whitespace@103..105 "\n\n"
  FN@105..206
    FnKeyword@105..107 "fn"
    Whitespace@107..108 " "
    Ident@108..117 "show_int8"
    PARAM_LIST@117..146
      LParen@117..118 "("
      PARAM@118..133
        Ident@118..123 "label"
        Colon@123..124 ":"
        Whitespace@124..125 " "
        TYPE_STRING@125..131
          StringKeyword@125..131 "string"
        Comma@131..132 ","
        Whitespace@132..133 " "
      PARAM@133..144
        Ident@133..138 "value"
        Colon@138..139 ":"
        Whitespace@139..140 " "
        TYPE_INT8@140..144
          Int8Keyword@140..144 "int8"
      RParen@144..145 ")"
      Whitespace@145..146 " "
    BLOCK@146..206
      LBrace@146..147 "{"
      Whitespace@147..152 "\n    "
      STMT_LET@152..200
        LetKeyword@152..155 "let"
        Whitespace@155..156 " "
        PATTERN_WILDCARD@156..158
          WildcardKeyword@156..157 "_"
          Whitespace@157..158 " "
        Eq@158..159 "="
        Whitespace@159..160 " "
        EXPR_CALL@160..194
          EXPR_IDENT@160..167
            PATH@160..167
              Ident@160..167 "println"
          ARG_LIST@167..194
            LParen@167..168 "("
            ARG@168..193
              EXPR_BINARY@168..193
                EXPR_IDENT@168..174
                  PATH@168..174
                    Ident@168..173 "label"
                    Whitespace@173..174 " "
                Plus@174..175 "+"
                Whitespace@175..176 " "
                EXPR_CALL@176..193
                  EXPR_BINARY@176..191
                    EXPR_IDENT@176..181
                      PATH@176..181
                        Ident@176..181 "value"
                    Dot@181..182 "."
                    EXPR_IDENT@182..191
                      PATH@182..191
                        Ident@182..191 "to_string"
                  ARG_LIST@191..193
                    LParen@191..192 "("
                    RParen@192..193 ")"
            RParen@193..194 ")"
        Semi@194..195 ";"
        Whitespace@195..200 "\n    "
      EXPR_UNIT@200..203
        LParen@200..201 "("
        RParen@201..202 ")"
        Whitespace@202..203 "\n"
      RBrace@203..204 "}"
      Whitespace@204..206 "\n\n"
  FN@206..307
    FnKeyword@206..208 "fn"
    Whitespace@208..209 " "
    Ident@209..218 "show_bool"
    PARAM_LIST@218..247
      LParen@218..219 "("
      PARAM@219..234
        Ident@219..224 "label"
        Colon@224..225 ":"
        Whitespace@225..226 " "
        TYPE_STRING@226..232
          StringKeyword@226..232 "string"
        Comma@232..233 ","
        Whitespace@233..234 " "
      PARAM@234..245
        Ident@234..239 "value"
        Colon@239..240 ":"
        Whitespace@240..241 " "
        TYPE_BOOL@241..245
          BoolKeyword@241..245 "bool"
      RParen@245..246 ")"
      Whitespace@246..247 " "
    BLOCK@247..307
      LBrace@247..248 "{"
      Whitespace@248..253 "\n    "
      STMT_LET@253..301
        LetKeyword@253..256 "let"
        Whitespace@256..257 " "
        PATTERN_WILDCARD@257..259
          WildcardKeyword@257..258 "_"
          Whitespace@258..259 " "
        Eq@259..260 "="
        Whitespace@260..261 " "
        EXPR_CALL@261..295
          EXPR_IDENT@261..268
            PATH@261..268
              Ident@261..268 "println"
          ARG_LIST@268..295
            LParen@268..269 "("
            ARG@269..294
              EXPR_BINARY@269..294
                EXPR_IDENT@269..275
                  PATH@269..275
                    Ident@269..274 "label"
                    Whitespace@274..275 " "
                Plus@275..276 "+"
                Whitespace@276..277 " "
                EXPR_CALL@277..294
                  EXPR_BINARY@277..292
                    EXPR_IDENT@277..282
                      PATH@277..282
                        Ident@277..282 "value"
                    Dot@282..283 "."
                    EXPR_IDENT@283..292
                      PATH@283..292
                        Ident@283..292 "to_string"
                  ARG_LIST@292..294
                    LParen@292..293 "("
                    RParen@293..294 ")"
            RParen@294..295 ")"
        Semi@295..296 ";"
        Whitespace@296..301 "\n    "
      EXPR_UNIT@301..304
        LParen@301..302 "("
        RParen@302..303 ")"
        Whitespace@303..304 "\n"
      RBrace@304..305 "}"
      Whitespace@305..307 "\n\n"
  FN@307..846
    FnKeyword@307..309 "fn"
    Whitespace@309..310 " "
    Ident@310..314 "main"
    PARAM_LIST@314..317
      LParen@314..315 "("
      RParen@315..316 ")"
      Whitespace@316..317 " "
    BLOCK@317..846
      LBrace@317..318 "{"
      Whitespace@318..323 "\n    "
      STMT_LET@323..346
        LetKeyword@323..326 "let"
        Whitespace@326..327 " "
        PATTERN_VARIABLE@327..329
          Ident@327..328 "a"
          Whitespace@328..329 " "
        Eq@329..330 "="
        Whitespace@330..331 " "
        EXPR_CALL@331..340
          EXPR_IDENT@331..338
            PATH@331..338
              Ident@331..338 "a_value"
          ARG_LIST@338..340
            LParen@338..339 "("
            RParen@339..340 ")"
        Semi@340..341 ";"
        Whitespace@341..346 "\n    "
      STMT_LET@346..369
        LetKeyword@346..349 "let"
        Whitespace@349..350 " "
        PATTERN_VARIABLE@350..352
          Ident@350..351 "b"
          Whitespace@351..352 " "
        Eq@352..353 "="
        Whitespace@353..354 " "
        EXPR_CALL@354..363
          EXPR_IDENT@354..361
            PATH@354..361
              Ident@354..361 "b_value"
          ARG_LIST@361..363
            LParen@361..362 "("
            RParen@362..363 ")"
        Semi@363..364 ";"
        Whitespace@364..369 "\n    "
      STMT_LET@369..393
        LetKeyword@369..372 "let"
        Whitespace@372..373 " "
        PATTERN_VARIABLE@373..375
          Ident@373..374 "c"
          Whitespace@374..375 " "
        Eq@375..376 "="
        Whitespace@376..377 " "
        EXPR_CALL@377..386
          EXPR_IDENT@377..384
            PATH@377..384
              Ident@377..384 "c_value"
          ARG_LIST@384..386
            LParen@384..385 "("
            RParen@385..386 ")"
        Semi@386..387 ";"
        Whitespace@387..393 "\n\n    "
      STMT_LET@393..414
        LetKeyword@393..396 "let"
        Whitespace@396..397 " "
        PATTERN_VARIABLE@397..401
          Ident@397..400 "sum"
          Whitespace@400..401 " "
        Eq@401..402 "="
        Whitespace@402..403 " "
        EXPR_BINARY@403..408
          EXPR_IDENT@403..405
            PATH@403..405
              Ident@403..404 "a"
              Whitespace@404..405 " "
          Plus@405..406 "+"
          Whitespace@406..407 " "
          EXPR_IDENT@407..408
            PATH@407..408
              Ident@407..408 "b"
        Semi@408..409 ";"
        Whitespace@409..414 "\n    "
      STMT_LET@414..436
        LetKeyword@414..417 "let"
        Whitespace@417..418 " "
        PATTERN_VARIABLE@418..423
          Ident@418..422 "diff"
          Whitespace@422..423 " "
        Eq@423..424 "="
        Whitespace@424..425 " "
        EXPR_BINARY@425..430
          EXPR_IDENT@425..427
            PATH@425..427
              Ident@425..426 "a"
              Whitespace@426..427 " "
          Minus@427..428 "-"
          Whitespace@428..429 " "
          EXPR_IDENT@429..430
            PATH@429..430
              Ident@429..430 "c"
        Semi@430..431 ";"
        Whitespace@431..436 "\n    "
      STMT_LET@436..458
        LetKeyword@436..439 "let"
        Whitespace@439..440 " "
        PATTERN_VARIABLE@440..445
          Ident@440..444 "prod"
          Whitespace@444..445 " "
        Eq@445..446 "="
        Whitespace@446..447 " "
        EXPR_BINARY@447..452
          EXPR_IDENT@447..449
            PATH@447..449
              Ident@447..448 "b"
              Whitespace@448..449 " "
          Star@449..450 "*"
          Whitespace@450..451 " "
          EXPR_IDENT@451..452
            PATH@451..452
              Ident@451..452 "c"
        Semi@452..453 ";"
        Whitespace@453..458 "\n    "
      STMT_LET@458..480
        LetKeyword@458..461 "let"
        Whitespace@461..462 " "
        PATTERN_VARIABLE@462..467
          Ident@462..466 "quot"
          Whitespace@466..467 " "
        Eq@467..468 "="
        Whitespace@468..469 " "
        EXPR_BINARY@469..474
          EXPR_IDENT@469..471
            PATH@469..471
              Ident@469..470 "a"
              Whitespace@470..471 " "
          Slash@471..472 "/"
          Whitespace@472..473 " "
          EXPR_IDENT@473..474
            PATH@473..474
              Ident@473..474 "c"
        Semi@474..475 ";"
        Whitespace@475..480 "\n    "
      STMT_LET@480..498
        LetKeyword@480..483 "let"
        Whitespace@483..484 " "
        PATTERN_VARIABLE@484..488
          Ident@484..487 "neg"
          Whitespace@487..488 " "
        Eq@488..489 "="
        Whitespace@489..490 " "
        EXPR_PREFIX@490..492
          Minus@490..491 "-"
          EXPR_IDENT@491..492
            PATH@491..492
              Ident@491..492 "b"
        Semi@492..493 ";"
        Whitespace@493..498 "\n    "
      STMT_LET@498..521
        LetKeyword@498..501 "let"
        Whitespace@501..502 " "
        PATTERN_VARIABLE@502..507
          Ident@502..506 "less"
          Whitespace@506..507 " "
        Eq@507..508 "="
        Whitespace@508..509 " "
        EXPR_BINARY@509..514
          EXPR_IDENT@509..511
            PATH@509..511
              Ident@509..510 "b"
              Whitespace@510..511 " "
          Less@511..512 "<"
          Whitespace@512..513 " "
          EXPR_IDENT@513..514
            PATH@513..514
              Ident@513..514 "a"
        Semi@514..515 ";"
        Whitespace@515..521 "\n\n    "
      STMT_LET@521..553
        LetKeyword@521..524 "let"
        Whitespace@524..525 " "
        PATTERN_WILDCARD@525..527
          WildcardKeyword@525..526 "_"
          Whitespace@526..527 " "
        Eq@527..528 "="
        Whitespace@528..529 " "
        EXPR_CALL@529..547
          EXPR_IDENT@529..538
            PATH@529..538
              Ident@529..538 "show_int8"
          ARG_LIST@538..547
            LParen@538..539 "("
            ARG@539..545
              EXPR_STR@539..543
                Str@539..543 "\"a=\""
              Comma@543..544 ","
              Whitespace@544..545 " "
            ARG@545..546
              EXPR_IDENT@545..546
                PATH@545..546
                  Ident@545..546 "a"
            RParen@546..547 ")"
        Semi@547..548 ";"
        Whitespace@548..553 "\n    "
      STMT_LET@553..585
        LetKeyword@553..556 "let"
        Whitespace@556..557 " "
        PATTERN_WILDCARD@557..559
          WildcardKeyword@557..558 "_"
          Whitespace@558..559 " "
        Eq@559..560 "="
        Whitespace@560..561 " "
        EXPR_CALL@561..579
          EXPR_IDENT@561..570
            PATH@561..570
              Ident@561..570 "show_int8"
          ARG_LIST@570..579
            LParen@570..571 "("
            ARG@571..577
              EXPR_STR@571..575
                Str@571..575 "\"b=\""
              Comma@575..576 ","
              Whitespace@576..577 " "
            ARG@577..578
              EXPR_IDENT@577..578
                PATH@577..578
                  Ident@577..578 "b"
            RParen@578..579 ")"
        Semi@579..580 ";"
        Whitespace@580..585 "\n    "
      STMT_LET@585..617
        LetKeyword@585..588 "let"
        Whitespace@588..589 " "
        PATTERN_WILDCARD@589..591
          WildcardKeyword@589..590 "_"
          Whitespace@590..591 " "
        Eq@591..592 "="
        Whitespace@592..593 " "
        EXPR_CALL@593..611
          EXPR_IDENT@593..602
            PATH@593..602
              Ident@593..602 "show_int8"
          ARG_LIST@602..611
            LParen@602..603 "("
            ARG@603..609
              EXPR_STR@603..607
                Str@603..607 "\"c=\""
              Comma@607..608 ","
              Whitespace@608..609 " "
            ARG@609..610
              EXPR_IDENT@609..610
                PATH@609..610
                  Ident@609..610 "c"
            RParen@610..611 ")"
        Semi@611..612 ";"
        Whitespace@612..617 "\n    "
      STMT_LET@617..653
        LetKeyword@617..620 "let"
        Whitespace@620..621 " "
        PATTERN_WILDCARD@621..623
          WildcardKeyword@621..622 "_"
          Whitespace@622..623 " "
        Eq@623..624 "="
        Whitespace@624..625 " "
        EXPR_CALL@625..647
          EXPR_IDENT@625..634
            PATH@625..634
              Ident@625..634 "show_int8"
          ARG_LIST@634..647
            LParen@634..635 "("
            ARG@635..643
              EXPR_STR@635..641
                Str@635..641 "\"sum=\""
              Comma@641..642 ","
              Whitespace@642..643 " "
            ARG@643..646
              EXPR_IDENT@643..646
                PATH@643..646
                  Ident@643..646 "sum"
            RParen@646..647 ")"
        Semi@647..648 ";"
        Whitespace@648..653 "\n    "
      STMT_LET@653..691
        LetKeyword@653..656 "let"
        Whitespace@656..657 " "
        PATTERN_WILDCARD@657..659
          WildcardKeyword@657..658 "_"
          Whitespace@658..659 " "
        Eq@659..660 "="
        Whitespace@660..661 " "
        EXPR_CALL@661..685
          EXPR_IDENT@661..670
            PATH@661..670
              Ident@661..670 "show_int8"
          ARG_LIST@670..685
            LParen@670..671 "("
            ARG@671..680
              EXPR_STR@671..678
                Str@671..678 "\"diff=\""
              Comma@678..679 ","
              Whitespace@679..680 " "
            ARG@680..684
              EXPR_IDENT@680..684
                PATH@680..684
                  Ident@680..684 "diff"
            RParen@684..685 ")"
        Semi@685..686 ";"
        Whitespace@686..691 "\n    "
      STMT_LET@691..729
        LetKeyword@691..694 "let"
        Whitespace@694..695 " "
        PATTERN_WILDCARD@695..697
          WildcardKeyword@695..696 "_"
          Whitespace@696..697 " "
        Eq@697..698 "="
        Whitespace@698..699 " "
        EXPR_CALL@699..723
          EXPR_IDENT@699..708
            PATH@699..708
              Ident@699..708 "show_int8"
          ARG_LIST@708..723
            LParen@708..709 "("
            ARG@709..718
              EXPR_STR@709..716
                Str@709..716 "\"prod=\""
              Comma@716..717 ","
              Whitespace@717..718 " "
            ARG@718..722
              EXPR_IDENT@718..722
                PATH@718..722
                  Ident@718..722 "prod"
            RParen@722..723 ")"
        Semi@723..724 ";"
        Whitespace@724..729 "\n    "
      STMT_LET@729..767
        LetKeyword@729..732 "let"
        Whitespace@732..733 " "
        PATTERN_WILDCARD@733..735
          WildcardKeyword@733..734 "_"
          Whitespace@734..735 " "
        Eq@735..736 "="
        Whitespace@736..737 " "
        EXPR_CALL@737..761
          EXPR_IDENT@737..746
            PATH@737..746
              Ident@737..746 "show_int8"
          ARG_LIST@746..761
            LParen@746..747 "("
            ARG@747..756
              EXPR_STR@747..754
                Str@747..754 "\"quot=\""
              Comma@754..755 ","
              Whitespace@755..756 " "
            ARG@756..760
              EXPR_IDENT@756..760
                PATH@756..760
                  Ident@756..760 "quot"
            RParen@760..761 ")"
        Semi@761..762 ";"
        Whitespace@762..767 "\n    "
      STMT_LET@767..803
        LetKeyword@767..770 "let"
        Whitespace@770..771 " "
        PATTERN_WILDCARD@771..773
          WildcardKeyword@771..772 "_"
          Whitespace@772..773 " "
        Eq@773..774 "="
        Whitespace@774..775 " "
        EXPR_CALL@775..797
          EXPR_IDENT@775..784
            PATH@775..784
              Ident@775..784 "show_int8"
          ARG_LIST@784..797
            LParen@784..785 "("
            ARG@785..793
              EXPR_STR@785..791
                Str@785..791 "\"neg=\""
              Comma@791..792 ","
              Whitespace@792..793 " "
            ARG@793..796
              EXPR_IDENT@793..796
                PATH@793..796
                  Ident@793..796 "neg"
            RParen@796..797 ")"
        Semi@797..798 ";"
        Whitespace@798..803 "\n    "
      STMT_LET@803..841
        LetKeyword@803..806 "let"
        Whitespace@806..807 " "
        PATTERN_WILDCARD@807..809
          WildcardKeyword@807..808 "_"
          Whitespace@808..809 " "
        Eq@809..810 "="
        Whitespace@810..811 " "
        EXPR_CALL@811..834
          EXPR_IDENT@811..820
            PATH@811..820
              Ident@811..820 "show_bool"
          ARG_LIST@820..834
            LParen@820..821 "("
            ARG@821..829
              EXPR_STR@821..827
                Str@821..827 "\"b<a=\""
              Comma@827..828 ","
              Whitespace@828..829 " "
            ARG@829..833
              EXPR_IDENT@829..833
                PATH@829..833
                  Ident@829..833 "less"
            RParen@833..834 ")"
        Semi@834..835 ";"
        Whitespace@835..841 "\n\n    "
      EXPR_UNIT@841..844
        LParen@841..842 "("
        RParen@842..843 ")"
        Whitespace@843..844 "\n"
      RBrace@844..845 "}"
      Whitespace@845..846 "\n"