FILE@0..564
  ENUM@0..61
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Event"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..61
      VARIANT@17..21
        Ident@17..21 "Open"
      Comma@21..22 ","
      Whitespace@22..27 "\n    "
      VARIANT@27..32
        Ident@27..32 "Close"
      Comma@32..33 ","
      Whitespace@33..38 "\n    "
      VARIANT@38..45
        Ident@38..45 "Advance"
      Comma@45..46 ","
      Whitespace@46..51 "\n    "
      VARIANT@51..56
        Ident@51..56 "Error"
      Comma@56..57 ","
      Whitespace@57..58 "\n"
      RBrace@58..59 "}"
      Whitespace@59..61 "\n\n"
  FN@61..564
    FnKeyword@61..63 "fn"
    Whitespace@63..64 " "
    Ident@64..68 "main"
    PARAM_LIST@68..71
      LParen@68..69 "("
      RParen@69..70 ")"
      Whitespace@70..71 " "
    Arrow@71..73 "->"
    Whitespace@73..74 " "
    TYPE_UNIT@74..79
      UnitKeyword@74..78 "unit"
      Whitespace@78..79 " "
    BLOCK@79..564
      LBrace@79..80 "{"
      Whitespace@80..85 "\n    "
      STMT_LET@85..119
        LetKeyword@85..88 "let"
        Whitespace@88..89 " "
        PATTERN_VARIABLE@89..97
          Ident@89..96 "running"
          Whitespace@96..97 " "
        Eq@97..98 "="
        Whitespace@98..99 " "
        EXPR_CALL@99..113
          EXPR_IDENT@99..107
            PATH@99..107
              Ident@99..102 "Ref"
              ColonColon@102..104 "::"
              Ident@104..107 "new"
          ARG_LIST@107..113
            LParen@107..108 "("
            ARG@108..112
              EXPR_BOOL@108..112
                TrueKeyword@108..112 "true"
            RParen@112..113 ")"
        Semi@113..114 ";"
        Whitespace@114..119 "\n    "
      STMT_EXPR@119..548
        EXPR_WHILE@119..542
          WhileKeyword@119..124 "while"
          Whitespace@124..125 " "
          EXPR_WHILE_COND@125..139
            EXPR_CALL@125..139
              EXPR_BINARY@125..136
                EXPR_IDENT@125..132
                  PATH@125..132
                    Ident@125..132 "running"
                Dot@132..133 "."
                EXPR_IDENT@133..136
                  PATH@133..136
                    Ident@133..136 "get"
              ARG_LIST@136..139
                LParen@136..137 "("
                RParen@137..138 ")"
                Whitespace@138..139 " "
          EXPR_WHILE_BODY@139..542
            BLOCK@139..542
              LBrace@139..140 "{"
              Whitespace@140..149 "\n        "
              STMT_LET@149..182
                LetKeyword@149..152 "let"
                Whitespace@152..153 " "
                PATTERN_VARIABLE@153..159
                  Ident@153..158 "event"
                  Whitespace@158..159 " "
                Eq@159..160 "="
                Whitespace@160..161 " "
                EXPR_IDENT@161..172
                  PATH@161..172
                    Ident@161..166 "Event"
                    ColonColon@166..168 "::"
                    Ident@168..172 "Open"
                Semi@172..173 ";"
                Whitespace@173..182 "\n        "
              STMT_EXPR@182..445
                EXPR_MATCH@182..435
                  MatchKeyword@182..187 "match"
                  Whitespace@187..188 " "
                  EXPR_IDENT@188..194
                    PATH@188..194
                      Ident@188..193 "event"
                      Whitespace@193..194 " "
                  MATCH_ARM_LIST@194..435
                    LBrace@194..195 "{"
                    Whitespace@195..208 "\n            "
                    MATCH_ARM@208..326
                      PATTERN_CONSTR@208..220
                        PATH@208..220
                          Ident@208..213 "Event"
                          ColonColon@213..215 "::"
                          Ident@215..219 "Open"
                          Whitespace@219..220 " "
                      FatArrow@220..222 "=>"
                      Whitespace@222..223 " "
                      BLOCK@223..326
                        LBrace@223..224 "{"
                        Whitespace@224..241 "\n                "
                        STMT_LET@241..289
                          LetKeyword@241..244 "let"
                          Whitespace@244..245 " "
                          PATTERN_VARIABLE@245..254
                            Ident@245..253 "scanning"
                            Whitespace@253..254 " "
                          Eq@254..255 "="
                          Whitespace@255..256 " "
                          EXPR_CALL@256..271
                            EXPR_IDENT@256..264
                              PATH@256..264
                                Ident@256..259 "Ref"
                                ColonColon@259..261 "::"
                                Ident@261..264 "new"
                            ARG_LIST@264..271
                              LParen@264..265 "("
                              ARG@265..270
                                EXPR_BOOL@265..270
                                  FalseKeyword@265..270 "false"
                              RParen@270..271 ")"
                          Semi@271..272 ";"
                          Whitespace@272..289 "\n                "
                        EXPR_WHILE@289..325
                          WhileKeyword@289..294 "while"
                          Whitespace@294..295 " "
                          EXPR_WHILE_COND@295..310
                            EXPR_CALL@295..310
                              EXPR_BINARY@295..307
                                EXPR_IDENT@295..303
                                  PATH@295..303
                                    Ident@295..303 "scanning"
                                Dot@303..304 "."
                                EXPR_IDENT@304..307
                                  PATH@304..307
                                    Ident@304..307 "get"
                              ARG_LIST@307..310
                                LParen@307..308 "("
                                RParen@308..309 ")"
                                Whitespace@309..310 " "
                          EXPR_WHILE_BODY@310..325
                            BLOCK@310..325
                              LBrace@310..311 "{"
                              RBrace@311..312 "}"
                              Whitespace@312..325 "\n            "
                        RBrace@325..326 "}"
                    Comma@326..327 ","
                    Whitespace@327..340 "\n            "
                    MATCH_ARM@340..358
                      PATTERN_CONSTR@340..353
                        PATH@340..353
                          Ident@340..345 "Event"
                          ColonColon@345..347 "::"
                          Ident@347..352 "Close"
                          Whitespace@352..353 " "
                      FatArrow@353..355 "=>"
                      Whitespace@355..356 " "
                      EXPR_UNIT@356..358
                        LParen@356..357 "("
                        RParen@357..358 ")"
                    Comma@358..359 ","
                    Whitespace@359..372 "\n            "
                    MATCH_ARM@372..392
                      PATTERN_CONSTR@372..387
                        PATH@372..387
                          Ident@372..377 "Event"
                          ColonColon@377..379 "::"
                          Ident@379..386 "Advance"
                          Whitespace@386..387 " "
                      FatArrow@387..389 "=>"
                      Whitespace@389..390 " "
                      EXPR_UNIT@390..392
                        LParen@390..391 "("
                        RParen@391..392 ")"
                    Comma@392..393 ","
                    Whitespace@393..406 "\n            "
                    MATCH_ARM@406..424
                      PATTERN_CONSTR@406..419
                        PATH@406..419
                          Ident@406..411 "Event"
                          ColonColon@411..413 "::"
                          Ident@413..418 "Error"
                          Whitespace@418..419 " "
                      FatArrow@419..421 "=>"
                      Whitespace@421..422 " "
                      EXPR_UNIT@422..424
                        LParen@422..423 "("
                        RParen@423..424 ")"
                    Comma@424..425 ","
                    Whitespace@425..434 "\n        "
                    RBrace@434..435 "}"
                Semi@435..436 ";"
                Whitespace@436..445 "\n        "
              STMT_LET@445..485
                LetKeyword@445..448 "let"
                Whitespace@448..449 " "
                PATTERN_VARIABLE@449..458
                  Ident@449..457 "scanning"
                  Whitespace@457..458 " "
                Eq@458..459 "="
                Whitespace@459..460 " "
                EXPR_CALL@460..475
                  EXPR_IDENT@460..468
                    PATH@460..468
                      Ident@460..463 "Ref"
                      ColonColon@463..465 "::"
                      Ident@465..468 "new"
                  ARG_LIST@468..475
                    LParen@468..469 "("
                    ARG@469..474
                      EXPR_BOOL@469..474
                        FalseKeyword@469..474 "false"
                    RParen@474..475 ")"
                Semi@475..476 ";"
                Whitespace@476..485 "\n        "
              STMT_EXPR@485..518
                EXPR_WHILE@485..508
                  WhileKeyword@485..490 "while"
                  Whitespace@490..491 " "
                  EXPR_WHILE_COND@491..506
                    EXPR_CALL@491..506
                      EXPR_BINARY@491..503
                        EXPR_IDENT@491..499
                          PATH@491..499
                            Ident@491..499 "scanning"
                        Dot@499..500 "."
                        EXPR_IDENT@500..503
                          PATH@500..503
                            Ident@500..503 "get"
                      ARG_LIST@503..506
                        LParen@503..504 "("
                        RParen@504..505 ")"
                        Whitespace@505..506 " "
                  EXPR_WHILE_BODY@506..508
                    BLOCK@506..508
                      LBrace@506..507 "{"
                      RBrace@507..508 "}"
                Semi@508..509 ";"
                Whitespace@509..518 "\n        "
              EXPR_CALL@518..541
                EXPR_BINARY@518..529
                  EXPR_IDENT@518..525
                    PATH@518..525
                      Ident@518..525 "running"
                  Dot@525..526 "."
                  EXPR_IDENT@526..529
                    PATH@526..529
                      Ident@526..529 "set"
                ARG_LIST@529..541
                  LParen@529..530 "("
                  ARG@530..535
                    EXPR_BOOL@530..535
                      FalseKeyword@530..535 "false"
                  RParen@535..536 ")"
                  Whitespace@536..541 "\n    "
              RBrace@541..542 "}"
        Semi@542..543 ";"
        Whitespace@543..548 "\n    "
      EXPR_CALL@548..562
        EXPR_IDENT@548..555
          PATH@548..555
            Ident@548..555 "println"
        ARG_LIST@555..562
          LParen@555..556 "("
          ARG@556..560
            EXPR_STR@556..560
              Str@556..560 "\"ok\""
          RParen@560..561 ")"
          Whitespace@561..562 "\n"
      RBrace@562..563 "}"
      Whitespace@563..564 "\n"