FILE@0..163
  FN@0..163
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..163
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_EXPR@22..60
        EXPR_CALL@22..54
          EXPR_IDENT@22..29
            PATH@22..29
              Ident@22..29 "println"
          ARG_LIST@29..54
            LParen@29..30 "("
            ARG@30..53
              EXPR_BINARY@30..53
                EXPR_INTERPOLATED_STRING@30..46
                  FStringStart@30..32 "f\""
                  FStringText@32..44 "\\u007B\\u007B"
                  FStringEnd@44..45 "\""
                  Whitespace@45..46 " "
                EqEq@46..48 "=="
                Whitespace@48..49 " "
                EXPR_STR@49..53
                  Str@49..53 "\"{{\""
            RParen@53..54 ")"
        Semi@54..55 ";"
        Whitespace@55..60 "\n    "
      STMT_EXPR@60..98
        EXPR_CALL@60..92
          EXPR_IDENT@60..67
            PATH@60..67
              Ident@60..67 "println"
          ARG_LIST@67..92
            LParen@67..68 "("
            ARG@68..91
              EXPR_BINARY@68..91
                EXPR_INTERPOLATED_STRING@68..84
                  FStringStart@68..70 "f\""
                  FStringText@70..82 "\\u007D\\u007D"
                  FStringEnd@82..83 "\""
                  Whitespace@83..84 " "
                EqEq@84..86 "=="
                Whitespace@86..87 " "
                EXPR_STR@87..91
                  Str@87..91 "\"}}\""
            RParen@91..92 ")"
        Semi@92..93 ";"
        Whitespace@93..98 "\n    "
      STMT_EXPR@98..132
        EXPR_CALL@98..126
          EXPR_IDENT@98..105
            PATH@98..105
              Ident@98..105 "println"
          ARG_LIST@105..126
            LParen@105..106 "("
            ARG@106..125
              EXPR_BINARY@106..125
                EXPR_INTERPOLATED_STRING@106..118
                  FStringStart@106..108 "f\""
                  FStringText@108..116 "{{\\u007B"
                  FStringEnd@116..117 "\""
                  Whitespace@117..118 " "
                EqEq@118..120 "=="
                Whitespace@120..121 " "
                EXPR_STR@121..125
                  Str@121..125 "\"{{\""
            RParen@125..126 ")"
        Semi@126..127 ";"
        Whitespace@127..132 "\n    "
      EXPR_CALL@132..161
        EXPR_IDENT@132..139
          PATH@132..139
            Ident@132..139 "println"
        ARG_LIST@139..161
          LParen@139..140 "("
          ARG@140..159
            EXPR_BINARY@140..159
              EXPR_INTERPOLATED_STRING@140..152
                FStringStart@140..142 "f\""
                FStringText@142..150 "}}\\u007D"
                FStringEnd@150..151 "\""
                Whitespace@151..152 " "
              EqEq@152..154 "=="
              Whitespace@154..155 " "
              EXPR_STR@155..159
                Str@155..159 "\"}}\""
          RParen@159..160 ")"
          Whitespace@160..161 "\n"
      RBrace@161..162 "}"
      Whitespace@162..163 "\n"