FILE@0..224
  FN@0..224
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..224
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..41
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "i"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_CALL@24..35
          EXPR_IDENT@24..32
            PATH@24..32
              Ident@24..27 "Ref"
              ColonColon@27..29 "::"
              Ident@29..32 "new"
          ARG_LIST@32..35
            LParen@32..33 "("
            ARG@33..34
              EXPR_INT@33..34
                Int@33..34 "0"
            RParen@34..35 ")"
        Semi@35..36 ";"
        Whitespace@36..41 "\n    "
      STMT_EXPR@41..197
        EXPR_WHILE@41..197
          WhileKeyword@41..46 "while"
          Whitespace@46..47 " "
          EXPR_WHILE_COND@47..60
            EXPR_BINARY@47..60
              EXPR_CALL@47..55
                EXPR_BINARY@47..52
                  EXPR_IDENT@47..48
                    PATH@47..48
                      Ident@47..48 "i"
                  Dot@48..49 "."
                  EXPR_IDENT@49..52
                    PATH@49..52
                      Ident@49..52 "get"
                ARG_LIST@52..55
                  LParen@52..53 "("
                  RParen@53..54 ")"
                  Whitespace@54..55 " "
              Less@55..56 "<"
              Whitespace@56..57 " "
              EXPR_INT@57..60
                Int@57..59 "10"
                Whitespace@59..60 " "
          EXPR_WHILE_BODY@60..197
            BLOCK@60..197
              LBrace@60..61 "{"
              Whitespace@61..70 "\n        "
              STMT_EXPR@70..133
                EXPR_IF@70..123
                  IfKeyword@70..72 "if"
                  Whitespace@72..73 " "
                  EXPR_IF_COND@73..86
                    EXPR_BINARY@73..86
                      EXPR_CALL@73..81
                        EXPR_BINARY@73..78
                          EXPR_IDENT@73..74
                            PATH@73..74
                              Ident@73..74 "i"
                          Dot@74..75 "."
                          EXPR_IDENT@75..78
                            PATH@75..78
                              Ident@75..78 "get"
                        ARG_LIST@78..81
                          LParen@78..79 "("
                          RParen@79..80 ")"
                          Whitespace@80..81 " "
                      EqEq@81..83 "=="
                      Whitespace@83..84 " "
                      EXPR_INT@84..86
                        Int@84..85 "5"
                        Whitespace@85..86 " "
                  EXPR_IF_THEN@86..116
                    BLOCK@86..116
                      LBrace@86..87 "{"
                      Whitespace@87..100 "\n            "
                      EXPR_BREAK@100..114
                        BreakKeyword@100..105 "break"
                        Whitespace@105..114 "\n        "
                      RBrace@114..115 "}"
                      Whitespace@115..116 " "
                  ElseKeyword@116..120 "else"
                  Whitespace@120..121 " "
                  EXPR_IF_ELSE@121..123
                    BLOCK@121..123
                      LBrace@121..122 "{"
                      RBrace@122..123 "}"
                Semi@123..124 ";"
                Whitespace@124..133 "\n        "
              STMT_LET@133..167
                LetKeyword@133..136 "let"
                Whitespace@136..137 " "
                PATTERN_WILDCARD@137..139
                  WildcardKeyword@137..138 "_"
                  Whitespace@138..139 " "
                Eq@139..140 "="
                Whitespace@140..141 " "
                EXPR_CALL@141..157
                  EXPR_IDENT@141..148
                    PATH@141..148
                      Ident@141..148 "println"
                  ARG_LIST@148..157
                    LParen@148..149 "("
                    ARG@149..156
                      EXPR_CALL@149..156
                        EXPR_BINARY@149..154
                          EXPR_IDENT@149..150
                            PATH@149..150
                              Ident@149..150 "i"
                          Dot@150..151 "."
                          EXPR_IDENT@151..154
                            PATH@151..154
                              Ident@151..154 "get"
                        ARG_LIST@154..156
                          LParen@154..155 "("
                          RParen@155..156 ")"
                    RParen@156..157 ")"
                Semi@157..158 ";"
                Whitespace@158..167 "\n        "
              STMT_EXPR@167..191
                EXPR_CALL@167..185
                  EXPR_BINARY@167..172
                    EXPR_IDENT@167..168
                      PATH@167..168
                        Ident@167..168 "i"
                    Dot@168..169 "."
                    EXPR_IDENT@169..172
                      PATH@169..172
                        Ident@169..172 "set"
                  ARG_LIST@172..185
                    LParen@172..173 "("
                    ARG@173..184
                      EXPR_BINARY@173..184
                        EXPR_CALL@173..181
                          EXPR_BINARY@173..178
                            EXPR_IDENT@173..174
                              PATH@173..174
                                Ident@173..174 "i"
                            Dot@174..175 "."
                            EXPR_IDENT@175..178
                              PATH@175..178
                                Ident@175..178 "get"
                          ARG_LIST@178..181
                            LParen@178..179 "("
                            RParen@179..180 ")"
                            Whitespace@180..181 " "
                        Plus@181..182 "+"
                        Whitespace@182..183 " "
                        EXPR_INT@183..184
                          Int@183..184 "1"
                    RParen@184..185 ")"
                Semi@185..186 ";"
                Whitespace@186..191 "\n    "
              RBrace@191..192 "}"
              Whitespace@192..197 "\n    "
      STMT_LET@197..222
        LetKeyword@197..200 "let"
        Whitespace@200..201 " "
        PATTERN_WILDCARD@201..203
          WildcardKeyword@201..202 "_"
          Whitespace@202..203 " "
        Eq@203..204 "="
        Whitespace@204..205 " "
        EXPR_CALL@205..220
          EXPR_IDENT@205..212
            PATH@205..212
              Ident@205..212 "println"
          ARG_LIST@212..220
            LParen@212..213 "("
            ARG@213..219
              EXPR_STR@213..219
                Str@213..219 "\"done\""
            RParen@219..220 ")"
        Semi@220..221 ";"
        Whitespace@221..222 "\n"
      RBrace@222..223 "}"
      Whitespace@223..224 "\n"