FILE@0..952
  FN@0..86
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "answer"
    PARAM_LIST@9..12
      LParen@9..10 "("
      RParen@10..11 ")"
      Whitespace@11..12 " "
    Arrow@12..14 "->"
    Whitespace@14..15 " "
    TYPE_INT@15..21
      IsizeKeyword@15..20 "isize"
      Whitespace@20..21 " "
    BLOCK@21..86
      LBrace@21..22 "{"
      Whitespace@22..27 "\n    "
      STMT_EXPR@27..83
        EXPR_RETURN@27..81
          ReturnKeyword@27..33 "return"
          Whitespace@33..34 " "
          EXPR_BLOCK@34..81
            BLOCK@34..81
              LBrace@34..35 "{"
              Whitespace@35..44 "\n        "
              STMT_LET@44..67
                LetKeyword@44..47 "let"
                Whitespace@47..48 " "
                PATTERN_VARIABLE@48..53
                  Ident@48..52 "base"
                  Whitespace@52..53 " "
                Eq@53..54 "="
                Whitespace@54..55 " "
                EXPR_INT@55..57
                  Int@55..57 "40"
                Semi@57..58 ";"
                Whitespace@58..67 "\n        "
              EXPR_BINARY@67..80
                EXPR_IDENT@67..72
                  PATH@67..72
                    Ident@67..71 "base"
                    Whitespace@71..72 " "
                Plus@72..73 "+"
                Whitespace@73..74 " "
                EXPR_INT@74..80
                  Int@74..75 "2"
                  Whitespace@75..80 "\n    "
              RBrace@80..81 "}"
        Semi@81..82 ";"
        Whitespace@82..83 "\n"
      RBrace@83..84 "}"
      Whitespace@84..86 "\n\n"
  FN@86..208
    FnKeyword@86..88 "fn"
    Whitespace@88..89 " "
    Ident@89..100 "loop_answer"
    PARAM_LIST@100..103
      LParen@100..101 "("
      RParen@101..102 ")"
      Whitespace@102..103 " "
    Arrow@103..105 "->"
    Whitespace@105..106 " "
    TYPE_INT@106..112
      IsizeKeyword@106..111 "isize"
      Whitespace@111..112 " "
    BLOCK@112..208
      LBrace@112..113 "{"
      Whitespace@113..118 "\n    "
      EXPR_LOOP@118..205
        LoopKeyword@118..122 "loop"
        Whitespace@122..123 " "
        BLOCK@123..205
          LBrace@123..124 "{"
          Whitespace@124..133 "\n        "
          STMT_EXPR@133..203
            EXPR_BREAK@133..197
              BreakKeyword@133..138 "break"
              Whitespace@138..139 " "
              EXPR_BLOCK@139..197
                BLOCK@139..197
                  LBrace@139..140 "{"
                  Whitespace@140..153 "\n            "
                  STMT_LET@153..179
                    LetKeyword@153..156 "let"
                    Whitespace@156..157 " "
                    PATTERN_VARIABLE@157..162
                      Ident@157..161 "base"
                      Whitespace@161..162 " "
                    Eq@162..163 "="
                    Whitespace@163..164 " "
                    EXPR_INT@164..165
                      Int@164..165 "6"
                    Semi@165..166 ";"
                    Whitespace@166..179 "\n            "
                  EXPR_BINARY@179..196
                    EXPR_IDENT@179..184
                      PATH@179..184
                        Ident@179..183 "base"
                        Whitespace@183..184 " "
                    Star@184..185 "*"
                    Whitespace@185..186 " "
                    EXPR_INT@186..196
                      Int@186..187 "7"
                      Whitespace@187..196 "\n        "
                  RBrace@196..197 "}"
            Semi@197..198 ";"
            Whitespace@198..203 "\n    "
          RBrace@203..204 "}"
          Whitespace@204..205 "\n"
      RBrace@205..206 "}"
      Whitespace@206..208 "\n\n"
  FN@208..952
    FnKeyword@208..210 "fn"
    Whitespace@210..211 " "
    Ident@211..215 "main"
    PARAM_LIST@215..218
      LParen@215..216 "("
      RParen@216..217 ")"
      Whitespace@217..218 " "
    Arrow@218..220 "->"
    Whitespace@220..221 " "
    TYPE_UNIT@221..226
      UnitKeyword@221..225 "unit"
      Whitespace@225..226 " "
    BLOCK@226..952
      LBrace@226..227 "{"
      Whitespace@227..232 "\n    "
      STMT_LET@232..271
        LetKeyword@232..235 "let"
        Whitespace@235..236 " "
        PATTERN_VARIABLE@236..241
          Ident@236..241 "plain"
        Colon@241..242 ":"
        Whitespace@242..243 " "
        TYPE_TAPP@243..253
          PATH@243..246
            Ident@243..246 "Vec"
          TYPE_PARAM_LIST@246..253
            LBracket@246..247 "["
            TYPE_TAPP@247..251
              PATH@247..251
                Ident@247..251 "byte"
            RBracket@251..252 "]"
            Whitespace@252..253 " "
        Eq@253..254 "="
        Whitespace@254..255 " "
        EXPR_BYTE_STRING@255..265
          ByteStr@255..265 "b\"A\\n\\x42\""
        Semi@265..266 ";"
        Whitespace@266..271 "\n    "
      STMT_LET@271..292
        LetKeyword@271..274 "let"
        Whitespace@274..275 " "
        PATTERN_VARIABLE@275..281
          Ident@275..280 "empty"
          Whitespace@280..281 " "
        Eq@281..282 "="
        Whitespace@282..283 " "
        EXPR_BYTE_STRING@283..286
          ByteStr@283..286 "b\"\""
        Semi@286..287 ";"
        Whitespace@287..292 "\n    "
      STMT_LET@292..326
        LetKeyword@292..295 "let"
        Whitespace@295..296 " "
        PATTERN_VARIABLE@296..300
          Ident@296..299 "raw"
          Whitespace@299..300 " "
        Eq@300..301 "="
        Whitespace@301..302 " "
        EXPR_BYTE_STRING@302..320
          RawByteStr@302..320 "br#\"raw \\n bytes\"#"
        Semi@320..321 ";"
        Whitespace@321..326 "\n    "
      STMT_LET@326..372
        LetKeyword@326..329 "let"
        Whitespace@329..330 " "
        PATTERN_VARIABLE@330..337
          Ident@330..336 "quoted"
          Whitespace@336..337 " "
        Eq@337..338 "="
        Whitespace@338..339 " "
        EXPR_BYTE_STRING@339..366
          RawByteStr@339..366 "br##\"quoted \"text\" an ..."
        Semi@366..367 ";"
        Whitespace@367..372 "\n    "
      STMT_LET@372..407
        LetKeyword@372..375 "let"
        Whitespace@375..376 " "
        PATTERN_VARIABLE@376..381
          Ident@376..381 "fixed"
        Colon@381..382 ":"
        Whitespace@382..383 " "
        TYPE_ARRAY@383..393
          LBracket@383..384 "["
          TYPE_TAPP@384..388
            PATH@384..388
              Ident@384..388 "byte"
          Semi@388..389 ";"
          Whitespace@389..390 " "
          Int@390..391 "3"
          RBracket@391..392 "]"
          Whitespace@392..393 " "
        Eq@393..394 "="
        Whitespace@394..395 " "
        EXPR_BYTE_STRING@395..401
          ByteStr@395..401 "b\"ABC\""
        Semi@401..402 ";"
        Whitespace@402..407 "\n    "
      STMT_LET@407..493
        LetKeyword@407..410 "let"
        Whitespace@410..411 " "
        PATTERN_VARIABLE@411..418
          Ident@411..417 "nested"
          Whitespace@417..418 " "
        Eq@418..419 "="
        Whitespace@419..420 " "
        EXPR_BLOCK@420..487
          BLOCK@420..487
            LBrace@420..421 "{"
            Whitespace@421..430 "\n        "
            STMT_LET@430..460
              LetKeyword@430..433 "let"
              Whitespace@433..434 " "
              PATTERN_VARIABLE@434..440
                Ident@434..439 "value"
                Whitespace@439..440 " "
              Eq@440..441 "="
              Whitespace@441..442 " "
              EXPR_CALL@442..450
                EXPR_IDENT@442..448
                  PATH@442..448
                    Ident@442..448 "answer"
                ARG_LIST@448..450
                  LParen@448..449 "("
                  RParen@449..450 ")"
              Semi@450..451 ";"
              Whitespace@451..460 "\n        "
            EXPR_BINARY@460..486
              EXPR_IDENT@460..466
                PATH@460..466
                  Ident@460..465 "value"
                  Whitespace@465..466 " "
              Plus@466..467 "+"
              Whitespace@467..468 " "
              EXPR_CALL@468..486
                EXPR_IDENT@468..479
                  PATH@468..479
                    Ident@468..479 "loop_answer"
                ARG_LIST@479..486
                  LParen@479..480 "("
                  RParen@480..481 ")"
                  Whitespace@481..486 "\n    "
            RBrace@486..487 "}"
        Semi@487..488 ";"
        Whitespace@488..493 "\n    "
      STMT_EXPR@493..531
        EXPR_CALL@493..525
          EXPR_IDENT@493..500
            PATH@493..500
              Ident@493..500 "println"
          ARG_LIST@500..525
            LParen@500..501 "("
            ARG@501..524
              EXPR_CALL@501..524
                EXPR_BINARY@501..522
                  EXPR_CALL@501..512
                    EXPR_BINARY@501..510
                      EXPR_IDENT@501..506
                        PATH@501..506
                          Ident@501..506 "plain"
                      Dot@506..507 "."
                      EXPR_IDENT@507..510
                        PATH@507..510
                          Ident@507..510 "len"
                    ARG_LIST@510..512
                      LParen@510..511 "("
                      RParen@511..512 ")"
                  Dot@512..513 "."
                  EXPR_IDENT@513..522
                    PATH@513..522
                      Ident@513..522 "to_string"
                ARG_LIST@522..524
                  LParen@522..523 "("
                  RParen@523..524 ")"
            RParen@524..525 ")"
        Semi@525..526 ";"
        Whitespace@526..531 "\n    "
      STMT_EXPR@531..569
        EXPR_CALL@531..563
          EXPR_IDENT@531..538
            PATH@531..538
              Ident@531..538 "println"
          ARG_LIST@538..563
            LParen@538..539 "("
            ARG@539..562
              EXPR_CALL@539..562
                EXPR_BINARY@539..560
                  EXPR_CALL@539..550
                    EXPR_BINARY@539..548
                      EXPR_IDENT@539..544
                        PATH@539..544
                          Ident@539..544 "empty"
                      Dot@544..545 "."
                      EXPR_IDENT@545..548
                        PATH@545..548
                          Ident@545..548 "len"
                    ARG_LIST@548..550
                      LParen@548..549 "("
                      RParen@549..550 ")"
                  Dot@550..551 "."
                  EXPR_IDENT@551..560
                    PATH@551..560
                      Ident@551..560 "to_string"
                ARG_LIST@560..562
                  LParen@560..561 "("
                  RParen@561..562 ")"
            RParen@562..563 ")"
        Semi@563..564 ";"
        Whitespace@564..569 "\n    "
      STMT_EXPR@569..621
        EXPR_CALL@569..615
          EXPR_IDENT@569..576
            PATH@569..576
              Ident@569..576 "println"
          ARG_LIST@576..615
            LParen@576..577 "("
            ARG@577..614
              EXPR_CALL@577..614
                EXPR_BINARY@577..612
                  EXPR_PAREN@577..602
                    LParen@577..578 "("
                    EXPR_CALL@578..601
                      EXPR_BINARY@578..599
                        EXPR_CALL@578..590
                          EXPR_BINARY@578..587
                            EXPR_IDENT@578..583
                              PATH@578..583
                                Ident@578..583 "plain"
                            Dot@583..584 "."
                            EXPR_IDENT@584..587
                              PATH@584..587
                                Ident@584..587 "get"
                          ARG_LIST@587..590
                            LParen@587..588 "("
                            ARG@588..589
                              EXPR_INT@588..589
                                Int@588..589 "0"
                            RParen@589..590 ")"
                        Dot@590..591 "."
                        EXPR_IDENT@591..599
                          PATH@591..599
                            Ident@591..599 "to_isize"
                      ARG_LIST@599..601
                        LParen@599..600 "("
                        RParen@600..601 ")"
                    RParen@601..602 ")"
                  Dot@602..603 "."
                  EXPR_IDENT@603..612
                    PATH@603..612
                      Ident@603..612 "to_string"
                ARG_LIST@612..614
                  LParen@612..613 "("
                  RParen@613..614 ")"
            RParen@614..615 ")"
        Semi@615..616 ";"
        Whitespace@616..621 "\n    "
      STMT_EXPR@621..673
        EXPR_CALL@621..667
          EXPR_IDENT@621..628
            PATH@621..628
              Ident@621..628 "println"
          ARG_LIST@628..667
            LParen@628..629 "("
            ARG@629..666
              EXPR_CALL@629..666
                EXPR_BINARY@629..664
                  EXPR_PAREN@629..654
                    LParen@629..630 "("
                    EXPR_CALL@630..653
                      EXPR_BINARY@630..651
                        EXPR_CALL@630..642
                          EXPR_BINARY@630..639
                            EXPR_IDENT@630..635
                              PATH@630..635
                                Ident@630..635 "plain"
                            Dot@635..636 "."
                            EXPR_IDENT@636..639
                              PATH@636..639
                                Ident@636..639 "get"
                          ARG_LIST@639..642
                            LParen@639..640 "("
                            ARG@640..641
                              EXPR_INT@640..641
                                Int@640..641 "1"
                            RParen@641..642 ")"
                        Dot@642..643 "."
                        EXPR_IDENT@643..651
                          PATH@643..651
                            Ident@643..651 "to_isize"
                      ARG_LIST@651..653
                        LParen@651..652 "("
                        RParen@652..653 ")"
                    RParen@653..654 ")"
                  Dot@654..655 "."
                  EXPR_IDENT@655..664
                    PATH@655..664
                      Ident@655..664 "to_string"
                ARG_LIST@664..666
                  LParen@664..665 "("
                  RParen@665..666 ")"
            RParen@666..667 ")"
        Semi@667..668 ";"
        Whitespace@668..673 "\n    "
      STMT_EXPR@673..725
        EXPR_CALL@673..719
          EXPR_IDENT@673..680
            PATH@673..680
              Ident@673..680 "println"
          ARG_LIST@680..719
            LParen@680..681 "("
            ARG@681..718
              EXPR_CALL@681..718
                EXPR_BINARY@681..716
                  EXPR_PAREN@681..706
                    LParen@681..682 "("
                    EXPR_CALL@682..705
                      EXPR_BINARY@682..703
                        EXPR_CALL@682..694
                          EXPR_BINARY@682..691
                            EXPR_IDENT@682..687
                              PATH@682..687
                                Ident@682..687 "plain"
                            Dot@687..688 "."
                            EXPR_IDENT@688..691
                              PATH@688..691
                                Ident@688..691 "get"
                          ARG_LIST@691..694
                            LParen@691..692 "("
                            ARG@692..693
                              EXPR_INT@692..693
                                Int@692..693 "2"
                            RParen@693..694 ")"
                        Dot@694..695 "."
                        EXPR_IDENT@695..703
                          PATH@695..703
                            Ident@695..703 "to_isize"
                      ARG_LIST@703..705
                        LParen@703..704 "("
                        RParen@704..705 ")"
                    RParen@705..706 ")"
                  Dot@706..707 "."
                  EXPR_IDENT@707..716
                    PATH@707..716
                      Ident@707..716 "to_string"
                ARG_LIST@716..718
                  LParen@716..717 "("
                  RParen@717..718 ")"
            RParen@718..719 ")"
        Semi@719..720 ";"
        Whitespace@720..725 "\n    "
      STMT_EXPR@725..761
        EXPR_CALL@725..755
          EXPR_IDENT@725..732
            PATH@725..732
              Ident@725..732 "println"
          ARG_LIST@732..755
            LParen@732..733 "("
            ARG@733..754
              EXPR_CALL@733..754
                EXPR_BINARY@733..752
                  EXPR_CALL@733..742
                    EXPR_BINARY@733..740
                      EXPR_IDENT@733..736
                        PATH@733..736
                          Ident@733..736 "raw"
                      Dot@736..737 "."
                      EXPR_IDENT@737..740
                        PATH@737..740
                          Ident@737..740 "len"
                    ARG_LIST@740..742
                      LParen@740..741 "("
                      RParen@741..742 ")"
                  Dot@742..743 "."
                  EXPR_IDENT@743..752
                    PATH@743..752
                      Ident@743..752 "to_string"
                ARG_LIST@752..754
                  LParen@752..753 "("
                  RParen@753..754 ")"
            RParen@754..755 ")"
        Semi@755..756 ";"
        Whitespace@756..761 "\n    "
      STMT_EXPR@761..800
        EXPR_CALL@761..794
          EXPR_IDENT@761..768
            PATH@761..768
              Ident@761..768 "println"
          ARG_LIST@768..794
            LParen@768..769 "("
            ARG@769..793
              EXPR_CALL@769..793
                EXPR_BINARY@769..791
                  EXPR_CALL@769..781
                    EXPR_BINARY@769..779
                      EXPR_IDENT@769..775
                        PATH@769..775
                          Ident@769..775 "quoted"
                      Dot@775..776 "."
                      EXPR_IDENT@776..779
                        PATH@776..779
                          Ident@776..779 "len"
                    ARG_LIST@779..781
                      LParen@779..780 "("
                      RParen@780..781 ")"
                  Dot@781..782 "."
                  EXPR_IDENT@782..791
                    PATH@782..791
                      Ident@782..791 "to_string"
                ARG_LIST@791..793
                  LParen@791..792 "("
                  RParen@792..793 ")"
            RParen@793..794 ")"
        Semi@794..795 ";"
        Whitespace@795..800 "\n    "
      STMT_EXPR@800..848
        EXPR_CALL@800..842
          EXPR_IDENT@800..807
            PATH@800..807
              Ident@800..807 "println"
          ARG_LIST@807..842
            LParen@807..808 "("
            ARG@808..841
              EXPR_CALL@808..841
                EXPR_BINARY@808..839
                  EXPR_PAREN@808..829
                    LParen@808..809 "("
                    EXPR_CALL@809..828
                      EXPR_BINARY@809..826
                        EXPR_INDEX@809..817
                          EXPR_IDENT@809..814
                            PATH@809..814
                              Ident@809..814 "fixed"
                          LBracket@814..815 "["
                          EXPR_INT@815..816
                            Int@815..816 "2"
                          RBracket@816..817 "]"
                        Dot@817..818 "."
                        EXPR_IDENT@818..826
                          PATH@818..826
                            Ident@818..826 "to_isize"
                      ARG_LIST@826..828
                        LParen@826..827 "("
                        RParen@827..828 ")"
                    RParen@828..829 ")"
                  Dot@829..830 "."
                  EXPR_IDENT@830..839
                    PATH@830..839
                      Ident@830..839 "to_string"
                ARG_LIST@839..841
                  LParen@839..840 "("
                  RParen@840..841 ")"
            RParen@841..842 ")"
        Semi@842..843 ";"
        Whitespace@843..848 "\n    "
      STMT_EXPR@848..881
        EXPR_CALL@848..875
          EXPR_IDENT@848..855
            PATH@848..855
              Ident@848..855 "println"
          ARG_LIST@855..875
            LParen@855..856 "("
            ARG@856..874
              EXPR_CALL@856..874
                EXPR_BINARY@856..872
                  EXPR_IDENT@856..862
                    PATH@856..862
                      Ident@856..862 "nested"
                  Dot@862..863 "."
                  EXPR_IDENT@863..872
                    PATH@863..872
                      Ident@863..872 "to_string"
                ARG_LIST@872..874
                  LParen@872..873 "("
                  RParen@873..874 ")"
            RParen@874..875 ")"
        Semi@875..876 ";"
        Whitespace@876..881 "\n    "
      EXPR_IF@881..950
        IfKeyword@881..883 "if"
        Whitespace@883..884 " "
        EXPR_IF_COND@884..907
          EXPR_PAREN@884..907
            LParen@884..885 "("
            EXPR_BLOCK@885..905
              BLOCK@885..905
                LBrace@885..886 "{"
                Whitespace@886..895 "\n        "
                EXPR_BOOL@895..904
                  TrueKeyword@895..899 "true"
                  Whitespace@899..904 "\n    "
                RBrace@904..905 "}"
            RParen@905..906 ")"
            Whitespace@906..907 " "
        EXPR_IF_THEN@907..950
          BLOCK@907..950
            LBrace@907..908 "{"
            Whitespace@908..917 "\n        "
            EXPR_CALL@917..948
              EXPR_IDENT@917..924
                PATH@917..924
                  Ident@917..924 "println"
              ARG_LIST@924..948
                LParen@924..925 "("
                ARG@925..942
                  EXPR_STR@925..942
                    Str@925..942 "\"block condition\""
                RParen@942..943 ")"
                Whitespace@943..948 "\n    "
            RBrace@948..949 "}"
            Whitespace@949..950 "\n"
      RBrace@950..951 "}"
      Whitespace@951..952 "\n"