FILE@0..1773
  TRAIT@0..71
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Source"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..71
      TRAIT_ASSOCIATED_TYPE@19..34
        TypeKeyword@19..23 "type"
        Whitespace@23..24 " "
        Ident@24..28 "Item"
        Semi@28..29 ";"
        Whitespace@29..34 "\n    "
      TRAIT_METHOD_SIG@34..68
        FnKeyword@34..36 "fn"
        Whitespace@36..37 " "
        Ident@37..40 "get"
        PARAM_LIST@40..53
          LParen@40..41 "("
          PARAM@41..51
            Ident@41..45 "self"
            Colon@45..46 ":"
            Whitespace@46..47 " "
            TYPE_TAPP@47..51
              PATH@47..51
                Ident@47..51 "Self"
          RParen@51..52 ")"
          Whitespace@52..53 " "
        Arrow@53..55 "->"
        Whitespace@55..56 " "
        TYPE_TAPP@56..66
          PATH@56..66
            Ident@56..60 "Self"
            ColonColon@60..62 "::"
            Ident@62..66 "Item"
        Semi@66..67 ";"
        Whitespace@67..68 "\n"
      RBrace@68..69 "}"
      Whitespace@69..71 "\n\n"
  STRUCT@71..114
    StructKeyword@71..77 "struct"
    Whitespace@77..78 " "
    Ident@78..90 "NumberSource"
    Whitespace@90..91 " "
    LBrace@91..92 "{"
    Whitespace@92..97 "\n    "
    STRUCT_FIELD_LIST@97..114
      STRUCT_FIELD@97..109
        Ident@97..102 "value"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_INT@104..109
          IsizeKeyword@104..109 "isize"
      Comma@109..110 ","
      Whitespace@110..111 "\n"
      RBrace@111..112 "}"
      Whitespace@112..114 "\n\n"
  IMPL@114..239
    ImplKeyword@114..118 "impl"
    Whitespace@118..119 " "
    TYPE_TAPP@119..126
      PATH@119..126
        Ident@119..125 "Source"
        Whitespace@125..126 " "
    ForKeyword@126..129 "for"
    Whitespace@129..130 " "
    TYPE_TAPP@130..143
      PATH@130..143
        Ident@130..142 "NumberSource"
        Whitespace@142..143 " "
    LBrace@143..144 "{"
    Whitespace@144..149 "\n    "
    IMPL_ASSOCIATED_TYPE@149..173
      TypeKeyword@149..153 "type"
      Whitespace@153..154 " "
      Ident@154..158 "Item"
      Whitespace@158..159 " "
      Eq@159..160 "="
      Whitespace@160..161 " "
      TYPE_INT@161..166
        IsizeKeyword@161..166 "isize"
      Semi@166..167 ";"
      Whitespace@167..173 "\n\n    "
    FN@173..236
      FnKeyword@173..175 "fn"
      Whitespace@175..176 " "
      Ident@176..179 "get"
      PARAM_LIST@179..200
        LParen@179..180 "("
        PARAM@180..198
          Ident@180..184 "self"
          Colon@184..185 ":"
          Whitespace@185..186 " "
          TYPE_TAPP@186..198
            PATH@186..198
              Ident@186..198 "NumberSource"
        RParen@198..199 ")"
        Whitespace@199..200 " "
      Arrow@200..202 "->"
      Whitespace@202..203 " "
      TYPE_INT@203..209
        IsizeKeyword@203..208 "isize"
        Whitespace@208..209 " "
      BLOCK@209..236
        LBrace@209..210 "{"
        Whitespace@210..219 "\n        "
        EXPR_BINARY@219..234
          EXPR_IDENT@219..223
            PATH@219..223
              Ident@219..223 "self"
          Dot@223..224 "."
          EXPR_IDENT@224..234
            PATH@224..234
              Ident@224..229 "value"
              Whitespace@229..234 "\n    "
        RBrace@234..235 "}"
        Whitespace@235..236 "\n"
    RBrace@236..237 "}"
    Whitespace@237..239 "\n\n"
  FN@239..312
    FnKeyword@239..241 "fn"
    Whitespace@241..242 " "
    Ident@242..246 "read"
    PARAM_LIST@246..281
      LParen@246..247 "("
      PARAM@247..279
        Ident@247..253 "source"
        Colon@253..254 ":"
        Whitespace@254..255 " "
        TYPE_DYN@255..279
          DynKeyword@255..258 "dyn"
          Whitespace@258..259 " "
          DYN_BOUND@259..279
            PATH@259..265
              Ident@259..265 "Source"
            DYN_ARG_LIST@265..279
              LBracket@265..266 "["
              DYN_ASSOC_BINDING@266..278
                Ident@266..270 "Item"
                Whitespace@270..271 " "
                Eq@271..272 "="
                Whitespace@272..273 " "
                TYPE_INT@273..278
                  IsizeKeyword@273..278 "isize"
              RBracket@278..279 "]"
      RParen@279..280 ")"
      Whitespace@280..281 " "
    Arrow@281..283 "->"
    Whitespace@283..284 " "
    TYPE_INT@284..290
      IsizeKeyword@284..289 "isize"
      Whitespace@289..290 " "
    BLOCK@290..312
      LBrace@290..291 "{"
      Whitespace@291..296 "\n    "
      EXPR_CALL@296..309
        EXPR_BINARY@296..306
          EXPR_IDENT@296..302
            PATH@296..302
              Ident@296..302 "source"
          Dot@302..303 "."
          EXPR_IDENT@303..306
            PATH@303..306
              Ident@303..306 "get"
        ARG_LIST@306..309
          LParen@306..307 "("
          RParen@307..308 ")"
          Whitespace@308..309 "\n"
      RBrace@309..310 "}"
      Whitespace@310..312 "\n\n"
  FN@312..504
    FnKeyword@312..314 "fn"
    Whitespace@314..315 " "
    Ident@315..330 "labeled_cleanup"
    PARAM_LIST@330..333
      LParen@330..331 "("
      RParen@331..332 ")"
      Whitespace@332..333 " "
    Arrow@333..335 "->"
    Whitespace@335..336 " "
    TYPE_TUPLE@336..339
      TYPE_LIST@336..339
        LParen@336..337 "("
        RParen@337..338 ")"
        Whitespace@338..339 " "
    BLOCK@339..504
      LBrace@339..340 "{"
      Whitespace@340..345 "\n    "
      EXPR_LOOP@345..501
        Label@345..351 "'outer"
        Colon@351..352 ":"
        Whitespace@352..353 " "
        LoopKeyword@353..357 "loop"
        Whitespace@357..358 " "
        BLOCK@358..501
          LBrace@358..359 "{"
          Whitespace@359..368 "\n        "
          STMT_DEFER@368..408
            DeferKeyword@368..373 "defer"
            Whitespace@373..374 " "
            EXPR_CALL@374..398
              EXPR_IDENT@374..381
                PATH@374..381
                  Ident@374..381 "println"
              ARG_LIST@381..398
                LParen@381..382 "("
                ARG@382..397
                  EXPR_STR@382..397
                    Str@382..397 "\"outer cleanup\""
                RParen@397..398 ")"
            Semi@398..399 ";"
            Whitespace@399..408 "\n        "
          EXPR_LOOP@408..499
            LoopKeyword@408..412 "loop"
            Whitespace@412..413 " "
            BLOCK@413..499
              LBrace@413..414 "{"
              Whitespace@414..427 "\n            "
              STMT_DEFER@427..471
                DeferKeyword@427..432 "defer"
                Whitespace@432..433 " "
                EXPR_CALL@433..457
                  EXPR_IDENT@433..440
                    PATH@433..440
                      Ident@433..440 "println"
                  ARG_LIST@440..457
                    LParen@440..441 "("
                    ARG@441..456
                      EXPR_STR@441..456
                        Str@441..456 "\"inner cleanup\""
                    RParen@456..457 ")"
                Semi@457..458 ";"
                Whitespace@458..471 "\n            "
              STMT_EXPR@471..493
                EXPR_BREAK@471..483
                  BreakKeyword@471..476 "break"
                  Whitespace@476..477 " "
                  Label@477..483 "'outer"
                Semi@483..484 ";"
                Whitespace@484..493 "\n        "
              RBrace@493..494 "}"
              Whitespace@494..499 "\n    "
          RBrace@499..500 "}"
          Whitespace@500..501 "\n"
      RBrace@501..502 "}"
      Whitespace@502..504 "\n\n"
  FN@504..1773
    FnKeyword@504..506 "fn"
    Whitespace@506..507 " "
    Ident@507..511 "main"
    PARAM_LIST@511..514
      LParen@511..512 "("
      RParen@512..513 ")"
      Whitespace@513..514 " "
    Arrow@514..516 "->"
    Whitespace@516..517 " "
    TYPE_TUPLE@517..520
      TYPE_LIST@517..520
        LParen@517..518 "("
        RParen@518..519 ")"
        Whitespace@519..520 " "
    BLOCK@520..1773
      LBrace@520..521 "{"
      Whitespace@521..526 "\n    "
      STMT_EXPR@526..603
        EXPR_CALL@526..597
          EXPR_IDENT@526..533
            PATH@526..533
              Ident@526..533 "println"
          ARG_LIST@533..597
            LParen@533..534 "("
            ARG@534..596
              EXPR_CALL@534..596
                EXPR_IDENT@534..538
                  PATH@534..538
                    Ident@534..538 "read"
                ARG_LIST@538..596
                  LParen@538..539 "("
                  ARG@539..595
                    EXPR_CAST@539..595
                      EXPR_PAREN@539..568
                        LParen@539..540 "("
                        EXPR_STRUCT_LITERAL@540..566
                          PATH@540..553
                            Ident@540..552 "NumberSource"
                            Whitespace@552..553 " "
                          STRUCT_LITERAL_FIELD_LIST@553..566
                            LBrace@553..554 "{"
                            Whitespace@554..555 " "
                            STRUCT_LITERAL_FIELD@555..565
                              Ident@555..560 "value"
                              Colon@560..561 ":"
                              Whitespace@561..562 " "
                              EXPR_INT@562..565
                                Int@562..564 "11"
                                Whitespace@564..565 " "
                            RBrace@565..566 "}"
                        RParen@566..567 ")"
                        Whitespace@567..568 " "
                      AsKeyword@568..570 "as"
                      Whitespace@570..571 " "
                      TYPE_DYN@571..595
                        DynKeyword@571..574 "dyn"
                        Whitespace@574..575 " "
                        DYN_BOUND@575..595
                          PATH@575..581
                            Ident@575..581 "Source"
                          DYN_ARG_LIST@581..595
                            LBracket@581..582 "["
                            DYN_ASSOC_BINDING@582..594
                              Ident@582..586 "Item"
                              Whitespace@586..587 " "
                              Eq@587..588 "="
                              Whitespace@588..589 " "
                              TYPE_INT@589..594
                                IsizeKeyword@589..594 "isize"
                            RBracket@594..595 "]"
                  RParen@595..596 ")"
            RParen@596..597 ")"
        Semi@597..598 ";"
        Whitespace@598..603 "\n    "
      STMT_LET@603..640
        LetKeyword@603..606 "let"
        Whitespace@606..607 " "
        PATTERN_TUPLE@607..626
          LParen@607..608 "("
          PATTERN_VARIABLE@608..617
            MutKeyword@608..611 "mut"
            Whitespace@611..612 " "
            Ident@612..617 "index"
          Comma@617..618 ","
          Whitespace@618..619 " "
          PATTERN_VARIABLE@619..624
            Ident@619..624 "value"
          RParen@624..625 ")"
          Whitespace@625..626 " "
        Eq@626..627 "="
        Whitespace@627..628 " "
        EXPR_TUPLE@628..634
          LParen@628..629 "("
          EXPR_INT@629..630
            Int@629..630 "1"
          Comma@630..631 ","
          Whitespace@631..632 " "
          EXPR_INT@632..633
            Int@632..633 "2"
          RParen@633..634 ")"
        Semi@634..635 ";"
        Whitespace@635..640 "\n    "
      STMT_ASSIGN@640..660
        EXPR_IDENT@640..646
          PATH@640..646
            Ident@640..645 "index"
            Whitespace@645..646 " "
        PlusEq@646..648 "+="
        Whitespace@648..649 " "
        EXPR_IDENT@649..654
          PATH@649..654
            Ident@649..654 "value"
        Semi@654..655 ";"
        Whitespace@655..660 "\n    "
      STMT_EXPR@660..680
        EXPR_CALL@660..674
          EXPR_IDENT@660..667
            PATH@660..667
              Ident@660..667 "println"
          ARG_LIST@667..674
            LParen@667..668 "("
            ARG@668..673
              EXPR_IDENT@668..673
                PATH@668..673
                  Ident@668..673 "index"
            RParen@673..674 ")"
        Semi@674..675 ";"
        Whitespace@675..680 "\n    "
      STMT_LET@680..716
        LetKeyword@680..683 "let"
        Whitespace@683..684 " "
        PATTERN_TUPLE@684..702
          LParen@684..685 "("
          PATTERN_VARIABLE@685..697
            MutKeyword@685..688 "mut"
            Whitespace@688..689 " "
            Ident@689..697 "captured"
          Comma@697..698 ","
          Whitespace@698..699 " "
          PATTERN_WILDCARD@699..700
            WildcardKeyword@699..700 "_"
          RParen@700..701 ")"
          Whitespace@701..702 " "
        Eq@702..703 "="
        Whitespace@703..704 " "
        EXPR_TUPLE@704..710
          LParen@704..705 "("
          EXPR_INT@705..706
            Int@705..706 "3"
          Comma@706..707 ","
          Whitespace@707..708 " "
          EXPR_INT@708..709
            Int@708..709 "0"
          RParen@709..710 ")"
        Semi@710..711 ";"
        Whitespace@711..716 "\n    "
      STMT_LET@716..771
        LetKeyword@716..719 "let"
        Whitespace@719..720 " "
        PATTERN_VARIABLE@720..730
          Ident@720..729 "increment"
          Whitespace@729..730 " "
        Eq@730..731 "="
        Whitespace@731..732 " "
        EXPR_CLOSURE@732..765
          CLOSURE_PARAM_LIST@732..735
            OrOr@732..734 "||"
            Whitespace@734..735 " "
          EXPR_CLOSURE_BODY@735..765
            BLOCK@735..765
              LBrace@735..736 "{"
              Whitespace@736..745 "\n        "
              STMT_ASSIGN@745..764
                EXPR_IDENT@745..754
                  PATH@745..754
                    Ident@745..753 "captured"
                    Whitespace@753..754 " "
                PlusEq@754..756 "+="
                Whitespace@756..757 " "
                EXPR_INT@757..758
                  Int@757..758 "1"
                Semi@758..759 ";"
                Whitespace@759..764 "\n    "
              RBrace@764..765 "}"
        Semi@765..766 ";"
        Whitespace@766..771 "\n    "
      STMT_EXPR@771..788
        EXPR_CALL@771..782
          EXPR_IDENT@771..780
            PATH@771..780
              Ident@771..780 "increment"
          ARG_LIST@780..782
            LParen@780..781 "("
            RParen@781..782 ")"
        Semi@782..783 ";"
        Whitespace@783..788 "\n    "
      STMT_EXPR@788..811
        EXPR_CALL@788..805
          EXPR_IDENT@788..795
            PATH@788..795
              Ident@788..795 "println"
          ARG_LIST@795..805
            LParen@795..796 "("
            ARG@796..804
              EXPR_IDENT@796..804
                PATH@796..804
                  Ident@796..804 "captured"
            RParen@804..805 ")"
        Semi@805..806 ";"
        Whitespace@806..811 "\n    "
      STMT_EXPR@811..957
        EXPR_MATCH@811..951
          MatchKeyword@811..816 "match"
          Whitespace@816..817 " "
          EXPR_CALL@817..833
            EXPR_IDENT@817..829
              PATH@817..829
                Ident@817..823 "Option"
                ColonColon@823..825 "::"
                Ident@825..829 "Some"
            ARG_LIST@829..833
              LParen@829..830 "("
              ARG@830..831
                EXPR_INT@830..831
                  Int@830..831 "4"
              RParen@831..832 ")"
              Whitespace@832..833 " "
          MATCH_ARM_LIST@833..951
            LBrace@833..834 "{"
            Whitespace@834..843 "\n        "
            MATCH_ARM@843..924
              PATTERN_CONSTR@843..859
                PATH@843..847
                  Ident@843..847 "Some"
                LParen@847..848 "("
                PATTERN_VARIABLE@848..857
                  MutKeyword@848..851 "mut"
                  Whitespace@851..852 " "
                  Ident@852..857 "count"
                RParen@857..858 ")"
                Whitespace@858..859 " "
              FatArrow@859..861 "=>"
              Whitespace@861..862 " "
              BLOCK@862..924
                LBrace@862..863 "{"
                Whitespace@863..876 "\n            "
                STMT_ASSIGN@876..900
                  EXPR_IDENT@876..882
                    PATH@876..882
                      Ident@876..881 "count"
                      Whitespace@881..882 " "
                  PlusEq@882..884 "+="
                  Whitespace@884..885 " "
                  EXPR_INT@885..886
                    Int@885..886 "1"
                  Semi@886..887 ";"
                  Whitespace@887..900 "\n            "
                EXPR_CALL@900..923
                  EXPR_IDENT@900..907
                    PATH@900..907
                      Ident@900..907 "println"
                  ARG_LIST@907..923
                    LParen@907..908 "("
                    ARG@908..913
                      EXPR_IDENT@908..913
                        PATH@908..913
                          Ident@908..913 "count"
                    RParen@913..914 ")"
                    Whitespace@914..923 "\n        "
                RBrace@923..924 "}"
            Comma@924..925 ","
            Whitespace@925..934 "\n        "
            MATCH_ARM@934..944
              PATTERN_CONSTR@934..939
                PATH@934..939
                  Ident@934..938 "None"
                  Whitespace@938..939 " "
              FatArrow@939..941 "=>"
              Whitespace@941..942 " "
              EXPR_UNIT@942..944
                LParen@942..943 "("
                RParen@943..944 ")"
            Comma@944..945 ","
            Whitespace@945..950 "\n    "
            RBrace@950..951 "}"
        Semi@951..952 ";"
        Whitespace@952..957 "\n    "
      STMT_LET@957..986
        LetKeyword@957..960 "let"
        Whitespace@960..961 " "
        PATTERN_VARIABLE@961..968
          Ident@961..967 "values"
          Whitespace@967..968 " "
        Eq@968..969 "="
        Whitespace@969..970 " "
        EXPR_CALL@970..980
          EXPR_IDENT@970..978
            PATH@970..978
              Ident@970..973 "Vec"
              ColonColon@973..975 "::"
              Ident@975..978 "new"
          ARG_LIST@978..980
            LParen@978..979 "("
            RParen@979..980 ")"
        Semi@980..981 ";"
        Whitespace@981..986 "\n    "
      STMT_EXPR@986..1006
        EXPR_CALL@986..1000
          EXPR_BINARY@986..997
            EXPR_IDENT@986..992
              PATH@986..992
                Ident@986..992 "values"
            Dot@992..993 "."
            EXPR_IDENT@993..997
              PATH@993..997
                Ident@993..997 "push"
          ARG_LIST@997..1000
            LParen@997..998 "("
            ARG@998..999
              EXPR_INT@998..999
                Int@998..999 "6"
            RParen@999..1000 ")"
        Semi@1000..1001 ";"
        Whitespace@1001..1006 "\n    "
      STMT_EXPR@1006..1083
        EXPR_FOR@1006..1077
          ForKeyword@1006..1009 "for"
          Whitespace@1009..1010 " "
          PATTERN_VARIABLE@1010..1019
            MutKeyword@1010..1013 "mut"
            Whitespace@1013..1014 " "
            Ident@1014..1018 "item"
            Whitespace@1018..1019 " "
          InKeyword@1019..1021 "in"
          Whitespace@1021..1022 " "
          EXPR_IDENT@1022..1029
            PATH@1022..1029
              Ident@1022..1028 "values"
              Whitespace@1028..1029 " "
          BLOCK@1029..1077
            LBrace@1029..1030 "{"
            Whitespace@1030..1039 "\n        "
            STMT_ASSIGN@1039..1058
              EXPR_IDENT@1039..1044
                PATH@1039..1044
                  Ident@1039..1043 "item"
                  Whitespace@1043..1044 " "
              PlusEq@1044..1046 "+="
              Whitespace@1046..1047 " "
              EXPR_INT@1047..1048
                Int@1047..1048 "1"
              Semi@1048..1049 ";"
              Whitespace@1049..1058 "\n        "
            EXPR_CALL@1058..1076
              EXPR_IDENT@1058..1065
                PATH@1058..1065
                  Ident@1058..1065 "println"
              ARG_LIST@1065..1076
                LParen@1065..1066 "("
                ARG@1066..1070
                  EXPR_IDENT@1066..1070
                    PATH@1066..1070
                      Ident@1066..1070 "item"
                RParen@1070..1071 ")"
                Whitespace@1071..1076 "\n    "
            RBrace@1076..1077 "}"
        Semi@1077..1078 ";"
        Whitespace@1078..1083 "\n    "
      STMT_LET@1083..1111
        LetKeyword@1083..1086 "let"
        Whitespace@1086..1087 " "
        MutKeyword@1087..1090 "mut"
        Whitespace@1090..1091 " "
        PATTERN_VARIABLE@1091..1097
          Ident@1091..1096 "tuple"
          Whitespace@1096..1097 " "
        Eq@1097..1098 "="
        Whitespace@1098..1099 " "
        EXPR_TUPLE@1099..1105
          LParen@1099..1100 "("
          EXPR_INT@1100..1101
            Int@1100..1101 "8"
          Comma@1101..1102 ","
          Whitespace@1102..1103 " "
          EXPR_INT@1103..1104
            Int@1103..1104 "9"
          RParen@1104..1105 ")"
        Semi@1105..1106 ";"
        Whitespace@1106..1111 "\n    "
      STMT_ASSIGN@1111..1129
        EXPR_BINARY@1111..1119
          EXPR_IDENT@1111..1116
            PATH@1111..1116
              Ident@1111..1116 "tuple"
          Dot@1116..1117 "."
          EXPR_INT@1117..1119
            Int@1117..1118 "0"
            Whitespace@1118..1119 " "
        PlusEq@1119..1121 "+="
        Whitespace@1121..1122 " "
        EXPR_INT@1122..1123
          Int@1122..1123 "1"
        Semi@1123..1124 ";"
        Whitespace@1124..1129 "\n    "
      STMT_ASSIGN@1129..1147
        EXPR_BINARY@1129..1137
          EXPR_IDENT@1129..1134
            PATH@1129..1134
              Ident@1129..1134 "tuple"
          Dot@1134..1135 "."
          EXPR_INT@1135..1137
            Int@1135..1136 "1"
            Whitespace@1136..1137 " "
        PlusEq@1137..1139 "+="
        Whitespace@1139..1140 " "
        EXPR_INT@1140..1141
          Int@1140..1141 "1"
        Semi@1141..1142 ";"
        Whitespace@1142..1147 "\n    "
      STMT_EXPR@1147..1179
        EXPR_CALL@1147..1173
          EXPR_IDENT@1147..1154
            PATH@1147..1154
              Ident@1147..1154 "println"
          ARG_LIST@1154..1173
            LParen@1154..1155 "("
            ARG@1155..1172
              EXPR_BINARY@1155..1172
                EXPR_BINARY@1155..1163
                  EXPR_IDENT@1155..1160
                    PATH@1155..1160
                      Ident@1155..1160 "tuple"
                  Dot@1160..1161 "."
                  EXPR_INT@1161..1163
                    Int@1161..1162 "0"
                    Whitespace@1162..1163 " "
                Plus@1163..1164 "+"
                Whitespace@1164..1165 " "
                EXPR_BINARY@1165..1172
                  EXPR_IDENT@1165..1170
                    PATH@1165..1170
                      Ident@1165..1170 "tuple"
                  Dot@1170..1171 "."
                  EXPR_INT@1171..1172
                    Int@1171..1172 "1"
            RParen@1172..1173 ")"
        Semi@1173..1174 ";"
        Whitespace@1174..1179 "\n    "
      STMT_LET@1179..1202
        LetKeyword@1179..1182 "let"
        Whitespace@1182..1183 " "
        MutKeyword@1183..1186 "mut"
        Whitespace@1186..1187 " "
        PATTERN_VARIABLE@1187..1193
          Ident@1187..1192 "steps"
          Whitespace@1192..1193 " "
        Eq@1193..1194 "="
        Whitespace@1194..1195 " "
        EXPR_INT@1195..1196
          Int@1195..1196 "0"
        Semi@1196..1197 ";"
        Whitespace@1197..1202 "\n    "
      STMT_EXPR@1202..1313
        EXPR_WHILE@1202..1307
          Label@1202..1208 "'outer"
          Colon@1208..1209 ":"
          Whitespace@1209..1210 " "
          WhileKeyword@1210..1215 "while"
          Whitespace@1215..1216 " "
          EXPR_WHILE_COND@1216..1226
            EXPR_BINARY@1216..1226
              EXPR_IDENT@1216..1222
                PATH@1216..1222
                  Ident@1216..1221 "steps"
                  Whitespace@1221..1222 " "
              Less@1222..1223 "<"
              Whitespace@1223..1224 " "
              EXPR_INT@1224..1226
                Int@1224..1225 "3"
                Whitespace@1225..1226 " "
          EXPR_WHILE_BODY@1226..1307
            BLOCK@1226..1307
              LBrace@1226..1227 "{"
              Whitespace@1227..1236 "\n        "
              STMT_ASSIGN@1236..1256
                EXPR_IDENT@1236..1242
                  PATH@1236..1242
                    Ident@1236..1241 "steps"
                    Whitespace@1241..1242 " "
                PlusEq@1242..1244 "+="
                Whitespace@1244..1245 " "
                EXPR_INT@1245..1246
                  Int@1245..1246 "1"
                Semi@1246..1247 ";"
                Whitespace@1247..1256 "\n        "
              EXPR_LOOP@1256..1306
                LoopKeyword@1256..1260 "loop"
                Whitespace@1260..1261 " "
                BLOCK@1261..1306
                  LBrace@1261..1262 "{"
                  Whitespace@1262..1275 "\n            "
                  STMT_EXPR@1275..1300
                    EXPR_CONTINUE@1275..1290
                      ContinueKeyword@1275..1283 "continue"
                      Whitespace@1283..1284 " "
                      Label@1284..1290 "'outer"
                    Semi@1290..1291 ";"
                    Whitespace@1291..1300 "\n        "
                  RBrace@1300..1301 "}"
                  Whitespace@1301..1306 "\n    "
              RBrace@1306..1307 "}"
        Semi@1307..1308 ";"
        Whitespace@1308..1313 "\n    "
      STMT_EXPR@1313..1333
        EXPR_CALL@1313..1327
          EXPR_IDENT@1313..1320
            PATH@1313..1320
              Ident@1313..1320 "println"
          ARG_LIST@1320..1327
            LParen@1320..1321 "("
            ARG@1321..1326
              EXPR_IDENT@1321..1326
                PATH@1321..1326
                  Ident@1321..1326 "steps"
            RParen@1326..1327 ")"
        Semi@1327..1328 ";"
        Whitespace@1328..1333 "\n    "
      STMT_LET@1333..1361
        LetKeyword@1333..1336 "let"
        Whitespace@1336..1337 " "
        PATTERN_VARIABLE@1337..1342
          Ident@1337..1341 "seen"
          Whitespace@1341..1342 " "
        Eq@1342..1343 "="
        Whitespace@1343..1344 " "
        EXPR_CALL@1344..1355
          EXPR_IDENT@1344..1352
            PATH@1344..1352
              Ident@1344..1347 "Ref"
              ColonColon@1347..1349 "::"
              Ident@1349..1352 "new"
          ARG_LIST@1352..1355
            LParen@1352..1353 "("
            ARG@1353..1354
              EXPR_INT@1353..1354
                Int@1353..1354 "0"
            RParen@1354..1355 ")"
        Semi@1355..1356 ";"
        Whitespace@1356..1361 "\n    "
      STMT_EXPR@1361..1612
        EXPR_FOR@1361..1606
          Label@1361..1366 "'rows"
          Colon@1366..1367 ":"
          Whitespace@1367..1368 " "
          ForKeyword@1368..1371 "for"
          Whitespace@1371..1372 " "
          PATTERN_VARIABLE@1372..1376
            Ident@1372..1375 "row"
            Whitespace@1375..1376 " "
          InKeyword@1376..1378 "in"
          Whitespace@1378..1379 " "
          EXPR_CALL@1379..1391
            EXPR_IDENT@1379..1384
              PATH@1379..1384
                Ident@1379..1384 "range"
            ARG_LIST@1384..1391
              LParen@1384..1385 "("
              ARG@1385..1388
                EXPR_INT@1385..1386
                  Int@1385..1386 "0"
                Comma@1386..1387 ","
                Whitespace@1387..1388 " "
              ARG@1388..1389
                EXPR_INT@1388..1389
                  Int@1388..1389 "3"
              RParen@1389..1390 ")"
              Whitespace@1390..1391 " "
          BLOCK@1391..1606
            LBrace@1391..1392 "{"
            Whitespace@1392..1401 "\n        "
            EXPR_FOR@1401..1605
              ForKeyword@1401..1404 "for"
              Whitespace@1404..1405 " "
              PATTERN_VARIABLE@1405..1412
                Ident@1405..1411 "column"
                Whitespace@1411..1412 " "
              InKeyword@1412..1414 "in"
              Whitespace@1414..1415 " "
              EXPR_CALL@1415..1427
                EXPR_IDENT@1415..1420
                  PATH@1415..1420
                    Ident@1415..1420 "range"
                ARG_LIST@1420..1427
                  LParen@1420..1421 "("
                  ARG@1421..1424
                    EXPR_INT@1421..1422
                      Int@1421..1422 "0"
                    Comma@1422..1423 ","
                    Whitespace@1423..1424 " "
                  ARG@1424..1425
                    EXPR_INT@1424..1425
                      Int@1424..1425 "3"
                  RParen@1425..1426 ")"
                  Whitespace@1426..1427 " "
              BLOCK@1427..1605
                LBrace@1427..1428 "{"
                Whitespace@1428..1441 "\n            "
                STMT_EXPR@1441..1479
                  EXPR_CALL@1441..1465
                    EXPR_BINARY@1441..1449
                      EXPR_IDENT@1441..1445
                        PATH@1441..1445
                          Ident@1441..1445 "seen"
                      Dot@1445..1446 "."
                      EXPR_IDENT@1446..1449
                        PATH@1446..1449
                          Ident@1446..1449 "set"
                    ARG_LIST@1449..1465
                      LParen@1449..1450 "("
                      ARG@1450..1464
                        EXPR_BINARY@1450..1464
                          EXPR_CALL@1450..1461
                            EXPR_BINARY@1450..1458
                              EXPR_IDENT@1450..1454
                                PATH@1450..1454
                                  Ident@1450..1454 "seen"
                              Dot@1454..1455 "."
                              EXPR_IDENT@1455..1458
                                PATH@1455..1458
                                  Ident@1455..1458 "get"
                            ARG_LIST@1458..1461
                              LParen@1458..1459 "("
                              RParen@1459..1460 ")"
                              Whitespace@1460..1461 " "
                          Plus@1461..1462 "+"
                          Whitespace@1462..1463 " "
                          EXPR_INT@1463..1464
                            Int@1463..1464 "1"
                      RParen@1464..1465 ")"
                  Semi@1465..1466 ";"
                  Whitespace@1466..1479 "\n            "
                EXPR_IF@1479..1599
                  IfKeyword@1479..1481 "if"
                  Whitespace@1481..1482 " "
                  EXPR_IF_COND@1482..1506
                    EXPR_BINARY@1482..1506
                      EXPR_BINARY@1482..1491
                        EXPR_IDENT@1482..1486
                          PATH@1482..1486
                            Ident@1482..1485 "row"
                            Whitespace@1485..1486 " "
                        EqEq@1486..1488 "=="
                        Whitespace@1488..1489 " "
                        EXPR_INT@1489..1491
                          Int@1489..1490 "1"
                          Whitespace@1490..1491 " "
                      AndAnd@1491..1493 "&&"
                      Whitespace@1493..1494 " "
                      EXPR_BINARY@1494..1506
                        EXPR_IDENT@1494..1501
                          PATH@1494..1501
                            Ident@1494..1500 "column"
                            Whitespace@1500..1501 " "
                        EqEq@1501..1503 "=="
                        Whitespace@1503..1504 " "
                        EXPR_INT@1504..1506
                          Int@1504..1505 "1"
                          Whitespace@1505..1506 " "
                  EXPR_IF_THEN@1506..1551
                    BLOCK@1506..1551
                      LBrace@1506..1507 "{"
                      Whitespace@1507..1524 "\n                "
                      STMT_EXPR@1524..1549
                        EXPR_BREAK@1524..1535
                          BreakKeyword@1524..1529 "break"
                          Whitespace@1529..1530 " "
                          Label@1530..1535 "'rows"
                        Semi@1535..1536 ";"
                        Whitespace@1536..1549 "\n            "
                      RBrace@1549..1550 "}"
                      Whitespace@1550..1551 " "
                  ElseKeyword@1551..1555 "else"
                  Whitespace@1555..1556 " "
                  EXPR_IF_ELSE@1556..1599
                    BLOCK@1556..1599
                      LBrace@1556..1557 "{"
                      Whitespace@1557..1574 "\n                "
                      EXPR_UNIT@1574..1589
                        LParen@1574..1575 "("
                        RParen@1575..1576 ")"
                        Whitespace@1576..1589 "\n            "
                      RBrace@1589..1590 "}"
                      Whitespace@1590..1599 "\n        "
                RBrace@1599..1600 "}"
                Whitespace@1600..1605 "\n    "
            RBrace@1605..1606 "}"
        Semi@1606..1607 ";"
        Whitespace@1607..1612 "\n    "
      STMT_EXPR@1612..1637
        EXPR_CALL@1612..1631
          EXPR_IDENT@1612..1619
            PATH@1612..1619
              Ident@1612..1619 "println"
          ARG_LIST@1619..1631
            LParen@1619..1620 "("
            ARG@1620..1630
              EXPR_CALL@1620..1630
                EXPR_BINARY@1620..1628
                  EXPR_IDENT@1620..1624
                    PATH@1620..1624
                      Ident@1620..1624 "seen"
                  Dot@1624..1625 "."
                  EXPR_IDENT@1625..1628
                    PATH@1625..1628
                      Ident@1625..1628 "get"
                ARG_LIST@1628..1630
                  LParen@1628..1629 "("
                  RParen@1629..1630 ")"
            RParen@1630..1631 ")"
        Semi@1631..1632 ";"
        Whitespace@1632..1637 "\n    "
      STMT_LET@1637..1732
        LetKeyword@1637..1640 "let"
        Whitespace@1640..1641 " "
        PATTERN_VARIABLE@1641..1648
          Ident@1641..1647 "answer"
          Whitespace@1647..1648 " "
        Eq@1648..1649 "="
        Whitespace@1649..1650 " "
        EXPR_LOOP@1650..1726
          Label@1650..1657 "'result"
          Colon@1657..1658 ":"
          Whitespace@1658..1659 " "
          LoopKeyword@1659..1663 "loop"
          Whitespace@1663..1664 " "
          BLOCK@1664..1726
            LBrace@1664..1665 "{"
            Whitespace@1665..1674 "\n        "
            EXPR_LOOP@1674..1725
              LoopKeyword@1674..1678 "loop"
              Whitespace@1678..1679 " "
              BLOCK@1679..1725
                LBrace@1679..1680 "{"
                Whitespace@1680..1693 "\n            "
                STMT_EXPR@1693..1719
                  EXPR_BREAK@1693..1709
                    BreakKeyword@1693..1698 "break"
                    Whitespace@1698..1699 " "
                    Label@1699..1706 "'result"
                    Whitespace@1706..1707 " "
                    EXPR_INT@1707..1709
                      Int@1707..1709 "42"
                  Semi@1709..1710 ";"
                  Whitespace@1710..1719 "\n        "
                RBrace@1719..1720 "}"
                Whitespace@1720..1725 "\n    "
            RBrace@1725..1726 "}"
        Semi@1726..1727 ";"
        Whitespace@1727..1732 "\n    "
      STMT_EXPR@1732..1753
        EXPR_CALL@1732..1747
          EXPR_IDENT@1732..1739
            PATH@1732..1739
              Ident@1732..1739 "println"
          ARG_LIST@1739..1747
            LParen@1739..1740 "("
            ARG@1740..1746
              EXPR_IDENT@1740..1746
                PATH@1740..1746
                  Ident@1740..1746 "answer"
            RParen@1746..1747 ")"
        Semi@1747..1748 ";"
        Whitespace@1748..1753 "\n    "
      EXPR_CALL@1753..1771
        EXPR_IDENT@1753..1768
          PATH@1753..1768
            Ident@1753..1768 "labeled_cleanup"
        ARG_LIST@1768..1771
          LParen@1768..1769 "("
          RParen@1769..1770 ")"
          Whitespace@1770..1771 "\n"
      RBrace@1771..1772 "}"
      Whitespace@1772..1773 "\n"