FILE@0..268
  FN@0..148
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..11 "classify"
    PARAM_LIST@11..22
      LParen@11..12 "("
      PARAM@12..20
        Ident@12..13 "n"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_INT32@15..20
          Int32Keyword@15..20 "int32"
      RParen@20..21 ")"
      Whitespace@21..22 " "
    Arrow@22..24 "->"
    Whitespace@24..25 " "
    TYPE_STRING@25..32
      StringKeyword@25..31 "string"
      Whitespace@31..32 " "
    BLOCK@32..148
      LBrace@32..33 "{"
      Whitespace@33..38 "\n    "
      EXPR_MATCH@38..145
        MatchKeyword@38..43 "match"
        Whitespace@43..44 " "
        EXPR_IDENT@44..46
          PATH@44..46
            Ident@44..45 "n"
            Whitespace@45..46 " "
        MATCH_ARM_LIST@46..145
          LBrace@46..47 "{"
          Whitespace@47..56 "\n        "
          MATCH_ARM@56..74
            PATTERN_INT@56..60
              Minus@56..57 "-"
              Whitespace@57..58 " "
              Int@58..59 "1"
              Whitespace@59..60 " "
            FatArrow@60..62 "=>"
            Whitespace@62..63 " "
            EXPR_STR@63..74
              Str@63..74 "\"minus one\""
          Comma@74..75 ","
          Whitespace@75..84 "\n        "
          MATCH_ARM@84..95
            PATTERN_INT@84..86
              Int@84..85 "0"
              Whitespace@85..86 " "
            FatArrow@86..88 "=>"
            Whitespace@88..89 " "
            EXPR_STR@89..95
              Str@89..95 "\"zero\""
          Comma@95..96 ","
          Whitespace@96..105 "\n        "
          MATCH_ARM@105..115
            PATTERN_INT@105..107
              Int@105..106 "1"
              Whitespace@106..107 " "
            FatArrow@107..109 "=>"
            Whitespace@109..110 " "
            EXPR_STR@110..115
              Str@110..115 "\"one\""
          Comma@115..116 ","
          Whitespace@116..125 "\n        "
          MATCH_ARM@125..137
            PATTERN_WILDCARD@125..127
              WildcardKeyword@125..126 "_"
              Whitespace@126..127 " "
            FatArrow@127..129 "=>"
            Whitespace@129..130 " "
            EXPR_STR@130..137
              Str@130..137 "\"other\""
          Comma@137..138 ","
          Whitespace@138..143 "\n    "
          RBrace@143..144 "}"
          Whitespace@144..145 "\n"
      RBrace@145..146 "}"
      Whitespace@146..148 "\n\n"
  FN@148..268
    FnKeyword@148..150 "fn"
    Whitespace@150..151 " "
    Ident@151..155 "main"
    PARAM_LIST@155..158
      LParen@155..156 "("
      RParen@156..157 ")"
      Whitespace@157..158 " "
    BLOCK@158..268
      LBrace@158..159 "{"
      Whitespace@159..164 "\n    "
      STMT_EXPR@164..191
        EXPR_CALL@164..185
          EXPR_IDENT@164..171
            PATH@164..171
              Ident@164..171 "println"
          ARG_LIST@171..185
            LParen@171..172 "("
            ARG@172..184
              EXPR_CALL@172..184
                EXPR_IDENT@172..180
                  PATH@172..180
                    Ident@172..180 "classify"
                ARG_LIST@180..184
                  LParen@180..181 "("
                  ARG@181..183
                    EXPR_PREFIX@181..183
                      Minus@181..182 "-"
                      EXPR_INT@182..183
                        Int@182..183 "1"
                  RParen@183..184 ")"
            RParen@184..185 ")"
        Semi@185..186 ";"
        Whitespace@186..191 "\n    "
      STMT_EXPR@191..217
        EXPR_CALL@191..211
          EXPR_IDENT@191..198
            PATH@191..198
              Ident@191..198 "println"
          ARG_LIST@198..211
            LParen@198..199 "("
            ARG@199..210
              EXPR_CALL@199..210
                EXPR_IDENT@199..207
                  PATH@199..207
                    Ident@199..207 "classify"
                ARG_LIST@207..210
                  LParen@207..208 "("
                  ARG@208..209
                    EXPR_INT@208..209
                      Int@208..209 "0"
                  RParen@209..210 ")"
            RParen@210..211 ")"
        Semi@211..212 ";"
        Whitespace@212..217 "\n    "
      STMT_EXPR@217..243
        EXPR_CALL@217..237
          EXPR_IDENT@217..224
            PATH@217..224
              Ident@217..224 "println"
          ARG_LIST@224..237
            LParen@224..225 "("
            ARG@225..236
              EXPR_CALL@225..236
                EXPR_IDENT@225..233
                  PATH@225..233
                    Ident@225..233 "classify"
                ARG_LIST@233..236
                  LParen@233..234 "("
                  ARG@234..235
                    EXPR_INT@234..235
                      Int@234..235 "1"
                  RParen@235..236 ")"
            RParen@236..237 ")"
        Semi@237..238 ";"
        Whitespace@238..243 "\n    "
      STMT_EXPR@243..266
        EXPR_CALL@243..264
          EXPR_IDENT@243..250
            PATH@243..250
              Ident@243..250 "println"
          ARG_LIST@250..264
            LParen@250..251 "("
            ARG@251..263
              EXPR_CALL@251..263
                EXPR_IDENT@251..259
                  PATH@251..259
                    Ident@251..259 "classify"
                ARG_LIST@259..263
                  LParen@259..260 "("
                  ARG@260..262
                    EXPR_INT@260..262
                      Int@260..262 "42"
                  RParen@262..263 ")"
            RParen@263..264 ")"
        Semi@264..265 ";"
        Whitespace@265..266 "\n"
      RBrace@266..267 "}"
      Whitespace@267..268 "\n"