FILE@0..266
  FN@0..146
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..11 "classify"
    PARAM_LIST@11..20
      LParen@11..12 "("
      PARAM@12..18
        Ident@12..13 "n"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_INT32@15..18
          I32Keyword@15..18 "i32"
      RParen@18..19 ")"
      Whitespace@19..20 " "
    Arrow@20..22 "->"
    Whitespace@22..23 " "
    TYPE_STRING@23..30
      StringKeyword@23..29 "string"
      Whitespace@29..30 " "
    BLOCK@30..146
      LBrace@30..31 "{"
      Whitespace@31..36 "\n    "
      EXPR_MATCH@36..143
        MatchKeyword@36..41 "match"
        Whitespace@41..42 " "
        EXPR_IDENT@42..44
          PATH@42..44
            Ident@42..43 "n"
            Whitespace@43..44 " "
        MATCH_ARM_LIST@44..143
          LBrace@44..45 "{"
          Whitespace@45..54 "\n        "
          MATCH_ARM@54..72
            PATTERN_INT@54..58
              Minus@54..55 "-"
              Whitespace@55..56 " "
              Int@56..57 "1"
              Whitespace@57..58 " "
            FatArrow@58..60 "=>"
            Whitespace@60..61 " "
            EXPR_STR@61..72
              Str@61..72 "\"minus one\""
          Comma@72..73 ","
          Whitespace@73..82 "\n        "
          MATCH_ARM@82..93
            PATTERN_INT@82..84
              Int@82..83 "0"
              Whitespace@83..84 " "
            FatArrow@84..86 "=>"
            Whitespace@86..87 " "
            EXPR_STR@87..93
              Str@87..93 "\"zero\""
          Comma@93..94 ","
          Whitespace@94..103 "\n        "
          MATCH_ARM@103..113
            PATTERN_INT@103..105
              Int@103..104 "1"
              Whitespace@104..105 " "
            FatArrow@105..107 "=>"
            Whitespace@107..108 " "
            EXPR_STR@108..113
              Str@108..113 "\"one\""
          Comma@113..114 ","
          Whitespace@114..123 "\n        "
          MATCH_ARM@123..135
            PATTERN_WILDCARD@123..125
              WildcardKeyword@123..124 "_"
              Whitespace@124..125 " "
            FatArrow@125..127 "=>"
            Whitespace@127..128 " "
            EXPR_STR@128..135
              Str@128..135 "\"other\""
          Comma@135..136 ","
          Whitespace@136..141 "\n    "
          RBrace@141..142 "}"
          Whitespace@142..143 "\n"
      RBrace@143..144 "}"
      Whitespace@144..146 "\n\n"
  FN@146..266
    FnKeyword@146..148 "fn"
    Whitespace@148..149 " "
    Ident@149..153 "main"
    PARAM_LIST@153..156
      LParen@153..154 "("
      RParen@154..155 ")"
      Whitespace@155..156 " "
    BLOCK@156..266
      LBrace@156..157 "{"
      Whitespace@157..162 "\n    "
      STMT_EXPR@162..189
        EXPR_CALL@162..183
          EXPR_IDENT@162..169
            PATH@162..169
              Ident@162..169 "println"
          ARG_LIST@169..183
            LParen@169..170 "("
            ARG@170..182
              EXPR_CALL@170..182
                EXPR_IDENT@170..178
                  PATH@170..178
                    Ident@170..178 "classify"
                ARG_LIST@178..182
                  LParen@178..179 "("
                  ARG@179..181
                    EXPR_PREFIX@179..181
                      Minus@179..180 "-"
                      EXPR_INT@180..181
                        Int@180..181 "1"
                  RParen@181..182 ")"
            RParen@182..183 ")"
        Semi@183..184 ";"
        Whitespace@184..189 "\n    "
      STMT_EXPR@189..215
        EXPR_CALL@189..209
          EXPR_IDENT@189..196
            PATH@189..196
              Ident@189..196 "println"
          ARG_LIST@196..209
            LParen@196..197 "("
            ARG@197..208
              EXPR_CALL@197..208
                EXPR_IDENT@197..205
                  PATH@197..205
                    Ident@197..205 "classify"
                ARG_LIST@205..208
                  LParen@205..206 "("
                  ARG@206..207
                    EXPR_INT@206..207
                      Int@206..207 "0"
                  RParen@207..208 ")"
            RParen@208..209 ")"
        Semi@209..210 ";"
        Whitespace@210..215 "\n    "
      STMT_EXPR@215..241
        EXPR_CALL@215..235
          EXPR_IDENT@215..222
            PATH@215..222
              Ident@215..222 "println"
          ARG_LIST@222..235
            LParen@222..223 "("
            ARG@223..234
              EXPR_CALL@223..234
                EXPR_IDENT@223..231
                  PATH@223..231
                    Ident@223..231 "classify"
                ARG_LIST@231..234
                  LParen@231..232 "("
                  ARG@232..233
                    EXPR_INT@232..233
                      Int@232..233 "1"
                  RParen@233..234 ")"
            RParen@234..235 ")"
        Semi@235..236 ";"
        Whitespace@236..241 "\n    "
      STMT_EXPR@241..264
        EXPR_CALL@241..262
          EXPR_IDENT@241..248
            PATH@241..248
              Ident@241..248 "println"
          ARG_LIST@248..262
            LParen@248..249 "("
            ARG@249..261
              EXPR_CALL@249..261
                EXPR_IDENT@249..257
                  PATH@249..257
                    Ident@249..257 "classify"
                ARG_LIST@257..261
                  LParen@257..258 "("
                  ARG@258..260
                    EXPR_INT@258..260
                      Int@258..260 "42"
                  RParen@260..261 ")"
            RParen@261..262 ")"
        Semi@262..263 ";"
        Whitespace@263..264 "\n"
      RBrace@264..265 "}"
      Whitespace@265..266 "\n"