FILE@0..677
  FN@0..179
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..13 "signed_sum"
    PARAM_LIST@13..77
      LParen@13..14 "("
      PARAM@14..25
        Ident@14..19 "first"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_INT8@21..23
          I8Keyword@21..23 "i8"
        Comma@23..24 ","
        Whitespace@24..25 " "
      PARAM@25..38
        Ident@25..31 "second"
        Colon@31..32 ":"
        Whitespace@32..33 " "
        TYPE_INT16@33..36
          I16Keyword@33..36 "i16"
        Comma@36..37 ","
        Whitespace@37..38 " "
      PARAM@38..50
        Ident@38..43 "third"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_INT32@45..48
          I32Keyword@45..48 "i32"
        Comma@48..49 ","
        Whitespace@49..50 " "
      PARAM@50..63
        Ident@50..56 "fourth"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_INT64@58..61
          I64Keyword@58..61 "i64"
        Comma@61..62 ","
        Whitespace@62..63 " "
      PARAM@63..75
        Ident@63..68 "fifth"
        Colon@68..69 ":"
        Whitespace@69..70 " "
        TYPE_INT@70..75
          IsizeKeyword@70..75 "isize"
      RParen@75..76 ")"
      Whitespace@76..77 " "
    Arrow@77..79 "->"
    Whitespace@79..80 " "
    TYPE_INT@80..86
      IsizeKeyword@80..85 "isize"
      Whitespace@85..86 " "
    BLOCK@86..179
      LBrace@86..87 "{"
      Whitespace@87..92 "\n    "
      EXPR_BINARY@92..176
        EXPR_BINARY@92..168
          EXPR_BINARY@92..148
            EXPR_BINARY@92..129
              EXPR_CALL@92..109
                EXPR_BINARY@92..106
                  EXPR_IDENT@92..97
                    PATH@92..97
                      Ident@92..97 "first"
                  Dot@97..98 "."
                  EXPR_IDENT@98..106
                    PATH@98..106
                      Ident@98..106 "to_isize"
                ARG_LIST@106..109
                  LParen@106..107 "("
                  RParen@107..108 ")"
                  Whitespace@108..109 " "
              Plus@109..110 "+"
              Whitespace@110..111 " "
              EXPR_CALL@111..129
                EXPR_BINARY@111..126
                  EXPR_IDENT@111..117
                    PATH@111..117
                      Ident@111..117 "second"
                  Dot@117..118 "."
                  EXPR_IDENT@118..126
                    PATH@118..126
                      Ident@118..126 "to_isize"
                ARG_LIST@126..129
                  LParen@126..127 "("
                  RParen@127..128 ")"
                  Whitespace@128..129 " "
            Plus@129..130 "+"
            Whitespace@130..131 " "
            EXPR_CALL@131..148
              EXPR_BINARY@131..145
                EXPR_IDENT@131..136
                  PATH@131..136
                    Ident@131..136 "third"
                Dot@136..137 "."
                EXPR_IDENT@137..145
                  PATH@137..145
                    Ident@137..145 "to_isize"
              ARG_LIST@145..148
                LParen@145..146 "("
                RParen@146..147 ")"
                Whitespace@147..148 " "
          Plus@148..149 "+"
          Whitespace@149..150 " "
          EXPR_CALL@150..168
            EXPR_BINARY@150..165
              EXPR_IDENT@150..156
                PATH@150..156
                  Ident@150..156 "fourth"
              Dot@156..157 "."
              EXPR_IDENT@157..165
                PATH@157..165
                  Ident@157..165 "to_isize"
            ARG_LIST@165..168
              LParen@165..166 "("
              RParen@166..167 ")"
              Whitespace@167..168 " "
        Plus@168..169 "+"
        Whitespace@169..170 " "
        EXPR_IDENT@170..176
          PATH@170..176
            Ident@170..175 "fifth"
            Whitespace@175..176 "\n"
      RBrace@176..177 "}"
      Whitespace@177..179 "\n\n"
  FN@179..360
    FnKeyword@179..181 "fn"
    Whitespace@181..182 " "
    Ident@182..194 "unsigned_sum"
    PARAM_LIST@194..258
      LParen@194..195 "("
      PARAM@195..206
        Ident@195..200 "first"
        Colon@200..201 ":"
        Whitespace@201..202 " "
        TYPE_UINT8@202..204
          U8Keyword@202..204 "u8"
        Comma@204..205 ","
        Whitespace@205..206 " "
      PARAM@206..219
        Ident@206..212 "second"
        Colon@212..213 ":"
        Whitespace@213..214 " "
        TYPE_UINT16@214..217
          U16Keyword@214..217 "u16"
        Comma@217..218 ","
        Whitespace@218..219 " "
      PARAM@219..231
        Ident@219..224 "third"
        Colon@224..225 ":"
        Whitespace@225..226 " "
        TYPE_UINT32@226..229
          U32Keyword@226..229 "u32"
        Comma@229..230 ","
        Whitespace@230..231 " "
      PARAM@231..244
        Ident@231..237 "fourth"
        Colon@237..238 ":"
        Whitespace@238..239 " "
        TYPE_UINT64@239..242
          U64Keyword@239..242 "u64"
        Comma@242..243 ","
        Whitespace@243..244 " "
      PARAM@244..256
        Ident@244..249 "fifth"
        Colon@249..250 ":"
        Whitespace@250..251 " "
        TYPE_UINT@251..256
          UsizeKeyword@251..256 "usize"
      RParen@256..257 ")"
      Whitespace@257..258 " "
    Arrow@258..260 "->"
    Whitespace@260..261 " "
    TYPE_UINT@261..267
      UsizeKeyword@261..266 "usize"
      Whitespace@266..267 " "
    BLOCK@267..360
      LBrace@267..268 "{"
      Whitespace@268..273 "\n    "
      EXPR_BINARY@273..357
        EXPR_BINARY@273..349
          EXPR_BINARY@273..329
            EXPR_BINARY@273..310
              EXPR_CALL@273..290
                EXPR_BINARY@273..287
                  EXPR_IDENT@273..278
                    PATH@273..278
                      Ident@273..278 "first"
                  Dot@278..279 "."
                  EXPR_IDENT@279..287
                    PATH@279..287
                      Ident@279..287 "to_usize"
                ARG_LIST@287..290
                  LParen@287..288 "("
                  RParen@288..289 ")"
                  Whitespace@289..290 " "
              Plus@290..291 "+"
              Whitespace@291..292 " "
              EXPR_CALL@292..310
                EXPR_BINARY@292..307
                  EXPR_IDENT@292..298
                    PATH@292..298
                      Ident@292..298 "second"
                  Dot@298..299 "."
                  EXPR_IDENT@299..307
                    PATH@299..307
                      Ident@299..307 "to_usize"
                ARG_LIST@307..310
                  LParen@307..308 "("
                  RParen@308..309 ")"
                  Whitespace@309..310 " "
            Plus@310..311 "+"
            Whitespace@311..312 " "
            EXPR_CALL@312..329
              EXPR_BINARY@312..326
                EXPR_IDENT@312..317
                  PATH@312..317
                    Ident@312..317 "third"
                Dot@317..318 "."
                EXPR_IDENT@318..326
                  PATH@318..326
                    Ident@318..326 "to_usize"
              ARG_LIST@326..329
                LParen@326..327 "("
                RParen@327..328 ")"
                Whitespace@328..329 " "
          Plus@329..330 "+"
          Whitespace@330..331 " "
          EXPR_CALL@331..349
            EXPR_BINARY@331..346
              EXPR_IDENT@331..337
                PATH@331..337
                  Ident@331..337 "fourth"
              Dot@337..338 "."
              EXPR_IDENT@338..346
                PATH@338..346
                  Ident@338..346 "to_usize"
            ARG_LIST@346..349
              LParen@346..347 "("
              RParen@347..348 ")"
              Whitespace@348..349 " "
        Plus@349..350 "+"
        Whitespace@350..351 " "
        EXPR_IDENT@351..357
          PATH@351..357
            Ident@351..356 "fifth"
            Whitespace@356..357 "\n"
      RBrace@357..358 "}"
      Whitespace@358..360 "\n\n"
  FN@360..677
    FnKeyword@360..362 "fn"
    Whitespace@362..363 " "
    Ident@363..367 "main"
    PARAM_LIST@367..370
      LParen@367..368 "("
      RParen@368..369 ")"
      Whitespace@369..370 " "
    Arrow@370..372 "->"
    Whitespace@372..373 " "
    TYPE_TUPLE@373..376
      TYPE_LIST@373..376
        LParen@373..374 "("
        RParen@374..375 ")"
        Whitespace@375..376 " "
    BLOCK@376..677
      LBrace@376..377 "{"
      Whitespace@377..382 "\n    "
      STMT_LET@382..408
        LetKeyword@382..385 "let"
        Whitespace@385..386 " "
        PATTERN_VARIABLE@386..391
          Ident@386..391 "small"
        Colon@391..392 ":"
        Whitespace@392..393 " "
        TYPE_FLOAT32@393..397
          F32Keyword@393..396 "f32"
          Whitespace@396..397 " "
        Eq@397..398 "="
        Whitespace@398..399 " "
        EXPR_FLOAT@399..402
          Float@399..402 "1.5"
        Semi@402..403 ";"
        Whitespace@403..408 "\n    "
      STMT_LET@408..435
        LetKeyword@408..411 "let"
        Whitespace@411..412 " "
        PATTERN_VARIABLE@412..417
          Ident@412..417 "large"
        Colon@417..418 ":"
        Whitespace@418..419 " "
        TYPE_FLOAT64@419..423
          F64Keyword@419..422 "f64"
          Whitespace@422..423 " "
        Eq@423..424 "="
        Whitespace@424..425 " "
        EXPR_FLOAT@425..429
          Float@425..429 "2.25"
        Semi@429..430 ";"
        Whitespace@430..435 "\n    "
      STMT_LET@435..463
        LetKeyword@435..438 "let"
        Whitespace@438..439 " "
        PATTERN_VARIABLE@439..444
          Ident@439..444 "value"
        Colon@444..445 ":"
        Whitespace@445..446 " "
        TYPE_TAPP@446..451
          PATH@446..451
            Ident@446..450 "byte"
            Whitespace@450..451 " "
        Eq@451..452 "="
        Whitespace@452..453 " "
        EXPR_BYTE@453..457
          ByteCharLit@453..457 "b'A'"
        Semi@457..458 ";"
        Whitespace@458..463 "\n    "
      STMT_EXPR@463..504
        EXPR_CALL@463..498
          EXPR_IDENT@463..470
            PATH@463..470
              Ident@463..470 "println"
          ARG_LIST@470..498
            LParen@470..471 "("
            ARG@471..497
              EXPR_CALL@471..497
                EXPR_IDENT@471..481
                  PATH@471..481
                    Ident@471..481 "signed_sum"
                ARG_LIST@481..497
                  LParen@481..482 "("
                  ARG@482..486
                    EXPR_PREFIX@482..484
                      Minus@482..483 "-"
                      EXPR_INT@483..484
                        Int@483..484 "1"
                    Comma@484..485 ","
                    Whitespace@485..486 " "
                  ARG@486..489
                    EXPR_INT@486..487
                      Int@486..487 "2"
                    Comma@487..488 ","
                    Whitespace@488..489 " "
                  ARG@489..492
                    EXPR_INT@489..490
                      Int@489..490 "3"
                    Comma@490..491 ","
                    Whitespace@491..492 " "
                  ARG@492..495
                    EXPR_INT@492..493
                      Int@492..493 "4"
                    Comma@493..494 ","
                    Whitespace@494..495 " "
                  ARG@495..496
                    EXPR_INT@495..496
                      Int@495..496 "5"
                  RParen@496..497 ")"
            RParen@497..498 ")"
        Semi@498..499 ";"
        Whitespace@499..504 "\n    "
      STMT_EXPR@504..546
        EXPR_CALL@504..540
          EXPR_IDENT@504..511
            PATH@504..511
              Ident@504..511 "println"
          ARG_LIST@511..540
            LParen@511..512 "("
            ARG@512..539
              EXPR_CALL@512..539
                EXPR_IDENT@512..524
                  PATH@512..524
                    Ident@512..524 "unsigned_sum"
                ARG_LIST@524..539
                  LParen@524..525 "("
                  ARG@525..528
                    EXPR_INT@525..526
                      Int@525..526 "1"
                    Comma@526..527 ","
                    Whitespace@527..528 " "
                  ARG@528..531
                    EXPR_INT@528..529
                      Int@528..529 "2"
                    Comma@529..530 ","
                    Whitespace@530..531 " "
                  ARG@531..534
                    EXPR_INT@531..532
                      Int@531..532 "3"
                    Comma@532..533 ","
                    Whitespace@533..534 " "
                  ARG@534..537
                    EXPR_INT@534..535
                      Int@534..535 "4"
                    Comma@535..536 ","
                    Whitespace@536..537 " "
                  ARG@537..538
                    EXPR_INT@537..538
                      Int@537..538 "5"
                  RParen@538..539 ")"
            RParen@539..540 ")"
        Semi@540..541 ";"
        Whitespace@541..546 "\n    "
      STMT_EXPR@546..604
        EXPR_CALL@546..598
          EXPR_IDENT@546..553
            PATH@546..553
              Ident@546..553 "println"
          ARG_LIST@553..598
            LParen@553..554 "("
            ARG@554..597
              EXPR_BINARY@554..597
                EXPR_BINARY@554..578
                  EXPR_CALL@554..572
                    EXPR_BINARY@554..569
                      EXPR_IDENT@554..559
                        PATH@554..559
                          Ident@554..559 "small"
                      Dot@559..560 "."
                      EXPR_IDENT@560..569
                        PATH@560..569
                          Ident@560..569 "to_string"
                    ARG_LIST@569..572
                      LParen@569..570 "("
                      RParen@570..571 ")"
                      Whitespace@571..572 " "
                  Plus@572..573 "+"
                  Whitespace@573..574 " "
                  EXPR_STR@574..578
                    Str@574..577 "\",\""
                    Whitespace@577..578 " "
                Plus@578..579 "+"
                Whitespace@579..580 " "
                EXPR_CALL@580..597
                  EXPR_BINARY@580..595
                    EXPR_IDENT@580..585
                      PATH@580..585
                        Ident@580..585 "large"
                    Dot@585..586 "."
                    EXPR_IDENT@586..595
                      PATH@586..595
                        Ident@586..595 "to_string"
                  ARG_LIST@595..597
                    LParen@595..596 "("
                    RParen@596..597 ")"
            RParen@597..598 ")"
        Semi@598..599 ";"
        Whitespace@599..604 "\n    "
      STMT_EXPR@604..633
        EXPR_CALL@604..627
          EXPR_IDENT@604..611
            PATH@604..611
              Ident@604..611 "println"
          ARG_LIST@611..627
            LParen@611..612 "("
            ARG@612..626
              EXPR_CALL@612..626
                EXPR_BINARY@612..624
                  EXPR_IDENT@612..617
                    PATH@612..617
                      Ident@612..617 "value"
                  Dot@617..618 "."
                  EXPR_IDENT@618..624
                    PATH@618..624
                      Ident@618..624 "to_u16"
                ARG_LIST@624..626
                  LParen@624..625 "("
                  RParen@625..626 ")"
            RParen@626..627 ")"
        Semi@627..628 ";"
        Whitespace@628..633 "\n    "
      EXPR_CALL@633..675
        EXPR_IDENT@633..640
          PATH@633..640
            Ident@633..640 "println"
        ARG_LIST@640..675
          LParen@640..641 "("
          ARG@641..673
            EXPR_CALL@641..673
              EXPR_BINARY@641..668
                EXPR_CALL@641..658
                  EXPR_IDENT@641..654
                    PATH@641..654
                      Ident@641..654 "char_from_u32"
                  ARG_LIST@654..658
                    LParen@654..655 "("
                    ARG@655..657
                      EXPR_INT@655..657
                        Int@655..657 "65"
                    RParen@657..658 ")"
                Dot@658..659 "."
                EXPR_IDENT@659..668
                  PATH@659..668
                    Ident@659..668 "unwrap_or"
              ARG_LIST@668..673
                LParen@668..669 "("
                ARG@669..672
                  EXPR_CHAR@669..672
                    CharLit@669..672 "'?'"
                RParen@672..673 ")"
          RParen@673..674 ")"
          Whitespace@674..675 "\n"
      RBrace@675..676 "}"
      Whitespace@676..677 "\n"