FILE@0..750
  FN@0..134
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "early"
    PARAM_LIST@8..17
      LParen@8..9 "("
      PARAM@9..15
        Ident@9..10 "x"
        Colon@10..11 ":"
        Whitespace@11..12 " "
        TYPE_INT32@12..15
          I32Keyword@12..15 "i32"
      RParen@15..16 ")"
      Whitespace@16..17 " "
    Arrow@17..19 "->"
    Whitespace@19..20 " "
    TYPE_INT32@20..24
      I32Keyword@20..23 "i32"
      Whitespace@23..24 " "
    BLOCK@24..134
      LBrace@24..25 "{"
      Whitespace@25..30 "\n    "
      STMT_EXPR@30..77
        EXPR_IF@30..71
          IfKeyword@30..32 "if"
          Whitespace@32..33 " "
          EXPR_IF_COND@33..39
            EXPR_BINARY@33..39
              EXPR_IDENT@33..35
                PATH@33..35
                  Ident@33..34 "x"
                  Whitespace@34..35 " "
              Less@35..36 "<"
              Whitespace@36..37 " "
              EXPR_INT@37..39
                Int@37..38 "0"
                Whitespace@38..39 " "
          EXPR_IF_THEN@39..64
            BLOCK@39..64
              LBrace@39..40 "{"
              Whitespace@40..49 "\n        "
              EXPR_RETURN@49..62
                ReturnKeyword@49..55 "return"
                Whitespace@55..56 " "
                EXPR_INT@56..62
                  Int@56..57 "0"
                  Whitespace@57..62 "\n    "
              RBrace@62..63 "}"
              Whitespace@63..64 " "
          ElseKeyword@64..68 "else"
          Whitespace@68..69 " "
          EXPR_IF_ELSE@69..71
            BLOCK@69..71
              LBrace@69..70 "{"
              RBrace@70..71 "}"
        Semi@71..72 ";"
        Whitespace@72..77 "\n    "
      STMT_EXPR@77..125
        EXPR_IF@77..119
          IfKeyword@77..79 "if"
          Whitespace@79..80 " "
          EXPR_IF_COND@80..87
            EXPR_BINARY@80..87
              EXPR_IDENT@80..82
                PATH@80..82
                  Ident@80..81 "x"
                  Whitespace@81..82 " "
              EqEq@82..84 "=="
              Whitespace@84..85 " "
              EXPR_INT@85..87
                Int@85..86 "0"
                Whitespace@86..87 " "
          EXPR_IF_THEN@87..112
            BLOCK@87..112
              LBrace@87..88 "{"
              Whitespace@88..97 "\n        "
              EXPR_RETURN@97..110
                ReturnKeyword@97..103 "return"
                Whitespace@103..104 " "
                EXPR_INT@104..110
                  Int@104..105 "1"
                  Whitespace@105..110 "\n    "
              RBrace@110..111 "}"
              Whitespace@111..112 " "
          ElseKeyword@112..116 "else"
          Whitespace@116..117 " "
          EXPR_IF_ELSE@117..119
            BLOCK@117..119
              LBrace@117..118 "{"
              RBrace@118..119 "}"
        Semi@119..120 ";"
        Whitespace@120..125 "\n    "
      EXPR_BINARY@125..131
        EXPR_IDENT@125..127
          PATH@125..127
            Ident@125..126 "x"
            Whitespace@126..127 " "
        Plus@127..128 "+"
        Whitespace@128..129 " "
        EXPR_INT@129..131
          Int@129..130 "2"
          Whitespace@130..131 "\n"
      RBrace@131..132 "}"
      Whitespace@132..134 "\n\n"
  FN@134..284
    FnKeyword@134..136 "fn"
    Whitespace@136..137 " "
    Ident@137..150 "closure_early"
    PARAM_LIST@150..159
      LParen@150..151 "("
      PARAM@151..157
        Ident@151..152 "x"
        Colon@152..153 ":"
        Whitespace@153..154 " "
        TYPE_INT32@154..157
          I32Keyword@154..157 "i32"
      RParen@157..158 ")"
      Whitespace@158..159 " "
    Arrow@159..161 "->"
    Whitespace@161..162 " "
    TYPE_INT32@162..166
      I32Keyword@162..165 "i32"
      Whitespace@165..166 " "
    BLOCK@166..284
      LBrace@166..167 "{"
      Whitespace@167..172 "\n    "
      STMT_LET@172..276
        LetKeyword@172..175 "let"
        Whitespace@175..176 " "
        PATTERN_VARIABLE@176..178
          Ident@176..177 "f"
          Whitespace@177..178 " "
        Eq@178..179 "="
        Whitespace@179..180 " "
        EXPR_CLOSURE@180..270
          CLOSURE_PARAM_LIST@180..189
            Pipe@180..181 "|"
            CLOSURE_PARAM@181..187
              Ident@181..182 "y"
              Colon@182..183 ":"
              Whitespace@183..184 " "
              TYPE_INT32@184..187
                I32Keyword@184..187 "i32"
            Pipe@187..188 "|"
            Whitespace@188..189 " "
          EXPR_CLOSURE_BODY@189..270
            BLOCK@189..270
              LBrace@189..190 "{"
              Whitespace@190..199 "\n        "
              STMT_EXPR@199..258
                EXPR_IF@199..248
                  IfKeyword@199..201 "if"
                  Whitespace@201..202 " "
                  EXPR_IF_COND@202..208
                    EXPR_BINARY@202..208
                      EXPR_IDENT@202..204
                        PATH@202..204
                          Ident@202..203 "y"
                          Whitespace@203..204 " "
                      Greater@204..205 ">"
                      Whitespace@205..206 " "
                      EXPR_INT@206..208
                        Int@206..207 "5"
                        Whitespace@207..208 " "
                  EXPR_IF_THEN@208..241
                    BLOCK@208..241
                      LBrace@208..209 "{"
                      Whitespace@209..222 "\n            "
                      EXPR_RETURN@222..239
                        ReturnKeyword@222..228 "return"
                        Whitespace@228..229 " "
                        EXPR_IDENT@229..239
                          PATH@229..239
                            Ident@229..230 "y"
                            Whitespace@230..239 "\n        "
                      RBrace@239..240 "}"
                      Whitespace@240..241 " "
                  ElseKeyword@241..245 "else"
                  Whitespace@245..246 " "
                  EXPR_IF_ELSE@246..248
                    BLOCK@246..248
                      LBrace@246..247 "{"
                      RBrace@247..248 "}"
                Semi@248..249 ";"
                Whitespace@249..258 "\n        "
              EXPR_BINARY@258..269
                EXPR_IDENT@258..260
                  PATH@258..260
                    Ident@258..259 "y"
                    Whitespace@259..260 " "
                Plus@260..261 "+"
                Whitespace@261..262 " "
                EXPR_INT@262..269
                  Int@262..264 "10"
                  Whitespace@264..269 "\n    "
              RBrace@269..270 "}"
        Semi@270..271 ";"
        Whitespace@271..276 "\n    "
      EXPR_CALL@276..281
        EXPR_IDENT@276..277
          PATH@276..277
            Ident@276..277 "f"
        ARG_LIST@277..281
          LParen@277..278 "("
          ARG@278..279
            EXPR_IDENT@278..279
              PATH@278..279
                Ident@278..279 "x"
          RParen@279..280 ")"
          Whitespace@280..281 "\n"
      RBrace@281..282 "}"
      Whitespace@282..284 "\n\n"
  FN@284..387
    FnKeyword@284..286 "fn"
    Whitespace@286..287 " "
    Ident@287..295 "unit_ret"
    PARAM_LIST@295..308
      LParen@295..296 "("
      PARAM@296..306
        Ident@296..300 "flag"
        Colon@300..301 ":"
        Whitespace@301..302 " "
        TYPE_BOOL@302..306
          BoolKeyword@302..306 "bool"
      RParen@306..307 ")"
      Whitespace@307..308 " "
    BLOCK@308..387
      LBrace@308..309 "{"
      Whitespace@309..314 "\n    "
      STMT_EXPR@314..358
        EXPR_IF@314..352
          IfKeyword@314..316 "if"
          Whitespace@316..317 " "
          EXPR_IF_COND@317..322
            EXPR_IDENT@317..322
              PATH@317..322
                Ident@317..321 "flag"
                Whitespace@321..322 " "
          EXPR_IF_THEN@322..345
            BLOCK@322..345
              LBrace@322..323 "{"
              Whitespace@323..332 "\n        "
              EXPR_RETURN@332..343
                ReturnKeyword@332..338 "return"
                Whitespace@338..343 "\n    "
              RBrace@343..344 "}"
              Whitespace@344..345 " "
          ElseKeyword@345..349 "else"
          Whitespace@349..350 " "
          EXPR_IF_ELSE@350..352
            BLOCK@350..352
              LBrace@350..351 "{"
              RBrace@351..352 "}"
        Semi@352..353 ";"
        Whitespace@353..358 "\n    "
      STMT_LET@358..384
        LetKeyword@358..361 "let"
        Whitespace@361..362 " "
        PATTERN_WILDCARD@362..364
          WildcardKeyword@362..363 "_"
          Whitespace@363..364 " "
        Eq@364..365 "="
        Whitespace@365..366 " "
        EXPR_CALL@366..382
          EXPR_IDENT@366..373
            PATH@366..373
              Ident@366..373 "println"
          ARG_LIST@373..382
            LParen@373..374 "("
            ARG@374..381
              EXPR_STR@374..381
                Str@374..381 "\"after\""
            RParen@381..382 ")"
        Semi@382..383 ";"
        Whitespace@383..384 "\n"
      RBrace@384..385 "}"
      Whitespace@385..387 "\n\n"
  FN@387..750
    FnKeyword@387..389 "fn"
    Whitespace@389..390 " "
    Ident@390..394 "main"
    PARAM_LIST@394..397
      LParen@394..395 "("
      RParen@395..396 ")"
      Whitespace@396..397 " "
    BLOCK@397..750
      LBrace@397..398 "{"
      Whitespace@398..403 "\n    "
      STMT_LET@403..431
        LetKeyword@403..406 "let"
        Whitespace@406..407 " "
        PATTERN_WILDCARD@407..409
          WildcardKeyword@407..408 "_"
          Whitespace@408..409 " "
        Eq@409..410 "="
        Whitespace@410..411 " "
        EXPR_CALL@411..425
          EXPR_IDENT@411..416
            PATH@411..416
              Ident@411..416 "print"
          ARG_LIST@416..425
            LParen@416..417 "("
            ARG@417..424
              EXPR_STR@417..424
                Str@417..424 "\"e-1: \""
            RParen@424..425 ")"
        Semi@425..426 ";"
        Whitespace@426..431 "\n    "
      STMT_LET@431..463
        LetKeyword@431..434 "let"
        Whitespace@434..435 " "
        PATTERN_WILDCARD@435..437
          WildcardKeyword@435..436 "_"
          Whitespace@436..437 " "
        Eq@437..438 "="
        Whitespace@438..439 " "
        EXPR_CALL@439..457
          EXPR_IDENT@439..446
            PATH@439..446
              Ident@439..446 "println"
          ARG_LIST@446..457
            LParen@446..447 "("
            ARG@447..456
              EXPR_CALL@447..456
                EXPR_IDENT@447..452
                  PATH@447..452
                    Ident@447..452 "early"
                ARG_LIST@452..456
                  LParen@452..453 "("
                  ARG@453..455
                    EXPR_PREFIX@453..455
                      Minus@453..454 "-"
                      EXPR_INT@454..455
                        Int@454..455 "1"
                  RParen@455..456 ")"
            RParen@456..457 ")"
        Semi@457..458 ";"
        Whitespace@458..463 "\n    "
      STMT_LET@463..490
        LetKeyword@463..466 "let"
        Whitespace@466..467 " "
        PATTERN_WILDCARD@467..469
          WildcardKeyword@467..468 "_"
          Whitespace@468..469 " "
        Eq@469..470 "="
        Whitespace@470..471 " "
        EXPR_CALL@471..484
          EXPR_IDENT@471..476
            PATH@471..476
              Ident@471..476 "print"
          ARG_LIST@476..484
            LParen@476..477 "("
            ARG@477..483
              EXPR_STR@477..483
                Str@477..483 "\"e0: \""
            RParen@483..484 ")"
        Semi@484..485 ";"
        Whitespace@485..490 "\n    "
      STMT_LET@490..521
        LetKeyword@490..493 "let"
        Whitespace@493..494 " "
        PATTERN_WILDCARD@494..496
          WildcardKeyword@494..495 "_"
          Whitespace@495..496 " "
        Eq@496..497 "="
        Whitespace@497..498 " "
        EXPR_CALL@498..515
          EXPR_IDENT@498..505
            PATH@498..505
              Ident@498..505 "println"
          ARG_LIST@505..515
            LParen@505..506 "("
            ARG@506..514
              EXPR_CALL@506..514
                EXPR_IDENT@506..511
                  PATH@506..511
                    Ident@506..511 "early"
                ARG_LIST@511..514
                  LParen@511..512 "("
                  ARG@512..513
                    EXPR_INT@512..513
                      Int@512..513 "0"
                  RParen@513..514 ")"
            RParen@514..515 ")"
        Semi@515..516 ";"
        Whitespace@516..521 "\n    "
      STMT_LET@521..548
        LetKeyword@521..524 "let"
        Whitespace@524..525 " "
        PATTERN_WILDCARD@525..527
          WildcardKeyword@525..526 "_"
          Whitespace@526..527 " "
        Eq@527..528 "="
        Whitespace@528..529 " "
        EXPR_CALL@529..542
          EXPR_IDENT@529..534
            PATH@529..534
              Ident@529..534 "print"
          ARG_LIST@534..542
            LParen@534..535 "("
            ARG@535..541
              EXPR_STR@535..541
                Str@535..541 "\"e3: \""
            RParen@541..542 ")"
        Semi@542..543 ";"
        Whitespace@543..548 "\n    "
      STMT_LET@548..579
        LetKeyword@548..551 "let"
        Whitespace@551..552 " "
        PATTERN_WILDCARD@552..554
          WildcardKeyword@552..553 "_"
          Whitespace@553..554 " "
        Eq@554..555 "="
        Whitespace@555..556 " "
        EXPR_CALL@556..573
          EXPR_IDENT@556..563
            PATH@556..563
              Ident@556..563 "println"
          ARG_LIST@563..573
            LParen@563..564 "("
            ARG@564..572
              EXPR_CALL@564..572
                EXPR_IDENT@564..569
                  PATH@564..569
                    Ident@564..569 "early"
                ARG_LIST@569..572
                  LParen@569..570 "("
                  ARG@570..571
                    EXPR_INT@570..571
                      Int@570..571 "3"
                  RParen@571..572 ")"
            RParen@572..573 ")"
        Semi@573..574 ";"
        Whitespace@574..579 "\n    "
      STMT_LET@579..606
        LetKeyword@579..582 "let"
        Whitespace@582..583 " "
        PATTERN_WILDCARD@583..585
          WildcardKeyword@583..584 "_"
          Whitespace@584..585 " "
        Eq@585..586 "="
        Whitespace@586..587 " "
        EXPR_CALL@587..600
          EXPR_IDENT@587..592
            PATH@587..592
              Ident@587..592 "print"
          ARG_LIST@592..600
            LParen@592..593 "("
            ARG@593..599
              EXPR_STR@593..599
                Str@593..599 "\"c7: \""
            RParen@599..600 ")"
        Semi@600..601 ";"
        Whitespace@601..606 "\n    "
      STMT_LET@606..645
        LetKeyword@606..609 "let"
        Whitespace@609..610 " "
        PATTERN_WILDCARD@610..612
          WildcardKeyword@610..611 "_"
          Whitespace@611..612 " "
        Eq@612..613 "="
        Whitespace@613..614 " "
        EXPR_CALL@614..639
          EXPR_IDENT@614..621
            PATH@614..621
              Ident@614..621 "println"
          ARG_LIST@621..639
            LParen@621..622 "("
            ARG@622..638
              EXPR_CALL@622..638
                EXPR_IDENT@622..635
                  PATH@622..635
                    Ident@622..635 "closure_early"
                ARG_LIST@635..638
                  LParen@635..636 "("
                  ARG@636..637
                    EXPR_INT@636..637
                      Int@636..637 "7"
                  RParen@637..638 ")"
            RParen@638..639 ")"
        Semi@639..640 ";"
        Whitespace@640..645 "\n    "
      STMT_LET@645..672
        LetKeyword@645..648 "let"
        Whitespace@648..649 " "
        PATTERN_WILDCARD@649..651
          WildcardKeyword@649..650 "_"
          Whitespace@650..651 " "
        Eq@651..652 "="
        Whitespace@652..653 " "
        EXPR_CALL@653..666
          EXPR_IDENT@653..658
            PATH@653..658
              Ident@653..658 "print"
          ARG_LIST@658..666
            LParen@658..659 "("
            ARG@659..665
              EXPR_STR@659..665
                Str@659..665 "\"c2: \""
            RParen@665..666 ")"
        Semi@666..667 ";"
        Whitespace@667..672 "\n    "
      STMT_LET@672..711
        LetKeyword@672..675 "let"
        Whitespace@675..676 " "
        PATTERN_WILDCARD@676..678
          WildcardKeyword@676..677 "_"
          Whitespace@677..678 " "
        Eq@678..679 "="
        Whitespace@679..680 " "
        EXPR_CALL@680..705
          EXPR_IDENT@680..687
            PATH@680..687
              Ident@680..687 "println"
          ARG_LIST@687..705
            LParen@687..688 "("
            ARG@688..704
              EXPR_CALL@688..704
                EXPR_IDENT@688..701
                  PATH@688..701
                    Ident@688..701 "closure_early"
                ARG_LIST@701..704
                  LParen@701..702 "("
                  ARG@702..703
                    EXPR_INT@702..703
                      Int@702..703 "2"
                  RParen@703..704 ")"
            RParen@704..705 ")"
        Semi@705..706 ";"
        Whitespace@706..711 "\n    "
      STMT_EXPR@711..731
        EXPR_CALL@711..725
          EXPR_IDENT@711..719
            PATH@711..719
              Ident@711..719 "unit_ret"
          ARG_LIST@719..725
            LParen@719..720 "("
            ARG@720..724
              EXPR_BOOL@720..724
                TrueKeyword@720..724 "true"
            RParen@724..725 ")"
        Semi@725..726 ";"
        Whitespace@726..731 "\n    "
      STMT_EXPR@731..748
        EXPR_CALL@731..746
          EXPR_IDENT@731..739
            PATH@731..739
              Ident@731..739 "unit_ret"
          ARG_LIST@739..746
            LParen@739..740 "("
            ARG@740..745
              EXPR_BOOL@740..745
                FalseKeyword@740..745 "false"
            RParen@745..746 ")"
        Semi@746..747 ";"
        Whitespace@747..748 "\n"
      RBrace@748..749 "}"
      Whitespace@749..750 "\n"