FILE@0..399
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..51
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
        Semi@49..50 ";"
        Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  STRUCT@54..88
    StructKeyword@54..60 "struct"
    Whitespace@60..61 " "
    Ident@61..66 "Point"
    Whitespace@66..67 " "
    LBrace@67..68 "{"
    Whitespace@68..73 "\n    "
    STRUCT_FIELD_LIST@73..88
      STRUCT_FIELD@73..83
        Ident@73..78 "value"
        Colon@78..79 ":"
        Whitespace@79..80 " "
        TYPE_INT32@80..83
          I32Keyword@80..83 "i32"
      Comma@83..84 ","
      Whitespace@84..85 "\n"
      RBrace@85..86 "}"
      Whitespace@86..88 "\n\n"
  IMPL@88..190
    ImplKeyword@88..92 "impl"
    Whitespace@92..93 " "
    TYPE_TAPP@93..101
      PATH@93..101
        Ident@93..100 "Display"
        Whitespace@100..101 " "
    ForKeyword@101..104 "for"
    Whitespace@104..105 " "
    TYPE_TAPP@105..111
      PATH@105..111
        Ident@105..110 "Point"
        Whitespace@110..111 " "
    LBrace@111..112 "{"
    Whitespace@112..117 "\n    "
    FN@117..187
      FnKeyword@117..119 "fn"
      Whitespace@119..120 " "
      Ident@120..124 "show"
      PARAM_LIST@124..138
        LParen@124..125 "("
        PARAM@125..136
          Ident@125..129 "self"
          Colon@129..130 ":"
          Whitespace@130..131 " "
          TYPE_TAPP@131..136
            PATH@131..136
              Ident@131..136 "Point"
        RParen@136..137 ")"
        Whitespace@137..138 " "
      Arrow@138..140 "->"
      Whitespace@140..141 " "
      TYPE_STRING@141..148
        StringKeyword@141..147 "string"
        Whitespace@147..148 " "
      BLOCK@148..187
        LBrace@148..149 "{"
        Whitespace@149..158 "\n        "
        EXPR_CALL@158..185
          EXPR_BINARY@158..178
            EXPR_BINARY@158..168
              EXPR_IDENT@158..162
                PATH@158..162
                  Ident@158..162 "self"
              Dot@162..163 "."
              EXPR_IDENT@163..168
                PATH@163..168
                  Ident@163..168 "value"
            Dot@168..169 "."
            EXPR_IDENT@169..178
              PATH@169..178
                Ident@169..178 "to_string"
          ARG_LIST@178..185
            LParen@178..179 "("
            RParen@179..180 ")"
            Whitespace@180..185 "\n    "
        RBrace@185..186 "}"
        Whitespace@186..187 "\n"
    RBrace@187..188 "}"
    Whitespace@188..190 "\n\n"
  FN@190..259
    FnKeyword@190..192 "fn"
    Whitespace@192..193 " "
    Ident@193..199 "to_dyn"
    GENERIC_LIST@199..211
      LBracket@199..200 "["
      GENERIC@200..210
        Ident@200..201 "T"
        Colon@201..202 ":"
        Whitespace@202..203 " "
        TRAIT_SET@203..210
          TYPE_TAPP@203..210
            PATH@203..210
              Ident@203..210 "Display"
      RBracket@210..211 "]"
    PARAM_LIST@211..218
      LParen@211..212 "("
      PARAM@212..216
        Ident@212..213 "x"
        Colon@213..214 ":"
        Whitespace@214..215 " "
        TYPE_TAPP@215..216
          PATH@215..216
            Ident@215..216 "T"
      RParen@216..217 ")"
      Whitespace@217..218 " "
    Arrow@218..220 "->"
    Whitespace@220..221 " "
    TYPE_DYN@221..233
      DynKeyword@221..224 "dyn"
      Whitespace@224..225 " "
      DYN_BOUND@225..233
        PATH@225..233
          Ident@225..232 "Display"
          Whitespace@232..233 " "
    BLOCK@233..259
      LBrace@233..234 "{"
      Whitespace@234..239 "\n    "
      EXPR_CAST@239..256
        EXPR_IDENT@239..241
          PATH@239..241
            Ident@239..240 "x"
            Whitespace@240..241 " "
        AsKeyword@241..243 "as"
        Whitespace@243..244 " "
        TYPE_DYN@244..256
          DynKeyword@244..247 "dyn"
          Whitespace@247..248 " "
          DYN_BOUND@248..256
            PATH@248..256
              Ident@248..255 "Display"
              Whitespace@255..256 "\n"
      RBrace@256..257 "}"
      Whitespace@257..259 "\n\n"
  FN@259..321
    FnKeyword@259..261 "fn"
    Whitespace@261..262 " "
    Ident@262..268 "render"
    PARAM_LIST@268..285
      LParen@268..269 "("
      PARAM@269..283
        Ident@269..270 "x"
        Colon@270..271 ":"
        Whitespace@271..272 " "
        TYPE_DYN@272..283
          DynKeyword@272..275 "dyn"
          Whitespace@275..276 " "
          DYN_BOUND@276..283
            PATH@276..283
              Ident@276..283 "Display"
      RParen@283..284 ")"
      Whitespace@284..285 " "
    Arrow@285..287 "->"
    Whitespace@287..288 " "
    TYPE_STRING@288..295
      StringKeyword@288..294 "string"
      Whitespace@294..295 " "
    BLOCK@295..321
      LBrace@295..296 "{"
      Whitespace@296..301 "\n    "
      EXPR_CALL@301..318
        EXPR_IDENT@301..314
          PATH@301..314
            Ident@301..308 "Display"
            ColonColon@308..310 "::"
            Ident@310..314 "show"
        ARG_LIST@314..318
          LParen@314..315 "("
          ARG@315..316
            EXPR_IDENT@315..316
              PATH@315..316
                Ident@315..316 "x"
          RParen@316..317 ")"
          Whitespace@317..318 "\n"
      RBrace@318..319 "}"
      Whitespace@319..321 "\n\n"
  FN@321..399
    FnKeyword@321..323 "fn"
    Whitespace@323..324 " "
    Ident@324..328 "main"
    PARAM_LIST@328..331
      LParen@328..329 "("
      RParen@329..330 ")"
      Whitespace@330..331 " "
    BLOCK@331..399
      LBrace@331..332 "{"
      Whitespace@332..337 "\n    "
      STMT_LET@337..377
        LetKeyword@337..340 "let"
        Whitespace@340..341 " "
        PATTERN_VARIABLE@341..343
          Ident@341..342 "d"
          Whitespace@342..343 " "
        Eq@343..344 "="
        Whitespace@344..345 " "
        EXPR_CALL@345..371
          EXPR_IDENT@345..351
            PATH@345..351
              Ident@345..351 "to_dyn"
          ARG_LIST@351..371
            LParen@351..352 "("
            ARG@352..370
              EXPR_STRUCT_LITERAL@352..370
                PATH@352..358
                  Ident@352..357 "Point"
                  Whitespace@357..358 " "
                STRUCT_LITERAL_FIELD_LIST@358..370
                  LBrace@358..359 "{"
                  Whitespace@359..360 " "
                  STRUCT_LITERAL_FIELD@360..369
                    Ident@360..365 "value"
                    Colon@365..366 ":"
                    Whitespace@366..367 " "
                    EXPR_INT@367..369
                      Int@367..368 "7"
                      Whitespace@368..369 " "
                  RBrace@369..370 "}"
            RParen@370..371 ")"
        Semi@371..372 ";"
        Whitespace@372..377 "\n    "
      STMT_EXPR@377..397
        EXPR_CALL@377..395
          EXPR_IDENT@377..384
            PATH@377..384
              Ident@377..384 "println"
          ARG_LIST@384..395
            LParen@384..385 "("
            ARG@385..394
              EXPR_CALL@385..394
                EXPR_IDENT@385..391
                  PATH@385..391
                    Ident@385..391 "render"
                ARG_LIST@391..394
                  LParen@391..392 "("
                  ARG@392..393
                    EXPR_IDENT@392..393
                      PATH@392..393
                        Ident@392..393 "d"
                  RParen@393..394 ")"
            RParen@394..395 ")"
        Semi@395..396 ";"
        Whitespace@396..397 "\n"
      RBrace@397..398 "}"
      Whitespace@398..399 "\n"