FILE@0..256
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..49
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
      Semi@49..50 ";"
      Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  STRUCT@54..67
    StructKeyword@54..60 "struct"
    Whitespace@60..61 " "
    Ident@61..62 "S"
    Whitespace@62..63 " "
    LBrace@63..64 "{"
    STRUCT_FIELD_LIST@64..67
      RBrace@64..65 "}"
      Whitespace@65..67 "\n\n"
  IMPL@67..143
    ImplKeyword@67..71 "impl"
    Whitespace@71..72 " "
    TYPE_TAPP@72..80
      PATH@72..80
        Ident@72..79 "Display"
        Whitespace@79..80 " "
    ForKeyword@80..83 "for"
    Whitespace@83..84 " "
    TYPE_TAPP@84..86
      PATH@84..86
        Ident@84..85 "S"
        Whitespace@85..86 " "
    LBrace@86..87 "{"
    Whitespace@87..92 "\n    "
    FN@92..140
      FnKeyword@92..94 "fn"
      Whitespace@94..95 " "
      Ident@95..99 "show"
      PARAM_LIST@99..109
        LParen@99..100 "("
        PARAM@100..107
          Ident@100..104 "self"
          Colon@104..105 ":"
          Whitespace@105..106 " "
          TYPE_TAPP@106..107
            PATH@106..107
              Ident@106..107 "S"
        RParen@107..108 ")"
        Whitespace@108..109 " "
      Arrow@109..111 "->"
      Whitespace@111..112 " "
      TYPE_STRING@112..119
        StringKeyword@112..118 "string"
        Whitespace@118..119 " "
      BLOCK@119..140
        LBrace@119..120 "{"
        Whitespace@120..129 "\n        "
        EXPR_STR@129..138
          Str@129..133 "\"ok\""
          Whitespace@133..138 "\n    "
        RBrace@138..139 "}"
        Whitespace@139..140 "\n"
    RBrace@140..141 "}"
    Whitespace@141..143 "\n\n"
  FN@143..197
    FnKeyword@143..145 "fn"
    Whitespace@145..146 " "
    Ident@146..152 "to_dyn"
    GENERIC_LIST@152..164
      LBracket@152..153 "["
      GENERIC@153..163
        Ident@153..154 "T"
        Colon@154..155 ":"
        Whitespace@155..156 " "
        TRAIT_SET@156..163
          TYPE_TAPP@156..163
            PATH@156..163
              Ident@156..163 "Display"
      RBracket@163..164 "]"
    PARAM_LIST@164..171
      LParen@164..165 "("
      PARAM@165..169
        Ident@165..166 "x"
        Colon@166..167 ":"
        Whitespace@167..168 " "
        TYPE_TAPP@168..169
          PATH@168..169
            Ident@168..169 "T"
      RParen@169..170 ")"
      Whitespace@170..171 " "
    Arrow@171..173 "->"
    Whitespace@173..174 " "
    TYPE_DYN@174..186
      DynKeyword@174..177 "dyn"
      Whitespace@177..178 " "
      PATH@178..186
        Ident@178..185 "Display"
        Whitespace@185..186 " "
    BLOCK@186..197
      LBrace@186..187 "{"
      Whitespace@187..192 "\n    "
      EXPR_IDENT@192..194
        PATH@192..194
          Ident@192..193 "x"
          Whitespace@193..194 "\n"
      RBrace@194..195 "}"
      Whitespace@195..197 "\n\n"
  FN@197..256
    FnKeyword@197..199 "fn"
    Whitespace@199..200 " "
    Ident@200..204 "main"
    PARAM_LIST@204..207
      LParen@204..205 "("
      RParen@205..206 ")"
      Whitespace@206..207 " "
    BLOCK@207..256
      LBrace@207..208 "{"
      Whitespace@208..213 "\n    "
      STMT_LET@213..239
        LetKeyword@213..216 "let"
        Whitespace@216..217 " "
        PATTERN_WILDCARD@217..219
          WildcardKeyword@217..218 "_"
          Whitespace@218..219 " "
        Eq@219..220 "="
        Whitespace@220..221 " "
        EXPR_CALL@221..233
          EXPR_IDENT@221..227
            PATH@221..227
              Ident@221..227 "to_dyn"
          ARG_LIST@227..233
            LParen@227..228 "("
            ARG@228..232
              EXPR_STRUCT_LITERAL@228..232
                PATH@228..230
                  Ident@228..229 "S"
                  Whitespace@229..230 " "
                STRUCT_LITERAL_FIELD_LIST@230..232
                  LBrace@230..231 "{"
                  RBrace@231..232 "}"
            RParen@232..233 ")"
        Semi@233..234 ";"
        Whitespace@234..239 "\n    "
      STMT_EXPR@239..254
        EXPR_CALL@239..252
          EXPR_IDENT@239..246
            PATH@239..246
              Ident@239..246 "println"
          ARG_LIST@246..252
            LParen@246..247 "("
            ARG@247..251
              EXPR_STR@247..251
                Str@247..251 "\"ok\""
            RParen@251..252 ")"
        Semi@252..253 ";"
        Whitespace@253..254 "\n"
      RBrace@254..255 "}"
      Whitespace@255..256 "\n"