FILE@0..2846
  CONST@0..31
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..12 "ANSWER"
    Colon@12..13 ":"
    Whitespace@13..14 " "
    TYPE_INT@14..20
      IsizeKeyword@14..19 "isize"
      Whitespace@19..20 " "
    Eq@20..21 "="
    Whitespace@21..22 " "
    EXPR_BINARY@22..28
      EXPR_INT@22..25
        Int@22..24 "40"
        Whitespace@24..25 " "
      Plus@25..26 "+"
      Whitespace@26..27 " "
      EXPR_INT@27..28
        Int@27..28 "2"
    Semi@28..29 ";"
    Whitespace@29..31 "\n\n"
  CONST@31..60
    ConstKeyword@31..36 "const"
    Whitespace@36..37 " "
    Ident@37..46 "ALTERNATE"
    Colon@46..47 ":"
    Whitespace@47..48 " "
    TYPE_INT@48..54
      IsizeKeyword@48..53 "isize"
      Whitespace@53..54 " "
    Eq@54..55 "="
    Whitespace@55..56 " "
    EXPR_INT@56..57
      Int@56..57 "7"
    Semi@57..58 ";"
    Whitespace@58..60 "\n\n"
  CONST@60..89
    ConstKeyword@60..65 "const"
    Whitespace@65..66 " "
    Ident@66..73 "ENABLED"
    Colon@73..74 ":"
    Whitespace@74..75 " "
    TYPE_BOOL@75..80
      BoolKeyword@75..79 "bool"
      Whitespace@79..80 " "
    Eq@80..81 "="
    Whitespace@81..82 " "
    EXPR_BOOL@82..86
      TrueKeyword@82..86 "true"
    Semi@86..87 ";"
    Whitespace@87..89 "\n\n"
  CONST@89..124
    ConstKeyword@89..94 "const"
    Whitespace@94..95 " "
    Ident@95..103 "GREETING"
    Colon@103..104 ":"
    Whitespace@104..105 " "
    TYPE_STRING@105..112
      StringKeyword@105..111 "string"
      Whitespace@111..112 " "
    Eq@112..113 "="
    Whitespace@113..114 " "
    EXPR_STR@114..121
      Str@114..121 "\"hello\""
    Semi@121..122 ";"
    Whitespace@122..124 "\n\n"
  CONST@124..152
    ConstKeyword@124..129 "const"
    Whitespace@129..130 " "
    Ident@130..136 "MARKER"
    Colon@136..137 ":"
    Whitespace@137..138 " "
    TYPE_TAPP@138..143
      PATH@138..143
        Ident@138..142 "byte"
        Whitespace@142..143 " "
    Eq@143..144 "="
    Whitespace@144..145 " "
    EXPR_BYTE@145..149
      ByteCharLit@145..149 "b'A'"
    Semi@149..150 ";"
    Whitespace@150..152 "\n\n"
  CONST@152..177
    ConstKeyword@152..157 "const"
    Whitespace@157..158 " "
    Ident@158..163 "RATIO"
    Colon@163..164 ":"
    Whitespace@164..165 " "
    TYPE_FLOAT64@165..169
      F64Keyword@165..168 "f64"
      Whitespace@168..169 " "
    Eq@169..170 "="
    Whitespace@170..171 " "
    EXPR_FLOAT@171..174
      Float@171..174 "1.5"
    Semi@174..175 ";"
    Whitespace@175..177 "\n\n"
  CONST@177..243
    ConstKeyword@177..182 "const"
    Whitespace@182..183 " "
    Ident@183..209 "CLASSIFIED_AT_COMPILE ..."
    Colon@209..210 ":"
    Whitespace@210..211 " "
    TYPE_INT@211..217
      IsizeKeyword@211..216 "isize"
      Whitespace@216..217 " "
    Eq@217..218 "="
    Whitespace@218..219 " "
    EXPR_CALL@219..240
      EXPR_IDENT@219..236
        PATH@219..236
          Ident@219..236 "comptime_classify"
      ARG_LIST@236..240
        LParen@236..237 "("
        ARG@237..239
          EXPR_INT@237..239
            Int@237..239 "42"
        RParen@239..240 ")"
    Semi@240..241 ";"
    Whitespace@241..243 "\n\n"
  CONST@243..290
    ConstKeyword@243..248 "const"
    Whitespace@248..249 " "
    Ident@249..264 "COMPUTED_ANSWER"
    Colon@264..265 ":"
    Whitespace@265..266 " "
    TYPE_INT@266..272
      IsizeKeyword@266..271 "isize"
      Whitespace@271..272 " "
    Eq@272..273 "="
    Whitespace@273..274 " "
    EXPR_CALL@274..287
      EXPR_IDENT@274..285
        PATH@274..285
          Ident@274..285 "make_answer"
      ARG_LIST@285..287
        LParen@285..286 "("
        RParen@286..287 ")"
    Semi@287..288 ";"
    Whitespace@288..290 "\n\n"
  CONST@290..338
    ConstKeyword@290..295 "const"
    Whitespace@295..296 " "
    Ident@296..312 "COMPUTED_ENABLED"
    Colon@312..313 ":"
    Whitespace@313..314 " "
    TYPE_BOOL@314..319
      BoolKeyword@314..318 "bool"
      Whitespace@318..319 " "
    Eq@319..320 "="
    Whitespace@320..321 " "
    EXPR_CALL@321..335
      EXPR_IDENT@321..333
        PATH@321..333
          Ident@321..333 "make_enabled"
      ARG_LIST@333..335
        LParen@333..334 "("
        RParen@334..335 ")"
    Semi@335..336 ";"
    Whitespace@336..338 "\n\n"
  FN@338..388
    ATTRIBUTE_LIST@338..350
      ATTRIBUTE@338..350
        Pound@338..339 "#"
        LBracket@339..340 "["
        Ident@340..348 "comptime"
        RBracket@348..349 "]"
        Whitespace@349..350 "\n"
    FnKeyword@350..352 "fn"
    Whitespace@352..353 " "
    Ident@353..364 "make_answer"
    PARAM_LIST@364..367
      LParen@364..365 "("
      RParen@365..366 ")"
      Whitespace@366..367 " "
    Arrow@367..369 "->"
    Whitespace@369..370 " "
    TYPE_INT@370..376
      IsizeKeyword@370..375 "isize"
      Whitespace@375..376 " "
    BLOCK@376..388
      LBrace@376..377 "{"
      Whitespace@377..382 "\n    "
      EXPR_INT@382..385
        Int@382..384 "42"
        Whitespace@384..385 "\n"
      RBrace@385..386 "}"
      Whitespace@386..388 "\n\n"
  FN@388..440
    ATTRIBUTE_LIST@388..400
      ATTRIBUTE@388..400
        Pound@388..389 "#"
        LBracket@389..390 "["
        Ident@390..398 "comptime"
        RBracket@398..399 "]"
        Whitespace@399..400 "\n"
    FnKeyword@400..402 "fn"
    Whitespace@402..403 " "
    Ident@403..415 "make_enabled"
    PARAM_LIST@415..418
      LParen@415..416 "("
      RParen@416..417 ")"
      Whitespace@417..418 " "
    Arrow@418..420 "->"
    Whitespace@420..421 " "
    TYPE_BOOL@421..426
      BoolKeyword@421..425 "bool"
      Whitespace@425..426 " "
    BLOCK@426..440
      LBrace@426..427 "{"
      Whitespace@427..432 "\n    "
      EXPR_BOOL@432..437
        TrueKeyword@432..436 "true"
        Whitespace@436..437 "\n"
      RBrace@437..438 "}"
      Whitespace@438..440 "\n\n"
  FN@440..571
    ATTRIBUTE_LIST@440..452
      ATTRIBUTE@440..452
        Pound@440..441 "#"
        LBracket@441..442 "["
        Ident@442..450 "comptime"
        RBracket@450..451 "]"
        Whitespace@451..452 "\n"
    FnKeyword@452..454 "fn"
    Whitespace@454..455 " "
    Ident@455..472 "comptime_classify"
    PARAM_LIST@472..487
      LParen@472..473 "("
      PARAM@473..485
        Ident@473..478 "value"
        Colon@478..479 ":"
        Whitespace@479..480 " "
        TYPE_INT@480..485
          IsizeKeyword@480..485 "isize"
      RParen@485..486 ")"
      Whitespace@486..487 " "
    Arrow@487..489 "->"
    Whitespace@489..490 " "
    TYPE_INT@490..496
      IsizeKeyword@490..495 "isize"
      Whitespace@495..496 " "
    BLOCK@496..571
      LBrace@496..497 "{"
      Whitespace@497..502 "\n    "
      EXPR_MATCH@502..568
        MatchKeyword@502..507 "match"
        Whitespace@507..508 " "
        EXPR_IDENT@508..514
          PATH@508..514
            Ident@508..513 "value"
            Whitespace@513..514 " "
        MATCH_ARM_LIST@514..568
          LBrace@514..515 "{"
          Whitespace@515..524 "\n        "
          MATCH_ARM@524..544
            PATTERN_CONSTR@524..540
              PATH@524..540
                Ident@524..539 "COMPUTED_ANSWER"
                Whitespace@539..540 " "
            FatArrow@540..542 "=>"
            Whitespace@542..543 " "
            EXPR_INT@543..544
              Int@543..544 "1"
          Comma@544..545 ","
          Whitespace@545..554 "\n        "
          MATCH_ARM@554..560
            PATTERN_WILDCARD@554..556
              WildcardKeyword@554..555 "_"
              Whitespace@555..556 " "
            FatArrow@556..558 "=>"
            Whitespace@558..559 " "
            EXPR_INT@559..560
              Int@559..560 "0"
          Comma@560..561 ","
          Whitespace@561..566 "\n    "
          RBrace@566..567 "}"
          Whitespace@567..568 "\n"
      RBrace@568..569 "}"
      Whitespace@569..571 "\n\n"
  FN@571..697
    FnKeyword@571..573 "fn"
    Whitespace@573..574 " "
    Ident@574..582 "classify"
    PARAM_LIST@582..597
      LParen@582..583 "("
      PARAM@583..595
        Ident@583..588 "value"
        Colon@588..589 ":"
        Whitespace@589..590 " "
        TYPE_INT@590..595
          IsizeKeyword@590..595 "isize"
      RParen@595..596 ")"
      Whitespace@596..597 " "
    Arrow@597..599 "->"
    Whitespace@599..600 " "
    TYPE_STRING@600..607
      StringKeyword@600..606 "string"
      Whitespace@606..607 " "
    BLOCK@607..697
      LBrace@607..608 "{"
      Whitespace@608..613 "\n    "
      EXPR_MATCH@613..694
        MatchKeyword@613..618 "match"
        Whitespace@618..619 " "
        EXPR_IDENT@619..625
          PATH@619..625
            Ident@619..624 "value"
            Whitespace@624..625 " "
        MATCH_ARM_LIST@625..694
          LBrace@625..626 "{"
          Whitespace@626..635 "\n        "
          MATCH_ARM@635..664
            PATTERN_OR@635..654
              PATTERN_CONSTR@635..642
                PATH@635..642
                  Ident@635..641 "ANSWER"
                  Whitespace@641..642 " "
              Pipe@642..643 "|"
              Whitespace@643..644 " "
              PATTERN_CONSTR@644..654
                PATH@644..654
                  Ident@644..653 "ALTERNATE"
                  Whitespace@653..654 " "
            FatArrow@654..656 "=>"
            Whitespace@656..657 " "
            EXPR_STR@657..664
              Str@657..664 "\"known\""
          Comma@664..665 ","
          Whitespace@665..674 "\n        "
          MATCH_ARM@674..686
            PATTERN_WILDCARD@674..676
              WildcardKeyword@674..675 "_"
              Whitespace@675..676 " "
            FatArrow@676..678 "=>"
            Whitespace@678..679 " "
            EXPR_STR@679..686
              Str@679..686 "\"other\""
          Comma@686..687 ","
          Whitespace@687..692 "\n    "
          RBrace@692..693 "}"
          Whitespace@693..694 "\n"
      RBrace@694..695 "}"
      Whitespace@695..697 "\n\n"
  FN@697..825
    FnKeyword@697..699 "fn"
    Whitespace@699..700 " "
    Ident@700..713 "classify_bool"
    PARAM_LIST@713..727
      LParen@713..714 "("
      PARAM@714..725
        Ident@714..719 "value"
        Colon@719..720 ":"
        Whitespace@720..721 " "
        TYPE_BOOL@721..725
          BoolKeyword@721..725 "bool"
      RParen@725..726 ")"
      Whitespace@726..727 " "
    Arrow@727..729 "->"
    Whitespace@729..730 " "
    TYPE_STRING@730..737
      StringKeyword@730..736 "string"
      Whitespace@736..737 " "
    BLOCK@737..825
      LBrace@737..738 "{"
      Whitespace@738..743 "\n    "
      EXPR_MATCH@743..822
        MatchKeyword@743..748 "match"
        Whitespace@748..749 " "
        EXPR_IDENT@749..755
          PATH@749..755
            Ident@749..754 "value"
            Whitespace@754..755 " "
        MATCH_ARM_LIST@755..822
          LBrace@755..756 "{"
          Whitespace@756..765 "\n        "
          MATCH_ARM@765..785
            PATTERN_CONSTR@765..773
              PATH@765..773
                Ident@765..772 "ENABLED"
                Whitespace@772..773 " "
            FatArrow@773..775 "=>"
            Whitespace@775..776 " "
            EXPR_STR@776..785
              Str@776..785 "\"enabled\""
          Comma@785..786 ","
          Whitespace@786..795 "\n        "
          MATCH_ARM@795..814
            PATTERN_BOOL@795..801
              FalseKeyword@795..800 "false"
              Whitespace@800..801 " "
            FatArrow@801..803 "=>"
            Whitespace@803..804 " "
            EXPR_STR@804..814
              Str@804..814 "\"disabled\""
          Comma@814..815 ","
          Whitespace@815..820 "\n    "
          RBrace@820..821 "}"
          Whitespace@821..822 "\n"
      RBrace@822..823 "}"
      Whitespace@823..825 "\n\n"
  FN@825..971
    FnKeyword@825..827 "fn"
    Whitespace@827..828 " "
    Ident@828..850 "classify_computed_bool"
    PARAM_LIST@850..864
      LParen@850..851 "("
      PARAM@851..862
        Ident@851..856 "value"
        Colon@856..857 ":"
        Whitespace@857..858 " "
        TYPE_BOOL@858..862
          BoolKeyword@858..862 "bool"
      RParen@862..863 ")"
      Whitespace@863..864 " "
    Arrow@864..866 "->"
    Whitespace@866..867 " "
    TYPE_STRING@867..874
      StringKeyword@867..873 "string"
      Whitespace@873..874 " "
    BLOCK@874..971
      LBrace@874..875 "{"
      Whitespace@875..880 "\n    "
      EXPR_MATCH@880..968
        MatchKeyword@880..885 "match"
        Whitespace@885..886 " "
        EXPR_IDENT@886..892
          PATH@886..892
            Ident@886..891 "value"
            Whitespace@891..892 " "
        MATCH_ARM_LIST@892..968
          LBrace@892..893 "{"
          Whitespace@893..902 "\n        "
          MATCH_ARM@902..931
            PATTERN_CONSTR@902..919
              PATH@902..919
                Ident@902..918 "COMPUTED_ENABLED"
                Whitespace@918..919 " "
            FatArrow@919..921 "=>"
            Whitespace@921..922 " "
            EXPR_STR@922..931
              Str@922..931 "\"enabled\""
          Comma@931..932 ","
          Whitespace@932..941 "\n        "
          MATCH_ARM@941..960
            PATTERN_BOOL@941..947
              FalseKeyword@941..946 "false"
              Whitespace@946..947 " "
            FatArrow@947..949 "=>"
            Whitespace@949..950 " "
            EXPR_STR@950..960
              Str@950..960 "\"disabled\""
          Comma@960..961 ","
          Whitespace@961..966 "\n    "
          RBrace@966..967 "}"
          Whitespace@967..968 "\n"
      RBrace@968..969 "}"
      Whitespace@969..971 "\n\n"
  FN@971..1172
    FnKeyword@971..973 "fn"
    Whitespace@973..974 " "
    Ident@974..997 "classify_comptime_guard"
    PARAM_LIST@997..1011
      LParen@997..998 "("
      PARAM@998..1009
        Ident@998..1003 "value"
        Colon@1003..1004 ":"
        Whitespace@1004..1005 " "
        TYPE_BOOL@1005..1009
          BoolKeyword@1005..1009 "bool"
      RParen@1009..1010 ")"
      Whitespace@1010..1011 " "
    Arrow@1011..1013 "->"
    Whitespace@1013..1014 " "
    TYPE_STRING@1014..1021
      StringKeyword@1014..1020 "string"
      Whitespace@1020..1021 " "
    BLOCK@1021..1172
      LBrace@1021..1022 "{"
      Whitespace@1022..1027 "\n    "
      STMT_LET@1027..1162
        LetKeyword@1027..1030 "let"
        Whitespace@1030..1031 " "
        PATTERN_VARIABLE@1031..1038
          Ident@1031..1037 "result"
          Whitespace@1037..1038 " "
        Eq@1038..1039 "="
        Whitespace@1039..1040 " "
        EXPR_MATCH@1040..1156
          MatchKeyword@1040..1045 "match"
          Whitespace@1045..1046 " "
          EXPR_IDENT@1046..1052
            PATH@1046..1052
              Ident@1046..1051 "value"
              Whitespace@1051..1052 " "
          MATCH_ARM_LIST@1052..1156
            LBrace@1052..1053 "{"
            Whitespace@1053..1062 "\n        "
            MATCH_ARM@1062..1120
              PATTERN_BOOL@1062..1067
                TrueKeyword@1062..1066 "true"
                Whitespace@1066..1067 " "
              MATCH_ARM_GUARD@1067..1108
                IfKeyword@1067..1069 "if"
                Whitespace@1069..1070 " "
                EXPR_COMPTIME@1070..1108
                  Ident@1070..1078 "comptime"
                  Whitespace@1078..1079 " "
                  BLOCK@1079..1108
                    LBrace@1079..1080 "{"
                    Whitespace@1080..1093 "\n            "
                    EXPR_BOOL@1093..1106
                      TrueKeyword@1093..1097 "true"
                      Whitespace@1097..1106 "\n        "
                    RBrace@1106..1107 "}"
                    Whitespace@1107..1108 " "
              FatArrow@1108..1110 "=>"
              Whitespace@1110..1111 " "
              EXPR_STR@1111..1120
                Str@1111..1120 "\"enabled\""
            Comma@1120..1121 ","
            Whitespace@1121..1130 "\n        "
            MATCH_ARM@1130..1149
              PATTERN_BOOL@1130..1136
                FalseKeyword@1130..1135 "false"
                Whitespace@1135..1136 " "
              FatArrow@1136..1138 "=>"
              Whitespace@1138..1139 " "
              EXPR_STR@1139..1149
                Str@1139..1149 "\"disabled\""
            Comma@1149..1150 ","
            Whitespace@1150..1155 "\n    "
            RBrace@1155..1156 "}"
        Semi@1156..1157 ";"
        Whitespace@1157..1162 "\n    "
      EXPR_IDENT@1162..1169
        PATH@1162..1169
          Ident@1162..1168 "result"
          Whitespace@1168..1169 "\n"
      RBrace@1169..1170 "}"
      Whitespace@1170..1172 "\n\n"
  FN@1172..1302
    FnKeyword@1172..1174 "fn"
    Whitespace@1174..1175 " "
    Ident@1175..1188 "classify_pair"
    PARAM_LIST@1188..1211
      LParen@1188..1189 "("
      PARAM@1189..1209
        Ident@1189..1194 "value"
        Colon@1194..1195 ":"
        Whitespace@1195..1196 " "
        TYPE_TUPLE@1196..1209
          TYPE_LIST@1196..1209
            LParen@1196..1197 "("
            TYPE_INT@1197..1202
              IsizeKeyword@1197..1202 "isize"
            Comma@1202..1203 ","
            Whitespace@1203..1204 " "
            TYPE_TAPP@1204..1208
              PATH@1204..1208
                Ident@1204..1208 "byte"
            RParen@1208..1209 ")"
      RParen@1209..1210 ")"
      Whitespace@1210..1211 " "
    Arrow@1211..1213 "->"
    Whitespace@1213..1214 " "
    TYPE_BOOL@1214..1219
      BoolKeyword@1214..1218 "bool"
      Whitespace@1218..1219 " "
    BLOCK@1219..1302
      LBrace@1219..1220 "{"
      Whitespace@1220..1225 "\n    "
      EXPR_MATCH@1225..1299
        MatchKeyword@1225..1230 "match"
        Whitespace@1230..1231 " "
        EXPR_IDENT@1231..1237
          PATH@1231..1237
            Ident@1231..1236 "value"
            Whitespace@1236..1237 " "
        MATCH_ARM_LIST@1237..1299
          LBrace@1237..1238 "{"
          Whitespace@1238..1247 "\n        "
          MATCH_ARM@1247..1271
            PATTERN_TUPLE@1247..1264
              LParen@1247..1248 "("
              PATTERN_CONSTR@1248..1254
                PATH@1248..1254
                  Ident@1248..1254 "ANSWER"
              Comma@1254..1255 ","
              Whitespace@1255..1256 " "
              PATTERN_CONSTR@1256..1262
                PATH@1256..1262
                  Ident@1256..1262 "MARKER"
              RParen@1262..1263 ")"
              Whitespace@1263..1264 " "
            FatArrow@1264..1266 "=>"
            Whitespace@1266..1267 " "
            EXPR_BOOL@1267..1271
              TrueKeyword@1267..1271 "true"
          Comma@1271..1272 ","
          Whitespace@1272..1281 "\n        "
          MATCH_ARM@1281..1291
            PATTERN_WILDCARD@1281..1283
              WildcardKeyword@1281..1282 "_"
              Whitespace@1282..1283 " "
            FatArrow@1283..1285 "=>"
            Whitespace@1285..1286 " "
            EXPR_BOOL@1286..1291
              FalseKeyword@1286..1291 "false"
          Comma@1291..1292 ","
          Whitespace@1292..1297 "\n    "
          RBrace@1297..1298 "}"
          Whitespace@1298..1299 "\n"
      RBrace@1299..1300 "}"
      Whitespace@1300..1302 "\n\n"
  FN@1302..1419
    FnKeyword@1302..1304 "fn"
    Whitespace@1304..1305 " "
    Ident@1305..1320 "classify_string"
    PARAM_LIST@1320..1336
      LParen@1320..1321 "("
      PARAM@1321..1334
        Ident@1321..1326 "value"
        Colon@1326..1327 ":"
        Whitespace@1327..1328 " "
        TYPE_STRING@1328..1334
          StringKeyword@1328..1334 "string"
      RParen@1334..1335 ")"
      Whitespace@1335..1336 " "
    Arrow@1336..1338 "->"
    Whitespace@1338..1339 " "
    TYPE_BOOL@1339..1344
      BoolKeyword@1339..1343 "bool"
      Whitespace@1343..1344 " "
    BLOCK@1344..1419
      LBrace@1344..1345 "{"
      Whitespace@1345..1350 "\n    "
      EXPR_MATCH@1350..1416
        MatchKeyword@1350..1355 "match"
        Whitespace@1355..1356 " "
        EXPR_IDENT@1356..1362
          PATH@1356..1362
            Ident@1356..1361 "value"
            Whitespace@1361..1362 " "
        MATCH_ARM_LIST@1362..1416
          LBrace@1362..1363 "{"
          Whitespace@1363..1372 "\n        "
          MATCH_ARM@1372..1388
            PATTERN_CONSTR@1372..1381
              PATH@1372..1381
                Ident@1372..1380 "GREETING"
                Whitespace@1380..1381 " "
            FatArrow@1381..1383 "=>"
            Whitespace@1383..1384 " "
            EXPR_BOOL@1384..1388
              TrueKeyword@1384..1388 "true"
          Comma@1388..1389 ","
          Whitespace@1389..1398 "\n        "
          MATCH_ARM@1398..1408
            PATTERN_WILDCARD@1398..1400
              WildcardKeyword@1398..1399 "_"
              Whitespace@1399..1400 " "
            FatArrow@1400..1402 "=>"
            Whitespace@1402..1403 " "
            EXPR_BOOL@1403..1408
              FalseKeyword@1403..1408 "false"
          Comma@1408..1409 ","
          Whitespace@1409..1414 "\n    "
          RBrace@1414..1415 "}"
          Whitespace@1415..1416 "\n"
      RBrace@1416..1417 "}"
      Whitespace@1417..1419 "\n\n"
  FN@1419..1529
    FnKeyword@1419..1421 "fn"
    Whitespace@1421..1422 " "
    Ident@1422..1436 "classify_float"
    PARAM_LIST@1436..1449
      LParen@1436..1437 "("
      PARAM@1437..1447
        Ident@1437..1442 "value"
        Colon@1442..1443 ":"
        Whitespace@1443..1444 " "
        TYPE_FLOAT64@1444..1447
          F64Keyword@1444..1447 "f64"
      RParen@1447..1448 ")"
      Whitespace@1448..1449 " "
    Arrow@1449..1451 "->"
    Whitespace@1451..1452 " "
    TYPE_BOOL@1452..1457
      BoolKeyword@1452..1456 "bool"
      Whitespace@1456..1457 " "
    BLOCK@1457..1529
      LBrace@1457..1458 "{"
      Whitespace@1458..1463 "\n    "
      EXPR_MATCH@1463..1526
        MatchKeyword@1463..1468 "match"
        Whitespace@1468..1469 " "
        EXPR_IDENT@1469..1475
          PATH@1469..1475
            Ident@1469..1474 "value"
            Whitespace@1474..1475 " "
        MATCH_ARM_LIST@1475..1526
          LBrace@1475..1476 "{"
          Whitespace@1476..1485 "\n        "
          MATCH_ARM@1485..1498
            PATTERN_CONSTR@1485..1491
              PATH@1485..1491
                Ident@1485..1490 "RATIO"
                Whitespace@1490..1491 " "
            FatArrow@1491..1493 "=>"
            Whitespace@1493..1494 " "
            EXPR_BOOL@1494..1498
              TrueKeyword@1494..1498 "true"
          Comma@1498..1499 ","
          Whitespace@1499..1508 "\n        "
          MATCH_ARM@1508..1518
            PATTERN_WILDCARD@1508..1510
              WildcardKeyword@1508..1509 "_"
              Whitespace@1509..1510 " "
            FatArrow@1510..1512 "=>"
            Whitespace@1512..1513 " "
            EXPR_BOOL@1513..1518
              FalseKeyword@1513..1518 "false"
          Comma@1518..1519 ","
          Whitespace@1519..1524 "\n    "
          RBrace@1524..1525 "}"
          Whitespace@1525..1526 "\n"
      RBrace@1526..1527 "}"
      Whitespace@1527..1529 "\n\n"
  FN@1529..1595
    FnKeyword@1529..1531 "fn"
    Whitespace@1531..1532 " "
    Ident@1532..1547 "shadow_constant"
    PARAM_LIST@1547..1550
      LParen@1547..1548 "("
      RParen@1548..1549 ")"
      Whitespace@1549..1550 " "
    Arrow@1550..1552 "->"
    Whitespace@1552..1553 " "
    TYPE_INT@1553..1559
      IsizeKeyword@1553..1558 "isize"
      Whitespace@1558..1559 " "
    BLOCK@1559..1595
      LBrace@1559..1560 "{"
      Whitespace@1560..1565 "\n    "
      STMT_LET@1565..1585
        LetKeyword@1565..1568 "let"
        Whitespace@1568..1569 " "
        PATTERN_VARIABLE@1569..1576
          Ident@1569..1575 "answer"
          Whitespace@1575..1576 " "
        Eq@1576..1577 "="
        Whitespace@1577..1578 " "
        EXPR_INT@1578..1579
          Int@1578..1579 "9"
        Semi@1579..1580 ";"
        Whitespace@1580..1585 "\n    "
      EXPR_IDENT@1585..1592
        PATH@1585..1592
          Ident@1585..1591 "answer"
          Whitespace@1591..1592 "\n"
      RBrace@1592..1593 "}"
      Whitespace@1593..1595 "\n\n"
  FN@1595..1697
    FnKeyword@1595..1597 "fn"
    Whitespace@1597..1598 " "
    Ident@1598..1614 "explicit_binding"
    PARAM_LIST@1614..1629
      LParen@1614..1615 "("
      PARAM@1615..1627
        Ident@1615..1620 "value"
        Colon@1620..1621 ":"
        Whitespace@1621..1622 " "
        TYPE_INT@1622..1627
          IsizeKeyword@1622..1627 "isize"
      RParen@1627..1628 ")"
      Whitespace@1628..1629 " "
    Arrow@1629..1631 "->"
    Whitespace@1631..1632 " "
    TYPE_INT@1632..1638
      IsizeKeyword@1632..1637 "isize"
      Whitespace@1637..1638 " "
    BLOCK@1638..1697
      LBrace@1638..1639 "{"
      Whitespace@1639..1644 "\n    "
      EXPR_MATCH@1644..1694
        MatchKeyword@1644..1649 "match"
        Whitespace@1649..1650 " "
        EXPR_IDENT@1650..1656
          PATH@1650..1656
            Ident@1650..1655 "value"
            Whitespace@1655..1656 " "
        MATCH_ARM_LIST@1656..1694
          LBrace@1656..1657 "{"
          Whitespace@1657..1666 "\n        "
          MATCH_ARM@1666..1686
            PATTERN_ALIAS@1666..1677
              Ident@1666..1672 "answer"
              Whitespace@1672..1673 " "
              At@1673..1674 "@"
              Whitespace@1674..1675 " "
              PATTERN_WILDCARD@1675..1677
                WildcardKeyword@1675..1676 "_"
                Whitespace@1676..1677 " "
            FatArrow@1677..1679 "=>"
            Whitespace@1679..1680 " "
            EXPR_IDENT@1680..1686
              PATH@1680..1686
                Ident@1680..1686 "answer"
          Comma@1686..1687 ","
          Whitespace@1687..1692 "\n    "
          RBrace@1692..1693 "}"
          Whitespace@1693..1694 "\n"
      RBrace@1694..1695 "}"
      Whitespace@1695..1697 "\n\n"
  FN@1697..1816
    FnKeyword@1697..1699 "fn"
    Whitespace@1699..1700 " "
    Ident@1700..1714 "matches_if_let"
    PARAM_LIST@1714..1729
      LParen@1714..1715 "("
      PARAM@1715..1727
        Ident@1715..1720 "value"
        Colon@1720..1721 ":"
        Whitespace@1721..1722 " "
        TYPE_INT@1722..1727
          IsizeKeyword@1722..1727 "isize"
      RParen@1727..1728 ")"
      Whitespace@1728..1729 " "
    Arrow@1729..1731 "->"
    Whitespace@1731..1732 " "
    TYPE_BOOL@1732..1737
      BoolKeyword@1732..1736 "bool"
      Whitespace@1736..1737 " "
    BLOCK@1737..1816
      LBrace@1737..1738 "{"
      Whitespace@1738..1743 "\n    "
      EXPR_IF@1743..1813
        IfKeyword@1743..1745 "if"
        Whitespace@1745..1746 " "
        EXPR_IF_COND@1746..1765
          LetKeyword@1746..1749 "let"
          Whitespace@1749..1750 " "
          PATTERN_CONSTR@1750..1757
            PATH@1750..1757
              Ident@1750..1756 "ANSWER"
              Whitespace@1756..1757 " "
          Eq@1757..1758 "="
          Whitespace@1758..1759 " "
          EXPR_IDENT@1759..1765
            PATH@1759..1765
              Ident@1759..1764 "value"
              Whitespace@1764..1765 " "
        EXPR_IF_THEN@1765..1786
          BLOCK@1765..1786
            LBrace@1765..1766 "{"
            Whitespace@1766..1775 "\n        "
            EXPR_BOOL@1775..1784
              TrueKeyword@1775..1779 "true"
              Whitespace@1779..1784 "\n    "
            RBrace@1784..1785 "}"
            Whitespace@1785..1786 " "
        ElseKeyword@1786..1790 "else"
        Whitespace@1790..1791 " "
        EXPR_IF_ELSE@1791..1813
          BLOCK@1791..1813
            LBrace@1791..1792 "{"
            Whitespace@1792..1801 "\n        "
            EXPR_BOOL@1801..1811
              FalseKeyword@1801..1806 "false"
              Whitespace@1806..1811 "\n    "
            RBrace@1811..1812 "}"
            Whitespace@1812..1813 "\n"
      RBrace@1813..1814 "}"
      Whitespace@1814..1816 "\n\n"
  FN@1816..1930
    FnKeyword@1816..1818 "fn"
    Whitespace@1818..1819 " "
    Ident@1819..1835 "matches_let_else"
    PARAM_LIST@1835..1850
      LParen@1835..1836 "("
      PARAM@1836..1848
        Ident@1836..1841 "value"
        Colon@1841..1842 ":"
        Whitespace@1842..1843 " "
        TYPE_INT@1843..1848
          IsizeKeyword@1843..1848 "isize"
      RParen@1848..1849 ")"
      Whitespace@1849..1850 " "
    Arrow@1850..1852 "->"
    Whitespace@1852..1853 " "
    TYPE_BOOL@1853..1858
      BoolKeyword@1853..1857 "bool"
      Whitespace@1857..1858 " "
    BLOCK@1858..1930
      LBrace@1858..1859 "{"
      Whitespace@1859..1864 "\n    "
      STMT_LET@1864..1922
        LetKeyword@1864..1867 "let"
        Whitespace@1867..1868 " "
        PATTERN_CONSTR@1868..1875
          PATH@1868..1875
            Ident@1868..1874 "ANSWER"
            Whitespace@1874..1875 " "
        Eq@1875..1876 "="
        Whitespace@1876..1877 " "
        EXPR_IDENT@1877..1883
          PATH@1877..1883
            Ident@1877..1882 "value"
            Whitespace@1882..1883 " "
        ElseKeyword@1883..1887 "else"
        Whitespace@1887..1888 " "
        BLOCK@1888..1916
          LBrace@1888..1889 "{"
          Whitespace@1889..1898 "\n        "
          EXPR_RETURN@1898..1915
            ReturnKeyword@1898..1904 "return"
            Whitespace@1904..1905 " "
            EXPR_BOOL@1905..1915
              FalseKeyword@1905..1910 "false"
              Whitespace@1910..1915 "\n    "
          RBrace@1915..1916 "}"
        Semi@1916..1917 ";"
        Whitespace@1917..1922 "\n    "
      EXPR_BOOL@1922..1927
        TrueKeyword@1922..1926 "true"
        Whitespace@1926..1927 "\n"
      RBrace@1927..1928 "}"
      Whitespace@1928..1930 "\n\n"
  FN@1930..2078
    FnKeyword@1930..1932 "fn"
    Whitespace@1932..1933 " "
    Ident@1933..1944 "for_binding"
    PARAM_LIST@1944..1947
      LParen@1944..1945 "("
      RParen@1945..1946 ")"
      Whitespace@1946..1947 " "
    Arrow@1947..1949 "->"
    Whitespace@1949..1950 " "
    TYPE_INT@1950..1956
      IsizeKeyword@1950..1955 "isize"
      Whitespace@1955..1956 " "
    BLOCK@1956..2078
      LBrace@1956..1957 "{"
      Whitespace@1957..1962 "\n    "
      STMT_LET@1962..1991
        LetKeyword@1962..1965 "let"
        Whitespace@1965..1966 " "
        PATTERN_VARIABLE@1966..1972
          Ident@1966..1971 "total"
          Whitespace@1971..1972 " "
        Eq@1972..1973 "="
        Whitespace@1973..1974 " "
        EXPR_CALL@1974..1985
          EXPR_IDENT@1974..1982
            PATH@1974..1982
              Ident@1974..1977 "Ref"
              ColonColon@1977..1979 "::"
              Ident@1979..1982 "new"
          ARG_LIST@1982..1985
            LParen@1982..1983 "("
            ARG@1983..1984
              EXPR_INT@1983..1984
                Int@1983..1984 "0"
            RParen@1984..1985 ")"
        Semi@1985..1986 ";"
        Whitespace@1986..1991 "\n    "
      STMT_EXPR@1991..2063
        EXPR_FOR@1991..2063
          ForKeyword@1991..1994 "for"
          Whitespace@1994..1995 " "
          PATTERN_VARIABLE@1995..2002
            Ident@1995..2001 "answer"
            Whitespace@2001..2002 " "
          InKeyword@2002..2004 "in"
          EXPR_ARRAY_LITERAL@2004..2011
            LBracket@2004..2005 "["
            EXPR_INT@2005..2006
              Int@2005..2006 "1"
            Comma@2006..2007 ","
            Whitespace@2007..2008 " "
            EXPR_INT@2008..2009
              Int@2008..2009 "2"
            RBracket@2009..2010 "]"
            Whitespace@2010..2011 " "
          BLOCK@2011..2063
            LBrace@2011..2012 "{"
            Whitespace@2012..2021 "\n        "
            EXPR_CALL@2021..2057
              EXPR_BINARY@2021..2030
                EXPR_IDENT@2021..2026
                  PATH@2021..2026
                    Ident@2021..2026 "total"
                Dot@2026..2027 "."
                EXPR_IDENT@2027..2030
                  PATH@2027..2030
                    Ident@2027..2030 "set"
              ARG_LIST@2030..2057
                LParen@2030..2031 "("
                ARG@2031..2051
                  EXPR_BINARY@2031..2051
                    EXPR_CALL@2031..2043
                      EXPR_BINARY@2031..2040
                        EXPR_IDENT@2031..2036
                          PATH@2031..2036
                            Ident@2031..2036 "total"
                        Dot@2036..2037 "."
                        EXPR_IDENT@2037..2040
                          PATH@2037..2040
                            Ident@2037..2040 "get"
                      ARG_LIST@2040..2043
                        LParen@2040..2041 "("
                        RParen@2041..2042 ")"
                        Whitespace@2042..2043 " "
                    Plus@2043..2044 "+"
                    Whitespace@2044..2045 " "
                    EXPR_IDENT@2045..2051
                      PATH@2045..2051
                        Ident@2045..2051 "answer"
                RParen@2051..2052 ")"
                Whitespace@2052..2057 "\n    "
            RBrace@2057..2058 "}"
            Whitespace@2058..2063 "\n    "
      EXPR_CALL@2063..2075
        EXPR_BINARY@2063..2072
          EXPR_IDENT@2063..2068
            PATH@2063..2068
              Ident@2063..2068 "total"
          Dot@2068..2069 "."
          EXPR_IDENT@2069..2072
            PATH@2069..2072
              Ident@2069..2072 "get"
        ARG_LIST@2072..2075
          LParen@2072..2073 "("
          RParen@2073..2074 ")"
          Whitespace@2074..2075 "\n"
      RBrace@2075..2076 "}"
      Whitespace@2076..2078 "\n\n"
  FN@2078..2846
    FnKeyword@2078..2080 "fn"
    Whitespace@2080..2081 " "
    Ident@2081..2085 "main"
    PARAM_LIST@2085..2088
      LParen@2085..2086 "("
      RParen@2086..2087 ")"
      Whitespace@2087..2088 " "
    Arrow@2088..2090 "->"
    Whitespace@2090..2091 " "
    TYPE_TUPLE@2091..2094
      TYPE_LIST@2091..2094
        LParen@2091..2092 "("
        RParen@2092..2093 ")"
        Whitespace@2093..2094 " "
    BLOCK@2094..2846
      LBrace@2094..2095 "{"
      Whitespace@2095..2100 "\n    "
      STMT_EXPR@2100..2127
        EXPR_CALL@2100..2121
          EXPR_IDENT@2100..2107
            PATH@2100..2107
              Ident@2100..2107 "println"
          ARG_LIST@2107..2121
            LParen@2107..2108 "("
            ARG@2108..2120
              EXPR_CALL@2108..2120
                EXPR_IDENT@2108..2116
                  PATH@2108..2116
                    Ident@2108..2116 "classify"
                ARG_LIST@2116..2120
                  LParen@2116..2117 "("
                  ARG@2117..2119
                    EXPR_INT@2117..2119
                      Int@2117..2119 "42"
                  RParen@2119..2120 ")"
            RParen@2120..2121 ")"
        Semi@2121..2122 ";"
        Whitespace@2122..2127 "\n    "
      STMT_EXPR@2127..2153
        EXPR_CALL@2127..2147
          EXPR_IDENT@2127..2134
            PATH@2127..2134
              Ident@2127..2134 "println"
          ARG_LIST@2134..2147
            LParen@2134..2135 "("
            ARG@2135..2146
              EXPR_CALL@2135..2146
                EXPR_IDENT@2135..2143
                  PATH@2135..2143
                    Ident@2135..2143 "classify"
                ARG_LIST@2143..2146
                  LParen@2143..2144 "("
                  ARG@2144..2145
                    EXPR_INT@2144..2145
                      Int@2144..2145 "7"
                  RParen@2145..2146 ")"
            RParen@2146..2147 ")"
        Semi@2147..2148 ";"
        Whitespace@2148..2153 "\n    "
      STMT_EXPR@2153..2179
        EXPR_CALL@2153..2173
          EXPR_IDENT@2153..2160
            PATH@2153..2160
              Ident@2153..2160 "println"
          ARG_LIST@2160..2173
            LParen@2160..2161 "("
            ARG@2161..2172
              EXPR_CALL@2161..2172
                EXPR_IDENT@2161..2169
                  PATH@2161..2169
                    Ident@2161..2169 "classify"
                ARG_LIST@2169..2172
                  LParen@2169..2170 "("
                  ARG@2170..2171
                    EXPR_INT@2170..2171
                      Int@2170..2171 "0"
                  RParen@2171..2172 ")"
            RParen@2172..2173 ")"
        Semi@2173..2174 ";"
        Whitespace@2174..2179 "\n    "
      STMT_EXPR@2179..2213
        EXPR_CALL@2179..2207
          EXPR_IDENT@2179..2186
            PATH@2179..2186
              Ident@2179..2186 "println"
          ARG_LIST@2186..2207
            LParen@2186..2187 "("
            ARG@2187..2206
              EXPR_CALL@2187..2206
                EXPR_IDENT@2187..2200
                  PATH@2187..2200
                    Ident@2187..2200 "classify_bool"
                ARG_LIST@2200..2206
                  LParen@2200..2201 "("
                  ARG@2201..2205
                    EXPR_BOOL@2201..2205
                      TrueKeyword@2201..2205 "true"
                  RParen@2205..2206 ")"
            RParen@2206..2207 ")"
        Semi@2207..2208 ";"
        Whitespace@2208..2213 "\n    "
      STMT_EXPR@2213..2248
        EXPR_CALL@2213..2242
          EXPR_IDENT@2213..2220
            PATH@2213..2220
              Ident@2213..2220 "println"
          ARG_LIST@2220..2242
            LParen@2220..2221 "("
            ARG@2221..2241
              EXPR_CALL@2221..2241
                EXPR_IDENT@2221..2234
                  PATH@2221..2234
                    Ident@2221..2234 "classify_bool"
                ARG_LIST@2234..2241
                  LParen@2234..2235 "("
                  ARG@2235..2240
                    EXPR_BOOL@2235..2240
                      FalseKeyword@2235..2240 "false"
                  RParen@2240..2241 ")"
            RParen@2241..2242 ")"
        Semi@2242..2243 ";"
        Whitespace@2243..2248 "\n    "
      STMT_EXPR@2248..2291
        EXPR_CALL@2248..2285
          EXPR_IDENT@2248..2255
            PATH@2248..2255
              Ident@2248..2255 "println"
          ARG_LIST@2255..2285
            LParen@2255..2256 "("
            ARG@2256..2284
              EXPR_CALL@2256..2284
                EXPR_IDENT@2256..2278
                  PATH@2256..2278
                    Ident@2256..2278 "classify_computed_bool"
                ARG_LIST@2278..2284
                  LParen@2278..2279 "("
                  ARG@2279..2283
                    EXPR_BOOL@2279..2283
                      TrueKeyword@2279..2283 "true"
                  RParen@2283..2284 ")"
            RParen@2284..2285 ")"
        Semi@2285..2286 ";"
        Whitespace@2286..2291 "\n    "
      STMT_EXPR@2291..2335
        EXPR_CALL@2291..2329
          EXPR_IDENT@2291..2298
            PATH@2291..2298
              Ident@2291..2298 "println"
          ARG_LIST@2298..2329
            LParen@2298..2299 "("
            ARG@2299..2328
              EXPR_CALL@2299..2328
                EXPR_IDENT@2299..2321
                  PATH@2299..2321
                    Ident@2299..2321 "classify_computed_bool"
                ARG_LIST@2321..2328
                  LParen@2321..2322 "("
                  ARG@2322..2327
                    EXPR_BOOL@2322..2327
                      FalseKeyword@2322..2327 "false"
                  RParen@2327..2328 ")"
            RParen@2328..2329 ")"
        Semi@2329..2330 ";"
        Whitespace@2330..2335 "\n    "
      STMT_EXPR@2335..2379
        EXPR_CALL@2335..2373
          EXPR_IDENT@2335..2342
            PATH@2335..2342
              Ident@2335..2342 "println"
          ARG_LIST@2342..2373
            LParen@2342..2343 "("
            ARG@2343..2372
              EXPR_CALL@2343..2372
                EXPR_IDENT@2343..2366
                  PATH@2343..2366
                    Ident@2343..2366 "classify_comptime_guard"
                ARG_LIST@2366..2372
                  LParen@2366..2367 "("
                  ARG@2367..2371
                    EXPR_BOOL@2367..2371
                      TrueKeyword@2367..2371 "true"
                  RParen@2371..2372 ")"
            RParen@2372..2373 ")"
        Semi@2373..2374 ";"
        Whitespace@2374..2379 "\n    "
      STMT_EXPR@2379..2424
        EXPR_CALL@2379..2418
          EXPR_IDENT@2379..2386
            PATH@2379..2386
              Ident@2379..2386 "println"
          ARG_LIST@2386..2418
            LParen@2386..2387 "("
            ARG@2387..2417
              EXPR_CALL@2387..2417
                EXPR_IDENT@2387..2410
                  PATH@2387..2410
                    Ident@2387..2410 "classify_comptime_guard"
                ARG_LIST@2410..2417
                  LParen@2410..2411 "("
                  ARG@2411..2416
                    EXPR_BOOL@2411..2416
                      FalseKeyword@2411..2416 "false"
                  RParen@2416..2417 ")"
            RParen@2417..2418 ")"
        Semi@2418..2419 ";"
        Whitespace@2419..2424 "\n    "
      STMT_EXPR@2424..2464
        EXPR_CALL@2424..2458
          EXPR_IDENT@2424..2431
            PATH@2424..2431
              Ident@2424..2431 "println"
          ARG_LIST@2431..2458
            LParen@2431..2432 "("
            ARG@2432..2457
              EXPR_CALL@2432..2457
                EXPR_IDENT@2432..2445
                  PATH@2432..2445
                    Ident@2432..2445 "classify_pair"
                ARG_LIST@2445..2457
                  LParen@2445..2446 "("
                  ARG@2446..2456
                    EXPR_TUPLE@2446..2456
                      LParen@2446..2447 "("
                      EXPR_INT@2447..2449
                        Int@2447..2449 "42"
                      Comma@2449..2450 ","
                      Whitespace@2450..2451 " "
                      EXPR_BYTE@2451..2455
                        ByteCharLit@2451..2455 "b'A'"
                      RParen@2455..2456 ")"
                  RParen@2456..2457 ")"
            RParen@2457..2458 ")"
        Semi@2458..2459 ";"
        Whitespace@2459..2464 "\n    "
      STMT_EXPR@2464..2504
        EXPR_CALL@2464..2498
          EXPR_IDENT@2464..2471
            PATH@2464..2471
              Ident@2464..2471 "println"
          ARG_LIST@2471..2498
            LParen@2471..2472 "("
            ARG@2472..2497
              EXPR_CALL@2472..2497
                EXPR_IDENT@2472..2485
                  PATH@2472..2485
                    Ident@2472..2485 "classify_pair"
                ARG_LIST@2485..2497
                  LParen@2485..2486 "("
                  ARG@2486..2496
                    EXPR_TUPLE@2486..2496
                      LParen@2486..2487 "("
                      EXPR_INT@2487..2489
                        Int@2487..2489 "42"
                      Comma@2489..2490 ","
                      Whitespace@2490..2491 " "
                      EXPR_BYTE@2491..2495
                        ByteCharLit@2491..2495 "b'B'"
                      RParen@2495..2496 ")"
                  RParen@2496..2497 ")"
            RParen@2497..2498 ")"
        Semi@2498..2499 ";"
        Whitespace@2499..2504 "\n    "
      STMT_EXPR@2504..2543
        EXPR_CALL@2504..2537
          EXPR_IDENT@2504..2511
            PATH@2504..2511
              Ident@2504..2511 "println"
          ARG_LIST@2511..2537
            LParen@2511..2512 "("
            ARG@2512..2536
              EXPR_CALL@2512..2536
                EXPR_IDENT@2512..2527
                  PATH@2512..2527
                    Ident@2512..2527 "classify_string"
                ARG_LIST@2527..2536
                  LParen@2527..2528 "("
                  ARG@2528..2535
                    EXPR_STR@2528..2535
                      Str@2528..2535 "\"hello\""
                  RParen@2535..2536 ")"
            RParen@2536..2537 ")"
        Semi@2537..2538 ";"
        Whitespace@2538..2543 "\n    "
      STMT_EXPR@2543..2577
        EXPR_CALL@2543..2571
          EXPR_IDENT@2543..2550
            PATH@2543..2550
              Ident@2543..2550 "println"
          ARG_LIST@2550..2571
            LParen@2550..2551 "("
            ARG@2551..2570
              EXPR_CALL@2551..2570
                EXPR_IDENT@2551..2565
                  PATH@2551..2565
                    Ident@2551..2565 "classify_float"
                ARG_LIST@2565..2570
                  LParen@2565..2566 "("
                  ARG@2566..2569
                    EXPR_FLOAT@2566..2569
                      Float@2566..2569 "1.5"
                  RParen@2569..2570 ")"
            RParen@2570..2571 ")"
        Semi@2571..2572 ";"
        Whitespace@2572..2577 "\n    "
      STMT_EXPR@2577..2609
        EXPR_CALL@2577..2603
          EXPR_IDENT@2577..2584
            PATH@2577..2584
              Ident@2577..2584 "println"
          ARG_LIST@2584..2603
            LParen@2584..2585 "("
            ARG@2585..2602
              EXPR_CALL@2585..2602
                EXPR_IDENT@2585..2600
                  PATH@2585..2600
                    Ident@2585..2600 "shadow_constant"
                ARG_LIST@2600..2602
                  LParen@2600..2601 "("
                  RParen@2601..2602 ")"
            RParen@2602..2603 ")"
        Semi@2603..2604 ";"
        Whitespace@2604..2609 "\n    "
      STMT_EXPR@2609..2644
        EXPR_CALL@2609..2638
          EXPR_IDENT@2609..2616
            PATH@2609..2616
              Ident@2609..2616 "println"
          ARG_LIST@2616..2638
            LParen@2616..2617 "("
            ARG@2617..2637
              EXPR_CALL@2617..2637
                EXPR_IDENT@2617..2633
                  PATH@2617..2633
                    Ident@2617..2633 "explicit_binding"
                ARG_LIST@2633..2637
                  LParen@2633..2634 "("
                  ARG@2634..2636
                    EXPR_INT@2634..2636
                      Int@2634..2636 "11"
                  RParen@2636..2637 ")"
            RParen@2637..2638 ")"
        Semi@2638..2639 ";"
        Whitespace@2639..2644 "\n    "
      STMT_EXPR@2644..2677
        EXPR_CALL@2644..2671
          EXPR_IDENT@2644..2651
            PATH@2644..2651
              Ident@2644..2651 "println"
          ARG_LIST@2651..2671
            LParen@2651..2652 "("
            ARG@2652..2670
              EXPR_CALL@2652..2670
                EXPR_IDENT@2652..2666
                  PATH@2652..2666
                    Ident@2652..2666 "matches_if_let"
                ARG_LIST@2666..2670
                  LParen@2666..2667 "("
                  ARG@2667..2669
                    EXPR_INT@2667..2669
                      Int@2667..2669 "42"
                  RParen@2669..2670 ")"
            RParen@2670..2671 ")"
        Semi@2671..2672 ";"
        Whitespace@2672..2677 "\n    "
      STMT_EXPR@2677..2710
        EXPR_CALL@2677..2704
          EXPR_IDENT@2677..2684
            PATH@2677..2684
              Ident@2677..2684 "println"
          ARG_LIST@2684..2704
            LParen@2684..2685 "("
            ARG@2685..2703
              EXPR_CALL@2685..2703
                EXPR_IDENT@2685..2699
                  PATH@2685..2699
                    Ident@2685..2699 "matches_if_let"
                ARG_LIST@2699..2703
                  LParen@2699..2700 "("
                  ARG@2700..2702
                    EXPR_INT@2700..2702
                      Int@2700..2702 "41"
                  RParen@2702..2703 ")"
            RParen@2703..2704 ")"
        Semi@2704..2705 ";"
        Whitespace@2705..2710 "\n    "
      STMT_EXPR@2710..2745
        EXPR_CALL@2710..2739
          EXPR_IDENT@2710..2717
            PATH@2710..2717
              Ident@2710..2717 "println"
          ARG_LIST@2717..2739
            LParen@2717..2718 "("
            ARG@2718..2738
              EXPR_CALL@2718..2738
                EXPR_IDENT@2718..2734
                  PATH@2718..2734
                    Ident@2718..2734 "matches_let_else"
                ARG_LIST@2734..2738
                  LParen@2734..2735 "("
                  ARG@2735..2737
                    EXPR_INT@2735..2737
                      Int@2735..2737 "42"
                  RParen@2737..2738 ")"
            RParen@2738..2739 ")"
        Semi@2739..2740 ";"
        Whitespace@2740..2745 "\n    "
      STMT_EXPR@2745..2780
        EXPR_CALL@2745..2774
          EXPR_IDENT@2745..2752
            PATH@2745..2752
              Ident@2745..2752 "println"
          ARG_LIST@2752..2774
            LParen@2752..2753 "("
            ARG@2753..2773
              EXPR_CALL@2753..2773
                EXPR_IDENT@2753..2769
                  PATH@2753..2769
                    Ident@2753..2769 "matches_let_else"
                ARG_LIST@2769..2773
                  LParen@2769..2770 "("
                  ARG@2770..2772
                    EXPR_INT@2770..2772
                      Int@2770..2772 "41"
                  RParen@2772..2773 ")"
            RParen@2773..2774 ")"
        Semi@2774..2775 ";"
        Whitespace@2775..2780 "\n    "
      STMT_EXPR@2780..2808
        EXPR_CALL@2780..2802
          EXPR_IDENT@2780..2787
            PATH@2780..2787
              Ident@2780..2787 "println"
          ARG_LIST@2787..2802
            LParen@2787..2788 "("
            ARG@2788..2801
              EXPR_CALL@2788..2801
                EXPR_IDENT@2788..2799
                  PATH@2788..2799
                    Ident@2788..2799 "for_binding"
                ARG_LIST@2799..2801
                  LParen@2799..2800 "("
                  RParen@2800..2801 ")"
            RParen@2801..2802 ")"
        Semi@2802..2803 ";"
        Whitespace@2803..2808 "\n    "
      EXPR_CALL@2808..2844
        EXPR_IDENT@2808..2815
          PATH@2808..2815
            Ident@2808..2815 "println"
        ARG_LIST@2815..2844
          LParen@2815..2816 "("
          ARG@2816..2842
            EXPR_IDENT@2816..2842
              PATH@2816..2842
                Ident@2816..2842 "CLASSIFIED_AT_COMPILE ..."
          RParen@2842..2843 ")"
          Whitespace@2843..2844 "\n"
      RBrace@2844..2845 "}"
      Whitespace@2845..2846 "\n"