FILE@0..2530
  CONST@0..28
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..12 "answer"
    Colon@12..13 ":"
    Whitespace@13..14 " "
    TYPE_INT@14..18
      IntKeyword@14..17 "int"
      Whitespace@17..18 " "
    Eq@18..19 "="
    Whitespace@19..20 " "
    EXPR_BINARY@20..26
      EXPR_INT@20..23
        Int@20..22 "40"
        Whitespace@22..23 " "
      Plus@23..24 "+"
      Whitespace@24..25 " "
      EXPR_INT@25..26
        Int@25..26 "2"
    Semi@26..27 ";"
    Whitespace@27..28 "\n"
  CONST@28..54
    ConstKeyword@28..33 "const"
    Whitespace@33..34 " "
    Ident@34..43 "alternate"
    Colon@43..44 ":"
    Whitespace@44..45 " "
    TYPE_INT@45..49
      IntKeyword@45..48 "int"
      Whitespace@48..49 " "
    Eq@49..50 "="
    Whitespace@50..51 " "
    EXPR_INT@51..52
      Int@51..52 "7"
    Semi@52..53 ";"
    Whitespace@53..54 "\n"
  CONST@54..82
    ConstKeyword@54..59 "const"
    Whitespace@59..60 " "
    Ident@60..67 "enabled"
    Colon@67..68 ":"
    Whitespace@68..69 " "
    TYPE_BOOL@69..74
      BoolKeyword@69..73 "bool"
      Whitespace@73..74 " "
    Eq@74..75 "="
    Whitespace@75..76 " "
    EXPR_BOOL@76..80
      TrueKeyword@76..80 "true"
    Semi@80..81 ";"
    Whitespace@81..82 "\n"
  CONST@82..116
    ConstKeyword@82..87 "const"
    Whitespace@87..88 " "
    Ident@88..96 "greeting"
    Colon@96..97 ":"
    Whitespace@97..98 " "
    TYPE_STRING@98..105
      StringKeyword@98..104 "string"
      Whitespace@104..105 " "
    Eq@105..106 "="
    Whitespace@106..107 " "
    EXPR_STR@107..114
      Str@107..114 "\"hello\""
    Semi@114..115 ";"
    Whitespace@115..116 "\n"
  CONST@116..143
    ConstKeyword@116..121 "const"
    Whitespace@121..122 " "
    Ident@122..128 "marker"
    Colon@128..129 ":"
    Whitespace@129..130 " "
    TYPE_TAPP@130..135
      PATH@130..135
        Ident@130..134 "byte"
        Whitespace@134..135 " "
    Eq@135..136 "="
    Whitespace@136..137 " "
    EXPR_BYTE@137..141
      ByteCharLit@137..141 "b'A'"
    Semi@141..142 ";"
    Whitespace@142..143 "\n"
  CONST@143..172
    ConstKeyword@143..148 "const"
    Whitespace@148..149 " "
    Ident@149..154 "ratio"
    Colon@154..155 ":"
    Whitespace@155..156 " "
    TYPE_FLOAT64@156..164
      Float64Keyword@156..163 "float64"
      Whitespace@163..164 " "
    Eq@164..165 "="
    Whitespace@165..166 " "
    EXPR_FLOAT@166..169
      Float@166..169 "1.5"
    Semi@169..170 ";"
    Whitespace@170..172 "\n\n"
  CONST@172..235
    ConstKeyword@172..177 "const"
    Whitespace@177..178 " "
    Ident@178..204 "classified_at_compile ..."
    Colon@204..205 ":"
    Whitespace@205..206 " "
    TYPE_INT@206..210
      IntKeyword@206..209 "int"
      Whitespace@209..210 " "
    Eq@210..211 "="
    Whitespace@211..212 " "
    EXPR_CALL@212..233
      EXPR_IDENT@212..229
        PATH@212..229
          Ident@212..229 "comptime_classify"
      ARG_LIST@229..233
        LParen@229..230 "("
        ARG@230..232
          EXPR_INT@230..232
            Int@230..232 "42"
        RParen@232..233 ")"
    Semi@233..234 ";"
    Whitespace@234..235 "\n"
  CONST@235..279
    ConstKeyword@235..240 "const"
    Whitespace@240..241 " "
    Ident@241..256 "computed_answer"
    Colon@256..257 ":"
    Whitespace@257..258 " "
    TYPE_INT@258..262
      IntKeyword@258..261 "int"
      Whitespace@261..262 " "
    Eq@262..263 "="
    Whitespace@263..264 " "
    EXPR_CALL@264..277
      EXPR_IDENT@264..275
        PATH@264..275
          Ident@264..275 "make_answer"
      ARG_LIST@275..277
        LParen@275..276 "("
        RParen@276..277 ")"
    Semi@277..278 ";"
    Whitespace@278..279 "\n"
  CONST@279..327
    ConstKeyword@279..284 "const"
    Whitespace@284..285 " "
    Ident@285..301 "computed_enabled"
    Colon@301..302 ":"
    Whitespace@302..303 " "
    TYPE_BOOL@303..308
      BoolKeyword@303..307 "bool"
      Whitespace@307..308 " "
    Eq@308..309 "="
    Whitespace@309..310 " "
    EXPR_CALL@310..324
      EXPR_IDENT@310..322
        PATH@310..322
          Ident@310..322 "make_enabled"
      ARG_LIST@322..324
        LParen@322..323 "("
        RParen@323..324 ")"
    Semi@324..325 ";"
    Whitespace@325..327 "\n\n"
  FN@327..375
    ATTRIBUTE_LIST@327..339
      ATTRIBUTE@327..339
        Pound@327..328 "#"
        LBracket@328..329 "["
        Ident@329..337 "comptime"
        RBracket@337..338 "]"
        Whitespace@338..339 "\n"
    FnKeyword@339..341 "fn"
    Whitespace@341..342 " "
    Ident@342..353 "make_answer"
    PARAM_LIST@353..356
      LParen@353..354 "("
      RParen@354..355 ")"
      Whitespace@355..356 " "
    Arrow@356..358 "->"
    Whitespace@358..359 " "
    TYPE_INT@359..363
      IntKeyword@359..362 "int"
      Whitespace@362..363 " "
    BLOCK@363..375
      LBrace@363..364 "{"
      Whitespace@364..369 "\n    "
      EXPR_INT@369..372
        Int@369..371 "42"
        Whitespace@371..372 "\n"
      RBrace@372..373 "}"
      Whitespace@373..375 "\n\n"
  FN@375..427
    ATTRIBUTE_LIST@375..387
      ATTRIBUTE@375..387
        Pound@375..376 "#"
        LBracket@376..377 "["
        Ident@377..385 "comptime"
        RBracket@385..386 "]"
        Whitespace@386..387 "\n"
    FnKeyword@387..389 "fn"
    Whitespace@389..390 " "
    Ident@390..402 "make_enabled"
    PARAM_LIST@402..405
      LParen@402..403 "("
      RParen@403..404 ")"
      Whitespace@404..405 " "
    Arrow@405..407 "->"
    Whitespace@407..408 " "
    TYPE_BOOL@408..413
      BoolKeyword@408..412 "bool"
      Whitespace@412..413 " "
    BLOCK@413..427
      LBrace@413..414 "{"
      Whitespace@414..419 "\n    "
      EXPR_BOOL@419..424
        TrueKeyword@419..423 "true"
        Whitespace@423..424 "\n"
      RBrace@424..425 "}"
      Whitespace@425..427 "\n\n"
  FN@427..554
    ATTRIBUTE_LIST@427..439
      ATTRIBUTE@427..439
        Pound@427..428 "#"
        LBracket@428..429 "["
        Ident@429..437 "comptime"
        RBracket@437..438 "]"
        Whitespace@438..439 "\n"
    FnKeyword@439..441 "fn"
    Whitespace@441..442 " "
    Ident@442..459 "comptime_classify"
    PARAM_LIST@459..472
      LParen@459..460 "("
      PARAM@460..470
        Ident@460..465 "value"
        Colon@465..466 ":"
        Whitespace@466..467 " "
        TYPE_INT@467..470
          IntKeyword@467..470 "int"
      RParen@470..471 ")"
      Whitespace@471..472 " "
    Arrow@472..474 "->"
    Whitespace@474..475 " "
    TYPE_INT@475..479
      IntKeyword@475..478 "int"
      Whitespace@478..479 " "
    BLOCK@479..554
      LBrace@479..480 "{"
      Whitespace@480..485 "\n    "
      EXPR_MATCH@485..551
        MatchKeyword@485..490 "match"
        Whitespace@490..491 " "
        EXPR_IDENT@491..497
          PATH@491..497
            Ident@491..496 "value"
            Whitespace@496..497 " "
        MATCH_ARM_LIST@497..551
          LBrace@497..498 "{"
          Whitespace@498..507 "\n        "
          MATCH_ARM@507..527
            PATTERN_VARIABLE@507..523
              Ident@507..522 "computed_answer"
              Whitespace@522..523 " "
            FatArrow@523..525 "=>"
            Whitespace@525..526 " "
            EXPR_INT@526..527
              Int@526..527 "1"
          Comma@527..528 ","
          Whitespace@528..537 "\n        "
          MATCH_ARM@537..543
            PATTERN_WILDCARD@537..539
              WildcardKeyword@537..538 "_"
              Whitespace@538..539 " "
            FatArrow@539..541 "=>"
            Whitespace@541..542 " "
            EXPR_INT@542..543
              Int@542..543 "0"
          Comma@543..544 ","
          Whitespace@544..549 "\n    "
          RBrace@549..550 "}"
          Whitespace@550..551 "\n"
      RBrace@551..552 "}"
      Whitespace@552..554 "\n\n"
  FN@554..678
    FnKeyword@554..556 "fn"
    Whitespace@556..557 " "
    Ident@557..565 "classify"
    PARAM_LIST@565..578
      LParen@565..566 "("
      PARAM@566..576
        Ident@566..571 "value"
        Colon@571..572 ":"
        Whitespace@572..573 " "
        TYPE_INT@573..576
          IntKeyword@573..576 "int"
      RParen@576..577 ")"
      Whitespace@577..578 " "
    Arrow@578..580 "->"
    Whitespace@580..581 " "
    TYPE_STRING@581..588
      StringKeyword@581..587 "string"
      Whitespace@587..588 " "
    BLOCK@588..678
      LBrace@588..589 "{"
      Whitespace@589..594 "\n    "
      EXPR_MATCH@594..675
        MatchKeyword@594..599 "match"
        Whitespace@599..600 " "
        EXPR_IDENT@600..606
          PATH@600..606
            Ident@600..605 "value"
            Whitespace@605..606 " "
        MATCH_ARM_LIST@606..675
          LBrace@606..607 "{"
          Whitespace@607..616 "\n        "
          MATCH_ARM@616..645
            PATTERN_OR@616..635
              PATTERN_VARIABLE@616..623
                Ident@616..622 "answer"
                Whitespace@622..623 " "
              Pipe@623..624 "|"
              Whitespace@624..625 " "
              PATTERN_VARIABLE@625..635
                Ident@625..634 "alternate"
                Whitespace@634..635 " "
            FatArrow@635..637 "=>"
            Whitespace@637..638 " "
            EXPR_STR@638..645
              Str@638..645 "\"known\""
          Comma@645..646 ","
          Whitespace@646..655 "\n        "
          MATCH_ARM@655..667
            PATTERN_WILDCARD@655..657
              WildcardKeyword@655..656 "_"
              Whitespace@656..657 " "
            FatArrow@657..659 "=>"
            Whitespace@659..660 " "
            EXPR_STR@660..667
              Str@660..667 "\"other\""
          Comma@667..668 ","
          Whitespace@668..673 "\n    "
          RBrace@673..674 "}"
          Whitespace@674..675 "\n"
      RBrace@675..676 "}"
      Whitespace@676..678 "\n\n"
  FN@678..806
    FnKeyword@678..680 "fn"
    Whitespace@680..681 " "
    Ident@681..694 "classify_bool"
    PARAM_LIST@694..708
      LParen@694..695 "("
      PARAM@695..706
        Ident@695..700 "value"
        Colon@700..701 ":"
        Whitespace@701..702 " "
        TYPE_BOOL@702..706
          BoolKeyword@702..706 "bool"
      RParen@706..707 ")"
      Whitespace@707..708 " "
    Arrow@708..710 "->"
    Whitespace@710..711 " "
    TYPE_STRING@711..718
      StringKeyword@711..717 "string"
      Whitespace@717..718 " "
    BLOCK@718..806
      LBrace@718..719 "{"
      Whitespace@719..724 "\n    "
      EXPR_MATCH@724..803
        MatchKeyword@724..729 "match"
        Whitespace@729..730 " "
        EXPR_IDENT@730..736
          PATH@730..736
            Ident@730..735 "value"
            Whitespace@735..736 " "
        MATCH_ARM_LIST@736..803
          LBrace@736..737 "{"
          Whitespace@737..746 "\n        "
          MATCH_ARM@746..766
            PATTERN_VARIABLE@746..754
              Ident@746..753 "enabled"
              Whitespace@753..754 " "
            FatArrow@754..756 "=>"
            Whitespace@756..757 " "
            EXPR_STR@757..766
              Str@757..766 "\"enabled\""
          Comma@766..767 ","
          Whitespace@767..776 "\n        "
          MATCH_ARM@776..795
            PATTERN_BOOL@776..782
              FalseKeyword@776..781 "false"
              Whitespace@781..782 " "
            FatArrow@782..784 "=>"
            Whitespace@784..785 " "
            EXPR_STR@785..795
              Str@785..795 "\"disabled\""
          Comma@795..796 ","
          Whitespace@796..801 "\n    "
          RBrace@801..802 "}"
          Whitespace@802..803 "\n"
      RBrace@803..804 "}"
      Whitespace@804..806 "\n\n"
  FN@806..952
    FnKeyword@806..808 "fn"
    Whitespace@808..809 " "
    Ident@809..831 "classify_computed_bool"
    PARAM_LIST@831..845
      LParen@831..832 "("
      PARAM@832..843
        Ident@832..837 "value"
        Colon@837..838 ":"
        Whitespace@838..839 " "
        TYPE_BOOL@839..843
          BoolKeyword@839..843 "bool"
      RParen@843..844 ")"
      Whitespace@844..845 " "
    Arrow@845..847 "->"
    Whitespace@847..848 " "
    TYPE_STRING@848..855
      StringKeyword@848..854 "string"
      Whitespace@854..855 " "
    BLOCK@855..952
      LBrace@855..856 "{"
      Whitespace@856..861 "\n    "
      EXPR_MATCH@861..949
        MatchKeyword@861..866 "match"
        Whitespace@866..867 " "
        EXPR_IDENT@867..873
          PATH@867..873
            Ident@867..872 "value"
            Whitespace@872..873 " "
        MATCH_ARM_LIST@873..949
          LBrace@873..874 "{"
          Whitespace@874..883 "\n        "
          MATCH_ARM@883..912
            PATTERN_VARIABLE@883..900
              Ident@883..899 "computed_enabled"
              Whitespace@899..900 " "
            FatArrow@900..902 "=>"
            Whitespace@902..903 " "
            EXPR_STR@903..912
              Str@903..912 "\"enabled\""
          Comma@912..913 ","
          Whitespace@913..922 "\n        "
          MATCH_ARM@922..941
            PATTERN_BOOL@922..928
              FalseKeyword@922..927 "false"
              Whitespace@927..928 " "
            FatArrow@928..930 "=>"
            Whitespace@930..931 " "
            EXPR_STR@931..941
              Str@931..941 "\"disabled\""
          Comma@941..942 ","
          Whitespace@942..947 "\n    "
          RBrace@947..948 "}"
          Whitespace@948..949 "\n"
      RBrace@949..950 "}"
      Whitespace@950..952 "\n\n"
  FN@952..1080
    FnKeyword@952..954 "fn"
    Whitespace@954..955 " "
    Ident@955..968 "classify_pair"
    PARAM_LIST@968..989
      LParen@968..969 "("
      PARAM@969..987
        Ident@969..974 "value"
        Colon@974..975 ":"
        Whitespace@975..976 " "
        TYPE_TUPLE@976..987
          TYPE_LIST@976..987
            LParen@976..977 "("
            TYPE_INT@977..980
              IntKeyword@977..980 "int"
            Comma@980..981 ","
            Whitespace@981..982 " "
            TYPE_TAPP@982..986
              PATH@982..986
                Ident@982..986 "byte"
            RParen@986..987 ")"
      RParen@987..988 ")"
      Whitespace@988..989 " "
    Arrow@989..991 "->"
    Whitespace@991..992 " "
    TYPE_BOOL@992..997
      BoolKeyword@992..996 "bool"
      Whitespace@996..997 " "
    BLOCK@997..1080
      LBrace@997..998 "{"
      Whitespace@998..1003 "\n    "
      EXPR_MATCH@1003..1077
        MatchKeyword@1003..1008 "match"
        Whitespace@1008..1009 " "
        EXPR_IDENT@1009..1015
          PATH@1009..1015
            Ident@1009..1014 "value"
            Whitespace@1014..1015 " "
        MATCH_ARM_LIST@1015..1077
          LBrace@1015..1016 "{"
          Whitespace@1016..1025 "\n        "
          MATCH_ARM@1025..1049
            PATTERN_TUPLE@1025..1042
              LParen@1025..1026 "("
              PATTERN_VARIABLE@1026..1032
                Ident@1026..1032 "answer"
              Comma@1032..1033 ","
              Whitespace@1033..1034 " "
              PATTERN_VARIABLE@1034..1040
                Ident@1034..1040 "marker"
              RParen@1040..1041 ")"
              Whitespace@1041..1042 " "
            FatArrow@1042..1044 "=>"
            Whitespace@1044..1045 " "
            EXPR_BOOL@1045..1049
              TrueKeyword@1045..1049 "true"
          Comma@1049..1050 ","
          Whitespace@1050..1059 "\n        "
          MATCH_ARM@1059..1069
            PATTERN_WILDCARD@1059..1061
              WildcardKeyword@1059..1060 "_"
              Whitespace@1060..1061 " "
            FatArrow@1061..1063 "=>"
            Whitespace@1063..1064 " "
            EXPR_BOOL@1064..1069
              FalseKeyword@1064..1069 "false"
          Comma@1069..1070 ","
          Whitespace@1070..1075 "\n    "
          RBrace@1075..1076 "}"
          Whitespace@1076..1077 "\n"
      RBrace@1077..1078 "}"
      Whitespace@1078..1080 "\n\n"
  FN@1080..1197
    FnKeyword@1080..1082 "fn"
    Whitespace@1082..1083 " "
    Ident@1083..1098 "classify_string"
    PARAM_LIST@1098..1114
      LParen@1098..1099 "("
      PARAM@1099..1112
        Ident@1099..1104 "value"
        Colon@1104..1105 ":"
        Whitespace@1105..1106 " "
        TYPE_STRING@1106..1112
          StringKeyword@1106..1112 "string"
      RParen@1112..1113 ")"
      Whitespace@1113..1114 " "
    Arrow@1114..1116 "->"
    Whitespace@1116..1117 " "
    TYPE_BOOL@1117..1122
      BoolKeyword@1117..1121 "bool"
      Whitespace@1121..1122 " "
    BLOCK@1122..1197
      LBrace@1122..1123 "{"
      Whitespace@1123..1128 "\n    "
      EXPR_MATCH@1128..1194
        MatchKeyword@1128..1133 "match"
        Whitespace@1133..1134 " "
        EXPR_IDENT@1134..1140
          PATH@1134..1140
            Ident@1134..1139 "value"
            Whitespace@1139..1140 " "
        MATCH_ARM_LIST@1140..1194
          LBrace@1140..1141 "{"
          Whitespace@1141..1150 "\n        "
          MATCH_ARM@1150..1166
            PATTERN_VARIABLE@1150..1159
              Ident@1150..1158 "greeting"
              Whitespace@1158..1159 " "
            FatArrow@1159..1161 "=>"
            Whitespace@1161..1162 " "
            EXPR_BOOL@1162..1166
              TrueKeyword@1162..1166 "true"
          Comma@1166..1167 ","
          Whitespace@1167..1176 "\n        "
          MATCH_ARM@1176..1186
            PATTERN_WILDCARD@1176..1178
              WildcardKeyword@1176..1177 "_"
              Whitespace@1177..1178 " "
            FatArrow@1178..1180 "=>"
            Whitespace@1180..1181 " "
            EXPR_BOOL@1181..1186
              FalseKeyword@1181..1186 "false"
          Comma@1186..1187 ","
          Whitespace@1187..1192 "\n    "
          RBrace@1192..1193 "}"
          Whitespace@1193..1194 "\n"
      RBrace@1194..1195 "}"
      Whitespace@1195..1197 "\n\n"
  FN@1197..1311
    FnKeyword@1197..1199 "fn"
    Whitespace@1199..1200 " "
    Ident@1200..1214 "classify_float"
    PARAM_LIST@1214..1231
      LParen@1214..1215 "("
      PARAM@1215..1229
        Ident@1215..1220 "value"
        Colon@1220..1221 ":"
        Whitespace@1221..1222 " "
        TYPE_FLOAT64@1222..1229
          Float64Keyword@1222..1229 "float64"
      RParen@1229..1230 ")"
      Whitespace@1230..1231 " "
    Arrow@1231..1233 "->"
    Whitespace@1233..1234 " "
    TYPE_BOOL@1234..1239
      BoolKeyword@1234..1238 "bool"
      Whitespace@1238..1239 " "
    BLOCK@1239..1311
      LBrace@1239..1240 "{"
      Whitespace@1240..1245 "\n    "
      EXPR_MATCH@1245..1308
        MatchKeyword@1245..1250 "match"
        Whitespace@1250..1251 " "
        EXPR_IDENT@1251..1257
          PATH@1251..1257
            Ident@1251..1256 "value"
            Whitespace@1256..1257 " "
        MATCH_ARM_LIST@1257..1308
          LBrace@1257..1258 "{"
          Whitespace@1258..1267 "\n        "
          MATCH_ARM@1267..1280
            PATTERN_VARIABLE@1267..1273
              Ident@1267..1272 "ratio"
              Whitespace@1272..1273 " "
            FatArrow@1273..1275 "=>"
            Whitespace@1275..1276 " "
            EXPR_BOOL@1276..1280
              TrueKeyword@1276..1280 "true"
          Comma@1280..1281 ","
          Whitespace@1281..1290 "\n        "
          MATCH_ARM@1290..1300
            PATTERN_WILDCARD@1290..1292
              WildcardKeyword@1290..1291 "_"
              Whitespace@1291..1292 " "
            FatArrow@1292..1294 "=>"
            Whitespace@1294..1295 " "
            EXPR_BOOL@1295..1300
              FalseKeyword@1295..1300 "false"
          Comma@1300..1301 ","
          Whitespace@1301..1306 "\n    "
          RBrace@1306..1307 "}"
          Whitespace@1307..1308 "\n"
      RBrace@1308..1309 "}"
      Whitespace@1309..1311 "\n\n"
  FN@1311..1375
    FnKeyword@1311..1313 "fn"
    Whitespace@1313..1314 " "
    Ident@1314..1329 "shadow_constant"
    PARAM_LIST@1329..1332
      LParen@1329..1330 "("
      RParen@1330..1331 ")"
      Whitespace@1331..1332 " "
    Arrow@1332..1334 "->"
    Whitespace@1334..1335 " "
    TYPE_INT@1335..1339
      IntKeyword@1335..1338 "int"
      Whitespace@1338..1339 " "
    BLOCK@1339..1375
      LBrace@1339..1340 "{"
      Whitespace@1340..1345 "\n    "
      STMT_LET@1345..1365
        LetKeyword@1345..1348 "let"
        Whitespace@1348..1349 " "
        PATTERN_VARIABLE@1349..1356
          Ident@1349..1355 "answer"
          Whitespace@1355..1356 " "
        Eq@1356..1357 "="
        Whitespace@1357..1358 " "
        EXPR_INT@1358..1359
          Int@1358..1359 "9"
        Semi@1359..1360 ";"
        Whitespace@1360..1365 "\n    "
      EXPR_IDENT@1365..1372
        PATH@1365..1372
          Ident@1365..1371 "answer"
          Whitespace@1371..1372 "\n"
      RBrace@1372..1373 "}"
      Whitespace@1373..1375 "\n\n"
  FN@1375..1473
    FnKeyword@1375..1377 "fn"
    Whitespace@1377..1378 " "
    Ident@1378..1394 "explicit_binding"
    PARAM_LIST@1394..1407
      LParen@1394..1395 "("
      PARAM@1395..1405
        Ident@1395..1400 "value"
        Colon@1400..1401 ":"
        Whitespace@1401..1402 " "
        TYPE_INT@1402..1405
          IntKeyword@1402..1405 "int"
      RParen@1405..1406 ")"
      Whitespace@1406..1407 " "
    Arrow@1407..1409 "->"
    Whitespace@1409..1410 " "
    TYPE_INT@1410..1414
      IntKeyword@1410..1413 "int"
      Whitespace@1413..1414 " "
    BLOCK@1414..1473
      LBrace@1414..1415 "{"
      Whitespace@1415..1420 "\n    "
      EXPR_MATCH@1420..1470
        MatchKeyword@1420..1425 "match"
        Whitespace@1425..1426 " "
        EXPR_IDENT@1426..1432
          PATH@1426..1432
            Ident@1426..1431 "value"
            Whitespace@1431..1432 " "
        MATCH_ARM_LIST@1432..1470
          LBrace@1432..1433 "{"
          Whitespace@1433..1442 "\n        "
          MATCH_ARM@1442..1462
            PATTERN_ALIAS@1442..1453
              Ident@1442..1448 "answer"
              Whitespace@1448..1449 " "
              At@1449..1450 "@"
              Whitespace@1450..1451 " "
              PATTERN_WILDCARD@1451..1453
                WildcardKeyword@1451..1452 "_"
                Whitespace@1452..1453 " "
            FatArrow@1453..1455 "=>"
            Whitespace@1455..1456 " "
            EXPR_IDENT@1456..1462
              PATH@1456..1462
                Ident@1456..1462 "answer"
          Comma@1462..1463 ","
          Whitespace@1463..1468 "\n    "
          RBrace@1468..1469 "}"
          Whitespace@1469..1470 "\n"
      RBrace@1470..1471 "}"
      Whitespace@1471..1473 "\n\n"
  FN@1473..1590
    FnKeyword@1473..1475 "fn"
    Whitespace@1475..1476 " "
    Ident@1476..1490 "matches_if_let"
    PARAM_LIST@1490..1503
      LParen@1490..1491 "("
      PARAM@1491..1501
        Ident@1491..1496 "value"
        Colon@1496..1497 ":"
        Whitespace@1497..1498 " "
        TYPE_INT@1498..1501
          IntKeyword@1498..1501 "int"
      RParen@1501..1502 ")"
      Whitespace@1502..1503 " "
    Arrow@1503..1505 "->"
    Whitespace@1505..1506 " "
    TYPE_BOOL@1506..1511
      BoolKeyword@1506..1510 "bool"
      Whitespace@1510..1511 " "
    BLOCK@1511..1590
      LBrace@1511..1512 "{"
      Whitespace@1512..1517 "\n    "
      EXPR_IF@1517..1587
        IfKeyword@1517..1519 "if"
        Whitespace@1519..1520 " "
        EXPR_IF_COND@1520..1539
          LetKeyword@1520..1523 "let"
          Whitespace@1523..1524 " "
          PATTERN_VARIABLE@1524..1531
            Ident@1524..1530 "answer"
            Whitespace@1530..1531 " "
          Eq@1531..1532 "="
          Whitespace@1532..1533 " "
          EXPR_IDENT@1533..1539
            PATH@1533..1539
              Ident@1533..1538 "value"
              Whitespace@1538..1539 " "
        EXPR_IF_THEN@1539..1560
          BLOCK@1539..1560
            LBrace@1539..1540 "{"
            Whitespace@1540..1549 "\n        "
            EXPR_BOOL@1549..1558
              TrueKeyword@1549..1553 "true"
              Whitespace@1553..1558 "\n    "
            RBrace@1558..1559 "}"
            Whitespace@1559..1560 " "
        ElseKeyword@1560..1564 "else"
        Whitespace@1564..1565 " "
        EXPR_IF_ELSE@1565..1587
          BLOCK@1565..1587
            LBrace@1565..1566 "{"
            Whitespace@1566..1575 "\n        "
            EXPR_BOOL@1575..1585
              FalseKeyword@1575..1580 "false"
              Whitespace@1580..1585 "\n    "
            RBrace@1585..1586 "}"
            Whitespace@1586..1587 "\n"
      RBrace@1587..1588 "}"
      Whitespace@1588..1590 "\n\n"
  FN@1590..1702
    FnKeyword@1590..1592 "fn"
    Whitespace@1592..1593 " "
    Ident@1593..1609 "matches_let_else"
    PARAM_LIST@1609..1622
      LParen@1609..1610 "("
      PARAM@1610..1620
        Ident@1610..1615 "value"
        Colon@1615..1616 ":"
        Whitespace@1616..1617 " "
        TYPE_INT@1617..1620
          IntKeyword@1617..1620 "int"
      RParen@1620..1621 ")"
      Whitespace@1621..1622 " "
    Arrow@1622..1624 "->"
    Whitespace@1624..1625 " "
    TYPE_BOOL@1625..1630
      BoolKeyword@1625..1629 "bool"
      Whitespace@1629..1630 " "
    BLOCK@1630..1702
      LBrace@1630..1631 "{"
      Whitespace@1631..1636 "\n    "
      STMT_LET@1636..1694
        LetKeyword@1636..1639 "let"
        Whitespace@1639..1640 " "
        PATTERN_VARIABLE@1640..1647
          Ident@1640..1646 "answer"
          Whitespace@1646..1647 " "
        Eq@1647..1648 "="
        Whitespace@1648..1649 " "
        EXPR_IDENT@1649..1655
          PATH@1649..1655
            Ident@1649..1654 "value"
            Whitespace@1654..1655 " "
        ElseKeyword@1655..1659 "else"
        Whitespace@1659..1660 " "
        BLOCK@1660..1688
          LBrace@1660..1661 "{"
          Whitespace@1661..1670 "\n        "
          EXPR_RETURN@1670..1687
            ReturnKeyword@1670..1676 "return"
            Whitespace@1676..1677 " "
            EXPR_BOOL@1677..1687
              FalseKeyword@1677..1682 "false"
              Whitespace@1682..1687 "\n    "
          RBrace@1687..1688 "}"
        Semi@1688..1689 ";"
        Whitespace@1689..1694 "\n    "
      EXPR_BOOL@1694..1699
        TrueKeyword@1694..1698 "true"
        Whitespace@1698..1699 "\n"
      RBrace@1699..1700 "}"
      Whitespace@1700..1702 "\n\n"
  FN@1702..1849
    FnKeyword@1702..1704 "fn"
    Whitespace@1704..1705 " "
    Ident@1705..1716 "for_binding"
    PARAM_LIST@1716..1719
      LParen@1716..1717 "("
      RParen@1717..1718 ")"
      Whitespace@1718..1719 " "
    Arrow@1719..1721 "->"
    Whitespace@1721..1722 " "
    TYPE_INT@1722..1726
      IntKeyword@1722..1725 "int"
      Whitespace@1725..1726 " "
    BLOCK@1726..1849
      LBrace@1726..1727 "{"
      Whitespace@1727..1732 "\n    "
      STMT_LET@1732..1761
        LetKeyword@1732..1735 "let"
        Whitespace@1735..1736 " "
        PATTERN_VARIABLE@1736..1742
          Ident@1736..1741 "total"
          Whitespace@1741..1742 " "
        Eq@1742..1743 "="
        Whitespace@1743..1744 " "
        EXPR_CALL@1744..1755
          EXPR_IDENT@1744..1752
            PATH@1744..1752
              Ident@1744..1747 "Ref"
              ColonColon@1747..1749 "::"
              Ident@1749..1752 "new"
          ARG_LIST@1752..1755
            LParen@1752..1753 "("
            ARG@1753..1754
              EXPR_INT@1753..1754
                Int@1753..1754 "0"
            RParen@1754..1755 ")"
        Semi@1755..1756 ";"
        Whitespace@1756..1761 "\n    "
      STMT_EXPR@1761..1834
        EXPR_FOR@1761..1834
          ForKeyword@1761..1764 "for"
          Whitespace@1764..1765 " "
          PATTERN_VARIABLE@1765..1772
            Ident@1765..1771 "answer"
            Whitespace@1771..1772 " "
          InKeyword@1772..1774 "in"
          Whitespace@1774..1775 " "
          EXPR_ARRAY_LITERAL@1775..1782
            LBracket@1775..1776 "["
            EXPR_INT@1776..1777
              Int@1776..1777 "1"
            Comma@1777..1778 ","
            Whitespace@1778..1779 " "
            EXPR_INT@1779..1780
              Int@1779..1780 "2"
            RBracket@1780..1781 "]"
            Whitespace@1781..1782 " "
          BLOCK@1782..1834
            LBrace@1782..1783 "{"
            Whitespace@1783..1792 "\n        "
            EXPR_CALL@1792..1828
              EXPR_BINARY@1792..1801
                EXPR_IDENT@1792..1797
                  PATH@1792..1797
                    Ident@1792..1797 "total"
                Dot@1797..1798 "."
                EXPR_IDENT@1798..1801
                  PATH@1798..1801
                    Ident@1798..1801 "set"
              ARG_LIST@1801..1828
                LParen@1801..1802 "("
                ARG@1802..1822
                  EXPR_BINARY@1802..1822
                    EXPR_CALL@1802..1814
                      EXPR_BINARY@1802..1811
                        EXPR_IDENT@1802..1807
                          PATH@1802..1807
                            Ident@1802..1807 "total"
                        Dot@1807..1808 "."
                        EXPR_IDENT@1808..1811
                          PATH@1808..1811
                            Ident@1808..1811 "get"
                      ARG_LIST@1811..1814
                        LParen@1811..1812 "("
                        RParen@1812..1813 ")"
                        Whitespace@1813..1814 " "
                    Plus@1814..1815 "+"
                    Whitespace@1815..1816 " "
                    EXPR_IDENT@1816..1822
                      PATH@1816..1822
                        Ident@1816..1822 "answer"
                RParen@1822..1823 ")"
                Whitespace@1823..1828 "\n    "
            RBrace@1828..1829 "}"
            Whitespace@1829..1834 "\n    "
      EXPR_CALL@1834..1846
        EXPR_BINARY@1834..1843
          EXPR_IDENT@1834..1839
            PATH@1834..1839
              Ident@1834..1839 "total"
          Dot@1839..1840 "."
          EXPR_IDENT@1840..1843
            PATH@1840..1843
              Ident@1840..1843 "get"
        ARG_LIST@1843..1846
          LParen@1843..1844 "("
          RParen@1844..1845 ")"
          Whitespace@1845..1846 "\n"
      RBrace@1846..1847 "}"
      Whitespace@1847..1849 "\n\n"
  FN@1849..2530
    FnKeyword@1849..1851 "fn"
    Whitespace@1851..1852 " "
    Ident@1852..1856 "main"
    PARAM_LIST@1856..1859
      LParen@1856..1857 "("
      RParen@1857..1858 ")"
      Whitespace@1858..1859 " "
    Arrow@1859..1861 "->"
    Whitespace@1861..1862 " "
    TYPE_UNIT@1862..1867
      UnitKeyword@1862..1866 "unit"
      Whitespace@1866..1867 " "
    BLOCK@1867..2530
      LBrace@1867..1868 "{"
      Whitespace@1868..1873 "\n    "
      STMT_EXPR@1873..1900
        EXPR_CALL@1873..1894
          EXPR_IDENT@1873..1880
            PATH@1873..1880
              Ident@1873..1880 "println"
          ARG_LIST@1880..1894
            LParen@1880..1881 "("
            ARG@1881..1893
              EXPR_CALL@1881..1893
                EXPR_IDENT@1881..1889
                  PATH@1881..1889
                    Ident@1881..1889 "classify"
                ARG_LIST@1889..1893
                  LParen@1889..1890 "("
                  ARG@1890..1892
                    EXPR_INT@1890..1892
                      Int@1890..1892 "42"
                  RParen@1892..1893 ")"
            RParen@1893..1894 ")"
        Semi@1894..1895 ";"
        Whitespace@1895..1900 "\n    "
      STMT_EXPR@1900..1926
        EXPR_CALL@1900..1920
          EXPR_IDENT@1900..1907
            PATH@1900..1907
              Ident@1900..1907 "println"
          ARG_LIST@1907..1920
            LParen@1907..1908 "("
            ARG@1908..1919
              EXPR_CALL@1908..1919
                EXPR_IDENT@1908..1916
                  PATH@1908..1916
                    Ident@1908..1916 "classify"
                ARG_LIST@1916..1919
                  LParen@1916..1917 "("
                  ARG@1917..1918
                    EXPR_INT@1917..1918
                      Int@1917..1918 "7"
                  RParen@1918..1919 ")"
            RParen@1919..1920 ")"
        Semi@1920..1921 ";"
        Whitespace@1921..1926 "\n    "
      STMT_EXPR@1926..1952
        EXPR_CALL@1926..1946
          EXPR_IDENT@1926..1933
            PATH@1926..1933
              Ident@1926..1933 "println"
          ARG_LIST@1933..1946
            LParen@1933..1934 "("
            ARG@1934..1945
              EXPR_CALL@1934..1945
                EXPR_IDENT@1934..1942
                  PATH@1934..1942
                    Ident@1934..1942 "classify"
                ARG_LIST@1942..1945
                  LParen@1942..1943 "("
                  ARG@1943..1944
                    EXPR_INT@1943..1944
                      Int@1943..1944 "0"
                  RParen@1944..1945 ")"
            RParen@1945..1946 ")"
        Semi@1946..1947 ";"
        Whitespace@1947..1952 "\n    "
      STMT_EXPR@1952..1986
        EXPR_CALL@1952..1980
          EXPR_IDENT@1952..1959
            PATH@1952..1959
              Ident@1952..1959 "println"
          ARG_LIST@1959..1980
            LParen@1959..1960 "("
            ARG@1960..1979
              EXPR_CALL@1960..1979
                EXPR_IDENT@1960..1973
                  PATH@1960..1973
                    Ident@1960..1973 "classify_bool"
                ARG_LIST@1973..1979
                  LParen@1973..1974 "("
                  ARG@1974..1978
                    EXPR_BOOL@1974..1978
                      TrueKeyword@1974..1978 "true"
                  RParen@1978..1979 ")"
            RParen@1979..1980 ")"
        Semi@1980..1981 ";"
        Whitespace@1981..1986 "\n    "
      STMT_EXPR@1986..2021
        EXPR_CALL@1986..2015
          EXPR_IDENT@1986..1993
            PATH@1986..1993
              Ident@1986..1993 "println"
          ARG_LIST@1993..2015
            LParen@1993..1994 "("
            ARG@1994..2014
              EXPR_CALL@1994..2014
                EXPR_IDENT@1994..2007
                  PATH@1994..2007
                    Ident@1994..2007 "classify_bool"
                ARG_LIST@2007..2014
                  LParen@2007..2008 "("
                  ARG@2008..2013
                    EXPR_BOOL@2008..2013
                      FalseKeyword@2008..2013 "false"
                  RParen@2013..2014 ")"
            RParen@2014..2015 ")"
        Semi@2015..2016 ";"
        Whitespace@2016..2021 "\n    "
      STMT_EXPR@2021..2064
        EXPR_CALL@2021..2058
          EXPR_IDENT@2021..2028
            PATH@2021..2028
              Ident@2021..2028 "println"
          ARG_LIST@2028..2058
            LParen@2028..2029 "("
            ARG@2029..2057
              EXPR_CALL@2029..2057
                EXPR_IDENT@2029..2051
                  PATH@2029..2051
                    Ident@2029..2051 "classify_computed_bool"
                ARG_LIST@2051..2057
                  LParen@2051..2052 "("
                  ARG@2052..2056
                    EXPR_BOOL@2052..2056
                      TrueKeyword@2052..2056 "true"
                  RParen@2056..2057 ")"
            RParen@2057..2058 ")"
        Semi@2058..2059 ";"
        Whitespace@2059..2064 "\n    "
      STMT_EXPR@2064..2108
        EXPR_CALL@2064..2102
          EXPR_IDENT@2064..2071
            PATH@2064..2071
              Ident@2064..2071 "println"
          ARG_LIST@2071..2102
            LParen@2071..2072 "("
            ARG@2072..2101
              EXPR_CALL@2072..2101
                EXPR_IDENT@2072..2094
                  PATH@2072..2094
                    Ident@2072..2094 "classify_computed_bool"
                ARG_LIST@2094..2101
                  LParen@2094..2095 "("
                  ARG@2095..2100
                    EXPR_BOOL@2095..2100
                      FalseKeyword@2095..2100 "false"
                  RParen@2100..2101 ")"
            RParen@2101..2102 ")"
        Semi@2102..2103 ";"
        Whitespace@2103..2108 "\n    "
      STMT_EXPR@2108..2148
        EXPR_CALL@2108..2142
          EXPR_IDENT@2108..2115
            PATH@2108..2115
              Ident@2108..2115 "println"
          ARG_LIST@2115..2142
            LParen@2115..2116 "("
            ARG@2116..2141
              EXPR_CALL@2116..2141
                EXPR_IDENT@2116..2129
                  PATH@2116..2129
                    Ident@2116..2129 "classify_pair"
                ARG_LIST@2129..2141
                  LParen@2129..2130 "("
                  ARG@2130..2140
                    EXPR_TUPLE@2130..2140
                      LParen@2130..2131 "("
                      EXPR_INT@2131..2133
                        Int@2131..2133 "42"
                      Comma@2133..2134 ","
                      Whitespace@2134..2135 " "
                      EXPR_BYTE@2135..2139
                        ByteCharLit@2135..2139 "b'A'"
                      RParen@2139..2140 ")"
                  RParen@2140..2141 ")"
            RParen@2141..2142 ")"
        Semi@2142..2143 ";"
        Whitespace@2143..2148 "\n    "
      STMT_EXPR@2148..2188
        EXPR_CALL@2148..2182
          EXPR_IDENT@2148..2155
            PATH@2148..2155
              Ident@2148..2155 "println"
          ARG_LIST@2155..2182
            LParen@2155..2156 "("
            ARG@2156..2181
              EXPR_CALL@2156..2181
                EXPR_IDENT@2156..2169
                  PATH@2156..2169
                    Ident@2156..2169 "classify_pair"
                ARG_LIST@2169..2181
                  LParen@2169..2170 "("
                  ARG@2170..2180
                    EXPR_TUPLE@2170..2180
                      LParen@2170..2171 "("
                      EXPR_INT@2171..2173
                        Int@2171..2173 "42"
                      Comma@2173..2174 ","
                      Whitespace@2174..2175 " "
                      EXPR_BYTE@2175..2179
                        ByteCharLit@2175..2179 "b'B'"
                      RParen@2179..2180 ")"
                  RParen@2180..2181 ")"
            RParen@2181..2182 ")"
        Semi@2182..2183 ";"
        Whitespace@2183..2188 "\n    "
      STMT_EXPR@2188..2227
        EXPR_CALL@2188..2221
          EXPR_IDENT@2188..2195
            PATH@2188..2195
              Ident@2188..2195 "println"
          ARG_LIST@2195..2221
            LParen@2195..2196 "("
            ARG@2196..2220
              EXPR_CALL@2196..2220
                EXPR_IDENT@2196..2211
                  PATH@2196..2211
                    Ident@2196..2211 "classify_string"
                ARG_LIST@2211..2220
                  LParen@2211..2212 "("
                  ARG@2212..2219
                    EXPR_STR@2212..2219
                      Str@2212..2219 "\"hello\""
                  RParen@2219..2220 ")"
            RParen@2220..2221 ")"
        Semi@2221..2222 ";"
        Whitespace@2222..2227 "\n    "
      STMT_EXPR@2227..2261
        EXPR_CALL@2227..2255
          EXPR_IDENT@2227..2234
            PATH@2227..2234
              Ident@2227..2234 "println"
          ARG_LIST@2234..2255
            LParen@2234..2235 "("
            ARG@2235..2254
              EXPR_CALL@2235..2254
                EXPR_IDENT@2235..2249
                  PATH@2235..2249
                    Ident@2235..2249 "classify_float"
                ARG_LIST@2249..2254
                  LParen@2249..2250 "("
                  ARG@2250..2253
                    EXPR_FLOAT@2250..2253
                      Float@2250..2253 "1.5"
                  RParen@2253..2254 ")"
            RParen@2254..2255 ")"
        Semi@2255..2256 ";"
        Whitespace@2256..2261 "\n    "
      STMT_EXPR@2261..2293
        EXPR_CALL@2261..2287
          EXPR_IDENT@2261..2268
            PATH@2261..2268
              Ident@2261..2268 "println"
          ARG_LIST@2268..2287
            LParen@2268..2269 "("
            ARG@2269..2286
              EXPR_CALL@2269..2286
                EXPR_IDENT@2269..2284
                  PATH@2269..2284
                    Ident@2269..2284 "shadow_constant"
                ARG_LIST@2284..2286
                  LParen@2284..2285 "("
                  RParen@2285..2286 ")"
            RParen@2286..2287 ")"
        Semi@2287..2288 ";"
        Whitespace@2288..2293 "\n    "
      STMT_EXPR@2293..2328
        EXPR_CALL@2293..2322
          EXPR_IDENT@2293..2300
            PATH@2293..2300
              Ident@2293..2300 "println"
          ARG_LIST@2300..2322
            LParen@2300..2301 "("
            ARG@2301..2321
              EXPR_CALL@2301..2321
                EXPR_IDENT@2301..2317
                  PATH@2301..2317
                    Ident@2301..2317 "explicit_binding"
                ARG_LIST@2317..2321
                  LParen@2317..2318 "("
                  ARG@2318..2320
                    EXPR_INT@2318..2320
                      Int@2318..2320 "11"
                  RParen@2320..2321 ")"
            RParen@2321..2322 ")"
        Semi@2322..2323 ";"
        Whitespace@2323..2328 "\n    "
      STMT_EXPR@2328..2361
        EXPR_CALL@2328..2355
          EXPR_IDENT@2328..2335
            PATH@2328..2335
              Ident@2328..2335 "println"
          ARG_LIST@2335..2355
            LParen@2335..2336 "("
            ARG@2336..2354
              EXPR_CALL@2336..2354
                EXPR_IDENT@2336..2350
                  PATH@2336..2350
                    Ident@2336..2350 "matches_if_let"
                ARG_LIST@2350..2354
                  LParen@2350..2351 "("
                  ARG@2351..2353
                    EXPR_INT@2351..2353
                      Int@2351..2353 "42"
                  RParen@2353..2354 ")"
            RParen@2354..2355 ")"
        Semi@2355..2356 ";"
        Whitespace@2356..2361 "\n    "
      STMT_EXPR@2361..2394
        EXPR_CALL@2361..2388
          EXPR_IDENT@2361..2368
            PATH@2361..2368
              Ident@2361..2368 "println"
          ARG_LIST@2368..2388
            LParen@2368..2369 "("
            ARG@2369..2387
              EXPR_CALL@2369..2387
                EXPR_IDENT@2369..2383
                  PATH@2369..2383
                    Ident@2369..2383 "matches_if_let"
                ARG_LIST@2383..2387
                  LParen@2383..2384 "("
                  ARG@2384..2386
                    EXPR_INT@2384..2386
                      Int@2384..2386 "41"
                  RParen@2386..2387 ")"
            RParen@2387..2388 ")"
        Semi@2388..2389 ";"
        Whitespace@2389..2394 "\n    "
      STMT_EXPR@2394..2429
        EXPR_CALL@2394..2423
          EXPR_IDENT@2394..2401
            PATH@2394..2401
              Ident@2394..2401 "println"
          ARG_LIST@2401..2423
            LParen@2401..2402 "("
            ARG@2402..2422
              EXPR_CALL@2402..2422
                EXPR_IDENT@2402..2418
                  PATH@2402..2418
                    Ident@2402..2418 "matches_let_else"
                ARG_LIST@2418..2422
                  LParen@2418..2419 "("
                  ARG@2419..2421
                    EXPR_INT@2419..2421
                      Int@2419..2421 "42"
                  RParen@2421..2422 ")"
            RParen@2422..2423 ")"
        Semi@2423..2424 ";"
        Whitespace@2424..2429 "\n    "
      STMT_EXPR@2429..2464
        EXPR_CALL@2429..2458
          EXPR_IDENT@2429..2436
            PATH@2429..2436
              Ident@2429..2436 "println"
          ARG_LIST@2436..2458
            LParen@2436..2437 "("
            ARG@2437..2457
              EXPR_CALL@2437..2457
                EXPR_IDENT@2437..2453
                  PATH@2437..2453
                    Ident@2437..2453 "matches_let_else"
                ARG_LIST@2453..2457
                  LParen@2453..2454 "("
                  ARG@2454..2456
                    EXPR_INT@2454..2456
                      Int@2454..2456 "41"
                  RParen@2456..2457 ")"
            RParen@2457..2458 ")"
        Semi@2458..2459 ";"
        Whitespace@2459..2464 "\n    "
      STMT_EXPR@2464..2492
        EXPR_CALL@2464..2486
          EXPR_IDENT@2464..2471
            PATH@2464..2471
              Ident@2464..2471 "println"
          ARG_LIST@2471..2486
            LParen@2471..2472 "("
            ARG@2472..2485
              EXPR_CALL@2472..2485
                EXPR_IDENT@2472..2483
                  PATH@2472..2483
                    Ident@2472..2483 "for_binding"
                ARG_LIST@2483..2485
                  LParen@2483..2484 "("
                  RParen@2484..2485 ")"
            RParen@2485..2486 ")"
        Semi@2486..2487 ";"
        Whitespace@2487..2492 "\n    "
      EXPR_CALL@2492..2528
        EXPR_IDENT@2492..2499
          PATH@2492..2499
            Ident@2492..2499 "println"
        ARG_LIST@2499..2528
          LParen@2499..2500 "("
          ARG@2500..2526
            EXPR_IDENT@2500..2526
              PATH@2500..2526
                Ident@2500..2526 "classified_at_compile ..."
          RParen@2526..2527 ")"
          Whitespace@2527..2528 "\n"
      RBrace@2528..2529 "}"
      Whitespace@2529..2530 "\n"