FILE@0..2198
  CONST@0..28
    ConstKeyword@0..5 "const"
    Whitespace@5..6 " "
    Ident@6..12 "answer"
    Colon@12..13 ":"
    Whitespace@13..14 " "
    TYPE_INT@14..18
      IntKeyword@14..17 "int"
      Whitespace@17..18 " "
    Eq@18..19 "="
    Whitespace@19..20 " "
    EXPR_BINARY@20..26
      EXPR_INT@20..23
        Int@20..22 "40"
        Whitespace@22..23 " "
      Plus@23..24 "+"
      Whitespace@24..25 " "
      EXPR_INT@25..26
        Int@25..26 "2"
    Semi@26..27 ";"
    Whitespace@27..28 "\n"
  CONST@28..54
    ConstKeyword@28..33 "const"
    Whitespace@33..34 " "
    Ident@34..43 "alternate"
    Colon@43..44 ":"
    Whitespace@44..45 " "
    TYPE_INT@45..49
      IntKeyword@45..48 "int"
      Whitespace@48..49 " "
    Eq@49..50 "="
    Whitespace@50..51 " "
    EXPR_INT@51..52
      Int@51..52 "7"
    Semi@52..53 ";"
    Whitespace@53..54 "\n"
  CONST@54..82
    ConstKeyword@54..59 "const"
    Whitespace@59..60 " "
    Ident@60..67 "enabled"
    Colon@67..68 ":"
    Whitespace@68..69 " "
    TYPE_BOOL@69..74
      BoolKeyword@69..73 "bool"
      Whitespace@73..74 " "
    Eq@74..75 "="
    Whitespace@75..76 " "
    EXPR_BOOL@76..80
      TrueKeyword@76..80 "true"
    Semi@80..81 ";"
    Whitespace@81..82 "\n"
  CONST@82..116
    ConstKeyword@82..87 "const"
    Whitespace@87..88 " "
    Ident@88..96 "greeting"
    Colon@96..97 ":"
    Whitespace@97..98 " "
    TYPE_STRING@98..105
      StringKeyword@98..104 "string"
      Whitespace@104..105 " "
    Eq@105..106 "="
    Whitespace@106..107 " "
    EXPR_STR@107..114
      Str@107..114 "\"hello\""
    Semi@114..115 ";"
    Whitespace@115..116 "\n"
  CONST@116..143
    ConstKeyword@116..121 "const"
    Whitespace@121..122 " "
    Ident@122..128 "marker"
    Colon@128..129 ":"
    Whitespace@129..130 " "
    TYPE_TAPP@130..135
      PATH@130..135
        Ident@130..134 "byte"
        Whitespace@134..135 " "
    Eq@135..136 "="
    Whitespace@136..137 " "
    EXPR_BYTE@137..141
      ByteCharLit@137..141 "b'A'"
    Semi@141..142 ";"
    Whitespace@142..143 "\n"
  CONST@143..172
    ConstKeyword@143..148 "const"
    Whitespace@148..149 " "
    Ident@149..154 "ratio"
    Colon@154..155 ":"
    Whitespace@155..156 " "
    TYPE_FLOAT64@156..164
      Float64Keyword@156..163 "float64"
      Whitespace@163..164 " "
    Eq@164..165 "="
    Whitespace@165..166 " "
    EXPR_FLOAT@166..169
      Float@166..169 "1.5"
    Semi@169..170 ";"
    Whitespace@170..172 "\n\n"
  CONST@172..235
    ConstKeyword@172..177 "const"
    Whitespace@177..178 " "
    Ident@178..204 "classified_at_compile ..."
    Colon@204..205 ":"
    Whitespace@205..206 " "
    TYPE_INT@206..210
      IntKeyword@206..209 "int"
      Whitespace@209..210 " "
    Eq@210..211 "="
    Whitespace@211..212 " "
    EXPR_CALL@212..233
      EXPR_IDENT@212..229
        PATH@212..229
          Ident@212..229 "comptime_classify"
      ARG_LIST@229..233
        LParen@229..230 "("
        ARG@230..232
          EXPR_INT@230..232
            Int@230..232 "42"
        RParen@232..233 ")"
    Semi@233..234 ";"
    Whitespace@234..235 "\n"
  CONST@235..280
    ConstKeyword@235..240 "const"
    Whitespace@240..241 " "
    Ident@241..256 "computed_answer"
    Colon@256..257 ":"
    Whitespace@257..258 " "
    TYPE_INT@258..262
      IntKeyword@258..261 "int"
      Whitespace@261..262 " "
    Eq@262..263 "="
    Whitespace@263..264 " "
    EXPR_CALL@264..277
      EXPR_IDENT@264..275
        PATH@264..275
          Ident@264..275 "make_answer"
      ARG_LIST@275..277
        LParen@275..276 "("
        RParen@276..277 ")"
    Semi@277..278 ";"
    Whitespace@278..280 "\n\n"
  FN@280..328
    ATTRIBUTE_LIST@280..292
      ATTRIBUTE@280..292
        Pound@280..281 "#"
        LBracket@281..282 "["
        Ident@282..290 "comptime"
        RBracket@290..291 "]"
        Whitespace@291..292 "\n"
    FnKeyword@292..294 "fn"
    Whitespace@294..295 " "
    Ident@295..306 "make_answer"
    PARAM_LIST@306..309
      LParen@306..307 "("
      RParen@307..308 ")"
      Whitespace@308..309 " "
    Arrow@309..311 "->"
    Whitespace@311..312 " "
    TYPE_INT@312..316
      IntKeyword@312..315 "int"
      Whitespace@315..316 " "
    BLOCK@316..328
      LBrace@316..317 "{"
      Whitespace@317..322 "\n    "
      EXPR_INT@322..325
        Int@322..324 "42"
        Whitespace@324..325 "\n"
      RBrace@325..326 "}"
      Whitespace@326..328 "\n\n"
  FN@328..455
    ATTRIBUTE_LIST@328..340
      ATTRIBUTE@328..340
        Pound@328..329 "#"
        LBracket@329..330 "["
        Ident@330..338 "comptime"
        RBracket@338..339 "]"
        Whitespace@339..340 "\n"
    FnKeyword@340..342 "fn"
    Whitespace@342..343 " "
    Ident@343..360 "comptime_classify"
    PARAM_LIST@360..373
      LParen@360..361 "("
      PARAM@361..371
        Ident@361..366 "value"
        Colon@366..367 ":"
        Whitespace@367..368 " "
        TYPE_INT@368..371
          IntKeyword@368..371 "int"
      RParen@371..372 ")"
      Whitespace@372..373 " "
    Arrow@373..375 "->"
    Whitespace@375..376 " "
    TYPE_INT@376..380
      IntKeyword@376..379 "int"
      Whitespace@379..380 " "
    BLOCK@380..455
      LBrace@380..381 "{"
      Whitespace@381..386 "\n    "
      EXPR_MATCH@386..452
        MatchKeyword@386..391 "match"
        Whitespace@391..392 " "
        EXPR_IDENT@392..398
          PATH@392..398
            Ident@392..397 "value"
            Whitespace@397..398 " "
        MATCH_ARM_LIST@398..452
          LBrace@398..399 "{"
          Whitespace@399..408 "\n        "
          MATCH_ARM@408..428
            PATTERN_VARIABLE@408..424
              Ident@408..423 "computed_answer"
              Whitespace@423..424 " "
            FatArrow@424..426 "=>"
            Whitespace@426..427 " "
            EXPR_INT@427..428
              Int@427..428 "1"
          Comma@428..429 ","
          Whitespace@429..438 "\n        "
          MATCH_ARM@438..444
            PATTERN_WILDCARD@438..440
              WildcardKeyword@438..439 "_"
              Whitespace@439..440 " "
            FatArrow@440..442 "=>"
            Whitespace@442..443 " "
            EXPR_INT@443..444
              Int@443..444 "0"
          Comma@444..445 ","
          Whitespace@445..450 "\n    "
          RBrace@450..451 "}"
          Whitespace@451..452 "\n"
      RBrace@452..453 "}"
      Whitespace@453..455 "\n\n"
  FN@455..579
    FnKeyword@455..457 "fn"
    Whitespace@457..458 " "
    Ident@458..466 "classify"
    PARAM_LIST@466..479
      LParen@466..467 "("
      PARAM@467..477
        Ident@467..472 "value"
        Colon@472..473 ":"
        Whitespace@473..474 " "
        TYPE_INT@474..477
          IntKeyword@474..477 "int"
      RParen@477..478 ")"
      Whitespace@478..479 " "
    Arrow@479..481 "->"
    Whitespace@481..482 " "
    TYPE_STRING@482..489
      StringKeyword@482..488 "string"
      Whitespace@488..489 " "
    BLOCK@489..579
      LBrace@489..490 "{"
      Whitespace@490..495 "\n    "
      EXPR_MATCH@495..576
        MatchKeyword@495..500 "match"
        Whitespace@500..501 " "
        EXPR_IDENT@501..507
          PATH@501..507
            Ident@501..506 "value"
            Whitespace@506..507 " "
        MATCH_ARM_LIST@507..576
          LBrace@507..508 "{"
          Whitespace@508..517 "\n        "
          MATCH_ARM@517..546
            PATTERN_OR@517..536
              PATTERN_VARIABLE@517..524
                Ident@517..523 "answer"
                Whitespace@523..524 " "
              Pipe@524..525 "|"
              Whitespace@525..526 " "
              PATTERN_VARIABLE@526..536
                Ident@526..535 "alternate"
                Whitespace@535..536 " "
            FatArrow@536..538 "=>"
            Whitespace@538..539 " "
            EXPR_STR@539..546
              Str@539..546 "\"known\""
          Comma@546..547 ","
          Whitespace@547..556 "\n        "
          MATCH_ARM@556..568
            PATTERN_WILDCARD@556..558
              WildcardKeyword@556..557 "_"
              Whitespace@557..558 " "
            FatArrow@558..560 "=>"
            Whitespace@560..561 " "
            EXPR_STR@561..568
              Str@561..568 "\"other\""
          Comma@568..569 ","
          Whitespace@569..574 "\n    "
          RBrace@574..575 "}"
          Whitespace@575..576 "\n"
      RBrace@576..577 "}"
      Whitespace@577..579 "\n\n"
  FN@579..707
    FnKeyword@579..581 "fn"
    Whitespace@581..582 " "
    Ident@582..595 "classify_bool"
    PARAM_LIST@595..609
      LParen@595..596 "("
      PARAM@596..607
        Ident@596..601 "value"
        Colon@601..602 ":"
        Whitespace@602..603 " "
        TYPE_BOOL@603..607
          BoolKeyword@603..607 "bool"
      RParen@607..608 ")"
      Whitespace@608..609 " "
    Arrow@609..611 "->"
    Whitespace@611..612 " "
    TYPE_STRING@612..619
      StringKeyword@612..618 "string"
      Whitespace@618..619 " "
    BLOCK@619..707
      LBrace@619..620 "{"
      Whitespace@620..625 "\n    "
      EXPR_MATCH@625..704
        MatchKeyword@625..630 "match"
        Whitespace@630..631 " "
        EXPR_IDENT@631..637
          PATH@631..637
            Ident@631..636 "value"
            Whitespace@636..637 " "
        MATCH_ARM_LIST@637..704
          LBrace@637..638 "{"
          Whitespace@638..647 "\n        "
          MATCH_ARM@647..667
            PATTERN_VARIABLE@647..655
              Ident@647..654 "enabled"
              Whitespace@654..655 " "
            FatArrow@655..657 "=>"
            Whitespace@657..658 " "
            EXPR_STR@658..667
              Str@658..667 "\"enabled\""
          Comma@667..668 ","
          Whitespace@668..677 "\n        "
          MATCH_ARM@677..696
            PATTERN_BOOL@677..683
              FalseKeyword@677..682 "false"
              Whitespace@682..683 " "
            FatArrow@683..685 "=>"
            Whitespace@685..686 " "
            EXPR_STR@686..696
              Str@686..696 "\"disabled\""
          Comma@696..697 ","
          Whitespace@697..702 "\n    "
          RBrace@702..703 "}"
          Whitespace@703..704 "\n"
      RBrace@704..705 "}"
      Whitespace@705..707 "\n\n"
  FN@707..835
    FnKeyword@707..709 "fn"
    Whitespace@709..710 " "
    Ident@710..723 "classify_pair"
    PARAM_LIST@723..744
      LParen@723..724 "("
      PARAM@724..742
        Ident@724..729 "value"
        Colon@729..730 ":"
        Whitespace@730..731 " "
        TYPE_TUPLE@731..742
          TYPE_LIST@731..742
            LParen@731..732 "("
            TYPE_INT@732..735
              IntKeyword@732..735 "int"
            Comma@735..736 ","
            Whitespace@736..737 " "
            TYPE_TAPP@737..741
              PATH@737..741
                Ident@737..741 "byte"
            RParen@741..742 ")"
      RParen@742..743 ")"
      Whitespace@743..744 " "
    Arrow@744..746 "->"
    Whitespace@746..747 " "
    TYPE_BOOL@747..752
      BoolKeyword@747..751 "bool"
      Whitespace@751..752 " "
    BLOCK@752..835
      LBrace@752..753 "{"
      Whitespace@753..758 "\n    "
      EXPR_MATCH@758..832
        MatchKeyword@758..763 "match"
        Whitespace@763..764 " "
        EXPR_IDENT@764..770
          PATH@764..770
            Ident@764..769 "value"
            Whitespace@769..770 " "
        MATCH_ARM_LIST@770..832
          LBrace@770..771 "{"
          Whitespace@771..780 "\n        "
          MATCH_ARM@780..804
            PATTERN_TUPLE@780..797
              LParen@780..781 "("
              PATTERN_VARIABLE@781..787
                Ident@781..787 "answer"
              Comma@787..788 ","
              Whitespace@788..789 " "
              PATTERN_VARIABLE@789..795
                Ident@789..795 "marker"
              RParen@795..796 ")"
              Whitespace@796..797 " "
            FatArrow@797..799 "=>"
            Whitespace@799..800 " "
            EXPR_BOOL@800..804
              TrueKeyword@800..804 "true"
          Comma@804..805 ","
          Whitespace@805..814 "\n        "
          MATCH_ARM@814..824
            PATTERN_WILDCARD@814..816
              WildcardKeyword@814..815 "_"
              Whitespace@815..816 " "
            FatArrow@816..818 "=>"
            Whitespace@818..819 " "
            EXPR_BOOL@819..824
              FalseKeyword@819..824 "false"
          Comma@824..825 ","
          Whitespace@825..830 "\n    "
          RBrace@830..831 "}"
          Whitespace@831..832 "\n"
      RBrace@832..833 "}"
      Whitespace@833..835 "\n\n"
  FN@835..952
    FnKeyword@835..837 "fn"
    Whitespace@837..838 " "
    Ident@838..853 "classify_string"
    PARAM_LIST@853..869
      LParen@853..854 "("
      PARAM@854..867
        Ident@854..859 "value"
        Colon@859..860 ":"
        Whitespace@860..861 " "
        TYPE_STRING@861..867
          StringKeyword@861..867 "string"
      RParen@867..868 ")"
      Whitespace@868..869 " "
    Arrow@869..871 "->"
    Whitespace@871..872 " "
    TYPE_BOOL@872..877
      BoolKeyword@872..876 "bool"
      Whitespace@876..877 " "
    BLOCK@877..952
      LBrace@877..878 "{"
      Whitespace@878..883 "\n    "
      EXPR_MATCH@883..949
        MatchKeyword@883..888 "match"
        Whitespace@888..889 " "
        EXPR_IDENT@889..895
          PATH@889..895
            Ident@889..894 "value"
            Whitespace@894..895 " "
        MATCH_ARM_LIST@895..949
          LBrace@895..896 "{"
          Whitespace@896..905 "\n        "
          MATCH_ARM@905..921
            PATTERN_VARIABLE@905..914
              Ident@905..913 "greeting"
              Whitespace@913..914 " "
            FatArrow@914..916 "=>"
            Whitespace@916..917 " "
            EXPR_BOOL@917..921
              TrueKeyword@917..921 "true"
          Comma@921..922 ","
          Whitespace@922..931 "\n        "
          MATCH_ARM@931..941
            PATTERN_WILDCARD@931..933
              WildcardKeyword@931..932 "_"
              Whitespace@932..933 " "
            FatArrow@933..935 "=>"
            Whitespace@935..936 " "
            EXPR_BOOL@936..941
              FalseKeyword@936..941 "false"
          Comma@941..942 ","
          Whitespace@942..947 "\n    "
          RBrace@947..948 "}"
          Whitespace@948..949 "\n"
      RBrace@949..950 "}"
      Whitespace@950..952 "\n\n"
  FN@952..1066
    FnKeyword@952..954 "fn"
    Whitespace@954..955 " "
    Ident@955..969 "classify_float"
    PARAM_LIST@969..986
      LParen@969..970 "("
      PARAM@970..984
        Ident@970..975 "value"
        Colon@975..976 ":"
        Whitespace@976..977 " "
        TYPE_FLOAT64@977..984
          Float64Keyword@977..984 "float64"
      RParen@984..985 ")"
      Whitespace@985..986 " "
    Arrow@986..988 "->"
    Whitespace@988..989 " "
    TYPE_BOOL@989..994
      BoolKeyword@989..993 "bool"
      Whitespace@993..994 " "
    BLOCK@994..1066
      LBrace@994..995 "{"
      Whitespace@995..1000 "\n    "
      EXPR_MATCH@1000..1063
        MatchKeyword@1000..1005 "match"
        Whitespace@1005..1006 " "
        EXPR_IDENT@1006..1012
          PATH@1006..1012
            Ident@1006..1011 "value"
            Whitespace@1011..1012 " "
        MATCH_ARM_LIST@1012..1063
          LBrace@1012..1013 "{"
          Whitespace@1013..1022 "\n        "
          MATCH_ARM@1022..1035
            PATTERN_VARIABLE@1022..1028
              Ident@1022..1027 "ratio"
              Whitespace@1027..1028 " "
            FatArrow@1028..1030 "=>"
            Whitespace@1030..1031 " "
            EXPR_BOOL@1031..1035
              TrueKeyword@1031..1035 "true"
          Comma@1035..1036 ","
          Whitespace@1036..1045 "\n        "
          MATCH_ARM@1045..1055
            PATTERN_WILDCARD@1045..1047
              WildcardKeyword@1045..1046 "_"
              Whitespace@1046..1047 " "
            FatArrow@1047..1049 "=>"
            Whitespace@1049..1050 " "
            EXPR_BOOL@1050..1055
              FalseKeyword@1050..1055 "false"
          Comma@1055..1056 ","
          Whitespace@1056..1061 "\n    "
          RBrace@1061..1062 "}"
          Whitespace@1062..1063 "\n"
      RBrace@1063..1064 "}"
      Whitespace@1064..1066 "\n\n"
  FN@1066..1130
    FnKeyword@1066..1068 "fn"
    Whitespace@1068..1069 " "
    Ident@1069..1084 "shadow_constant"
    PARAM_LIST@1084..1087
      LParen@1084..1085 "("
      RParen@1085..1086 ")"
      Whitespace@1086..1087 " "
    Arrow@1087..1089 "->"
    Whitespace@1089..1090 " "
    TYPE_INT@1090..1094
      IntKeyword@1090..1093 "int"
      Whitespace@1093..1094 " "
    BLOCK@1094..1130
      LBrace@1094..1095 "{"
      Whitespace@1095..1100 "\n    "
      STMT_LET@1100..1120
        LetKeyword@1100..1103 "let"
        Whitespace@1103..1104 " "
        PATTERN_VARIABLE@1104..1111
          Ident@1104..1110 "answer"
          Whitespace@1110..1111 " "
        Eq@1111..1112 "="
        Whitespace@1112..1113 " "
        EXPR_INT@1113..1114
          Int@1113..1114 "9"
        Semi@1114..1115 ";"
        Whitespace@1115..1120 "\n    "
      EXPR_IDENT@1120..1127
        PATH@1120..1127
          Ident@1120..1126 "answer"
          Whitespace@1126..1127 "\n"
      RBrace@1127..1128 "}"
      Whitespace@1128..1130 "\n\n"
  FN@1130..1228
    FnKeyword@1130..1132 "fn"
    Whitespace@1132..1133 " "
    Ident@1133..1149 "explicit_binding"
    PARAM_LIST@1149..1162
      LParen@1149..1150 "("
      PARAM@1150..1160
        Ident@1150..1155 "value"
        Colon@1155..1156 ":"
        Whitespace@1156..1157 " "
        TYPE_INT@1157..1160
          IntKeyword@1157..1160 "int"
      RParen@1160..1161 ")"
      Whitespace@1161..1162 " "
    Arrow@1162..1164 "->"
    Whitespace@1164..1165 " "
    TYPE_INT@1165..1169
      IntKeyword@1165..1168 "int"
      Whitespace@1168..1169 " "
    BLOCK@1169..1228
      LBrace@1169..1170 "{"
      Whitespace@1170..1175 "\n    "
      EXPR_MATCH@1175..1225
        MatchKeyword@1175..1180 "match"
        Whitespace@1180..1181 " "
        EXPR_IDENT@1181..1187
          PATH@1181..1187
            Ident@1181..1186 "value"
            Whitespace@1186..1187 " "
        MATCH_ARM_LIST@1187..1225
          LBrace@1187..1188 "{"
          Whitespace@1188..1197 "\n        "
          MATCH_ARM@1197..1217
            PATTERN_ALIAS@1197..1208
              Ident@1197..1203 "answer"
              Whitespace@1203..1204 " "
              At@1204..1205 "@"
              Whitespace@1205..1206 " "
              PATTERN_WILDCARD@1206..1208
                WildcardKeyword@1206..1207 "_"
                Whitespace@1207..1208 " "
            FatArrow@1208..1210 "=>"
            Whitespace@1210..1211 " "
            EXPR_IDENT@1211..1217
              PATH@1211..1217
                Ident@1211..1217 "answer"
          Comma@1217..1218 ","
          Whitespace@1218..1223 "\n    "
          RBrace@1223..1224 "}"
          Whitespace@1224..1225 "\n"
      RBrace@1225..1226 "}"
      Whitespace@1226..1228 "\n\n"
  FN@1228..1345
    FnKeyword@1228..1230 "fn"
    Whitespace@1230..1231 " "
    Ident@1231..1245 "matches_if_let"
    PARAM_LIST@1245..1258
      LParen@1245..1246 "("
      PARAM@1246..1256
        Ident@1246..1251 "value"
        Colon@1251..1252 ":"
        Whitespace@1252..1253 " "
        TYPE_INT@1253..1256
          IntKeyword@1253..1256 "int"
      RParen@1256..1257 ")"
      Whitespace@1257..1258 " "
    Arrow@1258..1260 "->"
    Whitespace@1260..1261 " "
    TYPE_BOOL@1261..1266
      BoolKeyword@1261..1265 "bool"
      Whitespace@1265..1266 " "
    BLOCK@1266..1345
      LBrace@1266..1267 "{"
      Whitespace@1267..1272 "\n    "
      EXPR_IF@1272..1342
        IfKeyword@1272..1274 "if"
        Whitespace@1274..1275 " "
        EXPR_IF_COND@1275..1294
          LetKeyword@1275..1278 "let"
          Whitespace@1278..1279 " "
          PATTERN_VARIABLE@1279..1286
            Ident@1279..1285 "answer"
            Whitespace@1285..1286 " "
          Eq@1286..1287 "="
          Whitespace@1287..1288 " "
          EXPR_IDENT@1288..1294
            PATH@1288..1294
              Ident@1288..1293 "value"
              Whitespace@1293..1294 " "
        EXPR_IF_THEN@1294..1315
          BLOCK@1294..1315
            LBrace@1294..1295 "{"
            Whitespace@1295..1304 "\n        "
            EXPR_BOOL@1304..1313
              TrueKeyword@1304..1308 "true"
              Whitespace@1308..1313 "\n    "
            RBrace@1313..1314 "}"
            Whitespace@1314..1315 " "
        ElseKeyword@1315..1319 "else"
        Whitespace@1319..1320 " "
        EXPR_IF_ELSE@1320..1342
          BLOCK@1320..1342
            LBrace@1320..1321 "{"
            Whitespace@1321..1330 "\n        "
            EXPR_BOOL@1330..1340
              FalseKeyword@1330..1335 "false"
              Whitespace@1335..1340 "\n    "
            RBrace@1340..1341 "}"
            Whitespace@1341..1342 "\n"
      RBrace@1342..1343 "}"
      Whitespace@1343..1345 "\n\n"
  FN@1345..1457
    FnKeyword@1345..1347 "fn"
    Whitespace@1347..1348 " "
    Ident@1348..1364 "matches_let_else"
    PARAM_LIST@1364..1377
      LParen@1364..1365 "("
      PARAM@1365..1375
        Ident@1365..1370 "value"
        Colon@1370..1371 ":"
        Whitespace@1371..1372 " "
        TYPE_INT@1372..1375
          IntKeyword@1372..1375 "int"
      RParen@1375..1376 ")"
      Whitespace@1376..1377 " "
    Arrow@1377..1379 "->"
    Whitespace@1379..1380 " "
    TYPE_BOOL@1380..1385
      BoolKeyword@1380..1384 "bool"
      Whitespace@1384..1385 " "
    BLOCK@1385..1457
      LBrace@1385..1386 "{"
      Whitespace@1386..1391 "\n    "
      STMT_LET@1391..1449
        LetKeyword@1391..1394 "let"
        Whitespace@1394..1395 " "
        PATTERN_VARIABLE@1395..1402
          Ident@1395..1401 "answer"
          Whitespace@1401..1402 " "
        Eq@1402..1403 "="
        Whitespace@1403..1404 " "
        EXPR_IDENT@1404..1410
          PATH@1404..1410
            Ident@1404..1409 "value"
            Whitespace@1409..1410 " "
        ElseKeyword@1410..1414 "else"
        Whitespace@1414..1415 " "
        BLOCK@1415..1443
          LBrace@1415..1416 "{"
          Whitespace@1416..1425 "\n        "
          EXPR_RETURN@1425..1442
            ReturnKeyword@1425..1431 "return"
            Whitespace@1431..1432 " "
            EXPR_BOOL@1432..1442
              FalseKeyword@1432..1437 "false"
              Whitespace@1437..1442 "\n    "
          RBrace@1442..1443 "}"
        Semi@1443..1444 ";"
        Whitespace@1444..1449 "\n    "
      EXPR_BOOL@1449..1454
        TrueKeyword@1449..1453 "true"
        Whitespace@1453..1454 "\n"
      RBrace@1454..1455 "}"
      Whitespace@1455..1457 "\n\n"
  FN@1457..1604
    FnKeyword@1457..1459 "fn"
    Whitespace@1459..1460 " "
    Ident@1460..1471 "for_binding"
    PARAM_LIST@1471..1474
      LParen@1471..1472 "("
      RParen@1472..1473 ")"
      Whitespace@1473..1474 " "
    Arrow@1474..1476 "->"
    Whitespace@1476..1477 " "
    TYPE_INT@1477..1481
      IntKeyword@1477..1480 "int"
      Whitespace@1480..1481 " "
    BLOCK@1481..1604
      LBrace@1481..1482 "{"
      Whitespace@1482..1487 "\n    "
      STMT_LET@1487..1516
        LetKeyword@1487..1490 "let"
        Whitespace@1490..1491 " "
        PATTERN_VARIABLE@1491..1497
          Ident@1491..1496 "total"
          Whitespace@1496..1497 " "
        Eq@1497..1498 "="
        Whitespace@1498..1499 " "
        EXPR_CALL@1499..1510
          EXPR_IDENT@1499..1507
            PATH@1499..1507
              Ident@1499..1502 "Ref"
              ColonColon@1502..1504 "::"
              Ident@1504..1507 "new"
          ARG_LIST@1507..1510
            LParen@1507..1508 "("
            ARG@1508..1509
              EXPR_INT@1508..1509
                Int@1508..1509 "0"
            RParen@1509..1510 ")"
        Semi@1510..1511 ";"
        Whitespace@1511..1516 "\n    "
      STMT_EXPR@1516..1589
        EXPR_FOR@1516..1589
          ForKeyword@1516..1519 "for"
          Whitespace@1519..1520 " "
          PATTERN_VARIABLE@1520..1527
            Ident@1520..1526 "answer"
            Whitespace@1526..1527 " "
          InKeyword@1527..1529 "in"
          Whitespace@1529..1530 " "
          EXPR_ARRAY_LITERAL@1530..1537
            LBracket@1530..1531 "["
            EXPR_INT@1531..1532
              Int@1531..1532 "1"
            Comma@1532..1533 ","
            Whitespace@1533..1534 " "
            EXPR_INT@1534..1535
              Int@1534..1535 "2"
            RBracket@1535..1536 "]"
            Whitespace@1536..1537 " "
          BLOCK@1537..1589
            LBrace@1537..1538 "{"
            Whitespace@1538..1547 "\n        "
            EXPR_CALL@1547..1583
              EXPR_BINARY@1547..1556
                EXPR_IDENT@1547..1552
                  PATH@1547..1552
                    Ident@1547..1552 "total"
                Dot@1552..1553 "."
                EXPR_IDENT@1553..1556
                  PATH@1553..1556
                    Ident@1553..1556 "set"
              ARG_LIST@1556..1583
                LParen@1556..1557 "("
                ARG@1557..1577
                  EXPR_BINARY@1557..1577
                    EXPR_CALL@1557..1569
                      EXPR_BINARY@1557..1566
                        EXPR_IDENT@1557..1562
                          PATH@1557..1562
                            Ident@1557..1562 "total"
                        Dot@1562..1563 "."
                        EXPR_IDENT@1563..1566
                          PATH@1563..1566
                            Ident@1563..1566 "get"
                      ARG_LIST@1566..1569
                        LParen@1566..1567 "("
                        RParen@1567..1568 ")"
                        Whitespace@1568..1569 " "
                    Plus@1569..1570 "+"
                    Whitespace@1570..1571 " "
                    EXPR_IDENT@1571..1577
                      PATH@1571..1577
                        Ident@1571..1577 "answer"
                RParen@1577..1578 ")"
                Whitespace@1578..1583 "\n    "
            RBrace@1583..1584 "}"
            Whitespace@1584..1589 "\n    "
      EXPR_CALL@1589..1601
        EXPR_BINARY@1589..1598
          EXPR_IDENT@1589..1594
            PATH@1589..1594
              Ident@1589..1594 "total"
          Dot@1594..1595 "."
          EXPR_IDENT@1595..1598
            PATH@1595..1598
              Ident@1595..1598 "get"
        ARG_LIST@1598..1601
          LParen@1598..1599 "("
          RParen@1599..1600 ")"
          Whitespace@1600..1601 "\n"
      RBrace@1601..1602 "}"
      Whitespace@1602..1604 "\n\n"
  FN@1604..2198
    FnKeyword@1604..1606 "fn"
    Whitespace@1606..1607 " "
    Ident@1607..1611 "main"
    PARAM_LIST@1611..1614
      LParen@1611..1612 "("
      RParen@1612..1613 ")"
      Whitespace@1613..1614 " "
    Arrow@1614..1616 "->"
    Whitespace@1616..1617 " "
    TYPE_UNIT@1617..1622
      UnitKeyword@1617..1621 "unit"
      Whitespace@1621..1622 " "
    BLOCK@1622..2198
      LBrace@1622..1623 "{"
      Whitespace@1623..1628 "\n    "
      STMT_EXPR@1628..1655
        EXPR_CALL@1628..1649
          EXPR_IDENT@1628..1635
            PATH@1628..1635
              Ident@1628..1635 "println"
          ARG_LIST@1635..1649
            LParen@1635..1636 "("
            ARG@1636..1648
              EXPR_CALL@1636..1648
                EXPR_IDENT@1636..1644
                  PATH@1636..1644
                    Ident@1636..1644 "classify"
                ARG_LIST@1644..1648
                  LParen@1644..1645 "("
                  ARG@1645..1647
                    EXPR_INT@1645..1647
                      Int@1645..1647 "42"
                  RParen@1647..1648 ")"
            RParen@1648..1649 ")"
        Semi@1649..1650 ";"
        Whitespace@1650..1655 "\n    "
      STMT_EXPR@1655..1681
        EXPR_CALL@1655..1675
          EXPR_IDENT@1655..1662
            PATH@1655..1662
              Ident@1655..1662 "println"
          ARG_LIST@1662..1675
            LParen@1662..1663 "("
            ARG@1663..1674
              EXPR_CALL@1663..1674
                EXPR_IDENT@1663..1671
                  PATH@1663..1671
                    Ident@1663..1671 "classify"
                ARG_LIST@1671..1674
                  LParen@1671..1672 "("
                  ARG@1672..1673
                    EXPR_INT@1672..1673
                      Int@1672..1673 "7"
                  RParen@1673..1674 ")"
            RParen@1674..1675 ")"
        Semi@1675..1676 ";"
        Whitespace@1676..1681 "\n    "
      STMT_EXPR@1681..1707
        EXPR_CALL@1681..1701
          EXPR_IDENT@1681..1688
            PATH@1681..1688
              Ident@1681..1688 "println"
          ARG_LIST@1688..1701
            LParen@1688..1689 "("
            ARG@1689..1700
              EXPR_CALL@1689..1700
                EXPR_IDENT@1689..1697
                  PATH@1689..1697
                    Ident@1689..1697 "classify"
                ARG_LIST@1697..1700
                  LParen@1697..1698 "("
                  ARG@1698..1699
                    EXPR_INT@1698..1699
                      Int@1698..1699 "0"
                  RParen@1699..1700 ")"
            RParen@1700..1701 ")"
        Semi@1701..1702 ";"
        Whitespace@1702..1707 "\n    "
      STMT_EXPR@1707..1741
        EXPR_CALL@1707..1735
          EXPR_IDENT@1707..1714
            PATH@1707..1714
              Ident@1707..1714 "println"
          ARG_LIST@1714..1735
            LParen@1714..1715 "("
            ARG@1715..1734
              EXPR_CALL@1715..1734
                EXPR_IDENT@1715..1728
                  PATH@1715..1728
                    Ident@1715..1728 "classify_bool"
                ARG_LIST@1728..1734
                  LParen@1728..1729 "("
                  ARG@1729..1733
                    EXPR_BOOL@1729..1733
                      TrueKeyword@1729..1733 "true"
                  RParen@1733..1734 ")"
            RParen@1734..1735 ")"
        Semi@1735..1736 ";"
        Whitespace@1736..1741 "\n    "
      STMT_EXPR@1741..1776
        EXPR_CALL@1741..1770
          EXPR_IDENT@1741..1748
            PATH@1741..1748
              Ident@1741..1748 "println"
          ARG_LIST@1748..1770
            LParen@1748..1749 "("
            ARG@1749..1769
              EXPR_CALL@1749..1769
                EXPR_IDENT@1749..1762
                  PATH@1749..1762
                    Ident@1749..1762 "classify_bool"
                ARG_LIST@1762..1769
                  LParen@1762..1763 "("
                  ARG@1763..1768
                    EXPR_BOOL@1763..1768
                      FalseKeyword@1763..1768 "false"
                  RParen@1768..1769 ")"
            RParen@1769..1770 ")"
        Semi@1770..1771 ";"
        Whitespace@1771..1776 "\n    "
      STMT_EXPR@1776..1816
        EXPR_CALL@1776..1810
          EXPR_IDENT@1776..1783
            PATH@1776..1783
              Ident@1776..1783 "println"
          ARG_LIST@1783..1810
            LParen@1783..1784 "("
            ARG@1784..1809
              EXPR_CALL@1784..1809
                EXPR_IDENT@1784..1797
                  PATH@1784..1797
                    Ident@1784..1797 "classify_pair"
                ARG_LIST@1797..1809
                  LParen@1797..1798 "("
                  ARG@1798..1808
                    EXPR_TUPLE@1798..1808
                      LParen@1798..1799 "("
                      EXPR_INT@1799..1801
                        Int@1799..1801 "42"
                      Comma@1801..1802 ","
                      Whitespace@1802..1803 " "
                      EXPR_BYTE@1803..1807
                        ByteCharLit@1803..1807 "b'A'"
                      RParen@1807..1808 ")"
                  RParen@1808..1809 ")"
            RParen@1809..1810 ")"
        Semi@1810..1811 ";"
        Whitespace@1811..1816 "\n    "
      STMT_EXPR@1816..1856
        EXPR_CALL@1816..1850
          EXPR_IDENT@1816..1823
            PATH@1816..1823
              Ident@1816..1823 "println"
          ARG_LIST@1823..1850
            LParen@1823..1824 "("
            ARG@1824..1849
              EXPR_CALL@1824..1849
                EXPR_IDENT@1824..1837
                  PATH@1824..1837
                    Ident@1824..1837 "classify_pair"
                ARG_LIST@1837..1849
                  LParen@1837..1838 "("
                  ARG@1838..1848
                    EXPR_TUPLE@1838..1848
                      LParen@1838..1839 "("
                      EXPR_INT@1839..1841
                        Int@1839..1841 "42"
                      Comma@1841..1842 ","
                      Whitespace@1842..1843 " "
                      EXPR_BYTE@1843..1847
                        ByteCharLit@1843..1847 "b'B'"
                      RParen@1847..1848 ")"
                  RParen@1848..1849 ")"
            RParen@1849..1850 ")"
        Semi@1850..1851 ";"
        Whitespace@1851..1856 "\n    "
      STMT_EXPR@1856..1895
        EXPR_CALL@1856..1889
          EXPR_IDENT@1856..1863
            PATH@1856..1863
              Ident@1856..1863 "println"
          ARG_LIST@1863..1889
            LParen@1863..1864 "("
            ARG@1864..1888
              EXPR_CALL@1864..1888
                EXPR_IDENT@1864..1879
                  PATH@1864..1879
                    Ident@1864..1879 "classify_string"
                ARG_LIST@1879..1888
                  LParen@1879..1880 "("
                  ARG@1880..1887
                    EXPR_STR@1880..1887
                      Str@1880..1887 "\"hello\""
                  RParen@1887..1888 ")"
            RParen@1888..1889 ")"
        Semi@1889..1890 ";"
        Whitespace@1890..1895 "\n    "
      STMT_EXPR@1895..1929
        EXPR_CALL@1895..1923
          EXPR_IDENT@1895..1902
            PATH@1895..1902
              Ident@1895..1902 "println"
          ARG_LIST@1902..1923
            LParen@1902..1903 "("
            ARG@1903..1922
              EXPR_CALL@1903..1922
                EXPR_IDENT@1903..1917
                  PATH@1903..1917
                    Ident@1903..1917 "classify_float"
                ARG_LIST@1917..1922
                  LParen@1917..1918 "("
                  ARG@1918..1921
                    EXPR_FLOAT@1918..1921
                      Float@1918..1921 "1.5"
                  RParen@1921..1922 ")"
            RParen@1922..1923 ")"
        Semi@1923..1924 ";"
        Whitespace@1924..1929 "\n    "
      STMT_EXPR@1929..1961
        EXPR_CALL@1929..1955
          EXPR_IDENT@1929..1936
            PATH@1929..1936
              Ident@1929..1936 "println"
          ARG_LIST@1936..1955
            LParen@1936..1937 "("
            ARG@1937..1954
              EXPR_CALL@1937..1954
                EXPR_IDENT@1937..1952
                  PATH@1937..1952
                    Ident@1937..1952 "shadow_constant"
                ARG_LIST@1952..1954
                  LParen@1952..1953 "("
                  RParen@1953..1954 ")"
            RParen@1954..1955 ")"
        Semi@1955..1956 ";"
        Whitespace@1956..1961 "\n    "
      STMT_EXPR@1961..1996
        EXPR_CALL@1961..1990
          EXPR_IDENT@1961..1968
            PATH@1961..1968
              Ident@1961..1968 "println"
          ARG_LIST@1968..1990
            LParen@1968..1969 "("
            ARG@1969..1989
              EXPR_CALL@1969..1989
                EXPR_IDENT@1969..1985
                  PATH@1969..1985
                    Ident@1969..1985 "explicit_binding"
                ARG_LIST@1985..1989
                  LParen@1985..1986 "("
                  ARG@1986..1988
                    EXPR_INT@1986..1988
                      Int@1986..1988 "11"
                  RParen@1988..1989 ")"
            RParen@1989..1990 ")"
        Semi@1990..1991 ";"
        Whitespace@1991..1996 "\n    "
      STMT_EXPR@1996..2029
        EXPR_CALL@1996..2023
          EXPR_IDENT@1996..2003
            PATH@1996..2003
              Ident@1996..2003 "println"
          ARG_LIST@2003..2023
            LParen@2003..2004 "("
            ARG@2004..2022
              EXPR_CALL@2004..2022
                EXPR_IDENT@2004..2018
                  PATH@2004..2018
                    Ident@2004..2018 "matches_if_let"
                ARG_LIST@2018..2022
                  LParen@2018..2019 "("
                  ARG@2019..2021
                    EXPR_INT@2019..2021
                      Int@2019..2021 "42"
                  RParen@2021..2022 ")"
            RParen@2022..2023 ")"
        Semi@2023..2024 ";"
        Whitespace@2024..2029 "\n    "
      STMT_EXPR@2029..2062
        EXPR_CALL@2029..2056
          EXPR_IDENT@2029..2036
            PATH@2029..2036
              Ident@2029..2036 "println"
          ARG_LIST@2036..2056
            LParen@2036..2037 "("
            ARG@2037..2055
              EXPR_CALL@2037..2055
                EXPR_IDENT@2037..2051
                  PATH@2037..2051
                    Ident@2037..2051 "matches_if_let"
                ARG_LIST@2051..2055
                  LParen@2051..2052 "("
                  ARG@2052..2054
                    EXPR_INT@2052..2054
                      Int@2052..2054 "41"
                  RParen@2054..2055 ")"
            RParen@2055..2056 ")"
        Semi@2056..2057 ";"
        Whitespace@2057..2062 "\n    "
      STMT_EXPR@2062..2097
        EXPR_CALL@2062..2091
          EXPR_IDENT@2062..2069
            PATH@2062..2069
              Ident@2062..2069 "println"
          ARG_LIST@2069..2091
            LParen@2069..2070 "("
            ARG@2070..2090
              EXPR_CALL@2070..2090
                EXPR_IDENT@2070..2086
                  PATH@2070..2086
                    Ident@2070..2086 "matches_let_else"
                ARG_LIST@2086..2090
                  LParen@2086..2087 "("
                  ARG@2087..2089
                    EXPR_INT@2087..2089
                      Int@2087..2089 "42"
                  RParen@2089..2090 ")"
            RParen@2090..2091 ")"
        Semi@2091..2092 ";"
        Whitespace@2092..2097 "\n    "
      STMT_EXPR@2097..2132
        EXPR_CALL@2097..2126
          EXPR_IDENT@2097..2104
            PATH@2097..2104
              Ident@2097..2104 "println"
          ARG_LIST@2104..2126
            LParen@2104..2105 "("
            ARG@2105..2125
              EXPR_CALL@2105..2125
                EXPR_IDENT@2105..2121
                  PATH@2105..2121
                    Ident@2105..2121 "matches_let_else"
                ARG_LIST@2121..2125
                  LParen@2121..2122 "("
                  ARG@2122..2124
                    EXPR_INT@2122..2124
                      Int@2122..2124 "41"
                  RParen@2124..2125 ")"
            RParen@2125..2126 ")"
        Semi@2126..2127 ";"
        Whitespace@2127..2132 "\n    "
      STMT_EXPR@2132..2160
        EXPR_CALL@2132..2154
          EXPR_IDENT@2132..2139
            PATH@2132..2139
              Ident@2132..2139 "println"
          ARG_LIST@2139..2154
            LParen@2139..2140 "("
            ARG@2140..2153
              EXPR_CALL@2140..2153
                EXPR_IDENT@2140..2151
                  PATH@2140..2151
                    Ident@2140..2151 "for_binding"
                ARG_LIST@2151..2153
                  LParen@2151..2152 "("
                  RParen@2152..2153 ")"
            RParen@2153..2154 ")"
        Semi@2154..2155 ";"
        Whitespace@2155..2160 "\n    "
      EXPR_CALL@2160..2196
        EXPR_IDENT@2160..2167
          PATH@2160..2167
            Ident@2160..2167 "println"
        ARG_LIST@2167..2196
          LParen@2167..2168 "("
          ARG@2168..2194
            EXPR_IDENT@2168..2194
              PATH@2168..2194
                Ident@2168..2194 "classified_at_compile ..."
          RParen@2194..2195 ")"
          Whitespace@2195..2196 "\n"
      RBrace@2196..2197 "}"
      Whitespace@2197..2198 "\n"