FILE@0..408
  FN@0..75
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..23 "accepts_array_length"
    PARAM_LIST@23..43
      LParen@23..24 "("
      PARAM@24..41
        Ident@24..29 "value"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_ARRAY@31..41
          LBracket@31..32 "["
          TYPE_INT32@32..35
            I32Keyword@32..35 "i32"
          Semi@35..36 ";"
          Whitespace@36..37 " "
          Int@37..40 "1_0"
          RBracket@40..41 "]"
      RParen@41..42 ")"
      Whitespace@42..43 " "
    Arrow@43..45 "->"
    Whitespace@45..46 " "
    TYPE_UNIT@46..51
      UnitKeyword@46..50 "unit"
      Whitespace@50..51 " "
    BLOCK@51..75
      LBrace@51..52 "{"
      Whitespace@52..57 "\n    "
      STMT_LET@57..72
        LetKeyword@57..60 "let"
        Whitespace@60..61 " "
        PATTERN_WILDCARD@61..63
          WildcardKeyword@61..62 "_"
          Whitespace@62..63 " "
        Eq@63..64 "="
        Whitespace@64..65 " "
        EXPR_IDENT@65..70
          PATH@65..70
            Ident@65..70 "value"
        Semi@70..71 ";"
        Whitespace@71..72 "\n"
      RBrace@72..73 "}"
      Whitespace@73..75 "\n\n"
  FN@75..408
    FnKeyword@75..77 "fn"
    Whitespace@77..78 " "
    Ident@78..82 "main"
    PARAM_LIST@82..85
      LParen@82..83 "("
      RParen@83..84 ")"
      Whitespace@84..85 " "
    Arrow@85..87 "->"
    Whitespace@87..88 " "
    TYPE_UNIT@88..93
      UnitKeyword@88..92 "unit"
      Whitespace@92..93 " "
    BLOCK@93..408
      LBrace@93..94 "{"
      Whitespace@94..99 "\n    "
      STMT_LET@99..129
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_VARIABLE@103..110
          Ident@103..110 "integer"
        Colon@110..111 ":"
        Whitespace@111..112 " "
        TYPE_INT32@112..116
          I32Keyword@112..115 "i32"
          Whitespace@115..116 " "
        Eq@116..117 "="
        Whitespace@117..118 " "
        EXPR_INT@118..123
          Int@118..123 "1_000"
        Semi@123..124 ";"
        Whitespace@124..129 "\n    "
      STMT_LET@129..168
        LetKeyword@129..132 "let"
        Whitespace@132..133 " "
        PATTERN_VARIABLE@133..141
          Ident@133..141 "unsigned"
        Colon@141..142 ":"
        Whitespace@142..143 " "
        TYPE_UINT64@143..147
          U64Keyword@143..146 "u64"
          Whitespace@146..147 " "
        Eq@147..148 "="
        Whitespace@148..149 " "
        EXPR_INT@149..162
          Int@149..162 "4_294_967_296"
        Semi@162..163 ";"
        Whitespace@163..168 "\n    "
      STMT_LET@168..197
        LetKeyword@168..171 "let"
        Whitespace@171..172 " "
        PATTERN_VARIABLE@172..177
          Ident@172..177 "float"
        Colon@177..178 ":"
        Whitespace@178..179 " "
        TYPE_FLOAT64@179..183
          F64Keyword@179..182 "f64"
          Whitespace@182..183 " "
        Eq@183..184 "="
        Whitespace@184..185 " "
        EXPR_FLOAT@185..191
          Float@185..191 "1.25e2"
        Semi@191..192 ";"
        Whitespace@192..197 "\n    "
      STMT_LET@197..230
        LetKeyword@197..200 "let"
        Whitespace@200..201 " "
        PATTERN_VARIABLE@201..206
          Ident@201..206 "small"
        Colon@206..207 ":"
        Whitespace@207..208 " "
        TYPE_FLOAT32@208..212
          F32Keyword@208..211 "f32"
          Whitespace@211..212 " "
        Eq@212..213 "="
        Whitespace@213..214 " "
        EXPR_FLOAT@214..224
          Float@214..224 "2_5.0_0e-1"
        Semi@224..225 ";"
        Whitespace@225..230 "\n    "
      STMT_EXPR@230..252
        EXPR_CALL@230..246
          EXPR_IDENT@230..237
            PATH@230..237
              Ident@230..237 "println"
          ARG_LIST@237..246
            LParen@237..238 "("
            ARG@238..245
              EXPR_IDENT@238..245
                PATH@238..245
                  Ident@238..245 "integer"
            RParen@245..246 ")"
        Semi@246..247 ";"
        Whitespace@247..252 "\n    "
      STMT_EXPR@252..275
        EXPR_CALL@252..269
          EXPR_IDENT@252..259
            PATH@252..259
              Ident@252..259 "println"
          ARG_LIST@259..269
            LParen@259..260 "("
            ARG@260..268
              EXPR_IDENT@260..268
                PATH@260..268
                  Ident@260..268 "unsigned"
            RParen@268..269 ")"
        Semi@269..270 ";"
        Whitespace@270..275 "\n    "
      STMT_EXPR@275..295
        EXPR_CALL@275..289
          EXPR_IDENT@275..282
            PATH@275..282
              Ident@275..282 "println"
          ARG_LIST@282..289
            LParen@282..283 "("
            ARG@283..288
              EXPR_IDENT@283..288
                PATH@283..288
                  Ident@283..288 "float"
            RParen@288..289 ")"
        Semi@289..290 ";"
        Whitespace@290..295 "\n    "
      STMT_EXPR@295..315
        EXPR_CALL@295..309
          EXPR_IDENT@295..302
            PATH@295..302
              Ident@295..302 "println"
          ARG_LIST@302..309
            LParen@302..303 "("
            ARG@303..308
              EXPR_IDENT@303..308
                PATH@303..308
                  Ident@303..308 "small"
            RParen@308..309 ")"
        Semi@309..310 ";"
        Whitespace@310..315 "\n    "
      EXPR_MATCH@315..406
        MatchKeyword@315..320 "match"
        Whitespace@320..321 " "
        EXPR_IDENT@321..329
          PATH@321..329
            Ident@321..328 "integer"
            Whitespace@328..329 " "
        MATCH_ARM_LIST@329..406
          LBrace@329..330 "{"
          Whitespace@330..339 "\n        "
          MATCH_ARM@339..366
            PATTERN_INT@339..345
              Int@339..344 "1_000"
              Whitespace@344..345 " "
            FatArrow@345..347 "=>"
            Whitespace@347..348 " "
            EXPR_CALL@348..366
              EXPR_IDENT@348..355
                PATH@348..355
                  Ident@348..355 "println"
              ARG_LIST@355..366
                LParen@355..356 "("
                ARG@356..365
                  EXPR_STR@356..365
                    Str@356..365 "\"matched\""
                RParen@365..366 ")"
          Comma@366..367 ","
          Whitespace@367..376 "\n        "
          MATCH_ARM@376..398
            PATTERN_WILDCARD@376..378
              WildcardKeyword@376..377 "_"
              Whitespace@377..378 " "
            FatArrow@378..380 "=>"
            Whitespace@380..381 " "
            EXPR_CALL@381..398
              EXPR_IDENT@381..388
                PATH@381..388
                  Ident@381..388 "println"
              ARG_LIST@388..398
                LParen@388..389 "("
                ARG@389..397
                  EXPR_STR@389..397
                    Str@389..397 "\"missed\""
                RParen@397..398 ")"
          Comma@398..399 ","
          Whitespace@399..404 "\n    "
          RBrace@404..405 "}"
          Whitespace@405..406 "\n"
      RBrace@406..407 "}"
      Whitespace@407..408 "\n"