FILE@0..1317
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Ident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT32@34..37
          I32Keyword@34..37 "i32"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  FN@42..189
    FnKeyword@42..44 "fn"
    Whitespace@44..45 " "
    Ident@45..62 "point32_to_string"
    PARAM_LIST@62..73
      LParen@62..63 "("
      PARAM@63..71
        Ident@63..64 "p"
        Colon@64..65 ":"
        Whitespace@65..66 " "
        TYPE_TAPP@66..71
          PATH@66..71
            Ident@66..71 "Point"
      RParen@71..72 ")"
      Whitespace@72..73 " "
    Arrow@73..75 "->"
    Whitespace@75..76 " "
    TYPE_STRING@76..83
      StringKeyword@76..82 "string"
      Whitespace@82..83 " "
    BLOCK@83..189
      LBrace@83..84 "{"
      Whitespace@84..89 "\n    "
      STMT_LET@89..123
        LetKeyword@89..92 "let"
        Whitespace@92..93 " "
        PATTERN_CONSTR@93..114
          PATH@93..99
            Ident@93..98 "Point"
            Whitespace@98..99 " "
          STRUCT_PATTERN_FIELD_LIST@99..114
            LBrace@99..100 "{"
            Whitespace@100..101 " "
            STRUCT_PATTERN_FIELD@101..105
              Ident@101..102 "x"
              Colon@102..103 ":"
              Whitespace@103..104 " "
              PATTERN_VARIABLE@104..105
                Ident@104..105 "x"
            Comma@105..106 ","
            Whitespace@106..107 " "
            STRUCT_PATTERN_FIELD@107..112
              Ident@107..108 "y"
              Colon@108..109 ":"
              Whitespace@109..110 " "
              PATTERN_VARIABLE@110..112
                Ident@110..111 "y"
                Whitespace@111..112 " "
            RBrace@112..113 "}"
            Whitespace@113..114 " "
        Eq@114..115 "="
        Whitespace@115..116 " "
        EXPR_IDENT@116..117
          PATH@116..117
            Ident@116..117 "p"
        Semi@117..118 ";"
        Whitespace@118..123 "\n    "
      EXPR_BINARY@123..186
        EXPR_BINARY@123..179
          EXPR_BINARY@123..163
            EXPR_BINARY@123..153
              EXPR_STR@123..137
                Str@123..136 "\"Point { x: \""
                Whitespace@136..137 " "
              Plus@137..138 "+"
              Whitespace@138..139 " "
              EXPR_CALL@139..153
                EXPR_BINARY@139..150
                  EXPR_IDENT@139..140
                    PATH@139..140
                      Ident@139..140 "x"
                  Dot@140..141 "."
                  EXPR_IDENT@141..150
                    PATH@141..150
                      Ident@141..150 "to_string"
                ARG_LIST@150..153
                  LParen@150..151 "("
                  RParen@151..152 ")"
                  Whitespace@152..153 " "
            Plus@153..154 "+"
            Whitespace@154..155 " "
            EXPR_STR@155..163
              Str@155..162 "\", y: \""
              Whitespace@162..163 " "
          Plus@163..164 "+"
          Whitespace@164..165 " "
          EXPR_CALL@165..179
            EXPR_BINARY@165..176
              EXPR_IDENT@165..166
                PATH@165..166
                  Ident@165..166 "y"
              Dot@166..167 "."
              EXPR_IDENT@167..176
                PATH@167..176
                  Ident@167..176 "to_string"
            ARG_LIST@176..179
              LParen@176..177 "("
              RParen@177..178 ")"
              Whitespace@178..179 " "
        Plus@179..180 "+"
        Whitespace@180..181 " "
        EXPR_STR@181..186
          Str@181..185 "\" }\""
          Whitespace@185..186 "\n"
      RBrace@186..187 "}"
      Whitespace@187..189 "\n\n"
  ENUM@189..235
    EnumKeyword@189..193 "enum"
    Whitespace@193..194 " "
    Ident@194..199 "Color"
    Whitespace@199..200 " "
    LBrace@200..201 "{"
    Whitespace@201..206 "\n    "
    VARIANT_LIST@206..235
      VARIANT@206..209
        Ident@206..209 "Red"
      Comma@209..210 ","
      Whitespace@210..215 "\n    "
      VARIANT@215..220
        Ident@215..220 "Green"
      Comma@220..221 ","
      Whitespace@221..226 "\n    "
      VARIANT@226..230
        Ident@226..230 "Blue"
      Comma@230..231 ","
      Whitespace@231..232 "\n"
      RBrace@232..233 "}"
      Whitespace@233..235 "\n\n"
  FN@235..371
    FnKeyword@235..237 "fn"
    Whitespace@237..238 " "
    Ident@238..253 "color_to_string"
    PARAM_LIST@253..264
      LParen@253..254 "("
      PARAM@254..262
        Ident@254..255 "c"
        Colon@255..256 ":"
        Whitespace@256..257 " "
        TYPE_TAPP@257..262
          PATH@257..262
            Ident@257..262 "Color"
      RParen@262..263 ")"
      Whitespace@263..264 " "
    Arrow@264..266 "->"
    Whitespace@266..267 " "
    TYPE_STRING@267..274
      StringKeyword@267..273 "string"
      Whitespace@273..274 " "
    BLOCK@274..371
      LBrace@274..275 "{"
      Whitespace@275..280 "\n    "
      EXPR_MATCH@280..368
        MatchKeyword@280..285 "match"
        Whitespace@285..286 " "
        EXPR_IDENT@286..288
          PATH@286..288
            Ident@286..287 "c"
            Whitespace@287..288 " "
        MATCH_ARM_LIST@288..368
          LBrace@288..289 "{"
          Whitespace@289..298 "\n        "
          MATCH_ARM@298..310
            PATTERN_CONSTR@298..302
              PATH@298..302
                Ident@298..301 "Red"
                Whitespace@301..302 " "
            FatArrow@302..304 "=>"
            Whitespace@304..305 " "
            EXPR_STR@305..310
              Str@305..310 "\"Red\""
          Comma@310..311 ","
          Whitespace@311..320 "\n        "
          MATCH_ARM@320..336
            PATTERN_CONSTR@320..326
              PATH@320..326
                Ident@320..325 "Green"
                Whitespace@325..326 " "
            FatArrow@326..328 "=>"
            Whitespace@328..329 " "
            EXPR_STR@329..336
              Str@329..336 "\"Green\""
          Comma@336..337 ","
          Whitespace@337..346 "\n        "
          MATCH_ARM@346..360
            PATTERN_CONSTR@346..351
              PATH@346..351
                Ident@346..350 "Blue"
                Whitespace@350..351 " "
            FatArrow@351..353 "=>"
            Whitespace@353..354 " "
            EXPR_STR@354..360
              Str@354..360 "\"Blue\""
          Comma@360..361 ","
          Whitespace@361..366 "\n    "
          RBrace@366..367 "}"
          Whitespace@367..368 "\n"
      RBrace@368..369 "}"
      Whitespace@369..371 "\n\n"
  STRUCT@371..438
    StructKeyword@371..377 "struct"
    Whitespace@377..378 " "
    Ident@378..382 "Line"
    Whitespace@382..383 " "
    LBrace@383..384 "{"
    Whitespace@384..389 "\n    "
    STRUCT_FIELD_LIST@389..438
      STRUCT_FIELD@389..400
        Ident@389..393 "from"
        Colon@393..394 ":"
        Whitespace@394..395 " "
        TYPE_TAPP@395..400
          PATH@395..400
            Ident@395..400 "Point"
      Comma@400..401 ","
      Whitespace@401..406 "\n    "
      STRUCT_FIELD@406..415
        Ident@406..408 "to"
        Colon@408..409 ":"
        Whitespace@409..410 " "
        TYPE_TAPP@410..415
          PATH@410..415
            Ident@410..415 "Point"
      Comma@415..416 ","
      Whitespace@416..421 "\n    "
      STRUCT_FIELD@421..433
        Ident@421..426 "color"
        Colon@426..427 ":"
        Whitespace@427..428 " "
        TYPE_TAPP@428..433
          PATH@428..433
            Ident@428..433 "Color"
      Comma@433..434 ","
      Whitespace@434..435 "\n"
      RBrace@435..436 "}"
      Whitespace@436..438 "\n\n"
  FN@438..678
    FnKeyword@438..440 "fn"
    Whitespace@440..441 " "
    Ident@441..455 "line_to_string"
    PARAM_LIST@455..465
      LParen@455..456 "("
      PARAM@456..463
        Ident@456..457 "l"
        Colon@457..458 ":"
        Whitespace@458..459 " "
        TYPE_TAPP@459..463
          PATH@459..463
            Ident@459..463 "Line"
      RParen@463..464 ")"
      Whitespace@464..465 " "
    Arrow@465..467 "->"
    Whitespace@467..468 " "
    TYPE_STRING@468..475
      StringKeyword@468..474 "string"
      Whitespace@474..475 " "
    BLOCK@475..678
      LBrace@475..476 "{"
      Whitespace@476..481 "\n    "
      STMT_LET@481..536
        LetKeyword@481..484 "let"
        Whitespace@484..485 " "
        PATTERN_CONSTR@485..527
          PATH@485..490
            Ident@485..489 "Line"
            Whitespace@489..490 " "
          STRUCT_PATTERN_FIELD_LIST@490..527
            LBrace@490..491 "{"
            Whitespace@491..492 " "
            STRUCT_PATTERN_FIELD@492..502
              Ident@492..496 "from"
              Colon@496..497 ":"
              Whitespace@497..498 " "
              PATTERN_VARIABLE@498..502
                Ident@498..502 "from"
            Comma@502..503 ","
            Whitespace@503..504 " "
            STRUCT_PATTERN_FIELD@504..510
              Ident@504..506 "to"
              Colon@506..507 ":"
              Whitespace@507..508 " "
              PATTERN_VARIABLE@508..510
                Ident@508..510 "to"
            Comma@510..511 ","
            Whitespace@511..512 " "
            STRUCT_PATTERN_FIELD@512..525
              Ident@512..517 "color"
              Colon@517..518 ":"
              Whitespace@518..519 " "
              PATTERN_VARIABLE@519..525
                Ident@519..524 "color"
                Whitespace@524..525 " "
            RBrace@525..526 "}"
            Whitespace@526..527 " "
        Eq@527..528 "="
        Whitespace@528..529 " "
        EXPR_IDENT@529..530
          PATH@529..530
            Ident@529..530 "l"
        Semi@530..531 ";"
        Whitespace@531..536 "\n    "
      EXPR_BINARY@536..675
        EXPR_BINARY@536..668
          EXPR_BINARY@536..635
            EXPR_BINARY@536..613
              EXPR_BINARY@536..589
                EXPR_BINARY@536..578
                  EXPR_STR@536..552
                    Str@536..551 "\"Line { from: \""
                    Whitespace@551..552 " "
                  Plus@552..553 "+"
                  Whitespace@553..554 " "
                  EXPR_CALL@554..578
                    EXPR_IDENT@554..571
                      PATH@554..571
                        Ident@554..571 "point32_to_string"
                    ARG_LIST@571..578
                      LParen@571..572 "("
                      ARG@572..576
                        EXPR_IDENT@572..576
                          PATH@572..576
                            Ident@572..576 "from"
                      RParen@576..577 ")"
                      Whitespace@577..578 " "
                Plus@578..579 "+"
                Whitespace@579..580 " "
                EXPR_STR@580..589
                  Str@580..588 "\", to: \""
                  Whitespace@588..589 " "
              Plus@589..590 "+"
              Whitespace@590..591 " "
              EXPR_CALL@591..613
                EXPR_IDENT@591..608
                  PATH@591..608
                    Ident@591..608 "point32_to_string"
                ARG_LIST@608..613
                  LParen@608..609 "("
                  ARG@609..611
                    EXPR_IDENT@609..611
                      PATH@609..611
                        Ident@609..611 "to"
                  RParen@611..612 ")"
                  Whitespace@612..613 " "
            Plus@613..614 "+"
            Whitespace@614..615 " "
            EXPR_STR@615..635
              Str@615..626 "\", color: \""
              Whitespace@626..635 "\n        "
          Plus@635..636 "+"
          Whitespace@636..637 " "
          EXPR_CALL@637..668
            EXPR_IDENT@637..652
              PATH@637..652
                Ident@637..652 "color_to_string"
            ARG_LIST@652..668
              LParen@652..653 "("
              ARG@653..658
                EXPR_IDENT@653..658
                  PATH@653..658
                    Ident@653..658 "color"
              RParen@658..659 ")"
              Whitespace@659..668 "\n        "
        Plus@668..669 "+"
        Whitespace@669..670 " "
        EXPR_STR@670..675
          Str@670..674 "\" }\""
          Whitespace@674..675 "\n"
      RBrace@675..676 "}"
      Whitespace@676..678 "\n\n"
  FN@678..1106
    FnKeyword@678..680 "fn"
    Whitespace@680..681 " "
    Ident@681..691 "point_type"
    PARAM_LIST@691..702
      LParen@691..692 "("
      PARAM@692..700
        Ident@692..693 "p"
        Colon@693..694 ":"
        Whitespace@694..695 " "
        TYPE_TAPP@695..700
          PATH@695..700
            Ident@695..700 "Point"
      RParen@700..701 ")"
      Whitespace@701..702 " "
    Arrow@702..704 "->"
    Whitespace@704..705 " "
    TYPE_STRING@705..712
      StringKeyword@705..711 "string"
      Whitespace@711..712 " "
    BLOCK@712..1106
      LBrace@712..713 "{"
      Whitespace@713..718 "\n    "
      EXPR_MATCH@718..1103
        MatchKeyword@718..723 "match"
        Whitespace@723..724 " "
        EXPR_IDENT@724..726
          PATH@724..726
            Ident@724..725 "p"
            Whitespace@725..726 " "
        MATCH_ARM_LIST@726..1103
          LBrace@726..727 "{"
          Whitespace@727..736 "\n        "
          MATCH_ARM@736..792
            PATTERN_CONSTR@736..757
              PATH@736..742
                Ident@736..741 "Point"
                Whitespace@741..742 " "
              STRUCT_PATTERN_FIELD_LIST@742..757
                LBrace@742..743 "{"
                Whitespace@743..744 " "
                STRUCT_PATTERN_FIELD@744..748
                  Ident@744..745 "x"
                  Colon@745..746 ":"
                  Whitespace@746..747 " "
                  PATTERN_INT@747..748
                    Int@747..748 "0"
                Comma@748..749 ","
                Whitespace@749..750 " "
                STRUCT_PATTERN_FIELD@750..755
                  Ident@750..751 "y"
                  Colon@751..752 ":"
                  Whitespace@752..753 " "
                  PATTERN_INT@753..755
                    Int@753..754 "0"
                    Whitespace@754..755 " "
                RBrace@755..756 "}"
                Whitespace@756..757 " "
            FatArrow@757..759 "=>"
            Whitespace@759..760 " "
            BLOCK@760..792
              LBrace@760..761 "{"
              Whitespace@761..774 "\n            "
              EXPR_STR@774..791
                Str@774..782 "\"origin\""
                Whitespace@782..791 "\n        "
              RBrace@791..792 "}"
          Comma@792..793 ","
          Whitespace@793..802 "\n        "
          MATCH_ARM@802..854
            PATTERN_CONSTR@802..823
              PATH@802..808
                Ident@802..807 "Point"
                Whitespace@807..808 " "
              STRUCT_PATTERN_FIELD_LIST@808..823
                LBrace@808..809 "{"
                Whitespace@809..810 " "
                STRUCT_PATTERN_FIELD@810..814
                  Ident@810..811 "x"
                  Colon@811..812 ":"
                  Whitespace@812..813 " "
                  PATTERN_INT@813..814
                    Int@813..814 "0"
                Comma@814..815 ","
                Whitespace@815..816 " "
                STRUCT_PATTERN_FIELD@816..821
                  Ident@816..817 "y"
                  Colon@817..818 ":"
                  Whitespace@818..819 " "
                  PATTERN_INT@819..821
                    Int@819..820 "1"
                    Whitespace@820..821 " "
                RBrace@821..822 "}"
                Whitespace@822..823 " "
            FatArrow@823..825 "=>"
            Whitespace@825..826 " "
            BLOCK@826..854
              LBrace@826..827 "{"
              Whitespace@827..840 "\n            "
              EXPR_STR@840..853
                Str@840..844 "\"up\""
                Whitespace@844..853 "\n        "
              RBrace@853..854 "}"
          Comma@854..855 ","
          Whitespace@855..864 "\n        "
          MATCH_ARM@864..919
            PATTERN_CONSTR@864..885
              PATH@864..870
                Ident@864..869 "Point"
                Whitespace@869..870 " "
              STRUCT_PATTERN_FIELD_LIST@870..885
                LBrace@870..871 "{"
                Whitespace@871..872 " "
                STRUCT_PATTERN_FIELD@872..876
                  Ident@872..873 "x"
                  Colon@873..874 ":"
                  Whitespace@874..875 " "
                  PATTERN_INT@875..876
                    Int@875..876 "1"
                Comma@876..877 ","
                Whitespace@877..878 " "
                STRUCT_PATTERN_FIELD@878..883
                  Ident@878..879 "y"
                  Colon@879..880 ":"
                  Whitespace@880..881 " "
                  PATTERN_INT@881..883
                    Int@881..882 "0"
                    Whitespace@882..883 " "
                RBrace@883..884 "}"
                Whitespace@884..885 " "
            FatArrow@885..887 "=>"
            Whitespace@887..888 " "
            BLOCK@888..919
              LBrace@888..889 "{"
              Whitespace@889..902 "\n            "
              EXPR_STR@902..918
                Str@902..909 "\"right\""
                Whitespace@909..918 "\n        "
              RBrace@918..919 "}"
          Comma@919..920 ","
          Whitespace@920..929 "\n        "
          MATCH_ARM@929..1071
            PATTERN_CONSTR@929..950
              PATH@929..935
                Ident@929..934 "Point"
                Whitespace@934..935 " "
              STRUCT_PATTERN_FIELD_LIST@935..950
                LBrace@935..936 "{"
                Whitespace@936..937 " "
                STRUCT_PATTERN_FIELD@937..941
                  Ident@937..938 "x"
                  Colon@938..939 ":"
                  Whitespace@939..940 " "
                  PATTERN_INT@940..941
                    Int@940..941 "0"
                Comma@941..942 ","
                Whitespace@942..943 " "
                STRUCT_PATTERN_FIELD@943..948
                  Ident@943..944 "y"
                  Colon@944..945 ":"
                  Whitespace@945..946 " "
                  PATTERN_VARIABLE@946..948
                    Ident@946..947 "y"
                    Whitespace@947..948 " "
                RBrace@948..949 "}"
                Whitespace@949..950 " "
            FatArrow@950..952 "=>"
            Whitespace@952..953 " "
            BLOCK@953..1071
              LBrace@953..954 "{"
              Whitespace@954..967 "\n            "
              EXPR_MATCH@967..1070
                MatchKeyword@967..972 "match"
                Whitespace@972..973 " "
                EXPR_BINARY@973..979
                  EXPR_INT@973..975
                    Int@973..974 "0"
                    Whitespace@974..975 " "
                  Less@975..976 "<"
                  Whitespace@976..977 " "
                  EXPR_IDENT@977..979
                    PATH@977..979
                      Ident@977..978 "y"
                      Whitespace@978..979 " "
                MATCH_ARM_LIST@979..1070
                  LBrace@979..980 "{"
                  Whitespace@980..997 "\n                "
                  MATCH_ARM@997..1012
                    PATTERN_BOOL@997..1002
                      TrueKeyword@997..1001 "true"
                      Whitespace@1001..1002 " "
                    FatArrow@1002..1004 "=>"
                    Whitespace@1004..1005 " "
                    EXPR_STR@1005..1012
                      Str@1005..1012 "\"above\""
                  Comma@1012..1013 ","
                  Whitespace@1013..1030 "\n                "
                  MATCH_ARM@1030..1046
                    PATTERN_BOOL@1030..1036
                      FalseKeyword@1030..1035 "false"
                      Whitespace@1035..1036 " "
                    FatArrow@1036..1038 "=>"
                    Whitespace@1038..1039 " "
                    EXPR_STR@1039..1046
                      Str@1039..1046 "\"below\""
                  Comma@1046..1047 ","
                  Whitespace@1047..1060 "\n            "
                  RBrace@1060..1061 "}"
                  Whitespace@1061..1070 "\n        "
              RBrace@1070..1071 "}"
          Comma@1071..1072 ","
          Whitespace@1072..1081 "\n        "
          MATCH_ARM@1081..1095
            PATTERN_WILDCARD@1081..1083
              WildcardKeyword@1081..1082 "_"
              Whitespace@1082..1083 " "
            FatArrow@1083..1085 "=>"
            Whitespace@1085..1086 " "
            EXPR_STR@1086..1095
              Str@1086..1095 "\"unknown\""
          Comma@1095..1096 ","
          Whitespace@1096..1101 "\n    "
          RBrace@1101..1102 "}"
          Whitespace@1102..1103 "\n"
      RBrace@1103..1104 "}"
      Whitespace@1104..1106 "\n\n"
  FN@1106..1317
    FnKeyword@1106..1108 "fn"
    Whitespace@1108..1109 " "
    Ident@1109..1113 "main"
    PARAM_LIST@1113..1116
      LParen@1113..1114 "("
      RParen@1114..1115 ")"
      Whitespace@1115..1116 " "
    BLOCK@1116..1317
      LBrace@1116..1117 "{"
      Whitespace@1117..1122 "\n    "
      STMT_LET@1122..1157
        LetKeyword@1122..1125 "let"
        Whitespace@1125..1126 " "
        PATTERN_VARIABLE@1126..1129
          Ident@1126..1128 "p0"
          Whitespace@1128..1129 " "
        Eq@1129..1130 "="
        Whitespace@1130..1131 " "
        EXPR_STRUCT_LITERAL@1131..1151
          PATH@1131..1137
            Ident@1131..1136 "Point"
            Whitespace@1136..1137 " "
          STRUCT_LITERAL_FIELD_LIST@1137..1151
            LBrace@1137..1138 "{"
            Whitespace@1138..1139 " "
            STRUCT_LITERAL_FIELD@1139..1143
              Ident@1139..1140 "x"
              Colon@1140..1141 ":"
              Whitespace@1141..1142 " "
              EXPR_INT@1142..1143
                Int@1142..1143 "0"
            Comma@1143..1144 ","
            Whitespace@1144..1145 " "
            STRUCT_LITERAL_FIELD@1145..1150
              Ident@1145..1146 "y"
              Colon@1146..1147 ":"
              Whitespace@1147..1148 " "
              EXPR_INT@1148..1150
                Int@1148..1149 "0"
                Whitespace@1149..1150 " "
            RBrace@1150..1151 "}"
        Semi@1151..1152 ";"
        Whitespace@1152..1157 "\n    "
      STMT_LET@1157..1194
        LetKeyword@1157..1160 "let"
        Whitespace@1160..1161 " "
        PATTERN_WILDCARD@1161..1163
          WildcardKeyword@1161..1162 "_"
          Whitespace@1162..1163 " "
        Eq@1163..1164 "="
        Whitespace@1164..1165 " "
        EXPR_CALL@1165..1188
          EXPR_IDENT@1165..1172
            PATH@1165..1172
              Ident@1165..1172 "println"
          ARG_LIST@1172..1188
            LParen@1172..1173 "("
            ARG@1173..1187
              EXPR_CALL@1173..1187
                EXPR_IDENT@1173..1183
                  PATH@1173..1183
                    Ident@1173..1183 "point_type"
                ARG_LIST@1183..1187
                  LParen@1183..1184 "("
                  ARG@1184..1186
                    EXPR_IDENT@1184..1186
                      PATH@1184..1186
                        Ident@1184..1186 "p0"
                  RParen@1186..1187 ")"
            RParen@1187..1188 ")"
        Semi@1188..1189 ";"
        Whitespace@1189..1194 "\n    "
      STMT_LET@1194..1231
        LetKeyword@1194..1197 "let"
        Whitespace@1197..1198 " "
        PATTERN_VARIABLE@1198..1201
          Ident@1198..1200 "p1"
          Whitespace@1200..1201 " "
        Eq@1201..1202 "="
        Whitespace@1202..1203 " "
        EXPR_STRUCT_LITERAL@1203..1225
          PATH@1203..1209
            Ident@1203..1208 "Point"
            Whitespace@1208..1209 " "
          STRUCT_LITERAL_FIELD_LIST@1209..1225
            LBrace@1209..1210 "{"
            Whitespace@1210..1211 " "
            STRUCT_LITERAL_FIELD@1211..1216
              Ident@1211..1212 "x"
              Colon@1212..1213 ":"
              Whitespace@1213..1214 " "
              EXPR_INT@1214..1216
                Int@1214..1216 "10"
            Comma@1216..1217 ","
            Whitespace@1217..1218 " "
            STRUCT_LITERAL_FIELD@1218..1224
              Ident@1218..1219 "y"
              Colon@1219..1220 ":"
              Whitespace@1220..1221 " "
              EXPR_INT@1221..1224
                Int@1221..1223 "10"
                Whitespace@1223..1224 " "
            RBrace@1224..1225 "}"
        Semi@1225..1226 ";"
        Whitespace@1226..1231 "\n    "
      STMT_LET@1231..1285
        LetKeyword@1231..1234 "let"
        Whitespace@1234..1235 " "
        PATTERN_VARIABLE@1235..1240
          Ident@1235..1239 "line"
          Whitespace@1239..1240 " "
        Eq@1240..1241 "="
        Whitespace@1241..1242 " "
        EXPR_STRUCT_LITERAL@1242..1279
          PATH@1242..1247
            Ident@1242..1246 "Line"
            Whitespace@1246..1247 " "
          STRUCT_LITERAL_FIELD_LIST@1247..1279
            LBrace@1247..1248 "{"
            Whitespace@1248..1249 " "
            STRUCT_LITERAL_FIELD@1249..1257
              Ident@1249..1253 "from"
              Colon@1253..1254 ":"
              Whitespace@1254..1255 " "
              EXPR_IDENT@1255..1257
                PATH@1255..1257
                  Ident@1255..1257 "p0"
            Comma@1257..1258 ","
            Whitespace@1258..1259 " "
            STRUCT_LITERAL_FIELD@1259..1265
              Ident@1259..1261 "to"
              Colon@1261..1262 ":"
              Whitespace@1262..1263 " "
              EXPR_IDENT@1263..1265
                PATH@1263..1265
                  Ident@1263..1265 "p1"
            Comma@1265..1266 ","
            Whitespace@1266..1267 " "
            STRUCT_LITERAL_FIELD@1267..1278
              Ident@1267..1272 "color"
              Colon@1272..1273 ":"
              Whitespace@1273..1274 " "
              EXPR_IDENT@1274..1278
                PATH@1274..1278
                  Ident@1274..1277 "Red"
                  Whitespace@1277..1278 " "
            RBrace@1278..1279 "}"
        Semi@1279..1280 ";"
        Whitespace@1280..1285 "\n    "
      EXPR_CALL@1285..1315
        EXPR_IDENT@1285..1292
          PATH@1285..1292
            Ident@1285..1292 "println"
        ARG_LIST@1292..1315
          LParen@1292..1293 "("
          ARG@1293..1313
            EXPR_CALL@1293..1313
              EXPR_IDENT@1293..1307
                PATH@1293..1307
                  Ident@1293..1307 "line_to_string"
              ARG_LIST@1307..1313
                LParen@1307..1308 "("
                ARG@1308..1312
                  EXPR_IDENT@1308..1312
                    PATH@1308..1312
                      Ident@1308..1312 "line"
                RParen@1312..1313 ")"
          RParen@1313..1314 ")"
          Whitespace@1314..1315 "\n"
      RBrace@1315..1316 "}"
      Whitespace@1316..1317 "\n"