FILE@0..262
  EXTERN@0..84
    ATTRIBUTE_LIST@0..20
      ATTRIBUTE@0..20
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..18 "go_variadic_last"
        RBracket@18..19 "]"
        Whitespace@19..20 "\n"
    ExternKeyword@20..26 "extern"
    Whitespace@26..27 " "
    Str@27..31 "\"go\""
    Whitespace@31..32 " "
    Str@32..38 "\"path\""
    Whitespace@38..39 " "
    Str@39..45 "\"Join\""
    Whitespace@45..46 " "
    Ident@46..50 "join"
    PARAM_LIST@50..73
      LParen@50..51 "("
      PARAM@51..71
        Ident@51..56 "parts"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_TAPP@58..71
          PATH@58..63
            Ident@58..63 "Slice"
          TYPE_PARAM_LIST@63..71
            LBracket@63..64 "["
            TYPE_STRING@64..70
              StringKeyword@64..70 "string"
            RBracket@70..71 "]"
      RParen@71..72 ")"
      Whitespace@72..73 " "
    Arrow@73..75 "->"
    Whitespace@75..76 " "
    TYPE_STRING@76..84
      StringKeyword@76..82 "string"
      Whitespace@82..84 "\n\n"
  EXTERN@84..152
    ExternKeyword@84..90 "extern"
    Whitespace@90..91 " "
    Str@91..95 "\"go\""
    Whitespace@95..96 " "
    Str@96..105 "\"strings\""
    Whitespace@105..106 " "
    Str@106..114 "\"Fields\""
    Whitespace@114..115 " "
    Ident@115..121 "fields"
    PARAM_LIST@121..136
      LParen@121..122 "("
      PARAM@122..134
        Ident@122..126 "text"
        Colon@126..127 ":"
        Whitespace@127..128 " "
        TYPE_STRING@128..134
          StringKeyword@128..134 "string"
      RParen@134..135 ")"
      Whitespace@135..136 " "
    Arrow@136..138 "->"
    Whitespace@138..139 " "
    TYPE_TAPP@139..152
      PATH@139..142
        Ident@139..142 "Vec"
      TYPE_PARAM_LIST@142..152
        LBracket@142..143 "["
        TYPE_STRING@143..149
          StringKeyword@143..149 "string"
        RBracket@149..150 "]"
        Whitespace@150..152 "\n\n"
  FN@152..262
    FnKeyword@152..154 "fn"
    Whitespace@154..155 " "
    Ident@155..159 "main"
    PARAM_LIST@159..162
      LParen@159..160 "("
      RParen@160..161 ")"
      Whitespace@161..162 " "
    BLOCK@162..262
      LBrace@162..163 "{"
      Whitespace@163..168 "\n    "
      STMT_LET@168..212
        LetKeyword@168..171 "let"
        Whitespace@171..172 " "
        PATTERN_VARIABLE@172..178
          Ident@172..177 "parts"
          Whitespace@177..178 " "
        Eq@178..179 "="
        Whitespace@179..180 " "
        EXPR_CALL@180..206
          EXPR_IDENT@180..186
            PATH@180..186
              Ident@180..186 "fields"
          ARG_LIST@186..206
            LParen@186..187 "("
            ARG@187..205
              EXPR_STR@187..205
                Str@187..205 "\"alpha beta gamma\""
            RParen@205..206 ")"
        Semi@206..207 ";"
        Whitespace@207..212 "\n    "
      STMT_EXPR@212..260
        EXPR_CALL@212..258
          EXPR_IDENT@212..219
            PATH@212..219
              Ident@212..219 "println"
          ARG_LIST@219..258
            LParen@219..220 "("
            ARG@220..257
              EXPR_CALL@220..257
                EXPR_IDENT@220..224
                  PATH@220..224
                    Ident@220..224 "join"
                ARG_LIST@224..257
                  LParen@224..225 "("
                  ARG@225..256
                    EXPR_CALL@225..256
                      EXPR_IDENT@225..230
                        PATH@225..230
                          Ident@225..230 "slice"
                      ARG_LIST@230..256
                        LParen@230..231 "("
                        ARG@231..238
                          EXPR_IDENT@231..236
                            PATH@231..236
                              Ident@231..236 "parts"
                          Comma@236..237 ","
                          Whitespace@237..238 " "
                        ARG@238..241
                          EXPR_INT@238..239
                            Int@238..239 "0"
                          Comma@239..240 ","
                          Whitespace@240..241 " "
                        ARG@241..255
                          EXPR_CALL@241..255
                            EXPR_IDENT@241..248
                              PATH@241..248
                                Ident@241..248 "vec_len"
                            ARG_LIST@248..255
                              LParen@248..249 "("
                              ARG@249..254
                                EXPR_IDENT@249..254
                                  PATH@249..254
                                    Ident@249..254 "parts"
                              RParen@254..255 ")"
                        RParen@255..256 ")"
                  RParen@256..257 ")"
            RParen@257..258 ")"
        Semi@258..259 ";"
        Whitespace@259..260 "\n"
      RBrace@260..261 "}"
      Whitespace@261..262 "\n"