FILE@0..607
  FN@0..41
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "take_u8"
    PARAM_LIST@10..21
      LParen@10..11 "("
      PARAM@11..19
        Ident@11..12 "x"
        Colon@12..13 ":"
        Whitespace@13..14 " "
        TYPE_UINT8@14..19
          Uint8Keyword@14..19 "uint8"
      RParen@19..20 ")"
      Whitespace@20..21 " "
    Arrow@21..23 "->"
    Whitespace@23..24 " "
    TYPE_UINT8@24..30
      Uint8Keyword@24..29 "uint8"
      Whitespace@29..30 " "
    BLOCK@30..41
      LBrace@30..31 "{"
      Whitespace@31..36 "\n    "
      EXPR_IDENT@36..38
        PATH@36..38
          Ident@36..37 "x"
          Whitespace@37..38 "\n"
      RBrace@38..39 "}"
      Whitespace@39..41 "\n\n"
  FN@41..87
    FnKeyword@41..43 "fn"
    Whitespace@43..44 " "
    Ident@44..52 "take_f32"
    PARAM_LIST@52..65
      LParen@52..53 "("
      PARAM@53..63
        Ident@53..54 "x"
        Colon@54..55 ":"
        Whitespace@55..56 " "
        TYPE_FLOAT32@56..63
          Float32Keyword@56..63 "float32"
      RParen@63..64 ")"
      Whitespace@64..65 " "
    Arrow@65..67 "->"
    Whitespace@67..68 " "
    TYPE_FLOAT32@68..76
      Float32Keyword@68..75 "float32"
      Whitespace@75..76 " "
    BLOCK@76..87
      LBrace@76..77 "{"
      Whitespace@77..82 "\n    "
      EXPR_IDENT@82..84
        PATH@82..84
          Ident@82..83 "x"
          Whitespace@83..84 "\n"
      RBrace@84..85 "}"
      Whitespace@85..87 "\n\n"
  FN@87..607
    FnKeyword@87..89 "fn"
    Whitespace@89..90 " "
    Ident@90..94 "main"
    PARAM_LIST@94..97
      LParen@94..95 "("
      RParen@95..96 ")"
      Whitespace@96..97 " "
    BLOCK@97..607
      LBrace@97..98 "{"
      Whitespace@98..103 "\n    "
      STMT_LET@103..125
        LetKeyword@103..106 "let"
        Whitespace@106..107 " "
        PATTERN_VARIABLE@107..108
          Ident@107..108 "a"
        Colon@108..109 ":"
        Whitespace@109..110 " "
        TYPE_UINT8@110..116
          Uint8Keyword@110..115 "uint8"
          Whitespace@115..116 " "
        Eq@116..117 "="
        Whitespace@117..118 " "
        EXPR_INT@118..119
          Int@118..119 "1"
        Semi@119..120 ";"
        Whitespace@120..125 "\n    "
      STMT_LET@125..146
        LetKeyword@125..128 "let"
        Whitespace@128..129 " "
        PATTERN_VARIABLE@129..130
          Ident@129..130 "b"
        Colon@130..131 ":"
        Whitespace@131..132 " "
        TYPE_INT8@132..137
          Int8Keyword@132..136 "int8"
          Whitespace@136..137 " "
        Eq@137..138 "="
        Whitespace@138..139 " "
        EXPR_INT@139..140
          Int@139..140 "2"
        Semi@140..141 ";"
        Whitespace@141..146 "\n    "
      STMT_LET@146..168
        LetKeyword@146..149 "let"
        Whitespace@149..150 " "
        PATTERN_VARIABLE@150..151
          Ident@150..151 "c"
        Colon@151..152 ":"
        Whitespace@152..153 " "
        TYPE_INT16@153..159
          Int16Keyword@153..158 "int16"
          Whitespace@158..159 " "
        Eq@159..160 "="
        Whitespace@160..161 " "
        EXPR_INT@161..162
          Int@161..162 "3"
        Semi@162..163 ";"
        Whitespace@163..168 "\n    "
      STMT_LET@168..191
        LetKeyword@168..171 "let"
        Whitespace@171..172 " "
        PATTERN_VARIABLE@172..173
          Ident@172..173 "d"
        Colon@173..174 ":"
        Whitespace@174..175 " "
        TYPE_UINT16@175..182
          Uint16Keyword@175..181 "uint16"
          Whitespace@181..182 " "
        Eq@182..183 "="
        Whitespace@183..184 " "
        EXPR_INT@184..185
          Int@184..185 "4"
        Semi@185..186 ";"
        Whitespace@186..191 "\n    "
      STMT_LET@191..214
        LetKeyword@191..194 "let"
        Whitespace@194..195 " "
        PATTERN_VARIABLE@195..196
          Ident@195..196 "e"
        Colon@196..197 ":"
        Whitespace@197..198 " "
        TYPE_UINT32@198..205
          Uint32Keyword@198..204 "uint32"
          Whitespace@204..205 " "
        Eq@205..206 "="
        Whitespace@206..207 " "
        EXPR_INT@207..208
          Int@207..208 "5"
        Semi@208..209 ";"
        Whitespace@209..214 "\n    "
      STMT_LET@214..236
        LetKeyword@214..217 "let"
        Whitespace@217..218 " "
        PATTERN_VARIABLE@218..219
          Ident@218..219 "f"
        Colon@219..220 ":"
        Whitespace@220..221 " "
        TYPE_INT64@221..227
          Int64Keyword@221..226 "int64"
          Whitespace@226..227 " "
        Eq@227..228 "="
        Whitespace@228..229 " "
        EXPR_INT@229..230
          Int@229..230 "6"
        Semi@230..231 ";"
        Whitespace@231..236 "\n    "
      STMT_LET@236..259
        LetKeyword@236..239 "let"
        Whitespace@239..240 " "
        PATTERN_VARIABLE@240..241
          Ident@240..241 "g"
        Colon@241..242 ":"
        Whitespace@242..243 " "
        TYPE_UINT64@243..250
          Uint64Keyword@243..249 "uint64"
          Whitespace@249..250 " "
        Eq@250..251 "="
        Whitespace@251..252 " "
        EXPR_INT@252..253
          Int@252..253 "7"
        Semi@253..254 ";"
        Whitespace@254..259 "\n    "
      STMT_LET@259..286
        LetKeyword@259..262 "let"
        Whitespace@262..263 " "
        PATTERN_VARIABLE@263..264
          Ident@263..264 "h"
        Colon@264..265 ":"
        Whitespace@265..266 " "
        TYPE_FLOAT32@266..274
          Float32Keyword@266..273 "float32"
          Whitespace@273..274 " "
        Eq@274..275 "="
        Whitespace@275..276 " "
        EXPR_FLOAT@276..279
          Float@276..279 "1.0"
        Semi@279..280 ";"
        Whitespace@280..286 "\n\n    "
      STMT_EXPR@286..316
        EXPR_CALL@286..310
          EXPR_IDENT@286..293
            PATH@286..293
              Ident@286..293 "println"
          ARG_LIST@293..310
            LParen@293..294 "("
            ARG@294..309
              EXPR_CALL@294..309
                EXPR_BINARY@294..307
                  EXPR_PAREN@294..297
                    LParen@294..295 "("
                    EXPR_IDENT@295..296
                      PATH@295..296
                        Ident@295..296 "a"
                    RParen@296..297 ")"
                  Dot@297..298 "."
                  EXPR_IDENT@298..307
                    PATH@298..307
                      Ident@298..307 "to_string"
                ARG_LIST@307..309
                  LParen@307..308 "("
                  RParen@308..309 ")"
            RParen@309..310 ")"
        Semi@310..311 ";"
        Whitespace@311..316 "\n    "
      STMT_EXPR@316..346
        EXPR_CALL@316..340
          EXPR_IDENT@316..323
            PATH@316..323
              Ident@316..323 "println"
          ARG_LIST@323..340
            LParen@323..324 "("
            ARG@324..339
              EXPR_CALL@324..339
                EXPR_BINARY@324..337
                  EXPR_PAREN@324..327
                    LParen@324..325 "("
                    EXPR_IDENT@325..326
                      PATH@325..326
                        Ident@325..326 "b"
                    RParen@326..327 ")"
                  Dot@327..328 "."
                  EXPR_IDENT@328..337
                    PATH@328..337
                      Ident@328..337 "to_string"
                ARG_LIST@337..339
                  LParen@337..338 "("
                  RParen@338..339 ")"
            RParen@339..340 ")"
        Semi@340..341 ";"
        Whitespace@341..346 "\n    "
      STMT_EXPR@346..376
        EXPR_CALL@346..370
          EXPR_IDENT@346..353
            PATH@346..353
              Ident@346..353 "println"
          ARG_LIST@353..370
            LParen@353..354 "("
            ARG@354..369
              EXPR_CALL@354..369
                EXPR_BINARY@354..367
                  EXPR_PAREN@354..357
                    LParen@354..355 "("
                    EXPR_IDENT@355..356
                      PATH@355..356
                        Ident@355..356 "c"
                    RParen@356..357 ")"
                  Dot@357..358 "."
                  EXPR_IDENT@358..367
                    PATH@358..367
                      Ident@358..367 "to_string"
                ARG_LIST@367..369
                  LParen@367..368 "("
                  RParen@368..369 ")"
            RParen@369..370 ")"
        Semi@370..371 ";"
        Whitespace@371..376 "\n    "
      STMT_EXPR@376..406
        EXPR_CALL@376..400
          EXPR_IDENT@376..383
            PATH@376..383
              Ident@376..383 "println"
          ARG_LIST@383..400
            LParen@383..384 "("
            ARG@384..399
              EXPR_CALL@384..399
                EXPR_BINARY@384..397
                  EXPR_PAREN@384..387
                    LParen@384..385 "("
                    EXPR_IDENT@385..386
                      PATH@385..386
                        Ident@385..386 "d"
                    RParen@386..387 ")"
                  Dot@387..388 "."
                  EXPR_IDENT@388..397
                    PATH@388..397
                      Ident@388..397 "to_string"
                ARG_LIST@397..399
                  LParen@397..398 "("
                  RParen@398..399 ")"
            RParen@399..400 ")"
        Semi@400..401 ";"
        Whitespace@401..406 "\n    "
      STMT_EXPR@406..436
        EXPR_CALL@406..430
          EXPR_IDENT@406..413
            PATH@406..413
              Ident@406..413 "println"
          ARG_LIST@413..430
            LParen@413..414 "("
            ARG@414..429
              EXPR_CALL@414..429
                EXPR_BINARY@414..427
                  EXPR_PAREN@414..417
                    LParen@414..415 "("
                    EXPR_IDENT@415..416
                      PATH@415..416
                        Ident@415..416 "e"
                    RParen@416..417 ")"
                  Dot@417..418 "."
                  EXPR_IDENT@418..427
                    PATH@418..427
                      Ident@418..427 "to_string"
                ARG_LIST@427..429
                  LParen@427..428 "("
                  RParen@428..429 ")"
            RParen@429..430 ")"
        Semi@430..431 ";"
        Whitespace@431..436 "\n    "
      STMT_EXPR@436..466
        EXPR_CALL@436..460
          EXPR_IDENT@436..443
            PATH@436..443
              Ident@436..443 "println"
          ARG_LIST@443..460
            LParen@443..444 "("
            ARG@444..459
              EXPR_CALL@444..459
                EXPR_BINARY@444..457
                  EXPR_PAREN@444..447
                    LParen@444..445 "("
                    EXPR_IDENT@445..446
                      PATH@445..446
                        Ident@445..446 "f"
                    RParen@446..447 ")"
                  Dot@447..448 "."
                  EXPR_IDENT@448..457
                    PATH@448..457
                      Ident@448..457 "to_string"
                ARG_LIST@457..459
                  LParen@457..458 "("
                  RParen@458..459 ")"
            RParen@459..460 ")"
        Semi@460..461 ";"
        Whitespace@461..466 "\n    "
      STMT_EXPR@466..496
        EXPR_CALL@466..490
          EXPR_IDENT@466..473
            PATH@466..473
              Ident@466..473 "println"
          ARG_LIST@473..490
            LParen@473..474 "("
            ARG@474..489
              EXPR_CALL@474..489
                EXPR_BINARY@474..487
                  EXPR_PAREN@474..477
                    LParen@474..475 "("
                    EXPR_IDENT@475..476
                      PATH@475..476
                        Ident@475..476 "g"
                    RParen@476..477 ")"
                  Dot@477..478 "."
                  EXPR_IDENT@478..487
                    PATH@478..487
                      Ident@478..487 "to_string"
                ARG_LIST@487..489
                  LParen@487..488 "("
                  RParen@488..489 ")"
            RParen@489..490 ")"
        Semi@490..491 ";"
        Whitespace@491..496 "\n    "
      STMT_EXPR@496..527
        EXPR_CALL@496..520
          EXPR_IDENT@496..503
            PATH@496..503
              Ident@496..503 "println"
          ARG_LIST@503..520
            LParen@503..504 "("
            ARG@504..519
              EXPR_CALL@504..519
                EXPR_BINARY@504..517
                  EXPR_PAREN@504..507
                    LParen@504..505 "("
                    EXPR_IDENT@505..506
                      PATH@505..506
                        Ident@505..506 "h"
                    RParen@506..507 ")"
                  Dot@507..508 "."
                  EXPR_IDENT@508..517
                    PATH@508..517
                      Ident@508..517 "to_string"
                ARG_LIST@517..519
                  LParen@517..518 "("
                  RParen@518..519 ")"
            RParen@519..520 ")"
        Semi@520..521 ";"
        Whitespace@521..527 "\n\n    "
      STMT_EXPR@527..567
        EXPR_CALL@527..561
          EXPR_IDENT@527..534
            PATH@527..534
              Ident@527..534 "println"
          ARG_LIST@534..561
            LParen@534..535 "("
            ARG@535..560
              EXPR_CALL@535..560
                EXPR_BINARY@535..558
                  EXPR_PAREN@535..548
                    LParen@535..536 "("
                    EXPR_CALL@536..547
                      EXPR_IDENT@536..543
                        PATH@536..543
                          Ident@536..543 "take_u8"
                      ARG_LIST@543..547
                        LParen@543..544 "("
                        ARG@544..546
                          EXPR_INT@544..546
                            Int@544..546 "10"
                        RParen@546..547 ")"
                    RParen@547..548 ")"
                  Dot@548..549 "."
                  EXPR_IDENT@549..558
                    PATH@549..558
                      Ident@549..558 "to_string"
                ARG_LIST@558..560
                  LParen@558..559 "("
                  RParen@559..560 ")"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      STMT_EXPR@567..605
        EXPR_CALL@567..603
          EXPR_IDENT@567..574
            PATH@567..574
              Ident@567..574 "println"
          ARG_LIST@574..603
            LParen@574..575 "("
            ARG@575..602
              EXPR_CALL@575..602
                EXPR_BINARY@575..600
                  EXPR_PAREN@575..590
                    LParen@575..576 "("
                    EXPR_CALL@576..589
                      EXPR_IDENT@576..584
                        PATH@576..584
                          Ident@576..584 "take_f32"
                      ARG_LIST@584..589
                        LParen@584..585 "("
                        ARG@585..588
                          EXPR_FLOAT@585..588
                            Float@585..588 "2.5"
                        RParen@588..589 ")"
                    RParen@589..590 ")"
                  Dot@590..591 "."
                  EXPR_IDENT@591..600
                    PATH@591..600
                      Ident@591..600 "to_string"
                ARG_LIST@600..602
                  LParen@600..601 "("
                  RParen@601..602 ")"
            RParen@602..603 ")"
        Semi@603..604 ";"
        Whitespace@604..605 "\n"
      RBrace@605..606 "}"
      Whitespace@606..607 "\n"