FILE@0..448
  FN@0..448
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..448
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_EXPR@22..101
        EXPR_IF@22..101
          IfKeyword@22..24 "if"
          Whitespace@24..25 " "
          EXPR_IF_COND@25..30
            EXPR_BOOL@25..30
              TrueKeyword@25..29 "true"
              Whitespace@29..30 " "
          EXPR_IF_THEN@30..60
            BLOCK@30..60
              LBrace@30..31 "{"
              Whitespace@31..40 "\n        "
              EXPR_CALL@40..58
                EXPR_IDENT@40..47
                  PATH@40..47
                    Ident@40..47 "println"
                ARG_LIST@47..58
                  LParen@47..48 "("
                  ARG@48..52
                    EXPR_STR@48..52
                      Str@48..52 "\"if\""
                  RParen@52..53 ")"
                  Whitespace@53..58 "\n    "
              RBrace@58..59 "}"
              Whitespace@59..60 " "
          ElseKeyword@60..64 "else"
          Whitespace@64..65 " "
          EXPR_IF_ELSE@65..101
            BLOCK@65..101
              LBrace@65..66 "{"
              Whitespace@66..75 "\n        "
              EXPR_CALL@75..95
                EXPR_IDENT@75..82
                  PATH@75..82
                    Ident@75..82 "println"
                ARG_LIST@82..95
                  LParen@82..83 "("
                  ARG@83..89
                    EXPR_STR@83..89
                      Str@83..89 "\"else\""
                  RParen@89..90 ")"
                  Whitespace@90..95 "\n    "
              RBrace@95..96 "}"
              Whitespace@96..101 "\n    "
      STMT_EXPR@101..169
        EXPR_MATCH@101..169
          MatchKeyword@101..106 "match"
          Whitespace@106..107 " "
          EXPR_INT@107..109
            Int@107..108 "1"
            Whitespace@108..109 " "
          MATCH_ARM_LIST@109..169
            LBrace@109..110 "{"
            Whitespace@110..119 "\n        "
            MATCH_ARM@119..140
              PATTERN_INT@119..121
                Int@119..120 "1"
                Whitespace@120..121 " "
              FatArrow@121..123 "=>"
              Whitespace@123..124 " "
              EXPR_CALL@124..140
                EXPR_IDENT@124..131
                  PATH@124..131
                    Ident@124..131 "println"
                ARG_LIST@131..140
                  LParen@131..132 "("
                  ARG@132..139
                    EXPR_STR@132..139
                      Str@132..139 "\"match\""
                  RParen@139..140 ")"
            Comma@140..141 ","
            Whitespace@141..150 "\n        "
            MATCH_ARM@150..157
              PATTERN_WILDCARD@150..152
                WildcardKeyword@150..151 "_"
                Whitespace@151..152 " "
              FatArrow@152..154 "=>"
              Whitespace@154..155 " "
              EXPR_UNIT@155..157
                LParen@155..156 "("
                RParen@156..157 ")"
            Comma@157..158 ","
            Whitespace@158..163 "\n    "
            RBrace@163..164 "}"
            Whitespace@164..169 "\n    "
      STMT_LET@169..198
        LetKeyword@169..172 "let"
        Whitespace@172..173 " "
        PATTERN_VARIABLE@173..179
          Ident@173..178 "index"
          Whitespace@178..179 " "
        Eq@179..180 "="
        Whitespace@180..181 " "
        EXPR_CALL@181..192
          EXPR_IDENT@181..189
            PATH@181..189
              Ident@181..184 "Ref"
              ColonColon@184..186 "::"
              Ident@186..189 "new"
          ARG_LIST@189..192
            LParen@189..190 "("
            ARG@190..191
              EXPR_INT@190..191
                Int@190..191 "0"
            RParen@191..192 ")"
        Semi@192..193 ";"
        Whitespace@193..198 "\n    "
      STMT_EXPR@198..309
        EXPR_WHILE@198..309
          WhileKeyword@198..203 "while"
          Whitespace@203..204 " "
          EXPR_WHILE_COND@204..220
            EXPR_BINARY@204..220
              EXPR_CALL@204..216
                EXPR_BINARY@204..213
                  EXPR_IDENT@204..209
                    PATH@204..209
                      Ident@204..209 "index"
                  Dot@209..210 "."
                  EXPR_IDENT@210..213
                    PATH@210..213
                      Ident@210..213 "get"
                ARG_LIST@213..216
                  LParen@213..214 "("
                  RParen@214..215 ")"
                  Whitespace@215..216 " "
              Less@216..217 "<"
              Whitespace@217..218 " "
              EXPR_INT@218..220
                Int@218..219 "2"
                Whitespace@219..220 " "
          EXPR_WHILE_BODY@220..309
            BLOCK@220..309
              LBrace@220..221 "{"
              Whitespace@221..230 "\n        "
              STMT_EXPR@230..272
                EXPR_CALL@230..262
                  EXPR_IDENT@230..237
                    PATH@230..237
                      Ident@230..237 "println"
                  ARG_LIST@237..262
                    LParen@237..238 "("
                    ARG@238..261
                      EXPR_CALL@238..261
                        EXPR_BINARY@238..259
                          EXPR_CALL@238..249
                            EXPR_BINARY@238..247
                              EXPR_IDENT@238..243
                                PATH@238..243
                                  Ident@238..243 "index"
                              Dot@243..244 "."
                              EXPR_IDENT@244..247
                                PATH@244..247
                                  Ident@244..247 "get"
                            ARG_LIST@247..249
                              LParen@247..248 "("
                              RParen@248..249 ")"
                          Dot@249..250 "."
                          EXPR_IDENT@250..259
                            PATH@250..259
                              Ident@250..259 "to_string"
                        ARG_LIST@259..261
                          LParen@259..260 "("
                          RParen@260..261 ")"
                    RParen@261..262 ")"
                Semi@262..263 ";"
                Whitespace@263..272 "\n        "
              EXPR_CALL@272..303
                EXPR_BINARY@272..281
                  EXPR_IDENT@272..277
                    PATH@272..277
                      Ident@272..277 "index"
                  Dot@277..278 "."
                  EXPR_IDENT@278..281
                    PATH@278..281
                      Ident@278..281 "set"
                ARG_LIST@281..303
                  LParen@281..282 "("
                  ARG@282..297
                    EXPR_BINARY@282..297
                      EXPR_CALL@282..294
                        EXPR_BINARY@282..291
                          EXPR_IDENT@282..287
                            PATH@282..287
                              Ident@282..287 "index"
                          Dot@287..288 "."
                          EXPR_IDENT@288..291
                            PATH@288..291
                              Ident@288..291 "get"
                        ARG_LIST@291..294
                          LParen@291..292 "("
                          RParen@292..293 ")"
                          Whitespace@293..294 " "
                      Plus@294..295 "+"
                      Whitespace@295..296 " "
                      EXPR_INT@296..297
                        Int@296..297 "1"
                  RParen@297..298 ")"
                  Whitespace@298..303 "\n    "
              RBrace@303..304 "}"
              Whitespace@304..309 "\n    "
      STMT_LET@309..351
        LetKeyword@309..312 "let"
        Whitespace@312..313 " "
        PATTERN_VARIABLE@313..319
          Ident@313..319 "values"
        Colon@319..320 ":"
        Whitespace@320..321 " "
        TYPE_TAPP@321..333
          PATH@321..324
            Ident@321..324 "Vec"
          TYPE_PARAM_LIST@324..333
            LBracket@324..325 "["
            TYPE_STRING@325..331
              StringKeyword@325..331 "string"
            RBracket@331..332 "]"
            Whitespace@332..333 " "
        Eq@333..334 "="
        Whitespace@334..335 " "
        EXPR_CALL@335..345
          EXPR_IDENT@335..343
            PATH@335..343
              Ident@335..338 "Vec"
              ColonColon@338..340 "::"
              Ident@340..343 "new"
          ARG_LIST@343..345
            LParen@343..344 "("
            RParen@344..345 ")"
        Semi@345..346 ";"
        Whitespace@346..351 "\n    "
      STMT_EXPR@351..375
        EXPR_CALL@351..369
          EXPR_BINARY@351..362
            EXPR_IDENT@351..357
              PATH@351..357
                Ident@351..357 "values"
            Dot@357..358 "."
            EXPR_IDENT@358..362
              PATH@358..362
                Ident@358..362 "push"
          ARG_LIST@362..369
            LParen@362..363 "("
            ARG@363..368
              EXPR_STR@363..368
                Str@363..368 "\"for\""
            RParen@368..369 ")"
        Semi@369..370 ";"
        Whitespace@370..375 "\n    "
      STMT_EXPR@375..430
        EXPR_FOR@375..430
          ForKeyword@375..378 "for"
          Whitespace@378..379 " "
          PATTERN_VARIABLE@379..385
            Ident@379..384 "value"
            Whitespace@384..385 " "
          InKeyword@385..387 "in"
          Whitespace@387..388 " "
          EXPR_IDENT@388..395
            PATH@388..395
              Ident@388..394 "values"
              Whitespace@394..395 " "
          BLOCK@395..430
            LBrace@395..396 "{"
            Whitespace@396..405 "\n        "
            EXPR_CALL@405..424
              EXPR_IDENT@405..412
                PATH@405..412
                  Ident@405..412 "println"
              ARG_LIST@412..424
                LParen@412..413 "("
                ARG@413..418
                  EXPR_IDENT@413..418
                    PATH@413..418
                      Ident@413..418 "value"
                RParen@418..419 ")"
                Whitespace@419..424 "\n    "
            RBrace@424..425 "}"
            Whitespace@425..430 "\n    "
      EXPR_CALL@430..446
        EXPR_IDENT@430..437
          PATH@430..437
            Ident@430..437 "println"
        ARG_LIST@437..446
          LParen@437..438 "("
          ARG@438..444
            EXPR_STR@438..444
              Str@438..444 "\"done\""
          RParen@444..445 ")"
          Whitespace@445..446 "\n"
      RBrace@446..447 "}"
      Whitespace@447..448 "\n"