FILE@0..454
  FN@0..454
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..454
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_EXPR@24..104
        EXPR_IF@24..104
          IfKeyword@24..26 "if"
          Whitespace@26..27 " "
          EXPR_IF_COND@27..32
            EXPR_BOOL@27..32
              TrueKeyword@27..31 "true"
              Whitespace@31..32 " "
          EXPR_IF_THEN@32..62
            BLOCK@32..62
              LBrace@32..33 "{"
              Whitespace@33..42 "\n        "
              EXPR_CALL@42..60
                EXPR_IDENT@42..49
                  PATH@42..49
                    Ident@42..49 "println"
                ARG_LIST@49..60
                  LParen@49..50 "("
                  ARG@50..54
                    EXPR_STR@50..54
                      Str@50..54 "\"if\""
                  RParen@54..55 ")"
                  Whitespace@55..60 "\n    "
              RBrace@60..61 "}"
              Whitespace@61..62 " "
          ElseKeyword@62..66 "else"
          Whitespace@66..67 " "
          EXPR_IF_ELSE@67..104
            BLOCK@67..104
              LBrace@67..68 "{"
              Whitespace@68..77 "\n        "
              EXPR_CALL@77..97
                EXPR_IDENT@77..84
                  PATH@77..84
                    Ident@77..84 "println"
                ARG_LIST@84..97
                  LParen@84..85 "("
                  ARG@85..91
                    EXPR_STR@85..91
                      Str@85..91 "\"else\""
                  RParen@91..92 ")"
                  Whitespace@92..97 "\n    "
              RBrace@97..98 "}"
              Whitespace@98..104 "\n\n    "
      STMT_EXPR@104..173
        EXPR_MATCH@104..173
          MatchKeyword@104..109 "match"
          Whitespace@109..110 " "
          EXPR_INT@110..112
            Int@110..111 "1"
            Whitespace@111..112 " "
          MATCH_ARM_LIST@112..173
            LBrace@112..113 "{"
            Whitespace@113..122 "\n        "
            MATCH_ARM@122..143
              PATTERN_INT@122..124
                Int@122..123 "1"
                Whitespace@123..124 " "
              FatArrow@124..126 "=>"
              Whitespace@126..127 " "
              EXPR_CALL@127..143
                EXPR_IDENT@127..134
                  PATH@127..134
                    Ident@127..134 "println"
                ARG_LIST@134..143
                  LParen@134..135 "("
                  ARG@135..142
                    EXPR_STR@135..142
                      Str@135..142 "\"match\""
                  RParen@142..143 ")"
            Comma@143..144 ","
            Whitespace@144..153 "\n        "
            MATCH_ARM@153..160
              PATTERN_WILDCARD@153..155
                WildcardKeyword@153..154 "_"
                Whitespace@154..155 " "
              FatArrow@155..157 "=>"
              Whitespace@157..158 " "
              EXPR_UNIT@158..160
                LParen@158..159 "("
                RParen@159..160 ")"
            Comma@160..161 ","
            Whitespace@161..166 "\n    "
            RBrace@166..167 "}"
            Whitespace@167..173 "\n\n    "
      STMT_LET@173..202
        LetKeyword@173..176 "let"
        Whitespace@176..177 " "
        PATTERN_VARIABLE@177..183
          Ident@177..182 "index"
          Whitespace@182..183 " "
        Eq@183..184 "="
        Whitespace@184..185 " "
        EXPR_CALL@185..196
          EXPR_IDENT@185..193
            PATH@185..193
              Ident@185..188 "Ref"
              ColonColon@188..190 "::"
              Ident@190..193 "new"
          ARG_LIST@193..196
            LParen@193..194 "("
            ARG@194..195
              EXPR_INT@194..195
                Int@194..195 "0"
            RParen@195..196 ")"
        Semi@196..197 ";"
        Whitespace@197..202 "\n    "
      STMT_EXPR@202..314
        EXPR_WHILE@202..314
          WhileKeyword@202..207 "while"
          Whitespace@207..208 " "
          EXPR_WHILE_COND@208..224
            EXPR_BINARY@208..224
              EXPR_CALL@208..220
                EXPR_BINARY@208..217
                  EXPR_IDENT@208..213
                    PATH@208..213
                      Ident@208..213 "index"
                  Dot@213..214 "."
                  EXPR_IDENT@214..217
                    PATH@214..217
                      Ident@214..217 "get"
                ARG_LIST@217..220
                  LParen@217..218 "("
                  RParen@218..219 ")"
                  Whitespace@219..220 " "
              Less@220..221 "<"
              Whitespace@221..222 " "
              EXPR_INT@222..224
                Int@222..223 "2"
                Whitespace@223..224 " "
          EXPR_WHILE_BODY@224..314
            BLOCK@224..314
              LBrace@224..225 "{"
              Whitespace@225..234 "\n        "
              STMT_EXPR@234..276
                EXPR_CALL@234..266
                  EXPR_IDENT@234..241
                    PATH@234..241
                      Ident@234..241 "println"
                  ARG_LIST@241..266
                    LParen@241..242 "("
                    ARG@242..265
                      EXPR_CALL@242..265
                        EXPR_BINARY@242..263
                          EXPR_CALL@242..253
                            EXPR_BINARY@242..251
                              EXPR_IDENT@242..247
                                PATH@242..247
                                  Ident@242..247 "index"
                              Dot@247..248 "."
                              EXPR_IDENT@248..251
                                PATH@248..251
                                  Ident@248..251 "get"
                            ARG_LIST@251..253
                              LParen@251..252 "("
                              RParen@252..253 ")"
                          Dot@253..254 "."
                          EXPR_IDENT@254..263
                            PATH@254..263
                              Ident@254..263 "to_string"
                        ARG_LIST@263..265
                          LParen@263..264 "("
                          RParen@264..265 ")"
                    RParen@265..266 ")"
                Semi@266..267 ";"
                Whitespace@267..276 "\n        "
              EXPR_CALL@276..307
                EXPR_BINARY@276..285
                  EXPR_IDENT@276..281
                    PATH@276..281
                      Ident@276..281 "index"
                  Dot@281..282 "."
                  EXPR_IDENT@282..285
                    PATH@282..285
                      Ident@282..285 "set"
                ARG_LIST@285..307
                  LParen@285..286 "("
                  ARG@286..301
                    EXPR_BINARY@286..301
                      EXPR_CALL@286..298
                        EXPR_BINARY@286..295
                          EXPR_IDENT@286..291
                            PATH@286..291
                              Ident@286..291 "index"
                          Dot@291..292 "."
                          EXPR_IDENT@292..295
                            PATH@292..295
                              Ident@292..295 "get"
                        ARG_LIST@295..298
                          LParen@295..296 "("
                          RParen@296..297 ")"
                          Whitespace@297..298 " "
                      Plus@298..299 "+"
                      Whitespace@299..300 " "
                      EXPR_INT@300..301
                        Int@300..301 "1"
                  RParen@301..302 ")"
                  Whitespace@302..307 "\n    "
              RBrace@307..308 "}"
              Whitespace@308..314 "\n\n    "
      STMT_LET@314..356
        LetKeyword@314..317 "let"
        Whitespace@317..318 " "
        PATTERN_VARIABLE@318..324
          Ident@318..324 "values"
        Colon@324..325 ":"
        Whitespace@325..326 " "
        TYPE_TAPP@326..338
          PATH@326..329
            Ident@326..329 "Vec"
          TYPE_PARAM_LIST@329..338
            LBracket@329..330 "["
            TYPE_STRING@330..336
              StringKeyword@330..336 "string"
            RBracket@336..337 "]"
            Whitespace@337..338 " "
        Eq@338..339 "="
        Whitespace@339..340 " "
        EXPR_CALL@340..350
          EXPR_IDENT@340..348
            PATH@340..348
              Ident@340..343 "Vec"
              ColonColon@343..345 "::"
              Ident@345..348 "new"
          ARG_LIST@348..350
            LParen@348..349 "("
            RParen@349..350 ")"
        Semi@350..351 ";"
        Whitespace@351..356 "\n    "
      STMT_EXPR@356..380
        EXPR_CALL@356..374
          EXPR_BINARY@356..367
            EXPR_IDENT@356..362
              PATH@356..362
                Ident@356..362 "values"
            Dot@362..363 "."
            EXPR_IDENT@363..367
              PATH@363..367
                Ident@363..367 "push"
          ARG_LIST@367..374
            LParen@367..368 "("
            ARG@368..373
              EXPR_STR@368..373
                Str@368..373 "\"for\""
            RParen@373..374 ")"
        Semi@374..375 ";"
        Whitespace@375..380 "\n    "
      STMT_EXPR@380..436
        EXPR_FOR@380..436
          ForKeyword@380..383 "for"
          Whitespace@383..384 " "
          PATTERN_VARIABLE@384..390
            Ident@384..389 "value"
            Whitespace@389..390 " "
          InKeyword@390..392 "in"
          Whitespace@392..393 " "
          EXPR_IDENT@393..400
            PATH@393..400
              Ident@393..399 "values"
              Whitespace@399..400 " "
          BLOCK@400..436
            LBrace@400..401 "{"
            Whitespace@401..410 "\n        "
            EXPR_CALL@410..429
              EXPR_IDENT@410..417
                PATH@410..417
                  Ident@410..417 "println"
              ARG_LIST@417..429
                LParen@417..418 "("
                ARG@418..423
                  EXPR_IDENT@418..423
                    PATH@418..423
                      Ident@418..423 "value"
                RParen@423..424 ")"
                Whitespace@424..429 "\n    "
            RBrace@429..430 "}"
            Whitespace@430..436 "\n\n    "
      EXPR_CALL@436..452
        EXPR_IDENT@436..443
          PATH@436..443
            Ident@436..443 "println"
        ARG_LIST@443..452
          LParen@443..444 "("
          ARG@444..450
            EXPR_STR@444..450
              Str@444..450 "\"done\""
          RParen@450..451 ")"
          Whitespace@451..452 "\n"
      RBrace@452..453 "}"
      Whitespace@453..454 "\n"