FILE@0..496
  FN@0..496
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..496
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_EXPR@24..118
        EXPR_IF@24..118
          IfKeyword@24..26 "if"
          Whitespace@26..27 " "
          EXPR_IF_COND@27..32
            EXPR_BOOL@27..32
              TrueKeyword@27..31 "true"
              Whitespace@31..32 " "
          EXPR_IF_THEN@32..69
            BLOCK@32..69
              LBrace@32..33 "{"
              Whitespace@33..42 "\n        "
              EXPR_CALL@42..67
                EXPR_IDENT@42..56
                  PATH@42..56
                    Ident@42..56 "string_println"
                ARG_LIST@56..67
                  LParen@56..57 "("
                  ARG@57..61
                    EXPR_STR@57..61
                      Str@57..61 "\"if\""
                  RParen@61..62 ")"
                  Whitespace@62..67 "\n    "
              RBrace@67..68 "}"
              Whitespace@68..69 " "
          ElseKeyword@69..73 "else"
          Whitespace@73..74 " "
          EXPR_IF_ELSE@74..118
            BLOCK@74..118
              LBrace@74..75 "{"
              Whitespace@75..84 "\n        "
              EXPR_CALL@84..111
                EXPR_IDENT@84..98
                  PATH@84..98
                    Ident@84..98 "string_println"
                ARG_LIST@98..111
                  LParen@98..99 "("
                  ARG@99..105
                    EXPR_STR@99..105
                      Str@99..105 "\"else\""
                  RParen@105..106 ")"
                  Whitespace@106..111 "\n    "
              RBrace@111..112 "}"
              Whitespace@112..118 "\n\n    "
      STMT_EXPR@118..194
        EXPR_MATCH@118..194
          MatchKeyword@118..123 "match"
          Whitespace@123..124 " "
          EXPR_INT@124..126
            Int@124..125 "1"
            Whitespace@125..126 " "
          MATCH_ARM_LIST@126..194
            LBrace@126..127 "{"
            Whitespace@127..136 "\n        "
            MATCH_ARM@136..164
              PATTERN_INT@136..138
                Int@136..137 "1"
                Whitespace@137..138 " "
              FatArrow@138..140 "=>"
              Whitespace@140..141 " "
              EXPR_CALL@141..164
                EXPR_IDENT@141..155
                  PATH@141..155
                    Ident@141..155 "string_println"
                ARG_LIST@155..164
                  LParen@155..156 "("
                  ARG@156..163
                    EXPR_STR@156..163
                      Str@156..163 "\"match\""
                  RParen@163..164 ")"
            Comma@164..165 ","
            Whitespace@165..174 "\n        "
            MATCH_ARM@174..181
              PATTERN_WILDCARD@174..176
                WildcardKeyword@174..175 "_"
                Whitespace@175..176 " "
              FatArrow@176..178 "=>"
              Whitespace@178..179 " "
              EXPR_UNIT@179..181
                LParen@179..180 "("
                RParen@180..181 ")"
            Comma@181..182 ","
            Whitespace@182..187 "\n    "
            RBrace@187..188 "}"
            Whitespace@188..194 "\n\n    "
      STMT_LET@194..223
        LetKeyword@194..197 "let"
        Whitespace@197..198 " "
        PATTERN_VARIABLE@198..204
          Ident@198..203 "index"
          Whitespace@203..204 " "
        Eq@204..205 "="
        Whitespace@205..206 " "
        EXPR_CALL@206..217
          EXPR_IDENT@206..214
            PATH@206..214
              Ident@206..209 "Ref"
              ColonColon@209..211 "::"
              Ident@211..214 "new"
          ARG_LIST@214..217
            LParen@214..215 "("
            ARG@215..216
              EXPR_INT@215..216
                Int@215..216 "0"
            RParen@216..217 ")"
        Semi@217..218 ";"
        Whitespace@218..223 "\n    "
      STMT_EXPR@223..342
        EXPR_WHILE@223..342
          WhileKeyword@223..228 "while"
          Whitespace@228..229 " "
          EXPR_WHILE_COND@229..245
            EXPR_BINARY@229..245
              EXPR_CALL@229..241
                EXPR_BINARY@229..238
                  EXPR_IDENT@229..234
                    PATH@229..234
                      Ident@229..234 "index"
                  Dot@234..235 "."
                  EXPR_IDENT@235..238
                    PATH@235..238
                      Ident@235..238 "get"
                ARG_LIST@238..241
                  LParen@238..239 "("
                  RParen@239..240 ")"
                  Whitespace@240..241 " "
              Less@241..242 "<"
              Whitespace@242..243 " "
              EXPR_INT@243..245
                Int@243..244 "2"
                Whitespace@244..245 " "
          EXPR_WHILE_BODY@245..342
            BLOCK@245..342
              LBrace@245..246 "{"
              Whitespace@246..255 "\n        "
              STMT_EXPR@255..304
                EXPR_CALL@255..294
                  EXPR_IDENT@255..269
                    PATH@255..269
                      Ident@255..269 "string_println"
                  ARG_LIST@269..294
                    LParen@269..270 "("
                    ARG@270..293
                      EXPR_CALL@270..293
                        EXPR_BINARY@270..291
                          EXPR_CALL@270..281
                            EXPR_BINARY@270..279
                              EXPR_IDENT@270..275
                                PATH@270..275
                                  Ident@270..275 "index"
                              Dot@275..276 "."
                              EXPR_IDENT@276..279
                                PATH@276..279
                                  Ident@276..279 "get"
                            ARG_LIST@279..281
                              LParen@279..280 "("
                              RParen@280..281 ")"
                          Dot@281..282 "."
                          EXPR_IDENT@282..291
                            PATH@282..291
                              Ident@282..291 "to_string"
                        ARG_LIST@291..293
                          LParen@291..292 "("
                          RParen@292..293 ")"
                    RParen@293..294 ")"
                Semi@294..295 ";"
                Whitespace@295..304 "\n        "
              EXPR_CALL@304..335
                EXPR_BINARY@304..313
                  EXPR_IDENT@304..309
                    PATH@304..309
                      Ident@304..309 "index"
                  Dot@309..310 "."
                  EXPR_IDENT@310..313
                    PATH@310..313
                      Ident@310..313 "set"
                ARG_LIST@313..335
                  LParen@313..314 "("
                  ARG@314..329
                    EXPR_BINARY@314..329
                      EXPR_CALL@314..326
                        EXPR_BINARY@314..323
                          EXPR_IDENT@314..319
                            PATH@314..319
                              Ident@314..319 "index"
                          Dot@319..320 "."
                          EXPR_IDENT@320..323
                            PATH@320..323
                              Ident@320..323 "get"
                        ARG_LIST@323..326
                          LParen@323..324 "("
                          RParen@324..325 ")"
                          Whitespace@325..326 " "
                      Plus@326..327 "+"
                      Whitespace@327..328 " "
                      EXPR_INT@328..329
                        Int@328..329 "1"
                  RParen@329..330 ")"
                  Whitespace@330..335 "\n    "
              RBrace@335..336 "}"
              Whitespace@336..342 "\n\n    "
      STMT_LET@342..384
        LetKeyword@342..345 "let"
        Whitespace@345..346 " "
        PATTERN_VARIABLE@346..352
          Ident@346..352 "values"
        Colon@352..353 ":"
        Whitespace@353..354 " "
        TYPE_TAPP@354..366
          PATH@354..357
            Ident@354..357 "Vec"
          TYPE_PARAM_LIST@357..366
            LBracket@357..358 "["
            TYPE_STRING@358..364
              StringKeyword@358..364 "string"
            RBracket@364..365 "]"
            Whitespace@365..366 " "
        Eq@366..367 "="
        Whitespace@367..368 " "
        EXPR_CALL@368..378
          EXPR_IDENT@368..376
            PATH@368..376
              Ident@368..371 "Vec"
              ColonColon@371..373 "::"
              Ident@373..376 "new"
          ARG_LIST@376..378
            LParen@376..377 "("
            RParen@377..378 ")"
        Semi@378..379 ";"
        Whitespace@379..384 "\n    "
      STMT_EXPR@384..408
        EXPR_CALL@384..402
          EXPR_BINARY@384..395
            EXPR_IDENT@384..390
              PATH@384..390
                Ident@384..390 "values"
            Dot@390..391 "."
            EXPR_IDENT@391..395
              PATH@391..395
                Ident@391..395 "push"
          ARG_LIST@395..402
            LParen@395..396 "("
            ARG@396..401
              EXPR_STR@396..401
                Str@396..401 "\"for\""
            RParen@401..402 ")"
        Semi@402..403 ";"
        Whitespace@403..408 "\n    "
      STMT_EXPR@408..471
        EXPR_FOR@408..471
          ForKeyword@408..411 "for"
          Whitespace@411..412 " "
          PATTERN_VARIABLE@412..418
            Ident@412..417 "value"
            Whitespace@417..418 " "
          InKeyword@418..420 "in"
          Whitespace@420..421 " "
          EXPR_IDENT@421..428
            PATH@421..428
              Ident@421..427 "values"
              Whitespace@427..428 " "
          BLOCK@428..471
            LBrace@428..429 "{"
            Whitespace@429..438 "\n        "
            EXPR_CALL@438..464
              EXPR_IDENT@438..452
                PATH@438..452
                  Ident@438..452 "string_println"
              ARG_LIST@452..464
                LParen@452..453 "("
                ARG@453..458
                  EXPR_IDENT@453..458
                    PATH@453..458
                      Ident@453..458 "value"
                RParen@458..459 ")"
                Whitespace@459..464 "\n    "
            RBrace@464..465 "}"
            Whitespace@465..471 "\n\n    "
      EXPR_CALL@471..494
        EXPR_IDENT@471..485
          PATH@471..485
            Ident@471..485 "string_println"
        ARG_LIST@485..494
          LParen@485..486 "("
          ARG@486..492
            EXPR_STR@486..492
              Str@486..492 "\"done\""
          RParen@492..493 ")"
          Whitespace@493..494 "\n"
      RBrace@494..495 "}"
      Whitespace@495..496 "\n"