FILE@0..258
  FN@0..258
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..258
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..43
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_TUPLE@24..37
          LParen@24..25 "("
          EXPR_BOOL@25..29
            TrueKeyword@25..29 "true"
          Comma@29..30 ","
          Whitespace@30..31 " "
          EXPR_BOOL@31..36
            FalseKeyword@31..36 "false"
          RParen@36..37 ")"
        Semi@37..38 ";"
        Whitespace@38..43 "\n    "
      STMT_LET@43..143
        LetKeyword@43..46 "let"
        Whitespace@46..47 " "
        PATTERN_WILDCARD@47..49
          WildcardKeyword@47..48 "_"
          Whitespace@48..49 " "
        Eq@49..50 "="
        Whitespace@50..51 " "
        EXPR_MATCH@51..137
          MatchKeyword@51..56 "match"
          Whitespace@56..57 " "
          EXPR_IDENT@57..59
            PATH@57..59
              Ident@57..58 "a"
              Whitespace@58..59 " "
          MATCH_ARM_LIST@59..137
            LBrace@59..60 "{"
            Whitespace@60..69 "\n        "
            MATCH_ARM@69..113
              PATTERN_TUPLE@69..79
                LParen@69..70 "("
                PATTERN_BOOL@70..74
                  TrueKeyword@70..74 "true"
                Comma@74..75 ","
                Whitespace@75..76 " "
                PATTERN_VARIABLE@76..77
                  Ident@76..77 "b"
                RParen@77..78 ")"
                Whitespace@78..79 " "
              FatArrow@79..81 "=>"
              Whitespace@81..82 " "
              EXPR_CALL@82..113
                EXPR_IDENT@82..94
                  PATH@82..94
                    Ident@82..94 "string_print"
                ARG_LIST@94..113
                  LParen@94..95 "("
                  ARG@95..112
                    EXPR_CALL@95..112
                      EXPR_IDENT@95..109
                        PATH@95..109
                          Ident@95..109 "bool_to_string"
                      ARG_LIST@109..112
                        LParen@109..110 "("
                        ARG@110..111
                          EXPR_IDENT@110..111
                            PATH@110..111
                              Ident@110..111 "b"
                        RParen@111..112 ")"
                  RParen@112..113 ")"
            Comma@113..114 ","
            Whitespace@114..123 "\n        "
            MATCH_ARM@123..130
              PATTERN_WILDCARD@123..125
                WildcardKeyword@123..124 "_"
                Whitespace@124..125 " "
              FatArrow@125..127 "=>"
              Whitespace@127..128 " "
              EXPR_UNIT@128..130
                LParen@128..129 "("
                RParen@129..130 ")"
            Comma@130..131 ","
            Whitespace@131..136 "\n    "
            RBrace@136..137 "}"
        Semi@137..138 ";"
        Whitespace@138..143 "\n    "
      STMT_LET@143..169
        LetKeyword@143..146 "let"
        Whitespace@146..147 " "
        PATTERN_VARIABLE@147..149
          Ident@147..148 "c"
          Whitespace@148..149 " "
        Eq@149..150 "="
        Whitespace@150..151 " "
        EXPR_TUPLE@151..163
          LParen@151..152 "("
          EXPR_BOOL@152..156
            TrueKeyword@152..156 "true"
          Comma@156..157 ","
          Whitespace@157..158 " "
          EXPR_BOOL@158..162
            TrueKeyword@158..162 "true"
          RParen@162..163 ")"
        Semi@163..164 ";"
        Whitespace@164..169 "\n    "
      EXPR_MATCH@169..256
        MatchKeyword@169..174 "match"
        Whitespace@174..175 " "
        EXPR_IDENT@175..177
          PATH@175..177
            Ident@175..176 "c"
            Whitespace@176..177 " "
        MATCH_ARM_LIST@177..256
          LBrace@177..178 "{"
          Whitespace@178..187 "\n        "
          MATCH_ARM@187..231
            PATTERN_TUPLE@187..197
              LParen@187..188 "("
              PATTERN_BOOL@188..192
                TrueKeyword@188..192 "true"
              Comma@192..193 ","
              Whitespace@193..194 " "
              PATTERN_VARIABLE@194..195
                Ident@194..195 "d"
              RParen@195..196 ")"
              Whitespace@196..197 " "
            FatArrow@197..199 "=>"
            Whitespace@199..200 " "
            EXPR_CALL@200..231
              EXPR_IDENT@200..212
                PATH@200..212
                  Ident@200..212 "string_print"
              ARG_LIST@212..231
                LParen@212..213 "("
                ARG@213..230
                  EXPR_CALL@213..230
                    EXPR_IDENT@213..227
                      PATH@213..227
                        Ident@213..227 "bool_to_string"
                    ARG_LIST@227..230
                      LParen@227..228 "("
                      ARG@228..229
                        EXPR_IDENT@228..229
                          PATH@228..229
                            Ident@228..229 "d"
                      RParen@229..230 ")"
                RParen@230..231 ")"
          Comma@231..232 ","
          Whitespace@232..241 "\n        "
          MATCH_ARM@241..248
            PATTERN_WILDCARD@241..243
              WildcardKeyword@241..242 "_"
              Whitespace@242..243 " "
            FatArrow@243..245 "=>"
            Whitespace@245..246 " "
            EXPR_UNIT@246..248
              LParen@246..247 "("
              RParen@247..248 ")"
          Comma@248..249 ","
          Whitespace@249..254 "\n    "
          RBrace@254..255 "}"
          Whitespace@255..256 "\n"
      RBrace@256..257 "}"
      Whitespace@257..258 "\n"