FILE@0..533
  TRAIT@0..47
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Label"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..47
      TRAIT_METHOD_SIG@18..42
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..26 "label"
        TYPE_LIST@26..33
          LParen@26..27 "("
          TYPE_TAPP@27..31
            PATH@27..31
              Ident@27..31 "Self"
          RParen@31..32 ")"
          Whitespace@32..33 " "
        Arrow@33..35 "->"
        Whitespace@35..36 " "
        TYPE_STRING@36..42
          StringKeyword@36..42 "string"
      Semi@42..43 ";"
      Whitespace@43..44 "\n"
      RBrace@44..45 "}"
      Whitespace@45..47 "\n\n"
  TRAIT@47..120
    TraitKeyword@47..52 "trait"
    Whitespace@52..53 " "
    Ident@53..59 "Source"
    Whitespace@59..60 " "
    LBrace@60..61 "{"
    Whitespace@61..66 "\n    "
    TRAIT_METHOD_SIG_LIST@66..120
      TRAIT_ASSOCIATED_TYPE@66..89
        TypeKeyword@66..70 "type"
        Whitespace@70..71 " "
        Ident@71..75 "Item"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TRAIT_SET@77..82
          TYPE_TAPP@77..82
            PATH@77..82
              Ident@77..82 "Label"
        Semi@82..83 ";"
        Whitespace@83..89 "\n\n    "
      TRAIT_METHOD_SIG@89..115
        FnKeyword@89..91 "fn"
        Whitespace@91..92 " "
        Ident@92..95 "get"
        TYPE_LIST@95..102
          LParen@95..96 "("
          TYPE_TAPP@96..100
            PATH@96..100
              Ident@96..100 "Self"
          RParen@100..101 ")"
          Whitespace@101..102 " "
        Arrow@102..104 "->"
        Whitespace@104..105 " "
        TYPE_TAPP@105..115
          PATH@105..115
            Ident@105..109 "Self"
            ColonColon@109..111 "::"
            Ident@111..115 "Item"
      Semi@115..116 ";"
      Whitespace@116..117 "\n"
      RBrace@117..118 "}"
      Whitespace@118..120 "\n\n"
  STRUCT@120..162
    StructKeyword@120..126 "struct"
    Whitespace@126..127 " "
    Ident@127..137 "TextSource"
    Whitespace@137..138 " "
    LBrace@138..139 "{"
    Whitespace@139..144 "\n    "
    STRUCT_FIELD_LIST@144..162
      STRUCT_FIELD@144..157
        Ident@144..149 "value"
        Colon@149..150 ":"
        Whitespace@150..151 " "
        TYPE_STRING@151..157
          StringKeyword@151..157 "string"
      Comma@157..158 ","
      Whitespace@158..159 "\n"
      RBrace@159..160 "}"
      Whitespace@160..162 "\n\n"
  IMPL@162..258
    ImplKeyword@162..166 "impl"
    Whitespace@166..167 " "
    TYPE_TAPP@167..173
      PATH@167..173
        Ident@167..172 "Label"
        Whitespace@172..173 " "
    ForKeyword@173..176 "for"
    Whitespace@176..177 " "
    TYPE_STRING@177..184
      StringKeyword@177..183 "string"
      Whitespace@183..184 " "
    LBrace@184..185 "{"
    Whitespace@185..190 "\n    "
    FN@190..255
      FnKeyword@190..192 "fn"
      Whitespace@192..193 " "
      Ident@193..198 "label"
      PARAM_LIST@198..213
        LParen@198..199 "("
        PARAM@199..211
          Ident@199..203 "self"
          Colon@203..204 ":"
          Whitespace@204..205 " "
          TYPE_STRING@205..211
            StringKeyword@205..211 "string"
        RParen@211..212 ")"
        Whitespace@212..213 " "
      Arrow@213..215 "->"
      Whitespace@215..216 " "
      TYPE_STRING@216..223
        StringKeyword@216..222 "string"
        Whitespace@222..223 " "
      BLOCK@223..255
        LBrace@223..224 "{"
        Whitespace@224..233 "\n        "
        EXPR_BINARY@233..253
          EXPR_STR@233..242
            Str@233..241 "\"label:\""
            Whitespace@241..242 " "
          Plus@242..243 "+"
          Whitespace@243..244 " "
          EXPR_IDENT@244..253
            PATH@244..253
              Ident@244..248 "self"
              Whitespace@248..253 "\n    "
        RBrace@253..254 "}"
        Whitespace@254..255 "\n"
    RBrace@255..256 "}"
    Whitespace@256..258 "\n\n"
  IMPL@258..381
    ImplKeyword@258..262 "impl"
    Whitespace@262..263 " "
    TYPE_TAPP@263..270
      PATH@263..270
        Ident@263..269 "Source"
        Whitespace@269..270 " "
    ForKeyword@270..273 "for"
    Whitespace@273..274 " "
    TYPE_TAPP@274..285
      PATH@274..285
        Ident@274..284 "TextSource"
        Whitespace@284..285 " "
    LBrace@285..286 "{"
    Whitespace@286..291 "\n    "
    IMPL_ASSOCIATED_TYPE@291..316
      TypeKeyword@291..295 "type"
      Whitespace@295..296 " "
      Ident@296..300 "Item"
      Whitespace@300..301 " "
      Eq@301..302 "="
      Whitespace@302..303 " "
      TYPE_STRING@303..309
        StringKeyword@303..309 "string"
      Semi@309..310 ";"
      Whitespace@310..316 "\n\n    "
    FN@316..378
      FnKeyword@316..318 "fn"
      Whitespace@318..319 " "
      Ident@319..322 "get"
      PARAM_LIST@322..341
        LParen@322..323 "("
        PARAM@323..339
          Ident@323..327 "self"
          Colon@327..328 ":"
          Whitespace@328..329 " "
          TYPE_TAPP@329..339
            PATH@329..339
              Ident@329..339 "TextSource"
        RParen@339..340 ")"
        Whitespace@340..341 " "
      Arrow@341..343 "->"
      Whitespace@343..344 " "
      TYPE_STRING@344..351
        StringKeyword@344..350 "string"
        Whitespace@350..351 " "
      BLOCK@351..378
        LBrace@351..352 "{"
        Whitespace@352..361 "\n        "
        EXPR_BINARY@361..376
          EXPR_IDENT@361..365
            PATH@361..365
              Ident@361..365 "self"
          Dot@365..366 "."
          EXPR_IDENT@366..376
            PATH@366..376
              Ident@366..371 "value"
              Whitespace@371..376 "\n    "
        RBrace@376..377 "}"
        Whitespace@377..378 "\n"
    RBrace@378..379 "}"
    Whitespace@379..381 "\n\n"
  FN@381..460
    FnKeyword@381..383 "fn"
    Whitespace@383..384 " "
    Ident@384..390 "render"
    GENERIC_LIST@390..401
      LBracket@390..391 "["
      GENERIC@391..400
        Ident@391..392 "S"
        Colon@392..393 ":"
        Whitespace@393..394 " "
        TRAIT_SET@394..400
          TYPE_TAPP@394..400
            PATH@394..400
              Ident@394..400 "Source"
      RBracket@400..401 "]"
    PARAM_LIST@401..413
      LParen@401..402 "("
      PARAM@402..411
        Ident@402..408 "source"
        Colon@408..409 ":"
        Whitespace@409..410 " "
        TYPE_TAPP@410..411
          PATH@410..411
            Ident@410..411 "S"
      RParen@411..412 ")"
      Whitespace@412..413 " "
    Arrow@413..415 "->"
    Whitespace@415..416 " "
    TYPE_STRING@416..423
      StringKeyword@416..422 "string"
      Whitespace@422..423 " "
    BLOCK@423..460
      LBrace@423..424 "{"
      Whitespace@424..429 "\n    "
      EXPR_CALL@429..457
        EXPR_BINARY@429..454
          EXPR_CALL@429..448
            EXPR_IDENT@429..440
              PATH@429..440
                Ident@429..435 "Source"
                ColonColon@435..437 "::"
                Ident@437..440 "get"
            ARG_LIST@440..448
              LParen@440..441 "("
              ARG@441..447
                EXPR_IDENT@441..447
                  PATH@441..447
                    Ident@441..447 "source"
              RParen@447..448 ")"
          Dot@448..449 "."
          EXPR_IDENT@449..454
            PATH@449..454
              Ident@449..454 "label"
        ARG_LIST@454..457
          LParen@454..455 "("
          RParen@455..456 ")"
          Whitespace@456..457 "\n"
      RBrace@457..458 "}"
      Whitespace@458..460 "\n\n"
  FN@460..533
    FnKeyword@460..462 "fn"
    Whitespace@462..463 " "
    Ident@463..467 "main"
    PARAM_LIST@467..470
      LParen@467..468 "("
      RParen@468..469 ")"
      Whitespace@469..470 " "
    Arrow@470..472 "->"
    Whitespace@472..473 " "
    TYPE_UNIT@473..478
      UnitKeyword@473..477 "unit"
      Whitespace@477..478 " "
    BLOCK@478..533
      LBrace@478..479 "{"
      Whitespace@479..484 "\n    "
      STMT_EXPR@484..531
        EXPR_CALL@484..529
          EXPR_IDENT@484..491
            PATH@484..491
              Ident@484..491 "println"
          ARG_LIST@491..529
            LParen@491..492 "("
            ARG@492..528
              EXPR_CALL@492..528
                EXPR_IDENT@492..498
                  PATH@492..498
                    Ident@492..498 "render"
                ARG_LIST@498..528
                  LParen@498..499 "("
                  ARG@499..527
                    EXPR_STRUCT_LITERAL@499..527
                      PATH@499..510
                        Ident@499..509 "TextSource"
                        Whitespace@509..510 " "
                      STRUCT_LITERAL_FIELD_LIST@510..527
                        LBrace@510..511 "{"
                        Whitespace@511..512 " "
                        STRUCT_LITERAL_FIELD@512..526
                          Ident@512..517 "value"
                          Colon@517..518 ":"
                          Whitespace@518..519 " "
                          EXPR_STR@519..526
                            Str@519..525 "\"goml\""
                            Whitespace@525..526 " "
                        RBrace@526..527 "}"
                  RParen@527..528 ")"
            RParen@528..529 ")"
        Semi@529..530 ";"
        Whitespace@530..531 "\n"
      RBrace@531..532 "}"
      Whitespace@532..533 "\n"