FILE@0..281
  FN@0..103
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "choose"
    PARAM_LIST@9..38
      LParen@9..10 "("
      PARAM@10..22
        Ident@10..14 "flag"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_BOOL@16..20
          BoolKeyword@16..20 "bool"
        Comma@20..21 ","
        Whitespace@21..22 " "
      PARAM@22..30
        Ident@22..23 "x"
        Colon@23..24 ":"
        Whitespace@24..25 " "
        TYPE_INT32@25..28
          I32Keyword@25..28 "i32"
        Comma@28..29 ","
        Whitespace@29..30 " "
      PARAM@30..36
        Ident@30..31 "y"
        Colon@31..32 ":"
        Whitespace@32..33 " "
        TYPE_INT32@33..36
          I32Keyword@33..36 "i32"
      RParen@36..37 ")"
      Whitespace@37..38 " "
    Arrow@38..40 "->"
    Whitespace@40..41 " "
    TYPE_INT32@41..45
      I32Keyword@41..44 "i32"
      Whitespace@44..45 " "
    BLOCK@45..103
      LBrace@45..46 "{"
      Whitespace@46..51 "\n    "
      EXPR_IF@51..100
        IfKeyword@51..53 "if"
        Whitespace@53..54 " "
        EXPR_IF_COND@54..59
          EXPR_IDENT@54..59
            PATH@54..59
              Ident@54..58 "flag"
              Whitespace@58..59 " "
        EXPR_IF_THEN@59..77
          BLOCK@59..77
            LBrace@59..60 "{"
            Whitespace@60..69 "\n        "
            EXPR_IDENT@69..75
              PATH@69..75
                Ident@69..70 "x"
                Whitespace@70..75 "\n    "
            RBrace@75..76 "}"
            Whitespace@76..77 " "
        ElseKeyword@77..81 "else"
        Whitespace@81..82 " "
        EXPR_IF_ELSE@82..100
          BLOCK@82..100
            LBrace@82..83 "{"
            Whitespace@83..92 "\n        "
            EXPR_IDENT@92..98
              PATH@92..98
                Ident@92..93 "y"
                Whitespace@93..98 "\n    "
            RBrace@98..99 "}"
            Whitespace@99..100 "\n"
      RBrace@100..101 "}"
      Whitespace@101..103 "\n\n"
  FN@103..281
    FnKeyword@103..105 "fn"
    Whitespace@105..106 " "
    Ident@106..110 "main"
    PARAM_LIST@110..113
      LParen@110..111 "("
      RParen@111..112 ")"
      Whitespace@112..113 " "
    BLOCK@113..281
      LBrace@113..114 "{"
      Whitespace@114..119 "\n    "
      STMT_LET@119..155
        LetKeyword@119..122 "let"
        Whitespace@122..123 " "
        PATTERN_VARIABLE@123..127
          Ident@123..126 "yes"
          Whitespace@126..127 " "
        Eq@127..128 "="
        Whitespace@128..129 " "
        EXPR_CALL@129..149
          EXPR_IDENT@129..135
            PATH@129..135
              Ident@129..135 "choose"
          ARG_LIST@135..149
            LParen@135..136 "("
            ARG@136..142
              EXPR_BOOL@136..140
                TrueKeyword@136..140 "true"
              Comma@140..141 ","
              Whitespace@141..142 " "
            ARG@142..146
              EXPR_INT@142..144
                Int@142..144 "10"
              Comma@144..145 ","
              Whitespace@145..146 " "
            ARG@146..148
              EXPR_INT@146..148
                Int@146..148 "99"
            RParen@148..149 ")"
        Semi@149..150 ";"
        Whitespace@150..155 "\n    "
      STMT_LET@155..191
        LetKeyword@155..158 "let"
        Whitespace@158..159 " "
        PATTERN_VARIABLE@159..162
          Ident@159..161 "no"
          Whitespace@161..162 " "
        Eq@162..163 "="
        Whitespace@163..164 " "
        EXPR_CALL@164..185
          EXPR_IDENT@164..170
            PATH@164..170
              Ident@164..170 "choose"
          ARG_LIST@170..185
            LParen@170..171 "("
            ARG@171..178
              EXPR_BOOL@171..176
                FalseKeyword@171..176 "false"
              Comma@176..177 ","
              Whitespace@177..178 " "
            ARG@178..182
              EXPR_INT@178..180
                Int@178..180 "10"
              Comma@180..181 ","
              Whitespace@181..182 " "
            ARG@182..184
              EXPR_INT@182..184
                Int@182..184 "99"
            RParen@184..185 ")"
        Semi@185..186 ";"
        Whitespace@186..191 "\n    "
      STMT_LET@191..238
        LetKeyword@191..194 "let"
        Whitespace@194..195 " "
        PATTERN_WILDCARD@195..197
          WildcardKeyword@195..196 "_"
          Whitespace@196..197 " "
        Eq@197..198 "="
        Whitespace@198..199 " "
        EXPR_CALL@199..232
          EXPR_IDENT@199..206
            PATH@199..206
              Ident@199..206 "println"
          ARG_LIST@206..232
            LParen@206..207 "("
            ARG@207..231
              EXPR_BINARY@207..231
                EXPR_STR@207..214
                  Str@207..213 "\"yes=\""
                  Whitespace@213..214 " "
                Plus@214..215 "+"
                Whitespace@215..216 " "
                EXPR_CALL@216..231
                  EXPR_BINARY@216..229
                    EXPR_IDENT@216..219
                      PATH@216..219
                        Ident@216..219 "yes"
                    Dot@219..220 "."
                    EXPR_IDENT@220..229
                      PATH@220..229
                        Ident@220..229 "to_string"
                  ARG_LIST@229..231
                    LParen@229..230 "("
                    RParen@230..231 ")"
            RParen@231..232 ")"
        Semi@232..233 ";"
        Whitespace@233..238 "\n    "
      STMT_LET@238..279
        LetKeyword@238..241 "let"
        Whitespace@241..242 " "
        PATTERN_WILDCARD@242..244
          WildcardKeyword@242..243 "_"
          Whitespace@243..244 " "
        Eq@244..245 "="
        Whitespace@245..246 " "
        EXPR_CALL@246..277
          EXPR_IDENT@246..253
            PATH@246..253
              Ident@246..253 "println"
          ARG_LIST@253..277
            LParen@253..254 "("
            ARG@254..276
              EXPR_BINARY@254..276
                EXPR_STR@254..260
                  Str@254..259 "\"no=\""
                  Whitespace@259..260 " "
                Plus@260..261 "+"
                Whitespace@261..262 " "
                EXPR_CALL@262..276
                  EXPR_BINARY@262..274
                    EXPR_IDENT@262..264
                      PATH@262..264
                        Ident@262..264 "no"
                    Dot@264..265 "."
                    EXPR_IDENT@265..274
                      PATH@265..274
                        Ident@265..274 "to_string"
                  ARG_LIST@274..276
                    LParen@274..275 "("
                    RParen@275..276 ")"
            RParen@276..277 ")"
        Semi@277..278 ";"
        Whitespace@278..279 "\n"
      RBrace@279..280 "}"
      Whitespace@280..281 "\n"