FILE@0..287
  FN@0..109
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "choose"
    PARAM_LIST@9..42
      LParen@9..10 "("
      PARAM@10..22
        Ident@10..14 "flag"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_BOOL@16..20
          BoolKeyword@16..20 "bool"
        Comma@20..21 ","
        Whitespace@21..22 " "
      PARAM@22..32
        Ident@22..23 "x"
        Colon@23..24 ":"
        Whitespace@24..25 " "
        TYPE_INT32@25..30
          Int32Keyword@25..30 "int32"
        Comma@30..31 ","
        Whitespace@31..32 " "
      PARAM@32..40
        Ident@32..33 "y"
        Colon@33..34 ":"
        Whitespace@34..35 " "
        TYPE_INT32@35..40
          Int32Keyword@35..40 "int32"
      RParen@40..41 ")"
      Whitespace@41..42 " "
    Arrow@42..44 "->"
    Whitespace@44..45 " "
    TYPE_INT32@45..51
      Int32Keyword@45..50 "int32"
      Whitespace@50..51 " "
    BLOCK@51..109
      LBrace@51..52 "{"
      Whitespace@52..57 "\n    "
      EXPR_IF@57..106
        IfKeyword@57..59 "if"
        Whitespace@59..60 " "
        EXPR_IF_COND@60..65
          EXPR_IDENT@60..65
            PATH@60..65
              Ident@60..64 "flag"
              Whitespace@64..65 " "
        EXPR_IF_THEN@65..83
          BLOCK@65..83
            LBrace@65..66 "{"
            Whitespace@66..75 "\n        "
            EXPR_IDENT@75..81
              PATH@75..81
                Ident@75..76 "x"
                Whitespace@76..81 "\n    "
            RBrace@81..82 "}"
            Whitespace@82..83 " "
        ElseKeyword@83..87 "else"
        Whitespace@87..88 " "
        EXPR_IF_ELSE@88..106
          BLOCK@88..106
            LBrace@88..89 "{"
            Whitespace@89..98 "\n        "
            EXPR_IDENT@98..104
              PATH@98..104
                Ident@98..99 "y"
                Whitespace@99..104 "\n    "
            RBrace@104..105 "}"
            Whitespace@105..106 "\n"
      RBrace@106..107 "}"
      Whitespace@107..109 "\n\n"
  FN@109..287
    FnKeyword@109..111 "fn"
    Whitespace@111..112 " "
    Ident@112..116 "main"
    PARAM_LIST@116..119
      LParen@116..117 "("
      RParen@117..118 ")"
      Whitespace@118..119 " "
    BLOCK@119..287
      LBrace@119..120 "{"
      Whitespace@120..125 "\n    "
      STMT_LET@125..161
        LetKeyword@125..128 "let"
        Whitespace@128..129 " "
        PATTERN_VARIABLE@129..133
          Ident@129..132 "yes"
          Whitespace@132..133 " "
        Eq@133..134 "="
        Whitespace@134..135 " "
        EXPR_CALL@135..155
          EXPR_IDENT@135..141
            PATH@135..141
              Ident@135..141 "choose"
          ARG_LIST@141..155
            LParen@141..142 "("
            ARG@142..148
              EXPR_BOOL@142..146
                TrueKeyword@142..146 "true"
              Comma@146..147 ","
              Whitespace@147..148 " "
            ARG@148..152
              EXPR_INT@148..150
                Int@148..150 "10"
              Comma@150..151 ","
              Whitespace@151..152 " "
            ARG@152..154
              EXPR_INT@152..154
                Int@152..154 "99"
            RParen@154..155 ")"
        Semi@155..156 ";"
        Whitespace@156..161 "\n    "
      STMT_LET@161..197
        LetKeyword@161..164 "let"
        Whitespace@164..165 " "
        PATTERN_VARIABLE@165..168
          Ident@165..167 "no"
          Whitespace@167..168 " "
        Eq@168..169 "="
        Whitespace@169..170 " "
        EXPR_CALL@170..191
          EXPR_IDENT@170..176
            PATH@170..176
              Ident@170..176 "choose"
          ARG_LIST@176..191
            LParen@176..177 "("
            ARG@177..184
              EXPR_BOOL@177..182
                FalseKeyword@177..182 "false"
              Comma@182..183 ","
              Whitespace@183..184 " "
            ARG@184..188
              EXPR_INT@184..186
                Int@184..186 "10"
              Comma@186..187 ","
              Whitespace@187..188 " "
            ARG@188..190
              EXPR_INT@188..190
                Int@188..190 "99"
            RParen@190..191 ")"
        Semi@191..192 ";"
        Whitespace@192..197 "\n    "
      STMT_LET@197..244
        LetKeyword@197..200 "let"
        Whitespace@200..201 " "
        PATTERN_WILDCARD@201..203
          WildcardKeyword@201..202 "_"
          Whitespace@202..203 " "
        Eq@203..204 "="
        Whitespace@204..205 " "
        EXPR_CALL@205..238
          EXPR_IDENT@205..212
            PATH@205..212
              Ident@205..212 "println"
          ARG_LIST@212..238
            LParen@212..213 "("
            ARG@213..237
              EXPR_BINARY@213..237
                EXPR_STR@213..220
                  Str@213..219 "\"yes=\""
                  Whitespace@219..220 " "
                Plus@220..221 "+"
                Whitespace@221..222 " "
                EXPR_CALL@222..237
                  EXPR_BINARY@222..235
                    EXPR_IDENT@222..225
                      PATH@222..225
                        Ident@222..225 "yes"
                    Dot@225..226 "."
                    EXPR_IDENT@226..235
                      PATH@226..235
                        Ident@226..235 "to_string"
                  ARG_LIST@235..237
                    LParen@235..236 "("
                    RParen@236..237 ")"
            RParen@237..238 ")"
        Semi@238..239 ";"
        Whitespace@239..244 "\n    "
      STMT_LET@244..285
        LetKeyword@244..247 "let"
        Whitespace@247..248 " "
        PATTERN_WILDCARD@248..250
          WildcardKeyword@248..249 "_"
          Whitespace@249..250 " "
        Eq@250..251 "="
        Whitespace@251..252 " "
        EXPR_CALL@252..283
          EXPR_IDENT@252..259
            PATH@252..259
              Ident@252..259 "println"
          ARG_LIST@259..283
            LParen@259..260 "("
            ARG@260..282
              EXPR_BINARY@260..282
                EXPR_STR@260..266
                  Str@260..265 "\"no=\""
                  Whitespace@265..266 " "
                Plus@266..267 "+"
                Whitespace@267..268 " "
                EXPR_CALL@268..282
                  EXPR_BINARY@268..280
                    EXPR_IDENT@268..270
                      PATH@268..270
                        Ident@268..270 "no"
                    Dot@270..271 "."
                    EXPR_IDENT@271..280
                      PATH@271..280
                        Ident@271..280 "to_string"
                  ARG_LIST@280..282
                    LParen@280..281 "("
                    RParen@281..282 ")"
            RParen@282..283 ")"
        Semi@283..284 ";"
        Whitespace@284..285 "\n"
      RBrace@285..286 "}"
      Whitespace@286..287 "\n"