FILE@0..118
  Whitespace@0..1 "\n"
  FN@1..118
    FnKeyword@1..3 "fn"
    Whitespace@3..4 " "
    Ident@4..8 "main"
    PARAM_LIST@8..11
      LParen@8..9 "("
      RParen@9..10 ")"
      Whitespace@10..11 " "
    Arrow@11..13 "->"
    Whitespace@13..14 " "
    TYPE_UNIT@14..19
      UnitKeyword@14..18 "unit"
      Whitespace@18..19 " "
    BLOCK@19..118
      LBrace@19..20 "{"
      Whitespace@20..25 "\n    "
      STMT_LET@25..44
        LetKeyword@25..28 "let"
        Whitespace@28..29 " "
        MutKeyword@29..32 "mut"
        Whitespace@32..33 " "
        PATTERN_VARIABLE@33..35
          Ident@33..34 "x"
          Whitespace@34..35 " "
        Eq@35..36 "="
        Whitespace@36..37 " "
        EXPR_INT@37..38
          Int@37..38 "0"
        Semi@38..39 ";"
        Whitespace@39..44 "\n    "
      STMT_LET@44..64
        LetKeyword@44..47 "let"
        Whitespace@47..48 " "
        PATTERN_VARIABLE@48..52
          Ident@48..51 "get"
          Whitespace@51..52 " "
        Eq@52..53 "="
        Whitespace@53..54 " "
        EXPR_CLOSURE@54..58
          CLOSURE_PARAM_LIST@54..57
            OrOr@54..56 "||"
            Whitespace@56..57 " "
          EXPR_CLOSURE_BODY@57..58
            EXPR_IDENT@57..58
              PATH@57..58
                Ident@57..58 "x"
        Semi@58..59 ";"
        Whitespace@59..64 "\n    "
      STMT_ASSIGN@64..76
        EXPR_IDENT@64..66
          PATH@64..66
            Ident@64..65 "x"
            Whitespace@65..66 " "
        Eq@66..67 "="
        Whitespace@67..68 " "
        EXPR_INT@68..70
          Int@68..70 "41"
        Semi@70..71 ";"
        Whitespace@71..76 "\n    "
      STMT_EXPR@76..116
        EXPR_CALL@76..114
          EXPR_IDENT@76..90
            PATH@76..90
              Ident@76..90 "string_println"
          ARG_LIST@90..114
            LParen@90..91 "("
            ARG@91..113
              EXPR_CALL@91..113
                EXPR_IDENT@91..106
                  PATH@91..106
                    Ident@91..106 "int32_to_string"
                ARG_LIST@106..113
                  LParen@106..107 "("
                  ARG@107..112
                    EXPR_CALL@107..112
                      EXPR_IDENT@107..110
                        PATH@107..110
                          Ident@107..110 "get"
                      ARG_LIST@110..112
                        LParen@110..111 "("
                        RParen@111..112 ")"
                  RParen@112..113 ")"
            RParen@113..114 ")"
        Semi@114..115 ";"
        Whitespace@115..116 "\n"
      RBrace@116..117 "}"
      Whitespace@117..118 "\n"