FILE@0..107
  FN@0..107
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..107
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..43
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        MutKeyword@28..31 "mut"
        Whitespace@31..32 " "
        PATTERN_VARIABLE@32..34
          Ident@32..33 "x"
          Whitespace@33..34 " "
        Eq@34..35 "="
        Whitespace@35..36 " "
        EXPR_INT@36..37
          Int@36..37 "0"
        Semi@37..38 ";"
        Whitespace@38..43 "\n    "
      STMT_LET@43..63
        LetKeyword@43..46 "let"
        Whitespace@46..47 " "
        PATTERN_VARIABLE@47..51
          Ident@47..50 "get"
          Whitespace@50..51 " "
        Eq@51..52 "="
        Whitespace@52..53 " "
        EXPR_CLOSURE@53..57
          CLOSURE_PARAM_LIST@53..56
            OrOr@53..55 "||"
            Whitespace@55..56 " "
          EXPR_CLOSURE_BODY@56..57
            EXPR_IDENT@56..57
              PATH@56..57
                Ident@56..57 "x"
        Semi@57..58 ";"
        Whitespace@58..63 "\n    "
      STMT_ASSIGN@63..75
        EXPR_IDENT@63..65
          PATH@63..65
            Ident@63..64 "x"
            Whitespace@64..65 " "
        Eq@65..66 "="
        Whitespace@66..67 " "
        EXPR_INT@67..69
          Int@67..69 "41"
        Semi@69..70 ";"
        Whitespace@70..75 "\n    "
      STMT_EXPR@75..105
        EXPR_CALL@75..103
          EXPR_IDENT@75..82
            PATH@75..82
              Ident@75..82 "println"
          ARG_LIST@82..103
            LParen@82..83 "("
            ARG@83..102
              EXPR_CALL@83..102
                EXPR_BINARY@83..100
                  EXPR_PAREN@83..90
                    LParen@83..84 "("
                    EXPR_CALL@84..89
                      EXPR_IDENT@84..87
                        PATH@84..87
                          Ident@84..87 "get"
                      ARG_LIST@87..89
                        LParen@87..88 "("
                        RParen@88..89 ")"
                    RParen@89..90 ")"
                  Dot@90..91 "."
                  EXPR_IDENT@91..100
                    PATH@91..100
                      Ident@91..100 "to_string"
                ARG_LIST@100..102
                  LParen@100..101 "("
                  RParen@101..102 ")"
            RParen@102..103 ")"
        Semi@103..104 ";"
        Whitespace@104..105 "\n"
      RBrace@105..106 "}"
      Whitespace@106..107 "\n"