FILE@0..1907
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..12
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..12 "cmp"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..86
    ATTRIBUTE_LIST@15..46
      ATTRIBUTE@15..46
        Pound@15..16 "#"
        LBracket@16..17 "["
        Ident@17..23 "derive"
        LParen@23..24 "("
        Ident@24..33 "PartialEq"
        Comma@33..34 ","
        Whitespace@34..35 " "
        Ident@35..37 "Eq"
        Comma@37..38 ","
        Whitespace@38..39 " "
        Ident@39..43 "Hash"
        RParen@43..44 ")"
        RBracket@44..45 "]"
        Whitespace@45..46 "\n"
    StructKeyword@46..52 "struct"
    Whitespace@52..53 " "
    Ident@53..62 "LegacyKey"
    Whitespace@62..63 " "
    LBrace@63..64 "{"
    Whitespace@64..69 "\n    "
    STRUCT_FIELD_LIST@69..86
      STRUCT_FIELD@69..81
        Ident@69..74 "value"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_INT@76..81
          IsizeKeyword@76..81 "isize"
      Comma@81..82 ","
      Whitespace@82..83 "\n"
      RBrace@83..84 "}"
      Whitespace@84..86 "\n\n"
  STRUCT@86..126
    StructKeyword@86..92 "struct"
    Whitespace@92..93 " "
    Ident@93..102 "ModernKey"
    Whitespace@102..103 " "
    LBrace@103..104 "{"
    Whitespace@104..109 "\n    "
    STRUCT_FIELD_LIST@109..126
      STRUCT_FIELD@109..121
        Ident@109..114 "value"
        Colon@114..115 ":"
        Whitespace@115..116 " "
        TYPE_INT@116..121
          IsizeKeyword@116..121 "isize"
      Comma@121..122 ","
      Whitespace@122..123 "\n"
      RBrace@123..124 "}"
      Whitespace@124..126 "\n\n"
  IMPL@126..265
    ImplKeyword@126..130 "impl"
    Whitespace@130..131 " "
    TYPE_TAPP@131..141
      PATH@131..141
        Ident@131..140 "PartialEq"
        Whitespace@140..141 " "
    ForKeyword@141..144 "for"
    Whitespace@144..145 " "
    TYPE_TAPP@145..155
      PATH@145..155
        Ident@145..154 "ModernKey"
        Whitespace@154..155 " "
    LBrace@155..156 "{"
    Whitespace@156..161 "\n    "
    FN@161..262
      FnKeyword@161..163 "fn"
      Whitespace@163..164 " "
      Ident@164..166 "eq"
      PARAM_LIST@166..202
        LParen@166..167 "("
        PARAM@167..184
          Ident@167..171 "self"
          Colon@171..172 ":"
          Whitespace@172..173 " "
          TYPE_TAPP@173..182
            PATH@173..182
              Ident@173..182 "ModernKey"
          Comma@182..183 ","
          Whitespace@183..184 " "
        PARAM@184..200
          Ident@184..189 "other"
          Colon@189..190 ":"
          Whitespace@190..191 " "
          TYPE_TAPP@191..200
            PATH@191..200
              Ident@191..200 "ModernKey"
        RParen@200..201 ")"
        Whitespace@201..202 " "
      Arrow@202..204 "->"
      Whitespace@204..205 " "
      TYPE_BOOL@205..210
        BoolKeyword@205..209 "bool"
        Whitespace@209..210 " "
      BLOCK@210..262
        LBrace@210..211 "{"
        Whitespace@211..220 "\n        "
        EXPR_BINARY@220..260
          EXPR_BINARY@220..236
            EXPR_BINARY@220..231
              EXPR_IDENT@220..224
                PATH@220..224
                  Ident@220..224 "self"
              Dot@224..225 "."
              EXPR_IDENT@225..231
                PATH@225..231
                  Ident@225..230 "value"
                  Whitespace@230..231 " "
            Percent@231..232 "%"
            Whitespace@232..233 " "
            EXPR_INT@233..236
              Int@233..235 "10"
              Whitespace@235..236 " "
          EqEq@236..238 "=="
          Whitespace@238..239 " "
          EXPR_BINARY@239..260
            EXPR_BINARY@239..251
              EXPR_IDENT@239..244
                PATH@239..244
                  Ident@239..244 "other"
              Dot@244..245 "."
              EXPR_IDENT@245..251
                PATH@245..251
                  Ident@245..250 "value"
                  Whitespace@250..251 " "
            Percent@251..252 "%"
            Whitespace@252..253 " "
            EXPR_INT@253..260
              Int@253..255 "10"
              Whitespace@255..260 "\n    "
        RBrace@260..261 "}"
        Whitespace@261..262 "\n"
    RBrace@262..263 "}"
    Whitespace@263..265 "\n\n"
  IMPL@265..291
    ImplKeyword@265..269 "impl"
    Whitespace@269..270 " "
    TYPE_TAPP@270..273
      PATH@270..273
        Ident@270..272 "Eq"
        Whitespace@272..273 " "
    ForKeyword@273..276 "for"
    Whitespace@276..277 " "
    TYPE_TAPP@277..287
      PATH@277..287
        Ident@277..286 "ModernKey"
        Whitespace@286..287 " "
    LBrace@287..288 "{"
    RBrace@288..289 "}"
    Whitespace@289..291 "\n\n"
  IMPL@291..399
    ImplKeyword@291..295 "impl"
    Whitespace@295..296 " "
    TYPE_TAPP@296..301
      PATH@296..301
        Ident@296..300 "Hash"
        Whitespace@300..301 " "
    ForKeyword@301..304 "for"
    Whitespace@304..305 " "
    TYPE_TAPP@305..315
      PATH@305..315
        Ident@305..314 "ModernKey"
        Whitespace@314..315 " "
    LBrace@315..316 "{"
    Whitespace@316..321 "\n    "
    FN@321..396
      FnKeyword@321..323 "fn"
      Whitespace@323..324 " "
      Ident@324..328 "hash"
      PARAM_LIST@328..346
        LParen@328..329 "("
        PARAM@329..344
          Ident@329..333 "self"
          Colon@333..334 ":"
          Whitespace@334..335 " "
          TYPE_TAPP@335..344
            PATH@335..344
              Ident@335..344 "ModernKey"
        RParen@344..345 ")"
        Whitespace@345..346 " "
      Arrow@346..348 "->"
      Whitespace@348..349 " "
      TYPE_UINT64@349..353
        U64Keyword@349..352 "u64"
        Whitespace@352..353 " "
      BLOCK@353..396
        LBrace@353..354 "{"
        Whitespace@354..363 "\n        "
        EXPR_CALL@363..394
          EXPR_BINARY@363..387
            EXPR_PAREN@363..380
              LParen@363..364 "("
              EXPR_BINARY@364..379
                EXPR_BINARY@364..375
                  EXPR_IDENT@364..368
                    PATH@364..368
                      Ident@364..368 "self"
                  Dot@368..369 "."
                  EXPR_IDENT@369..375
                    PATH@369..375
                      Ident@369..374 "value"
                      Whitespace@374..375 " "
                Percent@375..376 "%"
                Whitespace@376..377 " "
                EXPR_INT@377..379
                  Int@377..379 "10"
              RParen@379..380 ")"
            Dot@380..381 "."
            EXPR_IDENT@381..387
              PATH@381..387
                Ident@381..387 "to_u64"
          ARG_LIST@387..394
            LParen@387..388 "("
            RParen@388..389 ")"
            Whitespace@389..394 "\n    "
        RBrace@394..395 "}"
        Whitespace@395..396 "\n"
    RBrace@396..397 "}"
    Whitespace@397..399 "\n\n"
  STRUCT@399..434
    StructKeyword@399..405 "struct"
    Whitespace@405..406 " "
    Ident@406..410 "Rank"
    Whitespace@410..411 " "
    LBrace@411..412 "{"
    Whitespace@412..417 "\n    "
    STRUCT_FIELD_LIST@417..434
      STRUCT_FIELD@417..429
        Ident@417..422 "value"
        Colon@422..423 ":"
        Whitespace@423..424 " "
        TYPE_INT@424..429
          IsizeKeyword@424..429 "isize"
      Comma@429..430 ","
      Whitespace@430..431 "\n"
      RBrace@431..432 "}"
      Whitespace@432..434 "\n\n"
  IMPL@434..548
    ImplKeyword@434..438 "impl"
    Whitespace@438..439 " "
    TYPE_TAPP@439..449
      PATH@439..449
        Ident@439..448 "PartialEq"
        Whitespace@448..449 " "
    ForKeyword@449..452 "for"
    Whitespace@452..453 " "
    TYPE_TAPP@453..458
      PATH@453..458
        Ident@453..457 "Rank"
        Whitespace@457..458 " "
    LBrace@458..459 "{"
    Whitespace@459..464 "\n    "
    FN@464..545
      FnKeyword@464..466 "fn"
      Whitespace@466..467 " "
      Ident@467..469 "eq"
      PARAM_LIST@469..495
        LParen@469..470 "("
        PARAM@470..482
          Ident@470..474 "self"
          Colon@474..475 ":"
          Whitespace@475..476 " "
          TYPE_TAPP@476..480
            PATH@476..480
              Ident@476..480 "Rank"
          Comma@480..481 ","
          Whitespace@481..482 " "
        PARAM@482..493
          Ident@482..487 "other"
          Colon@487..488 ":"
          Whitespace@488..489 " "
          TYPE_TAPP@489..493
            PATH@489..493
              Ident@489..493 "Rank"
        RParen@493..494 ")"
        Whitespace@494..495 " "
      Arrow@495..497 "->"
      Whitespace@497..498 " "
      TYPE_BOOL@498..503
        BoolKeyword@498..502 "bool"
        Whitespace@502..503 " "
      BLOCK@503..545
        LBrace@503..504 "{"
        Whitespace@504..513 "\n        "
        EXPR_BINARY@513..543
          EXPR_BINARY@513..524
            EXPR_IDENT@513..517
              PATH@513..517
                Ident@513..517 "self"
            Dot@517..518 "."
            EXPR_IDENT@518..524
              PATH@518..524
                Ident@518..523 "value"
                Whitespace@523..524 " "
          EqEq@524..526 "=="
          Whitespace@526..527 " "
          EXPR_BINARY@527..543
            EXPR_IDENT@527..532
              PATH@527..532
                Ident@527..532 "other"
            Dot@532..533 "."
            EXPR_IDENT@533..543
              PATH@533..543
                Ident@533..538 "value"
                Whitespace@538..543 "\n    "
        RBrace@543..544 "}"
        Whitespace@544..545 "\n"
    RBrace@545..546 "}"
    Whitespace@546..548 "\n\n"
  IMPL@548..931
    ImplKeyword@548..552 "impl"
    Whitespace@552..553 " "
    TYPE_TAPP@553..569
      PATH@553..569
        Ident@553..556 "cmp"
        ColonColon@556..558 "::"
        Ident@558..568 "PartialOrd"
        Whitespace@568..569 " "
    ForKeyword@569..572 "for"
    Whitespace@572..573 " "
    TYPE_TAPP@573..578
      PATH@573..578
        Ident@573..577 "Rank"
        Whitespace@577..578 " "
    LBrace@578..579 "{"
    Whitespace@579..584 "\n    "
    FN@584..928
      FnKeyword@584..586 "fn"
      Whitespace@586..587 " "
      Ident@587..598 "partial_cmp"
      PARAM_LIST@598..624
        LParen@598..599 "("
        PARAM@599..611
          Ident@599..603 "self"
          Colon@603..604 ":"
          Whitespace@604..605 " "
          TYPE_TAPP@605..609
            PATH@605..609
              Ident@605..609 "Rank"
          Comma@609..610 ","
          Whitespace@610..611 " "
        PARAM@611..622
          Ident@611..616 "other"
          Colon@616..617 ":"
          Whitespace@617..618 " "
          TYPE_TAPP@618..622
            PATH@618..622
              Ident@618..622 "Rank"
        RParen@622..623 ")"
        Whitespace@623..624 " "
      Arrow@624..626 "->"
      Whitespace@626..627 " "
      TYPE_TAPP@627..649
        PATH@627..633
          Ident@627..633 "Option"
        TYPE_PARAM_LIST@633..649
          LBracket@633..634 "["
          TYPE_TAPP@634..647
            PATH@634..647
              Ident@634..637 "cmp"
              ColonColon@637..639 "::"
              Ident@639..647 "Ordering"
          RBracket@647..648 "]"
          Whitespace@648..649 " "
      BLOCK@649..928
        LBrace@649..650 "{"
        Whitespace@650..659 "\n        "
        EXPR_CALL@659..926
          EXPR_IDENT@659..671
            PATH@659..671
              Ident@659..665 "Option"
              ColonColon@665..667 "::"
              Ident@667..671 "Some"
          ARG_LIST@671..926
            LParen@671..672 "("
            Whitespace@672..685 "\n            "
            ARG@685..920
              EXPR_IF@685..910
                IfKeyword@685..687 "if"
                Whitespace@687..688 " "
                EXPR_IF_COND@688..713
                  EXPR_BINARY@688..713
                    EXPR_BINARY@688..699
                      EXPR_IDENT@688..692
                        PATH@688..692
                          Ident@688..692 "self"
                      Dot@692..693 "."
                      EXPR_IDENT@693..699
                        PATH@693..699
                          Ident@693..698 "value"
                          Whitespace@698..699 " "
                    Greater@699..700 ">"
                    Whitespace@700..701 " "
                    EXPR_BINARY@701..713
                      EXPR_IDENT@701..706
                        PATH@701..706
                          Ident@701..706 "other"
                      Dot@706..707 "."
                      EXPR_IDENT@707..713
                        PATH@707..713
                          Ident@707..712 "value"
                          Whitespace@712..713 " "
                EXPR_IF_THEN@713..765
                  BLOCK@713..765
                    LBrace@713..714 "{"
                    Whitespace@714..731 "\n                "
                    EXPR_IDENT@731..763
                      PATH@731..763
                        Ident@731..734 "cmp"
                        ColonColon@734..736 "::"
                        Ident@736..744 "Ordering"
                        ColonColon@744..746 "::"
                        Ident@746..750 "Less"
                        Whitespace@750..763 "\n            "
                    RBrace@763..764 "}"
                    Whitespace@764..765 " "
                ElseKeyword@765..769 "else"
                Whitespace@769..770 " "
                EXPR_IF_ELSE@770..910
                  EXPR_IF@770..910
                    IfKeyword@770..772 "if"
                    Whitespace@772..773 " "
                    EXPR_IF_COND@773..798
                      EXPR_BINARY@773..798
                        EXPR_BINARY@773..784
                          EXPR_IDENT@773..777
                            PATH@773..777
                              Ident@773..777 "self"
                          Dot@777..778 "."
                          EXPR_IDENT@778..784
                            PATH@778..784
                              Ident@778..783 "value"
                              Whitespace@783..784 " "
                        Less@784..785 "<"
                        Whitespace@785..786 " "
                        EXPR_BINARY@786..798
                          EXPR_IDENT@786..791
                            PATH@786..791
                              Ident@786..791 "other"
                          Dot@791..792 "."
                          EXPR_IDENT@792..798
                            PATH@792..798
                              Ident@792..797 "value"
                              Whitespace@797..798 " "
                    EXPR_IF_THEN@798..853
                      BLOCK@798..853
                        LBrace@798..799 "{"
                        Whitespace@799..816 "\n                "
                        EXPR_IDENT@816..851
                          PATH@816..851
                            Ident@816..819 "cmp"
                            ColonColon@819..821 "::"
                            Ident@821..829 "Ordering"
                            ColonColon@829..831 "::"
                            Ident@831..838 "Greater"
                            Whitespace@838..851 "\n            "
                        RBrace@851..852 "}"
                        Whitespace@852..853 " "
                    ElseKeyword@853..857 "else"
                    Whitespace@857..858 " "
                    EXPR_IF_ELSE@858..910
                      BLOCK@858..910
                        LBrace@858..859 "{"
                        Whitespace@859..876 "\n                "
                        EXPR_IDENT@876..909
                          PATH@876..909
                            Ident@876..879 "cmp"
                            ColonColon@879..881 "::"
                            Ident@881..889 "Ordering"
                            ColonColon@889..891 "::"
                            Ident@891..896 "Equal"
                            Whitespace@896..909 "\n            "
                        RBrace@909..910 "}"
              Comma@910..911 ","
              Whitespace@911..920 "\n        "
            RParen@920..921 ")"
            Whitespace@921..926 "\n    "
        RBrace@926..927 "}"
        Whitespace@927..928 "\n"
    RBrace@928..929 "}"
    Whitespace@929..931 "\n\n"
  FN@931..997
    FnKeyword@931..933 "fn"
    Whitespace@933..934 " "
    Ident@934..939 "equal"
    GENERIC_LIST@939..946
      LBracket@939..940 "["
      GENERIC@940..945
        Ident@940..941 "T"
        Colon@941..942 ":"
        Whitespace@942..943 " "
        TRAIT_SET@943..945
          TYPE_TAPP@943..945
            PATH@943..945
              Ident@943..945 "Eq"
      RBracket@945..946 "]"
    PARAM_LIST@946..966
      LParen@946..947 "("
      PARAM@947..956
        Ident@947..951 "left"
        Colon@951..952 ":"
        Whitespace@952..953 " "
        TYPE_TAPP@953..954
          PATH@953..954
            Ident@953..954 "T"
        Comma@954..955 ","
        Whitespace@955..956 " "
      PARAM@956..964
        Ident@956..961 "right"
        Colon@961..962 ":"
        Whitespace@962..963 " "
        TYPE_TAPP@963..964
          PATH@963..964
            Ident@963..964 "T"
      RParen@964..965 ")"
      Whitespace@965..966 " "
    Arrow@966..968 "->"
    Whitespace@968..969 " "
    TYPE_BOOL@969..974
      BoolKeyword@969..973 "bool"
      Whitespace@973..974 " "
    BLOCK@974..997
      LBrace@974..975 "{"
      Whitespace@975..980 "\n    "
      EXPR_BINARY@980..994
        EXPR_IDENT@980..985
          PATH@980..985
            Ident@980..984 "left"
            Whitespace@984..985 " "
        EqEq@985..987 "=="
        Whitespace@987..988 " "
        EXPR_IDENT@988..994
          PATH@988..994
            Ident@988..993 "right"
            Whitespace@993..994 "\n"
      RBrace@994..995 "}"
      Whitespace@995..997 "\n\n"
  FN@997..1907
    FnKeyword@997..999 "fn"
    Whitespace@999..1000 " "
    Ident@1000..1004 "main"
    PARAM_LIST@1004..1007
      LParen@1004..1005 "("
      RParen@1005..1006 ")"
      Whitespace@1006..1007 " "
    Arrow@1007..1009 "->"
    Whitespace@1009..1010 " "
    TYPE_UNIT@1010..1015
      UnitKeyword@1010..1014 "unit"
      Whitespace@1014..1015 " "
    BLOCK@1015..1907
      LBrace@1015..1016 "{"
      Whitespace@1016..1021 "\n    "
      STMT_LET@1021..1062
        LetKeyword@1021..1024 "let"
        Whitespace@1024..1025 " "
        PATTERN_VARIABLE@1025..1032
          Ident@1025..1031 "legacy"
          Whitespace@1031..1032 " "
        Eq@1032..1033 "="
        Whitespace@1033..1034 " "
        EXPR_STRUCT_LITERAL@1034..1056
          PATH@1034..1044
            Ident@1034..1043 "LegacyKey"
            Whitespace@1043..1044 " "
          STRUCT_LITERAL_FIELD_LIST@1044..1056
            LBrace@1044..1045 "{"
            Whitespace@1045..1046 " "
            STRUCT_LITERAL_FIELD@1046..1055
              Ident@1046..1051 "value"
              Colon@1051..1052 ":"
              Whitespace@1052..1053 " "
              EXPR_INT@1053..1055
                Int@1053..1054 "7"
                Whitespace@1054..1055 " "
            RBrace@1055..1056 "}"
        Semi@1056..1057 ";"
        Whitespace@1057..1062 "\n    "
      STMT_LET@1062..1103
        LetKeyword@1062..1065 "let"
        Whitespace@1065..1066 " "
        PATTERN_VARIABLE@1066..1073
          Ident@1066..1072 "modern"
          Whitespace@1072..1073 " "
        Eq@1073..1074 "="
        Whitespace@1074..1075 " "
        EXPR_STRUCT_LITERAL@1075..1097
          PATH@1075..1085
            Ident@1075..1084 "ModernKey"
            Whitespace@1084..1085 " "
          STRUCT_LITERAL_FIELD_LIST@1085..1097
            LBrace@1085..1086 "{"
            Whitespace@1086..1087 " "
            STRUCT_LITERAL_FIELD@1087..1096
              Ident@1087..1092 "value"
              Colon@1092..1093 ":"
              Whitespace@1093..1094 " "
              EXPR_INT@1094..1096
                Int@1094..1095 "9"
                Whitespace@1095..1096 " "
            RBrace@1096..1097 "}"
        Semi@1097..1098 ";"
        Whitespace@1098..1103 "\n    "
      STMT_EXPR@1103..1155
        EXPR_CALL@1103..1149
          EXPR_IDENT@1103..1110
            PATH@1103..1110
              Ident@1103..1110 "println"
          ARG_LIST@1110..1149
            LParen@1110..1111 "("
            ARG@1111..1148
              EXPR_CALL@1111..1148
                EXPR_IDENT@1111..1116
                  PATH@1111..1116
                    Ident@1111..1116 "equal"
                ARG_LIST@1116..1148
                  LParen@1116..1117 "("
                  ARG@1117..1125
                    EXPR_IDENT@1117..1123
                      PATH@1117..1123
                        Ident@1117..1123 "legacy"
                    Comma@1123..1124 ","
                    Whitespace@1124..1125 " "
                  ARG@1125..1147
                    EXPR_STRUCT_LITERAL@1125..1147
                      PATH@1125..1135
                        Ident@1125..1134 "LegacyKey"
                        Whitespace@1134..1135 " "
                      STRUCT_LITERAL_FIELD_LIST@1135..1147
                        LBrace@1135..1136 "{"
                        Whitespace@1136..1137 " "
                        STRUCT_LITERAL_FIELD@1137..1146
                          Ident@1137..1142 "value"
                          Colon@1142..1143 ":"
                          Whitespace@1143..1144 " "
                          EXPR_INT@1144..1146
                            Int@1144..1145 "7"
                            Whitespace@1145..1146 " "
                        RBrace@1146..1147 "}"
                  RParen@1147..1148 ")"
            RParen@1148..1149 ")"
        Semi@1149..1150 ";"
        Whitespace@1150..1155 "\n    "
      STMT_EXPR@1155..1215
        EXPR_CALL@1155..1209
          EXPR_IDENT@1155..1162
            PATH@1155..1162
              Ident@1155..1162 "println"
          ARG_LIST@1162..1209
            LParen@1162..1163 "("
            ARG@1163..1208
              EXPR_CALL@1163..1208
                EXPR_IDENT@1163..1176
                  PATH@1163..1176
                    Ident@1163..1172 "PartialEq"
                    ColonColon@1172..1174 "::"
                    Ident@1174..1176 "eq"
                ARG_LIST@1176..1208
                  LParen@1176..1177 "("
                  ARG@1177..1185
                    EXPR_IDENT@1177..1183
                      PATH@1177..1183
                        Ident@1177..1183 "legacy"
                    Comma@1183..1184 ","
                    Whitespace@1184..1185 " "
                  ARG@1185..1207
                    EXPR_STRUCT_LITERAL@1185..1207
                      PATH@1185..1195
                        Ident@1185..1194 "LegacyKey"
                        Whitespace@1194..1195 " "
                      STRUCT_LITERAL_FIELD_LIST@1195..1207
                        LBrace@1195..1196 "{"
                        Whitespace@1196..1197 " "
                        STRUCT_LITERAL_FIELD@1197..1206
                          Ident@1197..1202 "value"
                          Colon@1202..1203 ":"
                          Whitespace@1203..1204 " "
                          EXPR_INT@1204..1206
                            Int@1204..1205 "8"
                            Whitespace@1205..1206 " "
                        RBrace@1206..1207 "}"
                  RParen@1207..1208 ")"
            RParen@1208..1209 ")"
        Semi@1209..1210 ";"
        Whitespace@1210..1215 "\n    "
      STMT_EXPR@1215..1268
        EXPR_CALL@1215..1262
          EXPR_IDENT@1215..1222
            PATH@1215..1222
              Ident@1215..1222 "println"
          ARG_LIST@1222..1262
            LParen@1222..1223 "("
            ARG@1223..1261
              EXPR_CALL@1223..1261
                EXPR_IDENT@1223..1228
                  PATH@1223..1228
                    Ident@1223..1228 "equal"
                ARG_LIST@1228..1261
                  LParen@1228..1229 "("
                  ARG@1229..1237
                    EXPR_IDENT@1229..1235
                      PATH@1229..1235
                        Ident@1229..1235 "modern"
                    Comma@1235..1236 ","
                    Whitespace@1236..1237 " "
                  ARG@1237..1260
                    EXPR_STRUCT_LITERAL@1237..1260
                      PATH@1237..1247
                        Ident@1237..1246 "ModernKey"
                        Whitespace@1246..1247 " "
                      STRUCT_LITERAL_FIELD_LIST@1247..1260
                        LBrace@1247..1248 "{"
                        Whitespace@1248..1249 " "
                        STRUCT_LITERAL_FIELD@1249..1259
                          Ident@1249..1254 "value"
                          Colon@1254..1255 ":"
                          Whitespace@1255..1256 " "
                          EXPR_INT@1256..1259
                            Int@1256..1258 "19"
                            Whitespace@1258..1259 " "
                        RBrace@1259..1260 "}"
                  RParen@1260..1261 ")"
            RParen@1261..1262 ")"
        Semi@1262..1263 ";"
        Whitespace@1263..1268 "\n    "
      STMT_EXPR@1268..1330
        EXPR_CALL@1268..1324
          EXPR_IDENT@1268..1275
            PATH@1268..1275
              Ident@1268..1275 "println"
          ARG_LIST@1275..1324
            LParen@1275..1276 "("
            ARG@1276..1323
              EXPR_CALL@1276..1323
                EXPR_BINARY@1276..1321
                  EXPR_PAREN@1276..1311
                    LParen@1276..1277 "("
                    EXPR_BINARY@1277..1310
                      EXPR_IDENT@1277..1284
                        PATH@1277..1284
                          Ident@1277..1283 "modern"
                          Whitespace@1283..1284 " "
                      NotEq@1284..1286 "!="
                      Whitespace@1286..1287 " "
                      EXPR_STRUCT_LITERAL@1287..1310
                        PATH@1287..1297
                          Ident@1287..1296 "ModernKey"
                          Whitespace@1296..1297 " "
                        STRUCT_LITERAL_FIELD_LIST@1297..1310
                          LBrace@1297..1298 "{"
                          Whitespace@1298..1299 " "
                          STRUCT_LITERAL_FIELD@1299..1309
                            Ident@1299..1304 "value"
                            Colon@1304..1305 ":"
                            Whitespace@1305..1306 " "
                            EXPR_INT@1306..1309
                              Int@1306..1308 "20"
                              Whitespace@1308..1309 " "
                          RBrace@1309..1310 "}"
                    RParen@1310..1311 ")"
                  Dot@1311..1312 "."
                  EXPR_IDENT@1312..1321
                    PATH@1312..1321
                      Ident@1312..1321 "to_string"
                ARG_LIST@1321..1323
                  LParen@1321..1322 "("
                  RParen@1322..1323 ")"
            RParen@1323..1324 ")"
        Semi@1324..1325 ";"
        Whitespace@1325..1330 "\n    "
      STMT_LET@1330..1395
        LetKeyword@1330..1333 "let"
        Whitespace@1333..1334 " "
        PATTERN_VARIABLE@1334..1344
          Ident@1334..1344 "legacy_map"
        Colon@1344..1345 ":"
        Whitespace@1345..1346 " "
        TYPE_TAPP@1346..1373
          PATH@1346..1353
            Ident@1346..1353 "HashMap"
          TYPE_PARAM_LIST@1353..1373
            LBracket@1353..1354 "["
            TYPE_TAPP@1354..1363
              PATH@1354..1363
                Ident@1354..1363 "LegacyKey"
            Comma@1363..1364 ","
            Whitespace@1364..1365 " "
            TYPE_STRING@1365..1371
              StringKeyword@1365..1371 "string"
            RBracket@1371..1372 "]"
            Whitespace@1372..1373 " "
        Eq@1373..1374 "="
        Whitespace@1374..1375 " "
        EXPR_CALL@1375..1389
          EXPR_IDENT@1375..1387
            PATH@1375..1387
              Ident@1375..1382 "HashMap"
              ColonColon@1382..1384 "::"
              Ident@1384..1387 "new"
          ARG_LIST@1387..1389
            LParen@1387..1388 "("
            RParen@1388..1389 ")"
        Semi@1389..1390 ";"
        Whitespace@1390..1395 "\n    "
      STMT_EXPR@1395..1433
        EXPR_CALL@1395..1427
          EXPR_BINARY@1395..1409
            EXPR_IDENT@1395..1405
              PATH@1395..1405
                Ident@1395..1405 "legacy_map"
            Dot@1405..1406 "."
            EXPR_IDENT@1406..1409
              PATH@1406..1409
                Ident@1406..1409 "set"
          ARG_LIST@1409..1427
            LParen@1409..1410 "("
            ARG@1410..1418
              EXPR_IDENT@1410..1416
                PATH@1410..1416
                  Ident@1410..1416 "legacy"
              Comma@1416..1417 ","
              Whitespace@1417..1418 " "
            ARG@1418..1426
              EXPR_STR@1418..1426
                Str@1418..1426 "\"legacy\""
            RParen@1426..1427 ")"
        Semi@1427..1428 ";"
        Whitespace@1428..1433 "\n    "
      STMT_EXPR@1433..1507
        EXPR_CALL@1433..1501
          EXPR_IDENT@1433..1440
            PATH@1433..1440
              Ident@1433..1440 "println"
          ARG_LIST@1440..1501
            LParen@1440..1441 "("
            ARG@1441..1500
              EXPR_CALL@1441..1500
                EXPR_BINARY@1441..1489
                  EXPR_CALL@1441..1479
                    EXPR_BINARY@1441..1455
                      EXPR_IDENT@1441..1451
                        PATH@1441..1451
                          Ident@1441..1451 "legacy_map"
                      Dot@1451..1452 "."
                      EXPR_IDENT@1452..1455
                        PATH@1452..1455
                          Ident@1452..1455 "get"
                    ARG_LIST@1455..1479
                      LParen@1455..1456 "("
                      ARG@1456..1478
                        EXPR_STRUCT_LITERAL@1456..1478
                          PATH@1456..1466
                            Ident@1456..1465 "LegacyKey"
                            Whitespace@1465..1466 " "
                          STRUCT_LITERAL_FIELD_LIST@1466..1478
                            LBrace@1466..1467 "{"
                            Whitespace@1467..1468 " "
                            STRUCT_LITERAL_FIELD@1468..1477
                              Ident@1468..1473 "value"
                              Colon@1473..1474 ":"
                              Whitespace@1474..1475 " "
                              EXPR_INT@1475..1477
                                Int@1475..1476 "7"
                                Whitespace@1476..1477 " "
                            RBrace@1477..1478 "}"
                      RParen@1478..1479 ")"
                  Dot@1479..1480 "."
                  EXPR_IDENT@1480..1489
                    PATH@1480..1489
                      Ident@1480..1489 "unwrap_or"
                ARG_LIST@1489..1500
                  LParen@1489..1490 "("
                  ARG@1490..1499
                    EXPR_STR@1490..1499
                      Str@1490..1499 "\"missing\""
                  RParen@1499..1500 ")"
            RParen@1500..1501 ")"
        Semi@1501..1502 ";"
        Whitespace@1502..1507 "\n    "
      STMT_LET@1507..1572
        LetKeyword@1507..1510 "let"
        Whitespace@1510..1511 " "
        PATTERN_VARIABLE@1511..1521
          Ident@1511..1521 "modern_map"
        Colon@1521..1522 ":"
        Whitespace@1522..1523 " "
        TYPE_TAPP@1523..1550
          PATH@1523..1530
            Ident@1523..1530 "HashMap"
          TYPE_PARAM_LIST@1530..1550
            LBracket@1530..1531 "["
            TYPE_TAPP@1531..1540
              PATH@1531..1540
                Ident@1531..1540 "ModernKey"
            Comma@1540..1541 ","
            Whitespace@1541..1542 " "
            TYPE_STRING@1542..1548
              StringKeyword@1542..1548 "string"
            RBracket@1548..1549 "]"
            Whitespace@1549..1550 " "
        Eq@1550..1551 "="
        Whitespace@1551..1552 " "
        EXPR_CALL@1552..1566
          EXPR_IDENT@1552..1564
            PATH@1552..1564
              Ident@1552..1559 "HashMap"
              ColonColon@1559..1561 "::"
              Ident@1561..1564 "new"
          ARG_LIST@1564..1566
            LParen@1564..1565 "("
            RParen@1565..1566 ")"
        Semi@1566..1567 ";"
        Whitespace@1567..1572 "\n    "
      STMT_EXPR@1572..1610
        EXPR_CALL@1572..1604
          EXPR_BINARY@1572..1586
            EXPR_IDENT@1572..1582
              PATH@1572..1582
                Ident@1572..1582 "modern_map"
            Dot@1582..1583 "."
            EXPR_IDENT@1583..1586
              PATH@1583..1586
                Ident@1583..1586 "set"
          ARG_LIST@1586..1604
            LParen@1586..1587 "("
            ARG@1587..1595
              EXPR_IDENT@1587..1593
                PATH@1587..1593
                  Ident@1587..1593 "modern"
              Comma@1593..1594 ","
              Whitespace@1594..1595 " "
            ARG@1595..1603
              EXPR_STR@1595..1603
                Str@1595..1603 "\"modern\""
            RParen@1603..1604 ")"
        Semi@1604..1605 ";"
        Whitespace@1605..1610 "\n    "
      STMT_EXPR@1610..1685
        EXPR_CALL@1610..1679
          EXPR_IDENT@1610..1617
            PATH@1610..1617
              Ident@1610..1617 "println"
          ARG_LIST@1617..1679
            LParen@1617..1618 "("
            ARG@1618..1678
              EXPR_CALL@1618..1678
                EXPR_BINARY@1618..1667
                  EXPR_CALL@1618..1657
                    EXPR_BINARY@1618..1632
                      EXPR_IDENT@1618..1628
                        PATH@1618..1628
                          Ident@1618..1628 "modern_map"
                      Dot@1628..1629 "."
                      EXPR_IDENT@1629..1632
                        PATH@1629..1632
                          Ident@1629..1632 "get"
                    ARG_LIST@1632..1657
                      LParen@1632..1633 "("
                      ARG@1633..1656
                        EXPR_STRUCT_LITERAL@1633..1656
                          PATH@1633..1643
                            Ident@1633..1642 "ModernKey"
                            Whitespace@1642..1643 " "
                          STRUCT_LITERAL_FIELD_LIST@1643..1656
                            LBrace@1643..1644 "{"
                            Whitespace@1644..1645 " "
                            STRUCT_LITERAL_FIELD@1645..1655
                              Ident@1645..1650 "value"
                              Colon@1650..1651 ":"
                              Whitespace@1651..1652 " "
                              EXPR_INT@1652..1655
                                Int@1652..1654 "19"
                                Whitespace@1654..1655 " "
                            RBrace@1655..1656 "}"
                      RParen@1656..1657 ")"
                  Dot@1657..1658 "."
                  EXPR_IDENT@1658..1667
                    PATH@1658..1667
                      Ident@1658..1667 "unwrap_or"
                ARG_LIST@1667..1678
                  LParen@1667..1668 "("
                  ARG@1668..1677
                    EXPR_STR@1668..1677
                      Str@1668..1677 "\"missing\""
                  RParen@1677..1678 ")"
            RParen@1678..1679 ")"
        Semi@1679..1680 ";"
        Whitespace@1680..1685 "\n    "
      STMT_LET@1685..1719
        LetKeyword@1685..1688 "let"
        Whitespace@1688..1689 " "
        PATTERN_VARIABLE@1689..1694
          Ident@1689..1693 "high"
          Whitespace@1693..1694 " "
        Eq@1694..1695 "="
        Whitespace@1695..1696 " "
        EXPR_STRUCT_LITERAL@1696..1713
          PATH@1696..1701
            Ident@1696..1700 "Rank"
            Whitespace@1700..1701 " "
          STRUCT_LITERAL_FIELD_LIST@1701..1713
            LBrace@1701..1702 "{"
            Whitespace@1702..1703 " "
            STRUCT_LITERAL_FIELD@1703..1712
              Ident@1703..1708 "value"
              Colon@1708..1709 ":"
              Whitespace@1709..1710 " "
              EXPR_INT@1710..1712
                Int@1710..1711 "2"
                Whitespace@1711..1712 " "
            RBrace@1712..1713 "}"
        Semi@1713..1714 ";"
        Whitespace@1714..1719 "\n    "
      STMT_LET@1719..1752
        LetKeyword@1719..1722 "let"
        Whitespace@1722..1723 " "
        PATTERN_VARIABLE@1723..1727
          Ident@1723..1726 "low"
          Whitespace@1726..1727 " "
        Eq@1727..1728 "="
        Whitespace@1728..1729 " "
        EXPR_STRUCT_LITERAL@1729..1746
          PATH@1729..1734
            Ident@1729..1733 "Rank"
            Whitespace@1733..1734 " "
          STRUCT_LITERAL_FIELD_LIST@1734..1746
            LBrace@1734..1735 "{"
            Whitespace@1735..1736 " "
            STRUCT_LITERAL_FIELD@1736..1745
              Ident@1736..1741 "value"
              Colon@1741..1742 ":"
              Whitespace@1742..1743 " "
              EXPR_INT@1743..1745
                Int@1743..1744 "1"
                Whitespace@1744..1745 " "
            RBrace@1745..1746 "}"
        Semi@1746..1747 ";"
        Whitespace@1747..1752 "\n    "
      STMT_EXPR@1752..1791
        EXPR_CALL@1752..1785
          EXPR_IDENT@1752..1759
            PATH@1752..1759
              Ident@1752..1759 "println"
          ARG_LIST@1759..1785
            LParen@1759..1760 "("
            ARG@1760..1784
              EXPR_CALL@1760..1784
                EXPR_BINARY@1760..1782
                  EXPR_PAREN@1760..1772
                    LParen@1760..1761 "("
                    EXPR_BINARY@1761..1771
                      EXPR_IDENT@1761..1766
                        PATH@1761..1766
                          Ident@1761..1765 "high"
                          Whitespace@1765..1766 " "
                      Less@1766..1767 "<"
                      Whitespace@1767..1768 " "
                      EXPR_IDENT@1768..1771
                        PATH@1768..1771
                          Ident@1768..1771 "low"
                    RParen@1771..1772 ")"
                  Dot@1772..1773 "."
                  EXPR_IDENT@1773..1782
                    PATH@1773..1782
                      Ident@1773..1782 "to_string"
                ARG_LIST@1782..1784
                  LParen@1782..1783 "("
                  RParen@1783..1784 ")"
            RParen@1784..1785 ")"
        Semi@1785..1786 ";"
        Whitespace@1786..1791 "\n    "
      STMT_EXPR@1791..1832
        EXPR_CALL@1791..1826
          EXPR_IDENT@1791..1798
            PATH@1791..1798
              Ident@1791..1798 "println"
          ARG_LIST@1798..1826
            LParen@1798..1799 "("
            ARG@1799..1825
              EXPR_CALL@1799..1825
                EXPR_BINARY@1799..1823
                  EXPR_PAREN@1799..1813
                    LParen@1799..1800 "("
                    EXPR_BINARY@1800..1812
                      EXPR_IDENT@1800..1805
                        PATH@1800..1805
                          Ident@1800..1804 "high"
                          Whitespace@1804..1805 " "
                      LessEq@1805..1807 "<="
                      Whitespace@1807..1808 " "
                      EXPR_IDENT@1808..1812
                        PATH@1808..1812
                          Ident@1808..1812 "high"
                    RParen@1812..1813 ")"
                  Dot@1813..1814 "."
                  EXPR_IDENT@1814..1823
                    PATH@1814..1823
                      Ident@1814..1823 "to_string"
                ARG_LIST@1823..1825
                  LParen@1823..1824 "("
                  RParen@1824..1825 ")"
            RParen@1825..1826 ")"
        Semi@1826..1827 ";"
        Whitespace@1827..1832 "\n    "
      STMT_EXPR@1832..1871
        EXPR_CALL@1832..1865
          EXPR_IDENT@1832..1839
            PATH@1832..1839
              Ident@1832..1839 "println"
          ARG_LIST@1839..1865
            LParen@1839..1840 "("
            ARG@1840..1864
              EXPR_CALL@1840..1864
                EXPR_BINARY@1840..1862
                  EXPR_PAREN@1840..1852
                    LParen@1840..1841 "("
                    EXPR_BINARY@1841..1851
                      EXPR_IDENT@1841..1845
                        PATH@1841..1845
                          Ident@1841..1844 "low"
                          Whitespace@1844..1845 " "
                      Greater@1845..1846 ">"
                      Whitespace@1846..1847 " "
                      EXPR_IDENT@1847..1851
                        PATH@1847..1851
                          Ident@1847..1851 "high"
                    RParen@1851..1852 ")"
                  Dot@1852..1853 "."
                  EXPR_IDENT@1853..1862
                    PATH@1853..1862
                      Ident@1853..1862 "to_string"
                ARG_LIST@1862..1864
                  LParen@1862..1863 "("
                  RParen@1863..1864 ")"
            RParen@1864..1865 ")"
        Semi@1865..1866 ";"
        Whitespace@1866..1871 "\n    "
      EXPR_CALL@1871..1905
        EXPR_IDENT@1871..1878
          PATH@1871..1878
            Ident@1871..1878 "println"
        ARG_LIST@1878..1905
          LParen@1878..1879 "("
          ARG@1879..1903
            EXPR_CALL@1879..1903
              EXPR_BINARY@1879..1901
                EXPR_PAREN@1879..1891
                  LParen@1879..1880 "("
                  EXPR_BINARY@1880..1890
                    EXPR_IDENT@1880..1884
                      PATH@1880..1884
                        Ident@1880..1883 "low"
                        Whitespace@1883..1884 " "
                    GreaterEq@1884..1886 ">="
                    Whitespace@1886..1887 " "
                    EXPR_IDENT@1887..1890
                      PATH@1887..1890
                        Ident@1887..1890 "low"
                  RParen@1890..1891 ")"
                Dot@1891..1892 "."
                EXPR_IDENT@1892..1901
                  PATH@1892..1901
                    Ident@1892..1901 "to_string"
              ARG_LIST@1901..1903
                LParen@1901..1902 "("
                RParen@1902..1903 ")"
          RParen@1903..1904 ")"
          Whitespace@1904..1905 "\n"
      RBrace@1905..1906 "}"
      Whitespace@1906..1907 "\n"