FILE@0..1905
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..12
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..12 "cmp"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..84
    ATTRIBUTE_LIST@15..46
      ATTRIBUTE@15..46
        Pound@15..16 "#"
        LBracket@16..17 "["
        Ident@17..23 "derive"
        LParen@23..24 "("
        Ident@24..33 "PartialEq"
        Comma@33..34 ","
        Whitespace@34..35 " "
        Ident@35..37 "Eq"
        Comma@37..38 ","
        Whitespace@38..39 " "
        Ident@39..43 "Hash"
        RParen@43..44 ")"
        RBracket@44..45 "]"
        Whitespace@45..46 "\n"
    StructKeyword@46..52 "struct"
    Whitespace@52..53 " "
    Ident@53..62 "LegacyKey"
    Whitespace@62..63 " "
    LBrace@63..64 "{"
    Whitespace@64..69 "\n    "
    STRUCT_FIELD_LIST@69..84
      STRUCT_FIELD@69..79
        Ident@69..74 "value"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_INT@76..79
          IntKeyword@76..79 "int"
      Comma@79..80 ","
      Whitespace@80..81 "\n"
      RBrace@81..82 "}"
      Whitespace@82..84 "\n\n"
  STRUCT@84..122
    StructKeyword@84..90 "struct"
    Whitespace@90..91 " "
    Ident@91..100 "ModernKey"
    Whitespace@100..101 " "
    LBrace@101..102 "{"
    Whitespace@102..107 "\n    "
    STRUCT_FIELD_LIST@107..122
      STRUCT_FIELD@107..117
        Ident@107..112 "value"
        Colon@112..113 ":"
        Whitespace@113..114 " "
        TYPE_INT@114..117
          IntKeyword@114..117 "int"
      Comma@117..118 ","
      Whitespace@118..119 "\n"
      RBrace@119..120 "}"
      Whitespace@120..122 "\n\n"
  IMPL@122..261
    ImplKeyword@122..126 "impl"
    Whitespace@126..127 " "
    TYPE_TAPP@127..137
      PATH@127..137
        Ident@127..136 "PartialEq"
        Whitespace@136..137 " "
    ForKeyword@137..140 "for"
    Whitespace@140..141 " "
    TYPE_TAPP@141..151
      PATH@141..151
        Ident@141..150 "ModernKey"
        Whitespace@150..151 " "
    LBrace@151..152 "{"
    Whitespace@152..157 "\n    "
    FN@157..258
      FnKeyword@157..159 "fn"
      Whitespace@159..160 " "
      Ident@160..162 "eq"
      PARAM_LIST@162..198
        LParen@162..163 "("
        PARAM@163..180
          Ident@163..167 "self"
          Colon@167..168 ":"
          Whitespace@168..169 " "
          TYPE_TAPP@169..178
            PATH@169..178
              Ident@169..178 "ModernKey"
          Comma@178..179 ","
          Whitespace@179..180 " "
        PARAM@180..196
          Ident@180..185 "other"
          Colon@185..186 ":"
          Whitespace@186..187 " "
          TYPE_TAPP@187..196
            PATH@187..196
              Ident@187..196 "ModernKey"
        RParen@196..197 ")"
        Whitespace@197..198 " "
      Arrow@198..200 "->"
      Whitespace@200..201 " "
      TYPE_BOOL@201..206
        BoolKeyword@201..205 "bool"
        Whitespace@205..206 " "
      BLOCK@206..258
        LBrace@206..207 "{"
        Whitespace@207..216 "\n        "
        EXPR_BINARY@216..256
          EXPR_BINARY@216..232
            EXPR_BINARY@216..227
              EXPR_IDENT@216..220
                PATH@216..220
                  Ident@216..220 "self"
              Dot@220..221 "."
              EXPR_IDENT@221..227
                PATH@221..227
                  Ident@221..226 "value"
                  Whitespace@226..227 " "
            Percent@227..228 "%"
            Whitespace@228..229 " "
            EXPR_INT@229..232
              Int@229..231 "10"
              Whitespace@231..232 " "
          EqEq@232..234 "=="
          Whitespace@234..235 " "
          EXPR_BINARY@235..256
            EXPR_BINARY@235..247
              EXPR_IDENT@235..240
                PATH@235..240
                  Ident@235..240 "other"
              Dot@240..241 "."
              EXPR_IDENT@241..247
                PATH@241..247
                  Ident@241..246 "value"
                  Whitespace@246..247 " "
            Percent@247..248 "%"
            Whitespace@248..249 " "
            EXPR_INT@249..256
              Int@249..251 "10"
              Whitespace@251..256 "\n    "
        RBrace@256..257 "}"
        Whitespace@257..258 "\n"
    RBrace@258..259 "}"
    Whitespace@259..261 "\n\n"
  IMPL@261..287
    ImplKeyword@261..265 "impl"
    Whitespace@265..266 " "
    TYPE_TAPP@266..269
      PATH@266..269
        Ident@266..268 "Eq"
        Whitespace@268..269 " "
    ForKeyword@269..272 "for"
    Whitespace@272..273 " "
    TYPE_TAPP@273..283
      PATH@273..283
        Ident@273..282 "ModernKey"
        Whitespace@282..283 " "
    LBrace@283..284 "{"
    RBrace@284..285 "}"
    Whitespace@285..287 "\n\n"
  IMPL@287..399
    ImplKeyword@287..291 "impl"
    Whitespace@291..292 " "
    TYPE_TAPP@292..297
      PATH@292..297
        Ident@292..296 "Hash"
        Whitespace@296..297 " "
    ForKeyword@297..300 "for"
    Whitespace@300..301 " "
    TYPE_TAPP@301..311
      PATH@301..311
        Ident@301..310 "ModernKey"
        Whitespace@310..311 " "
    LBrace@311..312 "{"
    Whitespace@312..317 "\n    "
    FN@317..396
      FnKeyword@317..319 "fn"
      Whitespace@319..320 " "
      Ident@320..324 "hash"
      PARAM_LIST@324..342
        LParen@324..325 "("
        PARAM@325..340
          Ident@325..329 "self"
          Colon@329..330 ":"
          Whitespace@330..331 " "
          TYPE_TAPP@331..340
            PATH@331..340
              Ident@331..340 "ModernKey"
        RParen@340..341 ")"
        Whitespace@341..342 " "
      Arrow@342..344 "->"
      Whitespace@344..345 " "
      TYPE_UINT64@345..352
        Uint64Keyword@345..351 "uint64"
        Whitespace@351..352 " "
      BLOCK@352..396
        LBrace@352..353 "{"
        Whitespace@353..362 "\n        "
        EXPR_CAST@362..394
          EXPR_PAREN@362..380
            LParen@362..363 "("
            EXPR_BINARY@363..378
              EXPR_BINARY@363..374
                EXPR_IDENT@363..367
                  PATH@363..367
                    Ident@363..367 "self"
                Dot@367..368 "."
                EXPR_IDENT@368..374
                  PATH@368..374
                    Ident@368..373 "value"
                    Whitespace@373..374 " "
              Percent@374..375 "%"
              Whitespace@375..376 " "
              EXPR_INT@376..378
                Int@376..378 "10"
            RParen@378..379 ")"
            Whitespace@379..380 " "
          AsKeyword@380..382 "as"
          Whitespace@382..383 " "
          TYPE_UINT64@383..394
            Uint64Keyword@383..389 "uint64"
            Whitespace@389..394 "\n    "
        RBrace@394..395 "}"
        Whitespace@395..396 "\n"
    RBrace@396..397 "}"
    Whitespace@397..399 "\n\n"
  STRUCT@399..432
    StructKeyword@399..405 "struct"
    Whitespace@405..406 " "
    Ident@406..410 "Rank"
    Whitespace@410..411 " "
    LBrace@411..412 "{"
    Whitespace@412..417 "\n    "
    STRUCT_FIELD_LIST@417..432
      STRUCT_FIELD@417..427
        Ident@417..422 "value"
        Colon@422..423 ":"
        Whitespace@423..424 " "
        TYPE_INT@424..427
          IntKeyword@424..427 "int"
      Comma@427..428 ","
      Whitespace@428..429 "\n"
      RBrace@429..430 "}"
      Whitespace@430..432 "\n\n"
  IMPL@432..546
    ImplKeyword@432..436 "impl"
    Whitespace@436..437 " "
    TYPE_TAPP@437..447
      PATH@437..447
        Ident@437..446 "PartialEq"
        Whitespace@446..447 " "
    ForKeyword@447..450 "for"
    Whitespace@450..451 " "
    TYPE_TAPP@451..456
      PATH@451..456
        Ident@451..455 "Rank"
        Whitespace@455..456 " "
    LBrace@456..457 "{"
    Whitespace@457..462 "\n    "
    FN@462..543
      FnKeyword@462..464 "fn"
      Whitespace@464..465 " "
      Ident@465..467 "eq"
      PARAM_LIST@467..493
        LParen@467..468 "("
        PARAM@468..480
          Ident@468..472 "self"
          Colon@472..473 ":"
          Whitespace@473..474 " "
          TYPE_TAPP@474..478
            PATH@474..478
              Ident@474..478 "Rank"
          Comma@478..479 ","
          Whitespace@479..480 " "
        PARAM@480..491
          Ident@480..485 "other"
          Colon@485..486 ":"
          Whitespace@486..487 " "
          TYPE_TAPP@487..491
            PATH@487..491
              Ident@487..491 "Rank"
        RParen@491..492 ")"
        Whitespace@492..493 " "
      Arrow@493..495 "->"
      Whitespace@495..496 " "
      TYPE_BOOL@496..501
        BoolKeyword@496..500 "bool"
        Whitespace@500..501 " "
      BLOCK@501..543
        LBrace@501..502 "{"
        Whitespace@502..511 "\n        "
        EXPR_BINARY@511..541
          EXPR_BINARY@511..522
            EXPR_IDENT@511..515
              PATH@511..515
                Ident@511..515 "self"
            Dot@515..516 "."
            EXPR_IDENT@516..522
              PATH@516..522
                Ident@516..521 "value"
                Whitespace@521..522 " "
          EqEq@522..524 "=="
          Whitespace@524..525 " "
          EXPR_BINARY@525..541
            EXPR_IDENT@525..530
              PATH@525..530
                Ident@525..530 "other"
            Dot@530..531 "."
            EXPR_IDENT@531..541
              PATH@531..541
                Ident@531..536 "value"
                Whitespace@536..541 "\n    "
        RBrace@541..542 "}"
        Whitespace@542..543 "\n"
    RBrace@543..544 "}"
    Whitespace@544..546 "\n\n"
  IMPL@546..929
    ImplKeyword@546..550 "impl"
    Whitespace@550..551 " "
    TYPE_TAPP@551..567
      PATH@551..567
        Ident@551..554 "cmp"
        ColonColon@554..556 "::"
        Ident@556..566 "PartialOrd"
        Whitespace@566..567 " "
    ForKeyword@567..570 "for"
    Whitespace@570..571 " "
    TYPE_TAPP@571..576
      PATH@571..576
        Ident@571..575 "Rank"
        Whitespace@575..576 " "
    LBrace@576..577 "{"
    Whitespace@577..582 "\n    "
    FN@582..926
      FnKeyword@582..584 "fn"
      Whitespace@584..585 " "
      Ident@585..596 "partial_cmp"
      PARAM_LIST@596..622
        LParen@596..597 "("
        PARAM@597..609
          Ident@597..601 "self"
          Colon@601..602 ":"
          Whitespace@602..603 " "
          TYPE_TAPP@603..607
            PATH@603..607
              Ident@603..607 "Rank"
          Comma@607..608 ","
          Whitespace@608..609 " "
        PARAM@609..620
          Ident@609..614 "other"
          Colon@614..615 ":"
          Whitespace@615..616 " "
          TYPE_TAPP@616..620
            PATH@616..620
              Ident@616..620 "Rank"
        RParen@620..621 ")"
        Whitespace@621..622 " "
      Arrow@622..624 "->"
      Whitespace@624..625 " "
      TYPE_TAPP@625..647
        PATH@625..631
          Ident@625..631 "Option"
        TYPE_PARAM_LIST@631..647
          LBracket@631..632 "["
          TYPE_TAPP@632..645
            PATH@632..645
              Ident@632..635 "cmp"
              ColonColon@635..637 "::"
              Ident@637..645 "Ordering"
          RBracket@645..646 "]"
          Whitespace@646..647 " "
      BLOCK@647..926
        LBrace@647..648 "{"
        Whitespace@648..657 "\n        "
        EXPR_CALL@657..924
          EXPR_IDENT@657..669
            PATH@657..669
              Ident@657..663 "Option"
              ColonColon@663..665 "::"
              Ident@665..669 "Some"
          ARG_LIST@669..924
            LParen@669..670 "("
            Whitespace@670..683 "\n            "
            ARG@683..918
              EXPR_IF@683..908
                IfKeyword@683..685 "if"
                Whitespace@685..686 " "
                EXPR_IF_COND@686..711
                  EXPR_BINARY@686..711
                    EXPR_BINARY@686..697
                      EXPR_IDENT@686..690
                        PATH@686..690
                          Ident@686..690 "self"
                      Dot@690..691 "."
                      EXPR_IDENT@691..697
                        PATH@691..697
                          Ident@691..696 "value"
                          Whitespace@696..697 " "
                    Greater@697..698 ">"
                    Whitespace@698..699 " "
                    EXPR_BINARY@699..711
                      EXPR_IDENT@699..704
                        PATH@699..704
                          Ident@699..704 "other"
                      Dot@704..705 "."
                      EXPR_IDENT@705..711
                        PATH@705..711
                          Ident@705..710 "value"
                          Whitespace@710..711 " "
                EXPR_IF_THEN@711..763
                  BLOCK@711..763
                    LBrace@711..712 "{"
                    Whitespace@712..729 "\n                "
                    EXPR_IDENT@729..761
                      PATH@729..761
                        Ident@729..732 "cmp"
                        ColonColon@732..734 "::"
                        Ident@734..742 "Ordering"
                        ColonColon@742..744 "::"
                        Ident@744..748 "Less"
                        Whitespace@748..761 "\n            "
                    RBrace@761..762 "}"
                    Whitespace@762..763 " "
                ElseKeyword@763..767 "else"
                Whitespace@767..768 " "
                EXPR_IF_ELSE@768..908
                  EXPR_IF@768..908
                    IfKeyword@768..770 "if"
                    Whitespace@770..771 " "
                    EXPR_IF_COND@771..796
                      EXPR_BINARY@771..796
                        EXPR_BINARY@771..782
                          EXPR_IDENT@771..775
                            PATH@771..775
                              Ident@771..775 "self"
                          Dot@775..776 "."
                          EXPR_IDENT@776..782
                            PATH@776..782
                              Ident@776..781 "value"
                              Whitespace@781..782 " "
                        Less@782..783 "<"
                        Whitespace@783..784 " "
                        EXPR_BINARY@784..796
                          EXPR_IDENT@784..789
                            PATH@784..789
                              Ident@784..789 "other"
                          Dot@789..790 "."
                          EXPR_IDENT@790..796
                            PATH@790..796
                              Ident@790..795 "value"
                              Whitespace@795..796 " "
                    EXPR_IF_THEN@796..851
                      BLOCK@796..851
                        LBrace@796..797 "{"
                        Whitespace@797..814 "\n                "
                        EXPR_IDENT@814..849
                          PATH@814..849
                            Ident@814..817 "cmp"
                            ColonColon@817..819 "::"
                            Ident@819..827 "Ordering"
                            ColonColon@827..829 "::"
                            Ident@829..836 "Greater"
                            Whitespace@836..849 "\n            "
                        RBrace@849..850 "}"
                        Whitespace@850..851 " "
                    ElseKeyword@851..855 "else"
                    Whitespace@855..856 " "
                    EXPR_IF_ELSE@856..908
                      BLOCK@856..908
                        LBrace@856..857 "{"
                        Whitespace@857..874 "\n                "
                        EXPR_IDENT@874..907
                          PATH@874..907
                            Ident@874..877 "cmp"
                            ColonColon@877..879 "::"
                            Ident@879..887 "Ordering"
                            ColonColon@887..889 "::"
                            Ident@889..894 "Equal"
                            Whitespace@894..907 "\n            "
                        RBrace@907..908 "}"
              Comma@908..909 ","
              Whitespace@909..918 "\n        "
            RParen@918..919 ")"
            Whitespace@919..924 "\n    "
        RBrace@924..925 "}"
        Whitespace@925..926 "\n"
    RBrace@926..927 "}"
    Whitespace@927..929 "\n\n"
  FN@929..995
    FnKeyword@929..931 "fn"
    Whitespace@931..932 " "
    Ident@932..937 "equal"
    GENERIC_LIST@937..944
      LBracket@937..938 "["
      GENERIC@938..943
        Ident@938..939 "T"
        Colon@939..940 ":"
        Whitespace@940..941 " "
        TRAIT_SET@941..943
          TYPE_TAPP@941..943
            PATH@941..943
              Ident@941..943 "Eq"
      RBracket@943..944 "]"
    PARAM_LIST@944..964
      LParen@944..945 "("
      PARAM@945..954
        Ident@945..949 "left"
        Colon@949..950 ":"
        Whitespace@950..951 " "
        TYPE_TAPP@951..952
          PATH@951..952
            Ident@951..952 "T"
        Comma@952..953 ","
        Whitespace@953..954 " "
      PARAM@954..962
        Ident@954..959 "right"
        Colon@959..960 ":"
        Whitespace@960..961 " "
        TYPE_TAPP@961..962
          PATH@961..962
            Ident@961..962 "T"
      RParen@962..963 ")"
      Whitespace@963..964 " "
    Arrow@964..966 "->"
    Whitespace@966..967 " "
    TYPE_BOOL@967..972
      BoolKeyword@967..971 "bool"
      Whitespace@971..972 " "
    BLOCK@972..995
      LBrace@972..973 "{"
      Whitespace@973..978 "\n    "
      EXPR_BINARY@978..992
        EXPR_IDENT@978..983
          PATH@978..983
            Ident@978..982 "left"
            Whitespace@982..983 " "
        EqEq@983..985 "=="
        Whitespace@985..986 " "
        EXPR_IDENT@986..992
          PATH@986..992
            Ident@986..991 "right"
            Whitespace@991..992 "\n"
      RBrace@992..993 "}"
      Whitespace@993..995 "\n\n"
  FN@995..1905
    FnKeyword@995..997 "fn"
    Whitespace@997..998 " "
    Ident@998..1002 "main"
    PARAM_LIST@1002..1005
      LParen@1002..1003 "("
      RParen@1003..1004 ")"
      Whitespace@1004..1005 " "
    Arrow@1005..1007 "->"
    Whitespace@1007..1008 " "
    TYPE_UNIT@1008..1013
      UnitKeyword@1008..1012 "unit"
      Whitespace@1012..1013 " "
    BLOCK@1013..1905
      LBrace@1013..1014 "{"
      Whitespace@1014..1019 "\n    "
      STMT_LET@1019..1060
        LetKeyword@1019..1022 "let"
        Whitespace@1022..1023 " "
        PATTERN_VARIABLE@1023..1030
          Ident@1023..1029 "legacy"
          Whitespace@1029..1030 " "
        Eq@1030..1031 "="
        Whitespace@1031..1032 " "
        EXPR_STRUCT_LITERAL@1032..1054
          PATH@1032..1042
            Ident@1032..1041 "LegacyKey"
            Whitespace@1041..1042 " "
          STRUCT_LITERAL_FIELD_LIST@1042..1054
            LBrace@1042..1043 "{"
            Whitespace@1043..1044 " "
            STRUCT_LITERAL_FIELD@1044..1053
              Ident@1044..1049 "value"
              Colon@1049..1050 ":"
              Whitespace@1050..1051 " "
              EXPR_INT@1051..1053
                Int@1051..1052 "7"
                Whitespace@1052..1053 " "
            RBrace@1053..1054 "}"
        Semi@1054..1055 ";"
        Whitespace@1055..1060 "\n    "
      STMT_LET@1060..1101
        LetKeyword@1060..1063 "let"
        Whitespace@1063..1064 " "
        PATTERN_VARIABLE@1064..1071
          Ident@1064..1070 "modern"
          Whitespace@1070..1071 " "
        Eq@1071..1072 "="
        Whitespace@1072..1073 " "
        EXPR_STRUCT_LITERAL@1073..1095
          PATH@1073..1083
            Ident@1073..1082 "ModernKey"
            Whitespace@1082..1083 " "
          STRUCT_LITERAL_FIELD_LIST@1083..1095
            LBrace@1083..1084 "{"
            Whitespace@1084..1085 " "
            STRUCT_LITERAL_FIELD@1085..1094
              Ident@1085..1090 "value"
              Colon@1090..1091 ":"
              Whitespace@1091..1092 " "
              EXPR_INT@1092..1094
                Int@1092..1093 "9"
                Whitespace@1093..1094 " "
            RBrace@1094..1095 "}"
        Semi@1095..1096 ";"
        Whitespace@1096..1101 "\n    "
      STMT_EXPR@1101..1153
        EXPR_CALL@1101..1147
          EXPR_IDENT@1101..1108
            PATH@1101..1108
              Ident@1101..1108 "println"
          ARG_LIST@1108..1147
            LParen@1108..1109 "("
            ARG@1109..1146
              EXPR_CALL@1109..1146
                EXPR_IDENT@1109..1114
                  PATH@1109..1114
                    Ident@1109..1114 "equal"
                ARG_LIST@1114..1146
                  LParen@1114..1115 "("
                  ARG@1115..1123
                    EXPR_IDENT@1115..1121
                      PATH@1115..1121
                        Ident@1115..1121 "legacy"
                    Comma@1121..1122 ","
                    Whitespace@1122..1123 " "
                  ARG@1123..1145
                    EXPR_STRUCT_LITERAL@1123..1145
                      PATH@1123..1133
                        Ident@1123..1132 "LegacyKey"
                        Whitespace@1132..1133 " "
                      STRUCT_LITERAL_FIELD_LIST@1133..1145
                        LBrace@1133..1134 "{"
                        Whitespace@1134..1135 " "
                        STRUCT_LITERAL_FIELD@1135..1144
                          Ident@1135..1140 "value"
                          Colon@1140..1141 ":"
                          Whitespace@1141..1142 " "
                          EXPR_INT@1142..1144
                            Int@1142..1143 "7"
                            Whitespace@1143..1144 " "
                        RBrace@1144..1145 "}"
                  RParen@1145..1146 ")"
            RParen@1146..1147 ")"
        Semi@1147..1148 ";"
        Whitespace@1148..1153 "\n    "
      STMT_EXPR@1153..1213
        EXPR_CALL@1153..1207
          EXPR_IDENT@1153..1160
            PATH@1153..1160
              Ident@1153..1160 "println"
          ARG_LIST@1160..1207
            LParen@1160..1161 "("
            ARG@1161..1206
              EXPR_CALL@1161..1206
                EXPR_IDENT@1161..1174
                  PATH@1161..1174
                    Ident@1161..1170 "PartialEq"
                    ColonColon@1170..1172 "::"
                    Ident@1172..1174 "eq"
                ARG_LIST@1174..1206
                  LParen@1174..1175 "("
                  ARG@1175..1183
                    EXPR_IDENT@1175..1181
                      PATH@1175..1181
                        Ident@1175..1181 "legacy"
                    Comma@1181..1182 ","
                    Whitespace@1182..1183 " "
                  ARG@1183..1205
                    EXPR_STRUCT_LITERAL@1183..1205
                      PATH@1183..1193
                        Ident@1183..1192 "LegacyKey"
                        Whitespace@1192..1193 " "
                      STRUCT_LITERAL_FIELD_LIST@1193..1205
                        LBrace@1193..1194 "{"
                        Whitespace@1194..1195 " "
                        STRUCT_LITERAL_FIELD@1195..1204
                          Ident@1195..1200 "value"
                          Colon@1200..1201 ":"
                          Whitespace@1201..1202 " "
                          EXPR_INT@1202..1204
                            Int@1202..1203 "8"
                            Whitespace@1203..1204 " "
                        RBrace@1204..1205 "}"
                  RParen@1205..1206 ")"
            RParen@1206..1207 ")"
        Semi@1207..1208 ";"
        Whitespace@1208..1213 "\n    "
      STMT_EXPR@1213..1266
        EXPR_CALL@1213..1260
          EXPR_IDENT@1213..1220
            PATH@1213..1220
              Ident@1213..1220 "println"
          ARG_LIST@1220..1260
            LParen@1220..1221 "("
            ARG@1221..1259
              EXPR_CALL@1221..1259
                EXPR_IDENT@1221..1226
                  PATH@1221..1226
                    Ident@1221..1226 "equal"
                ARG_LIST@1226..1259
                  LParen@1226..1227 "("
                  ARG@1227..1235
                    EXPR_IDENT@1227..1233
                      PATH@1227..1233
                        Ident@1227..1233 "modern"
                    Comma@1233..1234 ","
                    Whitespace@1234..1235 " "
                  ARG@1235..1258
                    EXPR_STRUCT_LITERAL@1235..1258
                      PATH@1235..1245
                        Ident@1235..1244 "ModernKey"
                        Whitespace@1244..1245 " "
                      STRUCT_LITERAL_FIELD_LIST@1245..1258
                        LBrace@1245..1246 "{"
                        Whitespace@1246..1247 " "
                        STRUCT_LITERAL_FIELD@1247..1257
                          Ident@1247..1252 "value"
                          Colon@1252..1253 ":"
                          Whitespace@1253..1254 " "
                          EXPR_INT@1254..1257
                            Int@1254..1256 "19"
                            Whitespace@1256..1257 " "
                        RBrace@1257..1258 "}"
                  RParen@1258..1259 ")"
            RParen@1259..1260 ")"
        Semi@1260..1261 ";"
        Whitespace@1261..1266 "\n    "
      STMT_EXPR@1266..1328
        EXPR_CALL@1266..1322
          EXPR_IDENT@1266..1273
            PATH@1266..1273
              Ident@1266..1273 "println"
          ARG_LIST@1273..1322
            LParen@1273..1274 "("
            ARG@1274..1321
              EXPR_CALL@1274..1321
                EXPR_BINARY@1274..1319
                  EXPR_PAREN@1274..1309
                    LParen@1274..1275 "("
                    EXPR_BINARY@1275..1308
                      EXPR_IDENT@1275..1282
                        PATH@1275..1282
                          Ident@1275..1281 "modern"
                          Whitespace@1281..1282 " "
                      NotEq@1282..1284 "!="
                      Whitespace@1284..1285 " "
                      EXPR_STRUCT_LITERAL@1285..1308
                        PATH@1285..1295
                          Ident@1285..1294 "ModernKey"
                          Whitespace@1294..1295 " "
                        STRUCT_LITERAL_FIELD_LIST@1295..1308
                          LBrace@1295..1296 "{"
                          Whitespace@1296..1297 " "
                          STRUCT_LITERAL_FIELD@1297..1307
                            Ident@1297..1302 "value"
                            Colon@1302..1303 ":"
                            Whitespace@1303..1304 " "
                            EXPR_INT@1304..1307
                              Int@1304..1306 "20"
                              Whitespace@1306..1307 " "
                          RBrace@1307..1308 "}"
                    RParen@1308..1309 ")"
                  Dot@1309..1310 "."
                  EXPR_IDENT@1310..1319
                    PATH@1310..1319
                      Ident@1310..1319 "to_string"
                ARG_LIST@1319..1321
                  LParen@1319..1320 "("
                  RParen@1320..1321 ")"
            RParen@1321..1322 ")"
        Semi@1322..1323 ";"
        Whitespace@1323..1328 "\n    "
      STMT_LET@1328..1393
        LetKeyword@1328..1331 "let"
        Whitespace@1331..1332 " "
        PATTERN_VARIABLE@1332..1342
          Ident@1332..1342 "legacy_map"
        Colon@1342..1343 ":"
        Whitespace@1343..1344 " "
        TYPE_TAPP@1344..1371
          PATH@1344..1351
            Ident@1344..1351 "HashMap"
          TYPE_PARAM_LIST@1351..1371
            LBracket@1351..1352 "["
            TYPE_TAPP@1352..1361
              PATH@1352..1361
                Ident@1352..1361 "LegacyKey"
            Comma@1361..1362 ","
            Whitespace@1362..1363 " "
            TYPE_STRING@1363..1369
              StringKeyword@1363..1369 "string"
            RBracket@1369..1370 "]"
            Whitespace@1370..1371 " "
        Eq@1371..1372 "="
        Whitespace@1372..1373 " "
        EXPR_CALL@1373..1387
          EXPR_IDENT@1373..1385
            PATH@1373..1385
              Ident@1373..1380 "HashMap"
              ColonColon@1380..1382 "::"
              Ident@1382..1385 "new"
          ARG_LIST@1385..1387
            LParen@1385..1386 "("
            RParen@1386..1387 ")"
        Semi@1387..1388 ";"
        Whitespace@1388..1393 "\n    "
      STMT_EXPR@1393..1431
        EXPR_CALL@1393..1425
          EXPR_BINARY@1393..1407
            EXPR_IDENT@1393..1403
              PATH@1393..1403
                Ident@1393..1403 "legacy_map"
            Dot@1403..1404 "."
            EXPR_IDENT@1404..1407
              PATH@1404..1407
                Ident@1404..1407 "set"
          ARG_LIST@1407..1425
            LParen@1407..1408 "("
            ARG@1408..1416
              EXPR_IDENT@1408..1414
                PATH@1408..1414
                  Ident@1408..1414 "legacy"
              Comma@1414..1415 ","
              Whitespace@1415..1416 " "
            ARG@1416..1424
              EXPR_STR@1416..1424
                Str@1416..1424 "\"legacy\""
            RParen@1424..1425 ")"
        Semi@1425..1426 ";"
        Whitespace@1426..1431 "\n    "
      STMT_EXPR@1431..1505
        EXPR_CALL@1431..1499
          EXPR_IDENT@1431..1438
            PATH@1431..1438
              Ident@1431..1438 "println"
          ARG_LIST@1438..1499
            LParen@1438..1439 "("
            ARG@1439..1498
              EXPR_CALL@1439..1498
                EXPR_BINARY@1439..1487
                  EXPR_CALL@1439..1477
                    EXPR_BINARY@1439..1453
                      EXPR_IDENT@1439..1449
                        PATH@1439..1449
                          Ident@1439..1449 "legacy_map"
                      Dot@1449..1450 "."
                      EXPR_IDENT@1450..1453
                        PATH@1450..1453
                          Ident@1450..1453 "get"
                    ARG_LIST@1453..1477
                      LParen@1453..1454 "("
                      ARG@1454..1476
                        EXPR_STRUCT_LITERAL@1454..1476
                          PATH@1454..1464
                            Ident@1454..1463 "LegacyKey"
                            Whitespace@1463..1464 " "
                          STRUCT_LITERAL_FIELD_LIST@1464..1476
                            LBrace@1464..1465 "{"
                            Whitespace@1465..1466 " "
                            STRUCT_LITERAL_FIELD@1466..1475
                              Ident@1466..1471 "value"
                              Colon@1471..1472 ":"
                              Whitespace@1472..1473 " "
                              EXPR_INT@1473..1475
                                Int@1473..1474 "7"
                                Whitespace@1474..1475 " "
                            RBrace@1475..1476 "}"
                      RParen@1476..1477 ")"
                  Dot@1477..1478 "."
                  EXPR_IDENT@1478..1487
                    PATH@1478..1487
                      Ident@1478..1487 "unwrap_or"
                ARG_LIST@1487..1498
                  LParen@1487..1488 "("
                  ARG@1488..1497
                    EXPR_STR@1488..1497
                      Str@1488..1497 "\"missing\""
                  RParen@1497..1498 ")"
            RParen@1498..1499 ")"
        Semi@1499..1500 ";"
        Whitespace@1500..1505 "\n    "
      STMT_LET@1505..1570
        LetKeyword@1505..1508 "let"
        Whitespace@1508..1509 " "
        PATTERN_VARIABLE@1509..1519
          Ident@1509..1519 "modern_map"
        Colon@1519..1520 ":"
        Whitespace@1520..1521 " "
        TYPE_TAPP@1521..1548
          PATH@1521..1528
            Ident@1521..1528 "HashMap"
          TYPE_PARAM_LIST@1528..1548
            LBracket@1528..1529 "["
            TYPE_TAPP@1529..1538
              PATH@1529..1538
                Ident@1529..1538 "ModernKey"
            Comma@1538..1539 ","
            Whitespace@1539..1540 " "
            TYPE_STRING@1540..1546
              StringKeyword@1540..1546 "string"
            RBracket@1546..1547 "]"
            Whitespace@1547..1548 " "
        Eq@1548..1549 "="
        Whitespace@1549..1550 " "
        EXPR_CALL@1550..1564
          EXPR_IDENT@1550..1562
            PATH@1550..1562
              Ident@1550..1557 "HashMap"
              ColonColon@1557..1559 "::"
              Ident@1559..1562 "new"
          ARG_LIST@1562..1564
            LParen@1562..1563 "("
            RParen@1563..1564 ")"
        Semi@1564..1565 ";"
        Whitespace@1565..1570 "\n    "
      STMT_EXPR@1570..1608
        EXPR_CALL@1570..1602
          EXPR_BINARY@1570..1584
            EXPR_IDENT@1570..1580
              PATH@1570..1580
                Ident@1570..1580 "modern_map"
            Dot@1580..1581 "."
            EXPR_IDENT@1581..1584
              PATH@1581..1584
                Ident@1581..1584 "set"
          ARG_LIST@1584..1602
            LParen@1584..1585 "("
            ARG@1585..1593
              EXPR_IDENT@1585..1591
                PATH@1585..1591
                  Ident@1585..1591 "modern"
              Comma@1591..1592 ","
              Whitespace@1592..1593 " "
            ARG@1593..1601
              EXPR_STR@1593..1601
                Str@1593..1601 "\"modern\""
            RParen@1601..1602 ")"
        Semi@1602..1603 ";"
        Whitespace@1603..1608 "\n    "
      STMT_EXPR@1608..1683
        EXPR_CALL@1608..1677
          EXPR_IDENT@1608..1615
            PATH@1608..1615
              Ident@1608..1615 "println"
          ARG_LIST@1615..1677
            LParen@1615..1616 "("
            ARG@1616..1676
              EXPR_CALL@1616..1676
                EXPR_BINARY@1616..1665
                  EXPR_CALL@1616..1655
                    EXPR_BINARY@1616..1630
                      EXPR_IDENT@1616..1626
                        PATH@1616..1626
                          Ident@1616..1626 "modern_map"
                      Dot@1626..1627 "."
                      EXPR_IDENT@1627..1630
                        PATH@1627..1630
                          Ident@1627..1630 "get"
                    ARG_LIST@1630..1655
                      LParen@1630..1631 "("
                      ARG@1631..1654
                        EXPR_STRUCT_LITERAL@1631..1654
                          PATH@1631..1641
                            Ident@1631..1640 "ModernKey"
                            Whitespace@1640..1641 " "
                          STRUCT_LITERAL_FIELD_LIST@1641..1654
                            LBrace@1641..1642 "{"
                            Whitespace@1642..1643 " "
                            STRUCT_LITERAL_FIELD@1643..1653
                              Ident@1643..1648 "value"
                              Colon@1648..1649 ":"
                              Whitespace@1649..1650 " "
                              EXPR_INT@1650..1653
                                Int@1650..1652 "19"
                                Whitespace@1652..1653 " "
                            RBrace@1653..1654 "}"
                      RParen@1654..1655 ")"
                  Dot@1655..1656 "."
                  EXPR_IDENT@1656..1665
                    PATH@1656..1665
                      Ident@1656..1665 "unwrap_or"
                ARG_LIST@1665..1676
                  LParen@1665..1666 "("
                  ARG@1666..1675
                    EXPR_STR@1666..1675
                      Str@1666..1675 "\"missing\""
                  RParen@1675..1676 ")"
            RParen@1676..1677 ")"
        Semi@1677..1678 ";"
        Whitespace@1678..1683 "\n    "
      STMT_LET@1683..1717
        LetKeyword@1683..1686 "let"
        Whitespace@1686..1687 " "
        PATTERN_VARIABLE@1687..1692
          Ident@1687..1691 "high"
          Whitespace@1691..1692 " "
        Eq@1692..1693 "="
        Whitespace@1693..1694 " "
        EXPR_STRUCT_LITERAL@1694..1711
          PATH@1694..1699
            Ident@1694..1698 "Rank"
            Whitespace@1698..1699 " "
          STRUCT_LITERAL_FIELD_LIST@1699..1711
            LBrace@1699..1700 "{"
            Whitespace@1700..1701 " "
            STRUCT_LITERAL_FIELD@1701..1710
              Ident@1701..1706 "value"
              Colon@1706..1707 ":"
              Whitespace@1707..1708 " "
              EXPR_INT@1708..1710
                Int@1708..1709 "2"
                Whitespace@1709..1710 " "
            RBrace@1710..1711 "}"
        Semi@1711..1712 ";"
        Whitespace@1712..1717 "\n    "
      STMT_LET@1717..1750
        LetKeyword@1717..1720 "let"
        Whitespace@1720..1721 " "
        PATTERN_VARIABLE@1721..1725
          Ident@1721..1724 "low"
          Whitespace@1724..1725 " "
        Eq@1725..1726 "="
        Whitespace@1726..1727 " "
        EXPR_STRUCT_LITERAL@1727..1744
          PATH@1727..1732
            Ident@1727..1731 "Rank"
            Whitespace@1731..1732 " "
          STRUCT_LITERAL_FIELD_LIST@1732..1744
            LBrace@1732..1733 "{"
            Whitespace@1733..1734 " "
            STRUCT_LITERAL_FIELD@1734..1743
              Ident@1734..1739 "value"
              Colon@1739..1740 ":"
              Whitespace@1740..1741 " "
              EXPR_INT@1741..1743
                Int@1741..1742 "1"
                Whitespace@1742..1743 " "
            RBrace@1743..1744 "}"
        Semi@1744..1745 ";"
        Whitespace@1745..1750 "\n    "
      STMT_EXPR@1750..1789
        EXPR_CALL@1750..1783
          EXPR_IDENT@1750..1757
            PATH@1750..1757
              Ident@1750..1757 "println"
          ARG_LIST@1757..1783
            LParen@1757..1758 "("
            ARG@1758..1782
              EXPR_CALL@1758..1782
                EXPR_BINARY@1758..1780
                  EXPR_PAREN@1758..1770
                    LParen@1758..1759 "("
                    EXPR_BINARY@1759..1769
                      EXPR_IDENT@1759..1764
                        PATH@1759..1764
                          Ident@1759..1763 "high"
                          Whitespace@1763..1764 " "
                      Less@1764..1765 "<"
                      Whitespace@1765..1766 " "
                      EXPR_IDENT@1766..1769
                        PATH@1766..1769
                          Ident@1766..1769 "low"
                    RParen@1769..1770 ")"
                  Dot@1770..1771 "."
                  EXPR_IDENT@1771..1780
                    PATH@1771..1780
                      Ident@1771..1780 "to_string"
                ARG_LIST@1780..1782
                  LParen@1780..1781 "("
                  RParen@1781..1782 ")"
            RParen@1782..1783 ")"
        Semi@1783..1784 ";"
        Whitespace@1784..1789 "\n    "
      STMT_EXPR@1789..1830
        EXPR_CALL@1789..1824
          EXPR_IDENT@1789..1796
            PATH@1789..1796
              Ident@1789..1796 "println"
          ARG_LIST@1796..1824
            LParen@1796..1797 "("
            ARG@1797..1823
              EXPR_CALL@1797..1823
                EXPR_BINARY@1797..1821
                  EXPR_PAREN@1797..1811
                    LParen@1797..1798 "("
                    EXPR_BINARY@1798..1810
                      EXPR_IDENT@1798..1803
                        PATH@1798..1803
                          Ident@1798..1802 "high"
                          Whitespace@1802..1803 " "
                      LessEq@1803..1805 "<="
                      Whitespace@1805..1806 " "
                      EXPR_IDENT@1806..1810
                        PATH@1806..1810
                          Ident@1806..1810 "high"
                    RParen@1810..1811 ")"
                  Dot@1811..1812 "."
                  EXPR_IDENT@1812..1821
                    PATH@1812..1821
                      Ident@1812..1821 "to_string"
                ARG_LIST@1821..1823
                  LParen@1821..1822 "("
                  RParen@1822..1823 ")"
            RParen@1823..1824 ")"
        Semi@1824..1825 ";"
        Whitespace@1825..1830 "\n    "
      STMT_EXPR@1830..1869
        EXPR_CALL@1830..1863
          EXPR_IDENT@1830..1837
            PATH@1830..1837
              Ident@1830..1837 "println"
          ARG_LIST@1837..1863
            LParen@1837..1838 "("
            ARG@1838..1862
              EXPR_CALL@1838..1862
                EXPR_BINARY@1838..1860
                  EXPR_PAREN@1838..1850
                    LParen@1838..1839 "("
                    EXPR_BINARY@1839..1849
                      EXPR_IDENT@1839..1843
                        PATH@1839..1843
                          Ident@1839..1842 "low"
                          Whitespace@1842..1843 " "
                      Greater@1843..1844 ">"
                      Whitespace@1844..1845 " "
                      EXPR_IDENT@1845..1849
                        PATH@1845..1849
                          Ident@1845..1849 "high"
                    RParen@1849..1850 ")"
                  Dot@1850..1851 "."
                  EXPR_IDENT@1851..1860
                    PATH@1851..1860
                      Ident@1851..1860 "to_string"
                ARG_LIST@1860..1862
                  LParen@1860..1861 "("
                  RParen@1861..1862 ")"
            RParen@1862..1863 ")"
        Semi@1863..1864 ";"
        Whitespace@1864..1869 "\n    "
      EXPR_CALL@1869..1903
        EXPR_IDENT@1869..1876
          PATH@1869..1876
            Ident@1869..1876 "println"
        ARG_LIST@1876..1903
          LParen@1876..1877 "("
          ARG@1877..1901
            EXPR_CALL@1877..1901
              EXPR_BINARY@1877..1899
                EXPR_PAREN@1877..1889
                  LParen@1877..1878 "("
                  EXPR_BINARY@1878..1888
                    EXPR_IDENT@1878..1882
                      PATH@1878..1882
                        Ident@1878..1881 "low"
                        Whitespace@1881..1882 " "
                    GreaterEq@1882..1884 ">="
                    Whitespace@1884..1885 " "
                    EXPR_IDENT@1885..1888
                      PATH@1885..1888
                        Ident@1885..1888 "low"
                  RParen@1888..1889 ")"
                Dot@1889..1890 "."
                EXPR_IDENT@1890..1899
                  PATH@1890..1899
                    Ident@1890..1899 "to_string"
              ARG_LIST@1899..1901
                LParen@1899..1900 "("
                RParen@1900..1901 ")"
          RParen@1901..1902 ")"
          Whitespace@1902..1903 "\n"
      RBrace@1903..1904 "}"
      Whitespace@1904..1905 "\n"