FILE@0..836
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..13
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..13 "task"
    Semi@13..14 ";"
    Whitespace@14..15 "\n"
  USE@15..31
    UseKeyword@15..18 "use"
    Whitespace@18..19 " "
    PATH@19..28
      Ident@19..22 "std"
      ColonColon@22..24 "::"
      Ident@24..28 "time"
    Semi@28..29 ";"
    Whitespace@29..31 "\n\n"
  FN@31..836
    FnKeyword@31..33 "fn"
    Whitespace@33..34 " "
    Ident@34..38 "main"
    PARAM_LIST@38..41
      LParen@38..39 "("
      RParen@39..40 ")"
      Whitespace@40..41 " "
    Arrow@41..43 "->"
    Whitespace@43..44 " "
    TYPE_TUPLE@44..47
      TYPE_LIST@44..47
        LParen@44..45 "("
        RParen@45..46 ")"
        Whitespace@46..47 " "
    BLOCK@47..836
      LBrace@47..48 "{"
      Whitespace@48..53 "\n    "
      STMT_LET@53..111
        LetKeyword@53..56 "let"
        Whitespace@56..57 " "
        PATTERN_VARIABLE@57..63
          Ident@57..62 "timer"
          Whitespace@62..63 " "
        Eq@63..64 "="
        Whitespace@64..65 " "
        EXPR_CALL@65..105
          EXPR_IDENT@65..81
            PATH@65..81
              Ident@65..69 "time"
              ColonColon@69..71 "::"
              Ident@71..76 "Timer"
              ColonColon@76..78 "::"
              Ident@78..81 "new"
          ARG_LIST@81..105
            LParen@81..82 "("
            ARG@82..104
              EXPR_CALL@82..104
                EXPR_IDENT@82..102
                  PATH@82..102
                    Ident@82..86 "time"
                    ColonColon@86..88 "::"
                    Ident@88..96 "Duration"
                    ColonColon@96..98 "::"
                    Ident@98..102 "zero"
                ARG_LIST@102..104
                  LParen@102..103 "("
                  RParen@103..104 ")"
            RParen@104..105 ")"
        Semi@105..106 ";"
        Whitespace@106..111 "\n    "
      STMT_EXPR@111..178
        EXPR_SELECT@111..172
          Ident@111..117 "select"
          Whitespace@117..118 " "
          SELECT_ARM_LIST@118..172
            LBrace@118..119 "{"
            Whitespace@119..128 "\n        "
            SELECT_RECV_ARM@128..165
              Ident@128..132 "recv"
              LParen@132..133 "("
              EXPR_CALL@133..145
                EXPR_BINARY@133..143
                  EXPR_IDENT@133..138
                    PATH@133..138
                      Ident@133..138 "timer"
                  Dot@138..139 "."
                  EXPR_IDENT@139..143
                    PATH@139..143
                      Ident@139..143 "done"
                ARG_LIST@143..145
                  LParen@143..144 "("
                  RParen@144..145 ")"
              RParen@145..146 ")"
              Whitespace@146..147 " "
              AsKeyword@147..149 "as"
              Whitespace@149..150 " "
              SELECT_RECV_BINDING@150..152
                WildcardKeyword@150..151 "_"
                Whitespace@151..152 " "
              FatArrow@152..154 "=>"
              Whitespace@154..155 " "
              EXPR_CALL@155..165
                EXPR_IDENT@155..162
                  PATH@155..162
                    Ident@155..162 "println"
                ARG_LIST@162..165
                  LParen@162..163 "("
                  ARG@163..164
                    EXPR_INT@163..164
                      Int@163..164 "1"
                  RParen@164..165 ")"
            Comma@165..166 ","
            Whitespace@166..171 "\n    "
            RBrace@171..172 "}"
        Semi@172..173 ";"
        Whitespace@173..178 "\n    "
      STMT_LET@178..248
        LetKeyword@178..181 "let"
        Whitespace@181..182 " "
        PATTERN_VARIABLE@182..190
          Ident@182..189 "stopped"
          Whitespace@189..190 " "
        Eq@190..191 "="
        Whitespace@191..192 " "
        EXPR_CALL@192..242
          EXPR_IDENT@192..208
            PATH@192..208
              Ident@192..196 "time"
              ColonColon@196..198 "::"
              Ident@198..203 "Timer"
              ColonColon@203..205 "::"
              Ident@205..208 "new"
          ARG_LIST@208..242
            LParen@208..209 "("
            ARG@209..241
              EXPR_CALL@209..241
                EXPR_IDENT@209..237
                  PATH@209..237
                    Ident@209..213 "time"
                    ColonColon@213..215 "::"
                    Ident@215..223 "Duration"
                    ColonColon@223..225 "::"
                    Ident@225..237 "from_seconds"
                ARG_LIST@237..241
                  LParen@237..238 "("
                  ARG@238..240
                    EXPR_INT@238..240
                      Int@238..240 "60"
                  RParen@240..241 ")"
            RParen@241..242 ")"
        Semi@242..243 ";"
        Whitespace@243..248 "\n    "
      STMT_EXPR@248..277
        EXPR_CALL@248..271
          EXPR_IDENT@248..255
            PATH@248..255
              Ident@248..255 "println"
          ARG_LIST@255..271
            LParen@255..256 "("
            ARG@256..270
              EXPR_CALL@256..270
                EXPR_BINARY@256..268
                  EXPR_IDENT@256..263
                    PATH@256..263
                      Ident@256..263 "stopped"
                  Dot@263..264 "."
                  EXPR_IDENT@264..268
                    PATH@264..268
                      Ident@264..268 "stop"
                ARG_LIST@268..270
                  LParen@268..269 "("
                  RParen@269..270 ")"
            RParen@270..271 ")"
        Semi@271..272 ";"
        Whitespace@272..277 "\n    "
      STMT_EXPR@277..386
        EXPR_SELECT@277..380
          Ident@277..283 "select"
          Whitespace@283..284 " "
          Ident@284..292 "priority"
          Whitespace@292..293 " "
          SELECT_ARM_LIST@293..380
            LBrace@293..294 "{"
            Whitespace@294..303 "\n        "
            SELECT_RECV_ARM@303..342
              Ident@303..307 "recv"
              LParen@307..308 "("
              EXPR_CALL@308..322
                EXPR_BINARY@308..320
                  EXPR_IDENT@308..315
                    PATH@308..315
                      Ident@308..315 "stopped"
                  Dot@315..316 "."
                  EXPR_IDENT@316..320
                    PATH@316..320
                      Ident@316..320 "done"
                ARG_LIST@320..322
                  LParen@320..321 "("
                  RParen@321..322 ")"
              RParen@322..323 ")"
              Whitespace@323..324 " "
              AsKeyword@324..326 "as"
              Whitespace@326..327 " "
              SELECT_RECV_BINDING@327..329
                WildcardKeyword@327..328 "_"
                Whitespace@328..329 " "
              FatArrow@329..331 "=>"
              Whitespace@331..332 " "
              EXPR_CALL@332..342
                EXPR_IDENT@332..339
                  PATH@332..339
                    Ident@332..339 "println"
                ARG_LIST@339..342
                  LParen@339..340 "("
                  ARG@340..341
                    EXPR_INT@340..341
                      Int@340..341 "2"
                  RParen@341..342 ")"
            Comma@342..343 ","
            Whitespace@343..352 "\n        "
            SELECT_DEFAULT_ARM@352..373
              Ident@352..359 "default"
              Whitespace@359..360 " "
              FatArrow@360..362 "=>"
              Whitespace@362..363 " "
              EXPR_CALL@363..373
                EXPR_IDENT@363..370
                  PATH@363..370
                    Ident@363..370 "println"
                ARG_LIST@370..373
                  LParen@370..371 "("
                  ARG@371..372
                    EXPR_INT@371..372
                      Int@371..372 "3"
                  RParen@372..373 ")"
            Comma@373..374 ","
            Whitespace@374..379 "\n    "
            RBrace@379..380 "}"
        Semi@380..381 ";"
        Whitespace@381..386 "\n    "
      STMT_EXPR@386..614
        EXPR_CALL@386..608
          EXPR_IDENT@386..397
            PATH@386..397
              Ident@386..390 "task"
              ColonColon@390..392 "::"
              Ident@392..397 "scope"
          ARG_LIST@397..608
            LParen@397..398 "("
            Whitespace@398..407 "\n        "
            ARG@407..607
              EXPR_CLOSURE@407..601
                CLOSURE_PARAM_LIST@407..428
                  Pipe@407..408 "|"
                  CLOSURE_PARAM@408..426
                    Ident@408..413 "scope"
                    Colon@413..414 ":"
                    Whitespace@414..415 " "
                    TYPE_TAPP@415..426
                      PATH@415..426
                        Ident@415..419 "task"
                        ColonColon@419..421 "::"
                        Ident@421..426 "Scope"
                  Pipe@426..427 "|"
                  Whitespace@427..428 " "
                EXPR_CLOSURE_BODY@428..601
                  BLOCK@428..601
                    LBrace@428..429 "{"
                    Whitespace@429..442 "\n            "
                    STMT_LET@442..505
                      LetKeyword@442..445 "let"
                      Whitespace@445..446 " "
                      PATTERN_VARIABLE@446..451
                        Ident@446..450 "work"
                        Whitespace@450..451 " "
                      Eq@451..452 "="
                      Whitespace@452..453 " "
                      EXPR_CALL@453..491
                        EXPR_BINARY@453..464
                          EXPR_IDENT@453..458
                            PATH@453..458
                              Ident@453..458 "scope"
                          Dot@458..459 "."
                          EXPR_IDENT@459..464
                            PATH@459..464
                              Ident@459..464 "spawn"
                        ARG_LIST@464..491
                          LParen@464..465 "("
                          ARG@465..490
                            EXPR_CLOSURE@465..490
                              CLOSURE_PARAM_LIST@465..488
                                Pipe@465..466 "|"
                                CLOSURE_PARAM@466..486
                                  WildcardKeyword@466..467 "_"
                                  Colon@467..468 ":"
                                  Whitespace@468..469 " "
                                  TYPE_TAPP@469..486
                                    PATH@469..486
                                      Ident@469..473 "task"
                                      ColonColon@473..475 "::"
                                      Ident@475..486 "CancelToken"
                                Pipe@486..487 "|"
                                Whitespace@487..488 " "
                              EXPR_CLOSURE_BODY@488..490
                                EXPR_INT@488..490
                                  Int@488..490 "42"
                          RParen@490..491 ")"
                      Semi@491..492 ";"
                      Whitespace@492..505 "\n            "
                    EXPR_SELECT@505..600
                      Ident@505..511 "select"
                      Whitespace@511..512 " "
                      SELECT_ARM_LIST@512..600
                        LBrace@512..513 "{"
                        Whitespace@513..530 "\n                "
                        SELECT_RECV_ARM@530..576
                          Ident@530..534 "recv"
                          LParen@534..535 "("
                          EXPR_CALL@535..546
                            EXPR_BINARY@535..544
                              EXPR_IDENT@535..539
                                PATH@535..539
                                  Ident@535..539 "work"
                              Dot@539..540 "."
                              EXPR_IDENT@540..544
                                PATH@540..544
                                  Ident@540..544 "done"
                            ARG_LIST@544..546
                              LParen@544..545 "("
                              RParen@545..546 ")"
                          RParen@546..547 ")"
                          Whitespace@547..548 " "
                          AsKeyword@548..550 "as"
                          Whitespace@550..551 " "
                          SELECT_RECV_BINDING@551..553
                            WildcardKeyword@551..552 "_"
                            Whitespace@552..553 " "
                          FatArrow@553..555 "=>"
                          Whitespace@555..556 " "
                          EXPR_CALL@556..576
                            EXPR_IDENT@556..563
                              PATH@556..563
                                Ident@556..563 "println"
                            ARG_LIST@563..576
                              LParen@563..564 "("
                              ARG@564..575
                                EXPR_CALL@564..575
                                  EXPR_BINARY@564..573
                                    EXPR_IDENT@564..568
                                      PATH@564..568
                                        Ident@564..568 "work"
                                    Dot@568..569 "."
                                    EXPR_IDENT@569..573
                                      PATH@569..573
                                        Ident@569..573 "join"
                                  ARG_LIST@573..575
                                    LParen@573..574 "("
                                    RParen@574..575 ")"
                              RParen@575..576 ")"
                        Comma@576..577 ","
                        Whitespace@577..590 "\n            "
                        RBrace@590..591 "}"
                        Whitespace@591..600 "\n        "
                    RBrace@600..601 "}"
              Comma@601..602 ","
              Whitespace@602..607 "\n    "
            RParen@607..608 ")"
        Semi@608..609 ";"
        Whitespace@609..614 "\n    "
      EXPR_CALL@614..834
        EXPR_IDENT@614..625
          PATH@614..625
            Ident@614..618 "task"
            ColonColon@618..620 "::"
            Ident@620..625 "scope"
        ARG_LIST@625..834
          LParen@625..626 "("
          Whitespace@626..635 "\n        "
          ARG@635..832
            EXPR_CLOSURE@635..826
              CLOSURE_PARAM_LIST@635..656
                Pipe@635..636 "|"
                CLOSURE_PARAM@636..654
                  Ident@636..641 "scope"
                  Colon@641..642 ":"
                  Whitespace@642..643 " "
                  TYPE_TAPP@643..654
                    PATH@643..654
                      Ident@643..647 "task"
                      ColonColon@647..649 "::"
                      Ident@649..654 "Scope"
                Pipe@654..655 "|"
                Whitespace@655..656 " "
              EXPR_CLOSURE_BODY@656..826
                BLOCK@656..826
                  LBrace@656..657 "{"
                  Whitespace@657..670 "\n            "
                  STMT_LET@670..710
                    LetKeyword@670..673 "let"
                    Whitespace@673..674 " "
                    PATTERN_VARIABLE@674..681
                      Ident@674..680 "cancel"
                      Whitespace@680..681 " "
                    Eq@681..682 "="
                    Whitespace@682..683 " "
                    EXPR_CALL@683..696
                      EXPR_BINARY@683..694
                        EXPR_IDENT@683..688
                          PATH@683..688
                            Ident@683..688 "scope"
                        Dot@688..689 "."
                        EXPR_IDENT@689..694
                          PATH@689..694
                            Ident@689..694 "token"
                      ARG_LIST@694..696
                        LParen@694..695 "("
                        RParen@695..696 ")"
                    Semi@696..697 ";"
                    Whitespace@697..710 "\n            "
                  STMT_EXPR@710..738
                    EXPR_CALL@710..724
                      EXPR_BINARY@710..722
                        EXPR_IDENT@710..715
                          PATH@710..715
                            Ident@710..715 "scope"
                        Dot@715..716 "."
                        EXPR_IDENT@716..722
                          PATH@716..722
                            Ident@716..722 "cancel"
                      ARG_LIST@722..724
                        LParen@722..723 "("
                        RParen@723..724 ")"
                    Semi@724..725 ";"
                    Whitespace@725..738 "\n            "
                  EXPR_SELECT@738..825
                    Ident@738..744 "select"
                    Whitespace@744..745 " "
                    SELECT_ARM_LIST@745..825
                      LBrace@745..746 "{"
                      Whitespace@746..763 "\n                "
                      SELECT_RECV_ARM@763..801
                        Ident@763..767 "recv"
                        LParen@767..768 "("
                        EXPR_CALL@768..781
                          EXPR_BINARY@768..779
                            EXPR_IDENT@768..774
                              PATH@768..774
                                Ident@768..774 "cancel"
                            Dot@774..775 "."
                            EXPR_IDENT@775..779
                              PATH@775..779
                                Ident@775..779 "done"
                          ARG_LIST@779..781
                            LParen@779..780 "("
                            RParen@780..781 ")"
                        RParen@781..782 ")"
                        Whitespace@782..783 " "
                        AsKeyword@783..785 "as"
                        Whitespace@785..786 " "
                        SELECT_RECV_BINDING@786..788
                          WildcardKeyword@786..787 "_"
                          Whitespace@787..788 " "
                        FatArrow@788..790 "=>"
                        Whitespace@790..791 " "
                        EXPR_CALL@791..801
                          EXPR_IDENT@791..798
                            PATH@791..798
                              Ident@791..798 "println"
                          ARG_LIST@798..801
                            LParen@798..799 "("
                            ARG@799..800
                              EXPR_INT@799..800
                                Int@799..800 "4"
                            RParen@800..801 ")"
                      Comma@801..802 ","
                      Whitespace@802..815 "\n            "
                      RBrace@815..816 "}"
                      Whitespace@816..825 "\n        "
                  RBrace@825..826 "}"
            Comma@826..827 ","
            Whitespace@827..832 "\n    "
          RParen@832..833 ")"
          Whitespace@833..834 "\n"
      RBrace@834..835 "}"
      Whitespace@835..836 "\n"