FILE@0..1379
  FN@0..130
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "show32"
    PARAM_LIST@9..41
      LParen@9..10 "("
      PARAM@10..25
        Ident@10..15 "label"
        Colon@15..16 ":"
        Whitespace@16..17 " "
        TYPE_STRING@17..23
          StringKeyword@17..23 "string"
        Comma@23..24 ","
        Whitespace@24..25 " "
      PARAM@25..39
        Ident@25..30 "value"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_FLOAT32@32..39
          Float32Keyword@32..39 "float32"
      RParen@39..40 ")"
      Whitespace@40..41 " "
    BLOCK@41..130
      LBrace@41..42 "{"
      Whitespace@42..47 "\n    "
      STMT_LET@47..94
        LetKeyword@47..50 "let"
        Whitespace@50..51 " "
        PATTERN_VARIABLE@51..59
          Ident@51..58 "message"
          Whitespace@58..59 " "
        Eq@59..60 "="
        Whitespace@60..61 " "
        EXPR_BINARY@61..88
          EXPR_IDENT@61..67
            PATH@61..67
              Ident@61..66 "label"
              Whitespace@66..67 " "
          Plus@67..68 "+"
          Whitespace@68..69 " "
          EXPR_CALL@69..88
            EXPR_BINARY@69..86
              EXPR_PAREN@69..76
                LParen@69..70 "("
                EXPR_IDENT@70..75
                  PATH@70..75
                    Ident@70..75 "value"
                RParen@75..76 ")"
              Dot@76..77 "."
              EXPR_IDENT@77..86
                PATH@77..86
                  Ident@77..86 "to_string"
            ARG_LIST@86..88
              LParen@86..87 "("
              RParen@87..88 ")"
        Semi@88..89 ";"
        Whitespace@89..94 "\n    "
      STMT_LET@94..124
        LetKeyword@94..97 "let"
        Whitespace@97..98 " "
        PATTERN_WILDCARD@98..100
          WildcardKeyword@98..99 "_"
          Whitespace@99..100 " "
        Eq@100..101 "="
        Whitespace@101..102 " "
        EXPR_CALL@102..118
          EXPR_IDENT@102..109
            PATH@102..109
              Ident@102..109 "println"
          ARG_LIST@109..118
            LParen@109..110 "("
            ARG@110..117
              EXPR_IDENT@110..117
                PATH@110..117
                  Ident@110..117 "message"
            RParen@117..118 ")"
        Semi@118..119 ";"
        Whitespace@119..124 "\n    "
      EXPR_UNIT@124..127
        LParen@124..125 "("
        RParen@125..126 ")"
        Whitespace@126..127 "\n"
      RBrace@127..128 "}"
      Whitespace@128..130 "\n\n"
  FN@130..260
    FnKeyword@130..132 "fn"
    Whitespace@132..133 " "
    Ident@133..139 "show64"
    PARAM_LIST@139..171
      LParen@139..140 "("
      PARAM@140..155
        Ident@140..145 "label"
        Colon@145..146 ":"
        Whitespace@146..147 " "
        TYPE_STRING@147..153
          StringKeyword@147..153 "string"
        Comma@153..154 ","
        Whitespace@154..155 " "
      PARAM@155..169
        Ident@155..160 "value"
        Colon@160..161 ":"
        Whitespace@161..162 " "
        TYPE_FLOAT64@162..169
          Float64Keyword@162..169 "float64"
      RParen@169..170 ")"
      Whitespace@170..171 " "
    BLOCK@171..260
      LBrace@171..172 "{"
      Whitespace@172..177 "\n    "
      STMT_LET@177..224
        LetKeyword@177..180 "let"
        Whitespace@180..181 " "
        PATTERN_VARIABLE@181..189
          Ident@181..188 "message"
          Whitespace@188..189 " "
        Eq@189..190 "="
        Whitespace@190..191 " "
        EXPR_BINARY@191..218
          EXPR_IDENT@191..197
            PATH@191..197
              Ident@191..196 "label"
              Whitespace@196..197 " "
          Plus@197..198 "+"
          Whitespace@198..199 " "
          EXPR_CALL@199..218
            EXPR_BINARY@199..216
              EXPR_PAREN@199..206
                LParen@199..200 "("
                EXPR_IDENT@200..205
                  PATH@200..205
                    Ident@200..205 "value"
                RParen@205..206 ")"
              Dot@206..207 "."
              EXPR_IDENT@207..216
                PATH@207..216
                  Ident@207..216 "to_string"
            ARG_LIST@216..218
              LParen@216..217 "("
              RParen@217..218 ")"
        Semi@218..219 ";"
        Whitespace@219..224 "\n    "
      STMT_LET@224..254
        LetKeyword@224..227 "let"
        Whitespace@227..228 " "
        PATTERN_WILDCARD@228..230
          WildcardKeyword@228..229 "_"
          Whitespace@229..230 " "
        Eq@230..231 "="
        Whitespace@231..232 " "
        EXPR_CALL@232..248
          EXPR_IDENT@232..239
            PATH@232..239
              Ident@232..239 "println"
          ARG_LIST@239..248
            LParen@239..240 "("
            ARG@240..247
              EXPR_IDENT@240..247
                PATH@240..247
                  Ident@240..247 "message"
            RParen@247..248 ")"
        Semi@248..249 ";"
        Whitespace@249..254 "\n    "
      EXPR_UNIT@254..257
        LParen@254..255 "("
        RParen@255..256 ")"
        Whitespace@256..257 "\n"
      RBrace@257..258 "}"
      Whitespace@258..260 "\n\n"
  FN@260..373
    FnKeyword@260..262 "fn"
    Whitespace@262..263 " "
    Ident@263..269 "lerp32"
    PARAM_LIST@269..311
      LParen@269..270 "("
      PARAM@270..282
        Ident@270..271 "a"
        Colon@271..272 ":"
        Whitespace@272..273 " "
        TYPE_FLOAT32@273..280
          Float32Keyword@273..280 "float32"
        Comma@280..281 ","
        Whitespace@281..282 " "
      PARAM@282..294
        Ident@282..283 "b"
        Colon@283..284 ":"
        Whitespace@284..285 " "
        TYPE_FLOAT32@285..292
          Float32Keyword@285..292 "float32"
        Comma@292..293 ","
        Whitespace@293..294 " "
      PARAM@294..309
        Ident@294..300 "weight"
        Colon@300..301 ":"
        Whitespace@301..302 " "
        TYPE_FLOAT32@302..309
          Float32Keyword@302..309 "float32"
      RParen@309..310 ")"
      Whitespace@310..311 " "
    Arrow@311..313 "->"
    Whitespace@313..314 " "
    TYPE_FLOAT32@314..322
      Float32Keyword@314..321 "float32"
      Whitespace@321..322 " "
    BLOCK@322..373
      LBrace@322..323 "{"
      Whitespace@323..328 "\n    "
      STMT_LET@328..351
        LetKeyword@328..331 "let"
        Whitespace@331..332 " "
        PATTERN_VARIABLE@332..338
          Ident@332..337 "delta"
          Whitespace@337..338 " "
        Eq@338..339 "="
        Whitespace@339..340 " "
        EXPR_BINARY@340..345
          EXPR_IDENT@340..342
            PATH@340..342
              Ident@340..341 "b"
              Whitespace@341..342 " "
          Minus@342..343 "-"
          Whitespace@343..344 " "
          EXPR_IDENT@344..345
            PATH@344..345
              Ident@344..345 "a"
        Semi@345..346 ";"
        Whitespace@346..351 "\n    "
      EXPR_BINARY@351..370
        EXPR_IDENT@351..353
          PATH@351..353
            Ident@351..352 "a"
            Whitespace@352..353 " "
        Plus@353..354 "+"
        Whitespace@354..355 " "
        EXPR_BINARY@355..370
          EXPR_IDENT@355..361
            PATH@355..361
              Ident@355..360 "delta"
              Whitespace@360..361 " "
          Star@361..362 "*"
          Whitespace@362..363 " "
          EXPR_IDENT@363..370
            PATH@363..370
              Ident@363..369 "weight"
              Whitespace@369..370 "\n"
      RBrace@370..371 "}"
      Whitespace@371..373 "\n\n"
  FN@373..478
    FnKeyword@373..375 "fn"
    Whitespace@375..376 " "
    Ident@376..391 "midpoint_energy"
    PARAM_LIST@391..416
      LParen@391..392 "("
      PARAM@392..404
        Ident@392..393 "x"
        Colon@393..394 ":"
        Whitespace@394..395 " "
        TYPE_FLOAT64@395..402
          Float64Keyword@395..402 "float64"
        Comma@402..403 ","
        Whitespace@403..404 " "
      PARAM@404..414
        Ident@404..405 "y"
        Colon@405..406 ":"
        Whitespace@406..407 " "
        TYPE_FLOAT64@407..414
          Float64Keyword@407..414 "float64"
      RParen@414..415 ")"
      Whitespace@415..416 " "
    Arrow@416..418 "->"
    Whitespace@418..419 " "
    TYPE_FLOAT64@419..427
      Float64Keyword@419..426 "float64"
      Whitespace@426..427 " "
    BLOCK@427..478
      LBrace@427..428 "{"
      Whitespace@428..433 "\n    "
      STMT_LET@433..462
        LetKeyword@433..436 "let"
        Whitespace@436..437 " "
        PATTERN_VARIABLE@437..441
          Ident@437..440 "sum"
          Whitespace@440..441 " "
        Eq@441..442 "="
        Whitespace@442..443 " "
        EXPR_BINARY@443..456
          EXPR_BINARY@443..449
            EXPR_IDENT@443..445
              PATH@443..445
                Ident@443..444 "x"
                Whitespace@444..445 " "
            Star@445..446 "*"
            Whitespace@446..447 " "
            EXPR_IDENT@447..449
              PATH@447..449
                Ident@447..448 "x"
                Whitespace@448..449 " "
          Plus@449..450 "+"
          Whitespace@450..451 " "
          EXPR_BINARY@451..456
            EXPR_IDENT@451..453
              PATH@451..453
                Ident@451..452 "y"
                Whitespace@452..453 " "
            Star@453..454 "*"
            Whitespace@454..455 " "
            EXPR_IDENT@455..456
              PATH@455..456
                Ident@455..456 "y"
        Semi@456..457 ";"
        Whitespace@457..462 "\n    "
      EXPR_BINARY@462..475
        EXPR_IDENT@462..466
          PATH@462..466
            Ident@462..465 "sum"
            Whitespace@465..466 " "
        Slash@466..467 "/"
        Whitespace@467..468 " "
        EXPR_FLOAT64@468..475
          Float64Lit@468..474 "2.0f64"
          Whitespace@474..475 "\n"
      RBrace@475..476 "}"
      Whitespace@476..478 "\n\n"
  FN@478..1379
    FnKeyword@478..480 "fn"
    Whitespace@480..481 " "
    Ident@481..485 "main"
    PARAM_LIST@485..488
      LParen@485..486 "("
      RParen@486..487 ")"
      Whitespace@487..488 " "
    BLOCK@488..1379
      LBrace@488..489 "{"
      Whitespace@489..494 "\n    "
      STMT_LET@494..530
        LetKeyword@494..497 "let"
        Whitespace@497..498 " "
        PATTERN_VARIABLE@498..505
          Ident@498..505 "start32"
        Colon@505..506 ":"
        Whitespace@506..507 " "
        TYPE_FLOAT32@507..515
          Float32Keyword@507..514 "float32"
          Whitespace@514..515 " "
        Eq@515..516 "="
        Whitespace@516..517 " "
        EXPR_FLOAT32@517..524
          Float32Lit@517..524 "1.25f32"
        Semi@524..525 ";"
        Whitespace@525..530 "\n    "
      STMT_LET@530..564
        LetKeyword@530..533 "let"
        Whitespace@533..534 " "
        PATTERN_VARIABLE@534..539
          Ident@534..539 "end32"
        Colon@539..540 ":"
        Whitespace@540..541 " "
        TYPE_FLOAT32@541..549
          Float32Keyword@541..548 "float32"
          Whitespace@548..549 " "
        Eq@549..550 "="
        Whitespace@550..551 " "
        EXPR_FLOAT32@551..558
          Float32Lit@551..558 "5.75f32"
        Semi@558..559 ";"
        Whitespace@559..564 "\n    "
      STMT_LET@564..596
        LetKeyword@564..567 "let"
        Whitespace@567..568 " "
        PATTERN_VARIABLE@568..572
          Ident@568..572 "half"
        Colon@572..573 ":"
        Whitespace@573..574 " "
        TYPE_FLOAT32@574..582
          Float32Keyword@574..581 "float32"
          Whitespace@581..582 " "
        Eq@582..583 "="
        Whitespace@583..584 " "
        EXPR_FLOAT32@584..590
          Float32Lit@584..590 "0.5f32"
        Semi@590..591 ";"
        Whitespace@591..596 "\n    "
      STMT_LET@596..630
        LetKeyword@596..599 "let"
        Whitespace@599..600 " "
        PATTERN_VARIABLE@600..605
          Ident@600..605 "scale"
        Colon@605..606 ":"
        Whitespace@606..607 " "
        TYPE_FLOAT32@607..615
          Float32Keyword@607..614 "float32"
          Whitespace@614..615 " "
        Eq@615..616 "="
        Whitespace@616..617 " "
        EXPR_FLOAT32@617..623
          Float32Lit@617..623 "2.0f32"
        Semi@623..624 ";"
        Whitespace@624..630 "\n\n    "
      STMT_LET@630..676
        LetKeyword@630..633 "let"
        Whitespace@633..634 " "
        PATTERN_VARIABLE@634..640
          Ident@634..639 "mid32"
          Whitespace@639..640 " "
        Eq@640..641 "="
        Whitespace@641..642 " "
        EXPR_CALL@642..670
          EXPR_IDENT@642..648
            PATH@642..648
              Ident@642..648 "lerp32"
          ARG_LIST@648..670
            LParen@648..649 "("
            ARG@649..658
              EXPR_IDENT@649..656
                PATH@649..656
                  Ident@649..656 "start32"
              Comma@656..657 ","
              Whitespace@657..658 " "
            ARG@658..665
              EXPR_IDENT@658..663
                PATH@658..663
                  Ident@658..663 "end32"
              Comma@663..664 ","
              Whitespace@664..665 " "
            ARG@665..669
              EXPR_IDENT@665..669
                PATH@665..669
                  Ident@665..669 "half"
            RParen@669..670 ")"
        Semi@670..671 ";"
        Whitespace@671..676 "\n    "
      STMT_LET@676..704
        LetKeyword@676..679 "let"
        Whitespace@679..680 " "
        PATTERN_VARIABLE@680..690
          Ident@680..689 "neg_end32"
          Whitespace@689..690 " "
        Eq@690..691 "="
        Whitespace@691..692 " "
        EXPR_PREFIX@692..698
          Minus@692..693 "-"
          EXPR_IDENT@693..698
            PATH@693..698
              Ident@693..698 "end32"
        Semi@698..699 ";"
        Whitespace@699..704 "\n    "
      STMT_LET@704..737
        LetKeyword@704..707 "let"
        Whitespace@707..708 " "
        PATTERN_VARIABLE@708..716
          Ident@708..715 "ratio32"
          Whitespace@715..716 " "
        Eq@716..717 "="
        Whitespace@717..718 " "
        EXPR_BINARY@718..731
          EXPR_IDENT@718..724
            PATH@718..724
              Ident@718..723 "end32"
              Whitespace@723..724 " "
          Slash@724..725 "/"
          Whitespace@725..726 " "
          EXPR_IDENT@726..731
            PATH@726..731
              Ident@726..731 "scale"
        Semi@731..732 ";"
        Whitespace@732..737 "\n    "
      STMT_LET@737..772
        LetKeyword@737..740 "let"
        Whitespace@740..741 " "
        PATTERN_VARIABLE@741..748
          Ident@741..747 "less32"
          Whitespace@747..748 " "
        Eq@748..749 "="
        Whitespace@749..750 " "
        EXPR_BINARY@750..765
          EXPR_IDENT@750..758
            PATH@750..758
              Ident@750..757 "start32"
              Whitespace@757..758 " "
          Less@758..759 "<"
          Whitespace@759..760 " "
          EXPR_IDENT@760..765
            PATH@760..765
              Ident@760..765 "end32"
        Semi@765..766 ";"
        Whitespace@766..772 "\n\n    "
      STMT_LET@772..802
        LetKeyword@772..775 "let"
        Whitespace@775..776 " "
        PATTERN_VARIABLE@776..778
          Ident@776..778 "dx"
        Colon@778..779 ":"
        Whitespace@779..780 " "
        TYPE_FLOAT64@780..788
          Float64Keyword@780..787 "float64"
          Whitespace@787..788 " "
        Eq@788..789 "="
        Whitespace@789..790 " "
        EXPR_FLOAT64@790..796
          Float64Lit@790..796 "6.5f64"
        Semi@796..797 ";"
        Whitespace@797..802 "\n    "
      STMT_LET@802..832
        LetKeyword@802..805 "let"
        Whitespace@805..806 " "
        PATTERN_VARIABLE@806..808
          Ident@806..808 "dy"
        Colon@808..809 ":"
        Whitespace@809..810 " "
        TYPE_FLOAT64@810..818
          Float64Keyword@810..817 "float64"
          Whitespace@817..818 " "
        Eq@818..819 "="
        Whitespace@819..820 " "
        EXPR_FLOAT64@820..826
          Float64Lit@820..826 "3.5f64"
        Semi@826..827 ";"
        Whitespace@827..832 "\n    "
      STMT_LET@832..868
        LetKeyword@832..835 "let"
        Whitespace@835..836 " "
        PATTERN_VARIABLE@836..843
          Ident@836..843 "quarter"
        Colon@843..844 ":"
        Whitespace@844..845 " "
        TYPE_FLOAT64@845..853
          Float64Keyword@845..852 "float64"
          Whitespace@852..853 " "
        Eq@853..854 "="
        Whitespace@854..855 " "
        EXPR_FLOAT64@855..862
          Float64Lit@855..862 "0.25f64"
        Semi@862..863 ";"
        Whitespace@863..868 "\n    "
      STMT_LET@868..919
        LetKeyword@868..871 "let"
        Whitespace@871..872 " "
        PATTERN_VARIABLE@872..878
          Ident@872..878 "energy"
        Colon@878..879 ":"
        Whitespace@879..880 " "
        TYPE_FLOAT64@880..888
          Float64Keyword@880..887 "float64"
          Whitespace@887..888 " "
        Eq@888..889 "="
        Whitespace@889..890 " "
        EXPR_CALL@890..913
          EXPR_IDENT@890..905
            PATH@890..905
              Ident@890..905 "midpoint_energy"
          ARG_LIST@905..913
            LParen@905..906 "("
            ARG@906..910
              EXPR_IDENT@906..908
                PATH@906..908
                  Ident@906..908 "dx"
              Comma@908..909 ","
              Whitespace@909..910 " "
            ARG@910..912
              EXPR_IDENT@910..912
                PATH@910..912
                  Ident@910..912 "dy"
            RParen@912..913 ")"
        Semi@913..914 ";"
        Whitespace@914..919 "\n    "
      STMT_LET@919..941
        LetKeyword@919..922 "let"
        Whitespace@922..923 " "
        PATTERN_VARIABLE@923..930
          Ident@923..929 "neg_dx"
          Whitespace@929..930 " "
        Eq@930..931 "="
        Whitespace@931..932 " "
        EXPR_PREFIX@932..935
          Minus@932..933 "-"
          EXPR_IDENT@933..935
            PATH@933..935
              Ident@933..935 "dx"
        Semi@935..936 ";"
        Whitespace@936..941 "\n    "
      STMT_LET@941..997
        LetKeyword@941..944 "let"
        Whitespace@944..945 " "
        PATTERN_VARIABLE@945..953
          Ident@945..953 "adjusted"
        Colon@953..954 ":"
        Whitespace@954..955 " "
        TYPE_FLOAT64@955..963
          Float64Keyword@955..962 "float64"
          Whitespace@962..963 " "
        Eq@963..964 "="
        Whitespace@964..965 " "
        EXPR_BINARY@965..991
          EXPR_BINARY@965..977
            EXPR_IDENT@965..972
              PATH@965..972
                Ident@965..971 "energy"
                Whitespace@971..972 " "
            Plus@972..973 "+"
            Whitespace@973..974 " "
            EXPR_IDENT@974..977
              PATH@974..977
                Ident@974..976 "dy"
                Whitespace@976..977 " "
          Minus@977..978 "-"
          Whitespace@978..979 " "
          EXPR_BINARY@979..991
            EXPR_IDENT@979..982
              PATH@979..982
                Ident@979..981 "dx"
                Whitespace@981..982 " "
            Star@982..983 "*"
            Whitespace@983..984 " "
            EXPR_IDENT@984..991
              PATH@984..991
                Ident@984..991 "quarter"
        Semi@991..992 ";"
        Whitespace@992..997 "\n    "
      STMT_LET@997..1034
        LetKeyword@997..1000 "let"
        Whitespace@1000..1001 " "
        PATTERN_VARIABLE@1001..1010
          Ident@1001..1010 "threshold"
        Colon@1010..1011 ":"
        Whitespace@1011..1012 " "
        TYPE_FLOAT64@1012..1020
          Float64Keyword@1012..1019 "float64"
          Whitespace@1019..1020 " "
        Eq@1020..1021 "="
        Whitespace@1021..1022 " "
        EXPR_FLOAT64@1022..1028
          Float64Lit@1022..1028 "4.0f64"
        Semi@1028..1029 ";"
        Whitespace@1029..1034 "\n    "
      STMT_LET@1034..1074
        LetKeyword@1034..1037 "let"
        Whitespace@1037..1038 " "
        PATTERN_VARIABLE@1038..1045
          Ident@1038..1044 "less64"
          Whitespace@1044..1045 " "
        Eq@1045..1046 "="
        Whitespace@1046..1047 " "
        EXPR_BINARY@1047..1067
          EXPR_IDENT@1047..1056
            PATH@1047..1056
              Ident@1047..1055 "adjusted"
              Whitespace@1055..1056 " "
          Less@1056..1057 "<"
          Whitespace@1057..1058 " "
          EXPR_IDENT@1058..1067
            PATH@1058..1067
              Ident@1058..1067 "threshold"
        Semi@1067..1068 ";"
        Whitespace@1068..1074 "\n\n    "
      STMT_EXPR@1074..1103
        EXPR_CALL@1074..1097
          EXPR_IDENT@1074..1080
            PATH@1074..1080
              Ident@1074..1080 "show32"
          ARG_LIST@1080..1097
            LParen@1080..1081 "("
            ARG@1081..1091
              EXPR_STR@1081..1089
                Str@1081..1089 "\"mid32=\""
              Comma@1089..1090 ","
              Whitespace@1090..1091 " "
            ARG@1091..1096
              EXPR_IDENT@1091..1096
                PATH@1091..1096
                  Ident@1091..1096 "mid32"
            RParen@1096..1097 ")"
        Semi@1097..1098 ";"
        Whitespace@1098..1103 "\n    "
      STMT_EXPR@1103..1140
        EXPR_CALL@1103..1134
          EXPR_IDENT@1103..1109
            PATH@1103..1109
              Ident@1103..1109 "show32"
          ARG_LIST@1109..1134
            LParen@1109..1110 "("
            ARG@1110..1124
              EXPR_STR@1110..1122
                Str@1110..1122 "\"neg_end32=\""
              Comma@1122..1123 ","
              Whitespace@1123..1124 " "
            ARG@1124..1133
              EXPR_IDENT@1124..1133
                PATH@1124..1133
                  Ident@1124..1133 "neg_end32"
            RParen@1133..1134 ")"
        Semi@1134..1135 ";"
        Whitespace@1135..1140 "\n    "
      STMT_EXPR@1140..1173
        EXPR_CALL@1140..1167
          EXPR_IDENT@1140..1146
            PATH@1140..1146
              Ident@1140..1146 "show32"
          ARG_LIST@1146..1167
            LParen@1146..1147 "("
            ARG@1147..1159
              EXPR_STR@1147..1157
                Str@1147..1157 "\"ratio32=\""
              Comma@1157..1158 ","
              Whitespace@1158..1159 " "
            ARG@1159..1166
              EXPR_IDENT@1159..1166
                PATH@1159..1166
                  Ident@1159..1166 "ratio32"
            RParen@1166..1167 ")"
        Semi@1167..1168 ";"
        Whitespace@1168..1173 "\n    "
      STMT_LET@1173..1229
        LetKeyword@1173..1176 "let"
        Whitespace@1176..1177 " "
        PATTERN_WILDCARD@1177..1179
          WildcardKeyword@1177..1178 "_"
          Whitespace@1178..1179 " "
        Eq@1179..1180 "="
        Whitespace@1180..1181 " "
        EXPR_CALL@1181..1222
          EXPR_IDENT@1181..1188
            PATH@1181..1188
              Ident@1181..1188 "println"
          ARG_LIST@1188..1222
            LParen@1188..1189 "("
            ARG@1189..1221
              EXPR_BINARY@1189..1221
                EXPR_STR@1189..1199
                  Str@1189..1198 "\"less32=\""
                  Whitespace@1198..1199 " "
                Plus@1199..1200 "+"
                Whitespace@1200..1201 " "
                EXPR_CALL@1201..1221
                  EXPR_BINARY@1201..1219
                    EXPR_PAREN@1201..1209
                      LParen@1201..1202 "("
                      EXPR_IDENT@1202..1208
                        PATH@1202..1208
                          Ident@1202..1208 "less32"
                      RParen@1208..1209 ")"
                    Dot@1209..1210 "."
                    EXPR_IDENT@1210..1219
                      PATH@1210..1219
                        Ident@1210..1219 "to_string"
                  ARG_LIST@1219..1221
                    LParen@1219..1220 "("
                    RParen@1220..1221 ")"
            RParen@1221..1222 ")"
        Semi@1222..1223 ";"
        Whitespace@1223..1229 "\n\n    "
      STMT_EXPR@1229..1260
        EXPR_CALL@1229..1254
          EXPR_IDENT@1229..1235
            PATH@1229..1235
              Ident@1229..1235 "show64"
          ARG_LIST@1235..1254
            LParen@1235..1236 "("
            ARG@1236..1247
              EXPR_STR@1236..1245
                Str@1236..1245 "\"energy=\""
              Comma@1245..1246 ","
              Whitespace@1246..1247 " "
            ARG@1247..1253
              EXPR_IDENT@1247..1253
                PATH@1247..1253
                  Ident@1247..1253 "energy"
            RParen@1253..1254 ")"
        Semi@1254..1255 ";"
        Whitespace@1255..1260 "\n    "
      STMT_EXPR@1260..1291
        EXPR_CALL@1260..1285
          EXPR_IDENT@1260..1266
            PATH@1260..1266
              Ident@1260..1266 "show64"
          ARG_LIST@1266..1285
            LParen@1266..1267 "("
            ARG@1267..1278
              EXPR_STR@1267..1276
                Str@1267..1276 "\"neg_dx=\""
              Comma@1276..1277 ","
              Whitespace@1277..1278 " "
            ARG@1278..1284
              EXPR_IDENT@1278..1284
                PATH@1278..1284
                  Ident@1278..1284 "neg_dx"
            RParen@1284..1285 ")"
        Semi@1285..1286 ";"
        Whitespace@1286..1291 "\n    "
      STMT_EXPR@1291..1326
        EXPR_CALL@1291..1320
          EXPR_IDENT@1291..1297
            PATH@1291..1297
              Ident@1291..1297 "show64"
          ARG_LIST@1297..1320
            LParen@1297..1298 "("
            ARG@1298..1311
              EXPR_STR@1298..1309
                Str@1298..1309 "\"adjusted=\""
              Comma@1309..1310 ","
              Whitespace@1310..1311 " "
            ARG@1311..1319
              EXPR_IDENT@1311..1319
                PATH@1311..1319
                  Ident@1311..1319 "adjusted"
            RParen@1319..1320 ")"
        Semi@1320..1321 ";"
        Whitespace@1321..1326 "\n    "
      STMT_LET@1326..1377
        LetKeyword@1326..1329 "let"
        Whitespace@1329..1330 " "
        PATTERN_WILDCARD@1330..1332
          WildcardKeyword@1330..1331 "_"
          Whitespace@1331..1332 " "
        Eq@1332..1333 "="
        Whitespace@1333..1334 " "
        EXPR_CALL@1334..1375
          EXPR_IDENT@1334..1341
            PATH@1334..1341
              Ident@1334..1341 "println"
          ARG_LIST@1341..1375
            LParen@1341..1342 "("
            ARG@1342..1374
              EXPR_BINARY@1342..1374
                EXPR_STR@1342..1352
                  Str@1342..1351 "\"less64=\""
                  Whitespace@1351..1352 " "
                Plus@1352..1353 "+"
                Whitespace@1353..1354 " "
                EXPR_CALL@1354..1374
                  EXPR_BINARY@1354..1372
                    EXPR_PAREN@1354..1362
                      LParen@1354..1355 "("
                      EXPR_IDENT@1355..1361
                        PATH@1355..1361
                          Ident@1355..1361 "less64"
                      RParen@1361..1362 ")"
                    Dot@1362..1363 "."
                    EXPR_IDENT@1363..1372
                      PATH@1363..1372
                        Ident@1363..1372 "to_string"
                  ARG_LIST@1372..1374
                    LParen@1372..1373 "("
                    RParen@1373..1374 ")"
            RParen@1374..1375 ")"
        Semi@1375..1376 ";"
        Whitespace@1376..1377 "\n"
      RBrace@1377..1378 "}"
      Whitespace@1378..1379 "\n"