FILE@0..1394
  FN@0..142
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "show32"
    PARAM_LIST@9..41
      LParen@9..10 "("
      PARAM@10..25
        Ident@10..15 "label"
        Colon@15..16 ":"
        Whitespace@16..17 " "
        TYPE_STRING@17..23
          StringKeyword@17..23 "string"
        Comma@23..24 ","
        Whitespace@24..25 " "
      PARAM@25..39
        Ident@25..30 "value"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_FLOAT32@32..39
          Float32Keyword@32..39 "float32"
      RParen@39..40 ")"
      Whitespace@40..41 " "
    BLOCK@41..142
      LBrace@41..42 "{"
      Whitespace@42..47 "\n    "
      STMT_LET@47..99
        LetKeyword@47..50 "let"
        Whitespace@50..51 " "
        PATTERN_VARIABLE@51..59
          Ident@51..58 "message"
          Whitespace@58..59 " "
        Eq@59..60 "="
        Whitespace@60..61 " "
        EXPR_BINARY@61..93
          EXPR_IDENT@61..67
            PATH@61..67
              Ident@61..66 "label"
              Whitespace@66..67 " "
          Plus@67..68 "+"
          Whitespace@68..69 " "
          EXPR_CALL@69..93
            EXPR_IDENT@69..86
              PATH@69..86
                Ident@69..86 "float32_to_string"
            ARG_LIST@86..93
              LParen@86..87 "("
              ARG@87..92
                EXPR_IDENT@87..92
                  PATH@87..92
                    Ident@87..92 "value"
              RParen@92..93 ")"
        Semi@93..94 ";"
        Whitespace@94..99 "\n    "
      STMT_LET@99..136
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_WILDCARD@103..105
          WildcardKeyword@103..104 "_"
          Whitespace@104..105 " "
        Eq@105..106 "="
        Whitespace@106..107 " "
        EXPR_CALL@107..130
          EXPR_IDENT@107..121
            PATH@107..121
              Ident@107..121 "string_println"
          ARG_LIST@121..130
            LParen@121..122 "("
            ARG@122..129
              EXPR_IDENT@122..129
                PATH@122..129
                  Ident@122..129 "message"
            RParen@129..130 ")"
        Semi@130..131 ";"
        Whitespace@131..136 "\n    "
      EXPR_UNIT@136..139
        LParen@136..137 "("
        RParen@137..138 ")"
        Whitespace@138..139 "\n"
      RBrace@139..140 "}"
      Whitespace@140..142 "\n\n"
  FN@142..284
    FnKeyword@142..144 "fn"
    Whitespace@144..145 " "
    Ident@145..151 "show64"
    PARAM_LIST@151..183
      LParen@151..152 "("
      PARAM@152..167
        Ident@152..157 "label"
        Colon@157..158 ":"
        Whitespace@158..159 " "
        TYPE_STRING@159..165
          StringKeyword@159..165 "string"
        Comma@165..166 ","
        Whitespace@166..167 " "
      PARAM@167..181
        Ident@167..172 "value"
        Colon@172..173 ":"
        Whitespace@173..174 " "
        TYPE_FLOAT64@174..181
          Float64Keyword@174..181 "float64"
      RParen@181..182 ")"
      Whitespace@182..183 " "
    BLOCK@183..284
      LBrace@183..184 "{"
      Whitespace@184..189 "\n    "
      STMT_LET@189..241
        LetKeyword@189..192 "let"
        Whitespace@192..193 " "
        PATTERN_VARIABLE@193..201
          Ident@193..200 "message"
          Whitespace@200..201 " "
        Eq@201..202 "="
        Whitespace@202..203 " "
        EXPR_BINARY@203..235
          EXPR_IDENT@203..209
            PATH@203..209
              Ident@203..208 "label"
              Whitespace@208..209 " "
          Plus@209..210 "+"
          Whitespace@210..211 " "
          EXPR_CALL@211..235
            EXPR_IDENT@211..228
              PATH@211..228
                Ident@211..228 "float64_to_string"
            ARG_LIST@228..235
              LParen@228..229 "("
              ARG@229..234
                EXPR_IDENT@229..234
                  PATH@229..234
                    Ident@229..234 "value"
              RParen@234..235 ")"
        Semi@235..236 ";"
        Whitespace@236..241 "\n    "
      STMT_LET@241..278
        LetKeyword@241..244 "let"
        Whitespace@244..245 " "
        PATTERN_WILDCARD@245..247
          WildcardKeyword@245..246 "_"
          Whitespace@246..247 " "
        Eq@247..248 "="
        Whitespace@248..249 " "
        EXPR_CALL@249..272
          EXPR_IDENT@249..263
            PATH@249..263
              Ident@249..263 "string_println"
          ARG_LIST@263..272
            LParen@263..264 "("
            ARG@264..271
              EXPR_IDENT@264..271
                PATH@264..271
                  Ident@264..271 "message"
            RParen@271..272 ")"
        Semi@272..273 ";"
        Whitespace@273..278 "\n    "
      EXPR_UNIT@278..281
        LParen@278..279 "("
        RParen@279..280 ")"
        Whitespace@280..281 "\n"
      RBrace@281..282 "}"
      Whitespace@282..284 "\n\n"
  FN@284..397
    FnKeyword@284..286 "fn"
    Whitespace@286..287 " "
    Ident@287..293 "lerp32"
    PARAM_LIST@293..335
      LParen@293..294 "("
      PARAM@294..306
        Ident@294..295 "a"
        Colon@295..296 ":"
        Whitespace@296..297 " "
        TYPE_FLOAT32@297..304
          Float32Keyword@297..304 "float32"
        Comma@304..305 ","
        Whitespace@305..306 " "
      PARAM@306..318
        Ident@306..307 "b"
        Colon@307..308 ":"
        Whitespace@308..309 " "
        TYPE_FLOAT32@309..316
          Float32Keyword@309..316 "float32"
        Comma@316..317 ","
        Whitespace@317..318 " "
      PARAM@318..333
        Ident@318..324 "weight"
        Colon@324..325 ":"
        Whitespace@325..326 " "
        TYPE_FLOAT32@326..333
          Float32Keyword@326..333 "float32"
      RParen@333..334 ")"
      Whitespace@334..335 " "
    Arrow@335..337 "->"
    Whitespace@337..338 " "
    TYPE_FLOAT32@338..346
      Float32Keyword@338..345 "float32"
      Whitespace@345..346 " "
    BLOCK@346..397
      LBrace@346..347 "{"
      Whitespace@347..352 "\n    "
      STMT_LET@352..375
        LetKeyword@352..355 "let"
        Whitespace@355..356 " "
        PATTERN_VARIABLE@356..362
          Ident@356..361 "delta"
          Whitespace@361..362 " "
        Eq@362..363 "="
        Whitespace@363..364 " "
        EXPR_BINARY@364..369
          EXPR_IDENT@364..366
            PATH@364..366
              Ident@364..365 "b"
              Whitespace@365..366 " "
          Minus@366..367 "-"
          Whitespace@367..368 " "
          EXPR_IDENT@368..369
            PATH@368..369
              Ident@368..369 "a"
        Semi@369..370 ";"
        Whitespace@370..375 "\n    "
      EXPR_BINARY@375..394
        EXPR_IDENT@375..377
          PATH@375..377
            Ident@375..376 "a"
            Whitespace@376..377 " "
        Plus@377..378 "+"
        Whitespace@378..379 " "
        EXPR_BINARY@379..394
          EXPR_IDENT@379..385
            PATH@379..385
              Ident@379..384 "delta"
              Whitespace@384..385 " "
          Star@385..386 "*"
          Whitespace@386..387 " "
          EXPR_IDENT@387..394
            PATH@387..394
              Ident@387..393 "weight"
              Whitespace@393..394 "\n"
      RBrace@394..395 "}"
      Whitespace@395..397 "\n\n"
  FN@397..499
    FnKeyword@397..399 "fn"
    Whitespace@399..400 " "
    Ident@400..415 "midpoint_energy"
    PARAM_LIST@415..440
      LParen@415..416 "("
      PARAM@416..428
        Ident@416..417 "x"
        Colon@417..418 ":"
        Whitespace@418..419 " "
        TYPE_FLOAT64@419..426
          Float64Keyword@419..426 "float64"
        Comma@426..427 ","
        Whitespace@427..428 " "
      PARAM@428..438
        Ident@428..429 "y"
        Colon@429..430 ":"
        Whitespace@430..431 " "
        TYPE_FLOAT64@431..438
          Float64Keyword@431..438 "float64"
      RParen@438..439 ")"
      Whitespace@439..440 " "
    Arrow@440..442 "->"
    Whitespace@442..443 " "
    TYPE_FLOAT64@443..451
      Float64Keyword@443..450 "float64"
      Whitespace@450..451 " "
    BLOCK@451..499
      LBrace@451..452 "{"
      Whitespace@452..457 "\n    "
      STMT_LET@457..486
        LetKeyword@457..460 "let"
        Whitespace@460..461 " "
        PATTERN_VARIABLE@461..465
          Ident@461..464 "sum"
          Whitespace@464..465 " "
        Eq@465..466 "="
        Whitespace@466..467 " "
        EXPR_BINARY@467..480
          EXPR_BINARY@467..473
            EXPR_IDENT@467..469
              PATH@467..469
                Ident@467..468 "x"
                Whitespace@468..469 " "
            Star@469..470 "*"
            Whitespace@470..471 " "
            EXPR_IDENT@471..473
              PATH@471..473
                Ident@471..472 "x"
                Whitespace@472..473 " "
          Plus@473..474 "+"
          Whitespace@474..475 " "
          EXPR_BINARY@475..480
            EXPR_IDENT@475..477
              PATH@475..477
                Ident@475..476 "y"
                Whitespace@476..477 " "
            Star@477..478 "*"
            Whitespace@478..479 " "
            EXPR_IDENT@479..480
              PATH@479..480
                Ident@479..480 "y"
        Semi@480..481 ";"
        Whitespace@481..486 "\n    "
      EXPR_BINARY@486..496
        EXPR_IDENT@486..490
          PATH@486..490
            Ident@486..489 "sum"
            Whitespace@489..490 " "
        Slash@490..491 "/"
        Whitespace@491..492 " "
        EXPR_FLOAT@492..496
          Float@492..495 "2.0"
          Whitespace@495..496 "\n"
      RBrace@496..497 "}"
      Whitespace@497..499 "\n\n"
  FN@499..1394
    FnKeyword@499..501 "fn"
    Whitespace@501..502 " "
    Ident@502..506 "main"
    PARAM_LIST@506..509
      LParen@506..507 "("
      RParen@507..508 ")"
      Whitespace@508..509 " "
    BLOCK@509..1394
      LBrace@509..510 "{"
      Whitespace@510..515 "\n    "
      STMT_LET@515..548
        LetKeyword@515..518 "let"
        Whitespace@518..519 " "
        PATTERN_VARIABLE@519..526
          Ident@519..526 "start32"
        Colon@526..527 ":"
        Whitespace@527..528 " "
        TYPE_FLOAT32@528..536
          Float32Keyword@528..535 "float32"
          Whitespace@535..536 " "
        Eq@536..537 "="
        Whitespace@537..538 " "
        EXPR_FLOAT@538..542
          Float@538..542 "1.25"
        Semi@542..543 ";"
        Whitespace@543..548 "\n    "
      STMT_LET@548..579
        LetKeyword@548..551 "let"
        Whitespace@551..552 " "
        PATTERN_VARIABLE@552..557
          Ident@552..557 "end32"
        Colon@557..558 ":"
        Whitespace@558..559 " "
        TYPE_FLOAT32@559..567
          Float32Keyword@559..566 "float32"
          Whitespace@566..567 " "
        Eq@567..568 "="
        Whitespace@568..569 " "
        EXPR_FLOAT@569..573
          Float@569..573 "5.75"
        Semi@573..574 ";"
        Whitespace@574..579 "\n    "
      STMT_LET@579..608
        LetKeyword@579..582 "let"
        Whitespace@582..583 " "
        PATTERN_VARIABLE@583..587
          Ident@583..587 "half"
        Colon@587..588 ":"
        Whitespace@588..589 " "
        TYPE_FLOAT32@589..597
          Float32Keyword@589..596 "float32"
          Whitespace@596..597 " "
        Eq@597..598 "="
        Whitespace@598..599 " "
        EXPR_FLOAT@599..602
          Float@599..602 "0.5"
        Semi@602..603 ";"
        Whitespace@603..608 "\n    "
      STMT_LET@608..639
        LetKeyword@608..611 "let"
        Whitespace@611..612 " "
        PATTERN_VARIABLE@612..617
          Ident@612..617 "scale"
        Colon@617..618 ":"
        Whitespace@618..619 " "
        TYPE_FLOAT32@619..627
          Float32Keyword@619..626 "float32"
          Whitespace@626..627 " "
        Eq@627..628 "="
        Whitespace@628..629 " "
        EXPR_FLOAT@629..632
          Float@629..632 "2.0"
        Semi@632..633 ";"
        Whitespace@633..639 "\n\n    "
      STMT_LET@639..685
        LetKeyword@639..642 "let"
        Whitespace@642..643 " "
        PATTERN_VARIABLE@643..649
          Ident@643..648 "mid32"
          Whitespace@648..649 " "
        Eq@649..650 "="
        Whitespace@650..651 " "
        EXPR_CALL@651..679
          EXPR_IDENT@651..657
            PATH@651..657
              Ident@651..657 "lerp32"
          ARG_LIST@657..679
            LParen@657..658 "("
            ARG@658..667
              EXPR_IDENT@658..665
                PATH@658..665
                  Ident@658..665 "start32"
              Comma@665..666 ","
              Whitespace@666..667 " "
            ARG@667..674
              EXPR_IDENT@667..672
                PATH@667..672
                  Ident@667..672 "end32"
              Comma@672..673 ","
              Whitespace@673..674 " "
            ARG@674..678
              EXPR_IDENT@674..678
                PATH@674..678
                  Ident@674..678 "half"
            RParen@678..679 ")"
        Semi@679..680 ";"
        Whitespace@680..685 "\n    "
      STMT_LET@685..713
        LetKeyword@685..688 "let"
        Whitespace@688..689 " "
        PATTERN_VARIABLE@689..699
          Ident@689..698 "neg_end32"
          Whitespace@698..699 " "
        Eq@699..700 "="
        Whitespace@700..701 " "
        EXPR_PREFIX@701..707
          Minus@701..702 "-"
          EXPR_IDENT@702..707
            PATH@702..707
              Ident@702..707 "end32"
        Semi@707..708 ";"
        Whitespace@708..713 "\n    "
      STMT_LET@713..746
        LetKeyword@713..716 "let"
        Whitespace@716..717 " "
        PATTERN_VARIABLE@717..725
          Ident@717..724 "ratio32"
          Whitespace@724..725 " "
        Eq@725..726 "="
        Whitespace@726..727 " "
        EXPR_BINARY@727..740
          EXPR_IDENT@727..733
            PATH@727..733
              Ident@727..732 "end32"
              Whitespace@732..733 " "
          Slash@733..734 "/"
          Whitespace@734..735 " "
          EXPR_IDENT@735..740
            PATH@735..740
              Ident@735..740 "scale"
        Semi@740..741 ";"
        Whitespace@741..746 "\n    "
      STMT_LET@746..781
        LetKeyword@746..749 "let"
        Whitespace@749..750 " "
        PATTERN_VARIABLE@750..757
          Ident@750..756 "less32"
          Whitespace@756..757 " "
        Eq@757..758 "="
        Whitespace@758..759 " "
        EXPR_BINARY@759..774
          EXPR_IDENT@759..767
            PATH@759..767
              Ident@759..766 "start32"
              Whitespace@766..767 " "
          Less@767..768 "<"
          Whitespace@768..769 " "
          EXPR_IDENT@769..774
            PATH@769..774
              Ident@769..774 "end32"
        Semi@774..775 ";"
        Whitespace@775..781 "\n\n    "
      STMT_LET@781..808
        LetKeyword@781..784 "let"
        Whitespace@784..785 " "
        PATTERN_VARIABLE@785..787
          Ident@785..787 "dx"
        Colon@787..788 ":"
        Whitespace@788..789 " "
        TYPE_FLOAT64@789..797
          Float64Keyword@789..796 "float64"
          Whitespace@796..797 " "
        Eq@797..798 "="
        Whitespace@798..799 " "
        EXPR_FLOAT@799..802
          Float@799..802 "6.5"
        Semi@802..803 ";"
        Whitespace@803..808 "\n    "
      STMT_LET@808..835
        LetKeyword@808..811 "let"
        Whitespace@811..812 " "
        PATTERN_VARIABLE@812..814
          Ident@812..814 "dy"
        Colon@814..815 ":"
        Whitespace@815..816 " "
        TYPE_FLOAT64@816..824
          Float64Keyword@816..823 "float64"
          Whitespace@823..824 " "
        Eq@824..825 "="
        Whitespace@825..826 " "
        EXPR_FLOAT@826..829
          Float@826..829 "3.5"
        Semi@829..830 ";"
        Whitespace@830..835 "\n    "
      STMT_LET@835..868
        LetKeyword@835..838 "let"
        Whitespace@838..839 " "
        PATTERN_VARIABLE@839..846
          Ident@839..846 "quarter"
        Colon@846..847 ":"
        Whitespace@847..848 " "
        TYPE_FLOAT64@848..856
          Float64Keyword@848..855 "float64"
          Whitespace@855..856 " "
        Eq@856..857 "="
        Whitespace@857..858 " "
        EXPR_FLOAT@858..862
          Float@858..862 "0.25"
        Semi@862..863 ";"
        Whitespace@863..868 "\n    "
      STMT_LET@868..919
        LetKeyword@868..871 "let"
        Whitespace@871..872 " "
        PATTERN_VARIABLE@872..878
          Ident@872..878 "energy"
        Colon@878..879 ":"
        Whitespace@879..880 " "
        TYPE_FLOAT64@880..888
          Float64Keyword@880..887 "float64"
          Whitespace@887..888 " "
        Eq@888..889 "="
        Whitespace@889..890 " "
        EXPR_CALL@890..913
          EXPR_IDENT@890..905
            PATH@890..905
              Ident@890..905 "midpoint_energy"
          ARG_LIST@905..913
            LParen@905..906 "("
            ARG@906..910
              EXPR_IDENT@906..908
                PATH@906..908
                  Ident@906..908 "dx"
              Comma@908..909 ","
              Whitespace@909..910 " "
            ARG@910..912
              EXPR_IDENT@910..912
                PATH@910..912
                  Ident@910..912 "dy"
            RParen@912..913 ")"
        Semi@913..914 ";"
        Whitespace@914..919 "\n    "
      STMT_LET@919..941
        LetKeyword@919..922 "let"
        Whitespace@922..923 " "
        PATTERN_VARIABLE@923..930
          Ident@923..929 "neg_dx"
          Whitespace@929..930 " "
        Eq@930..931 "="
        Whitespace@931..932 " "
        EXPR_PREFIX@932..935
          Minus@932..933 "-"
          EXPR_IDENT@933..935
            PATH@933..935
              Ident@933..935 "dx"
        Semi@935..936 ";"
        Whitespace@936..941 "\n    "
      STMT_LET@941..997
        LetKeyword@941..944 "let"
        Whitespace@944..945 " "
        PATTERN_VARIABLE@945..953
          Ident@945..953 "adjusted"
        Colon@953..954 ":"
        Whitespace@954..955 " "
        TYPE_FLOAT64@955..963
          Float64Keyword@955..962 "float64"
          Whitespace@962..963 " "
        Eq@963..964 "="
        Whitespace@964..965 " "
        EXPR_BINARY@965..991
          EXPR_BINARY@965..977
            EXPR_IDENT@965..972
              PATH@965..972
                Ident@965..971 "energy"
                Whitespace@971..972 " "
            Plus@972..973 "+"
            Whitespace@973..974 " "
            EXPR_IDENT@974..977
              PATH@974..977
                Ident@974..976 "dy"
                Whitespace@976..977 " "
          Minus@977..978 "-"
          Whitespace@978..979 " "
          EXPR_BINARY@979..991
            EXPR_IDENT@979..982
              PATH@979..982
                Ident@979..981 "dx"
                Whitespace@981..982 " "
            Star@982..983 "*"
            Whitespace@983..984 " "
            EXPR_IDENT@984..991
              PATH@984..991
                Ident@984..991 "quarter"
        Semi@991..992 ";"
        Whitespace@992..997 "\n    "
      STMT_LET@997..1031
        LetKeyword@997..1000 "let"
        Whitespace@1000..1001 " "
        PATTERN_VARIABLE@1001..1010
          Ident@1001..1010 "threshold"
        Colon@1010..1011 ":"
        Whitespace@1011..1012 " "
        TYPE_FLOAT64@1012..1020
          Float64Keyword@1012..1019 "float64"
          Whitespace@1019..1020 " "
        Eq@1020..1021 "="
        Whitespace@1021..1022 " "
        EXPR_FLOAT@1022..1025
          Float@1022..1025 "4.0"
        Semi@1025..1026 ";"
        Whitespace@1026..1031 "\n    "
      STMT_LET@1031..1071
        LetKeyword@1031..1034 "let"
        Whitespace@1034..1035 " "
        PATTERN_VARIABLE@1035..1042
          Ident@1035..1041 "less64"
          Whitespace@1041..1042 " "
        Eq@1042..1043 "="
        Whitespace@1043..1044 " "
        EXPR_BINARY@1044..1064
          EXPR_IDENT@1044..1053
            PATH@1044..1053
              Ident@1044..1052 "adjusted"
              Whitespace@1052..1053 " "
          Less@1053..1054 "<"
          Whitespace@1054..1055 " "
          EXPR_IDENT@1055..1064
            PATH@1055..1064
              Ident@1055..1064 "threshold"
        Semi@1064..1065 ";"
        Whitespace@1065..1071 "\n\n    "
      STMT_EXPR@1071..1100
        EXPR_CALL@1071..1094
          EXPR_IDENT@1071..1077
            PATH@1071..1077
              Ident@1071..1077 "show32"
          ARG_LIST@1077..1094
            LParen@1077..1078 "("
            ARG@1078..1088
              EXPR_STR@1078..1086
                Str@1078..1086 "\"mid32=\""
              Comma@1086..1087 ","
              Whitespace@1087..1088 " "
            ARG@1088..1093
              EXPR_IDENT@1088..1093
                PATH@1088..1093
                  Ident@1088..1093 "mid32"
            RParen@1093..1094 ")"
        Semi@1094..1095 ";"
        Whitespace@1095..1100 "\n    "
      STMT_EXPR@1100..1137
        EXPR_CALL@1100..1131
          EXPR_IDENT@1100..1106
            PATH@1100..1106
              Ident@1100..1106 "show32"
          ARG_LIST@1106..1131
            LParen@1106..1107 "("
            ARG@1107..1121
              EXPR_STR@1107..1119
                Str@1107..1119 "\"neg_end32=\""
              Comma@1119..1120 ","
              Whitespace@1120..1121 " "
            ARG@1121..1130
              EXPR_IDENT@1121..1130
                PATH@1121..1130
                  Ident@1121..1130 "neg_end32"
            RParen@1130..1131 ")"
        Semi@1131..1132 ";"
        Whitespace@1132..1137 "\n    "
      STMT_EXPR@1137..1170
        EXPR_CALL@1137..1164
          EXPR_IDENT@1137..1143
            PATH@1137..1143
              Ident@1137..1143 "show32"
          ARG_LIST@1143..1164
            LParen@1143..1144 "("
            ARG@1144..1156
              EXPR_STR@1144..1154
                Str@1144..1154 "\"ratio32=\""
              Comma@1154..1155 ","
              Whitespace@1155..1156 " "
            ARG@1156..1163
              EXPR_IDENT@1156..1163
                PATH@1156..1163
                  Ident@1156..1163 "ratio32"
            RParen@1163..1164 ")"
        Semi@1164..1165 ";"
        Whitespace@1165..1170 "\n    "
      STMT_LET@1170..1235
        LetKeyword@1170..1173 "let"
        Whitespace@1173..1174 " "
        PATTERN_WILDCARD@1174..1176
          WildcardKeyword@1174..1175 "_"
          Whitespace@1175..1176 " "
        Eq@1176..1177 "="
        Whitespace@1177..1178 " "
        EXPR_CALL@1178..1228
          EXPR_IDENT@1178..1192
            PATH@1178..1192
              Ident@1178..1192 "string_println"
          ARG_LIST@1192..1228
            LParen@1192..1193 "("
            ARG@1193..1227
              EXPR_BINARY@1193..1227
                EXPR_STR@1193..1203
                  Str@1193..1202 "\"less32=\""
                  Whitespace@1202..1203 " "
                Plus@1203..1204 "+"
                Whitespace@1204..1205 " "
                EXPR_CALL@1205..1227
                  EXPR_IDENT@1205..1219
                    PATH@1205..1219
                      Ident@1205..1219 "bool_to_string"
                  ARG_LIST@1219..1227
                    LParen@1219..1220 "("
                    ARG@1220..1226
                      EXPR_IDENT@1220..1226
                        PATH@1220..1226
                          Ident@1220..1226 "less32"
                    RParen@1226..1227 ")"
            RParen@1227..1228 ")"
        Semi@1228..1229 ";"
        Whitespace@1229..1235 "\n\n    "
      STMT_EXPR@1235..1266
        EXPR_CALL@1235..1260
          EXPR_IDENT@1235..1241
            PATH@1235..1241
              Ident@1235..1241 "show64"
          ARG_LIST@1241..1260
            LParen@1241..1242 "("
            ARG@1242..1253
              EXPR_STR@1242..1251
                Str@1242..1251 "\"energy=\""
              Comma@1251..1252 ","
              Whitespace@1252..1253 " "
            ARG@1253..1259
              EXPR_IDENT@1253..1259
                PATH@1253..1259
                  Ident@1253..1259 "energy"
            RParen@1259..1260 ")"
        Semi@1260..1261 ";"
        Whitespace@1261..1266 "\n    "
      STMT_EXPR@1266..1297
        EXPR_CALL@1266..1291
          EXPR_IDENT@1266..1272
            PATH@1266..1272
              Ident@1266..1272 "show64"
          ARG_LIST@1272..1291
            LParen@1272..1273 "("
            ARG@1273..1284
              EXPR_STR@1273..1282
                Str@1273..1282 "\"neg_dx=\""
              Comma@1282..1283 ","
              Whitespace@1283..1284 " "
            ARG@1284..1290
              EXPR_IDENT@1284..1290
                PATH@1284..1290
                  Ident@1284..1290 "neg_dx"
            RParen@1290..1291 ")"
        Semi@1291..1292 ";"
        Whitespace@1292..1297 "\n    "
      STMT_EXPR@1297..1332
        EXPR_CALL@1297..1326
          EXPR_IDENT@1297..1303
            PATH@1297..1303
              Ident@1297..1303 "show64"
          ARG_LIST@1303..1326
            LParen@1303..1304 "("
            ARG@1304..1317
              EXPR_STR@1304..1315
                Str@1304..1315 "\"adjusted=\""
              Comma@1315..1316 ","
              Whitespace@1316..1317 " "
            ARG@1317..1325
              EXPR_IDENT@1317..1325
                PATH@1317..1325
                  Ident@1317..1325 "adjusted"
            RParen@1325..1326 ")"
        Semi@1326..1327 ";"
        Whitespace@1327..1332 "\n    "
      STMT_LET@1332..1392
        LetKeyword@1332..1335 "let"
        Whitespace@1335..1336 " "
        PATTERN_WILDCARD@1336..1338
          WildcardKeyword@1336..1337 "_"
          Whitespace@1337..1338 " "
        Eq@1338..1339 "="
        Whitespace@1339..1340 " "
        EXPR_CALL@1340..1390
          EXPR_IDENT@1340..1354
            PATH@1340..1354
              Ident@1340..1354 "string_println"
          ARG_LIST@1354..1390
            LParen@1354..1355 "("
            ARG@1355..1389
              EXPR_BINARY@1355..1389
                EXPR_STR@1355..1365
                  Str@1355..1364 "\"less64=\""
                  Whitespace@1364..1365 " "
                Plus@1365..1366 "+"
                Whitespace@1366..1367 " "
                EXPR_CALL@1367..1389
                  EXPR_IDENT@1367..1381
                    PATH@1367..1381
                      Ident@1367..1381 "bool_to_string"
                  ARG_LIST@1381..1389
                    LParen@1381..1382 "("
                    ARG@1382..1388
                      EXPR_IDENT@1382..1388
                        PATH@1382..1388
                          Ident@1382..1388 "less64"
                    RParen@1388..1389 ")"
            RParen@1389..1390 ")"
        Semi@1390..1391 ";"
        Whitespace@1391..1392 "\n"
      RBrace@1392..1393 "}"
      Whitespace@1393..1394 "\n"