FILE@0..527
  FN@0..176
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..14 "show_scalar"
    PARAM_LIST@14..27
      LParen@14..15 "("
      PARAM@15..25
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_UINT32@22..25
          U32Keyword@22..25 "u32"
      RParen@25..26 ")"
      Whitespace@26..27 " "
    Arrow@27..29 "->"
    Whitespace@29..30 " "
    TYPE_TUPLE@30..33
      TYPE_LIST@30..33
        LParen@30..31 "("
        RParen@31..32 ")"
        Whitespace@32..33 " "
    BLOCK@33..176
      LBrace@33..34 "{"
      Whitespace@34..39 "\n    "
      EXPR_MATCH@39..173
        MatchKeyword@39..44 "match"
        Whitespace@44..45 " "
        EXPR_CALL@45..66
          EXPR_IDENT@45..58
            PATH@45..58
              Ident@45..58 "char_from_u32"
          ARG_LIST@58..66
            LParen@58..59 "("
            ARG@59..64
              EXPR_IDENT@59..64
                PATH@59..64
                  Ident@59..64 "value"
            RParen@64..65 ")"
            Whitespace@65..66 " "
        MATCH_ARM_LIST@66..173
          LBrace@66..67 "{"
          Whitespace@67..76 "\n        "
          MATCH_ARM@76..124
            PATTERN_CONSTR@76..97
              PATH@76..88
                Ident@76..82 "Option"
                ColonColon@82..84 "::"
                Ident@84..88 "Some"
              LParen@88..89 "("
              PATTERN_VARIABLE@89..95
                Ident@89..95 "result"
              RParen@95..96 ")"
              Whitespace@96..97 " "
            FatArrow@97..99 "=>"
            Whitespace@99..100 " "
            EXPR_CALL@100..124
              EXPR_IDENT@100..107
                PATH@100..107
                  Ident@100..107 "println"
              ARG_LIST@107..124
                LParen@107..108 "("
                ARG@108..123
                  EXPR_CALL@108..123
                    EXPR_BINARY@108..121
                      EXPR_IDENT@108..114
                        PATH@108..114
                          Ident@108..114 "result"
                      Dot@114..115 "."
                      EXPR_IDENT@115..121
                        PATH@115..121
                          Ident@115..121 "to_u32"
                    ARG_LIST@121..123
                      LParen@121..122 "("
                      RParen@122..123 ")"
                RParen@123..124 ")"
          Comma@124..125 ","
          Whitespace@125..134 "\n        "
          MATCH_ARM@134..165
            PATTERN_CONSTR@134..147
              PATH@134..147
                Ident@134..140 "Option"
                ColonColon@140..142 "::"
                Ident@142..146 "None"
                Whitespace@146..147 " "
            FatArrow@147..149 "=>"
            Whitespace@149..150 " "
            EXPR_CALL@150..165
              EXPR_IDENT@150..157
                PATH@150..157
                  Ident@150..157 "println"
              ARG_LIST@157..165
                LParen@157..158 "("
                ARG@158..164
                  EXPR_STR@158..164
                    Str@158..164 "\"none\""
                RParen@164..165 ")"
          Comma@165..166 ","
          Whitespace@166..171 "\n    "
          RBrace@171..172 "}"
          Whitespace@172..173 "\n"
      RBrace@173..174 "}"
      Whitespace@174..176 "\n\n"
  FN@176..527
    FnKeyword@176..178 "fn"
    Whitespace@178..179 " "
    Ident@179..183 "main"
    PARAM_LIST@183..186
      LParen@183..184 "("
      RParen@184..185 ")"
      Whitespace@185..186 " "
    Arrow@186..188 "->"
    Whitespace@188..189 " "
    TYPE_TUPLE@189..192
      TYPE_LIST@189..192
        LParen@189..190 "("
        RParen@190..191 ")"
        Whitespace@191..192 " "
    BLOCK@192..527
      LBrace@192..193 "{"
      Whitespace@193..198 "\n    "
      STMT_EXPR@198..218
        EXPR_CALL@198..212
          EXPR_IDENT@198..209
            PATH@198..209
              Ident@198..209 "show_scalar"
          ARG_LIST@209..212
            LParen@209..210 "("
            ARG@210..211
              EXPR_INT@210..211
                Int@210..211 "0"
            RParen@211..212 ")"
        Semi@212..213 ";"
        Whitespace@213..218 "\n    "
      STMT_EXPR@218..239
        EXPR_CALL@218..233
          EXPR_IDENT@218..229
            PATH@218..229
              Ident@218..229 "show_scalar"
          ARG_LIST@229..233
            LParen@229..230 "("
            ARG@230..232
              EXPR_INT@230..232
                Int@230..232 "65"
            RParen@232..233 ")"
        Semi@233..234 ";"
        Whitespace@234..239 "\n    "
      STMT_EXPR@239..263
        EXPR_CALL@239..257
          EXPR_IDENT@239..250
            PATH@239..250
              Ident@239..250 "show_scalar"
          ARG_LIST@250..257
            LParen@250..251 "("
            ARG@251..256
              EXPR_INT@251..256
                Int@251..256 "55295"
            RParen@256..257 ")"
        Semi@257..258 ";"
        Whitespace@258..263 "\n    "
      STMT_EXPR@263..287
        EXPR_CALL@263..281
          EXPR_IDENT@263..274
            PATH@263..274
              Ident@263..274 "show_scalar"
          ARG_LIST@274..281
            LParen@274..275 "("
            ARG@275..280
              EXPR_INT@275..280
                Int@275..280 "55296"
            RParen@280..281 ")"
        Semi@281..282 ";"
        Whitespace@282..287 "\n    "
      STMT_EXPR@287..311
        EXPR_CALL@287..305
          EXPR_IDENT@287..298
            PATH@287..298
              Ident@287..298 "show_scalar"
          ARG_LIST@298..305
            LParen@298..299 "("
            ARG@299..304
              EXPR_INT@299..304
                Int@299..304 "57343"
            RParen@304..305 ")"
        Semi@305..306 ";"
        Whitespace@306..311 "\n    "
      STMT_EXPR@311..335
        EXPR_CALL@311..329
          EXPR_IDENT@311..322
            PATH@311..322
              Ident@311..322 "show_scalar"
          ARG_LIST@322..329
            LParen@322..323 "("
            ARG@323..328
              EXPR_INT@323..328
                Int@323..328 "57344"
            RParen@328..329 ")"
        Semi@329..330 ";"
        Whitespace@330..335 "\n    "
      STMT_EXPR@335..361
        EXPR_CALL@335..355
          EXPR_IDENT@335..346
            PATH@335..346
              Ident@335..346 "show_scalar"
          ARG_LIST@346..355
            LParen@346..347 "("
            ARG@347..354
              EXPR_INT@347..354
                Int@347..354 "1114111"
            RParen@354..355 ")"
        Semi@355..356 ";"
        Whitespace@356..361 "\n    "
      STMT_EXPR@361..387
        EXPR_CALL@361..381
          EXPR_IDENT@361..372
            PATH@361..372
              Ident@361..372 "show_scalar"
          ARG_LIST@372..381
            LParen@372..373 "("
            ARG@373..380
              EXPR_INT@373..380
                Int@373..380 "1114112"
            RParen@380..381 ")"
        Semi@381..382 ";"
        Whitespace@382..387 "\n    "
      EXPR_MATCH@387..525
        MatchKeyword@387..392 "match"
        Whitespace@392..393 " "
        EXPR_CALL@393..415
          EXPR_IDENT@393..406
            PATH@393..406
              Ident@393..406 "char_from_u32"
          ARG_LIST@406..415
            LParen@406..407 "("
            ARG@407..413
              EXPR_INT@407..413
                Int@407..413 "128512"
            RParen@413..414 ")"
            Whitespace@414..415 " "
        MATCH_ARM_LIST@415..525
          LBrace@415..416 "{"
          Whitespace@416..425 "\n        "
          MATCH_ARM@425..476
            PATTERN_CONSTR@425..446
              PATH@425..437
                Ident@425..431 "Option"
                ColonColon@431..433 "::"
                Ident@433..437 "Some"
              LParen@437..438 "("
              PATTERN_VARIABLE@438..444
                Ident@438..444 "result"
              RParen@444..445 ")"
              Whitespace@445..446 " "
            FatArrow@446..448 "=>"
            Whitespace@448..449 " "
            EXPR_CALL@449..476
              EXPR_IDENT@449..456
                PATH@449..456
                  Ident@449..456 "println"
              ARG_LIST@456..476
                LParen@456..457 "("
                ARG@457..475
                  EXPR_CALL@457..475
                    EXPR_BINARY@457..473
                      EXPR_IDENT@457..463
                        PATH@457..463
                          Ident@457..463 "result"
                      Dot@463..464 "."
                      EXPR_IDENT@464..473
                        PATH@464..473
                          Ident@464..473 "to_string"
                    ARG_LIST@473..475
                      LParen@473..474 "("
                      RParen@474..475 ")"
                RParen@475..476 ")"
          Comma@476..477 ","
          Whitespace@477..486 "\n        "
          MATCH_ARM@486..517
            PATTERN_CONSTR@486..499
              PATH@486..499
                Ident@486..492 "Option"
                ColonColon@492..494 "::"
                Ident@494..498 "None"
                Whitespace@498..499 " "
            FatArrow@499..501 "=>"
            Whitespace@501..502 " "
            EXPR_CALL@502..517
              EXPR_IDENT@502..509
                PATH@502..509
                  Ident@502..509 "println"
              ARG_LIST@509..517
                LParen@509..510 "("
                ARG@510..516
                  EXPR_STR@510..516
                    Str@510..516 "\"none\""
                RParen@516..517 ")"
          Comma@517..518 ","
          Whitespace@518..523 "\n    "
          RBrace@523..524 "}"
          Whitespace@524..525 "\n"
      RBrace@525..526 "}"
      Whitespace@526..527 "\n"