FILE@0..543
  FN@0..187
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..14 "show_scalar"
    PARAM_LIST@14..30
      LParen@14..15 "("
      PARAM@15..28
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_UINT32@22..28
          Uint32Keyword@22..28 "uint32"
      RParen@28..29 ")"
      Whitespace@29..30 " "
    Arrow@30..32 "->"
    Whitespace@32..33 " "
    TYPE_UNIT@33..38
      UnitKeyword@33..37 "unit"
      Whitespace@37..38 " "
    BLOCK@38..187
      LBrace@38..39 "{"
      Whitespace@39..44 "\n    "
      EXPR_MATCH@44..184
        MatchKeyword@44..49 "match"
        Whitespace@49..50 " "
        EXPR_CALL@50..74
          EXPR_IDENT@50..66
            PATH@50..66
              Ident@50..66 "char_from_uint32"
          ARG_LIST@66..74
            LParen@66..67 "("
            ARG@67..72
              EXPR_IDENT@67..72
                PATH@67..72
                  Ident@67..72 "value"
            RParen@72..73 ")"
            Whitespace@73..74 " "
        MATCH_ARM_LIST@74..184
          LBrace@74..75 "{"
          Whitespace@75..84 "\n        "
          MATCH_ARM@84..135
            PATTERN_CONSTR@84..105
              PATH@84..96
                Ident@84..90 "Option"
                ColonColon@90..92 "::"
                Ident@92..96 "Some"
              LParen@96..97 "("
              PATTERN_VARIABLE@97..103
                Ident@97..103 "result"
              RParen@103..104 ")"
              Whitespace@104..105 " "
            FatArrow@105..107 "=>"
            Whitespace@107..108 " "
            EXPR_CALL@108..135
              EXPR_IDENT@108..115
                PATH@108..115
                  Ident@108..115 "println"
              ARG_LIST@115..135
                LParen@115..116 "("
                ARG@116..134
                  EXPR_CALL@116..134
                    EXPR_BINARY@116..132
                      EXPR_IDENT@116..122
                        PATH@116..122
                          Ident@116..122 "result"
                      Dot@122..123 "."
                      EXPR_IDENT@123..132
                        PATH@123..132
                          Ident@123..132 "to_uint32"
                    ARG_LIST@132..134
                      LParen@132..133 "("
                      RParen@133..134 ")"
                RParen@134..135 ")"
          Comma@135..136 ","
          Whitespace@136..145 "\n        "
          MATCH_ARM@145..176
            PATTERN_CONSTR@145..158
              PATH@145..158
                Ident@145..151 "Option"
                ColonColon@151..153 "::"
                Ident@153..157 "None"
                Whitespace@157..158 " "
            FatArrow@158..160 "=>"
            Whitespace@160..161 " "
            EXPR_CALL@161..176
              EXPR_IDENT@161..168
                PATH@161..168
                  Ident@161..168 "println"
              ARG_LIST@168..176
                LParen@168..169 "("
                ARG@169..175
                  EXPR_STR@169..175
                    Str@169..175 "\"none\""
                RParen@175..176 ")"
          Comma@176..177 ","
          Whitespace@177..182 "\n    "
          RBrace@182..183 "}"
          Whitespace@183..184 "\n"
      RBrace@184..185 "}"
      Whitespace@185..187 "\n\n"
  FN@187..543
    FnKeyword@187..189 "fn"
    Whitespace@189..190 " "
    Ident@190..194 "main"
    PARAM_LIST@194..197
      LParen@194..195 "("
      RParen@195..196 ")"
      Whitespace@196..197 " "
    Arrow@197..199 "->"
    Whitespace@199..200 " "
    TYPE_UNIT@200..205
      UnitKeyword@200..204 "unit"
      Whitespace@204..205 " "
    BLOCK@205..543
      LBrace@205..206 "{"
      Whitespace@206..211 "\n    "
      STMT_EXPR@211..231
        EXPR_CALL@211..225
          EXPR_IDENT@211..222
            PATH@211..222
              Ident@211..222 "show_scalar"
          ARG_LIST@222..225
            LParen@222..223 "("
            ARG@223..224
              EXPR_INT@223..224
                Int@223..224 "0"
            RParen@224..225 ")"
        Semi@225..226 ";"
        Whitespace@226..231 "\n    "
      STMT_EXPR@231..252
        EXPR_CALL@231..246
          EXPR_IDENT@231..242
            PATH@231..242
              Ident@231..242 "show_scalar"
          ARG_LIST@242..246
            LParen@242..243 "("
            ARG@243..245
              EXPR_INT@243..245
                Int@243..245 "65"
            RParen@245..246 ")"
        Semi@246..247 ";"
        Whitespace@247..252 "\n    "
      STMT_EXPR@252..276
        EXPR_CALL@252..270
          EXPR_IDENT@252..263
            PATH@252..263
              Ident@252..263 "show_scalar"
          ARG_LIST@263..270
            LParen@263..264 "("
            ARG@264..269
              EXPR_INT@264..269
                Int@264..269 "55295"
            RParen@269..270 ")"
        Semi@270..271 ";"
        Whitespace@271..276 "\n    "
      STMT_EXPR@276..300
        EXPR_CALL@276..294
          EXPR_IDENT@276..287
            PATH@276..287
              Ident@276..287 "show_scalar"
          ARG_LIST@287..294
            LParen@287..288 "("
            ARG@288..293
              EXPR_INT@288..293
                Int@288..293 "55296"
            RParen@293..294 ")"
        Semi@294..295 ";"
        Whitespace@295..300 "\n    "
      STMT_EXPR@300..324
        EXPR_CALL@300..318
          EXPR_IDENT@300..311
            PATH@300..311
              Ident@300..311 "show_scalar"
          ARG_LIST@311..318
            LParen@311..312 "("
            ARG@312..317
              EXPR_INT@312..317
                Int@312..317 "57343"
            RParen@317..318 ")"
        Semi@318..319 ";"
        Whitespace@319..324 "\n    "
      STMT_EXPR@324..348
        EXPR_CALL@324..342
          EXPR_IDENT@324..335
            PATH@324..335
              Ident@324..335 "show_scalar"
          ARG_LIST@335..342
            LParen@335..336 "("
            ARG@336..341
              EXPR_INT@336..341
                Int@336..341 "57344"
            RParen@341..342 ")"
        Semi@342..343 ";"
        Whitespace@343..348 "\n    "
      STMT_EXPR@348..374
        EXPR_CALL@348..368
          EXPR_IDENT@348..359
            PATH@348..359
              Ident@348..359 "show_scalar"
          ARG_LIST@359..368
            LParen@359..360 "("
            ARG@360..367
              EXPR_INT@360..367
                Int@360..367 "1114111"
            RParen@367..368 ")"
        Semi@368..369 ";"
        Whitespace@369..374 "\n    "
      STMT_EXPR@374..400
        EXPR_CALL@374..394
          EXPR_IDENT@374..385
            PATH@374..385
              Ident@374..385 "show_scalar"
          ARG_LIST@385..394
            LParen@385..386 "("
            ARG@386..393
              EXPR_INT@386..393
                Int@386..393 "1114112"
            RParen@393..394 ")"
        Semi@394..395 ";"
        Whitespace@395..400 "\n    "
      EXPR_MATCH@400..541
        MatchKeyword@400..405 "match"
        Whitespace@405..406 " "
        EXPR_CALL@406..431
          EXPR_IDENT@406..422
            PATH@406..422
              Ident@406..422 "char_from_uint32"
          ARG_LIST@422..431
            LParen@422..423 "("
            ARG@423..429
              EXPR_INT@423..429
                Int@423..429 "128512"
            RParen@429..430 ")"
            Whitespace@430..431 " "
        MATCH_ARM_LIST@431..541
          LBrace@431..432 "{"
          Whitespace@432..441 "\n        "
          MATCH_ARM@441..492
            PATTERN_CONSTR@441..462
              PATH@441..453
                Ident@441..447 "Option"
                ColonColon@447..449 "::"
                Ident@449..453 "Some"
              LParen@453..454 "("
              PATTERN_VARIABLE@454..460
                Ident@454..460 "result"
              RParen@460..461 ")"
              Whitespace@461..462 " "
            FatArrow@462..464 "=>"
            Whitespace@464..465 " "
            EXPR_CALL@465..492
              EXPR_IDENT@465..472
                PATH@465..472
                  Ident@465..472 "println"
              ARG_LIST@472..492
                LParen@472..473 "("
                ARG@473..491
                  EXPR_CALL@473..491
                    EXPR_BINARY@473..489
                      EXPR_IDENT@473..479
                        PATH@473..479
                          Ident@473..479 "result"
                      Dot@479..480 "."
                      EXPR_IDENT@480..489
                        PATH@480..489
                          Ident@480..489 "to_string"
                    ARG_LIST@489..491
                      LParen@489..490 "("
                      RParen@490..491 ")"
                RParen@491..492 ")"
          Comma@492..493 ","
          Whitespace@493..502 "\n        "
          MATCH_ARM@502..533
            PATTERN_CONSTR@502..515
              PATH@502..515
                Ident@502..508 "Option"
                ColonColon@508..510 "::"
                Ident@510..514 "None"
                Whitespace@514..515 " "
            FatArrow@515..517 "=>"
            Whitespace@517..518 " "
            EXPR_CALL@518..533
              EXPR_IDENT@518..525
                PATH@518..525
                  Ident@518..525 "println"
              ARG_LIST@525..533
                LParen@525..526 "("
                ARG@526..532
                  EXPR_STR@526..532
                    Str@526..532 "\"none\""
                RParen@532..533 ")"
          Comma@533..534 ","
          Whitespace@534..539 "\n    "
          RBrace@539..540 "}"
          Whitespace@540..541 "\n"
      RBrace@541..542 "}"
      Whitespace@542..543 "\n"