FILE@0..441
  TRAIT@0..41
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..7 "A"
    Whitespace@7..8 " "
    LBrace@8..9 "{"
    Whitespace@9..14 "\n    "
    TRAIT_METHOD_SIG_LIST@14..41
      TRAIT_METHOD_SIG@14..36
        FnKeyword@14..16 "fn"
        Whitespace@16..17 " "
        Ident@17..21 "pick"
        TYPE_LIST@21..28
          LParen@21..22 "("
          TYPE_TAPP@22..26
            PATH@22..26
              Ident@22..26 "Self"
          RParen@26..27 ")"
          Whitespace@27..28 " "
        Arrow@28..30 "->"
        Whitespace@30..31 " "
        TYPE_INT32@31..36
          Int32Keyword@31..36 "int32"
      Semi@36..37 ";"
      Whitespace@37..38 "\n"
      RBrace@38..39 "}"
      Whitespace@39..41 "\n\n"
  TRAIT@41..82
    TraitKeyword@41..46 "trait"
    Whitespace@46..47 " "
    Ident@47..48 "B"
    Whitespace@48..49 " "
    LBrace@49..50 "{"
    Whitespace@50..55 "\n    "
    TRAIT_METHOD_SIG_LIST@55..82
      TRAIT_METHOD_SIG@55..77
        FnKeyword@55..57 "fn"
        Whitespace@57..58 " "
        Ident@58..62 "pick"
        TYPE_LIST@62..69
          LParen@62..63 "("
          TYPE_TAPP@63..67
            PATH@63..67
              Ident@63..67 "Self"
          RParen@67..68 ")"
          Whitespace@68..69 " "
        Arrow@69..71 "->"
        Whitespace@71..72 " "
        TYPE_INT32@72..77
          Int32Keyword@72..77 "int32"
      Semi@77..78 ";"
      Whitespace@78..79 "\n"
      RBrace@79..80 "}"
      Whitespace@80..82 "\n\n"
  STRUCT@82..95
    StructKeyword@82..88 "struct"
    Whitespace@88..89 " "
    Ident@89..90 "S"
    Whitespace@90..91 " "
    LBrace@91..92 "{"
    STRUCT_FIELD_LIST@92..95
      RBrace@92..93 "}"
      Whitespace@93..95 "\n\n"
  IMPL@95..162
    ImplKeyword@95..99 "impl"
    Whitespace@99..100 " "
    PATH@100..102
      Ident@100..101 "A"
      Whitespace@101..102 " "
    ForKeyword@102..105 "for"
    Whitespace@105..106 " "
    TYPE_TAPP@106..108
      PATH@106..108
        Ident@106..107 "S"
        Whitespace@107..108 " "
    LBrace@108..109 "{"
    Whitespace@109..114 "\n    "
    FN@114..159
      FnKeyword@114..116 "fn"
      Whitespace@116..117 " "
      Ident@117..121 "pick"
      PARAM_LIST@121..131
        LParen@121..122 "("
        PARAM@122..129
          Ident@122..126 "self"
          Colon@126..127 ":"
          Whitespace@127..128 " "
          TYPE_TAPP@128..129
            PATH@128..129
              Ident@128..129 "S"
        RParen@129..130 ")"
        Whitespace@130..131 " "
      Arrow@131..133 "->"
      Whitespace@133..134 " "
      TYPE_INT32@134..140
        Int32Keyword@134..139 "int32"
        Whitespace@139..140 " "
      BLOCK@140..159
        LBrace@140..141 "{"
        Whitespace@141..150 "\n        "
        EXPR_INT@150..157
          Int@150..152 "10"
          Whitespace@152..157 "\n    "
        RBrace@157..158 "}"
        Whitespace@158..159 "\n"
    RBrace@159..160 "}"
    Whitespace@160..162 "\n\n"
  IMPL@162..229
    ImplKeyword@162..166 "impl"
    Whitespace@166..167 " "
    PATH@167..169
      Ident@167..168 "B"
      Whitespace@168..169 " "
    ForKeyword@169..172 "for"
    Whitespace@172..173 " "
    TYPE_TAPP@173..175
      PATH@173..175
        Ident@173..174 "S"
        Whitespace@174..175 " "
    LBrace@175..176 "{"
    Whitespace@176..181 "\n    "
    FN@181..226
      FnKeyword@181..183 "fn"
      Whitespace@183..184 " "
      Ident@184..188 "pick"
      PARAM_LIST@188..198
        LParen@188..189 "("
        PARAM@189..196
          Ident@189..193 "self"
          Colon@193..194 ":"
          Whitespace@194..195 " "
          TYPE_TAPP@195..196
            PATH@195..196
              Ident@195..196 "S"
        RParen@196..197 ")"
        Whitespace@197..198 " "
      Arrow@198..200 "->"
      Whitespace@200..201 " "
      TYPE_INT32@201..207
        Int32Keyword@201..206 "int32"
        Whitespace@206..207 " "
      BLOCK@207..226
        LBrace@207..208 "{"
        Whitespace@208..217 "\n        "
        EXPR_INT@217..224
          Int@217..219 "20"
          Whitespace@219..224 "\n    "
        RBrace@224..225 "}"
        Whitespace@225..226 "\n"
    RBrace@226..227 "}"
    Whitespace@227..229 "\n\n"
  FN@229..284
    FnKeyword@229..231 "fn"
    Whitespace@231..232 " "
    Ident@232..238 "pick_a"
    GENERIC_LIST@238..248
      LBracket@238..239 "["
      GENERIC@239..247
        Ident@239..240 "T"
        Colon@240..241 ":"
        Whitespace@241..242 " "
        TRAIT_SET@242..247
          PATH@242..244
            Ident@242..243 "A"
            Whitespace@243..244 " "
          Plus@244..245 "+"
          Whitespace@245..246 " "
          PATH@246..247
            Ident@246..247 "B"
      RBracket@247..248 "]"
    PARAM_LIST@248..255
      LParen@248..249 "("
      PARAM@249..253
        Ident@249..250 "x"
        Colon@250..251 ":"
        Whitespace@251..252 " "
        TYPE_TAPP@252..253
          PATH@252..253
            Ident@252..253 "T"
      RParen@253..254 ")"
      Whitespace@254..255 " "
    Arrow@255..257 "->"
    Whitespace@257..258 " "
    TYPE_INT32@258..264
      Int32Keyword@258..263 "int32"
      Whitespace@263..264 " "
    BLOCK@264..284
      LBrace@264..265 "{"
      Whitespace@265..270 "\n    "
      EXPR_CALL@270..281
        EXPR_IDENT@270..277
          PATH@270..277
            Ident@270..271 "A"
            ColonColon@271..273 "::"
            Ident@273..277 "pick"
        ARG_LIST@277..281
          LParen@277..278 "("
          ARG@278..279
            EXPR_IDENT@278..279
              PATH@278..279
                Ident@278..279 "x"
          RParen@279..280 ")"
          Whitespace@280..281 "\n"
      RBrace@281..282 "}"
      Whitespace@282..284 "\n\n"
  FN@284..339
    FnKeyword@284..286 "fn"
    Whitespace@286..287 " "
    Ident@287..293 "pick_b"
    GENERIC_LIST@293..303
      LBracket@293..294 "["
      GENERIC@294..302
        Ident@294..295 "T"
        Colon@295..296 ":"
        Whitespace@296..297 " "
        TRAIT_SET@297..302
          PATH@297..299
            Ident@297..298 "A"
            Whitespace@298..299 " "
          Plus@299..300 "+"
          Whitespace@300..301 " "
          PATH@301..302
            Ident@301..302 "B"
      RBracket@302..303 "]"
    PARAM_LIST@303..310
      LParen@303..304 "("
      PARAM@304..308
        Ident@304..305 "x"
        Colon@305..306 ":"
        Whitespace@306..307 " "
        TYPE_TAPP@307..308
          PATH@307..308
            Ident@307..308 "T"
      RParen@308..309 ")"
      Whitespace@309..310 " "
    Arrow@310..312 "->"
    Whitespace@312..313 " "
    TYPE_INT32@313..319
      Int32Keyword@313..318 "int32"
      Whitespace@318..319 " "
    BLOCK@319..339
      LBrace@319..320 "{"
      Whitespace@320..325 "\n    "
      EXPR_CALL@325..336
        EXPR_IDENT@325..332
          PATH@325..332
            Ident@325..326 "B"
            ColonColon@326..328 "::"
            Ident@328..332 "pick"
        ARG_LIST@332..336
          LParen@332..333 "("
          ARG@333..334
            EXPR_IDENT@333..334
              PATH@333..334
                Ident@333..334 "x"
          RParen@334..335 ")"
          Whitespace@335..336 "\n"
      RBrace@336..337 "}"
      Whitespace@337..339 "\n\n"
  FN@339..441
    FnKeyword@339..341 "fn"
    Whitespace@341..342 " "
    Ident@342..346 "main"
    PARAM_LIST@346..349
      LParen@346..347 "("
      RParen@347..348 ")"
      Whitespace@348..349 " "
    BLOCK@349..441
      LBrace@349..350 "{"
      Whitespace@350..355 "\n    "
      STMT_EXPR@355..399
        EXPR_CALL@355..393
          EXPR_IDENT@355..362
            PATH@355..362
              Ident@355..362 "println"
          ARG_LIST@362..393
            LParen@362..363 "("
            ARG@363..392
              EXPR_CALL@363..392
                EXPR_IDENT@363..378
                  PATH@363..378
                    Ident@363..378 "int32_to_string"
                ARG_LIST@378..392
                  LParen@378..379 "("
                  ARG@379..391
                    EXPR_CALL@379..391
                      EXPR_IDENT@379..385
                        PATH@379..385
                          Ident@379..385 "pick_a"
                      ARG_LIST@385..391
                        LParen@385..386 "("
                        ARG@386..390
                          EXPR_STRUCT_LITERAL@386..390
                            PATH@386..388
                              Ident@386..387 "S"
                              Whitespace@387..388 " "
                            STRUCT_LITERAL_FIELD_LIST@388..390
                              LBrace@388..389 "{"
                              RBrace@389..390 "}"
                        RParen@390..391 ")"
                  RParen@391..392 ")"
            RParen@392..393 ")"
        Semi@393..394 ";"
        Whitespace@394..399 "\n    "
      STMT_EXPR@399..439
        EXPR_CALL@399..437
          EXPR_IDENT@399..406
            PATH@399..406
              Ident@399..406 "println"
          ARG_LIST@406..437
            LParen@406..407 "("
            ARG@407..436
              EXPR_CALL@407..436
                EXPR_IDENT@407..422
                  PATH@407..422
                    Ident@407..422 "int32_to_string"
                ARG_LIST@422..436
                  LParen@422..423 "("
                  ARG@423..435
                    EXPR_CALL@423..435
                      EXPR_IDENT@423..429
                        PATH@423..429
                          Ident@423..429 "pick_b"
                      ARG_LIST@429..435
                        LParen@429..430 "("
                        ARG@430..434
                          EXPR_STRUCT_LITERAL@430..434
                            PATH@430..432
                              Ident@430..431 "S"
                              Whitespace@431..432 " "
                            STRUCT_LITERAL_FIELD_LIST@432..434
                              LBrace@432..433 "{"
                              RBrace@433..434 "}"
                        RParen@434..435 ")"
                  RParen@435..436 ")"
            RParen@436..437 ")"
        Semi@437..438 ";"
        Whitespace@438..439 "\n"
      RBrace@439..440 "}"
      Whitespace@440..441 "\n"