FILE@0..495
  STRUCT@0..32
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..8 "S"
    Whitespace@8..9 " "
    LBrace@9..10 "{"
    Whitespace@10..15 "\n    "
    STRUCT_FIELD_LIST@15..32
      STRUCT_FIELD@15..27
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..29 "\n"
      RBrace@29..30 "}"
      Whitespace@30..32 "\n\n"
  IMPL@32..147
    ImplKeyword@32..36 "impl"
    Whitespace@36..37 " "
    PATH@37..46
      Ident@37..45 "ToString"
      Whitespace@45..46 " "
    ForKeyword@46..49 "for"
    Whitespace@49..50 " "
    TYPE_TAPP@50..52
      PATH@50..52
        Ident@50..51 "S"
        Whitespace@51..52 " "
    LBrace@52..53 "{"
    Whitespace@53..58 "\n    "
    FN@58..144
      FnKeyword@58..60 "fn"
      Whitespace@60..61 " "
      Ident@61..70 "to_string"
      PARAM_LIST@70..80
        LParen@70..71 "("
        PARAM@71..78
          Ident@71..75 "self"
          Colon@75..76 ":"
          Whitespace@76..77 " "
          TYPE_TAPP@77..78
            PATH@77..78
              Ident@77..78 "S"
        RParen@78..79 ")"
        Whitespace@79..80 " "
      Arrow@80..82 "->"
      Whitespace@82..83 " "
      TYPE_STRING@83..90
        StringKeyword@83..89 "string"
        Whitespace@89..90 " "
      BLOCK@90..144
        LBrace@90..91 "{"
        Whitespace@91..100 "\n        "
        EXPR_BINARY@100..142
          EXPR_BINARY@100..132
            EXPR_STR@100..105
              Str@100..104 "\"S(\""
              Whitespace@104..105 " "
            Plus@105..106 "+"
            Whitespace@106..107 " "
            EXPR_CALL@107..132
              EXPR_BINARY@107..129
                EXPR_PAREN@107..119
                  LParen@107..108 "("
                  EXPR_BINARY@108..118
                    EXPR_IDENT@108..112
                      PATH@108..112
                        Ident@108..112 "self"
                    Dot@112..113 "."
                    EXPR_IDENT@113..118
                      PATH@113..118
                        Ident@113..118 "value"
                  RParen@118..119 ")"
                Dot@119..120 "."
                EXPR_IDENT@120..129
                  PATH@120..129
                    Ident@120..129 "to_string"
              ARG_LIST@129..132
                LParen@129..130 "("
                RParen@130..131 ")"
                Whitespace@131..132 " "
          Plus@132..133 "+"
          Whitespace@133..134 " "
          EXPR_STR@134..142
            Str@134..137 "\")\""
            Whitespace@137..142 "\n    "
        RBrace@142..143 "}"
        Whitespace@143..144 "\n"
    RBrace@144..145 "}"
    Whitespace@145..147 "\n\n"
  FN@147..495
    FnKeyword@147..149 "fn"
    Whitespace@149..150 " "
    Ident@150..154 "main"
    PARAM_LIST@154..157
      LParen@154..155 "("
      RParen@155..156 ")"
      Whitespace@156..157 " "
    Arrow@157..159 "->"
    Whitespace@159..160 " "
    TYPE_UNIT@160..165
      UnitKeyword@160..164 "unit"
      Whitespace@164..165 " "
    BLOCK@165..495
      LBrace@165..166 "{"
      Whitespace@166..171 "\n    "
      STMT_EXPR@171..190
        EXPR_CALL@171..184
          EXPR_IDENT@171..178
            PATH@171..178
              Ident@171..178 "println"
          ARG_LIST@178..184
            LParen@178..179 "("
            ARG@179..183
              EXPR_INT32@179..183
                Int32Lit@179..183 "1i32"
            RParen@183..184 ")"
        Semi@184..185 ";"
        Whitespace@185..190 "\n    "
      STMT_EXPR@190..209
        EXPR_CALL@190..203
          EXPR_IDENT@190..197
            PATH@190..197
              Ident@190..197 "println"
          ARG_LIST@197..203
            LParen@197..198 "("
            ARG@198..202
              EXPR_BOOL@198..202
                TrueKeyword@198..202 "true"
            RParen@202..203 ")"
        Semi@203..204 ";"
        Whitespace@204..209 "\n    "
      STMT_EXPR@209..228
        EXPR_CALL@209..222
          EXPR_IDENT@209..216
            PATH@209..216
              Ident@209..216 "println"
          ARG_LIST@216..222
            LParen@216..217 "("
            ARG@217..221
              EXPR_STR@217..221
                Str@217..221 "\"hi\""
            RParen@221..222 ")"
        Semi@222..223 ";"
        Whitespace@223..228 "\n    "
      STMT_EXPR@228..246
        EXPR_CALL@228..239
          EXPR_IDENT@228..235
            PATH@228..235
              Ident@228..235 "println"
          ARG_LIST@235..239
            LParen@235..236 "("
            ARG@236..238
              EXPR_UNIT@236..238
                LParen@236..237 "("
                RParen@237..238 ")"
            RParen@238..239 ")"
        Semi@239..240 ";"
        Whitespace@240..246 "\n\n    "
      STMT_EXPR@246..286
        EXPR_CALL@246..280
          EXPR_IDENT@246..253
            PATH@246..253
              Ident@246..253 "println"
          ARG_LIST@253..280
            LParen@253..254 "("
            ARG@254..279
              EXPR_CALL@254..279
                EXPR_IDENT@254..273
                  PATH@254..273
                    Ident@254..262 "ToString"
                    ColonColon@262..264 "::"
                    Ident@264..273 "to_string"
                ARG_LIST@273..279
                  LParen@273..274 "("
                  ARG@274..278
                    EXPR_INT32@274..278
                      Int32Lit@274..278 "2i32"
                  RParen@278..279 ")"
            RParen@279..280 ")"
        Semi@280..281 ";"
        Whitespace@281..286 "\n    "
      STMT_EXPR@286..320
        EXPR_CALL@286..313
          EXPR_IDENT@286..293
            PATH@286..293
              Ident@286..293 "println"
          ARG_LIST@293..313
            LParen@293..294 "("
            ARG@294..312
              EXPR_CALL@294..312
                EXPR_BINARY@294..310
                  EXPR_PAREN@294..300
                    LParen@294..295 "("
                    EXPR_INT32@295..299
                      Int32Lit@295..299 "2i32"
                    RParen@299..300 ")"
                  Dot@300..301 "."
                  EXPR_IDENT@301..310
                    PATH@301..310
                      Ident@301..310 "to_string"
                ARG_LIST@310..312
                  LParen@310..311 "("
                  RParen@311..312 ")"
            RParen@312..313 ")"
        Semi@313..314 ";"
        Whitespace@314..320 "\n\n    "
      STMT_LET@320..351
        LetKeyword@320..323 "let"
        Whitespace@323..324 " "
        PATTERN_VARIABLE@324..326
          Ident@324..325 "s"
          Whitespace@325..326 " "
        Eq@326..327 "="
        Whitespace@327..328 " "
        EXPR_STRUCT_LITERAL@328..345
          PATH@328..330
            Ident@328..329 "S"
            Whitespace@329..330 " "
          STRUCT_LITERAL_FIELD_LIST@330..345
            LBrace@330..331 "{"
            Whitespace@331..332 " "
            STRUCT_LITERAL_FIELD@332..344
              Ident@332..337 "value"
              Colon@337..338 ":"
              Whitespace@338..339 " "
              EXPR_INT32@339..344
                Int32Lit@339..343 "9i32"
                Whitespace@343..344 " "
            RBrace@344..345 "}"
        Semi@345..346 ";"
        Whitespace@346..351 "\n    "
      STMT_EXPR@351..368
        EXPR_CALL@351..361
          EXPR_IDENT@351..358
            PATH@351..358
              Ident@351..358 "println"
          ARG_LIST@358..361
            LParen@358..359 "("
            ARG@359..360
              EXPR_IDENT@359..360
                PATH@359..360
                  Ident@359..360 "s"
            RParen@360..361 ")"
        Semi@361..362 ";"
        Whitespace@362..368 "\n\n    "
      STMT_LET@368..397
        LetKeyword@368..371 "let"
        Whitespace@371..372 " "
        PATTERN_VARIABLE@372..373
          Ident@372..373 "d"
        Colon@373..374 ":"
        Whitespace@374..375 " "
        TYPE_DYN@375..388
          DynKeyword@375..378 "dyn"
          Whitespace@378..379 " "
          PATH@379..388
            Ident@379..387 "ToString"
            Whitespace@387..388 " "
        Eq@388..389 "="
        Whitespace@389..390 " "
        EXPR_IDENT@390..391
          PATH@390..391
            Ident@390..391 "s"
        Semi@391..392 ";"
        Whitespace@392..397 "\n    "
      STMT_EXPR@397..414
        EXPR_CALL@397..407
          EXPR_IDENT@397..404
            PATH@397..404
              Ident@397..404 "println"
          ARG_LIST@404..407
            LParen@404..405 "("
            ARG@405..406
              EXPR_IDENT@405..406
                PATH@405..406
                  Ident@405..406 "d"
            RParen@406..407 ")"
        Semi@407..408 ";"
        Whitespace@408..414 "\n\n    "
      STMT_LET@414..437
        LetKeyword@414..417 "let"
        Whitespace@417..418 " "
        PATTERN_VARIABLE@418..420
          Ident@418..419 "r"
          Whitespace@419..420 " "
        Eq@420..421 "="
        Whitespace@421..422 " "
        EXPR_CALL@422..431
          EXPR_IDENT@422..425
            PATH@422..425
              Ident@422..425 "ref"
          ARG_LIST@425..431
            LParen@425..426 "("
            ARG@426..430
              EXPR_INT32@426..430
                Int32Lit@426..430 "5i32"
            RParen@430..431 ")"
        Semi@431..432 ";"
        Whitespace@432..437 "\n    "
      STMT_EXPR@437..454
        EXPR_CALL@437..447
          EXPR_IDENT@437..444
            PATH@437..444
              Ident@437..444 "println"
          ARG_LIST@444..447
            LParen@444..445 "("
            ARG@445..446
              EXPR_IDENT@445..446
                PATH@445..446
                  Ident@445..446 "r"
            RParen@446..447 ")"
        Semi@447..448 ";"
        Whitespace@448..454 "\n\n    "
      STMT_EXPR@454..479
        EXPR_CALL@454..473
          EXPR_IDENT@454..459
            PATH@454..459
              Ident@454..459 "print"
          ARG_LIST@459..473
            LParen@459..460 "("
            ARG@460..472
              EXPR_STR@460..472
                Str@460..472 "\"no-newline\""
            RParen@472..473 ")"
        Semi@473..474 ";"
        Whitespace@474..479 "\n    "
      STMT_EXPR@479..493
        EXPR_CALL@479..491
          EXPR_IDENT@479..486
            PATH@479..486
              Ident@479..486 "println"
          ARG_LIST@486..491
            LParen@486..487 "("
            ARG@487..490
              EXPR_STR@487..490
                Str@487..490 "\"!\""
            RParen@490..491 ")"
        Semi@491..492 ";"
        Whitespace@492..493 "\n"
      RBrace@493..494 "}"
      Whitespace@494..495 "\n"