FILE@0..483
  STRUCT@0..32
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..8 "S"
    Whitespace@8..9 " "
    LBrace@9..10 "{"
    Whitespace@10..15 "\n    "
    STRUCT_FIELD_LIST@15..32
      STRUCT_FIELD@15..27
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..29 "\n"
      RBrace@29..30 "}"
      Whitespace@30..32 "\n\n"
  IMPL@32..145
    ImplKeyword@32..36 "impl"
    Whitespace@36..37 " "
    TYPE_TAPP@37..46
      PATH@37..46
        Ident@37..45 "ToString"
        Whitespace@45..46 " "
    ForKeyword@46..49 "for"
    Whitespace@49..50 " "
    TYPE_TAPP@50..52
      PATH@50..52
        Ident@50..51 "S"
        Whitespace@51..52 " "
    LBrace@52..53 "{"
    Whitespace@53..58 "\n    "
    FN@58..142
      FnKeyword@58..60 "fn"
      Whitespace@60..61 " "
      Ident@61..70 "to_string"
      PARAM_LIST@70..80
        LParen@70..71 "("
        PARAM@71..78
          Ident@71..75 "self"
          Colon@75..76 ":"
          Whitespace@76..77 " "
          TYPE_TAPP@77..78
            PATH@77..78
              Ident@77..78 "S"
        RParen@78..79 ")"
        Whitespace@79..80 " "
      Arrow@80..82 "->"
      Whitespace@82..83 " "
      TYPE_STRING@83..90
        StringKeyword@83..89 "string"
        Whitespace@89..90 " "
      BLOCK@90..142
        LBrace@90..91 "{"
        Whitespace@91..100 "\n        "
        EXPR_BINARY@100..140
          EXPR_BINARY@100..130
            EXPR_STR@100..105
              Str@100..104 "\"S(\""
              Whitespace@104..105 " "
            Plus@105..106 "+"
            Whitespace@106..107 " "
            EXPR_CALL@107..130
              EXPR_BINARY@107..127
                EXPR_BINARY@107..117
                  EXPR_IDENT@107..111
                    PATH@107..111
                      Ident@107..111 "self"
                  Dot@111..112 "."
                  EXPR_IDENT@112..117
                    PATH@112..117
                      Ident@112..117 "value"
                Dot@117..118 "."
                EXPR_IDENT@118..127
                  PATH@118..127
                    Ident@118..127 "to_string"
              ARG_LIST@127..130
                LParen@127..128 "("
                RParen@128..129 ")"
                Whitespace@129..130 " "
          Plus@130..131 "+"
          Whitespace@131..132 " "
          EXPR_STR@132..140
            Str@132..135 "\")\""
            Whitespace@135..140 "\n    "
        RBrace@140..141 "}"
        Whitespace@141..142 "\n"
    RBrace@142..143 "}"
    Whitespace@143..145 "\n\n"
  FN@145..483
    FnKeyword@145..147 "fn"
    Whitespace@147..148 " "
    Ident@148..152 "main"
    PARAM_LIST@152..155
      LParen@152..153 "("
      RParen@153..154 ")"
      Whitespace@154..155 " "
    Arrow@155..157 "->"
    Whitespace@157..158 " "
    TYPE_UNIT@158..163
      UnitKeyword@158..162 "unit"
      Whitespace@162..163 " "
    BLOCK@163..483
      LBrace@163..164 "{"
      Whitespace@164..169 "\n    "
      STMT_EXPR@169..185
        EXPR_CALL@169..179
          EXPR_IDENT@169..176
            PATH@169..176
              Ident@169..176 "println"
          ARG_LIST@176..179
            LParen@176..177 "("
            ARG@177..178
              EXPR_INT@177..178
                Int@177..178 "1"
            RParen@178..179 ")"
        Semi@179..180 ";"
        Whitespace@180..185 "\n    "
      STMT_EXPR@185..204
        EXPR_CALL@185..198
          EXPR_IDENT@185..192
            PATH@185..192
              Ident@185..192 "println"
          ARG_LIST@192..198
            LParen@192..193 "("
            ARG@193..197
              EXPR_BOOL@193..197
                TrueKeyword@193..197 "true"
            RParen@197..198 ")"
        Semi@198..199 ";"
        Whitespace@199..204 "\n    "
      STMT_EXPR@204..223
        EXPR_CALL@204..217
          EXPR_IDENT@204..211
            PATH@204..211
              Ident@204..211 "println"
          ARG_LIST@211..217
            LParen@211..212 "("
            ARG@212..216
              EXPR_STR@212..216
                Str@212..216 "\"hi\""
            RParen@216..217 ")"
        Semi@217..218 ";"
        Whitespace@218..223 "\n    "
      STMT_EXPR@223..241
        EXPR_CALL@223..234
          EXPR_IDENT@223..230
            PATH@223..230
              Ident@223..230 "println"
          ARG_LIST@230..234
            LParen@230..231 "("
            ARG@231..233
              EXPR_UNIT@231..233
                LParen@231..232 "("
                RParen@232..233 ")"
            RParen@233..234 ")"
        Semi@234..235 ";"
        Whitespace@235..241 "\n\n    "
      STMT_EXPR@241..278
        EXPR_CALL@241..272
          EXPR_IDENT@241..248
            PATH@241..248
              Ident@241..248 "println"
          ARG_LIST@248..272
            LParen@248..249 "("
            ARG@249..271
              EXPR_CALL@249..271
                EXPR_IDENT@249..268
                  PATH@249..268
                    Ident@249..257 "ToString"
                    ColonColon@257..259 "::"
                    Ident@259..268 "to_string"
                ARG_LIST@268..271
                  LParen@268..269 "("
                  ARG@269..270
                    EXPR_INT@269..270
                      Int@269..270 "2"
                  RParen@270..271 ")"
            RParen@271..272 ")"
        Semi@272..273 ";"
        Whitespace@273..278 "\n    "
      STMT_EXPR@278..309
        EXPR_CALL@278..302
          EXPR_IDENT@278..285
            PATH@278..285
              Ident@278..285 "println"
          ARG_LIST@285..302
            LParen@285..286 "("
            ARG@286..301
              EXPR_CALL@286..301
                EXPR_BINARY@286..299
                  EXPR_PAREN@286..289
                    LParen@286..287 "("
                    EXPR_INT@287..288
                      Int@287..288 "2"
                    RParen@288..289 ")"
                  Dot@289..290 "."
                  EXPR_IDENT@290..299
                    PATH@290..299
                      Ident@290..299 "to_string"
                ARG_LIST@299..301
                  LParen@299..300 "("
                  RParen@300..301 ")"
            RParen@301..302 ")"
        Semi@302..303 ";"
        Whitespace@303..309 "\n\n    "
      STMT_LET@309..337
        LetKeyword@309..312 "let"
        Whitespace@312..313 " "
        PATTERN_VARIABLE@313..315
          Ident@313..314 "s"
          Whitespace@314..315 " "
        Eq@315..316 "="
        Whitespace@316..317 " "
        EXPR_STRUCT_LITERAL@317..331
          PATH@317..319
            Ident@317..318 "S"
            Whitespace@318..319 " "
          STRUCT_LITERAL_FIELD_LIST@319..331
            LBrace@319..320 "{"
            Whitespace@320..321 " "
            STRUCT_LITERAL_FIELD@321..330
              Ident@321..326 "value"
              Colon@326..327 ":"
              Whitespace@327..328 " "
              EXPR_INT@328..330
                Int@328..329 "9"
                Whitespace@329..330 " "
            RBrace@330..331 "}"
        Semi@331..332 ";"
        Whitespace@332..337 "\n    "
      STMT_EXPR@337..354
        EXPR_CALL@337..347
          EXPR_IDENT@337..344
            PATH@337..344
              Ident@337..344 "println"
          ARG_LIST@344..347
            LParen@344..345 "("
            ARG@345..346
              EXPR_IDENT@345..346
                PATH@345..346
                  Ident@345..346 "s"
            RParen@346..347 ")"
        Semi@347..348 ";"
        Whitespace@348..354 "\n\n    "
      STMT_LET@354..383
        LetKeyword@354..357 "let"
        Whitespace@357..358 " "
        PATTERN_VARIABLE@358..359
          Ident@358..359 "d"
        Colon@359..360 ":"
        Whitespace@360..361 " "
        TYPE_DYN@361..374
          DynKeyword@361..364 "dyn"
          Whitespace@364..365 " "
          PATH@365..374
            Ident@365..373 "ToString"
            Whitespace@373..374 " "
        Eq@374..375 "="
        Whitespace@375..376 " "
        EXPR_IDENT@376..377
          PATH@376..377
            Ident@376..377 "s"
        Semi@377..378 ";"
        Whitespace@378..383 "\n    "
      STMT_EXPR@383..400
        EXPR_CALL@383..393
          EXPR_IDENT@383..390
            PATH@383..390
              Ident@383..390 "println"
          ARG_LIST@390..393
            LParen@390..391 "("
            ARG@391..392
              EXPR_IDENT@391..392
                PATH@391..392
                  Ident@391..392 "d"
            RParen@392..393 ")"
        Semi@393..394 ";"
        Whitespace@394..400 "\n\n    "
      STMT_LET@400..425
        LetKeyword@400..403 "let"
        Whitespace@403..404 " "
        PATTERN_VARIABLE@404..406
          Ident@404..405 "r"
          Whitespace@405..406 " "
        Eq@406..407 "="
        Whitespace@407..408 " "
        EXPR_CALL@408..419
          EXPR_IDENT@408..416
            PATH@408..416
              Ident@408..411 "Ref"
              ColonColon@411..413 "::"
              Ident@413..416 "new"
          ARG_LIST@416..419
            LParen@416..417 "("
            ARG@417..418
              EXPR_INT@417..418
                Int@417..418 "5"
            RParen@418..419 ")"
        Semi@419..420 ";"
        Whitespace@420..425 "\n    "
      STMT_EXPR@425..442
        EXPR_CALL@425..435
          EXPR_IDENT@425..432
            PATH@425..432
              Ident@425..432 "println"
          ARG_LIST@432..435
            LParen@432..433 "("
            ARG@433..434
              EXPR_IDENT@433..434
                PATH@433..434
                  Ident@433..434 "r"
            RParen@434..435 ")"
        Semi@435..436 ";"
        Whitespace@436..442 "\n\n    "
      STMT_EXPR@442..467
        EXPR_CALL@442..461
          EXPR_IDENT@442..447
            PATH@442..447
              Ident@442..447 "print"
          ARG_LIST@447..461
            LParen@447..448 "("
            ARG@448..460
              EXPR_STR@448..460
                Str@448..460 "\"no-newline\""
            RParen@460..461 ")"
        Semi@461..462 ";"
        Whitespace@462..467 "\n    "
      STMT_EXPR@467..481
        EXPR_CALL@467..479
          EXPR_IDENT@467..474
            PATH@467..474
              Ident@467..474 "println"
          ARG_LIST@474..479
            LParen@474..475 "("
            ARG@475..478
              EXPR_STR@475..478
                Str@475..478 "\"!\""
            RParen@478..479 ")"
        Semi@479..480 ";"
        Whitespace@480..481 "\n"
      RBrace@481..482 "}"
      Whitespace@482..483 "\n"