FILE@0..443
  TYPE_ALIAS@0..19
    TypeKeyword@0..4 "type"
    Whitespace@4..5 " "
    Ident@5..10 "RawId"
    Whitespace@10..11 " "
    Eq@11..12 "="
    Whitespace@12..13 " "
    TYPE_INT32@13..16
      I32Keyword@13..16 "i32"
    Semi@16..17 ";"
    Whitespace@17..19 "\n\n"
  STRUCT@19..42
    StructKeyword@19..25 "struct"
    Whitespace@25..26 " "
    Ident@26..32 "UserId"
    LParen@32..33 "("
    NEWTYPE_FIELD@33..38
      TYPE_TAPP@33..38
        PATH@33..38
          Ident@33..38 "RawId"
    RParen@38..39 ")"
    Semi@39..40 ";"
    Whitespace@40..42 "\n\n"
  STRUCT@42..61
    StructKeyword@42..48 "struct"
    Whitespace@48..49 " "
    Ident@49..52 "Box"
    GENERIC_LIST@52..55
      LBracket@52..53 "["
      GENERIC@53..54
        Ident@53..54 "T"
      RBracket@54..55 "]"
    LParen@55..56 "("
    NEWTYPE_FIELD@56..57
      TYPE_TAPP@56..57
        PATH@56..57
          Ident@56..57 "T"
    RParen@57..58 ")"
    Semi@58..59 ";"
    Whitespace@59..61 "\n\n"
  FN@61..162
    FnKeyword@61..63 "fn"
    Whitespace@63..64 " "
    Ident@64..73 "increment"
    PARAM_LIST@73..89
      LParen@73..74 "("
      PARAM@74..87
        Ident@74..79 "value"
        Colon@79..80 ":"
        Whitespace@80..81 " "
        TYPE_TAPP@81..87
          PATH@81..87
            Ident@81..87 "UserId"
      RParen@87..88 ")"
      Whitespace@88..89 " "
    Arrow@89..91 "->"
    Whitespace@91..92 " "
    TYPE_TAPP@92..99
      PATH@92..99
        Ident@92..98 "UserId"
        Whitespace@98..99 " "
    BLOCK@99..162
      LBrace@99..100 "{"
      Whitespace@100..105 "\n    "
      STMT_LET@105..133
        LetKeyword@105..108 "let"
        Whitespace@108..109 " "
        MutKeyword@109..112 "mut"
        Whitespace@112..113 " "
        PATTERN_VARIABLE@113..120
          Ident@113..119 "result"
          Whitespace@119..120 " "
        Eq@120..121 "="
        Whitespace@121..122 " "
        EXPR_IDENT@122..127
          PATH@122..127
            Ident@122..127 "value"
        Semi@127..128 ";"
        Whitespace@128..133 "\n    "
      STMT_ASSIGN@133..152
        EXPR_BINARY@133..142
          EXPR_IDENT@133..139
            PATH@133..139
              Ident@133..139 "result"
          Dot@139..140 "."
          EXPR_INT@140..142
            Int@140..141 "0"
            Whitespace@141..142 " "
        PlusEq@142..144 "+="
        Whitespace@144..145 " "
        EXPR_INT@145..146
          Int@145..146 "1"
        Semi@146..147 ";"
        Whitespace@147..152 "\n    "
      EXPR_IDENT@152..159
        PATH@152..159
          Ident@152..158 "result"
          Whitespace@158..159 "\n"
      RBrace@159..160 "}"
      Whitespace@160..162 "\n\n"
  FN@162..240
    FnKeyword@162..164 "fn"
    Whitespace@164..165 " "
    Ident@165..171 "unwrap"
    PARAM_LIST@171..187
      LParen@171..172 "("
      PARAM@172..185
        Ident@172..177 "value"
        Colon@177..178 ":"
        Whitespace@178..179 " "
        TYPE_TAPP@179..185
          PATH@179..185
            Ident@179..185 "UserId"
      RParen@185..186 ")"
      Whitespace@186..187 " "
    Arrow@187..189 "->"
    Whitespace@189..190 " "
    TYPE_INT32@190..194
      I32Keyword@190..193 "i32"
      Whitespace@193..194 " "
    BLOCK@194..240
      LBrace@194..195 "{"
      Whitespace@195..200 "\n    "
      STMT_LET@200..231
        LetKeyword@200..203 "let"
        Whitespace@203..204 " "
        PATTERN_CONSTR@204..218
          PATH@204..210
            Ident@204..210 "UserId"
          LParen@210..211 "("
          PATTERN_VARIABLE@211..216
            Ident@211..216 "inner"
          RParen@216..217 ")"
          Whitespace@217..218 " "
        Eq@218..219 "="
        Whitespace@219..220 " "
        EXPR_IDENT@220..225
          PATH@220..225
            Ident@220..225 "value"
        Semi@225..226 ";"
        Whitespace@226..231 "\n    "
      EXPR_IDENT@231..237
        PATH@231..237
          Ident@231..236 "inner"
          Whitespace@236..237 "\n"
      RBrace@237..238 "}"
      Whitespace@238..240 "\n\n"
  FN@240..443
    FnKeyword@240..242 "fn"
    Whitespace@242..243 " "
    Ident@243..247 "main"
    PARAM_LIST@247..250
      LParen@247..248 "("
      RParen@248..249 ")"
      Whitespace@249..250 " "
    Arrow@250..252 "->"
    Whitespace@252..253 " "
    TYPE_TUPLE@253..256
      TYPE_LIST@253..256
        LParen@253..254 "("
        RParen@254..255 ")"
        Whitespace@255..256 " "
    BLOCK@256..443
      LBrace@256..257 "{"
      Whitespace@257..262 "\n    "
      STMT_LET@262..287
        LetKeyword@262..265 "let"
        Whitespace@265..266 " "
        PATTERN_VARIABLE@266..269
          Ident@266..269 "raw"
        Colon@269..270 ":"
        Whitespace@270..271 " "
        TYPE_TAPP@271..277
          PATH@271..277
            Ident@271..276 "RawId"
            Whitespace@276..277 " "
        Eq@277..278 "="
        Whitespace@278..279 " "
        EXPR_INT@279..281
          Int@279..281 "40"
        Semi@281..282 ";"
        Whitespace@282..287 "\n    "
      STMT_LET@287..313
        LetKeyword@287..290 "let"
        Whitespace@290..291 " "
        PATTERN_VARIABLE@291..294
          Ident@291..293 "id"
          Whitespace@293..294 " "
        Eq@294..295 "="
        Whitespace@295..296 " "
        EXPR_CALL@296..307
          EXPR_IDENT@296..302
            PATH@296..302
              Ident@296..302 "UserId"
          ARG_LIST@302..307
            LParen@302..303 "("
            ARG@303..306
              EXPR_IDENT@303..306
                PATH@303..306
                  Ident@303..306 "raw"
            RParen@306..307 ")"
        Semi@307..308 ";"
        Whitespace@308..313 "\n    "
      STMT_EXPR@313..332
        EXPR_CALL@313..326
          EXPR_IDENT@313..320
            PATH@313..320
              Ident@313..320 "println"
          ARG_LIST@320..326
            LParen@320..321 "("
            ARG@321..325
              EXPR_BINARY@321..325
                EXPR_IDENT@321..323
                  PATH@321..323
                    Ident@321..323 "id"
                Dot@323..324 "."
                EXPR_INT@324..325
                  Int@324..325 "0"
            RParen@325..326 ")"
        Semi@326..327 ";"
        Whitespace@327..332 "\n    "
      STMT_EXPR@332..368
        EXPR_CALL@332..362
          EXPR_IDENT@332..339
            PATH@332..339
              Ident@332..339 "println"
          ARG_LIST@339..362
            LParen@339..340 "("
            ARG@340..361
              EXPR_CALL@340..361
                EXPR_IDENT@340..346
                  PATH@340..346
                    Ident@340..346 "unwrap"
                ARG_LIST@346..361
                  LParen@346..347 "("
                  ARG@347..360
                    EXPR_CALL@347..360
                      EXPR_IDENT@347..356
                        PATH@347..356
                          Ident@347..356 "increment"
                      ARG_LIST@356..360
                        LParen@356..357 "("
                        ARG@357..359
                          EXPR_IDENT@357..359
                            PATH@357..359
                              Ident@357..359 "id"
                        RParen@359..360 ")"
                  RParen@360..361 ")"
            RParen@361..362 ")"
        Semi@362..363 ";"
        Whitespace@363..368 "\n    "
      STMT_LET@368..400
        LetKeyword@368..371 "let"
        Whitespace@371..372 " "
        PATTERN_VARIABLE@372..378
          Ident@372..377 "boxed"
          Whitespace@377..378 " "
        Eq@378..379 "="
        Whitespace@379..380 " "
        EXPR_CALL@380..394
          EXPR_IDENT@380..383
            PATH@380..383
              Ident@380..383 "Box"
          ARG_LIST@383..394
            LParen@383..384 "("
            ARG@384..393
              EXPR_STR@384..393
                Str@384..393 "\"wrapped\""
            RParen@393..394 ")"
        Semi@394..395 ";"
        Whitespace@395..400 "\n    "
      STMT_LET@400..427
        LetKeyword@400..403 "let"
        Whitespace@403..404 " "
        PATTERN_CONSTR@404..414
          PATH@404..407
            Ident@404..407 "Box"
          LParen@407..408 "("
          PATTERN_VARIABLE@408..412
            Ident@408..412 "text"
          RParen@412..413 ")"
          Whitespace@413..414 " "
        Eq@414..415 "="
        Whitespace@415..416 " "
        EXPR_IDENT@416..421
          PATH@416..421
            Ident@416..421 "boxed"
        Semi@421..422 ";"
        Whitespace@422..427 "\n    "
      EXPR_CALL@427..441
        EXPR_IDENT@427..434
          PATH@427..434
            Ident@427..434 "println"
        ARG_LIST@434..441
          LParen@434..435 "("
          ARG@435..439
            EXPR_IDENT@435..439
              PATH@435..439
                Ident@435..439 "text"
          RParen@439..440 ")"
          Whitespace@440..441 "\n"
      RBrace@441..442 "}"
      Whitespace@442..443 "\n"