FILE@0..821
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Ident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT32@34..37
          I32Keyword@34..37 "i32"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  ENUM@42..87
    EnumKeyword@42..46 "enum"
    Whitespace@46..47 " "
    Ident@47..52 "Maybe"
    GENERIC_LIST@52..56
      LBracket@52..53 "["
      GENERIC@53..54
        Ident@53..54 "T"
      RBracket@54..55 "]"
      Whitespace@55..56 " "
    LBrace@56..57 "{"
    Whitespace@57..62 "\n    "
    VARIANT_LIST@62..87
      VARIANT@62..69
        Ident@62..66 "Just"
        TYPE_LIST@66..69
          LParen@66..67 "("
          ENUM_TUPLE_FIELD@67..68
            TYPE_TAPP@67..68
              PATH@67..68
                Ident@67..68 "T"
          RParen@68..69 ")"
      Comma@69..70 ","
      Whitespace@70..75 "\n    "
      VARIANT@75..82
        Ident@75..82 "Nothing"
      Comma@82..83 ","
      Whitespace@83..84 "\n"
      RBrace@84..85 "}"
      Whitespace@85..87 "\n\n"
  TRAIT@87..141
    TraitKeyword@87..92 "trait"
    Whitespace@92..93 " "
    Ident@93..100 "Display"
    Whitespace@100..101 " "
    LBrace@101..102 "{"
    Whitespace@102..107 "\n    "
    TRAIT_METHOD_SIG_LIST@107..141
      TRAIT_METHOD_SIG@107..138
        FnKeyword@107..109 "fn"
        Whitespace@109..110 " "
        Ident@110..114 "show"
        PARAM_LIST@114..127
          LParen@114..115 "("
          PARAM@115..125
            Ident@115..119 "self"
            Colon@119..120 ":"
            Whitespace@120..121 " "
            TYPE_TAPP@121..125
              PATH@121..125
                Ident@121..125 "Self"
          RParen@125..126 ")"
          Whitespace@126..127 " "
        Arrow@127..129 "->"
        Whitespace@129..130 " "
        TYPE_STRING@130..136
          StringKeyword@130..136 "string"
        Semi@136..137 ";"
        Whitespace@137..138 "\n"
      RBrace@138..139 "}"
      Whitespace@139..141 "\n\n"
  IMPL@141..228
    ImplKeyword@141..145 "impl"
    Whitespace@145..146 " "
    TYPE_TAPP@146..154
      PATH@146..154
        Ident@146..153 "Display"
        Whitespace@153..154 " "
    ForKeyword@154..157 "for"
    Whitespace@157..158 " "
    TYPE_TAPP@158..164
      PATH@158..164
        Ident@158..163 "Point"
        Whitespace@163..164 " "
    LBrace@164..165 "{"
    Whitespace@165..170 "\n    "
    FN@170..225
      FnKeyword@170..172 "fn"
      Whitespace@172..173 " "
      Ident@173..177 "show"
      PARAM_LIST@177..191
        LParen@177..178 "("
        PARAM@178..189
          Ident@178..182 "self"
          Colon@182..183 ":"
          Whitespace@183..184 " "
          TYPE_TAPP@184..189
            PATH@184..189
              Ident@184..189 "Point"
        RParen@189..190 ")"
        Whitespace@190..191 " "
      Arrow@191..193 "->"
      Whitespace@193..194 " "
      TYPE_STRING@194..201
        StringKeyword@194..200 "string"
        Whitespace@200..201 " "
      BLOCK@201..225
        LBrace@201..202 "{"
        Whitespace@202..211 "\n        "
        EXPR_STR@211..223
          Str@211..218 "\"Point\""
          Whitespace@218..223 "\n    "
        RBrace@223..224 "}"
        Whitespace@224..225 "\n"
    RBrace@225..226 "}"
    Whitespace@226..228 "\n\n"
  IMPL@228..436
    ImplKeyword@228..232 "impl"
    Whitespace@232..233 " "
    TYPE_TAPP@233..241
      PATH@233..241
        Ident@233..240 "Display"
        Whitespace@240..241 " "
    ForKeyword@241..244 "for"
    Whitespace@244..245 " "
    TYPE_TAPP@245..256
      PATH@245..250
        Ident@245..250 "Maybe"
      TYPE_PARAM_LIST@250..256
        LBracket@250..251 "["
        TYPE_INT32@251..254
          I32Keyword@251..254 "i32"
        RBracket@254..255 "]"
        Whitespace@255..256 " "
    LBrace@256..257 "{"
    Whitespace@257..262 "\n    "
    FN@262..433
      FnKeyword@262..264 "fn"
      Whitespace@264..265 " "
      Ident@265..269 "show"
      PARAM_LIST@269..288
        LParen@269..270 "("
        PARAM@270..286
          Ident@270..274 "self"
          Colon@274..275 ":"
          Whitespace@275..276 " "
          TYPE_TAPP@276..286
            PATH@276..281
              Ident@276..281 "Maybe"
            TYPE_PARAM_LIST@281..286
              LBracket@281..282 "["
              TYPE_INT32@282..285
                I32Keyword@282..285 "i32"
              RBracket@285..286 "]"
        RParen@286..287 ")"
        Whitespace@287..288 " "
      Arrow@288..290 "->"
      Whitespace@290..291 " "
      TYPE_STRING@291..298
        StringKeyword@291..297 "string"
        Whitespace@297..298 " "
      BLOCK@298..433
        LBrace@298..299 "{"
        Whitespace@299..308 "\n        "
        EXPR_MATCH@308..431
          MatchKeyword@308..313 "match"
          Whitespace@313..314 " "
          EXPR_IDENT@314..319
            PATH@314..319
              Ident@314..318 "self"
              Whitespace@318..319 " "
          MATCH_ARM_LIST@319..431
            LBrace@319..320 "{"
            Whitespace@320..333 "\n            "
            MATCH_ARM@333..381
              PATTERN_CONSTR@333..345
                PATH@333..337
                  Ident@333..337 "Just"
                LParen@337..338 "("
                PATTERN_VARIABLE@338..343
                  Ident@338..343 "value"
                RParen@343..344 ")"
                Whitespace@344..345 " "
              FatArrow@345..347 "=>"
              Whitespace@347..348 " "
              EXPR_BINARY@348..381
                EXPR_BINARY@348..376
                  EXPR_STR@348..356
                    Str@348..355 "\"Just(\""
                    Whitespace@355..356 " "
                  Plus@356..357 "+"
                  Whitespace@357..358 " "
                  EXPR_CALL@358..376
                    EXPR_BINARY@358..373
                      EXPR_IDENT@358..363
                        PATH@358..363
                          Ident@358..363 "value"
                      Dot@363..364 "."
                      EXPR_IDENT@364..373
                        PATH@364..373
                          Ident@364..373 "to_string"
                    ARG_LIST@373..376
                      LParen@373..374 "("
                      RParen@374..375 ")"
                      Whitespace@375..376 " "
                Plus@376..377 "+"
                Whitespace@377..378 " "
                EXPR_STR@378..381
                  Str@378..381 "\")\""
            Comma@381..382 ","
            Whitespace@382..395 "\n            "
            MATCH_ARM@395..415
              PATTERN_CONSTR@395..403
                PATH@395..403
                  Ident@395..402 "Nothing"
                  Whitespace@402..403 " "
              FatArrow@403..405 "=>"
              Whitespace@405..406 " "
              EXPR_STR@406..415
                Str@406..415 "\"Nothing\""
            Comma@415..416 ","
            Whitespace@416..425 "\n        "
            RBrace@425..426 "}"
            Whitespace@426..431 "\n    "
        RBrace@431..432 "}"
        Whitespace@432..433 "\n"
    RBrace@433..434 "}"
    Whitespace@434..436 "\n\n"
  FN@436..547
    FnKeyword@436..438 "fn"
    Whitespace@438..439 " "
    Ident@439..449 "make_maybe"
    PARAM_LIST@449..462
      LParen@449..450 "("
      PARAM@450..460
        Ident@450..454 "flag"
        Colon@454..455 ":"
        Whitespace@455..456 " "
        TYPE_BOOL@456..460
          BoolKeyword@456..460 "bool"
      RParen@460..461 ")"
      Whitespace@461..462 " "
    Arrow@462..464 "->"
    Whitespace@464..465 " "
    TYPE_TAPP@465..476
      PATH@465..470
        Ident@465..470 "Maybe"
      TYPE_PARAM_LIST@470..476
        LBracket@470..471 "["
        TYPE_INT32@471..474
          I32Keyword@471..474 "i32"
        RBracket@474..475 "]"
        Whitespace@475..476 " "
    BLOCK@476..547
      LBrace@476..477 "{"
      Whitespace@477..482 "\n    "
      EXPR_IF@482..544
        IfKeyword@482..484 "if"
        Whitespace@484..485 " "
        EXPR_IF_COND@485..490
          EXPR_IDENT@485..490
            PATH@485..490
              Ident@485..489 "flag"
              Whitespace@489..490 " "
        EXPR_IF_THEN@490..515
          BLOCK@490..515
            LBrace@490..491 "{"
            Whitespace@491..500 "\n        "
            EXPR_CALL@500..513
              EXPR_IDENT@500..504
                PATH@500..504
                  Ident@500..504 "Just"
              ARG_LIST@504..513
                LParen@504..505 "("
                ARG@505..507
                  EXPR_INT@505..507
                    Int@505..507 "42"
                RParen@507..508 ")"
                Whitespace@508..513 "\n    "
            RBrace@513..514 "}"
            Whitespace@514..515 " "
        ElseKeyword@515..519 "else"
        Whitespace@519..520 " "
        EXPR_IF_ELSE@520..544
          BLOCK@520..544
            LBrace@520..521 "{"
            Whitespace@521..530 "\n        "
            EXPR_IDENT@530..542
              PATH@530..542
                Ident@530..537 "Nothing"
                Whitespace@537..542 "\n    "
            RBrace@542..543 "}"
            Whitespace@543..544 "\n"
      RBrace@544..545 "}"
      Whitespace@545..547 "\n\n"
  FN@547..821
    FnKeyword@547..549 "fn"
    Whitespace@549..550 " "
    Ident@550..554 "main"
    PARAM_LIST@554..557
      LParen@554..555 "("
      RParen@555..556 ")"
      Whitespace@556..557 " "
    BLOCK@557..821
      LBrace@557..558 "{"
      Whitespace@558..563 "\n    "
      STMT_LET@563..601
        LetKeyword@563..566 "let"
        Whitespace@566..567 " "
        PATTERN_VARIABLE@567..573
          Ident@567..572 "point"
          Whitespace@572..573 " "
        Eq@573..574 "="
        Whitespace@574..575 " "
        EXPR_STRUCT_LITERAL@575..595
          PATH@575..581
            Ident@575..580 "Point"
            Whitespace@580..581 " "
          STRUCT_LITERAL_FIELD_LIST@581..595
            LBrace@581..582 "{"
            Whitespace@582..583 " "
            STRUCT_LITERAL_FIELD@583..587
              Ident@583..584 "x"
              Colon@584..585 ":"
              Whitespace@585..586 " "
              EXPR_INT@586..587
                Int@586..587 "1"
            Comma@587..588 ","
            Whitespace@588..589 " "
            STRUCT_LITERAL_FIELD@589..594
              Ident@589..590 "y"
              Colon@590..591 ":"
              Whitespace@591..592 " "
              EXPR_INT@592..594
                Int@592..593 "2"
                Whitespace@593..594 " "
            RBrace@594..595 "}"
        Semi@595..596 ";"
        Whitespace@596..601 "\n    "
      STMT_LET@601..641
        LetKeyword@601..604 "let"
        Whitespace@604..605 " "
        PATTERN_VARIABLE@605..617
          Ident@605..616 "some_number"
          Whitespace@616..617 " "
        Eq@617..618 "="
        Whitespace@618..619 " "
        EXPR_CALL@619..635
          EXPR_IDENT@619..629
            PATH@619..629
              Ident@619..629 "make_maybe"
          ARG_LIST@629..635
            LParen@629..630 "("
            ARG@630..634
              EXPR_BOOL@630..634
                TrueKeyword@630..634 "true"
            RParen@634..635 ")"
        Semi@635..636 ";"
        Whitespace@636..641 "\n    "
      STMT_LET@641..682
        LetKeyword@641..644 "let"
        Whitespace@644..645 " "
        PATTERN_VARIABLE@645..657
          Ident@645..656 "none_number"
          Whitespace@656..657 " "
        Eq@657..658 "="
        Whitespace@658..659 " "
        EXPR_CALL@659..676
          EXPR_IDENT@659..669
            PATH@659..669
              Ident@659..669 "make_maybe"
          ARG_LIST@669..676
            LParen@669..670 "("
            ARG@670..675
              EXPR_BOOL@670..675
                FalseKeyword@670..675 "false"
            RParen@675..676 ")"
        Semi@676..677 ";"
        Whitespace@677..682 "\n    "
      STMT_LET@682..725
        LetKeyword@682..685 "let"
        Whitespace@685..686 " "
        PATTERN_WILDCARD@686..688
          WildcardKeyword@686..687 "_"
          Whitespace@687..688 " "
        Eq@688..689 "="
        Whitespace@689..690 " "
        EXPR_CALL@690..719
          EXPR_IDENT@690..697
            PATH@690..697
              Ident@690..697 "println"
          ARG_LIST@697..719
            LParen@697..698 "("
            ARG@698..718
              EXPR_CALL@698..718
                EXPR_IDENT@698..711
                  PATH@698..711
                    Ident@698..705 "Display"
                    ColonColon@705..707 "::"
                    Ident@707..711 "show"
                ARG_LIST@711..718
                  LParen@711..712 "("
                  ARG@712..717
                    EXPR_IDENT@712..717
                      PATH@712..717
                        Ident@712..717 "point"
                  RParen@717..718 ")"
            RParen@718..719 ")"
        Semi@719..720 ";"
        Whitespace@720..725 "\n    "
      STMT_LET@725..774
        LetKeyword@725..728 "let"
        Whitespace@728..729 " "
        PATTERN_WILDCARD@729..731
          WildcardKeyword@729..730 "_"
          Whitespace@730..731 " "
        Eq@731..732 "="
        Whitespace@732..733 " "
        EXPR_CALL@733..768
          EXPR_IDENT@733..740
            PATH@733..740
              Ident@733..740 "println"
          ARG_LIST@740..768
            LParen@740..741 "("
            ARG@741..767
              EXPR_CALL@741..767
                EXPR_IDENT@741..754
                  PATH@741..754
                    Ident@741..748 "Display"
                    ColonColon@748..750 "::"
                    Ident@750..754 "show"
                ARG_LIST@754..767
                  LParen@754..755 "("
                  ARG@755..766
                    EXPR_IDENT@755..766
                      PATH@755..766
                        Ident@755..766 "some_number"
                  RParen@766..767 ")"
            RParen@767..768 ")"
        Semi@768..769 ";"
        Whitespace@769..774 "\n    "
      STMT_LET@774..819
        LetKeyword@774..777 "let"
        Whitespace@777..778 " "
        PATTERN_WILDCARD@778..780
          WildcardKeyword@778..779 "_"
          Whitespace@779..780 " "
        Eq@780..781 "="
        Whitespace@781..782 " "
        EXPR_CALL@782..817
          EXPR_IDENT@782..789
            PATH@782..789
              Ident@782..789 "println"
          ARG_LIST@789..817
            LParen@789..790 "("
            ARG@790..816
              EXPR_CALL@790..816
                EXPR_IDENT@790..803
                  PATH@790..803
                    Ident@790..797 "Display"
                    ColonColon@797..799 "::"
                    Ident@799..803 "show"
                ARG_LIST@803..816
                  LParen@803..804 "("
                  ARG@804..815
                    EXPR_IDENT@804..815
                      PATH@804..815
                        Ident@804..815 "none_number"
                  RParen@815..816 ")"
            RParen@816..817 ")"
        Semi@817..818 ";"
        Whitespace@818..819 "\n"
      RBrace@819..820 "}"
      Whitespace@820..821 "\n"