FILE@0..382
  TRAIT@0..48
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..48
      TRAIT_METHOD_SIG@20..43
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        TYPE_LIST@27..34
          LParen@27..28 "("
          TYPE_TAPP@28..32
            PATH@28..32
              Ident@28..32 "Self"
          RParen@32..33 ")"
          Whitespace@33..34 " "
        Arrow@34..36 "->"
        Whitespace@36..37 " "
        TYPE_STRING@37..43
          StringKeyword@37..43 "string"
      Semi@43..44 ";"
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  STRUCT@48..84
    StructKeyword@48..54 "struct"
    Whitespace@54..55 " "
    Ident@55..60 "Point"
    Whitespace@60..61 " "
    LBrace@61..62 "{"
    Whitespace@62..67 "\n    "
    STRUCT_FIELD_LIST@67..84
      STRUCT_FIELD@67..79
        Ident@67..72 "value"
        Colon@72..73 ":"
        Whitespace@73..74 " "
        TYPE_INT32@74..79
          Int32Keyword@74..79 "int32"
      Comma@79..80 ","
      Whitespace@80..81 "\n"
      RBrace@81..82 "}"
      Whitespace@82..84 "\n\n"
  IMPL@84..188
    ImplKeyword@84..88 "impl"
    Whitespace@88..89 " "
    PATH@89..97
      Ident@89..96 "Display"
      Whitespace@96..97 " "
    ForKeyword@97..100 "for"
    Whitespace@100..101 " "
    TYPE_TAPP@101..107
      PATH@101..107
        Ident@101..106 "Point"
        Whitespace@106..107 " "
    LBrace@107..108 "{"
    Whitespace@108..113 "\n    "
    FN@113..185
      FnKeyword@113..115 "fn"
      Whitespace@115..116 " "
      Ident@116..120 "show"
      PARAM_LIST@120..134
        LParen@120..121 "("
        PARAM@121..132
          Ident@121..125 "self"
          Colon@125..126 ":"
          Whitespace@126..127 " "
          TYPE_TAPP@127..132
            PATH@127..132
              Ident@127..132 "Point"
        RParen@132..133 ")"
        Whitespace@133..134 " "
      Arrow@134..136 "->"
      Whitespace@136..137 " "
      TYPE_STRING@137..144
        StringKeyword@137..143 "string"
        Whitespace@143..144 " "
      BLOCK@144..185
        LBrace@144..145 "{"
        Whitespace@145..154 "\n        "
        EXPR_CALL@154..183
          EXPR_BINARY@154..176
            EXPR_PAREN@154..166
              LParen@154..155 "("
              EXPR_BINARY@155..165
                EXPR_IDENT@155..159
                  PATH@155..159
                    Ident@155..159 "self"
                Dot@159..160 "."
                EXPR_IDENT@160..165
                  PATH@160..165
                    Ident@160..165 "value"
              RParen@165..166 ")"
            Dot@166..167 "."
            EXPR_IDENT@167..176
              PATH@167..176
                Ident@167..176 "to_string"
          ARG_LIST@176..183
            LParen@176..177 "("
            RParen@177..178 ")"
            Whitespace@178..183 "\n    "
        RBrace@183..184 "}"
        Whitespace@184..185 "\n"
    RBrace@185..186 "}"
    Whitespace@186..188 "\n\n"
  FN@188..242
    FnKeyword@188..190 "fn"
    Whitespace@190..191 " "
    Ident@191..197 "to_dyn"
    GENERIC_LIST@197..209
      LBracket@197..198 "["
      GENERIC@198..208
        Ident@198..199 "T"
        Colon@199..200 ":"
        Whitespace@200..201 " "
        TRAIT_SET@201..208
          PATH@201..208
            Ident@201..208 "Display"
      RBracket@208..209 "]"
    PARAM_LIST@209..216
      LParen@209..210 "("
      PARAM@210..214
        Ident@210..211 "x"
        Colon@211..212 ":"
        Whitespace@212..213 " "
        TYPE_TAPP@213..214
          PATH@213..214
            Ident@213..214 "T"
      RParen@214..215 ")"
      Whitespace@215..216 " "
    Arrow@216..218 "->"
    Whitespace@218..219 " "
    TYPE_DYN@219..231
      DynKeyword@219..222 "dyn"
      Whitespace@222..223 " "
      PATH@223..231
        Ident@223..230 "Display"
        Whitespace@230..231 " "
    BLOCK@231..242
      LBrace@231..232 "{"
      Whitespace@232..237 "\n    "
      EXPR_IDENT@237..239
        PATH@237..239
          Ident@237..238 "x"
          Whitespace@238..239 "\n"
      RBrace@239..240 "}"
      Whitespace@240..242 "\n\n"
  FN@242..304
    FnKeyword@242..244 "fn"
    Whitespace@244..245 " "
    Ident@245..251 "render"
    PARAM_LIST@251..268
      LParen@251..252 "("
      PARAM@252..266
        Ident@252..253 "x"
        Colon@253..254 ":"
        Whitespace@254..255 " "
        TYPE_DYN@255..266
          DynKeyword@255..258 "dyn"
          Whitespace@258..259 " "
          PATH@259..266
            Ident@259..266 "Display"
      RParen@266..267 ")"
      Whitespace@267..268 " "
    Arrow@268..270 "->"
    Whitespace@270..271 " "
    TYPE_STRING@271..278
      StringKeyword@271..277 "string"
      Whitespace@277..278 " "
    BLOCK@278..304
      LBrace@278..279 "{"
      Whitespace@279..284 "\n    "
      EXPR_CALL@284..301
        EXPR_IDENT@284..297
          PATH@284..297
            Ident@284..291 "Display"
            ColonColon@291..293 "::"
            Ident@293..297 "show"
        ARG_LIST@297..301
          LParen@297..298 "("
          ARG@298..299
            EXPR_IDENT@298..299
              PATH@298..299
                Ident@298..299 "x"
          RParen@299..300 ")"
          Whitespace@300..301 "\n"
      RBrace@301..302 "}"
      Whitespace@302..304 "\n\n"
  FN@304..382
    FnKeyword@304..306 "fn"
    Whitespace@306..307 " "
    Ident@307..311 "main"
    PARAM_LIST@311..314
      LParen@311..312 "("
      RParen@312..313 ")"
      Whitespace@313..314 " "
    BLOCK@314..382
      LBrace@314..315 "{"
      Whitespace@315..320 "\n    "
      STMT_LET@320..360
        LetKeyword@320..323 "let"
        Whitespace@323..324 " "
        PATTERN_VARIABLE@324..326
          Ident@324..325 "d"
          Whitespace@325..326 " "
        Eq@326..327 "="
        Whitespace@327..328 " "
        EXPR_CALL@328..354
          EXPR_IDENT@328..334
            PATH@328..334
              Ident@328..334 "to_dyn"
          ARG_LIST@334..354
            LParen@334..335 "("
            ARG@335..353
              EXPR_STRUCT_LITERAL@335..353
                PATH@335..341
                  Ident@335..340 "Point"
                  Whitespace@340..341 " "
                STRUCT_LITERAL_FIELD_LIST@341..353
                  LBrace@341..342 "{"
                  Whitespace@342..343 " "
                  STRUCT_LITERAL_FIELD@343..352
                    Ident@343..348 "value"
                    Colon@348..349 ":"
                    Whitespace@349..350 " "
                    EXPR_INT@350..352
                      Int@350..351 "7"
                      Whitespace@351..352 " "
                  RBrace@352..353 "}"
            RParen@353..354 ")"
        Semi@354..355 ";"
        Whitespace@355..360 "\n    "
      STMT_EXPR@360..380
        EXPR_CALL@360..378
          EXPR_IDENT@360..367
            PATH@360..367
              Ident@360..367 "println"
          ARG_LIST@367..378
            LParen@367..368 "("
            ARG@368..377
              EXPR_CALL@368..377
                EXPR_IDENT@368..374
                  PATH@368..374
                    Ident@368..374 "render"
                ARG_LIST@374..377
                  LParen@374..375 "("
                  ARG@375..376
                    EXPR_IDENT@375..376
                      PATH@375..376
                        Ident@375..376 "d"
                  RParen@376..377 ")"
            RParen@377..378 ")"
        Semi@378..379 ";"
        Whitespace@379..380 "\n"
      RBrace@380..381 "}"
      Whitespace@381..382 "\n"