FILE@0..811
  TRAIT@0..55
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..55
      TRAIT_METHOD_SIG@19..52
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "render"
        PARAM_LIST@28..41
          LParen@28..29 "("
          PARAM@29..39
            Ident@29..33 "self"
            Colon@33..34 ":"
            Whitespace@34..35 " "
            TYPE_TAPP@35..39
              PATH@35..39
                Ident@35..39 "Self"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Arrow@41..43 "->"
        Whitespace@43..44 " "
        TYPE_STRING@44..50
          StringKeyword@44..50 "string"
        Semi@50..51 ";"
        Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  TRAIT@55..108
    TraitKeyword@55..60 "trait"
    Whitespace@60..61 " "
    Ident@61..67 "Parent"
    GENERIC_LIST@67..71
      LBracket@67..68 "["
      GENERIC@68..69
        Ident@68..69 "T"
      RBracket@69..70 "]"
      Whitespace@70..71 " "
    LBrace@71..72 "{"
    Whitespace@72..77 "\n    "
    TRAIT_METHOD_SIG_LIST@77..108
      TRAIT_METHOD_SIG@77..105
        FnKeyword@77..79 "fn"
        Whitespace@79..80 " "
        Ident@80..86 "parent"
        PARAM_LIST@86..99
          LParen@86..87 "("
          PARAM@87..97
            Ident@87..91 "self"
            Colon@91..92 ":"
            Whitespace@92..93 " "
            TYPE_TAPP@93..97
              PATH@93..97
                Ident@93..97 "Self"
          RParen@97..98 ")"
          Whitespace@98..99 " "
        Arrow@99..101 "->"
        Whitespace@101..102 " "
        TYPE_TAPP@102..103
          PATH@102..103
            Ident@102..103 "T"
        Semi@103..104 ";"
        Whitespace@104..105 "\n"
      RBrace@105..106 "}"
      Whitespace@106..108 "\n\n"
  TRAIT@108..206
    TraitKeyword@108..113 "trait"
    Whitespace@113..114 " "
    Ident@114..119 "Child"
    GENERIC_LIST@119..132
      LBracket@119..120 "["
      GENERIC@120..131
        Ident@120..121 "T"
        Colon@121..122 ":"
        Whitespace@122..123 " "
        TRAIT_SET@123..131
          TYPE_TAPP@123..131
            PATH@123..131
              Ident@123..131 "ToString"
      RBracket@131..132 "]"
    Colon@132..133 ":"
    Whitespace@133..134 " "
    TRAIT_SET@134..153
      TYPE_TAPP@134..144
        PATH@134..140
          Ident@134..140 "Parent"
        TYPE_PARAM_LIST@140..144
          LBracket@140..141 "["
          TYPE_TAPP@141..142
            PATH@141..142
              Ident@141..142 "T"
          RBracket@142..143 "]"
          Whitespace@143..144 " "
      Plus@144..145 "+"
      Whitespace@145..146 " "
      TYPE_TAPP@146..153
        PATH@146..153
          Ident@146..152 "Render"
          Whitespace@152..153 " "
    WHERE_CLAUSE@153..165
      WhereKeyword@153..158 "where"
      Whitespace@158..159 " "
      WHERE_PREDICATE@159..165
        TYPE_TAPP@159..160
          PATH@159..160
            Ident@159..160 "T"
        Colon@160..161 ":"
        Whitespace@161..162 " "
        TRAIT_SET@162..165
          TYPE_TAPP@162..165
            PATH@162..165
              Ident@162..164 "Eq"
              Whitespace@164..165 " "
    LBrace@165..166 "{"
    Whitespace@166..171 "\n    "
    TRAIT_METHOD_SIG_LIST@171..206
      TRAIT_METHOD_SIG@171..203
        FnKeyword@171..173 "fn"
        Whitespace@173..174 " "
        Ident@174..179 "child"
        PARAM_LIST@179..192
          LParen@179..180 "("
          PARAM@180..190
            Ident@180..184 "self"
            Colon@184..185 ":"
            Whitespace@185..186 " "
            TYPE_TAPP@186..190
              PATH@186..190
                Ident@186..190 "Self"
          RParen@190..191 ")"
          Whitespace@191..192 " "
        Arrow@192..194 "->"
        Whitespace@194..195 " "
        TYPE_STRING@195..201
          StringKeyword@195..201 "string"
        Semi@201..202 ";"
        Whitespace@202..203 "\n"
      RBrace@203..204 "}"
      Whitespace@204..206 "\n\n"
  STRUCT@206..239
    StructKeyword@206..212 "struct"
    Whitespace@212..213 " "
    Ident@213..216 "Box"
    GENERIC_LIST@216..220
      LBracket@216..217 "["
      GENERIC@217..218
        Ident@217..218 "T"
      RBracket@218..219 "]"
      Whitespace@219..220 " "
    LBrace@220..221 "{"
    Whitespace@221..226 "\n    "
    STRUCT_FIELD_LIST@226..239
      STRUCT_FIELD@226..234
        Ident@226..231 "value"
        Colon@231..232 ":"
        Whitespace@232..233 " "
        TYPE_TAPP@233..234
          PATH@233..234
            Ident@233..234 "T"
      Comma@234..235 ","
      Whitespace@235..236 "\n"
      RBrace@236..237 "}"
      Whitespace@237..239 "\n\n"
  IMPL@239..332
    ImplKeyword@239..243 "impl"
    GENERIC_LIST@243..247
      LBracket@243..244 "["
      GENERIC@244..245
        Ident@244..245 "T"
      RBracket@245..246 "]"
      Whitespace@246..247 " "
    TYPE_TAPP@247..256
      PATH@247..253
        Ident@247..253 "Parent"
      TYPE_PARAM_LIST@253..256
        LBracket@253..254 "["
        TYPE_TAPP@254..255
          PATH@254..255
            Ident@254..255 "T"
        RBracket@255..256 "]"
    ForKeyword@256..259 "for"
    Whitespace@259..260 " "
    TYPE_TAPP@260..267
      PATH@260..263
        Ident@260..263 "Box"
      TYPE_PARAM_LIST@263..267
        LBracket@263..264 "["
        TYPE_TAPP@264..265
          PATH@264..265
            Ident@264..265 "T"
        RBracket@265..266 "]"
        Whitespace@266..267 " "
    LBrace@267..268 "{"
    Whitespace@268..273 "\n    "
    FN@273..329
      FnKeyword@273..275 "fn"
      Whitespace@275..276 " "
      Ident@276..282 "parent"
      PARAM_LIST@282..297
        LParen@282..283 "("
        PARAM@283..295
          Ident@283..287 "self"
          Colon@287..288 ":"
          Whitespace@288..289 " "
          TYPE_TAPP@289..295
            PATH@289..292
              Ident@289..292 "Box"
            TYPE_PARAM_LIST@292..295
              LBracket@292..293 "["
              TYPE_TAPP@293..294
                PATH@293..294
                  Ident@293..294 "T"
              RBracket@294..295 "]"
        RParen@295..296 ")"
        Whitespace@296..297 " "
      Arrow@297..299 "->"
      Whitespace@299..300 " "
      TYPE_TAPP@300..302
        PATH@300..302
          Ident@300..301 "T"
          Whitespace@301..302 " "
      BLOCK@302..329
        LBrace@302..303 "{"
        Whitespace@303..312 "\n        "
        EXPR_BINARY@312..327
          EXPR_IDENT@312..316
            PATH@312..316
              Ident@312..316 "self"
          Dot@316..317 "."
          EXPR_IDENT@317..327
            PATH@317..327
              Ident@317..322 "value"
              Whitespace@322..327 "\n    "
        RBrace@327..328 "}"
        Whitespace@328..329 "\n"
    RBrace@329..330 "}"
    Whitespace@330..332 "\n\n"
  IMPL@332..427
    ImplKeyword@332..336 "impl"
    GENERIC_LIST@336..340
      LBracket@336..337 "["
      GENERIC@337..338
        Ident@337..338 "T"
      RBracket@338..339 "]"
      Whitespace@339..340 " "
    TYPE_TAPP@340..347
      PATH@340..347
        Ident@340..346 "Render"
        Whitespace@346..347 " "
    ForKeyword@347..350 "for"
    Whitespace@350..351 " "
    TYPE_TAPP@351..358
      PATH@351..354
        Ident@351..354 "Box"
      TYPE_PARAM_LIST@354..358
        LBracket@354..355 "["
        TYPE_TAPP@355..356
          PATH@355..356
            Ident@355..356 "T"
        RBracket@356..357 "]"
        Whitespace@357..358 " "
    LBrace@358..359 "{"
    Whitespace@359..364 "\n    "
    FN@364..424
      FnKeyword@364..366 "fn"
      Whitespace@366..367 " "
      Ident@367..373 "render"
      PARAM_LIST@373..388
        LParen@373..374 "("
        PARAM@374..386
          Ident@374..378 "self"
          Colon@378..379 ":"
          Whitespace@379..380 " "
          TYPE_TAPP@380..386
            PATH@380..383
              Ident@380..383 "Box"
            TYPE_PARAM_LIST@383..386
              LBracket@383..384 "["
              TYPE_TAPP@384..385
                PATH@384..385
                  Ident@384..385 "T"
              RBracket@385..386 "]"
        RParen@386..387 ")"
        Whitespace@387..388 " "
      Arrow@388..390 "->"
      Whitespace@390..391 " "
      TYPE_STRING@391..398
        StringKeyword@391..397 "string"
        Whitespace@397..398 " "
      BLOCK@398..424
        LBrace@398..399 "{"
        Whitespace@399..408 "\n        "
        EXPR_STR@408..422
          Str@408..417 "\":render\""
          Whitespace@417..422 "\n    "
        RBrace@422..423 "}"
        Whitespace@423..424 "\n"
    RBrace@424..425 "}"
    Whitespace@425..427 "\n\n"
  IMPL@427..536
    ImplKeyword@427..431 "impl"
    GENERIC_LIST@431..450
      LBracket@431..432 "["
      GENERIC@432..448
        Ident@432..433 "T"
        Colon@433..434 ":"
        Whitespace@434..435 " "
        TRAIT_SET@435..448
          TYPE_TAPP@435..444
            PATH@435..444
              Ident@435..443 "ToString"
              Whitespace@443..444 " "
          Plus@444..445 "+"
          Whitespace@445..446 " "
          TYPE_TAPP@446..448
            PATH@446..448
              Ident@446..448 "Eq"
      RBracket@448..449 "]"
      Whitespace@449..450 " "
    TYPE_TAPP@450..458
      PATH@450..455
        Ident@450..455 "Child"
      TYPE_PARAM_LIST@455..458
        LBracket@455..456 "["
        TYPE_TAPP@456..457
          PATH@456..457
            Ident@456..457 "T"
        RBracket@457..458 "]"
    ForKeyword@458..461 "for"
    Whitespace@461..462 " "
    TYPE_TAPP@462..469
      PATH@462..465
        Ident@462..465 "Box"
      TYPE_PARAM_LIST@465..469
        LBracket@465..466 "["
        TYPE_TAPP@466..467
          PATH@466..467
            Ident@466..467 "T"
        RBracket@467..468 "]"
        Whitespace@468..469 " "
    LBrace@469..470 "{"
    Whitespace@470..475 "\n    "
    FN@475..533
      FnKeyword@475..477 "fn"
      Whitespace@477..478 " "
      Ident@478..483 "child"
      PARAM_LIST@483..498
        LParen@483..484 "("
        PARAM@484..496
          Ident@484..488 "self"
          Colon@488..489 ":"
          Whitespace@489..490 " "
          TYPE_TAPP@490..496
            PATH@490..493
              Ident@490..493 "Box"
            TYPE_PARAM_LIST@493..496
              LBracket@493..494 "["
              TYPE_TAPP@494..495
                PATH@494..495
                  Ident@494..495 "T"
              RBracket@495..496 "]"
        RParen@496..497 ")"
        Whitespace@497..498 " "
      Arrow@498..500 "->"
      Whitespace@500..501 " "
      TYPE_STRING@501..508
        StringKeyword@501..507 "string"
        Whitespace@507..508 " "
      BLOCK@508..533
        LBrace@508..509 "{"
        Whitespace@509..518 "\n        "
        EXPR_STR@518..531
          Str@518..526 "\":child\""
          Whitespace@526..531 "\n    "
        RBrace@531..532 "}"
        Whitespace@532..533 "\n"
    RBrace@533..534 "}"
    Whitespace@534..536 "\n\n"
  FN@536..653
    FnKeyword@536..538 "fn"
    Whitespace@538..539 " "
    Ident@539..547 "describe"
    GENERIC_LIST@547..563
      LBracket@547..548 "["
      GENERIC@548..549
        Ident@548..549 "T"
      Comma@549..550 ","
      Whitespace@550..551 " "
      GENERIC@551..562
        Ident@551..552 "B"
        Colon@552..553 ":"
        Whitespace@553..554 " "
        TRAIT_SET@554..562
          TYPE_TAPP@554..562
            PATH@554..559
              Ident@554..559 "Child"
            TYPE_PARAM_LIST@559..562
              LBracket@559..560 "["
              TYPE_TAPP@560..561
                PATH@560..561
                  Ident@560..561 "T"
              RBracket@561..562 "]"
      RBracket@562..563 "]"
    PARAM_LIST@563..574
      LParen@563..564 "("
      PARAM@564..572
        Ident@564..569 "value"
        Colon@569..570 ":"
        Whitespace@570..571 " "
        TYPE_TAPP@571..572
          PATH@571..572
            Ident@571..572 "B"
      RParen@572..573 ")"
      Whitespace@573..574 " "
    Arrow@574..576 "->"
    Whitespace@576..577 " "
    TYPE_STRING@577..584
      StringKeyword@577..583 "string"
      Whitespace@583..584 " "
    BLOCK@584..653
      LBrace@584..585 "{"
      Whitespace@585..590 "\n    "
      EXPR_BINARY@590..650
        EXPR_BINARY@590..634
          EXPR_CALL@590..617
            EXPR_BINARY@590..614
              EXPR_CALL@590..604
                EXPR_BINARY@590..602
                  EXPR_IDENT@590..595
                    PATH@590..595
                      Ident@590..595 "value"
                  Dot@595..596 "."
                  EXPR_IDENT@596..602
                    PATH@596..602
                      Ident@596..602 "parent"
                ARG_LIST@602..604
                  LParen@602..603 "("
                  RParen@603..604 ")"
              Dot@604..605 "."
              EXPR_IDENT@605..614
                PATH@605..614
                  Ident@605..614 "to_string"
            ARG_LIST@614..617
              LParen@614..615 "("
              RParen@615..616 ")"
              Whitespace@616..617 " "
          Plus@617..618 "+"
          Whitespace@618..619 " "
          EXPR_CALL@619..634
            EXPR_BINARY@619..631
              EXPR_IDENT@619..624
                PATH@619..624
                  Ident@619..624 "value"
              Dot@624..625 "."
              EXPR_IDENT@625..631
                PATH@625..631
                  Ident@625..631 "render"
            ARG_LIST@631..634
              LParen@631..632 "("
              RParen@632..633 ")"
              Whitespace@633..634 " "
        Plus@634..635 "+"
        Whitespace@635..636 " "
        EXPR_CALL@636..650
          EXPR_BINARY@636..647
            EXPR_IDENT@636..641
              PATH@636..641
                Ident@636..641 "value"
            Dot@641..642 "."
            EXPR_IDENT@642..647
              PATH@642..647
                Ident@642..647 "child"
          ARG_LIST@647..650
            LParen@647..648 "("
            RParen@648..649 ")"
            Whitespace@649..650 "\n"
      RBrace@650..651 "}"
      Whitespace@651..653 "\n\n"
  FN@653..811
    FnKeyword@653..655 "fn"
    Whitespace@655..656 " "
    Ident@656..660 "main"
    PARAM_LIST@660..663
      LParen@660..661 "("
      RParen@661..662 ")"
      Whitespace@662..663 " "
    Arrow@663..665 "->"
    Whitespace@665..666 " "
    TYPE_TUPLE@666..669
      TYPE_LIST@666..669
        LParen@666..667 "("
        RParen@667..668 ")"
        Whitespace@668..669 " "
    BLOCK@669..811
      LBrace@669..670 "{"
      Whitespace@670..675 "\n    "
      STMT_EXPR@675..716
        EXPR_CALL@675..710
          EXPR_IDENT@675..682
            PATH@675..682
              Ident@675..682 "println"
          ARG_LIST@682..710
            LParen@682..683 "("
            ARG@683..709
              EXPR_CALL@683..709
                EXPR_IDENT@683..691
                  PATH@683..691
                    Ident@683..691 "describe"
                ARG_LIST@691..709
                  LParen@691..692 "("
                  ARG@692..708
                    EXPR_STRUCT_LITERAL@692..708
                      PATH@692..696
                        Ident@692..695 "Box"
                        Whitespace@695..696 " "
                      STRUCT_LITERAL_FIELD_LIST@696..708
                        LBrace@696..697 "{"
                        Whitespace@697..698 " "
                        STRUCT_LITERAL_FIELD@698..707
                          Ident@698..703 "value"
                          Colon@703..704 ":"
                          Whitespace@704..705 " "
                          EXPR_INT@705..707
                            Int@705..706 "5"
                            Whitespace@706..707 " "
                        RBrace@707..708 "}"
                  RParen@708..709 ")"
            RParen@709..710 ")"
        Semi@710..711 ";"
        Whitespace@711..716 "\n    "
      STMT_LET@716..760
        LetKeyword@716..719 "let"
        Whitespace@719..720 " "
        PATTERN_VARIABLE@720..725
          Ident@720..725 "value"
        Colon@725..726 ":"
        Whitespace@726..727 " "
        TYPE_TAPP@727..736
          PATH@727..730
            Ident@727..730 "Box"
          TYPE_PARAM_LIST@730..736
            LBracket@730..731 "["
            TYPE_INT32@731..734
              I32Keyword@731..734 "i32"
            RBracket@734..735 "]"
            Whitespace@735..736 " "
        Eq@736..737 "="
        Whitespace@737..738 " "
        EXPR_STRUCT_LITERAL@738..754
          PATH@738..742
            Ident@738..741 "Box"
            Whitespace@741..742 " "
          STRUCT_LITERAL_FIELD_LIST@742..754
            LBrace@742..743 "{"
            Whitespace@743..744 " "
            STRUCT_LITERAL_FIELD@744..753
              Ident@744..749 "value"
              Colon@749..750 ":"
              Whitespace@750..751 " "
              EXPR_INT@751..753
                Int@751..752 "6"
                Whitespace@752..753 " "
            RBrace@753..754 "}"
        Semi@754..755 ";"
        Whitespace@755..760 "\n    "
      EXPR_CALL@760..809
        EXPR_IDENT@760..767
          PATH@760..767
            Ident@760..767 "println"
        ARG_LIST@767..809
          LParen@767..768 "("
          ARG@768..807
            EXPR_CALL@768..807
              EXPR_BINARY@768..805
                EXPR_CALL@768..795
                  EXPR_IDENT@768..788
                    TYPE_TAPP@768..780
                      PATH@768..773
                        Ident@768..773 "Child"
                      ColonColon@773..775 "::"
                      TYPE_PARAM_LIST@775..780
                        LBracket@775..776 "["
                        TYPE_INT32@776..779
                          I32Keyword@776..779 "i32"
                        RBracket@779..780 "]"
                    ColonColon@780..782 "::"
                    PATH@782..788
                      Ident@782..788 "parent"
                  ARG_LIST@788..795
                    LParen@788..789 "("
                    ARG@789..794
                      EXPR_IDENT@789..794
                        PATH@789..794
                          Ident@789..794 "value"
                    RParen@794..795 ")"
                Dot@795..796 "."
                EXPR_IDENT@796..805
                  PATH@796..805
                    Ident@796..805 "to_string"
              ARG_LIST@805..807
                LParen@805..806 "("
                RParen@806..807 ")"
          RParen@807..808 ")"
          Whitespace@808..809 "\n"
      RBrace@809..810 "}"
      Whitespace@810..811 "\n"