FILE@0..2076
  ENUM@0..103
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "First"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    VARIANT_LIST@20..103
      VARIANT@20..29
        Ident@20..26 "Shared"
        TYPE_LIST@26..29
          LParen@26..27 "("
          ENUM_TUPLE_FIELD@27..28
            TYPE_TAPP@27..28
              PATH@27..28
                Ident@27..28 "T"
          RParen@28..29 ")"
      Comma@29..30 ","
      Whitespace@30..35 "\n    "
      VARIANT@35..39
        Ident@35..39 "Idle"
      Comma@39..40 ","
      Whitespace@40..45 "\n    "
      VARIANT@45..98
        Ident@45..49 "Data"
        Whitespace@49..50 " "
        LBrace@50..51 "{"
        Whitespace@51..60 "\n        "
        STRUCT_FIELD_LIST@60..98
          STRUCT_FIELD@60..68
            Ident@60..65 "value"
            Colon@65..66 ":"
            Whitespace@66..67 " "
            TYPE_TAPP@67..68
              PATH@67..68
                Ident@67..68 "T"
          Comma@68..69 ","
          Whitespace@69..78 "\n        "
          STRUCT_FIELD@78..91
            Ident@78..83 "label"
            Colon@83..84 ":"
            Whitespace@84..85 " "
            TYPE_STRING@85..91
              StringKeyword@85..91 "string"
          Comma@91..92 ","
          Whitespace@92..97 "\n    "
          RBrace@97..98 "}"
      Comma@98..99 ","
      Whitespace@99..100 "\n"
      RBrace@100..101 "}"
      Whitespace@101..103 "\n\n"
  ENUM@103..137
    EnumKeyword@103..107 "enum"
    Whitespace@107..108 " "
    Ident@108..114 "Second"
    Whitespace@114..115 " "
    LBrace@115..116 "{"
    Whitespace@116..121 "\n    "
    VARIANT_LIST@121..137
      VARIANT@121..132
        Ident@121..127 "Shared"
        TYPE_LIST@127..132
          LParen@127..128 "("
          ENUM_TUPLE_FIELD@128..131
            TYPE_INT@128..131
              IntKeyword@128..131 "int"
          RParen@131..132 ")"
      Comma@132..133 ","
      Whitespace@133..134 "\n"
      RBrace@134..135 "}"
      Whitespace@135..137 "\n\n"
  ENUM@137..170
    EnumKeyword@137..141 "enum"
    Whitespace@141..142 " "
    Ident@142..147 "Boxed"
    GENERIC_LIST@147..151
      LBracket@147..148 "["
      GENERIC@148..149
        Ident@148..149 "T"
      RBracket@149..150 "]"
      Whitespace@150..151 " "
    LBrace@151..152 "{"
    Whitespace@152..157 "\n    "
    VARIANT_LIST@157..170
      VARIANT@157..165
        Ident@157..162 "Value"
        TYPE_LIST@162..165
          LParen@162..163 "("
          ENUM_TUPLE_FIELD@163..164
            TYPE_TAPP@163..164
              PATH@163..164
                Ident@163..164 "T"
          RParen@164..165 ")"
      Comma@165..166 ","
      Whitespace@166..167 "\n"
      RBrace@167..168 "}"
      Whitespace@168..170 "\n\n"
  TYPE_ALIAS@170..199
    TypeKeyword@170..174 "type"
    Whitespace@174..175 " "
    Ident@175..183 "FirstInt"
    Whitespace@183..184 " "
    Eq@184..185 "="
    Whitespace@185..186 " "
    TYPE_TAPP@186..196
      PATH@186..191
        Ident@186..191 "First"
      TYPE_PARAM_LIST@191..196
        LBracket@191..192 "["
        TYPE_INT@192..195
          IntKeyword@192..195 "int"
        RBracket@195..196 "]"
    Semi@196..197 ";"
    Whitespace@197..199 "\n\n"
  FN@199..415
    FnKeyword@199..201 "fn"
    Whitespace@201..202 " "
    Ident@202..210 "classify"
    PARAM_LIST@210..228
      LParen@210..211 "("
      PARAM@211..226
        Ident@211..216 "value"
        Colon@216..217 ":"
        Whitespace@217..218 " "
        TYPE_TAPP@218..226
          PATH@218..226
            Ident@218..226 "FirstInt"
      RParen@226..227 ")"
      Whitespace@227..228 " "
    Arrow@228..230 "->"
    Whitespace@230..231 " "
    TYPE_STRING@231..238
      StringKeyword@231..237 "string"
      Whitespace@237..238 " "
    BLOCK@238..415
      LBrace@238..239 "{"
      Whitespace@239..244 "\n    "
      EXPR_MATCH@244..412
        MatchKeyword@244..249 "match"
        Whitespace@249..250 " "
        EXPR_IDENT@250..256
          PATH@250..256
            Ident@250..255 "value"
            Whitespace@255..256 " "
        MATCH_ARM_LIST@256..412
          LBrace@256..257 "{"
          Whitespace@257..266 "\n        "
          MATCH_ARM@266..314
            PATTERN_CONSTR@266..281
              PATH@266..272
                Ident@266..272 "Shared"
              LParen@272..273 "("
              PATTERN_VARIABLE@273..279
                Ident@273..279 "number"
              RParen@279..280 ")"
              Whitespace@280..281 " "
            FatArrow@281..283 "=>"
            Whitespace@283..284 " "
            EXPR_BINARY@284..314
              EXPR_STR@284..294
                Str@284..293 "\"shared:\""
                Whitespace@293..294 " "
              Plus@294..295 "+"
              Whitespace@295..296 " "
              EXPR_CALL@296..314
                EXPR_BINARY@296..312
                  EXPR_IDENT@296..302
                    PATH@296..302
                      Ident@296..302 "number"
                  Dot@302..303 "."
                  EXPR_IDENT@303..312
                    PATH@303..312
                      Ident@303..312 "to_string"
                ARG_LIST@312..314
                  LParen@312..313 "("
                  RParen@313..314 ")"
          Comma@314..315 ","
          Whitespace@315..324 "\n        "
          MATCH_ARM@324..338
            PATTERN_CONSTR@324..329
              PATH@324..329
                Ident@324..328 "Idle"
                Whitespace@328..329 " "
            FatArrow@329..331 "=>"
            Whitespace@331..332 " "
            EXPR_STR@332..338
              Str@332..338 "\"idle\""
          Comma@338..339 ","
          Whitespace@339..348 "\n        "
          MATCH_ARM@348..404
            PATTERN_CONSTR@348..370
              PATH@348..353
                Ident@348..352 "Data"
                Whitespace@352..353 " "
              STRUCT_PATTERN_FIELD_LIST@353..370
                LBrace@353..354 "{"
                Whitespace@354..355 " "
                STRUCT_PATTERN_FIELD@355..360
                  Ident@355..360 "value"
                Comma@360..361 ","
                Whitespace@361..362 " "
                STRUCT_PATTERN_FIELD@362..368
                  Ident@362..367 "label"
                  Whitespace@367..368 " "
                RBrace@368..369 "}"
                Whitespace@369..370 " "
            FatArrow@370..372 "=>"
            Whitespace@372..373 " "
            EXPR_BINARY@373..404
              EXPR_BINARY@373..385
                EXPR_IDENT@373..379
                  PATH@373..379
                    Ident@373..378 "label"
                    Whitespace@378..379 " "
                Plus@379..380 "+"
                Whitespace@380..381 " "
                EXPR_STR@381..385
                  Str@381..384 "\":\""
                  Whitespace@384..385 " "
              Plus@385..386 "+"
              Whitespace@386..387 " "
              EXPR_CALL@387..404
                EXPR_BINARY@387..402
                  EXPR_IDENT@387..392
                    PATH@387..392
                      Ident@387..392 "value"
                  Dot@392..393 "."
                  EXPR_IDENT@393..402
                    PATH@393..402
                      Ident@393..402 "to_string"
                ARG_LIST@402..404
                  LParen@402..403 "("
                  RParen@403..404 ")"
          Comma@404..405 ","
          Whitespace@405..410 "\n    "
          RBrace@410..411 "}"
          Whitespace@411..412 "\n"
      RBrace@412..413 "}"
      Whitespace@413..415 "\n\n"
  FN@415..628
    FnKeyword@415..417 "fn"
    Whitespace@417..418 " "
    Ident@418..424 "nested"
    PARAM_LIST@424..461
      LParen@424..425 "("
      PARAM@425..459
        Ident@425..430 "value"
        Colon@430..431 ":"
        Whitespace@431..432 " "
        TYPE_TAPP@432..459
          PATH@432..438
            Ident@432..438 "Option"
          TYPE_PARAM_LIST@438..459
            LBracket@438..439 "["
            TYPE_TAPP@439..458
              PATH@439..445
                Ident@439..445 "Result"
              TYPE_PARAM_LIST@445..458
                LBracket@445..446 "["
                TYPE_INT@446..449
                  IntKeyword@446..449 "int"
                Comma@449..450 ","
                Whitespace@450..451 " "
                TYPE_STRING@451..457
                  StringKeyword@451..457 "string"
                RBracket@457..458 "]"
            RBracket@458..459 "]"
      RParen@459..460 ")"
      Whitespace@460..461 " "
    Arrow@461..463 "->"
    Whitespace@463..464 " "
    TYPE_STRING@464..471
      StringKeyword@464..470 "string"
      Whitespace@470..471 " "
    BLOCK@471..628
      LBrace@471..472 "{"
      Whitespace@472..477 "\n    "
      EXPR_MATCH@477..625
        MatchKeyword@477..482 "match"
        Whitespace@482..483 " "
        EXPR_IDENT@483..489
          PATH@483..489
            Ident@483..488 "value"
            Whitespace@488..489 " "
        MATCH_ARM_LIST@489..625
          LBrace@489..490 "{"
          Whitespace@490..499 "\n        "
          MATCH_ARM@499..545
            PATTERN_CONSTR@499..516
              PATH@499..503
                Ident@499..503 "Some"
              LParen@503..504 "("
              PATTERN_CONSTR@504..514
                PATH@504..506
                  Ident@504..506 "Ok"
                LParen@506..507 "("
                PATTERN_VARIABLE@507..513
                  Ident@507..513 "number"
                RParen@513..514 ")"
              RParen@514..515 ")"
              Whitespace@515..516 " "
            FatArrow@516..518 "=>"
            Whitespace@518..519 " "
            EXPR_BINARY@519..545
              EXPR_STR@519..525
                Str@519..524 "\"ok:\""
                Whitespace@524..525 " "
              Plus@525..526 "+"
              Whitespace@526..527 " "
              EXPR_CALL@527..545
                EXPR_BINARY@527..543
                  EXPR_IDENT@527..533
                    PATH@527..533
                      Ident@527..533 "number"
                  Dot@533..534 "."
                  EXPR_IDENT@534..543
                    PATH@534..543
                      Ident@534..543 "to_string"
                ARG_LIST@543..545
                  LParen@543..544 "("
                  RParen@544..545 ")"
          Comma@545..546 ","
          Whitespace@546..555 "\n        "
          MATCH_ARM@555..593
            PATTERN_CONSTR@555..574
              PATH@555..559
                Ident@555..559 "Some"
              LParen@559..560 "("
              PATTERN_CONSTR@560..572
                PATH@560..563
                  Ident@560..563 "Err"
                LParen@563..564 "("
                PATTERN_VARIABLE@564..571
                  Ident@564..571 "message"
                RParen@571..572 ")"
              RParen@572..573 ")"
              Whitespace@573..574 " "
            FatArrow@574..576 "=>"
            Whitespace@576..577 " "
            EXPR_BINARY@577..593
              EXPR_STR@577..584
                Str@577..583 "\"err:\""
                Whitespace@583..584 " "
              Plus@584..585 "+"
              Whitespace@585..586 " "
              EXPR_IDENT@586..593
                PATH@586..593
                  Ident@586..593 "message"
          Comma@593..594 ","
          Whitespace@594..603 "\n        "
          MATCH_ARM@603..617
            PATTERN_CONSTR@603..608
              PATH@603..608
                Ident@603..607 "None"
                Whitespace@607..608 " "
            FatArrow@608..610 "=>"
            Whitespace@610..611 " "
            EXPR_STR@611..617
              Str@611..617 "\"none\""
          Comma@617..618 ","
          Whitespace@618..623 "\n    "
          RBrace@623..624 "}"
          Whitespace@624..625 "\n"
      RBrace@625..626 "}"
      Whitespace@626..628 "\n\n"
  FN@628..757
    FnKeyword@628..630 "fn"
    Whitespace@630..631 " "
    Ident@631..646 "optional_number"
    PARAM_LIST@646..667
      LParen@646..647 "("
      PARAM@647..665
        Ident@647..652 "value"
        Colon@652..653 ":"
        Whitespace@653..654 " "
        TYPE_TAPP@654..665
          PATH@654..660
            Ident@654..660 "Option"
          TYPE_PARAM_LIST@660..665
            LBracket@660..661 "["
            TYPE_INT@661..664
              IntKeyword@661..664 "int"
            RBracket@664..665 "]"
      RParen@665..666 ")"
      Whitespace@666..667 " "
    Arrow@667..669 "->"
    Whitespace@669..670 " "
    TYPE_INT@670..674
      IntKeyword@670..673 "int"
      Whitespace@673..674 " "
    BLOCK@674..757
      LBrace@674..675 "{"
      Whitespace@675..680 "\n    "
      EXPR_IF@680..754
        IfKeyword@680..682 "if"
        Whitespace@682..683 " "
        EXPR_IF_COND@683..708
          LetKeyword@683..686 "let"
          Whitespace@686..687 " "
          PATTERN_CONSTR@687..700
            PATH@687..691
              Ident@687..691 "Some"
            LParen@691..692 "("
            PATTERN_VARIABLE@692..698
              Ident@692..698 "number"
            RParen@698..699 ")"
            Whitespace@699..700 " "
          Eq@700..701 "="
          Whitespace@701..702 " "
          EXPR_IDENT@702..708
            PATH@702..708
              Ident@702..707 "value"
              Whitespace@707..708 " "
        EXPR_IF_THEN@708..731
          BLOCK@708..731
            LBrace@708..709 "{"
            Whitespace@709..718 "\n        "
            EXPR_IDENT@718..729
              PATH@718..729
                Ident@718..724 "number"
                Whitespace@724..729 "\n    "
            RBrace@729..730 "}"
            Whitespace@730..731 " "
        ElseKeyword@731..735 "else"
        Whitespace@735..736 " "
        EXPR_IF_ELSE@736..754
          BLOCK@736..754
            LBrace@736..737 "{"
            Whitespace@737..746 "\n        "
            EXPR_INT@746..752
              Int@746..747 "0"
              Whitespace@747..752 "\n    "
            RBrace@752..753 "}"
            Whitespace@753..754 "\n"
      RBrace@754..755 "}"
      Whitespace@755..757 "\n\n"
  FN@757..892
    FnKeyword@757..759 "fn"
    Whitespace@759..760 " "
    Ident@760..773 "is_non_shared"
    PARAM_LIST@773..791
      LParen@773..774 "("
      PARAM@774..789
        Ident@774..779 "value"
        Colon@779..780 ":"
        Whitespace@780..781 " "
        TYPE_TAPP@781..789
          PATH@781..789
            Ident@781..789 "FirstInt"
      RParen@789..790 ")"
      Whitespace@790..791 " "
    Arrow@791..793 "->"
    Whitespace@793..794 " "
    TYPE_BOOL@794..799
      BoolKeyword@794..798 "bool"
      Whitespace@798..799 " "
    BLOCK@799..892
      LBrace@799..800 "{"
      Whitespace@800..805 "\n    "
      EXPR_MATCH@805..889
        MatchKeyword@805..810 "match"
        Whitespace@810..811 " "
        EXPR_IDENT@811..817
          PATH@811..817
            Ident@811..816 "value"
            Whitespace@816..817 " "
        MATCH_ARM_LIST@817..889
          LBrace@817..818 "{"
          Whitespace@818..827 "\n        "
          MATCH_ARM@827..853
            PATTERN_OR@827..846
              PATTERN_CONSTR@827..832
                PATH@827..832
                  Ident@827..831 "Idle"
                  Whitespace@831..832 " "
              Pipe@832..833 "|"
              Whitespace@833..834 " "
              PATTERN_CONSTR@834..846
                PATH@834..839
                  Ident@834..838 "Data"
                  Whitespace@838..839 " "
                STRUCT_PATTERN_FIELD_LIST@839..846
                  LBrace@839..840 "{"
                  Whitespace@840..841 " "
                  PATTERN_REST@841..844
                    DotDot@841..843 ".."
                    Whitespace@843..844 " "
                  RBrace@844..845 "}"
                  Whitespace@845..846 " "
            FatArrow@846..848 "=>"
            Whitespace@848..849 " "
            EXPR_BOOL@849..853
              TrueKeyword@849..853 "true"
          Comma@853..854 ","
          Whitespace@854..863 "\n        "
          MATCH_ARM@863..881
            PATTERN_CONSTR@863..873
              PATH@863..869
                Ident@863..869 "Shared"
              LParen@869..870 "("
              PATTERN_WILDCARD@870..871
                WildcardKeyword@870..871 "_"
              RParen@871..872 ")"
              Whitespace@872..873 " "
            FatArrow@873..875 "=>"
            Whitespace@875..876 " "
            EXPR_BOOL@876..881
              FalseKeyword@876..881 "false"
          Comma@881..882 ","
          Whitespace@882..887 "\n    "
          RBrace@887..888 "}"
          Whitespace@888..889 "\n"
      RBrace@889..890 "}"
      Whitespace@890..892 "\n\n"
  FN@892..1133
    FnKeyword@892..894 "fn"
    Whitespace@894..895 " "
    Ident@895..904 "take_once"
    PARAM_LIST@904..925
      LParen@904..905 "("
      PARAM@905..923
        Ident@905..910 "value"
        Colon@910..911 ":"
        Whitespace@911..912 " "
        TYPE_TAPP@912..923
          PATH@912..918
            Ident@912..918 "Option"
          TYPE_PARAM_LIST@918..923
            LBracket@918..919 "["
            TYPE_INT@919..922
              IntKeyword@919..922 "int"
            RBracket@922..923 "]"
      RParen@923..924 ")"
      Whitespace@924..925 " "
    Arrow@925..927 "->"
    Whitespace@927..928 " "
    TYPE_INT@928..932
      IntKeyword@928..931 "int"
      Whitespace@931..932 " "
    BLOCK@932..1133
      LBrace@932..933 "{"
      Whitespace@933..938 "\n    "
      STMT_LET@938..973
        LetKeyword@938..941 "let"
        Whitespace@941..942 " "
        PATTERN_VARIABLE@942..950
          Ident@942..949 "current"
          Whitespace@949..950 " "
        Eq@950..951 "="
        Whitespace@951..952 " "
        EXPR_CALL@952..967
          EXPR_IDENT@952..960
            PATH@952..960
              Ident@952..955 "Ref"
              ColonColon@955..957 "::"
              Ident@957..960 "new"
          ARG_LIST@960..967
            LParen@960..961 "("
            ARG@961..966
              EXPR_IDENT@961..966
                PATH@961..966
                  Ident@961..966 "value"
            RParen@966..967 ")"
        Semi@967..968 ";"
        Whitespace@968..973 "\n    "
      STMT_LET@973..1003
        LetKeyword@973..976 "let"
        Whitespace@976..977 " "
        PATTERN_VARIABLE@977..984
          Ident@977..983 "result"
          Whitespace@983..984 " "
        Eq@984..985 "="
        Whitespace@985..986 " "
        EXPR_CALL@986..997
          EXPR_IDENT@986..994
            PATH@986..994
              Ident@986..989 "Ref"
              ColonColon@989..991 "::"
              Ident@991..994 "new"
          ARG_LIST@994..997
            LParen@994..995 "("
            ARG@995..996
              EXPR_INT@995..996
                Int@995..996 "0"
            RParen@996..997 ")"
        Semi@997..998 ";"
        Whitespace@998..1003 "\n    "
      STMT_EXPR@1003..1117
        EXPR_WHILE@1003..1117
          WhileKeyword@1003..1008 "while"
          Whitespace@1008..1009 " "
          EXPR_WHILE_COND@1009..1042
            LetKeyword@1009..1012 "let"
            Whitespace@1012..1013 " "
            PATTERN_CONSTR@1013..1026
              PATH@1013..1017
                Ident@1013..1017 "Some"
              LParen@1017..1018 "("
              PATTERN_VARIABLE@1018..1024
                Ident@1018..1024 "number"
              RParen@1024..1025 ")"
              Whitespace@1025..1026 " "
            Eq@1026..1027 "="
            Whitespace@1027..1028 " "
            EXPR_CALL@1028..1042
              EXPR_BINARY@1028..1039
                EXPR_IDENT@1028..1035
                  PATH@1028..1035
                    Ident@1028..1035 "current"
                Dot@1035..1036 "."
                EXPR_IDENT@1036..1039
                  PATH@1036..1039
                    Ident@1036..1039 "get"
              ARG_LIST@1039..1042
                LParen@1039..1040 "("
                RParen@1040..1041 ")"
                Whitespace@1041..1042 " "
          EXPR_WHILE_BODY@1042..1117
            BLOCK@1042..1117
              LBrace@1042..1043 "{"
              Whitespace@1043..1052 "\n        "
              STMT_EXPR@1052..1080
                EXPR_CALL@1052..1070
                  EXPR_BINARY@1052..1062
                    EXPR_IDENT@1052..1058
                      PATH@1052..1058
                        Ident@1052..1058 "result"
                    Dot@1058..1059 "."
                    EXPR_IDENT@1059..1062
                      PATH@1059..1062
                        Ident@1059..1062 "set"
                  ARG_LIST@1062..1070
                    LParen@1062..1063 "("
                    ARG@1063..1069
                      EXPR_IDENT@1063..1069
                        PATH@1063..1069
                          Ident@1063..1069 "number"
                    RParen@1069..1070 ")"
                Semi@1070..1071 ";"
                Whitespace@1071..1080 "\n        "
              STMT_EXPR@1080..1111
                EXPR_CALL@1080..1105
                  EXPR_BINARY@1080..1091
                    EXPR_IDENT@1080..1087
                      PATH@1080..1087
                        Ident@1080..1087 "current"
                    Dot@1087..1088 "."
                    EXPR_IDENT@1088..1091
                      PATH@1088..1091
                        Ident@1088..1091 "set"
                  ARG_LIST@1091..1105
                    LParen@1091..1092 "("
                    ARG@1092..1104
                      EXPR_IDENT@1092..1104
                        PATH@1092..1104
                          Ident@1092..1098 "Option"
                          ColonColon@1098..1100 "::"
                          Ident@1100..1104 "None"
                    RParen@1104..1105 ")"
                Semi@1105..1106 ";"
                Whitespace@1106..1111 "\n    "
              RBrace@1111..1112 "}"
              Whitespace@1112..1117 "\n    "
      EXPR_CALL@1117..1130
        EXPR_BINARY@1117..1127
          EXPR_IDENT@1117..1123
            PATH@1117..1123
              Ident@1117..1123 "result"
          Dot@1123..1124 "."
          EXPR_IDENT@1124..1127
            PATH@1124..1127
              Ident@1124..1127 "get"
        ARG_LIST@1127..1130
          LParen@1127..1128 "("
          RParen@1128..1129 ")"
          Whitespace@1129..1130 "\n"
      RBrace@1130..1131 "}"
      Whitespace@1131..1133 "\n\n"
  FN@1133..1215
    FnKeyword@1133..1135 "fn"
    Whitespace@1135..1136 " "
    Ident@1136..1141 "unbox"
    PARAM_LIST@1141..1161
      LParen@1141..1142 "("
      PARAM@1142..1159
        Ident@1142..1147 "value"
        Colon@1147..1148 ":"
        Whitespace@1148..1149 " "
        TYPE_TAPP@1149..1159
          PATH@1149..1154
            Ident@1149..1154 "Boxed"
          TYPE_PARAM_LIST@1154..1159
            LBracket@1154..1155 "["
            TYPE_INT@1155..1158
              IntKeyword@1155..1158 "int"
            RBracket@1158..1159 "]"
      RParen@1159..1160 ")"
      Whitespace@1160..1161 " "
    Arrow@1161..1163 "->"
    Whitespace@1163..1164 " "
    TYPE_INT@1164..1168
      IntKeyword@1164..1167 "int"
      Whitespace@1167..1168 " "
    BLOCK@1168..1215
      LBrace@1168..1169 "{"
      Whitespace@1169..1174 "\n    "
      STMT_LET@1174..1205
        LetKeyword@1174..1177 "let"
        Whitespace@1177..1178 " "
        PATTERN_CONSTR@1178..1192
          PATH@1178..1183
            Ident@1178..1183 "Value"
          LParen@1183..1184 "("
          PATTERN_VARIABLE@1184..1190
            Ident@1184..1190 "number"
          RParen@1190..1191 ")"
          Whitespace@1191..1192 " "
        Eq@1192..1193 "="
        Whitespace@1193..1194 " "
        EXPR_IDENT@1194..1199
          PATH@1194..1199
            Ident@1194..1199 "value"
        Semi@1199..1200 ";"
        Whitespace@1200..1205 "\n    "
      EXPR_IDENT@1205..1212
        PATH@1205..1212
          Ident@1205..1211 "number"
          Whitespace@1211..1212 "\n"
      RBrace@1212..1213 "}"
      Whitespace@1213..1215 "\n\n"
  FN@1215..1395
    FnKeyword@1215..1217 "fn"
    Whitespace@1217..1218 " "
    Ident@1218..1227 "sum_boxed"
    PARAM_LIST@1227..1253
      LParen@1227..1228 "("
      PARAM@1228..1251
        Ident@1228..1234 "values"
        Colon@1234..1235 ":"
        Whitespace@1235..1236 " "
        TYPE_TAPP@1236..1251
          PATH@1236..1239
            Ident@1236..1239 "Vec"
          TYPE_PARAM_LIST@1239..1251
            LBracket@1239..1240 "["
            TYPE_TAPP@1240..1250
              PATH@1240..1245
                Ident@1240..1245 "Boxed"
              TYPE_PARAM_LIST@1245..1250
                LBracket@1245..1246 "["
                TYPE_INT@1246..1249
                  IntKeyword@1246..1249 "int"
                RBracket@1249..1250 "]"
            RBracket@1250..1251 "]"
      RParen@1251..1252 ")"
      Whitespace@1252..1253 " "
    Arrow@1253..1255 "->"
    Whitespace@1255..1256 " "
    TYPE_INT@1256..1260
      IntKeyword@1256..1259 "int"
      Whitespace@1259..1260 " "
    BLOCK@1260..1395
      LBrace@1260..1261 "{"
      Whitespace@1261..1266 "\n    "
      STMT_LET@1266..1296
        LetKeyword@1266..1269 "let"
        Whitespace@1269..1270 " "
        PATTERN_VARIABLE@1270..1277
          Ident@1270..1276 "result"
          Whitespace@1276..1277 " "
        Eq@1277..1278 "="
        Whitespace@1278..1279 " "
        EXPR_CALL@1279..1290
          EXPR_IDENT@1279..1287
            PATH@1279..1287
              Ident@1279..1282 "Ref"
              ColonColon@1282..1284 "::"
              Ident@1284..1287 "new"
          ARG_LIST@1287..1290
            LParen@1287..1288 "("
            ARG@1288..1289
              EXPR_INT@1288..1289
                Int@1288..1289 "0"
            RParen@1289..1290 ")"
        Semi@1290..1291 ";"
        Whitespace@1291..1296 "\n    "
      STMT_EXPR@1296..1379
        EXPR_FOR@1296..1379
          ForKeyword@1296..1299 "for"
          Whitespace@1299..1300 " "
          PATTERN_CONSTR@1300..1314
            PATH@1300..1305
              Ident@1300..1305 "Value"
            LParen@1305..1306 "("
            PATTERN_VARIABLE@1306..1312
              Ident@1306..1312 "number"
            RParen@1312..1313 ")"
            Whitespace@1313..1314 " "
          InKeyword@1314..1316 "in"
          Whitespace@1316..1317 " "
          EXPR_IDENT@1317..1324
            PATH@1317..1324
              Ident@1317..1323 "values"
              Whitespace@1323..1324 " "
          BLOCK@1324..1379
            LBrace@1324..1325 "{"
            Whitespace@1325..1334 "\n        "
            STMT_EXPR@1334..1373
              EXPR_CALL@1334..1367
                EXPR_BINARY@1334..1344
                  EXPR_IDENT@1334..1340
                    PATH@1334..1340
                      Ident@1334..1340 "result"
                  Dot@1340..1341 "."
                  EXPR_IDENT@1341..1344
                    PATH@1341..1344
                      Ident@1341..1344 "set"
                ARG_LIST@1344..1367
                  LParen@1344..1345 "("
                  ARG@1345..1366
                    EXPR_BINARY@1345..1366
                      EXPR_CALL@1345..1358
                        EXPR_BINARY@1345..1355
                          EXPR_IDENT@1345..1351
                            PATH@1345..1351
                              Ident@1345..1351 "result"
                          Dot@1351..1352 "."
                          EXPR_IDENT@1352..1355
                            PATH@1352..1355
                              Ident@1352..1355 "get"
                        ARG_LIST@1355..1358
                          LParen@1355..1356 "("
                          RParen@1356..1357 ")"
                          Whitespace@1357..1358 " "
                      Plus@1358..1359 "+"
                      Whitespace@1359..1360 " "
                      EXPR_IDENT@1360..1366
                        PATH@1360..1366
                          Ident@1360..1366 "number"
                  RParen@1366..1367 ")"
              Semi@1367..1368 ";"
              Whitespace@1368..1373 "\n    "
            RBrace@1373..1374 "}"
            Whitespace@1374..1379 "\n    "
      EXPR_CALL@1379..1392
        EXPR_BINARY@1379..1389
          EXPR_IDENT@1379..1385
            PATH@1379..1385
              Ident@1379..1385 "result"
          Dot@1385..1386 "."
          EXPR_IDENT@1386..1389
            PATH@1386..1389
              Ident@1386..1389 "get"
        ARG_LIST@1389..1392
          LParen@1389..1390 "("
          RParen@1390..1391 ")"
          Whitespace@1391..1392 "\n"
      RBrace@1392..1393 "}"
      Whitespace@1393..1395 "\n\n"
  FN@1395..2076
    FnKeyword@1395..1397 "fn"
    Whitespace@1397..1398 " "
    Ident@1398..1402 "main"
    PARAM_LIST@1402..1405
      LParen@1402..1403 "("
      RParen@1403..1404 ")"
      Whitespace@1404..1405 " "
    Arrow@1405..1407 "->"
    Whitespace@1407..1408 " "
    TYPE_UNIT@1408..1413
      UnitKeyword@1408..1412 "unit"
      Whitespace@1412..1413 " "
    BLOCK@1413..2076
      LBrace@1413..1414 "{"
      Whitespace@1414..1419 "\n    "
      STMT_LET@1419..1507
        LetKeyword@1419..1422 "let"
        Whitespace@1422..1423 " "
        PATTERN_VARIABLE@1423..1428
          Ident@1423..1428 "boxed"
        Colon@1428..1429 ":"
        Whitespace@1429..1430 " "
        TYPE_TAPP@1430..1446
          PATH@1430..1433
            Ident@1430..1433 "Vec"
          TYPE_PARAM_LIST@1433..1446
            LBracket@1433..1434 "["
            TYPE_TAPP@1434..1444
              PATH@1434..1439
                Ident@1434..1439 "Boxed"
              TYPE_PARAM_LIST@1439..1444
                LBracket@1439..1440 "["
                TYPE_INT@1440..1443
                  IntKeyword@1440..1443 "int"
                RBracket@1443..1444 "]"
            RBracket@1444..1445 "]"
            Whitespace@1445..1446 " "
        Eq@1446..1447 "="
        Whitespace@1447..1448 " "
        EXPR_CALL@1448..1501
          EXPR_IDENT@1448..1463
            PATH@1448..1463
              Ident@1448..1451 "Vec"
              ColonColon@1451..1453 "::"
              Ident@1453..1463 "from_array"
          ARG_LIST@1463..1501
            LParen@1463..1464 "("
            ARG@1464..1500
              EXPR_ARRAY_LITERAL@1464..1500
                LBracket@1464..1465 "["
                EXPR_CALL@1465..1481
                  EXPR_IDENT@1465..1477
                    PATH@1465..1477
                      Ident@1465..1470 "Boxed"
                      ColonColon@1470..1472 "::"
                      Ident@1472..1477 "Value"
                  ARG_LIST@1477..1481
                    LParen@1477..1478 "("
                    ARG@1478..1480
                      EXPR_INT@1478..1480
                        Int@1478..1480 "19"
                    RParen@1480..1481 ")"
                Comma@1481..1482 ","
                Whitespace@1482..1483 " "
                EXPR_CALL@1483..1499
                  EXPR_IDENT@1483..1495
                    PATH@1483..1495
                      Ident@1483..1488 "Boxed"
                      ColonColon@1488..1490 "::"
                      Ident@1490..1495 "Value"
                  ARG_LIST@1495..1499
                    LParen@1495..1496 "("
                    ARG@1496..1498
                      EXPR_INT@1496..1498
                        Int@1496..1498 "23"
                    RParen@1498..1499 ")"
                RBracket@1499..1500 "]"
            RParen@1500..1501 ")"
        Semi@1501..1502 ";"
        Whitespace@1502..1507 "\n    "
      STMT_EXPR@1507..1548
        EXPR_CALL@1507..1542
          EXPR_IDENT@1507..1514
            PATH@1507..1514
              Ident@1507..1514 "println"
          ARG_LIST@1514..1542
            LParen@1514..1515 "("
            ARG@1515..1541
              EXPR_CALL@1515..1541
                EXPR_IDENT@1515..1523
                  PATH@1515..1523
                    Ident@1515..1523 "classify"
                ARG_LIST@1523..1541
                  LParen@1523..1524 "("
                  ARG@1524..1540
                    EXPR_CALL@1524..1540
                      EXPR_IDENT@1524..1537
                        PATH@1524..1537
                          Ident@1524..1529 "First"
                          ColonColon@1529..1531 "::"
                          Ident@1531..1537 "Shared"
                      ARG_LIST@1537..1540
                        LParen@1537..1538 "("
                        ARG@1538..1539
                          EXPR_INT@1538..1539
                            Int@1538..1539 "7"
                        RParen@1539..1540 ")"
                  RParen@1540..1541 ")"
            RParen@1541..1542 ")"
        Semi@1542..1543 ";"
        Whitespace@1543..1548 "\n    "
      STMT_EXPR@1548..1584
        EXPR_CALL@1548..1578
          EXPR_IDENT@1548..1555
            PATH@1548..1555
              Ident@1548..1555 "println"
          ARG_LIST@1555..1578
            LParen@1555..1556 "("
            ARG@1556..1577
              EXPR_CALL@1556..1577
                EXPR_IDENT@1556..1564
                  PATH@1556..1564
                    Ident@1556..1564 "classify"
                ARG_LIST@1564..1577
                  LParen@1564..1565 "("
                  ARG@1565..1576
                    EXPR_IDENT@1565..1576
                      PATH@1565..1576
                        Ident@1565..1570 "First"
                        ColonColon@1570..1572 "::"
                        Ident@1572..1576 "Idle"
                  RParen@1576..1577 ")"
            RParen@1577..1578 ")"
        Semi@1578..1579 ";"
        Whitespace@1579..1584 "\n    "
      STMT_EXPR@1584..1648
        EXPR_CALL@1584..1642
          EXPR_IDENT@1584..1591
            PATH@1584..1591
              Ident@1584..1591 "println"
          ARG_LIST@1591..1642
            LParen@1591..1592 "("
            ARG@1592..1641
              EXPR_CALL@1592..1641
                EXPR_IDENT@1592..1600
                  PATH@1592..1600
                    Ident@1592..1600 "classify"
                ARG_LIST@1600..1641
                  LParen@1600..1601 "("
                  ARG@1601..1640
                    EXPR_STRUCT_LITERAL@1601..1640
                      PATH@1601..1613
                        Ident@1601..1606 "First"
                        ColonColon@1606..1608 "::"
                        Ident@1608..1612 "Data"
                        Whitespace@1612..1613 " "
                      STRUCT_LITERAL_FIELD_LIST@1613..1640
                        LBrace@1613..1614 "{"
                        Whitespace@1614..1615 " "
                        STRUCT_LITERAL_FIELD@1615..1623
                          Ident@1615..1620 "value"
                          Colon@1620..1621 ":"
                          Whitespace@1621..1622 " "
                          EXPR_INT@1622..1623
                            Int@1622..1623 "9"
                        Comma@1623..1624 ","
                        Whitespace@1624..1625 " "
                        STRUCT_LITERAL_FIELD@1625..1639
                          Ident@1625..1630 "label"
                          Colon@1630..1631 ":"
                          Whitespace@1631..1632 " "
                          EXPR_STR@1632..1639
                            Str@1632..1638 "\"data\""
                            Whitespace@1638..1639 " "
                        RBrace@1639..1640 "}"
                  RParen@1640..1641 ")"
            RParen@1641..1642 ")"
        Semi@1642..1643 ";"
        Whitespace@1643..1648 "\n    "
      STMT_EXPR@1648..1699
        EXPR_CALL@1648..1693
          EXPR_IDENT@1648..1655
            PATH@1648..1655
              Ident@1648..1655 "println"
          ARG_LIST@1655..1693
            LParen@1655..1656 "("
            ARG@1656..1692
              EXPR_CALL@1656..1692
                EXPR_IDENT@1656..1662
                  PATH@1656..1662
                    Ident@1656..1662 "nested"
                ARG_LIST@1662..1692
                  LParen@1662..1663 "("
                  ARG@1663..1691
                    EXPR_CALL@1663..1691
                      EXPR_IDENT@1663..1675
                        PATH@1663..1675
                          Ident@1663..1669 "Option"
                          ColonColon@1669..1671 "::"
                          Ident@1671..1675 "Some"
                      ARG_LIST@1675..1691
                        LParen@1675..1676 "("
                        ARG@1676..1690
                          EXPR_CALL@1676..1690
                            EXPR_IDENT@1676..1686
                              PATH@1676..1686
                                Ident@1676..1682 "Result"
                                ColonColon@1682..1684 "::"
                                Ident@1684..1686 "Ok"
                            ARG_LIST@1686..1690
                              LParen@1686..1687 "("
                              ARG@1687..1689
                                EXPR_INT@1687..1689
                                  Int@1687..1689 "11"
                              RParen@1689..1690 ")"
                        RParen@1690..1691 ")"
                  RParen@1691..1692 ")"
            RParen@1692..1693 ")"
        Semi@1693..1694 ";"
        Whitespace@1694..1699 "\n    "
      STMT_EXPR@1699..1754
        EXPR_CALL@1699..1748
          EXPR_IDENT@1699..1706
            PATH@1699..1706
              Ident@1699..1706 "println"
          ARG_LIST@1706..1748
            LParen@1706..1707 "("
            ARG@1707..1747
              EXPR_CALL@1707..1747
                EXPR_IDENT@1707..1713
                  PATH@1707..1713
                    Ident@1707..1713 "nested"
                ARG_LIST@1713..1747
                  LParen@1713..1714 "("
                  ARG@1714..1746
                    EXPR_CALL@1714..1746
                      EXPR_IDENT@1714..1726
                        PATH@1714..1726
                          Ident@1714..1720 "Option"
                          ColonColon@1720..1722 "::"
                          Ident@1722..1726 "Some"
                      ARG_LIST@1726..1746
                        LParen@1726..1727 "("
                        ARG@1727..1745
                          EXPR_CALL@1727..1745
                            EXPR_IDENT@1727..1738
                              PATH@1727..1738
                                Ident@1727..1733 "Result"
                                ColonColon@1733..1735 "::"
                                Ident@1735..1738 "Err"
                            ARG_LIST@1738..1745
                              LParen@1738..1739 "("
                              ARG@1739..1744
                                EXPR_STR@1739..1744
                                  Str@1739..1744 "\"bad\""
                              RParen@1744..1745 ")"
                        RParen@1745..1746 ")"
                  RParen@1746..1747 ")"
            RParen@1747..1748 ")"
        Semi@1748..1749 ";"
        Whitespace@1749..1754 "\n    "
      STMT_EXPR@1754..1789
        EXPR_CALL@1754..1783
          EXPR_IDENT@1754..1761
            PATH@1754..1761
              Ident@1754..1761 "println"
          ARG_LIST@1761..1783
            LParen@1761..1762 "("
            ARG@1762..1782
              EXPR_CALL@1762..1782
                EXPR_IDENT@1762..1768
                  PATH@1762..1768
                    Ident@1762..1768 "nested"
                ARG_LIST@1768..1782
                  LParen@1768..1769 "("
                  ARG@1769..1781
                    EXPR_IDENT@1769..1781
                      PATH@1769..1781
                        Ident@1769..1775 "Option"
                        ColonColon@1775..1777 "::"
                        Ident@1777..1781 "None"
                  RParen@1781..1782 ")"
            RParen@1782..1783 ")"
        Semi@1783..1784 ";"
        Whitespace@1784..1789 "\n    "
      STMT_EXPR@1789..1837
        EXPR_CALL@1789..1831
          EXPR_IDENT@1789..1796
            PATH@1789..1796
              Ident@1789..1796 "println"
          ARG_LIST@1796..1831
            LParen@1796..1797 "("
            ARG@1797..1830
              EXPR_CALL@1797..1830
                EXPR_IDENT@1797..1812
                  PATH@1797..1812
                    Ident@1797..1812 "optional_number"
                ARG_LIST@1812..1830
                  LParen@1812..1813 "("
                  ARG@1813..1829
                    EXPR_CALL@1813..1829
                      EXPR_IDENT@1813..1825
                        PATH@1813..1825
                          Ident@1813..1819 "Option"
                          ColonColon@1819..1821 "::"
                          Ident@1821..1825 "Some"
                      ARG_LIST@1825..1829
                        LParen@1825..1826 "("
                        ARG@1826..1828
                          EXPR_INT@1826..1828
                            Int@1826..1828 "13"
                        RParen@1828..1829 ")"
                  RParen@1829..1830 ")"
            RParen@1830..1831 ")"
        Semi@1831..1832 ";"
        Whitespace@1832..1837 "\n    "
      STMT_EXPR@1837..1881
        EXPR_CALL@1837..1875
          EXPR_IDENT@1837..1844
            PATH@1837..1844
              Ident@1837..1844 "println"
          ARG_LIST@1844..1875
            LParen@1844..1845 "("
            ARG@1845..1874
              EXPR_CALL@1845..1874
                EXPR_IDENT@1845..1860
                  PATH@1845..1860
                    Ident@1845..1860 "optional_number"
                ARG_LIST@1860..1874
                  LParen@1860..1861 "("
                  ARG@1861..1873
                    EXPR_IDENT@1861..1873
                      PATH@1861..1873
                        Ident@1861..1867 "Option"
                        ColonColon@1867..1869 "::"
                        Ident@1869..1873 "None"
                  RParen@1873..1874 ")"
            RParen@1874..1875 ")"
        Semi@1875..1876 ";"
        Whitespace@1876..1881 "\n    "
      STMT_EXPR@1881..1922
        EXPR_CALL@1881..1916
          EXPR_IDENT@1881..1888
            PATH@1881..1888
              Ident@1881..1888 "println"
          ARG_LIST@1888..1916
            LParen@1888..1889 "("
            ARG@1889..1915
              EXPR_CALL@1889..1915
                EXPR_IDENT@1889..1902
                  PATH@1889..1902
                    Ident@1889..1902 "is_non_shared"
                ARG_LIST@1902..1915
                  LParen@1902..1903 "("
                  ARG@1903..1914
                    EXPR_IDENT@1903..1914
                      PATH@1903..1914
                        Ident@1903..1908 "First"
                        ColonColon@1908..1910 "::"
                        Ident@1910..1914 "Idle"
                  RParen@1914..1915 ")"
            RParen@1915..1916 ")"
        Semi@1916..1917 ";"
        Whitespace@1917..1922 "\n    "
      STMT_EXPR@1922..1968
        EXPR_CALL@1922..1962
          EXPR_IDENT@1922..1929
            PATH@1922..1929
              Ident@1922..1929 "println"
          ARG_LIST@1929..1962
            LParen@1929..1930 "("
            ARG@1930..1961
              EXPR_CALL@1930..1961
                EXPR_IDENT@1930..1943
                  PATH@1930..1943
                    Ident@1930..1943 "is_non_shared"
                ARG_LIST@1943..1961
                  LParen@1943..1944 "("
                  ARG@1944..1960
                    EXPR_CALL@1944..1960
                      EXPR_IDENT@1944..1957
                        PATH@1944..1957
                          Ident@1944..1949 "First"
                          ColonColon@1949..1951 "::"
                          Ident@1951..1957 "Shared"
                      ARG_LIST@1957..1960
                        LParen@1957..1958 "("
                        ARG@1958..1959
                          EXPR_INT@1958..1959
                            Int@1958..1959 "1"
                        RParen@1959..1960 ")"
                  RParen@1960..1961 ")"
            RParen@1961..1962 ")"
        Semi@1962..1963 ";"
        Whitespace@1963..1968 "\n    "
      STMT_EXPR@1968..2010
        EXPR_CALL@1968..2004
          EXPR_IDENT@1968..1975
            PATH@1968..1975
              Ident@1968..1975 "println"
          ARG_LIST@1975..2004
            LParen@1975..1976 "("
            ARG@1976..2003
              EXPR_CALL@1976..2003
                EXPR_IDENT@1976..1985
                  PATH@1976..1985
                    Ident@1976..1985 "take_once"
                ARG_LIST@1985..2003
                  LParen@1985..1986 "("
                  ARG@1986..2002
                    EXPR_CALL@1986..2002
                      EXPR_IDENT@1986..1998
                        PATH@1986..1998
                          Ident@1986..1992 "Option"
                          ColonColon@1992..1994 "::"
                          Ident@1994..1998 "Some"
                      ARG_LIST@1998..2002
                        LParen@1998..1999 "("
                        ARG@1999..2001
                          EXPR_INT@1999..2001
                            Int@1999..2001 "15"
                        RParen@2001..2002 ")"
                  RParen@2002..2003 ")"
            RParen@2003..2004 ")"
        Semi@2004..2005 ";"
        Whitespace@2005..2010 "\n    "
      STMT_EXPR@2010..2048
        EXPR_CALL@2010..2042
          EXPR_IDENT@2010..2017
            PATH@2010..2017
              Ident@2010..2017 "println"
          ARG_LIST@2017..2042
            LParen@2017..2018 "("
            ARG@2018..2041
              EXPR_CALL@2018..2041
                EXPR_IDENT@2018..2023
                  PATH@2018..2023
                    Ident@2018..2023 "unbox"
                ARG_LIST@2023..2041
                  LParen@2023..2024 "("
                  ARG@2024..2040
                    EXPR_CALL@2024..2040
                      EXPR_IDENT@2024..2036
                        PATH@2024..2036
                          Ident@2024..2029 "Boxed"
                          ColonColon@2029..2031 "::"
                          Ident@2031..2036 "Value"
                      ARG_LIST@2036..2040
                        LParen@2036..2037 "("
                        ARG@2037..2039
                          EXPR_INT@2037..2039
                            Int@2037..2039 "17"
                        RParen@2039..2040 ")"
                  RParen@2040..2041 ")"
            RParen@2041..2042 ")"
        Semi@2042..2043 ";"
        Whitespace@2043..2048 "\n    "
      EXPR_CALL@2048..2074
        EXPR_IDENT@2048..2055
          PATH@2048..2055
            Ident@2048..2055 "println"
        ARG_LIST@2055..2074
          LParen@2055..2056 "("
          ARG@2056..2072
            EXPR_CALL@2056..2072
              EXPR_IDENT@2056..2065
                PATH@2056..2065
                  Ident@2056..2065 "sum_boxed"
              ARG_LIST@2065..2072
                LParen@2065..2066 "("
                ARG@2066..2071
                  EXPR_IDENT@2066..2071
                    PATH@2066..2071
                      Ident@2066..2071 "boxed"
                RParen@2071..2072 ")"
          RParen@2072..2073 ")"
          Whitespace@2073..2074 "\n"
      RBrace@2074..2075 "}"
      Whitespace@2075..2076 "\n"