FILE@0..689
  FN@0..75
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "combine"
    PARAM_LIST@10..38
      LParen@10..11 "("
      PARAM@11..24
        Ident@11..15 "left"
        Colon@15..16 ":"
        Whitespace@16..17 " "
        TYPE_UINT@17..22
          UsizeKeyword@17..22 "usize"
        Comma@22..23 ","
        Whitespace@23..24 " "
      PARAM@24..36
        Ident@24..29 "right"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_UINT@31..36
          UsizeKeyword@31..36 "usize"
      RParen@36..37 ")"
      Whitespace@37..38 " "
    Arrow@38..40 "->"
    Whitespace@40..41 " "
    TYPE_UINT@41..47
      UsizeKeyword@41..46 "usize"
      Whitespace@46..47 " "
    BLOCK@47..75
      LBrace@47..48 "{"
      Whitespace@48..53 "\n    "
      EXPR_BINARY@53..72
        EXPR_PAREN@53..68
          LParen@53..54 "("
          EXPR_BINARY@54..66
            EXPR_IDENT@54..59
              PATH@54..59
                Ident@54..58 "left"
                Whitespace@58..59 " "
            Plus@59..60 "+"
            Whitespace@60..61 " "
            EXPR_IDENT@61..66
              PATH@61..66
                Ident@61..66 "right"
          RParen@66..67 ")"
          Whitespace@67..68 " "
        Star@68..69 "*"
        Whitespace@69..70 " "
        EXPR_INT@70..72
          Int@70..71 "2"
          Whitespace@71..72 "\n"
      RBrace@72..73 "}"
      Whitespace@73..75 "\n\n"
  FN@75..207
    FnKeyword@75..77 "fn"
    Whitespace@77..78 " "
    Ident@78..86 "classify"
    PARAM_LIST@86..101
      LParen@86..87 "("
      PARAM@87..99
        Ident@87..92 "value"
        Colon@92..93 ":"
        Whitespace@93..94 " "
        TYPE_UINT@94..99
          UsizeKeyword@94..99 "usize"
      RParen@99..100 ")"
      Whitespace@100..101 " "
    Arrow@101..103 "->"
    Whitespace@103..104 " "
    TYPE_STRING@104..111
      StringKeyword@104..110 "string"
      Whitespace@110..111 " "
    BLOCK@111..207
      LBrace@111..112 "{"
      Whitespace@112..117 "\n    "
      EXPR_MATCH@117..204
        MatchKeyword@117..122 "match"
        Whitespace@122..123 " "
        EXPR_IDENT@123..129
          PATH@123..129
            Ident@123..128 "value"
            Whitespace@128..129 " "
        MATCH_ARM_LIST@129..204
          LBrace@129..130 "{"
          Whitespace@130..139 "\n        "
          MATCH_ARM@139..150
            PATTERN_INT@139..141
              Int@139..140 "0"
              Whitespace@140..141 " "
            FatArrow@141..143 "=>"
            Whitespace@143..144 " "
            EXPR_STR@144..150
              Str@144..150 "\"zero\""
          Comma@150..151 ","
          Whitespace@151..160 "\n        "
          MATCH_ARM@160..174
            PATTERN_INT@160..163
              Int@160..162 "42"
              Whitespace@162..163 " "
            FatArrow@163..165 "=>"
            Whitespace@165..166 " "
            EXPR_STR@166..174
              Str@166..174 "\"answer\""
          Comma@174..175 ","
          Whitespace@175..184 "\n        "
          MATCH_ARM@184..196
            PATTERN_WILDCARD@184..186
              WildcardKeyword@184..185 "_"
              Whitespace@185..186 " "
            FatArrow@186..188 "=>"
            Whitespace@188..189 " "
            EXPR_STR@189..196
              Str@189..196 "\"other\""
          Comma@196..197 ","
          Whitespace@197..202 "\n    "
          RBrace@202..203 "}"
          Whitespace@203..204 "\n"
      RBrace@204..205 "}"
      Whitespace@205..207 "\n\n"
  FN@207..689
    FnKeyword@207..209 "fn"
    Whitespace@209..210 " "
    Ident@210..214 "main"
    PARAM_LIST@214..217
      LParen@214..215 "("
      RParen@215..216 ")"
      Whitespace@216..217 " "
    Arrow@217..219 "->"
    Whitespace@219..220 " "
    TYPE_UNIT@220..225
      UnitKeyword@220..224 "unit"
      Whitespace@224..225 " "
    BLOCK@225..689
      LBrace@225..226 "{"
      Whitespace@226..231 "\n    "
      STMT_LET@231..257
        LetKeyword@231..234 "let"
        Whitespace@234..235 " "
        PATTERN_VARIABLE@235..239
          Ident@235..239 "left"
        Colon@239..240 ":"
        Whitespace@240..241 " "
        TYPE_UINT@241..247
          UsizeKeyword@241..246 "usize"
          Whitespace@246..247 " "
        Eq@247..248 "="
        Whitespace@248..249 " "
        EXPR_INT@249..251
          Int@249..251 "19"
        Semi@251..252 ";"
        Whitespace@252..257 "\n    "
      STMT_LET@257..287
        LetKeyword@257..260 "let"
        Whitespace@260..261 " "
        PATTERN_VARIABLE@261..267
          Ident@261..266 "right"
          Whitespace@266..267 " "
        Eq@267..268 "="
        Whitespace@268..269 " "
        EXPR_CALL@269..281
          EXPR_BINARY@269..279
            EXPR_INT@269..270
              Int@269..270 "2"
            Dot@270..271 "."
            EXPR_IDENT@271..279
              PATH@271..279
                Ident@271..279 "to_usize"
          ARG_LIST@279..281
            LParen@279..280 "("
            RParen@280..281 ")"
        Semi@281..282 ";"
        Whitespace@282..287 "\n    "
      STMT_LET@287..326
        LetKeyword@287..290 "let"
        Whitespace@290..291 " "
        PATTERN_VARIABLE@291..298
          Ident@291..297 "result"
          Whitespace@297..298 " "
        Eq@298..299 "="
        Whitespace@299..300 " "
        EXPR_CALL@300..320
          EXPR_IDENT@300..307
            PATH@300..307
              Ident@300..307 "combine"
          ARG_LIST@307..320
            LParen@307..308 "("
            ARG@308..314
              EXPR_IDENT@308..312
                PATH@308..312
                  Ident@308..312 "left"
              Comma@312..313 ","
              Whitespace@313..314 " "
            ARG@314..319
              EXPR_IDENT@314..319
                PATH@314..319
                  Ident@314..319 "right"
            RParen@319..320 ")"
        Semi@320..321 ";"
        Whitespace@321..326 "\n    "
      STMT_EXPR@326..347
        EXPR_CALL@326..341
          EXPR_IDENT@326..333
            PATH@326..333
              Ident@326..333 "println"
          ARG_LIST@333..341
            LParen@333..334 "("
            ARG@334..340
              EXPR_IDENT@334..340
                PATH@334..340
                  Ident@334..340 "result"
            RParen@340..341 ")"
        Semi@341..342 ";"
        Whitespace@342..347 "\n    "
      STMT_EXPR@347..380
        EXPR_CALL@347..374
          EXPR_IDENT@347..354
            PATH@347..354
              Ident@347..354 "println"
          ARG_LIST@354..374
            LParen@354..355 "("
            ARG@355..373
              EXPR_CALL@355..373
                EXPR_BINARY@355..371
                  EXPR_IDENT@355..361
                    PATH@355..361
                      Ident@355..361 "result"
                  Dot@361..362 "."
                  EXPR_IDENT@362..371
                    PATH@362..371
                      Ident@362..371 "to_string"
                ARG_LIST@371..373
                  LParen@371..372 "("
                  RParen@372..373 ")"
            RParen@373..374 ")"
        Semi@374..375 ";"
        Whitespace@375..380 "\n    "
      STMT_EXPR@380..411
        EXPR_CALL@380..405
          EXPR_IDENT@380..387
            PATH@380..387
              Ident@380..387 "println"
          ARG_LIST@387..405
            LParen@387..388 "("
            ARG@388..404
              EXPR_CALL@388..404
                EXPR_IDENT@388..396
                  PATH@388..396
                    Ident@388..396 "classify"
                ARG_LIST@396..404
                  LParen@396..397 "("
                  ARG@397..403
                    EXPR_IDENT@397..403
                      PATH@397..403
                        Ident@397..403 "result"
                  RParen@403..404 ")"
            RParen@404..405 ")"
        Semi@405..406 ";"
        Whitespace@406..411 "\n    "
      STMT_EXPR@411..439
        EXPR_CALL@411..433
          EXPR_IDENT@411..418
            PATH@411..418
              Ident@411..418 "println"
          ARG_LIST@418..433
            LParen@418..419 "("
            ARG@419..432
              EXPR_BINARY@419..432
                EXPR_IDENT@419..426
                  PATH@419..426
                    Ident@419..425 "result"
                    Whitespace@425..426 " "
                Greater@426..427 ">"
                Whitespace@427..428 " "
                EXPR_IDENT@428..432
                  PATH@428..432
                    Ident@428..432 "left"
            RParen@432..433 ")"
        Semi@433..434 ";"
        Whitespace@434..439 "\n    "
      STMT_EXPR@439..476
        EXPR_CALL@439..470
          EXPR_IDENT@439..446
            PATH@439..446
              Ident@439..446 "println"
          ARG_LIST@446..470
            LParen@446..447 "("
            ARG@447..469
              EXPR_CALL@447..469
                EXPR_BINARY@447..467
                  EXPR_PAREN@447..460
                    LParen@447..448 "("
                    EXPR_BINARY@448..459
                      EXPR_IDENT@448..455
                        PATH@448..455
                          Ident@448..454 "result"
                          Whitespace@454..455 " "
                      Amp@455..456 "&"
                      Whitespace@456..457 " "
                      EXPR_INT@457..459
                        Int@457..459 "15"
                    RParen@459..460 ")"
                  Dot@460..461 "."
                  EXPR_IDENT@461..467
                    PATH@461..467
                      Ident@461..467 "to_u64"
                ARG_LIST@467..469
                  LParen@467..468 "("
                  RParen@468..469 ")"
            RParen@469..470 ")"
        Semi@470..471 ";"
        Whitespace@471..476 "\n    "
      STMT_LET@476..533
        LetKeyword@476..479 "let"
        Whitespace@479..480 " "
        PATTERN_VARIABLE@480..486
          Ident@480..486 "values"
        Colon@486..487 ":"
        Whitespace@487..488 " "
        TYPE_TAPP@488..511
          PATH@488..495
            Ident@488..495 "HashMap"
          TYPE_PARAM_LIST@495..511
            LBracket@495..496 "["
            TYPE_UINT@496..501
              UsizeKeyword@496..501 "usize"
            Comma@501..502 ","
            Whitespace@502..503 " "
            TYPE_STRING@503..509
              StringKeyword@503..509 "string"
            RBracket@509..510 "]"
            Whitespace@510..511 " "
        Eq@511..512 "="
        Whitespace@512..513 " "
        EXPR_CALL@513..527
          EXPR_IDENT@513..525
            PATH@513..525
              Ident@513..520 "HashMap"
              ColonColon@520..522 "::"
              Ident@522..525 "new"
          ARG_LIST@525..527
            LParen@525..526 "("
            RParen@526..527 ")"
        Semi@527..528 ";"
        Whitespace@528..533 "\n    "
      STMT_EXPR@533..567
        EXPR_CALL@533..561
          EXPR_BINARY@533..543
            EXPR_IDENT@533..539
              PATH@533..539
                Ident@533..539 "values"
            Dot@539..540 "."
            EXPR_IDENT@540..543
              PATH@540..543
                Ident@540..543 "set"
          ARG_LIST@543..561
            LParen@543..544 "("
            ARG@544..552
              EXPR_IDENT@544..550
                PATH@544..550
                  Ident@544..550 "result"
              Comma@550..551 ","
              Whitespace@551..552 " "
            ARG@552..560
              EXPR_STR@552..560
                Str@552..560 "\"stored\""
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      EXPR_MATCH@567..687
        MatchKeyword@567..572 "match"
        Whitespace@572..573 " "
        EXPR_CALL@573..588
          EXPR_BINARY@573..583
            EXPR_IDENT@573..579
              PATH@573..579
                Ident@573..579 "values"
            Dot@579..580 "."
            EXPR_IDENT@580..583
              PATH@580..583
                Ident@580..583 "get"
          ARG_LIST@583..588
            LParen@583..584 "("
            ARG@584..586
              EXPR_INT@584..586
                Int@584..586 "42"
            RParen@586..587 ")"
            Whitespace@587..588 " "
        MATCH_ARM_LIST@588..687
          LBrace@588..589 "{"
          Whitespace@589..598 "\n        "
          MATCH_ARM@598..635
            PATTERN_CONSTR@598..618
              PATH@598..610
                Ident@598..604 "Option"
                ColonColon@604..606 "::"
                Ident@606..610 "Some"
              LParen@610..611 "("
              PATTERN_VARIABLE@611..616
                Ident@611..616 "value"
              RParen@616..617 ")"
              Whitespace@617..618 " "
            FatArrow@618..620 "=>"
            Whitespace@620..621 " "
            EXPR_CALL@621..635
              EXPR_IDENT@621..628
                PATH@621..628
                  Ident@621..628 "println"
              ARG_LIST@628..635
                LParen@628..629 "("
                ARG@629..634
                  EXPR_IDENT@629..634
                    PATH@629..634
                      Ident@629..634 "value"
                RParen@634..635 ")"
          Comma@635..636 ","
          Whitespace@636..645 "\n        "
          MATCH_ARM@645..679
            PATTERN_CONSTR@645..658
              PATH@645..658
                Ident@645..651 "Option"
                ColonColon@651..653 "::"
                Ident@653..657 "None"
                Whitespace@657..658 " "
            FatArrow@658..660 "=>"
            Whitespace@660..661 " "
            EXPR_CALL@661..679
              EXPR_IDENT@661..668
                PATH@661..668
                  Ident@661..668 "println"
              ARG_LIST@668..679
                LParen@668..669 "("
                ARG@669..678
                  EXPR_STR@669..678
                    Str@669..678 "\"missing\""
                RParen@678..679 ")"
          Comma@679..680 ","
          Whitespace@680..685 "\n    "
          RBrace@685..686 "}"
          Whitespace@686..687 "\n"
      RBrace@687..688 "}"
      Whitespace@688..689 "\n"