FILE@0..356
  FN@0..154
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..19 "loop_return_unit"
    PARAM_LIST@19..32
      LParen@19..20 "("
      PARAM@20..30
        Ident@20..24 "flag"
        Colon@24..25 ":"
        Whitespace@25..26 " "
        TYPE_BOOL@26..30
          BoolKeyword@26..30 "bool"
      RParen@30..31 ")"
      Whitespace@31..32 " "
    Arrow@32..34 "->"
    Whitespace@34..35 " "
    TYPE_UNIT@35..40
      UnitKeyword@35..39 "unit"
      Whitespace@39..40 " "
    BLOCK@40..154
      LBrace@40..41 "{"
      Whitespace@41..46 "\n    "
      EXPR_WHILE@46..151
        WhileKeyword@46..51 "while"
        Whitespace@51..52 " "
        EXPR_WHILE_COND@52..111
          EXPR_IF@52..111
            IfKeyword@52..54 "if"
            Whitespace@54..55 " "
            EXPR_IF_COND@55..60
              EXPR_IDENT@55..60
                PATH@55..60
                  Ident@55..59 "flag"
                  Whitespace@59..60 " "
            EXPR_IF_THEN@60..83
              BLOCK@60..83
                LBrace@60..61 "{"
                Whitespace@61..70 "\n        "
                EXPR_RETURN@70..81
                  ReturnKeyword@70..76 "return"
                  Whitespace@76..81 "\n    "
                RBrace@81..82 "}"
                Whitespace@82..83 " "
            ElseKeyword@83..87 "else"
            Whitespace@87..88 " "
            EXPR_IF_ELSE@88..111
              BLOCK@88..111
                LBrace@88..89 "{"
                Whitespace@89..98 "\n        "
                EXPR_RETURN@98..109
                  ReturnKeyword@98..104 "return"
                  Whitespace@104..109 "\n    "
                RBrace@109..110 "}"
                Whitespace@110..111 " "
        EXPR_WHILE_BODY@111..151
          BLOCK@111..151
            LBrace@111..112 "{"
            Whitespace@112..121 "\n        "
            STMT_EXPR@121..149
              EXPR_CALL@121..143
                EXPR_IDENT@121..128
                  PATH@121..128
                    Ident@121..128 "println"
                ARG_LIST@128..143
                  LParen@128..129 "("
                  ARG@129..142
                    EXPR_STR@129..142
                      Str@129..142 "\"unreachable\""
                  RParen@142..143 ")"
              Semi@143..144 ";"
              Whitespace@144..149 "\n    "
            RBrace@149..150 "}"
            Whitespace@150..151 "\n"
      RBrace@151..152 "}"
      Whitespace@152..154 "\n\n"
  FN@154..278
    FnKeyword@154..156 "fn"
    Whitespace@156..157 " "
    Ident@157..168 "loop_return"
    PARAM_LIST@168..171
      LParen@168..169 "("
      RParen@169..170 ")"
      Whitespace@170..171 " "
    Arrow@171..173 "->"
    Whitespace@173..174 " "
    TYPE_INT32@174..178
      I32Keyword@174..177 "i32"
      Whitespace@177..178 " "
    BLOCK@178..278
      LBrace@178..179 "{"
      Whitespace@179..184 "\n    "
      STMT_EXPR@184..273
        EXPR_WHILE@184..273
          WhileKeyword@184..189 "while"
          Whitespace@189..190 " "
          EXPR_WHILE_COND@190..229
            EXPR_MATCH@190..229
              MatchKeyword@190..195 "match"
              Whitespace@195..196 " "
              EXPR_INT@196..198
                Int@196..197 "0"
                Whitespace@197..198 " "
              MATCH_ARM_LIST@198..229
                LBrace@198..199 "{"
                Whitespace@199..208 "\n        "
                MATCH_ARM@208..221
                  PATTERN_WILDCARD@208..210
                    WildcardKeyword@208..209 "_"
                    Whitespace@209..210 " "
                  FatArrow@210..212 "=>"
                  Whitespace@212..213 " "
                  EXPR_RETURN@213..221
                    ReturnKeyword@213..219 "return"
                    Whitespace@219..220 " "
                    EXPR_INT@220..221
                      Int@220..221 "5"
                Comma@221..222 ","
                Whitespace@222..227 "\n    "
                RBrace@227..228 "}"
                Whitespace@228..229 " "
          EXPR_WHILE_BODY@229..273
            BLOCK@229..273
              LBrace@229..230 "{"
              Whitespace@230..239 "\n        "
              STMT_EXPR@239..267
                EXPR_CALL@239..261
                  EXPR_IDENT@239..246
                    PATH@239..246
                      Ident@239..246 "println"
                  ARG_LIST@246..261
                    LParen@246..247 "("
                    ARG@247..260
                      EXPR_STR@247..260
                        Str@247..260 "\"unreachable\""
                    RParen@260..261 ")"
                Semi@261..262 ";"
                Whitespace@262..267 "\n    "
              RBrace@267..268 "}"
              Whitespace@268..273 "\n    "
      EXPR_INT@273..275
        Int@273..274 "0"
        Whitespace@274..275 "\n"
      RBrace@275..276 "}"
      Whitespace@276..278 "\n\n"
  FN@278..356
    FnKeyword@278..280 "fn"
    Whitespace@280..281 " "
    Ident@281..285 "main"
    PARAM_LIST@285..288
      LParen@285..286 "("
      RParen@286..287 ")"
      Whitespace@287..288 " "
    Arrow@288..290 "->"
    Whitespace@290..291 " "
    TYPE_UNIT@291..296
      UnitKeyword@291..295 "unit"
      Whitespace@295..296 " "
    BLOCK@296..356
      LBrace@296..297 "{"
      Whitespace@297..302 "\n    "
      STMT_EXPR@302..330
        EXPR_CALL@302..324
          EXPR_IDENT@302..318
            PATH@302..318
              Ident@302..318 "loop_return_unit"
          ARG_LIST@318..324
            LParen@318..319 "("
            ARG@319..323
              EXPR_BOOL@319..323
                TrueKeyword@319..323 "true"
            RParen@323..324 ")"
        Semi@324..325 ";"
        Whitespace@325..330 "\n    "
      STMT_EXPR@330..354
        EXPR_CALL@330..352
          EXPR_IDENT@330..337
            PATH@330..337
              Ident@330..337 "println"
          ARG_LIST@337..352
            LParen@337..338 "("
            ARG@338..351
              EXPR_CALL@338..351
                EXPR_IDENT@338..349
                  PATH@338..349
                    Ident@338..349 "loop_return"
                ARG_LIST@349..351
                  LParen@349..350 "("
                  RParen@350..351 ")"
            RParen@351..352 ")"
        Semi@352..353 ";"
        Whitespace@353..354 "\n"
      RBrace@354..355 "}"
      Whitespace@355..356 "\n"