FILE@0..358
  FN@0..154
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..19 "loop_return_unit"
    PARAM_LIST@19..32
      LParen@19..20 "("
      PARAM@20..30
        Ident@20..24 "flag"
        Colon@24..25 ":"
        Whitespace@25..26 " "
        TYPE_BOOL@26..30
          BoolKeyword@26..30 "bool"
      RParen@30..31 ")"
      Whitespace@31..32 " "
    Arrow@32..34 "->"
    Whitespace@34..35 " "
    TYPE_UNIT@35..40
      UnitKeyword@35..39 "unit"
      Whitespace@39..40 " "
    BLOCK@40..154
      LBrace@40..41 "{"
      Whitespace@41..46 "\n    "
      EXPR_WHILE@46..151
        WhileKeyword@46..51 "while"
        Whitespace@51..52 " "
        EXPR_WHILE_COND@52..111
          EXPR_IF@52..111
            IfKeyword@52..54 "if"
            Whitespace@54..55 " "
            EXPR_IF_COND@55..60
              EXPR_IDENT@55..60
                PATH@55..60
                  Ident@55..59 "flag"
                  Whitespace@59..60 " "
            EXPR_IF_THEN@60..83
              BLOCK@60..83
                LBrace@60..61 "{"
                Whitespace@61..70 "\n        "
                EXPR_RETURN@70..81
                  ReturnKeyword@70..76 "return"
                  Whitespace@76..81 "\n    "
                RBrace@81..82 "}"
                Whitespace@82..83 " "
            ElseKeyword@83..87 "else"
            Whitespace@87..88 " "
            EXPR_IF_ELSE@88..111
              BLOCK@88..111
                LBrace@88..89 "{"
                Whitespace@89..98 "\n        "
                EXPR_RETURN@98..109
                  ReturnKeyword@98..104 "return"
                  Whitespace@104..109 "\n    "
                RBrace@109..110 "}"
                Whitespace@110..111 " "
        EXPR_WHILE_BODY@111..151
          BLOCK@111..151
            LBrace@111..112 "{"
            Whitespace@112..121 "\n        "
            STMT_EXPR@121..149
              EXPR_CALL@121..143
                EXPR_IDENT@121..128
                  PATH@121..128
                    Ident@121..128 "println"
                ARG_LIST@128..143
                  LParen@128..129 "("
                  ARG@129..142
                    EXPR_STR@129..142
                      Str@129..142 "\"unreachable\""
                  RParen@142..143 ")"
              Semi@143..144 ";"
              Whitespace@144..149 "\n    "
            RBrace@149..150 "}"
            Whitespace@150..151 "\n"
      RBrace@151..152 "}"
      Whitespace@152..154 "\n\n"
  FN@154..280
    FnKeyword@154..156 "fn"
    Whitespace@156..157 " "
    Ident@157..168 "loop_return"
    PARAM_LIST@168..171
      LParen@168..169 "("
      RParen@169..170 ")"
      Whitespace@170..171 " "
    Arrow@171..173 "->"
    Whitespace@173..174 " "
    TYPE_INT32@174..180
      Int32Keyword@174..179 "int32"
      Whitespace@179..180 " "
    BLOCK@180..280
      LBrace@180..181 "{"
      Whitespace@181..186 "\n    "
      STMT_EXPR@186..275
        EXPR_WHILE@186..275
          WhileKeyword@186..191 "while"
          Whitespace@191..192 " "
          EXPR_WHILE_COND@192..231
            EXPR_MATCH@192..231
              MatchKeyword@192..197 "match"
              Whitespace@197..198 " "
              EXPR_INT@198..200
                Int@198..199 "0"
                Whitespace@199..200 " "
              MATCH_ARM_LIST@200..231
                LBrace@200..201 "{"
                Whitespace@201..210 "\n        "
                MATCH_ARM@210..223
                  PATTERN_WILDCARD@210..212
                    WildcardKeyword@210..211 "_"
                    Whitespace@211..212 " "
                  FatArrow@212..214 "=>"
                  Whitespace@214..215 " "
                  EXPR_RETURN@215..223
                    ReturnKeyword@215..221 "return"
                    Whitespace@221..222 " "
                    EXPR_INT@222..223
                      Int@222..223 "5"
                Comma@223..224 ","
                Whitespace@224..229 "\n    "
                RBrace@229..230 "}"
                Whitespace@230..231 " "
          EXPR_WHILE_BODY@231..275
            BLOCK@231..275
              LBrace@231..232 "{"
              Whitespace@232..241 "\n        "
              STMT_EXPR@241..269
                EXPR_CALL@241..263
                  EXPR_IDENT@241..248
                    PATH@241..248
                      Ident@241..248 "println"
                  ARG_LIST@248..263
                    LParen@248..249 "("
                    ARG@249..262
                      EXPR_STR@249..262
                        Str@249..262 "\"unreachable\""
                    RParen@262..263 ")"
                Semi@263..264 ";"
                Whitespace@264..269 "\n    "
              RBrace@269..270 "}"
              Whitespace@270..275 "\n    "
      EXPR_INT@275..277
        Int@275..276 "0"
        Whitespace@276..277 "\n"
      RBrace@277..278 "}"
      Whitespace@278..280 "\n\n"
  FN@280..358
    FnKeyword@280..282 "fn"
    Whitespace@282..283 " "
    Ident@283..287 "main"
    PARAM_LIST@287..290
      LParen@287..288 "("
      RParen@288..289 ")"
      Whitespace@289..290 " "
    Arrow@290..292 "->"
    Whitespace@292..293 " "
    TYPE_UNIT@293..298
      UnitKeyword@293..297 "unit"
      Whitespace@297..298 " "
    BLOCK@298..358
      LBrace@298..299 "{"
      Whitespace@299..304 "\n    "
      STMT_EXPR@304..332
        EXPR_CALL@304..326
          EXPR_IDENT@304..320
            PATH@304..320
              Ident@304..320 "loop_return_unit"
          ARG_LIST@320..326
            LParen@320..321 "("
            ARG@321..325
              EXPR_BOOL@321..325
                TrueKeyword@321..325 "true"
            RParen@325..326 ")"
        Semi@326..327 ";"
        Whitespace@327..332 "\n    "
      STMT_EXPR@332..356
        EXPR_CALL@332..354
          EXPR_IDENT@332..339
            PATH@332..339
              Ident@332..339 "println"
          ARG_LIST@339..354
            LParen@339..340 "("
            ARG@340..353
              EXPR_CALL@340..353
                EXPR_IDENT@340..351
                  PATH@340..351
                    Ident@340..351 "loop_return"
                ARG_LIST@351..353
                  LParen@351..352 "("
                  RParen@352..353 ")"
            RParen@353..354 ")"
        Semi@354..355 ";"
        Whitespace@355..356 "\n"
      RBrace@356..357 "}"
      Whitespace@357..358 "\n"