FILE@0..244
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Ident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Ident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_UNIT@28..32
            UnitKeyword@28..32 "unit"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  FN@38..244
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Ident@41..45 "main"
    PARAM_LIST@45..48
      LParen@45..46 "("
      RParen@46..47 ")"
      Whitespace@47..48 " "
    BLOCK@48..244
      LBrace@48..49 "{"
      Whitespace@49..54 "\n    "
      STMT_LET@54..79
        LetKeyword@54..57 "let"
        Whitespace@57..58 " "
        PATTERN_VARIABLE@58..60
          Ident@58..59 "t"
          Whitespace@59..60 " "
        Eq@60..61 "="
        Whitespace@61..62 " "
        EXPR_CALL@62..73
          EXPR_IDENT@62..63
            PATH@62..63
              Ident@62..63 "B"
          ARG_LIST@63..73
            LParen@63..64 "("
            ARG@64..70
              EXPR_BOOL@64..68
                TrueKeyword@64..68 "true"
              Comma@68..69 ","
              Whitespace@69..70 " "
            ARG@70..72
              EXPR_UNIT@70..72
                LParen@70..71 "("
                RParen@71..72 ")"
            RParen@72..73 ")"
        Semi@73..74 ";"
        Whitespace@74..79 "\n    "
      EXPR_MATCH@79..242
        MatchKeyword@79..84 "match"
        Whitespace@84..85 " "
        EXPR_IDENT@85..87
          PATH@85..87
            Ident@85..86 "t"
            Whitespace@86..87 " "
        MATCH_ARM_LIST@87..242
          LBrace@87..88 "{"
          Whitespace@88..97 "\n        "
          MATCH_ARM@97..129
            PATTERN_VARIABLE@97..99
              Ident@97..98 "A"
              Whitespace@98..99 " "
            FatArrow@99..101 "=>"
            Whitespace@101..102 " "
            EXPR_CALL@102..129
              EXPR_IDENT@102..109
                PATH@102..109
                  Ident@102..109 "println"
              ARG_LIST@109..129
                LParen@109..110 "("
                ARG@110..128
                  EXPR_CALL@110..128
                    EXPR_IDENT@110..125
                      PATH@110..125
                        Ident@110..125 "int32_to_string"
                    ARG_LIST@125..128
                      LParen@125..126 "("
                      ARG@126..127
                        EXPR_INT@126..127
                          Int@126..127 "1"
                      RParen@127..128 ")"
                RParen@128..129 ")"
          Comma@129..130 ","
          Whitespace@130..139 "\n        "
          MATCH_ARM@139..181
            PATTERN_CONSTR@139..151
              PATH@139..140
                Ident@139..140 "B"
              LParen@140..141 "("
              PATTERN_BOOL@141..145
                TrueKeyword@141..145 "true"
              Comma@145..146 ","
              Whitespace@146..147 " "
              PATTERN_UNIT@147..149
                LParen@147..148 "("
                RParen@148..149 ")"
              RParen@149..150 ")"
              Whitespace@150..151 " "
            FatArrow@151..153 "=>"
            Whitespace@153..154 " "
            EXPR_CALL@154..181
              EXPR_IDENT@154..161
                PATH@154..161
                  Ident@154..161 "println"
              ARG_LIST@161..181
                LParen@161..162 "("
                ARG@162..180
                  EXPR_CALL@162..180
                    EXPR_IDENT@162..177
                      PATH@162..177
                        Ident@162..177 "int32_to_string"
                    ARG_LIST@177..180
                      LParen@177..178 "("
                      ARG@178..179
                        EXPR_INT@178..179
                          Int@178..179 "2"
                      RParen@179..180 ")"
                RParen@180..181 ")"
          Comma@181..182 ","
          Whitespace@182..191 "\n        "
          MATCH_ARM@191..234
            PATTERN_CONSTR@191..204
              PATH@191..192
                Ident@191..192 "B"
              LParen@192..193 "("
              PATTERN_BOOL@193..198
                FalseKeyword@193..198 "false"
              Comma@198..199 ","
              Whitespace@199..200 " "
              PATTERN_UNIT@200..202
                LParen@200..201 "("
                RParen@201..202 ")"
              RParen@202..203 ")"
              Whitespace@203..204 " "
            FatArrow@204..206 "=>"
            Whitespace@206..207 " "
            EXPR_CALL@207..234
              EXPR_IDENT@207..214
                PATH@207..214
                  Ident@207..214 "println"
              ARG_LIST@214..234
                LParen@214..215 "("
                ARG@215..233
                  EXPR_CALL@215..233
                    EXPR_IDENT@215..230
                      PATH@215..230
                        Ident@215..230 "int32_to_string"
                    ARG_LIST@230..233
                      LParen@230..231 "("
                      ARG@231..232
                        EXPR_INT@231..232
                          Int@231..232 "3"
                      RParen@232..233 ")"
                RParen@233..234 ")"
          Comma@234..235 ","
          Whitespace@235..240 "\n    "
          RBrace@240..241 "}"
          Whitespace@241..242 "\n"
      RBrace@242..243 "}"
      Whitespace@243..244 "\n"