FILE@0..707
  FN@0..707
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..707
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      Comment@22..42 "// Test Vec with i32"
      Whitespace@42..47 "\n    "
      STMT_LET@47..82
        LetKeyword@47..50 "let"
        Whitespace@50..51 " "
        PATTERN_VARIABLE@51..53
          Ident@51..53 "vi"
        Colon@53..54 ":"
        Whitespace@54..55 " "
        TYPE_TAPP@55..64
          PATH@55..58
            Ident@55..58 "Vec"
          TYPE_PARAM_LIST@58..64
            LBracket@58..59 "["
            TYPE_INT32@59..62
              I32Keyword@59..62 "i32"
            RBracket@62..63 "]"
            Whitespace@63..64 " "
        Eq@64..65 "="
        Whitespace@65..66 " "
        EXPR_CALL@66..76
          EXPR_IDENT@66..74
            PATH@66..74
              Ident@66..69 "Vec"
              ColonColon@69..71 "::"
              Ident@71..74 "new"
          ARG_LIST@74..76
            LParen@74..75 "("
            RParen@75..76 ")"
        Semi@76..77 ";"
        Whitespace@77..82 "\n    "
      STMT_EXPR@82..99
        EXPR_CALL@82..93
          EXPR_BINARY@82..89
            EXPR_IDENT@82..84
              PATH@82..84
                Ident@82..84 "vi"
            Dot@84..85 "."
            EXPR_IDENT@85..89
              PATH@85..89
                Ident@85..89 "push"
          ARG_LIST@89..93
            LParen@89..90 "("
            ARG@90..92
              EXPR_INT@90..92
                Int@90..92 "42"
            RParen@92..93 ")"
        Semi@93..94 ";"
        Whitespace@94..99 "\n    "
      STMT_LET@99..122
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_VARIABLE@103..109
          Ident@103..108 "val_i"
          Whitespace@108..109 " "
        Eq@109..110 "="
        Whitespace@110..111 " "
        EXPR_INDEX@111..116
          EXPR_IDENT@111..113
            PATH@111..113
              Ident@111..113 "vi"
          LBracket@113..114 "["
          EXPR_INT@114..115
            Int@114..115 "0"
          RBracket@115..116 "]"
        Semi@116..117 ";"
        Whitespace@117..122 "\n    "
      STMT_LET@122..177
        LetKeyword@122..125 "let"
        Whitespace@125..126 " "
        PATTERN_VARIABLE@126..132
          Ident@126..131 "len_i"
          Whitespace@131..132 " "
        Eq@132..133 "="
        Whitespace@133..134 " "
        EXPR_CALL@134..142
          EXPR_BINARY@134..140
            EXPR_IDENT@134..136
              PATH@134..136
                Ident@134..136 "vi"
            Dot@136..137 "."
            EXPR_IDENT@137..140
              PATH@137..140
                Ident@137..140 "len"
          ARG_LIST@140..142
            LParen@140..141 "("
            RParen@141..142 ")"
        Semi@142..143 ";"
        Whitespace@143..149 "\n\n    "
        Comment@149..172 "// Test Vec with string"
        Whitespace@172..177 "\n    "
      STMT_LET@177..215
        LetKeyword@177..180 "let"
        Whitespace@180..181 " "
        PATTERN_VARIABLE@181..183
          Ident@181..183 "vs"
        Colon@183..184 ":"
        Whitespace@184..185 " "
        TYPE_TAPP@185..197
          PATH@185..188
            Ident@185..188 "Vec"
          TYPE_PARAM_LIST@188..197
            LBracket@188..189 "["
            TYPE_STRING@189..195
              StringKeyword@189..195 "string"
            RBracket@195..196 "]"
            Whitespace@196..197 " "
        Eq@197..198 "="
        Whitespace@198..199 " "
        EXPR_CALL@199..209
          EXPR_IDENT@199..207
            PATH@199..207
              Ident@199..202 "Vec"
              ColonColon@202..204 "::"
              Ident@204..207 "new"
          ARG_LIST@207..209
            LParen@207..208 "("
            RParen@208..209 ")"
        Semi@209..210 ";"
        Whitespace@210..215 "\n    "
      STMT_EXPR@215..237
        EXPR_CALL@215..231
          EXPR_BINARY@215..222
            EXPR_IDENT@215..217
              PATH@215..217
                Ident@215..217 "vs"
            Dot@217..218 "."
            EXPR_IDENT@218..222
              PATH@218..222
                Ident@218..222 "push"
          ARG_LIST@222..231
            LParen@222..223 "("
            ARG@223..230
              EXPR_STR@223..230
                Str@223..230 "\"hello\""
            RParen@230..231 ")"
        Semi@231..232 ";"
        Whitespace@232..237 "\n    "
      STMT_EXPR@237..259
        EXPR_CALL@237..253
          EXPR_BINARY@237..244
            EXPR_IDENT@237..239
              PATH@237..239
                Ident@237..239 "vs"
            Dot@239..240 "."
            EXPR_IDENT@240..244
              PATH@240..244
                Ident@240..244 "push"
          ARG_LIST@244..253
            LParen@244..245 "("
            ARG@245..252
              EXPR_STR@245..252
                Str@245..252 "\"world\""
            RParen@252..253 ")"
        Semi@253..254 ";"
        Whitespace@254..259 "\n    "
      STMT_LET@259..282
        LetKeyword@259..262 "let"
        Whitespace@262..263 " "
        PATTERN_VARIABLE@263..269
          Ident@263..268 "val_s"
          Whitespace@268..269 " "
        Eq@269..270 "="
        Whitespace@270..271 " "
        EXPR_INDEX@271..276
          EXPR_IDENT@271..273
            PATH@271..273
              Ident@271..273 "vs"
          LBracket@273..274 "["
          EXPR_INT@274..275
            Int@274..275 "1"
          RBracket@275..276 "]"
        Semi@276..277 ";"
        Whitespace@277..282 "\n    "
      STMT_LET@282..335
        LetKeyword@282..285 "let"
        Whitespace@285..286 " "
        PATTERN_VARIABLE@286..292
          Ident@286..291 "len_s"
          Whitespace@291..292 " "
        Eq@292..293 "="
        Whitespace@293..294 " "
        EXPR_CALL@294..302
          EXPR_BINARY@294..300
            EXPR_IDENT@294..296
              PATH@294..296
                Ident@294..296 "vs"
            Dot@296..297 "."
            EXPR_IDENT@297..300
              PATH@297..300
                Ident@297..300 "len"
          ARG_LIST@300..302
            LParen@300..301 "("
            RParen@301..302 ")"
        Semi@302..303 ";"
        Whitespace@303..309 "\n\n    "
        Comment@309..330 "// Test Vec with bool"
        Whitespace@330..335 "\n    "
      STMT_LET@335..371
        LetKeyword@335..338 "let"
        Whitespace@338..339 " "
        PATTERN_VARIABLE@339..341
          Ident@339..341 "vb"
        Colon@341..342 ":"
        Whitespace@342..343 " "
        TYPE_TAPP@343..353
          PATH@343..346
            Ident@343..346 "Vec"
          TYPE_PARAM_LIST@346..353
            LBracket@346..347 "["
            TYPE_BOOL@347..351
              BoolKeyword@347..351 "bool"
            RBracket@351..352 "]"
            Whitespace@352..353 " "
        Eq@353..354 "="
        Whitespace@354..355 " "
        EXPR_CALL@355..365
          EXPR_IDENT@355..363
            PATH@355..363
              Ident@355..358 "Vec"
              ColonColon@358..360 "::"
              Ident@360..363 "new"
          ARG_LIST@363..365
            LParen@363..364 "("
            RParen@364..365 ")"
        Semi@365..366 ";"
        Whitespace@366..371 "\n    "
      STMT_EXPR@371..390
        EXPR_CALL@371..384
          EXPR_BINARY@371..378
            EXPR_IDENT@371..373
              PATH@371..373
                Ident@371..373 "vb"
            Dot@373..374 "."
            EXPR_IDENT@374..378
              PATH@374..378
                Ident@374..378 "push"
          ARG_LIST@378..384
            LParen@378..379 "("
            ARG@379..383
              EXPR_BOOL@379..383
                TrueKeyword@379..383 "true"
            RParen@383..384 ")"
        Semi@384..385 ";"
        Whitespace@385..390 "\n    "
      STMT_EXPR@390..410
        EXPR_CALL@390..404
          EXPR_BINARY@390..397
            EXPR_IDENT@390..392
              PATH@390..392
                Ident@390..392 "vb"
            Dot@392..393 "."
            EXPR_IDENT@393..397
              PATH@393..397
                Ident@393..397 "push"
          ARG_LIST@397..404
            LParen@397..398 "("
            ARG@398..403
              EXPR_BOOL@398..403
                FalseKeyword@398..403 "false"
            RParen@403..404 ")"
        Semi@404..405 ";"
        Whitespace@405..410 "\n    "
      STMT_LET@410..433
        LetKeyword@410..413 "let"
        Whitespace@413..414 " "
        PATTERN_VARIABLE@414..420
          Ident@414..419 "val_b"
          Whitespace@419..420 " "
        Eq@420..421 "="
        Whitespace@421..422 " "
        EXPR_INDEX@422..427
          EXPR_IDENT@422..424
            PATH@422..424
              Ident@422..424 "vb"
          LBracket@424..425 "["
          EXPR_INT@425..426
            Int@425..426 "0"
          RBracket@426..427 "]"
        Semi@427..428 ";"
        Whitespace@428..433 "\n    "
      STMT_LET@433..481
        LetKeyword@433..436 "let"
        Whitespace@436..437 " "
        PATTERN_VARIABLE@437..443
          Ident@437..442 "len_b"
          Whitespace@442..443 " "
        Eq@443..444 "="
        Whitespace@444..445 " "
        EXPR_CALL@445..453
          EXPR_BINARY@445..451
            EXPR_IDENT@445..447
              PATH@445..447
                Ident@445..447 "vb"
            Dot@447..448 "."
            EXPR_IDENT@448..451
              PATH@448..451
                Ident@448..451 "len"
          ARG_LIST@451..453
            LParen@451..452 "("
            RParen@452..453 ")"
        Semi@453..454 ";"
        Whitespace@454..460 "\n\n    "
        Comment@460..476 "// Print results"
        Whitespace@476..481 "\n    "
      STMT_LET@481..521
        LetKeyword@481..484 "let"
        Whitespace@484..485 " "
        PATTERN_WILDCARD@485..487
          WildcardKeyword@485..486 "_"
          Whitespace@486..487 " "
        Eq@487..488 "="
        Whitespace@488..489 " "
        EXPR_CALL@489..515
          EXPR_IDENT@489..496
            PATH@489..496
              Ident@489..496 "println"
          ARG_LIST@496..515
            LParen@496..497 "("
            ARG@497..514
              EXPR_CALL@497..514
                EXPR_BINARY@497..512
                  EXPR_IDENT@497..502
                    PATH@497..502
                      Ident@497..502 "val_i"
                  Dot@502..503 "."
                  EXPR_IDENT@503..512
                    PATH@503..512
                      Ident@503..512 "to_string"
                ARG_LIST@512..514
                  LParen@512..513 "("
                  RParen@513..514 ")"
            RParen@514..515 ")"
        Semi@515..516 ";"
        Whitespace@516..521 "\n    "
      STMT_LET@521..561
        LetKeyword@521..524 "let"
        Whitespace@524..525 " "
        PATTERN_WILDCARD@525..527
          WildcardKeyword@525..526 "_"
          Whitespace@526..527 " "
        Eq@527..528 "="
        Whitespace@528..529 " "
        EXPR_CALL@529..555
          EXPR_IDENT@529..536
            PATH@529..536
              Ident@529..536 "println"
          ARG_LIST@536..555
            LParen@536..537 "("
            ARG@537..554
              EXPR_CALL@537..554
                EXPR_BINARY@537..552
                  EXPR_IDENT@537..542
                    PATH@537..542
                      Ident@537..542 "len_i"
                  Dot@542..543 "."
                  EXPR_IDENT@543..552
                    PATH@543..552
                      Ident@543..552 "to_string"
                ARG_LIST@552..554
                  LParen@552..553 "("
                  RParen@553..554 ")"
            RParen@554..555 ")"
        Semi@555..556 ";"
        Whitespace@556..561 "\n    "
      STMT_LET@561..589
        LetKeyword@561..564 "let"
        Whitespace@564..565 " "
        PATTERN_WILDCARD@565..567
          WildcardKeyword@565..566 "_"
          Whitespace@566..567 " "
        Eq@567..568 "="
        Whitespace@568..569 " "
        EXPR_CALL@569..583
          EXPR_IDENT@569..576
            PATH@569..576
              Ident@569..576 "println"
          ARG_LIST@576..583
            LParen@576..577 "("
            ARG@577..582
              EXPR_IDENT@577..582
                PATH@577..582
                  Ident@577..582 "val_s"
            RParen@582..583 ")"
        Semi@583..584 ";"
        Whitespace@584..589 "\n    "
      STMT_LET@589..629
        LetKeyword@589..592 "let"
        Whitespace@592..593 " "
        PATTERN_WILDCARD@593..595
          WildcardKeyword@593..594 "_"
          Whitespace@594..595 " "
        Eq@595..596 "="
        Whitespace@596..597 " "
        EXPR_CALL@597..623
          EXPR_IDENT@597..604
            PATH@597..604
              Ident@597..604 "println"
          ARG_LIST@604..623
            LParen@604..605 "("
            ARG@605..622
              EXPR_CALL@605..622
                EXPR_BINARY@605..620
                  EXPR_IDENT@605..610
                    PATH@605..610
                      Ident@605..610 "len_s"
                  Dot@610..611 "."
                  EXPR_IDENT@611..620
                    PATH@611..620
                      Ident@611..620 "to_string"
                ARG_LIST@620..622
                  LParen@620..621 "("
                  RParen@621..622 ")"
            RParen@622..623 ")"
        Semi@623..624 ";"
        Whitespace@624..629 "\n    "
      STMT_LET@629..669
        LetKeyword@629..632 "let"
        Whitespace@632..633 " "
        PATTERN_WILDCARD@633..635
          WildcardKeyword@633..634 "_"
          Whitespace@634..635 " "
        Eq@635..636 "="
        Whitespace@636..637 " "
        EXPR_CALL@637..663
          EXPR_IDENT@637..644
            PATH@637..644
              Ident@637..644 "println"
          ARG_LIST@644..663
            LParen@644..645 "("
            ARG@645..662
              EXPR_CALL@645..662
                EXPR_BINARY@645..660
                  EXPR_IDENT@645..650
                    PATH@645..650
                      Ident@645..650 "val_b"
                  Dot@650..651 "."
                  EXPR_IDENT@651..660
                    PATH@651..660
                      Ident@651..660 "to_string"
                ARG_LIST@660..662
                  LParen@660..661 "("
                  RParen@661..662 ")"
            RParen@662..663 ")"
        Semi@663..664 ";"
        Whitespace@664..669 "\n    "
      STMT_LET@669..705
        LetKeyword@669..672 "let"
        Whitespace@672..673 " "
        PATTERN_WILDCARD@673..675
          WildcardKeyword@673..674 "_"
          Whitespace@674..675 " "
        Eq@675..676 "="
        Whitespace@676..677 " "
        EXPR_CALL@677..703
          EXPR_IDENT@677..684
            PATH@677..684
              Ident@677..684 "println"
          ARG_LIST@684..703
            LParen@684..685 "("
            ARG@685..702
              EXPR_CALL@685..702
                EXPR_BINARY@685..700
                  EXPR_IDENT@685..690
                    PATH@685..690
                      Ident@685..690 "len_b"
                  Dot@690..691 "."
                  EXPR_IDENT@691..700
                    PATH@691..700
                      Ident@691..700 "to_string"
                ARG_LIST@700..702
                  LParen@700..701 "("
                  RParen@701..702 ")"
            RParen@702..703 ")"
        Semi@703..704 ";"
        Whitespace@704..705 "\n"
      RBrace@705..706 "}"
      Whitespace@706..707 "\n"