FILE@0..713
  FN@0..713
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..713
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      Comment@24..46 "// Test Vec with int32"
      Whitespace@46..51 "\n    "
      STMT_LET@51..88
        LetKeyword@51..54 "let"
        Whitespace@54..55 " "
        PATTERN_VARIABLE@55..57
          Ident@55..57 "vi"
        Colon@57..58 ":"
        Whitespace@58..59 " "
        TYPE_TAPP@59..70
          PATH@59..62
            Ident@59..62 "Vec"
          TYPE_PARAM_LIST@62..70
            LBracket@62..63 "["
            TYPE_INT32@63..68
              Int32Keyword@63..68 "int32"
            RBracket@68..69 "]"
            Whitespace@69..70 " "
        Eq@70..71 "="
        Whitespace@71..72 " "
        EXPR_CALL@72..82
          EXPR_IDENT@72..80
            PATH@72..80
              Ident@72..75 "Vec"
              ColonColon@75..77 "::"
              Ident@77..80 "new"
          ARG_LIST@80..82
            LParen@80..81 "("
            RParen@81..82 ")"
        Semi@82..83 ";"
        Whitespace@83..88 "\n    "
      STMT_EXPR@88..105
        EXPR_CALL@88..99
          EXPR_BINARY@88..95
            EXPR_IDENT@88..90
              PATH@88..90
                Ident@88..90 "vi"
            Dot@90..91 "."
            EXPR_IDENT@91..95
              PATH@91..95
                Ident@91..95 "push"
          ARG_LIST@95..99
            LParen@95..96 "("
            ARG@96..98
              EXPR_INT@96..98
                Int@96..98 "42"
            RParen@98..99 ")"
        Semi@99..100 ";"
        Whitespace@100..105 "\n    "
      STMT_LET@105..128
        LetKeyword@105..108 "let"
        Whitespace@108..109 " "
        PATTERN_VARIABLE@109..115
          Ident@109..114 "val_i"
          Whitespace@114..115 " "
        Eq@115..116 "="
        Whitespace@116..117 " "
        EXPR_INDEX@117..122
          EXPR_IDENT@117..119
            PATH@117..119
              Ident@117..119 "vi"
          LBracket@119..120 "["
          EXPR_INT@120..121
            Int@120..121 "0"
          RBracket@121..122 "]"
        Semi@122..123 ";"
        Whitespace@123..128 "\n    "
      STMT_LET@128..183
        LetKeyword@128..131 "let"
        Whitespace@131..132 " "
        PATTERN_VARIABLE@132..138
          Ident@132..137 "len_i"
          Whitespace@137..138 " "
        Eq@138..139 "="
        Whitespace@139..140 " "
        EXPR_CALL@140..148
          EXPR_BINARY@140..146
            EXPR_IDENT@140..142
              PATH@140..142
                Ident@140..142 "vi"
            Dot@142..143 "."
            EXPR_IDENT@143..146
              PATH@143..146
                Ident@143..146 "len"
          ARG_LIST@146..148
            LParen@146..147 "("
            RParen@147..148 ")"
        Semi@148..149 ";"
        Whitespace@149..155 "\n\n    "
        Comment@155..178 "// Test Vec with string"
        Whitespace@178..183 "\n    "
      STMT_LET@183..221
        LetKeyword@183..186 "let"
        Whitespace@186..187 " "
        PATTERN_VARIABLE@187..189
          Ident@187..189 "vs"
        Colon@189..190 ":"
        Whitespace@190..191 " "
        TYPE_TAPP@191..203
          PATH@191..194
            Ident@191..194 "Vec"
          TYPE_PARAM_LIST@194..203
            LBracket@194..195 "["
            TYPE_STRING@195..201
              StringKeyword@195..201 "string"
            RBracket@201..202 "]"
            Whitespace@202..203 " "
        Eq@203..204 "="
        Whitespace@204..205 " "
        EXPR_CALL@205..215
          EXPR_IDENT@205..213
            PATH@205..213
              Ident@205..208 "Vec"
              ColonColon@208..210 "::"
              Ident@210..213 "new"
          ARG_LIST@213..215
            LParen@213..214 "("
            RParen@214..215 ")"
        Semi@215..216 ";"
        Whitespace@216..221 "\n    "
      STMT_EXPR@221..243
        EXPR_CALL@221..237
          EXPR_BINARY@221..228
            EXPR_IDENT@221..223
              PATH@221..223
                Ident@221..223 "vs"
            Dot@223..224 "."
            EXPR_IDENT@224..228
              PATH@224..228
                Ident@224..228 "push"
          ARG_LIST@228..237
            LParen@228..229 "("
            ARG@229..236
              EXPR_STR@229..236
                Str@229..236 "\"hello\""
            RParen@236..237 ")"
        Semi@237..238 ";"
        Whitespace@238..243 "\n    "
      STMT_EXPR@243..265
        EXPR_CALL@243..259
          EXPR_BINARY@243..250
            EXPR_IDENT@243..245
              PATH@243..245
                Ident@243..245 "vs"
            Dot@245..246 "."
            EXPR_IDENT@246..250
              PATH@246..250
                Ident@246..250 "push"
          ARG_LIST@250..259
            LParen@250..251 "("
            ARG@251..258
              EXPR_STR@251..258
                Str@251..258 "\"world\""
            RParen@258..259 ")"
        Semi@259..260 ";"
        Whitespace@260..265 "\n    "
      STMT_LET@265..288
        LetKeyword@265..268 "let"
        Whitespace@268..269 " "
        PATTERN_VARIABLE@269..275
          Ident@269..274 "val_s"
          Whitespace@274..275 " "
        Eq@275..276 "="
        Whitespace@276..277 " "
        EXPR_INDEX@277..282
          EXPR_IDENT@277..279
            PATH@277..279
              Ident@277..279 "vs"
          LBracket@279..280 "["
          EXPR_INT@280..281
            Int@280..281 "1"
          RBracket@281..282 "]"
        Semi@282..283 ";"
        Whitespace@283..288 "\n    "
      STMT_LET@288..341
        LetKeyword@288..291 "let"
        Whitespace@291..292 " "
        PATTERN_VARIABLE@292..298
          Ident@292..297 "len_s"
          Whitespace@297..298 " "
        Eq@298..299 "="
        Whitespace@299..300 " "
        EXPR_CALL@300..308
          EXPR_BINARY@300..306
            EXPR_IDENT@300..302
              PATH@300..302
                Ident@300..302 "vs"
            Dot@302..303 "."
            EXPR_IDENT@303..306
              PATH@303..306
                Ident@303..306 "len"
          ARG_LIST@306..308
            LParen@306..307 "("
            RParen@307..308 ")"
        Semi@308..309 ";"
        Whitespace@309..315 "\n\n    "
        Comment@315..336 "// Test Vec with bool"
        Whitespace@336..341 "\n    "
      STMT_LET@341..377
        LetKeyword@341..344 "let"
        Whitespace@344..345 " "
        PATTERN_VARIABLE@345..347
          Ident@345..347 "vb"
        Colon@347..348 ":"
        Whitespace@348..349 " "
        TYPE_TAPP@349..359
          PATH@349..352
            Ident@349..352 "Vec"
          TYPE_PARAM_LIST@352..359
            LBracket@352..353 "["
            TYPE_BOOL@353..357
              BoolKeyword@353..357 "bool"
            RBracket@357..358 "]"
            Whitespace@358..359 " "
        Eq@359..360 "="
        Whitespace@360..361 " "
        EXPR_CALL@361..371
          EXPR_IDENT@361..369
            PATH@361..369
              Ident@361..364 "Vec"
              ColonColon@364..366 "::"
              Ident@366..369 "new"
          ARG_LIST@369..371
            LParen@369..370 "("
            RParen@370..371 ")"
        Semi@371..372 ";"
        Whitespace@372..377 "\n    "
      STMT_EXPR@377..396
        EXPR_CALL@377..390
          EXPR_BINARY@377..384
            EXPR_IDENT@377..379
              PATH@377..379
                Ident@377..379 "vb"
            Dot@379..380 "."
            EXPR_IDENT@380..384
              PATH@380..384
                Ident@380..384 "push"
          ARG_LIST@384..390
            LParen@384..385 "("
            ARG@385..389
              EXPR_BOOL@385..389
                TrueKeyword@385..389 "true"
            RParen@389..390 ")"
        Semi@390..391 ";"
        Whitespace@391..396 "\n    "
      STMT_EXPR@396..416
        EXPR_CALL@396..410
          EXPR_BINARY@396..403
            EXPR_IDENT@396..398
              PATH@396..398
                Ident@396..398 "vb"
            Dot@398..399 "."
            EXPR_IDENT@399..403
              PATH@399..403
                Ident@399..403 "push"
          ARG_LIST@403..410
            LParen@403..404 "("
            ARG@404..409
              EXPR_BOOL@404..409
                FalseKeyword@404..409 "false"
            RParen@409..410 ")"
        Semi@410..411 ";"
        Whitespace@411..416 "\n    "
      STMT_LET@416..439
        LetKeyword@416..419 "let"
        Whitespace@419..420 " "
        PATTERN_VARIABLE@420..426
          Ident@420..425 "val_b"
          Whitespace@425..426 " "
        Eq@426..427 "="
        Whitespace@427..428 " "
        EXPR_INDEX@428..433
          EXPR_IDENT@428..430
            PATH@428..430
              Ident@428..430 "vb"
          LBracket@430..431 "["
          EXPR_INT@431..432
            Int@431..432 "0"
          RBracket@432..433 "]"
        Semi@433..434 ";"
        Whitespace@434..439 "\n    "
      STMT_LET@439..487
        LetKeyword@439..442 "let"
        Whitespace@442..443 " "
        PATTERN_VARIABLE@443..449
          Ident@443..448 "len_b"
          Whitespace@448..449 " "
        Eq@449..450 "="
        Whitespace@450..451 " "
        EXPR_CALL@451..459
          EXPR_BINARY@451..457
            EXPR_IDENT@451..453
              PATH@451..453
                Ident@451..453 "vb"
            Dot@453..454 "."
            EXPR_IDENT@454..457
              PATH@454..457
                Ident@454..457 "len"
          ARG_LIST@457..459
            LParen@457..458 "("
            RParen@458..459 ")"
        Semi@459..460 ";"
        Whitespace@460..466 "\n\n    "
        Comment@466..482 "// Print results"
        Whitespace@482..487 "\n    "
      STMT_LET@487..527
        LetKeyword@487..490 "let"
        Whitespace@490..491 " "
        PATTERN_WILDCARD@491..493
          WildcardKeyword@491..492 "_"
          Whitespace@492..493 " "
        Eq@493..494 "="
        Whitespace@494..495 " "
        EXPR_CALL@495..521
          EXPR_IDENT@495..502
            PATH@495..502
              Ident@495..502 "println"
          ARG_LIST@502..521
            LParen@502..503 "("
            ARG@503..520
              EXPR_CALL@503..520
                EXPR_BINARY@503..518
                  EXPR_IDENT@503..508
                    PATH@503..508
                      Ident@503..508 "val_i"
                  Dot@508..509 "."
                  EXPR_IDENT@509..518
                    PATH@509..518
                      Ident@509..518 "to_string"
                ARG_LIST@518..520
                  LParen@518..519 "("
                  RParen@519..520 ")"
            RParen@520..521 ")"
        Semi@521..522 ";"
        Whitespace@522..527 "\n    "
      STMT_LET@527..567
        LetKeyword@527..530 "let"
        Whitespace@530..531 " "
        PATTERN_WILDCARD@531..533
          WildcardKeyword@531..532 "_"
          Whitespace@532..533 " "
        Eq@533..534 "="
        Whitespace@534..535 " "
        EXPR_CALL@535..561
          EXPR_IDENT@535..542
            PATH@535..542
              Ident@535..542 "println"
          ARG_LIST@542..561
            LParen@542..543 "("
            ARG@543..560
              EXPR_CALL@543..560
                EXPR_BINARY@543..558
                  EXPR_IDENT@543..548
                    PATH@543..548
                      Ident@543..548 "len_i"
                  Dot@548..549 "."
                  EXPR_IDENT@549..558
                    PATH@549..558
                      Ident@549..558 "to_string"
                ARG_LIST@558..560
                  LParen@558..559 "("
                  RParen@559..560 ")"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      STMT_LET@567..595
        LetKeyword@567..570 "let"
        Whitespace@570..571 " "
        PATTERN_WILDCARD@571..573
          WildcardKeyword@571..572 "_"
          Whitespace@572..573 " "
        Eq@573..574 "="
        Whitespace@574..575 " "
        EXPR_CALL@575..589
          EXPR_IDENT@575..582
            PATH@575..582
              Ident@575..582 "println"
          ARG_LIST@582..589
            LParen@582..583 "("
            ARG@583..588
              EXPR_IDENT@583..588
                PATH@583..588
                  Ident@583..588 "val_s"
            RParen@588..589 ")"
        Semi@589..590 ";"
        Whitespace@590..595 "\n    "
      STMT_LET@595..635
        LetKeyword@595..598 "let"
        Whitespace@598..599 " "
        PATTERN_WILDCARD@599..601
          WildcardKeyword@599..600 "_"
          Whitespace@600..601 " "
        Eq@601..602 "="
        Whitespace@602..603 " "
        EXPR_CALL@603..629
          EXPR_IDENT@603..610
            PATH@603..610
              Ident@603..610 "println"
          ARG_LIST@610..629
            LParen@610..611 "("
            ARG@611..628
              EXPR_CALL@611..628
                EXPR_BINARY@611..626
                  EXPR_IDENT@611..616
                    PATH@611..616
                      Ident@611..616 "len_s"
                  Dot@616..617 "."
                  EXPR_IDENT@617..626
                    PATH@617..626
                      Ident@617..626 "to_string"
                ARG_LIST@626..628
                  LParen@626..627 "("
                  RParen@627..628 ")"
            RParen@628..629 ")"
        Semi@629..630 ";"
        Whitespace@630..635 "\n    "
      STMT_LET@635..675
        LetKeyword@635..638 "let"
        Whitespace@638..639 " "
        PATTERN_WILDCARD@639..641
          WildcardKeyword@639..640 "_"
          Whitespace@640..641 " "
        Eq@641..642 "="
        Whitespace@642..643 " "
        EXPR_CALL@643..669
          EXPR_IDENT@643..650
            PATH@643..650
              Ident@643..650 "println"
          ARG_LIST@650..669
            LParen@650..651 "("
            ARG@651..668
              EXPR_CALL@651..668
                EXPR_BINARY@651..666
                  EXPR_IDENT@651..656
                    PATH@651..656
                      Ident@651..656 "val_b"
                  Dot@656..657 "."
                  EXPR_IDENT@657..666
                    PATH@657..666
                      Ident@657..666 "to_string"
                ARG_LIST@666..668
                  LParen@666..667 "("
                  RParen@667..668 ")"
            RParen@668..669 ")"
        Semi@669..670 ";"
        Whitespace@670..675 "\n    "
      STMT_LET@675..711
        LetKeyword@675..678 "let"
        Whitespace@678..679 " "
        PATTERN_WILDCARD@679..681
          WildcardKeyword@679..680 "_"
          Whitespace@680..681 " "
        Eq@681..682 "="
        Whitespace@682..683 " "
        EXPR_CALL@683..709
          EXPR_IDENT@683..690
            PATH@683..690
              Ident@683..690 "println"
          ARG_LIST@690..709
            LParen@690..691 "("
            ARG@691..708
              EXPR_CALL@691..708
                EXPR_BINARY@691..706
                  EXPR_IDENT@691..696
                    PATH@691..696
                      Ident@691..696 "len_b"
                  Dot@696..697 "."
                  EXPR_IDENT@697..706
                    PATH@697..706
                      Ident@697..706 "to_string"
                ARG_LIST@706..708
                  LParen@706..707 "("
                  RParen@707..708 ")"
            RParen@708..709 ")"
        Semi@709..710 ";"
        Whitespace@710..711 "\n"
      RBrace@711..712 "}"
      Whitespace@712..713 "\n"