FILE@0..649
  FN@0..124
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..13 "maybe_seed"
    PARAM_LIST@13..26
      LParen@13..14 "("
      PARAM@14..24
        Ident@14..18 "flag"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_BOOL@20..24
          BoolKeyword@20..24 "bool"
      RParen@24..25 ")"
      Whitespace@25..26 " "
    Arrow@26..28 "->"
    Whitespace@28..29 " "
    TYPE_TAPP@29..41
      PATH@29..35
        Ident@29..35 "Option"
      TYPE_PARAM_LIST@35..41
        LBracket@35..36 "["
        TYPE_INT32@36..39
          I32Keyword@36..39 "i32"
        RBracket@39..40 "]"
        Whitespace@40..41 " "
    BLOCK@41..124
      LBrace@41..42 "{"
      Whitespace@42..47 "\n    "
      EXPR_IF@47..121
        IfKeyword@47..49 "if"
        Whitespace@49..50 " "
        EXPR_IF_COND@50..55
          EXPR_IDENT@50..55
            PATH@50..55
              Ident@50..54 "flag"
              Whitespace@54..55 " "
        EXPR_IF_THEN@55..87
          BLOCK@55..87
            LBrace@55..56 "{"
            Whitespace@56..65 "\n        "
            EXPR_CALL@65..85
              EXPR_IDENT@65..77
                PATH@65..77
                  Ident@65..71 "Option"
                  ColonColon@71..73 "::"
                  Ident@73..77 "Some"
              ARG_LIST@77..85
                LParen@77..78 "("
                ARG@78..79
                  EXPR_INT@78..79
                    Int@78..79 "3"
                RParen@79..80 ")"
                Whitespace@80..85 "\n    "
            RBrace@85..86 "}"
            Whitespace@86..87 " "
        ElseKeyword@87..91 "else"
        Whitespace@91..92 " "
        EXPR_IF_ELSE@92..121
          BLOCK@92..121
            LBrace@92..93 "{"
            Whitespace@93..102 "\n        "
            EXPR_IDENT@102..119
              PATH@102..119
                Ident@102..108 "Option"
                ColonColon@108..110 "::"
                Ident@110..114 "None"
                Whitespace@114..119 "\n    "
            RBrace@119..120 "}"
            Whitespace@120..121 "\n"
      RBrace@121..122 "}"
      Whitespace@122..124 "\n\n"
  FN@124..263
    FnKeyword@124..126 "fn"
    Whitespace@126..127 " "
    Ident@127..139 "maybe_double"
    PARAM_LIST@139..152
      LParen@139..140 "("
      PARAM@140..150
        Ident@140..145 "value"
        Colon@145..146 ":"
        Whitespace@146..147 " "
        TYPE_INT32@147..150
          I32Keyword@147..150 "i32"
      RParen@150..151 ")"
      Whitespace@151..152 " "
    Arrow@152..154 "->"
    Whitespace@154..155 " "
    TYPE_TAPP@155..167
      PATH@155..161
        Ident@155..161 "Option"
      TYPE_PARAM_LIST@161..167
        LBracket@161..162 "["
        TYPE_INT32@162..165
          I32Keyword@162..165 "i32"
        RBracket@165..166 "]"
        Whitespace@166..167 " "
    BLOCK@167..263
      LBrace@167..168 "{"
      Whitespace@168..173 "\n    "
      EXPR_IF@173..260
        IfKeyword@173..175 "if"
        Whitespace@175..176 " "
        EXPR_IF_COND@176..186
          EXPR_BINARY@176..186
            EXPR_IDENT@176..182
              PATH@176..182
                Ident@176..181 "value"
                Whitespace@181..182 " "
            Greater@182..183 ">"
            Whitespace@183..184 " "
            EXPR_INT@184..186
              Int@184..185 "0"
              Whitespace@185..186 " "
        EXPR_IF_THEN@186..226
          BLOCK@186..226
            LBrace@186..187 "{"
            Whitespace@187..196 "\n        "
            EXPR_CALL@196..224
              EXPR_IDENT@196..208
                PATH@196..208
                  Ident@196..202 "Option"
                  ColonColon@202..204 "::"
                  Ident@204..208 "Some"
              ARG_LIST@208..224
                LParen@208..209 "("
                ARG@209..218
                  EXPR_BINARY@209..218
                    EXPR_IDENT@209..215
                      PATH@209..215
                        Ident@209..214 "value"
                        Whitespace@214..215 " "
                    Star@215..216 "*"
                    Whitespace@216..217 " "
                    EXPR_INT@217..218
                      Int@217..218 "2"
                RParen@218..219 ")"
                Whitespace@219..224 "\n    "
            RBrace@224..225 "}"
            Whitespace@225..226 " "
        ElseKeyword@226..230 "else"
        Whitespace@230..231 " "
        EXPR_IF_ELSE@231..260
          BLOCK@231..260
            LBrace@231..232 "{"
            Whitespace@232..241 "\n        "
            EXPR_IDENT@241..258
              PATH@241..258
                Ident@241..247 "Option"
                ColonColon@247..249 "::"
                Ident@249..253 "None"
                Whitespace@253..258 "\n    "
            RBrace@258..259 "}"
            Whitespace@259..260 "\n"
      RBrace@260..261 "}"
      Whitespace@261..263 "\n\n"
  FN@263..395
    FnKeyword@263..265 "fn"
    Whitespace@265..266 " "
    Ident@266..277 "maybe_total"
    PARAM_LIST@277..290
      LParen@277..278 "("
      PARAM@278..288
        Ident@278..282 "flag"
        Colon@282..283 ":"
        Whitespace@283..284 " "
        TYPE_BOOL@284..288
          BoolKeyword@284..288 "bool"
      RParen@288..289 ")"
      Whitespace@289..290 " "
    Arrow@290..292 "->"
    Whitespace@292..293 " "
    TYPE_TAPP@293..305
      PATH@293..299
        Ident@293..299 "Option"
      TYPE_PARAM_LIST@299..305
        LBracket@299..300 "["
        TYPE_INT32@300..303
          I32Keyword@300..303 "i32"
        RBracket@303..304 "]"
        Whitespace@304..305 " "
    BLOCK@305..395
      LBrace@305..306 "{"
      Whitespace@306..311 "\n    "
      STMT_LET@311..342
        LetKeyword@311..314 "let"
        Whitespace@314..315 " "
        PATTERN_VARIABLE@315..317
          Ident@315..316 "a"
          Whitespace@316..317 " "
        Eq@317..318 "="
        Whitespace@318..319 " "
        EXPR_TRY@319..336
          EXPR_CALL@319..335
            EXPR_IDENT@319..329
              PATH@319..329
                Ident@319..329 "maybe_seed"
            ARG_LIST@329..335
              LParen@329..330 "("
              ARG@330..334
                EXPR_IDENT@330..334
                  PATH@330..334
                    Ident@330..334 "flag"
              RParen@334..335 ")"
          Question@335..336 "?"
        Semi@336..337 ";"
        Whitespace@337..342 "\n    "
      STMT_LET@342..372
        LetKeyword@342..345 "let"
        Whitespace@345..346 " "
        PATTERN_VARIABLE@346..348
          Ident@346..347 "b"
          Whitespace@347..348 " "
        Eq@348..349 "="
        Whitespace@349..350 " "
        EXPR_TRY@350..366
          EXPR_CALL@350..365
            EXPR_IDENT@350..362
              PATH@350..362
                Ident@350..362 "maybe_double"
            ARG_LIST@362..365
              LParen@362..363 "("
              ARG@363..364
                EXPR_IDENT@363..364
                  PATH@363..364
                    Ident@363..364 "a"
              RParen@364..365 ")"
          Question@365..366 "?"
        Semi@366..367 ";"
        Whitespace@367..372 "\n    "
      EXPR_CALL@372..392
        EXPR_IDENT@372..384
          PATH@372..384
            Ident@372..378 "Option"
            ColonColon@378..380 "::"
            Ident@380..384 "Some"
        ARG_LIST@384..392
          LParen@384..385 "("
          ARG@385..390
            EXPR_BINARY@385..390
              EXPR_IDENT@385..387
                PATH@385..387
                  Ident@385..386 "a"
                  Whitespace@386..387 " "
              Plus@387..388 "+"
              Whitespace@388..389 " "
              EXPR_IDENT@389..390
                PATH@389..390
                  Ident@389..390 "b"
          RParen@390..391 ")"
          Whitespace@391..392 "\n"
      RBrace@392..393 "}"
      Whitespace@393..395 "\n\n"
  FN@395..550
    FnKeyword@395..397 "fn"
    Whitespace@397..398 " "
    Ident@398..402 "show"
    PARAM_LIST@402..421
      LParen@402..403 "("
      PARAM@403..419
        Ident@403..406 "opt"
        Colon@406..407 ":"
        Whitespace@407..408 " "
        TYPE_TAPP@408..419
          PATH@408..414
            Ident@408..414 "Option"
          TYPE_PARAM_LIST@414..419
            LBracket@414..415 "["
            TYPE_INT32@415..418
              I32Keyword@415..418 "i32"
            RBracket@418..419 "]"
      RParen@419..420 ")"
      Whitespace@420..421 " "
    Arrow@421..423 "->"
    Whitespace@423..424 " "
    TYPE_STRING@424..431
      StringKeyword@424..430 "string"
      Whitespace@430..431 " "
    BLOCK@431..550
      LBrace@431..432 "{"
      Whitespace@432..437 "\n    "
      EXPR_MATCH@437..547
        MatchKeyword@437..442 "match"
        Whitespace@442..443 " "
        EXPR_IDENT@443..447
          PATH@443..447
            Ident@443..446 "opt"
            Whitespace@446..447 " "
        MATCH_ARM_LIST@447..547
          LBrace@447..448 "{"
          Whitespace@448..457 "\n        "
          MATCH_ARM@457..507
            PATTERN_CONSTR@457..477
              PATH@457..469
                Ident@457..463 "Option"
                ColonColon@463..465 "::"
                Ident@465..469 "Some"
              LParen@469..470 "("
              PATTERN_VARIABLE@470..475
                Ident@470..475 "value"
              RParen@475..476 ")"
              Whitespace@476..477 " "
            FatArrow@477..479 "=>"
            Whitespace@479..480 " "
            EXPR_BINARY@480..507
              EXPR_STR@480..488
                Str@480..487 "\"some=\""
                Whitespace@487..488 " "
              Plus@488..489 "+"
              Whitespace@489..490 " "
              EXPR_CALL@490..507
                EXPR_BINARY@490..505
                  EXPR_IDENT@490..495
                    PATH@490..495
                      Ident@490..495 "value"
                  Dot@495..496 "."
                  EXPR_IDENT@496..505
                    PATH@496..505
                      Ident@496..505 "to_string"
                ARG_LIST@505..507
                  LParen@505..506 "("
                  RParen@506..507 ")"
          Comma@507..508 ","
          Whitespace@508..517 "\n        "
          MATCH_ARM@517..539
            PATTERN_CONSTR@517..530
              PATH@517..530
                Ident@517..523 "Option"
                ColonColon@523..525 "::"
                Ident@525..529 "None"
                Whitespace@529..530 " "
            FatArrow@530..532 "=>"
            Whitespace@532..533 " "
            EXPR_STR@533..539
              Str@533..539 "\"none\""
          Comma@539..540 ","
          Whitespace@540..545 "\n    "
          RBrace@545..546 "}"
          Whitespace@546..547 "\n"
      RBrace@547..548 "}"
      Whitespace@548..550 "\n\n"
  FN@550..649
    FnKeyword@550..552 "fn"
    Whitespace@552..553 " "
    Ident@553..557 "main"
    PARAM_LIST@557..560
      LParen@557..558 "("
      RParen@558..559 ")"
      Whitespace@559..560 " "
    Arrow@560..562 "->"
    Whitespace@562..563 " "
    TYPE_UNIT@563..568
      UnitKeyword@563..567 "unit"
      Whitespace@567..568 " "
    BLOCK@568..649
      LBrace@568..569 "{"
      Whitespace@569..574 "\n    "
      STMT_EXPR@574..612
        EXPR_CALL@574..606
          EXPR_IDENT@574..581
            PATH@574..581
              Ident@574..581 "println"
          ARG_LIST@581..606
            LParen@581..582 "("
            ARG@582..605
              EXPR_CALL@582..605
                EXPR_IDENT@582..586
                  PATH@582..586
                    Ident@582..586 "show"
                ARG_LIST@586..605
                  LParen@586..587 "("
                  ARG@587..604
                    EXPR_CALL@587..604
                      EXPR_IDENT@587..598
                        PATH@587..598
                          Ident@587..598 "maybe_total"
                      ARG_LIST@598..604
                        LParen@598..599 "("
                        ARG@599..603
                          EXPR_BOOL@599..603
                            TrueKeyword@599..603 "true"
                        RParen@603..604 ")"
                  RParen@604..605 ")"
            RParen@605..606 ")"
        Semi@606..607 ";"
        Whitespace@607..612 "\n    "
      STMT_EXPR@612..647
        EXPR_CALL@612..645
          EXPR_IDENT@612..619
            PATH@612..619
              Ident@612..619 "println"
          ARG_LIST@619..645
            LParen@619..620 "("
            ARG@620..644
              EXPR_CALL@620..644
                EXPR_IDENT@620..624
                  PATH@620..624
                    Ident@620..624 "show"
                ARG_LIST@624..644
                  LParen@624..625 "("
                  ARG@625..643
                    EXPR_CALL@625..643
                      EXPR_IDENT@625..636
                        PATH@625..636
                          Ident@625..636 "maybe_total"
                      ARG_LIST@636..643
                        LParen@636..637 "("
                        ARG@637..642
                          EXPR_BOOL@637..642
                            FalseKeyword@637..642 "false"
                        RParen@642..643 ")"
                  RParen@643..644 ")"
            RParen@644..645 ")"
        Semi@645..646 ";"
        Whitespace@646..647 "\n"
      RBrace@647..648 "}"
      Whitespace@648..649 "\n"