FILE@0..232
  STRUCT@0..32
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..8 "S"
    Whitespace@8..9 " "
    LBrace@9..10 "{"
    Whitespace@10..15 "\n    "
    STRUCT_FIELD_LIST@15..32
      STRUCT_FIELD@15..27
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..29 "\n"
      RBrace@29..30 "}"
      Whitespace@30..32 "\n\n"
  IMPL@32..147
    ImplKeyword@32..36 "impl"
    Whitespace@36..37 " "
    PATH@37..46
      Ident@37..45 "ToString"
      Whitespace@45..46 " "
    ForKeyword@46..49 "for"
    Whitespace@49..50 " "
    TYPE_TAPP@50..52
      PATH@50..52
        Ident@50..51 "S"
        Whitespace@51..52 " "
    LBrace@52..53 "{"
    Whitespace@53..58 "\n    "
    FN@58..144
      FnKeyword@58..60 "fn"
      Whitespace@60..61 " "
      Ident@61..70 "to_string"
      PARAM_LIST@70..80
        LParen@70..71 "("
        PARAM@71..78
          Ident@71..75 "self"
          Colon@75..76 ":"
          Whitespace@76..77 " "
          TYPE_TAPP@77..78
            PATH@77..78
              Ident@77..78 "S"
        RParen@78..79 ")"
        Whitespace@79..80 " "
      Arrow@80..82 "->"
      Whitespace@82..83 " "
      TYPE_STRING@83..90
        StringKeyword@83..89 "string"
        Whitespace@89..90 " "
      BLOCK@90..144
        LBrace@90..91 "{"
        Whitespace@91..100 "\n        "
        EXPR_BINARY@100..142
          EXPR_BINARY@100..132
            EXPR_STR@100..105
              Str@100..104 "\"S(\""
              Whitespace@104..105 " "
            Plus@105..106 "+"
            Whitespace@106..107 " "
            EXPR_CALL@107..132
              EXPR_BINARY@107..129
                EXPR_PAREN@107..119
                  LParen@107..108 "("
                  EXPR_BINARY@108..118
                    EXPR_IDENT@108..112
                      PATH@108..112
                        Ident@108..112 "self"
                    Dot@112..113 "."
                    EXPR_IDENT@113..118
                      PATH@113..118
                        Ident@113..118 "value"
                  RParen@118..119 ")"
                Dot@119..120 "."
                EXPR_IDENT@120..129
                  PATH@120..129
                    Ident@120..129 "to_string"
              ARG_LIST@129..132
                LParen@129..130 "("
                RParen@130..131 ")"
                Whitespace@131..132 " "
          Plus@132..133 "+"
          Whitespace@133..134 " "
          EXPR_STR@134..142
            Str@134..137 "\")\""
            Whitespace@137..142 "\n    "
        RBrace@142..143 "}"
        Whitespace@143..144 "\n"
    RBrace@144..145 "}"
    Whitespace@145..147 "\n\n"
  FN@147..232
    FnKeyword@147..149 "fn"
    Whitespace@149..150 " "
    Ident@150..154 "main"
    PARAM_LIST@154..157
      LParen@154..155 "("
      RParen@155..156 ")"
      Whitespace@156..157 " "
    Arrow@157..159 "->"
    Whitespace@159..160 " "
    TYPE_UNIT@160..165
      UnitKeyword@160..164 "unit"
      Whitespace@164..165 " "
    BLOCK@165..232
      LBrace@165..166 "{"
      Whitespace@166..171 "\n    "
      STMT_LET@171..199
        LetKeyword@171..174 "let"
        Whitespace@174..175 " "
        PATTERN_VARIABLE@175..177
          Ident@175..176 "s"
          Whitespace@176..177 " "
        Eq@177..178 "="
        Whitespace@178..179 " "
        EXPR_STRUCT_LITERAL@179..193
          PATH@179..181
            Ident@179..180 "S"
            Whitespace@180..181 " "
          STRUCT_LITERAL_FIELD_LIST@181..193
            LBrace@181..182 "{"
            Whitespace@182..183 " "
            STRUCT_LITERAL_FIELD@183..192
              Ident@183..188 "value"
              Colon@188..189 ":"
              Whitespace@189..190 " "
              EXPR_INT@190..192
                Int@190..191 "7"
                Whitespace@191..192 " "
            RBrace@192..193 "}"
        Semi@193..194 ";"
        Whitespace@194..199 "\n    "
      STMT_EXPR@199..227
        EXPR_CALL@199..221
          EXPR_IDENT@199..206
            PATH@199..206
              Ident@199..206 "println"
          ARG_LIST@206..221
            LParen@206..207 "("
            ARG@207..220
              EXPR_CALL@207..220
                EXPR_BINARY@207..218
                  EXPR_IDENT@207..208
                    PATH@207..208
                      Ident@207..208 "s"
                  Dot@208..209 "."
                  EXPR_IDENT@209..218
                    PATH@209..218
                      Ident@209..218 "to_string"
                ARG_LIST@218..220
                  LParen@218..219 "("
                  RParen@219..220 ")"
            RParen@220..221 ")"
        Semi@221..222 ";"
        Whitespace@222..227 "\n    "
      EXPR_UNIT@227..230
        LParen@227..228 "("
        RParen@228..229 ")"
        Whitespace@229..230 "\n"
      RBrace@230..231 "}"
      Whitespace@231..232 "\n"