FILE@0..380
  STATIC@0..62
    StaticKeyword@0..6 "static"
    Whitespace@6..7 " "
    Ident@7..13 "VALUES"
    Colon@13..14 ":"
    Whitespace@14..15 " "
    TYPE_TAPP@15..42
      PATH@15..23
        Ident@15..23 "OnceCell"
      TYPE_PARAM_LIST@23..42
        LBracket@23..24 "["
        TYPE_TAPP@24..40
          PATH@24..33
            Ident@24..33 "FrozenVec"
          TYPE_PARAM_LIST@33..40
            LBracket@33..34 "["
            TYPE_INT@34..39
              IsizeKeyword@34..39 "isize"
            RBracket@39..40 "]"
        RBracket@40..41 "]"
        Whitespace@41..42 " "
    Eq@42..43 "="
    Whitespace@43..44 " "
    EXPR_CALL@44..59
      EXPR_IDENT@44..57
        PATH@44..57
          Ident@44..52 "OnceCell"
          ColonColon@52..54 "::"
          Ident@54..57 "new"
      ARG_LIST@57..59
        LParen@57..58 "("
        RParen@58..59 ")"
    Semi@59..60 ";"
    Whitespace@60..62 "\n\n"
  FN@62..162
    FnKeyword@62..64 "fn"
    Whitespace@64..65 " "
    Ident@65..71 "values"
    PARAM_LIST@71..74
      LParen@71..72 "("
      RParen@72..73 ")"
      Whitespace@73..74 " "
    Arrow@74..76 "->"
    Whitespace@76..77 " "
    TYPE_TAPP@77..94
      PATH@77..86
        Ident@77..86 "FrozenVec"
      TYPE_PARAM_LIST@86..94
        LBracket@86..87 "["
        TYPE_INT@87..92
          IsizeKeyword@87..92 "isize"
        RBracket@92..93 "]"
        Whitespace@93..94 " "
    BLOCK@94..162
      LBrace@94..95 "{"
      Whitespace@95..100 "\n    "
      EXPR_CALL@100..159
        EXPR_BINARY@100..118
          EXPR_IDENT@100..106
            PATH@100..106
              Ident@100..106 "VALUES"
          Dot@106..107 "."
          EXPR_IDENT@107..118
            PATH@107..118
              Ident@107..118 "get_or_init"
        ARG_LIST@118..159
          LParen@118..119 "("
          ARG@119..157
            EXPR_CLOSURE@119..157
              CLOSURE_PARAM_LIST@119..122
                OrOr@119..121 "||"
                Whitespace@121..122 " "
              EXPR_CLOSURE_BODY@122..157
                EXPR_CALL@122..157
                  EXPR_BINARY@122..155
                    EXPR_CALL@122..148
                      EXPR_IDENT@122..137
                        PATH@122..137
                          Ident@122..125 "Vec"
                          ColonColon@125..127 "::"
                          Ident@127..137 "from_array"
                      ARG_LIST@137..148
                        LParen@137..138 "("
                        ARG@138..147
                          EXPR_ARRAY_LITERAL@138..147
                            LBracket@138..139 "["
                            EXPR_INT@139..140
                              Int@139..140 "1"
                            Comma@140..141 ","
                            Whitespace@141..142 " "
                            EXPR_INT@142..143
                              Int@142..143 "2"
                            Comma@143..144 ","
                            Whitespace@144..145 " "
                            EXPR_INT@145..146
                              Int@145..146 "3"
                            RBracket@146..147 "]"
                        RParen@147..148 ")"
                    Dot@148..149 "."
                    EXPR_IDENT@149..155
                      PATH@149..155
                        Ident@149..155 "freeze"
                  ARG_LIST@155..157
                    LParen@155..156 "("
                    RParen@156..157 ")"
          RParen@157..158 ")"
          Whitespace@158..159 "\n"
      RBrace@159..160 "}"
      Whitespace@160..162 "\n\n"
  FN@162..380
    FnKeyword@162..164 "fn"
    Whitespace@164..165 " "
    Ident@165..169 "main"
    PARAM_LIST@169..172
      LParen@169..170 "("
      RParen@170..171 ")"
      Whitespace@171..172 " "
    Arrow@172..174 "->"
    Whitespace@174..175 " "
    TYPE_TUPLE@175..178
      TYPE_LIST@175..178
        LParen@175..176 "("
        RParen@176..177 ")"
        Whitespace@177..178 " "
    BLOCK@178..380
      LBrace@178..179 "{"
      Whitespace@179..184 "\n    "
      STMT_LET@184..211
        LetKeyword@184..187 "let"
        Whitespace@187..188 " "
        PATTERN_VARIABLE@188..195
          Ident@188..194 "frozen"
          Whitespace@194..195 " "
        Eq@195..196 "="
        Whitespace@196..197 " "
        EXPR_CALL@197..205
          EXPR_IDENT@197..203
            PATH@197..203
              Ident@197..203 "values"
          ARG_LIST@203..205
            LParen@203..204 "("
            RParen@204..205 ")"
        Semi@205..206 ";"
        Whitespace@206..211 "\n    "
      STMT_LET@211..243
        LetKeyword@211..214 "let"
        Whitespace@214..215 " "
        PATTERN_VARIABLE@215..220
          Ident@215..219 "copy"
          Whitespace@219..220 " "
        Eq@220..221 "="
        Whitespace@221..222 " "
        EXPR_CALL@222..237
          EXPR_BINARY@222..235
            EXPR_IDENT@222..228
              PATH@222..228
                Ident@222..228 "frozen"
            Dot@228..229 "."
            EXPR_IDENT@229..235
              PATH@229..235
                Ident@229..235 "to_vec"
          ARG_LIST@235..237
            LParen@235..236 "("
            RParen@236..237 ")"
        Semi@237..238 ";"
        Whitespace@238..243 "\n    "
      STMT_EXPR@243..263
        EXPR_CALL@243..257
          EXPR_BINARY@243..251
            EXPR_IDENT@243..247
              PATH@243..247
                Ident@243..247 "copy"
            Dot@247..248 "."
            EXPR_IDENT@248..251
              PATH@248..251
                Ident@248..251 "set"
          ARG_LIST@251..257
            LParen@251..252 "("
            ARG@252..255
              EXPR_INT@252..253
                Int@252..253 "0"
              Comma@253..254 ","
              Whitespace@254..255 " "
            ARG@255..256
              EXPR_INT@255..256
                Int@255..256 "9"
            RParen@256..257 ")"
        Semi@257..258 ";"
        Whitespace@258..263 "\n    "
      STMT_EXPR@263..303
        EXPR_CALL@263..297
          EXPR_IDENT@263..270
            PATH@263..270
              Ident@263..270 "println"
          ARG_LIST@270..297
            LParen@270..271 "("
            ARG@271..296
              EXPR_CALL@271..296
                EXPR_BINARY@271..294
                  EXPR_CALL@271..284
                    EXPR_BINARY@271..281
                      EXPR_IDENT@271..277
                        PATH@271..277
                          Ident@271..277 "frozen"
                      Dot@277..278 "."
                      EXPR_IDENT@278..281
                        PATH@278..281
                          Ident@278..281 "get"
                    ARG_LIST@281..284
                      LParen@281..282 "("
                      ARG@282..283
                        EXPR_INT@282..283
                          Int@282..283 "0"
                      RParen@283..284 ")"
                  Dot@284..285 "."
                  EXPR_IDENT@285..294
                    PATH@285..294
                      Ident@285..294 "to_string"
                ARG_LIST@294..296
                  LParen@294..295 "("
                  RParen@295..296 ")"
            RParen@296..297 ")"
        Semi@297..298 ";"
        Whitespace@298..303 "\n    "
      STMT_EXPR@303..341
        EXPR_CALL@303..335
          EXPR_IDENT@303..310
            PATH@303..310
              Ident@303..310 "println"
          ARG_LIST@310..335
            LParen@310..311 "("
            ARG@311..334
              EXPR_CALL@311..334
                EXPR_BINARY@311..332
                  EXPR_CALL@311..322
                    EXPR_BINARY@311..319
                      EXPR_IDENT@311..315
                        PATH@311..315
                          Ident@311..315 "copy"
                      Dot@315..316 "."
                      EXPR_IDENT@316..319
                        PATH@316..319
                          Ident@316..319 "get"
                    ARG_LIST@319..322
                      LParen@319..320 "("
                      ARG@320..321
                        EXPR_INT@320..321
                          Int@320..321 "0"
                      RParen@321..322 ")"
                  Dot@322..323 "."
                  EXPR_IDENT@323..332
                    PATH@323..332
                      Ident@323..332 "to_string"
                ARG_LIST@332..334
                  LParen@332..333 "("
                  RParen@333..334 ")"
            RParen@334..335 ")"
        Semi@335..336 ";"
        Whitespace@336..341 "\n    "
      EXPR_CALL@341..378
        EXPR_IDENT@341..348
          PATH@341..348
            Ident@341..348 "println"
        ARG_LIST@348..378
          LParen@348..349 "("
          ARG@349..376
            EXPR_CALL@349..376
              EXPR_BINARY@349..374
                EXPR_CALL@349..364
                  EXPR_BINARY@349..361
                    EXPR_CALL@349..357
                      EXPR_IDENT@349..355
                        PATH@349..355
                          Ident@349..355 "values"
                      ARG_LIST@355..357
                        LParen@355..356 "("
                        RParen@356..357 ")"
                    Dot@357..358 "."
                    EXPR_IDENT@358..361
                      PATH@358..361
                        Ident@358..361 "get"
                  ARG_LIST@361..364
                    LParen@361..362 "("
                    ARG@362..363
                      EXPR_INT@362..363
                        Int@362..363 "1"
                    RParen@363..364 ")"
                Dot@364..365 "."
                EXPR_IDENT@365..374
                  PATH@365..374
                    Ident@365..374 "to_string"
              ARG_LIST@374..376
                LParen@374..375 "("
                RParen@375..376 ")"
          RParen@376..377 ")"
          Whitespace@377..378 "\n"
      RBrace@378..379 "}"
      Whitespace@379..380 "\n"