FILE@0..1908
  USE@0..16
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..13
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..13 "iter"
    Semi@13..14 ";"
    Whitespace@14..16 "\n\n"
  TRAIT@16..71
    TraitKeyword@16..21 "trait"
    Whitespace@21..22 " "
    Ident@22..29 "Convert"
    GENERIC_LIST@29..33
      LBracket@29..30 "["
      GENERIC@30..31
        Ident@30..31 "T"
      RBracket@31..32 "]"
      Whitespace@32..33 " "
    LBrace@33..34 "{"
    Whitespace@34..39 "\n    "
    TRAIT_METHOD_SIG_LIST@39..71
      TRAIT_METHOD_SIG@39..68
        FnKeyword@39..41 "fn"
        Whitespace@41..42 " "
        Ident@42..49 "convert"
        PARAM_LIST@49..62
          LParen@49..50 "("
          PARAM@50..60
            Ident@50..54 "self"
            Colon@54..55 ":"
            Whitespace@55..56 " "
            TYPE_TAPP@56..60
              PATH@56..60
                Ident@56..60 "Self"
          RParen@60..61 ")"
          Whitespace@61..62 " "
        Arrow@62..64 "->"
        Whitespace@64..65 " "
        TYPE_TAPP@65..66
          PATH@65..66
            Ident@65..66 "T"
        Semi@66..67 ";"
        Whitespace@67..68 "\n"
      RBrace@68..69 "}"
      Whitespace@69..71 "\n\n"
  STRUCT@71..88
    StructKeyword@71..77 "struct"
    Whitespace@77..78 " "
    Ident@78..83 "Token"
    Whitespace@83..84 " "
    LBrace@84..85 "{"
    STRUCT_FIELD_LIST@85..88
      RBrace@85..86 "}"
      Whitespace@86..88 "\n\n"
  IMPL@88..177
    ImplKeyword@88..92 "impl"
    Whitespace@92..93 " "
    TYPE_TAPP@93..107
      PATH@93..100
        Ident@93..100 "Convert"
      TYPE_PARAM_LIST@100..107
        LBracket@100..101 "["
        TYPE_INT32@101..106
          Int32Keyword@101..106 "int32"
        RBracket@106..107 "]"
    ForKeyword@107..110 "for"
    Whitespace@110..111 " "
    TYPE_TAPP@111..117
      PATH@111..117
        Ident@111..116 "Token"
        Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    FN@123..174
      FnKeyword@123..125 "fn"
      Whitespace@125..126 " "
      Ident@126..133 "convert"
      PARAM_LIST@133..147
        LParen@133..134 "("
        PARAM@134..145
          Ident@134..138 "self"
          Colon@138..139 ":"
          Whitespace@139..140 " "
          TYPE_TAPP@140..145
            PATH@140..145
              Ident@140..145 "Token"
        RParen@145..146 ")"
        Whitespace@146..147 " "
      Arrow@147..149 "->"
      Whitespace@149..150 " "
      TYPE_INT32@150..156
        Int32Keyword@150..155 "int32"
        Whitespace@155..156 " "
      BLOCK@156..174
        LBrace@156..157 "{"
        Whitespace@157..166 "\n        "
        EXPR_INT@166..172
          Int@166..167 "7"
          Whitespace@167..172 "\n    "
        RBrace@172..173 "}"
        Whitespace@173..174 "\n"
    RBrace@174..175 "}"
    Whitespace@175..177 "\n\n"
  IMPL@177..274
    ImplKeyword@177..181 "impl"
    Whitespace@181..182 " "
    TYPE_TAPP@182..197
      PATH@182..189
        Ident@182..189 "Convert"
      TYPE_PARAM_LIST@189..197
        LBracket@189..190 "["
        TYPE_STRING@190..196
          StringKeyword@190..196 "string"
        RBracket@196..197 "]"
    ForKeyword@197..200 "for"
    Whitespace@200..201 " "
    TYPE_TAPP@201..207
      PATH@201..207
        Ident@201..206 "Token"
        Whitespace@206..207 " "
    LBrace@207..208 "{"
    Whitespace@208..213 "\n    "
    FN@213..271
      FnKeyword@213..215 "fn"
      Whitespace@215..216 " "
      Ident@216..223 "convert"
      PARAM_LIST@223..237
        LParen@223..224 "("
        PARAM@224..235
          Ident@224..228 "self"
          Colon@228..229 ":"
          Whitespace@229..230 " "
          TYPE_TAPP@230..235
            PATH@230..235
              Ident@230..235 "Token"
        RParen@235..236 ")"
        Whitespace@236..237 " "
      Arrow@237..239 "->"
      Whitespace@239..240 " "
      TYPE_STRING@240..247
        StringKeyword@240..246 "string"
        Whitespace@246..247 " "
      BLOCK@247..271
        LBrace@247..248 "{"
        Whitespace@248..257 "\n        "
        EXPR_STR@257..269
          Str@257..264 "\"seven\""
          Whitespace@264..269 "\n    "
        RBrace@269..270 "}"
        Whitespace@270..271 "\n"
    RBrace@271..272 "}"
    Whitespace@272..274 "\n\n"
  FN@274..346
    FnKeyword@274..276 "fn"
    Whitespace@276..277 " "
    Ident@277..287 "convert_to"
    GENERIC_LIST@287..305
      LBracket@287..288 "["
      GENERIC@288..289
        Ident@288..289 "T"
      Comma@289..290 ","
      Whitespace@290..291 " "
      GENERIC@291..304
        Ident@291..292 "V"
        Colon@292..293 ":"
        Whitespace@293..294 " "
        TRAIT_SET@294..304
          TYPE_TAPP@294..304
            PATH@294..301
              Ident@294..301 "Convert"
            TYPE_PARAM_LIST@301..304
              LBracket@301..302 "["
              TYPE_TAPP@302..303
                PATH@302..303
                  Ident@302..303 "T"
              RBracket@303..304 "]"
      RBracket@304..305 "]"
    PARAM_LIST@305..316
      LParen@305..306 "("
      PARAM@306..314
        Ident@306..311 "value"
        Colon@311..312 ":"
        Whitespace@312..313 " "
        TYPE_TAPP@313..314
          PATH@313..314
            Ident@313..314 "V"
      RParen@314..315 ")"
      Whitespace@315..316 " "
    Arrow@316..318 "->"
    Whitespace@318..319 " "
    TYPE_TAPP@319..321
      PATH@319..321
        Ident@319..320 "T"
        Whitespace@320..321 " "
    BLOCK@321..346
      LBrace@321..322 "{"
      Whitespace@322..327 "\n    "
      EXPR_CALL@327..343
        EXPR_BINARY@327..340
          EXPR_IDENT@327..332
            PATH@327..332
              Ident@327..332 "value"
          Dot@332..333 "."
          EXPR_IDENT@333..340
            PATH@333..340
              Ident@333..340 "convert"
        ARG_LIST@340..343
          LParen@340..341 "("
          RParen@341..342 ")"
          Whitespace@342..343 "\n"
      RBrace@343..344 "}"
      Whitespace@344..346 "\n\n"
  TRAIT@346..404
    TraitKeyword@346..351 "trait"
    Whitespace@351..352 " "
    Ident@352..358 "Marker"
    GENERIC_LIST@358..362
      LBracket@358..359 "["
      GENERIC@359..360
        Ident@359..360 "T"
      RBracket@360..361 "]"
      Whitespace@361..362 " "
    LBrace@362..363 "{"
    Whitespace@363..368 "\n    "
    TRAIT_METHOD_SIG_LIST@368..404
      TRAIT_METHOD_SIG@368..401
        FnKeyword@368..370 "fn"
        Whitespace@370..371 " "
        Ident@371..377 "marker"
        PARAM_LIST@377..390
          LParen@377..378 "("
          PARAM@378..388
            Ident@378..382 "self"
            Colon@382..383 ":"
            Whitespace@383..384 " "
            TYPE_TAPP@384..388
              PATH@384..388
                Ident@384..388 "Self"
          RParen@388..389 ")"
          Whitespace@389..390 " "
        Arrow@390..392 "->"
        Whitespace@392..393 " "
        TYPE_STRING@393..399
          StringKeyword@393..399 "string"
        Semi@399..400 ";"
        Whitespace@400..401 "\n"
      RBrace@401..402 "}"
      Whitespace@402..404 "\n\n"
  STRUCT@404..419
    StructKeyword@404..410 "struct"
    Whitespace@410..411 " "
    Ident@411..414 "Any"
    Whitespace@414..415 " "
    LBrace@415..416 "{"
    STRUCT_FIELD_LIST@416..419
      RBrace@416..417 "}"
      Whitespace@417..419 "\n\n"
  IMPL@419..509
    ImplKeyword@419..423 "impl"
    GENERIC_LIST@423..427
      LBracket@423..424 "["
      GENERIC@424..425
        Ident@424..425 "T"
      RBracket@425..426 "]"
      Whitespace@426..427 " "
    TYPE_TAPP@427..436
      PATH@427..433
        Ident@427..433 "Marker"
      TYPE_PARAM_LIST@433..436
        LBracket@433..434 "["
        TYPE_TAPP@434..435
          PATH@434..435
            Ident@434..435 "T"
        RBracket@435..436 "]"
    ForKeyword@436..439 "for"
    Whitespace@439..440 " "
    TYPE_TAPP@440..444
      PATH@440..444
        Ident@440..443 "Any"
        Whitespace@443..444 " "
    LBrace@444..445 "{"
    Whitespace@445..450 "\n    "
    FN@450..506
      FnKeyword@450..452 "fn"
      Whitespace@452..453 " "
      Ident@453..459 "marker"
      PARAM_LIST@459..471
        LParen@459..460 "("
        PARAM@460..469
          Ident@460..464 "self"
          Colon@464..465 ":"
          Whitespace@465..466 " "
          TYPE_TAPP@466..469
            PATH@466..469
              Ident@466..469 "Any"
        RParen@469..470 ")"
        Whitespace@470..471 " "
      Arrow@471..473 "->"
      Whitespace@473..474 " "
      TYPE_STRING@474..481
        StringKeyword@474..480 "string"
        Whitespace@480..481 " "
      BLOCK@481..506
        LBrace@481..482 "{"
        Whitespace@482..491 "\n        "
        EXPR_STR@491..504
          Str@491..499 "\"marked\""
          Whitespace@499..504 "\n    "
        RBrace@504..505 "}"
        Whitespace@505..506 "\n"
    RBrace@506..507 "}"
    Whitespace@507..509 "\n\n"
  STRUCT@509..570
    StructKeyword@509..515 "struct"
    Whitespace@515..516 " "
    Ident@516..523 "Counter"
    Whitespace@523..524 " "
    LBrace@524..525 "{"
    Whitespace@525..530 "\n    "
    STRUCT_FIELD_LIST@530..570
      STRUCT_FIELD@530..549
        Ident@530..537 "current"
        Colon@537..538 ":"
        Whitespace@538..539 " "
        TYPE_TAPP@539..549
          PATH@539..542
            Ident@539..542 "Ref"
          TYPE_PARAM_LIST@542..549
            LBracket@542..543 "["
            TYPE_INT32@543..548
              Int32Keyword@543..548 "int32"
            RBracket@548..549 "]"
      Comma@549..550 ","
      Whitespace@550..555 "\n    "
      STRUCT_FIELD@555..565
        Ident@555..558 "end"
        Colon@558..559 ":"
        Whitespace@559..560 " "
        TYPE_INT32@560..565
          Int32Keyword@560..565 "int32"
      Comma@565..566 ","
      Whitespace@566..567 "\n"
      RBrace@567..568 "}"
      Whitespace@568..570 "\n\n"
  IMPL@570..691
    ImplKeyword@570..574 "impl"
    Whitespace@574..575 " "
    TYPE_TAPP@575..583
      PATH@575..583
        Ident@575..582 "Counter"
        Whitespace@582..583 " "
    LBrace@583..584 "{"
    Whitespace@584..589 "\n    "
    FN@589..688
      FnKeyword@589..591 "fn"
      Whitespace@591..592 " "
      Ident@592..595 "new"
      PARAM_LIST@595..622
        LParen@595..596 "("
        PARAM@596..610
          Ident@596..601 "start"
          Colon@601..602 ":"
          Whitespace@602..603 " "
          TYPE_INT32@603..608
            Int32Keyword@603..608 "int32"
          Comma@608..609 ","
          Whitespace@609..610 " "
        PARAM@610..620
          Ident@610..613 "end"
          Colon@613..614 ":"
          Whitespace@614..615 " "
          TYPE_INT32@615..620
            Int32Keyword@615..620 "int32"
        RParen@620..621 ")"
        Whitespace@621..622 " "
      Arrow@622..624 "->"
      Whitespace@624..625 " "
      TYPE_TAPP@625..630
        PATH@625..630
          Ident@625..629 "Self"
          Whitespace@629..630 " "
      BLOCK@630..688
        LBrace@630..631 "{"
        Whitespace@631..640 "\n        "
        EXPR_STRUCT_LITERAL@640..686
          PATH@640..648
            Ident@640..647 "Counter"
            Whitespace@647..648 " "
          STRUCT_LITERAL_FIELD_LIST@648..686
            LBrace@648..649 "{"
            Whitespace@649..650 " "
            STRUCT_LITERAL_FIELD@650..674
              Ident@650..657 "current"
              Colon@657..658 ":"
              Whitespace@658..659 " "
              EXPR_CALL@659..674
                EXPR_IDENT@659..667
                  PATH@659..667
                    Ident@659..662 "Ref"
                    ColonColon@662..664 "::"
                    Ident@664..667 "new"
                ARG_LIST@667..674
                  LParen@667..668 "("
                  ARG@668..673
                    EXPR_IDENT@668..673
                      PATH@668..673
                        Ident@668..673 "start"
                  RParen@673..674 ")"
            Comma@674..675 ","
            Whitespace@675..676 " "
            STRUCT_LITERAL_FIELD@676..680
              Ident@676..679 "end"
              Whitespace@679..680 " "
            RBrace@680..681 "}"
            Whitespace@681..686 "\n    "
        RBrace@686..687 "}"
        Whitespace@687..688 "\n"
    RBrace@688..689 "}"
    Whitespace@689..691 "\n\n"
  IMPL@691..998
    ImplKeyword@691..695 "impl"
    Whitespace@695..696 " "
    TYPE_TAPP@696..705
      PATH@696..705
        Ident@696..704 "Iterator"
        Whitespace@704..705 " "
    ForKeyword@705..708 "for"
    Whitespace@708..709 " "
    TYPE_TAPP@709..717
      PATH@709..717
        Ident@709..716 "Counter"
        Whitespace@716..717 " "
    LBrace@717..718 "{"
    Whitespace@718..723 "\n    "
    IMPL_ASSOCIATED_TYPE@723..747
      TypeKeyword@723..727 "type"
      Whitespace@727..728 " "
      Ident@728..732 "Item"
      Whitespace@732..733 " "
      Eq@733..734 "="
      Whitespace@734..735 " "
      TYPE_INT32@735..740
        Int32Keyword@735..740 "int32"
      Semi@740..741 ";"
      Whitespace@741..747 "\n\n    "
    FN@747..995
      FnKeyword@747..749 "fn"
      Whitespace@749..750 " "
      Ident@750..754 "next"
      PARAM_LIST@754..767
        LParen@754..755 "("
        PARAM@755..765
          Ident@755..759 "self"
          Colon@759..760 ":"
          Whitespace@760..761 " "
          TYPE_TAPP@761..765
            PATH@761..765
              Ident@761..765 "Self"
        RParen@765..766 ")"
        Whitespace@766..767 " "
      Arrow@767..769 "->"
      Whitespace@769..770 " "
      TYPE_TAPP@770..784
        PATH@770..776
          Ident@770..776 "Option"
        TYPE_PARAM_LIST@776..784
          LBracket@776..777 "["
          TYPE_INT32@777..782
            Int32Keyword@777..782 "int32"
          RBracket@782..783 "]"
          Whitespace@783..784 " "
      BLOCK@784..995
        LBrace@784..785 "{"
        Whitespace@785..794 "\n        "
        STMT_LET@794..836
          LetKeyword@794..797 "let"
          Whitespace@797..798 " "
          PATTERN_VARIABLE@798..806
            Ident@798..805 "current"
            Whitespace@805..806 " "
          Eq@806..807 "="
          Whitespace@807..808 " "
          EXPR_CALL@808..826
            EXPR_BINARY@808..824
              EXPR_BINARY@808..820
                EXPR_IDENT@808..812
                  PATH@808..812
                    Ident@808..812 "self"
                Dot@812..813 "."
                EXPR_IDENT@813..820
                  PATH@813..820
                    Ident@813..820 "current"
              Dot@820..821 "."
              EXPR_IDENT@821..824
                PATH@821..824
                  Ident@821..824 "get"
            ARG_LIST@824..826
              LParen@824..825 "("
              RParen@825..826 ")"
          Semi@826..827 ";"
          Whitespace@827..836 "\n        "
        EXPR_IF@836..993
          IfKeyword@836..838 "if"
          Whitespace@838..839 " "
          EXPR_IF_COND@839..858
            EXPR_BINARY@839..858
              EXPR_IDENT@839..847
                PATH@839..847
                  Ident@839..846 "current"
                  Whitespace@846..847 " "
              Less@847..848 "<"
              Whitespace@848..849 " "
              EXPR_BINARY@849..858
                EXPR_IDENT@849..853
                  PATH@849..853
                    Ident@849..853 "self"
                Dot@853..854 "."
                EXPR_IDENT@854..858
                  PATH@854..858
                    Ident@854..857 "end"
                    Whitespace@857..858 " "
          EXPR_IF_THEN@858..947
            BLOCK@858..947
              LBrace@858..859 "{"
              Whitespace@859..872 "\n            "
              STMT_EXPR@872..915
                EXPR_CALL@872..901
                  EXPR_BINARY@872..888
                    EXPR_BINARY@872..884
                      EXPR_IDENT@872..876
                        PATH@872..876
                          Ident@872..876 "self"
                      Dot@876..877 "."
                      EXPR_IDENT@877..884
                        PATH@877..884
                          Ident@877..884 "current"
                    Dot@884..885 "."
                    EXPR_IDENT@885..888
                      PATH@885..888
                        Ident@885..888 "set"
                  ARG_LIST@888..901
                    LParen@888..889 "("
                    ARG@889..900
                      EXPR_BINARY@889..900
                        EXPR_IDENT@889..897
                          PATH@889..897
                            Ident@889..896 "current"
                            Whitespace@896..897 " "
                        Plus@897..898 "+"
                        Whitespace@898..899 " "
                        EXPR_INT@899..900
                          Int@899..900 "1"
                    RParen@900..901 ")"
                Semi@901..902 ";"
                Whitespace@902..915 "\n            "
              EXPR_CALL@915..945
                EXPR_IDENT@915..927
                  PATH@915..927
                    Ident@915..921 "Option"
                    ColonColon@921..923 "::"
                    Ident@923..927 "Some"
                ARG_LIST@927..945
                  LParen@927..928 "("
                  ARG@928..935
                    EXPR_IDENT@928..935
                      PATH@928..935
                        Ident@928..935 "current"
                  RParen@935..936 ")"
                  Whitespace@936..945 "\n        "
              RBrace@945..946 "}"
              Whitespace@946..947 " "
          ElseKeyword@947..951 "else"
          Whitespace@951..952 " "
          EXPR_IF_ELSE@952..993
            BLOCK@952..993
              LBrace@952..953 "{"
              Whitespace@953..966 "\n            "
              EXPR_IDENT@966..987
                PATH@966..987
                  Ident@966..972 "Option"
                  ColonColon@972..974 "::"
                  Ident@974..978 "None"
                  Whitespace@978..987 "\n        "
              RBrace@987..988 "}"
              Whitespace@988..993 "\n    "
        RBrace@993..994 "}"
        Whitespace@994..995 "\n"
    RBrace@995..996 "}"
    Whitespace@996..998 "\n\n"
  FN@998..1908
    FnKeyword@998..1000 "fn"
    Whitespace@1000..1001 " "
    Ident@1001..1005 "main"
    PARAM_LIST@1005..1008
      LParen@1005..1006 "("
      RParen@1006..1007 ")"
      Whitespace@1007..1008 " "
    Arrow@1008..1010 "->"
    Whitespace@1010..1011 " "
    TYPE_UNIT@1011..1016
      UnitKeyword@1011..1015 "unit"
      Whitespace@1015..1016 " "
    BLOCK@1016..1908
      LBrace@1016..1017 "{"
      Whitespace@1017..1022 "\n    "
      STMT_EXPR@1022..1072
        EXPR_CALL@1022..1066
          EXPR_IDENT@1022..1029
            PATH@1022..1029
              Ident@1022..1029 "println"
          ARG_LIST@1029..1066
            LParen@1029..1030 "("
            ARG@1030..1065
              EXPR_CALL@1030..1065
                EXPR_IDENT@1030..1055
                  TYPE_TAPP@1030..1046
                    PATH@1030..1037
                      Ident@1030..1037 "Convert"
                    ColonColon@1037..1039 "::"
                    TYPE_PARAM_LIST@1039..1046
                      LBracket@1039..1040 "["
                      TYPE_INT32@1040..1045
                        Int32Keyword@1040..1045 "int32"
                      RBracket@1045..1046 "]"
                  ColonColon@1046..1048 "::"
                  PATH@1048..1055
                    Ident@1048..1055 "convert"
                ARG_LIST@1055..1065
                  LParen@1055..1056 "("
                  ARG@1056..1064
                    EXPR_STRUCT_LITERAL@1056..1064
                      PATH@1056..1062
                        Ident@1056..1061 "Token"
                        Whitespace@1061..1062 " "
                      STRUCT_LITERAL_FIELD_LIST@1062..1064
                        LBrace@1062..1063 "{"
                        RBrace@1063..1064 "}"
                  RParen@1064..1065 ")"
            RParen@1065..1066 ")"
        Semi@1066..1067 ";"
        Whitespace@1067..1072 "\n    "
      STMT_EXPR@1072..1123
        EXPR_CALL@1072..1117
          EXPR_IDENT@1072..1079
            PATH@1072..1079
              Ident@1072..1079 "println"
          ARG_LIST@1079..1117
            LParen@1079..1080 "("
            ARG@1080..1116
              EXPR_CALL@1080..1116
                EXPR_IDENT@1080..1106
                  TYPE_TAPP@1080..1097
                    PATH@1080..1087
                      Ident@1080..1087 "Convert"
                    ColonColon@1087..1089 "::"
                    TYPE_PARAM_LIST@1089..1097
                      LBracket@1089..1090 "["
                      TYPE_STRING@1090..1096
                        StringKeyword@1090..1096 "string"
                      RBracket@1096..1097 "]"
                  ColonColon@1097..1099 "::"
                  PATH@1099..1106
                    Ident@1099..1106 "convert"
                ARG_LIST@1106..1116
                  LParen@1106..1107 "("
                  ARG@1107..1115
                    EXPR_STRUCT_LITERAL@1107..1115
                      PATH@1107..1113
                        Ident@1107..1112 "Token"
                        Whitespace@1112..1113 " "
                      STRUCT_LITERAL_FIELD_LIST@1113..1115
                        LBrace@1113..1114 "{"
                        RBrace@1114..1115 "}"
                  RParen@1115..1116 ")"
            RParen@1116..1117 ")"
        Semi@1117..1118 ";"
        Whitespace@1118..1123 "\n    "
      STMT_LET@1123..1172
        LetKeyword@1123..1126 "let"
        Whitespace@1126..1127 " "
        PATTERN_VARIABLE@1127..1136
          Ident@1127..1136 "converted"
        Colon@1136..1137 ":"
        Whitespace@1137..1138 " "
        TYPE_INT32@1138..1144
          Int32Keyword@1138..1143 "int32"
          Whitespace@1143..1144 " "
        Eq@1144..1145 "="
        Whitespace@1145..1146 " "
        EXPR_CALL@1146..1166
          EXPR_IDENT@1146..1156
            PATH@1146..1156
              Ident@1146..1156 "convert_to"
          ARG_LIST@1156..1166
            LParen@1156..1157 "("
            ARG@1157..1165
              EXPR_STRUCT_LITERAL@1157..1165
                PATH@1157..1163
                  Ident@1157..1162 "Token"
                  Whitespace@1162..1163 " "
                STRUCT_LITERAL_FIELD_LIST@1163..1165
                  LBrace@1163..1164 "{"
                  RBrace@1164..1165 "}"
            RParen@1165..1166 ")"
        Semi@1166..1167 ";"
        Whitespace@1167..1172 "\n    "
      STMT_EXPR@1172..1196
        EXPR_CALL@1172..1190
          EXPR_IDENT@1172..1179
            PATH@1172..1179
              Ident@1172..1179 "println"
          ARG_LIST@1179..1190
            LParen@1179..1180 "("
            ARG@1180..1189
              EXPR_IDENT@1180..1189
                PATH@1180..1189
                  Ident@1180..1189 "converted"
            RParen@1189..1190 ")"
        Semi@1190..1191 ";"
        Whitespace@1191..1196 "\n    "
      STMT_EXPR@1196..1242
        EXPR_CALL@1196..1236
          EXPR_IDENT@1196..1203
            PATH@1196..1203
              Ident@1196..1203 "println"
          ARG_LIST@1203..1236
            LParen@1203..1204 "("
            ARG@1204..1235
              EXPR_CALL@1204..1235
                EXPR_IDENT@1204..1227
                  TYPE_TAPP@1204..1219
                    PATH@1204..1210
                      Ident@1204..1210 "Marker"
                    ColonColon@1210..1212 "::"
                    TYPE_PARAM_LIST@1212..1219
                      LBracket@1212..1213 "["
                      TYPE_INT32@1213..1218
                        Int32Keyword@1213..1218 "int32"
                      RBracket@1218..1219 "]"
                  ColonColon@1219..1221 "::"
                  PATH@1221..1227
                    Ident@1221..1227 "marker"
                ARG_LIST@1227..1235
                  LParen@1227..1228 "("
                  ARG@1228..1234
                    EXPR_STRUCT_LITERAL@1228..1234
                      PATH@1228..1232
                        Ident@1228..1231 "Any"
                        Whitespace@1231..1232 " "
                      STRUCT_LITERAL_FIELD_LIST@1232..1234
                        LBrace@1232..1233 "{"
                        RBrace@1233..1234 "}"
                  RParen@1234..1235 ")"
            RParen@1235..1236 ")"
        Semi@1236..1237 ";"
        Whitespace@1237..1242 "\n    "
      STMT_EXPR@1242..1289
        EXPR_CALL@1242..1283
          EXPR_IDENT@1242..1249
            PATH@1242..1249
              Ident@1242..1249 "println"
          ARG_LIST@1249..1283
            LParen@1249..1250 "("
            ARG@1250..1282
              EXPR_CALL@1250..1282
                EXPR_IDENT@1250..1274
                  TYPE_TAPP@1250..1266
                    PATH@1250..1256
                      Ident@1250..1256 "Marker"
                    ColonColon@1256..1258 "::"
                    TYPE_PARAM_LIST@1258..1266
                      LBracket@1258..1259 "["
                      TYPE_STRING@1259..1265
                        StringKeyword@1259..1265 "string"
                      RBracket@1265..1266 "]"
                  ColonColon@1266..1268 "::"
                  PATH@1268..1274
                    Ident@1268..1274 "marker"
                ARG_LIST@1274..1282
                  LParen@1274..1275 "("
                  ARG@1275..1281
                    EXPR_STRUCT_LITERAL@1275..1281
                      PATH@1275..1279
                        Ident@1275..1278 "Any"
                        Whitespace@1278..1279 " "
                      STRUCT_LITERAL_FIELD_LIST@1279..1281
                        LBrace@1279..1280 "{"
                        RBrace@1280..1281 "}"
                  RParen@1281..1282 ")"
            RParen@1282..1283 ")"
        Semi@1283..1284 ";"
        Whitespace@1284..1289 "\n    "
      STMT_EXPR@1289..1340
        EXPR_CALL@1289..1334
          EXPR_IDENT@1289..1296
            PATH@1289..1296
              Ident@1289..1296 "println"
          ARG_LIST@1296..1334
            LParen@1296..1297 "("
            ARG@1297..1333
              EXPR_CALL@1297..1333
                EXPR_IDENT@1297..1325
                  TYPE_TAPP@1297..1317
                    PATH@1297..1303
                      Ident@1297..1303 "Marker"
                    ColonColon@1303..1305 "::"
                    TYPE_PARAM_LIST@1305..1317
                      LBracket@1305..1306 "["
                      TYPE_TAPP@1306..1316
                        PATH@1306..1309
                          Ident@1306..1309 "Vec"
                        TYPE_PARAM_LIST@1309..1316
                          LBracket@1309..1310 "["
                          TYPE_INT32@1310..1315
                            Int32Keyword@1310..1315 "int32"
                          RBracket@1315..1316 "]"
                      RBracket@1316..1317 "]"
                  ColonColon@1317..1319 "::"
                  PATH@1319..1325
                    Ident@1319..1325 "marker"
                ARG_LIST@1325..1333
                  LParen@1325..1326 "("
                  ARG@1326..1332
                    EXPR_STRUCT_LITERAL@1326..1332
                      PATH@1326..1330
                        Ident@1326..1329 "Any"
                        Whitespace@1329..1330 " "
                      STRUCT_LITERAL_FIELD_LIST@1330..1332
                        LBrace@1330..1331 "{"
                        RBrace@1331..1332 "}"
                  RParen@1332..1333 ")"
            RParen@1333..1334 ")"
        Semi@1334..1335 ";"
        Whitespace@1335..1340 "\n    "
      STMT_LET@1340..1414
        LetKeyword@1340..1343 "let"
        Whitespace@1343..1344 " "
        PATTERN_VARIABLE@1344..1351
          Ident@1344..1350 "mapped"
          Whitespace@1350..1351 " "
        Eq@1351..1352 "="
        Whitespace@1352..1353 " "
        EXPR_CALL@1353..1408
          EXPR_IDENT@1353..1362
            PATH@1353..1362
              Ident@1353..1357 "iter"
              ColonColon@1357..1359 "::"
              Ident@1359..1362 "map"
          ARG_LIST@1362..1408
            LParen@1362..1363 "("
            ARG@1363..1383
              EXPR_CALL@1363..1381
                EXPR_IDENT@1363..1375
                  PATH@1363..1375
                    Ident@1363..1370 "Counter"
                    ColonColon@1370..1372 "::"
                    Ident@1372..1375 "new"
                ARG_LIST@1375..1381
                  LParen@1375..1376 "("
                  ARG@1376..1379
                    EXPR_INT@1376..1377
                      Int@1376..1377 "0"
                    Comma@1377..1378 ","
                    Whitespace@1378..1379 " "
                  ARG@1379..1380
                    EXPR_INT@1379..1380
                      Int@1379..1380 "8"
                  RParen@1380..1381 ")"
              Comma@1381..1382 ","
              Whitespace@1382..1383 " "
            ARG@1383..1407
              EXPR_CLOSURE@1383..1407
                CLOSURE_PARAM_LIST@1383..1398
                  Pipe@1383..1384 "|"
                  CLOSURE_PARAM@1384..1396
                    Ident@1384..1389 "value"
                    Colon@1389..1390 ":"
                    Whitespace@1390..1391 " "
                    TYPE_INT32@1391..1396
                      Int32Keyword@1391..1396 "int32"
                  Pipe@1396..1397 "|"
                  Whitespace@1397..1398 " "
                EXPR_CLOSURE_BODY@1398..1407
                  EXPR_BINARY@1398..1407
                    EXPR_IDENT@1398..1404
                      PATH@1398..1404
                        Ident@1398..1403 "value"
                        Whitespace@1403..1404 " "
                    Star@1404..1405 "*"
                    Whitespace@1405..1406 " "
                    EXPR_INT@1406..1407
                      Int@1406..1407 "2"
            RParen@1407..1408 ")"
        Semi@1408..1409 ";"
        Whitespace@1409..1414 "\n    "
      STMT_LET@1414..1481
        LetKeyword@1414..1417 "let"
        Whitespace@1417..1418 " "
        PATTERN_VARIABLE@1418..1427
          Ident@1418..1426 "filtered"
          Whitespace@1426..1427 " "
        Eq@1427..1428 "="
        Whitespace@1428..1429 " "
        EXPR_CALL@1429..1475
          EXPR_IDENT@1429..1441
            PATH@1429..1441
              Ident@1429..1433 "iter"
              ColonColon@1433..1435 "::"
              Ident@1435..1441 "filter"
          ARG_LIST@1441..1475
            LParen@1441..1442 "("
            ARG@1442..1450
              EXPR_IDENT@1442..1448
                PATH@1442..1448
                  Ident@1442..1448 "mapped"
              Comma@1448..1449 ","
              Whitespace@1449..1450 " "
            ARG@1450..1474
              EXPR_CLOSURE@1450..1474
                CLOSURE_PARAM_LIST@1450..1465
                  Pipe@1450..1451 "|"
                  CLOSURE_PARAM@1451..1463
                    Ident@1451..1456 "value"
                    Colon@1456..1457 ":"
                    Whitespace@1457..1458 " "
                    TYPE_INT32@1458..1463
                      Int32Keyword@1458..1463 "int32"
                  Pipe@1463..1464 "|"
                  Whitespace@1464..1465 " "
                EXPR_CLOSURE_BODY@1465..1474
                  EXPR_BINARY@1465..1474
                    EXPR_IDENT@1465..1471
                      PATH@1465..1471
                        Ident@1465..1470 "value"
                        Whitespace@1470..1471 " "
                    Greater@1471..1472 ">"
                    Whitespace@1472..1473 " "
                    EXPR_INT@1473..1474
                      Int@1473..1474 "4"
            RParen@1474..1475 ")"
        Semi@1475..1476 ";"
        Whitespace@1476..1481 "\n    "
      STMT_LET@1481..1524
        LetKeyword@1481..1484 "let"
        Whitespace@1484..1485 " "
        PATTERN_VARIABLE@1485..1493
          Ident@1485..1492 "limited"
          Whitespace@1492..1493 " "
        Eq@1493..1494 "="
        Whitespace@1494..1495 " "
        EXPR_CALL@1495..1518
          EXPR_IDENT@1495..1505
            PATH@1495..1505
              Ident@1495..1499 "iter"
              ColonColon@1499..1501 "::"
              Ident@1501..1505 "take"
          ARG_LIST@1505..1518
            LParen@1505..1506 "("
            ARG@1506..1516
              EXPR_IDENT@1506..1514
                PATH@1506..1514
                  Ident@1506..1514 "filtered"
              Comma@1514..1515 ","
              Whitespace@1515..1516 " "
            ARG@1516..1517
              EXPR_INT@1516..1517
                Int@1516..1517 "3"
            RParen@1517..1518 ")"
        Semi@1518..1519 ";"
        Whitespace@1519..1524 "\n    "
      STMT_EXPR@1524..1581
        EXPR_FOR@1524..1581
          ForKeyword@1524..1527 "for"
          Whitespace@1527..1528 " "
          PATTERN_VARIABLE@1528..1534
            Ident@1528..1533 "value"
            Whitespace@1533..1534 " "
          InKeyword@1534..1536 "in"
          Whitespace@1536..1537 " "
          EXPR_IDENT@1537..1545
            PATH@1537..1545
              Ident@1537..1544 "limited"
              Whitespace@1544..1545 " "
          BLOCK@1545..1581
            LBrace@1545..1546 "{"
            Whitespace@1546..1555 "\n        "
            STMT_EXPR@1555..1575
              EXPR_CALL@1555..1569
                EXPR_IDENT@1555..1562
                  PATH@1555..1562
                    Ident@1555..1562 "println"
                ARG_LIST@1562..1569
                  LParen@1562..1563 "("
                  ARG@1563..1568
                    EXPR_IDENT@1563..1568
                      PATH@1563..1568
                        Ident@1563..1568 "value"
                  RParen@1568..1569 ")"
              Semi@1569..1570 ";"
              Whitespace@1570..1575 "\n    "
            RBrace@1575..1576 "}"
            Whitespace@1576..1581 "\n    "
      STMT_LET@1581..1718
        LetKeyword@1581..1584 "let"
        Whitespace@1584..1585 " "
        PATTERN_VARIABLE@1585..1589
          Ident@1585..1588 "sum"
          Whitespace@1588..1589 " "
        Eq@1589..1590 "="
        Whitespace@1590..1591 " "
        EXPR_CALL@1591..1712
          EXPR_IDENT@1591..1601
            PATH@1591..1601
              Ident@1591..1595 "iter"
              ColonColon@1595..1597 "::"
              Ident@1597..1601 "fold"
          ARG_LIST@1601..1712
            LParen@1601..1602 "("
            Whitespace@1602..1611 "\n        "
            ARG@1611..1632
              EXPR_CALL@1611..1622
                EXPR_IDENT@1611..1616
                  PATH@1611..1616
                    Ident@1611..1616 "range"
                ARG_LIST@1616..1622
                  LParen@1616..1617 "("
                  ARG@1617..1620
                    EXPR_INT@1617..1618
                      Int@1617..1618 "1"
                    Comma@1618..1619 ","
                    Whitespace@1619..1620 " "
                  ARG@1620..1621
                    EXPR_INT@1620..1621
                      Int@1620..1621 "5"
                  RParen@1621..1622 ")"
              Comma@1622..1623 ","
              Whitespace@1623..1632 "\n        "
            ARG@1632..1643
              EXPR_INT@1632..1633
                Int@1632..1633 "0"
              Comma@1633..1634 ","
              Whitespace@1634..1643 "\n        "
            ARG@1643..1711
              EXPR_CLOSURE@1643..1705
                CLOSURE_PARAM_LIST@1643..1668
                  Pipe@1643..1644 "|"
                  CLOSURE_PARAM@1644..1654
                    Ident@1644..1649 "total"
                    Colon@1649..1650 ":"
                    Whitespace@1650..1651 " "
                    TYPE_INT@1651..1654
                      IntKeyword@1651..1654 "int"
                  Comma@1654..1655 ","
                  Whitespace@1655..1656 " "
                  CLOSURE_PARAM@1656..1666
                    Ident@1656..1661 "value"
                    Colon@1661..1662 ":"
                    Whitespace@1662..1663 " "
                    TYPE_INT@1663..1666
                      IntKeyword@1663..1666 "int"
                  Pipe@1666..1667 "|"
                  Whitespace@1667..1668 " "
                EXPR_CLOSURE_BODY@1668..1705
                  BLOCK@1668..1705
                    LBrace@1668..1669 "{"
                    Whitespace@1669..1682 "\n            "
                    EXPR_BINARY@1682..1704
                      EXPR_IDENT@1682..1688
                        PATH@1682..1688
                          Ident@1682..1687 "total"
                          Whitespace@1687..1688 " "
                      Plus@1688..1689 "+"
                      Whitespace@1689..1690 " "
                      EXPR_IDENT@1690..1704
                        PATH@1690..1704
                          Ident@1690..1695 "value"
                          Whitespace@1695..1704 "\n        "
                    RBrace@1704..1705 "}"
              Comma@1705..1706 ","
              Whitespace@1706..1711 "\n    "
            RParen@1711..1712 ")"
        Semi@1712..1713 ";"
        Whitespace@1713..1718 "\n    "
      STMT_EXPR@1718..1736
        EXPR_CALL@1718..1730
          EXPR_IDENT@1718..1725
            PATH@1718..1725
              Ident@1718..1725 "println"
          ARG_LIST@1725..1730
            LParen@1725..1726 "("
            ARG@1726..1729
              EXPR_IDENT@1726..1729
                PATH@1726..1729
                  Ident@1726..1729 "sum"
            RParen@1729..1730 ")"
        Semi@1730..1731 ";"
        Whitespace@1731..1736 "\n    "
      STMT_LET@1736..1857
        LetKeyword@1736..1739 "let"
        Whitespace@1739..1740 " "
        PATTERN_VARIABLE@1740..1745
          Ident@1740..1745 "texts"
        Colon@1745..1746 ":"
        Whitespace@1746..1747 " "
        TYPE_TAPP@1747..1759
          PATH@1747..1750
            Ident@1747..1750 "Vec"
          TYPE_PARAM_LIST@1750..1759
            LBracket@1750..1751 "["
            TYPE_STRING@1751..1757
              StringKeyword@1751..1757 "string"
            RBracket@1757..1758 "]"
            Whitespace@1758..1759 " "
        Eq@1759..1760 "="
        Whitespace@1760..1761 " "
        EXPR_CALL@1761..1851
          EXPR_IDENT@1761..1774
            PATH@1761..1774
              Ident@1761..1765 "iter"
              ColonColon@1765..1767 "::"
              Ident@1767..1774 "collect"
          ARG_LIST@1774..1851
            LParen@1774..1775 "("
            Whitespace@1775..1784 "\n        "
            ARG@1784..1850
              EXPR_CALL@1784..1844
                EXPR_IDENT@1784..1793
                  PATH@1784..1793
                    Ident@1784..1788 "iter"
                    ColonColon@1788..1790 "::"
                    Ident@1790..1793 "map"
                ARG_LIST@1793..1844
                  LParen@1793..1794 "("
                  ARG@1794..1807
                    EXPR_CALL@1794..1805
                      EXPR_IDENT@1794..1799
                        PATH@1794..1799
                          Ident@1794..1799 "range"
                      ARG_LIST@1799..1805
                        LParen@1799..1800 "("
                        ARG@1800..1803
                          EXPR_INT@1800..1801
                            Int@1800..1801 "1"
                          Comma@1801..1802 ","
                          Whitespace@1802..1803 " "
                        ARG@1803..1804
                          EXPR_INT@1803..1804
                            Int@1803..1804 "4"
                        RParen@1804..1805 ")"
                    Comma@1805..1806 ","
                    Whitespace@1806..1807 " "
                  ARG@1807..1843
                    EXPR_CLOSURE@1807..1843
                      CLOSURE_PARAM_LIST@1807..1820
                        Pipe@1807..1808 "|"
                        CLOSURE_PARAM@1808..1818
                          Ident@1808..1813 "value"
                          Colon@1813..1814 ":"
                          Whitespace@1814..1815 " "
                          TYPE_INT@1815..1818
                            IntKeyword@1815..1818 "int"
                        Pipe@1818..1819 "|"
                        Whitespace@1819..1820 " "
                      EXPR_CLOSURE_BODY@1820..1843
                        EXPR_BINARY@1820..1843
                          EXPR_STR@1820..1824
                            Str@1820..1823 "\"v\""
                            Whitespace@1823..1824 " "
                          Plus@1824..1825 "+"
                          Whitespace@1825..1826 " "
                          EXPR_CALL@1826..1843
                            EXPR_BINARY@1826..1841
                              EXPR_IDENT@1826..1831
                                PATH@1826..1831
                                  Ident@1826..1831 "value"
                              Dot@1831..1832 "."
                              EXPR_IDENT@1832..1841
                                PATH@1832..1841
                                  Ident@1832..1841 "to_string"
                            ARG_LIST@1841..1843
                              LParen@1841..1842 "("
                              RParen@1842..1843 ")"
                  RParen@1843..1844 ")"
              Comma@1844..1845 ","
              Whitespace@1845..1850 "\n    "
            RParen@1850..1851 ")"
        Semi@1851..1852 ";"
        Whitespace@1852..1857 "\n    "
      EXPR_FOR@1857..1906
        ForKeyword@1857..1860 "for"
        Whitespace@1860..1861 " "
        PATTERN_VARIABLE@1861..1866
          Ident@1861..1865 "text"
          Whitespace@1865..1866 " "
        InKeyword@1866..1868 "in"
        Whitespace@1868..1869 " "
        EXPR_IDENT@1869..1875
          PATH@1869..1875
            Ident@1869..1874 "texts"
            Whitespace@1874..1875 " "
        BLOCK@1875..1906
          LBrace@1875..1876 "{"
          Whitespace@1876..1885 "\n        "
          STMT_EXPR@1885..1904
            EXPR_CALL@1885..1898
              EXPR_IDENT@1885..1892
                PATH@1885..1892
                  Ident@1885..1892 "println"
              ARG_LIST@1892..1898
                LParen@1892..1893 "("
                ARG@1893..1897
                  EXPR_IDENT@1893..1897
                    PATH@1893..1897
                      Ident@1893..1897 "text"
                RParen@1897..1898 ")"
            Semi@1898..1899 ";"
            Whitespace@1899..1904 "\n    "
          RBrace@1904..1905 "}"
          Whitespace@1905..1906 "\n"
      RBrace@1906..1907 "}"
      Whitespace@1907..1908 "\n"