FILE@0..1884
  USE@0..16
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..13
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..13 "iter"
    Semi@13..14 ";"
    Whitespace@14..16 "\n\n"
  TRAIT@16..71
    TraitKeyword@16..21 "trait"
    Whitespace@21..22 " "
    Ident@22..29 "Convert"
    GENERIC_LIST@29..33
      LBracket@29..30 "["
      GENERIC@30..31
        Ident@30..31 "T"
      RBracket@31..32 "]"
      Whitespace@32..33 " "
    LBrace@33..34 "{"
    Whitespace@34..39 "\n    "
    TRAIT_METHOD_SIG_LIST@39..71
      TRAIT_METHOD_SIG@39..68
        FnKeyword@39..41 "fn"
        Whitespace@41..42 " "
        Ident@42..49 "convert"
        PARAM_LIST@49..62
          LParen@49..50 "("
          PARAM@50..60
            Ident@50..54 "self"
            Colon@54..55 ":"
            Whitespace@55..56 " "
            TYPE_TAPP@56..60
              PATH@56..60
                Ident@56..60 "Self"
          RParen@60..61 ")"
          Whitespace@61..62 " "
        Arrow@62..64 "->"
        Whitespace@64..65 " "
        TYPE_TAPP@65..66
          PATH@65..66
            Ident@65..66 "T"
        Semi@66..67 ";"
        Whitespace@67..68 "\n"
      RBrace@68..69 "}"
      Whitespace@69..71 "\n\n"
  STRUCT@71..88
    StructKeyword@71..77 "struct"
    Whitespace@77..78 " "
    Ident@78..83 "Token"
    Whitespace@83..84 " "
    LBrace@84..85 "{"
    STRUCT_FIELD_LIST@85..88
      RBrace@85..86 "}"
      Whitespace@86..88 "\n\n"
  IMPL@88..173
    ImplKeyword@88..92 "impl"
    Whitespace@92..93 " "
    TYPE_TAPP@93..105
      PATH@93..100
        Ident@93..100 "Convert"
      TYPE_PARAM_LIST@100..105
        LBracket@100..101 "["
        TYPE_INT32@101..104
          I32Keyword@101..104 "i32"
        RBracket@104..105 "]"
    ForKeyword@105..108 "for"
    Whitespace@108..109 " "
    TYPE_TAPP@109..115
      PATH@109..115
        Ident@109..114 "Token"
        Whitespace@114..115 " "
    LBrace@115..116 "{"
    Whitespace@116..121 "\n    "
    FN@121..170
      FnKeyword@121..123 "fn"
      Whitespace@123..124 " "
      Ident@124..131 "convert"
      PARAM_LIST@131..145
        LParen@131..132 "("
        PARAM@132..143
          Ident@132..136 "self"
          Colon@136..137 ":"
          Whitespace@137..138 " "
          TYPE_TAPP@138..143
            PATH@138..143
              Ident@138..143 "Token"
        RParen@143..144 ")"
        Whitespace@144..145 " "
      Arrow@145..147 "->"
      Whitespace@147..148 " "
      TYPE_INT32@148..152
        I32Keyword@148..151 "i32"
        Whitespace@151..152 " "
      BLOCK@152..170
        LBrace@152..153 "{"
        Whitespace@153..162 "\n        "
        EXPR_INT@162..168
          Int@162..163 "7"
          Whitespace@163..168 "\n    "
        RBrace@168..169 "}"
        Whitespace@169..170 "\n"
    RBrace@170..171 "}"
    Whitespace@171..173 "\n\n"
  IMPL@173..270
    ImplKeyword@173..177 "impl"
    Whitespace@177..178 " "
    TYPE_TAPP@178..193
      PATH@178..185
        Ident@178..185 "Convert"
      TYPE_PARAM_LIST@185..193
        LBracket@185..186 "["
        TYPE_STRING@186..192
          StringKeyword@186..192 "string"
        RBracket@192..193 "]"
    ForKeyword@193..196 "for"
    Whitespace@196..197 " "
    TYPE_TAPP@197..203
      PATH@197..203
        Ident@197..202 "Token"
        Whitespace@202..203 " "
    LBrace@203..204 "{"
    Whitespace@204..209 "\n    "
    FN@209..267
      FnKeyword@209..211 "fn"
      Whitespace@211..212 " "
      Ident@212..219 "convert"
      PARAM_LIST@219..233
        LParen@219..220 "("
        PARAM@220..231
          Ident@220..224 "self"
          Colon@224..225 ":"
          Whitespace@225..226 " "
          TYPE_TAPP@226..231
            PATH@226..231
              Ident@226..231 "Token"
        RParen@231..232 ")"
        Whitespace@232..233 " "
      Arrow@233..235 "->"
      Whitespace@235..236 " "
      TYPE_STRING@236..243
        StringKeyword@236..242 "string"
        Whitespace@242..243 " "
      BLOCK@243..267
        LBrace@243..244 "{"
        Whitespace@244..253 "\n        "
        EXPR_STR@253..265
          Str@253..260 "\"seven\""
          Whitespace@260..265 "\n    "
        RBrace@265..266 "}"
        Whitespace@266..267 "\n"
    RBrace@267..268 "}"
    Whitespace@268..270 "\n\n"
  FN@270..342
    FnKeyword@270..272 "fn"
    Whitespace@272..273 " "
    Ident@273..283 "convert_to"
    GENERIC_LIST@283..301
      LBracket@283..284 "["
      GENERIC@284..285
        Ident@284..285 "T"
      Comma@285..286 ","
      Whitespace@286..287 " "
      GENERIC@287..300
        Ident@287..288 "V"
        Colon@288..289 ":"
        Whitespace@289..290 " "
        TRAIT_SET@290..300
          TYPE_TAPP@290..300
            PATH@290..297
              Ident@290..297 "Convert"
            TYPE_PARAM_LIST@297..300
              LBracket@297..298 "["
              TYPE_TAPP@298..299
                PATH@298..299
                  Ident@298..299 "T"
              RBracket@299..300 "]"
      RBracket@300..301 "]"
    PARAM_LIST@301..312
      LParen@301..302 "("
      PARAM@302..310
        Ident@302..307 "value"
        Colon@307..308 ":"
        Whitespace@308..309 " "
        TYPE_TAPP@309..310
          PATH@309..310
            Ident@309..310 "V"
      RParen@310..311 ")"
      Whitespace@311..312 " "
    Arrow@312..314 "->"
    Whitespace@314..315 " "
    TYPE_TAPP@315..317
      PATH@315..317
        Ident@315..316 "T"
        Whitespace@316..317 " "
    BLOCK@317..342
      LBrace@317..318 "{"
      Whitespace@318..323 "\n    "
      EXPR_CALL@323..339
        EXPR_BINARY@323..336
          EXPR_IDENT@323..328
            PATH@323..328
              Ident@323..328 "value"
          Dot@328..329 "."
          EXPR_IDENT@329..336
            PATH@329..336
              Ident@329..336 "convert"
        ARG_LIST@336..339
          LParen@336..337 "("
          RParen@337..338 ")"
          Whitespace@338..339 "\n"
      RBrace@339..340 "}"
      Whitespace@340..342 "\n\n"
  TRAIT@342..400
    TraitKeyword@342..347 "trait"
    Whitespace@347..348 " "
    Ident@348..354 "Marker"
    GENERIC_LIST@354..358
      LBracket@354..355 "["
      GENERIC@355..356
        Ident@355..356 "T"
      RBracket@356..357 "]"
      Whitespace@357..358 " "
    LBrace@358..359 "{"
    Whitespace@359..364 "\n    "
    TRAIT_METHOD_SIG_LIST@364..400
      TRAIT_METHOD_SIG@364..397
        FnKeyword@364..366 "fn"
        Whitespace@366..367 " "
        Ident@367..373 "marker"
        PARAM_LIST@373..386
          LParen@373..374 "("
          PARAM@374..384
            Ident@374..378 "self"
            Colon@378..379 ":"
            Whitespace@379..380 " "
            TYPE_TAPP@380..384
              PATH@380..384
                Ident@380..384 "Self"
          RParen@384..385 ")"
          Whitespace@385..386 " "
        Arrow@386..388 "->"
        Whitespace@388..389 " "
        TYPE_STRING@389..395
          StringKeyword@389..395 "string"
        Semi@395..396 ";"
        Whitespace@396..397 "\n"
      RBrace@397..398 "}"
      Whitespace@398..400 "\n\n"
  STRUCT@400..415
    StructKeyword@400..406 "struct"
    Whitespace@406..407 " "
    Ident@407..410 "Any"
    Whitespace@410..411 " "
    LBrace@411..412 "{"
    STRUCT_FIELD_LIST@412..415
      RBrace@412..413 "}"
      Whitespace@413..415 "\n\n"
  IMPL@415..505
    ImplKeyword@415..419 "impl"
    GENERIC_LIST@419..423
      LBracket@419..420 "["
      GENERIC@420..421
        Ident@420..421 "T"
      RBracket@421..422 "]"
      Whitespace@422..423 " "
    TYPE_TAPP@423..432
      PATH@423..429
        Ident@423..429 "Marker"
      TYPE_PARAM_LIST@429..432
        LBracket@429..430 "["
        TYPE_TAPP@430..431
          PATH@430..431
            Ident@430..431 "T"
        RBracket@431..432 "]"
    ForKeyword@432..435 "for"
    Whitespace@435..436 " "
    TYPE_TAPP@436..440
      PATH@436..440
        Ident@436..439 "Any"
        Whitespace@439..440 " "
    LBrace@440..441 "{"
    Whitespace@441..446 "\n    "
    FN@446..502
      FnKeyword@446..448 "fn"
      Whitespace@448..449 " "
      Ident@449..455 "marker"
      PARAM_LIST@455..467
        LParen@455..456 "("
        PARAM@456..465
          Ident@456..460 "self"
          Colon@460..461 ":"
          Whitespace@461..462 " "
          TYPE_TAPP@462..465
            PATH@462..465
              Ident@462..465 "Any"
        RParen@465..466 ")"
        Whitespace@466..467 " "
      Arrow@467..469 "->"
      Whitespace@469..470 " "
      TYPE_STRING@470..477
        StringKeyword@470..476 "string"
        Whitespace@476..477 " "
      BLOCK@477..502
        LBrace@477..478 "{"
        Whitespace@478..487 "\n        "
        EXPR_STR@487..500
          Str@487..495 "\"marked\""
          Whitespace@495..500 "\n    "
        RBrace@500..501 "}"
        Whitespace@501..502 "\n"
    RBrace@502..503 "}"
    Whitespace@503..505 "\n\n"
  STRUCT@505..562
    StructKeyword@505..511 "struct"
    Whitespace@511..512 " "
    Ident@512..519 "Counter"
    Whitespace@519..520 " "
    LBrace@520..521 "{"
    Whitespace@521..526 "\n    "
    STRUCT_FIELD_LIST@526..562
      STRUCT_FIELD@526..543
        Ident@526..533 "current"
        Colon@533..534 ":"
        Whitespace@534..535 " "
        TYPE_TAPP@535..543
          PATH@535..538
            Ident@535..538 "Ref"
          TYPE_PARAM_LIST@538..543
            LBracket@538..539 "["
            TYPE_INT32@539..542
              I32Keyword@539..542 "i32"
            RBracket@542..543 "]"
      Comma@543..544 ","
      Whitespace@544..549 "\n    "
      STRUCT_FIELD@549..557
        Ident@549..552 "end"
        Colon@552..553 ":"
        Whitespace@553..554 " "
        TYPE_INT32@554..557
          I32Keyword@554..557 "i32"
      Comma@557..558 ","
      Whitespace@558..559 "\n"
      RBrace@559..560 "}"
      Whitespace@560..562 "\n\n"
  IMPL@562..679
    ImplKeyword@562..566 "impl"
    Whitespace@566..567 " "
    TYPE_TAPP@567..575
      PATH@567..575
        Ident@567..574 "Counter"
        Whitespace@574..575 " "
    LBrace@575..576 "{"
    Whitespace@576..581 "\n    "
    FN@581..676
      FnKeyword@581..583 "fn"
      Whitespace@583..584 " "
      Ident@584..587 "new"
      PARAM_LIST@587..610
        LParen@587..588 "("
        PARAM@588..600
          Ident@588..593 "start"
          Colon@593..594 ":"
          Whitespace@594..595 " "
          TYPE_INT32@595..598
            I32Keyword@595..598 "i32"
          Comma@598..599 ","
          Whitespace@599..600 " "
        PARAM@600..608
          Ident@600..603 "end"
          Colon@603..604 ":"
          Whitespace@604..605 " "
          TYPE_INT32@605..608
            I32Keyword@605..608 "i32"
        RParen@608..609 ")"
        Whitespace@609..610 " "
      Arrow@610..612 "->"
      Whitespace@612..613 " "
      TYPE_TAPP@613..618
        PATH@613..618
          Ident@613..617 "Self"
          Whitespace@617..618 " "
      BLOCK@618..676
        LBrace@618..619 "{"
        Whitespace@619..628 "\n        "
        EXPR_STRUCT_LITERAL@628..674
          PATH@628..636
            Ident@628..635 "Counter"
            Whitespace@635..636 " "
          STRUCT_LITERAL_FIELD_LIST@636..674
            LBrace@636..637 "{"
            Whitespace@637..638 " "
            STRUCT_LITERAL_FIELD@638..662
              Ident@638..645 "current"
              Colon@645..646 ":"
              Whitespace@646..647 " "
              EXPR_CALL@647..662
                EXPR_IDENT@647..655
                  PATH@647..655
                    Ident@647..650 "Ref"
                    ColonColon@650..652 "::"
                    Ident@652..655 "new"
                ARG_LIST@655..662
                  LParen@655..656 "("
                  ARG@656..661
                    EXPR_IDENT@656..661
                      PATH@656..661
                        Ident@656..661 "start"
                  RParen@661..662 ")"
            Comma@662..663 ","
            Whitespace@663..664 " "
            STRUCT_LITERAL_FIELD@664..668
              Ident@664..667 "end"
              Whitespace@667..668 " "
            RBrace@668..669 "}"
            Whitespace@669..674 "\n    "
        RBrace@674..675 "}"
        Whitespace@675..676 "\n"
    RBrace@676..677 "}"
    Whitespace@677..679 "\n\n"
  IMPL@679..982
    ImplKeyword@679..683 "impl"
    Whitespace@683..684 " "
    TYPE_TAPP@684..693
      PATH@684..693
        Ident@684..692 "Iterator"
        Whitespace@692..693 " "
    ForKeyword@693..696 "for"
    Whitespace@696..697 " "
    TYPE_TAPP@697..705
      PATH@697..705
        Ident@697..704 "Counter"
        Whitespace@704..705 " "
    LBrace@705..706 "{"
    Whitespace@706..711 "\n    "
    IMPL_ASSOCIATED_TYPE@711..733
      TypeKeyword@711..715 "type"
      Whitespace@715..716 " "
      Ident@716..720 "Item"
      Whitespace@720..721 " "
      Eq@721..722 "="
      Whitespace@722..723 " "
      TYPE_INT32@723..726
        I32Keyword@723..726 "i32"
      Semi@726..727 ";"
      Whitespace@727..733 "\n\n    "
    FN@733..979
      FnKeyword@733..735 "fn"
      Whitespace@735..736 " "
      Ident@736..740 "next"
      PARAM_LIST@740..753
        LParen@740..741 "("
        PARAM@741..751
          Ident@741..745 "self"
          Colon@745..746 ":"
          Whitespace@746..747 " "
          TYPE_TAPP@747..751
            PATH@747..751
              Ident@747..751 "Self"
        RParen@751..752 ")"
        Whitespace@752..753 " "
      Arrow@753..755 "->"
      Whitespace@755..756 " "
      TYPE_TAPP@756..768
        PATH@756..762
          Ident@756..762 "Option"
        TYPE_PARAM_LIST@762..768
          LBracket@762..763 "["
          TYPE_INT32@763..766
            I32Keyword@763..766 "i32"
          RBracket@766..767 "]"
          Whitespace@767..768 " "
      BLOCK@768..979
        LBrace@768..769 "{"
        Whitespace@769..778 "\n        "
        STMT_LET@778..820
          LetKeyword@778..781 "let"
          Whitespace@781..782 " "
          PATTERN_VARIABLE@782..790
            Ident@782..789 "current"
            Whitespace@789..790 " "
          Eq@790..791 "="
          Whitespace@791..792 " "
          EXPR_CALL@792..810
            EXPR_BINARY@792..808
              EXPR_BINARY@792..804
                EXPR_IDENT@792..796
                  PATH@792..796
                    Ident@792..796 "self"
                Dot@796..797 "."
                EXPR_IDENT@797..804
                  PATH@797..804
                    Ident@797..804 "current"
              Dot@804..805 "."
              EXPR_IDENT@805..808
                PATH@805..808
                  Ident@805..808 "get"
            ARG_LIST@808..810
              LParen@808..809 "("
              RParen@809..810 ")"
          Semi@810..811 ";"
          Whitespace@811..820 "\n        "
        EXPR_IF@820..977
          IfKeyword@820..822 "if"
          Whitespace@822..823 " "
          EXPR_IF_COND@823..842
            EXPR_BINARY@823..842
              EXPR_IDENT@823..831
                PATH@823..831
                  Ident@823..830 "current"
                  Whitespace@830..831 " "
              Less@831..832 "<"
              Whitespace@832..833 " "
              EXPR_BINARY@833..842
                EXPR_IDENT@833..837
                  PATH@833..837
                    Ident@833..837 "self"
                Dot@837..838 "."
                EXPR_IDENT@838..842
                  PATH@838..842
                    Ident@838..841 "end"
                    Whitespace@841..842 " "
          EXPR_IF_THEN@842..931
            BLOCK@842..931
              LBrace@842..843 "{"
              Whitespace@843..856 "\n            "
              STMT_EXPR@856..899
                EXPR_CALL@856..885
                  EXPR_BINARY@856..872
                    EXPR_BINARY@856..868
                      EXPR_IDENT@856..860
                        PATH@856..860
                          Ident@856..860 "self"
                      Dot@860..861 "."
                      EXPR_IDENT@861..868
                        PATH@861..868
                          Ident@861..868 "current"
                    Dot@868..869 "."
                    EXPR_IDENT@869..872
                      PATH@869..872
                        Ident@869..872 "set"
                  ARG_LIST@872..885
                    LParen@872..873 "("
                    ARG@873..884
                      EXPR_BINARY@873..884
                        EXPR_IDENT@873..881
                          PATH@873..881
                            Ident@873..880 "current"
                            Whitespace@880..881 " "
                        Plus@881..882 "+"
                        Whitespace@882..883 " "
                        EXPR_INT@883..884
                          Int@883..884 "1"
                    RParen@884..885 ")"
                Semi@885..886 ";"
                Whitespace@886..899 "\n            "
              EXPR_CALL@899..929
                EXPR_IDENT@899..911
                  PATH@899..911
                    Ident@899..905 "Option"
                    ColonColon@905..907 "::"
                    Ident@907..911 "Some"
                ARG_LIST@911..929
                  LParen@911..912 "("
                  ARG@912..919
                    EXPR_IDENT@912..919
                      PATH@912..919
                        Ident@912..919 "current"
                  RParen@919..920 ")"
                  Whitespace@920..929 "\n        "
              RBrace@929..930 "}"
              Whitespace@930..931 " "
          ElseKeyword@931..935 "else"
          Whitespace@935..936 " "
          EXPR_IF_ELSE@936..977
            BLOCK@936..977
              LBrace@936..937 "{"
              Whitespace@937..950 "\n            "
              EXPR_IDENT@950..971
                PATH@950..971
                  Ident@950..956 "Option"
                  ColonColon@956..958 "::"
                  Ident@958..962 "None"
                  Whitespace@962..971 "\n        "
              RBrace@971..972 "}"
              Whitespace@972..977 "\n    "
        RBrace@977..978 "}"
        Whitespace@978..979 "\n"
    RBrace@979..980 "}"
    Whitespace@980..982 "\n\n"
  FN@982..1884
    FnKeyword@982..984 "fn"
    Whitespace@984..985 " "
    Ident@985..989 "main"
    PARAM_LIST@989..992
      LParen@989..990 "("
      RParen@990..991 ")"
      Whitespace@991..992 " "
    Arrow@992..994 "->"
    Whitespace@994..995 " "
    TYPE_TUPLE@995..998
      TYPE_LIST@995..998
        LParen@995..996 "("
        RParen@996..997 ")"
        Whitespace@997..998 " "
    BLOCK@998..1884
      LBrace@998..999 "{"
      Whitespace@999..1004 "\n    "
      STMT_EXPR@1004..1052
        EXPR_CALL@1004..1046
          EXPR_IDENT@1004..1011
            PATH@1004..1011
              Ident@1004..1011 "println"
          ARG_LIST@1011..1046
            LParen@1011..1012 "("
            ARG@1012..1045
              EXPR_CALL@1012..1045
                EXPR_IDENT@1012..1035
                  TYPE_TAPP@1012..1026
                    PATH@1012..1019
                      Ident@1012..1019 "Convert"
                    ColonColon@1019..1021 "::"
                    TYPE_PARAM_LIST@1021..1026
                      LBracket@1021..1022 "["
                      TYPE_INT32@1022..1025
                        I32Keyword@1022..1025 "i32"
                      RBracket@1025..1026 "]"
                  ColonColon@1026..1028 "::"
                  PATH@1028..1035
                    Ident@1028..1035 "convert"
                ARG_LIST@1035..1045
                  LParen@1035..1036 "("
                  ARG@1036..1044
                    EXPR_STRUCT_LITERAL@1036..1044
                      PATH@1036..1042
                        Ident@1036..1041 "Token"
                        Whitespace@1041..1042 " "
                      STRUCT_LITERAL_FIELD_LIST@1042..1044
                        LBrace@1042..1043 "{"
                        RBrace@1043..1044 "}"
                  RParen@1044..1045 ")"
            RParen@1045..1046 ")"
        Semi@1046..1047 ";"
        Whitespace@1047..1052 "\n    "
      STMT_EXPR@1052..1103
        EXPR_CALL@1052..1097
          EXPR_IDENT@1052..1059
            PATH@1052..1059
              Ident@1052..1059 "println"
          ARG_LIST@1059..1097
            LParen@1059..1060 "("
            ARG@1060..1096
              EXPR_CALL@1060..1096
                EXPR_IDENT@1060..1086
                  TYPE_TAPP@1060..1077
                    PATH@1060..1067
                      Ident@1060..1067 "Convert"
                    ColonColon@1067..1069 "::"
                    TYPE_PARAM_LIST@1069..1077
                      LBracket@1069..1070 "["
                      TYPE_STRING@1070..1076
                        StringKeyword@1070..1076 "string"
                      RBracket@1076..1077 "]"
                  ColonColon@1077..1079 "::"
                  PATH@1079..1086
                    Ident@1079..1086 "convert"
                ARG_LIST@1086..1096
                  LParen@1086..1087 "("
                  ARG@1087..1095
                    EXPR_STRUCT_LITERAL@1087..1095
                      PATH@1087..1093
                        Ident@1087..1092 "Token"
                        Whitespace@1092..1093 " "
                      STRUCT_LITERAL_FIELD_LIST@1093..1095
                        LBrace@1093..1094 "{"
                        RBrace@1094..1095 "}"
                  RParen@1095..1096 ")"
            RParen@1096..1097 ")"
        Semi@1097..1098 ";"
        Whitespace@1098..1103 "\n    "
      STMT_LET@1103..1150
        LetKeyword@1103..1106 "let"
        Whitespace@1106..1107 " "
        PATTERN_VARIABLE@1107..1116
          Ident@1107..1116 "converted"
        Colon@1116..1117 ":"
        Whitespace@1117..1118 " "
        TYPE_INT32@1118..1122
          I32Keyword@1118..1121 "i32"
          Whitespace@1121..1122 " "
        Eq@1122..1123 "="
        Whitespace@1123..1124 " "
        EXPR_CALL@1124..1144
          EXPR_IDENT@1124..1134
            PATH@1124..1134
              Ident@1124..1134 "convert_to"
          ARG_LIST@1134..1144
            LParen@1134..1135 "("
            ARG@1135..1143
              EXPR_STRUCT_LITERAL@1135..1143
                PATH@1135..1141
                  Ident@1135..1140 "Token"
                  Whitespace@1140..1141 " "
                STRUCT_LITERAL_FIELD_LIST@1141..1143
                  LBrace@1141..1142 "{"
                  RBrace@1142..1143 "}"
            RParen@1143..1144 ")"
        Semi@1144..1145 ";"
        Whitespace@1145..1150 "\n    "
      STMT_EXPR@1150..1174
        EXPR_CALL@1150..1168
          EXPR_IDENT@1150..1157
            PATH@1150..1157
              Ident@1150..1157 "println"
          ARG_LIST@1157..1168
            LParen@1157..1158 "("
            ARG@1158..1167
              EXPR_IDENT@1158..1167
                PATH@1158..1167
                  Ident@1158..1167 "converted"
            RParen@1167..1168 ")"
        Semi@1168..1169 ";"
        Whitespace@1169..1174 "\n    "
      STMT_EXPR@1174..1218
        EXPR_CALL@1174..1212
          EXPR_IDENT@1174..1181
            PATH@1174..1181
              Ident@1174..1181 "println"
          ARG_LIST@1181..1212
            LParen@1181..1182 "("
            ARG@1182..1211
              EXPR_CALL@1182..1211
                EXPR_IDENT@1182..1203
                  TYPE_TAPP@1182..1195
                    PATH@1182..1188
                      Ident@1182..1188 "Marker"
                    ColonColon@1188..1190 "::"
                    TYPE_PARAM_LIST@1190..1195
                      LBracket@1190..1191 "["
                      TYPE_INT32@1191..1194
                        I32Keyword@1191..1194 "i32"
                      RBracket@1194..1195 "]"
                  ColonColon@1195..1197 "::"
                  PATH@1197..1203
                    Ident@1197..1203 "marker"
                ARG_LIST@1203..1211
                  LParen@1203..1204 "("
                  ARG@1204..1210
                    EXPR_STRUCT_LITERAL@1204..1210
                      PATH@1204..1208
                        Ident@1204..1207 "Any"
                        Whitespace@1207..1208 " "
                      STRUCT_LITERAL_FIELD_LIST@1208..1210
                        LBrace@1208..1209 "{"
                        RBrace@1209..1210 "}"
                  RParen@1210..1211 ")"
            RParen@1211..1212 ")"
        Semi@1212..1213 ";"
        Whitespace@1213..1218 "\n    "
      STMT_EXPR@1218..1265
        EXPR_CALL@1218..1259
          EXPR_IDENT@1218..1225
            PATH@1218..1225
              Ident@1218..1225 "println"
          ARG_LIST@1225..1259
            LParen@1225..1226 "("
            ARG@1226..1258
              EXPR_CALL@1226..1258
                EXPR_IDENT@1226..1250
                  TYPE_TAPP@1226..1242
                    PATH@1226..1232
                      Ident@1226..1232 "Marker"
                    ColonColon@1232..1234 "::"
                    TYPE_PARAM_LIST@1234..1242
                      LBracket@1234..1235 "["
                      TYPE_STRING@1235..1241
                        StringKeyword@1235..1241 "string"
                      RBracket@1241..1242 "]"
                  ColonColon@1242..1244 "::"
                  PATH@1244..1250
                    Ident@1244..1250 "marker"
                ARG_LIST@1250..1258
                  LParen@1250..1251 "("
                  ARG@1251..1257
                    EXPR_STRUCT_LITERAL@1251..1257
                      PATH@1251..1255
                        Ident@1251..1254 "Any"
                        Whitespace@1254..1255 " "
                      STRUCT_LITERAL_FIELD_LIST@1255..1257
                        LBrace@1255..1256 "{"
                        RBrace@1256..1257 "}"
                  RParen@1257..1258 ")"
            RParen@1258..1259 ")"
        Semi@1259..1260 ";"
        Whitespace@1260..1265 "\n    "
      STMT_EXPR@1265..1314
        EXPR_CALL@1265..1308
          EXPR_IDENT@1265..1272
            PATH@1265..1272
              Ident@1265..1272 "println"
          ARG_LIST@1272..1308
            LParen@1272..1273 "("
            ARG@1273..1307
              EXPR_CALL@1273..1307
                EXPR_IDENT@1273..1299
                  TYPE_TAPP@1273..1291
                    PATH@1273..1279
                      Ident@1273..1279 "Marker"
                    ColonColon@1279..1281 "::"
                    TYPE_PARAM_LIST@1281..1291
                      LBracket@1281..1282 "["
                      TYPE_TAPP@1282..1290
                        PATH@1282..1285
                          Ident@1282..1285 "Vec"
                        TYPE_PARAM_LIST@1285..1290
                          LBracket@1285..1286 "["
                          TYPE_INT32@1286..1289
                            I32Keyword@1286..1289 "i32"
                          RBracket@1289..1290 "]"
                      RBracket@1290..1291 "]"
                  ColonColon@1291..1293 "::"
                  PATH@1293..1299
                    Ident@1293..1299 "marker"
                ARG_LIST@1299..1307
                  LParen@1299..1300 "("
                  ARG@1300..1306
                    EXPR_STRUCT_LITERAL@1300..1306
                      PATH@1300..1304
                        Ident@1300..1303 "Any"
                        Whitespace@1303..1304 " "
                      STRUCT_LITERAL_FIELD_LIST@1304..1306
                        LBrace@1304..1305 "{"
                        RBrace@1305..1306 "}"
                  RParen@1306..1307 ")"
            RParen@1307..1308 ")"
        Semi@1308..1309 ";"
        Whitespace@1309..1314 "\n    "
      STMT_LET@1314..1386
        LetKeyword@1314..1317 "let"
        Whitespace@1317..1318 " "
        PATTERN_VARIABLE@1318..1325
          Ident@1318..1324 "mapped"
          Whitespace@1324..1325 " "
        Eq@1325..1326 "="
        Whitespace@1326..1327 " "
        EXPR_CALL@1327..1380
          EXPR_IDENT@1327..1336
            PATH@1327..1336
              Ident@1327..1331 "iter"
              ColonColon@1331..1333 "::"
              Ident@1333..1336 "map"
          ARG_LIST@1336..1380
            LParen@1336..1337 "("
            ARG@1337..1357
              EXPR_CALL@1337..1355
                EXPR_IDENT@1337..1349
                  PATH@1337..1349
                    Ident@1337..1344 "Counter"
                    ColonColon@1344..1346 "::"
                    Ident@1346..1349 "new"
                ARG_LIST@1349..1355
                  LParen@1349..1350 "("
                  ARG@1350..1353
                    EXPR_INT@1350..1351
                      Int@1350..1351 "0"
                    Comma@1351..1352 ","
                    Whitespace@1352..1353 " "
                  ARG@1353..1354
                    EXPR_INT@1353..1354
                      Int@1353..1354 "8"
                  RParen@1354..1355 ")"
              Comma@1355..1356 ","
              Whitespace@1356..1357 " "
            ARG@1357..1379
              EXPR_CLOSURE@1357..1379
                CLOSURE_PARAM_LIST@1357..1370
                  Pipe@1357..1358 "|"
                  CLOSURE_PARAM@1358..1368
                    Ident@1358..1363 "value"
                    Colon@1363..1364 ":"
                    Whitespace@1364..1365 " "
                    TYPE_INT32@1365..1368
                      I32Keyword@1365..1368 "i32"
                  Pipe@1368..1369 "|"
                  Whitespace@1369..1370 " "
                EXPR_CLOSURE_BODY@1370..1379
                  EXPR_BINARY@1370..1379
                    EXPR_IDENT@1370..1376
                      PATH@1370..1376
                        Ident@1370..1375 "value"
                        Whitespace@1375..1376 " "
                    Star@1376..1377 "*"
                    Whitespace@1377..1378 " "
                    EXPR_INT@1378..1379
                      Int@1378..1379 "2"
            RParen@1379..1380 ")"
        Semi@1380..1381 ";"
        Whitespace@1381..1386 "\n    "
      STMT_LET@1386..1451
        LetKeyword@1386..1389 "let"
        Whitespace@1389..1390 " "
        PATTERN_VARIABLE@1390..1399
          Ident@1390..1398 "filtered"
          Whitespace@1398..1399 " "
        Eq@1399..1400 "="
        Whitespace@1400..1401 " "
        EXPR_CALL@1401..1445
          EXPR_IDENT@1401..1413
            PATH@1401..1413
              Ident@1401..1405 "iter"
              ColonColon@1405..1407 "::"
              Ident@1407..1413 "filter"
          ARG_LIST@1413..1445
            LParen@1413..1414 "("
            ARG@1414..1422
              EXPR_IDENT@1414..1420
                PATH@1414..1420
                  Ident@1414..1420 "mapped"
              Comma@1420..1421 ","
              Whitespace@1421..1422 " "
            ARG@1422..1444
              EXPR_CLOSURE@1422..1444
                CLOSURE_PARAM_LIST@1422..1435
                  Pipe@1422..1423 "|"
                  CLOSURE_PARAM@1423..1433
                    Ident@1423..1428 "value"
                    Colon@1428..1429 ":"
                    Whitespace@1429..1430 " "
                    TYPE_INT32@1430..1433
                      I32Keyword@1430..1433 "i32"
                  Pipe@1433..1434 "|"
                  Whitespace@1434..1435 " "
                EXPR_CLOSURE_BODY@1435..1444
                  EXPR_BINARY@1435..1444
                    EXPR_IDENT@1435..1441
                      PATH@1435..1441
                        Ident@1435..1440 "value"
                        Whitespace@1440..1441 " "
                    Greater@1441..1442 ">"
                    Whitespace@1442..1443 " "
                    EXPR_INT@1443..1444
                      Int@1443..1444 "4"
            RParen@1444..1445 ")"
        Semi@1445..1446 ";"
        Whitespace@1446..1451 "\n    "
      STMT_LET@1451..1494
        LetKeyword@1451..1454 "let"
        Whitespace@1454..1455 " "
        PATTERN_VARIABLE@1455..1463
          Ident@1455..1462 "limited"
          Whitespace@1462..1463 " "
        Eq@1463..1464 "="
        Whitespace@1464..1465 " "
        EXPR_CALL@1465..1488
          EXPR_IDENT@1465..1475
            PATH@1465..1475
              Ident@1465..1469 "iter"
              ColonColon@1469..1471 "::"
              Ident@1471..1475 "take"
          ARG_LIST@1475..1488
            LParen@1475..1476 "("
            ARG@1476..1486
              EXPR_IDENT@1476..1484
                PATH@1476..1484
                  Ident@1476..1484 "filtered"
              Comma@1484..1485 ","
              Whitespace@1485..1486 " "
            ARG@1486..1487
              EXPR_INT@1486..1487
                Int@1486..1487 "3"
            RParen@1487..1488 ")"
        Semi@1488..1489 ";"
        Whitespace@1489..1494 "\n    "
      STMT_EXPR@1494..1551
        EXPR_FOR@1494..1551
          ForKeyword@1494..1497 "for"
          Whitespace@1497..1498 " "
          PATTERN_VARIABLE@1498..1504
            Ident@1498..1503 "value"
            Whitespace@1503..1504 " "
          InKeyword@1504..1506 "in"
          Whitespace@1506..1507 " "
          EXPR_IDENT@1507..1515
            PATH@1507..1515
              Ident@1507..1514 "limited"
              Whitespace@1514..1515 " "
          BLOCK@1515..1551
            LBrace@1515..1516 "{"
            Whitespace@1516..1525 "\n        "
            STMT_EXPR@1525..1545
              EXPR_CALL@1525..1539
                EXPR_IDENT@1525..1532
                  PATH@1525..1532
                    Ident@1525..1532 "println"
                ARG_LIST@1532..1539
                  LParen@1532..1533 "("
                  ARG@1533..1538
                    EXPR_IDENT@1533..1538
                      PATH@1533..1538
                        Ident@1533..1538 "value"
                  RParen@1538..1539 ")"
              Semi@1539..1540 ";"
              Whitespace@1540..1545 "\n    "
            RBrace@1545..1546 "}"
            Whitespace@1546..1551 "\n    "
      STMT_LET@1551..1692
        LetKeyword@1551..1554 "let"
        Whitespace@1554..1555 " "
        PATTERN_VARIABLE@1555..1559
          Ident@1555..1558 "sum"
          Whitespace@1558..1559 " "
        Eq@1559..1560 "="
        Whitespace@1560..1561 " "
        EXPR_CALL@1561..1686
          EXPR_IDENT@1561..1571
            PATH@1561..1571
              Ident@1561..1565 "iter"
              ColonColon@1565..1567 "::"
              Ident@1567..1571 "fold"
          ARG_LIST@1571..1686
            LParen@1571..1572 "("
            Whitespace@1572..1581 "\n        "
            ARG@1581..1602
              EXPR_CALL@1581..1592
                EXPR_IDENT@1581..1586
                  PATH@1581..1586
                    Ident@1581..1586 "range"
                ARG_LIST@1586..1592
                  LParen@1586..1587 "("
                  ARG@1587..1590
                    EXPR_INT@1587..1588
                      Int@1587..1588 "1"
                    Comma@1588..1589 ","
                    Whitespace@1589..1590 " "
                  ARG@1590..1591
                    EXPR_INT@1590..1591
                      Int@1590..1591 "5"
                  RParen@1591..1592 ")"
              Comma@1592..1593 ","
              Whitespace@1593..1602 "\n        "
            ARG@1602..1613
              EXPR_INT@1602..1603
                Int@1602..1603 "0"
              Comma@1603..1604 ","
              Whitespace@1604..1613 "\n        "
            ARG@1613..1685
              EXPR_CLOSURE@1613..1679
                CLOSURE_PARAM_LIST@1613..1642
                  Pipe@1613..1614 "|"
                  CLOSURE_PARAM@1614..1626
                    Ident@1614..1619 "total"
                    Colon@1619..1620 ":"
                    Whitespace@1620..1621 " "
                    TYPE_INT@1621..1626
                      IsizeKeyword@1621..1626 "isize"
                  Comma@1626..1627 ","
                  Whitespace@1627..1628 " "
                  CLOSURE_PARAM@1628..1640
                    Ident@1628..1633 "value"
                    Colon@1633..1634 ":"
                    Whitespace@1634..1635 " "
                    TYPE_INT@1635..1640
                      IsizeKeyword@1635..1640 "isize"
                  Pipe@1640..1641 "|"
                  Whitespace@1641..1642 " "
                EXPR_CLOSURE_BODY@1642..1679
                  BLOCK@1642..1679
                    LBrace@1642..1643 "{"
                    Whitespace@1643..1656 "\n            "
                    EXPR_BINARY@1656..1678
                      EXPR_IDENT@1656..1662
                        PATH@1656..1662
                          Ident@1656..1661 "total"
                          Whitespace@1661..1662 " "
                      Plus@1662..1663 "+"
                      Whitespace@1663..1664 " "
                      EXPR_IDENT@1664..1678
                        PATH@1664..1678
                          Ident@1664..1669 "value"
                          Whitespace@1669..1678 "\n        "
                    RBrace@1678..1679 "}"
              Comma@1679..1680 ","
              Whitespace@1680..1685 "\n    "
            RParen@1685..1686 ")"
        Semi@1686..1687 ";"
        Whitespace@1687..1692 "\n    "
      STMT_EXPR@1692..1710
        EXPR_CALL@1692..1704
          EXPR_IDENT@1692..1699
            PATH@1692..1699
              Ident@1692..1699 "println"
          ARG_LIST@1699..1704
            LParen@1699..1700 "("
            ARG@1700..1703
              EXPR_IDENT@1700..1703
                PATH@1700..1703
                  Ident@1700..1703 "sum"
            RParen@1703..1704 ")"
        Semi@1704..1705 ";"
        Whitespace@1705..1710 "\n    "
      STMT_LET@1710..1833
        LetKeyword@1710..1713 "let"
        Whitespace@1713..1714 " "
        PATTERN_VARIABLE@1714..1719
          Ident@1714..1719 "texts"
        Colon@1719..1720 ":"
        Whitespace@1720..1721 " "
        TYPE_TAPP@1721..1733
          PATH@1721..1724
            Ident@1721..1724 "Vec"
          TYPE_PARAM_LIST@1724..1733
            LBracket@1724..1725 "["
            TYPE_STRING@1725..1731
              StringKeyword@1725..1731 "string"
            RBracket@1731..1732 "]"
            Whitespace@1732..1733 " "
        Eq@1733..1734 "="
        Whitespace@1734..1735 " "
        EXPR_CALL@1735..1827
          EXPR_IDENT@1735..1748
            PATH@1735..1748
              Ident@1735..1739 "iter"
              ColonColon@1739..1741 "::"
              Ident@1741..1748 "collect"
          ARG_LIST@1748..1827
            LParen@1748..1749 "("
            Whitespace@1749..1758 "\n        "
            ARG@1758..1826
              EXPR_CALL@1758..1820
                EXPR_IDENT@1758..1767
                  PATH@1758..1767
                    Ident@1758..1762 "iter"
                    ColonColon@1762..1764 "::"
                    Ident@1764..1767 "map"
                ARG_LIST@1767..1820
                  LParen@1767..1768 "("
                  ARG@1768..1781
                    EXPR_CALL@1768..1779
                      EXPR_IDENT@1768..1773
                        PATH@1768..1773
                          Ident@1768..1773 "range"
                      ARG_LIST@1773..1779
                        LParen@1773..1774 "("
                        ARG@1774..1777
                          EXPR_INT@1774..1775
                            Int@1774..1775 "1"
                          Comma@1775..1776 ","
                          Whitespace@1776..1777 " "
                        ARG@1777..1778
                          EXPR_INT@1777..1778
                            Int@1777..1778 "4"
                        RParen@1778..1779 ")"
                    Comma@1779..1780 ","
                    Whitespace@1780..1781 " "
                  ARG@1781..1819
                    EXPR_CLOSURE@1781..1819
                      CLOSURE_PARAM_LIST@1781..1796
                        Pipe@1781..1782 "|"
                        CLOSURE_PARAM@1782..1794
                          Ident@1782..1787 "value"
                          Colon@1787..1788 ":"
                          Whitespace@1788..1789 " "
                          TYPE_INT@1789..1794
                            IsizeKeyword@1789..1794 "isize"
                        Pipe@1794..1795 "|"
                        Whitespace@1795..1796 " "
                      EXPR_CLOSURE_BODY@1796..1819
                        EXPR_BINARY@1796..1819
                          EXPR_STR@1796..1800
                            Str@1796..1799 "\"v\""
                            Whitespace@1799..1800 " "
                          Plus@1800..1801 "+"
                          Whitespace@1801..1802 " "
                          EXPR_CALL@1802..1819
                            EXPR_BINARY@1802..1817
                              EXPR_IDENT@1802..1807
                                PATH@1802..1807
                                  Ident@1802..1807 "value"
                              Dot@1807..1808 "."
                              EXPR_IDENT@1808..1817
                                PATH@1808..1817
                                  Ident@1808..1817 "to_string"
                            ARG_LIST@1817..1819
                              LParen@1817..1818 "("
                              RParen@1818..1819 ")"
                  RParen@1819..1820 ")"
              Comma@1820..1821 ","
              Whitespace@1821..1826 "\n    "
            RParen@1826..1827 ")"
        Semi@1827..1828 ";"
        Whitespace@1828..1833 "\n    "
      EXPR_FOR@1833..1882
        ForKeyword@1833..1836 "for"
        Whitespace@1836..1837 " "
        PATTERN_VARIABLE@1837..1842
          Ident@1837..1841 "text"
          Whitespace@1841..1842 " "
        InKeyword@1842..1844 "in"
        Whitespace@1844..1845 " "
        EXPR_IDENT@1845..1851
          PATH@1845..1851
            Ident@1845..1850 "texts"
            Whitespace@1850..1851 " "
        BLOCK@1851..1882
          LBrace@1851..1852 "{"
          Whitespace@1852..1861 "\n        "
          STMT_EXPR@1861..1880
            EXPR_CALL@1861..1874
              EXPR_IDENT@1861..1868
                PATH@1861..1868
                  Ident@1861..1868 "println"
              ARG_LIST@1868..1874
                LParen@1868..1869 "("
                ARG@1869..1873
                  EXPR_IDENT@1869..1873
                    PATH@1869..1873
                      Ident@1869..1873 "text"
                RParen@1873..1874 ")"
            Semi@1874..1875 ";"
            Whitespace@1875..1880 "\n    "
          RBrace@1880..1881 "}"
          Whitespace@1881..1882 "\n"
      RBrace@1882..1883 "}"
      Whitespace@1883..1884 "\n"