FILE@0..472
  EXTERN@0..39
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    Str@7..11 "\"go\""
    Whitespace@11..12 " "
    Str@12..16 "\"io\""
    Whitespace@16..17 " "
    Str@17..25 "\"Reader\""
    Whitespace@25..26 " "
    TypeKeyword@26..30 "type"
    Whitespace@30..31 " "
    Ident@31..37 "Reader"
    Whitespace@37..39 "\n\n"
  EXTERN@39..134
    ATTRIBUTE_LIST@39..56
      ATTRIBUTE@39..56
        Pound@39..40 "#"
        LBracket@40..41 "["
        Ident@41..54 "go_error_last"
        RBracket@54..55 "]"
        Whitespace@55..56 "\n"
    ExternKeyword@56..62 "extern"
    Whitespace@62..63 " "
    Str@63..67 "\"go\""
    Whitespace@67..68 " "
    Str@68..72 "\"os\""
    Whitespace@72..73 " "
    Str@73..79 "\"Open\""
    Whitespace@79..80 " "
    Ident@80..91 "open_reader"
    PARAM_LIST@91..106
      LParen@91..92 "("
      PARAM@92..104
        Ident@92..96 "path"
        Colon@96..97 ":"
        Whitespace@97..98 " "
        TYPE_STRING@98..104
          StringKeyword@98..104 "string"
      RParen@104..105 ")"
      Whitespace@105..106 " "
    Arrow@106..108 "->"
    Whitespace@108..109 " "
    TYPE_TAPP@109..134
      PATH@109..115
        Ident@109..115 "Result"
      TYPE_PARAM_LIST@115..134
        LBracket@115..116 "["
        TYPE_TAPP@116..122
          PATH@116..122
            Ident@116..122 "Reader"
        Comma@122..123 ","
        Whitespace@123..124 " "
        TYPE_TAPP@124..131
          PATH@124..131
            Ident@124..131 "GoError"
        RBracket@131..132 "]"
        Whitespace@132..134 "\n\n"
  EXTERN@134..218
    ExternKeyword@134..140 "extern"
    Whitespace@140..141 " "
    Str@141..145 "\"go\""
    Whitespace@145..146 " "
    Str@146..151 "\"fmt\""
    Whitespace@151..152 " "
    Str@152..161 "\"Sprintf\""
    Whitespace@161..162 " "
    Ident@162..175 "format_reader"
    PARAM_LIST@175..207
      LParen@175..176 "("
      PARAM@176..192
        Ident@176..182 "format"
        Colon@182..183 ":"
        Whitespace@183..184 " "
        TYPE_STRING@184..190
          StringKeyword@184..190 "string"
        Comma@190..191 ","
        Whitespace@191..192 " "
      PARAM@192..205
        Ident@192..197 "value"
        Colon@197..198 ":"
        Whitespace@198..199 " "
        TYPE_TAPP@199..205
          PATH@199..205
            Ident@199..205 "Reader"
      RParen@205..206 ")"
      Whitespace@206..207 " "
    Arrow@207..209 "->"
    Whitespace@209..210 " "
    TYPE_STRING@210..218
      StringKeyword@210..216 "string"
      Whitespace@216..218 "\n\n"
  FN@218..413
    FnKeyword@218..220 "fn"
    Whitespace@220..221 " "
    Ident@221..229 "describe"
    PARAM_LIST@229..244
      LParen@229..230 "("
      PARAM@230..242
        Ident@230..234 "path"
        Colon@234..235 ":"
        Whitespace@235..236 " "
        TYPE_STRING@236..242
          StringKeyword@236..242 "string"
      RParen@242..243 ")"
      Whitespace@243..244 " "
    Arrow@244..246 "->"
    Whitespace@246..247 " "
    TYPE_STRING@247..254
      StringKeyword@247..253 "string"
      Whitespace@253..254 " "
    BLOCK@254..413
      LBrace@254..255 "{"
      Whitespace@255..260 "\n    "
      EXPR_MATCH@260..410
        MatchKeyword@260..265 "match"
        Whitespace@265..266 " "
        EXPR_CALL@266..284
          EXPR_IDENT@266..277
            PATH@266..277
              Ident@266..277 "open_reader"
          ARG_LIST@277..284
            LParen@277..278 "("
            ARG@278..282
              EXPR_IDENT@278..282
                PATH@278..282
                  Ident@278..282 "path"
            RParen@282..283 ")"
            Whitespace@283..284 " "
        MATCH_ARM_LIST@284..410
          LBrace@284..285 "{"
          Whitespace@285..294 "\n        "
          MATCH_ARM@294..348
            PATTERN_CONSTR@294..313
              PATH@294..304
                Ident@294..300 "Result"
                ColonColon@300..302 "::"
                Ident@302..304 "Ok"
              LParen@304..305 "("
              PATTERN_VARIABLE@305..311
                Ident@305..311 "reader"
              RParen@311..312 ")"
              Whitespace@312..313 " "
            FatArrow@313..315 "=>"
            Whitespace@315..316 " "
            EXPR_CALL@316..348
              EXPR_IDENT@316..329
                PATH@316..329
                  Ident@316..329 "format_reader"
              ARG_LIST@329..348
                LParen@329..330 "("
                ARG@330..341
                  EXPR_STR@330..339
                    Str@330..339 "\"type=%T\""
                  Comma@339..340 ","
                  Whitespace@340..341 " "
                ARG@341..347
                  EXPR_IDENT@341..347
                    PATH@341..347
                      Ident@341..347 "reader"
                RParen@347..348 ")"
          Comma@348..349 ","
          Whitespace@349..358 "\n        "
          MATCH_ARM@358..402
            PATTERN_CONSTR@358..375
              PATH@358..369
                Ident@358..364 "Result"
                ColonColon@364..366 "::"
                Ident@366..369 "Err"
              LParen@369..370 "("
              PATTERN_VARIABLE@370..373
                Ident@370..373 "err"
              RParen@373..374 ")"
              Whitespace@374..375 " "
            FatArrow@375..377 "=>"
            Whitespace@377..378 " "
            EXPR_BINARY@378..402
              EXPR_STR@378..385
                Str@378..384 "\"err=\""
                Whitespace@384..385 " "
              Plus@385..386 "+"
              Whitespace@386..387 " "
              EXPR_CALL@387..402
                EXPR_BINARY@387..400
                  EXPR_IDENT@387..390
                    PATH@387..390
                      Ident@387..390 "err"
                  Dot@390..391 "."
                  EXPR_IDENT@391..400
                    PATH@391..400
                      Ident@391..400 "to_string"
                ARG_LIST@400..402
                  LParen@400..401 "("
                  RParen@401..402 ")"
          Comma@402..403 ","
          Whitespace@403..408 "\n    "
          RBrace@408..409 "}"
          Whitespace@409..410 "\n"
      RBrace@410..411 "}"
      Whitespace@411..413 "\n\n"
  FN@413..472
    FnKeyword@413..415 "fn"
    Whitespace@415..416 " "
    Ident@416..420 "main"
    PARAM_LIST@420..423
      LParen@420..421 "("
      RParen@421..422 ")"
      Whitespace@422..423 " "
    Arrow@423..425 "->"
    Whitespace@425..426 " "
    TYPE_UNIT@426..431
      UnitKeyword@426..430 "unit"
      Whitespace@430..431 " "
    BLOCK@431..472
      LBrace@431..432 "{"
      Whitespace@432..437 "\n    "
      STMT_EXPR@437..470
        EXPR_CALL@437..468
          EXPR_IDENT@437..444
            PATH@437..444
              Ident@437..444 "println"
          ARG_LIST@444..468
            LParen@444..445 "("
            ARG@445..467
              EXPR_CALL@445..467
                EXPR_IDENT@445..453
                  PATH@445..453
                    Ident@445..453 "describe"
                ARG_LIST@453..467
                  LParen@453..454 "("
                  ARG@454..466
                    EXPR_STR@454..466
                      Str@454..466 "\"/etc/hosts\""
                  RParen@466..467 ")"
            RParen@467..468 ")"
        Semi@468..469 ";"
        Whitespace@469..470 "\n"
      RBrace@470..471 "}"
      Whitespace@471..472 "\n"