FILE@0..186
  STRUCT@0..13
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..8 "S"
    Whitespace@8..9 " "
    LBrace@9..10 "{"
    STRUCT_FIELD_LIST@10..13
      RBrace@10..11 "}"
      Whitespace@11..13 "\n\n"
  IMPL@13..138
    ImplKeyword@13..17 "impl"
    Whitespace@17..18 " "
    TYPE_TAPP@18..20
      PATH@18..20
        Ident@18..19 "S"
        Whitespace@19..20 " "
    LBrace@20..21 "{"
    Whitespace@21..26 "\n    "
    FN@26..81
      FnKeyword@26..28 "fn"
      Whitespace@28..29 " "
      Ident@29..36 "method1"
      PARAM_LIST@36..50
        LParen@36..37 "("
        PARAM@37..48
          Ident@37..41 "self"
          Whitespace@41..42 " "
          Colon@42..43 ":"
          Whitespace@43..44 " "
          TYPE_TAPP@44..48
            PATH@44..48
              Ident@44..48 "Self"
        RParen@48..49 ")"
        Whitespace@49..50 " "
      Arrow@50..52 "->"
      Whitespace@52..53 " "
      TYPE_UNIT@53..58
        UnitKeyword@53..57 "unit"
        Whitespace@57..58 " "
      BLOCK@58..81
        LBrace@58..59 "{"
        Whitespace@59..68 "\n        "
        EXPR_UNIT@68..75
          LParen@68..69 "("
          RParen@69..70 ")"
          Whitespace@70..75 "\n    "
        RBrace@75..76 "}"
        Whitespace@76..81 "\n    "
    FN@81..135
      FnKeyword@81..83 "fn"
      Whitespace@83..84 " "
      Ident@84..91 "method2"
      PARAM_LIST@91..105
        LParen@91..92 "("
        PARAM@92..103
          Ident@92..96 "self"
          Whitespace@96..97 " "
          Colon@97..98 ":"
          Whitespace@98..99 " "
          TYPE_TAPP@99..103
            PATH@99..103
              Ident@99..103 "Self"
        RParen@103..104 ")"
        Whitespace@104..105 " "
      Arrow@105..107 "->"
      Whitespace@107..108 " "
      TYPE_STRING@108..115
        StringKeyword@108..114 "string"
        Whitespace@114..115 " "
      BLOCK@115..135
        LBrace@115..116 "{"
        Whitespace@116..125 "\n        "
        EXPR_STR@125..133
          Str@125..128 "\"S\""
          Whitespace@128..133 "\n    "
        RBrace@133..134 "}"
        Whitespace@134..135 "\n"
    RBrace@135..136 "}"
    Whitespace@136..138 "\n\n"
  FN@138..186
    FnKeyword@138..140 "fn"
    Whitespace@140..141 " "
    Ident@141..145 "main"
    PARAM_LIST@145..148
      LParen@145..146 "("
      RParen@146..147 ")"
      Whitespace@147..148 " "
    BLOCK@148..186
      LBrace@148..149 "{"
      Whitespace@149..154 "\n    "
      STMT_LET@154..172
        LetKeyword@154..157 "let"
        Whitespace@157..158 " "
        PATTERN_VARIABLE@158..160
          Ident@158..159 "s"
          Whitespace@159..160 " "
        Eq@160..161 "="
        Whitespace@161..162 " "
        EXPR_STRUCT_LITERAL@162..166
          PATH@162..164
            Ident@162..163 "S"
            Whitespace@163..164 " "
          STRUCT_LITERAL_FIELD_LIST@164..166
            LBrace@164..165 "{"
            RBrace@165..166 "}"
        Semi@166..167 ";"
        Whitespace@167..172 "\n    "
      EXPR_CALL@172..184
        EXPR_BINARY@172..181
          EXPR_IDENT@172..173
            PATH@172..173
              Ident@172..173 "s"
          Dot@173..174 "."
          EXPR_IDENT@174..181
            PATH@174..181
              Ident@174..181 "method1"
        ARG_LIST@181..184
          LParen@181..182 "("
          RParen@182..183 ")"
          Whitespace@183..184 "\n"
      RBrace@184..185 "}"
      Whitespace@185..186 "\n"