FILE@0..180
  FN@0..180
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..180
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..41
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..21
          Ident@20..21 "x"
        Colon@21..22 ":"
        Whitespace@22..23 " "
        TYPE_INT32@23..29
          Int32Keyword@23..28 "int32"
          Whitespace@28..29 " "
        Eq@29..30 "="
        Whitespace@30..31 " "
        EXPR_INT32@31..35
          Int32Lit@31..35 "1i32"
        Semi@35..36 ";"
        Whitespace@36..41 "\n    "
      STMT_LET@41..64
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..46
          Ident@45..46 "y"
        Colon@46..47 ":"
        Whitespace@47..48 " "
        TYPE_INT8@48..53
          Int8Keyword@48..52 "int8"
          Whitespace@52..53 " "
        Eq@53..54 "="
        Whitespace@54..55 " "
        EXPR_INT8@55..58
          Int8Lit@55..58 "1i8"
        Semi@58..59 ";"
        Whitespace@59..64 "\n    "
      STMT_LET@64..124
        LetKeyword@64..67 "let"
        Whitespace@67..68 " "
        PATTERN_WILDCARD@68..70
          WildcardKeyword@68..69 "_"
          Whitespace@69..70 " "
        Eq@70..71 "="
        Whitespace@71..72 " "
        EXPR_CALL@72..118
          EXPR_IDENT@72..86
            PATH@72..86
              Ident@72..86 "string_println"
          ARG_LIST@86..118
            LParen@86..87 "("
            ARG@87..117
              EXPR_BINARY@87..117
                EXPR_STR@87..97
                  Str@87..96 "\"int32: \""
                  Whitespace@96..97 " "
                Plus@97..98 "+"
                Whitespace@98..99 " "
                EXPR_CALL@99..117
                  EXPR_IDENT@99..114
                    PATH@99..114
                      Ident@99..114 "int32_to_string"
                  ARG_LIST@114..117
                    LParen@114..115 "("
                    ARG@115..116
                      EXPR_IDENT@115..116
                        PATH@115..116
                          Ident@115..116 "x"
                    RParen@116..117 ")"
            RParen@117..118 ")"
        Semi@118..119 ";"
        Whitespace@119..124 "\n    "
      STMT_LET@124..178
        LetKeyword@124..127 "let"
        Whitespace@127..128 " "
        PATTERN_WILDCARD@128..130
          WildcardKeyword@128..129 "_"
          Whitespace@129..130 " "
        Eq@130..131 "="
        Whitespace@131..132 " "
        EXPR_CALL@132..176
          EXPR_IDENT@132..146
            PATH@132..146
              Ident@132..146 "string_println"
          ARG_LIST@146..176
            LParen@146..147 "("
            ARG@147..175
              EXPR_BINARY@147..175
                EXPR_STR@147..156
                  Str@147..155 "\"int8: \""
                  Whitespace@155..156 " "
                Plus@156..157 "+"
                Whitespace@157..158 " "
                EXPR_CALL@158..175
                  EXPR_IDENT@158..172
                    PATH@158..172
                      Ident@158..172 "int8_to_string"
                  ARG_LIST@172..175
                    LParen@172..173 "("
                    ARG@173..174
                      EXPR_IDENT@173..174
                        PATH@173..174
                          Ident@173..174 "y"
                    RParen@174..175 ")"
            RParen@175..176 ")"
        Semi@176..177 ";"
        Whitespace@177..178 "\n"
      RBrace@178..179 "}"
      Whitespace@179..180 "\n"