FILE@0..164
  FN@0..164
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..164
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..38
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..21
          Ident@20..21 "x"
        Colon@21..22 ":"
        Whitespace@22..23 " "
        TYPE_INT32@23..29
          Int32Keyword@23..28 "int32"
          Whitespace@28..29 " "
        Eq@29..30 "="
        Whitespace@30..31 " "
        EXPR_INT@31..32
          Int@31..32 "1"
        Semi@32..33 ";"
        Whitespace@33..38 "\n    "
      STMT_LET@38..59
        LetKeyword@38..41 "let"
        Whitespace@41..42 " "
        PATTERN_VARIABLE@42..43
          Ident@42..43 "y"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_INT8@45..50
          Int8Keyword@45..49 "int8"
          Whitespace@49..50 " "
        Eq@50..51 "="
        Whitespace@51..52 " "
        EXPR_INT@52..53
          Int@52..53 "1"
        Semi@53..54 ";"
        Whitespace@54..59 "\n    "
      STMT_LET@59..89
        LetKeyword@59..62 "let"
        Whitespace@62..63 " "
        PATTERN_WILDCARD@63..65
          WildcardKeyword@63..64 "_"
          Whitespace@64..65 " "
        Eq@65..66 "="
        Whitespace@66..67 " "
        EXPR_CALL@67..83
          EXPR_IDENT@67..72
            PATH@67..72
              Ident@67..72 "print"
          ARG_LIST@72..83
            LParen@72..73 "("
            ARG@73..82
              EXPR_STR@73..82
                Str@73..82 "\"int32: \""
            RParen@82..83 ")"
        Semi@83..84 ";"
        Whitespace@84..89 "\n    "
      STMT_LET@89..113
        LetKeyword@89..92 "let"
        Whitespace@92..93 " "
        PATTERN_WILDCARD@93..95
          WildcardKeyword@93..94 "_"
          Whitespace@94..95 " "
        Eq@95..96 "="
        Whitespace@96..97 " "
        EXPR_CALL@97..107
          EXPR_IDENT@97..104
            PATH@97..104
              Ident@97..104 "println"
          ARG_LIST@104..107
            LParen@104..105 "("
            ARG@105..106
              EXPR_IDENT@105..106
                PATH@105..106
                  Ident@105..106 "x"
            RParen@106..107 ")"
        Semi@107..108 ";"
        Whitespace@108..113 "\n    "
      STMT_LET@113..142
        LetKeyword@113..116 "let"
        Whitespace@116..117 " "
        PATTERN_WILDCARD@117..119
          WildcardKeyword@117..118 "_"
          Whitespace@118..119 " "
        Eq@119..120 "="
        Whitespace@120..121 " "
        EXPR_CALL@121..136
          EXPR_IDENT@121..126
            PATH@121..126
              Ident@121..126 "print"
          ARG_LIST@126..136
            LParen@126..127 "("
            ARG@127..135
              EXPR_STR@127..135
                Str@127..135 "\"int8: \""
            RParen@135..136 ")"
        Semi@136..137 ";"
        Whitespace@137..142 "\n    "
      STMT_LET@142..162
        LetKeyword@142..145 "let"
        Whitespace@145..146 " "
        PATTERN_WILDCARD@146..148
          WildcardKeyword@146..147 "_"
          Whitespace@147..148 " "
        Eq@148..149 "="
        Whitespace@149..150 " "
        EXPR_CALL@150..160
          EXPR_IDENT@150..157
            PATH@150..157
              Ident@150..157 "println"
          ARG_LIST@157..160
            LParen@157..158 "("
            ARG@158..159
              EXPR_IDENT@158..159
                PATH@158..159
                  Ident@158..159 "y"
            RParen@159..160 ")"
        Semi@160..161 ";"
        Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..164 "\n"