FILE@0..169
  FN@0..169
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..169
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..41
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..21
          Ident@20..21 "x"
        Colon@21..22 ":"
        Whitespace@22..23 " "
        TYPE_INT32@23..29
          Int32Keyword@23..28 "int32"
          Whitespace@28..29 " "
        Eq@29..30 "="
        Whitespace@30..31 " "
        EXPR_INT32@31..35
          Int32Lit@31..35 "1i32"
        Semi@35..36 ";"
        Whitespace@36..41 "\n    "
      STMT_LET@41..64
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..46
          Ident@45..46 "y"
        Colon@46..47 ":"
        Whitespace@47..48 " "
        TYPE_INT8@48..53
          Int8Keyword@48..52 "int8"
          Whitespace@52..53 " "
        Eq@53..54 "="
        Whitespace@54..55 " "
        EXPR_INT8@55..58
          Int8Lit@55..58 "1i8"
        Semi@58..59 ";"
        Whitespace@59..64 "\n    "
      STMT_LET@64..94
        LetKeyword@64..67 "let"
        Whitespace@67..68 " "
        PATTERN_WILDCARD@68..70
          WildcardKeyword@68..69 "_"
          Whitespace@69..70 " "
        Eq@70..71 "="
        Whitespace@71..72 " "
        EXPR_CALL@72..88
          EXPR_IDENT@72..77
            PATH@72..77
              Ident@72..77 "print"
          ARG_LIST@77..88
            LParen@77..78 "("
            ARG@78..87
              EXPR_STR@78..87
                Str@78..87 "\"int32: \""
            RParen@87..88 ")"
        Semi@88..89 ";"
        Whitespace@89..94 "\n    "
      STMT_LET@94..118
        LetKeyword@94..97 "let"
        Whitespace@97..98 " "
        PATTERN_WILDCARD@98..100
          WildcardKeyword@98..99 "_"
          Whitespace@99..100 " "
        Eq@100..101 "="
        Whitespace@101..102 " "
        EXPR_CALL@102..112
          EXPR_IDENT@102..109
            PATH@102..109
              Ident@102..109 "println"
          ARG_LIST@109..112
            LParen@109..110 "("
            ARG@110..111
              EXPR_IDENT@110..111
                PATH@110..111
                  Ident@110..111 "x"
            RParen@111..112 ")"
        Semi@112..113 ";"
        Whitespace@113..118 "\n    "
      STMT_LET@118..147
        LetKeyword@118..121 "let"
        Whitespace@121..122 " "
        PATTERN_WILDCARD@122..124
          WildcardKeyword@122..123 "_"
          Whitespace@123..124 " "
        Eq@124..125 "="
        Whitespace@125..126 " "
        EXPR_CALL@126..141
          EXPR_IDENT@126..131
            PATH@126..131
              Ident@126..131 "print"
          ARG_LIST@131..141
            LParen@131..132 "("
            ARG@132..140
              EXPR_STR@132..140
                Str@132..140 "\"int8: \""
            RParen@140..141 ")"
        Semi@141..142 ";"
        Whitespace@142..147 "\n    "
      STMT_LET@147..167
        LetKeyword@147..150 "let"
        Whitespace@150..151 " "
        PATTERN_WILDCARD@151..153
          WildcardKeyword@151..152 "_"
          Whitespace@152..153 " "
        Eq@153..154 "="
        Whitespace@154..155 " "
        EXPR_CALL@155..165
          EXPR_IDENT@155..162
            PATH@155..162
              Ident@155..162 "println"
          ARG_LIST@162..165
            LParen@162..163 "("
            ARG@163..164
              EXPR_IDENT@163..164
                PATH@163..164
                  Ident@163..164 "y"
            RParen@164..165 ")"
        Semi@165..166 ";"
        Whitespace@166..167 "\n"
      RBrace@167..168 "}"
      Whitespace@168..169 "\n"