FILE@0..217
  ENUM@0..43
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..11 "Option"
    GENERIC_LIST@11..15
      LBracket@11..12 "["
      GENERIC@12..13
        Ident@12..13 "T"
      RBracket@13..14 "]"
      Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    VARIANT_LIST@21..43
      VARIANT@21..28
        Ident@21..25 "Some"
        TYPE_LIST@25..28
          LParen@25..26 "("
          TYPE_TAPP@26..27
            PATH@26..27
              Ident@26..27 "T"
          RParen@27..28 ")"
      Comma@28..29 ","
      Whitespace@29..34 "\n    "
      VARIANT@34..38
        Ident@34..38 "None"
      Comma@38..39 ","
      Whitespace@39..40 "\n"
      RBrace@40..41 "}"
      Whitespace@41..43 "\n\n"
  FN@43..217
    FnKeyword@43..45 "fn"
    Whitespace@45..46 " "
    Ident@46..50 "main"
    PARAM_LIST@50..53
      LParen@50..51 "("
      RParen@51..52 ")"
      Whitespace@52..53 " "
    BLOCK@53..217
      LBrace@53..54 "{"
      Whitespace@54..59 "\n    "
      STMT_LET@59..104
        LetKeyword@59..62 "let"
        Whitespace@62..63 " "
        PATTERN_VARIABLE@63..64
          Ident@63..64 "x"
        Colon@64..65 ":"
        Whitespace@65..66 " "
        TYPE_TAPP@66..80
          PATH@66..72
            Ident@66..72 "Option"
          TYPE_PARAM_LIST@72..80
            LBracket@72..73 "["
            TYPE_UINT8@73..78
              Uint8Keyword@73..78 "uint8"
            RBracket@78..79 "]"
            Whitespace@79..80 " "
        Eq@80..81 "="
        Whitespace@81..82 " "
        EXPR_CALL@82..98
          EXPR_IDENT@82..94
            PATH@82..94
              Ident@82..88 "Option"
              ColonColon@88..90 "::"
              Ident@90..94 "Some"
          ARG_LIST@94..98
            LParen@94..95 "("
            ARG@95..97
              EXPR_INT@95..97
                Int@95..97 "42"
            RParen@97..98 ")"
        Semi@98..99 ";"
        Whitespace@99..104 "\n    "
      STMT_EXPR@104..215
        EXPR_MATCH@104..213
          MatchKeyword@104..109 "match"
          Whitespace@109..110 " "
          EXPR_IDENT@110..112
            PATH@110..112
              Ident@110..111 "x"
              Whitespace@111..112 " "
          MATCH_ARM_LIST@112..213
            LBrace@112..113 "{"
            Whitespace@113..122 "\n        "
            MATCH_ARM@122..165
              PATTERN_CONSTR@122..138
                PATH@122..134
                  Ident@122..128 "Option"
                  ColonColon@128..130 "::"
                  Ident@130..134 "Some"
                LParen@134..135 "("
                PATTERN_VARIABLE@135..136
                  Ident@135..136 "v"
                RParen@136..137 ")"
                Whitespace@137..138 " "
              FatArrow@138..140 "=>"
              Whitespace@140..141 " "
              EXPR_CALL@141..165
                EXPR_IDENT@141..148
                  PATH@141..148
                    Ident@141..148 "println"
                ARG_LIST@148..165
                  LParen@148..149 "("
                  ARG@149..164
                    EXPR_CALL@149..164
                      EXPR_BINARY@149..162
                        EXPR_PAREN@149..152
                          LParen@149..150 "("
                          EXPR_IDENT@150..151
                            PATH@150..151
                              Ident@150..151 "v"
                          RParen@151..152 ")"
                        Dot@152..153 "."
                        EXPR_IDENT@153..162
                          PATH@153..162
                            Ident@153..162 "to_string"
                      ARG_LIST@162..164
                        LParen@162..163 "("
                        RParen@163..164 ")"
                  RParen@164..165 ")"
            Comma@165..166 ","
            Whitespace@166..175 "\n        "
            MATCH_ARM@175..206
              PATTERN_CONSTR@175..188
                PATH@175..188
                  Ident@175..181 "Option"
                  ColonColon@181..183 "::"
                  Ident@183..187 "None"
                  Whitespace@187..188 " "
              FatArrow@188..190 "=>"
              Whitespace@190..191 " "
              EXPR_CALL@191..206
                EXPR_IDENT@191..198
                  PATH@191..198
                    Ident@191..198 "println"
                ARG_LIST@198..206
                  LParen@198..199 "("
                  ARG@199..205
                    EXPR_STR@199..205
                      Str@199..205 "\"none\""
                  RParen@205..206 ")"
            Comma@206..207 ","
            Whitespace@207..212 "\n    "
            RBrace@212..213 "}"
        Semi@213..214 ";"
        Whitespace@214..215 "\n"
      RBrace@215..216 "}"
      Whitespace@216..217 "\n"