FILE@0..249
  PACKAGE@0..15
    PackageKeyword@0..7 "package"
    Whitespace@7..8 " "
    Ident@8..12 "main"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  ENUM@15..58
    EnumKeyword@15..19 "enum"
    Whitespace@19..20 " "
    Ident@20..26 "Option"
    GENERIC_LIST@26..30
      LBracket@26..27 "["
      GENERIC@27..28
        Ident@27..28 "T"
      RBracket@28..29 "]"
      Whitespace@29..30 " "
    LBrace@30..31 "{"
    Whitespace@31..36 "\n    "
    VARIANT_LIST@36..58
      VARIANT@36..43
        Ident@36..40 "Some"
        TYPE_LIST@40..43
          LParen@40..41 "("
          TYPE_TAPP@41..42
            PATH@41..42
              Ident@41..42 "T"
          RParen@42..43 ")"
      Comma@43..44 ","
      Whitespace@44..49 "\n    "
      VARIANT@49..53
        Ident@49..53 "None"
      Comma@53..54 ","
      Whitespace@54..55 "\n"
      RBrace@55..56 "}"
      Whitespace@56..58 "\n\n"
  FN@58..249
    FnKeyword@58..60 "fn"
    Whitespace@60..61 " "
    Ident@61..65 "main"
    PARAM_LIST@65..68
      LParen@65..66 "("
      RParen@66..67 ")"
      Whitespace@67..68 " "
    BLOCK@68..249
      LBrace@68..69 "{"
      Whitespace@69..74 "\n    "
      STMT_LET@74..119
        LetKeyword@74..77 "let"
        Whitespace@77..78 " "
        PATTERN_VARIABLE@78..79
          Ident@78..79 "x"
        Colon@79..80 ":"
        Whitespace@80..81 " "
        TYPE_TAPP@81..95
          PATH@81..87
            Ident@81..87 "Option"
          TYPE_PARAM_LIST@87..95
            LBracket@87..88 "["
            TYPE_UINT8@88..93
              Uint8Keyword@88..93 "uint8"
            RBracket@93..94 "]"
            Whitespace@94..95 " "
        Eq@95..96 "="
        Whitespace@96..97 " "
        EXPR_CALL@97..113
          EXPR_IDENT@97..109
            PATH@97..109
              Ident@97..103 "Option"
              ColonColon@103..105 "::"
              Ident@105..109 "Some"
          ARG_LIST@109..113
            LParen@109..110 "("
            ARG@110..112
              EXPR_INT@110..112
                Int@110..112 "42"
            RParen@112..113 ")"
        Semi@113..114 ";"
        Whitespace@114..119 "\n    "
      STMT_EXPR@119..247
        EXPR_MATCH@119..245
          MatchKeyword@119..124 "match"
          Whitespace@124..125 " "
          EXPR_IDENT@125..127
            PATH@125..127
              Ident@125..126 "x"
              Whitespace@126..127 " "
          MATCH_ARM_LIST@127..245
            LBrace@127..128 "{"
            Whitespace@128..137 "\n        "
            MATCH_ARM@137..190
              PATTERN_CONSTR@137..153
                PATH@137..149
                  Ident@137..143 "Option"
                  ColonColon@143..145 "::"
                  Ident@145..149 "Some"
                LParen@149..150 "("
                PATTERN_VARIABLE@150..151
                  Ident@150..151 "v"
                RParen@151..152 ")"
                Whitespace@152..153 " "
              FatArrow@153..155 "=>"
              Whitespace@155..156 " "
              EXPR_CALL@156..190
                EXPR_IDENT@156..170
                  PATH@156..170
                    Ident@156..170 "string_println"
                ARG_LIST@170..190
                  LParen@170..171 "("
                  ARG@171..189
                    EXPR_CALL@171..189
                      EXPR_IDENT@171..186
                        PATH@171..186
                          Ident@171..186 "uint8_to_string"
                      ARG_LIST@186..189
                        LParen@186..187 "("
                        ARG@187..188
                          EXPR_IDENT@187..188
                            PATH@187..188
                              Ident@187..188 "v"
                        RParen@188..189 ")"
                  RParen@189..190 ")"
            Comma@190..191 ","
            Whitespace@191..200 "\n        "
            MATCH_ARM@200..238
              PATTERN_CONSTR@200..213
                PATH@200..213
                  Ident@200..206 "Option"
                  ColonColon@206..208 "::"
                  Ident@208..212 "None"
                  Whitespace@212..213 " "
              FatArrow@213..215 "=>"
              Whitespace@215..216 " "
              EXPR_CALL@216..238
                EXPR_IDENT@216..230
                  PATH@216..230
                    Ident@216..230 "string_println"
                ARG_LIST@230..238
                  LParen@230..231 "("
                  ARG@231..237
                    EXPR_STR@231..237
                      Str@231..237 "\"none\""
                  RParen@237..238 ")"
            Comma@238..239 ","
            Whitespace@239..244 "\n    "
            RBrace@244..245 "}"
        Semi@245..246 ";"
        Whitespace@246..247 "\n"
      RBrace@247..248 "}"
      Whitespace@248..249 "\n"