FILE@0..223
  FN@0..223
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..223
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..52
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..29
          Ident@28..29 "c"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_CHAR@31..36
          CharKeyword@31..35 "char"
          Whitespace@35..36 " "
        Eq@36..37 "="
        Whitespace@37..38 " "
        EXPR_CHAR@38..46
          CharLit@38..46 "'\\u0041'"
        Semi@46..47 ";"
        Whitespace@47..52 "\n    "
      STMT_EXPR@52..88
        EXPR_CALL@52..81
          EXPR_IDENT@52..66
            PATH@52..66
              Ident@52..66 "string_println"
          ARG_LIST@66..81
            LParen@66..67 "("
            ARG@67..80
              EXPR_CALL@67..80
                EXPR_BINARY@67..78
                  EXPR_IDENT@67..68
                    PATH@67..68
                      Ident@67..68 "c"
                  Dot@68..69 "."
                  EXPR_IDENT@69..78
                    PATH@69..78
                      Ident@69..78 "to_string"
                ARG_LIST@78..80
                  LParen@78..79 "("
                  RParen@79..80 ")"
            RParen@80..81 ")"
        Semi@81..82 ";"
        Whitespace@82..88 "\n\n    "
      STMT_LET@88..111
        LetKeyword@88..91 "let"
        Whitespace@91..92 " "
        PATTERN_VARIABLE@92..93
          Ident@92..93 "d"
        Colon@93..94 ":"
        Whitespace@94..95 " "
        TYPE_CHAR@95..100
          CharKeyword@95..99 "char"
          Whitespace@99..100 " "
        Eq@100..101 "="
        Whitespace@101..102 " "
        EXPR_CHAR@102..105
          CharLit@102..105 "'b'"
        Semi@105..106 ";"
        Whitespace@106..111 "\n    "
      STMT_LET@111..200
        LetKeyword@111..114 "let"
        Whitespace@114..115 " "
        PATTERN_VARIABLE@115..119
          Ident@115..118 "out"
          Whitespace@118..119 " "
        Eq@119..120 "="
        Whitespace@120..121 " "
        EXPR_MATCH@121..194
          MatchKeyword@121..126 "match"
          Whitespace@126..127 " "
          EXPR_IDENT@127..129
            PATH@127..129
              Ident@127..128 "d"
              Whitespace@128..129 " "
          MATCH_ARM_LIST@129..194
            LBrace@129..130 "{"
            Whitespace@130..139 "\n        "
            MATCH_ARM@139..149
              PATTERN_CHAR@139..143
                CharLit@139..142 "'a'"
                Whitespace@142..143 " "
              FatArrow@143..145 "=>"
              Whitespace@145..146 " "
              EXPR_STR@146..149
                Str@146..149 "\"A\""
            Comma@149..150 ","
            Whitespace@150..159 "\n        "
            MATCH_ARM@159..169
              PATTERN_CHAR@159..163
                CharLit@159..162 "'b'"
                Whitespace@162..163 " "
              FatArrow@163..165 "=>"
              Whitespace@165..166 " "
              EXPR_STR@166..169
                Str@166..169 "\"B\""
            Comma@169..170 ","
            Whitespace@170..179 "\n        "
            MATCH_ARM@179..187
              PATTERN_WILDCARD@179..181
                WildcardKeyword@179..180 "_"
                Whitespace@180..181 " "
              FatArrow@181..183 "=>"
              Whitespace@183..184 " "
              EXPR_STR@184..187
                Str@184..187 "\"?\""
            Comma@187..188 ","
            Whitespace@188..193 "\n    "
            RBrace@193..194 "}"
        Semi@194..195 ";"
        Whitespace@195..200 "\n    "
      STMT_EXPR@200..221
        EXPR_CALL@200..219
          EXPR_IDENT@200..214
            PATH@200..214
              Ident@200..214 "string_println"
          ARG_LIST@214..219
            LParen@214..215 "("
            ARG@215..218
              EXPR_IDENT@215..218
                PATH@215..218
                  Ident@215..218 "out"
            RParen@218..219 ")"
        Semi@219..220 ";"
        Whitespace@220..221 "\n"
      RBrace@221..222 "}"
      Whitespace@222..223 "\n"