FILE@0..1909
  USE@0..19
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..16
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..16 "channel"
    Semi@16..17 ";"
    Whitespace@17..19 "\n\n"
  FN@19..308
    FnKeyword@19..21 "fn"
    Whitespace@21..22 " "
    Ident@22..37 "print_selection"
    PARAM_LIST@37..72
      LParen@37..38 "("
      PARAM@38..70
        Ident@38..43 "value"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_TAPP@45..70
          PATH@45..63
            Ident@45..52 "channel"
            ColonColon@52..54 "::"
            Ident@54..63 "Selection"
          TYPE_PARAM_LIST@63..70
            LBracket@63..64 "["
            TYPE_INT@64..69
              IsizeKeyword@64..69 "isize"
            RBracket@69..70 "]"
      RParen@70..71 ")"
      Whitespace@71..72 " "
    Arrow@72..74 "->"
    Whitespace@74..75 " "
    TYPE_TUPLE@75..78
      TYPE_LIST@75..78
        LParen@75..76 "("
        RParen@76..77 ")"
        Whitespace@77..78 " "
    BLOCK@78..308
      LBrace@78..79 "{"
      Whitespace@79..84 "\n    "
      EXPR_MATCH@84..305
        MatchKeyword@84..89 "match"
        Whitespace@89..90 " "
        EXPR_IDENT@90..96
          PATH@90..96
            Ident@90..95 "value"
            Whitespace@95..96 " "
        MATCH_ARM_LIST@96..305
          LBrace@96..97 "{"
          Whitespace@97..106 "\n        "
          MATCH_ARM@106..235
            PATTERN_CONSTR@106..152
              PATH@106..135
                Ident@106..113 "channel"
                ColonColon@113..115 "::"
                Ident@115..124 "Selection"
                ColonColon@124..126 "::"
                Ident@126..134 "Received"
                Whitespace@134..135 " "
              STRUCT_PATTERN_FIELD_LIST@135..152
                LBrace@135..136 "{"
                Whitespace@136..137 " "
                STRUCT_PATTERN_FIELD@137..142
                  Ident@137..142 "index"
                Comma@142..143 ","
                Whitespace@143..144 " "
                STRUCT_PATTERN_FIELD@144..150
                  Ident@144..149 "value"
                  Whitespace@149..150 " "
                RBrace@150..151 "}"
                Whitespace@151..152 " "
            FatArrow@152..154 "=>"
            Whitespace@154..155 " "
            BLOCK@155..235
              LBrace@155..156 "{"
              Whitespace@156..169 "\n            "
              STMT_EXPR@169..197
                EXPR_CALL@169..183
                  EXPR_IDENT@169..176
                    PATH@169..176
                      Ident@169..176 "println"
                  ARG_LIST@176..183
                    LParen@176..177 "("
                    ARG@177..182
                      EXPR_IDENT@177..182
                        PATH@177..182
                          Ident@177..182 "index"
                    RParen@182..183 ")"
                Semi@183..184 ";"
                Whitespace@184..197 "\n            "
              EXPR_CALL@197..234
                EXPR_IDENT@197..204
                  PATH@197..204
                    Ident@197..204 "println"
                ARG_LIST@204..234
                  LParen@204..205 "("
                  ARG@205..224
                    EXPR_CALL@205..224
                      EXPR_BINARY@205..220
                        EXPR_IDENT@205..210
                          PATH@205..210
                            Ident@205..210 "value"
                        Dot@210..211 "."
                        EXPR_IDENT@211..220
                          PATH@211..220
                            Ident@211..220 "unwrap_or"
                      ARG_LIST@220..224
                        LParen@220..221 "("
                        ARG@221..223
                          EXPR_PREFIX@221..223
                            Minus@221..222 "-"
                            EXPR_INT@222..223
                              Int@222..223 "1"
                        RParen@223..224 ")"
                  RParen@224..225 ")"
                  Whitespace@225..234 "\n        "
              RBrace@234..235 "}"
          Comma@235..236 ","
          Whitespace@236..245 "\n        "
          MATCH_ARM@245..297
            PATTERN_CONSTR@245..280
              PATH@245..270
                Ident@245..252 "channel"
                ColonColon@252..254 "::"
                Ident@254..263 "Selection"
                ColonColon@263..265 "::"
                Ident@265..269 "Sent"
                Whitespace@269..270 " "
              STRUCT_PATTERN_FIELD_LIST@270..280
                LBrace@270..271 "{"
                Whitespace@271..272 " "
                STRUCT_PATTERN_FIELD@272..278
                  Ident@272..277 "index"
                  Whitespace@277..278 " "
                RBrace@278..279 "}"
                Whitespace@279..280 " "
            FatArrow@280..282 "=>"
            Whitespace@282..283 " "
            EXPR_CALL@283..297
              EXPR_IDENT@283..290
                PATH@283..290
                  Ident@283..290 "println"
              ARG_LIST@290..297
                LParen@290..291 "("
                ARG@291..296
                  EXPR_IDENT@291..296
                    PATH@291..296
                      Ident@291..296 "index"
                RParen@296..297 ")"
          Comma@297..298 ","
          Whitespace@298..303 "\n    "
          RBrace@303..304 "}"
          Whitespace@304..305 "\n"
      RBrace@305..306 "}"
      Whitespace@306..308 "\n\n"
  FN@308..1909
    FnKeyword@308..310 "fn"
    Whitespace@310..311 " "
    Ident@311..315 "main"
    PARAM_LIST@315..318
      LParen@315..316 "("
      RParen@316..317 ")"
      Whitespace@317..318 " "
    Arrow@318..320 "->"
    Whitespace@320..321 " "
    TYPE_TUPLE@321..324
      TYPE_LIST@321..324
        LParen@321..322 "("
        RParen@322..323 ")"
        Whitespace@323..324 " "
    BLOCK@324..1909
      LBrace@324..325 "{"
      Whitespace@325..330 "\n    "
      STMT_LET@330..379
        LetKeyword@330..333 "let"
        Whitespace@333..334 " "
        PATTERN_VARIABLE@334..339
          Ident@334..339 "first"
        Colon@339..340 ":"
        Whitespace@340..341 " "
        TYPE_TAPP@341..356
          PATH@341..348
            Ident@341..348 "Channel"
          TYPE_PARAM_LIST@348..356
            LBracket@348..349 "["
            TYPE_INT@349..354
              IsizeKeyword@349..354 "isize"
            RBracket@354..355 "]"
            Whitespace@355..356 " "
        Eq@356..357 "="
        Whitespace@357..358 " "
        EXPR_CALL@358..373
          EXPR_IDENT@358..370
            PATH@358..370
              Ident@358..365 "Channel"
              ColonColon@365..367 "::"
              Ident@367..370 "new"
          ARG_LIST@370..373
            LParen@370..371 "("
            ARG@371..372
              EXPR_INT@371..372
                Int@371..372 "1"
            RParen@372..373 ")"
        Semi@373..374 ";"
        Whitespace@374..379 "\n    "
      STMT_LET@379..429
        LetKeyword@379..382 "let"
        Whitespace@382..383 " "
        PATTERN_VARIABLE@383..389
          Ident@383..389 "second"
        Colon@389..390 ":"
        Whitespace@390..391 " "
        TYPE_TAPP@391..406
          PATH@391..398
            Ident@391..398 "Channel"
          TYPE_PARAM_LIST@398..406
            LBracket@398..399 "["
            TYPE_INT@399..404
              IsizeKeyword@399..404 "isize"
            RBracket@404..405 "]"
            Whitespace@405..406 " "
        Eq@406..407 "="
        Whitespace@407..408 " "
        EXPR_CALL@408..423
          EXPR_IDENT@408..420
            PATH@408..420
              Ident@408..415 "Channel"
              ColonColon@415..417 "::"
              Ident@417..420 "new"
          ARG_LIST@420..423
            LParen@420..421 "("
            ARG@421..422
              EXPR_INT@421..422
                Int@421..422 "1"
            RParen@422..423 ")"
        Semi@423..424 ";"
        Whitespace@424..429 "\n    "
      STMT_EXPR@429..449
        EXPR_CALL@429..443
          EXPR_BINARY@429..439
            EXPR_IDENT@429..434
              PATH@429..434
                Ident@429..434 "first"
            Dot@434..435 "."
            EXPR_IDENT@435..439
              PATH@435..439
                Ident@435..439 "send"
          ARG_LIST@439..443
            LParen@439..440 "("
            ARG@440..442
              EXPR_INT@440..442
                Int@440..442 "10"
            RParen@442..443 ")"
        Semi@443..444 ";"
        Whitespace@444..449 "\n    "
      STMT_EXPR@449..470
        EXPR_CALL@449..464
          EXPR_BINARY@449..460
            EXPR_IDENT@449..455
              PATH@449..455
                Ident@449..455 "second"
            Dot@455..456 "."
            EXPR_IDENT@456..460
              PATH@456..460
                Ident@456..460 "send"
          ARG_LIST@460..464
            LParen@460..461 "("
            ARG@461..463
              EXPR_INT@461..463
                Int@461..463 "20"
            RParen@463..464 ")"
        Semi@464..465 ";"
        Whitespace@465..470 "\n    "
      STMT_LET@470..655
        LetKeyword@470..473 "let"
        Whitespace@473..474 " "
        PATTERN_VARIABLE@474..485
          Ident@474..484 "operations"
          Whitespace@484..485 " "
        Eq@485..486 "="
        Whitespace@486..487 " "
        EXPR_CALL@487..649
          EXPR_IDENT@487..502
            PATH@487..502
              Ident@487..490 "Vec"
              ColonColon@490..492 "::"
              Ident@492..502 "from_array"
          ARG_LIST@502..649
            LParen@502..503 "("
            Whitespace@503..512 "\n        "
            ARG@512..648
              EXPR_ARRAY_LITERAL@512..642
                LBracket@512..513 "["
                Whitespace@513..526 "\n            "
                EXPR_CALL@526..571
                  EXPR_IDENT@526..553
                    PATH@526..553
                      Ident@526..533 "channel"
                      ColonColon@533..535 "::"
                      Ident@535..544 "Operation"
                      ColonColon@544..546 "::"
                      Ident@546..553 "Receive"
                  ARG_LIST@553..571
                    LParen@553..554 "("
                    ARG@554..570
                      EXPR_CALL@554..570
                        EXPR_BINARY@554..568
                          EXPR_IDENT@554..559
                            PATH@554..559
                              Ident@554..559 "first"
                          Dot@559..560 "."
                          EXPR_IDENT@560..568
                            PATH@560..568
                              Ident@560..568 "receiver"
                        ARG_LIST@568..570
                          LParen@568..569 "("
                          RParen@569..570 ")"
                    RParen@570..571 ")"
                Comma@571..572 ","
                Whitespace@572..585 "\n            "
                EXPR_CALL@585..631
                  EXPR_IDENT@585..612
                    PATH@585..612
                      Ident@585..592 "channel"
                      ColonColon@592..594 "::"
                      Ident@594..603 "Operation"
                      ColonColon@603..605 "::"
                      Ident@605..612 "Receive"
                  ARG_LIST@612..631
                    LParen@612..613 "("
                    ARG@613..630
                      EXPR_CALL@613..630
                        EXPR_BINARY@613..628
                          EXPR_IDENT@613..619
                            PATH@613..619
                              Ident@613..619 "second"
                          Dot@619..620 "."
                          EXPR_IDENT@620..628
                            PATH@620..628
                              Ident@620..628 "receiver"
                        ARG_LIST@628..630
                          LParen@628..629 "("
                          RParen@629..630 ")"
                    RParen@630..631 ")"
                Comma@631..632 ","
                Whitespace@632..641 "\n        "
                RBracket@641..642 "]"
              Comma@642..643 ","
              Whitespace@643..648 "\n    "
            RParen@648..649 ")"
        Semi@649..650 ";"
        Whitespace@650..655 "\n    "
      STMT_EXPR@655..820
        EXPR_MATCH@655..814
          MatchKeyword@655..660 "match"
          Whitespace@660..661 " "
          EXPR_CALL@661..730
            EXPR_IDENT@661..689
              PATH@661..689
                Ident@661..668 "channel"
                ColonColon@668..670 "::"
                Ident@670..689 "try_select_priority"
            ARG_LIST@689..730
              LParen@689..690 "("
              ARG@690..728
                EXPR_CALL@690..728
                  EXPR_IDENT@690..695
                    PATH@690..695
                      Ident@690..695 "slice"
                  ARG_LIST@695..728
                    LParen@695..696 "("
                    ARG@696..708
                      EXPR_IDENT@696..706
                        PATH@696..706
                          Ident@696..706 "operations"
                      Comma@706..707 ","
                      Whitespace@707..708 " "
                    ARG@708..711
                      EXPR_INT@708..709
                        Int@708..709 "0"
                      Comma@709..710 ","
                      Whitespace@710..711 " "
                    ARG@711..727
                      EXPR_CALL@711..727
                        EXPR_BINARY@711..725
                          EXPR_IDENT@711..721
                            PATH@711..721
                              Ident@711..721 "operations"
                          Dot@721..722 "."
                          EXPR_IDENT@722..725
                            PATH@722..725
                              Ident@722..725 "len"
                        ARG_LIST@725..727
                          LParen@725..726 "("
                          RParen@726..727 ")"
                    RParen@727..728 ")"
              RParen@728..729 ")"
              Whitespace@729..730 " "
          MATCH_ARM_LIST@730..814
            LBrace@730..731 "{"
            Whitespace@731..740 "\n        "
            MATCH_ARM@740..781
              PATTERN_CONSTR@740..756
                PATH@740..742
                  Ident@740..742 "Ok"
                LParen@742..743 "("
                PATTERN_CONSTR@743..754
                  PATH@743..747
                    Ident@743..747 "Some"
                  LParen@747..748 "("
                  PATTERN_VARIABLE@748..753
                    Ident@748..753 "value"
                  RParen@753..754 ")"
                RParen@754..755 ")"
                Whitespace@755..756 " "
              FatArrow@756..758 "=>"
              Whitespace@758..759 " "
              EXPR_CALL@759..781
                EXPR_IDENT@759..774
                  PATH@759..774
                    Ident@759..774 "print_selection"
                ARG_LIST@774..781
                  LParen@774..775 "("
                  ARG@775..780
                    EXPR_IDENT@775..780
                      PATH@775..780
                        Ident@775..780 "value"
                  RParen@780..781 ")"
            Comma@781..782 ","
            Whitespace@782..791 "\n        "
            MATCH_ARM@791..807
              PATTERN_WILDCARD@791..793
                WildcardKeyword@791..792 "_"
                Whitespace@792..793 " "
              FatArrow@793..795 "=>"
              Whitespace@795..796 " "
              EXPR_CALL@796..807
                EXPR_IDENT@796..803
                  PATH@796..803
                    Ident@796..803 "println"
                ARG_LIST@803..807
                  LParen@803..804 "("
                  ARG@804..806
                    EXPR_PREFIX@804..806
                      Minus@804..805 "-"
                      EXPR_INT@805..806
                        Int@805..806 "1"
                  RParen@806..807 ")"
            Comma@807..808 ","
            Whitespace@808..813 "\n    "
            RBrace@813..814 "}"
        Semi@814..815 ";"
        Whitespace@815..820 "\n    "
      STMT_EXPR@820..976
        EXPR_MATCH@820..970
          MatchKeyword@820..825 "match"
          Whitespace@825..826 " "
          EXPR_CALL@826..886
            EXPR_IDENT@826..845
              PATH@826..845
                Ident@826..833 "channel"
                ColonColon@833..835 "::"
                Ident@835..845 "try_select"
            ARG_LIST@845..886
              LParen@845..846 "("
              ARG@846..884
                EXPR_CALL@846..884
                  EXPR_IDENT@846..851
                    PATH@846..851
                      Ident@846..851 "slice"
                  ARG_LIST@851..884
                    LParen@851..852 "("
                    ARG@852..864
                      EXPR_IDENT@852..862
                        PATH@852..862
                          Ident@852..862 "operations"
                      Comma@862..863 ","
                      Whitespace@863..864 " "
                    ARG@864..867
                      EXPR_INT@864..865
                        Int@864..865 "0"
                      Comma@865..866 ","
                      Whitespace@866..867 " "
                    ARG@867..883
                      EXPR_CALL@867..883
                        EXPR_BINARY@867..881
                          EXPR_IDENT@867..877
                            PATH@867..877
                              Ident@867..877 "operations"
                          Dot@877..878 "."
                          EXPR_IDENT@878..881
                            PATH@878..881
                              Ident@878..881 "len"
                        ARG_LIST@881..883
                          LParen@881..882 "("
                          RParen@882..883 ")"
                    RParen@883..884 ")"
              RParen@884..885 ")"
              Whitespace@885..886 " "
          MATCH_ARM_LIST@886..970
            LBrace@886..887 "{"
            Whitespace@887..896 "\n        "
            MATCH_ARM@896..937
              PATTERN_CONSTR@896..912
                PATH@896..898
                  Ident@896..898 "Ok"
                LParen@898..899 "("
                PATTERN_CONSTR@899..910
                  PATH@899..903
                    Ident@899..903 "Some"
                  LParen@903..904 "("
                  PATTERN_VARIABLE@904..909
                    Ident@904..909 "value"
                  RParen@909..910 ")"
                RParen@910..911 ")"
                Whitespace@911..912 " "
              FatArrow@912..914 "=>"
              Whitespace@914..915 " "
              EXPR_CALL@915..937
                EXPR_IDENT@915..930
                  PATH@915..930
                    Ident@915..930 "print_selection"
                ARG_LIST@930..937
                  LParen@930..931 "("
                  ARG@931..936
                    EXPR_IDENT@931..936
                      PATH@931..936
                        Ident@931..936 "value"
                  RParen@936..937 ")"
            Comma@937..938 ","
            Whitespace@938..947 "\n        "
            MATCH_ARM@947..963
              PATTERN_WILDCARD@947..949
                WildcardKeyword@947..948 "_"
                Whitespace@948..949 " "
              FatArrow@949..951 "=>"
              Whitespace@951..952 " "
              EXPR_CALL@952..963
                EXPR_IDENT@952..959
                  PATH@952..959
                    Ident@952..959 "println"
                ARG_LIST@959..963
                  LParen@959..960 "("
                  ARG@960..962
                    EXPR_PREFIX@960..962
                      Minus@960..961 "-"
                      EXPR_INT@961..962
                        Int@961..962 "2"
                  RParen@962..963 ")"
            Comma@963..964 ","
            Whitespace@964..969 "\n    "
            RBrace@969..970 "}"
        Semi@970..971 ";"
        Whitespace@971..976 "\n    "
      STMT_LET@976..1025
        LetKeyword@976..979 "let"
        Whitespace@979..980 " "
        PATTERN_VARIABLE@980..985
          Ident@980..985 "empty"
        Colon@985..986 ":"
        Whitespace@986..987 " "
        TYPE_TAPP@987..1002
          PATH@987..994
            Ident@987..994 "Channel"
          TYPE_PARAM_LIST@994..1002
            LBracket@994..995 "["
            TYPE_INT@995..1000
              IsizeKeyword@995..1000 "isize"
            RBracket@1000..1001 "]"
            Whitespace@1001..1002 " "
        Eq@1002..1003 "="
        Whitespace@1003..1004 " "
        EXPR_CALL@1004..1019
          EXPR_IDENT@1004..1016
            PATH@1004..1016
              Ident@1004..1011 "Channel"
              ColonColon@1011..1013 "::"
              Ident@1013..1016 "new"
          ARG_LIST@1016..1019
            LParen@1016..1017 "("
            ARG@1017..1018
              EXPR_INT@1017..1018
                Int@1017..1018 "0"
            RParen@1018..1019 ")"
        Semi@1019..1020 ";"
        Whitespace@1020..1025 "\n    "
      STMT_LET@1025..1075
        LetKeyword@1025..1028 "let"
        Whitespace@1028..1029 " "
        PATTERN_VARIABLE@1029..1035
          Ident@1029..1035 "target"
        Colon@1035..1036 ":"
        Whitespace@1036..1037 " "
        TYPE_TAPP@1037..1052
          PATH@1037..1044
            Ident@1037..1044 "Channel"
          TYPE_PARAM_LIST@1044..1052
            LBracket@1044..1045 "["
            TYPE_INT@1045..1050
              IsizeKeyword@1045..1050 "isize"
            RBracket@1050..1051 "]"
            Whitespace@1051..1052 " "
        Eq@1052..1053 "="
        Whitespace@1053..1054 " "
        EXPR_CALL@1054..1069
          EXPR_IDENT@1054..1066
            PATH@1054..1066
              Ident@1054..1061 "Channel"
              ColonColon@1061..1063 "::"
              Ident@1063..1066 "new"
          ARG_LIST@1066..1069
            LParen@1066..1067 "("
            ARG@1067..1068
              EXPR_INT@1067..1068
                Int@1067..1068 "1"
            RParen@1068..1069 ")"
        Semi@1069..1070 ";"
        Whitespace@1070..1075 "\n    "
      STMT_LET@1075..1254
        LetKeyword@1075..1078 "let"
        Whitespace@1078..1079 " "
        PATTERN_VARIABLE@1079..1085
          Ident@1079..1084 "mixed"
          Whitespace@1084..1085 " "
        Eq@1085..1086 "="
        Whitespace@1086..1087 " "
        EXPR_CALL@1087..1248
          EXPR_IDENT@1087..1102
            PATH@1087..1102
              Ident@1087..1090 "Vec"
              ColonColon@1090..1092 "::"
              Ident@1092..1102 "from_array"
          ARG_LIST@1102..1248
            LParen@1102..1103 "("
            Whitespace@1103..1112 "\n        "
            ARG@1112..1247
              EXPR_ARRAY_LITERAL@1112..1241
                LBracket@1112..1113 "["
                Whitespace@1113..1126 "\n            "
                EXPR_CALL@1126..1171
                  EXPR_IDENT@1126..1153
                    PATH@1126..1153
                      Ident@1126..1133 "channel"
                      ColonColon@1133..1135 "::"
                      Ident@1135..1144 "Operation"
                      ColonColon@1144..1146 "::"
                      Ident@1146..1153 "Receive"
                  ARG_LIST@1153..1171
                    LParen@1153..1154 "("
                    ARG@1154..1170
                      EXPR_CALL@1154..1170
                        EXPR_BINARY@1154..1168
                          EXPR_IDENT@1154..1159
                            PATH@1154..1159
                              Ident@1154..1159 "empty"
                          Dot@1159..1160 "."
                          EXPR_IDENT@1160..1168
                            PATH@1160..1168
                              Ident@1160..1168 "receiver"
                        ARG_LIST@1168..1170
                          LParen@1168..1169 "("
                          RParen@1169..1170 ")"
                    RParen@1170..1171 ")"
                Comma@1171..1172 ","
                Whitespace@1172..1185 "\n            "
                EXPR_CALL@1185..1230
                  EXPR_IDENT@1185..1209
                    PATH@1185..1209
                      Ident@1185..1192 "channel"
                      ColonColon@1192..1194 "::"
                      Ident@1194..1203 "Operation"
                      ColonColon@1203..1205 "::"
                      Ident@1205..1209 "Send"
                  ARG_LIST@1209..1230
                    LParen@1209..1210 "("
                    ARG@1210..1227
                      EXPR_CALL@1210..1225
                        EXPR_BINARY@1210..1223
                          EXPR_IDENT@1210..1216
                            PATH@1210..1216
                              Ident@1210..1216 "target"
                          Dot@1216..1217 "."
                          EXPR_IDENT@1217..1223
                            PATH@1217..1223
                              Ident@1217..1223 "sender"
                        ARG_LIST@1223..1225
                          LParen@1223..1224 "("
                          RParen@1224..1225 ")"
                      Comma@1225..1226 ","
                      Whitespace@1226..1227 " "
                    ARG@1227..1229
                      EXPR_INT@1227..1229
                        Int@1227..1229 "30"
                    RParen@1229..1230 ")"
                Comma@1230..1231 ","
                Whitespace@1231..1240 "\n        "
                RBracket@1240..1241 "]"
              Comma@1241..1242 ","
              Whitespace@1242..1247 "\n    "
            RParen@1247..1248 ")"
        Semi@1248..1249 ";"
        Whitespace@1249..1254 "\n    "
      STMT_EXPR@1254..1395
        EXPR_MATCH@1254..1389
          MatchKeyword@1254..1259 "match"
          Whitespace@1259..1260 " "
          EXPR_CALL@1260..1306
            EXPR_IDENT@1260..1275
              PATH@1260..1275
                Ident@1260..1267 "channel"
                ColonColon@1267..1269 "::"
                Ident@1269..1275 "select"
            ARG_LIST@1275..1306
              LParen@1275..1276 "("
              ARG@1276..1304
                EXPR_CALL@1276..1304
                  EXPR_IDENT@1276..1281
                    PATH@1276..1281
                      Ident@1276..1281 "slice"
                  ARG_LIST@1281..1304
                    LParen@1281..1282 "("
                    ARG@1282..1289
                      EXPR_IDENT@1282..1287
                        PATH@1282..1287
                          Ident@1282..1287 "mixed"
                      Comma@1287..1288 ","
                      Whitespace@1288..1289 " "
                    ARG@1289..1292
                      EXPR_INT@1289..1290
                        Int@1289..1290 "0"
                      Comma@1290..1291 ","
                      Whitespace@1291..1292 " "
                    ARG@1292..1303
                      EXPR_CALL@1292..1303
                        EXPR_BINARY@1292..1301
                          EXPR_IDENT@1292..1297
                            PATH@1292..1297
                              Ident@1292..1297 "mixed"
                          Dot@1297..1298 "."
                          EXPR_IDENT@1298..1301
                            PATH@1298..1301
                              Ident@1298..1301 "len"
                        ARG_LIST@1301..1303
                          LParen@1301..1302 "("
                          RParen@1302..1303 ")"
                    RParen@1303..1304 ")"
              RParen@1304..1305 ")"
              Whitespace@1305..1306 " "
          MATCH_ARM_LIST@1306..1389
            LBrace@1306..1307 "{"
            Whitespace@1307..1316 "\n        "
            MATCH_ARM@1316..1351
              PATTERN_CONSTR@1316..1326
                PATH@1316..1318
                  Ident@1316..1318 "Ok"
                LParen@1318..1319 "("
                PATTERN_VARIABLE@1319..1324
                  Ident@1319..1324 "value"
                RParen@1324..1325 ")"
                Whitespace@1325..1326 " "
              FatArrow@1326..1328 "=>"
              Whitespace@1328..1329 " "
              EXPR_CALL@1329..1351
                EXPR_IDENT@1329..1344
                  PATH@1329..1344
                    Ident@1329..1344 "print_selection"
                ARG_LIST@1344..1351
                  LParen@1344..1345 "("
                  ARG@1345..1350
                    EXPR_IDENT@1345..1350
                      PATH@1345..1350
                        Ident@1345..1350 "value"
                  RParen@1350..1351 ")"
            Comma@1351..1352 ","
            Whitespace@1352..1361 "\n        "
            MATCH_ARM@1361..1382
              PATTERN_CONSTR@1361..1368
                PATH@1361..1364
                  Ident@1361..1364 "Err"
                LParen@1364..1365 "("
                PATTERN_WILDCARD@1365..1366
                  WildcardKeyword@1365..1366 "_"
                RParen@1366..1367 ")"
                Whitespace@1367..1368 " "
              FatArrow@1368..1370 "=>"
              Whitespace@1370..1371 " "
              EXPR_CALL@1371..1382
                EXPR_IDENT@1371..1378
                  PATH@1371..1378
                    Ident@1371..1378 "println"
                ARG_LIST@1378..1382
                  LParen@1378..1379 "("
                  ARG@1379..1381
                    EXPR_PREFIX@1379..1381
                      Minus@1379..1380 "-"
                      EXPR_INT@1380..1381
                        Int@1380..1381 "3"
                  RParen@1381..1382 ")"
            Comma@1382..1383 ","
            Whitespace@1383..1388 "\n    "
            RBrace@1388..1389 "}"
        Semi@1389..1390 ";"
        Whitespace@1390..1395 "\n    "
      STMT_EXPR@1395..1437
        EXPR_CALL@1395..1431
          EXPR_IDENT@1395..1402
            PATH@1395..1402
              Ident@1395..1402 "println"
          ARG_LIST@1402..1431
            LParen@1402..1403 "("
            ARG@1403..1430
              EXPR_CALL@1403..1430
                EXPR_BINARY@1403..1426
                  EXPR_CALL@1403..1416
                    EXPR_BINARY@1403..1414
                      EXPR_IDENT@1403..1409
                        PATH@1403..1409
                          Ident@1403..1409 "target"
                      Dot@1409..1410 "."
                      EXPR_IDENT@1410..1414
                        PATH@1410..1414
                          Ident@1410..1414 "recv"
                    ARG_LIST@1414..1416
                      LParen@1414..1415 "("
                      RParen@1415..1416 ")"
                  Dot@1416..1417 "."
                  EXPR_IDENT@1417..1426
                    PATH@1417..1426
                      Ident@1417..1426 "unwrap_or"
                ARG_LIST@1426..1430
                  LParen@1426..1427 "("
                  ARG@1427..1429
                    EXPR_PREFIX@1427..1429
                      Minus@1427..1428 "-"
                      EXPR_INT@1428..1429
                        Int@1428..1429 "4"
                  RParen@1429..1430 ")"
            RParen@1430..1431 ")"
        Semi@1431..1432 ";"
        Whitespace@1432..1437 "\n    "
      STMT_LET@1437..1518
        LetKeyword@1437..1440 "let"
        Whitespace@1440..1441 " "
        PATTERN_VARIABLE@1441..1446
          Ident@1441..1445 "none"
          Whitespace@1445..1446 " "
        Eq@1446..1447 "="
        Whitespace@1447..1448 " "
        EXPR_CALL@1448..1512
          EXPR_IDENT@1448..1463
            PATH@1448..1463
              Ident@1448..1451 "Vec"
              ColonColon@1451..1453 "::"
              Ident@1453..1463 "from_array"
          ARG_LIST@1463..1512
            LParen@1463..1464 "("
            ARG@1464..1511
              EXPR_ARRAY_LITERAL@1464..1511
                LBracket@1464..1465 "["
                EXPR_CALL@1465..1510
                  EXPR_IDENT@1465..1492
                    PATH@1465..1492
                      Ident@1465..1472 "channel"
                      ColonColon@1472..1474 "::"
                      Ident@1474..1483 "Operation"
                      ColonColon@1483..1485 "::"
                      Ident@1485..1492 "Receive"
                  ARG_LIST@1492..1510
                    LParen@1492..1493 "("
                    ARG@1493..1509
                      EXPR_CALL@1493..1509
                        EXPR_BINARY@1493..1507
                          EXPR_IDENT@1493..1498
                            PATH@1493..1498
                              Ident@1493..1498 "empty"
                          Dot@1498..1499 "."
                          EXPR_IDENT@1499..1507
                            PATH@1499..1507
                              Ident@1499..1507 "receiver"
                        ARG_LIST@1507..1509
                          LParen@1507..1508 "("
                          RParen@1508..1509 ")"
                    RParen@1509..1510 ")"
                RBracket@1510..1511 "]"
            RParen@1511..1512 ")"
        Semi@1512..1513 ";"
        Whitespace@1513..1518 "\n    "
      STMT_EXPR@1518..1662
        EXPR_CALL@1518..1656
          EXPR_IDENT@1518..1525
            PATH@1518..1525
              Ident@1518..1525 "println"
          ARG_LIST@1525..1656
            LParen@1525..1526 "("
            Whitespace@1526..1535 "\n        "
            ARG@1535..1655
              EXPR_MATCH@1535..1649
                MatchKeyword@1535..1540 "match"
                Whitespace@1540..1541 " "
                EXPR_CALL@1541..1589
                  EXPR_IDENT@1541..1560
                    PATH@1541..1560
                      Ident@1541..1548 "channel"
                      ColonColon@1548..1550 "::"
                      Ident@1550..1560 "try_select"
                  ARG_LIST@1560..1589
                    LParen@1560..1561 "("
                    ARG@1561..1587
                      EXPR_CALL@1561..1587
                        EXPR_IDENT@1561..1566
                          PATH@1561..1566
                            Ident@1561..1566 "slice"
                        ARG_LIST@1566..1587
                          LParen@1566..1567 "("
                          ARG@1567..1573
                            EXPR_IDENT@1567..1571
                              PATH@1567..1571
                                Ident@1567..1571 "none"
                            Comma@1571..1572 ","
                            Whitespace@1572..1573 " "
                          ARG@1573..1576
                            EXPR_INT@1573..1574
                              Int@1573..1574 "0"
                            Comma@1574..1575 ","
                            Whitespace@1575..1576 " "
                          ARG@1576..1586
                            EXPR_CALL@1576..1586
                              EXPR_BINARY@1576..1584
                                EXPR_IDENT@1576..1580
                                  PATH@1576..1580
                                    Ident@1576..1580 "none"
                                Dot@1580..1581 "."
                                EXPR_IDENT@1581..1584
                                  PATH@1581..1584
                                    Ident@1581..1584 "len"
                              ARG_LIST@1584..1586
                                LParen@1584..1585 "("
                                RParen@1585..1586 ")"
                          RParen@1586..1587 ")"
                    RParen@1587..1588 ")"
                    Whitespace@1588..1589 " "
                MATCH_ARM_LIST@1589..1649
                  LBrace@1589..1590 "{"
                  Whitespace@1590..1603 "\n            "
                  MATCH_ARM@1603..1617
                    PATTERN_CONSTR@1603..1612
                      PATH@1603..1605
                        Ident@1603..1605 "Ok"
                      LParen@1605..1606 "("
                      PATTERN_CONSTR@1606..1610
                        PATH@1606..1610
                          Ident@1606..1610 "None"
                      RParen@1610..1611 ")"
                      Whitespace@1611..1612 " "
                    FatArrow@1612..1614 "=>"
                    Whitespace@1614..1615 " "
                    EXPR_INT@1615..1617
                      Int@1615..1617 "40"
                  Comma@1617..1618 ","
                  Whitespace@1618..1631 "\n            "
                  MATCH_ARM@1631..1638
                    PATTERN_WILDCARD@1631..1633
                      WildcardKeyword@1631..1632 "_"
                      Whitespace@1632..1633 " "
                    FatArrow@1633..1635 "=>"
                    Whitespace@1635..1636 " "
                    EXPR_PREFIX@1636..1638
                      Minus@1636..1637 "-"
                      EXPR_INT@1637..1638
                        Int@1637..1638 "5"
                  Comma@1638..1639 ","
                  Whitespace@1639..1648 "\n        "
                  RBrace@1648..1649 "}"
              Comma@1649..1650 ","
              Whitespace@1650..1655 "\n    "
            RParen@1655..1656 ")"
        Semi@1656..1657 ";"
        Whitespace@1657..1662 "\n    "
      STMT_LET@1662..1730
        LetKeyword@1662..1665 "let"
        Whitespace@1665..1666 " "
        PATTERN_VARIABLE@1666..1679
          Ident@1666..1679 "no_operations"
        Colon@1679..1680 ":"
        Whitespace@1680..1681 " "
        TYPE_TAPP@1681..1712
          PATH@1681..1684
            Ident@1681..1684 "Vec"
          TYPE_PARAM_LIST@1684..1712
            LBracket@1684..1685 "["
            TYPE_TAPP@1685..1710
              PATH@1685..1703
                Ident@1685..1692 "channel"
                ColonColon@1692..1694 "::"
                Ident@1694..1703 "Operation"
              TYPE_PARAM_LIST@1703..1710
                LBracket@1703..1704 "["
                TYPE_INT@1704..1709
                  IsizeKeyword@1704..1709 "isize"
                RBracket@1709..1710 "]"
            RBracket@1710..1711 "]"
            Whitespace@1711..1712 " "
        Eq@1712..1713 "="
        Whitespace@1713..1714 " "
        EXPR_CALL@1714..1724
          EXPR_IDENT@1714..1722
            PATH@1714..1722
              Ident@1714..1717 "Vec"
              ColonColon@1717..1719 "::"
              Ident@1719..1722 "new"
          ARG_LIST@1722..1724
            LParen@1722..1723 "("
            RParen@1723..1724 ")"
        Semi@1724..1725 ";"
        Whitespace@1725..1730 "\n    "
      EXPR_CALL@1730..1907
        EXPR_IDENT@1730..1737
          PATH@1730..1737
            Ident@1730..1737 "println"
        ARG_LIST@1737..1907
          LParen@1737..1738 "("
          Whitespace@1738..1747 "\n        "
          ARG@1747..1905
            EXPR_MATCH@1747..1899
              MatchKeyword@1747..1752 "match"
              Whitespace@1752..1753 " "
              EXPR_CALL@1753..1815
                EXPR_IDENT@1753..1768
                  PATH@1753..1768
                    Ident@1753..1760 "channel"
                    ColonColon@1760..1762 "::"
                    Ident@1762..1768 "select"
                ARG_LIST@1768..1815
                  LParen@1768..1769 "("
                  ARG@1769..1813
                    EXPR_CALL@1769..1813
                      EXPR_IDENT@1769..1774
                        PATH@1769..1774
                          Ident@1769..1774 "slice"
                      ARG_LIST@1774..1813
                        LParen@1774..1775 "("
                        ARG@1775..1790
                          EXPR_IDENT@1775..1788
                            PATH@1775..1788
                              Ident@1775..1788 "no_operations"
                          Comma@1788..1789 ","
                          Whitespace@1789..1790 " "
                        ARG@1790..1793
                          EXPR_INT@1790..1791
                            Int@1790..1791 "0"
                          Comma@1791..1792 ","
                          Whitespace@1792..1793 " "
                        ARG@1793..1812
                          EXPR_CALL@1793..1812
                            EXPR_BINARY@1793..1810
                              EXPR_IDENT@1793..1806
                                PATH@1793..1806
                                  Ident@1793..1806 "no_operations"
                              Dot@1806..1807 "."
                              EXPR_IDENT@1807..1810
                                PATH@1807..1810
                                  Ident@1807..1810 "len"
                            ARG_LIST@1810..1812
                              LParen@1810..1811 "("
                              RParen@1811..1812 ")"
                        RParen@1812..1813 ")"
                  RParen@1813..1814 ")"
                  Whitespace@1814..1815 " "
              MATCH_ARM_LIST@1815..1899
                LBrace@1815..1816 "{"
                Whitespace@1816..1829 "\n            "
                MATCH_ARM@1829..1867
                  PATTERN_CONSTR@1829..1862
                    PATH@1829..1832
                      Ident@1829..1832 "Err"
                    LParen@1832..1833 "("
                    PATTERN_CONSTR@1833..1860
                      PATH@1833..1860
                        Ident@1833..1840 "channel"
                        ColonColon@1840..1842 "::"
                        Ident@1842..1853 "SelectError"
                        ColonColon@1853..1855 "::"
                        Ident@1855..1860 "Empty"
                    RParen@1860..1861 ")"
                    Whitespace@1861..1862 " "
                  FatArrow@1862..1864 "=>"
                  Whitespace@1864..1865 " "
                  EXPR_INT@1865..1867
                    Int@1865..1867 "50"
                Comma@1867..1868 ","
                Whitespace@1868..1881 "\n            "
                MATCH_ARM@1881..1888
                  PATTERN_WILDCARD@1881..1883
                    WildcardKeyword@1881..1882 "_"
                    Whitespace@1882..1883 " "
                  FatArrow@1883..1885 "=>"
                  Whitespace@1885..1886 " "
                  EXPR_PREFIX@1886..1888
                    Minus@1886..1887 "-"
                    EXPR_INT@1887..1888
                      Int@1887..1888 "6"
                Comma@1888..1889 ","
                Whitespace@1889..1898 "\n        "
                RBrace@1898..1899 "}"
            Comma@1899..1900 ","
            Whitespace@1900..1905 "\n    "
          RParen@1905..1906 ")"
          Whitespace@1906..1907 "\n"
      RBrace@1907..1908 "}"
      Whitespace@1908..1909 "\n"