FILE@0..1913
  USE@0..19
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..16
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..16 "channel"
    Semi@16..17 ";"
    Whitespace@17..19 "\n\n"
  FN@19..310
    FnKeyword@19..21 "fn"
    Whitespace@21..22 " "
    Ident@22..37 "print_selection"
    PARAM_LIST@37..72
      LParen@37..38 "("
      PARAM@38..70
        Ident@38..43 "value"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_TAPP@45..70
          PATH@45..63
            Ident@45..52 "channel"
            ColonColon@52..54 "::"
            Ident@54..63 "Selection"
          TYPE_PARAM_LIST@63..70
            LBracket@63..64 "["
            TYPE_INT@64..69
              IsizeKeyword@64..69 "isize"
            RBracket@69..70 "]"
      RParen@70..71 ")"
      Whitespace@71..72 " "
    Arrow@72..74 "->"
    Whitespace@74..75 " "
    TYPE_UNIT@75..80
      UnitKeyword@75..79 "unit"
      Whitespace@79..80 " "
    BLOCK@80..310
      LBrace@80..81 "{"
      Whitespace@81..86 "\n    "
      EXPR_MATCH@86..307
        MatchKeyword@86..91 "match"
        Whitespace@91..92 " "
        EXPR_IDENT@92..98
          PATH@92..98
            Ident@92..97 "value"
            Whitespace@97..98 " "
        MATCH_ARM_LIST@98..307
          LBrace@98..99 "{"
          Whitespace@99..108 "\n        "
          MATCH_ARM@108..237
            PATTERN_CONSTR@108..154
              PATH@108..137
                Ident@108..115 "channel"
                ColonColon@115..117 "::"
                Ident@117..126 "Selection"
                ColonColon@126..128 "::"
                Ident@128..136 "Received"
                Whitespace@136..137 " "
              STRUCT_PATTERN_FIELD_LIST@137..154
                LBrace@137..138 "{"
                Whitespace@138..139 " "
                STRUCT_PATTERN_FIELD@139..144
                  Ident@139..144 "index"
                Comma@144..145 ","
                Whitespace@145..146 " "
                STRUCT_PATTERN_FIELD@146..152
                  Ident@146..151 "value"
                  Whitespace@151..152 " "
                RBrace@152..153 "}"
                Whitespace@153..154 " "
            FatArrow@154..156 "=>"
            Whitespace@156..157 " "
            BLOCK@157..237
              LBrace@157..158 "{"
              Whitespace@158..171 "\n            "
              STMT_EXPR@171..199
                EXPR_CALL@171..185
                  EXPR_IDENT@171..178
                    PATH@171..178
                      Ident@171..178 "println"
                  ARG_LIST@178..185
                    LParen@178..179 "("
                    ARG@179..184
                      EXPR_IDENT@179..184
                        PATH@179..184
                          Ident@179..184 "index"
                    RParen@184..185 ")"
                Semi@185..186 ";"
                Whitespace@186..199 "\n            "
              EXPR_CALL@199..236
                EXPR_IDENT@199..206
                  PATH@199..206
                    Ident@199..206 "println"
                ARG_LIST@206..236
                  LParen@206..207 "("
                  ARG@207..226
                    EXPR_CALL@207..226
                      EXPR_BINARY@207..222
                        EXPR_IDENT@207..212
                          PATH@207..212
                            Ident@207..212 "value"
                        Dot@212..213 "."
                        EXPR_IDENT@213..222
                          PATH@213..222
                            Ident@213..222 "unwrap_or"
                      ARG_LIST@222..226
                        LParen@222..223 "("
                        ARG@223..225
                          EXPR_PREFIX@223..225
                            Minus@223..224 "-"
                            EXPR_INT@224..225
                              Int@224..225 "1"
                        RParen@225..226 ")"
                  RParen@226..227 ")"
                  Whitespace@227..236 "\n        "
              RBrace@236..237 "}"
          Comma@237..238 ","
          Whitespace@238..247 "\n        "
          MATCH_ARM@247..299
            PATTERN_CONSTR@247..282
              PATH@247..272
                Ident@247..254 "channel"
                ColonColon@254..256 "::"
                Ident@256..265 "Selection"
                ColonColon@265..267 "::"
                Ident@267..271 "Sent"
                Whitespace@271..272 " "
              STRUCT_PATTERN_FIELD_LIST@272..282
                LBrace@272..273 "{"
                Whitespace@273..274 " "
                STRUCT_PATTERN_FIELD@274..280
                  Ident@274..279 "index"
                  Whitespace@279..280 " "
                RBrace@280..281 "}"
                Whitespace@281..282 " "
            FatArrow@282..284 "=>"
            Whitespace@284..285 " "
            EXPR_CALL@285..299
              EXPR_IDENT@285..292
                PATH@285..292
                  Ident@285..292 "println"
              ARG_LIST@292..299
                LParen@292..293 "("
                ARG@293..298
                  EXPR_IDENT@293..298
                    PATH@293..298
                      Ident@293..298 "index"
                RParen@298..299 ")"
          Comma@299..300 ","
          Whitespace@300..305 "\n    "
          RBrace@305..306 "}"
          Whitespace@306..307 "\n"
      RBrace@307..308 "}"
      Whitespace@308..310 "\n\n"
  FN@310..1913
    FnKeyword@310..312 "fn"
    Whitespace@312..313 " "
    Ident@313..317 "main"
    PARAM_LIST@317..320
      LParen@317..318 "("
      RParen@318..319 ")"
      Whitespace@319..320 " "
    Arrow@320..322 "->"
    Whitespace@322..323 " "
    TYPE_UNIT@323..328
      UnitKeyword@323..327 "unit"
      Whitespace@327..328 " "
    BLOCK@328..1913
      LBrace@328..329 "{"
      Whitespace@329..334 "\n    "
      STMT_LET@334..383
        LetKeyword@334..337 "let"
        Whitespace@337..338 " "
        PATTERN_VARIABLE@338..343
          Ident@338..343 "first"
        Colon@343..344 ":"
        Whitespace@344..345 " "
        TYPE_TAPP@345..360
          PATH@345..352
            Ident@345..352 "Channel"
          TYPE_PARAM_LIST@352..360
            LBracket@352..353 "["
            TYPE_INT@353..358
              IsizeKeyword@353..358 "isize"
            RBracket@358..359 "]"
            Whitespace@359..360 " "
        Eq@360..361 "="
        Whitespace@361..362 " "
        EXPR_CALL@362..377
          EXPR_IDENT@362..374
            PATH@362..374
              Ident@362..369 "Channel"
              ColonColon@369..371 "::"
              Ident@371..374 "new"
          ARG_LIST@374..377
            LParen@374..375 "("
            ARG@375..376
              EXPR_INT@375..376
                Int@375..376 "1"
            RParen@376..377 ")"
        Semi@377..378 ";"
        Whitespace@378..383 "\n    "
      STMT_LET@383..433
        LetKeyword@383..386 "let"
        Whitespace@386..387 " "
        PATTERN_VARIABLE@387..393
          Ident@387..393 "second"
        Colon@393..394 ":"
        Whitespace@394..395 " "
        TYPE_TAPP@395..410
          PATH@395..402
            Ident@395..402 "Channel"
          TYPE_PARAM_LIST@402..410
            LBracket@402..403 "["
            TYPE_INT@403..408
              IsizeKeyword@403..408 "isize"
            RBracket@408..409 "]"
            Whitespace@409..410 " "
        Eq@410..411 "="
        Whitespace@411..412 " "
        EXPR_CALL@412..427
          EXPR_IDENT@412..424
            PATH@412..424
              Ident@412..419 "Channel"
              ColonColon@419..421 "::"
              Ident@421..424 "new"
          ARG_LIST@424..427
            LParen@424..425 "("
            ARG@425..426
              EXPR_INT@425..426
                Int@425..426 "1"
            RParen@426..427 ")"
        Semi@427..428 ";"
        Whitespace@428..433 "\n    "
      STMT_EXPR@433..453
        EXPR_CALL@433..447
          EXPR_BINARY@433..443
            EXPR_IDENT@433..438
              PATH@433..438
                Ident@433..438 "first"
            Dot@438..439 "."
            EXPR_IDENT@439..443
              PATH@439..443
                Ident@439..443 "send"
          ARG_LIST@443..447
            LParen@443..444 "("
            ARG@444..446
              EXPR_INT@444..446
                Int@444..446 "10"
            RParen@446..447 ")"
        Semi@447..448 ";"
        Whitespace@448..453 "\n    "
      STMT_EXPR@453..474
        EXPR_CALL@453..468
          EXPR_BINARY@453..464
            EXPR_IDENT@453..459
              PATH@453..459
                Ident@453..459 "second"
            Dot@459..460 "."
            EXPR_IDENT@460..464
              PATH@460..464
                Ident@460..464 "send"
          ARG_LIST@464..468
            LParen@464..465 "("
            ARG@465..467
              EXPR_INT@465..467
                Int@465..467 "20"
            RParen@467..468 ")"
        Semi@468..469 ";"
        Whitespace@469..474 "\n    "
      STMT_LET@474..659
        LetKeyword@474..477 "let"
        Whitespace@477..478 " "
        PATTERN_VARIABLE@478..489
          Ident@478..488 "operations"
          Whitespace@488..489 " "
        Eq@489..490 "="
        Whitespace@490..491 " "
        EXPR_CALL@491..653
          EXPR_IDENT@491..506
            PATH@491..506
              Ident@491..494 "Vec"
              ColonColon@494..496 "::"
              Ident@496..506 "from_array"
          ARG_LIST@506..653
            LParen@506..507 "("
            Whitespace@507..516 "\n        "
            ARG@516..652
              EXPR_ARRAY_LITERAL@516..646
                LBracket@516..517 "["
                Whitespace@517..530 "\n            "
                EXPR_CALL@530..575
                  EXPR_IDENT@530..557
                    PATH@530..557
                      Ident@530..537 "channel"
                      ColonColon@537..539 "::"
                      Ident@539..548 "Operation"
                      ColonColon@548..550 "::"
                      Ident@550..557 "Receive"
                  ARG_LIST@557..575
                    LParen@557..558 "("
                    ARG@558..574
                      EXPR_CALL@558..574
                        EXPR_BINARY@558..572
                          EXPR_IDENT@558..563
                            PATH@558..563
                              Ident@558..563 "first"
                          Dot@563..564 "."
                          EXPR_IDENT@564..572
                            PATH@564..572
                              Ident@564..572 "receiver"
                        ARG_LIST@572..574
                          LParen@572..573 "("
                          RParen@573..574 ")"
                    RParen@574..575 ")"
                Comma@575..576 ","
                Whitespace@576..589 "\n            "
                EXPR_CALL@589..635
                  EXPR_IDENT@589..616
                    PATH@589..616
                      Ident@589..596 "channel"
                      ColonColon@596..598 "::"
                      Ident@598..607 "Operation"
                      ColonColon@607..609 "::"
                      Ident@609..616 "Receive"
                  ARG_LIST@616..635
                    LParen@616..617 "("
                    ARG@617..634
                      EXPR_CALL@617..634
                        EXPR_BINARY@617..632
                          EXPR_IDENT@617..623
                            PATH@617..623
                              Ident@617..623 "second"
                          Dot@623..624 "."
                          EXPR_IDENT@624..632
                            PATH@624..632
                              Ident@624..632 "receiver"
                        ARG_LIST@632..634
                          LParen@632..633 "("
                          RParen@633..634 ")"
                    RParen@634..635 ")"
                Comma@635..636 ","
                Whitespace@636..645 "\n        "
                RBracket@645..646 "]"
              Comma@646..647 ","
              Whitespace@647..652 "\n    "
            RParen@652..653 ")"
        Semi@653..654 ";"
        Whitespace@654..659 "\n    "
      STMT_EXPR@659..824
        EXPR_MATCH@659..818
          MatchKeyword@659..664 "match"
          Whitespace@664..665 " "
          EXPR_CALL@665..734
            EXPR_IDENT@665..693
              PATH@665..693
                Ident@665..672 "channel"
                ColonColon@672..674 "::"
                Ident@674..693 "try_select_priority"
            ARG_LIST@693..734
              LParen@693..694 "("
              ARG@694..732
                EXPR_CALL@694..732
                  EXPR_IDENT@694..699
                    PATH@694..699
                      Ident@694..699 "slice"
                  ARG_LIST@699..732
                    LParen@699..700 "("
                    ARG@700..712
                      EXPR_IDENT@700..710
                        PATH@700..710
                          Ident@700..710 "operations"
                      Comma@710..711 ","
                      Whitespace@711..712 " "
                    ARG@712..715
                      EXPR_INT@712..713
                        Int@712..713 "0"
                      Comma@713..714 ","
                      Whitespace@714..715 " "
                    ARG@715..731
                      EXPR_CALL@715..731
                        EXPR_BINARY@715..729
                          EXPR_IDENT@715..725
                            PATH@715..725
                              Ident@715..725 "operations"
                          Dot@725..726 "."
                          EXPR_IDENT@726..729
                            PATH@726..729
                              Ident@726..729 "len"
                        ARG_LIST@729..731
                          LParen@729..730 "("
                          RParen@730..731 ")"
                    RParen@731..732 ")"
              RParen@732..733 ")"
              Whitespace@733..734 " "
          MATCH_ARM_LIST@734..818
            LBrace@734..735 "{"
            Whitespace@735..744 "\n        "
            MATCH_ARM@744..785
              PATTERN_CONSTR@744..760
                PATH@744..746
                  Ident@744..746 "Ok"
                LParen@746..747 "("
                PATTERN_CONSTR@747..758
                  PATH@747..751
                    Ident@747..751 "Some"
                  LParen@751..752 "("
                  PATTERN_VARIABLE@752..757
                    Ident@752..757 "value"
                  RParen@757..758 ")"
                RParen@758..759 ")"
                Whitespace@759..760 " "
              FatArrow@760..762 "=>"
              Whitespace@762..763 " "
              EXPR_CALL@763..785
                EXPR_IDENT@763..778
                  PATH@763..778
                    Ident@763..778 "print_selection"
                ARG_LIST@778..785
                  LParen@778..779 "("
                  ARG@779..784
                    EXPR_IDENT@779..784
                      PATH@779..784
                        Ident@779..784 "value"
                  RParen@784..785 ")"
            Comma@785..786 ","
            Whitespace@786..795 "\n        "
            MATCH_ARM@795..811
              PATTERN_WILDCARD@795..797
                WildcardKeyword@795..796 "_"
                Whitespace@796..797 " "
              FatArrow@797..799 "=>"
              Whitespace@799..800 " "
              EXPR_CALL@800..811
                EXPR_IDENT@800..807
                  PATH@800..807
                    Ident@800..807 "println"
                ARG_LIST@807..811
                  LParen@807..808 "("
                  ARG@808..810
                    EXPR_PREFIX@808..810
                      Minus@808..809 "-"
                      EXPR_INT@809..810
                        Int@809..810 "1"
                  RParen@810..811 ")"
            Comma@811..812 ","
            Whitespace@812..817 "\n    "
            RBrace@817..818 "}"
        Semi@818..819 ";"
        Whitespace@819..824 "\n    "
      STMT_EXPR@824..980
        EXPR_MATCH@824..974
          MatchKeyword@824..829 "match"
          Whitespace@829..830 " "
          EXPR_CALL@830..890
            EXPR_IDENT@830..849
              PATH@830..849
                Ident@830..837 "channel"
                ColonColon@837..839 "::"
                Ident@839..849 "try_select"
            ARG_LIST@849..890
              LParen@849..850 "("
              ARG@850..888
                EXPR_CALL@850..888
                  EXPR_IDENT@850..855
                    PATH@850..855
                      Ident@850..855 "slice"
                  ARG_LIST@855..888
                    LParen@855..856 "("
                    ARG@856..868
                      EXPR_IDENT@856..866
                        PATH@856..866
                          Ident@856..866 "operations"
                      Comma@866..867 ","
                      Whitespace@867..868 " "
                    ARG@868..871
                      EXPR_INT@868..869
                        Int@868..869 "0"
                      Comma@869..870 ","
                      Whitespace@870..871 " "
                    ARG@871..887
                      EXPR_CALL@871..887
                        EXPR_BINARY@871..885
                          EXPR_IDENT@871..881
                            PATH@871..881
                              Ident@871..881 "operations"
                          Dot@881..882 "."
                          EXPR_IDENT@882..885
                            PATH@882..885
                              Ident@882..885 "len"
                        ARG_LIST@885..887
                          LParen@885..886 "("
                          RParen@886..887 ")"
                    RParen@887..888 ")"
              RParen@888..889 ")"
              Whitespace@889..890 " "
          MATCH_ARM_LIST@890..974
            LBrace@890..891 "{"
            Whitespace@891..900 "\n        "
            MATCH_ARM@900..941
              PATTERN_CONSTR@900..916
                PATH@900..902
                  Ident@900..902 "Ok"
                LParen@902..903 "("
                PATTERN_CONSTR@903..914
                  PATH@903..907
                    Ident@903..907 "Some"
                  LParen@907..908 "("
                  PATTERN_VARIABLE@908..913
                    Ident@908..913 "value"
                  RParen@913..914 ")"
                RParen@914..915 ")"
                Whitespace@915..916 " "
              FatArrow@916..918 "=>"
              Whitespace@918..919 " "
              EXPR_CALL@919..941
                EXPR_IDENT@919..934
                  PATH@919..934
                    Ident@919..934 "print_selection"
                ARG_LIST@934..941
                  LParen@934..935 "("
                  ARG@935..940
                    EXPR_IDENT@935..940
                      PATH@935..940
                        Ident@935..940 "value"
                  RParen@940..941 ")"
            Comma@941..942 ","
            Whitespace@942..951 "\n        "
            MATCH_ARM@951..967
              PATTERN_WILDCARD@951..953
                WildcardKeyword@951..952 "_"
                Whitespace@952..953 " "
              FatArrow@953..955 "=>"
              Whitespace@955..956 " "
              EXPR_CALL@956..967
                EXPR_IDENT@956..963
                  PATH@956..963
                    Ident@956..963 "println"
                ARG_LIST@963..967
                  LParen@963..964 "("
                  ARG@964..966
                    EXPR_PREFIX@964..966
                      Minus@964..965 "-"
                      EXPR_INT@965..966
                        Int@965..966 "2"
                  RParen@966..967 ")"
            Comma@967..968 ","
            Whitespace@968..973 "\n    "
            RBrace@973..974 "}"
        Semi@974..975 ";"
        Whitespace@975..980 "\n    "
      STMT_LET@980..1029
        LetKeyword@980..983 "let"
        Whitespace@983..984 " "
        PATTERN_VARIABLE@984..989
          Ident@984..989 "empty"
        Colon@989..990 ":"
        Whitespace@990..991 " "
        TYPE_TAPP@991..1006
          PATH@991..998
            Ident@991..998 "Channel"
          TYPE_PARAM_LIST@998..1006
            LBracket@998..999 "["
            TYPE_INT@999..1004
              IsizeKeyword@999..1004 "isize"
            RBracket@1004..1005 "]"
            Whitespace@1005..1006 " "
        Eq@1006..1007 "="
        Whitespace@1007..1008 " "
        EXPR_CALL@1008..1023
          EXPR_IDENT@1008..1020
            PATH@1008..1020
              Ident@1008..1015 "Channel"
              ColonColon@1015..1017 "::"
              Ident@1017..1020 "new"
          ARG_LIST@1020..1023
            LParen@1020..1021 "("
            ARG@1021..1022
              EXPR_INT@1021..1022
                Int@1021..1022 "0"
            RParen@1022..1023 ")"
        Semi@1023..1024 ";"
        Whitespace@1024..1029 "\n    "
      STMT_LET@1029..1079
        LetKeyword@1029..1032 "let"
        Whitespace@1032..1033 " "
        PATTERN_VARIABLE@1033..1039
          Ident@1033..1039 "target"
        Colon@1039..1040 ":"
        Whitespace@1040..1041 " "
        TYPE_TAPP@1041..1056
          PATH@1041..1048
            Ident@1041..1048 "Channel"
          TYPE_PARAM_LIST@1048..1056
            LBracket@1048..1049 "["
            TYPE_INT@1049..1054
              IsizeKeyword@1049..1054 "isize"
            RBracket@1054..1055 "]"
            Whitespace@1055..1056 " "
        Eq@1056..1057 "="
        Whitespace@1057..1058 " "
        EXPR_CALL@1058..1073
          EXPR_IDENT@1058..1070
            PATH@1058..1070
              Ident@1058..1065 "Channel"
              ColonColon@1065..1067 "::"
              Ident@1067..1070 "new"
          ARG_LIST@1070..1073
            LParen@1070..1071 "("
            ARG@1071..1072
              EXPR_INT@1071..1072
                Int@1071..1072 "1"
            RParen@1072..1073 ")"
        Semi@1073..1074 ";"
        Whitespace@1074..1079 "\n    "
      STMT_LET@1079..1258
        LetKeyword@1079..1082 "let"
        Whitespace@1082..1083 " "
        PATTERN_VARIABLE@1083..1089
          Ident@1083..1088 "mixed"
          Whitespace@1088..1089 " "
        Eq@1089..1090 "="
        Whitespace@1090..1091 " "
        EXPR_CALL@1091..1252
          EXPR_IDENT@1091..1106
            PATH@1091..1106
              Ident@1091..1094 "Vec"
              ColonColon@1094..1096 "::"
              Ident@1096..1106 "from_array"
          ARG_LIST@1106..1252
            LParen@1106..1107 "("
            Whitespace@1107..1116 "\n        "
            ARG@1116..1251
              EXPR_ARRAY_LITERAL@1116..1245
                LBracket@1116..1117 "["
                Whitespace@1117..1130 "\n            "
                EXPR_CALL@1130..1175
                  EXPR_IDENT@1130..1157
                    PATH@1130..1157
                      Ident@1130..1137 "channel"
                      ColonColon@1137..1139 "::"
                      Ident@1139..1148 "Operation"
                      ColonColon@1148..1150 "::"
                      Ident@1150..1157 "Receive"
                  ARG_LIST@1157..1175
                    LParen@1157..1158 "("
                    ARG@1158..1174
                      EXPR_CALL@1158..1174
                        EXPR_BINARY@1158..1172
                          EXPR_IDENT@1158..1163
                            PATH@1158..1163
                              Ident@1158..1163 "empty"
                          Dot@1163..1164 "."
                          EXPR_IDENT@1164..1172
                            PATH@1164..1172
                              Ident@1164..1172 "receiver"
                        ARG_LIST@1172..1174
                          LParen@1172..1173 "("
                          RParen@1173..1174 ")"
                    RParen@1174..1175 ")"
                Comma@1175..1176 ","
                Whitespace@1176..1189 "\n            "
                EXPR_CALL@1189..1234
                  EXPR_IDENT@1189..1213
                    PATH@1189..1213
                      Ident@1189..1196 "channel"
                      ColonColon@1196..1198 "::"
                      Ident@1198..1207 "Operation"
                      ColonColon@1207..1209 "::"
                      Ident@1209..1213 "Send"
                  ARG_LIST@1213..1234
                    LParen@1213..1214 "("
                    ARG@1214..1231
                      EXPR_CALL@1214..1229
                        EXPR_BINARY@1214..1227
                          EXPR_IDENT@1214..1220
                            PATH@1214..1220
                              Ident@1214..1220 "target"
                          Dot@1220..1221 "."
                          EXPR_IDENT@1221..1227
                            PATH@1221..1227
                              Ident@1221..1227 "sender"
                        ARG_LIST@1227..1229
                          LParen@1227..1228 "("
                          RParen@1228..1229 ")"
                      Comma@1229..1230 ","
                      Whitespace@1230..1231 " "
                    ARG@1231..1233
                      EXPR_INT@1231..1233
                        Int@1231..1233 "30"
                    RParen@1233..1234 ")"
                Comma@1234..1235 ","
                Whitespace@1235..1244 "\n        "
                RBracket@1244..1245 "]"
              Comma@1245..1246 ","
              Whitespace@1246..1251 "\n    "
            RParen@1251..1252 ")"
        Semi@1252..1253 ";"
        Whitespace@1253..1258 "\n    "
      STMT_EXPR@1258..1399
        EXPR_MATCH@1258..1393
          MatchKeyword@1258..1263 "match"
          Whitespace@1263..1264 " "
          EXPR_CALL@1264..1310
            EXPR_IDENT@1264..1279
              PATH@1264..1279
                Ident@1264..1271 "channel"
                ColonColon@1271..1273 "::"
                Ident@1273..1279 "select"
            ARG_LIST@1279..1310
              LParen@1279..1280 "("
              ARG@1280..1308
                EXPR_CALL@1280..1308
                  EXPR_IDENT@1280..1285
                    PATH@1280..1285
                      Ident@1280..1285 "slice"
                  ARG_LIST@1285..1308
                    LParen@1285..1286 "("
                    ARG@1286..1293
                      EXPR_IDENT@1286..1291
                        PATH@1286..1291
                          Ident@1286..1291 "mixed"
                      Comma@1291..1292 ","
                      Whitespace@1292..1293 " "
                    ARG@1293..1296
                      EXPR_INT@1293..1294
                        Int@1293..1294 "0"
                      Comma@1294..1295 ","
                      Whitespace@1295..1296 " "
                    ARG@1296..1307
                      EXPR_CALL@1296..1307
                        EXPR_BINARY@1296..1305
                          EXPR_IDENT@1296..1301
                            PATH@1296..1301
                              Ident@1296..1301 "mixed"
                          Dot@1301..1302 "."
                          EXPR_IDENT@1302..1305
                            PATH@1302..1305
                              Ident@1302..1305 "len"
                        ARG_LIST@1305..1307
                          LParen@1305..1306 "("
                          RParen@1306..1307 ")"
                    RParen@1307..1308 ")"
              RParen@1308..1309 ")"
              Whitespace@1309..1310 " "
          MATCH_ARM_LIST@1310..1393
            LBrace@1310..1311 "{"
            Whitespace@1311..1320 "\n        "
            MATCH_ARM@1320..1355
              PATTERN_CONSTR@1320..1330
                PATH@1320..1322
                  Ident@1320..1322 "Ok"
                LParen@1322..1323 "("
                PATTERN_VARIABLE@1323..1328
                  Ident@1323..1328 "value"
                RParen@1328..1329 ")"
                Whitespace@1329..1330 " "
              FatArrow@1330..1332 "=>"
              Whitespace@1332..1333 " "
              EXPR_CALL@1333..1355
                EXPR_IDENT@1333..1348
                  PATH@1333..1348
                    Ident@1333..1348 "print_selection"
                ARG_LIST@1348..1355
                  LParen@1348..1349 "("
                  ARG@1349..1354
                    EXPR_IDENT@1349..1354
                      PATH@1349..1354
                        Ident@1349..1354 "value"
                  RParen@1354..1355 ")"
            Comma@1355..1356 ","
            Whitespace@1356..1365 "\n        "
            MATCH_ARM@1365..1386
              PATTERN_CONSTR@1365..1372
                PATH@1365..1368
                  Ident@1365..1368 "Err"
                LParen@1368..1369 "("
                PATTERN_WILDCARD@1369..1370
                  WildcardKeyword@1369..1370 "_"
                RParen@1370..1371 ")"
                Whitespace@1371..1372 " "
              FatArrow@1372..1374 "=>"
              Whitespace@1374..1375 " "
              EXPR_CALL@1375..1386
                EXPR_IDENT@1375..1382
                  PATH@1375..1382
                    Ident@1375..1382 "println"
                ARG_LIST@1382..1386
                  LParen@1382..1383 "("
                  ARG@1383..1385
                    EXPR_PREFIX@1383..1385
                      Minus@1383..1384 "-"
                      EXPR_INT@1384..1385
                        Int@1384..1385 "3"
                  RParen@1385..1386 ")"
            Comma@1386..1387 ","
            Whitespace@1387..1392 "\n    "
            RBrace@1392..1393 "}"
        Semi@1393..1394 ";"
        Whitespace@1394..1399 "\n    "
      STMT_EXPR@1399..1441
        EXPR_CALL@1399..1435
          EXPR_IDENT@1399..1406
            PATH@1399..1406
              Ident@1399..1406 "println"
          ARG_LIST@1406..1435
            LParen@1406..1407 "("
            ARG@1407..1434
              EXPR_CALL@1407..1434
                EXPR_BINARY@1407..1430
                  EXPR_CALL@1407..1420
                    EXPR_BINARY@1407..1418
                      EXPR_IDENT@1407..1413
                        PATH@1407..1413
                          Ident@1407..1413 "target"
                      Dot@1413..1414 "."
                      EXPR_IDENT@1414..1418
                        PATH@1414..1418
                          Ident@1414..1418 "recv"
                    ARG_LIST@1418..1420
                      LParen@1418..1419 "("
                      RParen@1419..1420 ")"
                  Dot@1420..1421 "."
                  EXPR_IDENT@1421..1430
                    PATH@1421..1430
                      Ident@1421..1430 "unwrap_or"
                ARG_LIST@1430..1434
                  LParen@1430..1431 "("
                  ARG@1431..1433
                    EXPR_PREFIX@1431..1433
                      Minus@1431..1432 "-"
                      EXPR_INT@1432..1433
                        Int@1432..1433 "4"
                  RParen@1433..1434 ")"
            RParen@1434..1435 ")"
        Semi@1435..1436 ";"
        Whitespace@1436..1441 "\n    "
      STMT_LET@1441..1522
        LetKeyword@1441..1444 "let"
        Whitespace@1444..1445 " "
        PATTERN_VARIABLE@1445..1450
          Ident@1445..1449 "none"
          Whitespace@1449..1450 " "
        Eq@1450..1451 "="
        Whitespace@1451..1452 " "
        EXPR_CALL@1452..1516
          EXPR_IDENT@1452..1467
            PATH@1452..1467
              Ident@1452..1455 "Vec"
              ColonColon@1455..1457 "::"
              Ident@1457..1467 "from_array"
          ARG_LIST@1467..1516
            LParen@1467..1468 "("
            ARG@1468..1515
              EXPR_ARRAY_LITERAL@1468..1515
                LBracket@1468..1469 "["
                EXPR_CALL@1469..1514
                  EXPR_IDENT@1469..1496
                    PATH@1469..1496
                      Ident@1469..1476 "channel"
                      ColonColon@1476..1478 "::"
                      Ident@1478..1487 "Operation"
                      ColonColon@1487..1489 "::"
                      Ident@1489..1496 "Receive"
                  ARG_LIST@1496..1514
                    LParen@1496..1497 "("
                    ARG@1497..1513
                      EXPR_CALL@1497..1513
                        EXPR_BINARY@1497..1511
                          EXPR_IDENT@1497..1502
                            PATH@1497..1502
                              Ident@1497..1502 "empty"
                          Dot@1502..1503 "."
                          EXPR_IDENT@1503..1511
                            PATH@1503..1511
                              Ident@1503..1511 "receiver"
                        ARG_LIST@1511..1513
                          LParen@1511..1512 "("
                          RParen@1512..1513 ")"
                    RParen@1513..1514 ")"
                RBracket@1514..1515 "]"
            RParen@1515..1516 ")"
        Semi@1516..1517 ";"
        Whitespace@1517..1522 "\n    "
      STMT_EXPR@1522..1666
        EXPR_CALL@1522..1660
          EXPR_IDENT@1522..1529
            PATH@1522..1529
              Ident@1522..1529 "println"
          ARG_LIST@1529..1660
            LParen@1529..1530 "("
            Whitespace@1530..1539 "\n        "
            ARG@1539..1659
              EXPR_MATCH@1539..1653
                MatchKeyword@1539..1544 "match"
                Whitespace@1544..1545 " "
                EXPR_CALL@1545..1593
                  EXPR_IDENT@1545..1564
                    PATH@1545..1564
                      Ident@1545..1552 "channel"
                      ColonColon@1552..1554 "::"
                      Ident@1554..1564 "try_select"
                  ARG_LIST@1564..1593
                    LParen@1564..1565 "("
                    ARG@1565..1591
                      EXPR_CALL@1565..1591
                        EXPR_IDENT@1565..1570
                          PATH@1565..1570
                            Ident@1565..1570 "slice"
                        ARG_LIST@1570..1591
                          LParen@1570..1571 "("
                          ARG@1571..1577
                            EXPR_IDENT@1571..1575
                              PATH@1571..1575
                                Ident@1571..1575 "none"
                            Comma@1575..1576 ","
                            Whitespace@1576..1577 " "
                          ARG@1577..1580
                            EXPR_INT@1577..1578
                              Int@1577..1578 "0"
                            Comma@1578..1579 ","
                            Whitespace@1579..1580 " "
                          ARG@1580..1590
                            EXPR_CALL@1580..1590
                              EXPR_BINARY@1580..1588
                                EXPR_IDENT@1580..1584
                                  PATH@1580..1584
                                    Ident@1580..1584 "none"
                                Dot@1584..1585 "."
                                EXPR_IDENT@1585..1588
                                  PATH@1585..1588
                                    Ident@1585..1588 "len"
                              ARG_LIST@1588..1590
                                LParen@1588..1589 "("
                                RParen@1589..1590 ")"
                          RParen@1590..1591 ")"
                    RParen@1591..1592 ")"
                    Whitespace@1592..1593 " "
                MATCH_ARM_LIST@1593..1653
                  LBrace@1593..1594 "{"
                  Whitespace@1594..1607 "\n            "
                  MATCH_ARM@1607..1621
                    PATTERN_CONSTR@1607..1616
                      PATH@1607..1609
                        Ident@1607..1609 "Ok"
                      LParen@1609..1610 "("
                      PATTERN_CONSTR@1610..1614
                        PATH@1610..1614
                          Ident@1610..1614 "None"
                      RParen@1614..1615 ")"
                      Whitespace@1615..1616 " "
                    FatArrow@1616..1618 "=>"
                    Whitespace@1618..1619 " "
                    EXPR_INT@1619..1621
                      Int@1619..1621 "40"
                  Comma@1621..1622 ","
                  Whitespace@1622..1635 "\n            "
                  MATCH_ARM@1635..1642
                    PATTERN_WILDCARD@1635..1637
                      WildcardKeyword@1635..1636 "_"
                      Whitespace@1636..1637 " "
                    FatArrow@1637..1639 "=>"
                    Whitespace@1639..1640 " "
                    EXPR_PREFIX@1640..1642
                      Minus@1640..1641 "-"
                      EXPR_INT@1641..1642
                        Int@1641..1642 "5"
                  Comma@1642..1643 ","
                  Whitespace@1643..1652 "\n        "
                  RBrace@1652..1653 "}"
              Comma@1653..1654 ","
              Whitespace@1654..1659 "\n    "
            RParen@1659..1660 ")"
        Semi@1660..1661 ";"
        Whitespace@1661..1666 "\n    "
      STMT_LET@1666..1734
        LetKeyword@1666..1669 "let"
        Whitespace@1669..1670 " "
        PATTERN_VARIABLE@1670..1683
          Ident@1670..1683 "no_operations"
        Colon@1683..1684 ":"
        Whitespace@1684..1685 " "
        TYPE_TAPP@1685..1716
          PATH@1685..1688
            Ident@1685..1688 "Vec"
          TYPE_PARAM_LIST@1688..1716
            LBracket@1688..1689 "["
            TYPE_TAPP@1689..1714
              PATH@1689..1707
                Ident@1689..1696 "channel"
                ColonColon@1696..1698 "::"
                Ident@1698..1707 "Operation"
              TYPE_PARAM_LIST@1707..1714
                LBracket@1707..1708 "["
                TYPE_INT@1708..1713
                  IsizeKeyword@1708..1713 "isize"
                RBracket@1713..1714 "]"
            RBracket@1714..1715 "]"
            Whitespace@1715..1716 " "
        Eq@1716..1717 "="
        Whitespace@1717..1718 " "
        EXPR_CALL@1718..1728
          EXPR_IDENT@1718..1726
            PATH@1718..1726
              Ident@1718..1721 "Vec"
              ColonColon@1721..1723 "::"
              Ident@1723..1726 "new"
          ARG_LIST@1726..1728
            LParen@1726..1727 "("
            RParen@1727..1728 ")"
        Semi@1728..1729 ";"
        Whitespace@1729..1734 "\n    "
      EXPR_CALL@1734..1911
        EXPR_IDENT@1734..1741
          PATH@1734..1741
            Ident@1734..1741 "println"
        ARG_LIST@1741..1911
          LParen@1741..1742 "("
          Whitespace@1742..1751 "\n        "
          ARG@1751..1909
            EXPR_MATCH@1751..1903
              MatchKeyword@1751..1756 "match"
              Whitespace@1756..1757 " "
              EXPR_CALL@1757..1819
                EXPR_IDENT@1757..1772
                  PATH@1757..1772
                    Ident@1757..1764 "channel"
                    ColonColon@1764..1766 "::"
                    Ident@1766..1772 "select"
                ARG_LIST@1772..1819
                  LParen@1772..1773 "("
                  ARG@1773..1817
                    EXPR_CALL@1773..1817
                      EXPR_IDENT@1773..1778
                        PATH@1773..1778
                          Ident@1773..1778 "slice"
                      ARG_LIST@1778..1817
                        LParen@1778..1779 "("
                        ARG@1779..1794
                          EXPR_IDENT@1779..1792
                            PATH@1779..1792
                              Ident@1779..1792 "no_operations"
                          Comma@1792..1793 ","
                          Whitespace@1793..1794 " "
                        ARG@1794..1797
                          EXPR_INT@1794..1795
                            Int@1794..1795 "0"
                          Comma@1795..1796 ","
                          Whitespace@1796..1797 " "
                        ARG@1797..1816
                          EXPR_CALL@1797..1816
                            EXPR_BINARY@1797..1814
                              EXPR_IDENT@1797..1810
                                PATH@1797..1810
                                  Ident@1797..1810 "no_operations"
                              Dot@1810..1811 "."
                              EXPR_IDENT@1811..1814
                                PATH@1811..1814
                                  Ident@1811..1814 "len"
                            ARG_LIST@1814..1816
                              LParen@1814..1815 "("
                              RParen@1815..1816 ")"
                        RParen@1816..1817 ")"
                  RParen@1817..1818 ")"
                  Whitespace@1818..1819 " "
              MATCH_ARM_LIST@1819..1903
                LBrace@1819..1820 "{"
                Whitespace@1820..1833 "\n            "
                MATCH_ARM@1833..1871
                  PATTERN_CONSTR@1833..1866
                    PATH@1833..1836
                      Ident@1833..1836 "Err"
                    LParen@1836..1837 "("
                    PATTERN_CONSTR@1837..1864
                      PATH@1837..1864
                        Ident@1837..1844 "channel"
                        ColonColon@1844..1846 "::"
                        Ident@1846..1857 "SelectError"
                        ColonColon@1857..1859 "::"
                        Ident@1859..1864 "Empty"
                    RParen@1864..1865 ")"
                    Whitespace@1865..1866 " "
                  FatArrow@1866..1868 "=>"
                  Whitespace@1868..1869 " "
                  EXPR_INT@1869..1871
                    Int@1869..1871 "50"
                Comma@1871..1872 ","
                Whitespace@1872..1885 "\n            "
                MATCH_ARM@1885..1892
                  PATTERN_WILDCARD@1885..1887
                    WildcardKeyword@1885..1886 "_"
                    Whitespace@1886..1887 " "
                  FatArrow@1887..1889 "=>"
                  Whitespace@1889..1890 " "
                  EXPR_PREFIX@1890..1892
                    Minus@1890..1891 "-"
                    EXPR_INT@1891..1892
                      Int@1891..1892 "6"
                Comma@1892..1893 ","
                Whitespace@1893..1902 "\n        "
                RBrace@1902..1903 "}"
            Comma@1903..1904 ","
            Whitespace@1904..1909 "\n    "
          RParen@1909..1910 ")"
          Whitespace@1910..1911 "\n"
      RBrace@1911..1912 "}"
      Whitespace@1912..1913 "\n"