FILE@0..559
  STRUCT@0..66
    ATTRIBUTE_LIST@0..17
      ATTRIBUTE@0..17
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "derive"
        LParen@8..9 "("
        Ident@9..14 "Debug"
        RParen@14..15 ")"
        RBracket@15..16 "]"
        Whitespace@16..17 "\n"
    StructKeyword@17..23 "struct"
    Whitespace@23..24 " "
    Ident@24..29 "Point"
    Whitespace@29..30 " "
    LBrace@30..31 "{"
    Whitespace@31..36 "\n    "
    STRUCT_FIELD_LIST@36..66
      STRUCT_FIELD@36..42
        Ident@36..37 "x"
        Colon@37..38 ":"
        Whitespace@38..39 " "
        TYPE_INT32@39..42
          I32Keyword@39..42 "i32"
      Comma@42..43 ","
      Whitespace@43..48 "\n    "
      STRUCT_FIELD@48..61
        Ident@48..53 "label"
        Colon@53..54 ":"
        Whitespace@54..55 " "
        TYPE_STRING@55..61
          StringKeyword@55..61 "string"
      Comma@61..62 ","
      Whitespace@62..63 "\n"
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  ENUM@66..150
    ATTRIBUTE_LIST@66..83
      ATTRIBUTE@66..83
        Pound@66..67 "#"
        LBracket@67..68 "["
        Ident@68..74 "derive"
        LParen@74..75 "("
        Ident@75..80 "Debug"
        RParen@80..81 ")"
        RBracket@81..82 "]"
        Whitespace@82..83 "\n"
    EnumKeyword@83..87 "enum"
    Whitespace@87..88 " "
    Ident@88..93 "State"
    GENERIC_LIST@93..97
      LBracket@93..94 "["
      GENERIC@94..95
        Ident@94..95 "T"
      RBracket@95..96 "]"
      Whitespace@96..97 " "
    LBrace@97..98 "{"
    Whitespace@98..103 "\n    "
    VARIANT_LIST@103..150
      VARIANT@103..107
        Ident@103..107 "Idle"
      Comma@107..108 ","
      Whitespace@108..113 "\n    "
      VARIANT@113..121
        Ident@113..118 "Value"
        TYPE_LIST@118..121
          LParen@118..119 "("
          ENUM_TUPLE_FIELD@119..120
            TYPE_TAPP@119..120
              PATH@119..120
                Ident@119..120 "T"
          RParen@120..121 ")"
      Comma@121..122 ","
      Whitespace@122..127 "\n    "
      VARIANT@127..145
        Ident@127..132 "Named"
        Whitespace@132..133 " "
        LBrace@133..134 "{"
        Whitespace@134..135 " "
        STRUCT_FIELD_LIST@135..145
          STRUCT_FIELD@135..144
            Ident@135..140 "value"
            Colon@140..141 ":"
            Whitespace@141..142 " "
            TYPE_TAPP@142..144
              PATH@142..144
                Ident@142..143 "T"
                Whitespace@143..144 " "
          RBrace@144..145 "}"
      Comma@145..146 ","
      Whitespace@146..147 "\n"
      RBrace@147..148 "}"
      Whitespace@148..150 "\n\n"
  FN@150..214
    FnKeyword@150..152 "fn"
    Whitespace@152..153 " "
    Ident@153..162 "debug_dyn"
    PARAM_LIST@162..181
      LParen@162..163 "("
      PARAM@163..179
        Ident@163..168 "value"
        Colon@168..169 ":"
        Whitespace@169..170 " "
        TYPE_DYN@170..179
          DynKeyword@170..173 "dyn"
          Whitespace@173..174 " "
          DYN_BOUND@174..179
            PATH@174..179
              Ident@174..179 "Debug"
      RParen@179..180 ")"
      Whitespace@180..181 " "
    Arrow@181..183 "->"
    Whitespace@183..184 " "
    TYPE_STRING@184..191
      StringKeyword@184..190 "string"
      Whitespace@190..191 " "
    BLOCK@191..214
      LBrace@191..192 "{"
      Whitespace@192..197 "\n    "
      EXPR_CALL@197..211
        EXPR_BINARY@197..208
          EXPR_IDENT@197..202
            PATH@197..202
              Ident@197..202 "value"
          Dot@202..203 "."
          EXPR_IDENT@203..208
            PATH@203..208
              Ident@203..208 "debug"
        ARG_LIST@208..211
          LParen@208..209 "("
          RParen@209..210 ")"
          Whitespace@210..211 "\n"
      RBrace@211..212 "}"
      Whitespace@212..214 "\n\n"
  FN@214..559
    FnKeyword@214..216 "fn"
    Whitespace@216..217 " "
    Ident@217..221 "main"
    PARAM_LIST@221..224
      LParen@221..222 "("
      RParen@222..223 ")"
      Whitespace@223..224 " "
    Arrow@224..226 "->"
    Whitespace@226..227 " "
    TYPE_UNIT@227..232
      UnitKeyword@227..231 "unit"
      Whitespace@231..232 " "
    BLOCK@232..559
      LBrace@232..233 "{"
      Whitespace@233..238 "\n    "
      STMT_LET@238..285
        LetKeyword@238..241 "let"
        Whitespace@241..242 " "
        PATTERN_VARIABLE@242..248
          Ident@242..247 "point"
          Whitespace@247..248 " "
        Eq@248..249 "="
        Whitespace@249..250 " "
        EXPR_STRUCT_LITERAL@250..279
          PATH@250..256
            Ident@250..255 "Point"
            Whitespace@255..256 " "
          STRUCT_LITERAL_FIELD_LIST@256..279
            LBrace@256..257 "{"
            Whitespace@257..258 " "
            STRUCT_LITERAL_FIELD@258..262
              Ident@258..259 "x"
              Colon@259..260 ":"
              Whitespace@260..261 " "
              EXPR_INT@261..262
                Int@261..262 "3"
            Comma@262..263 ","
            Whitespace@263..264 " "
            STRUCT_LITERAL_FIELD@264..278
              Ident@264..269 "label"
              Colon@269..270 ":"
              Whitespace@270..271 " "
              EXPR_STR@271..278
                Str@271..277 "\"east\""
                Whitespace@277..278 " "
            RBrace@278..279 "}"
        Semi@279..280 ";"
        Whitespace@280..285 "\n    "
      STMT_LET@285..325
        LetKeyword@285..288 "let"
        Whitespace@288..289 " "
        PATTERN_VARIABLE@289..293
          Ident@289..293 "idle"
        Colon@293..294 ":"
        Whitespace@294..295 " "
        TYPE_TAPP@295..306
          PATH@295..300
            Ident@295..300 "State"
          TYPE_PARAM_LIST@300..306
            LBracket@300..301 "["
            TYPE_INT32@301..304
              I32Keyword@301..304 "i32"
            RBracket@304..305 "]"
            Whitespace@305..306 " "
        Eq@306..307 "="
        Whitespace@307..308 " "
        EXPR_IDENT@308..319
          PATH@308..319
            Ident@308..313 "State"
            ColonColon@313..315 "::"
            Ident@315..319 "Idle"
        Semi@319..320 ";"
        Whitespace@320..325 "\n    "
      STMT_LET@325..362
        LetKeyword@325..328 "let"
        Whitespace@328..329 " "
        PATTERN_VARIABLE@329..335
          Ident@329..334 "value"
          Whitespace@334..335 " "
        Eq@335..336 "="
        Whitespace@336..337 " "
        EXPR_CALL@337..356
          EXPR_IDENT@337..349
            PATH@337..349
              Ident@337..342 "State"
              ColonColon@342..344 "::"
              Ident@344..349 "Value"
          ARG_LIST@349..356
            LParen@349..350 "("
            ARG@350..355
              EXPR_IDENT@350..355
                PATH@350..355
                  Ident@350..355 "point"
            RParen@355..356 ")"
        Semi@356..357 ";"
        Whitespace@357..362 "\n    "
      STMT_LET@362..405
        LetKeyword@362..365 "let"
        Whitespace@365..366 " "
        PATTERN_VARIABLE@366..372
          Ident@366..371 "named"
          Whitespace@371..372 " "
        Eq@372..373 "="
        Whitespace@373..374 " "
        EXPR_STRUCT_LITERAL@374..399
          PATH@374..387
            Ident@374..379 "State"
            ColonColon@379..381 "::"
            Ident@381..386 "Named"
            Whitespace@386..387 " "
          STRUCT_LITERAL_FIELD_LIST@387..399
            LBrace@387..388 "{"
            Whitespace@388..389 " "
            STRUCT_LITERAL_FIELD@389..398
              Ident@389..394 "value"
              Colon@394..395 ":"
              Whitespace@395..396 " "
              EXPR_INT@396..398
                Int@396..397 "7"
                Whitespace@397..398 " "
            RBrace@398..399 "}"
        Semi@399..400 ";"
        Whitespace@400..405 "\n    "
      STMT_EXPR@405..433
        EXPR_CALL@405..427
          EXPR_IDENT@405..412
            PATH@405..412
              Ident@405..412 "println"
          ARG_LIST@412..427
            LParen@412..413 "("
            ARG@413..426
              EXPR_CALL@413..426
                EXPR_BINARY@413..424
                  EXPR_IDENT@413..418
                    PATH@413..418
                      Ident@413..418 "point"
                  Dot@418..419 "."
                  EXPR_IDENT@419..424
                    PATH@419..424
                      Ident@419..424 "debug"
                ARG_LIST@424..426
                  LParen@424..425 "("
                  RParen@425..426 ")"
            RParen@426..427 ")"
        Semi@427..428 ";"
        Whitespace@428..433 "\n    "
      STMT_EXPR@433..460
        EXPR_CALL@433..454
          EXPR_IDENT@433..440
            PATH@433..440
              Ident@433..440 "println"
          ARG_LIST@440..454
            LParen@440..441 "("
            ARG@441..453
              EXPR_CALL@441..453
                EXPR_BINARY@441..451
                  EXPR_IDENT@441..445
                    PATH@441..445
                      Ident@441..445 "idle"
                  Dot@445..446 "."
                  EXPR_IDENT@446..451
                    PATH@446..451
                      Ident@446..451 "debug"
                ARG_LIST@451..453
                  LParen@451..452 "("
                  RParen@452..453 ")"
            RParen@453..454 ")"
        Semi@454..455 ";"
        Whitespace@455..460 "\n    "
      STMT_EXPR@460..488
        EXPR_CALL@460..482
          EXPR_IDENT@460..467
            PATH@460..467
              Ident@460..467 "println"
          ARG_LIST@467..482
            LParen@467..468 "("
            ARG@468..481
              EXPR_CALL@468..481
                EXPR_BINARY@468..479
                  EXPR_IDENT@468..473
                    PATH@468..473
                      Ident@468..473 "value"
                  Dot@473..474 "."
                  EXPR_IDENT@474..479
                    PATH@474..479
                      Ident@474..479 "debug"
                ARG_LIST@479..481
                  LParen@479..480 "("
                  RParen@480..481 ")"
            RParen@481..482 ")"
        Semi@482..483 ";"
        Whitespace@483..488 "\n    "
      STMT_EXPR@488..522
        EXPR_CALL@488..516
          EXPR_IDENT@488..495
            PATH@488..495
              Ident@488..495 "println"
          ARG_LIST@495..516
            LParen@495..496 "("
            ARG@496..515
              EXPR_CALL@496..515
                EXPR_IDENT@496..508
                  PATH@496..508
                    Ident@496..501 "Debug"
                    ColonColon@501..503 "::"
                    Ident@503..508 "debug"
                ARG_LIST@508..515
                  LParen@508..509 "("
                  ARG@509..514
                    EXPR_IDENT@509..514
                      PATH@509..514
                        Ident@509..514 "named"
                  RParen@514..515 ")"
            RParen@515..516 ")"
        Semi@516..517 ";"
        Whitespace@517..522 "\n    "
      EXPR_CALL@522..557
        EXPR_IDENT@522..529
          PATH@522..529
            Ident@522..529 "println"
        ARG_LIST@529..557
          LParen@529..530 "("
          ARG@530..555
            EXPR_CALL@530..555
              EXPR_IDENT@530..539
                PATH@530..539
                  Ident@530..539 "debug_dyn"
              ARG_LIST@539..555
                LParen@539..540 "("
                ARG@540..554
                  EXPR_CAST@540..554
                    EXPR_INT@540..542
                      Int@540..541 "9"
                      Whitespace@541..542 " "
                    AsKeyword@542..544 "as"
                    Whitespace@544..545 " "
                    TYPE_DYN@545..554
                      DynKeyword@545..548 "dyn"
                      Whitespace@548..549 " "
                      DYN_BOUND@549..554
                        PATH@549..554
                          Ident@549..554 "Debug"
                RParen@554..555 ")"
          RParen@555..556 ")"
          Whitespace@556..557 "\n"
      RBrace@557..558 "}"
      Whitespace@558..559 "\n"