FILE@0..557
  STRUCT@0..66
    ATTRIBUTE_LIST@0..17
      ATTRIBUTE@0..17
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "derive"
        LParen@8..9 "("
        Ident@9..14 "Debug"
        RParen@14..15 ")"
        RBracket@15..16 "]"
        Whitespace@16..17 "\n"
    StructKeyword@17..23 "struct"
    Whitespace@23..24 " "
    Ident@24..29 "Point"
    Whitespace@29..30 " "
    LBrace@30..31 "{"
    Whitespace@31..36 "\n    "
    STRUCT_FIELD_LIST@36..66
      STRUCT_FIELD@36..42
        Ident@36..37 "x"
        Colon@37..38 ":"
        Whitespace@38..39 " "
        TYPE_INT32@39..42
          I32Keyword@39..42 "i32"
      Comma@42..43 ","
      Whitespace@43..48 "\n    "
      STRUCT_FIELD@48..61
        Ident@48..53 "label"
        Colon@53..54 ":"
        Whitespace@54..55 " "
        TYPE_STRING@55..61
          StringKeyword@55..61 "string"
      Comma@61..62 ","
      Whitespace@62..63 "\n"
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  ENUM@66..150
    ATTRIBUTE_LIST@66..83
      ATTRIBUTE@66..83
        Pound@66..67 "#"
        LBracket@67..68 "["
        Ident@68..74 "derive"
        LParen@74..75 "("
        Ident@75..80 "Debug"
        RParen@80..81 ")"
        RBracket@81..82 "]"
        Whitespace@82..83 "\n"
    EnumKeyword@83..87 "enum"
    Whitespace@87..88 " "
    Ident@88..93 "State"
    GENERIC_LIST@93..97
      LBracket@93..94 "["
      GENERIC@94..95
        Ident@94..95 "T"
      RBracket@95..96 "]"
      Whitespace@96..97 " "
    LBrace@97..98 "{"
    Whitespace@98..103 "\n    "
    VARIANT_LIST@103..150
      VARIANT@103..107
        Ident@103..107 "Idle"
      Comma@107..108 ","
      Whitespace@108..113 "\n    "
      VARIANT@113..121
        Ident@113..118 "Value"
        TYPE_LIST@118..121
          LParen@118..119 "("
          ENUM_TUPLE_FIELD@119..120
            TYPE_TAPP@119..120
              PATH@119..120
                Ident@119..120 "T"
          RParen@120..121 ")"
      Comma@121..122 ","
      Whitespace@122..127 "\n    "
      VARIANT@127..145
        Ident@127..132 "Named"
        Whitespace@132..133 " "
        LBrace@133..134 "{"
        Whitespace@134..135 " "
        STRUCT_FIELD_LIST@135..145
          STRUCT_FIELD@135..144
            Ident@135..140 "value"
            Colon@140..141 ":"
            Whitespace@141..142 " "
            TYPE_TAPP@142..144
              PATH@142..144
                Ident@142..143 "T"
                Whitespace@143..144 " "
          RBrace@144..145 "}"
      Comma@145..146 ","
      Whitespace@146..147 "\n"
      RBrace@147..148 "}"
      Whitespace@148..150 "\n\n"
  FN@150..214
    FnKeyword@150..152 "fn"
    Whitespace@152..153 " "
    Ident@153..162 "debug_dyn"
    PARAM_LIST@162..181
      LParen@162..163 "("
      PARAM@163..179
        Ident@163..168 "value"
        Colon@168..169 ":"
        Whitespace@169..170 " "
        TYPE_DYN@170..179
          DynKeyword@170..173 "dyn"
          Whitespace@173..174 " "
          DYN_BOUND@174..179
            PATH@174..179
              Ident@174..179 "Debug"
      RParen@179..180 ")"
      Whitespace@180..181 " "
    Arrow@181..183 "->"
    Whitespace@183..184 " "
    TYPE_STRING@184..191
      StringKeyword@184..190 "string"
      Whitespace@190..191 " "
    BLOCK@191..214
      LBrace@191..192 "{"
      Whitespace@192..197 "\n    "
      EXPR_CALL@197..211
        EXPR_BINARY@197..208
          EXPR_IDENT@197..202
            PATH@197..202
              Ident@197..202 "value"
          Dot@202..203 "."
          EXPR_IDENT@203..208
            PATH@203..208
              Ident@203..208 "debug"
        ARG_LIST@208..211
          LParen@208..209 "("
          RParen@209..210 ")"
          Whitespace@210..211 "\n"
      RBrace@211..212 "}"
      Whitespace@212..214 "\n\n"
  FN@214..557
    FnKeyword@214..216 "fn"
    Whitespace@216..217 " "
    Ident@217..221 "main"
    PARAM_LIST@221..224
      LParen@221..222 "("
      RParen@222..223 ")"
      Whitespace@223..224 " "
    Arrow@224..226 "->"
    Whitespace@226..227 " "
    TYPE_TUPLE@227..230
      TYPE_LIST@227..230
        LParen@227..228 "("
        RParen@228..229 ")"
        Whitespace@229..230 " "
    BLOCK@230..557
      LBrace@230..231 "{"
      Whitespace@231..236 "\n    "
      STMT_LET@236..283
        LetKeyword@236..239 "let"
        Whitespace@239..240 " "
        PATTERN_VARIABLE@240..246
          Ident@240..245 "point"
          Whitespace@245..246 " "
        Eq@246..247 "="
        Whitespace@247..248 " "
        EXPR_STRUCT_LITERAL@248..277
          PATH@248..254
            Ident@248..253 "Point"
            Whitespace@253..254 " "
          STRUCT_LITERAL_FIELD_LIST@254..277
            LBrace@254..255 "{"
            Whitespace@255..256 " "
            STRUCT_LITERAL_FIELD@256..260
              Ident@256..257 "x"
              Colon@257..258 ":"
              Whitespace@258..259 " "
              EXPR_INT@259..260
                Int@259..260 "3"
            Comma@260..261 ","
            Whitespace@261..262 " "
            STRUCT_LITERAL_FIELD@262..276
              Ident@262..267 "label"
              Colon@267..268 ":"
              Whitespace@268..269 " "
              EXPR_STR@269..276
                Str@269..275 "\"east\""
                Whitespace@275..276 " "
            RBrace@276..277 "}"
        Semi@277..278 ";"
        Whitespace@278..283 "\n    "
      STMT_LET@283..323
        LetKeyword@283..286 "let"
        Whitespace@286..287 " "
        PATTERN_VARIABLE@287..291
          Ident@287..291 "idle"
        Colon@291..292 ":"
        Whitespace@292..293 " "
        TYPE_TAPP@293..304
          PATH@293..298
            Ident@293..298 "State"
          TYPE_PARAM_LIST@298..304
            LBracket@298..299 "["
            TYPE_INT32@299..302
              I32Keyword@299..302 "i32"
            RBracket@302..303 "]"
            Whitespace@303..304 " "
        Eq@304..305 "="
        Whitespace@305..306 " "
        EXPR_IDENT@306..317
          PATH@306..317
            Ident@306..311 "State"
            ColonColon@311..313 "::"
            Ident@313..317 "Idle"
        Semi@317..318 ";"
        Whitespace@318..323 "\n    "
      STMT_LET@323..360
        LetKeyword@323..326 "let"
        Whitespace@326..327 " "
        PATTERN_VARIABLE@327..333
          Ident@327..332 "value"
          Whitespace@332..333 " "
        Eq@333..334 "="
        Whitespace@334..335 " "
        EXPR_CALL@335..354
          EXPR_IDENT@335..347
            PATH@335..347
              Ident@335..340 "State"
              ColonColon@340..342 "::"
              Ident@342..347 "Value"
          ARG_LIST@347..354
            LParen@347..348 "("
            ARG@348..353
              EXPR_IDENT@348..353
                PATH@348..353
                  Ident@348..353 "point"
            RParen@353..354 ")"
        Semi@354..355 ";"
        Whitespace@355..360 "\n    "
      STMT_LET@360..403
        LetKeyword@360..363 "let"
        Whitespace@363..364 " "
        PATTERN_VARIABLE@364..370
          Ident@364..369 "named"
          Whitespace@369..370 " "
        Eq@370..371 "="
        Whitespace@371..372 " "
        EXPR_STRUCT_LITERAL@372..397
          PATH@372..385
            Ident@372..377 "State"
            ColonColon@377..379 "::"
            Ident@379..384 "Named"
            Whitespace@384..385 " "
          STRUCT_LITERAL_FIELD_LIST@385..397
            LBrace@385..386 "{"
            Whitespace@386..387 " "
            STRUCT_LITERAL_FIELD@387..396
              Ident@387..392 "value"
              Colon@392..393 ":"
              Whitespace@393..394 " "
              EXPR_INT@394..396
                Int@394..395 "7"
                Whitespace@395..396 " "
            RBrace@396..397 "}"
        Semi@397..398 ";"
        Whitespace@398..403 "\n    "
      STMT_EXPR@403..431
        EXPR_CALL@403..425
          EXPR_IDENT@403..410
            PATH@403..410
              Ident@403..410 "println"
          ARG_LIST@410..425
            LParen@410..411 "("
            ARG@411..424
              EXPR_CALL@411..424
                EXPR_BINARY@411..422
                  EXPR_IDENT@411..416
                    PATH@411..416
                      Ident@411..416 "point"
                  Dot@416..417 "."
                  EXPR_IDENT@417..422
                    PATH@417..422
                      Ident@417..422 "debug"
                ARG_LIST@422..424
                  LParen@422..423 "("
                  RParen@423..424 ")"
            RParen@424..425 ")"
        Semi@425..426 ";"
        Whitespace@426..431 "\n    "
      STMT_EXPR@431..458
        EXPR_CALL@431..452
          EXPR_IDENT@431..438
            PATH@431..438
              Ident@431..438 "println"
          ARG_LIST@438..452
            LParen@438..439 "("
            ARG@439..451
              EXPR_CALL@439..451
                EXPR_BINARY@439..449
                  EXPR_IDENT@439..443
                    PATH@439..443
                      Ident@439..443 "idle"
                  Dot@443..444 "."
                  EXPR_IDENT@444..449
                    PATH@444..449
                      Ident@444..449 "debug"
                ARG_LIST@449..451
                  LParen@449..450 "("
                  RParen@450..451 ")"
            RParen@451..452 ")"
        Semi@452..453 ";"
        Whitespace@453..458 "\n    "
      STMT_EXPR@458..486
        EXPR_CALL@458..480
          EXPR_IDENT@458..465
            PATH@458..465
              Ident@458..465 "println"
          ARG_LIST@465..480
            LParen@465..466 "("
            ARG@466..479
              EXPR_CALL@466..479
                EXPR_BINARY@466..477
                  EXPR_IDENT@466..471
                    PATH@466..471
                      Ident@466..471 "value"
                  Dot@471..472 "."
                  EXPR_IDENT@472..477
                    PATH@472..477
                      Ident@472..477 "debug"
                ARG_LIST@477..479
                  LParen@477..478 "("
                  RParen@478..479 ")"
            RParen@479..480 ")"
        Semi@480..481 ";"
        Whitespace@481..486 "\n    "
      STMT_EXPR@486..520
        EXPR_CALL@486..514
          EXPR_IDENT@486..493
            PATH@486..493
              Ident@486..493 "println"
          ARG_LIST@493..514
            LParen@493..494 "("
            ARG@494..513
              EXPR_CALL@494..513
                EXPR_IDENT@494..506
                  PATH@494..506
                    Ident@494..499 "Debug"
                    ColonColon@499..501 "::"
                    Ident@501..506 "debug"
                ARG_LIST@506..513
                  LParen@506..507 "("
                  ARG@507..512
                    EXPR_IDENT@507..512
                      PATH@507..512
                        Ident@507..512 "named"
                  RParen@512..513 ")"
            RParen@513..514 ")"
        Semi@514..515 ";"
        Whitespace@515..520 "\n    "
      EXPR_CALL@520..555
        EXPR_IDENT@520..527
          PATH@520..527
            Ident@520..527 "println"
        ARG_LIST@527..555
          LParen@527..528 "("
          ARG@528..553
            EXPR_CALL@528..553
              EXPR_IDENT@528..537
                PATH@528..537
                  Ident@528..537 "debug_dyn"
              ARG_LIST@537..553
                LParen@537..538 "("
                ARG@538..552
                  EXPR_CAST@538..552
                    EXPR_INT@538..540
                      Int@538..539 "9"
                      Whitespace@539..540 " "
                    AsKeyword@540..542 "as"
                    Whitespace@542..543 " "
                    TYPE_DYN@543..552
                      DynKeyword@543..546 "dyn"
                      Whitespace@546..547 " "
                      DYN_BOUND@547..552
                        PATH@547..552
                          Ident@547..552 "Debug"
                RParen@552..553 ")"
          RParen@553..554 ")"
          Whitespace@554..555 "\n"
      RBrace@555..556 "}"
      Whitespace@556..557 "\n"