FILE@0..563
  STRUCT@0..68
    ATTRIBUTE_LIST@0..17
      ATTRIBUTE@0..17
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "derive"
        LParen@8..9 "("
        Ident@9..14 "Debug"
        RParen@14..15 ")"
        RBracket@15..16 "]"
        Whitespace@16..17 "\n"
    StructKeyword@17..23 "struct"
    Whitespace@23..24 " "
    Ident@24..29 "Point"
    Whitespace@29..30 " "
    LBrace@30..31 "{"
    Whitespace@31..36 "\n    "
    STRUCT_FIELD_LIST@36..68
      STRUCT_FIELD@36..44
        Ident@36..37 "x"
        Colon@37..38 ":"
        Whitespace@38..39 " "
        TYPE_INT32@39..44
          Int32Keyword@39..44 "int32"
      Comma@44..45 ","
      Whitespace@45..50 "\n    "
      STRUCT_FIELD@50..63
        Ident@50..55 "label"
        Colon@55..56 ":"
        Whitespace@56..57 " "
        TYPE_STRING@57..63
          StringKeyword@57..63 "string"
      Comma@63..64 ","
      Whitespace@64..65 "\n"
      RBrace@65..66 "}"
      Whitespace@66..68 "\n\n"
  ENUM@68..152
    ATTRIBUTE_LIST@68..85
      ATTRIBUTE@68..85
        Pound@68..69 "#"
        LBracket@69..70 "["
        Ident@70..76 "derive"
        LParen@76..77 "("
        Ident@77..82 "Debug"
        RParen@82..83 ")"
        RBracket@83..84 "]"
        Whitespace@84..85 "\n"
    EnumKeyword@85..89 "enum"
    Whitespace@89..90 " "
    Ident@90..95 "State"
    GENERIC_LIST@95..99
      LBracket@95..96 "["
      GENERIC@96..97
        Ident@96..97 "T"
      RBracket@97..98 "]"
      Whitespace@98..99 " "
    LBrace@99..100 "{"
    Whitespace@100..105 "\n    "
    VARIANT_LIST@105..152
      VARIANT@105..109
        Ident@105..109 "Idle"
      Comma@109..110 ","
      Whitespace@110..115 "\n    "
      VARIANT@115..123
        Ident@115..120 "Value"
        TYPE_LIST@120..123
          LParen@120..121 "("
          ENUM_TUPLE_FIELD@121..122
            TYPE_TAPP@121..122
              PATH@121..122
                Ident@121..122 "T"
          RParen@122..123 ")"
      Comma@123..124 ","
      Whitespace@124..129 "\n    "
      VARIANT@129..147
        Ident@129..134 "Named"
        Whitespace@134..135 " "
        LBrace@135..136 "{"
        Whitespace@136..137 " "
        STRUCT_FIELD_LIST@137..147
          STRUCT_FIELD@137..146
            Ident@137..142 "value"
            Colon@142..143 ":"
            Whitespace@143..144 " "
            TYPE_TAPP@144..146
              PATH@144..146
                Ident@144..145 "T"
                Whitespace@145..146 " "
          RBrace@146..147 "}"
      Comma@147..148 ","
      Whitespace@148..149 "\n"
      RBrace@149..150 "}"
      Whitespace@150..152 "\n\n"
  FN@152..216
    FnKeyword@152..154 "fn"
    Whitespace@154..155 " "
    Ident@155..164 "debug_dyn"
    PARAM_LIST@164..183
      LParen@164..165 "("
      PARAM@165..181
        Ident@165..170 "value"
        Colon@170..171 ":"
        Whitespace@171..172 " "
        TYPE_DYN@172..181
          DynKeyword@172..175 "dyn"
          Whitespace@175..176 " "
          DYN_BOUND@176..181
            PATH@176..181
              Ident@176..181 "Debug"
      RParen@181..182 ")"
      Whitespace@182..183 " "
    Arrow@183..185 "->"
    Whitespace@185..186 " "
    TYPE_STRING@186..193
      StringKeyword@186..192 "string"
      Whitespace@192..193 " "
    BLOCK@193..216
      LBrace@193..194 "{"
      Whitespace@194..199 "\n    "
      EXPR_CALL@199..213
        EXPR_BINARY@199..210
          EXPR_IDENT@199..204
            PATH@199..204
              Ident@199..204 "value"
          Dot@204..205 "."
          EXPR_IDENT@205..210
            PATH@205..210
              Ident@205..210 "debug"
        ARG_LIST@210..213
          LParen@210..211 "("
          RParen@211..212 ")"
          Whitespace@212..213 "\n"
      RBrace@213..214 "}"
      Whitespace@214..216 "\n\n"
  FN@216..563
    FnKeyword@216..218 "fn"
    Whitespace@218..219 " "
    Ident@219..223 "main"
    PARAM_LIST@223..226
      LParen@223..224 "("
      RParen@224..225 ")"
      Whitespace@225..226 " "
    Arrow@226..228 "->"
    Whitespace@228..229 " "
    TYPE_UNIT@229..234
      UnitKeyword@229..233 "unit"
      Whitespace@233..234 " "
    BLOCK@234..563
      LBrace@234..235 "{"
      Whitespace@235..240 "\n    "
      STMT_LET@240..287
        LetKeyword@240..243 "let"
        Whitespace@243..244 " "
        PATTERN_VARIABLE@244..250
          Ident@244..249 "point"
          Whitespace@249..250 " "
        Eq@250..251 "="
        Whitespace@251..252 " "
        EXPR_STRUCT_LITERAL@252..281
          PATH@252..258
            Ident@252..257 "Point"
            Whitespace@257..258 " "
          STRUCT_LITERAL_FIELD_LIST@258..281
            LBrace@258..259 "{"
            Whitespace@259..260 " "
            STRUCT_LITERAL_FIELD@260..264
              Ident@260..261 "x"
              Colon@261..262 ":"
              Whitespace@262..263 " "
              EXPR_INT@263..264
                Int@263..264 "3"
            Comma@264..265 ","
            Whitespace@265..266 " "
            STRUCT_LITERAL_FIELD@266..280
              Ident@266..271 "label"
              Colon@271..272 ":"
              Whitespace@272..273 " "
              EXPR_STR@273..280
                Str@273..279 "\"east\""
                Whitespace@279..280 " "
            RBrace@280..281 "}"
        Semi@281..282 ";"
        Whitespace@282..287 "\n    "
      STMT_LET@287..329
        LetKeyword@287..290 "let"
        Whitespace@290..291 " "
        PATTERN_VARIABLE@291..295
          Ident@291..295 "idle"
        Colon@295..296 ":"
        Whitespace@296..297 " "
        TYPE_TAPP@297..310
          PATH@297..302
            Ident@297..302 "State"
          TYPE_PARAM_LIST@302..310
            LBracket@302..303 "["
            TYPE_INT32@303..308
              Int32Keyword@303..308 "int32"
            RBracket@308..309 "]"
            Whitespace@309..310 " "
        Eq@310..311 "="
        Whitespace@311..312 " "
        EXPR_IDENT@312..323
          PATH@312..323
            Ident@312..317 "State"
            ColonColon@317..319 "::"
            Ident@319..323 "Idle"
        Semi@323..324 ";"
        Whitespace@324..329 "\n    "
      STMT_LET@329..366
        LetKeyword@329..332 "let"
        Whitespace@332..333 " "
        PATTERN_VARIABLE@333..339
          Ident@333..338 "value"
          Whitespace@338..339 " "
        Eq@339..340 "="
        Whitespace@340..341 " "
        EXPR_CALL@341..360
          EXPR_IDENT@341..353
            PATH@341..353
              Ident@341..346 "State"
              ColonColon@346..348 "::"
              Ident@348..353 "Value"
          ARG_LIST@353..360
            LParen@353..354 "("
            ARG@354..359
              EXPR_IDENT@354..359
                PATH@354..359
                  Ident@354..359 "point"
            RParen@359..360 ")"
        Semi@360..361 ";"
        Whitespace@361..366 "\n    "
      STMT_LET@366..409
        LetKeyword@366..369 "let"
        Whitespace@369..370 " "
        PATTERN_VARIABLE@370..376
          Ident@370..375 "named"
          Whitespace@375..376 " "
        Eq@376..377 "="
        Whitespace@377..378 " "
        EXPR_STRUCT_LITERAL@378..403
          PATH@378..391
            Ident@378..383 "State"
            ColonColon@383..385 "::"
            Ident@385..390 "Named"
            Whitespace@390..391 " "
          STRUCT_LITERAL_FIELD_LIST@391..403
            LBrace@391..392 "{"
            Whitespace@392..393 " "
            STRUCT_LITERAL_FIELD@393..402
              Ident@393..398 "value"
              Colon@398..399 ":"
              Whitespace@399..400 " "
              EXPR_INT@400..402
                Int@400..401 "7"
                Whitespace@401..402 " "
            RBrace@402..403 "}"
        Semi@403..404 ";"
        Whitespace@404..409 "\n    "
      STMT_EXPR@409..437
        EXPR_CALL@409..431
          EXPR_IDENT@409..416
            PATH@409..416
              Ident@409..416 "println"
          ARG_LIST@416..431
            LParen@416..417 "("
            ARG@417..430
              EXPR_CALL@417..430
                EXPR_BINARY@417..428
                  EXPR_IDENT@417..422
                    PATH@417..422
                      Ident@417..422 "point"
                  Dot@422..423 "."
                  EXPR_IDENT@423..428
                    PATH@423..428
                      Ident@423..428 "debug"
                ARG_LIST@428..430
                  LParen@428..429 "("
                  RParen@429..430 ")"
            RParen@430..431 ")"
        Semi@431..432 ";"
        Whitespace@432..437 "\n    "
      STMT_EXPR@437..464
        EXPR_CALL@437..458
          EXPR_IDENT@437..444
            PATH@437..444
              Ident@437..444 "println"
          ARG_LIST@444..458
            LParen@444..445 "("
            ARG@445..457
              EXPR_CALL@445..457
                EXPR_BINARY@445..455
                  EXPR_IDENT@445..449
                    PATH@445..449
                      Ident@445..449 "idle"
                  Dot@449..450 "."
                  EXPR_IDENT@450..455
                    PATH@450..455
                      Ident@450..455 "debug"
                ARG_LIST@455..457
                  LParen@455..456 "("
                  RParen@456..457 ")"
            RParen@457..458 ")"
        Semi@458..459 ";"
        Whitespace@459..464 "\n    "
      STMT_EXPR@464..492
        EXPR_CALL@464..486
          EXPR_IDENT@464..471
            PATH@464..471
              Ident@464..471 "println"
          ARG_LIST@471..486
            LParen@471..472 "("
            ARG@472..485
              EXPR_CALL@472..485
                EXPR_BINARY@472..483
                  EXPR_IDENT@472..477
                    PATH@472..477
                      Ident@472..477 "value"
                  Dot@477..478 "."
                  EXPR_IDENT@478..483
                    PATH@478..483
                      Ident@478..483 "debug"
                ARG_LIST@483..485
                  LParen@483..484 "("
                  RParen@484..485 ")"
            RParen@485..486 ")"
        Semi@486..487 ";"
        Whitespace@487..492 "\n    "
      STMT_EXPR@492..526
        EXPR_CALL@492..520
          EXPR_IDENT@492..499
            PATH@492..499
              Ident@492..499 "println"
          ARG_LIST@499..520
            LParen@499..500 "("
            ARG@500..519
              EXPR_CALL@500..519
                EXPR_IDENT@500..512
                  PATH@500..512
                    Ident@500..505 "Debug"
                    ColonColon@505..507 "::"
                    Ident@507..512 "debug"
                ARG_LIST@512..519
                  LParen@512..513 "("
                  ARG@513..518
                    EXPR_IDENT@513..518
                      PATH@513..518
                        Ident@513..518 "named"
                  RParen@518..519 ")"
            RParen@519..520 ")"
        Semi@520..521 ";"
        Whitespace@521..526 "\n    "
      EXPR_CALL@526..561
        EXPR_IDENT@526..533
          PATH@526..533
            Ident@526..533 "println"
        ARG_LIST@533..561
          LParen@533..534 "("
          ARG@534..559
            EXPR_CALL@534..559
              EXPR_IDENT@534..543
                PATH@534..543
                  Ident@534..543 "debug_dyn"
              ARG_LIST@543..559
                LParen@543..544 "("
                ARG@544..558
                  EXPR_CAST@544..558
                    EXPR_INT@544..546
                      Int@544..545 "9"
                      Whitespace@545..546 " "
                    AsKeyword@546..548 "as"
                    Whitespace@548..549 " "
                    TYPE_DYN@549..558
                      DynKeyword@549..552 "dyn"
                      Whitespace@552..553 " "
                      DYN_BOUND@553..558
                        PATH@553..558
                          Ident@553..558 "Debug"
                RParen@558..559 ")"
          RParen@559..560 ")"
          Whitespace@560..561 "\n"
      RBrace@561..562 "}"
      Whitespace@562..563 "\n"