FILE@0..1731
  FN@0..345
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "countdown"
    PARAM_LIST@12..25
      LParen@12..13 "("
      PARAM@13..23
        Ident@13..18 "start"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..23
          I32Keyword@20..23 "i32"
      RParen@23..24 ")"
      Whitespace@24..25 " "
    Arrow@25..27 "->"
    Whitespace@27..28 " "
    TYPE_TAPP@28..44
      PATH@28..38
        Ident@28..38 "FnIterator"
      TYPE_PARAM_LIST@38..44
        LBracket@38..39 "["
        TYPE_INT32@39..42
          I32Keyword@39..42 "i32"
        RBracket@42..43 "]"
        Whitespace@43..44 " "
    BLOCK@44..345
      LBrace@44..45 "{"
      Whitespace@45..50 "\n    "
      STMT_LET@50..85
        LetKeyword@50..53 "let"
        Whitespace@53..54 " "
        PATTERN_VARIABLE@54..62
          Ident@54..61 "current"
          Whitespace@61..62 " "
        Eq@62..63 "="
        Whitespace@63..64 " "
        EXPR_CALL@64..79
          EXPR_IDENT@64..72
            PATH@64..72
              Ident@64..67 "Ref"
              ColonColon@67..69 "::"
              Ident@69..72 "new"
          ARG_LIST@72..79
            LParen@72..73 "("
            ARG@73..78
              EXPR_IDENT@73..78
                PATH@73..78
                  Ident@73..78 "start"
            RParen@78..79 ")"
        Semi@79..80 ";"
        Whitespace@80..85 "\n    "
      EXPR_CALL@85..342
        EXPR_IDENT@85..104
          PATH@85..104
            Ident@85..95 "FnIterator"
            ColonColon@95..97 "::"
            Ident@97..104 "from_fn"
        ARG_LIST@104..342
          LParen@104..105 "("
          Whitespace@105..114 "\n        "
          ARG@114..340
            EXPR_CLOSURE@114..334
              CLOSURE_PARAM_LIST@114..117
                OrOr@114..116 "||"
                Whitespace@116..117 " "
              EXPR_CLOSURE_BODY@117..334
                BLOCK@117..334
                  LBrace@117..118 "{"
                  Whitespace@118..131 "\n            "
                  STMT_LET@131..170
                    LetKeyword@131..134 "let"
                    Whitespace@134..135 " "
                    PATTERN_VARIABLE@135..141
                      Ident@135..140 "value"
                      Whitespace@140..141 " "
                    Eq@141..142 "="
                    Whitespace@142..143 " "
                    EXPR_CALL@143..156
                      EXPR_BINARY@143..154
                        EXPR_IDENT@143..150
                          PATH@143..150
                            Ident@143..150 "current"
                        Dot@150..151 "."
                        EXPR_IDENT@151..154
                          PATH@151..154
                            Ident@151..154 "get"
                      ARG_LIST@154..156
                        LParen@154..155 "("
                        RParen@155..156 ")"
                    Semi@156..157 ";"
                    Whitespace@157..170 "\n            "
                  EXPR_IF@170..333
                    IfKeyword@170..172 "if"
                    Whitespace@172..173 " "
                    EXPR_IF_COND@173..183
                      EXPR_BINARY@173..183
                        EXPR_IDENT@173..179
                          PATH@173..179
                            Ident@173..178 "value"
                            Whitespace@178..179 " "
                        Greater@179..180 ">"
                        Whitespace@180..181 " "
                        EXPR_INT@181..183
                          Int@181..182 "0"
                          Whitespace@182..183 " "
                    EXPR_IF_THEN@183..275
                      BLOCK@183..275
                        LBrace@183..184 "{"
                        Whitespace@184..201 "\n                "
                        STMT_EXPR@201..241
                          EXPR_CALL@201..223
                            EXPR_BINARY@201..212
                              EXPR_IDENT@201..208
                                PATH@201..208
                                  Ident@201..208 "current"
                              Dot@208..209 "."
                              EXPR_IDENT@209..212
                                PATH@209..212
                                  Ident@209..212 "set"
                            ARG_LIST@212..223
                              LParen@212..213 "("
                              ARG@213..222
                                EXPR_BINARY@213..222
                                  EXPR_IDENT@213..219
                                    PATH@213..219
                                      Ident@213..218 "value"
                                      Whitespace@218..219 " "
                                  Minus@219..220 "-"
                                  Whitespace@220..221 " "
                                  EXPR_INT@221..222
                                    Int@221..222 "1"
                              RParen@222..223 ")"
                          Semi@223..224 ";"
                          Whitespace@224..241 "\n                "
                        EXPR_CALL@241..273
                          EXPR_IDENT@241..253
                            PATH@241..253
                              Ident@241..247 "Option"
                              ColonColon@247..249 "::"
                              Ident@249..253 "Some"
                          ARG_LIST@253..273
                            LParen@253..254 "("
                            ARG@254..259
                              EXPR_IDENT@254..259
                                PATH@254..259
                                  Ident@254..259 "value"
                            RParen@259..260 ")"
                            Whitespace@260..273 "\n            "
                        RBrace@273..274 "}"
                        Whitespace@274..275 " "
                    ElseKeyword@275..279 "else"
                    Whitespace@279..280 " "
                    EXPR_IF_ELSE@280..333
                      BLOCK@280..333
                        LBrace@280..281 "{"
                        Whitespace@281..298 "\n                "
                        EXPR_IDENT@298..323
                          PATH@298..323
                            Ident@298..304 "Option"
                            ColonColon@304..306 "::"
                            Ident@306..310 "None"
                            Whitespace@310..323 "\n            "
                        RBrace@323..324 "}"
                        Whitespace@324..333 "\n        "
                  RBrace@333..334 "}"
            Comma@334..335 ","
            Whitespace@335..340 "\n    "
          RParen@340..341 ")"
          Whitespace@341..342 "\n"
      RBrace@342..343 "}"
      Whitespace@343..345 "\n\n"
  FN@345..453
    FnKeyword@345..347 "fn"
    Whitespace@347..348 " "
    Ident@348..361 "counted_range"
    PARAM_LIST@361..379
      LParen@361..362 "("
      PARAM@362..377
        Ident@362..367 "calls"
        Colon@367..368 ":"
        Whitespace@368..369 " "
        TYPE_TAPP@369..377
          PATH@369..372
            Ident@369..372 "Ref"
          TYPE_PARAM_LIST@372..377
            LBracket@372..373 "["
            TYPE_INT32@373..376
              I32Keyword@373..376 "i32"
            RBracket@376..377 "]"
      RParen@377..378 ")"
      Whitespace@378..379 " "
    Arrow@379..381 "->"
    Whitespace@381..382 " "
    TYPE_TAPP@382..400
      PATH@382..392
        Ident@382..392 "FnIterator"
      TYPE_PARAM_LIST@392..400
        LBracket@392..393 "["
        TYPE_INT@393..398
          IsizeKeyword@393..398 "isize"
        RBracket@398..399 "]"
        Whitespace@399..400 " "
    BLOCK@400..453
      LBrace@400..401 "{"
      Whitespace@401..406 "\n    "
      STMT_EXPR@406..438
        EXPR_CALL@406..432
          EXPR_BINARY@406..415
            EXPR_IDENT@406..411
              PATH@406..411
                Ident@406..411 "calls"
            Dot@411..412 "."
            EXPR_IDENT@412..415
              PATH@412..415
                Ident@412..415 "set"
          ARG_LIST@415..432
            LParen@415..416 "("
            ARG@416..431
              EXPR_BINARY@416..431
                EXPR_CALL@416..428
                  EXPR_BINARY@416..425
                    EXPR_IDENT@416..421
                      PATH@416..421
                        Ident@416..421 "calls"
                    Dot@421..422 "."
                    EXPR_IDENT@422..425
                      PATH@422..425
                        Ident@422..425 "get"
                  ARG_LIST@425..428
                    LParen@425..426 "("
                    RParen@426..427 ")"
                    Whitespace@427..428 " "
                Plus@428..429 "+"
                Whitespace@429..430 " "
                EXPR_INT@430..431
                  Int@430..431 "1"
            RParen@431..432 ")"
        Semi@432..433 ";"
        Whitespace@433..438 "\n    "
      EXPR_CALL@438..450
        EXPR_IDENT@438..443
          PATH@438..443
            Ident@438..443 "range"
        ARG_LIST@443..450
          LParen@443..444 "("
          ARG@444..447
            EXPR_INT@444..445
              Int@444..445 "1"
            Comma@445..446 ","
            Whitespace@446..447 " "
          ARG@447..448
            EXPR_INT@447..448
              Int@447..448 "5"
          RParen@448..449 ")"
          Whitespace@449..450 "\n"
      RBrace@450..451 "}"
      Whitespace@451..453 "\n\n"
  FN@453..628
    FnKeyword@453..455 "fn"
    Whitespace@455..456 " "
    Ident@456..466 "first_even"
    PARAM_LIST@466..494
      LParen@466..467 "("
      PARAM@467..492
        Ident@467..473 "values"
        Colon@473..474 ":"
        Whitespace@474..475 " "
        TYPE_TAPP@475..492
          PATH@475..485
            Ident@475..485 "FnIterator"
          TYPE_PARAM_LIST@485..492
            LBracket@485..486 "["
            TYPE_INT@486..491
              IsizeKeyword@486..491 "isize"
            RBracket@491..492 "]"
      RParen@492..493 ")"
      Whitespace@493..494 " "
    Arrow@494..496 "->"
    Whitespace@496..497 " "
    TYPE_INT@497..503
      IsizeKeyword@497..502 "isize"
      Whitespace@502..503 " "
    BLOCK@503..628
      LBrace@503..504 "{"
      Whitespace@504..509 "\n    "
      STMT_EXPR@509..622
        EXPR_FOR@509..616
          ForKeyword@509..512 "for"
          Whitespace@512..513 " "
          PATTERN_VARIABLE@513..519
            Ident@513..518 "value"
            Whitespace@518..519 " "
          InKeyword@519..521 "in"
          Whitespace@521..522 " "
          EXPR_IDENT@522..529
            PATH@522..529
              Ident@522..528 "values"
              Whitespace@528..529 " "
          BLOCK@529..616
            LBrace@529..530 "{"
            Whitespace@530..539 "\n        "
            STMT_EXPR@539..615
              EXPR_IF@539..609
                IfKeyword@539..541 "if"
                Whitespace@541..542 " "
                EXPR_IF_COND@542..565
                  EXPR_BINARY@542..565
                    EXPR_BINARY@542..556
                      EXPR_BINARY@542..552
                        EXPR_IDENT@542..548
                          PATH@542..548
                            Ident@542..547 "value"
                            Whitespace@547..548 " "
                        Slash@548..549 "/"
                        Whitespace@549..550 " "
                        EXPR_INT@550..552
                          Int@550..551 "2"
                          Whitespace@551..552 " "
                      Star@552..553 "*"
                      Whitespace@553..554 " "
                      EXPR_INT@554..556
                        Int@554..555 "2"
                        Whitespace@555..556 " "
                    EqEq@556..558 "=="
                    Whitespace@558..559 " "
                    EXPR_IDENT@559..565
                      PATH@559..565
                        Ident@559..564 "value"
                        Whitespace@564..565 " "
                EXPR_IF_THEN@565..602
                  BLOCK@565..602
                    LBrace@565..566 "{"
                    Whitespace@566..579 "\n            "
                    EXPR_RETURN@579..600
                      ReturnKeyword@579..585 "return"
                      Whitespace@585..586 " "
                      EXPR_IDENT@586..600
                        PATH@586..600
                          Ident@586..591 "value"
                          Whitespace@591..600 "\n        "
                    RBrace@600..601 "}"
                    Whitespace@601..602 " "
                ElseKeyword@602..606 "else"
                Whitespace@606..607 " "
                EXPR_IF_ELSE@607..609
                  BLOCK@607..609
                    LBrace@607..608 "{"
                    RBrace@608..609 "}"
              Semi@609..610 ";"
              Whitespace@610..615 "\n    "
            RBrace@615..616 "}"
        Semi@616..617 ";"
        Whitespace@617..622 "\n    "
      EXPR_PREFIX@622..625
        Minus@622..623 "-"
        EXPR_INT@623..625
          Int@623..624 "1"
          Whitespace@624..625 "\n"
      RBrace@625..626 "}"
      Whitespace@626..628 "\n\n"
  FN@628..1731
    FnKeyword@628..630 "fn"
    Whitespace@630..631 " "
    Ident@631..635 "main"
    PARAM_LIST@635..638
      LParen@635..636 "("
      RParen@636..637 ")"
      Whitespace@637..638 " "
    Arrow@638..640 "->"
    Whitespace@640..641 " "
    TYPE_TUPLE@641..644
      TYPE_LIST@641..644
        LParen@641..642 "("
        RParen@642..643 ")"
        Whitespace@643..644 " "
    BLOCK@644..1731
      LBrace@644..645 "{"
      Whitespace@645..650 "\n    "
      STMT_LET@650..689
        LetKeyword@650..653 "let"
        Whitespace@653..654 " "
        PATTERN_VARIABLE@654..660
          Ident@654..660 "values"
        Colon@660..661 ":"
        Whitespace@661..662 " "
        TYPE_TAPP@662..671
          PATH@662..665
            Ident@662..665 "Vec"
          TYPE_PARAM_LIST@665..671
            LBracket@665..666 "["
            TYPE_INT32@666..669
              I32Keyword@666..669 "i32"
            RBracket@669..670 "]"
            Whitespace@670..671 " "
        Eq@671..672 "="
        Whitespace@672..673 " "
        EXPR_CALL@673..683
          EXPR_IDENT@673..681
            PATH@673..681
              Ident@673..676 "Vec"
              ColonColon@676..678 "::"
              Ident@678..681 "new"
          ARG_LIST@681..683
            LParen@681..682 "("
            RParen@682..683 ")"
        Semi@683..684 ";"
        Whitespace@684..689 "\n    "
      STMT_EXPR@689..710
        EXPR_CALL@689..704
          EXPR_BINARY@689..700
            EXPR_IDENT@689..695
              PATH@689..695
                Ident@689..695 "values"
            Dot@695..696 "."
            EXPR_IDENT@696..700
              PATH@696..700
                Ident@696..700 "push"
          ARG_LIST@700..704
            LParen@700..701 "("
            ARG@701..703
              EXPR_INT@701..703
                Int@701..703 "10"
            RParen@703..704 ")"
        Semi@704..705 ";"
        Whitespace@705..710 "\n    "
      STMT_EXPR@710..731
        EXPR_CALL@710..725
          EXPR_BINARY@710..721
            EXPR_IDENT@710..716
              PATH@710..716
                Ident@710..716 "values"
            Dot@716..717 "."
            EXPR_IDENT@717..721
              PATH@717..721
                Ident@717..721 "push"
          ARG_LIST@721..725
            LParen@721..722 "("
            ARG@722..724
              EXPR_INT@722..724
                Int@722..724 "20"
            RParen@724..725 ")"
        Semi@725..726 ";"
        Whitespace@726..731 "\n    "
      STMT_EXPR@731..752
        EXPR_CALL@731..746
          EXPR_BINARY@731..742
            EXPR_IDENT@731..737
              PATH@731..737
                Ident@731..737 "values"
            Dot@737..738 "."
            EXPR_IDENT@738..742
              PATH@738..742
                Ident@738..742 "push"
          ARG_LIST@742..746
            LParen@742..743 "("
            ARG@743..745
              EXPR_INT@743..745
                Int@743..745 "30"
            RParen@745..746 ")"
        Semi@746..747 ";"
        Whitespace@747..752 "\n    "
      STMT_LET@752..779
        LetKeyword@752..755 "let"
        Whitespace@755..756 " "
        PATTERN_VARIABLE@756..760
          Ident@756..759 "sum"
          Whitespace@759..760 " "
        Eq@760..761 "="
        Whitespace@761..762 " "
        EXPR_CALL@762..773
          EXPR_IDENT@762..770
            PATH@762..770
              Ident@762..765 "Ref"
              ColonColon@765..767 "::"
              Ident@767..770 "new"
          ARG_LIST@770..773
            LParen@770..771 "("
            ARG@771..772
              EXPR_INT@771..772
                Int@771..772 "0"
            RParen@772..773 ")"
        Semi@773..774 ";"
        Whitespace@774..779 "\n    "
      STMT_EXPR@779..912
        EXPR_FOR@779..912
          ForKeyword@779..782 "for"
          Whitespace@782..783 " "
          PATTERN_VARIABLE@783..789
            Ident@783..788 "value"
            Whitespace@788..789 " "
          InKeyword@789..791 "in"
          Whitespace@791..792 " "
          EXPR_IDENT@792..799
            PATH@792..799
              Ident@792..798 "values"
              Whitespace@798..799 " "
          BLOCK@799..912
            LBrace@799..800 "{"
            Whitespace@800..809 "\n        "
            STMT_EXPR@809..874
              EXPR_IF@809..864
                IfKeyword@809..811 "if"
                Whitespace@811..812 " "
                EXPR_IF_COND@812..824
                  EXPR_BINARY@812..824
                    EXPR_IDENT@812..818
                      PATH@812..818
                        Ident@812..817 "value"
                        Whitespace@817..818 " "
                    EqEq@818..820 "=="
                    Whitespace@820..821 " "
                    EXPR_INT@821..824
                      Int@821..823 "20"
                      Whitespace@823..824 " "
                EXPR_IF_THEN@824..857
                  BLOCK@824..857
                    LBrace@824..825 "{"
                    Whitespace@825..838 "\n            "
                    EXPR_CONTINUE@838..855
                      ContinueKeyword@838..846 "continue"
                      Whitespace@846..855 "\n        "
                    RBrace@855..856 "}"
                    Whitespace@856..857 " "
                ElseKeyword@857..861 "else"
                Whitespace@861..862 " "
                EXPR_IF_ELSE@862..864
                  BLOCK@862..864
                    LBrace@862..863 "{"
                    RBrace@863..864 "}"
              Semi@864..865 ";"
              Whitespace@865..874 "\n        "
            STMT_EXPR@874..906
              EXPR_CALL@874..900
                EXPR_BINARY@874..881
                  EXPR_IDENT@874..877
                    PATH@874..877
                      Ident@874..877 "sum"
                  Dot@877..878 "."
                  EXPR_IDENT@878..881
                    PATH@878..881
                      Ident@878..881 "set"
                ARG_LIST@881..900
                  LParen@881..882 "("
                  ARG@882..899
                    EXPR_BINARY@882..899
                      EXPR_CALL@882..892
                        EXPR_BINARY@882..889
                          EXPR_IDENT@882..885
                            PATH@882..885
                              Ident@882..885 "sum"
                          Dot@885..886 "."
                          EXPR_IDENT@886..889
                            PATH@886..889
                              Ident@886..889 "get"
                        ARG_LIST@889..892
                          LParen@889..890 "("
                          RParen@890..891 ")"
                          Whitespace@891..892 " "
                      Plus@892..893 "+"
                      Whitespace@893..894 " "
                      EXPR_IDENT@894..899
                        PATH@894..899
                          Ident@894..899 "value"
                  RParen@899..900 ")"
              Semi@900..901 ";"
              Whitespace@901..906 "\n    "
            RBrace@906..907 "}"
            Whitespace@907..912 "\n    "
      STMT_EXPR@912..936
        EXPR_CALL@912..930
          EXPR_IDENT@912..919
            PATH@912..919
              Ident@912..919 "println"
          ARG_LIST@919..930
            LParen@919..920 "("
            ARG@920..929
              EXPR_CALL@920..929
                EXPR_BINARY@920..927
                  EXPR_IDENT@920..923
                    PATH@920..923
                      Ident@920..923 "sum"
                  Dot@923..924 "."
                  EXPR_IDENT@924..927
                    PATH@924..927
                      Ident@924..927 "get"
                ARG_LIST@927..929
                  LParen@927..928 "("
                  RParen@928..929 ")"
            RParen@929..930 ")"
        Semi@930..931 ";"
        Whitespace@931..936 "\n    "
      STMT_LET@936..984
        LetKeyword@936..939 "let"
        Whitespace@939..940 " "
        PATTERN_VARIABLE@940..945
          Ident@940..945 "pairs"
        Colon@945..946 ":"
        Whitespace@946..947 " "
        TYPE_TAPP@947..966
          PATH@947..950
            Ident@947..950 "Vec"
          TYPE_PARAM_LIST@950..966
            LBracket@950..951 "["
            TYPE_TUPLE@951..964
              TYPE_LIST@951..964
                LParen@951..952 "("
                TYPE_INT32@952..955
                  I32Keyword@952..955 "i32"
                Comma@955..956 ","
                Whitespace@956..957 " "
                TYPE_STRING@957..963
                  StringKeyword@957..963 "string"
                RParen@963..964 ")"
            RBracket@964..965 "]"
            Whitespace@965..966 " "
        Eq@966..967 "="
        Whitespace@967..968 " "
        EXPR_CALL@968..978
          EXPR_IDENT@968..976
            PATH@968..976
              Ident@968..971 "Vec"
              ColonColon@971..973 "::"
              Ident@973..976 "new"
          ARG_LIST@976..978
            LParen@976..977 "("
            RParen@977..978 ")"
        Semi@978..979 ";"
        Whitespace@979..984 "\n    "
      STMT_EXPR@984..1010
        EXPR_CALL@984..1004
          EXPR_BINARY@984..994
            EXPR_IDENT@984..989
              PATH@984..989
                Ident@984..989 "pairs"
            Dot@989..990 "."
            EXPR_IDENT@990..994
              PATH@990..994
                Ident@990..994 "push"
          ARG_LIST@994..1004
            LParen@994..995 "("
            ARG@995..1003
              EXPR_TUPLE@995..1003
                LParen@995..996 "("
                EXPR_INT@996..997
                  Int@996..997 "1"
                Comma@997..998 ","
                Whitespace@998..999 " "
                EXPR_STR@999..1002
                  Str@999..1002 "\"a\""
                RParen@1002..1003 ")"
            RParen@1003..1004 ")"
        Semi@1004..1005 ";"
        Whitespace@1005..1010 "\n    "
      STMT_EXPR@1010..1036
        EXPR_CALL@1010..1030
          EXPR_BINARY@1010..1020
            EXPR_IDENT@1010..1015
              PATH@1010..1015
                Ident@1010..1015 "pairs"
            Dot@1015..1016 "."
            EXPR_IDENT@1016..1020
              PATH@1016..1020
                Ident@1016..1020 "push"
          ARG_LIST@1020..1030
            LParen@1020..1021 "("
            ARG@1021..1029
              EXPR_TUPLE@1021..1029
                LParen@1021..1022 "("
                EXPR_INT@1022..1023
                  Int@1022..1023 "2"
                Comma@1023..1024 ","
                Whitespace@1024..1025 " "
                EXPR_STR@1025..1028
                  Str@1025..1028 "\"b\""
                RParen@1028..1029 ")"
            RParen@1029..1030 ")"
        Semi@1030..1031 ";"
        Whitespace@1031..1036 "\n    "
      STMT_EXPR@1036..1120
        EXPR_FOR@1036..1120
          ForKeyword@1036..1039 "for"
          Whitespace@1039..1040 " "
          PATTERN_TUPLE@1040..1055
            LParen@1040..1041 "("
            PATTERN_VARIABLE@1041..1047
              Ident@1041..1047 "number"
            Comma@1047..1048 ","
            Whitespace@1048..1049 " "
            PATTERN_VARIABLE@1049..1053
              Ident@1049..1053 "text"
            RParen@1053..1054 ")"
            Whitespace@1054..1055 " "
          InKeyword@1055..1057 "in"
          Whitespace@1057..1058 " "
          EXPR_IDENT@1058..1064
            PATH@1058..1064
              Ident@1058..1063 "pairs"
              Whitespace@1063..1064 " "
          BLOCK@1064..1120
            LBrace@1064..1065 "{"
            Whitespace@1065..1074 "\n        "
            STMT_EXPR@1074..1114
              EXPR_CALL@1074..1108
                EXPR_IDENT@1074..1081
                  PATH@1074..1081
                    Ident@1074..1081 "println"
                ARG_LIST@1081..1108
                  LParen@1081..1082 "("
                  ARG@1082..1107
                    EXPR_BINARY@1082..1107
                      EXPR_CALL@1082..1101
                        EXPR_BINARY@1082..1098
                          EXPR_IDENT@1082..1088
                            PATH@1082..1088
                              Ident@1082..1088 "number"
                          Dot@1088..1089 "."
                          EXPR_IDENT@1089..1098
                            PATH@1089..1098
                              Ident@1089..1098 "to_string"
                        ARG_LIST@1098..1101
                          LParen@1098..1099 "("
                          RParen@1099..1100 ")"
                          Whitespace@1100..1101 " "
                      Plus@1101..1102 "+"
                      Whitespace@1102..1103 " "
                      EXPR_IDENT@1103..1107
                        PATH@1103..1107
                          Ident@1103..1107 "text"
                  RParen@1107..1108 ")"
              Semi@1108..1109 ";"
              Whitespace@1109..1114 "\n    "
            RBrace@1114..1115 "}"
            Whitespace@1115..1120 "\n    "
      STMT_LET@1120..1149
        LetKeyword@1120..1123 "let"
        Whitespace@1123..1124 " "
        PATTERN_VARIABLE@1124..1130
          Ident@1124..1129 "calls"
          Whitespace@1129..1130 " "
        Eq@1130..1131 "="
        Whitespace@1131..1132 " "
        EXPR_CALL@1132..1143
          EXPR_IDENT@1132..1140
            PATH@1132..1140
              Ident@1132..1135 "Ref"
              ColonColon@1135..1137 "::"
              Ident@1137..1140 "new"
          ARG_LIST@1140..1143
            LParen@1140..1141 "("
            ARG@1141..1142
              EXPR_INT@1141..1142
                Int@1141..1142 "0"
            RParen@1142..1143 ")"
        Semi@1143..1144 ";"
        Whitespace@1144..1149 "\n    "
      STMT_LET@1149..1182
        LetKeyword@1149..1152 "let"
        Whitespace@1152..1153 " "
        PATTERN_VARIABLE@1153..1163
          Ident@1153..1162 "range_sum"
          Whitespace@1162..1163 " "
        Eq@1163..1164 "="
        Whitespace@1164..1165 " "
        EXPR_CALL@1165..1176
          EXPR_IDENT@1165..1173
            PATH@1165..1173
              Ident@1165..1168 "Ref"
              ColonColon@1168..1170 "::"
              Ident@1170..1173 "new"
          ARG_LIST@1173..1176
            LParen@1173..1174 "("
            ARG@1174..1175
              EXPR_INT@1174..1175
                Int@1174..1175 "0"
            RParen@1175..1176 ")"
        Semi@1176..1177 ";"
        Whitespace@1177..1182 "\n    "
      STMT_EXPR@1182..1276
        EXPR_FOR@1182..1276
          ForKeyword@1182..1185 "for"
          Whitespace@1185..1186 " "
          PATTERN_VARIABLE@1186..1192
            Ident@1186..1191 "value"
            Whitespace@1191..1192 " "
          InKeyword@1192..1194 "in"
          Whitespace@1194..1195 " "
          EXPR_CALL@1195..1216
            EXPR_IDENT@1195..1208
              PATH@1195..1208
                Ident@1195..1208 "counted_range"
            ARG_LIST@1208..1216
              LParen@1208..1209 "("
              ARG@1209..1214
                EXPR_IDENT@1209..1214
                  PATH@1209..1214
                    Ident@1209..1214 "calls"
              RParen@1214..1215 ")"
              Whitespace@1215..1216 " "
          BLOCK@1216..1276
            LBrace@1216..1217 "{"
            Whitespace@1217..1226 "\n        "
            STMT_EXPR@1226..1270
              EXPR_CALL@1226..1264
                EXPR_BINARY@1226..1239
                  EXPR_IDENT@1226..1235
                    PATH@1226..1235
                      Ident@1226..1235 "range_sum"
                  Dot@1235..1236 "."
                  EXPR_IDENT@1236..1239
                    PATH@1236..1239
                      Ident@1236..1239 "set"
                ARG_LIST@1239..1264
                  LParen@1239..1240 "("
                  ARG@1240..1263
                    EXPR_BINARY@1240..1263
                      EXPR_CALL@1240..1256
                        EXPR_BINARY@1240..1253
                          EXPR_IDENT@1240..1249
                            PATH@1240..1249
                              Ident@1240..1249 "range_sum"
                          Dot@1249..1250 "."
                          EXPR_IDENT@1250..1253
                            PATH@1250..1253
                              Ident@1250..1253 "get"
                        ARG_LIST@1253..1256
                          LParen@1253..1254 "("
                          RParen@1254..1255 ")"
                          Whitespace@1255..1256 " "
                      Plus@1256..1257 "+"
                      Whitespace@1257..1258 " "
                      EXPR_IDENT@1258..1263
                        PATH@1258..1263
                          Ident@1258..1263 "value"
                  RParen@1263..1264 ")"
              Semi@1264..1265 ";"
              Whitespace@1265..1270 "\n    "
            RBrace@1270..1271 "}"
            Whitespace@1271..1276 "\n    "
      STMT_EXPR@1276..1302
        EXPR_CALL@1276..1296
          EXPR_IDENT@1276..1283
            PATH@1276..1283
              Ident@1276..1283 "println"
          ARG_LIST@1283..1296
            LParen@1283..1284 "("
            ARG@1284..1295
              EXPR_CALL@1284..1295
                EXPR_BINARY@1284..1293
                  EXPR_IDENT@1284..1289
                    PATH@1284..1289
                      Ident@1284..1289 "calls"
                  Dot@1289..1290 "."
                  EXPR_IDENT@1290..1293
                    PATH@1290..1293
                      Ident@1290..1293 "get"
                ARG_LIST@1293..1295
                  LParen@1293..1294 "("
                  RParen@1294..1295 ")"
            RParen@1295..1296 ")"
        Semi@1296..1297 ";"
        Whitespace@1297..1302 "\n    "
      STMT_EXPR@1302..1332
        EXPR_CALL@1302..1326
          EXPR_IDENT@1302..1309
            PATH@1302..1309
              Ident@1302..1309 "println"
          ARG_LIST@1309..1326
            LParen@1309..1310 "("
            ARG@1310..1325
              EXPR_CALL@1310..1325
                EXPR_BINARY@1310..1323
                  EXPR_IDENT@1310..1319
                    PATH@1310..1319
                      Ident@1310..1319 "range_sum"
                  Dot@1319..1320 "."
                  EXPR_IDENT@1320..1323
                    PATH@1320..1323
                      Ident@1320..1323 "get"
                ARG_LIST@1323..1325
                  LParen@1323..1324 "("
                  RParen@1324..1325 ")"
            RParen@1325..1326 ")"
        Semi@1326..1327 ";"
        Whitespace@1327..1332 "\n    "
      STMT_LET@1332..1365
        LetKeyword@1332..1335 "let"
        Whitespace@1335..1336 " "
        PATTERN_VARIABLE@1336..1346
          Ident@1336..1345 "slice_sum"
          Whitespace@1345..1346 " "
        Eq@1346..1347 "="
        Whitespace@1347..1348 " "
        EXPR_CALL@1348..1359
          EXPR_IDENT@1348..1356
            PATH@1348..1356
              Ident@1348..1351 "Ref"
              ColonColon@1351..1353 "::"
              Ident@1353..1356 "new"
          ARG_LIST@1356..1359
            LParen@1356..1357 "("
            ARG@1357..1358
              EXPR_INT@1357..1358
                Int@1357..1358 "0"
            RParen@1358..1359 ")"
        Semi@1359..1360 ";"
        Whitespace@1360..1365 "\n    "
      STMT_EXPR@1365..1457
        EXPR_FOR@1365..1457
          ForKeyword@1365..1368 "for"
          Whitespace@1368..1369 " "
          PATTERN_VARIABLE@1369..1375
            Ident@1369..1374 "value"
            Whitespace@1374..1375 " "
          InKeyword@1375..1377 "in"
          Whitespace@1377..1378 " "
          EXPR_CALL@1378..1397
            EXPR_BINARY@1378..1390
              EXPR_IDENT@1378..1384
                PATH@1378..1384
                  Ident@1378..1384 "values"
              Dot@1384..1385 "."
              EXPR_IDENT@1385..1390
                PATH@1385..1390
                  Ident@1385..1390 "slice"
            ARG_LIST@1390..1397
              LParen@1390..1391 "("
              ARG@1391..1394
                EXPR_INT@1391..1392
                  Int@1391..1392 "1"
                Comma@1392..1393 ","
                Whitespace@1393..1394 " "
              ARG@1394..1395
                EXPR_INT@1394..1395
                  Int@1394..1395 "3"
              RParen@1395..1396 ")"
              Whitespace@1396..1397 " "
          BLOCK@1397..1457
            LBrace@1397..1398 "{"
            Whitespace@1398..1407 "\n        "
            STMT_EXPR@1407..1451
              EXPR_CALL@1407..1445
                EXPR_BINARY@1407..1420
                  EXPR_IDENT@1407..1416
                    PATH@1407..1416
                      Ident@1407..1416 "slice_sum"
                  Dot@1416..1417 "."
                  EXPR_IDENT@1417..1420
                    PATH@1417..1420
                      Ident@1417..1420 "set"
                ARG_LIST@1420..1445
                  LParen@1420..1421 "("
                  ARG@1421..1444
                    EXPR_BINARY@1421..1444
                      EXPR_CALL@1421..1437
                        EXPR_BINARY@1421..1434
                          EXPR_IDENT@1421..1430
                            PATH@1421..1430
                              Ident@1421..1430 "slice_sum"
                          Dot@1430..1431 "."
                          EXPR_IDENT@1431..1434
                            PATH@1431..1434
                              Ident@1431..1434 "get"
                        ARG_LIST@1434..1437
                          LParen@1434..1435 "("
                          RParen@1435..1436 ")"
                          Whitespace@1436..1437 " "
                      Plus@1437..1438 "+"
                      Whitespace@1438..1439 " "
                      EXPR_IDENT@1439..1444
                        PATH@1439..1444
                          Ident@1439..1444 "value"
                  RParen@1444..1445 ")"
              Semi@1445..1446 ";"
              Whitespace@1446..1451 "\n    "
            RBrace@1451..1452 "}"
            Whitespace@1452..1457 "\n    "
      STMT_EXPR@1457..1487
        EXPR_CALL@1457..1481
          EXPR_IDENT@1457..1464
            PATH@1457..1464
              Ident@1457..1464 "println"
          ARG_LIST@1464..1481
            LParen@1464..1465 "("
            ARG@1465..1480
              EXPR_CALL@1465..1480
                EXPR_BINARY@1465..1478
                  EXPR_IDENT@1465..1474
                    PATH@1465..1474
                      Ident@1465..1474 "slice_sum"
                  Dot@1474..1475 "."
                  EXPR_IDENT@1475..1478
                    PATH@1475..1478
                      Ident@1475..1478 "get"
                ARG_LIST@1478..1480
                  LParen@1478..1479 "("
                  RParen@1479..1480 ")"
            RParen@1480..1481 ")"
        Semi@1481..1482 ";"
        Whitespace@1482..1487 "\n    "
      STMT_EXPR@1487..1623
        EXPR_FOR@1487..1623
          ForKeyword@1487..1490 "for"
          Whitespace@1490..1491 " "
          PATTERN_VARIABLE@1491..1497
            Ident@1491..1496 "value"
            Whitespace@1496..1497 " "
          InKeyword@1497..1499 "in"
          Whitespace@1499..1500 " "
          EXPR_CALL@1500..1513
            EXPR_IDENT@1500..1509
              PATH@1500..1509
                Ident@1500..1509 "countdown"
            ARG_LIST@1509..1513
              LParen@1509..1510 "("
              ARG@1510..1511
                EXPR_INT@1510..1511
                  Int@1510..1511 "4"
              RParen@1511..1512 ")"
              Whitespace@1512..1513 " "
          BLOCK@1513..1623
            LBrace@1513..1514 "{"
            Whitespace@1514..1523 "\n        "
            STMT_EXPR@1523..1617
              EXPR_IF@1523..1611
                IfKeyword@1523..1525 "if"
                Whitespace@1525..1526 " "
                EXPR_IF_COND@1526..1537
                  EXPR_BINARY@1526..1537
                    EXPR_IDENT@1526..1532
                      PATH@1526..1532
                        Ident@1526..1531 "value"
                        Whitespace@1531..1532 " "
                    EqEq@1532..1534 "=="
                    Whitespace@1534..1535 " "
                    EXPR_INT@1535..1537
                      Int@1535..1536 "2"
                      Whitespace@1536..1537 " "
                EXPR_IF_THEN@1537..1567
                  BLOCK@1537..1567
                    LBrace@1537..1538 "{"
                    Whitespace@1538..1551 "\n            "
                    EXPR_BREAK@1551..1565
                      BreakKeyword@1551..1556 "break"
                      Whitespace@1556..1565 "\n        "
                    RBrace@1565..1566 "}"
                    Whitespace@1566..1567 " "
                ElseKeyword@1567..1571 "else"
                Whitespace@1571..1572 " "
                EXPR_IF_ELSE@1572..1611
                  BLOCK@1572..1611
                    LBrace@1572..1573 "{"
                    Whitespace@1573..1586 "\n            "
                    STMT_EXPR@1586..1610
                      EXPR_CALL@1586..1600
                        EXPR_IDENT@1586..1593
                          PATH@1586..1593
                            Ident@1586..1593 "println"
                        ARG_LIST@1593..1600
                          LParen@1593..1594 "("
                          ARG@1594..1599
                            EXPR_IDENT@1594..1599
                              PATH@1594..1599
                                Ident@1594..1599 "value"
                          RParen@1599..1600 ")"
                      Semi@1600..1601 ";"
                      Whitespace@1601..1610 "\n        "
                    RBrace@1610..1611 "}"
              Semi@1611..1612 ";"
              Whitespace@1612..1617 "\n    "
            RBrace@1617..1618 "}"
            Whitespace@1618..1623 "\n    "
      STMT_LET@1623..1652
        LetKeyword@1623..1626 "let"
        Whitespace@1626..1627 " "
        PATTERN_VARIABLE@1627..1633
          Ident@1627..1632 "empty"
          Whitespace@1632..1633 " "
        Eq@1633..1634 "="
        Whitespace@1634..1635 " "
        EXPR_CALL@1635..1646
          EXPR_IDENT@1635..1640
            PATH@1635..1640
              Ident@1635..1640 "range"
          ARG_LIST@1640..1646
            LParen@1640..1641 "("
            ARG@1641..1644
              EXPR_INT@1641..1642
                Int@1641..1642 "0"
              Comma@1642..1643 ","
              Whitespace@1643..1644 " "
            ARG@1644..1645
              EXPR_INT@1644..1645
                Int@1644..1645 "0"
            RParen@1645..1646 ")"
        Semi@1646..1647 ";"
        Whitespace@1647..1652 "\n    "
      STMT_EXPR@1652..1674
        EXPR_FOR@1652..1674
          ForKeyword@1652..1655 "for"
          Whitespace@1655..1656 " "
          PATTERN_WILDCARD@1656..1658
            WildcardKeyword@1656..1657 "_"
            Whitespace@1657..1658 " "
          InKeyword@1658..1660 "in"
          Whitespace@1660..1661 " "
          EXPR_IDENT@1661..1667
            PATH@1661..1667
              Ident@1661..1666 "empty"
              Whitespace@1666..1667 " "
          BLOCK@1667..1674
            LBrace@1667..1668 "{"
            RBrace@1668..1669 "}"
            Whitespace@1669..1674 "\n    "
      STMT_EXPR@1674..1712
        EXPR_CALL@1674..1706
          EXPR_IDENT@1674..1681
            PATH@1674..1681
              Ident@1674..1681 "println"
          ARG_LIST@1681..1706
            LParen@1681..1682 "("
            ARG@1682..1705
              EXPR_CALL@1682..1705
                EXPR_IDENT@1682..1692
                  PATH@1682..1692
                    Ident@1682..1692 "first_even"
                ARG_LIST@1692..1705
                  LParen@1692..1693 "("
                  ARG@1693..1704
                    EXPR_CALL@1693..1704
                      EXPR_IDENT@1693..1698
                        PATH@1693..1698
                          Ident@1693..1698 "range"
                      ARG_LIST@1698..1704
                        LParen@1698..1699 "("
                        ARG@1699..1702
                          EXPR_INT@1699..1700
                            Int@1699..1700 "3"
                          Comma@1700..1701 ","
                          Whitespace@1701..1702 " "
                        ARG@1702..1703
                          EXPR_INT@1702..1703
                            Int@1702..1703 "8"
                        RParen@1703..1704 ")"
                  RParen@1704..1705 ")"
            RParen@1705..1706 ")"
        Semi@1706..1707 ";"
        Whitespace@1707..1712 "\n    "
      STMT_EXPR@1712..1729
        EXPR_CALL@1712..1727
          EXPR_IDENT@1712..1719
            PATH@1712..1719
              Ident@1712..1719 "println"
          ARG_LIST@1719..1727
            LParen@1719..1720 "("
            ARG@1720..1726
              EXPR_STR@1720..1726
                Str@1720..1726 "\"done\""
            RParen@1726..1727 ")"
        Semi@1727..1728 ";"
        Whitespace@1728..1729 "\n"
      RBrace@1729..1730 "}"
      Whitespace@1730..1731 "\n"