FILE@0..787
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..15 " "
    STRUCT_FIELD_LIST@15..37
      STRUCT_FIELD@15..23
        Ident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT32@18..23
          Int32Keyword@18..23 "int32"
      Comma@23..24 ","
      Whitespace@24..25 " "
      STRUCT_FIELD@25..34
        Ident@25..26 "y"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..34
          Int32Keyword@28..33 "int32"
          Whitespace@33..34 " "
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  ENUM@37..82
    EnumKeyword@37..41 "enum"
    Whitespace@41..42 " "
    Ident@42..47 "Maybe"
    GENERIC_LIST@47..51
      LBracket@47..48 "["
      GENERIC@48..49
        Ident@48..49 "T"
      RBracket@49..50 "]"
      Whitespace@50..51 " "
    LBrace@51..52 "{"
    Whitespace@52..57 "\n    "
    VARIANT_LIST@57..82
      VARIANT@57..64
        Ident@57..61 "Just"
        TYPE_LIST@61..64
          LParen@61..62 "("
          TYPE_TAPP@62..63
            PATH@62..63
              Ident@62..63 "T"
          RParen@63..64 ")"
      Comma@64..65 ","
      Whitespace@65..70 "\n    "
      VARIANT@70..77
        Ident@70..77 "Nothing"
      Comma@77..78 ","
      Whitespace@78..79 "\n"
      RBrace@79..80 "}"
      Whitespace@80..82 "\n\n"
  TRAIT@82..130
    TraitKeyword@82..87 "trait"
    Whitespace@87..88 " "
    Ident@88..95 "Display"
    Whitespace@95..96 " "
    LBrace@96..97 "{"
    Whitespace@97..102 "\n    "
    TRAIT_METHOD_SIG_LIST@102..130
      TRAIT_METHOD_SIG@102..125
        FnKeyword@102..104 "fn"
        Whitespace@104..105 " "
        Ident@105..109 "show"
        TYPE_LIST@109..116
          LParen@109..110 "("
          TYPE_TAPP@110..114
            PATH@110..114
              Ident@110..114 "Self"
          RParen@114..115 ")"
          Whitespace@115..116 " "
        Arrow@116..118 "->"
        Whitespace@118..119 " "
        TYPE_STRING@119..125
          StringKeyword@119..125 "string"
      Semi@125..126 ";"
      Whitespace@126..127 "\n"
      RBrace@127..128 "}"
      Whitespace@128..130 "\n\n"
  IMPL@130..205
    ImplKeyword@130..134 "impl"
    Whitespace@134..135 " "
    PATH@135..143
      Ident@135..142 "Display"
      Whitespace@142..143 " "
    ForKeyword@143..146 "for"
    Whitespace@146..147 " "
    TYPE_TAPP@147..153
      PATH@147..153
        Ident@147..152 "Point"
        Whitespace@152..153 " "
    LBrace@153..154 "{"
    Whitespace@154..159 "\n    "
    FN@159..202
      FnKeyword@159..161 "fn"
      Whitespace@161..162 " "
      Ident@162..166 "show"
      PARAM_LIST@166..180
        LParen@166..167 "("
        PARAM@167..178
          Ident@167..171 "self"
          Colon@171..172 ":"
          Whitespace@172..173 " "
          TYPE_TAPP@173..178
            PATH@173..178
              Ident@173..178 "Point"
        RParen@178..179 ")"
        Whitespace@179..180 " "
      Arrow@180..182 "->"
      Whitespace@182..183 " "
      TYPE_STRING@183..190
        StringKeyword@183..189 "string"
        Whitespace@189..190 " "
      BLOCK@190..202
        LBrace@190..191 "{"
        Whitespace@191..192 " "
        EXPR_STR@192..200
          Str@192..199 "\"Point\""
          Whitespace@199..200 " "
        RBrace@200..201 "}"
        Whitespace@201..202 "\n"
    RBrace@202..203 "}"
    Whitespace@203..205 "\n\n"
  IMPL@205..417
    ImplKeyword@205..209 "impl"
    Whitespace@209..210 " "
    PATH@210..218
      Ident@210..217 "Display"
      Whitespace@217..218 " "
    ForKeyword@218..221 "for"
    Whitespace@221..222 " "
    TYPE_TAPP@222..235
      PATH@222..227
        Ident@222..227 "Maybe"
      TYPE_PARAM_LIST@227..235
        LBracket@227..228 "["
        TYPE_INT32@228..233
          Int32Keyword@228..233 "int32"
        RBracket@233..234 "]"
        Whitespace@234..235 " "
    LBrace@235..236 "{"
    Whitespace@236..241 "\n    "
    FN@241..414
      FnKeyword@241..243 "fn"
      Whitespace@243..244 " "
      Ident@244..248 "show"
      PARAM_LIST@248..269
        LParen@248..249 "("
        PARAM@249..267
          Ident@249..253 "self"
          Colon@253..254 ":"
          Whitespace@254..255 " "
          TYPE_TAPP@255..267
            PATH@255..260
              Ident@255..260 "Maybe"
            TYPE_PARAM_LIST@260..267
              LBracket@260..261 "["
              TYPE_INT32@261..266
                Int32Keyword@261..266 "int32"
              RBracket@266..267 "]"
        RParen@267..268 ")"
        Whitespace@268..269 " "
      Arrow@269..271 "->"
      Whitespace@271..272 " "
      TYPE_STRING@272..279
        StringKeyword@272..278 "string"
        Whitespace@278..279 " "
      BLOCK@279..414
        LBrace@279..280 "{"
        Whitespace@280..289 "\n        "
        EXPR_MATCH@289..412
          MatchKeyword@289..294 "match"
          Whitespace@294..295 " "
          EXPR_IDENT@295..300
            PATH@295..300
              Ident@295..299 "self"
              Whitespace@299..300 " "
          MATCH_ARM_LIST@300..412
            LBrace@300..301 "{"
            Whitespace@301..314 "\n            "
            MATCH_ARM@314..362
              PATTERN_CONSTR@314..326
                PATH@314..318
                  Ident@314..318 "Just"
                LParen@318..319 "("
                PATTERN_VARIABLE@319..324
                  Ident@319..324 "value"
                RParen@324..325 ")"
                Whitespace@325..326 " "
              FatArrow@326..328 "=>"
              Whitespace@328..329 " "
              EXPR_BINARY@329..362
                EXPR_BINARY@329..357
                  EXPR_STR@329..337
                    Str@329..336 "\"Just(\""
                    Whitespace@336..337 " "
                  Plus@337..338 "+"
                  Whitespace@338..339 " "
                  EXPR_CALL@339..357
                    EXPR_BINARY@339..354
                      EXPR_IDENT@339..344
                        PATH@339..344
                          Ident@339..344 "value"
                      Dot@344..345 "."
                      EXPR_IDENT@345..354
                        PATH@345..354
                          Ident@345..354 "to_string"
                    ARG_LIST@354..357
                      LParen@354..355 "("
                      RParen@355..356 ")"
                      Whitespace@356..357 " "
                Plus@357..358 "+"
                Whitespace@358..359 " "
                EXPR_STR@359..362
                  Str@359..362 "\")\""
            Comma@362..363 ","
            Whitespace@363..376 "\n            "
            MATCH_ARM@376..396
              PATTERN_VARIABLE@376..384
                Ident@376..383 "Nothing"
                Whitespace@383..384 " "
              FatArrow@384..386 "=>"
              Whitespace@386..387 " "
              EXPR_STR@387..396
                Str@387..396 "\"Nothing\""
            Comma@396..397 ","
            Whitespace@397..406 "\n        "
            RBrace@406..407 "}"
            Whitespace@407..412 "\n    "
        RBrace@412..413 "}"
        Whitespace@413..414 "\n"
    RBrace@414..415 "}"
    Whitespace@415..417 "\n\n"
  FN@417..506
    FnKeyword@417..419 "fn"
    Whitespace@419..420 " "
    Ident@420..430 "make_maybe"
    PARAM_LIST@430..443
      LParen@430..431 "("
      PARAM@431..441
        Ident@431..435 "flag"
        Colon@435..436 ":"
        Whitespace@436..437 " "
        TYPE_BOOL@437..441
          BoolKeyword@437..441 "bool"
      RParen@441..442 ")"
      Whitespace@442..443 " "
    Arrow@443..445 "->"
    Whitespace@445..446 " "
    TYPE_TAPP@446..459
      PATH@446..451
        Ident@446..451 "Maybe"
      TYPE_PARAM_LIST@451..459
        LBracket@451..452 "["
        TYPE_INT32@452..457
          Int32Keyword@452..457 "int32"
        RBracket@457..458 "]"
        Whitespace@458..459 " "
    BLOCK@459..506
      LBrace@459..460 "{"
      Whitespace@460..465 "\n    "
      EXPR_IF@465..503
        IfKeyword@465..467 "if"
        Whitespace@467..468 " "
        EXPR_IF_COND@468..473
          EXPR_IDENT@468..473
            PATH@468..473
              Ident@468..472 "flag"
              Whitespace@472..473 " "
        EXPR_IF_THEN@473..486
          BLOCK@473..486
            LBrace@473..474 "{"
            Whitespace@474..475 " "
            EXPR_CALL@475..484
              EXPR_IDENT@475..479
                PATH@475..479
                  Ident@475..479 "Just"
              ARG_LIST@479..484
                LParen@479..480 "("
                ARG@480..482
                  EXPR_INT@480..482
                    Int@480..482 "42"
                RParen@482..483 ")"
                Whitespace@483..484 " "
            RBrace@484..485 "}"
            Whitespace@485..486 " "
        ElseKeyword@486..490 "else"
        Whitespace@490..491 " "
        EXPR_IF_ELSE@491..503
          BLOCK@491..503
            LBrace@491..492 "{"
            Whitespace@492..493 " "
            EXPR_IDENT@493..501
              PATH@493..501
                Ident@493..500 "Nothing"
                Whitespace@500..501 " "
            RBrace@501..502 "}"
            Whitespace@502..503 "\n"
      RBrace@503..504 "}"
      Whitespace@504..506 "\n\n"
  FN@506..787
    FnKeyword@506..508 "fn"
    Whitespace@508..509 " "
    Ident@509..513 "main"
    PARAM_LIST@513..516
      LParen@513..514 "("
      RParen@514..515 ")"
      Whitespace@515..516 " "
    BLOCK@516..787
      LBrace@516..517 "{"
      Whitespace@517..522 "\n    "
      STMT_LET@522..560
        LetKeyword@522..525 "let"
        Whitespace@525..526 " "
        PATTERN_VARIABLE@526..532
          Ident@526..531 "point"
          Whitespace@531..532 " "
        Eq@532..533 "="
        Whitespace@533..534 " "
        EXPR_STRUCT_LITERAL@534..554
          PATH@534..540
            Ident@534..539 "Point"
            Whitespace@539..540 " "
          STRUCT_LITERAL_FIELD_LIST@540..554
            LBrace@540..541 "{"
            Whitespace@541..542 " "
            STRUCT_LITERAL_FIELD@542..546
              Ident@542..543 "x"
              Colon@543..544 ":"
              Whitespace@544..545 " "
              EXPR_INT@545..546
                Int@545..546 "1"
            Comma@546..547 ","
            Whitespace@547..548 " "
            STRUCT_LITERAL_FIELD@548..553
              Ident@548..549 "y"
              Colon@549..550 ":"
              Whitespace@550..551 " "
              EXPR_INT@551..553
                Int@551..552 "2"
                Whitespace@552..553 " "
            RBrace@553..554 "}"
        Semi@554..555 ";"
        Whitespace@555..560 "\n    "
      STMT_LET@560..600
        LetKeyword@560..563 "let"
        Whitespace@563..564 " "
        PATTERN_VARIABLE@564..576
          Ident@564..575 "some_number"
          Whitespace@575..576 " "
        Eq@576..577 "="
        Whitespace@577..578 " "
        EXPR_CALL@578..594
          EXPR_IDENT@578..588
            PATH@578..588
              Ident@578..588 "make_maybe"
          ARG_LIST@588..594
            LParen@588..589 "("
            ARG@589..593
              EXPR_BOOL@589..593
                TrueKeyword@589..593 "true"
            RParen@593..594 ")"
        Semi@594..595 ";"
        Whitespace@595..600 "\n    "
      STMT_LET@600..641
        LetKeyword@600..603 "let"
        Whitespace@603..604 " "
        PATTERN_VARIABLE@604..616
          Ident@604..615 "none_number"
          Whitespace@615..616 " "
        Eq@616..617 "="
        Whitespace@617..618 " "
        EXPR_CALL@618..635
          EXPR_IDENT@618..628
            PATH@618..628
              Ident@618..628 "make_maybe"
          ARG_LIST@628..635
            LParen@628..629 "("
            ARG@629..634
              EXPR_BOOL@629..634
                FalseKeyword@629..634 "false"
            RParen@634..635 ")"
        Semi@635..636 ";"
        Whitespace@636..641 "\n    "
      STMT_LET@641..684
        LetKeyword@641..644 "let"
        Whitespace@644..645 " "
        PATTERN_WILDCARD@645..647
          WildcardKeyword@645..646 "_"
          Whitespace@646..647 " "
        Eq@647..648 "="
        Whitespace@648..649 " "
        EXPR_CALL@649..678
          EXPR_IDENT@649..656
            PATH@649..656
              Ident@649..656 "println"
          ARG_LIST@656..678
            LParen@656..657 "("
            ARG@657..677
              EXPR_CALL@657..677
                EXPR_IDENT@657..670
                  PATH@657..670
                    Ident@657..664 "Display"
                    ColonColon@664..666 "::"
                    Ident@666..670 "show"
                ARG_LIST@670..677
                  LParen@670..671 "("
                  ARG@671..676
                    EXPR_IDENT@671..676
                      PATH@671..676
                        Ident@671..676 "point"
                  RParen@676..677 ")"
            RParen@677..678 ")"
        Semi@678..679 ";"
        Whitespace@679..684 "\n    "
      STMT_LET@684..733
        LetKeyword@684..687 "let"
        Whitespace@687..688 " "
        PATTERN_WILDCARD@688..690
          WildcardKeyword@688..689 "_"
          Whitespace@689..690 " "
        Eq@690..691 "="
        Whitespace@691..692 " "
        EXPR_CALL@692..727
          EXPR_IDENT@692..699
            PATH@692..699
              Ident@692..699 "println"
          ARG_LIST@699..727
            LParen@699..700 "("
            ARG@700..726
              EXPR_CALL@700..726
                EXPR_IDENT@700..713
                  PATH@700..713
                    Ident@700..707 "Display"
                    ColonColon@707..709 "::"
                    Ident@709..713 "show"
                ARG_LIST@713..726
                  LParen@713..714 "("
                  ARG@714..725
                    EXPR_IDENT@714..725
                      PATH@714..725
                        Ident@714..725 "some_number"
                  RParen@725..726 ")"
            RParen@726..727 ")"
        Semi@727..728 ";"
        Whitespace@728..733 "\n    "
      STMT_LET@733..782
        LetKeyword@733..736 "let"
        Whitespace@736..737 " "
        PATTERN_WILDCARD@737..739
          WildcardKeyword@737..738 "_"
          Whitespace@738..739 " "
        Eq@739..740 "="
        Whitespace@740..741 " "
        EXPR_CALL@741..776
          EXPR_IDENT@741..748
            PATH@741..748
              Ident@741..748 "println"
          ARG_LIST@748..776
            LParen@748..749 "("
            ARG@749..775
              EXPR_CALL@749..775
                EXPR_IDENT@749..762
                  PATH@749..762
                    Ident@749..756 "Display"
                    ColonColon@756..758 "::"
                    Ident@758..762 "show"
                ARG_LIST@762..775
                  LParen@762..763 "("
                  ARG@763..774
                    EXPR_IDENT@763..774
                      PATH@763..774
                        Ident@763..774 "none_number"
                  RParen@774..775 ")"
            RParen@775..776 ")"
        Semi@776..777 ";"
        Whitespace@777..782 "\n    "
      EXPR_UNIT@782..785
        LParen@782..783 "("
        RParen@783..784 ")"
        Whitespace@784..785 "\n"
      RBrace@785..786 "}"
      Whitespace@786..787 "\n"