FILE@0..793
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..15 " "
    STRUCT_FIELD_LIST@15..37
      STRUCT_FIELD@15..23
        Ident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT32@18..23
          Int32Keyword@18..23 "int32"
      Comma@23..24 ","
      Whitespace@24..25 " "
      STRUCT_FIELD@25..34
        Ident@25..26 "y"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..34
          Int32Keyword@28..33 "int32"
          Whitespace@33..34 " "
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  ENUM@37..82
    EnumKeyword@37..41 "enum"
    Whitespace@41..42 " "
    Ident@42..47 "Maybe"
    GENERIC_LIST@47..51
      LBracket@47..48 "["
      GENERIC@48..49
        Ident@48..49 "T"
      RBracket@49..50 "]"
      Whitespace@50..51 " "
    LBrace@51..52 "{"
    Whitespace@52..57 "\n    "
    VARIANT_LIST@57..82
      VARIANT@57..64
        Ident@57..61 "Just"
        TYPE_LIST@61..64
          LParen@61..62 "("
          TYPE_TAPP@62..63
            PATH@62..63
              Ident@62..63 "T"
          RParen@63..64 ")"
      Comma@64..65 ","
      Whitespace@65..70 "\n    "
      VARIANT@70..77
        Ident@70..77 "Nothing"
      Comma@77..78 ","
      Whitespace@78..79 "\n"
      RBrace@79..80 "}"
      Whitespace@80..82 "\n\n"
  TRAIT@82..136
    TraitKeyword@82..87 "trait"
    Whitespace@87..88 " "
    Ident@88..95 "Display"
    Whitespace@95..96 " "
    LBrace@96..97 "{"
    Whitespace@97..102 "\n    "
    TRAIT_METHOD_SIG_LIST@102..136
      TRAIT_METHOD_SIG@102..131
        FnKeyword@102..104 "fn"
        Whitespace@104..105 " "
        Ident@105..109 "show"
        PARAM_LIST@109..122
          LParen@109..110 "("
          PARAM@110..120
            Ident@110..114 "self"
            Colon@114..115 ":"
            Whitespace@115..116 " "
            TYPE_TAPP@116..120
              PATH@116..120
                Ident@116..120 "Self"
          RParen@120..121 ")"
          Whitespace@121..122 " "
        Arrow@122..124 "->"
        Whitespace@124..125 " "
        TYPE_STRING@125..131
          StringKeyword@125..131 "string"
      Semi@131..132 ";"
      Whitespace@132..133 "\n"
      RBrace@133..134 "}"
      Whitespace@134..136 "\n\n"
  IMPL@136..211
    ImplKeyword@136..140 "impl"
    Whitespace@140..141 " "
    TYPE_TAPP@141..149
      PATH@141..149
        Ident@141..148 "Display"
        Whitespace@148..149 " "
    ForKeyword@149..152 "for"
    Whitespace@152..153 " "
    TYPE_TAPP@153..159
      PATH@153..159
        Ident@153..158 "Point"
        Whitespace@158..159 " "
    LBrace@159..160 "{"
    Whitespace@160..165 "\n    "
    FN@165..208
      FnKeyword@165..167 "fn"
      Whitespace@167..168 " "
      Ident@168..172 "show"
      PARAM_LIST@172..186
        LParen@172..173 "("
        PARAM@173..184
          Ident@173..177 "self"
          Colon@177..178 ":"
          Whitespace@178..179 " "
          TYPE_TAPP@179..184
            PATH@179..184
              Ident@179..184 "Point"
        RParen@184..185 ")"
        Whitespace@185..186 " "
      Arrow@186..188 "->"
      Whitespace@188..189 " "
      TYPE_STRING@189..196
        StringKeyword@189..195 "string"
        Whitespace@195..196 " "
      BLOCK@196..208
        LBrace@196..197 "{"
        Whitespace@197..198 " "
        EXPR_STR@198..206
          Str@198..205 "\"Point\""
          Whitespace@205..206 " "
        RBrace@206..207 "}"
        Whitespace@207..208 "\n"
    RBrace@208..209 "}"
    Whitespace@209..211 "\n\n"
  IMPL@211..423
    ImplKeyword@211..215 "impl"
    Whitespace@215..216 " "
    TYPE_TAPP@216..224
      PATH@216..224
        Ident@216..223 "Display"
        Whitespace@223..224 " "
    ForKeyword@224..227 "for"
    Whitespace@227..228 " "
    TYPE_TAPP@228..241
      PATH@228..233
        Ident@228..233 "Maybe"
      TYPE_PARAM_LIST@233..241
        LBracket@233..234 "["
        TYPE_INT32@234..239
          Int32Keyword@234..239 "int32"
        RBracket@239..240 "]"
        Whitespace@240..241 " "
    LBrace@241..242 "{"
    Whitespace@242..247 "\n    "
    FN@247..420
      FnKeyword@247..249 "fn"
      Whitespace@249..250 " "
      Ident@250..254 "show"
      PARAM_LIST@254..275
        LParen@254..255 "("
        PARAM@255..273
          Ident@255..259 "self"
          Colon@259..260 ":"
          Whitespace@260..261 " "
          TYPE_TAPP@261..273
            PATH@261..266
              Ident@261..266 "Maybe"
            TYPE_PARAM_LIST@266..273
              LBracket@266..267 "["
              TYPE_INT32@267..272
                Int32Keyword@267..272 "int32"
              RBracket@272..273 "]"
        RParen@273..274 ")"
        Whitespace@274..275 " "
      Arrow@275..277 "->"
      Whitespace@277..278 " "
      TYPE_STRING@278..285
        StringKeyword@278..284 "string"
        Whitespace@284..285 " "
      BLOCK@285..420
        LBrace@285..286 "{"
        Whitespace@286..295 "\n        "
        EXPR_MATCH@295..418
          MatchKeyword@295..300 "match"
          Whitespace@300..301 " "
          EXPR_IDENT@301..306
            PATH@301..306
              Ident@301..305 "self"
              Whitespace@305..306 " "
          MATCH_ARM_LIST@306..418
            LBrace@306..307 "{"
            Whitespace@307..320 "\n            "
            MATCH_ARM@320..368
              PATTERN_CONSTR@320..332
                PATH@320..324
                  Ident@320..324 "Just"
                LParen@324..325 "("
                PATTERN_VARIABLE@325..330
                  Ident@325..330 "value"
                RParen@330..331 ")"
                Whitespace@331..332 " "
              FatArrow@332..334 "=>"
              Whitespace@334..335 " "
              EXPR_BINARY@335..368
                EXPR_BINARY@335..363
                  EXPR_STR@335..343
                    Str@335..342 "\"Just(\""
                    Whitespace@342..343 " "
                  Plus@343..344 "+"
                  Whitespace@344..345 " "
                  EXPR_CALL@345..363
                    EXPR_BINARY@345..360
                      EXPR_IDENT@345..350
                        PATH@345..350
                          Ident@345..350 "value"
                      Dot@350..351 "."
                      EXPR_IDENT@351..360
                        PATH@351..360
                          Ident@351..360 "to_string"
                    ARG_LIST@360..363
                      LParen@360..361 "("
                      RParen@361..362 ")"
                      Whitespace@362..363 " "
                Plus@363..364 "+"
                Whitespace@364..365 " "
                EXPR_STR@365..368
                  Str@365..368 "\")\""
            Comma@368..369 ","
            Whitespace@369..382 "\n            "
            MATCH_ARM@382..402
              PATTERN_VARIABLE@382..390
                Ident@382..389 "Nothing"
                Whitespace@389..390 " "
              FatArrow@390..392 "=>"
              Whitespace@392..393 " "
              EXPR_STR@393..402
                Str@393..402 "\"Nothing\""
            Comma@402..403 ","
            Whitespace@403..412 "\n        "
            RBrace@412..413 "}"
            Whitespace@413..418 "\n    "
        RBrace@418..419 "}"
        Whitespace@419..420 "\n"
    RBrace@420..421 "}"
    Whitespace@421..423 "\n\n"
  FN@423..512
    FnKeyword@423..425 "fn"
    Whitespace@425..426 " "
    Ident@426..436 "make_maybe"
    PARAM_LIST@436..449
      LParen@436..437 "("
      PARAM@437..447
        Ident@437..441 "flag"
        Colon@441..442 ":"
        Whitespace@442..443 " "
        TYPE_BOOL@443..447
          BoolKeyword@443..447 "bool"
      RParen@447..448 ")"
      Whitespace@448..449 " "
    Arrow@449..451 "->"
    Whitespace@451..452 " "
    TYPE_TAPP@452..465
      PATH@452..457
        Ident@452..457 "Maybe"
      TYPE_PARAM_LIST@457..465
        LBracket@457..458 "["
        TYPE_INT32@458..463
          Int32Keyword@458..463 "int32"
        RBracket@463..464 "]"
        Whitespace@464..465 " "
    BLOCK@465..512
      LBrace@465..466 "{"
      Whitespace@466..471 "\n    "
      EXPR_IF@471..509
        IfKeyword@471..473 "if"
        Whitespace@473..474 " "
        EXPR_IF_COND@474..479
          EXPR_IDENT@474..479
            PATH@474..479
              Ident@474..478 "flag"
              Whitespace@478..479 " "
        EXPR_IF_THEN@479..492
          BLOCK@479..492
            LBrace@479..480 "{"
            Whitespace@480..481 " "
            EXPR_CALL@481..490
              EXPR_IDENT@481..485
                PATH@481..485
                  Ident@481..485 "Just"
              ARG_LIST@485..490
                LParen@485..486 "("
                ARG@486..488
                  EXPR_INT@486..488
                    Int@486..488 "42"
                RParen@488..489 ")"
                Whitespace@489..490 " "
            RBrace@490..491 "}"
            Whitespace@491..492 " "
        ElseKeyword@492..496 "else"
        Whitespace@496..497 " "
        EXPR_IF_ELSE@497..509
          BLOCK@497..509
            LBrace@497..498 "{"
            Whitespace@498..499 " "
            EXPR_IDENT@499..507
              PATH@499..507
                Ident@499..506 "Nothing"
                Whitespace@506..507 " "
            RBrace@507..508 "}"
            Whitespace@508..509 "\n"
      RBrace@509..510 "}"
      Whitespace@510..512 "\n\n"
  FN@512..793
    FnKeyword@512..514 "fn"
    Whitespace@514..515 " "
    Ident@515..519 "main"
    PARAM_LIST@519..522
      LParen@519..520 "("
      RParen@520..521 ")"
      Whitespace@521..522 " "
    BLOCK@522..793
      LBrace@522..523 "{"
      Whitespace@523..528 "\n    "
      STMT_LET@528..566
        LetKeyword@528..531 "let"
        Whitespace@531..532 " "
        PATTERN_VARIABLE@532..538
          Ident@532..537 "point"
          Whitespace@537..538 " "
        Eq@538..539 "="
        Whitespace@539..540 " "
        EXPR_STRUCT_LITERAL@540..560
          PATH@540..546
            Ident@540..545 "Point"
            Whitespace@545..546 " "
          STRUCT_LITERAL_FIELD_LIST@546..560
            LBrace@546..547 "{"
            Whitespace@547..548 " "
            STRUCT_LITERAL_FIELD@548..552
              Ident@548..549 "x"
              Colon@549..550 ":"
              Whitespace@550..551 " "
              EXPR_INT@551..552
                Int@551..552 "1"
            Comma@552..553 ","
            Whitespace@553..554 " "
            STRUCT_LITERAL_FIELD@554..559
              Ident@554..555 "y"
              Colon@555..556 ":"
              Whitespace@556..557 " "
              EXPR_INT@557..559
                Int@557..558 "2"
                Whitespace@558..559 " "
            RBrace@559..560 "}"
        Semi@560..561 ";"
        Whitespace@561..566 "\n    "
      STMT_LET@566..606
        LetKeyword@566..569 "let"
        Whitespace@569..570 " "
        PATTERN_VARIABLE@570..582
          Ident@570..581 "some_number"
          Whitespace@581..582 " "
        Eq@582..583 "="
        Whitespace@583..584 " "
        EXPR_CALL@584..600
          EXPR_IDENT@584..594
            PATH@584..594
              Ident@584..594 "make_maybe"
          ARG_LIST@594..600
            LParen@594..595 "("
            ARG@595..599
              EXPR_BOOL@595..599
                TrueKeyword@595..599 "true"
            RParen@599..600 ")"
        Semi@600..601 ";"
        Whitespace@601..606 "\n    "
      STMT_LET@606..647
        LetKeyword@606..609 "let"
        Whitespace@609..610 " "
        PATTERN_VARIABLE@610..622
          Ident@610..621 "none_number"
          Whitespace@621..622 " "
        Eq@622..623 "="
        Whitespace@623..624 " "
        EXPR_CALL@624..641
          EXPR_IDENT@624..634
            PATH@624..634
              Ident@624..634 "make_maybe"
          ARG_LIST@634..641
            LParen@634..635 "("
            ARG@635..640
              EXPR_BOOL@635..640
                FalseKeyword@635..640 "false"
            RParen@640..641 ")"
        Semi@641..642 ";"
        Whitespace@642..647 "\n    "
      STMT_LET@647..690
        LetKeyword@647..650 "let"
        Whitespace@650..651 " "
        PATTERN_WILDCARD@651..653
          WildcardKeyword@651..652 "_"
          Whitespace@652..653 " "
        Eq@653..654 "="
        Whitespace@654..655 " "
        EXPR_CALL@655..684
          EXPR_IDENT@655..662
            PATH@655..662
              Ident@655..662 "println"
          ARG_LIST@662..684
            LParen@662..663 "("
            ARG@663..683
              EXPR_CALL@663..683
                EXPR_IDENT@663..676
                  PATH@663..676
                    Ident@663..670 "Display"
                    ColonColon@670..672 "::"
                    Ident@672..676 "show"
                ARG_LIST@676..683
                  LParen@676..677 "("
                  ARG@677..682
                    EXPR_IDENT@677..682
                      PATH@677..682
                        Ident@677..682 "point"
                  RParen@682..683 ")"
            RParen@683..684 ")"
        Semi@684..685 ";"
        Whitespace@685..690 "\n    "
      STMT_LET@690..739
        LetKeyword@690..693 "let"
        Whitespace@693..694 " "
        PATTERN_WILDCARD@694..696
          WildcardKeyword@694..695 "_"
          Whitespace@695..696 " "
        Eq@696..697 "="
        Whitespace@697..698 " "
        EXPR_CALL@698..733
          EXPR_IDENT@698..705
            PATH@698..705
              Ident@698..705 "println"
          ARG_LIST@705..733
            LParen@705..706 "("
            ARG@706..732
              EXPR_CALL@706..732
                EXPR_IDENT@706..719
                  PATH@706..719
                    Ident@706..713 "Display"
                    ColonColon@713..715 "::"
                    Ident@715..719 "show"
                ARG_LIST@719..732
                  LParen@719..720 "("
                  ARG@720..731
                    EXPR_IDENT@720..731
                      PATH@720..731
                        Ident@720..731 "some_number"
                  RParen@731..732 ")"
            RParen@732..733 ")"
        Semi@733..734 ";"
        Whitespace@734..739 "\n    "
      STMT_LET@739..788
        LetKeyword@739..742 "let"
        Whitespace@742..743 " "
        PATTERN_WILDCARD@743..745
          WildcardKeyword@743..744 "_"
          Whitespace@744..745 " "
        Eq@745..746 "="
        Whitespace@746..747 " "
        EXPR_CALL@747..782
          EXPR_IDENT@747..754
            PATH@747..754
              Ident@747..754 "println"
          ARG_LIST@754..782
            LParen@754..755 "("
            ARG@755..781
              EXPR_CALL@755..781
                EXPR_IDENT@755..768
                  PATH@755..768
                    Ident@755..762 "Display"
                    ColonColon@762..764 "::"
                    Ident@764..768 "show"
                ARG_LIST@768..781
                  LParen@768..769 "("
                  ARG@769..780
                    EXPR_IDENT@769..780
                      PATH@769..780
                        Ident@769..780 "none_number"
                  RParen@780..781 ")"
            RParen@781..782 ")"
        Semi@782..783 ";"
        Whitespace@783..788 "\n    "
      EXPR_UNIT@788..791
        LParen@788..789 "("
        RParen@789..790 ")"
        Whitespace@790..791 "\n"
      RBrace@791..792 "}"
      Whitespace@792..793 "\n"