FILE@0..813
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..15 " "
    STRUCT_FIELD_LIST@15..37
      STRUCT_FIELD@15..23
        Ident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT32@18..23
          Int32Keyword@18..23 "int32"
      Comma@23..24 ","
      Whitespace@24..25 " "
      STRUCT_FIELD@25..34
        Ident@25..26 "y"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..34
          Int32Keyword@28..33 "int32"
          Whitespace@33..34 " "
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  ENUM@37..82
    EnumKeyword@37..41 "enum"
    Whitespace@41..42 " "
    Ident@42..47 "Maybe"
    GENERIC_LIST@47..51
      LBracket@47..48 "["
      GENERIC@48..49
        Ident@48..49 "T"
      RBracket@49..50 "]"
      Whitespace@50..51 " "
    LBrace@51..52 "{"
    Whitespace@52..57 "\n    "
    VARIANT_LIST@57..82
      VARIANT@57..64
        Ident@57..61 "Just"
        TYPE_LIST@61..64
          LParen@61..62 "("
          TYPE_TAPP@62..63
            PATH@62..63
              Ident@62..63 "T"
          RParen@63..64 ")"
      Comma@64..65 ","
      Whitespace@65..70 "\n    "
      VARIANT@70..77
        Ident@70..77 "Nothing"
      Comma@77..78 ","
      Whitespace@78..79 "\n"
      RBrace@79..80 "}"
      Whitespace@80..82 "\n\n"
  TRAIT@82..130
    TraitKeyword@82..87 "trait"
    Whitespace@87..88 " "
    Ident@88..95 "Display"
    Whitespace@95..96 " "
    LBrace@96..97 "{"
    Whitespace@97..102 "\n    "
    TRAIT_METHOD_SIG_LIST@102..130
      TRAIT_METHOD_SIG@102..125
        FnKeyword@102..104 "fn"
        Whitespace@104..105 " "
        Ident@105..109 "show"
        TYPE_LIST@109..116
          LParen@109..110 "("
          TYPE_TAPP@110..114
            PATH@110..114
              Ident@110..114 "Self"
          RParen@114..115 ")"
          Whitespace@115..116 " "
        Arrow@116..118 "->"
        Whitespace@118..119 " "
        TYPE_STRING@119..125
          StringKeyword@119..125 "string"
      Semi@125..126 ";"
      Whitespace@126..127 "\n"
      RBrace@127..128 "}"
      Whitespace@128..130 "\n\n"
  IMPL@130..205
    ImplKeyword@130..134 "impl"
    Whitespace@134..135 " "
    Ident@135..142 "Display"
    Whitespace@142..143 " "
    ForKeyword@143..146 "for"
    Whitespace@146..147 " "
    TYPE_TAPP@147..153
      PATH@147..153
        Ident@147..152 "Point"
        Whitespace@152..153 " "
    LBrace@153..154 "{"
    Whitespace@154..159 "\n    "
    FN@159..202
      FnKeyword@159..161 "fn"
      Whitespace@161..162 " "
      Ident@162..166 "show"
      PARAM_LIST@166..180
        LParen@166..167 "("
        PARAM@167..178
          Ident@167..171 "self"
          Colon@171..172 ":"
          Whitespace@172..173 " "
          TYPE_TAPP@173..178
            PATH@173..178
              Ident@173..178 "Point"
        RParen@178..179 ")"
        Whitespace@179..180 " "
      Arrow@180..182 "->"
      Whitespace@182..183 " "
      TYPE_STRING@183..190
        StringKeyword@183..189 "string"
        Whitespace@189..190 " "
      BLOCK@190..202
        LBrace@190..191 "{"
        Whitespace@191..192 " "
        EXPR_STR@192..200
          Str@192..199 "\"Point\""
          Whitespace@199..200 " "
        RBrace@200..201 "}"
        Whitespace@201..202 "\n"
    RBrace@202..203 "}"
    Whitespace@203..205 "\n\n"
  IMPL@205..422
    ImplKeyword@205..209 "impl"
    Whitespace@209..210 " "
    Ident@210..217 "Display"
    Whitespace@217..218 " "
    ForKeyword@218..221 "for"
    Whitespace@221..222 " "
    TYPE_TAPP@222..235
      PATH@222..227
        Ident@222..227 "Maybe"
      TYPE_PARAM_LIST@227..235
        LBracket@227..228 "["
        TYPE_INT32@228..233
          Int32Keyword@228..233 "int32"
        RBracket@233..234 "]"
        Whitespace@234..235 " "
    LBrace@235..236 "{"
    Whitespace@236..241 "\n    "
    FN@241..419
      FnKeyword@241..243 "fn"
      Whitespace@243..244 " "
      Ident@244..248 "show"
      PARAM_LIST@248..269
        LParen@248..249 "("
        PARAM@249..267
          Ident@249..253 "self"
          Colon@253..254 ":"
          Whitespace@254..255 " "
          TYPE_TAPP@255..267
            PATH@255..260
              Ident@255..260 "Maybe"
            TYPE_PARAM_LIST@260..267
              LBracket@260..261 "["
              TYPE_INT32@261..266
                Int32Keyword@261..266 "int32"
              RBracket@266..267 "]"
        RParen@267..268 ")"
        Whitespace@268..269 " "
      Arrow@269..271 "->"
      Whitespace@271..272 " "
      TYPE_STRING@272..279
        StringKeyword@272..278 "string"
        Whitespace@278..279 " "
      BLOCK@279..419
        LBrace@279..280 "{"
        Whitespace@280..289 "\n        "
        EXPR_MATCH@289..417
          MatchKeyword@289..294 "match"
          Whitespace@294..295 " "
          EXPR_IDENT@295..300
            PATH@295..300
              Ident@295..299 "self"
              Whitespace@299..300 " "
          MATCH_ARM_LIST@300..417
            LBrace@300..301 "{"
            Whitespace@301..314 "\n            "
            MATCH_ARM@314..367
              PATTERN_CONSTR@314..326
                PATH@314..318
                  Ident@314..318 "Just"
                LParen@318..319 "("
                PATTERN_VARIABLE@319..324
                  Ident@319..324 "value"
                RParen@324..325 ")"
                Whitespace@325..326 " "
              FatArrow@326..328 "=>"
              Whitespace@328..329 " "
              EXPR_BINARY@329..367
                EXPR_BINARY@329..362
                  EXPR_STR@329..337
                    Str@329..336 "\"Just(\""
                    Whitespace@336..337 " "
                  Plus@337..338 "+"
                  Whitespace@338..339 " "
                  EXPR_CALL@339..362
                    EXPR_IDENT@339..354
                      PATH@339..354
                        Ident@339..354 "int32_to_string"
                    ARG_LIST@354..362
                      LParen@354..355 "("
                      ARG@355..360
                        EXPR_IDENT@355..360
                          PATH@355..360
                            Ident@355..360 "value"
                      RParen@360..361 ")"
                      Whitespace@361..362 " "
                Plus@362..363 "+"
                Whitespace@363..364 " "
                EXPR_STR@364..367
                  Str@364..367 "\")\""
            Comma@367..368 ","
            Whitespace@368..381 "\n            "
            MATCH_ARM@381..401
              PATTERN_VARIABLE@381..389
                Ident@381..388 "Nothing"
                Whitespace@388..389 " "
              FatArrow@389..391 "=>"
              Whitespace@391..392 " "
              EXPR_STR@392..401
                Str@392..401 "\"Nothing\""
            Comma@401..402 ","
            Whitespace@402..411 "\n        "
            RBrace@411..412 "}"
            Whitespace@412..417 "\n    "
        RBrace@417..418 "}"
        Whitespace@418..419 "\n"
    RBrace@419..420 "}"
    Whitespace@420..422 "\n\n"
  FN@422..511
    FnKeyword@422..424 "fn"
    Whitespace@424..425 " "
    Ident@425..435 "make_maybe"
    PARAM_LIST@435..448
      LParen@435..436 "("
      PARAM@436..446
        Ident@436..440 "flag"
        Colon@440..441 ":"
        Whitespace@441..442 " "
        TYPE_BOOL@442..446
          BoolKeyword@442..446 "bool"
      RParen@446..447 ")"
      Whitespace@447..448 " "
    Arrow@448..450 "->"
    Whitespace@450..451 " "
    TYPE_TAPP@451..464
      PATH@451..456
        Ident@451..456 "Maybe"
      TYPE_PARAM_LIST@456..464
        LBracket@456..457 "["
        TYPE_INT32@457..462
          Int32Keyword@457..462 "int32"
        RBracket@462..463 "]"
        Whitespace@463..464 " "
    BLOCK@464..511
      LBrace@464..465 "{"
      Whitespace@465..470 "\n    "
      EXPR_IF@470..508
        IfKeyword@470..472 "if"
        Whitespace@472..473 " "
        EXPR_IF_COND@473..478
          EXPR_IDENT@473..478
            PATH@473..478
              Ident@473..477 "flag"
              Whitespace@477..478 " "
        EXPR_IF_THEN@478..491
          BLOCK@478..491
            LBrace@478..479 "{"
            Whitespace@479..480 " "
            EXPR_CALL@480..489
              EXPR_IDENT@480..484
                PATH@480..484
                  Ident@480..484 "Just"
              ARG_LIST@484..489
                LParen@484..485 "("
                ARG@485..487
                  EXPR_INT@485..487
                    Int@485..487 "42"
                RParen@487..488 ")"
                Whitespace@488..489 " "
            RBrace@489..490 "}"
            Whitespace@490..491 " "
        ElseKeyword@491..495 "else"
        Whitespace@495..496 " "
        EXPR_IF_ELSE@496..508
          BLOCK@496..508
            LBrace@496..497 "{"
            Whitespace@497..498 " "
            EXPR_IDENT@498..506
              PATH@498..506
                Ident@498..505 "Nothing"
                Whitespace@505..506 " "
            RBrace@506..507 "}"
            Whitespace@507..508 "\n"
      RBrace@508..509 "}"
      Whitespace@509..511 "\n\n"
  FN@511..813
    FnKeyword@511..513 "fn"
    Whitespace@513..514 " "
    Ident@514..518 "main"
    PARAM_LIST@518..521
      LParen@518..519 "("
      RParen@519..520 ")"
      Whitespace@520..521 " "
    BLOCK@521..813
      LBrace@521..522 "{"
      Whitespace@522..527 "\n    "
      STMT_LET@527..565
        LetKeyword@527..530 "let"
        Whitespace@530..531 " "
        PATTERN_VARIABLE@531..537
          Ident@531..536 "point"
          Whitespace@536..537 " "
        Eq@537..538 "="
        Whitespace@538..539 " "
        EXPR_STRUCT_LITERAL@539..559
          PATH@539..545
            Ident@539..544 "Point"
            Whitespace@544..545 " "
          STRUCT_LITERAL_FIELD_LIST@545..559
            LBrace@545..546 "{"
            Whitespace@546..547 " "
            STRUCT_LITERAL_FIELD@547..551
              Ident@547..548 "x"
              Colon@548..549 ":"
              Whitespace@549..550 " "
              EXPR_INT@550..551
                Int@550..551 "1"
            Comma@551..552 ","
            Whitespace@552..553 " "
            STRUCT_LITERAL_FIELD@553..558
              Ident@553..554 "y"
              Colon@554..555 ":"
              Whitespace@555..556 " "
              EXPR_INT@556..558
                Int@556..557 "2"
                Whitespace@557..558 " "
            RBrace@558..559 "}"
        Semi@559..560 ";"
        Whitespace@560..565 "\n    "
      STMT_LET@565..605
        LetKeyword@565..568 "let"
        Whitespace@568..569 " "
        PATTERN_VARIABLE@569..581
          Ident@569..580 "some_number"
          Whitespace@580..581 " "
        Eq@581..582 "="
        Whitespace@582..583 " "
        EXPR_CALL@583..599
          EXPR_IDENT@583..593
            PATH@583..593
              Ident@583..593 "make_maybe"
          ARG_LIST@593..599
            LParen@593..594 "("
            ARG@594..598
              EXPR_BOOL@594..598
                TrueKeyword@594..598 "true"
            RParen@598..599 ")"
        Semi@599..600 ";"
        Whitespace@600..605 "\n    "
      STMT_LET@605..646
        LetKeyword@605..608 "let"
        Whitespace@608..609 " "
        PATTERN_VARIABLE@609..621
          Ident@609..620 "none_number"
          Whitespace@620..621 " "
        Eq@621..622 "="
        Whitespace@622..623 " "
        EXPR_CALL@623..640
          EXPR_IDENT@623..633
            PATH@623..633
              Ident@623..633 "make_maybe"
          ARG_LIST@633..640
            LParen@633..634 "("
            ARG@634..639
              EXPR_BOOL@634..639
                FalseKeyword@634..639 "false"
            RParen@639..640 ")"
        Semi@640..641 ";"
        Whitespace@641..646 "\n    "
      STMT_LET@646..696
        LetKeyword@646..649 "let"
        Whitespace@649..650 " "
        PATTERN_WILDCARD@650..652
          WildcardKeyword@650..651 "_"
          Whitespace@651..652 " "
        Eq@652..653 "="
        Whitespace@653..654 " "
        EXPR_CALL@654..690
          EXPR_IDENT@654..668
            PATH@654..668
              Ident@654..668 "string_println"
          ARG_LIST@668..690
            LParen@668..669 "("
            ARG@669..689
              EXPR_CALL@669..689
                EXPR_IDENT@669..682
                  PATH@669..682
                    Ident@669..676 "Display"
                    ColonColon@676..678 "::"
                    Ident@678..682 "show"
                ARG_LIST@682..689
                  LParen@682..683 "("
                  ARG@683..688
                    EXPR_IDENT@683..688
                      PATH@683..688
                        Ident@683..688 "point"
                  RParen@688..689 ")"
            RParen@689..690 ")"
        Semi@690..691 ";"
        Whitespace@691..696 "\n    "
      STMT_LET@696..752
        LetKeyword@696..699 "let"
        Whitespace@699..700 " "
        PATTERN_WILDCARD@700..702
          WildcardKeyword@700..701 "_"
          Whitespace@701..702 " "
        Eq@702..703 "="
        Whitespace@703..704 " "
        EXPR_CALL@704..746
          EXPR_IDENT@704..718
            PATH@704..718
              Ident@704..718 "string_println"
          ARG_LIST@718..746
            LParen@718..719 "("
            ARG@719..745
              EXPR_CALL@719..745
                EXPR_IDENT@719..732
                  PATH@719..732
                    Ident@719..726 "Display"
                    ColonColon@726..728 "::"
                    Ident@728..732 "show"
                ARG_LIST@732..745
                  LParen@732..733 "("
                  ARG@733..744
                    EXPR_IDENT@733..744
                      PATH@733..744
                        Ident@733..744 "some_number"
                  RParen@744..745 ")"
            RParen@745..746 ")"
        Semi@746..747 ";"
        Whitespace@747..752 "\n    "
      STMT_LET@752..808
        LetKeyword@752..755 "let"
        Whitespace@755..756 " "
        PATTERN_WILDCARD@756..758
          WildcardKeyword@756..757 "_"
          Whitespace@757..758 " "
        Eq@758..759 "="
        Whitespace@759..760 " "
        EXPR_CALL@760..802
          EXPR_IDENT@760..774
            PATH@760..774
              Ident@760..774 "string_println"
          ARG_LIST@774..802
            LParen@774..775 "("
            ARG@775..801
              EXPR_CALL@775..801
                EXPR_IDENT@775..788
                  PATH@775..788
                    Ident@775..782 "Display"
                    ColonColon@782..784 "::"
                    Ident@784..788 "show"
                ARG_LIST@788..801
                  LParen@788..789 "("
                  ARG@789..800
                    EXPR_IDENT@789..800
                      PATH@789..800
                        Ident@789..800 "none_number"
                  RParen@800..801 ")"
            RParen@801..802 ")"
        Semi@802..803 ";"
        Whitespace@803..808 "\n    "
      EXPR_UNIT@808..811
        LParen@808..809 "("
        RParen@809..810 ")"
        Whitespace@810..811 "\n"
      RBrace@811..812 "}"
      Whitespace@812..813 "\n"