FILE@0..906
  FN@0..906
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..906
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..61
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..33
          Ident@28..32 "text"
          Whitespace@32..33 " "
        Eq@33..34 "="
        Whitespace@34..35 " "
        EXPR_STR@35..55
          Str@35..55 "\"  Héllo, World!  \""
        Semi@55..56 ";"
        Whitespace@56..61 "\n    "
      STMT_EXPR@61..99
        EXPR_CALL@61..93
          EXPR_IDENT@61..68
            PATH@61..68
              Ident@61..68 "println"
          ARG_LIST@68..93
            LParen@68..69 "("
            ARG@69..92
              EXPR_BINARY@69..92
                EXPR_BINARY@69..87
                  EXPR_STR@69..73
                    Str@69..72 "\"[\""
                    Whitespace@72..73 " "
                  Plus@73..74 "+"
                  Whitespace@74..75 " "
                  EXPR_CALL@75..87
                    EXPR_BINARY@75..84
                      EXPR_IDENT@75..79
                        PATH@75..79
                          Ident@75..79 "text"
                      Dot@79..80 "."
                      EXPR_IDENT@80..84
                        PATH@80..84
                          Ident@80..84 "trim"
                    ARG_LIST@84..87
                      LParen@84..85 "("
                      RParen@85..86 ")"
                      Whitespace@86..87 " "
                Plus@87..88 "+"
                Whitespace@88..89 " "
                EXPR_STR@89..92
                  Str@89..92 "\"]\""
            RParen@92..93 ")"
        Semi@93..94 ";"
        Whitespace@94..99 "\n    "
      STMT_EXPR@99..143
        EXPR_CALL@99..137
          EXPR_IDENT@99..106
            PATH@99..106
              Ident@99..106 "println"
          ARG_LIST@106..137
            LParen@106..107 "("
            ARG@107..136
              EXPR_BINARY@107..136
                EXPR_BINARY@107..131
                  EXPR_STR@107..111
                    Str@107..110 "\"[\""
                    Whitespace@110..111 " "
                  Plus@111..112 "+"
                  Whitespace@112..113 " "
                  EXPR_CALL@113..131
                    EXPR_BINARY@113..128
                      EXPR_IDENT@113..117
                        PATH@113..117
                          Ident@113..117 "text"
                      Dot@117..118 "."
                      EXPR_IDENT@118..128
                        PATH@118..128
                          Ident@118..128 "trim_start"
                    ARG_LIST@128..131
                      LParen@128..129 "("
                      RParen@129..130 ")"
                      Whitespace@130..131 " "
                Plus@131..132 "+"
                Whitespace@132..133 " "
                EXPR_STR@133..136
                  Str@133..136 "\"]\""
            RParen@136..137 ")"
        Semi@137..138 ";"
        Whitespace@138..143 "\n    "
      STMT_EXPR@143..185
        EXPR_CALL@143..179
          EXPR_IDENT@143..150
            PATH@143..150
              Ident@143..150 "println"
          ARG_LIST@150..179
            LParen@150..151 "("
            ARG@151..178
              EXPR_BINARY@151..178
                EXPR_BINARY@151..173
                  EXPR_STR@151..155
                    Str@151..154 "\"[\""
                    Whitespace@154..155 " "
                  Plus@155..156 "+"
                  Whitespace@156..157 " "
                  EXPR_CALL@157..173
                    EXPR_BINARY@157..170
                      EXPR_IDENT@157..161
                        PATH@157..161
                          Ident@157..161 "text"
                      Dot@161..162 "."
                      EXPR_IDENT@162..170
                        PATH@162..170
                          Ident@162..170 "trim_end"
                    ARG_LIST@170..173
                      LParen@170..171 "("
                      RParen@171..172 ")"
                      Whitespace@172..173 " "
                Plus@173..174 "+"
                Whitespace@174..175 " "
                EXPR_STR@175..178
                  Str@175..178 "\"]\""
            RParen@178..179 ")"
        Semi@179..180 ";"
        Whitespace@180..185 "\n    "
      STMT_EXPR@185..225
        EXPR_CALL@185..219
          EXPR_IDENT@185..192
            PATH@185..192
              Ident@185..192 "println"
          ARG_LIST@192..219
            LParen@192..193 "("
            ARG@193..218
              EXPR_CALL@193..218
                EXPR_BINARY@193..213
                  EXPR_CALL@193..208
                    EXPR_BINARY@193..203
                      EXPR_IDENT@193..197
                        PATH@193..197
                          Ident@193..197 "text"
                      Dot@197..198 "."
                      EXPR_IDENT@198..203
                        PATH@198..203
                          Ident@198..203 "split"
                    ARG_LIST@203..208
                      LParen@203..204 "("
                      ARG@204..207
                        EXPR_STR@204..207
                          Str@204..207 "\",\""
                      RParen@207..208 ")"
                  Dot@208..209 "."
                  EXPR_IDENT@209..213
                    PATH@209..213
                      Ident@209..213 "join"
                ARG_LIST@213..218
                  LParen@213..214 "("
                  ARG@214..217
                    EXPR_STR@214..217
                      Str@214..217 "\"|\""
                  RParen@217..218 ")"
            RParen@218..219 ")"
        Semi@219..220 ";"
        Whitespace@220..225 "\n    "
      STMT_EXPR@225..282
        EXPR_CALL@225..276
          EXPR_IDENT@225..232
            PATH@225..232
              Ident@225..232 "println"
          ARG_LIST@232..276
            LParen@232..233 "("
            ARG@233..275
              EXPR_BINARY@233..275
                EXPR_CALL@233..273
                  EXPR_BINARY@233..263
                    EXPR_CALL@233..253
                      EXPR_BINARY@233..248
                        EXPR_IDENT@233..237
                          PATH@233..237
                            Ident@233..237 "text"
                        Dot@237..238 "."
                        EXPR_IDENT@238..248
                          PATH@238..248
                            Ident@238..248 "split_once"
                      ARG_LIST@248..253
                        LParen@248..249 "("
                        ARG@249..252
                          EXPR_STR@249..252
                            Str@249..252 "\",\""
                        RParen@252..253 ")"
                    Dot@253..254 "."
                    EXPR_IDENT@254..263
                      PATH@254..263
                        Ident@254..263 "unwrap_or"
                  ARG_LIST@263..273
                    LParen@263..264 "("
                    ARG@264..272
                      EXPR_TUPLE@264..272
                        LParen@264..265 "("
                        EXPR_STR@265..267
                          Str@265..267 "\"\""
                        Comma@267..268 ","
                        Whitespace@268..269 " "
                        EXPR_STR@269..271
                          Str@269..271 "\"\""
                        RParen@271..272 ")"
                    RParen@272..273 ")"
                Dot@273..274 "."
                EXPR_INT@274..275
                  Int@274..275 "1"
            RParen@275..276 ")"
        Semi@276..277 ";"
        Whitespace@277..282 "\n    "
      STMT_EXPR@282..327
        EXPR_CALL@282..321
          EXPR_IDENT@282..289
            PATH@282..289
              Ident@282..289 "println"
          ARG_LIST@289..321
            LParen@289..290 "("
            ARG@290..320
              EXPR_CALL@290..320
                EXPR_BINARY@290..318
                  EXPR_CALL@290..308
                    EXPR_BINARY@290..306
                      EXPR_CALL@290..302
                        EXPR_BINARY@290..300
                          EXPR_IDENT@290..294
                            PATH@290..294
                              Ident@290..294 "text"
                          Dot@294..295 "."
                          EXPR_IDENT@295..300
                            PATH@295..300
                              Ident@295..300 "lines"
                        ARG_LIST@300..302
                          LParen@300..301 "("
                          RParen@301..302 ")"
                      Dot@302..303 "."
                      EXPR_IDENT@303..306
                        PATH@303..306
                          Ident@303..306 "len"
                    ARG_LIST@306..308
                      LParen@306..307 "("
                      RParen@307..308 ")"
                  Dot@308..309 "."
                  EXPR_IDENT@309..318
                    PATH@309..318
                      Ident@309..318 "to_string"
                ARG_LIST@318..320
                  LParen@318..319 "("
                  RParen@319..320 ")"
            RParen@320..321 ")"
        Semi@321..322 ";"
        Whitespace@322..327 "\n    "
      STMT_EXPR@327..386
        EXPR_CALL@327..380
          EXPR_IDENT@327..334
            PATH@327..334
              Ident@327..334 "println"
          ARG_LIST@334..380
            LParen@334..335 "("
            ARG@335..379
              EXPR_CALL@335..379
                EXPR_BINARY@335..377
                  EXPR_CALL@335..367
                    EXPR_BINARY@335..363
                      EXPR_CALL@335..353
                        EXPR_BINARY@335..344
                          EXPR_IDENT@335..339
                            PATH@335..339
                              Ident@335..339 "text"
                          Dot@339..340 "."
                          EXPR_IDENT@340..344
                            PATH@340..344
                              Ident@340..344 "find"
                        ARG_LIST@344..353
                          LParen@344..345 "("
                          ARG@345..352
                            EXPR_STR@345..352
                              Str@345..352 "\"World\""
                          RParen@352..353 ")"
                      Dot@353..354 "."
                      EXPR_IDENT@354..363
                        PATH@354..363
                          Ident@354..363 "unwrap_or"
                    ARG_LIST@363..367
                      LParen@363..364 "("
                      ARG@364..366
                        EXPR_PREFIX@364..366
                          Minus@364..365 "-"
                          EXPR_INT@365..366
                            Int@365..366 "1"
                      RParen@366..367 ")"
                  Dot@367..368 "."
                  EXPR_IDENT@368..377
                    PATH@368..377
                      Ident@368..377 "to_string"
                ARG_LIST@377..379
                  LParen@377..378 "("
                  RParen@378..379 ")"
            RParen@379..380 ")"
        Semi@380..381 ";"
        Whitespace@381..386 "\n    "
      STMT_EXPR@386..442
        EXPR_CALL@386..436
          EXPR_IDENT@386..393
            PATH@386..393
              Ident@386..393 "println"
          ARG_LIST@393..436
            LParen@393..394 "("
            ARG@394..435
              EXPR_CALL@394..435
                EXPR_BINARY@394..433
                  EXPR_CALL@394..423
                    EXPR_BINARY@394..419
                      EXPR_CALL@394..409
                        EXPR_BINARY@394..404
                          EXPR_IDENT@394..398
                            PATH@394..398
                              Ident@394..398 "text"
                          Dot@398..399 "."
                          EXPR_IDENT@399..404
                            PATH@399..404
                              Ident@399..404 "rfind"
                        ARG_LIST@404..409
                          LParen@404..405 "("
                          ARG@405..408
                            EXPR_STR@405..408
                              Str@405..408 "\"l\""
                          RParen@408..409 ")"
                      Dot@409..410 "."
                      EXPR_IDENT@410..419
                        PATH@410..419
                          Ident@410..419 "unwrap_or"
                    ARG_LIST@419..423
                      LParen@419..420 "("
                      ARG@420..422
                        EXPR_PREFIX@420..422
                          Minus@420..421 "-"
                          EXPR_INT@421..422
                            Int@421..422 "1"
                      RParen@422..423 ")"
                  Dot@423..424 "."
                  EXPR_IDENT@424..433
                    PATH@424..433
                      Ident@424..433 "to_string"
                ARG_LIST@433..435
                  LParen@433..434 "("
                  RParen@434..435 ")"
            RParen@435..436 ")"
        Semi@436..437 ";"
        Whitespace@437..442 "\n    "
      STMT_EXPR@442..504
        EXPR_CALL@442..498
          EXPR_IDENT@442..449
            PATH@442..449
              Ident@442..449 "println"
          ARG_LIST@449..498
            LParen@449..450 "("
            ARG@450..497
              EXPR_CALL@450..497
                EXPR_BINARY@450..495
                  EXPR_CALL@450..485
                    EXPR_BINARY@450..481
                      EXPR_CALL@450..471
                        EXPR_BINARY@450..465
                          EXPR_IDENT@450..454
                            PATH@450..454
                              Ident@450..454 "text"
                          Dot@454..455 "."
                          EXPR_IDENT@455..465
                            PATH@455..465
                              Ident@455..465 "find_bytes"
                        ARG_LIST@465..471
                          LParen@465..466 "("
                          ARG@466..470
                            EXPR_STR@466..470
                              Str@466..470 "\"lo\""
                          RParen@470..471 ")"
                      Dot@471..472 "."
                      EXPR_IDENT@472..481
                        PATH@472..481
                          Ident@472..481 "unwrap_or"
                    ARG_LIST@481..485
                      LParen@481..482 "("
                      ARG@482..484
                        EXPR_PREFIX@482..484
                          Minus@482..483 "-"
                          EXPR_INT@483..484
                            Int@483..484 "1"
                      RParen@484..485 ")"
                  Dot@485..486 "."
                  EXPR_IDENT@486..495
                    PATH@486..495
                      Ident@486..495 "to_string"
                ARG_LIST@495..497
                  LParen@495..496 "("
                  RParen@496..497 ")"
            RParen@497..498 ")"
        Semi@498..499 ";"
        Whitespace@499..504 "\n    "
      STMT_EXPR@504..560
        EXPR_CALL@504..554
          EXPR_IDENT@504..511
            PATH@504..511
              Ident@504..511 "println"
          ARG_LIST@511..554
            LParen@511..512 "("
            ARG@512..553
              EXPR_CALL@512..553
                EXPR_BINARY@512..551
                  EXPR_CALL@512..541
                    EXPR_BINARY@512..531
                      EXPR_IDENT@512..516
                        PATH@512..516
                          Ident@512..516 "text"
                      Dot@516..517 "."
                      EXPR_IDENT@517..531
                        PATH@517..531
                          Ident@517..531 "starts_with_at"
                    ARG_LIST@531..541
                      LParen@531..532 "("
                      ARG@532..535
                        EXPR_INT@532..533
                          Int@532..533 "2"
                        Comma@533..534 ","
                        Whitespace@534..535 " "
                      ARG@535..540
                        EXPR_STR@535..540
                          Str@535..540 "\"Hé\""
                      RParen@540..541 ")"
                  Dot@541..542 "."
                  EXPR_IDENT@542..551
                    PATH@542..551
                      Ident@542..551 "to_string"
                ARG_LIST@551..553
                  LParen@551..552 "("
                  RParen@552..553 ")"
            RParen@553..554 ")"
        Semi@554..555 ";"
        Whitespace@555..560 "\n    "
      STMT_EXPR@560..604
        EXPR_CALL@560..598
          EXPR_IDENT@560..567
            PATH@560..567
              Ident@560..567 "println"
          ARG_LIST@567..598
            LParen@567..568 "("
            ARG@568..597
              EXPR_CALL@568..597
                EXPR_BINARY@568..595
                  EXPR_CALL@568..585
                    EXPR_BINARY@568..583
                      EXPR_IDENT@568..572
                        PATH@568..572
                          Ident@568..572 "text"
                      Dot@572..573 "."
                      EXPR_IDENT@573..583
                        PATH@573..583
                          Ident@573..583 "char_count"
                    ARG_LIST@583..585
                      LParen@583..584 "("
                      RParen@584..585 ")"
                  Dot@585..586 "."
                  EXPR_IDENT@586..595
                    PATH@586..595
                      Ident@586..595 "to_string"
                ARG_LIST@595..597
                  LParen@595..596 "("
                  RParen@596..597 ")"
            RParen@597..598 ")"
        Semi@598..599 ";"
        Whitespace@599..604 "\n    "
      STMT_EXPR@604..659
        EXPR_CALL@604..653
          EXPR_IDENT@604..611
            PATH@604..611
              Ident@604..611 "println"
          ARG_LIST@611..653
            LParen@611..612 "("
            ARG@612..652
              EXPR_CALL@612..652
                EXPR_BINARY@612..644
                  EXPR_CALL@612..634
                    EXPR_BINARY@612..628
                      EXPR_IDENT@612..616
                        PATH@612..616
                          Ident@612..616 "text"
                      Dot@616..617 "."
                      EXPR_IDENT@617..628
                        PATH@617..628
                          Ident@617..628 "slice_chars"
                    ARG_LIST@628..634
                      LParen@628..629 "("
                      ARG@629..632
                        EXPR_INT@629..630
                          Int@629..630 "2"
                        Comma@630..631 ","
                        Whitespace@631..632 " "
                      ARG@632..633
                        EXPR_INT@632..633
                          Int@632..633 "7"
                      RParen@633..634 ")"
                  Dot@634..635 "."
                  EXPR_IDENT@635..644
                    PATH@635..644
                      Ident@635..644 "unwrap_or"
                ARG_LIST@644..652
                  LParen@644..645 "("
                  ARG@645..651
                    EXPR_STR@645..651
                      Str@645..651 "\"none\""
                  RParen@651..652 ")"
            RParen@652..653 ")"
        Semi@653..654 ";"
        Whitespace@654..659 "\n    "
      STMT_EXPR@659..696
        EXPR_CALL@659..690
          EXPR_IDENT@659..666
            PATH@659..666
              Ident@659..666 "println"
          ARG_LIST@666..690
            LParen@666..667 "("
            ARG@667..689
              EXPR_CALL@667..689
                EXPR_BINARY@667..679
                  EXPR_IDENT@667..671
                    PATH@667..671
                      Ident@667..671 "text"
                  Dot@671..672 "."
                  EXPR_IDENT@672..679
                    PATH@672..679
                      Ident@672..679 "replace"
                ARG_LIST@679..689
                  LParen@679..680 "("
                  ARG@680..685
                    EXPR_STR@680..683
                      Str@680..683 "\"l\""
                    Comma@683..684 ","
                    Whitespace@684..685 " "
                  ARG@685..688
                    EXPR_STR@685..688
                      Str@685..688 "\"L\""
                  RParen@688..689 ")"
            RParen@689..690 ")"
        Semi@690..691 ";"
        Whitespace@691..696 "\n    "
      STMT_EXPR@696..725
        EXPR_CALL@696..719
          EXPR_IDENT@696..703
            PATH@696..703
              Ident@696..703 "println"
          ARG_LIST@703..719
            LParen@703..704 "("
            ARG@704..718
              EXPR_CALL@704..718
                EXPR_BINARY@704..715
                  EXPR_STR@704..708
                    Str@704..708 "\"ab\""
                  Dot@708..709 "."
                  EXPR_IDENT@709..715
                    PATH@709..715
                      Ident@709..715 "repeat"
                ARG_LIST@715..718
                  LParen@715..716 "("
                  ARG@716..717
                    EXPR_INT@716..717
                      Int@716..717 "3"
                  RParen@717..718 ")"
            RParen@718..719 ")"
        Semi@719..720 ";"
        Whitespace@720..725 "\n    "
      STMT_EXPR@725..767
        EXPR_CALL@725..761
          EXPR_IDENT@725..732
            PATH@725..732
              Ident@725..732 "println"
          ARG_LIST@732..761
            LParen@732..733 "("
            ARG@733..760
              EXPR_CALL@733..760
                EXPR_BINARY@733..758
                  EXPR_CALL@733..748
                    EXPR_BINARY@733..746
                      EXPR_IDENT@733..737
                        PATH@733..737
                          Ident@733..737 "text"
                      Dot@737..738 "."
                      EXPR_IDENT@738..746
                        PATH@738..746
                          Ident@738..746 "is_ascii"
                    ARG_LIST@746..748
                      LParen@746..747 "("
                      RParen@747..748 ")"
                  Dot@748..749 "."
                  EXPR_IDENT@749..758
                    PATH@749..758
                      Ident@749..758 "to_string"
                ARG_LIST@758..760
                  LParen@758..759 "("
                  RParen@759..760 ")"
            RParen@760..761 ")"
        Semi@761..762 ";"
        Whitespace@762..767 "\n    "
      STMT_EXPR@767..827
        EXPR_CALL@767..821
          EXPR_IDENT@767..774
            PATH@767..774
              Ident@767..774 "println"
          ARG_LIST@774..821
            LParen@774..775 "("
            ARG@775..820
              EXPR_CALL@775..820
                EXPR_BINARY@775..818
                  EXPR_CALL@775..808
                    EXPR_BINARY@775..801
                      EXPR_STR@775..780
                        Str@775..780 "\"ABC\""
                      Dot@780..781 "."
                      EXPR_IDENT@781..801
                        PATH@781..801
                          Ident@781..801 "eq_ignore_ascii_case"
                    ARG_LIST@801..808
                      LParen@801..802 "("
                      ARG@802..807
                        EXPR_STR@802..807
                          Str@802..807 "\"abc\""
                      RParen@807..808 ")"
                  Dot@808..809 "."
                  EXPR_IDENT@809..818
                    PATH@809..818
                      Ident@809..818 "to_string"
                ARG_LIST@818..820
                  LParen@818..819 "("
                  RParen@819..820 ")"
            RParen@820..821 ")"
        Semi@821..822 ";"
        Whitespace@822..827 "\n    "
      STMT_EXPR@827..868
        EXPR_CALL@827..862
          EXPR_IDENT@827..834
            PATH@827..834
              Ident@827..834 "println"
          ARG_LIST@834..862
            LParen@834..835 "("
            ARG@835..861
              EXPR_CALL@835..861
                EXPR_BINARY@835..859
                  EXPR_STR@835..840
                    Str@835..840 "\"AbC\""
                  Dot@840..841 "."
                  EXPR_IDENT@841..859
                    PATH@841..859
                      Ident@841..859 "to_ascii_lowercase"
                ARG_LIST@859..861
                  LParen@859..860 "("
                  RParen@860..861 ")"
            RParen@861..862 ")"
        Semi@862..863 ";"
        Whitespace@863..868 "\n    "
      EXPR_CALL@868..904
        EXPR_IDENT@868..875
          PATH@868..875
            Ident@868..875 "println"
        ARG_LIST@875..904
          LParen@875..876 "("
          ARG@876..902
            EXPR_CALL@876..902
              EXPR_BINARY@876..900
                EXPR_STR@876..881
                  Str@876..881 "\"aBc\""
                Dot@881..882 "."
                EXPR_IDENT@882..900
                  PATH@882..900
                    Ident@882..900 "to_ascii_uppercase"
              ARG_LIST@900..902
                LParen@900..901 "("
                RParen@901..902 ")"
          RParen@902..903 ")"
          Whitespace@903..904 "\n"
      RBrace@904..905 "}"
      Whitespace@905..906 "\n"