FILE@0..369
  FN@0..369
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..369
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_EXPR@22..62
        EXPR_CALL@22..56
          EXPR_IDENT@22..29
            PATH@22..29
              Ident@22..29 "println"
          ARG_LIST@29..56
            LParen@29..30 "("
            ARG@30..55
              EXPR_CALL@30..55
                EXPR_BINARY@30..53
                  EXPR_FLOAT@30..43
                    Float@30..43 "18318654708.7"
                  Dot@43..44 "."
                  EXPR_IDENT@44..53
                    PATH@44..53
                      Ident@44..53 "to_string"
                ARG_LIST@53..55
                  LParen@53..54 "("
                  RParen@54..55 ")"
            RParen@55..56 ")"
        Semi@56..57 ";"
        Whitespace@57..62 "\n    "
      STMT_EXPR@62..98
        EXPR_CALL@62..92
          EXPR_IDENT@62..69
            PATH@62..69
              Ident@62..69 "println"
          ARG_LIST@69..92
            LParen@69..70 "("
            ARG@70..91
              EXPR_CALL@70..91
                EXPR_BINARY@70..89
                  EXPR_FLOAT@70..79
                    Float@70..79 "0.0000001"
                  Dot@79..80 "."
                  EXPR_IDENT@80..89
                    PATH@80..89
                      Ident@80..89 "to_string"
                ARG_LIST@89..91
                  LParen@89..90 "("
                  RParen@90..91 ")"
            RParen@91..92 ")"
        Semi@92..93 ";"
        Whitespace@93..98 "\n    "
      STMT_LET@98..118
        LetKeyword@98..101 "let"
        Whitespace@101..102 " "
        PATTERN_VARIABLE@102..107
          Ident@102..106 "zero"
          Whitespace@106..107 " "
        Eq@107..108 "="
        Whitespace@108..109 " "
        EXPR_FLOAT@109..112
          Float@109..112 "0.0"
        Semi@112..113 ";"
        Whitespace@113..118 "\n    "
      STMT_LET@118..147
        LetKeyword@118..121 "let"
        Whitespace@121..122 " "
        PATTERN_VARIABLE@122..135
          Ident@122..134 "negative_one"
          Whitespace@134..135 " "
        Eq@135..136 "="
        Whitespace@136..137 " "
        EXPR_PREFIX@137..141
          Minus@137..138 "-"
          EXPR_FLOAT@138..141
            Float@138..141 "1.0"
        Semi@141..142 ";"
        Whitespace@142..147 "\n    "
      STMT_EXPR@147..195
        EXPR_CALL@147..189
          EXPR_IDENT@147..154
            PATH@147..154
              Ident@147..154 "println"
          ARG_LIST@154..189
            LParen@154..155 "("
            ARG@155..188
              EXPR_CALL@155..188
                EXPR_BINARY@155..186
                  EXPR_PAREN@155..176
                    LParen@155..156 "("
                    EXPR_BINARY@156..175
                      EXPR_IDENT@156..169
                        PATH@156..169
                          Ident@156..168 "negative_one"
                          Whitespace@168..169 " "
                      Star@169..170 "*"
                      Whitespace@170..171 " "
                      EXPR_IDENT@171..175
                        PATH@171..175
                          Ident@171..175 "zero"
                    RParen@175..176 ")"
                  Dot@176..177 "."
                  EXPR_IDENT@177..186
                    PATH@177..186
                      Ident@177..186 "to_string"
                ARG_LIST@186..188
                  LParen@186..187 "("
                  RParen@187..188 ")"
            RParen@188..189 ")"
        Semi@189..190 ";"
        Whitespace@190..195 "\n    "
      STMT_EXPR@195..234
        EXPR_CALL@195..228
          EXPR_IDENT@195..202
            PATH@195..202
              Ident@195..202 "println"
          ARG_LIST@202..228
            LParen@202..203 "("
            ARG@203..227
              EXPR_CALL@203..227
                EXPR_BINARY@203..225
                  EXPR_PAREN@203..215
                    LParen@203..204 "("
                    EXPR_BINARY@204..214
                      EXPR_FLOAT@204..208
                        Float@204..207 "1.0"
                        Whitespace@207..208 " "
                      Slash@208..209 "/"
                      Whitespace@209..210 " "
                      EXPR_IDENT@210..214
                        PATH@210..214
                          Ident@210..214 "zero"
                    RParen@214..215 ")"
                  Dot@215..216 "."
                  EXPR_IDENT@216..225
                    PATH@216..225
                      Ident@216..225 "to_string"
                ARG_LIST@225..227
                  LParen@225..226 "("
                  RParen@226..227 ")"
            RParen@227..228 ")"
        Semi@228..229 ";"
        Whitespace@229..234 "\n    "
      STMT_EXPR@234..274
        EXPR_CALL@234..268
          EXPR_IDENT@234..241
            PATH@234..241
              Ident@234..241 "println"
          ARG_LIST@241..268
            LParen@241..242 "("
            ARG@242..267
              EXPR_CALL@242..267
                EXPR_BINARY@242..265
                  EXPR_PAREN@242..255
                    LParen@242..243 "("
                    EXPR_BINARY@243..254
                      EXPR_PREFIX@243..248
                        Minus@243..244 "-"
                        EXPR_FLOAT@244..248
                          Float@244..247 "1.0"
                          Whitespace@247..248 " "
                      Slash@248..249 "/"
                      Whitespace@249..250 " "
                      EXPR_IDENT@250..254
                        PATH@250..254
                          Ident@250..254 "zero"
                    RParen@254..255 ")"
                  Dot@255..256 "."
                  EXPR_IDENT@256..265
                    PATH@256..265
                      Ident@256..265 "to_string"
                ARG_LIST@265..267
                  LParen@265..266 "("
                  RParen@266..267 ")"
            RParen@267..268 ")"
        Semi@268..269 ";"
        Whitespace@269..274 "\n    "
      STMT_EXPR@274..314
        EXPR_CALL@274..308
          EXPR_IDENT@274..281
            PATH@274..281
              Ident@274..281 "println"
          ARG_LIST@281..308
            LParen@281..282 "("
            ARG@282..307
              EXPR_CALL@282..307
                EXPR_BINARY@282..305
                  EXPR_PAREN@282..295
                    LParen@282..283 "("
                    EXPR_BINARY@283..294
                      EXPR_IDENT@283..288
                        PATH@283..288
                          Ident@283..287 "zero"
                          Whitespace@287..288 " "
                      Slash@288..289 "/"
                      Whitespace@289..290 " "
                      EXPR_IDENT@290..294
                        PATH@290..294
                          Ident@290..294 "zero"
                    RParen@294..295 ")"
                  Dot@295..296 "."
                  EXPR_IDENT@296..305
                    PATH@296..305
                      Ident@296..305 "to_string"
                ARG_LIST@305..307
                  LParen@305..306 "("
                  RParen@306..307 ")"
            RParen@307..308 ")"
        Semi@308..309 ";"
        Whitespace@309..314 "\n    "
      STMT_LET@314..341
        LetKeyword@314..317 "let"
        Whitespace@317..318 " "
        PATTERN_VARIABLE@318..323
          Ident@318..322 "wide"
          Whitespace@322..323 " "
        Eq@323..324 "="
        Whitespace@324..325 " "
        EXPR_FLOAT@325..335
          Float@325..335 "12345678.0"
        Semi@335..336 ";"
        Whitespace@336..341 "\n    "
      EXPR_CALL@341..367
        EXPR_IDENT@341..348
          PATH@341..348
            Ident@341..348 "println"
        ARG_LIST@348..367
          LParen@348..349 "("
          ARG@349..365
            EXPR_CALL@349..365
              EXPR_BINARY@349..363
                EXPR_IDENT@349..353
                  PATH@349..353
                    Ident@349..353 "wide"
                Dot@353..354 "."
                EXPR_IDENT@354..363
                  PATH@354..363
                    Ident@354..363 "to_string"
              ARG_LIST@363..365
                LParen@363..364 "("
                RParen@364..365 ")"
          RParen@365..366 ")"
          Whitespace@366..367 "\n"
      RBrace@367..368 "}"
      Whitespace@368..369 "\n"