FILE@0..883
  EXTERN@0..36
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    Str@7..11 "\"go\""
    Whitespace@11..12 " "
    Str@12..18 "\"time\""
    Whitespace@18..19 " "
    Str@19..25 "\"Time\""
    Whitespace@25..26 " "
    TypeKeyword@26..30 "type"
    Whitespace@30..31 " "
    Ident@31..35 "Time"
    Whitespace@35..36 "\n"
  EXTERN@36..81
    ExternKeyword@36..42 "extern"
    Whitespace@42..43 " "
    Str@43..47 "\"go\""
    Whitespace@47..48 " "
    Str@48..54 "\"time\""
    Whitespace@54..55 " "
    Str@55..65 "\"Duration\""
    Whitespace@65..66 " "
    TypeKeyword@66..70 "type"
    Whitespace@70..71 " "
    Ident@71..79 "Duration"
    Whitespace@79..81 "\n\n"
  EXTERN@81..140
    ExternKeyword@81..87 "extern"
    Whitespace@87..88 " "
    Str@88..92 "\"go\""
    Whitespace@92..93 " "
    Str@93..99 "\"time\""
    Whitespace@99..100 " "
    Ident@100..104 "unix"
    PARAM_LIST@104..132
      LParen@104..105 "("
      PARAM@105..118
        Ident@105..109 "secs"
        Colon@109..110 ":"
        Whitespace@110..111 " "
        TYPE_INT32@111..116
          Int32Keyword@111..116 "int32"
        Comma@116..117 ","
        Whitespace@117..118 " "
      PARAM@118..130
        Ident@118..123 "nanos"
        Colon@123..124 ":"
        Whitespace@124..125 " "
        TYPE_INT32@125..130
          Int32Keyword@125..130 "int32"
      RParen@130..131 ")"
      Whitespace@131..132 " "
    Arrow@132..134 "->"
    Whitespace@134..135 " "
    TYPE_TAPP@135..140
      PATH@135..140
        Ident@135..139 "Time"
        Whitespace@139..140 "\n"
  EXTERN@140..195
    ExternKeyword@140..146 "extern"
    Whitespace@146..147 " "
    Str@147..151 "\"go\""
    Whitespace@151..152 " "
    Str@152..158 "\"time\""
    Whitespace@158..159 " "
    Ident@159..167 "duration"
    PARAM_LIST@167..182
      LParen@167..168 "("
      PARAM@168..180
        Ident@168..173 "nanos"
        Colon@173..174 ":"
        Whitespace@174..175 " "
        TYPE_INT32@175..180
          Int32Keyword@175..180 "int32"
      RParen@180..181 ")"
      Whitespace@181..182 " "
    Arrow@182..184 "->"
    Whitespace@184..185 " "
    TYPE_TAPP@185..195
      PATH@185..195
        Ident@185..193 "Duration"
        Whitespace@193..195 "\n\n"
  EXTERN@195..274
    ExternKeyword@195..201 "extern"
    Whitespace@201..202 " "
    Str@202..206 "\"go\""
    Whitespace@206..207 " "
    Str@207..212 "\"fmt\""
    Whitespace@212..213 " "
    Str@213..222 "\"Sprintf\""
    Whitespace@222..223 " "
    Ident@223..234 "format_time"
    PARAM_LIST@234..264
      LParen@234..235 "("
      PARAM@235..251
        Ident@235..241 "format"
        Colon@241..242 ":"
        Whitespace@242..243 " "
        TYPE_STRING@243..249
          StringKeyword@243..249 "string"
        Comma@249..250 ","
        Whitespace@250..251 " "
      PARAM@251..262
        Ident@251..256 "value"
        Colon@256..257 ":"
        Whitespace@257..258 " "
        TYPE_TAPP@258..262
          PATH@258..262
            Ident@258..262 "Time"
      RParen@262..263 ")"
      Whitespace@263..264 " "
    Arrow@264..266 "->"
    Whitespace@266..267 " "
    TYPE_STRING@267..274
      StringKeyword@267..273 "string"
      Whitespace@273..274 "\n"
  EXTERN@274..362
    ExternKeyword@274..280 "extern"
    Whitespace@280..281 " "
    Str@281..285 "\"go\""
    Whitespace@285..286 " "
    Str@286..291 "\"fmt\""
    Whitespace@291..292 " "
    Str@292..301 "\"Sprintf\""
    Whitespace@301..302 " "
    Ident@302..317 "format_duration"
    PARAM_LIST@317..351
      LParen@317..318 "("
      PARAM@318..334
        Ident@318..324 "format"
        Colon@324..325 ":"
        Whitespace@325..326 " "
        TYPE_STRING@326..332
          StringKeyword@326..332 "string"
        Comma@332..333 ","
        Whitespace@333..334 " "
      PARAM@334..349
        Ident@334..339 "value"
        Colon@339..340 ":"
        Whitespace@340..341 " "
        TYPE_TAPP@341..349
          PATH@341..349
            Ident@341..349 "Duration"
      RParen@349..350 ")"
      Whitespace@350..351 " "
    Arrow@351..353 "->"
    Whitespace@353..354 " "
    TYPE_STRING@354..362
      StringKeyword@354..360 "string"
      Whitespace@360..362 "\n\n"
  FN@362..488
    FnKeyword@362..364 "fn"
    Whitespace@364..365 " "
    Ident@365..379 "describe_epoch"
    PARAM_LIST@379..382
      LParen@379..380 "("
      RParen@380..381 ")"
      Whitespace@381..382 " "
    Arrow@382..384 "->"
    Whitespace@384..385 " "
    TYPE_STRING@385..392
      StringKeyword@385..391 "string"
      Whitespace@391..392 " "
    BLOCK@392..488
      LBrace@392..393 "{"
      Whitespace@393..398 "\n    "
      STMT_LET@398..442
        LetKeyword@398..401 "let"
        Whitespace@401..402 " "
        PATTERN_VARIABLE@402..408
          Ident@402..407 "epoch"
          Whitespace@407..408 " "
        Eq@408..409 "="
        Whitespace@409..410 " "
        EXPR_CALL@410..436
          EXPR_IDENT@410..414
            PATH@410..414
              Ident@410..414 "unix"
          ARG_LIST@414..436
            LParen@414..415 "("
            ARG@415..426
              EXPR_INT@415..424
                Int@415..424 "946684800"
              Comma@424..425 ","
              Whitespace@425..426 " "
            ARG@426..435
              EXPR_INT@426..435
                Int@426..435 "500000000"
            RParen@435..436 ")"
        Semi@436..437 ";"
        Whitespace@437..442 "\n    "
      EXPR_CALL@442..485
        EXPR_IDENT@442..453
          PATH@442..453
            Ident@442..453 "format_time"
        ARG_LIST@453..485
          LParen@453..454 "("
          ARG@454..478
            EXPR_STR@454..476
              Str@454..476 "\"epoch snapshot => %v\""
            Comma@476..477 ","
            Whitespace@477..478 " "
          ARG@478..483
            EXPR_IDENT@478..483
              PATH@478..483
                Ident@478..483 "epoch"
          RParen@483..484 ")"
          Whitespace@484..485 "\n"
      RBrace@485..486 "}"
      Whitespace@486..488 "\n\n"
  FN@488..626
    FnKeyword@488..490 "fn"
    Whitespace@490..491 " "
    Ident@491..514 "describe_planned_launch"
    PARAM_LIST@514..517
      LParen@514..515 "("
      RParen@515..516 ")"
      Whitespace@516..517 " "
    Arrow@517..519 "->"
    Whitespace@519..520 " "
    TYPE_STRING@520..527
      StringKeyword@520..526 "string"
      Whitespace@526..527 " "
    BLOCK@527..626
      LBrace@527..528 "{"
      Whitespace@528..533 "\n    "
      STMT_LET@533..579
        LetKeyword@533..536 "let"
        Whitespace@536..537 " "
        PATTERN_VARIABLE@537..544
          Ident@537..543 "launch"
          Whitespace@543..544 " "
        Eq@544..545 "="
        Whitespace@545..546 " "
        EXPR_CALL@546..573
          EXPR_IDENT@546..550
            PATH@546..550
              Ident@546..550 "unix"
          ARG_LIST@550..573
            LParen@550..551 "("
            ARG@551..563
              EXPR_INT@551..561
                Int@551..561 "1709294730"
              Comma@561..562 ","
              Whitespace@562..563 " "
            ARG@563..572
              EXPR_INT@563..572
                Int@563..572 "250000000"
            RParen@572..573 ")"
        Semi@573..574 ";"
        Whitespace@574..579 "\n    "
      EXPR_CALL@579..623
        EXPR_IDENT@579..590
          PATH@579..590
            Ident@579..590 "format_time"
        ARG_LIST@590..623
          LParen@590..591 "("
          ARG@591..615
            EXPR_STR@591..613
              Str@591..613 "\"planned launch => %v\""
            Comma@613..614 ","
            Whitespace@614..615 " "
          ARG@615..621
            EXPR_IDENT@615..621
              PATH@615..621
                Ident@615..621 "launch"
          RParen@621..622 ")"
          Whitespace@622..623 "\n"
      RBrace@623..624 "}"
      Whitespace@624..626 "\n\n"
  FN@626..756
    FnKeyword@626..628 "fn"
    Whitespace@628..629 " "
    Ident@629..646 "describe_duration"
    PARAM_LIST@646..649
      LParen@646..647 "("
      RParen@647..648 ")"
      Whitespace@648..649 " "
    Arrow@649..651 "->"
    Whitespace@651..652 " "
    TYPE_STRING@652..659
      StringKeyword@652..658 "string"
      Whitespace@658..659 " "
    BLOCK@659..756
      LBrace@659..660 "{"
      Whitespace@660..665 "\n    "
      STMT_LET@665..704
        LetKeyword@665..668 "let"
        Whitespace@668..669 " "
        PATTERN_VARIABLE@669..676
          Ident@669..675 "parsed"
          Whitespace@675..676 " "
        Eq@676..677 "="
        Whitespace@677..678 " "
        EXPR_CALL@678..698
          EXPR_IDENT@678..686
            PATH@678..686
              Ident@678..686 "duration"
          ARG_LIST@686..698
            LParen@686..687 "("
            ARG@687..697
              EXPR_INT@687..697
                Int@687..697 "1500000000"
            RParen@697..698 ")"
        Semi@698..699 ";"
        Whitespace@699..704 "\n    "
      EXPR_CALL@704..753
        EXPR_IDENT@704..719
          PATH@704..719
            Ident@704..719 "format_duration"
        ARG_LIST@719..753
          LParen@719..720 "("
          ARG@720..745
            EXPR_STR@720..743
              Str@720..743 "\"parsed duration => %v\""
            Comma@743..744 ","
            Whitespace@744..745 " "
          ARG@745..751
            EXPR_IDENT@745..751
              PATH@745..751
                Ident@745..751 "parsed"
          RParen@751..752 ")"
          Whitespace@752..753 "\n"
      RBrace@753..754 "}"
      Whitespace@754..756 "\n\n"
  FN@756..883
    FnKeyword@756..758 "fn"
    Whitespace@758..759 " "
    Ident@759..763 "main"
    PARAM_LIST@763..766
      LParen@763..764 "("
      RParen@764..765 ")"
      Whitespace@765..766 " "
    Arrow@766..768 "->"
    Whitespace@768..769 " "
    TYPE_UNIT@769..774
      UnitKeyword@769..773 "unit"
      Whitespace@773..774 " "
    BLOCK@774..883
      LBrace@774..775 "{"
      Whitespace@775..780 "\n    "
      STMT_EXPR@780..811
        EXPR_CALL@780..805
          EXPR_IDENT@780..787
            PATH@780..787
              Ident@780..787 "println"
          ARG_LIST@787..805
            LParen@787..788 "("
            ARG@788..804
              EXPR_CALL@788..804
                EXPR_IDENT@788..802
                  PATH@788..802
                    Ident@788..802 "describe_epoch"
                ARG_LIST@802..804
                  LParen@802..803 "("
                  RParen@803..804 ")"
            RParen@804..805 ")"
        Semi@805..806 ";"
        Whitespace@806..811 "\n    "
      STMT_EXPR@811..851
        EXPR_CALL@811..845
          EXPR_IDENT@811..818
            PATH@811..818
              Ident@811..818 "println"
          ARG_LIST@818..845
            LParen@818..819 "("
            ARG@819..844
              EXPR_CALL@819..844
                EXPR_IDENT@819..842
                  PATH@819..842
                    Ident@819..842 "describe_planned_launch"
                ARG_LIST@842..844
                  LParen@842..843 "("
                  RParen@843..844 ")"
            RParen@844..845 ")"
        Semi@845..846 ";"
        Whitespace@846..851 "\n    "
      STMT_EXPR@851..881
        EXPR_CALL@851..879
          EXPR_IDENT@851..858
            PATH@851..858
              Ident@851..858 "println"
          ARG_LIST@858..879
            LParen@858..859 "("
            ARG@859..878
              EXPR_CALL@859..878
                EXPR_IDENT@859..876
                  PATH@859..876
                    Ident@859..876 "describe_duration"
                ARG_LIST@876..878
                  LParen@876..877 "("
                  RParen@877..878 ")"
            RParen@878..879 ")"
        Semi@879..880 ";"
        Whitespace@880..881 "\n"
      RBrace@881..882 "}"
      Whitespace@882..883 "\n"