FILE@0..521
  FN@0..106
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "touch"
    PARAM_LIST@8..28
      LParen@8..9 "("
      PARAM@9..26
        Ident@9..16 "counter"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_TAPP@18..26
          PATH@18..21
            Ident@18..21 "Ref"
          TYPE_PARAM_LIST@21..26
            LBracket@21..22 "["
            TYPE_INT@22..25
              IntKeyword@22..25 "int"
            RBracket@25..26 "]"
      RParen@26..27 ")"
      Whitespace@27..28 " "
    Arrow@28..30 "->"
    Whitespace@30..31 " "
    TYPE_INT@31..35
      IntKeyword@31..34 "int"
      Whitespace@34..35 " "
    BLOCK@35..106
      LBrace@35..36 "{"
      Whitespace@36..41 "\n    "
      STMT_LET@41..75
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..50
          Ident@45..49 "next"
          Whitespace@49..50 " "
        Eq@50..51 "="
        Whitespace@51..52 " "
        EXPR_BINARY@52..69
          EXPR_CALL@52..66
            EXPR_BINARY@52..63
              EXPR_IDENT@52..59
                PATH@52..59
                  Ident@52..59 "counter"
              Dot@59..60 "."
              EXPR_IDENT@60..63
                PATH@60..63
                  Ident@60..63 "get"
            ARG_LIST@63..66
              LParen@63..64 "("
              RParen@64..65 ")"
              Whitespace@65..66 " "
          Plus@66..67 "+"
          Whitespace@67..68 " "
          EXPR_INT@68..69
            Int@68..69 "1"
        Semi@69..70 ";"
        Whitespace@70..75 "\n    "
      STMT_EXPR@75..98
        EXPR_CALL@75..92
          EXPR_BINARY@75..86
            EXPR_IDENT@75..82
              PATH@75..82
                Ident@75..82 "counter"
            Dot@82..83 "."
            EXPR_IDENT@83..86
              PATH@83..86
                Ident@83..86 "set"
          ARG_LIST@86..92
            LParen@86..87 "("
            ARG@87..91
              EXPR_IDENT@87..91
                PATH@87..91
                  Ident@87..91 "next"
            RParen@91..92 ")"
        Semi@92..93 ";"
        Whitespace@93..98 "\n    "
      EXPR_IDENT@98..103
        PATH@98..103
          Ident@98..102 "next"
          Whitespace@102..103 "\n"
      RBrace@103..104 "}"
      Whitespace@104..106 "\n\n"
  FN@106..521
    FnKeyword@106..108 "fn"
    Whitespace@108..109 " "
    Ident@109..113 "main"
    PARAM_LIST@113..116
      LParen@113..114 "("
      RParen@114..115 ")"
      Whitespace@115..116 " "
    Arrow@116..118 "->"
    Whitespace@118..119 " "
    TYPE_UNIT@119..124
      UnitKeyword@119..123 "unit"
      Whitespace@123..124 " "
    BLOCK@124..521
      LBrace@124..125 "{"
      Whitespace@125..130 "\n    "
      STMT_LET@130..148
        LetKeyword@130..133 "let"
        Whitespace@133..134 " "
        PATTERN_VARIABLE@134..139
          Ident@134..138 "dead"
          Whitespace@138..139 " "
        Eq@139..140 "="
        Whitespace@140..141 " "
        EXPR_INT@141..142
          Int@141..142 "1"
        Semi@142..143 ";"
        Whitespace@143..148 "\n    "
      STMT_LET@148..179
        LetKeyword@148..151 "let"
        Whitespace@151..152 " "
        PATTERN_VARIABLE@152..162
          Ident@152..161 "dead_pair"
          Whitespace@161..162 " "
        Eq@162..163 "="
        Whitespace@163..164 " "
        EXPR_TUPLE@164..173
          LParen@164..165 "("
          EXPR_IDENT@165..169
            PATH@165..169
              Ident@165..169 "dead"
          Comma@169..170 ","
          Whitespace@170..171 " "
          EXPR_INT@171..172
            Int@171..172 "2"
          RParen@172..173 ")"
        Semi@173..174 ";"
        Whitespace@174..179 "\n    "
      STMT_LET@179..247
        LetKeyword@179..182 "let"
        Whitespace@182..183 " "
        PATTERN_VARIABLE@183..191
          Ident@183..190 "dead_if"
          Whitespace@190..191 " "
        Eq@191..192 "="
        Whitespace@192..193 " "
        EXPR_IF@193..241
          IfKeyword@193..195 "if"
          Whitespace@195..196 " "
          EXPR_IF_COND@196..201
            EXPR_BOOL@196..201
              TrueKeyword@196..200 "true"
              Whitespace@200..201 " "
          EXPR_IF_THEN@201..219
            BLOCK@201..219
              LBrace@201..202 "{"
              Whitespace@202..211 "\n        "
              EXPR_INT@211..217
                Int@211..212 "3"
                Whitespace@212..217 "\n    "
              RBrace@217..218 "}"
              Whitespace@218..219 " "
          ElseKeyword@219..223 "else"
          Whitespace@223..224 " "
          EXPR_IF_ELSE@224..241
            BLOCK@224..241
              LBrace@224..225 "{"
              Whitespace@225..234 "\n        "
              EXPR_INT@234..240
                Int@234..235 "4"
                Whitespace@235..240 "\n    "
              RBrace@240..241 "}"
        Semi@241..242 ";"
        Whitespace@242..247 "\n    "
      STMT_LET@247..328
        LetKeyword@247..250 "let"
        Whitespace@250..251 " "
        PATTERN_VARIABLE@251..262
          Ident@251..261 "dead_match"
          Whitespace@261..262 " "
        Eq@262..263 "="
        Whitespace@263..264 " "
        EXPR_MATCH@264..322
          MatchKeyword@264..269 "match"
          Whitespace@269..270 " "
          EXPR_BOOL@270..276
            FalseKeyword@270..275 "false"
            Whitespace@275..276 " "
          MATCH_ARM_LIST@276..322
            LBrace@276..277 "{"
            Whitespace@277..286 "\n        "
            MATCH_ARM@286..295
              PATTERN_BOOL@286..291
                TrueKeyword@286..290 "true"
                Whitespace@290..291 " "
              FatArrow@291..293 "=>"
              Whitespace@293..294 " "
              EXPR_INT@294..295
                Int@294..295 "5"
            Comma@295..296 ","
            Whitespace@296..305 "\n        "
            MATCH_ARM@305..315
              PATTERN_BOOL@305..311
                FalseKeyword@305..310 "false"
                Whitespace@310..311 " "
              FatArrow@311..313 "=>"
              Whitespace@313..314 " "
              EXPR_INT@314..315
                Int@314..315 "6"
            Comma@315..316 ","
            Whitespace@316..321 "\n    "
            RBrace@321..322 "}"
        Semi@322..323 ";"
        Whitespace@323..328 "\n    "
      STMT_LET@328..378
        LetKeyword@328..331 "let"
        Whitespace@331..332 " "
        PATTERN_VARIABLE@332..345
          Ident@332..344 "dead_closure"
          Whitespace@344..345 " "
        Eq@345..346 "="
        Whitespace@346..347 " "
        EXPR_CLOSURE@347..372
          CLOSURE_PARAM_LIST@347..360
            Pipe@347..348 "|"
            CLOSURE_PARAM@348..358
              Ident@348..353 "value"
              Colon@353..354 ":"
              Whitespace@354..355 " "
              TYPE_INT@355..358
                IntKeyword@355..358 "int"
            Pipe@358..359 "|"
            Whitespace@359..360 " "
          EXPR_CLOSURE_BODY@360..372
            EXPR_BINARY@360..372
              EXPR_IDENT@360..366
                PATH@360..366
                  Ident@360..365 "value"
                  Whitespace@365..366 " "
              Plus@366..367 "+"
              Whitespace@367..368 " "
              EXPR_IDENT@368..372
                PATH@368..372
                  Ident@368..372 "dead"
        Semi@372..373 ";"
        Whitespace@373..378 "\n    "
      STMT_LET@378..409
        LetKeyword@378..381 "let"
        Whitespace@381..382 " "
        PATTERN_VARIABLE@382..390
          Ident@382..389 "counter"
          Whitespace@389..390 " "
        Eq@390..391 "="
        Whitespace@391..392 " "
        EXPR_CALL@392..403
          EXPR_IDENT@392..400
            PATH@392..400
              Ident@392..395 "Ref"
              ColonColon@395..397 "::"
              Ident@397..400 "new"
          ARG_LIST@400..403
            LParen@400..401 "("
            ARG@401..402
              EXPR_INT@401..402
                Int@401..402 "0"
            RParen@402..403 ")"
        Semi@403..404 ";"
        Whitespace@404..409 "\n    "
      STMT_LET@409..443
        LetKeyword@409..412 "let"
        Whitespace@412..413 " "
        PATTERN_VARIABLE@413..421
          Ident@413..420 "ignored"
          Whitespace@420..421 " "
        Eq@421..422 "="
        Whitespace@422..423 " "
        EXPR_CALL@423..437
          EXPR_IDENT@423..428
            PATH@423..428
              Ident@423..428 "touch"
          ARG_LIST@428..437
            LParen@428..429 "("
            ARG@429..436
              EXPR_IDENT@429..436
                PATH@429..436
                  Ident@429..436 "counter"
            RParen@436..437 ")"
        Semi@437..438 ";"
        Whitespace@438..443 "\n    "
      STMT_LET@443..464
        LetKeyword@443..446 "let"
        Whitespace@446..447 " "
        PATTERN_VARIABLE@447..455
          Ident@447..454 "divisor"
          Whitespace@454..455 " "
        Eq@455..456 "="
        Whitespace@456..457 " "
        EXPR_INT@457..458
          Int@457..458 "2"
        Semi@458..459 ";"
        Whitespace@459..464 "\n    "
      STMT_LET@464..496
        LetKeyword@464..467 "let"
        Whitespace@467..468 " "
        PATTERN_VARIABLE@468..477
          Ident@468..476 "quotient"
          Whitespace@476..477 " "
        Eq@477..478 "="
        Whitespace@478..479 " "
        EXPR_BINARY@479..490
          EXPR_INT@479..481
            Int@479..480 "8"
            Whitespace@480..481 " "
          Slash@481..482 "/"
          Whitespace@482..483 " "
          EXPR_IDENT@483..490
            PATH@483..490
              Ident@483..490 "divisor"
        Semi@490..491 ";"
        Whitespace@491..496 "\n    "
      EXPR_CALL@496..519
        EXPR_IDENT@496..503
          PATH@496..503
            Ident@496..503 "println"
        ARG_LIST@503..519
          LParen@503..504 "("
          ARG@504..517
            EXPR_CALL@504..517
              EXPR_BINARY@504..515
                EXPR_IDENT@504..511
                  PATH@504..511
                    Ident@504..511 "counter"
                Dot@511..512 "."
                EXPR_IDENT@512..515
                  PATH@512..515
                    Ident@512..515 "get"
              ARG_LIST@515..517
                LParen@515..516 "("
                RParen@516..517 ")"
          RParen@517..518 ")"
          Whitespace@518..519 "\n"
      RBrace@519..520 "}"
      Whitespace@520..521 "\n"