FILE@0..527
  FN@0..110
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "touch"
    PARAM_LIST@8..30
      LParen@8..9 "("
      PARAM@9..28
        Ident@9..16 "counter"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_TAPP@18..28
          PATH@18..21
            Ident@18..21 "Ref"
          TYPE_PARAM_LIST@21..28
            LBracket@21..22 "["
            TYPE_INT@22..27
              IsizeKeyword@22..27 "isize"
            RBracket@27..28 "]"
      RParen@28..29 ")"
      Whitespace@29..30 " "
    Arrow@30..32 "->"
    Whitespace@32..33 " "
    TYPE_INT@33..39
      IsizeKeyword@33..38 "isize"
      Whitespace@38..39 " "
    BLOCK@39..110
      LBrace@39..40 "{"
      Whitespace@40..45 "\n    "
      STMT_LET@45..79
        LetKeyword@45..48 "let"
        Whitespace@48..49 " "
        PATTERN_VARIABLE@49..54
          Ident@49..53 "next"
          Whitespace@53..54 " "
        Eq@54..55 "="
        Whitespace@55..56 " "
        EXPR_BINARY@56..73
          EXPR_CALL@56..70
            EXPR_BINARY@56..67
              EXPR_IDENT@56..63
                PATH@56..63
                  Ident@56..63 "counter"
              Dot@63..64 "."
              EXPR_IDENT@64..67
                PATH@64..67
                  Ident@64..67 "get"
            ARG_LIST@67..70
              LParen@67..68 "("
              RParen@68..69 ")"
              Whitespace@69..70 " "
          Plus@70..71 "+"
          Whitespace@71..72 " "
          EXPR_INT@72..73
            Int@72..73 "1"
        Semi@73..74 ";"
        Whitespace@74..79 "\n    "
      STMT_EXPR@79..102
        EXPR_CALL@79..96
          EXPR_BINARY@79..90
            EXPR_IDENT@79..86
              PATH@79..86
                Ident@79..86 "counter"
            Dot@86..87 "."
            EXPR_IDENT@87..90
              PATH@87..90
                Ident@87..90 "set"
          ARG_LIST@90..96
            LParen@90..91 "("
            ARG@91..95
              EXPR_IDENT@91..95
                PATH@91..95
                  Ident@91..95 "next"
            RParen@95..96 ")"
        Semi@96..97 ";"
        Whitespace@97..102 "\n    "
      EXPR_IDENT@102..107
        PATH@102..107
          Ident@102..106 "next"
          Whitespace@106..107 "\n"
      RBrace@107..108 "}"
      Whitespace@108..110 "\n\n"
  FN@110..527
    FnKeyword@110..112 "fn"
    Whitespace@112..113 " "
    Ident@113..117 "main"
    PARAM_LIST@117..120
      LParen@117..118 "("
      RParen@118..119 ")"
      Whitespace@119..120 " "
    Arrow@120..122 "->"
    Whitespace@122..123 " "
    TYPE_UNIT@123..128
      UnitKeyword@123..127 "unit"
      Whitespace@127..128 " "
    BLOCK@128..527
      LBrace@128..129 "{"
      Whitespace@129..134 "\n    "
      STMT_LET@134..152
        LetKeyword@134..137 "let"
        Whitespace@137..138 " "
        PATTERN_VARIABLE@138..143
          Ident@138..142 "dead"
          Whitespace@142..143 " "
        Eq@143..144 "="
        Whitespace@144..145 " "
        EXPR_INT@145..146
          Int@145..146 "1"
        Semi@146..147 ";"
        Whitespace@147..152 "\n    "
      STMT_LET@152..183
        LetKeyword@152..155 "let"
        Whitespace@155..156 " "
        PATTERN_VARIABLE@156..166
          Ident@156..165 "dead_pair"
          Whitespace@165..166 " "
        Eq@166..167 "="
        Whitespace@167..168 " "
        EXPR_TUPLE@168..177
          LParen@168..169 "("
          EXPR_IDENT@169..173
            PATH@169..173
              Ident@169..173 "dead"
          Comma@173..174 ","
          Whitespace@174..175 " "
          EXPR_INT@175..176
            Int@175..176 "2"
          RParen@176..177 ")"
        Semi@177..178 ";"
        Whitespace@178..183 "\n    "
      STMT_LET@183..251
        LetKeyword@183..186 "let"
        Whitespace@186..187 " "
        PATTERN_VARIABLE@187..195
          Ident@187..194 "dead_if"
          Whitespace@194..195 " "
        Eq@195..196 "="
        Whitespace@196..197 " "
        EXPR_IF@197..245
          IfKeyword@197..199 "if"
          Whitespace@199..200 " "
          EXPR_IF_COND@200..205
            EXPR_BOOL@200..205
              TrueKeyword@200..204 "true"
              Whitespace@204..205 " "
          EXPR_IF_THEN@205..223
            BLOCK@205..223
              LBrace@205..206 "{"
              Whitespace@206..215 "\n        "
              EXPR_INT@215..221
                Int@215..216 "3"
                Whitespace@216..221 "\n    "
              RBrace@221..222 "}"
              Whitespace@222..223 " "
          ElseKeyword@223..227 "else"
          Whitespace@227..228 " "
          EXPR_IF_ELSE@228..245
            BLOCK@228..245
              LBrace@228..229 "{"
              Whitespace@229..238 "\n        "
              EXPR_INT@238..244
                Int@238..239 "4"
                Whitespace@239..244 "\n    "
              RBrace@244..245 "}"
        Semi@245..246 ";"
        Whitespace@246..251 "\n    "
      STMT_LET@251..332
        LetKeyword@251..254 "let"
        Whitespace@254..255 " "
        PATTERN_VARIABLE@255..266
          Ident@255..265 "dead_match"
          Whitespace@265..266 " "
        Eq@266..267 "="
        Whitespace@267..268 " "
        EXPR_MATCH@268..326
          MatchKeyword@268..273 "match"
          Whitespace@273..274 " "
          EXPR_BOOL@274..280
            FalseKeyword@274..279 "false"
            Whitespace@279..280 " "
          MATCH_ARM_LIST@280..326
            LBrace@280..281 "{"
            Whitespace@281..290 "\n        "
            MATCH_ARM@290..299
              PATTERN_BOOL@290..295
                TrueKeyword@290..294 "true"
                Whitespace@294..295 " "
              FatArrow@295..297 "=>"
              Whitespace@297..298 " "
              EXPR_INT@298..299
                Int@298..299 "5"
            Comma@299..300 ","
            Whitespace@300..309 "\n        "
            MATCH_ARM@309..319
              PATTERN_BOOL@309..315
                FalseKeyword@309..314 "false"
                Whitespace@314..315 " "
              FatArrow@315..317 "=>"
              Whitespace@317..318 " "
              EXPR_INT@318..319
                Int@318..319 "6"
            Comma@319..320 ","
            Whitespace@320..325 "\n    "
            RBrace@325..326 "}"
        Semi@326..327 ";"
        Whitespace@327..332 "\n    "
      STMT_LET@332..384
        LetKeyword@332..335 "let"
        Whitespace@335..336 " "
        PATTERN_VARIABLE@336..349
          Ident@336..348 "dead_closure"
          Whitespace@348..349 " "
        Eq@349..350 "="
        Whitespace@350..351 " "
        EXPR_CLOSURE@351..378
          CLOSURE_PARAM_LIST@351..366
            Pipe@351..352 "|"
            CLOSURE_PARAM@352..364
              Ident@352..357 "value"
              Colon@357..358 ":"
              Whitespace@358..359 " "
              TYPE_INT@359..364
                IsizeKeyword@359..364 "isize"
            Pipe@364..365 "|"
            Whitespace@365..366 " "
          EXPR_CLOSURE_BODY@366..378
            EXPR_BINARY@366..378
              EXPR_IDENT@366..372
                PATH@366..372
                  Ident@366..371 "value"
                  Whitespace@371..372 " "
              Plus@372..373 "+"
              Whitespace@373..374 " "
              EXPR_IDENT@374..378
                PATH@374..378
                  Ident@374..378 "dead"
        Semi@378..379 ";"
        Whitespace@379..384 "\n    "
      STMT_LET@384..415
        LetKeyword@384..387 "let"
        Whitespace@387..388 " "
        PATTERN_VARIABLE@388..396
          Ident@388..395 "counter"
          Whitespace@395..396 " "
        Eq@396..397 "="
        Whitespace@397..398 " "
        EXPR_CALL@398..409
          EXPR_IDENT@398..406
            PATH@398..406
              Ident@398..401 "Ref"
              ColonColon@401..403 "::"
              Ident@403..406 "new"
          ARG_LIST@406..409
            LParen@406..407 "("
            ARG@407..408
              EXPR_INT@407..408
                Int@407..408 "0"
            RParen@408..409 ")"
        Semi@409..410 ";"
        Whitespace@410..415 "\n    "
      STMT_LET@415..449
        LetKeyword@415..418 "let"
        Whitespace@418..419 " "
        PATTERN_VARIABLE@419..427
          Ident@419..426 "ignored"
          Whitespace@426..427 " "
        Eq@427..428 "="
        Whitespace@428..429 " "
        EXPR_CALL@429..443
          EXPR_IDENT@429..434
            PATH@429..434
              Ident@429..434 "touch"
          ARG_LIST@434..443
            LParen@434..435 "("
            ARG@435..442
              EXPR_IDENT@435..442
                PATH@435..442
                  Ident@435..442 "counter"
            RParen@442..443 ")"
        Semi@443..444 ";"
        Whitespace@444..449 "\n    "
      STMT_LET@449..470
        LetKeyword@449..452 "let"
        Whitespace@452..453 " "
        PATTERN_VARIABLE@453..461
          Ident@453..460 "divisor"
          Whitespace@460..461 " "
        Eq@461..462 "="
        Whitespace@462..463 " "
        EXPR_INT@463..464
          Int@463..464 "2"
        Semi@464..465 ";"
        Whitespace@465..470 "\n    "
      STMT_LET@470..502
        LetKeyword@470..473 "let"
        Whitespace@473..474 " "
        PATTERN_VARIABLE@474..483
          Ident@474..482 "quotient"
          Whitespace@482..483 " "
        Eq@483..484 "="
        Whitespace@484..485 " "
        EXPR_BINARY@485..496
          EXPR_INT@485..487
            Int@485..486 "8"
            Whitespace@486..487 " "
          Slash@487..488 "/"
          Whitespace@488..489 " "
          EXPR_IDENT@489..496
            PATH@489..496
              Ident@489..496 "divisor"
        Semi@496..497 ";"
        Whitespace@497..502 "\n    "
      EXPR_CALL@502..525
        EXPR_IDENT@502..509
          PATH@502..509
            Ident@502..509 "println"
        ARG_LIST@509..525
          LParen@509..510 "("
          ARG@510..523
            EXPR_CALL@510..523
              EXPR_BINARY@510..521
                EXPR_IDENT@510..517
                  PATH@510..517
                    Ident@510..517 "counter"
                Dot@517..518 "."
                EXPR_IDENT@518..521
                  PATH@518..521
                    Ident@518..521 "get"
              ARG_LIST@521..523
                LParen@521..522 "("
                RParen@522..523 ")"
          RParen@523..524 ")"
          Whitespace@524..525 "\n"
      RBrace@525..526 "}"
      Whitespace@526..527 "\n"