FILE@0..497
  FN@0..106
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "touch"
    PARAM_LIST@8..28
      LParen@8..9 "("
      PARAM@9..26
        Ident@9..16 "counter"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_TAPP@18..26
          PATH@18..21
            Ident@18..21 "Ref"
          TYPE_PARAM_LIST@21..26
            LBracket@21..22 "["
            TYPE_INT@22..25
              IntKeyword@22..25 "int"
            RBracket@25..26 "]"
      RParen@26..27 ")"
      Whitespace@27..28 " "
    Arrow@28..30 "->"
    Whitespace@30..31 " "
    TYPE_INT@31..35
      IntKeyword@31..34 "int"
      Whitespace@34..35 " "
    BLOCK@35..106
      LBrace@35..36 "{"
      Whitespace@36..41 "\n    "
      STMT_LET@41..75
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..50
          Ident@45..49 "next"
          Whitespace@49..50 " "
        Eq@50..51 "="
        Whitespace@51..52 " "
        EXPR_BINARY@52..69
          EXPR_CALL@52..66
            EXPR_BINARY@52..63
              EXPR_IDENT@52..59
                PATH@52..59
                  Ident@52..59 "counter"
              Dot@59..60 "."
              EXPR_IDENT@60..63
                PATH@60..63
                  Ident@60..63 "get"
            ARG_LIST@63..66
              LParen@63..64 "("
              RParen@64..65 ")"
              Whitespace@65..66 " "
          Plus@66..67 "+"
          Whitespace@67..68 " "
          EXPR_INT@68..69
            Int@68..69 "1"
        Semi@69..70 ";"
        Whitespace@70..75 "\n    "
      STMT_EXPR@75..98
        EXPR_CALL@75..92
          EXPR_BINARY@75..86
            EXPR_IDENT@75..82
              PATH@75..82
                Ident@75..82 "counter"
            Dot@82..83 "."
            EXPR_IDENT@83..86
              PATH@83..86
                Ident@83..86 "set"
          ARG_LIST@86..92
            LParen@86..87 "("
            ARG@87..91
              EXPR_IDENT@87..91
                PATH@87..91
                  Ident@87..91 "next"
            RParen@91..92 ")"
        Semi@92..93 ";"
        Whitespace@93..98 "\n    "
      EXPR_IDENT@98..103
        PATH@98..103
          Ident@98..102 "next"
          Whitespace@102..103 "\n"
      RBrace@103..104 "}"
      Whitespace@104..106 "\n\n"
  FN@106..497
    FnKeyword@106..108 "fn"
    Whitespace@108..109 " "
    Ident@109..113 "main"
    PARAM_LIST@113..116
      LParen@113..114 "("
      RParen@114..115 ")"
      Whitespace@115..116 " "
    Arrow@116..118 "->"
    Whitespace@118..119 " "
    TYPE_UNIT@119..124
      UnitKeyword@119..123 "unit"
      Whitespace@123..124 " "
    BLOCK@124..497
      LBrace@124..125 "{"
      Whitespace@125..130 "\n    "
      STMT_LET@130..148
        LetKeyword@130..133 "let"
        Whitespace@133..134 " "
        PATTERN_VARIABLE@134..139
          Ident@134..138 "dead"
          Whitespace@138..139 " "
        Eq@139..140 "="
        Whitespace@140..141 " "
        EXPR_INT@141..142
          Int@141..142 "1"
        Semi@142..143 ";"
        Whitespace@143..148 "\n    "
      STMT_LET@148..179
        LetKeyword@148..151 "let"
        Whitespace@151..152 " "
        PATTERN_VARIABLE@152..162
          Ident@152..161 "dead_pair"
          Whitespace@161..162 " "
        Eq@162..163 "="
        Whitespace@163..164 " "
        EXPR_TUPLE@164..173
          LParen@164..165 "("
          EXPR_IDENT@165..169
            PATH@165..169
              Ident@165..169 "dead"
          Comma@169..170 ","
          Whitespace@170..171 " "
          EXPR_INT@171..172
            Int@171..172 "2"
          RParen@172..173 ")"
        Semi@173..174 ";"
        Whitespace@174..179 "\n    "
      STMT_LET@179..223
        LetKeyword@179..182 "let"
        Whitespace@182..183 " "
        PATTERN_VARIABLE@183..191
          Ident@183..190 "dead_if"
          Whitespace@190..191 " "
        Eq@191..192 "="
        Whitespace@192..193 " "
        EXPR_IF@193..217
          IfKeyword@193..195 "if"
          Whitespace@195..196 " "
          EXPR_IF_COND@196..201
            EXPR_BOOL@196..201
              TrueKeyword@196..200 "true"
              Whitespace@200..201 " "
          EXPR_IF_THEN@201..207
            BLOCK@201..207
              LBrace@201..202 "{"
              Whitespace@202..203 " "
              EXPR_INT@203..205
                Int@203..204 "3"
                Whitespace@204..205 " "
              RBrace@205..206 "}"
              Whitespace@206..207 " "
          ElseKeyword@207..211 "else"
          Whitespace@211..212 " "
          EXPR_IF_ELSE@212..217
            BLOCK@212..217
              LBrace@212..213 "{"
              Whitespace@213..214 " "
              EXPR_INT@214..216
                Int@214..215 "4"
                Whitespace@215..216 " "
              RBrace@216..217 "}"
        Semi@217..218 ";"
        Whitespace@218..223 "\n    "
      STMT_LET@223..304
        LetKeyword@223..226 "let"
        Whitespace@226..227 " "
        PATTERN_VARIABLE@227..238
          Ident@227..237 "dead_match"
          Whitespace@237..238 " "
        Eq@238..239 "="
        Whitespace@239..240 " "
        EXPR_MATCH@240..298
          MatchKeyword@240..245 "match"
          Whitespace@245..246 " "
          EXPR_BOOL@246..252
            FalseKeyword@246..251 "false"
            Whitespace@251..252 " "
          MATCH_ARM_LIST@252..298
            LBrace@252..253 "{"
            Whitespace@253..262 "\n        "
            MATCH_ARM@262..271
              PATTERN_BOOL@262..267
                TrueKeyword@262..266 "true"
                Whitespace@266..267 " "
              FatArrow@267..269 "=>"
              Whitespace@269..270 " "
              EXPR_INT@270..271
                Int@270..271 "5"
            Comma@271..272 ","
            Whitespace@272..281 "\n        "
            MATCH_ARM@281..291
              PATTERN_BOOL@281..287
                FalseKeyword@281..286 "false"
                Whitespace@286..287 " "
              FatArrow@287..289 "=>"
              Whitespace@289..290 " "
              EXPR_INT@290..291
                Int@290..291 "6"
            Comma@291..292 ","
            Whitespace@292..297 "\n    "
            RBrace@297..298 "}"
        Semi@298..299 ";"
        Whitespace@299..304 "\n    "
      STMT_LET@304..354
        LetKeyword@304..307 "let"
        Whitespace@307..308 " "
        PATTERN_VARIABLE@308..321
          Ident@308..320 "dead_closure"
          Whitespace@320..321 " "
        Eq@321..322 "="
        Whitespace@322..323 " "
        EXPR_CLOSURE@323..348
          CLOSURE_PARAM_LIST@323..336
            Pipe@323..324 "|"
            CLOSURE_PARAM@324..334
              Ident@324..329 "value"
              Colon@329..330 ":"
              Whitespace@330..331 " "
              TYPE_INT@331..334
                IntKeyword@331..334 "int"
            Pipe@334..335 "|"
            Whitespace@335..336 " "
          EXPR_CLOSURE_BODY@336..348
            EXPR_BINARY@336..348
              EXPR_IDENT@336..342
                PATH@336..342
                  Ident@336..341 "value"
                  Whitespace@341..342 " "
              Plus@342..343 "+"
              Whitespace@343..344 " "
              EXPR_IDENT@344..348
                PATH@344..348
                  Ident@344..348 "dead"
        Semi@348..349 ";"
        Whitespace@349..354 "\n    "
      STMT_LET@354..385
        LetKeyword@354..357 "let"
        Whitespace@357..358 " "
        PATTERN_VARIABLE@358..366
          Ident@358..365 "counter"
          Whitespace@365..366 " "
        Eq@366..367 "="
        Whitespace@367..368 " "
        EXPR_CALL@368..379
          EXPR_IDENT@368..376
            PATH@368..376
              Ident@368..371 "Ref"
              ColonColon@371..373 "::"
              Ident@373..376 "new"
          ARG_LIST@376..379
            LParen@376..377 "("
            ARG@377..378
              EXPR_INT@377..378
                Int@377..378 "0"
            RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..385 "\n    "
      STMT_LET@385..419
        LetKeyword@385..388 "let"
        Whitespace@388..389 " "
        PATTERN_VARIABLE@389..397
          Ident@389..396 "ignored"
          Whitespace@396..397 " "
        Eq@397..398 "="
        Whitespace@398..399 " "
        EXPR_CALL@399..413
          EXPR_IDENT@399..404
            PATH@399..404
              Ident@399..404 "touch"
          ARG_LIST@404..413
            LParen@404..405 "("
            ARG@405..412
              EXPR_IDENT@405..412
                PATH@405..412
                  Ident@405..412 "counter"
            RParen@412..413 ")"
        Semi@413..414 ";"
        Whitespace@414..419 "\n    "
      STMT_LET@419..440
        LetKeyword@419..422 "let"
        Whitespace@422..423 " "
        PATTERN_VARIABLE@423..431
          Ident@423..430 "divisor"
          Whitespace@430..431 " "
        Eq@431..432 "="
        Whitespace@432..433 " "
        EXPR_INT@433..434
          Int@433..434 "2"
        Semi@434..435 ";"
        Whitespace@435..440 "\n    "
      STMT_LET@440..472
        LetKeyword@440..443 "let"
        Whitespace@443..444 " "
        PATTERN_VARIABLE@444..453
          Ident@444..452 "quotient"
          Whitespace@452..453 " "
        Eq@453..454 "="
        Whitespace@454..455 " "
        EXPR_BINARY@455..466
          EXPR_INT@455..457
            Int@455..456 "8"
            Whitespace@456..457 " "
          Slash@457..458 "/"
          Whitespace@458..459 " "
          EXPR_IDENT@459..466
            PATH@459..466
              Ident@459..466 "divisor"
        Semi@466..467 ";"
        Whitespace@467..472 "\n    "
      EXPR_CALL@472..495
        EXPR_IDENT@472..479
          PATH@472..479
            Ident@472..479 "println"
        ARG_LIST@479..495
          LParen@479..480 "("
          ARG@480..493
            EXPR_CALL@480..493
              EXPR_BINARY@480..491
                EXPR_IDENT@480..487
                  PATH@480..487
                    Ident@480..487 "counter"
                Dot@487..488 "."
                EXPR_IDENT@488..491
                  PATH@488..491
                    Ident@488..491 "get"
              ARG_LIST@491..493
                LParen@491..492 "("
                RParen@492..493 ")"
          RParen@493..494 ")"
          Whitespace@494..495 "\n"
      RBrace@495..496 "}"
      Whitespace@496..497 "\n"