FILE@0..152
  FN@0..152
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..152
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..38
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..21
          Ident@20..21 "x"
        Colon@21..22 ":"
        Whitespace@22..23 " "
        TYPE_UINT8@23..29
          Uint8Keyword@23..28 "uint8"
          Whitespace@28..29 " "
        Eq@29..30 "="
        Whitespace@30..31 " "
        EXPR_INT@31..32
          Int@31..32 "5"
        Semi@32..33 ";"
        Whitespace@33..38 "\n    "
      STMT_LET@38..138
        LetKeyword@38..41 "let"
        Whitespace@41..42 " "
        PATTERN_VARIABLE@42..43
          Ident@42..43 "y"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_STRING@45..52
          StringKeyword@45..51 "string"
          Whitespace@51..52 " "
        Eq@52..53 "="
        Whitespace@53..54 " "
        EXPR_MATCH@54..132
          MatchKeyword@54..59 "match"
          Whitespace@59..60 " "
          EXPR_IDENT@60..62
            PATH@60..62
              Ident@60..61 "x"
              Whitespace@61..62 " "
          MATCH_ARM_LIST@62..132
            LBrace@62..63 "{"
            Whitespace@63..72 "\n        "
            MATCH_ARM@72..83
              PATTERN_INT@72..74
                Int@72..73 "0"
                Whitespace@73..74 " "
              FatArrow@74..76 "=>"
              Whitespace@76..77 " "
              EXPR_STR@77..83
                Str@77..83 "\"zero\""
            Comma@83..84 ","
            Whitespace@84..93 "\n        "
            MATCH_ARM@93..103
              PATTERN_INT@93..95
                Int@93..94 "1"
                Whitespace@94..95 " "
              FatArrow@95..97 "=>"
              Whitespace@97..98 " "
              EXPR_STR@98..103
                Str@98..103 "\"one\""
            Comma@103..104 ","
            Whitespace@104..113 "\n        "
            MATCH_ARM@113..125
              PATTERN_WILDCARD@113..115
                WildcardKeyword@113..114 "_"
                Whitespace@114..115 " "
              FatArrow@115..117 "=>"
              Whitespace@117..118 " "
              EXPR_STR@118..125
                Str@118..125 "\"other\""
            Comma@125..126 ","
            Whitespace@126..131 "\n    "
            RBrace@131..132 "}"
        Semi@132..133 ";"
        Whitespace@133..138 "\n    "
      STMT_EXPR@138..150
        EXPR_CALL@138..148
          EXPR_IDENT@138..145
            PATH@138..145
              Ident@138..145 "println"
          ARG_LIST@145..148
            LParen@145..146 "("
            ARG@146..147
              EXPR_IDENT@146..147
                PATH@146..147
                  Ident@146..147 "y"
            RParen@147..148 ")"
        Semi@148..149 ";"
        Whitespace@149..150 "\n"
      RBrace@150..151 "}"
      Whitespace@151..152 "\n"