FILE@0..510
  TRAIT@0..39
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..18 "IteratorLike"
    Whitespace@18..19 " "
    LBrace@19..20 "{"
    Whitespace@20..25 "\n    "
    TRAIT_METHOD_SIG_LIST@25..39
      TRAIT_ASSOCIATED_TYPE@25..36
        TypeKeyword@25..29 "type"
        Whitespace@29..30 " "
        Ident@30..34 "Item"
        Semi@34..35 ";"
        Whitespace@35..36 "\n"
      RBrace@36..37 "}"
      Whitespace@37..39 "\n\n"
  TRAIT@39..147
    TraitKeyword@39..44 "trait"
    Whitespace@44..45 " "
    Ident@45..53 "IntoLike"
    Whitespace@53..54 " "
    WHERE_CLAUSE@54..94
      WhereKeyword@54..59 "where"
      Whitespace@59..60 " "
      WHERE_PREDICATE@60..94
        TYPE_TAPP@60..71
          PATH@60..71
            Ident@60..64 "Self"
            ColonColon@64..66 "::"
            Ident@66..70 "Item"
            Whitespace@70..71 " "
        Eq@71..72 "="
        Whitespace@72..73 " "
        TYPE_TAPP@73..94
          PATH@73..94
            Ident@73..77 "Self"
            ColonColon@77..79 "::"
            Ident@79..87 "IntoIter"
            ColonColon@87..89 "::"
            Ident@89..93 "Item"
            Whitespace@93..94 " "
    LBrace@94..95 "{"
    Whitespace@95..100 "\n    "
    TRAIT_METHOD_SIG_LIST@100..147
      TRAIT_ASSOCIATED_TYPE@100..115
        TypeKeyword@100..104 "type"
        Whitespace@104..105 " "
        Ident@105..109 "Item"
        Semi@109..110 ";"
        Whitespace@110..115 "\n    "
      TRAIT_ASSOCIATED_TYPE@115..144
        TypeKeyword@115..119 "type"
        Whitespace@119..120 " "
        Ident@120..128 "IntoIter"
        Colon@128..129 ":"
        Whitespace@129..130 " "
        TRAIT_SET@130..142
          TYPE_TAPP@130..142
            PATH@130..142
              Ident@130..142 "IteratorLike"
        Semi@142..143 ";"
        Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..147 "\n\n"
  STRUCT@147..173
    StructKeyword@147..153 "struct"
    Whitespace@153..154 " "
    Ident@154..168 "NumberIterator"
    Whitespace@168..169 " "
    LBrace@169..170 "{"
    STRUCT_FIELD_LIST@170..173
      RBrace@170..171 "}"
      Whitespace@171..173 "\n\n"
  IMPL@173..236
    ImplKeyword@173..177 "impl"
    Whitespace@177..178 " "
    TYPE_TAPP@178..191
      PATH@178..191
        Ident@178..190 "IteratorLike"
        Whitespace@190..191 " "
    ForKeyword@191..194 "for"
    Whitespace@194..195 " "
    TYPE_TAPP@195..210
      PATH@195..210
        Ident@195..209 "NumberIterator"
        Whitespace@209..210 " "
    LBrace@210..211 "{"
    Whitespace@211..216 "\n    "
    IMPL_ASSOCIATED_TYPE@216..233
      TypeKeyword@216..220 "type"
      Whitespace@220..221 " "
      Ident@221..225 "Item"
      Whitespace@225..226 " "
      Eq@226..227 "="
      Whitespace@227..228 " "
      TYPE_INT32@228..231
        I32Keyword@228..231 "i32"
      Semi@231..232 ";"
      Whitespace@232..233 "\n"
    RBrace@233..234 "}"
    Whitespace@234..236 "\n\n"
  STRUCT@236..255
    StructKeyword@236..242 "struct"
    Whitespace@242..243 " "
    Ident@243..250 "Numbers"
    Whitespace@250..251 " "
    LBrace@251..252 "{"
    STRUCT_FIELD_LIST@252..255
      RBrace@252..253 "}"
      Whitespace@253..255 "\n\n"
  IMPL@255..344
    ImplKeyword@255..259 "impl"
    Whitespace@259..260 " "
    TYPE_TAPP@260..269
      PATH@260..269
        Ident@260..268 "IntoLike"
        Whitespace@268..269 " "
    ForKeyword@269..272 "for"
    Whitespace@272..273 " "
    TYPE_TAPP@273..281
      PATH@273..281
        Ident@273..280 "Numbers"
        Whitespace@280..281 " "
    LBrace@281..282 "{"
    Whitespace@282..287 "\n    "
    IMPL_ASSOCIATED_TYPE@287..309
      TypeKeyword@287..291 "type"
      Whitespace@291..292 " "
      Ident@292..296 "Item"
      Whitespace@296..297 " "
      Eq@297..298 "="
      Whitespace@298..299 " "
      TYPE_INT32@299..302
        I32Keyword@299..302 "i32"
      Semi@302..303 ";"
      Whitespace@303..309 "\n\n    "
    IMPL_ASSOCIATED_TYPE@309..341
      TypeKeyword@309..313 "type"
      Whitespace@313..314 " "
      Ident@314..322 "IntoIter"
      Whitespace@322..323 " "
      Eq@323..324 "="
      Whitespace@324..325 " "
      TYPE_TAPP@325..339
        PATH@325..339
          Ident@325..339 "NumberIterator"
      Semi@339..340 ";"
      Whitespace@340..341 "\n"
    RBrace@341..342 "}"
    Whitespace@342..344 "\n\n"
  FN@344..450
    FnKeyword@344..346 "fn"
    Whitespace@346..347 " "
    Ident@347..355 "preserve"
    GENERIC_LIST@355..368
      LBracket@355..356 "["
      GENERIC@356..367
        Ident@356..357 "T"
        Colon@357..358 ":"
        Whitespace@358..359 " "
        TRAIT_SET@359..367
          TYPE_TAPP@359..367
            PATH@359..367
              Ident@359..367 "IntoLike"
      RBracket@367..368 "]"
    PARAM_LIST@368..395
      LParen@368..369 "("
      PARAM@369..379
        Ident@369..374 "owner"
        Colon@374..375 ":"
        Whitespace@375..376 " "
        TYPE_TAPP@376..377
          PATH@376..377
            Ident@376..377 "T"
        Comma@377..378 ","
        Whitespace@378..379 " "
      PARAM@379..393
        Ident@379..384 "value"
        Colon@384..385 ":"
        Whitespace@385..386 " "
        TYPE_TAPP@386..393
          PATH@386..393
            Ident@386..387 "T"
            ColonColon@387..389 "::"
            Ident@389..393 "Item"
      RParen@393..394 ")"
      Whitespace@394..395 " "
    Arrow@395..397 "->"
    Whitespace@397..398 " "
    TYPE_TAPP@398..416
      PATH@398..416
        Ident@398..399 "T"
        ColonColon@399..401 "::"
        Ident@401..409 "IntoIter"
        ColonColon@409..411 "::"
        Ident@411..415 "Item"
        Whitespace@415..416 " "
    BLOCK@416..450
      LBrace@416..417 "{"
      Whitespace@417..422 "\n    "
      STMT_LET@422..441
        LetKeyword@422..425 "let"
        Whitespace@425..426 " "
        PATTERN_WILDCARD@426..428
          WildcardKeyword@426..427 "_"
          Whitespace@427..428 " "
        Eq@428..429 "="
        Whitespace@429..430 " "
        EXPR_IDENT@430..435
          PATH@430..435
            Ident@430..435 "owner"
        Semi@435..436 ";"
        Whitespace@436..441 "\n    "
      EXPR_IDENT@441..447
        PATH@441..447
          Ident@441..446 "value"
          Whitespace@446..447 "\n"
      RBrace@447..448 "}"
      Whitespace@448..450 "\n\n"
  FN@450..510
    FnKeyword@450..452 "fn"
    Whitespace@452..453 " "
    Ident@453..457 "main"
    PARAM_LIST@457..460
      LParen@457..458 "("
      RParen@458..459 ")"
      Whitespace@459..460 " "
    Arrow@460..462 "->"
    Whitespace@462..463 " "
    TYPE_UNIT@463..468
      UnitKeyword@463..467 "unit"
      Whitespace@467..468 " "
    BLOCK@468..510
      LBrace@468..469 "{"
      Whitespace@469..474 "\n    "
      EXPR_CALL@474..508
        EXPR_IDENT@474..481
          PATH@474..481
            Ident@474..481 "println"
        ARG_LIST@481..508
          LParen@481..482 "("
          ARG@482..506
            EXPR_CALL@482..506
              EXPR_IDENT@482..490
                PATH@482..490
                  Ident@482..490 "preserve"
              ARG_LIST@490..506
                LParen@490..491 "("
                ARG@491..503
                  EXPR_STRUCT_LITERAL@491..501
                    PATH@491..499
                      Ident@491..498 "Numbers"
                      Whitespace@498..499 " "
                    STRUCT_LITERAL_FIELD_LIST@499..501
                      LBrace@499..500 "{"
                      RBrace@500..501 "}"
                  Comma@501..502 ","
                  Whitespace@502..503 " "
                ARG@503..505
                  EXPR_INT@503..505
                    Int@503..505 "42"
                RParen@505..506 ")"
          RParen@506..507 ")"
          Whitespace@507..508 "\n"
      RBrace@508..509 "}"
      Whitespace@509..510 "\n"