FILE@0..514
  TRAIT@0..39
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..18 "IteratorLike"
    Whitespace@18..19 " "
    LBrace@19..20 "{"
    Whitespace@20..25 "\n    "
    TRAIT_METHOD_SIG_LIST@25..39
      TRAIT_ASSOCIATED_TYPE@25..36
        TypeKeyword@25..29 "type"
        Whitespace@29..30 " "
        Ident@30..34 "Item"
        Semi@34..35 ";"
        Whitespace@35..36 "\n"
      RBrace@36..37 "}"
      Whitespace@37..39 "\n\n"
  TRAIT@39..147
    TraitKeyword@39..44 "trait"
    Whitespace@44..45 " "
    Ident@45..53 "IntoLike"
    Whitespace@53..54 " "
    WHERE_CLAUSE@54..94
      WhereKeyword@54..59 "where"
      Whitespace@59..60 " "
      WHERE_PREDICATE@60..94
        TYPE_TAPP@60..71
          PATH@60..71
            Ident@60..64 "Self"
            ColonColon@64..66 "::"
            Ident@66..70 "Item"
            Whitespace@70..71 " "
        Eq@71..72 "="
        Whitespace@72..73 " "
        TYPE_TAPP@73..94
          PATH@73..94
            Ident@73..77 "Self"
            ColonColon@77..79 "::"
            Ident@79..87 "IntoIter"
            ColonColon@87..89 "::"
            Ident@89..93 "Item"
            Whitespace@93..94 " "
    LBrace@94..95 "{"
    Whitespace@95..100 "\n    "
    TRAIT_METHOD_SIG_LIST@100..147
      TRAIT_ASSOCIATED_TYPE@100..115
        TypeKeyword@100..104 "type"
        Whitespace@104..105 " "
        Ident@105..109 "Item"
        Semi@109..110 ";"
        Whitespace@110..115 "\n    "
      TRAIT_ASSOCIATED_TYPE@115..144
        TypeKeyword@115..119 "type"
        Whitespace@119..120 " "
        Ident@120..128 "IntoIter"
        Colon@128..129 ":"
        Whitespace@129..130 " "
        TRAIT_SET@130..142
          TYPE_TAPP@130..142
            PATH@130..142
              Ident@130..142 "IteratorLike"
        Semi@142..143 ";"
        Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..147 "\n\n"
  STRUCT@147..173
    StructKeyword@147..153 "struct"
    Whitespace@153..154 " "
    Ident@154..168 "NumberIterator"
    Whitespace@168..169 " "
    LBrace@169..170 "{"
    STRUCT_FIELD_LIST@170..173
      RBrace@170..171 "}"
      Whitespace@171..173 "\n\n"
  IMPL@173..238
    ImplKeyword@173..177 "impl"
    Whitespace@177..178 " "
    TYPE_TAPP@178..191
      PATH@178..191
        Ident@178..190 "IteratorLike"
        Whitespace@190..191 " "
    ForKeyword@191..194 "for"
    Whitespace@194..195 " "
    TYPE_TAPP@195..210
      PATH@195..210
        Ident@195..209 "NumberIterator"
        Whitespace@209..210 " "
    LBrace@210..211 "{"
    Whitespace@211..216 "\n    "
    IMPL_ASSOCIATED_TYPE@216..235
      TypeKeyword@216..220 "type"
      Whitespace@220..221 " "
      Ident@221..225 "Item"
      Whitespace@225..226 " "
      Eq@226..227 "="
      Whitespace@227..228 " "
      TYPE_INT32@228..233
        Int32Keyword@228..233 "int32"
      Semi@233..234 ";"
      Whitespace@234..235 "\n"
    RBrace@235..236 "}"
    Whitespace@236..238 "\n\n"
  STRUCT@238..257
    StructKeyword@238..244 "struct"
    Whitespace@244..245 " "
    Ident@245..252 "Numbers"
    Whitespace@252..253 " "
    LBrace@253..254 "{"
    STRUCT_FIELD_LIST@254..257
      RBrace@254..255 "}"
      Whitespace@255..257 "\n\n"
  IMPL@257..348
    ImplKeyword@257..261 "impl"
    Whitespace@261..262 " "
    TYPE_TAPP@262..271
      PATH@262..271
        Ident@262..270 "IntoLike"
        Whitespace@270..271 " "
    ForKeyword@271..274 "for"
    Whitespace@274..275 " "
    TYPE_TAPP@275..283
      PATH@275..283
        Ident@275..282 "Numbers"
        Whitespace@282..283 " "
    LBrace@283..284 "{"
    Whitespace@284..289 "\n    "
    IMPL_ASSOCIATED_TYPE@289..313
      TypeKeyword@289..293 "type"
      Whitespace@293..294 " "
      Ident@294..298 "Item"
      Whitespace@298..299 " "
      Eq@299..300 "="
      Whitespace@300..301 " "
      TYPE_INT32@301..306
        Int32Keyword@301..306 "int32"
      Semi@306..307 ";"
      Whitespace@307..313 "\n\n    "
    IMPL_ASSOCIATED_TYPE@313..345
      TypeKeyword@313..317 "type"
      Whitespace@317..318 " "
      Ident@318..326 "IntoIter"
      Whitespace@326..327 " "
      Eq@327..328 "="
      Whitespace@328..329 " "
      TYPE_TAPP@329..343
        PATH@329..343
          Ident@329..343 "NumberIterator"
      Semi@343..344 ";"
      Whitespace@344..345 "\n"
    RBrace@345..346 "}"
    Whitespace@346..348 "\n\n"
  FN@348..454
    FnKeyword@348..350 "fn"
    Whitespace@350..351 " "
    Ident@351..359 "preserve"
    GENERIC_LIST@359..372
      LBracket@359..360 "["
      GENERIC@360..371
        Ident@360..361 "T"
        Colon@361..362 ":"
        Whitespace@362..363 " "
        TRAIT_SET@363..371
          TYPE_TAPP@363..371
            PATH@363..371
              Ident@363..371 "IntoLike"
      RBracket@371..372 "]"
    PARAM_LIST@372..399
      LParen@372..373 "("
      PARAM@373..383
        Ident@373..378 "owner"
        Colon@378..379 ":"
        Whitespace@379..380 " "
        TYPE_TAPP@380..381
          PATH@380..381
            Ident@380..381 "T"
        Comma@381..382 ","
        Whitespace@382..383 " "
      PARAM@383..397
        Ident@383..388 "value"
        Colon@388..389 ":"
        Whitespace@389..390 " "
        TYPE_TAPP@390..397
          PATH@390..397
            Ident@390..391 "T"
            ColonColon@391..393 "::"
            Ident@393..397 "Item"
      RParen@397..398 ")"
      Whitespace@398..399 " "
    Arrow@399..401 "->"
    Whitespace@401..402 " "
    TYPE_TAPP@402..420
      PATH@402..420
        Ident@402..403 "T"
        ColonColon@403..405 "::"
        Ident@405..413 "IntoIter"
        ColonColon@413..415 "::"
        Ident@415..419 "Item"
        Whitespace@419..420 " "
    BLOCK@420..454
      LBrace@420..421 "{"
      Whitespace@421..426 "\n    "
      STMT_LET@426..445
        LetKeyword@426..429 "let"
        Whitespace@429..430 " "
        PATTERN_WILDCARD@430..432
          WildcardKeyword@430..431 "_"
          Whitespace@431..432 " "
        Eq@432..433 "="
        Whitespace@433..434 " "
        EXPR_IDENT@434..439
          PATH@434..439
            Ident@434..439 "owner"
        Semi@439..440 ";"
        Whitespace@440..445 "\n    "
      EXPR_IDENT@445..451
        PATH@445..451
          Ident@445..450 "value"
          Whitespace@450..451 "\n"
      RBrace@451..452 "}"
      Whitespace@452..454 "\n\n"
  FN@454..514
    FnKeyword@454..456 "fn"
    Whitespace@456..457 " "
    Ident@457..461 "main"
    PARAM_LIST@461..464
      LParen@461..462 "("
      RParen@462..463 ")"
      Whitespace@463..464 " "
    Arrow@464..466 "->"
    Whitespace@466..467 " "
    TYPE_UNIT@467..472
      UnitKeyword@467..471 "unit"
      Whitespace@471..472 " "
    BLOCK@472..514
      LBrace@472..473 "{"
      Whitespace@473..478 "\n    "
      EXPR_CALL@478..512
        EXPR_IDENT@478..485
          PATH@478..485
            Ident@478..485 "println"
        ARG_LIST@485..512
          LParen@485..486 "("
          ARG@486..510
            EXPR_CALL@486..510
              EXPR_IDENT@486..494
                PATH@486..494
                  Ident@486..494 "preserve"
              ARG_LIST@494..510
                LParen@494..495 "("
                ARG@495..507
                  EXPR_STRUCT_LITERAL@495..505
                    PATH@495..503
                      Ident@495..502 "Numbers"
                      Whitespace@502..503 " "
                    STRUCT_LITERAL_FIELD_LIST@503..505
                      LBrace@503..504 "{"
                      RBrace@504..505 "}"
                  Comma@505..506 ","
                  Whitespace@506..507 " "
                ARG@507..509
                  EXPR_INT@507..509
                    Int@507..509 "42"
                RParen@509..510 ")"
          RParen@510..511 ")"
          Whitespace@511..512 "\n"
      RBrace@512..513 "}"
      Whitespace@513..514 "\n"