FILE@0..873
  ENUM@0..35
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..9 "Mode"
    Whitespace@9..10 " "
    LBrace@10..11 "{"
    Whitespace@11..16 "\n    "
    VARIANT_LIST@16..35
      VARIANT@16..20
        Ident@16..20 "Take"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..30
        Ident@26..30 "Skip"
      Comma@30..31 ","
      Whitespace@31..32 "\n"
      RBrace@32..33 "}"
      Whitespace@33..35 "\n\n"
  FN@35..158
    FnKeyword@35..37 "fn"
    Whitespace@37..38 " "
    Ident@38..47 "maybe_num"
    PARAM_LIST@47..60
      LParen@47..48 "("
      PARAM@48..58
        Ident@48..52 "flag"
        Colon@52..53 ":"
        Whitespace@53..54 " "
        TYPE_BOOL@54..58
          BoolKeyword@54..58 "bool"
      RParen@58..59 ")"
      Whitespace@59..60 " "
    Arrow@60..62 "->"
    Whitespace@62..63 " "
    TYPE_TAPP@63..75
      PATH@63..69
        Ident@63..69 "Option"
      TYPE_PARAM_LIST@69..75
        LBracket@69..70 "["
        TYPE_INT32@70..73
          I32Keyword@70..73 "i32"
        RBracket@73..74 "]"
        Whitespace@74..75 " "
    BLOCK@75..158
      LBrace@75..76 "{"
      Whitespace@76..81 "\n    "
      EXPR_IF@81..155
        IfKeyword@81..83 "if"
        Whitespace@83..84 " "
        EXPR_IF_COND@84..89
          EXPR_IDENT@84..89
            PATH@84..89
              Ident@84..88 "flag"
              Whitespace@88..89 " "
        EXPR_IF_THEN@89..121
          BLOCK@89..121
            LBrace@89..90 "{"
            Whitespace@90..99 "\n        "
            EXPR_CALL@99..119
              EXPR_IDENT@99..111
                PATH@99..111
                  Ident@99..105 "Option"
                  ColonColon@105..107 "::"
                  Ident@107..111 "Some"
              ARG_LIST@111..119
                LParen@111..112 "("
                ARG@112..113
                  EXPR_INT@112..113
                    Int@112..113 "8"
                RParen@113..114 ")"
                Whitespace@114..119 "\n    "
            RBrace@119..120 "}"
            Whitespace@120..121 " "
        ElseKeyword@121..125 "else"
        Whitespace@125..126 " "
        EXPR_IF_ELSE@126..155
          BLOCK@126..155
            LBrace@126..127 "{"
            Whitespace@127..136 "\n        "
            EXPR_IDENT@136..153
              PATH@136..153
                Ident@136..142 "Option"
                ColonColon@142..144 "::"
                Ident@144..148 "None"
                Whitespace@148..153 "\n    "
            RBrace@153..154 "}"
            Whitespace@154..155 "\n"
      RBrace@155..156 "}"
      Whitespace@156..158 "\n\n"
  FN@158..542
    FnKeyword@158..160 "fn"
    Whitespace@160..161 " "
    Ident@161..167 "nested"
    PARAM_LIST@167..209
      LParen@167..168 "("
      PARAM@168..179
        Ident@168..171 "top"
        Colon@171..172 ":"
        Whitespace@172..173 " "
        TYPE_BOOL@173..177
          BoolKeyword@173..177 "bool"
        Comma@177..178 ","
        Whitespace@178..179 " "
      PARAM@179..191
        Ident@179..183 "mode"
        Colon@183..184 ":"
        Whitespace@184..185 " "
        TYPE_TAPP@185..189
          PATH@185..189
            Ident@185..189 "Mode"
        Comma@189..190 ","
        Whitespace@190..191 " "
      PARAM@191..207
        Ident@191..201 "inner_flag"
        Colon@201..202 ":"
        Whitespace@202..203 " "
        TYPE_BOOL@203..207
          BoolKeyword@203..207 "bool"
      RParen@207..208 ")"
      Whitespace@208..209 " "
    Arrow@209..211 "->"
    Whitespace@211..212 " "
    TYPE_TAPP@212..224
      PATH@212..218
        Ident@212..218 "Option"
      TYPE_PARAM_LIST@218..224
        LBracket@218..219 "["
        TYPE_INT32@219..222
          I32Keyword@219..222 "i32"
        RBracket@222..223 "]"
        Whitespace@223..224 " "
    BLOCK@224..542
      LBrace@224..225 "{"
      Whitespace@225..230 "\n    "
      STMT_LET@230..519
        LetKeyword@230..233 "let"
        Whitespace@233..234 " "
        PATTERN_VARIABLE@234..240
          Ident@234..239 "value"
          Whitespace@239..240 " "
        Eq@240..241 "="
        Whitespace@241..242 " "
        EXPR_IF@242..513
          IfKeyword@242..244 "if"
          Whitespace@244..245 " "
          EXPR_IF_COND@245..249
            EXPR_IDENT@245..249
              PATH@245..249
                Ident@245..248 "top"
                Whitespace@248..249 " "
          EXPR_IF_THEN@249..439
            BLOCK@249..439
              LBrace@249..250 "{"
              Whitespace@250..259 "\n        "
              EXPR_MATCH@259..437
                MatchKeyword@259..264 "match"
                Whitespace@264..265 " "
                EXPR_IDENT@265..270
                  PATH@265..270
                    Ident@265..269 "mode"
                    Whitespace@269..270 " "
                MATCH_ARM_LIST@270..437
                  LBrace@270..271 "{"
                  Whitespace@271..284 "\n            "
                  MATCH_ARM@284..391
                    PATTERN_CONSTR@284..295
                      PATH@284..295
                        Ident@284..288 "Mode"
                        ColonColon@288..290 "::"
                        Ident@290..294 "Take"
                        Whitespace@294..295 " "
                    FatArrow@295..297 "=>"
                    Whitespace@297..298 " "
                    BLOCK@298..391
                      LBrace@298..299 "{"
                      Whitespace@299..316 "\n                "
                      STMT_LET@316..368
                        LetKeyword@316..319 "let"
                        Whitespace@319..320 " "
                        PATTERN_VARIABLE@320..326
                          Ident@320..325 "inner"
                          Whitespace@325..326 " "
                        Eq@326..327 "="
                        Whitespace@327..328 " "
                        EXPR_TRY@328..350
                          EXPR_CALL@328..349
                            EXPR_IDENT@328..337
                              PATH@328..337
                                Ident@328..337 "maybe_num"
                            ARG_LIST@337..349
                              LParen@337..338 "("
                              ARG@338..348
                                EXPR_IDENT@338..348
                                  PATH@338..348
                                    Ident@338..348 "inner_flag"
                              RParen@348..349 ")"
                          Question@349..350 "?"
                        Semi@350..351 ";"
                        Whitespace@351..368 "\n                "
                      EXPR_BINARY@368..390
                        EXPR_IDENT@368..374
                          PATH@368..374
                            Ident@368..373 "inner"
                            Whitespace@373..374 " "
                        Plus@374..375 "+"
                        Whitespace@375..376 " "
                        EXPR_INT@376..390
                          Int@376..377 "1"
                          Whitespace@377..390 "\n            "
                      RBrace@390..391 "}"
                  Comma@391..392 ","
                  Whitespace@392..405 "\n            "
                  MATCH_ARM@405..421
                    PATTERN_CONSTR@405..416
                      PATH@405..416
                        Ident@405..409 "Mode"
                        ColonColon@409..411 "::"
                        Ident@411..415 "Skip"
                        Whitespace@415..416 " "
                    FatArrow@416..418 "=>"
                    Whitespace@418..419 " "
                    EXPR_INT@419..421
                      Int@419..421 "20"
                  Comma@421..422 ","
                  Whitespace@422..431 "\n        "
                  RBrace@431..432 "}"
                  Whitespace@432..437 "\n    "
              RBrace@437..438 "}"
              Whitespace@438..439 " "
          ElseKeyword@439..443 "else"
          Whitespace@443..444 " "
          EXPR_IF_ELSE@444..513
            BLOCK@444..513
              LBrace@444..445 "{"
              Whitespace@445..454 "\n        "
              STMT_LET@454..498
                LetKeyword@454..457 "let"
                Whitespace@457..458 " "
                PATTERN_VARIABLE@458..464
                  Ident@458..463 "inner"
                  Whitespace@463..464 " "
                Eq@464..465 "="
                Whitespace@465..466 " "
                EXPR_TRY@466..488
                  EXPR_CALL@466..487
                    EXPR_IDENT@466..475
                      PATH@466..475
                        Ident@466..475 "maybe_num"
                    ARG_LIST@475..487
                      LParen@475..476 "("
                      ARG@476..486
                        EXPR_IDENT@476..486
                          PATH@476..486
                            Ident@476..486 "inner_flag"
                      RParen@486..487 ")"
                  Question@487..488 "?"
                Semi@488..489 ";"
                Whitespace@489..498 "\n        "
              EXPR_BINARY@498..512
                EXPR_IDENT@498..504
                  PATH@498..504
                    Ident@498..503 "inner"
                    Whitespace@503..504 " "
                Plus@504..505 "+"
                Whitespace@505..506 " "
                EXPR_INT@506..512
                  Int@506..507 "2"
                  Whitespace@507..512 "\n    "
              RBrace@512..513 "}"
        Semi@513..514 ";"
        Whitespace@514..519 "\n    "
      EXPR_CALL@519..539
        EXPR_IDENT@519..531
          PATH@519..531
            Ident@519..525 "Option"
            ColonColon@525..527 "::"
            Ident@527..531 "Some"
        ARG_LIST@531..539
          LParen@531..532 "("
          ARG@532..537
            EXPR_IDENT@532..537
              PATH@532..537
                Ident@532..537 "value"
          RParen@537..538 ")"
          Whitespace@538..539 "\n"
      RBrace@539..540 "}"
      Whitespace@540..542 "\n\n"
  FN@542..697
    FnKeyword@542..544 "fn"
    Whitespace@544..545 " "
    Ident@545..549 "show"
    PARAM_LIST@549..568
      LParen@549..550 "("
      PARAM@550..566
        Ident@550..553 "opt"
        Colon@553..554 ":"
        Whitespace@554..555 " "
        TYPE_TAPP@555..566
          PATH@555..561
            Ident@555..561 "Option"
          TYPE_PARAM_LIST@561..566
            LBracket@561..562 "["
            TYPE_INT32@562..565
              I32Keyword@562..565 "i32"
            RBracket@565..566 "]"
      RParen@566..567 ")"
      Whitespace@567..568 " "
    Arrow@568..570 "->"
    Whitespace@570..571 " "
    TYPE_STRING@571..578
      StringKeyword@571..577 "string"
      Whitespace@577..578 " "
    BLOCK@578..697
      LBrace@578..579 "{"
      Whitespace@579..584 "\n    "
      EXPR_MATCH@584..694
        MatchKeyword@584..589 "match"
        Whitespace@589..590 " "
        EXPR_IDENT@590..594
          PATH@590..594
            Ident@590..593 "opt"
            Whitespace@593..594 " "
        MATCH_ARM_LIST@594..694
          LBrace@594..595 "{"
          Whitespace@595..604 "\n        "
          MATCH_ARM@604..654
            PATTERN_CONSTR@604..624
              PATH@604..616
                Ident@604..610 "Option"
                ColonColon@610..612 "::"
                Ident@612..616 "Some"
              LParen@616..617 "("
              PATTERN_VARIABLE@617..622
                Ident@617..622 "value"
              RParen@622..623 ")"
              Whitespace@623..624 " "
            FatArrow@624..626 "=>"
            Whitespace@626..627 " "
            EXPR_BINARY@627..654
              EXPR_STR@627..635
                Str@627..634 "\"some=\""
                Whitespace@634..635 " "
              Plus@635..636 "+"
              Whitespace@636..637 " "
              EXPR_CALL@637..654
                EXPR_BINARY@637..652
                  EXPR_IDENT@637..642
                    PATH@637..642
                      Ident@637..642 "value"
                  Dot@642..643 "."
                  EXPR_IDENT@643..652
                    PATH@643..652
                      Ident@643..652 "to_string"
                ARG_LIST@652..654
                  LParen@652..653 "("
                  RParen@653..654 ")"
          Comma@654..655 ","
          Whitespace@655..664 "\n        "
          MATCH_ARM@664..686
            PATTERN_CONSTR@664..677
              PATH@664..677
                Ident@664..670 "Option"
                ColonColon@670..672 "::"
                Ident@672..676 "None"
                Whitespace@676..677 " "
            FatArrow@677..679 "=>"
            Whitespace@679..680 " "
            EXPR_STR@680..686
              Str@680..686 "\"none\""
          Comma@686..687 ","
          Whitespace@687..692 "\n    "
          RBrace@692..693 "}"
          Whitespace@693..694 "\n"
      RBrace@694..695 "}"
      Whitespace@695..697 "\n\n"
  FN@697..873
    FnKeyword@697..699 "fn"
    Whitespace@699..700 " "
    Ident@700..704 "main"
    PARAM_LIST@704..707
      LParen@704..705 "("
      RParen@705..706 ")"
      Whitespace@706..707 " "
    Arrow@707..709 "->"
    Whitespace@709..710 " "
    TYPE_TUPLE@710..713
      TYPE_LIST@710..713
        LParen@710..711 "("
        RParen@711..712 ")"
        Whitespace@712..713 " "
    BLOCK@713..873
      LBrace@713..714 "{"
      Whitespace@714..719 "\n    "
      STMT_EXPR@719..770
        EXPR_CALL@719..764
          EXPR_IDENT@719..726
            PATH@719..726
              Ident@719..726 "println"
          ARG_LIST@726..764
            LParen@726..727 "("
            ARG@727..763
              EXPR_CALL@727..763
                EXPR_IDENT@727..731
                  PATH@727..731
                    Ident@727..731 "show"
                ARG_LIST@731..763
                  LParen@731..732 "("
                  ARG@732..762
                    EXPR_CALL@732..762
                      EXPR_IDENT@732..738
                        PATH@732..738
                          Ident@732..738 "nested"
                      ARG_LIST@738..762
                        LParen@738..739 "("
                        ARG@739..745
                          EXPR_BOOL@739..743
                            TrueKeyword@739..743 "true"
                          Comma@743..744 ","
                          Whitespace@744..745 " "
                        ARG@745..757
                          EXPR_IDENT@745..755
                            PATH@745..755
                              Ident@745..749 "Mode"
                              ColonColon@749..751 "::"
                              Ident@751..755 "Take"
                          Comma@755..756 ","
                          Whitespace@756..757 " "
                        ARG@757..761
                          EXPR_BOOL@757..761
                            TrueKeyword@757..761 "true"
                        RParen@761..762 ")"
                  RParen@762..763 ")"
            RParen@763..764 ")"
        Semi@764..765 ";"
        Whitespace@765..770 "\n    "
      STMT_EXPR@770..822
        EXPR_CALL@770..816
          EXPR_IDENT@770..777
            PATH@770..777
              Ident@770..777 "println"
          ARG_LIST@777..816
            LParen@777..778 "("
            ARG@778..815
              EXPR_CALL@778..815
                EXPR_IDENT@778..782
                  PATH@778..782
                    Ident@778..782 "show"
                ARG_LIST@782..815
                  LParen@782..783 "("
                  ARG@783..814
                    EXPR_CALL@783..814
                      EXPR_IDENT@783..789
                        PATH@783..789
                          Ident@783..789 "nested"
                      ARG_LIST@789..814
                        LParen@789..790 "("
                        ARG@790..796
                          EXPR_BOOL@790..794
                            TrueKeyword@790..794 "true"
                          Comma@794..795 ","
                          Whitespace@795..796 " "
                        ARG@796..808
                          EXPR_IDENT@796..806
                            PATH@796..806
                              Ident@796..800 "Mode"
                              ColonColon@800..802 "::"
                              Ident@802..806 "Skip"
                          Comma@806..807 ","
                          Whitespace@807..808 " "
                        ARG@808..813
                          EXPR_BOOL@808..813
                            FalseKeyword@808..813 "false"
                        RParen@813..814 ")"
                  RParen@814..815 ")"
            RParen@815..816 ")"
        Semi@816..817 ";"
        Whitespace@817..822 "\n    "
      STMT_EXPR@822..871
        EXPR_CALL@822..869
          EXPR_IDENT@822..829
            PATH@822..829
              Ident@822..829 "println"
          ARG_LIST@829..869
            LParen@829..830 "("
            ARG@830..868
              EXPR_CALL@830..868
                EXPR_IDENT@830..834
                  PATH@830..834
                    Ident@830..834 "show"
                ARG_LIST@834..868
                  LParen@834..835 "("
                  ARG@835..867
                    EXPR_CALL@835..867
                      EXPR_IDENT@835..841
                        PATH@835..841
                          Ident@835..841 "nested"
                      ARG_LIST@841..867
                        LParen@841..842 "("
                        ARG@842..849
                          EXPR_BOOL@842..847
                            FalseKeyword@842..847 "false"
                          Comma@847..848 ","
                          Whitespace@848..849 " "
                        ARG@849..861
                          EXPR_IDENT@849..859
                            PATH@849..859
                              Ident@849..853 "Mode"
                              ColonColon@853..855 "::"
                              Ident@855..859 "Take"
                          Comma@859..860 ","
                          Whitespace@860..861 " "
                        ARG@861..866
                          EXPR_BOOL@861..866
                            FalseKeyword@861..866 "false"
                        RParen@866..867 ")"
                  RParen@867..868 ")"
            RParen@868..869 ")"
        Semi@869..870 ";"
        Whitespace@870..871 "\n"
      RBrace@871..872 "}"
      Whitespace@872..873 "\n"