FILE@0..249
  FN@0..37
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..11 "identity"
    GENERIC_LIST@11..14
      LBracket@11..12 "["
      GENERIC@12..13
        Ident@12..13 "T"
      RBracket@13..14 "]"
    PARAM_LIST@14..21
      LParen@14..15 "("
      PARAM@15..19
        Ident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_TAPP@18..19
          PATH@18..19
            Ident@18..19 "T"
      RParen@19..20 ")"
      Whitespace@20..21 " "
    Arrow@21..23 "->"
    Whitespace@23..24 " "
    TYPE_TAPP@24..26
      PATH@24..26
        Ident@24..25 "T"
        Whitespace@25..26 " "
    BLOCK@26..37
      LBrace@26..27 "{"
      Whitespace@27..32 "\n    "
      EXPR_IDENT@32..34
        PATH@32..34
          Ident@32..33 "x"
          Whitespace@33..34 "\n"
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  FN@37..249
    FnKeyword@37..39 "fn"
    Whitespace@39..40 " "
    Ident@40..44 "main"
    PARAM_LIST@44..47
      LParen@44..45 "("
      RParen@45..46 ")"
      Whitespace@46..47 " "
    BLOCK@47..249
      LBrace@47..48 "{"
      Whitespace@48..53 "\n    "
      STMT_LET@53..86
        LetKeyword@53..56 "let"
        Whitespace@56..57 " "
        PATTERN_VARIABLE@57..58
          Ident@57..58 "a"
        Colon@58..59 ":"
        Whitespace@59..60 " "
        TYPE_UINT8@60..66
          Uint8Keyword@60..65 "uint8"
          Whitespace@65..66 " "
        Eq@66..67 "="
        Whitespace@67..68 " "
        EXPR_CALL@68..80
          EXPR_IDENT@68..76
            PATH@68..76
              Ident@68..76 "identity"
          ARG_LIST@76..80
            LParen@76..77 "("
            ARG@77..79
              EXPR_INT@77..79
                Int@77..79 "42"
            RParen@79..80 ")"
        Semi@80..81 ";"
        Whitespace@81..86 "\n    "
      STMT_EXPR@86..119
        EXPR_CALL@86..108
          EXPR_IDENT@86..93
            PATH@86..93
              Ident@86..93 "println"
          ARG_LIST@93..108
            LParen@93..94 "("
            ARG@94..107
              EXPR_CALL@94..107
                EXPR_BINARY@94..105
                  EXPR_IDENT@94..95
                    PATH@94..95
                      Ident@94..95 "a"
                  Dot@95..96 "."
                  EXPR_IDENT@96..105
                    PATH@96..105
                      Ident@96..105 "to_string"
                ARG_LIST@105..107
                  LParen@105..106 "("
                  RParen@106..107 ")"
            RParen@107..108 ")"
        Semi@108..109 ";"
        Whitespace@109..119 "\n    \n    "
      STMT_LET@119..156
        LetKeyword@119..122 "let"
        Whitespace@122..123 " "
        PATTERN_VARIABLE@123..124
          Ident@123..124 "b"
        Colon@124..125 ":"
        Whitespace@125..126 " "
        TYPE_FLOAT32@126..134
          Float32Keyword@126..133 "float32"
          Whitespace@133..134 " "
        Eq@134..135 "="
        Whitespace@135..136 " "
        EXPR_CALL@136..150
          EXPR_IDENT@136..144
            PATH@136..144
              Ident@136..144 "identity"
          ARG_LIST@144..150
            LParen@144..145 "("
            ARG@145..149
              EXPR_FLOAT@145..149
                Float@145..149 "3.14"
            RParen@149..150 ")"
        Semi@150..151 ";"
        Whitespace@151..156 "\n    "
      STMT_EXPR@156..189
        EXPR_CALL@156..178
          EXPR_IDENT@156..163
            PATH@156..163
              Ident@156..163 "println"
          ARG_LIST@163..178
            LParen@163..164 "("
            ARG@164..177
              EXPR_CALL@164..177
                EXPR_BINARY@164..175
                  EXPR_IDENT@164..165
                    PATH@164..165
                      Ident@164..165 "b"
                  Dot@165..166 "."
                  EXPR_IDENT@166..175
                    PATH@166..175
                      Ident@166..175 "to_string"
                ARG_LIST@175..177
                  LParen@175..176 "("
                  RParen@176..177 ")"
            RParen@177..178 ")"
        Semi@178..179 ";"
        Whitespace@179..189 "\n    \n    "
      STMT_LET@189..223
        LetKeyword@189..192 "let"
        Whitespace@192..193 " "
        PATTERN_VARIABLE@193..194
          Ident@193..194 "c"
        Colon@194..195 ":"
        Whitespace@195..196 " "
        TYPE_INT64@196..202
          Int64Keyword@196..201 "int64"
          Whitespace@201..202 " "
        Eq@202..203 "="
        Whitespace@203..204 " "
        EXPR_CALL@204..217
          EXPR_IDENT@204..212
            PATH@204..212
              Ident@204..212 "identity"
          ARG_LIST@212..217
            LParen@212..213 "("
            ARG@213..216
              EXPR_INT@213..216
                Int@213..216 "100"
            RParen@216..217 ")"
        Semi@217..218 ";"
        Whitespace@218..223 "\n    "
      STMT_EXPR@223..247
        EXPR_CALL@223..245
          EXPR_IDENT@223..230
            PATH@223..230
              Ident@223..230 "println"
          ARG_LIST@230..245
            LParen@230..231 "("
            ARG@231..244
              EXPR_CALL@231..244
                EXPR_BINARY@231..242
                  EXPR_IDENT@231..232
                    PATH@231..232
                      Ident@231..232 "c"
                  Dot@232..233 "."
                  EXPR_IDENT@233..242
                    PATH@233..242
                      Ident@233..242 "to_string"
                ARG_LIST@242..244
                  LParen@242..243 "("
                  RParen@243..244 ")"
            RParen@244..245 ")"
        Semi@245..246 ";"
        Whitespace@246..247 "\n"
      RBrace@247..248 "}"
      Whitespace@248..249 "\n"