FILE@0..587
  TRAIT@0..83
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Batch"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..83
      TRAIT_ASSOCIATED_TYPE@18..49
        TypeKeyword@18..22 "type"
        Whitespace@22..23 " "
        Ident@23..28 "Items"
        Colon@28..29 ":"
        Whitespace@29..30 " "
        TRAIT_SET@30..42
          TYPE_TAPP@30..42
            PATH@30..42
              Ident@30..42 "IntoIterator"
        Semi@42..43 ";"
        Whitespace@43..49 "\n\n    "
      TRAIT_METHOD_SIG@49..78
        FnKeyword@49..51 "fn"
        Whitespace@51..52 " "
        Ident@52..57 "items"
        TYPE_LIST@57..64
          LParen@57..58 "("
          TYPE_TAPP@58..62
            PATH@58..62
              Ident@58..62 "Self"
          RParen@62..63 ")"
          Whitespace@63..64 " "
        Arrow@64..66 "->"
        Whitespace@66..67 " "
        TYPE_TAPP@67..78
          PATH@67..78
            Ident@67..71 "Self"
            ColonColon@71..73 "::"
            Ident@73..78 "Items"
      Semi@78..79 ";"
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  STRUCT@83..127
    StructKeyword@83..89 "struct"
    Whitespace@89..90 " "
    Ident@90..97 "Numbers"
    Whitespace@97..98 " "
    LBrace@98..99 "{"
    Whitespace@99..104 "\n    "
    STRUCT_FIELD_LIST@104..127
      STRUCT_FIELD@104..122
        Ident@104..110 "values"
        Colon@110..111 ":"
        Whitespace@111..112 " "
        TYPE_TAPP@112..122
          PATH@112..115
            Ident@112..115 "Vec"
          TYPE_PARAM_LIST@115..122
            LBracket@115..116 "["
            TYPE_INT32@116..121
              Int32Keyword@116..121 "int32"
            RBracket@121..122 "]"
      Comma@122..123 ","
      Whitespace@123..124 "\n"
      RBrace@124..125 "}"
      Whitespace@125..127 "\n\n"
  IMPL@127..255
    ImplKeyword@127..131 "impl"
    Whitespace@131..132 " "
    TYPE_TAPP@132..138
      PATH@132..138
        Ident@132..137 "Batch"
        Whitespace@137..138 " "
    ForKeyword@138..141 "for"
    Whitespace@141..142 " "
    TYPE_TAPP@142..150
      PATH@142..150
        Ident@142..149 "Numbers"
        Whitespace@149..150 " "
    LBrace@150..151 "{"
    Whitespace@151..156 "\n    "
    IMPL_ASSOCIATED_TYPE@156..186
      TypeKeyword@156..160 "type"
      Whitespace@160..161 " "
      Ident@161..166 "Items"
      Whitespace@166..167 " "
      Eq@167..168 "="
      Whitespace@168..169 " "
      TYPE_TAPP@169..179
        PATH@169..172
          Ident@169..172 "Vec"
        TYPE_PARAM_LIST@172..179
          LBracket@172..173 "["
          TYPE_INT32@173..178
            Int32Keyword@173..178 "int32"
          RBracket@178..179 "]"
      Semi@179..180 ";"
      Whitespace@180..186 "\n\n    "
    FN@186..252
      FnKeyword@186..188 "fn"
      Whitespace@188..189 " "
      Ident@189..194 "items"
      PARAM_LIST@194..210
        LParen@194..195 "("
        PARAM@195..208
          Ident@195..199 "self"
          Colon@199..200 ":"
          Whitespace@200..201 " "
          TYPE_TAPP@201..208
            PATH@201..208
              Ident@201..208 "Numbers"
        RParen@208..209 ")"
        Whitespace@209..210 " "
      Arrow@210..212 "->"
      Whitespace@212..213 " "
      TYPE_TAPP@213..224
        PATH@213..216
          Ident@213..216 "Vec"
        TYPE_PARAM_LIST@216..224
          LBracket@216..217 "["
          TYPE_INT32@217..222
            Int32Keyword@217..222 "int32"
          RBracket@222..223 "]"
          Whitespace@223..224 " "
      BLOCK@224..252
        LBrace@224..225 "{"
        Whitespace@225..234 "\n        "
        EXPR_BINARY@234..250
          EXPR_IDENT@234..238
            PATH@234..238
              Ident@234..238 "self"
          Dot@238..239 "."
          EXPR_IDENT@239..250
            PATH@239..250
              Ident@239..245 "values"
              Whitespace@245..250 "\n    "
        RBrace@250..251 "}"
        Whitespace@251..252 "\n"
    RBrace@252..253 "}"
    Whitespace@253..255 "\n\n"
  FN@255..421
    FnKeyword@255..257 "fn"
    Whitespace@257..258 " "
    Ident@258..263 "count"
    GENERIC_LIST@263..273
      LBracket@263..264 "["
      GENERIC@264..272
        Ident@264..265 "B"
        Colon@265..266 ":"
        Whitespace@266..267 " "
        TRAIT_SET@267..272
          TYPE_TAPP@267..272
            PATH@267..272
              Ident@267..272 "Batch"
      RBracket@272..273 "]"
    PARAM_LIST@273..284
      LParen@273..274 "("
      PARAM@274..282
        Ident@274..279 "batch"
        Colon@279..280 ":"
        Whitespace@280..281 " "
        TYPE_TAPP@281..282
          PATH@281..282
            Ident@281..282 "B"
      RParen@282..283 ")"
      Whitespace@283..284 " "
    Arrow@284..286 "->"
    Whitespace@286..287 " "
    TYPE_INT32@287..293
      Int32Keyword@287..292 "int32"
      Whitespace@292..293 " "
    BLOCK@293..421
      LBrace@293..294 "{"
      Whitespace@294..299 "\n    "
      STMT_LET@299..328
        LetKeyword@299..302 "let"
        Whitespace@302..303 " "
        PATTERN_VARIABLE@303..309
          Ident@303..308 "total"
          Whitespace@308..309 " "
        Eq@309..310 "="
        Whitespace@310..311 " "
        EXPR_CALL@311..322
          EXPR_IDENT@311..319
            PATH@311..319
              Ident@311..314 "Ref"
              ColonColon@314..316 "::"
              Ident@316..319 "new"
          ARG_LIST@319..322
            LParen@319..320 "("
            ARG@320..321
              EXPR_INT@320..321
                Int@320..321 "0"
            RParen@321..322 ")"
        Semi@322..323 ";"
        Whitespace@323..328 "\n    "
      STMT_EXPR@328..406
        EXPR_FOR@328..400
          ForKeyword@328..331 "for"
          Whitespace@331..332 " "
          PATTERN_WILDCARD@332..334
            WildcardKeyword@332..333 "_"
            Whitespace@333..334 " "
          InKeyword@334..336 "in"
          Whitespace@336..337 " "
          EXPR_CALL@337..357
            EXPR_IDENT@337..349
              PATH@337..349
                Ident@337..342 "Batch"
                ColonColon@342..344 "::"
                Ident@344..349 "items"
            ARG_LIST@349..357
              LParen@349..350 "("
              ARG@350..355
                EXPR_IDENT@350..355
                  PATH@350..355
                    Ident@350..355 "batch"
              RParen@355..356 ")"
              Whitespace@356..357 " "
          BLOCK@357..400
            LBrace@357..358 "{"
            Whitespace@358..367 "\n        "
            STMT_EXPR@367..399
              EXPR_CALL@367..393
                EXPR_BINARY@367..376
                  EXPR_IDENT@367..372
                    PATH@367..372
                      Ident@367..372 "total"
                  Dot@372..373 "."
                  EXPR_IDENT@373..376
                    PATH@373..376
                      Ident@373..376 "set"
                ARG_LIST@376..393
                  LParen@376..377 "("
                  ARG@377..392
                    EXPR_BINARY@377..392
                      EXPR_CALL@377..389
                        EXPR_BINARY@377..386
                          EXPR_IDENT@377..382
                            PATH@377..382
                              Ident@377..382 "total"
                          Dot@382..383 "."
                          EXPR_IDENT@383..386
                            PATH@383..386
                              Ident@383..386 "get"
                        ARG_LIST@386..389
                          LParen@386..387 "("
                          RParen@387..388 ")"
                          Whitespace@388..389 " "
                      Plus@389..390 "+"
                      Whitespace@390..391 " "
                      EXPR_INT@391..392
                        Int@391..392 "1"
                  RParen@392..393 ")"
              Semi@393..394 ";"
              Whitespace@394..399 "\n    "
            RBrace@399..400 "}"
        Semi@400..401 ";"
        Whitespace@401..406 "\n    "
      EXPR_CALL@406..418
        EXPR_BINARY@406..415
          EXPR_IDENT@406..411
            PATH@406..411
              Ident@406..411 "total"
          Dot@411..412 "."
          EXPR_IDENT@412..415
            PATH@412..415
              Ident@412..415 "get"
        ARG_LIST@415..418
          LParen@415..416 "("
          RParen@416..417 ")"
          Whitespace@417..418 "\n"
      RBrace@418..419 "}"
      Whitespace@419..421 "\n\n"
  FN@421..587
    FnKeyword@421..423 "fn"
    Whitespace@423..424 " "
    Ident@424..428 "main"
    PARAM_LIST@428..431
      LParen@428..429 "("
      RParen@429..430 ")"
      Whitespace@430..431 " "
    Arrow@431..433 "->"
    Whitespace@433..434 " "
    TYPE_UNIT@434..439
      UnitKeyword@434..438 "unit"
      Whitespace@438..439 " "
    BLOCK@439..587
      LBrace@439..440 "{"
      Whitespace@440..445 "\n    "
      STMT_LET@445..486
        LetKeyword@445..448 "let"
        Whitespace@448..449 " "
        PATTERN_VARIABLE@449..455
          Ident@449..455 "values"
        Colon@455..456 ":"
        Whitespace@456..457 " "
        TYPE_TAPP@457..468
          PATH@457..460
            Ident@457..460 "Vec"
          TYPE_PARAM_LIST@460..468
            LBracket@460..461 "["
            TYPE_INT32@461..466
              Int32Keyword@461..466 "int32"
            RBracket@466..467 "]"
            Whitespace@467..468 " "
        Eq@468..469 "="
        Whitespace@469..470 " "
        EXPR_CALL@470..480
          EXPR_IDENT@470..478
            PATH@470..478
              Ident@470..473 "Vec"
              ColonColon@473..475 "::"
              Ident@475..478 "new"
          ARG_LIST@478..480
            LParen@478..479 "("
            RParen@479..480 ")"
        Semi@480..481 ";"
        Whitespace@481..486 "\n    "
      STMT_EXPR@486..507
        EXPR_CALL@486..501
          EXPR_BINARY@486..497
            EXPR_IDENT@486..492
              PATH@486..492
                Ident@486..492 "values"
            Dot@492..493 "."
            EXPR_IDENT@493..497
              PATH@493..497
                Ident@493..497 "push"
          ARG_LIST@497..501
            LParen@497..498 "("
            ARG@498..500
              EXPR_INT@498..500
                Int@498..500 "10"
            RParen@500..501 ")"
        Semi@501..502 ";"
        Whitespace@502..507 "\n    "
      STMT_EXPR@507..528
        EXPR_CALL@507..522
          EXPR_BINARY@507..518
            EXPR_IDENT@507..513
              PATH@507..513
                Ident@507..513 "values"
            Dot@513..514 "."
            EXPR_IDENT@514..518
              PATH@514..518
                Ident@514..518 "push"
          ARG_LIST@518..522
            LParen@518..519 "("
            ARG@519..521
              EXPR_INT@519..521
                Int@519..521 "20"
            RParen@521..522 ")"
        Semi@522..523 ";"
        Whitespace@523..528 "\n    "
      STMT_EXPR@528..549
        EXPR_CALL@528..543
          EXPR_BINARY@528..539
            EXPR_IDENT@528..534
              PATH@528..534
                Ident@528..534 "values"
            Dot@534..535 "."
            EXPR_IDENT@535..539
              PATH@535..539
                Ident@535..539 "push"
          ARG_LIST@539..543
            LParen@539..540 "("
            ARG@540..542
              EXPR_INT@540..542
                Int@540..542 "30"
            RParen@542..543 ")"
        Semi@543..544 ";"
        Whitespace@544..549 "\n    "
      STMT_EXPR@549..585
        EXPR_CALL@549..583
          EXPR_IDENT@549..556
            PATH@549..556
              Ident@549..556 "println"
          ARG_LIST@556..583
            LParen@556..557 "("
            ARG@557..582
              EXPR_CALL@557..582
                EXPR_IDENT@557..562
                  PATH@557..562
                    Ident@557..562 "count"
                ARG_LIST@562..582
                  LParen@562..563 "("
                  ARG@563..581
                    EXPR_STRUCT_LITERAL@563..581
                      PATH@563..571
                        Ident@563..570 "Numbers"
                        Whitespace@570..571 " "
                      STRUCT_LITERAL_FIELD_LIST@571..581
                        LBrace@571..572 "{"
                        Whitespace@572..573 " "
                        STRUCT_LITERAL_FIELD@573..580
                          Ident@573..579 "values"
                          Whitespace@579..580 " "
                        RBrace@580..581 "}"
                  RParen@581..582 ")"
            RParen@582..583 ")"
        Semi@583..584 ";"
        Whitespace@584..585 "\n"
      RBrace@585..586 "}"
      Whitespace@586..587 "\n"