FILE@0..644
  TRAIT@0..91
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..17 "RenderValue"
    Whitespace@17..18 " "
    LBrace@18..19 "{"
    Whitespace@19..24 "\n    "
    TRAIT_METHOD_SIG_LIST@24..91
      TRAIT_METHOD_SIG@24..88
        FnKeyword@24..26 "fn"
        Whitespace@26..27 " "
        Ident@27..33 "render"
        GENERIC_LIST@33..36
          LBracket@33..34 "["
          GENERIC@34..35
            Ident@34..35 "U"
          RBracket@35..36 "]"
        PARAM_LIST@36..59
          LParen@36..37 "("
          PARAM@37..49
            Ident@37..41 "self"
            Colon@41..42 ":"
            Whitespace@42..43 " "
            TYPE_TAPP@43..47
              PATH@43..47
                Ident@43..47 "Self"
            Comma@47..48 ","
            Whitespace@48..49 " "
          PARAM@49..57
            Ident@49..54 "value"
            Colon@54..55 ":"
            Whitespace@55..56 " "
            TYPE_TAPP@56..57
              PATH@56..57
                Ident@56..57 "U"
          RParen@57..58 ")"
          Whitespace@58..59 " "
        Arrow@59..61 "->"
        Whitespace@61..62 " "
        TYPE_STRING@62..69
          StringKeyword@62..68 "string"
          Whitespace@68..69 " "
        WHERE_CLAUSE@69..86
          WhereKeyword@69..74 "where"
          Whitespace@74..75 " "
          WHERE_PREDICATE@75..86
            TYPE_TAPP@75..76
              PATH@75..76
                Ident@75..76 "U"
            Colon@76..77 ":"
            Whitespace@77..78 " "
            TRAIT_SET@78..86
              TYPE_TAPP@78..86
                PATH@78..86
                  Ident@78..86 "ToString"
        Semi@86..87 ";"
        Whitespace@87..88 "\n"
      RBrace@88..89 "}"
      Whitespace@89..91 "\n\n"
  STRUCT@91..129
    StructKeyword@91..97 "struct"
    Whitespace@97..98 " "
    Ident@98..104 "Prefix"
    Whitespace@104..105 " "
    LBrace@105..106 "{"
    Whitespace@106..111 "\n    "
    STRUCT_FIELD_LIST@111..129
      STRUCT_FIELD@111..124
        Ident@111..116 "value"
        Colon@116..117 ":"
        Whitespace@117..118 " "
        TYPE_STRING@118..124
          StringKeyword@118..124 "string"
      Comma@124..125 ","
      Whitespace@125..126 "\n"
      RBrace@126..127 "}"
      Whitespace@127..129 "\n\n"
  IMPL@129..278
    ImplKeyword@129..133 "impl"
    Whitespace@133..134 " "
    TYPE_TAPP@134..146
      PATH@134..146
        Ident@134..145 "RenderValue"
        Whitespace@145..146 " "
    ForKeyword@146..149 "for"
    Whitespace@149..150 " "
    TYPE_TAPP@150..157
      PATH@150..157
        Ident@150..156 "Prefix"
        Whitespace@156..157 " "
    LBrace@157..158 "{"
    Whitespace@158..163 "\n    "
    FN@163..275
      FnKeyword@163..165 "fn"
      Whitespace@165..166 " "
      Ident@166..172 "render"
      GENERIC_LIST@172..175
        LBracket@172..173 "["
        GENERIC@173..174
          Ident@173..174 "V"
        RBracket@174..175 "]"
      PARAM_LIST@175..200
        LParen@175..176 "("
        PARAM@176..190
          Ident@176..180 "self"
          Colon@180..181 ":"
          Whitespace@181..182 " "
          TYPE_TAPP@182..188
            PATH@182..188
              Ident@182..188 "Prefix"
          Comma@188..189 ","
          Whitespace@189..190 " "
        PARAM@190..198
          Ident@190..195 "value"
          Colon@195..196 ":"
          Whitespace@196..197 " "
          TYPE_TAPP@197..198
            PATH@197..198
              Ident@197..198 "V"
        RParen@198..199 ")"
        Whitespace@199..200 " "
      Arrow@200..202 "->"
      Whitespace@202..203 " "
      TYPE_STRING@203..210
        StringKeyword@203..209 "string"
        Whitespace@209..210 " "
      WHERE_CLAUSE@210..228
        WhereKeyword@210..215 "where"
        Whitespace@215..216 " "
        WHERE_PREDICATE@216..228
          TYPE_TAPP@216..217
            PATH@216..217
              Ident@216..217 "V"
          Colon@217..218 ":"
          Whitespace@218..219 " "
          TRAIT_SET@219..228
            TYPE_TAPP@219..228
              PATH@219..228
                Ident@219..227 "ToString"
                Whitespace@227..228 " "
      BLOCK@228..275
        LBrace@228..229 "{"
        Whitespace@229..238 "\n        "
        EXPR_BINARY@238..273
          EXPR_BINARY@238..249
            EXPR_IDENT@238..242
              PATH@238..242
                Ident@238..242 "self"
            Dot@242..243 "."
            EXPR_IDENT@243..249
              PATH@243..249
                Ident@243..248 "value"
                Whitespace@248..249 " "
          Plus@249..250 "+"
          Whitespace@250..251 " "
          EXPR_CALL@251..273
            EXPR_BINARY@251..266
              EXPR_IDENT@251..256
                PATH@251..256
                  Ident@251..256 "value"
              Dot@256..257 "."
              EXPR_IDENT@257..266
                PATH@257..266
                  Ident@257..266 "to_string"
            ARG_LIST@266..273
              LParen@266..267 "("
              RParen@267..268 ")"
              Whitespace@268..273 "\n    "
        RBrace@273..274 "}"
        Whitespace@274..275 "\n"
    RBrace@275..276 "}"
    Whitespace@276..278 "\n\n"
  FN@278..371
    FnKeyword@278..280 "fn"
    Whitespace@280..281 " "
    Ident@281..295 "render_generic"
    GENERIC_LIST@295..311
      LBracket@295..296 "["
      GENERIC@296..310
        Ident@296..297 "T"
        Colon@297..298 ":"
        Whitespace@298..299 " "
        TRAIT_SET@299..310
          TYPE_TAPP@299..310
            PATH@299..310
              Ident@299..310 "RenderValue"
      RBracket@310..311 "]"
    PARAM_LIST@311..325
      LParen@311..312 "("
      PARAM@312..323
        Ident@312..320 "renderer"
        Colon@320..321 ":"
        Whitespace@321..322 " "
        TYPE_TAPP@322..323
          PATH@322..323
            Ident@322..323 "T"
      RParen@323..324 ")"
      Whitespace@324..325 " "
    Arrow@325..327 "->"
    Whitespace@327..328 " "
    TYPE_STRING@328..335
      StringKeyword@328..334 "string"
      Whitespace@334..335 " "
    BLOCK@335..371
      LBrace@335..336 "{"
      Whitespace@336..341 "\n    "
      EXPR_CALL@341..368
        EXPR_BINARY@341..363
          EXPR_IDENT@341..349
            PATH@341..349
              Ident@341..349 "renderer"
          Dot@349..350 "."
          EXPR_IDENT@350..363
            TYPE_TAPP@350..363
              PATH@350..356
                Ident@350..356 "render"
              ColonColon@356..358 "::"
              TYPE_PARAM_LIST@358..363
                LBracket@358..359 "["
                TYPE_INT@359..362
                  IntKeyword@359..362 "int"
                RBracket@362..363 "]"
        ARG_LIST@363..368
          LParen@363..364 "("
          ARG@364..366
            EXPR_INT@364..366
              Int@364..366 "11"
          RParen@366..367 ")"
          Whitespace@367..368 "\n"
      RBrace@368..369 "}"
      Whitespace@369..371 "\n\n"
  FN@371..644
    FnKeyword@371..373 "fn"
    Whitespace@373..374 " "
    Ident@374..378 "main"
    PARAM_LIST@378..381
      LParen@378..379 "("
      RParen@379..380 ")"
      Whitespace@380..381 " "
    BLOCK@381..644
      LBrace@381..382 "{"
      Whitespace@382..387 "\n    "
      STMT_LET@387..446
        LetKeyword@387..390 "let"
        Whitespace@390..391 " "
        PATTERN_VARIABLE@391..398
          Ident@391..397 "direct"
          Whitespace@397..398 " "
        Eq@398..399 "="
        Whitespace@399..400 " "
        EXPR_CALL@400..440
          EXPR_BINARY@400..434
            EXPR_STRUCT_LITERAL@400..427
              PATH@400..407
                Ident@400..406 "Prefix"
                Whitespace@406..407 " "
              STRUCT_LITERAL_FIELD_LIST@407..427
                LBrace@407..408 "{"
                Whitespace@408..409 " "
                STRUCT_LITERAL_FIELD@409..426
                  Ident@409..414 "value"
                  Colon@414..415 ":"
                  Whitespace@415..416 " "
                  EXPR_STR@416..426
                    Str@416..425 "\"direct:\""
                    Whitespace@425..426 " "
                RBrace@426..427 "}"
            Dot@427..428 "."
            EXPR_IDENT@428..434
              PATH@428..434
                Ident@428..434 "render"
          ARG_LIST@434..440
            LParen@434..435 "("
            ARG@435..439
              EXPR_STR@435..439
                Str@435..439 "\"ok\""
            RParen@439..440 ")"
        Semi@440..441 ";"
        Whitespace@441..446 "\n    "
      STMT_EXPR@446..467
        EXPR_CALL@446..461
          EXPR_IDENT@446..453
            PATH@446..453
              Ident@446..453 "println"
          ARG_LIST@453..461
            LParen@453..454 "("
            ARG@454..460
              EXPR_IDENT@454..460
                PATH@454..460
                  Ident@454..460 "direct"
            RParen@460..461 ")"
        Semi@461..462 ";"
        Whitespace@462..467 "\n    "
      STMT_LET@467..531
        LetKeyword@467..470 "let"
        Whitespace@470..471 " "
        PATTERN_VARIABLE@471..479
          Ident@471..478 "generic"
          Whitespace@478..479 " "
        Eq@479..480 "="
        Whitespace@480..481 " "
        EXPR_CALL@481..525
          EXPR_IDENT@481..495
            PATH@481..495
              Ident@481..495 "render_generic"
          ARG_LIST@495..525
            LParen@495..496 "("
            ARG@496..524
              EXPR_STRUCT_LITERAL@496..524
                PATH@496..503
                  Ident@496..502 "Prefix"
                  Whitespace@502..503 " "
                STRUCT_LITERAL_FIELD_LIST@503..524
                  LBrace@503..504 "{"
                  Whitespace@504..505 " "
                  STRUCT_LITERAL_FIELD@505..523
                    Ident@505..510 "value"
                    Colon@510..511 ":"
                    Whitespace@511..512 " "
                    EXPR_STR@512..523
                      Str@512..522 "\"generic:\""
                      Whitespace@522..523 " "
                  RBrace@523..524 "}"
            RParen@524..525 ")"
        Semi@525..526 ";"
        Whitespace@526..531 "\n    "
      STMT_EXPR@531..553
        EXPR_CALL@531..547
          EXPR_IDENT@531..538
            PATH@531..538
              Ident@531..538 "println"
          ARG_LIST@538..547
            LParen@538..539 "("
            ARG@539..546
              EXPR_IDENT@539..546
                PATH@539..546
                  Ident@539..546 "generic"
            RParen@546..547 ")"
        Semi@547..548 ";"
        Whitespace@548..553 "\n    "
      STMT_LET@553..627
        LetKeyword@553..556 "let"
        Whitespace@556..557 " "
        PATTERN_VARIABLE@557..562
          Ident@557..561 "ufcs"
          Whitespace@561..562 " "
        Eq@562..563 "="
        Whitespace@563..564 " "
        EXPR_CALL@564..621
          EXPR_IDENT@564..590
            TYPE_TAPP@564..590
              PATH@564..583
                Ident@564..575 "RenderValue"
                ColonColon@575..577 "::"
                Ident@577..583 "render"
              ColonColon@583..585 "::"
              TYPE_PARAM_LIST@585..590
                LBracket@585..586 "["
                TYPE_INT@586..589
                  IntKeyword@586..589 "int"
                RBracket@589..590 "]"
          ARG_LIST@590..621
            LParen@590..591 "("
            ARG@591..618
              EXPR_STRUCT_LITERAL@591..616
                PATH@591..598
                  Ident@591..597 "Prefix"
                  Whitespace@597..598 " "
                STRUCT_LITERAL_FIELD_LIST@598..616
                  LBrace@598..599 "{"
                  Whitespace@599..600 " "
                  STRUCT_LITERAL_FIELD@600..615
                    Ident@600..605 "value"
                    Colon@605..606 ":"
                    Whitespace@606..607 " "
                    EXPR_STR@607..615
                      Str@607..614 "\"ufcs:\""
                      Whitespace@614..615 " "
                  RBrace@615..616 "}"
              Comma@616..617 ","
              Whitespace@617..618 " "
            ARG@618..620
              EXPR_INT@618..620
                Int@618..620 "12"
            RParen@620..621 ")"
        Semi@621..622 ";"
        Whitespace@622..627 "\n    "
      STMT_EXPR@627..642
        EXPR_CALL@627..640
          EXPR_IDENT@627..634
            PATH@627..634
              Ident@627..634 "println"
          ARG_LIST@634..640
            LParen@634..635 "("
            ARG@635..639
              EXPR_IDENT@635..639
                PATH@635..639
                  Ident@635..639 "ufcs"
            RParen@639..640 ")"
        Semi@640..641 ";"
        Whitespace@641..642 "\n"
      RBrace@642..643 "}"
      Whitespace@643..644 "\n"