FILE@0..698
  TRAIT@0..103
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..17 "RenderValue"
    Whitespace@17..18 " "
    LBrace@18..19 "{"
    Whitespace@19..24 "\n    "
    TRAIT_METHOD_SIG_LIST@24..103
      TRAIT_METHOD_SIG@24..98
        FnKeyword@24..26 "fn"
        Whitespace@26..27 " "
        Ident@27..33 "render"
        GENERIC_LIST@33..36
          LBracket@33..34 "["
          GENERIC@34..35
            Ident@34..35 "U"
          RBracket@35..36 "]"
        PARAM_LIST@36..59
          LParen@36..37 "("
          PARAM@37..49
            Ident@37..41 "self"
            Colon@41..42 ":"
            Whitespace@42..43 " "
            TYPE_TAPP@43..47
              PATH@43..47
                Ident@43..47 "Self"
            Comma@47..48 ","
            Whitespace@48..49 " "
          PARAM@49..57
            Ident@49..54 "value"
            Colon@54..55 ":"
            Whitespace@55..56 " "
            TYPE_TAPP@56..57
              PATH@56..57
                Ident@56..57 "U"
          RParen@57..58 ")"
          Whitespace@58..59 " "
        Arrow@59..61 "->"
        Whitespace@61..62 " "
        TYPE_STRING@62..73
          StringKeyword@62..68 "string"
          Whitespace@68..73 "\n    "
        WHERE_CLAUSE@73..98
          WhereKeyword@73..78 "where"
          Whitespace@78..87 "\n        "
          WHERE_PREDICATE@87..98
            TYPE_TAPP@87..88
              PATH@87..88
                Ident@87..88 "U"
            Colon@88..89 ":"
            Whitespace@89..90 " "
            TRAIT_SET@90..98
              TYPE_TAPP@90..98
                PATH@90..98
                  Ident@90..98 "ToString"
      Semi@98..99 ";"
      Whitespace@99..100 "\n"
      RBrace@100..101 "}"
      Whitespace@101..103 "\n\n"
  STRUCT@103..141
    StructKeyword@103..109 "struct"
    Whitespace@109..110 " "
    Ident@110..116 "Prefix"
    Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    STRUCT_FIELD_LIST@123..141
      STRUCT_FIELD@123..136
        Ident@123..128 "value"
        Colon@128..129 ":"
        Whitespace@129..130 " "
        TYPE_STRING@130..136
          StringKeyword@130..136 "string"
      Comma@136..137 ","
      Whitespace@137..138 "\n"
      RBrace@138..139 "}"
      Whitespace@139..141 "\n\n"
  IMPL@141..307
    ImplKeyword@141..145 "impl"
    Whitespace@145..146 " "
    TYPE_TAPP@146..158
      PATH@146..158
        Ident@146..157 "RenderValue"
        Whitespace@157..158 " "
    ForKeyword@158..161 "for"
    Whitespace@161..162 " "
    TYPE_TAPP@162..169
      PATH@162..169
        Ident@162..168 "Prefix"
        Whitespace@168..169 " "
    LBrace@169..170 "{"
    Whitespace@170..175 "\n    "
    FN@175..304
      FnKeyword@175..177 "fn"
      Whitespace@177..178 " "
      Ident@178..184 "render"
      GENERIC_LIST@184..187
        LBracket@184..185 "["
        GENERIC@185..186
          Ident@185..186 "V"
        RBracket@186..187 "]"
      PARAM_LIST@187..212
        LParen@187..188 "("
        PARAM@188..202
          Ident@188..192 "self"
          Colon@192..193 ":"
          Whitespace@193..194 " "
          TYPE_TAPP@194..200
            PATH@194..200
              Ident@194..200 "Prefix"
          Comma@200..201 ","
          Whitespace@201..202 " "
        PARAM@202..210
          Ident@202..207 "value"
          Colon@207..208 ":"
          Whitespace@208..209 " "
          TYPE_TAPP@209..210
            PATH@209..210
              Ident@209..210 "V"
        RParen@210..211 ")"
        Whitespace@211..212 " "
      Arrow@212..214 "->"
      Whitespace@214..215 " "
      TYPE_STRING@215..226
        StringKeyword@215..221 "string"
        Whitespace@221..226 "\n    "
      WHERE_CLAUSE@226..257
        WhereKeyword@226..231 "where"
        Whitespace@231..240 "\n        "
        WHERE_PREDICATE@240..251
          TYPE_TAPP@240..241
            PATH@240..241
              Ident@240..241 "V"
          Colon@241..242 ":"
          Whitespace@242..243 " "
          TRAIT_SET@243..251
            TYPE_TAPP@243..251
              PATH@243..251
                Ident@243..251 "ToString"
        Comma@251..252 ","
        Whitespace@252..257 "\n    "
      BLOCK@257..304
        LBrace@257..258 "{"
        Whitespace@258..267 "\n        "
        EXPR_BINARY@267..302
          EXPR_BINARY@267..278
            EXPR_IDENT@267..271
              PATH@267..271
                Ident@267..271 "self"
            Dot@271..272 "."
            EXPR_IDENT@272..278
              PATH@272..278
                Ident@272..277 "value"
                Whitespace@277..278 " "
          Plus@278..279 "+"
          Whitespace@279..280 " "
          EXPR_CALL@280..302
            EXPR_BINARY@280..295
              EXPR_IDENT@280..285
                PATH@280..285
                  Ident@280..285 "value"
              Dot@285..286 "."
              EXPR_IDENT@286..295
                PATH@286..295
                  Ident@286..295 "to_string"
            ARG_LIST@295..302
              LParen@295..296 "("
              RParen@296..297 ")"
              Whitespace@297..302 "\n    "
        RBrace@302..303 "}"
        Whitespace@303..304 "\n"
    RBrace@304..305 "}"
    Whitespace@305..307 "\n\n"
  FN@307..400
    FnKeyword@307..309 "fn"
    Whitespace@309..310 " "
    Ident@310..324 "render_generic"
    GENERIC_LIST@324..340
      LBracket@324..325 "["
      GENERIC@325..339
        Ident@325..326 "T"
        Colon@326..327 ":"
        Whitespace@327..328 " "
        TRAIT_SET@328..339
          TYPE_TAPP@328..339
            PATH@328..339
              Ident@328..339 "RenderValue"
      RBracket@339..340 "]"
    PARAM_LIST@340..354
      LParen@340..341 "("
      PARAM@341..352
        Ident@341..349 "renderer"
        Colon@349..350 ":"
        Whitespace@350..351 " "
        TYPE_TAPP@351..352
          PATH@351..352
            Ident@351..352 "T"
      RParen@352..353 ")"
      Whitespace@353..354 " "
    Arrow@354..356 "->"
    Whitespace@356..357 " "
    TYPE_STRING@357..364
      StringKeyword@357..363 "string"
      Whitespace@363..364 " "
    BLOCK@364..400
      LBrace@364..365 "{"
      Whitespace@365..370 "\n    "
      EXPR_CALL@370..397
        EXPR_BINARY@370..392
          EXPR_IDENT@370..378
            PATH@370..378
              Ident@370..378 "renderer"
          Dot@378..379 "."
          EXPR_IDENT@379..392
            TYPE_TAPP@379..392
              PATH@379..385
                Ident@379..385 "render"
              ColonColon@385..387 "::"
              TYPE_PARAM_LIST@387..392
                LBracket@387..388 "["
                TYPE_INT@388..391
                  IntKeyword@388..391 "int"
                RBracket@391..392 "]"
        ARG_LIST@392..397
          LParen@392..393 "("
          ARG@393..395
            EXPR_INT@393..395
              Int@393..395 "11"
          RParen@395..396 ")"
          Whitespace@396..397 "\n"
      RBrace@397..398 "}"
      Whitespace@398..400 "\n\n"
  FN@400..698
    FnKeyword@400..402 "fn"
    Whitespace@402..403 " "
    Ident@403..407 "main"
    PARAM_LIST@407..410
      LParen@407..408 "("
      RParen@408..409 ")"
      Whitespace@409..410 " "
    BLOCK@410..698
      LBrace@410..411 "{"
      Whitespace@411..416 "\n    "
      STMT_LET@416..475
        LetKeyword@416..419 "let"
        Whitespace@419..420 " "
        PATTERN_VARIABLE@420..427
          Ident@420..426 "direct"
          Whitespace@426..427 " "
        Eq@427..428 "="
        Whitespace@428..429 " "
        EXPR_CALL@429..469
          EXPR_BINARY@429..463
            EXPR_STRUCT_LITERAL@429..456
              PATH@429..436
                Ident@429..435 "Prefix"
                Whitespace@435..436 " "
              STRUCT_LITERAL_FIELD_LIST@436..456
                LBrace@436..437 "{"
                Whitespace@437..438 " "
                STRUCT_LITERAL_FIELD@438..455
                  Ident@438..443 "value"
                  Colon@443..444 ":"
                  Whitespace@444..445 " "
                  EXPR_STR@445..455
                    Str@445..454 "\"direct:\""
                    Whitespace@454..455 " "
                RBrace@455..456 "}"
            Dot@456..457 "."
            EXPR_IDENT@457..463
              PATH@457..463
                Ident@457..463 "render"
          ARG_LIST@463..469
            LParen@463..464 "("
            ARG@464..468
              EXPR_STR@464..468
                Str@464..468 "\"ok\""
            RParen@468..469 ")"
        Semi@469..470 ";"
        Whitespace@470..475 "\n    "
      STMT_EXPR@475..497
        EXPR_CALL@475..490
          EXPR_IDENT@475..482
            PATH@475..482
              Ident@475..482 "println"
          ARG_LIST@482..490
            LParen@482..483 "("
            ARG@483..489
              EXPR_IDENT@483..489
                PATH@483..489
                  Ident@483..489 "direct"
            RParen@489..490 ")"
        Semi@490..491 ";"
        Whitespace@491..497 "\n\n    "
      STMT_LET@497..561
        LetKeyword@497..500 "let"
        Whitespace@500..501 " "
        PATTERN_VARIABLE@501..509
          Ident@501..508 "generic"
          Whitespace@508..509 " "
        Eq@509..510 "="
        Whitespace@510..511 " "
        EXPR_CALL@511..555
          EXPR_IDENT@511..525
            PATH@511..525
              Ident@511..525 "render_generic"
          ARG_LIST@525..555
            LParen@525..526 "("
            ARG@526..554
              EXPR_STRUCT_LITERAL@526..554
                PATH@526..533
                  Ident@526..532 "Prefix"
                  Whitespace@532..533 " "
                STRUCT_LITERAL_FIELD_LIST@533..554
                  LBrace@533..534 "{"
                  Whitespace@534..535 " "
                  STRUCT_LITERAL_FIELD@535..553
                    Ident@535..540 "value"
                    Colon@540..541 ":"
                    Whitespace@541..542 " "
                    EXPR_STR@542..553
                      Str@542..552 "\"generic:\""
                      Whitespace@552..553 " "
                  RBrace@553..554 "}"
            RParen@554..555 ")"
        Semi@555..556 ";"
        Whitespace@556..561 "\n    "
      STMT_EXPR@561..584
        EXPR_CALL@561..577
          EXPR_IDENT@561..568
            PATH@561..568
              Ident@561..568 "println"
          ARG_LIST@568..577
            LParen@568..569 "("
            ARG@569..576
              EXPR_IDENT@569..576
                PATH@569..576
                  Ident@569..576 "generic"
            RParen@576..577 ")"
        Semi@577..578 ";"
        Whitespace@578..584 "\n\n    "
      STMT_LET@584..681
        LetKeyword@584..587 "let"
        Whitespace@587..588 " "
        PATTERN_VARIABLE@588..593
          Ident@588..592 "ufcs"
          Whitespace@592..593 " "
        Eq@593..594 "="
        Whitespace@594..595 " "
        EXPR_CALL@595..675
          EXPR_IDENT@595..621
            TYPE_TAPP@595..621
              PATH@595..614
                Ident@595..606 "RenderValue"
                ColonColon@606..608 "::"
                Ident@608..614 "render"
              ColonColon@614..616 "::"
              TYPE_PARAM_LIST@616..621
                LBracket@616..617 "["
                TYPE_INT@617..620
                  IntKeyword@617..620 "int"
                RBracket@620..621 "]"
          ARG_LIST@621..675
            LParen@621..622 "("
            Whitespace@622..631 "\n        "
            ARG@631..666
              EXPR_STRUCT_LITERAL@631..656
                PATH@631..638
                  Ident@631..637 "Prefix"
                  Whitespace@637..638 " "
                STRUCT_LITERAL_FIELD_LIST@638..656
                  LBrace@638..639 "{"
                  Whitespace@639..640 " "
                  STRUCT_LITERAL_FIELD@640..655
                    Ident@640..645 "value"
                    Colon@645..646 ":"
                    Whitespace@646..647 " "
                    EXPR_STR@647..655
                      Str@647..654 "\"ufcs:\""
                      Whitespace@654..655 " "
                  RBrace@655..656 "}"
              Comma@656..657 ","
              Whitespace@657..666 "\n        "
            ARG@666..674
              EXPR_INT@666..668
                Int@666..668 "12"
              Comma@668..669 ","
              Whitespace@669..674 "\n    "
            RParen@674..675 ")"
        Semi@675..676 ";"
        Whitespace@676..681 "\n    "
      STMT_EXPR@681..696
        EXPR_CALL@681..694
          EXPR_IDENT@681..688
            PATH@681..688
              Ident@681..688 "println"
          ARG_LIST@688..694
            LParen@688..689 "("
            ARG@689..693
              EXPR_IDENT@689..693
                PATH@689..693
                  Ident@689..693 "ufcs"
            RParen@693..694 ")"
        Semi@694..695 ";"
        Whitespace@695..696 "\n"
      RBrace@696..697 "}"
      Whitespace@697..698 "\n"