FILE@0..435
  TRAIT@0..49
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Mark"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..49
      TRAIT_METHOD_SIG@17..46
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..24 "mark"
        PARAM_LIST@24..37
          LParen@24..25 "("
          PARAM@25..35
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_UNIT@40..44
          UnitKeyword@40..44 "unit"
        Semi@44..45 ";"
        Whitespace@45..46 "\n"
      RBrace@46..47 "}"
      Whitespace@47..49 "\n\n"
  TRAIT@49..101
    TraitKeyword@49..54 "trait"
    Whitespace@54..55 " "
    Ident@55..60 "Extra"
    Whitespace@60..61 " "
    LBrace@61..62 "{"
    Whitespace@62..67 "\n    "
    TRAIT_METHOD_SIG_LIST@67..101
      TRAIT_METHOD_SIG@67..98
        FnKeyword@67..69 "fn"
        Whitespace@69..70 " "
        Ident@70..75 "extra"
        PARAM_LIST@75..88
          LParen@75..76 "("
          PARAM@76..86
            Ident@76..80 "self"
            Colon@80..81 ":"
            Whitespace@81..82 " "
            TYPE_TAPP@82..86
              PATH@82..86
                Ident@82..86 "Self"
          RParen@86..87 ")"
          Whitespace@87..88 " "
        Arrow@88..90 "->"
        Whitespace@90..91 " "
        TYPE_INT32@91..96
          Int32Keyword@91..96 "int32"
        Semi@96..97 ";"
        Whitespace@97..98 "\n"
      RBrace@98..99 "}"
      Whitespace@99..101 "\n\n"
  IMPL@101..162
    ImplKeyword@101..105 "impl"
    Whitespace@105..106 " "
    TYPE_TAPP@106..111
      PATH@106..111
        Ident@106..110 "Mark"
        Whitespace@110..111 " "
    ForKeyword@111..114 "for"
    Whitespace@114..115 " "
    TYPE_INT32@115..121
      Int32Keyword@115..120 "int32"
      Whitespace@120..121 " "
    LBrace@121..122 "{"
    Whitespace@122..127 "\n    "
    FN@127..159
      FnKeyword@127..129 "fn"
      Whitespace@129..130 " "
      Ident@130..134 "mark"
      PARAM_LIST@134..148
        LParen@134..135 "("
        PARAM@135..146
          Ident@135..139 "self"
          Colon@139..140 ":"
          Whitespace@140..141 " "
          TYPE_INT32@141..146
            Int32Keyword@141..146 "int32"
        RParen@146..147 ")"
        Whitespace@147..148 " "
      Arrow@148..150 "->"
      Whitespace@150..151 " "
      TYPE_UNIT@151..156
        UnitKeyword@151..155 "unit"
        Whitespace@155..156 " "
      BLOCK@156..159
        LBrace@156..157 "{"
        RBrace@157..158 "}"
        Whitespace@158..159 "\n"
    RBrace@159..160 "}"
    Whitespace@160..162 "\n\n"
  IMPL@162..243
    ImplKeyword@162..166 "impl"
    GENERIC_LIST@166..176
      LBracket@166..167 "["
      GENERIC@167..174
        Ident@167..168 "T"
        Colon@168..169 ":"
        Whitespace@169..170 " "
        TRAIT_SET@170..174
          TYPE_TAPP@170..174
            PATH@170..174
              Ident@170..174 "Mark"
      RBracket@174..175 "]"
      Whitespace@175..176 " "
    TYPE_TAPP@176..182
      PATH@176..182
        Ident@176..181 "Extra"
        Whitespace@181..182 " "
    ForKeyword@182..185 "for"
    Whitespace@185..186 " "
    TYPE_TAPP@186..188
      PATH@186..188
        Ident@186..187 "T"
        Whitespace@187..188 " "
    LBrace@188..189 "{"
    Whitespace@189..194 "\n    "
    FN@194..240
      FnKeyword@194..196 "fn"
      Whitespace@196..197 " "
      Ident@197..202 "extra"
      PARAM_LIST@202..212
        LParen@202..203 "("
        PARAM@203..210
          Ident@203..207 "self"
          Colon@207..208 ":"
          Whitespace@208..209 " "
          TYPE_TAPP@209..210
            PATH@209..210
              Ident@209..210 "T"
        RParen@210..211 ")"
        Whitespace@211..212 " "
      Arrow@212..214 "->"
      Whitespace@214..215 " "
      TYPE_INT32@215..221
        Int32Keyword@215..220 "int32"
        Whitespace@220..221 " "
      BLOCK@221..240
        LBrace@221..222 "{"
        Whitespace@222..231 "\n        "
        EXPR_INT@231..238
          Int@231..233 "42"
          Whitespace@233..238 "\n    "
        RBrace@238..239 "}"
        Whitespace@239..240 "\n"
    RBrace@240..241 "}"
    Whitespace@241..243 "\n\n"
  FN@243..304
    FnKeyword@243..245 "fn"
    Whitespace@245..246 " "
    Ident@246..251 "apply"
    GENERIC_LIST@251..261
      LBracket@251..252 "["
      GENERIC@252..260
        Ident@252..253 "T"
        Colon@253..254 ":"
        Whitespace@254..255 " "
        TRAIT_SET@255..260
          TYPE_TAPP@255..260
            PATH@255..260
              Ident@255..260 "Extra"
      RBracket@260..261 "]"
    PARAM_LIST@261..272
      LParen@261..262 "("
      PARAM@262..270
        Ident@262..267 "value"
        Colon@267..268 ":"
        Whitespace@268..269 " "
        TYPE_TAPP@269..270
          PATH@269..270
            Ident@269..270 "T"
      RParen@270..271 ")"
      Whitespace@271..272 " "
    Arrow@272..274 "->"
    Whitespace@274..275 " "
    TYPE_INT32@275..281
      Int32Keyword@275..280 "int32"
      Whitespace@280..281 " "
    BLOCK@281..304
      LBrace@281..282 "{"
      Whitespace@282..287 "\n    "
      EXPR_CALL@287..301
        EXPR_BINARY@287..298
          EXPR_IDENT@287..292
            PATH@287..292
              Ident@287..292 "value"
          Dot@292..293 "."
          EXPR_IDENT@293..298
            PATH@293..298
              Ident@293..298 "extra"
        ARG_LIST@298..301
          LParen@298..299 "("
          RParen@299..300 ")"
          Whitespace@300..301 "\n"
      RBrace@301..302 "}"
      Whitespace@302..304 "\n\n"
  FN@304..435
    FnKeyword@304..306 "fn"
    Whitespace@306..307 " "
    Ident@307..311 "main"
    PARAM_LIST@311..314
      LParen@311..312 "("
      RParen@312..313 ")"
      Whitespace@313..314 " "
    Arrow@314..316 "->"
    Whitespace@316..317 " "
    TYPE_UNIT@317..322
      UnitKeyword@317..321 "unit"
      Whitespace@321..322 " "
    BLOCK@322..435
      LBrace@322..323 "{"
      Whitespace@323..328 "\n    "
      STMT_LET@328..354
        LetKeyword@328..331 "let"
        Whitespace@331..332 " "
        PATTERN_VARIABLE@332..337
          Ident@332..337 "first"
        Colon@337..338 ":"
        Whitespace@338..339 " "
        TYPE_INT32@339..345
          Int32Keyword@339..344 "int32"
          Whitespace@344..345 " "
        Eq@345..346 "="
        Whitespace@346..347 " "
        EXPR_INT@347..348
          Int@347..348 "1"
        Semi@348..349 ";"
        Whitespace@349..354 "\n    "
      STMT_LET@354..381
        LetKeyword@354..357 "let"
        Whitespace@357..358 " "
        PATTERN_VARIABLE@358..364
          Ident@358..364 "second"
        Colon@364..365 ":"
        Whitespace@365..366 " "
        TYPE_INT32@366..372
          Int32Keyword@366..371 "int32"
          Whitespace@371..372 " "
        Eq@372..373 "="
        Whitespace@373..374 " "
        EXPR_INT@374..375
          Int@374..375 "2"
        Semi@375..376 ";"
        Whitespace@376..381 "\n    "
      STMT_EXPR@381..408
        EXPR_CALL@381..402
          EXPR_IDENT@381..388
            PATH@381..388
              Ident@381..388 "println"
          ARG_LIST@388..402
            LParen@388..389 "("
            ARG@389..401
              EXPR_CALL@389..401
                EXPR_IDENT@389..394
                  PATH@389..394
                    Ident@389..394 "apply"
                ARG_LIST@394..401
                  LParen@394..395 "("
                  ARG@395..400
                    EXPR_IDENT@395..400
                      PATH@395..400
                        Ident@395..400 "first"
                  RParen@400..401 ")"
            RParen@401..402 ")"
        Semi@402..403 ";"
        Whitespace@403..408 "\n    "
      STMT_EXPR@408..433
        EXPR_CALL@408..431
          EXPR_IDENT@408..415
            PATH@408..415
              Ident@408..415 "println"
          ARG_LIST@415..431
            LParen@415..416 "("
            ARG@416..430
              EXPR_CALL@416..430
                EXPR_BINARY@416..428
                  EXPR_IDENT@416..422
                    PATH@416..422
                      Ident@416..422 "second"
                  Dot@422..423 "."
                  EXPR_IDENT@423..428
                    PATH@423..428
                      Ident@423..428 "extra"
                ARG_LIST@428..430
                  LParen@428..429 "("
                  RParen@429..430 ")"
            RParen@430..431 ")"
        Semi@431..432 ";"
        Whitespace@432..433 "\n"
      RBrace@433..434 "}"
      Whitespace@434..435 "\n"