FILE@0..97
  Whitespace@0..1 "\n"
  FN@1..97
    FnKeyword@1..3 "fn"
    Whitespace@3..4 " "
    Ident@4..8 "main"
    PARAM_LIST@8..11
      LParen@8..9 "("
      RParen@9..10 ")"
      Whitespace@10..11 " "
    Arrow@11..13 "->"
    Whitespace@13..14 " "
    TYPE_UNIT@14..19
      UnitKeyword@14..18 "unit"
      Whitespace@18..19 " "
    BLOCK@19..97
      LBrace@19..20 "{"
      Whitespace@20..25 "\n    "
      STMT_LET@25..44
        LetKeyword@25..28 "let"
        Whitespace@28..29 " "
        MutKeyword@29..32 "mut"
        Whitespace@32..33 " "
        PATTERN_VARIABLE@33..35
          Ident@33..34 "x"
          Whitespace@34..35 " "
        Eq@35..36 "="
        Whitespace@36..37 " "
        EXPR_INT@37..38
          Int@37..38 "1"
        Semi@38..39 ";"
        Whitespace@39..44 "\n    "
      STMT_ASSIGN@44..59
        EXPR_IDENT@44..46
          PATH@44..46
            Ident@44..45 "x"
            Whitespace@45..46 " "
        Eq@46..47 "="
        Whitespace@47..48 " "
        EXPR_BINARY@48..53
          EXPR_IDENT@48..50
            PATH@48..50
              Ident@48..49 "x"
              Whitespace@49..50 " "
          Plus@50..51 "+"
          Whitespace@51..52 " "
          EXPR_INT@52..53
            Int@52..53 "1"
        Semi@53..54 ";"
        Whitespace@54..59 "\n    "
      STMT_EXPR@59..95
        EXPR_CALL@59..93
          EXPR_IDENT@59..73
            PATH@59..73
              Ident@59..73 "string_println"
          ARG_LIST@73..93
            LParen@73..74 "("
            ARG@74..92
              EXPR_CALL@74..92
                EXPR_IDENT@74..89
                  PATH@74..89
                    Ident@74..89 "int32_to_string"
                ARG_LIST@89..92
                  LParen@89..90 "("
                  ARG@90..91
                    EXPR_IDENT@90..91
                      PATH@90..91
                        Ident@90..91 "x"
                  RParen@91..92 ")"
            RParen@92..93 ")"
        Semi@93..94 ";"
        Whitespace@94..95 "\n"
      RBrace@95..96 "}"
      Whitespace@96..97 "\n"