FILE@0..765
  USE@0..13
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..11
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..11 "fs"
    Semi@11..12 ";"
    Whitespace@12..13 "\n"
  USE@13..27
    UseKeyword@13..16 "use"
    Whitespace@16..17 " "
    PATH@17..24
      Ident@17..20 "std"
      ColonColon@20..22 "::"
      Ident@22..24 "io"
    Semi@24..25 ";"
    Whitespace@25..27 "\n\n"
  FN@27..201
    FnKeyword@27..29 "fn"
    Whitespace@29..30 " "
    Ident@30..39 "show_unit"
    GENERIC_LIST@39..52
      LBracket@39..40 "["
      GENERIC@40..51
        Ident@40..41 "E"
        Colon@41..42 ":"
        Whitespace@42..43 " "
        TRAIT_SET@43..51
          TYPE_TAPP@43..51
            PATH@43..51
              Ident@43..51 "ToString"
      RBracket@51..52 "]"
    PARAM_LIST@52..76
      LParen@52..53 "("
      PARAM@53..74
        Ident@53..59 "result"
        Colon@59..60 ":"
        Whitespace@60..61 " "
        TYPE_TAPP@61..74
          PATH@61..67
            Ident@61..67 "Result"
          TYPE_PARAM_LIST@67..74
            LBracket@67..68 "["
            TYPE_TUPLE@68..70
              TYPE_LIST@68..70
                LParen@68..69 "("
                RParen@69..70 ")"
            Comma@70..71 ","
            Whitespace@71..72 " "
            TYPE_TAPP@72..73
              PATH@72..73
                Ident@72..73 "E"
            RBracket@73..74 "]"
      RParen@74..75 ")"
      Whitespace@75..76 " "
    Arrow@76..78 "->"
    Whitespace@78..79 " "
    TYPE_STRING@79..86
      StringKeyword@79..85 "string"
      Whitespace@85..86 " "
    BLOCK@86..201
      LBrace@86..87 "{"
      Whitespace@87..92 "\n    "
      EXPR_MATCH@92..198
        MatchKeyword@92..97 "match"
        Whitespace@97..98 " "
        EXPR_IDENT@98..105
          PATH@98..105
            Ident@98..104 "result"
            Whitespace@104..105 " "
        MATCH_ARM_LIST@105..198
          LBrace@105..106 "{"
          Whitespace@106..115 "\n        "
          MATCH_ARM@115..136
            PATTERN_CONSTR@115..129
              PATH@115..125
                Ident@115..121 "Result"
                ColonColon@121..123 "::"
                Ident@123..125 "Ok"
              LParen@125..126 "("
              PATTERN_WILDCARD@126..127
                WildcardKeyword@126..127 "_"
              RParen@127..128 ")"
              Whitespace@128..129 " "
            FatArrow@129..131 "=>"
            Whitespace@131..132 " "
            EXPR_STR@132..136
              Str@132..136 "\"ok\""
          Comma@136..137 ","
          Whitespace@137..146 "\n        "
          MATCH_ARM@146..190
            PATTERN_CONSTR@146..163
              PATH@146..157
                Ident@146..152 "Result"
                ColonColon@152..154 "::"
                Ident@154..157 "Err"
              LParen@157..158 "("
              PATTERN_VARIABLE@158..161
                Ident@158..161 "err"
              RParen@161..162 ")"
              Whitespace@162..163 " "
            FatArrow@163..165 "=>"
            Whitespace@165..166 " "
            EXPR_BINARY@166..190
              EXPR_STR@166..173
                Str@166..172 "\"err \""
                Whitespace@172..173 " "
              Plus@173..174 "+"
              Whitespace@174..175 " "
              EXPR_CALL@175..190
                EXPR_BINARY@175..188
                  EXPR_IDENT@175..178
                    PATH@175..178
                      Ident@175..178 "err"
                  Dot@178..179 "."
                  EXPR_IDENT@179..188
                    PATH@179..188
                      Ident@179..188 "to_string"
                ARG_LIST@188..190
                  LParen@188..189 "("
                  RParen@189..190 ")"
          Comma@190..191 ","
          Whitespace@191..196 "\n    "
          RBrace@196..197 "}"
          Whitespace@197..198 "\n"
      RBrace@198..199 "}"
      Whitespace@199..201 "\n\n"
  FN@201..386
    FnKeyword@201..203 "fn"
    Whitespace@203..204 " "
    Ident@204..215 "show_string"
    GENERIC_LIST@215..228
      LBracket@215..216 "["
      GENERIC@216..227
        Ident@216..217 "E"
        Colon@217..218 ":"
        Whitespace@218..219 " "
        TRAIT_SET@219..227
          TYPE_TAPP@219..227
            PATH@219..227
              Ident@219..227 "ToString"
      RBracket@227..228 "]"
    PARAM_LIST@228..256
      LParen@228..229 "("
      PARAM@229..254
        Ident@229..235 "result"
        Colon@235..236 ":"
        Whitespace@236..237 " "
        TYPE_TAPP@237..254
          PATH@237..243
            Ident@237..243 "Result"
          TYPE_PARAM_LIST@243..254
            LBracket@243..244 "["
            TYPE_STRING@244..250
              StringKeyword@244..250 "string"
            Comma@250..251 ","
            Whitespace@251..252 " "
            TYPE_TAPP@252..253
              PATH@252..253
                Ident@252..253 "E"
            RBracket@253..254 "]"
      RParen@254..255 ")"
      Whitespace@255..256 " "
    Arrow@256..258 "->"
    Whitespace@258..259 " "
    TYPE_STRING@259..266
      StringKeyword@259..265 "string"
      Whitespace@265..266 " "
    BLOCK@266..386
      LBrace@266..267 "{"
      Whitespace@267..272 "\n    "
      EXPR_MATCH@272..383
        MatchKeyword@272..277 "match"
        Whitespace@277..278 " "
        EXPR_IDENT@278..285
          PATH@278..285
            Ident@278..284 "result"
            Whitespace@284..285 " "
        MATCH_ARM_LIST@285..383
          LBrace@285..286 "{"
          Whitespace@286..295 "\n        "
          MATCH_ARM@295..321
            PATTERN_CONSTR@295..313
              PATH@295..305
                Ident@295..301 "Result"
                ColonColon@301..303 "::"
                Ident@303..305 "Ok"
              LParen@305..306 "("
              PATTERN_VARIABLE@306..311
                Ident@306..311 "value"
              RParen@311..312 ")"
              Whitespace@312..313 " "
            FatArrow@313..315 "=>"
            Whitespace@315..316 " "
            EXPR_IDENT@316..321
              PATH@316..321
                Ident@316..321 "value"
          Comma@321..322 ","
          Whitespace@322..331 "\n        "
          MATCH_ARM@331..375
            PATTERN_CONSTR@331..348
              PATH@331..342
                Ident@331..337 "Result"
                ColonColon@337..339 "::"
                Ident@339..342 "Err"
              LParen@342..343 "("
              PATTERN_VARIABLE@343..346
                Ident@343..346 "err"
              RParen@346..347 ")"
              Whitespace@347..348 " "
            FatArrow@348..350 "=>"
            Whitespace@350..351 " "
            EXPR_BINARY@351..375
              EXPR_STR@351..358
                Str@351..357 "\"err \""
                Whitespace@357..358 " "
              Plus@358..359 "+"
              Whitespace@359..360 " "
              EXPR_CALL@360..375
                EXPR_BINARY@360..373
                  EXPR_IDENT@360..363
                    PATH@360..363
                      Ident@360..363 "err"
                  Dot@363..364 "."
                  EXPR_IDENT@364..373
                    PATH@364..373
                      Ident@364..373 "to_string"
                ARG_LIST@373..375
                  LParen@373..374 "("
                  RParen@374..375 ")"
          Comma@375..376 ","
          Whitespace@376..381 "\n    "
          RBrace@381..382 "}"
          Whitespace@382..383 "\n"
      RBrace@383..384 "}"
      Whitespace@384..386 "\n\n"
  FN@386..765
    FnKeyword@386..388 "fn"
    Whitespace@388..389 " "
    Ident@389..393 "main"
    PARAM_LIST@393..396
      LParen@393..394 "("
      RParen@394..395 ")"
      Whitespace@395..396 " "
    Arrow@396..398 "->"
    Whitespace@398..399 " "
    TYPE_TUPLE@399..402
      TYPE_LIST@399..402
        LParen@399..400 "("
        RParen@400..401 ")"
        Whitespace@401..402 " "
    BLOCK@402..765
      LBrace@402..403 "{"
      Whitespace@403..408 "\n    "
      STMT_EXPR@408..462
        EXPR_CALL@408..456
          EXPR_IDENT@408..419
            PATH@408..419
              Ident@408..410 "io"
              ColonColon@410..412 "::"
              Ident@412..419 "println"
          ARG_LIST@419..456
            LParen@419..420 "("
            ARG@420..455
              EXPR_CALL@420..455
                EXPR_IDENT@420..437
                  PATH@420..437
                    Ident@420..437 "string_byte_slice"
                ARG_LIST@437..455
                  LParen@437..438 "("
                  ARG@438..450
                    EXPR_STR@438..448
                      Str@438..448 "\"a你好z\""
                    Comma@448..449 ","
                    Whitespace@449..450 " "
                  ARG@450..453
                    EXPR_INT@450..451
                      Int@450..451 "1"
                    Comma@451..452 ","
                    Whitespace@452..453 " "
                  ARG@453..454
                    EXPR_INT@453..454
                      Int@453..454 "7"
                  RParen@454..455 ")"
            RParen@455..456 ")"
        Semi@456..457 ";"
        Whitespace@457..462 "\n    "
      STMT_EXPR@462..482
        EXPR_CALL@462..476
          EXPR_IDENT@462..472
            PATH@462..472
              Ident@462..464 "io"
              ColonColon@464..466 "::"
              Ident@466..472 "eprint"
          ARG_LIST@472..476
            LParen@472..473 "("
            ARG@473..475
              EXPR_STR@473..475
                Str@473..475 "\"\""
            RParen@475..476 ")"
        Semi@476..477 ";"
        Whitespace@477..482 "\n    "
      STMT_EXPR@482..504
        EXPR_CALL@482..498
          EXPR_IDENT@482..494
            PATH@482..494
              Ident@482..484 "io"
              ColonColon@484..486 "::"
              Ident@486..494 "eprintln"
          ARG_LIST@494..498
            LParen@494..495 "("
            ARG@495..497
              EXPR_STR@495..497
                Str@495..497 "\"\""
            RParen@497..498 ")"
        Semi@498..499 ";"
        Whitespace@499..504 "\n    "
      STMT_EXPR@504..577
        EXPR_CALL@504..571
          EXPR_IDENT@504..515
            PATH@504..515
              Ident@504..506 "io"
              ColonColon@506..508 "::"
              Ident@508..515 "println"
          ARG_LIST@515..571
            LParen@515..516 "("
            ARG@516..570
              EXPR_CALL@516..570
                EXPR_IDENT@516..525
                  PATH@516..525
                    Ident@516..525 "show_unit"
                ARG_LIST@525..570
                  LParen@525..526 "("
                  ARG@526..569
                    EXPR_CALL@526..569
                      EXPR_IDENT@526..544
                        PATH@526..544
                          Ident@526..528 "fs"
                          ColonColon@528..530 "::"
                          Ident@530..544 "create_dir_all"
                      ARG_LIST@544..569
                        LParen@544..545 "("
                        ARG@545..568
                          EXPR_STR@545..568
                            Str@545..568 "\"goml-self-host/nested\""
                        RParen@568..569 ")"
                  RParen@569..570 ")"
            RParen@570..571 ")"
        Semi@571..572 ";"
        Whitespace@572..577 "\n    "
      STMT_EXPR@577..676
        EXPR_CALL@577..670
          EXPR_IDENT@577..588
            PATH@577..588
              Ident@577..579 "io"
              ColonColon@579..581 "::"
              Ident@581..588 "println"
          ARG_LIST@588..670
            LParen@588..589 "("
            ARG@589..669
              EXPR_CALL@589..669
                EXPR_IDENT@589..598
                  PATH@589..598
                    Ident@589..598 "show_unit"
                ARG_LIST@598..669
                  LParen@598..599 "("
                  ARG@599..668
                    EXPR_CALL@599..668
                      EXPR_IDENT@599..624
                        PATH@599..624
                          Ident@599..601 "fs"
                          ColonColon@601..603 "::"
                          Ident@603..624 "write_file_structured"
                      ARG_LIST@624..668
                        LParen@624..625 "("
                        ARG@625..661
                          EXPR_STR@625..659
                            Str@625..659 "\"goml-self-host/neste ..."
                          Comma@659..660 ","
                          Whitespace@660..661 " "
                        ARG@661..667
                          EXPR_STR@661..667
                            Str@661..667 "\"boot\""
                        RParen@667..668 ")"
                  RParen@668..669 ")"
            RParen@669..670 ")"
        Semi@670..671 ";"
        Whitespace@671..676 "\n    "
      EXPR_CALL@676..763
        EXPR_IDENT@676..687
          PATH@676..687
            Ident@676..678 "io"
            ColonColon@678..680 "::"
            Ident@680..687 "println"
        ARG_LIST@687..763
          LParen@687..688 "("
          ARG@688..761
            EXPR_CALL@688..761
              EXPR_IDENT@688..699
                PATH@688..699
                  Ident@688..699 "show_string"
              ARG_LIST@699..761
                LParen@699..700 "("
                ARG@700..760
                  EXPR_CALL@700..760
                    EXPR_IDENT@700..724
                      PATH@700..724
                        Ident@700..702 "fs"
                        ColonColon@702..704 "::"
                        Ident@704..724 "read_file_structured"
                    ARG_LIST@724..760
                      LParen@724..725 "("
                      ARG@725..759
                        EXPR_STR@725..759
                          Str@725..759 "\"goml-self-host/neste ..."
                      RParen@759..760 ")"
                RParen@760..761 ")"
          RParen@761..762 ")"
          Whitespace@762..763 "\n"
      RBrace@763..764 "}"
      Whitespace@764..765 "\n"