FILE@0..703
  USE@0..13
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..11
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..11 "fs"
    Semi@11..12 ";"
    Whitespace@12..13 "\n"
  USE@13..27
    UseKeyword@13..16 "use"
    Whitespace@16..17 " "
    PATH@17..24
      Ident@17..20 "std"
      ColonColon@20..22 "::"
      Ident@22..24 "io"
    Semi@24..25 ";"
    Whitespace@25..27 "\n\n"
  FN@27..181
    FnKeyword@27..29 "fn"
    Whitespace@29..30 " "
    Ident@30..39 "show_unit"
    PARAM_LIST@39..68
      LParen@39..40 "("
      PARAM@40..66
        Ident@40..46 "result"
        Colon@46..47 ":"
        Whitespace@47..48 " "
        TYPE_TAPP@48..66
          PATH@48..54
            Ident@48..54 "Result"
          TYPE_PARAM_LIST@54..66
            LBracket@54..55 "["
            TYPE_TUPLE@55..57
              TYPE_LIST@55..57
                LParen@55..56 "("
                RParen@56..57 ")"
            Comma@57..58 ","
            Whitespace@58..59 " "
            TYPE_STRING@59..65
              StringKeyword@59..65 "string"
            RBracket@65..66 "]"
      RParen@66..67 ")"
      Whitespace@67..68 " "
    Arrow@68..70 "->"
    Whitespace@70..71 " "
    TYPE_STRING@71..78
      StringKeyword@71..77 "string"
      Whitespace@77..78 " "
    BLOCK@78..181
      LBrace@78..79 "{"
      Whitespace@79..84 "\n    "
      EXPR_MATCH@84..178
        MatchKeyword@84..89 "match"
        Whitespace@89..90 " "
        EXPR_IDENT@90..97
          PATH@90..97
            Ident@90..96 "result"
            Whitespace@96..97 " "
        MATCH_ARM_LIST@97..178
          LBrace@97..98 "{"
          Whitespace@98..107 "\n        "
          MATCH_ARM@107..128
            PATTERN_CONSTR@107..121
              PATH@107..117
                Ident@107..113 "Result"
                ColonColon@113..115 "::"
                Ident@115..117 "Ok"
              LParen@117..118 "("
              PATTERN_WILDCARD@118..119
                WildcardKeyword@118..119 "_"
              RParen@119..120 ")"
              Whitespace@120..121 " "
            FatArrow@121..123 "=>"
            Whitespace@123..124 " "
            EXPR_STR@124..128
              Str@124..128 "\"ok\""
          Comma@128..129 ","
          Whitespace@129..138 "\n        "
          MATCH_ARM@138..170
            PATTERN_CONSTR@138..155
              PATH@138..149
                Ident@138..144 "Result"
                ColonColon@144..146 "::"
                Ident@146..149 "Err"
              LParen@149..150 "("
              PATTERN_VARIABLE@150..153
                Ident@150..153 "err"
              RParen@153..154 ")"
              Whitespace@154..155 " "
            FatArrow@155..157 "=>"
            Whitespace@157..158 " "
            EXPR_BINARY@158..170
              EXPR_STR@158..165
                Str@158..164 "\"err \""
                Whitespace@164..165 " "
              Plus@165..166 "+"
              Whitespace@166..167 " "
              EXPR_IDENT@167..170
                PATH@167..170
                  Ident@167..170 "err"
          Comma@170..171 ","
          Whitespace@171..176 "\n    "
          RBrace@176..177 "}"
          Whitespace@177..178 "\n"
      RBrace@178..179 "}"
      Whitespace@179..181 "\n\n"
  FN@181..346
    FnKeyword@181..183 "fn"
    Whitespace@183..184 " "
    Ident@184..195 "show_string"
    PARAM_LIST@195..228
      LParen@195..196 "("
      PARAM@196..226
        Ident@196..202 "result"
        Colon@202..203 ":"
        Whitespace@203..204 " "
        TYPE_TAPP@204..226
          PATH@204..210
            Ident@204..210 "Result"
          TYPE_PARAM_LIST@210..226
            LBracket@210..211 "["
            TYPE_STRING@211..217
              StringKeyword@211..217 "string"
            Comma@217..218 ","
            Whitespace@218..219 " "
            TYPE_STRING@219..225
              StringKeyword@219..225 "string"
            RBracket@225..226 "]"
      RParen@226..227 ")"
      Whitespace@227..228 " "
    Arrow@228..230 "->"
    Whitespace@230..231 " "
    TYPE_STRING@231..238
      StringKeyword@231..237 "string"
      Whitespace@237..238 " "
    BLOCK@238..346
      LBrace@238..239 "{"
      Whitespace@239..244 "\n    "
      EXPR_MATCH@244..343
        MatchKeyword@244..249 "match"
        Whitespace@249..250 " "
        EXPR_IDENT@250..257
          PATH@250..257
            Ident@250..256 "result"
            Whitespace@256..257 " "
        MATCH_ARM_LIST@257..343
          LBrace@257..258 "{"
          Whitespace@258..267 "\n        "
          MATCH_ARM@267..293
            PATTERN_CONSTR@267..285
              PATH@267..277
                Ident@267..273 "Result"
                ColonColon@273..275 "::"
                Ident@275..277 "Ok"
              LParen@277..278 "("
              PATTERN_VARIABLE@278..283
                Ident@278..283 "value"
              RParen@283..284 ")"
              Whitespace@284..285 " "
            FatArrow@285..287 "=>"
            Whitespace@287..288 " "
            EXPR_IDENT@288..293
              PATH@288..293
                Ident@288..293 "value"
          Comma@293..294 ","
          Whitespace@294..303 "\n        "
          MATCH_ARM@303..335
            PATTERN_CONSTR@303..320
              PATH@303..314
                Ident@303..309 "Result"
                ColonColon@309..311 "::"
                Ident@311..314 "Err"
              LParen@314..315 "("
              PATTERN_VARIABLE@315..318
                Ident@315..318 "err"
              RParen@318..319 ")"
              Whitespace@319..320 " "
            FatArrow@320..322 "=>"
            Whitespace@322..323 " "
            EXPR_BINARY@323..335
              EXPR_STR@323..330
                Str@323..329 "\"err \""
                Whitespace@329..330 " "
              Plus@330..331 "+"
              Whitespace@331..332 " "
              EXPR_IDENT@332..335
                PATH@332..335
                  Ident@332..335 "err"
          Comma@335..336 ","
          Whitespace@336..341 "\n    "
          RBrace@341..342 "}"
          Whitespace@342..343 "\n"
      RBrace@343..344 "}"
      Whitespace@344..346 "\n\n"
  FN@346..703
    FnKeyword@346..348 "fn"
    Whitespace@348..349 " "
    Ident@349..353 "main"
    PARAM_LIST@353..356
      LParen@353..354 "("
      RParen@354..355 ")"
      Whitespace@355..356 " "
    Arrow@356..358 "->"
    Whitespace@358..359 " "
    TYPE_TUPLE@359..362
      TYPE_LIST@359..362
        LParen@359..360 "("
        RParen@360..361 ")"
        Whitespace@361..362 " "
    BLOCK@362..703
      LBrace@362..363 "{"
      Whitespace@363..368 "\n    "
      STMT_EXPR@368..422
        EXPR_CALL@368..416
          EXPR_IDENT@368..379
            PATH@368..379
              Ident@368..370 "io"
              ColonColon@370..372 "::"
              Ident@372..379 "println"
          ARG_LIST@379..416
            LParen@379..380 "("
            ARG@380..415
              EXPR_CALL@380..415
                EXPR_IDENT@380..397
                  PATH@380..397
                    Ident@380..397 "string_byte_slice"
                ARG_LIST@397..415
                  LParen@397..398 "("
                  ARG@398..410
                    EXPR_STR@398..408
                      Str@398..408 "\"a你好z\""
                    Comma@408..409 ","
                    Whitespace@409..410 " "
                  ARG@410..413
                    EXPR_INT@410..411
                      Int@410..411 "1"
                    Comma@411..412 ","
                    Whitespace@412..413 " "
                  ARG@413..414
                    EXPR_INT@413..414
                      Int@413..414 "7"
                  RParen@414..415 ")"
            RParen@415..416 ")"
        Semi@416..417 ";"
        Whitespace@417..422 "\n    "
      STMT_EXPR@422..442
        EXPR_CALL@422..436
          EXPR_IDENT@422..432
            PATH@422..432
              Ident@422..424 "io"
              ColonColon@424..426 "::"
              Ident@426..432 "eprint"
          ARG_LIST@432..436
            LParen@432..433 "("
            ARG@433..435
              EXPR_STR@433..435
                Str@433..435 "\"\""
            RParen@435..436 ")"
        Semi@436..437 ";"
        Whitespace@437..442 "\n    "
      STMT_EXPR@442..464
        EXPR_CALL@442..458
          EXPR_IDENT@442..454
            PATH@442..454
              Ident@442..444 "io"
              ColonColon@444..446 "::"
              Ident@446..454 "eprintln"
          ARG_LIST@454..458
            LParen@454..455 "("
            ARG@455..457
              EXPR_STR@455..457
                Str@455..457 "\"\""
            RParen@457..458 ")"
        Semi@458..459 ";"
        Whitespace@459..464 "\n    "
      STMT_EXPR@464..537
        EXPR_CALL@464..531
          EXPR_IDENT@464..475
            PATH@464..475
              Ident@464..466 "io"
              ColonColon@466..468 "::"
              Ident@468..475 "println"
          ARG_LIST@475..531
            LParen@475..476 "("
            ARG@476..530
              EXPR_CALL@476..530
                EXPR_IDENT@476..485
                  PATH@476..485
                    Ident@476..485 "show_unit"
                ARG_LIST@485..530
                  LParen@485..486 "("
                  ARG@486..529
                    EXPR_CALL@486..529
                      EXPR_IDENT@486..504
                        PATH@486..504
                          Ident@486..488 "fs"
                          ColonColon@488..490 "::"
                          Ident@490..504 "create_dir_all"
                      ARG_LIST@504..529
                        LParen@504..505 "("
                        ARG@505..528
                          EXPR_STR@505..528
                            Str@505..528 "\"goml-self-host/nested\""
                        RParen@528..529 ")"
                  RParen@529..530 ")"
            RParen@530..531 ")"
        Semi@531..532 ";"
        Whitespace@532..537 "\n    "
      STMT_EXPR@537..625
        EXPR_CALL@537..619
          EXPR_IDENT@537..548
            PATH@537..548
              Ident@537..539 "io"
              ColonColon@539..541 "::"
              Ident@541..548 "println"
          ARG_LIST@548..619
            LParen@548..549 "("
            ARG@549..618
              EXPR_CALL@549..618
                EXPR_IDENT@549..558
                  PATH@549..558
                    Ident@549..558 "show_unit"
                ARG_LIST@558..618
                  LParen@558..559 "("
                  ARG@559..617
                    EXPR_CALL@559..617
                      EXPR_IDENT@559..573
                        PATH@559..573
                          Ident@559..561 "fs"
                          ColonColon@561..563 "::"
                          Ident@563..573 "write_file"
                      ARG_LIST@573..617
                        LParen@573..574 "("
                        ARG@574..610
                          EXPR_STR@574..608
                            Str@574..608 "\"goml-self-host/neste ..."
                          Comma@608..609 ","
                          Whitespace@609..610 " "
                        ARG@610..616
                          EXPR_STR@610..616
                            Str@610..616 "\"boot\""
                        RParen@616..617 ")"
                  RParen@617..618 ")"
            RParen@618..619 ")"
        Semi@619..620 ";"
        Whitespace@620..625 "\n    "
      EXPR_CALL@625..701
        EXPR_IDENT@625..636
          PATH@625..636
            Ident@625..627 "io"
            ColonColon@627..629 "::"
            Ident@629..636 "println"
        ARG_LIST@636..701
          LParen@636..637 "("
          ARG@637..699
            EXPR_CALL@637..699
              EXPR_IDENT@637..648
                PATH@637..648
                  Ident@637..648 "show_string"
              ARG_LIST@648..699
                LParen@648..649 "("
                ARG@649..698
                  EXPR_CALL@649..698
                    EXPR_IDENT@649..662
                      PATH@649..662
                        Ident@649..651 "fs"
                        ColonColon@651..653 "::"
                        Ident@653..662 "read_file"
                    ARG_LIST@662..698
                      LParen@662..663 "("
                      ARG@663..697
                        EXPR_STR@663..697
                          Str@663..697 "\"goml-self-host/neste ..."
                      RParen@697..698 ")"
                RParen@698..699 ")"
          RParen@699..700 ")"
          Whitespace@700..701 "\n"
      RBrace@701..702 "}"
      Whitespace@702..703 "\n"