FILE@0..563
  FN@0..308
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..20 "test_nested_match"
    PARAM_LIST@20..55
      LParen@20..21 "("
      PARAM@21..38
        Ident@21..22 "x"
        Colon@22..23 ":"
        Whitespace@23..24 " "
        TYPE_TUPLE@24..36
          TYPE_LIST@24..36
            LParen@24..25 "("
            TYPE_BOOL@25..29
              BoolKeyword@25..29 "bool"
            Comma@29..30 ","
            Whitespace@30..31 " "
            TYPE_BOOL@31..35
              BoolKeyword@31..35 "bool"
            RParen@35..36 ")"
        Comma@36..37 ","
        Whitespace@37..38 " "
      PARAM@38..53
        Ident@38..39 "y"
        Colon@39..40 ":"
        Whitespace@40..41 " "
        TYPE_TUPLE@41..53
          TYPE_LIST@41..53
            LParen@41..42 "("
            TYPE_BOOL@42..46
              BoolKeyword@42..46 "bool"
            Comma@46..47 ","
            Whitespace@47..48 " "
            TYPE_BOOL@48..52
              BoolKeyword@48..52 "bool"
            RParen@52..53 ")"
      RParen@53..54 ")"
      Whitespace@54..55 " "
    BLOCK@55..308
      LBrace@55..56 "{"
      Whitespace@56..59 "\n  "
      EXPR_MATCH@59..303
        MatchKeyword@59..64 "match"
        Whitespace@64..65 " "
        EXPR_IDENT@65..67
          PATH@65..67
            Ident@65..66 "x"
            Whitespace@66..67 " "
        MATCH_ARM_LIST@67..303
          LBrace@67..68 "{"
          Whitespace@68..73 "\n    "
          MATCH_ARM@73..188
            PATTERN_TUPLE@73..87
              LParen@73..74 "("
              PATTERN_BOOL@74..78
                TrueKeyword@74..78 "true"
              Comma@78..79 ","
              Whitespace@79..80 " "
              PATTERN_BOOL@80..85
                FalseKeyword@80..85 "false"
              RParen@85..86 ")"
              Whitespace@86..87 " "
            FatArrow@87..89 "=>"
            Whitespace@89..97 " \n      "
            EXPR_MATCH@97..188
              MatchKeyword@97..102 "match"
              Whitespace@102..103 " "
              EXPR_IDENT@103..105
                PATH@103..105
                  Ident@103..104 "y"
                  Whitespace@104..105 " "
              MATCH_ARM_LIST@105..188
                LBrace@105..106 "{"
                Whitespace@106..115 "\n        "
                MATCH_ARM@115..148
                  PATTERN_TUPLE@115..129
                    LParen@115..116 "("
                    PATTERN_BOOL@116..121
                      FalseKeyword@116..121 "false"
                    Comma@121..122 ","
                    Whitespace@122..123 " "
                    PATTERN_BOOL@123..127
                      TrueKeyword@123..127 "true"
                    RParen@127..128 ")"
                    Whitespace@128..129 " "
                  FatArrow@129..131 "=>"
                  Whitespace@131..132 " "
                  EXPR_CALL@132..148
                    EXPR_IDENT@132..139
                      PATH@132..139
                        Ident@132..139 "println"
                    ARG_LIST@139..148
                      LParen@139..140 "("
                      ARG@140..147
                        EXPR_STR@140..147
                          Str@140..147 "\"case1\""
                      RParen@147..148 ")"
                Comma@148..149 ","
                Whitespace@149..158 "\n        "
                MATCH_ARM@158..179
                  PATTERN_WILDCARD@158..160
                    WildcardKeyword@158..159 "_"
                    Whitespace@159..160 " "
                  FatArrow@160..162 "=>"
                  Whitespace@162..163 " "
                  EXPR_CALL@163..179
                    EXPR_IDENT@163..170
                      PATH@163..170
                        Ident@163..170 "println"
                    ARG_LIST@170..179
                      LParen@170..171 "("
                      ARG@171..178
                        EXPR_STR@171..178
                          Str@171..178 "\"case2\""
                      RParen@178..179 ")"
                Comma@179..180 ","
                Whitespace@180..187 "\n      "
                RBrace@187..188 "}"
          Comma@188..189 ","
          Whitespace@189..194 "\n    "
          MATCH_ARM@194..297
            PATTERN_WILDCARD@194..196
              WildcardKeyword@194..195 "_"
              Whitespace@195..196 " "
            FatArrow@196..198 "=>"
            Whitespace@198..206 " \n      "
            EXPR_MATCH@206..297
              MatchKeyword@206..211 "match"
              Whitespace@211..212 " "
              EXPR_IDENT@212..214
                PATH@212..214
                  Ident@212..213 "y"
                  Whitespace@213..214 " "
              MATCH_ARM_LIST@214..297
                LBrace@214..215 "{"
                Whitespace@215..224 "\n        "
                MATCH_ARM@224..257
                  PATTERN_TUPLE@224..238
                    LParen@224..225 "("
                    PATTERN_BOOL@225..230
                      FalseKeyword@225..230 "false"
                    Comma@230..231 ","
                    Whitespace@231..232 " "
                    PATTERN_BOOL@232..236
                      TrueKeyword@232..236 "true"
                    RParen@236..237 ")"
                    Whitespace@237..238 " "
                  FatArrow@238..240 "=>"
                  Whitespace@240..241 " "
                  EXPR_CALL@241..257
                    EXPR_IDENT@241..248
                      PATH@241..248
                        Ident@241..248 "println"
                    ARG_LIST@248..257
                      LParen@248..249 "("
                      ARG@249..256
                        EXPR_STR@249..256
                          Str@249..256 "\"case3\""
                      RParen@256..257 ")"
                Comma@257..258 ","
                Whitespace@258..267 "\n        "
                MATCH_ARM@267..288
                  PATTERN_WILDCARD@267..269
                    WildcardKeyword@267..268 "_"
                    Whitespace@268..269 " "
                  FatArrow@269..271 "=>"
                  Whitespace@271..272 " "
                  EXPR_CALL@272..288
                    EXPR_IDENT@272..279
                      PATH@272..279
                        Ident@272..279 "println"
                    ARG_LIST@279..288
                      LParen@279..280 "("
                      ARG@280..287
                        EXPR_STR@280..287
                          Str@280..287 "\"case4\""
                      RParen@287..288 ")"
                Comma@288..289 ","
                Whitespace@289..296 "\n      "
                RBrace@296..297 "}"
          Comma@297..298 ","
          Whitespace@298..301 "\n  "
          RBrace@301..302 "}"
          Whitespace@302..303 "\n"
      RBrace@303..304 "}"
      Whitespace@304..308 "\n\n\n\n"
  FN@308..563
    FnKeyword@308..310 "fn"
    Whitespace@310..311 " "
    Ident@311..315 "main"
    PARAM_LIST@315..318
      LParen@315..316 "("
      RParen@316..317 ")"
      Whitespace@317..318 " "
    BLOCK@318..563
      LBrace@318..319 "{"
      Whitespace@319..322 "\n  "
      STMT_LET@322..381
        LetKeyword@322..325 "let"
        Whitespace@325..326 " "
        PATTERN_WILDCARD@326..328
          WildcardKeyword@326..327 "_"
          Whitespace@327..328 " "
        Eq@328..329 "="
        Whitespace@329..330 " "
        EXPR_CALL@330..377
          EXPR_IDENT@330..347
            PATH@330..347
              Ident@330..347 "test_nested_match"
          ARG_LIST@347..377
            LParen@347..348 "("
            ARG@348..363
              EXPR_TUPLE@348..361
                LParen@348..349 "("
                EXPR_BOOL@349..353
                  TrueKeyword@349..353 "true"
                Comma@353..354 ","
                Whitespace@354..355 " "
                EXPR_BOOL@355..360
                  FalseKeyword@355..360 "false"
                RParen@360..361 ")"
              Comma@361..362 ","
              Whitespace@362..363 " "
            ARG@363..376
              EXPR_TUPLE@363..376
                LParen@363..364 "("
                EXPR_BOOL@364..369
                  FalseKeyword@364..369 "false"
                Comma@369..370 ","
                Whitespace@370..371 " "
                EXPR_BOOL@371..375
                  TrueKeyword@371..375 "true"
                RParen@375..376 ")"
            RParen@376..377 ")"
        Semi@377..378 ";"
        Whitespace@378..381 "\n  "
      STMT_LET@381..440
        LetKeyword@381..384 "let"
        Whitespace@384..385 " "
        PATTERN_WILDCARD@385..387
          WildcardKeyword@385..386 "_"
          Whitespace@386..387 " "
        Eq@387..388 "="
        Whitespace@388..389 " "
        EXPR_CALL@389..436
          EXPR_IDENT@389..406
            PATH@389..406
              Ident@389..406 "test_nested_match"
          ARG_LIST@406..436
            LParen@406..407 "("
            ARG@407..422
              EXPR_TUPLE@407..420
                LParen@407..408 "("
                EXPR_BOOL@408..412
                  TrueKeyword@408..412 "true"
                Comma@412..413 ","
                Whitespace@413..414 " "
                EXPR_BOOL@414..419
                  FalseKeyword@414..419 "false"
                RParen@419..420 ")"
              Comma@420..421 ","
              Whitespace@421..422 " "
            ARG@422..435
              EXPR_TUPLE@422..435
                LParen@422..423 "("
                EXPR_BOOL@423..427
                  TrueKeyword@423..427 "true"
                Comma@427..428 ","
                Whitespace@428..429 " "
                EXPR_BOOL@429..434
                  FalseKeyword@429..434 "false"
                RParen@434..435 ")"
            RParen@435..436 ")"
        Semi@436..437 ";"
        Whitespace@437..440 "\n  "
      STMT_LET@440..499
        LetKeyword@440..443 "let"
        Whitespace@443..444 " "
        PATTERN_WILDCARD@444..446
          WildcardKeyword@444..445 "_"
          Whitespace@445..446 " "
        Eq@446..447 "="
        Whitespace@447..448 " "
        EXPR_CALL@448..495
          EXPR_IDENT@448..465
            PATH@448..465
              Ident@448..465 "test_nested_match"
          ARG_LIST@465..495
            LParen@465..466 "("
            ARG@466..481
              EXPR_TUPLE@466..479
                LParen@466..467 "("
                EXPR_BOOL@467..472
                  FalseKeyword@467..472 "false"
                Comma@472..473 ","
                Whitespace@473..474 " "
                EXPR_BOOL@474..478
                  TrueKeyword@474..478 "true"
                RParen@478..479 ")"
              Comma@479..480 ","
              Whitespace@480..481 " "
            ARG@481..494
              EXPR_TUPLE@481..494
                LParen@481..482 "("
                EXPR_BOOL@482..487
                  FalseKeyword@482..487 "false"
                Comma@487..488 ","
                Whitespace@488..489 " "
                EXPR_BOOL@489..493
                  TrueKeyword@489..493 "true"
                RParen@493..494 ")"
            RParen@494..495 ")"
        Semi@495..496 ";"
        Whitespace@496..499 "\n  "
      STMT_LET@499..558
        LetKeyword@499..502 "let"
        Whitespace@502..503 " "
        PATTERN_WILDCARD@503..505
          WildcardKeyword@503..504 "_"
          Whitespace@504..505 " "
        Eq@505..506 "="
        Whitespace@506..507 " "
        EXPR_CALL@507..554
          EXPR_IDENT@507..524
            PATH@507..524
              Ident@507..524 "test_nested_match"
          ARG_LIST@524..554
            LParen@524..525 "("
            ARG@525..540
              EXPR_TUPLE@525..538
                LParen@525..526 "("
                EXPR_BOOL@526..531
                  FalseKeyword@526..531 "false"
                Comma@531..532 ","
                Whitespace@532..533 " "
                EXPR_BOOL@533..537
                  TrueKeyword@533..537 "true"
                RParen@537..538 ")"
              Comma@538..539 ","
              Whitespace@539..540 " "
            ARG@540..553
              EXPR_TUPLE@540..553
                LParen@540..541 "("
                EXPR_BOOL@541..545
                  TrueKeyword@541..545 "true"
                Comma@545..546 ","
                Whitespace@546..547 " "
                EXPR_BOOL@547..552
                  FalseKeyword@547..552 "false"
                RParen@552..553 ")"
            RParen@553..554 ")"
        Semi@554..555 ";"
        Whitespace@555..558 "\n  "
      EXPR_UNIT@558..561
        LParen@558..559 "("
        RParen@559..560 ")"
        Whitespace@560..561 "\n"
      RBrace@561..562 "}"
      Whitespace@562..563 "\n"