FILE@0..1920
  STRUCT@0..55
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..15 "PairData"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    STRUCT_FIELD_LIST@22..55
      STRUCT_FIELD@22..33
        Ident@22..26 "head"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..33
          Int32Keyword@28..33 "int32"
      Comma@33..34 ","
      Whitespace@34..39 "\n    "
      STRUCT_FIELD@39..50
        Ident@39..43 "tail"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_INT64@45..50
          Int64Keyword@45..50 "int64"
      Comma@50..51 ","
      Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  FN@55..178
    FnKeyword@55..57 "fn"
    Whitespace@57..58 " "
    Ident@58..69 "is_special8"
    PARAM_LIST@69..83
      LParen@69..70 "("
      PARAM@70..81
        Ident@70..75 "value"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TYPE_INT8@77..81
          Int8Keyword@77..81 "int8"
      RParen@81..82 ")"
      Whitespace@82..83 " "
    Arrow@83..85 "->"
    Whitespace@85..86 " "
    TYPE_BOOL@86..91
      BoolKeyword@86..90 "bool"
      Whitespace@90..91 " "
    BLOCK@91..178
      LBrace@91..92 "{"
      Whitespace@92..97 "\n    "
      EXPR_MATCH@97..175
        MatchKeyword@97..102 "match"
        Whitespace@102..103 " "
        EXPR_IDENT@103..109
          PATH@103..109
            Ident@103..108 "value"
            Whitespace@108..109 " "
        MATCH_ARM_LIST@109..175
          LBrace@109..110 "{"
          Whitespace@110..119 "\n        "
          MATCH_ARM@119..128
            PATTERN_INT@119..121
              Int@119..120 "5"
              Whitespace@120..121 " "
            FatArrow@121..123 "=>"
            Whitespace@123..124 " "
            EXPR_BOOL@124..128
              TrueKeyword@124..128 "true"
          Comma@128..129 ","
          Whitespace@129..138 "\n        "
          MATCH_ARM@138..147
            PATTERN_INT@138..140
              Int@138..139 "7"
              Whitespace@139..140 " "
            FatArrow@140..142 "=>"
            Whitespace@142..143 " "
            EXPR_BOOL@143..147
              TrueKeyword@143..147 "true"
          Comma@147..148 ","
          Whitespace@148..157 "\n        "
          MATCH_ARM@157..167
            PATTERN_WILDCARD@157..159
              WildcardKeyword@157..158 "_"
              Whitespace@158..159 " "
            FatArrow@159..161 "=>"
            Whitespace@161..162 " "
            EXPR_BOOL@162..167
              FalseKeyword@162..167 "false"
          Comma@167..168 ","
          Whitespace@168..173 "\n    "
          RBrace@173..174 "}"
          Whitespace@174..175 "\n"
      RBrace@175..176 "}"
      Whitespace@176..178 "\n\n"
  FN@178..309
    FnKeyword@178..180 "fn"
    Whitespace@180..181 " "
    Ident@181..193 "is_special16"
    PARAM_LIST@193..208
      LParen@193..194 "("
      PARAM@194..206
        Ident@194..199 "value"
        Colon@199..200 ":"
        Whitespace@200..201 " "
        TYPE_INT16@201..206
          Int16Keyword@201..206 "int16"
      RParen@206..207 ")"
      Whitespace@207..208 " "
    Arrow@208..210 "->"
    Whitespace@210..211 " "
    TYPE_BOOL@211..216
      BoolKeyword@211..215 "bool"
      Whitespace@215..216 " "
    BLOCK@216..309
      LBrace@216..217 "{"
      Whitespace@217..222 "\n    "
      EXPR_MATCH@222..306
        MatchKeyword@222..227 "match"
        Whitespace@227..228 " "
        EXPR_IDENT@228..234
          PATH@228..234
            Ident@228..233 "value"
            Whitespace@233..234 " "
        MATCH_ARM_LIST@234..306
          LBrace@234..235 "{"
          Whitespace@235..244 "\n        "
          MATCH_ARM@244..256
            PATTERN_INT@244..249
              Int@244..248 "1024"
              Whitespace@248..249 " "
            FatArrow@249..251 "=>"
            Whitespace@251..252 " "
            EXPR_BOOL@252..256
              TrueKeyword@252..256 "true"
          Comma@256..257 ","
          Whitespace@257..266 "\n        "
          MATCH_ARM@266..278
            PATTERN_INT@266..271
              Int@266..270 "2048"
              Whitespace@270..271 " "
            FatArrow@271..273 "=>"
            Whitespace@273..274 " "
            EXPR_BOOL@274..278
              TrueKeyword@274..278 "true"
          Comma@278..279 ","
          Whitespace@279..288 "\n        "
          MATCH_ARM@288..298
            PATTERN_WILDCARD@288..290
              WildcardKeyword@288..289 "_"
              Whitespace@289..290 " "
            FatArrow@290..292 "=>"
            Whitespace@292..293 " "
            EXPR_BOOL@293..298
              FalseKeyword@293..298 "false"
          Comma@298..299 ","
          Whitespace@299..304 "\n    "
          RBrace@304..305 "}"
          Whitespace@305..306 "\n"
      RBrace@306..307 "}"
      Whitespace@307..309 "\n\n"
  FN@309..440
    FnKeyword@309..311 "fn"
    Whitespace@311..312 " "
    Ident@312..324 "is_special32"
    PARAM_LIST@324..339
      LParen@324..325 "("
      PARAM@325..337
        Ident@325..330 "value"
        Colon@330..331 ":"
        Whitespace@331..332 " "
        TYPE_INT32@332..337
          Int32Keyword@332..337 "int32"
      RParen@337..338 ")"
      Whitespace@338..339 " "
    Arrow@339..341 "->"
    Whitespace@341..342 " "
    TYPE_BOOL@342..347
      BoolKeyword@342..346 "bool"
      Whitespace@346..347 " "
    BLOCK@347..440
      LBrace@347..348 "{"
      Whitespace@348..353 "\n    "
      EXPR_MATCH@353..437
        MatchKeyword@353..358 "match"
        Whitespace@358..359 " "
        EXPR_IDENT@359..365
          PATH@359..365
            Ident@359..364 "value"
            Whitespace@364..365 " "
        MATCH_ARM_LIST@365..437
          LBrace@365..366 "{"
          Whitespace@366..375 "\n        "
          MATCH_ARM@375..387
            PATTERN_INT@375..380
              Int@375..379 "4096"
              Whitespace@379..380 " "
            FatArrow@380..382 "=>"
            Whitespace@382..383 " "
            EXPR_BOOL@383..387
              TrueKeyword@383..387 "true"
          Comma@387..388 ","
          Whitespace@388..397 "\n        "
          MATCH_ARM@397..409
            PATTERN_INT@397..402
              Int@397..401 "8192"
              Whitespace@401..402 " "
            FatArrow@402..404 "=>"
            Whitespace@404..405 " "
            EXPR_BOOL@405..409
              TrueKeyword@405..409 "true"
          Comma@409..410 ","
          Whitespace@410..419 "\n        "
          MATCH_ARM@419..429
            PATTERN_WILDCARD@419..421
              WildcardKeyword@419..420 "_"
              Whitespace@420..421 " "
            FatArrow@421..423 "=>"
            Whitespace@423..424 " "
            EXPR_BOOL@424..429
              FalseKeyword@424..429 "false"
          Comma@429..430 ","
          Whitespace@430..435 "\n    "
          RBrace@435..436 "}"
          Whitespace@436..437 "\n"
      RBrace@437..438 "}"
      Whitespace@438..440 "\n\n"
  FN@440..573
    FnKeyword@440..442 "fn"
    Whitespace@442..443 " "
    Ident@443..455 "is_special64"
    PARAM_LIST@455..470
      LParen@455..456 "("
      PARAM@456..468
        Ident@456..461 "value"
        Colon@461..462 ":"
        Whitespace@462..463 " "
        TYPE_INT64@463..468
          Int64Keyword@463..468 "int64"
      RParen@468..469 ")"
      Whitespace@469..470 " "
    Arrow@470..472 "->"
    Whitespace@472..473 " "
    TYPE_BOOL@473..478
      BoolKeyword@473..477 "bool"
      Whitespace@477..478 " "
    BLOCK@478..573
      LBrace@478..479 "{"
      Whitespace@479..484 "\n    "
      EXPR_MATCH@484..570
        MatchKeyword@484..489 "match"
        Whitespace@489..490 " "
        EXPR_IDENT@490..496
          PATH@490..496
            Ident@490..495 "value"
            Whitespace@495..496 " "
        MATCH_ARM_LIST@496..570
          LBrace@496..497 "{"
          Whitespace@497..506 "\n        "
          MATCH_ARM@506..519
            PATTERN_INT@506..512
              Int@506..511 "16384"
              Whitespace@511..512 " "
            FatArrow@512..514 "=>"
            Whitespace@514..515 " "
            EXPR_BOOL@515..519
              TrueKeyword@515..519 "true"
          Comma@519..520 ","
          Whitespace@520..529 "\n        "
          MATCH_ARM@529..542
            PATTERN_INT@529..535
              Int@529..534 "32768"
              Whitespace@534..535 " "
            FatArrow@535..537 "=>"
            Whitespace@537..538 " "
            EXPR_BOOL@538..542
              TrueKeyword@538..542 "true"
          Comma@542..543 ","
          Whitespace@543..552 "\n        "
          MATCH_ARM@552..562
            PATTERN_WILDCARD@552..554
              WildcardKeyword@552..553 "_"
              Whitespace@553..554 " "
            FatArrow@554..556 "=>"
            Whitespace@556..557 " "
            EXPR_BOOL@557..562
              FalseKeyword@557..562 "false"
          Comma@562..563 ","
          Whitespace@563..568 "\n    "
          RBrace@568..569 "}"
          Whitespace@569..570 "\n"
      RBrace@570..571 "}"
      Whitespace@571..573 "\n\n"
  FN@573..693
    FnKeyword@573..575 "fn"
    Whitespace@575..576 " "
    Ident@576..587 "match_tuple"
    PARAM_LIST@587..611
      LParen@587..588 "("
      PARAM@588..609
        Ident@588..594 "values"
        Colon@594..595 ":"
        Whitespace@595..596 " "
        TYPE_TUPLE@596..609
          TYPE_LIST@596..609
            LParen@596..597 "("
            TYPE_INT8@597..601
              Int8Keyword@597..601 "int8"
            Comma@601..602 ","
            Whitespace@602..603 " "
            TYPE_INT16@603..608
              Int16Keyword@603..608 "int16"
            RParen@608..609 ")"
      RParen@609..610 ")"
      Whitespace@610..611 " "
    Arrow@611..613 "->"
    Whitespace@613..614 " "
    TYPE_BOOL@614..619
      BoolKeyword@614..618 "bool"
      Whitespace@618..619 " "
    BLOCK@619..693
      LBrace@619..620 "{"
      Whitespace@620..625 "\n    "
      EXPR_MATCH@625..690
        MatchKeyword@625..630 "match"
        Whitespace@630..631 " "
        EXPR_IDENT@631..638
          PATH@631..638
            Ident@631..637 "values"
            Whitespace@637..638 " "
        MATCH_ARM_LIST@638..690
          LBrace@638..639 "{"
          Whitespace@639..648 "\n        "
          MATCH_ARM@648..662
            PATTERN_TUPLE@648..655
              LParen@648..649 "("
              PATTERN_INT@649..650
                Int@649..650 "1"
              Comma@650..651 ","
              Whitespace@651..652 " "
              PATTERN_INT@652..653
                Int@652..653 "2"
              RParen@653..654 ")"
              Whitespace@654..655 " "
            FatArrow@655..657 "=>"
            Whitespace@657..658 " "
            EXPR_BOOL@658..662
              TrueKeyword@658..662 "true"
          Comma@662..663 ","
          Whitespace@663..672 "\n        "
          MATCH_ARM@672..682
            PATTERN_WILDCARD@672..674
              WildcardKeyword@672..673 "_"
              Whitespace@673..674 " "
            FatArrow@674..676 "=>"
            Whitespace@676..677 " "
            EXPR_BOOL@677..682
              FalseKeyword@677..682 "false"
          Comma@682..683 ","
          Whitespace@683..688 "\n    "
          RBrace@688..689 "}"
          Whitespace@689..690 "\n"
      RBrace@690..691 "}"
      Whitespace@691..693 "\n\n"
  FN@693..881
    FnKeyword@693..695 "fn"
    Whitespace@695..696 " "
    Ident@696..708 "match_struct"
    PARAM_LIST@708..725
      LParen@708..709 "("
      PARAM@709..723
        Ident@709..713 "pair"
        Colon@713..714 ":"
        Whitespace@714..715 " "
        TYPE_TAPP@715..723
          PATH@715..723
            Ident@715..723 "PairData"
      RParen@723..724 ")"
      Whitespace@724..725 " "
    Arrow@725..727 "->"
    Whitespace@727..728 " "
    TYPE_BOOL@728..733
      BoolKeyword@728..732 "bool"
      Whitespace@732..733 " "
    BLOCK@733..881
      LBrace@733..734 "{"
      Whitespace@734..739 "\n    "
      EXPR_MATCH@739..878
        MatchKeyword@739..744 "match"
        Whitespace@744..745 " "
        EXPR_IDENT@745..750
          PATH@745..750
            Ident@745..749 "pair"
            Whitespace@749..750 " "
        MATCH_ARM_LIST@750..878
          LBrace@750..751 "{"
          Whitespace@751..760 "\n        "
          MATCH_ARM@760..801
            PATTERN_CONSTR@760..794
              PATH@760..769
                Ident@760..768 "PairData"
                Whitespace@768..769 " "
              STRUCT_PATTERN_FIELD_LIST@769..794
                LBrace@769..770 "{"
                Whitespace@770..771 " "
                STRUCT_PATTERN_FIELD@771..780
                  Ident@771..775 "head"
                  Colon@775..776 ":"
                  Whitespace@776..777 " "
                  PATTERN_INT@777..780
                    Int@777..780 "100"
                Comma@780..781 ","
                Whitespace@781..782 " "
                STRUCT_PATTERN_FIELD@782..792
                  Ident@782..786 "tail"
                  Colon@786..787 ":"
                  Whitespace@787..788 " "
                  PATTERN_INT@788..792
                    Int@788..791 "200"
                    Whitespace@791..792 " "
                RBrace@792..793 "}"
                Whitespace@793..794 " "
            FatArrow@794..796 "=>"
            Whitespace@796..797 " "
            EXPR_BOOL@797..801
              TrueKeyword@797..801 "true"
          Comma@801..802 ","
          Whitespace@802..811 "\n        "
          MATCH_ARM@811..850
            PATTERN_CONSTR@811..843
              PATH@811..820
                Ident@811..819 "PairData"
                Whitespace@819..820 " "
              STRUCT_PATTERN_FIELD_LIST@820..843
                LBrace@820..821 "{"
                Whitespace@821..822 " "
                STRUCT_PATTERN_FIELD@822..829
                  Ident@822..826 "head"
                  Colon@826..827 ":"
                  Whitespace@827..828 " "
                  PATTERN_WILDCARD@828..829
                    WildcardKeyword@828..829 "_"
                Comma@829..830 ","
                Whitespace@830..831 " "
                STRUCT_PATTERN_FIELD@831..841
                  Ident@831..835 "tail"
                  Colon@835..836 ":"
                  Whitespace@836..837 " "
                  PATTERN_INT@837..841
                    Int@837..840 "300"
                    Whitespace@840..841 " "
                RBrace@841..842 "}"
                Whitespace@842..843 " "
            FatArrow@843..845 "=>"
            Whitespace@845..846 " "
            EXPR_BOOL@846..850
              TrueKeyword@846..850 "true"
          Comma@850..851 ","
          Whitespace@851..860 "\n        "
          MATCH_ARM@860..870
            PATTERN_WILDCARD@860..862
              WildcardKeyword@860..861 "_"
              Whitespace@861..862 " "
            FatArrow@862..864 "=>"
            Whitespace@864..865 " "
            EXPR_BOOL@865..870
              FalseKeyword@865..870 "false"
          Comma@870..871 ","
          Whitespace@871..876 "\n    "
          RBrace@876..877 "}"
          Whitespace@877..878 "\n"
      RBrace@878..879 "}"
      Whitespace@879..881 "\n\n"
  FN@881..964
    FnKeyword@881..883 "fn"
    Whitespace@883..884 " "
    Ident@884..890 "report"
    PARAM_LIST@890..919
      LParen@890..891 "("
      PARAM@891..906
        Ident@891..896 "label"
        Colon@896..897 ":"
        Whitespace@897..898 " "
        TYPE_STRING@898..904
          StringKeyword@898..904 "string"
        Comma@904..905 ","
        Whitespace@905..906 " "
      PARAM@906..917
        Ident@906..911 "value"
        Colon@911..912 ":"
        Whitespace@912..913 " "
        TYPE_BOOL@913..917
          BoolKeyword@913..917 "bool"
      RParen@917..918 ")"
      Whitespace@918..919 " "
    Arrow@919..921 "->"
    Whitespace@921..922 " "
    TYPE_STRING@922..929
      StringKeyword@922..928 "string"
      Whitespace@928..929 " "
    BLOCK@929..964
      LBrace@929..930 "{"
      Whitespace@930..935 "\n    "
      EXPR_BINARY@935..961
        EXPR_IDENT@935..941
          PATH@935..941
            Ident@935..940 "label"
            Whitespace@940..941 " "
        Plus@941..942 "+"
        Whitespace@942..943 " "
        EXPR_CALL@943..961
          EXPR_BINARY@943..958
            EXPR_IDENT@943..948
              PATH@943..948
                Ident@943..948 "value"
            Dot@948..949 "."
            EXPR_IDENT@949..958
              PATH@949..958
                Ident@949..958 "to_string"
          ARG_LIST@958..961
            LParen@958..959 "("
            RParen@959..960 ")"
            Whitespace@960..961 "\n"
      RBrace@961..962 "}"
      Whitespace@962..964 "\n\n"
  FN@964..1920
    FnKeyword@964..966 "fn"
    Whitespace@966..967 " "
    Ident@967..971 "main"
    PARAM_LIST@971..974
      LParen@971..972 "("
      RParen@972..973 ")"
      Whitespace@973..974 " "
    BLOCK@974..1920
      LBrace@974..975 "{"
      Whitespace@975..980 "\n    "
      STMT_LET@980..1011
        LetKeyword@980..983 "let"
        Whitespace@983..984 " "
        PATTERN_VARIABLE@984..995
          Ident@984..995 "tuple_first"
        Colon@995..996 ":"
        Whitespace@996..997 " "
        TYPE_INT8@997..1002
          Int8Keyword@997..1001 "int8"
          Whitespace@1001..1002 " "
        Eq@1002..1003 "="
        Whitespace@1003..1004 " "
        EXPR_INT@1004..1005
          Int@1004..1005 "1"
        Semi@1005..1006 ";"
        Whitespace@1006..1011 "\n    "
      STMT_LET@1011..1044
        LetKeyword@1011..1014 "let"
        Whitespace@1014..1015 " "
        PATTERN_VARIABLE@1015..1027
          Ident@1015..1027 "tuple_second"
        Colon@1027..1028 ":"
        Whitespace@1028..1029 " "
        TYPE_INT16@1029..1035
          Int16Keyword@1029..1034 "int16"
          Whitespace@1034..1035 " "
        Eq@1035..1036 "="
        Whitespace@1036..1037 " "
        EXPR_INT@1037..1038
          Int@1037..1038 "2"
        Semi@1038..1039 ";"
        Whitespace@1039..1044 "\n    "
      STMT_LET@1044..1113
        LetKeyword@1044..1047 "let"
        Whitespace@1047..1048 " "
        PATTERN_VARIABLE@1048..1065
          Ident@1048..1064 "tuple_result_hit"
          Whitespace@1064..1065 " "
        Eq@1065..1066 "="
        Whitespace@1066..1067 " "
        EXPR_CALL@1067..1107
          EXPR_IDENT@1067..1078
            PATH@1067..1078
              Ident@1067..1078 "match_tuple"
          ARG_LIST@1078..1107
            LParen@1078..1079 "("
            ARG@1079..1106
              EXPR_TUPLE@1079..1106
                LParen@1079..1080 "("
                EXPR_IDENT@1080..1091
                  PATH@1080..1091
                    Ident@1080..1091 "tuple_first"
                Comma@1091..1092 ","
                Whitespace@1092..1093 " "
                EXPR_IDENT@1093..1105
                  PATH@1093..1105
                    Ident@1093..1105 "tuple_second"
                RParen@1105..1106 ")"
            RParen@1106..1107 ")"
        Semi@1107..1108 ";"
        Whitespace@1108..1113 "\n    "
      STMT_LET@1113..1162
        LetKeyword@1113..1116 "let"
        Whitespace@1116..1117 " "
        PATTERN_VARIABLE@1117..1135
          Ident@1117..1134 "tuple_result_miss"
          Whitespace@1134..1135 " "
        Eq@1135..1136 "="
        Whitespace@1136..1137 " "
        EXPR_CALL@1137..1156
          EXPR_IDENT@1137..1148
            PATH@1137..1148
              Ident@1137..1148 "match_tuple"
          ARG_LIST@1148..1156
            LParen@1148..1149 "("
            ARG@1149..1155
              EXPR_TUPLE@1149..1155
                LParen@1149..1150 "("
                EXPR_INT@1150..1151
                  Int@1150..1151 "3"
                Comma@1151..1152 ","
                Whitespace@1152..1153 " "
                EXPR_INT@1153..1154
                  Int@1153..1154 "4"
                RParen@1154..1155 ")"
            RParen@1155..1156 ")"
        Semi@1156..1157 ";"
        Whitespace@1157..1162 "\n    "
      STMT_LET@1162..1232
        LetKeyword@1162..1165 "let"
        Whitespace@1165..1166 " "
        PATTERN_VARIABLE@1166..1177
          Ident@1166..1176 "pair_first"
          Whitespace@1176..1177 " "
        Eq@1177..1178 "="
        Whitespace@1178..1179 " "
        EXPR_CALL@1179..1226
          EXPR_IDENT@1179..1191
            PATH@1179..1191
              Ident@1179..1191 "match_struct"
          ARG_LIST@1191..1226
            LParen@1191..1192 "("
            ARG@1192..1225
              EXPR_STRUCT_LITERAL@1192..1225
                PATH@1192..1201
                  Ident@1192..1200 "PairData"
                  Whitespace@1200..1201 " "
                STRUCT_LITERAL_FIELD_LIST@1201..1225
                  LBrace@1201..1202 "{"
                  Whitespace@1202..1203 " "
                  STRUCT_LITERAL_FIELD@1203..1212
                    Ident@1203..1207 "head"
                    Colon@1207..1208 ":"
                    Whitespace@1208..1209 " "
                    EXPR_INT@1209..1212
                      Int@1209..1212 "100"
                  Comma@1212..1213 ","
                  Whitespace@1213..1214 " "
                  STRUCT_LITERAL_FIELD@1214..1224
                    Ident@1214..1218 "tail"
                    Colon@1218..1219 ":"
                    Whitespace@1219..1220 " "
                    EXPR_INT@1220..1224
                      Int@1220..1223 "200"
                      Whitespace@1223..1224 " "
                  RBrace@1224..1225 "}"
            RParen@1225..1226 ")"
        Semi@1226..1227 ";"
        Whitespace@1227..1232 "\n    "
      STMT_LET@1232..1302
        LetKeyword@1232..1235 "let"
        Whitespace@1235..1236 " "
        PATTERN_VARIABLE@1236..1248
          Ident@1236..1247 "pair_second"
          Whitespace@1247..1248 " "
        Eq@1248..1249 "="
        Whitespace@1249..1250 " "
        EXPR_CALL@1250..1296
          EXPR_IDENT@1250..1262
            PATH@1250..1262
              Ident@1250..1262 "match_struct"
          ARG_LIST@1262..1296
            LParen@1262..1263 "("
            ARG@1263..1295
              EXPR_STRUCT_LITERAL@1263..1295
                PATH@1263..1272
                  Ident@1263..1271 "PairData"
                  Whitespace@1271..1272 " "
                STRUCT_LITERAL_FIELD_LIST@1272..1295
                  LBrace@1272..1273 "{"
                  Whitespace@1273..1274 " "
                  STRUCT_LITERAL_FIELD@1274..1282
                    Ident@1274..1278 "head"
                    Colon@1278..1279 ":"
                    Whitespace@1279..1280 " "
                    EXPR_INT@1280..1282
                      Int@1280..1282 "10"
                  Comma@1282..1283 ","
                  Whitespace@1283..1284 " "
                  STRUCT_LITERAL_FIELD@1284..1294
                    Ident@1284..1288 "tail"
                    Colon@1288..1289 ":"
                    Whitespace@1289..1290 " "
                    EXPR_INT@1290..1294
                      Int@1290..1293 "300"
                      Whitespace@1293..1294 " "
                  RBrace@1294..1295 "}"
            RParen@1295..1296 ")"
        Semi@1296..1297 ";"
        Whitespace@1297..1302 "\n    "
      STMT_LET@1302..1351
        LetKeyword@1302..1305 "let"
        Whitespace@1305..1306 " "
        PATTERN_VARIABLE@1306..1312
          Ident@1306..1311 "part1"
          Whitespace@1311..1312 " "
        Eq@1312..1313 "="
        Whitespace@1313..1314 " "
        EXPR_CALL@1314..1345
          EXPR_IDENT@1314..1320
            PATH@1314..1320
              Ident@1314..1320 "report"
          ARG_LIST@1320..1345
            LParen@1320..1321 "("
            ARG@1321..1330
              EXPR_STR@1321..1328
                Str@1321..1328 "\"int8=\""
              Comma@1328..1329 ","
              Whitespace@1329..1330 " "
            ARG@1330..1344
              EXPR_CALL@1330..1344
                EXPR_IDENT@1330..1341
                  PATH@1330..1341
                    Ident@1330..1341 "is_special8"
                ARG_LIST@1341..1344
                  LParen@1341..1342 "("
                  ARG@1342..1343
                    EXPR_INT@1342..1343
                      Int@1342..1343 "5"
                  RParen@1343..1344 ")"
            RParen@1344..1345 ")"
        Semi@1345..1346 ";"
        Whitespace@1346..1351 "\n    "
      STMT_LET@1351..1406
        LetKeyword@1351..1354 "let"
        Whitespace@1354..1355 " "
        PATTERN_VARIABLE@1355..1361
          Ident@1355..1360 "part2"
          Whitespace@1360..1361 " "
        Eq@1361..1362 "="
        Whitespace@1362..1363 " "
        EXPR_CALL@1363..1400
          EXPR_IDENT@1363..1369
            PATH@1363..1369
              Ident@1363..1369 "report"
          ARG_LIST@1369..1400
            LParen@1369..1370 "("
            ARG@1370..1381
              EXPR_STR@1370..1379
                Str@1370..1379 "\",int16=\""
              Comma@1379..1380 ","
              Whitespace@1380..1381 " "
            ARG@1381..1399
              EXPR_CALL@1381..1399
                EXPR_IDENT@1381..1393
                  PATH@1381..1393
                    Ident@1381..1393 "is_special16"
                ARG_LIST@1393..1399
                  LParen@1393..1394 "("
                  ARG@1394..1398
                    EXPR_INT@1394..1398
                      Int@1394..1398 "1024"
                  RParen@1398..1399 ")"
            RParen@1399..1400 ")"
        Semi@1400..1401 ";"
        Whitespace@1401..1406 "\n    "
      STMT_LET@1406..1461
        LetKeyword@1406..1409 "let"
        Whitespace@1409..1410 " "
        PATTERN_VARIABLE@1410..1416
          Ident@1410..1415 "part3"
          Whitespace@1415..1416 " "
        Eq@1416..1417 "="
        Whitespace@1417..1418 " "
        EXPR_CALL@1418..1455
          EXPR_IDENT@1418..1424
            PATH@1418..1424
              Ident@1418..1424 "report"
          ARG_LIST@1424..1455
            LParen@1424..1425 "("
            ARG@1425..1436
              EXPR_STR@1425..1434
                Str@1425..1434 "\",int32=\""
              Comma@1434..1435 ","
              Whitespace@1435..1436 " "
            ARG@1436..1454
              EXPR_CALL@1436..1454
                EXPR_IDENT@1436..1448
                  PATH@1436..1448
                    Ident@1436..1448 "is_special32"
                ARG_LIST@1448..1454
                  LParen@1448..1449 "("
                  ARG@1449..1453
                    EXPR_INT@1449..1453
                      Int@1449..1453 "8192"
                  RParen@1453..1454 ")"
            RParen@1454..1455 ")"
        Semi@1455..1456 ";"
        Whitespace@1456..1461 "\n    "
      STMT_LET@1461..1519
        LetKeyword@1461..1464 "let"
        Whitespace@1464..1465 " "
        PATTERN_VARIABLE@1465..1471
          Ident@1465..1470 "part4"
          Whitespace@1470..1471 " "
        Eq@1471..1472 "="
        Whitespace@1472..1473 " "
        EXPR_CALL@1473..1513
          EXPR_IDENT@1473..1479
            PATH@1473..1479
              Ident@1473..1479 "report"
          ARG_LIST@1479..1513
            LParen@1479..1480 "("
            ARG@1480..1493
              EXPR_STR@1480..1491
                Str@1480..1491 "\",int64_a=\""
              Comma@1491..1492 ","
              Whitespace@1492..1493 " "
            ARG@1493..1512
              EXPR_CALL@1493..1512
                EXPR_IDENT@1493..1505
                  PATH@1493..1505
                    Ident@1493..1505 "is_special64"
                ARG_LIST@1505..1512
                  LParen@1505..1506 "("
                  ARG@1506..1511
                    EXPR_INT@1506..1511
                      Int@1506..1511 "16384"
                  RParen@1511..1512 ")"
            RParen@1512..1513 ")"
        Semi@1513..1514 ";"
        Whitespace@1514..1519 "\n    "
      STMT_LET@1519..1577
        LetKeyword@1519..1522 "let"
        Whitespace@1522..1523 " "
        PATTERN_VARIABLE@1523..1529
          Ident@1523..1528 "part5"
          Whitespace@1528..1529 " "
        Eq@1529..1530 "="
        Whitespace@1530..1531 " "
        EXPR_CALL@1531..1571
          EXPR_IDENT@1531..1537
            PATH@1531..1537
              Ident@1531..1537 "report"
          ARG_LIST@1537..1571
            LParen@1537..1538 "("
            ARG@1538..1551
              EXPR_STR@1538..1549
                Str@1538..1549 "\",int64_b=\""
              Comma@1549..1550 ","
              Whitespace@1550..1551 " "
            ARG@1551..1570
              EXPR_CALL@1551..1570
                EXPR_IDENT@1551..1563
                  PATH@1551..1563
                    Ident@1551..1563 "is_special64"
                ARG_LIST@1563..1570
                  LParen@1563..1564 "("
                  ARG@1564..1569
                    EXPR_INT@1564..1569
                      Int@1564..1569 "32768"
                  RParen@1569..1570 ")"
            RParen@1570..1571 ")"
        Semi@1571..1572 ";"
        Whitespace@1572..1577 "\n    "
      STMT_LET@1577..1634
        LetKeyword@1577..1580 "let"
        Whitespace@1580..1581 " "
        PATTERN_VARIABLE@1581..1587
          Ident@1581..1586 "part6"
          Whitespace@1586..1587 " "
        Eq@1587..1588 "="
        Whitespace@1588..1589 " "
        EXPR_CALL@1589..1628
          EXPR_IDENT@1589..1595
            PATH@1589..1595
              Ident@1589..1595 "report"
          ARG_LIST@1595..1628
            LParen@1595..1596 "("
            ARG@1596..1611
              EXPR_STR@1596..1609
                Str@1596..1609 "\",tuple_hit=\""
              Comma@1609..1610 ","
              Whitespace@1610..1611 " "
            ARG@1611..1627
              EXPR_IDENT@1611..1627
                PATH@1611..1627
                  Ident@1611..1627 "tuple_result_hit"
            RParen@1627..1628 ")"
        Semi@1628..1629 ";"
        Whitespace@1629..1634 "\n    "
      STMT_LET@1634..1693
        LetKeyword@1634..1637 "let"
        Whitespace@1637..1638 " "
        PATTERN_VARIABLE@1638..1644
          Ident@1638..1643 "part7"
          Whitespace@1643..1644 " "
        Eq@1644..1645 "="
        Whitespace@1645..1646 " "
        EXPR_CALL@1646..1687
          EXPR_IDENT@1646..1652
            PATH@1646..1652
              Ident@1646..1652 "report"
          ARG_LIST@1652..1687
            LParen@1652..1653 "("
            ARG@1653..1669
              EXPR_STR@1653..1667
                Str@1653..1667 "\",tuple_miss=\""
              Comma@1667..1668 ","
              Whitespace@1668..1669 " "
            ARG@1669..1686
              EXPR_IDENT@1669..1686
                PATH@1669..1686
                  Ident@1669..1686 "tuple_result_miss"
            RParen@1686..1687 ")"
        Semi@1687..1688 ";"
        Whitespace@1688..1693 "\n    "
      STMT_LET@1693..1747
        LetKeyword@1693..1696 "let"
        Whitespace@1696..1697 " "
        PATTERN_VARIABLE@1697..1703
          Ident@1697..1702 "part8"
          Whitespace@1702..1703 " "
        Eq@1703..1704 "="
        Whitespace@1704..1705 " "
        EXPR_CALL@1705..1741
          EXPR_IDENT@1705..1711
            PATH@1705..1711
              Ident@1705..1711 "report"
          ARG_LIST@1711..1741
            LParen@1711..1712 "("
            ARG@1712..1730
              EXPR_STR@1712..1728
                Str@1712..1728 "\",struct_first=\""
              Comma@1728..1729 ","
              Whitespace@1729..1730 " "
            ARG@1730..1740
              EXPR_IDENT@1730..1740
                PATH@1730..1740
                  Ident@1730..1740 "pair_first"
            RParen@1740..1741 ")"
        Semi@1741..1742 ";"
        Whitespace@1742..1747 "\n    "
      STMT_LET@1747..1803
        LetKeyword@1747..1750 "let"
        Whitespace@1750..1751 " "
        PATTERN_VARIABLE@1751..1757
          Ident@1751..1756 "part9"
          Whitespace@1756..1757 " "
        Eq@1757..1758 "="
        Whitespace@1758..1759 " "
        EXPR_CALL@1759..1797
          EXPR_IDENT@1759..1765
            PATH@1759..1765
              Ident@1759..1765 "report"
          ARG_LIST@1765..1797
            LParen@1765..1766 "("
            ARG@1766..1785
              EXPR_STR@1766..1783
                Str@1766..1783 "\",struct_second=\""
              Comma@1783..1784 ","
              Whitespace@1784..1785 " "
            ARG@1785..1796
              EXPR_IDENT@1785..1796
                PATH@1785..1796
                  Ident@1785..1796 "pair_second"
            RParen@1796..1797 ")"
        Semi@1797..1798 ";"
        Whitespace@1798..1803 "\n    "
      STMT_LET@1803..1892
        LetKeyword@1803..1806 "let"
        Whitespace@1806..1807 " "
        PATTERN_VARIABLE@1807..1815
          Ident@1807..1814 "message"
          Whitespace@1814..1815 " "
        Eq@1815..1816 "="
        Whitespace@1816..1817 " "
        EXPR_BINARY@1817..1886
          EXPR_BINARY@1817..1879
            EXPR_BINARY@1817..1871
              EXPR_BINARY@1817..1863
                EXPR_BINARY@1817..1855
                  EXPR_BINARY@1817..1847
                    EXPR_BINARY@1817..1839
                      EXPR_BINARY@1817..1831
                        EXPR_IDENT@1817..1823
                          PATH@1817..1823
                            Ident@1817..1822 "part1"
                            Whitespace@1822..1823 " "
                        Plus@1823..1824 "+"
                        Whitespace@1824..1825 " "
                        EXPR_IDENT@1825..1831
                          PATH@1825..1831
                            Ident@1825..1830 "part2"
                            Whitespace@1830..1831 " "
                      Plus@1831..1832 "+"
                      Whitespace@1832..1833 " "
                      EXPR_IDENT@1833..1839
                        PATH@1833..1839
                          Ident@1833..1838 "part3"
                          Whitespace@1838..1839 " "
                    Plus@1839..1840 "+"
                    Whitespace@1840..1841 " "
                    EXPR_IDENT@1841..1847
                      PATH@1841..1847
                        Ident@1841..1846 "part4"
                        Whitespace@1846..1847 " "
                  Plus@1847..1848 "+"
                  Whitespace@1848..1849 " "
                  EXPR_IDENT@1849..1855
                    PATH@1849..1855
                      Ident@1849..1854 "part5"
                      Whitespace@1854..1855 " "
                Plus@1855..1856 "+"
                Whitespace@1856..1857 " "
                EXPR_IDENT@1857..1863
                  PATH@1857..1863
                    Ident@1857..1862 "part6"
                    Whitespace@1862..1863 " "
              Plus@1863..1864 "+"
              Whitespace@1864..1865 " "
              EXPR_IDENT@1865..1871
                PATH@1865..1871
                  Ident@1865..1870 "part7"
                  Whitespace@1870..1871 " "
            Plus@1871..1872 "+"
            Whitespace@1872..1873 " "
            EXPR_IDENT@1873..1879
              PATH@1873..1879
                Ident@1873..1878 "part8"
                Whitespace@1878..1879 " "
          Plus@1879..1880 "+"
          Whitespace@1880..1881 " "
          EXPR_IDENT@1881..1886
            PATH@1881..1886
              Ident@1881..1886 "part9"
        Semi@1886..1887 ";"
        Whitespace@1887..1892 "\n    "
      STMT_LET@1892..1918
        LetKeyword@1892..1895 "let"
        Whitespace@1895..1896 " "
        PATTERN_WILDCARD@1896..1898
          WildcardKeyword@1896..1897 "_"
          Whitespace@1897..1898 " "
        Eq@1898..1899 "="
        Whitespace@1899..1900 " "
        EXPR_CALL@1900..1916
          EXPR_IDENT@1900..1907
            PATH@1900..1907
              Ident@1900..1907 "println"
          ARG_LIST@1907..1916
            LParen@1907..1908 "("
            ARG@1908..1915
              EXPR_IDENT@1908..1915
                PATH@1908..1915
                  Ident@1908..1915 "message"
            RParen@1915..1916 ")"
        Semi@1916..1917 ";"
        Whitespace@1917..1918 "\n"
      RBrace@1918..1919 "}"
      Whitespace@1919..1920 "\n"