FILE@0..1894
  STRUCT@0..51
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..15 "PairData"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    STRUCT_FIELD_LIST@22..51
      STRUCT_FIELD@22..31
        Ident@22..26 "head"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..31
          I32Keyword@28..31 "i32"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      STRUCT_FIELD@37..46
        Ident@37..41 "tail"
        Colon@41..42 ":"
        Whitespace@42..43 " "
        TYPE_INT64@43..46
          I64Keyword@43..46 "i64"
      Comma@46..47 ","
      Whitespace@47..48 "\n"
      RBrace@48..49 "}"
      Whitespace@49..51 "\n\n"
  FN@51..172
    FnKeyword@51..53 "fn"
    Whitespace@53..54 " "
    Ident@54..65 "is_special8"
    PARAM_LIST@65..77
      LParen@65..66 "("
      PARAM@66..75
        Ident@66..71 "value"
        Colon@71..72 ":"
        Whitespace@72..73 " "
        TYPE_INT8@73..75
          I8Keyword@73..75 "i8"
      RParen@75..76 ")"
      Whitespace@76..77 " "
    Arrow@77..79 "->"
    Whitespace@79..80 " "
    TYPE_BOOL@80..85
      BoolKeyword@80..84 "bool"
      Whitespace@84..85 " "
    BLOCK@85..172
      LBrace@85..86 "{"
      Whitespace@86..91 "\n    "
      EXPR_MATCH@91..169
        MatchKeyword@91..96 "match"
        Whitespace@96..97 " "
        EXPR_IDENT@97..103
          PATH@97..103
            Ident@97..102 "value"
            Whitespace@102..103 " "
        MATCH_ARM_LIST@103..169
          LBrace@103..104 "{"
          Whitespace@104..113 "\n        "
          MATCH_ARM@113..122
            PATTERN_INT@113..115
              Int@113..114 "5"
              Whitespace@114..115 " "
            FatArrow@115..117 "=>"
            Whitespace@117..118 " "
            EXPR_BOOL@118..122
              TrueKeyword@118..122 "true"
          Comma@122..123 ","
          Whitespace@123..132 "\n        "
          MATCH_ARM@132..141
            PATTERN_INT@132..134
              Int@132..133 "7"
              Whitespace@133..134 " "
            FatArrow@134..136 "=>"
            Whitespace@136..137 " "
            EXPR_BOOL@137..141
              TrueKeyword@137..141 "true"
          Comma@141..142 ","
          Whitespace@142..151 "\n        "
          MATCH_ARM@151..161
            PATTERN_WILDCARD@151..153
              WildcardKeyword@151..152 "_"
              Whitespace@152..153 " "
            FatArrow@153..155 "=>"
            Whitespace@155..156 " "
            EXPR_BOOL@156..161
              FalseKeyword@156..161 "false"
          Comma@161..162 ","
          Whitespace@162..167 "\n    "
          RBrace@167..168 "}"
          Whitespace@168..169 "\n"
      RBrace@169..170 "}"
      Whitespace@170..172 "\n\n"
  FN@172..301
    FnKeyword@172..174 "fn"
    Whitespace@174..175 " "
    Ident@175..187 "is_special16"
    PARAM_LIST@187..200
      LParen@187..188 "("
      PARAM@188..198
        Ident@188..193 "value"
        Colon@193..194 ":"
        Whitespace@194..195 " "
        TYPE_INT16@195..198
          I16Keyword@195..198 "i16"
      RParen@198..199 ")"
      Whitespace@199..200 " "
    Arrow@200..202 "->"
    Whitespace@202..203 " "
    TYPE_BOOL@203..208
      BoolKeyword@203..207 "bool"
      Whitespace@207..208 " "
    BLOCK@208..301
      LBrace@208..209 "{"
      Whitespace@209..214 "\n    "
      EXPR_MATCH@214..298
        MatchKeyword@214..219 "match"
        Whitespace@219..220 " "
        EXPR_IDENT@220..226
          PATH@220..226
            Ident@220..225 "value"
            Whitespace@225..226 " "
        MATCH_ARM_LIST@226..298
          LBrace@226..227 "{"
          Whitespace@227..236 "\n        "
          MATCH_ARM@236..248
            PATTERN_INT@236..241
              Int@236..240 "1024"
              Whitespace@240..241 " "
            FatArrow@241..243 "=>"
            Whitespace@243..244 " "
            EXPR_BOOL@244..248
              TrueKeyword@244..248 "true"
          Comma@248..249 ","
          Whitespace@249..258 "\n        "
          MATCH_ARM@258..270
            PATTERN_INT@258..263
              Int@258..262 "2048"
              Whitespace@262..263 " "
            FatArrow@263..265 "=>"
            Whitespace@265..266 " "
            EXPR_BOOL@266..270
              TrueKeyword@266..270 "true"
          Comma@270..271 ","
          Whitespace@271..280 "\n        "
          MATCH_ARM@280..290
            PATTERN_WILDCARD@280..282
              WildcardKeyword@280..281 "_"
              Whitespace@281..282 " "
            FatArrow@282..284 "=>"
            Whitespace@284..285 " "
            EXPR_BOOL@285..290
              FalseKeyword@285..290 "false"
          Comma@290..291 ","
          Whitespace@291..296 "\n    "
          RBrace@296..297 "}"
          Whitespace@297..298 "\n"
      RBrace@298..299 "}"
      Whitespace@299..301 "\n\n"
  FN@301..430
    FnKeyword@301..303 "fn"
    Whitespace@303..304 " "
    Ident@304..316 "is_special32"
    PARAM_LIST@316..329
      LParen@316..317 "("
      PARAM@317..327
        Ident@317..322 "value"
        Colon@322..323 ":"
        Whitespace@323..324 " "
        TYPE_INT32@324..327
          I32Keyword@324..327 "i32"
      RParen@327..328 ")"
      Whitespace@328..329 " "
    Arrow@329..331 "->"
    Whitespace@331..332 " "
    TYPE_BOOL@332..337
      BoolKeyword@332..336 "bool"
      Whitespace@336..337 " "
    BLOCK@337..430
      LBrace@337..338 "{"
      Whitespace@338..343 "\n    "
      EXPR_MATCH@343..427
        MatchKeyword@343..348 "match"
        Whitespace@348..349 " "
        EXPR_IDENT@349..355
          PATH@349..355
            Ident@349..354 "value"
            Whitespace@354..355 " "
        MATCH_ARM_LIST@355..427
          LBrace@355..356 "{"
          Whitespace@356..365 "\n        "
          MATCH_ARM@365..377
            PATTERN_INT@365..370
              Int@365..369 "4096"
              Whitespace@369..370 " "
            FatArrow@370..372 "=>"
            Whitespace@372..373 " "
            EXPR_BOOL@373..377
              TrueKeyword@373..377 "true"
          Comma@377..378 ","
          Whitespace@378..387 "\n        "
          MATCH_ARM@387..399
            PATTERN_INT@387..392
              Int@387..391 "8192"
              Whitespace@391..392 " "
            FatArrow@392..394 "=>"
            Whitespace@394..395 " "
            EXPR_BOOL@395..399
              TrueKeyword@395..399 "true"
          Comma@399..400 ","
          Whitespace@400..409 "\n        "
          MATCH_ARM@409..419
            PATTERN_WILDCARD@409..411
              WildcardKeyword@409..410 "_"
              Whitespace@410..411 " "
            FatArrow@411..413 "=>"
            Whitespace@413..414 " "
            EXPR_BOOL@414..419
              FalseKeyword@414..419 "false"
          Comma@419..420 ","
          Whitespace@420..425 "\n    "
          RBrace@425..426 "}"
          Whitespace@426..427 "\n"
      RBrace@427..428 "}"
      Whitespace@428..430 "\n\n"
  FN@430..561
    FnKeyword@430..432 "fn"
    Whitespace@432..433 " "
    Ident@433..445 "is_special64"
    PARAM_LIST@445..458
      LParen@445..446 "("
      PARAM@446..456
        Ident@446..451 "value"
        Colon@451..452 ":"
        Whitespace@452..453 " "
        TYPE_INT64@453..456
          I64Keyword@453..456 "i64"
      RParen@456..457 ")"
      Whitespace@457..458 " "
    Arrow@458..460 "->"
    Whitespace@460..461 " "
    TYPE_BOOL@461..466
      BoolKeyword@461..465 "bool"
      Whitespace@465..466 " "
    BLOCK@466..561
      LBrace@466..467 "{"
      Whitespace@467..472 "\n    "
      EXPR_MATCH@472..558
        MatchKeyword@472..477 "match"
        Whitespace@477..478 " "
        EXPR_IDENT@478..484
          PATH@478..484
            Ident@478..483 "value"
            Whitespace@483..484 " "
        MATCH_ARM_LIST@484..558
          LBrace@484..485 "{"
          Whitespace@485..494 "\n        "
          MATCH_ARM@494..507
            PATTERN_INT@494..500
              Int@494..499 "16384"
              Whitespace@499..500 " "
            FatArrow@500..502 "=>"
            Whitespace@502..503 " "
            EXPR_BOOL@503..507
              TrueKeyword@503..507 "true"
          Comma@507..508 ","
          Whitespace@508..517 "\n        "
          MATCH_ARM@517..530
            PATTERN_INT@517..523
              Int@517..522 "32768"
              Whitespace@522..523 " "
            FatArrow@523..525 "=>"
            Whitespace@525..526 " "
            EXPR_BOOL@526..530
              TrueKeyword@526..530 "true"
          Comma@530..531 ","
          Whitespace@531..540 "\n        "
          MATCH_ARM@540..550
            PATTERN_WILDCARD@540..542
              WildcardKeyword@540..541 "_"
              Whitespace@541..542 " "
            FatArrow@542..544 "=>"
            Whitespace@544..545 " "
            EXPR_BOOL@545..550
              FalseKeyword@545..550 "false"
          Comma@550..551 ","
          Whitespace@551..556 "\n    "
          RBrace@556..557 "}"
          Whitespace@557..558 "\n"
      RBrace@558..559 "}"
      Whitespace@559..561 "\n\n"
  FN@561..677
    FnKeyword@561..563 "fn"
    Whitespace@563..564 " "
    Ident@564..575 "match_tuple"
    PARAM_LIST@575..595
      LParen@575..576 "("
      PARAM@576..593
        Ident@576..582 "values"
        Colon@582..583 ":"
        Whitespace@583..584 " "
        TYPE_TUPLE@584..593
          TYPE_LIST@584..593
            LParen@584..585 "("
            TYPE_INT8@585..587
              I8Keyword@585..587 "i8"
            Comma@587..588 ","
            Whitespace@588..589 " "
            TYPE_INT16@589..592
              I16Keyword@589..592 "i16"
            RParen@592..593 ")"
      RParen@593..594 ")"
      Whitespace@594..595 " "
    Arrow@595..597 "->"
    Whitespace@597..598 " "
    TYPE_BOOL@598..603
      BoolKeyword@598..602 "bool"
      Whitespace@602..603 " "
    BLOCK@603..677
      LBrace@603..604 "{"
      Whitespace@604..609 "\n    "
      EXPR_MATCH@609..674
        MatchKeyword@609..614 "match"
        Whitespace@614..615 " "
        EXPR_IDENT@615..622
          PATH@615..622
            Ident@615..621 "values"
            Whitespace@621..622 " "
        MATCH_ARM_LIST@622..674
          LBrace@622..623 "{"
          Whitespace@623..632 "\n        "
          MATCH_ARM@632..646
            PATTERN_TUPLE@632..639
              LParen@632..633 "("
              PATTERN_INT@633..634
                Int@633..634 "1"
              Comma@634..635 ","
              Whitespace@635..636 " "
              PATTERN_INT@636..637
                Int@636..637 "2"
              RParen@637..638 ")"
              Whitespace@638..639 " "
            FatArrow@639..641 "=>"
            Whitespace@641..642 " "
            EXPR_BOOL@642..646
              TrueKeyword@642..646 "true"
          Comma@646..647 ","
          Whitespace@647..656 "\n        "
          MATCH_ARM@656..666
            PATTERN_WILDCARD@656..658
              WildcardKeyword@656..657 "_"
              Whitespace@657..658 " "
            FatArrow@658..660 "=>"
            Whitespace@660..661 " "
            EXPR_BOOL@661..666
              FalseKeyword@661..666 "false"
          Comma@666..667 ","
          Whitespace@667..672 "\n    "
          RBrace@672..673 "}"
          Whitespace@673..674 "\n"
      RBrace@674..675 "}"
      Whitespace@675..677 "\n\n"
  FN@677..865
    FnKeyword@677..679 "fn"
    Whitespace@679..680 " "
    Ident@680..692 "match_struct"
    PARAM_LIST@692..709
      LParen@692..693 "("
      PARAM@693..707
        Ident@693..697 "pair"
        Colon@697..698 ":"
        Whitespace@698..699 " "
        TYPE_TAPP@699..707
          PATH@699..707
            Ident@699..707 "PairData"
      RParen@707..708 ")"
      Whitespace@708..709 " "
    Arrow@709..711 "->"
    Whitespace@711..712 " "
    TYPE_BOOL@712..717
      BoolKeyword@712..716 "bool"
      Whitespace@716..717 " "
    BLOCK@717..865
      LBrace@717..718 "{"
      Whitespace@718..723 "\n    "
      EXPR_MATCH@723..862
        MatchKeyword@723..728 "match"
        Whitespace@728..729 " "
        EXPR_IDENT@729..734
          PATH@729..734
            Ident@729..733 "pair"
            Whitespace@733..734 " "
        MATCH_ARM_LIST@734..862
          LBrace@734..735 "{"
          Whitespace@735..744 "\n        "
          MATCH_ARM@744..785
            PATTERN_CONSTR@744..778
              PATH@744..753
                Ident@744..752 "PairData"
                Whitespace@752..753 " "
              STRUCT_PATTERN_FIELD_LIST@753..778
                LBrace@753..754 "{"
                Whitespace@754..755 " "
                STRUCT_PATTERN_FIELD@755..764
                  Ident@755..759 "head"
                  Colon@759..760 ":"
                  Whitespace@760..761 " "
                  PATTERN_INT@761..764
                    Int@761..764 "100"
                Comma@764..765 ","
                Whitespace@765..766 " "
                STRUCT_PATTERN_FIELD@766..776
                  Ident@766..770 "tail"
                  Colon@770..771 ":"
                  Whitespace@771..772 " "
                  PATTERN_INT@772..776
                    Int@772..775 "200"
                    Whitespace@775..776 " "
                RBrace@776..777 "}"
                Whitespace@777..778 " "
            FatArrow@778..780 "=>"
            Whitespace@780..781 " "
            EXPR_BOOL@781..785
              TrueKeyword@781..785 "true"
          Comma@785..786 ","
          Whitespace@786..795 "\n        "
          MATCH_ARM@795..834
            PATTERN_CONSTR@795..827
              PATH@795..804
                Ident@795..803 "PairData"
                Whitespace@803..804 " "
              STRUCT_PATTERN_FIELD_LIST@804..827
                LBrace@804..805 "{"
                Whitespace@805..806 " "
                STRUCT_PATTERN_FIELD@806..813
                  Ident@806..810 "head"
                  Colon@810..811 ":"
                  Whitespace@811..812 " "
                  PATTERN_WILDCARD@812..813
                    WildcardKeyword@812..813 "_"
                Comma@813..814 ","
                Whitespace@814..815 " "
                STRUCT_PATTERN_FIELD@815..825
                  Ident@815..819 "tail"
                  Colon@819..820 ":"
                  Whitespace@820..821 " "
                  PATTERN_INT@821..825
                    Int@821..824 "300"
                    Whitespace@824..825 " "
                RBrace@825..826 "}"
                Whitespace@826..827 " "
            FatArrow@827..829 "=>"
            Whitespace@829..830 " "
            EXPR_BOOL@830..834
              TrueKeyword@830..834 "true"
          Comma@834..835 ","
          Whitespace@835..844 "\n        "
          MATCH_ARM@844..854
            PATTERN_WILDCARD@844..846
              WildcardKeyword@844..845 "_"
              Whitespace@845..846 " "
            FatArrow@846..848 "=>"
            Whitespace@848..849 " "
            EXPR_BOOL@849..854
              FalseKeyword@849..854 "false"
          Comma@854..855 ","
          Whitespace@855..860 "\n    "
          RBrace@860..861 "}"
          Whitespace@861..862 "\n"
      RBrace@862..863 "}"
      Whitespace@863..865 "\n\n"
  FN@865..948
    FnKeyword@865..867 "fn"
    Whitespace@867..868 " "
    Ident@868..874 "report"
    PARAM_LIST@874..903
      LParen@874..875 "("
      PARAM@875..890
        Ident@875..880 "label"
        Colon@880..881 ":"
        Whitespace@881..882 " "
        TYPE_STRING@882..888
          StringKeyword@882..888 "string"
        Comma@888..889 ","
        Whitespace@889..890 " "
      PARAM@890..901
        Ident@890..895 "value"
        Colon@895..896 ":"
        Whitespace@896..897 " "
        TYPE_BOOL@897..901
          BoolKeyword@897..901 "bool"
      RParen@901..902 ")"
      Whitespace@902..903 " "
    Arrow@903..905 "->"
    Whitespace@905..906 " "
    TYPE_STRING@906..913
      StringKeyword@906..912 "string"
      Whitespace@912..913 " "
    BLOCK@913..948
      LBrace@913..914 "{"
      Whitespace@914..919 "\n    "
      EXPR_BINARY@919..945
        EXPR_IDENT@919..925
          PATH@919..925
            Ident@919..924 "label"
            Whitespace@924..925 " "
        Plus@925..926 "+"
        Whitespace@926..927 " "
        EXPR_CALL@927..945
          EXPR_BINARY@927..942
            EXPR_IDENT@927..932
              PATH@927..932
                Ident@927..932 "value"
            Dot@932..933 "."
            EXPR_IDENT@933..942
              PATH@933..942
                Ident@933..942 "to_string"
          ARG_LIST@942..945
            LParen@942..943 "("
            RParen@943..944 ")"
            Whitespace@944..945 "\n"
      RBrace@945..946 "}"
      Whitespace@946..948 "\n\n"
  FN@948..1894
    FnKeyword@948..950 "fn"
    Whitespace@950..951 " "
    Ident@951..955 "main"
    PARAM_LIST@955..958
      LParen@955..956 "("
      RParen@956..957 ")"
      Whitespace@957..958 " "
    BLOCK@958..1894
      LBrace@958..959 "{"
      Whitespace@959..964 "\n    "
      STMT_LET@964..993
        LetKeyword@964..967 "let"
        Whitespace@967..968 " "
        PATTERN_VARIABLE@968..979
          Ident@968..979 "tuple_first"
        Colon@979..980 ":"
        Whitespace@980..981 " "
        TYPE_INT8@981..984
          I8Keyword@981..983 "i8"
          Whitespace@983..984 " "
        Eq@984..985 "="
        Whitespace@985..986 " "
        EXPR_INT@986..987
          Int@986..987 "1"
        Semi@987..988 ";"
        Whitespace@988..993 "\n    "
      STMT_LET@993..1024
        LetKeyword@993..996 "let"
        Whitespace@996..997 " "
        PATTERN_VARIABLE@997..1009
          Ident@997..1009 "tuple_second"
        Colon@1009..1010 ":"
        Whitespace@1010..1011 " "
        TYPE_INT16@1011..1015
          I16Keyword@1011..1014 "i16"
          Whitespace@1014..1015 " "
        Eq@1015..1016 "="
        Whitespace@1016..1017 " "
        EXPR_INT@1017..1018
          Int@1017..1018 "2"
        Semi@1018..1019 ";"
        Whitespace@1019..1024 "\n    "
      STMT_LET@1024..1093
        LetKeyword@1024..1027 "let"
        Whitespace@1027..1028 " "
        PATTERN_VARIABLE@1028..1045
          Ident@1028..1044 "tuple_result_hit"
          Whitespace@1044..1045 " "
        Eq@1045..1046 "="
        Whitespace@1046..1047 " "
        EXPR_CALL@1047..1087
          EXPR_IDENT@1047..1058
            PATH@1047..1058
              Ident@1047..1058 "match_tuple"
          ARG_LIST@1058..1087
            LParen@1058..1059 "("
            ARG@1059..1086
              EXPR_TUPLE@1059..1086
                LParen@1059..1060 "("
                EXPR_IDENT@1060..1071
                  PATH@1060..1071
                    Ident@1060..1071 "tuple_first"
                Comma@1071..1072 ","
                Whitespace@1072..1073 " "
                EXPR_IDENT@1073..1085
                  PATH@1073..1085
                    Ident@1073..1085 "tuple_second"
                RParen@1085..1086 ")"
            RParen@1086..1087 ")"
        Semi@1087..1088 ";"
        Whitespace@1088..1093 "\n    "
      STMT_LET@1093..1142
        LetKeyword@1093..1096 "let"
        Whitespace@1096..1097 " "
        PATTERN_VARIABLE@1097..1115
          Ident@1097..1114 "tuple_result_miss"
          Whitespace@1114..1115 " "
        Eq@1115..1116 "="
        Whitespace@1116..1117 " "
        EXPR_CALL@1117..1136
          EXPR_IDENT@1117..1128
            PATH@1117..1128
              Ident@1117..1128 "match_tuple"
          ARG_LIST@1128..1136
            LParen@1128..1129 "("
            ARG@1129..1135
              EXPR_TUPLE@1129..1135
                LParen@1129..1130 "("
                EXPR_INT@1130..1131
                  Int@1130..1131 "3"
                Comma@1131..1132 ","
                Whitespace@1132..1133 " "
                EXPR_INT@1133..1134
                  Int@1133..1134 "4"
                RParen@1134..1135 ")"
            RParen@1135..1136 ")"
        Semi@1136..1137 ";"
        Whitespace@1137..1142 "\n    "
      STMT_LET@1142..1212
        LetKeyword@1142..1145 "let"
        Whitespace@1145..1146 " "
        PATTERN_VARIABLE@1146..1157
          Ident@1146..1156 "pair_first"
          Whitespace@1156..1157 " "
        Eq@1157..1158 "="
        Whitespace@1158..1159 " "
        EXPR_CALL@1159..1206
          EXPR_IDENT@1159..1171
            PATH@1159..1171
              Ident@1159..1171 "match_struct"
          ARG_LIST@1171..1206
            LParen@1171..1172 "("
            ARG@1172..1205
              EXPR_STRUCT_LITERAL@1172..1205
                PATH@1172..1181
                  Ident@1172..1180 "PairData"
                  Whitespace@1180..1181 " "
                STRUCT_LITERAL_FIELD_LIST@1181..1205
                  LBrace@1181..1182 "{"
                  Whitespace@1182..1183 " "
                  STRUCT_LITERAL_FIELD@1183..1192
                    Ident@1183..1187 "head"
                    Colon@1187..1188 ":"
                    Whitespace@1188..1189 " "
                    EXPR_INT@1189..1192
                      Int@1189..1192 "100"
                  Comma@1192..1193 ","
                  Whitespace@1193..1194 " "
                  STRUCT_LITERAL_FIELD@1194..1204
                    Ident@1194..1198 "tail"
                    Colon@1198..1199 ":"
                    Whitespace@1199..1200 " "
                    EXPR_INT@1200..1204
                      Int@1200..1203 "200"
                      Whitespace@1203..1204 " "
                  RBrace@1204..1205 "}"
            RParen@1205..1206 ")"
        Semi@1206..1207 ";"
        Whitespace@1207..1212 "\n    "
      STMT_LET@1212..1282
        LetKeyword@1212..1215 "let"
        Whitespace@1215..1216 " "
        PATTERN_VARIABLE@1216..1228
          Ident@1216..1227 "pair_second"
          Whitespace@1227..1228 " "
        Eq@1228..1229 "="
        Whitespace@1229..1230 " "
        EXPR_CALL@1230..1276
          EXPR_IDENT@1230..1242
            PATH@1230..1242
              Ident@1230..1242 "match_struct"
          ARG_LIST@1242..1276
            LParen@1242..1243 "("
            ARG@1243..1275
              EXPR_STRUCT_LITERAL@1243..1275
                PATH@1243..1252
                  Ident@1243..1251 "PairData"
                  Whitespace@1251..1252 " "
                STRUCT_LITERAL_FIELD_LIST@1252..1275
                  LBrace@1252..1253 "{"
                  Whitespace@1253..1254 " "
                  STRUCT_LITERAL_FIELD@1254..1262
                    Ident@1254..1258 "head"
                    Colon@1258..1259 ":"
                    Whitespace@1259..1260 " "
                    EXPR_INT@1260..1262
                      Int@1260..1262 "10"
                  Comma@1262..1263 ","
                  Whitespace@1263..1264 " "
                  STRUCT_LITERAL_FIELD@1264..1274
                    Ident@1264..1268 "tail"
                    Colon@1268..1269 ":"
                    Whitespace@1269..1270 " "
                    EXPR_INT@1270..1274
                      Int@1270..1273 "300"
                      Whitespace@1273..1274 " "
                  RBrace@1274..1275 "}"
            RParen@1275..1276 ")"
        Semi@1276..1277 ";"
        Whitespace@1277..1282 "\n    "
      STMT_LET@1282..1329
        LetKeyword@1282..1285 "let"
        Whitespace@1285..1286 " "
        PATTERN_VARIABLE@1286..1292
          Ident@1286..1291 "part1"
          Whitespace@1291..1292 " "
        Eq@1292..1293 "="
        Whitespace@1293..1294 " "
        EXPR_CALL@1294..1323
          EXPR_IDENT@1294..1300
            PATH@1294..1300
              Ident@1294..1300 "report"
          ARG_LIST@1300..1323
            LParen@1300..1301 "("
            ARG@1301..1308
              EXPR_STR@1301..1306
                Str@1301..1306 "\"i8=\""
              Comma@1306..1307 ","
              Whitespace@1307..1308 " "
            ARG@1308..1322
              EXPR_CALL@1308..1322
                EXPR_IDENT@1308..1319
                  PATH@1308..1319
                    Ident@1308..1319 "is_special8"
                ARG_LIST@1319..1322
                  LParen@1319..1320 "("
                  ARG@1320..1321
                    EXPR_INT@1320..1321
                      Int@1320..1321 "5"
                  RParen@1321..1322 ")"
            RParen@1322..1323 ")"
        Semi@1323..1324 ";"
        Whitespace@1324..1329 "\n    "
      STMT_LET@1329..1382
        LetKeyword@1329..1332 "let"
        Whitespace@1332..1333 " "
        PATTERN_VARIABLE@1333..1339
          Ident@1333..1338 "part2"
          Whitespace@1338..1339 " "
        Eq@1339..1340 "="
        Whitespace@1340..1341 " "
        EXPR_CALL@1341..1376
          EXPR_IDENT@1341..1347
            PATH@1341..1347
              Ident@1341..1347 "report"
          ARG_LIST@1347..1376
            LParen@1347..1348 "("
            ARG@1348..1357
              EXPR_STR@1348..1355
                Str@1348..1355 "\",i16=\""
              Comma@1355..1356 ","
              Whitespace@1356..1357 " "
            ARG@1357..1375
              EXPR_CALL@1357..1375
                EXPR_IDENT@1357..1369
                  PATH@1357..1369
                    Ident@1357..1369 "is_special16"
                ARG_LIST@1369..1375
                  LParen@1369..1370 "("
                  ARG@1370..1374
                    EXPR_INT@1370..1374
                      Int@1370..1374 "1024"
                  RParen@1374..1375 ")"
            RParen@1375..1376 ")"
        Semi@1376..1377 ";"
        Whitespace@1377..1382 "\n    "
      STMT_LET@1382..1435
        LetKeyword@1382..1385 "let"
        Whitespace@1385..1386 " "
        PATTERN_VARIABLE@1386..1392
          Ident@1386..1391 "part3"
          Whitespace@1391..1392 " "
        Eq@1392..1393 "="
        Whitespace@1393..1394 " "
        EXPR_CALL@1394..1429
          EXPR_IDENT@1394..1400
            PATH@1394..1400
              Ident@1394..1400 "report"
          ARG_LIST@1400..1429
            LParen@1400..1401 "("
            ARG@1401..1410
              EXPR_STR@1401..1408
                Str@1401..1408 "\",i32=\""
              Comma@1408..1409 ","
              Whitespace@1409..1410 " "
            ARG@1410..1428
              EXPR_CALL@1410..1428
                EXPR_IDENT@1410..1422
                  PATH@1410..1422
                    Ident@1410..1422 "is_special32"
                ARG_LIST@1422..1428
                  LParen@1422..1423 "("
                  ARG@1423..1427
                    EXPR_INT@1423..1427
                      Int@1423..1427 "8192"
                  RParen@1427..1428 ")"
            RParen@1428..1429 ")"
        Semi@1429..1430 ";"
        Whitespace@1430..1435 "\n    "
      STMT_LET@1435..1493
        LetKeyword@1435..1438 "let"
        Whitespace@1438..1439 " "
        PATTERN_VARIABLE@1439..1445
          Ident@1439..1444 "part4"
          Whitespace@1444..1445 " "
        Eq@1445..1446 "="
        Whitespace@1446..1447 " "
        EXPR_CALL@1447..1487
          EXPR_IDENT@1447..1453
            PATH@1447..1453
              Ident@1447..1453 "report"
          ARG_LIST@1453..1487
            LParen@1453..1454 "("
            ARG@1454..1467
              EXPR_STR@1454..1465
                Str@1454..1465 "\",int64_a=\""
              Comma@1465..1466 ","
              Whitespace@1466..1467 " "
            ARG@1467..1486
              EXPR_CALL@1467..1486
                EXPR_IDENT@1467..1479
                  PATH@1467..1479
                    Ident@1467..1479 "is_special64"
                ARG_LIST@1479..1486
                  LParen@1479..1480 "("
                  ARG@1480..1485
                    EXPR_INT@1480..1485
                      Int@1480..1485 "16384"
                  RParen@1485..1486 ")"
            RParen@1486..1487 ")"
        Semi@1487..1488 ";"
        Whitespace@1488..1493 "\n    "
      STMT_LET@1493..1551
        LetKeyword@1493..1496 "let"
        Whitespace@1496..1497 " "
        PATTERN_VARIABLE@1497..1503
          Ident@1497..1502 "part5"
          Whitespace@1502..1503 " "
        Eq@1503..1504 "="
        Whitespace@1504..1505 " "
        EXPR_CALL@1505..1545
          EXPR_IDENT@1505..1511
            PATH@1505..1511
              Ident@1505..1511 "report"
          ARG_LIST@1511..1545
            LParen@1511..1512 "("
            ARG@1512..1525
              EXPR_STR@1512..1523
                Str@1512..1523 "\",int64_b=\""
              Comma@1523..1524 ","
              Whitespace@1524..1525 " "
            ARG@1525..1544
              EXPR_CALL@1525..1544
                EXPR_IDENT@1525..1537
                  PATH@1525..1537
                    Ident@1525..1537 "is_special64"
                ARG_LIST@1537..1544
                  LParen@1537..1538 "("
                  ARG@1538..1543
                    EXPR_INT@1538..1543
                      Int@1538..1543 "32768"
                  RParen@1543..1544 ")"
            RParen@1544..1545 ")"
        Semi@1545..1546 ";"
        Whitespace@1546..1551 "\n    "
      STMT_LET@1551..1608
        LetKeyword@1551..1554 "let"
        Whitespace@1554..1555 " "
        PATTERN_VARIABLE@1555..1561
          Ident@1555..1560 "part6"
          Whitespace@1560..1561 " "
        Eq@1561..1562 "="
        Whitespace@1562..1563 " "
        EXPR_CALL@1563..1602
          EXPR_IDENT@1563..1569
            PATH@1563..1569
              Ident@1563..1569 "report"
          ARG_LIST@1569..1602
            LParen@1569..1570 "("
            ARG@1570..1585
              EXPR_STR@1570..1583
                Str@1570..1583 "\",tuple_hit=\""
              Comma@1583..1584 ","
              Whitespace@1584..1585 " "
            ARG@1585..1601
              EXPR_IDENT@1585..1601
                PATH@1585..1601
                  Ident@1585..1601 "tuple_result_hit"
            RParen@1601..1602 ")"
        Semi@1602..1603 ";"
        Whitespace@1603..1608 "\n    "
      STMT_LET@1608..1667
        LetKeyword@1608..1611 "let"
        Whitespace@1611..1612 " "
        PATTERN_VARIABLE@1612..1618
          Ident@1612..1617 "part7"
          Whitespace@1617..1618 " "
        Eq@1618..1619 "="
        Whitespace@1619..1620 " "
        EXPR_CALL@1620..1661
          EXPR_IDENT@1620..1626
            PATH@1620..1626
              Ident@1620..1626 "report"
          ARG_LIST@1626..1661
            LParen@1626..1627 "("
            ARG@1627..1643
              EXPR_STR@1627..1641
                Str@1627..1641 "\",tuple_miss=\""
              Comma@1641..1642 ","
              Whitespace@1642..1643 " "
            ARG@1643..1660
              EXPR_IDENT@1643..1660
                PATH@1643..1660
                  Ident@1643..1660 "tuple_result_miss"
            RParen@1660..1661 ")"
        Semi@1661..1662 ";"
        Whitespace@1662..1667 "\n    "
      STMT_LET@1667..1721
        LetKeyword@1667..1670 "let"
        Whitespace@1670..1671 " "
        PATTERN_VARIABLE@1671..1677
          Ident@1671..1676 "part8"
          Whitespace@1676..1677 " "
        Eq@1677..1678 "="
        Whitespace@1678..1679 " "
        EXPR_CALL@1679..1715
          EXPR_IDENT@1679..1685
            PATH@1679..1685
              Ident@1679..1685 "report"
          ARG_LIST@1685..1715
            LParen@1685..1686 "("
            ARG@1686..1704
              EXPR_STR@1686..1702
                Str@1686..1702 "\",struct_first=\""
              Comma@1702..1703 ","
              Whitespace@1703..1704 " "
            ARG@1704..1714
              EXPR_IDENT@1704..1714
                PATH@1704..1714
                  Ident@1704..1714 "pair_first"
            RParen@1714..1715 ")"
        Semi@1715..1716 ";"
        Whitespace@1716..1721 "\n    "
      STMT_LET@1721..1777
        LetKeyword@1721..1724 "let"
        Whitespace@1724..1725 " "
        PATTERN_VARIABLE@1725..1731
          Ident@1725..1730 "part9"
          Whitespace@1730..1731 " "
        Eq@1731..1732 "="
        Whitespace@1732..1733 " "
        EXPR_CALL@1733..1771
          EXPR_IDENT@1733..1739
            PATH@1733..1739
              Ident@1733..1739 "report"
          ARG_LIST@1739..1771
            LParen@1739..1740 "("
            ARG@1740..1759
              EXPR_STR@1740..1757
                Str@1740..1757 "\",struct_second=\""
              Comma@1757..1758 ","
              Whitespace@1758..1759 " "
            ARG@1759..1770
              EXPR_IDENT@1759..1770
                PATH@1759..1770
                  Ident@1759..1770 "pair_second"
            RParen@1770..1771 ")"
        Semi@1771..1772 ";"
        Whitespace@1772..1777 "\n    "
      STMT_LET@1777..1866
        LetKeyword@1777..1780 "let"
        Whitespace@1780..1781 " "
        PATTERN_VARIABLE@1781..1789
          Ident@1781..1788 "message"
          Whitespace@1788..1789 " "
        Eq@1789..1790 "="
        Whitespace@1790..1791 " "
        EXPR_BINARY@1791..1860
          EXPR_BINARY@1791..1853
            EXPR_BINARY@1791..1845
              EXPR_BINARY@1791..1837
                EXPR_BINARY@1791..1829
                  EXPR_BINARY@1791..1821
                    EXPR_BINARY@1791..1813
                      EXPR_BINARY@1791..1805
                        EXPR_IDENT@1791..1797
                          PATH@1791..1797
                            Ident@1791..1796 "part1"
                            Whitespace@1796..1797 " "
                        Plus@1797..1798 "+"
                        Whitespace@1798..1799 " "
                        EXPR_IDENT@1799..1805
                          PATH@1799..1805
                            Ident@1799..1804 "part2"
                            Whitespace@1804..1805 " "
                      Plus@1805..1806 "+"
                      Whitespace@1806..1807 " "
                      EXPR_IDENT@1807..1813
                        PATH@1807..1813
                          Ident@1807..1812 "part3"
                          Whitespace@1812..1813 " "
                    Plus@1813..1814 "+"
                    Whitespace@1814..1815 " "
                    EXPR_IDENT@1815..1821
                      PATH@1815..1821
                        Ident@1815..1820 "part4"
                        Whitespace@1820..1821 " "
                  Plus@1821..1822 "+"
                  Whitespace@1822..1823 " "
                  EXPR_IDENT@1823..1829
                    PATH@1823..1829
                      Ident@1823..1828 "part5"
                      Whitespace@1828..1829 " "
                Plus@1829..1830 "+"
                Whitespace@1830..1831 " "
                EXPR_IDENT@1831..1837
                  PATH@1831..1837
                    Ident@1831..1836 "part6"
                    Whitespace@1836..1837 " "
              Plus@1837..1838 "+"
              Whitespace@1838..1839 " "
              EXPR_IDENT@1839..1845
                PATH@1839..1845
                  Ident@1839..1844 "part7"
                  Whitespace@1844..1845 " "
            Plus@1845..1846 "+"
            Whitespace@1846..1847 " "
            EXPR_IDENT@1847..1853
              PATH@1847..1853
                Ident@1847..1852 "part8"
                Whitespace@1852..1853 " "
          Plus@1853..1854 "+"
          Whitespace@1854..1855 " "
          EXPR_IDENT@1855..1860
            PATH@1855..1860
              Ident@1855..1860 "part9"
        Semi@1860..1861 ";"
        Whitespace@1861..1866 "\n    "
      STMT_LET@1866..1892
        LetKeyword@1866..1869 "let"
        Whitespace@1869..1870 " "
        PATTERN_WILDCARD@1870..1872
          WildcardKeyword@1870..1871 "_"
          Whitespace@1871..1872 " "
        Eq@1872..1873 "="
        Whitespace@1873..1874 " "
        EXPR_CALL@1874..1890
          EXPR_IDENT@1874..1881
            PATH@1874..1881
              Ident@1874..1881 "println"
          ARG_LIST@1881..1890
            LParen@1881..1882 "("
            ARG@1882..1889
              EXPR_IDENT@1882..1889
                PATH@1882..1889
                  Ident@1882..1889 "message"
            RParen@1889..1890 ")"
        Semi@1890..1891 ";"
        Whitespace@1891..1892 "\n"
      RBrace@1892..1893 "}"
      Whitespace@1893..1894 "\n"