FILE@0..835
  TRAIT@0..83
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Arith"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..83
      TRAIT_METHOD_SIG@18..45
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..24 "add"
        TYPE_LIST@24..37
          LParen@24..25 "("
          TYPE_TAPP@25..29
            PATH@25..29
              Ident@25..29 "Self"
          Comma@29..30 ","
          Whitespace@30..31 " "
          TYPE_TAPP@31..35
            PATH@31..35
              Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_INT32@40..45
          Int32Keyword@40..45 "int32"
      Semi@45..46 ";"
      Whitespace@46..51 "\n    "
      TRAIT_METHOD_SIG@51..78
        FnKeyword@51..53 "fn"
        Whitespace@53..54 " "
        Ident@54..58 "less"
        TYPE_LIST@58..71
          LParen@58..59 "("
          TYPE_TAPP@59..63
            PATH@59..63
              Ident@59..63 "Self"
          Comma@63..64 ","
          Whitespace@64..65 " "
          TYPE_TAPP@65..69
            PATH@65..69
              Ident@65..69 "Self"
          RParen@69..70 ")"
          Whitespace@70..71 " "
        Arrow@71..73 "->"
        Whitespace@73..74 " "
        TYPE_BOOL@74..78
          BoolKeyword@74..78 "bool"
      Semi@78..79 ";"
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  IMPL@83..262
    ImplKeyword@83..87 "impl"
    Whitespace@87..88 " "
    PATH@88..94
      Ident@88..93 "Arith"
      Whitespace@93..94 " "
    ForKeyword@94..97 "for"
    Whitespace@97..98 " "
    TYPE_INT32@98..104
      Int32Keyword@98..103 "int32"
      Whitespace@103..104 " "
    LBrace@104..105 "{"
    Whitespace@105..110 "\n    "
    FN@110..187
      FnKeyword@110..112 "fn"
      Whitespace@112..113 " "
      Ident@113..116 "add"
      PARAM_LIST@116..144
        LParen@116..117 "("
        PARAM@117..130
          Ident@117..121 "self"
          Colon@121..122 ":"
          Whitespace@122..123 " "
          TYPE_INT32@123..128
            Int32Keyword@123..128 "int32"
          Comma@128..129 ","
          Whitespace@129..130 " "
        PARAM@130..142
          Ident@130..135 "other"
          Colon@135..136 ":"
          Whitespace@136..137 " "
          TYPE_INT32@137..142
            Int32Keyword@137..142 "int32"
        RParen@142..143 ")"
        Whitespace@143..144 " "
      Arrow@144..146 "->"
      Whitespace@146..147 " "
      TYPE_INT32@147..153
        Int32Keyword@147..152 "int32"
        Whitespace@152..153 " "
      BLOCK@153..187
        LBrace@153..154 "{"
        Whitespace@154..163 "\n        "
        EXPR_BINARY@163..180
          EXPR_IDENT@163..168
            PATH@163..168
              Ident@163..167 "self"
              Whitespace@167..168 " "
          Plus@168..169 "+"
          Whitespace@169..170 " "
          EXPR_IDENT@170..180
            PATH@170..180
              Ident@170..175 "other"
              Whitespace@175..180 "\n    "
        RBrace@180..181 "}"
        Whitespace@181..187 "\n\n    "
    FN@187..259
      FnKeyword@187..189 "fn"
      Whitespace@189..190 " "
      Ident@190..194 "less"
      PARAM_LIST@194..222
        LParen@194..195 "("
        PARAM@195..208
          Ident@195..199 "self"
          Colon@199..200 ":"
          Whitespace@200..201 " "
          TYPE_INT32@201..206
            Int32Keyword@201..206 "int32"
          Comma@206..207 ","
          Whitespace@207..208 " "
        PARAM@208..220
          Ident@208..213 "other"
          Colon@213..214 ":"
          Whitespace@214..215 " "
          TYPE_INT32@215..220
            Int32Keyword@215..220 "int32"
        RParen@220..221 ")"
        Whitespace@221..222 " "
      Arrow@222..224 "->"
      Whitespace@224..225 " "
      TYPE_BOOL@225..230
        BoolKeyword@225..229 "bool"
        Whitespace@229..230 " "
      BLOCK@230..259
        LBrace@230..231 "{"
        Whitespace@231..240 "\n        "
        EXPR_BINARY@240..257
          EXPR_IDENT@240..245
            PATH@240..245
              Ident@240..244 "self"
              Whitespace@244..245 " "
          Less@245..246 "<"
          Whitespace@246..247 " "
          EXPR_IDENT@247..257
            PATH@247..257
              Ident@247..252 "other"
              Whitespace@252..257 "\n    "
        RBrace@257..258 "}"
        Whitespace@258..259 "\n"
    RBrace@259..260 "}"
    Whitespace@260..262 "\n\n"
  TRAIT@262..309
    TraitKeyword@262..267 "trait"
    Whitespace@267..268 " "
    Ident@268..274 "Output"
    Whitespace@274..275 " "
    LBrace@275..276 "{"
    Whitespace@276..281 "\n    "
    TRAIT_METHOD_SIG_LIST@281..309
      TRAIT_METHOD_SIG@281..304
        FnKeyword@281..283 "fn"
        Whitespace@283..284 " "
        Ident@284..290 "output"
        TYPE_LIST@290..297
          LParen@290..291 "("
          TYPE_TAPP@291..295
            PATH@291..295
              Ident@291..295 "Self"
          RParen@295..296 ")"
          Whitespace@296..297 " "
        Arrow@297..299 "->"
        Whitespace@299..300 " "
        TYPE_UNIT@300..304
          UnitKeyword@300..304 "unit"
      Semi@304..305 ";"
      Whitespace@305..306 "\n"
      RBrace@306..307 "}"
      Whitespace@307..309 "\n\n"
  IMPL@309..422
    ImplKeyword@309..313 "impl"
    Whitespace@313..314 " "
    PATH@314..321
      Ident@314..320 "Output"
      Whitespace@320..321 " "
    ForKeyword@321..324 "for"
    Whitespace@324..325 " "
    TYPE_INT32@325..331
      Int32Keyword@325..330 "int32"
      Whitespace@330..331 " "
    LBrace@331..332 "{"
    Whitespace@332..337 "\n    "
    FN@337..419
      FnKeyword@337..339 "fn"
      Whitespace@339..340 " "
      Ident@340..346 "output"
      PARAM_LIST@346..360
        LParen@346..347 "("
        PARAM@347..358
          Ident@347..351 "self"
          Colon@351..352 ":"
          Whitespace@352..353 " "
          TYPE_INT32@353..358
            Int32Keyword@353..358 "int32"
        RParen@358..359 ")"
        Whitespace@359..360 " "
      Arrow@360..362 "->"
      Whitespace@362..363 " "
      TYPE_UNIT@363..368
        UnitKeyword@363..367 "unit"
        Whitespace@367..368 " "
      BLOCK@368..419
        LBrace@368..369 "{"
        Whitespace@369..378 "\n        "
        EXPR_CALL@378..417
          EXPR_IDENT@378..385
            PATH@378..385
              Ident@378..385 "println"
          ARG_LIST@385..417
            LParen@385..386 "("
            ARG@386..411
              EXPR_CALL@386..411
                EXPR_IDENT@386..405
                  PATH@386..405
                    Ident@386..394 "ToString"
                    ColonColon@394..396 "::"
                    Ident@396..405 "to_string"
                ARG_LIST@405..411
                  LParen@405..406 "("
                  ARG@406..410
                    EXPR_IDENT@406..410
                      PATH@406..410
                        Ident@406..410 "self"
                  RParen@410..411 ")"
            RParen@411..412 ")"
            Whitespace@412..417 "\n    "
        RBrace@417..418 "}"
        Whitespace@418..419 "\n"
    RBrace@419..420 "}"
    Whitespace@420..422 "\n\n"
  IMPL@422..533
    ImplKeyword@422..426 "impl"
    Whitespace@426..427 " "
    PATH@427..434
      Ident@427..433 "Output"
      Whitespace@433..434 " "
    ForKeyword@434..437 "for"
    Whitespace@437..438 " "
    TYPE_BOOL@438..443
      BoolKeyword@438..442 "bool"
      Whitespace@442..443 " "
    LBrace@443..444 "{"
    Whitespace@444..449 "\n    "
    FN@449..530
      FnKeyword@449..451 "fn"
      Whitespace@451..452 " "
      Ident@452..458 "output"
      PARAM_LIST@458..471
        LParen@458..459 "("
        PARAM@459..469
          Ident@459..463 "self"
          Colon@463..464 ":"
          Whitespace@464..465 " "
          TYPE_BOOL@465..469
            BoolKeyword@465..469 "bool"
        RParen@469..470 ")"
        Whitespace@470..471 " "
      Arrow@471..473 "->"
      Whitespace@473..474 " "
      TYPE_UNIT@474..479
        UnitKeyword@474..478 "unit"
        Whitespace@478..479 " "
      BLOCK@479..530
        LBrace@479..480 "{"
        Whitespace@480..489 "\n        "
        EXPR_CALL@489..528
          EXPR_IDENT@489..496
            PATH@489..496
              Ident@489..496 "println"
          ARG_LIST@496..528
            LParen@496..497 "("
            ARG@497..522
              EXPR_CALL@497..522
                EXPR_IDENT@497..516
                  PATH@497..516
                    Ident@497..505 "ToString"
                    ColonColon@505..507 "::"
                    Ident@507..516 "to_string"
                ARG_LIST@516..522
                  LParen@516..517 "("
                  ARG@517..521
                    EXPR_IDENT@517..521
                      PATH@517..521
                        Ident@517..521 "self"
                  RParen@521..522 ")"
            RParen@522..523 ")"
            Whitespace@523..528 "\n    "
        RBrace@528..529 "}"
        Whitespace@529..530 "\n"
    RBrace@530..531 "}"
    Whitespace@531..533 "\n\n"
  FN@533..564
    FnKeyword@533..535 "fn"
    Whitespace@535..536 " "
    Ident@536..538 "id"
    GENERIC_LIST@538..541
      LBracket@538..539 "["
      GENERIC@539..540
        Ident@539..540 "T"
      RBracket@540..541 "]"
    PARAM_LIST@541..548
      LParen@541..542 "("
      PARAM@542..546
        Ident@542..543 "x"
        Colon@543..544 ":"
        Whitespace@544..545 " "
        TYPE_TAPP@545..546
          PATH@545..546
            Ident@545..546 "T"
      RParen@546..547 ")"
      Whitespace@547..548 " "
    Arrow@548..550 "->"
    Whitespace@550..551 " "
    TYPE_TAPP@551..553
      PATH@551..553
        Ident@551..552 "T"
        Whitespace@552..553 " "
    BLOCK@553..564
      LBrace@553..554 "{"
      Whitespace@554..559 "\n    "
      EXPR_IDENT@559..561
        PATH@559..561
          Ident@559..560 "x"
          Whitespace@560..561 "\n"
      RBrace@561..562 "}"
      Whitespace@562..564 "\n\n"
  FN@564..835
    FnKeyword@564..566 "fn"
    Whitespace@566..567 " "
    Ident@567..571 "main"
    PARAM_LIST@571..574
      LParen@571..572 "("
      RParen@572..573 ")"
      Whitespace@573..574 " "
    BLOCK@574..835
      LBrace@574..575 "{"
      Whitespace@575..580 "\n    "
      STMT_LET@580..599
        LetKeyword@580..583 "let"
        Whitespace@583..584 " "
        PATTERN_VARIABLE@584..586
          Ident@584..585 "a"
          Whitespace@585..586 " "
        Eq@586..587 "="
        Whitespace@587..588 " "
        EXPR_CALL@588..593
          EXPR_IDENT@588..590
            PATH@588..590
              Ident@588..590 "id"
          ARG_LIST@590..593
            LParen@590..591 "("
            ARG@591..592
              EXPR_INT@591..592
                Int@591..592 "1"
            RParen@592..593 ")"
        Semi@593..594 ";"
        Whitespace@594..599 "\n    "
      STMT_LET@599..618
        LetKeyword@599..602 "let"
        Whitespace@602..603 " "
        PATTERN_VARIABLE@603..605
          Ident@603..604 "b"
          Whitespace@604..605 " "
        Eq@605..606 "="
        Whitespace@606..607 " "
        EXPR_CALL@607..612
          EXPR_IDENT@607..609
            PATH@607..609
              Ident@607..609 "id"
          ARG_LIST@609..612
            LParen@609..610 "("
            ARG@610..611
              EXPR_INT@610..611
                Int@610..611 "2"
            RParen@611..612 ")"
        Semi@612..613 ";"
        Whitespace@613..618 "\n    "
      STMT_LET@618..648
        LetKeyword@618..621 "let"
        Whitespace@621..622 " "
        PATTERN_VARIABLE@622..624
          Ident@622..623 "c"
          Whitespace@623..624 " "
        Eq@624..625 "="
        Whitespace@625..626 " "
        EXPR_CALL@626..642
          EXPR_IDENT@626..636
            PATH@626..636
              Ident@626..631 "Arith"
              ColonColon@631..633 "::"
              Ident@633..636 "add"
          ARG_LIST@636..642
            LParen@636..637 "("
            ARG@637..640
              EXPR_IDENT@637..638
                PATH@637..638
                  Ident@637..638 "a"
              Comma@638..639 ","
              Whitespace@639..640 " "
            ARG@640..641
              EXPR_IDENT@640..641
                PATH@640..641
                  Ident@640..641 "b"
            RParen@641..642 ")"
        Semi@642..643 ";"
        Whitespace@643..648 "\n    "
      STMT_LET@648..680
        LetKeyword@648..651 "let"
        Whitespace@651..652 " "
        PATTERN_WILDCARD@652..654
          WildcardKeyword@652..653 "_"
          Whitespace@653..654 " "
        Eq@654..655 "="
        Whitespace@655..656 " "
        EXPR_CALL@656..673
          EXPR_IDENT@656..670
            PATH@656..670
              Ident@656..662 "Output"
              ColonColon@662..664 "::"
              Ident@664..670 "output"
          ARG_LIST@670..673
            LParen@670..671 "("
            ARG@671..672
              EXPR_IDENT@671..672
                PATH@671..672
                  Ident@671..672 "c"
            RParen@672..673 ")"
        Semi@673..674 ";"
        Whitespace@674..680 "\n\n    "
      STMT_LET@680..699
        LetKeyword@680..683 "let"
        Whitespace@683..684 " "
        PATTERN_VARIABLE@684..686
          Ident@684..685 "a"
          Whitespace@685..686 " "
        Eq@686..687 "="
        Whitespace@687..688 " "
        EXPR_CALL@688..693
          EXPR_IDENT@688..690
            PATH@688..690
              Ident@688..690 "id"
          ARG_LIST@690..693
            LParen@690..691 "("
            ARG@691..692
              EXPR_INT@691..692
                Int@691..692 "3"
            RParen@692..693 ")"
        Semi@693..694 ";"
        Whitespace@694..699 "\n    "
      STMT_LET@699..718
        LetKeyword@699..702 "let"
        Whitespace@702..703 " "
        PATTERN_VARIABLE@703..705
          Ident@703..704 "b"
          Whitespace@704..705 " "
        Eq@705..706 "="
        Whitespace@706..707 " "
        EXPR_CALL@707..712
          EXPR_IDENT@707..709
            PATH@707..709
              Ident@707..709 "id"
          ARG_LIST@709..712
            LParen@709..710 "("
            ARG@710..711
              EXPR_INT@710..711
                Int@710..711 "4"
            RParen@711..712 ")"
        Semi@712..713 ";"
        Whitespace@713..718 "\n    "
      STMT_LET@718..749
        LetKeyword@718..721 "let"
        Whitespace@721..722 " "
        PATTERN_VARIABLE@722..724
          Ident@722..723 "c"
          Whitespace@723..724 " "
        Eq@724..725 "="
        Whitespace@725..726 " "
        EXPR_CALL@726..743
          EXPR_IDENT@726..737
            PATH@726..737
              Ident@726..731 "Arith"
              ColonColon@731..733 "::"
              Ident@733..737 "less"
          ARG_LIST@737..743
            LParen@737..738 "("
            ARG@738..741
              EXPR_IDENT@738..739
                PATH@738..739
                  Ident@738..739 "a"
              Comma@739..740 ","
              Whitespace@740..741 " "
            ARG@741..742
              EXPR_IDENT@741..742
                PATH@741..742
                  Ident@741..742 "b"
            RParen@742..743 ")"
        Semi@743..744 ";"
        Whitespace@744..749 "\n    "
      STMT_LET@749..781
        LetKeyword@749..752 "let"
        Whitespace@752..753 " "
        PATTERN_WILDCARD@753..755
          WildcardKeyword@753..754 "_"
          Whitespace@754..755 " "
        Eq@755..756 "="
        Whitespace@756..757 " "
        EXPR_CALL@757..774
          EXPR_IDENT@757..771
            PATH@757..771
              Ident@757..763 "Output"
              ColonColon@763..765 "::"
              Ident@765..771 "output"
          ARG_LIST@771..774
            LParen@771..772 "("
            ARG@772..773
              EXPR_IDENT@772..773
                PATH@772..773
                  Ident@772..773 "c"
            RParen@773..774 ")"
        Semi@774..775 ";"
        Whitespace@775..781 "\n\n    "
      STMT_LET@781..804
        LetKeyword@781..784 "let"
        Whitespace@784..785 " "
        PATTERN_WILDCARD@785..787
          WildcardKeyword@785..786 "_"
          Whitespace@786..787 " "
        Eq@787..788 "="
        Whitespace@788..789 " "
        EXPR_CALL@789..798
          EXPR_IDENT@789..791
            PATH@789..791
              Ident@789..791 "id"
          ARG_LIST@791..798
            LParen@791..792 "("
            ARG@792..797
              EXPR_STR@792..797
                Str@792..797 "\"abc\""
            RParen@797..798 ")"
        Semi@798..799 ";"
        Whitespace@799..804 "\n    "
      STMT_LET@804..831
        LetKeyword@804..807 "let"
        Whitespace@807..808 " "
        PATTERN_WILDCARD@808..810
          WildcardKeyword@808..809 "_"
          Whitespace@809..810 " "
        Eq@810..811 "="
        Whitespace@811..812 " "
        EXPR_CALL@812..820
          EXPR_IDENT@812..814
            PATH@812..814
              Ident@812..814 "id"
          ARG_LIST@814..820
            LParen@814..815 "("
            ARG@815..819
              EXPR_BOOL@815..819
                TrueKeyword@815..819 "true"
            RParen@819..820 ")"
        Semi@820..821 ";"
        Whitespace@821..831 "\n    \n    "
      EXPR_UNIT@831..834
        LParen@831..832 "("
        RParen@832..833 ")"
        Whitespace@833..834 "\n"
      RBrace@834..835 "}"