FILE@0..849
  TRAIT@0..83
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Arith"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..83
      TRAIT_METHOD_SIG@18..45
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..24 "add"
        TYPE_LIST@24..37
          LParen@24..25 "("
          TYPE_TAPP@25..29
            PATH@25..29
              Ident@25..29 "Self"
          Comma@29..30 ","
          Whitespace@30..31 " "
          TYPE_TAPP@31..35
            PATH@31..35
              Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_INT32@40..45
          Int32Keyword@40..45 "int32"
      Semi@45..46 ";"
      Whitespace@46..51 "\n    "
      TRAIT_METHOD_SIG@51..78
        FnKeyword@51..53 "fn"
        Whitespace@53..54 " "
        Ident@54..58 "less"
        TYPE_LIST@58..71
          LParen@58..59 "("
          TYPE_TAPP@59..63
            PATH@59..63
              Ident@59..63 "Self"
          Comma@63..64 ","
          Whitespace@64..65 " "
          TYPE_TAPP@65..69
            PATH@65..69
              Ident@65..69 "Self"
          RParen@69..70 ")"
          Whitespace@70..71 " "
        Arrow@71..73 "->"
        Whitespace@73..74 " "
        TYPE_BOOL@74..78
          BoolKeyword@74..78 "bool"
      Semi@78..79 ";"
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  IMPL@83..262
    ImplKeyword@83..87 "impl"
    Whitespace@87..88 " "
    PATH@88..94
      Ident@88..93 "Arith"
      Whitespace@93..94 " "
    ForKeyword@94..97 "for"
    Whitespace@97..98 " "
    TYPE_INT32@98..104
      Int32Keyword@98..103 "int32"
      Whitespace@103..104 " "
    LBrace@104..105 "{"
    Whitespace@105..110 "\n    "
    FN@110..187
      FnKeyword@110..112 "fn"
      Whitespace@112..113 " "
      Ident@113..116 "add"
      PARAM_LIST@116..144
        LParen@116..117 "("
        PARAM@117..130
          Ident@117..121 "self"
          Colon@121..122 ":"
          Whitespace@122..123 " "
          TYPE_INT32@123..128
            Int32Keyword@123..128 "int32"
          Comma@128..129 ","
          Whitespace@129..130 " "
        PARAM@130..142
          Ident@130..135 "other"
          Colon@135..136 ":"
          Whitespace@136..137 " "
          TYPE_INT32@137..142
            Int32Keyword@137..142 "int32"
        RParen@142..143 ")"
        Whitespace@143..144 " "
      Arrow@144..146 "->"
      Whitespace@146..147 " "
      TYPE_INT32@147..153
        Int32Keyword@147..152 "int32"
        Whitespace@152..153 " "
      BLOCK@153..187
        LBrace@153..154 "{"
        Whitespace@154..163 "\n        "
        EXPR_BINARY@163..180
          EXPR_IDENT@163..168
            PATH@163..168
              Ident@163..167 "self"
              Whitespace@167..168 " "
          Plus@168..169 "+"
          Whitespace@169..170 " "
          EXPR_IDENT@170..180
            PATH@170..180
              Ident@170..175 "other"
              Whitespace@175..180 "\n    "
        RBrace@180..181 "}"
        Whitespace@181..187 "\n\n    "
    FN@187..259
      FnKeyword@187..189 "fn"
      Whitespace@189..190 " "
      Ident@190..194 "less"
      PARAM_LIST@194..222
        LParen@194..195 "("
        PARAM@195..208
          Ident@195..199 "self"
          Colon@199..200 ":"
          Whitespace@200..201 " "
          TYPE_INT32@201..206
            Int32Keyword@201..206 "int32"
          Comma@206..207 ","
          Whitespace@207..208 " "
        PARAM@208..220
          Ident@208..213 "other"
          Colon@213..214 ":"
          Whitespace@214..215 " "
          TYPE_INT32@215..220
            Int32Keyword@215..220 "int32"
        RParen@220..221 ")"
        Whitespace@221..222 " "
      Arrow@222..224 "->"
      Whitespace@224..225 " "
      TYPE_BOOL@225..230
        BoolKeyword@225..229 "bool"
        Whitespace@229..230 " "
      BLOCK@230..259
        LBrace@230..231 "{"
        Whitespace@231..240 "\n        "
        EXPR_BINARY@240..257
          EXPR_IDENT@240..245
            PATH@240..245
              Ident@240..244 "self"
              Whitespace@244..245 " "
          Less@245..246 "<"
          Whitespace@246..247 " "
          EXPR_IDENT@247..257
            PATH@247..257
              Ident@247..252 "other"
              Whitespace@252..257 "\n    "
        RBrace@257..258 "}"
        Whitespace@258..259 "\n"
    RBrace@259..260 "}"
    Whitespace@260..262 "\n\n"
  TRAIT@262..309
    TraitKeyword@262..267 "trait"
    Whitespace@267..268 " "
    Ident@268..274 "Output"
    Whitespace@274..275 " "
    LBrace@275..276 "{"
    Whitespace@276..281 "\n    "
    TRAIT_METHOD_SIG_LIST@281..309
      TRAIT_METHOD_SIG@281..304
        FnKeyword@281..283 "fn"
        Whitespace@283..284 " "
        Ident@284..290 "output"
        TYPE_LIST@290..297
          LParen@290..291 "("
          TYPE_TAPP@291..295
            PATH@291..295
              Ident@291..295 "Self"
          RParen@295..296 ")"
          Whitespace@296..297 " "
        Arrow@297..299 "->"
        Whitespace@299..300 " "
        TYPE_UNIT@300..304
          UnitKeyword@300..304 "unit"
      Semi@304..305 ";"
      Whitespace@305..306 "\n"
      RBrace@306..307 "}"
      Whitespace@307..309 "\n\n"
  IMPL@309..429
    ImplKeyword@309..313 "impl"
    Whitespace@313..314 " "
    PATH@314..321
      Ident@314..320 "Output"
      Whitespace@320..321 " "
    ForKeyword@321..324 "for"
    Whitespace@324..325 " "
    TYPE_INT32@325..331
      Int32Keyword@325..330 "int32"
      Whitespace@330..331 " "
    LBrace@331..332 "{"
    Whitespace@332..337 "\n    "
    FN@337..426
      FnKeyword@337..339 "fn"
      Whitespace@339..340 " "
      Ident@340..346 "output"
      PARAM_LIST@346..360
        LParen@346..347 "("
        PARAM@347..358
          Ident@347..351 "self"
          Colon@351..352 ":"
          Whitespace@352..353 " "
          TYPE_INT32@353..358
            Int32Keyword@353..358 "int32"
        RParen@358..359 ")"
        Whitespace@359..360 " "
      Arrow@360..362 "->"
      Whitespace@362..363 " "
      TYPE_UNIT@363..368
        UnitKeyword@363..367 "unit"
        Whitespace@367..368 " "
      BLOCK@368..426
        LBrace@368..369 "{"
        Whitespace@369..378 "\n        "
        EXPR_CALL@378..424
          EXPR_IDENT@378..392
            PATH@378..392
              Ident@378..392 "string_println"
          ARG_LIST@392..424
            LParen@392..393 "("
            ARG@393..418
              EXPR_CALL@393..418
                EXPR_IDENT@393..412
                  PATH@393..412
                    Ident@393..401 "ToString"
                    ColonColon@401..403 "::"
                    Ident@403..412 "to_string"
                ARG_LIST@412..418
                  LParen@412..413 "("
                  ARG@413..417
                    EXPR_IDENT@413..417
                      PATH@413..417
                        Ident@413..417 "self"
                  RParen@417..418 ")"
            RParen@418..419 ")"
            Whitespace@419..424 "\n    "
        RBrace@424..425 "}"
        Whitespace@425..426 "\n"
    RBrace@426..427 "}"
    Whitespace@427..429 "\n\n"
  IMPL@429..547
    ImplKeyword@429..433 "impl"
    Whitespace@433..434 " "
    PATH@434..441
      Ident@434..440 "Output"
      Whitespace@440..441 " "
    ForKeyword@441..444 "for"
    Whitespace@444..445 " "
    TYPE_BOOL@445..450
      BoolKeyword@445..449 "bool"
      Whitespace@449..450 " "
    LBrace@450..451 "{"
    Whitespace@451..456 "\n    "
    FN@456..544
      FnKeyword@456..458 "fn"
      Whitespace@458..459 " "
      Ident@459..465 "output"
      PARAM_LIST@465..478
        LParen@465..466 "("
        PARAM@466..476
          Ident@466..470 "self"
          Colon@470..471 ":"
          Whitespace@471..472 " "
          TYPE_BOOL@472..476
            BoolKeyword@472..476 "bool"
        RParen@476..477 ")"
        Whitespace@477..478 " "
      Arrow@478..480 "->"
      Whitespace@480..481 " "
      TYPE_UNIT@481..486
        UnitKeyword@481..485 "unit"
        Whitespace@485..486 " "
      BLOCK@486..544
        LBrace@486..487 "{"
        Whitespace@487..496 "\n        "
        EXPR_CALL@496..542
          EXPR_IDENT@496..510
            PATH@496..510
              Ident@496..510 "string_println"
          ARG_LIST@510..542
            LParen@510..511 "("
            ARG@511..536
              EXPR_CALL@511..536
                EXPR_IDENT@511..530
                  PATH@511..530
                    Ident@511..519 "ToString"
                    ColonColon@519..521 "::"
                    Ident@521..530 "to_string"
                ARG_LIST@530..536
                  LParen@530..531 "("
                  ARG@531..535
                    EXPR_IDENT@531..535
                      PATH@531..535
                        Ident@531..535 "self"
                  RParen@535..536 ")"
            RParen@536..537 ")"
            Whitespace@537..542 "\n    "
        RBrace@542..543 "}"
        Whitespace@543..544 "\n"
    RBrace@544..545 "}"
    Whitespace@545..547 "\n\n"
  FN@547..578
    FnKeyword@547..549 "fn"
    Whitespace@549..550 " "
    Ident@550..552 "id"
    GENERIC_LIST@552..555
      LBracket@552..553 "["
      GENERIC@553..554
        Ident@553..554 "T"
      RBracket@554..555 "]"
    PARAM_LIST@555..562
      LParen@555..556 "("
      PARAM@556..560
        Ident@556..557 "x"
        Colon@557..558 ":"
        Whitespace@558..559 " "
        TYPE_TAPP@559..560
          PATH@559..560
            Ident@559..560 "T"
      RParen@560..561 ")"
      Whitespace@561..562 " "
    Arrow@562..564 "->"
    Whitespace@564..565 " "
    TYPE_TAPP@565..567
      PATH@565..567
        Ident@565..566 "T"
        Whitespace@566..567 " "
    BLOCK@567..578
      LBrace@567..568 "{"
      Whitespace@568..573 "\n    "
      EXPR_IDENT@573..575
        PATH@573..575
          Ident@573..574 "x"
          Whitespace@574..575 "\n"
      RBrace@575..576 "}"
      Whitespace@576..578 "\n\n"
  FN@578..849
    FnKeyword@578..580 "fn"
    Whitespace@580..581 " "
    Ident@581..585 "main"
    PARAM_LIST@585..588
      LParen@585..586 "("
      RParen@586..587 ")"
      Whitespace@587..588 " "
    BLOCK@588..849
      LBrace@588..589 "{"
      Whitespace@589..594 "\n    "
      STMT_LET@594..613
        LetKeyword@594..597 "let"
        Whitespace@597..598 " "
        PATTERN_VARIABLE@598..600
          Ident@598..599 "a"
          Whitespace@599..600 " "
        Eq@600..601 "="
        Whitespace@601..602 " "
        EXPR_CALL@602..607
          EXPR_IDENT@602..604
            PATH@602..604
              Ident@602..604 "id"
          ARG_LIST@604..607
            LParen@604..605 "("
            ARG@605..606
              EXPR_INT@605..606
                Int@605..606 "1"
            RParen@606..607 ")"
        Semi@607..608 ";"
        Whitespace@608..613 "\n    "
      STMT_LET@613..632
        LetKeyword@613..616 "let"
        Whitespace@616..617 " "
        PATTERN_VARIABLE@617..619
          Ident@617..618 "b"
          Whitespace@618..619 " "
        Eq@619..620 "="
        Whitespace@620..621 " "
        EXPR_CALL@621..626
          EXPR_IDENT@621..623
            PATH@621..623
              Ident@621..623 "id"
          ARG_LIST@623..626
            LParen@623..624 "("
            ARG@624..625
              EXPR_INT@624..625
                Int@624..625 "2"
            RParen@625..626 ")"
        Semi@626..627 ";"
        Whitespace@627..632 "\n    "
      STMT_LET@632..662
        LetKeyword@632..635 "let"
        Whitespace@635..636 " "
        PATTERN_VARIABLE@636..638
          Ident@636..637 "c"
          Whitespace@637..638 " "
        Eq@638..639 "="
        Whitespace@639..640 " "
        EXPR_CALL@640..656
          EXPR_IDENT@640..650
            PATH@640..650
              Ident@640..645 "Arith"
              ColonColon@645..647 "::"
              Ident@647..650 "add"
          ARG_LIST@650..656
            LParen@650..651 "("
            ARG@651..654
              EXPR_IDENT@651..652
                PATH@651..652
                  Ident@651..652 "a"
              Comma@652..653 ","
              Whitespace@653..654 " "
            ARG@654..655
              EXPR_IDENT@654..655
                PATH@654..655
                  Ident@654..655 "b"
            RParen@655..656 ")"
        Semi@656..657 ";"
        Whitespace@657..662 "\n    "
      STMT_LET@662..694
        LetKeyword@662..665 "let"
        Whitespace@665..666 " "
        PATTERN_WILDCARD@666..668
          WildcardKeyword@666..667 "_"
          Whitespace@667..668 " "
        Eq@668..669 "="
        Whitespace@669..670 " "
        EXPR_CALL@670..687
          EXPR_IDENT@670..684
            PATH@670..684
              Ident@670..676 "Output"
              ColonColon@676..678 "::"
              Ident@678..684 "output"
          ARG_LIST@684..687
            LParen@684..685 "("
            ARG@685..686
              EXPR_IDENT@685..686
                PATH@685..686
                  Ident@685..686 "c"
            RParen@686..687 ")"
        Semi@687..688 ";"
        Whitespace@688..694 "\n\n    "
      STMT_LET@694..713
        LetKeyword@694..697 "let"
        Whitespace@697..698 " "
        PATTERN_VARIABLE@698..700
          Ident@698..699 "a"
          Whitespace@699..700 " "
        Eq@700..701 "="
        Whitespace@701..702 " "
        EXPR_CALL@702..707
          EXPR_IDENT@702..704
            PATH@702..704
              Ident@702..704 "id"
          ARG_LIST@704..707
            LParen@704..705 "("
            ARG@705..706
              EXPR_INT@705..706
                Int@705..706 "3"
            RParen@706..707 ")"
        Semi@707..708 ";"
        Whitespace@708..713 "\n    "
      STMT_LET@713..732
        LetKeyword@713..716 "let"
        Whitespace@716..717 " "
        PATTERN_VARIABLE@717..719
          Ident@717..718 "b"
          Whitespace@718..719 " "
        Eq@719..720 "="
        Whitespace@720..721 " "
        EXPR_CALL@721..726
          EXPR_IDENT@721..723
            PATH@721..723
              Ident@721..723 "id"
          ARG_LIST@723..726
            LParen@723..724 "("
            ARG@724..725
              EXPR_INT@724..725
                Int@724..725 "4"
            RParen@725..726 ")"
        Semi@726..727 ";"
        Whitespace@727..732 "\n    "
      STMT_LET@732..763
        LetKeyword@732..735 "let"
        Whitespace@735..736 " "
        PATTERN_VARIABLE@736..738
          Ident@736..737 "c"
          Whitespace@737..738 " "
        Eq@738..739 "="
        Whitespace@739..740 " "
        EXPR_CALL@740..757
          EXPR_IDENT@740..751
            PATH@740..751
              Ident@740..745 "Arith"
              ColonColon@745..747 "::"
              Ident@747..751 "less"
          ARG_LIST@751..757
            LParen@751..752 "("
            ARG@752..755
              EXPR_IDENT@752..753
                PATH@752..753
                  Ident@752..753 "a"
              Comma@753..754 ","
              Whitespace@754..755 " "
            ARG@755..756
              EXPR_IDENT@755..756
                PATH@755..756
                  Ident@755..756 "b"
            RParen@756..757 ")"
        Semi@757..758 ";"
        Whitespace@758..763 "\n    "
      STMT_LET@763..795
        LetKeyword@763..766 "let"
        Whitespace@766..767 " "
        PATTERN_WILDCARD@767..769
          WildcardKeyword@767..768 "_"
          Whitespace@768..769 " "
        Eq@769..770 "="
        Whitespace@770..771 " "
        EXPR_CALL@771..788
          EXPR_IDENT@771..785
            PATH@771..785
              Ident@771..777 "Output"
              ColonColon@777..779 "::"
              Ident@779..785 "output"
          ARG_LIST@785..788
            LParen@785..786 "("
            ARG@786..787
              EXPR_IDENT@786..787
                PATH@786..787
                  Ident@786..787 "c"
            RParen@787..788 ")"
        Semi@788..789 ";"
        Whitespace@789..795 "\n\n    "
      STMT_LET@795..818
        LetKeyword@795..798 "let"
        Whitespace@798..799 " "
        PATTERN_WILDCARD@799..801
          WildcardKeyword@799..800 "_"
          Whitespace@800..801 " "
        Eq@801..802 "="
        Whitespace@802..803 " "
        EXPR_CALL@803..812
          EXPR_IDENT@803..805
            PATH@803..805
              Ident@803..805 "id"
          ARG_LIST@805..812
            LParen@805..806 "("
            ARG@806..811
              EXPR_STR@806..811
                Str@806..811 "\"abc\""
            RParen@811..812 ")"
        Semi@812..813 ";"
        Whitespace@813..818 "\n    "
      STMT_LET@818..845
        LetKeyword@818..821 "let"
        Whitespace@821..822 " "
        PATTERN_WILDCARD@822..824
          WildcardKeyword@822..823 "_"
          Whitespace@823..824 " "
        Eq@824..825 "="
        Whitespace@825..826 " "
        EXPR_CALL@826..834
          EXPR_IDENT@826..828
            PATH@826..828
              Ident@826..828 "id"
          ARG_LIST@828..834
            LParen@828..829 "("
            ARG@829..833
              EXPR_BOOL@829..833
                TrueKeyword@829..833 "true"
            RParen@833..834 ")"
        Semi@834..835 ";"
        Whitespace@835..845 "\n    \n    "
      EXPR_UNIT@845..848
        LParen@845..846 "("
        RParen@846..847 ")"
        Whitespace@847..848 "\n"
      RBrace@848..849 "}"