FILE@0..894
  TRAIT@0..107
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Arith"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..107
      TRAIT_METHOD_SIG@18..57
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..24 "add"
        PARAM_LIST@24..49
          LParen@24..25 "("
          PARAM@25..37
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
            Comma@35..36 ","
            Whitespace@36..37 " "
          PARAM@37..47
            Ident@37..41 "arg1"
            Colon@41..42 ":"
            Whitespace@42..43 " "
            TYPE_TAPP@43..47
              PATH@43..47
                Ident@43..47 "Self"
          RParen@47..48 ")"
          Whitespace@48..49 " "
        Arrow@49..51 "->"
        Whitespace@51..52 " "
        TYPE_INT32@52..57
          Int32Keyword@52..57 "int32"
      Semi@57..58 ";"
      Whitespace@58..63 "\n    "
      TRAIT_METHOD_SIG@63..102
        FnKeyword@63..65 "fn"
        Whitespace@65..66 " "
        Ident@66..70 "less"
        PARAM_LIST@70..95
          LParen@70..71 "("
          PARAM@71..83
            Ident@71..75 "self"
            Colon@75..76 ":"
            Whitespace@76..77 " "
            TYPE_TAPP@77..81
              PATH@77..81
                Ident@77..81 "Self"
            Comma@81..82 ","
            Whitespace@82..83 " "
          PARAM@83..93
            Ident@83..87 "arg1"
            Colon@87..88 ":"
            Whitespace@88..89 " "
            TYPE_TAPP@89..93
              PATH@89..93
                Ident@89..93 "Self"
          RParen@93..94 ")"
          Whitespace@94..95 " "
        Arrow@95..97 "->"
        Whitespace@97..98 " "
        TYPE_BOOL@98..102
          BoolKeyword@98..102 "bool"
      Semi@102..103 ";"
      Whitespace@103..104 "\n"
      RBrace@104..105 "}"
      Whitespace@105..107 "\n\n"
  IMPL@107..286
    ImplKeyword@107..111 "impl"
    Whitespace@111..112 " "
    TYPE_TAPP@112..118
      PATH@112..118
        Ident@112..117 "Arith"
        Whitespace@117..118 " "
    ForKeyword@118..121 "for"
    Whitespace@121..122 " "
    TYPE_INT32@122..128
      Int32Keyword@122..127 "int32"
      Whitespace@127..128 " "
    LBrace@128..129 "{"
    Whitespace@129..134 "\n    "
    FN@134..211
      FnKeyword@134..136 "fn"
      Whitespace@136..137 " "
      Ident@137..140 "add"
      PARAM_LIST@140..168
        LParen@140..141 "("
        PARAM@141..154
          Ident@141..145 "self"
          Colon@145..146 ":"
          Whitespace@146..147 " "
          TYPE_INT32@147..152
            Int32Keyword@147..152 "int32"
          Comma@152..153 ","
          Whitespace@153..154 " "
        PARAM@154..166
          Ident@154..159 "other"
          Colon@159..160 ":"
          Whitespace@160..161 " "
          TYPE_INT32@161..166
            Int32Keyword@161..166 "int32"
        RParen@166..167 ")"
        Whitespace@167..168 " "
      Arrow@168..170 "->"
      Whitespace@170..171 " "
      TYPE_INT32@171..177
        Int32Keyword@171..176 "int32"
        Whitespace@176..177 " "
      BLOCK@177..211
        LBrace@177..178 "{"
        Whitespace@178..187 "\n        "
        EXPR_BINARY@187..204
          EXPR_IDENT@187..192
            PATH@187..192
              Ident@187..191 "self"
              Whitespace@191..192 " "
          Plus@192..193 "+"
          Whitespace@193..194 " "
          EXPR_IDENT@194..204
            PATH@194..204
              Ident@194..199 "other"
              Whitespace@199..204 "\n    "
        RBrace@204..205 "}"
        Whitespace@205..211 "\n\n    "
    FN@211..283
      FnKeyword@211..213 "fn"
      Whitespace@213..214 " "
      Ident@214..218 "less"
      PARAM_LIST@218..246
        LParen@218..219 "("
        PARAM@219..232
          Ident@219..223 "self"
          Colon@223..224 ":"
          Whitespace@224..225 " "
          TYPE_INT32@225..230
            Int32Keyword@225..230 "int32"
          Comma@230..231 ","
          Whitespace@231..232 " "
        PARAM@232..244
          Ident@232..237 "other"
          Colon@237..238 ":"
          Whitespace@238..239 " "
          TYPE_INT32@239..244
            Int32Keyword@239..244 "int32"
        RParen@244..245 ")"
        Whitespace@245..246 " "
      Arrow@246..248 "->"
      Whitespace@248..249 " "
      TYPE_BOOL@249..254
        BoolKeyword@249..253 "bool"
        Whitespace@253..254 " "
      BLOCK@254..283
        LBrace@254..255 "{"
        Whitespace@255..264 "\n        "
        EXPR_BINARY@264..281
          EXPR_IDENT@264..269
            PATH@264..269
              Ident@264..268 "self"
              Whitespace@268..269 " "
          Less@269..270 "<"
          Whitespace@270..271 " "
          EXPR_IDENT@271..281
            PATH@271..281
              Ident@271..276 "other"
              Whitespace@276..281 "\n    "
        RBrace@281..282 "}"
        Whitespace@282..283 "\n"
    RBrace@283..284 "}"
    Whitespace@284..286 "\n\n"
  TRAIT@286..339
    TraitKeyword@286..291 "trait"
    Whitespace@291..292 " "
    Ident@292..298 "Output"
    Whitespace@298..299 " "
    LBrace@299..300 "{"
    Whitespace@300..305 "\n    "
    TRAIT_METHOD_SIG_LIST@305..339
      TRAIT_METHOD_SIG@305..334
        FnKeyword@305..307 "fn"
        Whitespace@307..308 " "
        Ident@308..314 "output"
        PARAM_LIST@314..327
          LParen@314..315 "("
          PARAM@315..325
            Ident@315..319 "self"
            Colon@319..320 ":"
            Whitespace@320..321 " "
            TYPE_TAPP@321..325
              PATH@321..325
                Ident@321..325 "Self"
          RParen@325..326 ")"
          Whitespace@326..327 " "
        Arrow@327..329 "->"
        Whitespace@329..330 " "
        TYPE_UNIT@330..334
          UnitKeyword@330..334 "unit"
      Semi@334..335 ";"
      Whitespace@335..336 "\n"
      RBrace@336..337 "}"
      Whitespace@337..339 "\n\n"
  IMPL@339..452
    ImplKeyword@339..343 "impl"
    Whitespace@343..344 " "
    TYPE_TAPP@344..351
      PATH@344..351
        Ident@344..350 "Output"
        Whitespace@350..351 " "
    ForKeyword@351..354 "for"
    Whitespace@354..355 " "
    TYPE_INT32@355..361
      Int32Keyword@355..360 "int32"
      Whitespace@360..361 " "
    LBrace@361..362 "{"
    Whitespace@362..367 "\n    "
    FN@367..449
      FnKeyword@367..369 "fn"
      Whitespace@369..370 " "
      Ident@370..376 "output"
      PARAM_LIST@376..390
        LParen@376..377 "("
        PARAM@377..388
          Ident@377..381 "self"
          Colon@381..382 ":"
          Whitespace@382..383 " "
          TYPE_INT32@383..388
            Int32Keyword@383..388 "int32"
        RParen@388..389 ")"
        Whitespace@389..390 " "
      Arrow@390..392 "->"
      Whitespace@392..393 " "
      TYPE_UNIT@393..398
        UnitKeyword@393..397 "unit"
        Whitespace@397..398 " "
      BLOCK@398..449
        LBrace@398..399 "{"
        Whitespace@399..408 "\n        "
        EXPR_CALL@408..447
          EXPR_IDENT@408..415
            PATH@408..415
              Ident@408..415 "println"
          ARG_LIST@415..447
            LParen@415..416 "("
            ARG@416..441
              EXPR_CALL@416..441
                EXPR_IDENT@416..435
                  PATH@416..435
                    Ident@416..424 "ToString"
                    ColonColon@424..426 "::"
                    Ident@426..435 "to_string"
                ARG_LIST@435..441
                  LParen@435..436 "("
                  ARG@436..440
                    EXPR_IDENT@436..440
                      PATH@436..440
                        Ident@436..440 "self"
                  RParen@440..441 ")"
            RParen@441..442 ")"
            Whitespace@442..447 "\n    "
        RBrace@447..448 "}"
        Whitespace@448..449 "\n"
    RBrace@449..450 "}"
    Whitespace@450..452 "\n\n"
  IMPL@452..563
    ImplKeyword@452..456 "impl"
    Whitespace@456..457 " "
    TYPE_TAPP@457..464
      PATH@457..464
        Ident@457..463 "Output"
        Whitespace@463..464 " "
    ForKeyword@464..467 "for"
    Whitespace@467..468 " "
    TYPE_BOOL@468..473
      BoolKeyword@468..472 "bool"
      Whitespace@472..473 " "
    LBrace@473..474 "{"
    Whitespace@474..479 "\n    "
    FN@479..560
      FnKeyword@479..481 "fn"
      Whitespace@481..482 " "
      Ident@482..488 "output"
      PARAM_LIST@488..501
        LParen@488..489 "("
        PARAM@489..499
          Ident@489..493 "self"
          Colon@493..494 ":"
          Whitespace@494..495 " "
          TYPE_BOOL@495..499
            BoolKeyword@495..499 "bool"
        RParen@499..500 ")"
        Whitespace@500..501 " "
      Arrow@501..503 "->"
      Whitespace@503..504 " "
      TYPE_UNIT@504..509
        UnitKeyword@504..508 "unit"
        Whitespace@508..509 " "
      BLOCK@509..560
        LBrace@509..510 "{"
        Whitespace@510..519 "\n        "
        EXPR_CALL@519..558
          EXPR_IDENT@519..526
            PATH@519..526
              Ident@519..526 "println"
          ARG_LIST@526..558
            LParen@526..527 "("
            ARG@527..552
              EXPR_CALL@527..552
                EXPR_IDENT@527..546
                  PATH@527..546
                    Ident@527..535 "ToString"
                    ColonColon@535..537 "::"
                    Ident@537..546 "to_string"
                ARG_LIST@546..552
                  LParen@546..547 "("
                  ARG@547..551
                    EXPR_IDENT@547..551
                      PATH@547..551
                        Ident@547..551 "self"
                  RParen@551..552 ")"
            RParen@552..553 ")"
            Whitespace@553..558 "\n    "
        RBrace@558..559 "}"
        Whitespace@559..560 "\n"
    RBrace@560..561 "}"
    Whitespace@561..563 "\n\n"
  FN@563..594
    FnKeyword@563..565 "fn"
    Whitespace@565..566 " "
    Ident@566..568 "id"
    GENERIC_LIST@568..571
      LBracket@568..569 "["
      GENERIC@569..570
        Ident@569..570 "T"
      RBracket@570..571 "]"
    PARAM_LIST@571..578
      LParen@571..572 "("
      PARAM@572..576
        Ident@572..573 "x"
        Colon@573..574 ":"
        Whitespace@574..575 " "
        TYPE_TAPP@575..576
          PATH@575..576
            Ident@575..576 "T"
      RParen@576..577 ")"
      Whitespace@577..578 " "
    Arrow@578..580 "->"
    Whitespace@580..581 " "
    TYPE_TAPP@581..583
      PATH@581..583
        Ident@581..582 "T"
        Whitespace@582..583 " "
    BLOCK@583..594
      LBrace@583..584 "{"
      Whitespace@584..589 "\n    "
      EXPR_IDENT@589..591
        PATH@589..591
          Ident@589..590 "x"
          Whitespace@590..591 "\n"
      RBrace@591..592 "}"
      Whitespace@592..594 "\n\n"
  FN@594..894
    FnKeyword@594..596 "fn"
    Whitespace@596..597 " "
    Ident@597..601 "main"
    PARAM_LIST@601..604
      LParen@601..602 "("
      RParen@602..603 ")"
      Whitespace@603..604 " "
    BLOCK@604..894
      LBrace@604..605 "{"
      Whitespace@605..610 "\n    "
      STMT_LET@610..636
        LetKeyword@610..613 "let"
        Whitespace@613..614 " "
        PATTERN_VARIABLE@614..615
          Ident@614..615 "a"
        Colon@615..616 ":"
        Whitespace@616..617 " "
        TYPE_INT32@617..623
          Int32Keyword@617..622 "int32"
          Whitespace@622..623 " "
        Eq@623..624 "="
        Whitespace@624..625 " "
        EXPR_CALL@625..630
          EXPR_IDENT@625..627
            PATH@625..627
              Ident@625..627 "id"
          ARG_LIST@627..630
            LParen@627..628 "("
            ARG@628..629
              EXPR_INT@628..629
                Int@628..629 "1"
            RParen@629..630 ")"
        Semi@630..631 ";"
        Whitespace@631..636 "\n    "
      STMT_LET@636..662
        LetKeyword@636..639 "let"
        Whitespace@639..640 " "
        PATTERN_VARIABLE@640..641
          Ident@640..641 "b"
        Colon@641..642 ":"
        Whitespace@642..643 " "
        TYPE_INT32@643..649
          Int32Keyword@643..648 "int32"
          Whitespace@648..649 " "
        Eq@649..650 "="
        Whitespace@650..651 " "
        EXPR_CALL@651..656
          EXPR_IDENT@651..653
            PATH@651..653
              Ident@651..653 "id"
          ARG_LIST@653..656
            LParen@653..654 "("
            ARG@654..655
              EXPR_INT@654..655
                Int@654..655 "2"
            RParen@655..656 ")"
        Semi@656..657 ";"
        Whitespace@657..662 "\n    "
      STMT_LET@662..692
        LetKeyword@662..665 "let"
        Whitespace@665..666 " "
        PATTERN_VARIABLE@666..668
          Ident@666..667 "c"
          Whitespace@667..668 " "
        Eq@668..669 "="
        Whitespace@669..670 " "
        EXPR_CALL@670..686
          EXPR_IDENT@670..680
            PATH@670..680
              Ident@670..675 "Arith"
              ColonColon@675..677 "::"
              Ident@677..680 "add"
          ARG_LIST@680..686
            LParen@680..681 "("
            ARG@681..684
              EXPR_IDENT@681..682
                PATH@681..682
                  Ident@681..682 "a"
              Comma@682..683 ","
              Whitespace@683..684 " "
            ARG@684..685
              EXPR_IDENT@684..685
                PATH@684..685
                  Ident@684..685 "b"
            RParen@685..686 ")"
        Semi@686..687 ";"
        Whitespace@687..692 "\n    "
      STMT_LET@692..724
        LetKeyword@692..695 "let"
        Whitespace@695..696 " "
        PATTERN_WILDCARD@696..698
          WildcardKeyword@696..697 "_"
          Whitespace@697..698 " "
        Eq@698..699 "="
        Whitespace@699..700 " "
        EXPR_CALL@700..717
          EXPR_IDENT@700..714
            PATH@700..714
              Ident@700..706 "Output"
              ColonColon@706..708 "::"
              Ident@708..714 "output"
          ARG_LIST@714..717
            LParen@714..715 "("
            ARG@715..716
              EXPR_IDENT@715..716
                PATH@715..716
                  Ident@715..716 "c"
            RParen@716..717 ")"
        Semi@717..718 ";"
        Whitespace@718..724 "\n\n    "
      STMT_LET@724..750
        LetKeyword@724..727 "let"
        Whitespace@727..728 " "
        PATTERN_VARIABLE@728..729
          Ident@728..729 "a"
        Colon@729..730 ":"
        Whitespace@730..731 " "
        TYPE_INT32@731..737
          Int32Keyword@731..736 "int32"
          Whitespace@736..737 " "
        Eq@737..738 "="
        Whitespace@738..739 " "
        EXPR_CALL@739..744
          EXPR_IDENT@739..741
            PATH@739..741
              Ident@739..741 "id"
          ARG_LIST@741..744
            LParen@741..742 "("
            ARG@742..743
              EXPR_INT@742..743
                Int@742..743 "3"
            RParen@743..744 ")"
        Semi@744..745 ";"
        Whitespace@745..750 "\n    "
      STMT_LET@750..776
        LetKeyword@750..753 "let"
        Whitespace@753..754 " "
        PATTERN_VARIABLE@754..755
          Ident@754..755 "b"
        Colon@755..756 ":"
        Whitespace@756..757 " "
        TYPE_INT32@757..763
          Int32Keyword@757..762 "int32"
          Whitespace@762..763 " "
        Eq@763..764 "="
        Whitespace@764..765 " "
        EXPR_CALL@765..770
          EXPR_IDENT@765..767
            PATH@765..767
              Ident@765..767 "id"
          ARG_LIST@767..770
            LParen@767..768 "("
            ARG@768..769
              EXPR_INT@768..769
                Int@768..769 "4"
            RParen@769..770 ")"
        Semi@770..771 ";"
        Whitespace@771..776 "\n    "
      STMT_LET@776..807
        LetKeyword@776..779 "let"
        Whitespace@779..780 " "
        PATTERN_VARIABLE@780..782
          Ident@780..781 "c"
          Whitespace@781..782 " "
        Eq@782..783 "="
        Whitespace@783..784 " "
        EXPR_CALL@784..801
          EXPR_IDENT@784..795
            PATH@784..795
              Ident@784..789 "Arith"
              ColonColon@789..791 "::"
              Ident@791..795 "less"
          ARG_LIST@795..801
            LParen@795..796 "("
            ARG@796..799
              EXPR_IDENT@796..797
                PATH@796..797
                  Ident@796..797 "a"
              Comma@797..798 ","
              Whitespace@798..799 " "
            ARG@799..800
              EXPR_IDENT@799..800
                PATH@799..800
                  Ident@799..800 "b"
            RParen@800..801 ")"
        Semi@801..802 ";"
        Whitespace@802..807 "\n    "
      STMT_LET@807..839
        LetKeyword@807..810 "let"
        Whitespace@810..811 " "
        PATTERN_WILDCARD@811..813
          WildcardKeyword@811..812 "_"
          Whitespace@812..813 " "
        Eq@813..814 "="
        Whitespace@814..815 " "
        EXPR_CALL@815..832
          EXPR_IDENT@815..829
            PATH@815..829
              Ident@815..821 "Output"
              ColonColon@821..823 "::"
              Ident@823..829 "output"
          ARG_LIST@829..832
            LParen@829..830 "("
            ARG@830..831
              EXPR_IDENT@830..831
                PATH@830..831
                  Ident@830..831 "c"
            RParen@831..832 ")"
        Semi@832..833 ";"
        Whitespace@833..839 "\n\n    "
      STMT_LET@839..862
        LetKeyword@839..842 "let"
        Whitespace@842..843 " "
        PATTERN_WILDCARD@843..845
          WildcardKeyword@843..844 "_"
          Whitespace@844..845 " "
        Eq@845..846 "="
        Whitespace@846..847 " "
        EXPR_CALL@847..856
          EXPR_IDENT@847..849
            PATH@847..849
              Ident@847..849 "id"
          ARG_LIST@849..856
            LParen@849..850 "("
            ARG@850..855
              EXPR_STR@850..855
                Str@850..855 "\"abc\""
            RParen@855..856 ")"
        Semi@856..857 ";"
        Whitespace@857..862 "\n    "
      STMT_LET@862..889
        LetKeyword@862..865 "let"
        Whitespace@865..866 " "
        PATTERN_WILDCARD@866..868
          WildcardKeyword@866..867 "_"
          Whitespace@867..868 " "
        Eq@868..869 "="
        Whitespace@869..870 " "
        EXPR_CALL@870..878
          EXPR_IDENT@870..872
            PATH@870..872
              Ident@870..872 "id"
          ARG_LIST@872..878
            LParen@872..873 "("
            ARG@873..877
              EXPR_BOOL@873..877
                TrueKeyword@873..877 "true"
            RParen@877..878 ")"
        Semi@878..879 ";"
        Whitespace@879..889 "\n    \n    "
      EXPR_UNIT@889..892
        LParen@889..890 "("
        RParen@890..891 ")"
        Whitespace@891..892 "\n"
      RBrace@892..893 "}"
      Whitespace@893..894 "\n"