FILE@0..483
  TRAIT@0..59
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Child"
    Colon@11..12 ":"
    Whitespace@12..13 " "
    TRAIT_SET@13..20
      TYPE_TAPP@13..20
        PATH@13..20
          Ident@13..19 "Parent"
          Whitespace@19..20 " "
    LBrace@20..21 "{"
    Whitespace@21..26 "\n    "
    TRAIT_METHOD_SIG_LIST@26..59
      TRAIT_METHOD_SIG@26..56
        FnKeyword@26..28 "fn"
        Whitespace@28..29 " "
        Ident@29..34 "child"
        PARAM_LIST@34..47
          LParen@34..35 "("
          PARAM@35..45
            Ident@35..39 "self"
            Colon@39..40 ":"
            Whitespace@40..41 " "
            TYPE_TAPP@41..45
              PATH@41..45
                Ident@41..45 "Self"
          RParen@45..46 ")"
          Whitespace@46..47 " "
        Arrow@47..49 "->"
        Whitespace@49..50 " "
        TYPE_UNIT@50..54
          UnitKeyword@50..54 "unit"
        Semi@54..55 ";"
        Whitespace@55..56 "\n"
      RBrace@56..57 "}"
      Whitespace@57..59 "\n\n"
  TRAIT@59..130
    TraitKeyword@59..64 "trait"
    Whitespace@64..65 " "
    Ident@65..71 "Parent"
    Whitespace@71..72 " "
    LBrace@72..73 "{"
    Whitespace@73..78 "\n    "
    TRAIT_METHOD_SIG_LIST@78..130
      TRAIT_ASSOCIATED_TYPE@78..93
        TypeKeyword@78..82 "type"
        Whitespace@82..83 " "
        Ident@83..87 "Item"
        Semi@87..88 ";"
        Whitespace@88..93 "\n    "
      TRAIT_METHOD_SIG@93..127
        FnKeyword@93..95 "fn"
        Whitespace@95..96 " "
        Ident@96..99 "get"
        PARAM_LIST@99..112
          LParen@99..100 "("
          PARAM@100..110
            Ident@100..104 "self"
            Colon@104..105 ":"
            Whitespace@105..106 " "
            TYPE_TAPP@106..110
              PATH@106..110
                Ident@106..110 "Self"
          RParen@110..111 ")"
          Whitespace@111..112 " "
        Arrow@112..114 "->"
        Whitespace@114..115 " "
        TYPE_TAPP@115..125
          PATH@115..125
            Ident@115..119 "Self"
            ColonColon@119..121 "::"
            Ident@121..125 "Item"
        Semi@125..126 ";"
        Whitespace@126..127 "\n"
      RBrace@127..128 "}"
      Whitespace@128..130 "\n\n"
  STRUCT@130..164
    StructKeyword@130..136 "struct"
    Whitespace@136..137 " "
    Ident@137..142 "Count"
    Whitespace@142..143 " "
    LBrace@143..144 "{"
    Whitespace@144..149 "\n    "
    STRUCT_FIELD_LIST@149..164
      STRUCT_FIELD@149..159
        Ident@149..154 "value"
        Colon@154..155 ":"
        Whitespace@155..156 " "
        TYPE_INT32@156..159
          I32Keyword@156..159 "i32"
      Comma@159..160 ","
      Whitespace@160..161 "\n"
      RBrace@161..162 "}"
      Whitespace@162..164 "\n\n"
  IMPL@164..271
    ImplKeyword@164..168 "impl"
    Whitespace@168..169 " "
    TYPE_TAPP@169..176
      PATH@169..176
        Ident@169..175 "Parent"
        Whitespace@175..176 " "
    ForKeyword@176..179 "for"
    Whitespace@179..180 " "
    TYPE_TAPP@180..186
      PATH@180..186
        Ident@180..185 "Count"
        Whitespace@185..186 " "
    LBrace@186..187 "{"
    Whitespace@187..192 "\n    "
    IMPL_ASSOCIATED_TYPE@192..214
      TypeKeyword@192..196 "type"
      Whitespace@196..197 " "
      Ident@197..201 "Item"
      Whitespace@201..202 " "
      Eq@202..203 "="
      Whitespace@203..204 " "
      TYPE_INT32@204..207
        I32Keyword@204..207 "i32"
      Semi@207..208 ";"
      Whitespace@208..214 "\n\n    "
    FN@214..268
      FnKeyword@214..216 "fn"
      Whitespace@216..217 " "
      Ident@217..220 "get"
      PARAM_LIST@220..234
        LParen@220..221 "("
        PARAM@221..232
          Ident@221..225 "self"
          Colon@225..226 ":"
          Whitespace@226..227 " "
          TYPE_TAPP@227..232
            PATH@227..232
              Ident@227..232 "Count"
        RParen@232..233 ")"
        Whitespace@233..234 " "
      Arrow@234..236 "->"
      Whitespace@236..237 " "
      TYPE_INT32@237..241
        I32Keyword@237..240 "i32"
        Whitespace@240..241 " "
      BLOCK@241..268
        LBrace@241..242 "{"
        Whitespace@242..251 "\n        "
        EXPR_BINARY@251..266
          EXPR_IDENT@251..255
            PATH@251..255
              Ident@251..255 "self"
          Dot@255..256 "."
          EXPR_IDENT@256..266
            PATH@256..266
              Ident@256..261 "value"
              Whitespace@261..266 "\n    "
        RBrace@266..267 "}"
        Whitespace@267..268 "\n"
    RBrace@268..269 "}"
    Whitespace@269..271 "\n\n"
  IMPL@271..334
    ImplKeyword@271..275 "impl"
    Whitespace@275..276 " "
    TYPE_TAPP@276..282
      PATH@276..282
        Ident@276..281 "Child"
        Whitespace@281..282 " "
    ForKeyword@282..285 "for"
    Whitespace@285..286 " "
    TYPE_TAPP@286..292
      PATH@286..292
        Ident@286..291 "Count"
        Whitespace@291..292 " "
    LBrace@292..293 "{"
    Whitespace@293..298 "\n    "
    FN@298..331
      FnKeyword@298..300 "fn"
      Whitespace@300..301 " "
      Ident@301..306 "child"
      PARAM_LIST@306..320
        LParen@306..307 "("
        PARAM@307..318
          Ident@307..311 "self"
          Colon@311..312 ":"
          Whitespace@312..313 " "
          TYPE_TAPP@313..318
            PATH@313..318
              Ident@313..318 "Count"
        RParen@318..319 ")"
        Whitespace@319..320 " "
      Arrow@320..322 "->"
      Whitespace@322..323 " "
      TYPE_UNIT@323..328
        UnitKeyword@323..327 "unit"
        Whitespace@327..328 " "
      BLOCK@328..331
        LBrace@328..329 "{"
        RBrace@329..330 "}"
        Whitespace@330..331 "\n"
    RBrace@331..332 "}"
    Whitespace@332..334 "\n\n"
  FN@334..411
    FnKeyword@334..336 "fn"
    Whitespace@336..337 " "
    Ident@337..351 "get_from_child"
    GENERIC_LIST@351..361
      LBracket@351..352 "["
      GENERIC@352..360
        Ident@352..353 "C"
        Colon@353..354 ":"
        Whitespace@354..355 " "
        TRAIT_SET@355..360
          TYPE_TAPP@355..360
            PATH@355..360
              Ident@355..360 "Child"
      RBracket@360..361 "]"
    PARAM_LIST@361..372
      LParen@361..362 "("
      PARAM@362..370
        Ident@362..367 "value"
        Colon@367..368 ":"
        Whitespace@368..369 " "
        TYPE_TAPP@369..370
          PATH@369..370
            Ident@369..370 "C"
      RParen@370..371 ")"
      Whitespace@371..372 " "
    Arrow@372..374 "->"
    Whitespace@374..375 " "
    TYPE_TAPP@375..383
      PATH@375..383
        Ident@375..376 "C"
        ColonColon@376..378 "::"
        Ident@378..382 "Item"
        Whitespace@382..383 " "
    BLOCK@383..411
      LBrace@383..384 "{"
      Whitespace@384..389 "\n    "
      EXPR_CALL@389..408
        EXPR_IDENT@389..400
          PATH@389..400
            Ident@389..395 "Parent"
            ColonColon@395..397 "::"
            Ident@397..400 "get"
        ARG_LIST@400..408
          LParen@400..401 "("
          ARG@401..406
            EXPR_IDENT@401..406
              PATH@401..406
                Ident@401..406 "value"
          RParen@406..407 ")"
          Whitespace@407..408 "\n"
      RBrace@408..409 "}"
      Whitespace@409..411 "\n\n"
  FN@411..483
    FnKeyword@411..413 "fn"
    Whitespace@413..414 " "
    Ident@414..418 "main"
    PARAM_LIST@418..421
      LParen@418..419 "("
      RParen@419..420 ")"
      Whitespace@420..421 " "
    Arrow@421..423 "->"
    Whitespace@423..424 " "
    TYPE_UNIT@424..429
      UnitKeyword@424..428 "unit"
      Whitespace@428..429 " "
    BLOCK@429..483
      LBrace@429..430 "{"
      Whitespace@430..435 "\n    "
      STMT_EXPR@435..481
        EXPR_CALL@435..479
          EXPR_IDENT@435..442
            PATH@435..442
              Ident@435..442 "println"
          ARG_LIST@442..479
            LParen@442..443 "("
            ARG@443..478
              EXPR_CALL@443..478
                EXPR_IDENT@443..457
                  PATH@443..457
                    Ident@443..457 "get_from_child"
                ARG_LIST@457..478
                  LParen@457..458 "("
                  ARG@458..477
                    EXPR_STRUCT_LITERAL@458..477
                      PATH@458..464
                        Ident@458..463 "Count"
                        Whitespace@463..464 " "
                      STRUCT_LITERAL_FIELD_LIST@464..477
                        LBrace@464..465 "{"
                        Whitespace@465..466 " "
                        STRUCT_LITERAL_FIELD@466..476
                          Ident@466..471 "value"
                          Colon@471..472 ":"
                          Whitespace@472..473 " "
                          EXPR_INT@473..476
                            Int@473..475 "42"
                            Whitespace@475..476 " "
                        RBrace@476..477 "}"
                  RParen@477..478 ")"
            RParen@478..479 ")"
        Semi@479..480 ";"
        Whitespace@480..481 "\n"
      RBrace@481..482 "}"
      Whitespace@482..483 "\n"