FILE@0..506
  TRAIT@0..59
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Child"
    Colon@11..12 ":"
    Whitespace@12..13 " "
    TRAIT_SET@13..20
      TYPE_TAPP@13..20
        PATH@13..20
          Ident@13..19 "Parent"
          Whitespace@19..20 " "
    LBrace@20..21 "{"
    Whitespace@21..26 "\n    "
    TRAIT_METHOD_SIG_LIST@26..59
      TRAIT_METHOD_SIG@26..56
        FnKeyword@26..28 "fn"
        Whitespace@28..29 " "
        Ident@29..34 "child"
        PARAM_LIST@34..47
          LParen@34..35 "("
          PARAM@35..45
            Ident@35..39 "self"
            Colon@39..40 ":"
            Whitespace@40..41 " "
            TYPE_TAPP@41..45
              PATH@41..45
                Ident@41..45 "Self"
          RParen@45..46 ")"
          Whitespace@46..47 " "
        Arrow@47..49 "->"
        Whitespace@49..50 " "
        TYPE_UNIT@50..54
          UnitKeyword@50..54 "unit"
        Semi@54..55 ";"
        Whitespace@55..56 "\n"
      RBrace@56..57 "}"
      Whitespace@57..59 "\n\n"
  TRAIT@59..131
    TraitKeyword@59..64 "trait"
    Whitespace@64..65 " "
    Ident@65..71 "Parent"
    Whitespace@71..72 " "
    LBrace@72..73 "{"
    Whitespace@73..78 "\n    "
    TRAIT_METHOD_SIG_LIST@78..131
      TRAIT_ASSOCIATED_TYPE@78..94
        TypeKeyword@78..82 "type"
        Whitespace@82..83 " "
        Ident@83..87 "Item"
        Semi@87..88 ";"
        Whitespace@88..94 "\n\n    "
      TRAIT_METHOD_SIG@94..128
        FnKeyword@94..96 "fn"
        Whitespace@96..97 " "
        Ident@97..100 "get"
        PARAM_LIST@100..113
          LParen@100..101 "("
          PARAM@101..111
            Ident@101..105 "self"
            Colon@105..106 ":"
            Whitespace@106..107 " "
            TYPE_TAPP@107..111
              PATH@107..111
                Ident@107..111 "Self"
          RParen@111..112 ")"
          Whitespace@112..113 " "
        Arrow@113..115 "->"
        Whitespace@115..116 " "
        TYPE_TAPP@116..126
          PATH@116..126
            Ident@116..120 "Self"
            ColonColon@120..122 "::"
            Ident@122..126 "Item"
        Semi@126..127 ";"
        Whitespace@127..128 "\n"
      RBrace@128..129 "}"
      Whitespace@129..131 "\n\n"
  STRUCT@131..167
    StructKeyword@131..137 "struct"
    Whitespace@137..138 " "
    Ident@138..143 "Count"
    Whitespace@143..144 " "
    LBrace@144..145 "{"
    Whitespace@145..150 "\n    "
    STRUCT_FIELD_LIST@150..167
      STRUCT_FIELD@150..162
        Ident@150..155 "value"
        Colon@155..156 ":"
        Whitespace@156..157 " "
        TYPE_INT32@157..162
          Int32Keyword@157..162 "int32"
      Comma@162..163 ","
      Whitespace@163..164 "\n"
      RBrace@164..165 "}"
      Whitespace@165..167 "\n\n"
  IMPL@167..278
    ImplKeyword@167..171 "impl"
    Whitespace@171..172 " "
    TYPE_TAPP@172..179
      PATH@172..179
        Ident@172..178 "Parent"
        Whitespace@178..179 " "
    ForKeyword@179..182 "for"
    Whitespace@182..183 " "
    TYPE_TAPP@183..189
      PATH@183..189
        Ident@183..188 "Count"
        Whitespace@188..189 " "
    LBrace@189..190 "{"
    Whitespace@190..195 "\n    "
    IMPL_ASSOCIATED_TYPE@195..219
      TypeKeyword@195..199 "type"
      Whitespace@199..200 " "
      Ident@200..204 "Item"
      Whitespace@204..205 " "
      Eq@205..206 "="
      Whitespace@206..207 " "
      TYPE_INT32@207..212
        Int32Keyword@207..212 "int32"
      Semi@212..213 ";"
      Whitespace@213..219 "\n\n    "
    FN@219..275
      FnKeyword@219..221 "fn"
      Whitespace@221..222 " "
      Ident@222..225 "get"
      PARAM_LIST@225..239
        LParen@225..226 "("
        PARAM@226..237
          Ident@226..230 "self"
          Colon@230..231 ":"
          Whitespace@231..232 " "
          TYPE_TAPP@232..237
            PATH@232..237
              Ident@232..237 "Count"
        RParen@237..238 ")"
        Whitespace@238..239 " "
      Arrow@239..241 "->"
      Whitespace@241..242 " "
      TYPE_INT32@242..248
        Int32Keyword@242..247 "int32"
        Whitespace@247..248 " "
      BLOCK@248..275
        LBrace@248..249 "{"
        Whitespace@249..258 "\n        "
        EXPR_BINARY@258..273
          EXPR_IDENT@258..262
            PATH@258..262
              Ident@258..262 "self"
          Dot@262..263 "."
          EXPR_IDENT@263..273
            PATH@263..273
              Ident@263..268 "value"
              Whitespace@268..273 "\n    "
        RBrace@273..274 "}"
        Whitespace@274..275 "\n"
    RBrace@275..276 "}"
    Whitespace@276..278 "\n\n"
  IMPL@278..357
    ImplKeyword@278..282 "impl"
    Whitespace@282..283 " "
    TYPE_TAPP@283..289
      PATH@283..289
        Ident@283..288 "Child"
        Whitespace@288..289 " "
    ForKeyword@289..292 "for"
    Whitespace@292..293 " "
    TYPE_TAPP@293..299
      PATH@293..299
        Ident@293..298 "Count"
        Whitespace@298..299 " "
    LBrace@299..300 "{"
    Whitespace@300..305 "\n    "
    FN@305..354
      FnKeyword@305..307 "fn"
      Whitespace@307..308 " "
      Ident@308..313 "child"
      PARAM_LIST@313..327
        LParen@313..314 "("
        PARAM@314..325
          Ident@314..318 "self"
          Colon@318..319 ":"
          Whitespace@319..320 " "
          TYPE_TAPP@320..325
            PATH@320..325
              Ident@320..325 "Count"
        RParen@325..326 ")"
        Whitespace@326..327 " "
      Arrow@327..329 "->"
      Whitespace@329..330 " "
      TYPE_UNIT@330..335
        UnitKeyword@330..334 "unit"
        Whitespace@334..335 " "
      BLOCK@335..354
        LBrace@335..336 "{"
        Whitespace@336..345 "\n        "
        EXPR_UNIT@345..352
          LParen@345..346 "("
          RParen@346..347 ")"
          Whitespace@347..352 "\n    "
        RBrace@352..353 "}"
        Whitespace@353..354 "\n"
    RBrace@354..355 "}"
    Whitespace@355..357 "\n\n"
  FN@357..434
    FnKeyword@357..359 "fn"
    Whitespace@359..360 " "
    Ident@360..374 "get_from_child"
    GENERIC_LIST@374..384
      LBracket@374..375 "["
      GENERIC@375..383
        Ident@375..376 "C"
        Colon@376..377 ":"
        Whitespace@377..378 " "
        TRAIT_SET@378..383
          TYPE_TAPP@378..383
            PATH@378..383
              Ident@378..383 "Child"
      RBracket@383..384 "]"
    PARAM_LIST@384..395
      LParen@384..385 "("
      PARAM@385..393
        Ident@385..390 "value"
        Colon@390..391 ":"
        Whitespace@391..392 " "
        TYPE_TAPP@392..393
          PATH@392..393
            Ident@392..393 "C"
      RParen@393..394 ")"
      Whitespace@394..395 " "
    Arrow@395..397 "->"
    Whitespace@397..398 " "
    TYPE_TAPP@398..406
      PATH@398..406
        Ident@398..399 "C"
        ColonColon@399..401 "::"
        Ident@401..405 "Item"
        Whitespace@405..406 " "
    BLOCK@406..434
      LBrace@406..407 "{"
      Whitespace@407..412 "\n    "
      EXPR_CALL@412..431
        EXPR_IDENT@412..423
          PATH@412..423
            Ident@412..418 "Parent"
            ColonColon@418..420 "::"
            Ident@420..423 "get"
        ARG_LIST@423..431
          LParen@423..424 "("
          ARG@424..429
            EXPR_IDENT@424..429
              PATH@424..429
                Ident@424..429 "value"
          RParen@429..430 ")"
          Whitespace@430..431 "\n"
      RBrace@431..432 "}"
      Whitespace@432..434 "\n\n"
  FN@434..506
    FnKeyword@434..436 "fn"
    Whitespace@436..437 " "
    Ident@437..441 "main"
    PARAM_LIST@441..444
      LParen@441..442 "("
      RParen@442..443 ")"
      Whitespace@443..444 " "
    Arrow@444..446 "->"
    Whitespace@446..447 " "
    TYPE_UNIT@447..452
      UnitKeyword@447..451 "unit"
      Whitespace@451..452 " "
    BLOCK@452..506
      LBrace@452..453 "{"
      Whitespace@453..458 "\n    "
      STMT_EXPR@458..504
        EXPR_CALL@458..502
          EXPR_IDENT@458..465
            PATH@458..465
              Ident@458..465 "println"
          ARG_LIST@465..502
            LParen@465..466 "("
            ARG@466..501
              EXPR_CALL@466..501
                EXPR_IDENT@466..480
                  PATH@466..480
                    Ident@466..480 "get_from_child"
                ARG_LIST@480..501
                  LParen@480..481 "("
                  ARG@481..500
                    EXPR_STRUCT_LITERAL@481..500
                      PATH@481..487
                        Ident@481..486 "Count"
                        Whitespace@486..487 " "
                      STRUCT_LITERAL_FIELD_LIST@487..500
                        LBrace@487..488 "{"
                        Whitespace@488..489 " "
                        STRUCT_LITERAL_FIELD@489..499
                          Ident@489..494 "value"
                          Colon@494..495 ":"
                          Whitespace@495..496 " "
                          EXPR_INT@496..499
                            Int@496..498 "42"
                            Whitespace@498..499 " "
                        RBrace@499..500 "}"
                  RParen@500..501 ")"
            RParen@501..502 ")"
        Semi@502..503 ";"
        Whitespace@503..504 "\n"
      RBrace@504..505 "}"
      Whitespace@505..506 "\n"