FILE@0..1266
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..15 "FloatEvent"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    VARIANT_LIST@22..83
      VARIANT@22..47
        Ident@22..30 "Sample32"
        TYPE_LIST@30..47
          LParen@30..31 "("
          TYPE_STRING@31..37
            StringKeyword@31..37 "string"
          Comma@37..38 ","
          Whitespace@38..39 " "
          TYPE_FLOAT32@39..46
            Float32Keyword@39..46 "float32"
          RParen@46..47 ")"
      Comma@47..48 ","
      Whitespace@48..53 "\n    "
      VARIANT@53..78
        Ident@53..61 "Sample64"
        TYPE_LIST@61..78
          LParen@61..62 "("
          TYPE_STRING@62..68
            StringKeyword@62..68 "string"
          Comma@68..69 ","
          Whitespace@69..70 " "
          TYPE_FLOAT64@70..77
            Float64Keyword@70..77 "float64"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..290
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..95 "summarize"
    PARAM_LIST@95..115
      LParen@95..96 "("
      PARAM@96..113
        Ident@96..101 "event"
        Colon@101..102 ":"
        Whitespace@102..103 " "
        TYPE_TAPP@103..113
          PATH@103..113
            Ident@103..113 "FloatEvent"
      RParen@113..114 ")"
      Whitespace@114..115 " "
    Arrow@115..117 "->"
    Whitespace@117..118 " "
    TYPE_STRING@118..125
      StringKeyword@118..124 "string"
      Whitespace@124..125 " "
    BLOCK@125..290
      LBrace@125..126 "{"
      Whitespace@126..131 "\n    "
      EXPR_MATCH@131..287
        MatchKeyword@131..136 "match"
        Whitespace@136..137 " "
        EXPR_IDENT@137..143
          PATH@137..143
            Ident@137..142 "event"
            Whitespace@142..143 " "
        MATCH_ARM_LIST@143..287
          LBrace@143..144 "{"
          Whitespace@144..153 "\n        "
          MATCH_ARM@153..211
            PATTERN_CONSTR@153..176
              PATH@153..161
                Ident@153..161 "Sample32"
              LParen@161..162 "("
              PATTERN_VARIABLE@162..167
                Ident@162..167 "label"
              Comma@167..168 ","
              Whitespace@168..169 " "
              PATTERN_VARIABLE@169..174
                Ident@169..174 "value"
              RParen@174..175 ")"
              Whitespace@175..176 " "
            FatArrow@176..178 "=>"
            Whitespace@178..179 " "
            EXPR_BINARY@179..211
              EXPR_IDENT@179..185
                PATH@179..185
                  Ident@179..184 "label"
                  Whitespace@184..185 " "
              Plus@185..186 "+"
              Whitespace@186..187 " "
              EXPR_CALL@187..211
                EXPR_IDENT@187..204
                  PATH@187..204
                    Ident@187..204 "float32_to_string"
                ARG_LIST@204..211
                  LParen@204..205 "("
                  ARG@205..210
                    EXPR_IDENT@205..210
                      PATH@205..210
                        Ident@205..210 "value"
                  RParen@210..211 ")"
          Comma@211..212 ","
          Whitespace@212..221 "\n        "
          MATCH_ARM@221..279
            PATTERN_CONSTR@221..244
              PATH@221..229
                Ident@221..229 "Sample64"
              LParen@229..230 "("
              PATTERN_VARIABLE@230..235
                Ident@230..235 "label"
              Comma@235..236 ","
              Whitespace@236..237 " "
              PATTERN_VARIABLE@237..242
                Ident@237..242 "value"
              RParen@242..243 ")"
              Whitespace@243..244 " "
            FatArrow@244..246 "=>"
            Whitespace@246..247 " "
            EXPR_BINARY@247..279
              EXPR_IDENT@247..253
                PATH@247..253
                  Ident@247..252 "label"
                  Whitespace@252..253 " "
              Plus@253..254 "+"
              Whitespace@254..255 " "
              EXPR_CALL@255..279
                EXPR_IDENT@255..272
                  PATH@255..272
                    Ident@255..272 "float64_to_string"
                ARG_LIST@272..279
                  LParen@272..273 "("
                  ARG@273..278
                    EXPR_IDENT@273..278
                      PATH@273..278
                        Ident@273..278 "value"
                  RParen@278..279 ")"
          Comma@279..280 ","
          Whitespace@280..285 "\n    "
          RBrace@285..286 "}"
          Whitespace@286..287 "\n"
      RBrace@287..288 "}"
      Whitespace@288..290 "\n\n"
  FN@290..677
    FnKeyword@290..292 "fn"
    Whitespace@292..293 " "
    Ident@293..300 "compare"
    PARAM_LIST@300..329
      LParen@300..301 "("
      PARAM@301..327
        Ident@301..307 "values"
        Colon@307..308 ":"
        Whitespace@308..309 " "
        TYPE_TUPLE@309..327
          TYPE_LIST@309..327
            LParen@309..310 "("
            TYPE_FLOAT32@310..317
              Float32Keyword@310..317 "float32"
            Comma@317..318 ","
            Whitespace@318..319 " "
            TYPE_FLOAT64@319..326
              Float64Keyword@319..326 "float64"
            RParen@326..327 ")"
      RParen@327..328 ")"
      Whitespace@328..329 " "
    Arrow@329..331 "->"
    Whitespace@331..332 " "
    TYPE_STRING@332..339
      StringKeyword@332..338 "string"
      Whitespace@338..339 " "
    BLOCK@339..677
      LBrace@339..340 "{"
      Whitespace@340..345 "\n    "
      EXPR_MATCH@345..674
        MatchKeyword@345..350 "match"
        Whitespace@350..351 " "
        EXPR_IDENT@351..358
          PATH@351..358
            Ident@351..357 "values"
            Whitespace@357..358 " "
        MATCH_ARM_LIST@358..674
          LBrace@358..359 "{"
          Whitespace@359..368 "\n        "
          MATCH_ARM@368..672
            PATTERN_TUPLE@368..382
              LParen@368..369 "("
              PATTERN_VARIABLE@369..373
                Ident@369..373 "left"
              Comma@373..374 ","
              Whitespace@374..375 " "
              PATTERN_VARIABLE@375..380
                Ident@375..380 "right"
              RParen@380..381 ")"
              Whitespace@381..382 " "
            FatArrow@382..384 "=>"
            Whitespace@384..385 " "
            BLOCK@385..672
              LBrace@385..386 "{"
              Whitespace@386..399 "\n            "
              STMT_LET@399..442
                LetKeyword@399..402 "let"
                Whitespace@402..403 " "
                PATTERN_VARIABLE@403..410
                  Ident@403..410 "limit32"
                Colon@410..411 ":"
                Whitespace@411..412 " "
                TYPE_FLOAT32@412..420
                  Float32Keyword@412..419 "float32"
                  Whitespace@419..420 " "
                Eq@420..421 "="
                Whitespace@421..422 " "
                EXPR_FLOAT32@422..428
                  Float32Lit@422..428 "1.0f32"
                Semi@428..429 ";"
                Whitespace@429..442 "\n            "
              STMT_LET@442..485
                LetKeyword@442..445 "let"
                Whitespace@445..446 " "
                PATTERN_VARIABLE@446..453
                  Ident@446..453 "limit64"
                Colon@453..454 ":"
                Whitespace@454..455 " "
                TYPE_FLOAT64@455..463
                  Float64Keyword@455..462 "float64"
                  Whitespace@462..463 " "
                Eq@463..464 "="
                Whitespace@464..465 " "
                EXPR_FLOAT64@465..471
                  Float64Lit@465..471 "5.0f64"
                Semi@471..472 ";"
                Whitespace@472..485 "\n            "
              STMT_LET@485..529
                LetKeyword@485..488 "let"
                Whitespace@488..489 " "
                PATTERN_VARIABLE@489..499
                  Ident@489..498 "less_left"
                  Whitespace@498..499 " "
                Eq@499..500 "="
                Whitespace@500..501 " "
                EXPR_BINARY@501..515
                  EXPR_IDENT@501..506
                    PATH@501..506
                      Ident@501..505 "left"
                      Whitespace@505..506 " "
                  Less@506..507 "<"
                  Whitespace@507..508 " "
                  EXPR_IDENT@508..515
                    PATH@508..515
                      Ident@508..515 "limit32"
                Semi@515..516 ";"
                Whitespace@516..529 "\n            "
              STMT_LET@529..575
                LetKeyword@529..532 "let"
                Whitespace@532..533 " "
                PATTERN_VARIABLE@533..544
                  Ident@533..543 "less_right"
                  Whitespace@543..544 " "
                Eq@544..545 "="
                Whitespace@545..546 " "
                EXPR_BINARY@546..561
                  EXPR_IDENT@546..552
                    PATH@546..552
                      Ident@546..551 "right"
                      Whitespace@551..552 " "
                  Less@552..553 "<"
                  Whitespace@553..554 " "
                  EXPR_IDENT@554..561
                    PATH@554..561
                      Ident@554..561 "limit64"
                Semi@561..562 ";"
                Whitespace@562..575 "\n            "
              EXPR_BINARY@575..666
                EXPR_BINARY@575..629
                  EXPR_BINARY@575..614
                    EXPR_STR@575..586
                      Str@575..585 "\"left<1?=\""
                      Whitespace@585..586 " "
                    Plus@586..587 "+"
                    Whitespace@587..588 " "
                    EXPR_CALL@588..614
                      EXPR_IDENT@588..602
                        PATH@588..602
                          Ident@588..602 "bool_to_string"
                      ARG_LIST@602..614
                        LParen@602..603 "("
                        ARG@603..612
                          EXPR_IDENT@603..612
                            PATH@603..612
                              Ident@603..612 "less_left"
                        RParen@612..613 ")"
                        Whitespace@613..614 " "
                  Plus@614..615 "+"
                  Whitespace@615..616 " "
                  EXPR_STR@616..629
                    Str@616..628 "\",right<5?=\""
                    Whitespace@628..629 " "
                Plus@629..630 "+"
                Whitespace@630..631 " "
                EXPR_CALL@631..666
                  EXPR_IDENT@631..645
                    PATH@631..645
                      Ident@631..645 "bool_to_string"
                  ARG_LIST@645..666
                    LParen@645..646 "("
                    ARG@646..656
                      EXPR_IDENT@646..656
                        PATH@646..656
                          Ident@646..656 "less_right"
                    RParen@656..657 ")"
                    Whitespace@657..666 "\n        "
              RBrace@666..667 "}"
              Whitespace@667..672 "\n    "
          RBrace@672..673 "}"
          Whitespace@673..674 "\n"
      RBrace@674..675 "}"
      Whitespace@675..677 "\n\n"
  FN@677..1266
    FnKeyword@677..679 "fn"
    Whitespace@679..680 " "
    Ident@680..684 "main"
    PARAM_LIST@684..687
      LParen@684..685 "("
      RParen@685..686 ")"
      Whitespace@686..687 " "
    BLOCK@687..1266
      LBrace@687..688 "{"
      Whitespace@688..693 "\n    "
      STMT_LET@693..732
        LetKeyword@693..696 "let"
        Whitespace@696..697 " "
        PATTERN_VARIABLE@697..708
          Ident@697..708 "first_value"
        Colon@708..709 ":"
        Whitespace@709..710 " "
        TYPE_FLOAT32@710..718
          Float32Keyword@710..717 "float32"
          Whitespace@717..718 " "
        Eq@718..719 "="
        Whitespace@719..720 " "
        EXPR_FLOAT32@720..726
          Float32Lit@720..726 "0.5f32"
        Semi@726..727 ";"
        Whitespace@727..732 "\n    "
      STMT_LET@732..773
        LetKeyword@732..735 "let"
        Whitespace@735..736 " "
        PATTERN_VARIABLE@736..748
          Ident@736..748 "second_value"
        Colon@748..749 ":"
        Whitespace@749..750 " "
        TYPE_FLOAT32@750..758
          Float32Keyword@750..757 "float32"
          Whitespace@757..758 " "
        Eq@758..759 "="
        Whitespace@759..760 " "
        EXPR_FLOAT32@760..767
          Float32Lit@760..767 "2.25f32"
        Semi@767..768 ";"
        Whitespace@768..773 "\n    "
      STMT_LET@773..813
        LetKeyword@773..776 "let"
        Whitespace@776..777 " "
        PATTERN_VARIABLE@777..788
          Ident@777..788 "third_value"
        Colon@788..789 ":"
        Whitespace@789..790 " "
        TYPE_FLOAT64@790..798
          Float64Keyword@790..797 "float64"
          Whitespace@797..798 " "
        Eq@798..799 "="
        Whitespace@799..800 " "
        EXPR_FLOAT64@800..806
          Float64Lit@800..806 "9.5f64"
        Semi@806..807 ";"
        Whitespace@807..813 "\n\n    "
      STMT_LET@813..860
        LetKeyword@813..816 "let"
        Whitespace@816..817 " "
        PATTERN_VARIABLE@817..823
          Ident@817..822 "first"
          Whitespace@822..823 " "
        Eq@823..824 "="
        Whitespace@824..825 " "
        EXPR_CALL@825..854
          EXPR_IDENT@825..833
            PATH@825..833
              Ident@825..833 "Sample32"
          ARG_LIST@833..854
            LParen@833..834 "("
            ARG@834..842
              EXPR_STR@834..840
                Str@834..840 "\"f32=\""
              Comma@840..841 ","
              Whitespace@841..842 " "
            ARG@842..853
              EXPR_IDENT@842..853
                PATH@842..853
                  Ident@842..853 "first_value"
            RParen@853..854 ")"
        Semi@854..855 ";"
        Whitespace@855..860 "\n    "
      STMT_LET@860..911
        LetKeyword@860..863 "let"
        Whitespace@863..864 " "
        PATTERN_VARIABLE@864..871
          Ident@864..870 "second"
          Whitespace@870..871 " "
        Eq@871..872 "="
        Whitespace@872..873 " "
        EXPR_CALL@873..905
          EXPR_IDENT@873..881
            PATH@873..881
              Ident@873..881 "Sample32"
          ARG_LIST@881..905
            LParen@881..882 "("
            ARG@882..892
              EXPR_STR@882..890
                Str@882..890 "\"f32_b=\""
              Comma@890..891 ","
              Whitespace@891..892 " "
            ARG@892..904
              EXPR_IDENT@892..904
                PATH@892..904
                  Ident@892..904 "second_value"
            RParen@904..905 ")"
        Semi@905..906 ";"
        Whitespace@906..911 "\n    "
      STMT_LET@911..959
        LetKeyword@911..914 "let"
        Whitespace@914..915 " "
        PATTERN_VARIABLE@915..921
          Ident@915..920 "third"
          Whitespace@920..921 " "
        Eq@921..922 "="
        Whitespace@922..923 " "
        EXPR_CALL@923..952
          EXPR_IDENT@923..931
            PATH@923..931
              Ident@923..931 "Sample64"
          ARG_LIST@931..952
            LParen@931..932 "("
            ARG@932..940
              EXPR_STR@932..938
                Str@932..938 "\"f64=\""
              Comma@938..939 ","
              Whitespace@939..940 " "
            ARG@940..951
              EXPR_IDENT@940..951
                PATH@940..951
                  Ident@940..951 "third_value"
            RParen@951..952 ")"
        Semi@952..953 ";"
        Whitespace@953..959 "\n\n    "
      STMT_LET@959..1014
        LetKeyword@959..962 "let"
        Whitespace@962..963 " "
        PATTERN_VARIABLE@963..968
          Ident@963..968 "tuple"
        Colon@968..969 ":"
        Whitespace@969..970 " "
        TYPE_TUPLE@970..989
          TYPE_LIST@970..989
            LParen@970..971 "("
            TYPE_FLOAT32@971..978
              Float32Keyword@971..978 "float32"
            Comma@978..979 ","
            Whitespace@979..980 " "
            TYPE_FLOAT64@980..987
              Float64Keyword@980..987 "float64"
            RParen@987..988 ")"
            Whitespace@988..989 " "
        Eq@989..990 "="
        Whitespace@990..991 " "
        EXPR_TUPLE@991..1008
          LParen@991..992 "("
          EXPR_FLOAT32@992..999
            Float32Lit@992..999 "0.75f32"
          Comma@999..1000 ","
          Whitespace@1000..1001 " "
          EXPR_FLOAT64@1001..1007
            Float64Lit@1001..1007 "4.0f64"
          RParen@1007..1008 ")"
        Semi@1008..1009 ";"
        Whitespace@1009..1014 "\n    "
      STMT_LET@1014..1076
        LetKeyword@1014..1017 "let"
        Whitespace@1017..1018 " "
        PATTERN_VARIABLE@1018..1029
          Ident@1018..1029 "tuple_other"
        Colon@1029..1030 ":"
        Whitespace@1030..1031 " "
        TYPE_TUPLE@1031..1050
          TYPE_LIST@1031..1050
            LParen@1031..1032 "("
            TYPE_FLOAT32@1032..1039
              Float32Keyword@1032..1039 "float32"
            Comma@1039..1040 ","
            Whitespace@1040..1041 " "
            TYPE_FLOAT64@1041..1048
              Float64Keyword@1041..1048 "float64"
            RParen@1048..1049 ")"
            Whitespace@1049..1050 " "
        Eq@1050..1051 "="
        Whitespace@1051..1052 " "
        EXPR_TUPLE@1052..1069
          LParen@1052..1053 "("
          EXPR_FLOAT32@1053..1059
            Float32Lit@1053..1059 "1.5f32"
          Comma@1059..1060 ","
          Whitespace@1060..1061 " "
          EXPR_FLOAT64@1061..1068
            Float64Lit@1061..1068 "7.25f64"
          RParen@1068..1069 ")"
        Semi@1069..1070 ";"
        Whitespace@1070..1076 "\n\n    "
      STMT_LET@1076..1224
        LetKeyword@1076..1079 "let"
        Whitespace@1079..1080 " "
        PATTERN_VARIABLE@1080..1088
          Ident@1080..1087 "message"
          Whitespace@1087..1088 " "
        Eq@1088..1089 "="
        Whitespace@1089..1090 " "
        EXPR_BINARY@1090..1217
          EXPR_BINARY@1090..1195
            EXPR_BINARY@1090..1170
              EXPR_BINARY@1090..1143
                EXPR_CALL@1090..1115
                  EXPR_IDENT@1090..1099
                    PATH@1090..1099
                      Ident@1090..1099 "summarize"
                  ARG_LIST@1099..1115
                    LParen@1099..1100 "("
                    ARG@1100..1105
                      EXPR_IDENT@1100..1105
                        PATH@1100..1105
                          Ident@1100..1105 "first"
                    RParen@1105..1106 ")"
                    Whitespace@1106..1115 "\n        "
                Plus@1115..1116 "+"
                Whitespace@1116..1117 " "
                EXPR_CALL@1117..1143
                  EXPR_IDENT@1117..1126
                    PATH@1117..1126
                      Ident@1117..1126 "summarize"
                  ARG_LIST@1126..1143
                    LParen@1126..1127 "("
                    ARG@1127..1133
                      EXPR_IDENT@1127..1133
                        PATH@1127..1133
                          Ident@1127..1133 "second"
                    RParen@1133..1134 ")"
                    Whitespace@1134..1143 "\n        "
              Plus@1143..1144 "+"
              Whitespace@1144..1145 " "
              EXPR_CALL@1145..1170
                EXPR_IDENT@1145..1154
                  PATH@1145..1154
                    Ident@1145..1154 "summarize"
                ARG_LIST@1154..1170
                  LParen@1154..1155 "("
                  ARG@1155..1160
                    EXPR_IDENT@1155..1160
                      PATH@1155..1160
                        Ident@1155..1160 "third"
                  RParen@1160..1161 ")"
                  Whitespace@1161..1170 "\n        "
            Plus@1170..1171 "+"
            Whitespace@1171..1172 " "
            EXPR_CALL@1172..1195
              EXPR_IDENT@1172..1179
                PATH@1172..1179
                  Ident@1172..1179 "compare"
              ARG_LIST@1179..1195
                LParen@1179..1180 "("
                ARG@1180..1185
                  EXPR_IDENT@1180..1185
                    PATH@1180..1185
                      Ident@1180..1185 "tuple"
                RParen@1185..1186 ")"
                Whitespace@1186..1195 "\n        "
          Plus@1195..1196 "+"
          Whitespace@1196..1197 " "
          EXPR_CALL@1197..1217
            EXPR_IDENT@1197..1204
              PATH@1197..1204
                Ident@1197..1204 "compare"
            ARG_LIST@1204..1217
              LParen@1204..1205 "("
              ARG@1205..1216
                EXPR_IDENT@1205..1216
                  PATH@1205..1216
                    Ident@1205..1216 "tuple_other"
              RParen@1216..1217 ")"
        Semi@1217..1218 ";"
        Whitespace@1218..1224 "\n\n    "
      STMT_LET@1224..1261
        LetKeyword@1224..1227 "let"
        Whitespace@1227..1228 " "
        PATTERN_WILDCARD@1228..1230
          WildcardKeyword@1228..1229 "_"
          Whitespace@1229..1230 " "
        Eq@1230..1231 "="
        Whitespace@1231..1232 " "
        EXPR_CALL@1232..1255
          EXPR_IDENT@1232..1246
            PATH@1232..1246
              Ident@1232..1246 "string_println"
          ARG_LIST@1246..1255
            LParen@1246..1247 "("
            ARG@1247..1254
              EXPR_IDENT@1247..1254
                PATH@1247..1254
                  Ident@1247..1254 "message"
            RParen@1254..1255 ")"
        Semi@1255..1256 ";"
        Whitespace@1256..1261 "\n    "
      EXPR_UNIT@1261..1264
        LParen@1261..1262 "("
        RParen@1262..1263 ")"
        Whitespace@1263..1264 "\n"
      RBrace@1264..1265 "}"
      Whitespace@1265..1266 "\n"