FILE@0..701
  FN@0..260
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "make_counter"
    PARAM_LIST@15..18
      LParen@15..16 "("
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_TUPLE@21..45
      TYPE_LIST@21..45
        LParen@21..22 "("
        TYPE_FUNC@22..31
          TYPE_TUPLE@22..25
            TYPE_LIST@22..25
              LParen@22..23 "("
              RParen@23..24 ")"
              Whitespace@24..25 " "
          Arrow@25..27 "->"
          Whitespace@27..28 " "
          TYPE_INT32@28..31
            I32Keyword@28..31 "i32"
        Comma@31..32 ","
        Whitespace@32..33 " "
        TYPE_FUNC@33..43
          TYPE_TUPLE@33..36
            TYPE_LIST@33..36
              LParen@33..34 "("
              RParen@34..35 ")"
              Whitespace@35..36 " "
          Arrow@36..38 "->"
          Whitespace@38..39 " "
          TYPE_UNIT@39..43
            UnitKeyword@39..43 "unit"
        RParen@43..44 ")"
        Whitespace@44..45 " "
    BLOCK@45..260
      LBrace@45..46 "{"
      Whitespace@46..51 "\n    "
      STMT_LET@51..79
        LetKeyword@51..54 "let"
        Whitespace@54..55 " "
        PATTERN_VARIABLE@55..60
          Ident@55..59 "cell"
          Whitespace@59..60 " "
        Eq@60..61 "="
        Whitespace@61..62 " "
        EXPR_CALL@62..73
          EXPR_IDENT@62..70
            PATH@62..70
              Ident@62..65 "Ref"
              ColonColon@65..67 "::"
              Ident@67..70 "new"
          ARG_LIST@70..73
            LParen@70..71 "("
            ARG@71..72
              EXPR_INT@71..72
                Int@71..72 "0"
            RParen@72..73 ")"
        Semi@73..74 ";"
        Whitespace@74..79 "\n    "
      STMT_LET@79..186
        LetKeyword@79..82 "let"
        Whitespace@82..83 " "
        PATTERN_VARIABLE@83..88
          Ident@83..87 "next"
          Whitespace@87..88 " "
        Eq@88..89 "="
        Whitespace@89..90 " "
        EXPR_CLOSURE@90..180
          CLOSURE_PARAM_LIST@90..93
            OrOr@90..92 "||"
            Whitespace@92..93 " "
          EXPR_CLOSURE_BODY@93..180
            BLOCK@93..180
              LBrace@93..94 "{"
              Whitespace@94..103 "\n        "
              STMT_LET@103..138
                LetKeyword@103..106 "let"
                Whitespace@106..107 " "
                PATTERN_VARIABLE@107..112
                  Ident@107..111 "next"
                  Whitespace@111..112 " "
                Eq@112..113 "="
                Whitespace@113..114 " "
                EXPR_BINARY@114..128
                  EXPR_CALL@114..125
                    EXPR_BINARY@114..122
                      EXPR_IDENT@114..118
                        PATH@114..118
                          Ident@114..118 "cell"
                      Dot@118..119 "."
                      EXPR_IDENT@119..122
                        PATH@119..122
                          Ident@119..122 "get"
                    ARG_LIST@122..125
                      LParen@122..123 "("
                      RParen@123..124 ")"
                      Whitespace@124..125 " "
                  Plus@125..126 "+"
                  Whitespace@126..127 " "
                  EXPR_INT@127..128
                    Int@127..128 "1"
                Semi@128..129 ";"
                Whitespace@129..138 "\n        "
              STMT_LET@138..170
                LetKeyword@138..141 "let"
                Whitespace@141..142 " "
                PATTERN_WILDCARD@142..144
                  WildcardKeyword@142..143 "_"
                  Whitespace@143..144 " "
                Eq@144..145 "="
                Whitespace@145..146 " "
                EXPR_CALL@146..160
                  EXPR_BINARY@146..154
                    EXPR_IDENT@146..150
                      PATH@146..150
                        Ident@146..150 "cell"
                    Dot@150..151 "."
                    EXPR_IDENT@151..154
                      PATH@151..154
                        Ident@151..154 "set"
                  ARG_LIST@154..160
                    LParen@154..155 "("
                    ARG@155..159
                      EXPR_IDENT@155..159
                        PATH@155..159
                          Ident@155..159 "next"
                    RParen@159..160 ")"
                Semi@160..161 ";"
                Whitespace@161..170 "\n        "
              EXPR_IDENT@170..179
                PATH@170..179
                  Ident@170..174 "next"
                  Whitespace@174..179 "\n    "
              RBrace@179..180 "}"
        Semi@180..181 ";"
        Whitespace@181..186 "\n    "
      STMT_LET@186..243
        LetKeyword@186..189 "let"
        Whitespace@189..190 " "
        PATTERN_VARIABLE@190..196
          Ident@190..195 "reset"
          Whitespace@195..196 " "
        Eq@196..197 "="
        Whitespace@197..198 " "
        EXPR_CLOSURE@198..237
          CLOSURE_PARAM_LIST@198..201
            OrOr@198..200 "||"
            Whitespace@200..201 " "
          EXPR_CLOSURE_BODY@201..237
            BLOCK@201..237
              LBrace@201..202 "{"
              Whitespace@202..211 "\n        "
              STMT_LET@211..236
                LetKeyword@211..214 "let"
                Whitespace@214..215 " "
                PATTERN_WILDCARD@215..217
                  WildcardKeyword@215..216 "_"
                  Whitespace@216..217 " "
                Eq@217..218 "="
                Whitespace@218..219 " "
                EXPR_CALL@219..230
                  EXPR_BINARY@219..227
                    EXPR_IDENT@219..223
                      PATH@219..223
                        Ident@219..223 "cell"
                    Dot@223..224 "."
                    EXPR_IDENT@224..227
                      PATH@224..227
                        Ident@224..227 "set"
                  ARG_LIST@227..230
                    LParen@227..228 "("
                    ARG@228..229
                      EXPR_INT@228..229
                        Int@228..229 "0"
                    RParen@229..230 ")"
                Semi@230..231 ";"
                Whitespace@231..236 "\n    "
              RBrace@236..237 "}"
        Semi@237..238 ";"
        Whitespace@238..243 "\n    "
      EXPR_TUPLE@243..257
        LParen@243..244 "("
        EXPR_IDENT@244..248
          PATH@244..248
            Ident@244..248 "next"
        Comma@248..249 ","
        Whitespace@249..250 " "
        EXPR_IDENT@250..255
          PATH@250..255
            Ident@250..255 "reset"
        RParen@255..256 ")"
        Whitespace@256..257 "\n"
      RBrace@257..258 "}"
      Whitespace@258..260 "\n\n"
  FN@260..701
    FnKeyword@260..262 "fn"
    Whitespace@262..263 " "
    Ident@263..267 "main"
    PARAM_LIST@267..270
      LParen@267..268 "("
      RParen@268..269 ")"
      Whitespace@269..270 " "
    BLOCK@270..701
      LBrace@270..271 "{"
      Whitespace@271..276 "\n    "
      STMT_LET@276..310
        LetKeyword@276..279 "let"
        Whitespace@279..280 " "
        PATTERN_VARIABLE@280..288
          Ident@280..287 "counter"
          Whitespace@287..288 " "
        Eq@288..289 "="
        Whitespace@289..290 " "
        EXPR_CALL@290..304
          EXPR_IDENT@290..302
            PATH@290..302
              Ident@290..302 "make_counter"
          ARG_LIST@302..304
            LParen@302..303 "("
            RParen@303..304 ")"
        Semi@304..305 ";"
        Whitespace@305..310 "\n    "
      STMT_LET@310..343
        LetKeyword@310..313 "let"
        Whitespace@313..314 " "
        PATTERN_TUPLE@314..328
          LParen@314..315 "("
          PATTERN_VARIABLE@315..319
            Ident@315..319 "next"
          Comma@319..320 ","
          Whitespace@320..321 " "
          PATTERN_VARIABLE@321..326
            Ident@321..326 "reset"
          RParen@326..327 ")"
          Whitespace@327..328 " "
        Eq@328..329 "="
        Whitespace@329..330 " "
        EXPR_IDENT@330..337
          PATH@330..337
            Ident@330..337 "counter"
        Semi@337..338 ";"
        Whitespace@338..343 "\n    "
      STMT_LET@343..367
        LetKeyword@343..346 "let"
        Whitespace@346..347 " "
        PATTERN_VARIABLE@347..353
          Ident@347..352 "first"
          Whitespace@352..353 " "
        Eq@353..354 "="
        Whitespace@354..355 " "
        EXPR_CALL@355..361
          EXPR_IDENT@355..359
            PATH@355..359
              Ident@355..359 "next"
          ARG_LIST@359..361
            LParen@359..360 "("
            RParen@360..361 ")"
        Semi@361..362 ";"
        Whitespace@362..367 "\n    "
      STMT_LET@367..392
        LetKeyword@367..370 "let"
        Whitespace@370..371 " "
        PATTERN_VARIABLE@371..378
          Ident@371..377 "second"
          Whitespace@377..378 " "
        Eq@378..379 "="
        Whitespace@379..380 " "
        EXPR_CALL@380..386
          EXPR_IDENT@380..384
            PATH@380..384
              Ident@380..384 "next"
          ARG_LIST@384..386
            LParen@384..385 "("
            RParen@385..386 ")"
        Semi@386..387 ";"
        Whitespace@387..392 "\n    "
      STMT_LET@392..413
        LetKeyword@392..395 "let"
        Whitespace@395..396 " "
        PATTERN_WILDCARD@396..398
          WildcardKeyword@396..397 "_"
          Whitespace@397..398 " "
        Eq@398..399 "="
        Whitespace@399..400 " "
        EXPR_CALL@400..407
          EXPR_IDENT@400..405
            PATH@400..405
              Ident@400..405 "reset"
          ARG_LIST@405..407
            LParen@405..406 "("
            RParen@406..407 ")"
        Semi@407..408 ";"
        Whitespace@408..413 "\n    "
      STMT_LET@413..437
        LetKeyword@413..416 "let"
        Whitespace@416..417 " "
        PATTERN_VARIABLE@417..423
          Ident@417..422 "third"
          Whitespace@422..423 " "
        Eq@423..424 "="
        Whitespace@424..425 " "
        EXPR_CALL@425..431
          EXPR_IDENT@425..429
            PATH@425..429
              Ident@425..429 "next"
          ARG_LIST@429..431
            LParen@429..430 "("
            RParen@430..431 ")"
        Semi@431..432 ";"
        Whitespace@432..437 "\n    "
      STMT_LET@437..475
        LetKeyword@437..440 "let"
        Whitespace@440..441 " "
        PATTERN_VARIABLE@441..453
          Ident@441..452 "new_counter"
          Whitespace@452..453 " "
        Eq@453..454 "="
        Whitespace@454..455 " "
        EXPR_CALL@455..469
          EXPR_IDENT@455..467
            PATH@455..467
              Ident@455..467 "make_counter"
          ARG_LIST@467..469
            LParen@467..468 "("
            RParen@468..469 ")"
        Semi@469..470 ";"
        Whitespace@470..475 "\n    "
      STMT_LET@475..512
        LetKeyword@475..478 "let"
        Whitespace@478..479 " "
        PATTERN_TUPLE@479..493
          LParen@479..480 "("
          PATTERN_VARIABLE@480..488
            Ident@480..488 "new_next"
          Comma@488..489 ","
          Whitespace@489..490 " "
          PATTERN_WILDCARD@490..491
            WildcardKeyword@490..491 "_"
          RParen@491..492 ")"
          Whitespace@492..493 " "
        Eq@493..494 "="
        Whitespace@494..495 " "
        EXPR_IDENT@495..506
          PATH@495..506
            Ident@495..506 "new_counter"
        Semi@506..507 ";"
        Whitespace@507..512 "\n    "
      STMT_LET@512..541
        LetKeyword@512..515 "let"
        Whitespace@515..516 " "
        PATTERN_VARIABLE@516..523
          Ident@516..522 "fourth"
          Whitespace@522..523 " "
        Eq@523..524 "="
        Whitespace@524..525 " "
        EXPR_CALL@525..535
          EXPR_IDENT@525..533
            PATH@525..533
              Ident@525..533 "new_next"
          ARG_LIST@533..535
            LParen@533..534 "("
            RParen@534..535 ")"
        Semi@535..536 ";"
        Whitespace@536..541 "\n    "
      STMT_LET@541..581
        LetKeyword@541..544 "let"
        Whitespace@544..545 " "
        PATTERN_WILDCARD@545..547
          WildcardKeyword@545..546 "_"
          Whitespace@546..547 " "
        Eq@547..548 "="
        Whitespace@548..549 " "
        EXPR_CALL@549..575
          EXPR_IDENT@549..556
            PATH@549..556
              Ident@549..556 "println"
          ARG_LIST@556..575
            LParen@556..557 "("
            ARG@557..574
              EXPR_CALL@557..574
                EXPR_BINARY@557..572
                  EXPR_IDENT@557..562
                    PATH@557..562
                      Ident@557..562 "first"
                  Dot@562..563 "."
                  EXPR_IDENT@563..572
                    PATH@563..572
                      Ident@563..572 "to_string"
                ARG_LIST@572..574
                  LParen@572..573 "("
                  RParen@573..574 ")"
            RParen@574..575 ")"
        Semi@575..576 ";"
        Whitespace@576..581 "\n    "
      STMT_LET@581..622
        LetKeyword@581..584 "let"
        Whitespace@584..585 " "
        PATTERN_WILDCARD@585..587
          WildcardKeyword@585..586 "_"
          Whitespace@586..587 " "
        Eq@587..588 "="
        Whitespace@588..589 " "
        EXPR_CALL@589..616
          EXPR_IDENT@589..596
            PATH@589..596
              Ident@589..596 "println"
          ARG_LIST@596..616
            LParen@596..597 "("
            ARG@597..615
              EXPR_CALL@597..615
                EXPR_BINARY@597..613
                  EXPR_IDENT@597..603
                    PATH@597..603
                      Ident@597..603 "second"
                  Dot@603..604 "."
                  EXPR_IDENT@604..613
                    PATH@604..613
                      Ident@604..613 "to_string"
                ARG_LIST@613..615
                  LParen@613..614 "("
                  RParen@614..615 ")"
            RParen@615..616 ")"
        Semi@616..617 ";"
        Whitespace@617..622 "\n    "
      STMT_LET@622..662
        LetKeyword@622..625 "let"
        Whitespace@625..626 " "
        PATTERN_WILDCARD@626..628
          WildcardKeyword@626..627 "_"
          Whitespace@627..628 " "
        Eq@628..629 "="
        Whitespace@629..630 " "
        EXPR_CALL@630..656
          EXPR_IDENT@630..637
            PATH@630..637
              Ident@630..637 "println"
          ARG_LIST@637..656
            LParen@637..638 "("
            ARG@638..655
              EXPR_CALL@638..655
                EXPR_BINARY@638..653
                  EXPR_IDENT@638..643
                    PATH@638..643
                      Ident@638..643 "third"
                  Dot@643..644 "."
                  EXPR_IDENT@644..653
                    PATH@644..653
                      Ident@644..653 "to_string"
                ARG_LIST@653..655
                  LParen@653..654 "("
                  RParen@654..655 ")"
            RParen@655..656 ")"
        Semi@656..657 ";"
        Whitespace@657..662 "\n    "
      STMT_LET@662..699
        LetKeyword@662..665 "let"
        Whitespace@665..666 " "
        PATTERN_WILDCARD@666..668
          WildcardKeyword@666..667 "_"
          Whitespace@667..668 " "
        Eq@668..669 "="
        Whitespace@669..670 " "
        EXPR_CALL@670..697
          EXPR_IDENT@670..677
            PATH@670..677
              Ident@670..677 "println"
          ARG_LIST@677..697
            LParen@677..678 "("
            ARG@678..696
              EXPR_CALL@678..696
                EXPR_BINARY@678..694
                  EXPR_IDENT@678..684
                    PATH@678..684
                      Ident@678..684 "fourth"
                  Dot@684..685 "."
                  EXPR_IDENT@685..694
                    PATH@685..694
                      Ident@685..694 "to_string"
                ARG_LIST@694..696
                  LParen@694..695 "("
                  RParen@695..696 ")"
            RParen@696..697 ")"
        Semi@697..698 ";"
        Whitespace@698..699 "\n"
      RBrace@699..700 "}"
      Whitespace@700..701 "\n"