FILE@0..703
  FN@0..262
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "make_counter"
    PARAM_LIST@15..18
      LParen@15..16 "("
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_TUPLE@21..47
      TYPE_LIST@21..47
        LParen@21..22 "("
        TYPE_FUNC@22..33
          TYPE_TUPLE@22..25
            TYPE_LIST@22..25
              LParen@22..23 "("
              RParen@23..24 ")"
              Whitespace@24..25 " "
          Arrow@25..27 "->"
          Whitespace@27..28 " "
          TYPE_INT32@28..33
            Int32Keyword@28..33 "int32"
        Comma@33..34 ","
        Whitespace@34..35 " "
        TYPE_FUNC@35..45
          TYPE_TUPLE@35..38
            TYPE_LIST@35..38
              LParen@35..36 "("
              RParen@36..37 ")"
              Whitespace@37..38 " "
          Arrow@38..40 "->"
          Whitespace@40..41 " "
          TYPE_UNIT@41..45
            UnitKeyword@41..45 "unit"
        RParen@45..46 ")"
        Whitespace@46..47 " "
    BLOCK@47..262
      LBrace@47..48 "{"
      Whitespace@48..53 "\n    "
      STMT_LET@53..81
        LetKeyword@53..56 "let"
        Whitespace@56..57 " "
        PATTERN_VARIABLE@57..62
          Ident@57..61 "cell"
          Whitespace@61..62 " "
        Eq@62..63 "="
        Whitespace@63..64 " "
        EXPR_CALL@64..75
          EXPR_IDENT@64..72
            PATH@64..72
              Ident@64..67 "Ref"
              ColonColon@67..69 "::"
              Ident@69..72 "new"
          ARG_LIST@72..75
            LParen@72..73 "("
            ARG@73..74
              EXPR_INT@73..74
                Int@73..74 "0"
            RParen@74..75 ")"
        Semi@75..76 ";"
        Whitespace@76..81 "\n    "
      STMT_LET@81..188
        LetKeyword@81..84 "let"
        Whitespace@84..85 " "
        PATTERN_VARIABLE@85..90
          Ident@85..89 "next"
          Whitespace@89..90 " "
        Eq@90..91 "="
        Whitespace@91..92 " "
        EXPR_CLOSURE@92..182
          CLOSURE_PARAM_LIST@92..95
            OrOr@92..94 "||"
            Whitespace@94..95 " "
          EXPR_CLOSURE_BODY@95..182
            BLOCK@95..182
              LBrace@95..96 "{"
              Whitespace@96..105 "\n        "
              STMT_LET@105..140
                LetKeyword@105..108 "let"
                Whitespace@108..109 " "
                PATTERN_VARIABLE@109..114
                  Ident@109..113 "next"
                  Whitespace@113..114 " "
                Eq@114..115 "="
                Whitespace@115..116 " "
                EXPR_BINARY@116..130
                  EXPR_CALL@116..127
                    EXPR_BINARY@116..124
                      EXPR_IDENT@116..120
                        PATH@116..120
                          Ident@116..120 "cell"
                      Dot@120..121 "."
                      EXPR_IDENT@121..124
                        PATH@121..124
                          Ident@121..124 "get"
                    ARG_LIST@124..127
                      LParen@124..125 "("
                      RParen@125..126 ")"
                      Whitespace@126..127 " "
                  Plus@127..128 "+"
                  Whitespace@128..129 " "
                  EXPR_INT@129..130
                    Int@129..130 "1"
                Semi@130..131 ";"
                Whitespace@131..140 "\n        "
              STMT_LET@140..172
                LetKeyword@140..143 "let"
                Whitespace@143..144 " "
                PATTERN_WILDCARD@144..146
                  WildcardKeyword@144..145 "_"
                  Whitespace@145..146 " "
                Eq@146..147 "="
                Whitespace@147..148 " "
                EXPR_CALL@148..162
                  EXPR_BINARY@148..156
                    EXPR_IDENT@148..152
                      PATH@148..152
                        Ident@148..152 "cell"
                    Dot@152..153 "."
                    EXPR_IDENT@153..156
                      PATH@153..156
                        Ident@153..156 "set"
                  ARG_LIST@156..162
                    LParen@156..157 "("
                    ARG@157..161
                      EXPR_IDENT@157..161
                        PATH@157..161
                          Ident@157..161 "next"
                    RParen@161..162 ")"
                Semi@162..163 ";"
                Whitespace@163..172 "\n        "
              EXPR_IDENT@172..181
                PATH@172..181
                  Ident@172..176 "next"
                  Whitespace@176..181 "\n    "
              RBrace@181..182 "}"
        Semi@182..183 ";"
        Whitespace@183..188 "\n    "
      STMT_LET@188..245
        LetKeyword@188..191 "let"
        Whitespace@191..192 " "
        PATTERN_VARIABLE@192..198
          Ident@192..197 "reset"
          Whitespace@197..198 " "
        Eq@198..199 "="
        Whitespace@199..200 " "
        EXPR_CLOSURE@200..239
          CLOSURE_PARAM_LIST@200..203
            OrOr@200..202 "||"
            Whitespace@202..203 " "
          EXPR_CLOSURE_BODY@203..239
            BLOCK@203..239
              LBrace@203..204 "{"
              Whitespace@204..213 "\n        "
              STMT_LET@213..238
                LetKeyword@213..216 "let"
                Whitespace@216..217 " "
                PATTERN_WILDCARD@217..219
                  WildcardKeyword@217..218 "_"
                  Whitespace@218..219 " "
                Eq@219..220 "="
                Whitespace@220..221 " "
                EXPR_CALL@221..232
                  EXPR_BINARY@221..229
                    EXPR_IDENT@221..225
                      PATH@221..225
                        Ident@221..225 "cell"
                    Dot@225..226 "."
                    EXPR_IDENT@226..229
                      PATH@226..229
                        Ident@226..229 "set"
                  ARG_LIST@229..232
                    LParen@229..230 "("
                    ARG@230..231
                      EXPR_INT@230..231
                        Int@230..231 "0"
                    RParen@231..232 ")"
                Semi@232..233 ";"
                Whitespace@233..238 "\n    "
              RBrace@238..239 "}"
        Semi@239..240 ";"
        Whitespace@240..245 "\n    "
      EXPR_TUPLE@245..259
        LParen@245..246 "("
        EXPR_IDENT@246..250
          PATH@246..250
            Ident@246..250 "next"
        Comma@250..251 ","
        Whitespace@251..252 " "
        EXPR_IDENT@252..257
          PATH@252..257
            Ident@252..257 "reset"
        RParen@257..258 ")"
        Whitespace@258..259 "\n"
      RBrace@259..260 "}"
      Whitespace@260..262 "\n\n"
  FN@262..703
    FnKeyword@262..264 "fn"
    Whitespace@264..265 " "
    Ident@265..269 "main"
    PARAM_LIST@269..272
      LParen@269..270 "("
      RParen@270..271 ")"
      Whitespace@271..272 " "
    BLOCK@272..703
      LBrace@272..273 "{"
      Whitespace@273..278 "\n    "
      STMT_LET@278..312
        LetKeyword@278..281 "let"
        Whitespace@281..282 " "
        PATTERN_VARIABLE@282..290
          Ident@282..289 "counter"
          Whitespace@289..290 " "
        Eq@290..291 "="
        Whitespace@291..292 " "
        EXPR_CALL@292..306
          EXPR_IDENT@292..304
            PATH@292..304
              Ident@292..304 "make_counter"
          ARG_LIST@304..306
            LParen@304..305 "("
            RParen@305..306 ")"
        Semi@306..307 ";"
        Whitespace@307..312 "\n    "
      STMT_LET@312..345
        LetKeyword@312..315 "let"
        Whitespace@315..316 " "
        PATTERN_TUPLE@316..330
          LParen@316..317 "("
          PATTERN_VARIABLE@317..321
            Ident@317..321 "next"
          Comma@321..322 ","
          Whitespace@322..323 " "
          PATTERN_VARIABLE@323..328
            Ident@323..328 "reset"
          RParen@328..329 ")"
          Whitespace@329..330 " "
        Eq@330..331 "="
        Whitespace@331..332 " "
        EXPR_IDENT@332..339
          PATH@332..339
            Ident@332..339 "counter"
        Semi@339..340 ";"
        Whitespace@340..345 "\n    "
      STMT_LET@345..369
        LetKeyword@345..348 "let"
        Whitespace@348..349 " "
        PATTERN_VARIABLE@349..355
          Ident@349..354 "first"
          Whitespace@354..355 " "
        Eq@355..356 "="
        Whitespace@356..357 " "
        EXPR_CALL@357..363
          EXPR_IDENT@357..361
            PATH@357..361
              Ident@357..361 "next"
          ARG_LIST@361..363
            LParen@361..362 "("
            RParen@362..363 ")"
        Semi@363..364 ";"
        Whitespace@364..369 "\n    "
      STMT_LET@369..394
        LetKeyword@369..372 "let"
        Whitespace@372..373 " "
        PATTERN_VARIABLE@373..380
          Ident@373..379 "second"
          Whitespace@379..380 " "
        Eq@380..381 "="
        Whitespace@381..382 " "
        EXPR_CALL@382..388
          EXPR_IDENT@382..386
            PATH@382..386
              Ident@382..386 "next"
          ARG_LIST@386..388
            LParen@386..387 "("
            RParen@387..388 ")"
        Semi@388..389 ";"
        Whitespace@389..394 "\n    "
      STMT_LET@394..415
        LetKeyword@394..397 "let"
        Whitespace@397..398 " "
        PATTERN_WILDCARD@398..400
          WildcardKeyword@398..399 "_"
          Whitespace@399..400 " "
        Eq@400..401 "="
        Whitespace@401..402 " "
        EXPR_CALL@402..409
          EXPR_IDENT@402..407
            PATH@402..407
              Ident@402..407 "reset"
          ARG_LIST@407..409
            LParen@407..408 "("
            RParen@408..409 ")"
        Semi@409..410 ";"
        Whitespace@410..415 "\n    "
      STMT_LET@415..439
        LetKeyword@415..418 "let"
        Whitespace@418..419 " "
        PATTERN_VARIABLE@419..425
          Ident@419..424 "third"
          Whitespace@424..425 " "
        Eq@425..426 "="
        Whitespace@426..427 " "
        EXPR_CALL@427..433
          EXPR_IDENT@427..431
            PATH@427..431
              Ident@427..431 "next"
          ARG_LIST@431..433
            LParen@431..432 "("
            RParen@432..433 ")"
        Semi@433..434 ";"
        Whitespace@434..439 "\n    "
      STMT_LET@439..477
        LetKeyword@439..442 "let"
        Whitespace@442..443 " "
        PATTERN_VARIABLE@443..455
          Ident@443..454 "new_counter"
          Whitespace@454..455 " "
        Eq@455..456 "="
        Whitespace@456..457 " "
        EXPR_CALL@457..471
          EXPR_IDENT@457..469
            PATH@457..469
              Ident@457..469 "make_counter"
          ARG_LIST@469..471
            LParen@469..470 "("
            RParen@470..471 ")"
        Semi@471..472 ";"
        Whitespace@472..477 "\n    "
      STMT_LET@477..514
        LetKeyword@477..480 "let"
        Whitespace@480..481 " "
        PATTERN_TUPLE@481..495
          LParen@481..482 "("
          PATTERN_VARIABLE@482..490
            Ident@482..490 "new_next"
          Comma@490..491 ","
          Whitespace@491..492 " "
          PATTERN_WILDCARD@492..493
            WildcardKeyword@492..493 "_"
          RParen@493..494 ")"
          Whitespace@494..495 " "
        Eq@495..496 "="
        Whitespace@496..497 " "
        EXPR_IDENT@497..508
          PATH@497..508
            Ident@497..508 "new_counter"
        Semi@508..509 ";"
        Whitespace@509..514 "\n    "
      STMT_LET@514..543
        LetKeyword@514..517 "let"
        Whitespace@517..518 " "
        PATTERN_VARIABLE@518..525
          Ident@518..524 "fourth"
          Whitespace@524..525 " "
        Eq@525..526 "="
        Whitespace@526..527 " "
        EXPR_CALL@527..537
          EXPR_IDENT@527..535
            PATH@527..535
              Ident@527..535 "new_next"
          ARG_LIST@535..537
            LParen@535..536 "("
            RParen@536..537 ")"
        Semi@537..538 ";"
        Whitespace@538..543 "\n    "
      STMT_LET@543..583
        LetKeyword@543..546 "let"
        Whitespace@546..547 " "
        PATTERN_WILDCARD@547..549
          WildcardKeyword@547..548 "_"
          Whitespace@548..549 " "
        Eq@549..550 "="
        Whitespace@550..551 " "
        EXPR_CALL@551..577
          EXPR_IDENT@551..558
            PATH@551..558
              Ident@551..558 "println"
          ARG_LIST@558..577
            LParen@558..559 "("
            ARG@559..576
              EXPR_CALL@559..576
                EXPR_BINARY@559..574
                  EXPR_IDENT@559..564
                    PATH@559..564
                      Ident@559..564 "first"
                  Dot@564..565 "."
                  EXPR_IDENT@565..574
                    PATH@565..574
                      Ident@565..574 "to_string"
                ARG_LIST@574..576
                  LParen@574..575 "("
                  RParen@575..576 ")"
            RParen@576..577 ")"
        Semi@577..578 ";"
        Whitespace@578..583 "\n    "
      STMT_LET@583..624
        LetKeyword@583..586 "let"
        Whitespace@586..587 " "
        PATTERN_WILDCARD@587..589
          WildcardKeyword@587..588 "_"
          Whitespace@588..589 " "
        Eq@589..590 "="
        Whitespace@590..591 " "
        EXPR_CALL@591..618
          EXPR_IDENT@591..598
            PATH@591..598
              Ident@591..598 "println"
          ARG_LIST@598..618
            LParen@598..599 "("
            ARG@599..617
              EXPR_CALL@599..617
                EXPR_BINARY@599..615
                  EXPR_IDENT@599..605
                    PATH@599..605
                      Ident@599..605 "second"
                  Dot@605..606 "."
                  EXPR_IDENT@606..615
                    PATH@606..615
                      Ident@606..615 "to_string"
                ARG_LIST@615..617
                  LParen@615..616 "("
                  RParen@616..617 ")"
            RParen@617..618 ")"
        Semi@618..619 ";"
        Whitespace@619..624 "\n    "
      STMT_LET@624..664
        LetKeyword@624..627 "let"
        Whitespace@627..628 " "
        PATTERN_WILDCARD@628..630
          WildcardKeyword@628..629 "_"
          Whitespace@629..630 " "
        Eq@630..631 "="
        Whitespace@631..632 " "
        EXPR_CALL@632..658
          EXPR_IDENT@632..639
            PATH@632..639
              Ident@632..639 "println"
          ARG_LIST@639..658
            LParen@639..640 "("
            ARG@640..657
              EXPR_CALL@640..657
                EXPR_BINARY@640..655
                  EXPR_IDENT@640..645
                    PATH@640..645
                      Ident@640..645 "third"
                  Dot@645..646 "."
                  EXPR_IDENT@646..655
                    PATH@646..655
                      Ident@646..655 "to_string"
                ARG_LIST@655..657
                  LParen@655..656 "("
                  RParen@656..657 ")"
            RParen@657..658 ")"
        Semi@658..659 ";"
        Whitespace@659..664 "\n    "
      STMT_LET@664..701
        LetKeyword@664..667 "let"
        Whitespace@667..668 " "
        PATTERN_WILDCARD@668..670
          WildcardKeyword@668..669 "_"
          Whitespace@669..670 " "
        Eq@670..671 "="
        Whitespace@671..672 " "
        EXPR_CALL@672..699
          EXPR_IDENT@672..679
            PATH@672..679
              Ident@672..679 "println"
          ARG_LIST@679..699
            LParen@679..680 "("
            ARG@680..698
              EXPR_CALL@680..698
                EXPR_BINARY@680..696
                  EXPR_IDENT@680..686
                    PATH@680..686
                      Ident@680..686 "fourth"
                  Dot@686..687 "."
                  EXPR_IDENT@687..696
                    PATH@687..696
                      Ident@687..696 "to_string"
                ARG_LIST@696..698
                  LParen@696..697 "("
                  RParen@697..698 ")"
            RParen@698..699 ")"
        Semi@699..700 ";"
        Whitespace@700..701 "\n"
      RBrace@701..702 "}"
      Whitespace@702..703 "\n"