FILE@0..541
  FN@0..185
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..14 "show_scalar"
    PARAM_LIST@14..30
      LParen@14..15 "("
      PARAM@15..28
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_UINT32@22..28
          Uint32Keyword@22..28 "uint32"
      RParen@28..29 ")"
      Whitespace@29..30 " "
    Arrow@30..32 "->"
    Whitespace@32..33 " "
    TYPE_UNIT@33..38
      UnitKeyword@33..37 "unit"
      Whitespace@37..38 " "
    BLOCK@38..185
      LBrace@38..39 "{"
      Whitespace@39..44 "\n    "
      EXPR_MATCH@44..182
        MatchKeyword@44..49 "match"
        Whitespace@49..50 " "
        EXPR_CALL@50..74
          EXPR_IDENT@50..66
            PATH@50..66
              Ident@50..66 "char_from_uint32"
          ARG_LIST@66..74
            LParen@66..67 "("
            ARG@67..72
              EXPR_IDENT@67..72
                PATH@67..72
                  Ident@67..72 "value"
            RParen@72..73 ")"
            Whitespace@73..74 " "
        MATCH_ARM_LIST@74..182
          LBrace@74..75 "{"
          Whitespace@75..84 "\n        "
          MATCH_ARM@84..133
            PATTERN_CONSTR@84..105
              PATH@84..96
                Ident@84..90 "Option"
                ColonColon@90..92 "::"
                Ident@92..96 "Some"
              LParen@96..97 "("
              PATTERN_VARIABLE@97..103
                Ident@97..103 "result"
              RParen@103..104 ")"
              Whitespace@104..105 " "
            FatArrow@105..107 "=>"
            Whitespace@107..108 " "
            EXPR_CALL@108..133
              EXPR_IDENT@108..115
                PATH@108..115
                  Ident@108..115 "println"
              ARG_LIST@115..133
                LParen@115..116 "("
                ARG@116..132
                  EXPR_CAST@116..132
                    EXPR_IDENT@116..123
                      PATH@116..123
                        Ident@116..122 "result"
                        Whitespace@122..123 " "
                    AsKeyword@123..125 "as"
                    Whitespace@125..126 " "
                    TYPE_UINT32@126..132
                      Uint32Keyword@126..132 "uint32"
                RParen@132..133 ")"
          Comma@133..134 ","
          Whitespace@134..143 "\n        "
          MATCH_ARM@143..174
            PATTERN_CONSTR@143..156
              PATH@143..156
                Ident@143..149 "Option"
                ColonColon@149..151 "::"
                Ident@151..155 "None"
                Whitespace@155..156 " "
            FatArrow@156..158 "=>"
            Whitespace@158..159 " "
            EXPR_CALL@159..174
              EXPR_IDENT@159..166
                PATH@159..166
                  Ident@159..166 "println"
              ARG_LIST@166..174
                LParen@166..167 "("
                ARG@167..173
                  EXPR_STR@167..173
                    Str@167..173 "\"none\""
                RParen@173..174 ")"
          Comma@174..175 ","
          Whitespace@175..180 "\n    "
          RBrace@180..181 "}"
          Whitespace@181..182 "\n"
      RBrace@182..183 "}"
      Whitespace@183..185 "\n\n"
  FN@185..541
    FnKeyword@185..187 "fn"
    Whitespace@187..188 " "
    Ident@188..192 "main"
    PARAM_LIST@192..195
      LParen@192..193 "("
      RParen@193..194 ")"
      Whitespace@194..195 " "
    Arrow@195..197 "->"
    Whitespace@197..198 " "
    TYPE_UNIT@198..203
      UnitKeyword@198..202 "unit"
      Whitespace@202..203 " "
    BLOCK@203..541
      LBrace@203..204 "{"
      Whitespace@204..209 "\n    "
      STMT_EXPR@209..229
        EXPR_CALL@209..223
          EXPR_IDENT@209..220
            PATH@209..220
              Ident@209..220 "show_scalar"
          ARG_LIST@220..223
            LParen@220..221 "("
            ARG@221..222
              EXPR_INT@221..222
                Int@221..222 "0"
            RParen@222..223 ")"
        Semi@223..224 ";"
        Whitespace@224..229 "\n    "
      STMT_EXPR@229..250
        EXPR_CALL@229..244
          EXPR_IDENT@229..240
            PATH@229..240
              Ident@229..240 "show_scalar"
          ARG_LIST@240..244
            LParen@240..241 "("
            ARG@241..243
              EXPR_INT@241..243
                Int@241..243 "65"
            RParen@243..244 ")"
        Semi@244..245 ";"
        Whitespace@245..250 "\n    "
      STMT_EXPR@250..274
        EXPR_CALL@250..268
          EXPR_IDENT@250..261
            PATH@250..261
              Ident@250..261 "show_scalar"
          ARG_LIST@261..268
            LParen@261..262 "("
            ARG@262..267
              EXPR_INT@262..267
                Int@262..267 "55295"
            RParen@267..268 ")"
        Semi@268..269 ";"
        Whitespace@269..274 "\n    "
      STMT_EXPR@274..298
        EXPR_CALL@274..292
          EXPR_IDENT@274..285
            PATH@274..285
              Ident@274..285 "show_scalar"
          ARG_LIST@285..292
            LParen@285..286 "("
            ARG@286..291
              EXPR_INT@286..291
                Int@286..291 "55296"
            RParen@291..292 ")"
        Semi@292..293 ";"
        Whitespace@293..298 "\n    "
      STMT_EXPR@298..322
        EXPR_CALL@298..316
          EXPR_IDENT@298..309
            PATH@298..309
              Ident@298..309 "show_scalar"
          ARG_LIST@309..316
            LParen@309..310 "("
            ARG@310..315
              EXPR_INT@310..315
                Int@310..315 "57343"
            RParen@315..316 ")"
        Semi@316..317 ";"
        Whitespace@317..322 "\n    "
      STMT_EXPR@322..346
        EXPR_CALL@322..340
          EXPR_IDENT@322..333
            PATH@322..333
              Ident@322..333 "show_scalar"
          ARG_LIST@333..340
            LParen@333..334 "("
            ARG@334..339
              EXPR_INT@334..339
                Int@334..339 "57344"
            RParen@339..340 ")"
        Semi@340..341 ";"
        Whitespace@341..346 "\n    "
      STMT_EXPR@346..372
        EXPR_CALL@346..366
          EXPR_IDENT@346..357
            PATH@346..357
              Ident@346..357 "show_scalar"
          ARG_LIST@357..366
            LParen@357..358 "("
            ARG@358..365
              EXPR_INT@358..365
                Int@358..365 "1114111"
            RParen@365..366 ")"
        Semi@366..367 ";"
        Whitespace@367..372 "\n    "
      STMT_EXPR@372..398
        EXPR_CALL@372..392
          EXPR_IDENT@372..383
            PATH@372..383
              Ident@372..383 "show_scalar"
          ARG_LIST@383..392
            LParen@383..384 "("
            ARG@384..391
              EXPR_INT@384..391
                Int@384..391 "1114112"
            RParen@391..392 ")"
        Semi@392..393 ";"
        Whitespace@393..398 "\n    "
      EXPR_MATCH@398..539
        MatchKeyword@398..403 "match"
        Whitespace@403..404 " "
        EXPR_CALL@404..429
          EXPR_IDENT@404..420
            PATH@404..420
              Ident@404..420 "char_from_uint32"
          ARG_LIST@420..429
            LParen@420..421 "("
            ARG@421..427
              EXPR_INT@421..427
                Int@421..427 "128512"
            RParen@427..428 ")"
            Whitespace@428..429 " "
        MATCH_ARM_LIST@429..539
          LBrace@429..430 "{"
          Whitespace@430..439 "\n        "
          MATCH_ARM@439..490
            PATTERN_CONSTR@439..460
              PATH@439..451
                Ident@439..445 "Option"
                ColonColon@445..447 "::"
                Ident@447..451 "Some"
              LParen@451..452 "("
              PATTERN_VARIABLE@452..458
                Ident@452..458 "result"
              RParen@458..459 ")"
              Whitespace@459..460 " "
            FatArrow@460..462 "=>"
            Whitespace@462..463 " "
            EXPR_CALL@463..490
              EXPR_IDENT@463..470
                PATH@463..470
                  Ident@463..470 "println"
              ARG_LIST@470..490
                LParen@470..471 "("
                ARG@471..489
                  EXPR_CALL@471..489
                    EXPR_BINARY@471..487
                      EXPR_IDENT@471..477
                        PATH@471..477
                          Ident@471..477 "result"
                      Dot@477..478 "."
                      EXPR_IDENT@478..487
                        PATH@478..487
                          Ident@478..487 "to_string"
                    ARG_LIST@487..489
                      LParen@487..488 "("
                      RParen@488..489 ")"
                RParen@489..490 ")"
          Comma@490..491 ","
          Whitespace@491..500 "\n        "
          MATCH_ARM@500..531
            PATTERN_CONSTR@500..513
              PATH@500..513
                Ident@500..506 "Option"
                ColonColon@506..508 "::"
                Ident@508..512 "None"
                Whitespace@512..513 " "
            FatArrow@513..515 "=>"
            Whitespace@515..516 " "
            EXPR_CALL@516..531
              EXPR_IDENT@516..523
                PATH@516..523
                  Ident@516..523 "println"
              ARG_LIST@523..531
                LParen@523..524 "("
                ARG@524..530
                  EXPR_STR@524..530
                    Str@524..530 "\"none\""
                RParen@530..531 ")"
          Comma@531..532 ","
          Whitespace@532..537 "\n    "
          RBrace@537..538 "}"
          Whitespace@538..539 "\n"
      RBrace@539..540 "}"
      Whitespace@540..541 "\n"