FILE@0..568
  FN@0..185
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..14 "show_scalar"
    PARAM_LIST@14..30
      LParen@14..15 "("
      PARAM@15..28
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_UINT32@22..28
          Uint32Keyword@22..28 "uint32"
      RParen@28..29 ")"
      Whitespace@29..30 " "
    Arrow@30..32 "->"
    Whitespace@32..33 " "
    TYPE_UNIT@33..38
      UnitKeyword@33..37 "unit"
      Whitespace@37..38 " "
    BLOCK@38..185
      LBrace@38..39 "{"
      Whitespace@39..44 "\n    "
      EXPR_MATCH@44..182
        MatchKeyword@44..49 "match"
        Whitespace@49..50 " "
        EXPR_CALL@50..74
          EXPR_IDENT@50..66
            PATH@50..66
              Ident@50..66 "char_from_uint32"
          ARG_LIST@66..74
            LParen@66..67 "("
            ARG@67..72
              EXPR_IDENT@67..72
                PATH@67..72
                  Ident@67..72 "value"
            RParen@72..73 ")"
            Whitespace@73..74 " "
        MATCH_ARM_LIST@74..182
          LBrace@74..75 "{"
          Whitespace@75..84 "\n        "
          MATCH_ARM@84..133
            PATTERN_CONSTR@84..105
              PATH@84..96
                Ident@84..90 "Option"
                ColonColon@90..92 "::"
                Ident@92..96 "Some"
              LParen@96..97 "("
              PATTERN_VARIABLE@97..103
                Ident@97..103 "result"
              RParen@103..104 ")"
              Whitespace@104..105 " "
            FatArrow@105..107 "=>"
            Whitespace@107..108 " "
            EXPR_CALL@108..133
              EXPR_IDENT@108..115
                PATH@108..115
                  Ident@108..115 "println"
              ARG_LIST@115..133
                LParen@115..116 "("
                ARG@116..132
                  EXPR_CAST@116..132
                    EXPR_IDENT@116..123
                      PATH@116..123
                        Ident@116..122 "result"
                        Whitespace@122..123 " "
                    AsKeyword@123..125 "as"
                    Whitespace@125..126 " "
                    TYPE_UINT32@126..132
                      Uint32Keyword@126..132 "uint32"
                RParen@132..133 ")"
          Comma@133..134 ","
          Whitespace@134..143 "\n        "
          MATCH_ARM@143..174
            PATTERN_CONSTR@143..156
              PATH@143..156
                Ident@143..149 "Option"
                ColonColon@149..151 "::"
                Ident@151..155 "None"
                Whitespace@155..156 " "
            FatArrow@156..158 "=>"
            Whitespace@158..159 " "
            EXPR_CALL@159..174
              EXPR_IDENT@159..166
                PATH@159..166
                  Ident@159..166 "println"
              ARG_LIST@166..174
                LParen@166..167 "("
                ARG@167..173
                  EXPR_STR@167..173
                    Str@167..173 "\"none\""
                RParen@173..174 ")"
          Comma@174..175 ","
          Whitespace@175..180 "\n    "
          RBrace@180..181 "}"
          Whitespace@181..182 "\n"
      RBrace@182..183 "}"
      Whitespace@183..185 "\n\n"
  FN@185..568
    FnKeyword@185..187 "fn"
    Whitespace@187..188 " "
    Ident@188..192 "main"
    PARAM_LIST@192..195
      LParen@192..193 "("
      RParen@193..194 ")"
      Whitespace@194..195 " "
    Arrow@195..197 "->"
    Whitespace@197..198 " "
    TYPE_UNIT@198..203
      UnitKeyword@198..202 "unit"
      Whitespace@202..203 " "
    BLOCK@203..568
      LBrace@203..204 "{"
      Whitespace@204..209 "\n    "
      STMT_EXPR@209..232
        EXPR_CALL@209..226
          EXPR_IDENT@209..220
            PATH@209..220
              Ident@209..220 "show_scalar"
          ARG_LIST@220..226
            LParen@220..221 "("
            ARG@221..225
              EXPR_UINT32@221..225
                UInt32Lit@221..225 "0u32"
            RParen@225..226 ")"
        Semi@226..227 ";"
        Whitespace@227..232 "\n    "
      STMT_EXPR@232..256
        EXPR_CALL@232..250
          EXPR_IDENT@232..243
            PATH@232..243
              Ident@232..243 "show_scalar"
          ARG_LIST@243..250
            LParen@243..244 "("
            ARG@244..249
              EXPR_UINT32@244..249
                UInt32Lit@244..249 "65u32"
            RParen@249..250 ")"
        Semi@250..251 ";"
        Whitespace@251..256 "\n    "
      STMT_EXPR@256..283
        EXPR_CALL@256..277
          EXPR_IDENT@256..267
            PATH@256..267
              Ident@256..267 "show_scalar"
          ARG_LIST@267..277
            LParen@267..268 "("
            ARG@268..276
              EXPR_UINT32@268..276
                UInt32Lit@268..276 "55295u32"
            RParen@276..277 ")"
        Semi@277..278 ";"
        Whitespace@278..283 "\n    "
      STMT_EXPR@283..310
        EXPR_CALL@283..304
          EXPR_IDENT@283..294
            PATH@283..294
              Ident@283..294 "show_scalar"
          ARG_LIST@294..304
            LParen@294..295 "("
            ARG@295..303
              EXPR_UINT32@295..303
                UInt32Lit@295..303 "55296u32"
            RParen@303..304 ")"
        Semi@304..305 ";"
        Whitespace@305..310 "\n    "
      STMT_EXPR@310..337
        EXPR_CALL@310..331
          EXPR_IDENT@310..321
            PATH@310..321
              Ident@310..321 "show_scalar"
          ARG_LIST@321..331
            LParen@321..322 "("
            ARG@322..330
              EXPR_UINT32@322..330
                UInt32Lit@322..330 "57343u32"
            RParen@330..331 ")"
        Semi@331..332 ";"
        Whitespace@332..337 "\n    "
      STMT_EXPR@337..364
        EXPR_CALL@337..358
          EXPR_IDENT@337..348
            PATH@337..348
              Ident@337..348 "show_scalar"
          ARG_LIST@348..358
            LParen@348..349 "("
            ARG@349..357
              EXPR_UINT32@349..357
                UInt32Lit@349..357 "57344u32"
            RParen@357..358 ")"
        Semi@358..359 ";"
        Whitespace@359..364 "\n    "
      STMT_EXPR@364..393
        EXPR_CALL@364..387
          EXPR_IDENT@364..375
            PATH@364..375
              Ident@364..375 "show_scalar"
          ARG_LIST@375..387
            LParen@375..376 "("
            ARG@376..386
              EXPR_UINT32@376..386
                UInt32Lit@376..386 "1114111u32"
            RParen@386..387 ")"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      STMT_EXPR@393..422
        EXPR_CALL@393..416
          EXPR_IDENT@393..404
            PATH@393..404
              Ident@393..404 "show_scalar"
          ARG_LIST@404..416
            LParen@404..405 "("
            ARG@405..415
              EXPR_UINT32@405..415
                UInt32Lit@405..415 "1114112u32"
            RParen@415..416 ")"
        Semi@416..417 ";"
        Whitespace@417..422 "\n    "
      EXPR_MATCH@422..566
        MatchKeyword@422..427 "match"
        Whitespace@427..428 " "
        EXPR_CALL@428..456
          EXPR_IDENT@428..444
            PATH@428..444
              Ident@428..444 "char_from_uint32"
          ARG_LIST@444..456
            LParen@444..445 "("
            ARG@445..454
              EXPR_UINT32@445..454
                UInt32Lit@445..454 "128512u32"
            RParen@454..455 ")"
            Whitespace@455..456 " "
        MATCH_ARM_LIST@456..566
          LBrace@456..457 "{"
          Whitespace@457..466 "\n        "
          MATCH_ARM@466..517
            PATTERN_CONSTR@466..487
              PATH@466..478
                Ident@466..472 "Option"
                ColonColon@472..474 "::"
                Ident@474..478 "Some"
              LParen@478..479 "("
              PATTERN_VARIABLE@479..485
                Ident@479..485 "result"
              RParen@485..486 ")"
              Whitespace@486..487 " "
            FatArrow@487..489 "=>"
            Whitespace@489..490 " "
            EXPR_CALL@490..517
              EXPR_IDENT@490..497
                PATH@490..497
                  Ident@490..497 "println"
              ARG_LIST@497..517
                LParen@497..498 "("
                ARG@498..516
                  EXPR_CALL@498..516
                    EXPR_BINARY@498..514
                      EXPR_IDENT@498..504
                        PATH@498..504
                          Ident@498..504 "result"
                      Dot@504..505 "."
                      EXPR_IDENT@505..514
                        PATH@505..514
                          Ident@505..514 "to_string"
                    ARG_LIST@514..516
                      LParen@514..515 "("
                      RParen@515..516 ")"
                RParen@516..517 ")"
          Comma@517..518 ","
          Whitespace@518..527 "\n        "
          MATCH_ARM@527..558
            PATTERN_CONSTR@527..540
              PATH@527..540
                Ident@527..533 "Option"
                ColonColon@533..535 "::"
                Ident@535..539 "None"
                Whitespace@539..540 " "
            FatArrow@540..542 "=>"
            Whitespace@542..543 " "
            EXPR_CALL@543..558
              EXPR_IDENT@543..550
                PATH@543..550
                  Ident@543..550 "println"
              ARG_LIST@550..558
                LParen@550..551 "("
                ARG@551..557
                  EXPR_STR@551..557
                    Str@551..557 "\"none\""
                RParen@557..558 ")"
          Comma@558..559 ","
          Whitespace@559..564 "\n    "
          RBrace@564..565 "}"
          Whitespace@565..566 "\n"
      RBrace@566..567 "}"
      Whitespace@567..568 "\n"