FILE@0..781
  ENUM@0..66
    ATTRIBUTE_LIST@0..20
      ATTRIBUTE@0..20
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "derive"
        LParen@8..9 "("
        Ident@9..17 "ToString"
        RParen@17..18 ")"
        RBracket@18..19 "]"
        Whitespace@19..20 "\n"
    EnumKeyword@20..24 "enum"
    Whitespace@24..25 " "
    Ident@25..30 "Color"
    Whitespace@30..31 " "
    LBrace@31..32 "{"
    Whitespace@32..37 "\n    "
    VARIANT_LIST@37..66
      VARIANT@37..40
        Ident@37..40 "Red"
      Comma@40..41 ","
      Whitespace@41..46 "\n    "
      VARIANT@46..51
        Ident@46..51 "Green"
      Comma@51..52 ","
      Whitespace@52..57 "\n    "
      VARIANT@57..61
        Ident@57..61 "Blue"
      Comma@61..62 ","
      Whitespace@62..63 "\n"
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  STRUCT@66..150
    ATTRIBUTE_LIST@66..86
      ATTRIBUTE@66..86
        Pound@66..67 "#"
        LBracket@67..68 "["
        Ident@68..74 "derive"
        LParen@74..75 "("
        Ident@75..83 "ToString"
        RParen@83..84 ")"
        RBracket@84..85 "]"
        Whitespace@85..86 "\n"
    StructKeyword@86..92 "struct"
    Whitespace@92..93 " "
    Ident@93..98 "Point"
    Whitespace@98..99 " "
    LBrace@99..100 "{"
    Whitespace@100..105 "\n    "
    STRUCT_FIELD_LIST@105..150
      STRUCT_FIELD@105..113
        Ident@105..106 "x"
        Colon@106..107 ":"
        Whitespace@107..108 " "
        TYPE_INT32@108..113
          Int32Keyword@108..113 "int32"
      Comma@113..114 ","
      Whitespace@114..119 "\n    "
      STRUCT_FIELD@119..127
        Ident@119..120 "y"
        Colon@120..121 ":"
        Whitespace@121..122 " "
        TYPE_INT32@122..127
          Int32Keyword@122..127 "int32"
      Comma@127..128 ","
      Whitespace@128..133 "\n    "
      STRUCT_FIELD@133..145
        Ident@133..138 "color"
        Colon@138..139 ":"
        Whitespace@139..140 " "
        TYPE_TAPP@140..145
          Ident@140..145 "Color"
      Comma@145..146 ","
      Whitespace@146..147 "\n"
      RBrace@147..148 "}"
      Whitespace@148..150 "\n\n"
  IMPL@150..258
    ImplKeyword@150..154 "impl"
    Whitespace@154..155 " "
    TYPE_TAPP@155..161
      Ident@155..160 "Point"
      Whitespace@160..161 " "
    LBrace@161..162 "{"
    Whitespace@162..167 "\n    "
    FN@167..255
      FnKeyword@167..169 "fn"
      Whitespace@169..170 " "
      Ident@170..173 "new"
      PARAM_LIST@173..208
        LParen@173..174 "("
        PARAM@174..184
          Ident@174..175 "x"
          Colon@175..176 ":"
          Whitespace@176..177 " "
          TYPE_INT32@177..182
            Int32Keyword@177..182 "int32"
          Comma@182..183 ","
          Whitespace@183..184 " "
        PARAM@184..194
          Ident@184..185 "y"
          Colon@185..186 ":"
          Whitespace@186..187 " "
          TYPE_INT32@187..192
            Int32Keyword@187..192 "int32"
          Comma@192..193 ","
          Whitespace@193..194 " "
        PARAM@194..206
          Ident@194..199 "color"
          Colon@199..200 ":"
          Whitespace@200..201 " "
          TYPE_TAPP@201..206
            Ident@201..206 "Color"
        RParen@206..207 ")"
        Whitespace@207..208 " "
      Arrow@208..210 "->"
      Whitespace@210..211 " "
      TYPE_TAPP@211..217
        Ident@211..216 "Point"
        Whitespace@216..217 " "
      BLOCK@217..255
        LBrace@217..218 "{"
        Whitespace@218..227 "\n        "
        EXPR_STRUCT_LITERAL@227..253
          Ident@227..232 "Point"
          Whitespace@232..233 " "
          STRUCT_LITERAL_FIELD_LIST@233..253
            LBrace@233..234 "{"
            Whitespace@234..235 " "
            STRUCT_LITERAL_FIELD@235..236
              Ident@235..236 "x"
            Comma@236..237 ","
            Whitespace@237..238 " "
            STRUCT_LITERAL_FIELD@238..239
              Ident@238..239 "y"
            Comma@239..240 ","
            Whitespace@240..241 " "
            STRUCT_LITERAL_FIELD@241..247
              Ident@241..246 "color"
              Whitespace@246..247 " "
            RBrace@247..248 "}"
            Whitespace@248..253 "\n    "
        RBrace@253..254 "}"
        Whitespace@254..255 "\n"
    RBrace@255..256 "}"
    Whitespace@256..258 "\n\n"
  STRUCT@258..345
    ATTRIBUTE_LIST@258..278
      ATTRIBUTE@258..278
        Pound@258..259 "#"
        LBracket@259..260 "["
        Ident@260..266 "derive"
        LParen@266..267 "("
        Ident@267..275 "ToString"
        RParen@275..276 ")"
        RBracket@276..277 "]"
        Whitespace@277..278 "\n"
    StructKeyword@278..284 "struct"
    Whitespace@284..285 " "
    Ident@285..289 "Line"
    Whitespace@289..290 " "
    LBrace@290..291 "{"
    Whitespace@291..296 "\n    "
    STRUCT_FIELD_LIST@296..345
      STRUCT_FIELD@296..307
        Ident@296..300 "from"
        Colon@300..301 ":"
        Whitespace@301..302 " "
        TYPE_TAPP@302..307
          Ident@302..307 "Point"
      Comma@307..308 ","
      Whitespace@308..313 "\n    "
      STRUCT_FIELD@313..322
        Ident@313..315 "to"
        Colon@315..316 ":"
        Whitespace@316..317 " "
        TYPE_TAPP@317..322
          Ident@317..322 "Point"
      Comma@322..323 ","
      Whitespace@323..328 "\n    "
      STRUCT_FIELD@328..340
        Ident@328..333 "color"
        Colon@333..334 ":"
        Whitespace@334..335 " "
        TYPE_TAPP@335..340
          Ident@335..340 "Color"
      Comma@340..341 ","
      Whitespace@341..342 "\n"
      RBrace@342..343 "}"
      Whitespace@343..345 "\n\n"
  IMPL@345..458
    ImplKeyword@345..349 "impl"
    Whitespace@349..350 " "
    TYPE_TAPP@350..355
      Ident@350..354 "Line"
      Whitespace@354..355 " "
    LBrace@355..356 "{"
    Whitespace@356..361 "\n    "
    FN@361..455
      FnKeyword@361..363 "fn"
      Whitespace@363..364 " "
      Ident@364..367 "new"
      PARAM_LIST@367..406
        LParen@367..368 "("
        PARAM@368..381
          Ident@368..372 "from"
          Colon@372..373 ":"
          Whitespace@373..374 " "
          TYPE_TAPP@374..379
            Ident@374..379 "Point"
          Comma@379..380 ","
          Whitespace@380..381 " "
        PARAM@381..392
          Ident@381..383 "to"
          Colon@383..384 ":"
          Whitespace@384..385 " "
          TYPE_TAPP@385..390
            Ident@385..390 "Point"
          Comma@390..391 ","
          Whitespace@391..392 " "
        PARAM@392..404
          Ident@392..397 "color"
          Colon@397..398 ":"
          Whitespace@398..399 " "
          TYPE_TAPP@399..404
            Ident@399..404 "Color"
        RParen@404..405 ")"
        Whitespace@405..406 " "
      Arrow@406..408 "->"
      Whitespace@408..409 " "
      TYPE_TAPP@409..414
        Ident@409..413 "Line"
        Whitespace@413..414 " "
      BLOCK@414..455
        LBrace@414..415 "{"
        Whitespace@415..424 "\n        "
        EXPR_STRUCT_LITERAL@424..453
          Ident@424..428 "Line"
          Whitespace@428..429 " "
          STRUCT_LITERAL_FIELD_LIST@429..453
            LBrace@429..430 "{"
            Whitespace@430..431 " "
            STRUCT_LITERAL_FIELD@431..435
              Ident@431..435 "from"
            Comma@435..436 ","
            Whitespace@436..437 " "
            STRUCT_LITERAL_FIELD@437..439
              Ident@437..439 "to"
            Comma@439..440 ","
            Whitespace@440..441 " "
            STRUCT_LITERAL_FIELD@441..447
              Ident@441..446 "color"
              Whitespace@446..447 " "
            RBrace@447..448 "}"
            Whitespace@448..453 "\n    "
        RBrace@453..454 "}"
        Whitespace@454..455 "\n"
    RBrace@455..456 "}"
    Whitespace@456..458 "\n\n"
  ENUM@458..532
    ATTRIBUTE_LIST@458..478
      ATTRIBUTE@458..478
        Pound@458..459 "#"
        LBracket@459..460 "["
        Ident@460..466 "derive"
        LParen@466..467 "("
        Ident@467..475 "ToString"
        RParen@475..476 ")"
        RBracket@476..477 "]"
        Whitespace@477..478 "\n"
    EnumKeyword@478..482 "enum"
    Whitespace@482..483 " "
    Ident@483..491 "LineList"
    Whitespace@491..492 " "
    LBrace@492..493 "{"
    Whitespace@493..498 "\n    "
    VARIANT_LIST@498..532
      VARIANT@498..501
        Ident@498..501 "Nil"
      Comma@501..502 ","
      Whitespace@502..507 "\n    "
      VARIANT@507..527
        Ident@507..511 "Cons"
        TYPE_LIST@511..527
          LParen@511..512 "("
          TYPE_TAPP@512..516
            Ident@512..516 "Line"
          Comma@516..517 ","
          Whitespace@517..518 " "
          TYPE_TAPP@518..526
            Ident@518..526 "LineList"
          RParen@526..527 ")"
      Comma@527..528 ","
      Whitespace@528..529 "\n"
      RBrace@529..530 "}"
      Whitespace@530..532 "\n\n"
  FN@532..781
    FnKeyword@532..534 "fn"
    Whitespace@534..535 " "
    Ident@535..539 "main"
    PARAM_LIST@539..542
      LParen@539..540 "("
      RParen@540..541 ")"
      Whitespace@541..542 " "
    BLOCK@542..781
      LBrace@542..543 "{"
      Whitespace@543..548 "\n    "
      STMT_LET@548..595
        LetKeyword@548..551 "let"
        Whitespace@551..552 " "
        PATTERN_VARIABLE@552..557
          Ident@552..556 "from"
          Whitespace@556..557 " "
        Eq@557..558 "="
        Whitespace@558..559 " "
        EXPR_CALL@559..589
          EXPR_IDENT@559..569
            PATH@559..569
              Ident@559..564 "Point"
              ColonColon@564..566 "::"
              Ident@566..569 "new"
          ARG_LIST@569..589
            LParen@569..570 "("
            ARG@570..574
              EXPR_INT@570..572
                Int@570..572 "10"
              Comma@572..573 ","
              Whitespace@573..574 " "
            ARG@574..578
              EXPR_INT@574..576
                Int@574..576 "20"
              Comma@576..577 ","
              Whitespace@577..578 " "
            ARG@578..588
              EXPR_IDENT@578..588
                PATH@578..588
                  Ident@578..583 "Color"
                  ColonColon@583..585 "::"
                  Ident@585..588 "Red"
            RParen@588..589 ")"
        Semi@589..590 ";"
        Whitespace@590..595 "\n    "
      STMT_LET@595..642
        LetKeyword@595..598 "let"
        Whitespace@598..599 " "
        PATTERN_VARIABLE@599..602
          Ident@599..601 "to"
          Whitespace@601..602 " "
        Eq@602..603 "="
        Whitespace@603..604 " "
        EXPR_CALL@604..636
          EXPR_IDENT@604..614
            PATH@604..614
              Ident@604..609 "Point"
              ColonColon@609..611 "::"
              Ident@611..614 "new"
          ARG_LIST@614..636
            LParen@614..615 "("
            ARG@615..619
              EXPR_INT@615..617
                Int@615..617 "30"
              Comma@617..618 ","
              Whitespace@618..619 " "
            ARG@619..623
              EXPR_INT@619..621
                Int@619..621 "40"
              Comma@621..622 ","
              Whitespace@622..623 " "
            ARG@623..635
              EXPR_IDENT@623..635
                PATH@623..635
                  Ident@623..628 "Color"
                  ColonColon@628..630 "::"
                  Ident@630..635 "Green"
            RParen@635..636 ")"
        Semi@636..637 ";"
        Whitespace@637..642 "\n    "
      STMT_LET@642..691
        LetKeyword@642..645 "let"
        Whitespace@645..646 " "
        PATTERN_VARIABLE@646..651
          Ident@646..650 "line"
          Whitespace@650..651 " "
        Eq@651..652 "="
        Whitespace@652..653 " "
        EXPR_CALL@653..685
          EXPR_IDENT@653..662
            PATH@653..662
              Ident@653..657 "Line"
              ColonColon@657..659 "::"
              Ident@659..662 "new"
          ARG_LIST@662..685
            LParen@662..663 "("
            ARG@663..669
              EXPR_IDENT@663..667
                Ident@663..667 "from"
              Comma@667..668 ","
              Whitespace@668..669 " "
            ARG@669..673
              EXPR_IDENT@669..671
                Ident@669..671 "to"
              Comma@671..672 ","
              Whitespace@672..673 " "
            ARG@673..684
              EXPR_IDENT@673..684
                PATH@673..684
                  Ident@673..678 "Color"
                  ColonColon@678..680 "::"
                  Ident@680..684 "Blue"
            RParen@684..685 ")"
        Semi@685..686 ";"
        Whitespace@686..691 "\n    "
      STMT_LET@691..744
        LetKeyword@691..694 "let"
        Whitespace@694..695 " "
        PATTERN_VARIABLE@695..701
          Ident@695..700 "lines"
          Whitespace@700..701 " "
        Eq@701..702 "="
        Whitespace@702..703 " "
        EXPR_CALL@703..738
          EXPR_IDENT@703..717
            PATH@703..717
              Ident@703..711 "LineList"
              ColonColon@711..713 "::"
              Ident@713..717 "Cons"
          ARG_LIST@717..738
            LParen@717..718 "("
            ARG@718..724
              EXPR_IDENT@718..722
                Ident@718..722 "line"
              Comma@722..723 ","
              Whitespace@723..724 " "
            ARG@724..737
              EXPR_IDENT@724..737
                PATH@724..737
                  Ident@724..732 "LineList"
                  ColonColon@732..734 "::"
                  Ident@734..737 "Nil"
            RParen@737..738 ")"
        Semi@738..739 ";"
        Whitespace@739..744 "\n    "
      STMT_EXPR@744..779
        EXPR_CALL@744..777
          EXPR_IDENT@744..758
            Ident@744..758 "string_println"
          ARG_LIST@758..777
            LParen@758..759 "("
            ARG@759..776
              EXPR_CALL@759..776
                EXPR_BINARY@759..774
                  EXPR_IDENT@759..764
                    Ident@759..764 "lines"
                  Dot@764..765 "."
                  EXPR_IDENT@765..774
                    Ident@765..774 "to_string"
                ARG_LIST@774..776
                  LParen@774..775 "("
                  RParen@775..776 ")"
            RParen@776..777 ")"
        Semi@777..778 ";"
        Whitespace@778..779 "\n"
      RBrace@779..780 "}"
      Whitespace@780..781 "\n"