FILE@0..267
  ENUM@0..46
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..46
      VARIANT@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  FN@46..267
    FnKeyword@46..48 "fn"
    Whitespace@48..49 " "
    Lident@49..53 "main"
    PARAM_LIST@53..56
      LParen@53..54 "("
      RParen@54..55 ")"
      Whitespace@55..56 " "
    Arrow@56..58 "->"
    Whitespace@58..59 " "
    TYPE_BOOL@59..64
      BoolKeyword@59..63 "bool"
      Whitespace@63..64 " "
    BLOCK@64..267
      LBrace@64..65 "{"
      Whitespace@65..70 "\n    "
      STMT_LET@70..96
        LetKeyword@70..73 "let"
        Whitespace@73..74 " "
        PATTERN_VARIABLE@74..76
          Lident@74..75 "a"
          Whitespace@75..76 " "
        Eq@76..77 "="
        Whitespace@77..78 " "
        EXPR_TUPLE@78..90
          LParen@78..79 "("
          EXPR_UIDENT@79..83
            Uident@79..83 "Blue"
          Comma@83..84 ","
          Whitespace@84..85 " "
          EXPR_UIDENT@85..89
            Uident@85..89 "Blue"
          RParen@89..90 ")"
        Semi@90..91 ";"
        Whitespace@91..96 "\n    "
      EXPR_MATCH@96..265
        MatchKeyword@96..101 "match"
        Whitespace@101..102 " "
        EXPR_LIDENT@102..104
          Lident@102..103 "a"
          Whitespace@103..104 " "
        MATCH_ARM_LIST@104..265
          LBrace@104..105 "{"
          Whitespace@105..114 "\n        "
          MATCH_ARM@114..134
            PATTERN_TUPLE@114..127
              LParen@114..115 "("
              PATTERN_CONSTR@115..118
                Uident@115..118 "Red"
              Comma@118..119 ","
              Whitespace@119..120 " "
              PATTERN_CONSTR@120..125
                Uident@120..125 "Green"
              RParen@125..126 ")"
              Whitespace@126..127 " "
            FatArrow@127..129 "=>"
            Whitespace@129..130 " "
            EXPR_BOOL@130..134
              TrueKeyword@130..134 "true"
          Comma@134..135 ","
          Whitespace@135..144 "\n        "
          MATCH_ARM@144..162
            PATTERN_TUPLE@144..155
              LParen@144..145 "("
              PATTERN_CONSTR@145..148
                Uident@145..148 "Red"
              Comma@148..149 ","
              Whitespace@149..150 " "
              PATTERN_CONSTR@150..153
                Uident@150..153 "Red"
              RParen@153..154 ")"
              Whitespace@154..155 " "
            FatArrow@155..157 "=>"
            Whitespace@157..158 " "
            EXPR_BOOL@158..162
              TrueKeyword@158..162 "true"
          Comma@162..163 ","
          Whitespace@163..172 "\n        "
          MATCH_ARM@172..237
            PATTERN_TUPLE@172..185
              LParen@172..173 "("
              PATTERN_CONSTR@173..177
                Uident@173..177 "Blue"
              Comma@177..178 ","
              Whitespace@178..179 " "
              PATTERN_CONSTR@179..183
                Uident@179..183 "Blue"
              RParen@183..184 ")"
              Whitespace@184..185 " "
            FatArrow@185..187 "=>"
            Whitespace@187..188 " "
            EXPR_LET@188..237
              LetKeyword@188..191 "let"
              Whitespace@191..192 " "
              PATTERN_WILDCARD@192..194
                WildcardKeyword@192..193 "_"
                Whitespace@193..194 " "
              Eq@194..195 "="
              Whitespace@195..196 " "
              EXPR_LET_VALUE@196..230
                EXPR_CALL@196..230
                  EXPR_LIDENT@196..208
                    Lident@196..208 "string_print"
                  ARG_LIST@208..230
                    LParen@208..209 "("
                    ARG@209..229
                      EXPR_CALL@209..229
                        EXPR_LIDENT@209..223
                          Lident@209..223 "bool_to_string"
                        ARG_LIST@223..229
                          LParen@223..224 "("
                          ARG@224..228
                            EXPR_BOOL@224..228
                              TrueKeyword@224..228 "true"
                          RParen@228..229 ")"
                    RParen@229..230 ")"
              Semi@230..231 ";"
              Whitespace@231..232 " "
              EXPR_LET_BODY@232..237
                EXPR_BOOL@232..237
                  FalseKeyword@232..237 "false"
          Comma@237..238 ","
          Whitespace@238..247 "\n        "
          MATCH_ARM@247..257
            PATTERN_WILDCARD@247..249
              WildcardKeyword@247..248 "_"
              Whitespace@248..249 " "
            FatArrow@249..251 "=>"
            Whitespace@251..252 " "
            EXPR_BOOL@252..257
              FalseKeyword@252..257 "false"
          Comma@257..258 ","
          Whitespace@258..263 "\n    "
          RBrace@263..264 "}"
          Whitespace@264..265 "\n"
      RBrace@265..266 "}"
      Whitespace@266..267 "\n"