FILE@0..271
  ENUM@0..46
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..46
      VARIANT@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  FN@46..271
    FnKeyword@46..48 "fn"
    Whitespace@48..49 " "
    Lident@49..53 "main"
    PARAM_LIST@53..56
      LParen@53..54 "("
      RParen@54..55 ")"
      Whitespace@55..56 " "
    Arrow@56..58 "->"
    Whitespace@58..59 " "
    TYPE_BOOL@59..64
      BoolKeyword@59..63 "bool"
      Whitespace@63..64 " "
    BLOCK@64..271
      LBrace@64..65 "{"
      Whitespace@65..70 "\n    "
      EXPR_LET@70..269
        LetKeyword@70..73 "let"
        Whitespace@73..74 " "
        PATTERN_VARIABLE@74..76
          Lident@74..75 "a"
          Whitespace@75..76 " "
        Eq@76..77 "="
        Whitespace@77..78 " "
        EXPR_LET_VALUE@78..91
          EXPR_TUPLE@78..91
            LParen@78..79 "("
            EXPR_UIDENT@79..83
              Uident@79..83 "Blue"
            Comma@83..84 ","
            Whitespace@84..85 " "
            EXPR_UIDENT@85..89
              Uident@85..89 "Blue"
            RParen@89..90 ")"
            Whitespace@90..91 " "
        InKeyword@91..93 "in"
        Whitespace@93..98 "\n    "
        EXPR_LET_BODY@98..269
          EXPR_MATCH@98..269
            MatchKeyword@98..103 "match"
            Whitespace@103..104 " "
            EXPR_LIDENT@104..106
              Lident@104..105 "a"
              Whitespace@105..106 " "
            MATCH_ARM_LIST@106..269
              LBrace@106..107 "{"
              Whitespace@107..116 "\n        "
              MATCH_ARM@116..136
                PATTERN_TUPLE@116..129
                  LParen@116..117 "("
                  PATTERN_CONSTR@117..120
                    Uident@117..120 "Red"
                  Comma@120..121 ","
                  Whitespace@121..122 " "
                  PATTERN_CONSTR@122..127
                    Uident@122..127 "Green"
                  RParen@127..128 ")"
                  Whitespace@128..129 " "
                FatArrow@129..131 "=>"
                Whitespace@131..132 " "
                EXPR_BOOL@132..136
                  TrueKeyword@132..136 "true"
              Comma@136..137 ","
              Whitespace@137..146 "\n        "
              MATCH_ARM@146..164
                PATTERN_TUPLE@146..157
                  LParen@146..147 "("
                  PATTERN_CONSTR@147..150
                    Uident@147..150 "Red"
                  Comma@150..151 ","
                  Whitespace@151..152 " "
                  PATTERN_CONSTR@152..155
                    Uident@152..155 "Red"
                  RParen@155..156 ")"
                  Whitespace@156..157 " "
                FatArrow@157..159 "=>"
                Whitespace@159..160 " "
                EXPR_BOOL@160..164
                  TrueKeyword@160..164 "true"
              Comma@164..165 ","
              Whitespace@165..174 "\n        "
              MATCH_ARM@174..241
                PATTERN_TUPLE@174..187
                  LParen@174..175 "("
                  PATTERN_CONSTR@175..179
                    Uident@175..179 "Blue"
                  Comma@179..180 ","
                  Whitespace@180..181 " "
                  PATTERN_CONSTR@181..185
                    Uident@181..185 "Blue"
                  RParen@185..186 ")"
                  Whitespace@186..187 " "
                FatArrow@187..189 "=>"
                Whitespace@189..190 " "
                EXPR_LET@190..241
                  LetKeyword@190..193 "let"
                  Whitespace@193..194 " "
                  PATTERN_WILDCARD@194..196
                    WildcardKeyword@194..195 "_"
                    Whitespace@195..196 " "
                  Eq@196..197 "="
                  Whitespace@197..198 " "
                  EXPR_LET_VALUE@198..233
                    EXPR_CALL@198..233
                      EXPR_LIDENT@198..210
                        Lident@198..210 "string_print"
                      ARG_LIST@210..233
                        LParen@210..211 "("
                        ARG@211..231
                          EXPR_CALL@211..231
                            EXPR_LIDENT@211..225
                              Lident@211..225 "bool_to_string"
                            ARG_LIST@225..231
                              LParen@225..226 "("
                              ARG@226..230
                                EXPR_BOOL@226..230
                                  TrueKeyword@226..230 "true"
                              RParen@230..231 ")"
                        RParen@231..232 ")"
                        Whitespace@232..233 " "
                  InKeyword@233..235 "in"
                  Whitespace@235..236 " "
                  EXPR_LET_BODY@236..241
                    EXPR_BOOL@236..241
                      FalseKeyword@236..241 "false"
              Comma@241..242 ","
              Whitespace@242..251 "\n        "
              MATCH_ARM@251..261
                PATTERN_WILDCARD@251..253
                  WildcardKeyword@251..252 "_"
                  Whitespace@252..253 " "
                FatArrow@253..255 "=>"
                Whitespace@255..256 " "
                EXPR_BOOL@256..261
                  FalseKeyword@256..261 "false"
              Comma@261..262 ","
              Whitespace@262..267 "\n    "
              RBrace@267..268 "}"
              Whitespace@268..269 "\n"
      RBrace@269..270 "}"
      Whitespace@270..271 "\n"