FILE@0..324
  ENUM@0..46
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..46
      VARIANT@17..20
        Ident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Ident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Ident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  FN@46..324
    FnKeyword@46..48 "fn"
    Whitespace@48..49 " "
    Ident@49..53 "main"
    PARAM_LIST@53..56
      LParen@53..54 "("
      RParen@54..55 ")"
      Whitespace@55..56 " "
    BLOCK@56..324
      LBrace@56..57 "{"
      Whitespace@57..62 "\n    "
      STMT_LET@62..87
        LetKeyword@62..65 "let"
        Whitespace@65..66 " "
        PATTERN_VARIABLE@66..68
          Ident@66..67 "a"
          Whitespace@67..68 " "
        Eq@68..69 "="
        Whitespace@69..70 " "
        EXPR_TUPLE@70..81
          LParen@70..71 "("
          EXPR_IDENT@71..75
            Ident@71..75 "Blue"
          Comma@75..76 ","
          Whitespace@76..77 " "
          EXPR_IDENT@77..80
            Ident@77..80 "Red"
          RParen@80..81 ")"
        Semi@81..82 ";"
        Whitespace@82..87 "\n    "
      EXPR_MATCH@87..322
        MatchKeyword@87..92 "match"
        Whitespace@92..93 " "
        EXPR_IDENT@93..95
          Ident@93..94 "a"
          Whitespace@94..95 " "
        MATCH_ARM_LIST@95..322
          LBrace@95..96 "{"
          Whitespace@96..105 "\n        "
          MATCH_ARM@105..153
            PATTERN_TUPLE@105..118
              LParen@105..106 "("
              PATTERN_VARIABLE@106..109
                Ident@106..109 "Red"
              Comma@109..110 ","
              Whitespace@110..111 " "
              PATTERN_VARIABLE@111..116
                Ident@111..116 "Green"
              RParen@116..117 ")"
              Whitespace@117..118 " "
            FatArrow@118..120 "=>"
            Whitespace@120..121 " "
            EXPR_CALL@121..153
              EXPR_IDENT@121..133
                Ident@121..133 "string_print"
              ARG_LIST@133..153
                LParen@133..134 "("
                ARG@134..152
                  EXPR_CALL@134..152
                    EXPR_IDENT@134..149
                      Ident@134..149 "int32_to_string"
                    ARG_LIST@149..152
                      LParen@149..150 "("
                      ARG@150..151
                        EXPR_INT@150..151
                          Int@150..151 "0"
                      RParen@151..152 ")"
                RParen@152..153 ")"
          Comma@153..154 ","
          Whitespace@154..163 "\n        "
          MATCH_ARM@163..209
            PATTERN_TUPLE@163..174
              LParen@163..164 "("
              PATTERN_VARIABLE@164..167
                Ident@164..167 "Red"
              Comma@167..168 ","
              Whitespace@168..169 " "
              PATTERN_VARIABLE@169..172
                Ident@169..172 "Red"
              RParen@172..173 ")"
              Whitespace@173..174 " "
            FatArrow@174..176 "=>"
            Whitespace@176..177 " "
            EXPR_CALL@177..209
              EXPR_IDENT@177..189
                Ident@177..189 "string_print"
              ARG_LIST@189..209
                LParen@189..190 "("
                ARG@190..208
                  EXPR_CALL@190..208
                    EXPR_IDENT@190..205
                      Ident@190..205 "int32_to_string"
                    ARG_LIST@205..208
                      LParen@205..206 "("
                      ARG@206..207
                        EXPR_INT@206..207
                          Int@206..207 "1"
                      RParen@207..208 ")"
                RParen@208..209 ")"
          Comma@209..210 ","
          Whitespace@210..219 "\n        "
          MATCH_ARM@219..267
            PATTERN_TUPLE@219..232
              LParen@219..220 "("
              PATTERN_VARIABLE@220..224
                Ident@220..224 "Blue"
              Comma@224..225 ","
              Whitespace@225..226 " "
              PATTERN_VARIABLE@226..230
                Ident@226..230 "Blue"
              RParen@230..231 ")"
              Whitespace@231..232 " "
            FatArrow@232..234 "=>"
            Whitespace@234..235 " "
            EXPR_CALL@235..267
              EXPR_IDENT@235..247
                Ident@235..247 "string_print"
              ARG_LIST@247..267
                LParen@247..248 "("
                ARG@248..266
                  EXPR_CALL@248..266
                    EXPR_IDENT@248..263
                      Ident@248..263 "int32_to_string"
                    ARG_LIST@263..266
                      LParen@263..264 "("
                      ARG@264..265
                        EXPR_INT@264..265
                          Int@264..265 "2"
                      RParen@265..266 ")"
                RParen@266..267 ")"
          Comma@267..268 ","
          Whitespace@268..277 "\n        "
          MATCH_ARM@277..314
            PATTERN_WILDCARD@277..279
              WildcardKeyword@277..278 "_"
              Whitespace@278..279 " "
            FatArrow@279..281 "=>"
            Whitespace@281..282 " "
            EXPR_CALL@282..314
              EXPR_IDENT@282..294
                Ident@282..294 "string_print"
              ARG_LIST@294..314
                LParen@294..295 "("
                ARG@295..313
                  EXPR_CALL@295..313
                    EXPR_IDENT@295..310
                      Ident@295..310 "int32_to_string"
                    ARG_LIST@310..313
                      LParen@310..311 "("
                      ARG@311..312
                        EXPR_INT@311..312
                          Int@311..312 "3"
                      RParen@312..313 ")"
                RParen@313..314 ")"
          Comma@314..315 ","
          Whitespace@315..320 "\n    "
          RBrace@320..321 "}"
          Whitespace@321..322 "\n"
      RBrace@322..323 "}"
      Whitespace@323..324 "\n"