FILE@0..318
  ENUM@0..46
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..10 "Color"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..46
      VARIANT@17..20
        Uident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..31
        Uident@26..31 "Green"
      Comma@31..32 ","
      Whitespace@32..37 "\n    "
      VARIANT@37..41
        Uident@37..41 "Blue"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  FN@46..318
    FnKeyword@46..48 "fn"
    Whitespace@48..49 " "
    Lident@49..53 "main"
    PARAM_LIST@53..56
      LParen@53..54 "("
      RParen@54..55 ")"
      Whitespace@55..56 " "
    BLOCK@56..318
      LBrace@56..57 "{"
      Whitespace@57..62 "\n    "
      EXPR_LET@62..316
        LetKeyword@62..65 "let"
        Whitespace@65..66 " "
        PATTERN_VARIABLE@66..68
          Lident@66..67 "a"
          Whitespace@67..68 " "
        Eq@68..69 "="
        Whitespace@69..70 " "
        EXPR_LET_VALUE@70..82
          EXPR_TUPLE@70..82
            LParen@70..71 "("
            EXPR_UIDENT@71..75
              Uident@71..75 "Blue"
            Comma@75..76 ","
            Whitespace@76..77 " "
            EXPR_UIDENT@77..80
              Uident@77..80 "Red"
            RParen@80..81 ")"
            Whitespace@81..82 " "
        InKeyword@82..84 "in"
        Whitespace@84..89 "\n    "
        EXPR_LET_BODY@89..316
          EXPR_MATCH@89..316
            MatchKeyword@89..94 "match"
            Whitespace@94..95 " "
            EXPR_LIDENT@95..97
              Lident@95..96 "a"
              Whitespace@96..97 " "
            MATCH_ARM_LIST@97..316
              LBrace@97..98 "{"
              Whitespace@98..107 "\n        "
              MATCH_ARM@107..153
                PATTERN_TUPLE@107..120
                  LParen@107..108 "("
                  PATTERN_CONSTR@108..111
                    Uident@108..111 "Red"
                  Comma@111..112 ","
                  Whitespace@112..113 " "
                  PATTERN_CONSTR@113..118
                    Uident@113..118 "Green"
                  RParen@118..119 ")"
                  Whitespace@119..120 " "
                FatArrow@120..122 "=>"
                Whitespace@122..123 " "
                EXPR_CALL@123..153
                  EXPR_LIDENT@123..135
                    Lident@123..135 "string_print"
                  ARG_LIST@135..153
                    LParen@135..136 "("
                    ARG@136..152
                      EXPR_CALL@136..152
                        EXPR_LIDENT@136..149
                          Lident@136..149 "int_to_string"
                        ARG_LIST@149..152
                          LParen@149..150 "("
                          ARG@150..151
                            EXPR_INT@150..151
                              Int@150..151 "0"
                          RParen@151..152 ")"
                    RParen@152..153 ")"
              Comma@153..154 ","
              Whitespace@154..163 "\n        "
              MATCH_ARM@163..207
                PATTERN_TUPLE@163..174
                  LParen@163..164 "("
                  PATTERN_CONSTR@164..167
                    Uident@164..167 "Red"
                  Comma@167..168 ","
                  Whitespace@168..169 " "
                  PATTERN_CONSTR@169..172
                    Uident@169..172 "Red"
                  RParen@172..173 ")"
                  Whitespace@173..174 " "
                FatArrow@174..176 "=>"
                Whitespace@176..177 " "
                EXPR_CALL@177..207
                  EXPR_LIDENT@177..189
                    Lident@177..189 "string_print"
                  ARG_LIST@189..207
                    LParen@189..190 "("
                    ARG@190..206
                      EXPR_CALL@190..206
                        EXPR_LIDENT@190..203
                          Lident@190..203 "int_to_string"
                        ARG_LIST@203..206
                          LParen@203..204 "("
                          ARG@204..205
                            EXPR_INT@204..205
                              Int@204..205 "1"
                          RParen@205..206 ")"
                    RParen@206..207 ")"
              Comma@207..208 ","
              Whitespace@208..217 "\n        "
              MATCH_ARM@217..263
                PATTERN_TUPLE@217..230
                  LParen@217..218 "("
                  PATTERN_CONSTR@218..222
                    Uident@218..222 "Blue"
                  Comma@222..223 ","
                  Whitespace@223..224 " "
                  PATTERN_CONSTR@224..228
                    Uident@224..228 "Blue"
                  RParen@228..229 ")"
                  Whitespace@229..230 " "
                FatArrow@230..232 "=>"
                Whitespace@232..233 " "
                EXPR_CALL@233..263
                  EXPR_LIDENT@233..245
                    Lident@233..245 "string_print"
                  ARG_LIST@245..263
                    LParen@245..246 "("
                    ARG@246..262
                      EXPR_CALL@246..262
                        EXPR_LIDENT@246..259
                          Lident@246..259 "int_to_string"
                        ARG_LIST@259..262
                          LParen@259..260 "("
                          ARG@260..261
                            EXPR_INT@260..261
                              Int@260..261 "2"
                          RParen@261..262 ")"
                    RParen@262..263 ")"
              Comma@263..264 ","
              Whitespace@264..273 "\n        "
              MATCH_ARM@273..308
                PATTERN_WILDCARD@273..275
                  WildcardKeyword@273..274 "_"
                  Whitespace@274..275 " "
                FatArrow@275..277 "=>"
                Whitespace@277..278 " "
                EXPR_CALL@278..308
                  EXPR_LIDENT@278..290
                    Lident@278..290 "string_print"
                  ARG_LIST@290..308
                    LParen@290..291 "("
                    ARG@291..307
                      EXPR_CALL@291..307
                        EXPR_LIDENT@291..304
                          Lident@291..304 "int_to_string"
                        ARG_LIST@304..307
                          LParen@304..305 "("
                          ARG@305..306
                            EXPR_INT@305..306
                              Int@305..306 "3"
                          RParen@306..307 ")"
                    RParen@307..308 ")"
              Comma@308..309 ","
              Whitespace@309..314 "\n    "
              RBrace@314..315 "}"
              Whitespace@315..316 "\n"
      RBrace@316..317 "}"
      Whitespace@317..318 "\n"