FILE@0..264
  FN@0..264
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..264
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      EXPR_LET@16..262
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Lident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_LET_VALUE@24..38
          EXPR_TUPLE@24..38
            LParen@24..25 "("
            EXPR_BOOL@25..29
              TrueKeyword@25..29 "true"
            Comma@29..30 ","
            Whitespace@30..31 " "
            EXPR_BOOL@31..36
              FalseKeyword@31..36 "false"
            RParen@36..37 ")"
            Whitespace@37..38 " "
        InKeyword@38..40 "in"
        Whitespace@40..45 "\n    "
        EXPR_LET_BODY@45..262
          EXPR_LET@45..262
            LetKeyword@45..48 "let"
            Whitespace@48..49 " "
            PATTERN_WILDCARD@49..51
              WildcardKeyword@49..50 "_"
              Whitespace@50..51 " "
            Eq@51..52 "="
            Whitespace@52..53 " "
            EXPR_LET_VALUE@53..140
              EXPR_MATCH@53..140
                MatchKeyword@53..58 "match"
                Whitespace@58..59 " "
                EXPR_LIDENT@59..61
                  Lident@59..60 "a"
                  Whitespace@60..61 " "
                MATCH_ARM_LIST@61..140
                  LBrace@61..62 "{"
                  Whitespace@62..71 "\n        "
                  MATCH_ARM@71..115
                    PATTERN_TUPLE@71..81
                      LParen@71..72 "("
                      PATTERN_BOOL@72..76
                        TrueKeyword@72..76 "true"
                      Comma@76..77 ","
                      Whitespace@77..78 " "
                      PATTERN_VARIABLE@78..79
                        Lident@78..79 "b"
                      RParen@79..80 ")"
                      Whitespace@80..81 " "
                    FatArrow@81..83 "=>"
                    Whitespace@83..84 " "
                    EXPR_CALL@84..115
                      EXPR_LIDENT@84..96
                        Lident@84..96 "string_print"
                      ARG_LIST@96..115
                        LParen@96..97 "("
                        ARG@97..114
                          EXPR_CALL@97..114
                            EXPR_LIDENT@97..111
                              Lident@97..111 "bool_to_string"
                            ARG_LIST@111..114
                              LParen@111..112 "("
                              ARG@112..113
                                EXPR_LIDENT@112..113
                                  Lident@112..113 "b"
                              RParen@113..114 ")"
                        RParen@114..115 ")"
                  Comma@115..116 ","
                  Whitespace@116..125 "\n        "
                  MATCH_ARM@125..132
                    PATTERN_WILDCARD@125..127
                      WildcardKeyword@125..126 "_"
                      Whitespace@126..127 " "
                    FatArrow@127..129 "=>"
                    Whitespace@129..130 " "
                    EXPR_UNIT@130..132
                      LParen@130..131 "("
                      RParen@131..132 ")"
                  Comma@132..133 ","
                  Whitespace@133..138 "\n    "
                  RBrace@138..139 "}"
                  Whitespace@139..140 " "
            InKeyword@140..142 "in"
            Whitespace@142..147 "\n    "
            EXPR_LET_BODY@147..262
              EXPR_LET@147..262
                LetKeyword@147..150 "let"
                Whitespace@150..151 " "
                PATTERN_VARIABLE@151..153
                  Lident@151..152 "c"
                  Whitespace@152..153 " "
                Eq@153..154 "="
                Whitespace@154..155 " "
                EXPR_LET_VALUE@155..168
                  EXPR_TUPLE@155..168
                    LParen@155..156 "("
                    EXPR_BOOL@156..160
                      TrueKeyword@156..160 "true"
                    Comma@160..161 ","
                    Whitespace@161..162 " "
                    EXPR_BOOL@162..166
                      TrueKeyword@162..166 "true"
                    RParen@166..167 ")"
                    Whitespace@167..168 " "
                InKeyword@168..170 "in"
                Whitespace@170..175 "\n    "
                EXPR_LET_BODY@175..262
                  EXPR_MATCH@175..262
                    MatchKeyword@175..180 "match"
                    Whitespace@180..181 " "
                    EXPR_LIDENT@181..183
                      Lident@181..182 "c"
                      Whitespace@182..183 " "
                    MATCH_ARM_LIST@183..262
                      LBrace@183..184 "{"
                      Whitespace@184..193 "\n        "
                      MATCH_ARM@193..237
                        PATTERN_TUPLE@193..203
                          LParen@193..194 "("
                          PATTERN_BOOL@194..198
                            TrueKeyword@194..198 "true"
                          Comma@198..199 ","
                          Whitespace@199..200 " "
                          PATTERN_VARIABLE@200..201
                            Lident@200..201 "d"
                          RParen@201..202 ")"
                          Whitespace@202..203 " "
                        FatArrow@203..205 "=>"
                        Whitespace@205..206 " "
                        EXPR_CALL@206..237
                          EXPR_LIDENT@206..218
                            Lident@206..218 "string_print"
                          ARG_LIST@218..237
                            LParen@218..219 "("
                            ARG@219..236
                              EXPR_CALL@219..236
                                EXPR_LIDENT@219..233
                                  Lident@219..233 "bool_to_string"
                                ARG_LIST@233..236
                                  LParen@233..234 "("
                                  ARG@234..235
                                    EXPR_LIDENT@234..235
                                      Lident@234..235 "d"
                                  RParen@235..236 ")"
                            RParen@236..237 ")"
                      Comma@237..238 ","
                      Whitespace@238..247 "\n        "
                      MATCH_ARM@247..254
                        PATTERN_WILDCARD@247..249
                          WildcardKeyword@247..248 "_"
                          Whitespace@248..249 " "
                        FatArrow@249..251 "=>"
                        Whitespace@251..252 " "
                        EXPR_UNIT@252..254
                          LParen@252..253 "("
                          RParen@253..254 ")"
                      Comma@254..255 ","
                      Whitespace@255..260 "\n    "
                      RBrace@260..261 "}"
                      Whitespace@261..262 "\n"
      RBrace@262..263 "}"
      Whitespace@263..264 "\n"