FILE@0..553
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..9 "Expr"
    Whitespace@9..10 " "
    LBrace@10..11 "{"
    Whitespace@11..16 "\n    "
    VARIANT_LIST@16..83
      VARIANT@16..20
        Ident@16..20 "Zero"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..36
        Ident@26..30 "Succ"
        TYPE_LIST@30..36
          LParen@30..31 "("
          TYPE_TAPP@31..35
            Ident@31..35 "Expr"
          RParen@35..36 ")"
      Comma@36..37 ","
      Whitespace@37..42 "\n    "
      VARIANT@42..57
        Ident@42..45 "Add"
        TYPE_LIST@45..57
          LParen@45..46 "("
          TYPE_TAPP@46..50
            Ident@46..50 "Expr"
          Comma@50..51 ","
          Whitespace@51..52 " "
          TYPE_TAPP@52..56
            Ident@52..56 "Expr"
          RParen@56..57 ")"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      VARIANT@63..78
        Ident@63..66 "Mul"
        TYPE_LIST@66..78
          LParen@66..67 "("
          TYPE_TAPP@67..71
            Ident@67..71 "Expr"
          Comma@71..72 ","
          Whitespace@72..73 " "
          TYPE_TAPP@73..77
            Ident@73..77 "Expr"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..553
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..90 "main"
    PARAM_LIST@90..93
      LParen@90..91 "("
      RParen@91..92 ")"
      Whitespace@92..93 " "
    BLOCK@93..553
      LBrace@93..94 "{"
      Whitespace@94..99 "\n    "
      STMT_LET@99..137
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_VARIABLE@103..105
          Ident@103..104 "a"
          Whitespace@104..105 " "
        Eq@105..106 "="
        Whitespace@106..107 " "
        EXPR_CALL@107..131
          EXPR_IDENT@107..110
            Ident@107..110 "Mul"
          ARG_LIST@110..131
            LParen@110..111 "("
            ARG@111..126
              EXPR_CALL@111..125
                EXPR_IDENT@111..114
                  Ident@111..114 "Add"
                ARG_LIST@114..125
                  LParen@114..115 "("
                  ARG@115..120
                    EXPR_IDENT@115..119
                      Ident@115..119 "Zero"
                    Comma@119..120 ","
                  ARG@120..124
                    EXPR_IDENT@120..124
                      Ident@120..124 "Zero"
                  RParen@124..125 ")"
              Comma@125..126 ","
            ARG@126..130
              EXPR_IDENT@126..130
                Ident@126..130 "Zero"
            RParen@130..131 ")"
        Semi@131..132 ";"
        Whitespace@132..137 "\n    "
      EXPR_MATCH@137..552
        MatchKeyword@137..142 "match"
        Whitespace@142..143 " "
        EXPR_IDENT@143..145
          Ident@143..144 "a"
          Whitespace@144..145 " "
        MATCH_ARM_LIST@145..552
          LBrace@145..146 "{"
          Whitespace@146..155 "\n        "
          MATCH_ARM@155..205
            PATTERN_CONSTR@155..170
              Ident@155..158 "Add"
              LParen@158..159 "("
              PATTERN_VARIABLE@159..163
                Ident@159..163 "Zero"
              Comma@163..164 ","
              PATTERN_VARIABLE@164..168
                Ident@164..168 "Zero"
              RParen@168..169 ")"
              Whitespace@169..170 " "
            FatArrow@170..172 "=>"
            Whitespace@172..173 " "
            EXPR_CALL@173..205
              EXPR_IDENT@173..185
                Ident@173..185 "string_print"
              ARG_LIST@185..205
                LParen@185..186 "("
                ARG@186..204
                  EXPR_CALL@186..204
                    EXPR_IDENT@186..201
                      Ident@186..201 "int32_to_string"
                    ARG_LIST@201..204
                      LParen@201..202 "("
                      ARG@202..203
                        EXPR_INT@202..203
                          Int@202..203 "0"
                      RParen@203..204 ")"
                RParen@204..205 ")"
          Comma@205..206 ","
          Whitespace@206..215 "\n        "
          MATCH_ARM@215..262
            PATTERN_CONSTR@215..227
              Ident@215..218 "Mul"
              LParen@218..219 "("
              PATTERN_VARIABLE@219..223
                Ident@219..223 "Zero"
              Comma@223..224 ","
              PATTERN_VARIABLE@224..225
                Ident@224..225 "x"
              RParen@225..226 ")"
              Whitespace@226..227 " "
            FatArrow@227..229 "=>"
            Whitespace@229..230 " "
            EXPR_CALL@230..262
              EXPR_IDENT@230..242
                Ident@230..242 "string_print"
              ARG_LIST@242..262
                LParen@242..243 "("
                ARG@243..261
                  EXPR_CALL@243..261
                    EXPR_IDENT@243..258
                      Ident@243..258 "int32_to_string"
                    ARG_LIST@258..261
                      LParen@258..259 "("
                      ARG@259..260
                        EXPR_INT@259..260
                          Int@259..260 "1"
                      RParen@260..261 ")"
                RParen@261..262 ")"
          Comma@262..263 ","
          Whitespace@263..272 "\n        "
          MATCH_ARM@272..322
            PATTERN_CONSTR@272..287
              Ident@272..275 "Add"
              LParen@275..276 "("
              PATTERN_CONSTR@276..283
                Ident@276..280 "Succ"
                LParen@280..281 "("
                PATTERN_VARIABLE@281..282
                  Ident@281..282 "x"
                RParen@282..283 ")"
              Comma@283..284 ","
              PATTERN_VARIABLE@284..285
                Ident@284..285 "y"
              RParen@285..286 ")"
              Whitespace@286..287 " "
            FatArrow@287..289 "=>"
            Whitespace@289..290 " "
            EXPR_CALL@290..322
              EXPR_IDENT@290..302
                Ident@290..302 "string_print"
              ARG_LIST@302..322
                LParen@302..303 "("
                ARG@303..321
                  EXPR_CALL@303..321
                    EXPR_IDENT@303..318
                      Ident@303..318 "int32_to_string"
                    ARG_LIST@318..321
                      LParen@318..319 "("
                      ARG@319..320
                        EXPR_INT@319..320
                          Int@319..320 "2"
                      RParen@320..321 ")"
                RParen@321..322 ")"
          Comma@322..323 ","
          Whitespace@323..332 "\n        "
          MATCH_ARM@332..379
            PATTERN_CONSTR@332..344
              Ident@332..335 "Mul"
              LParen@335..336 "("
              PATTERN_VARIABLE@336..337
                Ident@336..337 "x"
              Comma@337..338 ","
              PATTERN_VARIABLE@338..342
                Ident@338..342 "Zero"
              RParen@342..343 ")"
              Whitespace@343..344 " "
            FatArrow@344..346 "=>"
            Whitespace@346..347 " "
            EXPR_CALL@347..379
              EXPR_IDENT@347..359
                Ident@347..359 "string_print"
              ARG_LIST@359..379
                LParen@359..360 "("
                ARG@360..378
                  EXPR_CALL@360..378
                    EXPR_IDENT@360..375
                      Ident@360..375 "int32_to_string"
                    ARG_LIST@375..378
                      LParen@375..376 "("
                      ARG@376..377
                        EXPR_INT@376..377
                          Int@376..377 "3"
                      RParen@377..378 ")"
                RParen@378..379 ")"
          Comma@379..380 ","
          Whitespace@380..389 "\n        "
          MATCH_ARM@389..440
            PATTERN_CONSTR@389..405
              Ident@389..392 "Mul"
              LParen@392..393 "("
              PATTERN_CONSTR@393..401
                Ident@393..396 "Add"
                LParen@396..397 "("
                PATTERN_VARIABLE@397..398
                  Ident@397..398 "x"
                Comma@398..399 ","
                PATTERN_VARIABLE@399..400
                  Ident@399..400 "y"
                RParen@400..401 ")"
              Comma@401..402 ","
              PATTERN_VARIABLE@402..403
                Ident@402..403 "z"
              RParen@403..404 ")"
              Whitespace@404..405 " "
            FatArrow@405..407 "=>"
            Whitespace@407..408 " "
            EXPR_CALL@408..440
              EXPR_IDENT@408..420
                Ident@408..420 "string_print"
              ARG_LIST@420..440
                LParen@420..421 "("
                ARG@421..439
                  EXPR_CALL@421..439
                    EXPR_IDENT@421..436
                      Ident@421..436 "int32_to_string"
                    ARG_LIST@436..439
                      LParen@436..437 "("
                      ARG@437..438
                        EXPR_INT@437..438
                          Int@437..438 "4"
                      RParen@438..439 ")"
                RParen@439..440 ")"
          Comma@440..441 ","
          Whitespace@441..450 "\n        "
          MATCH_ARM@450..497
            PATTERN_CONSTR@450..462
              Ident@450..453 "Add"
              LParen@453..454 "("
              PATTERN_VARIABLE@454..455
                Ident@454..455 "x"
              Comma@455..456 ","
              PATTERN_VARIABLE@456..460
                Ident@456..460 "Zero"
              RParen@460..461 ")"
              Whitespace@461..462 " "
            FatArrow@462..464 "=>"
            Whitespace@464..465 " "
            EXPR_CALL@465..497
              EXPR_IDENT@465..477
                Ident@465..477 "string_print"
              ARG_LIST@477..497
                LParen@477..478 "("
                ARG@478..496
                  EXPR_CALL@478..496
                    EXPR_IDENT@478..493
                      Ident@478..493 "int32_to_string"
                    ARG_LIST@493..496
                      LParen@493..494 "("
                      ARG@494..495
                        EXPR_INT@494..495
                          Int@494..495 "5"
                      RParen@495..496 ")"
                RParen@496..497 ")"
          Comma@497..498 ","
          Whitespace@498..507 "\n        "
          MATCH_ARM@507..544
            PATTERN_VARIABLE@507..509
              Ident@507..508 "x"
              Whitespace@508..509 " "
            FatArrow@509..511 "=>"
            Whitespace@511..512 " "
            EXPR_CALL@512..544
              EXPR_IDENT@512..524
                Ident@512..524 "string_print"
              ARG_LIST@524..544
                LParen@524..525 "("
                ARG@525..543
                  EXPR_CALL@525..543
                    EXPR_IDENT@525..540
                      Ident@525..540 "int32_to_string"
                    ARG_LIST@540..543
                      LParen@540..541 "("
                      ARG@541..542
                        EXPR_INT@541..542
                          Int@541..542 "6"
                      RParen@542..543 ")"
                RParen@543..544 ")"
          Comma@544..545 ","
          Whitespace@545..550 "\n    "
          RBrace@550..551 "}"
          Whitespace@551..552 "\n"
      RBrace@552..553 "}"