FILE@0..259
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Uident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_UNIT@28..32
            UnitKeyword@28..32 "unit"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  FN@38..259
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Lident@41..45 "main"
    PARAM_LIST@45..48
      LParen@45..46 "("
      RParen@46..47 ")"
      Whitespace@47..48 " "
    BLOCK@48..259
      LBrace@48..49 "{"
      Whitespace@49..54 "\n    "
      STMT_LET@54..79
        LetKeyword@54..57 "let"
        Whitespace@57..58 " "
        PATTERN_VARIABLE@58..60
          Lident@58..59 "t"
          Whitespace@59..60 " "
        Eq@60..61 "="
        Whitespace@61..62 " "
        EXPR_CALL@62..73
          EXPR_UIDENT@62..63
            Uident@62..63 "B"
          ARG_LIST@63..73
            LParen@63..64 "("
            ARG@64..70
              EXPR_BOOL@64..68
                TrueKeyword@64..68 "true"
              Comma@68..69 ","
              Whitespace@69..70 " "
            ARG@70..72
              EXPR_UNIT@70..72
                LParen@70..71 "("
                RParen@71..72 ")"
            RParen@72..73 ")"
        Semi@73..74 ";"
        Whitespace@74..79 "\n    "
      EXPR_MATCH@79..257
        MatchKeyword@79..84 "match"
        Whitespace@84..85 " "
        EXPR_LIDENT@85..87
          Lident@85..86 "t"
          Whitespace@86..87 " "
        MATCH_ARM_LIST@87..257
          LBrace@87..88 "{"
          Whitespace@88..97 "\n        "
          MATCH_ARM@97..134
            PATTERN_CONSTR@97..99
              Uident@97..98 "A"
              Whitespace@98..99 " "
            FatArrow@99..101 "=>"
            Whitespace@101..102 " "
            EXPR_CALL@102..134
              EXPR_LIDENT@102..114
                Lident@102..114 "string_print"
              ARG_LIST@114..134
                LParen@114..115 "("
                ARG@115..133
                  EXPR_CALL@115..133
                    EXPR_LIDENT@115..130
                      Lident@115..130 "int32_to_string"
                    ARG_LIST@130..133
                      LParen@130..131 "("
                      ARG@131..132
                        EXPR_INT@131..132
                          Int@131..132 "1"
                      RParen@132..133 ")"
                RParen@133..134 ")"
          Comma@134..135 ","
          Whitespace@135..144 "\n        "
          MATCH_ARM@144..191
            PATTERN_CONSTR@144..156
              Uident@144..145 "B"
              LParen@145..146 "("
              PATTERN_BOOL@146..150
                TrueKeyword@146..150 "true"
              Comma@150..151 ","
              Whitespace@151..152 " "
              PATTERN_UNIT@152..154
                LParen@152..153 "("
                RParen@153..154 ")"
              RParen@154..155 ")"
              Whitespace@155..156 " "
            FatArrow@156..158 "=>"
            Whitespace@158..159 " "
            EXPR_CALL@159..191
              EXPR_LIDENT@159..171
                Lident@159..171 "string_print"
              ARG_LIST@171..191
                LParen@171..172 "("
                ARG@172..190
                  EXPR_CALL@172..190
                    EXPR_LIDENT@172..187
                      Lident@172..187 "int32_to_string"
                    ARG_LIST@187..190
                      LParen@187..188 "("
                      ARG@188..189
                        EXPR_INT@188..189
                          Int@188..189 "2"
                      RParen@189..190 ")"
                RParen@190..191 ")"
          Comma@191..192 ","
          Whitespace@192..201 "\n        "
          MATCH_ARM@201..249
            PATTERN_CONSTR@201..214
              Uident@201..202 "B"
              LParen@202..203 "("
              PATTERN_BOOL@203..208
                FalseKeyword@203..208 "false"
              Comma@208..209 ","
              Whitespace@209..210 " "
              PATTERN_UNIT@210..212
                LParen@210..211 "("
                RParen@211..212 ")"
              RParen@212..213 ")"
              Whitespace@213..214 " "
            FatArrow@214..216 "=>"
            Whitespace@216..217 " "
            EXPR_CALL@217..249
              EXPR_LIDENT@217..229
                Lident@217..229 "string_print"
              ARG_LIST@229..249
                LParen@229..230 "("
                ARG@230..248
                  EXPR_CALL@230..248
                    EXPR_LIDENT@230..245
                      Lident@230..245 "int32_to_string"
                    ARG_LIST@245..248
                      LParen@245..246 "("
                      ARG@246..247
                        EXPR_INT@246..247
                          Int@246..247 "3"
                      RParen@247..248 ")"
                RParen@248..249 ")"
          Comma@249..250 ","
          Whitespace@250..255 "\n    "
          RBrace@255..256 "}"
          Whitespace@256..257 "\n"
      RBrace@257..258 "}"
      Whitespace@258..259 "\n"