FILE@0..436
  ENUM@0..38
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..38
      VARIANT@13..14
        Uident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..33
        Uident@20..21 "B"
        TYPE_LIST@21..33
          LParen@21..22 "("
          TYPE_BOOL@22..26
            BoolKeyword@22..26 "bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          TYPE_BOOL@28..32
            BoolKeyword@28..32 "bool"
          RParen@32..33 ")"
      Comma@33..34 ","
      Whitespace@34..35 "\n"
      RBrace@35..36 "}"
      Whitespace@36..38 "\n\n"
  FN@38..292
    FnKeyword@38..40 "fn"
    Whitespace@40..41 " "
    Lident@41..45 "test"
    PARAM_LIST@45..52
      LParen@45..46 "("
      PARAM@46..50
        Lident@46..47 "t"
        Colon@47..48 ":"
        Whitespace@48..49 " "
        TYPE_TAPP@49..50
          Uident@49..50 "T"
      RParen@50..51 ")"
      Whitespace@51..52 " "
    Arrow@52..54 "->"
    Whitespace@54..55 " "
    TYPE_UNIT@55..60
      UnitKeyword@55..59 "unit"
      Whitespace@59..60 " "
    BLOCK@60..292
      LBrace@60..61 "{"
      Whitespace@61..66 "\n    "
      EXPR_MATCH@66..289
        MatchKeyword@66..71 "match"
        Whitespace@71..72 " "
        EXPR_LIDENT@72..74
          Lident@72..73 "t"
          Whitespace@73..74 " "
        MATCH_ARM_LIST@74..289
          LBrace@74..75 "{"
          Whitespace@75..84 "\n        "
          MATCH_ARM@84..119
            PATTERN_CONSTR@84..86
              Uident@84..85 "A"
              Whitespace@85..86 " "
            FatArrow@86..88 "=>"
            Whitespace@88..89 " "
            EXPR_CALL@89..119
              EXPR_LIDENT@89..101
                Lident@89..101 "string_print"
              ARG_LIST@101..119
                LParen@101..102 "("
                ARG@102..118
                  EXPR_CALL@102..118
                    EXPR_LIDENT@102..115
                      Lident@102..115 "int_to_string"
                    ARG_LIST@115..118
                      LParen@115..116 "("
                      ARG@116..117
                        EXPR_INT@116..117
                          Int@116..117 "1"
                      RParen@117..118 ")"
                RParen@118..119 ")"
          Comma@119..120 ","
          Whitespace@120..129 "\n        "
          MATCH_ARM@129..178
            PATTERN_CONSTR@129..145
              Uident@129..130 "B"
              LParen@130..131 "("
              PATTERN_BOOL@131..136
                FalseKeyword@131..136 "false"
              Comma@136..137 ","
              Whitespace@137..138 " "
              PATTERN_BOOL@138..143
                FalseKeyword@138..143 "false"
              RParen@143..144 ")"
              Whitespace@144..145 " "
            FatArrow@145..147 "=>"
            Whitespace@147..148 " "
            EXPR_CALL@148..178
              EXPR_LIDENT@148..160
                Lident@148..160 "string_print"
              ARG_LIST@160..178
                LParen@160..161 "("
                ARG@161..177
                  EXPR_CALL@161..177
                    EXPR_LIDENT@161..174
                      Lident@161..174 "int_to_string"
                    ARG_LIST@174..177
                      LParen@174..175 "("
                      ARG@175..176
                        EXPR_INT@175..176
                          Int@175..176 "2"
                      RParen@176..177 ")"
                RParen@177..178 ")"
          Comma@178..179 ","
          Whitespace@179..188 "\n        "
          MATCH_ARM@188..236
            PATTERN_CONSTR@188..203
              Uident@188..189 "B"
              LParen@189..190 "("
              PATTERN_BOOL@190..195
                FalseKeyword@190..195 "false"
              Comma@195..196 ","
              Whitespace@196..197 " "
              PATTERN_BOOL@197..201
                TrueKeyword@197..201 "true"
              RParen@201..202 ")"
              Whitespace@202..203 " "
            FatArrow@203..205 "=>"
            Whitespace@205..206 " "
            EXPR_CALL@206..236
              EXPR_LIDENT@206..218
                Lident@206..218 "string_print"
              ARG_LIST@218..236
                LParen@218..219 "("
                ARG@219..235
                  EXPR_CALL@219..235
                    EXPR_LIDENT@219..232
                      Lident@219..232 "int_to_string"
                    ARG_LIST@232..235
                      LParen@232..233 "("
                      ARG@233..234
                        EXPR_INT@233..234
                          Int@233..234 "3"
                      RParen@234..235 ")"
                RParen@235..236 ")"
          Comma@236..237 ","
          Whitespace@237..246 "\n        "
          MATCH_ARM@246..281
            PATTERN_WILDCARD@246..248
              WildcardKeyword@246..247 "_"
              Whitespace@247..248 " "
            FatArrow@248..250 "=>"
            Whitespace@250..251 " "
            EXPR_CALL@251..281
              EXPR_LIDENT@251..263
                Lident@251..263 "string_print"
              ARG_LIST@263..281
                LParen@263..264 "("
                ARG@264..280
                  EXPR_CALL@264..280
                    EXPR_LIDENT@264..277
                      Lident@264..277 "int_to_string"
                    ARG_LIST@277..280
                      LParen@277..278 "("
                      ARG@278..279
                        EXPR_INT@278..279
                          Int@278..279 "4"
                      RParen@279..280 ")"
                RParen@280..281 ")"
          Comma@281..282 ","
          Whitespace@282..287 "\n    "
          RBrace@287..288 "}"
          Whitespace@288..289 "\n"
      RBrace@289..290 "}"
      Whitespace@290..292 "\n\n"
  FN@292..436
    FnKeyword@292..294 "fn"
    Whitespace@294..295 " "
    Lident@295..299 "main"
    PARAM_LIST@299..302
      LParen@299..300 "("
      RParen@300..301 ")"
      Whitespace@301..302 " "
    BLOCK@302..436
      LBrace@302..303 "{"
      Whitespace@303..308 "\n    "
      STMT_LET@308..341
        LetKeyword@308..311 "let"
        Whitespace@311..312 " "
        PATTERN_WILDCARD@312..314
          WildcardKeyword@312..313 "_"
          Whitespace@313..314 " "
        Eq@314..315 "="
        Whitespace@315..316 " "
        EXPR_CALL@316..335
          EXPR_LIDENT@316..320
            Lident@316..320 "test"
          ARG_LIST@320..335
            LParen@320..321 "("
            ARG@321..334
              EXPR_CALL@321..334
                EXPR_UIDENT@321..322
                  Uident@321..322 "B"
                ARG_LIST@322..334
                  LParen@322..323 "("
                  ARG@323..329
                    EXPR_BOOL@323..327
                      TrueKeyword@323..327 "true"
                    Comma@327..328 ","
                    Whitespace@328..329 " "
                  ARG@329..333
                    EXPR_BOOL@329..333
                      TrueKeyword@329..333 "true"
                  RParen@333..334 ")"
            RParen@334..335 ")"
        Semi@335..336 ";"
        Whitespace@336..341 "\n    "
      STMT_LET@341..375
        LetKeyword@341..344 "let"
        Whitespace@344..345 " "
        PATTERN_WILDCARD@345..347
          WildcardKeyword@345..346 "_"
          Whitespace@346..347 " "
        Eq@347..348 "="
        Whitespace@348..349 " "
        EXPR_CALL@349..369
          EXPR_LIDENT@349..353
            Lident@349..353 "test"
          ARG_LIST@353..369
            LParen@353..354 "("
            ARG@354..368
              EXPR_CALL@354..368
                EXPR_UIDENT@354..355
                  Uident@354..355 "B"
                ARG_LIST@355..368
                  LParen@355..356 "("
                  ARG@356..363
                    EXPR_BOOL@356..361
                      FalseKeyword@356..361 "false"
                    Comma@361..362 ","
                    Whitespace@362..363 " "
                  ARG@363..367
                    EXPR_BOOL@363..367
                      TrueKeyword@363..367 "true"
                  RParen@367..368 ")"
            RParen@368..369 ")"
        Semi@369..370 ";"
        Whitespace@370..375 "\n    "
      STMT_LET@375..410
        LetKeyword@375..378 "let"
        Whitespace@378..379 " "
        PATTERN_WILDCARD@379..381
          WildcardKeyword@379..380 "_"
          Whitespace@380..381 " "
        Eq@381..382 "="
        Whitespace@382..383 " "
        EXPR_CALL@383..404
          EXPR_LIDENT@383..387
            Lident@383..387 "test"
          ARG_LIST@387..404
            LParen@387..388 "("
            ARG@388..403
              EXPR_CALL@388..403
                EXPR_UIDENT@388..389
                  Uident@388..389 "B"
                ARG_LIST@389..403
                  LParen@389..390 "("
                  ARG@390..397
                    EXPR_BOOL@390..395
                      FalseKeyword@390..395 "false"
                    Comma@395..396 ","
                    Whitespace@396..397 " "
                  ARG@397..402
                    EXPR_BOOL@397..402
                      FalseKeyword@397..402 "false"
                  RParen@402..403 ")"
            RParen@403..404 ")"
        Semi@404..405 ";"
        Whitespace@405..410 "\n    "
      STMT_LET@410..431
        LetKeyword@410..413 "let"
        Whitespace@413..414 " "
        PATTERN_WILDCARD@414..416
          WildcardKeyword@414..415 "_"
          Whitespace@415..416 " "
        Eq@416..417 "="
        Whitespace@417..418 " "
        EXPR_CALL@418..425
          EXPR_LIDENT@418..422
            Lident@418..422 "test"
          ARG_LIST@422..425
            LParen@422..423 "("
            ARG@423..424
              EXPR_UIDENT@423..424
                Uident@423..424 "A"
            RParen@424..425 ")"
        Semi@425..426 ";"
        Whitespace@426..431 "\n    "
      EXPR_UNIT@431..434
        LParen@431..432 "("
        RParen@432..433 ")"
        Whitespace@433..434 "\n"
      RBrace@434..435 "}"
      Whitespace@435..436 "\n"