FILE@0..207
  FN@0..207
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..207
      LBrace@10..11 "{"
      Whitespace@11..14 "\n  "
      STMT_LET@14..38
        LetKeyword@14..17 "let"
        Whitespace@17..18 " "
        PATTERN_VARIABLE@18..20
          Lident@18..19 "a"
          Whitespace@19..20 " "
        Eq@20..21 "="
        Whitespace@21..22 " "
        EXPR_TUPLE@22..34
          LParen@22..23 "("
          EXPR_BOOL@23..27
            TrueKeyword@23..27 "true"
          Comma@27..28 ","
          Whitespace@28..29 " "
          EXPR_BOOL@29..33
            TrueKeyword@29..33 "true"
          RParen@33..34 ")"
        Semi@34..35 ";"
        Whitespace@35..38 "\n  "
      EXPR_MATCH@38..205
        MatchKeyword@38..43 "match"
        Whitespace@43..44 " "
        EXPR_LIDENT@44..46
          Lident@44..45 "a"
          Whitespace@45..46 " "
        MATCH_ARM_LIST@46..205
          LBrace@46..47 "{"
          Whitespace@47..52 "\n    "
          MATCH_ARM@52..101
            PATTERN_TUPLE@52..66
              LParen@52..53 "("
              PATTERN_BOOL@53..57
                TrueKeyword@53..57 "true"
              Comma@57..58 ","
              Whitespace@58..59 " "
              PATTERN_BOOL@59..64
                FalseKeyword@59..64 "false"
              RParen@64..65 ")"
              Whitespace@65..66 " "
            FatArrow@66..68 "=>"
            Whitespace@68..69 " "
            EXPR_CALL@69..101
              EXPR_LIDENT@69..81
                Lident@69..81 "string_print"
              ARG_LIST@81..101
                LParen@81..82 "("
                ARG@82..100
                  EXPR_CALL@82..100
                    EXPR_LIDENT@82..95
                      Lident@82..95 "int_to_string"
                    ARG_LIST@95..100
                      LParen@95..96 "("
                      ARG@96..99
                        EXPR_INT@96..99
                          Int@96..99 "123"
                      RParen@99..100 ")"
                RParen@100..101 ")"
          Comma@101..102 ","
          Whitespace@102..107 "\n    "
          MATCH_ARM@107..156
            PATTERN_TUPLE@107..121
              LParen@107..108 "("
              PATTERN_BOOL@108..113
                FalseKeyword@108..113 "false"
              Comma@113..114 ","
              Whitespace@114..115 " "
              PATTERN_BOOL@115..119
                TrueKeyword@115..119 "true"
              RParen@119..120 ")"
              Whitespace@120..121 " "
            FatArrow@121..123 "=>"
            Whitespace@123..124 " "
            EXPR_CALL@124..156
              EXPR_LIDENT@124..136
                Lident@124..136 "string_print"
              ARG_LIST@136..156
                LParen@136..137 "("
                ARG@137..155
                  EXPR_CALL@137..155
                    EXPR_LIDENT@137..150
                      Lident@137..150 "int_to_string"
                    ARG_LIST@150..155
                      LParen@150..151 "("
                      ARG@151..154
                        EXPR_INT@151..154
                          Int@151..154 "456"
                      RParen@154..155 ")"
                RParen@155..156 ")"
          Comma@156..157 ","
          Whitespace@157..162 "\n    "
          MATCH_ARM@162..199
            PATTERN_WILDCARD@162..164
              WildcardKeyword@162..163 "_"
              Whitespace@163..164 " "
            FatArrow@164..166 "=>"
            Whitespace@166..167 " "
            EXPR_CALL@167..199
              EXPR_LIDENT@167..179
                Lident@167..179 "string_print"
              ARG_LIST@179..199
                LParen@179..180 "("
                ARG@180..198
                  EXPR_CALL@180..198
                    EXPR_LIDENT@180..193
                      Lident@180..193 "int_to_string"
                    ARG_LIST@193..198
                      LParen@193..194 "("
                      ARG@194..197
                        EXPR_INT@194..197
                          Int@194..197 "789"
                      RParen@197..198 ")"
                RParen@198..199 ")"
          Comma@199..200 ","
          Whitespace@200..203 "\n  "
          RBrace@203..204 "}"
          Whitespace@204..205 "\n"
      RBrace@205..206 "}"
      Whitespace@206..207 "\n"