FILE@0..122
  FN@0..122
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..122
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..31
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Ident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_INT@24..25
          Int@24..25 "1"
        Semi@25..26 ";"
        Whitespace@26..31 "\n    "
      STMT_LET@31..50
        LetKeyword@31..34 "let"
        Whitespace@34..35 " "
        PATTERN_VARIABLE@35..37
          Ident@35..36 "a"
          Whitespace@36..37 " "
        Eq@37..38 "="
        Whitespace@38..39 " "
        EXPR_BINARY@39..44
          EXPR_IDENT@39..41
            Ident@39..40 "a"
            Whitespace@40..41 " "
          Plus@41..42 "+"
          Whitespace@42..43 " "
          EXPR_INT@43..44
            Int@43..44 "2"
        Semi@44..45 ";"
        Whitespace@45..50 "\n    "
      STMT_LET@50..69
        LetKeyword@50..53 "let"
        Whitespace@53..54 " "
        PATTERN_VARIABLE@54..56
          Ident@54..55 "a"
          Whitespace@55..56 " "
        Eq@56..57 "="
        Whitespace@57..58 " "
        EXPR_BINARY@58..63
          EXPR_IDENT@58..60
            Ident@58..59 "a"
            Whitespace@59..60 " "
          Plus@60..61 "+"
          Whitespace@61..62 " "
          EXPR_INT@62..63
            Int@62..63 "3"
        Semi@63..64 ";"
        Whitespace@64..69 "\n    "
      STMT_LET@69..88
        LetKeyword@69..72 "let"
        Whitespace@72..73 " "
        PATTERN_VARIABLE@73..75
          Ident@73..74 "a"
          Whitespace@74..75 " "
        Eq@75..76 "="
        Whitespace@76..77 " "
        EXPR_BINARY@77..82
          EXPR_IDENT@77..79
            Ident@77..78 "a"
            Whitespace@78..79 " "
          Plus@79..80 "+"
          Whitespace@80..81 " "
          EXPR_INT@81..82
            Int@81..82 "4"
        Semi@82..83 ";"
        Whitespace@83..88 "\n    "
      EXPR_CALL@88..121
        EXPR_IDENT@88..100
          Ident@88..100 "string_print"
        ARG_LIST@100..121
          LParen@100..101 "("
          ARG@101..119
            EXPR_CALL@101..119
              EXPR_IDENT@101..116
                Ident@101..116 "int32_to_string"
              ARG_LIST@116..119
                LParen@116..117 "("
                ARG@117..118
                  EXPR_IDENT@117..118
                    Ident@117..118 "a"
                RParen@118..119 ")"
          RParen@119..120 ")"
          Whitespace@120..121 "\n"
      RBrace@121..122 "}"