FILE@0..1075
  TRAIT@0..83
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Arith"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..83
      TRAIT_METHOD_SIG@18..45
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..24 "add"
        TYPE_LIST@24..37
          LParen@24..25 "("
          TYPE_TAPP@25..29
            Ident@25..29 "Self"
          Comma@29..30 ","
          Whitespace@30..31 " "
          TYPE_TAPP@31..35
            Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_INT32@40..45
          Int32Keyword@40..45 "int32"
      Semi@45..46 ";"
      Whitespace@46..51 "\n    "
      TRAIT_METHOD_SIG@51..78
        FnKeyword@51..53 "fn"
        Whitespace@53..54 " "
        Ident@54..58 "less"
        TYPE_LIST@58..71
          LParen@58..59 "("
          TYPE_TAPP@59..63
            Ident@59..63 "Self"
          Comma@63..64 ","
          Whitespace@64..65 " "
          TYPE_TAPP@65..69
            Ident@65..69 "Self"
          RParen@69..70 ")"
          Whitespace@70..71 " "
        Arrow@71..73 "->"
        Whitespace@73..74 " "
        TYPE_BOOL@74..78
          BoolKeyword@74..78 "bool"
      Semi@78..79 ";"
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  IMPL@83..273
    ImplKeyword@83..87 "impl"
    Whitespace@87..88 " "
    Ident@88..93 "Arith"
    Whitespace@93..94 " "
    ForKeyword@94..97 "for"
    Whitespace@97..98 " "
    TYPE_INT32@98..104
      Int32Keyword@98..103 "int32"
      Whitespace@103..104 " "
    LBrace@104..105 "{"
    Whitespace@105..110 "\n    "
    FN@110..187
      FnKeyword@110..112 "fn"
      Whitespace@112..113 " "
      Ident@113..116 "add"
      PARAM_LIST@116..144
        LParen@116..117 "("
        PARAM@117..130
          Ident@117..121 "self"
          Colon@121..122 ":"
          Whitespace@122..123 " "
          TYPE_INT32@123..128
            Int32Keyword@123..128 "int32"
          Comma@128..129 ","
          Whitespace@129..130 " "
        PARAM@130..142
          Ident@130..135 "other"
          Colon@135..136 ":"
          Whitespace@136..137 " "
          TYPE_INT32@137..142
            Int32Keyword@137..142 "int32"
        RParen@142..143 ")"
        Whitespace@143..144 " "
      Arrow@144..146 "->"
      Whitespace@146..147 " "
      TYPE_INT32@147..153
        Int32Keyword@147..152 "int32"
        Whitespace@152..153 " "
      BLOCK@153..187
        LBrace@153..154 "{"
        Whitespace@154..163 "\n        "
        EXPR_BINARY@163..180
          EXPR_IDENT@163..168
            Ident@163..167 "self"
            Whitespace@167..168 " "
          Plus@168..169 "+"
          Whitespace@169..170 " "
          EXPR_IDENT@170..180
            Ident@170..175 "other"
            Whitespace@175..180 "\n    "
        RBrace@180..181 "}"
        Whitespace@181..187 "\n\n    "
    FN@187..270
      FnKeyword@187..189 "fn"
      Whitespace@189..190 " "
      Ident@190..194 "less"
      PARAM_LIST@194..222
        LParen@194..195 "("
        PARAM@195..208
          Ident@195..199 "self"
          Colon@199..200 ":"
          Whitespace@200..201 " "
          TYPE_INT32@201..206
            Int32Keyword@201..206 "int32"
          Comma@206..207 ","
          Whitespace@207..208 " "
        PARAM@208..220
          Ident@208..213 "other"
          Colon@213..214 ":"
          Whitespace@214..215 " "
          TYPE_INT32@215..220
            Int32Keyword@215..220 "int32"
        RParen@220..221 ")"
        Whitespace@221..222 " "
      Arrow@222..224 "->"
      Whitespace@224..225 " "
      TYPE_BOOL@225..230
        BoolKeyword@225..229 "bool"
        Whitespace@229..230 " "
      BLOCK@230..270
        LBrace@230..231 "{"
        Whitespace@231..240 "\n        "
        EXPR_CALL@240..268
          EXPR_IDENT@240..250
            Ident@240..250 "int32_less"
          ARG_LIST@250..268
            LParen@250..251 "("
            ARG@251..257
              EXPR_IDENT@251..255
                Ident@251..255 "self"
              Comma@255..256 ","
              Whitespace@256..257 " "
            ARG@257..262
              EXPR_IDENT@257..262
                Ident@257..262 "other"
            RParen@262..263 ")"
            Whitespace@263..268 "\n    "
        RBrace@268..269 "}"
        Whitespace@269..270 "\n"
    RBrace@270..271 "}"
    Whitespace@271..273 "\n\n"
  TRAIT@273..327
    TraitKeyword@273..278 "trait"
    Whitespace@278..279 " "
    Ident@279..287 "ToString"
    Whitespace@287..288 " "
    LBrace@288..289 "{"
    Whitespace@289..294 "\n    "
    TRAIT_METHOD_SIG_LIST@294..327
      TRAIT_METHOD_SIG@294..322
        FnKeyword@294..296 "fn"
        Whitespace@296..297 " "
        Ident@297..306 "to_string"
        TYPE_LIST@306..313
          LParen@306..307 "("
          TYPE_TAPP@307..311
            Ident@307..311 "Self"
          RParen@311..312 ")"
          Whitespace@312..313 " "
        Arrow@313..315 "->"
        Whitespace@315..316 " "
        TYPE_STRING@316..322
          StringKeyword@316..322 "string"
      Semi@322..323 ";"
      Whitespace@323..324 "\n"
      RBrace@324..325 "}"
      Whitespace@325..327 "\n\n"
  IMPL@327..434
    ImplKeyword@327..331 "impl"
    Whitespace@331..332 " "
    Ident@332..340 "ToString"
    Whitespace@340..341 " "
    ForKeyword@341..344 "for"
    Whitespace@344..345 " "
    TYPE_INT32@345..351
      Int32Keyword@345..350 "int32"
      Whitespace@350..351 " "
    LBrace@351..352 "{"
    Whitespace@352..357 "\n    "
    FN@357..431
      FnKeyword@357..359 "fn"
      Whitespace@359..360 " "
      Ident@360..369 "to_string"
      PARAM_LIST@369..383
        LParen@369..370 "("
        PARAM@370..381
          Ident@370..374 "self"
          Colon@374..375 ":"
          Whitespace@375..376 " "
          TYPE_INT32@376..381
            Int32Keyword@376..381 "int32"
        RParen@381..382 ")"
        Whitespace@382..383 " "
      Arrow@383..385 "->"
      Whitespace@385..386 " "
      TYPE_STRING@386..393
        StringKeyword@386..392 "string"
        Whitespace@392..393 " "
      BLOCK@393..431
        LBrace@393..394 "{"
        Whitespace@394..403 "\n        "
        EXPR_CALL@403..429
          EXPR_IDENT@403..418
            Ident@403..418 "int32_to_string"
          ARG_LIST@418..429
            LParen@418..419 "("
            ARG@419..423
              EXPR_IDENT@419..423
                Ident@419..423 "self"
            RParen@423..424 ")"
            Whitespace@424..429 "\n    "
        RBrace@429..430 "}"
        Whitespace@430..431 "\n"
    RBrace@431..432 "}"
    Whitespace@432..434 "\n\n"
  IMPL@434..538
    ImplKeyword@434..438 "impl"
    Whitespace@438..439 " "
    Ident@439..447 "ToString"
    Whitespace@447..448 " "
    ForKeyword@448..451 "for"
    Whitespace@451..452 " "
    TYPE_BOOL@452..457
      BoolKeyword@452..456 "bool"
      Whitespace@456..457 " "
    LBrace@457..458 "{"
    Whitespace@458..463 "\n    "
    FN@463..535
      FnKeyword@463..465 "fn"
      Whitespace@465..466 " "
      Ident@466..475 "to_string"
      PARAM_LIST@475..488
        LParen@475..476 "("
        PARAM@476..486
          Ident@476..480 "self"
          Colon@480..481 ":"
          Whitespace@481..482 " "
          TYPE_BOOL@482..486
            BoolKeyword@482..486 "bool"
        RParen@486..487 ")"
        Whitespace@487..488 " "
      Arrow@488..490 "->"
      Whitespace@490..491 " "
      TYPE_STRING@491..498
        StringKeyword@491..497 "string"
        Whitespace@497..498 " "
      BLOCK@498..535
        LBrace@498..499 "{"
        Whitespace@499..508 "\n        "
        EXPR_CALL@508..533
          EXPR_IDENT@508..522
            Ident@508..522 "bool_to_string"
          ARG_LIST@522..533
            LParen@522..523 "("
            ARG@523..527
              EXPR_IDENT@523..527
                Ident@523..527 "self"
            RParen@527..528 ")"
            Whitespace@528..533 "\n    "
        RBrace@533..534 "}"
        Whitespace@534..535 "\n"
    RBrace@535..536 "}"
    Whitespace@536..538 "\n\n"
  TRAIT@538..585
    TraitKeyword@538..543 "trait"
    Whitespace@543..544 " "
    Ident@544..550 "Output"
    Whitespace@550..551 " "
    LBrace@551..552 "{"
    Whitespace@552..557 "\n    "
    TRAIT_METHOD_SIG_LIST@557..585
      TRAIT_METHOD_SIG@557..580
        FnKeyword@557..559 "fn"
        Whitespace@559..560 " "
        Ident@560..566 "output"
        TYPE_LIST@566..573
          LParen@566..567 "("
          TYPE_TAPP@567..571
            Ident@567..571 "Self"
          RParen@571..572 ")"
          Whitespace@572..573 " "
        Arrow@573..575 "->"
        Whitespace@575..576 " "
        TYPE_UNIT@576..580
          UnitKeyword@576..580 "unit"
      Semi@580..581 ";"
      Whitespace@581..582 "\n"
      RBrace@582..583 "}"
      Whitespace@583..585 "\n\n"
  IMPL@585..695
    ImplKeyword@585..589 "impl"
    Whitespace@589..590 " "
    Ident@590..596 "Output"
    Whitespace@596..597 " "
    ForKeyword@597..600 "for"
    Whitespace@600..601 " "
    TYPE_INT32@601..607
      Int32Keyword@601..606 "int32"
      Whitespace@606..607 " "
    LBrace@607..608 "{"
    Whitespace@608..613 "\n    "
    FN@613..692
      FnKeyword@613..615 "fn"
      Whitespace@615..616 " "
      Ident@616..622 "output"
      PARAM_LIST@622..636
        LParen@622..623 "("
        PARAM@623..634
          Ident@623..627 "self"
          Colon@627..628 ":"
          Whitespace@628..629 " "
          TYPE_INT32@629..634
            Int32Keyword@629..634 "int32"
        RParen@634..635 ")"
        Whitespace@635..636 " "
      Arrow@636..638 "->"
      Whitespace@638..639 " "
      TYPE_UNIT@639..644
        UnitKeyword@639..643 "unit"
        Whitespace@643..644 " "
      BLOCK@644..692
        LBrace@644..645 "{"
        Whitespace@645..654 "\n        "
        EXPR_CALL@654..690
          EXPR_IDENT@654..668
            Ident@654..668 "string_println"
          ARG_LIST@668..690
            LParen@668..669 "("
            ARG@669..684
              EXPR_CALL@669..684
                EXPR_IDENT@669..678
                  Ident@669..678 "to_string"
                ARG_LIST@678..684
                  LParen@678..679 "("
                  ARG@679..683
                    EXPR_IDENT@679..683
                      Ident@679..683 "self"
                  RParen@683..684 ")"
            RParen@684..685 ")"
            Whitespace@685..690 "\n    "
        RBrace@690..691 "}"
        Whitespace@691..692 "\n"
    RBrace@692..693 "}"
    Whitespace@693..695 "\n\n"
  IMPL@695..803
    ImplKeyword@695..699 "impl"
    Whitespace@699..700 " "
    Ident@700..706 "Output"
    Whitespace@706..707 " "
    ForKeyword@707..710 "for"
    Whitespace@710..711 " "
    TYPE_BOOL@711..716
      BoolKeyword@711..715 "bool"
      Whitespace@715..716 " "
    LBrace@716..717 "{"
    Whitespace@717..722 "\n    "
    FN@722..800
      FnKeyword@722..724 "fn"
      Whitespace@724..725 " "
      Ident@725..731 "output"
      PARAM_LIST@731..744
        LParen@731..732 "("
        PARAM@732..742
          Ident@732..736 "self"
          Colon@736..737 ":"
          Whitespace@737..738 " "
          TYPE_BOOL@738..742
            BoolKeyword@738..742 "bool"
        RParen@742..743 ")"
        Whitespace@743..744 " "
      Arrow@744..746 "->"
      Whitespace@746..747 " "
      TYPE_UNIT@747..752
        UnitKeyword@747..751 "unit"
        Whitespace@751..752 " "
      BLOCK@752..800
        LBrace@752..753 "{"
        Whitespace@753..762 "\n        "
        EXPR_CALL@762..798
          EXPR_IDENT@762..776
            Ident@762..776 "string_println"
          ARG_LIST@776..798
            LParen@776..777 "("
            ARG@777..792
              EXPR_CALL@777..792
                EXPR_IDENT@777..786
                  Ident@777..786 "to_string"
                ARG_LIST@786..792
                  LParen@786..787 "("
                  ARG@787..791
                    EXPR_IDENT@787..791
                      Ident@787..791 "self"
                  RParen@791..792 ")"
            RParen@792..793 ")"
            Whitespace@793..798 "\n    "
        RBrace@798..799 "}"
        Whitespace@799..800 "\n"
    RBrace@800..801 "}"
    Whitespace@801..803 "\n\n"
  FN@803..834
    FnKeyword@803..805 "fn"
    Whitespace@805..806 " "
    Ident@806..808 "id"
    GENERIC_LIST@808..811
      LBracket@808..809 "["
      GENERIC@809..810
        Ident@809..810 "T"
      RBracket@810..811 "]"
    PARAM_LIST@811..818
      LParen@811..812 "("
      PARAM@812..816
        Ident@812..813 "x"
        Colon@813..814 ":"
        Whitespace@814..815 " "
        TYPE_TAPP@815..816
          Ident@815..816 "T"
      RParen@816..817 ")"
      Whitespace@817..818 " "
    Arrow@818..820 "->"
    Whitespace@820..821 " "
    TYPE_TAPP@821..823
      Ident@821..822 "T"
      Whitespace@822..823 " "
    BLOCK@823..834
      LBrace@823..824 "{"
      Whitespace@824..829 "\n    "
      EXPR_IDENT@829..831
        Ident@829..830 "x"
        Whitespace@830..831 "\n"
      RBrace@831..832 "}"
      Whitespace@832..834 "\n\n"
  FN@834..1075
    FnKeyword@834..836 "fn"
    Whitespace@836..837 " "
    Ident@837..841 "main"
    PARAM_LIST@841..844
      LParen@841..842 "("
      RParen@842..843 ")"
      Whitespace@843..844 " "
    BLOCK@844..1075
      LBrace@844..845 "{"
      Whitespace@845..850 "\n    "
      STMT_LET@850..869
        LetKeyword@850..853 "let"
        Whitespace@853..854 " "
        PATTERN_VARIABLE@854..856
          Ident@854..855 "a"
          Whitespace@855..856 " "
        Eq@856..857 "="
        Whitespace@857..858 " "
        EXPR_CALL@858..863
          EXPR_IDENT@858..860
            Ident@858..860 "id"
          ARG_LIST@860..863
            LParen@860..861 "("
            ARG@861..862
              EXPR_INT@861..862
                Int@861..862 "1"
            RParen@862..863 ")"
        Semi@863..864 ";"
        Whitespace@864..869 "\n    "
      STMT_LET@869..888
        LetKeyword@869..872 "let"
        Whitespace@872..873 " "
        PATTERN_VARIABLE@873..875
          Ident@873..874 "b"
          Whitespace@874..875 " "
        Eq@875..876 "="
        Whitespace@876..877 " "
        EXPR_CALL@877..882
          EXPR_IDENT@877..879
            Ident@877..879 "id"
          ARG_LIST@879..882
            LParen@879..880 "("
            ARG@880..881
              EXPR_INT@880..881
                Int@880..881 "2"
            RParen@881..882 ")"
        Semi@882..883 ";"
        Whitespace@883..888 "\n    "
      STMT_LET@888..911
        LetKeyword@888..891 "let"
        Whitespace@891..892 " "
        PATTERN_VARIABLE@892..894
          Ident@892..893 "c"
          Whitespace@893..894 " "
        Eq@894..895 "="
        Whitespace@895..896 " "
        EXPR_CALL@896..905
          EXPR_IDENT@896..899
            Ident@896..899 "add"
          ARG_LIST@899..905
            LParen@899..900 "("
            ARG@900..903
              EXPR_IDENT@900..901
                Ident@900..901 "a"
              Comma@901..902 ","
              Whitespace@902..903 " "
            ARG@903..904
              EXPR_IDENT@903..904
                Ident@903..904 "b"
            RParen@904..905 ")"
        Semi@905..906 ";"
        Whitespace@906..911 "\n    "
      STMT_LET@911..935
        LetKeyword@911..914 "let"
        Whitespace@914..915 " "
        PATTERN_WILDCARD@915..917
          WildcardKeyword@915..916 "_"
          Whitespace@916..917 " "
        Eq@917..918 "="
        Whitespace@918..919 " "
        EXPR_CALL@919..928
          EXPR_IDENT@919..925
            Ident@919..925 "output"
          ARG_LIST@925..928
            LParen@925..926 "("
            ARG@926..927
              EXPR_IDENT@926..927
                Ident@926..927 "c"
            RParen@927..928 ")"
        Semi@928..929 ";"
        Whitespace@929..935 "\n\n    "
      STMT_LET@935..954
        LetKeyword@935..938 "let"
        Whitespace@938..939 " "
        PATTERN_VARIABLE@939..941
          Ident@939..940 "a"
          Whitespace@940..941 " "
        Eq@941..942 "="
        Whitespace@942..943 " "
        EXPR_CALL@943..948
          EXPR_IDENT@943..945
            Ident@943..945 "id"
          ARG_LIST@945..948
            LParen@945..946 "("
            ARG@946..947
              EXPR_INT@946..947
                Int@946..947 "3"
            RParen@947..948 ")"
        Semi@948..949 ";"
        Whitespace@949..954 "\n    "
      STMT_LET@954..973
        LetKeyword@954..957 "let"
        Whitespace@957..958 " "
        PATTERN_VARIABLE@958..960
          Ident@958..959 "b"
          Whitespace@959..960 " "
        Eq@960..961 "="
        Whitespace@961..962 " "
        EXPR_CALL@962..967
          EXPR_IDENT@962..964
            Ident@962..964 "id"
          ARG_LIST@964..967
            LParen@964..965 "("
            ARG@965..966
              EXPR_INT@965..966
                Int@965..966 "4"
            RParen@966..967 ")"
        Semi@967..968 ";"
        Whitespace@968..973 "\n    "
      STMT_LET@973..997
        LetKeyword@973..976 "let"
        Whitespace@976..977 " "
        PATTERN_VARIABLE@977..979
          Ident@977..978 "c"
          Whitespace@978..979 " "
        Eq@979..980 "="
        Whitespace@980..981 " "
        EXPR_CALL@981..991
          EXPR_IDENT@981..985
            Ident@981..985 "less"
          ARG_LIST@985..991
            LParen@985..986 "("
            ARG@986..989
              EXPR_IDENT@986..987
                Ident@986..987 "a"
              Comma@987..988 ","
              Whitespace@988..989 " "
            ARG@989..990
              EXPR_IDENT@989..990
                Ident@989..990 "b"
            RParen@990..991 ")"
        Semi@991..992 ";"
        Whitespace@992..997 "\n    "
      STMT_LET@997..1021
        LetKeyword@997..1000 "let"
        Whitespace@1000..1001 " "
        PATTERN_WILDCARD@1001..1003
          WildcardKeyword@1001..1002 "_"
          Whitespace@1002..1003 " "
        Eq@1003..1004 "="
        Whitespace@1004..1005 " "
        EXPR_CALL@1005..1014
          EXPR_IDENT@1005..1011
            Ident@1005..1011 "output"
          ARG_LIST@1011..1014
            LParen@1011..1012 "("
            ARG@1012..1013
              EXPR_IDENT@1012..1013
                Ident@1012..1013 "c"
            RParen@1013..1014 ")"
        Semi@1014..1015 ";"
        Whitespace@1015..1021 "\n\n    "
      STMT_LET@1021..1044
        LetKeyword@1021..1024 "let"
        Whitespace@1024..1025 " "
        PATTERN_WILDCARD@1025..1027
          WildcardKeyword@1025..1026 "_"
          Whitespace@1026..1027 " "
        Eq@1027..1028 "="
        Whitespace@1028..1029 " "
        EXPR_CALL@1029..1038
          EXPR_IDENT@1029..1031
            Ident@1029..1031 "id"
          ARG_LIST@1031..1038
            LParen@1031..1032 "("
            ARG@1032..1037
              EXPR_STR@1032..1037
                Str@1032..1037 "\"abc\""
            RParen@1037..1038 ")"
        Semi@1038..1039 ";"
        Whitespace@1039..1044 "\n    "
      STMT_LET@1044..1071
        LetKeyword@1044..1047 "let"
        Whitespace@1047..1048 " "
        PATTERN_WILDCARD@1048..1050
          WildcardKeyword@1048..1049 "_"
          Whitespace@1049..1050 " "
        Eq@1050..1051 "="
        Whitespace@1051..1052 " "
        EXPR_CALL@1052..1060
          EXPR_IDENT@1052..1054
            Ident@1052..1054 "id"
          ARG_LIST@1054..1060
            LParen@1054..1055 "("
            ARG@1055..1059
              EXPR_BOOL@1055..1059
                TrueKeyword@1055..1059 "true"
            RParen@1059..1060 ")"
        Semi@1060..1061 ";"
        Whitespace@1061..1071 "\n    \n    "
      EXPR_UNIT@1071..1074
        LParen@1071..1072 "("
        RParen@1072..1073 ")"
        Whitespace@1073..1074 "\n"
      RBrace@1074..1075 "}"