FILE@0..1984
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Uident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Lident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT@22..25
          IntKeyword@22..25 "int"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Lident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT@34..37
          IntKeyword@34..37 "int"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  STRUCT@42..79
    StructKeyword@42..48 "struct"
    Whitespace@48..49 " "
    Uident@49..56 "Wrapper"
    GENERIC_LIST@56..60
      LBracket@56..57 "["
      GENERIC@57..58
        Uident@57..58 "T"
      RBracket@58..59 "]"
      Whitespace@59..60 " "
    LBrace@60..61 "{"
    Whitespace@61..66 "\n    "
    STRUCT_FIELD_LIST@66..79
      STRUCT_FIELD@66..74
        Lident@66..71 "value"
        Colon@71..72 ":"
        Whitespace@72..73 " "
        TYPE_TAPP@73..74
          Uident@73..74 "T"
      Comma@74..75 ","
      Whitespace@75..76 "\n"
      RBrace@76..77 "}"
      Whitespace@77..79 "\n\n"
  FN@79..134
    FnKeyword@79..81 "fn"
    Whitespace@81..82 " "
    Lident@82..92 "make_point"
    PARAM_LIST@92..95
      LParen@92..93 "("
      RParen@93..94 ")"
      Whitespace@94..95 " "
    Arrow@95..97 "->"
    Whitespace@97..98 " "
    TYPE_TAPP@98..104
      Uident@98..103 "Point"
      Whitespace@103..104 " "
    BLOCK@104..134
      LBrace@104..105 "{"
      Whitespace@105..110 "\n    "
      EXPR_STRUCT_LITERAL@110..131
        Uident@110..115 "Point"
        Whitespace@115..116 " "
        STRUCT_LITERAL_FIELD_LIST@116..131
          LBrace@116..117 "{"
          Whitespace@117..118 " "
          STRUCT_LITERAL_FIELD@118..122
            Lident@118..119 "x"
            Colon@119..120 ":"
            Whitespace@120..121 " "
            EXPR_INT@121..122
              Int@121..122 "0"
          Comma@122..123 ","
          Whitespace@123..124 " "
          STRUCT_LITERAL_FIELD@124..129
            Lident@124..125 "y"
            Colon@125..126 ":"
            Whitespace@126..127 " "
            EXPR_INT@127..129
              Int@127..128 "0"
              Whitespace@128..129 " "
          RBrace@129..130 "}"
          Whitespace@130..131 "\n"
      RBrace@131..132 "}"
      Whitespace@132..134 "\n\n"
  FN@134..233
    FnKeyword@134..136 "fn"
    Whitespace@136..137 " "
    Lident@137..141 "flip"
    PARAM_LIST@141..156
      LParen@141..142 "("
      PARAM@142..154
        Lident@142..147 "point"
        Colon@147..148 ":"
        Whitespace@148..149 " "
        TYPE_TAPP@149..154
          Uident@149..154 "Point"
      RParen@154..155 ")"
      Whitespace@155..156 " "
    Arrow@156..158 "->"
    Whitespace@158..159 " "
    TYPE_TAPP@159..165
      Uident@159..164 "Point"
      Whitespace@164..165 " "
    BLOCK@165..233
      LBrace@165..166 "{"
      Whitespace@166..171 "\n    "
      STMT_LET@171..209
        LetKeyword@171..174 "let"
        Whitespace@174..175 " "
        PATTERN_CONSTR@175..196
          Uident@175..180 "Point"
          Whitespace@180..181 " "
          STRUCT_PATTERN_FIELD_LIST@181..196
            LBrace@181..182 "{"
            Whitespace@182..183 " "
            STRUCT_PATTERN_FIELD@183..187
              Lident@183..184 "x"
              Colon@184..185 ":"
              Whitespace@185..186 " "
              PATTERN_VARIABLE@186..187
                Lident@186..187 "x"
            Comma@187..188 ","
            Whitespace@188..189 " "
            STRUCT_PATTERN_FIELD@189..194
              Lident@189..190 "y"
              Colon@190..191 ":"
              Whitespace@191..192 " "
              PATTERN_VARIABLE@192..194
                Lident@192..193 "y"
                Whitespace@193..194 " "
            RBrace@194..195 "}"
            Whitespace@195..196 " "
        Eq@196..197 "="
        Whitespace@197..198 " "
        EXPR_LIDENT@198..203
          Lident@198..203 "point"
        Semi@203..204 ";"
        Whitespace@204..209 "\n    "
      EXPR_STRUCT_LITERAL@209..230
        Uident@209..214 "Point"
        Whitespace@214..215 " "
        STRUCT_LITERAL_FIELD_LIST@215..230
          LBrace@215..216 "{"
          Whitespace@216..217 " "
          STRUCT_LITERAL_FIELD@217..221
            Lident@217..218 "y"
            Colon@218..219 ":"
            Whitespace@219..220 " "
            EXPR_LIDENT@220..221
              Lident@220..221 "x"
          Comma@221..222 ","
          Whitespace@222..223 " "
          STRUCT_LITERAL_FIELD@223..228
            Lident@223..224 "x"
            Colon@224..225 ":"
            Whitespace@225..226 " "
            EXPR_LIDENT@226..228
              Lident@226..227 "y"
              Whitespace@227..228 " "
          RBrace@228..229 "}"
          Whitespace@229..230 "\n"
      RBrace@230..231 "}"
      Whitespace@231..233 "\n\n"
  FN@233..299
    FnKeyword@233..235 "fn"
    Whitespace@235..236 " "
    Lident@236..244 "wrap_int"
    PARAM_LIST@244..253
      LParen@244..245 "("
      PARAM@245..251
        Lident@245..246 "x"
        Colon@246..247 ":"
        Whitespace@247..248 " "
        TYPE_INT@248..251
          IntKeyword@248..251 "int"
      RParen@251..252 ")"
      Whitespace@252..253 " "
    Arrow@253..255 "->"
    Whitespace@255..256 " "
    TYPE_TAPP@256..269
      Uident@256..263 "Wrapper"
      TYPE_PARAM_LIST@263..269
        LBracket@263..264 "["
        TYPE_INT@264..267
          IntKeyword@264..267 "int"
        RBracket@267..268 "]"
        Whitespace@268..269 " "
    BLOCK@269..299
      LBrace@269..270 "{"
      Whitespace@270..275 "\n    "
      EXPR_STRUCT_LITERAL@275..296
        Uident@275..282 "Wrapper"
        Whitespace@282..283 " "
        STRUCT_LITERAL_FIELD_LIST@283..296
          LBrace@283..284 "{"
          Whitespace@284..285 " "
          STRUCT_LITERAL_FIELD@285..294
            Lident@285..290 "value"
            Colon@290..291 ":"
            Whitespace@291..292 " "
            EXPR_LIDENT@292..294
              Lident@292..293 "x"
              Whitespace@293..294 " "
          RBrace@294..295 "}"
          Whitespace@295..296 "\n"
      RBrace@296..297 "}"
      Whitespace@297..299 "\n\n"
  FN@299..397
    FnKeyword@299..301 "fn"
    Whitespace@301..302 " "
    Lident@302..309 "x_add_1"
    PARAM_LIST@309..320
      LParen@309..310 "("
      PARAM@310..318
        Lident@310..311 "p"
        Colon@311..312 ":"
        Whitespace@312..313 " "
        TYPE_TAPP@313..318
          Uident@313..318 "Point"
      RParen@318..319 ")"
      Whitespace@319..320 " "
    Arrow@320..322 "->"
    Whitespace@322..323 " "
    TYPE_TAPP@323..329
      Uident@323..328 "Point"
      Whitespace@328..329 " "
    BLOCK@329..397
      LBrace@329..330 "{"
      Whitespace@330..335 "\n    "
      STMT_LET@335..369
        LetKeyword@335..338 "let"
        Whitespace@338..339 " "
        PATTERN_CONSTR@339..360
          Uident@339..344 "Point"
          Whitespace@344..345 " "
          STRUCT_PATTERN_FIELD_LIST@345..360
            LBrace@345..346 "{"
            Whitespace@346..347 " "
            STRUCT_PATTERN_FIELD@347..351
              Lident@347..348 "x"
              Colon@348..349 ":"
              Whitespace@349..350 " "
              PATTERN_VARIABLE@350..351
                Lident@350..351 "x"
            Comma@351..352 ","
            Whitespace@352..353 " "
            STRUCT_PATTERN_FIELD@353..358
              Lident@353..354 "y"
              Colon@354..355 ":"
              Whitespace@355..356 " "
              PATTERN_VARIABLE@356..358
                Lident@356..357 "y"
                Whitespace@357..358 " "
            RBrace@358..359 "}"
            Whitespace@359..360 " "
        Eq@360..361 "="
        Whitespace@361..362 " "
        EXPR_LIDENT@362..363
          Lident@362..363 "p"
        Semi@363..364 ";"
        Whitespace@364..369 "\n    "
      EXPR_STRUCT_LITERAL@369..394
        Uident@369..374 "Point"
        Whitespace@374..375 " "
        STRUCT_LITERAL_FIELD_LIST@375..394
          LBrace@375..376 "{"
          Whitespace@376..377 " "
          STRUCT_LITERAL_FIELD@377..385
            Lident@377..378 "x"
            Colon@378..379 ":"
            Whitespace@379..380 " "
            EXPR_BINARY@380..385
              EXPR_LIDENT@380..382
                Lident@380..381 "x"
                Whitespace@381..382 " "
              Plus@382..383 "+"
              Whitespace@383..384 " "
              EXPR_INT@384..385
                Int@384..385 "1"
          Comma@385..386 ","
          Whitespace@386..387 " "
          STRUCT_LITERAL_FIELD@387..392
            Lident@387..388 "y"
            Colon@388..389 ":"
            Whitespace@389..390 " "
            EXPR_LIDENT@390..392
              Lident@390..391 "y"
              Whitespace@391..392 " "
          RBrace@392..393 "}"
          Whitespace@393..394 "\n"
      RBrace@394..395 "}"
      Whitespace@395..397 "\n\n"
  FN@397..468
    FnKeyword@397..399 "fn"
    Whitespace@399..400 " "
    Lident@400..405 "get_x"
    PARAM_LIST@405..416
      LParen@405..406 "("
      PARAM@406..414
        Lident@406..407 "p"
        Colon@407..408 ":"
        Whitespace@408..409 " "
        TYPE_TAPP@409..414
          Uident@409..414 "Point"
      RParen@414..415 ")"
      Whitespace@415..416 " "
    Arrow@416..418 "->"
    Whitespace@418..419 " "
    TYPE_INT@419..423
      IntKeyword@419..422 "int"
      Whitespace@422..423 " "
    BLOCK@423..468
      LBrace@423..424 "{"
      Whitespace@424..429 "\n    "
      STMT_LET@429..463
        LetKeyword@429..432 "let"
        Whitespace@432..433 " "
        PATTERN_CONSTR@433..454
          Uident@433..438 "Point"
          Whitespace@438..439 " "
          STRUCT_PATTERN_FIELD_LIST@439..454
            LBrace@439..440 "{"
            Whitespace@440..441 " "
            STRUCT_PATTERN_FIELD@441..445
              Lident@441..442 "x"
              Colon@442..443 ":"
              Whitespace@443..444 " "
              PATTERN_VARIABLE@444..445
                Lident@444..445 "x"
            Comma@445..446 ","
            Whitespace@446..447 " "
            STRUCT_PATTERN_FIELD@447..452
              Lident@447..448 "y"
              Colon@448..449 ":"
              Whitespace@449..450 " "
              PATTERN_VARIABLE@450..452
                Lident@450..451 "y"
                Whitespace@451..452 " "
            RBrace@452..453 "}"
            Whitespace@453..454 " "
        Eq@454..455 "="
        Whitespace@455..456 " "
        EXPR_LIDENT@456..457
          Lident@456..457 "p"
        Semi@457..458 ";"
        Whitespace@458..463 "\n    "
      EXPR_LIDENT@463..465
        Lident@463..464 "x"
        Whitespace@464..465 "\n"
      RBrace@465..466 "}"
      Whitespace@466..468 "\n\n"
  FN@468..539
    FnKeyword@468..470 "fn"
    Whitespace@470..471 " "
    Lident@471..476 "get_y"
    PARAM_LIST@476..487
      LParen@476..477 "("
      PARAM@477..485
        Lident@477..478 "p"
        Colon@478..479 ":"
        Whitespace@479..480 " "
        TYPE_TAPP@480..485
          Uident@480..485 "Point"
      RParen@485..486 ")"
      Whitespace@486..487 " "
    Arrow@487..489 "->"
    Whitespace@489..490 " "
    TYPE_INT@490..494
      IntKeyword@490..493 "int"
      Whitespace@493..494 " "
    BLOCK@494..539
      LBrace@494..495 "{"
      Whitespace@495..500 "\n    "
      STMT_LET@500..534
        LetKeyword@500..503 "let"
        Whitespace@503..504 " "
        PATTERN_CONSTR@504..525
          Uident@504..509 "Point"
          Whitespace@509..510 " "
          STRUCT_PATTERN_FIELD_LIST@510..525
            LBrace@510..511 "{"
            Whitespace@511..512 " "
            STRUCT_PATTERN_FIELD@512..516
              Lident@512..513 "x"
              Colon@513..514 ":"
              Whitespace@514..515 " "
              PATTERN_VARIABLE@515..516
                Lident@515..516 "x"
            Comma@516..517 ","
            Whitespace@517..518 " "
            STRUCT_PATTERN_FIELD@518..523
              Lident@518..519 "y"
              Colon@519..520 ":"
              Whitespace@520..521 " "
              PATTERN_VARIABLE@521..523
                Lident@521..522 "y"
                Whitespace@522..523 " "
            RBrace@523..524 "}"
            Whitespace@524..525 " "
        Eq@525..526 "="
        Whitespace@526..527 " "
        EXPR_LIDENT@527..528
          Lident@527..528 "p"
        Semi@528..529 ";"
        Whitespace@529..534 "\n    "
      EXPR_LIDENT@534..536
        Lident@534..535 "y"
        Whitespace@535..536 "\n"
      RBrace@536..537 "}"
      Whitespace@537..539 "\n\n"
  FN@539..791
    FnKeyword@539..541 "fn"
    Whitespace@541..542 " "
    Lident@542..557 "point_to_string"
    PARAM_LIST@557..568
      LParen@557..558 "("
      PARAM@558..566
        Lident@558..559 "p"
        Colon@559..560 ":"
        Whitespace@560..561 " "
        TYPE_TAPP@561..566
          Uident@561..566 "Point"
      RParen@566..567 ")"
      Whitespace@567..568 " "
    Arrow@568..570 "->"
    Whitespace@570..571 " "
    TYPE_STRING@571..578
      StringKeyword@571..577 "string"
      Whitespace@577..578 " "
    BLOCK@578..791
      LBrace@578..579 "{"
      Whitespace@579..584 "\n    "
      STMT_LET@584..618
        LetKeyword@584..587 "let"
        Whitespace@587..588 " "
        PATTERN_CONSTR@588..609
          Uident@588..593 "Point"
          Whitespace@593..594 " "
          STRUCT_PATTERN_FIELD_LIST@594..609
            LBrace@594..595 "{"
            Whitespace@595..596 " "
            STRUCT_PATTERN_FIELD@596..600
              Lident@596..597 "x"
              Colon@597..598 ":"
              Whitespace@598..599 " "
              PATTERN_VARIABLE@599..600
                Lident@599..600 "x"
            Comma@600..601 ","
            Whitespace@601..602 " "
            STRUCT_PATTERN_FIELD@602..607
              Lident@602..603 "y"
              Colon@603..604 ":"
              Whitespace@604..605 " "
              PATTERN_VARIABLE@605..607
                Lident@605..606 "y"
                Whitespace@606..607 " "
            RBrace@607..608 "}"
            Whitespace@608..609 " "
        Eq@609..610 "="
        Whitespace@610..611 " "
        EXPR_LIDENT@611..612
          Lident@611..612 "p"
        Semi@612..613 ";"
        Whitespace@613..618 "\n    "
      EXPR_CALL@618..788
        EXPR_LIDENT@618..628
          Lident@618..628 "string_add"
        ARG_LIST@628..788
          LParen@628..629 "("
          Whitespace@629..638 "\n        "
          ARG@638..777
            EXPR_CALL@638..767
              EXPR_LIDENT@638..648
                Lident@638..648 "string_add"
              ARG_LIST@648..767
                LParen@648..649 "("
                Whitespace@649..662 "\n            "
                ARG@662..719
                  EXPR_CALL@662..705
                    EXPR_LIDENT@662..672
                      Lident@662..672 "string_add"
                    ARG_LIST@672..705
                      LParen@672..673 "("
                      ARG@673..688
                        EXPR_STR@673..686
                          Str@673..686 "\"Point { x: \""
                        Comma@686..687 ","
                        Whitespace@687..688 " "
                      ARG@688..704
                        EXPR_CALL@688..704
                          EXPR_LIDENT@688..701
                            Lident@688..701 "int_to_string"
                          ARG_LIST@701..704
                            LParen@701..702 "("
                            ARG@702..703
                              EXPR_LIDENT@702..703
                                Lident@702..703 "x"
                            RParen@703..704 ")"
                      RParen@704..705 ")"
                  Comma@705..706 ","
                  Whitespace@706..719 "\n            "
                ARG@719..766
                  EXPR_CALL@719..756
                    EXPR_LIDENT@719..729
                      Lident@719..729 "string_add"
                    ARG_LIST@729..756
                      LParen@729..730 "("
                      ARG@730..739
                        EXPR_STR@730..737
                          Str@730..737 "\", y: \""
                        Comma@737..738 ","
                        Whitespace@738..739 " "
                      ARG@739..755
                        EXPR_CALL@739..755
                          EXPR_LIDENT@739..752
                            Lident@739..752 "int_to_string"
                          ARG_LIST@752..755
                            LParen@752..753 "("
                            ARG@753..754
                              EXPR_LIDENT@753..754
                                Lident@753..754 "y"
                            RParen@754..755 ")"
                      RParen@755..756 ")"
                  Comma@756..757 ","
                  Whitespace@757..766 "\n        "
                RParen@766..767 ")"
            Comma@767..768 ","
            Whitespace@768..777 "\n        "
          ARG@777..786
            EXPR_STR@777..780
              Str@777..780 "\"}\""
            Comma@780..781 ","
            Whitespace@781..786 "\n    "
          RParen@786..787 ")"
          Whitespace@787..788 "\n"
      RBrace@788..789 "}"
      Whitespace@789..791 "\n\n"
  FN@791..1038
    FnKeyword@791..793 "fn"
    Whitespace@793..794 " "
    Lident@794..810 "point_to_string2"
    PARAM_LIST@810..821
      LParen@810..811 "("
      PARAM@811..819
        Lident@811..812 "p"
        Colon@812..813 ":"
        Whitespace@813..814 " "
        TYPE_TAPP@814..819
          Uident@814..819 "Point"
      RParen@819..820 ")"
      Whitespace@820..821 " "
    Arrow@821..823 "->"
    Whitespace@823..824 " "
    TYPE_STRING@824..831
      StringKeyword@824..830 "string"
      Whitespace@830..831 " "
    BLOCK@831..1038
      LBrace@831..832 "{"
      Whitespace@832..837 "\n    "
      STMT_LET@837..865
        LetKeyword@837..840 "let"
        Whitespace@840..841 " "
        PATTERN_CONSTR@841..856
          Uident@841..846 "Point"
          Whitespace@846..847 " "
          STRUCT_PATTERN_FIELD_LIST@847..856
            LBrace@847..848 "{"
            Whitespace@848..849 " "
            STRUCT_PATTERN_FIELD@849..850
              Lident@849..850 "x"
            Comma@850..851 ","
            Whitespace@851..852 " "
            STRUCT_PATTERN_FIELD@852..854
              Lident@852..853 "y"
              Whitespace@853..854 " "
            RBrace@854..855 "}"
            Whitespace@855..856 " "
        Eq@856..857 "="
        Whitespace@857..858 " "
        EXPR_LIDENT@858..859
          Lident@858..859 "p"
        Semi@859..860 ";"
        Whitespace@860..865 "\n    "
      EXPR_CALL@865..1035
        EXPR_LIDENT@865..875
          Lident@865..875 "string_add"
        ARG_LIST@875..1035
          LParen@875..876 "("
          Whitespace@876..885 "\n        "
          ARG@885..1024
            EXPR_CALL@885..1014
              EXPR_LIDENT@885..895
                Lident@885..895 "string_add"
              ARG_LIST@895..1014
                LParen@895..896 "("
                Whitespace@896..909 "\n            "
                ARG@909..966
                  EXPR_CALL@909..952
                    EXPR_LIDENT@909..919
                      Lident@909..919 "string_add"
                    ARG_LIST@919..952
                      LParen@919..920 "("
                      ARG@920..935
                        EXPR_STR@920..933
                          Str@920..933 "\"Point { x: \""
                        Comma@933..934 ","
                        Whitespace@934..935 " "
                      ARG@935..951
                        EXPR_CALL@935..951
                          EXPR_LIDENT@935..948
                            Lident@935..948 "int_to_string"
                          ARG_LIST@948..951
                            LParen@948..949 "("
                            ARG@949..950
                              EXPR_LIDENT@949..950
                                Lident@949..950 "x"
                            RParen@950..951 ")"
                      RParen@951..952 ")"
                  Comma@952..953 ","
                  Whitespace@953..966 "\n            "
                ARG@966..1013
                  EXPR_CALL@966..1003
                    EXPR_LIDENT@966..976
                      Lident@966..976 "string_add"
                    ARG_LIST@976..1003
                      LParen@976..977 "("
                      ARG@977..986
                        EXPR_STR@977..984
                          Str@977..984 "\", y: \""
                        Comma@984..985 ","
                        Whitespace@985..986 " "
                      ARG@986..1002
                        EXPR_CALL@986..1002
                          EXPR_LIDENT@986..999
                            Lident@986..999 "int_to_string"
                          ARG_LIST@999..1002
                            LParen@999..1000 "("
                            ARG@1000..1001
                              EXPR_LIDENT@1000..1001
                                Lident@1000..1001 "y"
                            RParen@1001..1002 ")"
                      RParen@1002..1003 ")"
                  Comma@1003..1004 ","
                  Whitespace@1004..1013 "\n        "
                RParen@1013..1014 ")"
            Comma@1014..1015 ","
            Whitespace@1015..1024 "\n        "
          ARG@1024..1033
            EXPR_STR@1024..1027
              Str@1024..1027 "\"}\""
            Comma@1027..1028 ","
            Whitespace@1028..1033 "\n    "
          RParen@1033..1034 ")"
          Whitespace@1034..1035 "\n"
      RBrace@1035..1036 "}"
      Whitespace@1036..1038 "\n\n"
  FN@1038..1288
    FnKeyword@1038..1040 "fn"
    Whitespace@1040..1041 " "
    Lident@1041..1057 "point_to_string3"
    PARAM_LIST@1057..1068
      LParen@1057..1058 "("
      PARAM@1058..1066
        Lident@1058..1059 "p"
        Colon@1059..1060 ":"
        Whitespace@1060..1061 " "
        TYPE_TAPP@1061..1066
          Uident@1061..1066 "Point"
      RParen@1066..1067 ")"
      Whitespace@1067..1068 " "
    Arrow@1068..1070 "->"
    Whitespace@1070..1071 " "
    TYPE_STRING@1071..1078
      StringKeyword@1071..1077 "string"
      Whitespace@1077..1078 " "
    BLOCK@1078..1288
      LBrace@1078..1079 "{"
      Whitespace@1079..1084 "\n    "
      STMT_LET@1084..1115
        LetKeyword@1084..1087 "let"
        Whitespace@1087..1088 " "
        PATTERN_CONSTR@1088..1106
          Uident@1088..1093 "Point"
          Whitespace@1093..1094 " "
          STRUCT_PATTERN_FIELD_LIST@1094..1106
            LBrace@1094..1095 "{"
            Whitespace@1095..1096 " "
            STRUCT_PATTERN_FIELD@1096..1100
              Lident@1096..1097 "x"
              Colon@1097..1098 ":"
              Whitespace@1098..1099 " "
              PATTERN_VARIABLE@1099..1100
                Lident@1099..1100 "x"
            Comma@1100..1101 ","
            Whitespace@1101..1102 " "
            STRUCT_PATTERN_FIELD@1102..1104
              Lident@1102..1103 "y"
              Whitespace@1103..1104 " "
            RBrace@1104..1105 "}"
            Whitespace@1105..1106 " "
        Eq@1106..1107 "="
        Whitespace@1107..1108 " "
        EXPR_LIDENT@1108..1109
          Lident@1108..1109 "p"
        Semi@1109..1110 ";"
        Whitespace@1110..1115 "\n    "
      EXPR_CALL@1115..1285
        EXPR_LIDENT@1115..1125
          Lident@1115..1125 "string_add"
        ARG_LIST@1125..1285
          LParen@1125..1126 "("
          Whitespace@1126..1135 "\n        "
          ARG@1135..1274
            EXPR_CALL@1135..1264
              EXPR_LIDENT@1135..1145
                Lident@1135..1145 "string_add"
              ARG_LIST@1145..1264
                LParen@1145..1146 "("
                Whitespace@1146..1159 "\n            "
                ARG@1159..1216
                  EXPR_CALL@1159..1202
                    EXPR_LIDENT@1159..1169
                      Lident@1159..1169 "string_add"
                    ARG_LIST@1169..1202
                      LParen@1169..1170 "("
                      ARG@1170..1185
                        EXPR_STR@1170..1183
                          Str@1170..1183 "\"Point { x: \""
                        Comma@1183..1184 ","
                        Whitespace@1184..1185 " "
                      ARG@1185..1201
                        EXPR_CALL@1185..1201
                          EXPR_LIDENT@1185..1198
                            Lident@1185..1198 "int_to_string"
                          ARG_LIST@1198..1201
                            LParen@1198..1199 "("
                            ARG@1199..1200
                              EXPR_LIDENT@1199..1200
                                Lident@1199..1200 "x"
                            RParen@1200..1201 ")"
                      RParen@1201..1202 ")"
                  Comma@1202..1203 ","
                  Whitespace@1203..1216 "\n            "
                ARG@1216..1263
                  EXPR_CALL@1216..1253
                    EXPR_LIDENT@1216..1226
                      Lident@1216..1226 "string_add"
                    ARG_LIST@1226..1253
                      LParen@1226..1227 "("
                      ARG@1227..1236
                        EXPR_STR@1227..1234
                          Str@1227..1234 "\", y: \""
                        Comma@1234..1235 ","
                        Whitespace@1235..1236 " "
                      ARG@1236..1252
                        EXPR_CALL@1236..1252
                          EXPR_LIDENT@1236..1249
                            Lident@1236..1249 "int_to_string"
                          ARG_LIST@1249..1252
                            LParen@1249..1250 "("
                            ARG@1250..1251
                              EXPR_LIDENT@1250..1251
                                Lident@1250..1251 "y"
                            RParen@1251..1252 ")"
                      RParen@1252..1253 ")"
                  Comma@1253..1254 ","
                  Whitespace@1254..1263 "\n        "
                RParen@1263..1264 ")"
            Comma@1264..1265 ","
            Whitespace@1265..1274 "\n        "
          ARG@1274..1283
            EXPR_STR@1274..1277
              Str@1274..1277 "\"}\""
            Comma@1277..1278 ","
            Whitespace@1278..1283 "\n    "
          RParen@1283..1284 ")"
          Whitespace@1284..1285 "\n"
      RBrace@1285..1286 "}"
      Whitespace@1286..1288 "\n\n"
  FN@1288..1538
    FnKeyword@1288..1290 "fn"
    Whitespace@1290..1291 " "
    Lident@1291..1307 "point_to_string4"
    PARAM_LIST@1307..1318
      LParen@1307..1308 "("
      PARAM@1308..1316
        Lident@1308..1309 "p"
        Colon@1309..1310 ":"
        Whitespace@1310..1311 " "
        TYPE_TAPP@1311..1316
          Uident@1311..1316 "Point"
      RParen@1316..1317 ")"
      Whitespace@1317..1318 " "
    Arrow@1318..1320 "->"
    Whitespace@1320..1321 " "
    TYPE_STRING@1321..1328
      StringKeyword@1321..1327 "string"
      Whitespace@1327..1328 " "
    BLOCK@1328..1538
      LBrace@1328..1329 "{"
      Whitespace@1329..1334 "\n    "
      STMT_LET@1334..1365
        LetKeyword@1334..1337 "let"
        Whitespace@1337..1338 " "
        PATTERN_CONSTR@1338..1356
          Uident@1338..1343 "Point"
          Whitespace@1343..1344 " "
          STRUCT_PATTERN_FIELD_LIST@1344..1356
            LBrace@1344..1345 "{"
            Whitespace@1345..1346 " "
            STRUCT_PATTERN_FIELD@1346..1347
              Lident@1346..1347 "x"
            Comma@1347..1348 ","
            Whitespace@1348..1349 " "
            STRUCT_PATTERN_FIELD@1349..1354
              Lident@1349..1350 "y"
              Colon@1350..1351 ":"
              Whitespace@1351..1352 " "
              PATTERN_VARIABLE@1352..1354
                Lident@1352..1353 "y"
                Whitespace@1353..1354 " "
            RBrace@1354..1355 "}"
            Whitespace@1355..1356 " "
        Eq@1356..1357 "="
        Whitespace@1357..1358 " "
        EXPR_LIDENT@1358..1359
          Lident@1358..1359 "p"
        Semi@1359..1360 ";"
        Whitespace@1360..1365 "\n    "
      EXPR_CALL@1365..1535
        EXPR_LIDENT@1365..1375
          Lident@1365..1375 "string_add"
        ARG_LIST@1375..1535
          LParen@1375..1376 "("
          Whitespace@1376..1385 "\n        "
          ARG@1385..1524
            EXPR_CALL@1385..1514
              EXPR_LIDENT@1385..1395
                Lident@1385..1395 "string_add"
              ARG_LIST@1395..1514
                LParen@1395..1396 "("
                Whitespace@1396..1409 "\n            "
                ARG@1409..1466
                  EXPR_CALL@1409..1452
                    EXPR_LIDENT@1409..1419
                      Lident@1409..1419 "string_add"
                    ARG_LIST@1419..1452
                      LParen@1419..1420 "("
                      ARG@1420..1435
                        EXPR_STR@1420..1433
                          Str@1420..1433 "\"Point { x: \""
                        Comma@1433..1434 ","
                        Whitespace@1434..1435 " "
                      ARG@1435..1451
                        EXPR_CALL@1435..1451
                          EXPR_LIDENT@1435..1448
                            Lident@1435..1448 "int_to_string"
                          ARG_LIST@1448..1451
                            LParen@1448..1449 "("
                            ARG@1449..1450
                              EXPR_LIDENT@1449..1450
                                Lident@1449..1450 "x"
                            RParen@1450..1451 ")"
                      RParen@1451..1452 ")"
                  Comma@1452..1453 ","
                  Whitespace@1453..1466 "\n            "
                ARG@1466..1513
                  EXPR_CALL@1466..1503
                    EXPR_LIDENT@1466..1476
                      Lident@1466..1476 "string_add"
                    ARG_LIST@1476..1503
                      LParen@1476..1477 "("
                      ARG@1477..1486
                        EXPR_STR@1477..1484
                          Str@1477..1484 "\", y: \""
                        Comma@1484..1485 ","
                        Whitespace@1485..1486 " "
                      ARG@1486..1502
                        EXPR_CALL@1486..1502
                          EXPR_LIDENT@1486..1499
                            Lident@1486..1499 "int_to_string"
                          ARG_LIST@1499..1502
                            LParen@1499..1500 "("
                            ARG@1500..1501
                              EXPR_LIDENT@1500..1501
                                Lident@1500..1501 "y"
                            RParen@1501..1502 ")"
                      RParen@1502..1503 ")"
                  Comma@1503..1504 ","
                  Whitespace@1504..1513 "\n        "
                RParen@1513..1514 ")"
            Comma@1514..1515 ","
            Whitespace@1515..1524 "\n        "
          ARG@1524..1533
            EXPR_STR@1524..1527
              Str@1524..1527 "\"}\""
            Comma@1527..1528 ","
            Whitespace@1528..1533 "\n    "
          RParen@1533..1534 ")"
          Whitespace@1534..1535 "\n"
      RBrace@1535..1536 "}"
      Whitespace@1536..1538 "\n\n"
  FN@1538..1984
    FnKeyword@1538..1540 "fn"
    Whitespace@1540..1541 " "
    Lident@1541..1545 "main"
    PARAM_LIST@1545..1548
      LParen@1545..1546 "("
      RParen@1546..1547 ")"
      Whitespace@1547..1548 " "
    BLOCK@1548..1984
      LBrace@1548..1549 "{"
      Whitespace@1549..1554 "\n    "
      STMT_LET@1554..1584
        LetKeyword@1554..1557 "let"
        Whitespace@1557..1558 " "
        PATTERN_VARIABLE@1558..1564
          Lident@1558..1563 "start"
          Whitespace@1563..1564 " "
        Eq@1564..1565 "="
        Whitespace@1565..1566 " "
        EXPR_CALL@1566..1578
          EXPR_LIDENT@1566..1576
            Lident@1566..1576 "make_point"
          ARG_LIST@1576..1578
            LParen@1576..1577 "("
            RParen@1577..1578 ")"
        Semi@1578..1579 ";"
        Whitespace@1579..1584 "\n    "
      STMT_LET@1584..1637
        LetKeyword@1584..1587 "let"
        Whitespace@1587..1588 " "
        PATTERN_WILDCARD@1588..1590
          WildcardKeyword@1588..1589 "_"
          Whitespace@1589..1590 " "
        Eq@1590..1591 "="
        Whitespace@1591..1592 " "
        EXPR_CALL@1592..1630
          EXPR_LIDENT@1592..1606
            Lident@1592..1606 "string_println"
          ARG_LIST@1606..1630
            LParen@1606..1607 "("
            ARG@1607..1629
              EXPR_CALL@1607..1629
                EXPR_LIDENT@1607..1622
                  Lident@1607..1622 "point_to_string"
                ARG_LIST@1622..1629
                  LParen@1622..1623 "("
                  ARG@1623..1628
                    EXPR_LIDENT@1623..1628
                      Lident@1623..1628 "start"
                  RParen@1628..1629 ")"
            RParen@1629..1630 ")"
        Semi@1630..1631 ";"
        Whitespace@1631..1637 "\n\n    "
      STMT_LET@1637..1683
        LetKeyword@1637..1640 "let"
        Whitespace@1640..1641 " "
        PATTERN_VARIABLE@1641..1649
          Lident@1641..1648 "swapped"
          Whitespace@1648..1649 " "
        Eq@1649..1650 "="
        Whitespace@1650..1651 " "
        EXPR_CALL@1651..1677
          EXPR_LIDENT@1651..1655
            Lident@1651..1655 "flip"
          ARG_LIST@1655..1677
            LParen@1655..1656 "("
            ARG@1656..1676
              EXPR_STRUCT_LITERAL@1656..1676
                Uident@1656..1661 "Point"
                Whitespace@1661..1662 " "
                STRUCT_LITERAL_FIELD_LIST@1662..1676
                  LBrace@1662..1663 "{"
                  Whitespace@1663..1664 " "
                  STRUCT_LITERAL_FIELD@1664..1668
                    Lident@1664..1665 "y"
                    Colon@1665..1666 ":"
                    Whitespace@1666..1667 " "
                    EXPR_INT@1667..1668
                      Int@1667..1668 "2"
                  Comma@1668..1669 ","
                  Whitespace@1669..1670 " "
                  STRUCT_LITERAL_FIELD@1670..1675
                    Lident@1670..1671 "x"
                    Colon@1671..1672 ":"
                    Whitespace@1672..1673 " "
                    EXPR_INT@1673..1675
                      Int@1673..1674 "1"
                      Whitespace@1674..1675 " "
                  RBrace@1675..1676 "}"
            RParen@1676..1677 ")"
        Semi@1677..1678 ";"
        Whitespace@1678..1683 "\n    "
      STMT_LET@1683..1739
        LetKeyword@1683..1686 "let"
        Whitespace@1686..1687 " "
        PATTERN_WILDCARD@1687..1689
          WildcardKeyword@1687..1688 "_"
          Whitespace@1688..1689 " "
        Eq@1689..1690 "="
        Whitespace@1690..1691 " "
        EXPR_CALL@1691..1732
          EXPR_LIDENT@1691..1705
            Lident@1691..1705 "string_println"
          ARG_LIST@1705..1732
            LParen@1705..1706 "("
            ARG@1706..1731
              EXPR_CALL@1706..1731
                EXPR_LIDENT@1706..1722
                  Lident@1706..1722 "point_to_string2"
                ARG_LIST@1722..1731
                  LParen@1722..1723 "("
                  ARG@1723..1730
                    EXPR_LIDENT@1723..1730
                      Lident@1723..1730 "swapped"
                  RParen@1730..1731 ")"
            RParen@1731..1732 ")"
        Semi@1732..1733 ";"
        Whitespace@1733..1739 "\n\n    "
      STMT_LET@1739..1768
        LetKeyword@1739..1742 "let"
        Whitespace@1742..1743 " "
        PATTERN_VARIABLE@1743..1749
          Lident@1743..1748 "boxed"
          Whitespace@1748..1749 " "
        Eq@1749..1750 "="
        Whitespace@1750..1751 " "
        EXPR_CALL@1751..1762
          EXPR_LIDENT@1751..1759
            Lident@1751..1759 "wrap_int"
          ARG_LIST@1759..1762
            LParen@1759..1760 "("
            ARG@1760..1761
              EXPR_INT@1760..1761
                Int@1760..1761 "3"
            RParen@1761..1762 ")"
        Semi@1762..1763 ";"
        Whitespace@1763..1768 "\n    "
      STMT_LET@1768..1817
        LetKeyword@1768..1771 "let"
        Whitespace@1771..1772 " "
        PATTERN_VARIABLE@1772..1782
          Lident@1772..1781 "point_box"
          Whitespace@1781..1782 " "
        Eq@1782..1783 "="
        Whitespace@1783..1784 " "
        EXPR_STRUCT_LITERAL@1784..1810
          Uident@1784..1791 "Wrapper"
          Whitespace@1791..1792 " "
          STRUCT_LITERAL_FIELD_LIST@1792..1810
            LBrace@1792..1793 "{"
            Whitespace@1793..1794 " "
            STRUCT_LITERAL_FIELD@1794..1809
              Lident@1794..1799 "value"
              Colon@1799..1800 ":"
              Whitespace@1800..1801 " "
              EXPR_LIDENT@1801..1809
                Lident@1801..1808 "swapped"
                Whitespace@1808..1809 " "
            RBrace@1809..1810 "}"
        Semi@1810..1811 ";"
        Whitespace@1811..1817 "\n\n    "
      STMT_LET@1817..1845
        LetKeyword@1817..1820 "let"
        Whitespace@1820..1821 " "
        PATTERN_VARIABLE@1821..1823
          Lident@1821..1822 "a"
          Whitespace@1822..1823 " "
        Eq@1823..1824 "="
        Whitespace@1824..1825 " "
        EXPR_CALL@1825..1839
          EXPR_LIDENT@1825..1832
            Lident@1825..1832 "x_add_1"
          ARG_LIST@1832..1839
            LParen@1832..1833 "("
            ARG@1833..1838
              EXPR_LIDENT@1833..1838
                Lident@1833..1838 "start"
            RParen@1838..1839 ")"
        Semi@1839..1840 ";"
        Whitespace@1840..1845 "\n    "
      STMT_LET@1845..1895
        LetKeyword@1845..1848 "let"
        Whitespace@1848..1849 " "
        PATTERN_WILDCARD@1849..1851
          WildcardKeyword@1849..1850 "_"
          Whitespace@1850..1851 " "
        Eq@1851..1852 "="
        Whitespace@1852..1853 " "
        EXPR_CALL@1853..1888
          EXPR_LIDENT@1853..1867
            Lident@1853..1867 "string_println"
          ARG_LIST@1867..1888
            LParen@1867..1868 "("
            ARG@1868..1887
              EXPR_CALL@1868..1887
                EXPR_LIDENT@1868..1884
                  Lident@1868..1884 "point_to_string3"
                ARG_LIST@1884..1887
                  LParen@1884..1885 "("
                  ARG@1885..1886
                    EXPR_LIDENT@1885..1886
                      Lident@1885..1886 "a"
                  RParen@1886..1887 ")"
            RParen@1887..1888 ")"
        Semi@1888..1889 ";"
        Whitespace@1889..1895 "\n\n    "
      STMT_LET@1895..1929
        LetKeyword@1895..1898 "let"
        Whitespace@1898..1899 " "
        PATTERN_VARIABLE@1899..1901
          Lident@1899..1900 "a"
          Whitespace@1900..1901 " "
        Eq@1901..1902 "="
        Whitespace@1902..1903 " "
        EXPR_CALL@1903..1923
          EXPR_LIDENT@1903..1907
            Lident@1903..1907 "flip"
          ARG_LIST@1907..1923
            LParen@1907..1908 "("
            ARG@1908..1922
              EXPR_CALL@1908..1922
                EXPR_LIDENT@1908..1915
                  Lident@1908..1915 "x_add_1"
                ARG_LIST@1915..1922
                  LParen@1915..1916 "("
                  ARG@1916..1921
                    EXPR_LIDENT@1916..1921
                      Lident@1916..1921 "start"
                  RParen@1921..1922 ")"
            RParen@1922..1923 ")"
        Semi@1923..1924 ";"
        Whitespace@1924..1929 "\n    "
      STMT_LET@1929..1979
        LetKeyword@1929..1932 "let"
        Whitespace@1932..1933 " "
        PATTERN_WILDCARD@1933..1935
          WildcardKeyword@1933..1934 "_"
          Whitespace@1934..1935 " "
        Eq@1935..1936 "="
        Whitespace@1936..1937 " "
        EXPR_CALL@1937..1972
          EXPR_LIDENT@1937..1951
            Lident@1937..1951 "string_println"
          ARG_LIST@1951..1972
            LParen@1951..1952 "("
            ARG@1952..1971
              EXPR_CALL@1952..1971
                EXPR_LIDENT@1952..1968
                  Lident@1952..1968 "point_to_string4"
                ARG_LIST@1968..1971
                  LParen@1968..1969 "("
                  ARG@1969..1970
                    EXPR_LIDENT@1969..1970
                      Lident@1969..1970 "a"
                  RParen@1970..1971 ")"
            RParen@1971..1972 ")"
        Semi@1972..1973 ";"
        Whitespace@1973..1979 "\n\n    "
      EXPR_UNIT@1979..1982
        LParen@1979..1980 "("
        RParen@1980..1981 ")"
        Whitespace@1981..1982 "\n"
      RBrace@1982..1983 "}"
      Whitespace@1983..1984 "\n"