FILE@0..2876
  STRUCT@0..46
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..46
      STRUCT_FIELD@19..27
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..33 "\n    "
      STRUCT_FIELD@33..41
        Ident@33..34 "y"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..41
          Int32Keyword@36..41 "int32"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  STRUCT@46..83
    StructKeyword@46..52 "struct"
    Whitespace@52..53 " "
    Ident@53..60 "Wrapper"
    GENERIC_LIST@60..64
      LBracket@60..61 "["
      GENERIC@61..62
        Ident@61..62 "T"
      RBracket@62..63 "]"
      Whitespace@63..64 " "
    LBrace@64..65 "{"
    Whitespace@65..70 "\n    "
    STRUCT_FIELD_LIST@70..83
      STRUCT_FIELD@70..78
        Ident@70..75 "value"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TYPE_TAPP@77..78
          Ident@77..78 "T"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  ENUM@83..155
    EnumKeyword@83..87 "enum"
    Whitespace@87..88 " "
    Ident@88..93 "Shape"
    GENERIC_LIST@93..97
      LBracket@93..94 "["
      GENERIC@94..95
        Ident@94..95 "T"
      RBracket@95..96 "]"
      Whitespace@96..97 " "
    LBrace@97..98 "{"
    Whitespace@98..103 "\n    "
    VARIANT_LIST@103..155
      VARIANT@103..113
        Ident@103..106 "Dot"
        TYPE_LIST@106..113
          LParen@106..107 "("
          TYPE_TAPP@107..112
            Ident@107..112 "Point"
          RParen@112..113 ")"
      Comma@113..114 ","
      Whitespace@114..119 "\n    "
      VARIANT@119..138
        Ident@119..126 "Wrapped"
        TYPE_LIST@126..138
          LParen@126..127 "("
          TYPE_TAPP@127..137
            Ident@127..134 "Wrapper"
            TYPE_PARAM_LIST@134..137
              LBracket@134..135 "["
              TYPE_TAPP@135..136
                Ident@135..136 "T"
              RBracket@136..137 "]"
          RParen@137..138 ")"
      Comma@138..139 ","
      Whitespace@139..144 "\n    "
      VARIANT@144..150
        Ident@144..150 "Origin"
      Comma@150..151 ","
      Whitespace@151..152 "\n"
      RBrace@152..153 "}"
      Whitespace@153..155 "\n\n"
  FN@155..337
    FnKeyword@155..157 "fn"
    Whitespace@157..158 " "
    Ident@158..168 "bounce_int"
    PARAM_LIST@168..190
      LParen@168..169 "("
      PARAM@169..188
        Ident@169..174 "shape"
        Colon@174..175 ":"
        Whitespace@175..176 " "
        TYPE_TAPP@176..188
          Ident@176..181 "Shape"
          TYPE_PARAM_LIST@181..188
            LBracket@181..182 "["
            TYPE_INT32@182..187
              Int32Keyword@182..187 "int32"
            RBracket@187..188 "]"
      RParen@188..189 ")"
      Whitespace@189..190 " "
    Arrow@190..192 "->"
    Whitespace@192..193 " "
    TYPE_TAPP@193..206
      Ident@193..198 "Shape"
      TYPE_PARAM_LIST@198..206
        LBracket@198..199 "["
        TYPE_INT32@199..204
          Int32Keyword@199..204 "int32"
        RBracket@204..205 "]"
        Whitespace@205..206 " "
    BLOCK@206..337
      LBrace@206..207 "{"
      Whitespace@207..212 "\n    "
      EXPR_MATCH@212..334
        MatchKeyword@212..217 "match"
        Whitespace@217..218 " "
        EXPR_IDENT@218..224
          Ident@218..223 "shape"
          Whitespace@223..224 " "
        MATCH_ARM_LIST@224..334
          LBrace@224..225 "{"
          Whitespace@225..234 "\n        "
          MATCH_ARM@234..258
            PATTERN_CONSTR@234..245
              Ident@234..237 "Dot"
              LParen@237..238 "("
              PATTERN_VARIABLE@238..243
                Ident@238..243 "point"
              RParen@243..244 ")"
              Whitespace@244..245 " "
            FatArrow@245..247 "=>"
            Whitespace@247..248 " "
            EXPR_CALL@248..258
              EXPR_IDENT@248..251
                Ident@248..251 "Dot"
              ARG_LIST@251..258
                LParen@251..252 "("
                ARG@252..257
                  EXPR_IDENT@252..257
                    Ident@252..257 "point"
                RParen@257..258 ")"
          Comma@258..259 ","
          Whitespace@259..268 "\n        "
          MATCH_ARM@268..300
            PATTERN_CONSTR@268..283
              Ident@268..275 "Wrapped"
              LParen@275..276 "("
              PATTERN_VARIABLE@276..281
                Ident@276..281 "inner"
              RParen@281..282 ")"
              Whitespace@282..283 " "
            FatArrow@283..285 "=>"
            Whitespace@285..286 " "
            EXPR_CALL@286..300
              EXPR_IDENT@286..293
                Ident@286..293 "Wrapped"
              ARG_LIST@293..300
                LParen@293..294 "("
                ARG@294..299
                  EXPR_IDENT@294..299
                    Ident@294..299 "inner"
                RParen@299..300 ")"
          Comma@300..301 ","
          Whitespace@301..310 "\n        "
          MATCH_ARM@310..326
            PATTERN_VARIABLE@310..317
              Ident@310..316 "Origin"
              Whitespace@316..317 " "
            FatArrow@317..319 "=>"
            Whitespace@319..320 " "
            EXPR_IDENT@320..326
              Ident@320..326 "Origin"
          Comma@326..327 ","
          Whitespace@327..332 "\n    "
          RBrace@332..333 "}"
          Whitespace@333..334 "\n"
      RBrace@334..335 "}"
      Whitespace@335..337 "\n\n"
  FN@337..411
    FnKeyword@337..339 "fn"
    Whitespace@339..340 " "
    Ident@340..349 "wrap_unit"
    PARAM_LIST@349..372
      LParen@349..350 "("
      PARAM@350..370
        Ident@350..355 "value"
        Colon@355..356 ":"
        Whitespace@356..357 " "
        TYPE_TAPP@357..370
          Ident@357..364 "Wrapper"
          TYPE_PARAM_LIST@364..370
            LBracket@364..365 "["
            TYPE_UNIT@365..369
              UnitKeyword@365..369 "unit"
            RBracket@369..370 "]"
      RParen@370..371 ")"
      Whitespace@371..372 " "
    Arrow@372..374 "->"
    Whitespace@374..375 " "
    TYPE_TAPP@375..387
      Ident@375..380 "Shape"
      TYPE_PARAM_LIST@380..387
        LBracket@380..381 "["
        TYPE_UNIT@381..385
          UnitKeyword@381..385 "unit"
        RBracket@385..386 "]"
        Whitespace@386..387 " "
    BLOCK@387..411
      LBrace@387..388 "{"
      Whitespace@388..393 "\n    "
      EXPR_CALL@393..408
        EXPR_IDENT@393..400
          Ident@393..400 "Wrapped"
        ARG_LIST@400..408
          LParen@400..401 "("
          ARG@401..406
            EXPR_IDENT@401..406
              Ident@401..406 "value"
          RParen@406..407 ")"
          Whitespace@407..408 "\n"
      RBrace@408..409 "}"
      Whitespace@409..411 "\n\n"
  FN@411..577
    FnKeyword@411..413 "fn"
    Whitespace@413..414 " "
    Ident@414..418 "pick"
    PARAM_LIST@418..470
      LParen@418..419 "("
      PARAM@419..431
        Ident@419..423 "flag"
        Colon@423..424 ":"
        Whitespace@424..425 " "
        TYPE_BOOL@425..429
          BoolKeyword@425..429 "bool"
        Comma@429..430 ","
        Whitespace@430..431 " "
      PARAM@431..445
        Ident@431..436 "point"
        Colon@436..437 ":"
        Whitespace@437..438 " "
        TYPE_TAPP@438..443
          Ident@438..443 "Point"
        Comma@443..444 ","
        Whitespace@444..445 " "
      PARAM@445..468
        Ident@445..452 "wrapper"
        Colon@452..453 ":"
        Whitespace@453..454 " "
        TYPE_TAPP@454..468
          Ident@454..461 "Wrapper"
          TYPE_PARAM_LIST@461..468
            LBracket@461..462 "["
            TYPE_INT32@462..467
              Int32Keyword@462..467 "int32"
            RBracket@467..468 "]"
      RParen@468..469 ")"
      Whitespace@469..470 " "
    Arrow@470..472 "->"
    Whitespace@472..473 " "
    TYPE_TAPP@473..486
      Ident@473..478 "Shape"
      TYPE_PARAM_LIST@478..486
        LBracket@478..479 "["
        TYPE_INT32@479..484
          Int32Keyword@479..484 "int32"
        RBracket@484..485 "]"
        Whitespace@485..486 " "
    BLOCK@486..577
      LBrace@486..487 "{"
      Whitespace@487..492 "\n    "
      EXPR_MATCH@492..574
        MatchKeyword@492..497 "match"
        Whitespace@497..498 " "
        EXPR_IDENT@498..503
          Ident@498..502 "flag"
          Whitespace@502..503 " "
        MATCH_ARM_LIST@503..574
          LBrace@503..504 "{"
          Whitespace@504..513 "\n        "
          MATCH_ARM@513..531
            PATTERN_BOOL@513..518
              TrueKeyword@513..517 "true"
              Whitespace@517..518 " "
            FatArrow@518..520 "=>"
            Whitespace@520..521 " "
            EXPR_CALL@521..531
              EXPR_IDENT@521..524
                Ident@521..524 "Dot"
              ARG_LIST@524..531
                LParen@524..525 "("
                ARG@525..530
                  EXPR_IDENT@525..530
                    Ident@525..530 "point"
                RParen@530..531 ")"
          Comma@531..532 ","
          Whitespace@532..541 "\n        "
          MATCH_ARM@541..566
            PATTERN_BOOL@541..547
              FalseKeyword@541..546 "false"
              Whitespace@546..547 " "
            FatArrow@547..549 "=>"
            Whitespace@549..550 " "
            EXPR_CALL@550..566
              EXPR_IDENT@550..557
                Ident@550..557 "Wrapped"
              ARG_LIST@557..566
                LParen@557..558 "("
                ARG@558..565
                  EXPR_IDENT@558..565
                    Ident@558..565 "wrapper"
                RParen@565..566 ")"
          Comma@566..567 ","
          Whitespace@567..572 "\n    "
          RBrace@572..573 "}"
          Whitespace@573..574 "\n"
      RBrace@574..575 "}"
      Whitespace@575..577 "\n\n"
  FN@577..714
    FnKeyword@577..579 "fn"
    Whitespace@579..580 " "
    Ident@580..588 "describe"
    GENERIC_LIST@588..591
      LBracket@588..589 "["
      GENERIC@589..590
        Ident@589..590 "T"
      RBracket@590..591 "]"
    PARAM_LIST@591..609
      LParen@591..592 "("
      PARAM@592..607
        Ident@592..597 "shape"
        Colon@597..598 ":"
        Whitespace@598..599 " "
        TYPE_TAPP@599..607
          Ident@599..604 "Shape"
          TYPE_PARAM_LIST@604..607
            LBracket@604..605 "["
            TYPE_TAPP@605..606
              Ident@605..606 "T"
            RBracket@606..607 "]"
      RParen@607..608 ")"
      Whitespace@608..609 " "
    Arrow@609..611 "->"
    Whitespace@611..612 " "
    TYPE_INT32@612..618
      Int32Keyword@612..617 "int32"
      Whitespace@617..618 " "
    BLOCK@618..714
      LBrace@618..619 "{"
      Whitespace@619..624 "\n    "
      EXPR_MATCH@624..711
        MatchKeyword@624..629 "match"
        Whitespace@629..630 " "
        EXPR_IDENT@630..636
          Ident@630..635 "shape"
          Whitespace@635..636 " "
        MATCH_ARM_LIST@636..711
          LBrace@636..637 "{"
          Whitespace@637..646 "\n        "
          MATCH_ARM@646..657
            PATTERN_CONSTR@646..653
              Ident@646..649 "Dot"
              LParen@649..650 "("
              PATTERN_WILDCARD@650..651
                WildcardKeyword@650..651 "_"
              RParen@651..652 ")"
              Whitespace@652..653 " "
            FatArrow@653..655 "=>"
            Whitespace@655..656 " "
            EXPR_INT@656..657
              Int@656..657 "1"
          Comma@657..658 ","
          Whitespace@658..667 "\n        "
          MATCH_ARM@667..682
            PATTERN_CONSTR@667..678
              Ident@667..674 "Wrapped"
              LParen@674..675 "("
              PATTERN_WILDCARD@675..676
                WildcardKeyword@675..676 "_"
              RParen@676..677 ")"
              Whitespace@677..678 " "
            FatArrow@678..680 "=>"
            Whitespace@680..681 " "
            EXPR_INT@681..682
              Int@681..682 "2"
          Comma@682..683 ","
          Whitespace@683..692 "\n        "
          MATCH_ARM@692..703
            PATTERN_VARIABLE@692..699
              Ident@692..698 "Origin"
              Whitespace@698..699 " "
            FatArrow@699..701 "=>"
            Whitespace@701..702 " "
            EXPR_INT@702..703
              Int@702..703 "0"
          Comma@703..704 ","
          Whitespace@704..709 "\n    "
          RBrace@709..710 "}"
          Whitespace@710..711 "\n"
      RBrace@711..712 "}"
      Whitespace@712..714 "\n\n"
  FN@714..966
    FnKeyword@714..716 "fn"
    Whitespace@716..717 " "
    Ident@717..734 "point32_to_string"
    PARAM_LIST@734..749
      LParen@734..735 "("
      PARAM@735..747
        Ident@735..740 "point"
        Colon@740..741 ":"
        Whitespace@741..742 " "
        TYPE_TAPP@742..747
          Ident@742..747 "Point"
      RParen@747..748 ")"
      Whitespace@748..749 " "
    Arrow@749..751 "->"
    Whitespace@751..752 " "
    TYPE_STRING@752..759
      StringKeyword@752..758 "string"
      Whitespace@758..759 " "
    BLOCK@759..966
      LBrace@759..760 "{"
      Whitespace@760..765 "\n    "
      STMT_LET@765..803
        LetKeyword@765..768 "let"
        Whitespace@768..769 " "
        PATTERN_CONSTR@769..790
          Ident@769..774 "Point"
          Whitespace@774..775 " "
          STRUCT_PATTERN_FIELD_LIST@775..790
            LBrace@775..776 "{"
            Whitespace@776..777 " "
            STRUCT_PATTERN_FIELD@777..781
              Ident@777..778 "x"
              Colon@778..779 ":"
              Whitespace@779..780 " "
              PATTERN_VARIABLE@780..781
                Ident@780..781 "x"
            Comma@781..782 ","
            Whitespace@782..783 " "
            STRUCT_PATTERN_FIELD@783..788
              Ident@783..784 "y"
              Colon@784..785 ":"
              Whitespace@785..786 " "
              PATTERN_VARIABLE@786..788
                Ident@786..787 "y"
                Whitespace@787..788 " "
            RBrace@788..789 "}"
            Whitespace@789..790 " "
        Eq@790..791 "="
        Whitespace@791..792 " "
        EXPR_IDENT@792..797
          Ident@792..797 "point"
        Semi@797..798 ";"
        Whitespace@798..803 "\n    "
      STMT_LET@803..856
        LetKeyword@803..806 "let"
        Whitespace@806..807 " "
        PATTERN_VARIABLE@807..814
          Ident@807..813 "with_x"
          Whitespace@813..814 " "
        Eq@814..815 "="
        Whitespace@815..816 " "
        EXPR_BINARY@816..850
          EXPR_STR@816..830
            Str@816..829 "\"Point { x: \""
            Whitespace@829..830 " "
          Plus@830..831 "+"
          Whitespace@831..832 " "
          EXPR_CALL@832..850
            EXPR_IDENT@832..847
              Ident@832..847 "int32_to_string"
            ARG_LIST@847..850
              LParen@847..848 "("
              ARG@848..849
                EXPR_IDENT@848..849
                  Ident@848..849 "x"
              RParen@849..850 ")"
        Semi@850..851 ";"
        Whitespace@851..856 "\n    "
      STMT_LET@856..897
        LetKeyword@856..859 "let"
        Whitespace@859..860 " "
        PATTERN_VARIABLE@860..873
          Ident@860..872 "with_y_label"
          Whitespace@872..873 " "
        Eq@873..874 "="
        Whitespace@874..875 " "
        EXPR_BINARY@875..891
          EXPR_IDENT@875..882
            Ident@875..881 "with_x"
            Whitespace@881..882 " "
          Plus@882..883 "+"
          Whitespace@883..884 " "
          EXPR_STR@884..891
            Str@884..891 "\", y: \""
        Semi@891..892 ";"
        Whitespace@892..897 "\n    "
      STMT_LET@897..949
        LetKeyword@897..900 "let"
        Whitespace@900..901 " "
        PATTERN_VARIABLE@901..908
          Ident@901..907 "with_y"
          Whitespace@907..908 " "
        Eq@908..909 "="
        Whitespace@909..910 " "
        EXPR_BINARY@910..943
          EXPR_IDENT@910..923
            Ident@910..922 "with_y_label"
            Whitespace@922..923 " "
          Plus@923..924 "+"
          Whitespace@924..925 " "
          EXPR_CALL@925..943
            EXPR_IDENT@925..940
              Ident@925..940 "int32_to_string"
            ARG_LIST@940..943
              LParen@940..941 "("
              ARG@941..942
                EXPR_IDENT@941..942
                  Ident@941..942 "y"
              RParen@942..943 ")"
        Semi@943..944 ";"
        Whitespace@944..949 "\n    "
      EXPR_BINARY@949..963
        EXPR_IDENT@949..956
          Ident@949..955 "with_y"
          Whitespace@955..956 " "
        Plus@956..957 "+"
        Whitespace@957..958 " "
        EXPR_STR@958..963
          Str@958..962 "\" }\""
          Whitespace@962..963 "\n"
      RBrace@963..964 "}"
      Whitespace@964..966 "\n\n"
  FN@966..1165
    FnKeyword@966..968 "fn"
    Whitespace@968..969 " "
    Ident@969..992 "wrapper_int32_to_string"
    PARAM_LIST@992..1018
      LParen@992..993 "("
      PARAM@993..1016
        Ident@993..1000 "wrapper"
        Colon@1000..1001 ":"
        Whitespace@1001..1002 " "
        TYPE_TAPP@1002..1016
          Ident@1002..1009 "Wrapper"
          TYPE_PARAM_LIST@1009..1016
            LBracket@1009..1010 "["
            TYPE_INT32@1010..1015
              Int32Keyword@1010..1015 "int32"
            RBracket@1015..1016 "]"
      RParen@1016..1017 ")"
      Whitespace@1017..1018 " "
    Arrow@1018..1020 "->"
    Whitespace@1020..1021 " "
    TYPE_STRING@1021..1028
      StringKeyword@1021..1027 "string"
      Whitespace@1027..1028 " "
    BLOCK@1028..1165
      LBrace@1028..1029 "{"
      Whitespace@1029..1034 "\n    "
      STMT_LET@1034..1078
        LetKeyword@1034..1037 "let"
        Whitespace@1037..1038 " "
        PATTERN_CONSTR@1038..1063
          Ident@1038..1045 "Wrapper"
          Whitespace@1045..1046 " "
          STRUCT_PATTERN_FIELD_LIST@1046..1063
            LBrace@1046..1047 "{"
            Whitespace@1047..1048 " "
            STRUCT_PATTERN_FIELD@1048..1061
              Ident@1048..1053 "value"
              Colon@1053..1054 ":"
              Whitespace@1054..1055 " "
              PATTERN_VARIABLE@1055..1061
                Ident@1055..1060 "value"
                Whitespace@1060..1061 " "
            RBrace@1061..1062 "}"
            Whitespace@1062..1063 " "
        Eq@1063..1064 "="
        Whitespace@1064..1065 " "
        EXPR_IDENT@1065..1072
          Ident@1065..1072 "wrapper"
        Semi@1072..1073 ";"
        Whitespace@1073..1078 "\n    "
      STMT_LET@1078..1148
        LetKeyword@1078..1081 "let"
        Whitespace@1081..1082 " "
        PATTERN_VARIABLE@1082..1089
          Ident@1082..1088 "prefix"
          Whitespace@1088..1089 " "
        Eq@1089..1090 "="
        Whitespace@1090..1091 " "
        EXPR_BINARY@1091..1142
          EXPR_STR@1091..1118
            Str@1091..1117 "\"Wrapper[int32] { val ..."
            Whitespace@1117..1118 " "
          Plus@1118..1119 "+"
          Whitespace@1119..1120 " "
          EXPR_CALL@1120..1142
            EXPR_IDENT@1120..1135
              Ident@1120..1135 "int32_to_string"
            ARG_LIST@1135..1142
              LParen@1135..1136 "("
              ARG@1136..1141
                EXPR_IDENT@1136..1141
                  Ident@1136..1141 "value"
              RParen@1141..1142 ")"
        Semi@1142..1143 ";"
        Whitespace@1143..1148 "\n    "
      EXPR_BINARY@1148..1162
        EXPR_IDENT@1148..1155
          Ident@1148..1154 "prefix"
          Whitespace@1154..1155 " "
        Plus@1155..1156 "+"
        Whitespace@1156..1157 " "
        EXPR_STR@1157..1162
          Str@1157..1161 "\" }\""
          Whitespace@1161..1162 "\n"
      RBrace@1162..1163 "}"
      Whitespace@1163..1165 "\n\n"
  FN@1165..1360
    FnKeyword@1165..1167 "fn"
    Whitespace@1167..1168 " "
    Ident@1168..1190 "wrapper_unit_to_string"
    PARAM_LIST@1190..1215
      LParen@1190..1191 "("
      PARAM@1191..1213
        Ident@1191..1198 "wrapper"
        Colon@1198..1199 ":"
        Whitespace@1199..1200 " "
        TYPE_TAPP@1200..1213
          Ident@1200..1207 "Wrapper"
          TYPE_PARAM_LIST@1207..1213
            LBracket@1207..1208 "["
            TYPE_UNIT@1208..1212
              UnitKeyword@1208..1212 "unit"
            RBracket@1212..1213 "]"
      RParen@1213..1214 ")"
      Whitespace@1214..1215 " "
    Arrow@1215..1217 "->"
    Whitespace@1217..1218 " "
    TYPE_STRING@1218..1225
      StringKeyword@1218..1224 "string"
      Whitespace@1224..1225 " "
    BLOCK@1225..1360
      LBrace@1225..1226 "{"
      Whitespace@1226..1231 "\n    "
      STMT_LET@1231..1275
        LetKeyword@1231..1234 "let"
        Whitespace@1234..1235 " "
        PATTERN_CONSTR@1235..1260
          Ident@1235..1242 "Wrapper"
          Whitespace@1242..1243 " "
          STRUCT_PATTERN_FIELD_LIST@1243..1260
            LBrace@1243..1244 "{"
            Whitespace@1244..1245 " "
            STRUCT_PATTERN_FIELD@1245..1258
              Ident@1245..1250 "value"
              Colon@1250..1251 ":"
              Whitespace@1251..1252 " "
              PATTERN_VARIABLE@1252..1258
                Ident@1252..1257 "value"
                Whitespace@1257..1258 " "
            RBrace@1258..1259 "}"
            Whitespace@1259..1260 " "
        Eq@1260..1261 "="
        Whitespace@1261..1262 " "
        EXPR_IDENT@1262..1269
          Ident@1262..1269 "wrapper"
        Semi@1269..1270 ";"
        Whitespace@1270..1275 "\n    "
      STMT_LET@1275..1343
        LetKeyword@1275..1278 "let"
        Whitespace@1278..1279 " "
        PATTERN_VARIABLE@1279..1286
          Ident@1279..1285 "prefix"
          Whitespace@1285..1286 " "
        Eq@1286..1287 "="
        Whitespace@1287..1288 " "
        EXPR_BINARY@1288..1337
          EXPR_STR@1288..1314
            Str@1288..1313 "\"Wrapper[unit] { valu ..."
            Whitespace@1313..1314 " "
          Plus@1314..1315 "+"
          Whitespace@1315..1316 " "
          EXPR_CALL@1316..1337
            EXPR_IDENT@1316..1330
              Ident@1316..1330 "unit_to_string"
            ARG_LIST@1330..1337
              LParen@1330..1331 "("
              ARG@1331..1336
                EXPR_IDENT@1331..1336
                  Ident@1331..1336 "value"
              RParen@1336..1337 ")"
        Semi@1337..1338 ";"
        Whitespace@1338..1343 "\n    "
      EXPR_BINARY@1343..1357
        EXPR_IDENT@1343..1350
          Ident@1343..1349 "prefix"
          Whitespace@1349..1350 " "
        Plus@1350..1351 "+"
        Whitespace@1351..1352 " "
        EXPR_STR@1352..1357
          Str@1352..1356 "\" }\""
          Whitespace@1356..1357 "\n"
      RBrace@1357..1358 "}"
      Whitespace@1358..1360 "\n\n"
  FN@1360..1752
    FnKeyword@1360..1362 "fn"
    Whitespace@1362..1363 " "
    Ident@1363..1384 "shape_int32_to_string"
    PARAM_LIST@1384..1406
      LParen@1384..1385 "("
      PARAM@1385..1404
        Ident@1385..1390 "shape"
        Colon@1390..1391 ":"
        Whitespace@1391..1392 " "
        TYPE_TAPP@1392..1404
          Ident@1392..1397 "Shape"
          TYPE_PARAM_LIST@1397..1404
            LBracket@1397..1398 "["
            TYPE_INT32@1398..1403
              Int32Keyword@1398..1403 "int32"
            RBracket@1403..1404 "]"
      RParen@1404..1405 ")"
      Whitespace@1405..1406 " "
    Arrow@1406..1408 "->"
    Whitespace@1408..1409 " "
    TYPE_STRING@1409..1416
      StringKeyword@1409..1415 "string"
      Whitespace@1415..1416 " "
    BLOCK@1416..1752
      LBrace@1416..1417 "{"
      Whitespace@1417..1422 "\n    "
      EXPR_MATCH@1422..1749
        MatchKeyword@1422..1427 "match"
        Whitespace@1427..1428 " "
        EXPR_IDENT@1428..1434
          Ident@1428..1433 "shape"
          Whitespace@1433..1434 " "
        MATCH_ARM_LIST@1434..1749
          LBrace@1434..1435 "{"
          Whitespace@1435..1444 "\n        "
          MATCH_ARM@1444..1561
            PATTERN_CONSTR@1444..1455
              Ident@1444..1447 "Dot"
              LParen@1447..1448 "("
              PATTERN_VARIABLE@1448..1453
                Ident@1448..1453 "point"
              RParen@1453..1454 ")"
              Whitespace@1454..1455 " "
            FatArrow@1455..1457 "=>"
            Whitespace@1457..1458 " "
            BLOCK@1458..1561
              LBrace@1458..1459 "{"
              Whitespace@1459..1472 "\n            "
              STMT_LET@1472..1539
                LetKeyword@1472..1475 "let"
                Whitespace@1475..1476 " "
                PATTERN_VARIABLE@1476..1483
                  Ident@1476..1482 "prefix"
                  Whitespace@1482..1483 " "
                Eq@1483..1484 "="
                Whitespace@1484..1485 " "
                EXPR_BINARY@1485..1525
                  EXPR_STR@1485..1499
                    Str@1485..1498 "\"Shape::Dot(\""
                    Whitespace@1498..1499 " "
                  Plus@1499..1500 "+"
                  Whitespace@1500..1501 " "
                  EXPR_CALL@1501..1525
                    EXPR_IDENT@1501..1518
                      Ident@1501..1518 "point32_to_string"
                    ARG_LIST@1518..1525
                      LParen@1518..1519 "("
                      ARG@1519..1524
                        EXPR_IDENT@1519..1524
                          Ident@1519..1524 "point"
                      RParen@1524..1525 ")"
                Semi@1525..1526 ";"
                Whitespace@1526..1539 "\n            "
              EXPR_BINARY@1539..1560
                EXPR_IDENT@1539..1546
                  Ident@1539..1545 "prefix"
                  Whitespace@1545..1546 " "
                Plus@1546..1547 "+"
                Whitespace@1547..1548 " "
                EXPR_STR@1548..1560
                  Str@1548..1551 "\")\""
                  Whitespace@1551..1560 "\n        "
              RBrace@1560..1561 "}"
          Comma@1561..1562 ","
          Whitespace@1562..1571 "\n        "
          MATCH_ARM@1571..1706
            PATTERN_CONSTR@1571..1588
              Ident@1571..1578 "Wrapped"
              LParen@1578..1579 "("
              PATTERN_VARIABLE@1579..1586
                Ident@1579..1586 "wrapper"
              RParen@1586..1587 ")"
              Whitespace@1587..1588 " "
            FatArrow@1588..1590 "=>"
            Whitespace@1590..1591 " "
            BLOCK@1591..1706
              LBrace@1591..1592 "{"
              Whitespace@1592..1605 "\n            "
              STMT_LET@1605..1684
                LetKeyword@1605..1608 "let"
                Whitespace@1608..1609 " "
                PATTERN_VARIABLE@1609..1616
                  Ident@1609..1615 "prefix"
                  Whitespace@1615..1616 " "
                Eq@1616..1617 "="
                Whitespace@1617..1618 " "
                EXPR_BINARY@1618..1670
                  EXPR_STR@1618..1636
                    Str@1618..1635 "\"Shape::Wrapped(\""
                    Whitespace@1635..1636 " "
                  Plus@1636..1637 "+"
                  Whitespace@1637..1638 " "
                  EXPR_CALL@1638..1670
                    EXPR_IDENT@1638..1661
                      Ident@1638..1661 "wrapper_int32_to_string"
                    ARG_LIST@1661..1670
                      LParen@1661..1662 "("
                      ARG@1662..1669
                        EXPR_IDENT@1662..1669
                          Ident@1662..1669 "wrapper"
                      RParen@1669..1670 ")"
                Semi@1670..1671 ";"
                Whitespace@1671..1684 "\n            "
              EXPR_BINARY@1684..1705
                EXPR_IDENT@1684..1691
                  Ident@1684..1690 "prefix"
                  Whitespace@1690..1691 " "
                Plus@1691..1692 "+"
                Whitespace@1692..1693 " "
                EXPR_STR@1693..1705
                  Str@1693..1696 "\")\""
                  Whitespace@1696..1705 "\n        "
              RBrace@1705..1706 "}"
          Comma@1706..1707 ","
          Whitespace@1707..1716 "\n        "
          MATCH_ARM@1716..1741
            PATTERN_VARIABLE@1716..1723
              Ident@1716..1722 "Origin"
              Whitespace@1722..1723 " "
            FatArrow@1723..1725 "=>"
            Whitespace@1725..1726 " "
            EXPR_STR@1726..1741
              Str@1726..1741 "\"Shape::Origin\""
          Comma@1741..1742 ","
          Whitespace@1742..1747 "\n    "
          RBrace@1747..1748 "}"
          Whitespace@1748..1749 "\n"
      RBrace@1749..1750 "}"
      Whitespace@1750..1752 "\n\n"
  FN@1752..2141
    FnKeyword@1752..1754 "fn"
    Whitespace@1754..1755 " "
    Ident@1755..1775 "shape_unit_to_string"
    PARAM_LIST@1775..1796
      LParen@1775..1776 "("
      PARAM@1776..1794
        Ident@1776..1781 "shape"
        Colon@1781..1782 ":"
        Whitespace@1782..1783 " "
        TYPE_TAPP@1783..1794
          Ident@1783..1788 "Shape"
          TYPE_PARAM_LIST@1788..1794
            LBracket@1788..1789 "["
            TYPE_UNIT@1789..1793
              UnitKeyword@1789..1793 "unit"
            RBracket@1793..1794 "]"
      RParen@1794..1795 ")"
      Whitespace@1795..1796 " "
    Arrow@1796..1798 "->"
    Whitespace@1798..1799 " "
    TYPE_STRING@1799..1806
      StringKeyword@1799..1805 "string"
      Whitespace@1805..1806 " "
    BLOCK@1806..2141
      LBrace@1806..1807 "{"
      Whitespace@1807..1812 "\n    "
      EXPR_MATCH@1812..2138
        MatchKeyword@1812..1817 "match"
        Whitespace@1817..1818 " "
        EXPR_IDENT@1818..1824
          Ident@1818..1823 "shape"
          Whitespace@1823..1824 " "
        MATCH_ARM_LIST@1824..2138
          LBrace@1824..1825 "{"
          Whitespace@1825..1834 "\n        "
          MATCH_ARM@1834..1951
            PATTERN_CONSTR@1834..1845
              Ident@1834..1837 "Dot"
              LParen@1837..1838 "("
              PATTERN_VARIABLE@1838..1843
                Ident@1838..1843 "point"
              RParen@1843..1844 ")"
              Whitespace@1844..1845 " "
            FatArrow@1845..1847 "=>"
            Whitespace@1847..1848 " "
            BLOCK@1848..1951
              LBrace@1848..1849 "{"
              Whitespace@1849..1862 "\n            "
              STMT_LET@1862..1929
                LetKeyword@1862..1865 "let"
                Whitespace@1865..1866 " "
                PATTERN_VARIABLE@1866..1873
                  Ident@1866..1872 "prefix"
                  Whitespace@1872..1873 " "
                Eq@1873..1874 "="
                Whitespace@1874..1875 " "
                EXPR_BINARY@1875..1915
                  EXPR_STR@1875..1889
                    Str@1875..1888 "\"Shape::Dot(\""
                    Whitespace@1888..1889 " "
                  Plus@1889..1890 "+"
                  Whitespace@1890..1891 " "
                  EXPR_CALL@1891..1915
                    EXPR_IDENT@1891..1908
                      Ident@1891..1908 "point32_to_string"
                    ARG_LIST@1908..1915
                      LParen@1908..1909 "("
                      ARG@1909..1914
                        EXPR_IDENT@1909..1914
                          Ident@1909..1914 "point"
                      RParen@1914..1915 ")"
                Semi@1915..1916 ";"
                Whitespace@1916..1929 "\n            "
              EXPR_BINARY@1929..1950
                EXPR_IDENT@1929..1936
                  Ident@1929..1935 "prefix"
                  Whitespace@1935..1936 " "
                Plus@1936..1937 "+"
                Whitespace@1937..1938 " "
                EXPR_STR@1938..1950
                  Str@1938..1941 "\")\""
                  Whitespace@1941..1950 "\n        "
              RBrace@1950..1951 "}"
          Comma@1951..1952 ","
          Whitespace@1952..1961 "\n        "
          MATCH_ARM@1961..2095
            PATTERN_CONSTR@1961..1978
              Ident@1961..1968 "Wrapped"
              LParen@1968..1969 "("
              PATTERN_VARIABLE@1969..1976
                Ident@1969..1976 "wrapper"
              RParen@1976..1977 ")"
              Whitespace@1977..1978 " "
            FatArrow@1978..1980 "=>"
            Whitespace@1980..1981 " "
            BLOCK@1981..2095
              LBrace@1981..1982 "{"
              Whitespace@1982..1995 "\n            "
              STMT_LET@1995..2073
                LetKeyword@1995..1998 "let"
                Whitespace@1998..1999 " "
                PATTERN_VARIABLE@1999..2006
                  Ident@1999..2005 "prefix"
                  Whitespace@2005..2006 " "
                Eq@2006..2007 "="
                Whitespace@2007..2008 " "
                EXPR_BINARY@2008..2059
                  EXPR_STR@2008..2026
                    Str@2008..2025 "\"Shape::Wrapped(\""
                    Whitespace@2025..2026 " "
                  Plus@2026..2027 "+"
                  Whitespace@2027..2028 " "
                  EXPR_CALL@2028..2059
                    EXPR_IDENT@2028..2050
                      Ident@2028..2050 "wrapper_unit_to_string"
                    ARG_LIST@2050..2059
                      LParen@2050..2051 "("
                      ARG@2051..2058
                        EXPR_IDENT@2051..2058
                          Ident@2051..2058 "wrapper"
                      RParen@2058..2059 ")"
                Semi@2059..2060 ";"
                Whitespace@2060..2073 "\n            "
              EXPR_BINARY@2073..2094
                EXPR_IDENT@2073..2080
                  Ident@2073..2079 "prefix"
                  Whitespace@2079..2080 " "
                Plus@2080..2081 "+"
                Whitespace@2081..2082 " "
                EXPR_STR@2082..2094
                  Str@2082..2085 "\")\""
                  Whitespace@2085..2094 "\n        "
              RBrace@2094..2095 "}"
          Comma@2095..2096 ","
          Whitespace@2096..2105 "\n        "
          MATCH_ARM@2105..2130
            PATTERN_VARIABLE@2105..2112
              Ident@2105..2111 "Origin"
              Whitespace@2111..2112 " "
            FatArrow@2112..2114 "=>"
            Whitespace@2114..2115 " "
            EXPR_STR@2115..2130
              Str@2115..2130 "\"Shape::Origin\""
          Comma@2130..2131 ","
          Whitespace@2131..2136 "\n    "
          RBrace@2136..2137 "}"
          Whitespace@2137..2138 "\n"
      RBrace@2138..2139 "}"
      Whitespace@2139..2141 "\n\n"
  FN@2141..2876
    FnKeyword@2141..2143 "fn"
    Whitespace@2143..2144 " "
    Ident@2144..2148 "main"
    PARAM_LIST@2148..2151
      LParen@2148..2149 "("
      RParen@2149..2150 ")"
      Whitespace@2150..2151 " "
    BLOCK@2151..2876
      LBrace@2151..2152 "{"
      Whitespace@2152..2157 "\n    "
      STMT_LET@2157..2217
        LetKeyword@2157..2160 "let"
        Whitespace@2160..2161 " "
        PATTERN_WILDCARD@2161..2163
          WildcardKeyword@2161..2162 "_"
          Whitespace@2162..2163 " "
        Eq@2163..2164 "="
        Whitespace@2164..2165 " "
        EXPR_CALL@2165..2211
          EXPR_IDENT@2165..2179
            Ident@2165..2179 "string_println"
          ARG_LIST@2179..2211
            LParen@2179..2180 "("
            ARG@2180..2210
              EXPR_CALL@2180..2210
                EXPR_IDENT@2180..2197
                  Ident@2180..2197 "point32_to_string"
                ARG_LIST@2197..2210
                  LParen@2197..2198 "("
                  ARG@2198..2209
                    EXPR_CALL@2198..2209
                      EXPR_IDENT@2198..2203
                        Ident@2198..2203 "Point"
                      ARG_LIST@2203..2209
                        LParen@2203..2204 "("
                        ARG@2204..2207
                          EXPR_INT@2204..2205
                            Int@2204..2205 "3"
                          Comma@2205..2206 ","
                          Whitespace@2206..2207 " "
                        ARG@2207..2208
                          EXPR_INT@2207..2208
                            Int@2207..2208 "4"
                        RParen@2208..2209 ")"
                  RParen@2209..2210 ")"
            RParen@2210..2211 ")"
        Semi@2211..2212 ";"
        Whitespace@2212..2217 "\n    "
      STMT_LET@2217..2282
        LetKeyword@2217..2220 "let"
        Whitespace@2220..2221 " "
        PATTERN_WILDCARD@2221..2223
          WildcardKeyword@2221..2222 "_"
          Whitespace@2222..2223 " "
        Eq@2223..2224 "="
        Whitespace@2224..2225 " "
        EXPR_CALL@2225..2276
          EXPR_IDENT@2225..2239
            Ident@2225..2239 "string_println"
          ARG_LIST@2239..2276
            LParen@2239..2240 "("
            ARG@2240..2275
              EXPR_CALL@2240..2275
                EXPR_IDENT@2240..2263
                  Ident@2240..2263 "wrapper_int32_to_string"
                ARG_LIST@2263..2275
                  LParen@2263..2264 "("
                  ARG@2264..2274
                    EXPR_CALL@2264..2274
                      EXPR_IDENT@2264..2271
                        Ident@2264..2271 "Wrapper"
                      ARG_LIST@2271..2274
                        LParen@2271..2272 "("
                        ARG@2272..2273
                          EXPR_INT@2272..2273
                            Int@2272..2273 "7"
                        RParen@2273..2274 ")"
                  RParen@2274..2275 ")"
            RParen@2275..2276 ")"
        Semi@2276..2277 ";"
        Whitespace@2277..2282 "\n    "
      STMT_LET@2282..2348
        LetKeyword@2282..2285 "let"
        Whitespace@2285..2286 " "
        PATTERN_WILDCARD@2286..2288
          WildcardKeyword@2286..2287 "_"
          Whitespace@2287..2288 " "
        Eq@2288..2289 "="
        Whitespace@2289..2290 " "
        EXPR_CALL@2290..2341
          EXPR_IDENT@2290..2304
            Ident@2290..2304 "string_println"
          ARG_LIST@2304..2341
            LParen@2304..2305 "("
            ARG@2305..2340
              EXPR_CALL@2305..2340
                EXPR_IDENT@2305..2327
                  Ident@2305..2327 "wrapper_unit_to_string"
                ARG_LIST@2327..2340
                  LParen@2327..2328 "("
                  ARG@2328..2339
                    EXPR_CALL@2328..2339
                      EXPR_IDENT@2328..2335
                        Ident@2328..2335 "Wrapper"
                      ARG_LIST@2335..2339
                        LParen@2335..2336 "("
                        ARG@2336..2338
                          EXPR_UNIT@2336..2338
                            LParen@2336..2337 "("
                            RParen@2337..2338 ")"
                        RParen@2338..2339 ")"
                  RParen@2339..2340 ")"
            RParen@2340..2341 ")"
        Semi@2341..2342 ";"
        Whitespace@2342..2348 "\n\n    "
      STMT_LET@2348..2393
        LetKeyword@2348..2351 "let"
        Whitespace@2351..2352 " "
        PATTERN_VARIABLE@2352..2367
          Ident@2352..2366 "bounced_origin"
          Whitespace@2366..2367 " "
        Eq@2367..2368 "="
        Whitespace@2368..2369 " "
        EXPR_CALL@2369..2387
          EXPR_IDENT@2369..2379
            Ident@2369..2379 "bounce_int"
          ARG_LIST@2379..2387
            LParen@2379..2380 "("
            ARG@2380..2386
              EXPR_IDENT@2380..2386
                Ident@2380..2386 "Origin"
            RParen@2386..2387 ")"
        Semi@2387..2388 ";"
        Whitespace@2388..2393 "\n    "
      STMT_LET@2393..2462
        LetKeyword@2393..2396 "let"
        Whitespace@2396..2397 " "
        PATTERN_WILDCARD@2397..2399
          WildcardKeyword@2397..2398 "_"
          Whitespace@2398..2399 " "
        Eq@2399..2400 "="
        Whitespace@2400..2401 " "
        EXPR_CALL@2401..2456
          EXPR_IDENT@2401..2415
            Ident@2401..2415 "string_println"
          ARG_LIST@2415..2456
            LParen@2415..2416 "("
            ARG@2416..2455
              EXPR_CALL@2416..2455
                EXPR_IDENT@2416..2437
                  Ident@2416..2437 "shape_int32_to_string"
                ARG_LIST@2437..2455
                  LParen@2437..2438 "("
                  ARG@2438..2454
                    EXPR_CALL@2438..2454
                      EXPR_IDENT@2438..2441
                        Ident@2438..2441 "Dot"
                      ARG_LIST@2441..2454
                        LParen@2441..2442 "("
                        ARG@2442..2453
                          EXPR_CALL@2442..2453
                            EXPR_IDENT@2442..2447
                              Ident@2442..2447 "Point"
                            ARG_LIST@2447..2453
                              LParen@2447..2448 "("
                              ARG@2448..2451
                                EXPR_INT@2448..2449
                                  Int@2448..2449 "3"
                                Comma@2449..2450 ","
                                Whitespace@2450..2451 " "
                              ARG@2451..2452
                                EXPR_INT@2451..2452
                                  Int@2451..2452 "4"
                              RParen@2452..2453 ")"
                        RParen@2453..2454 ")"
                  RParen@2454..2455 ")"
            RParen@2455..2456 ")"
        Semi@2456..2457 ";"
        Whitespace@2457..2462 "\n    "
      STMT_LET@2462..2534
        LetKeyword@2462..2465 "let"
        Whitespace@2465..2466 " "
        PATTERN_WILDCARD@2466..2468
          WildcardKeyword@2466..2467 "_"
          Whitespace@2467..2468 " "
        Eq@2468..2469 "="
        Whitespace@2469..2470 " "
        EXPR_CALL@2470..2528
          EXPR_IDENT@2470..2484
            Ident@2470..2484 "string_println"
          ARG_LIST@2484..2528
            LParen@2484..2485 "("
            ARG@2485..2527
              EXPR_CALL@2485..2527
                EXPR_IDENT@2485..2506
                  Ident@2485..2506 "shape_int32_to_string"
                ARG_LIST@2506..2527
                  LParen@2506..2507 "("
                  ARG@2507..2526
                    EXPR_CALL@2507..2526
                      EXPR_IDENT@2507..2514
                        Ident@2507..2514 "Wrapped"
                      ARG_LIST@2514..2526
                        LParen@2514..2515 "("
                        ARG@2515..2525
                          EXPR_CALL@2515..2525
                            EXPR_IDENT@2515..2522
                              Ident@2515..2522 "Wrapper"
                            ARG_LIST@2522..2525
                              LParen@2522..2523 "("
                              ARG@2523..2524
                                EXPR_INT@2523..2524
                                  Int@2523..2524 "7"
                              RParen@2524..2525 ")"
                        RParen@2525..2526 ")"
                  RParen@2526..2527 ")"
            RParen@2527..2528 ")"
        Semi@2528..2529 ";"
        Whitespace@2529..2534 "\n    "
      STMT_LET@2534..2601
        LetKeyword@2534..2537 "let"
        Whitespace@2537..2538 " "
        PATTERN_WILDCARD@2538..2540
          WildcardKeyword@2538..2539 "_"
          Whitespace@2539..2540 " "
        Eq@2540..2541 "="
        Whitespace@2541..2542 " "
        EXPR_CALL@2542..2595
          EXPR_IDENT@2542..2556
            Ident@2542..2556 "string_println"
          ARG_LIST@2556..2595
            LParen@2556..2557 "("
            ARG@2557..2594
              EXPR_CALL@2557..2594
                EXPR_IDENT@2557..2578
                  Ident@2557..2578 "shape_int32_to_string"
                ARG_LIST@2578..2594
                  LParen@2578..2579 "("
                  ARG@2579..2593
                    EXPR_IDENT@2579..2593
                      Ident@2579..2593 "bounced_origin"
                  RParen@2593..2594 ")"
            RParen@2594..2595 ")"
        Semi@2595..2596 ";"
        Whitespace@2596..2601 "\n    "
      STMT_LET@2601..2669
        LetKeyword@2601..2604 "let"
        Whitespace@2604..2605 " "
        PATTERN_WILDCARD@2605..2607
          WildcardKeyword@2605..2606 "_"
          Whitespace@2606..2607 " "
        Eq@2607..2608 "="
        Whitespace@2608..2609 " "
        EXPR_CALL@2609..2663
          EXPR_IDENT@2609..2623
            Ident@2609..2623 "string_println"
          ARG_LIST@2623..2663
            LParen@2623..2624 "("
            ARG@2624..2662
              EXPR_CALL@2624..2662
                EXPR_IDENT@2624..2644
                  Ident@2624..2644 "shape_unit_to_string"
                ARG_LIST@2644..2662
                  LParen@2644..2645 "("
                  ARG@2645..2661
                    EXPR_CALL@2645..2661
                      EXPR_IDENT@2645..2648
                        Ident@2645..2648 "Dot"
                      ARG_LIST@2648..2661
                        LParen@2648..2649 "("
                        ARG@2649..2660
                          EXPR_CALL@2649..2660
                            EXPR_IDENT@2649..2654
                              Ident@2649..2654 "Point"
                            ARG_LIST@2654..2660
                              LParen@2654..2655 "("
                              ARG@2655..2658
                                EXPR_INT@2655..2656
                                  Int@2655..2656 "3"
                                Comma@2656..2657 ","
                                Whitespace@2657..2658 " "
                              ARG@2658..2659
                                EXPR_INT@2658..2659
                                  Int@2658..2659 "4"
                              RParen@2659..2660 ")"
                        RParen@2660..2661 ")"
                  RParen@2661..2662 ")"
            RParen@2662..2663 ")"
        Semi@2663..2664 ";"
        Whitespace@2664..2669 "\n    "
      STMT_LET@2669..2741
        LetKeyword@2669..2672 "let"
        Whitespace@2672..2673 " "
        PATTERN_WILDCARD@2673..2675
          WildcardKeyword@2673..2674 "_"
          Whitespace@2674..2675 " "
        Eq@2675..2676 "="
        Whitespace@2676..2677 " "
        EXPR_CALL@2677..2735
          EXPR_IDENT@2677..2691
            Ident@2677..2691 "string_println"
          ARG_LIST@2691..2735
            LParen@2691..2692 "("
            ARG@2692..2734
              EXPR_CALL@2692..2734
                EXPR_IDENT@2692..2712
                  Ident@2692..2712 "shape_unit_to_string"
                ARG_LIST@2712..2734
                  LParen@2712..2713 "("
                  ARG@2713..2733
                    EXPR_CALL@2713..2733
                      EXPR_IDENT@2713..2720
                        Ident@2713..2720 "Wrapped"
                      ARG_LIST@2720..2733
                        LParen@2720..2721 "("
                        ARG@2721..2732
                          EXPR_CALL@2721..2732
                            EXPR_IDENT@2721..2728
                              Ident@2721..2728 "Wrapper"
                            ARG_LIST@2728..2732
                              LParen@2728..2729 "("
                              ARG@2729..2731
                                EXPR_UNIT@2729..2731
                                  LParen@2729..2730 "("
                                  RParen@2730..2731 ")"
                              RParen@2731..2732 ")"
                        RParen@2732..2733 ")"
                  RParen@2733..2734 ")"
            RParen@2734..2735 ")"
        Semi@2735..2736 ";"
        Whitespace@2736..2741 "\n    "
      STMT_LET@2741..2800
        LetKeyword@2741..2744 "let"
        Whitespace@2744..2745 " "
        PATTERN_WILDCARD@2745..2747
          WildcardKeyword@2745..2746 "_"
          Whitespace@2746..2747 " "
        Eq@2747..2748 "="
        Whitespace@2748..2749 " "
        EXPR_CALL@2749..2793
          EXPR_IDENT@2749..2763
            Ident@2749..2763 "string_println"
          ARG_LIST@2763..2793
            LParen@2763..2764 "("
            ARG@2764..2792
              EXPR_CALL@2764..2792
                EXPR_IDENT@2764..2784
                  Ident@2764..2784 "shape_unit_to_string"
                ARG_LIST@2784..2792
                  LParen@2784..2785 "("
                  ARG@2785..2791
                    EXPR_IDENT@2785..2791
                      Ident@2785..2791 "Origin"
                  RParen@2791..2792 ")"
            RParen@2792..2793 ")"
        Semi@2793..2794 ";"
        Whitespace@2794..2800 "\n\n    "
      STMT_LET@2800..2842
        LetKeyword@2800..2803 "let"
        Whitespace@2803..2804 " "
        PATTERN_WILDCARD@2804..2806
          WildcardKeyword@2804..2805 "_"
          Whitespace@2805..2806 " "
        Eq@2806..2807 "="
        Whitespace@2807..2808 " "
        EXPR_CALL@2808..2836
          EXPR_IDENT@2808..2816
            Ident@2808..2816 "describe"
          ARG_LIST@2816..2836
            LParen@2816..2817 "("
            ARG@2817..2835
              EXPR_CALL@2817..2835
                EXPR_IDENT@2817..2827
                  Ident@2817..2827 "bounce_int"
                ARG_LIST@2827..2835
                  LParen@2827..2828 "("
                  ARG@2828..2834
                    EXPR_IDENT@2828..2834
                      Ident@2828..2834 "Origin"
                  RParen@2834..2835 ")"
            RParen@2835..2836 ")"
        Semi@2836..2837 ";"
        Whitespace@2837..2842 "\n    "
      EXPR_CALL@2842..2874
        EXPR_IDENT@2842..2856
          Ident@2842..2856 "string_println"
        ARG_LIST@2856..2874
          LParen@2856..2857 "("
          ARG@2857..2872
            EXPR_STR@2857..2872
              Str@2857..2872 "\"struct enums!\""
          RParen@2872..2873 ")"
          Whitespace@2873..2874 "\n"
      RBrace@2874..2875 "}"
      Whitespace@2875..2876 "\n"