FILE@0..864
  FN@0..92
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..12 "match_int"
    PARAM_LIST@12..23
      LParen@12..13 "("
      PARAM@13..21
        Lident@13..14 "n"
        Colon@14..15 ":"
        Whitespace@15..16 " "
        TYPE_INT32@16..21
          Int32Keyword@16..21 "int32"
      RParen@21..22 ")"
      Whitespace@22..23 " "
    Arrow@23..25 "->"
    Whitespace@25..26 " "
    TYPE_INT32@26..32
      Int32Keyword@26..31 "int32"
      Whitespace@31..32 " "
    BLOCK@32..92
      LBrace@32..33 "{"
      Whitespace@33..36 "\n  "
      EXPR_MATCH@36..89
        MatchKeyword@36..41 "match"
        Whitespace@41..42 " "
        EXPR_LIDENT@42..44
          Lident@42..43 "n"
          Whitespace@43..44 " "
        MATCH_ARM_LIST@44..89
          LBrace@44..45 "{"
          Whitespace@45..50 "\n    "
          MATCH_ARM@50..57
            PATTERN_INT@50..52
              Int@50..51 "0"
              Whitespace@51..52 " "
            FatArrow@52..54 "=>"
            Whitespace@54..55 " "
            EXPR_INT@55..57
              Int@55..57 "10"
          Comma@57..58 ","
          Whitespace@58..63 "\n    "
          MATCH_ARM@63..70
            PATTERN_INT@63..65
              Int@63..64 "1"
              Whitespace@64..65 " "
            FatArrow@65..67 "=>"
            Whitespace@67..68 " "
            EXPR_INT@68..70
              Int@68..70 "20"
          Comma@70..71 ","
          Whitespace@71..76 "\n    "
          MATCH_ARM@76..83
            PATTERN_WILDCARD@76..78
              WildcardKeyword@76..77 "_"
              Whitespace@77..78 " "
            FatArrow@78..80 "=>"
            Whitespace@80..81 " "
            EXPR_INT@81..83
              Int@81..83 "30"
          Comma@83..84 ","
          Whitespace@84..87 "\n  "
          RBrace@87..88 "}"
          Whitespace@88..89 "\n"
      RBrace@89..90 "}"
      Whitespace@90..92 "\n\n"
  FN@92..176
    FnKeyword@92..94 "fn"
    Whitespace@94..95 " "
    Lident@95..109 "wildcard_first"
    PARAM_LIST@109..120
      LParen@109..110 "("
      PARAM@110..118
        Lident@110..111 "n"
        Colon@111..112 ":"
        Whitespace@112..113 " "
        TYPE_INT32@113..118
          Int32Keyword@113..118 "int32"
      RParen@118..119 ")"
      Whitespace@119..120 " "
    Arrow@120..122 "->"
    Whitespace@122..123 " "
    TYPE_INT32@123..129
      Int32Keyword@123..128 "int32"
      Whitespace@128..129 " "
    BLOCK@129..176
      LBrace@129..130 "{"
      Whitespace@130..133 "\n  "
      EXPR_MATCH@133..173
        MatchKeyword@133..138 "match"
        Whitespace@138..139 " "
        EXPR_LIDENT@139..141
          Lident@139..140 "n"
          Whitespace@140..141 " "
        MATCH_ARM_LIST@141..173
          LBrace@141..142 "{"
          Whitespace@142..147 "\n    "
          MATCH_ARM@147..154
            PATTERN_WILDCARD@147..149
              WildcardKeyword@147..148 "_"
              Whitespace@148..149 " "
            FatArrow@149..151 "=>"
            Whitespace@151..152 " "
            EXPR_INT@152..154
              Int@152..154 "40"
          Comma@154..155 ","
          Whitespace@155..160 "\n    "
          MATCH_ARM@160..167
            PATTERN_INT@160..162
              Int@160..161 "0"
              Whitespace@161..162 " "
            FatArrow@162..164 "=>"
            Whitespace@164..165 " "
            EXPR_INT@165..167
              Int@165..167 "50"
          Comma@167..168 ","
          Whitespace@168..171 "\n  "
          RBrace@171..172 "}"
          Whitespace@172..173 "\n"
      RBrace@173..174 "}"
      Whitespace@174..176 "\n\n"
  FN@176..276
    FnKeyword@176..178 "fn"
    Whitespace@178..179 " "
    Lident@179..194 "wildcard_middle"
    PARAM_LIST@194..205
      LParen@194..195 "("
      PARAM@195..203
        Lident@195..196 "n"
        Colon@196..197 ":"
        Whitespace@197..198 " "
        TYPE_INT32@198..203
          Int32Keyword@198..203 "int32"
      RParen@203..204 ")"
      Whitespace@204..205 " "
    Arrow@205..207 "->"
    Whitespace@207..208 " "
    TYPE_INT32@208..214
      Int32Keyword@208..213 "int32"
      Whitespace@213..214 " "
    BLOCK@214..276
      LBrace@214..215 "{"
      Whitespace@215..218 "\n  "
      EXPR_MATCH@218..273
        MatchKeyword@218..223 "match"
        Whitespace@223..224 " "
        EXPR_LIDENT@224..226
          Lident@224..225 "n"
          Whitespace@225..226 " "
        MATCH_ARM_LIST@226..273
          LBrace@226..227 "{"
          Whitespace@227..232 "\n    "
          MATCH_ARM@232..239
            PATTERN_INT@232..234
              Int@232..233 "2"
              Whitespace@233..234 " "
            FatArrow@234..236 "=>"
            Whitespace@236..237 " "
            EXPR_INT@237..239
              Int@237..239 "90"
          Comma@239..240 ","
          Whitespace@240..245 "\n    "
          MATCH_ARM@245..253
            PATTERN_WILDCARD@245..247
              WildcardKeyword@245..246 "_"
              Whitespace@246..247 " "
            FatArrow@247..249 "=>"
            Whitespace@249..250 " "
            EXPR_INT@250..253
              Int@250..253 "100"
          Comma@253..254 ","
          Whitespace@254..259 "\n    "
          MATCH_ARM@259..267
            PATTERN_INT@259..261
              Int@259..260 "3"
              Whitespace@260..261 " "
            FatArrow@261..263 "=>"
            Whitespace@263..264 " "
            EXPR_INT@264..267
              Int@264..267 "110"
          Comma@267..268 ","
          Whitespace@268..271 "\n  "
          RBrace@271..272 "}"
          Whitespace@272..273 "\n"
      RBrace@273..274 "}"
      Whitespace@274..276 "\n\n"
  FN@276..367
    FnKeyword@276..278 "fn"
    Whitespace@278..279 " "
    Lident@279..287 "repeated"
    PARAM_LIST@287..298
      LParen@287..288 "("
      PARAM@288..296
        Lident@288..289 "n"
        Colon@289..290 ":"
        Whitespace@290..291 " "
        TYPE_INT32@291..296
          Int32Keyword@291..296 "int32"
      RParen@296..297 ")"
      Whitespace@297..298 " "
    Arrow@298..300 "->"
    Whitespace@300..301 " "
    TYPE_INT32@301..307
      Int32Keyword@301..306 "int32"
      Whitespace@306..307 " "
    BLOCK@307..367
      LBrace@307..308 "{"
      Whitespace@308..311 "\n  "
      EXPR_MATCH@311..364
        MatchKeyword@311..316 "match"
        Whitespace@316..317 " "
        EXPR_LIDENT@317..319
          Lident@317..318 "n"
          Whitespace@318..319 " "
        MATCH_ARM_LIST@319..364
          LBrace@319..320 "{"
          Whitespace@320..325 "\n    "
          MATCH_ARM@325..332
            PATTERN_INT@325..327
              Int@325..326 "1"
              Whitespace@326..327 " "
            FatArrow@327..329 "=>"
            Whitespace@329..330 " "
            EXPR_INT@330..332
              Int@330..332 "60"
          Comma@332..333 ","
          Whitespace@333..338 "\n    "
          MATCH_ARM@338..345
            PATTERN_INT@338..340
              Int@338..339 "1"
              Whitespace@339..340 " "
            FatArrow@340..342 "=>"
            Whitespace@342..343 " "
            EXPR_INT@343..345
              Int@343..345 "70"
          Comma@345..346 ","
          Whitespace@346..351 "\n    "
          MATCH_ARM@351..358
            PATTERN_WILDCARD@351..353
              WildcardKeyword@351..352 "_"
              Whitespace@352..353 " "
            FatArrow@353..355 "=>"
            Whitespace@355..356 " "
            EXPR_INT@356..358
              Int@356..358 "80"
          Comma@358..359 ","
          Whitespace@359..362 "\n  "
          RBrace@362..363 "}"
          Whitespace@363..364 "\n"
      RBrace@364..365 "}"
      Whitespace@365..367 "\n\n"
  FN@367..864
    FnKeyword@367..369 "fn"
    Whitespace@369..370 " "
    Lident@370..374 "main"
    PARAM_LIST@374..377
      LParen@374..375 "("
      RParen@375..376 ")"
      Whitespace@376..377 " "
    BLOCK@377..864
      LBrace@377..378 "{"
      Whitespace@378..383 "\n    "
      STMT_LET@383..442
        LetKeyword@383..386 "let"
        Whitespace@386..387 " "
        PATTERN_WILDCARD@387..389
          WildcardKeyword@387..388 "_"
          Whitespace@388..389 " "
        Eq@389..390 "="
        Whitespace@390..391 " "
        EXPR_CALL@391..436
          EXPR_LIDENT@391..405
            Lident@391..405 "string_println"
          ARG_LIST@405..436
            LParen@405..406 "("
            ARG@406..435
              EXPR_CALL@406..435
                EXPR_LIDENT@406..421
                  Lident@406..421 "int32_to_string"
                ARG_LIST@421..435
                  LParen@421..422 "("
                  ARG@422..434
                    EXPR_CALL@422..434
                      EXPR_LIDENT@422..431
                        Lident@422..431 "match_int"
                      ARG_LIST@431..434
                        LParen@431..432 "("
                        ARG@432..433
                          EXPR_INT@432..433
                            Int@432..433 "0"
                        RParen@433..434 ")"
                  RParen@434..435 ")"
            RParen@435..436 ")"
        Semi@436..437 ";"
        Whitespace@437..442 "\n    "
      STMT_LET@442..501
        LetKeyword@442..445 "let"
        Whitespace@445..446 " "
        PATTERN_WILDCARD@446..448
          WildcardKeyword@446..447 "_"
          Whitespace@447..448 " "
        Eq@448..449 "="
        Whitespace@449..450 " "
        EXPR_CALL@450..495
          EXPR_LIDENT@450..464
            Lident@450..464 "string_println"
          ARG_LIST@464..495
            LParen@464..465 "("
            ARG@465..494
              EXPR_CALL@465..494
                EXPR_LIDENT@465..480
                  Lident@465..480 "int32_to_string"
                ARG_LIST@480..494
                  LParen@480..481 "("
                  ARG@481..493
                    EXPR_CALL@481..493
                      EXPR_LIDENT@481..490
                        Lident@481..490 "match_int"
                      ARG_LIST@490..493
                        LParen@490..491 "("
                        ARG@491..492
                          EXPR_INT@491..492
                            Int@491..492 "5"
                        RParen@492..493 ")"
                  RParen@493..494 ")"
            RParen@494..495 ")"
        Semi@495..496 ";"
        Whitespace@496..501 "\n    "
      STMT_LET@501..565
        LetKeyword@501..504 "let"
        Whitespace@504..505 " "
        PATTERN_WILDCARD@505..507
          WildcardKeyword@505..506 "_"
          Whitespace@506..507 " "
        Eq@507..508 "="
        Whitespace@508..509 " "
        EXPR_CALL@509..559
          EXPR_LIDENT@509..523
            Lident@509..523 "string_println"
          ARG_LIST@523..559
            LParen@523..524 "("
            ARG@524..558
              EXPR_CALL@524..558
                EXPR_LIDENT@524..539
                  Lident@524..539 "int32_to_string"
                ARG_LIST@539..558
                  LParen@539..540 "("
                  ARG@540..557
                    EXPR_CALL@540..557
                      EXPR_LIDENT@540..554
                        Lident@540..554 "wildcard_first"
                      ARG_LIST@554..557
                        LParen@554..555 "("
                        ARG@555..556
                          EXPR_INT@555..556
                            Int@555..556 "0"
                        RParen@556..557 ")"
                  RParen@557..558 ")"
            RParen@558..559 ")"
        Semi@559..560 ";"
        Whitespace@560..565 "\n    "
      STMT_LET@565..629
        LetKeyword@565..568 "let"
        Whitespace@568..569 " "
        PATTERN_WILDCARD@569..571
          WildcardKeyword@569..570 "_"
          Whitespace@570..571 " "
        Eq@571..572 "="
        Whitespace@572..573 " "
        EXPR_CALL@573..623
          EXPR_LIDENT@573..587
            Lident@573..587 "string_println"
          ARG_LIST@587..623
            LParen@587..588 "("
            ARG@588..622
              EXPR_CALL@588..622
                EXPR_LIDENT@588..603
                  Lident@588..603 "int32_to_string"
                ARG_LIST@603..622
                  LParen@603..604 "("
                  ARG@604..621
                    EXPR_CALL@604..621
                      EXPR_LIDENT@604..618
                        Lident@604..618 "wildcard_first"
                      ARG_LIST@618..621
                        LParen@618..619 "("
                        ARG@619..620
                          EXPR_INT@619..620
                            Int@619..620 "2"
                        RParen@620..621 ")"
                  RParen@621..622 ")"
            RParen@622..623 ")"
        Semi@623..624 ";"
        Whitespace@624..629 "\n    "
      STMT_LET@629..694
        LetKeyword@629..632 "let"
        Whitespace@632..633 " "
        PATTERN_WILDCARD@633..635
          WildcardKeyword@633..634 "_"
          Whitespace@634..635 " "
        Eq@635..636 "="
        Whitespace@636..637 " "
        EXPR_CALL@637..688
          EXPR_LIDENT@637..651
            Lident@637..651 "string_println"
          ARG_LIST@651..688
            LParen@651..652 "("
            ARG@652..687
              EXPR_CALL@652..687
                EXPR_LIDENT@652..667
                  Lident@652..667 "int32_to_string"
                ARG_LIST@667..687
                  LParen@667..668 "("
                  ARG@668..686
                    EXPR_CALL@668..686
                      EXPR_LIDENT@668..683
                        Lident@668..683 "wildcard_middle"
                      ARG_LIST@683..686
                        LParen@683..684 "("
                        ARG@684..685
                          EXPR_INT@684..685
                            Int@684..685 "2"
                        RParen@685..686 ")"
                  RParen@686..687 ")"
            RParen@687..688 ")"
        Semi@688..689 ";"
        Whitespace@689..694 "\n    "
      STMT_LET@694..759
        LetKeyword@694..697 "let"
        Whitespace@697..698 " "
        PATTERN_WILDCARD@698..700
          WildcardKeyword@698..699 "_"
          Whitespace@699..700 " "
        Eq@700..701 "="
        Whitespace@701..702 " "
        EXPR_CALL@702..753
          EXPR_LIDENT@702..716
            Lident@702..716 "string_println"
          ARG_LIST@716..753
            LParen@716..717 "("
            ARG@717..752
              EXPR_CALL@717..752
                EXPR_LIDENT@717..732
                  Lident@717..732 "int32_to_string"
                ARG_LIST@732..752
                  LParen@732..733 "("
                  ARG@733..751
                    EXPR_CALL@733..751
                      EXPR_LIDENT@733..748
                        Lident@733..748 "wildcard_middle"
                      ARG_LIST@748..751
                        LParen@748..749 "("
                        ARG@749..750
                          EXPR_INT@749..750
                            Int@749..750 "3"
                        RParen@750..751 ")"
                  RParen@751..752 ")"
            RParen@752..753 ")"
        Semi@753..754 ";"
        Whitespace@754..759 "\n    "
      STMT_LET@759..817
        LetKeyword@759..762 "let"
        Whitespace@762..763 " "
        PATTERN_WILDCARD@763..765
          WildcardKeyword@763..764 "_"
          Whitespace@764..765 " "
        Eq@765..766 "="
        Whitespace@766..767 " "
        EXPR_CALL@767..811
          EXPR_LIDENT@767..781
            Lident@767..781 "string_println"
          ARG_LIST@781..811
            LParen@781..782 "("
            ARG@782..810
              EXPR_CALL@782..810
                EXPR_LIDENT@782..797
                  Lident@782..797 "int32_to_string"
                ARG_LIST@797..810
                  LParen@797..798 "("
                  ARG@798..809
                    EXPR_CALL@798..809
                      EXPR_LIDENT@798..806
                        Lident@798..806 "repeated"
                      ARG_LIST@806..809
                        LParen@806..807 "("
                        ARG@807..808
                          EXPR_INT@807..808
                            Int@807..808 "1"
                        RParen@808..809 ")"
                  RParen@809..810 ")"
            RParen@810..811 ")"
        Semi@811..812 ";"
        Whitespace@812..817 "\n    "
      EXPR_CALL@817..862
        EXPR_LIDENT@817..831
          Lident@817..831 "string_println"
        ARG_LIST@831..862
          LParen@831..832 "("
          ARG@832..860
            EXPR_CALL@832..860
              EXPR_LIDENT@832..847
                Lident@832..847 "int32_to_string"
              ARG_LIST@847..860
                LParen@847..848 "("
                ARG@848..859
                  EXPR_CALL@848..859
                    EXPR_LIDENT@848..856
                      Lident@848..856 "repeated"
                    ARG_LIST@856..859
                      LParen@856..857 "("
                      ARG@857..858
                        EXPR_INT@857..858
                          Int@857..858 "3"
                      RParen@858..859 ")"
                RParen@859..860 ")"
          RParen@860..861 ")"
          Whitespace@861..862 "\n"
      RBrace@862..863 "}"
      Whitespace@863..864 "\n"