FILE@0..714
  FN@0..103
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..15 "match_string"
    PARAM_LIST@15..27
      LParen@15..16 "("
      PARAM@16..25
        Lident@16..17 "s"
        Colon@17..18 ":"
        Whitespace@18..19 " "
        TYPE_STRING@19..25
          StringKeyword@19..25 "string"
      RParen@25..26 ")"
      Whitespace@26..27 " "
    Arrow@27..29 "->"
    Whitespace@29..30 " "
    TYPE_INT@30..34
      IntKeyword@30..33 "int"
      Whitespace@33..34 " "
    BLOCK@34..103
      LBrace@34..35 "{"
      Whitespace@35..38 "\n  "
      EXPR_MATCH@38..100
        MatchKeyword@38..43 "match"
        Whitespace@43..44 " "
        EXPR_LIDENT@44..46
          Lident@44..45 "s"
          Whitespace@45..46 " "
        MATCH_ARM_LIST@46..100
          LBrace@46..47 "{"
          Whitespace@47..52 "\n    "
          MATCH_ARM@52..64
            PATTERN_STRING@52..60
              Str@52..59 "\"hello\""
              Whitespace@59..60 " "
            FatArrow@60..62 "=>"
            Whitespace@62..63 " "
            EXPR_INT@63..64
              Int@63..64 "1"
          Comma@64..65 ","
          Whitespace@65..70 "\n    "
          MATCH_ARM@70..82
            PATTERN_STRING@70..78
              Str@70..77 "\"world\""
              Whitespace@77..78 " "
            FatArrow@78..80 "=>"
            Whitespace@80..81 " "
            EXPR_INT@81..82
              Int@81..82 "2"
          Comma@82..83 ","
          Whitespace@83..88 "\n    "
          MATCH_ARM@88..94
            PATTERN_WILDCARD@88..90
              WildcardKeyword@88..89 "_"
              Whitespace@89..90 " "
            FatArrow@90..92 "=>"
            Whitespace@92..93 " "
            EXPR_INT@93..94
              Int@93..94 "3"
          Comma@94..95 ","
          Whitespace@95..98 "\n  "
          RBrace@98..99 "}"
          Whitespace@99..100 "\n"
      RBrace@100..101 "}"
      Whitespace@101..103 "\n\n"
  FN@103..193
    FnKeyword@103..105 "fn"
    Whitespace@105..106 " "
    Lident@106..123 "wildcard_position"
    PARAM_LIST@123..135
      LParen@123..124 "("
      PARAM@124..133
        Lident@124..125 "s"
        Colon@125..126 ":"
        Whitespace@126..127 " "
        TYPE_STRING@127..133
          StringKeyword@127..133 "string"
      RParen@133..134 ")"
      Whitespace@134..135 " "
    Arrow@135..137 "->"
    Whitespace@137..138 " "
    TYPE_INT@138..142
      IntKeyword@138..141 "int"
      Whitespace@141..142 " "
    BLOCK@142..193
      LBrace@142..143 "{"
      Whitespace@143..146 "\n  "
      EXPR_MATCH@146..190
        MatchKeyword@146..151 "match"
        Whitespace@151..152 " "
        EXPR_LIDENT@152..154
          Lident@152..153 "s"
          Whitespace@153..154 " "
        MATCH_ARM_LIST@154..190
          LBrace@154..155 "{"
          Whitespace@155..160 "\n    "
          MATCH_ARM@160..166
            PATTERN_WILDCARD@160..162
              WildcardKeyword@160..161 "_"
              Whitespace@161..162 " "
            FatArrow@162..164 "=>"
            Whitespace@164..165 " "
            EXPR_INT@165..166
              Int@165..166 "4"
          Comma@166..167 ","
          Whitespace@167..172 "\n    "
          MATCH_ARM@172..184
            PATTERN_STRING@172..180
              Str@172..179 "\"world\""
              Whitespace@179..180 " "
            FatArrow@180..182 "=>"
            Whitespace@182..183 " "
            EXPR_INT@183..184
              Int@183..184 "5"
          Comma@184..185 ","
          Whitespace@185..188 "\n  "
          RBrace@188..189 "}"
          Whitespace@189..190 "\n"
      RBrace@190..191 "}"
      Whitespace@191..193 "\n\n"
  FN@193..299
    FnKeyword@193..195 "fn"
    Whitespace@195..196 " "
    Lident@196..211 "repeated_string"
    PARAM_LIST@211..223
      LParen@211..212 "("
      PARAM@212..221
        Lident@212..213 "s"
        Colon@213..214 ":"
        Whitespace@214..215 " "
        TYPE_STRING@215..221
          StringKeyword@215..221 "string"
      RParen@221..222 ")"
      Whitespace@222..223 " "
    Arrow@223..225 "->"
    Whitespace@225..226 " "
    TYPE_INT@226..230
      IntKeyword@226..229 "int"
      Whitespace@229..230 " "
    BLOCK@230..299
      LBrace@230..231 "{"
      Whitespace@231..234 "\n  "
      EXPR_MATCH@234..296
        MatchKeyword@234..239 "match"
        Whitespace@239..240 " "
        EXPR_LIDENT@240..242
          Lident@240..241 "s"
          Whitespace@241..242 " "
        MATCH_ARM_LIST@242..296
          LBrace@242..243 "{"
          Whitespace@243..248 "\n    "
          MATCH_ARM@248..260
            PATTERN_STRING@248..256
              Str@248..255 "\"hello\""
              Whitespace@255..256 " "
            FatArrow@256..258 "=>"
            Whitespace@258..259 " "
            EXPR_INT@259..260
              Int@259..260 "6"
          Comma@260..261 ","
          Whitespace@261..266 "\n    "
          MATCH_ARM@266..278
            PATTERN_STRING@266..274
              Str@266..273 "\"hello\""
              Whitespace@273..274 " "
            FatArrow@274..276 "=>"
            Whitespace@276..277 " "
            EXPR_INT@277..278
              Int@277..278 "7"
          Comma@278..279 ","
          Whitespace@279..284 "\n    "
          MATCH_ARM@284..290
            PATTERN_WILDCARD@284..286
              WildcardKeyword@284..285 "_"
              Whitespace@285..286 " "
            FatArrow@286..288 "=>"
            Whitespace@288..289 " "
            EXPR_INT@289..290
              Int@289..290 "8"
          Comma@290..291 ","
          Whitespace@291..294 "\n  "
          RBrace@294..295 "}"
          Whitespace@295..296 "\n"
      RBrace@296..297 "}"
      Whitespace@297..299 "\n\n"
  FN@299..714
    FnKeyword@299..301 "fn"
    Whitespace@301..302 " "
    Lident@302..306 "main"
    PARAM_LIST@306..309
      LParen@306..307 "("
      RParen@307..308 ")"
      Whitespace@308..309 " "
    BLOCK@309..714
      LBrace@309..310 "{"
      Whitespace@310..315 "\n    "
      STMT_LET@315..381
        LetKeyword@315..318 "let"
        Whitespace@318..319 " "
        PATTERN_WILDCARD@319..321
          WildcardKeyword@319..320 "_"
          Whitespace@320..321 " "
        Eq@321..322 "="
        Whitespace@322..323 " "
        EXPR_CALL@323..375
          EXPR_LIDENT@323..337
            Lident@323..337 "string_println"
          ARG_LIST@337..375
            LParen@337..338 "("
            ARG@338..374
              EXPR_CALL@338..374
                EXPR_LIDENT@338..351
                  Lident@338..351 "int_to_string"
                ARG_LIST@351..374
                  LParen@351..352 "("
                  ARG@352..373
                    EXPR_CALL@352..373
                      EXPR_LIDENT@352..364
                        Lident@352..364 "match_string"
                      ARG_LIST@364..373
                        LParen@364..365 "("
                        ARG@365..372
                          EXPR_STR@365..372
                            Str@365..372 "\"hello\""
                        RParen@372..373 ")"
                  RParen@373..374 ")"
            RParen@374..375 ")"
        Semi@375..376 ";"
        Whitespace@376..381 "\n    "
      STMT_LET@381..448
        LetKeyword@381..384 "let"
        Whitespace@384..385 " "
        PATTERN_WILDCARD@385..387
          WildcardKeyword@385..386 "_"
          Whitespace@386..387 " "
        Eq@387..388 "="
        Whitespace@388..389 " "
        EXPR_CALL@389..442
          EXPR_LIDENT@389..403
            Lident@389..403 "string_println"
          ARG_LIST@403..442
            LParen@403..404 "("
            ARG@404..441
              EXPR_CALL@404..441
                EXPR_LIDENT@404..417
                  Lident@404..417 "int_to_string"
                ARG_LIST@417..441
                  LParen@417..418 "("
                  ARG@418..440
                    EXPR_CALL@418..440
                      EXPR_LIDENT@418..430
                        Lident@418..430 "match_string"
                      ARG_LIST@430..440
                        LParen@430..431 "("
                        ARG@431..439
                          EXPR_STR@431..439
                            Str@431..439 "\"planet\""
                        RParen@439..440 ")"
                  RParen@440..441 ")"
            RParen@441..442 ")"
        Semi@442..443 ";"
        Whitespace@443..448 "\n    "
      STMT_LET@448..519
        LetKeyword@448..451 "let"
        Whitespace@451..452 " "
        PATTERN_WILDCARD@452..454
          WildcardKeyword@452..453 "_"
          Whitespace@453..454 " "
        Eq@454..455 "="
        Whitespace@455..456 " "
        EXPR_CALL@456..513
          EXPR_LIDENT@456..470
            Lident@456..470 "string_println"
          ARG_LIST@470..513
            LParen@470..471 "("
            ARG@471..512
              EXPR_CALL@471..512
                EXPR_LIDENT@471..484
                  Lident@471..484 "int_to_string"
                ARG_LIST@484..512
                  LParen@484..485 "("
                  ARG@485..511
                    EXPR_CALL@485..511
                      EXPR_LIDENT@485..502
                        Lident@485..502 "wildcard_position"
                      ARG_LIST@502..511
                        LParen@502..503 "("
                        ARG@503..510
                          EXPR_STR@503..510
                            Str@503..510 "\"world\""
                        RParen@510..511 ")"
                  RParen@511..512 ")"
            RParen@512..513 ")"
        Semi@513..514 ";"
        Whitespace@514..519 "\n    "
      STMT_LET@519..588
        LetKeyword@519..522 "let"
        Whitespace@522..523 " "
        PATTERN_WILDCARD@523..525
          WildcardKeyword@523..524 "_"
          Whitespace@524..525 " "
        Eq@525..526 "="
        Whitespace@526..527 " "
        EXPR_CALL@527..582
          EXPR_LIDENT@527..541
            Lident@527..541 "string_println"
          ARG_LIST@541..582
            LParen@541..542 "("
            ARG@542..581
              EXPR_CALL@542..581
                EXPR_LIDENT@542..555
                  Lident@542..555 "int_to_string"
                ARG_LIST@555..581
                  LParen@555..556 "("
                  ARG@556..580
                    EXPR_CALL@556..580
                      EXPR_LIDENT@556..573
                        Lident@556..573 "wildcard_position"
                      ARG_LIST@573..580
                        LParen@573..574 "("
                        ARG@574..579
                          EXPR_STR@574..579
                            Str@574..579 "\"sun\""
                        RParen@579..580 ")"
                  RParen@580..581 ")"
            RParen@581..582 ")"
        Semi@582..583 ";"
        Whitespace@583..588 "\n    "
      STMT_LET@588..657
        LetKeyword@588..591 "let"
        Whitespace@591..592 " "
        PATTERN_WILDCARD@592..594
          WildcardKeyword@592..593 "_"
          Whitespace@593..594 " "
        Eq@594..595 "="
        Whitespace@595..596 " "
        EXPR_CALL@596..651
          EXPR_LIDENT@596..610
            Lident@596..610 "string_println"
          ARG_LIST@610..651
            LParen@610..611 "("
            ARG@611..650
              EXPR_CALL@611..650
                EXPR_LIDENT@611..624
                  Lident@611..624 "int_to_string"
                ARG_LIST@624..650
                  LParen@624..625 "("
                  ARG@625..649
                    EXPR_CALL@625..649
                      EXPR_LIDENT@625..640
                        Lident@625..640 "repeated_string"
                      ARG_LIST@640..649
                        LParen@640..641 "("
                        ARG@641..648
                          EXPR_STR@641..648
                            Str@641..648 "\"hello\""
                        RParen@648..649 ")"
                  RParen@649..650 ")"
            RParen@650..651 ")"
        Semi@651..652 ";"
        Whitespace@652..657 "\n    "
      EXPR_CALL@657..712
        EXPR_LIDENT@657..671
          Lident@657..671 "string_println"
        ARG_LIST@671..712
          LParen@671..672 "("
          ARG@672..710
            EXPR_CALL@672..710
              EXPR_LIDENT@672..685
                Lident@672..685 "int_to_string"
              ARG_LIST@685..710
                LParen@685..686 "("
                ARG@686..709
                  EXPR_CALL@686..709
                    EXPR_LIDENT@686..701
                      Lident@686..701 "repeated_string"
                    ARG_LIST@701..709
                      LParen@701..702 "("
                      ARG@702..708
                        EXPR_STR@702..708
                          Str@702..708 "\"mars\""
                      RParen@708..709 ")"
                RParen@709..710 ")"
          RParen@710..711 ")"
          Whitespace@711..712 "\n"
      RBrace@712..713 "}"
      Whitespace@713..714 "\n"