FILE@0..1518
  FN@0..170
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..19 "match_mixed_pair"
    PARAM_LIST@19..43
      LParen@19..20 "("
      PARAM@20..41
        Ident@20..24 "pair"
        Colon@24..25 ":"
        Whitespace@25..26 " "
        TYPE_TUPLE@26..41
          TYPE_LIST@26..41
            LParen@26..27 "("
            TYPE_INT32@27..32
              Int32Keyword@27..32 "int32"
            Comma@32..33 ","
            Whitespace@33..34 " "
            TYPE_STRING@34..40
              StringKeyword@34..40 "string"
            RParen@40..41 ")"
      RParen@41..42 ")"
      Whitespace@42..43 " "
    Arrow@43..45 "->"
    Whitespace@45..46 " "
    TYPE_INT32@46..52
      Int32Keyword@46..51 "int32"
      Whitespace@51..52 " "
    BLOCK@52..170
      LBrace@52..53 "{"
      Whitespace@53..56 "\n  "
      EXPR_MATCH@56..167
        MatchKeyword@56..61 "match"
        Whitespace@61..62 " "
        EXPR_IDENT@62..67
          Ident@62..66 "pair"
          Whitespace@66..67 " "
        MATCH_ARM_LIST@67..167
          LBrace@67..68 "{"
          Whitespace@68..73 "\n    "
          MATCH_ARM@73..89
            PATTERN_TUPLE@73..85
              LParen@73..74 "("
              PATTERN_INT@74..75
                Int@74..75 "0"
              Comma@75..76 ","
              Whitespace@76..77 " "
              PATTERN_STRING@77..83
                Str@77..83 "\"zero\""
              RParen@83..84 ")"
              Whitespace@84..85 " "
            FatArrow@85..87 "=>"
            Whitespace@87..88 " "
            EXPR_INT@88..89
              Int@88..89 "1"
          Comma@89..90 ","
          Whitespace@90..95 "\n    "
          MATCH_ARM@95..106
            PATTERN_TUPLE@95..102
              LParen@95..96 "("
              PATTERN_INT@96..97
                Int@96..97 "0"
              Comma@97..98 ","
              Whitespace@98..99 " "
              PATTERN_WILDCARD@99..100
                WildcardKeyword@99..100 "_"
              RParen@100..101 ")"
              Whitespace@101..102 " "
            FatArrow@102..104 "=>"
            Whitespace@104..105 " "
            EXPR_INT@105..106
              Int@105..106 "2"
          Comma@106..107 ","
          Whitespace@107..112 "\n    "
          MATCH_ARM@112..127
            PATTERN_TUPLE@112..123
              LParen@112..113 "("
              PATTERN_INT@113..114
                Int@113..114 "1"
              Comma@114..115 ","
              Whitespace@115..116 " "
              PATTERN_STRING@116..121
                Str@116..121 "\"one\""
              RParen@121..122 ")"
              Whitespace@122..123 " "
            FatArrow@123..125 "=>"
            Whitespace@125..126 " "
            EXPR_INT@126..127
              Int@126..127 "3"
          Comma@127..128 ","
          Whitespace@128..133 "\n    "
          MATCH_ARM@133..149
            PATTERN_TUPLE@133..145
              LParen@133..134 "("
              PATTERN_WILDCARD@134..135
                WildcardKeyword@134..135 "_"
              Comma@135..136 ","
              Whitespace@136..137 " "
              PATTERN_STRING@137..143
                Str@137..143 "\"zero\""
              RParen@143..144 ")"
              Whitespace@144..145 " "
            FatArrow@145..147 "=>"
            Whitespace@147..148 " "
            EXPR_INT@148..149
              Int@148..149 "4"
          Comma@149..150 ","
          Whitespace@150..155 "\n    "
          MATCH_ARM@155..161
            PATTERN_WILDCARD@155..157
              WildcardKeyword@155..156 "_"
              Whitespace@156..157 " "
            FatArrow@157..159 "=>"
            Whitespace@159..160 " "
            EXPR_INT@160..161
              Int@160..161 "5"
          Comma@161..162 ","
          Whitespace@162..165 "\n  "
          RBrace@165..166 "}"
          Whitespace@166..167 "\n"
      RBrace@167..168 "}"
      Whitespace@168..170 "\n\n"
  ENUM@170..246
    EnumKeyword@170..174 "enum"
    Whitespace@174..175 " "
    Ident@175..180 "Mixed"
    Whitespace@180..181 " "
    LBrace@181..182 "{"
    Whitespace@182..185 "\n  "
    VARIANT_LIST@185..246
      VARIANT@185..199
        Ident@185..192 "OnlyInt"
        TYPE_LIST@192..199
          LParen@192..193 "("
          TYPE_INT32@193..198
            Int32Keyword@193..198 "int32"
          RParen@198..199 ")"
      Comma@199..200 ","
      Whitespace@200..203 "\n  "
      VARIANT@203..218
        Ident@203..210 "OnlyStr"
        TYPE_LIST@210..218
          LParen@210..211 "("
          TYPE_STRING@211..217
            StringKeyword@211..217 "string"
          RParen@217..218 ")"
      Comma@218..219 ","
      Whitespace@219..222 "\n  "
      VARIANT@222..241
        Ident@222..226 "Both"
        TYPE_LIST@226..241
          LParen@226..227 "("
          TYPE_INT32@227..232
            Int32Keyword@227..232 "int32"
          Comma@232..233 ","
          Whitespace@233..234 " "
          TYPE_STRING@234..240
            StringKeyword@234..240 "string"
          RParen@240..241 ")"
      Comma@241..242 ","
      Whitespace@242..243 "\n"
      RBrace@243..244 "}"
      Whitespace@244..246 "\n\n"
  FN@246..501
    FnKeyword@246..248 "fn"
    Whitespace@248..249 " "
    Ident@249..265 "match_mixed_enum"
    PARAM_LIST@265..280
      LParen@265..266 "("
      PARAM@266..278
        Ident@266..271 "value"
        Colon@271..272 ":"
        Whitespace@272..273 " "
        TYPE_TAPP@273..278
          Ident@273..278 "Mixed"
      RParen@278..279 ")"
      Whitespace@279..280 " "
    Arrow@280..282 "->"
    Whitespace@282..283 " "
    TYPE_INT32@283..289
      Int32Keyword@283..288 "int32"
      Whitespace@288..289 " "
    BLOCK@289..501
      LBrace@289..290 "{"
      Whitespace@290..293 "\n  "
      EXPR_MATCH@293..498
        MatchKeyword@293..298 "match"
        Whitespace@298..299 " "
        EXPR_IDENT@299..305
          Ident@299..304 "value"
          Whitespace@304..305 " "
        MATCH_ARM_LIST@305..498
          LBrace@305..306 "{"
          Whitespace@306..311 "\n    "
          MATCH_ARM@311..326
            PATTERN_CONSTR@311..322
              Ident@311..318 "OnlyInt"
              LParen@318..319 "("
              PATTERN_INT@319..320
                Int@319..320 "0"
              RParen@320..321 ")"
              Whitespace@321..322 " "
            FatArrow@322..324 "=>"
            Whitespace@324..325 " "
            EXPR_INT@325..326
              Int@325..326 "6"
          Comma@326..327 ","
          Whitespace@327..332 "\n    "
          MATCH_ARM@332..347
            PATTERN_CONSTR@332..343
              Ident@332..339 "OnlyInt"
              LParen@339..340 "("
              PATTERN_WILDCARD@340..341
                WildcardKeyword@340..341 "_"
              RParen@341..342 ")"
              Whitespace@342..343 " "
            FatArrow@343..345 "=>"
            Whitespace@345..346 " "
            EXPR_INT@346..347
              Int@346..347 "7"
          Comma@347..348 ","
          Whitespace@348..353 "\n    "
          MATCH_ARM@353..373
            PATTERN_CONSTR@353..369
              Ident@353..360 "OnlyStr"
              LParen@360..361 "("
              PATTERN_STRING@361..367
                Str@361..367 "\"zero\""
              RParen@367..368 ")"
              Whitespace@368..369 " "
            FatArrow@369..371 "=>"
            Whitespace@371..372 " "
            EXPR_INT@372..373
              Int@372..373 "8"
          Comma@373..374 ","
          Whitespace@374..379 "\n    "
          MATCH_ARM@379..394
            PATTERN_CONSTR@379..390
              Ident@379..386 "OnlyStr"
              LParen@386..387 "("
              PATTERN_WILDCARD@387..388
                WildcardKeyword@387..388 "_"
              RParen@388..389 ")"
              Whitespace@389..390 " "
            FatArrow@390..392 "=>"
            Whitespace@392..393 " "
            EXPR_INT@393..394
              Int@393..394 "9"
          Comma@394..395 ","
          Whitespace@395..400 "\n    "
          MATCH_ARM@400..421
            PATTERN_CONSTR@400..416
              Ident@400..404 "Both"
              LParen@404..405 "("
              PATTERN_INT@405..406
                Int@405..406 "0"
              Comma@406..407 ","
              Whitespace@407..408 " "
              PATTERN_STRING@408..414
                Str@408..414 "\"zero\""
              RParen@414..415 ")"
              Whitespace@415..416 " "
            FatArrow@416..418 "=>"
            Whitespace@418..419 " "
            EXPR_INT@419..421
              Int@419..421 "10"
          Comma@421..422 ","
          Whitespace@422..427 "\n    "
          MATCH_ARM@427..443
            PATTERN_CONSTR@427..438
              Ident@427..431 "Both"
              LParen@431..432 "("
              PATTERN_INT@432..433
                Int@432..433 "0"
              Comma@433..434 ","
              Whitespace@434..435 " "
              PATTERN_WILDCARD@435..436
                WildcardKeyword@435..436 "_"
              RParen@436..437 ")"
              Whitespace@437..438 " "
            FatArrow@438..440 "=>"
            Whitespace@440..441 " "
            EXPR_INT@441..443
              Int@441..443 "11"
          Comma@443..444 ","
          Whitespace@444..449 "\n    "
          MATCH_ARM@449..470
            PATTERN_CONSTR@449..465
              Ident@449..453 "Both"
              LParen@453..454 "("
              PATTERN_WILDCARD@454..455
                WildcardKeyword@454..455 "_"
              Comma@455..456 ","
              Whitespace@456..457 " "
              PATTERN_STRING@457..463
                Str@457..463 "\"zero\""
              RParen@463..464 ")"
              Whitespace@464..465 " "
            FatArrow@465..467 "=>"
            Whitespace@467..468 " "
            EXPR_INT@468..470
              Int@468..470 "12"
          Comma@470..471 ","
          Whitespace@471..476 "\n    "
          MATCH_ARM@476..492
            PATTERN_CONSTR@476..487
              Ident@476..480 "Both"
              LParen@480..481 "("
              PATTERN_WILDCARD@481..482
                WildcardKeyword@481..482 "_"
              Comma@482..483 ","
              Whitespace@483..484 " "
              PATTERN_WILDCARD@484..485
                WildcardKeyword@484..485 "_"
              RParen@485..486 ")"
              Whitespace@486..487 " "
            FatArrow@487..489 "=>"
            Whitespace@489..490 " "
            EXPR_INT@490..492
              Int@490..492 "13"
          Comma@492..493 ","
          Whitespace@493..496 "\n  "
          RBrace@496..497 "}"
          Whitespace@497..498 "\n"
      RBrace@498..499 "}"
      Whitespace@499..501 "\n\n"
  FN@501..1518
    FnKeyword@501..503 "fn"
    Whitespace@503..504 " "
    Ident@504..508 "main"
    PARAM_LIST@508..511
      LParen@508..509 "("
      RParen@509..510 ")"
      Whitespace@510..511 " "
    BLOCK@511..1518
      LBrace@511..512 "{"
      Whitespace@512..517 "\n    "
      STMT_LET@517..593
        LetKeyword@517..520 "let"
        Whitespace@520..521 " "
        PATTERN_WILDCARD@521..523
          WildcardKeyword@521..522 "_"
          Whitespace@522..523 " "
        Eq@523..524 "="
        Whitespace@524..525 " "
        EXPR_CALL@525..587
          EXPR_IDENT@525..539
            Ident@525..539 "string_println"
          ARG_LIST@539..587
            LParen@539..540 "("
            ARG@540..586
              EXPR_CALL@540..586
                EXPR_IDENT@540..555
                  Ident@540..555 "int32_to_string"
                ARG_LIST@555..586
                  LParen@555..556 "("
                  ARG@556..585
                    EXPR_CALL@556..585
                      EXPR_IDENT@556..572
                        Ident@556..572 "match_mixed_pair"
                      ARG_LIST@572..585
                        LParen@572..573 "("
                        ARG@573..584
                          EXPR_TUPLE@573..584
                            LParen@573..574 "("
                            EXPR_INT@574..575
                              Int@574..575 "0"
                            Comma@575..576 ","
                            Whitespace@576..577 " "
                            EXPR_STR@577..583
                              Str@577..583 "\"zero\""
                            RParen@583..584 ")"
                        RParen@584..585 ")"
                  RParen@585..586 ")"
            RParen@586..587 ")"
        Semi@587..588 ";"
        Whitespace@588..593 "\n    "
      STMT_LET@593..670
        LetKeyword@593..596 "let"
        Whitespace@596..597 " "
        PATTERN_WILDCARD@597..599
          WildcardKeyword@597..598 "_"
          Whitespace@598..599 " "
        Eq@599..600 "="
        Whitespace@600..601 " "
        EXPR_CALL@601..664
          EXPR_IDENT@601..615
            Ident@601..615 "string_println"
          ARG_LIST@615..664
            LParen@615..616 "("
            ARG@616..663
              EXPR_CALL@616..663
                EXPR_IDENT@616..631
                  Ident@616..631 "int32_to_string"
                ARG_LIST@631..663
                  LParen@631..632 "("
                  ARG@632..662
                    EXPR_CALL@632..662
                      EXPR_IDENT@632..648
                        Ident@632..648 "match_mixed_pair"
                      ARG_LIST@648..662
                        LParen@648..649 "("
                        ARG@649..661
                          EXPR_TUPLE@649..661
                            LParen@649..650 "("
                            EXPR_INT@650..651
                              Int@650..651 "0"
                            Comma@651..652 ","
                            Whitespace@652..653 " "
                            EXPR_STR@653..660
                              Str@653..660 "\"other\""
                            RParen@660..661 ")"
                        RParen@661..662 ")"
                  RParen@662..663 ")"
            RParen@663..664 ")"
        Semi@664..665 ";"
        Whitespace@665..670 "\n    "
      STMT_LET@670..745
        LetKeyword@670..673 "let"
        Whitespace@673..674 " "
        PATTERN_WILDCARD@674..676
          WildcardKeyword@674..675 "_"
          Whitespace@675..676 " "
        Eq@676..677 "="
        Whitespace@677..678 " "
        EXPR_CALL@678..739
          EXPR_IDENT@678..692
            Ident@678..692 "string_println"
          ARG_LIST@692..739
            LParen@692..693 "("
            ARG@693..738
              EXPR_CALL@693..738
                EXPR_IDENT@693..708
                  Ident@693..708 "int32_to_string"
                ARG_LIST@708..738
                  LParen@708..709 "("
                  ARG@709..737
                    EXPR_CALL@709..737
                      EXPR_IDENT@709..725
                        Ident@709..725 "match_mixed_pair"
                      ARG_LIST@725..737
                        LParen@725..726 "("
                        ARG@726..736
                          EXPR_TUPLE@726..736
                            LParen@726..727 "("
                            EXPR_INT@727..728
                              Int@727..728 "1"
                            Comma@728..729 ","
                            Whitespace@729..730 " "
                            EXPR_STR@730..735
                              Str@730..735 "\"one\""
                            RParen@735..736 ")"
                        RParen@736..737 ")"
                  RParen@737..738 ")"
            RParen@738..739 ")"
        Semi@739..740 ";"
        Whitespace@740..745 "\n    "
      STMT_LET@745..821
        LetKeyword@745..748 "let"
        Whitespace@748..749 " "
        PATTERN_WILDCARD@749..751
          WildcardKeyword@749..750 "_"
          Whitespace@750..751 " "
        Eq@751..752 "="
        Whitespace@752..753 " "
        EXPR_CALL@753..815
          EXPR_IDENT@753..767
            Ident@753..767 "string_println"
          ARG_LIST@767..815
            LParen@767..768 "("
            ARG@768..814
              EXPR_CALL@768..814
                EXPR_IDENT@768..783
                  Ident@768..783 "int32_to_string"
                ARG_LIST@783..814
                  LParen@783..784 "("
                  ARG@784..813
                    EXPR_CALL@784..813
                      EXPR_IDENT@784..800
                        Ident@784..800 "match_mixed_pair"
                      ARG_LIST@800..813
                        LParen@800..801 "("
                        ARG@801..812
                          EXPR_TUPLE@801..812
                            LParen@801..802 "("
                            EXPR_INT@802..803
                              Int@802..803 "2"
                            Comma@803..804 ","
                            Whitespace@804..805 " "
                            EXPR_STR@805..811
                              Str@805..811 "\"zero\""
                            RParen@811..812 ")"
                        RParen@812..813 ")"
                  RParen@813..814 ")"
            RParen@814..815 ")"
        Semi@815..816 ";"
        Whitespace@816..821 "\n    "
      STMT_LET@821..896
        LetKeyword@821..824 "let"
        Whitespace@824..825 " "
        PATTERN_WILDCARD@825..827
          WildcardKeyword@825..826 "_"
          Whitespace@826..827 " "
        Eq@827..828 "="
        Whitespace@828..829 " "
        EXPR_CALL@829..890
          EXPR_IDENT@829..843
            Ident@829..843 "string_println"
          ARG_LIST@843..890
            LParen@843..844 "("
            ARG@844..889
              EXPR_CALL@844..889
                EXPR_IDENT@844..859
                  Ident@844..859 "int32_to_string"
                ARG_LIST@859..889
                  LParen@859..860 "("
                  ARG@860..888
                    EXPR_CALL@860..888
                      EXPR_IDENT@860..876
                        Ident@860..876 "match_mixed_pair"
                      ARG_LIST@876..888
                        LParen@876..877 "("
                        ARG@877..887
                          EXPR_TUPLE@877..887
                            LParen@877..878 "("
                            EXPR_INT@878..879
                              Int@878..879 "2"
                            Comma@879..880 ","
                            Whitespace@880..881 " "
                            EXPR_STR@881..886
                              Str@881..886 "\"two\""
                            RParen@886..887 ")"
                        RParen@887..888 ")"
                  RParen@888..889 ")"
            RParen@889..890 ")"
        Semi@890..891 ";"
        Whitespace@891..896 "\n    "
      STMT_LET@896..971
        LetKeyword@896..899 "let"
        Whitespace@899..900 " "
        PATTERN_WILDCARD@900..902
          WildcardKeyword@900..901 "_"
          Whitespace@901..902 " "
        Eq@902..903 "="
        Whitespace@903..904 " "
        EXPR_CALL@904..965
          EXPR_IDENT@904..918
            Ident@904..918 "string_println"
          ARG_LIST@918..965
            LParen@918..919 "("
            ARG@919..964
              EXPR_CALL@919..964
                EXPR_IDENT@919..934
                  Ident@919..934 "int32_to_string"
                ARG_LIST@934..964
                  LParen@934..935 "("
                  ARG@935..963
                    EXPR_CALL@935..963
                      EXPR_IDENT@935..951
                        Ident@935..951 "match_mixed_enum"
                      ARG_LIST@951..963
                        LParen@951..952 "("
                        ARG@952..962
                          EXPR_CALL@952..962
                            EXPR_IDENT@952..959
                              Ident@952..959 "OnlyInt"
                            ARG_LIST@959..962
                              LParen@959..960 "("
                              ARG@960..961
                                EXPR_INT@960..961
                                  Int@960..961 "0"
                              RParen@961..962 ")"
                        RParen@962..963 ")"
                  RParen@963..964 ")"
            RParen@964..965 ")"
        Semi@965..966 ";"
        Whitespace@966..971 "\n    "
      STMT_LET@971..1046
        LetKeyword@971..974 "let"
        Whitespace@974..975 " "
        PATTERN_WILDCARD@975..977
          WildcardKeyword@975..976 "_"
          Whitespace@976..977 " "
        Eq@977..978 "="
        Whitespace@978..979 " "
        EXPR_CALL@979..1040
          EXPR_IDENT@979..993
            Ident@979..993 "string_println"
          ARG_LIST@993..1040
            LParen@993..994 "("
            ARG@994..1039
              EXPR_CALL@994..1039
                EXPR_IDENT@994..1009
                  Ident@994..1009 "int32_to_string"
                ARG_LIST@1009..1039
                  LParen@1009..1010 "("
                  ARG@1010..1038
                    EXPR_CALL@1010..1038
                      EXPR_IDENT@1010..1026
                        Ident@1010..1026 "match_mixed_enum"
                      ARG_LIST@1026..1038
                        LParen@1026..1027 "("
                        ARG@1027..1037
                          EXPR_CALL@1027..1037
                            EXPR_IDENT@1027..1034
                              Ident@1027..1034 "OnlyInt"
                            ARG_LIST@1034..1037
                              LParen@1034..1035 "("
                              ARG@1035..1036
                                EXPR_INT@1035..1036
                                  Int@1035..1036 "5"
                              RParen@1036..1037 ")"
                        RParen@1037..1038 ")"
                  RParen@1038..1039 ")"
            RParen@1039..1040 ")"
        Semi@1040..1041 ";"
        Whitespace@1041..1046 "\n    "
      STMT_LET@1046..1126
        LetKeyword@1046..1049 "let"
        Whitespace@1049..1050 " "
        PATTERN_WILDCARD@1050..1052
          WildcardKeyword@1050..1051 "_"
          Whitespace@1051..1052 " "
        Eq@1052..1053 "="
        Whitespace@1053..1054 " "
        EXPR_CALL@1054..1120
          EXPR_IDENT@1054..1068
            Ident@1054..1068 "string_println"
          ARG_LIST@1068..1120
            LParen@1068..1069 "("
            ARG@1069..1119
              EXPR_CALL@1069..1119
                EXPR_IDENT@1069..1084
                  Ident@1069..1084 "int32_to_string"
                ARG_LIST@1084..1119
                  LParen@1084..1085 "("
                  ARG@1085..1118
                    EXPR_CALL@1085..1118
                      EXPR_IDENT@1085..1101
                        Ident@1085..1101 "match_mixed_enum"
                      ARG_LIST@1101..1118
                        LParen@1101..1102 "("
                        ARG@1102..1117
                          EXPR_CALL@1102..1117
                            EXPR_IDENT@1102..1109
                              Ident@1102..1109 "OnlyStr"
                            ARG_LIST@1109..1117
                              LParen@1109..1110 "("
                              ARG@1110..1116
                                EXPR_STR@1110..1116
                                  Str@1110..1116 "\"zero\""
                              RParen@1116..1117 ")"
                        RParen@1117..1118 ")"
                  RParen@1118..1119 ")"
            RParen@1119..1120 ")"
        Semi@1120..1121 ";"
        Whitespace@1121..1126 "\n    "
      STMT_LET@1126..1207
        LetKeyword@1126..1129 "let"
        Whitespace@1129..1130 " "
        PATTERN_WILDCARD@1130..1132
          WildcardKeyword@1130..1131 "_"
          Whitespace@1131..1132 " "
        Eq@1132..1133 "="
        Whitespace@1133..1134 " "
        EXPR_CALL@1134..1201
          EXPR_IDENT@1134..1148
            Ident@1134..1148 "string_println"
          ARG_LIST@1148..1201
            LParen@1148..1149 "("
            ARG@1149..1200
              EXPR_CALL@1149..1200
                EXPR_IDENT@1149..1164
                  Ident@1149..1164 "int32_to_string"
                ARG_LIST@1164..1200
                  LParen@1164..1165 "("
                  ARG@1165..1199
                    EXPR_CALL@1165..1199
                      EXPR_IDENT@1165..1181
                        Ident@1165..1181 "match_mixed_enum"
                      ARG_LIST@1181..1199
                        LParen@1181..1182 "("
                        ARG@1182..1198
                          EXPR_CALL@1182..1198
                            EXPR_IDENT@1182..1189
                              Ident@1182..1189 "OnlyStr"
                            ARG_LIST@1189..1198
                              LParen@1189..1190 "("
                              ARG@1190..1197
                                EXPR_STR@1190..1197
                                  Str@1190..1197 "\"hello\""
                              RParen@1197..1198 ")"
                        RParen@1198..1199 ")"
                  RParen@1199..1200 ")"
            RParen@1200..1201 ")"
        Semi@1201..1202 ";"
        Whitespace@1202..1207 "\n    "
      STMT_LET@1207..1287
        LetKeyword@1207..1210 "let"
        Whitespace@1210..1211 " "
        PATTERN_WILDCARD@1211..1213
          WildcardKeyword@1211..1212 "_"
          Whitespace@1212..1213 " "
        Eq@1213..1214 "="
        Whitespace@1214..1215 " "
        EXPR_CALL@1215..1281
          EXPR_IDENT@1215..1229
            Ident@1215..1229 "string_println"
          ARG_LIST@1229..1281
            LParen@1229..1230 "("
            ARG@1230..1280
              EXPR_CALL@1230..1280
                EXPR_IDENT@1230..1245
                  Ident@1230..1245 "int32_to_string"
                ARG_LIST@1245..1280
                  LParen@1245..1246 "("
                  ARG@1246..1279
                    EXPR_CALL@1246..1279
                      EXPR_IDENT@1246..1262
                        Ident@1246..1262 "match_mixed_enum"
                      ARG_LIST@1262..1279
                        LParen@1262..1263 "("
                        ARG@1263..1278
                          EXPR_CALL@1263..1278
                            EXPR_IDENT@1263..1267
                              Ident@1263..1267 "Both"
                            ARG_LIST@1267..1278
                              LParen@1267..1268 "("
                              ARG@1268..1271
                                EXPR_INT@1268..1269
                                  Int@1268..1269 "0"
                                Comma@1269..1270 ","
                                Whitespace@1270..1271 " "
                              ARG@1271..1277
                                EXPR_STR@1271..1277
                                  Str@1271..1277 "\"zero\""
                              RParen@1277..1278 ")"
                        RParen@1278..1279 ")"
                  RParen@1279..1280 ")"
            RParen@1280..1281 ")"
        Semi@1281..1282 ";"
        Whitespace@1282..1287 "\n    "
      STMT_LET@1287..1368
        LetKeyword@1287..1290 "let"
        Whitespace@1290..1291 " "
        PATTERN_WILDCARD@1291..1293
          WildcardKeyword@1291..1292 "_"
          Whitespace@1292..1293 " "
        Eq@1293..1294 "="
        Whitespace@1294..1295 " "
        EXPR_CALL@1295..1362
          EXPR_IDENT@1295..1309
            Ident@1295..1309 "string_println"
          ARG_LIST@1309..1362
            LParen@1309..1310 "("
            ARG@1310..1361
              EXPR_CALL@1310..1361
                EXPR_IDENT@1310..1325
                  Ident@1310..1325 "int32_to_string"
                ARG_LIST@1325..1361
                  LParen@1325..1326 "("
                  ARG@1326..1360
                    EXPR_CALL@1326..1360
                      EXPR_IDENT@1326..1342
                        Ident@1326..1342 "match_mixed_enum"
                      ARG_LIST@1342..1360
                        LParen@1342..1343 "("
                        ARG@1343..1359
                          EXPR_CALL@1343..1359
                            EXPR_IDENT@1343..1347
                              Ident@1343..1347 "Both"
                            ARG_LIST@1347..1359
                              LParen@1347..1348 "("
                              ARG@1348..1351
                                EXPR_INT@1348..1349
                                  Int@1348..1349 "0"
                                Comma@1349..1350 ","
                                Whitespace@1350..1351 " "
                              ARG@1351..1358
                                EXPR_STR@1351..1358
                                  Str@1351..1358 "\"hello\""
                              RParen@1358..1359 ")"
                        RParen@1359..1360 ")"
                  RParen@1360..1361 ")"
            RParen@1361..1362 ")"
        Semi@1362..1363 ";"
        Whitespace@1363..1368 "\n    "
      STMT_LET@1368..1448
        LetKeyword@1368..1371 "let"
        Whitespace@1371..1372 " "
        PATTERN_WILDCARD@1372..1374
          WildcardKeyword@1372..1373 "_"
          Whitespace@1373..1374 " "
        Eq@1374..1375 "="
        Whitespace@1375..1376 " "
        EXPR_CALL@1376..1442
          EXPR_IDENT@1376..1390
            Ident@1376..1390 "string_println"
          ARG_LIST@1390..1442
            LParen@1390..1391 "("
            ARG@1391..1441
              EXPR_CALL@1391..1441
                EXPR_IDENT@1391..1406
                  Ident@1391..1406 "int32_to_string"
                ARG_LIST@1406..1441
                  LParen@1406..1407 "("
                  ARG@1407..1440
                    EXPR_CALL@1407..1440
                      EXPR_IDENT@1407..1423
                        Ident@1407..1423 "match_mixed_enum"
                      ARG_LIST@1423..1440
                        LParen@1423..1424 "("
                        ARG@1424..1439
                          EXPR_CALL@1424..1439
                            EXPR_IDENT@1424..1428
                              Ident@1424..1428 "Both"
                            ARG_LIST@1428..1439
                              LParen@1428..1429 "("
                              ARG@1429..1432
                                EXPR_INT@1429..1430
                                  Int@1429..1430 "2"
                                Comma@1430..1431 ","
                                Whitespace@1431..1432 " "
                              ARG@1432..1438
                                EXPR_STR@1432..1438
                                  Str@1432..1438 "\"zero\""
                              RParen@1438..1439 ")"
                        RParen@1439..1440 ")"
                  RParen@1440..1441 ")"
            RParen@1441..1442 ")"
        Semi@1442..1443 ";"
        Whitespace@1443..1448 "\n    "
      EXPR_CALL@1448..1516
        EXPR_IDENT@1448..1462
          Ident@1448..1462 "string_println"
        ARG_LIST@1462..1516
          LParen@1462..1463 "("
          ARG@1463..1514
            EXPR_CALL@1463..1514
              EXPR_IDENT@1463..1478
                Ident@1463..1478 "int32_to_string"
              ARG_LIST@1478..1514
                LParen@1478..1479 "("
                ARG@1479..1513
                  EXPR_CALL@1479..1513
                    EXPR_IDENT@1479..1495
                      Ident@1479..1495 "match_mixed_enum"
                    ARG_LIST@1495..1513
                      LParen@1495..1496 "("
                      ARG@1496..1512
                        EXPR_CALL@1496..1512
                          EXPR_IDENT@1496..1500
                            Ident@1496..1500 "Both"
                          ARG_LIST@1500..1512
                            LParen@1500..1501 "("
                            ARG@1501..1504
                              EXPR_INT@1501..1502
                                Int@1501..1502 "3"
                              Comma@1502..1503 ","
                              Whitespace@1503..1504 " "
                            ARG@1504..1511
                              EXPR_STR@1504..1511
                                Str@1504..1511 "\"three\""
                            RParen@1511..1512 ")"
                      RParen@1512..1513 ")"
                RParen@1513..1514 ")"
          RParen@1514..1515 ")"
          Whitespace@1515..1516 "\n"
      RBrace@1516..1517 "}"
      Whitespace@1517..1518 "\n"