FILE@0..1311
  STRUCT@0..41
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..17 "\n  "
    STRUCT_FIELD_LIST@17..41
      STRUCT_FIELD@17..25
        Ident@17..18 "x"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT32@20..25
          Int32Keyword@20..25 "int32"
      Comma@25..26 ","
      Whitespace@26..29 "\n  "
      STRUCT_FIELD@29..38
        Ident@29..30 "y"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_INT32@32..38
          Int32Keyword@32..37 "int32"
          Whitespace@37..38 "\n"
      RBrace@38..39 "}"
      Whitespace@39..41 "\n\n"
  FN@41..237
    FnKeyword@41..43 "fn"
    Whitespace@43..44 " "
    Ident@44..61 "point32_to_string"
    PARAM_LIST@61..72
      LParen@61..62 "("
      PARAM@62..70
        Ident@62..63 "p"
        Colon@63..64 ":"
        Whitespace@64..65 " "
        TYPE_TAPP@65..70
          Ident@65..70 "Point"
      RParen@70..71 ")"
      Whitespace@71..72 " "
    Arrow@72..74 "->"
    Whitespace@74..75 " "
    TYPE_STRING@75..82
      StringKeyword@75..81 "string"
      Whitespace@81..82 " "
    BLOCK@82..237
      LBrace@82..83 "{"
      Whitespace@83..86 "\n  "
      STMT_LET@86..117
        LetKeyword@86..89 "let"
        Whitespace@89..90 " "
        PATTERN_CONSTR@90..110
          Ident@90..95 "Point"
          Whitespace@95..96 " "
          STRUCT_PATTERN_FIELD_LIST@96..110
            LBrace@96..97 "{"
            STRUCT_PATTERN_FIELD@97..102
              Ident@97..98 "x"
              Whitespace@98..99 " "
              Colon@99..100 ":"
              Whitespace@100..101 " "
              PATTERN_VARIABLE@101..102
                Ident@101..102 "x"
            Comma@102..103 ","
            Whitespace@103..104 " "
            STRUCT_PATTERN_FIELD@104..108
              Ident@104..105 "y"
              Colon@105..106 ":"
              Whitespace@106..107 " "
              PATTERN_VARIABLE@107..108
                Ident@107..108 "y"
            RBrace@108..109 "}"
            Whitespace@109..110 " "
        Eq@110..111 "="
        Whitespace@111..112 " "
        EXPR_IDENT@112..113
          Ident@112..113 "p"
        Semi@113..114 ";"
        Whitespace@114..117 "\n  "
      EXPR_CALL@117..234
        EXPR_IDENT@117..127
          Ident@117..127 "string_add"
        ARG_LIST@127..234
          LParen@127..128 "("
          ARG@128..143
            EXPR_STR@128..141
              Str@128..141 "\"Point { x: \""
            Comma@141..142 ","
            Whitespace@142..143 " "
          ARG@143..232
            EXPR_CALL@143..232
              EXPR_IDENT@143..153
                Ident@143..153 "string_add"
              ARG_LIST@153..232
                LParen@153..154 "("
                ARG@154..174
                  EXPR_CALL@154..172
                    EXPR_IDENT@154..169
                      Ident@154..169 "int32_to_string"
                    ARG_LIST@169..172
                      LParen@169..170 "("
                      ARG@170..171
                        EXPR_IDENT@170..171
                          Ident@170..171 "x"
                      RParen@171..172 ")"
                  Comma@172..173 ","
                  Whitespace@173..174 " "
                ARG@174..231
                  EXPR_CALL@174..231
                    EXPR_IDENT@174..184
                      Ident@174..184 "string_add"
                    ARG_LIST@184..231
                      LParen@184..185 "("
                      ARG@185..194
                        EXPR_STR@185..192
                          Str@185..192 "\", y: \""
                        Comma@192..193 ","
                        Whitespace@193..194 " "
                      ARG@194..230
                        EXPR_CALL@194..230
                          EXPR_IDENT@194..204
                            Ident@194..204 "string_add"
                          ARG_LIST@204..230
                            LParen@204..205 "("
                            ARG@205..225
                              EXPR_CALL@205..223
                                EXPR_IDENT@205..220
                                  Ident@205..220 "int32_to_string"
                                ARG_LIST@220..223
                                  LParen@220..221 "("
                                  ARG@221..222
                                    EXPR_IDENT@221..222
                                      Ident@221..222 "y"
                                  RParen@222..223 ")"
                              Comma@223..224 ","
                              Whitespace@224..225 " "
                            ARG@225..229
                              EXPR_STR@225..229
                                Str@225..229 "\" }\""
                            RParen@229..230 ")"
                      RParen@230..231 ")"
                RParen@231..232 ")"
          RParen@232..233 ")"
          Whitespace@233..234 "\n"
      RBrace@234..235 "}"
      Whitespace@235..237 "\n\n"
  ENUM@237..277
    EnumKeyword@237..241 "enum"
    Whitespace@241..242 " "
    Ident@242..247 "Color"
    Whitespace@247..248 " "
    LBrace@248..249 "{"
    Whitespace@249..252 "\n  "
    VARIANT_LIST@252..277
      VARIANT@252..255
        Ident@252..255 "Red"
      Comma@255..256 ","
      Whitespace@256..259 "\n  "
      VARIANT@259..264
        Ident@259..264 "Green"
      Comma@264..265 ","
      Whitespace@265..268 "\n  "
      VARIANT@268..272
        Ident@268..272 "Blue"
      Comma@272..273 ","
      Whitespace@273..274 "\n"
      RBrace@274..275 "}"
      Whitespace@275..277 "\n\n"
  FN@277..397
    FnKeyword@277..279 "fn"
    Whitespace@279..280 " "
    Ident@280..295 "color_to_string"
    PARAM_LIST@295..306
      LParen@295..296 "("
      PARAM@296..304
        Ident@296..297 "c"
        Colon@297..298 ":"
        Whitespace@298..299 " "
        TYPE_TAPP@299..304
          Ident@299..304 "Color"
      RParen@304..305 ")"
      Whitespace@305..306 " "
    Arrow@306..308 "->"
    Whitespace@308..309 " "
    TYPE_STRING@309..316
      StringKeyword@309..315 "string"
      Whitespace@315..316 " "
    BLOCK@316..397
      LBrace@316..317 "{"
      Whitespace@317..320 "\n  "
      EXPR_MATCH@320..394
        MatchKeyword@320..325 "match"
        Whitespace@325..326 " "
        EXPR_IDENT@326..328
          Ident@326..327 "c"
          Whitespace@327..328 " "
        MATCH_ARM_LIST@328..394
          LBrace@328..329 "{"
          Whitespace@329..334 "\n    "
          MATCH_ARM@334..346
            PATTERN_VARIABLE@334..338
              Ident@334..337 "Red"
              Whitespace@337..338 " "
            FatArrow@338..340 "=>"
            Whitespace@340..341 " "
            EXPR_STR@341..346
              Str@341..346 "\"Red\""
          Comma@346..347 ","
          Whitespace@347..352 "\n    "
          MATCH_ARM@352..368
            PATTERN_VARIABLE@352..358
              Ident@352..357 "Green"
              Whitespace@357..358 " "
            FatArrow@358..360 "=>"
            Whitespace@360..361 " "
            EXPR_STR@361..368
              Str@361..368 "\"Green\""
          Comma@368..369 ","
          Whitespace@369..374 "\n    "
          MATCH_ARM@374..388
            PATTERN_VARIABLE@374..379
              Ident@374..378 "Blue"
              Whitespace@378..379 " "
            FatArrow@379..381 "=>"
            Whitespace@381..382 " "
            EXPR_STR@382..388
              Str@382..388 "\"Blue\""
          Comma@388..389 ","
          Whitespace@389..392 "\n  "
          RBrace@392..393 "}"
          Whitespace@393..394 "\n"
      RBrace@394..395 "}"
      Whitespace@395..397 "\n\n"
  STRUCT@397..458
    StructKeyword@397..403 "struct"
    Whitespace@403..404 " "
    Ident@404..408 "Line"
    Whitespace@408..409 " "
    LBrace@409..410 "{"
    Whitespace@410..413 "\n  "
    STRUCT_FIELD_LIST@413..458
      STRUCT_FIELD@413..424
        Ident@413..417 "from"
        Colon@417..418 ":"
        Whitespace@418..419 " "
        TYPE_TAPP@419..424
          Ident@419..424 "Point"
      Comma@424..425 ","
      Whitespace@425..428 "\n  "
      STRUCT_FIELD@428..437
        Ident@428..430 "to"
        Colon@430..431 ":"
        Whitespace@431..432 " "
        TYPE_TAPP@432..437
          Ident@432..437 "Point"
      Comma@437..438 ","
      Whitespace@438..441 "\n  "
      STRUCT_FIELD@441..453
        Ident@441..446 "color"
        Colon@446..447 ":"
        Whitespace@447..448 " "
        TYPE_TAPP@448..453
          Ident@448..453 "Color"
      Comma@453..454 ","
      Whitespace@454..455 "\n"
      RBrace@455..456 "}"
      Whitespace@456..458 "\n\n"
  FN@458..744
    FnKeyword@458..460 "fn"
    Whitespace@460..461 " "
    Ident@461..475 "line_to_string"
    PARAM_LIST@475..485
      LParen@475..476 "("
      PARAM@476..483
        Ident@476..477 "l"
        Colon@477..478 ":"
        Whitespace@478..479 " "
        TYPE_TAPP@479..483
          Ident@479..483 "Line"
      RParen@483..484 ")"
      Whitespace@484..485 " "
    Arrow@485..487 "->"
    Whitespace@487..488 " "
    TYPE_STRING@488..495
      StringKeyword@488..494 "string"
      Whitespace@494..495 " "
    BLOCK@495..744
      LBrace@495..496 "{"
      Whitespace@496..499 "\n  "
      STMT_LET@499..552
        LetKeyword@499..502 "let"
        Whitespace@502..503 " "
        PATTERN_CONSTR@503..545
          Ident@503..507 "Line"
          Whitespace@507..508 " "
          STRUCT_PATTERN_FIELD_LIST@508..545
            LBrace@508..509 "{"
            Whitespace@509..510 " "
            STRUCT_PATTERN_FIELD@510..520
              Ident@510..514 "from"
              Colon@514..515 ":"
              Whitespace@515..516 " "
              PATTERN_VARIABLE@516..520
                Ident@516..520 "from"
            Comma@520..521 ","
            Whitespace@521..522 " "
            STRUCT_PATTERN_FIELD@522..528
              Ident@522..524 "to"
              Colon@524..525 ":"
              Whitespace@525..526 " "
              PATTERN_VARIABLE@526..528
                Ident@526..528 "to"
            Comma@528..529 ","
            Whitespace@529..530 " "
            STRUCT_PATTERN_FIELD@530..543
              Ident@530..535 "color"
              Colon@535..536 ":"
              Whitespace@536..537 " "
              PATTERN_VARIABLE@537..543
                Ident@537..542 "color"
                Whitespace@542..543 " "
            RBrace@543..544 "}"
            Whitespace@544..545 " "
        Eq@545..546 "="
        Whitespace@546..547 " "
        EXPR_IDENT@547..548
          Ident@547..548 "l"
        Semi@548..549 ";"
        Whitespace@549..552 "\n  "
      EXPR_CALL@552..741
        EXPR_IDENT@552..562
          Ident@552..562 "string_add"
        ARG_LIST@562..741
          LParen@562..563 "("
          ARG@563..580
            EXPR_STR@563..578
              Str@563..578 "\"Line { from: \""
            Comma@578..579 ","
            Whitespace@579..580 " "
          ARG@580..739
            EXPR_CALL@580..739
              EXPR_IDENT@580..590
                Ident@580..590 "string_add"
              ARG_LIST@590..739
                LParen@590..591 "("
                ARG@591..616
                  EXPR_CALL@591..614
                    EXPR_IDENT@591..608
                      Ident@591..608 "point32_to_string"
                    ARG_LIST@608..614
                      LParen@608..609 "("
                      ARG@609..613
                        EXPR_IDENT@609..613
                          Ident@609..613 "from"
                      RParen@613..614 ")"
                  Comma@614..615 ","
                  Whitespace@615..616 " "
                ARG@616..738
                  EXPR_CALL@616..738
                    EXPR_IDENT@616..626
                      Ident@616..626 "string_add"
                    ARG_LIST@626..738
                      LParen@626..627 "("
                      ARG@627..637
                        EXPR_STR@627..635
                          Str@627..635 "\", to: \""
                        Comma@635..636 ","
                        Whitespace@636..637 " "
                      ARG@637..737
                        EXPR_CALL@637..737
                          EXPR_IDENT@637..647
                            Ident@637..647 "string_add"
                          ARG_LIST@647..737
                            LParen@647..648 "("
                            ARG@648..671
                              EXPR_CALL@648..669
                                EXPR_IDENT@648..665
                                  Ident@648..665 "point32_to_string"
                                ARG_LIST@665..669
                                  LParen@665..666 "("
                                  ARG@666..668
                                    EXPR_IDENT@666..668
                                      Ident@666..668 "to"
                                  RParen@668..669 ")"
                              Comma@669..670 ","
                              Whitespace@670..671 " "
                            ARG@671..736
                              EXPR_CALL@671..736
                                EXPR_IDENT@671..681
                                  Ident@671..681 "string_add"
                                ARG_LIST@681..736
                                  LParen@681..682 "("
                                  ARG@682..695
                                    EXPR_STR@682..693
                                      Str@682..693 "\", color: \""
                                    Comma@693..694 ","
                                    Whitespace@694..695 " "
                                  ARG@695..735
                                    EXPR_CALL@695..735
                                      EXPR_IDENT@695..705
                                        Ident@695..705 "string_add"
                                      ARG_LIST@705..735
                                        LParen@705..706 "("
                                        ARG@706..730
                                          EXPR_CALL@706..728
                                            EXPR_IDENT@706..721
                                              Ident@706..721 "color_to_string"
                                            ARG_LIST@721..728
                                              LParen@721..722 "("
                                              ARG@722..727
                                                EXPR_IDENT@722..727
                                                  Ident@722..727 "color"
                                              RParen@727..728 ")"
                                          Comma@728..729 ","
                                          Whitespace@729..730 " "
                                        ARG@730..734
                                          EXPR_STR@730..734
                                            Str@730..734 "\" }\""
                                        RParen@734..735 ")"
                                  RParen@735..736 ")"
                            RParen@736..737 ")"
                      RParen@737..738 ")"
                RParen@738..739 ")"
          RParen@739..740 ")"
          Whitespace@740..741 "\n"
      RBrace@741..742 "}"
      Whitespace@742..744 "\n\n"
  FN@744..1096
    FnKeyword@744..746 "fn"
    Whitespace@746..747 " "
    Ident@747..757 "point_type"
    PARAM_LIST@757..768
      LParen@757..758 "("
      PARAM@758..766
        Ident@758..759 "p"
        Colon@759..760 ":"
        Whitespace@760..761 " "
        TYPE_TAPP@761..766
          Ident@761..766 "Point"
      RParen@766..767 ")"
      Whitespace@767..768 " "
    Arrow@768..770 "->"
    Whitespace@770..771 " "
    TYPE_STRING@771..778
      StringKeyword@771..777 "string"
      Whitespace@777..778 " "
    BLOCK@778..1096
      LBrace@778..779 "{"
      Whitespace@779..782 "\n  "
      EXPR_MATCH@782..1093
        MatchKeyword@782..787 "match"
        Whitespace@787..788 " "
        EXPR_IDENT@788..790
          Ident@788..789 "p"
          Whitespace@789..790 " "
        MATCH_ARM_LIST@790..1093
          LBrace@790..791 "{"
          Whitespace@791..796 "\n    "
          MATCH_ARM@796..842
            PATTERN_CONSTR@796..817
              Ident@796..801 "Point"
              Whitespace@801..802 " "
              STRUCT_PATTERN_FIELD_LIST@802..817
                LBrace@802..803 "{"
                Whitespace@803..804 " "
                STRUCT_PATTERN_FIELD@804..808
                  Ident@804..805 "x"
                  Colon@805..806 ":"
                  Whitespace@806..807 " "
                  PATTERN_INT@807..808
                    Int@807..808 "0"
                Comma@808..809 ","
                Whitespace@809..810 " "
                STRUCT_PATTERN_FIELD@810..815
                  Ident@810..811 "y"
                  Whitespace@811..812 " "
                  Colon@812..813 ":"
                  Whitespace@813..814 " "
                  PATTERN_INT@814..815
                    Int@814..815 "0"
                RBrace@815..816 "}"
                Whitespace@816..817 " "
            FatArrow@817..819 "=>"
            Whitespace@819..820 " "
            BLOCK@820..842
              LBrace@820..821 "{"
              Whitespace@821..828 "\n      "
              EXPR_STR@828..841
                Str@828..836 "\"origin\""
                Whitespace@836..841 "\n    "
              RBrace@841..842 "}"
          Comma@842..843 ","
          Whitespace@843..848 "\n    "
          MATCH_ARM@848..890
            PATTERN_CONSTR@848..869
              Ident@848..853 "Point"
              Whitespace@853..854 " "
              STRUCT_PATTERN_FIELD_LIST@854..869
                LBrace@854..855 "{"
                Whitespace@855..856 " "
                STRUCT_PATTERN_FIELD@856..860
                  Ident@856..857 "x"
                  Colon@857..858 ":"
                  Whitespace@858..859 " "
                  PATTERN_INT@859..860
                    Int@859..860 "0"
                Comma@860..861 ","
                Whitespace@861..862 " "
                STRUCT_PATTERN_FIELD@862..867
                  Ident@862..863 "y"
                  Whitespace@863..864 " "
                  Colon@864..865 ":"
                  Whitespace@865..866 " "
                  PATTERN_INT@866..867
                    Int@866..867 "1"
                RBrace@867..868 "}"
                Whitespace@868..869 " "
            FatArrow@869..871 "=>"
            Whitespace@871..872 " "
            BLOCK@872..890
              LBrace@872..873 "{"
              Whitespace@873..880 "\n      "
              EXPR_STR@880..889
                Str@880..884 "\"up\""
                Whitespace@884..889 "\n    "
              RBrace@889..890 "}"
          Comma@890..891 ","
          Whitespace@891..896 "\n    "
          MATCH_ARM@896..941
            PATTERN_CONSTR@896..917
              Ident@896..901 "Point"
              Whitespace@901..902 " "
              STRUCT_PATTERN_FIELD_LIST@902..917
                LBrace@902..903 "{"
                Whitespace@903..904 " "
                STRUCT_PATTERN_FIELD@904..908
                  Ident@904..905 "x"
                  Colon@905..906 ":"
                  Whitespace@906..907 " "
                  PATTERN_INT@907..908
                    Int@907..908 "1"
                Comma@908..909 ","
                Whitespace@909..910 " "
                STRUCT_PATTERN_FIELD@910..915
                  Ident@910..911 "y"
                  Whitespace@911..912 " "
                  Colon@912..913 ":"
                  Whitespace@913..914 " "
                  PATTERN_INT@914..915
                    Int@914..915 "0"
                RBrace@915..916 "}"
                Whitespace@916..917 " "
            FatArrow@917..919 "=>"
            Whitespace@919..920 " "
            BLOCK@920..941
              LBrace@920..921 "{"
              Whitespace@921..928 "\n      "
              EXPR_STR@928..940
                Str@928..935 "\"right\""
                Whitespace@935..940 "\n    "
              RBrace@940..941 "}"
          Comma@941..942 ","
          Whitespace@942..947 "\n    "
          MATCH_ARM@947..1068
            PATTERN_CONSTR@947..968
              Ident@947..952 "Point"
              Whitespace@952..953 " "
              STRUCT_PATTERN_FIELD_LIST@953..968
                LBrace@953..954 "{"
                Whitespace@954..955 " "
                STRUCT_PATTERN_FIELD@955..959
                  Ident@955..956 "x"
                  Colon@956..957 ":"
                  Whitespace@957..958 " "
                  PATTERN_INT@958..959
                    Int@958..959 "0"
                Comma@959..960 ","
                Whitespace@960..961 " "
                STRUCT_PATTERN_FIELD@961..966
                  Ident@961..962 "y"
                  Whitespace@962..963 " "
                  Colon@963..964 ":"
                  Whitespace@964..965 " "
                  PATTERN_VARIABLE@965..966
                    Ident@965..966 "y"
                RBrace@966..967 "}"
                Whitespace@967..968 " "
            FatArrow@968..970 "=>"
            Whitespace@970..971 " "
            BLOCK@971..1068
              LBrace@971..972 "{"
              Whitespace@972..979 "\n      "
              EXPR_MATCH@979..1067
                MatchKeyword@979..984 "match"
                Whitespace@984..985 " "
                EXPR_CALL@985..1002
                  EXPR_IDENT@985..995
                    Ident@985..995 "int32_less"
                  ARG_LIST@995..1002
                    LParen@995..996 "("
                    ARG@996..999
                      EXPR_INT@996..997
                        Int@996..997 "0"
                      Comma@997..998 ","
                      Whitespace@998..999 " "
                    ARG@999..1000
                      EXPR_IDENT@999..1000
                        Ident@999..1000 "y"
                    RParen@1000..1001 ")"
                    Whitespace@1001..1002 " "
                MATCH_ARM_LIST@1002..1067
                  LBrace@1002..1003 "{"
                  Whitespace@1003..1012 "\n        "
                  MATCH_ARM@1012..1027
                    PATTERN_BOOL@1012..1017
                      TrueKeyword@1012..1016 "true"
                      Whitespace@1016..1017 " "
                    FatArrow@1017..1019 "=>"
                    Whitespace@1019..1020 " "
                    EXPR_STR@1020..1027
                      Str@1020..1027 "\"above\""
                  Comma@1027..1028 ","
                  Whitespace@1028..1037 "\n        "
                  MATCH_ARM@1037..1053
                    PATTERN_BOOL@1037..1043
                      FalseKeyword@1037..1042 "false"
                      Whitespace@1042..1043 " "
                    FatArrow@1043..1045 "=>"
                    Whitespace@1045..1046 " "
                    EXPR_STR@1046..1053
                      Str@1046..1053 "\"below\""
                  Comma@1053..1054 ","
                  Whitespace@1054..1061 "\n      "
                  RBrace@1061..1062 "}"
                  Whitespace@1062..1067 "\n    "
              RBrace@1067..1068 "}"
          Comma@1068..1069 ","
          Whitespace@1069..1074 "\n    "
          MATCH_ARM@1074..1091
            PATTERN_WILDCARD@1074..1076
              WildcardKeyword@1074..1075 "_"
              Whitespace@1075..1076 " "
            FatArrow@1076..1078 "=>"
            Whitespace@1078..1079 " "
            EXPR_STR@1079..1091
              Str@1079..1088 "\"unknown\""
              Whitespace@1088..1091 "\n  "
          RBrace@1091..1092 "}"
          Whitespace@1092..1093 "\n"
      RBrace@1093..1094 "}"
      Whitespace@1094..1096 "\n\n"
  FN@1096..1311
    FnKeyword@1096..1098 "fn"
    Whitespace@1098..1099 " "
    Ident@1099..1103 "main"
    PARAM_LIST@1103..1106
      LParen@1103..1104 "("
      RParen@1104..1105 ")"
      Whitespace@1105..1106 " "
    BLOCK@1106..1311
      LBrace@1106..1107 "{"
      Whitespace@1107..1110 "\n  "
      STMT_LET@1110..1143
        LetKeyword@1110..1113 "let"
        Whitespace@1113..1114 " "
        PATTERN_VARIABLE@1114..1117
          Ident@1114..1116 "p0"
          Whitespace@1116..1117 " "
        Eq@1117..1118 "="
        Whitespace@1118..1119 " "
        EXPR_STRUCT_LITERAL@1119..1139
          Ident@1119..1124 "Point"
          Whitespace@1124..1125 " "
          STRUCT_LITERAL_FIELD_LIST@1125..1139
            LBrace@1125..1126 "{"
            Whitespace@1126..1127 " "
            STRUCT_LITERAL_FIELD@1127..1131
              Ident@1127..1128 "x"
              Colon@1128..1129 ":"
              Whitespace@1129..1130 " "
              EXPR_INT@1130..1131
                Int@1130..1131 "0"
            Comma@1131..1132 ","
            Whitespace@1132..1133 " "
            STRUCT_LITERAL_FIELD@1133..1138
              Ident@1133..1134 "y"
              Colon@1134..1135 ":"
              Whitespace@1135..1136 " "
              EXPR_INT@1136..1138
                Int@1136..1137 "0"
                Whitespace@1137..1138 " "
            RBrace@1138..1139 "}"
        Semi@1139..1140 ";"
        Whitespace@1140..1143 "\n  "
      STMT_LET@1143..1185
        LetKeyword@1143..1146 "let"
        Whitespace@1146..1147 " "
        PATTERN_WILDCARD@1147..1149
          WildcardKeyword@1147..1148 "_"
          Whitespace@1148..1149 " "
        Eq@1149..1150 "="
        Whitespace@1150..1151 " "
        EXPR_CALL@1151..1181
          EXPR_IDENT@1151..1165
            Ident@1151..1165 "string_println"
          ARG_LIST@1165..1181
            LParen@1165..1166 "("
            ARG@1166..1180
              EXPR_CALL@1166..1180
                EXPR_IDENT@1166..1176
                  Ident@1166..1176 "point_type"
                ARG_LIST@1176..1180
                  LParen@1176..1177 "("
                  ARG@1177..1179
                    EXPR_IDENT@1177..1179
                      Ident@1177..1179 "p0"
                  RParen@1179..1180 ")"
            RParen@1180..1181 ")"
        Semi@1181..1182 ";"
        Whitespace@1182..1185 "\n  "
      STMT_LET@1185..1220
        LetKeyword@1185..1188 "let"
        Whitespace@1188..1189 " "
        PATTERN_VARIABLE@1189..1192
          Ident@1189..1191 "p1"
          Whitespace@1191..1192 " "
        Eq@1192..1193 "="
        Whitespace@1193..1194 " "
        EXPR_STRUCT_LITERAL@1194..1216
          Ident@1194..1199 "Point"
          Whitespace@1199..1200 " "
          STRUCT_LITERAL_FIELD_LIST@1200..1216
            LBrace@1200..1201 "{"
            Whitespace@1201..1202 " "
            STRUCT_LITERAL_FIELD@1202..1207
              Ident@1202..1203 "x"
              Colon@1203..1204 ":"
              Whitespace@1204..1205 " "
              EXPR_INT@1205..1207
                Int@1205..1207 "10"
            Comma@1207..1208 ","
            Whitespace@1208..1209 " "
            STRUCT_LITERAL_FIELD@1209..1215
              Ident@1209..1210 "y"
              Colon@1210..1211 ":"
              Whitespace@1211..1212 " "
              EXPR_INT@1212..1215
                Int@1212..1214 "10"
                Whitespace@1214..1215 " "
            RBrace@1215..1216 "}"
        Semi@1216..1217 ";"
        Whitespace@1217..1220 "\n  "
      STMT_LET@1220..1272
        LetKeyword@1220..1223 "let"
        Whitespace@1223..1224 " "
        PATTERN_VARIABLE@1224..1229
          Ident@1224..1228 "line"
          Whitespace@1228..1229 " "
        Eq@1229..1230 "="
        Whitespace@1230..1231 " "
        EXPR_STRUCT_LITERAL@1231..1268
          Ident@1231..1235 "Line"
          Whitespace@1235..1236 " "
          STRUCT_LITERAL_FIELD_LIST@1236..1268
            LBrace@1236..1237 "{"
            Whitespace@1237..1238 " "
            STRUCT_LITERAL_FIELD@1238..1246
              Ident@1238..1242 "from"
              Colon@1242..1243 ":"
              Whitespace@1243..1244 " "
              EXPR_IDENT@1244..1246
                Ident@1244..1246 "p0"
            Comma@1246..1247 ","
            Whitespace@1247..1248 " "
            STRUCT_LITERAL_FIELD@1248..1254
              Ident@1248..1250 "to"
              Colon@1250..1251 ":"
              Whitespace@1251..1252 " "
              EXPR_IDENT@1252..1254
                Ident@1252..1254 "p1"
            Comma@1254..1255 ","
            Whitespace@1255..1256 " "
            STRUCT_LITERAL_FIELD@1256..1267
              Ident@1256..1261 "color"
              Colon@1261..1262 ":"
              Whitespace@1262..1263 " "
              EXPR_IDENT@1263..1267
                Ident@1263..1266 "Red"
                Whitespace@1266..1267 " "
            RBrace@1267..1268 "}"
        Semi@1268..1269 ";"
        Whitespace@1269..1272 "\n  "
      EXPR_CALL@1272..1309
        EXPR_IDENT@1272..1286
          Ident@1272..1286 "string_println"
        ARG_LIST@1286..1309
          LParen@1286..1287 "("
          ARG@1287..1307
            EXPR_CALL@1287..1307
              EXPR_IDENT@1287..1301
                Ident@1287..1301 "line_to_string"
              ARG_LIST@1301..1307
                LParen@1301..1302 "("
                ARG@1302..1306
                  EXPR_IDENT@1302..1306
                    Ident@1302..1306 "line"
                RParen@1306..1307 ")"
          RParen@1307..1308 ")"
          Whitespace@1308..1309 "\n"
      RBrace@1309..1310 "}"
      Whitespace@1310..1311 "\n"