FILE@0..122
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Uident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..17 "\n  "
    STRUCT_FIELD_LIST@17..37
      STRUCT_FIELD@17..23
        Lident@17..18 "x"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_INT@20..23
          IntKeyword@20..23 "int"
      Comma@23..24 ","
      Whitespace@24..27 "\n  "
      STRUCT_FIELD@27..34
        Lident@27..28 "y"
        Colon@28..29 ":"
        Whitespace@29..30 " "
        TYPE_INT@30..34
          IntKeyword@30..33 "int"
          Whitespace@33..34 "\n"
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  FN@37..122
    FnKeyword@37..39 "fn"
    Whitespace@39..40 " "
    Lident@40..44 "main"
    PARAM_LIST@44..47
      LParen@44..45 "("
      RParen@45..46 ")"
      Whitespace@46..47 " "
    BLOCK@47..122
      LBrace@47..48 "{"
      Whitespace@48..51 "\n  "
      STMT@51..120
        EXPR_LET@51..120
          LetKeyword@51..54 "let"
          Whitespace@54..55 " "
          PATTERN_VARIABLE@55..58
            Lident@55..57 "p0"
            Whitespace@57..58 " "
          Eq@58..59 "="
          Whitespace@59..60 " "
          EXPR_LET_VALUE@60..80
            EXPR_STRUCT_LITERAL@60..80
              Uident@60..65 "Point"
              Whitespace@65..66 " "
              STRUCT_LITERAL_FIELD_LIST@66..80
                LBrace@66..67 "{"
                Whitespace@67..68 " "
                STRUCT_LITERAL_FIELD@68..72
                  Lident@68..69 "x"
                  Colon@69..70 ":"
                  Whitespace@70..71 " "
                  EXPR_INT@71..72
                    Int@71..72 "0"
                Comma@72..73 ","
                Whitespace@73..74 " "
                STRUCT_LITERAL_FIELD@74..79
                  Lident@74..75 "y"
                  Colon@75..76 ":"
                  Whitespace@76..77 " "
                  EXPR_INT@77..79
                    Int@77..78 "0"
                    Whitespace@78..79 " "
                RBrace@79..80 "}"
          Semi@80..81 ";"
          Whitespace@81..84 "\n  "
          EXPR_LET_BODY@84..120
            EXPR_LET@84..120
              LetKeyword@84..87 "let"
              Whitespace@87..88 " "
              PATTERN_CONSTR@88..109
                Uident@88..93 "Point"
                Whitespace@93..94 " "
                STRUCT_PATTERN_FIELD_LIST@94..109
                  LBrace@94..95 "{"
                  Whitespace@95..96 " "
                  STRUCT_PATTERN_FIELD@96..101
                    Lident@96..97 "x"
                    Colon@97..98 ":"
                    Whitespace@98..99 " "
                    PATTERN_INT@99..101
                      Int@99..101 "10"
                  Comma@101..102 ","
                  Whitespace@102..103 " "
                  STRUCT_PATTERN_FIELD@103..107
                    Lident@103..104 "y"
                    Colon@104..105 ":"
                    Whitespace@105..106 " "
                    PATTERN_INT@106..107
                      Int@106..107 "8"
                  RBrace@107..108 "}"
                  Whitespace@108..109 " "
              Eq@109..110 "="
              Whitespace@110..111 " "
              EXPR_LET_VALUE@111..113
                EXPR_LIDENT@111..113
                  Lident@111..113 "p0"
              Semi@113..114 ";"
              Whitespace@114..117 "\n  "
              EXPR_LET_BODY@117..120
                EXPR_UNIT@117..120
                  LParen@117..118 "("
                  RParen@118..119 ")"
                  Whitespace@119..120 "\n"
      RBrace@120..121 "}"
      Whitespace@121..122 "\n"