FILE@0..839
  FN@0..166
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..11 "classify"
    PARAM_LIST@11..22
      LParen@11..12 "("
      PARAM@12..20
        Ident@12..13 "x"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_INT32@15..20
          Int32Keyword@15..20 "int32"
      RParen@20..21 ")"
      Whitespace@21..22 " "
    Arrow@22..24 "->"
    Whitespace@24..25 " "
    TYPE_STRING@25..32
      StringKeyword@25..31 "string"
      Whitespace@31..32 " "
    BLOCK@32..166
      LBrace@32..33 "{"
      Whitespace@33..36 "\n  "
      EXPR_IF@36..163
        IfKeyword@36..38 "if"
        Whitespace@38..39 " "
        EXPR_IF_COND@39..56
          EXPR_CALL@39..56
            EXPR_IDENT@39..49
              PATH@39..49
                Ident@39..49 "int32_less"
            ARG_LIST@49..56
              LParen@49..50 "("
              ARG@50..53
                EXPR_IDENT@50..51
                  PATH@50..51
                    Ident@50..51 "x"
                Comma@51..52 ","
                Whitespace@52..53 " "
              ARG@53..54
                EXPR_INT@53..54
                  Int@53..54 "0"
              RParen@54..55 ")"
              Whitespace@55..56 " "
        EXPR_IF_THEN@56..77
          BLOCK@56..77
            LBrace@56..57 "{"
            Whitespace@57..62 "\n    "
            EXPR_STR@62..75
              Str@62..72 "\"negative\""
              Whitespace@72..75 "\n  "
            RBrace@75..76 "}"
            Whitespace@76..77 " "
        ElseKeyword@77..81 "else"
        Whitespace@81..82 " "
        EXPR_IF_ELSE@82..163
          BLOCK@82..163
            LBrace@82..83 "{"
            Whitespace@83..88 "\n    "
            EXPR_IF@88..161
              IfKeyword@88..90 "if"
              Whitespace@90..91 " "
              EXPR_IF_COND@91..108
                EXPR_CALL@91..108
                  EXPR_IDENT@91..101
                    PATH@91..101
                      Ident@91..101 "int32_less"
                  ARG_LIST@101..108
                    LParen@101..102 "("
                    ARG@102..105
                      EXPR_INT@102..103
                        Int@102..103 "0"
                      Comma@103..104 ","
                      Whitespace@104..105 " "
                    ARG@105..106
                      EXPR_IDENT@105..106
                        PATH@105..106
                          Ident@105..106 "x"
                    RParen@106..107 ")"
                    Whitespace@107..108 " "
              EXPR_IF_THEN@108..133
                BLOCK@108..133
                  LBrace@108..109 "{"
                  Whitespace@109..116 "\n      "
                  EXPR_STR@116..131
                    Str@116..126 "\"positive\""
                    Whitespace@126..131 "\n    "
                  RBrace@131..132 "}"
                  Whitespace@132..133 " "
              ElseKeyword@133..137 "else"
              Whitespace@137..138 " "
              EXPR_IF_ELSE@138..161
                BLOCK@138..161
                  LBrace@138..139 "{"
                  Whitespace@139..146 "\n      "
                  EXPR_STR@146..157
                    Str@146..152 "\"zero\""
                    Whitespace@152..157 "\n    "
                  RBrace@157..158 "}"
                  Whitespace@158..161 "\n  "
            RBrace@161..162 "}"
            Whitespace@162..163 "\n"
      RBrace@163..164 "}"
      Whitespace@164..166 "\n\n"
  FN@166..416
    FnKeyword@166..168 "fn"
    Whitespace@168..169 " "
    Ident@169..182 "triangle_type"
    PARAM_LIST@182..213
      LParen@182..183 "("
      PARAM@183..193
        Ident@183..184 "a"
        Colon@184..185 ":"
        Whitespace@185..186 " "
        TYPE_INT32@186..191
          Int32Keyword@186..191 "int32"
        Comma@191..192 ","
        Whitespace@192..193 " "
      PARAM@193..203
        Ident@193..194 "b"
        Colon@194..195 ":"
        Whitespace@195..196 " "
        TYPE_INT32@196..201
          Int32Keyword@196..201 "int32"
        Comma@201..202 ","
        Whitespace@202..203 " "
      PARAM@203..211
        Ident@203..204 "c"
        Colon@204..205 ":"
        Whitespace@205..206 " "
        TYPE_INT32@206..211
          Int32Keyword@206..211 "int32"
      RParen@211..212 ")"
      Whitespace@212..213 " "
    Arrow@213..215 "->"
    Whitespace@215..216 " "
    TYPE_STRING@216..223
      StringKeyword@216..222 "string"
      Whitespace@222..223 " "
    BLOCK@223..416
      LBrace@223..224 "{"
      Whitespace@224..227 "\n  "
      EXPR_IF@227..413
        IfKeyword@227..229 "if"
        Whitespace@229..230 " "
        EXPR_IF_COND@230..247
          EXPR_CALL@230..247
            EXPR_IDENT@230..240
              PATH@230..240
                Ident@230..240 "int32_less"
            ARG_LIST@240..247
              LParen@240..241 "("
              ARG@241..244
                EXPR_IDENT@241..242
                  PATH@241..242
                    Ident@241..242 "a"
                Comma@242..243 ","
                Whitespace@243..244 " "
              ARG@244..245
                EXPR_IDENT@244..245
                  PATH@244..245
                    Ident@244..245 "b"
              RParen@245..246 ")"
              Whitespace@246..247 " "
        EXPR_IF_THEN@247..329
          BLOCK@247..329
            LBrace@247..248 "{"
            Whitespace@248..253 "\n    "
            EXPR_IF@253..327
              IfKeyword@253..255 "if"
              Whitespace@255..256 " "
              EXPR_IF_COND@256..273
                EXPR_CALL@256..273
                  EXPR_IDENT@256..266
                    PATH@256..266
                      Ident@256..266 "int32_less"
                  ARG_LIST@266..273
                    LParen@266..267 "("
                    ARG@267..270
                      EXPR_IDENT@267..268
                        PATH@267..268
                          Ident@267..268 "b"
                      Comma@268..269 ","
                      Whitespace@269..270 " "
                    ARG@270..271
                      EXPR_IDENT@270..271
                        PATH@270..271
                          Ident@270..271 "c"
                    RParen@271..272 ")"
                    Whitespace@272..273 " "
              EXPR_IF_THEN@273..299
                BLOCK@273..299
                  LBrace@273..274 "{"
                  Whitespace@274..281 "\n      "
                  EXPR_STR@281..297
                    Str@281..292 "\"ascending\""
                    Whitespace@292..297 "\n    "
                  RBrace@297..298 "}"
                  Whitespace@298..299 " "
              ElseKeyword@299..303 "else"
              Whitespace@303..304 " "
              EXPR_IF_ELSE@304..327
                BLOCK@304..327
                  LBrace@304..305 "{"
                  Whitespace@305..312 "\n      "
                  EXPR_STR@312..323
                    Str@312..318 "\"peak\""
                    Whitespace@318..323 "\n    "
                  RBrace@323..324 "}"
                  Whitespace@324..327 "\n  "
            RBrace@327..328 "}"
            Whitespace@328..329 " "
        ElseKeyword@329..333 "else"
        Whitespace@333..334 " "
        EXPR_IF_ELSE@334..413
          BLOCK@334..413
            LBrace@334..335 "{"
            Whitespace@335..340 "\n    "
            EXPR_IF@340..411
              IfKeyword@340..342 "if"
              Whitespace@342..343 " "
              EXPR_IF_COND@343..360
                EXPR_CALL@343..360
                  EXPR_IDENT@343..353
                    PATH@343..353
                      Ident@343..353 "int32_less"
                  ARG_LIST@353..360
                    LParen@353..354 "("
                    ARG@354..357
                      EXPR_IDENT@354..355
                        PATH@354..355
                          Ident@354..355 "a"
                      Comma@355..356 ","
                      Whitespace@356..357 " "
                    ARG@357..358
                      EXPR_IDENT@357..358
                        PATH@357..358
                          Ident@357..358 "c"
                    RParen@358..359 ")"
                    Whitespace@359..360 " "
              EXPR_IF_THEN@360..383
                BLOCK@360..383
                  LBrace@360..361 "{"
                  Whitespace@361..368 "\n      "
                  EXPR_STR@368..381
                    Str@368..376 "\"valley\""
                    Whitespace@376..381 "\n    "
                  RBrace@381..382 "}"
                  Whitespace@382..383 " "
              ElseKeyword@383..387 "else"
              Whitespace@387..388 " "
              EXPR_IF_ELSE@388..411
                BLOCK@388..411
                  LBrace@388..389 "{"
                  Whitespace@389..396 "\n      "
                  EXPR_STR@396..407
                    Str@396..402 "\"flat\""
                    Whitespace@402..407 "\n    "
                  RBrace@407..408 "}"
                  Whitespace@408..411 "\n  "
            RBrace@411..412 "}"
            Whitespace@412..413 "\n"
      RBrace@413..414 "}"
      Whitespace@414..416 "\n\n"
  FN@416..839
    FnKeyword@416..418 "fn"
    Whitespace@418..419 " "
    Ident@419..423 "main"
    PARAM_LIST@423..426
      LParen@423..424 "("
      RParen@424..425 ")"
      Whitespace@425..426 " "
    BLOCK@426..839
      LBrace@426..427 "{"
      Whitespace@427..430 "\n  "
      STMT_LET@430..459
        LetKeyword@430..433 "let"
        Whitespace@433..434 " "
        PATTERN_VARIABLE@434..440
          Ident@434..439 "first"
          Whitespace@439..440 " "
        Eq@440..441 "="
        Whitespace@441..442 " "
        EXPR_CALL@442..455
          EXPR_IDENT@442..450
            PATH@442..450
              Ident@442..450 "classify"
          ARG_LIST@450..455
            LParen@450..451 "("
            ARG@451..454
              EXPR_PREFIX@451..454
                Minus@451..452 "-"
                EXPR_INT@452..454
                  Int@452..454 "42"
            RParen@454..455 ")"
        Semi@455..456 ";"
        Whitespace@456..459 "\n  "
      STMT_LET@459..487
        LetKeyword@459..462 "let"
        Whitespace@462..463 " "
        PATTERN_VARIABLE@463..470
          Ident@463..469 "second"
          Whitespace@469..470 " "
        Eq@470..471 "="
        Whitespace@471..472 " "
        EXPR_CALL@472..483
          EXPR_IDENT@472..480
            PATH@472..480
              Ident@472..480 "classify"
          ARG_LIST@480..483
            LParen@480..481 "("
            ARG@481..482
              EXPR_INT@481..482
                Int@481..482 "0"
            RParen@482..483 ")"
        Semi@483..484 ";"
        Whitespace@484..487 "\n  "
      STMT_LET@487..515
        LetKeyword@487..490 "let"
        Whitespace@490..491 " "
        PATTERN_VARIABLE@491..497
          Ident@491..496 "third"
          Whitespace@496..497 " "
        Eq@497..498 "="
        Whitespace@498..499 " "
        EXPR_CALL@499..511
          EXPR_IDENT@499..507
            PATH@499..507
              Ident@499..507 "classify"
          ARG_LIST@507..511
            LParen@507..508 "("
            ARG@508..510
              EXPR_INT@508..510
                Int@508..510 "17"
            RParen@510..511 ")"
        Semi@511..512 ";"
        Whitespace@512..515 "\n  "
      STMT_LET@515..554
        LetKeyword@515..518 "let"
        Whitespace@518..519 " "
        PATTERN_VARIABLE@519..526
          Ident@519..525 "shape1"
          Whitespace@525..526 " "
        Eq@526..527 "="
        Whitespace@527..528 " "
        EXPR_CALL@528..550
          EXPR_IDENT@528..541
            PATH@528..541
              Ident@528..541 "triangle_type"
          ARG_LIST@541..550
            LParen@541..542 "("
            ARG@542..545
              EXPR_INT@542..543
                Int@542..543 "1"
              Comma@543..544 ","
              Whitespace@544..545 " "
            ARG@545..548
              EXPR_INT@545..546
                Int@545..546 "2"
              Comma@546..547 ","
              Whitespace@547..548 " "
            ARG@548..549
              EXPR_INT@548..549
                Int@548..549 "3"
            RParen@549..550 ")"
        Semi@550..551 ";"
        Whitespace@551..554 "\n  "
      STMT_LET@554..593
        LetKeyword@554..557 "let"
        Whitespace@557..558 " "
        PATTERN_VARIABLE@558..565
          Ident@558..564 "shape2"
          Whitespace@564..565 " "
        Eq@565..566 "="
        Whitespace@566..567 " "
        EXPR_CALL@567..589
          EXPR_IDENT@567..580
            PATH@567..580
              Ident@567..580 "triangle_type"
          ARG_LIST@580..589
            LParen@580..581 "("
            ARG@581..584
              EXPR_INT@581..582
                Int@581..582 "3"
              Comma@582..583 ","
              Whitespace@583..584 " "
            ARG@584..587
              EXPR_INT@584..585
                Int@584..585 "2"
              Comma@585..586 ","
              Whitespace@586..587 " "
            ARG@587..588
              EXPR_INT@587..588
                Int@587..588 "1"
            RParen@588..589 ")"
        Semi@589..590 ";"
        Whitespace@590..593 "\n  "
      STMT_LET@593..632
        LetKeyword@593..596 "let"
        Whitespace@596..597 " "
        PATTERN_VARIABLE@597..604
          Ident@597..603 "shape3"
          Whitespace@603..604 " "
        Eq@604..605 "="
        Whitespace@605..606 " "
        EXPR_CALL@606..628
          EXPR_IDENT@606..619
            PATH@606..619
              Ident@606..619 "triangle_type"
          ARG_LIST@619..628
            LParen@619..620 "("
            ARG@620..623
              EXPR_INT@620..621
                Int@620..621 "2"
              Comma@621..622 ","
              Whitespace@622..623 " "
            ARG@623..626
              EXPR_INT@623..624
                Int@623..624 "3"
              Comma@624..625 ","
              Whitespace@625..626 " "
            ARG@626..627
              EXPR_INT@626..627
                Int@626..627 "2"
            RParen@627..628 ")"
        Semi@628..629 ";"
        Whitespace@629..632 "\n  "
      STMT_LET@632..665
        LetKeyword@632..635 "let"
        Whitespace@635..636 " "
        PATTERN_WILDCARD@636..638
          WildcardKeyword@636..637 "_"
          Whitespace@637..638 " "
        Eq@638..639 "="
        Whitespace@639..640 " "
        EXPR_CALL@640..661
          EXPR_IDENT@640..654
            PATH@640..654
              Ident@640..654 "string_println"
          ARG_LIST@654..661
            LParen@654..655 "("
            ARG@655..660
              EXPR_IDENT@655..660
                PATH@655..660
                  Ident@655..660 "first"
            RParen@660..661 ")"
        Semi@661..662 ";"
        Whitespace@662..665 "\n  "
      STMT_LET@665..699
        LetKeyword@665..668 "let"
        Whitespace@668..669 " "
        PATTERN_WILDCARD@669..671
          WildcardKeyword@669..670 "_"
          Whitespace@670..671 " "
        Eq@671..672 "="
        Whitespace@672..673 " "
        EXPR_CALL@673..695
          EXPR_IDENT@673..687
            PATH@673..687
              Ident@673..687 "string_println"
          ARG_LIST@687..695
            LParen@687..688 "("
            ARG@688..694
              EXPR_IDENT@688..694
                PATH@688..694
                  Ident@688..694 "second"
            RParen@694..695 ")"
        Semi@695..696 ";"
        Whitespace@696..699 "\n  "
      STMT_LET@699..732
        LetKeyword@699..702 "let"
        Whitespace@702..703 " "
        PATTERN_WILDCARD@703..705
          WildcardKeyword@703..704 "_"
          Whitespace@704..705 " "
        Eq@705..706 "="
        Whitespace@706..707 " "
        EXPR_CALL@707..728
          EXPR_IDENT@707..721
            PATH@707..721
              Ident@707..721 "string_println"
          ARG_LIST@721..728
            LParen@721..722 "("
            ARG@722..727
              EXPR_IDENT@722..727
                PATH@722..727
                  Ident@722..727 "third"
            RParen@727..728 ")"
        Semi@728..729 ";"
        Whitespace@729..732 "\n  "
      STMT_LET@732..766
        LetKeyword@732..735 "let"
        Whitespace@735..736 " "
        PATTERN_WILDCARD@736..738
          WildcardKeyword@736..737 "_"
          Whitespace@737..738 " "
        Eq@738..739 "="
        Whitespace@739..740 " "
        EXPR_CALL@740..762
          EXPR_IDENT@740..754
            PATH@740..754
              Ident@740..754 "string_println"
          ARG_LIST@754..762
            LParen@754..755 "("
            ARG@755..761
              EXPR_IDENT@755..761
                PATH@755..761
                  Ident@755..761 "shape1"
            RParen@761..762 ")"
        Semi@762..763 ";"
        Whitespace@763..766 "\n  "
      STMT_LET@766..800
        LetKeyword@766..769 "let"
        Whitespace@769..770 " "
        PATTERN_WILDCARD@770..772
          WildcardKeyword@770..771 "_"
          Whitespace@771..772 " "
        Eq@772..773 "="
        Whitespace@773..774 " "
        EXPR_CALL@774..796
          EXPR_IDENT@774..788
            PATH@774..788
              Ident@774..788 "string_println"
          ARG_LIST@788..796
            LParen@788..789 "("
            ARG@789..795
              EXPR_IDENT@789..795
                PATH@789..795
                  Ident@789..795 "shape2"
            RParen@795..796 ")"
        Semi@796..797 ";"
        Whitespace@797..800 "\n  "
      STMT_LET@800..834
        LetKeyword@800..803 "let"
        Whitespace@803..804 " "
        PATTERN_WILDCARD@804..806
          WildcardKeyword@804..805 "_"
          Whitespace@805..806 " "
        Eq@806..807 "="
        Whitespace@807..808 " "
        EXPR_CALL@808..830
          EXPR_IDENT@808..822
            PATH@808..822
              Ident@808..822 "string_println"
          ARG_LIST@822..830
            LParen@822..823 "("
            ARG@823..829
              EXPR_IDENT@823..829
                PATH@823..829
                  Ident@823..829 "shape3"
            RParen@829..830 ")"
        Semi@830..831 ";"
        Whitespace@831..834 "\n  "
      EXPR_UNIT@834..837
        LParen@834..835 "("
        RParen@835..836 ")"
        Whitespace@836..837 "\n"
      RBrace@837..838 "}"
      Whitespace@838..839 "\n"