FILE@0..797
  STRUCT@0..33
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Uident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..15 " "
    STRUCT_FIELD_LIST@15..33
      STRUCT_FIELD@15..21
        Lident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT@18..21
          IntKeyword@18..21 "int"
      Comma@21..22 ","
      Whitespace@22..23 " "
      STRUCT_FIELD@23..30
        Lident@23..24 "y"
        Colon@24..25 ":"
        Whitespace@25..26 " "
        TYPE_INT@26..30
          IntKeyword@26..29 "int"
          Whitespace@29..30 " "
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  ENUM@33..76
    EnumKeyword@33..37 "enum"
    Whitespace@37..38 " "
    Uident@38..44 "Option"
    GENERIC_LIST@44..48
      LBracket@44..45 "["
      GENERIC@45..46
        Uident@45..46 "T"
      RBracket@46..47 "]"
      Whitespace@47..48 " "
    LBrace@48..49 "{"
    Whitespace@49..54 "\n    "
    VARIANT_LIST@54..76
      VARIANT@54..61
        Uident@54..58 "Some"
        TYPE_LIST@58..61
          LParen@58..59 "("
          TYPE_TAPP@59..60
            Uident@59..60 "T"
          RParen@60..61 ")"
      Comma@61..62 ","
      Whitespace@62..67 "\n    "
      VARIANT@67..71
        Uident@67..71 "None"
      Comma@71..72 ","
      Whitespace@72..73 "\n"
      RBrace@73..74 "}"
      Whitespace@74..76 "\n\n"
  TRAIT@76..124
    TraitKeyword@76..81 "trait"
    Whitespace@81..82 " "
    Uident@82..89 "Display"
    Whitespace@89..90 " "
    LBrace@90..91 "{"
    Whitespace@91..96 "\n    "
    TRAIT_METHOD_SIG_LIST@96..124
      TRAIT_METHOD_SIG@96..119
        FnKeyword@96..98 "fn"
        Whitespace@98..99 " "
        Lident@99..103 "show"
        TYPE_LIST@103..110
          LParen@103..104 "("
          TYPE_TAPP@104..108
            Uident@104..108 "Self"
          RParen@108..109 ")"
          Whitespace@109..110 " "
        Arrow@110..112 "->"
        Whitespace@112..113 " "
        TYPE_STRING@113..119
          StringKeyword@113..119 "string"
      Semi@119..120 ";"
      Whitespace@120..121 "\n"
      RBrace@121..122 "}"
      Whitespace@122..124 "\n\n"
  IMPL@124..199
    ImplKeyword@124..128 "impl"
    Whitespace@128..129 " "
    Uident@129..136 "Display"
    Whitespace@136..137 " "
    ForKeyword@137..140 "for"
    Whitespace@140..141 " "
    TYPE_TAPP@141..147
      Uident@141..146 "Point"
      Whitespace@146..147 " "
    LBrace@147..148 "{"
    Whitespace@148..153 "\n    "
    FN@153..196
      FnKeyword@153..155 "fn"
      Whitespace@155..156 " "
      Lident@156..160 "show"
      PARAM_LIST@160..174
        LParen@160..161 "("
        PARAM@161..172
          Lident@161..165 "self"
          Colon@165..166 ":"
          Whitespace@166..167 " "
          TYPE_TAPP@167..172
            Uident@167..172 "Point"
        RParen@172..173 ")"
        Whitespace@173..174 " "
      Arrow@174..176 "->"
      Whitespace@176..177 " "
      TYPE_STRING@177..184
        StringKeyword@177..183 "string"
        Whitespace@183..184 " "
      BLOCK@184..196
        LBrace@184..185 "{"
        Whitespace@185..186 " "
        STMT@186..194
          EXPR_STR@186..194
            Str@186..193 "\"Point\""
            Whitespace@193..194 " "
        RBrace@194..195 "}"
        Whitespace@195..196 "\n"
    RBrace@196..197 "}"
    Whitespace@197..199 "\n\n"
  IMPL@199..428
    ImplKeyword@199..203 "impl"
    Whitespace@203..204 " "
    Uident@204..211 "Display"
    Whitespace@211..212 " "
    ForKeyword@212..215 "for"
    Whitespace@215..216 " "
    TYPE_TAPP@216..228
      Uident@216..222 "Option"
      TYPE_PARAM_LIST@222..228
        LBracket@222..223 "["
        TYPE_INT@223..226
          IntKeyword@223..226 "int"
        RBracket@226..227 "]"
        Whitespace@227..228 " "
    LBrace@228..229 "{"
    Whitespace@229..234 "\n    "
    FN@234..425
      FnKeyword@234..236 "fn"
      Whitespace@236..237 " "
      Lident@237..241 "show"
      PARAM_LIST@241..261
        LParen@241..242 "("
        PARAM@242..259
          Lident@242..246 "self"
          Colon@246..247 ":"
          Whitespace@247..248 " "
          TYPE_TAPP@248..259
            Uident@248..254 "Option"
            TYPE_PARAM_LIST@254..259
              LBracket@254..255 "["
              TYPE_INT@255..258
                IntKeyword@255..258 "int"
              RBracket@258..259 "]"
        RParen@259..260 ")"
        Whitespace@260..261 " "
      Arrow@261..263 "->"
      Whitespace@263..264 " "
      TYPE_STRING@264..271
        StringKeyword@264..270 "string"
        Whitespace@270..271 " "
      BLOCK@271..425
        LBrace@271..272 "{"
        Whitespace@272..281 "\n        "
        STMT@281..423
          EXPR_MATCH@281..423
            MatchKeyword@281..286 "match"
            Whitespace@286..287 " "
            EXPR_LIDENT@287..292
              Lident@287..291 "self"
              Whitespace@291..292 " "
            MATCH_ARM_LIST@292..423
              LBrace@292..293 "{"
              Whitespace@293..306 "\n            "
              MATCH_ARM@306..379
                PATTERN_CONSTR@306..318
                  Uident@306..310 "Some"
                  LParen@310..311 "("
                  PATTERN_VARIABLE@311..316
                    Lident@311..316 "value"
                  RParen@316..317 ")"
                  Whitespace@317..318 " "
                FatArrow@318..320 "=>"
                Whitespace@320..321 " "
                EXPR_CALL@321..379
                  EXPR_LIDENT@321..331
                    Lident@321..331 "string_add"
                  ARG_LIST@331..379
                    LParen@331..332 "("
                    ARG@332..341
                      EXPR_STR@332..339
                        Str@332..339 "\"Some(\""
                      Comma@339..340 ","
                      Whitespace@340..341 " "
                    ARG@341..378
                      EXPR_CALL@341..378
                        EXPR_LIDENT@341..351
                          Lident@341..351 "string_add"
                        ARG_LIST@351..378
                          LParen@351..352 "("
                          ARG@352..374
                            EXPR_CALL@352..372
                              EXPR_LIDENT@352..365
                                Lident@352..365 "int_to_string"
                              ARG_LIST@365..372
                                LParen@365..366 "("
                                ARG@366..371
                                  EXPR_LIDENT@366..371
                                    Lident@366..371 "value"
                                RParen@371..372 ")"
                            Comma@372..373 ","
                            Whitespace@373..374 " "
                          ARG@374..377
                            EXPR_STR@374..377
                              Str@374..377 "\")\""
                          RParen@377..378 ")"
                    RParen@378..379 ")"
              Comma@379..380 ","
              Whitespace@380..393 "\n            "
              MATCH_ARM@393..407
                PATTERN_CONSTR@393..398
                  Uident@393..397 "None"
                  Whitespace@397..398 " "
                FatArrow@398..400 "=>"
                Whitespace@400..401 " "
                EXPR_STR@401..407
                  Str@401..407 "\"None\""
              Comma@407..408 ","
              Whitespace@408..417 "\n        "
              RBrace@417..418 "}"
              Whitespace@418..423 "\n    "
        RBrace@423..424 "}"
        Whitespace@424..425 "\n"
    RBrace@425..426 "}"
    Whitespace@426..428 "\n\n"
  FN@428..516
    FnKeyword@428..430 "fn"
    Whitespace@430..431 " "
    Lident@431..444 "make_optional"
    PARAM_LIST@444..457
      LParen@444..445 "("
      PARAM@445..455
        Lident@445..449 "flag"
        Colon@449..450 ":"
        Whitespace@450..451 " "
        TYPE_BOOL@451..455
          BoolKeyword@451..455 "bool"
      RParen@455..456 ")"
      Whitespace@456..457 " "
    Arrow@457..459 "->"
    Whitespace@459..460 " "
    TYPE_TAPP@460..472
      Uident@460..466 "Option"
      TYPE_PARAM_LIST@466..472
        LBracket@466..467 "["
        TYPE_INT@467..470
          IntKeyword@467..470 "int"
        RBracket@470..471 "]"
        Whitespace@471..472 " "
    BLOCK@472..516
      LBrace@472..473 "{"
      Whitespace@473..478 "\n    "
      STMT@478..513
        EXPR_IF@478..513
          IfKeyword@478..480 "if"
          Whitespace@480..481 " "
          EXPR_IF_COND@481..486
            EXPR_LIDENT@481..486
              Lident@481..485 "flag"
              Whitespace@485..486 " "
          EXPR_IF_THEN@486..499
            BLOCK@486..499
              LBrace@486..487 "{"
              Whitespace@487..488 " "
              STMT@488..497
                EXPR_CALL@488..497
                  EXPR_UIDENT@488..492
                    Uident@488..492 "Some"
                  ARG_LIST@492..497
                    LParen@492..493 "("
                    ARG@493..495
                      EXPR_INT@493..495
                        Int@493..495 "42"
                    RParen@495..496 ")"
                    Whitespace@496..497 " "
              RBrace@497..498 "}"
              Whitespace@498..499 " "
          ElseKeyword@499..503 "else"
          Whitespace@503..504 " "
          EXPR_IF_ELSE@504..513
            BLOCK@504..513
              LBrace@504..505 "{"
              Whitespace@505..506 " "
              STMT@506..511
                EXPR_UIDENT@506..511
                  Uident@506..510 "None"
                  Whitespace@510..511 " "
              RBrace@511..512 "}"
              Whitespace@512..513 "\n"
      RBrace@513..514 "}"
      Whitespace@514..516 "\n\n"
  FN@516..797
    FnKeyword@516..518 "fn"
    Whitespace@518..519 " "
    Lident@519..523 "main"
    PARAM_LIST@523..526
      LParen@523..524 "("
      RParen@524..525 ")"
      Whitespace@525..526 " "
    BLOCK@526..797
      LBrace@526..527 "{"
      Whitespace@527..532 "\n    "
      STMT@532..795
        EXPR_LET@532..795
          LetKeyword@532..535 "let"
          Whitespace@535..536 " "
          PATTERN_VARIABLE@536..542
            Lident@536..541 "point"
            Whitespace@541..542 " "
          Eq@542..543 "="
          Whitespace@543..544 " "
          EXPR_LET_VALUE@544..564
            EXPR_STRUCT_LITERAL@544..564
              Uident@544..549 "Point"
              Whitespace@549..550 " "
              STRUCT_LITERAL_FIELD_LIST@550..564
                LBrace@550..551 "{"
                Whitespace@551..552 " "
                STRUCT_LITERAL_FIELD@552..556
                  Lident@552..553 "x"
                  Colon@553..554 ":"
                  Whitespace@554..555 " "
                  EXPR_INT@555..556
                    Int@555..556 "1"
                Comma@556..557 ","
                Whitespace@557..558 " "
                STRUCT_LITERAL_FIELD@558..563
                  Lident@558..559 "y"
                  Colon@559..560 ":"
                  Whitespace@560..561 " "
                  EXPR_INT@561..563
                    Int@561..562 "2"
                    Whitespace@562..563 " "
                RBrace@563..564 "}"
          Semi@564..565 ";"
          Whitespace@565..570 "\n    "
          EXPR_LET_BODY@570..795
            EXPR_LET@570..795
              LetKeyword@570..573 "let"
              Whitespace@573..574 " "
              PATTERN_VARIABLE@574..586
                Lident@574..585 "some_number"
                Whitespace@585..586 " "
              Eq@586..587 "="
              Whitespace@587..588 " "
              EXPR_LET_VALUE@588..607
                EXPR_CALL@588..607
                  EXPR_LIDENT@588..601
                    Lident@588..601 "make_optional"
                  ARG_LIST@601..607
                    LParen@601..602 "("
                    ARG@602..606
                      EXPR_BOOL@602..606
                        TrueKeyword@602..606 "true"
                    RParen@606..607 ")"
              Semi@607..608 ";"
              Whitespace@608..613 "\n    "
              EXPR_LET_BODY@613..795
                EXPR_LET@613..795
                  LetKeyword@613..616 "let"
                  Whitespace@616..617 " "
                  PATTERN_VARIABLE@617..629
                    Lident@617..628 "none_number"
                    Whitespace@628..629 " "
                  Eq@629..630 "="
                  Whitespace@630..631 " "
                  EXPR_LET_VALUE@631..651
                    EXPR_CALL@631..651
                      EXPR_LIDENT@631..644
                        Lident@631..644 "make_optional"
                      ARG_LIST@644..651
                        LParen@644..645 "("
                        ARG@645..650
                          EXPR_BOOL@645..650
                            FalseKeyword@645..650 "false"
                        RParen@650..651 ")"
                  Semi@651..652 ";"
                  Whitespace@652..657 "\n    "
                  EXPR_LET_BODY@657..795
                    EXPR_LET@657..795
                      LetKeyword@657..660 "let"
                      Whitespace@660..661 " "
                      PATTERN_WILDCARD@661..663
                        WildcardKeyword@661..662 "_"
                        Whitespace@662..663 " "
                      Eq@663..664 "="
                      Whitespace@664..665 " "
                      EXPR_LET_VALUE@665..692
                        EXPR_CALL@665..692
                          EXPR_LIDENT@665..679
                            Lident@665..679 "string_println"
                          ARG_LIST@679..692
                            LParen@679..680 "("
                            ARG@680..691
                              EXPR_CALL@680..691
                                EXPR_LIDENT@680..684
                                  Lident@680..684 "show"
                                ARG_LIST@684..691
                                  LParen@684..685 "("
                                  ARG@685..690
                                    EXPR_LIDENT@685..690
                                      Lident@685..690 "point"
                                  RParen@690..691 ")"
                            RParen@691..692 ")"
                      Semi@692..693 ";"
                      Whitespace@693..698 "\n    "
                      EXPR_LET_BODY@698..795
                        EXPR_LET@698..795
                          LetKeyword@698..701 "let"
                          Whitespace@701..702 " "
                          PATTERN_WILDCARD@702..704
                            WildcardKeyword@702..703 "_"
                            Whitespace@703..704 " "
                          Eq@704..705 "="
                          Whitespace@705..706 " "
                          EXPR_LET_VALUE@706..739
                            EXPR_CALL@706..739
                              EXPR_LIDENT@706..720
                                Lident@706..720 "string_println"
                              ARG_LIST@720..739
                                LParen@720..721 "("
                                ARG@721..738
                                  EXPR_CALL@721..738
                                    EXPR_LIDENT@721..725
                                      Lident@721..725 "show"
                                    ARG_LIST@725..738
                                      LParen@725..726 "("
                                      ARG@726..737
                                        EXPR_LIDENT@726..737
                                          Lident@726..737 "some_number"
                                      RParen@737..738 ")"
                                RParen@738..739 ")"
                          Semi@739..740 ";"
                          Whitespace@740..745 "\n    "
                          EXPR_LET_BODY@745..795
                            EXPR_LET@745..795
                              LetKeyword@745..748 "let"
                              Whitespace@748..749 " "
                              PATTERN_WILDCARD@749..751
                                WildcardKeyword@749..750 "_"
                                Whitespace@750..751 " "
                              Eq@751..752 "="
                              Whitespace@752..753 " "
                              EXPR_LET_VALUE@753..786
                                EXPR_CALL@753..786
                                  EXPR_LIDENT@753..767
                                    Lident@753..767 "string_println"
                                  ARG_LIST@767..786
                                    LParen@767..768 "("
                                    ARG@768..785
                                      EXPR_CALL@768..785
                                        EXPR_LIDENT@768..772
                                          Lident@768..772 "show"
                                        ARG_LIST@772..785
                                          LParen@772..773 "("
                                          ARG@773..784
                                            EXPR_LIDENT@773..784
                                              Lident@773..784 "none_number"
                                          RParen@784..785 ")"
                                    RParen@785..786 ")"
                              Semi@786..787 ";"
                              Whitespace@787..792 "\n    "
                              EXPR_LET_BODY@792..795
                                EXPR_UNIT@792..795
                                  LParen@792..793 "("
                                  RParen@793..794 ")"
                                  Whitespace@794..795 "\n"
      RBrace@795..796 "}"
      Whitespace@796..797 "\n"