FILE@0..214
  FN@0..47
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..13 "make_array"
    PARAM_LIST@13..16
      LParen@13..14 "("
      RParen@14..15 ")"
      Whitespace@15..16 " "
    Arrow@16..18 "->"
    Whitespace@18..19 " "
    TYPE_ARRAY@19..28
      LBracket@19..20 "["
      TYPE_INT@20..23
        IntKeyword@20..23 "int"
      Semi@23..24 ";"
      Whitespace@24..25 " "
      Int@25..26 "3"
      RBracket@26..27 "]"
      Whitespace@27..28 " "
    BLOCK@28..47
      LBrace@28..29 "{"
      Whitespace@29..34 "\n    "
      EXPR_ARRAY_LITERAL@34..44
        LBracket@34..35 "["
        EXPR_INT@35..36
          Int@35..36 "1"
        Comma@36..37 ","
        Whitespace@37..38 " "
        EXPR_INT@38..39
          Int@38..39 "2"
        Comma@39..40 ","
        Whitespace@40..41 " "
        EXPR_INT@41..42
          Int@41..42 "3"
        RBracket@42..43 "]"
        Whitespace@43..44 "\n"
      RBrace@44..45 "}"
      Whitespace@45..47 "\n\n"
  FN@47..214
    FnKeyword@47..49 "fn"
    Whitespace@49..50 " "
    Lident@50..54 "main"
    PARAM_LIST@54..57
      LParen@54..55 "("
      RParen@55..56 ")"
      Whitespace@56..57 " "
    BLOCK@57..214
      LBrace@57..58 "{"
      Whitespace@58..63 "\n    "
      EXPR_LET@63..212
        LetKeyword@63..66 "let"
        Whitespace@66..67 " "
        PATTERN_VARIABLE@67..71
          Lident@67..70 "arr"
          Whitespace@70..71 " "
        Eq@71..72 "="
        Whitespace@72..73 " "
        EXPR_LET_VALUE@73..86
          EXPR_CALL@73..86
            EXPR_LIDENT@73..83
              Lident@73..83 "make_array"
            ARG_LIST@83..86
              LParen@83..84 "("
              RParen@84..85 ")"
              Whitespace@85..86 " "
        InKeyword@86..88 "in"
        Whitespace@88..93 "\n    "
        EXPR_LET_BODY@93..212
          EXPR_LET@93..212
            LetKeyword@93..96 "let"
            Whitespace@96..97 " "
            PATTERN_VARIABLE@97..104
              Lident@97..103 "inline"
              Whitespace@103..104 " "
            Eq@104..105 "="
            Whitespace@105..106 " "
            EXPR_LET_VALUE@106..116
              EXPR_ARRAY_LITERAL@106..116
                LBracket@106..107 "["
                EXPR_INT@107..108
                  Int@107..108 "4"
                Comma@108..109 ","
                Whitespace@109..110 " "
                EXPR_INT@110..111
                  Int@110..111 "5"
                Comma@111..112 ","
                Whitespace@112..113 " "
                EXPR_INT@113..114
                  Int@113..114 "6"
                RBracket@114..115 "]"
                Whitespace@115..116 " "
            InKeyword@116..118 "in"
            Whitespace@118..123 "\n    "
            EXPR_LET_BODY@123..212
              EXPR_LET@123..212
                LetKeyword@123..126 "let"
                Whitespace@126..127 " "
                PATTERN_WILDCARD@127..129
                  WildcardKeyword@127..128 "_"
                  Whitespace@128..129 " "
                Eq@129..130 "="
                Whitespace@130..131 " "
                EXPR_LET_VALUE@131..161
                  EXPR_CALL@131..161
                    EXPR_LIDENT@131..143
                      Lident@131..143 "string_print"
                    ARG_LIST@143..161
                      LParen@143..144 "("
                      ARG@144..159
                        EXPR_STR@144..159
                          Str@144..159 "\"array literal\""
                      RParen@159..160 ")"
                      Whitespace@160..161 " "
                InKeyword@161..163 "in"
                Whitespace@163..168 "\n    "
                EXPR_LET_BODY@168..212
                  EXPR_LET@168..212
                    LetKeyword@168..171 "let"
                    Whitespace@171..172 " "
                    PATTERN_WILDCARD@172..174
                      WildcardKeyword@172..173 "_"
                      Whitespace@173..174 " "
                    Eq@174..175 "="
                    Whitespace@175..176 " "
                    EXPR_LET_VALUE@176..180
                      EXPR_LIDENT@176..180
                        Lident@176..179 "arr"
                        Whitespace@179..180 " "
                    InKeyword@180..182 "in"
                    Whitespace@182..187 "\n    "
                    EXPR_LET_BODY@187..212
                      EXPR_LET@187..212
                        LetKeyword@187..190 "let"
                        Whitespace@190..191 " "
                        PATTERN_WILDCARD@191..193
                          WildcardKeyword@191..192 "_"
                          Whitespace@192..193 " "
                        Eq@193..194 "="
                        Whitespace@194..195 " "
                        EXPR_LET_VALUE@195..202
                          EXPR_LIDENT@195..202
                            Lident@195..201 "inline"
                            Whitespace@201..202 " "
                        InKeyword@202..204 "in"
                        Whitespace@204..209 "\n    "
                        EXPR_LET_BODY@209..212
                          EXPR_UNIT@209..212
                            LParen@209..210 "("
                            RParen@210..211 ")"
                            Whitespace@211..212 "\n"
      RBrace@212..213 "}"
      Whitespace@213..214 "\n"