FILE@0..317
  FN@0..78
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "update_array"
    PARAM_LIST@15..33
      LParen@15..16 "("
      PARAM@16..31
        Ident@16..19 "arr"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_ARRAY@21..31
          LBracket@21..22 "["
          TYPE_INT32@22..27
            Int32Keyword@22..27 "int32"
          Semi@27..28 ";"
          Whitespace@28..29 " "
          Int@29..30 "3"
          RBracket@30..31 "]"
      RParen@31..32 ")"
      Whitespace@32..33 " "
    Arrow@33..35 "->"
    Whitespace@35..36 " "
    TYPE_ARRAY@36..47
      LBracket@36..37 "["
      TYPE_INT32@37..42
        Int32Keyword@37..42 "int32"
      Semi@42..43 ";"
      Whitespace@43..44 " "
      Int@44..45 "3"
      RBracket@45..46 "]"
      Whitespace@46..47 " "
    BLOCK@47..78
      LBrace@47..48 "{"
      Whitespace@48..53 "\n    "
      EXPR_CALL@53..75
        EXPR_IDENT@53..62
          Ident@53..62 "array_set"
        ARG_LIST@62..75
          LParen@62..63 "("
          ARG@63..68
            EXPR_IDENT@63..66
              Ident@63..66 "arr"
            Comma@66..67 ","
            Whitespace@67..68 " "
          ARG@68..71
            EXPR_INT@68..69
              Int@68..69 "1"
            Comma@69..70 ","
            Whitespace@70..71 " "
          ARG@71..73
            EXPR_INT@71..73
              Int@71..73 "42"
          RParen@73..74 ")"
          Whitespace@74..75 "\n"
      RBrace@75..76 "}"
      Whitespace@76..78 "\n\n"
  FN@78..145
    FnKeyword@78..80 "fn"
    Whitespace@80..81 " "
    Ident@81..91 "read_array"
    PARAM_LIST@91..109
      LParen@91..92 "("
      PARAM@92..107
        Ident@92..95 "arr"
        Colon@95..96 ":"
        Whitespace@96..97 " "
        TYPE_ARRAY@97..107
          LBracket@97..98 "["
          TYPE_INT32@98..103
            Int32Keyword@98..103 "int32"
          Semi@103..104 ";"
          Whitespace@104..105 " "
          Int@105..106 "3"
          RBracket@106..107 "]"
      RParen@107..108 ")"
      Whitespace@108..109 " "
    Arrow@109..111 "->"
    Whitespace@111..112 " "
    TYPE_INT32@112..118
      Int32Keyword@112..117 "int32"
      Whitespace@117..118 " "
    BLOCK@118..145
      LBrace@118..119 "{"
      Whitespace@119..124 "\n    "
      EXPR_CALL@124..142
        EXPR_IDENT@124..133
          Ident@124..133 "array_get"
        ARG_LIST@133..142
          LParen@133..134 "("
          ARG@134..139
            EXPR_IDENT@134..137
              Ident@134..137 "arr"
            Comma@137..138 ","
            Whitespace@138..139 " "
          ARG@139..140
            EXPR_INT@139..140
              Int@139..140 "1"
          RParen@140..141 ")"
          Whitespace@141..142 "\n"
      RBrace@142..143 "}"
      Whitespace@143..145 "\n\n"
  FN@145..317
    FnKeyword@145..147 "fn"
    Whitespace@147..148 " "
    Ident@148..152 "main"
    PARAM_LIST@152..155
      LParen@152..153 "("
      RParen@153..154 ")"
      Whitespace@154..155 " "
    BLOCK@155..317
      LBrace@155..156 "{"
      Whitespace@156..161 "\n    "
      STMT_LET@161..186
        LetKeyword@161..164 "let"
        Whitespace@164..165 " "
        PATTERN_VARIABLE@165..169
          Ident@165..168 "arr"
          Whitespace@168..169 " "
        Eq@169..170 "="
        Whitespace@170..171 " "
        EXPR_ARRAY_LITERAL@171..180
          LBracket@171..172 "["
          EXPR_INT@172..173
            Int@172..173 "1"
          Comma@173..174 ","
          Whitespace@174..175 " "
          EXPR_INT@175..176
            Int@175..176 "2"
          Comma@176..177 ","
          Whitespace@177..178 " "
          EXPR_INT@178..179
            Int@178..179 "3"
          RBracket@179..180 "]"
        Semi@180..181 ";"
        Whitespace@181..186 "\n    "
      STMT_LET@186..223
        LetKeyword@186..189 "let"
        Whitespace@189..190 " "
        PATTERN_VARIABLE@190..198
          Ident@190..197 "updated"
          Whitespace@197..198 " "
        Eq@198..199 "="
        Whitespace@199..200 " "
        EXPR_CALL@200..217
          EXPR_IDENT@200..212
            Ident@200..212 "update_array"
          ARG_LIST@212..217
            LParen@212..213 "("
            ARG@213..216
              EXPR_IDENT@213..216
                Ident@213..216 "arr"
            RParen@216..217 ")"
        Semi@217..218 ";"
        Whitespace@218..223 "\n    "
      STMT_LET@223..260
        LetKeyword@223..226 "let"
        Whitespace@226..227 " "
        PATTERN_VARIABLE@227..233
          Ident@227..232 "value"
          Whitespace@232..233 " "
        Eq@233..234 "="
        Whitespace@234..235 " "
        EXPR_CALL@235..254
          EXPR_IDENT@235..245
            Ident@235..245 "read_array"
          ARG_LIST@245..254
            LParen@245..246 "("
            ARG@246..253
              EXPR_IDENT@246..253
                Ident@246..253 "updated"
            RParen@253..254 ")"
        Semi@254..255 ";"
        Whitespace@255..260 "\n    "
      STMT_LET@260..312
        LetKeyword@260..263 "let"
        Whitespace@263..264 " "
        PATTERN_WILDCARD@264..266
          WildcardKeyword@264..265 "_"
          Whitespace@265..266 " "
        Eq@266..267 "="
        Whitespace@267..268 " "
        EXPR_CALL@268..306
          EXPR_IDENT@268..282
            Ident@268..282 "string_println"
          ARG_LIST@282..306
            LParen@282..283 "("
            ARG@283..305
              EXPR_CALL@283..305
                EXPR_IDENT@283..298
                  Ident@283..298 "int32_to_string"
                ARG_LIST@298..305
                  LParen@298..299 "("
                  ARG@299..304
                    EXPR_IDENT@299..304
                      Ident@299..304 "value"
                  RParen@304..305 ")"
            RParen@305..306 ")"
        Semi@306..307 ";"
        Whitespace@307..312 "\n    "
      EXPR_UNIT@312..315
        LParen@312..313 "("
        RParen@313..314 ")"
        Whitespace@314..315 "\n"
      RBrace@315..316 "}"
      Whitespace@316..317 "\n"