FILE@0..307
  FN@0..74
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..15 "update_array"
    PARAM_LIST@15..31
      LParen@15..16 "("
      PARAM@16..29
        Lident@16..19 "arr"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_ARRAY@21..29
          LBracket@21..22 "["
          TYPE_INT@22..25
            IntKeyword@22..25 "int"
          Semi@25..26 ";"
          Whitespace@26..27 " "
          Int@27..28 "3"
          RBracket@28..29 "]"
      RParen@29..30 ")"
      Whitespace@30..31 " "
    Arrow@31..33 "->"
    Whitespace@33..34 " "
    TYPE_ARRAY@34..43
      LBracket@34..35 "["
      TYPE_INT@35..38
        IntKeyword@35..38 "int"
      Semi@38..39 ";"
      Whitespace@39..40 " "
      Int@40..41 "3"
      RBracket@41..42 "]"
      Whitespace@42..43 " "
    BLOCK@43..74
      LBrace@43..44 "{"
      Whitespace@44..49 "\n    "
      EXPR_CALL@49..71
        EXPR_LIDENT@49..58
          Lident@49..58 "array_set"
        ARG_LIST@58..71
          LParen@58..59 "("
          ARG@59..64
            EXPR_LIDENT@59..62
              Lident@59..62 "arr"
            Comma@62..63 ","
            Whitespace@63..64 " "
          ARG@64..67
            EXPR_INT@64..65
              Int@64..65 "1"
            Comma@65..66 ","
            Whitespace@66..67 " "
          ARG@67..69
            EXPR_INT@67..69
              Int@67..69 "42"
          RParen@69..70 ")"
          Whitespace@70..71 "\n"
      RBrace@71..72 "}"
      Whitespace@72..74 "\n\n"
  FN@74..137
    FnKeyword@74..76 "fn"
    Whitespace@76..77 " "
    Lident@77..87 "read_array"
    PARAM_LIST@87..103
      LParen@87..88 "("
      PARAM@88..101
        Lident@88..91 "arr"
        Colon@91..92 ":"
        Whitespace@92..93 " "
        TYPE_ARRAY@93..101
          LBracket@93..94 "["
          TYPE_INT@94..97
            IntKeyword@94..97 "int"
          Semi@97..98 ";"
          Whitespace@98..99 " "
          Int@99..100 "3"
          RBracket@100..101 "]"
      RParen@101..102 ")"
      Whitespace@102..103 " "
    Arrow@103..105 "->"
    Whitespace@105..106 " "
    TYPE_INT@106..110
      IntKeyword@106..109 "int"
      Whitespace@109..110 " "
    BLOCK@110..137
      LBrace@110..111 "{"
      Whitespace@111..116 "\n    "
      EXPR_CALL@116..134
        EXPR_LIDENT@116..125
          Lident@116..125 "array_get"
        ARG_LIST@125..134
          LParen@125..126 "("
          ARG@126..131
            EXPR_LIDENT@126..129
              Lident@126..129 "arr"
            Comma@129..130 ","
            Whitespace@130..131 " "
          ARG@131..132
            EXPR_INT@131..132
              Int@131..132 "1"
          RParen@132..133 ")"
          Whitespace@133..134 "\n"
      RBrace@134..135 "}"
      Whitespace@135..137 "\n\n"
  FN@137..307
    FnKeyword@137..139 "fn"
    Whitespace@139..140 " "
    Lident@140..144 "main"
    PARAM_LIST@144..147
      LParen@144..145 "("
      RParen@145..146 ")"
      Whitespace@146..147 " "
    BLOCK@147..307
      LBrace@147..148 "{"
      Whitespace@148..153 "\n    "
      EXPR_LET@153..305
        LetKeyword@153..156 "let"
        Whitespace@156..157 " "
        PATTERN_VARIABLE@157..161
          Lident@157..160 "arr"
          Whitespace@160..161 " "
        Eq@161..162 "="
        Whitespace@162..163 " "
        EXPR_LET_VALUE@163..172
          EXPR_ARRAY_LITERAL@163..172
            LBracket@163..164 "["
            EXPR_INT@164..165
              Int@164..165 "1"
            Comma@165..166 ","
            Whitespace@166..167 " "
            EXPR_INT@167..168
              Int@167..168 "2"
            Comma@168..169 ","
            Whitespace@169..170 " "
            EXPR_INT@170..171
              Int@170..171 "3"
            RBracket@171..172 "]"
        Semi@172..173 ";"
        Whitespace@173..178 "\n    "
        EXPR_LET_BODY@178..305
          EXPR_LET@178..305
            LetKeyword@178..181 "let"
            Whitespace@181..182 " "
            PATTERN_VARIABLE@182..190
              Lident@182..189 "updated"
              Whitespace@189..190 " "
            Eq@190..191 "="
            Whitespace@191..192 " "
            EXPR_LET_VALUE@192..209
              EXPR_CALL@192..209
                EXPR_LIDENT@192..204
                  Lident@192..204 "update_array"
                ARG_LIST@204..209
                  LParen@204..205 "("
                  ARG@205..208
                    EXPR_LIDENT@205..208
                      Lident@205..208 "arr"
                  RParen@208..209 ")"
            Semi@209..210 ";"
            Whitespace@210..215 "\n    "
            EXPR_LET_BODY@215..305
              EXPR_LET@215..305
                LetKeyword@215..218 "let"
                Whitespace@218..219 " "
                PATTERN_VARIABLE@219..225
                  Lident@219..224 "value"
                  Whitespace@224..225 " "
                Eq@225..226 "="
                Whitespace@226..227 " "
                EXPR_LET_VALUE@227..246
                  EXPR_CALL@227..246
                    EXPR_LIDENT@227..237
                      Lident@227..237 "read_array"
                    ARG_LIST@237..246
                      LParen@237..238 "("
                      ARG@238..245
                        EXPR_LIDENT@238..245
                          Lident@238..245 "updated"
                      RParen@245..246 ")"
                Semi@246..247 ";"
                Whitespace@247..252 "\n    "
                EXPR_LET_BODY@252..305
                  EXPR_LET@252..305
                    LetKeyword@252..255 "let"
                    Whitespace@255..256 " "
                    PATTERN_WILDCARD@256..258
                      WildcardKeyword@256..257 "_"
                      Whitespace@257..258 " "
                    Eq@258..259 "="
                    Whitespace@259..260 " "
                    EXPR_LET_VALUE@260..296
                      EXPR_CALL@260..296
                        EXPR_LIDENT@260..274
                          Lident@260..274 "string_println"
                        ARG_LIST@274..296
                          LParen@274..275 "("
                          ARG@275..295
                            EXPR_CALL@275..295
                              EXPR_LIDENT@275..288
                                Lident@275..288 "int_to_string"
                              ARG_LIST@288..295
                                LParen@288..289 "("
                                ARG@289..294
                                  EXPR_LIDENT@289..294
                                    Lident@289..294 "value"
                                RParen@294..295 ")"
                          RParen@295..296 ")"
                    Semi@296..297 ";"
                    Whitespace@297..302 "\n    "
                    EXPR_LET_BODY@302..305
                      EXPR_UNIT@302..305
                        LParen@302..303 "("
                        RParen@303..304 ")"
                        Whitespace@304..305 "\n"
      RBrace@305..306 "}"
      Whitespace@306..307 "\n"