FILE@0..1500
  FN@0..172
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "test"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..172
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..31
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Lident@20..21 "y"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_INT@24..25
          Int@24..25 "3"
        Semi@25..26 ";"
        Whitespace@26..31 "\n    "
      STMT_LET@31..46
        LetKeyword@31..34 "let"
        Whitespace@34..35 " "
        PATTERN_VARIABLE@35..37
          Lident@35..36 "z"
          Whitespace@36..37 " "
        Eq@37..38 "="
        Whitespace@38..39 " "
        EXPR_INT@39..40
          Int@39..40 "5"
        Semi@40..41 ";"
        Whitespace@41..46 "\n    "
      STMT_LET@46..80
        LetKeyword@46..49 "let"
        Whitespace@49..50 " "
        PATTERN_VARIABLE@50..52
          Lident@50..51 "f"
          Whitespace@51..52 " "
        Eq@52..53 "="
        Whitespace@53..54 " "
        EXPR_CLOSURE@54..74
          CLOSURE_PARAM_LIST@54..65
            Pipe@54..55 "|"
            CLOSURE_PARAM@55..63
              Lident@55..56 "x"
              Colon@56..57 ":"
              Whitespace@57..58 " "
              TYPE_INT32@58..63
                Int32Keyword@58..63 "int32"
            Pipe@63..64 "|"
            Whitespace@64..65 " "
          EXPR_CLOSURE_BODY@65..74
            EXPR_BINARY@65..74
              EXPR_BINARY@65..71
                EXPR_LIDENT@65..67
                  Lident@65..66 "x"
                  Whitespace@66..67 " "
                Star@67..68 "*"
                Whitespace@68..69 " "
                EXPR_LIDENT@69..71
                  Lident@69..70 "y"
                  Whitespace@70..71 " "
              Star@71..72 "*"
              Whitespace@72..73 " "
              EXPR_LIDENT@73..74
                Lident@73..74 "z"
        Semi@74..75 ";"
        Whitespace@75..80 "\n    "
      STMT_LET@80..131
        LetKeyword@80..83 "let"
        Whitespace@83..84 " "
        PATTERN_WILDCARD@84..86
          WildcardKeyword@84..85 "_"
          Whitespace@85..86 " "
        Eq@86..87 "="
        Whitespace@87..88 " "
        EXPR_CALL@88..125
          EXPR_LIDENT@88..102
            Lident@88..102 "string_println"
          ARG_LIST@102..125
            LParen@102..103 "("
            ARG@103..124
              EXPR_CALL@103..124
                EXPR_LIDENT@103..118
                  Lident@103..118 "int32_to_string"
                ARG_LIST@118..124
                  LParen@118..119 "("
                  ARG@119..123
                    EXPR_CALL@119..123
                      EXPR_LIDENT@119..120
                        Lident@119..120 "f"
                      ARG_LIST@120..123
                        LParen@120..121 "("
                        ARG@121..122
                          EXPR_INT@121..122
                            Int@121..122 "2"
                        RParen@122..123 ")"
                  RParen@123..124 ")"
            RParen@124..125 ")"
        Semi@125..126 ";"
        Whitespace@126..131 "\n    "
      EXPR_CALL@131..169
        EXPR_LIDENT@131..145
          Lident@131..145 "string_println"
        ARG_LIST@145..169
          LParen@145..146 "("
          ARG@146..167
            EXPR_CALL@146..167
              EXPR_LIDENT@146..161
                Lident@146..161 "int32_to_string"
              ARG_LIST@161..167
                LParen@161..162 "("
                ARG@162..166
                  EXPR_CALL@162..166
                    EXPR_LIDENT@162..163
                      Lident@162..163 "f"
                    ARG_LIST@163..166
                      LParen@163..164 "("
                      ARG@164..165
                        EXPR_INT@164..165
                          Int@164..165 "3"
                      RParen@165..166 ")"
                RParen@166..167 ")"
          RParen@167..168 ")"
          Whitespace@168..169 "\n"
      RBrace@169..170 "}"
      Whitespace@170..172 "\n\n"
  FN@172..242
    FnKeyword@172..174 "fn"
    Whitespace@174..175 " "
    Lident@175..186 "call_int_id"
    PARAM_LIST@186..219
      LParen@186..187 "("
      PARAM@187..209
        Lident@187..188 "f"
        Whitespace@188..189 " "
        Colon@189..190 ":"
        Whitespace@190..191 " "
        TYPE_FUNC@191..207
          TYPE_TUPLE@191..199
            TYPE_LIST@191..199
              LParen@191..192 "("
              TYPE_INT32@192..197
                Int32Keyword@192..197 "int32"
              RParen@197..198 ")"
              Whitespace@198..199 " "
          Arrow@199..201 "->"
          Whitespace@201..202 " "
          TYPE_INT32@202..207
            Int32Keyword@202..207 "int32"
        Comma@207..208 ","
        Whitespace@208..209 " "
      PARAM@209..217
        Lident@209..210 "v"
        Colon@210..211 ":"
        Whitespace@211..212 " "
        TYPE_INT32@212..217
          Int32Keyword@212..217 "int32"
      RParen@217..218 ")"
      Whitespace@218..219 " "
    Arrow@219..221 "->"
    Whitespace@221..222 " "
    TYPE_INT32@222..228
      Int32Keyword@222..227 "int32"
      Whitespace@227..228 " "
    BLOCK@228..242
      LBrace@228..229 "{"
      Whitespace@229..234 "\n    "
      EXPR_CALL@234..239
        EXPR_LIDENT@234..235
          Lident@234..235 "f"
        ARG_LIST@235..239
          LParen@235..236 "("
          ARG@236..237
            EXPR_LIDENT@236..237
              Lident@236..237 "v"
          RParen@237..238 ")"
          Whitespace@238..239 "\n"
      RBrace@239..240 "}"
      Whitespace@240..242 "\n\n"
  ENUM@242..295
    EnumKeyword@242..246 "enum"
    Whitespace@246..247 " "
    Uident@247..254 "IntList"
    Whitespace@254..255 " "
    LBrace@255..256 "{"
    Whitespace@256..261 "\n    "
    VARIANT_LIST@261..295
      VARIANT@261..264
        Uident@261..264 "Nil"
      Comma@264..265 ","
      Whitespace@265..270 "\n    "
      VARIANT@270..290
        Uident@270..274 "Cons"
        TYPE_LIST@274..290
          LParen@274..275 "("
          TYPE_INT32@275..280
            Int32Keyword@275..280 "int32"
          Comma@280..281 ","
          Whitespace@281..282 " "
          TYPE_TAPP@282..289
            Uident@282..289 "IntList"
          RParen@289..290 ")"
      Comma@290..291 ","
      Whitespace@291..292 "\n"
      RBrace@292..293 "}"
      Whitespace@293..295 "\n\n"
  STRUCT@295..341
    StructKeyword@295..301 "struct"
    Whitespace@301..302 " "
    Uident@302..307 "Point"
    Whitespace@307..308 " "
    LBrace@308..309 "{"
    Whitespace@309..314 "\n    "
    STRUCT_FIELD_LIST@314..341
      STRUCT_FIELD@314..322
        Lident@314..315 "x"
        Colon@315..316 ":"
        Whitespace@316..317 " "
        TYPE_INT32@317..322
          Int32Keyword@317..322 "int32"
      Comma@322..323 ","
      Whitespace@323..328 "\n    "
      STRUCT_FIELD@328..336
        Lident@328..329 "y"
        Colon@329..330 ":"
        Whitespace@330..331 " "
        TYPE_INT32@331..336
          Int32Keyword@331..336 "int32"
      Comma@336..337 ","
      Whitespace@337..338 "\n"
      RBrace@338..339 "}"
      Whitespace@339..341 "\n\n"
  FN@341..1500
    FnKeyword@341..343 "fn"
    Whitespace@343..344 " "
    Lident@344..348 "main"
    PARAM_LIST@348..351
      LParen@348..349 "("
      RParen@349..350 ")"
      Whitespace@350..351 " "
    BLOCK@351..1500
      LBrace@351..352 "{"
      Whitespace@352..357 "\n    "
      STMT_LET@357..375
        LetKeyword@357..360 "let"
        Whitespace@360..361 " "
        PATTERN_VARIABLE@361..366
          Lident@361..365 "base"
          Whitespace@365..366 " "
        Eq@366..367 "="
        Whitespace@367..368 " "
        EXPR_INT@368..369
          Int@368..369 "5"
        Semi@369..370 ";"
        Whitespace@370..375 "\n    "
      STMT_LET@375..415
        LetKeyword@375..378 "let"
        Whitespace@378..379 " "
        PATTERN_VARIABLE@379..388
          Lident@379..387 "add_base"
          Whitespace@387..388 " "
        Eq@388..389 "="
        Whitespace@389..390 " "
        EXPR_CLOSURE@390..409
          CLOSURE_PARAM_LIST@390..401
            Pipe@390..391 "|"
            CLOSURE_PARAM@391..399
              Lident@391..392 "x"
              Colon@392..393 ":"
              Whitespace@393..394 " "
              TYPE_INT32@394..399
                Int32Keyword@394..399 "int32"
            Pipe@399..400 "|"
            Whitespace@400..401 " "
          EXPR_CLOSURE_BODY@401..409
            EXPR_BINARY@401..409
              EXPR_LIDENT@401..403
                Lident@401..402 "x"
                Whitespace@402..403 " "
              Plus@403..404 "+"
              Whitespace@404..405 " "
              EXPR_LIDENT@405..409
                Lident@405..409 "base"
        Semi@409..410 ";"
        Whitespace@410..415 "\n    "
      STMT_LET@415..445
        LetKeyword@415..418 "let"
        Whitespace@418..419 " "
        PATTERN_VARIABLE@419..426
          Lident@419..425 "result"
          Whitespace@425..426 " "
        Eq@426..427 "="
        Whitespace@427..428 " "
        EXPR_CALL@428..439
          EXPR_LIDENT@428..436
            Lident@428..436 "add_base"
          ARG_LIST@436..439
            LParen@436..437 "("
            ARG@437..438
              EXPR_INT@437..438
                Int@437..438 "7"
            RParen@438..439 ")"
        Semi@439..440 ";"
        Whitespace@440..445 "\n    "
      STMT_LET@445..601
        LetKeyword@445..448 "let"
        Whitespace@448..449 " "
        PATTERN_VARIABLE@449..457
          Lident@449..456 "printer"
          Whitespace@456..457 " "
        Eq@457..458 "="
        Whitespace@458..459 " "
        EXPR_CLOSURE@459..595
          CLOSURE_PARAM_LIST@459..490
            Pipe@459..460 "|"
            CLOSURE_PARAM@460..474
              Lident@460..466 "prefix"
              Colon@466..467 ":"
              Whitespace@467..468 " "
              TYPE_STRING@468..474
                StringKeyword@468..474 "string"
            Comma@474..475 ","
            Whitespace@475..476 " "
            CLOSURE_PARAM@476..488
              Lident@476..481 "value"
              Colon@481..482 ":"
              Whitespace@482..483 " "
              TYPE_INT32@483..488
                Int32Keyword@483..488 "int32"
            Pipe@488..489 "|"
            Whitespace@489..490 " "
          EXPR_CLOSURE_BODY@490..595
            BLOCK@490..595
              LBrace@490..491 "{"
              Whitespace@491..500 "\n        "
              STMT_LET@500..566
                LetKeyword@500..503 "let"
                Whitespace@503..504 " "
                PATTERN_VARIABLE@504..512
                  Lident@504..511 "message"
                  Whitespace@511..512 " "
                Eq@512..513 "="
                Whitespace@513..514 " "
                EXPR_CALL@514..556
                  EXPR_LIDENT@514..524
                    Lident@514..524 "string_add"
                  ARG_LIST@524..556
                    LParen@524..525 "("
                    ARG@525..533
                      EXPR_LIDENT@525..531
                        Lident@525..531 "prefix"
                      Comma@531..532 ","
                      Whitespace@532..533 " "
                    ARG@533..555
                      EXPR_CALL@533..555
                        EXPR_LIDENT@533..548
                          Lident@533..548 "int32_to_string"
                        ARG_LIST@548..555
                          LParen@548..549 "("
                          ARG@549..554
                            EXPR_LIDENT@549..554
                              Lident@549..554 "value"
                          RParen@554..555 ")"
                    RParen@555..556 ")"
                Semi@556..557 ";"
                Whitespace@557..566 "\n        "
              EXPR_CALL@566..594
                EXPR_LIDENT@566..580
                  Lident@566..580 "string_println"
                ARG_LIST@580..594
                  LParen@580..581 "("
                  ARG@581..588
                    EXPR_LIDENT@581..588
                      Lident@581..588 "message"
                  RParen@588..589 ")"
                  Whitespace@589..594 "\n    "
              RBrace@594..595 "}"
        Semi@595..596 ";"
        Whitespace@596..601 "\n    "
      STMT_LET@601..642
        LetKeyword@601..604 "let"
        Whitespace@604..605 " "
        PATTERN_WILDCARD@605..607
          WildcardKeyword@605..606 "_"
          Whitespace@606..607 " "
        Eq@607..608 "="
        Whitespace@608..609 " "
        EXPR_CALL@609..636
          EXPR_LIDENT@609..616
            Lident@609..616 "printer"
          ARG_LIST@616..636
            LParen@616..617 "("
            ARG@617..629
              EXPR_STR@617..627
                Str@617..627 "\"result: \""
              Comma@627..628 ","
              Whitespace@628..629 " "
            ARG@629..635
              EXPR_LIDENT@629..635
                Lident@629..635 "result"
            RParen@635..636 ")"
        Semi@636..637 ";"
        Whitespace@637..642 "\n    "
      STMT_LET@642..682
        LetKeyword@642..645 "let"
        Whitespace@645..646 " "
        PATTERN_VARIABLE@646..653
          Lident@646..652 "unused"
          Whitespace@652..653 " "
        Eq@653..654 "="
        Whitespace@654..655 " "
        EXPR_CLOSURE@655..676
          CLOSURE_PARAM_LIST@655..666
            Pipe@655..656 "|"
            CLOSURE_PARAM@656..664
              Lident@656..657 "y"
              Colon@657..658 ":"
              Whitespace@658..659 " "
              TYPE_INT32@659..664
                Int32Keyword@659..664 "int32"
            Pipe@664..665 "|"
            Whitespace@665..666 " "
          EXPR_CLOSURE_BODY@666..676
            EXPR_BINARY@666..676
              EXPR_LIDENT@666..668
                Lident@666..667 "y"
                Whitespace@667..668 " "
              Plus@668..669 "+"
              Whitespace@669..670 " "
              EXPR_LIDENT@670..676
                Lident@670..676 "result"
        Semi@676..677 ";"
        Whitespace@677..682 "\n    "
      STMT_LET@682..721
        LetKeyword@682..685 "let"
        Whitespace@685..686 " "
        PATTERN_VARIABLE@686..697
          Lident@686..696 "no_capture"
          Whitespace@696..697 " "
        Eq@697..698 "="
        Whitespace@698..699 " "
        EXPR_CLOSURE@699..715
          CLOSURE_PARAM_LIST@699..710
            Pipe@699..700 "|"
            CLOSURE_PARAM@700..708
              Lident@700..701 "z"
              Colon@701..702 ":"
              Whitespace@702..703 " "
              TYPE_INT32@703..708
                Int32Keyword@703..708 "int32"
            Pipe@708..709 "|"
            Whitespace@709..710 " "
          EXPR_CLOSURE_BODY@710..715
            EXPR_BINARY@710..715
              EXPR_LIDENT@710..712
                Lident@710..711 "z"
                Whitespace@711..712 " "
              Star@712..713 "*"
              Whitespace@713..714 " "
              EXPR_INT@714..715
                Int@714..715 "2"
        Semi@715..716 ";"
        Whitespace@716..721 "\n    "
      STMT_LET@721..754
        LetKeyword@721..724 "let"
        Whitespace@724..725 " "
        PATTERN_VARIABLE@725..733
          Lident@725..732 "doubled"
          Whitespace@732..733 " "
        Eq@733..734 "="
        Whitespace@734..735 " "
        EXPR_CALL@735..748
          EXPR_LIDENT@735..745
            Lident@735..745 "no_capture"
          ARG_LIST@745..748
            LParen@745..746 "("
            ARG@746..747
              EXPR_INT@746..747
                Int@746..747 "3"
            RParen@747..748 ")"
        Semi@748..749 ";"
        Whitespace@749..754 "\n    "
      STMT_LET@754..808
        LetKeyword@754..757 "let"
        Whitespace@757..758 " "
        PATTERN_WILDCARD@758..760
          WildcardKeyword@758..759 "_"
          Whitespace@759..760 " "
        Eq@760..761 "="
        Whitespace@761..762 " "
        EXPR_CALL@762..802
          EXPR_LIDENT@762..776
            Lident@762..776 "string_println"
          ARG_LIST@776..802
            LParen@776..777 "("
            ARG@777..801
              EXPR_CALL@777..801
                EXPR_LIDENT@777..792
                  Lident@777..792 "int32_to_string"
                ARG_LIST@792..801
                  LParen@792..793 "("
                  ARG@793..800
                    EXPR_LIDENT@793..800
                      Lident@793..800 "doubled"
                  RParen@800..801 ")"
            RParen@801..802 ")"
        Semi@802..803 ";"
        Whitespace@803..808 "\n    "
      STMT_LET@808..829
        LetKeyword@808..811 "let"
        Whitespace@811..812 " "
        PATTERN_WILDCARD@812..814
          WildcardKeyword@812..813 "_"
          Whitespace@813..814 " "
        Eq@814..815 "="
        Whitespace@815..816 " "
        EXPR_CALL@816..822
          EXPR_LIDENT@816..820
            Lident@816..820 "test"
          ARG_LIST@820..822
            LParen@820..821 "("
            RParen@821..822 ")"
        Semi@822..823 ";"
        Whitespace@823..829 "\n\n    "
      STMT_LET@829..880
        LetKeyword@829..832 "let"
        Whitespace@832..833 " "
        PATTERN_VARIABLE@833..841
          Lident@833..840 "list123"
          Whitespace@840..841 " "
        Eq@841..842 "="
        Whitespace@842..843 " "
        EXPR_CALL@843..873
          EXPR_UIDENT@843..847
            Uident@843..847 "Cons"
          ARG_LIST@847..873
            LParen@847..848 "("
            ARG@848..851
              EXPR_INT@848..849
                Int@848..849 "1"
              Comma@849..850 ","
              Whitespace@850..851 " "
            ARG@851..872
              EXPR_CALL@851..872
                EXPR_UIDENT@851..855
                  Uident@851..855 "Cons"
                ARG_LIST@855..872
                  LParen@855..856 "("
                  ARG@856..859
                    EXPR_INT@856..857
                      Int@856..857 "2"
                    Comma@857..858 ","
                    Whitespace@858..859 " "
                  ARG@859..871
                    EXPR_CALL@859..871
                      EXPR_UIDENT@859..863
                        Uident@859..863 "Cons"
                      ARG_LIST@863..871
                        LParen@863..864 "("
                        ARG@864..867
                          EXPR_INT@864..865
                            Int@864..865 "3"
                          Comma@865..866 ","
                          Whitespace@866..867 " "
                        ARG@867..870
                          EXPR_UIDENT@867..870
                            Uident@867..870 "Nil"
                        RParen@870..871 ")"
                  RParen@871..872 ")"
            RParen@872..873 ")"
        Semi@873..874 ";"
        Whitespace@874..880 "\n\n    "
      STMT_LET@880..921
        LetKeyword@880..883 "let"
        Whitespace@883..884 " "
        PATTERN_VARIABLE@884..890
          Lident@884..889 "point"
          Whitespace@889..890 " "
        Eq@890..891 "="
        Whitespace@891..892 " "
        EXPR_STRUCT_LITERAL@892..914
          Uident@892..897 "Point"
          Whitespace@897..898 " "
          STRUCT_LITERAL_FIELD_LIST@898..914
            LBrace@898..899 "{"
            Whitespace@899..900 " "
            STRUCT_LITERAL_FIELD@900..905
              Lident@900..901 "x"
              Colon@901..902 ":"
              Whitespace@902..903 " "
              EXPR_INT@903..905
                Int@903..905 "10"
            Comma@905..906 ","
            Whitespace@906..907 " "
            STRUCT_LITERAL_FIELD@907..913
              Lident@907..908 "y"
              Colon@908..909 ":"
              Whitespace@909..910 " "
              EXPR_INT@910..913
                Int@910..912 "20"
                Whitespace@912..913 " "
            RBrace@913..914 "}"
        Semi@914..915 ";"
        Whitespace@915..921 "\n\n    "
      STMT_LET@921..1460
        LetKeyword@921..924 "let"
        Whitespace@924..925 " "
        PATTERN_VARIABLE@925..945
          Lident@925..944 "play_list_and_point"
          Whitespace@944..945 " "
        Eq@945..946 "="
        Whitespace@946..947 " "
        EXPR_CLOSURE@947..1453
          CLOSURE_PARAM_LIST@947..950
            OrOr@947..949 "||"
            Whitespace@949..950 " "
          EXPR_CLOSURE_BODY@950..1453
            BLOCK@950..1453
              LBrace@950..951 "{"
              Whitespace@951..960 "\n        "
              EXPR_MATCH@960..1452
                MatchKeyword@960..965 "match"
                Whitespace@965..966 " "
                EXPR_LIDENT@966..974
                  Lident@966..973 "list123"
                  Whitespace@973..974 " "
                MATCH_ARM_LIST@974..1452
                  LBrace@974..975 "{"
                  Whitespace@975..988 "\n            "
                  MATCH_ARM@988..1023
                    PATTERN_CONSTR@988..992
                      Uident@988..991 "Nil"
                      Whitespace@991..992 " "
                    FatArrow@992..994 "=>"
                    Whitespace@994..995 " "
                    EXPR_CALL@995..1023
                      EXPR_LIDENT@995..1009
                        Lident@995..1009 "string_println"
                      ARG_LIST@1009..1023
                        LParen@1009..1010 "("
                        ARG@1010..1022
                          EXPR_STR@1010..1022
                            Str@1010..1022 "\"Empty list\""
                        RParen@1022..1023 ")"
                  Comma@1023..1024 ","
                  Whitespace@1024..1037 "\n            "
                  MATCH_ARM@1037..1446
                    PATTERN_CONSTR@1037..1054
                      Uident@1037..1041 "Cons"
                      LParen@1041..1042 "("
                      PATTERN_VARIABLE@1042..1046
                        Lident@1042..1046 "head"
                      Comma@1046..1047 ","
                      Whitespace@1047..1048 " "
                      PATTERN_VARIABLE@1048..1052
                        Lident@1048..1052 "tail"
                      RParen@1052..1053 ")"
                      Whitespace@1053..1054 " "
                    FatArrow@1054..1056 "=>"
                    Whitespace@1056..1057 " "
                    BLOCK@1057..1446
                      LBrace@1057..1058 "{"
                      Whitespace@1058..1075 "\n                "
                      STMT_LET@1075..1138
                        LetKeyword@1075..1078 "let"
                        Whitespace@1078..1079 " "
                        PATTERN_WILDCARD@1079..1081
                          WildcardKeyword@1079..1080 "_"
                          Whitespace@1080..1081 " "
                        Eq@1081..1082 "="
                        Whitespace@1082..1083 " "
                        EXPR_CALL@1083..1120
                          EXPR_LIDENT@1083..1097
                            Lident@1083..1097 "string_println"
                          ARG_LIST@1097..1120
                            LParen@1097..1098 "("
                            ARG@1098..1119
                              EXPR_CALL@1098..1119
                                EXPR_LIDENT@1098..1113
                                  Lident@1098..1113 "int32_to_string"
                                ARG_LIST@1113..1119
                                  LParen@1113..1114 "("
                                  ARG@1114..1118
                                    EXPR_LIDENT@1114..1118
                                      Lident@1114..1118 "head"
                                  RParen@1118..1119 ")"
                            RParen@1119..1120 ")"
                        Semi@1120..1121 ";"
                        Whitespace@1121..1138 "\n                "
                      EXPR_MATCH@1138..1436
                        MatchKeyword@1138..1143 "match"
                        Whitespace@1143..1144 " "
                        EXPR_LIDENT@1144..1150
                          Lident@1144..1149 "point"
                          Whitespace@1149..1150 " "
                        MATCH_ARM_LIST@1150..1436
                          LBrace@1150..1151 "{"
                          Whitespace@1151..1172 "\n                    "
                          MATCH_ARM@1172..1422
                            PATTERN_CONSTR@1172..1193
                              Uident@1172..1177 "Point"
                              Whitespace@1177..1178 " "
                              STRUCT_PATTERN_FIELD_LIST@1178..1193
                                LBrace@1178..1179 "{"
                                Whitespace@1179..1180 " "
                                STRUCT_PATTERN_FIELD@1180..1184
                                  Lident@1180..1181 "x"
                                  Colon@1181..1182 ":"
                                  Whitespace@1182..1183 " "
                                  PATTERN_VARIABLE@1183..1184
                                    Lident@1183..1184 "x"
                                Comma@1184..1185 ","
                                Whitespace@1185..1186 " "
                                STRUCT_PATTERN_FIELD@1186..1191
                                  Lident@1186..1187 "y"
                                  Colon@1187..1188 ":"
                                  Whitespace@1188..1189 " "
                                  PATTERN_VARIABLE@1189..1191
                                    Lident@1189..1190 "y"
                                    Whitespace@1190..1191 " "
                                RBrace@1191..1192 "}"
                                Whitespace@1192..1193 " "
                            FatArrow@1193..1195 "=>"
                            Whitespace@1195..1196 " "
                            BLOCK@1196..1422
                              LBrace@1196..1197 "{"
                              Whitespace@1197..1222 "\n                     ..."
                              STMT_LET@1222..1381
                                LetKeyword@1222..1225 "let"
                                Whitespace@1225..1226 " "
                                PATTERN_WILDCARD@1226..1228
                                  WildcardKeyword@1226..1227 "_"
                                  Whitespace@1227..1228 " "
                                Eq@1228..1229 "="
                                Whitespace@1229..1230 " "
                                EXPR_CALL@1230..1355
                                  EXPR_LIDENT@1230..1244
                                    Lident@1230..1244 "string_println"
                                  ARG_LIST@1244..1355
                                    LParen@1244..1245 "("
                                    ARG@1245..1354
                                      EXPR_CALL@1245..1354
                                        EXPR_LIDENT@1245..1255
                                          Lident@1245..1255 "string_add"
                                        ARG_LIST@1255..1354
                                          LParen@1255..1256 "("
                                          ARG@1256..1268
                                            EXPR_STR@1256..1266
                                              Str@1256..1266 "\"Point: (\""
                                            Comma@1266..1267 ","
                                            Whitespace@1267..1268 " "
                                          ARG@1268..1353
                                            EXPR_CALL@1268..1353
                                              EXPR_LIDENT@1268..1278
                                                Lident@1268..1278 "string_add"
                                              ARG_LIST@1278..1353
                                                LParen@1278..1279 "("
                                                ARG@1279..1299
                                                  EXPR_CALL@1279..1297
                                                    EXPR_LIDENT@1279..1294
                                                      Lident@1279..1294 "int32_to_string"
                                                    ARG_LIST@1294..1297
                                                      LParen@1294..1295 "("
                                                      ARG@1295..1296
                                                        EXPR_LIDENT@1295..1296
                                                          Lident@1295..1296 "x"
                                                      RParen@1296..1297 ")"
                                                  Comma@1297..1298 ","
                                                  Whitespace@1298..1299 " "
                                                ARG@1299..1352
                                                  EXPR_CALL@1299..1352
                                                    EXPR_LIDENT@1299..1309
                                                      Lident@1299..1309 "string_add"
                                                    ARG_LIST@1309..1352
                                                      LParen@1309..1310 "("
                                                      ARG@1310..1316
                                                        EXPR_STR@1310..1314
                                                          Str@1310..1314 "\", \""
                                                        Comma@1314..1315 ","
                                                        Whitespace@1315..1316 " "
                                                      ARG@1316..1351
                                                        EXPR_CALL@1316..1351
                                                          EXPR_LIDENT@1316..1326
                                                            Lident@1316..1326 "string_add"
                                                          ARG_LIST@1326..1351
                                                            LParen@1326..1327 "("
                                                            ARG@1327..1347
                                                              EXPR_CALL@1327..1345
                                                                EXPR_LIDENT@1327..1342
                                                                  Lident@1327..1342 "int32_to_string"
                                                                ARG_LIST@1342..1345
                                                                  LParen@1342..1343 "("
                                                                  ARG@1343..1344
                                                                    EXPR_LIDENT@1343..1344
                                                                      Lident@1343..1344 "y"
                                                                  RParen@1344..1345 ")"
                                                              Comma@1345..1346 ","
                                                              Whitespace@1346..1347 " "
                                                            ARG@1347..1350
                                                              EXPR_STR@1347..1350
                                                                Str@1347..1350 "\")\""
                                                            RParen@1350..1351 ")"
                                                      RParen@1351..1352 ")"
                                                RParen@1352..1353 ")"
                                          RParen@1353..1354 ")"
                                    RParen@1354..1355 ")"
                                Semi@1355..1356 ";"
                                Whitespace@1356..1381 "\n                     ..."
                              EXPR_UNIT@1381..1404
                                LParen@1381..1382 "("
                                RParen@1382..1383 ")"
                                Whitespace@1383..1404 "\n                    "
                              RBrace@1404..1405 "}"
                              Whitespace@1405..1422 "\n                "
                          RBrace@1422..1423 "}"
                          Whitespace@1423..1436 "\n            "
                      RBrace@1436..1437 "}"
                      Whitespace@1437..1446 "\n        "
                  RBrace@1446..1447 "}"
                  Whitespace@1447..1452 "\n    "
              RBrace@1452..1453 "}"
        Semi@1453..1454 ";"
        Whitespace@1454..1460 "\n\n    "
      STMT_LET@1460..1495
        LetKeyword@1460..1463 "let"
        Whitespace@1463..1464 " "
        PATTERN_WILDCARD@1464..1466
          WildcardKeyword@1464..1465 "_"
          Whitespace@1465..1466 " "
        Eq@1466..1467 "="
        Whitespace@1467..1468 " "
        EXPR_CALL@1468..1489
          EXPR_LIDENT@1468..1487
            Lident@1468..1487 "play_list_and_point"
          ARG_LIST@1487..1489
            LParen@1487..1488 "("
            RParen@1488..1489 ")"
        Semi@1489..1490 ";"
        Whitespace@1490..1495 "\n    "
      EXPR_UNIT@1495..1498
        LParen@1495..1496 "("
        RParen@1496..1497 ")"
        Whitespace@1497..1498 "\n"
      RBrace@1498..1499 "}"
      Whitespace@1499..1500 "\n"