FILE@0..1046
  FN@0..40
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..9 "double"
    PARAM_LIST@9..18
      LParen@9..10 "("
      PARAM@10..16
        Lident@10..11 "x"
        Colon@11..12 ":"
        Whitespace@12..13 " "
        TYPE_INT@13..16
          IntKeyword@13..16 "int"
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_INT@21..25
      IntKeyword@21..24 "int"
      Whitespace@24..25 " "
    BLOCK@25..40
      LBrace@25..26 "{"
      Whitespace@26..31 "\n    "
      EXPR_BINARY@31..37
        EXPR_LIDENT@31..33
          Lident@31..32 "x"
          Whitespace@32..33 " "
        Star@33..34 "*"
        Whitespace@34..35 " "
        EXPR_INT@35..37
          Int@35..36 "2"
          Whitespace@36..37 "\n"
      RBrace@37..38 "}"
      Whitespace@38..40 "\n\n"
  FN@40..83
    FnKeyword@40..42 "fn"
    Whitespace@42..43 " "
    Lident@43..52 "increment"
    PARAM_LIST@52..61
      LParen@52..53 "("
      PARAM@53..59
        Lident@53..54 "x"
        Colon@54..55 ":"
        Whitespace@55..56 " "
        TYPE_INT@56..59
          IntKeyword@56..59 "int"
      RParen@59..60 ")"
      Whitespace@60..61 " "
    Arrow@61..63 "->"
    Whitespace@63..64 " "
    TYPE_INT@64..68
      IntKeyword@64..67 "int"
      Whitespace@67..68 " "
    BLOCK@68..83
      LBrace@68..69 "{"
      Whitespace@69..74 "\n    "
      EXPR_BINARY@74..80
        EXPR_LIDENT@74..76
          Lident@74..75 "x"
          Whitespace@75..76 " "
        Plus@76..77 "+"
        Whitespace@77..78 " "
        EXPR_INT@78..80
          Int@78..79 "1"
          Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..151
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Lident@86..96 "apply_once"
    PARAM_LIST@96..126
      LParen@96..97 "("
      PARAM@97..114
        Lident@97..98 "f"
        Colon@98..99 ":"
        Whitespace@99..100 " "
        TYPE_FUNC@100..112
          TYPE_TUPLE@100..106
            TYPE_LIST@100..106
              LParen@100..101 "("
              TYPE_INT@101..104
                IntKeyword@101..104 "int"
              RParen@104..105 ")"
              Whitespace@105..106 " "
          Arrow@106..108 "->"
          Whitespace@108..109 " "
          TYPE_INT@109..112
            IntKeyword@109..112 "int"
        Comma@112..113 ","
        Whitespace@113..114 " "
      PARAM@114..124
        Lident@114..119 "value"
        Colon@119..120 ":"
        Whitespace@120..121 " "
        TYPE_INT@121..124
          IntKeyword@121..124 "int"
      RParen@124..125 ")"
      Whitespace@125..126 " "
    Arrow@126..128 "->"
    Whitespace@128..129 " "
    TYPE_INT@129..133
      IntKeyword@129..132 "int"
      Whitespace@132..133 " "
    BLOCK@133..151
      LBrace@133..134 "{"
      Whitespace@134..139 "\n    "
      EXPR_CALL@139..148
        EXPR_LIDENT@139..140
          Lident@139..140 "f"
        ARG_LIST@140..148
          LParen@140..141 "("
          ARG@141..146
            EXPR_LIDENT@141..146
              Lident@141..146 "value"
          RParen@146..147 ")"
          Whitespace@147..148 "\n"
      RBrace@148..149 "}"
      Whitespace@149..151 "\n\n"
  FN@151..236
    FnKeyword@151..153 "fn"
    Whitespace@153..154 " "
    Lident@154..161 "compose"
    PARAM_LIST@161..208
      LParen@161..162 "("
      PARAM@162..179
        Lident@162..163 "f"
        Colon@163..164 ":"
        Whitespace@164..165 " "
        TYPE_FUNC@165..177
          TYPE_TUPLE@165..171
            TYPE_LIST@165..171
              LParen@165..166 "("
              TYPE_INT@166..169
                IntKeyword@166..169 "int"
              RParen@169..170 ")"
              Whitespace@170..171 " "
          Arrow@171..173 "->"
          Whitespace@173..174 " "
          TYPE_INT@174..177
            IntKeyword@174..177 "int"
        Comma@177..178 ","
        Whitespace@178..179 " "
      PARAM@179..196
        Lident@179..180 "g"
        Colon@180..181 ":"
        Whitespace@181..182 " "
        TYPE_FUNC@182..194
          TYPE_TUPLE@182..188
            TYPE_LIST@182..188
              LParen@182..183 "("
              TYPE_INT@183..186
                IntKeyword@183..186 "int"
              RParen@186..187 ")"
              Whitespace@187..188 " "
          Arrow@188..190 "->"
          Whitespace@190..191 " "
          TYPE_INT@191..194
            IntKeyword@191..194 "int"
        Comma@194..195 ","
        Whitespace@195..196 " "
      PARAM@196..206
        Lident@196..201 "value"
        Colon@201..202 ":"
        Whitespace@202..203 " "
        TYPE_INT@203..206
          IntKeyword@203..206 "int"
      RParen@206..207 ")"
      Whitespace@207..208 " "
    Arrow@208..210 "->"
    Whitespace@210..211 " "
    TYPE_INT@211..215
      IntKeyword@211..214 "int"
      Whitespace@214..215 " "
    BLOCK@215..236
      LBrace@215..216 "{"
      Whitespace@216..221 "\n    "
      EXPR_CALL@221..233
        EXPR_LIDENT@221..222
          Lident@221..222 "f"
        ARG_LIST@222..233
          LParen@222..223 "("
          ARG@223..231
            EXPR_CALL@223..231
              EXPR_LIDENT@223..224
                Lident@223..224 "g"
              ARG_LIST@224..231
                LParen@224..225 "("
                ARG@225..230
                  EXPR_LIDENT@225..230
                    Lident@225..230 "value"
                RParen@230..231 ")"
          RParen@231..232 ")"
          Whitespace@232..233 "\n"
      RBrace@233..234 "}"
      Whitespace@234..236 "\n\n"
  FN@236..1046
    FnKeyword@236..238 "fn"
    Whitespace@238..239 " "
    Lident@239..243 "main"
    PARAM_LIST@243..246
      LParen@243..244 "("
      RParen@244..245 ")"
      Whitespace@245..246 " "
    BLOCK@246..1046
      LBrace@246..247 "{"
      Whitespace@247..252 "\n    "
      EXPR_LET@252..1044
        LetKeyword@252..255 "let"
        Whitespace@255..256 " "
        PATTERN_VARIABLE@256..262
          Lident@256..261 "local"
          Whitespace@261..262 " "
        Eq@262..263 "="
        Whitespace@263..264 " "
        EXPR_LET_VALUE@264..271
          EXPR_LIDENT@264..271
            Lident@264..270 "double"
            Whitespace@270..271 " "
        InKeyword@271..273 "in"
        Whitespace@273..278 "\n    "
        EXPR_LET_BODY@278..1044
          EXPR_LET@278..1044
            LetKeyword@278..281 "let"
            Whitespace@281..282 " "
            PATTERN_VARIABLE@282..288
              Lident@282..287 "first"
              Whitespace@287..288 " "
            Eq@288..289 "="
            Whitespace@289..290 " "
            EXPR_LET_VALUE@290..311
              EXPR_CALL@290..311
                EXPR_LIDENT@290..300
                  Lident@290..300 "apply_once"
                ARG_LIST@300..311
                  LParen@300..301 "("
                  ARG@301..308
                    EXPR_LIDENT@301..306
                      Lident@301..306 "local"
                    Comma@306..307 ","
                    Whitespace@307..308 " "
                  ARG@308..309
                    EXPR_INT@308..309
                      Int@308..309 "4"
                  RParen@309..310 ")"
                  Whitespace@310..311 " "
            InKeyword@311..313 "in"
            Whitespace@313..318 "\n    "
            EXPR_LET_BODY@318..1044
              EXPR_LET@318..1044
                LetKeyword@318..321 "let"
                Whitespace@321..322 " "
                PATTERN_VARIABLE@322..331
                  Lident@322..330 "composed"
                  Whitespace@330..331 " "
                Eq@331..332 "="
                Whitespace@332..333 " "
                EXPR_LET_VALUE@333..367
                  EXPR_CALL@333..367
                    EXPR_LIDENT@333..340
                      Lident@333..340 "compose"
                    ARG_LIST@340..367
                      LParen@340..341 "("
                      ARG@341..349
                        EXPR_LIDENT@341..347
                          Lident@341..347 "double"
                        Comma@347..348 ","
                        Whitespace@348..349 " "
                      ARG@349..360
                        EXPR_LIDENT@349..358
                          Lident@349..358 "increment"
                        Comma@358..359 ","
                        Whitespace@359..360 " "
                      ARG@360..365
                        EXPR_LIDENT@360..365
                          Lident@360..365 "first"
                      RParen@365..366 ")"
                      Whitespace@366..367 " "
                InKeyword@367..369 "in"
                Whitespace@369..374 "\n    "
                EXPR_LET_BODY@374..1044
                  EXPR_LET@374..1044
                    LetKeyword@374..377 "let"
                    Whitespace@377..378 " "
                    PATTERN_VARIABLE@378..392
                      Lident@378..391 "closure_apply"
                      Whitespace@391..392 " "
                    Eq@392..393 "="
                    Whitespace@393..394 " "
                    EXPR_LET_VALUE@394..436
                      EXPR_CLOSURE@394..436
                        CLOSURE_PARAM_LIST@394..407
                          Pipe@394..395 "|"
                          CLOSURE_PARAM@395..405
                            Lident@395..400 "value"
                            Colon@400..401 ":"
                            Whitespace@401..402 " "
                            TYPE_INT@402..405
                              IntKeyword@402..405 "int"
                          Pipe@405..406 "|"
                          Whitespace@406..407 " "
                        EXPR_CLOSURE_BODY@407..436
                          EXPR_CALL@407..436
                            EXPR_LIDENT@407..417
                              Lident@407..417 "apply_once"
                            ARG_LIST@417..436
                              LParen@417..418 "("
                              ARG@418..429
                                EXPR_LIDENT@418..427
                                  Lident@418..427 "increment"
                                Comma@427..428 ","
                                Whitespace@428..429 " "
                              ARG@429..434
                                EXPR_LIDENT@429..434
                                  Lident@429..434 "value"
                              RParen@434..435 ")"
                              Whitespace@435..436 " "
                    InKeyword@436..438 "in"
                    Whitespace@438..443 "\n    "
                    EXPR_LET_BODY@443..1044
                      EXPR_LET@443..1044
                        LetKeyword@443..446 "let"
                        Whitespace@446..447 " "
                        PATTERN_VARIABLE@447..462
                          Lident@447..461 "closure_result"
                          Whitespace@461..462 " "
                        Eq@462..463 "="
                        Whitespace@463..464 " "
                        EXPR_LET_VALUE@464..488
                          EXPR_CALL@464..488
                            EXPR_LIDENT@464..477
                              Lident@464..477 "closure_apply"
                            ARG_LIST@477..488
                              LParen@477..478 "("
                              ARG@478..486
                                EXPR_LIDENT@478..486
                                  Lident@478..486 "composed"
                              RParen@486..487 ")"
                              Whitespace@487..488 " "
                        InKeyword@488..490 "in"
                        Whitespace@490..495 "\n    "
                        EXPR_LET_BODY@495..1044
                          EXPR_LET@495..1044
                            LetKeyword@495..498 "let"
                            Whitespace@498..499 " "
                            PATTERN_VARIABLE@499..514
                              Lident@499..513 "global_invoker"
                              Whitespace@513..514 " "
                            Eq@514..515 "="
                            Whitespace@515..516 " "
                            EXPR_LET_VALUE@516..589
                              EXPR_CLOSURE@516..589
                                CLOSURE_PARAM_LIST@516..557
                                  Pipe@516..517 "|"
                                  CLOSURE_PARAM@517..543
                                    Lident@517..529 "func_to_call"
                                    Colon@529..530 ":"
                                    Whitespace@530..531 " "
                                    TYPE_FUNC@531..543
                                      TYPE_TUPLE@531..537
                                        TYPE_LIST@531..537
                                          LParen@531..532 "("
                                          TYPE_INT@532..535
                                            IntKeyword@532..535 "int"
                                          RParen@535..536 ")"
                                          Whitespace@536..537 " "
                                      Arrow@537..539 "->"
                                      Whitespace@539..540 " "
                                      TYPE_INT@540..543
                                        IntKeyword@540..543 "int"
                                  Comma@543..544 ","
                                  Whitespace@544..545 " "
                                  CLOSURE_PARAM@545..555
                                    Lident@545..550 "value"
                                    Colon@550..551 ":"
                                    Whitespace@551..552 " "
                                    TYPE_INT@552..555
                                      IntKeyword@552..555 "int"
                                  Pipe@555..556 "|"
                                  Whitespace@556..557 " "
                                EXPR_CLOSURE_BODY@557..589
                                  EXPR_CALL@557..589
                                    EXPR_LIDENT@557..567
                                      Lident@557..567 "apply_once"
                                    ARG_LIST@567..589
                                      LParen@567..568 "("
                                      ARG@568..582
                                        EXPR_LIDENT@568..580
                                          Lident@568..580 "func_to_call"
                                        Comma@580..581 ","
                                        Whitespace@581..582 " "
                                      ARG@582..587
                                        EXPR_LIDENT@582..587
                                          Lident@582..587 "value"
                                      RParen@587..588 ")"
                                      Whitespace@588..589 " "
                            InKeyword@589..591 "in"
                            Whitespace@591..596 "\n    "
                            EXPR_LET_BODY@596..1044
                              EXPR_LET@596..1044
                                LetKeyword@596..599 "let"
                                Whitespace@599..600 " "
                                PATTERN_VARIABLE@600..620
                                  Lident@600..619 "invoked_with_global"
                                  Whitespace@619..620 " "
                                Eq@620..621 "="
                                Whitespace@621..622 " "
                                EXPR_LET_VALUE@622..648
                                  EXPR_CALL@622..648
                                    EXPR_LIDENT@622..636
                                      Lident@622..636 "global_invoker"
                                    ARG_LIST@636..648
                                      LParen@636..637 "("
                                      ARG@637..645
                                        EXPR_LIDENT@637..643
                                          Lident@637..643 "double"
                                        Comma@643..644 ","
                                        Whitespace@644..645 " "
                                      ARG@645..646
                                        EXPR_INT@645..646
                                          Int@645..646 "3"
                                      RParen@646..647 ")"
                                      Whitespace@647..648 " "
                                InKeyword@648..650 "in"
                                Whitespace@650..655 "\n    "
                                EXPR_LET_BODY@655..1044
                                  EXPR_LET@655..1044
                                    LetKeyword@655..658 "let"
                                    Whitespace@658..659 " "
                                    PATTERN_VARIABLE@659..676
                                      Lident@659..675 "composer_closure"
                                      Whitespace@675..676 " "
                                    Eq@676..677 "="
                                    Whitespace@677..678 " "
                                    EXPR_LET_VALUE@678..725
                                      EXPR_CLOSURE@678..725
                                        CLOSURE_PARAM_LIST@678..691
                                          Pipe@678..679 "|"
                                          CLOSURE_PARAM@679..689
                                            Lident@679..684 "value"
                                            Colon@684..685 ":"
                                            Whitespace@685..686 " "
                                            TYPE_INT@686..689
                                              IntKeyword@686..689 "int"
                                          Pipe@689..690 "|"
                                          Whitespace@690..691 " "
                                        EXPR_CLOSURE_BODY@691..725
                                          EXPR_CALL@691..725
                                            EXPR_LIDENT@691..698
                                              Lident@691..698 "compose"
                                            ARG_LIST@698..725
                                              LParen@698..699 "("
                                              ARG@699..707
                                                EXPR_LIDENT@699..705
                                                  Lident@699..705 "double"
                                                Comma@705..706 ","
                                                Whitespace@706..707 " "
                                              ARG@707..718
                                                EXPR_LIDENT@707..716
                                                  Lident@707..716 "increment"
                                                Comma@716..717 ","
                                                Whitespace@717..718 " "
                                              ARG@718..723
                                                EXPR_LIDENT@718..723
                                                  Lident@718..723 "value"
                                              RParen@723..724 ")"
                                              Whitespace@724..725 " "
                                    InKeyword@725..727 "in"
                                    Whitespace@727..732 "\n    "
                                    EXPR_LET_BODY@732..1044
                                      EXPR_LET@732..1044
                                        LetKeyword@732..735 "let"
                                        Whitespace@735..736 " "
                                        PATTERN_VARIABLE@736..756
                                          Lident@736..755 "composed_by_closure"
                                          Whitespace@755..756 " "
                                        Eq@756..757 "="
                                        Whitespace@757..758 " "
                                        EXPR_LET_VALUE@758..778
                                          EXPR_CALL@758..778
                                            EXPR_LIDENT@758..774
                                              Lident@758..774 "composer_closure"
                                            ARG_LIST@774..778
                                              LParen@774..775 "("
                                              ARG@775..776
                                                EXPR_INT@775..776
                                                  Int@775..776 "5"
                                              RParen@776..777 ")"
                                              Whitespace@777..778 " "
                                        InKeyword@778..780 "in"
                                        Whitespace@780..785 "\n    "
                                        EXPR_LET_BODY@785..1044
                                          EXPR_LET@785..1044
                                            LetKeyword@785..788 "let"
                                            Whitespace@788..789 " "
                                            PATTERN_VARIABLE@789..797
                                              Lident@789..796 "printer"
                                              Whitespace@796..797 " "
                                            Eq@797..798 "="
                                            Whitespace@798..799 " "
                                            EXPR_LET_VALUE@799..814
                                              EXPR_LIDENT@799..814
                                                Lident@799..813 "string_println"
                                                Whitespace@813..814 " "
                                            InKeyword@814..816 "in"
                                            Whitespace@816..821 "\n    "
                                            EXPR_LET_BODY@821..1044
                                              EXPR_LET@821..1044
                                                LetKeyword@821..824 "let"
                                                Whitespace@824..825 " "
                                                PATTERN_WILDCARD@825..827
                                                  WildcardKeyword@825..826 "_"
                                                  Whitespace@826..827 " "
                                                Eq@827..828 "="
                                                Whitespace@828..829 " "
                                                EXPR_LET_VALUE@829..862
                                                  EXPR_CALL@829..862
                                                    EXPR_LIDENT@829..836
                                                      Lident@829..836 "printer"
                                                    ARG_LIST@836..862
                                                      LParen@836..837 "("
                                                      ARG@837..860
                                                        EXPR_CALL@837..860
                                                          EXPR_LIDENT@837..850
                                                            Lident@837..850 "int_to_string"
                                                          ARG_LIST@850..860
                                                            LParen@850..851 "("
                                                            ARG@851..859
                                                              EXPR_LIDENT@851..859
                                                                Lident@851..859 "composed"
                                                            RParen@859..860 ")"
                                                      RParen@860..861 ")"
                                                      Whitespace@861..862 " "
                                                InKeyword@862..864 "in"
                                                Whitespace@864..869 "\n    "
                                                EXPR_LET_BODY@869..1044
                                                  EXPR_LET@869..1044
                                                    LetKeyword@869..872 "let"
                                                    Whitespace@872..873 " "
                                                    PATTERN_WILDCARD@873..875
                                                      WildcardKeyword@873..874 "_"
                                                      Whitespace@874..875 " "
                                                    Eq@875..876 "="
                                                    Whitespace@876..877 " "
                                                    EXPR_LET_VALUE@877..916
                                                      EXPR_CALL@877..916
                                                        EXPR_LIDENT@877..884
                                                          Lident@877..884 "printer"
                                                        ARG_LIST@884..916
                                                          LParen@884..885 "("
                                                          ARG@885..914
                                                            EXPR_CALL@885..914
                                                              EXPR_LIDENT@885..898
                                                                Lident@885..898 "int_to_string"
                                                              ARG_LIST@898..914
                                                                LParen@898..899 "("
                                                                ARG@899..913
                                                                  EXPR_LIDENT@899..913
                                                                    Lident@899..913 "closure_result"
                                                                RParen@913..914 ")"
                                                          RParen@914..915 ")"
                                                          Whitespace@915..916 " "
                                                    InKeyword@916..918 "in"
                                                    Whitespace@918..923 "\n    "
                                                    EXPR_LET_BODY@923..1044
                                                      EXPR_LET@923..1044
                                                        LetKeyword@923..926 "let"
                                                        Whitespace@926..927 " "
                                                        PATTERN_WILDCARD@927..929
                                                          WildcardKeyword@927..928 "_"
                                                          Whitespace@928..929 " "
                                                        Eq@929..930 "="
                                                        Whitespace@930..931 " "
                                                        EXPR_LET_VALUE@931..975
                                                          EXPR_CALL@931..975
                                                            EXPR_LIDENT@931..938
                                                              Lident@931..938 "printer"
                                                            ARG_LIST@938..975
                                                              LParen@938..939 "("
                                                              ARG@939..973
                                                                EXPR_CALL@939..973
                                                                  EXPR_LIDENT@939..952
                                                                    Lident@939..952 "int_to_string"
                                                                  ARG_LIST@952..973
                                                                    LParen@952..953 "("
                                                                    ARG@953..972
                                                                      EXPR_LIDENT@953..972
                                                                        Lident@953..972 "invoked_with_global"
                                                                    RParen@972..973 ")"
                                                              RParen@973..974 ")"
                                                              Whitespace@974..975 " "
                                                        InKeyword@975..977 "in"
                                                        Whitespace@977..982 "\n    "
                                                        EXPR_LET_BODY@982..1044
                                                          EXPR_LET@982..1044
                                                            LetKeyword@982..985 "let"
                                                            Whitespace@985..986 " "
                                                            PATTERN_WILDCARD@986..988
                                                              WildcardKeyword@986..987 "_"
                                                              Whitespace@987..988 " "
                                                            Eq@988..989 "="
                                                            Whitespace@989..990 " "
                                                            EXPR_LET_VALUE@990..1034
                                                              EXPR_CALL@990..1034
                                                                EXPR_LIDENT@990..997
                                                                  Lident@990..997 "printer"
                                                                ARG_LIST@997..1034
                                                                  LParen@997..998 "("
                                                                  ARG@998..1032
                                                                    EXPR_CALL@998..1032
                                                                      EXPR_LIDENT@998..1011
                                                                        Lident@998..1011 "int_to_string"
                                                                      ARG_LIST@1011..1032
                                                                        LParen@1011..1012 "("
                                                                        ARG@1012..1031
                                                                          EXPR_LIDENT@1012..1031
                                                                            Lident@1012..1031 "composed_by_closure"
                                                                        RParen@1031..1032 ")"
                                                                  RParen@1032..1033 ")"
                                                                  Whitespace@1033..1034 " "
                                                            InKeyword@1034..1036 "in"
                                                            Whitespace@1036..1041 "\n    "
                                                            EXPR_LET_BODY@1041..1044
                                                              EXPR_UNIT@1041..1044
                                                                LParen@1041..1042 "("
                                                                RParen@1042..1043 ")"
                                                                Whitespace@1043..1044 "\n"
      RBrace@1044..1045 "}"
      Whitespace@1045..1046 "\n"