FILE@0..599
  FN@0..44
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..9 "double"
    PARAM_LIST@9..20
      LParen@9..10 "("
      PARAM@10..18
        Lident@10..11 "x"
        Colon@11..12 ":"
        Whitespace@12..13 " "
        TYPE_INT32@13..18
          Int32Keyword@13..18 "int32"
      RParen@18..19 ")"
      Whitespace@19..20 " "
    Arrow@20..22 "->"
    Whitespace@22..23 " "
    TYPE_INT32@23..29
      Int32Keyword@23..28 "int32"
      Whitespace@28..29 " "
    BLOCK@29..44
      LBrace@29..30 "{"
      Whitespace@30..35 "\n    "
      EXPR_BINARY@35..41
        EXPR_LIDENT@35..37
          Lident@35..36 "x"
          Whitespace@36..37 " "
        Star@37..38 "*"
        Whitespace@38..39 " "
        EXPR_INT@39..41
          Int@39..40 "2"
          Whitespace@40..41 "\n"
      RBrace@41..42 "}"
      Whitespace@42..44 "\n\n"
  FN@44..91
    FnKeyword@44..46 "fn"
    Whitespace@46..47 " "
    Lident@47..56 "increment"
    PARAM_LIST@56..67
      LParen@56..57 "("
      PARAM@57..65
        Lident@57..58 "x"
        Colon@58..59 ":"
        Whitespace@59..60 " "
        TYPE_INT32@60..65
          Int32Keyword@60..65 "int32"
      RParen@65..66 ")"
      Whitespace@66..67 " "
    Arrow@67..69 "->"
    Whitespace@69..70 " "
    TYPE_INT32@70..76
      Int32Keyword@70..75 "int32"
      Whitespace@75..76 " "
    BLOCK@76..91
      LBrace@76..77 "{"
      Whitespace@77..82 "\n    "
      EXPR_BINARY@82..88
        EXPR_LIDENT@82..84
          Lident@82..83 "x"
          Whitespace@83..84 " "
        Plus@84..85 "+"
        Whitespace@85..86 " "
        EXPR_INT@86..88
          Int@86..87 "1"
          Whitespace@87..88 "\n"
      RBrace@88..89 "}"
      Whitespace@89..91 "\n\n"
  FN@91..205
    FnKeyword@91..93 "fn"
    Whitespace@93..94 " "
    Lident@94..101 "chooser"
    PARAM_LIST@101..114
      LParen@101..102 "("
      PARAM@102..112
        Lident@102..106 "flag"
        Colon@106..107 ":"
        Whitespace@107..108 " "
        TYPE_BOOL@108..112
          BoolKeyword@108..112 "bool"
      RParen@112..113 ")"
      Whitespace@113..114 " "
    Arrow@114..116 "->"
    Whitespace@116..117 " "
    TYPE_FUNC@117..134
      TYPE_TUPLE@117..125
        TYPE_LIST@117..125
          LParen@117..118 "("
          TYPE_INT32@118..123
            Int32Keyword@118..123 "int32"
          RParen@123..124 ")"
          Whitespace@124..125 " "
      Arrow@125..127 "->"
      Whitespace@127..128 " "
      TYPE_INT32@128..134
        Int32Keyword@128..133 "int32"
        Whitespace@133..134 " "
    BLOCK@134..205
      LBrace@134..135 "{"
      Whitespace@135..140 "\n    "
      EXPR_IF@140..202
        IfKeyword@140..142 "if"
        Whitespace@142..143 " "
        EXPR_IF_COND@143..148
          EXPR_LIDENT@143..148
            Lident@143..147 "flag"
            Whitespace@147..148 " "
        EXPR_IF_THEN@148..171
          BLOCK@148..171
            LBrace@148..149 "{"
            Whitespace@149..158 "\n        "
            EXPR_LIDENT@158..169
              Lident@158..164 "double"
              Whitespace@164..169 "\n    "
            RBrace@169..170 "}"
            Whitespace@170..171 " "
        ElseKeyword@171..175 "else"
        Whitespace@175..176 " "
        EXPR_IF_ELSE@176..202
          BLOCK@176..202
            LBrace@176..177 "{"
            Whitespace@177..186 "\n        "
            EXPR_LIDENT@186..200
              Lident@186..195 "increment"
              Whitespace@195..200 "\n    "
            RBrace@200..201 "}"
            Whitespace@201..202 "\n"
      RBrace@202..203 "}"
      Whitespace@203..205 "\n\n"
  FN@205..599
    FnKeyword@205..207 "fn"
    Whitespace@207..208 " "
    Lident@208..212 "main"
    PARAM_LIST@212..215
      LParen@212..213 "("
      RParen@213..214 ")"
      Whitespace@214..215 " "
    BLOCK@215..599
      LBrace@215..216 "{"
      Whitespace@216..221 "\n    "
      STMT_LET@221..255
        LetKeyword@221..224 "let"
        Whitespace@224..225 " "
        PATTERN_VARIABLE@225..228
          Lident@225..227 "xs"
          Whitespace@227..228 " "
        Eq@228..229 "="
        Whitespace@229..230 " "
        EXPR_ARRAY_LITERAL@230..249
          LBracket@230..231 "["
          EXPR_LIDENT@231..237
            Lident@231..237 "double"
          Comma@237..238 ","
          Whitespace@238..239 " "
          EXPR_LIDENT@239..248
            Lident@239..248 "increment"
          RBracket@248..249 "]"
        Semi@249..250 ";"
        Whitespace@250..255 "\n    "
      STMT_LET@255..285
        LetKeyword@255..258 "let"
        Whitespace@258..259 " "
        PATTERN_VARIABLE@259..261
          Lident@259..260 "f"
          Whitespace@260..261 " "
        Eq@261..262 "="
        Whitespace@262..263 " "
        EXPR_CALL@263..279
          EXPR_LIDENT@263..272
            Lident@263..272 "array_get"
          ARG_LIST@272..279
            LParen@272..273 "("
            ARG@273..277
              EXPR_LIDENT@273..275
                Lident@273..275 "xs"
              Comma@275..276 ","
              Whitespace@276..277 " "
            ARG@277..278
              EXPR_INT@277..278
                Int@277..278 "0"
            RParen@278..279 ")"
        Semi@279..280 ";"
        Whitespace@280..285 "\n    "
      STMT_LET@285..315
        LetKeyword@285..288 "let"
        Whitespace@288..289 " "
        PATTERN_VARIABLE@289..291
          Lident@289..290 "g"
          Whitespace@290..291 " "
        Eq@291..292 "="
        Whitespace@292..293 " "
        EXPR_CALL@293..309
          EXPR_LIDENT@293..302
            Lident@293..302 "array_get"
          ARG_LIST@302..309
            LParen@302..303 "("
            ARG@303..307
              EXPR_LIDENT@303..305
                Lident@303..305 "xs"
              Comma@305..306 ","
              Whitespace@306..307 " "
            ARG@307..308
              EXPR_INT@307..308
                Int@307..308 "1"
            RParen@308..309 ")"
        Semi@309..310 ";"
        Whitespace@310..315 "\n    "
      STMT_LET@315..370
        LetKeyword@315..318 "let"
        Whitespace@318..319 " "
        PATTERN_WILDCARD@319..321
          WildcardKeyword@319..320 "_"
          Whitespace@320..321 " "
        Eq@321..322 "="
        Whitespace@322..323 " "
        EXPR_CALL@323..364
          EXPR_LIDENT@323..337
            Lident@323..337 "string_println"
          ARG_LIST@337..364
            LParen@337..338 "("
            ARG@338..363
              EXPR_CALL@338..363
                EXPR_LIDENT@338..353
                  Lident@338..353 "int32_to_string"
                ARG_LIST@353..363
                  LParen@353..354 "("
                  ARG@354..362
                    EXPR_CALL@354..362
                      EXPR_LIDENT@354..355
                        Lident@354..355 "g"
                      ARG_LIST@355..362
                        LParen@355..356 "("
                        ARG@356..361
                          EXPR_CALL@356..361
                            EXPR_LIDENT@356..357
                              Lident@356..357 "f"
                            ARG_LIST@357..361
                              LParen@357..358 "("
                              ARG@358..360
                                EXPR_INT@358..360
                                  Int@358..360 "10"
                              RParen@360..361 ")"
                        RParen@361..362 ")"
                  RParen@362..363 ")"
            RParen@363..364 ")"
        Semi@364..365 ";"
        Whitespace@365..370 "\n    "
      STMT_LET@370..402
        LetKeyword@370..373 "let"
        Whitespace@373..374 " "
        PATTERN_VARIABLE@374..381
          Lident@374..380 "chosen"
          Whitespace@380..381 " "
        Eq@381..382 "="
        Whitespace@382..383 " "
        EXPR_CALL@383..396
          EXPR_LIDENT@383..390
            Lident@383..390 "chooser"
          ARG_LIST@390..396
            LParen@390..391 "("
            ARG@391..395
              EXPR_BOOL@391..395
                TrueKeyword@391..395 "true"
            RParen@395..396 ")"
        Semi@396..397 ";"
        Whitespace@397..402 "\n    "
      STMT_LET@402..431
        LetKeyword@402..405 "let"
        Whitespace@405..406 " "
        PATTERN_VARIABLE@406..414
          Lident@406..413 "applied"
          Whitespace@413..414 " "
        Eq@414..415 "="
        Whitespace@415..416 " "
        EXPR_CALL@416..425
          EXPR_LIDENT@416..422
            Lident@416..422 "chosen"
          ARG_LIST@422..425
            LParen@422..423 "("
            ARG@423..424
              EXPR_INT@423..424
                Int@423..424 "5"
            RParen@424..425 ")"
        Semi@425..426 ";"
        Whitespace@426..431 "\n    "
      STMT_LET@431..467
        LetKeyword@431..434 "let"
        Whitespace@434..435 " "
        PATTERN_VARIABLE@435..442
          Lident@435..441 "direct"
          Whitespace@441..442 " "
        Eq@442..443 "="
        Whitespace@443..444 " "
        EXPR_CALL@444..461
          EXPR_CALL@444..458
            EXPR_LIDENT@444..451
              Lident@444..451 "chooser"
            ARG_LIST@451..458
              LParen@451..452 "("
              ARG@452..457
                EXPR_BOOL@452..457
                  FalseKeyword@452..457 "false"
              RParen@457..458 ")"
          ARG_LIST@458..461
            LParen@458..459 "("
            ARG@459..460
              EXPR_INT@459..460
                Int@459..460 "5"
            RParen@460..461 ")"
        Semi@461..462 ";"
        Whitespace@462..467 "\n    "
      STMT_LET@467..501
        LetKeyword@467..470 "let"
        Whitespace@470..471 " "
        PATTERN_VARIABLE@471..479
          Lident@471..478 "printer"
          Whitespace@478..479 " "
        Eq@479..480 "="
        Whitespace@480..481 " "
        EXPR_LIDENT@481..495
          Lident@481..495 "string_println"
        Semi@495..496 ";"
        Whitespace@496..501 "\n    "
      STMT_LET@501..548
        LetKeyword@501..504 "let"
        Whitespace@504..505 " "
        PATTERN_WILDCARD@505..507
          WildcardKeyword@505..506 "_"
          Whitespace@506..507 " "
        Eq@507..508 "="
        Whitespace@508..509 " "
        EXPR_CALL@509..542
          EXPR_LIDENT@509..516
            Lident@509..516 "printer"
          ARG_LIST@516..542
            LParen@516..517 "("
            ARG@517..541
              EXPR_CALL@517..541
                EXPR_LIDENT@517..532
                  Lident@517..532 "int32_to_string"
                ARG_LIST@532..541
                  LParen@532..533 "("
                  ARG@533..540
                    EXPR_LIDENT@533..540
                      Lident@533..540 "applied"
                  RParen@540..541 ")"
            RParen@541..542 ")"
        Semi@542..543 ";"
        Whitespace@543..548 "\n    "
      STMT_LET@548..594
        LetKeyword@548..551 "let"
        Whitespace@551..552 " "
        PATTERN_WILDCARD@552..554
          WildcardKeyword@552..553 "_"
          Whitespace@553..554 " "
        Eq@554..555 "="
        Whitespace@555..556 " "
        EXPR_CALL@556..588
          EXPR_LIDENT@556..563
            Lident@556..563 "printer"
          ARG_LIST@563..588
            LParen@563..564 "("
            ARG@564..587
              EXPR_CALL@564..587
                EXPR_LIDENT@564..579
                  Lident@564..579 "int32_to_string"
                ARG_LIST@579..587
                  LParen@579..580 "("
                  ARG@580..586
                    EXPR_LIDENT@580..586
                      Lident@580..586 "direct"
                  RParen@586..587 ")"
            RParen@587..588 ")"
        Semi@588..589 ";"
        Whitespace@589..594 "\n    "
      EXPR_UNIT@594..597
        LParen@594..595 "("
        RParen@595..596 ")"
        Whitespace@596..597 "\n"
      RBrace@597..598 "}"
      Whitespace@598..599 "\n"