FILE@0..454
  FN@0..454
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..454
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..32
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..22
          Lident@20..21 "a"
          Whitespace@21..22 " "
        Eq@22..23 "="
        Whitespace@23..24 " "
        EXPR_INT@24..26
          Int@24..26 "10"
        Semi@26..27 ";"
        Whitespace@27..32 "\n    "
      STMT_LET@32..388
        LetKeyword@32..35 "let"
        Whitespace@35..36 " "
        PATTERN_VARIABLE@36..39
          Lident@36..38 "f1"
          Whitespace@38..39 " "
        Eq@39..40 "="
        Whitespace@40..41 " "
        EXPR_CLOSURE@41..382
          CLOSURE_PARAM_LIST@41..52
            Pipe@41..42 "|"
            CLOSURE_PARAM@42..50
              Lident@42..43 "x"
              Colon@43..44 ":"
              Whitespace@44..45 " "
              TYPE_INT32@45..50
                Int32Keyword@45..50 "int32"
            Pipe@50..51 "|"
            Whitespace@51..52 " "
          EXPR_CLOSURE_BODY@52..382
            BLOCK@52..382
              LBrace@52..53 "{"
              Whitespace@53..62 "\n        "
              STMT_LET@62..82
                LetKeyword@62..65 "let"
                Whitespace@65..66 " "
                PATTERN_VARIABLE@66..68
                  Lident@66..67 "b"
                  Whitespace@67..68 " "
                Eq@68..69 "="
                Whitespace@69..70 " "
                EXPR_INT@70..72
                  Int@70..72 "20"
                Semi@72..73 ";"
                Whitespace@73..82 "\n        "
              STMT_LET@82..371
                LetKeyword@82..85 "let"
                Whitespace@85..86 " "
                PATTERN_VARIABLE@86..89
                  Lident@86..88 "f2"
                  Whitespace@88..89 " "
                Eq@89..90 "="
                Whitespace@90..91 " "
                EXPR_CLOSURE@91..361
                  CLOSURE_PARAM_LIST@91..102
                    Pipe@91..92 "|"
                    CLOSURE_PARAM@92..100
                      Lident@92..93 "y"
                      Colon@93..94 ":"
                      Whitespace@94..95 " "
                      TYPE_INT32@95..100
                        Int32Keyword@95..100 "int32"
                    Pipe@100..101 "|"
                    Whitespace@101..102 " "
                  EXPR_CLOSURE_BODY@102..361
                    BLOCK@102..361
                      LBrace@102..103 "{"
                      Whitespace@103..116 "\n            "
                      STMT_LET@116..140
                        LetKeyword@116..119 "let"
                        Whitespace@119..120 " "
                        PATTERN_VARIABLE@120..122
                          Lident@120..121 "c"
                          Whitespace@121..122 " "
                        Eq@122..123 "="
                        Whitespace@123..124 " "
                        EXPR_INT@124..126
                          Int@124..126 "30"
                        Semi@126..127 ";"
                        Whitespace@127..140 "\n            "
                      STMT_LET@140..346
                        LetKeyword@140..143 "let"
                        Whitespace@143..144 " "
                        PATTERN_VARIABLE@144..147
                          Lident@144..146 "f3"
                          Whitespace@146..147 " "
                        Eq@147..148 "="
                        Whitespace@148..149 " "
                        EXPR_CLOSURE@149..332
                          CLOSURE_PARAM_LIST@149..160
                            Pipe@149..150 "|"
                            CLOSURE_PARAM@150..158
                              Lident@150..151 "z"
                              Colon@151..152 ":"
                              Whitespace@152..153 " "
                              TYPE_INT32@153..158
                                Int32Keyword@153..158 "int32"
                            Pipe@158..159 "|"
                            Whitespace@159..160 " "
                          EXPR_CLOSURE_BODY@160..332
                            BLOCK@160..332
                              LBrace@160..161 "{"
                              Whitespace@161..178 "\n                "
                              STMT_LET@178..206
                                LetKeyword@178..181 "let"
                                Whitespace@181..182 " "
                                PATTERN_VARIABLE@182..184
                                  Lident@182..183 "d"
                                  Whitespace@183..184 " "
                                Eq@184..185 "="
                                Whitespace@185..186 " "
                                EXPR_INT@186..188
                                  Int@186..188 "40"
                                Semi@188..189 ";"
                                Whitespace@189..206 "\n                "
                              STMT_LET@206..313
                                LetKeyword@206..209 "let"
                                Whitespace@209..210 " "
                                PATTERN_VARIABLE@210..213
                                  Lident@210..212 "f4"
                                  Whitespace@212..213 " "
                                Eq@213..214 "="
                                Whitespace@214..215 " "
                                EXPR_CLOSURE@215..295
                                  CLOSURE_PARAM_LIST@215..226
                                    Pipe@215..216 "|"
                                    CLOSURE_PARAM@216..224
                                      Lident@216..217 "w"
                                      Colon@217..218 ":"
                                      Whitespace@218..219 " "
                                      TYPE_INT32@219..224
                                        Int32Keyword@219..224 "int32"
                                    Pipe@224..225 "|"
                                    Whitespace@225..226 " "
                                  EXPR_CLOSURE_BODY@226..295
                                    BLOCK@226..295
                                      LBrace@226..227 "{"
                                      Whitespace@227..248 "\n                    "
                                      EXPR_BINARY@248..294
                                        EXPR_BINARY@248..274
                                          EXPR_BINARY@248..270
                                            EXPR_BINARY@248..266
                                              EXPR_BINARY@248..262
                                                EXPR_BINARY@248..258
                                                  EXPR_BINARY@248..254
                                                    EXPR_LIDENT@248..250
                                                      Lident@248..249 "a"
                                                      Whitespace@249..250 " "
                                                    Plus@250..251 "+"
                                                    Whitespace@251..252 " "
                                                    EXPR_LIDENT@252..254
                                                      Lident@252..253 "b"
                                                      Whitespace@253..254 " "
                                                  Plus@254..255 "+"
                                                  Whitespace@255..256 " "
                                                  EXPR_LIDENT@256..258
                                                    Lident@256..257 "c"
                                                    Whitespace@257..258 " "
                                                Plus@258..259 "+"
                                                Whitespace@259..260 " "
                                                EXPR_LIDENT@260..262
                                                  Lident@260..261 "d"
                                                  Whitespace@261..262 " "
                                              Plus@262..263 "+"
                                              Whitespace@263..264 " "
                                              EXPR_LIDENT@264..266
                                                Lident@264..265 "x"
                                                Whitespace@265..266 " "
                                            Plus@266..267 "+"
                                            Whitespace@267..268 " "
                                            EXPR_LIDENT@268..270
                                              Lident@268..269 "y"
                                              Whitespace@269..270 " "
                                          Plus@270..271 "+"
                                          Whitespace@271..272 " "
                                          EXPR_LIDENT@272..274
                                            Lident@272..273 "z"
                                            Whitespace@273..274 " "
                                        Plus@274..275 "+"
                                        Whitespace@275..276 " "
                                        EXPR_LIDENT@276..294
                                          Lident@276..277 "w"
                                          Whitespace@277..294 "\n                "
                                      RBrace@294..295 "}"
                                Semi@295..296 ";"
                                Whitespace@296..313 "\n                "
                              EXPR_CALL@313..331
                                EXPR_LIDENT@313..315
                                  Lident@313..315 "f4"
                                ARG_LIST@315..331
                                  LParen@315..316 "("
                                  ARG@316..317
                                    EXPR_INT@316..317
                                      Int@316..317 "4"
                                  RParen@317..318 ")"
                                  Whitespace@318..331 "\n            "
                              RBrace@331..332 "}"
                        Semi@332..333 ";"
                        Whitespace@333..346 "\n            "
                      EXPR_CALL@346..360
                        EXPR_LIDENT@346..348
                          Lident@346..348 "f3"
                        ARG_LIST@348..360
                          LParen@348..349 "("
                          ARG@349..350
                            EXPR_INT@349..350
                              Int@349..350 "3"
                          RParen@350..351 ")"
                          Whitespace@351..360 "\n        "
                      RBrace@360..361 "}"
                Semi@361..362 ";"
                Whitespace@362..371 "\n        "
              EXPR_CALL@371..381
                EXPR_LIDENT@371..373
                  Lident@371..373 "f2"
                ARG_LIST@373..381
                  LParen@373..374 "("
                  ARG@374..375
                    EXPR_INT@374..375
                      Int@374..375 "2"
                  RParen@375..376 ")"
                  Whitespace@376..381 "\n    "
              RBrace@381..382 "}"
        Semi@382..383 ";"
        Whitespace@383..388 "\n    "
      STMT_LET@388..412
        LetKeyword@388..391 "let"
        Whitespace@391..392 " "
        PATTERN_VARIABLE@392..399
          Lident@392..398 "result"
          Whitespace@398..399 " "
        Eq@399..400 "="
        Whitespace@400..401 " "
        EXPR_CALL@401..406
          EXPR_LIDENT@401..403
            Lident@401..403 "f1"
          ARG_LIST@403..406
            LParen@403..404 "("
            ARG@404..405
              EXPR_INT@404..405
                Int@404..405 "1"
            RParen@405..406 ")"
        Semi@406..407 ";"
        Whitespace@407..412 "\n    "
      EXPR_CALL@412..452
        EXPR_LIDENT@412..426
          Lident@412..426 "string_println"
        ARG_LIST@426..452
          LParen@426..427 "("
          ARG@427..450
            EXPR_CALL@427..450
              EXPR_LIDENT@427..442
                Lident@427..442 "int32_to_string"
              ARG_LIST@442..450
                LParen@442..443 "("
                ARG@443..449
                  EXPR_LIDENT@443..449
                    Lident@443..449 "result"
                RParen@449..450 ")"
          RParen@450..451 ")"
          Whitespace@451..452 "\n"
      RBrace@452..453 "}"
      Whitespace@453..454 "\n"