FILE@0..444
  FN@0..444
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..444
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT@16..442
        EXPR_LET@16..442
          LetKeyword@16..19 "let"
          Whitespace@19..20 " "
          PATTERN_VARIABLE@20..22
            Lident@20..21 "a"
            Whitespace@21..22 " "
          Eq@22..23 "="
          Whitespace@23..24 " "
          EXPR_LET_VALUE@24..26
            EXPR_INT@24..26
              Int@24..26 "10"
          Semi@26..27 ";"
          Whitespace@27..32 "\n    "
          EXPR_LET_BODY@32..442
            EXPR_LET@32..442
              LetKeyword@32..35 "let"
              Whitespace@35..36 " "
              PATTERN_VARIABLE@36..39
                Lident@36..38 "f1"
                Whitespace@38..39 " "
              Eq@39..40 "="
              Whitespace@40..41 " "
              EXPR_LET_VALUE@41..374
                EXPR_CLOSURE@41..374
                  CLOSURE_PARAM_LIST@41..50
                    Pipe@41..42 "|"
                    CLOSURE_PARAM@42..48
                      Lident@42..43 "x"
                      Colon@43..44 ":"
                      Whitespace@44..45 " "
                      TYPE_INT@45..48
                        IntKeyword@45..48 "int"
                    Pipe@48..49 "|"
                    Whitespace@49..50 " "
                  EXPR_CLOSURE_BODY@50..374
                    BLOCK@50..374
                      LBrace@50..51 "{"
                      Whitespace@51..60 "\n        "
                      STMT@60..373
                        EXPR_LET@60..373
                          LetKeyword@60..63 "let"
                          Whitespace@63..64 " "
                          PATTERN_VARIABLE@64..66
                            Lident@64..65 "b"
                            Whitespace@65..66 " "
                          Eq@66..67 "="
                          Whitespace@67..68 " "
                          EXPR_LET_VALUE@68..70
                            EXPR_INT@68..70
                              Int@68..70 "20"
                          Semi@70..71 ";"
                          Whitespace@71..80 "\n        "
                          EXPR_LET_BODY@80..373
                            EXPR_LET@80..373
                              LetKeyword@80..83 "let"
                              Whitespace@83..84 " "
                              PATTERN_VARIABLE@84..87
                                Lident@84..86 "f2"
                                Whitespace@86..87 " "
                              Eq@87..88 "="
                              Whitespace@88..89 " "
                              EXPR_LET_VALUE@89..353
                                EXPR_CLOSURE@89..353
                                  CLOSURE_PARAM_LIST@89..98
                                    Pipe@89..90 "|"
                                    CLOSURE_PARAM@90..96
                                      Lident@90..91 "y"
                                      Colon@91..92 ":"
                                      Whitespace@92..93 " "
                                      TYPE_INT@93..96
                                        IntKeyword@93..96 "int"
                                    Pipe@96..97 "|"
                                    Whitespace@97..98 " "
                                  EXPR_CLOSURE_BODY@98..353
                                    BLOCK@98..353
                                      LBrace@98..99 "{"
                                      Whitespace@99..112 "\n            "
                                      STMT@112..352
                                        EXPR_LET@112..352
                                          LetKeyword@112..115 "let"
                                          Whitespace@115..116 " "
                                          PATTERN_VARIABLE@116..118
                                            Lident@116..117 "c"
                                            Whitespace@117..118 " "
                                          Eq@118..119 "="
                                          Whitespace@119..120 " "
                                          EXPR_LET_VALUE@120..122
                                            EXPR_INT@120..122
                                              Int@120..122 "30"
                                          Semi@122..123 ";"
                                          Whitespace@123..136 "\n            "
                                          EXPR_LET_BODY@136..352
                                            EXPR_LET@136..352
                                              LetKeyword@136..139 "let"
                                              Whitespace@139..140 " "
                                              PATTERN_VARIABLE@140..143
                                                Lident@140..142 "f3"
                                                Whitespace@142..143 " "
                                              Eq@143..144 "="
                                              Whitespace@144..145 " "
                                              EXPR_LET_VALUE@145..324
                                                EXPR_CLOSURE@145..324
                                                  CLOSURE_PARAM_LIST@145..154
                                                    Pipe@145..146 "|"
                                                    CLOSURE_PARAM@146..152
                                                      Lident@146..147 "z"
                                                      Colon@147..148 ":"
                                                      Whitespace@148..149 " "
                                                      TYPE_INT@149..152
                                                        IntKeyword@149..152 "int"
                                                    Pipe@152..153 "|"
                                                    Whitespace@153..154 " "
                                                  EXPR_CLOSURE_BODY@154..324
                                                    BLOCK@154..324
                                                      LBrace@154..155 "{"
                                                      Whitespace@155..172 "\n                "
                                                      STMT@172..323
                                                        EXPR_LET@172..323
                                                          LetKeyword@172..175 "let"
                                                          Whitespace@175..176 " "
                                                          PATTERN_VARIABLE@176..178
                                                            Lident@176..177 "d"
                                                            Whitespace@177..178 " "
                                                          Eq@178..179 "="
                                                          Whitespace@179..180 " "
                                                          EXPR_LET_VALUE@180..182
                                                            EXPR_INT@180..182
                                                              Int@180..182 "40"
                                                          Semi@182..183 ";"
                                                          Whitespace@183..200 "\n                "
                                                          EXPR_LET_BODY@200..323
                                                            EXPR_LET@200..323
                                                              LetKeyword@200..203 "let"
                                                              Whitespace@203..204 " "
                                                              PATTERN_VARIABLE@204..207
                                                                Lident@204..206 "f4"
                                                                Whitespace@206..207 " "
                                                              Eq@207..208 "="
                                                              Whitespace@208..209 " "
                                                              EXPR_LET_VALUE@209..287
                                                                EXPR_CLOSURE@209..287
                                                                  CLOSURE_PARAM_LIST@209..218
                                                                    Pipe@209..210 "|"
                                                                    CLOSURE_PARAM@210..216
                                                                      Lident@210..211 "w"
                                                                      Colon@211..212 ":"
                                                                      Whitespace@212..213 " "
                                                                      TYPE_INT@213..216
                                                                        IntKeyword@213..216 "int"
                                                                    Pipe@216..217 "|"
                                                                    Whitespace@217..218 " "
                                                                  EXPR_CLOSURE_BODY@218..287
                                                                    BLOCK@218..287
                                                                      LBrace@218..219 "{"
                                                                      Whitespace@219..240 "\n                    "
                                                                      STMT@240..286
                                                                        EXPR_BINARY@240..286
                                                                          EXPR_BINARY@240..266
                                                                            EXPR_BINARY@240..262
                                                                              EXPR_BINARY@240..258
                                                                                EXPR_BINARY@240..254
                                                                                  EXPR_BINARY@240..250
                                                                                    EXPR_BINARY@240..246
                                                                                      EXPR_LIDENT@240..242
                                                                                        Lident@240..241 "a"
                                                                                        Whitespace@241..242 " "
                                                                                      Plus@242..243 "+"
                                                                                      Whitespace@243..244 " "
                                                                                      EXPR_LIDENT@244..246
                                                                                        Lident@244..245 "b"
                                                                                        Whitespace@245..246 " "
                                                                                    Plus@246..247 "+"
                                                                                    Whitespace@247..248 " "
                                                                                    EXPR_LIDENT@248..250
                                                                                      Lident@248..249 "c"
                                                                                      Whitespace@249..250 " "
                                                                                  Plus@250..251 "+"
                                                                                  Whitespace@251..252 " "
                                                                                  EXPR_LIDENT@252..254
                                                                                    Lident@252..253 "d"
                                                                                    Whitespace@253..254 " "
                                                                                Plus@254..255 "+"
                                                                                Whitespace@255..256 " "
                                                                                EXPR_LIDENT@256..258
                                                                                  Lident@256..257 "x"
                                                                                  Whitespace@257..258 " "
                                                                              Plus@258..259 "+"
                                                                              Whitespace@259..260 " "
                                                                              EXPR_LIDENT@260..262
                                                                                Lident@260..261 "y"
                                                                                Whitespace@261..262 " "
                                                                            Plus@262..263 "+"
                                                                            Whitespace@263..264 " "
                                                                            EXPR_LIDENT@264..266
                                                                              Lident@264..265 "z"
                                                                              Whitespace@265..266 " "
                                                                          Plus@266..267 "+"
                                                                          Whitespace@267..268 " "
                                                                          EXPR_LIDENT@268..286
                                                                            Lident@268..269 "w"
                                                                            Whitespace@269..286 "\n                "
                                                                      RBrace@286..287 "}"
                                                              Semi@287..288 ";"
                                                              Whitespace@288..305 "\n                "
                                                              EXPR_LET_BODY@305..323
                                                                EXPR_CALL@305..323
                                                                  EXPR_LIDENT@305..307
                                                                    Lident@305..307 "f4"
                                                                  ARG_LIST@307..323
                                                                    LParen@307..308 "("
                                                                    ARG@308..309
                                                                      EXPR_INT@308..309
                                                                        Int@308..309 "4"
                                                                    RParen@309..310 ")"
                                                                    Whitespace@310..323 "\n            "
                                                      RBrace@323..324 "}"
                                              Semi@324..325 ";"
                                              Whitespace@325..338 "\n            "
                                              EXPR_LET_BODY@338..352
                                                EXPR_CALL@338..352
                                                  EXPR_LIDENT@338..340
                                                    Lident@338..340 "f3"
                                                  ARG_LIST@340..352
                                                    LParen@340..341 "("
                                                    ARG@341..342
                                                      EXPR_INT@341..342
                                                        Int@341..342 "3"
                                                    RParen@342..343 ")"
                                                    Whitespace@343..352 "\n        "
                                      RBrace@352..353 "}"
                              Semi@353..354 ";"
                              Whitespace@354..363 "\n        "
                              EXPR_LET_BODY@363..373
                                EXPR_CALL@363..373
                                  EXPR_LIDENT@363..365
                                    Lident@363..365 "f2"
                                  ARG_LIST@365..373
                                    LParen@365..366 "("
                                    ARG@366..367
                                      EXPR_INT@366..367
                                        Int@366..367 "2"
                                    RParen@367..368 ")"
                                    Whitespace@368..373 "\n    "
                      RBrace@373..374 "}"
              Semi@374..375 ";"
              Whitespace@375..380 "\n    "
              EXPR_LET_BODY@380..442
                EXPR_LET@380..442
                  LetKeyword@380..383 "let"
                  Whitespace@383..384 " "
                  PATTERN_VARIABLE@384..391
                    Lident@384..390 "result"
                    Whitespace@390..391 " "
                  Eq@391..392 "="
                  Whitespace@392..393 " "
                  EXPR_LET_VALUE@393..398
                    EXPR_CALL@393..398
                      EXPR_LIDENT@393..395
                        Lident@393..395 "f1"
                      ARG_LIST@395..398
                        LParen@395..396 "("
                        ARG@396..397
                          EXPR_INT@396..397
                            Int@396..397 "1"
                        RParen@397..398 ")"
                  Semi@398..399 ";"
                  Whitespace@399..404 "\n    "
                  EXPR_LET_BODY@404..442
                    EXPR_CALL@404..442
                      EXPR_LIDENT@404..418
                        Lident@404..418 "string_println"
                      ARG_LIST@418..442
                        LParen@418..419 "("
                        ARG@419..440
                          EXPR_CALL@419..440
                            EXPR_LIDENT@419..432
                              Lident@419..432 "int_to_string"
                            ARG_LIST@432..440
                              LParen@432..433 "("
                              ARG@433..439
                                EXPR_LIDENT@433..439
                                  Lident@433..439 "result"
                              RParen@439..440 ")"
                        RParen@440..441 ")"
                        Whitespace@441..442 "\n"
      RBrace@442..443 "}"
      Whitespace@443..444 "\n"