FILE@0..805
  FN@0..291
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..15 "make_counter"
    PARAM_LIST@15..18
      LParen@15..16 "("
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_TUPLE@21..45
      TYPE_LIST@21..45
        LParen@21..22 "("
        TYPE_FUNC@22..31
          TYPE_TUPLE@22..25
            TYPE_LIST@22..25
              LParen@22..23 "("
              RParen@23..24 ")"
              Whitespace@24..25 " "
          Arrow@25..27 "->"
          Whitespace@27..28 " "
          TYPE_INT@28..31
            IntKeyword@28..31 "int"
        Comma@31..32 ","
        Whitespace@32..33 " "
        TYPE_FUNC@33..43
          TYPE_TUPLE@33..36
            TYPE_LIST@33..36
              LParen@33..34 "("
              RParen@34..35 ")"
              Whitespace@35..36 " "
          Arrow@36..38 "->"
          Whitespace@38..39 " "
          TYPE_UNIT@39..43
            UnitKeyword@39..43 "unit"
        RParen@43..44 ")"
        Whitespace@44..45 " "
    BLOCK@45..291
      LBrace@45..46 "{"
      Whitespace@46..51 "\n    "
      EXPR_LET@51..288
        LetKeyword@51..54 "let"
        Whitespace@54..55 " "
        PATTERN_VARIABLE@55..60
          Lident@55..59 "cell"
          Whitespace@59..60 " "
        Eq@60..61 "="
        Whitespace@61..62 " "
        EXPR_LET_VALUE@62..69
          EXPR_CALL@62..69
            EXPR_LIDENT@62..65
              Lident@62..65 "ref"
            ARG_LIST@65..69
              LParen@65..66 "("
              ARG@66..67
                EXPR_INT@66..67
                  Int@66..67 "0"
              RParen@67..68 ")"
              Whitespace@68..69 " "
        InKeyword@69..71 "in"
        Whitespace@71..76 "\n    "
        EXPR_LET_BODY@76..288
          EXPR_LET@76..288
            LetKeyword@76..79 "let"
            Whitespace@79..80 " "
            PATTERN_VARIABLE@80..85
              Lident@80..84 "next"
              Whitespace@84..85 " "
            Eq@85..86 "="
            Whitespace@86..87 " "
            EXPR_LET_VALUE@87..190
              EXPR_CLOSURE@87..190
                CLOSURE_PARAM_LIST@87..90
                  OrOr@87..89 "||"
                  Whitespace@89..90 " "
                EXPR_CLOSURE_BODY@90..190
                  BLOCK@90..190
                    LBrace@90..91 "{"
                    Whitespace@91..100 "\n        "
                    EXPR_LET@100..188
                      LetKeyword@100..103 "let"
                      Whitespace@103..104 " "
                      PATTERN_VARIABLE@104..109
                        Lident@104..108 "next"
                        Whitespace@108..109 " "
                      Eq@109..110 "="
                      Whitespace@110..111 " "
                      EXPR_LET_VALUE@111..129
                        EXPR_BINARY@111..129
                          EXPR_CALL@111..125
                            EXPR_LIDENT@111..118
                              Lident@111..118 "ref_get"
                            ARG_LIST@118..125
                              LParen@118..119 "("
                              ARG@119..123
                                EXPR_LIDENT@119..123
                                  Lident@119..123 "cell"
                              RParen@123..124 ")"
                              Whitespace@124..125 " "
                          Plus@125..126 "+"
                          Whitespace@126..127 " "
                          EXPR_INT@127..129
                            Int@127..128 "1"
                            Whitespace@128..129 " "
                      InKeyword@129..131 "in"
                      Whitespace@131..140 "\n        "
                      EXPR_LET_BODY@140..188
                        EXPR_LET@140..188
                          LetKeyword@140..143 "let"
                          Whitespace@143..144 " "
                          PATTERN_WILDCARD@144..146
                            WildcardKeyword@144..145 "_"
                            Whitespace@145..146 " "
                          Eq@146..147 "="
                          Whitespace@147..148 " "
                          EXPR_LET_VALUE@148..168
                            EXPR_CALL@148..168
                              EXPR_LIDENT@148..155
                                Lident@148..155 "ref_set"
                              ARG_LIST@155..168
                                LParen@155..156 "("
                                ARG@156..162
                                  EXPR_LIDENT@156..160
                                    Lident@156..160 "cell"
                                  Comma@160..161 ","
                                  Whitespace@161..162 " "
                                ARG@162..166
                                  EXPR_LIDENT@162..166
                                    Lident@162..166 "next"
                                RParen@166..167 ")"
                                Whitespace@167..168 " "
                          InKeyword@168..170 "in"
                          Whitespace@170..179 "\n        "
                          EXPR_LET_BODY@179..188
                            EXPR_LIDENT@179..188
                              Lident@179..183 "next"
                              Whitespace@183..188 "\n    "
                    RBrace@188..189 "}"
                    Whitespace@189..190 " "
            InKeyword@190..192 "in"
            Whitespace@192..197 "\n    "
            EXPR_LET_BODY@197..288
              EXPR_LET@197..288
                LetKeyword@197..200 "let"
                Whitespace@200..201 " "
                PATTERN_VARIABLE@201..207
                  Lident@201..206 "reset"
                  Whitespace@206..207 " "
                Eq@207..208 "="
                Whitespace@208..209 " "
                EXPR_LET_VALUE@209..267
                  EXPR_CLOSURE@209..267
                    CLOSURE_PARAM_LIST@209..212
                      OrOr@209..211 "||"
                      Whitespace@211..212 " "
                    EXPR_CLOSURE_BODY@212..267
                      BLOCK@212..267
                        LBrace@212..213 "{"
                        Whitespace@213..222 "\n        "
                        EXPR_LET@222..265
                          LetKeyword@222..225 "let"
                          Whitespace@225..226 " "
                          PATTERN_WILDCARD@226..228
                            WildcardKeyword@226..227 "_"
                            Whitespace@227..228 " "
                          Eq@228..229 "="
                          Whitespace@229..230 " "
                          EXPR_LET_VALUE@230..247
                            EXPR_CALL@230..247
                              EXPR_LIDENT@230..237
                                Lident@230..237 "ref_set"
                              ARG_LIST@237..247
                                LParen@237..238 "("
                                ARG@238..244
                                  EXPR_LIDENT@238..242
                                    Lident@238..242 "cell"
                                  Comma@242..243 ","
                                  Whitespace@243..244 " "
                                ARG@244..245
                                  EXPR_INT@244..245
                                    Int@244..245 "0"
                                RParen@245..246 ")"
                                Whitespace@246..247 " "
                          InKeyword@247..249 "in"
                          Whitespace@249..258 "\n        "
                          EXPR_LET_BODY@258..265
                            EXPR_UNIT@258..265
                              LParen@258..259 "("
                              RParen@259..260 ")"
                              Whitespace@260..265 "\n    "
                        RBrace@265..266 "}"
                        Whitespace@266..267 " "
                InKeyword@267..269 "in"
                Whitespace@269..274 "\n    "
                EXPR_LET_BODY@274..288
                  EXPR_TUPLE@274..288
                    LParen@274..275 "("
                    EXPR_LIDENT@275..279
                      Lident@275..279 "next"
                    Comma@279..280 ","
                    Whitespace@280..281 " "
                    EXPR_LIDENT@281..286
                      Lident@281..286 "reset"
                    RParen@286..287 ")"
                    Whitespace@287..288 "\n"
      RBrace@288..289 "}"
      Whitespace@289..291 "\n\n"
  FN@291..805
    FnKeyword@291..293 "fn"
    Whitespace@293..294 " "
    Lident@294..298 "main"
    PARAM_LIST@298..301
      LParen@298..299 "("
      RParen@299..300 ")"
      Whitespace@300..301 " "
    BLOCK@301..805
      LBrace@301..302 "{"
      Whitespace@302..307 "\n    "
      EXPR_LET@307..803
        LetKeyword@307..310 "let"
        Whitespace@310..311 " "
        PATTERN_VARIABLE@311..319
          Lident@311..318 "counter"
          Whitespace@318..319 " "
        Eq@319..320 "="
        Whitespace@320..321 " "
        EXPR_LET_VALUE@321..336
          EXPR_CALL@321..336
            EXPR_LIDENT@321..333
              Lident@321..333 "make_counter"
            ARG_LIST@333..336
              LParen@333..334 "("
              RParen@334..335 ")"
              Whitespace@335..336 " "
        InKeyword@336..338 "in"
        Whitespace@338..343 "\n    "
        EXPR_LET_BODY@343..803
          EXPR_LET@343..803
            LetKeyword@343..346 "let"
            Whitespace@346..347 " "
            PATTERN_TUPLE@347..361
              LParen@347..348 "("
              PATTERN_VARIABLE@348..352
                Lident@348..352 "next"
              Comma@352..353 ","
              Whitespace@353..354 " "
              PATTERN_VARIABLE@354..359
                Lident@354..359 "reset"
              RParen@359..360 ")"
              Whitespace@360..361 " "
            Eq@361..362 "="
            Whitespace@362..363 " "
            EXPR_LET_VALUE@363..371
              EXPR_LIDENT@363..371
                Lident@363..370 "counter"
                Whitespace@370..371 " "
            InKeyword@371..373 "in"
            Whitespace@373..378 "\n    "
            EXPR_LET_BODY@378..803
              EXPR_LET@378..803
                LetKeyword@378..381 "let"
                Whitespace@381..382 " "
                PATTERN_VARIABLE@382..388
                  Lident@382..387 "first"
                  Whitespace@387..388 " "
                Eq@388..389 "="
                Whitespace@389..390 " "
                EXPR_LET_VALUE@390..397
                  EXPR_CALL@390..397
                    EXPR_LIDENT@390..394
                      Lident@390..394 "next"
                    ARG_LIST@394..397
                      LParen@394..395 "("
                      RParen@395..396 ")"
                      Whitespace@396..397 " "
                InKeyword@397..399 "in"
                Whitespace@399..404 "\n    "
                EXPR_LET_BODY@404..803
                  EXPR_LET@404..803
                    LetKeyword@404..407 "let"
                    Whitespace@407..408 " "
                    PATTERN_VARIABLE@408..415
                      Lident@408..414 "second"
                      Whitespace@414..415 " "
                    Eq@415..416 "="
                    Whitespace@416..417 " "
                    EXPR_LET_VALUE@417..424
                      EXPR_CALL@417..424
                        EXPR_LIDENT@417..421
                          Lident@417..421 "next"
                        ARG_LIST@421..424
                          LParen@421..422 "("
                          RParen@422..423 ")"
                          Whitespace@423..424 " "
                    InKeyword@424..426 "in"
                    Whitespace@426..431 "\n    "
                    EXPR_LET_BODY@431..803
                      EXPR_LET@431..803
                        LetKeyword@431..434 "let"
                        Whitespace@434..435 " "
                        PATTERN_WILDCARD@435..437
                          WildcardKeyword@435..436 "_"
                          Whitespace@436..437 " "
                        Eq@437..438 "="
                        Whitespace@438..439 " "
                        EXPR_LET_VALUE@439..447
                          EXPR_CALL@439..447
                            EXPR_LIDENT@439..444
                              Lident@439..444 "reset"
                            ARG_LIST@444..447
                              LParen@444..445 "("
                              RParen@445..446 ")"
                              Whitespace@446..447 " "
                        InKeyword@447..449 "in"
                        Whitespace@449..454 "\n    "
                        EXPR_LET_BODY@454..803
                          EXPR_LET@454..803
                            LetKeyword@454..457 "let"
                            Whitespace@457..458 " "
                            PATTERN_VARIABLE@458..464
                              Lident@458..463 "third"
                              Whitespace@463..464 " "
                            Eq@464..465 "="
                            Whitespace@465..466 " "
                            EXPR_LET_VALUE@466..473
                              EXPR_CALL@466..473
                                EXPR_LIDENT@466..470
                                  Lident@466..470 "next"
                                ARG_LIST@470..473
                                  LParen@470..471 "("
                                  RParen@471..472 ")"
                                  Whitespace@472..473 " "
                            InKeyword@473..475 "in"
                            Whitespace@475..480 "\n    "
                            EXPR_LET_BODY@480..803
                              EXPR_LET@480..803
                                LetKeyword@480..483 "let"
                                Whitespace@483..484 " "
                                PATTERN_VARIABLE@484..496
                                  Lident@484..495 "new_counter"
                                  Whitespace@495..496 " "
                                Eq@496..497 "="
                                Whitespace@497..498 " "
                                EXPR_LET_VALUE@498..513
                                  EXPR_CALL@498..513
                                    EXPR_LIDENT@498..510
                                      Lident@498..510 "make_counter"
                                    ARG_LIST@510..513
                                      LParen@510..511 "("
                                      RParen@511..512 ")"
                                      Whitespace@512..513 " "
                                InKeyword@513..515 "in"
                                Whitespace@515..520 "\n    "
                                EXPR_LET_BODY@520..803
                                  EXPR_LET@520..803
                                    LetKeyword@520..523 "let"
                                    Whitespace@523..524 " "
                                    PATTERN_TUPLE@524..538
                                      LParen@524..525 "("
                                      PATTERN_VARIABLE@525..533
                                        Lident@525..533 "new_next"
                                      Comma@533..534 ","
                                      Whitespace@534..535 " "
                                      PATTERN_WILDCARD@535..536
                                        WildcardKeyword@535..536 "_"
                                      RParen@536..537 ")"
                                      Whitespace@537..538 " "
                                    Eq@538..539 "="
                                    Whitespace@539..540 " "
                                    EXPR_LET_VALUE@540..552
                                      EXPR_LIDENT@540..552
                                        Lident@540..551 "new_counter"
                                        Whitespace@551..552 " "
                                    InKeyword@552..554 "in"
                                    Whitespace@554..559 "\n    "
                                    EXPR_LET_BODY@559..803
                                      EXPR_LET@559..803
                                        LetKeyword@559..562 "let"
                                        Whitespace@562..563 " "
                                        PATTERN_VARIABLE@563..570
                                          Lident@563..569 "fourth"
                                          Whitespace@569..570 " "
                                        Eq@570..571 "="
                                        Whitespace@571..572 " "
                                        EXPR_LET_VALUE@572..583
                                          EXPR_CALL@572..583
                                            EXPR_LIDENT@572..580
                                              Lident@572..580 "new_next"
                                            ARG_LIST@580..583
                                              LParen@580..581 "("
                                              RParen@581..582 ")"
                                              Whitespace@582..583 " "
                                        InKeyword@583..585 "in"
                                        Whitespace@585..590 "\n    "
                                        EXPR_LET_BODY@590..803
                                          EXPR_LET@590..803
                                            LetKeyword@590..593 "let"
                                            Whitespace@593..594 " "
                                            PATTERN_WILDCARD@594..596
                                              WildcardKeyword@594..595 "_"
                                              Whitespace@595..596 " "
                                            Eq@596..597 "="
                                            Whitespace@597..598 " "
                                            EXPR_LET_VALUE@598..635
                                              EXPR_CALL@598..635
                                                EXPR_LIDENT@598..612
                                                  Lident@598..612 "string_println"
                                                ARG_LIST@612..635
                                                  LParen@612..613 "("
                                                  ARG@613..633
                                                    EXPR_CALL@613..633
                                                      EXPR_LIDENT@613..626
                                                        Lident@613..626 "int_to_string"
                                                      ARG_LIST@626..633
                                                        LParen@626..627 "("
                                                        ARG@627..632
                                                          EXPR_LIDENT@627..632
                                                            Lident@627..632 "first"
                                                        RParen@632..633 ")"
                                                  RParen@633..634 ")"
                                                  Whitespace@634..635 " "
                                            InKeyword@635..637 "in"
                                            Whitespace@637..642 "\n    "
                                            EXPR_LET_BODY@642..803
                                              EXPR_LET@642..803
                                                LetKeyword@642..645 "let"
                                                Whitespace@645..646 " "
                                                PATTERN_WILDCARD@646..648
                                                  WildcardKeyword@646..647 "_"
                                                  Whitespace@647..648 " "
                                                Eq@648..649 "="
                                                Whitespace@649..650 " "
                                                EXPR_LET_VALUE@650..688
                                                  EXPR_CALL@650..688
                                                    EXPR_LIDENT@650..664
                                                      Lident@650..664 "string_println"
                                                    ARG_LIST@664..688
                                                      LParen@664..665 "("
                                                      ARG@665..686
                                                        EXPR_CALL@665..686
                                                          EXPR_LIDENT@665..678
                                                            Lident@665..678 "int_to_string"
                                                          ARG_LIST@678..686
                                                            LParen@678..679 "("
                                                            ARG@679..685
                                                              EXPR_LIDENT@679..685
                                                                Lident@679..685 "second"
                                                            RParen@685..686 ")"
                                                      RParen@686..687 ")"
                                                      Whitespace@687..688 " "
                                                InKeyword@688..690 "in"
                                                Whitespace@690..695 "\n    "
                                                EXPR_LET_BODY@695..803
                                                  EXPR_LET@695..803
                                                    LetKeyword@695..698 "let"
                                                    Whitespace@698..699 " "
                                                    PATTERN_WILDCARD@699..701
                                                      WildcardKeyword@699..700 "_"
                                                      Whitespace@700..701 " "
                                                    Eq@701..702 "="
                                                    Whitespace@702..703 " "
                                                    EXPR_LET_VALUE@703..740
                                                      EXPR_CALL@703..740
                                                        EXPR_LIDENT@703..717
                                                          Lident@703..717 "string_println"
                                                        ARG_LIST@717..740
                                                          LParen@717..718 "("
                                                          ARG@718..738
                                                            EXPR_CALL@718..738
                                                              EXPR_LIDENT@718..731
                                                                Lident@718..731 "int_to_string"
                                                              ARG_LIST@731..738
                                                                LParen@731..732 "("
                                                                ARG@732..737
                                                                  EXPR_LIDENT@732..737
                                                                    Lident@732..737 "third"
                                                                RParen@737..738 ")"
                                                          RParen@738..739 ")"
                                                          Whitespace@739..740 " "
                                                    InKeyword@740..742 "in"
                                                    Whitespace@742..747 "\n    "
                                                    EXPR_LET_BODY@747..803
                                                      EXPR_LET@747..803
                                                        LetKeyword@747..750 "let"
                                                        Whitespace@750..751 " "
                                                        PATTERN_WILDCARD@751..753
                                                          WildcardKeyword@751..752 "_"
                                                          Whitespace@752..753 " "
                                                        Eq@753..754 "="
                                                        Whitespace@754..755 " "
                                                        EXPR_LET_VALUE@755..793
                                                          EXPR_CALL@755..793
                                                            EXPR_LIDENT@755..769
                                                              Lident@755..769 "string_println"
                                                            ARG_LIST@769..793
                                                              LParen@769..770 "("
                                                              ARG@770..791
                                                                EXPR_CALL@770..791
                                                                  EXPR_LIDENT@770..783
                                                                    Lident@770..783 "int_to_string"
                                                                  ARG_LIST@783..791
                                                                    LParen@783..784 "("
                                                                    ARG@784..790
                                                                      EXPR_LIDENT@784..790
                                                                        Lident@784..790 "fourth"
                                                                    RParen@790..791 ")"
                                                              RParen@791..792 ")"
                                                              Whitespace@792..793 " "
                                                        InKeyword@793..795 "in"
                                                        Whitespace@795..800 "\n    "
                                                        EXPR_LET_BODY@800..803
                                                          EXPR_UNIT@800..803
                                                            LParen@800..801 "("
                                                            RParen@801..802 ")"
                                                            Whitespace@802..803 "\n"
      RBrace@803..804 "}"
      Whitespace@804..805 "\n"