FILE@0..777
  FN@0..281
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..15 "make_counter"
    PARAM_LIST@15..18
      LParen@15..16 "("
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_TUPLE@21..47
      TYPE_LIST@21..47
        LParen@21..22 "("
        TYPE_FUNC@22..33
          TYPE_TUPLE@22..25
            TYPE_LIST@22..25
              LParen@22..23 "("
              RParen@23..24 ")"
              Whitespace@24..25 " "
          Arrow@25..27 "->"
          Whitespace@27..28 " "
          TYPE_INT32@28..33
            Int32Keyword@28..33 "int32"
        Comma@33..34 ","
        Whitespace@34..35 " "
        TYPE_FUNC@35..45
          TYPE_TUPLE@35..38
            TYPE_LIST@35..38
              LParen@35..36 "("
              RParen@36..37 ")"
              Whitespace@37..38 " "
          Arrow@38..40 "->"
          Whitespace@40..41 " "
          TYPE_UNIT@41..45
            UnitKeyword@41..45 "unit"
        RParen@45..46 ")"
        Whitespace@46..47 " "
    BLOCK@47..281
      LBrace@47..48 "{"
      Whitespace@48..53 "\n    "
      STMT_LET@53..76
        LetKeyword@53..56 "let"
        Whitespace@56..57 " "
        PATTERN_VARIABLE@57..62
          Lident@57..61 "cell"
          Whitespace@61..62 " "
        Eq@62..63 "="
        Whitespace@63..64 " "
        EXPR_CALL@64..70
          EXPR_LIDENT@64..67
            Lident@64..67 "ref"
          ARG_LIST@67..70
            LParen@67..68 "("
            ARG@68..69
              EXPR_INT@68..69
                Int@68..69 "0"
            RParen@69..70 ")"
        Semi@70..71 ";"
        Whitespace@71..76 "\n    "
      STMT_LET@76..191
        LetKeyword@76..79 "let"
        Whitespace@79..80 " "
        PATTERN_VARIABLE@80..85
          Lident@80..84 "next"
          Whitespace@84..85 " "
        Eq@85..86 "="
        Whitespace@86..87 " "
        EXPR_CLOSURE@87..185
          CLOSURE_PARAM_LIST@87..90
            OrOr@87..89 "||"
            Whitespace@89..90 " "
          EXPR_CLOSURE_BODY@90..185
            BLOCK@90..185
              LBrace@90..91 "{"
              Whitespace@91..100 "\n        "
              STMT_LET@100..138
                LetKeyword@100..103 "let"
                Whitespace@103..104 " "
                PATTERN_VARIABLE@104..109
                  Lident@104..108 "next"
                  Whitespace@108..109 " "
                Eq@109..110 "="
                Whitespace@110..111 " "
                EXPR_BINARY@111..128
                  EXPR_CALL@111..125
                    EXPR_LIDENT@111..118
                      Lident@111..118 "ref_get"
                    ARG_LIST@118..125
                      LParen@118..119 "("
                      ARG@119..123
                        EXPR_LIDENT@119..123
                          Lident@119..123 "cell"
                      RParen@123..124 ")"
                      Whitespace@124..125 " "
                  Plus@125..126 "+"
                  Whitespace@126..127 " "
                  EXPR_INT@127..128
                    Int@127..128 "1"
                Semi@128..129 ";"
                Whitespace@129..138 "\n        "
              STMT_LET@138..175
                LetKeyword@138..141 "let"
                Whitespace@141..142 " "
                PATTERN_WILDCARD@142..144
                  WildcardKeyword@142..143 "_"
                  Whitespace@143..144 " "
                Eq@144..145 "="
                Whitespace@145..146 " "
                EXPR_CALL@146..165
                  EXPR_LIDENT@146..153
                    Lident@146..153 "ref_set"
                  ARG_LIST@153..165
                    LParen@153..154 "("
                    ARG@154..160
                      EXPR_LIDENT@154..158
                        Lident@154..158 "cell"
                      Comma@158..159 ","
                      Whitespace@159..160 " "
                    ARG@160..164
                      EXPR_LIDENT@160..164
                        Lident@160..164 "next"
                    RParen@164..165 ")"
                Semi@165..166 ";"
                Whitespace@166..175 "\n        "
              EXPR_LIDENT@175..184
                Lident@175..179 "next"
                Whitespace@179..184 "\n    "
              RBrace@184..185 "}"
        Semi@185..186 ";"
        Whitespace@186..191 "\n    "
      STMT_LET@191..264
        LetKeyword@191..194 "let"
        Whitespace@194..195 " "
        PATTERN_VARIABLE@195..201
          Lident@195..200 "reset"
          Whitespace@200..201 " "
        Eq@201..202 "="
        Whitespace@202..203 " "
        EXPR_CLOSURE@203..258
          CLOSURE_PARAM_LIST@203..206
            OrOr@203..205 "||"
            Whitespace@205..206 " "
          EXPR_CLOSURE_BODY@206..258
            BLOCK@206..258
              LBrace@206..207 "{"
              Whitespace@207..216 "\n        "
              STMT_LET@216..250
                LetKeyword@216..219 "let"
                Whitespace@219..220 " "
                PATTERN_WILDCARD@220..222
                  WildcardKeyword@220..221 "_"
                  Whitespace@221..222 " "
                Eq@222..223 "="
                Whitespace@223..224 " "
                EXPR_CALL@224..240
                  EXPR_LIDENT@224..231
                    Lident@224..231 "ref_set"
                  ARG_LIST@231..240
                    LParen@231..232 "("
                    ARG@232..238
                      EXPR_LIDENT@232..236
                        Lident@232..236 "cell"
                      Comma@236..237 ","
                      Whitespace@237..238 " "
                    ARG@238..239
                      EXPR_INT@238..239
                        Int@238..239 "0"
                    RParen@239..240 ")"
                Semi@240..241 ";"
                Whitespace@241..250 "\n        "
              EXPR_UNIT@250..257
                LParen@250..251 "("
                RParen@251..252 ")"
                Whitespace@252..257 "\n    "
              RBrace@257..258 "}"
        Semi@258..259 ";"
        Whitespace@259..264 "\n    "
      EXPR_TUPLE@264..278
        LParen@264..265 "("
        EXPR_LIDENT@265..269
          Lident@265..269 "next"
        Comma@269..270 ","
        Whitespace@270..271 " "
        EXPR_LIDENT@271..276
          Lident@271..276 "reset"
        RParen@276..277 ")"
        Whitespace@277..278 "\n"
      RBrace@278..279 "}"
      Whitespace@279..281 "\n\n"
  FN@281..777
    FnKeyword@281..283 "fn"
    Whitespace@283..284 " "
    Lident@284..288 "main"
    PARAM_LIST@288..291
      LParen@288..289 "("
      RParen@289..290 ")"
      Whitespace@290..291 " "
    BLOCK@291..777
      LBrace@291..292 "{"
      Whitespace@292..297 "\n    "
      STMT_LET@297..331
        LetKeyword@297..300 "let"
        Whitespace@300..301 " "
        PATTERN_VARIABLE@301..309
          Lident@301..308 "counter"
          Whitespace@308..309 " "
        Eq@309..310 "="
        Whitespace@310..311 " "
        EXPR_CALL@311..325
          EXPR_LIDENT@311..323
            Lident@311..323 "make_counter"
          ARG_LIST@323..325
            LParen@323..324 "("
            RParen@324..325 ")"
        Semi@325..326 ";"
        Whitespace@326..331 "\n    "
      STMT_LET@331..364
        LetKeyword@331..334 "let"
        Whitespace@334..335 " "
        PATTERN_TUPLE@335..349
          LParen@335..336 "("
          PATTERN_VARIABLE@336..340
            Lident@336..340 "next"
          Comma@340..341 ","
          Whitespace@341..342 " "
          PATTERN_VARIABLE@342..347
            Lident@342..347 "reset"
          RParen@347..348 ")"
          Whitespace@348..349 " "
        Eq@349..350 "="
        Whitespace@350..351 " "
        EXPR_LIDENT@351..358
          Lident@351..358 "counter"
        Semi@358..359 ";"
        Whitespace@359..364 "\n    "
      STMT_LET@364..388
        LetKeyword@364..367 "let"
        Whitespace@367..368 " "
        PATTERN_VARIABLE@368..374
          Lident@368..373 "first"
          Whitespace@373..374 " "
        Eq@374..375 "="
        Whitespace@375..376 " "
        EXPR_CALL@376..382
          EXPR_LIDENT@376..380
            Lident@376..380 "next"
          ARG_LIST@380..382
            LParen@380..381 "("
            RParen@381..382 ")"
        Semi@382..383 ";"
        Whitespace@383..388 "\n    "
      STMT_LET@388..413
        LetKeyword@388..391 "let"
        Whitespace@391..392 " "
        PATTERN_VARIABLE@392..399
          Lident@392..398 "second"
          Whitespace@398..399 " "
        Eq@399..400 "="
        Whitespace@400..401 " "
        EXPR_CALL@401..407
          EXPR_LIDENT@401..405
            Lident@401..405 "next"
          ARG_LIST@405..407
            LParen@405..406 "("
            RParen@406..407 ")"
        Semi@407..408 ";"
        Whitespace@408..413 "\n    "
      STMT_LET@413..434
        LetKeyword@413..416 "let"
        Whitespace@416..417 " "
        PATTERN_WILDCARD@417..419
          WildcardKeyword@417..418 "_"
          Whitespace@418..419 " "
        Eq@419..420 "="
        Whitespace@420..421 " "
        EXPR_CALL@421..428
          EXPR_LIDENT@421..426
            Lident@421..426 "reset"
          ARG_LIST@426..428
            LParen@426..427 "("
            RParen@427..428 ")"
        Semi@428..429 ";"
        Whitespace@429..434 "\n    "
      STMT_LET@434..458
        LetKeyword@434..437 "let"
        Whitespace@437..438 " "
        PATTERN_VARIABLE@438..444
          Lident@438..443 "third"
          Whitespace@443..444 " "
        Eq@444..445 "="
        Whitespace@445..446 " "
        EXPR_CALL@446..452
          EXPR_LIDENT@446..450
            Lident@446..450 "next"
          ARG_LIST@450..452
            LParen@450..451 "("
            RParen@451..452 ")"
        Semi@452..453 ";"
        Whitespace@453..458 "\n    "
      STMT_LET@458..496
        LetKeyword@458..461 "let"
        Whitespace@461..462 " "
        PATTERN_VARIABLE@462..474
          Lident@462..473 "new_counter"
          Whitespace@473..474 " "
        Eq@474..475 "="
        Whitespace@475..476 " "
        EXPR_CALL@476..490
          EXPR_LIDENT@476..488
            Lident@476..488 "make_counter"
          ARG_LIST@488..490
            LParen@488..489 "("
            RParen@489..490 ")"
        Semi@490..491 ";"
        Whitespace@491..496 "\n    "
      STMT_LET@496..533
        LetKeyword@496..499 "let"
        Whitespace@499..500 " "
        PATTERN_TUPLE@500..514
          LParen@500..501 "("
          PATTERN_VARIABLE@501..509
            Lident@501..509 "new_next"
          Comma@509..510 ","
          Whitespace@510..511 " "
          PATTERN_WILDCARD@511..512
            WildcardKeyword@511..512 "_"
          RParen@512..513 ")"
          Whitespace@513..514 " "
        Eq@514..515 "="
        Whitespace@515..516 " "
        EXPR_LIDENT@516..527
          Lident@516..527 "new_counter"
        Semi@527..528 ";"
        Whitespace@528..533 "\n    "
      STMT_LET@533..562
        LetKeyword@533..536 "let"
        Whitespace@536..537 " "
        PATTERN_VARIABLE@537..544
          Lident@537..543 "fourth"
          Whitespace@543..544 " "
        Eq@544..545 "="
        Whitespace@545..546 " "
        EXPR_CALL@546..556
          EXPR_LIDENT@546..554
            Lident@546..554 "new_next"
          ARG_LIST@554..556
            LParen@554..555 "("
            RParen@555..556 ")"
        Semi@556..557 ";"
        Whitespace@557..562 "\n    "
      STMT_LET@562..614
        LetKeyword@562..565 "let"
        Whitespace@565..566 " "
        PATTERN_WILDCARD@566..568
          WildcardKeyword@566..567 "_"
          Whitespace@567..568 " "
        Eq@568..569 "="
        Whitespace@569..570 " "
        EXPR_CALL@570..608
          EXPR_LIDENT@570..584
            Lident@570..584 "string_println"
          ARG_LIST@584..608
            LParen@584..585 "("
            ARG@585..607
              EXPR_CALL@585..607
                EXPR_LIDENT@585..600
                  Lident@585..600 "int32_to_string"
                ARG_LIST@600..607
                  LParen@600..601 "("
                  ARG@601..606
                    EXPR_LIDENT@601..606
                      Lident@601..606 "first"
                  RParen@606..607 ")"
            RParen@607..608 ")"
        Semi@608..609 ";"
        Whitespace@609..614 "\n    "
      STMT_LET@614..667
        LetKeyword@614..617 "let"
        Whitespace@617..618 " "
        PATTERN_WILDCARD@618..620
          WildcardKeyword@618..619 "_"
          Whitespace@619..620 " "
        Eq@620..621 "="
        Whitespace@621..622 " "
        EXPR_CALL@622..661
          EXPR_LIDENT@622..636
            Lident@622..636 "string_println"
          ARG_LIST@636..661
            LParen@636..637 "("
            ARG@637..660
              EXPR_CALL@637..660
                EXPR_LIDENT@637..652
                  Lident@637..652 "int32_to_string"
                ARG_LIST@652..660
                  LParen@652..653 "("
                  ARG@653..659
                    EXPR_LIDENT@653..659
                      Lident@653..659 "second"
                  RParen@659..660 ")"
            RParen@660..661 ")"
        Semi@661..662 ";"
        Whitespace@662..667 "\n    "
      STMT_LET@667..719
        LetKeyword@667..670 "let"
        Whitespace@670..671 " "
        PATTERN_WILDCARD@671..673
          WildcardKeyword@671..672 "_"
          Whitespace@672..673 " "
        Eq@673..674 "="
        Whitespace@674..675 " "
        EXPR_CALL@675..713
          EXPR_LIDENT@675..689
            Lident@675..689 "string_println"
          ARG_LIST@689..713
            LParen@689..690 "("
            ARG@690..712
              EXPR_CALL@690..712
                EXPR_LIDENT@690..705
                  Lident@690..705 "int32_to_string"
                ARG_LIST@705..712
                  LParen@705..706 "("
                  ARG@706..711
                    EXPR_LIDENT@706..711
                      Lident@706..711 "third"
                  RParen@711..712 ")"
            RParen@712..713 ")"
        Semi@713..714 ";"
        Whitespace@714..719 "\n    "
      STMT_LET@719..772
        LetKeyword@719..722 "let"
        Whitespace@722..723 " "
        PATTERN_WILDCARD@723..725
          WildcardKeyword@723..724 "_"
          Whitespace@724..725 " "
        Eq@725..726 "="
        Whitespace@726..727 " "
        EXPR_CALL@727..766
          EXPR_LIDENT@727..741
            Lident@727..741 "string_println"
          ARG_LIST@741..766
            LParen@741..742 "("
            ARG@742..765
              EXPR_CALL@742..765
                EXPR_LIDENT@742..757
                  Lident@742..757 "int32_to_string"
                ARG_LIST@757..765
                  LParen@757..758 "("
                  ARG@758..764
                    EXPR_LIDENT@758..764
                      Lident@758..764 "fourth"
                  RParen@764..765 ")"
            RParen@765..766 ")"
        Semi@766..767 ";"
        Whitespace@767..772 "\n    "
      EXPR_UNIT@772..775
        LParen@772..773 "("
        RParen@773..774 ")"
        Whitespace@774..775 "\n"
      RBrace@775..776 "}"
      Whitespace@776..777 "\n"