FILE@0..4669
  STRUCT@0..86
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..14 "Tracker"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    STRUCT_FIELD_LIST@21..86
      STRUCT_FIELD@21..34
        Ident@21..26 "label"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_STRING@28..34
          StringKeyword@28..34 "string"
      Comma@34..35 ","
      Whitespace@35..40 "\n    "
      STRUCT_FIELD@40..57
        Ident@40..45 "count"
        Colon@45..46 ":"
        Whitespace@46..47 " "
        TYPE_TAPP@47..57
          Ident@47..50 "Ref"
          TYPE_PARAM_LIST@50..57
            LBracket@50..51 "["
            TYPE_INT32@51..56
              Int32Keyword@51..56 "int32"
            RBracket@56..57 "]"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      STRUCT_FIELD@63..81
        Ident@63..70 "toggled"
        Colon@70..71 ":"
        Whitespace@71..72 " "
        TYPE_TAPP@72..81
          Ident@72..75 "Ref"
          TYPE_PARAM_LIST@75..81
            LBracket@75..76 "["
            TYPE_BOOL@76..80
              BoolKeyword@76..80 "bool"
            RBracket@80..81 "]"
      Comma@81..82 ","
      Whitespace@82..83 "\n"
      RBrace@83..84 "}"
      Whitespace@84..86 "\n\n"
  ENUM@86..147
    EnumKeyword@86..90 "enum"
    Whitespace@90..91 " "
    Ident@91..97 "Record"
    GENERIC_LIST@97..101
      LBracket@97..98 "["
      GENERIC@98..99
        Ident@98..99 "T"
      RBracket@99..100 "]"
      Whitespace@100..101 " "
    LBrace@101..102 "{"
    Whitespace@102..107 "\n    "
    VARIANT_LIST@107..147
      VARIANT@107..115
        Ident@107..112 "Value"
        TYPE_LIST@112..115
          LParen@112..113 "("
          TYPE_TAPP@113..114
            Ident@113..114 "T"
          RParen@114..115 ")"
      Comma@115..116 ","
      Whitespace@116..121 "\n    "
      VARIANT@121..131
        Ident@121..125 "Pair"
        TYPE_LIST@125..131
          LParen@125..126 "("
          TYPE_TAPP@126..127
            Ident@126..127 "T"
          Comma@127..128 ","
          Whitespace@128..129 " "
          TYPE_TAPP@129..130
            Ident@129..130 "T"
          RParen@130..131 ")"
      Comma@131..132 ","
      Whitespace@132..137 "\n    "
      VARIANT@137..142
        Ident@137..142 "Empty"
      Comma@142..143 ","
      Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..147 "\n\n"
  ENUM@147..189
    EnumKeyword@147..151 "enum"
    Whitespace@151..152 " "
    Ident@152..157 "Maybe"
    GENERIC_LIST@157..161
      LBracket@157..158 "["
      GENERIC@158..159
        Ident@158..159 "T"
      RBracket@159..160 "]"
      Whitespace@160..161 " "
    LBrace@161..162 "{"
    Whitespace@162..167 "\n    "
    VARIANT_LIST@167..189
      VARIANT@167..174
        Ident@167..171 "Some"
        TYPE_LIST@171..174
          LParen@171..172 "("
          TYPE_TAPP@172..173
            Ident@172..173 "T"
          RParen@173..174 ")"
      Comma@174..175 ","
      Whitespace@175..180 "\n    "
      VARIANT@180..184
        Ident@180..184 "None"
      Comma@184..185 ","
      Whitespace@185..186 "\n"
      RBrace@186..187 "}"
      Whitespace@187..189 "\n\n"
  TRAIT@189..242
    TraitKeyword@189..194 "trait"
    Whitespace@194..195 " "
    Ident@195..203 "Describe"
    Whitespace@203..204 " "
    LBrace@204..205 "{"
    Whitespace@205..210 "\n    "
    TRAIT_METHOD_SIG_LIST@210..242
      TRAIT_METHOD_SIG@210..237
        FnKeyword@210..212 "fn"
        Whitespace@212..213 " "
        Ident@213..221 "describe"
        TYPE_LIST@221..228
          LParen@221..222 "("
          TYPE_TAPP@222..226
            Ident@222..226 "Self"
          RParen@226..227 ")"
          Whitespace@227..228 " "
        Arrow@228..230 "->"
        Whitespace@230..231 " "
        TYPE_STRING@231..237
          StringKeyword@231..237 "string"
      Semi@237..238 ";"
      Whitespace@238..239 "\n"
      RBrace@239..240 "}"
      Whitespace@240..242 "\n\n"
  IMPL@242..757
    ImplKeyword@242..246 "impl"
    Whitespace@246..247 " "
    Ident@247..255 "Describe"
    Whitespace@255..256 " "
    ForKeyword@256..259 "for"
    Whitespace@259..260 " "
    TYPE_TAPP@260..268
      Ident@260..267 "Tracker"
      Whitespace@267..268 " "
    LBrace@268..269 "{"
    Whitespace@269..274 "\n    "
    FN@274..754
      FnKeyword@274..276 "fn"
      Whitespace@276..277 " "
      Ident@277..285 "describe"
      PARAM_LIST@285..301
        LParen@285..286 "("
        PARAM@286..299
          Ident@286..290 "self"
          Colon@290..291 ":"
          Whitespace@291..292 " "
          TYPE_TAPP@292..299
            Ident@292..299 "Tracker"
        RParen@299..300 ")"
        Whitespace@300..301 " "
      Arrow@301..303 "->"
      Whitespace@303..304 " "
      TYPE_STRING@304..311
        StringKeyword@304..310 "string"
        Whitespace@310..311 " "
      BLOCK@311..754
        LBrace@311..312 "{"
        Whitespace@312..321 "\n        "
        STMT_LET@321..398
          LetKeyword@321..324 "let"
          Whitespace@324..325 " "
          PATTERN_CONSTR@325..382
            Ident@325..332 "Tracker"
            Whitespace@332..333 " "
            STRUCT_PATTERN_FIELD_LIST@333..382
              LBrace@333..334 "{"
              Whitespace@334..335 " "
              STRUCT_PATTERN_FIELD@335..347
                Ident@335..340 "label"
                Colon@340..341 ":"
                Whitespace@341..342 " "
                PATTERN_VARIABLE@342..347
                  Ident@342..347 "label"
              Comma@347..348 ","
              Whitespace@348..349 " "
              STRUCT_PATTERN_FIELD@349..361
                Ident@349..354 "count"
                Colon@354..355 ":"
                Whitespace@355..356 " "
                PATTERN_VARIABLE@356..361
                  Ident@356..361 "count"
              Comma@361..362 ","
              Whitespace@362..363 " "
              STRUCT_PATTERN_FIELD@363..380
                Ident@363..370 "toggled"
                Colon@370..371 ":"
                Whitespace@371..372 " "
                PATTERN_VARIABLE@372..380
                  Ident@372..379 "toggled"
                  Whitespace@379..380 " "
              RBrace@380..381 "}"
              Whitespace@381..382 " "
          Eq@382..383 "="
          Whitespace@383..384 " "
          EXPR_IDENT@384..388
            Ident@384..388 "self"
          Semi@388..389 ";"
          Whitespace@389..398 "\n        "
        STMT_LET@398..436
          LetKeyword@398..401 "let"
          Whitespace@401..402 " "
          PATTERN_VARIABLE@402..410
            Ident@402..409 "current"
            Whitespace@409..410 " "
          Eq@410..411 "="
          Whitespace@411..412 " "
          EXPR_CALL@412..426
            EXPR_IDENT@412..419
              Ident@412..419 "ref_get"
            ARG_LIST@419..426
              LParen@419..420 "("
              ARG@420..425
                EXPR_IDENT@420..425
                  Ident@420..425 "count"
              RParen@425..426 ")"
          Semi@426..427 ";"
          Whitespace@427..436 "\n        "
        STMT_LET@436..473
          LetKeyword@436..439 "let"
          Whitespace@439..440 " "
          PATTERN_VARIABLE@440..445
            Ident@440..444 "flag"
            Whitespace@444..445 " "
          Eq@445..446 "="
          Whitespace@446..447 " "
          EXPR_CALL@447..463
            EXPR_IDENT@447..454
              Ident@447..454 "ref_get"
            ARG_LIST@454..463
              LParen@454..455 "("
              ARG@455..462
                EXPR_IDENT@455..462
                  Ident@455..462 "toggled"
              RParen@462..463 ")"
          Semi@463..464 ";"
          Whitespace@464..473 "\n        "
        STMT_LET@473..518
          LetKeyword@473..476 "let"
          Whitespace@476..477 " "
          PATTERN_VARIABLE@477..488
            Ident@477..487 "with_label"
            Whitespace@487..488 " "
          Eq@488..489 "="
          Whitespace@489..490 " "
          EXPR_BINARY@490..508
            EXPR_STR@490..501
              Str@490..500 "\"Tracker(\""
              Whitespace@500..501 " "
            Plus@501..502 "+"
            Whitespace@502..503 " "
            EXPR_IDENT@503..508
              Ident@503..508 "label"
          Semi@508..509 ";"
          Whitespace@509..518 "\n        "
        STMT_LET@518..575
          LetKeyword@518..521 "let"
          Whitespace@521..522 " "
          PATTERN_VARIABLE@522..539
            Ident@522..538 "with_count_label"
            Whitespace@538..539 " "
          Eq@539..540 "="
          Whitespace@540..541 " "
          EXPR_BINARY@541..565
            EXPR_IDENT@541..552
              Ident@541..551 "with_label"
              Whitespace@551..552 " "
            Plus@552..553 "+"
            Whitespace@553..554 " "
            EXPR_STR@554..565
              Str@554..565 "\", count: \""
          Semi@565..566 ";"
          Whitespace@566..575 "\n        "
        STMT_LET@575..645
          LetKeyword@575..578 "let"
          Whitespace@578..579 " "
          PATTERN_VARIABLE@579..590
            Ident@579..589 "with_count"
            Whitespace@589..590 " "
          Eq@590..591 "="
          Whitespace@591..592 " "
          EXPR_BINARY@592..635
            EXPR_IDENT@592..609
              Ident@592..608 "with_count_label"
              Whitespace@608..609 " "
            Plus@609..610 "+"
            Whitespace@610..611 " "
            EXPR_CALL@611..635
              EXPR_IDENT@611..626
                Ident@611..626 "int32_to_string"
              ARG_LIST@626..635
                LParen@626..627 "("
                ARG@627..634
                  EXPR_IDENT@627..634
                    Ident@627..634 "current"
                RParen@634..635 ")"
          Semi@635..636 ";"
          Whitespace@636..645 "\n        "
        STMT_LET@645..703
          LetKeyword@645..648 "let"
          Whitespace@648..649 " "
          PATTERN_VARIABLE@649..665
            Ident@649..664 "with_flag_label"
            Whitespace@664..665 " "
          Eq@665..666 "="
          Whitespace@666..667 " "
          EXPR_BINARY@667..693
            EXPR_IDENT@667..678
              Ident@667..677 "with_count"
              Whitespace@677..678 " "
            Plus@678..679 "+"
            Whitespace@679..680 " "
            EXPR_STR@680..693
              Str@680..693 "\", toggled: \""
          Semi@693..694 ";"
          Whitespace@694..703 "\n        "
        EXPR_BINARY@703..752
          EXPR_BINARY@703..742
            EXPR_IDENT@703..719
              Ident@703..718 "with_flag_label"
              Whitespace@718..719 " "
            Plus@719..720 "+"
            Whitespace@720..721 " "
            EXPR_CALL@721..742
              EXPR_IDENT@721..735
                Ident@721..735 "bool_to_string"
              ARG_LIST@735..742
                LParen@735..736 "("
                ARG@736..740
                  EXPR_IDENT@736..740
                    Ident@736..740 "flag"
                RParen@740..741 ")"
                Whitespace@741..742 " "
          Plus@742..743 "+"
          Whitespace@743..744 " "
          EXPR_STR@744..752
            Str@744..747 "\")\""
            Whitespace@747..752 "\n    "
        RBrace@752..753 "}"
        Whitespace@753..754 "\n"
    RBrace@754..755 "}"
    Whitespace@755..757 "\n\n"
  IMPL@757..1156
    ImplKeyword@757..761 "impl"
    Whitespace@761..762 " "
    Ident@762..770 "Describe"
    Whitespace@770..771 " "
    ForKeyword@771..774 "for"
    Whitespace@774..775 " "
    TYPE_TAPP@775..789
      Ident@775..781 "Record"
      TYPE_PARAM_LIST@781..789
        LBracket@781..782 "["
        TYPE_INT32@782..787
          Int32Keyword@782..787 "int32"
        RBracket@787..788 "]"
        Whitespace@788..789 " "
    LBrace@789..790 "{"
    Whitespace@790..795 "\n    "
    FN@795..1153
      FnKeyword@795..797 "fn"
      Whitespace@797..798 " "
      Ident@798..806 "describe"
      PARAM_LIST@806..828
        LParen@806..807 "("
        PARAM@807..826
          Ident@807..811 "self"
          Colon@811..812 ":"
          Whitespace@812..813 " "
          TYPE_TAPP@813..826
            Ident@813..819 "Record"
            TYPE_PARAM_LIST@819..826
              LBracket@819..820 "["
              TYPE_INT32@820..825
                Int32Keyword@820..825 "int32"
              RBracket@825..826 "]"
        RParen@826..827 ")"
        Whitespace@827..828 " "
      Arrow@828..830 "->"
      Whitespace@830..831 " "
      TYPE_STRING@831..838
        StringKeyword@831..837 "string"
        Whitespace@837..838 " "
      BLOCK@838..1153
        LBrace@838..839 "{"
        Whitespace@839..848 "\n        "
        EXPR_MATCH@848..1151
          MatchKeyword@848..853 "match"
          Whitespace@853..854 " "
          EXPR_IDENT@854..859
            Ident@854..858 "self"
            Whitespace@858..859 " "
          MATCH_ARM_LIST@859..1151
            LBrace@859..860 "{"
            Whitespace@860..873 "\n            "
            MATCH_ARM@873..928
              PATTERN_CONSTR@873..886
                Ident@873..878 "Value"
                LParen@878..879 "("
                PATTERN_VARIABLE@879..884
                  Ident@879..884 "value"
                RParen@884..885 ")"
                Whitespace@885..886 " "
              FatArrow@886..888 "=>"
              Whitespace@888..889 " "
              EXPR_BINARY@889..928
                EXPR_BINARY@889..923
                  EXPR_STR@889..898
                    Str@889..897 "\"Value(\""
                    Whitespace@897..898 " "
                  Plus@898..899 "+"
                  Whitespace@899..900 " "
                  EXPR_CALL@900..923
                    EXPR_IDENT@900..915
                      Ident@900..915 "int32_to_string"
                    ARG_LIST@915..923
                      LParen@915..916 "("
                      ARG@916..921
                        EXPR_IDENT@916..921
                          Ident@916..921 "value"
                      RParen@921..922 ")"
                      Whitespace@922..923 " "
                Plus@923..924 "+"
                Whitespace@924..925 " "
                EXPR_STR@925..928
                  Str@925..928 "\")\""
            Comma@928..929 ","
            Whitespace@929..942 "\n            "
            MATCH_ARM@942..1105
              PATTERN_CONSTR@942..962
                Ident@942..946 "Pair"
                LParen@946..947 "("
                PATTERN_VARIABLE@947..953
                  Ident@947..953 "before"
                Comma@953..954 ","
                Whitespace@954..955 " "
                PATTERN_VARIABLE@955..960
                  Ident@955..960 "after"
                RParen@960..961 ")"
                Whitespace@961..962 " "
              FatArrow@962..964 "=>"
              Whitespace@964..965 " "
              BLOCK@965..1105
                LBrace@965..966 "{"
                Whitespace@966..983 "\n                "
                STMT_LET@983..1047
                  LetKeyword@983..986 "let"
                  Whitespace@986..987 " "
                  PATTERN_VARIABLE@987..994
                    Ident@987..993 "prefix"
                    Whitespace@993..994 " "
                  Eq@994..995 "="
                  Whitespace@995..996 " "
                  EXPR_BINARY@996..1029
                    EXPR_STR@996..1004
                      Str@996..1003 "\"Pair(\""
                      Whitespace@1003..1004 " "
                    Plus@1004..1005 "+"
                    Whitespace@1005..1006 " "
                    EXPR_CALL@1006..1029
                      EXPR_IDENT@1006..1021
                        Ident@1006..1021 "int32_to_string"
                      ARG_LIST@1021..1029
                        LParen@1021..1022 "("
                        ARG@1022..1028
                          EXPR_IDENT@1022..1028
                            Ident@1022..1028 "before"
                        RParen@1028..1029 ")"
                  Semi@1029..1030 ";"
                  Whitespace@1030..1047 "\n                "
                EXPR_BINARY@1047..1104
                  EXPR_BINARY@1047..1086
                    EXPR_BINARY@1047..1061
                      EXPR_IDENT@1047..1054
                        Ident@1047..1053 "prefix"
                        Whitespace@1053..1054 " "
                      Plus@1054..1055 "+"
                      Whitespace@1055..1056 " "
                      EXPR_STR@1056..1061
                        Str@1056..1060 "\", \""
                        Whitespace@1060..1061 " "
                    Plus@1061..1062 "+"
                    Whitespace@1062..1063 " "
                    EXPR_CALL@1063..1086
                      EXPR_IDENT@1063..1078
                        Ident@1063..1078 "int32_to_string"
                      ARG_LIST@1078..1086
                        LParen@1078..1079 "("
                        ARG@1079..1084
                          EXPR_IDENT@1079..1084
                            Ident@1079..1084 "after"
                        RParen@1084..1085 ")"
                        Whitespace@1085..1086 " "
                  Plus@1086..1087 "+"
                  Whitespace@1087..1088 " "
                  EXPR_STR@1088..1104
                    Str@1088..1091 "\")\""
                    Whitespace@1091..1104 "\n            "
                RBrace@1104..1105 "}"
            Comma@1105..1106 ","
            Whitespace@1106..1119 "\n            "
            MATCH_ARM@1119..1135
              PATTERN_VARIABLE@1119..1125
                Ident@1119..1124 "Empty"
                Whitespace@1124..1125 " "
              FatArrow@1125..1127 "=>"
              Whitespace@1127..1128 " "
              EXPR_STR@1128..1135
                Str@1128..1135 "\"Empty\""
            Comma@1135..1136 ","
            Whitespace@1136..1145 "\n        "
            RBrace@1145..1146 "}"
            Whitespace@1146..1151 "\n    "
        RBrace@1151..1152 "}"
        Whitespace@1152..1153 "\n"
    RBrace@1153..1154 "}"
    Whitespace@1154..1156 "\n\n"
  IMPL@1156..1504
    ImplKeyword@1156..1160 "impl"
    Whitespace@1160..1161 " "
    Ident@1161..1169 "Describe"
    Whitespace@1169..1170 " "
    ForKeyword@1170..1173 "for"
    Whitespace@1173..1174 " "
    TYPE_TAPP@1174..1189
      Ident@1174..1180 "Record"
      TYPE_PARAM_LIST@1180..1189
        LBracket@1180..1181 "["
        TYPE_STRING@1181..1187
          StringKeyword@1181..1187 "string"
        RBracket@1187..1188 "]"
        Whitespace@1188..1189 " "
    LBrace@1189..1190 "{"
    Whitespace@1190..1195 "\n    "
    FN@1195..1501
      FnKeyword@1195..1197 "fn"
      Whitespace@1197..1198 " "
      Ident@1198..1206 "describe"
      PARAM_LIST@1206..1229
        LParen@1206..1207 "("
        PARAM@1207..1227
          Ident@1207..1211 "self"
          Colon@1211..1212 ":"
          Whitespace@1212..1213 " "
          TYPE_TAPP@1213..1227
            Ident@1213..1219 "Record"
            TYPE_PARAM_LIST@1219..1227
              LBracket@1219..1220 "["
              TYPE_STRING@1220..1226
                StringKeyword@1220..1226 "string"
              RBracket@1226..1227 "]"
        RParen@1227..1228 ")"
        Whitespace@1228..1229 " "
      Arrow@1229..1231 "->"
      Whitespace@1231..1232 " "
      TYPE_STRING@1232..1239
        StringKeyword@1232..1238 "string"
        Whitespace@1238..1239 " "
      BLOCK@1239..1501
        LBrace@1239..1240 "{"
        Whitespace@1240..1249 "\n        "
        EXPR_MATCH@1249..1499
          MatchKeyword@1249..1254 "match"
          Whitespace@1254..1255 " "
          EXPR_IDENT@1255..1260
            Ident@1255..1259 "self"
            Whitespace@1259..1260 " "
          MATCH_ARM_LIST@1260..1499
            LBrace@1260..1261 "{"
            Whitespace@1261..1274 "\n            "
            MATCH_ARM@1274..1310
              PATTERN_CONSTR@1274..1286
                Ident@1274..1279 "Value"
                LParen@1279..1280 "("
                PATTERN_VARIABLE@1280..1284
                  Ident@1280..1284 "text"
                RParen@1284..1285 ")"
                Whitespace@1285..1286 " "
              FatArrow@1286..1288 "=>"
              Whitespace@1288..1289 " "
              EXPR_BINARY@1289..1310
                EXPR_BINARY@1289..1305
                  EXPR_STR@1289..1298
                    Str@1289..1297 "\"Value(\""
                    Whitespace@1297..1298 " "
                  Plus@1298..1299 "+"
                  Whitespace@1299..1300 " "
                  EXPR_IDENT@1300..1305
                    Ident@1300..1304 "text"
                    Whitespace@1304..1305 " "
                Plus@1305..1306 "+"
                Whitespace@1306..1307 " "
                EXPR_STR@1307..1310
                  Str@1307..1310 "\")\""
            Comma@1310..1311 ","
            Whitespace@1311..1324 "\n            "
            MATCH_ARM@1324..1453
              PATTERN_CONSTR@1324..1344
                Ident@1324..1328 "Pair"
                LParen@1328..1329 "("
                PATTERN_VARIABLE@1329..1335
                  Ident@1329..1335 "before"
                Comma@1335..1336 ","
                Whitespace@1336..1337 " "
                PATTERN_VARIABLE@1337..1342
                  Ident@1337..1342 "after"
                RParen@1342..1343 ")"
                Whitespace@1343..1344 " "
              FatArrow@1344..1346 "=>"
              Whitespace@1346..1347 " "
              BLOCK@1347..1453
                LBrace@1347..1348 "{"
                Whitespace@1348..1365 "\n                "
                STMT_LET@1365..1412
                  LetKeyword@1365..1368 "let"
                  Whitespace@1368..1369 " "
                  PATTERN_VARIABLE@1369..1376
                    Ident@1369..1375 "prefix"
                    Whitespace@1375..1376 " "
                  Eq@1376..1377 "="
                  Whitespace@1377..1378 " "
                  EXPR_BINARY@1378..1394
                    EXPR_STR@1378..1386
                      Str@1378..1385 "\"Pair(\""
                      Whitespace@1385..1386 " "
                    Plus@1386..1387 "+"
                    Whitespace@1387..1388 " "
                    EXPR_IDENT@1388..1394
                      Ident@1388..1394 "before"
                  Semi@1394..1395 ";"
                  Whitespace@1395..1412 "\n                "
                EXPR_BINARY@1412..1452
                  EXPR_BINARY@1412..1434
                    EXPR_BINARY@1412..1426
                      EXPR_IDENT@1412..1419
                        Ident@1412..1418 "prefix"
                        Whitespace@1418..1419 " "
                      Plus@1419..1420 "+"
                      Whitespace@1420..1421 " "
                      EXPR_STR@1421..1426
                        Str@1421..1425 "\", \""
                        Whitespace@1425..1426 " "
                    Plus@1426..1427 "+"
                    Whitespace@1427..1428 " "
                    EXPR_IDENT@1428..1434
                      Ident@1428..1433 "after"
                      Whitespace@1433..1434 " "
                  Plus@1434..1435 "+"
                  Whitespace@1435..1436 " "
                  EXPR_STR@1436..1452
                    Str@1436..1439 "\")\""
                    Whitespace@1439..1452 "\n            "
                RBrace@1452..1453 "}"
            Comma@1453..1454 ","
            Whitespace@1454..1467 "\n            "
            MATCH_ARM@1467..1483
              PATTERN_VARIABLE@1467..1473
                Ident@1467..1472 "Empty"
                Whitespace@1472..1473 " "
              FatArrow@1473..1475 "=>"
              Whitespace@1475..1476 " "
              EXPR_STR@1476..1483
                Str@1476..1483 "\"Empty\""
            Comma@1483..1484 ","
            Whitespace@1484..1493 "\n        "
            RBrace@1493..1494 "}"
            Whitespace@1494..1499 "\n    "
        RBrace@1499..1500 "}"
        Whitespace@1500..1501 "\n"
    RBrace@1501..1502 "}"
    Whitespace@1502..1504 "\n\n"
  FN@1504..1614
    FnKeyword@1504..1506 "fn"
    Whitespace@1506..1507 " "
    Ident@1507..1513 "choose"
    GENERIC_LIST@1513..1516
      LBracket@1513..1514 "["
      GENERIC@1514..1515
        Ident@1514..1515 "T"
      RBracket@1515..1516 "]"
    PARAM_LIST@1516..1558
      LParen@1516..1517 "("
      PARAM@1517..1529
        Ident@1517..1521 "flag"
        Colon@1521..1522 ":"
        Whitespace@1522..1523 " "
        TYPE_BOOL@1523..1527
          BoolKeyword@1523..1527 "bool"
        Comma@1527..1528 ","
        Whitespace@1528..1529 " "
      PARAM@1529..1543
        Ident@1529..1538 "when_true"
        Colon@1538..1539 ":"
        Whitespace@1539..1540 " "
        TYPE_TAPP@1540..1541
          Ident@1540..1541 "T"
        Comma@1541..1542 ","
        Whitespace@1542..1543 " "
      PARAM@1543..1556
        Ident@1543..1553 "when_false"
        Colon@1553..1554 ":"
        Whitespace@1554..1555 " "
        TYPE_TAPP@1555..1556
          Ident@1555..1556 "T"
      RParen@1556..1557 ")"
      Whitespace@1557..1558 " "
    Arrow@1558..1560 "->"
    Whitespace@1560..1561 " "
    TYPE_TAPP@1561..1563
      Ident@1561..1562 "T"
      Whitespace@1562..1563 " "
    BLOCK@1563..1614
      LBrace@1563..1564 "{"
      Whitespace@1564..1569 "\n    "
      EXPR_IF@1569..1611
        IfKeyword@1569..1571 "if"
        Whitespace@1571..1572 " "
        EXPR_IF_COND@1572..1577
          EXPR_IDENT@1572..1577
            Ident@1572..1576 "flag"
            Whitespace@1576..1577 " "
        EXPR_IF_THEN@1577..1591
          BLOCK@1577..1591
            LBrace@1577..1578 "{"
            Whitespace@1578..1579 " "
            EXPR_IDENT@1579..1589
              Ident@1579..1588 "when_true"
              Whitespace@1588..1589 " "
            RBrace@1589..1590 "}"
            Whitespace@1590..1591 " "
        ElseKeyword@1591..1595 "else"
        Whitespace@1595..1596 " "
        EXPR_IF_ELSE@1596..1611
          BLOCK@1596..1611
            LBrace@1596..1597 "{"
            Whitespace@1597..1598 " "
            EXPR_IDENT@1598..1609
              Ident@1598..1608 "when_false"
              Whitespace@1608..1609 " "
            RBrace@1609..1610 "}"
            Whitespace@1610..1611 "\n"
      RBrace@1611..1612 "}"
      Whitespace@1612..1614 "\n\n"
  FN@1614..1765
    FnKeyword@1614..1616 "fn"
    Whitespace@1616..1617 " "
    Ident@1617..1626 "map_maybe"
    GENERIC_LIST@1626..1632
      LBracket@1626..1627 "["
      GENERIC@1627..1628
        Ident@1627..1628 "T"
      Comma@1628..1629 ","
      Whitespace@1629..1630 " "
      GENERIC@1630..1631
        Ident@1630..1631 "U"
      RBracket@1631..1632 "]"
    PARAM_LIST@1632..1663
      LParen@1632..1633 "("
      PARAM@1633..1650
        Ident@1633..1638 "value"
        Colon@1638..1639 ":"
        Whitespace@1639..1640 " "
        TYPE_TAPP@1640..1648
          Ident@1640..1645 "Maybe"
          TYPE_PARAM_LIST@1645..1648
            LBracket@1645..1646 "["
            TYPE_TAPP@1646..1647
              Ident@1646..1647 "T"
            RBracket@1647..1648 "]"
        Comma@1648..1649 ","
        Whitespace@1649..1650 " "
      PARAM@1650..1661
        Ident@1650..1651 "f"
        Colon@1651..1652 ":"
        Whitespace@1652..1653 " "
        TYPE_FUNC@1653..1661
          TYPE_TUPLE@1653..1657
            TYPE_LIST@1653..1657
              LParen@1653..1654 "("
              TYPE_TAPP@1654..1655
                Ident@1654..1655 "T"
              RParen@1655..1656 ")"
              Whitespace@1656..1657 " "
          Arrow@1657..1659 "->"
          Whitespace@1659..1660 " "
          TYPE_TAPP@1660..1661
            Ident@1660..1661 "U"
      RParen@1661..1662 ")"
      Whitespace@1662..1663 " "
    Arrow@1663..1665 "->"
    Whitespace@1665..1666 " "
    TYPE_TAPP@1666..1675
      Ident@1666..1671 "Maybe"
      TYPE_PARAM_LIST@1671..1675
        LBracket@1671..1672 "["
        TYPE_TAPP@1672..1673
          Ident@1672..1673 "U"
        RBracket@1673..1674 "]"
        Whitespace@1674..1675 " "
    BLOCK@1675..1765
      LBrace@1675..1676 "{"
      Whitespace@1676..1681 "\n    "
      EXPR_MATCH@1681..1762
        MatchKeyword@1681..1686 "match"
        Whitespace@1686..1687 " "
        EXPR_IDENT@1687..1693
          Ident@1687..1692 "value"
          Whitespace@1692..1693 " "
        MATCH_ARM_LIST@1693..1762
          LBrace@1693..1694 "{"
          Whitespace@1694..1703 "\n        "
          MATCH_ARM@1703..1732
            PATTERN_CONSTR@1703..1715
              Ident@1703..1707 "Some"
              LParen@1707..1708 "("
              PATTERN_VARIABLE@1708..1713
                Ident@1708..1713 "inner"
              RParen@1713..1714 ")"
              Whitespace@1714..1715 " "
            FatArrow@1715..1717 "=>"
            Whitespace@1717..1718 " "
            EXPR_CALL@1718..1732
              EXPR_IDENT@1718..1722
                Ident@1718..1722 "Some"
              ARG_LIST@1722..1732
                LParen@1722..1723 "("
                ARG@1723..1731
                  EXPR_CALL@1723..1731
                    EXPR_IDENT@1723..1724
                      Ident@1723..1724 "f"
                    ARG_LIST@1724..1731
                      LParen@1724..1725 "("
                      ARG@1725..1730
                        EXPR_IDENT@1725..1730
                          Ident@1725..1730 "inner"
                      RParen@1730..1731 ")"
                RParen@1731..1732 ")"
          Comma@1732..1733 ","
          Whitespace@1733..1742 "\n        "
          MATCH_ARM@1742..1754
            PATTERN_VARIABLE@1742..1747
              Ident@1742..1746 "None"
              Whitespace@1746..1747 " "
            FatArrow@1747..1749 "=>"
            Whitespace@1749..1750 " "
            EXPR_IDENT@1750..1754
              Ident@1750..1754 "None"
          Comma@1754..1755 ","
          Whitespace@1755..1760 "\n    "
          RBrace@1760..1761 "}"
          Whitespace@1761..1762 "\n"
      RBrace@1762..1763 "}"
      Whitespace@1763..1765 "\n\n"
  FN@1765..1849
    FnKeyword@1765..1767 "fn"
    Whitespace@1767..1768 " "
    Ident@1768..1780 "format_total"
    PARAM_LIST@1780..1795
      LParen@1780..1781 "("
      PARAM@1781..1793
        Ident@1781..1786 "total"
        Colon@1786..1787 ":"
        Whitespace@1787..1788 " "
        TYPE_INT32@1788..1793
          Int32Keyword@1788..1793 "int32"
      RParen@1793..1794 ")"
      Whitespace@1794..1795 " "
    Arrow@1795..1797 "->"
    Whitespace@1797..1798 " "
    TYPE_STRING@1798..1805
      StringKeyword@1798..1804 "string"
      Whitespace@1804..1805 " "
    BLOCK@1805..1849
      LBrace@1805..1806 "{"
      Whitespace@1806..1811 "\n    "
      EXPR_BINARY@1811..1846
        EXPR_STR@1811..1821
          Str@1811..1820 "\"total: \""
          Whitespace@1820..1821 " "
        Plus@1821..1822 "+"
        Whitespace@1822..1823 " "
        EXPR_CALL@1823..1846
          EXPR_IDENT@1823..1838
            Ident@1823..1838 "int32_to_string"
          ARG_LIST@1838..1846
            LParen@1838..1839 "("
            ARG@1839..1844
              EXPR_IDENT@1839..1844
                Ident@1839..1844 "total"
            RParen@1844..1845 ")"
            Whitespace@1845..1846 "\n"
      RBrace@1846..1847 "}"
      Whitespace@1847..1849 "\n\n"
  FN@1849..1904
    FnKeyword@1849..1851 "fn"
    Whitespace@1851..1852 " "
    Ident@1852..1861 "increment"
    PARAM_LIST@1861..1876
      LParen@1861..1862 "("
      PARAM@1862..1874
        Ident@1862..1867 "value"
        Colon@1867..1868 ":"
        Whitespace@1868..1869 " "
        TYPE_INT32@1869..1874
          Int32Keyword@1869..1874 "int32"
      RParen@1874..1875 ")"
      Whitespace@1875..1876 " "
    Arrow@1876..1878 "->"
    Whitespace@1878..1879 " "
    TYPE_INT32@1879..1885
      Int32Keyword@1879..1884 "int32"
      Whitespace@1884..1885 " "
    BLOCK@1885..1904
      LBrace@1885..1886 "{"
      Whitespace@1886..1891 "\n    "
      EXPR_BINARY@1891..1901
        EXPR_IDENT@1891..1897
          Ident@1891..1896 "value"
          Whitespace@1896..1897 " "
        Plus@1897..1898 "+"
        Whitespace@1898..1899 " "
        EXPR_INT@1899..1901
          Int@1899..1900 "1"
          Whitespace@1900..1901 "\n"
      RBrace@1901..1902 "}"
      Whitespace@1902..1904 "\n\n"
  FN@1904..1956
    FnKeyword@1904..1906 "fn"
    Whitespace@1906..1907 " "
    Ident@1907..1913 "triple"
    PARAM_LIST@1913..1928
      LParen@1913..1914 "("
      PARAM@1914..1926
        Ident@1914..1919 "value"
        Colon@1919..1920 ":"
        Whitespace@1920..1921 " "
        TYPE_INT32@1921..1926
          Int32Keyword@1921..1926 "int32"
      RParen@1926..1927 ")"
      Whitespace@1927..1928 " "
    Arrow@1928..1930 "->"
    Whitespace@1930..1931 " "
    TYPE_INT32@1931..1937
      Int32Keyword@1931..1936 "int32"
      Whitespace@1936..1937 " "
    BLOCK@1937..1956
      LBrace@1937..1938 "{"
      Whitespace@1938..1943 "\n    "
      EXPR_BINARY@1943..1953
        EXPR_IDENT@1943..1949
          Ident@1943..1948 "value"
          Whitespace@1948..1949 " "
        Star@1949..1950 "*"
        Whitespace@1950..1951 " "
        EXPR_INT@1951..1953
          Int@1951..1952 "3"
          Whitespace@1952..1953 "\n"
      RBrace@1953..1954 "}"
      Whitespace@1954..1956 "\n\n"
  FN@1956..2066
    FnKeyword@1956..1958 "fn"
    Whitespace@1958..1959 " "
    Ident@1959..1968 "pair_join"
    PARAM_LIST@1968..1994
      LParen@1968..1969 "("
      PARAM@1969..1992
        Ident@1969..1974 "parts"
        Colon@1974..1975 ":"
        Whitespace@1975..1976 " "
        TYPE_TUPLE@1976..1992
          TYPE_LIST@1976..1992
            LParen@1976..1977 "("
            TYPE_STRING@1977..1983
              StringKeyword@1977..1983 "string"
            Comma@1983..1984 ","
            Whitespace@1984..1985 " "
            TYPE_STRING@1985..1991
              StringKeyword@1985..1991 "string"
            RParen@1991..1992 ")"
      RParen@1992..1993 ")"
      Whitespace@1993..1994 " "
    Arrow@1994..1996 "->"
    Whitespace@1996..1997 " "
    TYPE_STRING@1997..2004
      StringKeyword@1997..2003 "string"
      Whitespace@2003..2004 " "
    BLOCK@2004..2066
      LBrace@2004..2005 "{"
      Whitespace@2005..2010 "\n    "
      STMT_LET@2010..2041
        LetKeyword@2010..2013 "let"
        Whitespace@2013..2014 " "
        PATTERN_TUPLE@2014..2028
          LParen@2014..2015 "("
          PATTERN_VARIABLE@2015..2019
            Ident@2015..2019 "left"
          Comma@2019..2020 ","
          Whitespace@2020..2021 " "
          PATTERN_VARIABLE@2021..2026
            Ident@2021..2026 "right"
          RParen@2026..2027 ")"
          Whitespace@2027..2028 " "
        Eq@2028..2029 "="
        Whitespace@2029..2030 " "
        EXPR_IDENT@2030..2035
          Ident@2030..2035 "parts"
        Semi@2035..2036 ";"
        Whitespace@2036..2041 "\n    "
      EXPR_BINARY@2041..2063
        EXPR_BINARY@2041..2055
          EXPR_IDENT@2041..2046
            Ident@2041..2045 "left"
            Whitespace@2045..2046 " "
          Plus@2046..2047 "+"
          Whitespace@2047..2048 " "
          EXPR_STR@2048..2055
            Str@2048..2054 "\" -> \""
            Whitespace@2054..2055 " "
        Plus@2055..2056 "+"
        Whitespace@2056..2057 " "
        EXPR_IDENT@2057..2063
          Ident@2057..2062 "right"
          Whitespace@2062..2063 "\n"
      RBrace@2063..2064 "}"
      Whitespace@2064..2066 "\n\n"
  FN@2066..2375
    FnKeyword@2066..2068 "fn"
    Whitespace@2068..2069 " "
    Ident@2069..2083 "run_transforms"
    PARAM_LIST@2083..2133
      LParen@2083..2084 "("
      PARAM@2084..2098
        Ident@2084..2089 "value"
        Colon@2089..2090 ":"
        Whitespace@2090..2091 " "
        TYPE_INT32@2091..2096
          Int32Keyword@2091..2096 "int32"
        Comma@2096..2097 ","
        Whitespace@2097..2098 " "
      PARAM@2098..2131
        Ident@2098..2108 "transforms"
        Colon@2108..2109 ":"
        Whitespace@2109..2110 " "
        TYPE_ARRAY@2110..2131
          LBracket@2110..2111 "["
          TYPE_FUNC@2111..2127
            TYPE_TUPLE@2111..2119
              TYPE_LIST@2111..2119
                LParen@2111..2112 "("
                TYPE_INT32@2112..2117
                  Int32Keyword@2112..2117 "int32"
                RParen@2117..2118 ")"
                Whitespace@2118..2119 " "
            Arrow@2119..2121 "->"
            Whitespace@2121..2122 " "
            TYPE_INT32@2122..2127
              Int32Keyword@2122..2127 "int32"
          Semi@2127..2128 ";"
          Whitespace@2128..2129 " "
          Int@2129..2130 "2"
          RBracket@2130..2131 "]"
      RParen@2131..2132 ")"
      Whitespace@2132..2133 " "
    Arrow@2133..2135 "->"
    Whitespace@2135..2136 " "
    TYPE_ARRAY@2136..2147
      LBracket@2136..2137 "["
      TYPE_INT32@2137..2142
        Int32Keyword@2137..2142 "int32"
      Semi@2142..2143 ";"
      Whitespace@2143..2144 " "
      Int@2144..2145 "2"
      RBracket@2145..2146 "]"
      Whitespace@2146..2147 " "
    BLOCK@2147..2375
      LBrace@2147..2148 "{"
      Whitespace@2148..2153 "\n    "
      STMT_LET@2153..2195
        LetKeyword@2153..2156 "let"
        Whitespace@2156..2157 " "
        PATTERN_VARIABLE@2157..2163
          Ident@2157..2162 "first"
          Whitespace@2162..2163 " "
        Eq@2163..2164 "="
        Whitespace@2164..2165 " "
        EXPR_CALL@2165..2189
          EXPR_IDENT@2165..2174
            Ident@2165..2174 "array_get"
          ARG_LIST@2174..2189
            LParen@2174..2175 "("
            ARG@2175..2187
              EXPR_IDENT@2175..2185
                Ident@2175..2185 "transforms"
              Comma@2185..2186 ","
              Whitespace@2186..2187 " "
            ARG@2187..2188
              EXPR_INT@2187..2188
                Int@2187..2188 "0"
            RParen@2188..2189 ")"
        Semi@2189..2190 ";"
        Whitespace@2190..2195 "\n    "
      STMT_LET@2195..2238
        LetKeyword@2195..2198 "let"
        Whitespace@2198..2199 " "
        PATTERN_VARIABLE@2199..2206
          Ident@2199..2205 "second"
          Whitespace@2205..2206 " "
        Eq@2206..2207 "="
        Whitespace@2207..2208 " "
        EXPR_CALL@2208..2232
          EXPR_IDENT@2208..2217
            Ident@2208..2217 "array_get"
          ARG_LIST@2217..2232
            LParen@2217..2218 "("
            ARG@2218..2230
              EXPR_IDENT@2218..2228
                Ident@2218..2228 "transforms"
              Comma@2228..2229 ","
              Whitespace@2229..2230 " "
            ARG@2230..2231
              EXPR_INT@2230..2231
                Int@2230..2231 "1"
            RParen@2231..2232 ")"
        Semi@2232..2233 ";"
        Whitespace@2233..2238 "\n    "
      STMT_LET@2238..2275
        LetKeyword@2238..2241 "let"
        Whitespace@2241..2242 " "
        PATTERN_VARIABLE@2242..2255
          Ident@2242..2254 "first_result"
          Whitespace@2254..2255 " "
        Eq@2255..2256 "="
        Whitespace@2256..2257 " "
        EXPR_CALL@2257..2269
          EXPR_IDENT@2257..2262
            Ident@2257..2262 "first"
          ARG_LIST@2262..2269
            LParen@2262..2263 "("
            ARG@2263..2268
              EXPR_IDENT@2263..2268
                Ident@2263..2268 "value"
            RParen@2268..2269 ")"
        Semi@2269..2270 ";"
        Whitespace@2270..2275 "\n    "
      STMT_LET@2275..2321
        LetKeyword@2275..2278 "let"
        Whitespace@2278..2279 " "
        PATTERN_VARIABLE@2279..2293
          Ident@2279..2292 "second_result"
          Whitespace@2292..2293 " "
        Eq@2293..2294 "="
        Whitespace@2294..2295 " "
        EXPR_CALL@2295..2315
          EXPR_IDENT@2295..2301
            Ident@2295..2301 "second"
          ARG_LIST@2301..2315
            LParen@2301..2302 "("
            ARG@2302..2314
              EXPR_IDENT@2302..2314
                Ident@2302..2314 "first_result"
            RParen@2314..2315 ")"
        Semi@2315..2316 ";"
        Whitespace@2316..2321 "\n    "
      EXPR_CALL@2321..2372
        EXPR_IDENT@2321..2330
          Ident@2321..2330 "array_set"
        ARG_LIST@2330..2372
          LParen@2330..2331 "("
          ARG@2331..2354
            EXPR_ARRAY_LITERAL@2331..2352
              LBracket@2331..2332 "["
              EXPR_IDENT@2332..2344
                Ident@2332..2344 "first_result"
              Comma@2344..2345 ","
              Whitespace@2345..2346 " "
              EXPR_IDENT@2346..2351
                Ident@2346..2351 "value"
              RBracket@2351..2352 "]"
            Comma@2352..2353 ","
            Whitespace@2353..2354 " "
          ARG@2354..2357
            EXPR_INT@2354..2355
              Int@2354..2355 "1"
            Comma@2355..2356 ","
            Whitespace@2356..2357 " "
          ARG@2357..2370
            EXPR_IDENT@2357..2370
              Ident@2357..2370 "second_result"
          RParen@2370..2371 ")"
          Whitespace@2371..2372 "\n"
      RBrace@2372..2373 "}"
      Whitespace@2373..2375 "\n\n"
  FN@2375..2553
    FnKeyword@2375..2377 "fn"
    Whitespace@2377..2378 " "
    Ident@2378..2384 "gather"
    PARAM_LIST@2384..2408
      LParen@2384..2385 "("
      PARAM@2385..2406
        Ident@2385..2391 "record"
        Colon@2391..2392 ":"
        Whitespace@2392..2393 " "
        TYPE_TAPP@2393..2406
          Ident@2393..2399 "Record"
          TYPE_PARAM_LIST@2399..2406
            LBracket@2399..2400 "["
            TYPE_INT32@2400..2405
              Int32Keyword@2400..2405 "int32"
            RBracket@2405..2406 "]"
      RParen@2406..2407 ")"
      Whitespace@2407..2408 " "
    Arrow@2408..2410 "->"
    Whitespace@2410..2411 " "
    TYPE_TAPP@2411..2424
      Ident@2411..2416 "Maybe"
      TYPE_PARAM_LIST@2416..2424
        LBracket@2416..2417 "["
        TYPE_INT32@2417..2422
          Int32Keyword@2417..2422 "int32"
        RBracket@2422..2423 "]"
        Whitespace@2423..2424 " "
    BLOCK@2424..2553
      LBrace@2424..2425 "{"
      Whitespace@2425..2430 "\n    "
      EXPR_MATCH@2430..2550
        MatchKeyword@2430..2435 "match"
        Whitespace@2435..2436 " "
        EXPR_IDENT@2436..2443
          Ident@2436..2442 "record"
          Whitespace@2442..2443 " "
        MATCH_ARM_LIST@2443..2550
          LBrace@2443..2444 "{"
          Whitespace@2444..2453 "\n        "
          MATCH_ARM@2453..2480
            PATTERN_CONSTR@2453..2466
              Ident@2453..2458 "Value"
              LParen@2458..2459 "("
              PATTERN_VARIABLE@2459..2464
                Ident@2459..2464 "value"
              RParen@2464..2465 ")"
              Whitespace@2465..2466 " "
            FatArrow@2466..2468 "=>"
            Whitespace@2468..2469 " "
            EXPR_CALL@2469..2480
              EXPR_IDENT@2469..2473
                Ident@2469..2473 "Some"
              ARG_LIST@2473..2480
                LParen@2473..2474 "("
                ARG@2474..2479
                  EXPR_IDENT@2474..2479
                    Ident@2474..2479 "value"
                RParen@2479..2480 ")"
          Comma@2480..2481 ","
          Whitespace@2481..2490 "\n        "
          MATCH_ARM@2490..2519
            PATTERN_CONSTR@2490..2505
              Ident@2490..2494 "Pair"
              LParen@2494..2495 "("
              PATTERN_WILDCARD@2495..2496
                WildcardKeyword@2495..2496 "_"
              Comma@2496..2497 ","
              Whitespace@2497..2498 " "
              PATTERN_VARIABLE@2498..2503
                Ident@2498..2503 "after"
              RParen@2503..2504 ")"
              Whitespace@2504..2505 " "
            FatArrow@2505..2507 "=>"
            Whitespace@2507..2508 " "
            EXPR_CALL@2508..2519
              EXPR_IDENT@2508..2512
                Ident@2508..2512 "Some"
              ARG_LIST@2512..2519
                LParen@2512..2513 "("
                ARG@2513..2518
                  EXPR_IDENT@2513..2518
                    Ident@2513..2518 "after"
                RParen@2518..2519 ")"
          Comma@2519..2520 ","
          Whitespace@2520..2529 "\n        "
          MATCH_ARM@2529..2542
            PATTERN_VARIABLE@2529..2535
              Ident@2529..2534 "Empty"
              Whitespace@2534..2535 " "
            FatArrow@2535..2537 "=>"
            Whitespace@2537..2538 " "
            EXPR_IDENT@2538..2542
              Ident@2538..2542 "None"
          Comma@2542..2543 ","
          Whitespace@2543..2548 "\n    "
          RBrace@2548..2549 "}"
          Whitespace@2549..2550 "\n"
      RBrace@2550..2551 "}"
      Whitespace@2551..2553 "\n\n"
  FN@2553..3285
    FnKeyword@2553..2555 "fn"
    Whitespace@2555..2556 " "
    Ident@2556..2569 "build_counter"
    PARAM_LIST@2569..2599
      LParen@2569..2570 "("
      PARAM@2570..2585
        Ident@2570..2575 "label"
        Colon@2575..2576 ":"
        Whitespace@2576..2577 " "
        TYPE_STRING@2577..2583
          StringKeyword@2577..2583 "string"
        Comma@2583..2584 ","
        Whitespace@2584..2585 " "
      PARAM@2585..2597
        Ident@2585..2590 "start"
        Colon@2590..2591 ":"
        Whitespace@2591..2592 " "
        TYPE_INT32@2592..2597
          Int32Keyword@2592..2597 "int32"
      RParen@2597..2598 ")"
      Whitespace@2598..2599 " "
    Arrow@2599..2601 "->"
    Whitespace@2601..2602 " "
    TYPE_TUPLE@2602..2681
      TYPE_LIST@2602..2681
        LParen@2602..2603 "("
        TYPE_TAPP@2603..2610
          Ident@2603..2610 "Tracker"
        Comma@2610..2611 ","
        Whitespace@2611..2612 " "
        TYPE_FUNC@2612..2631
          TYPE_TUPLE@2612..2615
            TYPE_LIST@2612..2615
              LParen@2612..2613 "("
              RParen@2613..2614 ")"
              Whitespace@2614..2615 " "
          Arrow@2615..2617 "->"
          Whitespace@2617..2618 " "
          TYPE_TAPP@2618..2631
            Ident@2618..2624 "Record"
            TYPE_PARAM_LIST@2624..2631
              LBracket@2624..2625 "["
              TYPE_INT32@2625..2630
                Int32Keyword@2625..2630 "int32"
              RBracket@2630..2631 "]"
        Comma@2631..2632 ","
        Whitespace@2632..2633 " "
        TYPE_FUNC@2633..2657
          TYPE_TUPLE@2633..2641
            TYPE_LIST@2633..2641
              LParen@2633..2634 "("
              TYPE_INT32@2634..2639
                Int32Keyword@2634..2639 "int32"
              RParen@2639..2640 ")"
              Whitespace@2640..2641 " "
          Arrow@2641..2643 "->"
          Whitespace@2643..2644 " "
          TYPE_TAPP@2644..2657
            Ident@2644..2650 "Record"
            TYPE_PARAM_LIST@2650..2657
              LBracket@2650..2651 "["
              TYPE_INT32@2651..2656
                Int32Keyword@2651..2656 "int32"
              RBracket@2656..2657 "]"
        Comma@2657..2658 ","
        Whitespace@2658..2659 " "
        TYPE_FUNC@2659..2679
          TYPE_TUPLE@2659..2662
            TYPE_LIST@2659..2662
              LParen@2659..2660 "("
              RParen@2660..2661 ")"
              Whitespace@2661..2662 " "
          Arrow@2662..2664 "->"
          Whitespace@2664..2665 " "
          TYPE_TAPP@2665..2679
            Ident@2665..2671 "Record"
            TYPE_PARAM_LIST@2671..2679
              LBracket@2671..2672 "["
              TYPE_STRING@2672..2678
                StringKeyword@2672..2678 "string"
              RBracket@2678..2679 "]"
        RParen@2679..2680 ")"
        Whitespace@2680..2681 " "
    BLOCK@2681..3285
      LBrace@2681..2682 "{"
      Whitespace@2682..2687 "\n    "
      STMT_LET@2687..2715
        LetKeyword@2687..2690 "let"
        Whitespace@2690..2691 " "
        PATTERN_VARIABLE@2691..2697
          Ident@2691..2696 "count"
          Whitespace@2696..2697 " "
        Eq@2697..2698 "="
        Whitespace@2698..2699 " "
        EXPR_CALL@2699..2709
          EXPR_IDENT@2699..2702
            Ident@2699..2702 "ref"
          ARG_LIST@2702..2709
            LParen@2702..2703 "("
            ARG@2703..2708
              EXPR_IDENT@2703..2708
                Ident@2703..2708 "start"
            RParen@2708..2709 ")"
        Semi@2709..2710 ";"
        Whitespace@2710..2715 "\n    "
      STMT_LET@2715..2745
        LetKeyword@2715..2718 "let"
        Whitespace@2718..2719 " "
        PATTERN_VARIABLE@2719..2727
          Ident@2719..2726 "toggled"
          Whitespace@2726..2727 " "
        Eq@2727..2728 "="
        Whitespace@2728..2729 " "
        EXPR_CALL@2729..2739
          EXPR_IDENT@2729..2732
            Ident@2729..2732 "ref"
          ARG_LIST@2732..2739
            LParen@2732..2733 "("
            ARG@2733..2738
              EXPR_BOOL@2733..2738
                FalseKeyword@2733..2738 "false"
            RParen@2738..2739 ")"
        Semi@2739..2740 ";"
        Whitespace@2740..2745 "\n    "
      STMT_LET@2745..2821
        LetKeyword@2745..2748 "let"
        Whitespace@2748..2749 " "
        PATTERN_VARIABLE@2749..2757
          Ident@2749..2756 "tracker"
          Whitespace@2756..2757 " "
        Eq@2757..2758 "="
        Whitespace@2758..2759 " "
        EXPR_STRUCT_LITERAL@2759..2815
          Ident@2759..2766 "Tracker"
          Whitespace@2766..2767 " "
          STRUCT_LITERAL_FIELD_LIST@2767..2815
            LBrace@2767..2768 "{"
            Whitespace@2768..2769 " "
            STRUCT_LITERAL_FIELD@2769..2781
              Ident@2769..2774 "label"
              Colon@2774..2775 ":"
              Whitespace@2775..2776 " "
              EXPR_IDENT@2776..2781
                Ident@2776..2781 "label"
            Comma@2781..2782 ","
            Whitespace@2782..2783 " "
            STRUCT_LITERAL_FIELD@2783..2795
              Ident@2783..2788 "count"
              Colon@2788..2789 ":"
              Whitespace@2789..2790 " "
              EXPR_IDENT@2790..2795
                Ident@2790..2795 "count"
            Comma@2795..2796 ","
            Whitespace@2796..2797 " "
            STRUCT_LITERAL_FIELD@2797..2814
              Ident@2797..2804 "toggled"
              Colon@2804..2805 ":"
              Whitespace@2805..2806 " "
              EXPR_IDENT@2806..2814
                Ident@2806..2813 "toggled"
                Whitespace@2813..2814 " "
            RBrace@2814..2815 "}"
        Semi@2815..2816 ";"
        Whitespace@2816..2821 "\n    "
      STMT_LET@2821..2882
        LetKeyword@2821..2824 "let"
        Whitespace@2824..2825 " "
        PATTERN_VARIABLE@2825..2834
          Ident@2825..2833 "snapshot"
          Whitespace@2833..2834 " "
        Eq@2834..2835 "="
        Whitespace@2835..2836 " "
        EXPR_CLOSURE@2836..2876
          CLOSURE_PARAM_LIST@2836..2839
            OrOr@2836..2838 "||"
            Whitespace@2838..2839 " "
          EXPR_CLOSURE_BODY@2839..2876
            BLOCK@2839..2876
              LBrace@2839..2840 "{"
              Whitespace@2840..2849 "\n        "
              EXPR_CALL@2849..2875
                EXPR_IDENT@2849..2854
                  Ident@2849..2854 "Value"
                ARG_LIST@2854..2875
                  LParen@2854..2855 "("
                  ARG@2855..2869
                    EXPR_CALL@2855..2869
                      EXPR_IDENT@2855..2862
                        Ident@2855..2862 "ref_get"
                      ARG_LIST@2862..2869
                        LParen@2862..2863 "("
                        ARG@2863..2868
                          EXPR_IDENT@2863..2868
                            Ident@2863..2868 "count"
                        RParen@2868..2869 ")"
                  RParen@2869..2870 ")"
                  Whitespace@2870..2875 "\n    "
              RBrace@2875..2876 "}"
        Semi@2876..2877 ";"
        Whitespace@2877..2882 "\n    "
      STMT_LET@2882..3043
        LetKeyword@2882..2885 "let"
        Whitespace@2885..2886 " "
        PATTERN_VARIABLE@2886..2891
          Ident@2886..2890 "bump"
          Whitespace@2890..2891 " "
        Eq@2891..2892 "="
        Whitespace@2892..2893 " "
        EXPR_CLOSURE@2893..3037
          CLOSURE_PARAM_LIST@2893..2908
            Pipe@2893..2894 "|"
            CLOSURE_PARAM@2894..2906
              Ident@2894..2899 "delta"
              Colon@2899..2900 ":"
              Whitespace@2900..2901 " "
              TYPE_INT32@2901..2906
                Int32Keyword@2901..2906 "int32"
            Pipe@2906..2907 "|"
            Whitespace@2907..2908 " "
          EXPR_CLOSURE_BODY@2908..3037
            BLOCK@2908..3037
              LBrace@2908..2909 "{"
              Whitespace@2909..2918 "\n        "
              STMT_LET@2918..2955
                LetKeyword@2918..2921 "let"
                Whitespace@2921..2922 " "
                PATTERN_VARIABLE@2922..2929
                  Ident@2922..2928 "before"
                  Whitespace@2928..2929 " "
                Eq@2929..2930 "="
                Whitespace@2930..2931 " "
                EXPR_CALL@2931..2945
                  EXPR_IDENT@2931..2938
                    Ident@2931..2938 "ref_get"
                  ARG_LIST@2938..2945
                    LParen@2938..2939 "("
                    ARG@2939..2944
                      EXPR_IDENT@2939..2944
                        Ident@2939..2944 "count"
                    RParen@2944..2945 ")"
                Semi@2945..2946 ";"
                Whitespace@2946..2955 "\n        "
              STMT_LET@2955..3003
                LetKeyword@2955..2958 "let"
                Whitespace@2958..2959 " "
                PATTERN_WILDCARD@2959..2961
                  WildcardKeyword@2959..2960 "_"
                  Whitespace@2960..2961 " "
                Eq@2961..2962 "="
                Whitespace@2962..2963 " "
                EXPR_CALL@2963..2993
                  EXPR_IDENT@2963..2970
                    Ident@2963..2970 "ref_set"
                  ARG_LIST@2970..2993
                    LParen@2970..2971 "("
                    ARG@2971..2978
                      EXPR_IDENT@2971..2976
                        Ident@2971..2976 "count"
                      Comma@2976..2977 ","
                      Whitespace@2977..2978 " "
                    ARG@2978..2992
                      EXPR_BINARY@2978..2992
                        EXPR_IDENT@2978..2985
                          Ident@2978..2984 "before"
                          Whitespace@2984..2985 " "
                        Plus@2985..2986 "+"
                        Whitespace@2986..2987 " "
                        EXPR_IDENT@2987..2992
                          Ident@2987..2992 "delta"
                    RParen@2992..2993 ")"
                Semi@2993..2994 ";"
                Whitespace@2994..3003 "\n        "
              EXPR_CALL@3003..3036
                EXPR_IDENT@3003..3007
                  Ident@3003..3007 "Pair"
                ARG_LIST@3007..3036
                  LParen@3007..3008 "("
                  ARG@3008..3016
                    EXPR_IDENT@3008..3014
                      Ident@3008..3014 "before"
                    Comma@3014..3015 ","
                    Whitespace@3015..3016 " "
                  ARG@3016..3030
                    EXPR_CALL@3016..3030
                      EXPR_IDENT@3016..3023
                        Ident@3016..3023 "ref_get"
                      ARG_LIST@3023..3030
                        LParen@3023..3024 "("
                        ARG@3024..3029
                          EXPR_IDENT@3024..3029
                            Ident@3024..3029 "count"
                        RParen@3029..3030 ")"
                  RParen@3030..3031 ")"
                  Whitespace@3031..3036 "\n    "
              RBrace@3036..3037 "}"
        Semi@3037..3038 ";"
        Whitespace@3038..3043 "\n    "
      STMT_LET@3043..3250
        LetKeyword@3043..3046 "let"
        Whitespace@3046..3047 " "
        PATTERN_VARIABLE@3047..3052
          Ident@3047..3051 "flip"
          Whitespace@3051..3052 " "
        Eq@3052..3053 "="
        Whitespace@3053..3054 " "
        EXPR_CLOSURE@3054..3244
          CLOSURE_PARAM_LIST@3054..3057
            OrOr@3054..3056 "||"
            Whitespace@3056..3057 " "
          EXPR_CLOSURE_BODY@3057..3244
            BLOCK@3057..3244
              LBrace@3057..3058 "{"
              Whitespace@3058..3067 "\n        "
              STMT_LET@3067..3106
                LetKeyword@3067..3070 "let"
                Whitespace@3070..3071 " "
                PATTERN_VARIABLE@3071..3078
                  Ident@3071..3077 "before"
                  Whitespace@3077..3078 " "
                Eq@3078..3079 "="
                Whitespace@3079..3080 " "
                EXPR_CALL@3080..3096
                  EXPR_IDENT@3080..3087
                    Ident@3080..3087 "ref_get"
                  ARG_LIST@3087..3096
                    LParen@3087..3088 "("
                    ARG@3088..3095
                      EXPR_IDENT@3088..3095
                        Ident@3088..3095 "toggled"
                    RParen@3095..3096 ")"
                Semi@3096..3097 ";"
                Whitespace@3097..3106 "\n        "
              STMT_LET@3106..3149
                LetKeyword@3106..3109 "let"
                Whitespace@3109..3110 " "
                PATTERN_WILDCARD@3110..3112
                  WildcardKeyword@3110..3111 "_"
                  Whitespace@3111..3112 " "
                Eq@3112..3113 "="
                Whitespace@3113..3114 " "
                EXPR_CALL@3114..3139
                  EXPR_IDENT@3114..3121
                    Ident@3114..3121 "ref_set"
                  ARG_LIST@3121..3139
                    LParen@3121..3122 "("
                    ARG@3122..3131
                      EXPR_IDENT@3122..3129
                        Ident@3122..3129 "toggled"
                      Comma@3129..3130 ","
                      Whitespace@3130..3131 " "
                    ARG@3131..3138
                      EXPR_PREFIX@3131..3138
                        Bang@3131..3132 "!"
                        EXPR_IDENT@3132..3138
                          Ident@3132..3138 "before"
                    RParen@3138..3139 ")"
                Semi@3139..3140 ";"
                Whitespace@3140..3149 "\n        "
              STMT_LET@3149..3187
                LetKeyword@3149..3152 "let"
                Whitespace@3152..3153 " "
                PATTERN_VARIABLE@3153..3159
                  Ident@3153..3158 "after"
                  Whitespace@3158..3159 " "
                Eq@3159..3160 "="
                Whitespace@3160..3161 " "
                EXPR_CALL@3161..3177
                  EXPR_IDENT@3161..3168
                    Ident@3161..3168 "ref_get"
                  ARG_LIST@3168..3177
                    LParen@3168..3169 "("
                    ARG@3169..3176
                      EXPR_IDENT@3169..3176
                        Ident@3169..3176 "toggled"
                    RParen@3176..3177 ")"
                Semi@3177..3178 ";"
                Whitespace@3178..3187 "\n        "
              EXPR_CALL@3187..3243
                EXPR_IDENT@3187..3191
                  Ident@3187..3191 "Pair"
                ARG_LIST@3191..3243
                  LParen@3191..3192 "("
                  ARG@3192..3216
                    EXPR_CALL@3192..3214
                      EXPR_IDENT@3192..3206
                        Ident@3192..3206 "bool_to_string"
                      ARG_LIST@3206..3214
                        LParen@3206..3207 "("
                        ARG@3207..3213
                          EXPR_IDENT@3207..3213
                            Ident@3207..3213 "before"
                        RParen@3213..3214 ")"
                    Comma@3214..3215 ","
                    Whitespace@3215..3216 " "
                  ARG@3216..3237
                    EXPR_CALL@3216..3237
                      EXPR_IDENT@3216..3230
                        Ident@3216..3230 "bool_to_string"
                      ARG_LIST@3230..3237
                        LParen@3230..3231 "("
                        ARG@3231..3236
                          EXPR_IDENT@3231..3236
                            Ident@3231..3236 "after"
                        RParen@3236..3237 ")"
                  RParen@3237..3238 ")"
                  Whitespace@3238..3243 "\n    "
              RBrace@3243..3244 "}"
        Semi@3244..3245 ";"
        Whitespace@3245..3250 "\n    "
      EXPR_TUPLE@3250..3282
        LParen@3250..3251 "("
        EXPR_IDENT@3251..3258
          Ident@3251..3258 "tracker"
        Comma@3258..3259 ","
        Whitespace@3259..3260 " "
        EXPR_IDENT@3260..3268
          Ident@3260..3268 "snapshot"
        Comma@3268..3269 ","
        Whitespace@3269..3270 " "
        EXPR_IDENT@3270..3274
          Ident@3270..3274 "bump"
        Comma@3274..3275 ","
        Whitespace@3275..3276 " "
        EXPR_IDENT@3276..3280
          Ident@3276..3280 "flip"
        RParen@3280..3281 ")"
        Whitespace@3281..3282 "\n"
      RBrace@3282..3283 "}"
      Whitespace@3283..3285 "\n\n"
  FN@3285..4669
    FnKeyword@3285..3287 "fn"
    Whitespace@3287..3288 " "
    Ident@3288..3292 "main"
    PARAM_LIST@3292..3295
      LParen@3292..3293 "("
      RParen@3293..3294 ")"
      Whitespace@3294..3295 " "
    BLOCK@3295..4669
      LBrace@3295..3296 "{"
      Whitespace@3296..3301 "\n    "
      STMT_LET@3301..3369
        LetKeyword@3301..3304 "let"
        Whitespace@3304..3305 " "
        PATTERN_TUPLE@3305..3337
          LParen@3305..3306 "("
          PATTERN_VARIABLE@3306..3313
            Ident@3306..3313 "tracker"
          Comma@3313..3314 ","
          Whitespace@3314..3315 " "
          PATTERN_VARIABLE@3315..3323
            Ident@3315..3323 "snapshot"
          Comma@3323..3324 ","
          Whitespace@3324..3325 " "
          PATTERN_VARIABLE@3325..3329
            Ident@3325..3329 "bump"
          Comma@3329..3330 ","
          Whitespace@3330..3331 " "
          PATTERN_VARIABLE@3331..3335
            Ident@3331..3335 "flip"
          RParen@3335..3336 ")"
          Whitespace@3336..3337 " "
        Eq@3337..3338 "="
        Whitespace@3338..3339 " "
        EXPR_CALL@3339..3363
          EXPR_IDENT@3339..3352
            Ident@3339..3352 "build_counter"
          ARG_LIST@3352..3363
            LParen@3352..3353 "("
            ARG@3353..3361
              EXPR_STR@3353..3359
                Str@3353..3359 "\"goml\""
              Comma@3359..3360 ","
              Whitespace@3360..3361 " "
            ARG@3361..3362
              EXPR_INT@3361..3362
                Int@3361..3362 "2"
            RParen@3362..3363 ")"
        Semi@3363..3364 ";"
        Whitespace@3364..3369 "\n    "
      STMT_LET@3369..3411
        LetKeyword@3369..3372 "let"
        Whitespace@3372..3373 " "
        PATTERN_VARIABLE@3373..3386
          Ident@3373..3385 "tracker_info"
          Whitespace@3385..3386 " "
        Eq@3386..3387 "="
        Whitespace@3387..3388 " "
        EXPR_CALL@3388..3405
          EXPR_IDENT@3388..3396
            Ident@3388..3396 "describe"
          ARG_LIST@3396..3405
            LParen@3396..3397 "("
            ARG@3397..3404
              EXPR_IDENT@3397..3404
                Ident@3397..3404 "tracker"
            RParen@3404..3405 ")"
        Semi@3405..3406 ";"
        Whitespace@3406..3411 "\n    "
      STMT_LET@3411..3446
        LetKeyword@3411..3414 "let"
        Whitespace@3414..3415 " "
        PATTERN_VARIABLE@3415..3428
          Ident@3415..3427 "first_record"
          Whitespace@3427..3428 " "
        Eq@3428..3429 "="
        Whitespace@3429..3430 " "
        EXPR_CALL@3430..3440
          EXPR_IDENT@3430..3438
            Ident@3430..3438 "snapshot"
          ARG_LIST@3438..3440
            LParen@3438..3439 "("
            RParen@3439..3440 ")"
        Semi@3440..3441 ";"
        Whitespace@3441..3446 "\n    "
      STMT_LET@3446..3479
        LetKeyword@3446..3449 "let"
        Whitespace@3449..3450 " "
        PATTERN_VARIABLE@3450..3464
          Ident@3450..3463 "bumped_record"
          Whitespace@3463..3464 " "
        Eq@3464..3465 "="
        Whitespace@3465..3466 " "
        EXPR_CALL@3466..3473
          EXPR_IDENT@3466..3470
            Ident@3466..3470 "bump"
          ARG_LIST@3470..3473
            LParen@3470..3471 "("
            ARG@3471..3472
              EXPR_INT@3471..3472
                Int@3471..3472 "5"
            RParen@3472..3473 ")"
        Semi@3473..3474 ";"
        Whitespace@3474..3479 "\n    "
      STMT_LET@3479..3513
        LetKeyword@3479..3482 "let"
        Whitespace@3482..3483 " "
        PATTERN_VARIABLE@3483..3498
          Ident@3483..3497 "flipped_record"
          Whitespace@3497..3498 " "
        Eq@3498..3499 "="
        Whitespace@3499..3500 " "
        EXPR_CALL@3500..3506
          EXPR_IDENT@3500..3504
            Ident@3500..3504 "flip"
          ARG_LIST@3504..3506
            LParen@3504..3505 "("
            RParen@3505..3506 ")"
        Semi@3506..3507 ";"
        Whitespace@3507..3513 "\n\n    "
      STMT_LET@3513..3557
        LetKeyword@3513..3516 "let"
        Whitespace@3516..3517 " "
        PATTERN_VARIABLE@3517..3529
          Ident@3517..3528 "maybe_first"
          Whitespace@3528..3529 " "
        Eq@3529..3530 "="
        Whitespace@3530..3531 " "
        EXPR_CALL@3531..3551
          EXPR_IDENT@3531..3537
            Ident@3531..3537 "gather"
          ARG_LIST@3537..3551
            LParen@3537..3538 "("
            ARG@3538..3550
              EXPR_IDENT@3538..3550
                Ident@3538..3550 "first_record"
            RParen@3550..3551 ")"
        Semi@3551..3552 ";"
        Whitespace@3552..3557 "\n    "
      STMT_LET@3557..3603
        LetKeyword@3557..3560 "let"
        Whitespace@3560..3561 " "
        PATTERN_VARIABLE@3561..3574
          Ident@3561..3573 "maybe_second"
          Whitespace@3573..3574 " "
        Eq@3574..3575 "="
        Whitespace@3575..3576 " "
        EXPR_CALL@3576..3597
          EXPR_IDENT@3576..3582
            Ident@3576..3582 "gather"
          ARG_LIST@3582..3597
            LParen@3582..3583 "("
            ARG@3583..3596
              EXPR_IDENT@3583..3596
                Ident@3583..3596 "bumped_record"
            RParen@3596..3597 ")"
        Semi@3597..3598 ";"
        Whitespace@3598..3603 "\n    "
      STMT_LET@3603..3661
        LetKeyword@3603..3606 "let"
        Whitespace@3606..3607 " "
        PATTERN_VARIABLE@3607..3614
          Ident@3607..3613 "chosen"
          Whitespace@3613..3614 " "
        Eq@3614..3615 "="
        Whitespace@3615..3616 " "
        EXPR_CALL@3616..3655
          EXPR_IDENT@3616..3622
            Ident@3616..3622 "choose"
          ARG_LIST@3622..3655
            LParen@3622..3623 "("
            ARG@3623..3629
              EXPR_BOOL@3623..3627
                TrueKeyword@3623..3627 "true"
              Comma@3627..3628 ","
              Whitespace@3628..3629 " "
            ARG@3629..3643
              EXPR_IDENT@3629..3641
                Ident@3629..3641 "maybe_second"
              Comma@3641..3642 ","
              Whitespace@3642..3643 " "
            ARG@3643..3654
              EXPR_IDENT@3643..3654
                Ident@3643..3654 "maybe_first"
            RParen@3654..3655 ")"
        Semi@3655..3656 ";"
        Whitespace@3656..3661 "\n    "
      STMT_LET@3661..3717
        LetKeyword@3661..3664 "let"
        Whitespace@3664..3665 " "
        PATTERN_VARIABLE@3665..3677
          Ident@3665..3676 "stringified"
          Whitespace@3676..3677 " "
        Eq@3677..3678 "="
        Whitespace@3678..3679 " "
        EXPR_CALL@3679..3710
          EXPR_IDENT@3679..3688
            Ident@3679..3688 "map_maybe"
          ARG_LIST@3688..3710
            LParen@3688..3689 "("
            ARG@3689..3697
              EXPR_IDENT@3689..3695
                Ident@3689..3695 "chosen"
              Comma@3695..3696 ","
              Whitespace@3696..3697 " "
            ARG@3697..3709
              EXPR_IDENT@3697..3709
                Ident@3697..3709 "format_total"
            RParen@3709..3710 ")"
        Semi@3710..3711 ";"
        Whitespace@3711..3717 "\n\n    "
      STMT_LET@3717..3759
        LetKeyword@3717..3720 "let"
        Whitespace@3720..3721 " "
        PATTERN_VARIABLE@3721..3732
          Ident@3721..3731 "transforms"
          Whitespace@3731..3732 " "
        Eq@3732..3733 "="
        Whitespace@3733..3734 " "
        EXPR_ARRAY_LITERAL@3734..3753
          LBracket@3734..3735 "["
          EXPR_IDENT@3735..3744
            Ident@3735..3744 "increment"
          Comma@3744..3745 ","
          Whitespace@3745..3746 " "
          EXPR_IDENT@3746..3752
            Ident@3746..3752 "triple"
          RBracket@3752..3753 "]"
        Semi@3753..3754 ";"
        Whitespace@3754..3759 "\n    "
      STMT_LET@3759..3808
        LetKeyword@3759..3762 "let"
        Whitespace@3762..3763 " "
        PATTERN_VARIABLE@3763..3771
          Ident@3763..3770 "results"
          Whitespace@3770..3771 " "
        Eq@3771..3772 "="
        Whitespace@3772..3773 " "
        EXPR_CALL@3773..3802
          EXPR_IDENT@3773..3787
            Ident@3773..3787 "run_transforms"
          ARG_LIST@3787..3802
            LParen@3787..3788 "("
            ARG@3788..3791
              EXPR_INT@3788..3789
                Int@3788..3789 "4"
              Comma@3789..3790 ","
              Whitespace@3790..3791 " "
            ARG@3791..3801
              EXPR_IDENT@3791..3801
                Ident@3791..3801 "transforms"
            RParen@3801..3802 ")"
        Semi@3802..3803 ";"
        Whitespace@3803..3808 "\n    "
      STMT_LET@3808..3854
        LetKeyword@3808..3811 "let"
        Whitespace@3811..3812 " "
        PATTERN_VARIABLE@3812..3825
          Ident@3812..3824 "first_result"
          Whitespace@3824..3825 " "
        Eq@3825..3826 "="
        Whitespace@3826..3827 " "
        EXPR_CALL@3827..3848
          EXPR_IDENT@3827..3836
            Ident@3827..3836 "array_get"
          ARG_LIST@3836..3848
            LParen@3836..3837 "("
            ARG@3837..3846
              EXPR_IDENT@3837..3844
                Ident@3837..3844 "results"
              Comma@3844..3845 ","
              Whitespace@3845..3846 " "
            ARG@3846..3847
              EXPR_INT@3846..3847
                Int@3846..3847 "0"
            RParen@3847..3848 ")"
        Semi@3848..3849 ";"
        Whitespace@3849..3854 "\n    "
      STMT_LET@3854..3901
        LetKeyword@3854..3857 "let"
        Whitespace@3857..3858 " "
        PATTERN_VARIABLE@3858..3872
          Ident@3858..3871 "second_result"
          Whitespace@3871..3872 " "
        Eq@3872..3873 "="
        Whitespace@3873..3874 " "
        EXPR_CALL@3874..3895
          EXPR_IDENT@3874..3883
            Ident@3874..3883 "array_get"
          ARG_LIST@3883..3895
            LParen@3883..3884 "("
            ARG@3884..3893
              EXPR_IDENT@3884..3891
                Ident@3884..3891 "results"
              Comma@3891..3892 ","
              Whitespace@3892..3893 " "
            ARG@3893..3894
              EXPR_INT@3893..3894
                Int@3893..3894 "1"
            RParen@3894..3895 ")"
        Semi@3895..3896 ";"
        Whitespace@3896..3901 "\n    "
      STMT_LET@3901..3973
        LetKeyword@3901..3904 "let"
        Whitespace@3904..3905 " "
        PATTERN_VARIABLE@3905..3917
          Ident@3905..3916 "order_check"
          Whitespace@3916..3917 " "
        Eq@3917..3918 "="
        Whitespace@3918..3919 " "
        EXPR_BINARY@3919..3966
          EXPR_CALL@3919..3959
            EXPR_IDENT@3919..3929
              Ident@3919..3929 "int32_less"
            ARG_LIST@3929..3959
              LParen@3929..3930 "("
              ARG@3930..3944
                EXPR_IDENT@3930..3942
                  Ident@3930..3942 "first_result"
                Comma@3942..3943 ","
                Whitespace@3943..3944 " "
              ARG@3944..3957
                EXPR_IDENT@3944..3957
                  Ident@3944..3957 "second_result"
              RParen@3957..3958 ")"
              Whitespace@3958..3959 " "
          AndAnd@3959..3961 "&&"
          Whitespace@3961..3962 " "
          EXPR_BOOL@3962..3966
            TrueKeyword@3962..3966 "true"
        Semi@3966..3967 ";"
        Whitespace@3967..3973 "\n\n    "
      STMT_LET@3973..4018
        LetKeyword@3973..3976 "let"
        Whitespace@3976..3977 " "
        PATTERN_VARIABLE@3977..3988
          Ident@3977..3987 "first_text"
          Whitespace@3987..3988 " "
        Eq@3988..3989 "="
        Whitespace@3989..3990 " "
        EXPR_CALL@3990..4012
          EXPR_IDENT@3990..3998
            Ident@3990..3998 "describe"
          ARG_LIST@3998..4012
            LParen@3998..3999 "("
            ARG@3999..4011
              EXPR_IDENT@3999..4011
                Ident@3999..4011 "first_record"
            RParen@4011..4012 ")"
        Semi@4012..4013 ";"
        Whitespace@4013..4018 "\n    "
      STMT_LET@4018..4065
        LetKeyword@4018..4021 "let"
        Whitespace@4021..4022 " "
        PATTERN_VARIABLE@4022..4034
          Ident@4022..4033 "bumped_text"
          Whitespace@4033..4034 " "
        Eq@4034..4035 "="
        Whitespace@4035..4036 " "
        EXPR_CALL@4036..4059
          EXPR_IDENT@4036..4044
            Ident@4036..4044 "describe"
          ARG_LIST@4044..4059
            LParen@4044..4045 "("
            ARG@4045..4058
              EXPR_IDENT@4045..4058
                Ident@4045..4058 "bumped_record"
            RParen@4058..4059 ")"
        Semi@4059..4060 ";"
        Whitespace@4060..4065 "\n    "
      STMT_LET@4065..4115
        LetKeyword@4065..4068 "let"
        Whitespace@4068..4069 " "
        PATTERN_VARIABLE@4069..4082
          Ident@4069..4081 "flipped_text"
          Whitespace@4081..4082 " "
        Eq@4082..4083 "="
        Whitespace@4083..4084 " "
        EXPR_CALL@4084..4108
          EXPR_IDENT@4084..4092
            Ident@4084..4092 "describe"
          ARG_LIST@4092..4108
            LParen@4092..4093 "("
            ARG@4093..4107
              EXPR_IDENT@4093..4107
                Ident@4093..4107 "flipped_record"
            RParen@4107..4108 ")"
        Semi@4108..4109 ";"
        Whitespace@4109..4115 "\n\n    "
      STMT_LET@4115..4238
        LetKeyword@4115..4118 "let"
        Whitespace@4118..4119 " "
        PATTERN_VARIABLE@4119..4127
          Ident@4119..4126 "summary"
          Whitespace@4126..4127 " "
        Eq@4127..4128 "="
        Whitespace@4128..4129 " "
        EXPR_MATCH@4129..4231
          MatchKeyword@4129..4134 "match"
          Whitespace@4134..4135 " "
          EXPR_IDENT@4135..4147
            Ident@4135..4146 "stringified"
            Whitespace@4146..4147 " "
          MATCH_ARM_LIST@4147..4231
            LBrace@4147..4148 "{"
            Whitespace@4148..4157 "\n        "
            MATCH_ARM@4157..4190
              PATTERN_CONSTR@4157..4168
                Ident@4157..4161 "Some"
                LParen@4161..4162 "("
                PATTERN_VARIABLE@4162..4166
                  Ident@4162..4166 "text"
                RParen@4166..4167 ")"
                Whitespace@4167..4168 " "
              FatArrow@4168..4170 "=>"
              Whitespace@4170..4171 " "
              EXPR_BINARY@4171..4190
                EXPR_STR@4171..4184
                  Str@4171..4183 "\"Snapshot: \""
                  Whitespace@4183..4184 " "
                Plus@4184..4185 "+"
                Whitespace@4185..4186 " "
                EXPR_IDENT@4186..4190
                  Ident@4186..4190 "text"
            Comma@4190..4191 ","
            Whitespace@4191..4200 "\n        "
            MATCH_ARM@4200..4224
              PATTERN_VARIABLE@4200..4205
                Ident@4200..4204 "None"
                Whitespace@4204..4205 " "
              FatArrow@4205..4207 "=>"
              Whitespace@4207..4208 " "
              EXPR_STR@4208..4224
                Str@4208..4224 "\"Snapshot: none\""
            Comma@4224..4225 ","
            Whitespace@4225..4230 "\n    "
            RBrace@4230..4231 "}"
        Semi@4231..4232 ";"
        Whitespace@4232..4238 "\n\n    "
      STMT_LET@4238..4334
        LetKeyword@4238..4241 "let"
        Whitespace@4241..4242 " "
        PATTERN_VARIABLE@4242..4252
          Ident@4242..4251 "pair_text"
          Whitespace@4251..4252 " "
        Eq@4252..4253 "="
        Whitespace@4253..4254 " "
        EXPR_CALL@4254..4328
          EXPR_IDENT@4254..4263
            Ident@4254..4263 "pair_join"
          ARG_LIST@4263..4328
            LParen@4263..4264 "("
            ARG@4264..4327
              EXPR_TUPLE@4264..4327
                LParen@4264..4265 "("
                EXPR_CALL@4265..4294
                  EXPR_IDENT@4265..4280
                    Ident@4265..4280 "int32_to_string"
                  ARG_LIST@4280..4294
                    LParen@4280..4281 "("
                    ARG@4281..4293
                      EXPR_IDENT@4281..4293
                        Ident@4281..4293 "first_result"
                    RParen@4293..4294 ")"
                Comma@4294..4295 ","
                Whitespace@4295..4296 " "
                EXPR_CALL@4296..4326
                  EXPR_IDENT@4296..4311
                    Ident@4296..4311 "int32_to_string"
                  ARG_LIST@4311..4326
                    LParen@4311..4312 "("
                    ARG@4312..4325
                      EXPR_IDENT@4312..4325
                        Ident@4312..4325 "second_result"
                    RParen@4325..4326 ")"
                RParen@4326..4327 ")"
            RParen@4327..4328 ")"
        Semi@4328..4329 ";"
        Whitespace@4329..4334 "\n    "
      STMT_LET@4334..4384
        LetKeyword@4334..4337 "let"
        Whitespace@4337..4338 " "
        PATTERN_VARIABLE@4338..4348
          Ident@4338..4347 "bool_text"
          Whitespace@4347..4348 " "
        Eq@4348..4349 "="
        Whitespace@4349..4350 " "
        EXPR_CALL@4350..4377
          EXPR_IDENT@4350..4364
            Ident@4350..4364 "bool_to_string"
          ARG_LIST@4364..4377
            LParen@4364..4365 "("
            ARG@4365..4376
              EXPR_IDENT@4365..4376
                Ident@4365..4376 "order_check"
            RParen@4376..4377 ")"
        Semi@4377..4378 ";"
        Whitespace@4378..4384 "\n\n    "
      STMT_LET@4384..4426
        LetKeyword@4384..4387 "let"
        Whitespace@4387..4388 " "
        PATTERN_WILDCARD@4388..4390
          WildcardKeyword@4388..4389 "_"
          Whitespace@4389..4390 " "
        Eq@4390..4391 "="
        Whitespace@4391..4392 " "
        EXPR_CALL@4392..4420
          EXPR_IDENT@4392..4406
            Ident@4392..4406 "string_println"
          ARG_LIST@4406..4420
            LParen@4406..4407 "("
            ARG@4407..4419
              EXPR_IDENT@4407..4419
                Ident@4407..4419 "tracker_info"
            RParen@4419..4420 ")"
        Semi@4420..4421 ";"
        Whitespace@4421..4426 "\n    "
      STMT_LET@4426..4466
        LetKeyword@4426..4429 "let"
        Whitespace@4429..4430 " "
        PATTERN_WILDCARD@4430..4432
          WildcardKeyword@4430..4431 "_"
          Whitespace@4431..4432 " "
        Eq@4432..4433 "="
        Whitespace@4433..4434 " "
        EXPR_CALL@4434..4460
          EXPR_IDENT@4434..4448
            Ident@4434..4448 "string_println"
          ARG_LIST@4448..4460
            LParen@4448..4449 "("
            ARG@4449..4459
              EXPR_IDENT@4449..4459
                Ident@4449..4459 "first_text"
            RParen@4459..4460 ")"
        Semi@4460..4461 ";"
        Whitespace@4461..4466 "\n    "
      STMT_LET@4466..4507
        LetKeyword@4466..4469 "let"
        Whitespace@4469..4470 " "
        PATTERN_WILDCARD@4470..4472
          WildcardKeyword@4470..4471 "_"
          Whitespace@4471..4472 " "
        Eq@4472..4473 "="
        Whitespace@4473..4474 " "
        EXPR_CALL@4474..4501
          EXPR_IDENT@4474..4488
            Ident@4474..4488 "string_println"
          ARG_LIST@4488..4501
            LParen@4488..4489 "("
            ARG@4489..4500
              EXPR_IDENT@4489..4500
                Ident@4489..4500 "bumped_text"
            RParen@4500..4501 ")"
        Semi@4501..4502 ";"
        Whitespace@4502..4507 "\n    "
      STMT_LET@4507..4549
        LetKeyword@4507..4510 "let"
        Whitespace@4510..4511 " "
        PATTERN_WILDCARD@4511..4513
          WildcardKeyword@4511..4512 "_"
          Whitespace@4512..4513 " "
        Eq@4513..4514 "="
        Whitespace@4514..4515 " "
        EXPR_CALL@4515..4543
          EXPR_IDENT@4515..4529
            Ident@4515..4529 "string_println"
          ARG_LIST@4529..4543
            LParen@4529..4530 "("
            ARG@4530..4542
              EXPR_IDENT@4530..4542
                Ident@4530..4542 "flipped_text"
            RParen@4542..4543 ")"
        Semi@4543..4544 ";"
        Whitespace@4544..4549 "\n    "
      STMT_LET@4549..4586
        LetKeyword@4549..4552 "let"
        Whitespace@4552..4553 " "
        PATTERN_WILDCARD@4553..4555
          WildcardKeyword@4553..4554 "_"
          Whitespace@4554..4555 " "
        Eq@4555..4556 "="
        Whitespace@4556..4557 " "
        EXPR_CALL@4557..4580
          EXPR_IDENT@4557..4571
            Ident@4557..4571 "string_println"
          ARG_LIST@4571..4580
            LParen@4571..4572 "("
            ARG@4572..4579
              EXPR_IDENT@4572..4579
                Ident@4572..4579 "summary"
            RParen@4579..4580 ")"
        Semi@4580..4581 ";"
        Whitespace@4581..4586 "\n    "
      STMT_LET@4586..4625
        LetKeyword@4586..4589 "let"
        Whitespace@4589..4590 " "
        PATTERN_WILDCARD@4590..4592
          WildcardKeyword@4590..4591 "_"
          Whitespace@4591..4592 " "
        Eq@4592..4593 "="
        Whitespace@4593..4594 " "
        EXPR_CALL@4594..4619
          EXPR_IDENT@4594..4608
            Ident@4594..4608 "string_println"
          ARG_LIST@4608..4619
            LParen@4608..4609 "("
            ARG@4609..4618
              EXPR_IDENT@4609..4618
                Ident@4609..4618 "pair_text"
            RParen@4618..4619 ")"
        Semi@4619..4620 ";"
        Whitespace@4620..4625 "\n    "
      STMT_LET@4625..4664
        LetKeyword@4625..4628 "let"
        Whitespace@4628..4629 " "
        PATTERN_WILDCARD@4629..4631
          WildcardKeyword@4629..4630 "_"
          Whitespace@4630..4631 " "
        Eq@4631..4632 "="
        Whitespace@4632..4633 " "
        EXPR_CALL@4633..4658
          EXPR_IDENT@4633..4647
            Ident@4633..4647 "string_println"
          ARG_LIST@4647..4658
            LParen@4647..4648 "("
            ARG@4648..4657
              EXPR_IDENT@4648..4657
                Ident@4648..4657 "bool_text"
            RParen@4657..4658 ")"
        Semi@4658..4659 ";"
        Whitespace@4659..4664 "\n    "
      EXPR_UNIT@4664..4667
        LParen@4664..4665 "("
        RParen@4665..4666 ")"
        Whitespace@4666..4667 "\n"
      RBrace@4667..4668 "}"
      Whitespace@4668..4669 "\n"