FILE@0..129
  FN@0..129
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Lident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..129
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT@16..52
        EXPR_CALL@16..46
          EXPR_LIDENT@16..28
            Lident@16..28 "string_print"
          ARG_LIST@28..46
            LParen@28..29 "("
            ARG@29..45
              EXPR_CALL@29..45
                EXPR_LIDENT@29..42
                  Lident@29..42 "int_to_string"
                ARG_LIST@42..45
                  LParen@42..43 "("
                  ARG@43..44
                    EXPR_INT@43..44
                      Int@43..44 "1"
                  RParen@44..45 ")"
            RParen@45..46 ")"
        Semi@46..47 ";"
        Whitespace@47..52 "\n    "
      STMT@52..88
        EXPR_CALL@52..82
          EXPR_LIDENT@52..64
            Lident@52..64 "string_print"
          ARG_LIST@64..82
            LParen@64..65 "("
            ARG@65..81
              EXPR_CALL@65..81
                EXPR_LIDENT@65..78
                  Lident@65..78 "int_to_string"
                ARG_LIST@78..81
                  LParen@78..79 "("
                  ARG@79..80
                    EXPR_INT@79..80
                      Int@79..80 "2"
                  RParen@80..81 ")"
            RParen@81..82 ")"
        Semi@82..83 ";"
        Whitespace@83..88 "\n    "
      STMT@88..124
        EXPR_CALL@88..118
          EXPR_LIDENT@88..100
            Lident@88..100 "string_print"
          ARG_LIST@100..118
            LParen@100..101 "("
            ARG@101..117
              EXPR_CALL@101..117
                EXPR_LIDENT@101..114
                  Lident@101..114 "int_to_string"
                ARG_LIST@114..117
                  LParen@114..115 "("
                  ARG@115..116
                    EXPR_INT@115..116
                      Int@115..116 "3"
                  RParen@116..117 ")"
            RParen@117..118 ")"
        Semi@118..119 ";"
        Whitespace@119..124 "\n    "
      STMT@124..127
        EXPR_UNIT@124..127
          LParen@124..125 "("
          RParen@125..126 ")"
          Whitespace@126..127 "\n"
      RBrace@127..128 "}"
      Whitespace@128..129 "\n"