FILE@0..856
  EXTERN@0..17
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    TypeKeyword@7..11 "type"
    Whitespace@11..12 " "
    Uident@12..16 "Time"
    Whitespace@16..17 "\n"
  EXTERN@17..39
    ExternKeyword@17..23 "extern"
    Whitespace@23..24 " "
    TypeKeyword@24..28 "type"
    Whitespace@28..29 " "
    Uident@29..37 "Duration"
    Whitespace@37..39 "\n\n"
  EXTERN@39..94
    ExternKeyword@39..45 "extern"
    Whitespace@45..46 " "
    Str@46..50 "\"go\""
    Whitespace@50..51 " "
    Str@51..57 "\"time\""
    Whitespace@57..58 " "
    Lident@58..62 "unix"
    PARAM_LIST@62..86
      LParen@62..63 "("
      PARAM@63..74
        Lident@63..67 "secs"
        Colon@67..68 ":"
        Whitespace@68..69 " "
        TYPE_INT@69..72
          IntKeyword@69..72 "int"
        Comma@72..73 ","
        Whitespace@73..74 " "
      PARAM@74..84
        Lident@74..79 "nanos"
        Colon@79..80 ":"
        Whitespace@80..81 " "
        TYPE_INT@81..84
          IntKeyword@81..84 "int"
      RParen@84..85 ")"
      Whitespace@85..86 " "
    Arrow@86..88 "->"
    Whitespace@88..89 " "
    TYPE_TAPP@89..94
      Uident@89..93 "Time"
      Whitespace@93..94 "\n"
  EXTERN@94..147
    ExternKeyword@94..100 "extern"
    Whitespace@100..101 " "
    Str@101..105 "\"go\""
    Whitespace@105..106 " "
    Str@106..112 "\"time\""
    Whitespace@112..113 " "
    Lident@113..121 "duration"
    PARAM_LIST@121..134
      LParen@121..122 "("
      PARAM@122..132
        Lident@122..127 "nanos"
        Colon@127..128 ":"
        Whitespace@128..129 " "
        TYPE_INT@129..132
          IntKeyword@129..132 "int"
      RParen@132..133 ")"
      Whitespace@133..134 " "
    Arrow@134..136 "->"
    Whitespace@136..137 " "
    TYPE_TAPP@137..147
      Uident@137..145 "Duration"
      Whitespace@145..147 "\n\n"
  EXTERN@147..226
    ExternKeyword@147..153 "extern"
    Whitespace@153..154 " "
    Str@154..158 "\"go\""
    Whitespace@158..159 " "
    Str@159..164 "\"fmt\""
    Whitespace@164..165 " "
    Str@165..174 "\"Sprintf\""
    Whitespace@174..175 " "
    Lident@175..186 "format_time"
    PARAM_LIST@186..216
      LParen@186..187 "("
      PARAM@187..203
        Lident@187..193 "format"
        Colon@193..194 ":"
        Whitespace@194..195 " "
        TYPE_STRING@195..201
          StringKeyword@195..201 "string"
        Comma@201..202 ","
        Whitespace@202..203 " "
      PARAM@203..214
        Lident@203..208 "value"
        Colon@208..209 ":"
        Whitespace@209..210 " "
        TYPE_TAPP@210..214
          Uident@210..214 "Time"
      RParen@214..215 ")"
      Whitespace@215..216 " "
    Arrow@216..218 "->"
    Whitespace@218..219 " "
    TYPE_STRING@219..226
      StringKeyword@219..225 "string"
      Whitespace@225..226 "\n"
  EXTERN@226..314
    ExternKeyword@226..232 "extern"
    Whitespace@232..233 " "
    Str@233..237 "\"go\""
    Whitespace@237..238 " "
    Str@238..243 "\"fmt\""
    Whitespace@243..244 " "
    Str@244..253 "\"Sprintf\""
    Whitespace@253..254 " "
    Lident@254..269 "format_duration"
    PARAM_LIST@269..303
      LParen@269..270 "("
      PARAM@270..286
        Lident@270..276 "format"
        Colon@276..277 ":"
        Whitespace@277..278 " "
        TYPE_STRING@278..284
          StringKeyword@278..284 "string"
        Comma@284..285 ","
        Whitespace@285..286 " "
      PARAM@286..301
        Lident@286..291 "value"
        Colon@291..292 ":"
        Whitespace@292..293 " "
        TYPE_TAPP@293..301
          Uident@293..301 "Duration"
      RParen@301..302 ")"
      Whitespace@302..303 " "
    Arrow@303..305 "->"
    Whitespace@305..306 " "
    TYPE_STRING@306..314
      StringKeyword@306..312 "string"
      Whitespace@312..314 "\n\n"
  FN@314..440
    FnKeyword@314..316 "fn"
    Whitespace@316..317 " "
    Lident@317..331 "describe_epoch"
    PARAM_LIST@331..334
      LParen@331..332 "("
      RParen@332..333 ")"
      Whitespace@333..334 " "
    Arrow@334..336 "->"
    Whitespace@336..337 " "
    TYPE_STRING@337..344
      StringKeyword@337..343 "string"
      Whitespace@343..344 " "
    BLOCK@344..440
      LBrace@344..345 "{"
      Whitespace@345..350 "\n    "
      STMT_LET@350..394
        LetKeyword@350..353 "let"
        Whitespace@353..354 " "
        PATTERN_VARIABLE@354..360
          Lident@354..359 "epoch"
          Whitespace@359..360 " "
        Eq@360..361 "="
        Whitespace@361..362 " "
        EXPR_CALL@362..388
          EXPR_LIDENT@362..366
            Lident@362..366 "unix"
          ARG_LIST@366..388
            LParen@366..367 "("
            ARG@367..378
              EXPR_INT@367..376
                Int@367..376 "946684800"
              Comma@376..377 ","
              Whitespace@377..378 " "
            ARG@378..387
              EXPR_INT@378..387
                Int@378..387 "500000000"
            RParen@387..388 ")"
        Semi@388..389 ";"
        Whitespace@389..394 "\n    "
      EXPR_CALL@394..437
        EXPR_LIDENT@394..405
          Lident@394..405 "format_time"
        ARG_LIST@405..437
          LParen@405..406 "("
          ARG@406..430
            EXPR_STR@406..428
              Str@406..428 "\"epoch snapshot => %v\""
            Comma@428..429 ","
            Whitespace@429..430 " "
          ARG@430..435
            EXPR_LIDENT@430..435
              Lident@430..435 "epoch"
          RParen@435..436 ")"
          Whitespace@436..437 "\n"
      RBrace@437..438 "}"
      Whitespace@438..440 "\n\n"
  FN@440..578
    FnKeyword@440..442 "fn"
    Whitespace@442..443 " "
    Lident@443..466 "describe_planned_launch"
    PARAM_LIST@466..469
      LParen@466..467 "("
      RParen@467..468 ")"
      Whitespace@468..469 " "
    Arrow@469..471 "->"
    Whitespace@471..472 " "
    TYPE_STRING@472..479
      StringKeyword@472..478 "string"
      Whitespace@478..479 " "
    BLOCK@479..578
      LBrace@479..480 "{"
      Whitespace@480..485 "\n    "
      STMT_LET@485..531
        LetKeyword@485..488 "let"
        Whitespace@488..489 " "
        PATTERN_VARIABLE@489..496
          Lident@489..495 "launch"
          Whitespace@495..496 " "
        Eq@496..497 "="
        Whitespace@497..498 " "
        EXPR_CALL@498..525
          EXPR_LIDENT@498..502
            Lident@498..502 "unix"
          ARG_LIST@502..525
            LParen@502..503 "("
            ARG@503..515
              EXPR_INT@503..513
                Int@503..513 "1709294730"
              Comma@513..514 ","
              Whitespace@514..515 " "
            ARG@515..524
              EXPR_INT@515..524
                Int@515..524 "250000000"
            RParen@524..525 ")"
        Semi@525..526 ";"
        Whitespace@526..531 "\n    "
      EXPR_CALL@531..575
        EXPR_LIDENT@531..542
          Lident@531..542 "format_time"
        ARG_LIST@542..575
          LParen@542..543 "("
          ARG@543..567
            EXPR_STR@543..565
              Str@543..565 "\"planned launch => %v\""
            Comma@565..566 ","
            Whitespace@566..567 " "
          ARG@567..573
            EXPR_LIDENT@567..573
              Lident@567..573 "launch"
          RParen@573..574 ")"
          Whitespace@574..575 "\n"
      RBrace@575..576 "}"
      Whitespace@576..578 "\n\n"
  FN@578..708
    FnKeyword@578..580 "fn"
    Whitespace@580..581 " "
    Lident@581..598 "describe_duration"
    PARAM_LIST@598..601
      LParen@598..599 "("
      RParen@599..600 ")"
      Whitespace@600..601 " "
    Arrow@601..603 "->"
    Whitespace@603..604 " "
    TYPE_STRING@604..611
      StringKeyword@604..610 "string"
      Whitespace@610..611 " "
    BLOCK@611..708
      LBrace@611..612 "{"
      Whitespace@612..617 "\n    "
      STMT_LET@617..656
        LetKeyword@617..620 "let"
        Whitespace@620..621 " "
        PATTERN_VARIABLE@621..628
          Lident@621..627 "parsed"
          Whitespace@627..628 " "
        Eq@628..629 "="
        Whitespace@629..630 " "
        EXPR_CALL@630..650
          EXPR_LIDENT@630..638
            Lident@630..638 "duration"
          ARG_LIST@638..650
            LParen@638..639 "("
            ARG@639..649
              EXPR_INT@639..649
                Int@639..649 "1500000000"
            RParen@649..650 ")"
        Semi@650..651 ";"
        Whitespace@651..656 "\n    "
      EXPR_CALL@656..705
        EXPR_LIDENT@656..671
          Lident@656..671 "format_duration"
        ARG_LIST@671..705
          LParen@671..672 "("
          ARG@672..697
            EXPR_STR@672..695
              Str@672..695 "\"parsed duration => %v\""
            Comma@695..696 ","
            Whitespace@696..697 " "
          ARG@697..703
            EXPR_LIDENT@697..703
              Lident@697..703 "parsed"
          RParen@703..704 ")"
          Whitespace@704..705 "\n"
      RBrace@705..706 "}"
      Whitespace@706..708 "\n\n"
  FN@708..856
    FnKeyword@708..710 "fn"
    Whitespace@710..711 " "
    Lident@711..715 "main"
    PARAM_LIST@715..718
      LParen@715..716 "("
      RParen@716..717 ")"
      Whitespace@717..718 " "
    Arrow@718..720 "->"
    Whitespace@720..721 " "
    TYPE_UNIT@721..726
      UnitKeyword@721..725 "unit"
      Whitespace@725..726 " "
    BLOCK@726..856
      LBrace@726..727 "{"
      Whitespace@727..732 "\n    "
      STMT_EXPR@732..770
        EXPR_CALL@732..764
          EXPR_LIDENT@732..746
            Lident@732..746 "string_println"
          ARG_LIST@746..764
            LParen@746..747 "("
            ARG@747..763
              EXPR_CALL@747..763
                EXPR_LIDENT@747..761
                  Lident@747..761 "describe_epoch"
                ARG_LIST@761..763
                  LParen@761..762 "("
                  RParen@762..763 ")"
            RParen@763..764 ")"
        Semi@764..765 ";"
        Whitespace@765..770 "\n    "
      STMT_EXPR@770..817
        EXPR_CALL@770..811
          EXPR_LIDENT@770..784
            Lident@770..784 "string_println"
          ARG_LIST@784..811
            LParen@784..785 "("
            ARG@785..810
              EXPR_CALL@785..810
                EXPR_LIDENT@785..808
                  Lident@785..808 "describe_planned_launch"
                ARG_LIST@808..810
                  LParen@808..809 "("
                  RParen@809..810 ")"
            RParen@810..811 ")"
        Semi@811..812 ";"
        Whitespace@812..817 "\n    "
      STMT_EXPR@817..854
        EXPR_CALL@817..852
          EXPR_LIDENT@817..831
            Lident@817..831 "string_println"
          ARG_LIST@831..852
            LParen@831..832 "("
            ARG@832..851
              EXPR_CALL@832..851
                EXPR_LIDENT@832..849
                  Lident@832..849 "describe_duration"
                ARG_LIST@849..851
                  LParen@849..850 "("
                  RParen@850..851 ")"
            RParen@851..852 ")"
        Semi@852..853 ";"
        Whitespace@853..854 "\n"
      RBrace@854..855 "}"
      Whitespace@855..856 "\n"