FILE@0..917
  FN@0..33
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "a_value"
    PARAM_LIST@10..13
      LParen@10..11 "("
      RParen@11..12 ")"
      Whitespace@12..13 " "
    Arrow@13..15 "->"
    Whitespace@15..16 " "
    TYPE_INT8@16..21
      Int8Keyword@16..20 "int8"
      Whitespace@20..21 " "
    BLOCK@21..33
      LBrace@21..22 "{"
      Whitespace@22..27 "\n    "
      EXPR_INT@27..30
        Int@27..29 "90"
        Whitespace@29..30 "\n"
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  FN@33..67
    FnKeyword@33..35 "fn"
    Whitespace@35..36 " "
    Ident@36..43 "b_value"
    PARAM_LIST@43..46
      LParen@43..44 "("
      RParen@44..45 ")"
      Whitespace@45..46 " "
    Arrow@46..48 "->"
    Whitespace@48..49 " "
    TYPE_INT8@49..54
      Int8Keyword@49..53 "int8"
      Whitespace@53..54 " "
    BLOCK@54..67
      LBrace@54..55 "{"
      Whitespace@55..60 "\n    "
      EXPR_PREFIX@60..64
        Minus@60..61 "-"
        EXPR_INT@61..64
          Int@61..63 "20"
          Whitespace@63..64 "\n"
      RBrace@64..65 "}"
      Whitespace@65..67 "\n\n"
  FN@67..99
    FnKeyword@67..69 "fn"
    Whitespace@69..70 " "
    Ident@70..77 "c_value"
    PARAM_LIST@77..80
      LParen@77..78 "("
      RParen@78..79 ")"
      Whitespace@79..80 " "
    Arrow@80..82 "->"
    Whitespace@82..83 " "
    TYPE_INT8@83..88
      Int8Keyword@83..87 "int8"
      Whitespace@87..88 " "
    BLOCK@88..99
      LBrace@88..89 "{"
      Whitespace@89..94 "\n    "
      EXPR_INT@94..96
        Int@94..95 "3"
        Whitespace@95..96 "\n"
      RBrace@96..97 "}"
      Whitespace@97..99 "\n\n"
  FN@99..211
    FnKeyword@99..101 "fn"
    Whitespace@101..102 " "
    Ident@102..111 "show_int8"
    PARAM_LIST@111..140
      LParen@111..112 "("
      PARAM@112..127
        Ident@112..117 "label"
        Colon@117..118 ":"
        Whitespace@118..119 " "
        TYPE_STRING@119..125
          StringKeyword@119..125 "string"
        Comma@125..126 ","
        Whitespace@126..127 " "
      PARAM@127..138
        Ident@127..132 "value"
        Colon@132..133 ":"
        Whitespace@133..134 " "
        TYPE_INT8@134..138
          Int8Keyword@134..138 "int8"
      RParen@138..139 ")"
      Whitespace@139..140 " "
    BLOCK@140..211
      LBrace@140..141 "{"
      Whitespace@141..146 "\n    "
      STMT_LET@146..205
        LetKeyword@146..149 "let"
        Whitespace@149..150 " "
        PATTERN_WILDCARD@150..152
          WildcardKeyword@150..151 "_"
          Whitespace@151..152 " "
        Eq@152..153 "="
        Whitespace@153..154 " "
        EXPR_CALL@154..199
          EXPR_IDENT@154..168
            Ident@154..168 "string_println"
          ARG_LIST@168..199
            LParen@168..169 "("
            ARG@169..198
              EXPR_BINARY@169..198
                EXPR_IDENT@169..175
                  Ident@169..174 "label"
                  Whitespace@174..175 " "
                Plus@175..176 "+"
                Whitespace@176..177 " "
                EXPR_CALL@177..198
                  EXPR_IDENT@177..191
                    Ident@177..191 "int8_to_string"
                  ARG_LIST@191..198
                    LParen@191..192 "("
                    ARG@192..197
                      EXPR_IDENT@192..197
                        Ident@192..197 "value"
                    RParen@197..198 ")"
            RParen@198..199 ")"
        Semi@199..200 ";"
        Whitespace@200..205 "\n    "
      EXPR_UNIT@205..208
        LParen@205..206 "("
        RParen@206..207 ")"
        Whitespace@207..208 "\n"
      RBrace@208..209 "}"
      Whitespace@209..211 "\n\n"
  FN@211..323
    FnKeyword@211..213 "fn"
    Whitespace@213..214 " "
    Ident@214..223 "show_bool"
    PARAM_LIST@223..252
      LParen@223..224 "("
      PARAM@224..239
        Ident@224..229 "label"
        Colon@229..230 ":"
        Whitespace@230..231 " "
        TYPE_STRING@231..237
          StringKeyword@231..237 "string"
        Comma@237..238 ","
        Whitespace@238..239 " "
      PARAM@239..250
        Ident@239..244 "value"
        Colon@244..245 ":"
        Whitespace@245..246 " "
        TYPE_BOOL@246..250
          BoolKeyword@246..250 "bool"
      RParen@250..251 ")"
      Whitespace@251..252 " "
    BLOCK@252..323
      LBrace@252..253 "{"
      Whitespace@253..258 "\n    "
      STMT_LET@258..317
        LetKeyword@258..261 "let"
        Whitespace@261..262 " "
        PATTERN_WILDCARD@262..264
          WildcardKeyword@262..263 "_"
          Whitespace@263..264 " "
        Eq@264..265 "="
        Whitespace@265..266 " "
        EXPR_CALL@266..311
          EXPR_IDENT@266..280
            Ident@266..280 "string_println"
          ARG_LIST@280..311
            LParen@280..281 "("
            ARG@281..310
              EXPR_BINARY@281..310
                EXPR_IDENT@281..287
                  Ident@281..286 "label"
                  Whitespace@286..287 " "
                Plus@287..288 "+"
                Whitespace@288..289 " "
                EXPR_CALL@289..310
                  EXPR_IDENT@289..303
                    Ident@289..303 "bool_to_string"
                  ARG_LIST@303..310
                    LParen@303..304 "("
                    ARG@304..309
                      EXPR_IDENT@304..309
                        Ident@304..309 "value"
                    RParen@309..310 ")"
            RParen@310..311 ")"
        Semi@311..312 ";"
        Whitespace@312..317 "\n    "
      EXPR_UNIT@317..320
        LParen@317..318 "("
        RParen@318..319 ")"
        Whitespace@319..320 "\n"
      RBrace@320..321 "}"
      Whitespace@321..323 "\n\n"
  FN@323..917
    FnKeyword@323..325 "fn"
    Whitespace@325..326 " "
    Ident@326..330 "main"
    PARAM_LIST@330..333
      LParen@330..331 "("
      RParen@331..332 ")"
      Whitespace@332..333 " "
    BLOCK@333..917
      LBrace@333..334 "{"
      Whitespace@334..339 "\n    "
      STMT_LET@339..362
        LetKeyword@339..342 "let"
        Whitespace@342..343 " "
        PATTERN_VARIABLE@343..345
          Ident@343..344 "a"
          Whitespace@344..345 " "
        Eq@345..346 "="
        Whitespace@346..347 " "
        EXPR_CALL@347..356
          EXPR_IDENT@347..354
            Ident@347..354 "a_value"
          ARG_LIST@354..356
            LParen@354..355 "("
            RParen@355..356 ")"
        Semi@356..357 ";"
        Whitespace@357..362 "\n    "
      STMT_LET@362..385
        LetKeyword@362..365 "let"
        Whitespace@365..366 " "
        PATTERN_VARIABLE@366..368
          Ident@366..367 "b"
          Whitespace@367..368 " "
        Eq@368..369 "="
        Whitespace@369..370 " "
        EXPR_CALL@370..379
          EXPR_IDENT@370..377
            Ident@370..377 "b_value"
          ARG_LIST@377..379
            LParen@377..378 "("
            RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..385 "\n    "
      STMT_LET@385..409
        LetKeyword@385..388 "let"
        Whitespace@388..389 " "
        PATTERN_VARIABLE@389..391
          Ident@389..390 "c"
          Whitespace@390..391 " "
        Eq@391..392 "="
        Whitespace@392..393 " "
        EXPR_CALL@393..402
          EXPR_IDENT@393..400
            Ident@393..400 "c_value"
          ARG_LIST@400..402
            LParen@400..401 "("
            RParen@401..402 ")"
        Semi@402..403 ";"
        Whitespace@403..409 "\n\n    "
      STMT_LET@409..439
        LetKeyword@409..412 "let"
        Whitespace@412..413 " "
        PATTERN_VARIABLE@413..417
          Ident@413..416 "sum"
          Whitespace@416..417 " "
        Eq@417..418 "="
        Whitespace@418..419 " "
        EXPR_CALL@419..433
          EXPR_IDENT@419..427
            Ident@419..427 "int8_add"
          ARG_LIST@427..433
            LParen@427..428 "("
            ARG@428..431
              EXPR_IDENT@428..429
                Ident@428..429 "a"
              Comma@429..430 ","
              Whitespace@430..431 " "
            ARG@431..432
              EXPR_IDENT@431..432
                Ident@431..432 "b"
            RParen@432..433 ")"
        Semi@433..434 ";"
        Whitespace@434..439 "\n    "
      STMT_LET@439..470
        LetKeyword@439..442 "let"
        Whitespace@442..443 " "
        PATTERN_VARIABLE@443..448
          Ident@443..447 "diff"
          Whitespace@447..448 " "
        Eq@448..449 "="
        Whitespace@449..450 " "
        EXPR_CALL@450..464
          EXPR_IDENT@450..458
            Ident@450..458 "int8_sub"
          ARG_LIST@458..464
            LParen@458..459 "("
            ARG@459..462
              EXPR_IDENT@459..460
                Ident@459..460 "a"
              Comma@460..461 ","
              Whitespace@461..462 " "
            ARG@462..463
              EXPR_IDENT@462..463
                Ident@462..463 "c"
            RParen@463..464 ")"
        Semi@464..465 ";"
        Whitespace@465..470 "\n    "
      STMT_LET@470..501
        LetKeyword@470..473 "let"
        Whitespace@473..474 " "
        PATTERN_VARIABLE@474..479
          Ident@474..478 "prod"
          Whitespace@478..479 " "
        Eq@479..480 "="
        Whitespace@480..481 " "
        EXPR_CALL@481..495
          EXPR_IDENT@481..489
            Ident@481..489 "int8_mul"
          ARG_LIST@489..495
            LParen@489..490 "("
            ARG@490..493
              EXPR_IDENT@490..491
                Ident@490..491 "b"
              Comma@491..492 ","
              Whitespace@492..493 " "
            ARG@493..494
              EXPR_IDENT@493..494
                Ident@493..494 "c"
            RParen@494..495 ")"
        Semi@495..496 ";"
        Whitespace@496..501 "\n    "
      STMT_LET@501..532
        LetKeyword@501..504 "let"
        Whitespace@504..505 " "
        PATTERN_VARIABLE@505..510
          Ident@505..509 "quot"
          Whitespace@509..510 " "
        Eq@510..511 "="
        Whitespace@511..512 " "
        EXPR_CALL@512..526
          EXPR_IDENT@512..520
            Ident@512..520 "int8_div"
          ARG_LIST@520..526
            LParen@520..521 "("
            ARG@521..524
              EXPR_IDENT@521..522
                Ident@521..522 "a"
              Comma@522..523 ","
              Whitespace@523..524 " "
            ARG@524..525
              EXPR_IDENT@524..525
                Ident@524..525 "c"
            RParen@525..526 ")"
        Semi@526..527 ";"
        Whitespace@527..532 "\n    "
      STMT_LET@532..559
        LetKeyword@532..535 "let"
        Whitespace@535..536 " "
        PATTERN_VARIABLE@536..540
          Ident@536..539 "neg"
          Whitespace@539..540 " "
        Eq@540..541 "="
        Whitespace@541..542 " "
        EXPR_CALL@542..553
          EXPR_IDENT@542..550
            Ident@542..550 "int8_neg"
          ARG_LIST@550..553
            LParen@550..551 "("
            ARG@551..552
              EXPR_IDENT@551..552
                Ident@551..552 "b"
            RParen@552..553 ")"
        Semi@553..554 ";"
        Whitespace@554..559 "\n    "
      STMT_LET@559..592
        LetKeyword@559..562 "let"
        Whitespace@562..563 " "
        PATTERN_VARIABLE@563..568
          Ident@563..567 "less"
          Whitespace@567..568 " "
        Eq@568..569 "="
        Whitespace@569..570 " "
        EXPR_CALL@570..585
          EXPR_IDENT@570..579
            Ident@570..579 "int8_less"
          ARG_LIST@579..585
            LParen@579..580 "("
            ARG@580..583
              EXPR_IDENT@580..581
                Ident@580..581 "b"
              Comma@581..582 ","
              Whitespace@582..583 " "
            ARG@583..584
              EXPR_IDENT@583..584
                Ident@583..584 "a"
            RParen@584..585 ")"
        Semi@585..586 ";"
        Whitespace@586..592 "\n\n    "
      STMT_LET@592..624
        LetKeyword@592..595 "let"
        Whitespace@595..596 " "
        PATTERN_WILDCARD@596..598
          WildcardKeyword@596..597 "_"
          Whitespace@597..598 " "
        Eq@598..599 "="
        Whitespace@599..600 " "
        EXPR_CALL@600..618
          EXPR_IDENT@600..609
            Ident@600..609 "show_int8"
          ARG_LIST@609..618
            LParen@609..610 "("
            ARG@610..616
              EXPR_STR@610..614
                Str@610..614 "\"a=\""
              Comma@614..615 ","
              Whitespace@615..616 " "
            ARG@616..617
              EXPR_IDENT@616..617
                Ident@616..617 "a"
            RParen@617..618 ")"
        Semi@618..619 ";"
        Whitespace@619..624 "\n    "
      STMT_LET@624..656
        LetKeyword@624..627 "let"
        Whitespace@627..628 " "
        PATTERN_WILDCARD@628..630
          WildcardKeyword@628..629 "_"
          Whitespace@629..630 " "
        Eq@630..631 "="
        Whitespace@631..632 " "
        EXPR_CALL@632..650
          EXPR_IDENT@632..641
            Ident@632..641 "show_int8"
          ARG_LIST@641..650
            LParen@641..642 "("
            ARG@642..648
              EXPR_STR@642..646
                Str@642..646 "\"b=\""
              Comma@646..647 ","
              Whitespace@647..648 " "
            ARG@648..649
              EXPR_IDENT@648..649
                Ident@648..649 "b"
            RParen@649..650 ")"
        Semi@650..651 ";"
        Whitespace@651..656 "\n    "
      STMT_LET@656..688
        LetKeyword@656..659 "let"
        Whitespace@659..660 " "
        PATTERN_WILDCARD@660..662
          WildcardKeyword@660..661 "_"
          Whitespace@661..662 " "
        Eq@662..663 "="
        Whitespace@663..664 " "
        EXPR_CALL@664..682
          EXPR_IDENT@664..673
            Ident@664..673 "show_int8"
          ARG_LIST@673..682
            LParen@673..674 "("
            ARG@674..680
              EXPR_STR@674..678
                Str@674..678 "\"c=\""
              Comma@678..679 ","
              Whitespace@679..680 " "
            ARG@680..681
              EXPR_IDENT@680..681
                Ident@680..681 "c"
            RParen@681..682 ")"
        Semi@682..683 ";"
        Whitespace@683..688 "\n    "
      STMT_LET@688..724
        LetKeyword@688..691 "let"
        Whitespace@691..692 " "
        PATTERN_WILDCARD@692..694
          WildcardKeyword@692..693 "_"
          Whitespace@693..694 " "
        Eq@694..695 "="
        Whitespace@695..696 " "
        EXPR_CALL@696..718
          EXPR_IDENT@696..705
            Ident@696..705 "show_int8"
          ARG_LIST@705..718
            LParen@705..706 "("
            ARG@706..714
              EXPR_STR@706..712
                Str@706..712 "\"sum=\""
              Comma@712..713 ","
              Whitespace@713..714 " "
            ARG@714..717
              EXPR_IDENT@714..717
                Ident@714..717 "sum"
            RParen@717..718 ")"
        Semi@718..719 ";"
        Whitespace@719..724 "\n    "
      STMT_LET@724..762
        LetKeyword@724..727 "let"
        Whitespace@727..728 " "
        PATTERN_WILDCARD@728..730
          WildcardKeyword@728..729 "_"
          Whitespace@729..730 " "
        Eq@730..731 "="
        Whitespace@731..732 " "
        EXPR_CALL@732..756
          EXPR_IDENT@732..741
            Ident@732..741 "show_int8"
          ARG_LIST@741..756
            LParen@741..742 "("
            ARG@742..751
              EXPR_STR@742..749
                Str@742..749 "\"diff=\""
              Comma@749..750 ","
              Whitespace@750..751 " "
            ARG@751..755
              EXPR_IDENT@751..755
                Ident@751..755 "diff"
            RParen@755..756 ")"
        Semi@756..757 ";"
        Whitespace@757..762 "\n    "
      STMT_LET@762..800
        LetKeyword@762..765 "let"
        Whitespace@765..766 " "
        PATTERN_WILDCARD@766..768
          WildcardKeyword@766..767 "_"
          Whitespace@767..768 " "
        Eq@768..769 "="
        Whitespace@769..770 " "
        EXPR_CALL@770..794
          EXPR_IDENT@770..779
            Ident@770..779 "show_int8"
          ARG_LIST@779..794
            LParen@779..780 "("
            ARG@780..789
              EXPR_STR@780..787
                Str@780..787 "\"prod=\""
              Comma@787..788 ","
              Whitespace@788..789 " "
            ARG@789..793
              EXPR_IDENT@789..793
                Ident@789..793 "prod"
            RParen@793..794 ")"
        Semi@794..795 ";"
        Whitespace@795..800 "\n    "
      STMT_LET@800..838
        LetKeyword@800..803 "let"
        Whitespace@803..804 " "
        PATTERN_WILDCARD@804..806
          WildcardKeyword@804..805 "_"
          Whitespace@805..806 " "
        Eq@806..807 "="
        Whitespace@807..808 " "
        EXPR_CALL@808..832
          EXPR_IDENT@808..817
            Ident@808..817 "show_int8"
          ARG_LIST@817..832
            LParen@817..818 "("
            ARG@818..827
              EXPR_STR@818..825
                Str@818..825 "\"quot=\""
              Comma@825..826 ","
              Whitespace@826..827 " "
            ARG@827..831
              EXPR_IDENT@827..831
                Ident@827..831 "quot"
            RParen@831..832 ")"
        Semi@832..833 ";"
        Whitespace@833..838 "\n    "
      STMT_LET@838..874
        LetKeyword@838..841 "let"
        Whitespace@841..842 " "
        PATTERN_WILDCARD@842..844
          WildcardKeyword@842..843 "_"
          Whitespace@843..844 " "
        Eq@844..845 "="
        Whitespace@845..846 " "
        EXPR_CALL@846..868
          EXPR_IDENT@846..855
            Ident@846..855 "show_int8"
          ARG_LIST@855..868
            LParen@855..856 "("
            ARG@856..864
              EXPR_STR@856..862
                Str@856..862 "\"neg=\""
              Comma@862..863 ","
              Whitespace@863..864 " "
            ARG@864..867
              EXPR_IDENT@864..867
                Ident@864..867 "neg"
            RParen@867..868 ")"
        Semi@868..869 ";"
        Whitespace@869..874 "\n    "
      STMT_LET@874..912
        LetKeyword@874..877 "let"
        Whitespace@877..878 " "
        PATTERN_WILDCARD@878..880
          WildcardKeyword@878..879 "_"
          Whitespace@879..880 " "
        Eq@880..881 "="
        Whitespace@881..882 " "
        EXPR_CALL@882..905
          EXPR_IDENT@882..891
            Ident@882..891 "show_bool"
          ARG_LIST@891..905
            LParen@891..892 "("
            ARG@892..900
              EXPR_STR@892..898
                Str@892..898 "\"b<a=\""
              Comma@898..899 ","
              Whitespace@899..900 " "
            ARG@900..904
              EXPR_IDENT@900..904
                Ident@900..904 "less"
            RParen@904..905 ")"
        Semi@905..906 ";"
        Whitespace@906..912 "\n\n    "
      EXPR_UNIT@912..915
        LParen@912..913 "("
        RParen@913..914 ")"
        Whitespace@914..915 "\n"
      RBrace@915..916 "}"
      Whitespace@916..917 "\n"