FILE@0..709
  FN@0..709
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..709
      LBrace@10..11 "{"
      Whitespace@11..14 "\n  "
      STMT_LET@14..41
        LetKeyword@14..17 "let"
        Whitespace@17..18 " "
        PATTERN_VARIABLE@18..24
          Ident@18..24 "start8"
        Colon@24..25 ":"
        Whitespace@25..26 " "
        TYPE_UINT8@26..32
          Uint8Keyword@26..31 "uint8"
          Whitespace@31..32 " "
        Eq@32..33 "="
        Whitespace@33..34 " "
        EXPR_INT@34..37
          Int@34..37 "200"
        Semi@37..38 ";"
        Whitespace@38..41 "\n  "
      STMT_LET@41..65
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..49
          Ident@45..49 "add8"
        Colon@49..50 ":"
        Whitespace@50..51 " "
        TYPE_UINT8@51..57
          Uint8Keyword@51..56 "uint8"
          Whitespace@56..57 " "
        Eq@57..58 "="
        Whitespace@58..59 " "
        EXPR_INT@59..61
          Int@59..61 "55"
        Semi@61..62 ";"
        Whitespace@62..65 "\n  "
      STMT_LET@65..93
        LetKeyword@65..68 "let"
        Whitespace@68..69 " "
        PATTERN_VARIABLE@69..74
          Ident@69..73 "sum8"
          Whitespace@73..74 " "
        Eq@74..75 "="
        Whitespace@75..76 " "
        EXPR_BINARY@76..89
          EXPR_IDENT@76..83
            Ident@76..82 "start8"
            Whitespace@82..83 " "
          Plus@83..84 "+"
          Whitespace@84..85 " "
          EXPR_IDENT@85..89
            Ident@85..89 "add8"
        Semi@89..90 ";"
        Whitespace@90..93 "\n  "
      STMT_LET@93..116
        LetKeyword@93..96 "let"
        Whitespace@96..97 " "
        PATTERN_VARIABLE@97..102
          Ident@97..101 "neg8"
          Whitespace@101..102 " "
        Eq@102..103 "="
        Whitespace@103..104 " "
        EXPR_PREFIX@104..111
          Minus@104..105 "-"
          EXPR_IDENT@105..111
            Ident@105..111 "start8"
        Semi@111..112 ";"
        Whitespace@112..116 "\n\n  "
      STMT_LET@116..147
        LetKeyword@116..119 "let"
        Whitespace@119..120 " "
        PATTERN_VARIABLE@120..127
          Ident@120..127 "start16"
        Colon@127..128 ":"
        Whitespace@128..129 " "
        TYPE_UINT16@129..136
          Uint16Keyword@129..135 "uint16"
          Whitespace@135..136 " "
        Eq@136..137 "="
        Whitespace@137..138 " "
        EXPR_INT@138..143
          Int@138..143 "50000"
        Semi@143..144 ";"
        Whitespace@144..147 "\n  "
      STMT_LET@147..176
        LetKeyword@147..150 "let"
        Whitespace@150..151 " "
        PATTERN_VARIABLE@151..156
          Ident@151..156 "add16"
        Colon@156..157 ":"
        Whitespace@157..158 " "
        TYPE_UINT16@158..165
          Uint16Keyword@158..164 "uint16"
          Whitespace@164..165 " "
        Eq@165..166 "="
        Whitespace@166..167 " "
        EXPR_INT@167..172
          Int@167..172 "12000"
        Semi@172..173 ";"
        Whitespace@173..176 "\n  "
      STMT_LET@176..207
        LetKeyword@176..179 "let"
        Whitespace@179..180 " "
        PATTERN_VARIABLE@180..186
          Ident@180..185 "sum16"
          Whitespace@185..186 " "
        Eq@186..187 "="
        Whitespace@187..188 " "
        EXPR_BINARY@188..203
          EXPR_IDENT@188..196
            Ident@188..195 "start16"
            Whitespace@195..196 " "
          Plus@196..197 "+"
          Whitespace@197..198 " "
          EXPR_IDENT@198..203
            Ident@198..203 "add16"
        Semi@203..204 ";"
        Whitespace@204..207 "\n  "
      STMT_LET@207..240
        LetKeyword@207..210 "let"
        Whitespace@210..211 " "
        PATTERN_VARIABLE@211..218
          Ident@211..217 "diff16"
          Whitespace@217..218 " "
        Eq@218..219 "="
        Whitespace@219..220 " "
        EXPR_BINARY@220..235
          EXPR_IDENT@220..226
            Ident@220..225 "sum16"
            Whitespace@225..226 " "
          Minus@226..227 "-"
          Whitespace@227..228 " "
          EXPR_IDENT@228..235
            Ident@228..235 "start16"
        Semi@235..236 ";"
        Whitespace@236..240 "\n\n  "
      STMT_LET@240..276
        LetKeyword@240..243 "let"
        Whitespace@243..244 " "
        PATTERN_VARIABLE@244..251
          Ident@244..251 "start32"
        Colon@251..252 ":"
        Whitespace@252..253 " "
        TYPE_UINT32@253..260
          Uint32Keyword@253..259 "uint32"
          Whitespace@259..260 " "
        Eq@260..261 "="
        Whitespace@261..262 " "
        EXPR_INT@262..272
          Int@262..272 "3000000000"
        Semi@272..273 ";"
        Whitespace@273..276 "\n  "
      STMT_LET@276..309
        LetKeyword@276..279 "let"
        Whitespace@279..280 " "
        PATTERN_VARIABLE@280..285
          Ident@280..285 "add32"
        Colon@285..286 ":"
        Whitespace@286..287 " "
        TYPE_UINT32@287..294
          Uint32Keyword@287..293 "uint32"
          Whitespace@293..294 " "
        Eq@294..295 "="
        Whitespace@295..296 " "
        EXPR_INT@296..305
          Int@296..305 "123456789"
        Semi@305..306 ";"
        Whitespace@306..309 "\n  "
      STMT_LET@309..340
        LetKeyword@309..312 "let"
        Whitespace@312..313 " "
        PATTERN_VARIABLE@313..319
          Ident@313..318 "sum32"
          Whitespace@318..319 " "
        Eq@319..320 "="
        Whitespace@320..321 " "
        EXPR_BINARY@321..336
          EXPR_IDENT@321..329
            Ident@321..328 "start32"
            Whitespace@328..329 " "
          Plus@329..330 "+"
          Whitespace@330..331 " "
          EXPR_IDENT@331..336
            Ident@331..336 "add32"
        Semi@336..337 ";"
        Whitespace@337..340 "\n  "
      STMT_LET@340..363
        LetKeyword@340..343 "let"
        Whitespace@343..344 " "
        PATTERN_VARIABLE@344..350
          Ident@344..349 "neg32"
          Whitespace@349..350 " "
        Eq@350..351 "="
        Whitespace@351..352 " "
        EXPR_PREFIX@352..358
          Minus@352..353 "-"
          EXPR_IDENT@353..358
            Ident@353..358 "add32"
        Semi@358..359 ";"
        Whitespace@359..363 "\n\n  "
      STMT_LET@363..399
        LetKeyword@363..366 "let"
        Whitespace@366..367 " "
        PATTERN_VARIABLE@367..374
          Ident@367..374 "start64"
        Colon@374..375 ":"
        Whitespace@375..376 " "
        TYPE_UINT64@376..383
          Uint64Keyword@376..382 "uint64"
          Whitespace@382..383 " "
        Eq@383..384 "="
        Whitespace@384..385 " "
        EXPR_INT@385..395
          Int@385..395 "6000000000"
        Semi@395..396 ";"
        Whitespace@396..399 "\n  "
      STMT_LET@399..433
        LetKeyword@399..402 "let"
        Whitespace@402..403 " "
        PATTERN_VARIABLE@403..408
          Ident@403..408 "add64"
        Colon@408..409 ":"
        Whitespace@409..410 " "
        TYPE_UINT64@410..417
          Uint64Keyword@410..416 "uint64"
          Whitespace@416..417 " "
        Eq@417..418 "="
        Whitespace@418..419 " "
        EXPR_INT@419..429
          Int@419..429 "4000000000"
        Semi@429..430 ";"
        Whitespace@430..433 "\n  "
      STMT_LET@433..464
        LetKeyword@433..436 "let"
        Whitespace@436..437 " "
        PATTERN_VARIABLE@437..443
          Ident@437..442 "sum64"
          Whitespace@442..443 " "
        Eq@443..444 "="
        Whitespace@444..445 " "
        EXPR_BINARY@445..460
          EXPR_IDENT@445..453
            Ident@445..452 "start64"
            Whitespace@452..453 " "
          Plus@453..454 "+"
          Whitespace@454..455 " "
          EXPR_IDENT@455..460
            Ident@455..460 "add64"
        Semi@460..461 ";"
        Whitespace@461..464 "\n  "
      STMT_LET@464..495
        LetKeyword@464..467 "let"
        Whitespace@467..468 " "
        PATTERN_VARIABLE@468..475
          Ident@468..474 "diff64"
          Whitespace@474..475 " "
        Eq@475..476 "="
        Whitespace@476..477 " "
        EXPR_BINARY@477..490
          EXPR_IDENT@477..483
            Ident@477..482 "sum64"
            Whitespace@482..483 " "
          Minus@483..484 "-"
          Whitespace@484..485 " "
          EXPR_IDENT@485..490
            Ident@485..490 "add64"
        Semi@490..491 ";"
        Whitespace@491..495 "\n\n  "
      STMT_LET@495..682
        LetKeyword@495..498 "let"
        Whitespace@498..499 " "
        PATTERN_VARIABLE@499..507
          Ident@499..506 "message"
          Whitespace@506..507 " "
        Eq@507..508 "="
        Whitespace@508..509 " "
        EXPR_BINARY@509..678
          EXPR_BINARY@509..652
            EXPR_BINARY@509..645
              EXPR_BINARY@509..615
                EXPR_BINARY@509..608
                  EXPR_BINARY@509..577
                    EXPR_BINARY@509..570
                      EXPR_BINARY@509..542
                        EXPR_CALL@509..535
                          EXPR_IDENT@509..524
                            Ident@509..524 "uint8_to_string"
                          ARG_LIST@524..535
                            LParen@524..525 "("
                            ARG@525..529
                              EXPR_IDENT@525..529
                                Ident@525..529 "sum8"
                            RParen@529..530 ")"
                            Whitespace@530..535 "\n    "
                        Plus@535..536 "+"
                        Whitespace@536..537 " "
                        EXPR_STR@537..542
                          Str@537..541 "\", \""
                          Whitespace@541..542 " "
                      Plus@542..543 "+"
                      Whitespace@543..544 " "
                      EXPR_CALL@544..570
                        EXPR_IDENT@544..559
                          Ident@544..559 "uint8_to_string"
                        ARG_LIST@559..570
                          LParen@559..560 "("
                          ARG@560..564
                            EXPR_IDENT@560..564
                              Ident@560..564 "neg8"
                          RParen@564..565 ")"
                          Whitespace@565..570 "\n    "
                    Plus@570..571 "+"
                    Whitespace@571..572 " "
                    EXPR_STR@572..577
                      Str@572..576 "\"; \""
                      Whitespace@576..577 " "
                  Plus@577..578 "+"
                  Whitespace@578..579 " "
                  EXPR_CALL@579..608
                    EXPR_IDENT@579..595
                      Ident@579..595 "uint16_to_string"
                    ARG_LIST@595..608
                      LParen@595..596 "("
                      ARG@596..602
                        EXPR_IDENT@596..602
                          Ident@596..602 "diff16"
                      RParen@602..603 ")"
                      Whitespace@603..608 "\n    "
                Plus@608..609 "+"
                Whitespace@609..610 " "
                EXPR_STR@610..615
                  Str@610..614 "\"; \""
                  Whitespace@614..615 " "
              Plus@615..616 "+"
              Whitespace@616..617 " "
              EXPR_CALL@617..645
                EXPR_IDENT@617..633
                  Ident@617..633 "uint32_to_string"
                ARG_LIST@633..645
                  LParen@633..634 "("
                  ARG@634..639
                    EXPR_IDENT@634..639
                      Ident@634..639 "neg32"
                  RParen@639..640 ")"
                  Whitespace@640..645 "\n    "
            Plus@645..646 "+"
            Whitespace@646..647 " "
            EXPR_STR@647..652
              Str@647..651 "\"; \""
              Whitespace@651..652 " "
          Plus@652..653 "+"
          Whitespace@653..654 " "
          EXPR_CALL@654..678
            EXPR_IDENT@654..670
              Ident@654..670 "uint64_to_string"
            ARG_LIST@670..678
              LParen@670..671 "("
              ARG@671..677
                EXPR_IDENT@671..677
                  Ident@671..677 "diff64"
              RParen@677..678 ")"
        Semi@678..679 ";"
        Whitespace@679..682 "\n  "
      STMT_EXPR@682..707
        EXPR_CALL@682..705
          EXPR_IDENT@682..696
            Ident@682..696 "string_println"
          ARG_LIST@696..705
            LParen@696..697 "("
            ARG@697..704
              EXPR_IDENT@697..704
                Ident@697..704 "message"
            RParen@704..705 ")"
        Semi@705..706 ";"
        Whitespace@706..707 "\n"
      RBrace@707..708 "}"
      Whitespace@708..709 "\n"