FILE@0..1420
  FN@0..142
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "show32"
    PARAM_LIST@9..41
      LParen@9..10 "("
      PARAM@10..25
        Ident@10..15 "label"
        Colon@15..16 ":"
        Whitespace@16..17 " "
        TYPE_STRING@17..23
          StringKeyword@17..23 "string"
        Comma@23..24 ","
        Whitespace@24..25 " "
      PARAM@25..39
        Ident@25..30 "value"
        Colon@30..31 ":"
        Whitespace@31..32 " "
        TYPE_FLOAT32@32..39
          Float32Keyword@32..39 "float32"
      RParen@39..40 ")"
      Whitespace@40..41 " "
    BLOCK@41..142
      LBrace@41..42 "{"
      Whitespace@42..47 "\n    "
      STMT_LET@47..99
        LetKeyword@47..50 "let"
        Whitespace@50..51 " "
        PATTERN_VARIABLE@51..59
          Ident@51..58 "message"
          Whitespace@58..59 " "
        Eq@59..60 "="
        Whitespace@60..61 " "
        EXPR_BINARY@61..93
          EXPR_IDENT@61..67
            PATH@61..67
              Ident@61..66 "label"
              Whitespace@66..67 " "
          Plus@67..68 "+"
          Whitespace@68..69 " "
          EXPR_CALL@69..93
            EXPR_IDENT@69..86
              PATH@69..86
                Ident@69..86 "float32_to_string"
            ARG_LIST@86..93
              LParen@86..87 "("
              ARG@87..92
                EXPR_IDENT@87..92
                  PATH@87..92
                    Ident@87..92 "value"
              RParen@92..93 ")"
        Semi@93..94 ";"
        Whitespace@94..99 "\n    "
      STMT_LET@99..136
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_WILDCARD@103..105
          WildcardKeyword@103..104 "_"
          Whitespace@104..105 " "
        Eq@105..106 "="
        Whitespace@106..107 " "
        EXPR_CALL@107..130
          EXPR_IDENT@107..121
            PATH@107..121
              Ident@107..121 "string_println"
          ARG_LIST@121..130
            LParen@121..122 "("
            ARG@122..129
              EXPR_IDENT@122..129
                PATH@122..129
                  Ident@122..129 "message"
            RParen@129..130 ")"
        Semi@130..131 ";"
        Whitespace@131..136 "\n    "
      EXPR_UNIT@136..139
        LParen@136..137 "("
        RParen@137..138 ")"
        Whitespace@138..139 "\n"
      RBrace@139..140 "}"
      Whitespace@140..142 "\n\n"
  FN@142..284
    FnKeyword@142..144 "fn"
    Whitespace@144..145 " "
    Ident@145..151 "show64"
    PARAM_LIST@151..183
      LParen@151..152 "("
      PARAM@152..167
        Ident@152..157 "label"
        Colon@157..158 ":"
        Whitespace@158..159 " "
        TYPE_STRING@159..165
          StringKeyword@159..165 "string"
        Comma@165..166 ","
        Whitespace@166..167 " "
      PARAM@167..181
        Ident@167..172 "value"
        Colon@172..173 ":"
        Whitespace@173..174 " "
        TYPE_FLOAT64@174..181
          Float64Keyword@174..181 "float64"
      RParen@181..182 ")"
      Whitespace@182..183 " "
    BLOCK@183..284
      LBrace@183..184 "{"
      Whitespace@184..189 "\n    "
      STMT_LET@189..241
        LetKeyword@189..192 "let"
        Whitespace@192..193 " "
        PATTERN_VARIABLE@193..201
          Ident@193..200 "message"
          Whitespace@200..201 " "
        Eq@201..202 "="
        Whitespace@202..203 " "
        EXPR_BINARY@203..235
          EXPR_IDENT@203..209
            PATH@203..209
              Ident@203..208 "label"
              Whitespace@208..209 " "
          Plus@209..210 "+"
          Whitespace@210..211 " "
          EXPR_CALL@211..235
            EXPR_IDENT@211..228
              PATH@211..228
                Ident@211..228 "float64_to_string"
            ARG_LIST@228..235
              LParen@228..229 "("
              ARG@229..234
                EXPR_IDENT@229..234
                  PATH@229..234
                    Ident@229..234 "value"
              RParen@234..235 ")"
        Semi@235..236 ";"
        Whitespace@236..241 "\n    "
      STMT_LET@241..278
        LetKeyword@241..244 "let"
        Whitespace@244..245 " "
        PATTERN_WILDCARD@245..247
          WildcardKeyword@245..246 "_"
          Whitespace@246..247 " "
        Eq@247..248 "="
        Whitespace@248..249 " "
        EXPR_CALL@249..272
          EXPR_IDENT@249..263
            PATH@249..263
              Ident@249..263 "string_println"
          ARG_LIST@263..272
            LParen@263..264 "("
            ARG@264..271
              EXPR_IDENT@264..271
                PATH@264..271
                  Ident@264..271 "message"
            RParen@271..272 ")"
        Semi@272..273 ";"
        Whitespace@273..278 "\n    "
      EXPR_UNIT@278..281
        LParen@278..279 "("
        RParen@279..280 ")"
        Whitespace@280..281 "\n"
      RBrace@281..282 "}"
      Whitespace@282..284 "\n\n"
  FN@284..397
    FnKeyword@284..286 "fn"
    Whitespace@286..287 " "
    Ident@287..293 "lerp32"
    PARAM_LIST@293..335
      LParen@293..294 "("
      PARAM@294..306
        Ident@294..295 "a"
        Colon@295..296 ":"
        Whitespace@296..297 " "
        TYPE_FLOAT32@297..304
          Float32Keyword@297..304 "float32"
        Comma@304..305 ","
        Whitespace@305..306 " "
      PARAM@306..318
        Ident@306..307 "b"
        Colon@307..308 ":"
        Whitespace@308..309 " "
        TYPE_FLOAT32@309..316
          Float32Keyword@309..316 "float32"
        Comma@316..317 ","
        Whitespace@317..318 " "
      PARAM@318..333
        Ident@318..324 "weight"
        Colon@324..325 ":"
        Whitespace@325..326 " "
        TYPE_FLOAT32@326..333
          Float32Keyword@326..333 "float32"
      RParen@333..334 ")"
      Whitespace@334..335 " "
    Arrow@335..337 "->"
    Whitespace@337..338 " "
    TYPE_FLOAT32@338..346
      Float32Keyword@338..345 "float32"
      Whitespace@345..346 " "
    BLOCK@346..397
      LBrace@346..347 "{"
      Whitespace@347..352 "\n    "
      STMT_LET@352..375
        LetKeyword@352..355 "let"
        Whitespace@355..356 " "
        PATTERN_VARIABLE@356..362
          Ident@356..361 "delta"
          Whitespace@361..362 " "
        Eq@362..363 "="
        Whitespace@363..364 " "
        EXPR_BINARY@364..369
          EXPR_IDENT@364..366
            PATH@364..366
              Ident@364..365 "b"
              Whitespace@365..366 " "
          Minus@366..367 "-"
          Whitespace@367..368 " "
          EXPR_IDENT@368..369
            PATH@368..369
              Ident@368..369 "a"
        Semi@369..370 ";"
        Whitespace@370..375 "\n    "
      EXPR_BINARY@375..394
        EXPR_IDENT@375..377
          PATH@375..377
            Ident@375..376 "a"
            Whitespace@376..377 " "
        Plus@377..378 "+"
        Whitespace@378..379 " "
        EXPR_BINARY@379..394
          EXPR_IDENT@379..385
            PATH@379..385
              Ident@379..384 "delta"
              Whitespace@384..385 " "
          Star@385..386 "*"
          Whitespace@386..387 " "
          EXPR_IDENT@387..394
            PATH@387..394
              Ident@387..393 "weight"
              Whitespace@393..394 "\n"
      RBrace@394..395 "}"
      Whitespace@395..397 "\n\n"
  FN@397..499
    FnKeyword@397..399 "fn"
    Whitespace@399..400 " "
    Ident@400..415 "midpoint_energy"
    PARAM_LIST@415..440
      LParen@415..416 "("
      PARAM@416..428
        Ident@416..417 "x"
        Colon@417..418 ":"
        Whitespace@418..419 " "
        TYPE_FLOAT64@419..426
          Float64Keyword@419..426 "float64"
        Comma@426..427 ","
        Whitespace@427..428 " "
      PARAM@428..438
        Ident@428..429 "y"
        Colon@429..430 ":"
        Whitespace@430..431 " "
        TYPE_FLOAT64@431..438
          Float64Keyword@431..438 "float64"
      RParen@438..439 ")"
      Whitespace@439..440 " "
    Arrow@440..442 "->"
    Whitespace@442..443 " "
    TYPE_FLOAT64@443..451
      Float64Keyword@443..450 "float64"
      Whitespace@450..451 " "
    BLOCK@451..499
      LBrace@451..452 "{"
      Whitespace@452..457 "\n    "
      STMT_LET@457..486
        LetKeyword@457..460 "let"
        Whitespace@460..461 " "
        PATTERN_VARIABLE@461..465
          Ident@461..464 "sum"
          Whitespace@464..465 " "
        Eq@465..466 "="
        Whitespace@466..467 " "
        EXPR_BINARY@467..480
          EXPR_BINARY@467..473
            EXPR_IDENT@467..469
              PATH@467..469
                Ident@467..468 "x"
                Whitespace@468..469 " "
            Star@469..470 "*"
            Whitespace@470..471 " "
            EXPR_IDENT@471..473
              PATH@471..473
                Ident@471..472 "x"
                Whitespace@472..473 " "
          Plus@473..474 "+"
          Whitespace@474..475 " "
          EXPR_BINARY@475..480
            EXPR_IDENT@475..477
              PATH@475..477
                Ident@475..476 "y"
                Whitespace@476..477 " "
            Star@477..478 "*"
            Whitespace@478..479 " "
            EXPR_IDENT@479..480
              PATH@479..480
                Ident@479..480 "y"
        Semi@480..481 ";"
        Whitespace@481..486 "\n    "
      EXPR_BINARY@486..496
        EXPR_IDENT@486..490
          PATH@486..490
            Ident@486..489 "sum"
            Whitespace@489..490 " "
        Slash@490..491 "/"
        Whitespace@491..492 " "
        EXPR_FLOAT@492..496
          Float@492..495 "2.0"
          Whitespace@495..496 "\n"
      RBrace@496..497 "}"
      Whitespace@497..499 "\n\n"
  FN@499..1420
    FnKeyword@499..501 "fn"
    Whitespace@501..502 " "
    Ident@502..506 "main"
    PARAM_LIST@506..509
      LParen@506..507 "("
      RParen@507..508 ")"
      Whitespace@508..509 " "
    BLOCK@509..1420
      LBrace@509..510 "{"
      Whitespace@510..515 "\n    "
      STMT_LET@515..548
        LetKeyword@515..518 "let"
        Whitespace@518..519 " "
        PATTERN_VARIABLE@519..526
          Ident@519..526 "start32"
        Colon@526..527 ":"
        Whitespace@527..528 " "
        TYPE_FLOAT32@528..536
          Float32Keyword@528..535 "float32"
          Whitespace@535..536 " "
        Eq@536..537 "="
        Whitespace@537..538 " "
        EXPR_FLOAT@538..542
          Float@538..542 "1.25"
        Semi@542..543 ";"
        Whitespace@543..548 "\n    "
      STMT_LET@548..579
        LetKeyword@548..551 "let"
        Whitespace@551..552 " "
        PATTERN_VARIABLE@552..557
          Ident@552..557 "end32"
        Colon@557..558 ":"
        Whitespace@558..559 " "
        TYPE_FLOAT32@559..567
          Float32Keyword@559..566 "float32"
          Whitespace@566..567 " "
        Eq@567..568 "="
        Whitespace@568..569 " "
        EXPR_FLOAT@569..573
          Float@569..573 "5.75"
        Semi@573..574 ";"
        Whitespace@574..579 "\n    "
      STMT_LET@579..608
        LetKeyword@579..582 "let"
        Whitespace@582..583 " "
        PATTERN_VARIABLE@583..587
          Ident@583..587 "half"
        Colon@587..588 ":"
        Whitespace@588..589 " "
        TYPE_FLOAT32@589..597
          Float32Keyword@589..596 "float32"
          Whitespace@596..597 " "
        Eq@597..598 "="
        Whitespace@598..599 " "
        EXPR_FLOAT@599..602
          Float@599..602 "0.5"
        Semi@602..603 ";"
        Whitespace@603..608 "\n    "
      STMT_LET@608..639
        LetKeyword@608..611 "let"
        Whitespace@611..612 " "
        PATTERN_VARIABLE@612..617
          Ident@612..617 "scale"
        Colon@617..618 ":"
        Whitespace@618..619 " "
        TYPE_FLOAT32@619..627
          Float32Keyword@619..626 "float32"
          Whitespace@626..627 " "
        Eq@627..628 "="
        Whitespace@628..629 " "
        EXPR_FLOAT@629..632
          Float@629..632 "2.0"
        Semi@632..633 ";"
        Whitespace@633..639 "\n\n    "
      STMT_LET@639..685
        LetKeyword@639..642 "let"
        Whitespace@642..643 " "
        PATTERN_VARIABLE@643..649
          Ident@643..648 "mid32"
          Whitespace@648..649 " "
        Eq@649..650 "="
        Whitespace@650..651 " "
        EXPR_CALL@651..679
          EXPR_IDENT@651..657
            PATH@651..657
              Ident@651..657 "lerp32"
          ARG_LIST@657..679
            LParen@657..658 "("
            ARG@658..667
              EXPR_IDENT@658..665
                PATH@658..665
                  Ident@658..665 "start32"
              Comma@665..666 ","
              Whitespace@666..667 " "
            ARG@667..674
              EXPR_IDENT@667..672
                PATH@667..672
                  Ident@667..672 "end32"
              Comma@672..673 ","
              Whitespace@673..674 " "
            ARG@674..678
              EXPR_IDENT@674..678
                PATH@674..678
                  Ident@674..678 "half"
            RParen@678..679 ")"
        Semi@679..680 ";"
        Whitespace@680..685 "\n    "
      STMT_LET@685..713
        LetKeyword@685..688 "let"
        Whitespace@688..689 " "
        PATTERN_VARIABLE@689..699
          Ident@689..698 "neg_end32"
          Whitespace@698..699 " "
        Eq@699..700 "="
        Whitespace@700..701 " "
        EXPR_PREFIX@701..707
          Minus@701..702 "-"
          EXPR_IDENT@702..707
            PATH@702..707
              Ident@702..707 "end32"
        Semi@707..708 ";"
        Whitespace@708..713 "\n    "
      STMT_LET@713..746
        LetKeyword@713..716 "let"
        Whitespace@716..717 " "
        PATTERN_VARIABLE@717..725
          Ident@717..724 "ratio32"
          Whitespace@724..725 " "
        Eq@725..726 "="
        Whitespace@726..727 " "
        EXPR_BINARY@727..740
          EXPR_IDENT@727..733
            PATH@727..733
              Ident@727..732 "end32"
              Whitespace@732..733 " "
          Slash@733..734 "/"
          Whitespace@734..735 " "
          EXPR_IDENT@735..740
            PATH@735..740
              Ident@735..740 "scale"
        Semi@740..741 ";"
        Whitespace@741..746 "\n    "
      STMT_LET@746..794
        LetKeyword@746..749 "let"
        Whitespace@749..750 " "
        PATTERN_VARIABLE@750..757
          Ident@750..756 "less32"
          Whitespace@756..757 " "
        Eq@757..758 "="
        Whitespace@758..759 " "
        EXPR_CALL@759..787
          EXPR_IDENT@759..771
            PATH@759..771
              Ident@759..771 "float32_less"
          ARG_LIST@771..787
            LParen@771..772 "("
            ARG@772..781
              EXPR_IDENT@772..779
                PATH@772..779
                  Ident@772..779 "start32"
              Comma@779..780 ","
              Whitespace@780..781 " "
            ARG@781..786
              EXPR_IDENT@781..786
                PATH@781..786
                  Ident@781..786 "end32"
            RParen@786..787 ")"
        Semi@787..788 ";"
        Whitespace@788..794 "\n\n    "
      STMT_LET@794..821
        LetKeyword@794..797 "let"
        Whitespace@797..798 " "
        PATTERN_VARIABLE@798..800
          Ident@798..800 "dx"
        Colon@800..801 ":"
        Whitespace@801..802 " "
        TYPE_FLOAT64@802..810
          Float64Keyword@802..809 "float64"
          Whitespace@809..810 " "
        Eq@810..811 "="
        Whitespace@811..812 " "
        EXPR_FLOAT@812..815
          Float@812..815 "6.5"
        Semi@815..816 ";"
        Whitespace@816..821 "\n    "
      STMT_LET@821..848
        LetKeyword@821..824 "let"
        Whitespace@824..825 " "
        PATTERN_VARIABLE@825..827
          Ident@825..827 "dy"
        Colon@827..828 ":"
        Whitespace@828..829 " "
        TYPE_FLOAT64@829..837
          Float64Keyword@829..836 "float64"
          Whitespace@836..837 " "
        Eq@837..838 "="
        Whitespace@838..839 " "
        EXPR_FLOAT@839..842
          Float@839..842 "3.5"
        Semi@842..843 ";"
        Whitespace@843..848 "\n    "
      STMT_LET@848..881
        LetKeyword@848..851 "let"
        Whitespace@851..852 " "
        PATTERN_VARIABLE@852..859
          Ident@852..859 "quarter"
        Colon@859..860 ":"
        Whitespace@860..861 " "
        TYPE_FLOAT64@861..869
          Float64Keyword@861..868 "float64"
          Whitespace@868..869 " "
        Eq@869..870 "="
        Whitespace@870..871 " "
        EXPR_FLOAT@871..875
          Float@871..875 "0.25"
        Semi@875..876 ";"
        Whitespace@876..881 "\n    "
      STMT_LET@881..932
        LetKeyword@881..884 "let"
        Whitespace@884..885 " "
        PATTERN_VARIABLE@885..891
          Ident@885..891 "energy"
        Colon@891..892 ":"
        Whitespace@892..893 " "
        TYPE_FLOAT64@893..901
          Float64Keyword@893..900 "float64"
          Whitespace@900..901 " "
        Eq@901..902 "="
        Whitespace@902..903 " "
        EXPR_CALL@903..926
          EXPR_IDENT@903..918
            PATH@903..918
              Ident@903..918 "midpoint_energy"
          ARG_LIST@918..926
            LParen@918..919 "("
            ARG@919..923
              EXPR_IDENT@919..921
                PATH@919..921
                  Ident@919..921 "dx"
              Comma@921..922 ","
              Whitespace@922..923 " "
            ARG@923..925
              EXPR_IDENT@923..925
                PATH@923..925
                  Ident@923..925 "dy"
            RParen@925..926 ")"
        Semi@926..927 ";"
        Whitespace@927..932 "\n    "
      STMT_LET@932..954
        LetKeyword@932..935 "let"
        Whitespace@935..936 " "
        PATTERN_VARIABLE@936..943
          Ident@936..942 "neg_dx"
          Whitespace@942..943 " "
        Eq@943..944 "="
        Whitespace@944..945 " "
        EXPR_PREFIX@945..948
          Minus@945..946 "-"
          EXPR_IDENT@946..948
            PATH@946..948
              Ident@946..948 "dx"
        Semi@948..949 ";"
        Whitespace@949..954 "\n    "
      STMT_LET@954..1010
        LetKeyword@954..957 "let"
        Whitespace@957..958 " "
        PATTERN_VARIABLE@958..966
          Ident@958..966 "adjusted"
        Colon@966..967 ":"
        Whitespace@967..968 " "
        TYPE_FLOAT64@968..976
          Float64Keyword@968..975 "float64"
          Whitespace@975..976 " "
        Eq@976..977 "="
        Whitespace@977..978 " "
        EXPR_BINARY@978..1004
          EXPR_BINARY@978..990
            EXPR_IDENT@978..985
              PATH@978..985
                Ident@978..984 "energy"
                Whitespace@984..985 " "
            Plus@985..986 "+"
            Whitespace@986..987 " "
            EXPR_IDENT@987..990
              PATH@987..990
                Ident@987..989 "dy"
                Whitespace@989..990 " "
          Minus@990..991 "-"
          Whitespace@991..992 " "
          EXPR_BINARY@992..1004
            EXPR_IDENT@992..995
              PATH@992..995
                Ident@992..994 "dx"
                Whitespace@994..995 " "
            Star@995..996 "*"
            Whitespace@996..997 " "
            EXPR_IDENT@997..1004
              PATH@997..1004
                Ident@997..1004 "quarter"
        Semi@1004..1005 ";"
        Whitespace@1005..1010 "\n    "
      STMT_LET@1010..1044
        LetKeyword@1010..1013 "let"
        Whitespace@1013..1014 " "
        PATTERN_VARIABLE@1014..1023
          Ident@1014..1023 "threshold"
        Colon@1023..1024 ":"
        Whitespace@1024..1025 " "
        TYPE_FLOAT64@1025..1033
          Float64Keyword@1025..1032 "float64"
          Whitespace@1032..1033 " "
        Eq@1033..1034 "="
        Whitespace@1034..1035 " "
        EXPR_FLOAT@1035..1038
          Float@1035..1038 "4.0"
        Semi@1038..1039 ";"
        Whitespace@1039..1044 "\n    "
      STMT_LET@1044..1097
        LetKeyword@1044..1047 "let"
        Whitespace@1047..1048 " "
        PATTERN_VARIABLE@1048..1055
          Ident@1048..1054 "less64"
          Whitespace@1054..1055 " "
        Eq@1055..1056 "="
        Whitespace@1056..1057 " "
        EXPR_CALL@1057..1090
          EXPR_IDENT@1057..1069
            PATH@1057..1069
              Ident@1057..1069 "float64_less"
          ARG_LIST@1069..1090
            LParen@1069..1070 "("
            ARG@1070..1080
              EXPR_IDENT@1070..1078
                PATH@1070..1078
                  Ident@1070..1078 "adjusted"
              Comma@1078..1079 ","
              Whitespace@1079..1080 " "
            ARG@1080..1089
              EXPR_IDENT@1080..1089
                PATH@1080..1089
                  Ident@1080..1089 "threshold"
            RParen@1089..1090 ")"
        Semi@1090..1091 ";"
        Whitespace@1091..1097 "\n\n    "
      STMT_EXPR@1097..1126
        EXPR_CALL@1097..1120
          EXPR_IDENT@1097..1103
            PATH@1097..1103
              Ident@1097..1103 "show32"
          ARG_LIST@1103..1120
            LParen@1103..1104 "("
            ARG@1104..1114
              EXPR_STR@1104..1112
                Str@1104..1112 "\"mid32=\""
              Comma@1112..1113 ","
              Whitespace@1113..1114 " "
            ARG@1114..1119
              EXPR_IDENT@1114..1119
                PATH@1114..1119
                  Ident@1114..1119 "mid32"
            RParen@1119..1120 ")"
        Semi@1120..1121 ";"
        Whitespace@1121..1126 "\n    "
      STMT_EXPR@1126..1163
        EXPR_CALL@1126..1157
          EXPR_IDENT@1126..1132
            PATH@1126..1132
              Ident@1126..1132 "show32"
          ARG_LIST@1132..1157
            LParen@1132..1133 "("
            ARG@1133..1147
              EXPR_STR@1133..1145
                Str@1133..1145 "\"neg_end32=\""
              Comma@1145..1146 ","
              Whitespace@1146..1147 " "
            ARG@1147..1156
              EXPR_IDENT@1147..1156
                PATH@1147..1156
                  Ident@1147..1156 "neg_end32"
            RParen@1156..1157 ")"
        Semi@1157..1158 ";"
        Whitespace@1158..1163 "\n    "
      STMT_EXPR@1163..1196
        EXPR_CALL@1163..1190
          EXPR_IDENT@1163..1169
            PATH@1163..1169
              Ident@1163..1169 "show32"
          ARG_LIST@1169..1190
            LParen@1169..1170 "("
            ARG@1170..1182
              EXPR_STR@1170..1180
                Str@1170..1180 "\"ratio32=\""
              Comma@1180..1181 ","
              Whitespace@1181..1182 " "
            ARG@1182..1189
              EXPR_IDENT@1182..1189
                PATH@1182..1189
                  Ident@1182..1189 "ratio32"
            RParen@1189..1190 ")"
        Semi@1190..1191 ";"
        Whitespace@1191..1196 "\n    "
      STMT_LET@1196..1261
        LetKeyword@1196..1199 "let"
        Whitespace@1199..1200 " "
        PATTERN_WILDCARD@1200..1202
          WildcardKeyword@1200..1201 "_"
          Whitespace@1201..1202 " "
        Eq@1202..1203 "="
        Whitespace@1203..1204 " "
        EXPR_CALL@1204..1254
          EXPR_IDENT@1204..1218
            PATH@1204..1218
              Ident@1204..1218 "string_println"
          ARG_LIST@1218..1254
            LParen@1218..1219 "("
            ARG@1219..1253
              EXPR_BINARY@1219..1253
                EXPR_STR@1219..1229
                  Str@1219..1228 "\"less32=\""
                  Whitespace@1228..1229 " "
                Plus@1229..1230 "+"
                Whitespace@1230..1231 " "
                EXPR_CALL@1231..1253
                  EXPR_IDENT@1231..1245
                    PATH@1231..1245
                      Ident@1231..1245 "bool_to_string"
                  ARG_LIST@1245..1253
                    LParen@1245..1246 "("
                    ARG@1246..1252
                      EXPR_IDENT@1246..1252
                        PATH@1246..1252
                          Ident@1246..1252 "less32"
                    RParen@1252..1253 ")"
            RParen@1253..1254 ")"
        Semi@1254..1255 ";"
        Whitespace@1255..1261 "\n\n    "
      STMT_EXPR@1261..1292
        EXPR_CALL@1261..1286
          EXPR_IDENT@1261..1267
            PATH@1261..1267
              Ident@1261..1267 "show64"
          ARG_LIST@1267..1286
            LParen@1267..1268 "("
            ARG@1268..1279
              EXPR_STR@1268..1277
                Str@1268..1277 "\"energy=\""
              Comma@1277..1278 ","
              Whitespace@1278..1279 " "
            ARG@1279..1285
              EXPR_IDENT@1279..1285
                PATH@1279..1285
                  Ident@1279..1285 "energy"
            RParen@1285..1286 ")"
        Semi@1286..1287 ";"
        Whitespace@1287..1292 "\n    "
      STMT_EXPR@1292..1323
        EXPR_CALL@1292..1317
          EXPR_IDENT@1292..1298
            PATH@1292..1298
              Ident@1292..1298 "show64"
          ARG_LIST@1298..1317
            LParen@1298..1299 "("
            ARG@1299..1310
              EXPR_STR@1299..1308
                Str@1299..1308 "\"neg_dx=\""
              Comma@1308..1309 ","
              Whitespace@1309..1310 " "
            ARG@1310..1316
              EXPR_IDENT@1310..1316
                PATH@1310..1316
                  Ident@1310..1316 "neg_dx"
            RParen@1316..1317 ")"
        Semi@1317..1318 ";"
        Whitespace@1318..1323 "\n    "
      STMT_EXPR@1323..1358
        EXPR_CALL@1323..1352
          EXPR_IDENT@1323..1329
            PATH@1323..1329
              Ident@1323..1329 "show64"
          ARG_LIST@1329..1352
            LParen@1329..1330 "("
            ARG@1330..1343
              EXPR_STR@1330..1341
                Str@1330..1341 "\"adjusted=\""
              Comma@1341..1342 ","
              Whitespace@1342..1343 " "
            ARG@1343..1351
              EXPR_IDENT@1343..1351
                PATH@1343..1351
                  Ident@1343..1351 "adjusted"
            RParen@1351..1352 ")"
        Semi@1352..1353 ";"
        Whitespace@1353..1358 "\n    "
      STMT_LET@1358..1418
        LetKeyword@1358..1361 "let"
        Whitespace@1361..1362 " "
        PATTERN_WILDCARD@1362..1364
          WildcardKeyword@1362..1363 "_"
          Whitespace@1363..1364 " "
        Eq@1364..1365 "="
        Whitespace@1365..1366 " "
        EXPR_CALL@1366..1416
          EXPR_IDENT@1366..1380
            PATH@1366..1380
              Ident@1366..1380 "string_println"
          ARG_LIST@1380..1416
            LParen@1380..1381 "("
            ARG@1381..1415
              EXPR_BINARY@1381..1415
                EXPR_STR@1381..1391
                  Str@1381..1390 "\"less64=\""
                  Whitespace@1390..1391 " "
                Plus@1391..1392 "+"
                Whitespace@1392..1393 " "
                EXPR_CALL@1393..1415
                  EXPR_IDENT@1393..1407
                    PATH@1393..1407
                      Ident@1393..1407 "bool_to_string"
                  ARG_LIST@1407..1415
                    LParen@1407..1408 "("
                    ARG@1408..1414
                      EXPR_IDENT@1408..1414
                        PATH@1408..1414
                          Ident@1408..1414 "less64"
                    RParen@1414..1415 ")"
            RParen@1415..1416 ")"
        Semi@1416..1417 ";"
        Whitespace@1417..1418 "\n"
      RBrace@1418..1419 "}"
      Whitespace@1419..1420 "\n"