FILE@0..2264
  STRUCT@0..56
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Uident@7..14 "Counter"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    STRUCT_FIELD_LIST@21..56
      STRUCT_FIELD@21..34
        Lident@21..26 "start"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_UINT32@28..34
          Uint32Keyword@28..34 "uint32"
      Comma@34..35 ","
      Whitespace@35..40 "\n    "
      STRUCT_FIELD@40..51
        Lident@40..43 "end"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_UINT64@45..51
          Uint64Keyword@45..51 "uint64"
      Comma@51..52 ","
      Whitespace@52..53 "\n"
      RBrace@53..54 "}"
      Whitespace@54..56 "\n\n"
  FN@56..179
    FnKeyword@56..58 "fn"
    Whitespace@58..59 " "
    Lident@59..67 "is_flag8"
    PARAM_LIST@67..82
      LParen@67..68 "("
      PARAM@68..80
        Lident@68..73 "value"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_UINT8@75..80
          Uint8Keyword@75..80 "uint8"
      RParen@80..81 ")"
      Whitespace@81..82 " "
    Arrow@82..84 "->"
    Whitespace@84..85 " "
    TYPE_BOOL@85..90
      BoolKeyword@85..89 "bool"
      Whitespace@89..90 " "
    BLOCK@90..179
      LBrace@90..91 "{"
      Whitespace@91..96 "\n    "
      EXPR_MATCH@96..176
        MatchKeyword@96..101 "match"
        Whitespace@101..102 " "
        EXPR_LIDENT@102..108
          Lident@102..107 "value"
          Whitespace@107..108 " "
        MATCH_ARM_LIST@108..176
          LBrace@108..109 "{"
          Whitespace@109..118 "\n        "
          MATCH_ARM@118..127
            PATTERN_INT@118..120
              Int@118..119 "0"
              Whitespace@119..120 " "
            FatArrow@120..122 "=>"
            Whitespace@122..123 " "
            EXPR_BOOL@123..127
              TrueKeyword@123..127 "true"
          Comma@127..128 ","
          Whitespace@128..137 "\n        "
          MATCH_ARM@137..148
            PATTERN_INT@137..141
              Int@137..140 "200"
              Whitespace@140..141 " "
            FatArrow@141..143 "=>"
            Whitespace@143..144 " "
            EXPR_BOOL@144..148
              TrueKeyword@144..148 "true"
          Comma@148..149 ","
          Whitespace@149..158 "\n        "
          MATCH_ARM@158..168
            PATTERN_WILDCARD@158..160
              WildcardKeyword@158..159 "_"
              Whitespace@159..160 " "
            FatArrow@160..162 "=>"
            Whitespace@162..163 " "
            EXPR_BOOL@163..168
              FalseKeyword@163..168 "false"
          Comma@168..169 ","
          Whitespace@169..174 "\n    "
          RBrace@174..175 "}"
          Whitespace@175..176 "\n"
      RBrace@176..177 "}"
      Whitespace@177..179 "\n\n"
  FN@179..309
    FnKeyword@179..181 "fn"
    Whitespace@181..182 " "
    Lident@182..191 "is_flag16"
    PARAM_LIST@191..207
      LParen@191..192 "("
      PARAM@192..205
        Lident@192..197 "value"
        Colon@197..198 ":"
        Whitespace@198..199 " "
        TYPE_UINT16@199..205
          Uint16Keyword@199..205 "uint16"
      RParen@205..206 ")"
      Whitespace@206..207 " "
    Arrow@207..209 "->"
    Whitespace@209..210 " "
    TYPE_BOOL@210..215
      BoolKeyword@210..214 "bool"
      Whitespace@214..215 " "
    BLOCK@215..309
      LBrace@215..216 "{"
      Whitespace@216..221 "\n    "
      EXPR_MATCH@221..306
        MatchKeyword@221..226 "match"
        Whitespace@226..227 " "
        EXPR_LIDENT@227..233
          Lident@227..232 "value"
          Whitespace@232..233 " "
        MATCH_ARM_LIST@233..306
          LBrace@233..234 "{"
          Whitespace@234..243 "\n        "
          MATCH_ARM@243..255
            PATTERN_INT@243..248
              Int@243..247 "1024"
              Whitespace@247..248 " "
            FatArrow@248..250 "=>"
            Whitespace@250..251 " "
            EXPR_BOOL@251..255
              TrueKeyword@251..255 "true"
          Comma@255..256 ","
          Whitespace@256..265 "\n        "
          MATCH_ARM@265..278
            PATTERN_INT@265..271
              Int@265..270 "65000"
              Whitespace@270..271 " "
            FatArrow@271..273 "=>"
            Whitespace@273..274 " "
            EXPR_BOOL@274..278
              TrueKeyword@274..278 "true"
          Comma@278..279 ","
          Whitespace@279..288 "\n        "
          MATCH_ARM@288..298
            PATTERN_WILDCARD@288..290
              WildcardKeyword@288..289 "_"
              Whitespace@289..290 " "
            FatArrow@290..292 "=>"
            Whitespace@292..293 " "
            EXPR_BOOL@293..298
              FalseKeyword@293..298 "false"
          Comma@298..299 ","
          Whitespace@299..304 "\n    "
          RBrace@304..305 "}"
          Whitespace@305..306 "\n"
      RBrace@306..307 "}"
      Whitespace@307..309 "\n\n"
  FN@309..450
    FnKeyword@309..311 "fn"
    Whitespace@311..312 " "
    Lident@312..321 "is_flag32"
    PARAM_LIST@321..337
      LParen@321..322 "("
      PARAM@322..335
        Lident@322..327 "value"
        Colon@327..328 ":"
        Whitespace@328..329 " "
        TYPE_UINT32@329..335
          Uint32Keyword@329..335 "uint32"
      RParen@335..336 ")"
      Whitespace@336..337 " "
    Arrow@337..339 "->"
    Whitespace@339..340 " "
    TYPE_BOOL@340..345
      BoolKeyword@340..344 "bool"
      Whitespace@344..345 " "
    BLOCK@345..450
      LBrace@345..346 "{"
      Whitespace@346..351 "\n    "
      EXPR_MATCH@351..447
        MatchKeyword@351..356 "match"
        Whitespace@356..357 " "
        EXPR_LIDENT@357..363
          Lident@357..362 "value"
          Whitespace@362..363 " "
        MATCH_ARM_LIST@363..447
          LBrace@363..364 "{"
          Whitespace@364..373 "\n        "
          MATCH_ARM@373..391
            PATTERN_INT@373..384
              Int@373..383 "4000000000"
              Whitespace@383..384 " "
            FatArrow@384..386 "=>"
            Whitespace@386..387 " "
            EXPR_BOOL@387..391
              TrueKeyword@387..391 "true"
          Comma@391..392 ","
          Whitespace@392..401 "\n        "
          MATCH_ARM@401..419
            PATTERN_INT@401..412
              Int@401..411 "1234567890"
              Whitespace@411..412 " "
            FatArrow@412..414 "=>"
            Whitespace@414..415 " "
            EXPR_BOOL@415..419
              TrueKeyword@415..419 "true"
          Comma@419..420 ","
          Whitespace@420..429 "\n        "
          MATCH_ARM@429..439
            PATTERN_WILDCARD@429..431
              WildcardKeyword@429..430 "_"
              Whitespace@430..431 " "
            FatArrow@431..433 "=>"
            Whitespace@433..434 " "
            EXPR_BOOL@434..439
              FalseKeyword@434..439 "false"
          Comma@439..440 ","
          Whitespace@440..445 "\n    "
          RBrace@445..446 "}"
          Whitespace@446..447 "\n"
      RBrace@447..448 "}"
      Whitespace@448..450 "\n\n"
  FN@450..589
    FnKeyword@450..452 "fn"
    Whitespace@452..453 " "
    Lident@453..462 "is_flag64"
    PARAM_LIST@462..478
      LParen@462..463 "("
      PARAM@463..476
        Lident@463..468 "value"
        Colon@468..469 ":"
        Whitespace@469..470 " "
        TYPE_UINT64@470..476
          Uint64Keyword@470..476 "uint64"
      RParen@476..477 ")"
      Whitespace@477..478 " "
    Arrow@478..480 "->"
    Whitespace@480..481 " "
    TYPE_BOOL@481..486
      BoolKeyword@481..485 "bool"
      Whitespace@485..486 " "
    BLOCK@486..589
      LBrace@486..487 "{"
      Whitespace@487..492 "\n    "
      EXPR_MATCH@492..586
        MatchKeyword@492..497 "match"
        Whitespace@497..498 " "
        EXPR_LIDENT@498..504
          Lident@498..503 "value"
          Whitespace@503..504 " "
        MATCH_ARM_LIST@504..586
          LBrace@504..505 "{"
          Whitespace@505..514 "\n        "
          MATCH_ARM@514..531
            PATTERN_INT@514..524
              Int@514..523 "900000000"
              Whitespace@523..524 " "
            FatArrow@524..526 "=>"
            Whitespace@526..527 " "
            EXPR_BOOL@527..531
              TrueKeyword@527..531 "true"
          Comma@531..532 ","
          Whitespace@532..541 "\n        "
          MATCH_ARM@541..558
            PATTERN_INT@541..551
              Int@541..550 "600000000"
              Whitespace@550..551 " "
            FatArrow@551..553 "=>"
            Whitespace@553..554 " "
            EXPR_BOOL@554..558
              TrueKeyword@554..558 "true"
          Comma@558..559 ","
          Whitespace@559..568 "\n        "
          MATCH_ARM@568..578
            PATTERN_WILDCARD@568..570
              WildcardKeyword@568..569 "_"
              Whitespace@569..570 " "
            FatArrow@570..572 "=>"
            Whitespace@572..573 " "
            EXPR_BOOL@573..578
              FalseKeyword@573..578 "false"
          Comma@578..579 ","
          Whitespace@579..584 "\n    "
          RBrace@584..585 "}"
          Whitespace@585..586 "\n"
      RBrace@586..587 "}"
      Whitespace@587..589 "\n\n"
  FN@589..799
    FnKeyword@589..591 "fn"
    Whitespace@591..592 " "
    Lident@592..604 "match_struct"
    PARAM_LIST@604..623
      LParen@604..605 "("
      PARAM@605..621
        Lident@605..612 "counter"
        Colon@612..613 ":"
        Whitespace@613..614 " "
        TYPE_TAPP@614..621
          Uident@614..621 "Counter"
      RParen@621..622 ")"
      Whitespace@622..623 " "
    Arrow@623..625 "->"
    Whitespace@625..626 " "
    TYPE_BOOL@626..631
      BoolKeyword@626..630 "bool"
      Whitespace@630..631 " "
    BLOCK@631..799
      LBrace@631..632 "{"
      Whitespace@632..637 "\n    "
      EXPR_MATCH@637..796
        MatchKeyword@637..642 "match"
        Whitespace@642..643 " "
        EXPR_LIDENT@643..651
          Lident@643..650 "counter"
          Whitespace@650..651 " "
        MATCH_ARM_LIST@651..796
          LBrace@651..652 "{"
          Whitespace@652..661 "\n        "
          MATCH_ARM@661..714
            PATTERN_CONSTR@661..707
              Uident@661..668 "Counter"
              Whitespace@668..669 " "
              STRUCT_PATTERN_FIELD_LIST@669..707
                LBrace@669..670 "{"
                Whitespace@670..671 " "
                STRUCT_PATTERN_FIELD@671..688
                  Lident@671..676 "start"
                  Colon@676..677 ":"
                  Whitespace@677..678 " "
                  PATTERN_INT@678..688
                    Int@678..688 "4000000000"
                Comma@688..689 ","
                Whitespace@689..690 " "
                STRUCT_PATTERN_FIELD@690..705
                  Lident@690..693 "end"
                  Colon@693..694 ":"
                  Whitespace@694..695 " "
                  PATTERN_INT@695..705
                    Int@695..704 "900000000"
                    Whitespace@704..705 " "
                RBrace@705..706 "}"
                Whitespace@706..707 " "
            FatArrow@707..709 "=>"
            Whitespace@709..710 " "
            EXPR_BOOL@710..714
              TrueKeyword@710..714 "true"
          Comma@714..715 ","
          Whitespace@715..724 "\n        "
          MATCH_ARM@724..768
            PATTERN_CONSTR@724..761
              Uident@724..731 "Counter"
              Whitespace@731..732 " "
              STRUCT_PATTERN_FIELD_LIST@732..761
                LBrace@732..733 "{"
                Whitespace@733..734 " "
                STRUCT_PATTERN_FIELD@734..742
                  Lident@734..739 "start"
                  Colon@739..740 ":"
                  Whitespace@740..741 " "
                  PATTERN_WILDCARD@741..742
                    WildcardKeyword@741..742 "_"
                Comma@742..743 ","
                Whitespace@743..744 " "
                STRUCT_PATTERN_FIELD@744..759
                  Lident@744..747 "end"
                  Colon@747..748 ":"
                  Whitespace@748..749 " "
                  PATTERN_INT@749..759
                    Int@749..758 "600000000"
                    Whitespace@758..759 " "
                RBrace@759..760 "}"
                Whitespace@760..761 " "
            FatArrow@761..763 "=>"
            Whitespace@763..764 " "
            EXPR_BOOL@764..768
              TrueKeyword@764..768 "true"
          Comma@768..769 ","
          Whitespace@769..778 "\n        "
          MATCH_ARM@778..788
            PATTERN_WILDCARD@778..780
              WildcardKeyword@778..779 "_"
              Whitespace@779..780 " "
            FatArrow@780..782 "=>"
            Whitespace@782..783 " "
            EXPR_BOOL@783..788
              FalseKeyword@783..788 "false"
          Comma@788..789 ","
          Whitespace@789..794 "\n    "
          RBrace@794..795 "}"
          Whitespace@795..796 "\n"
      RBrace@796..797 "}"
      Whitespace@797..799 "\n\n"
  FN@799..897
    FnKeyword@799..801 "fn"
    Whitespace@801..802 " "
    Lident@802..808 "report"
    PARAM_LIST@808..837
      LParen@808..809 "("
      PARAM@809..824
        Lident@809..814 "label"
        Colon@814..815 ":"
        Whitespace@815..816 " "
        TYPE_STRING@816..822
          StringKeyword@816..822 "string"
        Comma@822..823 ","
        Whitespace@823..824 " "
      PARAM@824..835
        Lident@824..829 "value"
        Colon@829..830 ":"
        Whitespace@830..831 " "
        TYPE_BOOL@831..835
          BoolKeyword@831..835 "bool"
      RParen@835..836 ")"
      Whitespace@836..837 " "
    Arrow@837..839 "->"
    Whitespace@839..840 " "
    TYPE_STRING@840..847
      StringKeyword@840..846 "string"
      Whitespace@846..847 " "
    BLOCK@847..897
      LBrace@847..848 "{"
      Whitespace@848..853 "\n    "
      EXPR_CALL@853..894
        EXPR_LIDENT@853..863
          Lident@853..863 "string_add"
        ARG_LIST@863..894
          LParen@863..864 "("
          ARG@864..871
            EXPR_LIDENT@864..869
              Lident@864..869 "label"
            Comma@869..870 ","
            Whitespace@870..871 " "
          ARG@871..892
            EXPR_CALL@871..892
              EXPR_LIDENT@871..885
                Lident@871..885 "bool_to_string"
              ARG_LIST@885..892
                LParen@885..886 "("
                ARG@886..891
                  EXPR_LIDENT@886..891
                    Lident@886..891 "value"
                RParen@891..892 ")"
          RParen@892..893 ")"
          Whitespace@893..894 "\n"
      RBrace@894..895 "}"
      Whitespace@895..897 "\n\n"
  FN@897..2264
    FnKeyword@897..899 "fn"
    Whitespace@899..900 " "
    Lident@900..904 "main"
    PARAM_LIST@904..907
      LParen@904..905 "("
      RParen@905..906 ")"
      Whitespace@906..907 " "
    BLOCK@907..2264
      LBrace@907..908 "{"
      Whitespace@908..913 "\n    "
      STMT_LET@913..978
        LetKeyword@913..916 "let"
        Whitespace@916..917 " "
        PATTERN_VARIABLE@917..925
          Lident@917..924 "counter"
          Whitespace@924..925 " "
        Eq@925..926 "="
        Whitespace@926..927 " "
        EXPR_STRUCT_LITERAL@927..972
          Uident@927..934 "Counter"
          Whitespace@934..935 " "
          STRUCT_LITERAL_FIELD_LIST@935..972
            LBrace@935..936 "{"
            Whitespace@936..937 " "
            STRUCT_LITERAL_FIELD@937..954
              Lident@937..942 "start"
              Colon@942..943 ":"
              Whitespace@943..944 " "
              EXPR_INT@944..954
                Int@944..954 "4000000000"
            Comma@954..955 ","
            Whitespace@955..956 " "
            STRUCT_LITERAL_FIELD@956..971
              Lident@956..959 "end"
              Colon@959..960 ":"
              Whitespace@960..961 " "
              EXPR_INT@961..971
                Int@961..970 "900000000"
                Whitespace@970..971 " "
            RBrace@971..972 "}"
        Semi@972..973 ";"
        Whitespace@973..978 "\n    "
      STMT_LET@978..1040
        LetKeyword@978..981 "let"
        Whitespace@981..982 " "
        PATTERN_VARIABLE@982..994
          Lident@982..993 "alt_counter"
          Whitespace@993..994 " "
        Eq@994..995 "="
        Whitespace@995..996 " "
        EXPR_STRUCT_LITERAL@996..1033
          Uident@996..1003 "Counter"
          Whitespace@1003..1004 " "
          STRUCT_LITERAL_FIELD_LIST@1004..1033
            LBrace@1004..1005 "{"
            Whitespace@1005..1006 " "
            STRUCT_LITERAL_FIELD@1006..1015
              Lident@1006..1011 "start"
              Colon@1011..1012 ":"
              Whitespace@1012..1013 " "
              EXPR_INT@1013..1015
                Int@1013..1015 "12"
            Comma@1015..1016 ","
            Whitespace@1016..1017 " "
            STRUCT_LITERAL_FIELD@1017..1032
              Lident@1017..1020 "end"
              Colon@1020..1021 ":"
              Whitespace@1021..1022 " "
              EXPR_INT@1022..1032
                Int@1022..1031 "600000000"
                Whitespace@1031..1032 " "
            RBrace@1032..1033 "}"
        Semi@1033..1034 ";"
        Whitespace@1034..1040 "\n\n    "
      STMT_LET@1040..2222
        LetKeyword@1040..1043 "let"
        Whitespace@1043..1044 " "
        PATTERN_VARIABLE@1044..1052
          Lident@1044..1051 "message"
          Whitespace@1051..1052 " "
        Eq@1052..1053 "="
        Whitespace@1053..1054 " "
        EXPR_CALL@1054..2215
          EXPR_LIDENT@1054..1064
            Lident@1054..1064 "string_add"
          ARG_LIST@1064..2215
            LParen@1064..1065 "("
            Whitespace@1065..1074 "\n        "
            ARG@1074..1116
              EXPR_CALL@1074..1106
                EXPR_LIDENT@1074..1080
                  Lident@1074..1080 "report"
                ARG_LIST@1080..1106
                  LParen@1080..1081 "("
                  ARG@1081..1092
                    EXPR_STR@1081..1090
                      Str@1081..1090 "\"u8_hit=\""
                    Comma@1090..1091 ","
                    Whitespace@1091..1092 " "
                  ARG@1092..1105
                    EXPR_CALL@1092..1105
                      EXPR_LIDENT@1092..1100
                        Lident@1092..1100 "is_flag8"
                      ARG_LIST@1100..1105
                        LParen@1100..1101 "("
                        ARG@1101..1104
                          EXPR_INT@1101..1104
                            Int@1101..1104 "200"
                        RParen@1104..1105 ")"
                  RParen@1105..1106 ")"
              Comma@1106..1107 ","
              Whitespace@1107..1116 "\n        "
            ARG@1116..2214
              EXPR_CALL@1116..2208
                EXPR_LIDENT@1116..1126
                  Lident@1116..1126 "string_add"
                ARG_LIST@1126..2208
                  LParen@1126..1127 "("
                  Whitespace@1127..1140 "\n            "
                  ARG@1140..1187
                    EXPR_CALL@1140..1173
                      EXPR_LIDENT@1140..1146
                        Lident@1140..1146 "report"
                      ARG_LIST@1146..1173
                        LParen@1146..1147 "("
                        ARG@1147..1160
                          EXPR_STR@1147..1158
                            Str@1147..1158 "\",u8_miss=\""
                          Comma@1158..1159 ","
                          Whitespace@1159..1160 " "
                        ARG@1160..1172
                          EXPR_CALL@1160..1172
                            EXPR_LIDENT@1160..1168
                              Lident@1160..1168 "is_flag8"
                            ARG_LIST@1168..1172
                              LParen@1168..1169 "("
                              ARG@1169..1171
                                EXPR_INT@1169..1171
                                  Int@1169..1171 "15"
                              RParen@1171..1172 ")"
                        RParen@1172..1173 ")"
                    Comma@1173..1174 ","
                    Whitespace@1174..1187 "\n            "
                  ARG@1187..2207
                    EXPR_CALL@1187..2197
                      EXPR_LIDENT@1187..1197
                        Lident@1187..1197 "string_add"
                      ARG_LIST@1197..2197
                        LParen@1197..1198 "("
                        Whitespace@1198..1215 "\n                "
                        ARG@1215..1270
                          EXPR_CALL@1215..1252
                            EXPR_LIDENT@1215..1221
                              Lident@1215..1221 "report"
                            ARG_LIST@1221..1252
                              LParen@1221..1222 "("
                              ARG@1222..1235
                                EXPR_STR@1222..1233
                                  Str@1222..1233 "\",u16_hit=\""
                                Comma@1233..1234 ","
                                Whitespace@1234..1235 " "
                              ARG@1235..1251
                                EXPR_CALL@1235..1251
                                  EXPR_LIDENT@1235..1244
                                    Lident@1235..1244 "is_flag16"
                                  ARG_LIST@1244..1251
                                    LParen@1244..1245 "("
                                    ARG@1245..1250
                                      EXPR_INT@1245..1250
                                        Int@1245..1250 "65000"
                                    RParen@1250..1251 ")"
                              RParen@1251..1252 ")"
                          Comma@1252..1253 ","
                          Whitespace@1253..1270 "\n                "
                        ARG@1270..2196
                          EXPR_CALL@1270..2182
                            EXPR_LIDENT@1270..1280
                              Lident@1270..1280 "string_add"
                            ARG_LIST@1280..2182
                              LParen@1280..1281 "("
                              Whitespace@1281..1302 "\n                    "
                              ARG@1302..1359
                                EXPR_CALL@1302..1337
                                  EXPR_LIDENT@1302..1308
                                    Lident@1302..1308 "report"
                                  ARG_LIST@1308..1337
                                    LParen@1308..1309 "("
                                    ARG@1309..1323
                                      EXPR_STR@1309..1321
                                        Str@1309..1321 "\",u16_miss=\""
                                      Comma@1321..1322 ","
                                      Whitespace@1322..1323 " "
                                    ARG@1323..1336
                                      EXPR_CALL@1323..1336
                                        EXPR_LIDENT@1323..1332
                                          Lident@1323..1332 "is_flag16"
                                        ARG_LIST@1332..1336
                                          LParen@1332..1333 "("
                                          ARG@1333..1335
                                            EXPR_INT@1333..1335
                                              Int@1333..1335 "42"
                                          RParen@1335..1336 ")"
                                    RParen@1336..1337 ")"
                                Comma@1337..1338 ","
                                Whitespace@1338..1359 "\n                    "
                              ARG@1359..2181
                                EXPR_CALL@1359..2163
                                  EXPR_LIDENT@1359..1369
                                    Lident@1359..1369 "string_add"
                                  ARG_LIST@1369..2163
                                    LParen@1369..1370 "("
                                    Whitespace@1370..1395 "\n                     ..."
                                    ARG@1395..1463
                                      EXPR_CALL@1395..1437
                                        EXPR_LIDENT@1395..1401
                                          Lident@1395..1401 "report"
                                        ARG_LIST@1401..1437
                                          LParen@1401..1402 "("
                                          ARG@1402..1415
                                            EXPR_STR@1402..1413
                                              Str@1402..1413 "\",u32_hit=\""
                                            Comma@1413..1414 ","
                                            Whitespace@1414..1415 " "
                                          ARG@1415..1436
                                            EXPR_CALL@1415..1436
                                              EXPR_LIDENT@1415..1424
                                                Lident@1415..1424 "is_flag32"
                                              ARG_LIST@1424..1436
                                                LParen@1424..1425 "("
                                                ARG@1425..1435
                                                  EXPR_INT@1425..1435
                                                    Int@1425..1435 "1234567890"
                                                RParen@1435..1436 ")"
                                          RParen@1436..1437 ")"
                                      Comma@1437..1438 ","
                                      Whitespace@1438..1463 "\n                     ..."
                                    ARG@1463..2162
                                      EXPR_CALL@1463..2140
                                        EXPR_LIDENT@1463..1473
                                          Lident@1463..1473 "string_add"
                                        ARG_LIST@1473..2140
                                          LParen@1473..1474 "("
                                          Whitespace@1474..1503 "\n                     ..."
                                          ARG@1503..1568
                                            EXPR_CALL@1503..1538
                                              EXPR_LIDENT@1503..1509
                                                Lident@1503..1509 "report"
                                              ARG_LIST@1509..1538
                                                LParen@1509..1510 "("
                                                ARG@1510..1524
                                                  EXPR_STR@1510..1522
                                                    Str@1510..1522 "\",u32_miss=\""
                                                  Comma@1522..1523 ","
                                                  Whitespace@1523..1524 " "
                                                ARG@1524..1537
                                                  EXPR_CALL@1524..1537
                                                    EXPR_LIDENT@1524..1533
                                                      Lident@1524..1533 "is_flag32"
                                                    ARG_LIST@1533..1537
                                                      LParen@1533..1534 "("
                                                      ARG@1534..1536
                                                        EXPR_INT@1534..1536
                                                          Int@1534..1536 "99"
                                                      RParen@1536..1537 ")"
                                                RParen@1537..1538 ")"
                                            Comma@1538..1539 ","
                                            Whitespace@1539..1568 "\n                     ..."
                                          ARG@1568..2139
                                            EXPR_CALL@1568..2113
                                              EXPR_LIDENT@1568..1578
                                                Lident@1568..1578 "string_add"
                                              ARG_LIST@1578..2113
                                                LParen@1578..1579 "("
                                                Whitespace@1579..1612 "\n                     ..."
                                                ARG@1612..1687
                                                  EXPR_CALL@1612..1653
                                                    EXPR_LIDENT@1612..1618
                                                      Lident@1612..1618 "report"
                                                    ARG_LIST@1618..1653
                                                      LParen@1618..1619 "("
                                                      ARG@1619..1632
                                                        EXPR_STR@1619..1630
                                                          Str@1619..1630 "\",u64_hit=\""
                                                        Comma@1630..1631 ","
                                                        Whitespace@1631..1632 " "
                                                      ARG@1632..1652
                                                        EXPR_CALL@1632..1652
                                                          EXPR_LIDENT@1632..1641
                                                            Lident@1632..1641 "is_flag64"
                                                          ARG_LIST@1641..1652
                                                            LParen@1641..1642 "("
                                                            ARG@1642..1651
                                                              EXPR_INT@1642..1651
                                                                Int@1642..1651 "900000000"
                                                            RParen@1651..1652 ")"
                                                      RParen@1652..1653 ")"
                                                  Comma@1653..1654 ","
                                                  Whitespace@1654..1687 "\n                     ..."
                                                ARG@1687..2112
                                                  EXPR_CALL@1687..2082
                                                    EXPR_LIDENT@1687..1697
                                                      Lident@1687..1697 "string_add"
                                                    ARG_LIST@1697..2082
                                                      LParen@1697..1698 "("
                                                      Whitespace@1698..1735 "\n                     ..."
                                                      ARG@1735..1815
                                                        EXPR_CALL@1735..1777
                                                          EXPR_LIDENT@1735..1741
                                                            Lident@1735..1741 "report"
                                                          ARG_LIST@1741..1777
                                                            LParen@1741..1742 "("
                                                            ARG@1742..1756
                                                              EXPR_STR@1742..1754
                                                                Str@1742..1754 "\",u64_miss=\""
                                                              Comma@1754..1755 ","
                                                              Whitespace@1755..1756 " "
                                                            ARG@1756..1776
                                                              EXPR_CALL@1756..1776
                                                                EXPR_LIDENT@1756..1765
                                                                  Lident@1756..1765 "is_flag64"
                                                                ARG_LIST@1765..1776
                                                                  LParen@1765..1766 "("
                                                                  ARG@1766..1775
                                                                    EXPR_INT@1766..1775
                                                                      Int@1766..1775 "700000000"
                                                                  RParen@1775..1776 ")"
                                                            RParen@1776..1777 ")"
                                                        Comma@1777..1778 ","
                                                        Whitespace@1778..1815 "\n                     ..."
                                                      ARG@1815..2081
                                                        EXPR_CALL@1815..2047
                                                          EXPR_LIDENT@1815..1825
                                                            Lident@1815..1825 "string_add"
                                                          ARG_LIST@1825..2047
                                                            LParen@1825..1826 "("
                                                            Whitespace@1826..1867 "\n                     ..."
                                                            ARG@1867..1956
                                                              EXPR_CALL@1867..1914
                                                                EXPR_LIDENT@1867..1873
                                                                  Lident@1867..1873 "report"
                                                                ARG_LIST@1873..1914
                                                                  LParen@1873..1874 "("
                                                                  ARG@1874..1892
                                                                    EXPR_STR@1874..1890
                                                                      Str@1874..1890 "\",struct_first=\""
                                                                    Comma@1890..1891 ","
                                                                    Whitespace@1891..1892 " "
                                                                  ARG@1892..1913
                                                                    EXPR_CALL@1892..1913
                                                                      EXPR_LIDENT@1892..1904
                                                                        Lident@1892..1904 "match_struct"
                                                                      ARG_LIST@1904..1913
                                                                        LParen@1904..1905 "("
                                                                        ARG@1905..1912
                                                                          EXPR_LIDENT@1905..1912
                                                                            Lident@1905..1912 "counter"
                                                                        RParen@1912..1913 ")"
                                                                  RParen@1913..1914 ")"
                                                              Comma@1914..1915 ","
                                                              Whitespace@1915..1956 "\n                     ..."
                                                            ARG@1956..2046
                                                              EXPR_CALL@1956..2008
                                                                EXPR_LIDENT@1956..1962
                                                                  Lident@1956..1962 "report"
                                                                ARG_LIST@1962..2008
                                                                  LParen@1962..1963 "("
                                                                  ARG@1963..1982
                                                                    EXPR_STR@1963..1980
                                                                      Str@1963..1980 "\",struct_second=\""
                                                                    Comma@1980..1981 ","
                                                                    Whitespace@1981..1982 " "
                                                                  ARG@1982..2007
                                                                    EXPR_CALL@1982..2007
                                                                      EXPR_LIDENT@1982..1994
                                                                        Lident@1982..1994 "match_struct"
                                                                      ARG_LIST@1994..2007
                                                                        LParen@1994..1995 "("
                                                                        ARG@1995..2006
                                                                          EXPR_LIDENT@1995..2006
                                                                            Lident@1995..2006 "alt_counter"
                                                                        RParen@2006..2007 ")"
                                                                  RParen@2007..2008 ")"
                                                              Comma@2008..2009 ","
                                                              Whitespace@2009..2046 "\n                     ..."
                                                            RParen@2046..2047 ")"
                                                        Comma@2047..2048 ","
                                                        Whitespace@2048..2081 "\n                     ..."
                                                      RParen@2081..2082 ")"
                                                  Comma@2082..2083 ","
                                                  Whitespace@2083..2112 "\n                     ..."
                                                RParen@2112..2113 ")"
                                            Comma@2113..2114 ","
                                            Whitespace@2114..2139 "\n                     ..."
                                          RParen@2139..2140 ")"
                                      Comma@2140..2141 ","
                                      Whitespace@2141..2162 "\n                    "
                                    RParen@2162..2163 ")"
                                Comma@2163..2164 ","
                                Whitespace@2164..2181 "\n                "
                              RParen@2181..2182 ")"
                          Comma@2182..2183 ","
                          Whitespace@2183..2196 "\n            "
                        RParen@2196..2197 ")"
                    Comma@2197..2198 ","
                    Whitespace@2198..2207 "\n        "
                  RParen@2207..2208 ")"
              Comma@2208..2209 ","
              Whitespace@2209..2214 "\n    "
            RParen@2214..2215 ")"
        Semi@2215..2216 ";"
        Whitespace@2216..2222 "\n\n    "
      STMT_LET@2222..2259
        LetKeyword@2222..2225 "let"
        Whitespace@2225..2226 " "
        PATTERN_WILDCARD@2226..2228
          WildcardKeyword@2226..2227 "_"
          Whitespace@2227..2228 " "
        Eq@2228..2229 "="
        Whitespace@2229..2230 " "
        EXPR_CALL@2230..2253
          EXPR_LIDENT@2230..2244
            Lident@2230..2244 "string_println"
          ARG_LIST@2244..2253
            LParen@2244..2245 "("
            ARG@2245..2252
              EXPR_LIDENT@2245..2252
                Lident@2245..2252 "message"
            RParen@2252..2253 ")"
        Semi@2253..2254 ";"
        Whitespace@2254..2259 "\n    "
      EXPR_UNIT@2259..2262
        LParen@2259..2260 "("
        RParen@2260..2261 ")"
        Whitespace@2261..2262 "\n"
      RBrace@2262..2263 "}"
      Whitespace@2263..2264 "\n"