FILE@0..1543
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Uident@5..15 "FloatEvent"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    VARIANT_LIST@22..83
      VARIANT@22..47
        Uident@22..30 "Sample32"
        TYPE_LIST@30..47
          LParen@30..31 "("
          TYPE_STRING@31..37
            StringKeyword@31..37 "string"
          Comma@37..38 ","
          Whitespace@38..39 " "
          TYPE_FLOAT32@39..46
            Float32Keyword@39..46 "float32"
          RParen@46..47 ")"
      Comma@47..48 ","
      Whitespace@48..53 "\n    "
      VARIANT@53..78
        Uident@53..61 "Sample64"
        TYPE_LIST@61..78
          LParen@61..62 "("
          TYPE_STRING@62..68
            StringKeyword@62..68 "string"
          Comma@68..69 ","
          Whitespace@69..70 " "
          TYPE_FLOAT64@70..77
            Float64Keyword@70..77 "float64"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..312
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Lident@86..95 "summarize"
    PARAM_LIST@95..115
      LParen@95..96 "("
      PARAM@96..113
        Lident@96..101 "event"
        Colon@101..102 ":"
        Whitespace@102..103 " "
        TYPE_TAPP@103..113
          Uident@103..113 "FloatEvent"
      RParen@113..114 ")"
      Whitespace@114..115 " "
    Arrow@115..117 "->"
    Whitespace@117..118 " "
    TYPE_STRING@118..125
      StringKeyword@118..124 "string"
      Whitespace@124..125 " "
    BLOCK@125..312
      LBrace@125..126 "{"
      Whitespace@126..131 "\n    "
      EXPR_MATCH@131..309
        MatchKeyword@131..136 "match"
        Whitespace@136..137 " "
        EXPR_LIDENT@137..143
          Lident@137..142 "event"
          Whitespace@142..143 " "
        MATCH_ARM_LIST@143..309
          LBrace@143..144 "{"
          Whitespace@144..153 "\n        "
          MATCH_ARM@153..222
            PATTERN_CONSTR@153..176
              Uident@153..161 "Sample32"
              LParen@161..162 "("
              PATTERN_VARIABLE@162..167
                Lident@162..167 "label"
              Comma@167..168 ","
              Whitespace@168..169 " "
              PATTERN_VARIABLE@169..174
                Lident@169..174 "value"
              RParen@174..175 ")"
              Whitespace@175..176 " "
            FatArrow@176..178 "=>"
            Whitespace@178..179 " "
            EXPR_CALL@179..222
              EXPR_LIDENT@179..189
                Lident@179..189 "string_add"
              ARG_LIST@189..222
                LParen@189..190 "("
                ARG@190..197
                  EXPR_LIDENT@190..195
                    Lident@190..195 "label"
                  Comma@195..196 ","
                  Whitespace@196..197 " "
                ARG@197..221
                  EXPR_CALL@197..221
                    EXPR_LIDENT@197..214
                      Lident@197..214 "float32_to_string"
                    ARG_LIST@214..221
                      LParen@214..215 "("
                      ARG@215..220
                        EXPR_LIDENT@215..220
                          Lident@215..220 "value"
                      RParen@220..221 ")"
                RParen@221..222 ")"
          Comma@222..223 ","
          Whitespace@223..232 "\n        "
          MATCH_ARM@232..301
            PATTERN_CONSTR@232..255
              Uident@232..240 "Sample64"
              LParen@240..241 "("
              PATTERN_VARIABLE@241..246
                Lident@241..246 "label"
              Comma@246..247 ","
              Whitespace@247..248 " "
              PATTERN_VARIABLE@248..253
                Lident@248..253 "value"
              RParen@253..254 ")"
              Whitespace@254..255 " "
            FatArrow@255..257 "=>"
            Whitespace@257..258 " "
            EXPR_CALL@258..301
              EXPR_LIDENT@258..268
                Lident@258..268 "string_add"
              ARG_LIST@268..301
                LParen@268..269 "("
                ARG@269..276
                  EXPR_LIDENT@269..274
                    Lident@269..274 "label"
                  Comma@274..275 ","
                  Whitespace@275..276 " "
                ARG@276..300
                  EXPR_CALL@276..300
                    EXPR_LIDENT@276..293
                      Lident@276..293 "float64_to_string"
                    ARG_LIST@293..300
                      LParen@293..294 "("
                      ARG@294..299
                        EXPR_LIDENT@294..299
                          Lident@294..299 "value"
                      RParen@299..300 ")"
                RParen@300..301 ")"
          Comma@301..302 ","
          Whitespace@302..307 "\n    "
          RBrace@307..308 "}"
          Whitespace@308..309 "\n"
      RBrace@309..310 "}"
      Whitespace@310..312 "\n\n"
  FN@312..799
    FnKeyword@312..314 "fn"
    Whitespace@314..315 " "
    Lident@315..322 "compare"
    PARAM_LIST@322..351
      LParen@322..323 "("
      PARAM@323..349
        Lident@323..329 "values"
        Colon@329..330 ":"
        Whitespace@330..331 " "
        TYPE_TUPLE@331..349
          TYPE_LIST@331..349
            LParen@331..332 "("
            TYPE_FLOAT32@332..339
              Float32Keyword@332..339 "float32"
            Comma@339..340 ","
            Whitespace@340..341 " "
            TYPE_FLOAT64@341..348
              Float64Keyword@341..348 "float64"
            RParen@348..349 ")"
      RParen@349..350 ")"
      Whitespace@350..351 " "
    Arrow@351..353 "->"
    Whitespace@353..354 " "
    TYPE_STRING@354..361
      StringKeyword@354..360 "string"
      Whitespace@360..361 " "
    BLOCK@361..799
      LBrace@361..362 "{"
      Whitespace@362..367 "\n    "
      EXPR_MATCH@367..796
        MatchKeyword@367..372 "match"
        Whitespace@372..373 " "
        EXPR_LIDENT@373..380
          Lident@373..379 "values"
          Whitespace@379..380 " "
        MATCH_ARM_LIST@380..796
          LBrace@380..381 "{"
          Whitespace@381..390 "\n        "
          MATCH_ARM@390..794
            PATTERN_TUPLE@390..404
              LParen@390..391 "("
              PATTERN_VARIABLE@391..395
                Lident@391..395 "left"
              Comma@395..396 ","
              Whitespace@396..397 " "
              PATTERN_VARIABLE@397..402
                Lident@397..402 "right"
              RParen@402..403 ")"
              Whitespace@403..404 " "
            FatArrow@404..406 "=>"
            Whitespace@406..407 " "
            BLOCK@407..794
              LBrace@407..408 "{"
              Whitespace@408..421 "\n            "
              STMT_LET@421..461
                LetKeyword@421..424 "let"
                Whitespace@424..425 " "
                PATTERN_VARIABLE@425..432
                  Lident@425..432 "limit32"
                Colon@432..433 ":"
                Whitespace@433..434 " "
                TYPE_FLOAT32@434..442
                  Float32Keyword@434..441 "float32"
                  Whitespace@441..442 " "
                Eq@442..443 "="
                Whitespace@443..444 " "
                EXPR_FLOAT@444..447
                  Float@444..447 "1.0"
                Semi@447..448 ";"
                Whitespace@448..461 "\n            "
              STMT_LET@461..501
                LetKeyword@461..464 "let"
                Whitespace@464..465 " "
                PATTERN_VARIABLE@465..472
                  Lident@465..472 "limit64"
                Colon@472..473 ":"
                Whitespace@473..474 " "
                TYPE_FLOAT64@474..482
                  Float64Keyword@474..481 "float64"
                  Whitespace@481..482 " "
                Eq@482..483 "="
                Whitespace@483..484 " "
                EXPR_FLOAT@484..487
                  Float@484..487 "5.0"
                Semi@487..488 ";"
                Whitespace@488..501 "\n            "
              STMT_LET@501..558
                LetKeyword@501..504 "let"
                Whitespace@504..505 " "
                PATTERN_VARIABLE@505..515
                  Lident@505..514 "less_left"
                  Whitespace@514..515 " "
                Eq@515..516 "="
                Whitespace@516..517 " "
                EXPR_CALL@517..544
                  EXPR_LIDENT@517..529
                    Lident@517..529 "float32_less"
                  ARG_LIST@529..544
                    LParen@529..530 "("
                    ARG@530..536
                      EXPR_LIDENT@530..534
                        Lident@530..534 "left"
                      Comma@534..535 ","
                      Whitespace@535..536 " "
                    ARG@536..543
                      EXPR_LIDENT@536..543
                        Lident@536..543 "limit32"
                    RParen@543..544 ")"
                Semi@544..545 ";"
                Whitespace@545..558 "\n            "
              STMT_LET@558..617
                LetKeyword@558..561 "let"
                Whitespace@561..562 " "
                PATTERN_VARIABLE@562..573
                  Lident@562..572 "less_right"
                  Whitespace@572..573 " "
                Eq@573..574 "="
                Whitespace@574..575 " "
                EXPR_CALL@575..603
                  EXPR_LIDENT@575..587
                    Lident@575..587 "float64_less"
                  ARG_LIST@587..603
                    LParen@587..588 "("
                    ARG@588..595
                      EXPR_LIDENT@588..593
                        Lident@588..593 "right"
                      Comma@593..594 ","
                      Whitespace@594..595 " "
                    ARG@595..602
                      EXPR_LIDENT@595..602
                        Lident@595..602 "limit64"
                    RParen@602..603 ")"
                Semi@603..604 ";"
                Whitespace@604..617 "\n            "
              EXPR_CALL@617..788
                EXPR_LIDENT@617..627
                  Lident@617..627 "string_add"
                ARG_LIST@627..788
                  LParen@627..628 "("
                  Whitespace@628..645 "\n                "
                  ARG@645..712
                    EXPR_CALL@645..694
                      EXPR_LIDENT@645..655
                        Lident@645..655 "string_add"
                      ARG_LIST@655..694
                        LParen@655..656 "("
                        ARG@656..668
                          EXPR_STR@656..666
                            Str@656..666 "\"left<1?=\""
                          Comma@666..667 ","
                          Whitespace@667..668 " "
                        ARG@668..693
                          EXPR_CALL@668..693
                            EXPR_LIDENT@668..682
                              Lident@668..682 "bool_to_string"
                            ARG_LIST@682..693
                              LParen@682..683 "("
                              ARG@683..692
                                EXPR_LIDENT@683..692
                                  Lident@683..692 "less_left"
                              RParen@692..693 ")"
                        RParen@693..694 ")"
                    Comma@694..695 ","
                    Whitespace@695..712 "\n                "
                  ARG@712..778
                    EXPR_CALL@712..764
                      EXPR_LIDENT@712..722
                        Lident@712..722 "string_add"
                      ARG_LIST@722..764
                        LParen@722..723 "("
                        ARG@723..737
                          EXPR_STR@723..735
                            Str@723..735 "\",right<5?=\""
                          Comma@735..736 ","
                          Whitespace@736..737 " "
                        ARG@737..763
                          EXPR_CALL@737..763
                            EXPR_LIDENT@737..751
                              Lident@737..751 "bool_to_string"
                            ARG_LIST@751..763
                              LParen@751..752 "("
                              ARG@752..762
                                EXPR_LIDENT@752..762
                                  Lident@752..762 "less_right"
                              RParen@762..763 ")"
                        RParen@763..764 ")"
                    Comma@764..765 ","
                    Whitespace@765..778 "\n            "
                  RParen@778..779 ")"
                  Whitespace@779..788 "\n        "
              RBrace@788..789 "}"
              Whitespace@789..794 "\n    "
          RBrace@794..795 "}"
          Whitespace@795..796 "\n"
      RBrace@796..797 "}"
      Whitespace@797..799 "\n\n"
  FN@799..1543
    FnKeyword@799..801 "fn"
    Whitespace@801..802 " "
    Lident@802..806 "main"
    PARAM_LIST@806..809
      LParen@806..807 "("
      RParen@807..808 ")"
      Whitespace@808..809 " "
    BLOCK@809..1543
      LBrace@809..810 "{"
      Whitespace@810..815 "\n    "
      STMT_LET@815..851
        LetKeyword@815..818 "let"
        Whitespace@818..819 " "
        PATTERN_VARIABLE@819..830
          Lident@819..830 "first_value"
        Colon@830..831 ":"
        Whitespace@831..832 " "
        TYPE_FLOAT32@832..840
          Float32Keyword@832..839 "float32"
          Whitespace@839..840 " "
        Eq@840..841 "="
        Whitespace@841..842 " "
        EXPR_FLOAT@842..845
          Float@842..845 "0.5"
        Semi@845..846 ";"
        Whitespace@846..851 "\n    "
      STMT_LET@851..889
        LetKeyword@851..854 "let"
        Whitespace@854..855 " "
        PATTERN_VARIABLE@855..867
          Lident@855..867 "second_value"
        Colon@867..868 ":"
        Whitespace@868..869 " "
        TYPE_FLOAT32@869..877
          Float32Keyword@869..876 "float32"
          Whitespace@876..877 " "
        Eq@877..878 "="
        Whitespace@878..879 " "
        EXPR_FLOAT@879..883
          Float@879..883 "2.25"
        Semi@883..884 ";"
        Whitespace@884..889 "\n    "
      STMT_LET@889..926
        LetKeyword@889..892 "let"
        Whitespace@892..893 " "
        PATTERN_VARIABLE@893..904
          Lident@893..904 "third_value"
        Colon@904..905 ":"
        Whitespace@905..906 " "
        TYPE_FLOAT64@906..914
          Float64Keyword@906..913 "float64"
          Whitespace@913..914 " "
        Eq@914..915 "="
        Whitespace@915..916 " "
        EXPR_FLOAT@916..919
          Float@916..919 "9.5"
        Semi@919..920 ";"
        Whitespace@920..926 "\n\n    "
      STMT_LET@926..973
        LetKeyword@926..929 "let"
        Whitespace@929..930 " "
        PATTERN_VARIABLE@930..936
          Lident@930..935 "first"
          Whitespace@935..936 " "
        Eq@936..937 "="
        Whitespace@937..938 " "
        EXPR_CALL@938..967
          EXPR_UIDENT@938..946
            Uident@938..946 "Sample32"
          ARG_LIST@946..967
            LParen@946..947 "("
            ARG@947..955
              EXPR_STR@947..953
                Str@947..953 "\"f32=\""
              Comma@953..954 ","
              Whitespace@954..955 " "
            ARG@955..966
              EXPR_LIDENT@955..966
                Lident@955..966 "first_value"
            RParen@966..967 ")"
        Semi@967..968 ";"
        Whitespace@968..973 "\n    "
      STMT_LET@973..1024
        LetKeyword@973..976 "let"
        Whitespace@976..977 " "
        PATTERN_VARIABLE@977..984
          Lident@977..983 "second"
          Whitespace@983..984 " "
        Eq@984..985 "="
        Whitespace@985..986 " "
        EXPR_CALL@986..1018
          EXPR_UIDENT@986..994
            Uident@986..994 "Sample32"
          ARG_LIST@994..1018
            LParen@994..995 "("
            ARG@995..1005
              EXPR_STR@995..1003
                Str@995..1003 "\"f32_b=\""
              Comma@1003..1004 ","
              Whitespace@1004..1005 " "
            ARG@1005..1017
              EXPR_LIDENT@1005..1017
                Lident@1005..1017 "second_value"
            RParen@1017..1018 ")"
        Semi@1018..1019 ";"
        Whitespace@1019..1024 "\n    "
      STMT_LET@1024..1072
        LetKeyword@1024..1027 "let"
        Whitespace@1027..1028 " "
        PATTERN_VARIABLE@1028..1034
          Lident@1028..1033 "third"
          Whitespace@1033..1034 " "
        Eq@1034..1035 "="
        Whitespace@1035..1036 " "
        EXPR_CALL@1036..1065
          EXPR_UIDENT@1036..1044
            Uident@1036..1044 "Sample64"
          ARG_LIST@1044..1065
            LParen@1044..1045 "("
            ARG@1045..1053
              EXPR_STR@1045..1051
                Str@1045..1051 "\"f64=\""
              Comma@1051..1052 ","
              Whitespace@1052..1053 " "
            ARG@1053..1064
              EXPR_LIDENT@1053..1064
                Lident@1053..1064 "third_value"
            RParen@1064..1065 ")"
        Semi@1065..1066 ";"
        Whitespace@1066..1072 "\n\n    "
      STMT_LET@1072..1121
        LetKeyword@1072..1075 "let"
        Whitespace@1075..1076 " "
        PATTERN_VARIABLE@1076..1081
          Lident@1076..1081 "tuple"
        Colon@1081..1082 ":"
        Whitespace@1082..1083 " "
        TYPE_TUPLE@1083..1102
          TYPE_LIST@1083..1102
            LParen@1083..1084 "("
            TYPE_FLOAT32@1084..1091
              Float32Keyword@1084..1091 "float32"
            Comma@1091..1092 ","
            Whitespace@1092..1093 " "
            TYPE_FLOAT64@1093..1100
              Float64Keyword@1093..1100 "float64"
            RParen@1100..1101 ")"
            Whitespace@1101..1102 " "
        Eq@1102..1103 "="
        Whitespace@1103..1104 " "
        EXPR_TUPLE@1104..1115
          LParen@1104..1105 "("
          EXPR_FLOAT@1105..1109
            Float@1105..1109 "0.75"
          Comma@1109..1110 ","
          Whitespace@1110..1111 " "
          EXPR_FLOAT@1111..1114
            Float@1111..1114 "4.0"
          RParen@1114..1115 ")"
        Semi@1115..1116 ";"
        Whitespace@1116..1121 "\n    "
      STMT_LET@1121..1177
        LetKeyword@1121..1124 "let"
        Whitespace@1124..1125 " "
        PATTERN_VARIABLE@1125..1136
          Lident@1125..1136 "tuple_other"
        Colon@1136..1137 ":"
        Whitespace@1137..1138 " "
        TYPE_TUPLE@1138..1157
          TYPE_LIST@1138..1157
            LParen@1138..1139 "("
            TYPE_FLOAT32@1139..1146
              Float32Keyword@1139..1146 "float32"
            Comma@1146..1147 ","
            Whitespace@1147..1148 " "
            TYPE_FLOAT64@1148..1155
              Float64Keyword@1148..1155 "float64"
            RParen@1155..1156 ")"
            Whitespace@1156..1157 " "
        Eq@1157..1158 "="
        Whitespace@1158..1159 " "
        EXPR_TUPLE@1159..1170
          LParen@1159..1160 "("
          EXPR_FLOAT@1160..1163
            Float@1160..1163 "1.5"
          Comma@1163..1164 ","
          Whitespace@1164..1165 " "
          EXPR_FLOAT@1165..1169
            Float@1165..1169 "7.25"
          RParen@1169..1170 ")"
        Semi@1170..1171 ";"
        Whitespace@1171..1177 "\n\n    "
      STMT_LET@1177..1501
        LetKeyword@1177..1180 "let"
        Whitespace@1180..1181 " "
        PATTERN_VARIABLE@1181..1189
          Lident@1181..1188 "message"
          Whitespace@1188..1189 " "
        Eq@1189..1190 "="
        Whitespace@1190..1191 " "
        EXPR_CALL@1191..1494
          EXPR_LIDENT@1191..1201
            Lident@1191..1201 "string_add"
          ARG_LIST@1201..1494
            LParen@1201..1202 "("
            Whitespace@1202..1211 "\n        "
            ARG@1211..1237
              EXPR_CALL@1211..1227
                EXPR_LIDENT@1211..1220
                  Lident@1211..1220 "summarize"
                ARG_LIST@1220..1227
                  LParen@1220..1221 "("
                  ARG@1221..1226
                    EXPR_LIDENT@1221..1226
                      Lident@1221..1226 "first"
                  RParen@1226..1227 ")"
              Comma@1227..1228 ","
              Whitespace@1228..1237 "\n        "
            ARG@1237..1493
              EXPR_CALL@1237..1487
                EXPR_LIDENT@1237..1247
                  Lident@1237..1247 "string_add"
                ARG_LIST@1247..1487
                  LParen@1247..1248 "("
                  Whitespace@1248..1261 "\n            "
                  ARG@1261..1292
                    EXPR_CALL@1261..1278
                      EXPR_LIDENT@1261..1270
                        Lident@1261..1270 "summarize"
                      ARG_LIST@1270..1278
                        LParen@1270..1271 "("
                        ARG@1271..1277
                          EXPR_LIDENT@1271..1277
                            Lident@1271..1277 "second"
                        RParen@1277..1278 ")"
                    Comma@1278..1279 ","
                    Whitespace@1279..1292 "\n            "
                  ARG@1292..1486
                    EXPR_CALL@1292..1476
                      EXPR_LIDENT@1292..1302
                        Lident@1292..1302 "string_add"
                      ARG_LIST@1302..1476
                        LParen@1302..1303 "("
                        Whitespace@1303..1320 "\n                "
                        ARG@1320..1354
                          EXPR_CALL@1320..1336
                            EXPR_LIDENT@1320..1329
                              Lident@1320..1329 "summarize"
                            ARG_LIST@1329..1336
                              LParen@1329..1330 "("
                              ARG@1330..1335
                                EXPR_LIDENT@1330..1335
                                  Lident@1330..1335 "third"
                              RParen@1335..1336 ")"
                          Comma@1336..1337 ","
                          Whitespace@1337..1354 "\n                "
                        ARG@1354..1475
                          EXPR_CALL@1354..1461
                            EXPR_LIDENT@1354..1364
                              Lident@1354..1364 "string_add"
                            ARG_LIST@1364..1461
                              LParen@1364..1365 "("
                              Whitespace@1365..1386 "\n                    "
                              ARG@1386..1422
                                EXPR_CALL@1386..1400
                                  EXPR_LIDENT@1386..1393
                                    Lident@1386..1393 "compare"
                                  ARG_LIST@1393..1400
                                    LParen@1393..1394 "("
                                    ARG@1394..1399
                                      EXPR_LIDENT@1394..1399
                                        Lident@1394..1399 "tuple"
                                    RParen@1399..1400 ")"
                                Comma@1400..1401 ","
                                Whitespace@1401..1422 "\n                    "
                              ARG@1422..1460
                                EXPR_CALL@1422..1442
                                  EXPR_LIDENT@1422..1429
                                    Lident@1422..1429 "compare"
                                  ARG_LIST@1429..1442
                                    LParen@1429..1430 "("
                                    ARG@1430..1441
                                      EXPR_LIDENT@1430..1441
                                        Lident@1430..1441 "tuple_other"
                                    RParen@1441..1442 ")"
                                Comma@1442..1443 ","
                                Whitespace@1443..1460 "\n                "
                              RParen@1460..1461 ")"
                          Comma@1461..1462 ","
                          Whitespace@1462..1475 "\n            "
                        RParen@1475..1476 ")"
                    Comma@1476..1477 ","
                    Whitespace@1477..1486 "\n        "
                  RParen@1486..1487 ")"
              Comma@1487..1488 ","
              Whitespace@1488..1493 "\n    "
            RParen@1493..1494 ")"
        Semi@1494..1495 ";"
        Whitespace@1495..1501 "\n\n    "
      STMT_LET@1501..1538
        LetKeyword@1501..1504 "let"
        Whitespace@1504..1505 " "
        PATTERN_WILDCARD@1505..1507
          WildcardKeyword@1505..1506 "_"
          Whitespace@1506..1507 " "
        Eq@1507..1508 "="
        Whitespace@1508..1509 " "
        EXPR_CALL@1509..1532
          EXPR_LIDENT@1509..1523
            Lident@1509..1523 "string_println"
          ARG_LIST@1523..1532
            LParen@1523..1524 "("
            ARG@1524..1531
              EXPR_LIDENT@1524..1531
                Lident@1524..1531 "message"
            RParen@1531..1532 ")"
        Semi@1532..1533 ";"
        Whitespace@1533..1538 "\n    "
      EXPR_UNIT@1538..1541
        LParen@1538..1539 "("
        RParen@1539..1540 ")"
        Whitespace@1540..1541 "\n"
      RBrace@1541..1542 "}"
      Whitespace@1542..1543 "\n"