FILE@0..124
  FN@0..124
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..124
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..51
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..33
          Ident@28..33 "value"
        Colon@33..34 ":"
        Whitespace@34..35 " "
        TYPE_INT32@35..41
          Int32Keyword@35..40 "int32"
          Whitespace@40..41 " "
        Eq@41..42 "="
        Whitespace@42..43 " "
        EXPR_INT@43..45
          Int@43..45 "42"
        Semi@45..46 ";"
        Whitespace@46..51 "\n    "
      STMT_LET@51..85
        LetKeyword@51..54 "let"
        Whitespace@54..55 " "
        PATTERN_VARIABLE@55..60
          Ident@55..59 "text"
          Whitespace@59..60 " "
        Eq@60..61 "="
        Whitespace@61..62 " "
        EXPR_CALL@62..79
          EXPR_BINARY@62..77
            EXPR_IDENT@62..67
              Ident@62..67 "value"
            Dot@67..68 "."
            EXPR_IDENT@68..77
              Ident@68..77 "to_string"
          ARG_LIST@77..79
            LParen@77..78 "("
            RParen@78..79 ")"
        Semi@79..80 ";"
        Whitespace@80..85 "\n    "
      STMT_LET@85..119
        LetKeyword@85..88 "let"
        Whitespace@88..89 " "
        PATTERN_WILDCARD@89..91
          WildcardKeyword@89..90 "_"
          Whitespace@90..91 " "
        Eq@91..92 "="
        Whitespace@92..93 " "
        EXPR_CALL@93..113
          EXPR_IDENT@93..107
            Ident@93..107 "string_println"
          ARG_LIST@107..113
            LParen@107..108 "("
            ARG@108..112
              EXPR_IDENT@108..112
                Ident@108..112 "text"
            RParen@112..113 ")"
        Semi@113..114 ";"
        Whitespace@114..119 "\n    "
      EXPR_UNIT@119..122
        LParen@119..120 "("
        RParen@120..121 ")"
        Whitespace@121..122 "\n"
      RBrace@122..123 "}"
      Whitespace@123..124 "\n"