FILE@0..733
  TRAIT@0..52
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..14 "ToString"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..19 "\n  "
    TRAIT_METHOD_SIG_LIST@19..52
      TRAIT_METHOD_SIG@19..47
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..31 "to_string"
        TYPE_LIST@31..38
          LParen@31..32 "("
          TYPE_TAPP@32..36
            Ident@32..36 "Self"
          RParen@36..37 ")"
          Whitespace@37..38 " "
        Arrow@38..40 "->"
        Whitespace@40..41 " "
        TYPE_STRING@41..47
          StringKeyword@41..47 "string"
      Semi@47..48 ";"
      Whitespace@48..49 "\n"
      RBrace@49..50 "}"
      Whitespace@50..52 "\n\n"
  IMPL@52..151
    ImplKeyword@52..56 "impl"
    Whitespace@56..57 " "
    Ident@57..65 "ToString"
    Whitespace@65..66 " "
    ForKeyword@66..69 "for"
    Whitespace@69..70 " "
    TYPE_INT32@70..76
      Int32Keyword@70..75 "int32"
      Whitespace@75..76 " "
    LBrace@76..77 "{"
    Whitespace@77..80 "\n  "
    FN@80..148
      FnKeyword@80..82 "fn"
      Whitespace@82..83 " "
      Ident@83..92 "to_string"
      PARAM_LIST@92..106
        LParen@92..93 "("
        PARAM@93..104
          Ident@93..97 "self"
          Colon@97..98 ":"
          Whitespace@98..99 " "
          TYPE_INT32@99..104
            Int32Keyword@99..104 "int32"
        RParen@104..105 ")"
        Whitespace@105..106 " "
      Arrow@106..108 "->"
      Whitespace@108..109 " "
      TYPE_STRING@109..116
        StringKeyword@109..115 "string"
        Whitespace@115..116 " "
      BLOCK@116..148
        LBrace@116..117 "{"
        Whitespace@117..122 "\n    "
        EXPR_CALL@122..146
          EXPR_IDENT@122..137
            Ident@122..137 "int32_to_string"
          ARG_LIST@137..146
            LParen@137..138 "("
            ARG@138..142
              EXPR_IDENT@138..142
                Ident@138..142 "self"
            RParen@142..143 ")"
            Whitespace@143..146 "\n  "
        RBrace@146..147 "}"
        Whitespace@147..148 "\n"
    RBrace@148..149 "}"
    Whitespace@149..151 "\n\n"
  IMPL@151..235
    ImplKeyword@151..155 "impl"
    Whitespace@155..156 " "
    Ident@156..164 "ToString"
    Whitespace@164..165 " "
    ForKeyword@165..168 "for"
    Whitespace@168..169 " "
    TYPE_STRING@169..176
      StringKeyword@169..175 "string"
      Whitespace@175..176 " "
    LBrace@176..177 "{"
    Whitespace@177..180 "\n  "
    FN@180..232
      FnKeyword@180..182 "fn"
      Whitespace@182..183 " "
      Ident@183..192 "to_string"
      PARAM_LIST@192..207
        LParen@192..193 "("
        PARAM@193..205
          Ident@193..197 "self"
          Colon@197..198 ":"
          Whitespace@198..199 " "
          TYPE_STRING@199..205
            StringKeyword@199..205 "string"
        RParen@205..206 ")"
        Whitespace@206..207 " "
      Arrow@207..209 "->"
      Whitespace@209..210 " "
      TYPE_STRING@210..217
        StringKeyword@210..216 "string"
        Whitespace@216..217 " "
      BLOCK@217..232
        LBrace@217..218 "{"
        Whitespace@218..223 "\n    "
        EXPR_IDENT@223..230
          Ident@223..227 "self"
          Whitespace@227..230 "\n  "
        RBrace@230..231 "}"
        Whitespace@231..232 "\n"
    RBrace@232..233 "}"
    Whitespace@233..235 "\n\n"
  STRUCT@235..297
    ATTRIBUTE_LIST@235..255
      ATTRIBUTE@235..255
        Pound@235..236 "#"
        LBracket@236..237 "["
        Ident@237..243 "derive"
        LParen@243..244 "("
        Ident@244..252 "ToString"
        RParen@252..253 ")"
        RBracket@253..254 "]"
        Whitespace@254..255 "\n"
    StructKeyword@255..261 "struct"
    Whitespace@261..262 " "
    Ident@262..267 "Point"
    Whitespace@267..268 " "
    LBrace@268..269 "{"
    Whitespace@269..272 "\n  "
    STRUCT_FIELD_LIST@272..297
      STRUCT_FIELD@272..280
        Ident@272..273 "x"
        Colon@273..274 ":"
        Whitespace@274..275 " "
        TYPE_INT32@275..280
          Int32Keyword@275..280 "int32"
      Comma@280..281 ","
      Whitespace@281..284 "\n  "
      STRUCT_FIELD@284..292
        Ident@284..285 "y"
        Colon@285..286 ":"
        Whitespace@286..287 " "
        TYPE_INT32@287..292
          Int32Keyword@287..292 "int32"
      Comma@292..293 ","
      Whitespace@293..294 "\n"
      RBrace@294..295 "}"
      Whitespace@295..297 "\n\n"
  ENUM@297..382
    ATTRIBUTE_LIST@297..317
      ATTRIBUTE@297..317
        Pound@297..298 "#"
        LBracket@298..299 "["
        Ident@299..305 "derive"
        LParen@305..306 "("
        Ident@306..314 "ToString"
        RParen@314..315 ")"
        RBracket@315..316 "]"
        Whitespace@316..317 "\n"
    EnumKeyword@317..321 "enum"
    Whitespace@321..322 " "
    Ident@322..329 "Message"
    Whitespace@329..330 " "
    LBrace@330..331 "{"
    Whitespace@331..334 "\n  "
    VARIANT_LIST@334..382
      VARIANT@334..338
        Ident@334..338 "Quit"
      Comma@338..339 ","
      Whitespace@339..342 "\n  "
      VARIANT@342..360
        Ident@342..346 "Move"
        TYPE_LIST@346..360
          LParen@346..347 "("
          TYPE_INT32@347..352
            Int32Keyword@347..352 "int32"
          Comma@352..353 ","
          Whitespace@353..354 " "
          TYPE_INT32@354..359
            Int32Keyword@354..359 "int32"
          RParen@359..360 ")"
      Comma@360..361 ","
      Whitespace@361..364 "\n  "
      VARIANT@364..377
        Ident@364..369 "Write"
        TYPE_LIST@369..377
          LParen@369..370 "("
          TYPE_STRING@370..376
            StringKeyword@370..376 "string"
          RParen@376..377 ")"
      Comma@377..378 ","
      Whitespace@378..379 "\n"
      RBrace@379..380 "}"
      Whitespace@380..382 "\n\n"
  FN@382..733
    FnKeyword@382..384 "fn"
    Whitespace@384..385 " "
    Ident@385..389 "main"
    PARAM_LIST@389..392
      LParen@389..390 "("
      RParen@390..391 ")"
      Whitespace@391..392 " "
    Arrow@392..394 "->"
    Whitespace@394..395 " "
    TYPE_UNIT@395..400
      UnitKeyword@395..399 "unit"
      Whitespace@399..400 " "
    BLOCK@400..733
      LBrace@400..401 "{"
      Whitespace@401..404 "\n  "
      STMT_LET@404..440
        LetKeyword@404..407 "let"
        Whitespace@407..408 " "
        PATTERN_VARIABLE@408..414
          Ident@408..413 "point"
          Whitespace@413..414 " "
        Eq@414..415 "="
        Whitespace@415..416 " "
        EXPR_STRUCT_LITERAL@416..436
          Ident@416..421 "Point"
          Whitespace@421..422 " "
          STRUCT_LITERAL_FIELD_LIST@422..436
            LBrace@422..423 "{"
            Whitespace@423..424 " "
            STRUCT_LITERAL_FIELD@424..428
              Ident@424..425 "x"
              Colon@425..426 ":"
              Whitespace@426..427 " "
              EXPR_INT@427..428
                Int@427..428 "4"
            Comma@428..429 ","
            Whitespace@429..430 " "
            STRUCT_LITERAL_FIELD@430..435
              Ident@430..431 "y"
              Colon@431..432 ":"
              Whitespace@432..433 " "
              EXPR_INT@433..435
                Int@433..434 "7"
                Whitespace@434..435 " "
            RBrace@435..436 "}"
        Semi@436..437 ";"
        Whitespace@437..440 "\n  "
      STMT_LET@440..474
        LetKeyword@440..443 "let"
        Whitespace@443..444 " "
        PATTERN_VARIABLE@444..452
          Ident@444..451 "summary"
          Whitespace@451..452 " "
        Eq@452..453 "="
        Whitespace@453..454 " "
        EXPR_CALL@454..470
          EXPR_IDENT@454..463
            Ident@454..463 "to_string"
          ARG_LIST@463..470
            LParen@463..464 "("
            ARG@464..469
              EXPR_IDENT@464..469
                Ident@464..469 "point"
            RParen@469..470 ")"
        Semi@470..471 ";"
        Whitespace@471..474 "\n  "
      STMT_LET@474..517
        LetKeyword@474..477 "let"
        Whitespace@477..478 " "
        PATTERN_VARIABLE@478..481
          Ident@478..480 "mv"
          Whitespace@480..481 " "
        Eq@481..482 "="
        Whitespace@482..483 " "
        EXPR_CALL@483..513
          EXPR_IDENT@483..492
            Ident@483..492 "to_string"
          ARG_LIST@492..513
            LParen@492..493 "("
            ARG@493..512
              EXPR_CALL@493..512
                EXPR_IDENT@493..506
                  PATH@493..506
                    Ident@493..500 "Message"
                    ColonColon@500..502 "::"
                    Ident@502..506 "Move"
                ARG_LIST@506..512
                  LParen@506..507 "("
                  ARG@507..510
                    EXPR_INT@507..508
                      Int@507..508 "1"
                    Comma@508..509 ","
                    Whitespace@509..510 " "
                  ARG@510..511
                    EXPR_INT@510..511
                      Int@510..511 "2"
                  RParen@511..512 ")"
            RParen@512..513 ")"
        Semi@513..514 ";"
        Whitespace@514..517 "\n  "
      STMT_LET@517..565
        LetKeyword@517..520 "let"
        Whitespace@520..521 " "
        PATTERN_VARIABLE@521..526
          Ident@521..525 "text"
          Whitespace@525..526 " "
        Eq@526..527 "="
        Whitespace@527..528 " "
        EXPR_CALL@528..561
          EXPR_IDENT@528..537
            Ident@528..537 "to_string"
          ARG_LIST@537..561
            LParen@537..538 "("
            ARG@538..560
              EXPR_CALL@538..560
                EXPR_IDENT@538..552
                  PATH@538..552
                    Ident@538..545 "Message"
                    ColonColon@545..547 "::"
                    Ident@547..552 "Write"
                ARG_LIST@552..560
                  LParen@552..553 "("
                  ARG@553..559
                    EXPR_STR@553..559
                      Str@553..559 "\"done\""
                  RParen@559..560 ")"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..565 "\n  "
      STMT_LET@565..604
        LetKeyword@565..568 "let"
        Whitespace@568..569 " "
        PATTERN_VARIABLE@569..574
          Ident@569..573 "exit"
          Whitespace@573..574 " "
        Eq@574..575 "="
        Whitespace@575..576 " "
        EXPR_CALL@576..600
          EXPR_IDENT@576..585
            Ident@576..585 "to_string"
          ARG_LIST@585..600
            LParen@585..586 "("
            ARG@586..599
              EXPR_IDENT@586..599
                PATH@586..599
                  Ident@586..593 "Message"
                  ColonColon@593..595 "::"
                  Ident@595..599 "Quit"
            RParen@599..600 ")"
        Semi@600..601 ";"
        Whitespace@601..604 "\n  "
      STMT_LET@604..639
        LetKeyword@604..607 "let"
        Whitespace@607..608 " "
        PATTERN_WILDCARD@608..610
          WildcardKeyword@608..609 "_"
          Whitespace@609..610 " "
        Eq@610..611 "="
        Whitespace@611..612 " "
        EXPR_CALL@612..635
          EXPR_IDENT@612..626
            Ident@612..626 "string_println"
          ARG_LIST@626..635
            LParen@626..627 "("
            ARG@627..634
              EXPR_IDENT@627..634
                Ident@627..634 "summary"
            RParen@634..635 ")"
        Semi@635..636 ";"
        Whitespace@636..639 "\n  "
      STMT_LET@639..669
        LetKeyword@639..642 "let"
        Whitespace@642..643 " "
        PATTERN_WILDCARD@643..645
          WildcardKeyword@643..644 "_"
          Whitespace@644..645 " "
        Eq@645..646 "="
        Whitespace@646..647 " "
        EXPR_CALL@647..665
          EXPR_IDENT@647..661
            Ident@647..661 "string_println"
          ARG_LIST@661..665
            LParen@661..662 "("
            ARG@662..664
              EXPR_IDENT@662..664
                Ident@662..664 "mv"
            RParen@664..665 ")"
        Semi@665..666 ";"
        Whitespace@666..669 "\n  "
      STMT_LET@669..701
        LetKeyword@669..672 "let"
        Whitespace@672..673 " "
        PATTERN_WILDCARD@673..675
          WildcardKeyword@673..674 "_"
          Whitespace@674..675 " "
        Eq@675..676 "="
        Whitespace@676..677 " "
        EXPR_CALL@677..697
          EXPR_IDENT@677..691
            Ident@677..691 "string_println"
          ARG_LIST@691..697
            LParen@691..692 "("
            ARG@692..696
              EXPR_IDENT@692..696
                Ident@692..696 "text"
            RParen@696..697 ")"
        Semi@697..698 ";"
        Whitespace@698..701 "\n  "
      STMT_LET@701..731
        LetKeyword@701..704 "let"
        Whitespace@704..705 " "
        PATTERN_WILDCARD@705..707
          WildcardKeyword@705..706 "_"
          Whitespace@706..707 " "
        Eq@707..708 "="
        Whitespace@708..709 " "
        EXPR_CALL@709..729
          EXPR_IDENT@709..723
            Ident@709..723 "string_println"
          ARG_LIST@723..729
            LParen@723..724 "("
            ARG@724..728
              EXPR_IDENT@724..728
                Ident@724..728 "exit"
            RParen@728..729 ")"
        Semi@729..730 ";"
        Whitespace@730..731 "\n"
      RBrace@731..732 "}"
      Whitespace@732..733 "\n"