FILE@0..743
  EXTERN@0..36
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    Str@7..11 "\"go\""
    Whitespace@11..12 " "
    Str@12..16 "\"os\""
    Whitespace@16..17 " "
    Str@17..24 "\"*File\""
    Whitespace@24..25 " "
    TypeKeyword@25..29 "type"
    Whitespace@29..30 " "
    Ident@30..34 "File"
    Whitespace@34..36 "\n\n"
  EXTERN@36..127
    ATTRIBUTE_LIST@36..53
      ATTRIBUTE@36..53
        Pound@36..37 "#"
        LBracket@37..38 "["
        Ident@38..51 "go_error_last"
        RBracket@51..52 "]"
        Whitespace@52..53 "\n"
    ExternKeyword@53..59 "extern"
    Whitespace@59..60 " "
    Str@60..64 "\"go\""
    Whitespace@64..65 " "
    Str@65..69 "\"os\""
    Whitespace@69..70 " "
    Str@70..76 "\"Open\""
    Whitespace@76..77 " "
    Ident@77..86 "open_file"
    PARAM_LIST@86..101
      LParen@86..87 "("
      PARAM@87..99
        Ident@87..91 "path"
        Colon@91..92 ":"
        Whitespace@92..93 " "
        TYPE_STRING@93..99
          StringKeyword@93..99 "string"
      RParen@99..100 ")"
      Whitespace@100..101 " "
    Arrow@101..103 "->"
    Whitespace@103..104 " "
    TYPE_TAPP@104..127
      PATH@104..110
        Ident@104..110 "Result"
      TYPE_PARAM_LIST@110..127
        LBracket@110..111 "["
        TYPE_TAPP@111..115
          PATH@111..115
            Ident@111..115 "File"
        Comma@115..116 ","
        Whitespace@116..117 " "
        TYPE_TAPP@117..124
          PATH@117..124
            Ident@117..124 "GoError"
        RBracket@124..125 "]"
        Whitespace@125..127 "\n\n"
  EXTERN@127..192
    ExternKeyword@127..133 "extern"
    Whitespace@133..134 " "
    Str@134..138 "\"go\""
    Whitespace@138..139 " "
    Str@139..143 "\"os\""
    Whitespace@143..144 " "
    Str@144..158 "\"(*File).Name\""
    Whitespace@158..159 " "
    Ident@159..168 "file_name"
    PARAM_LIST@168..181
      LParen@168..169 "("
      PARAM@169..179
        Ident@169..173 "file"
        Colon@173..174 ":"
        Whitespace@174..175 " "
        TYPE_TAPP@175..179
          PATH@175..179
            Ident@175..179 "File"
      RParen@179..180 ")"
      Whitespace@180..181 " "
    Arrow@181..183 "->"
    Whitespace@183..184 " "
    TYPE_STRING@184..192
      StringKeyword@184..190 "string"
      Whitespace@190..192 "\n\n"
  EXTERN@192..286
    ATTRIBUTE_LIST@192..204
      ATTRIBUTE@192..204
        Pound@192..193 "#"
        LBracket@193..194 "["
        Ident@194..202 "go_error"
        RBracket@202..203 "]"
        Whitespace@203..204 "\n"
    ExternKeyword@204..210 "extern"
    Whitespace@210..211 " "
    Str@211..215 "\"go\""
    Whitespace@215..216 " "
    Str@216..220 "\"os\""
    Whitespace@220..221 " "
    Str@221..236 "\"(*File).Close\""
    Whitespace@236..237 " "
    Ident@237..247 "close_file"
    PARAM_LIST@247..260
      LParen@247..248 "("
      PARAM@248..258
        Ident@248..252 "file"
        Colon@252..253 ":"
        Whitespace@253..254 " "
        TYPE_TAPP@254..258
          PATH@254..258
            Ident@254..258 "File"
      RParen@258..259 ")"
      Whitespace@259..260 " "
    Arrow@260..262 "->"
    Whitespace@262..263 " "
    TYPE_TAPP@263..286
      PATH@263..269
        Ident@263..269 "Result"
      TYPE_PARAM_LIST@269..286
        LBracket@269..270 "["
        TYPE_UNIT@270..274
          UnitKeyword@270..274 "unit"
        Comma@274..275 ","
        Whitespace@275..276 " "
        TYPE_TAPP@276..283
          PATH@276..283
            Ident@276..283 "GoError"
        RBracket@283..284 "]"
        Whitespace@284..286 "\n\n"
  FN@286..461
    FnKeyword@286..288 "fn"
    Whitespace@288..289 " "
    Ident@289..297 "describe"
    PARAM_LIST@297..312
      LParen@297..298 "("
      PARAM@298..310
        Ident@298..302 "path"
        Colon@302..303 ":"
        Whitespace@303..304 " "
        TYPE_STRING@304..310
          StringKeyword@304..310 "string"
      RParen@310..311 ")"
      Whitespace@311..312 " "
    Arrow@312..314 "->"
    Whitespace@314..315 " "
    TYPE_TAPP@315..339
      PATH@315..321
        Ident@315..321 "Result"
      TYPE_PARAM_LIST@321..339
        LBracket@321..322 "["
        TYPE_STRING@322..328
          StringKeyword@322..328 "string"
        Comma@328..329 ","
        Whitespace@329..330 " "
        TYPE_TAPP@330..337
          PATH@330..337
            Ident@330..337 "GoError"
        RBracket@337..338 "]"
        Whitespace@338..339 " "
    BLOCK@339..461
      LBrace@339..340 "{"
      Whitespace@340..345 "\n    "
      STMT_LET@345..378
        LetKeyword@345..348 "let"
        Whitespace@348..349 " "
        PATTERN_VARIABLE@349..354
          Ident@349..353 "file"
          Whitespace@353..354 " "
        Eq@354..355 "="
        Whitespace@355..356 " "
        EXPR_TRY@356..372
          EXPR_CALL@356..371
            EXPR_IDENT@356..365
              PATH@356..365
                Ident@356..365 "open_file"
            ARG_LIST@365..371
              LParen@365..366 "("
              ARG@366..370
                EXPR_IDENT@366..370
                  PATH@366..370
                    Ident@366..370 "path"
              RParen@370..371 ")"
          Question@371..372 "?"
        Semi@372..373 ";"
        Whitespace@373..378 "\n    "
      STMT_LET@378..410
        LetKeyword@378..381 "let"
        Whitespace@381..382 " "
        PATTERN_VARIABLE@382..387
          Ident@382..386 "name"
          Whitespace@386..387 " "
        Eq@387..388 "="
        Whitespace@388..389 " "
        EXPR_CALL@389..404
          EXPR_IDENT@389..398
            PATH@389..398
              Ident@389..398 "file_name"
          ARG_LIST@398..404
            LParen@398..399 "("
            ARG@399..403
              EXPR_IDENT@399..403
                PATH@399..403
                  Ident@399..403 "file"
            RParen@403..404 ")"
        Semi@404..405 ";"
        Whitespace@405..410 "\n    "
      STMT_EXPR@410..433
        EXPR_TRY@410..427
          EXPR_CALL@410..426
            EXPR_IDENT@410..420
              PATH@410..420
                Ident@410..420 "close_file"
            ARG_LIST@420..426
              LParen@420..421 "("
              ARG@421..425
                EXPR_IDENT@421..425
                  PATH@421..425
                    Ident@421..425 "file"
              RParen@425..426 ")"
          Question@426..427 "?"
        Semi@427..428 ";"
        Whitespace@428..433 "\n    "
      EXPR_CALL@433..458
        EXPR_IDENT@433..443
          PATH@433..443
            Ident@433..439 "Result"
            ColonColon@439..441 "::"
            Ident@441..443 "Ok"
        ARG_LIST@443..458
          LParen@443..444 "("
          ARG@444..456
            EXPR_BINARY@444..456
              EXPR_STR@444..450
                Str@444..449 "\"ok=\""
                Whitespace@449..450 " "
              Plus@450..451 "+"
              Whitespace@451..452 " "
              EXPR_IDENT@452..456
                PATH@452..456
                  Ident@452..456 "name"
          RParen@456..457 ")"
          Whitespace@457..458 "\n"
      RBrace@458..459 "}"
      Whitespace@459..461 "\n\n"
  FN@461..626
    FnKeyword@461..463 "fn"
    Whitespace@463..464 " "
    Ident@464..468 "show"
    PARAM_LIST@468..499
      LParen@468..469 "("
      PARAM@469..497
        Ident@469..472 "res"
        Colon@472..473 ":"
        Whitespace@473..474 " "
        TYPE_TAPP@474..497
          PATH@474..480
            Ident@474..480 "Result"
          TYPE_PARAM_LIST@480..497
            LBracket@480..481 "["
            TYPE_STRING@481..487
              StringKeyword@481..487 "string"
            Comma@487..488 ","
            Whitespace@488..489 " "
            TYPE_TAPP@489..496
              PATH@489..496
                Ident@489..496 "GoError"
            RBracket@496..497 "]"
      RParen@497..498 ")"
      Whitespace@498..499 " "
    Arrow@499..501 "->"
    Whitespace@501..502 " "
    TYPE_STRING@502..509
      StringKeyword@502..508 "string"
      Whitespace@508..509 " "
    BLOCK@509..626
      LBrace@509..510 "{"
      Whitespace@510..515 "\n    "
      EXPR_MATCH@515..623
        MatchKeyword@515..520 "match"
        Whitespace@520..521 " "
        EXPR_IDENT@521..525
          PATH@521..525
            Ident@521..524 "res"
            Whitespace@524..525 " "
        MATCH_ARM_LIST@525..623
          LBrace@525..526 "{"
          Whitespace@526..535 "\n        "
          MATCH_ARM@535..561
            PATTERN_CONSTR@535..553
              PATH@535..545
                Ident@535..541 "Result"
                ColonColon@541..543 "::"
                Ident@543..545 "Ok"
              LParen@545..546 "("
              PATTERN_VARIABLE@546..551
                Ident@546..551 "value"
              RParen@551..552 ")"
              Whitespace@552..553 " "
            FatArrow@553..555 "=>"
            Whitespace@555..556 " "
            EXPR_IDENT@556..561
              PATH@556..561
                Ident@556..561 "value"
          Comma@561..562 ","
          Whitespace@562..571 "\n        "
          MATCH_ARM@571..615
            PATTERN_CONSTR@571..588
              PATH@571..582
                Ident@571..577 "Result"
                ColonColon@577..579 "::"
                Ident@579..582 "Err"
              LParen@582..583 "("
              PATTERN_VARIABLE@583..586
                Ident@583..586 "err"
              RParen@586..587 ")"
              Whitespace@587..588 " "
            FatArrow@588..590 "=>"
            Whitespace@590..591 " "
            EXPR_BINARY@591..615
              EXPR_STR@591..598
                Str@591..597 "\"err=\""
                Whitespace@597..598 " "
              Plus@598..599 "+"
              Whitespace@599..600 " "
              EXPR_CALL@600..615
                EXPR_BINARY@600..613
                  EXPR_IDENT@600..603
                    PATH@600..603
                      Ident@600..603 "err"
                  Dot@603..604 "."
                  EXPR_IDENT@604..613
                    PATH@604..613
                      Ident@604..613 "to_string"
                ARG_LIST@613..615
                  LParen@613..614 "("
                  RParen@614..615 ")"
          Comma@615..616 ","
          Whitespace@616..621 "\n    "
          RBrace@621..622 "}"
          Whitespace@622..623 "\n"
      RBrace@623..624 "}"
      Whitespace@624..626 "\n\n"
  FN@626..743
    FnKeyword@626..628 "fn"
    Whitespace@628..629 " "
    Ident@629..633 "main"
    PARAM_LIST@633..636
      LParen@633..634 "("
      RParen@634..635 ")"
      Whitespace@635..636 " "
    Arrow@636..638 "->"
    Whitespace@638..639 " "
    TYPE_UNIT@639..644
      UnitKeyword@639..643 "unit"
      Whitespace@643..644 " "
    BLOCK@644..743
      LBrace@644..645 "{"
      Whitespace@645..650 "\n    "
      STMT_EXPR@650..693
        EXPR_CALL@650..687
          EXPR_IDENT@650..657
            PATH@650..657
              Ident@650..657 "println"
          ARG_LIST@657..687
            LParen@657..658 "("
            ARG@658..686
              EXPR_CALL@658..686
                EXPR_IDENT@658..662
                  PATH@658..662
                    Ident@658..662 "show"
                ARG_LIST@662..686
                  LParen@662..663 "("
                  ARG@663..685
                    EXPR_CALL@663..685
                      EXPR_IDENT@663..671
                        PATH@663..671
                          Ident@663..671 "describe"
                      ARG_LIST@671..685
                        LParen@671..672 "("
                        ARG@672..684
                          EXPR_STR@672..684
                            Str@672..684 "\"/etc/hosts\""
                        RParen@684..685 ")"
                  RParen@685..686 ")"
            RParen@686..687 ")"
        Semi@687..688 ";"
        Whitespace@688..693 "\n    "
      STMT_EXPR@693..741
        EXPR_CALL@693..739
          EXPR_IDENT@693..700
            PATH@693..700
              Ident@693..700 "println"
          ARG_LIST@700..739
            LParen@700..701 "("
            ARG@701..738
              EXPR_CALL@701..738
                EXPR_IDENT@701..705
                  PATH@701..705
                    Ident@701..705 "show"
                ARG_LIST@705..738
                  LParen@705..706 "("
                  ARG@706..737
                    EXPR_CALL@706..737
                      EXPR_IDENT@706..714
                        PATH@706..714
                          Ident@706..714 "describe"
                      ARG_LIST@714..737
                        LParen@714..715 "("
                        ARG@715..736
                          EXPR_STR@715..736
                            Str@715..736 "\"/definitely/missing\""
                        RParen@736..737 ")"
                  RParen@737..738 ")"
            RParen@738..739 ")"
        Semi@739..740 ";"
        Whitespace@740..741 "\n"
      RBrace@741..742 "}"
      Whitespace@742..743 "\n"