FILE@0..610
  STRUCT@0..44
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    GENERIC_LIST@12..19
      LBracket@12..13 "["
      GENERIC@13..14
        Ident@13..14 "U"
      Comma@14..15 ","
      Whitespace@15..16 " "
      GENERIC@16..17
        Ident@16..17 "V"
      RBracket@17..18 "]"
      Whitespace@18..19 " "
    LBrace@19..20 "{"
    Whitespace@20..25 "\n    "
    STRUCT_FIELD_LIST@25..44
      STRUCT_FIELD@25..29
        Ident@25..26 "x"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_TAPP@28..29
          PATH@28..29
            Ident@28..29 "U"
      Comma@29..30 ","
      Whitespace@30..35 "\n    "
      STRUCT_FIELD@35..39
        Ident@35..36 "y"
        Colon@36..37 ":"
        Whitespace@37..38 " "
        TYPE_TAPP@38..39
          PATH@38..39
            Ident@38..39 "V"
      Comma@39..40 ","
      Whitespace@40..41 "\n"
      RBrace@41..42 "}"
      Whitespace@42..44 "\n\n"
  IMPL@44..296
    ImplKeyword@44..48 "impl"
    GENERIC_LIST@48..55
      LBracket@48..49 "["
      GENERIC@49..50
        Ident@49..50 "U"
      Comma@50..51 ","
      Whitespace@51..52 " "
      GENERIC@52..53
        Ident@52..53 "V"
      RBracket@53..54 "]"
      Whitespace@54..55 " "
    TYPE_TAPP@55..67
      PATH@55..60
        Ident@55..60 "Point"
      TYPE_PARAM_LIST@60..67
        LBracket@60..61 "["
        TYPE_TAPP@61..62
          PATH@61..62
            Ident@61..62 "U"
        Comma@62..63 ","
        Whitespace@63..64 " "
        TYPE_TAPP@64..65
          PATH@64..65
            Ident@64..65 "V"
        RBracket@65..66 "]"
        Whitespace@66..67 " "
    LBrace@67..68 "{"
    Whitespace@68..73 "\n    "
    FN@73..143
      FnKeyword@73..75 "fn"
      Whitespace@75..76 " "
      Ident@76..79 "new"
      PARAM_LIST@79..92
        LParen@79..80 "("
        PARAM@80..86
          Ident@80..81 "x"
          Colon@81..82 ":"
          Whitespace@82..83 " "
          TYPE_TAPP@83..84
            PATH@83..84
              Ident@83..84 "U"
          Comma@84..85 ","
          Whitespace@85..86 " "
        PARAM@86..90
          Ident@86..87 "y"
          Colon@87..88 ":"
          Whitespace@88..89 " "
          TYPE_TAPP@89..90
            PATH@89..90
              Ident@89..90 "V"
        RParen@90..91 ")"
        Whitespace@91..92 " "
      Arrow@92..94 "->"
      Whitespace@94..95 " "
      TYPE_TAPP@95..107
        PATH@95..100
          Ident@95..100 "Point"
        TYPE_PARAM_LIST@100..107
          LBracket@100..101 "["
          TYPE_TAPP@101..102
            PATH@101..102
              Ident@101..102 "U"
          Comma@102..103 ","
          Whitespace@103..104 " "
          TYPE_TAPP@104..105
            PATH@104..105
              Ident@104..105 "V"
          RBracket@105..106 "]"
          Whitespace@106..107 " "
      BLOCK@107..143
        LBrace@107..108 "{"
        Whitespace@108..117 "\n        "
        EXPR_STRUCT_LITERAL@117..136
          PATH@117..123
            Ident@117..122 "Point"
            Whitespace@122..123 " "
          STRUCT_LITERAL_FIELD_LIST@123..136
            LBrace@123..124 "{"
            Whitespace@124..125 " "
            STRUCT_LITERAL_FIELD@125..126
              Ident@125..126 "x"
            Comma@126..127 ","
            Whitespace@127..128 " "
            STRUCT_LITERAL_FIELD@128..130
              Ident@128..129 "y"
              Whitespace@129..130 " "
            RBrace@130..131 "}"
            Whitespace@131..136 "\n    "
        RBrace@136..137 "}"
        Whitespace@137..143 "\n\n    "
    FN@143..237
      FnKeyword@143..145 "fn"
      Whitespace@145..146 " "
      Ident@146..150 "swap"
      PARAM_LIST@150..170
        LParen@150..151 "("
        PARAM@151..168
          Ident@151..155 "self"
          Colon@155..156 ":"
          Whitespace@156..157 " "
          TYPE_TAPP@157..168
            PATH@157..162
              Ident@157..162 "Point"
            TYPE_PARAM_LIST@162..168
              LBracket@162..163 "["
              TYPE_TAPP@163..164
                PATH@163..164
                  Ident@163..164 "U"
              Comma@164..165 ","
              Whitespace@165..166 " "
              TYPE_TAPP@166..167
                PATH@166..167
                  Ident@166..167 "V"
              RBracket@167..168 "]"
        RParen@168..169 ")"
        Whitespace@169..170 " "
      Arrow@170..172 "->"
      Whitespace@172..173 " "
      TYPE_TAPP@173..185
        PATH@173..178
          Ident@173..178 "Point"
        TYPE_PARAM_LIST@178..185
          LBracket@178..179 "["
          TYPE_TAPP@179..180
            PATH@179..180
              Ident@179..180 "V"
          Comma@180..181 ","
          Whitespace@181..182 " "
          TYPE_TAPP@182..183
            PATH@182..183
              Ident@182..183 "U"
          RBracket@183..184 "]"
          Whitespace@184..185 " "
      BLOCK@185..237
        LBrace@185..186 "{"
        Whitespace@186..195 "\n        "
        EXPR_STRUCT_LITERAL@195..230
          PATH@195..201
            Ident@195..200 "Point"
            Whitespace@200..201 " "
          STRUCT_LITERAL_FIELD_LIST@201..230
            LBrace@201..202 "{"
            Whitespace@202..203 " "
            STRUCT_LITERAL_FIELD@203..212
              Ident@203..204 "x"
              Colon@204..205 ":"
              Whitespace@205..206 " "
              EXPR_BINARY@206..212
                EXPR_IDENT@206..210
                  PATH@206..210
                    Ident@206..210 "self"
                Dot@210..211 "."
                EXPR_IDENT@211..212
                  PATH@211..212
                    Ident@211..212 "y"
            Comma@212..213 ","
            Whitespace@213..214 " "
            STRUCT_LITERAL_FIELD@214..224
              Ident@214..215 "y"
              Colon@215..216 ":"
              Whitespace@216..217 " "
              EXPR_BINARY@217..224
                EXPR_IDENT@217..221
                  PATH@217..221
                    Ident@217..221 "self"
                Dot@221..222 "."
                EXPR_IDENT@222..224
                  PATH@222..224
                    Ident@222..223 "x"
                    Whitespace@223..224 " "
            RBrace@224..225 "}"
            Whitespace@225..230 "\n    "
        RBrace@230..231 "}"
        Whitespace@231..237 "\n\n    "
    FN@237..293
      FnKeyword@237..239 "fn"
      Whitespace@239..240 " "
      Ident@240..245 "get_x"
      PARAM_LIST@245..265
        LParen@245..246 "("
        PARAM@246..263
          Ident@246..250 "self"
          Colon@250..251 ":"
          Whitespace@251..252 " "
          TYPE_TAPP@252..263
            PATH@252..257
              Ident@252..257 "Point"
            TYPE_PARAM_LIST@257..263
              LBracket@257..258 "["
              TYPE_TAPP@258..259
                PATH@258..259
                  Ident@258..259 "U"
              Comma@259..260 ","
              Whitespace@260..261 " "
              TYPE_TAPP@261..262
                PATH@261..262
                  Ident@261..262 "V"
              RBracket@262..263 "]"
        RParen@263..264 ")"
        Whitespace@264..265 " "
      Arrow@265..267 "->"
      Whitespace@267..268 " "
      TYPE_TAPP@268..270
        PATH@268..270
          Ident@268..269 "U"
          Whitespace@269..270 " "
      BLOCK@270..293
        LBrace@270..271 "{"
        Whitespace@271..280 "\n        "
        EXPR_BINARY@280..291
          EXPR_IDENT@280..284
            PATH@280..284
              Ident@280..284 "self"
          Dot@284..285 "."
          EXPR_IDENT@285..291
            PATH@285..291
              Ident@285..286 "x"
              Whitespace@286..291 "\n    "
        RBrace@291..292 "}"
        Whitespace@292..293 "\n"
    RBrace@293..294 "}"
    Whitespace@294..296 "\n\n"
  FN@296..610
    FnKeyword@296..298 "fn"
    Whitespace@298..299 " "
    Ident@299..303 "main"
    PARAM_LIST@303..306
      LParen@303..304 "("
      RParen@304..305 ")"
      Whitespace@305..306 " "
    Arrow@306..308 "->"
    Whitespace@308..309 " "
    TYPE_UNIT@309..314
      UnitKeyword@309..313 "unit"
      Whitespace@313..314 " "
    BLOCK@314..610
      LBrace@314..315 "{"
      Whitespace@315..320 "\n    "
      STMT_LET@320..380
        LetKeyword@320..323 "let"
        Whitespace@323..324 " "
        PATTERN_VARIABLE@324..326
          Ident@324..326 "p1"
        Colon@326..327 ":"
        Whitespace@327..328 " "
        TYPE_TAPP@328..349
          PATH@328..333
            Ident@328..333 "Point"
          TYPE_PARAM_LIST@333..349
            LBracket@333..334 "["
            TYPE_INT32@334..339
              Int32Keyword@334..339 "int32"
            Comma@339..340 ","
            Whitespace@340..341 " "
            TYPE_STRING@341..347
              StringKeyword@341..347 "string"
            RBracket@347..348 "]"
            Whitespace@348..349 " "
        Eq@349..350 "="
        Whitespace@350..351 " "
        EXPR_CALL@351..374
          EXPR_IDENT@351..361
            PATH@351..361
              Ident@351..356 "Point"
              ColonColon@356..358 "::"
              Ident@358..361 "new"
          ARG_LIST@361..374
            LParen@361..362 "("
            ARG@362..366
              EXPR_INT@362..364
                Int@362..364 "10"
              Comma@364..365 ","
              Whitespace@365..366 " "
            ARG@366..373
              EXPR_STR@366..373
                Str@366..373 "\"hello\""
            RParen@373..374 ")"
        Semi@374..375 ";"
        Whitespace@375..380 "\n    "
      STMT_LET@380..445
        LetKeyword@380..383 "let"
        Whitespace@383..384 " "
        PATTERN_VARIABLE@384..386
          Ident@384..386 "p2"
        Colon@386..387 ":"
        Whitespace@387..388 " "
        TYPE_TAPP@388..410
          PATH@388..393
            Ident@388..393 "Point"
          TYPE_PARAM_LIST@393..410
            LBracket@393..394 "["
            TYPE_STRING@394..400
              StringKeyword@394..400 "string"
            Comma@400..401 ","
            Whitespace@401..402 " "
            TYPE_STRING@402..408
              StringKeyword@402..408 "string"
            RBracket@408..409 "]"
            Whitespace@409..410 " "
        Eq@410..411 "="
        Whitespace@411..412 " "
        EXPR_CALL@412..438
          EXPR_IDENT@412..422
            PATH@412..422
              Ident@412..417 "Point"
              ColonColon@417..419 "::"
              Ident@419..422 "new"
          ARG_LIST@422..438
            LParen@422..423 "("
            ARG@423..431
              EXPR_STR@423..429
                Str@423..429 "\"goml\""
              Comma@429..430 ","
              Whitespace@430..431 " "
            ARG@431..437
              EXPR_STR@431..437
                Str@431..437 "\"lang\""
            RParen@437..438 ")"
        Semi@438..439 ";"
        Whitespace@439..445 "\n\n    "
      STMT_LET@445..491
        LetKeyword@445..448 "let"
        Whitespace@448..449 " "
        PATTERN_VARIABLE@449..451
          Ident@449..451 "p3"
        Colon@451..452 ":"
        Whitespace@452..453 " "
        TYPE_TAPP@453..474
          PATH@453..458
            Ident@453..458 "Point"
          TYPE_PARAM_LIST@458..474
            LBracket@458..459 "["
            TYPE_STRING@459..465
              StringKeyword@459..465 "string"
            Comma@465..466 ","
            Whitespace@466..467 " "
            TYPE_INT32@467..472
              Int32Keyword@467..472 "int32"
            RBracket@472..473 "]"
            Whitespace@473..474 " "
        Eq@474..475 "="
        Whitespace@475..476 " "
        EXPR_CALL@476..485
          EXPR_BINARY@476..483
            EXPR_IDENT@476..478
              PATH@476..478
                Ident@476..478 "p1"
            Dot@478..479 "."
            EXPR_IDENT@479..483
              PATH@479..483
                Ident@479..483 "swap"
          ARG_LIST@483..485
            LParen@483..484 "("
            RParen@484..485 ")"
        Semi@485..486 ";"
        Whitespace@486..491 "\n    "
      STMT_LET@491..516
        LetKeyword@491..494 "let"
        Whitespace@494..495 " "
        PATTERN_VARIABLE@495..496
          Ident@495..496 "x"
        Colon@496..497 ":"
        Whitespace@497..498 " "
        TYPE_INT32@498..504
          Int32Keyword@498..503 "int32"
          Whitespace@503..504 " "
        Eq@504..505 "="
        Whitespace@505..506 " "
        EXPR_BINARY@506..510
          EXPR_IDENT@506..508
            PATH@506..508
              Ident@506..508 "p3"
          Dot@508..509 "."
          EXPR_IDENT@509..510
            PATH@509..510
              Ident@509..510 "y"
        Semi@510..511 ";"
        Whitespace@511..516 "\n    "
      STMT_EXPR@516..557
        EXPR_CALL@516..550
          EXPR_IDENT@516..530
            PATH@516..530
              Ident@516..530 "string_println"
          ARG_LIST@530..550
            LParen@530..531 "("
            ARG@531..549
              EXPR_CALL@531..549
                EXPR_IDENT@531..546
                  PATH@531..546
                    Ident@531..546 "int32_to_string"
                ARG_LIST@546..549
                  LParen@546..547 "("
                  ARG@547..548
                    EXPR_IDENT@547..548
                      PATH@547..548
                        Ident@547..548 "x"
                  RParen@548..549 ")"
            RParen@549..550 ")"
        Semi@550..551 ";"
        Whitespace@551..557 "\n\n    "
      STMT_LET@557..590
        LetKeyword@557..560 "let"
        Whitespace@560..561 " "
        PATTERN_VARIABLE@561..563
          Ident@561..563 "x2"
        Colon@563..564 ":"
        Whitespace@564..565 " "
        TYPE_STRING@565..572
          StringKeyword@565..571 "string"
          Whitespace@571..572 " "
        Eq@572..573 "="
        Whitespace@573..574 " "
        EXPR_CALL@574..584
          EXPR_BINARY@574..582
            EXPR_IDENT@574..576
              PATH@574..576
                Ident@574..576 "p2"
            Dot@576..577 "."
            EXPR_IDENT@577..582
              PATH@577..582
                Ident@577..582 "get_x"
          ARG_LIST@582..584
            LParen@582..583 "("
            RParen@583..584 ")"
        Semi@584..585 ";"
        Whitespace@585..590 "\n    "
      EXPR_CALL@590..609
        EXPR_IDENT@590..604
          PATH@590..604
            Ident@590..604 "string_println"
        ARG_LIST@604..609
          LParen@604..605 "("
          ARG@605..607
            EXPR_IDENT@605..607
              PATH@605..607
                Ident@605..607 "x2"
          RParen@607..608 ")"
          Whitespace@608..609 "\n"
      RBrace@609..610 "}"