FILE@0..3405
  FN@0..57
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "show_u8"
    PARAM_LIST@10..25
      LParen@10..11 "("
      PARAM@11..23
        Ident@11..16 "value"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_UINT8@18..23
          Uint8Keyword@18..23 "uint8"
      RParen@23..24 ")"
      Whitespace@24..25 " "
    Arrow@25..27 "->"
    Whitespace@27..28 " "
    TYPE_UNIT@28..33
      UnitKeyword@28..32 "unit"
      Whitespace@32..33 " "
    BLOCK@33..57
      LBrace@33..34 "{"
      Whitespace@34..39 "\n    "
      EXPR_CALL@39..54
        EXPR_IDENT@39..46
          PATH@39..46
            Ident@39..46 "println"
        ARG_LIST@46..54
          LParen@46..47 "("
          ARG@47..52
            EXPR_IDENT@47..52
              PATH@47..52
                Ident@47..52 "value"
          RParen@52..53 ")"
          Whitespace@53..54 "\n"
      RBrace@54..55 "}"
      Whitespace@55..57 "\n\n"
  FN@57..116
    FnKeyword@57..59 "fn"
    Whitespace@59..60 " "
    Ident@60..68 "show_u16"
    PARAM_LIST@68..84
      LParen@68..69 "("
      PARAM@69..82
        Ident@69..74 "value"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_UINT16@76..82
          Uint16Keyword@76..82 "uint16"
      RParen@82..83 ")"
      Whitespace@83..84 " "
    Arrow@84..86 "->"
    Whitespace@86..87 " "
    TYPE_UNIT@87..92
      UnitKeyword@87..91 "unit"
      Whitespace@91..92 " "
    BLOCK@92..116
      LBrace@92..93 "{"
      Whitespace@93..98 "\n    "
      EXPR_CALL@98..113
        EXPR_IDENT@98..105
          PATH@98..105
            Ident@98..105 "println"
        ARG_LIST@105..113
          LParen@105..106 "("
          ARG@106..111
            EXPR_IDENT@106..111
              PATH@106..111
                Ident@106..111 "value"
          RParen@111..112 ")"
          Whitespace@112..113 "\n"
      RBrace@113..114 "}"
      Whitespace@114..116 "\n\n"
  FN@116..175
    FnKeyword@116..118 "fn"
    Whitespace@118..119 " "
    Ident@119..127 "show_u32"
    PARAM_LIST@127..143
      LParen@127..128 "("
      PARAM@128..141
        Ident@128..133 "value"
        Colon@133..134 ":"
        Whitespace@134..135 " "
        TYPE_UINT32@135..141
          Uint32Keyword@135..141 "uint32"
      RParen@141..142 ")"
      Whitespace@142..143 " "
    Arrow@143..145 "->"
    Whitespace@145..146 " "
    TYPE_UNIT@146..151
      UnitKeyword@146..150 "unit"
      Whitespace@150..151 " "
    BLOCK@151..175
      LBrace@151..152 "{"
      Whitespace@152..157 "\n    "
      EXPR_CALL@157..172
        EXPR_IDENT@157..164
          PATH@157..164
            Ident@157..164 "println"
        ARG_LIST@164..172
          LParen@164..165 "("
          ARG@165..170
            EXPR_IDENT@165..170
              PATH@165..170
                Ident@165..170 "value"
          RParen@170..171 ")"
          Whitespace@171..172 "\n"
      RBrace@172..173 "}"
      Whitespace@173..175 "\n\n"
  FN@175..234
    FnKeyword@175..177 "fn"
    Whitespace@177..178 " "
    Ident@178..186 "show_u64"
    PARAM_LIST@186..202
      LParen@186..187 "("
      PARAM@187..200
        Ident@187..192 "value"
        Colon@192..193 ":"
        Whitespace@193..194 " "
        TYPE_UINT64@194..200
          Uint64Keyword@194..200 "uint64"
      RParen@200..201 ")"
      Whitespace@201..202 " "
    Arrow@202..204 "->"
    Whitespace@204..205 " "
    TYPE_UNIT@205..210
      UnitKeyword@205..209 "unit"
      Whitespace@209..210 " "
    BLOCK@210..234
      LBrace@210..211 "{"
      Whitespace@211..216 "\n    "
      EXPR_CALL@216..231
        EXPR_IDENT@216..223
          PATH@216..223
            Ident@216..223 "println"
        ARG_LIST@223..231
          LParen@223..224 "("
          ARG@224..229
            EXPR_IDENT@224..229
              PATH@224..229
                Ident@224..229 "value"
          RParen@229..230 ")"
          Whitespace@230..231 "\n"
      RBrace@231..232 "}"
      Whitespace@232..234 "\n\n"
  FN@234..290
    FnKeyword@234..236 "fn"
    Whitespace@236..237 " "
    Ident@237..244 "show_i8"
    PARAM_LIST@244..258
      LParen@244..245 "("
      PARAM@245..256
        Ident@245..250 "value"
        Colon@250..251 ":"
        Whitespace@251..252 " "
        TYPE_INT8@252..256
          Int8Keyword@252..256 "int8"
      RParen@256..257 ")"
      Whitespace@257..258 " "
    Arrow@258..260 "->"
    Whitespace@260..261 " "
    TYPE_UNIT@261..266
      UnitKeyword@261..265 "unit"
      Whitespace@265..266 " "
    BLOCK@266..290
      LBrace@266..267 "{"
      Whitespace@267..272 "\n    "
      EXPR_CALL@272..287
        EXPR_IDENT@272..279
          PATH@272..279
            Ident@272..279 "println"
        ARG_LIST@279..287
          LParen@279..280 "("
          ARG@280..285
            EXPR_IDENT@280..285
              PATH@280..285
                Ident@280..285 "value"
          RParen@285..286 ")"
          Whitespace@286..287 "\n"
      RBrace@287..288 "}"
      Whitespace@288..290 "\n\n"
  FN@290..348
    FnKeyword@290..292 "fn"
    Whitespace@292..293 " "
    Ident@293..301 "show_i16"
    PARAM_LIST@301..316
      LParen@301..302 "("
      PARAM@302..314
        Ident@302..307 "value"
        Colon@307..308 ":"
        Whitespace@308..309 " "
        TYPE_INT16@309..314
          Int16Keyword@309..314 "int16"
      RParen@314..315 ")"
      Whitespace@315..316 " "
    Arrow@316..318 "->"
    Whitespace@318..319 " "
    TYPE_UNIT@319..324
      UnitKeyword@319..323 "unit"
      Whitespace@323..324 " "
    BLOCK@324..348
      LBrace@324..325 "{"
      Whitespace@325..330 "\n    "
      EXPR_CALL@330..345
        EXPR_IDENT@330..337
          PATH@330..337
            Ident@330..337 "println"
        ARG_LIST@337..345
          LParen@337..338 "("
          ARG@338..343
            EXPR_IDENT@338..343
              PATH@338..343
                Ident@338..343 "value"
          RParen@343..344 ")"
          Whitespace@344..345 "\n"
      RBrace@345..346 "}"
      Whitespace@346..348 "\n\n"
  FN@348..406
    FnKeyword@348..350 "fn"
    Whitespace@350..351 " "
    Ident@351..359 "show_i32"
    PARAM_LIST@359..374
      LParen@359..360 "("
      PARAM@360..372
        Ident@360..365 "value"
        Colon@365..366 ":"
        Whitespace@366..367 " "
        TYPE_INT32@367..372
          Int32Keyword@367..372 "int32"
      RParen@372..373 ")"
      Whitespace@373..374 " "
    Arrow@374..376 "->"
    Whitespace@376..377 " "
    TYPE_UNIT@377..382
      UnitKeyword@377..381 "unit"
      Whitespace@381..382 " "
    BLOCK@382..406
      LBrace@382..383 "{"
      Whitespace@383..388 "\n    "
      EXPR_CALL@388..403
        EXPR_IDENT@388..395
          PATH@388..395
            Ident@388..395 "println"
        ARG_LIST@395..403
          LParen@395..396 "("
          ARG@396..401
            EXPR_IDENT@396..401
              PATH@396..401
                Ident@396..401 "value"
          RParen@401..402 ")"
          Whitespace@402..403 "\n"
      RBrace@403..404 "}"
      Whitespace@404..406 "\n\n"
  FN@406..464
    FnKeyword@406..408 "fn"
    Whitespace@408..409 " "
    Ident@409..417 "show_i64"
    PARAM_LIST@417..432
      LParen@417..418 "("
      PARAM@418..430
        Ident@418..423 "value"
        Colon@423..424 ":"
        Whitespace@424..425 " "
        TYPE_INT64@425..430
          Int64Keyword@425..430 "int64"
      RParen@430..431 ")"
      Whitespace@431..432 " "
    Arrow@432..434 "->"
    Whitespace@434..435 " "
    TYPE_UNIT@435..440
      UnitKeyword@435..439 "unit"
      Whitespace@439..440 " "
    BLOCK@440..464
      LBrace@440..441 "{"
      Whitespace@441..446 "\n    "
      EXPR_CALL@446..461
        EXPR_IDENT@446..453
          PATH@446..453
            Ident@446..453 "println"
        ARG_LIST@453..461
          LParen@453..454 "("
          ARG@454..459
            EXPR_IDENT@454..459
              PATH@454..459
                Ident@454..459 "value"
          RParen@459..460 ")"
          Whitespace@460..461 "\n"
      RBrace@461..462 "}"
      Whitespace@462..464 "\n\n"
  FN@464..1349
    FnKeyword@464..466 "fn"
    Whitespace@466..467 " "
    Ident@467..479 "unsigned_ops"
    PARAM_LIST@479..482
      LParen@479..480 "("
      RParen@480..481 ")"
      Whitespace@481..482 " "
    Arrow@482..484 "->"
    Whitespace@484..485 " "
    TYPE_UNIT@485..490
      UnitKeyword@485..489 "unit"
      Whitespace@489..490 " "
    BLOCK@490..1349
      LBrace@490..491 "{"
      Whitespace@491..496 "\n    "
      STMT_EXPR@496..517
        EXPR_CALL@496..511
          EXPR_IDENT@496..503
            PATH@496..503
              Ident@496..503 "show_u8"
          ARG_LIST@503..511
            LParen@503..504 "("
            ARG@504..510
              EXPR_BINARY@504..510
                EXPR_INT@504..507
                  Int@504..506 "13"
                  Whitespace@506..507 " "
                Percent@507..508 "%"
                Whitespace@508..509 " "
                EXPR_INT@509..510
                  Int@509..510 "5"
            RParen@510..511 ")"
        Semi@511..512 ";"
        Whitespace@512..517 "\n    "
      STMT_EXPR@517..539
        EXPR_CALL@517..533
          EXPR_IDENT@517..524
            PATH@517..524
              Ident@517..524 "show_u8"
          ARG_LIST@524..533
            LParen@524..525 "("
            ARG@525..532
              EXPR_BINARY@525..532
                EXPR_INT@525..528
                  Int@525..527 "12"
                  Whitespace@527..528 " "
                Amp@528..529 "&"
                Whitespace@529..530 " "
                EXPR_INT@530..532
                  Int@530..532 "10"
            RParen@532..533 ")"
        Semi@533..534 ";"
        Whitespace@534..539 "\n    "
      STMT_EXPR@539..560
        EXPR_CALL@539..554
          EXPR_IDENT@539..546
            PATH@539..546
              Ident@539..546 "show_u8"
          ARG_LIST@546..554
            LParen@546..547 "("
            ARG@547..553
              EXPR_BINARY@547..553
                EXPR_INT@547..550
                  Int@547..549 "12"
                  Whitespace@549..550 " "
                Pipe@550..551 "|"
                Whitespace@551..552 " "
                EXPR_INT@552..553
                  Int@552..553 "3"
            RParen@553..554 ")"
        Semi@554..555 ";"
        Whitespace@555..560 "\n    "
      STMT_EXPR@560..582
        EXPR_CALL@560..576
          EXPR_IDENT@560..567
            PATH@560..567
              Ident@560..567 "show_u8"
          ARG_LIST@567..576
            LParen@567..568 "("
            ARG@568..575
              EXPR_BINARY@568..575
                EXPR_INT@568..571
                  Int@568..570 "12"
                  Whitespace@570..571 " "
                Caret@571..572 "^"
                Whitespace@572..573 " "
                EXPR_INT@573..575
                  Int@573..575 "10"
            RParen@575..576 ")"
        Semi@576..577 ";"
        Whitespace@577..582 "\n    "
      STMT_EXPR@582..603
        EXPR_CALL@582..597
          EXPR_IDENT@582..589
            PATH@582..589
              Ident@582..589 "show_u8"
          ARG_LIST@589..597
            LParen@589..590 "("
            ARG@590..596
              EXPR_BINARY@590..596
                EXPR_INT@590..592
                  Int@590..591 "1"
                  Whitespace@591..592 " "
                LessLess@592..594 "<<"
                Whitespace@594..595 " "
                EXPR_INT@595..596
                  Int@595..596 "7"
            RParen@596..597 ")"
        Semi@597..598 ";"
        Whitespace@598..603 "\n    "
      STMT_EXPR@603..626
        EXPR_CALL@603..620
          EXPR_IDENT@603..610
            PATH@603..610
              Ident@603..610 "show_u8"
          ARG_LIST@610..620
            LParen@610..611 "("
            ARG@611..619
              EXPR_BINARY@611..619
                EXPR_INT@611..615
                  Int@611..614 "128"
                  Whitespace@614..615 " "
                GreaterGreater@615..617 ">>"
                Whitespace@617..618 " "
                EXPR_INT@618..619
                  Int@618..619 "7"
            RParen@619..620 ")"
        Semi@620..621 ";"
        Whitespace@621..626 "\n    "
      STMT_EXPR@626..643
        EXPR_CALL@626..637
          EXPR_IDENT@626..633
            PATH@626..633
              Ident@626..633 "show_u8"
          ARG_LIST@633..637
            LParen@633..634 "("
            ARG@634..636
              EXPR_PREFIX@634..636
                Tilde@634..635 "~"
                EXPR_INT@635..636
                  Int@635..636 "0"
            RParen@636..637 ")"
        Semi@637..638 ";"
        Whitespace@638..643 "\n    "
      STMT_EXPR@643..665
        EXPR_CALL@643..658
          EXPR_IDENT@643..650
            PATH@643..650
              Ident@643..650 "show_u8"
          ARG_LIST@650..658
            LParen@650..651 "("
            ARG@651..657
              EXPR_BINARY@651..657
                EXPR_INT@651..653
                  Int@651..652 "1"
                  Whitespace@652..653 " "
                LessLess@653..655 "<<"
                Whitespace@655..656 " "
                EXPR_INT@656..657
                  Int@656..657 "8"
            RParen@657..658 ")"
        Semi@658..659 ";"
        Whitespace@659..665 "\n\n    "
      STMT_EXPR@665..690
        EXPR_CALL@665..684
          EXPR_IDENT@665..673
            PATH@665..673
              Ident@665..673 "show_u16"
          ARG_LIST@673..684
            LParen@673..674 "("
            ARG@674..683
              EXPR_BINARY@674..683
                EXPR_INT@674..678
                  Int@674..677 "513"
                  Whitespace@677..678 " "
                Percent@678..679 "%"
                Whitespace@679..680 " "
                EXPR_INT@680..683
                  Int@680..683 "256"
            RParen@683..684 ")"
        Semi@684..685 ";"
        Whitespace@685..690 "\n    "
      STMT_EXPR@690..716
        EXPR_CALL@690..710
          EXPR_IDENT@690..698
            PATH@690..698
              Ident@690..698 "show_u16"
          ARG_LIST@698..710
            LParen@698..699 "("
            ARG@699..709
              EXPR_BINARY@699..709
                EXPR_INT@699..704
                  Int@699..703 "3855"
                  Whitespace@703..704 " "
                Amp@704..705 "&"
                Whitespace@705..706 " "
                EXPR_INT@706..709
                  Int@706..709 "255"
            RParen@709..710 ")"
        Semi@710..711 ";"
        Whitespace@711..716 "\n    "
      STMT_EXPR@716..741
        EXPR_CALL@716..735
          EXPR_IDENT@716..724
            PATH@716..724
              Ident@716..724 "show_u16"
          ARG_LIST@724..735
            LParen@724..725 "("
            ARG@725..734
              EXPR_BINARY@725..734
                EXPR_INT@725..730
                  Int@725..729 "3840"
                  Whitespace@729..730 " "
                Pipe@730..731 "|"
                Whitespace@731..732 " "
                EXPR_INT@732..734
                  Int@732..734 "15"
            RParen@734..735 ")"
        Semi@735..736 ";"
        Whitespace@736..741 "\n    "
      STMT_EXPR@741..769
        EXPR_CALL@741..763
          EXPR_IDENT@741..749
            PATH@741..749
              Ident@741..749 "show_u16"
          ARG_LIST@749..763
            LParen@749..750 "("
            ARG@750..762
              EXPR_BINARY@750..762
                EXPR_INT@750..756
                  Int@750..755 "43690"
                  Whitespace@755..756 " "
                Caret@756..757 "^"
                Whitespace@757..758 " "
                EXPR_INT@758..762
                  Int@758..762 "3855"
            RParen@762..763 ")"
        Semi@763..764 ";"
        Whitespace@764..769 "\n    "
      STMT_EXPR@769..792
        EXPR_CALL@769..786
          EXPR_IDENT@769..777
            PATH@769..777
              Ident@769..777 "show_u16"
          ARG_LIST@777..786
            LParen@777..778 "("
            ARG@778..785
              EXPR_BINARY@778..785
                EXPR_INT@778..780
                  Int@778..779 "1"
                  Whitespace@779..780 " "
                LessLess@780..782 "<<"
                Whitespace@782..783 " "
                EXPR_INT@783..785
                  Int@783..785 "15"
            RParen@785..786 ")"
        Semi@786..787 ";"
        Whitespace@787..792 "\n    "
      STMT_EXPR@792..819
        EXPR_CALL@792..813
          EXPR_IDENT@792..800
            PATH@792..800
              Ident@792..800 "show_u16"
          ARG_LIST@800..813
            LParen@800..801 "("
            ARG@801..812
              EXPR_BINARY@801..812
                EXPR_INT@801..807
                  Int@801..806 "32768"
                  Whitespace@806..807 " "
                GreaterGreater@807..809 ">>"
                Whitespace@809..810 " "
                EXPR_INT@810..812
                  Int@810..812 "15"
            RParen@812..813 ")"
        Semi@813..814 ";"
        Whitespace@814..819 "\n    "
      STMT_EXPR@819..838
        EXPR_CALL@819..831
          EXPR_IDENT@819..827
            PATH@819..827
              Ident@819..827 "show_u16"
          ARG_LIST@827..831
            LParen@827..828 "("
            ARG@828..830
              EXPR_PREFIX@828..830
                Tilde@828..829 "~"
                EXPR_INT@829..830
                  Int@829..830 "0"
            RParen@830..831 ")"
        Semi@831..832 ";"
        Whitespace@832..838 "\n\n    "
      STMT_EXPR@838..871
        EXPR_CALL@838..865
          EXPR_IDENT@838..846
            PATH@838..846
              Ident@838..846 "show_u32"
          ARG_LIST@846..865
            LParen@846..847 "("
            ARG@847..864
              EXPR_BINARY@847..864
                EXPR_INT@847..858
                  Int@847..857 "1000000001"
                  Whitespace@857..858 " "
                Percent@858..859 "%"
                Whitespace@859..860 " "
                EXPR_INT@860..864
                  Int@860..864 "1000"
            RParen@864..865 ")"
        Semi@865..866 ";"
        Whitespace@866..871 "\n    "
      STMT_EXPR@871..909
        EXPR_CALL@871..903
          EXPR_IDENT@871..879
            PATH@871..879
              Ident@871..879 "show_u32"
          ARG_LIST@879..903
            LParen@879..880 "("
            ARG@880..902
              EXPR_BINARY@880..902
                EXPR_INT@880..891
                  Int@880..890 "4042322160"
                  Whitespace@890..891 " "
                Amp@891..892 "&"
                Whitespace@892..893 " "
                EXPR_INT@893..902
                  Int@893..902 "252645135"
            RParen@902..903 ")"
        Semi@903..904 ";"
        Whitespace@904..909 "\n    "
      STMT_EXPR@909..947
        EXPR_CALL@909..941
          EXPR_IDENT@909..917
            PATH@909..917
              Ident@909..917 "show_u32"
          ARG_LIST@917..941
            LParen@917..918 "("
            ARG@918..940
              EXPR_BINARY@918..940
                EXPR_INT@918..929
                  Int@918..928 "4042322160"
                  Whitespace@928..929 " "
                Pipe@929..930 "|"
                Whitespace@930..931 " "
                EXPR_INT@931..940
                  Int@931..940 "252645135"
            RParen@940..941 ")"
        Semi@941..942 ";"
        Whitespace@942..947 "\n    "
      STMT_EXPR@947..985
        EXPR_CALL@947..979
          EXPR_IDENT@947..955
            PATH@947..955
              Ident@947..955 "show_u32"
          ARG_LIST@955..979
            LParen@955..956 "("
            ARG@956..978
              EXPR_BINARY@956..978
                EXPR_INT@956..967
                  Int@956..966 "4042322160"
                  Whitespace@966..967 " "
                Caret@967..968 "^"
                Whitespace@968..969 " "
                EXPR_INT@969..978
                  Int@969..978 "252645135"
            RParen@978..979 ")"
        Semi@979..980 ";"
        Whitespace@980..985 "\n    "
      STMT_EXPR@985..1008
        EXPR_CALL@985..1002
          EXPR_IDENT@985..993
            PATH@985..993
              Ident@985..993 "show_u32"
          ARG_LIST@993..1002
            LParen@993..994 "("
            ARG@994..1001
              EXPR_BINARY@994..1001
                EXPR_INT@994..996
                  Int@994..995 "1"
                  Whitespace@995..996 " "
                LessLess@996..998 "<<"
                Whitespace@998..999 " "
                EXPR_INT@999..1001
                  Int@999..1001 "31"
            RParen@1001..1002 ")"
        Semi@1002..1003 ";"
        Whitespace@1003..1008 "\n    "
      STMT_EXPR@1008..1040
        EXPR_CALL@1008..1034
          EXPR_IDENT@1008..1016
            PATH@1008..1016
              Ident@1008..1016 "show_u32"
          ARG_LIST@1016..1034
            LParen@1016..1017 "("
            ARG@1017..1033
              EXPR_BINARY@1017..1033
                EXPR_INT@1017..1028
                  Int@1017..1027 "2147483648"
                  Whitespace@1027..1028 " "
                GreaterGreater@1028..1030 ">>"
                Whitespace@1030..1031 " "
                EXPR_INT@1031..1033
                  Int@1031..1033 "31"
            RParen@1033..1034 ")"
        Semi@1034..1035 ";"
        Whitespace@1035..1040 "\n    "
      STMT_EXPR@1040..1059
        EXPR_CALL@1040..1052
          EXPR_IDENT@1040..1048
            PATH@1040..1048
              Ident@1040..1048 "show_u32"
          ARG_LIST@1048..1052
            LParen@1048..1049 "("
            ARG@1049..1051
              EXPR_PREFIX@1049..1051
                Tilde@1049..1050 "~"
                EXPR_INT@1050..1051
                  Int@1050..1051 "0"
            RParen@1051..1052 ")"
        Semi@1052..1053 ";"
        Whitespace@1053..1059 "\n\n    "
      STMT_EXPR@1059..1095
        EXPR_CALL@1059..1089
          EXPR_IDENT@1059..1067
            PATH@1059..1067
              Ident@1059..1067 "show_u64"
          ARG_LIST@1067..1089
            LParen@1067..1068 "("
            ARG@1068..1088
              EXPR_BINARY@1068..1088
                EXPR_INT@1068..1082
                  Int@1068..1081 "1000000000001"
                  Whitespace@1081..1082 " "
                Percent@1082..1083 "%"
                Whitespace@1083..1084 " "
                EXPR_INT@1084..1088
                  Int@1084..1088 "1000"
            RParen@1088..1089 ")"
        Semi@1089..1090 ";"
        Whitespace@1090..1095 "\n    "
      STMT_EXPR@1095..1153
        EXPR_CALL@1095..1147
          EXPR_IDENT@1095..1103
            PATH@1095..1103
              Ident@1095..1103 "show_u64"
          ARG_LIST@1103..1147
            LParen@1103..1104 "("
            ARG@1104..1146
              EXPR_BINARY@1104..1146
                EXPR_INT@1104..1125
                  Int@1104..1124 "17361641481138401520"
                  Whitespace@1124..1125 " "
                Amp@1125..1126 "&"
                Whitespace@1126..1127 " "
                EXPR_INT@1127..1146
                  Int@1127..1146 "1085102592571150095"
            RParen@1146..1147 ")"
        Semi@1147..1148 ";"
        Whitespace@1148..1153 "\n    "
      STMT_EXPR@1153..1211
        EXPR_CALL@1153..1205
          EXPR_IDENT@1153..1161
            PATH@1153..1161
              Ident@1153..1161 "show_u64"
          ARG_LIST@1161..1205
            LParen@1161..1162 "("
            ARG@1162..1204
              EXPR_BINARY@1162..1204
                EXPR_INT@1162..1183
                  Int@1162..1182 "17361641481138401520"
                  Whitespace@1182..1183 " "
                Pipe@1183..1184 "|"
                Whitespace@1184..1185 " "
                EXPR_INT@1185..1204
                  Int@1185..1204 "1085102592571150095"
            RParen@1204..1205 ")"
        Semi@1205..1206 ";"
        Whitespace@1206..1211 "\n    "
      STMT_EXPR@1211..1269
        EXPR_CALL@1211..1263
          EXPR_IDENT@1211..1219
            PATH@1211..1219
              Ident@1211..1219 "show_u64"
          ARG_LIST@1219..1263
            LParen@1219..1220 "("
            ARG@1220..1262
              EXPR_BINARY@1220..1262
                EXPR_INT@1220..1241
                  Int@1220..1240 "17361641481138401520"
                  Whitespace@1240..1241 " "
                Caret@1241..1242 "^"
                Whitespace@1242..1243 " "
                EXPR_INT@1243..1262
                  Int@1243..1262 "1085102592571150095"
            RParen@1262..1263 ")"
        Semi@1263..1264 ";"
        Whitespace@1264..1269 "\n    "
      STMT_EXPR@1269..1292
        EXPR_CALL@1269..1286
          EXPR_IDENT@1269..1277
            PATH@1269..1277
              Ident@1269..1277 "show_u64"
          ARG_LIST@1277..1286
            LParen@1277..1278 "("
            ARG@1278..1285
              EXPR_BINARY@1278..1285
                EXPR_INT@1278..1280
                  Int@1278..1279 "1"
                  Whitespace@1279..1280 " "
                LessLess@1280..1282 "<<"
                Whitespace@1282..1283 " "
                EXPR_INT@1283..1285
                  Int@1283..1285 "63"
            RParen@1285..1286 ")"
        Semi@1286..1287 ";"
        Whitespace@1287..1292 "\n    "
      STMT_EXPR@1292..1333
        EXPR_CALL@1292..1327
          EXPR_IDENT@1292..1300
            PATH@1292..1300
              Ident@1292..1300 "show_u64"
          ARG_LIST@1300..1327
            LParen@1300..1301 "("
            ARG@1301..1326
              EXPR_BINARY@1301..1326
                EXPR_INT@1301..1321
                  Int@1301..1320 "9223372036854775808"
                  Whitespace@1320..1321 " "
                GreaterGreater@1321..1323 ">>"
                Whitespace@1323..1324 " "
                EXPR_INT@1324..1326
                  Int@1324..1326 "63"
            RParen@1326..1327 ")"
        Semi@1327..1328 ";"
        Whitespace@1328..1333 "\n    "
      EXPR_CALL@1333..1346
        EXPR_IDENT@1333..1341
          PATH@1333..1341
            Ident@1333..1341 "show_u64"
        ARG_LIST@1341..1346
          LParen@1341..1342 "("
          ARG@1342..1344
            EXPR_PREFIX@1342..1344
              Tilde@1342..1343 "~"
              EXPR_INT@1343..1344
                Int@1343..1344 "0"
          RParen@1344..1345 ")"
          Whitespace@1345..1346 "\n"
      RBrace@1346..1347 "}"
      Whitespace@1347..1349 "\n\n"
  FN@1349..1834
    FnKeyword@1349..1351 "fn"
    Whitespace@1351..1352 " "
    Ident@1352..1362 "signed_ops"
    PARAM_LIST@1362..1365
      LParen@1362..1363 "("
      RParen@1363..1364 ")"
      Whitespace@1364..1365 " "
    Arrow@1365..1367 "->"
    Whitespace@1367..1368 " "
    TYPE_UNIT@1368..1373
      UnitKeyword@1368..1372 "unit"
      Whitespace@1372..1373 " "
    BLOCK@1373..1834
      LBrace@1373..1374 "{"
      Whitespace@1374..1379 "\n    "
      STMT_EXPR@1379..1401
        EXPR_CALL@1379..1395
          EXPR_IDENT@1379..1386
            PATH@1379..1386
              Ident@1379..1386 "show_i8"
          ARG_LIST@1386..1395
            LParen@1386..1387 "("
            ARG@1387..1394
              EXPR_BINARY@1387..1394
                EXPR_PREFIX@1387..1391
                  Minus@1387..1388 "-"
                  EXPR_INT@1388..1391
                    Int@1388..1390 "13"
                    Whitespace@1390..1391 " "
                Percent@1391..1392 "%"
                Whitespace@1392..1393 " "
                EXPR_INT@1393..1394
                  Int@1393..1394 "5"
            RParen@1394..1395 ")"
        Semi@1395..1396 ";"
        Whitespace@1396..1401 "\n    "
      STMT_EXPR@1401..1423
        EXPR_CALL@1401..1417
          EXPR_IDENT@1401..1408
            PATH@1401..1408
              Ident@1401..1408 "show_i8"
          ARG_LIST@1408..1417
            LParen@1408..1409 "("
            ARG@1409..1416
              EXPR_BINARY@1409..1416
                EXPR_PREFIX@1409..1412
                  Minus@1409..1410 "-"
                  EXPR_INT@1410..1412
                    Int@1410..1411 "8"
                    Whitespace@1411..1412 " "
                GreaterGreater@1412..1414 ">>"
                Whitespace@1414..1415 " "
                EXPR_INT@1415..1416
                  Int@1415..1416 "2"
            RParen@1416..1417 ")"
        Semi@1417..1418 ";"
        Whitespace@1418..1423 "\n    "
      STMT_EXPR@1423..1444
        EXPR_CALL@1423..1438
          EXPR_IDENT@1423..1430
            PATH@1423..1430
              Ident@1423..1430 "show_i8"
          ARG_LIST@1430..1438
            LParen@1430..1431 "("
            ARG@1431..1437
              EXPR_BINARY@1431..1437
                EXPR_INT@1431..1433
                  Int@1431..1432 "1"
                  Whitespace@1432..1433 " "
                LessLess@1433..1435 "<<"
                Whitespace@1435..1436 " "
                EXPR_INT@1436..1437
                  Int@1436..1437 "6"
            RParen@1437..1438 ")"
        Semi@1438..1439 ";"
        Whitespace@1439..1444 "\n    "
      STMT_EXPR@1444..1461
        EXPR_CALL@1444..1455
          EXPR_IDENT@1444..1451
            PATH@1444..1451
              Ident@1444..1451 "show_i8"
          ARG_LIST@1451..1455
            LParen@1451..1452 "("
            ARG@1452..1454
              EXPR_PREFIX@1452..1454
                Tilde@1452..1453 "~"
                EXPR_INT@1453..1454
                  Int@1453..1454 "0"
            RParen@1454..1455 ")"
        Semi@1455..1456 ";"
        Whitespace@1456..1461 "\n    "
      STMT_EXPR@1461..1484
        EXPR_CALL@1461..1477
          EXPR_IDENT@1461..1468
            PATH@1461..1468
              Ident@1461..1468 "show_i8"
          ARG_LIST@1468..1477
            LParen@1468..1469 "("
            ARG@1469..1476
              EXPR_BINARY@1469..1476
                EXPR_PREFIX@1469..1472
                  Minus@1469..1470 "-"
                  EXPR_INT@1470..1472
                    Int@1470..1471 "1"
                    Whitespace@1471..1472 " "
                GreaterGreater@1472..1474 ">>"
                Whitespace@1474..1475 " "
                EXPR_INT@1475..1476
                  Int@1475..1476 "7"
            RParen@1476..1477 ")"
        Semi@1477..1478 ";"
        Whitespace@1478..1484 "\n\n    "
      STMT_EXPR@1484..1510
        EXPR_CALL@1484..1504
          EXPR_IDENT@1484..1492
            PATH@1484..1492
              Ident@1484..1492 "show_i16"
          ARG_LIST@1492..1504
            LParen@1492..1493 "("
            ARG@1493..1503
              EXPR_BINARY@1493..1503
                EXPR_PREFIX@1493..1498
                  Minus@1493..1494 "-"
                  EXPR_INT@1494..1498
                    Int@1494..1497 "513"
                    Whitespace@1497..1498 " "
                Percent@1498..1499 "%"
                Whitespace@1499..1500 " "
                EXPR_INT@1500..1503
                  Int@1500..1503 "256"
            RParen@1503..1504 ")"
        Semi@1504..1505 ";"
        Whitespace@1505..1510 "\n    "
      STMT_EXPR@1510..1544
        EXPR_CALL@1510..1538
          EXPR_IDENT@1510..1518
            PATH@1510..1518
              Ident@1510..1518 "show_i16"
          ARG_LIST@1518..1538
            LParen@1518..1519 "("
            ARG@1519..1537
              EXPR_BINARY@1519..1537
                EXPR_PAREN@1519..1532
                  LParen@1519..1520 "("
                  EXPR_BINARY@1520..1530
                    EXPR_PREFIX@1520..1527
                      Minus@1520..1521 "-"
                      EXPR_INT@1521..1527
                        Int@1521..1526 "32767"
                        Whitespace@1526..1527 " "
                    Minus@1527..1528 "-"
                    Whitespace@1528..1529 " "
                    EXPR_INT@1529..1530
                      Int@1529..1530 "1"
                  RParen@1530..1531 ")"
                  Whitespace@1531..1532 " "
                GreaterGreater@1532..1534 ">>"
                Whitespace@1534..1535 " "
                EXPR_INT@1535..1537
                  Int@1535..1537 "15"
            RParen@1537..1538 ")"
        Semi@1538..1539 ";"
        Whitespace@1539..1544 "\n    "
      STMT_EXPR@1544..1567
        EXPR_CALL@1544..1561
          EXPR_IDENT@1544..1552
            PATH@1544..1552
              Ident@1544..1552 "show_i16"
          ARG_LIST@1552..1561
            LParen@1552..1553 "("
            ARG@1553..1560
              EXPR_BINARY@1553..1560
                EXPR_INT@1553..1555
                  Int@1553..1554 "1"
                  Whitespace@1554..1555 " "
                LessLess@1555..1557 "<<"
                Whitespace@1557..1558 " "
                EXPR_INT@1558..1560
                  Int@1558..1560 "14"
            RParen@1560..1561 ")"
        Semi@1561..1562 ";"
        Whitespace@1562..1567 "\n    "
      STMT_EXPR@1567..1588
        EXPR_CALL@1567..1581
          EXPR_IDENT@1567..1575
            PATH@1567..1575
              Ident@1567..1575 "show_i16"
          ARG_LIST@1575..1581
            LParen@1575..1576 "("
            ARG@1576..1580
              EXPR_PREFIX@1576..1580
                Tilde@1576..1577 "~"
                EXPR_INT@1577..1580
                  Int@1577..1580 "255"
            RParen@1580..1581 ")"
        Semi@1581..1582 ";"
        Whitespace@1582..1588 "\n\n    "
      STMT_EXPR@1588..1622
        EXPR_CALL@1588..1616
          EXPR_IDENT@1588..1596
            PATH@1588..1596
              Ident@1588..1596 "show_i32"
          ARG_LIST@1596..1616
            LParen@1596..1597 "("
            ARG@1597..1615
              EXPR_BINARY@1597..1615
                EXPR_PREFIX@1597..1609
                  Minus@1597..1598 "-"
                  EXPR_INT@1598..1609
                    Int@1598..1608 "1000000001"
                    Whitespace@1608..1609 " "
                Percent@1609..1610 "%"
                Whitespace@1610..1611 " "
                EXPR_INT@1611..1615
                  Int@1611..1615 "1000"
            RParen@1615..1616 ")"
        Semi@1616..1617 ";"
        Whitespace@1617..1622 "\n    "
      STMT_EXPR@1622..1661
        EXPR_CALL@1622..1655
          EXPR_IDENT@1622..1630
            PATH@1622..1630
              Ident@1622..1630 "show_i32"
          ARG_LIST@1630..1655
            LParen@1630..1631 "("
            ARG@1631..1654
              EXPR_BINARY@1631..1654
                EXPR_PAREN@1631..1649
                  LParen@1631..1632 "("
                  EXPR_BINARY@1632..1647
                    EXPR_PREFIX@1632..1644
                      Minus@1632..1633 "-"
                      EXPR_INT@1633..1644
                        Int@1633..1643 "2147483647"
                        Whitespace@1643..1644 " "
                    Minus@1644..1645 "-"
                    Whitespace@1645..1646 " "
                    EXPR_INT@1646..1647
                      Int@1646..1647 "1"
                  RParen@1647..1648 ")"
                  Whitespace@1648..1649 " "
                GreaterGreater@1649..1651 ">>"
                Whitespace@1651..1652 " "
                EXPR_INT@1652..1654
                  Int@1652..1654 "31"
            RParen@1654..1655 ")"
        Semi@1655..1656 ";"
        Whitespace@1656..1661 "\n    "
      STMT_EXPR@1661..1684
        EXPR_CALL@1661..1678
          EXPR_IDENT@1661..1669
            PATH@1661..1669
              Ident@1661..1669 "show_i32"
          ARG_LIST@1669..1678
            LParen@1669..1670 "("
            ARG@1670..1677
              EXPR_BINARY@1670..1677
                EXPR_INT@1670..1672
                  Int@1670..1671 "1"
                  Whitespace@1671..1672 " "
                LessLess@1672..1674 "<<"
                Whitespace@1674..1675 " "
                EXPR_INT@1675..1677
                  Int@1675..1677 "30"
            RParen@1677..1678 ")"
        Semi@1678..1679 ";"
        Whitespace@1679..1684 "\n    "
      STMT_EXPR@1684..1707
        EXPR_CALL@1684..1700
          EXPR_IDENT@1684..1692
            PATH@1684..1692
              Ident@1684..1692 "show_i32"
          ARG_LIST@1692..1700
            LParen@1692..1693 "("
            ARG@1693..1699
              EXPR_PREFIX@1693..1699
                Tilde@1693..1694 "~"
                EXPR_INT@1694..1699
                  Int@1694..1699 "65535"
            RParen@1699..1700 ")"
        Semi@1700..1701 ";"
        Whitespace@1701..1707 "\n\n    "
      STMT_EXPR@1707..1744
        EXPR_CALL@1707..1738
          EXPR_IDENT@1707..1715
            PATH@1707..1715
              Ident@1707..1715 "show_i64"
          ARG_LIST@1715..1738
            LParen@1715..1716 "("
            ARG@1716..1737
              EXPR_BINARY@1716..1737
                EXPR_PREFIX@1716..1731
                  Minus@1716..1717 "-"
                  EXPR_INT@1717..1731
                    Int@1717..1730 "1000000000001"
                    Whitespace@1730..1731 " "
                Percent@1731..1732 "%"
                Whitespace@1732..1733 " "
                EXPR_INT@1733..1737
                  Int@1733..1737 "1000"
            RParen@1737..1738 ")"
        Semi@1738..1739 ";"
        Whitespace@1739..1744 "\n    "
      STMT_EXPR@1744..1786
        EXPR_CALL@1744..1780
          EXPR_IDENT@1744..1752
            PATH@1744..1752
              Ident@1744..1752 "show_i64"
          ARG_LIST@1752..1780
            LParen@1752..1753 "("
            ARG@1753..1779
              EXPR_BINARY@1753..1779
                EXPR_PREFIX@1753..1774
                  Minus@1753..1754 "-"
                  EXPR_INT@1754..1774
                    Int@1754..1773 "9223372036854775807"
                    Whitespace@1773..1774 " "
                GreaterGreater@1774..1776 ">>"
                Whitespace@1776..1777 " "
                EXPR_INT@1777..1779
                  Int@1777..1779 "62"
            RParen@1779..1780 ")"
        Semi@1780..1781 ";"
        Whitespace@1781..1786 "\n    "
      STMT_EXPR@1786..1809
        EXPR_CALL@1786..1803
          EXPR_IDENT@1786..1794
            PATH@1786..1794
              Ident@1786..1794 "show_i64"
          ARG_LIST@1794..1803
            LParen@1794..1795 "("
            ARG@1795..1802
              EXPR_BINARY@1795..1802
                EXPR_INT@1795..1797
                  Int@1795..1796 "1"
                  Whitespace@1796..1797 " "
                LessLess@1797..1799 "<<"
                Whitespace@1799..1800 " "
                EXPR_INT@1800..1802
                  Int@1800..1802 "62"
            RParen@1802..1803 ")"
        Semi@1803..1804 ";"
        Whitespace@1804..1809 "\n    "
      EXPR_CALL@1809..1831
        EXPR_IDENT@1809..1817
          PATH@1809..1817
            Ident@1809..1817 "show_i64"
        ARG_LIST@1817..1831
          LParen@1817..1818 "("
          ARG@1818..1829
            EXPR_PREFIX@1818..1829
              Tilde@1818..1819 "~"
              EXPR_INT@1819..1829
                Int@1819..1829 "4294967295"
          RParen@1829..1830 ")"
          Whitespace@1830..1831 "\n"
      RBrace@1831..1832 "}"
      Whitespace@1832..1834 "\n\n"
  FN@1834..2017
    FnKeyword@1834..1836 "fn"
    Whitespace@1836..1837 " "
    Ident@1837..1847 "precedence"
    PARAM_LIST@1847..1850
      LParen@1847..1848 "("
      RParen@1848..1849 ")"
      Whitespace@1849..1850 " "
    Arrow@1850..1852 "->"
    Whitespace@1852..1853 " "
    TYPE_UNIT@1853..1858
      UnitKeyword@1853..1857 "unit"
      Whitespace@1857..1858 " "
    BLOCK@1858..2017
      LBrace@1858..1859 "{"
      Whitespace@1859..1864 "\n    "
      STMT_EXPR@1864..1892
        EXPR_CALL@1864..1886
          EXPR_IDENT@1864..1871
            PATH@1864..1871
              Ident@1864..1871 "show_u8"
          ARG_LIST@1871..1886
            LParen@1871..1872 "("
            ARG@1872..1885
              EXPR_BINARY@1872..1885
                EXPR_INT@1872..1874
                  Int@1872..1873 "1"
                  Whitespace@1873..1874 " "
                Pipe@1874..1875 "|"
                Whitespace@1875..1876 " "
                EXPR_BINARY@1876..1885
                  EXPR_INT@1876..1878
                    Int@1876..1877 "2"
                    Whitespace@1877..1878 " "
                  Caret@1878..1879 "^"
                  Whitespace@1879..1880 " "
                  EXPR_BINARY@1880..1885
                    EXPR_INT@1880..1882
                      Int@1880..1881 "3"
                      Whitespace@1881..1882 " "
                    Amp@1882..1883 "&"
                    Whitespace@1883..1884 " "
                    EXPR_INT@1884..1885
                      Int@1884..1885 "1"
            RParen@1885..1886 ")"
        Semi@1886..1887 ";"
        Whitespace@1887..1892 "\n    "
      STMT_EXPR@1892..1917
        EXPR_CALL@1892..1911
          EXPR_IDENT@1892..1899
            PATH@1892..1899
              Ident@1892..1899 "show_u8"
          ARG_LIST@1899..1911
            LParen@1899..1900 "("
            ARG@1900..1910
              EXPR_BINARY@1900..1910
                EXPR_INT@1900..1902
                  Int@1900..1901 "1"
                  Whitespace@1901..1902 " "
                LessLess@1902..1904 "<<"
                Whitespace@1904..1905 " "
                EXPR_BINARY@1905..1910
                  EXPR_INT@1905..1907
                    Int@1905..1906 "2"
                    Whitespace@1906..1907 " "
                  Plus@1907..1908 "+"
                  Whitespace@1908..1909 " "
                  EXPR_INT@1909..1910
                    Int@1909..1910 "1"
            RParen@1910..1911 ")"
        Semi@1911..1912 ";"
        Whitespace@1912..1917 "\n    "
      STMT_EXPR@1917..1956
        EXPR_CALL@1917..1950
          EXPR_IDENT@1917..1924
            PATH@1917..1924
              Ident@1917..1924 "println"
          ARG_LIST@1924..1950
            LParen@1924..1925 "("
            ARG@1925..1949
              EXPR_CALL@1925..1949
                EXPR_BINARY@1925..1947
                  EXPR_PAREN@1925..1937
                    LParen@1925..1926 "("
                    EXPR_BINARY@1926..1936
                      EXPR_BINARY@1926..1932
                        EXPR_INT@1926..1928
                          Int@1926..1927 "1"
                          Whitespace@1927..1928 " "
                        Pipe@1928..1929 "|"
                        Whitespace@1929..1930 " "
                        EXPR_INT@1930..1932
                          Int@1930..1931 "2"
                          Whitespace@1931..1932 " "
                      EqEq@1932..1934 "=="
                      Whitespace@1934..1935 " "
                      EXPR_INT@1935..1936
                        Int@1935..1936 "3"
                    RParen@1936..1937 ")"
                  Dot@1937..1938 "."
                  EXPR_IDENT@1938..1947
                    PATH@1938..1947
                      Ident@1938..1947 "to_string"
                ARG_LIST@1947..1949
                  LParen@1947..1948 "("
                  RParen@1948..1949 ")"
            RParen@1949..1950 ")"
        Semi@1950..1951 ";"
        Whitespace@1951..1956 "\n    "
      STMT_EXPR@1956..1995
        EXPR_CALL@1956..1989
          EXPR_IDENT@1956..1963
            PATH@1956..1963
              Ident@1956..1963 "println"
          ARG_LIST@1963..1989
            LParen@1963..1964 "("
            ARG@1964..1988
              EXPR_CALL@1964..1988
                EXPR_BINARY@1964..1986
                  EXPR_PAREN@1964..1976
                    LParen@1964..1965 "("
                    EXPR_BINARY@1965..1975
                      EXPR_BINARY@1965..1972
                        EXPR_INT@1965..1967
                          Int@1965..1966 "8"
                          Whitespace@1966..1967 " "
                        GreaterGreater@1967..1969 ">>"
                        Whitespace@1969..1970 " "
                        EXPR_INT@1970..1972
                          Int@1970..1971 "1"
                          Whitespace@1971..1972 " "
                      Less@1972..1973 "<"
                      Whitespace@1973..1974 " "
                      EXPR_INT@1974..1975
                        Int@1974..1975 "5"
                    RParen@1975..1976 ")"
                  Dot@1976..1977 "."
                  EXPR_IDENT@1977..1986
                    PATH@1977..1986
                      Ident@1977..1986 "to_string"
                ARG_LIST@1986..1988
                  LParen@1986..1987 "("
                  RParen@1987..1988 ")"
            RParen@1988..1989 ")"
        Semi@1989..1990 ";"
        Whitespace@1990..1995 "\n    "
      EXPR_CALL@1995..2014
        EXPR_IDENT@1995..2002
          PATH@1995..2002
            Ident@1995..2002 "show_u8"
        ARG_LIST@2002..2014
          LParen@2002..2003 "("
          ARG@2003..2012
            EXPR_BINARY@2003..2012
              EXPR_PAREN@2003..2008
                LParen@2003..2004 "("
                EXPR_PREFIX@2004..2006
                  Tilde@2004..2005 "~"
                  EXPR_INT@2005..2006
                    Int@2005..2006 "1"
                RParen@2006..2007 ")"
                Whitespace@2007..2008 " "
              Amp@2008..2009 "&"
              Whitespace@2009..2010 " "
              EXPR_INT@2010..2012
                Int@2010..2012 "15"
          RParen@2012..2013 ")"
          Whitespace@2013..2014 "\n"
      RBrace@2014..2015 "}"
      Whitespace@2015..2017 "\n\n"
  FN@2017..3210
    FnKeyword@2017..2019 "fn"
    Whitespace@2019..2020 " "
    Ident@2020..2025 "casts"
    PARAM_LIST@2025..2028
      LParen@2025..2026 "("
      RParen@2026..2027 ")"
      Whitespace@2027..2028 " "
    Arrow@2028..2030 "->"
    Whitespace@2030..2031 " "
    TYPE_UNIT@2031..2036
      UnitKeyword@2031..2035 "unit"
      Whitespace@2035..2036 " "
    BLOCK@2036..3210
      LBrace@2036..2037 "{"
      Whitespace@2037..2042 "\n    "
      STMT_LET@2042..2077
        LetKeyword@2042..2045 "let"
        Whitespace@2045..2046 " "
        PATTERN_VARIABLE@2046..2057
          Ident@2046..2057 "five_eleven"
        Colon@2057..2058 ":"
        Whitespace@2058..2059 " "
        TYPE_UINT16@2059..2066
          Uint16Keyword@2059..2065 "uint16"
          Whitespace@2065..2066 " "
        Eq@2066..2067 "="
        Whitespace@2067..2068 " "
        EXPR_INT@2068..2071
          Int@2068..2071 "511"
        Semi@2071..2072 ";"
        Whitespace@2072..2077 "\n    "
      STMT_LET@2077..2114
        LetKeyword@2077..2080 "let"
        Whitespace@2080..2081 " "
        PATTERN_VARIABLE@2081..2094
          Ident@2081..2094 "two_fifty_six"
        Colon@2094..2095 ":"
        Whitespace@2095..2096 " "
        TYPE_UINT16@2096..2103
          Uint16Keyword@2096..2102 "uint16"
          Whitespace@2102..2103 " "
        Eq@2103..2104 "="
        Whitespace@2104..2105 " "
        EXPR_INT@2105..2108
          Int@2105..2108 "256"
        Semi@2108..2109 ";"
        Whitespace@2109..2114 "\n    "
      STMT_LET@2114..2152
        LetKeyword@2114..2117 "let"
        Whitespace@2117..2118 " "
        PATTERN_VARIABLE@2118..2134
          Ident@2118..2134 "negative_one_i16"
        Colon@2134..2135 ":"
        Whitespace@2135..2136 " "
        TYPE_INT16@2136..2142
          Int16Keyword@2136..2141 "int16"
          Whitespace@2141..2142 " "
        Eq@2142..2143 "="
        Whitespace@2143..2144 " "
        EXPR_PREFIX@2144..2146
          Minus@2144..2145 "-"
          EXPR_INT@2145..2146
            Int@2145..2146 "1"
        Semi@2146..2147 ";"
        Whitespace@2147..2152 "\n    "
      STMT_LET@2152..2189
        LetKeyword@2152..2155 "let"
        Whitespace@2155..2156 " "
        PATTERN_VARIABLE@2156..2170
          Ident@2156..2170 "two_fifty_five"
        Colon@2170..2171 ":"
        Whitespace@2171..2172 " "
        TYPE_UINT8@2172..2178
          Uint8Keyword@2172..2177 "uint8"
          Whitespace@2177..2178 " "
        Eq@2178..2179 "="
        Whitespace@2179..2180 " "
        EXPR_INT@2180..2183
          Int@2180..2183 "255"
        Semi@2183..2184 ";"
        Whitespace@2184..2189 "\n    "
      STMT_LET@2189..2228
        LetKeyword@2189..2192 "let"
        Whitespace@2192..2193 " "
        PATTERN_VARIABLE@2193..2209
          Ident@2193..2209 "one_twenty_eight"
        Colon@2209..2210 ":"
        Whitespace@2210..2211 " "
        TYPE_UINT8@2211..2217
          Uint8Keyword@2211..2216 "uint8"
          Whitespace@2216..2217 " "
        Eq@2217..2218 "="
        Whitespace@2218..2219 " "
        EXPR_INT@2219..2222
          Int@2219..2222 "128"
        Semi@2222..2223 ";"
        Whitespace@2223..2228 "\n    "
      STMT_LET@2228..2276
        LetKeyword@2228..2231 "let"
        Whitespace@2231..2232 " "
        PATTERN_VARIABLE@2232..2256
          Ident@2232..2256 "negative_one_twenty_nine"
        Colon@2256..2257 ":"
        Whitespace@2257..2258 " "
        TYPE_INT16@2258..2264
          Int16Keyword@2258..2263 "int16"
          Whitespace@2263..2264 " "
        Eq@2264..2265 "="
        Whitespace@2265..2266 " "
        EXPR_PREFIX@2266..2270
          Minus@2266..2267 "-"
          EXPR_INT@2267..2270
            Int@2267..2270 "129"
        Semi@2270..2271 ";"
        Whitespace@2271..2276 "\n    "
      STMT_LET@2276..2309
        LetKeyword@2276..2279 "let"
        Whitespace@2279..2280 " "
        PATTERN_VARIABLE@2280..2287
          Ident@2280..2287 "max_u16"
        Colon@2287..2288 ":"
        Whitespace@2288..2289 " "
        TYPE_UINT16@2289..2296
          Uint16Keyword@2289..2295 "uint16"
          Whitespace@2295..2296 " "
        Eq@2296..2297 "="
        Whitespace@2297..2298 " "
        EXPR_INT@2298..2303
          Int@2298..2303 "65535"
        Semi@2303..2304 ";"
        Whitespace@2304..2309 "\n    "
      STMT_LET@2309..2347
        LetKeyword@2309..2312 "let"
        Whitespace@2312..2313 " "
        PATTERN_VARIABLE@2313..2329
          Ident@2313..2329 "negative_one_i32"
        Colon@2329..2330 ":"
        Whitespace@2330..2331 " "
        TYPE_INT32@2331..2337
          Int32Keyword@2331..2336 "int32"
          Whitespace@2336..2337 " "
        Eq@2337..2338 "="
        Whitespace@2338..2339 " "
        EXPR_PREFIX@2339..2341
          Minus@2339..2340 "-"
          EXPR_INT@2340..2341
            Int@2340..2341 "1"
        Semi@2341..2342 ";"
        Whitespace@2342..2347 "\n    "
      STMT_LET@2347..2383
        LetKeyword@2347..2350 "let"
        Whitespace@2350..2351 " "
        PATTERN_VARIABLE@2351..2366
          Ident@2351..2366 "negative_one_i8"
        Colon@2366..2367 ":"
        Whitespace@2367..2368 " "
        TYPE_INT8@2368..2373
          Int8Keyword@2368..2372 "int8"
          Whitespace@2372..2373 " "
        Eq@2373..2374 "="
        Whitespace@2374..2375 " "
        EXPR_PREFIX@2375..2377
          Minus@2375..2376 "-"
          EXPR_INT@2376..2377
            Int@2376..2377 "1"
        Semi@2377..2378 ";"
        Whitespace@2378..2383 "\n    "
      STMT_LET@2383..2431
        LetKeyword@2383..2386 "let"
        Whitespace@2386..2387 " "
        PATTERN_VARIABLE@2387..2394
          Ident@2387..2394 "max_u64"
        Colon@2394..2395 ":"
        Whitespace@2395..2396 " "
        TYPE_UINT64@2396..2403
          Uint64Keyword@2396..2402 "uint64"
          Whitespace@2402..2403 " "
        Eq@2403..2404 "="
        Whitespace@2404..2405 " "
        EXPR_INT@2405..2425
          Int@2405..2425 "18446744073709551615"
        Semi@2425..2426 ";"
        Whitespace@2426..2431 "\n    "
      STMT_LET@2431..2463
        LetKeyword@2431..2434 "let"
        Whitespace@2434..2435 " "
        PATTERN_VARIABLE@2435..2445
          Ident@2435..2445 "sixty_five"
        Colon@2445..2446 ":"
        Whitespace@2446..2447 " "
        TYPE_UINT8@2447..2453
          Uint8Keyword@2447..2452 "uint8"
          Whitespace@2452..2453 " "
        Eq@2453..2454 "="
        Whitespace@2454..2455 " "
        EXPR_INT@2455..2457
          Int@2455..2457 "65"
        Semi@2457..2458 ";"
        Whitespace@2458..2463 "\n    "
      STMT_LET@2463..2501
        LetKeyword@2463..2466 "let"
        Whitespace@2466..2467 " "
        PATTERN_VARIABLE@2467..2474
          Ident@2467..2474 "max_u32"
        Colon@2474..2475 ":"
        Whitespace@2475..2476 " "
        TYPE_UINT32@2476..2483
          Uint32Keyword@2476..2482 "uint32"
          Whitespace@2482..2483 " "
        Eq@2483..2484 "="
        Whitespace@2484..2485 " "
        EXPR_INT@2485..2495
          Int@2485..2495 "4294967295"
        Semi@2495..2496 ";"
        Whitespace@2496..2501 "\n    "
      STMT_LET@2501..2538
        LetKeyword@2501..2504 "let"
        Whitespace@2504..2505 " "
        PATTERN_VARIABLE@2505..2518
          Ident@2505..2518 "three_hundred"
        Colon@2518..2519 ":"
        Whitespace@2519..2520 " "
        TYPE_UINT16@2520..2527
          Uint16Keyword@2520..2526 "uint16"
          Whitespace@2526..2527 " "
        Eq@2527..2528 "="
        Whitespace@2528..2529 " "
        EXPR_INT@2529..2532
          Int@2529..2532 "300"
        Semi@2532..2533 ";"
        Whitespace@2533..2538 "\n    "
      STMT_EXPR@2538..2573
        EXPR_CALL@2538..2567
          EXPR_IDENT@2538..2545
            PATH@2538..2545
              Ident@2538..2545 "show_u8"
          ARG_LIST@2545..2567
            LParen@2545..2546 "("
            ARG@2546..2566
              EXPR_CAST@2546..2566
                EXPR_IDENT@2546..2558
                  PATH@2546..2558
                    Ident@2546..2557 "five_eleven"
                    Whitespace@2557..2558 " "
                AsKeyword@2558..2560 "as"
                Whitespace@2560..2561 " "
                TYPE_UINT8@2561..2566
                  Uint8Keyword@2561..2566 "uint8"
            RParen@2566..2567 ")"
        Semi@2567..2568 ";"
        Whitespace@2568..2573 "\n    "
      STMT_EXPR@2573..2610
        EXPR_CALL@2573..2604
          EXPR_IDENT@2573..2580
            PATH@2573..2580
              Ident@2573..2580 "show_u8"
          ARG_LIST@2580..2604
            LParen@2580..2581 "("
            ARG@2581..2603
              EXPR_CAST@2581..2603
                EXPR_IDENT@2581..2595
                  PATH@2581..2595
                    Ident@2581..2594 "two_fifty_six"
                    Whitespace@2594..2595 " "
                AsKeyword@2595..2597 "as"
                Whitespace@2597..2598 " "
                TYPE_UINT8@2598..2603
                  Uint8Keyword@2598..2603 "uint8"
            RParen@2603..2604 ")"
        Semi@2604..2605 ";"
        Whitespace@2605..2610 "\n    "
      STMT_EXPR@2610..2650
        EXPR_CALL@2610..2644
          EXPR_IDENT@2610..2617
            PATH@2610..2617
              Ident@2610..2617 "show_u8"
          ARG_LIST@2617..2644
            LParen@2617..2618 "("
            ARG@2618..2643
              EXPR_CAST@2618..2643
                EXPR_IDENT@2618..2635
                  PATH@2618..2635
                    Ident@2618..2634 "negative_one_i16"
                    Whitespace@2634..2635 " "
                AsKeyword@2635..2637 "as"
                Whitespace@2637..2638 " "
                TYPE_UINT8@2638..2643
                  Uint8Keyword@2638..2643 "uint8"
            RParen@2643..2644 ")"
        Semi@2644..2645 ";"
        Whitespace@2645..2650 "\n    "
      STMT_EXPR@2650..2687
        EXPR_CALL@2650..2681
          EXPR_IDENT@2650..2657
            PATH@2650..2657
              Ident@2650..2657 "show_i8"
          ARG_LIST@2657..2681
            LParen@2657..2658 "("
            ARG@2658..2680
              EXPR_CAST@2658..2680
                EXPR_IDENT@2658..2673
                  PATH@2658..2673
                    Ident@2658..2672 "two_fifty_five"
                    Whitespace@2672..2673 " "
                AsKeyword@2673..2675 "as"
                Whitespace@2675..2676 " "
                TYPE_INT8@2676..2680
                  Int8Keyword@2676..2680 "int8"
            RParen@2680..2681 ")"
        Semi@2681..2682 ";"
        Whitespace@2682..2687 "\n    "
      STMT_EXPR@2687..2726
        EXPR_CALL@2687..2720
          EXPR_IDENT@2687..2694
            PATH@2687..2694
              Ident@2687..2694 "show_i8"
          ARG_LIST@2694..2720
            LParen@2694..2695 "("
            ARG@2695..2719
              EXPR_CAST@2695..2719
                EXPR_IDENT@2695..2712
                  PATH@2695..2712
                    Ident@2695..2711 "one_twenty_eight"
                    Whitespace@2711..2712 " "
                AsKeyword@2712..2714 "as"
                Whitespace@2714..2715 " "
                TYPE_INT8@2715..2719
                  Int8Keyword@2715..2719 "int8"
            RParen@2719..2720 ")"
        Semi@2720..2721 ";"
        Whitespace@2721..2726 "\n    "
      STMT_EXPR@2726..2773
        EXPR_CALL@2726..2767
          EXPR_IDENT@2726..2733
            PATH@2726..2733
              Ident@2726..2733 "show_i8"
          ARG_LIST@2733..2767
            LParen@2733..2734 "("
            ARG@2734..2766
              EXPR_CAST@2734..2766
                EXPR_IDENT@2734..2759
                  PATH@2734..2759
                    Ident@2734..2758 "negative_one_twenty_nine"
                    Whitespace@2758..2759 " "
                AsKeyword@2759..2761 "as"
                Whitespace@2761..2762 " "
                TYPE_INT8@2762..2766
                  Int8Keyword@2762..2766 "int8"
            RParen@2766..2767 ")"
        Semi@2767..2768 ";"
        Whitespace@2768..2773 "\n    "
      STMT_EXPR@2773..2805
        EXPR_CALL@2773..2799
          EXPR_IDENT@2773..2781
            PATH@2773..2781
              Ident@2773..2781 "show_i16"
          ARG_LIST@2781..2799
            LParen@2781..2782 "("
            ARG@2782..2798
              EXPR_CAST@2782..2798
                EXPR_IDENT@2782..2790
                  PATH@2782..2790
                    Ident@2782..2789 "max_u16"
                    Whitespace@2789..2790 " "
                AsKeyword@2790..2792 "as"
                Whitespace@2792..2793 " "
                TYPE_INT16@2793..2798
                  Int16Keyword@2793..2798 "int16"
            RParen@2798..2799 ")"
        Semi@2799..2800 ";"
        Whitespace@2800..2805 "\n    "
      STMT_EXPR@2805..2847
        EXPR_CALL@2805..2841
          EXPR_IDENT@2805..2813
            PATH@2805..2813
              Ident@2805..2813 "show_u16"
          ARG_LIST@2813..2841
            LParen@2813..2814 "("
            ARG@2814..2840
              EXPR_CAST@2814..2840
                EXPR_IDENT@2814..2831
                  PATH@2814..2831
                    Ident@2814..2830 "negative_one_i32"
                    Whitespace@2830..2831 " "
                AsKeyword@2831..2833 "as"
                Whitespace@2833..2834 " "
                TYPE_UINT16@2834..2840
                  Uint16Keyword@2834..2840 "uint16"
            RParen@2840..2841 ")"
        Semi@2841..2842 ";"
        Whitespace@2842..2847 "\n    "
      STMT_EXPR@2847..2888
        EXPR_CALL@2847..2882
          EXPR_IDENT@2847..2855
            PATH@2847..2855
              Ident@2847..2855 "show_u64"
          ARG_LIST@2855..2882
            LParen@2855..2856 "("
            ARG@2856..2881
              EXPR_CAST@2856..2881
                EXPR_IDENT@2856..2872
                  PATH@2856..2872
                    Ident@2856..2871 "negative_one_i8"
                    Whitespace@2871..2872 " "
                AsKeyword@2872..2874 "as"
                Whitespace@2874..2875 " "
                TYPE_UINT64@2875..2881
                  Uint64Keyword@2875..2881 "uint64"
            RParen@2881..2882 ")"
        Semi@2882..2883 ";"
        Whitespace@2883..2888 "\n    "
      STMT_EXPR@2888..2920
        EXPR_CALL@2888..2914
          EXPR_IDENT@2888..2896
            PATH@2888..2896
              Ident@2888..2896 "show_i32"
          ARG_LIST@2896..2914
            LParen@2896..2897 "("
            ARG@2897..2913
              EXPR_CAST@2897..2913
                EXPR_IDENT@2897..2905
                  PATH@2897..2905
                    Ident@2897..2904 "max_u64"
                    Whitespace@2904..2905 " "
                AsKeyword@2905..2907 "as"
                Whitespace@2907..2908 " "
                TYPE_INT32@2908..2913
                  Int32Keyword@2908..2913 "int32"
            RParen@2913..2914 ")"
        Semi@2914..2915 ";"
        Whitespace@2915..2920 "\n    "
      STMT_EXPR@2920..2956
        EXPR_CALL@2920..2950
          EXPR_IDENT@2920..2928
            PATH@2920..2928
              Ident@2920..2928 "show_u32"
          ARG_LIST@2928..2950
            LParen@2928..2929 "("
            ARG@2929..2949
              EXPR_CAST@2929..2949
                EXPR_IDENT@2929..2940
                  PATH@2929..2940
                    Ident@2929..2939 "sixty_five"
                    Whitespace@2939..2940 " "
                AsKeyword@2940..2942 "as"
                Whitespace@2942..2943 " "
                TYPE_UINT32@2943..2949
                  Uint32Keyword@2943..2949 "uint32"
            RParen@2949..2950 ")"
        Semi@2950..2951 ";"
        Whitespace@2951..2956 "\n    "
      STMT_EXPR@2956..2988
        EXPR_CALL@2956..2982
          EXPR_IDENT@2956..2964
            PATH@2956..2964
              Ident@2956..2964 "show_i64"
          ARG_LIST@2964..2982
            LParen@2964..2965 "("
            ARG@2965..2981
              EXPR_CAST@2965..2981
                EXPR_IDENT@2965..2973
                  PATH@2965..2973
                    Ident@2965..2972 "max_u32"
                    Whitespace@2972..2973 " "
                AsKeyword@2973..2975 "as"
                Whitespace@2975..2976 " "
                TYPE_INT64@2976..2981
                  Int64Keyword@2976..2981 "int64"
            RParen@2981..2982 ")"
        Semi@2982..2983 ";"
        Whitespace@2983..2988 "\n    "
      STMT_EXPR@2988..3017
        EXPR_CALL@2988..3011
          EXPR_IDENT@2988..2996
            PATH@2988..2996
              Ident@2988..2996 "show_u32"
          ARG_LIST@2996..3011
            LParen@2996..2997 "("
            ARG@2997..3010
              EXPR_CAST@2997..3010
                EXPR_CHAR@2997..3001
                  CharLit@2997..3000 "'A'"
                  Whitespace@3000..3001 " "
                AsKeyword@3001..3003 "as"
                Whitespace@3003..3004 " "
                TYPE_UINT32@3004..3010
                  Uint32Keyword@3004..3010 "uint32"
            RParen@3010..3011 ")"
        Semi@3011..3012 ";"
        Whitespace@3012..3017 "\n    "
      STMT_EXPR@3017..3164
        EXPR_MATCH@3017..3158
          MatchKeyword@3017..3022 "match"
          Whitespace@3022..3023 " "
          EXPR_CALL@3023..3048
            EXPR_IDENT@3023..3039
              PATH@3023..3039
                Ident@3023..3039 "char_from_uint32"
            ARG_LIST@3039..3048
              LParen@3039..3040 "("
              ARG@3040..3046
                EXPR_INT@3040..3046
                  Int@3040..3046 "128512"
              RParen@3046..3047 ")"
              Whitespace@3047..3048 " "
          MATCH_ARM_LIST@3048..3158
            LBrace@3048..3049 "{"
            Whitespace@3049..3058 "\n        "
            MATCH_ARM@3058..3107
              PATTERN_CONSTR@3058..3078
                PATH@3058..3070
                  Ident@3058..3064 "Option"
                  ColonColon@3064..3066 "::"
                  Ident@3066..3070 "Some"
                LParen@3070..3071 "("
                PATTERN_VARIABLE@3071..3076
                  Ident@3071..3076 "value"
                RParen@3076..3077 ")"
                Whitespace@3077..3078 " "
              FatArrow@3078..3080 "=>"
              Whitespace@3080..3081 " "
              EXPR_CALL@3081..3107
                EXPR_IDENT@3081..3088
                  PATH@3081..3088
                    Ident@3081..3088 "println"
                ARG_LIST@3088..3107
                  LParen@3088..3089 "("
                  ARG@3089..3106
                    EXPR_CALL@3089..3106
                      EXPR_BINARY@3089..3104
                        EXPR_IDENT@3089..3094
                          PATH@3089..3094
                            Ident@3089..3094 "value"
                        Dot@3094..3095 "."
                        EXPR_IDENT@3095..3104
                          PATH@3095..3104
                            Ident@3095..3104 "to_string"
                      ARG_LIST@3104..3106
                        LParen@3104..3105 "("
                        RParen@3105..3106 ")"
                  RParen@3106..3107 ")"
            Comma@3107..3108 ","
            Whitespace@3108..3117 "\n        "
            MATCH_ARM@3117..3151
              PATTERN_CONSTR@3117..3130
                PATH@3117..3130
                  Ident@3117..3123 "Option"
                  ColonColon@3123..3125 "::"
                  Ident@3125..3129 "None"
                  Whitespace@3129..3130 " "
              FatArrow@3130..3132 "=>"
              Whitespace@3132..3133 " "
              EXPR_CALL@3133..3151
                EXPR_IDENT@3133..3140
                  PATH@3133..3140
                    Ident@3133..3140 "println"
                ARG_LIST@3140..3151
                  LParen@3140..3141 "("
                  ARG@3141..3150
                    EXPR_STR@3141..3150
                      Str@3141..3150 "\"invalid\""
                  RParen@3150..3151 ")"
            Comma@3151..3152 ","
            Whitespace@3152..3157 "\n    "
            RBrace@3157..3158 "}"
        Semi@3158..3159 ";"
        Whitespace@3159..3164 "\n    "
      EXPR_CALL@3164..3207
        EXPR_IDENT@3164..3172
          PATH@3164..3172
            Ident@3164..3172 "show_u32"
        ARG_LIST@3172..3207
          LParen@3172..3173 "("
          ARG@3173..3205
            EXPR_CAST@3173..3205
              EXPR_CAST@3173..3196
                EXPR_IDENT@3173..3187
                  PATH@3173..3187
                    Ident@3173..3186 "three_hundred"
                    Whitespace@3186..3187 " "
                AsKeyword@3187..3189 "as"
                Whitespace@3189..3190 " "
                TYPE_UINT8@3190..3196
                  Uint8Keyword@3190..3195 "uint8"
                  Whitespace@3195..3196 " "
              AsKeyword@3196..3198 "as"
              Whitespace@3198..3199 " "
              TYPE_UINT32@3199..3205
                Uint32Keyword@3199..3205 "uint32"
          RParen@3205..3206 ")"
          Whitespace@3206..3207 "\n"
      RBrace@3207..3208 "}"
      Whitespace@3208..3210 "\n\n"
  FN@3210..3286
    FnKeyword@3210..3212 "fn"
    Whitespace@3212..3213 " "
    Ident@3213..3223 "contextual"
    PARAM_LIST@3223..3238
      LParen@3223..3224 "("
      PARAM@3224..3236
        Ident@3224..3229 "value"
        Colon@3229..3230 ":"
        Whitespace@3230..3231 " "
        TYPE_UINT8@3231..3236
          Uint8Keyword@3231..3236 "uint8"
      RParen@3236..3237 ")"
      Whitespace@3237..3238 " "
    Arrow@3238..3240 "->"
    Whitespace@3240..3241 " "
    TYPE_UINT8@3241..3247
      Uint8Keyword@3241..3246 "uint8"
      Whitespace@3246..3247 " "
    BLOCK@3247..3286
      LBrace@3247..3248 "{"
      Whitespace@3248..3253 "\n    "
      EXPR_BINARY@3253..3283
        EXPR_PAREN@3253..3267
          LParen@3253..3254 "("
          EXPR_BINARY@3254..3265
            EXPR_PREFIX@3254..3261
              Tilde@3254..3255 "~"
              EXPR_IDENT@3255..3261
                PATH@3255..3261
                  Ident@3255..3260 "value"
                  Whitespace@3260..3261 " "
            Amp@3261..3262 "&"
            Whitespace@3262..3263 " "
            EXPR_INT@3263..3265
              Int@3263..3265 "15"
          RParen@3265..3266 ")"
          Whitespace@3266..3267 " "
        Pipe@3267..3268 "|"
        Whitespace@3268..3269 " "
        EXPR_BINARY@3269..3283
          EXPR_PAREN@3269..3278
            LParen@3269..3270 "("
            EXPR_BINARY@3270..3276
              EXPR_INT@3270..3272
                Int@3270..3271 "1"
                Whitespace@3271..3272 " "
              LessLess@3272..3274 "<<"
              Whitespace@3274..3275 " "
              EXPR_INT@3275..3276
                Int@3275..3276 "4"
            RParen@3276..3277 ")"
            Whitespace@3277..3278 " "
          Percent@3278..3279 "%"
          Whitespace@3279..3280 " "
          EXPR_INT@3280..3283
            Int@3280..3282 "31"
            Whitespace@3282..3283 "\n"
      RBrace@3283..3284 "}"
      Whitespace@3284..3286 "\n\n"
  FN@3286..3405
    FnKeyword@3286..3288 "fn"
    Whitespace@3288..3289 " "
    Ident@3289..3293 "main"
    PARAM_LIST@3293..3296
      LParen@3293..3294 "("
      RParen@3294..3295 ")"
      Whitespace@3295..3296 " "
    Arrow@3296..3298 "->"
    Whitespace@3298..3299 " "
    TYPE_UNIT@3299..3304
      UnitKeyword@3299..3303 "unit"
      Whitespace@3303..3304 " "
    BLOCK@3304..3405
      LBrace@3304..3305 "{"
      Whitespace@3305..3310 "\n    "
      STMT_EXPR@3310..3330
        EXPR_CALL@3310..3324
          EXPR_IDENT@3310..3322
            PATH@3310..3322
              Ident@3310..3322 "unsigned_ops"
          ARG_LIST@3322..3324
            LParen@3322..3323 "("
            RParen@3323..3324 ")"
        Semi@3324..3325 ";"
        Whitespace@3325..3330 "\n    "
      STMT_EXPR@3330..3348
        EXPR_CALL@3330..3342
          EXPR_IDENT@3330..3340
            PATH@3330..3340
              Ident@3330..3340 "signed_ops"
          ARG_LIST@3340..3342
            LParen@3340..3341 "("
            RParen@3341..3342 ")"
        Semi@3342..3343 ";"
        Whitespace@3343..3348 "\n    "
      STMT_EXPR@3348..3366
        EXPR_CALL@3348..3360
          EXPR_IDENT@3348..3358
            PATH@3348..3358
              Ident@3348..3358 "precedence"
          ARG_LIST@3358..3360
            LParen@3358..3359 "("
            RParen@3359..3360 ")"
        Semi@3360..3361 ";"
        Whitespace@3361..3366 "\n    "
      STMT_EXPR@3366..3379
        EXPR_CALL@3366..3373
          EXPR_IDENT@3366..3371
            PATH@3366..3371
              Ident@3366..3371 "casts"
          ARG_LIST@3371..3373
            LParen@3371..3372 "("
            RParen@3372..3373 ")"
        Semi@3373..3374 ";"
        Whitespace@3374..3379 "\n    "
      EXPR_CALL@3379..3403
        EXPR_IDENT@3379..3386
          PATH@3379..3386
            Ident@3379..3386 "show_u8"
        ARG_LIST@3386..3403
          LParen@3386..3387 "("
          ARG@3387..3401
            EXPR_CALL@3387..3401
              EXPR_IDENT@3387..3397
                PATH@3387..3397
                  Ident@3387..3397 "contextual"
              ARG_LIST@3397..3401
                LParen@3397..3398 "("
                ARG@3398..3400
                  EXPR_INT@3398..3400
                    Int@3398..3400 "10"
                RParen@3400..3401 ")"
          RParen@3401..3402 ")"
          Whitespace@3402..3403 "\n"
      RBrace@3403..3404 "}"
      Whitespace@3404..3405 "\n"