FILE@0..3105
  FN@0..57
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "show_u8"
    PARAM_LIST@10..25
      LParen@10..11 "("
      PARAM@11..23
        Ident@11..16 "value"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_UINT8@18..23
          Uint8Keyword@18..23 "uint8"
      RParen@23..24 ")"
      Whitespace@24..25 " "
    Arrow@25..27 "->"
    Whitespace@27..28 " "
    TYPE_UNIT@28..33
      UnitKeyword@28..32 "unit"
      Whitespace@32..33 " "
    BLOCK@33..57
      LBrace@33..34 "{"
      Whitespace@34..39 "\n    "
      EXPR_CALL@39..54
        EXPR_IDENT@39..46
          PATH@39..46
            Ident@39..46 "println"
        ARG_LIST@46..54
          LParen@46..47 "("
          ARG@47..52
            EXPR_IDENT@47..52
              PATH@47..52
                Ident@47..52 "value"
          RParen@52..53 ")"
          Whitespace@53..54 "\n"
      RBrace@54..55 "}"
      Whitespace@55..57 "\n\n"
  FN@57..116
    FnKeyword@57..59 "fn"
    Whitespace@59..60 " "
    Ident@60..68 "show_u16"
    PARAM_LIST@68..84
      LParen@68..69 "("
      PARAM@69..82
        Ident@69..74 "value"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_UINT16@76..82
          Uint16Keyword@76..82 "uint16"
      RParen@82..83 ")"
      Whitespace@83..84 " "
    Arrow@84..86 "->"
    Whitespace@86..87 " "
    TYPE_UNIT@87..92
      UnitKeyword@87..91 "unit"
      Whitespace@91..92 " "
    BLOCK@92..116
      LBrace@92..93 "{"
      Whitespace@93..98 "\n    "
      EXPR_CALL@98..113
        EXPR_IDENT@98..105
          PATH@98..105
            Ident@98..105 "println"
        ARG_LIST@105..113
          LParen@105..106 "("
          ARG@106..111
            EXPR_IDENT@106..111
              PATH@106..111
                Ident@106..111 "value"
          RParen@111..112 ")"
          Whitespace@112..113 "\n"
      RBrace@113..114 "}"
      Whitespace@114..116 "\n\n"
  FN@116..175
    FnKeyword@116..118 "fn"
    Whitespace@118..119 " "
    Ident@119..127 "show_u32"
    PARAM_LIST@127..143
      LParen@127..128 "("
      PARAM@128..141
        Ident@128..133 "value"
        Colon@133..134 ":"
        Whitespace@134..135 " "
        TYPE_UINT32@135..141
          Uint32Keyword@135..141 "uint32"
      RParen@141..142 ")"
      Whitespace@142..143 " "
    Arrow@143..145 "->"
    Whitespace@145..146 " "
    TYPE_UNIT@146..151
      UnitKeyword@146..150 "unit"
      Whitespace@150..151 " "
    BLOCK@151..175
      LBrace@151..152 "{"
      Whitespace@152..157 "\n    "
      EXPR_CALL@157..172
        EXPR_IDENT@157..164
          PATH@157..164
            Ident@157..164 "println"
        ARG_LIST@164..172
          LParen@164..165 "("
          ARG@165..170
            EXPR_IDENT@165..170
              PATH@165..170
                Ident@165..170 "value"
          RParen@170..171 ")"
          Whitespace@171..172 "\n"
      RBrace@172..173 "}"
      Whitespace@173..175 "\n\n"
  FN@175..234
    FnKeyword@175..177 "fn"
    Whitespace@177..178 " "
    Ident@178..186 "show_u64"
    PARAM_LIST@186..202
      LParen@186..187 "("
      PARAM@187..200
        Ident@187..192 "value"
        Colon@192..193 ":"
        Whitespace@193..194 " "
        TYPE_UINT64@194..200
          Uint64Keyword@194..200 "uint64"
      RParen@200..201 ")"
      Whitespace@201..202 " "
    Arrow@202..204 "->"
    Whitespace@204..205 " "
    TYPE_UNIT@205..210
      UnitKeyword@205..209 "unit"
      Whitespace@209..210 " "
    BLOCK@210..234
      LBrace@210..211 "{"
      Whitespace@211..216 "\n    "
      EXPR_CALL@216..231
        EXPR_IDENT@216..223
          PATH@216..223
            Ident@216..223 "println"
        ARG_LIST@223..231
          LParen@223..224 "("
          ARG@224..229
            EXPR_IDENT@224..229
              PATH@224..229
                Ident@224..229 "value"
          RParen@229..230 ")"
          Whitespace@230..231 "\n"
      RBrace@231..232 "}"
      Whitespace@232..234 "\n\n"
  FN@234..290
    FnKeyword@234..236 "fn"
    Whitespace@236..237 " "
    Ident@237..244 "show_i8"
    PARAM_LIST@244..258
      LParen@244..245 "("
      PARAM@245..256
        Ident@245..250 "value"
        Colon@250..251 ":"
        Whitespace@251..252 " "
        TYPE_INT8@252..256
          Int8Keyword@252..256 "int8"
      RParen@256..257 ")"
      Whitespace@257..258 " "
    Arrow@258..260 "->"
    Whitespace@260..261 " "
    TYPE_UNIT@261..266
      UnitKeyword@261..265 "unit"
      Whitespace@265..266 " "
    BLOCK@266..290
      LBrace@266..267 "{"
      Whitespace@267..272 "\n    "
      EXPR_CALL@272..287
        EXPR_IDENT@272..279
          PATH@272..279
            Ident@272..279 "println"
        ARG_LIST@279..287
          LParen@279..280 "("
          ARG@280..285
            EXPR_IDENT@280..285
              PATH@280..285
                Ident@280..285 "value"
          RParen@285..286 ")"
          Whitespace@286..287 "\n"
      RBrace@287..288 "}"
      Whitespace@288..290 "\n\n"
  FN@290..348
    FnKeyword@290..292 "fn"
    Whitespace@292..293 " "
    Ident@293..301 "show_i16"
    PARAM_LIST@301..316
      LParen@301..302 "("
      PARAM@302..314
        Ident@302..307 "value"
        Colon@307..308 ":"
        Whitespace@308..309 " "
        TYPE_INT16@309..314
          Int16Keyword@309..314 "int16"
      RParen@314..315 ")"
      Whitespace@315..316 " "
    Arrow@316..318 "->"
    Whitespace@318..319 " "
    TYPE_UNIT@319..324
      UnitKeyword@319..323 "unit"
      Whitespace@323..324 " "
    BLOCK@324..348
      LBrace@324..325 "{"
      Whitespace@325..330 "\n    "
      EXPR_CALL@330..345
        EXPR_IDENT@330..337
          PATH@330..337
            Ident@330..337 "println"
        ARG_LIST@337..345
          LParen@337..338 "("
          ARG@338..343
            EXPR_IDENT@338..343
              PATH@338..343
                Ident@338..343 "value"
          RParen@343..344 ")"
          Whitespace@344..345 "\n"
      RBrace@345..346 "}"
      Whitespace@346..348 "\n\n"
  FN@348..406
    FnKeyword@348..350 "fn"
    Whitespace@350..351 " "
    Ident@351..359 "show_i32"
    PARAM_LIST@359..374
      LParen@359..360 "("
      PARAM@360..372
        Ident@360..365 "value"
        Colon@365..366 ":"
        Whitespace@366..367 " "
        TYPE_INT32@367..372
          Int32Keyword@367..372 "int32"
      RParen@372..373 ")"
      Whitespace@373..374 " "
    Arrow@374..376 "->"
    Whitespace@376..377 " "
    TYPE_UNIT@377..382
      UnitKeyword@377..381 "unit"
      Whitespace@381..382 " "
    BLOCK@382..406
      LBrace@382..383 "{"
      Whitespace@383..388 "\n    "
      EXPR_CALL@388..403
        EXPR_IDENT@388..395
          PATH@388..395
            Ident@388..395 "println"
        ARG_LIST@395..403
          LParen@395..396 "("
          ARG@396..401
            EXPR_IDENT@396..401
              PATH@396..401
                Ident@396..401 "value"
          RParen@401..402 ")"
          Whitespace@402..403 "\n"
      RBrace@403..404 "}"
      Whitespace@404..406 "\n\n"
  FN@406..464
    FnKeyword@406..408 "fn"
    Whitespace@408..409 " "
    Ident@409..417 "show_i64"
    PARAM_LIST@417..432
      LParen@417..418 "("
      PARAM@418..430
        Ident@418..423 "value"
        Colon@423..424 ":"
        Whitespace@424..425 " "
        TYPE_INT64@425..430
          Int64Keyword@425..430 "int64"
      RParen@430..431 ")"
      Whitespace@431..432 " "
    Arrow@432..434 "->"
    Whitespace@434..435 " "
    TYPE_UNIT@435..440
      UnitKeyword@435..439 "unit"
      Whitespace@439..440 " "
    BLOCK@440..464
      LBrace@440..441 "{"
      Whitespace@441..446 "\n    "
      EXPR_CALL@446..461
        EXPR_IDENT@446..453
          PATH@446..453
            Ident@446..453 "println"
        ARG_LIST@453..461
          LParen@453..454 "("
          ARG@454..459
            EXPR_IDENT@454..459
              PATH@454..459
                Ident@454..459 "value"
          RParen@459..460 ")"
          Whitespace@460..461 "\n"
      RBrace@461..462 "}"
      Whitespace@462..464 "\n\n"
  FN@464..1497
    FnKeyword@464..466 "fn"
    Whitespace@466..467 " "
    Ident@467..479 "unsigned_ops"
    PARAM_LIST@479..482
      LParen@479..480 "("
      RParen@480..481 ")"
      Whitespace@481..482 " "
    Arrow@482..484 "->"
    Whitespace@484..485 " "
    TYPE_UNIT@485..490
      UnitKeyword@485..489 "unit"
      Whitespace@489..490 " "
    BLOCK@490..1497
      LBrace@490..491 "{"
      Whitespace@491..496 "\n    "
      STMT_EXPR@496..521
        EXPR_CALL@496..515
          EXPR_IDENT@496..503
            PATH@496..503
              Ident@496..503 "show_u8"
          ARG_LIST@503..515
            LParen@503..504 "("
            ARG@504..514
              EXPR_BINARY@504..514
                EXPR_UINT8@504..509
                  UInt8Lit@504..508 "13u8"
                  Whitespace@508..509 " "
                Percent@509..510 "%"
                Whitespace@510..511 " "
                EXPR_UINT8@511..514
                  UInt8Lit@511..514 "5u8"
            RParen@514..515 ")"
        Semi@515..516 ";"
        Whitespace@516..521 "\n    "
      STMT_EXPR@521..547
        EXPR_CALL@521..541
          EXPR_IDENT@521..528
            PATH@521..528
              Ident@521..528 "show_u8"
          ARG_LIST@528..541
            LParen@528..529 "("
            ARG@529..540
              EXPR_BINARY@529..540
                EXPR_UINT8@529..534
                  UInt8Lit@529..533 "12u8"
                  Whitespace@533..534 " "
                Amp@534..535 "&"
                Whitespace@535..536 " "
                EXPR_UINT8@536..540
                  UInt8Lit@536..540 "10u8"
            RParen@540..541 ")"
        Semi@541..542 ";"
        Whitespace@542..547 "\n    "
      STMT_EXPR@547..572
        EXPR_CALL@547..566
          EXPR_IDENT@547..554
            PATH@547..554
              Ident@547..554 "show_u8"
          ARG_LIST@554..566
            LParen@554..555 "("
            ARG@555..565
              EXPR_BINARY@555..565
                EXPR_UINT8@555..560
                  UInt8Lit@555..559 "12u8"
                  Whitespace@559..560 " "
                Pipe@560..561 "|"
                Whitespace@561..562 " "
                EXPR_UINT8@562..565
                  UInt8Lit@562..565 "3u8"
            RParen@565..566 ")"
        Semi@566..567 ";"
        Whitespace@567..572 "\n    "
      STMT_EXPR@572..598
        EXPR_CALL@572..592
          EXPR_IDENT@572..579
            PATH@572..579
              Ident@572..579 "show_u8"
          ARG_LIST@579..592
            LParen@579..580 "("
            ARG@580..591
              EXPR_BINARY@580..591
                EXPR_UINT8@580..585
                  UInt8Lit@580..584 "12u8"
                  Whitespace@584..585 " "
                Caret@585..586 "^"
                Whitespace@586..587 " "
                EXPR_UINT8@587..591
                  UInt8Lit@587..591 "10u8"
            RParen@591..592 ")"
        Semi@592..593 ";"
        Whitespace@593..598 "\n    "
      STMT_EXPR@598..624
        EXPR_CALL@598..618
          EXPR_IDENT@598..605
            PATH@598..605
              Ident@598..605 "show_u8"
          ARG_LIST@605..618
            LParen@605..606 "("
            ARG@606..617
              EXPR_BINARY@606..617
                EXPR_UINT8@606..610
                  UInt8Lit@606..609 "1u8"
                  Whitespace@609..610 " "
                LessLess@610..612 "<<"
                Whitespace@612..613 " "
                EXPR_UINT32@613..617
                  UInt32Lit@613..617 "7u32"
            RParen@617..618 ")"
        Semi@618..619 ";"
        Whitespace@619..624 "\n    "
      STMT_EXPR@624..652
        EXPR_CALL@624..646
          EXPR_IDENT@624..631
            PATH@624..631
              Ident@624..631 "show_u8"
          ARG_LIST@631..646
            LParen@631..632 "("
            ARG@632..645
              EXPR_BINARY@632..645
                EXPR_UINT8@632..638
                  UInt8Lit@632..637 "128u8"
                  Whitespace@637..638 " "
                GreaterGreater@638..640 ">>"
                Whitespace@640..641 " "
                EXPR_UINT16@641..645
                  UInt16Lit@641..645 "7u16"
            RParen@645..646 ")"
        Semi@646..647 ";"
        Whitespace@647..652 "\n    "
      STMT_EXPR@652..671
        EXPR_CALL@652..665
          EXPR_IDENT@652..659
            PATH@652..659
              Ident@652..659 "show_u8"
          ARG_LIST@659..665
            LParen@659..660 "("
            ARG@660..664
              EXPR_PREFIX@660..664
                Tilde@660..661 "~"
                EXPR_UINT8@661..664
                  UInt8Lit@661..664 "0u8"
            RParen@664..665 ")"
        Semi@665..666 ";"
        Whitespace@666..671 "\n    "
      STMT_EXPR@671..697
        EXPR_CALL@671..690
          EXPR_IDENT@671..678
            PATH@671..678
              Ident@671..678 "show_u8"
          ARG_LIST@678..690
            LParen@678..679 "("
            ARG@679..689
              EXPR_BINARY@679..689
                EXPR_UINT8@679..683
                  UInt8Lit@679..682 "1u8"
                  Whitespace@682..683 " "
                LessLess@683..685 "<<"
                Whitespace@685..686 " "
                EXPR_UINT8@686..689
                  UInt8Lit@686..689 "8u8"
            RParen@689..690 ")"
        Semi@690..691 ";"
        Whitespace@691..697 "\n\n    "
      STMT_EXPR@697..728
        EXPR_CALL@697..722
          EXPR_IDENT@697..705
            PATH@697..705
              Ident@697..705 "show_u16"
          ARG_LIST@705..722
            LParen@705..706 "("
            ARG@706..721
              EXPR_BINARY@706..721
                EXPR_UINT16@706..713
                  UInt16Lit@706..712 "513u16"
                  Whitespace@712..713 " "
                Percent@713..714 "%"
                Whitespace@714..715 " "
                EXPR_UINT16@715..721
                  UInt16Lit@715..721 "256u16"
            RParen@721..722 ")"
        Semi@722..723 ";"
        Whitespace@723..728 "\n    "
      STMT_EXPR@728..760
        EXPR_CALL@728..754
          EXPR_IDENT@728..736
            PATH@728..736
              Ident@728..736 "show_u16"
          ARG_LIST@736..754
            LParen@736..737 "("
            ARG@737..753
              EXPR_BINARY@737..753
                EXPR_UINT16@737..745
                  UInt16Lit@737..744 "3855u16"
                  Whitespace@744..745 " "
                Amp@745..746 "&"
                Whitespace@746..747 " "
                EXPR_UINT16@747..753
                  UInt16Lit@747..753 "255u16"
            RParen@753..754 ")"
        Semi@754..755 ";"
        Whitespace@755..760 "\n    "
      STMT_EXPR@760..791
        EXPR_CALL@760..785
          EXPR_IDENT@760..768
            PATH@760..768
              Ident@760..768 "show_u16"
          ARG_LIST@768..785
            LParen@768..769 "("
            ARG@769..784
              EXPR_BINARY@769..784
                EXPR_UINT16@769..777
                  UInt16Lit@769..776 "3840u16"
                  Whitespace@776..777 " "
                Pipe@777..778 "|"
                Whitespace@778..779 " "
                EXPR_UINT16@779..784
                  UInt16Lit@779..784 "15u16"
            RParen@784..785 ")"
        Semi@785..786 ";"
        Whitespace@786..791 "\n    "
      STMT_EXPR@791..825
        EXPR_CALL@791..819
          EXPR_IDENT@791..799
            PATH@791..799
              Ident@791..799 "show_u16"
          ARG_LIST@799..819
            LParen@799..800 "("
            ARG@800..818
              EXPR_BINARY@800..818
                EXPR_UINT16@800..809
                  UInt16Lit@800..808 "43690u16"
                  Whitespace@808..809 " "
                Caret@809..810 "^"
                Whitespace@810..811 " "
                EXPR_UINT16@811..818
                  UInt16Lit@811..818 "3855u16"
            RParen@818..819 ")"
        Semi@819..820 ";"
        Whitespace@820..825 "\n    "
      STMT_EXPR@825..854
        EXPR_CALL@825..848
          EXPR_IDENT@825..833
            PATH@825..833
              Ident@825..833 "show_u16"
          ARG_LIST@833..848
            LParen@833..834 "("
            ARG@834..847
              EXPR_BINARY@834..847
                EXPR_UINT16@834..839
                  UInt16Lit@834..838 "1u16"
                  Whitespace@838..839 " "
                LessLess@839..841 "<<"
                Whitespace@841..842 " "
                EXPR_UINT32@842..847
                  UInt32Lit@842..847 "15u32"
            RParen@847..848 ")"
        Semi@848..849 ";"
        Whitespace@849..854 "\n    "
      STMT_EXPR@854..886
        EXPR_CALL@854..880
          EXPR_IDENT@854..862
            PATH@854..862
              Ident@854..862 "show_u16"
          ARG_LIST@862..880
            LParen@862..863 "("
            ARG@863..879
              EXPR_BINARY@863..879
                EXPR_UINT16@863..872
                  UInt16Lit@863..871 "32768u16"
                  Whitespace@871..872 " "
                GreaterGreater@872..874 ">>"
                Whitespace@874..875 " "
                EXPR_UINT8@875..879
                  UInt8Lit@875..879 "15u8"
            RParen@879..880 ")"
        Semi@880..881 ";"
        Whitespace@881..886 "\n    "
      STMT_EXPR@886..908
        EXPR_CALL@886..901
          EXPR_IDENT@886..894
            PATH@886..894
              Ident@886..894 "show_u16"
          ARG_LIST@894..901
            LParen@894..895 "("
            ARG@895..900
              EXPR_PREFIX@895..900
                Tilde@895..896 "~"
                EXPR_UINT16@896..900
                  UInt16Lit@896..900 "0u16"
            RParen@900..901 ")"
        Semi@901..902 ";"
        Whitespace@902..908 "\n\n    "
      STMT_EXPR@908..947
        EXPR_CALL@908..941
          EXPR_IDENT@908..916
            PATH@908..916
              Ident@908..916 "show_u32"
          ARG_LIST@916..941
            LParen@916..917 "("
            ARG@917..940
              EXPR_BINARY@917..940
                EXPR_UINT32@917..931
                  UInt32Lit@917..930 "1000000001u32"
                  Whitespace@930..931 " "
                Percent@931..932 "%"
                Whitespace@932..933 " "
                EXPR_UINT32@933..940
                  UInt32Lit@933..940 "1000u32"
            RParen@940..941 ")"
        Semi@941..942 ";"
        Whitespace@942..947 "\n    "
      STMT_EXPR@947..991
        EXPR_CALL@947..985
          EXPR_IDENT@947..955
            PATH@947..955
              Ident@947..955 "show_u32"
          ARG_LIST@955..985
            LParen@955..956 "("
            ARG@956..984
              EXPR_BINARY@956..984
                EXPR_UINT32@956..970
                  UInt32Lit@956..969 "4042322160u32"
                  Whitespace@969..970 " "
                Amp@970..971 "&"
                Whitespace@971..972 " "
                EXPR_UINT32@972..984
                  UInt32Lit@972..984 "252645135u32"
            RParen@984..985 ")"
        Semi@985..986 ";"
        Whitespace@986..991 "\n    "
      STMT_EXPR@991..1035
        EXPR_CALL@991..1029
          EXPR_IDENT@991..999
            PATH@991..999
              Ident@991..999 "show_u32"
          ARG_LIST@999..1029
            LParen@999..1000 "("
            ARG@1000..1028
              EXPR_BINARY@1000..1028
                EXPR_UINT32@1000..1014
                  UInt32Lit@1000..1013 "4042322160u32"
                  Whitespace@1013..1014 " "
                Pipe@1014..1015 "|"
                Whitespace@1015..1016 " "
                EXPR_UINT32@1016..1028
                  UInt32Lit@1016..1028 "252645135u32"
            RParen@1028..1029 ")"
        Semi@1029..1030 ";"
        Whitespace@1030..1035 "\n    "
      STMT_EXPR@1035..1079
        EXPR_CALL@1035..1073
          EXPR_IDENT@1035..1043
            PATH@1035..1043
              Ident@1035..1043 "show_u32"
          ARG_LIST@1043..1073
            LParen@1043..1044 "("
            ARG@1044..1072
              EXPR_BINARY@1044..1072
                EXPR_UINT32@1044..1058
                  UInt32Lit@1044..1057 "4042322160u32"
                  Whitespace@1057..1058 " "
                Caret@1058..1059 "^"
                Whitespace@1059..1060 " "
                EXPR_UINT32@1060..1072
                  UInt32Lit@1060..1072 "252645135u32"
            RParen@1072..1073 ")"
        Semi@1073..1074 ";"
        Whitespace@1074..1079 "\n    "
      STMT_EXPR@1079..1108
        EXPR_CALL@1079..1102
          EXPR_IDENT@1079..1087
            PATH@1079..1087
              Ident@1079..1087 "show_u32"
          ARG_LIST@1087..1102
            LParen@1087..1088 "("
            ARG@1088..1101
              EXPR_BINARY@1088..1101
                EXPR_UINT32@1088..1093
                  UInt32Lit@1088..1092 "1u32"
                  Whitespace@1092..1093 " "
                LessLess@1093..1095 "<<"
                Whitespace@1095..1096 " "
                EXPR_UINT32@1096..1101
                  UInt32Lit@1096..1101 "31u32"
            RParen@1101..1102 ")"
        Semi@1102..1103 ";"
        Whitespace@1103..1108 "\n    "
      STMT_EXPR@1108..1146
        EXPR_CALL@1108..1140
          EXPR_IDENT@1108..1116
            PATH@1108..1116
              Ident@1108..1116 "show_u32"
          ARG_LIST@1116..1140
            LParen@1116..1117 "("
            ARG@1117..1139
              EXPR_BINARY@1117..1139
                EXPR_UINT32@1117..1131
                  UInt32Lit@1117..1130 "2147483648u32"
                  Whitespace@1130..1131 " "
                GreaterGreater@1131..1133 ">>"
                Whitespace@1133..1134 " "
                EXPR_UINT32@1134..1139
                  UInt32Lit@1134..1139 "31u32"
            RParen@1139..1140 ")"
        Semi@1140..1141 ";"
        Whitespace@1141..1146 "\n    "
      STMT_EXPR@1146..1168
        EXPR_CALL@1146..1161
          EXPR_IDENT@1146..1154
            PATH@1146..1154
              Ident@1146..1154 "show_u32"
          ARG_LIST@1154..1161
            LParen@1154..1155 "("
            ARG@1155..1160
              EXPR_PREFIX@1155..1160
                Tilde@1155..1156 "~"
                EXPR_UINT32@1156..1160
                  UInt32Lit@1156..1160 "0u32"
            RParen@1160..1161 ")"
        Semi@1161..1162 ";"
        Whitespace@1162..1168 "\n\n    "
      STMT_EXPR@1168..1210
        EXPR_CALL@1168..1204
          EXPR_IDENT@1168..1176
            PATH@1168..1176
              Ident@1168..1176 "show_u64"
          ARG_LIST@1176..1204
            LParen@1176..1177 "("
            ARG@1177..1203
              EXPR_BINARY@1177..1203
                EXPR_UINT64@1177..1194
                  UInt64Lit@1177..1193 "1000000000001u64"
                  Whitespace@1193..1194 " "
                Percent@1194..1195 "%"
                Whitespace@1195..1196 " "
                EXPR_UINT64@1196..1203
                  UInt64Lit@1196..1203 "1000u64"
            RParen@1203..1204 ")"
        Semi@1204..1205 ";"
        Whitespace@1205..1210 "\n    "
      STMT_EXPR@1210..1274
        EXPR_CALL@1210..1268
          EXPR_IDENT@1210..1218
            PATH@1210..1218
              Ident@1210..1218 "show_u64"
          ARG_LIST@1218..1268
            LParen@1218..1219 "("
            ARG@1219..1267
              EXPR_BINARY@1219..1267
                EXPR_UINT64@1219..1243
                  UInt64Lit@1219..1242 "17361641481138401520u64"
                  Whitespace@1242..1243 " "
                Amp@1243..1244 "&"
                Whitespace@1244..1245 " "
                EXPR_UINT64@1245..1267
                  UInt64Lit@1245..1267 "1085102592571150095u64"
            RParen@1267..1268 ")"
        Semi@1268..1269 ";"
        Whitespace@1269..1274 "\n    "
      STMT_EXPR@1274..1338
        EXPR_CALL@1274..1332
          EXPR_IDENT@1274..1282
            PATH@1274..1282
              Ident@1274..1282 "show_u64"
          ARG_LIST@1282..1332
            LParen@1282..1283 "("
            ARG@1283..1331
              EXPR_BINARY@1283..1331
                EXPR_UINT64@1283..1307
                  UInt64Lit@1283..1306 "17361641481138401520u64"
                  Whitespace@1306..1307 " "
                Pipe@1307..1308 "|"
                Whitespace@1308..1309 " "
                EXPR_UINT64@1309..1331
                  UInt64Lit@1309..1331 "1085102592571150095u64"
            RParen@1331..1332 ")"
        Semi@1332..1333 ";"
        Whitespace@1333..1338 "\n    "
      STMT_EXPR@1338..1402
        EXPR_CALL@1338..1396
          EXPR_IDENT@1338..1346
            PATH@1338..1346
              Ident@1338..1346 "show_u64"
          ARG_LIST@1346..1396
            LParen@1346..1347 "("
            ARG@1347..1395
              EXPR_BINARY@1347..1395
                EXPR_UINT64@1347..1371
                  UInt64Lit@1347..1370 "17361641481138401520u64"
                  Whitespace@1370..1371 " "
                Caret@1371..1372 "^"
                Whitespace@1372..1373 " "
                EXPR_UINT64@1373..1395
                  UInt64Lit@1373..1395 "1085102592571150095u64"
            RParen@1395..1396 ")"
        Semi@1396..1397 ";"
        Whitespace@1397..1402 "\n    "
      STMT_EXPR@1402..1431
        EXPR_CALL@1402..1425
          EXPR_IDENT@1402..1410
            PATH@1402..1410
              Ident@1402..1410 "show_u64"
          ARG_LIST@1410..1425
            LParen@1410..1411 "("
            ARG@1411..1424
              EXPR_BINARY@1411..1424
                EXPR_UINT64@1411..1416
                  UInt64Lit@1411..1415 "1u64"
                  Whitespace@1415..1416 " "
                LessLess@1416..1418 "<<"
                Whitespace@1418..1419 " "
                EXPR_UINT64@1419..1424
                  UInt64Lit@1419..1424 "63u64"
            RParen@1424..1425 ")"
        Semi@1425..1426 ";"
        Whitespace@1426..1431 "\n    "
      STMT_EXPR@1431..1478
        EXPR_CALL@1431..1472
          EXPR_IDENT@1431..1439
            PATH@1431..1439
              Ident@1431..1439 "show_u64"
          ARG_LIST@1439..1472
            LParen@1439..1440 "("
            ARG@1440..1471
              EXPR_BINARY@1440..1471
                EXPR_UINT64@1440..1463
                  UInt64Lit@1440..1462 "9223372036854775808u64"
                  Whitespace@1462..1463 " "
                GreaterGreater@1463..1465 ">>"
                Whitespace@1465..1466 " "
                EXPR_UINT64@1466..1471
                  UInt64Lit@1466..1471 "63u64"
            RParen@1471..1472 ")"
        Semi@1472..1473 ";"
        Whitespace@1473..1478 "\n    "
      EXPR_CALL@1478..1494
        EXPR_IDENT@1478..1486
          PATH@1478..1486
            Ident@1478..1486 "show_u64"
        ARG_LIST@1486..1494
          LParen@1486..1487 "("
          ARG@1487..1492
            EXPR_PREFIX@1487..1492
              Tilde@1487..1488 "~"
              EXPR_UINT64@1488..1492
                UInt64Lit@1488..1492 "0u64"
          RParen@1492..1493 ")"
          Whitespace@1493..1494 "\n"
      RBrace@1494..1495 "}"
      Whitespace@1495..1497 "\n\n"
  FN@1497..2069
    FnKeyword@1497..1499 "fn"
    Whitespace@1499..1500 " "
    Ident@1500..1510 "signed_ops"
    PARAM_LIST@1510..1513
      LParen@1510..1511 "("
      RParen@1511..1512 ")"
      Whitespace@1512..1513 " "
    Arrow@1513..1515 "->"
    Whitespace@1515..1516 " "
    TYPE_UNIT@1516..1521
      UnitKeyword@1516..1520 "unit"
      Whitespace@1520..1521 " "
    BLOCK@1521..2069
      LBrace@1521..1522 "{"
      Whitespace@1522..1527 "\n    "
      STMT_EXPR@1527..1553
        EXPR_CALL@1527..1547
          EXPR_IDENT@1527..1534
            PATH@1527..1534
              Ident@1527..1534 "show_i8"
          ARG_LIST@1534..1547
            LParen@1534..1535 "("
            ARG@1535..1546
              EXPR_BINARY@1535..1546
                EXPR_PREFIX@1535..1541
                  Minus@1535..1536 "-"
                  EXPR_INT8@1536..1541
                    Int8Lit@1536..1540 "13i8"
                    Whitespace@1540..1541 " "
                Percent@1541..1542 "%"
                Whitespace@1542..1543 " "
                EXPR_INT8@1543..1546
                  Int8Lit@1543..1546 "5i8"
            RParen@1546..1547 ")"
        Semi@1547..1548 ";"
        Whitespace@1548..1553 "\n    "
      STMT_EXPR@1553..1579
        EXPR_CALL@1553..1573
          EXPR_IDENT@1553..1560
            PATH@1553..1560
              Ident@1553..1560 "show_i8"
          ARG_LIST@1560..1573
            LParen@1560..1561 "("
            ARG@1561..1572
              EXPR_BINARY@1561..1572
                EXPR_PREFIX@1561..1566
                  Minus@1561..1562 "-"
                  EXPR_INT8@1562..1566
                    Int8Lit@1562..1565 "8i8"
                    Whitespace@1565..1566 " "
                GreaterGreater@1566..1568 ">>"
                Whitespace@1568..1569 " "
                EXPR_INT8@1569..1572
                  Int8Lit@1569..1572 "2i8"
            RParen@1572..1573 ")"
        Semi@1573..1574 ";"
        Whitespace@1574..1579 "\n    "
      STMT_EXPR@1579..1604
        EXPR_CALL@1579..1598
          EXPR_IDENT@1579..1586
            PATH@1579..1586
              Ident@1579..1586 "show_i8"
          ARG_LIST@1586..1598
            LParen@1586..1587 "("
            ARG@1587..1597
              EXPR_BINARY@1587..1597
                EXPR_INT8@1587..1591
                  Int8Lit@1587..1590 "1i8"
                  Whitespace@1590..1591 " "
                LessLess@1591..1593 "<<"
                Whitespace@1593..1594 " "
                EXPR_INT8@1594..1597
                  Int8Lit@1594..1597 "6i8"
            RParen@1597..1598 ")"
        Semi@1598..1599 ";"
        Whitespace@1599..1604 "\n    "
      STMT_EXPR@1604..1623
        EXPR_CALL@1604..1617
          EXPR_IDENT@1604..1611
            PATH@1604..1611
              Ident@1604..1611 "show_i8"
          ARG_LIST@1611..1617
            LParen@1611..1612 "("
            ARG@1612..1616
              EXPR_PREFIX@1612..1616
                Tilde@1612..1613 "~"
                EXPR_INT8@1613..1616
                  Int8Lit@1613..1616 "0i8"
            RParen@1616..1617 ")"
        Semi@1617..1618 ";"
        Whitespace@1618..1623 "\n    "
      STMT_EXPR@1623..1650
        EXPR_CALL@1623..1643
          EXPR_IDENT@1623..1630
            PATH@1623..1630
              Ident@1623..1630 "show_i8"
          ARG_LIST@1630..1643
            LParen@1630..1631 "("
            ARG@1631..1642
              EXPR_BINARY@1631..1642
                EXPR_PREFIX@1631..1636
                  Minus@1631..1632 "-"
                  EXPR_INT8@1632..1636
                    Int8Lit@1632..1635 "1i8"
                    Whitespace@1635..1636 " "
                GreaterGreater@1636..1638 ">>"
                Whitespace@1638..1639 " "
                EXPR_INT8@1639..1642
                  Int8Lit@1639..1642 "7i8"
            RParen@1642..1643 ")"
        Semi@1643..1644 ";"
        Whitespace@1644..1650 "\n\n    "
      STMT_EXPR@1650..1682
        EXPR_CALL@1650..1676
          EXPR_IDENT@1650..1658
            PATH@1650..1658
              Ident@1650..1658 "show_i16"
          ARG_LIST@1658..1676
            LParen@1658..1659 "("
            ARG@1659..1675
              EXPR_BINARY@1659..1675
                EXPR_PREFIX@1659..1667
                  Minus@1659..1660 "-"
                  EXPR_INT16@1660..1667
                    Int16Lit@1660..1666 "513i16"
                    Whitespace@1666..1667 " "
                Percent@1667..1668 "%"
                Whitespace@1668..1669 " "
                EXPR_INT16@1669..1675
                  Int16Lit@1669..1675 "256i16"
            RParen@1675..1676 ")"
        Semi@1676..1677 ";"
        Whitespace@1677..1682 "\n    "
      STMT_EXPR@1682..1725
        EXPR_CALL@1682..1719
          EXPR_IDENT@1682..1690
            PATH@1682..1690
              Ident@1682..1690 "show_i16"
          ARG_LIST@1690..1719
            LParen@1690..1691 "("
            ARG@1691..1718
              EXPR_BINARY@1691..1718
                EXPR_PAREN@1691..1710
                  LParen@1691..1692 "("
                  EXPR_BINARY@1692..1708
                    EXPR_PREFIX@1692..1702
                      Minus@1692..1693 "-"
                      EXPR_INT16@1693..1702
                        Int16Lit@1693..1701 "32767i16"
                        Whitespace@1701..1702 " "
                    Minus@1702..1703 "-"
                    Whitespace@1703..1704 " "
                    EXPR_INT16@1704..1708
                      Int16Lit@1704..1708 "1i16"
                  RParen@1708..1709 ")"
                  Whitespace@1709..1710 " "
                GreaterGreater@1710..1712 ">>"
                Whitespace@1712..1713 " "
                EXPR_INT16@1713..1718
                  Int16Lit@1713..1718 "15i16"
            RParen@1718..1719 ")"
        Semi@1719..1720 ";"
        Whitespace@1720..1725 "\n    "
      STMT_EXPR@1725..1754
        EXPR_CALL@1725..1748
          EXPR_IDENT@1725..1733
            PATH@1725..1733
              Ident@1725..1733 "show_i16"
          ARG_LIST@1733..1748
            LParen@1733..1734 "("
            ARG@1734..1747
              EXPR_BINARY@1734..1747
                EXPR_INT16@1734..1739
                  Int16Lit@1734..1738 "1i16"
                  Whitespace@1738..1739 " "
                LessLess@1739..1741 "<<"
                Whitespace@1741..1742 " "
                EXPR_INT16@1742..1747
                  Int16Lit@1742..1747 "14i16"
            RParen@1747..1748 ")"
        Semi@1748..1749 ";"
        Whitespace@1749..1754 "\n    "
      STMT_EXPR@1754..1778
        EXPR_CALL@1754..1771
          EXPR_IDENT@1754..1762
            PATH@1754..1762
              Ident@1754..1762 "show_i16"
          ARG_LIST@1762..1771
            LParen@1762..1763 "("
            ARG@1763..1770
              EXPR_PREFIX@1763..1770
                Tilde@1763..1764 "~"
                EXPR_INT16@1764..1770
                  Int16Lit@1764..1770 "255i16"
            RParen@1770..1771 ")"
        Semi@1771..1772 ";"
        Whitespace@1772..1778 "\n\n    "
      STMT_EXPR@1778..1818
        EXPR_CALL@1778..1812
          EXPR_IDENT@1778..1786
            PATH@1778..1786
              Ident@1778..1786 "show_i32"
          ARG_LIST@1786..1812
            LParen@1786..1787 "("
            ARG@1787..1811
              EXPR_BINARY@1787..1811
                EXPR_PREFIX@1787..1802
                  Minus@1787..1788 "-"
                  EXPR_INT32@1788..1802
                    Int32Lit@1788..1801 "1000000001i32"
                    Whitespace@1801..1802 " "
                Percent@1802..1803 "%"
                Whitespace@1803..1804 " "
                EXPR_INT32@1804..1811
                  Int32Lit@1804..1811 "1000i32"
            RParen@1811..1812 ")"
        Semi@1812..1813 ";"
        Whitespace@1813..1818 "\n    "
      STMT_EXPR@1818..1866
        EXPR_CALL@1818..1860
          EXPR_IDENT@1818..1826
            PATH@1818..1826
              Ident@1818..1826 "show_i32"
          ARG_LIST@1826..1860
            LParen@1826..1827 "("
            ARG@1827..1859
              EXPR_BINARY@1827..1859
                EXPR_PAREN@1827..1851
                  LParen@1827..1828 "("
                  EXPR_BINARY@1828..1849
                    EXPR_PREFIX@1828..1843
                      Minus@1828..1829 "-"
                      EXPR_INT32@1829..1843
                        Int32Lit@1829..1842 "2147483647i32"
                        Whitespace@1842..1843 " "
                    Minus@1843..1844 "-"
                    Whitespace@1844..1845 " "
                    EXPR_INT32@1845..1849
                      Int32Lit@1845..1849 "1i32"
                  RParen@1849..1850 ")"
                  Whitespace@1850..1851 " "
                GreaterGreater@1851..1853 ">>"
                Whitespace@1853..1854 " "
                EXPR_INT32@1854..1859
                  Int32Lit@1854..1859 "31i32"
            RParen@1859..1860 ")"
        Semi@1860..1861 ";"
        Whitespace@1861..1866 "\n    "
      STMT_EXPR@1866..1895
        EXPR_CALL@1866..1889
          EXPR_IDENT@1866..1874
            PATH@1866..1874
              Ident@1866..1874 "show_i32"
          ARG_LIST@1874..1889
            LParen@1874..1875 "("
            ARG@1875..1888
              EXPR_BINARY@1875..1888
                EXPR_INT32@1875..1880
                  Int32Lit@1875..1879 "1i32"
                  Whitespace@1879..1880 " "
                LessLess@1880..1882 "<<"
                Whitespace@1882..1883 " "
                EXPR_INT32@1883..1888
                  Int32Lit@1883..1888 "30i32"
            RParen@1888..1889 ")"
        Semi@1889..1890 ";"
        Whitespace@1890..1895 "\n    "
      STMT_EXPR@1895..1921
        EXPR_CALL@1895..1914
          EXPR_IDENT@1895..1903
            PATH@1895..1903
              Ident@1895..1903 "show_i32"
          ARG_LIST@1903..1914
            LParen@1903..1904 "("
            ARG@1904..1913
              EXPR_PREFIX@1904..1913
                Tilde@1904..1905 "~"
                EXPR_INT32@1905..1913
                  Int32Lit@1905..1913 "65535i32"
            RParen@1913..1914 ")"
        Semi@1914..1915 ";"
        Whitespace@1915..1921 "\n\n    "
      STMT_EXPR@1921..1964
        EXPR_CALL@1921..1958
          EXPR_IDENT@1921..1929
            PATH@1921..1929
              Ident@1921..1929 "show_i64"
          ARG_LIST@1929..1958
            LParen@1929..1930 "("
            ARG@1930..1957
              EXPR_BINARY@1930..1957
                EXPR_PREFIX@1930..1948
                  Minus@1930..1931 "-"
                  EXPR_INT64@1931..1948
                    Int64Lit@1931..1947 "1000000000001i64"
                    Whitespace@1947..1948 " "
                Percent@1948..1949 "%"
                Whitespace@1949..1950 " "
                EXPR_INT64@1950..1957
                  Int64Lit@1950..1957 "1000i64"
            RParen@1957..1958 ")"
        Semi@1958..1959 ";"
        Whitespace@1959..1964 "\n    "
      STMT_EXPR@1964..2012
        EXPR_CALL@1964..2006
          EXPR_IDENT@1964..1972
            PATH@1964..1972
              Ident@1964..1972 "show_i64"
          ARG_LIST@1972..2006
            LParen@1972..1973 "("
            ARG@1973..2005
              EXPR_BINARY@1973..2005
                EXPR_PREFIX@1973..1997
                  Minus@1973..1974 "-"
                  EXPR_INT64@1974..1997
                    Int64Lit@1974..1996 "9223372036854775807i64"
                    Whitespace@1996..1997 " "
                GreaterGreater@1997..1999 ">>"
                Whitespace@1999..2000 " "
                EXPR_INT64@2000..2005
                  Int64Lit@2000..2005 "62i64"
            RParen@2005..2006 ")"
        Semi@2006..2007 ";"
        Whitespace@2007..2012 "\n    "
      STMT_EXPR@2012..2041
        EXPR_CALL@2012..2035
          EXPR_IDENT@2012..2020
            PATH@2012..2020
              Ident@2012..2020 "show_i64"
          ARG_LIST@2020..2035
            LParen@2020..2021 "("
            ARG@2021..2034
              EXPR_BINARY@2021..2034
                EXPR_INT64@2021..2026
                  Int64Lit@2021..2025 "1i64"
                  Whitespace@2025..2026 " "
                LessLess@2026..2028 "<<"
                Whitespace@2028..2029 " "
                EXPR_INT64@2029..2034
                  Int64Lit@2029..2034 "62i64"
            RParen@2034..2035 ")"
        Semi@2035..2036 ";"
        Whitespace@2036..2041 "\n    "
      EXPR_CALL@2041..2066
        EXPR_IDENT@2041..2049
          PATH@2041..2049
            Ident@2041..2049 "show_i64"
        ARG_LIST@2049..2066
          LParen@2049..2050 "("
          ARG@2050..2064
            EXPR_PREFIX@2050..2064
              Tilde@2050..2051 "~"
              EXPR_INT64@2051..2064
                Int64Lit@2051..2064 "4294967295i64"
          RParen@2064..2065 ")"
          Whitespace@2065..2066 "\n"
      RBrace@2066..2067 "}"
      Whitespace@2067..2069 "\n\n"
  FN@2069..2282
    FnKeyword@2069..2071 "fn"
    Whitespace@2071..2072 " "
    Ident@2072..2082 "precedence"
    PARAM_LIST@2082..2085
      LParen@2082..2083 "("
      RParen@2083..2084 ")"
      Whitespace@2084..2085 " "
    Arrow@2085..2087 "->"
    Whitespace@2087..2088 " "
    TYPE_UNIT@2088..2093
      UnitKeyword@2088..2092 "unit"
      Whitespace@2092..2093 " "
    BLOCK@2093..2282
      LBrace@2093..2094 "{"
      Whitespace@2094..2099 "\n    "
      STMT_EXPR@2099..2135
        EXPR_CALL@2099..2129
          EXPR_IDENT@2099..2106
            PATH@2099..2106
              Ident@2099..2106 "show_u8"
          ARG_LIST@2106..2129
            LParen@2106..2107 "("
            ARG@2107..2128
              EXPR_BINARY@2107..2128
                EXPR_UINT8@2107..2111
                  UInt8Lit@2107..2110 "1u8"
                  Whitespace@2110..2111 " "
                Pipe@2111..2112 "|"
                Whitespace@2112..2113 " "
                EXPR_BINARY@2113..2128
                  EXPR_UINT8@2113..2117
                    UInt8Lit@2113..2116 "2u8"
                    Whitespace@2116..2117 " "
                  Caret@2117..2118 "^"
                  Whitespace@2118..2119 " "
                  EXPR_BINARY@2119..2128
                    EXPR_UINT8@2119..2123
                      UInt8Lit@2119..2122 "3u8"
                      Whitespace@2122..2123 " "
                    Amp@2123..2124 "&"
                    Whitespace@2124..2125 " "
                    EXPR_UINT8@2125..2128
                      UInt8Lit@2125..2128 "1u8"
            RParen@2128..2129 ")"
        Semi@2129..2130 ";"
        Whitespace@2130..2135 "\n    "
      STMT_EXPR@2135..2166
        EXPR_CALL@2135..2160
          EXPR_IDENT@2135..2142
            PATH@2135..2142
              Ident@2135..2142 "show_u8"
          ARG_LIST@2142..2160
            LParen@2142..2143 "("
            ARG@2143..2159
              EXPR_BINARY@2143..2159
                EXPR_UINT8@2143..2147
                  UInt8Lit@2143..2146 "1u8"
                  Whitespace@2146..2147 " "
                LessLess@2147..2149 "<<"
                Whitespace@2149..2150 " "
                EXPR_BINARY@2150..2159
                  EXPR_UINT8@2150..2154
                    UInt8Lit@2150..2153 "2u8"
                    Whitespace@2153..2154 " "
                  Plus@2154..2155 "+"
                  Whitespace@2155..2156 " "
                  EXPR_UINT8@2156..2159
                    UInt8Lit@2156..2159 "1u8"
            RParen@2159..2160 ")"
        Semi@2160..2161 ";"
        Whitespace@2161..2166 "\n    "
      STMT_EXPR@2166..2211
        EXPR_CALL@2166..2205
          EXPR_IDENT@2166..2173
            PATH@2166..2173
              Ident@2166..2173 "println"
          ARG_LIST@2173..2205
            LParen@2173..2174 "("
            ARG@2174..2204
              EXPR_CALL@2174..2204
                EXPR_BINARY@2174..2202
                  EXPR_PAREN@2174..2192
                    LParen@2174..2175 "("
                    EXPR_BINARY@2175..2191
                      EXPR_BINARY@2175..2185
                        EXPR_UINT8@2175..2179
                          UInt8Lit@2175..2178 "1u8"
                          Whitespace@2178..2179 " "
                        Pipe@2179..2180 "|"
                        Whitespace@2180..2181 " "
                        EXPR_UINT8@2181..2185
                          UInt8Lit@2181..2184 "2u8"
                          Whitespace@2184..2185 " "
                      EqEq@2185..2187 "=="
                      Whitespace@2187..2188 " "
                      EXPR_UINT8@2188..2191
                        UInt8Lit@2188..2191 "3u8"
                    RParen@2191..2192 ")"
                  Dot@2192..2193 "."
                  EXPR_IDENT@2193..2202
                    PATH@2193..2202
                      Ident@2193..2202 "to_string"
                ARG_LIST@2202..2204
                  LParen@2202..2203 "("
                  RParen@2203..2204 ")"
            RParen@2204..2205 ")"
        Semi@2205..2206 ";"
        Whitespace@2206..2211 "\n    "
      STMT_EXPR@2211..2256
        EXPR_CALL@2211..2250
          EXPR_IDENT@2211..2218
            PATH@2211..2218
              Ident@2211..2218 "println"
          ARG_LIST@2218..2250
            LParen@2218..2219 "("
            ARG@2219..2249
              EXPR_CALL@2219..2249
                EXPR_BINARY@2219..2247
                  EXPR_PAREN@2219..2237
                    LParen@2219..2220 "("
                    EXPR_BINARY@2220..2236
                      EXPR_BINARY@2220..2231
                        EXPR_UINT8@2220..2224
                          UInt8Lit@2220..2223 "8u8"
                          Whitespace@2223..2224 " "
                        GreaterGreater@2224..2226 ">>"
                        Whitespace@2226..2227 " "
                        EXPR_UINT8@2227..2231
                          UInt8Lit@2227..2230 "1u8"
                          Whitespace@2230..2231 " "
                      Less@2231..2232 "<"
                      Whitespace@2232..2233 " "
                      EXPR_UINT8@2233..2236
                        UInt8Lit@2233..2236 "5u8"
                    RParen@2236..2237 ")"
                  Dot@2237..2238 "."
                  EXPR_IDENT@2238..2247
                    PATH@2238..2247
                      Ident@2238..2247 "to_string"
                ARG_LIST@2247..2249
                  LParen@2247..2248 "("
                  RParen@2248..2249 ")"
            RParen@2249..2250 ")"
        Semi@2250..2251 ";"
        Whitespace@2251..2256 "\n    "
      EXPR_CALL@2256..2279
        EXPR_IDENT@2256..2263
          PATH@2256..2263
            Ident@2256..2263 "show_u8"
        ARG_LIST@2263..2279
          LParen@2263..2264 "("
          ARG@2264..2277
            EXPR_BINARY@2264..2277
              EXPR_PAREN@2264..2271
                LParen@2264..2265 "("
                EXPR_PREFIX@2265..2269
                  Tilde@2265..2266 "~"
                  EXPR_UINT8@2266..2269
                    UInt8Lit@2266..2269 "1u8"
                RParen@2269..2270 ")"
                Whitespace@2270..2271 " "
              Amp@2271..2272 "&"
              Whitespace@2272..2273 " "
              EXPR_UINT8@2273..2277
                UInt8Lit@2273..2277 "15u8"
          RParen@2277..2278 ")"
          Whitespace@2278..2279 "\n"
      RBrace@2279..2280 "}"
      Whitespace@2280..2282 "\n\n"
  FN@2282..2910
    FnKeyword@2282..2284 "fn"
    Whitespace@2284..2285 " "
    Ident@2285..2290 "casts"
    PARAM_LIST@2290..2293
      LParen@2290..2291 "("
      RParen@2291..2292 ")"
      Whitespace@2292..2293 " "
    Arrow@2293..2295 "->"
    Whitespace@2295..2296 " "
    TYPE_UNIT@2296..2301
      UnitKeyword@2296..2300 "unit"
      Whitespace@2300..2301 " "
    BLOCK@2301..2910
      LBrace@2301..2302 "{"
      Whitespace@2302..2307 "\n    "
      STMT_EXPR@2307..2337
        EXPR_CALL@2307..2331
          EXPR_IDENT@2307..2314
            PATH@2307..2314
              Ident@2307..2314 "show_u8"
          ARG_LIST@2314..2331
            LParen@2314..2315 "("
            ARG@2315..2330
              EXPR_CAST@2315..2330
                EXPR_UINT16@2315..2322
                  UInt16Lit@2315..2321 "511u16"
                  Whitespace@2321..2322 " "
                AsKeyword@2322..2324 "as"
                Whitespace@2324..2325 " "
                TYPE_UINT8@2325..2330
                  Uint8Keyword@2325..2330 "uint8"
            RParen@2330..2331 ")"
        Semi@2331..2332 ";"
        Whitespace@2332..2337 "\n    "
      STMT_EXPR@2337..2367
        EXPR_CALL@2337..2361
          EXPR_IDENT@2337..2344
            PATH@2337..2344
              Ident@2337..2344 "show_u8"
          ARG_LIST@2344..2361
            LParen@2344..2345 "("
            ARG@2345..2360
              EXPR_CAST@2345..2360
                EXPR_UINT16@2345..2352
                  UInt16Lit@2345..2351 "256u16"
                  Whitespace@2351..2352 " "
                AsKeyword@2352..2354 "as"
                Whitespace@2354..2355 " "
                TYPE_UINT8@2355..2360
                  Uint8Keyword@2355..2360 "uint8"
            RParen@2360..2361 ")"
        Semi@2361..2362 ";"
        Whitespace@2362..2367 "\n    "
      STMT_EXPR@2367..2396
        EXPR_CALL@2367..2390
          EXPR_IDENT@2367..2374
            PATH@2367..2374
              Ident@2367..2374 "show_u8"
          ARG_LIST@2374..2390
            LParen@2374..2375 "("
            ARG@2375..2389
              EXPR_CAST@2375..2389
                EXPR_PREFIX@2375..2381
                  Minus@2375..2376 "-"
                  EXPR_INT16@2376..2381
                    Int16Lit@2376..2380 "1i16"
                    Whitespace@2380..2381 " "
                AsKeyword@2381..2383 "as"
                Whitespace@2383..2384 " "
                TYPE_UINT8@2384..2389
                  Uint8Keyword@2384..2389 "uint8"
            RParen@2389..2390 ")"
        Semi@2390..2391 ";"
        Whitespace@2391..2396 "\n    "
      STMT_EXPR@2396..2424
        EXPR_CALL@2396..2418
          EXPR_IDENT@2396..2403
            PATH@2396..2403
              Ident@2396..2403 "show_i8"
          ARG_LIST@2403..2418
            LParen@2403..2404 "("
            ARG@2404..2417
              EXPR_CAST@2404..2417
                EXPR_UINT8@2404..2410
                  UInt8Lit@2404..2409 "255u8"
                  Whitespace@2409..2410 " "
                AsKeyword@2410..2412 "as"
                Whitespace@2412..2413 " "
                TYPE_INT8@2413..2417
                  Int8Keyword@2413..2417 "int8"
            RParen@2417..2418 ")"
        Semi@2418..2419 ";"
        Whitespace@2419..2424 "\n    "
      STMT_EXPR@2424..2452
        EXPR_CALL@2424..2446
          EXPR_IDENT@2424..2431
            PATH@2424..2431
              Ident@2424..2431 "show_i8"
          ARG_LIST@2431..2446
            LParen@2431..2432 "("
            ARG@2432..2445
              EXPR_CAST@2432..2445
                EXPR_UINT8@2432..2438
                  UInt8Lit@2432..2437 "128u8"
                  Whitespace@2437..2438 " "
                AsKeyword@2438..2440 "as"
                Whitespace@2440..2441 " "
                TYPE_INT8@2441..2445
                  Int8Keyword@2441..2445 "int8"
            RParen@2445..2446 ")"
        Semi@2446..2447 ";"
        Whitespace@2447..2452 "\n    "
      STMT_EXPR@2452..2482
        EXPR_CALL@2452..2476
          EXPR_IDENT@2452..2459
            PATH@2452..2459
              Ident@2452..2459 "show_i8"
          ARG_LIST@2459..2476
            LParen@2459..2460 "("
            ARG@2460..2475
              EXPR_CAST@2460..2475
                EXPR_PREFIX@2460..2468
                  Minus@2460..2461 "-"
                  EXPR_INT16@2461..2468
                    Int16Lit@2461..2467 "129i16"
                    Whitespace@2467..2468 " "
                AsKeyword@2468..2470 "as"
                Whitespace@2470..2471 " "
                TYPE_INT8@2471..2475
                  Int8Keyword@2471..2475 "int8"
            RParen@2475..2476 ")"
        Semi@2476..2477 ";"
        Whitespace@2477..2482 "\n    "
      STMT_EXPR@2482..2515
        EXPR_CALL@2482..2509
          EXPR_IDENT@2482..2490
            PATH@2482..2490
              Ident@2482..2490 "show_i16"
          ARG_LIST@2490..2509
            LParen@2490..2491 "("
            ARG@2491..2508
              EXPR_CAST@2491..2508
                EXPR_UINT16@2491..2500
                  UInt16Lit@2491..2499 "65535u16"
                  Whitespace@2499..2500 " "
                AsKeyword@2500..2502 "as"
                Whitespace@2502..2503 " "
                TYPE_INT16@2503..2508
                  Int16Keyword@2503..2508 "int16"
            RParen@2508..2509 ")"
        Semi@2509..2510 ";"
        Whitespace@2510..2515 "\n    "
      STMT_EXPR@2515..2546
        EXPR_CALL@2515..2540
          EXPR_IDENT@2515..2523
            PATH@2515..2523
              Ident@2515..2523 "show_u16"
          ARG_LIST@2523..2540
            LParen@2523..2524 "("
            ARG@2524..2539
              EXPR_CAST@2524..2539
                EXPR_PREFIX@2524..2530
                  Minus@2524..2525 "-"
                  EXPR_INT32@2525..2530
                    Int32Lit@2525..2529 "1i32"
                    Whitespace@2529..2530 " "
                AsKeyword@2530..2532 "as"
                Whitespace@2532..2533 " "
                TYPE_UINT16@2533..2539
                  Uint16Keyword@2533..2539 "uint16"
            RParen@2539..2540 ")"
        Semi@2540..2541 ";"
        Whitespace@2541..2546 "\n    "
      STMT_EXPR@2546..2576
        EXPR_CALL@2546..2570
          EXPR_IDENT@2546..2554
            PATH@2546..2554
              Ident@2546..2554 "show_u64"
          ARG_LIST@2554..2570
            LParen@2554..2555 "("
            ARG@2555..2569
              EXPR_CAST@2555..2569
                EXPR_PREFIX@2555..2560
                  Minus@2555..2556 "-"
                  EXPR_INT8@2556..2560
                    Int8Lit@2556..2559 "1i8"
                    Whitespace@2559..2560 " "
                AsKeyword@2560..2562 "as"
                Whitespace@2562..2563 " "
                TYPE_UINT64@2563..2569
                  Uint64Keyword@2563..2569 "uint64"
            RParen@2569..2570 ")"
        Semi@2570..2571 ";"
        Whitespace@2571..2576 "\n    "
      STMT_EXPR@2576..2624
        EXPR_CALL@2576..2618
          EXPR_IDENT@2576..2584
            PATH@2576..2584
              Ident@2576..2584 "show_i32"
          ARG_LIST@2584..2618
            LParen@2584..2585 "("
            ARG@2585..2617
              EXPR_CAST@2585..2617
                EXPR_UINT64@2585..2609
                  UInt64Lit@2585..2608 "18446744073709551615u64"
                  Whitespace@2608..2609 " "
                AsKeyword@2609..2611 "as"
                Whitespace@2611..2612 " "
                TYPE_INT32@2612..2617
                  Int32Keyword@2612..2617 "int32"
            RParen@2617..2618 ")"
        Semi@2618..2619 ";"
        Whitespace@2619..2624 "\n    "
      STMT_EXPR@2624..2654
        EXPR_CALL@2624..2648
          EXPR_IDENT@2624..2632
            PATH@2624..2632
              Ident@2624..2632 "show_u32"
          ARG_LIST@2632..2648
            LParen@2632..2633 "("
            ARG@2633..2647
              EXPR_CAST@2633..2647
                EXPR_UINT8@2633..2638
                  UInt8Lit@2633..2637 "65u8"
                  Whitespace@2637..2638 " "
                AsKeyword@2638..2640 "as"
                Whitespace@2640..2641 " "
                TYPE_UINT32@2641..2647
                  Uint32Keyword@2641..2647 "uint32"
            RParen@2647..2648 ")"
        Semi@2648..2649 ";"
        Whitespace@2649..2654 "\n    "
      STMT_EXPR@2654..2692
        EXPR_CALL@2654..2686
          EXPR_IDENT@2654..2662
            PATH@2654..2662
              Ident@2654..2662 "show_i64"
          ARG_LIST@2662..2686
            LParen@2662..2663 "("
            ARG@2663..2685
              EXPR_CAST@2663..2685
                EXPR_UINT32@2663..2677
                  UInt32Lit@2663..2676 "4294967295u32"
                  Whitespace@2676..2677 " "
                AsKeyword@2677..2679 "as"
                Whitespace@2679..2680 " "
                TYPE_INT64@2680..2685
                  Int64Keyword@2680..2685 "int64"
            RParen@2685..2686 ")"
        Semi@2686..2687 ";"
        Whitespace@2687..2692 "\n    "
      STMT_EXPR@2692..2721
        EXPR_CALL@2692..2715
          EXPR_IDENT@2692..2700
            PATH@2692..2700
              Ident@2692..2700 "show_u32"
          ARG_LIST@2700..2715
            LParen@2700..2701 "("
            ARG@2701..2714
              EXPR_CAST@2701..2714
                EXPR_CHAR@2701..2705
                  CharLit@2701..2704 "'A'"
                  Whitespace@2704..2705 " "
                AsKeyword@2705..2707 "as"
                Whitespace@2707..2708 " "
                TYPE_UINT32@2708..2714
                  Uint32Keyword@2708..2714 "uint32"
            RParen@2714..2715 ")"
        Semi@2715..2716 ";"
        Whitespace@2716..2721 "\n    "
      STMT_EXPR@2721..2871
        EXPR_MATCH@2721..2865
          MatchKeyword@2721..2726 "match"
          Whitespace@2726..2727 " "
          EXPR_CALL@2727..2755
            EXPR_IDENT@2727..2743
              PATH@2727..2743
                Ident@2727..2743 "char_from_uint32"
            ARG_LIST@2743..2755
              LParen@2743..2744 "("
              ARG@2744..2753
                EXPR_UINT32@2744..2753
                  UInt32Lit@2744..2753 "128512u32"
              RParen@2753..2754 ")"
              Whitespace@2754..2755 " "
          MATCH_ARM_LIST@2755..2865
            LBrace@2755..2756 "{"
            Whitespace@2756..2765 "\n        "
            MATCH_ARM@2765..2814
              PATTERN_CONSTR@2765..2785
                PATH@2765..2777
                  Ident@2765..2771 "Option"
                  ColonColon@2771..2773 "::"
                  Ident@2773..2777 "Some"
                LParen@2777..2778 "("
                PATTERN_VARIABLE@2778..2783
                  Ident@2778..2783 "value"
                RParen@2783..2784 ")"
                Whitespace@2784..2785 " "
              FatArrow@2785..2787 "=>"
              Whitespace@2787..2788 " "
              EXPR_CALL@2788..2814
                EXPR_IDENT@2788..2795
                  PATH@2788..2795
                    Ident@2788..2795 "println"
                ARG_LIST@2795..2814
                  LParen@2795..2796 "("
                  ARG@2796..2813
                    EXPR_CALL@2796..2813
                      EXPR_BINARY@2796..2811
                        EXPR_IDENT@2796..2801
                          PATH@2796..2801
                            Ident@2796..2801 "value"
                        Dot@2801..2802 "."
                        EXPR_IDENT@2802..2811
                          PATH@2802..2811
                            Ident@2802..2811 "to_string"
                      ARG_LIST@2811..2813
                        LParen@2811..2812 "("
                        RParen@2812..2813 ")"
                  RParen@2813..2814 ")"
            Comma@2814..2815 ","
            Whitespace@2815..2824 "\n        "
            MATCH_ARM@2824..2858
              PATTERN_CONSTR@2824..2837
                PATH@2824..2837
                  Ident@2824..2830 "Option"
                  ColonColon@2830..2832 "::"
                  Ident@2832..2836 "None"
                  Whitespace@2836..2837 " "
              FatArrow@2837..2839 "=>"
              Whitespace@2839..2840 " "
              EXPR_CALL@2840..2858
                EXPR_IDENT@2840..2847
                  PATH@2840..2847
                    Ident@2840..2847 "println"
                ARG_LIST@2847..2858
                  LParen@2847..2848 "("
                  ARG@2848..2857
                    EXPR_STR@2848..2857
                      Str@2848..2857 "\"invalid\""
                  RParen@2857..2858 ")"
            Comma@2858..2859 ","
            Whitespace@2859..2864 "\n    "
            RBrace@2864..2865 "}"
        Semi@2865..2866 ";"
        Whitespace@2866..2871 "\n    "
      EXPR_CALL@2871..2907
        EXPR_IDENT@2871..2879
          PATH@2871..2879
            Ident@2871..2879 "show_u32"
        ARG_LIST@2879..2907
          LParen@2879..2880 "("
          ARG@2880..2905
            EXPR_CAST@2880..2905
              EXPR_CAST@2880..2896
                EXPR_UINT16@2880..2887
                  UInt16Lit@2880..2886 "300u16"
                  Whitespace@2886..2887 " "
                AsKeyword@2887..2889 "as"
                Whitespace@2889..2890 " "
                TYPE_UINT8@2890..2896
                  Uint8Keyword@2890..2895 "uint8"
                  Whitespace@2895..2896 " "
              AsKeyword@2896..2898 "as"
              Whitespace@2898..2899 " "
              TYPE_UINT32@2899..2905
                Uint32Keyword@2899..2905 "uint32"
          RParen@2905..2906 ")"
          Whitespace@2906..2907 "\n"
      RBrace@2907..2908 "}"
      Whitespace@2908..2910 "\n\n"
  FN@2910..2986
    FnKeyword@2910..2912 "fn"
    Whitespace@2912..2913 " "
    Ident@2913..2923 "contextual"
    PARAM_LIST@2923..2938
      LParen@2923..2924 "("
      PARAM@2924..2936
        Ident@2924..2929 "value"
        Colon@2929..2930 ":"
        Whitespace@2930..2931 " "
        TYPE_UINT8@2931..2936
          Uint8Keyword@2931..2936 "uint8"
      RParen@2936..2937 ")"
      Whitespace@2937..2938 " "
    Arrow@2938..2940 "->"
    Whitespace@2940..2941 " "
    TYPE_UINT8@2941..2947
      Uint8Keyword@2941..2946 "uint8"
      Whitespace@2946..2947 " "
    BLOCK@2947..2986
      LBrace@2947..2948 "{"
      Whitespace@2948..2953 "\n    "
      EXPR_BINARY@2953..2983
        EXPR_PAREN@2953..2967
          LParen@2953..2954 "("
          EXPR_BINARY@2954..2965
            EXPR_PREFIX@2954..2961
              Tilde@2954..2955 "~"
              EXPR_IDENT@2955..2961
                PATH@2955..2961
                  Ident@2955..2960 "value"
                  Whitespace@2960..2961 " "
            Amp@2961..2962 "&"
            Whitespace@2962..2963 " "
            EXPR_INT@2963..2965
              Int@2963..2965 "15"
          RParen@2965..2966 ")"
          Whitespace@2966..2967 " "
        Pipe@2967..2968 "|"
        Whitespace@2968..2969 " "
        EXPR_BINARY@2969..2983
          EXPR_PAREN@2969..2978
            LParen@2969..2970 "("
            EXPR_BINARY@2970..2976
              EXPR_INT@2970..2972
                Int@2970..2971 "1"
                Whitespace@2971..2972 " "
              LessLess@2972..2974 "<<"
              Whitespace@2974..2975 " "
              EXPR_INT@2975..2976
                Int@2975..2976 "4"
            RParen@2976..2977 ")"
            Whitespace@2977..2978 " "
          Percent@2978..2979 "%"
          Whitespace@2979..2980 " "
          EXPR_INT@2980..2983
            Int@2980..2982 "31"
            Whitespace@2982..2983 "\n"
      RBrace@2983..2984 "}"
      Whitespace@2984..2986 "\n\n"
  FN@2986..3105
    FnKeyword@2986..2988 "fn"
    Whitespace@2988..2989 " "
    Ident@2989..2993 "main"
    PARAM_LIST@2993..2996
      LParen@2993..2994 "("
      RParen@2994..2995 ")"
      Whitespace@2995..2996 " "
    Arrow@2996..2998 "->"
    Whitespace@2998..2999 " "
    TYPE_UNIT@2999..3004
      UnitKeyword@2999..3003 "unit"
      Whitespace@3003..3004 " "
    BLOCK@3004..3105
      LBrace@3004..3005 "{"
      Whitespace@3005..3010 "\n    "
      STMT_EXPR@3010..3030
        EXPR_CALL@3010..3024
          EXPR_IDENT@3010..3022
            PATH@3010..3022
              Ident@3010..3022 "unsigned_ops"
          ARG_LIST@3022..3024
            LParen@3022..3023 "("
            RParen@3023..3024 ")"
        Semi@3024..3025 ";"
        Whitespace@3025..3030 "\n    "
      STMT_EXPR@3030..3048
        EXPR_CALL@3030..3042
          EXPR_IDENT@3030..3040
            PATH@3030..3040
              Ident@3030..3040 "signed_ops"
          ARG_LIST@3040..3042
            LParen@3040..3041 "("
            RParen@3041..3042 ")"
        Semi@3042..3043 ";"
        Whitespace@3043..3048 "\n    "
      STMT_EXPR@3048..3066
        EXPR_CALL@3048..3060
          EXPR_IDENT@3048..3058
            PATH@3048..3058
              Ident@3048..3058 "precedence"
          ARG_LIST@3058..3060
            LParen@3058..3059 "("
            RParen@3059..3060 ")"
        Semi@3060..3061 ";"
        Whitespace@3061..3066 "\n    "
      STMT_EXPR@3066..3079
        EXPR_CALL@3066..3073
          EXPR_IDENT@3066..3071
            PATH@3066..3071
              Ident@3066..3071 "casts"
          ARG_LIST@3071..3073
            LParen@3071..3072 "("
            RParen@3072..3073 ")"
        Semi@3073..3074 ";"
        Whitespace@3074..3079 "\n    "
      EXPR_CALL@3079..3103
        EXPR_IDENT@3079..3086
          PATH@3079..3086
            Ident@3079..3086 "show_u8"
        ARG_LIST@3086..3103
          LParen@3086..3087 "("
          ARG@3087..3101
            EXPR_CALL@3087..3101
              EXPR_IDENT@3087..3097
                PATH@3087..3097
                  Ident@3087..3097 "contextual"
              ARG_LIST@3097..3101
                LParen@3097..3098 "("
                ARG@3098..3100
                  EXPR_INT@3098..3100
                    Int@3098..3100 "10"
                RParen@3100..3101 ")"
          RParen@3101..3102 ")"
          Whitespace@3102..3103 "\n"
      RBrace@3103..3104 "}"
      Whitespace@3104..3105 "\n"