FILE@0..3477
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..15 " "
    STRUCT_FIELD_LIST@15..37
      STRUCT_FIELD@15..23
        Ident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT32@18..23
          Int32Keyword@18..23 "int32"
      Comma@23..24 ","
      Whitespace@24..25 " "
      STRUCT_FIELD@25..34
        Ident@25..26 "y"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..34
          Int32Keyword@28..33 "int32"
          Whitespace@33..34 " "
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  STRUCT@37..66
    StructKeyword@37..43 "struct"
    Whitespace@43..44 " "
    Ident@44..48 "Flag"
    Whitespace@48..49 " "
    LBrace@49..50 "{"
    Whitespace@50..51 " "
    STRUCT_FIELD_LIST@51..66
      STRUCT_FIELD@51..63
        Ident@51..56 "value"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_BOOL@58..63
          BoolKeyword@58..62 "bool"
          Whitespace@62..63 " "
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  STRUCT@66..103
    StructKeyword@66..72 "struct"
    Whitespace@72..73 " "
    Ident@73..80 "Counter"
    Whitespace@80..81 " "
    LBrace@81..82 "{"
    Whitespace@82..83 " "
    STRUCT_FIELD_LIST@83..103
      STRUCT_FIELD@83..100
        Ident@83..87 "cell"
        Colon@87..88 ":"
        Whitespace@88..89 " "
        TYPE_TAPP@89..100
          PATH@89..92
            Ident@89..92 "Ref"
          TYPE_PARAM_LIST@92..100
            LBracket@92..93 "["
            TYPE_INT32@93..98
              Int32Keyword@93..98 "int32"
            RBracket@98..99 "]"
            Whitespace@99..100 " "
      RBrace@100..101 "}"
      Whitespace@101..103 "\n\n"
  TRAIT@103..263
    TraitKeyword@103..108 "trait"
    Whitespace@108..109 " "
    Ident@109..116 "Display"
    Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    TRAIT_METHOD_SIG_LIST@123..263
      TRAIT_METHOD_SIG@123..146
        FnKeyword@123..125 "fn"
        Whitespace@125..126 " "
        Ident@126..130 "show"
        TYPE_LIST@130..137
          LParen@130..131 "("
          TYPE_TAPP@131..135
            PATH@131..135
              Ident@131..135 "Self"
          RParen@135..136 ")"
          Whitespace@136..137 " "
        Arrow@137..139 "->"
        Whitespace@139..140 " "
        TYPE_STRING@140..146
          StringKeyword@140..146 "string"
      Semi@146..147 ";"
      Whitespace@147..152 "\n    "
      TRAIT_METHOD_SIG@152..196
        FnKeyword@152..154 "fn"
        Whitespace@154..155 " "
        Ident@155..164 "show_with"
        TYPE_LIST@164..187
          LParen@164..165 "("
          TYPE_TAPP@165..169
            PATH@165..169
              Ident@165..169 "Self"
          Comma@169..170 ","
          Whitespace@170..171 " "
          TYPE_STRING@171..177
            StringKeyword@171..177 "string"
          Comma@177..178 ","
          Whitespace@178..179 " "
          TYPE_STRING@179..185
            StringKeyword@179..185 "string"
          RParen@185..186 ")"
          Whitespace@186..187 " "
        Arrow@187..189 "->"
        Whitespace@189..190 " "
        TYPE_STRING@190..196
          StringKeyword@190..196 "string"
      Semi@196..197 ";"
      Whitespace@197..202 "\n    "
      TRAIT_METHOD_SIG@202..223
        FnKeyword@202..204 "fn"
        Whitespace@204..205 " "
        Ident@205..209 "tick"
        TYPE_LIST@209..216
          LParen@209..210 "("
          TYPE_TAPP@210..214
            PATH@210..214
              Ident@210..214 "Self"
          RParen@214..215 ")"
          Whitespace@215..216 " "
        Arrow@216..218 "->"
        Whitespace@218..219 " "
        TYPE_UNIT@219..223
          UnitKeyword@219..223 "unit"
      Semi@223..224 ";"
      Whitespace@224..229 "\n    "
      TRAIT_METHOD_SIG@229..258
        FnKeyword@229..231 "fn"
        Whitespace@231..232 " "
        Ident@232..236 "bump"
        TYPE_LIST@236..250
          LParen@236..237 "("
          TYPE_TAPP@237..241
            PATH@237..241
              Ident@237..241 "Self"
          Comma@241..242 ","
          Whitespace@242..243 " "
          TYPE_INT32@243..248
            Int32Keyword@243..248 "int32"
          RParen@248..249 ")"
          Whitespace@249..250 " "
        Arrow@250..252 "->"
        Whitespace@252..253 " "
        TYPE_INT32@253..258
          Int32Keyword@253..258 "int32"
      Semi@258..259 ";"
      Whitespace@259..260 "\n"
      RBrace@260..261 "}"
      Whitespace@261..263 "\n\n"
  IMPL@263..717
    ImplKeyword@263..267 "impl"
    Whitespace@267..268 " "
    PATH@268..276
      Ident@268..275 "Display"
      Whitespace@275..276 " "
    ForKeyword@276..279 "for"
    Whitespace@279..280 " "
    TYPE_TAPP@280..286
      PATH@280..286
        Ident@280..285 "Point"
        Whitespace@285..286 " "
    LBrace@286..287 "{"
    Whitespace@287..292 "\n    "
    FN@292..407
      FnKeyword@292..294 "fn"
      Whitespace@294..295 " "
      Ident@295..299 "show"
      PARAM_LIST@299..313
        LParen@299..300 "("
        PARAM@300..311
          Ident@300..304 "self"
          Colon@304..305 ":"
          Whitespace@305..306 " "
          TYPE_TAPP@306..311
            PATH@306..311
              Ident@306..311 "Point"
        RParen@311..312 ")"
        Whitespace@312..313 " "
      Arrow@313..315 "->"
      Whitespace@315..316 " "
      TYPE_STRING@316..323
        StringKeyword@316..322 "string"
        Whitespace@322..323 " "
      BLOCK@323..407
        LBrace@323..324 "{"
        Whitespace@324..333 "\n        "
        EXPR_BINARY@333..400
          EXPR_BINARY@333..390
            EXPR_BINARY@333..369
              EXPR_BINARY@333..363
                EXPR_STR@333..342
                  Str@333..341 "\"Point(\""
                  Whitespace@341..342 " "
                Plus@342..343 "+"
                Whitespace@343..344 " "
                EXPR_CALL@344..363
                  EXPR_BINARY@344..360
                    EXPR_BINARY@344..350
                      EXPR_IDENT@344..348
                        PATH@344..348
                          Ident@344..348 "self"
                      Dot@348..349 "."
                      EXPR_IDENT@349..350
                        PATH@349..350
                          Ident@349..350 "x"
                    Dot@350..351 "."
                    EXPR_IDENT@351..360
                      PATH@351..360
                        Ident@351..360 "to_string"
                  ARG_LIST@360..363
                    LParen@360..361 "("
                    RParen@361..362 ")"
                    Whitespace@362..363 " "
              Plus@363..364 "+"
              Whitespace@364..365 " "
              EXPR_STR@365..369
                Str@365..368 "\",\""
                Whitespace@368..369 " "
            Plus@369..370 "+"
            Whitespace@370..371 " "
            EXPR_CALL@371..390
              EXPR_BINARY@371..387
                EXPR_BINARY@371..377
                  EXPR_IDENT@371..375
                    PATH@371..375
                      Ident@371..375 "self"
                  Dot@375..376 "."
                  EXPR_IDENT@376..377
                    PATH@376..377
                      Ident@376..377 "y"
                Dot@377..378 "."
                EXPR_IDENT@378..387
                  PATH@378..387
                    Ident@378..387 "to_string"
              ARG_LIST@387..390
                LParen@387..388 "("
                RParen@388..389 ")"
                Whitespace@389..390 " "
          Plus@390..391 "+"
          Whitespace@391..392 " "
          EXPR_STR@392..400
            Str@392..395 "\")\""
            Whitespace@395..400 "\n    "
        RBrace@400..401 "}"
        Whitespace@401..407 "\n\n    "
    FN@407..577
      FnKeyword@407..409 "fn"
      Whitespace@409..410 " "
      Ident@410..419 "show_with"
      PARAM_LIST@419..465
        LParen@419..420 "("
        PARAM@420..433
          Ident@420..424 "self"
          Colon@424..425 ":"
          Whitespace@425..426 " "
          TYPE_TAPP@426..431
            PATH@426..431
              Ident@426..431 "Point"
          Comma@431..432 ","
          Whitespace@432..433 " "
        PARAM@433..449
          Ident@433..439 "prefix"
          Colon@439..440 ":"
          Whitespace@440..441 " "
          TYPE_STRING@441..447
            StringKeyword@441..447 "string"
          Comma@447..448 ","
          Whitespace@448..449 " "
        PARAM@449..463
          Ident@449..455 "suffix"
          Colon@455..456 ":"
          Whitespace@456..457 " "
          TYPE_STRING@457..463
            StringKeyword@457..463 "string"
        RParen@463..464 ")"
        Whitespace@464..465 " "
      Arrow@465..467 "->"
      Whitespace@467..468 " "
      TYPE_STRING@468..475
        StringKeyword@468..474 "string"
        Whitespace@474..475 " "
      BLOCK@475..577
        LBrace@475..476 "{"
        Whitespace@476..485 "\n        "
        EXPR_BINARY@485..570
          EXPR_BINARY@485..557
            EXPR_BINARY@485..551
              EXPR_BINARY@485..530
                EXPR_BINARY@485..524
                  EXPR_BINARY@485..503
                    EXPR_IDENT@485..492
                      PATH@485..492
                        Ident@485..491 "prefix"
                        Whitespace@491..492 " "
                    Plus@492..493 "+"
                    Whitespace@493..494 " "
                    EXPR_STR@494..503
                      Str@494..502 "\"Point(\""
                      Whitespace@502..503 " "
                  Plus@503..504 "+"
                  Whitespace@504..505 " "
                  EXPR_CALL@505..524
                    EXPR_BINARY@505..521
                      EXPR_BINARY@505..511
                        EXPR_IDENT@505..509
                          PATH@505..509
                            Ident@505..509 "self"
                        Dot@509..510 "."
                        EXPR_IDENT@510..511
                          PATH@510..511
                            Ident@510..511 "x"
                      Dot@511..512 "."
                      EXPR_IDENT@512..521
                        PATH@512..521
                          Ident@512..521 "to_string"
                    ARG_LIST@521..524
                      LParen@521..522 "("
                      RParen@522..523 ")"
                      Whitespace@523..524 " "
                Plus@524..525 "+"
                Whitespace@525..526 " "
                EXPR_STR@526..530
                  Str@526..529 "\",\""
                  Whitespace@529..530 " "
              Plus@530..531 "+"
              Whitespace@531..532 " "
              EXPR_CALL@532..551
                EXPR_BINARY@532..548
                  EXPR_BINARY@532..538
                    EXPR_IDENT@532..536
                      PATH@532..536
                        Ident@532..536 "self"
                    Dot@536..537 "."
                    EXPR_IDENT@537..538
                      PATH@537..538
                        Ident@537..538 "y"
                  Dot@538..539 "."
                  EXPR_IDENT@539..548
                    PATH@539..548
                      Ident@539..548 "to_string"
                ARG_LIST@548..551
                  LParen@548..549 "("
                  RParen@549..550 ")"
                  Whitespace@550..551 " "
            Plus@551..552 "+"
            Whitespace@552..553 " "
            EXPR_STR@553..557
              Str@553..556 "\")\""
              Whitespace@556..557 " "
          Plus@557..558 "+"
          Whitespace@558..559 " "
          EXPR_IDENT@559..570
            PATH@559..570
              Ident@559..565 "suffix"
              Whitespace@565..570 "\n    "
        RBrace@570..571 "}"
        Whitespace@571..577 "\n\n    "
    FN@577..630
      FnKeyword@577..579 "fn"
      Whitespace@579..580 " "
      Ident@580..584 "tick"
      PARAM_LIST@584..598
        LParen@584..585 "("
        PARAM@585..596
          Ident@585..589 "self"
          Colon@589..590 ":"
          Whitespace@590..591 " "
          TYPE_TAPP@591..596
            PATH@591..596
              Ident@591..596 "Point"
        RParen@596..597 ")"
        Whitespace@597..598 " "
      Arrow@598..600 "->"
      Whitespace@600..601 " "
      TYPE_UNIT@601..606
        UnitKeyword@601..605 "unit"
        Whitespace@605..606 " "
      BLOCK@606..630
        LBrace@606..607 "{"
        Whitespace@607..616 "\n        "
        EXPR_UNIT@616..623
          LParen@616..617 "("
          RParen@617..618 ")"
          Whitespace@618..623 "\n    "
        RBrace@623..624 "}"
        Whitespace@624..630 "\n\n    "
    FN@630..714
      FnKeyword@630..632 "fn"
      Whitespace@632..633 " "
      Ident@633..637 "bump"
      PARAM_LIST@637..665
        LParen@637..638 "("
        PARAM@638..651
          Ident@638..642 "self"
          Colon@642..643 ":"
          Whitespace@643..644 " "
          TYPE_TAPP@644..649
            PATH@644..649
              Ident@644..649 "Point"
          Comma@649..650 ","
          Whitespace@650..651 " "
        PARAM@651..663
          Ident@651..656 "delta"
          Colon@656..657 ":"
          Whitespace@657..658 " "
          TYPE_INT32@658..663
            Int32Keyword@658..663 "int32"
        RParen@663..664 ")"
        Whitespace@664..665 " "
      Arrow@665..667 "->"
      Whitespace@667..668 " "
      TYPE_INT32@668..674
        Int32Keyword@668..673 "int32"
        Whitespace@673..674 " "
      BLOCK@674..714
        LBrace@674..675 "{"
        Whitespace@675..684 "\n        "
        EXPR_BINARY@684..712
          EXPR_BINARY@684..700
            EXPR_BINARY@684..691
              EXPR_IDENT@684..688
                PATH@684..688
                  Ident@684..688 "self"
              Dot@688..689 "."
              EXPR_IDENT@689..691
                PATH@689..691
                  Ident@689..690 "x"
                  Whitespace@690..691 " "
            Plus@691..692 "+"
            Whitespace@692..693 " "
            EXPR_BINARY@693..700
              EXPR_IDENT@693..697
                PATH@693..697
                  Ident@693..697 "self"
              Dot@697..698 "."
              EXPR_IDENT@698..700
                PATH@698..700
                  Ident@698..699 "y"
                  Whitespace@699..700 " "
          Plus@700..701 "+"
          Whitespace@701..702 " "
          EXPR_IDENT@702..712
            PATH@702..712
              Ident@702..707 "delta"
              Whitespace@707..712 "\n    "
        RBrace@712..713 "}"
        Whitespace@713..714 "\n"
    RBrace@714..715 "}"
    Whitespace@715..717 "\n\n"
  IMPL@717..1182
    ImplKeyword@717..721 "impl"
    Whitespace@721..722 " "
    PATH@722..730
      Ident@722..729 "Display"
      Whitespace@729..730 " "
    ForKeyword@730..733 "for"
    Whitespace@733..734 " "
    TYPE_TAPP@734..739
      PATH@734..739
        Ident@734..738 "Flag"
        Whitespace@738..739 " "
    LBrace@739..740 "{"
    Whitespace@740..745 "\n    "
    FN@745..850
      FnKeyword@745..747 "fn"
      Whitespace@747..748 " "
      Ident@748..752 "show"
      PARAM_LIST@752..765
        LParen@752..753 "("
        PARAM@753..763
          Ident@753..757 "self"
          Colon@757..758 ":"
          Whitespace@758..759 " "
          TYPE_TAPP@759..763
            PATH@759..763
              Ident@759..763 "Flag"
        RParen@763..764 ")"
        Whitespace@764..765 " "
      Arrow@765..767 "->"
      Whitespace@767..768 " "
      TYPE_STRING@768..775
        StringKeyword@768..774 "string"
        Whitespace@774..775 " "
      BLOCK@775..850
        LBrace@775..776 "{"
        Whitespace@776..785 "\n        "
        EXPR_IF@785..843
          IfKeyword@785..787 "if"
          Whitespace@787..788 " "
          EXPR_IF_COND@788..799
            EXPR_BINARY@788..799
              EXPR_IDENT@788..792
                PATH@788..792
                  Ident@788..792 "self"
              Dot@792..793 "."
              EXPR_IDENT@793..799
                PATH@793..799
                  Ident@793..798 "value"
                  Whitespace@798..799 " "
          EXPR_IF_THEN@799..816
            BLOCK@799..816
              LBrace@799..800 "{"
              Whitespace@800..801 " "
              EXPR_STR@801..814
                Str@801..813 "\"Flag(true)\""
                Whitespace@813..814 " "
              RBrace@814..815 "}"
              Whitespace@815..816 " "
          ElseKeyword@816..820 "else"
          Whitespace@820..821 " "
          EXPR_IF_ELSE@821..843
            BLOCK@821..843
              LBrace@821..822 "{"
              Whitespace@822..823 " "
              EXPR_STR@823..837
                Str@823..836 "\"Flag(false)\""
                Whitespace@836..837 " "
              RBrace@837..838 "}"
              Whitespace@838..843 "\n    "
        RBrace@843..844 "}"
        Whitespace@844..850 "\n\n    "
    FN@850..1028
      FnKeyword@850..852 "fn"
      Whitespace@852..853 " "
      Ident@853..862 "show_with"
      PARAM_LIST@862..907
        LParen@862..863 "("
        PARAM@863..875
          Ident@863..867 "self"
          Colon@867..868 ":"
          Whitespace@868..869 " "
          TYPE_TAPP@869..873
            PATH@869..873
              Ident@869..873 "Flag"
          Comma@873..874 ","
          Whitespace@874..875 " "
        PARAM@875..891
          Ident@875..881 "prefix"
          Colon@881..882 ":"
          Whitespace@882..883 " "
          TYPE_STRING@883..889
            StringKeyword@883..889 "string"
          Comma@889..890 ","
          Whitespace@890..891 " "
        PARAM@891..905
          Ident@891..897 "suffix"
          Colon@897..898 ":"
          Whitespace@898..899 " "
          TYPE_STRING@899..905
            StringKeyword@899..905 "string"
        RParen@905..906 ")"
        Whitespace@906..907 " "
      Arrow@907..909 "->"
      Whitespace@909..910 " "
      TYPE_STRING@910..917
        StringKeyword@910..916 "string"
        Whitespace@916..917 " "
      BLOCK@917..1028
        LBrace@917..918 "{"
        Whitespace@918..927 "\n        "
        EXPR_IF@927..1021
          IfKeyword@927..929 "if"
          Whitespace@929..930 " "
          EXPR_IF_COND@930..941
            EXPR_BINARY@930..941
              EXPR_IDENT@930..934
                PATH@930..934
                  Ident@930..934 "self"
              Dot@934..935 "."
              EXPR_IDENT@935..941
                PATH@935..941
                  Ident@935..940 "value"
                  Whitespace@940..941 " "
          EXPR_IF_THEN@941..976
            BLOCK@941..976
              LBrace@941..942 "{"
              Whitespace@942..943 " "
              EXPR_BINARY@943..974
                EXPR_BINARY@943..965
                  EXPR_IDENT@943..950
                    PATH@943..950
                      Ident@943..949 "prefix"
                      Whitespace@949..950 " "
                  Plus@950..951 "+"
                  Whitespace@951..952 " "
                  EXPR_STR@952..965
                    Str@952..964 "\"Flag(true)\""
                    Whitespace@964..965 " "
                Plus@965..966 "+"
                Whitespace@966..967 " "
                EXPR_IDENT@967..974
                  PATH@967..974
                    Ident@967..973 "suffix"
                    Whitespace@973..974 " "
              RBrace@974..975 "}"
              Whitespace@975..976 " "
          ElseKeyword@976..980 "else"
          Whitespace@980..981 " "
          EXPR_IF_ELSE@981..1021
            BLOCK@981..1021
              LBrace@981..982 "{"
              Whitespace@982..983 " "
              EXPR_BINARY@983..1015
                EXPR_BINARY@983..1006
                  EXPR_IDENT@983..990
                    PATH@983..990
                      Ident@983..989 "prefix"
                      Whitespace@989..990 " "
                  Plus@990..991 "+"
                  Whitespace@991..992 " "
                  EXPR_STR@992..1006
                    Str@992..1005 "\"Flag(false)\""
                    Whitespace@1005..1006 " "
                Plus@1006..1007 "+"
                Whitespace@1007..1008 " "
                EXPR_IDENT@1008..1015
                  PATH@1008..1015
                    Ident@1008..1014 "suffix"
                    Whitespace@1014..1015 " "
              RBrace@1015..1016 "}"
              Whitespace@1016..1021 "\n    "
        RBrace@1021..1022 "}"
        Whitespace@1022..1028 "\n\n    "
    FN@1028..1080
      FnKeyword@1028..1030 "fn"
      Whitespace@1030..1031 " "
      Ident@1031..1035 "tick"
      PARAM_LIST@1035..1048
        LParen@1035..1036 "("
        PARAM@1036..1046
          Ident@1036..1040 "self"
          Colon@1040..1041 ":"
          Whitespace@1041..1042 " "
          TYPE_TAPP@1042..1046
            PATH@1042..1046
              Ident@1042..1046 "Flag"
        RParen@1046..1047 ")"
        Whitespace@1047..1048 " "
      Arrow@1048..1050 "->"
      Whitespace@1050..1051 " "
      TYPE_UNIT@1051..1056
        UnitKeyword@1051..1055 "unit"
        Whitespace@1055..1056 " "
      BLOCK@1056..1080
        LBrace@1056..1057 "{"
        Whitespace@1057..1066 "\n        "
        EXPR_UNIT@1066..1073
          LParen@1066..1067 "("
          RParen@1067..1068 ")"
          Whitespace@1068..1073 "\n    "
        RBrace@1073..1074 "}"
        Whitespace@1074..1080 "\n\n    "
    FN@1080..1179
      FnKeyword@1080..1082 "fn"
      Whitespace@1082..1083 " "
      Ident@1083..1087 "bump"
      PARAM_LIST@1087..1114
        LParen@1087..1088 "("
        PARAM@1088..1100
          Ident@1088..1092 "self"
          Colon@1092..1093 ":"
          Whitespace@1093..1094 " "
          TYPE_TAPP@1094..1098
            PATH@1094..1098
              Ident@1094..1098 "Flag"
          Comma@1098..1099 ","
          Whitespace@1099..1100 " "
        PARAM@1100..1112
          Ident@1100..1105 "delta"
          Colon@1105..1106 ":"
          Whitespace@1106..1107 " "
          TYPE_INT32@1107..1112
            Int32Keyword@1107..1112 "int32"
        RParen@1112..1113 ")"
        Whitespace@1113..1114 " "
      Arrow@1114..1116 "->"
      Whitespace@1116..1117 " "
      TYPE_INT32@1117..1123
        Int32Keyword@1117..1122 "int32"
        Whitespace@1122..1123 " "
      BLOCK@1123..1179
        LBrace@1123..1124 "{"
        Whitespace@1124..1133 "\n        "
        EXPR_IF@1133..1177
          IfKeyword@1133..1135 "if"
          Whitespace@1135..1136 " "
          EXPR_IF_COND@1136..1147
            EXPR_BINARY@1136..1147
              EXPR_IDENT@1136..1140
                PATH@1136..1140
                  Ident@1136..1140 "self"
              Dot@1140..1141 "."
              EXPR_IDENT@1141..1147
                PATH@1141..1147
                  Ident@1141..1146 "value"
                  Whitespace@1146..1147 " "
          EXPR_IF_THEN@1147..1157
            BLOCK@1147..1157
              LBrace@1147..1148 "{"
              Whitespace@1148..1149 " "
              EXPR_IDENT@1149..1155
                PATH@1149..1155
                  Ident@1149..1154 "delta"
                  Whitespace@1154..1155 " "
              RBrace@1155..1156 "}"
              Whitespace@1156..1157 " "
          ElseKeyword@1157..1161 "else"
          Whitespace@1161..1162 " "
          EXPR_IF_ELSE@1162..1177
            BLOCK@1162..1177
              LBrace@1162..1163 "{"
              Whitespace@1163..1164 " "
              EXPR_PREFIX@1164..1171
                Minus@1164..1165 "-"
                EXPR_IDENT@1165..1171
                  PATH@1165..1171
                    Ident@1165..1170 "delta"
                    Whitespace@1170..1171 " "
              RBrace@1171..1172 "}"
              Whitespace@1172..1177 "\n    "
        RBrace@1177..1178 "}"
        Whitespace@1178..1179 "\n"
    RBrace@1179..1180 "}"
    Whitespace@1180..1182 "\n\n"
  IMPL@1182..1775
    ImplKeyword@1182..1186 "impl"
    Whitespace@1186..1187 " "
    PATH@1187..1195
      Ident@1187..1194 "Display"
      Whitespace@1194..1195 " "
    ForKeyword@1195..1198 "for"
    Whitespace@1198..1199 " "
    TYPE_TAPP@1199..1207
      PATH@1199..1207
        Ident@1199..1206 "Counter"
        Whitespace@1206..1207 " "
    LBrace@1207..1208 "{"
    Whitespace@1208..1213 "\n    "
    FN@1213..1317
      FnKeyword@1213..1215 "fn"
      Whitespace@1215..1216 " "
      Ident@1216..1220 "show"
      PARAM_LIST@1220..1236
        LParen@1220..1221 "("
        PARAM@1221..1234
          Ident@1221..1225 "self"
          Colon@1225..1226 ":"
          Whitespace@1226..1227 " "
          TYPE_TAPP@1227..1234
            PATH@1227..1234
              Ident@1227..1234 "Counter"
        RParen@1234..1235 ")"
        Whitespace@1235..1236 " "
      Arrow@1236..1238 "->"
      Whitespace@1238..1239 " "
      TYPE_STRING@1239..1246
        StringKeyword@1239..1245 "string"
        Whitespace@1245..1246 " "
      BLOCK@1246..1317
        LBrace@1246..1247 "{"
        Whitespace@1247..1256 "\n        "
        EXPR_BINARY@1256..1310
          EXPR_BINARY@1256..1300
            EXPR_STR@1256..1267
              Str@1256..1266 "\"Counter(\""
              Whitespace@1266..1267 " "
            Plus@1267..1268 "+"
            Whitespace@1268..1269 " "
            EXPR_CALL@1269..1300
              EXPR_BINARY@1269..1297
                EXPR_CALL@1269..1287
                  EXPR_IDENT@1269..1276
                    PATH@1269..1276
                      Ident@1269..1276 "ref_get"
                  ARG_LIST@1276..1287
                    LParen@1276..1277 "("
                    ARG@1277..1286
                      EXPR_BINARY@1277..1286
                        EXPR_IDENT@1277..1281
                          PATH@1277..1281
                            Ident@1277..1281 "self"
                        Dot@1281..1282 "."
                        EXPR_IDENT@1282..1286
                          PATH@1282..1286
                            Ident@1282..1286 "cell"
                    RParen@1286..1287 ")"
                Dot@1287..1288 "."
                EXPR_IDENT@1288..1297
                  PATH@1288..1297
                    Ident@1288..1297 "to_string"
              ARG_LIST@1297..1300
                LParen@1297..1298 "("
                RParen@1298..1299 ")"
                Whitespace@1299..1300 " "
          Plus@1300..1301 "+"
          Whitespace@1301..1302 " "
          EXPR_STR@1302..1310
            Str@1302..1305 "\")\""
            Whitespace@1305..1310 "\n    "
        RBrace@1310..1311 "}"
        Whitespace@1311..1317 "\n\n    "
    FN@1317..1476
      FnKeyword@1317..1319 "fn"
      Whitespace@1319..1320 " "
      Ident@1320..1329 "show_with"
      PARAM_LIST@1329..1377
        LParen@1329..1330 "("
        PARAM@1330..1345
          Ident@1330..1334 "self"
          Colon@1334..1335 ":"
          Whitespace@1335..1336 " "
          TYPE_TAPP@1336..1343
            PATH@1336..1343
              Ident@1336..1343 "Counter"
          Comma@1343..1344 ","
          Whitespace@1344..1345 " "
        PARAM@1345..1361
          Ident@1345..1351 "prefix"
          Colon@1351..1352 ":"
          Whitespace@1352..1353 " "
          TYPE_STRING@1353..1359
            StringKeyword@1353..1359 "string"
          Comma@1359..1360 ","
          Whitespace@1360..1361 " "
        PARAM@1361..1375
          Ident@1361..1367 "suffix"
          Colon@1367..1368 ":"
          Whitespace@1368..1369 " "
          TYPE_STRING@1369..1375
            StringKeyword@1369..1375 "string"
        RParen@1375..1376 ")"
        Whitespace@1376..1377 " "
      Arrow@1377..1379 "->"
      Whitespace@1379..1380 " "
      TYPE_STRING@1380..1387
        StringKeyword@1380..1386 "string"
        Whitespace@1386..1387 " "
      BLOCK@1387..1476
        LBrace@1387..1388 "{"
        Whitespace@1388..1397 "\n        "
        EXPR_BINARY@1397..1469
          EXPR_BINARY@1397..1456
            EXPR_BINARY@1397..1450
              EXPR_BINARY@1397..1417
                EXPR_IDENT@1397..1404
                  PATH@1397..1404
                    Ident@1397..1403 "prefix"
                    Whitespace@1403..1404 " "
                Plus@1404..1405 "+"
                Whitespace@1405..1406 " "
                EXPR_STR@1406..1417
                  Str@1406..1416 "\"Counter(\""
                  Whitespace@1416..1417 " "
              Plus@1417..1418 "+"
              Whitespace@1418..1419 " "
              EXPR_CALL@1419..1450
                EXPR_BINARY@1419..1447
                  EXPR_CALL@1419..1437
                    EXPR_IDENT@1419..1426
                      PATH@1419..1426
                        Ident@1419..1426 "ref_get"
                    ARG_LIST@1426..1437
                      LParen@1426..1427 "("
                      ARG@1427..1436
                        EXPR_BINARY@1427..1436
                          EXPR_IDENT@1427..1431
                            PATH@1427..1431
                              Ident@1427..1431 "self"
                          Dot@1431..1432 "."
                          EXPR_IDENT@1432..1436
                            PATH@1432..1436
                              Ident@1432..1436 "cell"
                      RParen@1436..1437 ")"
                  Dot@1437..1438 "."
                  EXPR_IDENT@1438..1447
                    PATH@1438..1447
                      Ident@1438..1447 "to_string"
                ARG_LIST@1447..1450
                  LParen@1447..1448 "("
                  RParen@1448..1449 ")"
                  Whitespace@1449..1450 " "
            Plus@1450..1451 "+"
            Whitespace@1451..1452 " "
            EXPR_STR@1452..1456
              Str@1452..1455 "\")\""
              Whitespace@1455..1456 " "
          Plus@1456..1457 "+"
          Whitespace@1457..1458 " "
          EXPR_IDENT@1458..1469
            PATH@1458..1469
              Ident@1458..1464 "suffix"
              Whitespace@1464..1469 "\n    "
        RBrace@1469..1470 "}"
        Whitespace@1470..1476 "\n\n    "
    FN@1476..1616
      FnKeyword@1476..1478 "fn"
      Whitespace@1478..1479 " "
      Ident@1479..1483 "tick"
      PARAM_LIST@1483..1499
        LParen@1483..1484 "("
        PARAM@1484..1497
          Ident@1484..1488 "self"
          Colon@1488..1489 ":"
          Whitespace@1489..1490 " "
          TYPE_TAPP@1490..1497
            PATH@1490..1497
              Ident@1490..1497 "Counter"
        RParen@1497..1498 ")"
        Whitespace@1498..1499 " "
      Arrow@1499..1501 "->"
      Whitespace@1501..1502 " "
      TYPE_UNIT@1502..1507
        UnitKeyword@1502..1506 "unit"
        Whitespace@1506..1507 " "
      BLOCK@1507..1616
        LBrace@1507..1508 "{"
        Whitespace@1508..1517 "\n        "
        STMT_LET@1517..1560
          LetKeyword@1517..1520 "let"
          Whitespace@1520..1521 " "
          PATTERN_VARIABLE@1521..1526
            Ident@1521..1525 "next"
            Whitespace@1525..1526 " "
          Eq@1526..1527 "="
          Whitespace@1527..1528 " "
          EXPR_BINARY@1528..1550
            EXPR_CALL@1528..1547
              EXPR_IDENT@1528..1535
                PATH@1528..1535
                  Ident@1528..1535 "ref_get"
              ARG_LIST@1535..1547
                LParen@1535..1536 "("
                ARG@1536..1545
                  EXPR_BINARY@1536..1545
                    EXPR_IDENT@1536..1540
                      PATH@1536..1540
                        Ident@1536..1540 "self"
                    Dot@1540..1541 "."
                    EXPR_IDENT@1541..1545
                      PATH@1541..1545
                        Ident@1541..1545 "cell"
                RParen@1545..1546 ")"
                Whitespace@1546..1547 " "
            Plus@1547..1548 "+"
            Whitespace@1548..1549 " "
            EXPR_INT@1549..1550
              Int@1549..1550 "1"
          Semi@1550..1551 ";"
          Whitespace@1551..1560 "\n        "
        STMT_LET@1560..1602
          LetKeyword@1560..1563 "let"
          Whitespace@1563..1564 " "
          PATTERN_WILDCARD@1564..1566
            WildcardKeyword@1564..1565 "_"
            Whitespace@1565..1566 " "
          Eq@1566..1567 "="
          Whitespace@1567..1568 " "
          EXPR_CALL@1568..1592
            EXPR_IDENT@1568..1575
              PATH@1568..1575
                Ident@1568..1575 "ref_set"
            ARG_LIST@1575..1592
              LParen@1575..1576 "("
              ARG@1576..1587
                EXPR_BINARY@1576..1585
                  EXPR_IDENT@1576..1580
                    PATH@1576..1580
                      Ident@1576..1580 "self"
                  Dot@1580..1581 "."
                  EXPR_IDENT@1581..1585
                    PATH@1581..1585
                      Ident@1581..1585 "cell"
                Comma@1585..1586 ","
                Whitespace@1586..1587 " "
              ARG@1587..1591
                EXPR_IDENT@1587..1591
                  PATH@1587..1591
                    Ident@1587..1591 "next"
              RParen@1591..1592 ")"
          Semi@1592..1593 ";"
          Whitespace@1593..1602 "\n        "
        EXPR_UNIT@1602..1609
          LParen@1602..1603 "("
          RParen@1603..1604 ")"
          Whitespace@1604..1609 "\n    "
        RBrace@1609..1610 "}"
        Whitespace@1610..1616 "\n\n    "
    FN@1616..1772
      FnKeyword@1616..1618 "fn"
      Whitespace@1618..1619 " "
      Ident@1619..1623 "bump"
      PARAM_LIST@1623..1653
        LParen@1623..1624 "("
        PARAM@1624..1639
          Ident@1624..1628 "self"
          Colon@1628..1629 ":"
          Whitespace@1629..1630 " "
          TYPE_TAPP@1630..1637
            PATH@1630..1637
              Ident@1630..1637 "Counter"
          Comma@1637..1638 ","
          Whitespace@1638..1639 " "
        PARAM@1639..1651
          Ident@1639..1644 "delta"
          Colon@1644..1645 ":"
          Whitespace@1645..1646 " "
          TYPE_INT32@1646..1651
            Int32Keyword@1646..1651 "int32"
        RParen@1651..1652 ")"
        Whitespace@1652..1653 " "
      Arrow@1653..1655 "->"
      Whitespace@1655..1656 " "
      TYPE_INT32@1656..1662
        Int32Keyword@1656..1661 "int32"
        Whitespace@1661..1662 " "
      BLOCK@1662..1772
        LBrace@1662..1663 "{"
        Whitespace@1663..1672 "\n        "
        STMT_LET@1672..1719
          LetKeyword@1672..1675 "let"
          Whitespace@1675..1676 " "
          PATTERN_VARIABLE@1676..1681
            Ident@1676..1680 "next"
            Whitespace@1680..1681 " "
          Eq@1681..1682 "="
          Whitespace@1682..1683 " "
          EXPR_BINARY@1683..1709
            EXPR_CALL@1683..1702
              EXPR_IDENT@1683..1690
                PATH@1683..1690
                  Ident@1683..1690 "ref_get"
              ARG_LIST@1690..1702
                LParen@1690..1691 "("
                ARG@1691..1700
                  EXPR_BINARY@1691..1700
                    EXPR_IDENT@1691..1695
                      PATH@1691..1695
                        Ident@1691..1695 "self"
                    Dot@1695..1696 "."
                    EXPR_IDENT@1696..1700
                      PATH@1696..1700
                        Ident@1696..1700 "cell"
                RParen@1700..1701 ")"
                Whitespace@1701..1702 " "
            Plus@1702..1703 "+"
            Whitespace@1703..1704 " "
            EXPR_IDENT@1704..1709
              PATH@1704..1709
                Ident@1704..1709 "delta"
          Semi@1709..1710 ";"
          Whitespace@1710..1719 "\n        "
        STMT_LET@1719..1761
          LetKeyword@1719..1722 "let"
          Whitespace@1722..1723 " "
          PATTERN_WILDCARD@1723..1725
            WildcardKeyword@1723..1724 "_"
            Whitespace@1724..1725 " "
          Eq@1725..1726 "="
          Whitespace@1726..1727 " "
          EXPR_CALL@1727..1751
            EXPR_IDENT@1727..1734
              PATH@1727..1734
                Ident@1727..1734 "ref_set"
            ARG_LIST@1734..1751
              LParen@1734..1735 "("
              ARG@1735..1746
                EXPR_BINARY@1735..1744
                  EXPR_IDENT@1735..1739
                    PATH@1735..1739
                      Ident@1735..1739 "self"
                  Dot@1739..1740 "."
                  EXPR_IDENT@1740..1744
                    PATH@1740..1744
                      Ident@1740..1744 "cell"
                Comma@1744..1745 ","
                Whitespace@1745..1746 " "
              ARG@1746..1750
                EXPR_IDENT@1746..1750
                  PATH@1746..1750
                    Ident@1746..1750 "next"
              RParen@1750..1751 ")"
          Semi@1751..1752 ";"
          Whitespace@1752..1761 "\n        "
        EXPR_IDENT@1761..1770
          PATH@1761..1770
            Ident@1761..1765 "next"
            Whitespace@1765..1770 "\n    "
        RBrace@1770..1771 "}"
        Whitespace@1771..1772 "\n"
    RBrace@1772..1773 "}"
    Whitespace@1773..1775 "\n\n"
  FN@1775..1854
    FnKeyword@1775..1777 "fn"
    Whitespace@1777..1778 " "
    Ident@1778..1786 "show_dyn"
    PARAM_LIST@1786..1803
      LParen@1786..1787 "("
      PARAM@1787..1801
        Ident@1787..1788 "x"
        Colon@1788..1789 ":"
        Whitespace@1789..1790 " "
        TYPE_DYN@1790..1801
          DynKeyword@1790..1793 "dyn"
          Whitespace@1793..1794 " "
          PATH@1794..1801
            Ident@1794..1801 "Display"
      RParen@1801..1802 ")"
      Whitespace@1802..1803 " "
    Arrow@1803..1805 "->"
    Whitespace@1805..1806 " "
    TYPE_STRING@1806..1813
      StringKeyword@1806..1812 "string"
      Whitespace@1812..1813 " "
    BLOCK@1813..1854
      LBrace@1813..1814 "{"
      Whitespace@1814..1819 "\n    "
      EXPR_CALL@1819..1851
        EXPR_IDENT@1819..1837
          PATH@1819..1837
            Ident@1819..1826 "Display"
            ColonColon@1826..1828 "::"
            Ident@1828..1837 "show_with"
        ARG_LIST@1837..1851
          LParen@1837..1838 "("
          ARG@1838..1841
            EXPR_IDENT@1838..1839
              PATH@1838..1839
                Ident@1838..1839 "x"
            Comma@1839..1840 ","
            Whitespace@1840..1841 " "
          ARG@1841..1846
            EXPR_STR@1841..1844
              Str@1841..1844 "\"<\""
            Comma@1844..1845 ","
            Whitespace@1845..1846 " "
          ARG@1846..1849
            EXPR_STR@1846..1849
              Str@1846..1849 "\">\""
          RParen@1849..1850 ")"
          Whitespace@1850..1851 "\n"
      RBrace@1851..1852 "}"
      Whitespace@1852..1854 "\n\n"
  FN@1854..2042
    FnKeyword@1854..1856 "fn"
    Whitespace@1856..1857 " "
    Ident@1857..1873 "call_via_closure"
    PARAM_LIST@1873..1903
      LParen@1873..1874 "("
      PARAM@1874..1890
        Ident@1874..1875 "x"
        Colon@1875..1876 ":"
        Whitespace@1876..1877 " "
        TYPE_DYN@1877..1888
          DynKeyword@1877..1880 "dyn"
          Whitespace@1880..1881 " "
          PATH@1881..1888
            Ident@1881..1888 "Display"
        Comma@1888..1889 ","
        Whitespace@1889..1890 " "
      PARAM@1890..1901
        Ident@1890..1893 "tag"
        Colon@1893..1894 ":"
        Whitespace@1894..1895 " "
        TYPE_STRING@1895..1901
          StringKeyword@1895..1901 "string"
      RParen@1901..1902 ")"
      Whitespace@1902..1903 " "
    Arrow@1903..1905 "->"
    Whitespace@1905..1906 " "
    TYPE_STRING@1906..1913
      StringKeyword@1906..1912 "string"
      Whitespace@1912..1913 " "
    BLOCK@1913..2042
      LBrace@1913..1914 "{"
      Whitespace@1914..1919 "\n    "
      STMT_LET@1919..2029
        LetKeyword@1919..1922 "let"
        Whitespace@1922..1923 " "
        PATTERN_VARIABLE@1923..1924
          Ident@1923..1924 "f"
        Colon@1924..1925 ":"
        Whitespace@1925..1926 " "
        TYPE_FUNC@1926..1958
          TYPE_TUPLE@1926..1948
            TYPE_LIST@1926..1948
              LParen@1926..1927 "("
              TYPE_DYN@1927..1938
                DynKeyword@1927..1930 "dyn"
                Whitespace@1930..1931 " "
                PATH@1931..1938
                  Ident@1931..1938 "Display"
              Comma@1938..1939 ","
              Whitespace@1939..1940 " "
              TYPE_STRING@1940..1946
                StringKeyword@1940..1946 "string"
              RParen@1946..1947 ")"
              Whitespace@1947..1948 " "
          Arrow@1948..1950 "->"
          Whitespace@1950..1951 " "
          TYPE_STRING@1951..1958
            StringKeyword@1951..1957 "string"
            Whitespace@1957..1958 " "
        Eq@1958..1959 "="
        Whitespace@1959..1968 "\n        "
        EXPR_CLOSURE@1968..2023
          CLOSURE_PARAM_LIST@1968..1996
            Pipe@1968..1969 "|"
            CLOSURE_PARAM@1969..1983
              Ident@1969..1970 "v"
              Colon@1970..1971 ":"
              Whitespace@1971..1972 " "
              TYPE_DYN@1972..1983
                DynKeyword@1972..1975 "dyn"
                Whitespace@1975..1976 " "
                PATH@1976..1983
                  Ident@1976..1983 "Display"
            Comma@1983..1984 ","
            Whitespace@1984..1985 " "
            CLOSURE_PARAM@1985..1994
              Ident@1985..1986 "t"
              Colon@1986..1987 ":"
              Whitespace@1987..1988 " "
              TYPE_STRING@1988..1994
                StringKeyword@1988..1994 "string"
            Pipe@1994..1995 "|"
            Whitespace@1995..1996 " "
          EXPR_CLOSURE_BODY@1996..2023
            EXPR_CALL@1996..2023
              EXPR_IDENT@1996..2014
                PATH@1996..2014
                  Ident@1996..2003 "Display"
                  ColonColon@2003..2005 "::"
                  Ident@2005..2014 "show_with"
              ARG_LIST@2014..2023
                LParen@2014..2015 "("
                ARG@2015..2018
                  EXPR_IDENT@2015..2016
                    PATH@2015..2016
                      Ident@2015..2016 "v"
                  Comma@2016..2017 ","
                  Whitespace@2017..2018 " "
                ARG@2018..2021
                  EXPR_IDENT@2018..2019
                    PATH@2018..2019
                      Ident@2018..2019 "t"
                  Comma@2019..2020 ","
                  Whitespace@2020..2021 " "
                ARG@2021..2022
                  EXPR_IDENT@2021..2022
                    PATH@2021..2022
                      Ident@2021..2022 "t"
                RParen@2022..2023 ")"
        Semi@2023..2024 ";"
        Whitespace@2024..2029 "\n    "
      EXPR_CALL@2029..2039
        EXPR_IDENT@2029..2030
          PATH@2029..2030
            Ident@2029..2030 "f"
        ARG_LIST@2030..2039
          LParen@2030..2031 "("
          ARG@2031..2034
            EXPR_IDENT@2031..2032
              PATH@2031..2032
                Ident@2031..2032 "x"
            Comma@2032..2033 ","
            Whitespace@2033..2034 " "
          ARG@2034..2037
            EXPR_IDENT@2034..2037
              PATH@2034..2037
                Ident@2034..2037 "tag"
          RParen@2037..2038 ")"
          Whitespace@2038..2039 "\n"
      RBrace@2039..2040 "}"
      Whitespace@2040..2042 "\n\n"
  FN@2042..2157
    FnKeyword@2042..2044 "fn"
    Whitespace@2044..2045 " "
    Ident@2045..2058 "make_renderer"
    PARAM_LIST@2058..2072
      LParen@2058..2059 "("
      PARAM@2059..2070
        Ident@2059..2062 "tag"
        Colon@2062..2063 ":"
        Whitespace@2063..2064 " "
        TYPE_STRING@2064..2070
          StringKeyword@2064..2070 "string"
      RParen@2070..2071 ")"
      Whitespace@2071..2072 " "
    Arrow@2072..2074 "->"
    Whitespace@2074..2075 " "
    TYPE_FUNC@2075..2099
      TYPE_TUPLE@2075..2089
        TYPE_LIST@2075..2089
          LParen@2075..2076 "("
          TYPE_DYN@2076..2087
            DynKeyword@2076..2079 "dyn"
            Whitespace@2079..2080 " "
            PATH@2080..2087
              Ident@2080..2087 "Display"
          RParen@2087..2088 ")"
          Whitespace@2088..2089 " "
      Arrow@2089..2091 "->"
      Whitespace@2091..2092 " "
      TYPE_STRING@2092..2099
        StringKeyword@2092..2098 "string"
        Whitespace@2098..2099 " "
    BLOCK@2099..2157
      LBrace@2099..2100 "{"
      Whitespace@2100..2105 "\n    "
      EXPR_CLOSURE@2105..2154
        CLOSURE_PARAM_LIST@2105..2122
          Pipe@2105..2106 "|"
          CLOSURE_PARAM@2106..2120
            Ident@2106..2107 "x"
            Colon@2107..2108 ":"
            Whitespace@2108..2109 " "
            TYPE_DYN@2109..2120
              DynKeyword@2109..2112 "dyn"
              Whitespace@2112..2113 " "
              PATH@2113..2120
                Ident@2113..2120 "Display"
          Pipe@2120..2121 "|"
          Whitespace@2121..2122 " "
        EXPR_CLOSURE_BODY@2122..2154
          EXPR_CALL@2122..2154
            EXPR_IDENT@2122..2140
              PATH@2122..2140
                Ident@2122..2129 "Display"
                ColonColon@2129..2131 "::"
                Ident@2131..2140 "show_with"
            ARG_LIST@2140..2154
              LParen@2140..2141 "("
              ARG@2141..2144
                EXPR_IDENT@2141..2142
                  PATH@2141..2142
                    Ident@2141..2142 "x"
                Comma@2142..2143 ","
                Whitespace@2143..2144 " "
              ARG@2144..2149
                EXPR_IDENT@2144..2147
                  PATH@2144..2147
                    Ident@2144..2147 "tag"
                Comma@2147..2148 ","
                Whitespace@2148..2149 " "
              ARG@2149..2152
                EXPR_IDENT@2149..2152
                  PATH@2149..2152
                    Ident@2149..2152 "tag"
              RParen@2152..2153 ")"
              Whitespace@2153..2154 "\n"
      RBrace@2154..2155 "}"
      Whitespace@2155..2157 "\n\n"
  FN@2157..2329
    FnKeyword@2157..2159 "fn"
    Whitespace@2159..2160 " "
    Ident@2160..2173 "bump_and_show"
    PARAM_LIST@2173..2204
      LParen@2173..2174 "("
      PARAM@2174..2190
        Ident@2174..2175 "x"
        Colon@2175..2176 ":"
        Whitespace@2176..2177 " "
        TYPE_DYN@2177..2188
          DynKeyword@2177..2180 "dyn"
          Whitespace@2180..2181 " "
          PATH@2181..2188
            Ident@2181..2188 "Display"
        Comma@2188..2189 ","
        Whitespace@2189..2190 " "
      PARAM@2190..2202
        Ident@2190..2195 "delta"
        Colon@2195..2196 ":"
        Whitespace@2196..2197 " "
        TYPE_INT32@2197..2202
          Int32Keyword@2197..2202 "int32"
      RParen@2202..2203 ")"
      Whitespace@2203..2204 " "
    Arrow@2204..2206 "->"
    Whitespace@2206..2207 " "
    TYPE_STRING@2207..2214
      StringKeyword@2207..2213 "string"
      Whitespace@2213..2214 " "
    BLOCK@2214..2329
      LBrace@2214..2215 "{"
      Whitespace@2215..2220 "\n    "
      STMT_LET@2220..2250
        LetKeyword@2220..2223 "let"
        Whitespace@2223..2224 " "
        PATTERN_WILDCARD@2224..2226
          WildcardKeyword@2224..2225 "_"
          Whitespace@2225..2226 " "
        Eq@2226..2227 "="
        Whitespace@2227..2228 " "
        EXPR_CALL@2228..2244
          EXPR_IDENT@2228..2241
            PATH@2228..2241
              Ident@2228..2235 "Display"
              ColonColon@2235..2237 "::"
              Ident@2237..2241 "tick"
          ARG_LIST@2241..2244
            LParen@2241..2242 "("
            ARG@2242..2243
              EXPR_IDENT@2242..2243
                PATH@2242..2243
                  Ident@2242..2243 "x"
            RParen@2243..2244 ")"
        Semi@2244..2245 ";"
        Whitespace@2245..2250 "\n    "
      EXPR_BINARY@2250..2326
        EXPR_BINARY@2250..2288
          EXPR_CALL@2250..2282
            EXPR_IDENT@2250..2268
              PATH@2250..2268
                Ident@2250..2257 "Display"
                ColonColon@2257..2259 "::"
                Ident@2259..2268 "show_with"
            ARG_LIST@2268..2282
              LParen@2268..2269 "("
              ARG@2269..2272
                EXPR_IDENT@2269..2270
                  PATH@2269..2270
                    Ident@2269..2270 "x"
                Comma@2270..2271 ","
                Whitespace@2271..2272 " "
              ARG@2272..2277
                EXPR_STR@2272..2275
                  Str@2272..2275 "\"[\""
                Comma@2275..2276 ","
                Whitespace@2276..2277 " "
              ARG@2277..2280
                EXPR_STR@2277..2280
                  Str@2277..2280 "\"]\""
              RParen@2280..2281 ")"
              Whitespace@2281..2282 " "
          Plus@2282..2283 "+"
          Whitespace@2283..2284 " "
          EXPR_STR@2284..2288
            Str@2284..2287 "\":\""
            Whitespace@2287..2288 " "
        Plus@2288..2289 "+"
        Whitespace@2289..2290 " "
        EXPR_CALL@2290..2326
          EXPR_BINARY@2290..2323
            EXPR_CALL@2290..2313
              EXPR_IDENT@2290..2303
                PATH@2290..2303
                  Ident@2290..2297 "Display"
                  ColonColon@2297..2299 "::"
                  Ident@2299..2303 "bump"
              ARG_LIST@2303..2313
                LParen@2303..2304 "("
                ARG@2304..2307
                  EXPR_IDENT@2304..2305
                    PATH@2304..2305
                      Ident@2304..2305 "x"
                  Comma@2305..2306 ","
                  Whitespace@2306..2307 " "
                ARG@2307..2312
                  EXPR_IDENT@2307..2312
                    PATH@2307..2312
                      Ident@2307..2312 "delta"
                RParen@2312..2313 ")"
            Dot@2313..2314 "."
            EXPR_IDENT@2314..2323
              PATH@2314..2323
                Ident@2314..2323 "to_string"
          ARG_LIST@2323..2326
            LParen@2323..2324 "("
            RParen@2324..2325 ")"
            Whitespace@2325..2326 "\n"
      RBrace@2326..2327 "}"
      Whitespace@2327..2329 "\n\n"
  FN@2329..3477
    FnKeyword@2329..2331 "fn"
    Whitespace@2331..2332 " "
    Ident@2332..2336 "main"
    PARAM_LIST@2336..2339
      LParen@2336..2337 "("
      RParen@2337..2338 ")"
      Whitespace@2338..2339 " "
    Arrow@2339..2341 "->"
    Whitespace@2341..2342 " "
    TYPE_UNIT@2342..2347
      UnitKeyword@2342..2346 "unit"
      Whitespace@2346..2347 " "
    BLOCK@2347..3477
      LBrace@2347..2348 "{"
      Whitespace@2348..2353 "\n    "
      STMT_LET@2353..2388
        LetKeyword@2353..2356 "let"
        Whitespace@2356..2357 " "
        PATTERN_VARIABLE@2357..2360
          Ident@2357..2359 "p1"
          Whitespace@2359..2360 " "
        Eq@2360..2361 "="
        Whitespace@2361..2362 " "
        EXPR_STRUCT_LITERAL@2362..2382
          PATH@2362..2368
            Ident@2362..2367 "Point"
            Whitespace@2367..2368 " "
          STRUCT_LITERAL_FIELD_LIST@2368..2382
            LBrace@2368..2369 "{"
            Whitespace@2369..2370 " "
            STRUCT_LITERAL_FIELD@2370..2374
              Ident@2370..2371 "x"
              Colon@2371..2372 ":"
              Whitespace@2372..2373 " "
              EXPR_INT@2373..2374
                Int@2373..2374 "1"
            Comma@2374..2375 ","
            Whitespace@2375..2376 " "
            STRUCT_LITERAL_FIELD@2376..2381
              Ident@2376..2377 "y"
              Colon@2377..2378 ":"
              Whitespace@2378..2379 " "
              EXPR_INT@2379..2381
                Int@2379..2380 "2"
                Whitespace@2380..2381 " "
            RBrace@2381..2382 "}"
        Semi@2382..2383 ";"
        Whitespace@2383..2388 "\n    "
      STMT_LET@2388..2423
        LetKeyword@2388..2391 "let"
        Whitespace@2391..2392 " "
        PATTERN_VARIABLE@2392..2395
          Ident@2392..2394 "p2"
          Whitespace@2394..2395 " "
        Eq@2395..2396 "="
        Whitespace@2396..2397 " "
        EXPR_STRUCT_LITERAL@2397..2417
          PATH@2397..2403
            Ident@2397..2402 "Point"
            Whitespace@2402..2403 " "
          STRUCT_LITERAL_FIELD_LIST@2403..2417
            LBrace@2403..2404 "{"
            Whitespace@2404..2405 " "
            STRUCT_LITERAL_FIELD@2405..2409
              Ident@2405..2406 "x"
              Colon@2406..2407 ":"
              Whitespace@2407..2408 " "
              EXPR_INT@2408..2409
                Int@2408..2409 "3"
            Comma@2409..2410 ","
            Whitespace@2410..2411 " "
            STRUCT_LITERAL_FIELD@2411..2416
              Ident@2411..2412 "y"
              Colon@2412..2413 ":"
              Whitespace@2413..2414 " "
              EXPR_INT@2414..2416
                Int@2414..2415 "4"
                Whitespace@2415..2416 " "
            RBrace@2416..2417 "}"
        Semi@2417..2418 ";"
        Whitespace@2418..2423 "\n    "
      STMT_LET@2423..2458
        LetKeyword@2423..2426 "let"
        Whitespace@2426..2427 " "
        PATTERN_VARIABLE@2427..2430
          Ident@2427..2429 "f1"
          Whitespace@2429..2430 " "
        Eq@2430..2431 "="
        Whitespace@2431..2432 " "
        EXPR_STRUCT_LITERAL@2432..2452
          PATH@2432..2437
            Ident@2432..2436 "Flag"
            Whitespace@2436..2437 " "
          STRUCT_LITERAL_FIELD_LIST@2437..2452
            LBrace@2437..2438 "{"
            Whitespace@2438..2439 " "
            STRUCT_LITERAL_FIELD@2439..2451
              Ident@2439..2444 "value"
              Colon@2444..2445 ":"
              Whitespace@2445..2446 " "
              EXPR_BOOL@2446..2451
                TrueKeyword@2446..2450 "true"
                Whitespace@2450..2451 " "
            RBrace@2451..2452 "}"
        Semi@2452..2453 ";"
        Whitespace@2453..2458 "\n    "
      STMT_LET@2458..2494
        LetKeyword@2458..2461 "let"
        Whitespace@2461..2462 " "
        PATTERN_VARIABLE@2462..2465
          Ident@2462..2464 "f2"
          Whitespace@2464..2465 " "
        Eq@2465..2466 "="
        Whitespace@2466..2467 " "
        EXPR_STRUCT_LITERAL@2467..2488
          PATH@2467..2472
            Ident@2467..2471 "Flag"
            Whitespace@2471..2472 " "
          STRUCT_LITERAL_FIELD_LIST@2472..2488
            LBrace@2472..2473 "{"
            Whitespace@2473..2474 " "
            STRUCT_LITERAL_FIELD@2474..2487
              Ident@2474..2479 "value"
              Colon@2479..2480 ":"
              Whitespace@2480..2481 " "
              EXPR_BOOL@2481..2487
                FalseKeyword@2481..2486 "false"
                Whitespace@2486..2487 " "
            RBrace@2487..2488 "}"
        Semi@2488..2489 ";"
        Whitespace@2489..2494 "\n    "
      STMT_LET@2494..2534
        LetKeyword@2494..2497 "let"
        Whitespace@2497..2498 " "
        PATTERN_VARIABLE@2498..2500
          Ident@2498..2499 "c"
          Whitespace@2499..2500 " "
        Eq@2500..2501 "="
        Whitespace@2501..2502 " "
        EXPR_STRUCT_LITERAL@2502..2527
          PATH@2502..2510
            Ident@2502..2509 "Counter"
            Whitespace@2509..2510 " "
          STRUCT_LITERAL_FIELD_LIST@2510..2527
            LBrace@2510..2511 "{"
            Whitespace@2511..2512 " "
            STRUCT_LITERAL_FIELD@2512..2526
              Ident@2512..2516 "cell"
              Colon@2516..2517 ":"
              Whitespace@2517..2518 " "
              EXPR_CALL@2518..2526
                EXPR_IDENT@2518..2521
                  PATH@2518..2521
                    Ident@2518..2521 "ref"
                ARG_LIST@2521..2526
                  LParen@2521..2522 "("
                  ARG@2522..2524
                    EXPR_INT@2522..2524
                      Int@2522..2524 "10"
                  RParen@2524..2525 ")"
                  Whitespace@2525..2526 " "
            RBrace@2526..2527 "}"
        Semi@2527..2528 ";"
        Whitespace@2528..2534 "\n\n    "
      STMT_LET@2534..2565
        LetKeyword@2534..2537 "let"
        Whitespace@2537..2538 " "
        PATTERN_VARIABLE@2538..2541
          Ident@2538..2541 "dp1"
        Colon@2541..2542 ":"
        Whitespace@2542..2543 " "
        TYPE_DYN@2543..2555
          DynKeyword@2543..2546 "dyn"
          Whitespace@2546..2547 " "
          PATH@2547..2555
            Ident@2547..2554 "Display"
            Whitespace@2554..2555 " "
        Eq@2555..2556 "="
        Whitespace@2556..2557 " "
        EXPR_IDENT@2557..2559
          PATH@2557..2559
            Ident@2557..2559 "p1"
        Semi@2559..2560 ";"
        Whitespace@2560..2565 "\n    "
      STMT_LET@2565..2596
        LetKeyword@2565..2568 "let"
        Whitespace@2568..2569 " "
        PATTERN_VARIABLE@2569..2572
          Ident@2569..2572 "dp2"
        Colon@2572..2573 ":"
        Whitespace@2573..2574 " "
        TYPE_DYN@2574..2586
          DynKeyword@2574..2577 "dyn"
          Whitespace@2577..2578 " "
          PATH@2578..2586
            Ident@2578..2585 "Display"
            Whitespace@2585..2586 " "
        Eq@2586..2587 "="
        Whitespace@2587..2588 " "
        EXPR_IDENT@2588..2590
          PATH@2588..2590
            Ident@2588..2590 "p2"
        Semi@2590..2591 ";"
        Whitespace@2591..2596 "\n    "
      STMT_LET@2596..2627
        LetKeyword@2596..2599 "let"
        Whitespace@2599..2600 " "
        PATTERN_VARIABLE@2600..2603
          Ident@2600..2603 "df1"
        Colon@2603..2604 ":"
        Whitespace@2604..2605 " "
        TYPE_DYN@2605..2617
          DynKeyword@2605..2608 "dyn"
          Whitespace@2608..2609 " "
          PATH@2609..2617
            Ident@2609..2616 "Display"
            Whitespace@2616..2617 " "
        Eq@2617..2618 "="
        Whitespace@2618..2619 " "
        EXPR_IDENT@2619..2621
          PATH@2619..2621
            Ident@2619..2621 "f1"
        Semi@2621..2622 ";"
        Whitespace@2622..2627 "\n    "
      STMT_LET@2627..2658
        LetKeyword@2627..2630 "let"
        Whitespace@2630..2631 " "
        PATTERN_VARIABLE@2631..2634
          Ident@2631..2634 "df2"
        Colon@2634..2635 ":"
        Whitespace@2635..2636 " "
        TYPE_DYN@2636..2648
          DynKeyword@2636..2639 "dyn"
          Whitespace@2639..2640 " "
          PATH@2640..2648
            Ident@2640..2647 "Display"
            Whitespace@2647..2648 " "
        Eq@2648..2649 "="
        Whitespace@2649..2650 " "
        EXPR_IDENT@2650..2652
          PATH@2650..2652
            Ident@2650..2652 "f2"
        Semi@2652..2653 ";"
        Whitespace@2653..2658 "\n    "
      STMT_LET@2658..2688
        LetKeyword@2658..2661 "let"
        Whitespace@2661..2662 " "
        PATTERN_VARIABLE@2662..2664
          Ident@2662..2664 "dc"
        Colon@2664..2665 ":"
        Whitespace@2665..2666 " "
        TYPE_DYN@2666..2678
          DynKeyword@2666..2669 "dyn"
          Whitespace@2669..2670 " "
          PATH@2670..2678
            Ident@2670..2677 "Display"
            Whitespace@2677..2678 " "
        Eq@2678..2679 "="
        Whitespace@2679..2680 " "
        EXPR_IDENT@2680..2681
          PATH@2680..2681
            Ident@2680..2681 "c"
        Semi@2681..2682 ";"
        Whitespace@2682..2688 "\n\n    "
      STMT_LET@2688..2730
        LetKeyword@2688..2691 "let"
        Whitespace@2691..2692 " "
        PATTERN_VARIABLE@2692..2704
          Ident@2692..2703 "render_star"
          Whitespace@2703..2704 " "
        Eq@2704..2705 "="
        Whitespace@2705..2706 " "
        EXPR_CALL@2706..2724
          EXPR_IDENT@2706..2719
            PATH@2706..2719
              Ident@2706..2719 "make_renderer"
          ARG_LIST@2719..2724
            LParen@2719..2720 "("
            ARG@2720..2723
              EXPR_STR@2720..2723
                Str@2720..2723 "\"*\""
            RParen@2723..2724 ")"
        Semi@2724..2725 ";"
        Whitespace@2725..2730 "\n    "
      STMT_LET@2730..2774
        LetKeyword@2730..2733 "let"
        Whitespace@2733..2734 " "
        PATTERN_VARIABLE@2734..2747
          Ident@2734..2746 "render_angle"
          Whitespace@2746..2747 " "
        Eq@2747..2748 "="
        Whitespace@2748..2749 " "
        EXPR_CALL@2749..2767
          EXPR_IDENT@2749..2762
            PATH@2749..2762
              Ident@2749..2762 "make_renderer"
          ARG_LIST@2762..2767
            LParen@2762..2763 "("
            ARG@2763..2766
              EXPR_STR@2763..2766
                Str@2763..2766 "\"<\""
            RParen@2766..2767 ")"
        Semi@2767..2768 ";"
        Whitespace@2768..2774 "\n\n    "
      STMT_LET@2774..2802
        LetKeyword@2774..2777 "let"
        Whitespace@2777..2778 " "
        PATTERN_VARIABLE@2778..2781
          Ident@2778..2780 "s0"
          Whitespace@2780..2781 " "
        Eq@2781..2782 "="
        Whitespace@2782..2783 " "
        EXPR_CALL@2783..2796
          EXPR_IDENT@2783..2791
            PATH@2783..2791
              Ident@2783..2791 "show_dyn"
          ARG_LIST@2791..2796
            LParen@2791..2792 "("
            ARG@2792..2795
              EXPR_IDENT@2792..2795
                PATH@2792..2795
                  Ident@2792..2795 "dp2"
            RParen@2795..2796 ")"
        Semi@2796..2797 ";"
        Whitespace@2797..2802 "\n    "
      STMT_LET@2802..2843
        LetKeyword@2802..2805 "let"
        Whitespace@2805..2806 " "
        PATTERN_VARIABLE@2806..2809
          Ident@2806..2808 "s1"
          Whitespace@2808..2809 " "
        Eq@2809..2810 "="
        Whitespace@2810..2811 " "
        EXPR_CALL@2811..2837
          EXPR_IDENT@2811..2827
            PATH@2811..2827
              Ident@2811..2827 "call_via_closure"
          ARG_LIST@2827..2837
            LParen@2827..2828 "("
            ARG@2828..2833
              EXPR_IDENT@2828..2831
                PATH@2828..2831
                  Ident@2828..2831 "df2"
              Comma@2831..2832 ","
              Whitespace@2832..2833 " "
            ARG@2833..2836
              EXPR_STR@2833..2836
                Str@2833..2836 "\"*\""
            RParen@2836..2837 ")"
        Semi@2837..2838 ";"
        Whitespace@2838..2843 "\n    "
      STMT_LET@2843..2901
        LetKeyword@2843..2846 "let"
        Whitespace@2846..2847 " "
        PATTERN_VARIABLE@2847..2850
          Ident@2847..2849 "s2"
          Whitespace@2849..2850 " "
        Eq@2850..2851 "="
        Whitespace@2851..2852 " "
        EXPR_BINARY@2852..2894
          EXPR_BINARY@2852..2875
            EXPR_CALL@2852..2869
              EXPR_IDENT@2852..2863
                PATH@2852..2863
                  Ident@2852..2863 "render_star"
              ARG_LIST@2863..2869
                LParen@2863..2864 "("
                ARG@2864..2867
                  EXPR_IDENT@2864..2867
                    PATH@2864..2867
                      Ident@2864..2867 "dp1"
                RParen@2867..2868 ")"
                Whitespace@2868..2869 " "
            Plus@2869..2870 "+"
            Whitespace@2870..2871 " "
            EXPR_STR@2871..2875
              Str@2871..2874 "\"|\""
              Whitespace@2874..2875 " "
          Plus@2875..2876 "+"
          Whitespace@2876..2877 " "
          EXPR_CALL@2877..2894
            EXPR_IDENT@2877..2889
              PATH@2877..2889
                Ident@2877..2889 "render_angle"
            ARG_LIST@2889..2894
              LParen@2889..2890 "("
              ARG@2890..2893
                EXPR_IDENT@2890..2893
                  PATH@2890..2893
                    Ident@2890..2893 "df1"
              RParen@2893..2894 ")"
        Semi@2894..2895 ";"
        Whitespace@2895..2901 "\n\n    "
      STMT_LET@2901..2943
        LetKeyword@2901..2904 "let"
        Whitespace@2904..2905 " "
        PATTERN_VARIABLE@2905..2906
          Ident@2905..2906 "v"
        Colon@2906..2907 ":"
        Whitespace@2907..2908 " "
        TYPE_TAPP@2908..2925
          PATH@2908..2911
            Ident@2908..2911 "Vec"
          TYPE_PARAM_LIST@2911..2925
            LBracket@2911..2912 "["
            TYPE_DYN@2912..2923
              DynKeyword@2912..2915 "dyn"
              Whitespace@2915..2916 " "
              PATH@2916..2923
                Ident@2916..2923 "Display"
            RBracket@2923..2924 "]"
            Whitespace@2924..2925 " "
        Eq@2925..2926 "="
        Whitespace@2926..2927 " "
        EXPR_CALL@2927..2937
          EXPR_IDENT@2927..2935
            PATH@2927..2935
              Ident@2927..2930 "Vec"
              ColonColon@2930..2932 "::"
              Ident@2932..2935 "new"
          ARG_LIST@2935..2937
            LParen@2935..2936 "("
            RParen@2936..2937 ")"
        Semi@2937..2938 ";"
        Whitespace@2938..2943 "\n    "
      STMT_LET@2943..2968
        LetKeyword@2943..2946 "let"
        Whitespace@2946..2947 " "
        PATTERN_VARIABLE@2947..2949
          Ident@2947..2948 "v"
          Whitespace@2948..2949 " "
        Eq@2949..2950 "="
        Whitespace@2950..2951 " "
        EXPR_CALL@2951..2962
          EXPR_BINARY@2951..2957
            EXPR_IDENT@2951..2952
              PATH@2951..2952
                Ident@2951..2952 "v"
            Dot@2952..2953 "."
            EXPR_IDENT@2953..2957
              PATH@2953..2957
                Ident@2953..2957 "push"
          ARG_LIST@2957..2962
            LParen@2957..2958 "("
            ARG@2958..2961
              EXPR_IDENT@2958..2961
                PATH@2958..2961
                  Ident@2958..2961 "dp1"
            RParen@2961..2962 ")"
        Semi@2962..2963 ";"
        Whitespace@2963..2968 "\n    "
      STMT_LET@2968..2993
        LetKeyword@2968..2971 "let"
        Whitespace@2971..2972 " "
        PATTERN_VARIABLE@2972..2974
          Ident@2972..2973 "v"
          Whitespace@2973..2974 " "
        Eq@2974..2975 "="
        Whitespace@2975..2976 " "
        EXPR_CALL@2976..2987
          EXPR_BINARY@2976..2982
            EXPR_IDENT@2976..2977
              PATH@2976..2977
                Ident@2976..2977 "v"
            Dot@2977..2978 "."
            EXPR_IDENT@2978..2982
              PATH@2978..2982
                Ident@2978..2982 "push"
          ARG_LIST@2982..2987
            LParen@2982..2983 "("
            ARG@2983..2986
              EXPR_IDENT@2983..2986
                PATH@2983..2986
                  Ident@2983..2986 "df1"
            RParen@2986..2987 ")"
        Semi@2987..2988 ";"
        Whitespace@2988..2993 "\n    "
      STMT_LET@2993..3017
        LetKeyword@2993..2996 "let"
        Whitespace@2996..2997 " "
        PATTERN_VARIABLE@2997..2999
          Ident@2997..2998 "v"
          Whitespace@2998..2999 " "
        Eq@2999..3000 "="
        Whitespace@3000..3001 " "
        EXPR_CALL@3001..3011
          EXPR_BINARY@3001..3007
            EXPR_IDENT@3001..3002
              PATH@3001..3002
                Ident@3001..3002 "v"
            Dot@3002..3003 "."
            EXPR_IDENT@3003..3007
              PATH@3003..3007
                Ident@3003..3007 "push"
          ARG_LIST@3007..3011
            LParen@3007..3008 "("
            ARG@3008..3010
              EXPR_IDENT@3008..3010
                PATH@3008..3010
                  Ident@3008..3010 "dc"
            RParen@3010..3011 ")"
        Semi@3011..3012 ";"
        Whitespace@3012..3017 "\n    "
      STMT_LET@3017..3041
        LetKeyword@3017..3020 "let"
        Whitespace@3020..3021 " "
        PATTERN_VARIABLE@3021..3026
          Ident@3021..3025 "vlen"
          Whitespace@3025..3026 " "
        Eq@3026..3027 "="
        Whitespace@3027..3028 " "
        EXPR_CALL@3028..3035
          EXPR_BINARY@3028..3033
            EXPR_IDENT@3028..3029
              PATH@3028..3029
                Ident@3028..3029 "v"
            Dot@3029..3030 "."
            EXPR_IDENT@3030..3033
              PATH@3030..3033
                Ident@3030..3033 "len"
          ARG_LIST@3033..3035
            LParen@3033..3034 "("
            RParen@3034..3035 ")"
        Semi@3035..3036 ";"
        Whitespace@3036..3041 "\n    "
      STMT_LET@3041..3110
        LetKeyword@3041..3044 "let"
        Whitespace@3044..3045 " "
        PATTERN_VARIABLE@3045..3051
          Ident@3045..3050 "delta"
          Whitespace@3050..3051 " "
        Eq@3051..3052 "="
        Whitespace@3052..3053 " "
        EXPR_MATCH@3053..3103
          MatchKeyword@3053..3058 "match"
          Whitespace@3058..3059 " "
          EXPR_IDENT@3059..3064
            PATH@3059..3064
              Ident@3059..3063 "vlen"
              Whitespace@3063..3064 " "
          MATCH_ARM_LIST@3064..3103
            LBrace@3064..3065 "{"
            Whitespace@3065..3074 "\n        "
            MATCH_ARM@3074..3080
              PATTERN_INT@3074..3076
                Int@3074..3075 "2"
                Whitespace@3075..3076 " "
              FatArrow@3076..3078 "=>"
              Whitespace@3078..3079 " "
              EXPR_INT@3079..3080
                Int@3079..3080 "3"
            Comma@3080..3081 ","
            Whitespace@3081..3090 "\n        "
            MATCH_ARM@3090..3096
              PATTERN_WILDCARD@3090..3092
                WildcardKeyword@3090..3091 "_"
                Whitespace@3091..3092 " "
              FatArrow@3092..3094 "=>"
              Whitespace@3094..3095 " "
              EXPR_INT@3095..3096
                Int@3095..3096 "5"
            Comma@3096..3097 ","
            Whitespace@3097..3102 "\n    "
            RBrace@3102..3103 "}"
        Semi@3103..3104 ";"
        Whitespace@3104..3110 "\n\n    "
      STMT_LET@3110..3135
        LetKeyword@3110..3113 "let"
        Whitespace@3113..3114 " "
        PATTERN_WILDCARD@3114..3116
          WildcardKeyword@3114..3115 "_"
          Whitespace@3115..3116 " "
        Eq@3116..3117 "="
        Whitespace@3117..3118 " "
        EXPR_CALL@3118..3129
          EXPR_IDENT@3118..3125
            PATH@3118..3125
              Ident@3118..3125 "println"
          ARG_LIST@3125..3129
            LParen@3125..3126 "("
            ARG@3126..3128
              EXPR_IDENT@3126..3128
                PATH@3126..3128
                  Ident@3126..3128 "s0"
            RParen@3128..3129 ")"
        Semi@3129..3130 ";"
        Whitespace@3130..3135 "\n    "
      STMT_LET@3135..3160
        LetKeyword@3135..3138 "let"
        Whitespace@3138..3139 " "
        PATTERN_WILDCARD@3139..3141
          WildcardKeyword@3139..3140 "_"
          Whitespace@3140..3141 " "
        Eq@3141..3142 "="
        Whitespace@3142..3143 " "
        EXPR_CALL@3143..3154
          EXPR_IDENT@3143..3150
            PATH@3143..3150
              Ident@3143..3150 "println"
          ARG_LIST@3150..3154
            LParen@3150..3151 "("
            ARG@3151..3153
              EXPR_IDENT@3151..3153
                PATH@3151..3153
                  Ident@3151..3153 "s1"
            RParen@3153..3154 ")"
        Semi@3154..3155 ";"
        Whitespace@3155..3160 "\n    "
      STMT_LET@3160..3186
        LetKeyword@3160..3163 "let"
        Whitespace@3163..3164 " "
        PATTERN_WILDCARD@3164..3166
          WildcardKeyword@3164..3165 "_"
          Whitespace@3165..3166 " "
        Eq@3166..3167 "="
        Whitespace@3167..3168 " "
        EXPR_CALL@3168..3179
          EXPR_IDENT@3168..3175
            PATH@3168..3175
              Ident@3168..3175 "println"
          ARG_LIST@3175..3179
            LParen@3175..3176 "("
            ARG@3176..3178
              EXPR_IDENT@3176..3178
                PATH@3176..3178
                  Ident@3176..3178 "s2"
            RParen@3178..3179 ")"
        Semi@3179..3180 ";"
        Whitespace@3180..3186 "\n\n    "
      STMT_LET@3186..3218
        LetKeyword@3186..3189 "let"
        Whitespace@3189..3190 " "
        PATTERN_VARIABLE@3190..3191
          Ident@3190..3191 "i"
        Colon@3191..3192 ":"
        Whitespace@3192..3193 " "
        TYPE_TAPP@3193..3204
          PATH@3193..3196
            Ident@3193..3196 "Ref"
          TYPE_PARAM_LIST@3196..3204
            LBracket@3196..3197 "["
            TYPE_INT32@3197..3202
              Int32Keyword@3197..3202 "int32"
            RBracket@3202..3203 "]"
            Whitespace@3203..3204 " "
        Eq@3204..3205 "="
        Whitespace@3205..3206 " "
        EXPR_CALL@3206..3212
          EXPR_IDENT@3206..3209
            PATH@3206..3209
              Ident@3206..3209 "ref"
          ARG_LIST@3209..3212
            LParen@3209..3210 "("
            ARG@3210..3211
              EXPR_INT@3210..3211
                Int@3210..3211 "0"
            RParen@3211..3212 ")"
        Semi@3212..3213 ";"
        Whitespace@3213..3218 "\n    "
      STMT_LET@3218..3373
        LetKeyword@3218..3221 "let"
        Whitespace@3221..3222 " "
        PATTERN_WILDCARD@3222..3224
          WildcardKeyword@3222..3223 "_"
          Whitespace@3223..3224 " "
        Eq@3224..3225 "="
        Whitespace@3225..3226 " "
        EXPR_WHILE@3226..3366
          WhileKeyword@3226..3231 "while"
          Whitespace@3231..3232 " "
          EXPR_WHILE_COND@3232..3247
            EXPR_BINARY@3232..3247
              EXPR_CALL@3232..3243
                EXPR_IDENT@3232..3239
                  PATH@3232..3239
                    Ident@3232..3239 "ref_get"
                ARG_LIST@3239..3243
                  LParen@3239..3240 "("
                  ARG@3240..3241
                    EXPR_IDENT@3240..3241
                      PATH@3240..3241
                        Ident@3240..3241 "i"
                  RParen@3241..3242 ")"
                  Whitespace@3242..3243 " "
              Less@3243..3244 "<"
              Whitespace@3244..3245 " "
              EXPR_INT@3245..3247
                Int@3245..3246 "3"
                Whitespace@3246..3247 " "
          EXPR_WHILE_BODY@3247..3366
            BLOCK@3247..3366
              LBrace@3247..3248 "{"
              Whitespace@3248..3257 "\n        "
              STMT_LET@3257..3302
                LetKeyword@3257..3260 "let"
                Whitespace@3260..3261 " "
                PATTERN_VARIABLE@3261..3266
                  Ident@3261..3265 "line"
                  Whitespace@3265..3266 " "
                Eq@3266..3267 "="
                Whitespace@3267..3268 " "
                EXPR_CALL@3268..3292
                  EXPR_IDENT@3268..3281
                    PATH@3268..3281
                      Ident@3268..3281 "bump_and_show"
                  ARG_LIST@3281..3292
                    LParen@3281..3282 "("
                    ARG@3282..3286
                      EXPR_IDENT@3282..3284
                        PATH@3282..3284
                          Ident@3282..3284 "dc"
                      Comma@3284..3285 ","
                      Whitespace@3285..3286 " "
                    ARG@3286..3291
                      EXPR_IDENT@3286..3291
                        PATH@3286..3291
                          Ident@3286..3291 "delta"
                    RParen@3291..3292 ")"
                Semi@3292..3293 ";"
                Whitespace@3293..3302 "\n        "
              STMT_EXPR@3302..3325
                EXPR_CALL@3302..3315
                  EXPR_IDENT@3302..3309
                    PATH@3302..3309
                      Ident@3302..3309 "println"
                  ARG_LIST@3309..3315
                    LParen@3309..3310 "("
                    ARG@3310..3314
                      EXPR_IDENT@3310..3314
                        PATH@3310..3314
                          Ident@3310..3314 "line"
                    RParen@3314..3315 ")"
                Semi@3315..3316 ";"
                Whitespace@3316..3325 "\n        "
              STMT_LET@3325..3365
                LetKeyword@3325..3328 "let"
                Whitespace@3328..3329 " "
                PATTERN_WILDCARD@3329..3331
                  WildcardKeyword@3329..3330 "_"
                  Whitespace@3330..3331 " "
                Eq@3331..3332 "="
                Whitespace@3332..3333 " "
                EXPR_CALL@3333..3359
                  EXPR_IDENT@3333..3340
                    PATH@3333..3340
                      Ident@3333..3340 "ref_set"
                  ARG_LIST@3340..3359
                    LParen@3340..3341 "("
                    ARG@3341..3344
                      EXPR_IDENT@3341..3342
                        PATH@3341..3342
                          Ident@3341..3342 "i"
                      Comma@3342..3343 ","
                      Whitespace@3343..3344 " "
                    ARG@3344..3358
                      EXPR_BINARY@3344..3358
                        EXPR_CALL@3344..3355
                          EXPR_IDENT@3344..3351
                            PATH@3344..3351
                              Ident@3344..3351 "ref_get"
                          ARG_LIST@3351..3355
                            LParen@3351..3352 "("
                            ARG@3352..3353
                              EXPR_IDENT@3352..3353
                                PATH@3352..3353
                                  Ident@3352..3353 "i"
                            RParen@3353..3354 ")"
                            Whitespace@3354..3355 " "
                        Plus@3355..3356 "+"
                        Whitespace@3356..3357 " "
                        EXPR_INT@3357..3358
                          Int@3357..3358 "1"
                    RParen@3358..3359 ")"
                Semi@3359..3360 ";"
                Whitespace@3360..3365 "\n    "
              RBrace@3365..3366 "}"
        Semi@3366..3367 ";"
        Whitespace@3367..3373 "\n\n    "
      STMT_LET@3373..3421
        LetKeyword@3373..3376 "let"
        Whitespace@3376..3377 " "
        PATTERN_WILDCARD@3377..3379
          WildcardKeyword@3377..3378 "_"
          Whitespace@3378..3379 " "
        Eq@3379..3380 "="
        Whitespace@3380..3381 " "
        EXPR_CALL@3381..3415
          EXPR_IDENT@3381..3388
            PATH@3381..3388
              Ident@3381..3388 "println"
          ARG_LIST@3388..3415
            LParen@3388..3389 "("
            ARG@3389..3414
              EXPR_BINARY@3389..3414
                EXPR_STR@3389..3396
                  Str@3389..3395 "\"len:\""
                  Whitespace@3395..3396 " "
                Plus@3396..3397 "+"
                Whitespace@3397..3398 " "
                EXPR_CALL@3398..3414
                  EXPR_BINARY@3398..3412
                    EXPR_IDENT@3398..3402
                      PATH@3398..3402
                        Ident@3398..3402 "vlen"
                    Dot@3402..3403 "."
                    EXPR_IDENT@3403..3412
                      PATH@3403..3412
                        Ident@3403..3412 "to_string"
                  ARG_LIST@3412..3414
                    LParen@3412..3413 "("
                    RParen@3413..3414 ")"
            RParen@3414..3415 ")"
        Semi@3415..3416 ";"
        Whitespace@3416..3421 "\n    "
      STMT_LET@3421..3472
        LetKeyword@3421..3424 "let"
        Whitespace@3424..3425 " "
        PATTERN_WILDCARD@3425..3427
          WildcardKeyword@3425..3426 "_"
          Whitespace@3426..3427 " "
        Eq@3427..3428 "="
        Whitespace@3428..3429 " "
        EXPR_CALL@3429..3466
          EXPR_IDENT@3429..3436
            PATH@3429..3436
              Ident@3429..3436 "println"
          ARG_LIST@3436..3466
            LParen@3436..3437 "("
            ARG@3437..3465
              EXPR_BINARY@3437..3465
                EXPR_STR@3437..3446
                  Str@3437..3445 "\"delta:\""
                  Whitespace@3445..3446 " "
                Plus@3446..3447 "+"
                Whitespace@3447..3448 " "
                EXPR_CALL@3448..3465
                  EXPR_BINARY@3448..3463
                    EXPR_IDENT@3448..3453
                      PATH@3448..3453
                        Ident@3448..3453 "delta"
                    Dot@3453..3454 "."
                    EXPR_IDENT@3454..3463
                      PATH@3454..3463
                        Ident@3454..3463 "to_string"
                  ARG_LIST@3463..3465
                    LParen@3463..3464 "("
                    RParen@3464..3465 ")"
            RParen@3465..3466 ")"
        Semi@3466..3467 ";"
        Whitespace@3467..3472 "\n    "
      EXPR_UNIT@3472..3475
        LParen@3472..3473 "("
        RParen@3473..3474 ")"
        Whitespace@3474..3475 "\n"
      RBrace@3475..3476 "}"
      Whitespace@3476..3477 "\n"