FILE@0..524
  TRAIT@0..45
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Mark"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..45
      TRAIT_METHOD_SIG@17..40
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..24 "mark"
        TYPE_LIST@24..31
          LParen@24..25 "("
          TYPE_TAPP@25..29
            PATH@25..29
              Ident@25..29 "Self"
          RParen@29..30 ")"
          Whitespace@30..31 " "
        Arrow@31..33 "->"
        Whitespace@33..34 " "
        TYPE_STRING@34..40
          StringKeyword@34..40 "string"
      Semi@40..41 ";"
      Whitespace@41..42 "\n"
      RBrace@42..43 "}"
      Whitespace@43..45 "\n\n"
  TRAIT@45..100
    TraitKeyword@45..50 "trait"
    Whitespace@50..51 " "
    Ident@51..60 "Container"
    GENERIC_LIST@60..70
      LBracket@60..61 "["
      GENERIC@61..68
        Ident@61..62 "T"
        Colon@62..63 ":"
        Whitespace@63..64 " "
        TRAIT_SET@64..68
          TYPE_TAPP@64..68
            PATH@64..68
              Ident@64..68 "Mark"
      RBracket@68..69 "]"
      Whitespace@69..70 " "
    LBrace@70..71 "{"
    Whitespace@71..76 "\n    "
    TRAIT_METHOD_SIG_LIST@76..100
      TRAIT_METHOD_SIG@76..95
        FnKeyword@76..78 "fn"
        Whitespace@78..79 " "
        Ident@79..84 "value"
        TYPE_LIST@84..91
          LParen@84..85 "("
          TYPE_TAPP@85..89
            PATH@85..89
              Ident@85..89 "Self"
          RParen@89..90 ")"
          Whitespace@90..91 " "
        Arrow@91..93 "->"
        Whitespace@93..94 " "
        TYPE_TAPP@94..95
          PATH@94..95
            Ident@94..95 "T"
      Semi@95..96 ";"
      Whitespace@96..97 "\n"
      RBrace@97..98 "}"
      Whitespace@98..100 "\n\n"
  STRUCT@100..140
    StructKeyword@100..106 "struct"
    Whitespace@106..107 " "
    Ident@107..116 "NumberBox"
    Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    STRUCT_FIELD_LIST@123..140
      STRUCT_FIELD@123..135
        Ident@123..128 "value"
        Colon@128..129 ":"
        Whitespace@129..130 " "
        TYPE_INT32@130..135
          Int32Keyword@130..135 "int32"
      Comma@135..136 ","
      Whitespace@136..137 "\n"
      RBrace@137..138 "}"
      Whitespace@138..140 "\n\n"
  IMPL@140..245
    ImplKeyword@140..144 "impl"
    Whitespace@144..145 " "
    TYPE_TAPP@145..150
      PATH@145..150
        Ident@145..149 "Mark"
        Whitespace@149..150 " "
    ForKeyword@150..153 "for"
    Whitespace@153..154 " "
    TYPE_INT32@154..160
      Int32Keyword@154..159 "int32"
      Whitespace@159..160 " "
    LBrace@160..161 "{"
    Whitespace@161..166 "\n    "
    FN@166..242
      FnKeyword@166..168 "fn"
      Whitespace@168..169 " "
      Ident@169..173 "mark"
      PARAM_LIST@173..187
        LParen@173..174 "("
        PARAM@174..185
          Ident@174..178 "self"
          Colon@178..179 ":"
          Whitespace@179..180 " "
          TYPE_INT32@180..185
            Int32Keyword@180..185 "int32"
        RParen@185..186 ")"
        Whitespace@186..187 " "
      Arrow@187..189 "->"
      Whitespace@189..190 " "
      TYPE_STRING@190..197
        StringKeyword@190..196 "string"
        Whitespace@196..197 " "
      BLOCK@197..242
        LBrace@197..198 "{"
        Whitespace@198..207 "\n        "
        EXPR_BINARY@207..240
          EXPR_STR@207..217
            Str@207..216 "\"marked:\""
            Whitespace@216..217 " "
          Plus@217..218 "+"
          Whitespace@218..219 " "
          EXPR_CALL@219..240
            EXPR_BINARY@219..233
              EXPR_IDENT@219..223
                PATH@219..223
                  Ident@219..223 "self"
              Dot@223..224 "."
              EXPR_IDENT@224..233
                PATH@224..233
                  Ident@224..233 "to_string"
            ARG_LIST@233..240
              LParen@233..234 "("
              RParen@234..235 ")"
              Whitespace@235..240 "\n    "
        RBrace@240..241 "}"
        Whitespace@241..242 "\n"
    RBrace@242..243 "}"
    Whitespace@243..245 "\n\n"
  IMPL@245..352
    ImplKeyword@245..249 "impl"
    Whitespace@249..250 " "
    TYPE_TAPP@250..267
      PATH@250..259
        Ident@250..259 "Container"
      TYPE_PARAM_LIST@259..267
        LBracket@259..260 "["
        TYPE_INT32@260..265
          Int32Keyword@260..265 "int32"
        RBracket@265..266 "]"
        Whitespace@266..267 " "
    ForKeyword@267..270 "for"
    Whitespace@270..271 " "
    TYPE_TAPP@271..281
      PATH@271..281
        Ident@271..280 "NumberBox"
        Whitespace@280..281 " "
    LBrace@281..282 "{"
    Whitespace@282..287 "\n    "
    FN@287..349
      FnKeyword@287..289 "fn"
      Whitespace@289..290 " "
      Ident@290..295 "value"
      PARAM_LIST@295..313
        LParen@295..296 "("
        PARAM@296..311
          Ident@296..300 "self"
          Colon@300..301 ":"
          Whitespace@301..302 " "
          TYPE_TAPP@302..311
            PATH@302..311
              Ident@302..311 "NumberBox"
        RParen@311..312 ")"
        Whitespace@312..313 " "
      Arrow@313..315 "->"
      Whitespace@315..316 " "
      TYPE_INT32@316..322
        Int32Keyword@316..321 "int32"
        Whitespace@321..322 " "
      BLOCK@322..349
        LBrace@322..323 "{"
        Whitespace@323..332 "\n        "
        EXPR_BINARY@332..347
          EXPR_IDENT@332..336
            PATH@332..336
              Ident@332..336 "self"
          Dot@336..337 "."
          EXPR_IDENT@337..347
            PATH@337..347
              Ident@337..342 "value"
              Whitespace@342..347 "\n    "
        RBrace@347..348 "}"
        Whitespace@348..349 "\n"
    RBrace@349..350 "}"
    Whitespace@350..352 "\n\n"
  FN@352..455
    FnKeyword@352..354 "fn"
    Whitespace@354..355 " "
    Ident@355..363 "describe"
    GENERIC_LIST@363..383
      LBracket@363..364 "["
      GENERIC@364..365
        Ident@364..365 "T"
      Comma@365..366 ","
      Whitespace@366..367 " "
      GENERIC@367..382
        Ident@367..368 "C"
        Colon@368..369 ":"
        Whitespace@369..370 " "
        TRAIT_SET@370..382
          TYPE_TAPP@370..382
            PATH@370..379
              Ident@370..379 "Container"
            TYPE_PARAM_LIST@379..382
              LBracket@379..380 "["
              TYPE_TAPP@380..381
                PATH@380..381
                  Ident@380..381 "T"
              RBracket@381..382 "]"
      RBracket@382..383 "]"
    PARAM_LIST@383..398
      LParen@383..384 "("
      PARAM@384..396
        Ident@384..393 "container"
        Colon@393..394 ":"
        Whitespace@394..395 " "
        TYPE_TAPP@395..396
          PATH@395..396
            Ident@395..396 "C"
      RParen@396..397 ")"
      Whitespace@397..398 " "
    Arrow@398..400 "->"
    Whitespace@400..401 " "
    TYPE_STRING@401..408
      StringKeyword@401..407 "string"
      Whitespace@407..408 " "
    BLOCK@408..455
      LBrace@408..409 "{"
      Whitespace@409..414 "\n    "
      EXPR_CALL@414..452
        EXPR_BINARY@414..449
          EXPR_CALL@414..444
            EXPR_IDENT@414..433
              TYPE_TAPP@414..426
                PATH@414..423
                  Ident@414..423 "Container"
                TYPE_PARAM_LIST@423..426
                  LBracket@423..424 "["
                  TYPE_TAPP@424..425
                    PATH@424..425
                      Ident@424..425 "T"
                  RBracket@425..426 "]"
              ColonColon@426..428 "::"
              PATH@428..433
                Ident@428..433 "value"
            ARG_LIST@433..444
              LParen@433..434 "("
              ARG@434..443
                EXPR_IDENT@434..443
                  PATH@434..443
                    Ident@434..443 "container"
              RParen@443..444 ")"
          Dot@444..445 "."
          EXPR_IDENT@445..449
            PATH@445..449
              Ident@445..449 "mark"
        ARG_LIST@449..452
          LParen@449..450 "("
          RParen@450..451 ")"
          Whitespace@451..452 "\n"
      RBrace@452..453 "}"
      Whitespace@453..455 "\n\n"
  FN@455..524
    FnKeyword@455..457 "fn"
    Whitespace@457..458 " "
    Ident@458..462 "main"
    PARAM_LIST@462..465
      LParen@462..463 "("
      RParen@463..464 ")"
      Whitespace@464..465 " "
    Arrow@465..467 "->"
    Whitespace@467..468 " "
    TYPE_UNIT@468..473
      UnitKeyword@468..472 "unit"
      Whitespace@472..473 " "
    BLOCK@473..524
      LBrace@473..474 "{"
      Whitespace@474..479 "\n    "
      STMT_EXPR@479..522
        EXPR_CALL@479..520
          EXPR_IDENT@479..486
            PATH@479..486
              Ident@479..486 "println"
          ARG_LIST@486..520
            LParen@486..487 "("
            ARG@487..519
              EXPR_CALL@487..519
                EXPR_IDENT@487..495
                  PATH@487..495
                    Ident@487..495 "describe"
                ARG_LIST@495..519
                  LParen@495..496 "("
                  ARG@496..518
                    EXPR_STRUCT_LITERAL@496..518
                      PATH@496..506
                        Ident@496..505 "NumberBox"
                        Whitespace@505..506 " "
                      STRUCT_LITERAL_FIELD_LIST@506..518
                        LBrace@506..507 "{"
                        Whitespace@507..508 " "
                        STRUCT_LITERAL_FIELD@508..517
                          Ident@508..513 "value"
                          Colon@513..514 ":"
                          Whitespace@514..515 " "
                          EXPR_INT@515..517
                            Int@515..516 "7"
                            Whitespace@516..517 " "
                        RBrace@517..518 "}"
                  RParen@518..519 ")"
            RParen@519..520 ")"
        Semi@520..521 ";"
        Whitespace@521..522 "\n"
      RBrace@522..523 "}"
      Whitespace@523..524 "\n"