FILE@0..559
  FN@0..559
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..559
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..49
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "i"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..43
          EXPR_IDENT@32..40
            PATH@32..40
              Ident@32..35 "Ref"
              ColonColon@35..37 "::"
              Ident@37..40 "new"
          ARG_LIST@40..43
            LParen@40..41 "("
            ARG@41..42
              EXPR_INT@41..42
                Int@41..42 "0"
            RParen@42..43 ")"
        Semi@43..44 ";"
        Whitespace@44..49 "\n    "
      STMT_LET@49..76
        LetKeyword@49..52 "let"
        Whitespace@52..53 " "
        PATTERN_VARIABLE@53..57
          Ident@53..56 "sum"
          Whitespace@56..57 " "
        Eq@57..58 "="
        Whitespace@58..59 " "
        EXPR_CALL@59..70
          EXPR_IDENT@59..67
            PATH@59..67
              Ident@59..62 "Ref"
              ColonColon@62..64 "::"
              Ident@64..67 "new"
          ARG_LIST@67..70
            LParen@67..68 "("
            ARG@68..69
              EXPR_INT@68..69
                Int@68..69 "0"
            RParen@69..70 ")"
        Semi@70..71 ";"
        Whitespace@71..76 "\n    "
      STMT_EXPR@76..273
        EXPR_WHILE@76..273
          WhileKeyword@76..81 "while"
          Whitespace@81..82 " "
          EXPR_WHILE_COND@82..94
            EXPR_BINARY@82..94
              EXPR_CALL@82..90
                EXPR_BINARY@82..87
                  EXPR_IDENT@82..83
                    PATH@82..83
                      Ident@82..83 "i"
                  Dot@83..84 "."
                  EXPR_IDENT@84..87
                    PATH@84..87
                      Ident@84..87 "get"
                ARG_LIST@87..90
                  LParen@87..88 "("
                  RParen@88..89 ")"
                  Whitespace@89..90 " "
              Less@90..91 "<"
              Whitespace@91..92 " "
              EXPR_INT@92..94
                Int@92..93 "5"
                Whitespace@93..94 " "
          EXPR_WHILE_BODY@94..273
            BLOCK@94..273
              LBrace@94..95 "{"
              Whitespace@95..104 "\n        "
              STMT_EXPR@104..132
                EXPR_CALL@104..122
                  EXPR_BINARY@104..109
                    EXPR_IDENT@104..105
                      PATH@104..105
                        Ident@104..105 "i"
                    Dot@105..106 "."
                    EXPR_IDENT@106..109
                      PATH@106..109
                        Ident@106..109 "set"
                  ARG_LIST@109..122
                    LParen@109..110 "("
                    ARG@110..121
                      EXPR_BINARY@110..121
                        EXPR_CALL@110..118
                          EXPR_BINARY@110..115
                            EXPR_IDENT@110..111
                              PATH@110..111
                                Ident@110..111 "i"
                            Dot@111..112 "."
                            EXPR_IDENT@112..115
                              PATH@112..115
                                Ident@112..115 "get"
                          ARG_LIST@115..118
                            LParen@115..116 "("
                            RParen@116..117 ")"
                            Whitespace@117..118 " "
                        Plus@118..119 "+"
                        Whitespace@119..120 " "
                        EXPR_INT@120..121
                          Int@120..121 "1"
                    RParen@121..122 ")"
                Semi@122..123 ";"
                Whitespace@123..132 "\n        "
              STMT_LET@132..237
                LetKeyword@132..135 "let"
                Whitespace@135..136 " "
                PATTERN_VARIABLE@136..140
                  Ident@136..139 "cur"
                  Whitespace@139..140 " "
                Eq@140..141 "="
                Whitespace@141..142 " "
                EXPR_IF@142..227
                  IfKeyword@142..144 "if"
                  Whitespace@144..145 " "
                  EXPR_IF_COND@145..158
                    EXPR_BINARY@145..158
                      EXPR_CALL@145..153
                        EXPR_BINARY@145..150
                          EXPR_IDENT@145..146
                            PATH@145..146
                              Ident@145..146 "i"
                          Dot@146..147 "."
                          EXPR_IDENT@147..150
                            PATH@147..150
                              Ident@147..150 "get"
                        ARG_LIST@150..153
                          LParen@150..151 "("
                          RParen@151..152 ")"
                          Whitespace@152..153 " "
                      EqEq@153..155 "=="
                      Whitespace@155..156 " "
                      EXPR_INT@156..158
                        Int@156..157 "3"
                        Whitespace@157..158 " "
                  EXPR_IF_THEN@158..191
                    BLOCK@158..191
                      LBrace@158..159 "{"
                      Whitespace@159..172 "\n            "
                      EXPR_CONTINUE@172..189
                        ContinueKeyword@172..180 "continue"
                        Whitespace@180..189 "\n        "
                      RBrace@189..190 "}"
                      Whitespace@190..191 " "
                  ElseKeyword@191..195 "else"
                  Whitespace@195..196 " "
                  EXPR_IF_ELSE@196..227
                    BLOCK@196..227
                      LBrace@196..197 "{"
                      Whitespace@197..210 "\n            "
                      EXPR_CALL@210..226
                        EXPR_BINARY@210..215
                          EXPR_IDENT@210..211
                            PATH@210..211
                              Ident@210..211 "i"
                          Dot@211..212 "."
                          EXPR_IDENT@212..215
                            PATH@212..215
                              Ident@212..215 "get"
                        ARG_LIST@215..226
                          LParen@215..216 "("
                          RParen@216..217 ")"
                          Whitespace@217..226 "\n        "
                      RBrace@226..227 "}"
                Semi@227..228 ";"
                Whitespace@228..237 "\n        "
              STMT_EXPR@237..267
                EXPR_CALL@237..261
                  EXPR_BINARY@237..244
                    EXPR_IDENT@237..240
                      PATH@237..240
                        Ident@237..240 "sum"
                    Dot@240..241 "."
                    EXPR_IDENT@241..244
                      PATH@241..244
                        Ident@241..244 "set"
                  ARG_LIST@244..261
                    LParen@244..245 "("
                    ARG@245..260
                      EXPR_BINARY@245..260
                        EXPR_CALL@245..255
                          EXPR_BINARY@245..252
                            EXPR_IDENT@245..248
                              PATH@245..248
                                Ident@245..248 "sum"
                            Dot@248..249 "."
                            EXPR_IDENT@249..252
                              PATH@249..252
                                Ident@249..252 "get"
                          ARG_LIST@252..255
                            LParen@252..253 "("
                            RParen@253..254 ")"
                            Whitespace@254..255 " "
                        Plus@255..256 "+"
                        Whitespace@256..257 " "
                        EXPR_IDENT@257..260
                          PATH@257..260
                            Ident@257..260 "cur"
                    RParen@260..261 ")"
                Semi@261..262 ";"
                Whitespace@262..267 "\n    "
              RBrace@267..268 "}"
              Whitespace@268..273 "\n    "
      STMT_EXPR@273..297
        EXPR_CALL@273..291
          EXPR_IDENT@273..280
            PATH@273..280
              Ident@273..280 "println"
          ARG_LIST@280..291
            LParen@280..281 "("
            ARG@281..290
              EXPR_CALL@281..290
                EXPR_BINARY@281..288
                  EXPR_IDENT@281..284
                    PATH@281..284
                      Ident@281..284 "sum"
                  Dot@284..285 "."
                  EXPR_IDENT@285..288
                    PATH@285..288
                      Ident@285..288 "get"
                ARG_LIST@288..290
                  LParen@288..289 "("
                  RParen@289..290 ")"
            RParen@290..291 ")"
        Semi@291..292 ";"
        Whitespace@292..297 "\n    "
      STMT_LET@297..322
        LetKeyword@297..300 "let"
        Whitespace@300..301 " "
        PATTERN_VARIABLE@301..303
          Ident@301..302 "j"
          Whitespace@302..303 " "
        Eq@303..304 "="
        Whitespace@304..305 " "
        EXPR_CALL@305..316
          EXPR_IDENT@305..313
            PATH@305..313
              Ident@305..308 "Ref"
              ColonColon@308..310 "::"
              Ident@310..313 "new"
          ARG_LIST@313..316
            LParen@313..314 "("
            ARG@314..315
              EXPR_INT@314..315
                Int@314..315 "0"
            RParen@315..316 ")"
        Semi@316..317 ";"
        Whitespace@317..322 "\n    "
      STMT_LET@322..351
        LetKeyword@322..325 "let"
        Whitespace@325..326 " "
        PATTERN_VARIABLE@326..332
          Ident@326..331 "total"
          Whitespace@331..332 " "
        Eq@332..333 "="
        Whitespace@333..334 " "
        EXPR_CALL@334..345
          EXPR_IDENT@334..342
            PATH@334..342
              Ident@334..337 "Ref"
              ColonColon@337..339 "::"
              Ident@339..342 "new"
          ARG_LIST@342..345
            LParen@342..343 "("
            ARG@343..344
              EXPR_INT@343..344
                Int@343..344 "0"
            RParen@344..345 ")"
        Semi@345..346 ";"
        Whitespace@346..351 "\n    "
      STMT_EXPR@351..535
        EXPR_WHILE@351..535
          WhileKeyword@351..356 "while"
          Whitespace@356..357 " "
          EXPR_WHILE_COND@357..362
            EXPR_BOOL@357..362
              TrueKeyword@357..361 "true"
              Whitespace@361..362 " "
          EXPR_WHILE_BODY@362..535
            BLOCK@362..535
              LBrace@362..363 "{"
              Whitespace@363..372 "\n        "
              STMT_EXPR@372..400
                EXPR_CALL@372..390
                  EXPR_BINARY@372..377
                    EXPR_IDENT@372..373
                      PATH@372..373
                        Ident@372..373 "j"
                    Dot@373..374 "."
                    EXPR_IDENT@374..377
                      PATH@374..377
                        Ident@374..377 "set"
                  ARG_LIST@377..390
                    LParen@377..378 "("
                    ARG@378..389
                      EXPR_BINARY@378..389
                        EXPR_CALL@378..386
                          EXPR_BINARY@378..383
                            EXPR_IDENT@378..379
                              PATH@378..379
                                Ident@378..379 "j"
                            Dot@379..380 "."
                            EXPR_IDENT@380..383
                              PATH@380..383
                                Ident@380..383 "get"
                          ARG_LIST@383..386
                            LParen@383..384 "("
                            RParen@384..385 ")"
                            Whitespace@385..386 " "
                        Plus@386..387 "+"
                        Whitespace@387..388 " "
                        EXPR_INT@388..389
                          Int@388..389 "1"
                    RParen@389..390 ")"
                Semi@390..391 ";"
                Whitespace@391..400 "\n        "
              STMT_LET@400..495
                LetKeyword@400..403 "let"
                Whitespace@403..404 " "
                PATTERN_VARIABLE@404..408
                  Ident@404..407 "cur"
                  Whitespace@407..408 " "
                Eq@408..409 "="
                Whitespace@409..410 " "
                EXPR_MATCH@410..485
                  MatchKeyword@410..415 "match"
                  Whitespace@415..416 " "
                  EXPR_CALL@416..424
                    EXPR_BINARY@416..421
                      EXPR_IDENT@416..417
                        PATH@416..417
                          Ident@416..417 "j"
                      Dot@417..418 "."
                      EXPR_IDENT@418..421
                        PATH@418..421
                          Ident@418..421 "get"
                    ARG_LIST@421..424
                      LParen@421..422 "("
                      RParen@422..423 ")"
                      Whitespace@423..424 " "
                  MATCH_ARM_LIST@424..485
                    LBrace@424..425 "{"
                    Whitespace@425..438 "\n            "
                    MATCH_ARM@438..448
                      PATTERN_INT@438..440
                        Int@438..439 "5"
                        Whitespace@439..440 " "
                      FatArrow@440..442 "=>"
                      Whitespace@442..443 " "
                      EXPR_BREAK@443..448
                        BreakKeyword@443..448 "break"
                    Comma@448..449 ","
                    Whitespace@449..462 "\n            "
                    MATCH_ARM@462..474
                      PATTERN_WILDCARD@462..464
                        WildcardKeyword@462..463 "_"
                        Whitespace@463..464 " "
                      FatArrow@464..466 "=>"
                      Whitespace@466..467 " "
                      EXPR_CALL@467..474
                        EXPR_BINARY@467..472
                          EXPR_IDENT@467..468
                            PATH@467..468
                              Ident@467..468 "j"
                          Dot@468..469 "."
                          EXPR_IDENT@469..472
                            PATH@469..472
                              Ident@469..472 "get"
                        ARG_LIST@472..474
                          LParen@472..473 "("
                          RParen@473..474 ")"
                    Comma@474..475 ","
                    Whitespace@475..484 "\n        "
                    RBrace@484..485 "}"
                Semi@485..486 ";"
                Whitespace@486..495 "\n        "
              STMT_EXPR@495..529
                EXPR_CALL@495..523
                  EXPR_BINARY@495..504
                    EXPR_IDENT@495..500
                      PATH@495..500
                        Ident@495..500 "total"
                    Dot@500..501 "."
                    EXPR_IDENT@501..504
                      PATH@501..504
                        Ident@501..504 "set"
                  ARG_LIST@504..523
                    LParen@504..505 "("
                    ARG@505..522
                      EXPR_BINARY@505..522
                        EXPR_CALL@505..517
                          EXPR_BINARY@505..514
                            EXPR_IDENT@505..510
                              PATH@505..510
                                Ident@505..510 "total"
                            Dot@510..511 "."
                            EXPR_IDENT@511..514
                              PATH@511..514
                                Ident@511..514 "get"
                          ARG_LIST@514..517
                            LParen@514..515 "("
                            RParen@515..516 ")"
                            Whitespace@516..517 " "
                        Plus@517..518 "+"
                        Whitespace@518..519 " "
                        EXPR_IDENT@519..522
                          PATH@519..522
                            Ident@519..522 "cur"
                    RParen@522..523 ")"
                Semi@523..524 ";"
                Whitespace@524..529 "\n    "
              RBrace@529..530 "}"
              Whitespace@530..535 "\n    "
      STMT_EXPR@535..557
        EXPR_CALL@535..555
          EXPR_IDENT@535..542
            PATH@535..542
              Ident@535..542 "println"
          ARG_LIST@542..555
            LParen@542..543 "("
            ARG@543..554
              EXPR_CALL@543..554
                EXPR_BINARY@543..552
                  EXPR_IDENT@543..548
                    PATH@543..548
                      Ident@543..548 "total"
                  Dot@548..549 "."
                  EXPR_IDENT@549..552
                    PATH@549..552
                      Ident@549..552 "get"
                ARG_LIST@552..554
                  LParen@552..553 "("
                  RParen@553..554 ")"
            RParen@554..555 ")"
        Semi@555..556 ";"
        Whitespace@556..557 "\n"
      RBrace@557..558 "}"
      Whitespace@558..559 "\n"