FILE@0..557
  FN@0..557
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..557
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..47
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        PATTERN_VARIABLE@26..28
          Ident@26..27 "i"
          Whitespace@27..28 " "
        Eq@28..29 "="
        Whitespace@29..30 " "
        EXPR_CALL@30..41
          EXPR_IDENT@30..38
            PATH@30..38
              Ident@30..33 "Ref"
              ColonColon@33..35 "::"
              Ident@35..38 "new"
          ARG_LIST@38..41
            LParen@38..39 "("
            ARG@39..40
              EXPR_INT@39..40
                Int@39..40 "0"
            RParen@40..41 ")"
        Semi@41..42 ";"
        Whitespace@42..47 "\n    "
      STMT_LET@47..74
        LetKeyword@47..50 "let"
        Whitespace@50..51 " "
        PATTERN_VARIABLE@51..55
          Ident@51..54 "sum"
          Whitespace@54..55 " "
        Eq@55..56 "="
        Whitespace@56..57 " "
        EXPR_CALL@57..68
          EXPR_IDENT@57..65
            PATH@57..65
              Ident@57..60 "Ref"
              ColonColon@60..62 "::"
              Ident@62..65 "new"
          ARG_LIST@65..68
            LParen@65..66 "("
            ARG@66..67
              EXPR_INT@66..67
                Int@66..67 "0"
            RParen@67..68 ")"
        Semi@68..69 ";"
        Whitespace@69..74 "\n    "
      STMT_EXPR@74..271
        EXPR_WHILE@74..271
          WhileKeyword@74..79 "while"
          Whitespace@79..80 " "
          EXPR_WHILE_COND@80..92
            EXPR_BINARY@80..92
              EXPR_CALL@80..88
                EXPR_BINARY@80..85
                  EXPR_IDENT@80..81
                    PATH@80..81
                      Ident@80..81 "i"
                  Dot@81..82 "."
                  EXPR_IDENT@82..85
                    PATH@82..85
                      Ident@82..85 "get"
                ARG_LIST@85..88
                  LParen@85..86 "("
                  RParen@86..87 ")"
                  Whitespace@87..88 " "
              Less@88..89 "<"
              Whitespace@89..90 " "
              EXPR_INT@90..92
                Int@90..91 "5"
                Whitespace@91..92 " "
          EXPR_WHILE_BODY@92..271
            BLOCK@92..271
              LBrace@92..93 "{"
              Whitespace@93..102 "\n        "
              STMT_EXPR@102..130
                EXPR_CALL@102..120
                  EXPR_BINARY@102..107
                    EXPR_IDENT@102..103
                      PATH@102..103
                        Ident@102..103 "i"
                    Dot@103..104 "."
                    EXPR_IDENT@104..107
                      PATH@104..107
                        Ident@104..107 "set"
                  ARG_LIST@107..120
                    LParen@107..108 "("
                    ARG@108..119
                      EXPR_BINARY@108..119
                        EXPR_CALL@108..116
                          EXPR_BINARY@108..113
                            EXPR_IDENT@108..109
                              PATH@108..109
                                Ident@108..109 "i"
                            Dot@109..110 "."
                            EXPR_IDENT@110..113
                              PATH@110..113
                                Ident@110..113 "get"
                          ARG_LIST@113..116
                            LParen@113..114 "("
                            RParen@114..115 ")"
                            Whitespace@115..116 " "
                        Plus@116..117 "+"
                        Whitespace@117..118 " "
                        EXPR_INT@118..119
                          Int@118..119 "1"
                    RParen@119..120 ")"
                Semi@120..121 ";"
                Whitespace@121..130 "\n        "
              STMT_LET@130..235
                LetKeyword@130..133 "let"
                Whitespace@133..134 " "
                PATTERN_VARIABLE@134..138
                  Ident@134..137 "cur"
                  Whitespace@137..138 " "
                Eq@138..139 "="
                Whitespace@139..140 " "
                EXPR_IF@140..225
                  IfKeyword@140..142 "if"
                  Whitespace@142..143 " "
                  EXPR_IF_COND@143..156
                    EXPR_BINARY@143..156
                      EXPR_CALL@143..151
                        EXPR_BINARY@143..148
                          EXPR_IDENT@143..144
                            PATH@143..144
                              Ident@143..144 "i"
                          Dot@144..145 "."
                          EXPR_IDENT@145..148
                            PATH@145..148
                              Ident@145..148 "get"
                        ARG_LIST@148..151
                          LParen@148..149 "("
                          RParen@149..150 ")"
                          Whitespace@150..151 " "
                      EqEq@151..153 "=="
                      Whitespace@153..154 " "
                      EXPR_INT@154..156
                        Int@154..155 "3"
                        Whitespace@155..156 " "
                  EXPR_IF_THEN@156..189
                    BLOCK@156..189
                      LBrace@156..157 "{"
                      Whitespace@157..170 "\n            "
                      EXPR_CONTINUE@170..187
                        ContinueKeyword@170..178 "continue"
                        Whitespace@178..187 "\n        "
                      RBrace@187..188 "}"
                      Whitespace@188..189 " "
                  ElseKeyword@189..193 "else"
                  Whitespace@193..194 " "
                  EXPR_IF_ELSE@194..225
                    BLOCK@194..225
                      LBrace@194..195 "{"
                      Whitespace@195..208 "\n            "
                      EXPR_CALL@208..224
                        EXPR_BINARY@208..213
                          EXPR_IDENT@208..209
                            PATH@208..209
                              Ident@208..209 "i"
                          Dot@209..210 "."
                          EXPR_IDENT@210..213
                            PATH@210..213
                              Ident@210..213 "get"
                        ARG_LIST@213..224
                          LParen@213..214 "("
                          RParen@214..215 ")"
                          Whitespace@215..224 "\n        "
                      RBrace@224..225 "}"
                Semi@225..226 ";"
                Whitespace@226..235 "\n        "
              STMT_EXPR@235..265
                EXPR_CALL@235..259
                  EXPR_BINARY@235..242
                    EXPR_IDENT@235..238
                      PATH@235..238
                        Ident@235..238 "sum"
                    Dot@238..239 "."
                    EXPR_IDENT@239..242
                      PATH@239..242
                        Ident@239..242 "set"
                  ARG_LIST@242..259
                    LParen@242..243 "("
                    ARG@243..258
                      EXPR_BINARY@243..258
                        EXPR_CALL@243..253
                          EXPR_BINARY@243..250
                            EXPR_IDENT@243..246
                              PATH@243..246
                                Ident@243..246 "sum"
                            Dot@246..247 "."
                            EXPR_IDENT@247..250
                              PATH@247..250
                                Ident@247..250 "get"
                          ARG_LIST@250..253
                            LParen@250..251 "("
                            RParen@251..252 ")"
                            Whitespace@252..253 " "
                        Plus@253..254 "+"
                        Whitespace@254..255 " "
                        EXPR_IDENT@255..258
                          PATH@255..258
                            Ident@255..258 "cur"
                    RParen@258..259 ")"
                Semi@259..260 ";"
                Whitespace@260..265 "\n    "
              RBrace@265..266 "}"
              Whitespace@266..271 "\n    "
      STMT_EXPR@271..295
        EXPR_CALL@271..289
          EXPR_IDENT@271..278
            PATH@271..278
              Ident@271..278 "println"
          ARG_LIST@278..289
            LParen@278..279 "("
            ARG@279..288
              EXPR_CALL@279..288
                EXPR_BINARY@279..286
                  EXPR_IDENT@279..282
                    PATH@279..282
                      Ident@279..282 "sum"
                  Dot@282..283 "."
                  EXPR_IDENT@283..286
                    PATH@283..286
                      Ident@283..286 "get"
                ARG_LIST@286..288
                  LParen@286..287 "("
                  RParen@287..288 ")"
            RParen@288..289 ")"
        Semi@289..290 ";"
        Whitespace@290..295 "\n    "
      STMT_LET@295..320
        LetKeyword@295..298 "let"
        Whitespace@298..299 " "
        PATTERN_VARIABLE@299..301
          Ident@299..300 "j"
          Whitespace@300..301 " "
        Eq@301..302 "="
        Whitespace@302..303 " "
        EXPR_CALL@303..314
          EXPR_IDENT@303..311
            PATH@303..311
              Ident@303..306 "Ref"
              ColonColon@306..308 "::"
              Ident@308..311 "new"
          ARG_LIST@311..314
            LParen@311..312 "("
            ARG@312..313
              EXPR_INT@312..313
                Int@312..313 "0"
            RParen@313..314 ")"
        Semi@314..315 ";"
        Whitespace@315..320 "\n    "
      STMT_LET@320..349
        LetKeyword@320..323 "let"
        Whitespace@323..324 " "
        PATTERN_VARIABLE@324..330
          Ident@324..329 "total"
          Whitespace@329..330 " "
        Eq@330..331 "="
        Whitespace@331..332 " "
        EXPR_CALL@332..343
          EXPR_IDENT@332..340
            PATH@332..340
              Ident@332..335 "Ref"
              ColonColon@335..337 "::"
              Ident@337..340 "new"
          ARG_LIST@340..343
            LParen@340..341 "("
            ARG@341..342
              EXPR_INT@341..342
                Int@341..342 "0"
            RParen@342..343 ")"
        Semi@343..344 ";"
        Whitespace@344..349 "\n    "
      STMT_EXPR@349..533
        EXPR_WHILE@349..533
          WhileKeyword@349..354 "while"
          Whitespace@354..355 " "
          EXPR_WHILE_COND@355..360
            EXPR_BOOL@355..360
              TrueKeyword@355..359 "true"
              Whitespace@359..360 " "
          EXPR_WHILE_BODY@360..533
            BLOCK@360..533
              LBrace@360..361 "{"
              Whitespace@361..370 "\n        "
              STMT_EXPR@370..398
                EXPR_CALL@370..388
                  EXPR_BINARY@370..375
                    EXPR_IDENT@370..371
                      PATH@370..371
                        Ident@370..371 "j"
                    Dot@371..372 "."
                    EXPR_IDENT@372..375
                      PATH@372..375
                        Ident@372..375 "set"
                  ARG_LIST@375..388
                    LParen@375..376 "("
                    ARG@376..387
                      EXPR_BINARY@376..387
                        EXPR_CALL@376..384
                          EXPR_BINARY@376..381
                            EXPR_IDENT@376..377
                              PATH@376..377
                                Ident@376..377 "j"
                            Dot@377..378 "."
                            EXPR_IDENT@378..381
                              PATH@378..381
                                Ident@378..381 "get"
                          ARG_LIST@381..384
                            LParen@381..382 "("
                            RParen@382..383 ")"
                            Whitespace@383..384 " "
                        Plus@384..385 "+"
                        Whitespace@385..386 " "
                        EXPR_INT@386..387
                          Int@386..387 "1"
                    RParen@387..388 ")"
                Semi@388..389 ";"
                Whitespace@389..398 "\n        "
              STMT_LET@398..493
                LetKeyword@398..401 "let"
                Whitespace@401..402 " "
                PATTERN_VARIABLE@402..406
                  Ident@402..405 "cur"
                  Whitespace@405..406 " "
                Eq@406..407 "="
                Whitespace@407..408 " "
                EXPR_MATCH@408..483
                  MatchKeyword@408..413 "match"
                  Whitespace@413..414 " "
                  EXPR_CALL@414..422
                    EXPR_BINARY@414..419
                      EXPR_IDENT@414..415
                        PATH@414..415
                          Ident@414..415 "j"
                      Dot@415..416 "."
                      EXPR_IDENT@416..419
                        PATH@416..419
                          Ident@416..419 "get"
                    ARG_LIST@419..422
                      LParen@419..420 "("
                      RParen@420..421 ")"
                      Whitespace@421..422 " "
                  MATCH_ARM_LIST@422..483
                    LBrace@422..423 "{"
                    Whitespace@423..436 "\n            "
                    MATCH_ARM@436..446
                      PATTERN_INT@436..438
                        Int@436..437 "5"
                        Whitespace@437..438 " "
                      FatArrow@438..440 "=>"
                      Whitespace@440..441 " "
                      EXPR_BREAK@441..446
                        BreakKeyword@441..446 "break"
                    Comma@446..447 ","
                    Whitespace@447..460 "\n            "
                    MATCH_ARM@460..472
                      PATTERN_WILDCARD@460..462
                        WildcardKeyword@460..461 "_"
                        Whitespace@461..462 " "
                      FatArrow@462..464 "=>"
                      Whitespace@464..465 " "
                      EXPR_CALL@465..472
                        EXPR_BINARY@465..470
                          EXPR_IDENT@465..466
                            PATH@465..466
                              Ident@465..466 "j"
                          Dot@466..467 "."
                          EXPR_IDENT@467..470
                            PATH@467..470
                              Ident@467..470 "get"
                        ARG_LIST@470..472
                          LParen@470..471 "("
                          RParen@471..472 ")"
                    Comma@472..473 ","
                    Whitespace@473..482 "\n        "
                    RBrace@482..483 "}"
                Semi@483..484 ";"
                Whitespace@484..493 "\n        "
              STMT_EXPR@493..527
                EXPR_CALL@493..521
                  EXPR_BINARY@493..502
                    EXPR_IDENT@493..498
                      PATH@493..498
                        Ident@493..498 "total"
                    Dot@498..499 "."
                    EXPR_IDENT@499..502
                      PATH@499..502
                        Ident@499..502 "set"
                  ARG_LIST@502..521
                    LParen@502..503 "("
                    ARG@503..520
                      EXPR_BINARY@503..520
                        EXPR_CALL@503..515
                          EXPR_BINARY@503..512
                            EXPR_IDENT@503..508
                              PATH@503..508
                                Ident@503..508 "total"
                            Dot@508..509 "."
                            EXPR_IDENT@509..512
                              PATH@509..512
                                Ident@509..512 "get"
                          ARG_LIST@512..515
                            LParen@512..513 "("
                            RParen@513..514 ")"
                            Whitespace@514..515 " "
                        Plus@515..516 "+"
                        Whitespace@516..517 " "
                        EXPR_IDENT@517..520
                          PATH@517..520
                            Ident@517..520 "cur"
                    RParen@520..521 ")"
                Semi@521..522 ";"
                Whitespace@522..527 "\n    "
              RBrace@527..528 "}"
              Whitespace@528..533 "\n    "
      STMT_EXPR@533..555
        EXPR_CALL@533..553
          EXPR_IDENT@533..540
            PATH@533..540
              Ident@533..540 "println"
          ARG_LIST@540..553
            LParen@540..541 "("
            ARG@541..552
              EXPR_CALL@541..552
                EXPR_BINARY@541..550
                  EXPR_IDENT@541..546
                    PATH@541..546
                      Ident@541..546 "total"
                  Dot@546..547 "."
                  EXPR_IDENT@547..550
                    PATH@547..550
                      Ident@547..550 "get"
                ARG_LIST@550..552
                  LParen@550..551 "("
                  RParen@551..552 ")"
            RParen@552..553 ")"
        Semi@553..554 ";"
        Whitespace@554..555 "\n"
      RBrace@555..556 "}"
      Whitespace@556..557 "\n"