FILE@0..1388
  FN@0..170
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..19 "match_mixed_pair"
    PARAM_LIST@19..43
      LParen@19..20 "("
      PARAM@20..41
        Ident@20..24 "pair"
        Colon@24..25 ":"
        Whitespace@25..26 " "
        TYPE_TUPLE@26..41
          TYPE_LIST@26..41
            LParen@26..27 "("
            TYPE_INT32@27..32
              Int32Keyword@27..32 "int32"
            Comma@32..33 ","
            Whitespace@33..34 " "
            TYPE_STRING@34..40
              StringKeyword@34..40 "string"
            RParen@40..41 ")"
      RParen@41..42 ")"
      Whitespace@42..43 " "
    Arrow@43..45 "->"
    Whitespace@45..46 " "
    TYPE_INT32@46..52
      Int32Keyword@46..51 "int32"
      Whitespace@51..52 " "
    BLOCK@52..170
      LBrace@52..53 "{"
      Whitespace@53..56 "\n  "
      EXPR_MATCH@56..167
        MatchKeyword@56..61 "match"
        Whitespace@61..62 " "
        EXPR_IDENT@62..67
          PATH@62..67
            Ident@62..66 "pair"
            Whitespace@66..67 " "
        MATCH_ARM_LIST@67..167
          LBrace@67..68 "{"
          Whitespace@68..73 "\n    "
          MATCH_ARM@73..89
            PATTERN_TUPLE@73..85
              LParen@73..74 "("
              PATTERN_INT@74..75
                Int@74..75 "0"
              Comma@75..76 ","
              Whitespace@76..77 " "
              PATTERN_STRING@77..83
                Str@77..83 "\"zero\""
              RParen@83..84 ")"
              Whitespace@84..85 " "
            FatArrow@85..87 "=>"
            Whitespace@87..88 " "
            EXPR_INT@88..89
              Int@88..89 "1"
          Comma@89..90 ","
          Whitespace@90..95 "\n    "
          MATCH_ARM@95..106
            PATTERN_TUPLE@95..102
              LParen@95..96 "("
              PATTERN_INT@96..97
                Int@96..97 "0"
              Comma@97..98 ","
              Whitespace@98..99 " "
              PATTERN_WILDCARD@99..100
                WildcardKeyword@99..100 "_"
              RParen@100..101 ")"
              Whitespace@101..102 " "
            FatArrow@102..104 "=>"
            Whitespace@104..105 " "
            EXPR_INT@105..106
              Int@105..106 "2"
          Comma@106..107 ","
          Whitespace@107..112 "\n    "
          MATCH_ARM@112..127
            PATTERN_TUPLE@112..123
              LParen@112..113 "("
              PATTERN_INT@113..114
                Int@113..114 "1"
              Comma@114..115 ","
              Whitespace@115..116 " "
              PATTERN_STRING@116..121
                Str@116..121 "\"one\""
              RParen@121..122 ")"
              Whitespace@122..123 " "
            FatArrow@123..125 "=>"
            Whitespace@125..126 " "
            EXPR_INT@126..127
              Int@126..127 "3"
          Comma@127..128 ","
          Whitespace@128..133 "\n    "
          MATCH_ARM@133..149
            PATTERN_TUPLE@133..145
              LParen@133..134 "("
              PATTERN_WILDCARD@134..135
                WildcardKeyword@134..135 "_"
              Comma@135..136 ","
              Whitespace@136..137 " "
              PATTERN_STRING@137..143
                Str@137..143 "\"zero\""
              RParen@143..144 ")"
              Whitespace@144..145 " "
            FatArrow@145..147 "=>"
            Whitespace@147..148 " "
            EXPR_INT@148..149
              Int@148..149 "4"
          Comma@149..150 ","
          Whitespace@150..155 "\n    "
          MATCH_ARM@155..161
            PATTERN_WILDCARD@155..157
              WildcardKeyword@155..156 "_"
              Whitespace@156..157 " "
            FatArrow@157..159 "=>"
            Whitespace@159..160 " "
            EXPR_INT@160..161
              Int@160..161 "5"
          Comma@161..162 ","
          Whitespace@162..165 "\n  "
          RBrace@165..166 "}"
          Whitespace@166..167 "\n"
      RBrace@167..168 "}"
      Whitespace@168..170 "\n\n"
  ENUM@170..246
    EnumKeyword@170..174 "enum"
    Whitespace@174..175 " "
    Ident@175..180 "Mixed"
    Whitespace@180..181 " "
    LBrace@181..182 "{"
    Whitespace@182..185 "\n  "
    VARIANT_LIST@185..246
      VARIANT@185..199
        Ident@185..192 "OnlyInt"
        TYPE_LIST@192..199
          LParen@192..193 "("
          TYPE_INT32@193..198
            Int32Keyword@193..198 "int32"
          RParen@198..199 ")"
      Comma@199..200 ","
      Whitespace@200..203 "\n  "
      VARIANT@203..218
        Ident@203..210 "OnlyStr"
        TYPE_LIST@210..218
          LParen@210..211 "("
          TYPE_STRING@211..217
            StringKeyword@211..217 "string"
          RParen@217..218 ")"
      Comma@218..219 ","
      Whitespace@219..222 "\n  "
      VARIANT@222..241
        Ident@222..226 "Both"
        TYPE_LIST@226..241
          LParen@226..227 "("
          TYPE_INT32@227..232
            Int32Keyword@227..232 "int32"
          Comma@232..233 ","
          Whitespace@233..234 " "
          TYPE_STRING@234..240
            StringKeyword@234..240 "string"
          RParen@240..241 ")"
      Comma@241..242 ","
      Whitespace@242..243 "\n"
      RBrace@243..244 "}"
      Whitespace@244..246 "\n\n"
  FN@246..501
    FnKeyword@246..248 "fn"
    Whitespace@248..249 " "
    Ident@249..265 "match_mixed_enum"
    PARAM_LIST@265..280
      LParen@265..266 "("
      PARAM@266..278
        Ident@266..271 "value"
        Colon@271..272 ":"
        Whitespace@272..273 " "
        TYPE_TAPP@273..278
          PATH@273..278
            Ident@273..278 "Mixed"
      RParen@278..279 ")"
      Whitespace@279..280 " "
    Arrow@280..282 "->"
    Whitespace@282..283 " "
    TYPE_INT32@283..289
      Int32Keyword@283..288 "int32"
      Whitespace@288..289 " "
    BLOCK@289..501
      LBrace@289..290 "{"
      Whitespace@290..293 "\n  "
      EXPR_MATCH@293..498
        MatchKeyword@293..298 "match"
        Whitespace@298..299 " "
        EXPR_IDENT@299..305
          PATH@299..305
            Ident@299..304 "value"
            Whitespace@304..305 " "
        MATCH_ARM_LIST@305..498
          LBrace@305..306 "{"
          Whitespace@306..311 "\n    "
          MATCH_ARM@311..326
            PATTERN_CONSTR@311..322
              PATH@311..318
                Ident@311..318 "OnlyInt"
              LParen@318..319 "("
              PATTERN_INT@319..320
                Int@319..320 "0"
              RParen@320..321 ")"
              Whitespace@321..322 " "
            FatArrow@322..324 "=>"
            Whitespace@324..325 " "
            EXPR_INT@325..326
              Int@325..326 "6"
          Comma@326..327 ","
          Whitespace@327..332 "\n    "
          MATCH_ARM@332..347
            PATTERN_CONSTR@332..343
              PATH@332..339
                Ident@332..339 "OnlyInt"
              LParen@339..340 "("
              PATTERN_WILDCARD@340..341
                WildcardKeyword@340..341 "_"
              RParen@341..342 ")"
              Whitespace@342..343 " "
            FatArrow@343..345 "=>"
            Whitespace@345..346 " "
            EXPR_INT@346..347
              Int@346..347 "7"
          Comma@347..348 ","
          Whitespace@348..353 "\n    "
          MATCH_ARM@353..373
            PATTERN_CONSTR@353..369
              PATH@353..360
                Ident@353..360 "OnlyStr"
              LParen@360..361 "("
              PATTERN_STRING@361..367
                Str@361..367 "\"zero\""
              RParen@367..368 ")"
              Whitespace@368..369 " "
            FatArrow@369..371 "=>"
            Whitespace@371..372 " "
            EXPR_INT@372..373
              Int@372..373 "8"
          Comma@373..374 ","
          Whitespace@374..379 "\n    "
          MATCH_ARM@379..394
            PATTERN_CONSTR@379..390
              PATH@379..386
                Ident@379..386 "OnlyStr"
              LParen@386..387 "("
              PATTERN_WILDCARD@387..388
                WildcardKeyword@387..388 "_"
              RParen@388..389 ")"
              Whitespace@389..390 " "
            FatArrow@390..392 "=>"
            Whitespace@392..393 " "
            EXPR_INT@393..394
              Int@393..394 "9"
          Comma@394..395 ","
          Whitespace@395..400 "\n    "
          MATCH_ARM@400..421
            PATTERN_CONSTR@400..416
              PATH@400..404
                Ident@400..404 "Both"
              LParen@404..405 "("
              PATTERN_INT@405..406
                Int@405..406 "0"
              Comma@406..407 ","
              Whitespace@407..408 " "
              PATTERN_STRING@408..414
                Str@408..414 "\"zero\""
              RParen@414..415 ")"
              Whitespace@415..416 " "
            FatArrow@416..418 "=>"
            Whitespace@418..419 " "
            EXPR_INT@419..421
              Int@419..421 "10"
          Comma@421..422 ","
          Whitespace@422..427 "\n    "
          MATCH_ARM@427..443
            PATTERN_CONSTR@427..438
              PATH@427..431
                Ident@427..431 "Both"
              LParen@431..432 "("
              PATTERN_INT@432..433
                Int@432..433 "0"
              Comma@433..434 ","
              Whitespace@434..435 " "
              PATTERN_WILDCARD@435..436
                WildcardKeyword@435..436 "_"
              RParen@436..437 ")"
              Whitespace@437..438 " "
            FatArrow@438..440 "=>"
            Whitespace@440..441 " "
            EXPR_INT@441..443
              Int@441..443 "11"
          Comma@443..444 ","
          Whitespace@444..449 "\n    "
          MATCH_ARM@449..470
            PATTERN_CONSTR@449..465
              PATH@449..453
                Ident@449..453 "Both"
              LParen@453..454 "("
              PATTERN_WILDCARD@454..455
                WildcardKeyword@454..455 "_"
              Comma@455..456 ","
              Whitespace@456..457 " "
              PATTERN_STRING@457..463
                Str@457..463 "\"zero\""
              RParen@463..464 ")"
              Whitespace@464..465 " "
            FatArrow@465..467 "=>"
            Whitespace@467..468 " "
            EXPR_INT@468..470
              Int@468..470 "12"
          Comma@470..471 ","
          Whitespace@471..476 "\n    "
          MATCH_ARM@476..492
            PATTERN_CONSTR@476..487
              PATH@476..480
                Ident@476..480 "Both"
              LParen@480..481 "("
              PATTERN_WILDCARD@481..482
                WildcardKeyword@481..482 "_"
              Comma@482..483 ","
              Whitespace@483..484 " "
              PATTERN_WILDCARD@484..485
                WildcardKeyword@484..485 "_"
              RParen@485..486 ")"
              Whitespace@486..487 " "
            FatArrow@487..489 "=>"
            Whitespace@489..490 " "
            EXPR_INT@490..492
              Int@490..492 "13"
          Comma@492..493 ","
          Whitespace@493..496 "\n  "
          RBrace@496..497 "}"
          Whitespace@497..498 "\n"
      RBrace@498..499 "}"
      Whitespace@499..501 "\n\n"
  FN@501..1388
    FnKeyword@501..503 "fn"
    Whitespace@503..504 " "
    Ident@504..508 "main"
    PARAM_LIST@508..511
      LParen@508..509 "("
      RParen@509..510 ")"
      Whitespace@510..511 " "
    BLOCK@511..1388
      LBrace@511..512 "{"
      Whitespace@512..517 "\n    "
      STMT_LET@517..583
        LetKeyword@517..520 "let"
        Whitespace@520..521 " "
        PATTERN_WILDCARD@521..523
          WildcardKeyword@521..522 "_"
          Whitespace@522..523 " "
        Eq@523..524 "="
        Whitespace@524..525 " "
        EXPR_CALL@525..577
          EXPR_IDENT@525..532
            PATH@525..532
              Ident@525..532 "println"
          ARG_LIST@532..577
            LParen@532..533 "("
            ARG@533..576
              EXPR_CALL@533..576
                EXPR_BINARY@533..574
                  EXPR_PAREN@533..564
                    LParen@533..534 "("
                    EXPR_CALL@534..563
                      EXPR_IDENT@534..550
                        PATH@534..550
                          Ident@534..550 "match_mixed_pair"
                      ARG_LIST@550..563
                        LParen@550..551 "("
                        ARG@551..562
                          EXPR_TUPLE@551..562
                            LParen@551..552 "("
                            EXPR_INT@552..553
                              Int@552..553 "0"
                            Comma@553..554 ","
                            Whitespace@554..555 " "
                            EXPR_STR@555..561
                              Str@555..561 "\"zero\""
                            RParen@561..562 ")"
                        RParen@562..563 ")"
                    RParen@563..564 ")"
                  Dot@564..565 "."
                  EXPR_IDENT@565..574
                    PATH@565..574
                      Ident@565..574 "to_string"
                ARG_LIST@574..576
                  LParen@574..575 "("
                  RParen@575..576 ")"
            RParen@576..577 ")"
        Semi@577..578 ";"
        Whitespace@578..583 "\n    "
      STMT_LET@583..650
        LetKeyword@583..586 "let"
        Whitespace@586..587 " "
        PATTERN_WILDCARD@587..589
          WildcardKeyword@587..588 "_"
          Whitespace@588..589 " "
        Eq@589..590 "="
        Whitespace@590..591 " "
        EXPR_CALL@591..644
          EXPR_IDENT@591..598
            PATH@591..598
              Ident@591..598 "println"
          ARG_LIST@598..644
            LParen@598..599 "("
            ARG@599..643
              EXPR_CALL@599..643
                EXPR_BINARY@599..641
                  EXPR_PAREN@599..631
                    LParen@599..600 "("
                    EXPR_CALL@600..630
                      EXPR_IDENT@600..616
                        PATH@600..616
                          Ident@600..616 "match_mixed_pair"
                      ARG_LIST@616..630
                        LParen@616..617 "("
                        ARG@617..629
                          EXPR_TUPLE@617..629
                            LParen@617..618 "("
                            EXPR_INT@618..619
                              Int@618..619 "0"
                            Comma@619..620 ","
                            Whitespace@620..621 " "
                            EXPR_STR@621..628
                              Str@621..628 "\"other\""
                            RParen@628..629 ")"
                        RParen@629..630 ")"
                    RParen@630..631 ")"
                  Dot@631..632 "."
                  EXPR_IDENT@632..641
                    PATH@632..641
                      Ident@632..641 "to_string"
                ARG_LIST@641..643
                  LParen@641..642 "("
                  RParen@642..643 ")"
            RParen@643..644 ")"
        Semi@644..645 ";"
        Whitespace@645..650 "\n    "
      STMT_LET@650..715
        LetKeyword@650..653 "let"
        Whitespace@653..654 " "
        PATTERN_WILDCARD@654..656
          WildcardKeyword@654..655 "_"
          Whitespace@655..656 " "
        Eq@656..657 "="
        Whitespace@657..658 " "
        EXPR_CALL@658..709
          EXPR_IDENT@658..665
            PATH@658..665
              Ident@658..665 "println"
          ARG_LIST@665..709
            LParen@665..666 "("
            ARG@666..708
              EXPR_CALL@666..708
                EXPR_BINARY@666..706
                  EXPR_PAREN@666..696
                    LParen@666..667 "("
                    EXPR_CALL@667..695
                      EXPR_IDENT@667..683
                        PATH@667..683
                          Ident@667..683 "match_mixed_pair"
                      ARG_LIST@683..695
                        LParen@683..684 "("
                        ARG@684..694
                          EXPR_TUPLE@684..694
                            LParen@684..685 "("
                            EXPR_INT@685..686
                              Int@685..686 "1"
                            Comma@686..687 ","
                            Whitespace@687..688 " "
                            EXPR_STR@688..693
                              Str@688..693 "\"one\""
                            RParen@693..694 ")"
                        RParen@694..695 ")"
                    RParen@695..696 ")"
                  Dot@696..697 "."
                  EXPR_IDENT@697..706
                    PATH@697..706
                      Ident@697..706 "to_string"
                ARG_LIST@706..708
                  LParen@706..707 "("
                  RParen@707..708 ")"
            RParen@708..709 ")"
        Semi@709..710 ";"
        Whitespace@710..715 "\n    "
      STMT_LET@715..781
        LetKeyword@715..718 "let"
        Whitespace@718..719 " "
        PATTERN_WILDCARD@719..721
          WildcardKeyword@719..720 "_"
          Whitespace@720..721 " "
        Eq@721..722 "="
        Whitespace@722..723 " "
        EXPR_CALL@723..775
          EXPR_IDENT@723..730
            PATH@723..730
              Ident@723..730 "println"
          ARG_LIST@730..775
            LParen@730..731 "("
            ARG@731..774
              EXPR_CALL@731..774
                EXPR_BINARY@731..772
                  EXPR_PAREN@731..762
                    LParen@731..732 "("
                    EXPR_CALL@732..761
                      EXPR_IDENT@732..748
                        PATH@732..748
                          Ident@732..748 "match_mixed_pair"
                      ARG_LIST@748..761
                        LParen@748..749 "("
                        ARG@749..760
                          EXPR_TUPLE@749..760
                            LParen@749..750 "("
                            EXPR_INT@750..751
                              Int@750..751 "2"
                            Comma@751..752 ","
                            Whitespace@752..753 " "
                            EXPR_STR@753..759
                              Str@753..759 "\"zero\""
                            RParen@759..760 ")"
                        RParen@760..761 ")"
                    RParen@761..762 ")"
                  Dot@762..763 "."
                  EXPR_IDENT@763..772
                    PATH@763..772
                      Ident@763..772 "to_string"
                ARG_LIST@772..774
                  LParen@772..773 "("
                  RParen@773..774 ")"
            RParen@774..775 ")"
        Semi@775..776 ";"
        Whitespace@776..781 "\n    "
      STMT_LET@781..846
        LetKeyword@781..784 "let"
        Whitespace@784..785 " "
        PATTERN_WILDCARD@785..787
          WildcardKeyword@785..786 "_"
          Whitespace@786..787 " "
        Eq@787..788 "="
        Whitespace@788..789 " "
        EXPR_CALL@789..840
          EXPR_IDENT@789..796
            PATH@789..796
              Ident@789..796 "println"
          ARG_LIST@796..840
            LParen@796..797 "("
            ARG@797..839
              EXPR_CALL@797..839
                EXPR_BINARY@797..837
                  EXPR_PAREN@797..827
                    LParen@797..798 "("
                    EXPR_CALL@798..826
                      EXPR_IDENT@798..814
                        PATH@798..814
                          Ident@798..814 "match_mixed_pair"
                      ARG_LIST@814..826
                        LParen@814..815 "("
                        ARG@815..825
                          EXPR_TUPLE@815..825
                            LParen@815..816 "("
                            EXPR_INT@816..817
                              Int@816..817 "2"
                            Comma@817..818 ","
                            Whitespace@818..819 " "
                            EXPR_STR@819..824
                              Str@819..824 "\"two\""
                            RParen@824..825 ")"
                        RParen@825..826 ")"
                    RParen@826..827 ")"
                  Dot@827..828 "."
                  EXPR_IDENT@828..837
                    PATH@828..837
                      Ident@828..837 "to_string"
                ARG_LIST@837..839
                  LParen@837..838 "("
                  RParen@838..839 ")"
            RParen@839..840 ")"
        Semi@840..841 ";"
        Whitespace@841..846 "\n    "
      STMT_LET@846..911
        LetKeyword@846..849 "let"
        Whitespace@849..850 " "
        PATTERN_WILDCARD@850..852
          WildcardKeyword@850..851 "_"
          Whitespace@851..852 " "
        Eq@852..853 "="
        Whitespace@853..854 " "
        EXPR_CALL@854..905
          EXPR_IDENT@854..861
            PATH@854..861
              Ident@854..861 "println"
          ARG_LIST@861..905
            LParen@861..862 "("
            ARG@862..904
              EXPR_CALL@862..904
                EXPR_BINARY@862..902
                  EXPR_PAREN@862..892
                    LParen@862..863 "("
                    EXPR_CALL@863..891
                      EXPR_IDENT@863..879
                        PATH@863..879
                          Ident@863..879 "match_mixed_enum"
                      ARG_LIST@879..891
                        LParen@879..880 "("
                        ARG@880..890
                          EXPR_CALL@880..890
                            EXPR_IDENT@880..887
                              PATH@880..887
                                Ident@880..887 "OnlyInt"
                            ARG_LIST@887..890
                              LParen@887..888 "("
                              ARG@888..889
                                EXPR_INT@888..889
                                  Int@888..889 "0"
                              RParen@889..890 ")"
                        RParen@890..891 ")"
                    RParen@891..892 ")"
                  Dot@892..893 "."
                  EXPR_IDENT@893..902
                    PATH@893..902
                      Ident@893..902 "to_string"
                ARG_LIST@902..904
                  LParen@902..903 "("
                  RParen@903..904 ")"
            RParen@904..905 ")"
        Semi@905..906 ";"
        Whitespace@906..911 "\n    "
      STMT_LET@911..976
        LetKeyword@911..914 "let"
        Whitespace@914..915 " "
        PATTERN_WILDCARD@915..917
          WildcardKeyword@915..916 "_"
          Whitespace@916..917 " "
        Eq@917..918 "="
        Whitespace@918..919 " "
        EXPR_CALL@919..970
          EXPR_IDENT@919..926
            PATH@919..926
              Ident@919..926 "println"
          ARG_LIST@926..970
            LParen@926..927 "("
            ARG@927..969
              EXPR_CALL@927..969
                EXPR_BINARY@927..967
                  EXPR_PAREN@927..957
                    LParen@927..928 "("
                    EXPR_CALL@928..956
                      EXPR_IDENT@928..944
                        PATH@928..944
                          Ident@928..944 "match_mixed_enum"
                      ARG_LIST@944..956
                        LParen@944..945 "("
                        ARG@945..955
                          EXPR_CALL@945..955
                            EXPR_IDENT@945..952
                              PATH@945..952
                                Ident@945..952 "OnlyInt"
                            ARG_LIST@952..955
                              LParen@952..953 "("
                              ARG@953..954
                                EXPR_INT@953..954
                                  Int@953..954 "5"
                              RParen@954..955 ")"
                        RParen@955..956 ")"
                    RParen@956..957 ")"
                  Dot@957..958 "."
                  EXPR_IDENT@958..967
                    PATH@958..967
                      Ident@958..967 "to_string"
                ARG_LIST@967..969
                  LParen@967..968 "("
                  RParen@968..969 ")"
            RParen@969..970 ")"
        Semi@970..971 ";"
        Whitespace@971..976 "\n    "
      STMT_LET@976..1046
        LetKeyword@976..979 "let"
        Whitespace@979..980 " "
        PATTERN_WILDCARD@980..982
          WildcardKeyword@980..981 "_"
          Whitespace@981..982 " "
        Eq@982..983 "="
        Whitespace@983..984 " "
        EXPR_CALL@984..1040
          EXPR_IDENT@984..991
            PATH@984..991
              Ident@984..991 "println"
          ARG_LIST@991..1040
            LParen@991..992 "("
            ARG@992..1039
              EXPR_CALL@992..1039
                EXPR_BINARY@992..1037
                  EXPR_PAREN@992..1027
                    LParen@992..993 "("
                    EXPR_CALL@993..1026
                      EXPR_IDENT@993..1009
                        PATH@993..1009
                          Ident@993..1009 "match_mixed_enum"
                      ARG_LIST@1009..1026
                        LParen@1009..1010 "("
                        ARG@1010..1025
                          EXPR_CALL@1010..1025
                            EXPR_IDENT@1010..1017
                              PATH@1010..1017
                                Ident@1010..1017 "OnlyStr"
                            ARG_LIST@1017..1025
                              LParen@1017..1018 "("
                              ARG@1018..1024
                                EXPR_STR@1018..1024
                                  Str@1018..1024 "\"zero\""
                              RParen@1024..1025 ")"
                        RParen@1025..1026 ")"
                    RParen@1026..1027 ")"
                  Dot@1027..1028 "."
                  EXPR_IDENT@1028..1037
                    PATH@1028..1037
                      Ident@1028..1037 "to_string"
                ARG_LIST@1037..1039
                  LParen@1037..1038 "("
                  RParen@1038..1039 ")"
            RParen@1039..1040 ")"
        Semi@1040..1041 ";"
        Whitespace@1041..1046 "\n    "
      STMT_LET@1046..1117
        LetKeyword@1046..1049 "let"
        Whitespace@1049..1050 " "
        PATTERN_WILDCARD@1050..1052
          WildcardKeyword@1050..1051 "_"
          Whitespace@1051..1052 " "
        Eq@1052..1053 "="
        Whitespace@1053..1054 " "
        EXPR_CALL@1054..1111
          EXPR_IDENT@1054..1061
            PATH@1054..1061
              Ident@1054..1061 "println"
          ARG_LIST@1061..1111
            LParen@1061..1062 "("
            ARG@1062..1110
              EXPR_CALL@1062..1110
                EXPR_BINARY@1062..1108
                  EXPR_PAREN@1062..1098
                    LParen@1062..1063 "("
                    EXPR_CALL@1063..1097
                      EXPR_IDENT@1063..1079
                        PATH@1063..1079
                          Ident@1063..1079 "match_mixed_enum"
                      ARG_LIST@1079..1097
                        LParen@1079..1080 "("
                        ARG@1080..1096
                          EXPR_CALL@1080..1096
                            EXPR_IDENT@1080..1087
                              PATH@1080..1087
                                Ident@1080..1087 "OnlyStr"
                            ARG_LIST@1087..1096
                              LParen@1087..1088 "("
                              ARG@1088..1095
                                EXPR_STR@1088..1095
                                  Str@1088..1095 "\"hello\""
                              RParen@1095..1096 ")"
                        RParen@1096..1097 ")"
                    RParen@1097..1098 ")"
                  Dot@1098..1099 "."
                  EXPR_IDENT@1099..1108
                    PATH@1099..1108
                      Ident@1099..1108 "to_string"
                ARG_LIST@1108..1110
                  LParen@1108..1109 "("
                  RParen@1109..1110 ")"
            RParen@1110..1111 ")"
        Semi@1111..1112 ";"
        Whitespace@1112..1117 "\n    "
      STMT_LET@1117..1187
        LetKeyword@1117..1120 "let"
        Whitespace@1120..1121 " "
        PATTERN_WILDCARD@1121..1123
          WildcardKeyword@1121..1122 "_"
          Whitespace@1122..1123 " "
        Eq@1123..1124 "="
        Whitespace@1124..1125 " "
        EXPR_CALL@1125..1181
          EXPR_IDENT@1125..1132
            PATH@1125..1132
              Ident@1125..1132 "println"
          ARG_LIST@1132..1181
            LParen@1132..1133 "("
            ARG@1133..1180
              EXPR_CALL@1133..1180
                EXPR_BINARY@1133..1178
                  EXPR_PAREN@1133..1168
                    LParen@1133..1134 "("
                    EXPR_CALL@1134..1167
                      EXPR_IDENT@1134..1150
                        PATH@1134..1150
                          Ident@1134..1150 "match_mixed_enum"
                      ARG_LIST@1150..1167
                        LParen@1150..1151 "("
                        ARG@1151..1166
                          EXPR_CALL@1151..1166
                            EXPR_IDENT@1151..1155
                              PATH@1151..1155
                                Ident@1151..1155 "Both"
                            ARG_LIST@1155..1166
                              LParen@1155..1156 "("
                              ARG@1156..1159
                                EXPR_INT@1156..1157
                                  Int@1156..1157 "0"
                                Comma@1157..1158 ","
                                Whitespace@1158..1159 " "
                              ARG@1159..1165
                                EXPR_STR@1159..1165
                                  Str@1159..1165 "\"zero\""
                              RParen@1165..1166 ")"
                        RParen@1166..1167 ")"
                    RParen@1167..1168 ")"
                  Dot@1168..1169 "."
                  EXPR_IDENT@1169..1178
                    PATH@1169..1178
                      Ident@1169..1178 "to_string"
                ARG_LIST@1178..1180
                  LParen@1178..1179 "("
                  RParen@1179..1180 ")"
            RParen@1180..1181 ")"
        Semi@1181..1182 ";"
        Whitespace@1182..1187 "\n    "
      STMT_LET@1187..1258
        LetKeyword@1187..1190 "let"
        Whitespace@1190..1191 " "
        PATTERN_WILDCARD@1191..1193
          WildcardKeyword@1191..1192 "_"
          Whitespace@1192..1193 " "
        Eq@1193..1194 "="
        Whitespace@1194..1195 " "
        EXPR_CALL@1195..1252
          EXPR_IDENT@1195..1202
            PATH@1195..1202
              Ident@1195..1202 "println"
          ARG_LIST@1202..1252
            LParen@1202..1203 "("
            ARG@1203..1251
              EXPR_CALL@1203..1251
                EXPR_BINARY@1203..1249
                  EXPR_PAREN@1203..1239
                    LParen@1203..1204 "("
                    EXPR_CALL@1204..1238
                      EXPR_IDENT@1204..1220
                        PATH@1204..1220
                          Ident@1204..1220 "match_mixed_enum"
                      ARG_LIST@1220..1238
                        LParen@1220..1221 "("
                        ARG@1221..1237
                          EXPR_CALL@1221..1237
                            EXPR_IDENT@1221..1225
                              PATH@1221..1225
                                Ident@1221..1225 "Both"
                            ARG_LIST@1225..1237
                              LParen@1225..1226 "("
                              ARG@1226..1229
                                EXPR_INT@1226..1227
                                  Int@1226..1227 "0"
                                Comma@1227..1228 ","
                                Whitespace@1228..1229 " "
                              ARG@1229..1236
                                EXPR_STR@1229..1236
                                  Str@1229..1236 "\"hello\""
                              RParen@1236..1237 ")"
                        RParen@1237..1238 ")"
                    RParen@1238..1239 ")"
                  Dot@1239..1240 "."
                  EXPR_IDENT@1240..1249
                    PATH@1240..1249
                      Ident@1240..1249 "to_string"
                ARG_LIST@1249..1251
                  LParen@1249..1250 "("
                  RParen@1250..1251 ")"
            RParen@1251..1252 ")"
        Semi@1252..1253 ";"
        Whitespace@1253..1258 "\n    "
      STMT_LET@1258..1328
        LetKeyword@1258..1261 "let"
        Whitespace@1261..1262 " "
        PATTERN_WILDCARD@1262..1264
          WildcardKeyword@1262..1263 "_"
          Whitespace@1263..1264 " "
        Eq@1264..1265 "="
        Whitespace@1265..1266 " "
        EXPR_CALL@1266..1322
          EXPR_IDENT@1266..1273
            PATH@1266..1273
              Ident@1266..1273 "println"
          ARG_LIST@1273..1322
            LParen@1273..1274 "("
            ARG@1274..1321
              EXPR_CALL@1274..1321
                EXPR_BINARY@1274..1319
                  EXPR_PAREN@1274..1309
                    LParen@1274..1275 "("
                    EXPR_CALL@1275..1308
                      EXPR_IDENT@1275..1291
                        PATH@1275..1291
                          Ident@1275..1291 "match_mixed_enum"
                      ARG_LIST@1291..1308
                        LParen@1291..1292 "("
                        ARG@1292..1307
                          EXPR_CALL@1292..1307
                            EXPR_IDENT@1292..1296
                              PATH@1292..1296
                                Ident@1292..1296 "Both"
                            ARG_LIST@1296..1307
                              LParen@1296..1297 "("
                              ARG@1297..1300
                                EXPR_INT@1297..1298
                                  Int@1297..1298 "2"
                                Comma@1298..1299 ","
                                Whitespace@1299..1300 " "
                              ARG@1300..1306
                                EXPR_STR@1300..1306
                                  Str@1300..1306 "\"zero\""
                              RParen@1306..1307 ")"
                        RParen@1307..1308 ")"
                    RParen@1308..1309 ")"
                  Dot@1309..1310 "."
                  EXPR_IDENT@1310..1319
                    PATH@1310..1319
                      Ident@1310..1319 "to_string"
                ARG_LIST@1319..1321
                  LParen@1319..1320 "("
                  RParen@1320..1321 ")"
            RParen@1321..1322 ")"
        Semi@1322..1323 ";"
        Whitespace@1323..1328 "\n    "
      EXPR_CALL@1328..1386
        EXPR_IDENT@1328..1335
          PATH@1328..1335
            Ident@1328..1335 "println"
        ARG_LIST@1335..1386
          LParen@1335..1336 "("
          ARG@1336..1384
            EXPR_CALL@1336..1384
              EXPR_BINARY@1336..1382
                EXPR_PAREN@1336..1372
                  LParen@1336..1337 "("
                  EXPR_CALL@1337..1371
                    EXPR_IDENT@1337..1353
                      PATH@1337..1353
                        Ident@1337..1353 "match_mixed_enum"
                    ARG_LIST@1353..1371
                      LParen@1353..1354 "("
                      ARG@1354..1370
                        EXPR_CALL@1354..1370
                          EXPR_IDENT@1354..1358
                            PATH@1354..1358
                              Ident@1354..1358 "Both"
                          ARG_LIST@1358..1370
                            LParen@1358..1359 "("
                            ARG@1359..1362
                              EXPR_INT@1359..1360
                                Int@1359..1360 "3"
                              Comma@1360..1361 ","
                              Whitespace@1361..1362 " "
                            ARG@1362..1369
                              EXPR_STR@1362..1369
                                Str@1362..1369 "\"three\""
                            RParen@1369..1370 ")"
                      RParen@1370..1371 ")"
                  RParen@1371..1372 ")"
                Dot@1372..1373 "."
                EXPR_IDENT@1373..1382
                  PATH@1373..1382
                    Ident@1373..1382 "to_string"
              ARG_LIST@1382..1384
                LParen@1382..1383 "("
                RParen@1383..1384 ")"
          RParen@1384..1385 ")"
          Whitespace@1385..1386 "\n"
      RBrace@1386..1387 "}"
      Whitespace@1387..1388 "\n"