FILE@0..3016
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..12
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..12 "cmp"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..85
    ATTRIBUTE_LIST@15..48
      ATTRIBUTE@15..48
        Pound@15..16 "#"
        LBracket@16..17 "["
        Ident@17..23 "derive"
        LParen@23..24 "("
        Ident@24..33 "PartialEq"
        Comma@33..34 ","
        Whitespace@34..35 " "
        Ident@35..45 "PartialOrd"
        RParen@45..46 ")"
        RBracket@46..47 "]"
        Whitespace@47..48 "\n"
    StructKeyword@48..54 "struct"
    Whitespace@54..55 " "
    Ident@55..63 "FloatKey"
    Whitespace@63..64 " "
    LBrace@64..65 "{"
    Whitespace@65..70 "\n    "
    STRUCT_FIELD_LIST@70..85
      STRUCT_FIELD@70..80
        Ident@70..75 "value"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TYPE_FLOAT64@77..80
          F64Keyword@77..80 "f64"
      Comma@80..81 ","
      Whitespace@81..82 "\n"
      RBrace@82..83 "}"
      Whitespace@83..85 "\n\n"
  STRUCT@85..126
    StructKeyword@85..91 "struct"
    Whitespace@91..92 " "
    Ident@92..104 "CollisionKey"
    Whitespace@104..105 " "
    LBrace@105..106 "{"
    Whitespace@106..111 "\n    "
    STRUCT_FIELD_LIST@111..126
      STRUCT_FIELD@111..121
        Ident@111..116 "value"
        Colon@116..117 ":"
        Whitespace@117..118 " "
        TYPE_INT32@118..121
          I32Keyword@118..121 "i32"
      Comma@121..122 ","
      Whitespace@122..123 "\n"
      RBrace@123..124 "}"
      Whitespace@124..126 "\n\n"
  IMPL@126..264
    ImplKeyword@126..130 "impl"
    Whitespace@130..131 " "
    TYPE_TAPP@131..141
      PATH@131..141
        Ident@131..140 "PartialEq"
        Whitespace@140..141 " "
    ForKeyword@141..144 "for"
    Whitespace@144..145 " "
    TYPE_TAPP@145..158
      PATH@145..158
        Ident@145..157 "CollisionKey"
        Whitespace@157..158 " "
    LBrace@158..159 "{"
    Whitespace@159..164 "\n    "
    FN@164..261
      FnKeyword@164..166 "fn"
      Whitespace@166..167 " "
      Ident@167..169 "eq"
      PARAM_LIST@169..211
        LParen@169..170 "("
        PARAM@170..190
          Ident@170..174 "self"
          Colon@174..175 ":"
          Whitespace@175..176 " "
          TYPE_TAPP@176..188
            PATH@176..188
              Ident@176..188 "CollisionKey"
          Comma@188..189 ","
          Whitespace@189..190 " "
        PARAM@190..209
          Ident@190..195 "other"
          Colon@195..196 ":"
          Whitespace@196..197 " "
          TYPE_TAPP@197..209
            PATH@197..209
              Ident@197..209 "CollisionKey"
        RParen@209..210 ")"
        Whitespace@210..211 " "
      Arrow@211..213 "->"
      Whitespace@213..214 " "
      TYPE_BOOL@214..219
        BoolKeyword@214..218 "bool"
        Whitespace@218..219 " "
      BLOCK@219..261
        LBrace@219..220 "{"
        Whitespace@220..229 "\n        "
        EXPR_BINARY@229..259
          EXPR_BINARY@229..240
            EXPR_IDENT@229..233
              PATH@229..233
                Ident@229..233 "self"
            Dot@233..234 "."
            EXPR_IDENT@234..240
              PATH@234..240
                Ident@234..239 "value"
                Whitespace@239..240 " "
          EqEq@240..242 "=="
          Whitespace@242..243 " "
          EXPR_BINARY@243..259
            EXPR_IDENT@243..248
              PATH@243..248
                Ident@243..248 "other"
            Dot@248..249 "."
            EXPR_IDENT@249..259
              PATH@249..259
                Ident@249..254 "value"
                Whitespace@254..259 "\n    "
        RBrace@259..260 "}"
        Whitespace@260..261 "\n"
    RBrace@261..262 "}"
    Whitespace@262..264 "\n\n"
  IMPL@264..293
    ImplKeyword@264..268 "impl"
    Whitespace@268..269 " "
    TYPE_TAPP@269..272
      PATH@269..272
        Ident@269..271 "Eq"
        Whitespace@271..272 " "
    ForKeyword@272..275 "for"
    Whitespace@275..276 " "
    TYPE_TAPP@276..289
      PATH@276..289
        Ident@276..288 "CollisionKey"
        Whitespace@288..289 " "
    LBrace@289..290 "{"
    RBrace@290..291 "}"
    Whitespace@291..293 "\n\n"
  IMPL@293..382
    ImplKeyword@293..297 "impl"
    Whitespace@297..298 " "
    TYPE_TAPP@298..303
      PATH@298..303
        Ident@298..302 "Hash"
        Whitespace@302..303 " "
    ForKeyword@303..306 "for"
    Whitespace@306..307 " "
    TYPE_TAPP@307..320
      PATH@307..320
        Ident@307..319 "CollisionKey"
        Whitespace@319..320 " "
    LBrace@320..321 "{"
    Whitespace@321..326 "\n    "
    FN@326..379
      FnKeyword@326..328 "fn"
      Whitespace@328..329 " "
      Ident@329..333 "hash"
      PARAM_LIST@333..354
        LParen@333..334 "("
        PARAM@334..352
          Ident@334..338 "self"
          Colon@338..339 ":"
          Whitespace@339..340 " "
          TYPE_TAPP@340..352
            PATH@340..352
              Ident@340..352 "CollisionKey"
        RParen@352..353 ")"
        Whitespace@353..354 " "
      Arrow@354..356 "->"
      Whitespace@356..357 " "
      TYPE_UINT64@357..361
        U64Keyword@357..360 "u64"
        Whitespace@360..361 " "
      BLOCK@361..379
        LBrace@361..362 "{"
        Whitespace@362..371 "\n        "
        EXPR_INT@371..377
          Int@371..372 "1"
          Whitespace@372..377 "\n    "
        RBrace@377..378 "}"
        Whitespace@378..379 "\n"
    RBrace@379..380 "}"
    Whitespace@380..382 "\n\n"
  FN@382..548
    FnKeyword@382..384 "fn"
    Whitespace@384..385 " "
    Ident@385..401 "print_opt_string"
    PARAM_LIST@401..425
      LParen@401..402 "("
      PARAM@402..423
        Ident@402..407 "value"
        Colon@407..408 ":"
        Whitespace@408..409 " "
        TYPE_TAPP@409..423
          PATH@409..415
            Ident@409..415 "Option"
          TYPE_PARAM_LIST@415..423
            LBracket@415..416 "["
            TYPE_STRING@416..422
              StringKeyword@416..422 "string"
            RBracket@422..423 "]"
      RParen@423..424 ")"
      Whitespace@424..425 " "
    Arrow@425..427 "->"
    Whitespace@427..428 " "
    TYPE_UNIT@428..433
      UnitKeyword@428..432 "unit"
      Whitespace@432..433 " "
    BLOCK@433..548
      LBrace@433..434 "{"
      Whitespace@434..439 "\n    "
      EXPR_MATCH@439..545
        MatchKeyword@439..444 "match"
        Whitespace@444..445 " "
        EXPR_IDENT@445..451
          PATH@445..451
            Ident@445..450 "value"
            Whitespace@450..451 " "
        MATCH_ARM_LIST@451..545
          LBrace@451..452 "{"
          Whitespace@452..461 "\n        "
          MATCH_ARM@461..496
            PATTERN_CONSTR@461..480
              PATH@461..473
                Ident@461..467 "Option"
                ColonColon@467..469 "::"
                Ident@469..473 "Some"
              LParen@473..474 "("
              PATTERN_VARIABLE@474..478
                Ident@474..478 "text"
              RParen@478..479 ")"
              Whitespace@479..480 " "
            FatArrow@480..482 "=>"
            Whitespace@482..483 " "
            EXPR_CALL@483..496
              EXPR_IDENT@483..490
                PATH@483..490
                  Ident@483..490 "println"
              ARG_LIST@490..496
                LParen@490..491 "("
                ARG@491..495
                  EXPR_IDENT@491..495
                    PATH@491..495
                      Ident@491..495 "text"
                RParen@495..496 ")"
          Comma@496..497 ","
          Whitespace@497..506 "\n        "
          MATCH_ARM@506..537
            PATTERN_CONSTR@506..519
              PATH@506..519
                Ident@506..512 "Option"
                ColonColon@512..514 "::"
                Ident@514..518 "None"
                Whitespace@518..519 " "
            FatArrow@519..521 "=>"
            Whitespace@521..522 " "
            EXPR_CALL@522..537
              EXPR_IDENT@522..529
                PATH@522..529
                  Ident@522..529 "println"
              ARG_LIST@529..537
                LParen@529..530 "("
                ARG@530..536
                  EXPR_STR@530..536
                    Str@530..536 "\"none\""
                RParen@536..537 ")"
          Comma@537..538 ","
          Whitespace@538..543 "\n    "
          RBrace@543..544 "}"
          Whitespace@544..545 "\n"
      RBrace@545..546 "}"
      Whitespace@546..548 "\n\n"
  FN@548..712
    FnKeyword@548..550 "fn"
    Whitespace@550..551 " "
    Ident@551..564 "print_opt_int"
    PARAM_LIST@564..585
      LParen@564..565 "("
      PARAM@565..583
        Ident@565..570 "value"
        Colon@570..571 ":"
        Whitespace@571..572 " "
        TYPE_TAPP@572..583
          PATH@572..578
            Ident@572..578 "Option"
          TYPE_PARAM_LIST@578..583
            LBracket@578..579 "["
            TYPE_INT32@579..582
              I32Keyword@579..582 "i32"
            RBracket@582..583 "]"
      RParen@583..584 ")"
      Whitespace@584..585 " "
    Arrow@585..587 "->"
    Whitespace@587..588 " "
    TYPE_UNIT@588..593
      UnitKeyword@588..592 "unit"
      Whitespace@592..593 " "
    BLOCK@593..712
      LBrace@593..594 "{"
      Whitespace@594..599 "\n    "
      EXPR_MATCH@599..709
        MatchKeyword@599..604 "match"
        Whitespace@604..605 " "
        EXPR_IDENT@605..611
          PATH@605..611
            Ident@605..610 "value"
            Whitespace@610..611 " "
        MATCH_ARM_LIST@611..709
          LBrace@611..612 "{"
          Whitespace@612..621 "\n        "
          MATCH_ARM@621..660
            PATTERN_CONSTR@621..642
              PATH@621..633
                Ident@621..627 "Option"
                ColonColon@627..629 "::"
                Ident@629..633 "Some"
              LParen@633..634 "("
              PATTERN_VARIABLE@634..640
                Ident@634..640 "number"
              RParen@640..641 ")"
              Whitespace@641..642 " "
            FatArrow@642..644 "=>"
            Whitespace@644..645 " "
            EXPR_CALL@645..660
              EXPR_IDENT@645..652
                PATH@645..652
                  Ident@645..652 "println"
              ARG_LIST@652..660
                LParen@652..653 "("
                ARG@653..659
                  EXPR_IDENT@653..659
                    PATH@653..659
                      Ident@653..659 "number"
                RParen@659..660 ")"
          Comma@660..661 ","
          Whitespace@661..670 "\n        "
          MATCH_ARM@670..701
            PATTERN_CONSTR@670..683
              PATH@670..683
                Ident@670..676 "Option"
                ColonColon@676..678 "::"
                Ident@678..682 "None"
                Whitespace@682..683 " "
            FatArrow@683..685 "=>"
            Whitespace@685..686 " "
            EXPR_CALL@686..701
              EXPR_IDENT@686..693
                PATH@686..693
                  Ident@686..693 "println"
              ARG_LIST@693..701
                LParen@693..694 "("
                ARG@694..700
                  EXPR_STR@694..700
                    Str@694..700 "\"none\""
                RParen@700..701 ")"
          Comma@701..702 ","
          Whitespace@702..707 "\n    "
          RBrace@707..708 "}"
          Whitespace@708..709 "\n"
      RBrace@709..710 "}"
      Whitespace@710..712 "\n\n"
  FN@712..1228
    FnKeyword@712..714 "fn"
    Whitespace@714..715 " "
    Ident@715..741 "float_comparison_cont ..."
    PARAM_LIST@741..744
      LParen@741..742 "("
      RParen@742..743 ")"
      Whitespace@743..744 " "
    Arrow@744..746 "->"
    Whitespace@746..747 " "
    TYPE_UNIT@747..752
      UnitKeyword@747..751 "unit"
      Whitespace@751..752 " "
    BLOCK@752..1228
      LBrace@752..753 "{"
      Whitespace@753..758 "\n    "
      STMT_LET@758..785
        LetKeyword@758..761 "let"
        Whitespace@761..762 " "
        PATTERN_VARIABLE@762..768
          Ident@762..768 "zero32"
        Colon@768..769 ":"
        Whitespace@769..770 " "
        TYPE_FLOAT32@770..774
          F32Keyword@770..773 "f32"
          Whitespace@773..774 " "
        Eq@774..775 "="
        Whitespace@775..776 " "
        EXPR_FLOAT@776..779
          Float@776..779 "0.0"
        Semi@779..780 ";"
        Whitespace@780..785 "\n    "
      STMT_LET@785..820
        LetKeyword@785..788 "let"
        Whitespace@788..789 " "
        PATTERN_VARIABLE@789..805
          Ident@789..804 "negative_zero32"
          Whitespace@804..805 " "
        Eq@805..806 "="
        Whitespace@806..807 " "
        EXPR_PREFIX@807..814
          Minus@807..808 "-"
          EXPR_IDENT@808..814
            PATH@808..814
              Ident@808..814 "zero32"
        Semi@814..815 ";"
        Whitespace@815..820 "\n    "
      STMT_EXPR@820..874
        EXPR_CALL@820..868
          EXPR_IDENT@820..827
            PATH@820..827
              Ident@820..827 "println"
          ARG_LIST@827..868
            LParen@827..828 "("
            ARG@828..867
              EXPR_CALL@828..867
                EXPR_BINARY@828..865
                  EXPR_PAREN@828..855
                    LParen@828..829 "("
                    EXPR_BINARY@829..854
                      EXPR_IDENT@829..836
                        PATH@829..836
                          Ident@829..835 "zero32"
                          Whitespace@835..836 " "
                      EqEq@836..838 "=="
                      Whitespace@838..839 " "
                      EXPR_IDENT@839..854
                        PATH@839..854
                          Ident@839..854 "negative_zero32"
                    RParen@854..855 ")"
                  Dot@855..856 "."
                  EXPR_IDENT@856..865
                    PATH@856..865
                      Ident@856..865 "to_string"
                ARG_LIST@865..867
                  LParen@865..866 "("
                  RParen@866..867 ")"
            RParen@867..868 ")"
        Semi@868..869 ";"
        Whitespace@869..874 "\n    "
      STMT_LET@874..901
        LetKeyword@874..877 "let"
        Whitespace@877..878 " "
        PATTERN_VARIABLE@878..884
          Ident@878..884 "zero64"
        Colon@884..885 ":"
        Whitespace@885..886 " "
        TYPE_FLOAT64@886..890
          F64Keyword@886..889 "f64"
          Whitespace@889..890 " "
        Eq@890..891 "="
        Whitespace@891..892 " "
        EXPR_FLOAT@892..895
          Float@892..895 "0.0"
        Semi@895..896 ";"
        Whitespace@896..901 "\n    "
      STMT_LET@901..936
        LetKeyword@901..904 "let"
        Whitespace@904..905 " "
        PATTERN_VARIABLE@905..921
          Ident@905..920 "negative_zero64"
          Whitespace@920..921 " "
        Eq@921..922 "="
        Whitespace@922..923 " "
        EXPR_PREFIX@923..930
          Minus@923..924 "-"
          EXPR_IDENT@924..930
            PATH@924..930
              Ident@924..930 "zero64"
        Semi@930..931 ";"
        Whitespace@931..936 "\n    "
      STMT_EXPR@936..990
        EXPR_CALL@936..984
          EXPR_IDENT@936..943
            PATH@936..943
              Ident@936..943 "println"
          ARG_LIST@943..984
            LParen@943..944 "("
            ARG@944..983
              EXPR_CALL@944..983
                EXPR_BINARY@944..981
                  EXPR_PAREN@944..971
                    LParen@944..945 "("
                    EXPR_BINARY@945..970
                      EXPR_IDENT@945..952
                        PATH@945..952
                          Ident@945..951 "zero64"
                          Whitespace@951..952 " "
                      EqEq@952..954 "=="
                      Whitespace@954..955 " "
                      EXPR_IDENT@955..970
                        PATH@955..970
                          Ident@955..970 "negative_zero64"
                    RParen@970..971 ")"
                  Dot@971..972 "."
                  EXPR_IDENT@972..981
                    PATH@972..981
                      Ident@972..981 "to_string"
                ARG_LIST@981..983
                  LParen@981..982 "("
                  RParen@982..983 ")"
            RParen@983..984 ")"
        Semi@984..985 ";"
        Whitespace@985..990 "\n    "
      STMT_EXPR@990..1084
        EXPR_CALL@990..1078
          EXPR_IDENT@990..997
            PATH@990..997
              Ident@990..997 "println"
          ARG_LIST@997..1078
            LParen@997..998 "("
            ARG@998..1077
              EXPR_CALL@998..1077
                EXPR_BINARY@998..1075
                  EXPR_PAREN@998..1065
                    LParen@998..999 "("
                    EXPR_BINARY@999..1064
                      EXPR_STRUCT_LITERAL@999..1026
                        PATH@999..1008
                          Ident@999..1007 "FloatKey"
                          Whitespace@1007..1008 " "
                        STRUCT_LITERAL_FIELD_LIST@1008..1026
                          LBrace@1008..1009 "{"
                          Whitespace@1009..1010 " "
                          STRUCT_LITERAL_FIELD@1010..1024
                            Ident@1010..1015 "value"
                            Colon@1015..1016 ":"
                            Whitespace@1016..1017 " "
                            EXPR_IDENT@1017..1024
                              PATH@1017..1024
                                Ident@1017..1023 "zero64"
                                Whitespace@1023..1024 " "
                          RBrace@1024..1025 "}"
                          Whitespace@1025..1026 " "
                      EqEq@1026..1028 "=="
                      Whitespace@1028..1029 " "
                      EXPR_STRUCT_LITERAL@1029..1064
                        PATH@1029..1038
                          Ident@1029..1037 "FloatKey"
                          Whitespace@1037..1038 " "
                        STRUCT_LITERAL_FIELD_LIST@1038..1064
                          LBrace@1038..1039 "{"
                          Whitespace@1039..1040 " "
                          STRUCT_LITERAL_FIELD@1040..1063
                            Ident@1040..1045 "value"
                            Colon@1045..1046 ":"
                            Whitespace@1046..1047 " "
                            EXPR_IDENT@1047..1063
                              PATH@1047..1063
                                Ident@1047..1062 "negative_zero64"
                                Whitespace@1062..1063 " "
                          RBrace@1063..1064 "}"
                    RParen@1064..1065 ")"
                  Dot@1065..1066 "."
                  EXPR_IDENT@1066..1075
                    PATH@1066..1075
                      Ident@1066..1075 "to_string"
                ARG_LIST@1075..1077
                  LParen@1075..1076 "("
                  RParen@1076..1077 ")"
            RParen@1077..1078 ")"
        Semi@1078..1079 ";"
        Whitespace@1079..1084 "\n    "
      STMT_LET@1084..1115
        LetKeyword@1084..1087 "let"
        Whitespace@1087..1088 " "
        PATTERN_VARIABLE@1088..1092
          Ident@1088..1091 "nan"
          Whitespace@1091..1092 " "
        Eq@1092..1093 "="
        Whitespace@1093..1094 " "
        EXPR_BINARY@1094..1109
          EXPR_IDENT@1094..1101
            PATH@1094..1101
              Ident@1094..1100 "zero64"
              Whitespace@1100..1101 " "
          Slash@1101..1102 "/"
          Whitespace@1102..1103 " "
          EXPR_IDENT@1103..1109
            PATH@1103..1109
              Ident@1103..1109 "zero64"
        Semi@1109..1110 ";"
        Whitespace@1110..1115 "\n    "
      STMT_EXPR@1115..1154
        EXPR_CALL@1115..1148
          EXPR_IDENT@1115..1122
            PATH@1115..1122
              Ident@1115..1122 "println"
          ARG_LIST@1122..1148
            LParen@1122..1123 "("
            ARG@1123..1147
              EXPR_CALL@1123..1147
                EXPR_BINARY@1123..1145
                  EXPR_PAREN@1123..1135
                    LParen@1123..1124 "("
                    EXPR_BINARY@1124..1134
                      EXPR_IDENT@1124..1128
                        PATH@1124..1128
                          Ident@1124..1127 "nan"
                          Whitespace@1127..1128 " "
                      EqEq@1128..1130 "=="
                      Whitespace@1130..1131 " "
                      EXPR_IDENT@1131..1134
                        PATH@1131..1134
                          Ident@1131..1134 "nan"
                    RParen@1134..1135 ")"
                  Dot@1135..1136 "."
                  EXPR_IDENT@1136..1145
                    PATH@1136..1145
                      Ident@1136..1145 "to_string"
                ARG_LIST@1145..1147
                  LParen@1145..1146 "("
                  RParen@1146..1147 ")"
            RParen@1147..1148 ")"
        Semi@1148..1149 ";"
        Whitespace@1149..1154 "\n    "
      STMT_EXPR@1154..1225
        EXPR_CALL@1154..1223
          EXPR_IDENT@1154..1161
            PATH@1154..1161
              Ident@1154..1161 "println"
          ARG_LIST@1161..1223
            LParen@1161..1162 "("
            ARG@1162..1222
              EXPR_CALL@1162..1222
                EXPR_BINARY@1162..1220
                  EXPR_CALL@1162..1210
                    EXPR_BINARY@1162..1208
                      EXPR_CALL@1162..1200
                        EXPR_IDENT@1162..1190
                          PATH@1162..1190
                            Ident@1162..1165 "cmp"
                            ColonColon@1165..1167 "::"
                            Ident@1167..1177 "PartialOrd"
                            ColonColon@1177..1179 "::"
                            Ident@1179..1190 "partial_cmp"
                        ARG_LIST@1190..1200
                          LParen@1190..1191 "("
                          ARG@1191..1196
                            EXPR_IDENT@1191..1194
                              PATH@1191..1194
                                Ident@1191..1194 "nan"
                            Comma@1194..1195 ","
                            Whitespace@1195..1196 " "
                          ARG@1196..1199
                            EXPR_IDENT@1196..1199
                              PATH@1196..1199
                                Ident@1196..1199 "nan"
                          RParen@1199..1200 ")"
                      Dot@1200..1201 "."
                      EXPR_IDENT@1201..1208
                        PATH@1201..1208
                          Ident@1201..1208 "is_none"
                    ARG_LIST@1208..1210
                      LParen@1208..1209 "("
                      RParen@1209..1210 ")"
                  Dot@1210..1211 "."
                  EXPR_IDENT@1211..1220
                    PATH@1211..1220
                      Ident@1211..1220 "to_string"
                ARG_LIST@1220..1222
                  LParen@1220..1221 "("
                  RParen@1221..1222 ")"
            RParen@1222..1223 ")"
        Semi@1223..1224 ";"
        Whitespace@1224..1225 "\n"
      RBrace@1225..1226 "}"
      Whitespace@1226..1228 "\n\n"
  FN@1228..2330
    FnKeyword@1228..1230 "fn"
    Whitespace@1230..1231 " "
    Ident@1231..1250 "collision_contracts"
    PARAM_LIST@1250..1253
      LParen@1250..1251 "("
      RParen@1251..1252 ")"
      Whitespace@1252..1253 " "
    Arrow@1253..1255 "->"
    Whitespace@1255..1256 " "
    TYPE_UNIT@1256..1261
      UnitKeyword@1256..1260 "unit"
      Whitespace@1260..1261 " "
    BLOCK@1261..2330
      LBrace@1261..1262 "{"
      Whitespace@1262..1267 "\n    "
      STMT_LET@1267..1328
        LetKeyword@1267..1270 "let"
        Whitespace@1270..1271 " "
        PATTERN_VARIABLE@1271..1277
          Ident@1271..1277 "values"
        Colon@1277..1278 ":"
        Whitespace@1278..1279 " "
        TYPE_TAPP@1279..1306
          PATH@1279..1286
            Ident@1279..1286 "HashMap"
          TYPE_PARAM_LIST@1286..1306
            LBracket@1286..1287 "["
            TYPE_TAPP@1287..1299
              PATH@1287..1299
                Ident@1287..1299 "CollisionKey"
            Comma@1299..1300 ","
            Whitespace@1300..1301 " "
            TYPE_INT32@1301..1304
              I32Keyword@1301..1304 "i32"
            RBracket@1304..1305 "]"
            Whitespace@1305..1306 " "
        Eq@1306..1307 "="
        Whitespace@1307..1308 " "
        EXPR_CALL@1308..1322
          EXPR_IDENT@1308..1320
            PATH@1308..1320
              Ident@1308..1315 "HashMap"
              ColonColon@1315..1317 "::"
              Ident@1317..1320 "new"
          ARG_LIST@1320..1322
            LParen@1320..1321 "("
            RParen@1321..1322 ")"
        Semi@1322..1323 ";"
        Whitespace@1323..1328 "\n    "
      STMT_EXPR@1328..1375
        EXPR_CALL@1328..1369
          EXPR_BINARY@1328..1338
            EXPR_IDENT@1328..1334
              PATH@1328..1334
                Ident@1328..1334 "values"
            Dot@1334..1335 "."
            EXPR_IDENT@1335..1338
              PATH@1335..1338
                Ident@1335..1338 "set"
          ARG_LIST@1338..1369
            LParen@1338..1339 "("
            ARG@1339..1366
              EXPR_STRUCT_LITERAL@1339..1364
                PATH@1339..1352
                  Ident@1339..1351 "CollisionKey"
                  Whitespace@1351..1352 " "
                STRUCT_LITERAL_FIELD_LIST@1352..1364
                  LBrace@1352..1353 "{"
                  Whitespace@1353..1354 " "
                  STRUCT_LITERAL_FIELD@1354..1363
                    Ident@1354..1359 "value"
                    Colon@1359..1360 ":"
                    Whitespace@1360..1361 " "
                    EXPR_INT@1361..1363
                      Int@1361..1362 "1"
                      Whitespace@1362..1363 " "
                  RBrace@1363..1364 "}"
              Comma@1364..1365 ","
              Whitespace@1365..1366 " "
            ARG@1366..1368
              EXPR_INT@1366..1368
                Int@1366..1368 "10"
            RParen@1368..1369 ")"
        Semi@1369..1370 ";"
        Whitespace@1370..1375 "\n    "
      STMT_EXPR@1375..1422
        EXPR_CALL@1375..1416
          EXPR_BINARY@1375..1385
            EXPR_IDENT@1375..1381
              PATH@1375..1381
                Ident@1375..1381 "values"
            Dot@1381..1382 "."
            EXPR_IDENT@1382..1385
              PATH@1382..1385
                Ident@1382..1385 "set"
          ARG_LIST@1385..1416
            LParen@1385..1386 "("
            ARG@1386..1413
              EXPR_STRUCT_LITERAL@1386..1411
                PATH@1386..1399
                  Ident@1386..1398 "CollisionKey"
                  Whitespace@1398..1399 " "
                STRUCT_LITERAL_FIELD_LIST@1399..1411
                  LBrace@1399..1400 "{"
                  Whitespace@1400..1401 " "
                  STRUCT_LITERAL_FIELD@1401..1410
                    Ident@1401..1406 "value"
                    Colon@1406..1407 ":"
                    Whitespace@1407..1408 " "
                    EXPR_INT@1408..1410
                      Int@1408..1409 "2"
                      Whitespace@1409..1410 " "
                  RBrace@1410..1411 "}"
              Comma@1411..1412 ","
              Whitespace@1412..1413 " "
            ARG@1413..1415
              EXPR_INT@1413..1415
                Int@1413..1415 "20"
            RParen@1415..1416 ")"
        Semi@1416..1417 ";"
        Whitespace@1417..1422 "\n    "
      STMT_EXPR@1422..1469
        EXPR_CALL@1422..1463
          EXPR_BINARY@1422..1432
            EXPR_IDENT@1422..1428
              PATH@1422..1428
                Ident@1422..1428 "values"
            Dot@1428..1429 "."
            EXPR_IDENT@1429..1432
              PATH@1429..1432
                Ident@1429..1432 "set"
          ARG_LIST@1432..1463
            LParen@1432..1433 "("
            ARG@1433..1460
              EXPR_STRUCT_LITERAL@1433..1458
                PATH@1433..1446
                  Ident@1433..1445 "CollisionKey"
                  Whitespace@1445..1446 " "
                STRUCT_LITERAL_FIELD_LIST@1446..1458
                  LBrace@1446..1447 "{"
                  Whitespace@1447..1448 " "
                  STRUCT_LITERAL_FIELD@1448..1457
                    Ident@1448..1453 "value"
                    Colon@1453..1454 ":"
                    Whitespace@1454..1455 " "
                    EXPR_INT@1455..1457
                      Int@1455..1456 "3"
                      Whitespace@1456..1457 " "
                  RBrace@1457..1458 "}"
              Comma@1458..1459 ","
              Whitespace@1459..1460 " "
            ARG@1460..1462
              EXPR_INT@1460..1462
                Int@1460..1462 "30"
            RParen@1462..1463 ")"
        Semi@1463..1464 ";"
        Whitespace@1464..1469 "\n    "
      STMT_EXPR@1469..1515
        EXPR_CALL@1469..1509
          EXPR_BINARY@1469..1482
            EXPR_IDENT@1469..1475
              PATH@1469..1475
                Ident@1469..1475 "values"
            Dot@1475..1476 "."
            EXPR_IDENT@1476..1482
              PATH@1476..1482
                Ident@1476..1482 "remove"
          ARG_LIST@1482..1509
            LParen@1482..1483 "("
            ARG@1483..1508
              EXPR_STRUCT_LITERAL@1483..1508
                PATH@1483..1496
                  Ident@1483..1495 "CollisionKey"
                  Whitespace@1495..1496 " "
                STRUCT_LITERAL_FIELD_LIST@1496..1508
                  LBrace@1496..1497 "{"
                  Whitespace@1497..1498 " "
                  STRUCT_LITERAL_FIELD@1498..1507
                    Ident@1498..1503 "value"
                    Colon@1503..1504 ":"
                    Whitespace@1504..1505 " "
                    EXPR_INT@1505..1507
                      Int@1505..1506 "2"
                      Whitespace@1506..1507 " "
                  RBrace@1507..1508 "}"
            RParen@1508..1509 ")"
        Semi@1509..1510 ";"
        Whitespace@1510..1515 "\n    "
      STMT_EXPR@1515..1573
        EXPR_CALL@1515..1567
          EXPR_IDENT@1515..1528
            PATH@1515..1528
              Ident@1515..1528 "print_opt_int"
          ARG_LIST@1528..1567
            LParen@1528..1529 "("
            ARG@1529..1566
              EXPR_CALL@1529..1566
                EXPR_BINARY@1529..1539
                  EXPR_IDENT@1529..1535
                    PATH@1529..1535
                      Ident@1529..1535 "values"
                  Dot@1535..1536 "."
                  EXPR_IDENT@1536..1539
                    PATH@1536..1539
                      Ident@1536..1539 "get"
                ARG_LIST@1539..1566
                  LParen@1539..1540 "("
                  ARG@1540..1565
                    EXPR_STRUCT_LITERAL@1540..1565
                      PATH@1540..1553
                        Ident@1540..1552 "CollisionKey"
                        Whitespace@1552..1553 " "
                      STRUCT_LITERAL_FIELD_LIST@1553..1565
                        LBrace@1553..1554 "{"
                        Whitespace@1554..1555 " "
                        STRUCT_LITERAL_FIELD@1555..1564
                          Ident@1555..1560 "value"
                          Colon@1560..1561 ":"
                          Whitespace@1561..1562 " "
                          EXPR_INT@1562..1564
                            Int@1562..1563 "1"
                            Whitespace@1563..1564 " "
                        RBrace@1564..1565 "}"
                  RParen@1565..1566 ")"
            RParen@1566..1567 ")"
        Semi@1567..1568 ";"
        Whitespace@1568..1573 "\n    "
      STMT_EXPR@1573..1631
        EXPR_CALL@1573..1625
          EXPR_IDENT@1573..1586
            PATH@1573..1586
              Ident@1573..1586 "print_opt_int"
          ARG_LIST@1586..1625
            LParen@1586..1587 "("
            ARG@1587..1624
              EXPR_CALL@1587..1624
                EXPR_BINARY@1587..1597
                  EXPR_IDENT@1587..1593
                    PATH@1587..1593
                      Ident@1587..1593 "values"
                  Dot@1593..1594 "."
                  EXPR_IDENT@1594..1597
                    PATH@1594..1597
                      Ident@1594..1597 "get"
                ARG_LIST@1597..1624
                  LParen@1597..1598 "("
                  ARG@1598..1623
                    EXPR_STRUCT_LITERAL@1598..1623
                      PATH@1598..1611
                        Ident@1598..1610 "CollisionKey"
                        Whitespace@1610..1611 " "
                      STRUCT_LITERAL_FIELD_LIST@1611..1623
                        LBrace@1611..1612 "{"
                        Whitespace@1612..1613 " "
                        STRUCT_LITERAL_FIELD@1613..1622
                          Ident@1613..1618 "value"
                          Colon@1618..1619 ":"
                          Whitespace@1619..1620 " "
                          EXPR_INT@1620..1622
                            Int@1620..1621 "2"
                            Whitespace@1621..1622 " "
                        RBrace@1622..1623 "}"
                  RParen@1623..1624 ")"
            RParen@1624..1625 ")"
        Semi@1625..1626 ";"
        Whitespace@1626..1631 "\n    "
      STMT_EXPR@1631..1689
        EXPR_CALL@1631..1683
          EXPR_IDENT@1631..1644
            PATH@1631..1644
              Ident@1631..1644 "print_opt_int"
          ARG_LIST@1644..1683
            LParen@1644..1645 "("
            ARG@1645..1682
              EXPR_CALL@1645..1682
                EXPR_BINARY@1645..1655
                  EXPR_IDENT@1645..1651
                    PATH@1645..1651
                      Ident@1645..1651 "values"
                  Dot@1651..1652 "."
                  EXPR_IDENT@1652..1655
                    PATH@1652..1655
                      Ident@1652..1655 "get"
                ARG_LIST@1655..1682
                  LParen@1655..1656 "("
                  ARG@1656..1681
                    EXPR_STRUCT_LITERAL@1656..1681
                      PATH@1656..1669
                        Ident@1656..1668 "CollisionKey"
                        Whitespace@1668..1669 " "
                      STRUCT_LITERAL_FIELD_LIST@1669..1681
                        LBrace@1669..1670 "{"
                        Whitespace@1670..1671 " "
                        STRUCT_LITERAL_FIELD@1671..1680
                          Ident@1671..1676 "value"
                          Colon@1676..1677 ":"
                          Whitespace@1677..1678 " "
                          EXPR_INT@1678..1680
                            Int@1678..1679 "3"
                            Whitespace@1679..1680 " "
                        RBrace@1680..1681 "}"
                  RParen@1681..1682 ")"
            RParen@1682..1683 ")"
        Semi@1683..1684 ";"
        Whitespace@1684..1689 "\n    "
      STMT_EXPR@1689..1736
        EXPR_CALL@1689..1730
          EXPR_BINARY@1689..1699
            EXPR_IDENT@1689..1695
              PATH@1689..1695
                Ident@1689..1695 "values"
            Dot@1695..1696 "."
            EXPR_IDENT@1696..1699
              PATH@1696..1699
                Ident@1696..1699 "set"
          ARG_LIST@1699..1730
            LParen@1699..1700 "("
            ARG@1700..1727
              EXPR_STRUCT_LITERAL@1700..1725
                PATH@1700..1713
                  Ident@1700..1712 "CollisionKey"
                  Whitespace@1712..1713 " "
                STRUCT_LITERAL_FIELD_LIST@1713..1725
                  LBrace@1713..1714 "{"
                  Whitespace@1714..1715 " "
                  STRUCT_LITERAL_FIELD@1715..1724
                    Ident@1715..1720 "value"
                    Colon@1720..1721 ":"
                    Whitespace@1721..1722 " "
                    EXPR_INT@1722..1724
                      Int@1722..1723 "4"
                      Whitespace@1723..1724 " "
                  RBrace@1724..1725 "}"
              Comma@1725..1726 ","
              Whitespace@1726..1727 " "
            ARG@1727..1729
              EXPR_INT@1727..1729
                Int@1727..1729 "40"
            RParen@1729..1730 ")"
        Semi@1730..1731 ";"
        Whitespace@1731..1736 "\n    "
      STMT_EXPR@1736..1763
        EXPR_CALL@1736..1757
          EXPR_IDENT@1736..1743
            PATH@1736..1743
              Ident@1736..1743 "println"
          ARG_LIST@1743..1757
            LParen@1743..1744 "("
            ARG@1744..1756
              EXPR_CALL@1744..1756
                EXPR_BINARY@1744..1754
                  EXPR_IDENT@1744..1750
                    PATH@1744..1750
                      Ident@1744..1750 "values"
                  Dot@1750..1751 "."
                  EXPR_IDENT@1751..1754
                    PATH@1751..1754
                      Ident@1751..1754 "len"
                ARG_LIST@1754..1756
                  LParen@1754..1755 "("
                  RParen@1755..1756 ")"
            RParen@1756..1757 ")"
        Semi@1757..1758 ";"
        Whitespace@1758..1763 "\n    "
      STMT_EXPR@1763..1821
        EXPR_CALL@1763..1815
          EXPR_IDENT@1763..1776
            PATH@1763..1776
              Ident@1763..1776 "print_opt_int"
          ARG_LIST@1776..1815
            LParen@1776..1777 "("
            ARG@1777..1814
              EXPR_CALL@1777..1814
                EXPR_BINARY@1777..1787
                  EXPR_IDENT@1777..1783
                    PATH@1777..1783
                      Ident@1777..1783 "values"
                  Dot@1783..1784 "."
                  EXPR_IDENT@1784..1787
                    PATH@1784..1787
                      Ident@1784..1787 "get"
                ARG_LIST@1787..1814
                  LParen@1787..1788 "("
                  ARG@1788..1813
                    EXPR_STRUCT_LITERAL@1788..1813
                      PATH@1788..1801
                        Ident@1788..1800 "CollisionKey"
                        Whitespace@1800..1801 " "
                      STRUCT_LITERAL_FIELD_LIST@1801..1813
                        LBrace@1801..1802 "{"
                        Whitespace@1802..1803 " "
                        STRUCT_LITERAL_FIELD@1803..1812
                          Ident@1803..1808 "value"
                          Colon@1808..1809 ":"
                          Whitespace@1809..1810 " "
                          EXPR_INT@1810..1812
                            Int@1810..1811 "4"
                            Whitespace@1811..1812 " "
                        RBrace@1812..1813 "}"
                  RParen@1813..1814 ")"
            RParen@1814..1815 ")"
        Semi@1815..1816 ";"
        Whitespace@1816..1821 "\n    "
      STMT_EXPR@1821..1868
        EXPR_CALL@1821..1862
          EXPR_BINARY@1821..1831
            EXPR_IDENT@1821..1827
              PATH@1821..1827
                Ident@1821..1827 "values"
            Dot@1827..1828 "."
            EXPR_IDENT@1828..1831
              PATH@1828..1831
                Ident@1828..1831 "set"
          ARG_LIST@1831..1862
            LParen@1831..1832 "("
            ARG@1832..1859
              EXPR_STRUCT_LITERAL@1832..1857
                PATH@1832..1845
                  Ident@1832..1844 "CollisionKey"
                  Whitespace@1844..1845 " "
                STRUCT_LITERAL_FIELD_LIST@1845..1857
                  LBrace@1845..1846 "{"
                  Whitespace@1846..1847 " "
                  STRUCT_LITERAL_FIELD@1847..1856
                    Ident@1847..1852 "value"
                    Colon@1852..1853 ":"
                    Whitespace@1853..1854 " "
                    EXPR_INT@1854..1856
                      Int@1854..1855 "4"
                      Whitespace@1855..1856 " "
                  RBrace@1856..1857 "}"
              Comma@1857..1858 ","
              Whitespace@1858..1859 " "
            ARG@1859..1861
              EXPR_INT@1859..1861
                Int@1859..1861 "41"
            RParen@1861..1862 ")"
        Semi@1862..1863 ";"
        Whitespace@1863..1868 "\n    "
      STMT_EXPR@1868..1895
        EXPR_CALL@1868..1889
          EXPR_IDENT@1868..1875
            PATH@1868..1875
              Ident@1868..1875 "println"
          ARG_LIST@1875..1889
            LParen@1875..1876 "("
            ARG@1876..1888
              EXPR_CALL@1876..1888
                EXPR_BINARY@1876..1886
                  EXPR_IDENT@1876..1882
                    PATH@1876..1882
                      Ident@1876..1882 "values"
                  Dot@1882..1883 "."
                  EXPR_IDENT@1883..1886
                    PATH@1883..1886
                      Ident@1883..1886 "len"
                ARG_LIST@1886..1888
                  LParen@1886..1887 "("
                  RParen@1887..1888 ")"
            RParen@1888..1889 ")"
        Semi@1889..1890 ";"
        Whitespace@1890..1895 "\n    "
      STMT_EXPR@1895..1953
        EXPR_CALL@1895..1947
          EXPR_IDENT@1895..1908
            PATH@1895..1908
              Ident@1895..1908 "print_opt_int"
          ARG_LIST@1908..1947
            LParen@1908..1909 "("
            ARG@1909..1946
              EXPR_CALL@1909..1946
                EXPR_BINARY@1909..1919
                  EXPR_IDENT@1909..1915
                    PATH@1909..1915
                      Ident@1909..1915 "values"
                  Dot@1915..1916 "."
                  EXPR_IDENT@1916..1919
                    PATH@1916..1919
                      Ident@1916..1919 "get"
                ARG_LIST@1919..1946
                  LParen@1919..1920 "("
                  ARG@1920..1945
                    EXPR_STRUCT_LITERAL@1920..1945
                      PATH@1920..1933
                        Ident@1920..1932 "CollisionKey"
                        Whitespace@1932..1933 " "
                      STRUCT_LITERAL_FIELD_LIST@1933..1945
                        LBrace@1933..1934 "{"
                        Whitespace@1934..1935 " "
                        STRUCT_LITERAL_FIELD@1935..1944
                          Ident@1935..1940 "value"
                          Colon@1940..1941 ":"
                          Whitespace@1941..1942 " "
                          EXPR_INT@1942..1944
                            Int@1942..1943 "4"
                            Whitespace@1943..1944 " "
                        RBrace@1944..1945 "}"
                  RParen@1945..1946 ")"
            RParen@1946..1947 ")"
        Semi@1947..1948 ";"
        Whitespace@1948..1953 "\n    "
      STMT_EXPR@1953..2000
        EXPR_CALL@1953..1994
          EXPR_BINARY@1953..1966
            EXPR_IDENT@1953..1959
              PATH@1953..1959
                Ident@1953..1959 "values"
            Dot@1959..1960 "."
            EXPR_IDENT@1960..1966
              PATH@1960..1966
                Ident@1960..1966 "remove"
          ARG_LIST@1966..1994
            LParen@1966..1967 "("
            ARG@1967..1993
              EXPR_STRUCT_LITERAL@1967..1993
                PATH@1967..1980
                  Ident@1967..1979 "CollisionKey"
                  Whitespace@1979..1980 " "
                STRUCT_LITERAL_FIELD_LIST@1980..1993
                  LBrace@1980..1981 "{"
                  Whitespace@1981..1982 " "
                  STRUCT_LITERAL_FIELD@1982..1992
                    Ident@1982..1987 "value"
                    Colon@1987..1988 ":"
                    Whitespace@1988..1989 " "
                    EXPR_INT@1989..1992
                      Int@1989..1991 "99"
                      Whitespace@1991..1992 " "
                  RBrace@1992..1993 "}"
            RParen@1993..1994 ")"
        Semi@1994..1995 ";"
        Whitespace@1995..2000 "\n    "
      STMT_EXPR@2000..2047
        EXPR_CALL@2000..2041
          EXPR_BINARY@2000..2013
            EXPR_IDENT@2000..2006
              PATH@2000..2006
                Ident@2000..2006 "values"
            Dot@2006..2007 "."
            EXPR_IDENT@2007..2013
              PATH@2007..2013
                Ident@2007..2013 "remove"
          ARG_LIST@2013..2041
            LParen@2013..2014 "("
            ARG@2014..2040
              EXPR_STRUCT_LITERAL@2014..2040
                PATH@2014..2027
                  Ident@2014..2026 "CollisionKey"
                  Whitespace@2026..2027 " "
                STRUCT_LITERAL_FIELD_LIST@2027..2040
                  LBrace@2027..2028 "{"
                  Whitespace@2028..2029 " "
                  STRUCT_LITERAL_FIELD@2029..2039
                    Ident@2029..2034 "value"
                    Colon@2034..2035 ":"
                    Whitespace@2035..2036 " "
                    EXPR_INT@2036..2039
                      Int@2036..2038 "99"
                      Whitespace@2038..2039 " "
                  RBrace@2039..2040 "}"
            RParen@2040..2041 ")"
        Semi@2041..2042 ";"
        Whitespace@2042..2047 "\n    "
      STMT_EXPR@2047..2074
        EXPR_CALL@2047..2068
          EXPR_IDENT@2047..2054
            PATH@2047..2054
              Ident@2047..2054 "println"
          ARG_LIST@2054..2068
            LParen@2054..2055 "("
            ARG@2055..2067
              EXPR_CALL@2055..2067
                EXPR_BINARY@2055..2065
                  EXPR_IDENT@2055..2061
                    PATH@2055..2061
                      Ident@2055..2061 "values"
                  Dot@2061..2062 "."
                  EXPR_IDENT@2062..2065
                    PATH@2062..2065
                      Ident@2062..2065 "len"
                ARG_LIST@2065..2067
                  LParen@2065..2066 "("
                  RParen@2066..2067 ")"
            RParen@2067..2068 ")"
        Semi@2068..2069 ";"
        Whitespace@2069..2074 "\n    "
      STMT_LET@2074..2103
        LetKeyword@2074..2077 "let"
        Whitespace@2077..2078 " "
        PATTERN_VARIABLE@2078..2084
          Ident@2078..2083 "index"
          Whitespace@2083..2084 " "
        Eq@2084..2085 "="
        Whitespace@2085..2086 " "
        EXPR_CALL@2086..2097
          EXPR_IDENT@2086..2094
            PATH@2086..2094
              Ident@2086..2089 "Ref"
              ColonColon@2089..2091 "::"
              Ident@2091..2094 "new"
          ARG_LIST@2094..2097
            LParen@2094..2095 "("
            ARG@2095..2096
              EXPR_INT@2095..2096
                Int@2095..2096 "0"
            RParen@2096..2097 ")"
        Semi@2097..2098 ";"
        Whitespace@2098..2103 "\n    "
      STMT_EXPR@2103..2304
        EXPR_WHILE@2103..2304
          WhileKeyword@2103..2108 "while"
          Whitespace@2108..2109 " "
          EXPR_WHILE_COND@2109..2128
            EXPR_BINARY@2109..2128
              EXPR_CALL@2109..2121
                EXPR_BINARY@2109..2118
                  EXPR_IDENT@2109..2114
                    PATH@2109..2114
                      Ident@2109..2114 "index"
                  Dot@2114..2115 "."
                  EXPR_IDENT@2115..2118
                    PATH@2115..2118
                      Ident@2115..2118 "get"
                ARG_LIST@2118..2121
                  LParen@2118..2119 "("
                  RParen@2119..2120 ")"
                  Whitespace@2120..2121 " "
              Less@2121..2122 "<"
              Whitespace@2122..2123 " "
              EXPR_INT@2123..2128
                Int@2123..2127 "2000"
                Whitespace@2127..2128 " "
          EXPR_WHILE_BODY@2128..2304
            BLOCK@2128..2304
              LBrace@2128..2129 "{"
              Whitespace@2129..2138 "\n        "
              STMT_LET@2138..2200
                LetKeyword@2138..2141 "let"
                Whitespace@2141..2142 " "
                PATTERN_VARIABLE@2142..2146
                  Ident@2142..2145 "key"
                  Whitespace@2145..2146 " "
                Eq@2146..2147 "="
                Whitespace@2147..2148 " "
                EXPR_STRUCT_LITERAL@2148..2190
                  PATH@2148..2161
                    Ident@2148..2160 "CollisionKey"
                    Whitespace@2160..2161 " "
                  STRUCT_LITERAL_FIELD_LIST@2161..2190
                    LBrace@2161..2162 "{"
                    Whitespace@2162..2163 " "
                    STRUCT_LITERAL_FIELD@2163..2189
                      Ident@2163..2168 "value"
                      Colon@2168..2169 ":"
                      Whitespace@2169..2170 " "
                      EXPR_BINARY@2170..2189
                        EXPR_INT@2170..2175
                          Int@2170..2174 "1000"
                          Whitespace@2174..2175 " "
                        Plus@2175..2176 "+"
                        Whitespace@2176..2177 " "
                        EXPR_CALL@2177..2189
                          EXPR_BINARY@2177..2186
                            EXPR_IDENT@2177..2182
                              PATH@2177..2182
                                Ident@2177..2182 "index"
                            Dot@2182..2183 "."
                            EXPR_IDENT@2183..2186
                              PATH@2183..2186
                                Ident@2183..2186 "get"
                          ARG_LIST@2186..2189
                            LParen@2186..2187 "("
                            RParen@2187..2188 ")"
                            Whitespace@2188..2189 " "
                    RBrace@2189..2190 "}"
                Semi@2190..2191 ";"
                Whitespace@2191..2200 "\n        "
              STMT_EXPR@2200..2238
                EXPR_CALL@2200..2228
                  EXPR_BINARY@2200..2210
                    EXPR_IDENT@2200..2206
                      PATH@2200..2206
                        Ident@2200..2206 "values"
                    Dot@2206..2207 "."
                    EXPR_IDENT@2207..2210
                      PATH@2207..2210
                        Ident@2207..2210 "set"
                  ARG_LIST@2210..2228
                    LParen@2210..2211 "("
                    ARG@2211..2216
                      EXPR_IDENT@2211..2214
                        PATH@2211..2214
                          Ident@2211..2214 "key"
                      Comma@2214..2215 ","
                      Whitespace@2215..2216 " "
                    ARG@2216..2227
                      EXPR_CALL@2216..2227
                        EXPR_BINARY@2216..2225
                          EXPR_IDENT@2216..2221
                            PATH@2216..2221
                              Ident@2216..2221 "index"
                          Dot@2221..2222 "."
                          EXPR_IDENT@2222..2225
                            PATH@2222..2225
                              Ident@2222..2225 "get"
                        ARG_LIST@2225..2227
                          LParen@2225..2226 "("
                          RParen@2226..2227 ")"
                    RParen@2227..2228 ")"
                Semi@2228..2229 ";"
                Whitespace@2229..2238 "\n        "
              STMT_EXPR@2238..2266
                EXPR_CALL@2238..2256
                  EXPR_BINARY@2238..2251
                    EXPR_IDENT@2238..2244
                      PATH@2238..2244
                        Ident@2238..2244 "values"
                    Dot@2244..2245 "."
                    EXPR_IDENT@2245..2251
                      PATH@2245..2251
                        Ident@2245..2251 "remove"
                  ARG_LIST@2251..2256
                    LParen@2251..2252 "("
                    ARG@2252..2255
                      EXPR_IDENT@2252..2255
                        PATH@2252..2255
                          Ident@2252..2255 "key"
                    RParen@2255..2256 ")"
                Semi@2256..2257 ";"
                Whitespace@2257..2266 "\n        "
              STMT_EXPR@2266..2298
                EXPR_CALL@2266..2292
                  EXPR_BINARY@2266..2275
                    EXPR_IDENT@2266..2271
                      PATH@2266..2271
                        Ident@2266..2271 "index"
                    Dot@2271..2272 "."
                    EXPR_IDENT@2272..2275
                      PATH@2272..2275
                        Ident@2272..2275 "set"
                  ARG_LIST@2275..2292
                    LParen@2275..2276 "("
                    ARG@2276..2291
                      EXPR_BINARY@2276..2291
                        EXPR_CALL@2276..2288
                          EXPR_BINARY@2276..2285
                            EXPR_IDENT@2276..2281
                              PATH@2276..2281
                                Ident@2276..2281 "index"
                            Dot@2281..2282 "."
                            EXPR_IDENT@2282..2285
                              PATH@2282..2285
                                Ident@2282..2285 "get"
                          ARG_LIST@2285..2288
                            LParen@2285..2286 "("
                            RParen@2286..2287 ")"
                            Whitespace@2287..2288 " "
                        Plus@2288..2289 "+"
                        Whitespace@2289..2290 " "
                        EXPR_INT@2290..2291
                          Int@2290..2291 "1"
                    RParen@2291..2292 ")"
                Semi@2292..2293 ";"
                Whitespace@2293..2298 "\n    "
              RBrace@2298..2299 "}"
              Whitespace@2299..2304 "\n    "
      STMT_EXPR@2304..2327
        EXPR_CALL@2304..2325
          EXPR_IDENT@2304..2311
            PATH@2304..2311
              Ident@2304..2311 "println"
          ARG_LIST@2311..2325
            LParen@2311..2312 "("
            ARG@2312..2324
              EXPR_CALL@2312..2324
                EXPR_BINARY@2312..2322
                  EXPR_IDENT@2312..2318
                    PATH@2312..2318
                      Ident@2312..2318 "values"
                  Dot@2318..2319 "."
                  EXPR_IDENT@2319..2322
                    PATH@2319..2322
                      Ident@2319..2322 "len"
                ARG_LIST@2322..2324
                  LParen@2322..2323 "("
                  RParen@2323..2324 ")"
            RParen@2324..2325 ")"
        Semi@2325..2326 ";"
        Whitespace@2326..2327 "\n"
      RBrace@2327..2328 "}"
      Whitespace@2328..2330 "\n\n"
  FN@2330..2906
    FnKeyword@2330..2332 "fn"
    Whitespace@2332..2333 " "
    Ident@2333..2352 "reference_contracts"
    PARAM_LIST@2352..2355
      LParen@2352..2353 "("
      RParen@2353..2354 ")"
      Whitespace@2354..2355 " "
    Arrow@2355..2357 "->"
    Whitespace@2357..2358 " "
    TYPE_UNIT@2358..2363
      UnitKeyword@2358..2362 "unit"
      Whitespace@2362..2363 " "
    BLOCK@2363..2906
      LBrace@2363..2364 "{"
      Whitespace@2364..2369 "\n    "
      STMT_LET@2369..2438
        LetKeyword@2369..2372 "let"
        Whitespace@2372..2373 " "
        PATTERN_VARIABLE@2373..2379
          Ident@2373..2379 "values"
        Colon@2379..2380 ":"
        Whitespace@2380..2381 " "
        TYPE_TAPP@2381..2416
          PATH@2381..2388
            Ident@2381..2388 "HashMap"
          TYPE_PARAM_LIST@2388..2416
            LBracket@2388..2389 "["
            TYPE_TAPP@2389..2406
              PATH@2389..2392
                Ident@2389..2392 "Ref"
              TYPE_PARAM_LIST@2392..2406
                LBracket@2392..2393 "["
                TYPE_TAPP@2393..2405
                  PATH@2393..2405
                    Ident@2393..2405 "CollisionKey"
                RBracket@2405..2406 "]"
            Comma@2406..2407 ","
            Whitespace@2407..2408 " "
            TYPE_STRING@2408..2414
              StringKeyword@2408..2414 "string"
            RBracket@2414..2415 "]"
            Whitespace@2415..2416 " "
        Eq@2416..2417 "="
        Whitespace@2417..2418 " "
        EXPR_CALL@2418..2432
          EXPR_IDENT@2418..2430
            PATH@2418..2430
              Ident@2418..2425 "HashMap"
              ColonColon@2425..2427 "::"
              Ident@2427..2430 "new"
          ARG_LIST@2430..2432
            LParen@2430..2431 "("
            RParen@2431..2432 ")"
        Semi@2432..2433 ";"
        Whitespace@2433..2438 "\n    "
      STMT_LET@2438..2489
        LetKeyword@2438..2441 "let"
        Whitespace@2441..2442 " "
        PATTERN_VARIABLE@2442..2446
          Ident@2442..2445 "key"
          Whitespace@2445..2446 " "
        Eq@2446..2447 "="
        Whitespace@2447..2448 " "
        EXPR_CALL@2448..2483
          EXPR_IDENT@2448..2456
            PATH@2448..2456
              Ident@2448..2451 "Ref"
              ColonColon@2451..2453 "::"
              Ident@2453..2456 "new"
          ARG_LIST@2456..2483
            LParen@2456..2457 "("
            ARG@2457..2482
              EXPR_STRUCT_LITERAL@2457..2482
                PATH@2457..2470
                  Ident@2457..2469 "CollisionKey"
                  Whitespace@2469..2470 " "
                STRUCT_LITERAL_FIELD_LIST@2470..2482
                  LBrace@2470..2471 "{"
                  Whitespace@2471..2472 " "
                  STRUCT_LITERAL_FIELD@2472..2481
                    Ident@2472..2477 "value"
                    Colon@2477..2478 ":"
                    Whitespace@2478..2479 " "
                    EXPR_INT@2479..2481
                      Int@2479..2480 "1"
                      Whitespace@2480..2481 " "
                  RBrace@2481..2482 "}"
            RParen@2482..2483 ")"
        Semi@2483..2484 ";"
        Whitespace@2484..2489 "\n    "
      STMT_LET@2489..2510
        LetKeyword@2489..2492 "let"
        Whitespace@2492..2493 " "
        PATTERN_VARIABLE@2493..2499
          Ident@2493..2498 "alias"
          Whitespace@2498..2499 " "
        Eq@2499..2500 "="
        Whitespace@2500..2501 " "
        EXPR_IDENT@2501..2504
          PATH@2501..2504
            Ident@2501..2504 "key"
        Semi@2504..2505 ";"
        Whitespace@2505..2510 "\n    "
      STMT_LET@2510..2569
        LetKeyword@2510..2513 "let"
        Whitespace@2513..2514 " "
        PATTERN_VARIABLE@2514..2526
          Ident@2514..2525 "equal_value"
          Whitespace@2525..2526 " "
        Eq@2526..2527 "="
        Whitespace@2527..2528 " "
        EXPR_CALL@2528..2563
          EXPR_IDENT@2528..2536
            PATH@2528..2536
              Ident@2528..2531 "Ref"
              ColonColon@2531..2533 "::"
              Ident@2533..2536 "new"
          ARG_LIST@2536..2563
            LParen@2536..2537 "("
            ARG@2537..2562
              EXPR_STRUCT_LITERAL@2537..2562
                PATH@2537..2550
                  Ident@2537..2549 "CollisionKey"
                  Whitespace@2549..2550 " "
                STRUCT_LITERAL_FIELD_LIST@2550..2562
                  LBrace@2550..2551 "{"
                  Whitespace@2551..2552 " "
                  STRUCT_LITERAL_FIELD@2552..2561
                    Ident@2552..2557 "value"
                    Colon@2557..2558 ":"
                    Whitespace@2558..2559 " "
                    EXPR_INT@2559..2561
                      Int@2559..2560 "1"
                      Whitespace@2560..2561 " "
                  RBrace@2561..2562 "}"
            RParen@2562..2563 ")"
        Semi@2563..2564 ";"
        Whitespace@2564..2569 "\n    "
      STMT_EXPR@2569..2602
        EXPR_CALL@2569..2596
          EXPR_BINARY@2569..2579
            EXPR_IDENT@2569..2575
              PATH@2569..2575
                Ident@2569..2575 "values"
            Dot@2575..2576 "."
            EXPR_IDENT@2576..2579
              PATH@2576..2579
                Ident@2576..2579 "set"
          ARG_LIST@2579..2596
            LParen@2579..2580 "("
            ARG@2580..2585
              EXPR_IDENT@2580..2583
                PATH@2580..2583
                  Ident@2580..2583 "key"
              Comma@2583..2584 ","
              Whitespace@2584..2585 " "
            ARG@2585..2595
              EXPR_STR@2585..2595
                Str@2585..2595 "\"identity\""
            RParen@2595..2596 ")"
        Semi@2596..2597 ";"
        Whitespace@2597..2602 "\n    "
      STMT_EXPR@2602..2642
        EXPR_CALL@2602..2636
          EXPR_IDENT@2602..2609
            PATH@2602..2609
              Ident@2602..2609 "println"
          ARG_LIST@2609..2636
            LParen@2609..2610 "("
            ARG@2610..2635
              EXPR_CALL@2610..2635
                EXPR_IDENT@2610..2623
                  PATH@2610..2623
                    Ident@2610..2619 "PartialEq"
                    ColonColon@2619..2621 "::"
                    Ident@2621..2623 "eq"
                ARG_LIST@2623..2635
                  LParen@2623..2624 "("
                  ARG@2624..2629
                    EXPR_IDENT@2624..2627
                      PATH@2624..2627
                        Ident@2624..2627 "key"
                    Comma@2627..2628 ","
                    Whitespace@2628..2629 " "
                  ARG@2629..2634
                    EXPR_IDENT@2629..2634
                      PATH@2629..2634
                        Ident@2629..2634 "alias"
                  RParen@2634..2635 ")"
            RParen@2635..2636 ")"
        Semi@2636..2637 ";"
        Whitespace@2637..2642 "\n    "
      STMT_EXPR@2642..2688
        EXPR_CALL@2642..2682
          EXPR_IDENT@2642..2649
            PATH@2642..2649
              Ident@2642..2649 "println"
          ARG_LIST@2649..2682
            LParen@2649..2650 "("
            ARG@2650..2681
              EXPR_CALL@2650..2681
                EXPR_IDENT@2650..2663
                  PATH@2650..2663
                    Ident@2650..2659 "PartialEq"
                    ColonColon@2659..2661 "::"
                    Ident@2661..2663 "eq"
                ARG_LIST@2663..2681
                  LParen@2663..2664 "("
                  ARG@2664..2669
                    EXPR_IDENT@2664..2667
                      PATH@2664..2667
                        Ident@2664..2667 "key"
                    Comma@2667..2668 ","
                    Whitespace@2668..2669 " "
                  ARG@2669..2680
                    EXPR_IDENT@2669..2680
                      PATH@2669..2680
                        Ident@2669..2680 "equal_value"
                  RParen@2680..2681 ")"
            RParen@2681..2682 ")"
        Semi@2682..2683 ";"
        Whitespace@2683..2688 "\n    "
      STMT_EXPR@2688..2739
        EXPR_CALL@2688..2733
          EXPR_IDENT@2688..2695
            PATH@2688..2695
              Ident@2688..2695 "println"
          ARG_LIST@2695..2733
            LParen@2695..2696 "("
            ARG@2696..2732
              EXPR_BINARY@2696..2732
                EXPR_CALL@2696..2712
                  EXPR_IDENT@2696..2706
                    PATH@2696..2706
                      Ident@2696..2700 "Hash"
                      ColonColon@2700..2702 "::"
                      Ident@2702..2706 "hash"
                  ARG_LIST@2706..2712
                    LParen@2706..2707 "("
                    ARG@2707..2710
                      EXPR_IDENT@2707..2710
                        PATH@2707..2710
                          Ident@2707..2710 "key"
                    RParen@2710..2711 ")"
                    Whitespace@2711..2712 " "
                EqEq@2712..2714 "=="
                Whitespace@2714..2715 " "
                EXPR_CALL@2715..2732
                  EXPR_IDENT@2715..2725
                    PATH@2715..2725
                      Ident@2715..2719 "Hash"
                      ColonColon@2719..2721 "::"
                      Ident@2721..2725 "hash"
                  ARG_LIST@2725..2732
                    LParen@2725..2726 "("
                    ARG@2726..2731
                      EXPR_IDENT@2726..2731
                        PATH@2726..2731
                          Ident@2726..2731 "alias"
                    RParen@2731..2732 ")"
            RParen@2732..2733 ")"
        Semi@2733..2734 ";"
        Whitespace@2734..2739 "\n    "
      STMT_EXPR@2739..2780
        EXPR_CALL@2739..2774
          EXPR_IDENT@2739..2755
            PATH@2739..2755
              Ident@2739..2755 "print_opt_string"
          ARG_LIST@2755..2774
            LParen@2755..2756 "("
            ARG@2756..2773
              EXPR_CALL@2756..2773
                EXPR_BINARY@2756..2766
                  EXPR_IDENT@2756..2762
                    PATH@2756..2762
                      Ident@2756..2762 "values"
                  Dot@2762..2763 "."
                  EXPR_IDENT@2763..2766
                    PATH@2763..2766
                      Ident@2763..2766 "get"
                ARG_LIST@2766..2773
                  LParen@2766..2767 "("
                  ARG@2767..2772
                    EXPR_IDENT@2767..2772
                      PATH@2767..2772
                        Ident@2767..2772 "alias"
                  RParen@2772..2773 ")"
            RParen@2773..2774 ")"
        Semi@2774..2775 ";"
        Whitespace@2775..2780 "\n    "
      STMT_EXPR@2780..2827
        EXPR_CALL@2780..2821
          EXPR_IDENT@2780..2796
            PATH@2780..2796
              Ident@2780..2796 "print_opt_string"
          ARG_LIST@2796..2821
            LParen@2796..2797 "("
            ARG@2797..2820
              EXPR_CALL@2797..2820
                EXPR_BINARY@2797..2807
                  EXPR_IDENT@2797..2803
                    PATH@2797..2803
                      Ident@2797..2803 "values"
                  Dot@2803..2804 "."
                  EXPR_IDENT@2804..2807
                    PATH@2804..2807
                      Ident@2804..2807 "get"
                ARG_LIST@2807..2820
                  LParen@2807..2808 "("
                  ARG@2808..2819
                    EXPR_IDENT@2808..2819
                      PATH@2808..2819
                        Ident@2808..2819 "equal_value"
                  RParen@2819..2820 ")"
            RParen@2820..2821 ")"
        Semi@2821..2822 ";"
        Whitespace@2822..2827 "\n    "
      STMT_EXPR@2827..2868
        EXPR_CALL@2827..2862
          EXPR_BINARY@2827..2834
            EXPR_IDENT@2827..2830
              PATH@2827..2830
                Ident@2827..2830 "key"
            Dot@2830..2831 "."
            EXPR_IDENT@2831..2834
              PATH@2831..2834
                Ident@2831..2834 "set"
          ARG_LIST@2834..2862
            LParen@2834..2835 "("
            ARG@2835..2861
              EXPR_STRUCT_LITERAL@2835..2861
                PATH@2835..2848
                  Ident@2835..2847 "CollisionKey"
                  Whitespace@2847..2848 " "
                STRUCT_LITERAL_FIELD_LIST@2848..2861
                  LBrace@2848..2849 "{"
                  Whitespace@2849..2850 " "
                  STRUCT_LITERAL_FIELD@2850..2860
                    Ident@2850..2855 "value"
                    Colon@2855..2856 ":"
                    Whitespace@2856..2857 " "
                    EXPR_INT@2857..2860
                      Int@2857..2859 "99"
                      Whitespace@2859..2860 " "
                  RBrace@2860..2861 "}"
            RParen@2861..2862 ")"
        Semi@2862..2863 ";"
        Whitespace@2863..2868 "\n    "
      STMT_EXPR@2868..2903
        EXPR_CALL@2868..2901
          EXPR_IDENT@2868..2884
            PATH@2868..2884
              Ident@2868..2884 "print_opt_string"
          ARG_LIST@2884..2901
            LParen@2884..2885 "("
            ARG@2885..2900
              EXPR_CALL@2885..2900
                EXPR_BINARY@2885..2895
                  EXPR_IDENT@2885..2891
                    PATH@2885..2891
                      Ident@2885..2891 "values"
                  Dot@2891..2892 "."
                  EXPR_IDENT@2892..2895
                    PATH@2892..2895
                      Ident@2892..2895 "get"
                ARG_LIST@2895..2900
                  LParen@2895..2896 "("
                  ARG@2896..2899
                    EXPR_IDENT@2896..2899
                      PATH@2896..2899
                        Ident@2896..2899 "key"
                  RParen@2899..2900 ")"
            RParen@2900..2901 ")"
        Semi@2901..2902 ";"
        Whitespace@2902..2903 "\n"
      RBrace@2903..2904 "}"
      Whitespace@2904..2906 "\n\n"
  FN@2906..3016
    FnKeyword@2906..2908 "fn"
    Whitespace@2908..2909 " "
    Ident@2909..2913 "main"
    PARAM_LIST@2913..2916
      LParen@2913..2914 "("
      RParen@2914..2915 ")"
      Whitespace@2915..2916 " "
    Arrow@2916..2918 "->"
    Whitespace@2918..2919 " "
    TYPE_UNIT@2919..2924
      UnitKeyword@2919..2923 "unit"
      Whitespace@2923..2924 " "
    BLOCK@2924..3016
      LBrace@2924..2925 "{"
      Whitespace@2925..2930 "\n    "
      STMT_EXPR@2930..2964
        EXPR_CALL@2930..2958
          EXPR_IDENT@2930..2956
            PATH@2930..2956
              Ident@2930..2956 "float_comparison_cont ..."
          ARG_LIST@2956..2958
            LParen@2956..2957 "("
            RParen@2957..2958 ")"
        Semi@2958..2959 ";"
        Whitespace@2959..2964 "\n    "
      STMT_EXPR@2964..2991
        EXPR_CALL@2964..2985
          EXPR_IDENT@2964..2983
            PATH@2964..2983
              Ident@2964..2983 "collision_contracts"
          ARG_LIST@2983..2985
            LParen@2983..2984 "("
            RParen@2984..2985 ")"
        Semi@2985..2986 ";"
        Whitespace@2986..2991 "\n    "
      STMT_EXPR@2991..3014
        EXPR_CALL@2991..3012
          EXPR_IDENT@2991..3010
            PATH@2991..3010
              Ident@2991..3010 "reference_contracts"
          ARG_LIST@3010..3012
            LParen@3010..3011 "("
            RParen@3011..3012 ")"
        Semi@3012..3013 ";"
        Whitespace@3013..3014 "\n"
      RBrace@3014..3015 "}"
      Whitespace@3015..3016 "\n"