FILE@0..3004
  USE@0..15
    UseKeyword@0..3 "use"
    Whitespace@3..4 " "
    PATH@4..12
      Ident@4..7 "std"
      ColonColon@7..9 "::"
      Ident@9..12 "cmp"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..85
    ATTRIBUTE_LIST@15..48
      ATTRIBUTE@15..48
        Pound@15..16 "#"
        LBracket@16..17 "["
        Ident@17..23 "derive"
        LParen@23..24 "("
        Ident@24..33 "PartialEq"
        Comma@33..34 ","
        Whitespace@34..35 " "
        Ident@35..45 "PartialOrd"
        RParen@45..46 ")"
        RBracket@46..47 "]"
        Whitespace@47..48 "\n"
    StructKeyword@48..54 "struct"
    Whitespace@54..55 " "
    Ident@55..63 "FloatKey"
    Whitespace@63..64 " "
    LBrace@64..65 "{"
    Whitespace@65..70 "\n    "
    STRUCT_FIELD_LIST@70..85
      STRUCT_FIELD@70..80
        Ident@70..75 "value"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TYPE_FLOAT64@77..80
          F64Keyword@77..80 "f64"
      Comma@80..81 ","
      Whitespace@81..82 "\n"
      RBrace@82..83 "}"
      Whitespace@83..85 "\n\n"
  STRUCT@85..126
    StructKeyword@85..91 "struct"
    Whitespace@91..92 " "
    Ident@92..104 "CollisionKey"
    Whitespace@104..105 " "
    LBrace@105..106 "{"
    Whitespace@106..111 "\n    "
    STRUCT_FIELD_LIST@111..126
      STRUCT_FIELD@111..121
        Ident@111..116 "value"
        Colon@116..117 ":"
        Whitespace@117..118 " "
        TYPE_INT32@118..121
          I32Keyword@118..121 "i32"
      Comma@121..122 ","
      Whitespace@122..123 "\n"
      RBrace@123..124 "}"
      Whitespace@124..126 "\n\n"
  IMPL@126..264
    ImplKeyword@126..130 "impl"
    Whitespace@130..131 " "
    TYPE_TAPP@131..141
      PATH@131..141
        Ident@131..140 "PartialEq"
        Whitespace@140..141 " "
    ForKeyword@141..144 "for"
    Whitespace@144..145 " "
    TYPE_TAPP@145..158
      PATH@145..158
        Ident@145..157 "CollisionKey"
        Whitespace@157..158 " "
    LBrace@158..159 "{"
    Whitespace@159..164 "\n    "
    FN@164..261
      FnKeyword@164..166 "fn"
      Whitespace@166..167 " "
      Ident@167..169 "eq"
      PARAM_LIST@169..211
        LParen@169..170 "("
        PARAM@170..190
          Ident@170..174 "self"
          Colon@174..175 ":"
          Whitespace@175..176 " "
          TYPE_TAPP@176..188
            PATH@176..188
              Ident@176..188 "CollisionKey"
          Comma@188..189 ","
          Whitespace@189..190 " "
        PARAM@190..209
          Ident@190..195 "other"
          Colon@195..196 ":"
          Whitespace@196..197 " "
          TYPE_TAPP@197..209
            PATH@197..209
              Ident@197..209 "CollisionKey"
        RParen@209..210 ")"
        Whitespace@210..211 " "
      Arrow@211..213 "->"
      Whitespace@213..214 " "
      TYPE_BOOL@214..219
        BoolKeyword@214..218 "bool"
        Whitespace@218..219 " "
      BLOCK@219..261
        LBrace@219..220 "{"
        Whitespace@220..229 "\n        "
        EXPR_BINARY@229..259
          EXPR_BINARY@229..240
            EXPR_IDENT@229..233
              PATH@229..233
                Ident@229..233 "self"
            Dot@233..234 "."
            EXPR_IDENT@234..240
              PATH@234..240
                Ident@234..239 "value"
                Whitespace@239..240 " "
          EqEq@240..242 "=="
          Whitespace@242..243 " "
          EXPR_BINARY@243..259
            EXPR_IDENT@243..248
              PATH@243..248
                Ident@243..248 "other"
            Dot@248..249 "."
            EXPR_IDENT@249..259
              PATH@249..259
                Ident@249..254 "value"
                Whitespace@254..259 "\n    "
        RBrace@259..260 "}"
        Whitespace@260..261 "\n"
    RBrace@261..262 "}"
    Whitespace@262..264 "\n\n"
  IMPL@264..293
    ImplKeyword@264..268 "impl"
    Whitespace@268..269 " "
    TYPE_TAPP@269..272
      PATH@269..272
        Ident@269..271 "Eq"
        Whitespace@271..272 " "
    ForKeyword@272..275 "for"
    Whitespace@275..276 " "
    TYPE_TAPP@276..289
      PATH@276..289
        Ident@276..288 "CollisionKey"
        Whitespace@288..289 " "
    LBrace@289..290 "{"
    RBrace@290..291 "}"
    Whitespace@291..293 "\n\n"
  IMPL@293..382
    ImplKeyword@293..297 "impl"
    Whitespace@297..298 " "
    TYPE_TAPP@298..303
      PATH@298..303
        Ident@298..302 "Hash"
        Whitespace@302..303 " "
    ForKeyword@303..306 "for"
    Whitespace@306..307 " "
    TYPE_TAPP@307..320
      PATH@307..320
        Ident@307..319 "CollisionKey"
        Whitespace@319..320 " "
    LBrace@320..321 "{"
    Whitespace@321..326 "\n    "
    FN@326..379
      FnKeyword@326..328 "fn"
      Whitespace@328..329 " "
      Ident@329..333 "hash"
      PARAM_LIST@333..354
        LParen@333..334 "("
        PARAM@334..352
          Ident@334..338 "self"
          Colon@338..339 ":"
          Whitespace@339..340 " "
          TYPE_TAPP@340..352
            PATH@340..352
              Ident@340..352 "CollisionKey"
        RParen@352..353 ")"
        Whitespace@353..354 " "
      Arrow@354..356 "->"
      Whitespace@356..357 " "
      TYPE_UINT64@357..361
        U64Keyword@357..360 "u64"
        Whitespace@360..361 " "
      BLOCK@361..379
        LBrace@361..362 "{"
        Whitespace@362..371 "\n        "
        EXPR_INT@371..377
          Int@371..372 "1"
          Whitespace@372..377 "\n    "
        RBrace@377..378 "}"
        Whitespace@378..379 "\n"
    RBrace@379..380 "}"
    Whitespace@380..382 "\n\n"
  FN@382..546
    FnKeyword@382..384 "fn"
    Whitespace@384..385 " "
    Ident@385..401 "print_opt_string"
    PARAM_LIST@401..425
      LParen@401..402 "("
      PARAM@402..423
        Ident@402..407 "value"
        Colon@407..408 ":"
        Whitespace@408..409 " "
        TYPE_TAPP@409..423
          PATH@409..415
            Ident@409..415 "Option"
          TYPE_PARAM_LIST@415..423
            LBracket@415..416 "["
            TYPE_STRING@416..422
              StringKeyword@416..422 "string"
            RBracket@422..423 "]"
      RParen@423..424 ")"
      Whitespace@424..425 " "
    Arrow@425..427 "->"
    Whitespace@427..428 " "
    TYPE_TUPLE@428..431
      TYPE_LIST@428..431
        LParen@428..429 "("
        RParen@429..430 ")"
        Whitespace@430..431 " "
    BLOCK@431..546
      LBrace@431..432 "{"
      Whitespace@432..437 "\n    "
      EXPR_MATCH@437..543
        MatchKeyword@437..442 "match"
        Whitespace@442..443 " "
        EXPR_IDENT@443..449
          PATH@443..449
            Ident@443..448 "value"
            Whitespace@448..449 " "
        MATCH_ARM_LIST@449..543
          LBrace@449..450 "{"
          Whitespace@450..459 "\n        "
          MATCH_ARM@459..494
            PATTERN_CONSTR@459..478
              PATH@459..471
                Ident@459..465 "Option"
                ColonColon@465..467 "::"
                Ident@467..471 "Some"
              LParen@471..472 "("
              PATTERN_VARIABLE@472..476
                Ident@472..476 "text"
              RParen@476..477 ")"
              Whitespace@477..478 " "
            FatArrow@478..480 "=>"
            Whitespace@480..481 " "
            EXPR_CALL@481..494
              EXPR_IDENT@481..488
                PATH@481..488
                  Ident@481..488 "println"
              ARG_LIST@488..494
                LParen@488..489 "("
                ARG@489..493
                  EXPR_IDENT@489..493
                    PATH@489..493
                      Ident@489..493 "text"
                RParen@493..494 ")"
          Comma@494..495 ","
          Whitespace@495..504 "\n        "
          MATCH_ARM@504..535
            PATTERN_CONSTR@504..517
              PATH@504..517
                Ident@504..510 "Option"
                ColonColon@510..512 "::"
                Ident@512..516 "None"
                Whitespace@516..517 " "
            FatArrow@517..519 "=>"
            Whitespace@519..520 " "
            EXPR_CALL@520..535
              EXPR_IDENT@520..527
                PATH@520..527
                  Ident@520..527 "println"
              ARG_LIST@527..535
                LParen@527..528 "("
                ARG@528..534
                  EXPR_STR@528..534
                    Str@528..534 "\"none\""
                RParen@534..535 ")"
          Comma@535..536 ","
          Whitespace@536..541 "\n    "
          RBrace@541..542 "}"
          Whitespace@542..543 "\n"
      RBrace@543..544 "}"
      Whitespace@544..546 "\n\n"
  FN@546..708
    FnKeyword@546..548 "fn"
    Whitespace@548..549 " "
    Ident@549..562 "print_opt_int"
    PARAM_LIST@562..583
      LParen@562..563 "("
      PARAM@563..581
        Ident@563..568 "value"
        Colon@568..569 ":"
        Whitespace@569..570 " "
        TYPE_TAPP@570..581
          PATH@570..576
            Ident@570..576 "Option"
          TYPE_PARAM_LIST@576..581
            LBracket@576..577 "["
            TYPE_INT32@577..580
              I32Keyword@577..580 "i32"
            RBracket@580..581 "]"
      RParen@581..582 ")"
      Whitespace@582..583 " "
    Arrow@583..585 "->"
    Whitespace@585..586 " "
    TYPE_TUPLE@586..589
      TYPE_LIST@586..589
        LParen@586..587 "("
        RParen@587..588 ")"
        Whitespace@588..589 " "
    BLOCK@589..708
      LBrace@589..590 "{"
      Whitespace@590..595 "\n    "
      EXPR_MATCH@595..705
        MatchKeyword@595..600 "match"
        Whitespace@600..601 " "
        EXPR_IDENT@601..607
          PATH@601..607
            Ident@601..606 "value"
            Whitespace@606..607 " "
        MATCH_ARM_LIST@607..705
          LBrace@607..608 "{"
          Whitespace@608..617 "\n        "
          MATCH_ARM@617..656
            PATTERN_CONSTR@617..638
              PATH@617..629
                Ident@617..623 "Option"
                ColonColon@623..625 "::"
                Ident@625..629 "Some"
              LParen@629..630 "("
              PATTERN_VARIABLE@630..636
                Ident@630..636 "number"
              RParen@636..637 ")"
              Whitespace@637..638 " "
            FatArrow@638..640 "=>"
            Whitespace@640..641 " "
            EXPR_CALL@641..656
              EXPR_IDENT@641..648
                PATH@641..648
                  Ident@641..648 "println"
              ARG_LIST@648..656
                LParen@648..649 "("
                ARG@649..655
                  EXPR_IDENT@649..655
                    PATH@649..655
                      Ident@649..655 "number"
                RParen@655..656 ")"
          Comma@656..657 ","
          Whitespace@657..666 "\n        "
          MATCH_ARM@666..697
            PATTERN_CONSTR@666..679
              PATH@666..679
                Ident@666..672 "Option"
                ColonColon@672..674 "::"
                Ident@674..678 "None"
                Whitespace@678..679 " "
            FatArrow@679..681 "=>"
            Whitespace@681..682 " "
            EXPR_CALL@682..697
              EXPR_IDENT@682..689
                PATH@682..689
                  Ident@682..689 "println"
              ARG_LIST@689..697
                LParen@689..690 "("
                ARG@690..696
                  EXPR_STR@690..696
                    Str@690..696 "\"none\""
                RParen@696..697 ")"
          Comma@697..698 ","
          Whitespace@698..703 "\n    "
          RBrace@703..704 "}"
          Whitespace@704..705 "\n"
      RBrace@705..706 "}"
      Whitespace@706..708 "\n\n"
  FN@708..1222
    FnKeyword@708..710 "fn"
    Whitespace@710..711 " "
    Ident@711..737 "float_comparison_cont ..."
    PARAM_LIST@737..740
      LParen@737..738 "("
      RParen@738..739 ")"
      Whitespace@739..740 " "
    Arrow@740..742 "->"
    Whitespace@742..743 " "
    TYPE_TUPLE@743..746
      TYPE_LIST@743..746
        LParen@743..744 "("
        RParen@744..745 ")"
        Whitespace@745..746 " "
    BLOCK@746..1222
      LBrace@746..747 "{"
      Whitespace@747..752 "\n    "
      STMT_LET@752..779
        LetKeyword@752..755 "let"
        Whitespace@755..756 " "
        PATTERN_VARIABLE@756..762
          Ident@756..762 "zero32"
        Colon@762..763 ":"
        Whitespace@763..764 " "
        TYPE_FLOAT32@764..768
          F32Keyword@764..767 "f32"
          Whitespace@767..768 " "
        Eq@768..769 "="
        Whitespace@769..770 " "
        EXPR_FLOAT@770..773
          Float@770..773 "0.0"
        Semi@773..774 ";"
        Whitespace@774..779 "\n    "
      STMT_LET@779..814
        LetKeyword@779..782 "let"
        Whitespace@782..783 " "
        PATTERN_VARIABLE@783..799
          Ident@783..798 "negative_zero32"
          Whitespace@798..799 " "
        Eq@799..800 "="
        Whitespace@800..801 " "
        EXPR_PREFIX@801..808
          Minus@801..802 "-"
          EXPR_IDENT@802..808
            PATH@802..808
              Ident@802..808 "zero32"
        Semi@808..809 ";"
        Whitespace@809..814 "\n    "
      STMT_EXPR@814..868
        EXPR_CALL@814..862
          EXPR_IDENT@814..821
            PATH@814..821
              Ident@814..821 "println"
          ARG_LIST@821..862
            LParen@821..822 "("
            ARG@822..861
              EXPR_CALL@822..861
                EXPR_BINARY@822..859
                  EXPR_PAREN@822..849
                    LParen@822..823 "("
                    EXPR_BINARY@823..848
                      EXPR_IDENT@823..830
                        PATH@823..830
                          Ident@823..829 "zero32"
                          Whitespace@829..830 " "
                      EqEq@830..832 "=="
                      Whitespace@832..833 " "
                      EXPR_IDENT@833..848
                        PATH@833..848
                          Ident@833..848 "negative_zero32"
                    RParen@848..849 ")"
                  Dot@849..850 "."
                  EXPR_IDENT@850..859
                    PATH@850..859
                      Ident@850..859 "to_string"
                ARG_LIST@859..861
                  LParen@859..860 "("
                  RParen@860..861 ")"
            RParen@861..862 ")"
        Semi@862..863 ";"
        Whitespace@863..868 "\n    "
      STMT_LET@868..895
        LetKeyword@868..871 "let"
        Whitespace@871..872 " "
        PATTERN_VARIABLE@872..878
          Ident@872..878 "zero64"
        Colon@878..879 ":"
        Whitespace@879..880 " "
        TYPE_FLOAT64@880..884
          F64Keyword@880..883 "f64"
          Whitespace@883..884 " "
        Eq@884..885 "="
        Whitespace@885..886 " "
        EXPR_FLOAT@886..889
          Float@886..889 "0.0"
        Semi@889..890 ";"
        Whitespace@890..895 "\n    "
      STMT_LET@895..930
        LetKeyword@895..898 "let"
        Whitespace@898..899 " "
        PATTERN_VARIABLE@899..915
          Ident@899..914 "negative_zero64"
          Whitespace@914..915 " "
        Eq@915..916 "="
        Whitespace@916..917 " "
        EXPR_PREFIX@917..924
          Minus@917..918 "-"
          EXPR_IDENT@918..924
            PATH@918..924
              Ident@918..924 "zero64"
        Semi@924..925 ";"
        Whitespace@925..930 "\n    "
      STMT_EXPR@930..984
        EXPR_CALL@930..978
          EXPR_IDENT@930..937
            PATH@930..937
              Ident@930..937 "println"
          ARG_LIST@937..978
            LParen@937..938 "("
            ARG@938..977
              EXPR_CALL@938..977
                EXPR_BINARY@938..975
                  EXPR_PAREN@938..965
                    LParen@938..939 "("
                    EXPR_BINARY@939..964
                      EXPR_IDENT@939..946
                        PATH@939..946
                          Ident@939..945 "zero64"
                          Whitespace@945..946 " "
                      EqEq@946..948 "=="
                      Whitespace@948..949 " "
                      EXPR_IDENT@949..964
                        PATH@949..964
                          Ident@949..964 "negative_zero64"
                    RParen@964..965 ")"
                  Dot@965..966 "."
                  EXPR_IDENT@966..975
                    PATH@966..975
                      Ident@966..975 "to_string"
                ARG_LIST@975..977
                  LParen@975..976 "("
                  RParen@976..977 ")"
            RParen@977..978 ")"
        Semi@978..979 ";"
        Whitespace@979..984 "\n    "
      STMT_EXPR@984..1078
        EXPR_CALL@984..1072
          EXPR_IDENT@984..991
            PATH@984..991
              Ident@984..991 "println"
          ARG_LIST@991..1072
            LParen@991..992 "("
            ARG@992..1071
              EXPR_CALL@992..1071
                EXPR_BINARY@992..1069
                  EXPR_PAREN@992..1059
                    LParen@992..993 "("
                    EXPR_BINARY@993..1058
                      EXPR_STRUCT_LITERAL@993..1020
                        PATH@993..1002
                          Ident@993..1001 "FloatKey"
                          Whitespace@1001..1002 " "
                        STRUCT_LITERAL_FIELD_LIST@1002..1020
                          LBrace@1002..1003 "{"
                          Whitespace@1003..1004 " "
                          STRUCT_LITERAL_FIELD@1004..1018
                            Ident@1004..1009 "value"
                            Colon@1009..1010 ":"
                            Whitespace@1010..1011 " "
                            EXPR_IDENT@1011..1018
                              PATH@1011..1018
                                Ident@1011..1017 "zero64"
                                Whitespace@1017..1018 " "
                          RBrace@1018..1019 "}"
                          Whitespace@1019..1020 " "
                      EqEq@1020..1022 "=="
                      Whitespace@1022..1023 " "
                      EXPR_STRUCT_LITERAL@1023..1058
                        PATH@1023..1032
                          Ident@1023..1031 "FloatKey"
                          Whitespace@1031..1032 " "
                        STRUCT_LITERAL_FIELD_LIST@1032..1058
                          LBrace@1032..1033 "{"
                          Whitespace@1033..1034 " "
                          STRUCT_LITERAL_FIELD@1034..1057
                            Ident@1034..1039 "value"
                            Colon@1039..1040 ":"
                            Whitespace@1040..1041 " "
                            EXPR_IDENT@1041..1057
                              PATH@1041..1057
                                Ident@1041..1056 "negative_zero64"
                                Whitespace@1056..1057 " "
                          RBrace@1057..1058 "}"
                    RParen@1058..1059 ")"
                  Dot@1059..1060 "."
                  EXPR_IDENT@1060..1069
                    PATH@1060..1069
                      Ident@1060..1069 "to_string"
                ARG_LIST@1069..1071
                  LParen@1069..1070 "("
                  RParen@1070..1071 ")"
            RParen@1071..1072 ")"
        Semi@1072..1073 ";"
        Whitespace@1073..1078 "\n    "
      STMT_LET@1078..1109
        LetKeyword@1078..1081 "let"
        Whitespace@1081..1082 " "
        PATTERN_VARIABLE@1082..1086
          Ident@1082..1085 "nan"
          Whitespace@1085..1086 " "
        Eq@1086..1087 "="
        Whitespace@1087..1088 " "
        EXPR_BINARY@1088..1103
          EXPR_IDENT@1088..1095
            PATH@1088..1095
              Ident@1088..1094 "zero64"
              Whitespace@1094..1095 " "
          Slash@1095..1096 "/"
          Whitespace@1096..1097 " "
          EXPR_IDENT@1097..1103
            PATH@1097..1103
              Ident@1097..1103 "zero64"
        Semi@1103..1104 ";"
        Whitespace@1104..1109 "\n    "
      STMT_EXPR@1109..1148
        EXPR_CALL@1109..1142
          EXPR_IDENT@1109..1116
            PATH@1109..1116
              Ident@1109..1116 "println"
          ARG_LIST@1116..1142
            LParen@1116..1117 "("
            ARG@1117..1141
              EXPR_CALL@1117..1141
                EXPR_BINARY@1117..1139
                  EXPR_PAREN@1117..1129
                    LParen@1117..1118 "("
                    EXPR_BINARY@1118..1128
                      EXPR_IDENT@1118..1122
                        PATH@1118..1122
                          Ident@1118..1121 "nan"
                          Whitespace@1121..1122 " "
                      EqEq@1122..1124 "=="
                      Whitespace@1124..1125 " "
                      EXPR_IDENT@1125..1128
                        PATH@1125..1128
                          Ident@1125..1128 "nan"
                    RParen@1128..1129 ")"
                  Dot@1129..1130 "."
                  EXPR_IDENT@1130..1139
                    PATH@1130..1139
                      Ident@1130..1139 "to_string"
                ARG_LIST@1139..1141
                  LParen@1139..1140 "("
                  RParen@1140..1141 ")"
            RParen@1141..1142 ")"
        Semi@1142..1143 ";"
        Whitespace@1143..1148 "\n    "
      STMT_EXPR@1148..1219
        EXPR_CALL@1148..1217
          EXPR_IDENT@1148..1155
            PATH@1148..1155
              Ident@1148..1155 "println"
          ARG_LIST@1155..1217
            LParen@1155..1156 "("
            ARG@1156..1216
              EXPR_CALL@1156..1216
                EXPR_BINARY@1156..1214
                  EXPR_CALL@1156..1204
                    EXPR_BINARY@1156..1202
                      EXPR_CALL@1156..1194
                        EXPR_IDENT@1156..1184
                          PATH@1156..1184
                            Ident@1156..1159 "cmp"
                            ColonColon@1159..1161 "::"
                            Ident@1161..1171 "PartialOrd"
                            ColonColon@1171..1173 "::"
                            Ident@1173..1184 "partial_cmp"
                        ARG_LIST@1184..1194
                          LParen@1184..1185 "("
                          ARG@1185..1190
                            EXPR_IDENT@1185..1188
                              PATH@1185..1188
                                Ident@1185..1188 "nan"
                            Comma@1188..1189 ","
                            Whitespace@1189..1190 " "
                          ARG@1190..1193
                            EXPR_IDENT@1190..1193
                              PATH@1190..1193
                                Ident@1190..1193 "nan"
                          RParen@1193..1194 ")"
                      Dot@1194..1195 "."
                      EXPR_IDENT@1195..1202
                        PATH@1195..1202
                          Ident@1195..1202 "is_none"
                    ARG_LIST@1202..1204
                      LParen@1202..1203 "("
                      RParen@1203..1204 ")"
                  Dot@1204..1205 "."
                  EXPR_IDENT@1205..1214
                    PATH@1205..1214
                      Ident@1205..1214 "to_string"
                ARG_LIST@1214..1216
                  LParen@1214..1215 "("
                  RParen@1215..1216 ")"
            RParen@1216..1217 ")"
        Semi@1217..1218 ";"
        Whitespace@1218..1219 "\n"
      RBrace@1219..1220 "}"
      Whitespace@1220..1222 "\n\n"
  FN@1222..2322
    FnKeyword@1222..1224 "fn"
    Whitespace@1224..1225 " "
    Ident@1225..1244 "collision_contracts"
    PARAM_LIST@1244..1247
      LParen@1244..1245 "("
      RParen@1245..1246 ")"
      Whitespace@1246..1247 " "
    Arrow@1247..1249 "->"
    Whitespace@1249..1250 " "
    TYPE_TUPLE@1250..1253
      TYPE_LIST@1250..1253
        LParen@1250..1251 "("
        RParen@1251..1252 ")"
        Whitespace@1252..1253 " "
    BLOCK@1253..2322
      LBrace@1253..1254 "{"
      Whitespace@1254..1259 "\n    "
      STMT_LET@1259..1320
        LetKeyword@1259..1262 "let"
        Whitespace@1262..1263 " "
        PATTERN_VARIABLE@1263..1269
          Ident@1263..1269 "values"
        Colon@1269..1270 ":"
        Whitespace@1270..1271 " "
        TYPE_TAPP@1271..1298
          PATH@1271..1278
            Ident@1271..1278 "HashMap"
          TYPE_PARAM_LIST@1278..1298
            LBracket@1278..1279 "["
            TYPE_TAPP@1279..1291
              PATH@1279..1291
                Ident@1279..1291 "CollisionKey"
            Comma@1291..1292 ","
            Whitespace@1292..1293 " "
            TYPE_INT32@1293..1296
              I32Keyword@1293..1296 "i32"
            RBracket@1296..1297 "]"
            Whitespace@1297..1298 " "
        Eq@1298..1299 "="
        Whitespace@1299..1300 " "
        EXPR_CALL@1300..1314
          EXPR_IDENT@1300..1312
            PATH@1300..1312
              Ident@1300..1307 "HashMap"
              ColonColon@1307..1309 "::"
              Ident@1309..1312 "new"
          ARG_LIST@1312..1314
            LParen@1312..1313 "("
            RParen@1313..1314 ")"
        Semi@1314..1315 ";"
        Whitespace@1315..1320 "\n    "
      STMT_EXPR@1320..1367
        EXPR_CALL@1320..1361
          EXPR_BINARY@1320..1330
            EXPR_IDENT@1320..1326
              PATH@1320..1326
                Ident@1320..1326 "values"
            Dot@1326..1327 "."
            EXPR_IDENT@1327..1330
              PATH@1327..1330
                Ident@1327..1330 "set"
          ARG_LIST@1330..1361
            LParen@1330..1331 "("
            ARG@1331..1358
              EXPR_STRUCT_LITERAL@1331..1356
                PATH@1331..1344
                  Ident@1331..1343 "CollisionKey"
                  Whitespace@1343..1344 " "
                STRUCT_LITERAL_FIELD_LIST@1344..1356
                  LBrace@1344..1345 "{"
                  Whitespace@1345..1346 " "
                  STRUCT_LITERAL_FIELD@1346..1355
                    Ident@1346..1351 "value"
                    Colon@1351..1352 ":"
                    Whitespace@1352..1353 " "
                    EXPR_INT@1353..1355
                      Int@1353..1354 "1"
                      Whitespace@1354..1355 " "
                  RBrace@1355..1356 "}"
              Comma@1356..1357 ","
              Whitespace@1357..1358 " "
            ARG@1358..1360
              EXPR_INT@1358..1360
                Int@1358..1360 "10"
            RParen@1360..1361 ")"
        Semi@1361..1362 ";"
        Whitespace@1362..1367 "\n    "
      STMT_EXPR@1367..1414
        EXPR_CALL@1367..1408
          EXPR_BINARY@1367..1377
            EXPR_IDENT@1367..1373
              PATH@1367..1373
                Ident@1367..1373 "values"
            Dot@1373..1374 "."
            EXPR_IDENT@1374..1377
              PATH@1374..1377
                Ident@1374..1377 "set"
          ARG_LIST@1377..1408
            LParen@1377..1378 "("
            ARG@1378..1405
              EXPR_STRUCT_LITERAL@1378..1403
                PATH@1378..1391
                  Ident@1378..1390 "CollisionKey"
                  Whitespace@1390..1391 " "
                STRUCT_LITERAL_FIELD_LIST@1391..1403
                  LBrace@1391..1392 "{"
                  Whitespace@1392..1393 " "
                  STRUCT_LITERAL_FIELD@1393..1402
                    Ident@1393..1398 "value"
                    Colon@1398..1399 ":"
                    Whitespace@1399..1400 " "
                    EXPR_INT@1400..1402
                      Int@1400..1401 "2"
                      Whitespace@1401..1402 " "
                  RBrace@1402..1403 "}"
              Comma@1403..1404 ","
              Whitespace@1404..1405 " "
            ARG@1405..1407
              EXPR_INT@1405..1407
                Int@1405..1407 "20"
            RParen@1407..1408 ")"
        Semi@1408..1409 ";"
        Whitespace@1409..1414 "\n    "
      STMT_EXPR@1414..1461
        EXPR_CALL@1414..1455
          EXPR_BINARY@1414..1424
            EXPR_IDENT@1414..1420
              PATH@1414..1420
                Ident@1414..1420 "values"
            Dot@1420..1421 "."
            EXPR_IDENT@1421..1424
              PATH@1421..1424
                Ident@1421..1424 "set"
          ARG_LIST@1424..1455
            LParen@1424..1425 "("
            ARG@1425..1452
              EXPR_STRUCT_LITERAL@1425..1450
                PATH@1425..1438
                  Ident@1425..1437 "CollisionKey"
                  Whitespace@1437..1438 " "
                STRUCT_LITERAL_FIELD_LIST@1438..1450
                  LBrace@1438..1439 "{"
                  Whitespace@1439..1440 " "
                  STRUCT_LITERAL_FIELD@1440..1449
                    Ident@1440..1445 "value"
                    Colon@1445..1446 ":"
                    Whitespace@1446..1447 " "
                    EXPR_INT@1447..1449
                      Int@1447..1448 "3"
                      Whitespace@1448..1449 " "
                  RBrace@1449..1450 "}"
              Comma@1450..1451 ","
              Whitespace@1451..1452 " "
            ARG@1452..1454
              EXPR_INT@1452..1454
                Int@1452..1454 "30"
            RParen@1454..1455 ")"
        Semi@1455..1456 ";"
        Whitespace@1456..1461 "\n    "
      STMT_EXPR@1461..1507
        EXPR_CALL@1461..1501
          EXPR_BINARY@1461..1474
            EXPR_IDENT@1461..1467
              PATH@1461..1467
                Ident@1461..1467 "values"
            Dot@1467..1468 "."
            EXPR_IDENT@1468..1474
              PATH@1468..1474
                Ident@1468..1474 "remove"
          ARG_LIST@1474..1501
            LParen@1474..1475 "("
            ARG@1475..1500
              EXPR_STRUCT_LITERAL@1475..1500
                PATH@1475..1488
                  Ident@1475..1487 "CollisionKey"
                  Whitespace@1487..1488 " "
                STRUCT_LITERAL_FIELD_LIST@1488..1500
                  LBrace@1488..1489 "{"
                  Whitespace@1489..1490 " "
                  STRUCT_LITERAL_FIELD@1490..1499
                    Ident@1490..1495 "value"
                    Colon@1495..1496 ":"
                    Whitespace@1496..1497 " "
                    EXPR_INT@1497..1499
                      Int@1497..1498 "2"
                      Whitespace@1498..1499 " "
                  RBrace@1499..1500 "}"
            RParen@1500..1501 ")"
        Semi@1501..1502 ";"
        Whitespace@1502..1507 "\n    "
      STMT_EXPR@1507..1565
        EXPR_CALL@1507..1559
          EXPR_IDENT@1507..1520
            PATH@1507..1520
              Ident@1507..1520 "print_opt_int"
          ARG_LIST@1520..1559
            LParen@1520..1521 "("
            ARG@1521..1558
              EXPR_CALL@1521..1558
                EXPR_BINARY@1521..1531
                  EXPR_IDENT@1521..1527
                    PATH@1521..1527
                      Ident@1521..1527 "values"
                  Dot@1527..1528 "."
                  EXPR_IDENT@1528..1531
                    PATH@1528..1531
                      Ident@1528..1531 "get"
                ARG_LIST@1531..1558
                  LParen@1531..1532 "("
                  ARG@1532..1557
                    EXPR_STRUCT_LITERAL@1532..1557
                      PATH@1532..1545
                        Ident@1532..1544 "CollisionKey"
                        Whitespace@1544..1545 " "
                      STRUCT_LITERAL_FIELD_LIST@1545..1557
                        LBrace@1545..1546 "{"
                        Whitespace@1546..1547 " "
                        STRUCT_LITERAL_FIELD@1547..1556
                          Ident@1547..1552 "value"
                          Colon@1552..1553 ":"
                          Whitespace@1553..1554 " "
                          EXPR_INT@1554..1556
                            Int@1554..1555 "1"
                            Whitespace@1555..1556 " "
                        RBrace@1556..1557 "}"
                  RParen@1557..1558 ")"
            RParen@1558..1559 ")"
        Semi@1559..1560 ";"
        Whitespace@1560..1565 "\n    "
      STMT_EXPR@1565..1623
        EXPR_CALL@1565..1617
          EXPR_IDENT@1565..1578
            PATH@1565..1578
              Ident@1565..1578 "print_opt_int"
          ARG_LIST@1578..1617
            LParen@1578..1579 "("
            ARG@1579..1616
              EXPR_CALL@1579..1616
                EXPR_BINARY@1579..1589
                  EXPR_IDENT@1579..1585
                    PATH@1579..1585
                      Ident@1579..1585 "values"
                  Dot@1585..1586 "."
                  EXPR_IDENT@1586..1589
                    PATH@1586..1589
                      Ident@1586..1589 "get"
                ARG_LIST@1589..1616
                  LParen@1589..1590 "("
                  ARG@1590..1615
                    EXPR_STRUCT_LITERAL@1590..1615
                      PATH@1590..1603
                        Ident@1590..1602 "CollisionKey"
                        Whitespace@1602..1603 " "
                      STRUCT_LITERAL_FIELD_LIST@1603..1615
                        LBrace@1603..1604 "{"
                        Whitespace@1604..1605 " "
                        STRUCT_LITERAL_FIELD@1605..1614
                          Ident@1605..1610 "value"
                          Colon@1610..1611 ":"
                          Whitespace@1611..1612 " "
                          EXPR_INT@1612..1614
                            Int@1612..1613 "2"
                            Whitespace@1613..1614 " "
                        RBrace@1614..1615 "}"
                  RParen@1615..1616 ")"
            RParen@1616..1617 ")"
        Semi@1617..1618 ";"
        Whitespace@1618..1623 "\n    "
      STMT_EXPR@1623..1681
        EXPR_CALL@1623..1675
          EXPR_IDENT@1623..1636
            PATH@1623..1636
              Ident@1623..1636 "print_opt_int"
          ARG_LIST@1636..1675
            LParen@1636..1637 "("
            ARG@1637..1674
              EXPR_CALL@1637..1674
                EXPR_BINARY@1637..1647
                  EXPR_IDENT@1637..1643
                    PATH@1637..1643
                      Ident@1637..1643 "values"
                  Dot@1643..1644 "."
                  EXPR_IDENT@1644..1647
                    PATH@1644..1647
                      Ident@1644..1647 "get"
                ARG_LIST@1647..1674
                  LParen@1647..1648 "("
                  ARG@1648..1673
                    EXPR_STRUCT_LITERAL@1648..1673
                      PATH@1648..1661
                        Ident@1648..1660 "CollisionKey"
                        Whitespace@1660..1661 " "
                      STRUCT_LITERAL_FIELD_LIST@1661..1673
                        LBrace@1661..1662 "{"
                        Whitespace@1662..1663 " "
                        STRUCT_LITERAL_FIELD@1663..1672
                          Ident@1663..1668 "value"
                          Colon@1668..1669 ":"
                          Whitespace@1669..1670 " "
                          EXPR_INT@1670..1672
                            Int@1670..1671 "3"
                            Whitespace@1671..1672 " "
                        RBrace@1672..1673 "}"
                  RParen@1673..1674 ")"
            RParen@1674..1675 ")"
        Semi@1675..1676 ";"
        Whitespace@1676..1681 "\n    "
      STMT_EXPR@1681..1728
        EXPR_CALL@1681..1722
          EXPR_BINARY@1681..1691
            EXPR_IDENT@1681..1687
              PATH@1681..1687
                Ident@1681..1687 "values"
            Dot@1687..1688 "."
            EXPR_IDENT@1688..1691
              PATH@1688..1691
                Ident@1688..1691 "set"
          ARG_LIST@1691..1722
            LParen@1691..1692 "("
            ARG@1692..1719
              EXPR_STRUCT_LITERAL@1692..1717
                PATH@1692..1705
                  Ident@1692..1704 "CollisionKey"
                  Whitespace@1704..1705 " "
                STRUCT_LITERAL_FIELD_LIST@1705..1717
                  LBrace@1705..1706 "{"
                  Whitespace@1706..1707 " "
                  STRUCT_LITERAL_FIELD@1707..1716
                    Ident@1707..1712 "value"
                    Colon@1712..1713 ":"
                    Whitespace@1713..1714 " "
                    EXPR_INT@1714..1716
                      Int@1714..1715 "4"
                      Whitespace@1715..1716 " "
                  RBrace@1716..1717 "}"
              Comma@1717..1718 ","
              Whitespace@1718..1719 " "
            ARG@1719..1721
              EXPR_INT@1719..1721
                Int@1719..1721 "40"
            RParen@1721..1722 ")"
        Semi@1722..1723 ";"
        Whitespace@1723..1728 "\n    "
      STMT_EXPR@1728..1755
        EXPR_CALL@1728..1749
          EXPR_IDENT@1728..1735
            PATH@1728..1735
              Ident@1728..1735 "println"
          ARG_LIST@1735..1749
            LParen@1735..1736 "("
            ARG@1736..1748
              EXPR_CALL@1736..1748
                EXPR_BINARY@1736..1746
                  EXPR_IDENT@1736..1742
                    PATH@1736..1742
                      Ident@1736..1742 "values"
                  Dot@1742..1743 "."
                  EXPR_IDENT@1743..1746
                    PATH@1743..1746
                      Ident@1743..1746 "len"
                ARG_LIST@1746..1748
                  LParen@1746..1747 "("
                  RParen@1747..1748 ")"
            RParen@1748..1749 ")"
        Semi@1749..1750 ";"
        Whitespace@1750..1755 "\n    "
      STMT_EXPR@1755..1813
        EXPR_CALL@1755..1807
          EXPR_IDENT@1755..1768
            PATH@1755..1768
              Ident@1755..1768 "print_opt_int"
          ARG_LIST@1768..1807
            LParen@1768..1769 "("
            ARG@1769..1806
              EXPR_CALL@1769..1806
                EXPR_BINARY@1769..1779
                  EXPR_IDENT@1769..1775
                    PATH@1769..1775
                      Ident@1769..1775 "values"
                  Dot@1775..1776 "."
                  EXPR_IDENT@1776..1779
                    PATH@1776..1779
                      Ident@1776..1779 "get"
                ARG_LIST@1779..1806
                  LParen@1779..1780 "("
                  ARG@1780..1805
                    EXPR_STRUCT_LITERAL@1780..1805
                      PATH@1780..1793
                        Ident@1780..1792 "CollisionKey"
                        Whitespace@1792..1793 " "
                      STRUCT_LITERAL_FIELD_LIST@1793..1805
                        LBrace@1793..1794 "{"
                        Whitespace@1794..1795 " "
                        STRUCT_LITERAL_FIELD@1795..1804
                          Ident@1795..1800 "value"
                          Colon@1800..1801 ":"
                          Whitespace@1801..1802 " "
                          EXPR_INT@1802..1804
                            Int@1802..1803 "4"
                            Whitespace@1803..1804 " "
                        RBrace@1804..1805 "}"
                  RParen@1805..1806 ")"
            RParen@1806..1807 ")"
        Semi@1807..1808 ";"
        Whitespace@1808..1813 "\n    "
      STMT_EXPR@1813..1860
        EXPR_CALL@1813..1854
          EXPR_BINARY@1813..1823
            EXPR_IDENT@1813..1819
              PATH@1813..1819
                Ident@1813..1819 "values"
            Dot@1819..1820 "."
            EXPR_IDENT@1820..1823
              PATH@1820..1823
                Ident@1820..1823 "set"
          ARG_LIST@1823..1854
            LParen@1823..1824 "("
            ARG@1824..1851
              EXPR_STRUCT_LITERAL@1824..1849
                PATH@1824..1837
                  Ident@1824..1836 "CollisionKey"
                  Whitespace@1836..1837 " "
                STRUCT_LITERAL_FIELD_LIST@1837..1849
                  LBrace@1837..1838 "{"
                  Whitespace@1838..1839 " "
                  STRUCT_LITERAL_FIELD@1839..1848
                    Ident@1839..1844 "value"
                    Colon@1844..1845 ":"
                    Whitespace@1845..1846 " "
                    EXPR_INT@1846..1848
                      Int@1846..1847 "4"
                      Whitespace@1847..1848 " "
                  RBrace@1848..1849 "}"
              Comma@1849..1850 ","
              Whitespace@1850..1851 " "
            ARG@1851..1853
              EXPR_INT@1851..1853
                Int@1851..1853 "41"
            RParen@1853..1854 ")"
        Semi@1854..1855 ";"
        Whitespace@1855..1860 "\n    "
      STMT_EXPR@1860..1887
        EXPR_CALL@1860..1881
          EXPR_IDENT@1860..1867
            PATH@1860..1867
              Ident@1860..1867 "println"
          ARG_LIST@1867..1881
            LParen@1867..1868 "("
            ARG@1868..1880
              EXPR_CALL@1868..1880
                EXPR_BINARY@1868..1878
                  EXPR_IDENT@1868..1874
                    PATH@1868..1874
                      Ident@1868..1874 "values"
                  Dot@1874..1875 "."
                  EXPR_IDENT@1875..1878
                    PATH@1875..1878
                      Ident@1875..1878 "len"
                ARG_LIST@1878..1880
                  LParen@1878..1879 "("
                  RParen@1879..1880 ")"
            RParen@1880..1881 ")"
        Semi@1881..1882 ";"
        Whitespace@1882..1887 "\n    "
      STMT_EXPR@1887..1945
        EXPR_CALL@1887..1939
          EXPR_IDENT@1887..1900
            PATH@1887..1900
              Ident@1887..1900 "print_opt_int"
          ARG_LIST@1900..1939
            LParen@1900..1901 "("
            ARG@1901..1938
              EXPR_CALL@1901..1938
                EXPR_BINARY@1901..1911
                  EXPR_IDENT@1901..1907
                    PATH@1901..1907
                      Ident@1901..1907 "values"
                  Dot@1907..1908 "."
                  EXPR_IDENT@1908..1911
                    PATH@1908..1911
                      Ident@1908..1911 "get"
                ARG_LIST@1911..1938
                  LParen@1911..1912 "("
                  ARG@1912..1937
                    EXPR_STRUCT_LITERAL@1912..1937
                      PATH@1912..1925
                        Ident@1912..1924 "CollisionKey"
                        Whitespace@1924..1925 " "
                      STRUCT_LITERAL_FIELD_LIST@1925..1937
                        LBrace@1925..1926 "{"
                        Whitespace@1926..1927 " "
                        STRUCT_LITERAL_FIELD@1927..1936
                          Ident@1927..1932 "value"
                          Colon@1932..1933 ":"
                          Whitespace@1933..1934 " "
                          EXPR_INT@1934..1936
                            Int@1934..1935 "4"
                            Whitespace@1935..1936 " "
                        RBrace@1936..1937 "}"
                  RParen@1937..1938 ")"
            RParen@1938..1939 ")"
        Semi@1939..1940 ";"
        Whitespace@1940..1945 "\n    "
      STMT_EXPR@1945..1992
        EXPR_CALL@1945..1986
          EXPR_BINARY@1945..1958
            EXPR_IDENT@1945..1951
              PATH@1945..1951
                Ident@1945..1951 "values"
            Dot@1951..1952 "."
            EXPR_IDENT@1952..1958
              PATH@1952..1958
                Ident@1952..1958 "remove"
          ARG_LIST@1958..1986
            LParen@1958..1959 "("
            ARG@1959..1985
              EXPR_STRUCT_LITERAL@1959..1985
                PATH@1959..1972
                  Ident@1959..1971 "CollisionKey"
                  Whitespace@1971..1972 " "
                STRUCT_LITERAL_FIELD_LIST@1972..1985
                  LBrace@1972..1973 "{"
                  Whitespace@1973..1974 " "
                  STRUCT_LITERAL_FIELD@1974..1984
                    Ident@1974..1979 "value"
                    Colon@1979..1980 ":"
                    Whitespace@1980..1981 " "
                    EXPR_INT@1981..1984
                      Int@1981..1983 "99"
                      Whitespace@1983..1984 " "
                  RBrace@1984..1985 "}"
            RParen@1985..1986 ")"
        Semi@1986..1987 ";"
        Whitespace@1987..1992 "\n    "
      STMT_EXPR@1992..2039
        EXPR_CALL@1992..2033
          EXPR_BINARY@1992..2005
            EXPR_IDENT@1992..1998
              PATH@1992..1998
                Ident@1992..1998 "values"
            Dot@1998..1999 "."
            EXPR_IDENT@1999..2005
              PATH@1999..2005
                Ident@1999..2005 "remove"
          ARG_LIST@2005..2033
            LParen@2005..2006 "("
            ARG@2006..2032
              EXPR_STRUCT_LITERAL@2006..2032
                PATH@2006..2019
                  Ident@2006..2018 "CollisionKey"
                  Whitespace@2018..2019 " "
                STRUCT_LITERAL_FIELD_LIST@2019..2032
                  LBrace@2019..2020 "{"
                  Whitespace@2020..2021 " "
                  STRUCT_LITERAL_FIELD@2021..2031
                    Ident@2021..2026 "value"
                    Colon@2026..2027 ":"
                    Whitespace@2027..2028 " "
                    EXPR_INT@2028..2031
                      Int@2028..2030 "99"
                      Whitespace@2030..2031 " "
                  RBrace@2031..2032 "}"
            RParen@2032..2033 ")"
        Semi@2033..2034 ";"
        Whitespace@2034..2039 "\n    "
      STMT_EXPR@2039..2066
        EXPR_CALL@2039..2060
          EXPR_IDENT@2039..2046
            PATH@2039..2046
              Ident@2039..2046 "println"
          ARG_LIST@2046..2060
            LParen@2046..2047 "("
            ARG@2047..2059
              EXPR_CALL@2047..2059
                EXPR_BINARY@2047..2057
                  EXPR_IDENT@2047..2053
                    PATH@2047..2053
                      Ident@2047..2053 "values"
                  Dot@2053..2054 "."
                  EXPR_IDENT@2054..2057
                    PATH@2054..2057
                      Ident@2054..2057 "len"
                ARG_LIST@2057..2059
                  LParen@2057..2058 "("
                  RParen@2058..2059 ")"
            RParen@2059..2060 ")"
        Semi@2060..2061 ";"
        Whitespace@2061..2066 "\n    "
      STMT_LET@2066..2095
        LetKeyword@2066..2069 "let"
        Whitespace@2069..2070 " "
        PATTERN_VARIABLE@2070..2076
          Ident@2070..2075 "index"
          Whitespace@2075..2076 " "
        Eq@2076..2077 "="
        Whitespace@2077..2078 " "
        EXPR_CALL@2078..2089
          EXPR_IDENT@2078..2086
            PATH@2078..2086
              Ident@2078..2081 "Ref"
              ColonColon@2081..2083 "::"
              Ident@2083..2086 "new"
          ARG_LIST@2086..2089
            LParen@2086..2087 "("
            ARG@2087..2088
              EXPR_INT@2087..2088
                Int@2087..2088 "0"
            RParen@2088..2089 ")"
        Semi@2089..2090 ";"
        Whitespace@2090..2095 "\n    "
      STMT_EXPR@2095..2296
        EXPR_WHILE@2095..2296
          WhileKeyword@2095..2100 "while"
          Whitespace@2100..2101 " "
          EXPR_WHILE_COND@2101..2120
            EXPR_BINARY@2101..2120
              EXPR_CALL@2101..2113
                EXPR_BINARY@2101..2110
                  EXPR_IDENT@2101..2106
                    PATH@2101..2106
                      Ident@2101..2106 "index"
                  Dot@2106..2107 "."
                  EXPR_IDENT@2107..2110
                    PATH@2107..2110
                      Ident@2107..2110 "get"
                ARG_LIST@2110..2113
                  LParen@2110..2111 "("
                  RParen@2111..2112 ")"
                  Whitespace@2112..2113 " "
              Less@2113..2114 "<"
              Whitespace@2114..2115 " "
              EXPR_INT@2115..2120
                Int@2115..2119 "2000"
                Whitespace@2119..2120 " "
          EXPR_WHILE_BODY@2120..2296
            BLOCK@2120..2296
              LBrace@2120..2121 "{"
              Whitespace@2121..2130 "\n        "
              STMT_LET@2130..2192
                LetKeyword@2130..2133 "let"
                Whitespace@2133..2134 " "
                PATTERN_VARIABLE@2134..2138
                  Ident@2134..2137 "key"
                  Whitespace@2137..2138 " "
                Eq@2138..2139 "="
                Whitespace@2139..2140 " "
                EXPR_STRUCT_LITERAL@2140..2182
                  PATH@2140..2153
                    Ident@2140..2152 "CollisionKey"
                    Whitespace@2152..2153 " "
                  STRUCT_LITERAL_FIELD_LIST@2153..2182
                    LBrace@2153..2154 "{"
                    Whitespace@2154..2155 " "
                    STRUCT_LITERAL_FIELD@2155..2181
                      Ident@2155..2160 "value"
                      Colon@2160..2161 ":"
                      Whitespace@2161..2162 " "
                      EXPR_BINARY@2162..2181
                        EXPR_INT@2162..2167
                          Int@2162..2166 "1000"
                          Whitespace@2166..2167 " "
                        Plus@2167..2168 "+"
                        Whitespace@2168..2169 " "
                        EXPR_CALL@2169..2181
                          EXPR_BINARY@2169..2178
                            EXPR_IDENT@2169..2174
                              PATH@2169..2174
                                Ident@2169..2174 "index"
                            Dot@2174..2175 "."
                            EXPR_IDENT@2175..2178
                              PATH@2175..2178
                                Ident@2175..2178 "get"
                          ARG_LIST@2178..2181
                            LParen@2178..2179 "("
                            RParen@2179..2180 ")"
                            Whitespace@2180..2181 " "
                    RBrace@2181..2182 "}"
                Semi@2182..2183 ";"
                Whitespace@2183..2192 "\n        "
              STMT_EXPR@2192..2230
                EXPR_CALL@2192..2220
                  EXPR_BINARY@2192..2202
                    EXPR_IDENT@2192..2198
                      PATH@2192..2198
                        Ident@2192..2198 "values"
                    Dot@2198..2199 "."
                    EXPR_IDENT@2199..2202
                      PATH@2199..2202
                        Ident@2199..2202 "set"
                  ARG_LIST@2202..2220
                    LParen@2202..2203 "("
                    ARG@2203..2208
                      EXPR_IDENT@2203..2206
                        PATH@2203..2206
                          Ident@2203..2206 "key"
                      Comma@2206..2207 ","
                      Whitespace@2207..2208 " "
                    ARG@2208..2219
                      EXPR_CALL@2208..2219
                        EXPR_BINARY@2208..2217
                          EXPR_IDENT@2208..2213
                            PATH@2208..2213
                              Ident@2208..2213 "index"
                          Dot@2213..2214 "."
                          EXPR_IDENT@2214..2217
                            PATH@2214..2217
                              Ident@2214..2217 "get"
                        ARG_LIST@2217..2219
                          LParen@2217..2218 "("
                          RParen@2218..2219 ")"
                    RParen@2219..2220 ")"
                Semi@2220..2221 ";"
                Whitespace@2221..2230 "\n        "
              STMT_EXPR@2230..2258
                EXPR_CALL@2230..2248
                  EXPR_BINARY@2230..2243
                    EXPR_IDENT@2230..2236
                      PATH@2230..2236
                        Ident@2230..2236 "values"
                    Dot@2236..2237 "."
                    EXPR_IDENT@2237..2243
                      PATH@2237..2243
                        Ident@2237..2243 "remove"
                  ARG_LIST@2243..2248
                    LParen@2243..2244 "("
                    ARG@2244..2247
                      EXPR_IDENT@2244..2247
                        PATH@2244..2247
                          Ident@2244..2247 "key"
                    RParen@2247..2248 ")"
                Semi@2248..2249 ";"
                Whitespace@2249..2258 "\n        "
              STMT_EXPR@2258..2290
                EXPR_CALL@2258..2284
                  EXPR_BINARY@2258..2267
                    EXPR_IDENT@2258..2263
                      PATH@2258..2263
                        Ident@2258..2263 "index"
                    Dot@2263..2264 "."
                    EXPR_IDENT@2264..2267
                      PATH@2264..2267
                        Ident@2264..2267 "set"
                  ARG_LIST@2267..2284
                    LParen@2267..2268 "("
                    ARG@2268..2283
                      EXPR_BINARY@2268..2283
                        EXPR_CALL@2268..2280
                          EXPR_BINARY@2268..2277
                            EXPR_IDENT@2268..2273
                              PATH@2268..2273
                                Ident@2268..2273 "index"
                            Dot@2273..2274 "."
                            EXPR_IDENT@2274..2277
                              PATH@2274..2277
                                Ident@2274..2277 "get"
                          ARG_LIST@2277..2280
                            LParen@2277..2278 "("
                            RParen@2278..2279 ")"
                            Whitespace@2279..2280 " "
                        Plus@2280..2281 "+"
                        Whitespace@2281..2282 " "
                        EXPR_INT@2282..2283
                          Int@2282..2283 "1"
                    RParen@2283..2284 ")"
                Semi@2284..2285 ";"
                Whitespace@2285..2290 "\n    "
              RBrace@2290..2291 "}"
              Whitespace@2291..2296 "\n    "
      STMT_EXPR@2296..2319
        EXPR_CALL@2296..2317
          EXPR_IDENT@2296..2303
            PATH@2296..2303
              Ident@2296..2303 "println"
          ARG_LIST@2303..2317
            LParen@2303..2304 "("
            ARG@2304..2316
              EXPR_CALL@2304..2316
                EXPR_BINARY@2304..2314
                  EXPR_IDENT@2304..2310
                    PATH@2304..2310
                      Ident@2304..2310 "values"
                  Dot@2310..2311 "."
                  EXPR_IDENT@2311..2314
                    PATH@2311..2314
                      Ident@2311..2314 "len"
                ARG_LIST@2314..2316
                  LParen@2314..2315 "("
                  RParen@2315..2316 ")"
            RParen@2316..2317 ")"
        Semi@2317..2318 ";"
        Whitespace@2318..2319 "\n"
      RBrace@2319..2320 "}"
      Whitespace@2320..2322 "\n\n"
  FN@2322..2896
    FnKeyword@2322..2324 "fn"
    Whitespace@2324..2325 " "
    Ident@2325..2344 "reference_contracts"
    PARAM_LIST@2344..2347
      LParen@2344..2345 "("
      RParen@2345..2346 ")"
      Whitespace@2346..2347 " "
    Arrow@2347..2349 "->"
    Whitespace@2349..2350 " "
    TYPE_TUPLE@2350..2353
      TYPE_LIST@2350..2353
        LParen@2350..2351 "("
        RParen@2351..2352 ")"
        Whitespace@2352..2353 " "
    BLOCK@2353..2896
      LBrace@2353..2354 "{"
      Whitespace@2354..2359 "\n    "
      STMT_LET@2359..2428
        LetKeyword@2359..2362 "let"
        Whitespace@2362..2363 " "
        PATTERN_VARIABLE@2363..2369
          Ident@2363..2369 "values"
        Colon@2369..2370 ":"
        Whitespace@2370..2371 " "
        TYPE_TAPP@2371..2406
          PATH@2371..2378
            Ident@2371..2378 "HashMap"
          TYPE_PARAM_LIST@2378..2406
            LBracket@2378..2379 "["
            TYPE_TAPP@2379..2396
              PATH@2379..2382
                Ident@2379..2382 "Ref"
              TYPE_PARAM_LIST@2382..2396
                LBracket@2382..2383 "["
                TYPE_TAPP@2383..2395
                  PATH@2383..2395
                    Ident@2383..2395 "CollisionKey"
                RBracket@2395..2396 "]"
            Comma@2396..2397 ","
            Whitespace@2397..2398 " "
            TYPE_STRING@2398..2404
              StringKeyword@2398..2404 "string"
            RBracket@2404..2405 "]"
            Whitespace@2405..2406 " "
        Eq@2406..2407 "="
        Whitespace@2407..2408 " "
        EXPR_CALL@2408..2422
          EXPR_IDENT@2408..2420
            PATH@2408..2420
              Ident@2408..2415 "HashMap"
              ColonColon@2415..2417 "::"
              Ident@2417..2420 "new"
          ARG_LIST@2420..2422
            LParen@2420..2421 "("
            RParen@2421..2422 ")"
        Semi@2422..2423 ";"
        Whitespace@2423..2428 "\n    "
      STMT_LET@2428..2479
        LetKeyword@2428..2431 "let"
        Whitespace@2431..2432 " "
        PATTERN_VARIABLE@2432..2436
          Ident@2432..2435 "key"
          Whitespace@2435..2436 " "
        Eq@2436..2437 "="
        Whitespace@2437..2438 " "
        EXPR_CALL@2438..2473
          EXPR_IDENT@2438..2446
            PATH@2438..2446
              Ident@2438..2441 "Ref"
              ColonColon@2441..2443 "::"
              Ident@2443..2446 "new"
          ARG_LIST@2446..2473
            LParen@2446..2447 "("
            ARG@2447..2472
              EXPR_STRUCT_LITERAL@2447..2472
                PATH@2447..2460
                  Ident@2447..2459 "CollisionKey"
                  Whitespace@2459..2460 " "
                STRUCT_LITERAL_FIELD_LIST@2460..2472
                  LBrace@2460..2461 "{"
                  Whitespace@2461..2462 " "
                  STRUCT_LITERAL_FIELD@2462..2471
                    Ident@2462..2467 "value"
                    Colon@2467..2468 ":"
                    Whitespace@2468..2469 " "
                    EXPR_INT@2469..2471
                      Int@2469..2470 "1"
                      Whitespace@2470..2471 " "
                  RBrace@2471..2472 "}"
            RParen@2472..2473 ")"
        Semi@2473..2474 ";"
        Whitespace@2474..2479 "\n    "
      STMT_LET@2479..2500
        LetKeyword@2479..2482 "let"
        Whitespace@2482..2483 " "
        PATTERN_VARIABLE@2483..2489
          Ident@2483..2488 "alias"
          Whitespace@2488..2489 " "
        Eq@2489..2490 "="
        Whitespace@2490..2491 " "
        EXPR_IDENT@2491..2494
          PATH@2491..2494
            Ident@2491..2494 "key"
        Semi@2494..2495 ";"
        Whitespace@2495..2500 "\n    "
      STMT_LET@2500..2559
        LetKeyword@2500..2503 "let"
        Whitespace@2503..2504 " "
        PATTERN_VARIABLE@2504..2516
          Ident@2504..2515 "equal_value"
          Whitespace@2515..2516 " "
        Eq@2516..2517 "="
        Whitespace@2517..2518 " "
        EXPR_CALL@2518..2553
          EXPR_IDENT@2518..2526
            PATH@2518..2526
              Ident@2518..2521 "Ref"
              ColonColon@2521..2523 "::"
              Ident@2523..2526 "new"
          ARG_LIST@2526..2553
            LParen@2526..2527 "("
            ARG@2527..2552
              EXPR_STRUCT_LITERAL@2527..2552
                PATH@2527..2540
                  Ident@2527..2539 "CollisionKey"
                  Whitespace@2539..2540 " "
                STRUCT_LITERAL_FIELD_LIST@2540..2552
                  LBrace@2540..2541 "{"
                  Whitespace@2541..2542 " "
                  STRUCT_LITERAL_FIELD@2542..2551
                    Ident@2542..2547 "value"
                    Colon@2547..2548 ":"
                    Whitespace@2548..2549 " "
                    EXPR_INT@2549..2551
                      Int@2549..2550 "1"
                      Whitespace@2550..2551 " "
                  RBrace@2551..2552 "}"
            RParen@2552..2553 ")"
        Semi@2553..2554 ";"
        Whitespace@2554..2559 "\n    "
      STMT_EXPR@2559..2592
        EXPR_CALL@2559..2586
          EXPR_BINARY@2559..2569
            EXPR_IDENT@2559..2565
              PATH@2559..2565
                Ident@2559..2565 "values"
            Dot@2565..2566 "."
            EXPR_IDENT@2566..2569
              PATH@2566..2569
                Ident@2566..2569 "set"
          ARG_LIST@2569..2586
            LParen@2569..2570 "("
            ARG@2570..2575
              EXPR_IDENT@2570..2573
                PATH@2570..2573
                  Ident@2570..2573 "key"
              Comma@2573..2574 ","
              Whitespace@2574..2575 " "
            ARG@2575..2585
              EXPR_STR@2575..2585
                Str@2575..2585 "\"identity\""
            RParen@2585..2586 ")"
        Semi@2586..2587 ";"
        Whitespace@2587..2592 "\n    "
      STMT_EXPR@2592..2632
        EXPR_CALL@2592..2626
          EXPR_IDENT@2592..2599
            PATH@2592..2599
              Ident@2592..2599 "println"
          ARG_LIST@2599..2626
            LParen@2599..2600 "("
            ARG@2600..2625
              EXPR_CALL@2600..2625
                EXPR_IDENT@2600..2613
                  PATH@2600..2613
                    Ident@2600..2609 "PartialEq"
                    ColonColon@2609..2611 "::"
                    Ident@2611..2613 "eq"
                ARG_LIST@2613..2625
                  LParen@2613..2614 "("
                  ARG@2614..2619
                    EXPR_IDENT@2614..2617
                      PATH@2614..2617
                        Ident@2614..2617 "key"
                    Comma@2617..2618 ","
                    Whitespace@2618..2619 " "
                  ARG@2619..2624
                    EXPR_IDENT@2619..2624
                      PATH@2619..2624
                        Ident@2619..2624 "alias"
                  RParen@2624..2625 ")"
            RParen@2625..2626 ")"
        Semi@2626..2627 ";"
        Whitespace@2627..2632 "\n    "
      STMT_EXPR@2632..2678
        EXPR_CALL@2632..2672
          EXPR_IDENT@2632..2639
            PATH@2632..2639
              Ident@2632..2639 "println"
          ARG_LIST@2639..2672
            LParen@2639..2640 "("
            ARG@2640..2671
              EXPR_CALL@2640..2671
                EXPR_IDENT@2640..2653
                  PATH@2640..2653
                    Ident@2640..2649 "PartialEq"
                    ColonColon@2649..2651 "::"
                    Ident@2651..2653 "eq"
                ARG_LIST@2653..2671
                  LParen@2653..2654 "("
                  ARG@2654..2659
                    EXPR_IDENT@2654..2657
                      PATH@2654..2657
                        Ident@2654..2657 "key"
                    Comma@2657..2658 ","
                    Whitespace@2658..2659 " "
                  ARG@2659..2670
                    EXPR_IDENT@2659..2670
                      PATH@2659..2670
                        Ident@2659..2670 "equal_value"
                  RParen@2670..2671 ")"
            RParen@2671..2672 ")"
        Semi@2672..2673 ";"
        Whitespace@2673..2678 "\n    "
      STMT_EXPR@2678..2729
        EXPR_CALL@2678..2723
          EXPR_IDENT@2678..2685
            PATH@2678..2685
              Ident@2678..2685 "println"
          ARG_LIST@2685..2723
            LParen@2685..2686 "("
            ARG@2686..2722
              EXPR_BINARY@2686..2722
                EXPR_CALL@2686..2702
                  EXPR_IDENT@2686..2696
                    PATH@2686..2696
                      Ident@2686..2690 "Hash"
                      ColonColon@2690..2692 "::"
                      Ident@2692..2696 "hash"
                  ARG_LIST@2696..2702
                    LParen@2696..2697 "("
                    ARG@2697..2700
                      EXPR_IDENT@2697..2700
                        PATH@2697..2700
                          Ident@2697..2700 "key"
                    RParen@2700..2701 ")"
                    Whitespace@2701..2702 " "
                EqEq@2702..2704 "=="
                Whitespace@2704..2705 " "
                EXPR_CALL@2705..2722
                  EXPR_IDENT@2705..2715
                    PATH@2705..2715
                      Ident@2705..2709 "Hash"
                      ColonColon@2709..2711 "::"
                      Ident@2711..2715 "hash"
                  ARG_LIST@2715..2722
                    LParen@2715..2716 "("
                    ARG@2716..2721
                      EXPR_IDENT@2716..2721
                        PATH@2716..2721
                          Ident@2716..2721 "alias"
                    RParen@2721..2722 ")"
            RParen@2722..2723 ")"
        Semi@2723..2724 ";"
        Whitespace@2724..2729 "\n    "
      STMT_EXPR@2729..2770
        EXPR_CALL@2729..2764
          EXPR_IDENT@2729..2745
            PATH@2729..2745
              Ident@2729..2745 "print_opt_string"
          ARG_LIST@2745..2764
            LParen@2745..2746 "("
            ARG@2746..2763
              EXPR_CALL@2746..2763
                EXPR_BINARY@2746..2756
                  EXPR_IDENT@2746..2752
                    PATH@2746..2752
                      Ident@2746..2752 "values"
                  Dot@2752..2753 "."
                  EXPR_IDENT@2753..2756
                    PATH@2753..2756
                      Ident@2753..2756 "get"
                ARG_LIST@2756..2763
                  LParen@2756..2757 "("
                  ARG@2757..2762
                    EXPR_IDENT@2757..2762
                      PATH@2757..2762
                        Ident@2757..2762 "alias"
                  RParen@2762..2763 ")"
            RParen@2763..2764 ")"
        Semi@2764..2765 ";"
        Whitespace@2765..2770 "\n    "
      STMT_EXPR@2770..2817
        EXPR_CALL@2770..2811
          EXPR_IDENT@2770..2786
            PATH@2770..2786
              Ident@2770..2786 "print_opt_string"
          ARG_LIST@2786..2811
            LParen@2786..2787 "("
            ARG@2787..2810
              EXPR_CALL@2787..2810
                EXPR_BINARY@2787..2797
                  EXPR_IDENT@2787..2793
                    PATH@2787..2793
                      Ident@2787..2793 "values"
                  Dot@2793..2794 "."
                  EXPR_IDENT@2794..2797
                    PATH@2794..2797
                      Ident@2794..2797 "get"
                ARG_LIST@2797..2810
                  LParen@2797..2798 "("
                  ARG@2798..2809
                    EXPR_IDENT@2798..2809
                      PATH@2798..2809
                        Ident@2798..2809 "equal_value"
                  RParen@2809..2810 ")"
            RParen@2810..2811 ")"
        Semi@2811..2812 ";"
        Whitespace@2812..2817 "\n    "
      STMT_EXPR@2817..2858
        EXPR_CALL@2817..2852
          EXPR_BINARY@2817..2824
            EXPR_IDENT@2817..2820
              PATH@2817..2820
                Ident@2817..2820 "key"
            Dot@2820..2821 "."
            EXPR_IDENT@2821..2824
              PATH@2821..2824
                Ident@2821..2824 "set"
          ARG_LIST@2824..2852
            LParen@2824..2825 "("
            ARG@2825..2851
              EXPR_STRUCT_LITERAL@2825..2851
                PATH@2825..2838
                  Ident@2825..2837 "CollisionKey"
                  Whitespace@2837..2838 " "
                STRUCT_LITERAL_FIELD_LIST@2838..2851
                  LBrace@2838..2839 "{"
                  Whitespace@2839..2840 " "
                  STRUCT_LITERAL_FIELD@2840..2850
                    Ident@2840..2845 "value"
                    Colon@2845..2846 ":"
                    Whitespace@2846..2847 " "
                    EXPR_INT@2847..2850
                      Int@2847..2849 "99"
                      Whitespace@2849..2850 " "
                  RBrace@2850..2851 "}"
            RParen@2851..2852 ")"
        Semi@2852..2853 ";"
        Whitespace@2853..2858 "\n    "
      STMT_EXPR@2858..2893
        EXPR_CALL@2858..2891
          EXPR_IDENT@2858..2874
            PATH@2858..2874
              Ident@2858..2874 "print_opt_string"
          ARG_LIST@2874..2891
            LParen@2874..2875 "("
            ARG@2875..2890
              EXPR_CALL@2875..2890
                EXPR_BINARY@2875..2885
                  EXPR_IDENT@2875..2881
                    PATH@2875..2881
                      Ident@2875..2881 "values"
                  Dot@2881..2882 "."
                  EXPR_IDENT@2882..2885
                    PATH@2882..2885
                      Ident@2882..2885 "get"
                ARG_LIST@2885..2890
                  LParen@2885..2886 "("
                  ARG@2886..2889
                    EXPR_IDENT@2886..2889
                      PATH@2886..2889
                        Ident@2886..2889 "key"
                  RParen@2889..2890 ")"
            RParen@2890..2891 ")"
        Semi@2891..2892 ";"
        Whitespace@2892..2893 "\n"
      RBrace@2893..2894 "}"
      Whitespace@2894..2896 "\n\n"
  FN@2896..3004
    FnKeyword@2896..2898 "fn"
    Whitespace@2898..2899 " "
    Ident@2899..2903 "main"
    PARAM_LIST@2903..2906
      LParen@2903..2904 "("
      RParen@2904..2905 ")"
      Whitespace@2905..2906 " "
    Arrow@2906..2908 "->"
    Whitespace@2908..2909 " "
    TYPE_TUPLE@2909..2912
      TYPE_LIST@2909..2912
        LParen@2909..2910 "("
        RParen@2910..2911 ")"
        Whitespace@2911..2912 " "
    BLOCK@2912..3004
      LBrace@2912..2913 "{"
      Whitespace@2913..2918 "\n    "
      STMT_EXPR@2918..2952
        EXPR_CALL@2918..2946
          EXPR_IDENT@2918..2944
            PATH@2918..2944
              Ident@2918..2944 "float_comparison_cont ..."
          ARG_LIST@2944..2946
            LParen@2944..2945 "("
            RParen@2945..2946 ")"
        Semi@2946..2947 ";"
        Whitespace@2947..2952 "\n    "
      STMT_EXPR@2952..2979
        EXPR_CALL@2952..2973
          EXPR_IDENT@2952..2971
            PATH@2952..2971
              Ident@2952..2971 "collision_contracts"
          ARG_LIST@2971..2973
            LParen@2971..2972 "("
            RParen@2972..2973 ")"
        Semi@2973..2974 ";"
        Whitespace@2974..2979 "\n    "
      STMT_EXPR@2979..3002
        EXPR_CALL@2979..3000
          EXPR_IDENT@2979..2998
            PATH@2979..2998
              Ident@2979..2998 "reference_contracts"
          ARG_LIST@2998..3000
            LParen@2998..2999 "("
            RParen@2999..3000 ")"
        Semi@3000..3001 ";"
        Whitespace@3001..3002 "\n"
      RBrace@3002..3003 "}"
      Whitespace@3003..3004 "\n"