FILE@0..335
  FN@0..335
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..335
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..48
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "v"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..42
          EXPR_IDENT@32..40
            PATH@32..40
              Ident@32..35 "Vec"
              ColonColon@35..37 "::"
              Ident@37..40 "new"
          ARG_LIST@40..42
            LParen@40..41 "("
            RParen@41..42 ")"
        Semi@42..43 ";"
        Whitespace@43..48 "\n    "
      STMT_EXPR@48..64
        EXPR_CALL@48..58
          EXPR_BINARY@48..54
            EXPR_IDENT@48..49
              PATH@48..49
                Ident@48..49 "v"
            Dot@49..50 "."
            EXPR_IDENT@50..54
              PATH@50..54
                Ident@50..54 "push"
          ARG_LIST@54..58
            LParen@54..55 "("
            ARG@55..57
              EXPR_INT@55..57
                Int@55..57 "10"
            RParen@57..58 ")"
        Semi@58..59 ";"
        Whitespace@59..64 "\n    "
      STMT_EXPR@64..80
        EXPR_CALL@64..74
          EXPR_BINARY@64..70
            EXPR_IDENT@64..65
              PATH@64..65
                Ident@64..65 "v"
            Dot@65..66 "."
            EXPR_IDENT@66..70
              PATH@66..70
                Ident@66..70 "push"
          ARG_LIST@70..74
            LParen@70..71 "("
            ARG@71..73
              EXPR_INT@71..73
                Int@71..73 "20"
            RParen@73..74 ")"
        Semi@74..75 ";"
        Whitespace@75..80 "\n    "
      STMT_EXPR@80..96
        EXPR_CALL@80..90
          EXPR_BINARY@80..86
            EXPR_IDENT@80..81
              PATH@80..81
                Ident@80..81 "v"
            Dot@81..82 "."
            EXPR_IDENT@82..86
              PATH@82..86
                Ident@82..86 "push"
          ARG_LIST@86..90
            LParen@86..87 "("
            ARG@87..89
              EXPR_INT@87..89
                Int@87..89 "30"
            RParen@89..90 ")"
        Semi@90..91 ";"
        Whitespace@91..96 "\n    "
      STMT_EXPR@96..112
        EXPR_CALL@96..106
          EXPR_BINARY@96..102
            EXPR_IDENT@96..97
              PATH@96..97
                Ident@96..97 "v"
            Dot@97..98 "."
            EXPR_IDENT@98..102
              PATH@98..102
                Ident@98..102 "push"
          ARG_LIST@102..106
            LParen@102..103 "("
            ARG@103..105
              EXPR_INT@103..105
                Int@103..105 "40"
            RParen@105..106 ")"
        Semi@106..107 ";"
        Whitespace@107..112 "\n    "
      STMT_LET@112..153
        LetKeyword@112..115 "let"
        Whitespace@115..116 " "
        PATTERN_VARIABLE@116..117
          Ident@116..117 "s"
        Colon@117..118 ":"
        Whitespace@118..119 " "
        TYPE_TAPP@119..132
          PATH@119..124
            Ident@119..124 "Slice"
          TYPE_PARAM_LIST@124..132
            LBracket@124..125 "["
            TYPE_INT32@125..130
              Int32Keyword@125..130 "int32"
            RBracket@130..131 "]"
            Whitespace@131..132 " "
        Eq@132..133 "="
        Whitespace@133..134 " "
        EXPR_CALL@134..147
          EXPR_BINARY@134..141
            EXPR_IDENT@134..135
              PATH@134..135
                Ident@134..135 "v"
            Dot@135..136 "."
            EXPR_IDENT@136..141
              PATH@136..141
                Ident@136..141 "slice"
          ARG_LIST@141..147
            LParen@141..142 "("
            ARG@142..145
              EXPR_INT@142..143
                Int@142..143 "1"
              Comma@143..144 ","
              Whitespace@144..145 " "
            ARG@145..146
              EXPR_INT@145..146
                Int@145..146 "4"
            RParen@146..147 ")"
        Semi@147..148 ";"
        Whitespace@148..153 "\n    "
      STMT_EXPR@153..175
        EXPR_CALL@153..169
          EXPR_IDENT@153..160
            PATH@153..160
              Ident@153..160 "println"
          ARG_LIST@160..169
            LParen@160..161 "("
            ARG@161..168
              EXPR_CALL@161..168
                EXPR_BINARY@161..166
                  EXPR_IDENT@161..162
                    PATH@161..162
                      Ident@161..162 "s"
                  Dot@162..163 "."
                  EXPR_IDENT@163..166
                    PATH@163..166
                      Ident@163..166 "len"
                ARG_LIST@166..168
                  LParen@166..167 "("
                  RParen@167..168 ")"
            RParen@168..169 ")"
        Semi@169..170 ";"
        Whitespace@170..175 "\n    "
      STMT_EXPR@175..198
        EXPR_CALL@175..192
          EXPR_IDENT@175..182
            PATH@175..182
              Ident@175..182 "println"
          ARG_LIST@182..192
            LParen@182..183 "("
            ARG@183..191
              EXPR_CALL@183..191
                EXPR_BINARY@183..188
                  EXPR_IDENT@183..184
                    PATH@183..184
                      Ident@183..184 "s"
                  Dot@184..185 "."
                  EXPR_IDENT@185..188
                    PATH@185..188
                      Ident@185..188 "get"
                ARG_LIST@188..191
                  LParen@188..189 "("
                  ARG@189..190
                    EXPR_INT@189..190
                      Int@189..190 "0"
                  RParen@190..191 ")"
            RParen@191..192 ")"
        Semi@192..193 ";"
        Whitespace@193..198 "\n    "
      STMT_EXPR@198..221
        EXPR_CALL@198..215
          EXPR_IDENT@198..205
            PATH@198..205
              Ident@198..205 "println"
          ARG_LIST@205..215
            LParen@205..206 "("
            ARG@206..214
              EXPR_CALL@206..214
                EXPR_BINARY@206..211
                  EXPR_IDENT@206..207
                    PATH@206..207
                      Ident@206..207 "s"
                  Dot@207..208 "."
                  EXPR_IDENT@208..211
                    PATH@208..211
                      Ident@208..211 "get"
                ARG_LIST@211..214
                  LParen@211..212 "("
                  ARG@212..213
                    EXPR_INT@212..213
                      Int@212..213 "1"
                  RParen@213..214 ")"
            RParen@214..215 ")"
        Semi@215..216 ";"
        Whitespace@216..221 "\n    "
      STMT_EXPR@221..244
        EXPR_CALL@221..238
          EXPR_IDENT@221..228
            PATH@221..228
              Ident@221..228 "println"
          ARG_LIST@228..238
            LParen@228..229 "("
            ARG@229..237
              EXPR_CALL@229..237
                EXPR_BINARY@229..234
                  EXPR_IDENT@229..230
                    PATH@229..230
                      Ident@229..230 "s"
                  Dot@230..231 "."
                  EXPR_IDENT@231..234
                    PATH@231..234
                      Ident@231..234 "get"
                ARG_LIST@234..237
                  LParen@234..235 "("
                  ARG@235..236
                    EXPR_INT@235..236
                      Int@235..236 "2"
                  RParen@236..237 ")"
            RParen@237..238 ")"
        Semi@238..239 ";"
        Whitespace@239..244 "\n    "
      STMT_LET@244..269
        LetKeyword@244..247 "let"
        Whitespace@247..248 " "
        PATTERN_VARIABLE@248..250
          Ident@248..249 "t"
          Whitespace@249..250 " "
        Eq@250..251 "="
        Whitespace@251..252 " "
        EXPR_CALL@252..263
          EXPR_BINARY@252..257
            EXPR_IDENT@252..253
              PATH@252..253
                Ident@252..253 "s"
            Dot@253..254 "."
            EXPR_IDENT@254..257
              PATH@254..257
                Ident@254..257 "sub"
          ARG_LIST@257..263
            LParen@257..258 "("
            ARG@258..261
              EXPR_INT@258..259
                Int@258..259 "1"
              Comma@259..260 ","
              Whitespace@260..261 " "
            ARG@261..262
              EXPR_INT@261..262
                Int@261..262 "3"
            RParen@262..263 ")"
        Semi@263..264 ";"
        Whitespace@264..269 "\n    "
      STMT_EXPR@269..291
        EXPR_CALL@269..285
          EXPR_IDENT@269..276
            PATH@269..276
              Ident@269..276 "println"
          ARG_LIST@276..285
            LParen@276..277 "("
            ARG@277..284
              EXPR_CALL@277..284
                EXPR_BINARY@277..282
                  EXPR_IDENT@277..278
                    PATH@277..278
                      Ident@277..278 "t"
                  Dot@278..279 "."
                  EXPR_IDENT@279..282
                    PATH@279..282
                      Ident@279..282 "len"
                ARG_LIST@282..284
                  LParen@282..283 "("
                  RParen@283..284 ")"
            RParen@284..285 ")"
        Semi@285..286 ";"
        Whitespace@286..291 "\n    "
      STMT_EXPR@291..314
        EXPR_CALL@291..308
          EXPR_IDENT@291..298
            PATH@291..298
              Ident@291..298 "println"
          ARG_LIST@298..308
            LParen@298..299 "("
            ARG@299..307
              EXPR_CALL@299..307
                EXPR_BINARY@299..304
                  EXPR_IDENT@299..300
                    PATH@299..300
                      Ident@299..300 "t"
                  Dot@300..301 "."
                  EXPR_IDENT@301..304
                    PATH@301..304
                      Ident@301..304 "get"
                ARG_LIST@304..307
                  LParen@304..305 "("
                  ARG@305..306
                    EXPR_INT@305..306
                      Int@305..306 "0"
                  RParen@306..307 ")"
            RParen@307..308 ")"
        Semi@308..309 ";"
        Whitespace@309..314 "\n    "
      STMT_EXPR@314..333
        EXPR_CALL@314..331
          EXPR_IDENT@314..321
            PATH@314..321
              Ident@314..321 "println"
          ARG_LIST@321..331
            LParen@321..322 "("
            ARG@322..330
              EXPR_CALL@322..330
                EXPR_BINARY@322..327
                  EXPR_IDENT@322..323
                    PATH@322..323
                      Ident@322..323 "t"
                  Dot@323..324 "."
                  EXPR_IDENT@324..327
                    PATH@324..327
                      Ident@324..327 "get"
                ARG_LIST@327..330
                  LParen@327..328 "("
                  ARG@328..329
                    EXPR_INT@328..329
                      Int@328..329 "1"
                  RParen@329..330 ")"
            RParen@330..331 ")"
        Semi@331..332 ";"
        Whitespace@332..333 "\n"
      RBrace@333..334 "}"
      Whitespace@334..335 "\n"