FILE@0..333
  FN@0..333
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..333
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..48
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "v"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..42
          EXPR_IDENT@32..40
            PATH@32..40
              Ident@32..35 "Vec"
              ColonColon@35..37 "::"
              Ident@37..40 "new"
          ARG_LIST@40..42
            LParen@40..41 "("
            RParen@41..42 ")"
        Semi@42..43 ";"
        Whitespace@43..48 "\n    "
      STMT_EXPR@48..64
        EXPR_CALL@48..58
          EXPR_BINARY@48..54
            EXPR_IDENT@48..49
              PATH@48..49
                Ident@48..49 "v"
            Dot@49..50 "."
            EXPR_IDENT@50..54
              PATH@50..54
                Ident@50..54 "push"
          ARG_LIST@54..58
            LParen@54..55 "("
            ARG@55..57
              EXPR_INT@55..57
                Int@55..57 "10"
            RParen@57..58 ")"
        Semi@58..59 ";"
        Whitespace@59..64 "\n    "
      STMT_EXPR@64..80
        EXPR_CALL@64..74
          EXPR_BINARY@64..70
            EXPR_IDENT@64..65
              PATH@64..65
                Ident@64..65 "v"
            Dot@65..66 "."
            EXPR_IDENT@66..70
              PATH@66..70
                Ident@66..70 "push"
          ARG_LIST@70..74
            LParen@70..71 "("
            ARG@71..73
              EXPR_INT@71..73
                Int@71..73 "20"
            RParen@73..74 ")"
        Semi@74..75 ";"
        Whitespace@75..80 "\n    "
      STMT_EXPR@80..96
        EXPR_CALL@80..90
          EXPR_BINARY@80..86
            EXPR_IDENT@80..81
              PATH@80..81
                Ident@80..81 "v"
            Dot@81..82 "."
            EXPR_IDENT@82..86
              PATH@82..86
                Ident@82..86 "push"
          ARG_LIST@86..90
            LParen@86..87 "("
            ARG@87..89
              EXPR_INT@87..89
                Int@87..89 "30"
            RParen@89..90 ")"
        Semi@90..91 ";"
        Whitespace@91..96 "\n    "
      STMT_EXPR@96..112
        EXPR_CALL@96..106
          EXPR_BINARY@96..102
            EXPR_IDENT@96..97
              PATH@96..97
                Ident@96..97 "v"
            Dot@97..98 "."
            EXPR_IDENT@98..102
              PATH@98..102
                Ident@98..102 "push"
          ARG_LIST@102..106
            LParen@102..103 "("
            ARG@103..105
              EXPR_INT@103..105
                Int@103..105 "40"
            RParen@105..106 ")"
        Semi@106..107 ";"
        Whitespace@107..112 "\n    "
      STMT_LET@112..151
        LetKeyword@112..115 "let"
        Whitespace@115..116 " "
        PATTERN_VARIABLE@116..117
          Ident@116..117 "s"
        Colon@117..118 ":"
        Whitespace@118..119 " "
        TYPE_TAPP@119..130
          PATH@119..124
            Ident@119..124 "Slice"
          TYPE_PARAM_LIST@124..130
            LBracket@124..125 "["
            TYPE_INT32@125..128
              I32Keyword@125..128 "i32"
            RBracket@128..129 "]"
            Whitespace@129..130 " "
        Eq@130..131 "="
        Whitespace@131..132 " "
        EXPR_CALL@132..145
          EXPR_BINARY@132..139
            EXPR_IDENT@132..133
              PATH@132..133
                Ident@132..133 "v"
            Dot@133..134 "."
            EXPR_IDENT@134..139
              PATH@134..139
                Ident@134..139 "slice"
          ARG_LIST@139..145
            LParen@139..140 "("
            ARG@140..143
              EXPR_INT@140..141
                Int@140..141 "1"
              Comma@141..142 ","
              Whitespace@142..143 " "
            ARG@143..144
              EXPR_INT@143..144
                Int@143..144 "4"
            RParen@144..145 ")"
        Semi@145..146 ";"
        Whitespace@146..151 "\n    "
      STMT_EXPR@151..173
        EXPR_CALL@151..167
          EXPR_IDENT@151..158
            PATH@151..158
              Ident@151..158 "println"
          ARG_LIST@158..167
            LParen@158..159 "("
            ARG@159..166
              EXPR_CALL@159..166
                EXPR_BINARY@159..164
                  EXPR_IDENT@159..160
                    PATH@159..160
                      Ident@159..160 "s"
                  Dot@160..161 "."
                  EXPR_IDENT@161..164
                    PATH@161..164
                      Ident@161..164 "len"
                ARG_LIST@164..166
                  LParen@164..165 "("
                  RParen@165..166 ")"
            RParen@166..167 ")"
        Semi@167..168 ";"
        Whitespace@168..173 "\n    "
      STMT_EXPR@173..196
        EXPR_CALL@173..190
          EXPR_IDENT@173..180
            PATH@173..180
              Ident@173..180 "println"
          ARG_LIST@180..190
            LParen@180..181 "("
            ARG@181..189
              EXPR_CALL@181..189
                EXPR_BINARY@181..186
                  EXPR_IDENT@181..182
                    PATH@181..182
                      Ident@181..182 "s"
                  Dot@182..183 "."
                  EXPR_IDENT@183..186
                    PATH@183..186
                      Ident@183..186 "get"
                ARG_LIST@186..189
                  LParen@186..187 "("
                  ARG@187..188
                    EXPR_INT@187..188
                      Int@187..188 "0"
                  RParen@188..189 ")"
            RParen@189..190 ")"
        Semi@190..191 ";"
        Whitespace@191..196 "\n    "
      STMT_EXPR@196..219
        EXPR_CALL@196..213
          EXPR_IDENT@196..203
            PATH@196..203
              Ident@196..203 "println"
          ARG_LIST@203..213
            LParen@203..204 "("
            ARG@204..212
              EXPR_CALL@204..212
                EXPR_BINARY@204..209
                  EXPR_IDENT@204..205
                    PATH@204..205
                      Ident@204..205 "s"
                  Dot@205..206 "."
                  EXPR_IDENT@206..209
                    PATH@206..209
                      Ident@206..209 "get"
                ARG_LIST@209..212
                  LParen@209..210 "("
                  ARG@210..211
                    EXPR_INT@210..211
                      Int@210..211 "1"
                  RParen@211..212 ")"
            RParen@212..213 ")"
        Semi@213..214 ";"
        Whitespace@214..219 "\n    "
      STMT_EXPR@219..242
        EXPR_CALL@219..236
          EXPR_IDENT@219..226
            PATH@219..226
              Ident@219..226 "println"
          ARG_LIST@226..236
            LParen@226..227 "("
            ARG@227..235
              EXPR_CALL@227..235
                EXPR_BINARY@227..232
                  EXPR_IDENT@227..228
                    PATH@227..228
                      Ident@227..228 "s"
                  Dot@228..229 "."
                  EXPR_IDENT@229..232
                    PATH@229..232
                      Ident@229..232 "get"
                ARG_LIST@232..235
                  LParen@232..233 "("
                  ARG@233..234
                    EXPR_INT@233..234
                      Int@233..234 "2"
                  RParen@234..235 ")"
            RParen@235..236 ")"
        Semi@236..237 ";"
        Whitespace@237..242 "\n    "
      STMT_LET@242..267
        LetKeyword@242..245 "let"
        Whitespace@245..246 " "
        PATTERN_VARIABLE@246..248
          Ident@246..247 "t"
          Whitespace@247..248 " "
        Eq@248..249 "="
        Whitespace@249..250 " "
        EXPR_CALL@250..261
          EXPR_BINARY@250..255
            EXPR_IDENT@250..251
              PATH@250..251
                Ident@250..251 "s"
            Dot@251..252 "."
            EXPR_IDENT@252..255
              PATH@252..255
                Ident@252..255 "sub"
          ARG_LIST@255..261
            LParen@255..256 "("
            ARG@256..259
              EXPR_INT@256..257
                Int@256..257 "1"
              Comma@257..258 ","
              Whitespace@258..259 " "
            ARG@259..260
              EXPR_INT@259..260
                Int@259..260 "3"
            RParen@260..261 ")"
        Semi@261..262 ";"
        Whitespace@262..267 "\n    "
      STMT_EXPR@267..289
        EXPR_CALL@267..283
          EXPR_IDENT@267..274
            PATH@267..274
              Ident@267..274 "println"
          ARG_LIST@274..283
            LParen@274..275 "("
            ARG@275..282
              EXPR_CALL@275..282
                EXPR_BINARY@275..280
                  EXPR_IDENT@275..276
                    PATH@275..276
                      Ident@275..276 "t"
                  Dot@276..277 "."
                  EXPR_IDENT@277..280
                    PATH@277..280
                      Ident@277..280 "len"
                ARG_LIST@280..282
                  LParen@280..281 "("
                  RParen@281..282 ")"
            RParen@282..283 ")"
        Semi@283..284 ";"
        Whitespace@284..289 "\n    "
      STMT_EXPR@289..312
        EXPR_CALL@289..306
          EXPR_IDENT@289..296
            PATH@289..296
              Ident@289..296 "println"
          ARG_LIST@296..306
            LParen@296..297 "("
            ARG@297..305
              EXPR_CALL@297..305
                EXPR_BINARY@297..302
                  EXPR_IDENT@297..298
                    PATH@297..298
                      Ident@297..298 "t"
                  Dot@298..299 "."
                  EXPR_IDENT@299..302
                    PATH@299..302
                      Ident@299..302 "get"
                ARG_LIST@302..305
                  LParen@302..303 "("
                  ARG@303..304
                    EXPR_INT@303..304
                      Int@303..304 "0"
                  RParen@304..305 ")"
            RParen@305..306 ")"
        Semi@306..307 ";"
        Whitespace@307..312 "\n    "
      STMT_EXPR@312..331
        EXPR_CALL@312..329
          EXPR_IDENT@312..319
            PATH@312..319
              Ident@312..319 "println"
          ARG_LIST@319..329
            LParen@319..320 "("
            ARG@320..328
              EXPR_CALL@320..328
                EXPR_BINARY@320..325
                  EXPR_IDENT@320..321
                    PATH@320..321
                      Ident@320..321 "t"
                  Dot@321..322 "."
                  EXPR_IDENT@322..325
                    PATH@322..325
                      Ident@322..325 "get"
                ARG_LIST@325..328
                  LParen@325..326 "("
                  ARG@326..327
                    EXPR_INT@326..327
                      Int@326..327 "1"
                  RParen@327..328 ")"
            RParen@328..329 ")"
        Semi@329..330 ";"
        Whitespace@330..331 "\n"
      RBrace@331..332 "}"
      Whitespace@332..333 "\n"