FILE@0..490
  FN@0..490
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..490
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      Comment@24..70 "// Create a new empty ..."
      Whitespace@70..75 "\n    "
      STMT_LET@75..133
        LetKeyword@75..78 "let"
        Whitespace@78..79 " "
        PATTERN_VARIABLE@79..80
          Ident@79..80 "v"
        Colon@80..81 ":"
        Whitespace@81..82 " "
        TYPE_TAPP@82..93
          PATH@82..85
            Ident@82..85 "Vec"
          TYPE_PARAM_LIST@85..93
            LBracket@85..86 "["
            TYPE_INT32@86..91
              Int32Keyword@86..91 "int32"
            RBracket@91..92 "]"
            Whitespace@92..93 " "
        Eq@93..94 "="
        Whitespace@94..95 " "
        EXPR_CALL@95..105
          EXPR_IDENT@95..103
            PATH@95..103
              Ident@95..98 "Vec"
              ColonColon@98..100 "::"
              Ident@100..103 "new"
          ARG_LIST@103..105
            LParen@103..104 "("
            RParen@104..105 ")"
        Semi@105..106 ";"
        Whitespace@106..112 "\n\n    "
        Comment@112..128 "// Push elements"
        Whitespace@128..133 "\n    "
      STMT_EXPR@133..149
        EXPR_CALL@133..143
          EXPR_BINARY@133..139
            EXPR_IDENT@133..134
              PATH@133..134
                Ident@133..134 "v"
            Dot@134..135 "."
            EXPR_IDENT@135..139
              PATH@135..139
                Ident@135..139 "push"
          ARG_LIST@139..143
            LParen@139..140 "("
            ARG@140..142
              EXPR_INT@140..142
                Int@140..142 "10"
            RParen@142..143 ")"
        Semi@143..144 ";"
        Whitespace@144..149 "\n    "
      STMT_EXPR@149..165
        EXPR_CALL@149..159
          EXPR_BINARY@149..155
            EXPR_IDENT@149..150
              PATH@149..150
                Ident@149..150 "v"
            Dot@150..151 "."
            EXPR_IDENT@151..155
              PATH@151..155
                Ident@151..155 "push"
          ARG_LIST@155..159
            LParen@155..156 "("
            ARG@156..158
              EXPR_INT@156..158
                Int@156..158 "20"
            RParen@158..159 ")"
        Semi@159..160 ";"
        Whitespace@160..165 "\n    "
      STMT_EXPR@165..202
        EXPR_CALL@165..175
          EXPR_BINARY@165..171
            EXPR_IDENT@165..166
              PATH@165..166
                Ident@165..166 "v"
            Dot@166..167 "."
            EXPR_IDENT@167..171
              PATH@167..171
                Ident@167..171 "push"
          ARG_LIST@171..175
            LParen@171..172 "("
            ARG@172..174
              EXPR_INT@172..174
                Int@172..174 "30"
            RParen@174..175 ")"
        Semi@175..176 ";"
        Whitespace@176..182 "\n\n    "
        Comment@182..197 "// Get elements"
        Whitespace@197..202 "\n    "
      STMT_LET@202..224
        LetKeyword@202..205 "let"
        Whitespace@205..206 " "
        PATTERN_VARIABLE@206..212
          Ident@206..211 "first"
          Whitespace@211..212 " "
        Eq@212..213 "="
        Whitespace@213..214 " "
        EXPR_INDEX@214..218
          EXPR_IDENT@214..215
            PATH@214..215
              Ident@214..215 "v"
          LBracket@215..216 "["
          EXPR_INT@216..217
            Int@216..217 "0"
          RBracket@217..218 "]"
        Semi@218..219 ";"
        Whitespace@219..224 "\n    "
      STMT_LET@224..247
        LetKeyword@224..227 "let"
        Whitespace@227..228 " "
        PATTERN_VARIABLE@228..235
          Ident@228..234 "second"
          Whitespace@234..235 " "
        Eq@235..236 "="
        Whitespace@236..237 " "
        EXPR_INDEX@237..241
          EXPR_IDENT@237..238
            PATH@237..238
              Ident@237..238 "v"
          LBracket@238..239 "["
          EXPR_INT@239..240
            Int@239..240 "1"
          RBracket@240..241 "]"
        Semi@241..242 ";"
        Whitespace@242..247 "\n    "
      STMT_LET@247..288
        LetKeyword@247..250 "let"
        Whitespace@250..251 " "
        PATTERN_VARIABLE@251..257
          Ident@251..256 "third"
          Whitespace@256..257 " "
        Eq@257..258 "="
        Whitespace@258..259 " "
        EXPR_INDEX@259..263
          EXPR_IDENT@259..260
            PATH@259..260
              Ident@259..260 "v"
          LBracket@260..261 "["
          EXPR_INT@261..262
            Int@261..262 "2"
          RBracket@262..263 "]"
        Semi@263..264 ";"
        Whitespace@264..270 "\n\n    "
        Comment@270..283 "// Get length"
        Whitespace@283..288 "\n    "
      STMT_LET@288..333
        LetKeyword@288..291 "let"
        Whitespace@291..292 " "
        PATTERN_VARIABLE@292..296
          Ident@292..295 "len"
          Whitespace@295..296 " "
        Eq@296..297 "="
        Whitespace@297..298 " "
        EXPR_CALL@298..305
          EXPR_BINARY@298..303
            EXPR_IDENT@298..299
              PATH@298..299
                Ident@298..299 "v"
            Dot@299..300 "."
            EXPR_IDENT@300..303
              PATH@300..303
                Ident@300..303 "len"
          ARG_LIST@303..305
            LParen@303..304 "("
            RParen@304..305 ")"
        Semi@305..306 ";"
        Whitespace@306..312 "\n\n    "
        Comment@312..328 "// Print results"
        Whitespace@328..333 "\n    "
      STMT_LET@333..373
        LetKeyword@333..336 "let"
        Whitespace@336..337 " "
        PATTERN_WILDCARD@337..339
          WildcardKeyword@337..338 "_"
          Whitespace@338..339 " "
        Eq@339..340 "="
        Whitespace@340..341 " "
        EXPR_CALL@341..367
          EXPR_IDENT@341..348
            PATH@341..348
              Ident@341..348 "println"
          ARG_LIST@348..367
            LParen@348..349 "("
            ARG@349..366
              EXPR_CALL@349..366
                EXPR_BINARY@349..364
                  EXPR_IDENT@349..354
                    PATH@349..354
                      Ident@349..354 "first"
                  Dot@354..355 "."
                  EXPR_IDENT@355..364
                    PATH@355..364
                      Ident@355..364 "to_string"
                ARG_LIST@364..366
                  LParen@364..365 "("
                  RParen@365..366 ")"
            RParen@366..367 ")"
        Semi@367..368 ";"
        Whitespace@368..373 "\n    "
      STMT_LET@373..414
        LetKeyword@373..376 "let"
        Whitespace@376..377 " "
        PATTERN_WILDCARD@377..379
          WildcardKeyword@377..378 "_"
          Whitespace@378..379 " "
        Eq@379..380 "="
        Whitespace@380..381 " "
        EXPR_CALL@381..408
          EXPR_IDENT@381..388
            PATH@381..388
              Ident@381..388 "println"
          ARG_LIST@388..408
            LParen@388..389 "("
            ARG@389..407
              EXPR_CALL@389..407
                EXPR_BINARY@389..405
                  EXPR_IDENT@389..395
                    PATH@389..395
                      Ident@389..395 "second"
                  Dot@395..396 "."
                  EXPR_IDENT@396..405
                    PATH@396..405
                      Ident@396..405 "to_string"
                ARG_LIST@405..407
                  LParen@405..406 "("
                  RParen@406..407 ")"
            RParen@407..408 ")"
        Semi@408..409 ";"
        Whitespace@409..414 "\n    "
      STMT_LET@414..454
        LetKeyword@414..417 "let"
        Whitespace@417..418 " "
        PATTERN_WILDCARD@418..420
          WildcardKeyword@418..419 "_"
          Whitespace@419..420 " "
        Eq@420..421 "="
        Whitespace@421..422 " "
        EXPR_CALL@422..448
          EXPR_IDENT@422..429
            PATH@422..429
              Ident@422..429 "println"
          ARG_LIST@429..448
            LParen@429..430 "("
            ARG@430..447
              EXPR_CALL@430..447
                EXPR_BINARY@430..445
                  EXPR_IDENT@430..435
                    PATH@430..435
                      Ident@430..435 "third"
                  Dot@435..436 "."
                  EXPR_IDENT@436..445
                    PATH@436..445
                      Ident@436..445 "to_string"
                ARG_LIST@445..447
                  LParen@445..446 "("
                  RParen@446..447 ")"
            RParen@447..448 ")"
        Semi@448..449 ";"
        Whitespace@449..454 "\n    "
      STMT_LET@454..488
        LetKeyword@454..457 "let"
        Whitespace@457..458 " "
        PATTERN_WILDCARD@458..460
          WildcardKeyword@458..459 "_"
          Whitespace@459..460 " "
        Eq@460..461 "="
        Whitespace@461..462 " "
        EXPR_CALL@462..486
          EXPR_IDENT@462..469
            PATH@462..469
              Ident@462..469 "println"
          ARG_LIST@469..486
            LParen@469..470 "("
            ARG@470..485
              EXPR_CALL@470..485
                EXPR_BINARY@470..483
                  EXPR_IDENT@470..473
                    PATH@470..473
                      Ident@470..473 "len"
                  Dot@473..474 "."
                  EXPR_IDENT@474..483
                    PATH@474..483
                      Ident@474..483 "to_string"
                ARG_LIST@483..485
                  LParen@483..484 "("
                  RParen@484..485 ")"
            RParen@485..486 ")"
        Semi@486..487 ";"
        Whitespace@487..488 "\n"
      RBrace@488..489 "}"
      Whitespace@489..490 "\n"