FILE@0..486
  FN@0..486
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..486
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      Comment@22..68 "// Create a new empty ..."
      Whitespace@68..73 "\n    "
      STMT_LET@73..129
        LetKeyword@73..76 "let"
        Whitespace@76..77 " "
        PATTERN_VARIABLE@77..78
          Ident@77..78 "v"
        Colon@78..79 ":"
        Whitespace@79..80 " "
        TYPE_TAPP@80..89
          PATH@80..83
            Ident@80..83 "Vec"
          TYPE_PARAM_LIST@83..89
            LBracket@83..84 "["
            TYPE_INT32@84..87
              I32Keyword@84..87 "i32"
            RBracket@87..88 "]"
            Whitespace@88..89 " "
        Eq@89..90 "="
        Whitespace@90..91 " "
        EXPR_CALL@91..101
          EXPR_IDENT@91..99
            PATH@91..99
              Ident@91..94 "Vec"
              ColonColon@94..96 "::"
              Ident@96..99 "new"
          ARG_LIST@99..101
            LParen@99..100 "("
            RParen@100..101 ")"
        Semi@101..102 ";"
        Whitespace@102..108 "\n\n    "
        Comment@108..124 "// Push elements"
        Whitespace@124..129 "\n    "
      STMT_EXPR@129..145
        EXPR_CALL@129..139
          EXPR_BINARY@129..135
            EXPR_IDENT@129..130
              PATH@129..130
                Ident@129..130 "v"
            Dot@130..131 "."
            EXPR_IDENT@131..135
              PATH@131..135
                Ident@131..135 "push"
          ARG_LIST@135..139
            LParen@135..136 "("
            ARG@136..138
              EXPR_INT@136..138
                Int@136..138 "10"
            RParen@138..139 ")"
        Semi@139..140 ";"
        Whitespace@140..145 "\n    "
      STMT_EXPR@145..161
        EXPR_CALL@145..155
          EXPR_BINARY@145..151
            EXPR_IDENT@145..146
              PATH@145..146
                Ident@145..146 "v"
            Dot@146..147 "."
            EXPR_IDENT@147..151
              PATH@147..151
                Ident@147..151 "push"
          ARG_LIST@151..155
            LParen@151..152 "("
            ARG@152..154
              EXPR_INT@152..154
                Int@152..154 "20"
            RParen@154..155 ")"
        Semi@155..156 ";"
        Whitespace@156..161 "\n    "
      STMT_EXPR@161..198
        EXPR_CALL@161..171
          EXPR_BINARY@161..167
            EXPR_IDENT@161..162
              PATH@161..162
                Ident@161..162 "v"
            Dot@162..163 "."
            EXPR_IDENT@163..167
              PATH@163..167
                Ident@163..167 "push"
          ARG_LIST@167..171
            LParen@167..168 "("
            ARG@168..170
              EXPR_INT@168..170
                Int@168..170 "30"
            RParen@170..171 ")"
        Semi@171..172 ";"
        Whitespace@172..178 "\n\n    "
        Comment@178..193 "// Get elements"
        Whitespace@193..198 "\n    "
      STMT_LET@198..220
        LetKeyword@198..201 "let"
        Whitespace@201..202 " "
        PATTERN_VARIABLE@202..208
          Ident@202..207 "first"
          Whitespace@207..208 " "
        Eq@208..209 "="
        Whitespace@209..210 " "
        EXPR_INDEX@210..214
          EXPR_IDENT@210..211
            PATH@210..211
              Ident@210..211 "v"
          LBracket@211..212 "["
          EXPR_INT@212..213
            Int@212..213 "0"
          RBracket@213..214 "]"
        Semi@214..215 ";"
        Whitespace@215..220 "\n    "
      STMT_LET@220..243
        LetKeyword@220..223 "let"
        Whitespace@223..224 " "
        PATTERN_VARIABLE@224..231
          Ident@224..230 "second"
          Whitespace@230..231 " "
        Eq@231..232 "="
        Whitespace@232..233 " "
        EXPR_INDEX@233..237
          EXPR_IDENT@233..234
            PATH@233..234
              Ident@233..234 "v"
          LBracket@234..235 "["
          EXPR_INT@235..236
            Int@235..236 "1"
          RBracket@236..237 "]"
        Semi@237..238 ";"
        Whitespace@238..243 "\n    "
      STMT_LET@243..284
        LetKeyword@243..246 "let"
        Whitespace@246..247 " "
        PATTERN_VARIABLE@247..253
          Ident@247..252 "third"
          Whitespace@252..253 " "
        Eq@253..254 "="
        Whitespace@254..255 " "
        EXPR_INDEX@255..259
          EXPR_IDENT@255..256
            PATH@255..256
              Ident@255..256 "v"
          LBracket@256..257 "["
          EXPR_INT@257..258
            Int@257..258 "2"
          RBracket@258..259 "]"
        Semi@259..260 ";"
        Whitespace@260..266 "\n\n    "
        Comment@266..279 "// Get length"
        Whitespace@279..284 "\n    "
      STMT_LET@284..329
        LetKeyword@284..287 "let"
        Whitespace@287..288 " "
        PATTERN_VARIABLE@288..292
          Ident@288..291 "len"
          Whitespace@291..292 " "
        Eq@292..293 "="
        Whitespace@293..294 " "
        EXPR_CALL@294..301
          EXPR_BINARY@294..299
            EXPR_IDENT@294..295
              PATH@294..295
                Ident@294..295 "v"
            Dot@295..296 "."
            EXPR_IDENT@296..299
              PATH@296..299
                Ident@296..299 "len"
          ARG_LIST@299..301
            LParen@299..300 "("
            RParen@300..301 ")"
        Semi@301..302 ";"
        Whitespace@302..308 "\n\n    "
        Comment@308..324 "// Print results"
        Whitespace@324..329 "\n    "
      STMT_LET@329..369
        LetKeyword@329..332 "let"
        Whitespace@332..333 " "
        PATTERN_WILDCARD@333..335
          WildcardKeyword@333..334 "_"
          Whitespace@334..335 " "
        Eq@335..336 "="
        Whitespace@336..337 " "
        EXPR_CALL@337..363
          EXPR_IDENT@337..344
            PATH@337..344
              Ident@337..344 "println"
          ARG_LIST@344..363
            LParen@344..345 "("
            ARG@345..362
              EXPR_CALL@345..362
                EXPR_BINARY@345..360
                  EXPR_IDENT@345..350
                    PATH@345..350
                      Ident@345..350 "first"
                  Dot@350..351 "."
                  EXPR_IDENT@351..360
                    PATH@351..360
                      Ident@351..360 "to_string"
                ARG_LIST@360..362
                  LParen@360..361 "("
                  RParen@361..362 ")"
            RParen@362..363 ")"
        Semi@363..364 ";"
        Whitespace@364..369 "\n    "
      STMT_LET@369..410
        LetKeyword@369..372 "let"
        Whitespace@372..373 " "
        PATTERN_WILDCARD@373..375
          WildcardKeyword@373..374 "_"
          Whitespace@374..375 " "
        Eq@375..376 "="
        Whitespace@376..377 " "
        EXPR_CALL@377..404
          EXPR_IDENT@377..384
            PATH@377..384
              Ident@377..384 "println"
          ARG_LIST@384..404
            LParen@384..385 "("
            ARG@385..403
              EXPR_CALL@385..403
                EXPR_BINARY@385..401
                  EXPR_IDENT@385..391
                    PATH@385..391
                      Ident@385..391 "second"
                  Dot@391..392 "."
                  EXPR_IDENT@392..401
                    PATH@392..401
                      Ident@392..401 "to_string"
                ARG_LIST@401..403
                  LParen@401..402 "("
                  RParen@402..403 ")"
            RParen@403..404 ")"
        Semi@404..405 ";"
        Whitespace@405..410 "\n    "
      STMT_LET@410..450
        LetKeyword@410..413 "let"
        Whitespace@413..414 " "
        PATTERN_WILDCARD@414..416
          WildcardKeyword@414..415 "_"
          Whitespace@415..416 " "
        Eq@416..417 "="
        Whitespace@417..418 " "
        EXPR_CALL@418..444
          EXPR_IDENT@418..425
            PATH@418..425
              Ident@418..425 "println"
          ARG_LIST@425..444
            LParen@425..426 "("
            ARG@426..443
              EXPR_CALL@426..443
                EXPR_BINARY@426..441
                  EXPR_IDENT@426..431
                    PATH@426..431
                      Ident@426..431 "third"
                  Dot@431..432 "."
                  EXPR_IDENT@432..441
                    PATH@432..441
                      Ident@432..441 "to_string"
                ARG_LIST@441..443
                  LParen@441..442 "("
                  RParen@442..443 ")"
            RParen@443..444 ")"
        Semi@444..445 ";"
        Whitespace@445..450 "\n    "
      STMT_LET@450..484
        LetKeyword@450..453 "let"
        Whitespace@453..454 " "
        PATTERN_WILDCARD@454..456
          WildcardKeyword@454..455 "_"
          Whitespace@455..456 " "
        Eq@456..457 "="
        Whitespace@457..458 " "
        EXPR_CALL@458..482
          EXPR_IDENT@458..465
            PATH@458..465
              Ident@458..465 "println"
          ARG_LIST@465..482
            LParen@465..466 "("
            ARG@466..481
              EXPR_CALL@466..481
                EXPR_BINARY@466..479
                  EXPR_IDENT@466..469
                    PATH@466..469
                      Ident@466..469 "len"
                  Dot@469..470 "."
                  EXPR_IDENT@470..479
                    PATH@470..479
                      Ident@470..479 "to_string"
                ARG_LIST@479..481
                  LParen@479..480 "("
                  RParen@480..481 ")"
            RParen@481..482 ")"
        Semi@482..483 ";"
        Whitespace@483..484 "\n"
      RBrace@484..485 "}"
      Whitespace@485..486 "\n"