FILE@0..488
  FN@0..488
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..488
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      Comment@24..70 "// Create a new empty ..."
      Whitespace@70..75 "\n    "
      STMT_LET@75..131
        LetKeyword@75..78 "let"
        Whitespace@78..79 " "
        PATTERN_VARIABLE@79..80
          Ident@79..80 "v"
        Colon@80..81 ":"
        Whitespace@81..82 " "
        TYPE_TAPP@82..91
          PATH@82..85
            Ident@82..85 "Vec"
          TYPE_PARAM_LIST@85..91
            LBracket@85..86 "["
            TYPE_INT32@86..89
              I32Keyword@86..89 "i32"
            RBracket@89..90 "]"
            Whitespace@90..91 " "
        Eq@91..92 "="
        Whitespace@92..93 " "
        EXPR_CALL@93..103
          EXPR_IDENT@93..101
            PATH@93..101
              Ident@93..96 "Vec"
              ColonColon@96..98 "::"
              Ident@98..101 "new"
          ARG_LIST@101..103
            LParen@101..102 "("
            RParen@102..103 ")"
        Semi@103..104 ";"
        Whitespace@104..110 "\n\n    "
        Comment@110..126 "// Push elements"
        Whitespace@126..131 "\n    "
      STMT_EXPR@131..147
        EXPR_CALL@131..141
          EXPR_BINARY@131..137
            EXPR_IDENT@131..132
              PATH@131..132
                Ident@131..132 "v"
            Dot@132..133 "."
            EXPR_IDENT@133..137
              PATH@133..137
                Ident@133..137 "push"
          ARG_LIST@137..141
            LParen@137..138 "("
            ARG@138..140
              EXPR_INT@138..140
                Int@138..140 "10"
            RParen@140..141 ")"
        Semi@141..142 ";"
        Whitespace@142..147 "\n    "
      STMT_EXPR@147..163
        EXPR_CALL@147..157
          EXPR_BINARY@147..153
            EXPR_IDENT@147..148
              PATH@147..148
                Ident@147..148 "v"
            Dot@148..149 "."
            EXPR_IDENT@149..153
              PATH@149..153
                Ident@149..153 "push"
          ARG_LIST@153..157
            LParen@153..154 "("
            ARG@154..156
              EXPR_INT@154..156
                Int@154..156 "20"
            RParen@156..157 ")"
        Semi@157..158 ";"
        Whitespace@158..163 "\n    "
      STMT_EXPR@163..200
        EXPR_CALL@163..173
          EXPR_BINARY@163..169
            EXPR_IDENT@163..164
              PATH@163..164
                Ident@163..164 "v"
            Dot@164..165 "."
            EXPR_IDENT@165..169
              PATH@165..169
                Ident@165..169 "push"
          ARG_LIST@169..173
            LParen@169..170 "("
            ARG@170..172
              EXPR_INT@170..172
                Int@170..172 "30"
            RParen@172..173 ")"
        Semi@173..174 ";"
        Whitespace@174..180 "\n\n    "
        Comment@180..195 "// Get elements"
        Whitespace@195..200 "\n    "
      STMT_LET@200..222
        LetKeyword@200..203 "let"
        Whitespace@203..204 " "
        PATTERN_VARIABLE@204..210
          Ident@204..209 "first"
          Whitespace@209..210 " "
        Eq@210..211 "="
        Whitespace@211..212 " "
        EXPR_INDEX@212..216
          EXPR_IDENT@212..213
            PATH@212..213
              Ident@212..213 "v"
          LBracket@213..214 "["
          EXPR_INT@214..215
            Int@214..215 "0"
          RBracket@215..216 "]"
        Semi@216..217 ";"
        Whitespace@217..222 "\n    "
      STMT_LET@222..245
        LetKeyword@222..225 "let"
        Whitespace@225..226 " "
        PATTERN_VARIABLE@226..233
          Ident@226..232 "second"
          Whitespace@232..233 " "
        Eq@233..234 "="
        Whitespace@234..235 " "
        EXPR_INDEX@235..239
          EXPR_IDENT@235..236
            PATH@235..236
              Ident@235..236 "v"
          LBracket@236..237 "["
          EXPR_INT@237..238
            Int@237..238 "1"
          RBracket@238..239 "]"
        Semi@239..240 ";"
        Whitespace@240..245 "\n    "
      STMT_LET@245..286
        LetKeyword@245..248 "let"
        Whitespace@248..249 " "
        PATTERN_VARIABLE@249..255
          Ident@249..254 "third"
          Whitespace@254..255 " "
        Eq@255..256 "="
        Whitespace@256..257 " "
        EXPR_INDEX@257..261
          EXPR_IDENT@257..258
            PATH@257..258
              Ident@257..258 "v"
          LBracket@258..259 "["
          EXPR_INT@259..260
            Int@259..260 "2"
          RBracket@260..261 "]"
        Semi@261..262 ";"
        Whitespace@262..268 "\n\n    "
        Comment@268..281 "// Get length"
        Whitespace@281..286 "\n    "
      STMT_LET@286..331
        LetKeyword@286..289 "let"
        Whitespace@289..290 " "
        PATTERN_VARIABLE@290..294
          Ident@290..293 "len"
          Whitespace@293..294 " "
        Eq@294..295 "="
        Whitespace@295..296 " "
        EXPR_CALL@296..303
          EXPR_BINARY@296..301
            EXPR_IDENT@296..297
              PATH@296..297
                Ident@296..297 "v"
            Dot@297..298 "."
            EXPR_IDENT@298..301
              PATH@298..301
                Ident@298..301 "len"
          ARG_LIST@301..303
            LParen@301..302 "("
            RParen@302..303 ")"
        Semi@303..304 ";"
        Whitespace@304..310 "\n\n    "
        Comment@310..326 "// Print results"
        Whitespace@326..331 "\n    "
      STMT_LET@331..371
        LetKeyword@331..334 "let"
        Whitespace@334..335 " "
        PATTERN_WILDCARD@335..337
          WildcardKeyword@335..336 "_"
          Whitespace@336..337 " "
        Eq@337..338 "="
        Whitespace@338..339 " "
        EXPR_CALL@339..365
          EXPR_IDENT@339..346
            PATH@339..346
              Ident@339..346 "println"
          ARG_LIST@346..365
            LParen@346..347 "("
            ARG@347..364
              EXPR_CALL@347..364
                EXPR_BINARY@347..362
                  EXPR_IDENT@347..352
                    PATH@347..352
                      Ident@347..352 "first"
                  Dot@352..353 "."
                  EXPR_IDENT@353..362
                    PATH@353..362
                      Ident@353..362 "to_string"
                ARG_LIST@362..364
                  LParen@362..363 "("
                  RParen@363..364 ")"
            RParen@364..365 ")"
        Semi@365..366 ";"
        Whitespace@366..371 "\n    "
      STMT_LET@371..412
        LetKeyword@371..374 "let"
        Whitespace@374..375 " "
        PATTERN_WILDCARD@375..377
          WildcardKeyword@375..376 "_"
          Whitespace@376..377 " "
        Eq@377..378 "="
        Whitespace@378..379 " "
        EXPR_CALL@379..406
          EXPR_IDENT@379..386
            PATH@379..386
              Ident@379..386 "println"
          ARG_LIST@386..406
            LParen@386..387 "("
            ARG@387..405
              EXPR_CALL@387..405
                EXPR_BINARY@387..403
                  EXPR_IDENT@387..393
                    PATH@387..393
                      Ident@387..393 "second"
                  Dot@393..394 "."
                  EXPR_IDENT@394..403
                    PATH@394..403
                      Ident@394..403 "to_string"
                ARG_LIST@403..405
                  LParen@403..404 "("
                  RParen@404..405 ")"
            RParen@405..406 ")"
        Semi@406..407 ";"
        Whitespace@407..412 "\n    "
      STMT_LET@412..452
        LetKeyword@412..415 "let"
        Whitespace@415..416 " "
        PATTERN_WILDCARD@416..418
          WildcardKeyword@416..417 "_"
          Whitespace@417..418 " "
        Eq@418..419 "="
        Whitespace@419..420 " "
        EXPR_CALL@420..446
          EXPR_IDENT@420..427
            PATH@420..427
              Ident@420..427 "println"
          ARG_LIST@427..446
            LParen@427..428 "("
            ARG@428..445
              EXPR_CALL@428..445
                EXPR_BINARY@428..443
                  EXPR_IDENT@428..433
                    PATH@428..433
                      Ident@428..433 "third"
                  Dot@433..434 "."
                  EXPR_IDENT@434..443
                    PATH@434..443
                      Ident@434..443 "to_string"
                ARG_LIST@443..445
                  LParen@443..444 "("
                  RParen@444..445 ")"
            RParen@445..446 ")"
        Semi@446..447 ";"
        Whitespace@447..452 "\n    "
      STMT_LET@452..486
        LetKeyword@452..455 "let"
        Whitespace@455..456 " "
        PATTERN_WILDCARD@456..458
          WildcardKeyword@456..457 "_"
          Whitespace@457..458 " "
        Eq@458..459 "="
        Whitespace@459..460 " "
        EXPR_CALL@460..484
          EXPR_IDENT@460..467
            PATH@460..467
              Ident@460..467 "println"
          ARG_LIST@467..484
            LParen@467..468 "("
            ARG@468..483
              EXPR_CALL@468..483
                EXPR_BINARY@468..481
                  EXPR_IDENT@468..471
                    PATH@468..471
                      Ident@468..471 "len"
                  Dot@471..472 "."
                  EXPR_IDENT@472..481
                    PATH@472..481
                      Ident@472..481 "to_string"
                ARG_LIST@481..483
                  LParen@481..482 "("
                  RParen@482..483 ")"
            RParen@483..484 ")"
        Semi@484..485 ";"
        Whitespace@485..486 "\n"
      RBrace@486..487 "}"
      Whitespace@487..488 "\n"