FILE@0..3585
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Ident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT32@34..37
          I32Keyword@34..37 "i32"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  STRUCT@42..76
    StructKeyword@42..48 "struct"
    Whitespace@48..49 " "
    Ident@49..53 "Flag"
    Whitespace@53..54 " "
    LBrace@54..55 "{"
    Whitespace@55..60 "\n    "
    STRUCT_FIELD_LIST@60..76
      STRUCT_FIELD@60..71
        Ident@60..65 "value"
        Colon@65..66 ":"
        Whitespace@66..67 " "
        TYPE_BOOL@67..71
          BoolKeyword@67..71 "bool"
      Comma@71..72 ","
      Whitespace@72..73 "\n"
      RBrace@73..74 "}"
      Whitespace@74..76 "\n\n"
  STRUCT@76..116
    StructKeyword@76..82 "struct"
    Whitespace@82..83 " "
    Ident@83..90 "Counter"
    Whitespace@90..91 " "
    LBrace@91..92 "{"
    Whitespace@92..97 "\n    "
    STRUCT_FIELD_LIST@97..116
      STRUCT_FIELD@97..111
        Ident@97..101 "cell"
        Colon@101..102 ":"
        Whitespace@102..103 " "
        TYPE_TAPP@103..111
          PATH@103..106
            Ident@103..106 "Ref"
          TYPE_PARAM_LIST@106..111
            LBracket@106..107 "["
            TYPE_INT32@107..110
              I32Keyword@107..110 "i32"
            RBracket@110..111 "]"
      Comma@111..112 ","
      Whitespace@112..113 "\n"
      RBrace@113..114 "}"
      Whitespace@114..116 "\n\n"
  TRAIT@116..312
    TraitKeyword@116..121 "trait"
    Whitespace@121..122 " "
    Ident@122..129 "Display"
    Whitespace@129..130 " "
    LBrace@130..131 "{"
    Whitespace@131..136 "\n    "
    TRAIT_METHOD_SIG_LIST@136..312
      TRAIT_METHOD_SIG@136..171
        FnKeyword@136..138 "fn"
        Whitespace@138..139 " "
        Ident@139..143 "show"
        PARAM_LIST@143..156
          LParen@143..144 "("
          PARAM@144..154
            Ident@144..148 "self"
            Colon@148..149 ":"
            Whitespace@149..150 " "
            TYPE_TAPP@150..154
              PATH@150..154
                Ident@150..154 "Self"
          RParen@154..155 ")"
          Whitespace@155..156 " "
        Arrow@156..158 "->"
        Whitespace@158..159 " "
        TYPE_STRING@159..165
          StringKeyword@159..165 "string"
        Semi@165..166 ";"
        Whitespace@166..171 "\n    "
      TRAIT_METHOD_SIG@171..239
        FnKeyword@171..173 "fn"
        Whitespace@173..174 " "
        Ident@174..183 "show_with"
        PARAM_LIST@183..224
          LParen@183..184 "("
          PARAM@184..196
            Ident@184..188 "self"
            Colon@188..189 ":"
            Whitespace@189..190 " "
            TYPE_TAPP@190..194
              PATH@190..194
                Ident@190..194 "Self"
            Comma@194..195 ","
            Whitespace@195..196 " "
          PARAM@196..210
            Ident@196..200 "arg1"
            Colon@200..201 ":"
            Whitespace@201..202 " "
            TYPE_STRING@202..208
              StringKeyword@202..208 "string"
            Comma@208..209 ","
            Whitespace@209..210 " "
          PARAM@210..222
            Ident@210..214 "arg2"
            Colon@214..215 ":"
            Whitespace@215..216 " "
            TYPE_STRING@216..222
              StringKeyword@216..222 "string"
          RParen@222..223 ")"
          Whitespace@223..224 " "
        Arrow@224..226 "->"
        Whitespace@226..227 " "
        TYPE_STRING@227..233
          StringKeyword@227..233 "string"
        Semi@233..234 ";"
        Whitespace@234..239 "\n    "
      TRAIT_METHOD_SIG@239..270
        FnKeyword@239..241 "fn"
        Whitespace@241..242 " "
        Ident@242..246 "tick"
        PARAM_LIST@246..259
          LParen@246..247 "("
          PARAM@247..257
            Ident@247..251 "self"
            Colon@251..252 ":"
            Whitespace@252..253 " "
            TYPE_TAPP@253..257
              PATH@253..257
                Ident@253..257 "Self"
          RParen@257..258 ")"
          Whitespace@258..259 " "
        Arrow@259..261 "->"
        Whitespace@261..262 " "
        TYPE_TUPLE@262..264
          TYPE_LIST@262..264
            LParen@262..263 "("
            RParen@263..264 ")"
        Semi@264..265 ";"
        Whitespace@265..270 "\n    "
      TRAIT_METHOD_SIG@270..309
        FnKeyword@270..272 "fn"
        Whitespace@272..273 " "
        Ident@273..277 "bump"
        PARAM_LIST@277..301
          LParen@277..278 "("
          PARAM@278..290
            Ident@278..282 "self"
            Colon@282..283 ":"
            Whitespace@283..284 " "
            TYPE_TAPP@284..288
              PATH@284..288
                Ident@284..288 "Self"
            Comma@288..289 ","
            Whitespace@289..290 " "
          PARAM@290..299
            Ident@290..294 "arg1"
            Colon@294..295 ":"
            Whitespace@295..296 " "
            TYPE_INT32@296..299
              I32Keyword@296..299 "i32"
          RParen@299..300 ")"
          Whitespace@300..301 " "
        Arrow@301..303 "->"
        Whitespace@303..304 " "
        TYPE_INT32@304..307
          I32Keyword@304..307 "i32"
        Semi@307..308 ";"
        Whitespace@308..309 "\n"
      RBrace@309..310 "}"
      Whitespace@310..312 "\n\n"
  IMPL@312..744
    ImplKeyword@312..316 "impl"
    Whitespace@316..317 " "
    TYPE_TAPP@317..325
      PATH@317..325
        Ident@317..324 "Display"
        Whitespace@324..325 " "
    ForKeyword@325..328 "for"
    Whitespace@328..329 " "
    TYPE_TAPP@329..335
      PATH@329..335
        Ident@329..334 "Point"
        Whitespace@334..335 " "
    LBrace@335..336 "{"
    Whitespace@336..341 "\n    "
    FN@341..456
      FnKeyword@341..343 "fn"
      Whitespace@343..344 " "
      Ident@344..348 "show"
      PARAM_LIST@348..362
        LParen@348..349 "("
        PARAM@349..360
          Ident@349..353 "self"
          Colon@353..354 ":"
          Whitespace@354..355 " "
          TYPE_TAPP@355..360
            PATH@355..360
              Ident@355..360 "Point"
        RParen@360..361 ")"
        Whitespace@361..362 " "
      Arrow@362..364 "->"
      Whitespace@364..365 " "
      TYPE_STRING@365..372
        StringKeyword@365..371 "string"
        Whitespace@371..372 " "
      BLOCK@372..456
        LBrace@372..373 "{"
        Whitespace@373..382 "\n        "
        EXPR_BINARY@382..449
          EXPR_BINARY@382..439
            EXPR_BINARY@382..418
              EXPR_BINARY@382..412
                EXPR_STR@382..391
                  Str@382..390 "\"Point(\""
                  Whitespace@390..391 " "
                Plus@391..392 "+"
                Whitespace@392..393 " "
                EXPR_CALL@393..412
                  EXPR_BINARY@393..409
                    EXPR_BINARY@393..399
                      EXPR_IDENT@393..397
                        PATH@393..397
                          Ident@393..397 "self"
                      Dot@397..398 "."
                      EXPR_IDENT@398..399
                        PATH@398..399
                          Ident@398..399 "x"
                    Dot@399..400 "."
                    EXPR_IDENT@400..409
                      PATH@400..409
                        Ident@400..409 "to_string"
                  ARG_LIST@409..412
                    LParen@409..410 "("
                    RParen@410..411 ")"
                    Whitespace@411..412 " "
              Plus@412..413 "+"
              Whitespace@413..414 " "
              EXPR_STR@414..418
                Str@414..417 "\",\""
                Whitespace@417..418 " "
            Plus@418..419 "+"
            Whitespace@419..420 " "
            EXPR_CALL@420..439
              EXPR_BINARY@420..436
                EXPR_BINARY@420..426
                  EXPR_IDENT@420..424
                    PATH@420..424
                      Ident@420..424 "self"
                  Dot@424..425 "."
                  EXPR_IDENT@425..426
                    PATH@425..426
                      Ident@425..426 "y"
                Dot@426..427 "."
                EXPR_IDENT@427..436
                  PATH@427..436
                    Ident@427..436 "to_string"
              ARG_LIST@436..439
                LParen@436..437 "("
                RParen@437..438 ")"
                Whitespace@438..439 " "
          Plus@439..440 "+"
          Whitespace@440..441 " "
          EXPR_STR@441..449
            Str@441..444 "\")\""
            Whitespace@444..449 "\n    "
        RBrace@449..450 "}"
        Whitespace@450..456 "\n\n    "
    FN@456..626
      FnKeyword@456..458 "fn"
      Whitespace@458..459 " "
      Ident@459..468 "show_with"
      PARAM_LIST@468..514
        LParen@468..469 "("
        PARAM@469..482
          Ident@469..473 "self"
          Colon@473..474 ":"
          Whitespace@474..475 " "
          TYPE_TAPP@475..480
            PATH@475..480
              Ident@475..480 "Point"
          Comma@480..481 ","
          Whitespace@481..482 " "
        PARAM@482..498
          Ident@482..488 "prefix"
          Colon@488..489 ":"
          Whitespace@489..490 " "
          TYPE_STRING@490..496
            StringKeyword@490..496 "string"
          Comma@496..497 ","
          Whitespace@497..498 " "
        PARAM@498..512
          Ident@498..504 "suffix"
          Colon@504..505 ":"
          Whitespace@505..506 " "
          TYPE_STRING@506..512
            StringKeyword@506..512 "string"
        RParen@512..513 ")"
        Whitespace@513..514 " "
      Arrow@514..516 "->"
      Whitespace@516..517 " "
      TYPE_STRING@517..524
        StringKeyword@517..523 "string"
        Whitespace@523..524 " "
      BLOCK@524..626
        LBrace@524..525 "{"
        Whitespace@525..534 "\n        "
        EXPR_BINARY@534..619
          EXPR_BINARY@534..606
            EXPR_BINARY@534..600
              EXPR_BINARY@534..579
                EXPR_BINARY@534..573
                  EXPR_BINARY@534..552
                    EXPR_IDENT@534..541
                      PATH@534..541
                        Ident@534..540 "prefix"
                        Whitespace@540..541 " "
                    Plus@541..542 "+"
                    Whitespace@542..543 " "
                    EXPR_STR@543..552
                      Str@543..551 "\"Point(\""
                      Whitespace@551..552 " "
                  Plus@552..553 "+"
                  Whitespace@553..554 " "
                  EXPR_CALL@554..573
                    EXPR_BINARY@554..570
                      EXPR_BINARY@554..560
                        EXPR_IDENT@554..558
                          PATH@554..558
                            Ident@554..558 "self"
                        Dot@558..559 "."
                        EXPR_IDENT@559..560
                          PATH@559..560
                            Ident@559..560 "x"
                      Dot@560..561 "."
                      EXPR_IDENT@561..570
                        PATH@561..570
                          Ident@561..570 "to_string"
                    ARG_LIST@570..573
                      LParen@570..571 "("
                      RParen@571..572 ")"
                      Whitespace@572..573 " "
                Plus@573..574 "+"
                Whitespace@574..575 " "
                EXPR_STR@575..579
                  Str@575..578 "\",\""
                  Whitespace@578..579 " "
              Plus@579..580 "+"
              Whitespace@580..581 " "
              EXPR_CALL@581..600
                EXPR_BINARY@581..597
                  EXPR_BINARY@581..587
                    EXPR_IDENT@581..585
                      PATH@581..585
                        Ident@581..585 "self"
                    Dot@585..586 "."
                    EXPR_IDENT@586..587
                      PATH@586..587
                        Ident@586..587 "y"
                  Dot@587..588 "."
                  EXPR_IDENT@588..597
                    PATH@588..597
                      Ident@588..597 "to_string"
                ARG_LIST@597..600
                  LParen@597..598 "("
                  RParen@598..599 ")"
                  Whitespace@599..600 " "
            Plus@600..601 "+"
            Whitespace@601..602 " "
            EXPR_STR@602..606
              Str@602..605 "\")\""
              Whitespace@605..606 " "
          Plus@606..607 "+"
          Whitespace@607..608 " "
          EXPR_IDENT@608..619
            PATH@608..619
              Ident@608..614 "suffix"
              Whitespace@614..619 "\n    "
        RBrace@619..620 "}"
        Whitespace@620..626 "\n\n    "
    FN@626..661
      FnKeyword@626..628 "fn"
      Whitespace@628..629 " "
      Ident@629..633 "tick"
      PARAM_LIST@633..647
        LParen@633..634 "("
        PARAM@634..645
          Ident@634..638 "self"
          Colon@638..639 ":"
          Whitespace@639..640 " "
          TYPE_TAPP@640..645
            PATH@640..645
              Ident@640..645 "Point"
        RParen@645..646 ")"
        Whitespace@646..647 " "
      Arrow@647..649 "->"
      Whitespace@649..650 " "
      TYPE_TUPLE@650..653
        TYPE_LIST@650..653
          LParen@650..651 "("
          RParen@651..652 ")"
          Whitespace@652..653 " "
      BLOCK@653..661
        LBrace@653..654 "{"
        RBrace@654..655 "}"
        Whitespace@655..661 "\n\n    "
    FN@661..741
      FnKeyword@661..663 "fn"
      Whitespace@663..664 " "
      Ident@664..668 "bump"
      PARAM_LIST@668..694
        LParen@668..669 "("
        PARAM@669..682
          Ident@669..673 "self"
          Colon@673..674 ":"
          Whitespace@674..675 " "
          TYPE_TAPP@675..680
            PATH@675..680
              Ident@675..680 "Point"
          Comma@680..681 ","
          Whitespace@681..682 " "
        PARAM@682..692
          Ident@682..687 "delta"
          Colon@687..688 ":"
          Whitespace@688..689 " "
          TYPE_INT32@689..692
            I32Keyword@689..692 "i32"
        RParen@692..693 ")"
        Whitespace@693..694 " "
      Arrow@694..696 "->"
      Whitespace@696..697 " "
      TYPE_INT32@697..701
        I32Keyword@697..700 "i32"
        Whitespace@700..701 " "
      BLOCK@701..741
        LBrace@701..702 "{"
        Whitespace@702..711 "\n        "
        EXPR_BINARY@711..739
          EXPR_BINARY@711..727
            EXPR_BINARY@711..718
              EXPR_IDENT@711..715
                PATH@711..715
                  Ident@711..715 "self"
              Dot@715..716 "."
              EXPR_IDENT@716..718
                PATH@716..718
                  Ident@716..717 "x"
                  Whitespace@717..718 " "
            Plus@718..719 "+"
            Whitespace@719..720 " "
            EXPR_BINARY@720..727
              EXPR_IDENT@720..724
                PATH@720..724
                  Ident@720..724 "self"
              Dot@724..725 "."
              EXPR_IDENT@725..727
                PATH@725..727
                  Ident@725..726 "y"
                  Whitespace@726..727 " "
          Plus@727..728 "+"
          Whitespace@728..729 " "
          EXPR_IDENT@729..739
            PATH@729..739
              Ident@729..734 "delta"
              Whitespace@734..739 "\n    "
        RBrace@739..740 "}"
        Whitespace@740..741 "\n"
    RBrace@741..742 "}"
    Whitespace@742..744 "\n\n"
  IMPL@744..1307
    ImplKeyword@744..748 "impl"
    Whitespace@748..749 " "
    TYPE_TAPP@749..757
      PATH@749..757
        Ident@749..756 "Display"
        Whitespace@756..757 " "
    ForKeyword@757..760 "for"
    Whitespace@760..761 " "
    TYPE_TAPP@761..766
      PATH@761..766
        Ident@761..765 "Flag"
        Whitespace@765..766 " "
    LBrace@766..767 "{"
    Whitespace@767..772 "\n    "
    FN@772..917
      FnKeyword@772..774 "fn"
      Whitespace@774..775 " "
      Ident@775..779 "show"
      PARAM_LIST@779..792
        LParen@779..780 "("
        PARAM@780..790
          Ident@780..784 "self"
          Colon@784..785 ":"
          Whitespace@785..786 " "
          TYPE_TAPP@786..790
            PATH@786..790
              Ident@786..790 "Flag"
        RParen@790..791 ")"
        Whitespace@791..792 " "
      Arrow@792..794 "->"
      Whitespace@794..795 " "
      TYPE_STRING@795..802
        StringKeyword@795..801 "string"
        Whitespace@801..802 " "
      BLOCK@802..917
        LBrace@802..803 "{"
        Whitespace@803..812 "\n        "
        EXPR_IF@812..910
          IfKeyword@812..814 "if"
          Whitespace@814..815 " "
          EXPR_IF_COND@815..826
            EXPR_BINARY@815..826
              EXPR_IDENT@815..819
                PATH@815..819
                  Ident@815..819 "self"
              Dot@819..820 "."
              EXPR_IDENT@820..826
                PATH@820..826
                  Ident@820..825 "value"
                  Whitespace@825..826 " "
          EXPR_IF_THEN@826..863
            BLOCK@826..863
              LBrace@826..827 "{"
              Whitespace@827..840 "\n            "
              EXPR_STR@840..861
                Str@840..852 "\"Flag(true)\""
                Whitespace@852..861 "\n        "
              RBrace@861..862 "}"
              Whitespace@862..863 " "
          ElseKeyword@863..867 "else"
          Whitespace@867..868 " "
          EXPR_IF_ELSE@868..910
            BLOCK@868..910
              LBrace@868..869 "{"
              Whitespace@869..882 "\n            "
              EXPR_STR@882..904
                Str@882..895 "\"Flag(false)\""
                Whitespace@895..904 "\n        "
              RBrace@904..905 "}"
              Whitespace@905..910 "\n    "
        RBrace@910..911 "}"
        Whitespace@911..917 "\n\n    "
    FN@917..1135
      FnKeyword@917..919 "fn"
      Whitespace@919..920 " "
      Ident@920..929 "show_with"
      PARAM_LIST@929..974
        LParen@929..930 "("
        PARAM@930..942
          Ident@930..934 "self"
          Colon@934..935 ":"
          Whitespace@935..936 " "
          TYPE_TAPP@936..940
            PATH@936..940
              Ident@936..940 "Flag"
          Comma@940..941 ","
          Whitespace@941..942 " "
        PARAM@942..958
          Ident@942..948 "prefix"
          Colon@948..949 ":"
          Whitespace@949..950 " "
          TYPE_STRING@950..956
            StringKeyword@950..956 "string"
          Comma@956..957 ","
          Whitespace@957..958 " "
        PARAM@958..972
          Ident@958..964 "suffix"
          Colon@964..965 ":"
          Whitespace@965..966 " "
          TYPE_STRING@966..972
            StringKeyword@966..972 "string"
        RParen@972..973 ")"
        Whitespace@973..974 " "
      Arrow@974..976 "->"
      Whitespace@976..977 " "
      TYPE_STRING@977..984
        StringKeyword@977..983 "string"
        Whitespace@983..984 " "
      BLOCK@984..1135
        LBrace@984..985 "{"
        Whitespace@985..994 "\n        "
        EXPR_IF@994..1128
          IfKeyword@994..996 "if"
          Whitespace@996..997 " "
          EXPR_IF_COND@997..1008
            EXPR_BINARY@997..1008
              EXPR_IDENT@997..1001
                PATH@997..1001
                  Ident@997..1001 "self"
              Dot@1001..1002 "."
              EXPR_IDENT@1002..1008
                PATH@1002..1008
                  Ident@1002..1007 "value"
                  Whitespace@1007..1008 " "
          EXPR_IF_THEN@1008..1063
            BLOCK@1008..1063
              LBrace@1008..1009 "{"
              Whitespace@1009..1022 "\n            "
              EXPR_BINARY@1022..1061
                EXPR_BINARY@1022..1044
                  EXPR_IDENT@1022..1029
                    PATH@1022..1029
                      Ident@1022..1028 "prefix"
                      Whitespace@1028..1029 " "
                  Plus@1029..1030 "+"
                  Whitespace@1030..1031 " "
                  EXPR_STR@1031..1044
                    Str@1031..1043 "\"Flag(true)\""
                    Whitespace@1043..1044 " "
                Plus@1044..1045 "+"
                Whitespace@1045..1046 " "
                EXPR_IDENT@1046..1061
                  PATH@1046..1061
                    Ident@1046..1052 "suffix"
                    Whitespace@1052..1061 "\n        "
              RBrace@1061..1062 "}"
              Whitespace@1062..1063 " "
          ElseKeyword@1063..1067 "else"
          Whitespace@1067..1068 " "
          EXPR_IF_ELSE@1068..1128
            BLOCK@1068..1128
              LBrace@1068..1069 "{"
              Whitespace@1069..1082 "\n            "
              EXPR_BINARY@1082..1122
                EXPR_BINARY@1082..1105
                  EXPR_IDENT@1082..1089
                    PATH@1082..1089
                      Ident@1082..1088 "prefix"
                      Whitespace@1088..1089 " "
                  Plus@1089..1090 "+"
                  Whitespace@1090..1091 " "
                  EXPR_STR@1091..1105
                    Str@1091..1104 "\"Flag(false)\""
                    Whitespace@1104..1105 " "
                Plus@1105..1106 "+"
                Whitespace@1106..1107 " "
                EXPR_IDENT@1107..1122
                  PATH@1107..1122
                    Ident@1107..1113 "suffix"
                    Whitespace@1113..1122 "\n        "
              RBrace@1122..1123 "}"
              Whitespace@1123..1128 "\n    "
        RBrace@1128..1129 "}"
        Whitespace@1129..1135 "\n\n    "
    FN@1135..1169
      FnKeyword@1135..1137 "fn"
      Whitespace@1137..1138 " "
      Ident@1138..1142 "tick"
      PARAM_LIST@1142..1155
        LParen@1142..1143 "("
        PARAM@1143..1153
          Ident@1143..1147 "self"
          Colon@1147..1148 ":"
          Whitespace@1148..1149 " "
          TYPE_TAPP@1149..1153
            PATH@1149..1153
              Ident@1149..1153 "Flag"
        RParen@1153..1154 ")"
        Whitespace@1154..1155 " "
      Arrow@1155..1157 "->"
      Whitespace@1157..1158 " "
      TYPE_TUPLE@1158..1161
        TYPE_LIST@1158..1161
          LParen@1158..1159 "("
          RParen@1159..1160 ")"
          Whitespace@1160..1161 " "
      BLOCK@1161..1169
        LBrace@1161..1162 "{"
        RBrace@1162..1163 "}"
        Whitespace@1163..1169 "\n\n    "
    FN@1169..1304
      FnKeyword@1169..1171 "fn"
      Whitespace@1171..1172 " "
      Ident@1172..1176 "bump"
      PARAM_LIST@1176..1201
        LParen@1176..1177 "("
        PARAM@1177..1189
          Ident@1177..1181 "self"
          Colon@1181..1182 ":"
          Whitespace@1182..1183 " "
          TYPE_TAPP@1183..1187
            PATH@1183..1187
              Ident@1183..1187 "Flag"
          Comma@1187..1188 ","
          Whitespace@1188..1189 " "
        PARAM@1189..1199
          Ident@1189..1194 "delta"
          Colon@1194..1195 ":"
          Whitespace@1195..1196 " "
          TYPE_INT32@1196..1199
            I32Keyword@1196..1199 "i32"
        RParen@1199..1200 ")"
        Whitespace@1200..1201 " "
      Arrow@1201..1203 "->"
      Whitespace@1203..1204 " "
      TYPE_INT32@1204..1208
        I32Keyword@1204..1207 "i32"
        Whitespace@1207..1208 " "
      BLOCK@1208..1304
        LBrace@1208..1209 "{"
        Whitespace@1209..1218 "\n        "
        EXPR_IF@1218..1302
          IfKeyword@1218..1220 "if"
          Whitespace@1220..1221 " "
          EXPR_IF_COND@1221..1232
            EXPR_BINARY@1221..1232
              EXPR_IDENT@1221..1225
                PATH@1221..1225
                  Ident@1221..1225 "self"
              Dot@1225..1226 "."
              EXPR_IDENT@1226..1232
                PATH@1226..1232
                  Ident@1226..1231 "value"
                  Whitespace@1231..1232 " "
          EXPR_IF_THEN@1232..1262
            BLOCK@1232..1262
              LBrace@1232..1233 "{"
              Whitespace@1233..1246 "\n            "
              EXPR_IDENT@1246..1260
                PATH@1246..1260
                  Ident@1246..1251 "delta"
                  Whitespace@1251..1260 "\n        "
              RBrace@1260..1261 "}"
              Whitespace@1261..1262 " "
          ElseKeyword@1262..1266 "else"
          Whitespace@1266..1267 " "
          EXPR_IF_ELSE@1267..1302
            BLOCK@1267..1302
              LBrace@1267..1268 "{"
              Whitespace@1268..1281 "\n            "
              EXPR_PREFIX@1281..1296
                Minus@1281..1282 "-"
                EXPR_IDENT@1282..1296
                  PATH@1282..1296
                    Ident@1282..1287 "delta"
                    Whitespace@1287..1296 "\n        "
              RBrace@1296..1297 "}"
              Whitespace@1297..1302 "\n    "
        RBrace@1302..1303 "}"
        Whitespace@1303..1304 "\n"
    RBrace@1304..1305 "}"
    Whitespace@1305..1307 "\n\n"
  IMPL@1307..1861
    ImplKeyword@1307..1311 "impl"
    Whitespace@1311..1312 " "
    TYPE_TAPP@1312..1320
      PATH@1312..1320
        Ident@1312..1319 "Display"
        Whitespace@1319..1320 " "
    ForKeyword@1320..1323 "for"
    Whitespace@1323..1324 " "
    TYPE_TAPP@1324..1332
      PATH@1324..1332
        Ident@1324..1331 "Counter"
        Whitespace@1331..1332 " "
    LBrace@1332..1333 "{"
    Whitespace@1333..1338 "\n    "
    FN@1338..1439
      FnKeyword@1338..1340 "fn"
      Whitespace@1340..1341 " "
      Ident@1341..1345 "show"
      PARAM_LIST@1345..1361
        LParen@1345..1346 "("
        PARAM@1346..1359
          Ident@1346..1350 "self"
          Colon@1350..1351 ":"
          Whitespace@1351..1352 " "
          TYPE_TAPP@1352..1359
            PATH@1352..1359
              Ident@1352..1359 "Counter"
        RParen@1359..1360 ")"
        Whitespace@1360..1361 " "
      Arrow@1361..1363 "->"
      Whitespace@1363..1364 " "
      TYPE_STRING@1364..1371
        StringKeyword@1364..1370 "string"
        Whitespace@1370..1371 " "
      BLOCK@1371..1439
        LBrace@1371..1372 "{"
        Whitespace@1372..1381 "\n        "
        EXPR_BINARY@1381..1432
          EXPR_BINARY@1381..1422
            EXPR_STR@1381..1392
              Str@1381..1391 "\"Counter(\""
              Whitespace@1391..1392 " "
            Plus@1392..1393 "+"
            Whitespace@1393..1394 " "
            EXPR_CALL@1394..1422
              EXPR_BINARY@1394..1419
                EXPR_CALL@1394..1409
                  EXPR_BINARY@1394..1407
                    EXPR_BINARY@1394..1403
                      EXPR_IDENT@1394..1398
                        PATH@1394..1398
                          Ident@1394..1398 "self"
                      Dot@1398..1399 "."
                      EXPR_IDENT@1399..1403
                        PATH@1399..1403
                          Ident@1399..1403 "cell"
                    Dot@1403..1404 "."
                    EXPR_IDENT@1404..1407
                      PATH@1404..1407
                        Ident@1404..1407 "get"
                  ARG_LIST@1407..1409
                    LParen@1407..1408 "("
                    RParen@1408..1409 ")"
                Dot@1409..1410 "."
                EXPR_IDENT@1410..1419
                  PATH@1410..1419
                    Ident@1410..1419 "to_string"
              ARG_LIST@1419..1422
                LParen@1419..1420 "("
                RParen@1420..1421 ")"
                Whitespace@1421..1422 " "
          Plus@1422..1423 "+"
          Whitespace@1423..1424 " "
          EXPR_STR@1424..1432
            Str@1424..1427 "\")\""
            Whitespace@1427..1432 "\n    "
        RBrace@1432..1433 "}"
        Whitespace@1433..1439 "\n\n    "
    FN@1439..1595
      FnKeyword@1439..1441 "fn"
      Whitespace@1441..1442 " "
      Ident@1442..1451 "show_with"
      PARAM_LIST@1451..1499
        LParen@1451..1452 "("
        PARAM@1452..1467
          Ident@1452..1456 "self"
          Colon@1456..1457 ":"
          Whitespace@1457..1458 " "
          TYPE_TAPP@1458..1465
            PATH@1458..1465
              Ident@1458..1465 "Counter"
          Comma@1465..1466 ","
          Whitespace@1466..1467 " "
        PARAM@1467..1483
          Ident@1467..1473 "prefix"
          Colon@1473..1474 ":"
          Whitespace@1474..1475 " "
          TYPE_STRING@1475..1481
            StringKeyword@1475..1481 "string"
          Comma@1481..1482 ","
          Whitespace@1482..1483 " "
        PARAM@1483..1497
          Ident@1483..1489 "suffix"
          Colon@1489..1490 ":"
          Whitespace@1490..1491 " "
          TYPE_STRING@1491..1497
            StringKeyword@1491..1497 "string"
        RParen@1497..1498 ")"
        Whitespace@1498..1499 " "
      Arrow@1499..1501 "->"
      Whitespace@1501..1502 " "
      TYPE_STRING@1502..1509
        StringKeyword@1502..1508 "string"
        Whitespace@1508..1509 " "
      BLOCK@1509..1595
        LBrace@1509..1510 "{"
        Whitespace@1510..1519 "\n        "
        EXPR_BINARY@1519..1588
          EXPR_BINARY@1519..1575
            EXPR_BINARY@1519..1569
              EXPR_BINARY@1519..1539
                EXPR_IDENT@1519..1526
                  PATH@1519..1526
                    Ident@1519..1525 "prefix"
                    Whitespace@1525..1526 " "
                Plus@1526..1527 "+"
                Whitespace@1527..1528 " "
                EXPR_STR@1528..1539
                  Str@1528..1538 "\"Counter(\""
                  Whitespace@1538..1539 " "
              Plus@1539..1540 "+"
              Whitespace@1540..1541 " "
              EXPR_CALL@1541..1569
                EXPR_BINARY@1541..1566
                  EXPR_CALL@1541..1556
                    EXPR_BINARY@1541..1554
                      EXPR_BINARY@1541..1550
                        EXPR_IDENT@1541..1545
                          PATH@1541..1545
                            Ident@1541..1545 "self"
                        Dot@1545..1546 "."
                        EXPR_IDENT@1546..1550
                          PATH@1546..1550
                            Ident@1546..1550 "cell"
                      Dot@1550..1551 "."
                      EXPR_IDENT@1551..1554
                        PATH@1551..1554
                          Ident@1551..1554 "get"
                    ARG_LIST@1554..1556
                      LParen@1554..1555 "("
                      RParen@1555..1556 ")"
                  Dot@1556..1557 "."
                  EXPR_IDENT@1557..1566
                    PATH@1557..1566
                      Ident@1557..1566 "to_string"
                ARG_LIST@1566..1569
                  LParen@1566..1567 "("
                  RParen@1567..1568 ")"
                  Whitespace@1568..1569 " "
            Plus@1569..1570 "+"
            Whitespace@1570..1571 " "
            EXPR_STR@1571..1575
              Str@1571..1574 "\")\""
              Whitespace@1574..1575 " "
          Plus@1575..1576 "+"
          Whitespace@1576..1577 " "
          EXPR_IDENT@1577..1588
            PATH@1577..1588
              Ident@1577..1583 "suffix"
              Whitespace@1583..1588 "\n    "
        RBrace@1588..1589 "}"
        Whitespace@1589..1595 "\n\n    "
    FN@1595..1714
      FnKeyword@1595..1597 "fn"
      Whitespace@1597..1598 " "
      Ident@1598..1602 "tick"
      PARAM_LIST@1602..1618
        LParen@1602..1603 "("
        PARAM@1603..1616
          Ident@1603..1607 "self"
          Colon@1607..1608 ":"
          Whitespace@1608..1609 " "
          TYPE_TAPP@1609..1616
            PATH@1609..1616
              Ident@1609..1616 "Counter"
        RParen@1616..1617 ")"
        Whitespace@1617..1618 " "
      Arrow@1618..1620 "->"
      Whitespace@1620..1621 " "
      TYPE_TUPLE@1621..1624
        TYPE_LIST@1621..1624
          LParen@1621..1622 "("
          RParen@1622..1623 ")"
          Whitespace@1623..1624 " "
      BLOCK@1624..1714
        LBrace@1624..1625 "{"
        Whitespace@1625..1634 "\n        "
        STMT_LET@1634..1674
          LetKeyword@1634..1637 "let"
          Whitespace@1637..1638 " "
          PATTERN_VARIABLE@1638..1643
            Ident@1638..1642 "next"
            Whitespace@1642..1643 " "
          Eq@1643..1644 "="
          Whitespace@1644..1645 " "
          EXPR_BINARY@1645..1664
            EXPR_CALL@1645..1661
              EXPR_BINARY@1645..1658
                EXPR_BINARY@1645..1654
                  EXPR_IDENT@1645..1649
                    PATH@1645..1649
                      Ident@1645..1649 "self"
                  Dot@1649..1650 "."
                  EXPR_IDENT@1650..1654
                    PATH@1650..1654
                      Ident@1650..1654 "cell"
                Dot@1654..1655 "."
                EXPR_IDENT@1655..1658
                  PATH@1655..1658
                    Ident@1655..1658 "get"
              ARG_LIST@1658..1661
                LParen@1658..1659 "("
                RParen@1659..1660 ")"
                Whitespace@1660..1661 " "
            Plus@1661..1662 "+"
            Whitespace@1662..1663 " "
            EXPR_INT@1663..1664
              Int@1663..1664 "1"
          Semi@1664..1665 ";"
          Whitespace@1665..1674 "\n        "
        STMT_LET@1674..1707
          LetKeyword@1674..1677 "let"
          Whitespace@1677..1678 " "
          PATTERN_WILDCARD@1678..1680
            WildcardKeyword@1678..1679 "_"
            Whitespace@1679..1680 " "
          Eq@1680..1681 "="
          Whitespace@1681..1682 " "
          EXPR_CALL@1682..1701
            EXPR_BINARY@1682..1695
              EXPR_BINARY@1682..1691
                EXPR_IDENT@1682..1686
                  PATH@1682..1686
                    Ident@1682..1686 "self"
                Dot@1686..1687 "."
                EXPR_IDENT@1687..1691
                  PATH@1687..1691
                    Ident@1687..1691 "cell"
              Dot@1691..1692 "."
              EXPR_IDENT@1692..1695
                PATH@1692..1695
                  Ident@1692..1695 "set"
            ARG_LIST@1695..1701
              LParen@1695..1696 "("
              ARG@1696..1700
                EXPR_IDENT@1696..1700
                  PATH@1696..1700
                    Ident@1696..1700 "next"
              RParen@1700..1701 ")"
          Semi@1701..1702 ";"
          Whitespace@1702..1707 "\n    "
        RBrace@1707..1708 "}"
        Whitespace@1708..1714 "\n\n    "
    FN@1714..1858
      FnKeyword@1714..1716 "fn"
      Whitespace@1716..1717 " "
      Ident@1717..1721 "bump"
      PARAM_LIST@1721..1749
        LParen@1721..1722 "("
        PARAM@1722..1737
          Ident@1722..1726 "self"
          Colon@1726..1727 ":"
          Whitespace@1727..1728 " "
          TYPE_TAPP@1728..1735
            PATH@1728..1735
              Ident@1728..1735 "Counter"
          Comma@1735..1736 ","
          Whitespace@1736..1737 " "
        PARAM@1737..1747
          Ident@1737..1742 "delta"
          Colon@1742..1743 ":"
          Whitespace@1743..1744 " "
          TYPE_INT32@1744..1747
            I32Keyword@1744..1747 "i32"
        RParen@1747..1748 ")"
        Whitespace@1748..1749 " "
      Arrow@1749..1751 "->"
      Whitespace@1751..1752 " "
      TYPE_INT32@1752..1756
        I32Keyword@1752..1755 "i32"
        Whitespace@1755..1756 " "
      BLOCK@1756..1858
        LBrace@1756..1757 "{"
        Whitespace@1757..1766 "\n        "
        STMT_LET@1766..1810
          LetKeyword@1766..1769 "let"
          Whitespace@1769..1770 " "
          PATTERN_VARIABLE@1770..1775
            Ident@1770..1774 "next"
            Whitespace@1774..1775 " "
          Eq@1775..1776 "="
          Whitespace@1776..1777 " "
          EXPR_BINARY@1777..1800
            EXPR_CALL@1777..1793
              EXPR_BINARY@1777..1790
                EXPR_BINARY@1777..1786
                  EXPR_IDENT@1777..1781
                    PATH@1777..1781
                      Ident@1777..1781 "self"
                  Dot@1781..1782 "."
                  EXPR_IDENT@1782..1786
                    PATH@1782..1786
                      Ident@1782..1786 "cell"
                Dot@1786..1787 "."
                EXPR_IDENT@1787..1790
                  PATH@1787..1790
                    Ident@1787..1790 "get"
              ARG_LIST@1790..1793
                LParen@1790..1791 "("
                RParen@1791..1792 ")"
                Whitespace@1792..1793 " "
            Plus@1793..1794 "+"
            Whitespace@1794..1795 " "
            EXPR_IDENT@1795..1800
              PATH@1795..1800
                Ident@1795..1800 "delta"
          Semi@1800..1801 ";"
          Whitespace@1801..1810 "\n        "
        STMT_LET@1810..1847
          LetKeyword@1810..1813 "let"
          Whitespace@1813..1814 " "
          PATTERN_WILDCARD@1814..1816
            WildcardKeyword@1814..1815 "_"
            Whitespace@1815..1816 " "
          Eq@1816..1817 "="
          Whitespace@1817..1818 " "
          EXPR_CALL@1818..1837
            EXPR_BINARY@1818..1831
              EXPR_BINARY@1818..1827
                EXPR_IDENT@1818..1822
                  PATH@1818..1822
                    Ident@1818..1822 "self"
                Dot@1822..1823 "."
                EXPR_IDENT@1823..1827
                  PATH@1823..1827
                    Ident@1823..1827 "cell"
              Dot@1827..1828 "."
              EXPR_IDENT@1828..1831
                PATH@1828..1831
                  Ident@1828..1831 "set"
            ARG_LIST@1831..1837
              LParen@1831..1832 "("
              ARG@1832..1836
                EXPR_IDENT@1832..1836
                  PATH@1832..1836
                    Ident@1832..1836 "next"
              RParen@1836..1837 ")"
          Semi@1837..1838 ";"
          Whitespace@1838..1847 "\n        "
        EXPR_IDENT@1847..1856
          PATH@1847..1856
            Ident@1847..1851 "next"
            Whitespace@1851..1856 "\n    "
        RBrace@1856..1857 "}"
        Whitespace@1857..1858 "\n"
    RBrace@1858..1859 "}"
    Whitespace@1859..1861 "\n\n"
  FN@1861..1940
    FnKeyword@1861..1863 "fn"
    Whitespace@1863..1864 " "
    Ident@1864..1872 "show_dyn"
    PARAM_LIST@1872..1889
      LParen@1872..1873 "("
      PARAM@1873..1887
        Ident@1873..1874 "x"
        Colon@1874..1875 ":"
        Whitespace@1875..1876 " "
        TYPE_DYN@1876..1887
          DynKeyword@1876..1879 "dyn"
          Whitespace@1879..1880 " "
          DYN_BOUND@1880..1887
            PATH@1880..1887
              Ident@1880..1887 "Display"
      RParen@1887..1888 ")"
      Whitespace@1888..1889 " "
    Arrow@1889..1891 "->"
    Whitespace@1891..1892 " "
    TYPE_STRING@1892..1899
      StringKeyword@1892..1898 "string"
      Whitespace@1898..1899 " "
    BLOCK@1899..1940
      LBrace@1899..1900 "{"
      Whitespace@1900..1905 "\n    "
      EXPR_CALL@1905..1937
        EXPR_IDENT@1905..1923
          PATH@1905..1923
            Ident@1905..1912 "Display"
            ColonColon@1912..1914 "::"
            Ident@1914..1923 "show_with"
        ARG_LIST@1923..1937
          LParen@1923..1924 "("
          ARG@1924..1927
            EXPR_IDENT@1924..1925
              PATH@1924..1925
                Ident@1924..1925 "x"
            Comma@1925..1926 ","
            Whitespace@1926..1927 " "
          ARG@1927..1932
            EXPR_STR@1927..1930
              Str@1927..1930 "\"<\""
            Comma@1930..1931 ","
            Whitespace@1931..1932 " "
          ARG@1932..1935
            EXPR_STR@1932..1935
              Str@1932..1935 "\">\""
          RParen@1935..1936 ")"
          Whitespace@1936..1937 "\n"
      RBrace@1937..1938 "}"
      Whitespace@1938..1940 "\n\n"
  FN@1940..2120
    FnKeyword@1940..1942 "fn"
    Whitespace@1942..1943 " "
    Ident@1943..1959 "call_via_closure"
    PARAM_LIST@1959..1989
      LParen@1959..1960 "("
      PARAM@1960..1976
        Ident@1960..1961 "x"
        Colon@1961..1962 ":"
        Whitespace@1962..1963 " "
        TYPE_DYN@1963..1974
          DynKeyword@1963..1966 "dyn"
          Whitespace@1966..1967 " "
          DYN_BOUND@1967..1974
            PATH@1967..1974
              Ident@1967..1974 "Display"
        Comma@1974..1975 ","
        Whitespace@1975..1976 " "
      PARAM@1976..1987
        Ident@1976..1979 "tag"
        Colon@1979..1980 ":"
        Whitespace@1980..1981 " "
        TYPE_STRING@1981..1987
          StringKeyword@1981..1987 "string"
      RParen@1987..1988 ")"
      Whitespace@1988..1989 " "
    Arrow@1989..1991 "->"
    Whitespace@1991..1992 " "
    TYPE_STRING@1992..1999
      StringKeyword@1992..1998 "string"
      Whitespace@1998..1999 " "
    BLOCK@1999..2120
      LBrace@1999..2000 "{"
      Whitespace@2000..2005 "\n    "
      STMT_LET@2005..2107
        LetKeyword@2005..2008 "let"
        Whitespace@2008..2009 " "
        PATTERN_VARIABLE@2009..2010
          Ident@2009..2010 "f"
        Colon@2010..2011 ":"
        Whitespace@2011..2012 " "
        TYPE_FUNC@2012..2044
          TYPE_TUPLE@2012..2034
            TYPE_LIST@2012..2034
              LParen@2012..2013 "("
              TYPE_DYN@2013..2024
                DynKeyword@2013..2016 "dyn"
                Whitespace@2016..2017 " "
                DYN_BOUND@2017..2024
                  PATH@2017..2024
                    Ident@2017..2024 "Display"
              Comma@2024..2025 ","
              Whitespace@2025..2026 " "
              TYPE_STRING@2026..2032
                StringKeyword@2026..2032 "string"
              RParen@2032..2033 ")"
              Whitespace@2033..2034 " "
          Arrow@2034..2036 "->"
          Whitespace@2036..2037 " "
          TYPE_STRING@2037..2044
            StringKeyword@2037..2043 "string"
            Whitespace@2043..2044 " "
        Eq@2044..2045 "="
        Whitespace@2045..2046 " "
        EXPR_CLOSURE@2046..2101
          CLOSURE_PARAM_LIST@2046..2074
            Pipe@2046..2047 "|"
            CLOSURE_PARAM@2047..2061
              Ident@2047..2048 "v"
              Colon@2048..2049 ":"
              Whitespace@2049..2050 " "
              TYPE_DYN@2050..2061
                DynKeyword@2050..2053 "dyn"
                Whitespace@2053..2054 " "
                DYN_BOUND@2054..2061
                  PATH@2054..2061
                    Ident@2054..2061 "Display"
            Comma@2061..2062 ","
            Whitespace@2062..2063 " "
            CLOSURE_PARAM@2063..2072
              Ident@2063..2064 "t"
              Colon@2064..2065 ":"
              Whitespace@2065..2066 " "
              TYPE_STRING@2066..2072
                StringKeyword@2066..2072 "string"
            Pipe@2072..2073 "|"
            Whitespace@2073..2074 " "
          EXPR_CLOSURE_BODY@2074..2101
            EXPR_CALL@2074..2101
              EXPR_IDENT@2074..2092
                PATH@2074..2092
                  Ident@2074..2081 "Display"
                  ColonColon@2081..2083 "::"
                  Ident@2083..2092 "show_with"
              ARG_LIST@2092..2101
                LParen@2092..2093 "("
                ARG@2093..2096
                  EXPR_IDENT@2093..2094
                    PATH@2093..2094
                      Ident@2093..2094 "v"
                  Comma@2094..2095 ","
                  Whitespace@2095..2096 " "
                ARG@2096..2099
                  EXPR_IDENT@2096..2097
                    PATH@2096..2097
                      Ident@2096..2097 "t"
                  Comma@2097..2098 ","
                  Whitespace@2098..2099 " "
                ARG@2099..2100
                  EXPR_IDENT@2099..2100
                    PATH@2099..2100
                      Ident@2099..2100 "t"
                RParen@2100..2101 ")"
        Semi@2101..2102 ";"
        Whitespace@2102..2107 "\n    "
      EXPR_CALL@2107..2117
        EXPR_IDENT@2107..2108
          PATH@2107..2108
            Ident@2107..2108 "f"
        ARG_LIST@2108..2117
          LParen@2108..2109 "("
          ARG@2109..2112
            EXPR_IDENT@2109..2110
              PATH@2109..2110
                Ident@2109..2110 "x"
            Comma@2110..2111 ","
            Whitespace@2111..2112 " "
          ARG@2112..2115
            EXPR_IDENT@2112..2115
              PATH@2112..2115
                Ident@2112..2115 "tag"
          RParen@2115..2116 ")"
          Whitespace@2116..2117 "\n"
      RBrace@2117..2118 "}"
      Whitespace@2118..2120 "\n\n"
  FN@2120..2235
    FnKeyword@2120..2122 "fn"
    Whitespace@2122..2123 " "
    Ident@2123..2136 "make_renderer"
    PARAM_LIST@2136..2150
      LParen@2136..2137 "("
      PARAM@2137..2148
        Ident@2137..2140 "tag"
        Colon@2140..2141 ":"
        Whitespace@2141..2142 " "
        TYPE_STRING@2142..2148
          StringKeyword@2142..2148 "string"
      RParen@2148..2149 ")"
      Whitespace@2149..2150 " "
    Arrow@2150..2152 "->"
    Whitespace@2152..2153 " "
    TYPE_FUNC@2153..2177
      TYPE_TUPLE@2153..2167
        TYPE_LIST@2153..2167
          LParen@2153..2154 "("
          TYPE_DYN@2154..2165
            DynKeyword@2154..2157 "dyn"
            Whitespace@2157..2158 " "
            DYN_BOUND@2158..2165
              PATH@2158..2165
                Ident@2158..2165 "Display"
          RParen@2165..2166 ")"
          Whitespace@2166..2167 " "
      Arrow@2167..2169 "->"
      Whitespace@2169..2170 " "
      TYPE_STRING@2170..2177
        StringKeyword@2170..2176 "string"
        Whitespace@2176..2177 " "
    BLOCK@2177..2235
      LBrace@2177..2178 "{"
      Whitespace@2178..2183 "\n    "
      EXPR_CLOSURE@2183..2232
        CLOSURE_PARAM_LIST@2183..2200
          Pipe@2183..2184 "|"
          CLOSURE_PARAM@2184..2198
            Ident@2184..2185 "x"
            Colon@2185..2186 ":"
            Whitespace@2186..2187 " "
            TYPE_DYN@2187..2198
              DynKeyword@2187..2190 "dyn"
              Whitespace@2190..2191 " "
              DYN_BOUND@2191..2198
                PATH@2191..2198
                  Ident@2191..2198 "Display"
          Pipe@2198..2199 "|"
          Whitespace@2199..2200 " "
        EXPR_CLOSURE_BODY@2200..2232
          EXPR_CALL@2200..2232
            EXPR_IDENT@2200..2218
              PATH@2200..2218
                Ident@2200..2207 "Display"
                ColonColon@2207..2209 "::"
                Ident@2209..2218 "show_with"
            ARG_LIST@2218..2232
              LParen@2218..2219 "("
              ARG@2219..2222
                EXPR_IDENT@2219..2220
                  PATH@2219..2220
                    Ident@2219..2220 "x"
                Comma@2220..2221 ","
                Whitespace@2221..2222 " "
              ARG@2222..2227
                EXPR_IDENT@2222..2225
                  PATH@2222..2225
                    Ident@2222..2225 "tag"
                Comma@2225..2226 ","
                Whitespace@2226..2227 " "
              ARG@2227..2230
                EXPR_IDENT@2227..2230
                  PATH@2227..2230
                    Ident@2227..2230 "tag"
              RParen@2230..2231 ")"
              Whitespace@2231..2232 "\n"
      RBrace@2232..2233 "}"
      Whitespace@2233..2235 "\n\n"
  FN@2235..2405
    FnKeyword@2235..2237 "fn"
    Whitespace@2237..2238 " "
    Ident@2238..2251 "bump_and_show"
    PARAM_LIST@2251..2280
      LParen@2251..2252 "("
      PARAM@2252..2268
        Ident@2252..2253 "x"
        Colon@2253..2254 ":"
        Whitespace@2254..2255 " "
        TYPE_DYN@2255..2266
          DynKeyword@2255..2258 "dyn"
          Whitespace@2258..2259 " "
          DYN_BOUND@2259..2266
            PATH@2259..2266
              Ident@2259..2266 "Display"
        Comma@2266..2267 ","
        Whitespace@2267..2268 " "
      PARAM@2268..2278
        Ident@2268..2273 "delta"
        Colon@2273..2274 ":"
        Whitespace@2274..2275 " "
        TYPE_INT32@2275..2278
          I32Keyword@2275..2278 "i32"
      RParen@2278..2279 ")"
      Whitespace@2279..2280 " "
    Arrow@2280..2282 "->"
    Whitespace@2282..2283 " "
    TYPE_STRING@2283..2290
      StringKeyword@2283..2289 "string"
      Whitespace@2289..2290 " "
    BLOCK@2290..2405
      LBrace@2290..2291 "{"
      Whitespace@2291..2296 "\n    "
      STMT_LET@2296..2326
        LetKeyword@2296..2299 "let"
        Whitespace@2299..2300 " "
        PATTERN_WILDCARD@2300..2302
          WildcardKeyword@2300..2301 "_"
          Whitespace@2301..2302 " "
        Eq@2302..2303 "="
        Whitespace@2303..2304 " "
        EXPR_CALL@2304..2320
          EXPR_IDENT@2304..2317
            PATH@2304..2317
              Ident@2304..2311 "Display"
              ColonColon@2311..2313 "::"
              Ident@2313..2317 "tick"
          ARG_LIST@2317..2320
            LParen@2317..2318 "("
            ARG@2318..2319
              EXPR_IDENT@2318..2319
                PATH@2318..2319
                  Ident@2318..2319 "x"
            RParen@2319..2320 ")"
        Semi@2320..2321 ";"
        Whitespace@2321..2326 "\n    "
      EXPR_BINARY@2326..2402
        EXPR_BINARY@2326..2364
          EXPR_CALL@2326..2358
            EXPR_IDENT@2326..2344
              PATH@2326..2344
                Ident@2326..2333 "Display"
                ColonColon@2333..2335 "::"
                Ident@2335..2344 "show_with"
            ARG_LIST@2344..2358
              LParen@2344..2345 "("
              ARG@2345..2348
                EXPR_IDENT@2345..2346
                  PATH@2345..2346
                    Ident@2345..2346 "x"
                Comma@2346..2347 ","
                Whitespace@2347..2348 " "
              ARG@2348..2353
                EXPR_STR@2348..2351
                  Str@2348..2351 "\"[\""
                Comma@2351..2352 ","
                Whitespace@2352..2353 " "
              ARG@2353..2356
                EXPR_STR@2353..2356
                  Str@2353..2356 "\"]\""
              RParen@2356..2357 ")"
              Whitespace@2357..2358 " "
          Plus@2358..2359 "+"
          Whitespace@2359..2360 " "
          EXPR_STR@2360..2364
            Str@2360..2363 "\":\""
            Whitespace@2363..2364 " "
        Plus@2364..2365 "+"
        Whitespace@2365..2366 " "
        EXPR_CALL@2366..2402
          EXPR_BINARY@2366..2399
            EXPR_CALL@2366..2389
              EXPR_IDENT@2366..2379
                PATH@2366..2379
                  Ident@2366..2373 "Display"
                  ColonColon@2373..2375 "::"
                  Ident@2375..2379 "bump"
              ARG_LIST@2379..2389
                LParen@2379..2380 "("
                ARG@2380..2383
                  EXPR_IDENT@2380..2381
                    PATH@2380..2381
                      Ident@2380..2381 "x"
                  Comma@2381..2382 ","
                  Whitespace@2382..2383 " "
                ARG@2383..2388
                  EXPR_IDENT@2383..2388
                    PATH@2383..2388
                      Ident@2383..2388 "delta"
                RParen@2388..2389 ")"
            Dot@2389..2390 "."
            EXPR_IDENT@2390..2399
              PATH@2390..2399
                Ident@2390..2399 "to_string"
          ARG_LIST@2399..2402
            LParen@2399..2400 "("
            RParen@2400..2401 ")"
            Whitespace@2401..2402 "\n"
      RBrace@2402..2403 "}"
      Whitespace@2403..2405 "\n\n"
  FN@2405..3585
    FnKeyword@2405..2407 "fn"
    Whitespace@2407..2408 " "
    Ident@2408..2412 "main"
    PARAM_LIST@2412..2415
      LParen@2412..2413 "("
      RParen@2413..2414 ")"
      Whitespace@2414..2415 " "
    Arrow@2415..2417 "->"
    Whitespace@2417..2418 " "
    TYPE_TUPLE@2418..2421
      TYPE_LIST@2418..2421
        LParen@2418..2419 "("
        RParen@2419..2420 ")"
        Whitespace@2420..2421 " "
    BLOCK@2421..3585
      LBrace@2421..2422 "{"
      Whitespace@2422..2427 "\n    "
      STMT_LET@2427..2462
        LetKeyword@2427..2430 "let"
        Whitespace@2430..2431 " "
        PATTERN_VARIABLE@2431..2434
          Ident@2431..2433 "p1"
          Whitespace@2433..2434 " "
        Eq@2434..2435 "="
        Whitespace@2435..2436 " "
        EXPR_STRUCT_LITERAL@2436..2456
          PATH@2436..2442
            Ident@2436..2441 "Point"
            Whitespace@2441..2442 " "
          STRUCT_LITERAL_FIELD_LIST@2442..2456
            LBrace@2442..2443 "{"
            Whitespace@2443..2444 " "
            STRUCT_LITERAL_FIELD@2444..2448
              Ident@2444..2445 "x"
              Colon@2445..2446 ":"
              Whitespace@2446..2447 " "
              EXPR_INT@2447..2448
                Int@2447..2448 "1"
            Comma@2448..2449 ","
            Whitespace@2449..2450 " "
            STRUCT_LITERAL_FIELD@2450..2455
              Ident@2450..2451 "y"
              Colon@2451..2452 ":"
              Whitespace@2452..2453 " "
              EXPR_INT@2453..2455
                Int@2453..2454 "2"
                Whitespace@2454..2455 " "
            RBrace@2455..2456 "}"
        Semi@2456..2457 ";"
        Whitespace@2457..2462 "\n    "
      STMT_LET@2462..2497
        LetKeyword@2462..2465 "let"
        Whitespace@2465..2466 " "
        PATTERN_VARIABLE@2466..2469
          Ident@2466..2468 "p2"
          Whitespace@2468..2469 " "
        Eq@2469..2470 "="
        Whitespace@2470..2471 " "
        EXPR_STRUCT_LITERAL@2471..2491
          PATH@2471..2477
            Ident@2471..2476 "Point"
            Whitespace@2476..2477 " "
          STRUCT_LITERAL_FIELD_LIST@2477..2491
            LBrace@2477..2478 "{"
            Whitespace@2478..2479 " "
            STRUCT_LITERAL_FIELD@2479..2483
              Ident@2479..2480 "x"
              Colon@2480..2481 ":"
              Whitespace@2481..2482 " "
              EXPR_INT@2482..2483
                Int@2482..2483 "3"
            Comma@2483..2484 ","
            Whitespace@2484..2485 " "
            STRUCT_LITERAL_FIELD@2485..2490
              Ident@2485..2486 "y"
              Colon@2486..2487 ":"
              Whitespace@2487..2488 " "
              EXPR_INT@2488..2490
                Int@2488..2489 "4"
                Whitespace@2489..2490 " "
            RBrace@2490..2491 "}"
        Semi@2491..2492 ";"
        Whitespace@2492..2497 "\n    "
      STMT_LET@2497..2532
        LetKeyword@2497..2500 "let"
        Whitespace@2500..2501 " "
        PATTERN_VARIABLE@2501..2504
          Ident@2501..2503 "f1"
          Whitespace@2503..2504 " "
        Eq@2504..2505 "="
        Whitespace@2505..2506 " "
        EXPR_STRUCT_LITERAL@2506..2526
          PATH@2506..2511
            Ident@2506..2510 "Flag"
            Whitespace@2510..2511 " "
          STRUCT_LITERAL_FIELD_LIST@2511..2526
            LBrace@2511..2512 "{"
            Whitespace@2512..2513 " "
            STRUCT_LITERAL_FIELD@2513..2525
              Ident@2513..2518 "value"
              Colon@2518..2519 ":"
              Whitespace@2519..2520 " "
              EXPR_BOOL@2520..2525
                TrueKeyword@2520..2524 "true"
                Whitespace@2524..2525 " "
            RBrace@2525..2526 "}"
        Semi@2526..2527 ";"
        Whitespace@2527..2532 "\n    "
      STMT_LET@2532..2568
        LetKeyword@2532..2535 "let"
        Whitespace@2535..2536 " "
        PATTERN_VARIABLE@2536..2539
          Ident@2536..2538 "f2"
          Whitespace@2538..2539 " "
        Eq@2539..2540 "="
        Whitespace@2540..2541 " "
        EXPR_STRUCT_LITERAL@2541..2562
          PATH@2541..2546
            Ident@2541..2545 "Flag"
            Whitespace@2545..2546 " "
          STRUCT_LITERAL_FIELD_LIST@2546..2562
            LBrace@2546..2547 "{"
            Whitespace@2547..2548 " "
            STRUCT_LITERAL_FIELD@2548..2561
              Ident@2548..2553 "value"
              Colon@2553..2554 ":"
              Whitespace@2554..2555 " "
              EXPR_BOOL@2555..2561
                FalseKeyword@2555..2560 "false"
                Whitespace@2560..2561 " "
            RBrace@2561..2562 "}"
        Semi@2562..2563 ";"
        Whitespace@2563..2568 "\n    "
      STMT_LET@2568..2612
        LetKeyword@2568..2571 "let"
        Whitespace@2571..2572 " "
        PATTERN_VARIABLE@2572..2574
          Ident@2572..2573 "c"
          Whitespace@2573..2574 " "
        Eq@2574..2575 "="
        Whitespace@2575..2576 " "
        EXPR_STRUCT_LITERAL@2576..2606
          PATH@2576..2584
            Ident@2576..2583 "Counter"
            Whitespace@2583..2584 " "
          STRUCT_LITERAL_FIELD_LIST@2584..2606
            LBrace@2584..2585 "{"
            Whitespace@2585..2586 " "
            STRUCT_LITERAL_FIELD@2586..2605
              Ident@2586..2590 "cell"
              Colon@2590..2591 ":"
              Whitespace@2591..2592 " "
              EXPR_CALL@2592..2605
                EXPR_IDENT@2592..2600
                  PATH@2592..2600
                    Ident@2592..2595 "Ref"
                    ColonColon@2595..2597 "::"
                    Ident@2597..2600 "new"
                ARG_LIST@2600..2605
                  LParen@2600..2601 "("
                  ARG@2601..2603
                    EXPR_INT@2601..2603
                      Int@2601..2603 "10"
                  RParen@2603..2604 ")"
                  Whitespace@2604..2605 " "
            RBrace@2605..2606 "}"
        Semi@2606..2607 ";"
        Whitespace@2607..2612 "\n    "
      STMT_LET@2612..2658
        LetKeyword@2612..2615 "let"
        Whitespace@2615..2616 " "
        PATTERN_VARIABLE@2616..2619
          Ident@2616..2619 "dp1"
        Colon@2619..2620 ":"
        Whitespace@2620..2621 " "
        TYPE_DYN@2621..2633
          DynKeyword@2621..2624 "dyn"
          Whitespace@2624..2625 " "
          DYN_BOUND@2625..2633
            PATH@2625..2633
              Ident@2625..2632 "Display"
              Whitespace@2632..2633 " "
        Eq@2633..2634 "="
        Whitespace@2634..2635 " "
        EXPR_CAST@2635..2652
          EXPR_IDENT@2635..2638
            PATH@2635..2638
              Ident@2635..2637 "p1"
              Whitespace@2637..2638 " "
          AsKeyword@2638..2640 "as"
          Whitespace@2640..2641 " "
          TYPE_DYN@2641..2652
            DynKeyword@2641..2644 "dyn"
            Whitespace@2644..2645 " "
            DYN_BOUND@2645..2652
              PATH@2645..2652
                Ident@2645..2652 "Display"
        Semi@2652..2653 ";"
        Whitespace@2653..2658 "\n    "
      STMT_LET@2658..2704
        LetKeyword@2658..2661 "let"
        Whitespace@2661..2662 " "
        PATTERN_VARIABLE@2662..2665
          Ident@2662..2665 "dp2"
        Colon@2665..2666 ":"
        Whitespace@2666..2667 " "
        TYPE_DYN@2667..2679
          DynKeyword@2667..2670 "dyn"
          Whitespace@2670..2671 " "
          DYN_BOUND@2671..2679
            PATH@2671..2679
              Ident@2671..2678 "Display"
              Whitespace@2678..2679 " "
        Eq@2679..2680 "="
        Whitespace@2680..2681 " "
        EXPR_CAST@2681..2698
          EXPR_IDENT@2681..2684
            PATH@2681..2684
              Ident@2681..2683 "p2"
              Whitespace@2683..2684 " "
          AsKeyword@2684..2686 "as"
          Whitespace@2686..2687 " "
          TYPE_DYN@2687..2698
            DynKeyword@2687..2690 "dyn"
            Whitespace@2690..2691 " "
            DYN_BOUND@2691..2698
              PATH@2691..2698
                Ident@2691..2698 "Display"
        Semi@2698..2699 ";"
        Whitespace@2699..2704 "\n    "
      STMT_LET@2704..2750
        LetKeyword@2704..2707 "let"
        Whitespace@2707..2708 " "
        PATTERN_VARIABLE@2708..2711
          Ident@2708..2711 "df1"
        Colon@2711..2712 ":"
        Whitespace@2712..2713 " "
        TYPE_DYN@2713..2725
          DynKeyword@2713..2716 "dyn"
          Whitespace@2716..2717 " "
          DYN_BOUND@2717..2725
            PATH@2717..2725
              Ident@2717..2724 "Display"
              Whitespace@2724..2725 " "
        Eq@2725..2726 "="
        Whitespace@2726..2727 " "
        EXPR_CAST@2727..2744
          EXPR_IDENT@2727..2730
            PATH@2727..2730
              Ident@2727..2729 "f1"
              Whitespace@2729..2730 " "
          AsKeyword@2730..2732 "as"
          Whitespace@2732..2733 " "
          TYPE_DYN@2733..2744
            DynKeyword@2733..2736 "dyn"
            Whitespace@2736..2737 " "
            DYN_BOUND@2737..2744
              PATH@2737..2744
                Ident@2737..2744 "Display"
        Semi@2744..2745 ";"
        Whitespace@2745..2750 "\n    "
      STMT_LET@2750..2796
        LetKeyword@2750..2753 "let"
        Whitespace@2753..2754 " "
        PATTERN_VARIABLE@2754..2757
          Ident@2754..2757 "df2"
        Colon@2757..2758 ":"
        Whitespace@2758..2759 " "
        TYPE_DYN@2759..2771
          DynKeyword@2759..2762 "dyn"
          Whitespace@2762..2763 " "
          DYN_BOUND@2763..2771
            PATH@2763..2771
              Ident@2763..2770 "Display"
              Whitespace@2770..2771 " "
        Eq@2771..2772 "="
        Whitespace@2772..2773 " "
        EXPR_CAST@2773..2790
          EXPR_IDENT@2773..2776
            PATH@2773..2776
              Ident@2773..2775 "f2"
              Whitespace@2775..2776 " "
          AsKeyword@2776..2778 "as"
          Whitespace@2778..2779 " "
          TYPE_DYN@2779..2790
            DynKeyword@2779..2782 "dyn"
            Whitespace@2782..2783 " "
            DYN_BOUND@2783..2790
              PATH@2783..2790
                Ident@2783..2790 "Display"
        Semi@2790..2791 ";"
        Whitespace@2791..2796 "\n    "
      STMT_LET@2796..2840
        LetKeyword@2796..2799 "let"
        Whitespace@2799..2800 " "
        PATTERN_VARIABLE@2800..2802
          Ident@2800..2802 "dc"
        Colon@2802..2803 ":"
        Whitespace@2803..2804 " "
        TYPE_DYN@2804..2816
          DynKeyword@2804..2807 "dyn"
          Whitespace@2807..2808 " "
          DYN_BOUND@2808..2816
            PATH@2808..2816
              Ident@2808..2815 "Display"
              Whitespace@2815..2816 " "
        Eq@2816..2817 "="
        Whitespace@2817..2818 " "
        EXPR_CAST@2818..2834
          EXPR_IDENT@2818..2820
            PATH@2818..2820
              Ident@2818..2819 "c"
              Whitespace@2819..2820 " "
          AsKeyword@2820..2822 "as"
          Whitespace@2822..2823 " "
          TYPE_DYN@2823..2834
            DynKeyword@2823..2826 "dyn"
            Whitespace@2826..2827 " "
            DYN_BOUND@2827..2834
              PATH@2827..2834
                Ident@2827..2834 "Display"
        Semi@2834..2835 ";"
        Whitespace@2835..2840 "\n    "
      STMT_LET@2840..2882
        LetKeyword@2840..2843 "let"
        Whitespace@2843..2844 " "
        PATTERN_VARIABLE@2844..2856
          Ident@2844..2855 "render_star"
          Whitespace@2855..2856 " "
        Eq@2856..2857 "="
        Whitespace@2857..2858 " "
        EXPR_CALL@2858..2876
          EXPR_IDENT@2858..2871
            PATH@2858..2871
              Ident@2858..2871 "make_renderer"
          ARG_LIST@2871..2876
            LParen@2871..2872 "("
            ARG@2872..2875
              EXPR_STR@2872..2875
                Str@2872..2875 "\"*\""
            RParen@2875..2876 ")"
        Semi@2876..2877 ";"
        Whitespace@2877..2882 "\n    "
      STMT_LET@2882..2925
        LetKeyword@2882..2885 "let"
        Whitespace@2885..2886 " "
        PATTERN_VARIABLE@2886..2899
          Ident@2886..2898 "render_angle"
          Whitespace@2898..2899 " "
        Eq@2899..2900 "="
        Whitespace@2900..2901 " "
        EXPR_CALL@2901..2919
          EXPR_IDENT@2901..2914
            PATH@2901..2914
              Ident@2901..2914 "make_renderer"
          ARG_LIST@2914..2919
            LParen@2914..2915 "("
            ARG@2915..2918
              EXPR_STR@2915..2918
                Str@2915..2918 "\"<\""
            RParen@2918..2919 ")"
        Semi@2919..2920 ";"
        Whitespace@2920..2925 "\n    "
      STMT_LET@2925..2953
        LetKeyword@2925..2928 "let"
        Whitespace@2928..2929 " "
        PATTERN_VARIABLE@2929..2932
          Ident@2929..2931 "s0"
          Whitespace@2931..2932 " "
        Eq@2932..2933 "="
        Whitespace@2933..2934 " "
        EXPR_CALL@2934..2947
          EXPR_IDENT@2934..2942
            PATH@2934..2942
              Ident@2934..2942 "show_dyn"
          ARG_LIST@2942..2947
            LParen@2942..2943 "("
            ARG@2943..2946
              EXPR_IDENT@2943..2946
                PATH@2943..2946
                  Ident@2943..2946 "dp2"
            RParen@2946..2947 ")"
        Semi@2947..2948 ";"
        Whitespace@2948..2953 "\n    "
      STMT_LET@2953..2994
        LetKeyword@2953..2956 "let"
        Whitespace@2956..2957 " "
        PATTERN_VARIABLE@2957..2960
          Ident@2957..2959 "s1"
          Whitespace@2959..2960 " "
        Eq@2960..2961 "="
        Whitespace@2961..2962 " "
        EXPR_CALL@2962..2988
          EXPR_IDENT@2962..2978
            PATH@2962..2978
              Ident@2962..2978 "call_via_closure"
          ARG_LIST@2978..2988
            LParen@2978..2979 "("
            ARG@2979..2984
              EXPR_IDENT@2979..2982
                PATH@2979..2982
                  Ident@2979..2982 "df2"
              Comma@2982..2983 ","
              Whitespace@2983..2984 " "
            ARG@2984..2987
              EXPR_STR@2984..2987
                Str@2984..2987 "\"*\""
            RParen@2987..2988 ")"
        Semi@2988..2989 ";"
        Whitespace@2989..2994 "\n    "
      STMT_LET@2994..3051
        LetKeyword@2994..2997 "let"
        Whitespace@2997..2998 " "
        PATTERN_VARIABLE@2998..3001
          Ident@2998..3000 "s2"
          Whitespace@3000..3001 " "
        Eq@3001..3002 "="
        Whitespace@3002..3003 " "
        EXPR_BINARY@3003..3045
          EXPR_BINARY@3003..3026
            EXPR_CALL@3003..3020
              EXPR_IDENT@3003..3014
                PATH@3003..3014
                  Ident@3003..3014 "render_star"
              ARG_LIST@3014..3020
                LParen@3014..3015 "("
                ARG@3015..3018
                  EXPR_IDENT@3015..3018
                    PATH@3015..3018
                      Ident@3015..3018 "dp1"
                RParen@3018..3019 ")"
                Whitespace@3019..3020 " "
            Plus@3020..3021 "+"
            Whitespace@3021..3022 " "
            EXPR_STR@3022..3026
              Str@3022..3025 "\"|\""
              Whitespace@3025..3026 " "
          Plus@3026..3027 "+"
          Whitespace@3027..3028 " "
          EXPR_CALL@3028..3045
            EXPR_IDENT@3028..3040
              PATH@3028..3040
                Ident@3028..3040 "render_angle"
            ARG_LIST@3040..3045
              LParen@3040..3041 "("
              ARG@3041..3044
                EXPR_IDENT@3041..3044
                  PATH@3041..3044
                    Ident@3041..3044 "df1"
              RParen@3044..3045 ")"
        Semi@3045..3046 ";"
        Whitespace@3046..3051 "\n    "
      STMT_LET@3051..3093
        LetKeyword@3051..3054 "let"
        Whitespace@3054..3055 " "
        PATTERN_VARIABLE@3055..3056
          Ident@3055..3056 "v"
        Colon@3056..3057 ":"
        Whitespace@3057..3058 " "
        TYPE_TAPP@3058..3075
          PATH@3058..3061
            Ident@3058..3061 "Vec"
          TYPE_PARAM_LIST@3061..3075
            LBracket@3061..3062 "["
            TYPE_DYN@3062..3073
              DynKeyword@3062..3065 "dyn"
              Whitespace@3065..3066 " "
              DYN_BOUND@3066..3073
                PATH@3066..3073
                  Ident@3066..3073 "Display"
            RBracket@3073..3074 "]"
            Whitespace@3074..3075 " "
        Eq@3075..3076 "="
        Whitespace@3076..3077 " "
        EXPR_CALL@3077..3087
          EXPR_IDENT@3077..3085
            PATH@3077..3085
              Ident@3077..3080 "Vec"
              ColonColon@3080..3082 "::"
              Ident@3082..3085 "new"
          ARG_LIST@3085..3087
            LParen@3085..3086 "("
            RParen@3086..3087 ")"
        Semi@3087..3088 ";"
        Whitespace@3088..3093 "\n    "
      STMT_EXPR@3093..3110
        EXPR_CALL@3093..3104
          EXPR_BINARY@3093..3099
            EXPR_IDENT@3093..3094
              PATH@3093..3094
                Ident@3093..3094 "v"
            Dot@3094..3095 "."
            EXPR_IDENT@3095..3099
              PATH@3095..3099
                Ident@3095..3099 "push"
          ARG_LIST@3099..3104
            LParen@3099..3100 "("
            ARG@3100..3103
              EXPR_IDENT@3100..3103
                PATH@3100..3103
                  Ident@3100..3103 "dp1"
            RParen@3103..3104 ")"
        Semi@3104..3105 ";"
        Whitespace@3105..3110 "\n    "
      STMT_EXPR@3110..3127
        EXPR_CALL@3110..3121
          EXPR_BINARY@3110..3116
            EXPR_IDENT@3110..3111
              PATH@3110..3111
                Ident@3110..3111 "v"
            Dot@3111..3112 "."
            EXPR_IDENT@3112..3116
              PATH@3112..3116
                Ident@3112..3116 "push"
          ARG_LIST@3116..3121
            LParen@3116..3117 "("
            ARG@3117..3120
              EXPR_IDENT@3117..3120
                PATH@3117..3120
                  Ident@3117..3120 "df1"
            RParen@3120..3121 ")"
        Semi@3121..3122 ";"
        Whitespace@3122..3127 "\n    "
      STMT_EXPR@3127..3143
        EXPR_CALL@3127..3137
          EXPR_BINARY@3127..3133
            EXPR_IDENT@3127..3128
              PATH@3127..3128
                Ident@3127..3128 "v"
            Dot@3128..3129 "."
            EXPR_IDENT@3129..3133
              PATH@3129..3133
                Ident@3129..3133 "push"
          ARG_LIST@3133..3137
            LParen@3133..3134 "("
            ARG@3134..3136
              EXPR_IDENT@3134..3136
                PATH@3134..3136
                  Ident@3134..3136 "dc"
            RParen@3136..3137 ")"
        Semi@3137..3138 ";"
        Whitespace@3138..3143 "\n    "
      STMT_LET@3143..3167
        LetKeyword@3143..3146 "let"
        Whitespace@3146..3147 " "
        PATTERN_VARIABLE@3147..3152
          Ident@3147..3151 "vlen"
          Whitespace@3151..3152 " "
        Eq@3152..3153 "="
        Whitespace@3153..3154 " "
        EXPR_CALL@3154..3161
          EXPR_BINARY@3154..3159
            EXPR_IDENT@3154..3155
              PATH@3154..3155
                Ident@3154..3155 "v"
            Dot@3155..3156 "."
            EXPR_IDENT@3156..3159
              PATH@3156..3159
                Ident@3156..3159 "len"
          ARG_LIST@3159..3161
            LParen@3159..3160 "("
            RParen@3160..3161 ")"
        Semi@3161..3162 ";"
        Whitespace@3162..3167 "\n    "
      STMT_LET@3167..3235
        LetKeyword@3167..3170 "let"
        Whitespace@3170..3171 " "
        PATTERN_VARIABLE@3171..3177
          Ident@3171..3176 "delta"
          Whitespace@3176..3177 " "
        Eq@3177..3178 "="
        Whitespace@3178..3179 " "
        EXPR_MATCH@3179..3229
          MatchKeyword@3179..3184 "match"
          Whitespace@3184..3185 " "
          EXPR_IDENT@3185..3190
            PATH@3185..3190
              Ident@3185..3189 "vlen"
              Whitespace@3189..3190 " "
          MATCH_ARM_LIST@3190..3229
            LBrace@3190..3191 "{"
            Whitespace@3191..3200 "\n        "
            MATCH_ARM@3200..3206
              PATTERN_INT@3200..3202
                Int@3200..3201 "2"
                Whitespace@3201..3202 " "
              FatArrow@3202..3204 "=>"
              Whitespace@3204..3205 " "
              EXPR_INT@3205..3206
                Int@3205..3206 "3"
            Comma@3206..3207 ","
            Whitespace@3207..3216 "\n        "
            MATCH_ARM@3216..3222
              PATTERN_WILDCARD@3216..3218
                WildcardKeyword@3216..3217 "_"
                Whitespace@3217..3218 " "
              FatArrow@3218..3220 "=>"
              Whitespace@3220..3221 " "
              EXPR_INT@3221..3222
                Int@3221..3222 "5"
            Comma@3222..3223 ","
            Whitespace@3223..3228 "\n    "
            RBrace@3228..3229 "}"
        Semi@3229..3230 ";"
        Whitespace@3230..3235 "\n    "
      STMT_LET@3235..3260
        LetKeyword@3235..3238 "let"
        Whitespace@3238..3239 " "
        PATTERN_WILDCARD@3239..3241
          WildcardKeyword@3239..3240 "_"
          Whitespace@3240..3241 " "
        Eq@3241..3242 "="
        Whitespace@3242..3243 " "
        EXPR_CALL@3243..3254
          EXPR_IDENT@3243..3250
            PATH@3243..3250
              Ident@3243..3250 "println"
          ARG_LIST@3250..3254
            LParen@3250..3251 "("
            ARG@3251..3253
              EXPR_IDENT@3251..3253
                PATH@3251..3253
                  Ident@3251..3253 "s0"
            RParen@3253..3254 ")"
        Semi@3254..3255 ";"
        Whitespace@3255..3260 "\n    "
      STMT_LET@3260..3285
        LetKeyword@3260..3263 "let"
        Whitespace@3263..3264 " "
        PATTERN_WILDCARD@3264..3266
          WildcardKeyword@3264..3265 "_"
          Whitespace@3265..3266 " "
        Eq@3266..3267 "="
        Whitespace@3267..3268 " "
        EXPR_CALL@3268..3279
          EXPR_IDENT@3268..3275
            PATH@3268..3275
              Ident@3268..3275 "println"
          ARG_LIST@3275..3279
            LParen@3275..3276 "("
            ARG@3276..3278
              EXPR_IDENT@3276..3278
                PATH@3276..3278
                  Ident@3276..3278 "s1"
            RParen@3278..3279 ")"
        Semi@3279..3280 ";"
        Whitespace@3280..3285 "\n    "
      STMT_LET@3285..3310
        LetKeyword@3285..3288 "let"
        Whitespace@3288..3289 " "
        PATTERN_WILDCARD@3289..3291
          WildcardKeyword@3289..3290 "_"
          Whitespace@3290..3291 " "
        Eq@3291..3292 "="
        Whitespace@3292..3293 " "
        EXPR_CALL@3293..3304
          EXPR_IDENT@3293..3300
            PATH@3293..3300
              Ident@3293..3300 "println"
          ARG_LIST@3300..3304
            LParen@3300..3301 "("
            ARG@3301..3303
              EXPR_IDENT@3301..3303
                PATH@3301..3303
                  Ident@3301..3303 "s2"
            RParen@3303..3304 ")"
        Semi@3304..3305 ";"
        Whitespace@3305..3310 "\n    "
      STMT_LET@3310..3345
        LetKeyword@3310..3313 "let"
        Whitespace@3313..3314 " "
        PATTERN_VARIABLE@3314..3315
          Ident@3314..3315 "i"
        Colon@3315..3316 ":"
        Whitespace@3316..3317 " "
        TYPE_TAPP@3317..3326
          PATH@3317..3320
            Ident@3317..3320 "Ref"
          TYPE_PARAM_LIST@3320..3326
            LBracket@3320..3321 "["
            TYPE_INT32@3321..3324
              I32Keyword@3321..3324 "i32"
            RBracket@3324..3325 "]"
            Whitespace@3325..3326 " "
        Eq@3326..3327 "="
        Whitespace@3327..3328 " "
        EXPR_CALL@3328..3339
          EXPR_IDENT@3328..3336
            PATH@3328..3336
              Ident@3328..3331 "Ref"
              ColonColon@3331..3333 "::"
              Ident@3333..3336 "new"
          ARG_LIST@3336..3339
            LParen@3336..3337 "("
            ARG@3337..3338
              EXPR_INT@3337..3338
                Int@3337..3338 "0"
            RParen@3338..3339 ")"
        Semi@3339..3340 ";"
        Whitespace@3340..3345 "\n    "
      STMT_LET@3345..3488
        LetKeyword@3345..3348 "let"
        Whitespace@3348..3349 " "
        PATTERN_WILDCARD@3349..3351
          WildcardKeyword@3349..3350 "_"
          Whitespace@3350..3351 " "
        Eq@3351..3352 "="
        Whitespace@3352..3353 " "
        EXPR_WHILE@3353..3482
          WhileKeyword@3353..3358 "while"
          Whitespace@3358..3359 " "
          EXPR_WHILE_COND@3359..3371
            EXPR_BINARY@3359..3371
              EXPR_CALL@3359..3367
                EXPR_BINARY@3359..3364
                  EXPR_IDENT@3359..3360
                    PATH@3359..3360
                      Ident@3359..3360 "i"
                  Dot@3360..3361 "."
                  EXPR_IDENT@3361..3364
                    PATH@3361..3364
                      Ident@3361..3364 "get"
                ARG_LIST@3364..3367
                  LParen@3364..3365 "("
                  RParen@3365..3366 ")"
                  Whitespace@3366..3367 " "
              Less@3367..3368 "<"
              Whitespace@3368..3369 " "
              EXPR_INT@3369..3371
                Int@3369..3370 "3"
                Whitespace@3370..3371 " "
          EXPR_WHILE_BODY@3371..3482
            BLOCK@3371..3482
              LBrace@3371..3372 "{"
              Whitespace@3372..3381 "\n        "
              STMT_LET@3381..3426
                LetKeyword@3381..3384 "let"
                Whitespace@3384..3385 " "
                PATTERN_VARIABLE@3385..3390
                  Ident@3385..3389 "line"
                  Whitespace@3389..3390 " "
                Eq@3390..3391 "="
                Whitespace@3391..3392 " "
                EXPR_CALL@3392..3416
                  EXPR_IDENT@3392..3405
                    PATH@3392..3405
                      Ident@3392..3405 "bump_and_show"
                  ARG_LIST@3405..3416
                    LParen@3405..3406 "("
                    ARG@3406..3410
                      EXPR_IDENT@3406..3408
                        PATH@3406..3408
                          Ident@3406..3408 "dc"
                      Comma@3408..3409 ","
                      Whitespace@3409..3410 " "
                    ARG@3410..3415
                      EXPR_IDENT@3410..3415
                        PATH@3410..3415
                          Ident@3410..3415 "delta"
                    RParen@3415..3416 ")"
                Semi@3416..3417 ";"
                Whitespace@3417..3426 "\n        "
              STMT_EXPR@3426..3449
                EXPR_CALL@3426..3439
                  EXPR_IDENT@3426..3433
                    PATH@3426..3433
                      Ident@3426..3433 "println"
                  ARG_LIST@3433..3439
                    LParen@3433..3434 "("
                    ARG@3434..3438
                      EXPR_IDENT@3434..3438
                        PATH@3434..3438
                          Ident@3434..3438 "line"
                    RParen@3438..3439 ")"
                Semi@3439..3440 ";"
                Whitespace@3440..3449 "\n        "
              STMT_LET@3449..3481
                LetKeyword@3449..3452 "let"
                Whitespace@3452..3453 " "
                PATTERN_WILDCARD@3453..3455
                  WildcardKeyword@3453..3454 "_"
                  Whitespace@3454..3455 " "
                Eq@3455..3456 "="
                Whitespace@3456..3457 " "
                EXPR_CALL@3457..3475
                  EXPR_BINARY@3457..3462
                    EXPR_IDENT@3457..3458
                      PATH@3457..3458
                        Ident@3457..3458 "i"
                    Dot@3458..3459 "."
                    EXPR_IDENT@3459..3462
                      PATH@3459..3462
                        Ident@3459..3462 "set"
                  ARG_LIST@3462..3475
                    LParen@3462..3463 "("
                    ARG@3463..3474
                      EXPR_BINARY@3463..3474
                        EXPR_CALL@3463..3471
                          EXPR_BINARY@3463..3468
                            EXPR_IDENT@3463..3464
                              PATH@3463..3464
                                Ident@3463..3464 "i"
                            Dot@3464..3465 "."
                            EXPR_IDENT@3465..3468
                              PATH@3465..3468
                                Ident@3465..3468 "get"
                          ARG_LIST@3468..3471
                            LParen@3468..3469 "("
                            RParen@3469..3470 ")"
                            Whitespace@3470..3471 " "
                        Plus@3471..3472 "+"
                        Whitespace@3472..3473 " "
                        EXPR_INT@3473..3474
                          Int@3473..3474 "1"
                    RParen@3474..3475 ")"
                Semi@3475..3476 ";"
                Whitespace@3476..3481 "\n    "
              RBrace@3481..3482 "}"
        Semi@3482..3483 ";"
        Whitespace@3483..3488 "\n    "
      STMT_LET@3488..3536
        LetKeyword@3488..3491 "let"
        Whitespace@3491..3492 " "
        PATTERN_WILDCARD@3492..3494
          WildcardKeyword@3492..3493 "_"
          Whitespace@3493..3494 " "
        Eq@3494..3495 "="
        Whitespace@3495..3496 " "
        EXPR_CALL@3496..3530
          EXPR_IDENT@3496..3503
            PATH@3496..3503
              Ident@3496..3503 "println"
          ARG_LIST@3503..3530
            LParen@3503..3504 "("
            ARG@3504..3529
              EXPR_BINARY@3504..3529
                EXPR_STR@3504..3511
                  Str@3504..3510 "\"len:\""
                  Whitespace@3510..3511 " "
                Plus@3511..3512 "+"
                Whitespace@3512..3513 " "
                EXPR_CALL@3513..3529
                  EXPR_BINARY@3513..3527
                    EXPR_IDENT@3513..3517
                      PATH@3513..3517
                        Ident@3513..3517 "vlen"
                    Dot@3517..3518 "."
                    EXPR_IDENT@3518..3527
                      PATH@3518..3527
                        Ident@3518..3527 "to_string"
                  ARG_LIST@3527..3529
                    LParen@3527..3528 "("
                    RParen@3528..3529 ")"
            RParen@3529..3530 ")"
        Semi@3530..3531 ";"
        Whitespace@3531..3536 "\n    "
      STMT_LET@3536..3583
        LetKeyword@3536..3539 "let"
        Whitespace@3539..3540 " "
        PATTERN_WILDCARD@3540..3542
          WildcardKeyword@3540..3541 "_"
          Whitespace@3541..3542 " "
        Eq@3542..3543 "="
        Whitespace@3543..3544 " "
        EXPR_CALL@3544..3581
          EXPR_IDENT@3544..3551
            PATH@3544..3551
              Ident@3544..3551 "println"
          ARG_LIST@3551..3581
            LParen@3551..3552 "("
            ARG@3552..3580
              EXPR_BINARY@3552..3580
                EXPR_STR@3552..3561
                  Str@3552..3560 "\"delta:\""
                  Whitespace@3560..3561 " "
                Plus@3561..3562 "+"
                Whitespace@3562..3563 " "
                EXPR_CALL@3563..3580
                  EXPR_BINARY@3563..3578
                    EXPR_IDENT@3563..3568
                      PATH@3563..3568
                        Ident@3563..3568 "delta"
                    Dot@3568..3569 "."
                    EXPR_IDENT@3569..3578
                      PATH@3569..3578
                        Ident@3569..3578 "to_string"
                  ARG_LIST@3578..3580
                    LParen@3578..3579 "("
                    RParen@3579..3580 ")"
            RParen@3580..3581 ")"
        Semi@3581..3582 ";"
        Whitespace@3582..3583 "\n"
      RBrace@3583..3584 "}"
      Whitespace@3584..3585 "\n"