FILE@0..920
  FN@0..303
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "optimized"
    PARAM_LIST@12..36
      LParen@12..13 "("
      PARAM@13..24
        Ident@13..17 "base"
        Colon@17..18 ":"
        Whitespace@18..19 " "
        TYPE_INT@19..22
          IntKeyword@19..22 "int"
        Comma@22..23 ","
        Whitespace@23..24 " "
      PARAM@24..34
        Ident@24..29 "count"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_INT@31..34
          IntKeyword@31..34 "int"
      RParen@34..35 ")"
      Whitespace@35..36 " "
    Arrow@36..38 "->"
    Whitespace@38..39 " "
    TYPE_INT@39..43
      IntKeyword@39..42 "int"
      Whitespace@42..43 " "
    BLOCK@43..303
      LBrace@43..44 "{"
      Whitespace@44..49 "\n    "
      STMT_LET@49..72
        LetKeyword@49..52 "let"
        Whitespace@52..53 " "
        MutKeyword@53..56 "mut"
        Whitespace@56..57 " "
        PATTERN_VARIABLE@57..63
          Ident@57..62 "index"
          Whitespace@62..63 " "
        Eq@63..64 "="
        Whitespace@64..65 " "
        EXPR_INT@65..66
          Int@65..66 "0"
        Semi@66..67 ";"
        Whitespace@67..72 "\n    "
      STMT_LET@72..96
        LetKeyword@72..75 "let"
        Whitespace@75..76 " "
        MutKeyword@76..79 "mut"
        Whitespace@79..80 " "
        PATTERN_VARIABLE@80..87
          Ident@80..86 "result"
          Whitespace@86..87 " "
        Eq@87..88 "="
        Whitespace@88..89 " "
        EXPR_INT@89..90
          Int@89..90 "0"
        Semi@90..91 ";"
        Whitespace@91..96 "\n    "
      STMT_EXPR@96..293
        EXPR_WHILE@96..293
          WhileKeyword@96..101 "while"
          Whitespace@101..102 " "
          EXPR_WHILE_COND@102..116
            EXPR_BINARY@102..116
              EXPR_IDENT@102..108
                PATH@102..108
                  Ident@102..107 "index"
                  Whitespace@107..108 " "
              Less@108..109 "<"
              Whitespace@109..110 " "
              EXPR_IDENT@110..116
                PATH@110..116
                  Ident@110..115 "count"
                  Whitespace@115..116 " "
          EXPR_WHILE_BODY@116..293
            BLOCK@116..293
              LBrace@116..117 "{"
              Whitespace@117..126 "\n        "
              STMT_LET@126..160
                LetKeyword@126..129 "let"
                Whitespace@129..130 " "
                PATTERN_VARIABLE@130..137
                  Ident@130..136 "square"
                  Whitespace@136..137 " "
                Eq@137..138 "="
                Whitespace@138..139 " "
                EXPR_BINARY@139..150
                  EXPR_IDENT@139..144
                    PATH@139..144
                      Ident@139..143 "base"
                      Whitespace@143..144 " "
                  Star@144..145 "*"
                  Whitespace@145..146 " "
                  EXPR_IDENT@146..150
                    PATH@146..150
                      Ident@146..150 "base"
                Semi@150..151 ";"
                Whitespace@151..160 "\n        "
              STMT_LET@160..194
                LetKeyword@160..163 "let"
                Whitespace@163..164 " "
                PATTERN_VARIABLE@164..171
                  Ident@164..170 "scaled"
                  Whitespace@170..171 " "
                Eq@171..172 "="
                Whitespace@172..173 " "
                EXPR_BINARY@173..184
                  EXPR_IDENT@173..180
                    PATH@173..180
                      Ident@173..179 "square"
                      Whitespace@179..180 " "
                  Star@180..181 "*"
                  Whitespace@181..182 " "
                  EXPR_INT@182..184
                    Int@182..184 "17"
                Semi@184..185 ";"
                Whitespace@185..194 "\n        "
              STMT_LET@194..230
                LetKeyword@194..197 "let"
                Whitespace@197..198 " "
                PATTERN_VARIABLE@198..205
                  Ident@198..204 "offset"
                  Whitespace@204..205 " "
                Eq@205..206 "="
                Whitespace@206..207 " "
                EXPR_BINARY@207..220
                  EXPR_IDENT@207..214
                    PATH@207..214
                      Ident@207..213 "scaled"
                      Whitespace@213..214 " "
                  Plus@214..215 "+"
                  Whitespace@215..216 " "
                  EXPR_IDENT@216..220
                    PATH@216..220
                      Ident@216..220 "base"
                Semi@220..221 ";"
                Whitespace@221..230 "\n        "
              STMT_ASSIGN@230..264
                EXPR_IDENT@230..237
                  PATH@230..237
                    Ident@230..236 "result"
                    Whitespace@236..237 " "
                Eq@237..238 "="
                Whitespace@238..239 " "
                EXPR_BINARY@239..254
                  EXPR_IDENT@239..246
                    PATH@239..246
                      Ident@239..245 "result"
                      Whitespace@245..246 " "
                  Plus@246..247 "+"
                  Whitespace@247..248 " "
                  EXPR_IDENT@248..254
                    PATH@248..254
                      Ident@248..254 "offset"
                Semi@254..255 ";"
                Whitespace@255..264 "\n        "
              STMT_ASSIGN@264..287
                EXPR_IDENT@264..270
                  PATH@264..270
                    Ident@264..269 "index"
                    Whitespace@269..270 " "
                Eq@270..271 "="
                Whitespace@271..272 " "
                EXPR_BINARY@272..281
                  EXPR_IDENT@272..278
                    PATH@272..278
                      Ident@272..277 "index"
                      Whitespace@277..278 " "
                  Plus@278..279 "+"
                  Whitespace@279..280 " "
                  EXPR_INT@280..281
                    Int@280..281 "1"
                Semi@281..282 ";"
                Whitespace@282..287 "\n    "
              RBrace@287..288 "}"
              Whitespace@288..293 "\n    "
      EXPR_IDENT@293..300
        PATH@293..300
          Ident@293..299 "result"
          Whitespace@299..300 "\n"
      RBrace@300..301 "}"
      Whitespace@301..303 "\n\n"
  FN@303..543
    FnKeyword@303..305 "fn"
    Whitespace@305..306 " "
    Ident@306..313 "guarded"
    PARAM_LIST@313..340
      LParen@313..314 "("
      PARAM@314..328
        Ident@314..321 "divisor"
        Colon@321..322 ":"
        Whitespace@322..323 " "
        TYPE_INT@323..326
          IntKeyword@323..326 "int"
        Comma@326..327 ","
        Whitespace@327..328 " "
      PARAM@328..338
        Ident@328..333 "count"
        Colon@333..334 ":"
        Whitespace@334..335 " "
        TYPE_INT@335..338
          IntKeyword@335..338 "int"
      RParen@338..339 ")"
      Whitespace@339..340 " "
    Arrow@340..342 "->"
    Whitespace@342..343 " "
    TYPE_INT@343..347
      IntKeyword@343..346 "int"
      Whitespace@346..347 " "
    BLOCK@347..543
      LBrace@347..348 "{"
      Whitespace@348..353 "\n    "
      STMT_LET@353..376
        LetKeyword@353..356 "let"
        Whitespace@356..357 " "
        MutKeyword@357..360 "mut"
        Whitespace@360..361 " "
        PATTERN_VARIABLE@361..367
          Ident@361..366 "index"
          Whitespace@366..367 " "
        Eq@367..368 "="
        Whitespace@368..369 " "
        EXPR_INT@369..370
          Int@369..370 "0"
        Semi@370..371 ";"
        Whitespace@371..376 "\n    "
      STMT_LET@376..400
        LetKeyword@376..379 "let"
        Whitespace@379..380 " "
        MutKeyword@380..383 "mut"
        Whitespace@383..384 " "
        PATTERN_VARIABLE@384..391
          Ident@384..390 "result"
          Whitespace@390..391 " "
        Eq@391..392 "="
        Whitespace@392..393 " "
        EXPR_INT@393..394
          Int@393..394 "0"
        Semi@394..395 ";"
        Whitespace@395..400 "\n    "
      STMT_EXPR@400..533
        EXPR_WHILE@400..533
          WhileKeyword@400..405 "while"
          Whitespace@405..406 " "
          EXPR_WHILE_COND@406..420
            EXPR_BINARY@406..420
              EXPR_IDENT@406..412
                PATH@406..412
                  Ident@406..411 "index"
                  Whitespace@411..412 " "
              Less@412..413 "<"
              Whitespace@413..414 " "
              EXPR_IDENT@414..420
                PATH@414..420
                  Ident@414..419 "count"
                  Whitespace@419..420 " "
          EXPR_WHILE_BODY@420..533
            BLOCK@420..533
              LBrace@420..421 "{"
              Whitespace@421..430 "\n        "
              STMT_LET@430..468
                LetKeyword@430..433 "let"
                Whitespace@433..434 " "
                PATTERN_VARIABLE@434..443
                  Ident@434..442 "quotient"
                  Whitespace@442..443 " "
                Eq@443..444 "="
                Whitespace@444..445 " "
                EXPR_BINARY@445..458
                  EXPR_INT@445..449
                    Int@445..448 "100"
                    Whitespace@448..449 " "
                  Slash@449..450 "/"
                  Whitespace@450..451 " "
                  EXPR_IDENT@451..458
                    PATH@451..458
                      Ident@451..458 "divisor"
                Semi@458..459 ";"
                Whitespace@459..468 "\n        "
              STMT_ASSIGN@468..504
                EXPR_IDENT@468..475
                  PATH@468..475
                    Ident@468..474 "result"
                    Whitespace@474..475 " "
                Eq@475..476 "="
                Whitespace@476..477 " "
                EXPR_BINARY@477..494
                  EXPR_IDENT@477..484
                    PATH@477..484
                      Ident@477..483 "result"
                      Whitespace@483..484 " "
                  Plus@484..485 "+"
                  Whitespace@485..486 " "
                  EXPR_IDENT@486..494
                    PATH@486..494
                      Ident@486..494 "quotient"
                Semi@494..495 ";"
                Whitespace@495..504 "\n        "
              STMT_ASSIGN@504..527
                EXPR_IDENT@504..510
                  PATH@504..510
                    Ident@504..509 "index"
                    Whitespace@509..510 " "
                Eq@510..511 "="
                Whitespace@511..512 " "
                EXPR_BINARY@512..521
                  EXPR_IDENT@512..518
                    PATH@512..518
                      Ident@512..517 "index"
                      Whitespace@517..518 " "
                  Plus@518..519 "+"
                  Whitespace@519..520 " "
                  EXPR_INT@520..521
                    Int@520..521 "1"
                Semi@521..522 ";"
                Whitespace@522..527 "\n    "
              RBrace@527..528 "}"
              Whitespace@528..533 "\n    "
      EXPR_IDENT@533..540
        PATH@533..540
          Ident@533..539 "result"
          Whitespace@539..540 "\n"
      RBrace@540..541 "}"
      Whitespace@541..543 "\n\n"
  FN@543..814
    FnKeyword@543..545 "fn"
    Whitespace@545..546 " "
    Ident@546..554 "changing"
    PARAM_LIST@554..567
      LParen@554..555 "("
      PARAM@555..565
        Ident@555..560 "count"
        Colon@560..561 ":"
        Whitespace@561..562 " "
        TYPE_INT@562..565
          IntKeyword@562..565 "int"
      RParen@565..566 ")"
      Whitespace@566..567 " "
    Arrow@567..569 "->"
    Whitespace@569..570 " "
    TYPE_INT@570..574
      IntKeyword@570..573 "int"
      Whitespace@573..574 " "
    BLOCK@574..814
      LBrace@574..575 "{"
      Whitespace@575..580 "\n    "
      STMT_LET@580..603
        LetKeyword@580..583 "let"
        Whitespace@583..584 " "
        MutKeyword@584..587 "mut"
        Whitespace@587..588 " "
        PATTERN_VARIABLE@588..594
          Ident@588..593 "index"
          Whitespace@593..594 " "
        Eq@594..595 "="
        Whitespace@595..596 " "
        EXPR_INT@596..597
          Int@596..597 "0"
        Semi@597..598 ";"
        Whitespace@598..603 "\n    "
      STMT_LET@603..626
        LetKeyword@603..606 "let"
        Whitespace@606..607 " "
        MutKeyword@607..610 "mut"
        Whitespace@610..611 " "
        PATTERN_VARIABLE@611..617
          Ident@611..616 "value"
          Whitespace@616..617 " "
        Eq@617..618 "="
        Whitespace@618..619 " "
        EXPR_INT@619..620
          Int@619..620 "1"
        Semi@620..621 ";"
        Whitespace@621..626 "\n    "
      STMT_LET@626..650
        LetKeyword@626..629 "let"
        Whitespace@629..630 " "
        MutKeyword@630..633 "mut"
        Whitespace@633..634 " "
        PATTERN_VARIABLE@634..641
          Ident@634..640 "result"
          Whitespace@640..641 " "
        Eq@641..642 "="
        Whitespace@642..643 " "
        EXPR_INT@643..644
          Int@643..644 "0"
        Semi@644..645 ";"
        Whitespace@645..650 "\n    "
      STMT_EXPR@650..804
        EXPR_WHILE@650..804
          WhileKeyword@650..655 "while"
          Whitespace@655..656 " "
          EXPR_WHILE_COND@656..670
            EXPR_BINARY@656..670
              EXPR_IDENT@656..662
                PATH@656..662
                  Ident@656..661 "index"
                  Whitespace@661..662 " "
              Less@662..663 "<"
              Whitespace@663..664 " "
              EXPR_IDENT@664..670
                PATH@664..670
                  Ident@664..669 "count"
                  Whitespace@669..670 " "
          EXPR_WHILE_BODY@670..804
            BLOCK@670..804
              LBrace@670..671 "{"
              Whitespace@671..680 "\n        "
              STMT_LET@680..713
                LetKeyword@680..683 "let"
                Whitespace@683..684 " "
                PATTERN_VARIABLE@684..692
                  Ident@684..691 "derived"
                  Whitespace@691..692 " "
                Eq@692..693 "="
                Whitespace@693..694 " "
                EXPR_BINARY@694..703
                  EXPR_IDENT@694..700
                    PATH@694..700
                      Ident@694..699 "value"
                      Whitespace@699..700 " "
                  Plus@700..701 "+"
                  Whitespace@701..702 " "
                  EXPR_INT@702..703
                    Int@702..703 "1"
                Semi@703..704 ";"
                Whitespace@704..713 "\n        "
              STMT_ASSIGN@713..748
                EXPR_IDENT@713..720
                  PATH@713..720
                    Ident@713..719 "result"
                    Whitespace@719..720 " "
                Eq@720..721 "="
                Whitespace@721..722 " "
                EXPR_BINARY@722..738
                  EXPR_IDENT@722..729
                    PATH@722..729
                      Ident@722..728 "result"
                      Whitespace@728..729 " "
                  Plus@729..730 "+"
                  Whitespace@730..731 " "
                  EXPR_IDENT@731..738
                    PATH@731..738
                      Ident@731..738 "derived"
                Semi@738..739 ";"
                Whitespace@739..748 "\n        "
              STMT_ASSIGN@748..775
                EXPR_IDENT@748..754
                  PATH@748..754
                    Ident@748..753 "value"
                    Whitespace@753..754 " "
                Eq@754..755 "="
                Whitespace@755..756 " "
                EXPR_BINARY@756..765
                  EXPR_IDENT@756..762
                    PATH@756..762
                      Ident@756..761 "value"
                      Whitespace@761..762 " "
                  Plus@762..763 "+"
                  Whitespace@763..764 " "
                  EXPR_INT@764..765
                    Int@764..765 "1"
                Semi@765..766 ";"
                Whitespace@766..775 "\n        "
              STMT_ASSIGN@775..798
                EXPR_IDENT@775..781
                  PATH@775..781
                    Ident@775..780 "index"
                    Whitespace@780..781 " "
                Eq@781..782 "="
                Whitespace@782..783 " "
                EXPR_BINARY@783..792
                  EXPR_IDENT@783..789
                    PATH@783..789
                      Ident@783..788 "index"
                      Whitespace@788..789 " "
                  Plus@789..790 "+"
                  Whitespace@790..791 " "
                  EXPR_INT@791..792
                    Int@791..792 "1"
                Semi@792..793 ";"
                Whitespace@793..798 "\n    "
              RBrace@798..799 "}"
              Whitespace@799..804 "\n    "
      EXPR_IDENT@804..811
        PATH@804..811
          Ident@804..810 "result"
          Whitespace@810..811 "\n"
      RBrace@811..812 "}"
      Whitespace@812..814 "\n\n"
  FN@814..920
    FnKeyword@814..816 "fn"
    Whitespace@816..817 " "
    Ident@817..821 "main"
    PARAM_LIST@821..824
      LParen@821..822 "("
      RParen@822..823 ")"
      Whitespace@823..824 " "
    Arrow@824..826 "->"
    Whitespace@826..827 " "
    TYPE_UNIT@827..832
      UnitKeyword@827..831 "unit"
      Whitespace@831..832 " "
    BLOCK@832..920
      LBrace@832..833 "{"
      Whitespace@833..838 "\n    "
      STMT_EXPR@838..868
        EXPR_CALL@838..862
          EXPR_IDENT@838..845
            PATH@838..845
              Ident@838..845 "println"
          ARG_LIST@845..862
            LParen@845..846 "("
            ARG@846..861
              EXPR_CALL@846..861
                EXPR_IDENT@846..855
                  PATH@846..855
                    Ident@846..855 "optimized"
                ARG_LIST@855..861
                  LParen@855..856 "("
                  ARG@856..859
                    EXPR_INT@856..857
                      Int@856..857 "3"
                    Comma@857..858 ","
                    Whitespace@858..859 " "
                  ARG@859..860
                    EXPR_INT@859..860
                      Int@859..860 "4"
                  RParen@860..861 ")"
            RParen@861..862 ")"
        Semi@862..863 ";"
        Whitespace@863..868 "\n    "
      STMT_EXPR@868..896
        EXPR_CALL@868..890
          EXPR_IDENT@868..875
            PATH@868..875
              Ident@868..875 "println"
          ARG_LIST@875..890
            LParen@875..876 "("
            ARG@876..889
              EXPR_CALL@876..889
                EXPR_IDENT@876..883
                  PATH@876..883
                    Ident@876..883 "guarded"
                ARG_LIST@883..889
                  LParen@883..884 "("
                  ARG@884..887
                    EXPR_INT@884..885
                      Int@884..885 "0"
                    Comma@885..886 ","
                    Whitespace@886..887 " "
                  ARG@887..888
                    EXPR_INT@887..888
                      Int@887..888 "0"
                  RParen@888..889 ")"
            RParen@889..890 ")"
        Semi@890..891 ";"
        Whitespace@891..896 "\n    "
      STMT_EXPR@896..918
        EXPR_CALL@896..916
          EXPR_IDENT@896..903
            PATH@896..903
              Ident@896..903 "println"
          ARG_LIST@903..916
            LParen@903..904 "("
            ARG@904..915
              EXPR_CALL@904..915
                EXPR_IDENT@904..912
                  PATH@904..912
                    Ident@904..912 "changing"
                ARG_LIST@912..915
                  LParen@912..913 "("
                  ARG@913..914
                    EXPR_INT@913..914
                      Int@913..914 "3"
                  RParen@914..915 ")"
            RParen@915..916 ")"
        Semi@916..917 ";"
        Whitespace@917..918 "\n"
      RBrace@918..919 "}"
      Whitespace@919..920 "\n"