FILE@0..923
  FN@0..304
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..12 "optimized"
    PARAM_LIST@12..36
      LParen@12..13 "("
      PARAM@13..24
        Ident@13..17 "base"
        Colon@17..18 ":"
        Whitespace@18..19 " "
        TYPE_INT@19..22
          IntKeyword@19..22 "int"
        Comma@22..23 ","
        Whitespace@23..24 " "
      PARAM@24..34
        Ident@24..29 "count"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_INT@31..34
          IntKeyword@31..34 "int"
      RParen@34..35 ")"
      Whitespace@35..36 " "
    Arrow@36..38 "->"
    Whitespace@38..39 " "
    TYPE_INT@39..43
      IntKeyword@39..42 "int"
      Whitespace@42..43 " "
    BLOCK@43..304
      LBrace@43..44 "{"
      Whitespace@44..49 "\n    "
      STMT_LET@49..72
        LetKeyword@49..52 "let"
        Whitespace@52..53 " "
        MutKeyword@53..56 "mut"
        Whitespace@56..57 " "
        PATTERN_VARIABLE@57..63
          Ident@57..62 "index"
          Whitespace@62..63 " "
        Eq@63..64 "="
        Whitespace@64..65 " "
        EXPR_INT@65..66
          Int@65..66 "0"
        Semi@66..67 ";"
        Whitespace@67..72 "\n    "
      STMT_LET@72..96
        LetKeyword@72..75 "let"
        Whitespace@75..76 " "
        MutKeyword@76..79 "mut"
        Whitespace@79..80 " "
        PATTERN_VARIABLE@80..87
          Ident@80..86 "result"
          Whitespace@86..87 " "
        Eq@87..88 "="
        Whitespace@88..89 " "
        EXPR_INT@89..90
          Int@89..90 "0"
        Semi@90..91 ";"
        Whitespace@91..96 "\n    "
      STMT_EXPR@96..294
        EXPR_WHILE@96..288
          WhileKeyword@96..101 "while"
          Whitespace@101..102 " "
          EXPR_WHILE_COND@102..116
            EXPR_BINARY@102..116
              EXPR_IDENT@102..108
                PATH@102..108
                  Ident@102..107 "index"
                  Whitespace@107..108 " "
              Less@108..109 "<"
              Whitespace@109..110 " "
              EXPR_IDENT@110..116
                PATH@110..116
                  Ident@110..115 "count"
                  Whitespace@115..116 " "
          EXPR_WHILE_BODY@116..288
            BLOCK@116..288
              LBrace@116..117 "{"
              Whitespace@117..126 "\n        "
              STMT_LET@126..160
                LetKeyword@126..129 "let"
                Whitespace@129..130 " "
                PATTERN_VARIABLE@130..137
                  Ident@130..136 "square"
                  Whitespace@136..137 " "
                Eq@137..138 "="
                Whitespace@138..139 " "
                EXPR_BINARY@139..150
                  EXPR_IDENT@139..144
                    PATH@139..144
                      Ident@139..143 "base"
                      Whitespace@143..144 " "
                  Star@144..145 "*"
                  Whitespace@145..146 " "
                  EXPR_IDENT@146..150
                    PATH@146..150
                      Ident@146..150 "base"
                Semi@150..151 ";"
                Whitespace@151..160 "\n        "
              STMT_LET@160..194
                LetKeyword@160..163 "let"
                Whitespace@163..164 " "
                PATTERN_VARIABLE@164..171
                  Ident@164..170 "scaled"
                  Whitespace@170..171 " "
                Eq@171..172 "="
                Whitespace@172..173 " "
                EXPR_BINARY@173..184
                  EXPR_IDENT@173..180
                    PATH@173..180
                      Ident@173..179 "square"
                      Whitespace@179..180 " "
                  Star@180..181 "*"
                  Whitespace@181..182 " "
                  EXPR_INT@182..184
                    Int@182..184 "17"
                Semi@184..185 ";"
                Whitespace@185..194 "\n        "
              STMT_LET@194..230
                LetKeyword@194..197 "let"
                Whitespace@197..198 " "
                PATTERN_VARIABLE@198..205
                  Ident@198..204 "offset"
                  Whitespace@204..205 " "
                Eq@205..206 "="
                Whitespace@206..207 " "
                EXPR_BINARY@207..220
                  EXPR_IDENT@207..214
                    PATH@207..214
                      Ident@207..213 "scaled"
                      Whitespace@213..214 " "
                  Plus@214..215 "+"
                  Whitespace@215..216 " "
                  EXPR_IDENT@216..220
                    PATH@216..220
                      Ident@216..220 "base"
                Semi@220..221 ";"
                Whitespace@221..230 "\n        "
              STMT_ASSIGN@230..264
                EXPR_IDENT@230..237
                  PATH@230..237
                    Ident@230..236 "result"
                    Whitespace@236..237 " "
                Eq@237..238 "="
                Whitespace@238..239 " "
                EXPR_BINARY@239..254
                  EXPR_IDENT@239..246
                    PATH@239..246
                      Ident@239..245 "result"
                      Whitespace@245..246 " "
                  Plus@246..247 "+"
                  Whitespace@247..248 " "
                  EXPR_IDENT@248..254
                    PATH@248..254
                      Ident@248..254 "offset"
                Semi@254..255 ";"
                Whitespace@255..264 "\n        "
              STMT_ASSIGN@264..287
                EXPR_IDENT@264..270
                  PATH@264..270
                    Ident@264..269 "index"
                    Whitespace@269..270 " "
                Eq@270..271 "="
                Whitespace@271..272 " "
                EXPR_BINARY@272..281
                  EXPR_IDENT@272..278
                    PATH@272..278
                      Ident@272..277 "index"
                      Whitespace@277..278 " "
                  Plus@278..279 "+"
                  Whitespace@279..280 " "
                  EXPR_INT@280..281
                    Int@280..281 "1"
                Semi@281..282 ";"
                Whitespace@282..287 "\n    "
              RBrace@287..288 "}"
        Semi@288..289 ";"
        Whitespace@289..294 "\n    "
      EXPR_IDENT@294..301
        PATH@294..301
          Ident@294..300 "result"
          Whitespace@300..301 "\n"
      RBrace@301..302 "}"
      Whitespace@302..304 "\n\n"
  FN@304..545
    FnKeyword@304..306 "fn"
    Whitespace@306..307 " "
    Ident@307..314 "guarded"
    PARAM_LIST@314..341
      LParen@314..315 "("
      PARAM@315..329
        Ident@315..322 "divisor"
        Colon@322..323 ":"
        Whitespace@323..324 " "
        TYPE_INT@324..327
          IntKeyword@324..327 "int"
        Comma@327..328 ","
        Whitespace@328..329 " "
      PARAM@329..339
        Ident@329..334 "count"
        Colon@334..335 ":"
        Whitespace@335..336 " "
        TYPE_INT@336..339
          IntKeyword@336..339 "int"
      RParen@339..340 ")"
      Whitespace@340..341 " "
    Arrow@341..343 "->"
    Whitespace@343..344 " "
    TYPE_INT@344..348
      IntKeyword@344..347 "int"
      Whitespace@347..348 " "
    BLOCK@348..545
      LBrace@348..349 "{"
      Whitespace@349..354 "\n    "
      STMT_LET@354..377
        LetKeyword@354..357 "let"
        Whitespace@357..358 " "
        MutKeyword@358..361 "mut"
        Whitespace@361..362 " "
        PATTERN_VARIABLE@362..368
          Ident@362..367 "index"
          Whitespace@367..368 " "
        Eq@368..369 "="
        Whitespace@369..370 " "
        EXPR_INT@370..371
          Int@370..371 "0"
        Semi@371..372 ";"
        Whitespace@372..377 "\n    "
      STMT_LET@377..401
        LetKeyword@377..380 "let"
        Whitespace@380..381 " "
        MutKeyword@381..384 "mut"
        Whitespace@384..385 " "
        PATTERN_VARIABLE@385..392
          Ident@385..391 "result"
          Whitespace@391..392 " "
        Eq@392..393 "="
        Whitespace@393..394 " "
        EXPR_INT@394..395
          Int@394..395 "0"
        Semi@395..396 ";"
        Whitespace@396..401 "\n    "
      STMT_EXPR@401..535
        EXPR_WHILE@401..529
          WhileKeyword@401..406 "while"
          Whitespace@406..407 " "
          EXPR_WHILE_COND@407..421
            EXPR_BINARY@407..421
              EXPR_IDENT@407..413
                PATH@407..413
                  Ident@407..412 "index"
                  Whitespace@412..413 " "
              Less@413..414 "<"
              Whitespace@414..415 " "
              EXPR_IDENT@415..421
                PATH@415..421
                  Ident@415..420 "count"
                  Whitespace@420..421 " "
          EXPR_WHILE_BODY@421..529
            BLOCK@421..529
              LBrace@421..422 "{"
              Whitespace@422..431 "\n        "
              STMT_LET@431..469
                LetKeyword@431..434 "let"
                Whitespace@434..435 " "
                PATTERN_VARIABLE@435..444
                  Ident@435..443 "quotient"
                  Whitespace@443..444 " "
                Eq@444..445 "="
                Whitespace@445..446 " "
                EXPR_BINARY@446..459
                  EXPR_INT@446..450
                    Int@446..449 "100"
                    Whitespace@449..450 " "
                  Slash@450..451 "/"
                  Whitespace@451..452 " "
                  EXPR_IDENT@452..459
                    PATH@452..459
                      Ident@452..459 "divisor"
                Semi@459..460 ";"
                Whitespace@460..469 "\n        "
              STMT_ASSIGN@469..505
                EXPR_IDENT@469..476
                  PATH@469..476
                    Ident@469..475 "result"
                    Whitespace@475..476 " "
                Eq@476..477 "="
                Whitespace@477..478 " "
                EXPR_BINARY@478..495
                  EXPR_IDENT@478..485
                    PATH@478..485
                      Ident@478..484 "result"
                      Whitespace@484..485 " "
                  Plus@485..486 "+"
                  Whitespace@486..487 " "
                  EXPR_IDENT@487..495
                    PATH@487..495
                      Ident@487..495 "quotient"
                Semi@495..496 ";"
                Whitespace@496..505 "\n        "
              STMT_ASSIGN@505..528
                EXPR_IDENT@505..511
                  PATH@505..511
                    Ident@505..510 "index"
                    Whitespace@510..511 " "
                Eq@511..512 "="
                Whitespace@512..513 " "
                EXPR_BINARY@513..522
                  EXPR_IDENT@513..519
                    PATH@513..519
                      Ident@513..518 "index"
                      Whitespace@518..519 " "
                  Plus@519..520 "+"
                  Whitespace@520..521 " "
                  EXPR_INT@521..522
                    Int@521..522 "1"
                Semi@522..523 ";"
                Whitespace@523..528 "\n    "
              RBrace@528..529 "}"
        Semi@529..530 ";"
        Whitespace@530..535 "\n    "
      EXPR_IDENT@535..542
        PATH@535..542
          Ident@535..541 "result"
          Whitespace@541..542 "\n"
      RBrace@542..543 "}"
      Whitespace@543..545 "\n\n"
  FN@545..817
    FnKeyword@545..547 "fn"
    Whitespace@547..548 " "
    Ident@548..556 "changing"
    PARAM_LIST@556..569
      LParen@556..557 "("
      PARAM@557..567
        Ident@557..562 "count"
        Colon@562..563 ":"
        Whitespace@563..564 " "
        TYPE_INT@564..567
          IntKeyword@564..567 "int"
      RParen@567..568 ")"
      Whitespace@568..569 " "
    Arrow@569..571 "->"
    Whitespace@571..572 " "
    TYPE_INT@572..576
      IntKeyword@572..575 "int"
      Whitespace@575..576 " "
    BLOCK@576..817
      LBrace@576..577 "{"
      Whitespace@577..582 "\n    "
      STMT_LET@582..605
        LetKeyword@582..585 "let"
        Whitespace@585..586 " "
        MutKeyword@586..589 "mut"
        Whitespace@589..590 " "
        PATTERN_VARIABLE@590..596
          Ident@590..595 "index"
          Whitespace@595..596 " "
        Eq@596..597 "="
        Whitespace@597..598 " "
        EXPR_INT@598..599
          Int@598..599 "0"
        Semi@599..600 ";"
        Whitespace@600..605 "\n    "
      STMT_LET@605..628
        LetKeyword@605..608 "let"
        Whitespace@608..609 " "
        MutKeyword@609..612 "mut"
        Whitespace@612..613 " "
        PATTERN_VARIABLE@613..619
          Ident@613..618 "value"
          Whitespace@618..619 " "
        Eq@619..620 "="
        Whitespace@620..621 " "
        EXPR_INT@621..622
          Int@621..622 "1"
        Semi@622..623 ";"
        Whitespace@623..628 "\n    "
      STMT_LET@628..652
        LetKeyword@628..631 "let"
        Whitespace@631..632 " "
        MutKeyword@632..635 "mut"
        Whitespace@635..636 " "
        PATTERN_VARIABLE@636..643
          Ident@636..642 "result"
          Whitespace@642..643 " "
        Eq@643..644 "="
        Whitespace@644..645 " "
        EXPR_INT@645..646
          Int@645..646 "0"
        Semi@646..647 ";"
        Whitespace@647..652 "\n    "
      STMT_EXPR@652..807
        EXPR_WHILE@652..801
          WhileKeyword@652..657 "while"
          Whitespace@657..658 " "
          EXPR_WHILE_COND@658..672
            EXPR_BINARY@658..672
              EXPR_IDENT@658..664
                PATH@658..664
                  Ident@658..663 "index"
                  Whitespace@663..664 " "
              Less@664..665 "<"
              Whitespace@665..666 " "
              EXPR_IDENT@666..672
                PATH@666..672
                  Ident@666..671 "count"
                  Whitespace@671..672 " "
          EXPR_WHILE_BODY@672..801
            BLOCK@672..801
              LBrace@672..673 "{"
              Whitespace@673..682 "\n        "
              STMT_LET@682..715
                LetKeyword@682..685 "let"
                Whitespace@685..686 " "
                PATTERN_VARIABLE@686..694
                  Ident@686..693 "derived"
                  Whitespace@693..694 " "
                Eq@694..695 "="
                Whitespace@695..696 " "
                EXPR_BINARY@696..705
                  EXPR_IDENT@696..702
                    PATH@696..702
                      Ident@696..701 "value"
                      Whitespace@701..702 " "
                  Plus@702..703 "+"
                  Whitespace@703..704 " "
                  EXPR_INT@704..705
                    Int@704..705 "1"
                Semi@705..706 ";"
                Whitespace@706..715 "\n        "
              STMT_ASSIGN@715..750
                EXPR_IDENT@715..722
                  PATH@715..722
                    Ident@715..721 "result"
                    Whitespace@721..722 " "
                Eq@722..723 "="
                Whitespace@723..724 " "
                EXPR_BINARY@724..740
                  EXPR_IDENT@724..731
                    PATH@724..731
                      Ident@724..730 "result"
                      Whitespace@730..731 " "
                  Plus@731..732 "+"
                  Whitespace@732..733 " "
                  EXPR_IDENT@733..740
                    PATH@733..740
                      Ident@733..740 "derived"
                Semi@740..741 ";"
                Whitespace@741..750 "\n        "
              STMT_ASSIGN@750..777
                EXPR_IDENT@750..756
                  PATH@750..756
                    Ident@750..755 "value"
                    Whitespace@755..756 " "
                Eq@756..757 "="
                Whitespace@757..758 " "
                EXPR_BINARY@758..767
                  EXPR_IDENT@758..764
                    PATH@758..764
                      Ident@758..763 "value"
                      Whitespace@763..764 " "
                  Plus@764..765 "+"
                  Whitespace@765..766 " "
                  EXPR_INT@766..767
                    Int@766..767 "1"
                Semi@767..768 ";"
                Whitespace@768..777 "\n        "
              STMT_ASSIGN@777..800
                EXPR_IDENT@777..783
                  PATH@777..783
                    Ident@777..782 "index"
                    Whitespace@782..783 " "
                Eq@783..784 "="
                Whitespace@784..785 " "
                EXPR_BINARY@785..794
                  EXPR_IDENT@785..791
                    PATH@785..791
                      Ident@785..790 "index"
                      Whitespace@790..791 " "
                  Plus@791..792 "+"
                  Whitespace@792..793 " "
                  EXPR_INT@793..794
                    Int@793..794 "1"
                Semi@794..795 ";"
                Whitespace@795..800 "\n    "
              RBrace@800..801 "}"
        Semi@801..802 ";"
        Whitespace@802..807 "\n    "
      EXPR_IDENT@807..814
        PATH@807..814
          Ident@807..813 "result"
          Whitespace@813..814 "\n"
      RBrace@814..815 "}"
      Whitespace@815..817 "\n\n"
  FN@817..923
    FnKeyword@817..819 "fn"
    Whitespace@819..820 " "
    Ident@820..824 "main"
    PARAM_LIST@824..827
      LParen@824..825 "("
      RParen@825..826 ")"
      Whitespace@826..827 " "
    Arrow@827..829 "->"
    Whitespace@829..830 " "
    TYPE_UNIT@830..835
      UnitKeyword@830..834 "unit"
      Whitespace@834..835 " "
    BLOCK@835..923
      LBrace@835..836 "{"
      Whitespace@836..841 "\n    "
      STMT_EXPR@841..871
        EXPR_CALL@841..865
          EXPR_IDENT@841..848
            PATH@841..848
              Ident@841..848 "println"
          ARG_LIST@848..865
            LParen@848..849 "("
            ARG@849..864
              EXPR_CALL@849..864
                EXPR_IDENT@849..858
                  PATH@849..858
                    Ident@849..858 "optimized"
                ARG_LIST@858..864
                  LParen@858..859 "("
                  ARG@859..862
                    EXPR_INT@859..860
                      Int@859..860 "3"
                    Comma@860..861 ","
                    Whitespace@861..862 " "
                  ARG@862..863
                    EXPR_INT@862..863
                      Int@862..863 "4"
                  RParen@863..864 ")"
            RParen@864..865 ")"
        Semi@865..866 ";"
        Whitespace@866..871 "\n    "
      STMT_EXPR@871..899
        EXPR_CALL@871..893
          EXPR_IDENT@871..878
            PATH@871..878
              Ident@871..878 "println"
          ARG_LIST@878..893
            LParen@878..879 "("
            ARG@879..892
              EXPR_CALL@879..892
                EXPR_IDENT@879..886
                  PATH@879..886
                    Ident@879..886 "guarded"
                ARG_LIST@886..892
                  LParen@886..887 "("
                  ARG@887..890
                    EXPR_INT@887..888
                      Int@887..888 "0"
                    Comma@888..889 ","
                    Whitespace@889..890 " "
                  ARG@890..891
                    EXPR_INT@890..891
                      Int@890..891 "0"
                  RParen@891..892 ")"
            RParen@892..893 ")"
        Semi@893..894 ";"
        Whitespace@894..899 "\n    "
      STMT_EXPR@899..921
        EXPR_CALL@899..919
          EXPR_IDENT@899..906
            PATH@899..906
              Ident@899..906 "println"
          ARG_LIST@906..919
            LParen@906..907 "("
            ARG@907..918
              EXPR_CALL@907..918
                EXPR_IDENT@907..915
                  PATH@907..915
                    Ident@907..915 "changing"
                ARG_LIST@915..918
                  LParen@915..916 "("
                  ARG@916..917
                    EXPR_INT@916..917
                      Int@916..917 "3"
                  RParen@917..918 ")"
            RParen@918..919 ")"
        Semi@919..920 ";"
        Whitespace@920..921 "\n"
      RBrace@921..922 "}"
      Whitespace@922..923 "\n"