FILE@0..835
  TRAIT@0..57
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..57
      TRAIT_METHOD_SIG@20..54
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..30 "display"
        PARAM_LIST@30..43
          LParen@30..31 "("
          PARAM@31..41
            Ident@31..35 "self"
            Colon@35..36 ":"
            Whitespace@36..37 " "
            TYPE_TAPP@37..41
              PATH@37..41
                Ident@37..41 "Self"
          RParen@41..42 ")"
          Whitespace@42..43 " "
        Arrow@43..45 "->"
        Whitespace@45..46 " "
        TYPE_STRING@46..52
          StringKeyword@46..52 "string"
        Semi@52..53 ";"
        Whitespace@53..54 "\n"
      RBrace@54..55 "}"
      Whitespace@55..57 "\n\n"
  TRAIT@57..128
    TraitKeyword@57..62 "trait"
    Whitespace@62..63 " "
    Ident@63..69 "Source"
    Whitespace@69..70 " "
    LBrace@70..71 "{"
    Whitespace@71..76 "\n    "
    TRAIT_METHOD_SIG_LIST@76..128
      TRAIT_ASSOCIATED_TYPE@76..91
        TypeKeyword@76..80 "type"
        Whitespace@80..81 " "
        Ident@81..85 "Item"
        Semi@85..86 ";"
        Whitespace@86..91 "\n    "
      TRAIT_METHOD_SIG@91..125
        FnKeyword@91..93 "fn"
        Whitespace@93..94 " "
        Ident@94..97 "get"
        PARAM_LIST@97..110
          LParen@97..98 "("
          PARAM@98..108
            Ident@98..102 "self"
            Colon@102..103 ":"
            Whitespace@103..104 " "
            TYPE_TAPP@104..108
              PATH@104..108
                Ident@104..108 "Self"
          RParen@108..109 ")"
          Whitespace@109..110 " "
        Arrow@110..112 "->"
        Whitespace@112..113 " "
        TYPE_TAPP@113..123
          PATH@113..123
            Ident@113..117 "Self"
            ColonColon@117..119 "::"
            Ident@119..123 "Item"
        Semi@123..124 ";"
        Whitespace@124..125 "\n"
      RBrace@125..126 "}"
      Whitespace@126..128 "\n\n"
  STRUCT@128..165
    StructKeyword@128..134 "struct"
    Whitespace@134..135 " "
    Ident@135..141 "Number"
    Whitespace@141..142 " "
    LBrace@142..143 "{"
    Whitespace@143..148 "\n    "
    STRUCT_FIELD_LIST@148..165
      STRUCT_FIELD@148..160
        Ident@148..153 "value"
        Colon@153..154 ":"
        Whitespace@154..155 " "
        TYPE_INT@155..160
          IsizeKeyword@155..160 "isize"
      Comma@160..161 ","
      Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..165 "\n\n"
  IMPL@165..272
    ImplKeyword@165..169 "impl"
    Whitespace@169..170 " "
    TYPE_TAPP@170..178
      PATH@170..178
        Ident@170..177 "Display"
        Whitespace@177..178 " "
    ForKeyword@178..181 "for"
    Whitespace@181..182 " "
    TYPE_TAPP@182..189
      PATH@182..189
        Ident@182..188 "Number"
        Whitespace@188..189 " "
    LBrace@189..190 "{"
    Whitespace@190..195 "\n    "
    FN@195..269
      FnKeyword@195..197 "fn"
      Whitespace@197..198 " "
      Ident@198..205 "display"
      PARAM_LIST@205..220
        LParen@205..206 "("
        PARAM@206..218
          Ident@206..210 "self"
          Colon@210..211 ":"
          Whitespace@211..212 " "
          TYPE_TAPP@212..218
            PATH@212..218
              Ident@212..218 "Number"
        RParen@218..219 ")"
        Whitespace@219..220 " "
      Arrow@220..222 "->"
      Whitespace@222..223 " "
      TYPE_STRING@223..230
        StringKeyword@223..229 "string"
        Whitespace@229..230 " "
      BLOCK@230..269
        LBrace@230..231 "{"
        Whitespace@231..240 "\n        "
        EXPR_CALL@240..267
          EXPR_BINARY@240..260
            EXPR_BINARY@240..250
              EXPR_IDENT@240..244
                PATH@240..244
                  Ident@240..244 "self"
              Dot@244..245 "."
              EXPR_IDENT@245..250
                PATH@245..250
                  Ident@245..250 "value"
            Dot@250..251 "."
            EXPR_IDENT@251..260
              PATH@251..260
                Ident@251..260 "to_string"
          ARG_LIST@260..267
            LParen@260..261 "("
            RParen@261..262 ")"
            Whitespace@262..267 "\n    "
        RBrace@267..268 "}"
        Whitespace@268..269 "\n"
    RBrace@269..270 "}"
    Whitespace@270..272 "\n\n"
  IMPL@272..385
    ImplKeyword@272..276 "impl"
    Whitespace@276..277 " "
    TYPE_TAPP@277..284
      PATH@277..284
        Ident@277..283 "Source"
        Whitespace@283..284 " "
    ForKeyword@284..287 "for"
    Whitespace@287..288 " "
    TYPE_TAPP@288..295
      PATH@288..295
        Ident@288..294 "Number"
        Whitespace@294..295 " "
    LBrace@295..296 "{"
    Whitespace@296..301 "\n    "
    IMPL_ASSOCIATED_TYPE@301..325
      TypeKeyword@301..305 "type"
      Whitespace@305..306 " "
      Ident@306..310 "Item"
      Whitespace@310..311 " "
      Eq@311..312 "="
      Whitespace@312..313 " "
      TYPE_INT@313..318
        IsizeKeyword@313..318 "isize"
      Semi@318..319 ";"
      Whitespace@319..325 "\n\n    "
    FN@325..382
      FnKeyword@325..327 "fn"
      Whitespace@327..328 " "
      Ident@328..331 "get"
      PARAM_LIST@331..346
        LParen@331..332 "("
        PARAM@332..344
          Ident@332..336 "self"
          Colon@336..337 ":"
          Whitespace@337..338 " "
          TYPE_TAPP@338..344
            PATH@338..344
              Ident@338..344 "Number"
        RParen@344..345 ")"
        Whitespace@345..346 " "
      Arrow@346..348 "->"
      Whitespace@348..349 " "
      TYPE_INT@349..355
        IsizeKeyword@349..354 "isize"
        Whitespace@354..355 " "
      BLOCK@355..382
        LBrace@355..356 "{"
        Whitespace@356..365 "\n        "
        EXPR_BINARY@365..380
          EXPR_IDENT@365..369
            PATH@365..369
              Ident@365..369 "self"
          Dot@369..370 "."
          EXPR_IDENT@370..380
            PATH@370..380
              Ident@370..375 "value"
              Whitespace@375..380 "\n    "
        RBrace@380..381 "}"
        Whitespace@381..382 "\n"
    RBrace@382..383 "}"
    Whitespace@383..385 "\n\n"
  FN@385..461
    FnKeyword@385..387 "fn"
    Whitespace@387..388 " "
    Ident@388..393 "erase"
    GENERIC_LIST@393..405
      LBracket@393..394 "["
      GENERIC@394..404
        Ident@394..395 "T"
        Colon@395..396 ":"
        Whitespace@396..397 " "
        TRAIT_SET@397..404
          TYPE_TAPP@397..404
            PATH@397..404
              Ident@397..404 "Display"
      RBracket@404..405 "]"
    PARAM_LIST@405..416
      LParen@405..406 "("
      PARAM@406..414
        Ident@406..411 "value"
        Colon@411..412 ":"
        Whitespace@412..413 " "
        TYPE_TAPP@413..414
          PATH@413..414
            Ident@413..414 "T"
      RParen@414..415 ")"
      Whitespace@415..416 " "
    Arrow@416..418 "->"
    Whitespace@418..419 " "
    TYPE_DYN@419..431
      DynKeyword@419..422 "dyn"
      Whitespace@422..423 " "
      DYN_BOUND@423..431
        PATH@423..431
          Ident@423..430 "Display"
          Whitespace@430..431 " "
    BLOCK@431..461
      LBrace@431..432 "{"
      Whitespace@432..437 "\n    "
      EXPR_CAST@437..458
        EXPR_IDENT@437..443
          PATH@437..443
            Ident@437..442 "value"
            Whitespace@442..443 " "
        AsKeyword@443..445 "as"
        Whitespace@445..446 " "
        TYPE_DYN@446..458
          DynKeyword@446..449 "dyn"
          Whitespace@449..450 " "
          DYN_BOUND@450..458
            PATH@450..458
              Ident@450..457 "Display"
              Whitespace@457..458 "\n"
      RBrace@458..459 "}"
      Whitespace@459..461 "\n\n"
  FN@461..835
    FnKeyword@461..463 "fn"
    Whitespace@463..464 " "
    Ident@464..468 "main"
    PARAM_LIST@468..471
      LParen@468..469 "("
      RParen@469..470 ")"
      Whitespace@470..471 " "
    Arrow@471..473 "->"
    Whitespace@473..474 " "
    TYPE_TUPLE@474..477
      TYPE_LIST@474..477
        LParen@474..475 "("
        RParen@475..476 ")"
        Whitespace@476..477 " "
    BLOCK@477..835
      LBrace@477..478 "{"
      Whitespace@478..483 "\n    "
      STMT_LET@483..538
        LetKeyword@483..486 "let"
        Whitespace@486..487 " "
        PATTERN_VARIABLE@487..495
          Ident@487..494 "display"
          Whitespace@494..495 " "
        Eq@495..496 "="
        Whitespace@496..497 " "
        EXPR_CAST@497..532
          EXPR_STRUCT_LITERAL@497..518
            PATH@497..504
              Ident@497..503 "Number"
              Whitespace@503..504 " "
            STRUCT_LITERAL_FIELD_LIST@504..518
              LBrace@504..505 "{"
              Whitespace@505..506 " "
              STRUCT_LITERAL_FIELD@506..516
                Ident@506..511 "value"
                Colon@511..512 ":"
                Whitespace@512..513 " "
                EXPR_INT@513..516
                  Int@513..515 "42"
                  Whitespace@515..516 " "
              RBrace@516..517 "}"
              Whitespace@517..518 " "
          AsKeyword@518..520 "as"
          Whitespace@520..521 " "
          TYPE_DYN@521..532
            DynKeyword@521..524 "dyn"
            Whitespace@524..525 " "
            DYN_BOUND@525..532
              PATH@525..532
                Ident@525..532 "Display"
        Semi@532..533 ";"
        Whitespace@533..538 "\n    "
      STMT_EXPR@538..570
        EXPR_CALL@538..564
          EXPR_IDENT@538..545
            PATH@538..545
              Ident@538..545 "println"
          ARG_LIST@545..564
            LParen@545..546 "("
            ARG@546..563
              EXPR_CALL@546..563
                EXPR_BINARY@546..561
                  EXPR_IDENT@546..553
                    PATH@546..553
                      Ident@546..553 "display"
                  Dot@553..554 "."
                  EXPR_IDENT@554..561
                    PATH@554..561
                      Ident@554..561 "display"
                ARG_LIST@561..563
                  LParen@561..562 "("
                  RParen@562..563 ")"
            RParen@563..564 ")"
        Semi@564..565 ";"
        Whitespace@565..570 "\n    "
      STMT_LET@570..615
        LetKeyword@570..573 "let"
        Whitespace@573..574 " "
        PATTERN_VARIABLE@574..581
          Ident@574..580 "erased"
          Whitespace@580..581 " "
        Eq@581..582 "="
        Whitespace@582..583 " "
        EXPR_CALL@583..609
          EXPR_IDENT@583..588
            PATH@583..588
              Ident@583..588 "erase"
          ARG_LIST@588..609
            LParen@588..589 "("
            ARG@589..608
              EXPR_STRUCT_LITERAL@589..608
                PATH@589..596
                  Ident@589..595 "Number"
                  Whitespace@595..596 " "
                STRUCT_LITERAL_FIELD_LIST@596..608
                  LBrace@596..597 "{"
                  Whitespace@597..598 " "
                  STRUCT_LITERAL_FIELD@598..607
                    Ident@598..603 "value"
                    Colon@603..604 ":"
                    Whitespace@604..605 " "
                    EXPR_INT@605..607
                      Int@605..606 "7"
                      Whitespace@606..607 " "
                  RBrace@607..608 "}"
            RParen@608..609 ")"
        Semi@609..610 ";"
        Whitespace@610..615 "\n    "
      STMT_EXPR@615..646
        EXPR_CALL@615..640
          EXPR_IDENT@615..622
            PATH@615..622
              Ident@615..622 "println"
          ARG_LIST@622..640
            LParen@622..623 "("
            ARG@623..639
              EXPR_CALL@623..639
                EXPR_BINARY@623..637
                  EXPR_IDENT@623..629
                    PATH@623..629
                      Ident@623..629 "erased"
                  Dot@629..630 "."
                  EXPR_IDENT@630..637
                    PATH@630..637
                      Ident@630..637 "display"
                ARG_LIST@637..639
                  LParen@637..638 "("
                  RParen@638..639 ")"
            RParen@639..640 ")"
        Semi@640..641 ";"
        Whitespace@641..646 "\n    "
      STMT_LET@646..713
        LetKeyword@646..649 "let"
        Whitespace@649..650 " "
        PATTERN_VARIABLE@650..657
          Ident@650..656 "source"
          Whitespace@656..657 " "
        Eq@657..658 "="
        Whitespace@658..659 " "
        EXPR_CAST@659..707
          EXPR_STRUCT_LITERAL@659..680
            PATH@659..666
              Ident@659..665 "Number"
              Whitespace@665..666 " "
            STRUCT_LITERAL_FIELD_LIST@666..680
              LBrace@666..667 "{"
              Whitespace@667..668 " "
              STRUCT_LITERAL_FIELD@668..678
                Ident@668..673 "value"
                Colon@673..674 ":"
                Whitespace@674..675 " "
                EXPR_INT@675..678
                  Int@675..677 "11"
                  Whitespace@677..678 " "
              RBrace@678..679 "}"
              Whitespace@679..680 " "
          AsKeyword@680..682 "as"
          Whitespace@682..683 " "
          TYPE_DYN@683..707
            DynKeyword@683..686 "dyn"
            Whitespace@686..687 " "
            DYN_BOUND@687..707
              PATH@687..693
                Ident@687..693 "Source"
              DYN_ARG_LIST@693..707
                LBracket@693..694 "["
                DYN_ASSOC_BINDING@694..706
                  Ident@694..698 "Item"
                  Whitespace@698..699 " "
                  Eq@699..700 "="
                  Whitespace@700..701 " "
                  TYPE_INT@701..706
                    IsizeKeyword@701..706 "isize"
                RBracket@706..707 "]"
        Semi@707..708 ";"
        Whitespace@708..713 "\n    "
      STMT_EXPR@713..740
        EXPR_CALL@713..734
          EXPR_IDENT@713..720
            PATH@713..720
              Ident@713..720 "println"
          ARG_LIST@720..734
            LParen@720..721 "("
            ARG@721..733
              EXPR_CALL@721..733
                EXPR_BINARY@721..731
                  EXPR_IDENT@721..727
                    PATH@721..727
                      Ident@721..727 "source"
                  Dot@727..728 "."
                  EXPR_IDENT@728..731
                    PATH@728..731
                      Ident@728..731 "get"
                ARG_LIST@731..733
                  LParen@731..732 "("
                  RParen@732..733 ")"
            RParen@733..734 ")"
        Semi@734..735 ";"
        Whitespace@735..740 "\n    "
      STMT_LET@740..809
        LetKeyword@740..743 "let"
        Whitespace@743..744 " "
        PATTERN_VARIABLE@744..749
          Ident@744..748 "same"
          Whitespace@748..749 " "
        Eq@749..750 "="
        Whitespace@750..751 " "
        EXPR_CAST@751..803
          EXPR_PAREN@751..789
            LParen@751..752 "("
            EXPR_CAST@752..787
              EXPR_STRUCT_LITERAL@752..773
                PATH@752..759
                  Ident@752..758 "Number"
                  Whitespace@758..759 " "
                STRUCT_LITERAL_FIELD_LIST@759..773
                  LBrace@759..760 "{"
                  Whitespace@760..761 " "
                  STRUCT_LITERAL_FIELD@761..771
                    Ident@761..766 "value"
                    Colon@766..767 ":"
                    Whitespace@767..768 " "
                    EXPR_INT@768..771
                      Int@768..770 "13"
                      Whitespace@770..771 " "
                  RBrace@771..772 "}"
                  Whitespace@772..773 " "
              AsKeyword@773..775 "as"
              Whitespace@775..776 " "
              TYPE_DYN@776..787
                DynKeyword@776..779 "dyn"
                Whitespace@779..780 " "
                DYN_BOUND@780..787
                  PATH@780..787
                    Ident@780..787 "Display"
            RParen@787..788 ")"
            Whitespace@788..789 " "
          AsKeyword@789..791 "as"
          Whitespace@791..792 " "
          TYPE_DYN@792..803
            DynKeyword@792..795 "dyn"
            Whitespace@795..796 " "
            DYN_BOUND@796..803
              PATH@796..803
                Ident@796..803 "Display"
        Semi@803..804 ";"
        Whitespace@804..809 "\n    "
      EXPR_CALL@809..833
        EXPR_IDENT@809..816
          PATH@809..816
            Ident@809..816 "println"
        ARG_LIST@816..833
          LParen@816..817 "("
          ARG@817..831
            EXPR_CALL@817..831
              EXPR_BINARY@817..829
                EXPR_IDENT@817..821
                  PATH@817..821
                    Ident@817..821 "same"
                Dot@821..822 "."
                EXPR_IDENT@822..829
                  PATH@822..829
                    Ident@822..829 "display"
              ARG_LIST@829..831
                LParen@829..830 "("
                RParen@830..831 ")"
          RParen@831..832 ")"
          Whitespace@832..833 "\n"
      RBrace@833..834 "}"
      Whitespace@834..835 "\n"