FILE@0..837
  TRAIT@0..57
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..57
      TRAIT_METHOD_SIG@20..54
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..30 "display"
        PARAM_LIST@30..43
          LParen@30..31 "("
          PARAM@31..41
            Ident@31..35 "self"
            Colon@35..36 ":"
            Whitespace@36..37 " "
            TYPE_TAPP@37..41
              PATH@37..41
                Ident@37..41 "Self"
          RParen@41..42 ")"
          Whitespace@42..43 " "
        Arrow@43..45 "->"
        Whitespace@45..46 " "
        TYPE_STRING@46..52
          StringKeyword@46..52 "string"
        Semi@52..53 ";"
        Whitespace@53..54 "\n"
      RBrace@54..55 "}"
      Whitespace@55..57 "\n\n"
  TRAIT@57..128
    TraitKeyword@57..62 "trait"
    Whitespace@62..63 " "
    Ident@63..69 "Source"
    Whitespace@69..70 " "
    LBrace@70..71 "{"
    Whitespace@71..76 "\n    "
    TRAIT_METHOD_SIG_LIST@76..128
      TRAIT_ASSOCIATED_TYPE@76..91
        TypeKeyword@76..80 "type"
        Whitespace@80..81 " "
        Ident@81..85 "Item"
        Semi@85..86 ";"
        Whitespace@86..91 "\n    "
      TRAIT_METHOD_SIG@91..125
        FnKeyword@91..93 "fn"
        Whitespace@93..94 " "
        Ident@94..97 "get"
        PARAM_LIST@97..110
          LParen@97..98 "("
          PARAM@98..108
            Ident@98..102 "self"
            Colon@102..103 ":"
            Whitespace@103..104 " "
            TYPE_TAPP@104..108
              PATH@104..108
                Ident@104..108 "Self"
          RParen@108..109 ")"
          Whitespace@109..110 " "
        Arrow@110..112 "->"
        Whitespace@112..113 " "
        TYPE_TAPP@113..123
          PATH@113..123
            Ident@113..117 "Self"
            ColonColon@117..119 "::"
            Ident@119..123 "Item"
        Semi@123..124 ";"
        Whitespace@124..125 "\n"
      RBrace@125..126 "}"
      Whitespace@126..128 "\n\n"
  STRUCT@128..165
    StructKeyword@128..134 "struct"
    Whitespace@134..135 " "
    Ident@135..141 "Number"
    Whitespace@141..142 " "
    LBrace@142..143 "{"
    Whitespace@143..148 "\n    "
    STRUCT_FIELD_LIST@148..165
      STRUCT_FIELD@148..160
        Ident@148..153 "value"
        Colon@153..154 ":"
        Whitespace@154..155 " "
        TYPE_INT@155..160
          IsizeKeyword@155..160 "isize"
      Comma@160..161 ","
      Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..165 "\n\n"
  IMPL@165..272
    ImplKeyword@165..169 "impl"
    Whitespace@169..170 " "
    TYPE_TAPP@170..178
      PATH@170..178
        Ident@170..177 "Display"
        Whitespace@177..178 " "
    ForKeyword@178..181 "for"
    Whitespace@181..182 " "
    TYPE_TAPP@182..189
      PATH@182..189
        Ident@182..188 "Number"
        Whitespace@188..189 " "
    LBrace@189..190 "{"
    Whitespace@190..195 "\n    "
    FN@195..269
      FnKeyword@195..197 "fn"
      Whitespace@197..198 " "
      Ident@198..205 "display"
      PARAM_LIST@205..220
        LParen@205..206 "("
        PARAM@206..218
          Ident@206..210 "self"
          Colon@210..211 ":"
          Whitespace@211..212 " "
          TYPE_TAPP@212..218
            PATH@212..218
              Ident@212..218 "Number"
        RParen@218..219 ")"
        Whitespace@219..220 " "
      Arrow@220..222 "->"
      Whitespace@222..223 " "
      TYPE_STRING@223..230
        StringKeyword@223..229 "string"
        Whitespace@229..230 " "
      BLOCK@230..269
        LBrace@230..231 "{"
        Whitespace@231..240 "\n        "
        EXPR_CALL@240..267
          EXPR_BINARY@240..260
            EXPR_BINARY@240..250
              EXPR_IDENT@240..244
                PATH@240..244
                  Ident@240..244 "self"
              Dot@244..245 "."
              EXPR_IDENT@245..250
                PATH@245..250
                  Ident@245..250 "value"
            Dot@250..251 "."
            EXPR_IDENT@251..260
              PATH@251..260
                Ident@251..260 "to_string"
          ARG_LIST@260..267
            LParen@260..261 "("
            RParen@261..262 ")"
            Whitespace@262..267 "\n    "
        RBrace@267..268 "}"
        Whitespace@268..269 "\n"
    RBrace@269..270 "}"
    Whitespace@270..272 "\n\n"
  IMPL@272..385
    ImplKeyword@272..276 "impl"
    Whitespace@276..277 " "
    TYPE_TAPP@277..284
      PATH@277..284
        Ident@277..283 "Source"
        Whitespace@283..284 " "
    ForKeyword@284..287 "for"
    Whitespace@287..288 " "
    TYPE_TAPP@288..295
      PATH@288..295
        Ident@288..294 "Number"
        Whitespace@294..295 " "
    LBrace@295..296 "{"
    Whitespace@296..301 "\n    "
    IMPL_ASSOCIATED_TYPE@301..325
      TypeKeyword@301..305 "type"
      Whitespace@305..306 " "
      Ident@306..310 "Item"
      Whitespace@310..311 " "
      Eq@311..312 "="
      Whitespace@312..313 " "
      TYPE_INT@313..318
        IsizeKeyword@313..318 "isize"
      Semi@318..319 ";"
      Whitespace@319..325 "\n\n    "
    FN@325..382
      FnKeyword@325..327 "fn"
      Whitespace@327..328 " "
      Ident@328..331 "get"
      PARAM_LIST@331..346
        LParen@331..332 "("
        PARAM@332..344
          Ident@332..336 "self"
          Colon@336..337 ":"
          Whitespace@337..338 " "
          TYPE_TAPP@338..344
            PATH@338..344
              Ident@338..344 "Number"
        RParen@344..345 ")"
        Whitespace@345..346 " "
      Arrow@346..348 "->"
      Whitespace@348..349 " "
      TYPE_INT@349..355
        IsizeKeyword@349..354 "isize"
        Whitespace@354..355 " "
      BLOCK@355..382
        LBrace@355..356 "{"
        Whitespace@356..365 "\n        "
        EXPR_BINARY@365..380
          EXPR_IDENT@365..369
            PATH@365..369
              Ident@365..369 "self"
          Dot@369..370 "."
          EXPR_IDENT@370..380
            PATH@370..380
              Ident@370..375 "value"
              Whitespace@375..380 "\n    "
        RBrace@380..381 "}"
        Whitespace@381..382 "\n"
    RBrace@382..383 "}"
    Whitespace@383..385 "\n\n"
  FN@385..461
    FnKeyword@385..387 "fn"
    Whitespace@387..388 " "
    Ident@388..393 "erase"
    GENERIC_LIST@393..405
      LBracket@393..394 "["
      GENERIC@394..404
        Ident@394..395 "T"
        Colon@395..396 ":"
        Whitespace@396..397 " "
        TRAIT_SET@397..404
          TYPE_TAPP@397..404
            PATH@397..404
              Ident@397..404 "Display"
      RBracket@404..405 "]"
    PARAM_LIST@405..416
      LParen@405..406 "("
      PARAM@406..414
        Ident@406..411 "value"
        Colon@411..412 ":"
        Whitespace@412..413 " "
        TYPE_TAPP@413..414
          PATH@413..414
            Ident@413..414 "T"
      RParen@414..415 ")"
      Whitespace@415..416 " "
    Arrow@416..418 "->"
    Whitespace@418..419 " "
    TYPE_DYN@419..431
      DynKeyword@419..422 "dyn"
      Whitespace@422..423 " "
      DYN_BOUND@423..431
        PATH@423..431
          Ident@423..430 "Display"
          Whitespace@430..431 " "
    BLOCK@431..461
      LBrace@431..432 "{"
      Whitespace@432..437 "\n    "
      EXPR_CAST@437..458
        EXPR_IDENT@437..443
          PATH@437..443
            Ident@437..442 "value"
            Whitespace@442..443 " "
        AsKeyword@443..445 "as"
        Whitespace@445..446 " "
        TYPE_DYN@446..458
          DynKeyword@446..449 "dyn"
          Whitespace@449..450 " "
          DYN_BOUND@450..458
            PATH@450..458
              Ident@450..457 "Display"
              Whitespace@457..458 "\n"
      RBrace@458..459 "}"
      Whitespace@459..461 "\n\n"
  FN@461..837
    FnKeyword@461..463 "fn"
    Whitespace@463..464 " "
    Ident@464..468 "main"
    PARAM_LIST@468..471
      LParen@468..469 "("
      RParen@469..470 ")"
      Whitespace@470..471 " "
    Arrow@471..473 "->"
    Whitespace@473..474 " "
    TYPE_UNIT@474..479
      UnitKeyword@474..478 "unit"
      Whitespace@478..479 " "
    BLOCK@479..837
      LBrace@479..480 "{"
      Whitespace@480..485 "\n    "
      STMT_LET@485..540
        LetKeyword@485..488 "let"
        Whitespace@488..489 " "
        PATTERN_VARIABLE@489..497
          Ident@489..496 "display"
          Whitespace@496..497 " "
        Eq@497..498 "="
        Whitespace@498..499 " "
        EXPR_CAST@499..534
          EXPR_STRUCT_LITERAL@499..520
            PATH@499..506
              Ident@499..505 "Number"
              Whitespace@505..506 " "
            STRUCT_LITERAL_FIELD_LIST@506..520
              LBrace@506..507 "{"
              Whitespace@507..508 " "
              STRUCT_LITERAL_FIELD@508..518
                Ident@508..513 "value"
                Colon@513..514 ":"
                Whitespace@514..515 " "
                EXPR_INT@515..518
                  Int@515..517 "42"
                  Whitespace@517..518 " "
              RBrace@518..519 "}"
              Whitespace@519..520 " "
          AsKeyword@520..522 "as"
          Whitespace@522..523 " "
          TYPE_DYN@523..534
            DynKeyword@523..526 "dyn"
            Whitespace@526..527 " "
            DYN_BOUND@527..534
              PATH@527..534
                Ident@527..534 "Display"
        Semi@534..535 ";"
        Whitespace@535..540 "\n    "
      STMT_EXPR@540..572
        EXPR_CALL@540..566
          EXPR_IDENT@540..547
            PATH@540..547
              Ident@540..547 "println"
          ARG_LIST@547..566
            LParen@547..548 "("
            ARG@548..565
              EXPR_CALL@548..565
                EXPR_BINARY@548..563
                  EXPR_IDENT@548..555
                    PATH@548..555
                      Ident@548..555 "display"
                  Dot@555..556 "."
                  EXPR_IDENT@556..563
                    PATH@556..563
                      Ident@556..563 "display"
                ARG_LIST@563..565
                  LParen@563..564 "("
                  RParen@564..565 ")"
            RParen@565..566 ")"
        Semi@566..567 ";"
        Whitespace@567..572 "\n    "
      STMT_LET@572..617
        LetKeyword@572..575 "let"
        Whitespace@575..576 " "
        PATTERN_VARIABLE@576..583
          Ident@576..582 "erased"
          Whitespace@582..583 " "
        Eq@583..584 "="
        Whitespace@584..585 " "
        EXPR_CALL@585..611
          EXPR_IDENT@585..590
            PATH@585..590
              Ident@585..590 "erase"
          ARG_LIST@590..611
            LParen@590..591 "("
            ARG@591..610
              EXPR_STRUCT_LITERAL@591..610
                PATH@591..598
                  Ident@591..597 "Number"
                  Whitespace@597..598 " "
                STRUCT_LITERAL_FIELD_LIST@598..610
                  LBrace@598..599 "{"
                  Whitespace@599..600 " "
                  STRUCT_LITERAL_FIELD@600..609
                    Ident@600..605 "value"
                    Colon@605..606 ":"
                    Whitespace@606..607 " "
                    EXPR_INT@607..609
                      Int@607..608 "7"
                      Whitespace@608..609 " "
                  RBrace@609..610 "}"
            RParen@610..611 ")"
        Semi@611..612 ";"
        Whitespace@612..617 "\n    "
      STMT_EXPR@617..648
        EXPR_CALL@617..642
          EXPR_IDENT@617..624
            PATH@617..624
              Ident@617..624 "println"
          ARG_LIST@624..642
            LParen@624..625 "("
            ARG@625..641
              EXPR_CALL@625..641
                EXPR_BINARY@625..639
                  EXPR_IDENT@625..631
                    PATH@625..631
                      Ident@625..631 "erased"
                  Dot@631..632 "."
                  EXPR_IDENT@632..639
                    PATH@632..639
                      Ident@632..639 "display"
                ARG_LIST@639..641
                  LParen@639..640 "("
                  RParen@640..641 ")"
            RParen@641..642 ")"
        Semi@642..643 ";"
        Whitespace@643..648 "\n    "
      STMT_LET@648..715
        LetKeyword@648..651 "let"
        Whitespace@651..652 " "
        PATTERN_VARIABLE@652..659
          Ident@652..658 "source"
          Whitespace@658..659 " "
        Eq@659..660 "="
        Whitespace@660..661 " "
        EXPR_CAST@661..709
          EXPR_STRUCT_LITERAL@661..682
            PATH@661..668
              Ident@661..667 "Number"
              Whitespace@667..668 " "
            STRUCT_LITERAL_FIELD_LIST@668..682
              LBrace@668..669 "{"
              Whitespace@669..670 " "
              STRUCT_LITERAL_FIELD@670..680
                Ident@670..675 "value"
                Colon@675..676 ":"
                Whitespace@676..677 " "
                EXPR_INT@677..680
                  Int@677..679 "11"
                  Whitespace@679..680 " "
              RBrace@680..681 "}"
              Whitespace@681..682 " "
          AsKeyword@682..684 "as"
          Whitespace@684..685 " "
          TYPE_DYN@685..709
            DynKeyword@685..688 "dyn"
            Whitespace@688..689 " "
            DYN_BOUND@689..709
              PATH@689..695
                Ident@689..695 "Source"
              DYN_ARG_LIST@695..709
                LBracket@695..696 "["
                DYN_ASSOC_BINDING@696..708
                  Ident@696..700 "Item"
                  Whitespace@700..701 " "
                  Eq@701..702 "="
                  Whitespace@702..703 " "
                  TYPE_INT@703..708
                    IsizeKeyword@703..708 "isize"
                RBracket@708..709 "]"
        Semi@709..710 ";"
        Whitespace@710..715 "\n    "
      STMT_EXPR@715..742
        EXPR_CALL@715..736
          EXPR_IDENT@715..722
            PATH@715..722
              Ident@715..722 "println"
          ARG_LIST@722..736
            LParen@722..723 "("
            ARG@723..735
              EXPR_CALL@723..735
                EXPR_BINARY@723..733
                  EXPR_IDENT@723..729
                    PATH@723..729
                      Ident@723..729 "source"
                  Dot@729..730 "."
                  EXPR_IDENT@730..733
                    PATH@730..733
                      Ident@730..733 "get"
                ARG_LIST@733..735
                  LParen@733..734 "("
                  RParen@734..735 ")"
            RParen@735..736 ")"
        Semi@736..737 ";"
        Whitespace@737..742 "\n    "
      STMT_LET@742..811
        LetKeyword@742..745 "let"
        Whitespace@745..746 " "
        PATTERN_VARIABLE@746..751
          Ident@746..750 "same"
          Whitespace@750..751 " "
        Eq@751..752 "="
        Whitespace@752..753 " "
        EXPR_CAST@753..805
          EXPR_PAREN@753..791
            LParen@753..754 "("
            EXPR_CAST@754..789
              EXPR_STRUCT_LITERAL@754..775
                PATH@754..761
                  Ident@754..760 "Number"
                  Whitespace@760..761 " "
                STRUCT_LITERAL_FIELD_LIST@761..775
                  LBrace@761..762 "{"
                  Whitespace@762..763 " "
                  STRUCT_LITERAL_FIELD@763..773
                    Ident@763..768 "value"
                    Colon@768..769 ":"
                    Whitespace@769..770 " "
                    EXPR_INT@770..773
                      Int@770..772 "13"
                      Whitespace@772..773 " "
                  RBrace@773..774 "}"
                  Whitespace@774..775 " "
              AsKeyword@775..777 "as"
              Whitespace@777..778 " "
              TYPE_DYN@778..789
                DynKeyword@778..781 "dyn"
                Whitespace@781..782 " "
                DYN_BOUND@782..789
                  PATH@782..789
                    Ident@782..789 "Display"
            RParen@789..790 ")"
            Whitespace@790..791 " "
          AsKeyword@791..793 "as"
          Whitespace@793..794 " "
          TYPE_DYN@794..805
            DynKeyword@794..797 "dyn"
            Whitespace@797..798 " "
            DYN_BOUND@798..805
              PATH@798..805
                Ident@798..805 "Display"
        Semi@805..806 ";"
        Whitespace@806..811 "\n    "
      EXPR_CALL@811..835
        EXPR_IDENT@811..818
          PATH@811..818
            Ident@811..818 "println"
        ARG_LIST@818..835
          LParen@818..819 "("
          ARG@819..833
            EXPR_CALL@819..833
              EXPR_BINARY@819..831
                EXPR_IDENT@819..823
                  PATH@819..823
                    Ident@819..823 "same"
                Dot@823..824 "."
                EXPR_IDENT@824..831
                  PATH@824..831
                    Ident@824..831 "display"
              ARG_LIST@831..833
                LParen@831..832 "("
                RParen@832..833 ")"
          RParen@833..834 ")"
          Whitespace@834..835 "\n"
      RBrace@835..836 "}"
      Whitespace@836..837 "\n"