FILE@0..829
  TRAIT@0..57
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..57
      TRAIT_METHOD_SIG@20..54
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..30 "display"
        PARAM_LIST@30..43
          LParen@30..31 "("
          PARAM@31..41
            Ident@31..35 "self"
            Colon@35..36 ":"
            Whitespace@36..37 " "
            TYPE_TAPP@37..41
              PATH@37..41
                Ident@37..41 "Self"
          RParen@41..42 ")"
          Whitespace@42..43 " "
        Arrow@43..45 "->"
        Whitespace@45..46 " "
        TYPE_STRING@46..52
          StringKeyword@46..52 "string"
        Semi@52..53 ";"
        Whitespace@53..54 "\n"
      RBrace@54..55 "}"
      Whitespace@55..57 "\n\n"
  TRAIT@57..128
    TraitKeyword@57..62 "trait"
    Whitespace@62..63 " "
    Ident@63..69 "Source"
    Whitespace@69..70 " "
    LBrace@70..71 "{"
    Whitespace@71..76 "\n    "
    TRAIT_METHOD_SIG_LIST@76..128
      TRAIT_ASSOCIATED_TYPE@76..91
        TypeKeyword@76..80 "type"
        Whitespace@80..81 " "
        Ident@81..85 "Item"
        Semi@85..86 ";"
        Whitespace@86..91 "\n    "
      TRAIT_METHOD_SIG@91..125
        FnKeyword@91..93 "fn"
        Whitespace@93..94 " "
        Ident@94..97 "get"
        PARAM_LIST@97..110
          LParen@97..98 "("
          PARAM@98..108
            Ident@98..102 "self"
            Colon@102..103 ":"
            Whitespace@103..104 " "
            TYPE_TAPP@104..108
              PATH@104..108
                Ident@104..108 "Self"
          RParen@108..109 ")"
          Whitespace@109..110 " "
        Arrow@110..112 "->"
        Whitespace@112..113 " "
        TYPE_TAPP@113..123
          PATH@113..123
            Ident@113..117 "Self"
            ColonColon@117..119 "::"
            Ident@119..123 "Item"
        Semi@123..124 ";"
        Whitespace@124..125 "\n"
      RBrace@125..126 "}"
      Whitespace@126..128 "\n\n"
  STRUCT@128..163
    StructKeyword@128..134 "struct"
    Whitespace@134..135 " "
    Ident@135..141 "Number"
    Whitespace@141..142 " "
    LBrace@142..143 "{"
    Whitespace@143..148 "\n    "
    STRUCT_FIELD_LIST@148..163
      STRUCT_FIELD@148..158
        Ident@148..153 "value"
        Colon@153..154 ":"
        Whitespace@154..155 " "
        TYPE_INT@155..158
          IntKeyword@155..158 "int"
      Comma@158..159 ","
      Whitespace@159..160 "\n"
      RBrace@160..161 "}"
      Whitespace@161..163 "\n\n"
  IMPL@163..270
    ImplKeyword@163..167 "impl"
    Whitespace@167..168 " "
    TYPE_TAPP@168..176
      PATH@168..176
        Ident@168..175 "Display"
        Whitespace@175..176 " "
    ForKeyword@176..179 "for"
    Whitespace@179..180 " "
    TYPE_TAPP@180..187
      PATH@180..187
        Ident@180..186 "Number"
        Whitespace@186..187 " "
    LBrace@187..188 "{"
    Whitespace@188..193 "\n    "
    FN@193..267
      FnKeyword@193..195 "fn"
      Whitespace@195..196 " "
      Ident@196..203 "display"
      PARAM_LIST@203..218
        LParen@203..204 "("
        PARAM@204..216
          Ident@204..208 "self"
          Colon@208..209 ":"
          Whitespace@209..210 " "
          TYPE_TAPP@210..216
            PATH@210..216
              Ident@210..216 "Number"
        RParen@216..217 ")"
        Whitespace@217..218 " "
      Arrow@218..220 "->"
      Whitespace@220..221 " "
      TYPE_STRING@221..228
        StringKeyword@221..227 "string"
        Whitespace@227..228 " "
      BLOCK@228..267
        LBrace@228..229 "{"
        Whitespace@229..238 "\n        "
        EXPR_CALL@238..265
          EXPR_BINARY@238..258
            EXPR_BINARY@238..248
              EXPR_IDENT@238..242
                PATH@238..242
                  Ident@238..242 "self"
              Dot@242..243 "."
              EXPR_IDENT@243..248
                PATH@243..248
                  Ident@243..248 "value"
            Dot@248..249 "."
            EXPR_IDENT@249..258
              PATH@249..258
                Ident@249..258 "to_string"
          ARG_LIST@258..265
            LParen@258..259 "("
            RParen@259..260 ")"
            Whitespace@260..265 "\n    "
        RBrace@265..266 "}"
        Whitespace@266..267 "\n"
    RBrace@267..268 "}"
    Whitespace@268..270 "\n\n"
  IMPL@270..379
    ImplKeyword@270..274 "impl"
    Whitespace@274..275 " "
    TYPE_TAPP@275..282
      PATH@275..282
        Ident@275..281 "Source"
        Whitespace@281..282 " "
    ForKeyword@282..285 "for"
    Whitespace@285..286 " "
    TYPE_TAPP@286..293
      PATH@286..293
        Ident@286..292 "Number"
        Whitespace@292..293 " "
    LBrace@293..294 "{"
    Whitespace@294..299 "\n    "
    IMPL_ASSOCIATED_TYPE@299..321
      TypeKeyword@299..303 "type"
      Whitespace@303..304 " "
      Ident@304..308 "Item"
      Whitespace@308..309 " "
      Eq@309..310 "="
      Whitespace@310..311 " "
      TYPE_INT@311..314
        IntKeyword@311..314 "int"
      Semi@314..315 ";"
      Whitespace@315..321 "\n\n    "
    FN@321..376
      FnKeyword@321..323 "fn"
      Whitespace@323..324 " "
      Ident@324..327 "get"
      PARAM_LIST@327..342
        LParen@327..328 "("
        PARAM@328..340
          Ident@328..332 "self"
          Colon@332..333 ":"
          Whitespace@333..334 " "
          TYPE_TAPP@334..340
            PATH@334..340
              Ident@334..340 "Number"
        RParen@340..341 ")"
        Whitespace@341..342 " "
      Arrow@342..344 "->"
      Whitespace@344..345 " "
      TYPE_INT@345..349
        IntKeyword@345..348 "int"
        Whitespace@348..349 " "
      BLOCK@349..376
        LBrace@349..350 "{"
        Whitespace@350..359 "\n        "
        EXPR_BINARY@359..374
          EXPR_IDENT@359..363
            PATH@359..363
              Ident@359..363 "self"
          Dot@363..364 "."
          EXPR_IDENT@364..374
            PATH@364..374
              Ident@364..369 "value"
              Whitespace@369..374 "\n    "
        RBrace@374..375 "}"
        Whitespace@375..376 "\n"
    RBrace@376..377 "}"
    Whitespace@377..379 "\n\n"
  FN@379..455
    FnKeyword@379..381 "fn"
    Whitespace@381..382 " "
    Ident@382..387 "erase"
    GENERIC_LIST@387..399
      LBracket@387..388 "["
      GENERIC@388..398
        Ident@388..389 "T"
        Colon@389..390 ":"
        Whitespace@390..391 " "
        TRAIT_SET@391..398
          TYPE_TAPP@391..398
            PATH@391..398
              Ident@391..398 "Display"
      RBracket@398..399 "]"
    PARAM_LIST@399..410
      LParen@399..400 "("
      PARAM@400..408
        Ident@400..405 "value"
        Colon@405..406 ":"
        Whitespace@406..407 " "
        TYPE_TAPP@407..408
          PATH@407..408
            Ident@407..408 "T"
      RParen@408..409 ")"
      Whitespace@409..410 " "
    Arrow@410..412 "->"
    Whitespace@412..413 " "
    TYPE_DYN@413..425
      DynKeyword@413..416 "dyn"
      Whitespace@416..417 " "
      DYN_BOUND@417..425
        PATH@417..425
          Ident@417..424 "Display"
          Whitespace@424..425 " "
    BLOCK@425..455
      LBrace@425..426 "{"
      Whitespace@426..431 "\n    "
      EXPR_CAST@431..452
        EXPR_IDENT@431..437
          PATH@431..437
            Ident@431..436 "value"
            Whitespace@436..437 " "
        AsKeyword@437..439 "as"
        Whitespace@439..440 " "
        TYPE_DYN@440..452
          DynKeyword@440..443 "dyn"
          Whitespace@443..444 " "
          DYN_BOUND@444..452
            PATH@444..452
              Ident@444..451 "Display"
              Whitespace@451..452 "\n"
      RBrace@452..453 "}"
      Whitespace@453..455 "\n\n"
  FN@455..829
    FnKeyword@455..457 "fn"
    Whitespace@457..458 " "
    Ident@458..462 "main"
    PARAM_LIST@462..465
      LParen@462..463 "("
      RParen@463..464 ")"
      Whitespace@464..465 " "
    Arrow@465..467 "->"
    Whitespace@467..468 " "
    TYPE_UNIT@468..473
      UnitKeyword@468..472 "unit"
      Whitespace@472..473 " "
    BLOCK@473..829
      LBrace@473..474 "{"
      Whitespace@474..479 "\n    "
      STMT_LET@479..534
        LetKeyword@479..482 "let"
        Whitespace@482..483 " "
        PATTERN_VARIABLE@483..491
          Ident@483..490 "display"
          Whitespace@490..491 " "
        Eq@491..492 "="
        Whitespace@492..493 " "
        EXPR_CAST@493..528
          EXPR_STRUCT_LITERAL@493..514
            PATH@493..500
              Ident@493..499 "Number"
              Whitespace@499..500 " "
            STRUCT_LITERAL_FIELD_LIST@500..514
              LBrace@500..501 "{"
              Whitespace@501..502 " "
              STRUCT_LITERAL_FIELD@502..512
                Ident@502..507 "value"
                Colon@507..508 ":"
                Whitespace@508..509 " "
                EXPR_INT@509..512
                  Int@509..511 "42"
                  Whitespace@511..512 " "
              RBrace@512..513 "}"
              Whitespace@513..514 " "
          AsKeyword@514..516 "as"
          Whitespace@516..517 " "
          TYPE_DYN@517..528
            DynKeyword@517..520 "dyn"
            Whitespace@520..521 " "
            DYN_BOUND@521..528
              PATH@521..528
                Ident@521..528 "Display"
        Semi@528..529 ";"
        Whitespace@529..534 "\n    "
      STMT_EXPR@534..566
        EXPR_CALL@534..560
          EXPR_IDENT@534..541
            PATH@534..541
              Ident@534..541 "println"
          ARG_LIST@541..560
            LParen@541..542 "("
            ARG@542..559
              EXPR_CALL@542..559
                EXPR_BINARY@542..557
                  EXPR_IDENT@542..549
                    PATH@542..549
                      Ident@542..549 "display"
                  Dot@549..550 "."
                  EXPR_IDENT@550..557
                    PATH@550..557
                      Ident@550..557 "display"
                ARG_LIST@557..559
                  LParen@557..558 "("
                  RParen@558..559 ")"
            RParen@559..560 ")"
        Semi@560..561 ";"
        Whitespace@561..566 "\n    "
      STMT_LET@566..611
        LetKeyword@566..569 "let"
        Whitespace@569..570 " "
        PATTERN_VARIABLE@570..577
          Ident@570..576 "erased"
          Whitespace@576..577 " "
        Eq@577..578 "="
        Whitespace@578..579 " "
        EXPR_CALL@579..605
          EXPR_IDENT@579..584
            PATH@579..584
              Ident@579..584 "erase"
          ARG_LIST@584..605
            LParen@584..585 "("
            ARG@585..604
              EXPR_STRUCT_LITERAL@585..604
                PATH@585..592
                  Ident@585..591 "Number"
                  Whitespace@591..592 " "
                STRUCT_LITERAL_FIELD_LIST@592..604
                  LBrace@592..593 "{"
                  Whitespace@593..594 " "
                  STRUCT_LITERAL_FIELD@594..603
                    Ident@594..599 "value"
                    Colon@599..600 ":"
                    Whitespace@600..601 " "
                    EXPR_INT@601..603
                      Int@601..602 "7"
                      Whitespace@602..603 " "
                  RBrace@603..604 "}"
            RParen@604..605 ")"
        Semi@605..606 ";"
        Whitespace@606..611 "\n    "
      STMT_EXPR@611..642
        EXPR_CALL@611..636
          EXPR_IDENT@611..618
            PATH@611..618
              Ident@611..618 "println"
          ARG_LIST@618..636
            LParen@618..619 "("
            ARG@619..635
              EXPR_CALL@619..635
                EXPR_BINARY@619..633
                  EXPR_IDENT@619..625
                    PATH@619..625
                      Ident@619..625 "erased"
                  Dot@625..626 "."
                  EXPR_IDENT@626..633
                    PATH@626..633
                      Ident@626..633 "display"
                ARG_LIST@633..635
                  LParen@633..634 "("
                  RParen@634..635 ")"
            RParen@635..636 ")"
        Semi@636..637 ";"
        Whitespace@637..642 "\n    "
      STMT_LET@642..707
        LetKeyword@642..645 "let"
        Whitespace@645..646 " "
        PATTERN_VARIABLE@646..653
          Ident@646..652 "source"
          Whitespace@652..653 " "
        Eq@653..654 "="
        Whitespace@654..655 " "
        EXPR_CAST@655..701
          EXPR_STRUCT_LITERAL@655..676
            PATH@655..662
              Ident@655..661 "Number"
              Whitespace@661..662 " "
            STRUCT_LITERAL_FIELD_LIST@662..676
              LBrace@662..663 "{"
              Whitespace@663..664 " "
              STRUCT_LITERAL_FIELD@664..674
                Ident@664..669 "value"
                Colon@669..670 ":"
                Whitespace@670..671 " "
                EXPR_INT@671..674
                  Int@671..673 "11"
                  Whitespace@673..674 " "
              RBrace@674..675 "}"
              Whitespace@675..676 " "
          AsKeyword@676..678 "as"
          Whitespace@678..679 " "
          TYPE_DYN@679..701
            DynKeyword@679..682 "dyn"
            Whitespace@682..683 " "
            DYN_BOUND@683..701
              PATH@683..689
                Ident@683..689 "Source"
              DYN_ARG_LIST@689..701
                LBracket@689..690 "["
                DYN_ASSOC_BINDING@690..700
                  Ident@690..694 "Item"
                  Whitespace@694..695 " "
                  Eq@695..696 "="
                  Whitespace@696..697 " "
                  TYPE_INT@697..700
                    IntKeyword@697..700 "int"
                RBracket@700..701 "]"
        Semi@701..702 ";"
        Whitespace@702..707 "\n    "
      STMT_EXPR@707..734
        EXPR_CALL@707..728
          EXPR_IDENT@707..714
            PATH@707..714
              Ident@707..714 "println"
          ARG_LIST@714..728
            LParen@714..715 "("
            ARG@715..727
              EXPR_CALL@715..727
                EXPR_BINARY@715..725
                  EXPR_IDENT@715..721
                    PATH@715..721
                      Ident@715..721 "source"
                  Dot@721..722 "."
                  EXPR_IDENT@722..725
                    PATH@722..725
                      Ident@722..725 "get"
                ARG_LIST@725..727
                  LParen@725..726 "("
                  RParen@726..727 ")"
            RParen@727..728 ")"
        Semi@728..729 ";"
        Whitespace@729..734 "\n    "
      STMT_LET@734..803
        LetKeyword@734..737 "let"
        Whitespace@737..738 " "
        PATTERN_VARIABLE@738..743
          Ident@738..742 "same"
          Whitespace@742..743 " "
        Eq@743..744 "="
        Whitespace@744..745 " "
        EXPR_CAST@745..797
          EXPR_PAREN@745..783
            LParen@745..746 "("
            EXPR_CAST@746..781
              EXPR_STRUCT_LITERAL@746..767
                PATH@746..753
                  Ident@746..752 "Number"
                  Whitespace@752..753 " "
                STRUCT_LITERAL_FIELD_LIST@753..767
                  LBrace@753..754 "{"
                  Whitespace@754..755 " "
                  STRUCT_LITERAL_FIELD@755..765
                    Ident@755..760 "value"
                    Colon@760..761 ":"
                    Whitespace@761..762 " "
                    EXPR_INT@762..765
                      Int@762..764 "13"
                      Whitespace@764..765 " "
                  RBrace@765..766 "}"
                  Whitespace@766..767 " "
              AsKeyword@767..769 "as"
              Whitespace@769..770 " "
              TYPE_DYN@770..781
                DynKeyword@770..773 "dyn"
                Whitespace@773..774 " "
                DYN_BOUND@774..781
                  PATH@774..781
                    Ident@774..781 "Display"
            RParen@781..782 ")"
            Whitespace@782..783 " "
          AsKeyword@783..785 "as"
          Whitespace@785..786 " "
          TYPE_DYN@786..797
            DynKeyword@786..789 "dyn"
            Whitespace@789..790 " "
            DYN_BOUND@790..797
              PATH@790..797
                Ident@790..797 "Display"
        Semi@797..798 ";"
        Whitespace@798..803 "\n    "
      EXPR_CALL@803..827
        EXPR_IDENT@803..810
          PATH@803..810
            Ident@803..810 "println"
        ARG_LIST@810..827
          LParen@810..811 "("
          ARG@811..825
            EXPR_CALL@811..825
              EXPR_BINARY@811..823
                EXPR_IDENT@811..815
                  PATH@811..815
                    Ident@811..815 "same"
                Dot@815..816 "."
                EXPR_IDENT@816..823
                  PATH@816..823
                    Ident@816..823 "display"
              ARG_LIST@823..825
                LParen@823..824 "("
                RParen@824..825 ")"
          RParen@825..826 ")"
          Whitespace@826..827 "\n"
      RBrace@827..828 "}"
      Whitespace@828..829 "\n"