FILE@0..651
  ENUM@0..48
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Light"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    VARIANT_LIST@17..48
      VARIANT@17..20
        Ident@17..20 "Red"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..32
        Ident@26..32 "Yellow"
      Comma@32..33 ","
      Whitespace@33..38 "\n    "
      VARIANT@38..43
        Ident@38..43 "Green"
      Comma@43..44 ","
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  ENUM@48..83
    EnumKeyword@48..52 "enum"
    Whitespace@52..53 " "
    Ident@53..58 "Paint"
    Whitespace@58..59 " "
    LBrace@59..60 "{"
    Whitespace@60..65 "\n    "
    VARIANT_LIST@65..83
      VARIANT@65..68
        Ident@65..68 "Red"
      Comma@68..69 ","
      Whitespace@69..74 "\n    "
      VARIANT@74..78
        Ident@74..78 "Blue"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..232
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..96 "light_code"
    PARAM_LIST@96..111
      LParen@96..97 "("
      PARAM@97..109
        Ident@97..102 "light"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_TAPP@104..109
          PATH@104..109
            Ident@104..109 "Light"
      RParen@109..110 ")"
      Whitespace@110..111 " "
    Arrow@111..113 "->"
    Whitespace@113..114 " "
    TYPE_INT32@114..120
      Int32Keyword@114..119 "int32"
      Whitespace@119..120 " "
    BLOCK@120..232
      LBrace@120..121 "{"
      Whitespace@121..126 "\n    "
      EXPR_MATCH@126..229
        MatchKeyword@126..131 "match"
        Whitespace@131..132 " "
        EXPR_IDENT@132..138
          PATH@132..138
            Ident@132..137 "light"
            Whitespace@137..138 " "
        MATCH_ARM_LIST@138..229
          LBrace@138..139 "{"
          Whitespace@139..148 "\n        "
          MATCH_ARM@148..164
            PATTERN_CONSTR@148..159
              PATH@148..159
                Ident@148..153 "Light"
                ColonColon@153..155 "::"
                Ident@155..158 "Red"
                Whitespace@158..159 " "
            FatArrow@159..161 "=>"
            Whitespace@161..162 " "
            EXPR_INT@162..164
              Int@162..164 "10"
          Comma@164..165 ","
          Whitespace@165..174 "\n        "
          MATCH_ARM@174..193
            PATTERN_CONSTR@174..188
              PATH@174..188
                Ident@174..179 "Light"
                ColonColon@179..181 "::"
                Ident@181..187 "Yellow"
                Whitespace@187..188 " "
            FatArrow@188..190 "=>"
            Whitespace@190..191 " "
            EXPR_INT@191..193
              Int@191..193 "20"
          Comma@193..194 ","
          Whitespace@194..203 "\n        "
          MATCH_ARM@203..221
            PATTERN_CONSTR@203..216
              PATH@203..216
                Ident@203..208 "Light"
                ColonColon@208..210 "::"
                Ident@210..215 "Green"
                Whitespace@215..216 " "
            FatArrow@216..218 "=>"
            Whitespace@218..219 " "
            EXPR_INT@219..221
              Int@219..221 "30"
          Comma@221..222 ","
          Whitespace@222..227 "\n    "
          RBrace@227..228 "}"
          Whitespace@228..229 "\n"
      RBrace@229..230 "}"
      Whitespace@230..232 "\n\n"
  FN@232..349
    FnKeyword@232..234 "fn"
    Whitespace@234..235 " "
    Ident@235..245 "paint_code"
    PARAM_LIST@245..260
      LParen@245..246 "("
      PARAM@246..258
        Ident@246..251 "paint"
        Colon@251..252 ":"
        Whitespace@252..253 " "
        TYPE_TAPP@253..258
          PATH@253..258
            Ident@253..258 "Paint"
      RParen@258..259 ")"
      Whitespace@259..260 " "
    Arrow@260..262 "->"
    Whitespace@262..263 " "
    TYPE_INT32@263..269
      Int32Keyword@263..268 "int32"
      Whitespace@268..269 " "
    BLOCK@269..349
      LBrace@269..270 "{"
      Whitespace@270..275 "\n    "
      EXPR_MATCH@275..346
        MatchKeyword@275..280 "match"
        Whitespace@280..281 " "
        EXPR_IDENT@281..287
          PATH@281..287
            Ident@281..286 "paint"
            Whitespace@286..287 " "
        MATCH_ARM_LIST@287..346
          LBrace@287..288 "{"
          Whitespace@288..297 "\n        "
          MATCH_ARM@297..312
            PATTERN_CONSTR@297..308
              PATH@297..308
                Ident@297..302 "Paint"
                ColonColon@302..304 "::"
                Ident@304..307 "Red"
                Whitespace@307..308 " "
            FatArrow@308..310 "=>"
            Whitespace@310..311 " "
            EXPR_INT@311..312
              Int@311..312 "1"
          Comma@312..313 ","
          Whitespace@313..322 "\n        "
          MATCH_ARM@322..338
            PATTERN_CONSTR@322..334
              PATH@322..334
                Ident@322..327 "Paint"
                ColonColon@327..329 "::"
                Ident@329..333 "Blue"
                Whitespace@333..334 " "
            FatArrow@334..336 "=>"
            Whitespace@336..337 " "
            EXPR_INT@337..338
              Int@337..338 "2"
          Comma@338..339 ","
          Whitespace@339..344 "\n    "
          RBrace@344..345 "}"
          Whitespace@345..346 "\n"
      RBrace@346..347 "}"
      Whitespace@347..349 "\n\n"
  FN@349..651
    FnKeyword@349..351 "fn"
    Whitespace@351..352 " "
    Ident@352..356 "main"
    PARAM_LIST@356..359
      LParen@356..357 "("
      RParen@357..358 ")"
      Whitespace@358..359 " "
    BLOCK@359..651
      LBrace@359..360 "{"
      Whitespace@360..365 "\n    "
      STMT_LET@365..393
        LetKeyword@365..368 "let"
        Whitespace@368..369 " "
        PATTERN_VARIABLE@369..375
          Ident@369..374 "light"
          Whitespace@374..375 " "
        Eq@375..376 "="
        Whitespace@376..377 " "
        EXPR_IDENT@377..387
          PATH@377..387
            Ident@377..382 "Light"
            ColonColon@382..384 "::"
            Ident@384..387 "Red"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      STMT_LET@393..421
        LetKeyword@393..396 "let"
        Whitespace@396..397 " "
        PATTERN_VARIABLE@397..403
          Ident@397..402 "paint"
          Whitespace@402..403 " "
        Eq@403..404 "="
        Whitespace@404..405 " "
        EXPR_IDENT@405..415
          PATH@405..415
            Ident@405..410 "Paint"
            ColonColon@410..412 "::"
            Ident@412..415 "Red"
        Semi@415..416 ";"
        Whitespace@416..421 "\n    "
      STMT_LET@421..478
        LetKeyword@421..424 "let"
        Whitespace@424..425 " "
        PATTERN_WILDCARD@425..427
          WildcardKeyword@425..426 "_"
          Whitespace@426..427 " "
        Eq@427..428 "="
        Whitespace@428..429 " "
        EXPR_CALL@429..472
          EXPR_IDENT@429..436
            PATH@429..436
              Ident@429..436 "println"
          ARG_LIST@436..472
            LParen@436..437 "("
            ARG@437..471
              EXPR_CALL@437..471
                EXPR_IDENT@437..452
                  PATH@437..452
                    Ident@437..452 "int32_to_string"
                ARG_LIST@452..471
                  LParen@452..453 "("
                  ARG@453..470
                    EXPR_CALL@453..470
                      EXPR_IDENT@453..463
                        PATH@453..463
                          Ident@453..463 "light_code"
                      ARG_LIST@463..470
                        LParen@463..464 "("
                        ARG@464..469
                          EXPR_IDENT@464..469
                            PATH@464..469
                              Ident@464..469 "light"
                        RParen@469..470 ")"
                  RParen@470..471 ")"
            RParen@471..472 ")"
        Semi@472..473 ";"
        Whitespace@473..478 "\n    "
      STMT_LET@478..535
        LetKeyword@478..481 "let"
        Whitespace@481..482 " "
        PATTERN_WILDCARD@482..484
          WildcardKeyword@482..483 "_"
          Whitespace@483..484 " "
        Eq@484..485 "="
        Whitespace@485..486 " "
        EXPR_CALL@486..529
          EXPR_IDENT@486..493
            PATH@486..493
              Ident@486..493 "println"
          ARG_LIST@493..529
            LParen@493..494 "("
            ARG@494..528
              EXPR_CALL@494..528
                EXPR_IDENT@494..509
                  PATH@494..509
                    Ident@494..509 "int32_to_string"
                ARG_LIST@509..528
                  LParen@509..510 "("
                  ARG@510..527
                    EXPR_CALL@510..527
                      EXPR_IDENT@510..520
                        PATH@510..520
                          Ident@510..520 "paint_code"
                      ARG_LIST@520..527
                        LParen@520..521 "("
                        ARG@521..526
                          EXPR_IDENT@521..526
                            PATH@521..526
                              Ident@521..526 "paint"
                        RParen@526..527 ")"
                  RParen@527..528 ")"
            RParen@528..529 ")"
        Semi@529..530 ";"
        Whitespace@530..535 "\n    "
      STMT_LET@535..599
        LetKeyword@535..538 "let"
        Whitespace@538..539 " "
        PATTERN_WILDCARD@539..541
          WildcardKeyword@539..540 "_"
          Whitespace@540..541 " "
        Eq@541..542 "="
        Whitespace@542..543 " "
        EXPR_CALL@543..593
          EXPR_IDENT@543..550
            PATH@543..550
              Ident@543..550 "println"
          ARG_LIST@550..593
            LParen@550..551 "("
            ARG@551..592
              EXPR_CALL@551..592
                EXPR_IDENT@551..566
                  PATH@551..566
                    Ident@551..566 "int32_to_string"
                ARG_LIST@566..592
                  LParen@566..567 "("
                  ARG@567..591
                    EXPR_CALL@567..591
                      EXPR_IDENT@567..577
                        PATH@567..577
                          Ident@567..577 "light_code"
                      ARG_LIST@577..591
                        LParen@577..578 "("
                        ARG@578..590
                          EXPR_IDENT@578..590
                            PATH@578..590
                              Ident@578..583 "Light"
                              ColonColon@583..585 "::"
                              Ident@585..590 "Green"
                        RParen@590..591 ")"
                  RParen@591..592 ")"
            RParen@592..593 ")"
        Semi@593..594 ";"
        Whitespace@594..599 "\n    "
      EXPR_CALL@599..649
        EXPR_IDENT@599..606
          PATH@599..606
            Ident@599..606 "println"
        ARG_LIST@606..649
          LParen@606..607 "("
          ARG@607..647
            EXPR_CALL@607..647
              EXPR_IDENT@607..622
                PATH@607..622
                  Ident@607..622 "int32_to_string"
              ARG_LIST@622..647
                LParen@622..623 "("
                ARG@623..646
                  EXPR_CALL@623..646
                    EXPR_IDENT@623..633
                      PATH@623..633
                        Ident@623..633 "paint_code"
                    ARG_LIST@633..646
                      LParen@633..634 "("
                      ARG@634..645
                        EXPR_IDENT@634..645
                          PATH@634..645
                            Ident@634..639 "Paint"
                            ColonColon@639..641 "::"
                            Ident@641..645 "Blue"
                      RParen@645..646 ")"
                RParen@646..647 ")"
          RParen@647..648 ")"
          Whitespace@648..649 "\n"
      RBrace@649..650 "}"
      Whitespace@650..651 "\n"