FILE@0..231
  ENUM@0..36
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..6 "T"
    Whitespace@6..7 " "
    LBrace@7..8 "{"
    Whitespace@8..13 "\n    "
    VARIANT_LIST@13..36
      VARIANT@13..14
        Ident@13..14 "A"
      Comma@14..15 ","
      Whitespace@15..20 "\n    "
      VARIANT@20..31
        Ident@20..21 "B"
        TYPE_LIST@21..31
          LParen@21..22 "("
          ENUM_TUPLE_FIELD@22..26
            TYPE_BOOL@22..26
              BoolKeyword@22..26 "bool"
          Comma@26..27 ","
          Whitespace@27..28 " "
          ENUM_TUPLE_FIELD@28..30
            TYPE_TUPLE@28..30
              TYPE_LIST@28..30
                LParen@28..29 "("
                RParen@29..30 ")"
          RParen@30..31 ")"
      Comma@31..32 ","
      Whitespace@32..33 "\n"
      RBrace@33..34 "}"
      Whitespace@34..36 "\n\n"
  FN@36..231
    FnKeyword@36..38 "fn"
    Whitespace@38..39 " "
    Ident@39..43 "main"
    PARAM_LIST@43..46
      LParen@43..44 "("
      RParen@44..45 ")"
      Whitespace@45..46 " "
    BLOCK@46..231
      LBrace@46..47 "{"
      Whitespace@47..52 "\n    "
      STMT_LET@52..77
        LetKeyword@52..55 "let"
        Whitespace@55..56 " "
        PATTERN_VARIABLE@56..58
          Ident@56..57 "t"
          Whitespace@57..58 " "
        Eq@58..59 "="
        Whitespace@59..60 " "
        EXPR_CALL@60..71
          EXPR_IDENT@60..61
            PATH@60..61
              Ident@60..61 "B"
          ARG_LIST@61..71
            LParen@61..62 "("
            ARG@62..68
              EXPR_BOOL@62..66
                TrueKeyword@62..66 "true"
              Comma@66..67 ","
              Whitespace@67..68 " "
            ARG@68..70
              EXPR_UNIT@68..70
                LParen@68..69 "("
                RParen@69..70 ")"
            RParen@70..71 ")"
        Semi@71..72 ";"
        Whitespace@72..77 "\n    "
      EXPR_MATCH@77..229
        MatchKeyword@77..82 "match"
        Whitespace@82..83 " "
        EXPR_IDENT@83..85
          PATH@83..85
            Ident@83..84 "t"
            Whitespace@84..85 " "
        MATCH_ARM_LIST@85..229
          LBrace@85..86 "{"
          Whitespace@86..95 "\n        "
          MATCH_ARM@95..124
            PATTERN_CONSTR@95..97
              PATH@95..97
                Ident@95..96 "A"
                Whitespace@96..97 " "
            FatArrow@97..99 "=>"
            Whitespace@99..100 " "
            EXPR_CALL@100..124
              EXPR_IDENT@100..107
                PATH@100..107
                  Ident@100..107 "println"
              ARG_LIST@107..124
                LParen@107..108 "("
                ARG@108..123
                  EXPR_CALL@108..123
                    EXPR_BINARY@108..121
                      EXPR_PAREN@108..111
                        LParen@108..109 "("
                        EXPR_INT@109..110
                          Int@109..110 "1"
                        RParen@110..111 ")"
                      Dot@111..112 "."
                      EXPR_IDENT@112..121
                        PATH@112..121
                          Ident@112..121 "to_string"
                    ARG_LIST@121..123
                      LParen@121..122 "("
                      RParen@122..123 ")"
                RParen@123..124 ")"
          Comma@124..125 ","
          Whitespace@125..134 "\n        "
          MATCH_ARM@134..172
            PATTERN_CONSTR@134..145
              PATH@134..135
                Ident@134..135 "B"
              LParen@135..136 "("
              PATTERN_BOOL@136..140
                TrueKeyword@136..140 "true"
              Comma@140..141 ","
              PATTERN_UNIT@141..143
                LParen@141..142 "("
                RParen@142..143 ")"
              RParen@143..144 ")"
              Whitespace@144..145 " "
            FatArrow@145..147 "=>"
            Whitespace@147..148 " "
            EXPR_CALL@148..172
              EXPR_IDENT@148..155
                PATH@148..155
                  Ident@148..155 "println"
              ARG_LIST@155..172
                LParen@155..156 "("
                ARG@156..171
                  EXPR_CALL@156..171
                    EXPR_BINARY@156..169
                      EXPR_PAREN@156..159
                        LParen@156..157 "("
                        EXPR_INT@157..158
                          Int@157..158 "2"
                        RParen@158..159 ")"
                      Dot@159..160 "."
                      EXPR_IDENT@160..169
                        PATH@160..169
                          Ident@160..169 "to_string"
                    ARG_LIST@169..171
                      LParen@169..170 "("
                      RParen@170..171 ")"
                RParen@171..172 ")"
          Comma@172..173 ","
          Whitespace@173..182 "\n        "
          MATCH_ARM@182..221
            PATTERN_CONSTR@182..194
              PATH@182..183
                Ident@182..183 "B"
              LParen@183..184 "("
              PATTERN_BOOL@184..189
                FalseKeyword@184..189 "false"
              Comma@189..190 ","
              PATTERN_UNIT@190..192
                LParen@190..191 "("
                RParen@191..192 ")"
              RParen@192..193 ")"
              Whitespace@193..194 " "
            FatArrow@194..196 "=>"
            Whitespace@196..197 " "
            EXPR_CALL@197..221
              EXPR_IDENT@197..204
                PATH@197..204
                  Ident@197..204 "println"
              ARG_LIST@204..221
                LParen@204..205 "("
                ARG@205..220
                  EXPR_CALL@205..220
                    EXPR_BINARY@205..218
                      EXPR_PAREN@205..208
                        LParen@205..206 "("
                        EXPR_INT@206..207
                          Int@206..207 "3"
                        RParen@207..208 ")"
                      Dot@208..209 "."
                      EXPR_IDENT@209..218
                        PATH@209..218
                          Ident@209..218 "to_string"
                    ARG_LIST@218..220
                      LParen@218..219 "("
                      RParen@219..220 ")"
                RParen@220..221 ")"
          Comma@221..222 ","
          Whitespace@222..227 "\n    "
          RBrace@227..228 "}"
          Whitespace@228..229 "\n"
      RBrace@229..230 "}"
      Whitespace@230..231 "\n"