FILE@0..935
  ENUM@0..49
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..9 "List"
    GENERIC_LIST@9..13
      LBracket@9..10 "["
      GENERIC@10..11
        Ident@10..11 "T"
      RBracket@11..12 "]"
      Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    VARIANT_LIST@19..49
      VARIANT@19..22
        Ident@19..22 "Nil"
      Comma@22..23 ","
      Whitespace@23..28 "\n    "
      VARIANT@28..44
        Ident@28..32 "Cons"
        TYPE_LIST@32..44
          LParen@32..33 "("
          TYPE_TAPP@33..34
            PATH@33..34
              Ident@33..34 "T"
          Comma@34..35 ","
          Whitespace@35..36 " "
          TYPE_TAPP@36..43
            PATH@36..40
              Ident@36..40 "List"
            TYPE_PARAM_LIST@40..43
              LBracket@40..41 "["
              TYPE_TAPP@41..42
                PATH@41..42
                  Ident@41..42 "T"
              RBracket@42..43 "]"
          RParen@43..44 ")"
      Comma@44..45 ","
      Whitespace@45..46 "\n"
      RBrace@46..47 "}"
      Whitespace@47..49 "\n\n"
  FN@49..181
    FnKeyword@49..51 "fn"
    Whitespace@51..52 " "
    Ident@52..63 "list_length"
    GENERIC_LIST@63..66
      LBracket@63..64 "["
      GENERIC@64..65
        Ident@64..65 "T"
      RBracket@65..66 "]"
    PARAM_LIST@66..80
      LParen@66..67 "("
      PARAM@67..78
        Ident@67..69 "xs"
        Colon@69..70 ":"
        Whitespace@70..71 " "
        TYPE_TAPP@71..78
          PATH@71..75
            Ident@71..75 "List"
          TYPE_PARAM_LIST@75..78
            LBracket@75..76 "["
            TYPE_TAPP@76..77
              PATH@76..77
                Ident@76..77 "T"
            RBracket@77..78 "]"
      RParen@78..79 ")"
      Whitespace@79..80 " "
    Arrow@80..82 "->"
    Whitespace@82..83 " "
    TYPE_INT32@83..89
      Int32Keyword@83..88 "int32"
      Whitespace@88..89 " "
    BLOCK@89..181
      LBrace@89..90 "{"
      Whitespace@90..95 "\n    "
      EXPR_MATCH@95..178
        MatchKeyword@95..100 "match"
        Whitespace@100..101 " "
        EXPR_IDENT@101..104
          PATH@101..104
            Ident@101..103 "xs"
            Whitespace@103..104 " "
        MATCH_ARM_LIST@104..178
          LBrace@104..105 "{"
          Whitespace@105..114 "\n        "
          MATCH_ARM@114..122
            PATTERN_VARIABLE@114..118
              Ident@114..117 "Nil"
              Whitespace@117..118 " "
            FatArrow@118..120 "=>"
            Whitespace@120..121 " "
            EXPR_INT@121..122
              Int@121..122 "0"
          Comma@122..123 ","
          Whitespace@123..132 "\n        "
          MATCH_ARM@132..170
            PATTERN_CONSTR@132..146
              PATH@132..136
                Ident@132..136 "Cons"
              LParen@136..137 "("
              PATTERN_WILDCARD@137..138
                WildcardKeyword@137..138 "_"
              Comma@138..139 ","
              Whitespace@139..140 " "
              PATTERN_VARIABLE@140..144
                Ident@140..144 "tail"
              RParen@144..145 ")"
              Whitespace@145..146 " "
            FatArrow@146..148 "=>"
            Whitespace@148..149 " "
            EXPR_BINARY@149..170
              EXPR_INT@149..151
                Int@149..150 "1"
                Whitespace@150..151 " "
              Plus@151..152 "+"
              Whitespace@152..153 " "
              EXPR_CALL@153..170
                EXPR_IDENT@153..164
                  PATH@153..164
                    Ident@153..164 "list_length"
                ARG_LIST@164..170
                  LParen@164..165 "("
                  ARG@165..169
                    EXPR_IDENT@165..169
                      PATH@165..169
                        Ident@165..169 "tail"
                  RParen@169..170 ")"
          Comma@170..171 ","
          Whitespace@171..176 "\n    "
          RBrace@176..177 "}"
          Whitespace@177..178 "\n"
      RBrace@178..179 "}"
      Whitespace@179..181 "\n\n"
  FN@181..322
    FnKeyword@181..183 "fn"
    Whitespace@183..184 " "
    Ident@184..199 "int_list_length"
    PARAM_LIST@199..217
      LParen@199..200 "("
      PARAM@200..215
        Ident@200..202 "xs"
        Colon@202..203 ":"
        Whitespace@203..204 " "
        TYPE_TAPP@204..215
          PATH@204..208
            Ident@204..208 "List"
          TYPE_PARAM_LIST@208..215
            LBracket@208..209 "["
            TYPE_INT32@209..214
              Int32Keyword@209..214 "int32"
            RBracket@214..215 "]"
      RParen@215..216 ")"
      Whitespace@216..217 " "
    Arrow@217..219 "->"
    Whitespace@219..220 " "
    TYPE_INT32@220..226
      Int32Keyword@220..225 "int32"
      Whitespace@225..226 " "
    BLOCK@226..322
      LBrace@226..227 "{"
      Whitespace@227..232 "\n    "
      EXPR_MATCH@232..319
        MatchKeyword@232..237 "match"
        Whitespace@237..238 " "
        EXPR_IDENT@238..241
          PATH@238..241
            Ident@238..240 "xs"
            Whitespace@240..241 " "
        MATCH_ARM_LIST@241..319
          LBrace@241..242 "{"
          Whitespace@242..251 "\n        "
          MATCH_ARM@251..259
            PATTERN_VARIABLE@251..255
              Ident@251..254 "Nil"
              Whitespace@254..255 " "
            FatArrow@255..257 "=>"
            Whitespace@257..258 " "
            EXPR_INT@258..259
              Int@258..259 "0"
          Comma@259..260 ","
          Whitespace@260..269 "\n        "
          MATCH_ARM@269..311
            PATTERN_CONSTR@269..283
              PATH@269..273
                Ident@269..273 "Cons"
              LParen@273..274 "("
              PATTERN_WILDCARD@274..275
                WildcardKeyword@274..275 "_"
              Comma@275..276 ","
              Whitespace@276..277 " "
              PATTERN_VARIABLE@277..281
                Ident@277..281 "tail"
              RParen@281..282 ")"
              Whitespace@282..283 " "
            FatArrow@283..285 "=>"
            Whitespace@285..286 " "
            EXPR_BINARY@286..311
              EXPR_INT@286..288
                Int@286..287 "1"
                Whitespace@287..288 " "
              Plus@288..289 "+"
              Whitespace@289..290 " "
              EXPR_CALL@290..311
                EXPR_IDENT@290..305
                  PATH@290..305
                    Ident@290..305 "int_list_length"
                ARG_LIST@305..311
                  LParen@305..306 "("
                  ARG@306..310
                    EXPR_IDENT@306..310
                      PATH@306..310
                        Ident@306..310 "tail"
                  RParen@310..311 ")"
          Comma@311..312 ","
          Whitespace@312..317 "\n    "
          RBrace@317..318 "}"
          Whitespace@318..319 "\n"
      RBrace@319..320 "}"
      Whitespace@320..322 "\n\n"
  FN@322..935
    FnKeyword@322..324 "fn"
    Whitespace@324..325 " "
    Ident@325..329 "main"
    PARAM_LIST@329..332
      LParen@329..330 "("
      RParen@330..331 ")"
      Whitespace@331..332 " "
    BLOCK@332..935
      LBrace@332..333 "{"
      Whitespace@333..338 "\n    "
      STMT_LET@338..364
        LetKeyword@338..341 "let"
        Whitespace@341..342 " "
        PATTERN_VARIABLE@342..344
          Ident@342..343 "x"
          Whitespace@343..344 " "
        Eq@344..345 "="
        Whitespace@345..346 " "
        EXPR_CALL@346..358
          EXPR_IDENT@346..350
            PATH@346..350
              Ident@346..350 "Cons"
          ARG_LIST@350..358
            LParen@350..351 "("
            ARG@351..354
              EXPR_INT@351..352
                Int@351..352 "1"
              Comma@352..353 ","
              Whitespace@353..354 " "
            ARG@354..357
              EXPR_IDENT@354..357
                PATH@354..357
                  Ident@354..357 "Nil"
            RParen@357..358 ")"
        Semi@358..359 ";"
        Whitespace@359..364 "\n    "
      STMT_LET@364..397
        LetKeyword@364..367 "let"
        Whitespace@367..368 " "
        PATTERN_VARIABLE@368..375
          Ident@368..374 "length"
          Whitespace@374..375 " "
        Eq@375..376 "="
        Whitespace@376..377 " "
        EXPR_CALL@377..391
          EXPR_IDENT@377..388
            PATH@377..388
              Ident@377..388 "list_length"
          ARG_LIST@388..391
            LParen@388..389 "("
            ARG@389..390
              EXPR_IDENT@389..390
                PATH@389..390
                  Ident@389..390 "x"
            RParen@390..391 ")"
        Semi@391..392 ";"
        Whitespace@392..397 "\n    "
      STMT_LET@397..427
        LetKeyword@397..400 "let"
        Whitespace@400..401 " "
        PATTERN_WILDCARD@401..403
          WildcardKeyword@401..402 "_"
          Whitespace@402..403 " "
        Eq@403..404 "="
        Whitespace@404..405 " "
        EXPR_CALL@405..420
          EXPR_IDENT@405..412
            PATH@405..412
              Ident@405..412 "println"
          ARG_LIST@412..420
            LParen@412..413 "("
            ARG@413..419
              EXPR_IDENT@413..419
                PATH@413..419
                  Ident@413..419 "length"
            RParen@419..420 ")"
        Semi@420..421 ";"
        Whitespace@421..427 "\n\n    "
      STMT_LET@427..462
        LetKeyword@427..430 "let"
        Whitespace@430..431 " "
        PATTERN_VARIABLE@431..433
          Ident@431..432 "x"
          Whitespace@432..433 " "
        Eq@433..434 "="
        Whitespace@434..435 " "
        EXPR_CALL@435..456
          EXPR_IDENT@435..439
            PATH@435..439
              Ident@435..439 "Cons"
          ARG_LIST@439..456
            LParen@439..440 "("
            ARG@440..443
              EXPR_INT@440..441
                Int@440..441 "1"
              Comma@441..442 ","
              Whitespace@442..443 " "
            ARG@443..455
              EXPR_CALL@443..455
                EXPR_IDENT@443..447
                  PATH@443..447
                    Ident@443..447 "Cons"
                ARG_LIST@447..455
                  LParen@447..448 "("
                  ARG@448..451
                    EXPR_INT@448..449
                      Int@448..449 "2"
                    Comma@449..450 ","
                    Whitespace@450..451 " "
                  ARG@451..454
                    EXPR_IDENT@451..454
                      PATH@451..454
                        Ident@451..454 "Nil"
                  RParen@454..455 ")"
            RParen@455..456 ")"
        Semi@456..457 ";"
        Whitespace@457..462 "\n    "
      STMT_LET@462..495
        LetKeyword@462..465 "let"
        Whitespace@465..466 " "
        PATTERN_VARIABLE@466..473
          Ident@466..472 "length"
          Whitespace@472..473 " "
        Eq@473..474 "="
        Whitespace@474..475 " "
        EXPR_CALL@475..489
          EXPR_IDENT@475..486
            PATH@475..486
              Ident@475..486 "list_length"
          ARG_LIST@486..489
            LParen@486..487 "("
            ARG@487..488
              EXPR_IDENT@487..488
                PATH@487..488
                  Ident@487..488 "x"
            RParen@488..489 ")"
        Semi@489..490 ";"
        Whitespace@490..495 "\n    "
      STMT_LET@495..525
        LetKeyword@495..498 "let"
        Whitespace@498..499 " "
        PATTERN_WILDCARD@499..501
          WildcardKeyword@499..500 "_"
          Whitespace@500..501 " "
        Eq@501..502 "="
        Whitespace@502..503 " "
        EXPR_CALL@503..518
          EXPR_IDENT@503..510
            PATH@503..510
              Ident@503..510 "println"
          ARG_LIST@510..518
            LParen@510..511 "("
            ARG@511..517
              EXPR_IDENT@511..517
                PATH@511..517
                  Ident@511..517 "length"
            RParen@517..518 ")"
        Semi@518..519 ";"
        Whitespace@519..525 "\n\n    "
      STMT_LET@525..569
        LetKeyword@525..528 "let"
        Whitespace@528..529 " "
        PATTERN_VARIABLE@529..531
          Ident@529..530 "x"
          Whitespace@530..531 " "
        Eq@531..532 "="
        Whitespace@532..533 " "
        EXPR_CALL@533..563
          EXPR_IDENT@533..537
            PATH@533..537
              Ident@533..537 "Cons"
          ARG_LIST@537..563
            LParen@537..538 "("
            ARG@538..541
              EXPR_INT@538..539
                Int@538..539 "0"
              Comma@539..540 ","
              Whitespace@540..541 " "
            ARG@541..562
              EXPR_CALL@541..562
                EXPR_IDENT@541..545
                  PATH@541..545
                    Ident@541..545 "Cons"
                ARG_LIST@545..562
                  LParen@545..546 "("
                  ARG@546..549
                    EXPR_INT@546..547
                      Int@546..547 "1"
                    Comma@547..548 ","
                    Whitespace@548..549 " "
                  ARG@549..561
                    EXPR_CALL@549..561
                      EXPR_IDENT@549..553
                        PATH@549..553
                          Ident@549..553 "Cons"
                      ARG_LIST@553..561
                        LParen@553..554 "("
                        ARG@554..557
                          EXPR_INT@554..555
                            Int@554..555 "2"
                          Comma@555..556 ","
                          Whitespace@556..557 " "
                        ARG@557..560
                          EXPR_IDENT@557..560
                            PATH@557..560
                              Ident@557..560 "Nil"
                        RParen@560..561 ")"
                  RParen@561..562 ")"
            RParen@562..563 ")"
        Semi@563..564 ";"
        Whitespace@564..569 "\n    "
      STMT_LET@569..606
        LetKeyword@569..572 "let"
        Whitespace@572..573 " "
        PATTERN_VARIABLE@573..580
          Ident@573..579 "length"
          Whitespace@579..580 " "
        Eq@580..581 "="
        Whitespace@581..582 " "
        EXPR_CALL@582..600
          EXPR_IDENT@582..597
            PATH@582..597
              Ident@582..597 "int_list_length"
          ARG_LIST@597..600
            LParen@597..598 "("
            ARG@598..599
              EXPR_IDENT@598..599
                PATH@598..599
                  Ident@598..599 "x"
            RParen@599..600 ")"
        Semi@600..601 ";"
        Whitespace@601..606 "\n    "
      STMT_LET@606..636
        LetKeyword@606..609 "let"
        Whitespace@609..610 " "
        PATTERN_WILDCARD@610..612
          WildcardKeyword@610..611 "_"
          Whitespace@611..612 " "
        Eq@612..613 "="
        Whitespace@613..614 " "
        EXPR_CALL@614..629
          EXPR_IDENT@614..621
            PATH@614..621
              Ident@614..621 "println"
          ARG_LIST@621..629
            LParen@621..622 "("
            ARG@622..628
              EXPR_IDENT@622..628
                PATH@622..628
                  Ident@622..628 "length"
            RParen@628..629 ")"
        Semi@629..630 ";"
        Whitespace@630..636 "\n\n    "
      STMT_LET@636..663
        LetKeyword@636..639 "let"
        Whitespace@639..640 " "
        PATTERN_VARIABLE@640..642
          Ident@640..641 "x"
          Whitespace@641..642 " "
        Eq@642..643 "="
        Whitespace@643..644 " "
        EXPR_CALL@644..657
          EXPR_IDENT@644..648
            PATH@644..648
              Ident@644..648 "Cons"
          ARG_LIST@648..657
            LParen@648..649 "("
            ARG@649..653
              EXPR_UNIT@649..651
                LParen@649..650 "("
                RParen@650..651 ")"
              Comma@651..652 ","
              Whitespace@652..653 " "
            ARG@653..656
              EXPR_IDENT@653..656
                PATH@653..656
                  Ident@653..656 "Nil"
            RParen@656..657 ")"
        Semi@657..658 ";"
        Whitespace@658..663 "\n    "
      STMT_LET@663..696
        LetKeyword@663..666 "let"
        Whitespace@666..667 " "
        PATTERN_VARIABLE@667..674
          Ident@667..673 "length"
          Whitespace@673..674 " "
        Eq@674..675 "="
        Whitespace@675..676 " "
        EXPR_CALL@676..690
          EXPR_IDENT@676..687
            PATH@676..687
              Ident@676..687 "list_length"
          ARG_LIST@687..690
            LParen@687..688 "("
            ARG@688..689
              EXPR_IDENT@688..689
                PATH@688..689
                  Ident@688..689 "x"
            RParen@689..690 ")"
        Semi@690..691 ";"
        Whitespace@691..696 "\n    "
      STMT_LET@696..726
        LetKeyword@696..699 "let"
        Whitespace@699..700 " "
        PATTERN_WILDCARD@700..702
          WildcardKeyword@700..701 "_"
          Whitespace@701..702 " "
        Eq@702..703 "="
        Whitespace@703..704 " "
        EXPR_CALL@704..719
          EXPR_IDENT@704..711
            PATH@704..711
              Ident@704..711 "println"
          ARG_LIST@711..719
            LParen@711..712 "("
            ARG@712..718
              EXPR_IDENT@712..718
                PATH@712..718
                  Ident@712..718 "length"
            RParen@718..719 ")"
        Semi@719..720 ";"
        Whitespace@720..726 "\n\n    "
      STMT_LET@726..763
        LetKeyword@726..729 "let"
        Whitespace@729..730 " "
        PATTERN_VARIABLE@730..732
          Ident@730..731 "x"
          Whitespace@731..732 " "
        Eq@732..733 "="
        Whitespace@733..734 " "
        EXPR_CALL@734..757
          EXPR_IDENT@734..738
            PATH@734..738
              Ident@734..738 "Cons"
          ARG_LIST@738..757
            LParen@738..739 "("
            ARG@739..743
              EXPR_UNIT@739..741
                LParen@739..740 "("
                RParen@740..741 ")"
              Comma@741..742 ","
              Whitespace@742..743 " "
            ARG@743..756
              EXPR_CALL@743..756
                EXPR_IDENT@743..747
                  PATH@743..747
                    Ident@743..747 "Cons"
                ARG_LIST@747..756
                  LParen@747..748 "("
                  ARG@748..752
                    EXPR_UNIT@748..750
                      LParen@748..749 "("
                      RParen@749..750 ")"
                    Comma@750..751 ","
                    Whitespace@751..752 " "
                  ARG@752..755
                    EXPR_IDENT@752..755
                      PATH@752..755
                        Ident@752..755 "Nil"
                  RParen@755..756 ")"
            RParen@756..757 ")"
        Semi@757..758 ";"
        Whitespace@758..763 "\n    "
      STMT_LET@763..796
        LetKeyword@763..766 "let"
        Whitespace@766..767 " "
        PATTERN_VARIABLE@767..774
          Ident@767..773 "length"
          Whitespace@773..774 " "
        Eq@774..775 "="
        Whitespace@775..776 " "
        EXPR_CALL@776..790
          EXPR_IDENT@776..787
            PATH@776..787
              Ident@776..787 "list_length"
          ARG_LIST@787..790
            LParen@787..788 "("
            ARG@788..789
              EXPR_IDENT@788..789
                PATH@788..789
                  Ident@788..789 "x"
            RParen@789..790 ")"
        Semi@790..791 ";"
        Whitespace@791..796 "\n    "
      STMT_LET@796..826
        LetKeyword@796..799 "let"
        Whitespace@799..800 " "
        PATTERN_WILDCARD@800..802
          WildcardKeyword@800..801 "_"
          Whitespace@801..802 " "
        Eq@802..803 "="
        Whitespace@803..804 " "
        EXPR_CALL@804..819
          EXPR_IDENT@804..811
            PATH@804..811
              Ident@804..811 "println"
          ARG_LIST@811..819
            LParen@811..812 "("
            ARG@812..818
              EXPR_IDENT@812..818
                PATH@812..818
                  Ident@812..818 "length"
            RParen@818..819 ")"
        Semi@819..820 ";"
        Whitespace@820..826 "\n\n    "
      STMT_LET@826..868
        LetKeyword@826..829 "let"
        Whitespace@829..830 " "
        PATTERN_VARIABLE@830..832
          Ident@830..831 "x"
          Whitespace@831..832 " "
        Eq@832..833 "="
        Whitespace@833..834 " "
        EXPR_CALL@834..862
          EXPR_IDENT@834..838
            PATH@834..838
              Ident@834..838 "Cons"
          ARG_LIST@838..862
            LParen@838..839 "("
            ARG@839..845
              EXPR_BOOL@839..843
                TrueKeyword@839..843 "true"
              Comma@843..844 ","
              Whitespace@844..845 " "
            ARG@845..861
              EXPR_CALL@845..861
                EXPR_IDENT@845..849
                  PATH@845..849
                    Ident@845..849 "Cons"
                ARG_LIST@849..861
                  LParen@849..850 "("
                  ARG@850..857
                    EXPR_BOOL@850..855
                      FalseKeyword@850..855 "false"
                    Comma@855..856 ","
                    Whitespace@856..857 " "
                  ARG@857..860
                    EXPR_IDENT@857..860
                      PATH@857..860
                        Ident@857..860 "Nil"
                  RParen@860..861 ")"
            RParen@861..862 ")"
        Semi@862..863 ";"
        Whitespace@863..868 "\n    "
      STMT_LET@868..901
        LetKeyword@868..871 "let"
        Whitespace@871..872 " "
        PATTERN_VARIABLE@872..879
          Ident@872..878 "length"
          Whitespace@878..879 " "
        Eq@879..880 "="
        Whitespace@880..881 " "
        EXPR_CALL@881..895
          EXPR_IDENT@881..892
            PATH@881..892
              Ident@881..892 "list_length"
          ARG_LIST@892..895
            LParen@892..893 "("
            ARG@893..894
              EXPR_IDENT@893..894
                PATH@893..894
                  Ident@893..894 "x"
            RParen@894..895 ")"
        Semi@895..896 ";"
        Whitespace@896..901 "\n    "
      STMT_LET@901..930
        LetKeyword@901..904 "let"
        Whitespace@904..905 " "
        PATTERN_WILDCARD@905..907
          WildcardKeyword@905..906 "_"
          Whitespace@906..907 " "
        Eq@907..908 "="
        Whitespace@908..909 " "
        EXPR_CALL@909..924
          EXPR_IDENT@909..916
            PATH@909..916
              Ident@909..916 "println"
          ARG_LIST@916..924
            LParen@916..917 "("
            ARG@917..923
              EXPR_IDENT@917..923
                PATH@917..923
                  Ident@917..923 "length"
            RParen@923..924 ")"
        Semi@924..925 ";"
        Whitespace@925..930 "\n    "
      EXPR_UNIT@930..933
        LParen@930..931 "("
        RParen@931..932 ")"
        Whitespace@932..933 "\n"
      RBrace@933..934 "}"
      Whitespace@934..935 "\n"