FILE@0..206
  FN@0..206
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..206
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..50
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        PATTERN_VARIABLE@26..27
          Ident@26..27 "c"
        Colon@27..28 ":"
        Whitespace@28..29 " "
        TYPE_CHAR@29..34
          CharKeyword@29..33 "char"
          Whitespace@33..34 " "
        Eq@34..35 "="
        Whitespace@35..36 " "
        EXPR_CHAR@36..44
          CharLit@36..44 "'\\u0041'"
        Semi@44..45 ";"
        Whitespace@45..50 "\n    "
      STMT_EXPR@50..78
        EXPR_CALL@50..72
          EXPR_IDENT@50..57
            PATH@50..57
              Ident@50..57 "println"
          ARG_LIST@57..72
            LParen@57..58 "("
            ARG@58..71
              EXPR_CALL@58..71
                EXPR_BINARY@58..69
                  EXPR_IDENT@58..59
                    PATH@58..59
                      Ident@58..59 "c"
                  Dot@59..60 "."
                  EXPR_IDENT@60..69
                    PATH@60..69
                      Ident@60..69 "to_string"
                ARG_LIST@69..71
                  LParen@69..70 "("
                  RParen@70..71 ")"
            RParen@71..72 ")"
        Semi@72..73 ";"
        Whitespace@73..78 "\n    "
      STMT_LET@78..101
        LetKeyword@78..81 "let"
        Whitespace@81..82 " "
        PATTERN_VARIABLE@82..83
          Ident@82..83 "d"
        Colon@83..84 ":"
        Whitespace@84..85 " "
        TYPE_CHAR@85..90
          CharKeyword@85..89 "char"
          Whitespace@89..90 " "
        Eq@90..91 "="
        Whitespace@91..92 " "
        EXPR_CHAR@92..95
          CharLit@92..95 "'b'"
        Semi@95..96 ";"
        Whitespace@96..101 "\n    "
      STMT_LET@101..190
        LetKeyword@101..104 "let"
        Whitespace@104..105 " "
        PATTERN_VARIABLE@105..109
          Ident@105..108 "out"
          Whitespace@108..109 " "
        Eq@109..110 "="
        Whitespace@110..111 " "
        EXPR_MATCH@111..184
          MatchKeyword@111..116 "match"
          Whitespace@116..117 " "
          EXPR_IDENT@117..119
            PATH@117..119
              Ident@117..118 "d"
              Whitespace@118..119 " "
          MATCH_ARM_LIST@119..184
            LBrace@119..120 "{"
            Whitespace@120..129 "\n        "
            MATCH_ARM@129..139
              PATTERN_CHAR@129..133
                CharLit@129..132 "'a'"
                Whitespace@132..133 " "
              FatArrow@133..135 "=>"
              Whitespace@135..136 " "
              EXPR_STR@136..139
                Str@136..139 "\"A\""
            Comma@139..140 ","
            Whitespace@140..149 "\n        "
            MATCH_ARM@149..159
              PATTERN_CHAR@149..153
                CharLit@149..152 "'b'"
                Whitespace@152..153 " "
              FatArrow@153..155 "=>"
              Whitespace@155..156 " "
              EXPR_STR@156..159
                Str@156..159 "\"B\""
            Comma@159..160 ","
            Whitespace@160..169 "\n        "
            MATCH_ARM@169..177
              PATTERN_WILDCARD@169..171
                WildcardKeyword@169..170 "_"
                Whitespace@170..171 " "
              FatArrow@171..173 "=>"
              Whitespace@173..174 " "
              EXPR_STR@174..177
                Str@174..177 "\"?\""
            Comma@177..178 ","
            Whitespace@178..183 "\n    "
            RBrace@183..184 "}"
        Semi@184..185 ";"
        Whitespace@185..190 "\n    "
      STMT_EXPR@190..204
        EXPR_CALL@190..202
          EXPR_IDENT@190..197
            PATH@190..197
              Ident@190..197 "println"
          ARG_LIST@197..202
            LParen@197..198 "("
            ARG@198..201
              EXPR_IDENT@198..201
                PATH@198..201
                  Ident@198..201 "out"
            RParen@201..202 ")"
        Semi@202..203 ";"
        Whitespace@203..204 "\n"
      RBrace@204..205 "}"
      Whitespace@205..206 "\n"