FILE@0..415
  FN@0..415
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..415
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..78
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        PATTERN_TUPLE@26..41
          LParen@26..27 "("
          PATTERN_VARIABLE@27..32
            Ident@27..32 "valid"
          Comma@32..33 ","
          Whitespace@33..34 " "
          PATTERN_VARIABLE@34..39
            Ident@34..39 "value"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Eq@41..42 "="
        Whitespace@42..43 " "
        EXPR_CALL@43..72
          EXPR_IDENT@43..63
            PATH@43..63
              Ident@43..63 "string_parse_float64"
          ARG_LIST@63..72
            LParen@63..64 "("
            ARG@64..71
              EXPR_STR@64..71
                Str@64..71 "\"3.125\""
            RParen@71..72 ")"
        Semi@72..73 ";"
        Whitespace@73..78 "\n    "
      STMT_EXPR@78..110
        EXPR_CALL@78..104
          EXPR_IDENT@78..85
            PATH@78..85
              Ident@78..85 "println"
          ARG_LIST@85..104
            LParen@85..86 "("
            ARG@86..103
              EXPR_CALL@86..103
                EXPR_BINARY@86..101
                  EXPR_IDENT@86..91
                    PATH@86..91
                      Ident@86..91 "valid"
                  Dot@91..92 "."
                  EXPR_IDENT@92..101
                    PATH@92..101
                      Ident@92..101 "to_string"
                ARG_LIST@101..103
                  LParen@101..102 "("
                  RParen@102..103 ")"
            RParen@103..104 ")"
        Semi@104..105 ";"
        Whitespace@105..110 "\n    "
      STMT_EXPR@110..142
        EXPR_CALL@110..136
          EXPR_IDENT@110..117
            PATH@110..117
              Ident@110..117 "println"
          ARG_LIST@117..136
            LParen@117..118 "("
            ARG@118..135
              EXPR_CALL@118..135
                EXPR_BINARY@118..133
                  EXPR_IDENT@118..123
                    PATH@118..123
                      Ident@118..123 "value"
                  Dot@123..124 "."
                  EXPR_IDENT@124..133
                    PATH@124..133
                      Ident@124..133 "to_string"
                ARG_LIST@133..135
                  LParen@133..134 "("
                  RParen@134..135 ")"
            RParen@135..136 ")"
        Semi@136..137 ";"
        Whitespace@137..142 "\n    "
      STMT_LET@142..207
        LetKeyword@142..145 "let"
        Whitespace@145..146 " "
        PATTERN_TUPLE@146..171
          LParen@146..147 "("
          PATTERN_VARIABLE@147..160
            Ident@147..160 "rounded_valid"
          Comma@160..161 ","
          Whitespace@161..162 " "
          PATTERN_VARIABLE@162..169
            Ident@162..169 "rounded"
          RParen@169..170 ")"
          Whitespace@170..171 " "
        Eq@171..172 "="
        Whitespace@172..173 " "
        EXPR_CALL@173..201
          EXPR_IDENT@173..193
            PATH@173..193
              Ident@173..193 "string_parse_float32"
          ARG_LIST@193..201
            LParen@193..194 "("
            ARG@194..200
              EXPR_STR@194..200
                Str@194..200 "\"3.14\""
            RParen@200..201 ")"
        Semi@201..202 ";"
        Whitespace@202..207 "\n    "
      STMT_EXPR@207..247
        EXPR_CALL@207..241
          EXPR_IDENT@207..214
            PATH@207..214
              Ident@207..214 "println"
          ARG_LIST@214..241
            LParen@214..215 "("
            ARG@215..240
              EXPR_CALL@215..240
                EXPR_BINARY@215..238
                  EXPR_IDENT@215..228
                    PATH@215..228
                      Ident@215..228 "rounded_valid"
                  Dot@228..229 "."
                  EXPR_IDENT@229..238
                    PATH@229..238
                      Ident@229..238 "to_string"
                ARG_LIST@238..240
                  LParen@238..239 "("
                  RParen@239..240 ")"
            RParen@240..241 ")"
        Semi@241..242 ";"
        Whitespace@242..247 "\n    "
      STMT_EXPR@247..281
        EXPR_CALL@247..275
          EXPR_IDENT@247..254
            PATH@247..254
              Ident@247..254 "println"
          ARG_LIST@254..275
            LParen@254..255 "("
            ARG@255..274
              EXPR_CALL@255..274
                EXPR_BINARY@255..272
                  EXPR_IDENT@255..262
                    PATH@255..262
                      Ident@255..262 "rounded"
                  Dot@262..263 "."
                  EXPR_IDENT@263..272
                    PATH@263..272
                      Ident@263..272 "to_string"
                ARG_LIST@272..274
                  LParen@272..273 "("
                  RParen@273..274 ")"
            RParen@274..275 ")"
        Semi@275..276 ";"
        Whitespace@276..281 "\n    "
      STMT_LET@281..349
        LetKeyword@281..284 "let"
        Whitespace@284..285 " "
        PATTERN_TUPLE@285..305
          LParen@285..286 "("
          PATTERN_VARIABLE@286..293
            Ident@286..293 "invalid"
          Comma@293..294 ","
          Whitespace@294..295 " "
          PATTERN_VARIABLE@295..303
            Ident@295..303 "fallback"
          RParen@303..304 ")"
          Whitespace@304..305 " "
        Eq@305..306 "="
        Whitespace@306..307 " "
        EXPR_CALL@307..343
          EXPR_IDENT@307..327
            PATH@307..327
              Ident@307..327 "string_parse_float64"
          ARG_LIST@327..343
            LParen@327..328 "("
            ARG@328..342
              EXPR_STR@328..342
                Str@328..342 "\"not-a-number\""
            RParen@342..343 ")"
        Semi@343..344 ";"
        Whitespace@344..349 "\n    "
      STMT_EXPR@349..383
        EXPR_CALL@349..377
          EXPR_IDENT@349..356
            PATH@349..356
              Ident@349..356 "println"
          ARG_LIST@356..377
            LParen@356..357 "("
            ARG@357..376
              EXPR_CALL@357..376
                EXPR_BINARY@357..374
                  EXPR_IDENT@357..364
                    PATH@357..364
                      Ident@357..364 "invalid"
                  Dot@364..365 "."
                  EXPR_IDENT@365..374
                    PATH@365..374
                      Ident@365..374 "to_string"
                ARG_LIST@374..376
                  LParen@374..375 "("
                  RParen@375..376 ")"
            RParen@376..377 ")"
        Semi@377..378 ";"
        Whitespace@378..383 "\n    "
      EXPR_CALL@383..413
        EXPR_IDENT@383..390
          PATH@383..390
            Ident@383..390 "println"
        ARG_LIST@390..413
          LParen@390..391 "("
          ARG@391..411
            EXPR_CALL@391..411
              EXPR_BINARY@391..409
                EXPR_IDENT@391..399
                  PATH@391..399
                    Ident@391..399 "fallback"
                Dot@399..400 "."
                EXPR_IDENT@400..409
                  PATH@400..409
                    Ident@400..409 "to_string"
              ARG_LIST@409..411
                LParen@409..410 "("
                RParen@410..411 ")"
          RParen@411..412 ")"
          Whitespace@412..413 "\n"
      RBrace@413..414 "}"
      Whitespace@414..415 "\n"