FILE@0..316
  TRAIT@0..48
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..48
      TRAIT_METHOD_SIG@20..43
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        TYPE_LIST@27..34
          LParen@27..28 "("
          TYPE_TAPP@28..32
            PATH@28..32
              Ident@28..32 "Self"
          RParen@32..33 ")"
          Whitespace@33..34 " "
        Arrow@34..36 "->"
        Whitespace@36..37 " "
        TYPE_STRING@37..43
          StringKeyword@37..43 "string"
      Semi@43..44 ";"
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  IMPL@48..149
    ImplKeyword@48..52 "impl"
    Whitespace@52..53 " "
    PATH@53..61
      Ident@53..60 "Display"
      Whitespace@60..61 " "
    ForKeyword@61..64 "for"
    Whitespace@64..65 " "
    TYPE_INT32@65..71
      Int32Keyword@65..70 "int32"
      Whitespace@70..71 " "
    LBrace@71..72 "{"
    Whitespace@72..77 "\n    "
    FN@77..146
      FnKeyword@77..79 "fn"
      Whitespace@79..80 " "
      Ident@80..84 "show"
      PARAM_LIST@84..98
        LParen@84..85 "("
        PARAM@85..96
          Ident@85..89 "self"
          Colon@89..90 ":"
          Whitespace@90..91 " "
          TYPE_INT32@91..96
            Int32Keyword@91..96 "int32"
        RParen@96..97 ")"
        Whitespace@97..98 " "
      Arrow@98..100 "->"
      Whitespace@100..101 " "
      TYPE_STRING@101..108
        StringKeyword@101..107 "string"
        Whitespace@107..108 " "
      BLOCK@108..146
        LBrace@108..109 "{"
        Whitespace@109..118 "\n        "
        EXPR_CALL@118..144
          EXPR_IDENT@118..133
            PATH@118..133
              Ident@118..133 "int32_to_string"
          ARG_LIST@133..144
            LParen@133..134 "("
            ARG@134..138
              EXPR_IDENT@134..138
                PATH@134..138
                  Ident@134..138 "self"
            RParen@138..139 ")"
            Whitespace@139..144 "\n    "
        RBrace@144..145 "}"
        Whitespace@145..146 "\n"
    RBrace@146..147 "}"
    Whitespace@147..149 "\n\n"
  FN@149..255
    FnKeyword@149..151 "fn"
    Whitespace@151..152 " "
    Ident@152..163 "mk_renderer"
    GENERIC_LIST@163..175
      LBracket@163..164 "["
      GENERIC@164..174
        Ident@164..165 "T"
        Colon@165..166 ":"
        Whitespace@166..167 " "
        TRAIT_SET@167..174
          PATH@167..174
            Ident@167..174 "Display"
      RBracket@174..175 "]"
    PARAM_LIST@175..182
      LParen@175..176 "("
      PARAM@176..180
        Ident@176..177 "x"
        Colon@177..178 ":"
        Whitespace@178..179 " "
        TYPE_TAPP@179..180
          PATH@179..180
            Ident@179..180 "T"
      RParen@180..181 ")"
      Whitespace@181..182 " "
    Arrow@182..184 "->"
    Whitespace@184..185 " "
    TYPE_FUNC@185..198
      TYPE_TUPLE@185..188
        TYPE_LIST@185..188
          LParen@185..186 "("
          RParen@186..187 ")"
          Whitespace@187..188 " "
      Arrow@188..190 "->"
      Whitespace@190..191 " "
      TYPE_STRING@191..198
        StringKeyword@191..197 "string"
        Whitespace@197..198 " "
    BLOCK@198..255
      LBrace@198..199 "{"
      Whitespace@199..204 "\n    "
      STMT_LET@204..232
        LetKeyword@204..207 "let"
        Whitespace@207..208 " "
        PATTERN_VARIABLE@208..209
          Ident@208..209 "d"
        Colon@209..210 ":"
        Whitespace@210..211 " "
        TYPE_DYN@211..223
          DynKeyword@211..214 "dyn"
          Whitespace@214..215 " "
          PATH@215..223
            Ident@215..222 "Display"
            Whitespace@222..223 " "
        Eq@223..224 "="
        Whitespace@224..225 " "
        EXPR_IDENT@225..226
          PATH@225..226
            Ident@225..226 "x"
        Semi@226..227 ";"
        Whitespace@227..232 "\n    "
      EXPR_CLOSURE@232..252
        CLOSURE_PARAM_LIST@232..235
          OrOr@232..234 "||"
          Whitespace@234..235 " "
        EXPR_CLOSURE_BODY@235..252
          EXPR_CALL@235..252
            EXPR_IDENT@235..248
              PATH@235..248
                Ident@235..242 "Display"
                ColonColon@242..244 "::"
                Ident@244..248 "show"
            ARG_LIST@248..252
              LParen@248..249 "("
              ARG@249..250
                EXPR_IDENT@249..250
                  PATH@249..250
                    Ident@249..250 "d"
              RParen@250..251 ")"
              Whitespace@251..252 "\n"
      RBrace@252..253 "}"
      Whitespace@253..255 "\n\n"
  FN@255..316
    FnKeyword@255..257 "fn"
    Whitespace@257..258 " "
    Ident@258..262 "main"
    PARAM_LIST@262..265
      LParen@262..263 "("
      RParen@263..264 ")"
      Whitespace@264..265 " "
    BLOCK@265..316
      LBrace@265..266 "{"
      Whitespace@266..271 "\n    "
      STMT_LET@271..300
        LetKeyword@271..274 "let"
        Whitespace@274..275 " "
        PATTERN_VARIABLE@275..277
          Ident@275..276 "f"
          Whitespace@276..277 " "
        Eq@277..278 "="
        Whitespace@278..279 " "
        EXPR_CALL@279..294
          EXPR_IDENT@279..290
            PATH@279..290
              Ident@279..290 "mk_renderer"
          ARG_LIST@290..294
            LParen@290..291 "("
            ARG@291..293
              EXPR_INT@291..293
                Int@291..293 "42"
            RParen@293..294 ")"
        Semi@294..295 ";"
        Whitespace@295..300 "\n    "
      STMT_EXPR@300..314
        EXPR_CALL@300..312
          EXPR_IDENT@300..307
            PATH@300..307
              Ident@300..307 "println"
          ARG_LIST@307..312
            LParen@307..308 "("
            ARG@308..311
              EXPR_CALL@308..311
                EXPR_IDENT@308..309
                  PATH@308..309
                    Ident@308..309 "f"
                ARG_LIST@309..311
                  LParen@309..310 "("
                  RParen@310..311 ")"
            RParen@311..312 ")"
        Semi@312..313 ";"
        Whitespace@313..314 "\n"
      RBrace@314..315 "}"
      Whitespace@315..316 "\n"