FILE@0..900
  FN@0..900
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..900
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      Comment@24..46 "// Test Vec with int32"
      Whitespace@46..51 "\n    "
      STMT_LET@51..87
        LetKeyword@51..54 "let"
        Whitespace@54..55 " "
        PATTERN_VARIABLE@55..57
          Ident@55..57 "vi"
        Colon@57..58 ":"
        Whitespace@58..59 " "
        TYPE_TAPP@59..70
          PATH@59..62
            Ident@59..62 "Vec"
          TYPE_PARAM_LIST@62..70
            LBracket@62..63 "["
            TYPE_INT32@63..68
              Int32Keyword@63..68 "int32"
            RBracket@68..69 "]"
            Whitespace@69..70 " "
        Eq@70..71 "="
        Whitespace@71..72 " "
        EXPR_CALL@72..81
          EXPR_IDENT@72..79
            PATH@72..79
              Ident@72..79 "vec_new"
          ARG_LIST@79..81
            LParen@79..80 "("
            RParen@80..81 ")"
        Semi@81..82 ";"
        Whitespace@82..87 "\n    "
      STMT_LET@87..118
        LetKeyword@87..90 "let"
        Whitespace@90..91 " "
        PATTERN_VARIABLE@91..94
          Ident@91..93 "vi"
          Whitespace@93..94 " "
        Eq@94..95 "="
        Whitespace@95..96 " "
        EXPR_CALL@96..112
          EXPR_IDENT@96..104
            PATH@96..104
              Ident@96..104 "vec_push"
          ARG_LIST@104..112
            LParen@104..105 "("
            ARG@105..109
              EXPR_IDENT@105..107
                PATH@105..107
                  Ident@105..107 "vi"
              Comma@107..108 ","
              Whitespace@108..109 " "
            ARG@109..111
              EXPR_INT@109..111
                Int@109..111 "42"
            RParen@111..112 ")"
        Semi@112..113 ";"
        Whitespace@113..118 "\n    "
      STMT_LET@118..150
        LetKeyword@118..121 "let"
        Whitespace@121..122 " "
        PATTERN_VARIABLE@122..128
          Ident@122..127 "val_i"
          Whitespace@127..128 " "
        Eq@128..129 "="
        Whitespace@129..130 " "
        EXPR_CALL@130..144
          EXPR_IDENT@130..137
            PATH@130..137
              Ident@130..137 "vec_get"
          ARG_LIST@137..144
            LParen@137..138 "("
            ARG@138..142
              EXPR_IDENT@138..140
                PATH@138..140
                  Ident@138..140 "vi"
              Comma@140..141 ","
              Whitespace@141..142 " "
            ARG@142..143
              EXPR_INT@142..143
                Int@142..143 "0"
            RParen@143..144 ")"
        Semi@144..145 ";"
        Whitespace@145..150 "\n    "
      STMT_LET@150..212
        LetKeyword@150..153 "let"
        Whitespace@153..154 " "
        PATTERN_VARIABLE@154..160
          Ident@154..159 "len_i"
          Whitespace@159..160 " "
        Eq@160..161 "="
        Whitespace@161..162 " "
        EXPR_CALL@162..173
          EXPR_IDENT@162..169
            PATH@162..169
              Ident@162..169 "vec_len"
          ARG_LIST@169..173
            LParen@169..170 "("
            ARG@170..172
              EXPR_IDENT@170..172
                PATH@170..172
                  Ident@170..172 "vi"
            RParen@172..173 ")"
        Semi@173..174 ";"
        Whitespace@174..184 "\n    \n    "
        Comment@184..207 "// Test Vec with string"
        Whitespace@207..212 "\n    "
      STMT_LET@212..249
        LetKeyword@212..215 "let"
        Whitespace@215..216 " "
        PATTERN_VARIABLE@216..218
          Ident@216..218 "vs"
        Colon@218..219 ":"
        Whitespace@219..220 " "
        TYPE_TAPP@220..232
          PATH@220..223
            Ident@220..223 "Vec"
          TYPE_PARAM_LIST@223..232
            LBracket@223..224 "["
            TYPE_STRING@224..230
              StringKeyword@224..230 "string"
            RBracket@230..231 "]"
            Whitespace@231..232 " "
        Eq@232..233 "="
        Whitespace@233..234 " "
        EXPR_CALL@234..243
          EXPR_IDENT@234..241
            PATH@234..241
              Ident@234..241 "vec_new"
          ARG_LIST@241..243
            LParen@241..242 "("
            RParen@242..243 ")"
        Semi@243..244 ";"
        Whitespace@244..249 "\n    "
      STMT_LET@249..285
        LetKeyword@249..252 "let"
        Whitespace@252..253 " "
        PATTERN_VARIABLE@253..256
          Ident@253..255 "vs"
          Whitespace@255..256 " "
        Eq@256..257 "="
        Whitespace@257..258 " "
        EXPR_CALL@258..279
          EXPR_IDENT@258..266
            PATH@258..266
              Ident@258..266 "vec_push"
          ARG_LIST@266..279
            LParen@266..267 "("
            ARG@267..271
              EXPR_IDENT@267..269
                PATH@267..269
                  Ident@267..269 "vs"
              Comma@269..270 ","
              Whitespace@270..271 " "
            ARG@271..278
              EXPR_STR@271..278
                Str@271..278 "\"hello\""
            RParen@278..279 ")"
        Semi@279..280 ";"
        Whitespace@280..285 "\n    "
      STMT_LET@285..321
        LetKeyword@285..288 "let"
        Whitespace@288..289 " "
        PATTERN_VARIABLE@289..292
          Ident@289..291 "vs"
          Whitespace@291..292 " "
        Eq@292..293 "="
        Whitespace@293..294 " "
        EXPR_CALL@294..315
          EXPR_IDENT@294..302
            PATH@294..302
              Ident@294..302 "vec_push"
          ARG_LIST@302..315
            LParen@302..303 "("
            ARG@303..307
              EXPR_IDENT@303..305
                PATH@303..305
                  Ident@303..305 "vs"
              Comma@305..306 ","
              Whitespace@306..307 " "
            ARG@307..314
              EXPR_STR@307..314
                Str@307..314 "\"world\""
            RParen@314..315 ")"
        Semi@315..316 ";"
        Whitespace@316..321 "\n    "
      STMT_LET@321..353
        LetKeyword@321..324 "let"
        Whitespace@324..325 " "
        PATTERN_VARIABLE@325..331
          Ident@325..330 "val_s"
          Whitespace@330..331 " "
        Eq@331..332 "="
        Whitespace@332..333 " "
        EXPR_CALL@333..347
          EXPR_IDENT@333..340
            PATH@333..340
              Ident@333..340 "vec_get"
          ARG_LIST@340..347
            LParen@340..341 "("
            ARG@341..345
              EXPR_IDENT@341..343
                PATH@341..343
                  Ident@341..343 "vs"
              Comma@343..344 ","
              Whitespace@344..345 " "
            ARG@345..346
              EXPR_INT@345..346
                Int@345..346 "1"
            RParen@346..347 ")"
        Semi@347..348 ";"
        Whitespace@348..353 "\n    "
      STMT_LET@353..413
        LetKeyword@353..356 "let"
        Whitespace@356..357 " "
        PATTERN_VARIABLE@357..363
          Ident@357..362 "len_s"
          Whitespace@362..363 " "
        Eq@363..364 "="
        Whitespace@364..365 " "
        EXPR_CALL@365..376
          EXPR_IDENT@365..372
            PATH@365..372
              Ident@365..372 "vec_len"
          ARG_LIST@372..376
            LParen@372..373 "("
            ARG@373..375
              EXPR_IDENT@373..375
                PATH@373..375
                  Ident@373..375 "vs"
            RParen@375..376 ")"
        Semi@376..377 ";"
        Whitespace@377..387 "\n    \n    "
        Comment@387..408 "// Test Vec with bool"
        Whitespace@408..413 "\n    "
      STMT_LET@413..448
        LetKeyword@413..416 "let"
        Whitespace@416..417 " "
        PATTERN_VARIABLE@417..419
          Ident@417..419 "vb"
        Colon@419..420 ":"
        Whitespace@420..421 " "
        TYPE_TAPP@421..431
          PATH@421..424
            Ident@421..424 "Vec"
          TYPE_PARAM_LIST@424..431
            LBracket@424..425 "["
            TYPE_BOOL@425..429
              BoolKeyword@425..429 "bool"
            RBracket@429..430 "]"
            Whitespace@430..431 " "
        Eq@431..432 "="
        Whitespace@432..433 " "
        EXPR_CALL@433..442
          EXPR_IDENT@433..440
            PATH@433..440
              Ident@433..440 "vec_new"
          ARG_LIST@440..442
            LParen@440..441 "("
            RParen@441..442 ")"
        Semi@442..443 ";"
        Whitespace@443..448 "\n    "
      STMT_LET@448..481
        LetKeyword@448..451 "let"
        Whitespace@451..452 " "
        PATTERN_VARIABLE@452..455
          Ident@452..454 "vb"
          Whitespace@454..455 " "
        Eq@455..456 "="
        Whitespace@456..457 " "
        EXPR_CALL@457..475
          EXPR_IDENT@457..465
            PATH@457..465
              Ident@457..465 "vec_push"
          ARG_LIST@465..475
            LParen@465..466 "("
            ARG@466..470
              EXPR_IDENT@466..468
                PATH@466..468
                  Ident@466..468 "vb"
              Comma@468..469 ","
              Whitespace@469..470 " "
            ARG@470..474
              EXPR_BOOL@470..474
                TrueKeyword@470..474 "true"
            RParen@474..475 ")"
        Semi@475..476 ";"
        Whitespace@476..481 "\n    "
      STMT_LET@481..515
        LetKeyword@481..484 "let"
        Whitespace@484..485 " "
        PATTERN_VARIABLE@485..488
          Ident@485..487 "vb"
          Whitespace@487..488 " "
        Eq@488..489 "="
        Whitespace@489..490 " "
        EXPR_CALL@490..509
          EXPR_IDENT@490..498
            PATH@490..498
              Ident@490..498 "vec_push"
          ARG_LIST@498..509
            LParen@498..499 "("
            ARG@499..503
              EXPR_IDENT@499..501
                PATH@499..501
                  Ident@499..501 "vb"
              Comma@501..502 ","
              Whitespace@502..503 " "
            ARG@503..508
              EXPR_BOOL@503..508
                FalseKeyword@503..508 "false"
            RParen@508..509 ")"
        Semi@509..510 ";"
        Whitespace@510..515 "\n    "
      STMT_LET@515..547
        LetKeyword@515..518 "let"
        Whitespace@518..519 " "
        PATTERN_VARIABLE@519..525
          Ident@519..524 "val_b"
          Whitespace@524..525 " "
        Eq@525..526 "="
        Whitespace@526..527 " "
        EXPR_CALL@527..541
          EXPR_IDENT@527..534
            PATH@527..534
              Ident@527..534 "vec_get"
          ARG_LIST@534..541
            LParen@534..535 "("
            ARG@535..539
              EXPR_IDENT@535..537
                PATH@535..537
                  Ident@535..537 "vb"
              Comma@537..538 ","
              Whitespace@538..539 " "
            ARG@539..540
              EXPR_INT@539..540
                Int@539..540 "0"
            RParen@540..541 ")"
        Semi@541..542 ";"
        Whitespace@542..547 "\n    "
      STMT_LET@547..602
        LetKeyword@547..550 "let"
        Whitespace@550..551 " "
        PATTERN_VARIABLE@551..557
          Ident@551..556 "len_b"
          Whitespace@556..557 " "
        Eq@557..558 "="
        Whitespace@558..559 " "
        EXPR_CALL@559..570
          EXPR_IDENT@559..566
            PATH@559..566
              Ident@559..566 "vec_len"
          ARG_LIST@566..570
            LParen@566..567 "("
            ARG@567..569
              EXPR_IDENT@567..569
                PATH@567..569
                  Ident@567..569 "vb"
            RParen@569..570 ")"
        Semi@570..571 ";"
        Whitespace@571..581 "\n    \n    "
        Comment@581..597 "// Print results"
        Whitespace@597..602 "\n    "
      STMT_LET@602..654
        LetKeyword@602..605 "let"
        Whitespace@605..606 " "
        PATTERN_WILDCARD@606..608
          WildcardKeyword@606..607 "_"
          Whitespace@607..608 " "
        Eq@608..609 "="
        Whitespace@609..610 " "
        EXPR_CALL@610..648
          EXPR_IDENT@610..624
            PATH@610..624
              Ident@610..624 "string_println"
          ARG_LIST@624..648
            LParen@624..625 "("
            ARG@625..647
              EXPR_CALL@625..647
                EXPR_IDENT@625..640
                  PATH@625..640
                    Ident@625..640 "int32_to_string"
                ARG_LIST@640..647
                  LParen@640..641 "("
                  ARG@641..646
                    EXPR_IDENT@641..646
                      PATH@641..646
                        Ident@641..646 "val_i"
                  RParen@646..647 ")"
            RParen@647..648 ")"
        Semi@648..649 ";"
        Whitespace@649..654 "\n    "
      STMT_LET@654..706
        LetKeyword@654..657 "let"
        Whitespace@657..658 " "
        PATTERN_WILDCARD@658..660
          WildcardKeyword@658..659 "_"
          Whitespace@659..660 " "
        Eq@660..661 "="
        Whitespace@661..662 " "
        EXPR_CALL@662..700
          EXPR_IDENT@662..676
            PATH@662..676
              Ident@662..676 "string_println"
          ARG_LIST@676..700
            LParen@676..677 "("
            ARG@677..699
              EXPR_CALL@677..699
                EXPR_IDENT@677..692
                  PATH@677..692
                    Ident@677..692 "int32_to_string"
                ARG_LIST@692..699
                  LParen@692..693 "("
                  ARG@693..698
                    EXPR_IDENT@693..698
                      PATH@693..698
                        Ident@693..698 "len_i"
                  RParen@698..699 ")"
            RParen@699..700 ")"
        Semi@700..701 ";"
        Whitespace@701..706 "\n    "
      STMT_LET@706..741
        LetKeyword@706..709 "let"
        Whitespace@709..710 " "
        PATTERN_WILDCARD@710..712
          WildcardKeyword@710..711 "_"
          Whitespace@711..712 " "
        Eq@712..713 "="
        Whitespace@713..714 " "
        EXPR_CALL@714..735
          EXPR_IDENT@714..728
            PATH@714..728
              Ident@714..728 "string_println"
          ARG_LIST@728..735
            LParen@728..729 "("
            ARG@729..734
              EXPR_IDENT@729..734
                PATH@729..734
                  Ident@729..734 "val_s"
            RParen@734..735 ")"
        Semi@735..736 ";"
        Whitespace@736..741 "\n    "
      STMT_LET@741..793
        LetKeyword@741..744 "let"
        Whitespace@744..745 " "
        PATTERN_WILDCARD@745..747
          WildcardKeyword@745..746 "_"
          Whitespace@746..747 " "
        Eq@747..748 "="
        Whitespace@748..749 " "
        EXPR_CALL@749..787
          EXPR_IDENT@749..763
            PATH@749..763
              Ident@749..763 "string_println"
          ARG_LIST@763..787
            LParen@763..764 "("
            ARG@764..786
              EXPR_CALL@764..786
                EXPR_IDENT@764..779
                  PATH@764..779
                    Ident@764..779 "int32_to_string"
                ARG_LIST@779..786
                  LParen@779..780 "("
                  ARG@780..785
                    EXPR_IDENT@780..785
                      PATH@780..785
                        Ident@780..785 "len_s"
                  RParen@785..786 ")"
            RParen@786..787 ")"
        Semi@787..788 ";"
        Whitespace@788..793 "\n    "
      STMT_LET@793..844
        LetKeyword@793..796 "let"
        Whitespace@796..797 " "
        PATTERN_WILDCARD@797..799
          WildcardKeyword@797..798 "_"
          Whitespace@798..799 " "
        Eq@799..800 "="
        Whitespace@800..801 " "
        EXPR_CALL@801..838
          EXPR_IDENT@801..815
            PATH@801..815
              Ident@801..815 "string_println"
          ARG_LIST@815..838
            LParen@815..816 "("
            ARG@816..837
              EXPR_CALL@816..837
                EXPR_IDENT@816..830
                  PATH@816..830
                    Ident@816..830 "bool_to_string"
                ARG_LIST@830..837
                  LParen@830..831 "("
                  ARG@831..836
                    EXPR_IDENT@831..836
                      PATH@831..836
                        Ident@831..836 "val_b"
                  RParen@836..837 ")"
            RParen@837..838 ")"
        Semi@838..839 ";"
        Whitespace@839..844 "\n    "
      STMT_LET@844..896
        LetKeyword@844..847 "let"
        Whitespace@847..848 " "
        PATTERN_WILDCARD@848..850
          WildcardKeyword@848..849 "_"
          Whitespace@849..850 " "
        Eq@850..851 "="
        Whitespace@851..852 " "
        EXPR_CALL@852..890
          EXPR_IDENT@852..866
            PATH@852..866
              Ident@852..866 "string_println"
          ARG_LIST@866..890
            LParen@866..867 "("
            ARG@867..889
              EXPR_CALL@867..889
                EXPR_IDENT@867..882
                  PATH@867..882
                    Ident@867..882 "int32_to_string"
                ARG_LIST@882..889
                  LParen@882..883 "("
                  ARG@883..888
                    EXPR_IDENT@883..888
                      PATH@883..888
                        Ident@883..888 "len_b"
                  RParen@888..889 ")"
            RParen@889..890 ")"
        Semi@890..891 ";"
        Whitespace@891..896 "\n    "
      EXPR_UNIT@896..899
        LParen@896..897 "("
        RParen@897..898 ")"
        Whitespace@898..899 "\n"
      RBrace@899..900 "}"