FILE@0..786
  FN@0..786
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..786
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      Comment@24..46 "// Test Vec with int32"
      Whitespace@46..51 "\n    "
      STMT_LET@51..88
        LetKeyword@51..54 "let"
        Whitespace@54..55 " "
        PATTERN_VARIABLE@55..57
          Ident@55..57 "vi"
        Colon@57..58 ":"
        Whitespace@58..59 " "
        TYPE_TAPP@59..70
          PATH@59..62
            Ident@59..62 "Vec"
          TYPE_PARAM_LIST@62..70
            LBracket@62..63 "["
            TYPE_INT32@63..68
              Int32Keyword@63..68 "int32"
            RBracket@68..69 "]"
            Whitespace@69..70 " "
        Eq@70..71 "="
        Whitespace@71..72 " "
        EXPR_CALL@72..82
          EXPR_IDENT@72..80
            PATH@72..80
              Ident@72..75 "Vec"
              ColonColon@75..77 "::"
              Ident@77..80 "new"
          ARG_LIST@80..82
            LParen@80..81 "("
            RParen@81..82 ")"
        Semi@82..83 ";"
        Whitespace@83..88 "\n    "
      STMT_LET@88..114
        LetKeyword@88..91 "let"
        Whitespace@91..92 " "
        PATTERN_VARIABLE@92..95
          Ident@92..94 "vi"
          Whitespace@94..95 " "
        Eq@95..96 "="
        Whitespace@96..97 " "
        EXPR_CALL@97..108
          EXPR_BINARY@97..104
            EXPR_IDENT@97..99
              PATH@97..99
                Ident@97..99 "vi"
            Dot@99..100 "."
            EXPR_IDENT@100..104
              PATH@100..104
                Ident@100..104 "push"
          ARG_LIST@104..108
            LParen@104..105 "("
            ARG@105..107
              EXPR_INT@105..107
                Int@105..107 "42"
            RParen@107..108 ")"
        Semi@108..109 ";"
        Whitespace@109..114 "\n    "
      STMT_LET@114..137
        LetKeyword@114..117 "let"
        Whitespace@117..118 " "
        PATTERN_VARIABLE@118..124
          Ident@118..123 "val_i"
          Whitespace@123..124 " "
        Eq@124..125 "="
        Whitespace@125..126 " "
        EXPR_INDEX@126..131
          EXPR_IDENT@126..128
            PATH@126..128
              Ident@126..128 "vi"
          LBracket@128..129 "["
          EXPR_INT@129..130
            Int@129..130 "0"
          RBracket@130..131 "]"
        Semi@131..132 ";"
        Whitespace@132..137 "\n    "
      STMT_LET@137..196
        LetKeyword@137..140 "let"
        Whitespace@140..141 " "
        PATTERN_VARIABLE@141..147
          Ident@141..146 "len_i"
          Whitespace@146..147 " "
        Eq@147..148 "="
        Whitespace@148..149 " "
        EXPR_CALL@149..157
          EXPR_BINARY@149..155
            EXPR_IDENT@149..151
              PATH@149..151
                Ident@149..151 "vi"
            Dot@151..152 "."
            EXPR_IDENT@152..155
              PATH@152..155
                Ident@152..155 "len"
          ARG_LIST@155..157
            LParen@155..156 "("
            RParen@156..157 ")"
        Semi@157..158 ";"
        Whitespace@158..168 "\n    \n    "
        Comment@168..191 "// Test Vec with string"
        Whitespace@191..196 "\n    "
      STMT_LET@196..234
        LetKeyword@196..199 "let"
        Whitespace@199..200 " "
        PATTERN_VARIABLE@200..202
          Ident@200..202 "vs"
        Colon@202..203 ":"
        Whitespace@203..204 " "
        TYPE_TAPP@204..216
          PATH@204..207
            Ident@204..207 "Vec"
          TYPE_PARAM_LIST@207..216
            LBracket@207..208 "["
            TYPE_STRING@208..214
              StringKeyword@208..214 "string"
            RBracket@214..215 "]"
            Whitespace@215..216 " "
        Eq@216..217 "="
        Whitespace@217..218 " "
        EXPR_CALL@218..228
          EXPR_IDENT@218..226
            PATH@218..226
              Ident@218..221 "Vec"
              ColonColon@221..223 "::"
              Ident@223..226 "new"
          ARG_LIST@226..228
            LParen@226..227 "("
            RParen@227..228 ")"
        Semi@228..229 ";"
        Whitespace@229..234 "\n    "
      STMT_LET@234..265
        LetKeyword@234..237 "let"
        Whitespace@237..238 " "
        PATTERN_VARIABLE@238..241
          Ident@238..240 "vs"
          Whitespace@240..241 " "
        Eq@241..242 "="
        Whitespace@242..243 " "
        EXPR_CALL@243..259
          EXPR_BINARY@243..250
            EXPR_IDENT@243..245
              PATH@243..245
                Ident@243..245 "vs"
            Dot@245..246 "."
            EXPR_IDENT@246..250
              PATH@246..250
                Ident@246..250 "push"
          ARG_LIST@250..259
            LParen@250..251 "("
            ARG@251..258
              EXPR_STR@251..258
                Str@251..258 "\"hello\""
            RParen@258..259 ")"
        Semi@259..260 ";"
        Whitespace@260..265 "\n    "
      STMT_LET@265..296
        LetKeyword@265..268 "let"
        Whitespace@268..269 " "
        PATTERN_VARIABLE@269..272
          Ident@269..271 "vs"
          Whitespace@271..272 " "
        Eq@272..273 "="
        Whitespace@273..274 " "
        EXPR_CALL@274..290
          EXPR_BINARY@274..281
            EXPR_IDENT@274..276
              PATH@274..276
                Ident@274..276 "vs"
            Dot@276..277 "."
            EXPR_IDENT@277..281
              PATH@277..281
                Ident@277..281 "push"
          ARG_LIST@281..290
            LParen@281..282 "("
            ARG@282..289
              EXPR_STR@282..289
                Str@282..289 "\"world\""
            RParen@289..290 ")"
        Semi@290..291 ";"
        Whitespace@291..296 "\n    "
      STMT_LET@296..319
        LetKeyword@296..299 "let"
        Whitespace@299..300 " "
        PATTERN_VARIABLE@300..306
          Ident@300..305 "val_s"
          Whitespace@305..306 " "
        Eq@306..307 "="
        Whitespace@307..308 " "
        EXPR_INDEX@308..313
          EXPR_IDENT@308..310
            PATH@308..310
              Ident@308..310 "vs"
          LBracket@310..311 "["
          EXPR_INT@311..312
            Int@311..312 "1"
          RBracket@312..313 "]"
        Semi@313..314 ";"
        Whitespace@314..319 "\n    "
      STMT_LET@319..376
        LetKeyword@319..322 "let"
        Whitespace@322..323 " "
        PATTERN_VARIABLE@323..329
          Ident@323..328 "len_s"
          Whitespace@328..329 " "
        Eq@329..330 "="
        Whitespace@330..331 " "
        EXPR_CALL@331..339
          EXPR_BINARY@331..337
            EXPR_IDENT@331..333
              PATH@331..333
                Ident@331..333 "vs"
            Dot@333..334 "."
            EXPR_IDENT@334..337
              PATH@334..337
                Ident@334..337 "len"
          ARG_LIST@337..339
            LParen@337..338 "("
            RParen@338..339 ")"
        Semi@339..340 ";"
        Whitespace@340..350 "\n    \n    "
        Comment@350..371 "// Test Vec with bool"
        Whitespace@371..376 "\n    "
      STMT_LET@376..412
        LetKeyword@376..379 "let"
        Whitespace@379..380 " "
        PATTERN_VARIABLE@380..382
          Ident@380..382 "vb"
        Colon@382..383 ":"
        Whitespace@383..384 " "
        TYPE_TAPP@384..394
          PATH@384..387
            Ident@384..387 "Vec"
          TYPE_PARAM_LIST@387..394
            LBracket@387..388 "["
            TYPE_BOOL@388..392
              BoolKeyword@388..392 "bool"
            RBracket@392..393 "]"
            Whitespace@393..394 " "
        Eq@394..395 "="
        Whitespace@395..396 " "
        EXPR_CALL@396..406
          EXPR_IDENT@396..404
            PATH@396..404
              Ident@396..399 "Vec"
              ColonColon@399..401 "::"
              Ident@401..404 "new"
          ARG_LIST@404..406
            LParen@404..405 "("
            RParen@405..406 ")"
        Semi@406..407 ";"
        Whitespace@407..412 "\n    "
      STMT_LET@412..440
        LetKeyword@412..415 "let"
        Whitespace@415..416 " "
        PATTERN_VARIABLE@416..419
          Ident@416..418 "vb"
          Whitespace@418..419 " "
        Eq@419..420 "="
        Whitespace@420..421 " "
        EXPR_CALL@421..434
          EXPR_BINARY@421..428
            EXPR_IDENT@421..423
              PATH@421..423
                Ident@421..423 "vb"
            Dot@423..424 "."
            EXPR_IDENT@424..428
              PATH@424..428
                Ident@424..428 "push"
          ARG_LIST@428..434
            LParen@428..429 "("
            ARG@429..433
              EXPR_BOOL@429..433
                TrueKeyword@429..433 "true"
            RParen@433..434 ")"
        Semi@434..435 ";"
        Whitespace@435..440 "\n    "
      STMT_LET@440..469
        LetKeyword@440..443 "let"
        Whitespace@443..444 " "
        PATTERN_VARIABLE@444..447
          Ident@444..446 "vb"
          Whitespace@446..447 " "
        Eq@447..448 "="
        Whitespace@448..449 " "
        EXPR_CALL@449..463
          EXPR_BINARY@449..456
            EXPR_IDENT@449..451
              PATH@449..451
                Ident@449..451 "vb"
            Dot@451..452 "."
            EXPR_IDENT@452..456
              PATH@452..456
                Ident@452..456 "push"
          ARG_LIST@456..463
            LParen@456..457 "("
            ARG@457..462
              EXPR_BOOL@457..462
                FalseKeyword@457..462 "false"
            RParen@462..463 ")"
        Semi@463..464 ";"
        Whitespace@464..469 "\n    "
      STMT_LET@469..492
        LetKeyword@469..472 "let"
        Whitespace@472..473 " "
        PATTERN_VARIABLE@473..479
          Ident@473..478 "val_b"
          Whitespace@478..479 " "
        Eq@479..480 "="
        Whitespace@480..481 " "
        EXPR_INDEX@481..486
          EXPR_IDENT@481..483
            PATH@481..483
              Ident@481..483 "vb"
          LBracket@483..484 "["
          EXPR_INT@484..485
            Int@484..485 "0"
          RBracket@485..486 "]"
        Semi@486..487 ";"
        Whitespace@487..492 "\n    "
      STMT_LET@492..544
        LetKeyword@492..495 "let"
        Whitespace@495..496 " "
        PATTERN_VARIABLE@496..502
          Ident@496..501 "len_b"
          Whitespace@501..502 " "
        Eq@502..503 "="
        Whitespace@503..504 " "
        EXPR_CALL@504..512
          EXPR_BINARY@504..510
            EXPR_IDENT@504..506
              PATH@504..506
                Ident@504..506 "vb"
            Dot@506..507 "."
            EXPR_IDENT@507..510
              PATH@507..510
                Ident@507..510 "len"
          ARG_LIST@510..512
            LParen@510..511 "("
            RParen@511..512 ")"
        Semi@512..513 ";"
        Whitespace@513..523 "\n    \n    "
        Comment@523..539 "// Print results"
        Whitespace@539..544 "\n    "
      STMT_LET@544..586
        LetKeyword@544..547 "let"
        Whitespace@547..548 " "
        PATTERN_WILDCARD@548..550
          WildcardKeyword@548..549 "_"
          Whitespace@549..550 " "
        Eq@550..551 "="
        Whitespace@551..552 " "
        EXPR_CALL@552..580
          EXPR_IDENT@552..559
            PATH@552..559
              Ident@552..559 "println"
          ARG_LIST@559..580
            LParen@559..560 "("
            ARG@560..579
              EXPR_CALL@560..579
                EXPR_BINARY@560..577
                  EXPR_PAREN@560..567
                    LParen@560..561 "("
                    EXPR_IDENT@561..566
                      PATH@561..566
                        Ident@561..566 "val_i"
                    RParen@566..567 ")"
                  Dot@567..568 "."
                  EXPR_IDENT@568..577
                    PATH@568..577
                      Ident@568..577 "to_string"
                ARG_LIST@577..579
                  LParen@577..578 "("
                  RParen@578..579 ")"
            RParen@579..580 ")"
        Semi@580..581 ";"
        Whitespace@581..586 "\n    "
      STMT_LET@586..628
        LetKeyword@586..589 "let"
        Whitespace@589..590 " "
        PATTERN_WILDCARD@590..592
          WildcardKeyword@590..591 "_"
          Whitespace@591..592 " "
        Eq@592..593 "="
        Whitespace@593..594 " "
        EXPR_CALL@594..622
          EXPR_IDENT@594..601
            PATH@594..601
              Ident@594..601 "println"
          ARG_LIST@601..622
            LParen@601..602 "("
            ARG@602..621
              EXPR_CALL@602..621
                EXPR_BINARY@602..619
                  EXPR_PAREN@602..609
                    LParen@602..603 "("
                    EXPR_IDENT@603..608
                      PATH@603..608
                        Ident@603..608 "len_i"
                    RParen@608..609 ")"
                  Dot@609..610 "."
                  EXPR_IDENT@610..619
                    PATH@610..619
                      Ident@610..619 "to_string"
                ARG_LIST@619..621
                  LParen@619..620 "("
                  RParen@620..621 ")"
            RParen@621..622 ")"
        Semi@622..623 ";"
        Whitespace@623..628 "\n    "
      STMT_LET@628..656
        LetKeyword@628..631 "let"
        Whitespace@631..632 " "
        PATTERN_WILDCARD@632..634
          WildcardKeyword@632..633 "_"
          Whitespace@633..634 " "
        Eq@634..635 "="
        Whitespace@635..636 " "
        EXPR_CALL@636..650
          EXPR_IDENT@636..643
            PATH@636..643
              Ident@636..643 "println"
          ARG_LIST@643..650
            LParen@643..644 "("
            ARG@644..649
              EXPR_IDENT@644..649
                PATH@644..649
                  Ident@644..649 "val_s"
            RParen@649..650 ")"
        Semi@650..651 ";"
        Whitespace@651..656 "\n    "
      STMT_LET@656..698
        LetKeyword@656..659 "let"
        Whitespace@659..660 " "
        PATTERN_WILDCARD@660..662
          WildcardKeyword@660..661 "_"
          Whitespace@661..662 " "
        Eq@662..663 "="
        Whitespace@663..664 " "
        EXPR_CALL@664..692
          EXPR_IDENT@664..671
            PATH@664..671
              Ident@664..671 "println"
          ARG_LIST@671..692
            LParen@671..672 "("
            ARG@672..691
              EXPR_CALL@672..691
                EXPR_BINARY@672..689
                  EXPR_PAREN@672..679
                    LParen@672..673 "("
                    EXPR_IDENT@673..678
                      PATH@673..678
                        Ident@673..678 "len_s"
                    RParen@678..679 ")"
                  Dot@679..680 "."
                  EXPR_IDENT@680..689
                    PATH@680..689
                      Ident@680..689 "to_string"
                ARG_LIST@689..691
                  LParen@689..690 "("
                  RParen@690..691 ")"
            RParen@691..692 ")"
        Semi@692..693 ";"
        Whitespace@693..698 "\n    "
      STMT_LET@698..740
        LetKeyword@698..701 "let"
        Whitespace@701..702 " "
        PATTERN_WILDCARD@702..704
          WildcardKeyword@702..703 "_"
          Whitespace@703..704 " "
        Eq@704..705 "="
        Whitespace@705..706 " "
        EXPR_CALL@706..734
          EXPR_IDENT@706..713
            PATH@706..713
              Ident@706..713 "println"
          ARG_LIST@713..734
            LParen@713..714 "("
            ARG@714..733
              EXPR_CALL@714..733
                EXPR_BINARY@714..731
                  EXPR_PAREN@714..721
                    LParen@714..715 "("
                    EXPR_IDENT@715..720
                      PATH@715..720
                        Ident@715..720 "val_b"
                    RParen@720..721 ")"
                  Dot@721..722 "."
                  EXPR_IDENT@722..731
                    PATH@722..731
                      Ident@722..731 "to_string"
                ARG_LIST@731..733
                  LParen@731..732 "("
                  RParen@732..733 ")"
            RParen@733..734 ")"
        Semi@734..735 ";"
        Whitespace@735..740 "\n    "
      STMT_LET@740..782
        LetKeyword@740..743 "let"
        Whitespace@743..744 " "
        PATTERN_WILDCARD@744..746
          WildcardKeyword@744..745 "_"
          Whitespace@745..746 " "
        Eq@746..747 "="
        Whitespace@747..748 " "
        EXPR_CALL@748..776
          EXPR_IDENT@748..755
            PATH@748..755
              Ident@748..755 "println"
          ARG_LIST@755..776
            LParen@755..756 "("
            ARG@756..775
              EXPR_CALL@756..775
                EXPR_BINARY@756..773
                  EXPR_PAREN@756..763
                    LParen@756..757 "("
                    EXPR_IDENT@757..762
                      PATH@757..762
                        Ident@757..762 "len_b"
                    RParen@762..763 ")"
                  Dot@763..764 "."
                  EXPR_IDENT@764..773
                    PATH@764..773
                      Ident@764..773 "to_string"
                ARG_LIST@773..775
                  LParen@773..774 "("
                  RParen@774..775 ")"
            RParen@775..776 ")"
        Semi@776..777 ";"
        Whitespace@777..782 "\n    "
      EXPR_UNIT@782..785
        LParen@782..783 "("
        RParen@783..784 ")"
        Whitespace@784..785 "\n"
      RBrace@785..786 "}"