FILE@0..350
  FN@0..350
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    BLOCK@10..350
      LBrace@10..11 "{"
      Whitespace@11..16 "\n    "
      STMT_LET@16..43
        LetKeyword@16..19 "let"
        Whitespace@19..20 " "
        PATTERN_VARIABLE@20..24
          Ident@20..23 "sum"
          Whitespace@23..24 " "
        Eq@24..25 "="
        Whitespace@25..26 " "
        EXPR_CALL@26..37
          EXPR_IDENT@26..34
            PATH@26..34
              Ident@26..29 "Ref"
              ColonColon@29..31 "::"
              Ident@31..34 "new"
          ARG_LIST@34..37
            LParen@34..35 "("
            ARG@35..36
              EXPR_INT@35..36
                Int@35..36 "0"
            RParen@36..37 ")"
        Semi@37..38 ";"
        Whitespace@38..43 "\n    "
      STMT_LET@43..68
        LetKeyword@43..46 "let"
        Whitespace@46..47 " "
        PATTERN_VARIABLE@47..49
          Ident@47..48 "i"
          Whitespace@48..49 " "
        Eq@49..50 "="
        Whitespace@50..51 " "
        EXPR_CALL@51..62
          EXPR_IDENT@51..59
            PATH@51..59
              Ident@51..54 "Ref"
              ColonColon@54..56 "::"
              Ident@56..59 "new"
          ARG_LIST@59..62
            LParen@59..60 "("
            ARG@60..61
              EXPR_INT@60..61
                Int@60..61 "0"
            RParen@61..62 ")"
        Semi@62..63 ";"
        Whitespace@63..68 "\n    "
      STMT_EXPR@68..227
        EXPR_WHILE@68..227
          WhileKeyword@68..73 "while"
          Whitespace@73..74 " "
          EXPR_WHILE_COND@74..87
            EXPR_BINARY@74..87
              EXPR_CALL@74..82
                EXPR_BINARY@74..79
                  EXPR_IDENT@74..75
                    PATH@74..75
                      Ident@74..75 "i"
                  Dot@75..76 "."
                  EXPR_IDENT@76..79
                    PATH@76..79
                      Ident@76..79 "get"
                ARG_LIST@79..82
                  LParen@79..80 "("
                  RParen@80..81 ")"
                  Whitespace@81..82 " "
              Less@82..83 "<"
              Whitespace@83..84 " "
              EXPR_INT@84..87
                Int@84..86 "20"
                Whitespace@86..87 " "
          EXPR_WHILE_BODY@87..227
            BLOCK@87..227
              LBrace@87..88 "{"
              Whitespace@88..97 "\n        "
              STMT_EXPR@97..125
                EXPR_CALL@97..115
                  EXPR_BINARY@97..102
                    EXPR_IDENT@97..98
                      PATH@97..98
                        Ident@97..98 "i"
                    Dot@98..99 "."
                    EXPR_IDENT@99..102
                      PATH@99..102
                        Ident@99..102 "set"
                  ARG_LIST@102..115
                    LParen@102..103 "("
                    ARG@103..114
                      EXPR_BINARY@103..114
                        EXPR_CALL@103..111
                          EXPR_BINARY@103..108
                            EXPR_IDENT@103..104
                              PATH@103..104
                                Ident@103..104 "i"
                            Dot@104..105 "."
                            EXPR_IDENT@105..108
                              PATH@105..108
                                Ident@105..108 "get"
                          ARG_LIST@108..111
                            LParen@108..109 "("
                            RParen@109..110 ")"
                            Whitespace@110..111 " "
                        Plus@111..112 "+"
                        Whitespace@112..113 " "
                        EXPR_INT@113..114
                          Int@113..114 "1"
                    RParen@114..115 ")"
                Semi@115..116 ";"
                Whitespace@116..125 "\n        "
              STMT_EXPR@125..187
                EXPR_IF@125..177
                  IfKeyword@125..127 "if"
                  Whitespace@127..128 " "
                  EXPR_IF_COND@128..140
                    EXPR_BINARY@128..140
                      EXPR_CALL@128..136
                        EXPR_BINARY@128..133
                          EXPR_IDENT@128..129
                            PATH@128..129
                              Ident@128..129 "i"
                          Dot@129..130 "."
                          EXPR_IDENT@130..133
                            PATH@130..133
                              Ident@130..133 "get"
                        ARG_LIST@133..136
                          LParen@133..134 "("
                          RParen@134..135 ")"
                          Whitespace@135..136 " "
                      Greater@136..137 ">"
                      Whitespace@137..138 " "
                      EXPR_INT@138..140
                        Int@138..139 "5"
                        Whitespace@139..140 " "
                  EXPR_IF_THEN@140..170
                    BLOCK@140..170
                      LBrace@140..141 "{"
                      Whitespace@141..154 "\n            "
                      EXPR_BREAK@154..168
                        BreakKeyword@154..159 "break"
                        Whitespace@159..168 "\n        "
                      RBrace@168..169 "}"
                      Whitespace@169..170 " "
                  ElseKeyword@170..174 "else"
                  Whitespace@174..175 " "
                  EXPR_IF_ELSE@175..177
                    BLOCK@175..177
                      LBrace@175..176 "{"
                      RBrace@176..177 "}"
                Semi@177..178 ";"
                Whitespace@178..187 "\n        "
              STMT_EXPR@187..221
                EXPR_CALL@187..215
                  EXPR_BINARY@187..194
                    EXPR_IDENT@187..190
                      PATH@187..190
                        Ident@187..190 "sum"
                    Dot@190..191 "."
                    EXPR_IDENT@191..194
                      PATH@191..194
                        Ident@191..194 "set"
                  ARG_LIST@194..215
                    LParen@194..195 "("
                    ARG@195..214
                      EXPR_BINARY@195..214
                        EXPR_CALL@195..205
                          EXPR_BINARY@195..202
                            EXPR_IDENT@195..198
                              PATH@195..198
                                Ident@195..198 "sum"
                            Dot@198..199 "."
                            EXPR_IDENT@199..202
                              PATH@199..202
                                Ident@199..202 "get"
                          ARG_LIST@202..205
                            LParen@202..203 "("
                            RParen@203..204 ")"
                            Whitespace@204..205 " "
                        Plus@205..206 "+"
                        Whitespace@206..207 " "
                        EXPR_CALL@207..214
                          EXPR_BINARY@207..212
                            EXPR_IDENT@207..208
                              PATH@207..208
                                Ident@207..208 "i"
                            Dot@208..209 "."
                            EXPR_IDENT@209..212
                              PATH@209..212
                                Ident@209..212 "get"
                          ARG_LIST@212..214
                            LParen@212..213 "("
                            RParen@213..214 ")"
                    RParen@214..215 ")"
                Semi@215..216 ";"
                Whitespace@216..221 "\n    "
              RBrace@221..222 "}"
              Whitespace@222..227 "\n    "
      STMT_LET@227..255
        LetKeyword@227..230 "let"
        Whitespace@230..231 " "
        PATTERN_WILDCARD@231..233
          WildcardKeyword@231..232 "_"
          Whitespace@232..233 " "
        Eq@233..234 "="
        Whitespace@234..235 " "
        EXPR_CALL@235..249
          EXPR_IDENT@235..240
            PATH@235..240
              Ident@235..240 "print"
          ARG_LIST@240..249
            LParen@240..241 "("
            ARG@241..248
              EXPR_STR@241..248
                Str@241..248 "\"sum: \""
            RParen@248..249 ")"
        Semi@249..250 ";"
        Whitespace@250..255 "\n    "
      STMT_LET@255..287
        LetKeyword@255..258 "let"
        Whitespace@258..259 " "
        PATTERN_WILDCARD@259..261
          WildcardKeyword@259..260 "_"
          Whitespace@260..261 " "
        Eq@261..262 "="
        Whitespace@262..263 " "
        EXPR_CALL@263..281
          EXPR_IDENT@263..270
            PATH@263..270
              Ident@263..270 "println"
          ARG_LIST@270..281
            LParen@270..271 "("
            ARG@271..280
              EXPR_CALL@271..280
                EXPR_BINARY@271..278
                  EXPR_IDENT@271..274
                    PATH@271..274
                      Ident@271..274 "sum"
                  Dot@274..275 "."
                  EXPR_IDENT@275..278
                    PATH@275..278
                      Ident@275..278 "get"
                ARG_LIST@278..280
                  LParen@278..279 "("
                  RParen@279..280 ")"
            RParen@280..281 ")"
        Semi@281..282 ";"
        Whitespace@282..287 "\n    "
      STMT_LET@287..322
        LetKeyword@287..290 "let"
        Whitespace@290..291 " "
        PATTERN_WILDCARD@291..293
          WildcardKeyword@291..292 "_"
          Whitespace@292..293 " "
        Eq@293..294 "="
        Whitespace@294..295 " "
        EXPR_CALL@295..316
          EXPR_IDENT@295..300
            PATH@295..300
              Ident@295..300 "print"
          ARG_LIST@300..316
            LParen@300..301 "("
            ARG@301..315
              EXPR_STR@301..315
                Str@301..315 "\"i at break: \""
            RParen@315..316 ")"
        Semi@316..317 ";"
        Whitespace@317..322 "\n    "
      STMT_LET@322..348
        LetKeyword@322..325 "let"
        Whitespace@325..326 " "
        PATTERN_WILDCARD@326..328
          WildcardKeyword@326..327 "_"
          Whitespace@327..328 " "
        Eq@328..329 "="
        Whitespace@329..330 " "
        EXPR_CALL@330..346
          EXPR_IDENT@330..337
            PATH@330..337
              Ident@330..337 "println"
          ARG_LIST@337..346
            LParen@337..338 "("
            ARG@338..345
              EXPR_CALL@338..345
                EXPR_BINARY@338..343
                  EXPR_IDENT@338..339
                    PATH@338..339
                      Ident@338..339 "i"
                  Dot@339..340 "."
                  EXPR_IDENT@340..343
                    PATH@340..343
                      Ident@340..343 "get"
                ARG_LIST@343..345
                  LParen@343..344 "("
                  RParen@344..345 ")"
            RParen@345..346 ")"
        Semi@346..347 ";"
        Whitespace@347..348 "\n"
      RBrace@348..349 "}"
      Whitespace@349..350 "\n"