FILE@0..524
  TRAIT@0..84
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Convert"
    GENERIC_LIST@13..17
      LBracket@13..14 "["
      GENERIC@14..15
        Ident@14..15 "T"
      RBracket@15..16 "]"
      Whitespace@16..17 " "
    LBrace@17..18 "{"
    Whitespace@18..23 "\n    "
    TRAIT_METHOD_SIG_LIST@23..84
      TRAIT_ASSOCIATED_TYPE@23..41
        TypeKeyword@23..27 "type"
        Whitespace@27..28 " "
        Ident@28..34 "Output"
        Semi@34..35 ";"
        Whitespace@35..41 "\n\n    "
      TRAIT_METHOD_SIG@41..81
        FnKeyword@41..43 "fn"
        Whitespace@43..44 " "
        Ident@44..51 "convert"
        PARAM_LIST@51..64
          LParen@51..52 "("
          PARAM@52..62
            Ident@52..56 "self"
            Colon@56..57 ":"
            Whitespace@57..58 " "
            TYPE_TAPP@58..62
              PATH@58..62
                Ident@58..62 "Self"
          RParen@62..63 ")"
          Whitespace@63..64 " "
        Arrow@64..66 "->"
        Whitespace@66..67 " "
        TYPE_TAPP@67..79
          PATH@67..79
            Ident@67..71 "Self"
            ColonColon@71..73 "::"
            Ident@73..79 "Output"
        Semi@79..80 ";"
        Whitespace@80..81 "\n"
      RBrace@81..82 "}"
      Whitespace@82..84 "\n\n"
  STRUCT@84..101
    StructKeyword@84..90 "struct"
    Whitespace@90..91 " "
    Ident@91..96 "Value"
    Whitespace@96..97 " "
    LBrace@97..98 "{"
    STRUCT_FIELD_LIST@98..101
      RBrace@98..99 "}"
      Whitespace@99..101 "\n\n"
  IMPL@101..223
    ImplKeyword@101..105 "impl"
    Whitespace@105..106 " "
    TYPE_TAPP@106..121
      PATH@106..113
        Ident@106..113 "Convert"
      TYPE_PARAM_LIST@113..121
        LBracket@113..114 "["
        TYPE_INT32@114..119
          Int32Keyword@114..119 "int32"
        RBracket@119..120 "]"
        Whitespace@120..121 " "
    ForKeyword@121..124 "for"
    Whitespace@124..125 " "
    TYPE_TAPP@125..131
      PATH@125..131
        Ident@125..130 "Value"
        Whitespace@130..131 " "
    LBrace@131..132 "{"
    Whitespace@132..137 "\n    "
    IMPL_ASSOCIATED_TYPE@137..164
      TypeKeyword@137..141 "type"
      Whitespace@141..142 " "
      Ident@142..148 "Output"
      Whitespace@148..149 " "
      Eq@149..150 "="
      Whitespace@150..151 " "
      TYPE_STRING@151..157
        StringKeyword@151..157 "string"
      Semi@157..158 ";"
      Whitespace@158..164 "\n\n    "
    FN@164..220
      FnKeyword@164..166 "fn"
      Whitespace@166..167 " "
      Ident@167..174 "convert"
      PARAM_LIST@174..188
        LParen@174..175 "("
        PARAM@175..186
          Ident@175..179 "self"
          Colon@179..180 ":"
          Whitespace@180..181 " "
          TYPE_TAPP@181..186
            PATH@181..186
              Ident@181..186 "Value"
        RParen@186..187 ")"
        Whitespace@187..188 " "
      Arrow@188..190 "->"
      Whitespace@190..191 " "
      TYPE_STRING@191..198
        StringKeyword@191..197 "string"
        Whitespace@197..198 " "
      BLOCK@198..220
        LBrace@198..199 "{"
        Whitespace@199..208 "\n        "
        EXPR_STR@208..218
          Str@208..213 "\"int\""
          Whitespace@213..218 "\n    "
        RBrace@218..219 "}"
        Whitespace@219..220 "\n"
    RBrace@220..221 "}"
    Whitespace@221..223 "\n\n"
  IMPL@223..340
    ImplKeyword@223..227 "impl"
    Whitespace@227..228 " "
    TYPE_TAPP@228..244
      PATH@228..235
        Ident@228..235 "Convert"
      TYPE_PARAM_LIST@235..244
        LBracket@235..236 "["
        TYPE_STRING@236..242
          StringKeyword@236..242 "string"
        RBracket@242..243 "]"
        Whitespace@243..244 " "
    ForKeyword@244..247 "for"
    Whitespace@247..248 " "
    TYPE_TAPP@248..254
      PATH@248..254
        Ident@248..253 "Value"
        Whitespace@253..254 " "
    LBrace@254..255 "{"
    Whitespace@255..260 "\n    "
    IMPL_ASSOCIATED_TYPE@260..286
      TypeKeyword@260..264 "type"
      Whitespace@264..265 " "
      Ident@265..271 "Output"
      Whitespace@271..272 " "
      Eq@272..273 "="
      Whitespace@273..274 " "
      TYPE_INT32@274..279
        Int32Keyword@274..279 "int32"
      Semi@279..280 ";"
      Whitespace@280..286 "\n\n    "
    FN@286..337
      FnKeyword@286..288 "fn"
      Whitespace@288..289 " "
      Ident@289..296 "convert"
      PARAM_LIST@296..310
        LParen@296..297 "("
        PARAM@297..308
          Ident@297..301 "self"
          Colon@301..302 ":"
          Whitespace@302..303 " "
          TYPE_TAPP@303..308
            PATH@303..308
              Ident@303..308 "Value"
        RParen@308..309 ")"
        Whitespace@309..310 " "
      Arrow@310..312 "->"
      Whitespace@312..313 " "
      TYPE_INT32@313..319
        Int32Keyword@313..318 "int32"
        Whitespace@318..319 " "
      BLOCK@319..337
        LBrace@319..320 "{"
        Whitespace@320..329 "\n        "
        EXPR_INT@329..335
          Int@329..330 "7"
          Whitespace@330..335 "\n    "
        RBrace@335..336 "}"
        Whitespace@336..337 "\n"
    RBrace@337..338 "}"
    Whitespace@338..340 "\n\n"
  FN@340..524
    FnKeyword@340..342 "fn"
    Whitespace@342..343 " "
    Ident@343..347 "main"
    PARAM_LIST@347..350
      LParen@347..348 "("
      RParen@348..349 ")"
      Whitespace@349..350 " "
    Arrow@350..352 "->"
    Whitespace@352..353 " "
    TYPE_UNIT@353..358
      UnitKeyword@353..357 "unit"
      Whitespace@357..358 " "
    BLOCK@358..524
      LBrace@358..359 "{"
      Whitespace@359..364 "\n    "
      STMT_LET@364..424
        LetKeyword@364..367 "let"
        Whitespace@367..368 " "
        PATTERN_VARIABLE@368..372
          Ident@368..372 "text"
        Colon@372..373 ":"
        Whitespace@373..374 " "
        TYPE_STRING@374..381
          StringKeyword@374..380 "string"
          Whitespace@380..381 " "
        Eq@381..382 "="
        Whitespace@382..383 " "
        EXPR_CALL@383..418
          EXPR_IDENT@383..408
            TYPE_TAPP@383..399
              PATH@383..390
                Ident@383..390 "Convert"
              ColonColon@390..392 "::"
              TYPE_PARAM_LIST@392..399
                LBracket@392..393 "["
                TYPE_INT32@393..398
                  Int32Keyword@393..398 "int32"
                RBracket@398..399 "]"
            ColonColon@399..401 "::"
            PATH@401..408
              Ident@401..408 "convert"
          ARG_LIST@408..418
            LParen@408..409 "("
            ARG@409..417
              EXPR_STRUCT_LITERAL@409..417
                PATH@409..415
                  Ident@409..414 "Value"
                  Whitespace@414..415 " "
                STRUCT_LITERAL_FIELD_LIST@415..417
                  LBrace@415..416 "{"
                  RBrace@416..417 "}"
            RParen@417..418 ")"
        Semi@418..419 ";"
        Whitespace@419..424 "\n    "
      STMT_LET@424..486
        LetKeyword@424..427 "let"
        Whitespace@427..428 " "
        PATTERN_VARIABLE@428..434
          Ident@428..434 "number"
        Colon@434..435 ":"
        Whitespace@435..436 " "
        TYPE_INT32@436..442
          Int32Keyword@436..441 "int32"
          Whitespace@441..442 " "
        Eq@442..443 "="
        Whitespace@443..444 " "
        EXPR_CALL@444..480
          EXPR_IDENT@444..470
            TYPE_TAPP@444..461
              PATH@444..451
                Ident@444..451 "Convert"
              ColonColon@451..453 "::"
              TYPE_PARAM_LIST@453..461
                LBracket@453..454 "["
                TYPE_STRING@454..460
                  StringKeyword@454..460 "string"
                RBracket@460..461 "]"
            ColonColon@461..463 "::"
            PATH@463..470
              Ident@463..470 "convert"
          ARG_LIST@470..480
            LParen@470..471 "("
            ARG@471..479
              EXPR_STRUCT_LITERAL@471..479
                PATH@471..477
                  Ident@471..476 "Value"
                  Whitespace@476..477 " "
                STRUCT_LITERAL_FIELD_LIST@477..479
                  LBrace@477..478 "{"
                  RBrace@478..479 "}"
            RParen@479..480 ")"
        Semi@480..481 ";"
        Whitespace@481..486 "\n    "
      STMT_EXPR@486..505
        EXPR_CALL@486..499
          EXPR_IDENT@486..493
            PATH@486..493
              Ident@486..493 "println"
          ARG_LIST@493..499
            LParen@493..494 "("
            ARG@494..498
              EXPR_IDENT@494..498
                PATH@494..498
                  Ident@494..498 "text"
            RParen@498..499 ")"
        Semi@499..500 ";"
        Whitespace@500..505 "\n    "
      STMT_EXPR@505..522
        EXPR_CALL@505..520
          EXPR_IDENT@505..512
            PATH@505..512
              Ident@505..512 "println"
          ARG_LIST@512..520
            LParen@512..513 "("
            ARG@513..519
              EXPR_IDENT@513..519
                PATH@513..519
                  Ident@513..519 "number"
            RParen@519..520 ")"
        Semi@520..521 ";"
        Whitespace@521..522 "\n"
      RBrace@522..523 "}"
      Whitespace@523..524 "\n"