FILE@0..3506
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..49
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
      Semi@49..50 ";"
      Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  TRAIT@54..106
    TraitKeyword@54..59 "trait"
    Whitespace@59..60 " "
    Ident@60..65 "Debug"
    Whitespace@65..66 " "
    LBrace@66..67 "{"
    Whitespace@67..72 "\n    "
    TRAIT_METHOD_SIG_LIST@72..106
      TRAIT_METHOD_SIG@72..101
        FnKeyword@72..74 "fn"
        Whitespace@74..75 " "
        Ident@75..79 "show"
        PARAM_LIST@79..92
          LParen@79..80 "("
          PARAM@80..90
            Ident@80..84 "self"
            Colon@84..85 ":"
            Whitespace@85..86 " "
            TYPE_TAPP@86..90
              PATH@86..90
                Ident@86..90 "Self"
          RParen@90..91 ")"
          Whitespace@91..92 " "
        Arrow@92..94 "->"
        Whitespace@94..95 " "
        TYPE_STRING@95..101
          StringKeyword@95..101 "string"
      Semi@101..102 ";"
      Whitespace@102..103 "\n"
      RBrace@103..104 "}"
      Whitespace@104..106 "\n\n"
  TRAIT@106..165
    TraitKeyword@106..111 "trait"
    Whitespace@111..112 " "
    Ident@112..116 "MyEq"
    Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    TRAIT_METHOD_SIG_LIST@123..165
      TRAIT_METHOD_SIG@123..160
        FnKeyword@123..125 "fn"
        Whitespace@125..126 " "
        Ident@126..128 "eq"
        PARAM_LIST@128..153
          LParen@128..129 "("
          PARAM@129..141
            Ident@129..133 "self"
            Colon@133..134 ":"
            Whitespace@134..135 " "
            TYPE_TAPP@135..139
              PATH@135..139
                Ident@135..139 "Self"
            Comma@139..140 ","
            Whitespace@140..141 " "
          PARAM@141..151
            Ident@141..145 "arg1"
            Colon@145..146 ":"
            Whitespace@146..147 " "
            TYPE_TAPP@147..151
              PATH@147..151
                Ident@147..151 "Self"
          RParen@151..152 ")"
          Whitespace@152..153 " "
        Arrow@153..155 "->"
        Whitespace@155..156 " "
        TYPE_BOOL@156..160
          BoolKeyword@156..160 "bool"
      Semi@160..161 ";"
      Whitespace@161..162 "\n"
      RBrace@162..163 "}"
      Whitespace@163..165 "\n\n"
  TRAIT@165..217
    TraitKeyword@165..170 "trait"
    Whitespace@170..171 " "
    Ident@171..177 "MyHash"
    Whitespace@177..178 " "
    LBrace@178..179 "{"
    Whitespace@179..184 "\n    "
    TRAIT_METHOD_SIG_LIST@184..217
      TRAIT_METHOD_SIG@184..212
        FnKeyword@184..186 "fn"
        Whitespace@186..187 " "
        Ident@187..191 "hash"
        PARAM_LIST@191..204
          LParen@191..192 "("
          PARAM@192..202
            Ident@192..196 "self"
            Colon@196..197 ":"
            Whitespace@197..198 " "
            TYPE_TAPP@198..202
              PATH@198..202
                Ident@198..202 "Self"
          RParen@202..203 ")"
          Whitespace@203..204 " "
        Arrow@204..206 "->"
        Whitespace@206..207 " "
        TYPE_INT32@207..212
          Int32Keyword@207..212 "int32"
      Semi@212..213 ";"
      Whitespace@213..214 "\n"
      RBrace@214..215 "}"
      Whitespace@215..217 "\n\n"
  TRAIT@217..276
    TraitKeyword@217..222 "trait"
    Whitespace@222..223 " "
    Ident@223..226 "Add"
    Whitespace@226..227 " "
    LBrace@227..228 "{"
    Whitespace@228..233 "\n    "
    TRAIT_METHOD_SIG_LIST@233..276
      TRAIT_METHOD_SIG@233..271
        FnKeyword@233..235 "fn"
        Whitespace@235..236 " "
        Ident@236..239 "add"
        PARAM_LIST@239..264
          LParen@239..240 "("
          PARAM@240..252
            Ident@240..244 "self"
            Colon@244..245 ":"
            Whitespace@245..246 " "
            TYPE_TAPP@246..250
              PATH@246..250
                Ident@246..250 "Self"
            Comma@250..251 ","
            Whitespace@251..252 " "
          PARAM@252..262
            Ident@252..256 "arg1"
            Colon@256..257 ":"
            Whitespace@257..258 " "
            TYPE_TAPP@258..262
              PATH@258..262
                Ident@258..262 "Self"
          RParen@262..263 ")"
          Whitespace@263..264 " "
        Arrow@264..266 "->"
        Whitespace@266..267 " "
        TYPE_TAPP@267..271
          PATH@267..271
            Ident@267..271 "Self"
      Semi@271..272 ";"
      Whitespace@272..273 "\n"
      RBrace@273..274 "}"
      Whitespace@274..276 "\n\n"
  TRAIT@276..340
    TraitKeyword@276..281 "trait"
    Whitespace@281..282 " "
    Ident@282..287 "Scale"
    Whitespace@287..288 " "
    LBrace@288..289 "{"
    Whitespace@289..294 "\n    "
    TRAIT_METHOD_SIG_LIST@294..340
      TRAIT_METHOD_SIG@294..335
        FnKeyword@294..296 "fn"
        Whitespace@296..297 " "
        Ident@297..302 "scale"
        PARAM_LIST@302..328
          LParen@302..303 "("
          PARAM@303..315
            Ident@303..307 "self"
            Colon@307..308 ":"
            Whitespace@308..309 " "
            TYPE_TAPP@309..313
              PATH@309..313
                Ident@309..313 "Self"
            Comma@313..314 ","
            Whitespace@314..315 " "
          PARAM@315..326
            Ident@315..319 "arg1"
            Colon@319..320 ":"
            Whitespace@320..321 " "
            TYPE_INT32@321..326
              Int32Keyword@321..326 "int32"
          RParen@326..327 ")"
          Whitespace@327..328 " "
        Arrow@328..330 "->"
        Whitespace@330..331 " "
        TYPE_TAPP@331..335
          PATH@331..335
            Ident@331..335 "Self"
      Semi@335..336 ";"
      Whitespace@336..337 "\n"
      RBrace@337..338 "}"
      Whitespace@338..340 "\n\n"
  TRAIT@340..397
    TraitKeyword@340..345 "trait"
    Whitespace@345..346 " "
    Ident@346..353 "Inspect"
    Whitespace@353..354 " "
    LBrace@354..355 "{"
    Whitespace@355..360 "\n    "
    TRAIT_METHOD_SIG_LIST@360..397
      TRAIT_METHOD_SIG@360..392
        FnKeyword@360..362 "fn"
        Whitespace@362..363 " "
        Ident@363..370 "inspect"
        PARAM_LIST@370..383
          LParen@370..371 "("
          PARAM@371..381
            Ident@371..375 "self"
            Colon@375..376 ":"
            Whitespace@376..377 " "
            TYPE_TAPP@377..381
              PATH@377..381
                Ident@377..381 "Self"
          RParen@381..382 ")"
          Whitespace@382..383 " "
        Arrow@383..385 "->"
        Whitespace@385..386 " "
        TYPE_STRING@386..392
          StringKeyword@386..392 "string"
      Semi@392..393 ";"
      Whitespace@393..394 "\n"
      RBrace@394..395 "}"
      Whitespace@395..397 "\n\n"
  STRUCT@397..428
    StructKeyword@397..403 "struct"
    Whitespace@403..404 " "
    Ident@404..409 "Boxed"
    Whitespace@409..410 " "
    LBrace@410..411 "{"
    Whitespace@411..412 " "
    STRUCT_FIELD_LIST@412..428
      STRUCT_FIELD@412..425
        Ident@412..417 "value"
        Colon@417..418 ":"
        Whitespace@418..419 " "
        TYPE_INT32@419..425
          Int32Keyword@419..424 "int32"
          Whitespace@424..425 " "
      RBrace@425..426 "}"
      Whitespace@426..428 "\n\n"
  IMPL@428..524
    ImplKeyword@428..432 "impl"
    Whitespace@432..433 " "
    TYPE_TAPP@433..441
      PATH@433..441
        Ident@433..440 "Display"
        Whitespace@440..441 " "
    ForKeyword@441..444 "for"
    Whitespace@444..445 " "
    TYPE_INT32@445..451
      Int32Keyword@445..450 "int32"
      Whitespace@450..451 " "
    LBrace@451..452 "{"
    Whitespace@452..457 "\n    "
    FN@457..521
      FnKeyword@457..459 "fn"
      Whitespace@459..460 " "
      Ident@460..464 "show"
      PARAM_LIST@464..478
        LParen@464..465 "("
        PARAM@465..476
          Ident@465..469 "self"
          Colon@469..470 ":"
          Whitespace@470..471 " "
          TYPE_INT32@471..476
            Int32Keyword@471..476 "int32"
        RParen@476..477 ")"
        Whitespace@477..478 " "
      Arrow@478..480 "->"
      Whitespace@480..481 " "
      TYPE_STRING@481..488
        StringKeyword@481..487 "string"
        Whitespace@487..488 " "
      BLOCK@488..521
        LBrace@488..489 "{"
        Whitespace@489..498 "\n        "
        EXPR_CALL@498..519
          EXPR_BINARY@498..512
            EXPR_IDENT@498..502
              PATH@498..502
                Ident@498..502 "self"
            Dot@502..503 "."
            EXPR_IDENT@503..512
              PATH@503..512
                Ident@503..512 "to_string"
          ARG_LIST@512..519
            LParen@512..513 "("
            RParen@513..514 ")"
            Whitespace@514..519 "\n    "
        RBrace@519..520 "}"
        Whitespace@520..521 "\n"
    RBrace@521..522 "}"
    Whitespace@522..524 "\n\n"
  IMPL@524..633
    ImplKeyword@524..528 "impl"
    Whitespace@528..529 " "
    TYPE_TAPP@529..535
      PATH@529..535
        Ident@529..534 "Debug"
        Whitespace@534..535 " "
    ForKeyword@535..538 "for"
    Whitespace@538..539 " "
    TYPE_INT32@539..545
      Int32Keyword@539..544 "int32"
      Whitespace@544..545 " "
    LBrace@545..546 "{"
    Whitespace@546..551 "\n    "
    FN@551..630
      FnKeyword@551..553 "fn"
      Whitespace@553..554 " "
      Ident@554..558 "show"
      PARAM_LIST@558..572
        LParen@558..559 "("
        PARAM@559..570
          Ident@559..563 "self"
          Colon@563..564 ":"
          Whitespace@564..565 " "
          TYPE_INT32@565..570
            Int32Keyword@565..570 "int32"
        RParen@570..571 ")"
        Whitespace@571..572 " "
      Arrow@572..574 "->"
      Whitespace@574..575 " "
      TYPE_STRING@575..582
        StringKeyword@575..581 "string"
        Whitespace@581..582 " "
      BLOCK@582..630
        LBrace@582..583 "{"
        Whitespace@583..592 "\n        "
        EXPR_BINARY@592..628
          EXPR_BINARY@592..618
            EXPR_STR@592..599
              Str@592..598 "\"i32(\""
              Whitespace@598..599 " "
            Plus@599..600 "+"
            Whitespace@600..601 " "
            EXPR_CALL@601..618
              EXPR_BINARY@601..615
                EXPR_IDENT@601..605
                  PATH@601..605
                    Ident@601..605 "self"
                Dot@605..606 "."
                EXPR_IDENT@606..615
                  PATH@606..615
                    Ident@606..615 "to_string"
              ARG_LIST@615..618
                LParen@615..616 "("
                RParen@616..617 ")"
                Whitespace@617..618 " "
          Plus@618..619 "+"
          Whitespace@619..620 " "
          EXPR_STR@620..628
            Str@620..623 "\")\""
            Whitespace@623..628 "\n    "
        RBrace@628..629 "}"
        Whitespace@629..630 "\n"
    RBrace@630..631 "}"
    Whitespace@631..633 "\n\n"
  IMPL@633..733
    ImplKeyword@633..637 "impl"
    Whitespace@637..638 " "
    TYPE_TAPP@638..643
      PATH@638..643
        Ident@638..642 "MyEq"
        Whitespace@642..643 " "
    ForKeyword@643..646 "for"
    Whitespace@646..647 " "
    TYPE_INT32@647..653
      Int32Keyword@647..652 "int32"
      Whitespace@652..653 " "
    LBrace@653..654 "{"
    Whitespace@654..659 "\n    "
    FN@659..730
      FnKeyword@659..661 "fn"
      Whitespace@661..662 " "
      Ident@662..664 "eq"
      PARAM_LIST@664..692
        LParen@664..665 "("
        PARAM@665..678
          Ident@665..669 "self"
          Colon@669..670 ":"
          Whitespace@670..671 " "
          TYPE_INT32@671..676
            Int32Keyword@671..676 "int32"
          Comma@676..677 ","
          Whitespace@677..678 " "
        PARAM@678..690
          Ident@678..683 "other"
          Colon@683..684 ":"
          Whitespace@684..685 " "
          TYPE_INT32@685..690
            Int32Keyword@685..690 "int32"
        RParen@690..691 ")"
        Whitespace@691..692 " "
      Arrow@692..694 "->"
      Whitespace@694..695 " "
      TYPE_BOOL@695..700
        BoolKeyword@695..699 "bool"
        Whitespace@699..700 " "
      BLOCK@700..730
        LBrace@700..701 "{"
        Whitespace@701..710 "\n        "
        EXPR_BINARY@710..728
          EXPR_IDENT@710..715
            PATH@710..715
              Ident@710..714 "self"
              Whitespace@714..715 " "
          EqEq@715..717 "=="
          Whitespace@717..718 " "
          EXPR_IDENT@718..728
            PATH@718..728
              Ident@718..723 "other"
              Whitespace@723..728 "\n    "
        RBrace@728..729 "}"
        Whitespace@729..730 "\n"
    RBrace@730..731 "}"
    Whitespace@731..733 "\n\n"
  IMPL@733..840
    ImplKeyword@733..737 "impl"
    Whitespace@737..738 " "
    TYPE_TAPP@738..745
      PATH@738..745
        Ident@738..744 "MyHash"
        Whitespace@744..745 " "
    ForKeyword@745..748 "for"
    Whitespace@748..749 " "
    TYPE_INT32@749..755
      Int32Keyword@749..754 "int32"
      Whitespace@754..755 " "
    LBrace@755..756 "{"
    Whitespace@756..761 "\n    "
    FN@761..837
      FnKeyword@761..763 "fn"
      Whitespace@763..764 " "
      Ident@764..768 "hash"
      PARAM_LIST@768..782
        LParen@768..769 "("
        PARAM@769..780
          Ident@769..773 "self"
          Colon@773..774 ":"
          Whitespace@774..775 " "
          TYPE_INT32@775..780
            Int32Keyword@775..780 "int32"
        RParen@780..781 ")"
        Whitespace@781..782 " "
      Arrow@782..784 "->"
      Whitespace@784..785 " "
      TYPE_INT32@785..791
        Int32Keyword@785..790 "int32"
        Whitespace@790..791 " "
      BLOCK@791..837
        LBrace@791..792 "{"
        Whitespace@792..801 "\n        "
        EXPR_BINARY@801..835
          EXPR_PAREN@801..819
            LParen@801..802 "("
            EXPR_BINARY@802..817
              EXPR_IDENT@802..807
                PATH@802..807
                  Ident@802..806 "self"
                  Whitespace@806..807 " "
              Star@807..808 "*"
              Whitespace@808..809 " "
              EXPR_INT@809..817
                Int@809..817 "16777619"
            RParen@817..818 ")"
            Whitespace@818..819 " "
          Plus@819..820 "+"
          Whitespace@820..821 " "
          EXPR_INT@821..835
            Int@821..830 "216613626"
            Whitespace@830..835 "\n    "
        RBrace@835..836 "}"
        Whitespace@836..837 "\n"
    RBrace@837..838 "}"
    Whitespace@838..840 "\n\n"
  IMPL@840..940
    ImplKeyword@840..844 "impl"
    Whitespace@844..845 " "
    TYPE_TAPP@845..849
      PATH@845..849
        Ident@845..848 "Add"
        Whitespace@848..849 " "
    ForKeyword@849..852 "for"
    Whitespace@852..853 " "
    TYPE_INT32@853..859
      Int32Keyword@853..858 "int32"
      Whitespace@858..859 " "
    LBrace@859..860 "{"
    Whitespace@860..865 "\n    "
    FN@865..937
      FnKeyword@865..867 "fn"
      Whitespace@867..868 " "
      Ident@868..871 "add"
      PARAM_LIST@871..899
        LParen@871..872 "("
        PARAM@872..885
          Ident@872..876 "self"
          Colon@876..877 ":"
          Whitespace@877..878 " "
          TYPE_INT32@878..883
            Int32Keyword@878..883 "int32"
          Comma@883..884 ","
          Whitespace@884..885 " "
        PARAM@885..897
          Ident@885..890 "other"
          Colon@890..891 ":"
          Whitespace@891..892 " "
          TYPE_INT32@892..897
            Int32Keyword@892..897 "int32"
        RParen@897..898 ")"
        Whitespace@898..899 " "
      Arrow@899..901 "->"
      Whitespace@901..902 " "
      TYPE_INT32@902..908
        Int32Keyword@902..907 "int32"
        Whitespace@907..908 " "
      BLOCK@908..937
        LBrace@908..909 "{"
        Whitespace@909..918 "\n        "
        EXPR_BINARY@918..935
          EXPR_IDENT@918..923
            PATH@918..923
              Ident@918..922 "self"
              Whitespace@922..923 " "
          Plus@923..924 "+"
          Whitespace@924..925 " "
          EXPR_IDENT@925..935
            PATH@925..935
              Ident@925..930 "other"
              Whitespace@930..935 "\n    "
        RBrace@935..936 "}"
        Whitespace@936..937 "\n"
    RBrace@937..938 "}"
    Whitespace@938..940 "\n\n"
  IMPL@940..1046
    ImplKeyword@940..944 "impl"
    Whitespace@944..945 " "
    TYPE_TAPP@945..951
      PATH@945..951
        Ident@945..950 "Scale"
        Whitespace@950..951 " "
    ForKeyword@951..954 "for"
    Whitespace@954..955 " "
    TYPE_INT32@955..961
      Int32Keyword@955..960 "int32"
      Whitespace@960..961 " "
    LBrace@961..962 "{"
    Whitespace@962..967 "\n    "
    FN@967..1043
      FnKeyword@967..969 "fn"
      Whitespace@969..970 " "
      Ident@970..975 "scale"
      PARAM_LIST@975..1004
        LParen@975..976 "("
        PARAM@976..989
          Ident@976..980 "self"
          Colon@980..981 ":"
          Whitespace@981..982 " "
          TYPE_INT32@982..987
            Int32Keyword@982..987 "int32"
          Comma@987..988 ","
          Whitespace@988..989 " "
        PARAM@989..1002
          Ident@989..995 "factor"
          Colon@995..996 ":"
          Whitespace@996..997 " "
          TYPE_INT32@997..1002
            Int32Keyword@997..1002 "int32"
        RParen@1002..1003 ")"
        Whitespace@1003..1004 " "
      Arrow@1004..1006 "->"
      Whitespace@1006..1007 " "
      TYPE_INT32@1007..1013
        Int32Keyword@1007..1012 "int32"
        Whitespace@1012..1013 " "
      BLOCK@1013..1043
        LBrace@1013..1014 "{"
        Whitespace@1014..1023 "\n        "
        EXPR_BINARY@1023..1041
          EXPR_IDENT@1023..1028
            PATH@1023..1028
              Ident@1023..1027 "self"
              Whitespace@1027..1028 " "
          Star@1028..1029 "*"
          Whitespace@1029..1030 " "
          EXPR_IDENT@1030..1041
            PATH@1030..1041
              Ident@1030..1036 "factor"
              Whitespace@1036..1041 "\n    "
        RBrace@1041..1042 "}"
        Whitespace@1042..1043 "\n"
    RBrace@1043..1044 "}"
    Whitespace@1044..1046 "\n\n"
  IMPL@1046..1157
    ImplKeyword@1046..1050 "impl"
    Whitespace@1050..1051 " "
    TYPE_TAPP@1051..1059
      PATH@1051..1059
        Ident@1051..1058 "Inspect"
        Whitespace@1058..1059 " "
    ForKeyword@1059..1062 "for"
    Whitespace@1062..1063 " "
    TYPE_INT32@1063..1069
      Int32Keyword@1063..1068 "int32"
      Whitespace@1068..1069 " "
    LBrace@1069..1070 "{"
    Whitespace@1070..1075 "\n    "
    FN@1075..1154
      FnKeyword@1075..1077 "fn"
      Whitespace@1077..1078 " "
      Ident@1078..1085 "inspect"
      PARAM_LIST@1085..1099
        LParen@1085..1086 "("
        PARAM@1086..1097
          Ident@1086..1090 "self"
          Colon@1090..1091 ":"
          Whitespace@1091..1092 " "
          TYPE_INT32@1092..1097
            Int32Keyword@1092..1097 "int32"
        RParen@1097..1098 ")"
        Whitespace@1098..1099 " "
      Arrow@1099..1101 "->"
      Whitespace@1101..1102 " "
      TYPE_STRING@1102..1109
        StringKeyword@1102..1108 "string"
        Whitespace@1108..1109 " "
      BLOCK@1109..1154
        LBrace@1109..1110 "{"
        Whitespace@1110..1119 "\n        "
        EXPR_BINARY@1119..1152
          EXPR_BINARY@1119..1142
            EXPR_STR@1119..1123
              Str@1119..1122 "\"<\""
              Whitespace@1122..1123 " "
            Plus@1123..1124 "+"
            Whitespace@1124..1125 " "
            EXPR_CALL@1125..1142
              EXPR_BINARY@1125..1139
                EXPR_IDENT@1125..1129
                  PATH@1125..1129
                    Ident@1125..1129 "self"
                Dot@1129..1130 "."
                EXPR_IDENT@1130..1139
                  PATH@1130..1139
                    Ident@1130..1139 "to_string"
              ARG_LIST@1139..1142
                LParen@1139..1140 "("
                RParen@1140..1141 ")"
                Whitespace@1141..1142 " "
          Plus@1142..1143 "+"
          Whitespace@1143..1144 " "
          EXPR_STR@1144..1152
            Str@1144..1147 "\">\""
            Whitespace@1147..1152 "\n    "
        RBrace@1152..1153 "}"
        Whitespace@1153..1154 "\n"
    RBrace@1154..1155 "}"
    Whitespace@1155..1157 "\n\n"
  IMPL@1157..1276
    ImplKeyword@1157..1161 "impl"
    Whitespace@1161..1162 " "
    TYPE_TAPP@1162..1170
      PATH@1162..1170
        Ident@1162..1169 "Display"
        Whitespace@1169..1170 " "
    ForKeyword@1170..1173 "for"
    Whitespace@1173..1174 " "
    TYPE_TAPP@1174..1180
      PATH@1174..1180
        Ident@1174..1179 "Boxed"
        Whitespace@1179..1180 " "
    LBrace@1180..1181 "{"
    Whitespace@1181..1186 "\n    "
    FN@1186..1273
      FnKeyword@1186..1188 "fn"
      Whitespace@1188..1189 " "
      Ident@1189..1193 "show"
      PARAM_LIST@1193..1207
        LParen@1193..1194 "("
        PARAM@1194..1205
          Ident@1194..1198 "self"
          Colon@1198..1199 ":"
          Whitespace@1199..1200 " "
          TYPE_TAPP@1200..1205
            PATH@1200..1205
              Ident@1200..1205 "Boxed"
        RParen@1205..1206 ")"
        Whitespace@1206..1207 " "
      Arrow@1207..1209 "->"
      Whitespace@1209..1210 " "
      TYPE_STRING@1210..1217
        StringKeyword@1210..1216 "string"
        Whitespace@1216..1217 " "
      BLOCK@1217..1273
        LBrace@1217..1218 "{"
        Whitespace@1218..1227 "\n        "
        EXPR_BINARY@1227..1271
          EXPR_BINARY@1227..1261
            EXPR_STR@1227..1236
              Str@1227..1235 "\"Boxed(\""
              Whitespace@1235..1236 " "
            Plus@1236..1237 "+"
            Whitespace@1237..1238 " "
            EXPR_CALL@1238..1261
              EXPR_BINARY@1238..1258
                EXPR_BINARY@1238..1248
                  EXPR_IDENT@1238..1242
                    PATH@1238..1242
                      Ident@1238..1242 "self"
                  Dot@1242..1243 "."
                  EXPR_IDENT@1243..1248
                    PATH@1243..1248
                      Ident@1243..1248 "value"
                Dot@1248..1249 "."
                EXPR_IDENT@1249..1258
                  PATH@1249..1258
                    Ident@1249..1258 "to_string"
              ARG_LIST@1258..1261
                LParen@1258..1259 "("
                RParen@1259..1260 ")"
                Whitespace@1260..1261 " "
          Plus@1261..1262 "+"
          Whitespace@1262..1263 " "
          EXPR_STR@1263..1271
            Str@1263..1266 "\")\""
            Whitespace@1266..1271 "\n    "
        RBrace@1271..1272 "}"
        Whitespace@1272..1273 "\n"
    RBrace@1273..1274 "}"
    Whitespace@1274..1276 "\n\n"
  IMPL@1276..1399
    ImplKeyword@1276..1280 "impl"
    Whitespace@1280..1281 " "
    TYPE_TAPP@1281..1287
      PATH@1281..1287
        Ident@1281..1286 "Debug"
        Whitespace@1286..1287 " "
    ForKeyword@1287..1290 "for"
    Whitespace@1290..1291 " "
    TYPE_TAPP@1291..1297
      PATH@1291..1297
        Ident@1291..1296 "Boxed"
        Whitespace@1296..1297 " "
    LBrace@1297..1298 "{"
    Whitespace@1298..1303 "\n    "
    FN@1303..1396
      FnKeyword@1303..1305 "fn"
      Whitespace@1305..1306 " "
      Ident@1306..1310 "show"
      PARAM_LIST@1310..1324
        LParen@1310..1311 "("
        PARAM@1311..1322
          Ident@1311..1315 "self"
          Colon@1315..1316 ":"
          Whitespace@1316..1317 " "
          TYPE_TAPP@1317..1322
            PATH@1317..1322
              Ident@1317..1322 "Boxed"
        RParen@1322..1323 ")"
        Whitespace@1323..1324 " "
      Arrow@1324..1326 "->"
      Whitespace@1326..1327 " "
      TYPE_STRING@1327..1334
        StringKeyword@1327..1333 "string"
        Whitespace@1333..1334 " "
      BLOCK@1334..1396
        LBrace@1334..1335 "{"
        Whitespace@1335..1344 "\n        "
        EXPR_BINARY@1344..1394
          EXPR_BINARY@1344..1384
            EXPR_STR@1344..1359
              Str@1344..1358 "\"Boxed{value=\""
              Whitespace@1358..1359 " "
            Plus@1359..1360 "+"
            Whitespace@1360..1361 " "
            EXPR_CALL@1361..1384
              EXPR_BINARY@1361..1381
                EXPR_BINARY@1361..1371
                  EXPR_IDENT@1361..1365
                    PATH@1361..1365
                      Ident@1361..1365 "self"
                  Dot@1365..1366 "."
                  EXPR_IDENT@1366..1371
                    PATH@1366..1371
                      Ident@1366..1371 "value"
                Dot@1371..1372 "."
                EXPR_IDENT@1372..1381
                  PATH@1372..1381
                    Ident@1372..1381 "to_string"
              ARG_LIST@1381..1384
                LParen@1381..1382 "("
                RParen@1382..1383 ")"
                Whitespace@1383..1384 " "
          Plus@1384..1385 "+"
          Whitespace@1385..1386 " "
          EXPR_STR@1386..1394
            Str@1386..1389 "\"}\""
            Whitespace@1389..1394 "\n    "
        RBrace@1394..1395 "}"
        Whitespace@1395..1396 "\n"
    RBrace@1396..1397 "}"
    Whitespace@1397..1399 "\n\n"
  IMPL@1399..1511
    ImplKeyword@1399..1403 "impl"
    Whitespace@1403..1404 " "
    TYPE_TAPP@1404..1409
      PATH@1404..1409
        Ident@1404..1408 "MyEq"
        Whitespace@1408..1409 " "
    ForKeyword@1409..1412 "for"
    Whitespace@1412..1413 " "
    TYPE_TAPP@1413..1419
      PATH@1413..1419
        Ident@1413..1418 "Boxed"
        Whitespace@1418..1419 " "
    LBrace@1419..1420 "{"
    Whitespace@1420..1425 "\n    "
    FN@1425..1508
      FnKeyword@1425..1427 "fn"
      Whitespace@1427..1428 " "
      Ident@1428..1430 "eq"
      PARAM_LIST@1430..1458
        LParen@1430..1431 "("
        PARAM@1431..1444
          Ident@1431..1435 "self"
          Colon@1435..1436 ":"
          Whitespace@1436..1437 " "
          TYPE_TAPP@1437..1442
            PATH@1437..1442
              Ident@1437..1442 "Boxed"
          Comma@1442..1443 ","
          Whitespace@1443..1444 " "
        PARAM@1444..1456
          Ident@1444..1449 "other"
          Colon@1449..1450 ":"
          Whitespace@1450..1451 " "
          TYPE_TAPP@1451..1456
            PATH@1451..1456
              Ident@1451..1456 "Boxed"
        RParen@1456..1457 ")"
        Whitespace@1457..1458 " "
      Arrow@1458..1460 "->"
      Whitespace@1460..1461 " "
      TYPE_BOOL@1461..1466
        BoolKeyword@1461..1465 "bool"
        Whitespace@1465..1466 " "
      BLOCK@1466..1508
        LBrace@1466..1467 "{"
        Whitespace@1467..1476 "\n        "
        EXPR_BINARY@1476..1506
          EXPR_BINARY@1476..1487
            EXPR_IDENT@1476..1480
              PATH@1476..1480
                Ident@1476..1480 "self"
            Dot@1480..1481 "."
            EXPR_IDENT@1481..1487
              PATH@1481..1487
                Ident@1481..1486 "value"
                Whitespace@1486..1487 " "
          EqEq@1487..1489 "=="
          Whitespace@1489..1490 " "
          EXPR_BINARY@1490..1506
            EXPR_IDENT@1490..1495
              PATH@1490..1495
                Ident@1490..1495 "other"
            Dot@1495..1496 "."
            EXPR_IDENT@1496..1506
              PATH@1496..1506
                Ident@1496..1501 "value"
                Whitespace@1501..1506 "\n    "
        RBrace@1506..1507 "}"
        Whitespace@1507..1508 "\n"
    RBrace@1508..1509 "}"
    Whitespace@1509..1511 "\n\n"
  IMPL@1511..1625
    ImplKeyword@1511..1515 "impl"
    Whitespace@1515..1516 " "
    TYPE_TAPP@1516..1523
      PATH@1516..1523
        Ident@1516..1522 "MyHash"
        Whitespace@1522..1523 " "
    ForKeyword@1523..1526 "for"
    Whitespace@1526..1527 " "
    TYPE_TAPP@1527..1533
      PATH@1527..1533
        Ident@1527..1532 "Boxed"
        Whitespace@1532..1533 " "
    LBrace@1533..1534 "{"
    Whitespace@1534..1539 "\n    "
    FN@1539..1622
      FnKeyword@1539..1541 "fn"
      Whitespace@1541..1542 " "
      Ident@1542..1546 "hash"
      PARAM_LIST@1546..1560
        LParen@1546..1547 "("
        PARAM@1547..1558
          Ident@1547..1551 "self"
          Colon@1551..1552 ":"
          Whitespace@1552..1553 " "
          TYPE_TAPP@1553..1558
            PATH@1553..1558
              Ident@1553..1558 "Boxed"
        RParen@1558..1559 ")"
        Whitespace@1559..1560 " "
      Arrow@1560..1562 "->"
      Whitespace@1562..1563 " "
      TYPE_INT32@1563..1569
        Int32Keyword@1563..1568 "int32"
        Whitespace@1568..1569 " "
      BLOCK@1569..1622
        LBrace@1569..1570 "{"
        Whitespace@1570..1579 "\n        "
        EXPR_BINARY@1579..1620
          EXPR_PAREN@1579..1603
            LParen@1579..1580 "("
            EXPR_BINARY@1580..1601
              EXPR_PAREN@1580..1598
                LParen@1580..1581 "("
                EXPR_BINARY@1581..1596
                  EXPR_BINARY@1581..1592
                    EXPR_IDENT@1581..1585
                      PATH@1581..1585
                        Ident@1581..1585 "self"
                    Dot@1585..1586 "."
                    EXPR_IDENT@1586..1592
                      PATH@1586..1592
                        Ident@1586..1591 "value"
                        Whitespace@1591..1592 " "
                  Star@1592..1593 "*"
                  Whitespace@1593..1594 " "
                  EXPR_INT@1594..1596
                    Int@1594..1596 "31"
                RParen@1596..1597 ")"
                Whitespace@1597..1598 " "
              Plus@1598..1599 "+"
              Whitespace@1599..1600 " "
              EXPR_INT@1600..1601
                Int@1600..1601 "7"
            RParen@1601..1602 ")"
            Whitespace@1602..1603 " "
          Star@1603..1604 "*"
          Whitespace@1604..1605 " "
          EXPR_INT@1605..1620
            Int@1605..1615 "1315423911"
            Whitespace@1615..1620 "\n    "
        RBrace@1620..1621 "}"
        Whitespace@1621..1622 "\n"
    RBrace@1622..1623 "}"
    Whitespace@1623..1625 "\n\n"
  IMPL@1625..1754
    ImplKeyword@1625..1629 "impl"
    Whitespace@1629..1630 " "
    TYPE_TAPP@1630..1634
      PATH@1630..1634
        Ident@1630..1633 "Add"
        Whitespace@1633..1634 " "
    ForKeyword@1634..1637 "for"
    Whitespace@1637..1638 " "
    TYPE_TAPP@1638..1644
      PATH@1638..1644
        Ident@1638..1643 "Boxed"
        Whitespace@1643..1644 " "
    LBrace@1644..1645 "{"
    Whitespace@1645..1650 "\n    "
    FN@1650..1751
      FnKeyword@1650..1652 "fn"
      Whitespace@1652..1653 " "
      Ident@1653..1656 "add"
      PARAM_LIST@1656..1684
        LParen@1656..1657 "("
        PARAM@1657..1670
          Ident@1657..1661 "self"
          Colon@1661..1662 ":"
          Whitespace@1662..1663 " "
          TYPE_TAPP@1663..1668
            PATH@1663..1668
              Ident@1663..1668 "Boxed"
          Comma@1668..1669 ","
          Whitespace@1669..1670 " "
        PARAM@1670..1682
          Ident@1670..1675 "other"
          Colon@1675..1676 ":"
          Whitespace@1676..1677 " "
          TYPE_TAPP@1677..1682
            PATH@1677..1682
              Ident@1677..1682 "Boxed"
        RParen@1682..1683 ")"
        Whitespace@1683..1684 " "
      Arrow@1684..1686 "->"
      Whitespace@1686..1687 " "
      TYPE_TAPP@1687..1693
        PATH@1687..1693
          Ident@1687..1692 "Boxed"
          Whitespace@1692..1693 " "
      BLOCK@1693..1751
        LBrace@1693..1694 "{"
        Whitespace@1694..1703 "\n        "
        EXPR_STRUCT_LITERAL@1703..1749
          PATH@1703..1709
            Ident@1703..1708 "Boxed"
            Whitespace@1708..1709 " "
          STRUCT_LITERAL_FIELD_LIST@1709..1749
            LBrace@1709..1710 "{"
            Whitespace@1710..1711 " "
            STRUCT_LITERAL_FIELD@1711..1743
              Ident@1711..1716 "value"
              Colon@1716..1717 ":"
              Whitespace@1717..1718 " "
              EXPR_BINARY@1718..1743
                EXPR_BINARY@1718..1729
                  EXPR_IDENT@1718..1722
                    PATH@1718..1722
                      Ident@1718..1722 "self"
                  Dot@1722..1723 "."
                  EXPR_IDENT@1723..1729
                    PATH@1723..1729
                      Ident@1723..1728 "value"
                      Whitespace@1728..1729 " "
                Plus@1729..1730 "+"
                Whitespace@1730..1731 " "
                EXPR_BINARY@1731..1743
                  EXPR_IDENT@1731..1736
                    PATH@1731..1736
                      Ident@1731..1736 "other"
                  Dot@1736..1737 "."
                  EXPR_IDENT@1737..1743
                    PATH@1737..1743
                      Ident@1737..1742 "value"
                      Whitespace@1742..1743 " "
            RBrace@1743..1744 "}"
            Whitespace@1744..1749 "\n    "
        RBrace@1749..1750 "}"
        Whitespace@1750..1751 "\n"
    RBrace@1751..1752 "}"
    Whitespace@1752..1754 "\n\n"
  IMPL@1754..1883
    ImplKeyword@1754..1758 "impl"
    Whitespace@1758..1759 " "
    TYPE_TAPP@1759..1765
      PATH@1759..1765
        Ident@1759..1764 "Scale"
        Whitespace@1764..1765 " "
    ForKeyword@1765..1768 "for"
    Whitespace@1768..1769 " "
    TYPE_TAPP@1769..1775
      PATH@1769..1775
        Ident@1769..1774 "Boxed"
        Whitespace@1774..1775 " "
    LBrace@1775..1776 "{"
    Whitespace@1776..1781 "\n    "
    FN@1781..1880
      FnKeyword@1781..1783 "fn"
      Whitespace@1783..1784 " "
      Ident@1784..1789 "scale"
      PARAM_LIST@1789..1818
        LParen@1789..1790 "("
        PARAM@1790..1803
          Ident@1790..1794 "self"
          Colon@1794..1795 ":"
          Whitespace@1795..1796 " "
          TYPE_TAPP@1796..1801
            PATH@1796..1801
              Ident@1796..1801 "Boxed"
          Comma@1801..1802 ","
          Whitespace@1802..1803 " "
        PARAM@1803..1816
          Ident@1803..1809 "factor"
          Colon@1809..1810 ":"
          Whitespace@1810..1811 " "
          TYPE_INT32@1811..1816
            Int32Keyword@1811..1816 "int32"
        RParen@1816..1817 ")"
        Whitespace@1817..1818 " "
      Arrow@1818..1820 "->"
      Whitespace@1820..1821 " "
      TYPE_TAPP@1821..1827
        PATH@1821..1827
          Ident@1821..1826 "Boxed"
          Whitespace@1826..1827 " "
      BLOCK@1827..1880
        LBrace@1827..1828 "{"
        Whitespace@1828..1837 "\n        "
        EXPR_STRUCT_LITERAL@1837..1878
          PATH@1837..1843
            Ident@1837..1842 "Boxed"
            Whitespace@1842..1843 " "
          STRUCT_LITERAL_FIELD_LIST@1843..1878
            LBrace@1843..1844 "{"
            Whitespace@1844..1845 " "
            STRUCT_LITERAL_FIELD@1845..1872
              Ident@1845..1850 "value"
              Colon@1850..1851 ":"
              Whitespace@1851..1852 " "
              EXPR_BINARY@1852..1872
                EXPR_BINARY@1852..1863
                  EXPR_IDENT@1852..1856
                    PATH@1852..1856
                      Ident@1852..1856 "self"
                  Dot@1856..1857 "."
                  EXPR_IDENT@1857..1863
                    PATH@1857..1863
                      Ident@1857..1862 "value"
                      Whitespace@1862..1863 " "
                Star@1863..1864 "*"
                Whitespace@1864..1865 " "
                EXPR_IDENT@1865..1872
                  PATH@1865..1872
                    Ident@1865..1871 "factor"
                    Whitespace@1871..1872 " "
            RBrace@1872..1873 "}"
            Whitespace@1873..1878 "\n    "
        RBrace@1878..1879 "}"
        Whitespace@1879..1880 "\n"
    RBrace@1880..1881 "}"
    Whitespace@1881..1883 "\n\n"
  IMPL@1883..2000
    ImplKeyword@1883..1887 "impl"
    Whitespace@1887..1888 " "
    TYPE_TAPP@1888..1896
      PATH@1888..1896
        Ident@1888..1895 "Inspect"
        Whitespace@1895..1896 " "
    ForKeyword@1896..1899 "for"
    Whitespace@1899..1900 " "
    TYPE_TAPP@1900..1906
      PATH@1900..1906
        Ident@1900..1905 "Boxed"
        Whitespace@1905..1906 " "
    LBrace@1906..1907 "{"
    Whitespace@1907..1912 "\n    "
    FN@1912..1997
      FnKeyword@1912..1914 "fn"
      Whitespace@1914..1915 " "
      Ident@1915..1922 "inspect"
      PARAM_LIST@1922..1936
        LParen@1922..1923 "("
        PARAM@1923..1934
          Ident@1923..1927 "self"
          Colon@1927..1928 ":"
          Whitespace@1928..1929 " "
          TYPE_TAPP@1929..1934
            PATH@1929..1934
              Ident@1929..1934 "Boxed"
        RParen@1934..1935 ")"
        Whitespace@1935..1936 " "
      Arrow@1936..1938 "->"
      Whitespace@1938..1939 " "
      TYPE_STRING@1939..1946
        StringKeyword@1939..1945 "string"
        Whitespace@1945..1946 " "
      BLOCK@1946..1997
        LBrace@1946..1947 "{"
        Whitespace@1947..1956 "\n        "
        EXPR_BINARY@1956..1995
          EXPR_BINARY@1956..1985
            EXPR_STR@1956..1960
              Str@1956..1959 "\"[\""
              Whitespace@1959..1960 " "
            Plus@1960..1961 "+"
            Whitespace@1961..1962 " "
            EXPR_CALL@1962..1985
              EXPR_BINARY@1962..1982
                EXPR_BINARY@1962..1972
                  EXPR_IDENT@1962..1966
                    PATH@1962..1966
                      Ident@1962..1966 "self"
                  Dot@1966..1967 "."
                  EXPR_IDENT@1967..1972
                    PATH@1967..1972
                      Ident@1967..1972 "value"
                Dot@1972..1973 "."
                EXPR_IDENT@1973..1982
                  PATH@1973..1982
                    Ident@1973..1982 "to_string"
              ARG_LIST@1982..1985
                LParen@1982..1983 "("
                RParen@1983..1984 ")"
                Whitespace@1984..1985 " "
          Plus@1985..1986 "+"
          Whitespace@1986..1987 " "
          EXPR_STR@1987..1995
            Str@1987..1990 "\"]\""
            Whitespace@1990..1995 "\n    "
        RBrace@1995..1996 "}"
        Whitespace@1996..1997 "\n"
    RBrace@1997..1998 "}"
    Whitespace@1998..2000 "\n\n"
  FN@2000..2074
    FnKeyword@2000..2002 "fn"
    Whitespace@2002..2003 " "
    Ident@2003..2012 "bool_text"
    PARAM_LIST@2012..2022
      LParen@2012..2013 "("
      PARAM@2013..2020
        Ident@2013..2014 "x"
        Colon@2014..2015 ":"
        Whitespace@2015..2016 " "
        TYPE_BOOL@2016..2020
          BoolKeyword@2016..2020 "bool"
      RParen@2020..2021 ")"
      Whitespace@2021..2022 " "
    Arrow@2022..2024 "->"
    Whitespace@2024..2025 " "
    TYPE_STRING@2025..2032
      StringKeyword@2025..2031 "string"
      Whitespace@2031..2032 " "
    BLOCK@2032..2074
      LBrace@2032..2033 "{"
      Whitespace@2033..2038 "\n    "
      EXPR_IF@2038..2071
        IfKeyword@2038..2040 "if"
        Whitespace@2040..2041 " "
        EXPR_IF_COND@2041..2043
          EXPR_IDENT@2041..2043
            PATH@2041..2043
              Ident@2041..2042 "x"
              Whitespace@2042..2043 " "
        EXPR_IF_THEN@2043..2054
          BLOCK@2043..2054
            LBrace@2043..2044 "{"
            Whitespace@2044..2045 " "
            EXPR_STR@2045..2052
              Str@2045..2051 "\"true\""
              Whitespace@2051..2052 " "
            RBrace@2052..2053 "}"
            Whitespace@2053..2054 " "
        ElseKeyword@2054..2058 "else"
        Whitespace@2058..2059 " "
        EXPR_IF_ELSE@2059..2071
          BLOCK@2059..2071
            LBrace@2059..2060 "{"
            Whitespace@2060..2061 " "
            EXPR_STR@2061..2069
              Str@2061..2068 "\"false\""
              Whitespace@2068..2069 " "
            RBrace@2069..2070 "}"
            Whitespace@2070..2071 "\n"
      RBrace@2071..2072 "}"
      Whitespace@2072..2074 "\n\n"
  FN@2074..2176
    FnKeyword@2074..2076 "fn"
    Whitespace@2076..2077 " "
    Ident@2077..2086 "show_both"
    GENERIC_LIST@2086..2106
      LBracket@2086..2087 "["
      GENERIC@2087..2105
        Ident@2087..2088 "T"
        Colon@2088..2089 ":"
        Whitespace@2089..2090 " "
        TRAIT_SET@2090..2105
          TYPE_TAPP@2090..2096
            PATH@2090..2096
              Ident@2090..2095 "Debug"
              Whitespace@2095..2096 " "
          Plus@2096..2097 "+"
          Whitespace@2097..2098 " "
          TYPE_TAPP@2098..2105
            PATH@2098..2105
              Ident@2098..2105 "Display"
      RBracket@2105..2106 "]"
    PARAM_LIST@2106..2113
      LParen@2106..2107 "("
      PARAM@2107..2111
        Ident@2107..2108 "x"
        Colon@2108..2109 ":"
        Whitespace@2109..2110 " "
        TYPE_TAPP@2110..2111
          PATH@2110..2111
            Ident@2110..2111 "T"
      RParen@2111..2112 ")"
      Whitespace@2112..2113 " "
    Arrow@2113..2115 "->"
    Whitespace@2115..2116 " "
    TYPE_STRING@2116..2123
      StringKeyword@2116..2122 "string"
      Whitespace@2122..2123 " "
    BLOCK@2123..2176
      LBrace@2123..2124 "{"
      Whitespace@2124..2129 "\n    "
      EXPR_BINARY@2129..2173
        EXPR_PAREN@2129..2154
          LParen@2129..2130 "("
          EXPR_BINARY@2130..2152
            EXPR_CALL@2130..2145
              EXPR_IDENT@2130..2141
                PATH@2130..2141
                  Ident@2130..2135 "Debug"
                  ColonColon@2135..2137 "::"
                  Ident@2137..2141 "show"
              ARG_LIST@2141..2145
                LParen@2141..2142 "("
                ARG@2142..2143
                  EXPR_IDENT@2142..2143
                    PATH@2142..2143
                      Ident@2142..2143 "x"
                RParen@2143..2144 ")"
                Whitespace@2144..2145 " "
            Plus@2145..2146 "+"
            Whitespace@2146..2147 " "
            EXPR_STR@2147..2152
              Str@2147..2152 "\" / \""
          RParen@2152..2153 ")"
          Whitespace@2153..2154 " "
        Plus@2154..2155 "+"
        Whitespace@2155..2156 " "
        EXPR_CALL@2156..2173
          EXPR_IDENT@2156..2169
            PATH@2156..2169
              Ident@2156..2163 "Display"
              ColonColon@2163..2165 "::"
              Ident@2165..2169 "show"
          ARG_LIST@2169..2173
            LParen@2169..2170 "("
            ARG@2170..2171
              EXPR_IDENT@2170..2171
                PATH@2170..2171
                  Ident@2170..2171 "x"
            RParen@2171..2172 ")"
            Whitespace@2172..2173 "\n"
      RBrace@2173..2174 "}"
      Whitespace@2174..2176 "\n\n"
  FN@2176..2284
    FnKeyword@2176..2178 "fn"
    Whitespace@2178..2179 " "
    Ident@2179..2187 "tag_text"
    GENERIC_LIST@2187..2206
      LBracket@2187..2188 "["
      GENERIC@2188..2205
        Ident@2188..2189 "Q"
        Colon@2189..2190 ":"
        Whitespace@2190..2191 " "
        TRAIT_SET@2191..2205
          TYPE_TAPP@2191..2197
            PATH@2191..2197
              Ident@2191..2196 "Debug"
              Whitespace@2196..2197 " "
          Plus@2197..2198 "+"
          Whitespace@2198..2199 " "
          TYPE_TAPP@2199..2205
            PATH@2199..2205
              Ident@2199..2205 "MyHash"
      RBracket@2205..2206 "]"
    PARAM_LIST@2206..2215
      LParen@2206..2207 "("
      PARAM@2207..2213
        Ident@2207..2210 "tag"
        Colon@2210..2211 ":"
        Whitespace@2211..2212 " "
        TYPE_TAPP@2212..2213
          PATH@2212..2213
            Ident@2212..2213 "Q"
      RParen@2213..2214 ")"
      Whitespace@2214..2215 " "
    Arrow@2215..2217 "->"
    Whitespace@2217..2218 " "
    TYPE_STRING@2218..2225
      StringKeyword@2218..2224 "string"
      Whitespace@2224..2225 " "
    BLOCK@2225..2284
      LBrace@2225..2226 "{"
      Whitespace@2226..2231 "\n    "
      EXPR_BINARY@2231..2281
        EXPR_PAREN@2231..2256
          LParen@2231..2232 "("
          EXPR_BINARY@2232..2254
            EXPR_CALL@2232..2249
              EXPR_IDENT@2232..2243
                PATH@2232..2243
                  Ident@2232..2237 "Debug"
                  ColonColon@2237..2239 "::"
                  Ident@2239..2243 "show"
              ARG_LIST@2243..2249
                LParen@2243..2244 "("
                ARG@2244..2247
                  EXPR_IDENT@2244..2247
                    PATH@2244..2247
                      Ident@2244..2247 "tag"
                RParen@2247..2248 ")"
                Whitespace@2248..2249 " "
            Plus@2249..2250 "+"
            Whitespace@2250..2251 " "
            EXPR_STR@2251..2254
              Str@2251..2254 "\"#\""
          RParen@2254..2255 ")"
          Whitespace@2255..2256 " "
        Plus@2256..2257 "+"
        Whitespace@2257..2258 " "
        EXPR_CALL@2258..2281
          EXPR_BINARY@2258..2278
            EXPR_CALL@2258..2268
              EXPR_BINARY@2258..2266
                EXPR_IDENT@2258..2261
                  PATH@2258..2261
                    Ident@2258..2261 "tag"
                Dot@2261..2262 "."
                EXPR_IDENT@2262..2266
                  PATH@2262..2266
                    Ident@2262..2266 "hash"
              ARG_LIST@2266..2268
                LParen@2266..2267 "("
                RParen@2267..2268 ")"
            Dot@2268..2269 "."
            EXPR_IDENT@2269..2278
              PATH@2269..2278
                Ident@2269..2278 "to_string"
          ARG_LIST@2278..2281
            LParen@2278..2279 "("
            RParen@2279..2280 ")"
            Whitespace@2280..2281 "\n"
      RBrace@2281..2282 "}"
      Whitespace@2282..2284 "\n\n"
  FN@2284..2382
    FnKeyword@2284..2286 "fn"
    Whitespace@2286..2287 " "
    Ident@2287..2301 "combine_scaled"
    GENERIC_LIST@2301..2317
      LBracket@2301..2302 "["
      GENERIC@2302..2316
        Ident@2302..2303 "T"
        Colon@2303..2304 ":"
        Whitespace@2304..2305 " "
        TRAIT_SET@2305..2316
          TYPE_TAPP@2305..2309
            PATH@2305..2309
              Ident@2305..2308 "Add"
              Whitespace@2308..2309 " "
          Plus@2309..2310 "+"
          Whitespace@2310..2311 " "
          TYPE_TAPP@2311..2316
            PATH@2311..2316
              Ident@2311..2316 "Scale"
      RBracket@2316..2317 "]"
    PARAM_LIST@2317..2345
      LParen@2317..2318 "("
      PARAM@2318..2324
        Ident@2318..2319 "a"
        Colon@2319..2320 ":"
        Whitespace@2320..2321 " "
        TYPE_TAPP@2321..2322
          PATH@2321..2322
            Ident@2321..2322 "T"
        Comma@2322..2323 ","
        Whitespace@2323..2324 " "
      PARAM@2324..2330
        Ident@2324..2325 "b"
        Colon@2325..2326 ":"
        Whitespace@2326..2327 " "
        TYPE_TAPP@2327..2328
          PATH@2327..2328
            Ident@2327..2328 "T"
        Comma@2328..2329 ","
        Whitespace@2329..2330 " "
      PARAM@2330..2343
        Ident@2330..2336 "factor"
        Colon@2336..2337 ":"
        Whitespace@2337..2338 " "
        TYPE_INT32@2338..2343
          Int32Keyword@2338..2343 "int32"
      RParen@2343..2344 ")"
      Whitespace@2344..2345 " "
    Arrow@2345..2347 "->"
    Whitespace@2347..2348 " "
    TYPE_TAPP@2348..2350
      PATH@2348..2350
        Ident@2348..2349 "T"
        Whitespace@2349..2350 " "
    BLOCK@2350..2382
      LBrace@2350..2351 "{"
      Whitespace@2351..2356 "\n    "
      EXPR_CALL@2356..2379
        EXPR_BINARY@2356..2370
          EXPR_CALL@2356..2364
            EXPR_BINARY@2356..2361
              EXPR_IDENT@2356..2357
                PATH@2356..2357
                  Ident@2356..2357 "a"
              Dot@2357..2358 "."
              EXPR_IDENT@2358..2361
                PATH@2358..2361
                  Ident@2358..2361 "add"
            ARG_LIST@2361..2364
              LParen@2361..2362 "("
              ARG@2362..2363
                EXPR_IDENT@2362..2363
                  PATH@2362..2363
                    Ident@2362..2363 "b"
              RParen@2363..2364 ")"
          Dot@2364..2365 "."
          EXPR_IDENT@2365..2370
            PATH@2365..2370
              Ident@2365..2370 "scale"
        ARG_LIST@2370..2379
          LParen@2370..2371 "("
          ARG@2371..2377
            EXPR_IDENT@2371..2377
              PATH@2371..2377
                Ident@2371..2377 "factor"
          RParen@2377..2378 ")"
          Whitespace@2378..2379 "\n"
      RBrace@2379..2380 "}"
      Whitespace@2380..2382 "\n\n"
  FN@2382..2720
    FnKeyword@2382..2384 "fn"
    Whitespace@2384..2385 " "
    Ident@2385..2396 "report_pair"
    GENERIC_LIST@2396..2451
      LBracket@2396..2397 "["
      GENERIC@2397..2431
        Ident@2397..2398 "T"
        Colon@2398..2399 ":"
        Whitespace@2399..2400 " "
        TRAIT_SET@2400..2431
          TYPE_TAPP@2400..2406
            PATH@2400..2406
              Ident@2400..2405 "Debug"
              Whitespace@2405..2406 " "
          Plus@2406..2407 "+"
          Whitespace@2407..2408 " "
          TYPE_TAPP@2408..2416
            PATH@2408..2416
              Ident@2408..2415 "Display"
              Whitespace@2415..2416 " "
          Plus@2416..2417 "+"
          Whitespace@2417..2418 " "
          TYPE_TAPP@2418..2423
            PATH@2418..2423
              Ident@2418..2422 "MyEq"
              Whitespace@2422..2423 " "
          Plus@2423..2424 "+"
          Whitespace@2424..2425 " "
          TYPE_TAPP@2425..2431
            PATH@2425..2431
              Ident@2425..2431 "MyHash"
      Comma@2431..2432 ","
      Whitespace@2432..2433 " "
      GENERIC@2433..2450
        Ident@2433..2434 "Q"
        Colon@2434..2435 ":"
        Whitespace@2435..2436 " "
        TRAIT_SET@2436..2450
          TYPE_TAPP@2436..2442
            PATH@2436..2442
              Ident@2436..2441 "Debug"
              Whitespace@2441..2442 " "
          Plus@2442..2443 "+"
          Whitespace@2443..2444 " "
          TYPE_TAPP@2444..2450
            PATH@2444..2450
              Ident@2444..2450 "MyHash"
      RBracket@2450..2451 "]"
    PARAM_LIST@2451..2485
      LParen@2451..2452 "("
      PARAM@2452..2460
        Ident@2452..2455 "tag"
        Colon@2455..2456 ":"
        Whitespace@2456..2457 " "
        TYPE_TAPP@2457..2458
          PATH@2457..2458
            Ident@2457..2458 "Q"
        Comma@2458..2459 ","
        Whitespace@2459..2460 " "
      PARAM@2460..2466
        Ident@2460..2461 "a"
        Colon@2461..2462 ":"
        Whitespace@2462..2463 " "
        TYPE_TAPP@2463..2464
          PATH@2463..2464
            Ident@2463..2464 "T"
        Comma@2464..2465 ","
        Whitespace@2465..2466 " "
      PARAM@2466..2472
        Ident@2466..2467 "b"
        Colon@2467..2468 ":"
        Whitespace@2468..2469 " "
        TYPE_TAPP@2469..2470
          PATH@2469..2470
            Ident@2469..2470 "T"
        Comma@2470..2471 ","
        Whitespace@2471..2472 " "
      PARAM@2472..2483
        Ident@2472..2480 "combined"
        Colon@2480..2481 ":"
        Whitespace@2481..2482 " "
        TYPE_TAPP@2482..2483
          PATH@2482..2483
            Ident@2482..2483 "T"
      RParen@2483..2484 ")"
      Whitespace@2484..2485 " "
    Arrow@2485..2487 "->"
    Whitespace@2487..2488 " "
    TYPE_STRING@2488..2495
      StringKeyword@2488..2494 "string"
      Whitespace@2494..2495 " "
    BLOCK@2495..2720
      LBrace@2495..2496 "{"
      Whitespace@2496..2501 "\n    "
      STMT_LET@2501..2532
        LetKeyword@2501..2504 "let"
        Whitespace@2504..2505 " "
        PATTERN_VARIABLE@2505..2510
          Ident@2505..2509 "same"
          Whitespace@2509..2510 " "
        Eq@2510..2511 "="
        Whitespace@2511..2512 " "
        EXPR_CALL@2512..2526
          EXPR_IDENT@2512..2520
            PATH@2512..2520
              Ident@2512..2516 "MyEq"
              ColonColon@2516..2518 "::"
              Ident@2518..2520 "eq"
          ARG_LIST@2520..2526
            LParen@2520..2521 "("
            ARG@2521..2524
              EXPR_IDENT@2521..2522
                PATH@2521..2522
                  Ident@2521..2522 "a"
              Comma@2522..2523 ","
              Whitespace@2523..2524 " "
            ARG@2524..2525
              EXPR_IDENT@2524..2525
                PATH@2524..2525
                  Ident@2524..2525 "b"
            RParen@2525..2526 ")"
        Semi@2526..2527 ";"
        Whitespace@2527..2532 "\n    "
      STMT_LET@2532..2564
        LetKeyword@2532..2535 "let"
        Whitespace@2535..2536 " "
        PATTERN_VARIABLE@2536..2543
          Ident@2536..2542 "header"
          Whitespace@2542..2543 " "
        Eq@2543..2544 "="
        Whitespace@2544..2545 " "
        EXPR_CALL@2545..2558
          EXPR_IDENT@2545..2553
            PATH@2545..2553
              Ident@2545..2553 "tag_text"
          ARG_LIST@2553..2558
            LParen@2553..2554 "("
            ARG@2554..2557
              EXPR_IDENT@2554..2557
                PATH@2554..2557
                  Ident@2554..2557 "tag"
            RParen@2557..2558 ")"
        Semi@2558..2559 ";"
        Whitespace@2559..2564 "\n    "
      STMT_LET@2564..2600
        LetKeyword@2564..2567 "let"
        Whitespace@2567..2568 " "
        PATTERN_VARIABLE@2568..2573
          Ident@2568..2572 "repr"
          Whitespace@2572..2573 " "
        Eq@2573..2574 "="
        Whitespace@2574..2575 " "
        EXPR_CALL@2575..2594
          EXPR_IDENT@2575..2584
            PATH@2575..2584
              Ident@2575..2584 "show_both"
          ARG_LIST@2584..2594
            LParen@2584..2585 "("
            ARG@2585..2593
              EXPR_IDENT@2585..2593
                PATH@2585..2593
                  Ident@2585..2593 "combined"
            RParen@2593..2594 ")"
        Semi@2594..2595 ";"
        Whitespace@2595..2600 "\n    "
      STMT_LET@2600..2629
        LetKeyword@2600..2603 "let"
        Whitespace@2603..2604 " "
        PATTERN_VARIABLE@2604..2606
          Ident@2604..2605 "h"
          Whitespace@2605..2606 " "
        Eq@2606..2607 "="
        Whitespace@2607..2608 " "
        EXPR_CALL@2608..2623
          EXPR_BINARY@2608..2621
            EXPR_IDENT@2608..2616
              PATH@2608..2616
                Ident@2608..2616 "combined"
            Dot@2616..2617 "."
            EXPR_IDENT@2617..2621
              PATH@2617..2621
                Ident@2617..2621 "hash"
          ARG_LIST@2621..2623
            LParen@2621..2622 "("
            RParen@2622..2623 ")"
        Semi@2623..2624 ";"
        Whitespace@2624..2629 "\n    "
      EXPR_BINARY@2629..2717
        EXPR_PAREN@2629..2653
          LParen@2629..2630 "("
          EXPR_BINARY@2630..2651
            EXPR_PAREN@2630..2645
              LParen@2630..2631 "("
              EXPR_BINARY@2631..2643
                EXPR_IDENT@2631..2638
                  PATH@2631..2638
                    Ident@2631..2637 "header"
                    Whitespace@2637..2638 " "
                Plus@2638..2639 "+"
                Whitespace@2639..2640 " "
                EXPR_STR@2640..2643
                  Str@2640..2643 "\" \""
              RParen@2643..2644 ")"
              Whitespace@2644..2645 " "
            Plus@2645..2646 "+"
            Whitespace@2646..2647 " "
            EXPR_IDENT@2647..2651
              PATH@2647..2651
                Ident@2647..2651 "repr"
          RParen@2651..2652 ")"
          Whitespace@2652..2653 " "
        Plus@2653..2654 "+"
        Whitespace@2654..2655 " "
        EXPR_PAREN@2655..2717
          LParen@2655..2656 "("
          EXPR_BINARY@2656..2715
            EXPR_PAREN@2656..2685
              LParen@2656..2657 "("
              EXPR_BINARY@2657..2683
                EXPR_STR@2657..2666
                  Str@2657..2665 "\" | eq=\""
                  Whitespace@2665..2666 " "
                Plus@2666..2667 "+"
                Whitespace@2667..2668 " "
                EXPR_CALL@2668..2683
                  EXPR_IDENT@2668..2677
                    PATH@2668..2677
                      Ident@2668..2677 "bool_text"
                  ARG_LIST@2677..2683
                    LParen@2677..2678 "("
                    ARG@2678..2682
                      EXPR_IDENT@2678..2682
                        PATH@2678..2682
                          Ident@2678..2682 "same"
                    RParen@2682..2683 ")"
              RParen@2683..2684 ")"
              Whitespace@2684..2685 " "
            Plus@2685..2686 "+"
            Whitespace@2686..2687 " "
            EXPR_PAREN@2687..2715
              LParen@2687..2688 "("
              EXPR_BINARY@2688..2714
                EXPR_STR@2688..2699
                  Str@2688..2698 "\" | hash=\""
                  Whitespace@2698..2699 " "
                Plus@2699..2700 "+"
                Whitespace@2700..2701 " "
                EXPR_CALL@2701..2714
                  EXPR_BINARY@2701..2712
                    EXPR_IDENT@2701..2702
                      PATH@2701..2702
                        Ident@2701..2702 "h"
                    Dot@2702..2703 "."
                    EXPR_IDENT@2703..2712
                      PATH@2703..2712
                        Ident@2703..2712 "to_string"
                  ARG_LIST@2712..2714
                    LParen@2712..2713 "("
                    RParen@2713..2714 ")"
              RParen@2714..2715 ")"
          RParen@2715..2716 ")"
          Whitespace@2716..2717 "\n"
      RBrace@2717..2718 "}"
      Whitespace@2718..2720 "\n\n"
  FN@2720..2928
    FnKeyword@2720..2722 "fn"
    Whitespace@2722..2723 " "
    Ident@2723..2734 "full_report"
    GENERIC_LIST@2734..2811
      LBracket@2734..2735 "["
      GENERIC@2735..2791
        Ident@2735..2736 "T"
        Colon@2736..2737 ":"
        Whitespace@2737..2738 " "
        TRAIT_SET@2738..2791
          TYPE_TAPP@2738..2744
            PATH@2738..2744
              Ident@2738..2743 "Debug"
              Whitespace@2743..2744 " "
          Plus@2744..2745 "+"
          Whitespace@2745..2746 " "
          TYPE_TAPP@2746..2753
            PATH@2746..2753
              Ident@2746..2752 "MyHash"
              Whitespace@2752..2753 " "
          Plus@2753..2754 "+"
          Whitespace@2754..2755 " "
          TYPE_TAPP@2755..2763
            PATH@2755..2763
              Ident@2755..2762 "Display"
              Whitespace@2762..2763 " "
          Plus@2763..2764 "+"
          Whitespace@2764..2765 " "
          TYPE_TAPP@2765..2770
            PATH@2765..2770
              Ident@2765..2769 "MyEq"
              Whitespace@2769..2770 " "
          Plus@2770..2771 "+"
          Whitespace@2771..2772 " "
          TYPE_TAPP@2772..2776
            PATH@2772..2776
              Ident@2772..2775 "Add"
              Whitespace@2775..2776 " "
          Plus@2776..2777 "+"
          Whitespace@2777..2778 " "
          TYPE_TAPP@2778..2784
            PATH@2778..2784
              Ident@2778..2783 "Scale"
              Whitespace@2783..2784 " "
          Plus@2784..2785 "+"
          Whitespace@2785..2786 " "
          TYPE_TAPP@2786..2791
            PATH@2786..2791
              Ident@2786..2791 "Debug"
      Comma@2791..2792 ","
      Whitespace@2792..2793 " "
      GENERIC@2793..2810
        Ident@2793..2794 "Q"
        Colon@2794..2795 ":"
        Whitespace@2795..2796 " "
        TRAIT_SET@2796..2810
          TYPE_TAPP@2796..2802
            PATH@2796..2802
              Ident@2796..2801 "Debug"
              Whitespace@2801..2802 " "
          Plus@2802..2803 "+"
          Whitespace@2803..2804 " "
          TYPE_TAPP@2804..2810
            PATH@2804..2810
              Ident@2804..2810 "MyHash"
      RBracket@2810..2811 "]"
    PARAM_LIST@2811..2832
      LParen@2811..2812 "("
      PARAM@2812..2820
        Ident@2812..2815 "tag"
        Colon@2815..2816 ":"
        Whitespace@2816..2817 " "
        TYPE_TAPP@2817..2818
          PATH@2817..2818
            Ident@2817..2818 "Q"
        Comma@2818..2819 ","
        Whitespace@2819..2820 " "
      PARAM@2820..2826
        Ident@2820..2821 "a"
        Colon@2821..2822 ":"
        Whitespace@2822..2823 " "
        TYPE_TAPP@2823..2824
          PATH@2823..2824
            Ident@2823..2824 "T"
        Comma@2824..2825 ","
        Whitespace@2825..2826 " "
      PARAM@2826..2830
        Ident@2826..2827 "b"
        Colon@2827..2828 ":"
        Whitespace@2828..2829 " "
        TYPE_TAPP@2829..2830
          PATH@2829..2830
            Ident@2829..2830 "T"
      RParen@2830..2831 ")"
      Whitespace@2831..2832 " "
    Arrow@2832..2834 "->"
    Whitespace@2834..2835 " "
    TYPE_STRING@2835..2842
      StringKeyword@2835..2841 "string"
      Whitespace@2841..2842 " "
    BLOCK@2842..2928
      LBrace@2842..2843 "{"
      Whitespace@2843..2848 "\n    "
      STMT_LET@2848..2892
        LetKeyword@2848..2851 "let"
        Whitespace@2851..2852 " "
        PATTERN_VARIABLE@2852..2861
          Ident@2852..2860 "combined"
          Whitespace@2860..2861 " "
        Eq@2861..2862 "="
        Whitespace@2862..2863 " "
        EXPR_CALL@2863..2886
          EXPR_IDENT@2863..2877
            PATH@2863..2877
              Ident@2863..2877 "combine_scaled"
          ARG_LIST@2877..2886
            LParen@2877..2878 "("
            ARG@2878..2881
              EXPR_IDENT@2878..2879
                PATH@2878..2879
                  Ident@2878..2879 "a"
              Comma@2879..2880 ","
              Whitespace@2880..2881 " "
            ARG@2881..2884
              EXPR_IDENT@2881..2882
                PATH@2881..2882
                  Ident@2881..2882 "b"
              Comma@2882..2883 ","
              Whitespace@2883..2884 " "
            ARG@2884..2885
              EXPR_INT@2884..2885
                Int@2884..2885 "2"
            RParen@2885..2886 ")"
        Semi@2886..2887 ";"
        Whitespace@2887..2892 "\n    "
      EXPR_CALL@2892..2925
        EXPR_IDENT@2892..2903
          PATH@2892..2903
            Ident@2892..2903 "report_pair"
        ARG_LIST@2903..2925
          LParen@2903..2904 "("
          ARG@2904..2909
            EXPR_IDENT@2904..2907
              PATH@2904..2907
                Ident@2904..2907 "tag"
            Comma@2907..2908 ","
            Whitespace@2908..2909 " "
          ARG@2909..2912
            EXPR_IDENT@2909..2910
              PATH@2909..2910
                Ident@2909..2910 "a"
            Comma@2910..2911 ","
            Whitespace@2911..2912 " "
          ARG@2912..2915
            EXPR_IDENT@2912..2913
              PATH@2912..2913
                Ident@2912..2913 "b"
            Comma@2913..2914 ","
            Whitespace@2914..2915 " "
          ARG@2915..2923
            EXPR_IDENT@2915..2923
              PATH@2915..2923
                Ident@2915..2923 "combined"
          RParen@2923..2924 ")"
          Whitespace@2924..2925 "\n"
      RBrace@2925..2926 "}"
      Whitespace@2926..2928 "\n\n"
  FN@2928..3185
    FnKeyword@2928..2930 "fn"
    Whitespace@2930..2931 " "
    Ident@2931..2942 "sum_and_tag"
    GENERIC_LIST@2942..2988
      LBracket@2942..2943 "["
      GENERIC@2943..2968
        Ident@2943..2944 "T"
        Colon@2944..2945 ":"
        Whitespace@2945..2946 " "
        TRAIT_SET@2946..2968
          TYPE_TAPP@2946..2950
            PATH@2946..2950
              Ident@2946..2949 "Add"
              Whitespace@2949..2950 " "
          Plus@2950..2951 "+"
          Whitespace@2951..2952 " "
          TYPE_TAPP@2952..2959
            PATH@2952..2959
              Ident@2952..2958 "MyHash"
              Whitespace@2958..2959 " "
          Plus@2959..2960 "+"
          Whitespace@2960..2961 " "
          TYPE_TAPP@2961..2968
            PATH@2961..2968
              Ident@2961..2968 "Inspect"
      Comma@2968..2969 ","
      Whitespace@2969..2970 " "
      GENERIC@2970..2987
        Ident@2970..2971 "Q"
        Colon@2971..2972 ":"
        Whitespace@2972..2973 " "
        TRAIT_SET@2973..2987
          TYPE_TAPP@2973..2979
            PATH@2973..2979
              Ident@2973..2978 "Debug"
              Whitespace@2978..2979 " "
          Plus@2979..2980 "+"
          Whitespace@2980..2981 " "
          TYPE_TAPP@2981..2987
            PATH@2981..2987
              Ident@2981..2987 "MyHash"
      RBracket@2987..2988 "]"
    PARAM_LIST@2988..3015
      LParen@2988..2989 "("
      PARAM@2989..2997
        Ident@2989..2992 "tag"
        Colon@2992..2993 ":"
        Whitespace@2993..2994 " "
        TYPE_TAPP@2994..2995
          PATH@2994..2995
            Ident@2994..2995 "Q"
        Comma@2995..2996 ","
        Whitespace@2996..2997 " "
      PARAM@2997..3003
        Ident@2997..2998 "x"
        Colon@2998..2999 ":"
        Whitespace@2999..3000 " "
        TYPE_TAPP@3000..3001
          PATH@3000..3001
            Ident@3000..3001 "T"
        Comma@3001..3002 ","
        Whitespace@3002..3003 " "
      PARAM@3003..3009
        Ident@3003..3004 "y"
        Colon@3004..3005 ":"
        Whitespace@3005..3006 " "
        TYPE_TAPP@3006..3007
          PATH@3006..3007
            Ident@3006..3007 "T"
        Comma@3007..3008 ","
        Whitespace@3008..3009 " "
      PARAM@3009..3013
        Ident@3009..3010 "z"
        Colon@3010..3011 ":"
        Whitespace@3011..3012 " "
        TYPE_TAPP@3012..3013
          PATH@3012..3013
            Ident@3012..3013 "T"
      RParen@3013..3014 ")"
      Whitespace@3014..3015 " "
    Arrow@3015..3017 "->"
    Whitespace@3017..3018 " "
    TYPE_STRING@3018..3025
      StringKeyword@3018..3024 "string"
      Whitespace@3024..3025 " "
    BLOCK@3025..3185
      LBrace@3025..3026 "{"
      Whitespace@3026..3031 "\n    "
      STMT_LET@3031..3064
        LetKeyword@3031..3034 "let"
        Whitespace@3034..3035 " "
        PATTERN_VARIABLE@3035..3041
          Ident@3035..3040 "total"
          Whitespace@3040..3041 " "
        Eq@3041..3042 "="
        Whitespace@3042..3043 " "
        EXPR_CALL@3043..3058
          EXPR_BINARY@3043..3055
            EXPR_CALL@3043..3051
              EXPR_BINARY@3043..3048
                EXPR_IDENT@3043..3044
                  PATH@3043..3044
                    Ident@3043..3044 "x"
                Dot@3044..3045 "."
                EXPR_IDENT@3045..3048
                  PATH@3045..3048
                    Ident@3045..3048 "add"
              ARG_LIST@3048..3051
                LParen@3048..3049 "("
                ARG@3049..3050
                  EXPR_IDENT@3049..3050
                    PATH@3049..3050
                      Ident@3049..3050 "y"
                RParen@3050..3051 ")"
            Dot@3051..3052 "."
            EXPR_IDENT@3052..3055
              PATH@3052..3055
                Ident@3052..3055 "add"
          ARG_LIST@3055..3058
            LParen@3055..3056 "("
            ARG@3056..3057
              EXPR_IDENT@3056..3057
                PATH@3056..3057
                  Ident@3056..3057 "z"
            RParen@3057..3058 ")"
        Semi@3058..3059 ";"
        Whitespace@3059..3064 "\n    "
      STMT_LET@3064..3096
        LetKeyword@3064..3067 "let"
        Whitespace@3067..3068 " "
        PATTERN_VARIABLE@3068..3075
          Ident@3068..3074 "header"
          Whitespace@3074..3075 " "
        Eq@3075..3076 "="
        Whitespace@3076..3077 " "
        EXPR_CALL@3077..3090
          EXPR_IDENT@3077..3085
            PATH@3077..3085
              Ident@3077..3085 "tag_text"
          ARG_LIST@3085..3090
            LParen@3085..3086 "("
            ARG@3086..3089
              EXPR_IDENT@3086..3089
                PATH@3086..3089
                  Ident@3086..3089 "tag"
            RParen@3089..3090 ")"
        Semi@3090..3091 ";"
        Whitespace@3091..3096 "\n    "
      STMT_LET@3096..3122
        LetKeyword@3096..3099 "let"
        Whitespace@3099..3100 " "
        PATTERN_VARIABLE@3100..3102
          Ident@3100..3101 "h"
          Whitespace@3101..3102 " "
        Eq@3102..3103 "="
        Whitespace@3103..3104 " "
        EXPR_CALL@3104..3116
          EXPR_BINARY@3104..3114
            EXPR_IDENT@3104..3109
              PATH@3104..3109
                Ident@3104..3109 "total"
            Dot@3109..3110 "."
            EXPR_IDENT@3110..3114
              PATH@3110..3114
                Ident@3110..3114 "hash"
          ARG_LIST@3114..3116
            LParen@3114..3115 "("
            RParen@3115..3116 ")"
        Semi@3116..3117 ";"
        Whitespace@3117..3122 "\n    "
      EXPR_BINARY@3122..3182
        EXPR_PAREN@3122..3157
          LParen@3122..3123 "("
          EXPR_BINARY@3123..3155
            EXPR_PAREN@3123..3138
              LParen@3123..3124 "("
              EXPR_BINARY@3124..3136
                EXPR_IDENT@3124..3131
                  PATH@3124..3131
                    Ident@3124..3130 "header"
                    Whitespace@3130..3131 " "
                Plus@3131..3132 "+"
                Whitespace@3132..3133 " "
                EXPR_STR@3133..3136
                  Str@3133..3136 "\" \""
              RParen@3136..3137 ")"
              Whitespace@3137..3138 " "
            Plus@3138..3139 "+"
            Whitespace@3139..3140 " "
            EXPR_CALL@3140..3155
              EXPR_BINARY@3140..3153
                EXPR_IDENT@3140..3145
                  PATH@3140..3145
                    Ident@3140..3145 "total"
                Dot@3145..3146 "."
                EXPR_IDENT@3146..3153
                  PATH@3146..3153
                    Ident@3146..3153 "inspect"
              ARG_LIST@3153..3155
                LParen@3153..3154 "("
                RParen@3154..3155 ")"
          RParen@3155..3156 ")"
          Whitespace@3156..3157 " "
        Plus@3157..3158 "+"
        Whitespace@3158..3159 " "
        EXPR_PAREN@3159..3182
          LParen@3159..3160 "("
          EXPR_BINARY@3160..3180
            EXPR_STR@3160..3165
              Str@3160..3164 "\" @\""
              Whitespace@3164..3165 " "
            Plus@3165..3166 "+"
            Whitespace@3166..3167 " "
            EXPR_CALL@3167..3180
              EXPR_BINARY@3167..3178
                EXPR_IDENT@3167..3168
                  PATH@3167..3168
                    Ident@3167..3168 "h"
                Dot@3168..3169 "."
                EXPR_IDENT@3169..3178
                  PATH@3169..3178
                    Ident@3169..3178 "to_string"
              ARG_LIST@3178..3180
                LParen@3178..3179 "("
                RParen@3179..3180 ")"
          RParen@3180..3181 ")"
          Whitespace@3181..3182 "\n"
      RBrace@3182..3183 "}"
      Whitespace@3183..3185 "\n\n"
  FN@3185..3506
    FnKeyword@3185..3187 "fn"
    Whitespace@3187..3188 " "
    Ident@3188..3192 "main"
    PARAM_LIST@3192..3195
      LParen@3192..3193 "("
      RParen@3193..3194 ")"
      Whitespace@3194..3195 " "
    BLOCK@3195..3506
      LBrace@3195..3196 "{"
      Whitespace@3196..3201 "\n    "
      STMT_LET@3201..3246
        LetKeyword@3201..3204 "let"
        Whitespace@3204..3205 " "
        PATTERN_WILDCARD@3205..3207
          WildcardKeyword@3205..3206 "_"
          Whitespace@3206..3207 " "
        Eq@3207..3208 "="
        Whitespace@3208..3209 " "
        EXPR_CALL@3209..3240
          EXPR_IDENT@3209..3216
            PATH@3209..3216
              Ident@3209..3216 "println"
          ARG_LIST@3216..3240
            LParen@3216..3217 "("
            ARG@3217..3239
              EXPR_CALL@3217..3239
                EXPR_IDENT@3217..3228
                  PATH@3217..3228
                    Ident@3217..3228 "full_report"
                ARG_LIST@3228..3239
                  LParen@3228..3229 "("
                  ARG@3229..3232
                    EXPR_INT@3229..3230
                      Int@3229..3230 "7"
                    Comma@3230..3231 ","
                    Whitespace@3231..3232 " "
                  ARG@3232..3236
                    EXPR_INT@3232..3234
                      Int@3232..3234 "10"
                    Comma@3234..3235 ","
                    Whitespace@3235..3236 " "
                  ARG@3236..3238
                    EXPR_INT@3236..3238
                      Int@3236..3238 "32"
                  RParen@3238..3239 ")"
            RParen@3239..3240 ")"
        Semi@3240..3241 ";"
        Whitespace@3241..3246 "\n    "
      STMT_LET@3246..3341
        LetKeyword@3246..3249 "let"
        Whitespace@3249..3250 " "
        PATTERN_WILDCARD@3250..3252
          WildcardKeyword@3250..3251 "_"
          Whitespace@3251..3252 " "
        Eq@3252..3253 "="
        Whitespace@3253..3254 " "
        EXPR_CALL@3254..3335
          EXPR_IDENT@3254..3261
            PATH@3254..3261
              Ident@3254..3261 "println"
          ARG_LIST@3261..3335
            LParen@3261..3262 "("
            ARG@3262..3334
              EXPR_CALL@3262..3334
                EXPR_IDENT@3262..3273
                  PATH@3262..3273
                    Ident@3262..3273 "full_report"
                ARG_LIST@3273..3334
                  LParen@3273..3274 "("
                  ARG@3274..3295
                    EXPR_STRUCT_LITERAL@3274..3293
                      PATH@3274..3280
                        Ident@3274..3279 "Boxed"
                        Whitespace@3279..3280 " "
                      STRUCT_LITERAL_FIELD_LIST@3280..3293
                        LBrace@3280..3281 "{"
                        Whitespace@3281..3282 " "
                        STRUCT_LITERAL_FIELD@3282..3292
                          Ident@3282..3287 "value"
                          Colon@3287..3288 ":"
                          Whitespace@3288..3289 " "
                          EXPR_INT@3289..3292
                            Int@3289..3291 "99"
                            Whitespace@3291..3292 " "
                        RBrace@3292..3293 "}"
                    Comma@3293..3294 ","
                    Whitespace@3294..3295 " "
                  ARG@3295..3315
                    EXPR_STRUCT_LITERAL@3295..3313
                      PATH@3295..3301
                        Ident@3295..3300 "Boxed"
                        Whitespace@3300..3301 " "
                      STRUCT_LITERAL_FIELD_LIST@3301..3313
                        LBrace@3301..3302 "{"
                        Whitespace@3302..3303 " "
                        STRUCT_LITERAL_FIELD@3303..3312
                          Ident@3303..3308 "value"
                          Colon@3308..3309 ":"
                          Whitespace@3309..3310 " "
                          EXPR_INT@3310..3312
                            Int@3310..3311 "3"
                            Whitespace@3311..3312 " "
                        RBrace@3312..3313 "}"
                    Comma@3313..3314 ","
                    Whitespace@3314..3315 " "
                  ARG@3315..3333
                    EXPR_STRUCT_LITERAL@3315..3333
                      PATH@3315..3321
                        Ident@3315..3320 "Boxed"
                        Whitespace@3320..3321 " "
                      STRUCT_LITERAL_FIELD_LIST@3321..3333
                        LBrace@3321..3322 "{"
                        Whitespace@3322..3323 " "
                        STRUCT_LITERAL_FIELD@3323..3332
                          Ident@3323..3328 "value"
                          Colon@3328..3329 ":"
                          Whitespace@3329..3330 " "
                          EXPR_INT@3330..3332
                            Int@3330..3331 "4"
                            Whitespace@3331..3332 " "
                        RBrace@3332..3333 "}"
                  RParen@3333..3334 ")"
            RParen@3334..3335 ")"
        Semi@3335..3336 ";"
        Whitespace@3336..3341 "\n    "
      STMT_LET@3341..3387
        LetKeyword@3341..3344 "let"
        Whitespace@3344..3345 " "
        PATTERN_WILDCARD@3345..3347
          WildcardKeyword@3345..3346 "_"
          Whitespace@3346..3347 " "
        Eq@3347..3348 "="
        Whitespace@3348..3349 " "
        EXPR_CALL@3349..3381
          EXPR_IDENT@3349..3356
            PATH@3349..3356
              Ident@3349..3356 "println"
          ARG_LIST@3356..3381
            LParen@3356..3357 "("
            ARG@3357..3380
              EXPR_CALL@3357..3380
                EXPR_IDENT@3357..3368
                  PATH@3357..3368
                    Ident@3357..3368 "sum_and_tag"
                ARG_LIST@3368..3380
                  LParen@3368..3369 "("
                  ARG@3369..3372
                    EXPR_INT@3369..3370
                      Int@3369..3370 "0"
                    Comma@3370..3371 ","
                    Whitespace@3371..3372 " "
                  ARG@3372..3375
                    EXPR_INT@3372..3373
                      Int@3372..3373 "1"
                    Comma@3373..3374 ","
                    Whitespace@3374..3375 " "
                  ARG@3375..3378
                    EXPR_INT@3375..3376
                      Int@3375..3376 "2"
                    Comma@3376..3377 ","
                    Whitespace@3377..3378 " "
                  ARG@3378..3379
                    EXPR_INT@3378..3379
                      Int@3378..3379 "3"
                  RParen@3379..3380 ")"
            RParen@3380..3381 ")"
        Semi@3381..3382 ";"
        Whitespace@3382..3387 "\n    "
      STMT_LET@3387..3501
        LetKeyword@3387..3390 "let"
        Whitespace@3390..3391 " "
        PATTERN_WILDCARD@3391..3393
          WildcardKeyword@3391..3392 "_"
          Whitespace@3392..3393 " "
        Eq@3393..3394 "="
        Whitespace@3394..3395 " "
        EXPR_CALL@3395..3495
          EXPR_IDENT@3395..3402
            PATH@3395..3402
              Ident@3395..3402 "println"
          ARG_LIST@3402..3495
            LParen@3402..3403 "("
            ARG@3403..3494
              EXPR_CALL@3403..3494
                EXPR_IDENT@3403..3414
                  PATH@3403..3414
                    Ident@3403..3414 "sum_and_tag"
                ARG_LIST@3414..3494
                  LParen@3414..3415 "("
                  ARG@3415..3435
                    EXPR_STRUCT_LITERAL@3415..3433
                      PATH@3415..3421
                        Ident@3415..3420 "Boxed"
                        Whitespace@3420..3421 " "
                      STRUCT_LITERAL_FIELD_LIST@3421..3433
                        LBrace@3421..3422 "{"
                        Whitespace@3422..3423 " "
                        STRUCT_LITERAL_FIELD@3423..3432
                          Ident@3423..3428 "value"
                          Colon@3428..3429 ":"
                          Whitespace@3429..3430 " "
                          EXPR_INT@3430..3432
                            Int@3430..3431 "1"
                            Whitespace@3431..3432 " "
                        RBrace@3432..3433 "}"
                    Comma@3433..3434 ","
                    Whitespace@3434..3435 " "
                  ARG@3435..3455
                    EXPR_STRUCT_LITERAL@3435..3453
                      PATH@3435..3441
                        Ident@3435..3440 "Boxed"
                        Whitespace@3440..3441 " "
                      STRUCT_LITERAL_FIELD_LIST@3441..3453
                        LBrace@3441..3442 "{"
                        Whitespace@3442..3443 " "
                        STRUCT_LITERAL_FIELD@3443..3452
                          Ident@3443..3448 "value"
                          Colon@3448..3449 ":"
                          Whitespace@3449..3450 " "
                          EXPR_INT@3450..3452
                            Int@3450..3451 "5"
                            Whitespace@3451..3452 " "
                        RBrace@3452..3453 "}"
                    Comma@3453..3454 ","
                    Whitespace@3454..3455 " "
                  ARG@3455..3475
                    EXPR_STRUCT_LITERAL@3455..3473
                      PATH@3455..3461
                        Ident@3455..3460 "Boxed"
                        Whitespace@3460..3461 " "
                      STRUCT_LITERAL_FIELD_LIST@3461..3473
                        LBrace@3461..3462 "{"
                        Whitespace@3462..3463 " "
                        STRUCT_LITERAL_FIELD@3463..3472
                          Ident@3463..3468 "value"
                          Colon@3468..3469 ":"
                          Whitespace@3469..3470 " "
                          EXPR_INT@3470..3472
                            Int@3470..3471 "6"
                            Whitespace@3471..3472 " "
                        RBrace@3472..3473 "}"
                    Comma@3473..3474 ","
                    Whitespace@3474..3475 " "
                  ARG@3475..3493
                    EXPR_STRUCT_LITERAL@3475..3493
                      PATH@3475..3481
                        Ident@3475..3480 "Boxed"
                        Whitespace@3480..3481 " "
                      STRUCT_LITERAL_FIELD_LIST@3481..3493
                        LBrace@3481..3482 "{"
                        Whitespace@3482..3483 " "
                        STRUCT_LITERAL_FIELD@3483..3492
                          Ident@3483..3488 "value"
                          Colon@3488..3489 ":"
                          Whitespace@3489..3490 " "
                          EXPR_INT@3490..3492
                            Int@3490..3491 "7"
                            Whitespace@3491..3492 " "
                        RBrace@3492..3493 "}"
                  RParen@3493..3494 ")"
            RParen@3494..3495 ")"
        Semi@3495..3496 ";"
        Whitespace@3496..3501 "\n    "
      EXPR_UNIT@3501..3504
        LParen@3501..3502 "("
        RParen@3502..3503 ")"
        Whitespace@3503..3504 "\n"
      RBrace@3504..3505 "}"
      Whitespace@3505..3506 "\n"