FILE@0..3519
  TRAIT@0..48
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..48
      TRAIT_METHOD_SIG@20..43
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        TYPE_LIST@27..34
          LParen@27..28 "("
          TYPE_TAPP@28..32
            PATH@28..32
              Ident@28..32 "Self"
          RParen@32..33 ")"
          Whitespace@33..34 " "
        Arrow@34..36 "->"
        Whitespace@36..37 " "
        TYPE_STRING@37..43
          StringKeyword@37..43 "string"
      Semi@43..44 ";"
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  TRAIT@48..94
    TraitKeyword@48..53 "trait"
    Whitespace@53..54 " "
    Ident@54..59 "Debug"
    Whitespace@59..60 " "
    LBrace@60..61 "{"
    Whitespace@61..66 "\n    "
    TRAIT_METHOD_SIG_LIST@66..94
      TRAIT_METHOD_SIG@66..89
        FnKeyword@66..68 "fn"
        Whitespace@68..69 " "
        Ident@69..73 "show"
        TYPE_LIST@73..80
          LParen@73..74 "("
          TYPE_TAPP@74..78
            PATH@74..78
              Ident@74..78 "Self"
          RParen@78..79 ")"
          Whitespace@79..80 " "
        Arrow@80..82 "->"
        Whitespace@82..83 " "
        TYPE_STRING@83..89
          StringKeyword@83..89 "string"
      Semi@89..90 ";"
      Whitespace@90..91 "\n"
      RBrace@91..92 "}"
      Whitespace@92..94 "\n\n"
  TRAIT@94..141
    TraitKeyword@94..99 "trait"
    Whitespace@99..100 " "
    Ident@100..104 "MyEq"
    Whitespace@104..105 " "
    LBrace@105..106 "{"
    Whitespace@106..111 "\n    "
    TRAIT_METHOD_SIG_LIST@111..141
      TRAIT_METHOD_SIG@111..136
        FnKeyword@111..113 "fn"
        Whitespace@113..114 " "
        Ident@114..116 "eq"
        TYPE_LIST@116..129
          LParen@116..117 "("
          TYPE_TAPP@117..121
            PATH@117..121
              Ident@117..121 "Self"
          Comma@121..122 ","
          Whitespace@122..123 " "
          TYPE_TAPP@123..127
            PATH@123..127
              Ident@123..127 "Self"
          RParen@127..128 ")"
          Whitespace@128..129 " "
        Arrow@129..131 "->"
        Whitespace@131..132 " "
        TYPE_BOOL@132..136
          BoolKeyword@132..136 "bool"
      Semi@136..137 ";"
      Whitespace@137..138 "\n"
      RBrace@138..139 "}"
      Whitespace@139..141 "\n\n"
  TRAIT@141..187
    TraitKeyword@141..146 "trait"
    Whitespace@146..147 " "
    Ident@147..153 "MyHash"
    Whitespace@153..154 " "
    LBrace@154..155 "{"
    Whitespace@155..160 "\n    "
    TRAIT_METHOD_SIG_LIST@160..187
      TRAIT_METHOD_SIG@160..182
        FnKeyword@160..162 "fn"
        Whitespace@162..163 " "
        Ident@163..167 "hash"
        TYPE_LIST@167..174
          LParen@167..168 "("
          TYPE_TAPP@168..172
            PATH@168..172
              Ident@168..172 "Self"
          RParen@172..173 ")"
          Whitespace@173..174 " "
        Arrow@174..176 "->"
        Whitespace@176..177 " "
        TYPE_INT32@177..182
          Int32Keyword@177..182 "int32"
      Semi@182..183 ";"
      Whitespace@183..184 "\n"
      RBrace@184..185 "}"
      Whitespace@185..187 "\n\n"
  TRAIT@187..234
    TraitKeyword@187..192 "trait"
    Whitespace@192..193 " "
    Ident@193..196 "Add"
    Whitespace@196..197 " "
    LBrace@197..198 "{"
    Whitespace@198..203 "\n    "
    TRAIT_METHOD_SIG_LIST@203..234
      TRAIT_METHOD_SIG@203..229
        FnKeyword@203..205 "fn"
        Whitespace@205..206 " "
        Ident@206..209 "add"
        TYPE_LIST@209..222
          LParen@209..210 "("
          TYPE_TAPP@210..214
            PATH@210..214
              Ident@210..214 "Self"
          Comma@214..215 ","
          Whitespace@215..216 " "
          TYPE_TAPP@216..220
            PATH@216..220
              Ident@216..220 "Self"
          RParen@220..221 ")"
          Whitespace@221..222 " "
        Arrow@222..224 "->"
        Whitespace@224..225 " "
        TYPE_TAPP@225..229
          PATH@225..229
            Ident@225..229 "Self"
      Semi@229..230 ";"
      Whitespace@230..231 "\n"
      RBrace@231..232 "}"
      Whitespace@232..234 "\n\n"
  TRAIT@234..286
    TraitKeyword@234..239 "trait"
    Whitespace@239..240 " "
    Ident@240..245 "Scale"
    Whitespace@245..246 " "
    LBrace@246..247 "{"
    Whitespace@247..252 "\n    "
    TRAIT_METHOD_SIG_LIST@252..286
      TRAIT_METHOD_SIG@252..281
        FnKeyword@252..254 "fn"
        Whitespace@254..255 " "
        Ident@255..260 "scale"
        TYPE_LIST@260..274
          LParen@260..261 "("
          TYPE_TAPP@261..265
            PATH@261..265
              Ident@261..265 "Self"
          Comma@265..266 ","
          Whitespace@266..267 " "
          TYPE_INT32@267..272
            Int32Keyword@267..272 "int32"
          RParen@272..273 ")"
          Whitespace@273..274 " "
        Arrow@274..276 "->"
        Whitespace@276..277 " "
        TYPE_TAPP@277..281
          PATH@277..281
            Ident@277..281 "Self"
      Semi@281..282 ";"
      Whitespace@282..283 "\n"
      RBrace@283..284 "}"
      Whitespace@284..286 "\n\n"
  TRAIT@286..337
    TraitKeyword@286..291 "trait"
    Whitespace@291..292 " "
    Ident@292..299 "Inspect"
    Whitespace@299..300 " "
    LBrace@300..301 "{"
    Whitespace@301..306 "\n    "
    TRAIT_METHOD_SIG_LIST@306..337
      TRAIT_METHOD_SIG@306..332
        FnKeyword@306..308 "fn"
        Whitespace@308..309 " "
        Ident@309..316 "inspect"
        TYPE_LIST@316..323
          LParen@316..317 "("
          TYPE_TAPP@317..321
            PATH@317..321
              Ident@317..321 "Self"
          RParen@321..322 ")"
          Whitespace@322..323 " "
        Arrow@323..325 "->"
        Whitespace@325..326 " "
        TYPE_STRING@326..332
          StringKeyword@326..332 "string"
      Semi@332..333 ";"
      Whitespace@333..334 "\n"
      RBrace@334..335 "}"
      Whitespace@335..337 "\n\n"
  STRUCT@337..368
    StructKeyword@337..343 "struct"
    Whitespace@343..344 " "
    Ident@344..349 "Boxed"
    Whitespace@349..350 " "
    LBrace@350..351 "{"
    Whitespace@351..352 " "
    STRUCT_FIELD_LIST@352..368
      STRUCT_FIELD@352..365
        Ident@352..357 "value"
        Colon@357..358 ":"
        Whitespace@358..359 " "
        TYPE_INT32@359..365
          Int32Keyword@359..364 "int32"
          Whitespace@364..365 " "
      RBrace@365..366 "}"
      Whitespace@366..368 "\n\n"
  IMPL@368..469
    ImplKeyword@368..372 "impl"
    Whitespace@372..373 " "
    PATH@373..381
      Ident@373..380 "Display"
      Whitespace@380..381 " "
    ForKeyword@381..384 "for"
    Whitespace@384..385 " "
    TYPE_INT32@385..391
      Int32Keyword@385..390 "int32"
      Whitespace@390..391 " "
    LBrace@391..392 "{"
    Whitespace@392..397 "\n    "
    FN@397..466
      FnKeyword@397..399 "fn"
      Whitespace@399..400 " "
      Ident@400..404 "show"
      PARAM_LIST@404..418
        LParen@404..405 "("
        PARAM@405..416
          Ident@405..409 "self"
          Colon@409..410 ":"
          Whitespace@410..411 " "
          TYPE_INT32@411..416
            Int32Keyword@411..416 "int32"
        RParen@416..417 ")"
        Whitespace@417..418 " "
      Arrow@418..420 "->"
      Whitespace@420..421 " "
      TYPE_STRING@421..428
        StringKeyword@421..427 "string"
        Whitespace@427..428 " "
      BLOCK@428..466
        LBrace@428..429 "{"
        Whitespace@429..438 "\n        "
        EXPR_CALL@438..464
          EXPR_IDENT@438..453
            PATH@438..453
              Ident@438..453 "int32_to_string"
          ARG_LIST@453..464
            LParen@453..454 "("
            ARG@454..458
              EXPR_IDENT@454..458
                PATH@454..458
                  Ident@454..458 "self"
            RParen@458..459 ")"
            Whitespace@459..464 "\n    "
        RBrace@464..465 "}"
        Whitespace@465..466 "\n"
    RBrace@466..467 "}"
    Whitespace@467..469 "\n\n"
  IMPL@469..583
    ImplKeyword@469..473 "impl"
    Whitespace@473..474 " "
    PATH@474..480
      Ident@474..479 "Debug"
      Whitespace@479..480 " "
    ForKeyword@480..483 "for"
    Whitespace@483..484 " "
    TYPE_INT32@484..490
      Int32Keyword@484..489 "int32"
      Whitespace@489..490 " "
    LBrace@490..491 "{"
    Whitespace@491..496 "\n    "
    FN@496..580
      FnKeyword@496..498 "fn"
      Whitespace@498..499 " "
      Ident@499..503 "show"
      PARAM_LIST@503..517
        LParen@503..504 "("
        PARAM@504..515
          Ident@504..508 "self"
          Colon@508..509 ":"
          Whitespace@509..510 " "
          TYPE_INT32@510..515
            Int32Keyword@510..515 "int32"
        RParen@515..516 ")"
        Whitespace@516..517 " "
      Arrow@517..519 "->"
      Whitespace@519..520 " "
      TYPE_STRING@520..527
        StringKeyword@520..526 "string"
        Whitespace@526..527 " "
      BLOCK@527..580
        LBrace@527..528 "{"
        Whitespace@528..537 "\n        "
        EXPR_BINARY@537..578
          EXPR_BINARY@537..568
            EXPR_STR@537..544
              Str@537..543 "\"i32(\""
              Whitespace@543..544 " "
            Plus@544..545 "+"
            Whitespace@545..546 " "
            EXPR_CALL@546..568
              EXPR_IDENT@546..561
                PATH@546..561
                  Ident@546..561 "int32_to_string"
              ARG_LIST@561..568
                LParen@561..562 "("
                ARG@562..566
                  EXPR_IDENT@562..566
                    PATH@562..566
                      Ident@562..566 "self"
                RParen@566..567 ")"
                Whitespace@567..568 " "
          Plus@568..569 "+"
          Whitespace@569..570 " "
          EXPR_STR@570..578
            Str@570..573 "\")\""
            Whitespace@573..578 "\n    "
        RBrace@578..579 "}"
        Whitespace@579..580 "\n"
    RBrace@580..581 "}"
    Whitespace@581..583 "\n\n"
  IMPL@583..683
    ImplKeyword@583..587 "impl"
    Whitespace@587..588 " "
    PATH@588..593
      Ident@588..592 "MyEq"
      Whitespace@592..593 " "
    ForKeyword@593..596 "for"
    Whitespace@596..597 " "
    TYPE_INT32@597..603
      Int32Keyword@597..602 "int32"
      Whitespace@602..603 " "
    LBrace@603..604 "{"
    Whitespace@604..609 "\n    "
    FN@609..680
      FnKeyword@609..611 "fn"
      Whitespace@611..612 " "
      Ident@612..614 "eq"
      PARAM_LIST@614..642
        LParen@614..615 "("
        PARAM@615..628
          Ident@615..619 "self"
          Colon@619..620 ":"
          Whitespace@620..621 " "
          TYPE_INT32@621..626
            Int32Keyword@621..626 "int32"
          Comma@626..627 ","
          Whitespace@627..628 " "
        PARAM@628..640
          Ident@628..633 "other"
          Colon@633..634 ":"
          Whitespace@634..635 " "
          TYPE_INT32@635..640
            Int32Keyword@635..640 "int32"
        RParen@640..641 ")"
        Whitespace@641..642 " "
      Arrow@642..644 "->"
      Whitespace@644..645 " "
      TYPE_BOOL@645..650
        BoolKeyword@645..649 "bool"
        Whitespace@649..650 " "
      BLOCK@650..680
        LBrace@650..651 "{"
        Whitespace@651..660 "\n        "
        EXPR_BINARY@660..678
          EXPR_IDENT@660..665
            PATH@660..665
              Ident@660..664 "self"
              Whitespace@664..665 " "
          EqEq@665..667 "=="
          Whitespace@667..668 " "
          EXPR_IDENT@668..678
            PATH@668..678
              Ident@668..673 "other"
              Whitespace@673..678 "\n    "
        RBrace@678..679 "}"
        Whitespace@679..680 "\n"
    RBrace@680..681 "}"
    Whitespace@681..683 "\n\n"
  IMPL@683..790
    ImplKeyword@683..687 "impl"
    Whitespace@687..688 " "
    PATH@688..695
      Ident@688..694 "MyHash"
      Whitespace@694..695 " "
    ForKeyword@695..698 "for"
    Whitespace@698..699 " "
    TYPE_INT32@699..705
      Int32Keyword@699..704 "int32"
      Whitespace@704..705 " "
    LBrace@705..706 "{"
    Whitespace@706..711 "\n    "
    FN@711..787
      FnKeyword@711..713 "fn"
      Whitespace@713..714 " "
      Ident@714..718 "hash"
      PARAM_LIST@718..732
        LParen@718..719 "("
        PARAM@719..730
          Ident@719..723 "self"
          Colon@723..724 ":"
          Whitespace@724..725 " "
          TYPE_INT32@725..730
            Int32Keyword@725..730 "int32"
        RParen@730..731 ")"
        Whitespace@731..732 " "
      Arrow@732..734 "->"
      Whitespace@734..735 " "
      TYPE_INT32@735..741
        Int32Keyword@735..740 "int32"
        Whitespace@740..741 " "
      BLOCK@741..787
        LBrace@741..742 "{"
        Whitespace@742..751 "\n        "
        EXPR_BINARY@751..785
          EXPR_PAREN@751..769
            LParen@751..752 "("
            EXPR_BINARY@752..767
              EXPR_IDENT@752..757
                PATH@752..757
                  Ident@752..756 "self"
                  Whitespace@756..757 " "
              Star@757..758 "*"
              Whitespace@758..759 " "
              EXPR_INT@759..767
                Int@759..767 "16777619"
            RParen@767..768 ")"
            Whitespace@768..769 " "
          Plus@769..770 "+"
          Whitespace@770..771 " "
          EXPR_INT@771..785
            Int@771..780 "216613626"
            Whitespace@780..785 "\n    "
        RBrace@785..786 "}"
        Whitespace@786..787 "\n"
    RBrace@787..788 "}"
    Whitespace@788..790 "\n\n"
  IMPL@790..890
    ImplKeyword@790..794 "impl"
    Whitespace@794..795 " "
    PATH@795..799
      Ident@795..798 "Add"
      Whitespace@798..799 " "
    ForKeyword@799..802 "for"
    Whitespace@802..803 " "
    TYPE_INT32@803..809
      Int32Keyword@803..808 "int32"
      Whitespace@808..809 " "
    LBrace@809..810 "{"
    Whitespace@810..815 "\n    "
    FN@815..887
      FnKeyword@815..817 "fn"
      Whitespace@817..818 " "
      Ident@818..821 "add"
      PARAM_LIST@821..849
        LParen@821..822 "("
        PARAM@822..835
          Ident@822..826 "self"
          Colon@826..827 ":"
          Whitespace@827..828 " "
          TYPE_INT32@828..833
            Int32Keyword@828..833 "int32"
          Comma@833..834 ","
          Whitespace@834..835 " "
        PARAM@835..847
          Ident@835..840 "other"
          Colon@840..841 ":"
          Whitespace@841..842 " "
          TYPE_INT32@842..847
            Int32Keyword@842..847 "int32"
        RParen@847..848 ")"
        Whitespace@848..849 " "
      Arrow@849..851 "->"
      Whitespace@851..852 " "
      TYPE_INT32@852..858
        Int32Keyword@852..857 "int32"
        Whitespace@857..858 " "
      BLOCK@858..887
        LBrace@858..859 "{"
        Whitespace@859..868 "\n        "
        EXPR_BINARY@868..885
          EXPR_IDENT@868..873
            PATH@868..873
              Ident@868..872 "self"
              Whitespace@872..873 " "
          Plus@873..874 "+"
          Whitespace@874..875 " "
          EXPR_IDENT@875..885
            PATH@875..885
              Ident@875..880 "other"
              Whitespace@880..885 "\n    "
        RBrace@885..886 "}"
        Whitespace@886..887 "\n"
    RBrace@887..888 "}"
    Whitespace@888..890 "\n\n"
  IMPL@890..996
    ImplKeyword@890..894 "impl"
    Whitespace@894..895 " "
    PATH@895..901
      Ident@895..900 "Scale"
      Whitespace@900..901 " "
    ForKeyword@901..904 "for"
    Whitespace@904..905 " "
    TYPE_INT32@905..911
      Int32Keyword@905..910 "int32"
      Whitespace@910..911 " "
    LBrace@911..912 "{"
    Whitespace@912..917 "\n    "
    FN@917..993
      FnKeyword@917..919 "fn"
      Whitespace@919..920 " "
      Ident@920..925 "scale"
      PARAM_LIST@925..954
        LParen@925..926 "("
        PARAM@926..939
          Ident@926..930 "self"
          Colon@930..931 ":"
          Whitespace@931..932 " "
          TYPE_INT32@932..937
            Int32Keyword@932..937 "int32"
          Comma@937..938 ","
          Whitespace@938..939 " "
        PARAM@939..952
          Ident@939..945 "factor"
          Colon@945..946 ":"
          Whitespace@946..947 " "
          TYPE_INT32@947..952
            Int32Keyword@947..952 "int32"
        RParen@952..953 ")"
        Whitespace@953..954 " "
      Arrow@954..956 "->"
      Whitespace@956..957 " "
      TYPE_INT32@957..963
        Int32Keyword@957..962 "int32"
        Whitespace@962..963 " "
      BLOCK@963..993
        LBrace@963..964 "{"
        Whitespace@964..973 "\n        "
        EXPR_BINARY@973..991
          EXPR_IDENT@973..978
            PATH@973..978
              Ident@973..977 "self"
              Whitespace@977..978 " "
          Star@978..979 "*"
          Whitespace@979..980 " "
          EXPR_IDENT@980..991
            PATH@980..991
              Ident@980..986 "factor"
              Whitespace@986..991 "\n    "
        RBrace@991..992 "}"
        Whitespace@992..993 "\n"
    RBrace@993..994 "}"
    Whitespace@994..996 "\n\n"
  IMPL@996..1112
    ImplKeyword@996..1000 "impl"
    Whitespace@1000..1001 " "
    PATH@1001..1009
      Ident@1001..1008 "Inspect"
      Whitespace@1008..1009 " "
    ForKeyword@1009..1012 "for"
    Whitespace@1012..1013 " "
    TYPE_INT32@1013..1019
      Int32Keyword@1013..1018 "int32"
      Whitespace@1018..1019 " "
    LBrace@1019..1020 "{"
    Whitespace@1020..1025 "\n    "
    FN@1025..1109
      FnKeyword@1025..1027 "fn"
      Whitespace@1027..1028 " "
      Ident@1028..1035 "inspect"
      PARAM_LIST@1035..1049
        LParen@1035..1036 "("
        PARAM@1036..1047
          Ident@1036..1040 "self"
          Colon@1040..1041 ":"
          Whitespace@1041..1042 " "
          TYPE_INT32@1042..1047
            Int32Keyword@1042..1047 "int32"
        RParen@1047..1048 ")"
        Whitespace@1048..1049 " "
      Arrow@1049..1051 "->"
      Whitespace@1051..1052 " "
      TYPE_STRING@1052..1059
        StringKeyword@1052..1058 "string"
        Whitespace@1058..1059 " "
      BLOCK@1059..1109
        LBrace@1059..1060 "{"
        Whitespace@1060..1069 "\n        "
        EXPR_BINARY@1069..1107
          EXPR_BINARY@1069..1097
            EXPR_STR@1069..1073
              Str@1069..1072 "\"<\""
              Whitespace@1072..1073 " "
            Plus@1073..1074 "+"
            Whitespace@1074..1075 " "
            EXPR_CALL@1075..1097
              EXPR_IDENT@1075..1090
                PATH@1075..1090
                  Ident@1075..1090 "int32_to_string"
              ARG_LIST@1090..1097
                LParen@1090..1091 "("
                ARG@1091..1095
                  EXPR_IDENT@1091..1095
                    PATH@1091..1095
                      Ident@1091..1095 "self"
                RParen@1095..1096 ")"
                Whitespace@1096..1097 " "
          Plus@1097..1098 "+"
          Whitespace@1098..1099 " "
          EXPR_STR@1099..1107
            Str@1099..1102 "\">\""
            Whitespace@1102..1107 "\n    "
        RBrace@1107..1108 "}"
        Whitespace@1108..1109 "\n"
    RBrace@1109..1110 "}"
    Whitespace@1110..1112 "\n\n"
  IMPL@1112..1236
    ImplKeyword@1112..1116 "impl"
    Whitespace@1116..1117 " "
    PATH@1117..1125
      Ident@1117..1124 "Display"
      Whitespace@1124..1125 " "
    ForKeyword@1125..1128 "for"
    Whitespace@1128..1129 " "
    TYPE_TAPP@1129..1135
      PATH@1129..1135
        Ident@1129..1134 "Boxed"
        Whitespace@1134..1135 " "
    LBrace@1135..1136 "{"
    Whitespace@1136..1141 "\n    "
    FN@1141..1233
      FnKeyword@1141..1143 "fn"
      Whitespace@1143..1144 " "
      Ident@1144..1148 "show"
      PARAM_LIST@1148..1162
        LParen@1148..1149 "("
        PARAM@1149..1160
          Ident@1149..1153 "self"
          Colon@1153..1154 ":"
          Whitespace@1154..1155 " "
          TYPE_TAPP@1155..1160
            PATH@1155..1160
              Ident@1155..1160 "Boxed"
        RParen@1160..1161 ")"
        Whitespace@1161..1162 " "
      Arrow@1162..1164 "->"
      Whitespace@1164..1165 " "
      TYPE_STRING@1165..1172
        StringKeyword@1165..1171 "string"
        Whitespace@1171..1172 " "
      BLOCK@1172..1233
        LBrace@1172..1173 "{"
        Whitespace@1173..1182 "\n        "
        EXPR_BINARY@1182..1231
          EXPR_BINARY@1182..1221
            EXPR_STR@1182..1191
              Str@1182..1190 "\"Boxed(\""
              Whitespace@1190..1191 " "
            Plus@1191..1192 "+"
            Whitespace@1192..1193 " "
            EXPR_CALL@1193..1221
              EXPR_IDENT@1193..1208
                PATH@1193..1208
                  Ident@1193..1208 "int32_to_string"
              ARG_LIST@1208..1221
                LParen@1208..1209 "("
                ARG@1209..1219
                  EXPR_BINARY@1209..1219
                    EXPR_IDENT@1209..1213
                      PATH@1209..1213
                        Ident@1209..1213 "self"
                    Dot@1213..1214 "."
                    EXPR_IDENT@1214..1219
                      PATH@1214..1219
                        Ident@1214..1219 "value"
                RParen@1219..1220 ")"
                Whitespace@1220..1221 " "
          Plus@1221..1222 "+"
          Whitespace@1222..1223 " "
          EXPR_STR@1223..1231
            Str@1223..1226 "\")\""
            Whitespace@1226..1231 "\n    "
        RBrace@1231..1232 "}"
        Whitespace@1232..1233 "\n"
    RBrace@1233..1234 "}"
    Whitespace@1234..1236 "\n\n"
  IMPL@1236..1364
    ImplKeyword@1236..1240 "impl"
    Whitespace@1240..1241 " "
    PATH@1241..1247
      Ident@1241..1246 "Debug"
      Whitespace@1246..1247 " "
    ForKeyword@1247..1250 "for"
    Whitespace@1250..1251 " "
    TYPE_TAPP@1251..1257
      PATH@1251..1257
        Ident@1251..1256 "Boxed"
        Whitespace@1256..1257 " "
    LBrace@1257..1258 "{"
    Whitespace@1258..1263 "\n    "
    FN@1263..1361
      FnKeyword@1263..1265 "fn"
      Whitespace@1265..1266 " "
      Ident@1266..1270 "show"
      PARAM_LIST@1270..1284
        LParen@1270..1271 "("
        PARAM@1271..1282
          Ident@1271..1275 "self"
          Colon@1275..1276 ":"
          Whitespace@1276..1277 " "
          TYPE_TAPP@1277..1282
            PATH@1277..1282
              Ident@1277..1282 "Boxed"
        RParen@1282..1283 ")"
        Whitespace@1283..1284 " "
      Arrow@1284..1286 "->"
      Whitespace@1286..1287 " "
      TYPE_STRING@1287..1294
        StringKeyword@1287..1293 "string"
        Whitespace@1293..1294 " "
      BLOCK@1294..1361
        LBrace@1294..1295 "{"
        Whitespace@1295..1304 "\n        "
        EXPR_BINARY@1304..1359
          EXPR_BINARY@1304..1349
            EXPR_STR@1304..1319
              Str@1304..1318 "\"Boxed{value=\""
              Whitespace@1318..1319 " "
            Plus@1319..1320 "+"
            Whitespace@1320..1321 " "
            EXPR_CALL@1321..1349
              EXPR_IDENT@1321..1336
                PATH@1321..1336
                  Ident@1321..1336 "int32_to_string"
              ARG_LIST@1336..1349
                LParen@1336..1337 "("
                ARG@1337..1347
                  EXPR_BINARY@1337..1347
                    EXPR_IDENT@1337..1341
                      PATH@1337..1341
                        Ident@1337..1341 "self"
                    Dot@1341..1342 "."
                    EXPR_IDENT@1342..1347
                      PATH@1342..1347
                        Ident@1342..1347 "value"
                RParen@1347..1348 ")"
                Whitespace@1348..1349 " "
          Plus@1349..1350 "+"
          Whitespace@1350..1351 " "
          EXPR_STR@1351..1359
            Str@1351..1354 "\"}\""
            Whitespace@1354..1359 "\n    "
        RBrace@1359..1360 "}"
        Whitespace@1360..1361 "\n"
    RBrace@1361..1362 "}"
    Whitespace@1362..1364 "\n\n"
  IMPL@1364..1476
    ImplKeyword@1364..1368 "impl"
    Whitespace@1368..1369 " "
    PATH@1369..1374
      Ident@1369..1373 "MyEq"
      Whitespace@1373..1374 " "
    ForKeyword@1374..1377 "for"
    Whitespace@1377..1378 " "
    TYPE_TAPP@1378..1384
      PATH@1378..1384
        Ident@1378..1383 "Boxed"
        Whitespace@1383..1384 " "
    LBrace@1384..1385 "{"
    Whitespace@1385..1390 "\n    "
    FN@1390..1473
      FnKeyword@1390..1392 "fn"
      Whitespace@1392..1393 " "
      Ident@1393..1395 "eq"
      PARAM_LIST@1395..1423
        LParen@1395..1396 "("
        PARAM@1396..1409
          Ident@1396..1400 "self"
          Colon@1400..1401 ":"
          Whitespace@1401..1402 " "
          TYPE_TAPP@1402..1407
            PATH@1402..1407
              Ident@1402..1407 "Boxed"
          Comma@1407..1408 ","
          Whitespace@1408..1409 " "
        PARAM@1409..1421
          Ident@1409..1414 "other"
          Colon@1414..1415 ":"
          Whitespace@1415..1416 " "
          TYPE_TAPP@1416..1421
            PATH@1416..1421
              Ident@1416..1421 "Boxed"
        RParen@1421..1422 ")"
        Whitespace@1422..1423 " "
      Arrow@1423..1425 "->"
      Whitespace@1425..1426 " "
      TYPE_BOOL@1426..1431
        BoolKeyword@1426..1430 "bool"
        Whitespace@1430..1431 " "
      BLOCK@1431..1473
        LBrace@1431..1432 "{"
        Whitespace@1432..1441 "\n        "
        EXPR_BINARY@1441..1471
          EXPR_BINARY@1441..1452
            EXPR_IDENT@1441..1445
              PATH@1441..1445
                Ident@1441..1445 "self"
            Dot@1445..1446 "."
            EXPR_IDENT@1446..1452
              PATH@1446..1452
                Ident@1446..1451 "value"
                Whitespace@1451..1452 " "
          EqEq@1452..1454 "=="
          Whitespace@1454..1455 " "
          EXPR_BINARY@1455..1471
            EXPR_IDENT@1455..1460
              PATH@1455..1460
                Ident@1455..1460 "other"
            Dot@1460..1461 "."
            EXPR_IDENT@1461..1471
              PATH@1461..1471
                Ident@1461..1466 "value"
                Whitespace@1466..1471 "\n    "
        RBrace@1471..1472 "}"
        Whitespace@1472..1473 "\n"
    RBrace@1473..1474 "}"
    Whitespace@1474..1476 "\n\n"
  IMPL@1476..1590
    ImplKeyword@1476..1480 "impl"
    Whitespace@1480..1481 " "
    PATH@1481..1488
      Ident@1481..1487 "MyHash"
      Whitespace@1487..1488 " "
    ForKeyword@1488..1491 "for"
    Whitespace@1491..1492 " "
    TYPE_TAPP@1492..1498
      PATH@1492..1498
        Ident@1492..1497 "Boxed"
        Whitespace@1497..1498 " "
    LBrace@1498..1499 "{"
    Whitespace@1499..1504 "\n    "
    FN@1504..1587
      FnKeyword@1504..1506 "fn"
      Whitespace@1506..1507 " "
      Ident@1507..1511 "hash"
      PARAM_LIST@1511..1525
        LParen@1511..1512 "("
        PARAM@1512..1523
          Ident@1512..1516 "self"
          Colon@1516..1517 ":"
          Whitespace@1517..1518 " "
          TYPE_TAPP@1518..1523
            PATH@1518..1523
              Ident@1518..1523 "Boxed"
        RParen@1523..1524 ")"
        Whitespace@1524..1525 " "
      Arrow@1525..1527 "->"
      Whitespace@1527..1528 " "
      TYPE_INT32@1528..1534
        Int32Keyword@1528..1533 "int32"
        Whitespace@1533..1534 " "
      BLOCK@1534..1587
        LBrace@1534..1535 "{"
        Whitespace@1535..1544 "\n        "
        EXPR_BINARY@1544..1585
          EXPR_PAREN@1544..1568
            LParen@1544..1545 "("
            EXPR_BINARY@1545..1566
              EXPR_PAREN@1545..1563
                LParen@1545..1546 "("
                EXPR_BINARY@1546..1561
                  EXPR_BINARY@1546..1557
                    EXPR_IDENT@1546..1550
                      PATH@1546..1550
                        Ident@1546..1550 "self"
                    Dot@1550..1551 "."
                    EXPR_IDENT@1551..1557
                      PATH@1551..1557
                        Ident@1551..1556 "value"
                        Whitespace@1556..1557 " "
                  Star@1557..1558 "*"
                  Whitespace@1558..1559 " "
                  EXPR_INT@1559..1561
                    Int@1559..1561 "31"
                RParen@1561..1562 ")"
                Whitespace@1562..1563 " "
              Plus@1563..1564 "+"
              Whitespace@1564..1565 " "
              EXPR_INT@1565..1566
                Int@1565..1566 "7"
            RParen@1566..1567 ")"
            Whitespace@1567..1568 " "
          Star@1568..1569 "*"
          Whitespace@1569..1570 " "
          EXPR_INT@1570..1585
            Int@1570..1580 "1315423911"
            Whitespace@1580..1585 "\n    "
        RBrace@1585..1586 "}"
        Whitespace@1586..1587 "\n"
    RBrace@1587..1588 "}"
    Whitespace@1588..1590 "\n\n"
  IMPL@1590..1719
    ImplKeyword@1590..1594 "impl"
    Whitespace@1594..1595 " "
    PATH@1595..1599
      Ident@1595..1598 "Add"
      Whitespace@1598..1599 " "
    ForKeyword@1599..1602 "for"
    Whitespace@1602..1603 " "
    TYPE_TAPP@1603..1609
      PATH@1603..1609
        Ident@1603..1608 "Boxed"
        Whitespace@1608..1609 " "
    LBrace@1609..1610 "{"
    Whitespace@1610..1615 "\n    "
    FN@1615..1716
      FnKeyword@1615..1617 "fn"
      Whitespace@1617..1618 " "
      Ident@1618..1621 "add"
      PARAM_LIST@1621..1649
        LParen@1621..1622 "("
        PARAM@1622..1635
          Ident@1622..1626 "self"
          Colon@1626..1627 ":"
          Whitespace@1627..1628 " "
          TYPE_TAPP@1628..1633
            PATH@1628..1633
              Ident@1628..1633 "Boxed"
          Comma@1633..1634 ","
          Whitespace@1634..1635 " "
        PARAM@1635..1647
          Ident@1635..1640 "other"
          Colon@1640..1641 ":"
          Whitespace@1641..1642 " "
          TYPE_TAPP@1642..1647
            PATH@1642..1647
              Ident@1642..1647 "Boxed"
        RParen@1647..1648 ")"
        Whitespace@1648..1649 " "
      Arrow@1649..1651 "->"
      Whitespace@1651..1652 " "
      TYPE_TAPP@1652..1658
        PATH@1652..1658
          Ident@1652..1657 "Boxed"
          Whitespace@1657..1658 " "
      BLOCK@1658..1716
        LBrace@1658..1659 "{"
        Whitespace@1659..1668 "\n        "
        EXPR_STRUCT_LITERAL@1668..1714
          PATH@1668..1674
            Ident@1668..1673 "Boxed"
            Whitespace@1673..1674 " "
          STRUCT_LITERAL_FIELD_LIST@1674..1714
            LBrace@1674..1675 "{"
            Whitespace@1675..1676 " "
            STRUCT_LITERAL_FIELD@1676..1708
              Ident@1676..1681 "value"
              Colon@1681..1682 ":"
              Whitespace@1682..1683 " "
              EXPR_BINARY@1683..1708
                EXPR_BINARY@1683..1694
                  EXPR_IDENT@1683..1687
                    PATH@1683..1687
                      Ident@1683..1687 "self"
                  Dot@1687..1688 "."
                  EXPR_IDENT@1688..1694
                    PATH@1688..1694
                      Ident@1688..1693 "value"
                      Whitespace@1693..1694 " "
                Plus@1694..1695 "+"
                Whitespace@1695..1696 " "
                EXPR_BINARY@1696..1708
                  EXPR_IDENT@1696..1701
                    PATH@1696..1701
                      Ident@1696..1701 "other"
                  Dot@1701..1702 "."
                  EXPR_IDENT@1702..1708
                    PATH@1702..1708
                      Ident@1702..1707 "value"
                      Whitespace@1707..1708 " "
            RBrace@1708..1709 "}"
            Whitespace@1709..1714 "\n    "
        RBrace@1714..1715 "}"
        Whitespace@1715..1716 "\n"
    RBrace@1716..1717 "}"
    Whitespace@1717..1719 "\n\n"
  IMPL@1719..1848
    ImplKeyword@1719..1723 "impl"
    Whitespace@1723..1724 " "
    PATH@1724..1730
      Ident@1724..1729 "Scale"
      Whitespace@1729..1730 " "
    ForKeyword@1730..1733 "for"
    Whitespace@1733..1734 " "
    TYPE_TAPP@1734..1740
      PATH@1734..1740
        Ident@1734..1739 "Boxed"
        Whitespace@1739..1740 " "
    LBrace@1740..1741 "{"
    Whitespace@1741..1746 "\n    "
    FN@1746..1845
      FnKeyword@1746..1748 "fn"
      Whitespace@1748..1749 " "
      Ident@1749..1754 "scale"
      PARAM_LIST@1754..1783
        LParen@1754..1755 "("
        PARAM@1755..1768
          Ident@1755..1759 "self"
          Colon@1759..1760 ":"
          Whitespace@1760..1761 " "
          TYPE_TAPP@1761..1766
            PATH@1761..1766
              Ident@1761..1766 "Boxed"
          Comma@1766..1767 ","
          Whitespace@1767..1768 " "
        PARAM@1768..1781
          Ident@1768..1774 "factor"
          Colon@1774..1775 ":"
          Whitespace@1775..1776 " "
          TYPE_INT32@1776..1781
            Int32Keyword@1776..1781 "int32"
        RParen@1781..1782 ")"
        Whitespace@1782..1783 " "
      Arrow@1783..1785 "->"
      Whitespace@1785..1786 " "
      TYPE_TAPP@1786..1792
        PATH@1786..1792
          Ident@1786..1791 "Boxed"
          Whitespace@1791..1792 " "
      BLOCK@1792..1845
        LBrace@1792..1793 "{"
        Whitespace@1793..1802 "\n        "
        EXPR_STRUCT_LITERAL@1802..1843
          PATH@1802..1808
            Ident@1802..1807 "Boxed"
            Whitespace@1807..1808 " "
          STRUCT_LITERAL_FIELD_LIST@1808..1843
            LBrace@1808..1809 "{"
            Whitespace@1809..1810 " "
            STRUCT_LITERAL_FIELD@1810..1837
              Ident@1810..1815 "value"
              Colon@1815..1816 ":"
              Whitespace@1816..1817 " "
              EXPR_BINARY@1817..1837
                EXPR_BINARY@1817..1828
                  EXPR_IDENT@1817..1821
                    PATH@1817..1821
                      Ident@1817..1821 "self"
                  Dot@1821..1822 "."
                  EXPR_IDENT@1822..1828
                    PATH@1822..1828
                      Ident@1822..1827 "value"
                      Whitespace@1827..1828 " "
                Star@1828..1829 "*"
                Whitespace@1829..1830 " "
                EXPR_IDENT@1830..1837
                  PATH@1830..1837
                    Ident@1830..1836 "factor"
                    Whitespace@1836..1837 " "
            RBrace@1837..1838 "}"
            Whitespace@1838..1843 "\n    "
        RBrace@1843..1844 "}"
        Whitespace@1844..1845 "\n"
    RBrace@1845..1846 "}"
    Whitespace@1846..1848 "\n\n"
  IMPL@1848..1970
    ImplKeyword@1848..1852 "impl"
    Whitespace@1852..1853 " "
    PATH@1853..1861
      Ident@1853..1860 "Inspect"
      Whitespace@1860..1861 " "
    ForKeyword@1861..1864 "for"
    Whitespace@1864..1865 " "
    TYPE_TAPP@1865..1871
      PATH@1865..1871
        Ident@1865..1870 "Boxed"
        Whitespace@1870..1871 " "
    LBrace@1871..1872 "{"
    Whitespace@1872..1877 "\n    "
    FN@1877..1967
      FnKeyword@1877..1879 "fn"
      Whitespace@1879..1880 " "
      Ident@1880..1887 "inspect"
      PARAM_LIST@1887..1901
        LParen@1887..1888 "("
        PARAM@1888..1899
          Ident@1888..1892 "self"
          Colon@1892..1893 ":"
          Whitespace@1893..1894 " "
          TYPE_TAPP@1894..1899
            PATH@1894..1899
              Ident@1894..1899 "Boxed"
        RParen@1899..1900 ")"
        Whitespace@1900..1901 " "
      Arrow@1901..1903 "->"
      Whitespace@1903..1904 " "
      TYPE_STRING@1904..1911
        StringKeyword@1904..1910 "string"
        Whitespace@1910..1911 " "
      BLOCK@1911..1967
        LBrace@1911..1912 "{"
        Whitespace@1912..1921 "\n        "
        EXPR_BINARY@1921..1965
          EXPR_BINARY@1921..1955
            EXPR_STR@1921..1925
              Str@1921..1924 "\"[\""
              Whitespace@1924..1925 " "
            Plus@1925..1926 "+"
            Whitespace@1926..1927 " "
            EXPR_CALL@1927..1955
              EXPR_IDENT@1927..1942
                PATH@1927..1942
                  Ident@1927..1942 "int32_to_string"
              ARG_LIST@1942..1955
                LParen@1942..1943 "("
                ARG@1943..1953
                  EXPR_BINARY@1943..1953
                    EXPR_IDENT@1943..1947
                      PATH@1943..1947
                        Ident@1943..1947 "self"
                    Dot@1947..1948 "."
                    EXPR_IDENT@1948..1953
                      PATH@1948..1953
                        Ident@1948..1953 "value"
                RParen@1953..1954 ")"
                Whitespace@1954..1955 " "
          Plus@1955..1956 "+"
          Whitespace@1956..1957 " "
          EXPR_STR@1957..1965
            Str@1957..1960 "\"]\""
            Whitespace@1960..1965 "\n    "
        RBrace@1965..1966 "}"
        Whitespace@1966..1967 "\n"
    RBrace@1967..1968 "}"
    Whitespace@1968..1970 "\n\n"
  FN@1970..2044
    FnKeyword@1970..1972 "fn"
    Whitespace@1972..1973 " "
    Ident@1973..1982 "bool_text"
    PARAM_LIST@1982..1992
      LParen@1982..1983 "("
      PARAM@1983..1990
        Ident@1983..1984 "x"
        Colon@1984..1985 ":"
        Whitespace@1985..1986 " "
        TYPE_BOOL@1986..1990
          BoolKeyword@1986..1990 "bool"
      RParen@1990..1991 ")"
      Whitespace@1991..1992 " "
    Arrow@1992..1994 "->"
    Whitespace@1994..1995 " "
    TYPE_STRING@1995..2002
      StringKeyword@1995..2001 "string"
      Whitespace@2001..2002 " "
    BLOCK@2002..2044
      LBrace@2002..2003 "{"
      Whitespace@2003..2008 "\n    "
      EXPR_IF@2008..2041
        IfKeyword@2008..2010 "if"
        Whitespace@2010..2011 " "
        EXPR_IF_COND@2011..2013
          EXPR_IDENT@2011..2013
            PATH@2011..2013
              Ident@2011..2012 "x"
              Whitespace@2012..2013 " "
        EXPR_IF_THEN@2013..2024
          BLOCK@2013..2024
            LBrace@2013..2014 "{"
            Whitespace@2014..2015 " "
            EXPR_STR@2015..2022
              Str@2015..2021 "\"true\""
              Whitespace@2021..2022 " "
            RBrace@2022..2023 "}"
            Whitespace@2023..2024 " "
        ElseKeyword@2024..2028 "else"
        Whitespace@2028..2029 " "
        EXPR_IF_ELSE@2029..2041
          BLOCK@2029..2041
            LBrace@2029..2030 "{"
            Whitespace@2030..2031 " "
            EXPR_STR@2031..2039
              Str@2031..2038 "\"false\""
              Whitespace@2038..2039 " "
            RBrace@2039..2040 "}"
            Whitespace@2040..2041 "\n"
      RBrace@2041..2042 "}"
      Whitespace@2042..2044 "\n\n"
  FN@2044..2146
    FnKeyword@2044..2046 "fn"
    Whitespace@2046..2047 " "
    Ident@2047..2056 "show_both"
    GENERIC_LIST@2056..2076
      LBracket@2056..2057 "["
      GENERIC@2057..2075
        Ident@2057..2058 "T"
        Colon@2058..2059 ":"
        Whitespace@2059..2060 " "
        TRAIT_SET@2060..2075
          PATH@2060..2066
            Ident@2060..2065 "Debug"
            Whitespace@2065..2066 " "
          Plus@2066..2067 "+"
          Whitespace@2067..2068 " "
          PATH@2068..2075
            Ident@2068..2075 "Display"
      RBracket@2075..2076 "]"
    PARAM_LIST@2076..2083
      LParen@2076..2077 "("
      PARAM@2077..2081
        Ident@2077..2078 "x"
        Colon@2078..2079 ":"
        Whitespace@2079..2080 " "
        TYPE_TAPP@2080..2081
          PATH@2080..2081
            Ident@2080..2081 "T"
      RParen@2081..2082 ")"
      Whitespace@2082..2083 " "
    Arrow@2083..2085 "->"
    Whitespace@2085..2086 " "
    TYPE_STRING@2086..2093
      StringKeyword@2086..2092 "string"
      Whitespace@2092..2093 " "
    BLOCK@2093..2146
      LBrace@2093..2094 "{"
      Whitespace@2094..2099 "\n    "
      EXPR_BINARY@2099..2143
        EXPR_PAREN@2099..2124
          LParen@2099..2100 "("
          EXPR_BINARY@2100..2122
            EXPR_CALL@2100..2115
              EXPR_IDENT@2100..2111
                PATH@2100..2111
                  Ident@2100..2105 "Debug"
                  ColonColon@2105..2107 "::"
                  Ident@2107..2111 "show"
              ARG_LIST@2111..2115
                LParen@2111..2112 "("
                ARG@2112..2113
                  EXPR_IDENT@2112..2113
                    PATH@2112..2113
                      Ident@2112..2113 "x"
                RParen@2113..2114 ")"
                Whitespace@2114..2115 " "
            Plus@2115..2116 "+"
            Whitespace@2116..2117 " "
            EXPR_STR@2117..2122
              Str@2117..2122 "\" / \""
          RParen@2122..2123 ")"
          Whitespace@2123..2124 " "
        Plus@2124..2125 "+"
        Whitespace@2125..2126 " "
        EXPR_CALL@2126..2143
          EXPR_IDENT@2126..2139
            PATH@2126..2139
              Ident@2126..2133 "Display"
              ColonColon@2133..2135 "::"
              Ident@2135..2139 "show"
          ARG_LIST@2139..2143
            LParen@2139..2140 "("
            ARG@2140..2141
              EXPR_IDENT@2140..2141
                PATH@2140..2141
                  Ident@2140..2141 "x"
            RParen@2141..2142 ")"
            Whitespace@2142..2143 "\n"
      RBrace@2143..2144 "}"
      Whitespace@2144..2146 "\n\n"
  FN@2146..2259
    FnKeyword@2146..2148 "fn"
    Whitespace@2148..2149 " "
    Ident@2149..2157 "tag_text"
    GENERIC_LIST@2157..2176
      LBracket@2157..2158 "["
      GENERIC@2158..2175
        Ident@2158..2159 "Q"
        Colon@2159..2160 ":"
        Whitespace@2160..2161 " "
        TRAIT_SET@2161..2175
          PATH@2161..2167
            Ident@2161..2166 "Debug"
            Whitespace@2166..2167 " "
          Plus@2167..2168 "+"
          Whitespace@2168..2169 " "
          PATH@2169..2175
            Ident@2169..2175 "MyHash"
      RBracket@2175..2176 "]"
    PARAM_LIST@2176..2185
      LParen@2176..2177 "("
      PARAM@2177..2183
        Ident@2177..2180 "tag"
        Colon@2180..2181 ":"
        Whitespace@2181..2182 " "
        TYPE_TAPP@2182..2183
          PATH@2182..2183
            Ident@2182..2183 "Q"
      RParen@2183..2184 ")"
      Whitespace@2184..2185 " "
    Arrow@2185..2187 "->"
    Whitespace@2187..2188 " "
    TYPE_STRING@2188..2195
      StringKeyword@2188..2194 "string"
      Whitespace@2194..2195 " "
    BLOCK@2195..2259
      LBrace@2195..2196 "{"
      Whitespace@2196..2201 "\n    "
      EXPR_BINARY@2201..2256
        EXPR_PAREN@2201..2226
          LParen@2201..2202 "("
          EXPR_BINARY@2202..2224
            EXPR_CALL@2202..2219
              EXPR_IDENT@2202..2213
                PATH@2202..2213
                  Ident@2202..2207 "Debug"
                  ColonColon@2207..2209 "::"
                  Ident@2209..2213 "show"
              ARG_LIST@2213..2219
                LParen@2213..2214 "("
                ARG@2214..2217
                  EXPR_IDENT@2214..2217
                    PATH@2214..2217
                      Ident@2214..2217 "tag"
                RParen@2217..2218 ")"
                Whitespace@2218..2219 " "
            Plus@2219..2220 "+"
            Whitespace@2220..2221 " "
            EXPR_STR@2221..2224
              Str@2221..2224 "\"#\""
          RParen@2224..2225 ")"
          Whitespace@2225..2226 " "
        Plus@2226..2227 "+"
        Whitespace@2227..2228 " "
        EXPR_CALL@2228..2256
          EXPR_IDENT@2228..2243
            PATH@2228..2243
              Ident@2228..2243 "int32_to_string"
          ARG_LIST@2243..2256
            LParen@2243..2244 "("
            ARG@2244..2254
              EXPR_CALL@2244..2254
                EXPR_BINARY@2244..2252
                  EXPR_IDENT@2244..2247
                    PATH@2244..2247
                      Ident@2244..2247 "tag"
                  Dot@2247..2248 "."
                  EXPR_IDENT@2248..2252
                    PATH@2248..2252
                      Ident@2248..2252 "hash"
                ARG_LIST@2252..2254
                  LParen@2252..2253 "("
                  RParen@2253..2254 ")"
            RParen@2254..2255 ")"
            Whitespace@2255..2256 "\n"
      RBrace@2256..2257 "}"
      Whitespace@2257..2259 "\n\n"
  FN@2259..2357
    FnKeyword@2259..2261 "fn"
    Whitespace@2261..2262 " "
    Ident@2262..2276 "combine_scaled"
    GENERIC_LIST@2276..2292
      LBracket@2276..2277 "["
      GENERIC@2277..2291
        Ident@2277..2278 "T"
        Colon@2278..2279 ":"
        Whitespace@2279..2280 " "
        TRAIT_SET@2280..2291
          PATH@2280..2284
            Ident@2280..2283 "Add"
            Whitespace@2283..2284 " "
          Plus@2284..2285 "+"
          Whitespace@2285..2286 " "
          PATH@2286..2291
            Ident@2286..2291 "Scale"
      RBracket@2291..2292 "]"
    PARAM_LIST@2292..2320
      LParen@2292..2293 "("
      PARAM@2293..2299
        Ident@2293..2294 "a"
        Colon@2294..2295 ":"
        Whitespace@2295..2296 " "
        TYPE_TAPP@2296..2297
          PATH@2296..2297
            Ident@2296..2297 "T"
        Comma@2297..2298 ","
        Whitespace@2298..2299 " "
      PARAM@2299..2305
        Ident@2299..2300 "b"
        Colon@2300..2301 ":"
        Whitespace@2301..2302 " "
        TYPE_TAPP@2302..2303
          PATH@2302..2303
            Ident@2302..2303 "T"
        Comma@2303..2304 ","
        Whitespace@2304..2305 " "
      PARAM@2305..2318
        Ident@2305..2311 "factor"
        Colon@2311..2312 ":"
        Whitespace@2312..2313 " "
        TYPE_INT32@2313..2318
          Int32Keyword@2313..2318 "int32"
      RParen@2318..2319 ")"
      Whitespace@2319..2320 " "
    Arrow@2320..2322 "->"
    Whitespace@2322..2323 " "
    TYPE_TAPP@2323..2325
      PATH@2323..2325
        Ident@2323..2324 "T"
        Whitespace@2324..2325 " "
    BLOCK@2325..2357
      LBrace@2325..2326 "{"
      Whitespace@2326..2331 "\n    "
      EXPR_CALL@2331..2354
        EXPR_BINARY@2331..2345
          EXPR_CALL@2331..2339
            EXPR_BINARY@2331..2336
              EXPR_IDENT@2331..2332
                PATH@2331..2332
                  Ident@2331..2332 "a"
              Dot@2332..2333 "."
              EXPR_IDENT@2333..2336
                PATH@2333..2336
                  Ident@2333..2336 "add"
            ARG_LIST@2336..2339
              LParen@2336..2337 "("
              ARG@2337..2338
                EXPR_IDENT@2337..2338
                  PATH@2337..2338
                    Ident@2337..2338 "b"
              RParen@2338..2339 ")"
          Dot@2339..2340 "."
          EXPR_IDENT@2340..2345
            PATH@2340..2345
              Ident@2340..2345 "scale"
        ARG_LIST@2345..2354
          LParen@2345..2346 "("
          ARG@2346..2352
            EXPR_IDENT@2346..2352
              PATH@2346..2352
                Ident@2346..2352 "factor"
          RParen@2352..2353 ")"
          Whitespace@2353..2354 "\n"
      RBrace@2354..2355 "}"
      Whitespace@2355..2357 "\n\n"
  FN@2357..2700
    FnKeyword@2357..2359 "fn"
    Whitespace@2359..2360 " "
    Ident@2360..2371 "report_pair"
    GENERIC_LIST@2371..2426
      LBracket@2371..2372 "["
      GENERIC@2372..2406
        Ident@2372..2373 "T"
        Colon@2373..2374 ":"
        Whitespace@2374..2375 " "
        TRAIT_SET@2375..2406
          PATH@2375..2381
            Ident@2375..2380 "Debug"
            Whitespace@2380..2381 " "
          Plus@2381..2382 "+"
          Whitespace@2382..2383 " "
          PATH@2383..2391
            Ident@2383..2390 "Display"
            Whitespace@2390..2391 " "
          Plus@2391..2392 "+"
          Whitespace@2392..2393 " "
          PATH@2393..2398
            Ident@2393..2397 "MyEq"
            Whitespace@2397..2398 " "
          Plus@2398..2399 "+"
          Whitespace@2399..2400 " "
          PATH@2400..2406
            Ident@2400..2406 "MyHash"
      Comma@2406..2407 ","
      Whitespace@2407..2408 " "
      GENERIC@2408..2425
        Ident@2408..2409 "Q"
        Colon@2409..2410 ":"
        Whitespace@2410..2411 " "
        TRAIT_SET@2411..2425
          PATH@2411..2417
            Ident@2411..2416 "Debug"
            Whitespace@2416..2417 " "
          Plus@2417..2418 "+"
          Whitespace@2418..2419 " "
          PATH@2419..2425
            Ident@2419..2425 "MyHash"
      RBracket@2425..2426 "]"
    PARAM_LIST@2426..2460
      LParen@2426..2427 "("
      PARAM@2427..2435
        Ident@2427..2430 "tag"
        Colon@2430..2431 ":"
        Whitespace@2431..2432 " "
        TYPE_TAPP@2432..2433
          PATH@2432..2433
            Ident@2432..2433 "Q"
        Comma@2433..2434 ","
        Whitespace@2434..2435 " "
      PARAM@2435..2441
        Ident@2435..2436 "a"
        Colon@2436..2437 ":"
        Whitespace@2437..2438 " "
        TYPE_TAPP@2438..2439
          PATH@2438..2439
            Ident@2438..2439 "T"
        Comma@2439..2440 ","
        Whitespace@2440..2441 " "
      PARAM@2441..2447
        Ident@2441..2442 "b"
        Colon@2442..2443 ":"
        Whitespace@2443..2444 " "
        TYPE_TAPP@2444..2445
          PATH@2444..2445
            Ident@2444..2445 "T"
        Comma@2445..2446 ","
        Whitespace@2446..2447 " "
      PARAM@2447..2458
        Ident@2447..2455 "combined"
        Colon@2455..2456 ":"
        Whitespace@2456..2457 " "
        TYPE_TAPP@2457..2458
          PATH@2457..2458
            Ident@2457..2458 "T"
      RParen@2458..2459 ")"
      Whitespace@2459..2460 " "
    Arrow@2460..2462 "->"
    Whitespace@2462..2463 " "
    TYPE_STRING@2463..2470
      StringKeyword@2463..2469 "string"
      Whitespace@2469..2470 " "
    BLOCK@2470..2700
      LBrace@2470..2471 "{"
      Whitespace@2471..2476 "\n    "
      STMT_LET@2476..2507
        LetKeyword@2476..2479 "let"
        Whitespace@2479..2480 " "
        PATTERN_VARIABLE@2480..2485
          Ident@2480..2484 "same"
          Whitespace@2484..2485 " "
        Eq@2485..2486 "="
        Whitespace@2486..2487 " "
        EXPR_CALL@2487..2501
          EXPR_IDENT@2487..2495
            PATH@2487..2495
              Ident@2487..2491 "MyEq"
              ColonColon@2491..2493 "::"
              Ident@2493..2495 "eq"
          ARG_LIST@2495..2501
            LParen@2495..2496 "("
            ARG@2496..2499
              EXPR_IDENT@2496..2497
                PATH@2496..2497
                  Ident@2496..2497 "a"
              Comma@2497..2498 ","
              Whitespace@2498..2499 " "
            ARG@2499..2500
              EXPR_IDENT@2499..2500
                PATH@2499..2500
                  Ident@2499..2500 "b"
            RParen@2500..2501 ")"
        Semi@2501..2502 ";"
        Whitespace@2502..2507 "\n    "
      STMT_LET@2507..2539
        LetKeyword@2507..2510 "let"
        Whitespace@2510..2511 " "
        PATTERN_VARIABLE@2511..2518
          Ident@2511..2517 "header"
          Whitespace@2517..2518 " "
        Eq@2518..2519 "="
        Whitespace@2519..2520 " "
        EXPR_CALL@2520..2533
          EXPR_IDENT@2520..2528
            PATH@2520..2528
              Ident@2520..2528 "tag_text"
          ARG_LIST@2528..2533
            LParen@2528..2529 "("
            ARG@2529..2532
              EXPR_IDENT@2529..2532
                PATH@2529..2532
                  Ident@2529..2532 "tag"
            RParen@2532..2533 ")"
        Semi@2533..2534 ";"
        Whitespace@2534..2539 "\n    "
      STMT_LET@2539..2575
        LetKeyword@2539..2542 "let"
        Whitespace@2542..2543 " "
        PATTERN_VARIABLE@2543..2548
          Ident@2543..2547 "repr"
          Whitespace@2547..2548 " "
        Eq@2548..2549 "="
        Whitespace@2549..2550 " "
        EXPR_CALL@2550..2569
          EXPR_IDENT@2550..2559
            PATH@2550..2559
              Ident@2550..2559 "show_both"
          ARG_LIST@2559..2569
            LParen@2559..2560 "("
            ARG@2560..2568
              EXPR_IDENT@2560..2568
                PATH@2560..2568
                  Ident@2560..2568 "combined"
            RParen@2568..2569 ")"
        Semi@2569..2570 ";"
        Whitespace@2570..2575 "\n    "
      STMT_LET@2575..2604
        LetKeyword@2575..2578 "let"
        Whitespace@2578..2579 " "
        PATTERN_VARIABLE@2579..2581
          Ident@2579..2580 "h"
          Whitespace@2580..2581 " "
        Eq@2581..2582 "="
        Whitespace@2582..2583 " "
        EXPR_CALL@2583..2598
          EXPR_BINARY@2583..2596
            EXPR_IDENT@2583..2591
              PATH@2583..2591
                Ident@2583..2591 "combined"
            Dot@2591..2592 "."
            EXPR_IDENT@2592..2596
              PATH@2592..2596
                Ident@2592..2596 "hash"
          ARG_LIST@2596..2598
            LParen@2596..2597 "("
            RParen@2597..2598 ")"
        Semi@2598..2599 ";"
        Whitespace@2599..2604 "\n    "
      EXPR_BINARY@2604..2697
        EXPR_PAREN@2604..2628
          LParen@2604..2605 "("
          EXPR_BINARY@2605..2626
            EXPR_PAREN@2605..2620
              LParen@2605..2606 "("
              EXPR_BINARY@2606..2618
                EXPR_IDENT@2606..2613
                  PATH@2606..2613
                    Ident@2606..2612 "header"
                    Whitespace@2612..2613 " "
                Plus@2613..2614 "+"
                Whitespace@2614..2615 " "
                EXPR_STR@2615..2618
                  Str@2615..2618 "\" \""
              RParen@2618..2619 ")"
              Whitespace@2619..2620 " "
            Plus@2620..2621 "+"
            Whitespace@2621..2622 " "
            EXPR_IDENT@2622..2626
              PATH@2622..2626
                Ident@2622..2626 "repr"
          RParen@2626..2627 ")"
          Whitespace@2627..2628 " "
        Plus@2628..2629 "+"
        Whitespace@2629..2630 " "
        EXPR_PAREN@2630..2697
          LParen@2630..2631 "("
          EXPR_BINARY@2631..2695
            EXPR_PAREN@2631..2660
              LParen@2631..2632 "("
              EXPR_BINARY@2632..2658
                EXPR_STR@2632..2641
                  Str@2632..2640 "\" | eq=\""
                  Whitespace@2640..2641 " "
                Plus@2641..2642 "+"
                Whitespace@2642..2643 " "
                EXPR_CALL@2643..2658
                  EXPR_IDENT@2643..2652
                    PATH@2643..2652
                      Ident@2643..2652 "bool_text"
                  ARG_LIST@2652..2658
                    LParen@2652..2653 "("
                    ARG@2653..2657
                      EXPR_IDENT@2653..2657
                        PATH@2653..2657
                          Ident@2653..2657 "same"
                    RParen@2657..2658 ")"
              RParen@2658..2659 ")"
              Whitespace@2659..2660 " "
            Plus@2660..2661 "+"
            Whitespace@2661..2662 " "
            EXPR_PAREN@2662..2695
              LParen@2662..2663 "("
              EXPR_BINARY@2663..2694
                EXPR_STR@2663..2674
                  Str@2663..2673 "\" | hash=\""
                  Whitespace@2673..2674 " "
                Plus@2674..2675 "+"
                Whitespace@2675..2676 " "
                EXPR_CALL@2676..2694
                  EXPR_IDENT@2676..2691
                    PATH@2676..2691
                      Ident@2676..2691 "int32_to_string"
                  ARG_LIST@2691..2694
                    LParen@2691..2692 "("
                    ARG@2692..2693
                      EXPR_IDENT@2692..2693
                        PATH@2692..2693
                          Ident@2692..2693 "h"
                    RParen@2693..2694 ")"
              RParen@2694..2695 ")"
          RParen@2695..2696 ")"
          Whitespace@2696..2697 "\n"
      RBrace@2697..2698 "}"
      Whitespace@2698..2700 "\n\n"
  FN@2700..2908
    FnKeyword@2700..2702 "fn"
    Whitespace@2702..2703 " "
    Ident@2703..2714 "full_report"
    GENERIC_LIST@2714..2791
      LBracket@2714..2715 "["
      GENERIC@2715..2771
        Ident@2715..2716 "T"
        Colon@2716..2717 ":"
        Whitespace@2717..2718 " "
        TRAIT_SET@2718..2771
          PATH@2718..2724
            Ident@2718..2723 "Debug"
            Whitespace@2723..2724 " "
          Plus@2724..2725 "+"
          Whitespace@2725..2726 " "
          PATH@2726..2733
            Ident@2726..2732 "MyHash"
            Whitespace@2732..2733 " "
          Plus@2733..2734 "+"
          Whitespace@2734..2735 " "
          PATH@2735..2743
            Ident@2735..2742 "Display"
            Whitespace@2742..2743 " "
          Plus@2743..2744 "+"
          Whitespace@2744..2745 " "
          PATH@2745..2750
            Ident@2745..2749 "MyEq"
            Whitespace@2749..2750 " "
          Plus@2750..2751 "+"
          Whitespace@2751..2752 " "
          PATH@2752..2756
            Ident@2752..2755 "Add"
            Whitespace@2755..2756 " "
          Plus@2756..2757 "+"
          Whitespace@2757..2758 " "
          PATH@2758..2764
            Ident@2758..2763 "Scale"
            Whitespace@2763..2764 " "
          Plus@2764..2765 "+"
          Whitespace@2765..2766 " "
          PATH@2766..2771
            Ident@2766..2771 "Debug"
      Comma@2771..2772 ","
      Whitespace@2772..2773 " "
      GENERIC@2773..2790
        Ident@2773..2774 "Q"
        Colon@2774..2775 ":"
        Whitespace@2775..2776 " "
        TRAIT_SET@2776..2790
          PATH@2776..2782
            Ident@2776..2781 "Debug"
            Whitespace@2781..2782 " "
          Plus@2782..2783 "+"
          Whitespace@2783..2784 " "
          PATH@2784..2790
            Ident@2784..2790 "MyHash"
      RBracket@2790..2791 "]"
    PARAM_LIST@2791..2812
      LParen@2791..2792 "("
      PARAM@2792..2800
        Ident@2792..2795 "tag"
        Colon@2795..2796 ":"
        Whitespace@2796..2797 " "
        TYPE_TAPP@2797..2798
          PATH@2797..2798
            Ident@2797..2798 "Q"
        Comma@2798..2799 ","
        Whitespace@2799..2800 " "
      PARAM@2800..2806
        Ident@2800..2801 "a"
        Colon@2801..2802 ":"
        Whitespace@2802..2803 " "
        TYPE_TAPP@2803..2804
          PATH@2803..2804
            Ident@2803..2804 "T"
        Comma@2804..2805 ","
        Whitespace@2805..2806 " "
      PARAM@2806..2810
        Ident@2806..2807 "b"
        Colon@2807..2808 ":"
        Whitespace@2808..2809 " "
        TYPE_TAPP@2809..2810
          PATH@2809..2810
            Ident@2809..2810 "T"
      RParen@2810..2811 ")"
      Whitespace@2811..2812 " "
    Arrow@2812..2814 "->"
    Whitespace@2814..2815 " "
    TYPE_STRING@2815..2822
      StringKeyword@2815..2821 "string"
      Whitespace@2821..2822 " "
    BLOCK@2822..2908
      LBrace@2822..2823 "{"
      Whitespace@2823..2828 "\n    "
      STMT_LET@2828..2872
        LetKeyword@2828..2831 "let"
        Whitespace@2831..2832 " "
        PATTERN_VARIABLE@2832..2841
          Ident@2832..2840 "combined"
          Whitespace@2840..2841 " "
        Eq@2841..2842 "="
        Whitespace@2842..2843 " "
        EXPR_CALL@2843..2866
          EXPR_IDENT@2843..2857
            PATH@2843..2857
              Ident@2843..2857 "combine_scaled"
          ARG_LIST@2857..2866
            LParen@2857..2858 "("
            ARG@2858..2861
              EXPR_IDENT@2858..2859
                PATH@2858..2859
                  Ident@2858..2859 "a"
              Comma@2859..2860 ","
              Whitespace@2860..2861 " "
            ARG@2861..2864
              EXPR_IDENT@2861..2862
                PATH@2861..2862
                  Ident@2861..2862 "b"
              Comma@2862..2863 ","
              Whitespace@2863..2864 " "
            ARG@2864..2865
              EXPR_INT@2864..2865
                Int@2864..2865 "2"
            RParen@2865..2866 ")"
        Semi@2866..2867 ";"
        Whitespace@2867..2872 "\n    "
      EXPR_CALL@2872..2905
        EXPR_IDENT@2872..2883
          PATH@2872..2883
            Ident@2872..2883 "report_pair"
        ARG_LIST@2883..2905
          LParen@2883..2884 "("
          ARG@2884..2889
            EXPR_IDENT@2884..2887
              PATH@2884..2887
                Ident@2884..2887 "tag"
            Comma@2887..2888 ","
            Whitespace@2888..2889 " "
          ARG@2889..2892
            EXPR_IDENT@2889..2890
              PATH@2889..2890
                Ident@2889..2890 "a"
            Comma@2890..2891 ","
            Whitespace@2891..2892 " "
          ARG@2892..2895
            EXPR_IDENT@2892..2893
              PATH@2892..2893
                Ident@2892..2893 "b"
            Comma@2893..2894 ","
            Whitespace@2894..2895 " "
          ARG@2895..2903
            EXPR_IDENT@2895..2903
              PATH@2895..2903
                Ident@2895..2903 "combined"
          RParen@2903..2904 ")"
          Whitespace@2904..2905 "\n"
      RBrace@2905..2906 "}"
      Whitespace@2906..2908 "\n\n"
  FN@2908..3170
    FnKeyword@2908..2910 "fn"
    Whitespace@2910..2911 " "
    Ident@2911..2922 "sum_and_tag"
    GENERIC_LIST@2922..2968
      LBracket@2922..2923 "["
      GENERIC@2923..2948
        Ident@2923..2924 "T"
        Colon@2924..2925 ":"
        Whitespace@2925..2926 " "
        TRAIT_SET@2926..2948
          PATH@2926..2930
            Ident@2926..2929 "Add"
            Whitespace@2929..2930 " "
          Plus@2930..2931 "+"
          Whitespace@2931..2932 " "
          PATH@2932..2939
            Ident@2932..2938 "MyHash"
            Whitespace@2938..2939 " "
          Plus@2939..2940 "+"
          Whitespace@2940..2941 " "
          PATH@2941..2948
            Ident@2941..2948 "Inspect"
      Comma@2948..2949 ","
      Whitespace@2949..2950 " "
      GENERIC@2950..2967
        Ident@2950..2951 "Q"
        Colon@2951..2952 ":"
        Whitespace@2952..2953 " "
        TRAIT_SET@2953..2967
          PATH@2953..2959
            Ident@2953..2958 "Debug"
            Whitespace@2958..2959 " "
          Plus@2959..2960 "+"
          Whitespace@2960..2961 " "
          PATH@2961..2967
            Ident@2961..2967 "MyHash"
      RBracket@2967..2968 "]"
    PARAM_LIST@2968..2995
      LParen@2968..2969 "("
      PARAM@2969..2977
        Ident@2969..2972 "tag"
        Colon@2972..2973 ":"
        Whitespace@2973..2974 " "
        TYPE_TAPP@2974..2975
          PATH@2974..2975
            Ident@2974..2975 "Q"
        Comma@2975..2976 ","
        Whitespace@2976..2977 " "
      PARAM@2977..2983
        Ident@2977..2978 "x"
        Colon@2978..2979 ":"
        Whitespace@2979..2980 " "
        TYPE_TAPP@2980..2981
          PATH@2980..2981
            Ident@2980..2981 "T"
        Comma@2981..2982 ","
        Whitespace@2982..2983 " "
      PARAM@2983..2989
        Ident@2983..2984 "y"
        Colon@2984..2985 ":"
        Whitespace@2985..2986 " "
        TYPE_TAPP@2986..2987
          PATH@2986..2987
            Ident@2986..2987 "T"
        Comma@2987..2988 ","
        Whitespace@2988..2989 " "
      PARAM@2989..2993
        Ident@2989..2990 "z"
        Colon@2990..2991 ":"
        Whitespace@2991..2992 " "
        TYPE_TAPP@2992..2993
          PATH@2992..2993
            Ident@2992..2993 "T"
      RParen@2993..2994 ")"
      Whitespace@2994..2995 " "
    Arrow@2995..2997 "->"
    Whitespace@2997..2998 " "
    TYPE_STRING@2998..3005
      StringKeyword@2998..3004 "string"
      Whitespace@3004..3005 " "
    BLOCK@3005..3170
      LBrace@3005..3006 "{"
      Whitespace@3006..3011 "\n    "
      STMT_LET@3011..3044
        LetKeyword@3011..3014 "let"
        Whitespace@3014..3015 " "
        PATTERN_VARIABLE@3015..3021
          Ident@3015..3020 "total"
          Whitespace@3020..3021 " "
        Eq@3021..3022 "="
        Whitespace@3022..3023 " "
        EXPR_CALL@3023..3038
          EXPR_BINARY@3023..3035
            EXPR_CALL@3023..3031
              EXPR_BINARY@3023..3028
                EXPR_IDENT@3023..3024
                  PATH@3023..3024
                    Ident@3023..3024 "x"
                Dot@3024..3025 "."
                EXPR_IDENT@3025..3028
                  PATH@3025..3028
                    Ident@3025..3028 "add"
              ARG_LIST@3028..3031
                LParen@3028..3029 "("
                ARG@3029..3030
                  EXPR_IDENT@3029..3030
                    PATH@3029..3030
                      Ident@3029..3030 "y"
                RParen@3030..3031 ")"
            Dot@3031..3032 "."
            EXPR_IDENT@3032..3035
              PATH@3032..3035
                Ident@3032..3035 "add"
          ARG_LIST@3035..3038
            LParen@3035..3036 "("
            ARG@3036..3037
              EXPR_IDENT@3036..3037
                PATH@3036..3037
                  Ident@3036..3037 "z"
            RParen@3037..3038 ")"
        Semi@3038..3039 ";"
        Whitespace@3039..3044 "\n    "
      STMT_LET@3044..3076
        LetKeyword@3044..3047 "let"
        Whitespace@3047..3048 " "
        PATTERN_VARIABLE@3048..3055
          Ident@3048..3054 "header"
          Whitespace@3054..3055 " "
        Eq@3055..3056 "="
        Whitespace@3056..3057 " "
        EXPR_CALL@3057..3070
          EXPR_IDENT@3057..3065
            PATH@3057..3065
              Ident@3057..3065 "tag_text"
          ARG_LIST@3065..3070
            LParen@3065..3066 "("
            ARG@3066..3069
              EXPR_IDENT@3066..3069
                PATH@3066..3069
                  Ident@3066..3069 "tag"
            RParen@3069..3070 ")"
        Semi@3070..3071 ";"
        Whitespace@3071..3076 "\n    "
      STMT_LET@3076..3102
        LetKeyword@3076..3079 "let"
        Whitespace@3079..3080 " "
        PATTERN_VARIABLE@3080..3082
          Ident@3080..3081 "h"
          Whitespace@3081..3082 " "
        Eq@3082..3083 "="
        Whitespace@3083..3084 " "
        EXPR_CALL@3084..3096
          EXPR_BINARY@3084..3094
            EXPR_IDENT@3084..3089
              PATH@3084..3089
                Ident@3084..3089 "total"
            Dot@3089..3090 "."
            EXPR_IDENT@3090..3094
              PATH@3090..3094
                Ident@3090..3094 "hash"
          ARG_LIST@3094..3096
            LParen@3094..3095 "("
            RParen@3095..3096 ")"
        Semi@3096..3097 ";"
        Whitespace@3097..3102 "\n    "
      EXPR_BINARY@3102..3167
        EXPR_PAREN@3102..3137
          LParen@3102..3103 "("
          EXPR_BINARY@3103..3135
            EXPR_PAREN@3103..3118
              LParen@3103..3104 "("
              EXPR_BINARY@3104..3116
                EXPR_IDENT@3104..3111
                  PATH@3104..3111
                    Ident@3104..3110 "header"
                    Whitespace@3110..3111 " "
                Plus@3111..3112 "+"
                Whitespace@3112..3113 " "
                EXPR_STR@3113..3116
                  Str@3113..3116 "\" \""
              RParen@3116..3117 ")"
              Whitespace@3117..3118 " "
            Plus@3118..3119 "+"
            Whitespace@3119..3120 " "
            EXPR_CALL@3120..3135
              EXPR_BINARY@3120..3133
                EXPR_IDENT@3120..3125
                  PATH@3120..3125
                    Ident@3120..3125 "total"
                Dot@3125..3126 "."
                EXPR_IDENT@3126..3133
                  PATH@3126..3133
                    Ident@3126..3133 "inspect"
              ARG_LIST@3133..3135
                LParen@3133..3134 "("
                RParen@3134..3135 ")"
          RParen@3135..3136 ")"
          Whitespace@3136..3137 " "
        Plus@3137..3138 "+"
        Whitespace@3138..3139 " "
        EXPR_PAREN@3139..3167
          LParen@3139..3140 "("
          EXPR_BINARY@3140..3165
            EXPR_STR@3140..3145
              Str@3140..3144 "\" @\""
              Whitespace@3144..3145 " "
            Plus@3145..3146 "+"
            Whitespace@3146..3147 " "
            EXPR_CALL@3147..3165
              EXPR_IDENT@3147..3162
                PATH@3147..3162
                  Ident@3147..3162 "int32_to_string"
              ARG_LIST@3162..3165
                LParen@3162..3163 "("
                ARG@3163..3164
                  EXPR_IDENT@3163..3164
                    PATH@3163..3164
                      Ident@3163..3164 "h"
                RParen@3164..3165 ")"
          RParen@3165..3166 ")"
          Whitespace@3166..3167 "\n"
      RBrace@3167..3168 "}"
      Whitespace@3168..3170 "\n\n"
  FN@3170..3519
    FnKeyword@3170..3172 "fn"
    Whitespace@3172..3173 " "
    Ident@3173..3177 "main"
    PARAM_LIST@3177..3180
      LParen@3177..3178 "("
      RParen@3178..3179 ")"
      Whitespace@3179..3180 " "
    BLOCK@3180..3519
      LBrace@3180..3181 "{"
      Whitespace@3181..3186 "\n    "
      STMT_LET@3186..3238
        LetKeyword@3186..3189 "let"
        Whitespace@3189..3190 " "
        PATTERN_WILDCARD@3190..3192
          WildcardKeyword@3190..3191 "_"
          Whitespace@3191..3192 " "
        Eq@3192..3193 "="
        Whitespace@3193..3194 " "
        EXPR_CALL@3194..3232
          EXPR_IDENT@3194..3208
            PATH@3194..3208
              Ident@3194..3208 "string_println"
          ARG_LIST@3208..3232
            LParen@3208..3209 "("
            ARG@3209..3231
              EXPR_CALL@3209..3231
                EXPR_IDENT@3209..3220
                  PATH@3209..3220
                    Ident@3209..3220 "full_report"
                ARG_LIST@3220..3231
                  LParen@3220..3221 "("
                  ARG@3221..3224
                    EXPR_INT@3221..3222
                      Int@3221..3222 "7"
                    Comma@3222..3223 ","
                    Whitespace@3223..3224 " "
                  ARG@3224..3228
                    EXPR_INT@3224..3226
                      Int@3224..3226 "10"
                    Comma@3226..3227 ","
                    Whitespace@3227..3228 " "
                  ARG@3228..3230
                    EXPR_INT@3228..3230
                      Int@3228..3230 "32"
                  RParen@3230..3231 ")"
            RParen@3231..3232 ")"
        Semi@3232..3233 ";"
        Whitespace@3233..3238 "\n    "
      STMT_LET@3238..3340
        LetKeyword@3238..3241 "let"
        Whitespace@3241..3242 " "
        PATTERN_WILDCARD@3242..3244
          WildcardKeyword@3242..3243 "_"
          Whitespace@3243..3244 " "
        Eq@3244..3245 "="
        Whitespace@3245..3246 " "
        EXPR_CALL@3246..3334
          EXPR_IDENT@3246..3260
            PATH@3246..3260
              Ident@3246..3260 "string_println"
          ARG_LIST@3260..3334
            LParen@3260..3261 "("
            ARG@3261..3333
              EXPR_CALL@3261..3333
                EXPR_IDENT@3261..3272
                  PATH@3261..3272
                    Ident@3261..3272 "full_report"
                ARG_LIST@3272..3333
                  LParen@3272..3273 "("
                  ARG@3273..3294
                    EXPR_STRUCT_LITERAL@3273..3292
                      PATH@3273..3279
                        Ident@3273..3278 "Boxed"
                        Whitespace@3278..3279 " "
                      STRUCT_LITERAL_FIELD_LIST@3279..3292
                        LBrace@3279..3280 "{"
                        Whitespace@3280..3281 " "
                        STRUCT_LITERAL_FIELD@3281..3291
                          Ident@3281..3286 "value"
                          Colon@3286..3287 ":"
                          Whitespace@3287..3288 " "
                          EXPR_INT@3288..3291
                            Int@3288..3290 "99"
                            Whitespace@3290..3291 " "
                        RBrace@3291..3292 "}"
                    Comma@3292..3293 ","
                    Whitespace@3293..3294 " "
                  ARG@3294..3314
                    EXPR_STRUCT_LITERAL@3294..3312
                      PATH@3294..3300
                        Ident@3294..3299 "Boxed"
                        Whitespace@3299..3300 " "
                      STRUCT_LITERAL_FIELD_LIST@3300..3312
                        LBrace@3300..3301 "{"
                        Whitespace@3301..3302 " "
                        STRUCT_LITERAL_FIELD@3302..3311
                          Ident@3302..3307 "value"
                          Colon@3307..3308 ":"
                          Whitespace@3308..3309 " "
                          EXPR_INT@3309..3311
                            Int@3309..3310 "3"
                            Whitespace@3310..3311 " "
                        RBrace@3311..3312 "}"
                    Comma@3312..3313 ","
                    Whitespace@3313..3314 " "
                  ARG@3314..3332
                    EXPR_STRUCT_LITERAL@3314..3332
                      PATH@3314..3320
                        Ident@3314..3319 "Boxed"
                        Whitespace@3319..3320 " "
                      STRUCT_LITERAL_FIELD_LIST@3320..3332
                        LBrace@3320..3321 "{"
                        Whitespace@3321..3322 " "
                        STRUCT_LITERAL_FIELD@3322..3331
                          Ident@3322..3327 "value"
                          Colon@3327..3328 ":"
                          Whitespace@3328..3329 " "
                          EXPR_INT@3329..3331
                            Int@3329..3330 "4"
                            Whitespace@3330..3331 " "
                        RBrace@3331..3332 "}"
                  RParen@3332..3333 ")"
            RParen@3333..3334 ")"
        Semi@3334..3335 ";"
        Whitespace@3335..3340 "\n    "
      STMT_LET@3340..3393
        LetKeyword@3340..3343 "let"
        Whitespace@3343..3344 " "
        PATTERN_WILDCARD@3344..3346
          WildcardKeyword@3344..3345 "_"
          Whitespace@3345..3346 " "
        Eq@3346..3347 "="
        Whitespace@3347..3348 " "
        EXPR_CALL@3348..3387
          EXPR_IDENT@3348..3362
            PATH@3348..3362
              Ident@3348..3362 "string_println"
          ARG_LIST@3362..3387
            LParen@3362..3363 "("
            ARG@3363..3386
              EXPR_CALL@3363..3386
                EXPR_IDENT@3363..3374
                  PATH@3363..3374
                    Ident@3363..3374 "sum_and_tag"
                ARG_LIST@3374..3386
                  LParen@3374..3375 "("
                  ARG@3375..3378
                    EXPR_INT@3375..3376
                      Int@3375..3376 "0"
                    Comma@3376..3377 ","
                    Whitespace@3377..3378 " "
                  ARG@3378..3381
                    EXPR_INT@3378..3379
                      Int@3378..3379 "1"
                    Comma@3379..3380 ","
                    Whitespace@3380..3381 " "
                  ARG@3381..3384
                    EXPR_INT@3381..3382
                      Int@3381..3382 "2"
                    Comma@3382..3383 ","
                    Whitespace@3383..3384 " "
                  ARG@3384..3385
                    EXPR_INT@3384..3385
                      Int@3384..3385 "3"
                  RParen@3385..3386 ")"
            RParen@3386..3387 ")"
        Semi@3387..3388 ";"
        Whitespace@3388..3393 "\n    "
      STMT_LET@3393..3514
        LetKeyword@3393..3396 "let"
        Whitespace@3396..3397 " "
        PATTERN_WILDCARD@3397..3399
          WildcardKeyword@3397..3398 "_"
          Whitespace@3398..3399 " "
        Eq@3399..3400 "="
        Whitespace@3400..3401 " "
        EXPR_CALL@3401..3508
          EXPR_IDENT@3401..3415
            PATH@3401..3415
              Ident@3401..3415 "string_println"
          ARG_LIST@3415..3508
            LParen@3415..3416 "("
            ARG@3416..3507
              EXPR_CALL@3416..3507
                EXPR_IDENT@3416..3427
                  PATH@3416..3427
                    Ident@3416..3427 "sum_and_tag"
                ARG_LIST@3427..3507
                  LParen@3427..3428 "("
                  ARG@3428..3448
                    EXPR_STRUCT_LITERAL@3428..3446
                      PATH@3428..3434
                        Ident@3428..3433 "Boxed"
                        Whitespace@3433..3434 " "
                      STRUCT_LITERAL_FIELD_LIST@3434..3446
                        LBrace@3434..3435 "{"
                        Whitespace@3435..3436 " "
                        STRUCT_LITERAL_FIELD@3436..3445
                          Ident@3436..3441 "value"
                          Colon@3441..3442 ":"
                          Whitespace@3442..3443 " "
                          EXPR_INT@3443..3445
                            Int@3443..3444 "1"
                            Whitespace@3444..3445 " "
                        RBrace@3445..3446 "}"
                    Comma@3446..3447 ","
                    Whitespace@3447..3448 " "
                  ARG@3448..3468
                    EXPR_STRUCT_LITERAL@3448..3466
                      PATH@3448..3454
                        Ident@3448..3453 "Boxed"
                        Whitespace@3453..3454 " "
                      STRUCT_LITERAL_FIELD_LIST@3454..3466
                        LBrace@3454..3455 "{"
                        Whitespace@3455..3456 " "
                        STRUCT_LITERAL_FIELD@3456..3465
                          Ident@3456..3461 "value"
                          Colon@3461..3462 ":"
                          Whitespace@3462..3463 " "
                          EXPR_INT@3463..3465
                            Int@3463..3464 "5"
                            Whitespace@3464..3465 " "
                        RBrace@3465..3466 "}"
                    Comma@3466..3467 ","
                    Whitespace@3467..3468 " "
                  ARG@3468..3488
                    EXPR_STRUCT_LITERAL@3468..3486
                      PATH@3468..3474
                        Ident@3468..3473 "Boxed"
                        Whitespace@3473..3474 " "
                      STRUCT_LITERAL_FIELD_LIST@3474..3486
                        LBrace@3474..3475 "{"
                        Whitespace@3475..3476 " "
                        STRUCT_LITERAL_FIELD@3476..3485
                          Ident@3476..3481 "value"
                          Colon@3481..3482 ":"
                          Whitespace@3482..3483 " "
                          EXPR_INT@3483..3485
                            Int@3483..3484 "6"
                            Whitespace@3484..3485 " "
                        RBrace@3485..3486 "}"
                    Comma@3486..3487 ","
                    Whitespace@3487..3488 " "
                  ARG@3488..3506
                    EXPR_STRUCT_LITERAL@3488..3506
                      PATH@3488..3494
                        Ident@3488..3493 "Boxed"
                        Whitespace@3493..3494 " "
                      STRUCT_LITERAL_FIELD_LIST@3494..3506
                        LBrace@3494..3495 "{"
                        Whitespace@3495..3496 " "
                        STRUCT_LITERAL_FIELD@3496..3505
                          Ident@3496..3501 "value"
                          Colon@3501..3502 ":"
                          Whitespace@3502..3503 " "
                          EXPR_INT@3503..3505
                            Int@3503..3504 "7"
                            Whitespace@3504..3505 " "
                        RBrace@3505..3506 "}"
                  RParen@3506..3507 ")"
            RParen@3507..3508 ")"
        Semi@3508..3509 ";"
        Whitespace@3509..3514 "\n    "
      EXPR_UNIT@3514..3517
        LParen@3514..3515 "("
        RParen@3515..3516 ")"
        Whitespace@3516..3517 "\n"
      RBrace@3517..3518 "}"
      Whitespace@3518..3519 "\n"