FILE@0..969
  FN@0..79
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..22 "make_string_channel"
    PARAM_LIST@22..25
      LParen@22..23 "("
      RParen@23..24 ")"
      Whitespace@24..25 " "
    Arrow@25..27 "->"
    Whitespace@27..28 " "
    TYPE_TAPP@28..44
      PATH@28..35
        Ident@28..35 "Channel"
      TYPE_PARAM_LIST@35..44
        LBracket@35..36 "["
        TYPE_STRING@36..42
          StringKeyword@36..42 "string"
        RBracket@42..43 "]"
        Whitespace@43..44 " "
    BLOCK@44..79
      LBrace@44..45 "{"
      Whitespace@45..50 "\n    "
      EXPR_CALL@50..76
        EXPR_IDENT@50..72
          TYPE_TAPP@50..67
            PATH@50..57
              Ident@50..57 "Channel"
            ColonColon@57..59 "::"
            TYPE_PARAM_LIST@59..67
              LBracket@59..60 "["
              TYPE_STRING@60..66
                StringKeyword@60..66 "string"
              RBracket@66..67 "]"
          ColonColon@67..69 "::"
          PATH@69..72
            Ident@69..72 "new"
        ARG_LIST@72..76
          LParen@72..73 "("
          ARG@73..74
            EXPR_INT@73..74
              Int@73..74 "0"
          RParen@74..75 ")"
          Whitespace@75..76 "\n"
      RBrace@76..77 "}"
      Whitespace@77..79 "\n\n"
  FN@79..194
    FnKeyword@79..81 "fn"
    Whitespace@81..82 " "
    Ident@82..91 "roundtrip"
    GENERIC_LIST@91..94
      LBracket@91..92 "["
      GENERIC@92..93
        Ident@92..93 "T"
      RBracket@93..94 "]"
    PARAM_LIST@94..126
      LParen@94..95 "("
      PARAM@95..116
        Ident@95..102 "channel"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_TAPP@104..114
          PATH@104..111
            Ident@104..111 "Channel"
          TYPE_PARAM_LIST@111..114
            LBracket@111..112 "["
            TYPE_TAPP@112..113
              PATH@112..113
                Ident@112..113 "T"
            RBracket@113..114 "]"
        Comma@114..115 ","
        Whitespace@115..116 " "
      PARAM@116..124
        Ident@116..121 "value"
        Colon@121..122 ":"
        Whitespace@122..123 " "
        TYPE_TAPP@123..124
          PATH@123..124
            Ident@123..124 "T"
      RParen@124..125 ")"
      Whitespace@125..126 " "
    Arrow@126..128 "->"
    Whitespace@128..129 " "
    TYPE_TAPP@129..139
      PATH@129..135
        Ident@129..135 "Option"
      TYPE_PARAM_LIST@135..139
        LBracket@135..136 "["
        TYPE_TAPP@136..137
          PATH@136..137
            Ident@136..137 "T"
        RBracket@137..138 "]"
        Whitespace@138..139 " "
    BLOCK@139..194
      LBrace@139..140 "{"
      Whitespace@140..145 "\n    "
      STMT_EXPR@145..176
        EXPR_GO@145..170
          GoKeyword@145..147 "go"
          Whitespace@147..148 " "
          EXPR_CLOSURE@148..170
            CLOSURE_PARAM_LIST@148..151
              OrOr@148..150 "||"
              Whitespace@150..151 " "
            EXPR_CLOSURE_BODY@151..170
              EXPR_CALL@151..170
                EXPR_BINARY@151..163
                  EXPR_IDENT@151..158
                    PATH@151..158
                      Ident@151..158 "channel"
                  Dot@158..159 "."
                  EXPR_IDENT@159..163
                    PATH@159..163
                      Ident@159..163 "send"
                ARG_LIST@163..170
                  LParen@163..164 "("
                  ARG@164..169
                    EXPR_IDENT@164..169
                      PATH@164..169
                        Ident@164..169 "value"
                  RParen@169..170 ")"
        Semi@170..171 ";"
        Whitespace@171..176 "\n    "
      EXPR_CALL@176..191
        EXPR_BINARY@176..188
          EXPR_IDENT@176..183
            PATH@176..183
              Ident@176..183 "channel"
          Dot@183..184 "."
          EXPR_IDENT@184..188
            PATH@184..188
              Ident@184..188 "recv"
        ARG_LIST@188..191
          LParen@188..189 "("
          RParen@189..190 ")"
          Whitespace@190..191 "\n"
      RBrace@191..192 "}"
      Whitespace@192..194 "\n\n"
  FN@194..969
    FnKeyword@194..196 "fn"
    Whitespace@196..197 " "
    Ident@197..201 "main"
    PARAM_LIST@201..204
      LParen@201..202 "("
      RParen@202..203 ")"
      Whitespace@203..204 " "
    Arrow@204..206 "->"
    Whitespace@206..207 " "
    TYPE_UNIT@207..212
      UnitKeyword@207..211 "unit"
      Whitespace@211..212 " "
    BLOCK@212..969
      LBrace@212..213 "{"
      Whitespace@213..218 "\n    "
      STMT_LET@218..263
        LetKeyword@218..221 "let"
        Whitespace@221..222 " "
        PATTERN_VARIABLE@222..231
          Ident@222..230 "buffered"
          Whitespace@230..231 " "
        Eq@231..232 "="
        Whitespace@232..233 " "
        EXPR_CALL@233..257
          EXPR_IDENT@233..254
            TYPE_TAPP@233..249
              PATH@233..240
                Ident@233..240 "Channel"
              ColonColon@240..242 "::"
              TYPE_PARAM_LIST@242..249
                LBracket@242..243 "["
                TYPE_INT@243..248
                  IsizeKeyword@243..248 "isize"
                RBracket@248..249 "]"
            ColonColon@249..251 "::"
            PATH@251..254
              Ident@251..254 "new"
          ARG_LIST@254..257
            LParen@254..255 "("
            ARG@255..256
              EXPR_INT@255..256
                Int@255..256 "2"
            RParen@256..257 ")"
        Semi@257..258 ";"
        Whitespace@258..263 "\n    "
      STMT_EXPR@263..286
        EXPR_CALL@263..280
          EXPR_BINARY@263..276
            EXPR_IDENT@263..271
              PATH@263..271
                Ident@263..271 "buffered"
            Dot@271..272 "."
            EXPR_IDENT@272..276
              PATH@272..276
                Ident@272..276 "send"
          ARG_LIST@276..280
            LParen@276..277 "("
            ARG@277..279
              EXPR_INT@277..279
                Int@277..279 "10"
            RParen@279..280 ")"
        Semi@280..281 ";"
        Whitespace@281..286 "\n    "
      STMT_EXPR@286..309
        EXPR_CALL@286..303
          EXPR_BINARY@286..299
            EXPR_IDENT@286..294
              PATH@286..294
                Ident@286..294 "buffered"
            Dot@294..295 "."
            EXPR_IDENT@295..299
              PATH@295..299
                Ident@295..299 "send"
          ARG_LIST@299..303
            LParen@299..300 "("
            ARG@300..302
              EXPR_INT@300..302
                Int@300..302 "20"
            RParen@302..303 ")"
        Semi@303..304 ";"
        Whitespace@304..309 "\n    "
      STMT_EXPR@309..331
        EXPR_CALL@309..325
          EXPR_BINARY@309..323
            EXPR_IDENT@309..317
              PATH@309..317
                Ident@309..317 "buffered"
            Dot@317..318 "."
            EXPR_IDENT@318..323
              PATH@318..323
                Ident@318..323 "close"
          ARG_LIST@323..325
            LParen@323..324 "("
            RParen@324..325 ")"
        Semi@325..326 ";"
        Whitespace@326..331 "\n    "
      STMT_EXPR@331..468
        EXPR_CALL@331..462
          EXPR_IDENT@331..338
            PATH@331..338
              Ident@331..338 "println"
          ARG_LIST@338..462
            LParen@338..339 "("
            Whitespace@339..348 "\n        "
            ARG@348..461
              EXPR_MATCH@348..455
                MatchKeyword@348..353 "match"
                Whitespace@353..354 " "
                EXPR_CALL@354..370
                  EXPR_BINARY@354..367
                    EXPR_IDENT@354..362
                      PATH@354..362
                        Ident@354..362 "buffered"
                    Dot@362..363 "."
                    EXPR_IDENT@363..367
                      PATH@363..367
                        Ident@363..367 "recv"
                  ARG_LIST@367..370
                    LParen@367..368 "("
                    RParen@368..369 ")"
                    Whitespace@369..370 " "
                MATCH_ARM_LIST@370..455
                  LBrace@370..371 "{"
                  Whitespace@371..384 "\n            "
                  MATCH_ARM@384..412
                    PATTERN_CONSTR@384..404
                      PATH@384..396
                        Ident@384..390 "Option"
                        ColonColon@390..392 "::"
                        Ident@392..396 "Some"
                      LParen@396..397 "("
                      PATTERN_VARIABLE@397..402
                        Ident@397..402 "value"
                      RParen@402..403 ")"
                      Whitespace@403..404 " "
                    FatArrow@404..406 "=>"
                    Whitespace@406..407 " "
                    EXPR_IDENT@407..412
                      PATH@407..412
                        Ident@407..412 "value"
                  Comma@412..413 ","
                  Whitespace@413..426 "\n            "
                  MATCH_ARM@426..444
                    PATTERN_CONSTR@426..439
                      PATH@426..439
                        Ident@426..432 "Option"
                        ColonColon@432..434 "::"
                        Ident@434..438 "None"
                        Whitespace@438..439 " "
                    FatArrow@439..441 "=>"
                    Whitespace@441..442 " "
                    EXPR_PREFIX@442..444
                      Minus@442..443 "-"
                      EXPR_INT@443..444
                        Int@443..444 "1"
                  Comma@444..445 ","
                  Whitespace@445..454 "\n        "
                  RBrace@454..455 "}"
              Comma@455..456 ","
              Whitespace@456..461 "\n    "
            RParen@461..462 ")"
        Semi@462..463 ";"
        Whitespace@463..468 "\n    "
      STMT_EXPR@468..605
        EXPR_CALL@468..599
          EXPR_IDENT@468..475
            PATH@468..475
              Ident@468..475 "println"
          ARG_LIST@475..599
            LParen@475..476 "("
            Whitespace@476..485 "\n        "
            ARG@485..598
              EXPR_MATCH@485..592
                MatchKeyword@485..490 "match"
                Whitespace@490..491 " "
                EXPR_CALL@491..507
                  EXPR_BINARY@491..504
                    EXPR_IDENT@491..499
                      PATH@491..499
                        Ident@491..499 "buffered"
                    Dot@499..500 "."
                    EXPR_IDENT@500..504
                      PATH@500..504
                        Ident@500..504 "recv"
                  ARG_LIST@504..507
                    LParen@504..505 "("
                    RParen@505..506 ")"
                    Whitespace@506..507 " "
                MATCH_ARM_LIST@507..592
                  LBrace@507..508 "{"
                  Whitespace@508..521 "\n            "
                  MATCH_ARM@521..549
                    PATTERN_CONSTR@521..541
                      PATH@521..533
                        Ident@521..527 "Option"
                        ColonColon@527..529 "::"
                        Ident@529..533 "Some"
                      LParen@533..534 "("
                      PATTERN_VARIABLE@534..539
                        Ident@534..539 "value"
                      RParen@539..540 ")"
                      Whitespace@540..541 " "
                    FatArrow@541..543 "=>"
                    Whitespace@543..544 " "
                    EXPR_IDENT@544..549
                      PATH@544..549
                        Ident@544..549 "value"
                  Comma@549..550 ","
                  Whitespace@550..563 "\n            "
                  MATCH_ARM@563..581
                    PATTERN_CONSTR@563..576
                      PATH@563..576
                        Ident@563..569 "Option"
                        ColonColon@569..571 "::"
                        Ident@571..575 "None"
                        Whitespace@575..576 " "
                    FatArrow@576..578 "=>"
                    Whitespace@578..579 " "
                    EXPR_PREFIX@579..581
                      Minus@579..580 "-"
                      EXPR_INT@580..581
                        Int@580..581 "1"
                  Comma@581..582 ","
                  Whitespace@582..591 "\n        "
                  RBrace@591..592 "}"
              Comma@592..593 ","
              Whitespace@593..598 "\n    "
            RParen@598..599 ")"
        Semi@599..600 ";"
        Whitespace@600..605 "\n    "
      STMT_EXPR@605..745
        EXPR_CALL@605..739
          EXPR_IDENT@605..612
            PATH@605..612
              Ident@605..612 "println"
          ARG_LIST@612..739
            LParen@612..613 "("
            Whitespace@613..622 "\n        "
            ARG@622..738
              EXPR_MATCH@622..732
                MatchKeyword@622..627 "match"
                Whitespace@627..628 " "
                EXPR_CALL@628..644
                  EXPR_BINARY@628..641
                    EXPR_IDENT@628..636
                      PATH@628..636
                        Ident@628..636 "buffered"
                    Dot@636..637 "."
                    EXPR_IDENT@637..641
                      PATH@637..641
                        Ident@637..641 "recv"
                  ARG_LIST@641..644
                    LParen@641..642 "("
                    RParen@642..643 ")"
                    Whitespace@643..644 " "
                MATCH_ARM_LIST@644..732
                  LBrace@644..645 "{"
                  Whitespace@645..658 "\n            "
                  MATCH_ARM@658..683
                    PATTERN_CONSTR@658..674
                      PATH@658..670
                        Ident@658..664 "Option"
                        ColonColon@664..666 "::"
                        Ident@666..670 "Some"
                      LParen@670..671 "("
                      PATTERN_WILDCARD@671..672
                        WildcardKeyword@671..672 "_"
                      RParen@672..673 ")"
                      Whitespace@673..674 " "
                    FatArrow@674..676 "=>"
                    Whitespace@676..677 " "
                    EXPR_STR@677..683
                      Str@677..683 "\"open\""
                  Comma@683..684 ","
                  Whitespace@684..697 "\n            "
                  MATCH_ARM@697..721
                    PATTERN_CONSTR@697..710
                      PATH@697..710
                        Ident@697..703 "Option"
                        ColonColon@703..705 "::"
                        Ident@705..709 "None"
                        Whitespace@709..710 " "
                    FatArrow@710..712 "=>"
                    Whitespace@712..713 " "
                    EXPR_STR@713..721
                      Str@713..721 "\"closed\""
                  Comma@721..722 ","
                  Whitespace@722..731 "\n        "
                  RBrace@731..732 "}"
              Comma@732..733 ","
              Whitespace@733..738 "\n    "
            RParen@738..739 ")"
        Semi@739..740 ";"
        Whitespace@740..745 "\n    "
      STMT_LET@745..789
        LetKeyword@745..748 "let"
        Whitespace@748..749 " "
        PATTERN_VARIABLE@749..760
          Ident@749..759 "unbuffered"
          Whitespace@759..760 " "
        Eq@760..761 "="
        Whitespace@761..762 " "
        EXPR_CALL@762..783
          EXPR_IDENT@762..781
            PATH@762..781
              Ident@762..781 "make_string_channel"
          ARG_LIST@781..783
            LParen@781..782 "("
            RParen@782..783 ")"
        Semi@783..784 ";"
        Whitespace@784..789 "\n    "
      STMT_EXPR@789..947
        EXPR_CALL@789..941
          EXPR_IDENT@789..796
            PATH@789..796
              Ident@789..796 "println"
          ARG_LIST@796..941
            LParen@796..797 "("
            Whitespace@797..806 "\n        "
            ARG@806..940
              EXPR_MATCH@806..934
                MatchKeyword@806..811 "match"
                Whitespace@811..812 " "
                EXPR_CALL@812..843
                  EXPR_IDENT@812..821
                    PATH@812..821
                      Ident@812..821 "roundtrip"
                  ARG_LIST@821..843
                    LParen@821..822 "("
                    ARG@822..834
                      EXPR_IDENT@822..832
                        PATH@822..832
                          Ident@822..832 "unbuffered"
                      Comma@832..833 ","
                      Whitespace@833..834 " "
                    ARG@834..841
                      EXPR_STR@834..841
                        Str@834..841 "\"ready\""
                    RParen@841..842 ")"
                    Whitespace@842..843 " "
                MATCH_ARM_LIST@843..934
                  LBrace@843..844 "{"
                  Whitespace@844..857 "\n            "
                  MATCH_ARM@857..885
                    PATTERN_CONSTR@857..877
                      PATH@857..869
                        Ident@857..863 "Option"
                        ColonColon@863..865 "::"
                        Ident@865..869 "Some"
                      LParen@869..870 "("
                      PATTERN_VARIABLE@870..875
                        Ident@870..875 "value"
                      RParen@875..876 ")"
                      Whitespace@876..877 " "
                    FatArrow@877..879 "=>"
                    Whitespace@879..880 " "
                    EXPR_IDENT@880..885
                      PATH@880..885
                        Ident@880..885 "value"
                  Comma@885..886 ","
                  Whitespace@886..899 "\n            "
                  MATCH_ARM@899..923
                    PATTERN_CONSTR@899..912
                      PATH@899..912
                        Ident@899..905 "Option"
                        ColonColon@905..907 "::"
                        Ident@907..911 "None"
                        Whitespace@911..912 " "
                    FatArrow@912..914 "=>"
                    Whitespace@914..915 " "
                    EXPR_STR@915..923
                      Str@915..923 "\"closed\""
                  Comma@923..924 ","
                  Whitespace@924..933 "\n        "
                  RBrace@933..934 "}"
              Comma@934..935 ","
              Whitespace@935..940 "\n    "
            RParen@940..941 ")"
        Semi@941..942 ";"
        Whitespace@942..947 "\n    "
      STMT_EXPR@947..967
        EXPR_CALL@947..965
          EXPR_BINARY@947..963
            EXPR_IDENT@947..957
              PATH@947..957
                Ident@947..957 "unbuffered"
            Dot@957..958 "."
            EXPR_IDENT@958..963
              PATH@958..963
                Ident@958..963 "close"
          ARG_LIST@963..965
            LParen@963..964 "("
            RParen@964..965 ")"
        Semi@965..966 ";"
        Whitespace@966..967 "\n"
      RBrace@967..968 "}"
      Whitespace@968..969 "\n"