FILE@0..1210
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..15 "FloatEvent"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    VARIANT_LIST@22..83
      VARIANT@22..47
        Ident@22..30 "Sample32"
        TYPE_LIST@30..47
          LParen@30..31 "("
          ENUM_TUPLE_FIELD@31..37
            TYPE_STRING@31..37
              StringKeyword@31..37 "string"
          Comma@37..38 ","
          Whitespace@38..39 " "
          ENUM_TUPLE_FIELD@39..46
            TYPE_FLOAT32@39..46
              Float32Keyword@39..46 "float32"
          RParen@46..47 ")"
      Comma@47..48 ","
      Whitespace@48..53 "\n    "
      VARIANT@53..78
        Ident@53..61 "Sample64"
        TYPE_LIST@61..78
          LParen@61..62 "("
          ENUM_TUPLE_FIELD@62..68
            TYPE_STRING@62..68
              StringKeyword@62..68 "string"
          Comma@68..69 ","
          Whitespace@69..70 " "
          ENUM_TUPLE_FIELD@70..77
            TYPE_FLOAT64@70..77
              Float64Keyword@70..77 "float64"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..276
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..95 "summarize"
    PARAM_LIST@95..115
      LParen@95..96 "("
      PARAM@96..113
        Ident@96..101 "event"
        Colon@101..102 ":"
        Whitespace@102..103 " "
        TYPE_TAPP@103..113
          PATH@103..113
            Ident@103..113 "FloatEvent"
      RParen@113..114 ")"
      Whitespace@114..115 " "
    Arrow@115..117 "->"
    Whitespace@117..118 " "
    TYPE_STRING@118..125
      StringKeyword@118..124 "string"
      Whitespace@124..125 " "
    BLOCK@125..276
      LBrace@125..126 "{"
      Whitespace@126..131 "\n    "
      EXPR_MATCH@131..273
        MatchKeyword@131..136 "match"
        Whitespace@136..137 " "
        EXPR_IDENT@137..143
          PATH@137..143
            Ident@137..142 "event"
            Whitespace@142..143 " "
        MATCH_ARM_LIST@143..273
          LBrace@143..144 "{"
          Whitespace@144..153 "\n        "
          MATCH_ARM@153..204
            PATTERN_CONSTR@153..176
              PATH@153..161
                Ident@153..161 "Sample32"
              LParen@161..162 "("
              PATTERN_VARIABLE@162..167
                Ident@162..167 "label"
              Comma@167..168 ","
              Whitespace@168..169 " "
              PATTERN_VARIABLE@169..174
                Ident@169..174 "value"
              RParen@174..175 ")"
              Whitespace@175..176 " "
            FatArrow@176..178 "=>"
            Whitespace@178..179 " "
            EXPR_BINARY@179..204
              EXPR_IDENT@179..185
                PATH@179..185
                  Ident@179..184 "label"
                  Whitespace@184..185 " "
              Plus@185..186 "+"
              Whitespace@186..187 " "
              EXPR_CALL@187..204
                EXPR_BINARY@187..202
                  EXPR_IDENT@187..192
                    PATH@187..192
                      Ident@187..192 "value"
                  Dot@192..193 "."
                  EXPR_IDENT@193..202
                    PATH@193..202
                      Ident@193..202 "to_string"
                ARG_LIST@202..204
                  LParen@202..203 "("
                  RParen@203..204 ")"
          Comma@204..205 ","
          Whitespace@205..214 "\n        "
          MATCH_ARM@214..265
            PATTERN_CONSTR@214..237
              PATH@214..222
                Ident@214..222 "Sample64"
              LParen@222..223 "("
              PATTERN_VARIABLE@223..228
                Ident@223..228 "label"
              Comma@228..229 ","
              Whitespace@229..230 " "
              PATTERN_VARIABLE@230..235
                Ident@230..235 "value"
              RParen@235..236 ")"
              Whitespace@236..237 " "
            FatArrow@237..239 "=>"
            Whitespace@239..240 " "
            EXPR_BINARY@240..265
              EXPR_IDENT@240..246
                PATH@240..246
                  Ident@240..245 "label"
                  Whitespace@245..246 " "
              Plus@246..247 "+"
              Whitespace@247..248 " "
              EXPR_CALL@248..265
                EXPR_BINARY@248..263
                  EXPR_IDENT@248..253
                    PATH@248..253
                      Ident@248..253 "value"
                  Dot@253..254 "."
                  EXPR_IDENT@254..263
                    PATH@254..263
                      Ident@254..263 "to_string"
                ARG_LIST@263..265
                  LParen@263..264 "("
                  RParen@264..265 ")"
          Comma@265..266 ","
          Whitespace@266..271 "\n    "
          RBrace@271..272 "}"
          Whitespace@272..273 "\n"
      RBrace@273..274 "}"
      Whitespace@274..276 "\n\n"
  FN@276..649
    FnKeyword@276..278 "fn"
    Whitespace@278..279 " "
    Ident@279..286 "compare"
    PARAM_LIST@286..315
      LParen@286..287 "("
      PARAM@287..313
        Ident@287..293 "values"
        Colon@293..294 ":"
        Whitespace@294..295 " "
        TYPE_TUPLE@295..313
          TYPE_LIST@295..313
            LParen@295..296 "("
            TYPE_FLOAT32@296..303
              Float32Keyword@296..303 "float32"
            Comma@303..304 ","
            Whitespace@304..305 " "
            TYPE_FLOAT64@305..312
              Float64Keyword@305..312 "float64"
            RParen@312..313 ")"
      RParen@313..314 ")"
      Whitespace@314..315 " "
    Arrow@315..317 "->"
    Whitespace@317..318 " "
    TYPE_STRING@318..325
      StringKeyword@318..324 "string"
      Whitespace@324..325 " "
    BLOCK@325..649
      LBrace@325..326 "{"
      Whitespace@326..331 "\n    "
      EXPR_MATCH@331..646
        MatchKeyword@331..336 "match"
        Whitespace@336..337 " "
        EXPR_IDENT@337..344
          PATH@337..344
            Ident@337..343 "values"
            Whitespace@343..344 " "
        MATCH_ARM_LIST@344..646
          LBrace@344..345 "{"
          Whitespace@345..354 "\n        "
          MATCH_ARM@354..644
            PATTERN_TUPLE@354..368
              LParen@354..355 "("
              PATTERN_VARIABLE@355..359
                Ident@355..359 "left"
              Comma@359..360 ","
              Whitespace@360..361 " "
              PATTERN_VARIABLE@361..366
                Ident@361..366 "right"
              RParen@366..367 ")"
              Whitespace@367..368 " "
            FatArrow@368..370 "=>"
            Whitespace@370..371 " "
            BLOCK@371..644
              LBrace@371..372 "{"
              Whitespace@372..385 "\n            "
              STMT_LET@385..425
                LetKeyword@385..388 "let"
                Whitespace@388..389 " "
                PATTERN_VARIABLE@389..396
                  Ident@389..396 "limit32"
                Colon@396..397 ":"
                Whitespace@397..398 " "
                TYPE_FLOAT32@398..406
                  Float32Keyword@398..405 "float32"
                  Whitespace@405..406 " "
                Eq@406..407 "="
                Whitespace@407..408 " "
                EXPR_FLOAT@408..411
                  Float@408..411 "1.0"
                Semi@411..412 ";"
                Whitespace@412..425 "\n            "
              STMT_LET@425..465
                LetKeyword@425..428 "let"
                Whitespace@428..429 " "
                PATTERN_VARIABLE@429..436
                  Ident@429..436 "limit64"
                Colon@436..437 ":"
                Whitespace@437..438 " "
                TYPE_FLOAT64@438..446
                  Float64Keyword@438..445 "float64"
                  Whitespace@445..446 " "
                Eq@446..447 "="
                Whitespace@447..448 " "
                EXPR_FLOAT@448..451
                  Float@448..451 "5.0"
                Semi@451..452 ";"
                Whitespace@452..465 "\n            "
              STMT_LET@465..509
                LetKeyword@465..468 "let"
                Whitespace@468..469 " "
                PATTERN_VARIABLE@469..479
                  Ident@469..478 "less_left"
                  Whitespace@478..479 " "
                Eq@479..480 "="
                Whitespace@480..481 " "
                EXPR_BINARY@481..495
                  EXPR_IDENT@481..486
                    PATH@481..486
                      Ident@481..485 "left"
                      Whitespace@485..486 " "
                  Less@486..487 "<"
                  Whitespace@487..488 " "
                  EXPR_IDENT@488..495
                    PATH@488..495
                      Ident@488..495 "limit32"
                Semi@495..496 ";"
                Whitespace@496..509 "\n            "
              STMT_LET@509..555
                LetKeyword@509..512 "let"
                Whitespace@512..513 " "
                PATTERN_VARIABLE@513..524
                  Ident@513..523 "less_right"
                  Whitespace@523..524 " "
                Eq@524..525 "="
                Whitespace@525..526 " "
                EXPR_BINARY@526..541
                  EXPR_IDENT@526..532
                    PATH@526..532
                      Ident@526..531 "right"
                      Whitespace@531..532 " "
                  Less@532..533 "<"
                  Whitespace@533..534 " "
                  EXPR_IDENT@534..541
                    PATH@534..541
                      Ident@534..541 "limit64"
                Semi@541..542 ";"
                Whitespace@542..555 "\n            "
              EXPR_BINARY@555..638
                EXPR_BINARY@555..605
                  EXPR_BINARY@555..590
                    EXPR_STR@555..566
                      Str@555..565 "\"left<1?=\""
                      Whitespace@565..566 " "
                    Plus@566..567 "+"
                    Whitespace@567..568 " "
                    EXPR_CALL@568..590
                      EXPR_BINARY@568..587
                        EXPR_IDENT@568..577
                          PATH@568..577
                            Ident@568..577 "less_left"
                        Dot@577..578 "."
                        EXPR_IDENT@578..587
                          PATH@578..587
                            Ident@578..587 "to_string"
                      ARG_LIST@587..590
                        LParen@587..588 "("
                        RParen@588..589 ")"
                        Whitespace@589..590 " "
                  Plus@590..591 "+"
                  Whitespace@591..592 " "
                  EXPR_STR@592..605
                    Str@592..604 "\",right<5?=\""
                    Whitespace@604..605 " "
                Plus@605..606 "+"
                Whitespace@606..607 " "
                EXPR_CALL@607..638
                  EXPR_BINARY@607..627
                    EXPR_IDENT@607..617
                      PATH@607..617
                        Ident@607..617 "less_right"
                    Dot@617..618 "."
                    EXPR_IDENT@618..627
                      PATH@618..627
                        Ident@618..627 "to_string"
                  ARG_LIST@627..638
                    LParen@627..628 "("
                    RParen@628..629 ")"
                    Whitespace@629..638 "\n        "
              RBrace@638..639 "}"
              Whitespace@639..644 "\n    "
          RBrace@644..645 "}"
          Whitespace@645..646 "\n"
      RBrace@646..647 "}"
      Whitespace@647..649 "\n\n"
  FN@649..1210
    FnKeyword@649..651 "fn"
    Whitespace@651..652 " "
    Ident@652..656 "main"
    PARAM_LIST@656..659
      LParen@656..657 "("
      RParen@657..658 ")"
      Whitespace@658..659 " "
    BLOCK@659..1210
      LBrace@659..660 "{"
      Whitespace@660..665 "\n    "
      STMT_LET@665..701
        LetKeyword@665..668 "let"
        Whitespace@668..669 " "
        PATTERN_VARIABLE@669..680
          Ident@669..680 "first_value"
        Colon@680..681 ":"
        Whitespace@681..682 " "
        TYPE_FLOAT32@682..690
          Float32Keyword@682..689 "float32"
          Whitespace@689..690 " "
        Eq@690..691 "="
        Whitespace@691..692 " "
        EXPR_FLOAT@692..695
          Float@692..695 "0.5"
        Semi@695..696 ";"
        Whitespace@696..701 "\n    "
      STMT_LET@701..739
        LetKeyword@701..704 "let"
        Whitespace@704..705 " "
        PATTERN_VARIABLE@705..717
          Ident@705..717 "second_value"
        Colon@717..718 ":"
        Whitespace@718..719 " "
        TYPE_FLOAT32@719..727
          Float32Keyword@719..726 "float32"
          Whitespace@726..727 " "
        Eq@727..728 "="
        Whitespace@728..729 " "
        EXPR_FLOAT@729..733
          Float@729..733 "2.25"
        Semi@733..734 ";"
        Whitespace@734..739 "\n    "
      STMT_LET@739..776
        LetKeyword@739..742 "let"
        Whitespace@742..743 " "
        PATTERN_VARIABLE@743..754
          Ident@743..754 "third_value"
        Colon@754..755 ":"
        Whitespace@755..756 " "
        TYPE_FLOAT64@756..764
          Float64Keyword@756..763 "float64"
          Whitespace@763..764 " "
        Eq@764..765 "="
        Whitespace@765..766 " "
        EXPR_FLOAT@766..769
          Float@766..769 "9.5"
        Semi@769..770 ";"
        Whitespace@770..776 "\n\n    "
      STMT_LET@776..823
        LetKeyword@776..779 "let"
        Whitespace@779..780 " "
        PATTERN_VARIABLE@780..786
          Ident@780..785 "first"
          Whitespace@785..786 " "
        Eq@786..787 "="
        Whitespace@787..788 " "
        EXPR_CALL@788..817
          EXPR_IDENT@788..796
            PATH@788..796
              Ident@788..796 "Sample32"
          ARG_LIST@796..817
            LParen@796..797 "("
            ARG@797..805
              EXPR_STR@797..803
                Str@797..803 "\"f32=\""
              Comma@803..804 ","
              Whitespace@804..805 " "
            ARG@805..816
              EXPR_IDENT@805..816
                PATH@805..816
                  Ident@805..816 "first_value"
            RParen@816..817 ")"
        Semi@817..818 ";"
        Whitespace@818..823 "\n    "
      STMT_LET@823..874
        LetKeyword@823..826 "let"
        Whitespace@826..827 " "
        PATTERN_VARIABLE@827..834
          Ident@827..833 "second"
          Whitespace@833..834 " "
        Eq@834..835 "="
        Whitespace@835..836 " "
        EXPR_CALL@836..868
          EXPR_IDENT@836..844
            PATH@836..844
              Ident@836..844 "Sample32"
          ARG_LIST@844..868
            LParen@844..845 "("
            ARG@845..855
              EXPR_STR@845..853
                Str@845..853 "\"f32_b=\""
              Comma@853..854 ","
              Whitespace@854..855 " "
            ARG@855..867
              EXPR_IDENT@855..867
                PATH@855..867
                  Ident@855..867 "second_value"
            RParen@867..868 ")"
        Semi@868..869 ";"
        Whitespace@869..874 "\n    "
      STMT_LET@874..922
        LetKeyword@874..877 "let"
        Whitespace@877..878 " "
        PATTERN_VARIABLE@878..884
          Ident@878..883 "third"
          Whitespace@883..884 " "
        Eq@884..885 "="
        Whitespace@885..886 " "
        EXPR_CALL@886..915
          EXPR_IDENT@886..894
            PATH@886..894
              Ident@886..894 "Sample64"
          ARG_LIST@894..915
            LParen@894..895 "("
            ARG@895..903
              EXPR_STR@895..901
                Str@895..901 "\"f64=\""
              Comma@901..902 ","
              Whitespace@902..903 " "
            ARG@903..914
              EXPR_IDENT@903..914
                PATH@903..914
                  Ident@903..914 "third_value"
            RParen@914..915 ")"
        Semi@915..916 ";"
        Whitespace@916..922 "\n\n    "
      STMT_LET@922..971
        LetKeyword@922..925 "let"
        Whitespace@925..926 " "
        PATTERN_VARIABLE@926..931
          Ident@926..931 "tuple"
        Colon@931..932 ":"
        Whitespace@932..933 " "
        TYPE_TUPLE@933..952
          TYPE_LIST@933..952
            LParen@933..934 "("
            TYPE_FLOAT32@934..941
              Float32Keyword@934..941 "float32"
            Comma@941..942 ","
            Whitespace@942..943 " "
            TYPE_FLOAT64@943..950
              Float64Keyword@943..950 "float64"
            RParen@950..951 ")"
            Whitespace@951..952 " "
        Eq@952..953 "="
        Whitespace@953..954 " "
        EXPR_TUPLE@954..965
          LParen@954..955 "("
          EXPR_FLOAT@955..959
            Float@955..959 "0.75"
          Comma@959..960 ","
          Whitespace@960..961 " "
          EXPR_FLOAT@961..964
            Float@961..964 "4.0"
          RParen@964..965 ")"
        Semi@965..966 ";"
        Whitespace@966..971 "\n    "
      STMT_LET@971..1027
        LetKeyword@971..974 "let"
        Whitespace@974..975 " "
        PATTERN_VARIABLE@975..986
          Ident@975..986 "tuple_other"
        Colon@986..987 ":"
        Whitespace@987..988 " "
        TYPE_TUPLE@988..1007
          TYPE_LIST@988..1007
            LParen@988..989 "("
            TYPE_FLOAT32@989..996
              Float32Keyword@989..996 "float32"
            Comma@996..997 ","
            Whitespace@997..998 " "
            TYPE_FLOAT64@998..1005
              Float64Keyword@998..1005 "float64"
            RParen@1005..1006 ")"
            Whitespace@1006..1007 " "
        Eq@1007..1008 "="
        Whitespace@1008..1009 " "
        EXPR_TUPLE@1009..1020
          LParen@1009..1010 "("
          EXPR_FLOAT@1010..1013
            Float@1010..1013 "1.5"
          Comma@1013..1014 ","
          Whitespace@1014..1015 " "
          EXPR_FLOAT@1015..1019
            Float@1015..1019 "7.25"
          RParen@1019..1020 ")"
        Semi@1020..1021 ";"
        Whitespace@1021..1027 "\n\n    "
      STMT_LET@1027..1175
        LetKeyword@1027..1030 "let"
        Whitespace@1030..1031 " "
        PATTERN_VARIABLE@1031..1039
          Ident@1031..1038 "message"
          Whitespace@1038..1039 " "
        Eq@1039..1040 "="
        Whitespace@1040..1041 " "
        EXPR_BINARY@1041..1168
          EXPR_BINARY@1041..1146
            EXPR_BINARY@1041..1121
              EXPR_BINARY@1041..1094
                EXPR_CALL@1041..1066
                  EXPR_IDENT@1041..1050
                    PATH@1041..1050
                      Ident@1041..1050 "summarize"
                  ARG_LIST@1050..1066
                    LParen@1050..1051 "("
                    ARG@1051..1056
                      EXPR_IDENT@1051..1056
                        PATH@1051..1056
                          Ident@1051..1056 "first"
                    RParen@1056..1057 ")"
                    Whitespace@1057..1066 "\n        "
                Plus@1066..1067 "+"
                Whitespace@1067..1068 " "
                EXPR_CALL@1068..1094
                  EXPR_IDENT@1068..1077
                    PATH@1068..1077
                      Ident@1068..1077 "summarize"
                  ARG_LIST@1077..1094
                    LParen@1077..1078 "("
                    ARG@1078..1084
                      EXPR_IDENT@1078..1084
                        PATH@1078..1084
                          Ident@1078..1084 "second"
                    RParen@1084..1085 ")"
                    Whitespace@1085..1094 "\n        "
              Plus@1094..1095 "+"
              Whitespace@1095..1096 " "
              EXPR_CALL@1096..1121
                EXPR_IDENT@1096..1105
                  PATH@1096..1105
                    Ident@1096..1105 "summarize"
                ARG_LIST@1105..1121
                  LParen@1105..1106 "("
                  ARG@1106..1111
                    EXPR_IDENT@1106..1111
                      PATH@1106..1111
                        Ident@1106..1111 "third"
                  RParen@1111..1112 ")"
                  Whitespace@1112..1121 "\n        "
            Plus@1121..1122 "+"
            Whitespace@1122..1123 " "
            EXPR_CALL@1123..1146
              EXPR_IDENT@1123..1130
                PATH@1123..1130
                  Ident@1123..1130 "compare"
              ARG_LIST@1130..1146
                LParen@1130..1131 "("
                ARG@1131..1136
                  EXPR_IDENT@1131..1136
                    PATH@1131..1136
                      Ident@1131..1136 "tuple"
                RParen@1136..1137 ")"
                Whitespace@1137..1146 "\n        "
          Plus@1146..1147 "+"
          Whitespace@1147..1148 " "
          EXPR_CALL@1148..1168
            EXPR_IDENT@1148..1155
              PATH@1148..1155
                Ident@1148..1155 "compare"
            ARG_LIST@1155..1168
              LParen@1155..1156 "("
              ARG@1156..1167
                EXPR_IDENT@1156..1167
                  PATH@1156..1167
                    Ident@1156..1167 "tuple_other"
              RParen@1167..1168 ")"
        Semi@1168..1169 ";"
        Whitespace@1169..1175 "\n\n    "
      STMT_LET@1175..1205
        LetKeyword@1175..1178 "let"
        Whitespace@1178..1179 " "
        PATTERN_WILDCARD@1179..1181
          WildcardKeyword@1179..1180 "_"
          Whitespace@1180..1181 " "
        Eq@1181..1182 "="
        Whitespace@1182..1183 " "
        EXPR_CALL@1183..1199
          EXPR_IDENT@1183..1190
            PATH@1183..1190
              Ident@1183..1190 "println"
          ARG_LIST@1190..1199
            LParen@1190..1191 "("
            ARG@1191..1198
              EXPR_IDENT@1191..1198
                PATH@1191..1198
                  Ident@1191..1198 "message"
            RParen@1198..1199 ")"
        Semi@1199..1200 ";"
        Whitespace@1200..1205 "\n    "
      EXPR_UNIT@1205..1208
        LParen@1205..1206 "("
        RParen@1206..1207 ")"
        Whitespace@1207..1208 "\n"
      RBrace@1208..1209 "}"
      Whitespace@1209..1210 "\n"