FILE@0..854
  TRAIT@0..105
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..11 "Arith"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..105
      TRAIT_METHOD_SIG@18..61
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Ident@21..24 "add"
        PARAM_LIST@24..49
          LParen@24..25 "("
          PARAM@25..37
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
            Comma@35..36 ","
            Whitespace@36..37 " "
          PARAM@37..47
            Ident@37..41 "arg1"
            Colon@41..42 ":"
            Whitespace@42..43 " "
            TYPE_TAPP@43..47
              PATH@43..47
                Ident@43..47 "Self"
          RParen@47..48 ")"
          Whitespace@48..49 " "
        Arrow@49..51 "->"
        Whitespace@51..52 " "
        TYPE_INT32@52..55
          I32Keyword@52..55 "i32"
        Semi@55..56 ";"
        Whitespace@56..61 "\n    "
      TRAIT_METHOD_SIG@61..102
        FnKeyword@61..63 "fn"
        Whitespace@63..64 " "
        Ident@64..68 "less"
        PARAM_LIST@68..93
          LParen@68..69 "("
          PARAM@69..81
            Ident@69..73 "self"
            Colon@73..74 ":"
            Whitespace@74..75 " "
            TYPE_TAPP@75..79
              PATH@75..79
                Ident@75..79 "Self"
            Comma@79..80 ","
            Whitespace@80..81 " "
          PARAM@81..91
            Ident@81..85 "arg1"
            Colon@85..86 ":"
            Whitespace@86..87 " "
            TYPE_TAPP@87..91
              PATH@87..91
                Ident@87..91 "Self"
          RParen@91..92 ")"
          Whitespace@92..93 " "
        Arrow@93..95 "->"
        Whitespace@95..96 " "
        TYPE_BOOL@96..100
          BoolKeyword@96..100 "bool"
        Semi@100..101 ";"
        Whitespace@101..102 "\n"
      RBrace@102..103 "}"
      Whitespace@103..105 "\n\n"
  IMPL@105..272
    ImplKeyword@105..109 "impl"
    Whitespace@109..110 " "
    TYPE_TAPP@110..116
      PATH@110..116
        Ident@110..115 "Arith"
        Whitespace@115..116 " "
    ForKeyword@116..119 "for"
    Whitespace@119..120 " "
    TYPE_INT32@120..124
      I32Keyword@120..123 "i32"
      Whitespace@123..124 " "
    LBrace@124..125 "{"
    Whitespace@125..130 "\n    "
    FN@130..201
      FnKeyword@130..132 "fn"
      Whitespace@132..133 " "
      Ident@133..136 "add"
      PARAM_LIST@136..160
        LParen@136..137 "("
        PARAM@137..148
          Ident@137..141 "self"
          Colon@141..142 ":"
          Whitespace@142..143 " "
          TYPE_INT32@143..146
            I32Keyword@143..146 "i32"
          Comma@146..147 ","
          Whitespace@147..148 " "
        PARAM@148..158
          Ident@148..153 "other"
          Colon@153..154 ":"
          Whitespace@154..155 " "
          TYPE_INT32@155..158
            I32Keyword@155..158 "i32"
        RParen@158..159 ")"
        Whitespace@159..160 " "
      Arrow@160..162 "->"
      Whitespace@162..163 " "
      TYPE_INT32@163..167
        I32Keyword@163..166 "i32"
        Whitespace@166..167 " "
      BLOCK@167..201
        LBrace@167..168 "{"
        Whitespace@168..177 "\n        "
        EXPR_BINARY@177..194
          EXPR_IDENT@177..182
            PATH@177..182
              Ident@177..181 "self"
              Whitespace@181..182 " "
          Plus@182..183 "+"
          Whitespace@183..184 " "
          EXPR_IDENT@184..194
            PATH@184..194
              Ident@184..189 "other"
              Whitespace@189..194 "\n    "
        RBrace@194..195 "}"
        Whitespace@195..201 "\n\n    "
    FN@201..269
      FnKeyword@201..203 "fn"
      Whitespace@203..204 " "
      Ident@204..208 "less"
      PARAM_LIST@208..232
        LParen@208..209 "("
        PARAM@209..220
          Ident@209..213 "self"
          Colon@213..214 ":"
          Whitespace@214..215 " "
          TYPE_INT32@215..218
            I32Keyword@215..218 "i32"
          Comma@218..219 ","
          Whitespace@219..220 " "
        PARAM@220..230
          Ident@220..225 "other"
          Colon@225..226 ":"
          Whitespace@226..227 " "
          TYPE_INT32@227..230
            I32Keyword@227..230 "i32"
        RParen@230..231 ")"
        Whitespace@231..232 " "
      Arrow@232..234 "->"
      Whitespace@234..235 " "
      TYPE_BOOL@235..240
        BoolKeyword@235..239 "bool"
        Whitespace@239..240 " "
      BLOCK@240..269
        LBrace@240..241 "{"
        Whitespace@241..250 "\n        "
        EXPR_BINARY@250..267
          EXPR_IDENT@250..255
            PATH@250..255
              Ident@250..254 "self"
              Whitespace@254..255 " "
          Less@255..256 "<"
          Whitespace@256..257 " "
          EXPR_IDENT@257..267
            PATH@257..267
              Ident@257..262 "other"
              Whitespace@262..267 "\n    "
        RBrace@267..268 "}"
        Whitespace@268..269 "\n"
    RBrace@269..270 "}"
    Whitespace@270..272 "\n\n"
  TRAIT@272..325
    TraitKeyword@272..277 "trait"
    Whitespace@277..278 " "
    Ident@278..284 "Output"
    Whitespace@284..285 " "
    LBrace@285..286 "{"
    Whitespace@286..291 "\n    "
    TRAIT_METHOD_SIG_LIST@291..325
      TRAIT_METHOD_SIG@291..322
        FnKeyword@291..293 "fn"
        Whitespace@293..294 " "
        Ident@294..300 "output"
        PARAM_LIST@300..313
          LParen@300..301 "("
          PARAM@301..311
            Ident@301..305 "self"
            Colon@305..306 ":"
            Whitespace@306..307 " "
            TYPE_TAPP@307..311
              PATH@307..311
                Ident@307..311 "Self"
          RParen@311..312 ")"
          Whitespace@312..313 " "
        Arrow@313..315 "->"
        Whitespace@315..316 " "
        TYPE_UNIT@316..320
          UnitKeyword@316..320 "unit"
        Semi@320..321 ";"
        Whitespace@321..322 "\n"
      RBrace@322..323 "}"
      Whitespace@323..325 "\n\n"
  IMPL@325..434
    ImplKeyword@325..329 "impl"
    Whitespace@329..330 " "
    TYPE_TAPP@330..337
      PATH@330..337
        Ident@330..336 "Output"
        Whitespace@336..337 " "
    ForKeyword@337..340 "for"
    Whitespace@340..341 " "
    TYPE_INT32@341..345
      I32Keyword@341..344 "i32"
      Whitespace@344..345 " "
    LBrace@345..346 "{"
    Whitespace@346..351 "\n    "
    FN@351..431
      FnKeyword@351..353 "fn"
      Whitespace@353..354 " "
      Ident@354..360 "output"
      PARAM_LIST@360..372
        LParen@360..361 "("
        PARAM@361..370
          Ident@361..365 "self"
          Colon@365..366 ":"
          Whitespace@366..367 " "
          TYPE_INT32@367..370
            I32Keyword@367..370 "i32"
        RParen@370..371 ")"
        Whitespace@371..372 " "
      Arrow@372..374 "->"
      Whitespace@374..375 " "
      TYPE_UNIT@375..380
        UnitKeyword@375..379 "unit"
        Whitespace@379..380 " "
      BLOCK@380..431
        LBrace@380..381 "{"
        Whitespace@381..390 "\n        "
        EXPR_CALL@390..429
          EXPR_IDENT@390..397
            PATH@390..397
              Ident@390..397 "println"
          ARG_LIST@397..429
            LParen@397..398 "("
            ARG@398..423
              EXPR_CALL@398..423
                EXPR_IDENT@398..417
                  PATH@398..417
                    Ident@398..406 "ToString"
                    ColonColon@406..408 "::"
                    Ident@408..417 "to_string"
                ARG_LIST@417..423
                  LParen@417..418 "("
                  ARG@418..422
                    EXPR_IDENT@418..422
                      PATH@418..422
                        Ident@418..422 "self"
                  RParen@422..423 ")"
            RParen@423..424 ")"
            Whitespace@424..429 "\n    "
        RBrace@429..430 "}"
        Whitespace@430..431 "\n"
    RBrace@431..432 "}"
    Whitespace@432..434 "\n\n"
  IMPL@434..545
    ImplKeyword@434..438 "impl"
    Whitespace@438..439 " "
    TYPE_TAPP@439..446
      PATH@439..446
        Ident@439..445 "Output"
        Whitespace@445..446 " "
    ForKeyword@446..449 "for"
    Whitespace@449..450 " "
    TYPE_BOOL@450..455
      BoolKeyword@450..454 "bool"
      Whitespace@454..455 " "
    LBrace@455..456 "{"
    Whitespace@456..461 "\n    "
    FN@461..542
      FnKeyword@461..463 "fn"
      Whitespace@463..464 " "
      Ident@464..470 "output"
      PARAM_LIST@470..483
        LParen@470..471 "("
        PARAM@471..481
          Ident@471..475 "self"
          Colon@475..476 ":"
          Whitespace@476..477 " "
          TYPE_BOOL@477..481
            BoolKeyword@477..481 "bool"
        RParen@481..482 ")"
        Whitespace@482..483 " "
      Arrow@483..485 "->"
      Whitespace@485..486 " "
      TYPE_UNIT@486..491
        UnitKeyword@486..490 "unit"
        Whitespace@490..491 " "
      BLOCK@491..542
        LBrace@491..492 "{"
        Whitespace@492..501 "\n        "
        EXPR_CALL@501..540
          EXPR_IDENT@501..508
            PATH@501..508
              Ident@501..508 "println"
          ARG_LIST@508..540
            LParen@508..509 "("
            ARG@509..534
              EXPR_CALL@509..534
                EXPR_IDENT@509..528
                  PATH@509..528
                    Ident@509..517 "ToString"
                    ColonColon@517..519 "::"
                    Ident@519..528 "to_string"
                ARG_LIST@528..534
                  LParen@528..529 "("
                  ARG@529..533
                    EXPR_IDENT@529..533
                      PATH@529..533
                        Ident@529..533 "self"
                  RParen@533..534 ")"
            RParen@534..535 ")"
            Whitespace@535..540 "\n    "
        RBrace@540..541 "}"
        Whitespace@541..542 "\n"
    RBrace@542..543 "}"
    Whitespace@543..545 "\n\n"
  FN@545..576
    FnKeyword@545..547 "fn"
    Whitespace@547..548 " "
    Ident@548..550 "id"
    GENERIC_LIST@550..553
      LBracket@550..551 "["
      GENERIC@551..552
        Ident@551..552 "T"
      RBracket@552..553 "]"
    PARAM_LIST@553..560
      LParen@553..554 "("
      PARAM@554..558
        Ident@554..555 "x"
        Colon@555..556 ":"
        Whitespace@556..557 " "
        TYPE_TAPP@557..558
          PATH@557..558
            Ident@557..558 "T"
      RParen@558..559 ")"
      Whitespace@559..560 " "
    Arrow@560..562 "->"
    Whitespace@562..563 " "
    TYPE_TAPP@563..565
      PATH@563..565
        Ident@563..564 "T"
        Whitespace@564..565 " "
    BLOCK@565..576
      LBrace@565..566 "{"
      Whitespace@566..571 "\n    "
      EXPR_IDENT@571..573
        PATH@571..573
          Ident@571..572 "x"
          Whitespace@572..573 "\n"
      RBrace@573..574 "}"
      Whitespace@574..576 "\n\n"
  FN@576..854
    FnKeyword@576..578 "fn"
    Whitespace@578..579 " "
    Ident@579..583 "main"
    PARAM_LIST@583..586
      LParen@583..584 "("
      RParen@584..585 ")"
      Whitespace@585..586 " "
    BLOCK@586..854
      LBrace@586..587 "{"
      Whitespace@587..592 "\n    "
      STMT_LET@592..616
        LetKeyword@592..595 "let"
        Whitespace@595..596 " "
        PATTERN_VARIABLE@596..597
          Ident@596..597 "a"
        Colon@597..598 ":"
        Whitespace@598..599 " "
        TYPE_INT32@599..603
          I32Keyword@599..602 "i32"
          Whitespace@602..603 " "
        Eq@603..604 "="
        Whitespace@604..605 " "
        EXPR_CALL@605..610
          EXPR_IDENT@605..607
            PATH@605..607
              Ident@605..607 "id"
          ARG_LIST@607..610
            LParen@607..608 "("
            ARG@608..609
              EXPR_INT@608..609
                Int@608..609 "1"
            RParen@609..610 ")"
        Semi@610..611 ";"
        Whitespace@611..616 "\n    "
      STMT_LET@616..640
        LetKeyword@616..619 "let"
        Whitespace@619..620 " "
        PATTERN_VARIABLE@620..621
          Ident@620..621 "b"
        Colon@621..622 ":"
        Whitespace@622..623 " "
        TYPE_INT32@623..627
          I32Keyword@623..626 "i32"
          Whitespace@626..627 " "
        Eq@627..628 "="
        Whitespace@628..629 " "
        EXPR_CALL@629..634
          EXPR_IDENT@629..631
            PATH@629..631
              Ident@629..631 "id"
          ARG_LIST@631..634
            LParen@631..632 "("
            ARG@632..633
              EXPR_INT@632..633
                Int@632..633 "2"
            RParen@633..634 ")"
        Semi@634..635 ";"
        Whitespace@635..640 "\n    "
      STMT_LET@640..670
        LetKeyword@640..643 "let"
        Whitespace@643..644 " "
        PATTERN_VARIABLE@644..646
          Ident@644..645 "c"
          Whitespace@645..646 " "
        Eq@646..647 "="
        Whitespace@647..648 " "
        EXPR_CALL@648..664
          EXPR_IDENT@648..658
            PATH@648..658
              Ident@648..653 "Arith"
              ColonColon@653..655 "::"
              Ident@655..658 "add"
          ARG_LIST@658..664
            LParen@658..659 "("
            ARG@659..662
              EXPR_IDENT@659..660
                PATH@659..660
                  Ident@659..660 "a"
              Comma@660..661 ","
              Whitespace@661..662 " "
            ARG@662..663
              EXPR_IDENT@662..663
                PATH@662..663
                  Ident@662..663 "b"
            RParen@663..664 ")"
        Semi@664..665 ";"
        Whitespace@665..670 "\n    "
      STMT_LET@670..701
        LetKeyword@670..673 "let"
        Whitespace@673..674 " "
        PATTERN_WILDCARD@674..676
          WildcardKeyword@674..675 "_"
          Whitespace@675..676 " "
        Eq@676..677 "="
        Whitespace@677..678 " "
        EXPR_CALL@678..695
          EXPR_IDENT@678..692
            PATH@678..692
              Ident@678..684 "Output"
              ColonColon@684..686 "::"
              Ident@686..692 "output"
          ARG_LIST@692..695
            LParen@692..693 "("
            ARG@693..694
              EXPR_IDENT@693..694
                PATH@693..694
                  Ident@693..694 "c"
            RParen@694..695 ")"
        Semi@695..696 ";"
        Whitespace@696..701 "\n    "
      STMT_LET@701..725
        LetKeyword@701..704 "let"
        Whitespace@704..705 " "
        PATTERN_VARIABLE@705..706
          Ident@705..706 "a"
        Colon@706..707 ":"
        Whitespace@707..708 " "
        TYPE_INT32@708..712
          I32Keyword@708..711 "i32"
          Whitespace@711..712 " "
        Eq@712..713 "="
        Whitespace@713..714 " "
        EXPR_CALL@714..719
          EXPR_IDENT@714..716
            PATH@714..716
              Ident@714..716 "id"
          ARG_LIST@716..719
            LParen@716..717 "("
            ARG@717..718
              EXPR_INT@717..718
                Int@717..718 "3"
            RParen@718..719 ")"
        Semi@719..720 ";"
        Whitespace@720..725 "\n    "
      STMT_LET@725..749
        LetKeyword@725..728 "let"
        Whitespace@728..729 " "
        PATTERN_VARIABLE@729..730
          Ident@729..730 "b"
        Colon@730..731 ":"
        Whitespace@731..732 " "
        TYPE_INT32@732..736
          I32Keyword@732..735 "i32"
          Whitespace@735..736 " "
        Eq@736..737 "="
        Whitespace@737..738 " "
        EXPR_CALL@738..743
          EXPR_IDENT@738..740
            PATH@738..740
              Ident@738..740 "id"
          ARG_LIST@740..743
            LParen@740..741 "("
            ARG@741..742
              EXPR_INT@741..742
                Int@741..742 "4"
            RParen@742..743 ")"
        Semi@743..744 ";"
        Whitespace@744..749 "\n    "
      STMT_LET@749..780
        LetKeyword@749..752 "let"
        Whitespace@752..753 " "
        PATTERN_VARIABLE@753..755
          Ident@753..754 "c"
          Whitespace@754..755 " "
        Eq@755..756 "="
        Whitespace@756..757 " "
        EXPR_CALL@757..774
          EXPR_IDENT@757..768
            PATH@757..768
              Ident@757..762 "Arith"
              ColonColon@762..764 "::"
              Ident@764..768 "less"
          ARG_LIST@768..774
            LParen@768..769 "("
            ARG@769..772
              EXPR_IDENT@769..770
                PATH@769..770
                  Ident@769..770 "a"
              Comma@770..771 ","
              Whitespace@771..772 " "
            ARG@772..773
              EXPR_IDENT@772..773
                PATH@772..773
                  Ident@772..773 "b"
            RParen@773..774 ")"
        Semi@774..775 ";"
        Whitespace@775..780 "\n    "
      STMT_LET@780..811
        LetKeyword@780..783 "let"
        Whitespace@783..784 " "
        PATTERN_WILDCARD@784..786
          WildcardKeyword@784..785 "_"
          Whitespace@785..786 " "
        Eq@786..787 "="
        Whitespace@787..788 " "
        EXPR_CALL@788..805
          EXPR_IDENT@788..802
            PATH@788..802
              Ident@788..794 "Output"
              ColonColon@794..796 "::"
              Ident@796..802 "output"
          ARG_LIST@802..805
            LParen@802..803 "("
            ARG@803..804
              EXPR_IDENT@803..804
                PATH@803..804
                  Ident@803..804 "c"
            RParen@804..805 ")"
        Semi@805..806 ";"
        Whitespace@806..811 "\n    "
      STMT_LET@811..834
        LetKeyword@811..814 "let"
        Whitespace@814..815 " "
        PATTERN_WILDCARD@815..817
          WildcardKeyword@815..816 "_"
          Whitespace@816..817 " "
        Eq@817..818 "="
        Whitespace@818..819 " "
        EXPR_CALL@819..828
          EXPR_IDENT@819..821
            PATH@819..821
              Ident@819..821 "id"
          ARG_LIST@821..828
            LParen@821..822 "("
            ARG@822..827
              EXPR_STR@822..827
                Str@822..827 "\"abc\""
            RParen@827..828 ")"
        Semi@828..829 ";"
        Whitespace@829..834 "\n    "
      STMT_LET@834..852
        LetKeyword@834..837 "let"
        Whitespace@837..838 " "
        PATTERN_WILDCARD@838..840
          WildcardKeyword@838..839 "_"
          Whitespace@839..840 " "
        Eq@840..841 "="
        Whitespace@841..842 " "
        EXPR_CALL@842..850
          EXPR_IDENT@842..844
            PATH@842..844
              Ident@842..844 "id"
          ARG_LIST@844..850
            LParen@844..845 "("
            ARG@845..849
              EXPR_BOOL@845..849
                TrueKeyword@845..849 "true"
            RParen@849..850 ")"
        Semi@850..851 ";"
        Whitespace@851..852 "\n"
      RBrace@852..853 "}"
      Whitespace@853..854 "\n"