FILE@0..423
  FN@0..77
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..23 "accepts_array_length"
    PARAM_LIST@23..45
      LParen@23..24 "("
      PARAM@24..43
        Ident@24..29 "value"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_ARRAY@31..43
          LBracket@31..32 "["
          TYPE_INT32@32..37
            Int32Keyword@32..37 "int32"
          Semi@37..38 ";"
          Whitespace@38..39 " "
          Int@39..42 "1_0"
          RBracket@42..43 "]"
      RParen@43..44 ")"
      Whitespace@44..45 " "
    Arrow@45..47 "->"
    Whitespace@47..48 " "
    TYPE_UNIT@48..53
      UnitKeyword@48..52 "unit"
      Whitespace@52..53 " "
    BLOCK@53..77
      LBrace@53..54 "{"
      Whitespace@54..59 "\n    "
      STMT_LET@59..74
        LetKeyword@59..62 "let"
        Whitespace@62..63 " "
        PATTERN_WILDCARD@63..65
          WildcardKeyword@63..64 "_"
          Whitespace@64..65 " "
        Eq@65..66 "="
        Whitespace@66..67 " "
        EXPR_IDENT@67..72
          PATH@67..72
            Ident@67..72 "value"
        Semi@72..73 ";"
        Whitespace@73..74 "\n"
      RBrace@74..75 "}"
      Whitespace@75..77 "\n\n"
  FN@77..423
    FnKeyword@77..79 "fn"
    Whitespace@79..80 " "
    Ident@80..84 "main"
    PARAM_LIST@84..87
      LParen@84..85 "("
      RParen@85..86 ")"
      Whitespace@86..87 " "
    Arrow@87..89 "->"
    Whitespace@89..90 " "
    TYPE_UNIT@90..95
      UnitKeyword@90..94 "unit"
      Whitespace@94..95 " "
    BLOCK@95..423
      LBrace@95..96 "{"
      Whitespace@96..101 "\n    "
      STMT_LET@101..133
        LetKeyword@101..104 "let"
        Whitespace@104..105 " "
        PATTERN_VARIABLE@105..112
          Ident@105..112 "integer"
        Colon@112..113 ":"
        Whitespace@113..114 " "
        TYPE_INT32@114..120
          Int32Keyword@114..119 "int32"
          Whitespace@119..120 " "
        Eq@120..121 "="
        Whitespace@121..122 " "
        EXPR_INT@122..127
          Int@122..127 "1_000"
        Semi@127..128 ";"
        Whitespace@128..133 "\n    "
      STMT_LET@133..175
        LetKeyword@133..136 "let"
        Whitespace@136..137 " "
        PATTERN_VARIABLE@137..145
          Ident@137..145 "unsigned"
        Colon@145..146 ":"
        Whitespace@146..147 " "
        TYPE_UINT64@147..154
          Uint64Keyword@147..153 "uint64"
          Whitespace@153..154 " "
        Eq@154..155 "="
        Whitespace@155..156 " "
        EXPR_INT@156..169
          Int@156..169 "4_294_967_296"
        Semi@169..170 ";"
        Whitespace@170..175 "\n    "
      STMT_LET@175..208
        LetKeyword@175..178 "let"
        Whitespace@178..179 " "
        PATTERN_VARIABLE@179..184
          Ident@179..184 "float"
        Colon@184..185 ":"
        Whitespace@185..186 " "
        TYPE_FLOAT64@186..194
          Float64Keyword@186..193 "float64"
          Whitespace@193..194 " "
        Eq@194..195 "="
        Whitespace@195..196 " "
        EXPR_FLOAT@196..202
          Float@196..202 "1.25e2"
        Semi@202..203 ";"
        Whitespace@203..208 "\n    "
      STMT_LET@208..245
        LetKeyword@208..211 "let"
        Whitespace@211..212 " "
        PATTERN_VARIABLE@212..217
          Ident@212..217 "small"
        Colon@217..218 ":"
        Whitespace@218..219 " "
        TYPE_FLOAT32@219..227
          Float32Keyword@219..226 "float32"
          Whitespace@226..227 " "
        Eq@227..228 "="
        Whitespace@228..229 " "
        EXPR_FLOAT@229..239
          Float@229..239 "2_5.0_0e-1"
        Semi@239..240 ";"
        Whitespace@240..245 "\n    "
      STMT_EXPR@245..267
        EXPR_CALL@245..261
          EXPR_IDENT@245..252
            PATH@245..252
              Ident@245..252 "println"
          ARG_LIST@252..261
            LParen@252..253 "("
            ARG@253..260
              EXPR_IDENT@253..260
                PATH@253..260
                  Ident@253..260 "integer"
            RParen@260..261 ")"
        Semi@261..262 ";"
        Whitespace@262..267 "\n    "
      STMT_EXPR@267..290
        EXPR_CALL@267..284
          EXPR_IDENT@267..274
            PATH@267..274
              Ident@267..274 "println"
          ARG_LIST@274..284
            LParen@274..275 "("
            ARG@275..283
              EXPR_IDENT@275..283
                PATH@275..283
                  Ident@275..283 "unsigned"
            RParen@283..284 ")"
        Semi@284..285 ";"
        Whitespace@285..290 "\n    "
      STMT_EXPR@290..310
        EXPR_CALL@290..304
          EXPR_IDENT@290..297
            PATH@290..297
              Ident@290..297 "println"
          ARG_LIST@297..304
            LParen@297..298 "("
            ARG@298..303
              EXPR_IDENT@298..303
                PATH@298..303
                  Ident@298..303 "float"
            RParen@303..304 ")"
        Semi@304..305 ";"
        Whitespace@305..310 "\n    "
      STMT_EXPR@310..330
        EXPR_CALL@310..324
          EXPR_IDENT@310..317
            PATH@310..317
              Ident@310..317 "println"
          ARG_LIST@317..324
            LParen@317..318 "("
            ARG@318..323
              EXPR_IDENT@318..323
                PATH@318..323
                  Ident@318..323 "small"
            RParen@323..324 ")"
        Semi@324..325 ";"
        Whitespace@325..330 "\n    "
      EXPR_MATCH@330..421
        MatchKeyword@330..335 "match"
        Whitespace@335..336 " "
        EXPR_IDENT@336..344
          PATH@336..344
            Ident@336..343 "integer"
            Whitespace@343..344 " "
        MATCH_ARM_LIST@344..421
          LBrace@344..345 "{"
          Whitespace@345..354 "\n        "
          MATCH_ARM@354..381
            PATTERN_INT@354..360
              Int@354..359 "1_000"
              Whitespace@359..360 " "
            FatArrow@360..362 "=>"
            Whitespace@362..363 " "
            EXPR_CALL@363..381
              EXPR_IDENT@363..370
                PATH@363..370
                  Ident@363..370 "println"
              ARG_LIST@370..381
                LParen@370..371 "("
                ARG@371..380
                  EXPR_STR@371..380
                    Str@371..380 "\"matched\""
                RParen@380..381 ")"
          Comma@381..382 ","
          Whitespace@382..391 "\n        "
          MATCH_ARM@391..413
            PATTERN_WILDCARD@391..393
              WildcardKeyword@391..392 "_"
              Whitespace@392..393 " "
            FatArrow@393..395 "=>"
            Whitespace@395..396 " "
            EXPR_CALL@396..413
              EXPR_IDENT@396..403
                PATH@396..403
                  Ident@396..403 "println"
              ARG_LIST@403..413
                LParen@403..404 "("
                ARG@404..412
                  EXPR_STR@404..412
                    Str@404..412 "\"missed\""
                RParen@412..413 ")"
          Comma@413..414 ","
          Whitespace@414..419 "\n    "
          RBrace@419..420 "}"
          Whitespace@420..421 "\n"
      RBrace@421..422 "}"
      Whitespace@422..423 "\n"