FILE@0..429
  FN@0..77
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..23 "accepts_array_length"
    PARAM_LIST@23..45
      LParen@23..24 "("
      PARAM@24..43
        Ident@24..29 "value"
        Colon@29..30 ":"
        Whitespace@30..31 " "
        TYPE_ARRAY@31..43
          LBracket@31..32 "["
          TYPE_INT32@32..37
            Int32Keyword@32..37 "int32"
          Semi@37..38 ";"
          Whitespace@38..39 " "
          Int@39..42 "1_0"
          RBracket@42..43 "]"
      RParen@43..44 ")"
      Whitespace@44..45 " "
    Arrow@45..47 "->"
    Whitespace@47..48 " "
    TYPE_UNIT@48..53
      UnitKeyword@48..52 "unit"
      Whitespace@52..53 " "
    BLOCK@53..77
      LBrace@53..54 "{"
      Whitespace@54..59 "\n    "
      STMT_LET@59..74
        LetKeyword@59..62 "let"
        Whitespace@62..63 " "
        PATTERN_WILDCARD@63..65
          WildcardKeyword@63..64 "_"
          Whitespace@64..65 " "
        Eq@65..66 "="
        Whitespace@66..67 " "
        EXPR_IDENT@67..72
          PATH@67..72
            Ident@67..72 "value"
        Semi@72..73 ";"
        Whitespace@73..74 "\n"
      RBrace@74..75 "}"
      Whitespace@75..77 "\n\n"
  FN@77..429
    FnKeyword@77..79 "fn"
    Whitespace@79..80 " "
    Ident@80..84 "main"
    PARAM_LIST@84..87
      LParen@84..85 "("
      RParen@85..86 ")"
      Whitespace@86..87 " "
    Arrow@87..89 "->"
    Whitespace@89..90 " "
    TYPE_UNIT@90..95
      UnitKeyword@90..94 "unit"
      Whitespace@94..95 " "
    BLOCK@95..429
      LBrace@95..96 "{"
      Whitespace@96..101 "\n    "
      STMT_LET@101..133
        LetKeyword@101..104 "let"
        Whitespace@104..105 " "
        PATTERN_VARIABLE@105..112
          Ident@105..112 "integer"
        Colon@112..113 ":"
        Whitespace@113..114 " "
        TYPE_INT32@114..120
          Int32Keyword@114..119 "int32"
          Whitespace@119..120 " "
        Eq@120..121 "="
        Whitespace@121..122 " "
        EXPR_INT@122..127
          Int@122..127 "1_000"
        Semi@127..128 ";"
        Whitespace@128..133 "\n    "
      STMT_LET@133..178
        LetKeyword@133..136 "let"
        Whitespace@136..137 " "
        PATTERN_VARIABLE@137..145
          Ident@137..145 "unsigned"
        Colon@145..146 ":"
        Whitespace@146..147 " "
        TYPE_UINT64@147..154
          Uint64Keyword@147..153 "uint64"
          Whitespace@153..154 " "
        Eq@154..155 "="
        Whitespace@155..156 " "
        EXPR_UINT64@156..172
          UInt64Lit@156..172 "4_294_967_296u64"
        Semi@172..173 ";"
        Whitespace@173..178 "\n    "
      STMT_LET@178..211
        LetKeyword@178..181 "let"
        Whitespace@181..182 " "
        PATTERN_VARIABLE@182..187
          Ident@182..187 "float"
        Colon@187..188 ":"
        Whitespace@188..189 " "
        TYPE_FLOAT64@189..197
          Float64Keyword@189..196 "float64"
          Whitespace@196..197 " "
        Eq@197..198 "="
        Whitespace@198..199 " "
        EXPR_FLOAT@199..205
          Float@199..205 "1.25e2"
        Semi@205..206 ";"
        Whitespace@206..211 "\n    "
      STMT_LET@211..251
        LetKeyword@211..214 "let"
        Whitespace@214..215 " "
        PATTERN_VARIABLE@215..220
          Ident@215..220 "small"
        Colon@220..221 ":"
        Whitespace@221..222 " "
        TYPE_FLOAT32@222..230
          Float32Keyword@222..229 "float32"
          Whitespace@229..230 " "
        Eq@230..231 "="
        Whitespace@231..232 " "
        EXPR_FLOAT32@232..245
          Float32Lit@232..245 "2_5.0_0e-1f32"
        Semi@245..246 ";"
        Whitespace@246..251 "\n    "
      STMT_EXPR@251..273
        EXPR_CALL@251..267
          EXPR_IDENT@251..258
            PATH@251..258
              Ident@251..258 "println"
          ARG_LIST@258..267
            LParen@258..259 "("
            ARG@259..266
              EXPR_IDENT@259..266
                PATH@259..266
                  Ident@259..266 "integer"
            RParen@266..267 ")"
        Semi@267..268 ";"
        Whitespace@268..273 "\n    "
      STMT_EXPR@273..296
        EXPR_CALL@273..290
          EXPR_IDENT@273..280
            PATH@273..280
              Ident@273..280 "println"
          ARG_LIST@280..290
            LParen@280..281 "("
            ARG@281..289
              EXPR_IDENT@281..289
                PATH@281..289
                  Ident@281..289 "unsigned"
            RParen@289..290 ")"
        Semi@290..291 ";"
        Whitespace@291..296 "\n    "
      STMT_EXPR@296..316
        EXPR_CALL@296..310
          EXPR_IDENT@296..303
            PATH@296..303
              Ident@296..303 "println"
          ARG_LIST@303..310
            LParen@303..304 "("
            ARG@304..309
              EXPR_IDENT@304..309
                PATH@304..309
                  Ident@304..309 "float"
            RParen@309..310 ")"
        Semi@310..311 ";"
        Whitespace@311..316 "\n    "
      STMT_EXPR@316..336
        EXPR_CALL@316..330
          EXPR_IDENT@316..323
            PATH@316..323
              Ident@316..323 "println"
          ARG_LIST@323..330
            LParen@323..324 "("
            ARG@324..329
              EXPR_IDENT@324..329
                PATH@324..329
                  Ident@324..329 "small"
            RParen@329..330 ")"
        Semi@330..331 ";"
        Whitespace@331..336 "\n    "
      EXPR_MATCH@336..427
        MatchKeyword@336..341 "match"
        Whitespace@341..342 " "
        EXPR_IDENT@342..350
          PATH@342..350
            Ident@342..349 "integer"
            Whitespace@349..350 " "
        MATCH_ARM_LIST@350..427
          LBrace@350..351 "{"
          Whitespace@351..360 "\n        "
          MATCH_ARM@360..387
            PATTERN_INT@360..366
              Int@360..365 "1_000"
              Whitespace@365..366 " "
            FatArrow@366..368 "=>"
            Whitespace@368..369 " "
            EXPR_CALL@369..387
              EXPR_IDENT@369..376
                PATH@369..376
                  Ident@369..376 "println"
              ARG_LIST@376..387
                LParen@376..377 "("
                ARG@377..386
                  EXPR_STR@377..386
                    Str@377..386 "\"matched\""
                RParen@386..387 ")"
          Comma@387..388 ","
          Whitespace@388..397 "\n        "
          MATCH_ARM@397..419
            PATTERN_WILDCARD@397..399
              WildcardKeyword@397..398 "_"
              Whitespace@398..399 " "
            FatArrow@399..401 "=>"
            Whitespace@401..402 " "
            EXPR_CALL@402..419
              EXPR_IDENT@402..409
                PATH@402..409
                  Ident@402..409 "println"
              ARG_LIST@409..419
                LParen@409..410 "("
                ARG@410..418
                  EXPR_STR@410..418
                    Str@410..418 "\"missed\""
                RParen@418..419 ")"
          Comma@419..420 ","
          Whitespace@420..425 "\n    "
          RBrace@425..426 "}"
          Whitespace@426..427 "\n"
      RBrace@427..428 "}"
      Whitespace@428..429 "\n"