FILE@0..1298
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..15 "NoTraits"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    STRUCT_FIELD_LIST@22..37
      STRUCT_FIELD@22..32
        Ident@22..27 "value"
        Colon@27..28 ":"
        Whitespace@28..29 " "
        TYPE_INT@29..32
          IntKeyword@29..32 "int"
      Comma@32..33 ","
      Whitespace@33..34 "\n"
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  STRUCT@37..74
    StructKeyword@37..43 "struct"
    Whitespace@43..44 " "
    Ident@44..51 "Wrapper"
    GENERIC_LIST@51..55
      LBracket@51..52 "["
      GENERIC@52..53
        Ident@52..53 "T"
      RBracket@53..54 "]"
      Whitespace@54..55 " "
    LBrace@55..56 "{"
    Whitespace@56..61 "\n    "
    STRUCT_FIELD_LIST@61..74
      STRUCT_FIELD@61..69
        Ident@61..66 "value"
        Colon@66..67 ":"
        Whitespace@67..68 " "
        TYPE_TAPP@68..69
          PATH@68..69
            Ident@68..69 "T"
      Comma@69..70 ","
      Whitespace@70..71 "\n"
      RBrace@71..72 "}"
      Whitespace@72..74 "\n\n"
  IMPL@74..182
    ImplKeyword@74..78 "impl"
    GENERIC_LIST@78..82
      LBracket@78..79 "["
      GENERIC@79..80
        Ident@79..80 "T"
      RBracket@80..81 "]"
      Whitespace@81..82 " "
    TYPE_TAPP@82..91
      PATH@82..91
        Ident@82..90 "ToString"
        Whitespace@90..91 " "
    ForKeyword@91..94 "for"
    Whitespace@94..95 " "
    TYPE_TAPP@95..106
      PATH@95..102
        Ident@95..102 "Wrapper"
      TYPE_PARAM_LIST@102..106
        LBracket@102..103 "["
        TYPE_TAPP@103..104
          PATH@103..104
            Ident@103..104 "T"
        RBracket@104..105 "]"
        Whitespace@105..106 " "
    LBrace@106..107 "{"
    Whitespace@107..112 "\n    "
    FN@112..179
      FnKeyword@112..114 "fn"
      Whitespace@114..115 " "
      Ident@115..124 "to_string"
      PARAM_LIST@124..143
        LParen@124..125 "("
        PARAM@125..141
          Ident@125..129 "self"
          Colon@129..130 ":"
          Whitespace@130..131 " "
          TYPE_TAPP@131..141
            PATH@131..138
              Ident@131..138 "Wrapper"
            TYPE_PARAM_LIST@138..141
              LBracket@138..139 "["
              TYPE_TAPP@139..140
                PATH@139..140
                  Ident@139..140 "T"
              RBracket@140..141 "]"
        RParen@141..142 ")"
        Whitespace@142..143 " "
      Arrow@143..145 "->"
      Whitespace@145..146 " "
      TYPE_STRING@146..153
        StringKeyword@146..152 "string"
        Whitespace@152..153 " "
      BLOCK@153..179
        LBrace@153..154 "{"
        Whitespace@154..163 "\n        "
        EXPR_STR@163..177
          Str@163..172 "\"wrapped\""
          Whitespace@172..177 "\n    "
        RBrace@177..178 "}"
        Whitespace@178..179 "\n"
    RBrace@179..180 "}"
    Whitespace@180..182 "\n\n"
  IMPL@182..296
    ImplKeyword@182..186 "impl"
    GENERIC_LIST@186..190
      LBracket@186..187 "["
      GENERIC@187..188
        Ident@187..188 "T"
      RBracket@188..189 "]"
      Whitespace@189..190 " "
    TYPE_TAPP@190..200
      PATH@190..200
        Ident@190..199 "PartialEq"
        Whitespace@199..200 " "
    ForKeyword@200..203 "for"
    Whitespace@203..204 " "
    TYPE_TAPP@204..215
      PATH@204..211
        Ident@204..211 "Wrapper"
      TYPE_PARAM_LIST@211..215
        LBracket@211..212 "["
        TYPE_TAPP@212..213
          PATH@212..213
            Ident@212..213 "T"
        RBracket@213..214 "]"
        Whitespace@214..215 " "
    LBrace@215..216 "{"
    Whitespace@216..221 "\n    "
    FN@221..293
      FnKeyword@221..223 "fn"
      Whitespace@223..224 " "
      Ident@224..226 "eq"
      PARAM_LIST@226..264
        LParen@226..227 "("
        PARAM@227..245
          Ident@227..231 "self"
          Colon@231..232 ":"
          Whitespace@232..233 " "
          TYPE_TAPP@233..243
            PATH@233..240
              Ident@233..240 "Wrapper"
            TYPE_PARAM_LIST@240..243
              LBracket@240..241 "["
              TYPE_TAPP@241..242
                PATH@241..242
                  Ident@241..242 "T"
              RBracket@242..243 "]"
          Comma@243..244 ","
          Whitespace@244..245 " "
        PARAM@245..262
          Ident@245..250 "other"
          Colon@250..251 ":"
          Whitespace@251..252 " "
          TYPE_TAPP@252..262
            PATH@252..259
              Ident@252..259 "Wrapper"
            TYPE_PARAM_LIST@259..262
              LBracket@259..260 "["
              TYPE_TAPP@260..261
                PATH@260..261
                  Ident@260..261 "T"
              RBracket@261..262 "]"
        RParen@262..263 ")"
        Whitespace@263..264 " "
      Arrow@264..266 "->"
      Whitespace@266..267 " "
      TYPE_BOOL@267..272
        BoolKeyword@267..271 "bool"
        Whitespace@271..272 " "
      BLOCK@272..293
        LBrace@272..273 "{"
        Whitespace@273..282 "\n        "
        EXPR_BOOL@282..291
          TrueKeyword@282..286 "true"
          Whitespace@286..291 "\n    "
        RBrace@291..292 "}"
        Whitespace@292..293 "\n"
    RBrace@293..294 "}"
    Whitespace@294..296 "\n\n"
  IMPL@296..326
    ImplKeyword@296..300 "impl"
    GENERIC_LIST@300..304
      LBracket@300..301 "["
      GENERIC@301..302
        Ident@301..302 "T"
      RBracket@302..303 "]"
      Whitespace@303..304 " "
    TYPE_TAPP@304..307
      PATH@304..307
        Ident@304..306 "Eq"
        Whitespace@306..307 " "
    ForKeyword@307..310 "for"
    Whitespace@310..311 " "
    TYPE_TAPP@311..322
      PATH@311..318
        Ident@311..318 "Wrapper"
      TYPE_PARAM_LIST@318..322
        LBracket@318..319 "["
        TYPE_TAPP@319..320
          PATH@319..320
            Ident@319..320 "T"
        RBracket@320..321 "]"
        Whitespace@321..322 " "
    LBrace@322..323 "{"
    RBrace@323..324 "}"
    Whitespace@324..326 "\n\n"
  IMPL@326..417
    ImplKeyword@326..330 "impl"
    GENERIC_LIST@330..334
      LBracket@330..331 "["
      GENERIC@331..332
        Ident@331..332 "T"
      RBracket@332..333 "]"
      Whitespace@333..334 " "
    TYPE_TAPP@334..339
      PATH@334..339
        Ident@334..338 "Hash"
        Whitespace@338..339 " "
    ForKeyword@339..342 "for"
    Whitespace@342..343 " "
    TYPE_TAPP@343..354
      PATH@343..350
        Ident@343..350 "Wrapper"
      TYPE_PARAM_LIST@350..354
        LBracket@350..351 "["
        TYPE_TAPP@351..352
          PATH@351..352
            Ident@351..352 "T"
        RBracket@352..353 "]"
        Whitespace@353..354 " "
    LBrace@354..355 "{"
    Whitespace@355..360 "\n    "
    FN@360..414
      FnKeyword@360..362 "fn"
      Whitespace@362..363 " "
      Ident@363..367 "hash"
      PARAM_LIST@367..386
        LParen@367..368 "("
        PARAM@368..384
          Ident@368..372 "self"
          Colon@372..373 ":"
          Whitespace@373..374 " "
          TYPE_TAPP@374..384
            PATH@374..381
              Ident@374..381 "Wrapper"
            TYPE_PARAM_LIST@381..384
              LBracket@381..382 "["
              TYPE_TAPP@382..383
                PATH@382..383
                  Ident@382..383 "T"
              RBracket@383..384 "]"
        RParen@384..385 ")"
        Whitespace@385..386 " "
      Arrow@386..388 "->"
      Whitespace@388..389 " "
      TYPE_UINT64@389..396
        Uint64Keyword@389..395 "uint64"
        Whitespace@395..396 " "
      BLOCK@396..414
        LBrace@396..397 "{"
        Whitespace@397..406 "\n        "
        EXPR_INT@406..412
          Int@406..407 "7"
          Whitespace@407..412 "\n    "
        RBrace@412..413 "}"
        Whitespace@413..414 "\n"
    RBrace@414..415 "}"
    Whitespace@415..417 "\n\n"
  STRUCT@417..536
    ATTRIBUTE_LIST@417..458
      ATTRIBUTE@417..458
        Pound@417..418 "#"
        LBracket@418..419 "["
        Ident@419..425 "derive"
        LParen@425..426 "("
        Ident@426..434 "ToString"
        Comma@434..435 ","
        Whitespace@435..436 " "
        Ident@436..445 "PartialEq"
        Comma@445..446 ","
        Whitespace@446..447 " "
        Ident@447..449 "Eq"
        Comma@449..450 ","
        Whitespace@450..451 " "
        Ident@451..455 "Hash"
        RParen@455..456 ")"
        RBracket@456..457 "]"
        Whitespace@457..458 "\n"
    StructKeyword@458..464 "struct"
    Whitespace@464..465 " "
    Ident@465..472 "Generic"
    GENERIC_LIST@472..484
      LBracket@472..473 "["
      GENERIC@473..474
        Ident@473..474 "T"
      Comma@474..475 ","
      Whitespace@475..476 " "
      GENERIC@476..482
        Ident@476..482 "Marker"
      RBracket@482..483 "]"
      Whitespace@483..484 " "
    LBrace@484..485 "{"
    Whitespace@485..490 "\n    "
    STRUCT_FIELD_LIST@490..536
      STRUCT_FIELD@490..507
        Ident@490..495 "first"
        Colon@495..496 ":"
        Whitespace@496..497 " "
        TYPE_TAPP@497..507
          PATH@497..504
            Ident@497..504 "Wrapper"
          TYPE_PARAM_LIST@504..507
            LBracket@504..505 "["
            TYPE_TAPP@505..506
              PATH@505..506
                Ident@505..506 "T"
            RBracket@506..507 "]"
      Comma@507..508 ","
      Whitespace@508..513 "\n    "
      STRUCT_FIELD@513..531
        Ident@513..519 "second"
        Colon@519..520 ":"
        Whitespace@520..521 " "
        TYPE_TAPP@521..531
          PATH@521..528
            Ident@521..528 "Wrapper"
          TYPE_PARAM_LIST@528..531
            LBracket@528..529 "["
            TYPE_TAPP@529..530
              PATH@529..530
                Ident@529..530 "T"
            RBracket@530..531 "]"
      Comma@531..532 ","
      Whitespace@532..533 "\n"
      RBrace@533..534 "}"
      Whitespace@534..536 "\n\n"
  ENUM@536..646
    ATTRIBUTE_LIST@536..577
      ATTRIBUTE@536..577
        Pound@536..537 "#"
        LBracket@537..538 "["
        Ident@538..544 "derive"
        LParen@544..545 "("
        Ident@545..553 "ToString"
        Comma@553..554 ","
        Whitespace@554..555 " "
        Ident@555..564 "PartialEq"
        Comma@564..565 ","
        Whitespace@565..566 " "
        Ident@566..568 "Eq"
        Comma@568..569 ","
        Whitespace@569..570 " "
        Ident@570..574 "Hash"
        RParen@574..575 ")"
        RBracket@575..576 "]"
        Whitespace@576..577 "\n"
    EnumKeyword@577..581 "enum"
    Whitespace@581..582 " "
    Ident@582..595 "GenericChoice"
    GENERIC_LIST@595..607
      LBracket@595..596 "["
      GENERIC@596..597
        Ident@596..597 "T"
      Comma@597..598 ","
      Whitespace@598..599 " "
      GENERIC@599..605
        Ident@599..605 "Marker"
      RBracket@605..606 "]"
      Whitespace@606..607 " "
    LBrace@607..608 "{"
    Whitespace@608..613 "\n    "
    VARIANT_LIST@613..646
      VARIANT@613..618
        Ident@613..618 "Empty"
      Comma@618..619 ","
      Whitespace@619..624 "\n    "
      VARIANT@624..641
        Ident@624..629 "Value"
        TYPE_LIST@629..641
          LParen@629..630 "("
          ENUM_TUPLE_FIELD@630..640
            TYPE_TAPP@630..640
              PATH@630..637
                Ident@630..637 "Wrapper"
              TYPE_PARAM_LIST@637..640
                LBracket@637..638 "["
                TYPE_TAPP@638..639
                  PATH@638..639
                    Ident@638..639 "T"
                RBracket@639..640 "]"
          RParen@640..641 ")"
      Comma@641..642 ","
      Whitespace@642..643 "\n"
      RBrace@643..644 "}"
      Whitespace@644..646 "\n\n"
  FN@646..1298
    FnKeyword@646..648 "fn"
    Whitespace@648..649 " "
    Ident@649..653 "main"
    PARAM_LIST@653..656
      LParen@653..654 "("
      RParen@654..655 ")"
      Whitespace@655..656 " "
    Arrow@656..658 "->"
    Whitespace@658..659 " "
    TYPE_UNIT@659..664
      UnitKeyword@659..663 "unit"
      Whitespace@663..664 " "
    BLOCK@664..1298
      LBrace@664..665 "{"
      Whitespace@665..670 "\n    "
      STMT_LET@670..730
        LetKeyword@670..673 "let"
        Whitespace@673..674 " "
        PATTERN_VARIABLE@674..682
          Ident@674..681 "wrapped"
          Whitespace@681..682 " "
        Eq@682..683 "="
        Whitespace@683..684 " "
        EXPR_STRUCT_LITERAL@684..724
          PATH@684..692
            Ident@684..691 "Wrapper"
            Whitespace@691..692 " "
          STRUCT_LITERAL_FIELD_LIST@692..724
            LBrace@692..693 "{"
            Whitespace@693..694 " "
            STRUCT_LITERAL_FIELD@694..723
              Ident@694..699 "value"
              Colon@699..700 ":"
              Whitespace@700..701 " "
              EXPR_STRUCT_LITERAL@701..723
                PATH@701..710
                  Ident@701..709 "NoTraits"
                  Whitespace@709..710 " "
                STRUCT_LITERAL_FIELD_LIST@710..723
                  LBrace@710..711 "{"
                  Whitespace@711..712 " "
                  STRUCT_LITERAL_FIELD@712..721
                    Ident@712..717 "value"
                    Colon@717..718 ":"
                    Whitespace@718..719 " "
                    EXPR_INT@719..721
                      Int@719..720 "1"
                      Whitespace@720..721 " "
                  RBrace@721..722 "}"
                  Whitespace@722..723 " "
            RBrace@723..724 "}"
        Semi@724..725 ";"
        Whitespace@725..730 "\n    "
      STMT_LET@730..819
        LetKeyword@730..733 "let"
        Whitespace@733..734 " "
        PATTERN_VARIABLE@734..738
          Ident@734..738 "left"
        Colon@738..739 ":"
        Whitespace@739..740 " "
        TYPE_TAPP@740..768
          PATH@740..747
            Ident@740..747 "Generic"
          TYPE_PARAM_LIST@747..768
            LBracket@747..748 "["
            TYPE_TAPP@748..756
              PATH@748..756
                Ident@748..756 "NoTraits"
            Comma@756..757 ","
            Whitespace@757..758 " "
            TYPE_TAPP@758..766
              PATH@758..766
                Ident@758..766 "NoTraits"
            RBracket@766..767 "]"
            Whitespace@767..768 " "
        Eq@768..769 "="
        Whitespace@769..770 " "
        EXPR_STRUCT_LITERAL@770..813
          PATH@770..778
            Ident@770..777 "Generic"
            Whitespace@777..778 " "
          STRUCT_LITERAL_FIELD_LIST@778..813
            LBrace@778..779 "{"
            Whitespace@779..780 " "
            STRUCT_LITERAL_FIELD@780..794
              Ident@780..785 "first"
              Colon@785..786 ":"
              Whitespace@786..787 " "
              EXPR_IDENT@787..794
                PATH@787..794
                  Ident@787..794 "wrapped"
            Comma@794..795 ","
            Whitespace@795..796 " "
            STRUCT_LITERAL_FIELD@796..812
              Ident@796..802 "second"
              Colon@802..803 ":"
              Whitespace@803..804 " "
              EXPR_IDENT@804..812
                PATH@804..812
                  Ident@804..811 "wrapped"
                  Whitespace@811..812 " "
            RBrace@812..813 "}"
        Semi@813..814 ";"
        Whitespace@814..819 "\n    "
      STMT_LET@819..909
        LetKeyword@819..822 "let"
        Whitespace@822..823 " "
        PATTERN_VARIABLE@823..828
          Ident@823..828 "right"
        Colon@828..829 ":"
        Whitespace@829..830 " "
        TYPE_TAPP@830..858
          PATH@830..837
            Ident@830..837 "Generic"
          TYPE_PARAM_LIST@837..858
            LBracket@837..838 "["
            TYPE_TAPP@838..846
              PATH@838..846
                Ident@838..846 "NoTraits"
            Comma@846..847 ","
            Whitespace@847..848 " "
            TYPE_TAPP@848..856
              PATH@848..856
                Ident@848..856 "NoTraits"
            RBracket@856..857 "]"
            Whitespace@857..858 " "
        Eq@858..859 "="
        Whitespace@859..860 " "
        EXPR_STRUCT_LITERAL@860..903
          PATH@860..868
            Ident@860..867 "Generic"
            Whitespace@867..868 " "
          STRUCT_LITERAL_FIELD_LIST@868..903
            LBrace@868..869 "{"
            Whitespace@869..870 " "
            STRUCT_LITERAL_FIELD@870..884
              Ident@870..875 "first"
              Colon@875..876 ":"
              Whitespace@876..877 " "
              EXPR_IDENT@877..884
                PATH@877..884
                  Ident@877..884 "wrapped"
            Comma@884..885 ","
            Whitespace@885..886 " "
            STRUCT_LITERAL_FIELD@886..902
              Ident@886..892 "second"
              Colon@892..893 ":"
              Whitespace@893..894 " "
              EXPR_IDENT@894..902
                PATH@894..902
                  Ident@894..901 "wrapped"
                  Whitespace@901..902 " "
            RBrace@902..903 "}"
        Semi@903..904 ";"
        Whitespace@904..909 "\n    "
      STMT_EXPR@909..940
        EXPR_CALL@909..934
          EXPR_IDENT@909..916
            PATH@909..916
              Ident@909..916 "println"
          ARG_LIST@916..934
            LParen@916..917 "("
            ARG@917..933
              EXPR_CALL@917..933
                EXPR_BINARY@917..931
                  EXPR_IDENT@917..921
                    PATH@917..921
                      Ident@917..921 "left"
                  Dot@921..922 "."
                  EXPR_IDENT@922..931
                    PATH@922..931
                      Ident@922..931 "to_string"
                ARG_LIST@931..933
                  LParen@931..932 "("
                  RParen@932..933 ")"
            RParen@933..934 ")"
        Semi@934..935 ";"
        Whitespace@935..940 "\n    "
      STMT_EXPR@940..968
        EXPR_CALL@940..962
          EXPR_IDENT@940..947
            PATH@940..947
              Ident@940..947 "println"
          ARG_LIST@947..962
            LParen@947..948 "("
            ARG@948..961
              EXPR_BINARY@948..961
                EXPR_IDENT@948..953
                  PATH@948..953
                    Ident@948..952 "left"
                    Whitespace@952..953 " "
                EqEq@953..955 "=="
                Whitespace@955..956 " "
                EXPR_IDENT@956..961
                  PATH@956..961
                    Ident@956..961 "right"
            RParen@961..962 ")"
        Semi@962..963 ";"
        Whitespace@963..968 "\n    "
      STMT_EXPR@968..1010
        EXPR_CALL@968..1004
          EXPR_IDENT@968..975
            PATH@968..975
              Ident@968..975 "println"
          ARG_LIST@975..1004
            LParen@975..976 "("
            ARG@976..1003
              EXPR_BINARY@976..1003
                EXPR_CALL@976..988
                  EXPR_BINARY@976..985
                    EXPR_IDENT@976..980
                      PATH@976..980
                        Ident@976..980 "left"
                    Dot@980..981 "."
                    EXPR_IDENT@981..985
                      PATH@981..985
                        Ident@981..985 "hash"
                  ARG_LIST@985..988
                    LParen@985..986 "("
                    RParen@986..987 ")"
                    Whitespace@987..988 " "
                EqEq@988..990 "=="
                Whitespace@990..991 " "
                EXPR_CALL@991..1003
                  EXPR_BINARY@991..1001
                    EXPR_IDENT@991..996
                      PATH@991..996
                        Ident@991..996 "right"
                    Dot@996..997 "."
                    EXPR_IDENT@997..1001
                      PATH@997..1001
                        Ident@997..1001 "hash"
                  ARG_LIST@1001..1003
                    LParen@1001..1002 "("
                    RParen@1002..1003 ")"
            RParen@1003..1004 ")"
        Semi@1004..1005 ";"
        Whitespace@1005..1010 "\n    "
      STMT_LET@1010..1083
        LetKeyword@1010..1013 "let"
        Whitespace@1013..1014 " "
        PATTERN_VARIABLE@1014..1019
          Ident@1014..1019 "empty"
        Colon@1019..1020 ":"
        Whitespace@1020..1021 " "
        TYPE_TAPP@1021..1055
          PATH@1021..1034
            Ident@1021..1034 "GenericChoice"
          TYPE_PARAM_LIST@1034..1055
            LBracket@1034..1035 "["
            TYPE_TAPP@1035..1043
              PATH@1035..1043
                Ident@1035..1043 "NoTraits"
            Comma@1043..1044 ","
            Whitespace@1044..1045 " "
            TYPE_TAPP@1045..1053
              PATH@1045..1053
                Ident@1045..1053 "NoTraits"
            RBracket@1053..1054 "]"
            Whitespace@1054..1055 " "
        Eq@1055..1056 "="
        Whitespace@1056..1057 " "
        EXPR_IDENT@1057..1077
          PATH@1057..1077
            Ident@1057..1070 "GenericChoice"
            ColonColon@1070..1072 "::"
            Ident@1072..1077 "Empty"
        Semi@1077..1078 ";"
        Whitespace@1078..1083 "\n    "
      STMT_LET@1083..1165
        LetKeyword@1083..1086 "let"
        Whitespace@1086..1087 " "
        PATTERN_VARIABLE@1087..1092
          Ident@1087..1092 "value"
        Colon@1092..1093 ":"
        Whitespace@1093..1094 " "
        TYPE_TAPP@1094..1128
          PATH@1094..1107
            Ident@1094..1107 "GenericChoice"
          TYPE_PARAM_LIST@1107..1128
            LBracket@1107..1108 "["
            TYPE_TAPP@1108..1116
              PATH@1108..1116
                Ident@1108..1116 "NoTraits"
            Comma@1116..1117 ","
            Whitespace@1117..1118 " "
            TYPE_TAPP@1118..1126
              PATH@1118..1126
                Ident@1118..1126 "NoTraits"
            RBracket@1126..1127 "]"
            Whitespace@1127..1128 " "
        Eq@1128..1129 "="
        Whitespace@1129..1130 " "
        EXPR_CALL@1130..1159
          EXPR_IDENT@1130..1150
            PATH@1130..1150
              Ident@1130..1143 "GenericChoice"
              ColonColon@1143..1145 "::"
              Ident@1145..1150 "Value"
          ARG_LIST@1150..1159
            LParen@1150..1151 "("
            ARG@1151..1158
              EXPR_IDENT@1151..1158
                PATH@1151..1158
                  Ident@1151..1158 "wrapped"
            RParen@1158..1159 ")"
        Semi@1159..1160 ";"
        Whitespace@1160..1165 "\n    "
      STMT_EXPR@1165..1197
        EXPR_CALL@1165..1191
          EXPR_IDENT@1165..1172
            PATH@1165..1172
              Ident@1165..1172 "println"
          ARG_LIST@1172..1191
            LParen@1172..1173 "("
            ARG@1173..1190
              EXPR_CALL@1173..1190
                EXPR_BINARY@1173..1188
                  EXPR_IDENT@1173..1178
                    PATH@1173..1178
                      Ident@1173..1178 "empty"
                  Dot@1178..1179 "."
                  EXPR_IDENT@1179..1188
                    PATH@1179..1188
                      Ident@1179..1188 "to_string"
                ARG_LIST@1188..1190
                  LParen@1188..1189 "("
                  RParen@1189..1190 ")"
            RParen@1190..1191 ")"
        Semi@1191..1192 ";"
        Whitespace@1192..1197 "\n    "
      STMT_EXPR@1197..1229
        EXPR_CALL@1197..1223
          EXPR_IDENT@1197..1204
            PATH@1197..1204
              Ident@1197..1204 "println"
          ARG_LIST@1204..1223
            LParen@1204..1205 "("
            ARG@1205..1222
              EXPR_CALL@1205..1222
                EXPR_BINARY@1205..1220
                  EXPR_IDENT@1205..1210
                    PATH@1205..1210
                      Ident@1205..1210 "value"
                  Dot@1210..1211 "."
                  EXPR_IDENT@1211..1220
                    PATH@1211..1220
                      Ident@1211..1220 "to_string"
                ARG_LIST@1220..1222
                  LParen@1220..1221 "("
                  RParen@1221..1222 ")"
            RParen@1222..1223 ")"
        Semi@1223..1224 ";"
        Whitespace@1224..1229 "\n    "
      STMT_EXPR@1229..1258
        EXPR_CALL@1229..1252
          EXPR_IDENT@1229..1236
            PATH@1229..1236
              Ident@1229..1236 "println"
          ARG_LIST@1236..1252
            LParen@1236..1237 "("
            ARG@1237..1251
              EXPR_BINARY@1237..1251
                EXPR_IDENT@1237..1243
                  PATH@1237..1243
                    Ident@1237..1242 "empty"
                    Whitespace@1242..1243 " "
                NotEq@1243..1245 "!="
                Whitespace@1245..1246 " "
                EXPR_IDENT@1246..1251
                  PATH@1246..1251
                    Ident@1246..1251 "value"
            RParen@1251..1252 ")"
        Semi@1252..1253 ";"
        Whitespace@1253..1258 "\n    "
      EXPR_CALL@1258..1296
        EXPR_IDENT@1258..1265
          PATH@1258..1265
            Ident@1258..1265 "println"
        ARG_LIST@1265..1296
          LParen@1265..1266 "("
          ARG@1266..1294
            EXPR_BINARY@1266..1294
              EXPR_CALL@1266..1279
                EXPR_BINARY@1266..1276
                  EXPR_IDENT@1266..1271
                    PATH@1266..1271
                      Ident@1266..1271 "value"
                  Dot@1271..1272 "."
                  EXPR_IDENT@1272..1276
                    PATH@1272..1276
                      Ident@1272..1276 "hash"
                ARG_LIST@1276..1279
                  LParen@1276..1277 "("
                  RParen@1277..1278 ")"
                  Whitespace@1278..1279 " "
              EqEq@1279..1281 "=="
              Whitespace@1281..1282 " "
              EXPR_CALL@1282..1294
                EXPR_BINARY@1282..1292
                  EXPR_IDENT@1282..1287
                    PATH@1282..1287
                      Ident@1282..1287 "value"
                  Dot@1287..1288 "."
                  EXPR_IDENT@1288..1292
                    PATH@1288..1292
                      Ident@1288..1292 "hash"
                ARG_LIST@1292..1294
                  LParen@1292..1293 "("
                  RParen@1293..1294 ")"
          RParen@1294..1295 ")"
          Whitespace@1295..1296 "\n"
      RBrace@1296..1297 "}"
      Whitespace@1297..1298 "\n"