FILE@0..1282
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..15 "NoTraits"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    STRUCT_FIELD_LIST@22..37
      STRUCT_FIELD@22..32
        Ident@22..27 "value"
        Colon@27..28 ":"
        Whitespace@28..29 " "
        TYPE_INT@29..32
          IntKeyword@29..32 "int"
      Comma@32..33 ","
      Whitespace@33..34 "\n"
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  STRUCT@37..74
    StructKeyword@37..43 "struct"
    Whitespace@43..44 " "
    Ident@44..51 "Wrapper"
    GENERIC_LIST@51..55
      LBracket@51..52 "["
      GENERIC@52..53
        Ident@52..53 "T"
      RBracket@53..54 "]"
      Whitespace@54..55 " "
    LBrace@55..56 "{"
    Whitespace@56..61 "\n    "
    STRUCT_FIELD_LIST@61..74
      STRUCT_FIELD@61..69
        Ident@61..66 "value"
        Colon@66..67 ":"
        Whitespace@67..68 " "
        TYPE_TAPP@68..69
          PATH@68..69
            Ident@68..69 "T"
      Comma@69..70 ","
      Whitespace@70..71 "\n"
      RBrace@71..72 "}"
      Whitespace@72..74 "\n\n"
  IMPL@74..182
    ImplKeyword@74..78 "impl"
    GENERIC_LIST@78..82
      LBracket@78..79 "["
      GENERIC@79..80
        Ident@79..80 "T"
      RBracket@80..81 "]"
      Whitespace@81..82 " "
    TYPE_TAPP@82..91
      PATH@82..91
        Ident@82..90 "ToString"
        Whitespace@90..91 " "
    ForKeyword@91..94 "for"
    Whitespace@94..95 " "
    TYPE_TAPP@95..106
      PATH@95..102
        Ident@95..102 "Wrapper"
      TYPE_PARAM_LIST@102..106
        LBracket@102..103 "["
        TYPE_TAPP@103..104
          PATH@103..104
            Ident@103..104 "T"
        RBracket@104..105 "]"
        Whitespace@105..106 " "
    LBrace@106..107 "{"
    Whitespace@107..112 "\n    "
    FN@112..179
      FnKeyword@112..114 "fn"
      Whitespace@114..115 " "
      Ident@115..124 "to_string"
      PARAM_LIST@124..143
        LParen@124..125 "("
        PARAM@125..141
          Ident@125..129 "self"
          Colon@129..130 ":"
          Whitespace@130..131 " "
          TYPE_TAPP@131..141
            PATH@131..138
              Ident@131..138 "Wrapper"
            TYPE_PARAM_LIST@138..141
              LBracket@138..139 "["
              TYPE_TAPP@139..140
                PATH@139..140
                  Ident@139..140 "T"
              RBracket@140..141 "]"
        RParen@141..142 ")"
        Whitespace@142..143 " "
      Arrow@143..145 "->"
      Whitespace@145..146 " "
      TYPE_STRING@146..153
        StringKeyword@146..152 "string"
        Whitespace@152..153 " "
      BLOCK@153..179
        LBrace@153..154 "{"
        Whitespace@154..163 "\n        "
        EXPR_STR@163..177
          Str@163..172 "\"wrapped\""
          Whitespace@172..177 "\n    "
        RBrace@177..178 "}"
        Whitespace@178..179 "\n"
    RBrace@179..180 "}"
    Whitespace@180..182 "\n\n"
  IMPL@182..289
    ImplKeyword@182..186 "impl"
    GENERIC_LIST@186..190
      LBracket@186..187 "["
      GENERIC@187..188
        Ident@187..188 "T"
      RBracket@188..189 "]"
      Whitespace@189..190 " "
    TYPE_TAPP@190..193
      PATH@190..193
        Ident@190..192 "Eq"
        Whitespace@192..193 " "
    ForKeyword@193..196 "for"
    Whitespace@196..197 " "
    TYPE_TAPP@197..208
      PATH@197..204
        Ident@197..204 "Wrapper"
      TYPE_PARAM_LIST@204..208
        LBracket@204..205 "["
        TYPE_TAPP@205..206
          PATH@205..206
            Ident@205..206 "T"
        RBracket@206..207 "]"
        Whitespace@207..208 " "
    LBrace@208..209 "{"
    Whitespace@209..214 "\n    "
    FN@214..286
      FnKeyword@214..216 "fn"
      Whitespace@216..217 " "
      Ident@217..219 "eq"
      PARAM_LIST@219..257
        LParen@219..220 "("
        PARAM@220..238
          Ident@220..224 "self"
          Colon@224..225 ":"
          Whitespace@225..226 " "
          TYPE_TAPP@226..236
            PATH@226..233
              Ident@226..233 "Wrapper"
            TYPE_PARAM_LIST@233..236
              LBracket@233..234 "["
              TYPE_TAPP@234..235
                PATH@234..235
                  Ident@234..235 "T"
              RBracket@235..236 "]"
          Comma@236..237 ","
          Whitespace@237..238 " "
        PARAM@238..255
          Ident@238..243 "other"
          Colon@243..244 ":"
          Whitespace@244..245 " "
          TYPE_TAPP@245..255
            PATH@245..252
              Ident@245..252 "Wrapper"
            TYPE_PARAM_LIST@252..255
              LBracket@252..253 "["
              TYPE_TAPP@253..254
                PATH@253..254
                  Ident@253..254 "T"
              RBracket@254..255 "]"
        RParen@255..256 ")"
        Whitespace@256..257 " "
      Arrow@257..259 "->"
      Whitespace@259..260 " "
      TYPE_BOOL@260..265
        BoolKeyword@260..264 "bool"
        Whitespace@264..265 " "
      BLOCK@265..286
        LBrace@265..266 "{"
        Whitespace@266..275 "\n        "
        EXPR_BOOL@275..284
          TrueKeyword@275..279 "true"
          Whitespace@279..284 "\n    "
        RBrace@284..285 "}"
        Whitespace@285..286 "\n"
    RBrace@286..287 "}"
    Whitespace@287..289 "\n\n"
  IMPL@289..380
    ImplKeyword@289..293 "impl"
    GENERIC_LIST@293..297
      LBracket@293..294 "["
      GENERIC@294..295
        Ident@294..295 "T"
      RBracket@295..296 "]"
      Whitespace@296..297 " "
    TYPE_TAPP@297..302
      PATH@297..302
        Ident@297..301 "Hash"
        Whitespace@301..302 " "
    ForKeyword@302..305 "for"
    Whitespace@305..306 " "
    TYPE_TAPP@306..317
      PATH@306..313
        Ident@306..313 "Wrapper"
      TYPE_PARAM_LIST@313..317
        LBracket@313..314 "["
        TYPE_TAPP@314..315
          PATH@314..315
            Ident@314..315 "T"
        RBracket@315..316 "]"
        Whitespace@316..317 " "
    LBrace@317..318 "{"
    Whitespace@318..323 "\n    "
    FN@323..377
      FnKeyword@323..325 "fn"
      Whitespace@325..326 " "
      Ident@326..330 "hash"
      PARAM_LIST@330..349
        LParen@330..331 "("
        PARAM@331..347
          Ident@331..335 "self"
          Colon@335..336 ":"
          Whitespace@336..337 " "
          TYPE_TAPP@337..347
            PATH@337..344
              Ident@337..344 "Wrapper"
            TYPE_PARAM_LIST@344..347
              LBracket@344..345 "["
              TYPE_TAPP@345..346
                PATH@345..346
                  Ident@345..346 "T"
              RBracket@346..347 "]"
        RParen@347..348 ")"
        Whitespace@348..349 " "
      Arrow@349..351 "->"
      Whitespace@351..352 " "
      TYPE_UINT64@352..359
        Uint64Keyword@352..358 "uint64"
        Whitespace@358..359 " "
      BLOCK@359..377
        LBrace@359..360 "{"
        Whitespace@360..369 "\n        "
        EXPR_INT@369..375
          Int@369..370 "7"
          Whitespace@370..375 "\n    "
        RBrace@375..376 "}"
        Whitespace@376..377 "\n"
    RBrace@377..378 "}"
    Whitespace@378..380 "\n\n"
  STRUCT@380..488
    ATTRIBUTE_LIST@380..410
      ATTRIBUTE@380..410
        Pound@380..381 "#"
        LBracket@381..382 "["
        Ident@382..388 "derive"
        LParen@388..389 "("
        Ident@389..397 "ToString"
        Comma@397..398 ","
        Whitespace@398..399 " "
        Ident@399..401 "Eq"
        Comma@401..402 ","
        Whitespace@402..403 " "
        Ident@403..407 "Hash"
        RParen@407..408 ")"
        RBracket@408..409 "]"
        Whitespace@409..410 "\n"
    StructKeyword@410..416 "struct"
    Whitespace@416..417 " "
    Ident@417..424 "Generic"
    GENERIC_LIST@424..436
      LBracket@424..425 "["
      GENERIC@425..426
        Ident@425..426 "T"
      Comma@426..427 ","
      Whitespace@427..428 " "
      GENERIC@428..434
        Ident@428..434 "Marker"
      RBracket@434..435 "]"
      Whitespace@435..436 " "
    LBrace@436..437 "{"
    Whitespace@437..442 "\n    "
    STRUCT_FIELD_LIST@442..488
      STRUCT_FIELD@442..459
        Ident@442..447 "first"
        Colon@447..448 ":"
        Whitespace@448..449 " "
        TYPE_TAPP@449..459
          PATH@449..456
            Ident@449..456 "Wrapper"
          TYPE_PARAM_LIST@456..459
            LBracket@456..457 "["
            TYPE_TAPP@457..458
              PATH@457..458
                Ident@457..458 "T"
            RBracket@458..459 "]"
      Comma@459..460 ","
      Whitespace@460..465 "\n    "
      STRUCT_FIELD@465..483
        Ident@465..471 "second"
        Colon@471..472 ":"
        Whitespace@472..473 " "
        TYPE_TAPP@473..483
          PATH@473..480
            Ident@473..480 "Wrapper"
          TYPE_PARAM_LIST@480..483
            LBracket@480..481 "["
            TYPE_TAPP@481..482
              PATH@481..482
                Ident@481..482 "T"
            RBracket@482..483 "]"
      Comma@483..484 ","
      Whitespace@484..485 "\n"
      RBrace@485..486 "}"
      Whitespace@486..488 "\n\n"
  ENUM@488..587
    ATTRIBUTE_LIST@488..518
      ATTRIBUTE@488..518
        Pound@488..489 "#"
        LBracket@489..490 "["
        Ident@490..496 "derive"
        LParen@496..497 "("
        Ident@497..505 "ToString"
        Comma@505..506 ","
        Whitespace@506..507 " "
        Ident@507..509 "Eq"
        Comma@509..510 ","
        Whitespace@510..511 " "
        Ident@511..515 "Hash"
        RParen@515..516 ")"
        RBracket@516..517 "]"
        Whitespace@517..518 "\n"
    EnumKeyword@518..522 "enum"
    Whitespace@522..523 " "
    Ident@523..536 "GenericChoice"
    GENERIC_LIST@536..548
      LBracket@536..537 "["
      GENERIC@537..538
        Ident@537..538 "T"
      Comma@538..539 ","
      Whitespace@539..540 " "
      GENERIC@540..546
        Ident@540..546 "Marker"
      RBracket@546..547 "]"
      Whitespace@547..548 " "
    LBrace@548..549 "{"
    Whitespace@549..554 "\n    "
    VARIANT_LIST@554..587
      VARIANT@554..559
        Ident@554..559 "Empty"
      Comma@559..560 ","
      Whitespace@560..565 "\n    "
      VARIANT@565..582
        Ident@565..570 "Value"
        TYPE_LIST@570..582
          LParen@570..571 "("
          TYPE_TAPP@571..581
            PATH@571..578
              Ident@571..578 "Wrapper"
            TYPE_PARAM_LIST@578..581
              LBracket@578..579 "["
              TYPE_TAPP@579..580
                PATH@579..580
                  Ident@579..580 "T"
              RBracket@580..581 "]"
          RParen@581..582 ")"
      Comma@582..583 ","
      Whitespace@583..584 "\n"
      RBrace@584..585 "}"
      Whitespace@585..587 "\n\n"
  FN@587..1282
    FnKeyword@587..589 "fn"
    Whitespace@589..590 " "
    Ident@590..594 "main"
    PARAM_LIST@594..597
      LParen@594..595 "("
      RParen@595..596 ")"
      Whitespace@596..597 " "
    Arrow@597..599 "->"
    Whitespace@599..600 " "
    TYPE_UNIT@600..605
      UnitKeyword@600..604 "unit"
      Whitespace@604..605 " "
    BLOCK@605..1282
      LBrace@605..606 "{"
      Whitespace@606..611 "\n    "
      STMT_LET@611..671
        LetKeyword@611..614 "let"
        Whitespace@614..615 " "
        PATTERN_VARIABLE@615..623
          Ident@615..622 "wrapped"
          Whitespace@622..623 " "
        Eq@623..624 "="
        Whitespace@624..625 " "
        EXPR_STRUCT_LITERAL@625..665
          PATH@625..633
            Ident@625..632 "Wrapper"
            Whitespace@632..633 " "
          STRUCT_LITERAL_FIELD_LIST@633..665
            LBrace@633..634 "{"
            Whitespace@634..635 " "
            STRUCT_LITERAL_FIELD@635..664
              Ident@635..640 "value"
              Colon@640..641 ":"
              Whitespace@641..642 " "
              EXPR_STRUCT_LITERAL@642..664
                PATH@642..651
                  Ident@642..650 "NoTraits"
                  Whitespace@650..651 " "
                STRUCT_LITERAL_FIELD_LIST@651..664
                  LBrace@651..652 "{"
                  Whitespace@652..653 " "
                  STRUCT_LITERAL_FIELD@653..662
                    Ident@653..658 "value"
                    Colon@658..659 ":"
                    Whitespace@659..660 " "
                    EXPR_INT@660..662
                      Int@660..661 "1"
                      Whitespace@661..662 " "
                  RBrace@662..663 "}"
                  Whitespace@663..664 " "
            RBrace@664..665 "}"
        Semi@665..666 ";"
        Whitespace@666..671 "\n    "
      STMT_LET@671..781
        LetKeyword@671..674 "let"
        Whitespace@674..675 " "
        PATTERN_VARIABLE@675..679
          Ident@675..679 "left"
        Colon@679..680 ":"
        Whitespace@680..681 " "
        TYPE_TAPP@681..709
          PATH@681..688
            Ident@681..688 "Generic"
          TYPE_PARAM_LIST@688..709
            LBracket@688..689 "["
            TYPE_TAPP@689..697
              PATH@689..697
                Ident@689..697 "NoTraits"
            Comma@697..698 ","
            Whitespace@698..699 " "
            TYPE_TAPP@699..707
              PATH@699..707
                Ident@699..707 "NoTraits"
            RBracket@707..708 "]"
            Whitespace@708..709 " "
        Eq@709..710 "="
        Whitespace@710..711 " "
        EXPR_STRUCT_LITERAL@711..775
          PATH@711..719
            Ident@711..718 "Generic"
            Whitespace@718..719 " "
          STRUCT_LITERAL_FIELD_LIST@719..775
            LBrace@719..720 "{"
            Whitespace@720..729 "\n        "
            STRUCT_LITERAL_FIELD@729..743
              Ident@729..734 "first"
              Colon@734..735 ":"
              Whitespace@735..736 " "
              EXPR_IDENT@736..743
                PATH@736..743
                  Ident@736..743 "wrapped"
            Comma@743..744 ","
            Whitespace@744..753 "\n        "
            STRUCT_LITERAL_FIELD@753..768
              Ident@753..759 "second"
              Colon@759..760 ":"
              Whitespace@760..761 " "
              EXPR_IDENT@761..768
                PATH@761..768
                  Ident@761..768 "wrapped"
            Comma@768..769 ","
            Whitespace@769..774 "\n    "
            RBrace@774..775 "}"
        Semi@775..776 ";"
        Whitespace@776..781 "\n    "
      STMT_LET@781..892
        LetKeyword@781..784 "let"
        Whitespace@784..785 " "
        PATTERN_VARIABLE@785..790
          Ident@785..790 "right"
        Colon@790..791 ":"
        Whitespace@791..792 " "
        TYPE_TAPP@792..820
          PATH@792..799
            Ident@792..799 "Generic"
          TYPE_PARAM_LIST@799..820
            LBracket@799..800 "["
            TYPE_TAPP@800..808
              PATH@800..808
                Ident@800..808 "NoTraits"
            Comma@808..809 ","
            Whitespace@809..810 " "
            TYPE_TAPP@810..818
              PATH@810..818
                Ident@810..818 "NoTraits"
            RBracket@818..819 "]"
            Whitespace@819..820 " "
        Eq@820..821 "="
        Whitespace@821..822 " "
        EXPR_STRUCT_LITERAL@822..886
          PATH@822..830
            Ident@822..829 "Generic"
            Whitespace@829..830 " "
          STRUCT_LITERAL_FIELD_LIST@830..886
            LBrace@830..831 "{"
            Whitespace@831..840 "\n        "
            STRUCT_LITERAL_FIELD@840..854
              Ident@840..845 "first"
              Colon@845..846 ":"
              Whitespace@846..847 " "
              EXPR_IDENT@847..854
                PATH@847..854
                  Ident@847..854 "wrapped"
            Comma@854..855 ","
            Whitespace@855..864 "\n        "
            STRUCT_LITERAL_FIELD@864..879
              Ident@864..870 "second"
              Colon@870..871 ":"
              Whitespace@871..872 " "
              EXPR_IDENT@872..879
                PATH@872..879
                  Ident@872..879 "wrapped"
            Comma@879..880 ","
            Whitespace@880..885 "\n    "
            RBrace@885..886 "}"
        Semi@886..887 ";"
        Whitespace@887..892 "\n    "
      STMT_EXPR@892..923
        EXPR_CALL@892..917
          EXPR_IDENT@892..899
            PATH@892..899
              Ident@892..899 "println"
          ARG_LIST@899..917
            LParen@899..900 "("
            ARG@900..916
              EXPR_CALL@900..916
                EXPR_BINARY@900..914
                  EXPR_IDENT@900..904
                    PATH@900..904
                      Ident@900..904 "left"
                  Dot@904..905 "."
                  EXPR_IDENT@905..914
                    PATH@905..914
                      Ident@905..914 "to_string"
                ARG_LIST@914..916
                  LParen@914..915 "("
                  RParen@915..916 ")"
            RParen@916..917 ")"
        Semi@917..918 ";"
        Whitespace@918..923 "\n    "
      STMT_EXPR@923..951
        EXPR_CALL@923..945
          EXPR_IDENT@923..930
            PATH@923..930
              Ident@923..930 "println"
          ARG_LIST@930..945
            LParen@930..931 "("
            ARG@931..944
              EXPR_BINARY@931..944
                EXPR_IDENT@931..936
                  PATH@931..936
                    Ident@931..935 "left"
                    Whitespace@935..936 " "
                EqEq@936..938 "=="
                Whitespace@938..939 " "
                EXPR_IDENT@939..944
                  PATH@939..944
                    Ident@939..944 "right"
            RParen@944..945 ")"
        Semi@945..946 ";"
        Whitespace@946..951 "\n    "
      STMT_EXPR@951..994
        EXPR_CALL@951..987
          EXPR_IDENT@951..958
            PATH@951..958
              Ident@951..958 "println"
          ARG_LIST@958..987
            LParen@958..959 "("
            ARG@959..986
              EXPR_BINARY@959..986
                EXPR_CALL@959..971
                  EXPR_BINARY@959..968
                    EXPR_IDENT@959..963
                      PATH@959..963
                        Ident@959..963 "left"
                    Dot@963..964 "."
                    EXPR_IDENT@964..968
                      PATH@964..968
                        Ident@964..968 "hash"
                  ARG_LIST@968..971
                    LParen@968..969 "("
                    RParen@969..970 ")"
                    Whitespace@970..971 " "
                EqEq@971..973 "=="
                Whitespace@973..974 " "
                EXPR_CALL@974..986
                  EXPR_BINARY@974..984
                    EXPR_IDENT@974..979
                      PATH@974..979
                        Ident@974..979 "right"
                    Dot@979..980 "."
                    EXPR_IDENT@980..984
                      PATH@980..984
                        Ident@980..984 "hash"
                  ARG_LIST@984..986
                    LParen@984..985 "("
                    RParen@985..986 ")"
            RParen@986..987 ")"
        Semi@987..988 ";"
        Whitespace@988..994 "\n\n    "
      STMT_LET@994..1067
        LetKeyword@994..997 "let"
        Whitespace@997..998 " "
        PATTERN_VARIABLE@998..1003
          Ident@998..1003 "empty"
        Colon@1003..1004 ":"
        Whitespace@1004..1005 " "
        TYPE_TAPP@1005..1039
          PATH@1005..1018
            Ident@1005..1018 "GenericChoice"
          TYPE_PARAM_LIST@1018..1039
            LBracket@1018..1019 "["
            TYPE_TAPP@1019..1027
              PATH@1019..1027
                Ident@1019..1027 "NoTraits"
            Comma@1027..1028 ","
            Whitespace@1028..1029 " "
            TYPE_TAPP@1029..1037
              PATH@1029..1037
                Ident@1029..1037 "NoTraits"
            RBracket@1037..1038 "]"
            Whitespace@1038..1039 " "
        Eq@1039..1040 "="
        Whitespace@1040..1041 " "
        EXPR_IDENT@1041..1061
          PATH@1041..1061
            Ident@1041..1054 "GenericChoice"
            ColonColon@1054..1056 "::"
            Ident@1056..1061 "Empty"
        Semi@1061..1062 ";"
        Whitespace@1062..1067 "\n    "
      STMT_LET@1067..1149
        LetKeyword@1067..1070 "let"
        Whitespace@1070..1071 " "
        PATTERN_VARIABLE@1071..1076
          Ident@1071..1076 "value"
        Colon@1076..1077 ":"
        Whitespace@1077..1078 " "
        TYPE_TAPP@1078..1112
          PATH@1078..1091
            Ident@1078..1091 "GenericChoice"
          TYPE_PARAM_LIST@1091..1112
            LBracket@1091..1092 "["
            TYPE_TAPP@1092..1100
              PATH@1092..1100
                Ident@1092..1100 "NoTraits"
            Comma@1100..1101 ","
            Whitespace@1101..1102 " "
            TYPE_TAPP@1102..1110
              PATH@1102..1110
                Ident@1102..1110 "NoTraits"
            RBracket@1110..1111 "]"
            Whitespace@1111..1112 " "
        Eq@1112..1113 "="
        Whitespace@1113..1114 " "
        EXPR_CALL@1114..1143
          EXPR_IDENT@1114..1134
            PATH@1114..1134
              Ident@1114..1127 "GenericChoice"
              ColonColon@1127..1129 "::"
              Ident@1129..1134 "Value"
          ARG_LIST@1134..1143
            LParen@1134..1135 "("
            ARG@1135..1142
              EXPR_IDENT@1135..1142
                PATH@1135..1142
                  Ident@1135..1142 "wrapped"
            RParen@1142..1143 ")"
        Semi@1143..1144 ";"
        Whitespace@1144..1149 "\n    "
      STMT_EXPR@1149..1181
        EXPR_CALL@1149..1175
          EXPR_IDENT@1149..1156
            PATH@1149..1156
              Ident@1149..1156 "println"
          ARG_LIST@1156..1175
            LParen@1156..1157 "("
            ARG@1157..1174
              EXPR_CALL@1157..1174
                EXPR_BINARY@1157..1172
                  EXPR_IDENT@1157..1162
                    PATH@1157..1162
                      Ident@1157..1162 "empty"
                  Dot@1162..1163 "."
                  EXPR_IDENT@1163..1172
                    PATH@1163..1172
                      Ident@1163..1172 "to_string"
                ARG_LIST@1172..1174
                  LParen@1172..1173 "("
                  RParen@1173..1174 ")"
            RParen@1174..1175 ")"
        Semi@1175..1176 ";"
        Whitespace@1176..1181 "\n    "
      STMT_EXPR@1181..1213
        EXPR_CALL@1181..1207
          EXPR_IDENT@1181..1188
            PATH@1181..1188
              Ident@1181..1188 "println"
          ARG_LIST@1188..1207
            LParen@1188..1189 "("
            ARG@1189..1206
              EXPR_CALL@1189..1206
                EXPR_BINARY@1189..1204
                  EXPR_IDENT@1189..1194
                    PATH@1189..1194
                      Ident@1189..1194 "value"
                  Dot@1194..1195 "."
                  EXPR_IDENT@1195..1204
                    PATH@1195..1204
                      Ident@1195..1204 "to_string"
                ARG_LIST@1204..1206
                  LParen@1204..1205 "("
                  RParen@1205..1206 ")"
            RParen@1206..1207 ")"
        Semi@1207..1208 ";"
        Whitespace@1208..1213 "\n    "
      STMT_EXPR@1213..1242
        EXPR_CALL@1213..1236
          EXPR_IDENT@1213..1220
            PATH@1213..1220
              Ident@1213..1220 "println"
          ARG_LIST@1220..1236
            LParen@1220..1221 "("
            ARG@1221..1235
              EXPR_BINARY@1221..1235
                EXPR_IDENT@1221..1227
                  PATH@1221..1227
                    Ident@1221..1226 "empty"
                    Whitespace@1226..1227 " "
                NotEq@1227..1229 "!="
                Whitespace@1229..1230 " "
                EXPR_IDENT@1230..1235
                  PATH@1230..1235
                    Ident@1230..1235 "value"
            RParen@1235..1236 ")"
        Semi@1236..1237 ";"
        Whitespace@1237..1242 "\n    "
      EXPR_CALL@1242..1280
        EXPR_IDENT@1242..1249
          PATH@1242..1249
            Ident@1242..1249 "println"
        ARG_LIST@1249..1280
          LParen@1249..1250 "("
          ARG@1250..1278
            EXPR_BINARY@1250..1278
              EXPR_CALL@1250..1263
                EXPR_BINARY@1250..1260
                  EXPR_IDENT@1250..1255
                    PATH@1250..1255
                      Ident@1250..1255 "value"
                  Dot@1255..1256 "."
                  EXPR_IDENT@1256..1260
                    PATH@1256..1260
                      Ident@1256..1260 "hash"
                ARG_LIST@1260..1263
                  LParen@1260..1261 "("
                  RParen@1261..1262 ")"
                  Whitespace@1262..1263 " "
              EqEq@1263..1265 "=="
              Whitespace@1265..1266 " "
              EXPR_CALL@1266..1278
                EXPR_BINARY@1266..1276
                  EXPR_IDENT@1266..1271
                    PATH@1266..1271
                      Ident@1266..1271 "value"
                  Dot@1271..1272 "."
                  EXPR_IDENT@1272..1276
                    PATH@1272..1276
                      Ident@1272..1276 "hash"
                ARG_LIST@1276..1278
                  LParen@1276..1277 "("
                  RParen@1277..1278 ")"
          RParen@1278..1279 ")"
          Whitespace@1279..1280 "\n"
      RBrace@1280..1281 "}"
      Whitespace@1281..1282 "\n"