FILE@0..1295
  STRUCT@0..39
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..15 "NoTraits"
    Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    STRUCT_FIELD_LIST@22..39
      STRUCT_FIELD@22..34
        Ident@22..27 "value"
        Colon@27..28 ":"
        Whitespace@28..29 " "
        TYPE_INT@29..34
          IsizeKeyword@29..34 "isize"
      Comma@34..35 ","
      Whitespace@35..36 "\n"
      RBrace@36..37 "}"
      Whitespace@37..39 "\n\n"
  STRUCT@39..76
    StructKeyword@39..45 "struct"
    Whitespace@45..46 " "
    Ident@46..53 "Wrapper"
    GENERIC_LIST@53..57
      LBracket@53..54 "["
      GENERIC@54..55
        Ident@54..55 "T"
      RBracket@55..56 "]"
      Whitespace@56..57 " "
    LBrace@57..58 "{"
    Whitespace@58..63 "\n    "
    STRUCT_FIELD_LIST@63..76
      STRUCT_FIELD@63..71
        Ident@63..68 "value"
        Colon@68..69 ":"
        Whitespace@69..70 " "
        TYPE_TAPP@70..71
          PATH@70..71
            Ident@70..71 "T"
      Comma@71..72 ","
      Whitespace@72..73 "\n"
      RBrace@73..74 "}"
      Whitespace@74..76 "\n\n"
  IMPL@76..184
    ImplKeyword@76..80 "impl"
    GENERIC_LIST@80..84
      LBracket@80..81 "["
      GENERIC@81..82
        Ident@81..82 "T"
      RBracket@82..83 "]"
      Whitespace@83..84 " "
    TYPE_TAPP@84..93
      PATH@84..93
        Ident@84..92 "ToString"
        Whitespace@92..93 " "
    ForKeyword@93..96 "for"
    Whitespace@96..97 " "
    TYPE_TAPP@97..108
      PATH@97..104
        Ident@97..104 "Wrapper"
      TYPE_PARAM_LIST@104..108
        LBracket@104..105 "["
        TYPE_TAPP@105..106
          PATH@105..106
            Ident@105..106 "T"
        RBracket@106..107 "]"
        Whitespace@107..108 " "
    LBrace@108..109 "{"
    Whitespace@109..114 "\n    "
    FN@114..181
      FnKeyword@114..116 "fn"
      Whitespace@116..117 " "
      Ident@117..126 "to_string"
      PARAM_LIST@126..145
        LParen@126..127 "("
        PARAM@127..143
          Ident@127..131 "self"
          Colon@131..132 ":"
          Whitespace@132..133 " "
          TYPE_TAPP@133..143
            PATH@133..140
              Ident@133..140 "Wrapper"
            TYPE_PARAM_LIST@140..143
              LBracket@140..141 "["
              TYPE_TAPP@141..142
                PATH@141..142
                  Ident@141..142 "T"
              RBracket@142..143 "]"
        RParen@143..144 ")"
        Whitespace@144..145 " "
      Arrow@145..147 "->"
      Whitespace@147..148 " "
      TYPE_STRING@148..155
        StringKeyword@148..154 "string"
        Whitespace@154..155 " "
      BLOCK@155..181
        LBrace@155..156 "{"
        Whitespace@156..165 "\n        "
        EXPR_STR@165..179
          Str@165..174 "\"wrapped\""
          Whitespace@174..179 "\n    "
        RBrace@179..180 "}"
        Whitespace@180..181 "\n"
    RBrace@181..182 "}"
    Whitespace@182..184 "\n\n"
  IMPL@184..298
    ImplKeyword@184..188 "impl"
    GENERIC_LIST@188..192
      LBracket@188..189 "["
      GENERIC@189..190
        Ident@189..190 "T"
      RBracket@190..191 "]"
      Whitespace@191..192 " "
    TYPE_TAPP@192..202
      PATH@192..202
        Ident@192..201 "PartialEq"
        Whitespace@201..202 " "
    ForKeyword@202..205 "for"
    Whitespace@205..206 " "
    TYPE_TAPP@206..217
      PATH@206..213
        Ident@206..213 "Wrapper"
      TYPE_PARAM_LIST@213..217
        LBracket@213..214 "["
        TYPE_TAPP@214..215
          PATH@214..215
            Ident@214..215 "T"
        RBracket@215..216 "]"
        Whitespace@216..217 " "
    LBrace@217..218 "{"
    Whitespace@218..223 "\n    "
    FN@223..295
      FnKeyword@223..225 "fn"
      Whitespace@225..226 " "
      Ident@226..228 "eq"
      PARAM_LIST@228..266
        LParen@228..229 "("
        PARAM@229..247
          Ident@229..233 "self"
          Colon@233..234 ":"
          Whitespace@234..235 " "
          TYPE_TAPP@235..245
            PATH@235..242
              Ident@235..242 "Wrapper"
            TYPE_PARAM_LIST@242..245
              LBracket@242..243 "["
              TYPE_TAPP@243..244
                PATH@243..244
                  Ident@243..244 "T"
              RBracket@244..245 "]"
          Comma@245..246 ","
          Whitespace@246..247 " "
        PARAM@247..264
          Ident@247..252 "other"
          Colon@252..253 ":"
          Whitespace@253..254 " "
          TYPE_TAPP@254..264
            PATH@254..261
              Ident@254..261 "Wrapper"
            TYPE_PARAM_LIST@261..264
              LBracket@261..262 "["
              TYPE_TAPP@262..263
                PATH@262..263
                  Ident@262..263 "T"
              RBracket@263..264 "]"
        RParen@264..265 ")"
        Whitespace@265..266 " "
      Arrow@266..268 "->"
      Whitespace@268..269 " "
      TYPE_BOOL@269..274
        BoolKeyword@269..273 "bool"
        Whitespace@273..274 " "
      BLOCK@274..295
        LBrace@274..275 "{"
        Whitespace@275..284 "\n        "
        EXPR_BOOL@284..293
          TrueKeyword@284..288 "true"
          Whitespace@288..293 "\n    "
        RBrace@293..294 "}"
        Whitespace@294..295 "\n"
    RBrace@295..296 "}"
    Whitespace@296..298 "\n\n"
  IMPL@298..328
    ImplKeyword@298..302 "impl"
    GENERIC_LIST@302..306
      LBracket@302..303 "["
      GENERIC@303..304
        Ident@303..304 "T"
      RBracket@304..305 "]"
      Whitespace@305..306 " "
    TYPE_TAPP@306..309
      PATH@306..309
        Ident@306..308 "Eq"
        Whitespace@308..309 " "
    ForKeyword@309..312 "for"
    Whitespace@312..313 " "
    TYPE_TAPP@313..324
      PATH@313..320
        Ident@313..320 "Wrapper"
      TYPE_PARAM_LIST@320..324
        LBracket@320..321 "["
        TYPE_TAPP@321..322
          PATH@321..322
            Ident@321..322 "T"
        RBracket@322..323 "]"
        Whitespace@323..324 " "
    LBrace@324..325 "{"
    RBrace@325..326 "}"
    Whitespace@326..328 "\n\n"
  IMPL@328..416
    ImplKeyword@328..332 "impl"
    GENERIC_LIST@332..336
      LBracket@332..333 "["
      GENERIC@333..334
        Ident@333..334 "T"
      RBracket@334..335 "]"
      Whitespace@335..336 " "
    TYPE_TAPP@336..341
      PATH@336..341
        Ident@336..340 "Hash"
        Whitespace@340..341 " "
    ForKeyword@341..344 "for"
    Whitespace@344..345 " "
    TYPE_TAPP@345..356
      PATH@345..352
        Ident@345..352 "Wrapper"
      TYPE_PARAM_LIST@352..356
        LBracket@352..353 "["
        TYPE_TAPP@353..354
          PATH@353..354
            Ident@353..354 "T"
        RBracket@354..355 "]"
        Whitespace@355..356 " "
    LBrace@356..357 "{"
    Whitespace@357..362 "\n    "
    FN@362..413
      FnKeyword@362..364 "fn"
      Whitespace@364..365 " "
      Ident@365..369 "hash"
      PARAM_LIST@369..388
        LParen@369..370 "("
        PARAM@370..386
          Ident@370..374 "self"
          Colon@374..375 ":"
          Whitespace@375..376 " "
          TYPE_TAPP@376..386
            PATH@376..383
              Ident@376..383 "Wrapper"
            TYPE_PARAM_LIST@383..386
              LBracket@383..384 "["
              TYPE_TAPP@384..385
                PATH@384..385
                  Ident@384..385 "T"
              RBracket@385..386 "]"
        RParen@386..387 ")"
        Whitespace@387..388 " "
      Arrow@388..390 "->"
      Whitespace@390..391 " "
      TYPE_UINT64@391..395
        U64Keyword@391..394 "u64"
        Whitespace@394..395 " "
      BLOCK@395..413
        LBrace@395..396 "{"
        Whitespace@396..405 "\n        "
        EXPR_INT@405..411
          Int@405..406 "7"
          Whitespace@406..411 "\n    "
        RBrace@411..412 "}"
        Whitespace@412..413 "\n"
    RBrace@413..414 "}"
    Whitespace@414..416 "\n\n"
  STRUCT@416..535
    ATTRIBUTE_LIST@416..457
      ATTRIBUTE@416..457
        Pound@416..417 "#"
        LBracket@417..418 "["
        Ident@418..424 "derive"
        LParen@424..425 "("
        Ident@425..433 "ToString"
        Comma@433..434 ","
        Whitespace@434..435 " "
        Ident@435..444 "PartialEq"
        Comma@444..445 ","
        Whitespace@445..446 " "
        Ident@446..448 "Eq"
        Comma@448..449 ","
        Whitespace@449..450 " "
        Ident@450..454 "Hash"
        RParen@454..455 ")"
        RBracket@455..456 "]"
        Whitespace@456..457 "\n"
    StructKeyword@457..463 "struct"
    Whitespace@463..464 " "
    Ident@464..471 "Generic"
    GENERIC_LIST@471..483
      LBracket@471..472 "["
      GENERIC@472..473
        Ident@472..473 "T"
      Comma@473..474 ","
      Whitespace@474..475 " "
      GENERIC@475..481
        Ident@475..481 "Marker"
      RBracket@481..482 "]"
      Whitespace@482..483 " "
    LBrace@483..484 "{"
    Whitespace@484..489 "\n    "
    STRUCT_FIELD_LIST@489..535
      STRUCT_FIELD@489..506
        Ident@489..494 "first"
        Colon@494..495 ":"
        Whitespace@495..496 " "
        TYPE_TAPP@496..506
          PATH@496..503
            Ident@496..503 "Wrapper"
          TYPE_PARAM_LIST@503..506
            LBracket@503..504 "["
            TYPE_TAPP@504..505
              PATH@504..505
                Ident@504..505 "T"
            RBracket@505..506 "]"
      Comma@506..507 ","
      Whitespace@507..512 "\n    "
      STRUCT_FIELD@512..530
        Ident@512..518 "second"
        Colon@518..519 ":"
        Whitespace@519..520 " "
        TYPE_TAPP@520..530
          PATH@520..527
            Ident@520..527 "Wrapper"
          TYPE_PARAM_LIST@527..530
            LBracket@527..528 "["
            TYPE_TAPP@528..529
              PATH@528..529
                Ident@528..529 "T"
            RBracket@529..530 "]"
      Comma@530..531 ","
      Whitespace@531..532 "\n"
      RBrace@532..533 "}"
      Whitespace@533..535 "\n\n"
  ENUM@535..645
    ATTRIBUTE_LIST@535..576
      ATTRIBUTE@535..576
        Pound@535..536 "#"
        LBracket@536..537 "["
        Ident@537..543 "derive"
        LParen@543..544 "("
        Ident@544..552 "ToString"
        Comma@552..553 ","
        Whitespace@553..554 " "
        Ident@554..563 "PartialEq"
        Comma@563..564 ","
        Whitespace@564..565 " "
        Ident@565..567 "Eq"
        Comma@567..568 ","
        Whitespace@568..569 " "
        Ident@569..573 "Hash"
        RParen@573..574 ")"
        RBracket@574..575 "]"
        Whitespace@575..576 "\n"
    EnumKeyword@576..580 "enum"
    Whitespace@580..581 " "
    Ident@581..594 "GenericChoice"
    GENERIC_LIST@594..606
      LBracket@594..595 "["
      GENERIC@595..596
        Ident@595..596 "T"
      Comma@596..597 ","
      Whitespace@597..598 " "
      GENERIC@598..604
        Ident@598..604 "Marker"
      RBracket@604..605 "]"
      Whitespace@605..606 " "
    LBrace@606..607 "{"
    Whitespace@607..612 "\n    "
    VARIANT_LIST@612..645
      VARIANT@612..617
        Ident@612..617 "Empty"
      Comma@617..618 ","
      Whitespace@618..623 "\n    "
      VARIANT@623..640
        Ident@623..628 "Value"
        TYPE_LIST@628..640
          LParen@628..629 "("
          ENUM_TUPLE_FIELD@629..639
            TYPE_TAPP@629..639
              PATH@629..636
                Ident@629..636 "Wrapper"
              TYPE_PARAM_LIST@636..639
                LBracket@636..637 "["
                TYPE_TAPP@637..638
                  PATH@637..638
                    Ident@637..638 "T"
                RBracket@638..639 "]"
          RParen@639..640 ")"
      Comma@640..641 ","
      Whitespace@641..642 "\n"
      RBrace@642..643 "}"
      Whitespace@643..645 "\n\n"
  FN@645..1295
    FnKeyword@645..647 "fn"
    Whitespace@647..648 " "
    Ident@648..652 "main"
    PARAM_LIST@652..655
      LParen@652..653 "("
      RParen@653..654 ")"
      Whitespace@654..655 " "
    Arrow@655..657 "->"
    Whitespace@657..658 " "
    TYPE_TUPLE@658..661
      TYPE_LIST@658..661
        LParen@658..659 "("
        RParen@659..660 ")"
        Whitespace@660..661 " "
    BLOCK@661..1295
      LBrace@661..662 "{"
      Whitespace@662..667 "\n    "
      STMT_LET@667..727
        LetKeyword@667..670 "let"
        Whitespace@670..671 " "
        PATTERN_VARIABLE@671..679
          Ident@671..678 "wrapped"
          Whitespace@678..679 " "
        Eq@679..680 "="
        Whitespace@680..681 " "
        EXPR_STRUCT_LITERAL@681..721
          PATH@681..689
            Ident@681..688 "Wrapper"
            Whitespace@688..689 " "
          STRUCT_LITERAL_FIELD_LIST@689..721
            LBrace@689..690 "{"
            Whitespace@690..691 " "
            STRUCT_LITERAL_FIELD@691..720
              Ident@691..696 "value"
              Colon@696..697 ":"
              Whitespace@697..698 " "
              EXPR_STRUCT_LITERAL@698..720
                PATH@698..707
                  Ident@698..706 "NoTraits"
                  Whitespace@706..707 " "
                STRUCT_LITERAL_FIELD_LIST@707..720
                  LBrace@707..708 "{"
                  Whitespace@708..709 " "
                  STRUCT_LITERAL_FIELD@709..718
                    Ident@709..714 "value"
                    Colon@714..715 ":"
                    Whitespace@715..716 " "
                    EXPR_INT@716..718
                      Int@716..717 "1"
                      Whitespace@717..718 " "
                  RBrace@718..719 "}"
                  Whitespace@719..720 " "
            RBrace@720..721 "}"
        Semi@721..722 ";"
        Whitespace@722..727 "\n    "
      STMT_LET@727..816
        LetKeyword@727..730 "let"
        Whitespace@730..731 " "
        PATTERN_VARIABLE@731..735
          Ident@731..735 "left"
        Colon@735..736 ":"
        Whitespace@736..737 " "
        TYPE_TAPP@737..765
          PATH@737..744
            Ident@737..744 "Generic"
          TYPE_PARAM_LIST@744..765
            LBracket@744..745 "["
            TYPE_TAPP@745..753
              PATH@745..753
                Ident@745..753 "NoTraits"
            Comma@753..754 ","
            Whitespace@754..755 " "
            TYPE_TAPP@755..763
              PATH@755..763
                Ident@755..763 "NoTraits"
            RBracket@763..764 "]"
            Whitespace@764..765 " "
        Eq@765..766 "="
        Whitespace@766..767 " "
        EXPR_STRUCT_LITERAL@767..810
          PATH@767..775
            Ident@767..774 "Generic"
            Whitespace@774..775 " "
          STRUCT_LITERAL_FIELD_LIST@775..810
            LBrace@775..776 "{"
            Whitespace@776..777 " "
            STRUCT_LITERAL_FIELD@777..791
              Ident@777..782 "first"
              Colon@782..783 ":"
              Whitespace@783..784 " "
              EXPR_IDENT@784..791
                PATH@784..791
                  Ident@784..791 "wrapped"
            Comma@791..792 ","
            Whitespace@792..793 " "
            STRUCT_LITERAL_FIELD@793..809
              Ident@793..799 "second"
              Colon@799..800 ":"
              Whitespace@800..801 " "
              EXPR_IDENT@801..809
                PATH@801..809
                  Ident@801..808 "wrapped"
                  Whitespace@808..809 " "
            RBrace@809..810 "}"
        Semi@810..811 ";"
        Whitespace@811..816 "\n    "
      STMT_LET@816..906
        LetKeyword@816..819 "let"
        Whitespace@819..820 " "
        PATTERN_VARIABLE@820..825
          Ident@820..825 "right"
        Colon@825..826 ":"
        Whitespace@826..827 " "
        TYPE_TAPP@827..855
          PATH@827..834
            Ident@827..834 "Generic"
          TYPE_PARAM_LIST@834..855
            LBracket@834..835 "["
            TYPE_TAPP@835..843
              PATH@835..843
                Ident@835..843 "NoTraits"
            Comma@843..844 ","
            Whitespace@844..845 " "
            TYPE_TAPP@845..853
              PATH@845..853
                Ident@845..853 "NoTraits"
            RBracket@853..854 "]"
            Whitespace@854..855 " "
        Eq@855..856 "="
        Whitespace@856..857 " "
        EXPR_STRUCT_LITERAL@857..900
          PATH@857..865
            Ident@857..864 "Generic"
            Whitespace@864..865 " "
          STRUCT_LITERAL_FIELD_LIST@865..900
            LBrace@865..866 "{"
            Whitespace@866..867 " "
            STRUCT_LITERAL_FIELD@867..881
              Ident@867..872 "first"
              Colon@872..873 ":"
              Whitespace@873..874 " "
              EXPR_IDENT@874..881
                PATH@874..881
                  Ident@874..881 "wrapped"
            Comma@881..882 ","
            Whitespace@882..883 " "
            STRUCT_LITERAL_FIELD@883..899
              Ident@883..889 "second"
              Colon@889..890 ":"
              Whitespace@890..891 " "
              EXPR_IDENT@891..899
                PATH@891..899
                  Ident@891..898 "wrapped"
                  Whitespace@898..899 " "
            RBrace@899..900 "}"
        Semi@900..901 ";"
        Whitespace@901..906 "\n    "
      STMT_EXPR@906..937
        EXPR_CALL@906..931
          EXPR_IDENT@906..913
            PATH@906..913
              Ident@906..913 "println"
          ARG_LIST@913..931
            LParen@913..914 "("
            ARG@914..930
              EXPR_CALL@914..930
                EXPR_BINARY@914..928
                  EXPR_IDENT@914..918
                    PATH@914..918
                      Ident@914..918 "left"
                  Dot@918..919 "."
                  EXPR_IDENT@919..928
                    PATH@919..928
                      Ident@919..928 "to_string"
                ARG_LIST@928..930
                  LParen@928..929 "("
                  RParen@929..930 ")"
            RParen@930..931 ")"
        Semi@931..932 ";"
        Whitespace@932..937 "\n    "
      STMT_EXPR@937..965
        EXPR_CALL@937..959
          EXPR_IDENT@937..944
            PATH@937..944
              Ident@937..944 "println"
          ARG_LIST@944..959
            LParen@944..945 "("
            ARG@945..958
              EXPR_BINARY@945..958
                EXPR_IDENT@945..950
                  PATH@945..950
                    Ident@945..949 "left"
                    Whitespace@949..950 " "
                EqEq@950..952 "=="
                Whitespace@952..953 " "
                EXPR_IDENT@953..958
                  PATH@953..958
                    Ident@953..958 "right"
            RParen@958..959 ")"
        Semi@959..960 ";"
        Whitespace@960..965 "\n    "
      STMT_EXPR@965..1007
        EXPR_CALL@965..1001
          EXPR_IDENT@965..972
            PATH@965..972
              Ident@965..972 "println"
          ARG_LIST@972..1001
            LParen@972..973 "("
            ARG@973..1000
              EXPR_BINARY@973..1000
                EXPR_CALL@973..985
                  EXPR_BINARY@973..982
                    EXPR_IDENT@973..977
                      PATH@973..977
                        Ident@973..977 "left"
                    Dot@977..978 "."
                    EXPR_IDENT@978..982
                      PATH@978..982
                        Ident@978..982 "hash"
                  ARG_LIST@982..985
                    LParen@982..983 "("
                    RParen@983..984 ")"
                    Whitespace@984..985 " "
                EqEq@985..987 "=="
                Whitespace@987..988 " "
                EXPR_CALL@988..1000
                  EXPR_BINARY@988..998
                    EXPR_IDENT@988..993
                      PATH@988..993
                        Ident@988..993 "right"
                    Dot@993..994 "."
                    EXPR_IDENT@994..998
                      PATH@994..998
                        Ident@994..998 "hash"
                  ARG_LIST@998..1000
                    LParen@998..999 "("
                    RParen@999..1000 ")"
            RParen@1000..1001 ")"
        Semi@1001..1002 ";"
        Whitespace@1002..1007 "\n    "
      STMT_LET@1007..1080
        LetKeyword@1007..1010 "let"
        Whitespace@1010..1011 " "
        PATTERN_VARIABLE@1011..1016
          Ident@1011..1016 "empty"
        Colon@1016..1017 ":"
        Whitespace@1017..1018 " "
        TYPE_TAPP@1018..1052
          PATH@1018..1031
            Ident@1018..1031 "GenericChoice"
          TYPE_PARAM_LIST@1031..1052
            LBracket@1031..1032 "["
            TYPE_TAPP@1032..1040
              PATH@1032..1040
                Ident@1032..1040 "NoTraits"
            Comma@1040..1041 ","
            Whitespace@1041..1042 " "
            TYPE_TAPP@1042..1050
              PATH@1042..1050
                Ident@1042..1050 "NoTraits"
            RBracket@1050..1051 "]"
            Whitespace@1051..1052 " "
        Eq@1052..1053 "="
        Whitespace@1053..1054 " "
        EXPR_IDENT@1054..1074
          PATH@1054..1074
            Ident@1054..1067 "GenericChoice"
            ColonColon@1067..1069 "::"
            Ident@1069..1074 "Empty"
        Semi@1074..1075 ";"
        Whitespace@1075..1080 "\n    "
      STMT_LET@1080..1162
        LetKeyword@1080..1083 "let"
        Whitespace@1083..1084 " "
        PATTERN_VARIABLE@1084..1089
          Ident@1084..1089 "value"
        Colon@1089..1090 ":"
        Whitespace@1090..1091 " "
        TYPE_TAPP@1091..1125
          PATH@1091..1104
            Ident@1091..1104 "GenericChoice"
          TYPE_PARAM_LIST@1104..1125
            LBracket@1104..1105 "["
            TYPE_TAPP@1105..1113
              PATH@1105..1113
                Ident@1105..1113 "NoTraits"
            Comma@1113..1114 ","
            Whitespace@1114..1115 " "
            TYPE_TAPP@1115..1123
              PATH@1115..1123
                Ident@1115..1123 "NoTraits"
            RBracket@1123..1124 "]"
            Whitespace@1124..1125 " "
        Eq@1125..1126 "="
        Whitespace@1126..1127 " "
        EXPR_CALL@1127..1156
          EXPR_IDENT@1127..1147
            PATH@1127..1147
              Ident@1127..1140 "GenericChoice"
              ColonColon@1140..1142 "::"
              Ident@1142..1147 "Value"
          ARG_LIST@1147..1156
            LParen@1147..1148 "("
            ARG@1148..1155
              EXPR_IDENT@1148..1155
                PATH@1148..1155
                  Ident@1148..1155 "wrapped"
            RParen@1155..1156 ")"
        Semi@1156..1157 ";"
        Whitespace@1157..1162 "\n    "
      STMT_EXPR@1162..1194
        EXPR_CALL@1162..1188
          EXPR_IDENT@1162..1169
            PATH@1162..1169
              Ident@1162..1169 "println"
          ARG_LIST@1169..1188
            LParen@1169..1170 "("
            ARG@1170..1187
              EXPR_CALL@1170..1187
                EXPR_BINARY@1170..1185
                  EXPR_IDENT@1170..1175
                    PATH@1170..1175
                      Ident@1170..1175 "empty"
                  Dot@1175..1176 "."
                  EXPR_IDENT@1176..1185
                    PATH@1176..1185
                      Ident@1176..1185 "to_string"
                ARG_LIST@1185..1187
                  LParen@1185..1186 "("
                  RParen@1186..1187 ")"
            RParen@1187..1188 ")"
        Semi@1188..1189 ";"
        Whitespace@1189..1194 "\n    "
      STMT_EXPR@1194..1226
        EXPR_CALL@1194..1220
          EXPR_IDENT@1194..1201
            PATH@1194..1201
              Ident@1194..1201 "println"
          ARG_LIST@1201..1220
            LParen@1201..1202 "("
            ARG@1202..1219
              EXPR_CALL@1202..1219
                EXPR_BINARY@1202..1217
                  EXPR_IDENT@1202..1207
                    PATH@1202..1207
                      Ident@1202..1207 "value"
                  Dot@1207..1208 "."
                  EXPR_IDENT@1208..1217
                    PATH@1208..1217
                      Ident@1208..1217 "to_string"
                ARG_LIST@1217..1219
                  LParen@1217..1218 "("
                  RParen@1218..1219 ")"
            RParen@1219..1220 ")"
        Semi@1220..1221 ";"
        Whitespace@1221..1226 "\n    "
      STMT_EXPR@1226..1255
        EXPR_CALL@1226..1249
          EXPR_IDENT@1226..1233
            PATH@1226..1233
              Ident@1226..1233 "println"
          ARG_LIST@1233..1249
            LParen@1233..1234 "("
            ARG@1234..1248
              EXPR_BINARY@1234..1248
                EXPR_IDENT@1234..1240
                  PATH@1234..1240
                    Ident@1234..1239 "empty"
                    Whitespace@1239..1240 " "
                NotEq@1240..1242 "!="
                Whitespace@1242..1243 " "
                EXPR_IDENT@1243..1248
                  PATH@1243..1248
                    Ident@1243..1248 "value"
            RParen@1248..1249 ")"
        Semi@1249..1250 ";"
        Whitespace@1250..1255 "\n    "
      EXPR_CALL@1255..1293
        EXPR_IDENT@1255..1262
          PATH@1255..1262
            Ident@1255..1262 "println"
        ARG_LIST@1262..1293
          LParen@1262..1263 "("
          ARG@1263..1291
            EXPR_BINARY@1263..1291
              EXPR_CALL@1263..1276
                EXPR_BINARY@1263..1273
                  EXPR_IDENT@1263..1268
                    PATH@1263..1268
                      Ident@1263..1268 "value"
                  Dot@1268..1269 "."
                  EXPR_IDENT@1269..1273
                    PATH@1269..1273
                      Ident@1269..1273 "hash"
                ARG_LIST@1273..1276
                  LParen@1273..1274 "("
                  RParen@1274..1275 ")"
                  Whitespace@1275..1276 " "
              EqEq@1276..1278 "=="
              Whitespace@1278..1279 " "
              EXPR_CALL@1279..1291
                EXPR_BINARY@1279..1289
                  EXPR_IDENT@1279..1284
                    PATH@1279..1284
                      Ident@1279..1284 "value"
                  Dot@1284..1285 "."
                  EXPR_IDENT@1285..1289
                    PATH@1285..1289
                      Ident@1285..1289 "hash"
                ARG_LIST@1289..1291
                  LParen@1289..1290 "("
                  RParen@1290..1291 ")"
          RParen@1291..1292 ")"
          Whitespace@1292..1293 "\n"
      RBrace@1293..1294 "}"
      Whitespace@1294..1295 "\n"