FILE@0..2787
  STRUCT@0..46
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..46
      STRUCT_FIELD@19..27
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..33 "\n    "
      STRUCT_FIELD@33..41
        Ident@33..34 "y"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..41
          Int32Keyword@36..41 "int32"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  STRUCT@46..83
    StructKeyword@46..52 "struct"
    Whitespace@52..53 " "
    Ident@53..60 "Wrapper"
    GENERIC_LIST@60..64
      LBracket@60..61 "["
      GENERIC@61..62
        Ident@61..62 "T"
      RBracket@62..63 "]"
      Whitespace@63..64 " "
    LBrace@64..65 "{"
    Whitespace@65..70 "\n    "
    STRUCT_FIELD_LIST@70..83
      STRUCT_FIELD@70..78
        Ident@70..75 "value"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TYPE_TAPP@77..78
          PATH@77..78
            Ident@77..78 "T"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  ENUM@83..155
    EnumKeyword@83..87 "enum"
    Whitespace@87..88 " "
    Ident@88..93 "Shape"
    GENERIC_LIST@93..97
      LBracket@93..94 "["
      GENERIC@94..95
        Ident@94..95 "T"
      RBracket@95..96 "]"
      Whitespace@96..97 " "
    LBrace@97..98 "{"
    Whitespace@98..103 "\n    "
    VARIANT_LIST@103..155
      VARIANT@103..113
        Ident@103..106 "Dot"
        TYPE_LIST@106..113
          LParen@106..107 "("
          TYPE_TAPP@107..112
            PATH@107..112
              Ident@107..112 "Point"
          RParen@112..113 ")"
      Comma@113..114 ","
      Whitespace@114..119 "\n    "
      VARIANT@119..138
        Ident@119..126 "Wrapped"
        TYPE_LIST@126..138
          LParen@126..127 "("
          TYPE_TAPP@127..137
            PATH@127..134
              Ident@127..134 "Wrapper"
            TYPE_PARAM_LIST@134..137
              LBracket@134..135 "["
              TYPE_TAPP@135..136
                PATH@135..136
                  Ident@135..136 "T"
              RBracket@136..137 "]"
          RParen@137..138 ")"
      Comma@138..139 ","
      Whitespace@139..144 "\n    "
      VARIANT@144..150
        Ident@144..150 "Origin"
      Comma@150..151 ","
      Whitespace@151..152 "\n"
      RBrace@152..153 "}"
      Whitespace@153..155 "\n\n"
  FN@155..337
    FnKeyword@155..157 "fn"
    Whitespace@157..158 " "
    Ident@158..168 "bounce_int"
    PARAM_LIST@168..190
      LParen@168..169 "("
      PARAM@169..188
        Ident@169..174 "shape"
        Colon@174..175 ":"
        Whitespace@175..176 " "
        TYPE_TAPP@176..188
          PATH@176..181
            Ident@176..181 "Shape"
          TYPE_PARAM_LIST@181..188
            LBracket@181..182 "["
            TYPE_INT32@182..187
              Int32Keyword@182..187 "int32"
            RBracket@187..188 "]"
      RParen@188..189 ")"
      Whitespace@189..190 " "
    Arrow@190..192 "->"
    Whitespace@192..193 " "
    TYPE_TAPP@193..206
      PATH@193..198
        Ident@193..198 "Shape"
      TYPE_PARAM_LIST@198..206
        LBracket@198..199 "["
        TYPE_INT32@199..204
          Int32Keyword@199..204 "int32"
        RBracket@204..205 "]"
        Whitespace@205..206 " "
    BLOCK@206..337
      LBrace@206..207 "{"
      Whitespace@207..212 "\n    "
      EXPR_MATCH@212..334
        MatchKeyword@212..217 "match"
        Whitespace@217..218 " "
        EXPR_IDENT@218..224
          PATH@218..224
            Ident@218..223 "shape"
            Whitespace@223..224 " "
        MATCH_ARM_LIST@224..334
          LBrace@224..225 "{"
          Whitespace@225..234 "\n        "
          MATCH_ARM@234..258
            PATTERN_CONSTR@234..245
              PATH@234..237
                Ident@234..237 "Dot"
              LParen@237..238 "("
              PATTERN_VARIABLE@238..243
                Ident@238..243 "point"
              RParen@243..244 ")"
              Whitespace@244..245 " "
            FatArrow@245..247 "=>"
            Whitespace@247..248 " "
            EXPR_CALL@248..258
              EXPR_IDENT@248..251
                PATH@248..251
                  Ident@248..251 "Dot"
              ARG_LIST@251..258
                LParen@251..252 "("
                ARG@252..257
                  EXPR_IDENT@252..257
                    PATH@252..257
                      Ident@252..257 "point"
                RParen@257..258 ")"
          Comma@258..259 ","
          Whitespace@259..268 "\n        "
          MATCH_ARM@268..300
            PATTERN_CONSTR@268..283
              PATH@268..275
                Ident@268..275 "Wrapped"
              LParen@275..276 "("
              PATTERN_VARIABLE@276..281
                Ident@276..281 "inner"
              RParen@281..282 ")"
              Whitespace@282..283 " "
            FatArrow@283..285 "=>"
            Whitespace@285..286 " "
            EXPR_CALL@286..300
              EXPR_IDENT@286..293
                PATH@286..293
                  Ident@286..293 "Wrapped"
              ARG_LIST@293..300
                LParen@293..294 "("
                ARG@294..299
                  EXPR_IDENT@294..299
                    PATH@294..299
                      Ident@294..299 "inner"
                RParen@299..300 ")"
          Comma@300..301 ","
          Whitespace@301..310 "\n        "
          MATCH_ARM@310..326
            PATTERN_VARIABLE@310..317
              Ident@310..316 "Origin"
              Whitespace@316..317 " "
            FatArrow@317..319 "=>"
            Whitespace@319..320 " "
            EXPR_IDENT@320..326
              PATH@320..326
                Ident@320..326 "Origin"
          Comma@326..327 ","
          Whitespace@327..332 "\n    "
          RBrace@332..333 "}"
          Whitespace@333..334 "\n"
      RBrace@334..335 "}"
      Whitespace@335..337 "\n\n"
  FN@337..411
    FnKeyword@337..339 "fn"
    Whitespace@339..340 " "
    Ident@340..349 "wrap_unit"
    PARAM_LIST@349..372
      LParen@349..350 "("
      PARAM@350..370
        Ident@350..355 "value"
        Colon@355..356 ":"
        Whitespace@356..357 " "
        TYPE_TAPP@357..370
          PATH@357..364
            Ident@357..364 "Wrapper"
          TYPE_PARAM_LIST@364..370
            LBracket@364..365 "["
            TYPE_UNIT@365..369
              UnitKeyword@365..369 "unit"
            RBracket@369..370 "]"
      RParen@370..371 ")"
      Whitespace@371..372 " "
    Arrow@372..374 "->"
    Whitespace@374..375 " "
    TYPE_TAPP@375..387
      PATH@375..380
        Ident@375..380 "Shape"
      TYPE_PARAM_LIST@380..387
        LBracket@380..381 "["
        TYPE_UNIT@381..385
          UnitKeyword@381..385 "unit"
        RBracket@385..386 "]"
        Whitespace@386..387 " "
    BLOCK@387..411
      LBrace@387..388 "{"
      Whitespace@388..393 "\n    "
      EXPR_CALL@393..408
        EXPR_IDENT@393..400
          PATH@393..400
            Ident@393..400 "Wrapped"
        ARG_LIST@400..408
          LParen@400..401 "("
          ARG@401..406
            EXPR_IDENT@401..406
              PATH@401..406
                Ident@401..406 "value"
          RParen@406..407 ")"
          Whitespace@407..408 "\n"
      RBrace@408..409 "}"
      Whitespace@409..411 "\n\n"
  FN@411..577
    FnKeyword@411..413 "fn"
    Whitespace@413..414 " "
    Ident@414..418 "pick"
    PARAM_LIST@418..470
      LParen@418..419 "("
      PARAM@419..431
        Ident@419..423 "flag"
        Colon@423..424 ":"
        Whitespace@424..425 " "
        TYPE_BOOL@425..429
          BoolKeyword@425..429 "bool"
        Comma@429..430 ","
        Whitespace@430..431 " "
      PARAM@431..445
        Ident@431..436 "point"
        Colon@436..437 ":"
        Whitespace@437..438 " "
        TYPE_TAPP@438..443
          PATH@438..443
            Ident@438..443 "Point"
        Comma@443..444 ","
        Whitespace@444..445 " "
      PARAM@445..468
        Ident@445..452 "wrapper"
        Colon@452..453 ":"
        Whitespace@453..454 " "
        TYPE_TAPP@454..468
          PATH@454..461
            Ident@454..461 "Wrapper"
          TYPE_PARAM_LIST@461..468
            LBracket@461..462 "["
            TYPE_INT32@462..467
              Int32Keyword@462..467 "int32"
            RBracket@467..468 "]"
      RParen@468..469 ")"
      Whitespace@469..470 " "
    Arrow@470..472 "->"
    Whitespace@472..473 " "
    TYPE_TAPP@473..486
      PATH@473..478
        Ident@473..478 "Shape"
      TYPE_PARAM_LIST@478..486
        LBracket@478..479 "["
        TYPE_INT32@479..484
          Int32Keyword@479..484 "int32"
        RBracket@484..485 "]"
        Whitespace@485..486 " "
    BLOCK@486..577
      LBrace@486..487 "{"
      Whitespace@487..492 "\n    "
      EXPR_MATCH@492..574
        MatchKeyword@492..497 "match"
        Whitespace@497..498 " "
        EXPR_IDENT@498..503
          PATH@498..503
            Ident@498..502 "flag"
            Whitespace@502..503 " "
        MATCH_ARM_LIST@503..574
          LBrace@503..504 "{"
          Whitespace@504..513 "\n        "
          MATCH_ARM@513..531
            PATTERN_BOOL@513..518
              TrueKeyword@513..517 "true"
              Whitespace@517..518 " "
            FatArrow@518..520 "=>"
            Whitespace@520..521 " "
            EXPR_CALL@521..531
              EXPR_IDENT@521..524
                PATH@521..524
                  Ident@521..524 "Dot"
              ARG_LIST@524..531
                LParen@524..525 "("
                ARG@525..530
                  EXPR_IDENT@525..530
                    PATH@525..530
                      Ident@525..530 "point"
                RParen@530..531 ")"
          Comma@531..532 ","
          Whitespace@532..541 "\n        "
          MATCH_ARM@541..566
            PATTERN_BOOL@541..547
              FalseKeyword@541..546 "false"
              Whitespace@546..547 " "
            FatArrow@547..549 "=>"
            Whitespace@549..550 " "
            EXPR_CALL@550..566
              EXPR_IDENT@550..557
                PATH@550..557
                  Ident@550..557 "Wrapped"
              ARG_LIST@557..566
                LParen@557..558 "("
                ARG@558..565
                  EXPR_IDENT@558..565
                    PATH@558..565
                      Ident@558..565 "wrapper"
                RParen@565..566 ")"
          Comma@566..567 ","
          Whitespace@567..572 "\n    "
          RBrace@572..573 "}"
          Whitespace@573..574 "\n"
      RBrace@574..575 "}"
      Whitespace@575..577 "\n\n"
  FN@577..714
    FnKeyword@577..579 "fn"
    Whitespace@579..580 " "
    Ident@580..588 "describe"
    GENERIC_LIST@588..591
      LBracket@588..589 "["
      GENERIC@589..590
        Ident@589..590 "T"
      RBracket@590..591 "]"
    PARAM_LIST@591..609
      LParen@591..592 "("
      PARAM@592..607
        Ident@592..597 "shape"
        Colon@597..598 ":"
        Whitespace@598..599 " "
        TYPE_TAPP@599..607
          PATH@599..604
            Ident@599..604 "Shape"
          TYPE_PARAM_LIST@604..607
            LBracket@604..605 "["
            TYPE_TAPP@605..606
              PATH@605..606
                Ident@605..606 "T"
            RBracket@606..607 "]"
      RParen@607..608 ")"
      Whitespace@608..609 " "
    Arrow@609..611 "->"
    Whitespace@611..612 " "
    TYPE_INT32@612..618
      Int32Keyword@612..617 "int32"
      Whitespace@617..618 " "
    BLOCK@618..714
      LBrace@618..619 "{"
      Whitespace@619..624 "\n    "
      EXPR_MATCH@624..711
        MatchKeyword@624..629 "match"
        Whitespace@629..630 " "
        EXPR_IDENT@630..636
          PATH@630..636
            Ident@630..635 "shape"
            Whitespace@635..636 " "
        MATCH_ARM_LIST@636..711
          LBrace@636..637 "{"
          Whitespace@637..646 "\n        "
          MATCH_ARM@646..657
            PATTERN_CONSTR@646..653
              PATH@646..649
                Ident@646..649 "Dot"
              LParen@649..650 "("
              PATTERN_WILDCARD@650..651
                WildcardKeyword@650..651 "_"
              RParen@651..652 ")"
              Whitespace@652..653 " "
            FatArrow@653..655 "=>"
            Whitespace@655..656 " "
            EXPR_INT@656..657
              Int@656..657 "1"
          Comma@657..658 ","
          Whitespace@658..667 "\n        "
          MATCH_ARM@667..682
            PATTERN_CONSTR@667..678
              PATH@667..674
                Ident@667..674 "Wrapped"
              LParen@674..675 "("
              PATTERN_WILDCARD@675..676
                WildcardKeyword@675..676 "_"
              RParen@676..677 ")"
              Whitespace@677..678 " "
            FatArrow@678..680 "=>"
            Whitespace@680..681 " "
            EXPR_INT@681..682
              Int@681..682 "2"
          Comma@682..683 ","
          Whitespace@683..692 "\n        "
          MATCH_ARM@692..703
            PATTERN_VARIABLE@692..699
              Ident@692..698 "Origin"
              Whitespace@698..699 " "
            FatArrow@699..701 "=>"
            Whitespace@701..702 " "
            EXPR_INT@702..703
              Int@702..703 "0"
          Comma@703..704 ","
          Whitespace@704..709 "\n    "
          RBrace@709..710 "}"
          Whitespace@710..711 "\n"
      RBrace@711..712 "}"
      Whitespace@712..714 "\n\n"
  FN@714..956
    FnKeyword@714..716 "fn"
    Whitespace@716..717 " "
    Ident@717..734 "point32_to_string"
    PARAM_LIST@734..749
      LParen@734..735 "("
      PARAM@735..747
        Ident@735..740 "point"
        Colon@740..741 ":"
        Whitespace@741..742 " "
        TYPE_TAPP@742..747
          PATH@742..747
            Ident@742..747 "Point"
      RParen@747..748 ")"
      Whitespace@748..749 " "
    Arrow@749..751 "->"
    Whitespace@751..752 " "
    TYPE_STRING@752..759
      StringKeyword@752..758 "string"
      Whitespace@758..759 " "
    BLOCK@759..956
      LBrace@759..760 "{"
      Whitespace@760..765 "\n    "
      STMT_LET@765..803
        LetKeyword@765..768 "let"
        Whitespace@768..769 " "
        PATTERN_CONSTR@769..790
          PATH@769..775
            Ident@769..774 "Point"
            Whitespace@774..775 " "
          STRUCT_PATTERN_FIELD_LIST@775..790
            LBrace@775..776 "{"
            Whitespace@776..777 " "
            STRUCT_PATTERN_FIELD@777..781
              Ident@777..778 "x"
              Colon@778..779 ":"
              Whitespace@779..780 " "
              PATTERN_VARIABLE@780..781
                Ident@780..781 "x"
            Comma@781..782 ","
            Whitespace@782..783 " "
            STRUCT_PATTERN_FIELD@783..788
              Ident@783..784 "y"
              Colon@784..785 ":"
              Whitespace@785..786 " "
              PATTERN_VARIABLE@786..788
                Ident@786..787 "y"
                Whitespace@787..788 " "
            RBrace@788..789 "}"
            Whitespace@789..790 " "
        Eq@790..791 "="
        Whitespace@791..792 " "
        EXPR_IDENT@792..797
          PATH@792..797
            Ident@792..797 "point"
        Semi@797..798 ";"
        Whitespace@798..803 "\n    "
      STMT_LET@803..851
        LetKeyword@803..806 "let"
        Whitespace@806..807 " "
        PATTERN_VARIABLE@807..814
          Ident@807..813 "with_x"
          Whitespace@813..814 " "
        Eq@814..815 "="
        Whitespace@815..816 " "
        EXPR_BINARY@816..845
          EXPR_STR@816..830
            Str@816..829 "\"Point { x: \""
            Whitespace@829..830 " "
          Plus@830..831 "+"
          Whitespace@831..832 " "
          EXPR_CALL@832..845
            EXPR_BINARY@832..843
              EXPR_IDENT@832..833
                PATH@832..833
                  Ident@832..833 "x"
              Dot@833..834 "."
              EXPR_IDENT@834..843
                PATH@834..843
                  Ident@834..843 "to_string"
            ARG_LIST@843..845
              LParen@843..844 "("
              RParen@844..845 ")"
        Semi@845..846 ";"
        Whitespace@846..851 "\n    "
      STMT_LET@851..892
        LetKeyword@851..854 "let"
        Whitespace@854..855 " "
        PATTERN_VARIABLE@855..868
          Ident@855..867 "with_y_label"
          Whitespace@867..868 " "
        Eq@868..869 "="
        Whitespace@869..870 " "
        EXPR_BINARY@870..886
          EXPR_IDENT@870..877
            PATH@870..877
              Ident@870..876 "with_x"
              Whitespace@876..877 " "
          Plus@877..878 "+"
          Whitespace@878..879 " "
          EXPR_STR@879..886
            Str@879..886 "\", y: \""
        Semi@886..887 ";"
        Whitespace@887..892 "\n    "
      STMT_LET@892..939
        LetKeyword@892..895 "let"
        Whitespace@895..896 " "
        PATTERN_VARIABLE@896..903
          Ident@896..902 "with_y"
          Whitespace@902..903 " "
        Eq@903..904 "="
        Whitespace@904..905 " "
        EXPR_BINARY@905..933
          EXPR_IDENT@905..918
            PATH@905..918
              Ident@905..917 "with_y_label"
              Whitespace@917..918 " "
          Plus@918..919 "+"
          Whitespace@919..920 " "
          EXPR_CALL@920..933
            EXPR_BINARY@920..931
              EXPR_IDENT@920..921
                PATH@920..921
                  Ident@920..921 "y"
              Dot@921..922 "."
              EXPR_IDENT@922..931
                PATH@922..931
                  Ident@922..931 "to_string"
            ARG_LIST@931..933
              LParen@931..932 "("
              RParen@932..933 ")"
        Semi@933..934 ";"
        Whitespace@934..939 "\n    "
      EXPR_BINARY@939..953
        EXPR_IDENT@939..946
          PATH@939..946
            Ident@939..945 "with_y"
            Whitespace@945..946 " "
        Plus@946..947 "+"
        Whitespace@947..948 " "
        EXPR_STR@948..953
          Str@948..952 "\" }\""
          Whitespace@952..953 "\n"
      RBrace@953..954 "}"
      Whitespace@954..956 "\n\n"
  FN@956..1150
    FnKeyword@956..958 "fn"
    Whitespace@958..959 " "
    Ident@959..982 "wrapper_int32_to_string"
    PARAM_LIST@982..1008
      LParen@982..983 "("
      PARAM@983..1006
        Ident@983..990 "wrapper"
        Colon@990..991 ":"
        Whitespace@991..992 " "
        TYPE_TAPP@992..1006
          PATH@992..999
            Ident@992..999 "Wrapper"
          TYPE_PARAM_LIST@999..1006
            LBracket@999..1000 "["
            TYPE_INT32@1000..1005
              Int32Keyword@1000..1005 "int32"
            RBracket@1005..1006 "]"
      RParen@1006..1007 ")"
      Whitespace@1007..1008 " "
    Arrow@1008..1010 "->"
    Whitespace@1010..1011 " "
    TYPE_STRING@1011..1018
      StringKeyword@1011..1017 "string"
      Whitespace@1017..1018 " "
    BLOCK@1018..1150
      LBrace@1018..1019 "{"
      Whitespace@1019..1024 "\n    "
      STMT_LET@1024..1068
        LetKeyword@1024..1027 "let"
        Whitespace@1027..1028 " "
        PATTERN_CONSTR@1028..1053
          PATH@1028..1036
            Ident@1028..1035 "Wrapper"
            Whitespace@1035..1036 " "
          STRUCT_PATTERN_FIELD_LIST@1036..1053
            LBrace@1036..1037 "{"
            Whitespace@1037..1038 " "
            STRUCT_PATTERN_FIELD@1038..1051
              Ident@1038..1043 "value"
              Colon@1043..1044 ":"
              Whitespace@1044..1045 " "
              PATTERN_VARIABLE@1045..1051
                Ident@1045..1050 "value"
                Whitespace@1050..1051 " "
            RBrace@1051..1052 "}"
            Whitespace@1052..1053 " "
        Eq@1053..1054 "="
        Whitespace@1054..1055 " "
        EXPR_IDENT@1055..1062
          PATH@1055..1062
            Ident@1055..1062 "wrapper"
        Semi@1062..1063 ";"
        Whitespace@1063..1068 "\n    "
      STMT_LET@1068..1133
        LetKeyword@1068..1071 "let"
        Whitespace@1071..1072 " "
        PATTERN_VARIABLE@1072..1079
          Ident@1072..1078 "prefix"
          Whitespace@1078..1079 " "
        Eq@1079..1080 "="
        Whitespace@1080..1081 " "
        EXPR_BINARY@1081..1127
          EXPR_STR@1081..1108
            Str@1081..1107 "\"Wrapper[int32] { val ..."
            Whitespace@1107..1108 " "
          Plus@1108..1109 "+"
          Whitespace@1109..1110 " "
          EXPR_CALL@1110..1127
            EXPR_BINARY@1110..1125
              EXPR_IDENT@1110..1115
                PATH@1110..1115
                  Ident@1110..1115 "value"
              Dot@1115..1116 "."
              EXPR_IDENT@1116..1125
                PATH@1116..1125
                  Ident@1116..1125 "to_string"
            ARG_LIST@1125..1127
              LParen@1125..1126 "("
              RParen@1126..1127 ")"
        Semi@1127..1128 ";"
        Whitespace@1128..1133 "\n    "
      EXPR_BINARY@1133..1147
        EXPR_IDENT@1133..1140
          PATH@1133..1140
            Ident@1133..1139 "prefix"
            Whitespace@1139..1140 " "
        Plus@1140..1141 "+"
        Whitespace@1141..1142 " "
        EXPR_STR@1142..1147
          Str@1142..1146 "\" }\""
          Whitespace@1146..1147 "\n"
      RBrace@1147..1148 "}"
      Whitespace@1148..1150 "\n\n"
  FN@1150..1341
    FnKeyword@1150..1152 "fn"
    Whitespace@1152..1153 " "
    Ident@1153..1175 "wrapper_unit_to_string"
    PARAM_LIST@1175..1200
      LParen@1175..1176 "("
      PARAM@1176..1198
        Ident@1176..1183 "wrapper"
        Colon@1183..1184 ":"
        Whitespace@1184..1185 " "
        TYPE_TAPP@1185..1198
          PATH@1185..1192
            Ident@1185..1192 "Wrapper"
          TYPE_PARAM_LIST@1192..1198
            LBracket@1192..1193 "["
            TYPE_UNIT@1193..1197
              UnitKeyword@1193..1197 "unit"
            RBracket@1197..1198 "]"
      RParen@1198..1199 ")"
      Whitespace@1199..1200 " "
    Arrow@1200..1202 "->"
    Whitespace@1202..1203 " "
    TYPE_STRING@1203..1210
      StringKeyword@1203..1209 "string"
      Whitespace@1209..1210 " "
    BLOCK@1210..1341
      LBrace@1210..1211 "{"
      Whitespace@1211..1216 "\n    "
      STMT_LET@1216..1260
        LetKeyword@1216..1219 "let"
        Whitespace@1219..1220 " "
        PATTERN_CONSTR@1220..1245
          PATH@1220..1228
            Ident@1220..1227 "Wrapper"
            Whitespace@1227..1228 " "
          STRUCT_PATTERN_FIELD_LIST@1228..1245
            LBrace@1228..1229 "{"
            Whitespace@1229..1230 " "
            STRUCT_PATTERN_FIELD@1230..1243
              Ident@1230..1235 "value"
              Colon@1235..1236 ":"
              Whitespace@1236..1237 " "
              PATTERN_VARIABLE@1237..1243
                Ident@1237..1242 "value"
                Whitespace@1242..1243 " "
            RBrace@1243..1244 "}"
            Whitespace@1244..1245 " "
        Eq@1245..1246 "="
        Whitespace@1246..1247 " "
        EXPR_IDENT@1247..1254
          PATH@1247..1254
            Ident@1247..1254 "wrapper"
        Semi@1254..1255 ";"
        Whitespace@1255..1260 "\n    "
      STMT_LET@1260..1324
        LetKeyword@1260..1263 "let"
        Whitespace@1263..1264 " "
        PATTERN_VARIABLE@1264..1271
          Ident@1264..1270 "prefix"
          Whitespace@1270..1271 " "
        Eq@1271..1272 "="
        Whitespace@1272..1273 " "
        EXPR_BINARY@1273..1318
          EXPR_STR@1273..1299
            Str@1273..1298 "\"Wrapper[unit] { valu ..."
            Whitespace@1298..1299 " "
          Plus@1299..1300 "+"
          Whitespace@1300..1301 " "
          EXPR_CALL@1301..1318
            EXPR_BINARY@1301..1316
              EXPR_IDENT@1301..1306
                PATH@1301..1306
                  Ident@1301..1306 "value"
              Dot@1306..1307 "."
              EXPR_IDENT@1307..1316
                PATH@1307..1316
                  Ident@1307..1316 "to_string"
            ARG_LIST@1316..1318
              LParen@1316..1317 "("
              RParen@1317..1318 ")"
        Semi@1318..1319 ";"
        Whitespace@1319..1324 "\n    "
      EXPR_BINARY@1324..1338
        EXPR_IDENT@1324..1331
          PATH@1324..1331
            Ident@1324..1330 "prefix"
            Whitespace@1330..1331 " "
        Plus@1331..1332 "+"
        Whitespace@1332..1333 " "
        EXPR_STR@1333..1338
          Str@1333..1337 "\" }\""
          Whitespace@1337..1338 "\n"
      RBrace@1338..1339 "}"
      Whitespace@1339..1341 "\n\n"
  FN@1341..1733
    FnKeyword@1341..1343 "fn"
    Whitespace@1343..1344 " "
    Ident@1344..1365 "shape_int32_to_string"
    PARAM_LIST@1365..1387
      LParen@1365..1366 "("
      PARAM@1366..1385
        Ident@1366..1371 "shape"
        Colon@1371..1372 ":"
        Whitespace@1372..1373 " "
        TYPE_TAPP@1373..1385
          PATH@1373..1378
            Ident@1373..1378 "Shape"
          TYPE_PARAM_LIST@1378..1385
            LBracket@1378..1379 "["
            TYPE_INT32@1379..1384
              Int32Keyword@1379..1384 "int32"
            RBracket@1384..1385 "]"
      RParen@1385..1386 ")"
      Whitespace@1386..1387 " "
    Arrow@1387..1389 "->"
    Whitespace@1389..1390 " "
    TYPE_STRING@1390..1397
      StringKeyword@1390..1396 "string"
      Whitespace@1396..1397 " "
    BLOCK@1397..1733
      LBrace@1397..1398 "{"
      Whitespace@1398..1403 "\n    "
      EXPR_MATCH@1403..1730
        MatchKeyword@1403..1408 "match"
        Whitespace@1408..1409 " "
        EXPR_IDENT@1409..1415
          PATH@1409..1415
            Ident@1409..1414 "shape"
            Whitespace@1414..1415 " "
        MATCH_ARM_LIST@1415..1730
          LBrace@1415..1416 "{"
          Whitespace@1416..1425 "\n        "
          MATCH_ARM@1425..1542
            PATTERN_CONSTR@1425..1436
              PATH@1425..1428
                Ident@1425..1428 "Dot"
              LParen@1428..1429 "("
              PATTERN_VARIABLE@1429..1434
                Ident@1429..1434 "point"
              RParen@1434..1435 ")"
              Whitespace@1435..1436 " "
            FatArrow@1436..1438 "=>"
            Whitespace@1438..1439 " "
            BLOCK@1439..1542
              LBrace@1439..1440 "{"
              Whitespace@1440..1453 "\n            "
              STMT_LET@1453..1520
                LetKeyword@1453..1456 "let"
                Whitespace@1456..1457 " "
                PATTERN_VARIABLE@1457..1464
                  Ident@1457..1463 "prefix"
                  Whitespace@1463..1464 " "
                Eq@1464..1465 "="
                Whitespace@1465..1466 " "
                EXPR_BINARY@1466..1506
                  EXPR_STR@1466..1480
                    Str@1466..1479 "\"Shape::Dot(\""
                    Whitespace@1479..1480 " "
                  Plus@1480..1481 "+"
                  Whitespace@1481..1482 " "
                  EXPR_CALL@1482..1506
                    EXPR_IDENT@1482..1499
                      PATH@1482..1499
                        Ident@1482..1499 "point32_to_string"
                    ARG_LIST@1499..1506
                      LParen@1499..1500 "("
                      ARG@1500..1505
                        EXPR_IDENT@1500..1505
                          PATH@1500..1505
                            Ident@1500..1505 "point"
                      RParen@1505..1506 ")"
                Semi@1506..1507 ";"
                Whitespace@1507..1520 "\n            "
              EXPR_BINARY@1520..1541
                EXPR_IDENT@1520..1527
                  PATH@1520..1527
                    Ident@1520..1526 "prefix"
                    Whitespace@1526..1527 " "
                Plus@1527..1528 "+"
                Whitespace@1528..1529 " "
                EXPR_STR@1529..1541
                  Str@1529..1532 "\")\""
                  Whitespace@1532..1541 "\n        "
              RBrace@1541..1542 "}"
          Comma@1542..1543 ","
          Whitespace@1543..1552 "\n        "
          MATCH_ARM@1552..1687
            PATTERN_CONSTR@1552..1569
              PATH@1552..1559
                Ident@1552..1559 "Wrapped"
              LParen@1559..1560 "("
              PATTERN_VARIABLE@1560..1567
                Ident@1560..1567 "wrapper"
              RParen@1567..1568 ")"
              Whitespace@1568..1569 " "
            FatArrow@1569..1571 "=>"
            Whitespace@1571..1572 " "
            BLOCK@1572..1687
              LBrace@1572..1573 "{"
              Whitespace@1573..1586 "\n            "
              STMT_LET@1586..1665
                LetKeyword@1586..1589 "let"
                Whitespace@1589..1590 " "
                PATTERN_VARIABLE@1590..1597
                  Ident@1590..1596 "prefix"
                  Whitespace@1596..1597 " "
                Eq@1597..1598 "="
                Whitespace@1598..1599 " "
                EXPR_BINARY@1599..1651
                  EXPR_STR@1599..1617
                    Str@1599..1616 "\"Shape::Wrapped(\""
                    Whitespace@1616..1617 " "
                  Plus@1617..1618 "+"
                  Whitespace@1618..1619 " "
                  EXPR_CALL@1619..1651
                    EXPR_IDENT@1619..1642
                      PATH@1619..1642
                        Ident@1619..1642 "wrapper_int32_to_string"
                    ARG_LIST@1642..1651
                      LParen@1642..1643 "("
                      ARG@1643..1650
                        EXPR_IDENT@1643..1650
                          PATH@1643..1650
                            Ident@1643..1650 "wrapper"
                      RParen@1650..1651 ")"
                Semi@1651..1652 ";"
                Whitespace@1652..1665 "\n            "
              EXPR_BINARY@1665..1686
                EXPR_IDENT@1665..1672
                  PATH@1665..1672
                    Ident@1665..1671 "prefix"
                    Whitespace@1671..1672 " "
                Plus@1672..1673 "+"
                Whitespace@1673..1674 " "
                EXPR_STR@1674..1686
                  Str@1674..1677 "\")\""
                  Whitespace@1677..1686 "\n        "
              RBrace@1686..1687 "}"
          Comma@1687..1688 ","
          Whitespace@1688..1697 "\n        "
          MATCH_ARM@1697..1722
            PATTERN_VARIABLE@1697..1704
              Ident@1697..1703 "Origin"
              Whitespace@1703..1704 " "
            FatArrow@1704..1706 "=>"
            Whitespace@1706..1707 " "
            EXPR_STR@1707..1722
              Str@1707..1722 "\"Shape::Origin\""
          Comma@1722..1723 ","
          Whitespace@1723..1728 "\n    "
          RBrace@1728..1729 "}"
          Whitespace@1729..1730 "\n"
      RBrace@1730..1731 "}"
      Whitespace@1731..1733 "\n\n"
  FN@1733..2122
    FnKeyword@1733..1735 "fn"
    Whitespace@1735..1736 " "
    Ident@1736..1756 "shape_unit_to_string"
    PARAM_LIST@1756..1777
      LParen@1756..1757 "("
      PARAM@1757..1775
        Ident@1757..1762 "shape"
        Colon@1762..1763 ":"
        Whitespace@1763..1764 " "
        TYPE_TAPP@1764..1775
          PATH@1764..1769
            Ident@1764..1769 "Shape"
          TYPE_PARAM_LIST@1769..1775
            LBracket@1769..1770 "["
            TYPE_UNIT@1770..1774
              UnitKeyword@1770..1774 "unit"
            RBracket@1774..1775 "]"
      RParen@1775..1776 ")"
      Whitespace@1776..1777 " "
    Arrow@1777..1779 "->"
    Whitespace@1779..1780 " "
    TYPE_STRING@1780..1787
      StringKeyword@1780..1786 "string"
      Whitespace@1786..1787 " "
    BLOCK@1787..2122
      LBrace@1787..1788 "{"
      Whitespace@1788..1793 "\n    "
      EXPR_MATCH@1793..2119
        MatchKeyword@1793..1798 "match"
        Whitespace@1798..1799 " "
        EXPR_IDENT@1799..1805
          PATH@1799..1805
            Ident@1799..1804 "shape"
            Whitespace@1804..1805 " "
        MATCH_ARM_LIST@1805..2119
          LBrace@1805..1806 "{"
          Whitespace@1806..1815 "\n        "
          MATCH_ARM@1815..1932
            PATTERN_CONSTR@1815..1826
              PATH@1815..1818
                Ident@1815..1818 "Dot"
              LParen@1818..1819 "("
              PATTERN_VARIABLE@1819..1824
                Ident@1819..1824 "point"
              RParen@1824..1825 ")"
              Whitespace@1825..1826 " "
            FatArrow@1826..1828 "=>"
            Whitespace@1828..1829 " "
            BLOCK@1829..1932
              LBrace@1829..1830 "{"
              Whitespace@1830..1843 "\n            "
              STMT_LET@1843..1910
                LetKeyword@1843..1846 "let"
                Whitespace@1846..1847 " "
                PATTERN_VARIABLE@1847..1854
                  Ident@1847..1853 "prefix"
                  Whitespace@1853..1854 " "
                Eq@1854..1855 "="
                Whitespace@1855..1856 " "
                EXPR_BINARY@1856..1896
                  EXPR_STR@1856..1870
                    Str@1856..1869 "\"Shape::Dot(\""
                    Whitespace@1869..1870 " "
                  Plus@1870..1871 "+"
                  Whitespace@1871..1872 " "
                  EXPR_CALL@1872..1896
                    EXPR_IDENT@1872..1889
                      PATH@1872..1889
                        Ident@1872..1889 "point32_to_string"
                    ARG_LIST@1889..1896
                      LParen@1889..1890 "("
                      ARG@1890..1895
                        EXPR_IDENT@1890..1895
                          PATH@1890..1895
                            Ident@1890..1895 "point"
                      RParen@1895..1896 ")"
                Semi@1896..1897 ";"
                Whitespace@1897..1910 "\n            "
              EXPR_BINARY@1910..1931
                EXPR_IDENT@1910..1917
                  PATH@1910..1917
                    Ident@1910..1916 "prefix"
                    Whitespace@1916..1917 " "
                Plus@1917..1918 "+"
                Whitespace@1918..1919 " "
                EXPR_STR@1919..1931
                  Str@1919..1922 "\")\""
                  Whitespace@1922..1931 "\n        "
              RBrace@1931..1932 "}"
          Comma@1932..1933 ","
          Whitespace@1933..1942 "\n        "
          MATCH_ARM@1942..2076
            PATTERN_CONSTR@1942..1959
              PATH@1942..1949
                Ident@1942..1949 "Wrapped"
              LParen@1949..1950 "("
              PATTERN_VARIABLE@1950..1957
                Ident@1950..1957 "wrapper"
              RParen@1957..1958 ")"
              Whitespace@1958..1959 " "
            FatArrow@1959..1961 "=>"
            Whitespace@1961..1962 " "
            BLOCK@1962..2076
              LBrace@1962..1963 "{"
              Whitespace@1963..1976 "\n            "
              STMT_LET@1976..2054
                LetKeyword@1976..1979 "let"
                Whitespace@1979..1980 " "
                PATTERN_VARIABLE@1980..1987
                  Ident@1980..1986 "prefix"
                  Whitespace@1986..1987 " "
                Eq@1987..1988 "="
                Whitespace@1988..1989 " "
                EXPR_BINARY@1989..2040
                  EXPR_STR@1989..2007
                    Str@1989..2006 "\"Shape::Wrapped(\""
                    Whitespace@2006..2007 " "
                  Plus@2007..2008 "+"
                  Whitespace@2008..2009 " "
                  EXPR_CALL@2009..2040
                    EXPR_IDENT@2009..2031
                      PATH@2009..2031
                        Ident@2009..2031 "wrapper_unit_to_string"
                    ARG_LIST@2031..2040
                      LParen@2031..2032 "("
                      ARG@2032..2039
                        EXPR_IDENT@2032..2039
                          PATH@2032..2039
                            Ident@2032..2039 "wrapper"
                      RParen@2039..2040 ")"
                Semi@2040..2041 ";"
                Whitespace@2041..2054 "\n            "
              EXPR_BINARY@2054..2075
                EXPR_IDENT@2054..2061
                  PATH@2054..2061
                    Ident@2054..2060 "prefix"
                    Whitespace@2060..2061 " "
                Plus@2061..2062 "+"
                Whitespace@2062..2063 " "
                EXPR_STR@2063..2075
                  Str@2063..2066 "\")\""
                  Whitespace@2066..2075 "\n        "
              RBrace@2075..2076 "}"
          Comma@2076..2077 ","
          Whitespace@2077..2086 "\n        "
          MATCH_ARM@2086..2111
            PATTERN_VARIABLE@2086..2093
              Ident@2086..2092 "Origin"
              Whitespace@2092..2093 " "
            FatArrow@2093..2095 "=>"
            Whitespace@2095..2096 " "
            EXPR_STR@2096..2111
              Str@2096..2111 "\"Shape::Origin\""
          Comma@2111..2112 ","
          Whitespace@2112..2117 "\n    "
          RBrace@2117..2118 "}"
          Whitespace@2118..2119 "\n"
      RBrace@2119..2120 "}"
      Whitespace@2120..2122 "\n\n"
  FN@2122..2787
    FnKeyword@2122..2124 "fn"
    Whitespace@2124..2125 " "
    Ident@2125..2129 "main"
    PARAM_LIST@2129..2132
      LParen@2129..2130 "("
      RParen@2130..2131 ")"
      Whitespace@2131..2132 " "
    BLOCK@2132..2787
      LBrace@2132..2133 "{"
      Whitespace@2133..2138 "\n    "
      STMT_LET@2138..2191
        LetKeyword@2138..2141 "let"
        Whitespace@2141..2142 " "
        PATTERN_WILDCARD@2142..2144
          WildcardKeyword@2142..2143 "_"
          Whitespace@2143..2144 " "
        Eq@2144..2145 "="
        Whitespace@2145..2146 " "
        EXPR_CALL@2146..2185
          EXPR_IDENT@2146..2153
            PATH@2146..2153
              Ident@2146..2153 "println"
          ARG_LIST@2153..2185
            LParen@2153..2154 "("
            ARG@2154..2184
              EXPR_CALL@2154..2184
                EXPR_IDENT@2154..2171
                  PATH@2154..2171
                    Ident@2154..2171 "point32_to_string"
                ARG_LIST@2171..2184
                  LParen@2171..2172 "("
                  ARG@2172..2183
                    EXPR_CALL@2172..2183
                      EXPR_IDENT@2172..2177
                        PATH@2172..2177
                          Ident@2172..2177 "Point"
                      ARG_LIST@2177..2183
                        LParen@2177..2178 "("
                        ARG@2178..2181
                          EXPR_INT@2178..2179
                            Int@2178..2179 "3"
                          Comma@2179..2180 ","
                          Whitespace@2180..2181 " "
                        ARG@2181..2182
                          EXPR_INT@2181..2182
                            Int@2181..2182 "4"
                        RParen@2182..2183 ")"
                  RParen@2183..2184 ")"
            RParen@2184..2185 ")"
        Semi@2185..2186 ";"
        Whitespace@2186..2191 "\n    "
      STMT_LET@2191..2249
        LetKeyword@2191..2194 "let"
        Whitespace@2194..2195 " "
        PATTERN_WILDCARD@2195..2197
          WildcardKeyword@2195..2196 "_"
          Whitespace@2196..2197 " "
        Eq@2197..2198 "="
        Whitespace@2198..2199 " "
        EXPR_CALL@2199..2243
          EXPR_IDENT@2199..2206
            PATH@2199..2206
              Ident@2199..2206 "println"
          ARG_LIST@2206..2243
            LParen@2206..2207 "("
            ARG@2207..2242
              EXPR_CALL@2207..2242
                EXPR_IDENT@2207..2230
                  PATH@2207..2230
                    Ident@2207..2230 "wrapper_int32_to_string"
                ARG_LIST@2230..2242
                  LParen@2230..2231 "("
                  ARG@2231..2241
                    EXPR_CALL@2231..2241
                      EXPR_IDENT@2231..2238
                        PATH@2231..2238
                          Ident@2231..2238 "Wrapper"
                      ARG_LIST@2238..2241
                        LParen@2238..2239 "("
                        ARG@2239..2240
                          EXPR_INT@2239..2240
                            Int@2239..2240 "7"
                        RParen@2240..2241 ")"
                  RParen@2241..2242 ")"
            RParen@2242..2243 ")"
        Semi@2243..2244 ";"
        Whitespace@2244..2249 "\n    "
      STMT_LET@2249..2308
        LetKeyword@2249..2252 "let"
        Whitespace@2252..2253 " "
        PATTERN_WILDCARD@2253..2255
          WildcardKeyword@2253..2254 "_"
          Whitespace@2254..2255 " "
        Eq@2255..2256 "="
        Whitespace@2256..2257 " "
        EXPR_CALL@2257..2301
          EXPR_IDENT@2257..2264
            PATH@2257..2264
              Ident@2257..2264 "println"
          ARG_LIST@2264..2301
            LParen@2264..2265 "("
            ARG@2265..2300
              EXPR_CALL@2265..2300
                EXPR_IDENT@2265..2287
                  PATH@2265..2287
                    Ident@2265..2287 "wrapper_unit_to_string"
                ARG_LIST@2287..2300
                  LParen@2287..2288 "("
                  ARG@2288..2299
                    EXPR_CALL@2288..2299
                      EXPR_IDENT@2288..2295
                        PATH@2288..2295
                          Ident@2288..2295 "Wrapper"
                      ARG_LIST@2295..2299
                        LParen@2295..2296 "("
                        ARG@2296..2298
                          EXPR_UNIT@2296..2298
                            LParen@2296..2297 "("
                            RParen@2297..2298 ")"
                        RParen@2298..2299 ")"
                  RParen@2299..2300 ")"
            RParen@2300..2301 ")"
        Semi@2301..2302 ";"
        Whitespace@2302..2308 "\n\n    "
      STMT_LET@2308..2353
        LetKeyword@2308..2311 "let"
        Whitespace@2311..2312 " "
        PATTERN_VARIABLE@2312..2327
          Ident@2312..2326 "bounced_origin"
          Whitespace@2326..2327 " "
        Eq@2327..2328 "="
        Whitespace@2328..2329 " "
        EXPR_CALL@2329..2347
          EXPR_IDENT@2329..2339
            PATH@2329..2339
              Ident@2329..2339 "bounce_int"
          ARG_LIST@2339..2347
            LParen@2339..2340 "("
            ARG@2340..2346
              EXPR_IDENT@2340..2346
                PATH@2340..2346
                  Ident@2340..2346 "Origin"
            RParen@2346..2347 ")"
        Semi@2347..2348 ";"
        Whitespace@2348..2353 "\n    "
      STMT_LET@2353..2415
        LetKeyword@2353..2356 "let"
        Whitespace@2356..2357 " "
        PATTERN_WILDCARD@2357..2359
          WildcardKeyword@2357..2358 "_"
          Whitespace@2358..2359 " "
        Eq@2359..2360 "="
        Whitespace@2360..2361 " "
        EXPR_CALL@2361..2409
          EXPR_IDENT@2361..2368
            PATH@2361..2368
              Ident@2361..2368 "println"
          ARG_LIST@2368..2409
            LParen@2368..2369 "("
            ARG@2369..2408
              EXPR_CALL@2369..2408
                EXPR_IDENT@2369..2390
                  PATH@2369..2390
                    Ident@2369..2390 "shape_int32_to_string"
                ARG_LIST@2390..2408
                  LParen@2390..2391 "("
                  ARG@2391..2407
                    EXPR_CALL@2391..2407
                      EXPR_IDENT@2391..2394
                        PATH@2391..2394
                          Ident@2391..2394 "Dot"
                      ARG_LIST@2394..2407
                        LParen@2394..2395 "("
                        ARG@2395..2406
                          EXPR_CALL@2395..2406
                            EXPR_IDENT@2395..2400
                              PATH@2395..2400
                                Ident@2395..2400 "Point"
                            ARG_LIST@2400..2406
                              LParen@2400..2401 "("
                              ARG@2401..2404
                                EXPR_INT@2401..2402
                                  Int@2401..2402 "3"
                                Comma@2402..2403 ","
                                Whitespace@2403..2404 " "
                              ARG@2404..2405
                                EXPR_INT@2404..2405
                                  Int@2404..2405 "4"
                              RParen@2405..2406 ")"
                        RParen@2406..2407 ")"
                  RParen@2407..2408 ")"
            RParen@2408..2409 ")"
        Semi@2409..2410 ";"
        Whitespace@2410..2415 "\n    "
      STMT_LET@2415..2480
        LetKeyword@2415..2418 "let"
        Whitespace@2418..2419 " "
        PATTERN_WILDCARD@2419..2421
          WildcardKeyword@2419..2420 "_"
          Whitespace@2420..2421 " "
        Eq@2421..2422 "="
        Whitespace@2422..2423 " "
        EXPR_CALL@2423..2474
          EXPR_IDENT@2423..2430
            PATH@2423..2430
              Ident@2423..2430 "println"
          ARG_LIST@2430..2474
            LParen@2430..2431 "("
            ARG@2431..2473
              EXPR_CALL@2431..2473
                EXPR_IDENT@2431..2452
                  PATH@2431..2452
                    Ident@2431..2452 "shape_int32_to_string"
                ARG_LIST@2452..2473
                  LParen@2452..2453 "("
                  ARG@2453..2472
                    EXPR_CALL@2453..2472
                      EXPR_IDENT@2453..2460
                        PATH@2453..2460
                          Ident@2453..2460 "Wrapped"
                      ARG_LIST@2460..2472
                        LParen@2460..2461 "("
                        ARG@2461..2471
                          EXPR_CALL@2461..2471
                            EXPR_IDENT@2461..2468
                              PATH@2461..2468
                                Ident@2461..2468 "Wrapper"
                            ARG_LIST@2468..2471
                              LParen@2468..2469 "("
                              ARG@2469..2470
                                EXPR_INT@2469..2470
                                  Int@2469..2470 "7"
                              RParen@2470..2471 ")"
                        RParen@2471..2472 ")"
                  RParen@2472..2473 ")"
            RParen@2473..2474 ")"
        Semi@2474..2475 ";"
        Whitespace@2475..2480 "\n    "
      STMT_LET@2480..2540
        LetKeyword@2480..2483 "let"
        Whitespace@2483..2484 " "
        PATTERN_WILDCARD@2484..2486
          WildcardKeyword@2484..2485 "_"
          Whitespace@2485..2486 " "
        Eq@2486..2487 "="
        Whitespace@2487..2488 " "
        EXPR_CALL@2488..2534
          EXPR_IDENT@2488..2495
            PATH@2488..2495
              Ident@2488..2495 "println"
          ARG_LIST@2495..2534
            LParen@2495..2496 "("
            ARG@2496..2533
              EXPR_CALL@2496..2533
                EXPR_IDENT@2496..2517
                  PATH@2496..2517
                    Ident@2496..2517 "shape_int32_to_string"
                ARG_LIST@2517..2533
                  LParen@2517..2518 "("
                  ARG@2518..2532
                    EXPR_IDENT@2518..2532
                      PATH@2518..2532
                        Ident@2518..2532 "bounced_origin"
                  RParen@2532..2533 ")"
            RParen@2533..2534 ")"
        Semi@2534..2535 ";"
        Whitespace@2535..2540 "\n    "
      STMT_LET@2540..2601
        LetKeyword@2540..2543 "let"
        Whitespace@2543..2544 " "
        PATTERN_WILDCARD@2544..2546
          WildcardKeyword@2544..2545 "_"
          Whitespace@2545..2546 " "
        Eq@2546..2547 "="
        Whitespace@2547..2548 " "
        EXPR_CALL@2548..2595
          EXPR_IDENT@2548..2555
            PATH@2548..2555
              Ident@2548..2555 "println"
          ARG_LIST@2555..2595
            LParen@2555..2556 "("
            ARG@2556..2594
              EXPR_CALL@2556..2594
                EXPR_IDENT@2556..2576
                  PATH@2556..2576
                    Ident@2556..2576 "shape_unit_to_string"
                ARG_LIST@2576..2594
                  LParen@2576..2577 "("
                  ARG@2577..2593
                    EXPR_CALL@2577..2593
                      EXPR_IDENT@2577..2580
                        PATH@2577..2580
                          Ident@2577..2580 "Dot"
                      ARG_LIST@2580..2593
                        LParen@2580..2581 "("
                        ARG@2581..2592
                          EXPR_CALL@2581..2592
                            EXPR_IDENT@2581..2586
                              PATH@2581..2586
                                Ident@2581..2586 "Point"
                            ARG_LIST@2586..2592
                              LParen@2586..2587 "("
                              ARG@2587..2590
                                EXPR_INT@2587..2588
                                  Int@2587..2588 "3"
                                Comma@2588..2589 ","
                                Whitespace@2589..2590 " "
                              ARG@2590..2591
                                EXPR_INT@2590..2591
                                  Int@2590..2591 "4"
                              RParen@2591..2592 ")"
                        RParen@2592..2593 ")"
                  RParen@2593..2594 ")"
            RParen@2594..2595 ")"
        Semi@2595..2596 ";"
        Whitespace@2596..2601 "\n    "
      STMT_LET@2601..2666
        LetKeyword@2601..2604 "let"
        Whitespace@2604..2605 " "
        PATTERN_WILDCARD@2605..2607
          WildcardKeyword@2605..2606 "_"
          Whitespace@2606..2607 " "
        Eq@2607..2608 "="
        Whitespace@2608..2609 " "
        EXPR_CALL@2609..2660
          EXPR_IDENT@2609..2616
            PATH@2609..2616
              Ident@2609..2616 "println"
          ARG_LIST@2616..2660
            LParen@2616..2617 "("
            ARG@2617..2659
              EXPR_CALL@2617..2659
                EXPR_IDENT@2617..2637
                  PATH@2617..2637
                    Ident@2617..2637 "shape_unit_to_string"
                ARG_LIST@2637..2659
                  LParen@2637..2638 "("
                  ARG@2638..2658
                    EXPR_CALL@2638..2658
                      EXPR_IDENT@2638..2645
                        PATH@2638..2645
                          Ident@2638..2645 "Wrapped"
                      ARG_LIST@2645..2658
                        LParen@2645..2646 "("
                        ARG@2646..2657
                          EXPR_CALL@2646..2657
                            EXPR_IDENT@2646..2653
                              PATH@2646..2653
                                Ident@2646..2653 "Wrapper"
                            ARG_LIST@2653..2657
                              LParen@2653..2654 "("
                              ARG@2654..2656
                                EXPR_UNIT@2654..2656
                                  LParen@2654..2655 "("
                                  RParen@2655..2656 ")"
                              RParen@2656..2657 ")"
                        RParen@2657..2658 ")"
                  RParen@2658..2659 ")"
            RParen@2659..2660 ")"
        Semi@2660..2661 ";"
        Whitespace@2661..2666 "\n    "
      STMT_LET@2666..2718
        LetKeyword@2666..2669 "let"
        Whitespace@2669..2670 " "
        PATTERN_WILDCARD@2670..2672
          WildcardKeyword@2670..2671 "_"
          Whitespace@2671..2672 " "
        Eq@2672..2673 "="
        Whitespace@2673..2674 " "
        EXPR_CALL@2674..2711
          EXPR_IDENT@2674..2681
            PATH@2674..2681
              Ident@2674..2681 "println"
          ARG_LIST@2681..2711
            LParen@2681..2682 "("
            ARG@2682..2710
              EXPR_CALL@2682..2710
                EXPR_IDENT@2682..2702
                  PATH@2682..2702
                    Ident@2682..2702 "shape_unit_to_string"
                ARG_LIST@2702..2710
                  LParen@2702..2703 "("
                  ARG@2703..2709
                    EXPR_IDENT@2703..2709
                      PATH@2703..2709
                        Ident@2703..2709 "Origin"
                  RParen@2709..2710 ")"
            RParen@2710..2711 ")"
        Semi@2711..2712 ";"
        Whitespace@2712..2718 "\n\n    "
      STMT_LET@2718..2760
        LetKeyword@2718..2721 "let"
        Whitespace@2721..2722 " "
        PATTERN_WILDCARD@2722..2724
          WildcardKeyword@2722..2723 "_"
          Whitespace@2723..2724 " "
        Eq@2724..2725 "="
        Whitespace@2725..2726 " "
        EXPR_CALL@2726..2754
          EXPR_IDENT@2726..2734
            PATH@2726..2734
              Ident@2726..2734 "describe"
          ARG_LIST@2734..2754
            LParen@2734..2735 "("
            ARG@2735..2753
              EXPR_CALL@2735..2753
                EXPR_IDENT@2735..2745
                  PATH@2735..2745
                    Ident@2735..2745 "bounce_int"
                ARG_LIST@2745..2753
                  LParen@2745..2746 "("
                  ARG@2746..2752
                    EXPR_IDENT@2746..2752
                      PATH@2746..2752
                        Ident@2746..2752 "Origin"
                  RParen@2752..2753 ")"
            RParen@2753..2754 ")"
        Semi@2754..2755 ";"
        Whitespace@2755..2760 "\n    "
      EXPR_CALL@2760..2785
        EXPR_IDENT@2760..2767
          PATH@2760..2767
            Ident@2760..2767 "println"
        ARG_LIST@2767..2785
          LParen@2767..2768 "("
          ARG@2768..2783
            EXPR_STR@2768..2783
              Str@2768..2783 "\"struct enums!\""
          RParen@2783..2784 ")"
          Whitespace@2784..2785 "\n"
      RBrace@2785..2786 "}"
      Whitespace@2786..2787 "\n"