FILE@0..2806
  STRUCT@0..46
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..46
      STRUCT_FIELD@19..27
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..33 "\n    "
      STRUCT_FIELD@33..41
        Ident@33..34 "y"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..41
          Int32Keyword@36..41 "int32"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  STRUCT@46..83
    StructKeyword@46..52 "struct"
    Whitespace@52..53 " "
    Ident@53..60 "Wrapper"
    GENERIC_LIST@60..64
      LBracket@60..61 "["
      GENERIC@61..62
        Ident@61..62 "T"
      RBracket@62..63 "]"
      Whitespace@63..64 " "
    LBrace@64..65 "{"
    Whitespace@65..70 "\n    "
    STRUCT_FIELD_LIST@70..83
      STRUCT_FIELD@70..78
        Ident@70..75 "value"
        Colon@75..76 ":"
        Whitespace@76..77 " "
        TYPE_TAPP@77..78
          PATH@77..78
            Ident@77..78 "T"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  ENUM@83..155
    EnumKeyword@83..87 "enum"
    Whitespace@87..88 " "
    Ident@88..93 "Shape"
    GENERIC_LIST@93..97
      LBracket@93..94 "["
      GENERIC@94..95
        Ident@94..95 "T"
      RBracket@95..96 "]"
      Whitespace@96..97 " "
    LBrace@97..98 "{"
    Whitespace@98..103 "\n    "
    VARIANT_LIST@103..155
      VARIANT@103..113
        Ident@103..106 "Dot"
        TYPE_LIST@106..113
          LParen@106..107 "("
          TYPE_TAPP@107..112
            PATH@107..112
              Ident@107..112 "Point"
          RParen@112..113 ")"
      Comma@113..114 ","
      Whitespace@114..119 "\n    "
      VARIANT@119..138
        Ident@119..126 "Wrapped"
        TYPE_LIST@126..138
          LParen@126..127 "("
          TYPE_TAPP@127..137
            PATH@127..134
              Ident@127..134 "Wrapper"
            TYPE_PARAM_LIST@134..137
              LBracket@134..135 "["
              TYPE_TAPP@135..136
                PATH@135..136
                  Ident@135..136 "T"
              RBracket@136..137 "]"
          RParen@137..138 ")"
      Comma@138..139 ","
      Whitespace@139..144 "\n    "
      VARIANT@144..150
        Ident@144..150 "Origin"
      Comma@150..151 ","
      Whitespace@151..152 "\n"
      RBrace@152..153 "}"
      Whitespace@153..155 "\n\n"
  FN@155..337
    FnKeyword@155..157 "fn"
    Whitespace@157..158 " "
    Ident@158..168 "bounce_int"
    PARAM_LIST@168..190
      LParen@168..169 "("
      PARAM@169..188
        Ident@169..174 "shape"
        Colon@174..175 ":"
        Whitespace@175..176 " "
        TYPE_TAPP@176..188
          PATH@176..181
            Ident@176..181 "Shape"
          TYPE_PARAM_LIST@181..188
            LBracket@181..182 "["
            TYPE_INT32@182..187
              Int32Keyword@182..187 "int32"
            RBracket@187..188 "]"
      RParen@188..189 ")"
      Whitespace@189..190 " "
    Arrow@190..192 "->"
    Whitespace@192..193 " "
    TYPE_TAPP@193..206
      PATH@193..198
        Ident@193..198 "Shape"
      TYPE_PARAM_LIST@198..206
        LBracket@198..199 "["
        TYPE_INT32@199..204
          Int32Keyword@199..204 "int32"
        RBracket@204..205 "]"
        Whitespace@205..206 " "
    BLOCK@206..337
      LBrace@206..207 "{"
      Whitespace@207..212 "\n    "
      EXPR_MATCH@212..334
        MatchKeyword@212..217 "match"
        Whitespace@217..218 " "
        EXPR_IDENT@218..224
          PATH@218..224
            Ident@218..223 "shape"
            Whitespace@223..224 " "
        MATCH_ARM_LIST@224..334
          LBrace@224..225 "{"
          Whitespace@225..234 "\n        "
          MATCH_ARM@234..258
            PATTERN_CONSTR@234..245
              PATH@234..237
                Ident@234..237 "Dot"
              LParen@237..238 "("
              PATTERN_VARIABLE@238..243
                Ident@238..243 "point"
              RParen@243..244 ")"
              Whitespace@244..245 " "
            FatArrow@245..247 "=>"
            Whitespace@247..248 " "
            EXPR_CALL@248..258
              EXPR_IDENT@248..251
                PATH@248..251
                  Ident@248..251 "Dot"
              ARG_LIST@251..258
                LParen@251..252 "("
                ARG@252..257
                  EXPR_IDENT@252..257
                    PATH@252..257
                      Ident@252..257 "point"
                RParen@257..258 ")"
          Comma@258..259 ","
          Whitespace@259..268 "\n        "
          MATCH_ARM@268..300
            PATTERN_CONSTR@268..283
              PATH@268..275
                Ident@268..275 "Wrapped"
              LParen@275..276 "("
              PATTERN_VARIABLE@276..281
                Ident@276..281 "inner"
              RParen@281..282 ")"
              Whitespace@282..283 " "
            FatArrow@283..285 "=>"
            Whitespace@285..286 " "
            EXPR_CALL@286..300
              EXPR_IDENT@286..293
                PATH@286..293
                  Ident@286..293 "Wrapped"
              ARG_LIST@293..300
                LParen@293..294 "("
                ARG@294..299
                  EXPR_IDENT@294..299
                    PATH@294..299
                      Ident@294..299 "inner"
                RParen@299..300 ")"
          Comma@300..301 ","
          Whitespace@301..310 "\n        "
          MATCH_ARM@310..326
            PATTERN_VARIABLE@310..317
              Ident@310..316 "Origin"
              Whitespace@316..317 " "
            FatArrow@317..319 "=>"
            Whitespace@319..320 " "
            EXPR_IDENT@320..326
              PATH@320..326
                Ident@320..326 "Origin"
          Comma@326..327 ","
          Whitespace@327..332 "\n    "
          RBrace@332..333 "}"
          Whitespace@333..334 "\n"
      RBrace@334..335 "}"
      Whitespace@335..337 "\n\n"
  FN@337..411
    FnKeyword@337..339 "fn"
    Whitespace@339..340 " "
    Ident@340..349 "wrap_unit"
    PARAM_LIST@349..372
      LParen@349..350 "("
      PARAM@350..370
        Ident@350..355 "value"
        Colon@355..356 ":"
        Whitespace@356..357 " "
        TYPE_TAPP@357..370
          PATH@357..364
            Ident@357..364 "Wrapper"
          TYPE_PARAM_LIST@364..370
            LBracket@364..365 "["
            TYPE_UNIT@365..369
              UnitKeyword@365..369 "unit"
            RBracket@369..370 "]"
      RParen@370..371 ")"
      Whitespace@371..372 " "
    Arrow@372..374 "->"
    Whitespace@374..375 " "
    TYPE_TAPP@375..387
      PATH@375..380
        Ident@375..380 "Shape"
      TYPE_PARAM_LIST@380..387
        LBracket@380..381 "["
        TYPE_UNIT@381..385
          UnitKeyword@381..385 "unit"
        RBracket@385..386 "]"
        Whitespace@386..387 " "
    BLOCK@387..411
      LBrace@387..388 "{"
      Whitespace@388..393 "\n    "
      EXPR_CALL@393..408
        EXPR_IDENT@393..400
          PATH@393..400
            Ident@393..400 "Wrapped"
        ARG_LIST@400..408
          LParen@400..401 "("
          ARG@401..406
            EXPR_IDENT@401..406
              PATH@401..406
                Ident@401..406 "value"
          RParen@406..407 ")"
          Whitespace@407..408 "\n"
      RBrace@408..409 "}"
      Whitespace@409..411 "\n\n"
  FN@411..577
    FnKeyword@411..413 "fn"
    Whitespace@413..414 " "
    Ident@414..418 "pick"
    PARAM_LIST@418..470
      LParen@418..419 "("
      PARAM@419..431
        Ident@419..423 "flag"
        Colon@423..424 ":"
        Whitespace@424..425 " "
        TYPE_BOOL@425..429
          BoolKeyword@425..429 "bool"
        Comma@429..430 ","
        Whitespace@430..431 " "
      PARAM@431..445
        Ident@431..436 "point"
        Colon@436..437 ":"
        Whitespace@437..438 " "
        TYPE_TAPP@438..443
          PATH@438..443
            Ident@438..443 "Point"
        Comma@443..444 ","
        Whitespace@444..445 " "
      PARAM@445..468
        Ident@445..452 "wrapper"
        Colon@452..453 ":"
        Whitespace@453..454 " "
        TYPE_TAPP@454..468
          PATH@454..461
            Ident@454..461 "Wrapper"
          TYPE_PARAM_LIST@461..468
            LBracket@461..462 "["
            TYPE_INT32@462..467
              Int32Keyword@462..467 "int32"
            RBracket@467..468 "]"
      RParen@468..469 ")"
      Whitespace@469..470 " "
    Arrow@470..472 "->"
    Whitespace@472..473 " "
    TYPE_TAPP@473..486
      PATH@473..478
        Ident@473..478 "Shape"
      TYPE_PARAM_LIST@478..486
        LBracket@478..479 "["
        TYPE_INT32@479..484
          Int32Keyword@479..484 "int32"
        RBracket@484..485 "]"
        Whitespace@485..486 " "
    BLOCK@486..577
      LBrace@486..487 "{"
      Whitespace@487..492 "\n    "
      EXPR_MATCH@492..574
        MatchKeyword@492..497 "match"
        Whitespace@497..498 " "
        EXPR_IDENT@498..503
          PATH@498..503
            Ident@498..502 "flag"
            Whitespace@502..503 " "
        MATCH_ARM_LIST@503..574
          LBrace@503..504 "{"
          Whitespace@504..513 "\n        "
          MATCH_ARM@513..531
            PATTERN_BOOL@513..518
              TrueKeyword@513..517 "true"
              Whitespace@517..518 " "
            FatArrow@518..520 "=>"
            Whitespace@520..521 " "
            EXPR_CALL@521..531
              EXPR_IDENT@521..524
                PATH@521..524
                  Ident@521..524 "Dot"
              ARG_LIST@524..531
                LParen@524..525 "("
                ARG@525..530
                  EXPR_IDENT@525..530
                    PATH@525..530
                      Ident@525..530 "point"
                RParen@530..531 ")"
          Comma@531..532 ","
          Whitespace@532..541 "\n        "
          MATCH_ARM@541..566
            PATTERN_BOOL@541..547
              FalseKeyword@541..546 "false"
              Whitespace@546..547 " "
            FatArrow@547..549 "=>"
            Whitespace@549..550 " "
            EXPR_CALL@550..566
              EXPR_IDENT@550..557
                PATH@550..557
                  Ident@550..557 "Wrapped"
              ARG_LIST@557..566
                LParen@557..558 "("
                ARG@558..565
                  EXPR_IDENT@558..565
                    PATH@558..565
                      Ident@558..565 "wrapper"
                RParen@565..566 ")"
          Comma@566..567 ","
          Whitespace@567..572 "\n    "
          RBrace@572..573 "}"
          Whitespace@573..574 "\n"
      RBrace@574..575 "}"
      Whitespace@575..577 "\n\n"
  FN@577..714
    FnKeyword@577..579 "fn"
    Whitespace@579..580 " "
    Ident@580..588 "describe"
    GENERIC_LIST@588..591
      LBracket@588..589 "["
      GENERIC@589..590
        Ident@589..590 "T"
      RBracket@590..591 "]"
    PARAM_LIST@591..609
      LParen@591..592 "("
      PARAM@592..607
        Ident@592..597 "shape"
        Colon@597..598 ":"
        Whitespace@598..599 " "
        TYPE_TAPP@599..607
          PATH@599..604
            Ident@599..604 "Shape"
          TYPE_PARAM_LIST@604..607
            LBracket@604..605 "["
            TYPE_TAPP@605..606
              PATH@605..606
                Ident@605..606 "T"
            RBracket@606..607 "]"
      RParen@607..608 ")"
      Whitespace@608..609 " "
    Arrow@609..611 "->"
    Whitespace@611..612 " "
    TYPE_INT32@612..618
      Int32Keyword@612..617 "int32"
      Whitespace@617..618 " "
    BLOCK@618..714
      LBrace@618..619 "{"
      Whitespace@619..624 "\n    "
      EXPR_MATCH@624..711
        MatchKeyword@624..629 "match"
        Whitespace@629..630 " "
        EXPR_IDENT@630..636
          PATH@630..636
            Ident@630..635 "shape"
            Whitespace@635..636 " "
        MATCH_ARM_LIST@636..711
          LBrace@636..637 "{"
          Whitespace@637..646 "\n        "
          MATCH_ARM@646..657
            PATTERN_CONSTR@646..653
              PATH@646..649
                Ident@646..649 "Dot"
              LParen@649..650 "("
              PATTERN_WILDCARD@650..651
                WildcardKeyword@650..651 "_"
              RParen@651..652 ")"
              Whitespace@652..653 " "
            FatArrow@653..655 "=>"
            Whitespace@655..656 " "
            EXPR_INT@656..657
              Int@656..657 "1"
          Comma@657..658 ","
          Whitespace@658..667 "\n        "
          MATCH_ARM@667..682
            PATTERN_CONSTR@667..678
              PATH@667..674
                Ident@667..674 "Wrapped"
              LParen@674..675 "("
              PATTERN_WILDCARD@675..676
                WildcardKeyword@675..676 "_"
              RParen@676..677 ")"
              Whitespace@677..678 " "
            FatArrow@678..680 "=>"
            Whitespace@680..681 " "
            EXPR_INT@681..682
              Int@681..682 "2"
          Comma@682..683 ","
          Whitespace@683..692 "\n        "
          MATCH_ARM@692..703
            PATTERN_VARIABLE@692..699
              Ident@692..698 "Origin"
              Whitespace@698..699 " "
            FatArrow@699..701 "=>"
            Whitespace@701..702 " "
            EXPR_INT@702..703
              Int@702..703 "0"
          Comma@703..704 ","
          Whitespace@704..709 "\n    "
          RBrace@709..710 "}"
          Whitespace@710..711 "\n"
      RBrace@711..712 "}"
      Whitespace@712..714 "\n\n"
  FN@714..966
    FnKeyword@714..716 "fn"
    Whitespace@716..717 " "
    Ident@717..734 "point32_to_string"
    PARAM_LIST@734..749
      LParen@734..735 "("
      PARAM@735..747
        Ident@735..740 "point"
        Colon@740..741 ":"
        Whitespace@741..742 " "
        TYPE_TAPP@742..747
          PATH@742..747
            Ident@742..747 "Point"
      RParen@747..748 ")"
      Whitespace@748..749 " "
    Arrow@749..751 "->"
    Whitespace@751..752 " "
    TYPE_STRING@752..759
      StringKeyword@752..758 "string"
      Whitespace@758..759 " "
    BLOCK@759..966
      LBrace@759..760 "{"
      Whitespace@760..765 "\n    "
      STMT_LET@765..803
        LetKeyword@765..768 "let"
        Whitespace@768..769 " "
        PATTERN_CONSTR@769..790
          PATH@769..775
            Ident@769..774 "Point"
            Whitespace@774..775 " "
          STRUCT_PATTERN_FIELD_LIST@775..790
            LBrace@775..776 "{"
            Whitespace@776..777 " "
            STRUCT_PATTERN_FIELD@777..781
              Ident@777..778 "x"
              Colon@778..779 ":"
              Whitespace@779..780 " "
              PATTERN_VARIABLE@780..781
                Ident@780..781 "x"
            Comma@781..782 ","
            Whitespace@782..783 " "
            STRUCT_PATTERN_FIELD@783..788
              Ident@783..784 "y"
              Colon@784..785 ":"
              Whitespace@785..786 " "
              PATTERN_VARIABLE@786..788
                Ident@786..787 "y"
                Whitespace@787..788 " "
            RBrace@788..789 "}"
            Whitespace@789..790 " "
        Eq@790..791 "="
        Whitespace@791..792 " "
        EXPR_IDENT@792..797
          PATH@792..797
            Ident@792..797 "point"
        Semi@797..798 ";"
        Whitespace@798..803 "\n    "
      STMT_LET@803..856
        LetKeyword@803..806 "let"
        Whitespace@806..807 " "
        PATTERN_VARIABLE@807..814
          Ident@807..813 "with_x"
          Whitespace@813..814 " "
        Eq@814..815 "="
        Whitespace@815..816 " "
        EXPR_BINARY@816..850
          EXPR_STR@816..830
            Str@816..829 "\"Point { x: \""
            Whitespace@829..830 " "
          Plus@830..831 "+"
          Whitespace@831..832 " "
          EXPR_CALL@832..850
            EXPR_IDENT@832..847
              PATH@832..847
                Ident@832..847 "int32_to_string"
            ARG_LIST@847..850
              LParen@847..848 "("
              ARG@848..849
                EXPR_IDENT@848..849
                  PATH@848..849
                    Ident@848..849 "x"
              RParen@849..850 ")"
        Semi@850..851 ";"
        Whitespace@851..856 "\n    "
      STMT_LET@856..897
        LetKeyword@856..859 "let"
        Whitespace@859..860 " "
        PATTERN_VARIABLE@860..873
          Ident@860..872 "with_y_label"
          Whitespace@872..873 " "
        Eq@873..874 "="
        Whitespace@874..875 " "
        EXPR_BINARY@875..891
          EXPR_IDENT@875..882
            PATH@875..882
              Ident@875..881 "with_x"
              Whitespace@881..882 " "
          Plus@882..883 "+"
          Whitespace@883..884 " "
          EXPR_STR@884..891
            Str@884..891 "\", y: \""
        Semi@891..892 ";"
        Whitespace@892..897 "\n    "
      STMT_LET@897..949
        LetKeyword@897..900 "let"
        Whitespace@900..901 " "
        PATTERN_VARIABLE@901..908
          Ident@901..907 "with_y"
          Whitespace@907..908 " "
        Eq@908..909 "="
        Whitespace@909..910 " "
        EXPR_BINARY@910..943
          EXPR_IDENT@910..923
            PATH@910..923
              Ident@910..922 "with_y_label"
              Whitespace@922..923 " "
          Plus@923..924 "+"
          Whitespace@924..925 " "
          EXPR_CALL@925..943
            EXPR_IDENT@925..940
              PATH@925..940
                Ident@925..940 "int32_to_string"
            ARG_LIST@940..943
              LParen@940..941 "("
              ARG@941..942
                EXPR_IDENT@941..942
                  PATH@941..942
                    Ident@941..942 "y"
              RParen@942..943 ")"
        Semi@943..944 ";"
        Whitespace@944..949 "\n    "
      EXPR_BINARY@949..963
        EXPR_IDENT@949..956
          PATH@949..956
            Ident@949..955 "with_y"
            Whitespace@955..956 " "
        Plus@956..957 "+"
        Whitespace@957..958 " "
        EXPR_STR@958..963
          Str@958..962 "\" }\""
          Whitespace@962..963 "\n"
      RBrace@963..964 "}"
      Whitespace@964..966 "\n\n"
  FN@966..1165
    FnKeyword@966..968 "fn"
    Whitespace@968..969 " "
    Ident@969..992 "wrapper_int32_to_string"
    PARAM_LIST@992..1018
      LParen@992..993 "("
      PARAM@993..1016
        Ident@993..1000 "wrapper"
        Colon@1000..1001 ":"
        Whitespace@1001..1002 " "
        TYPE_TAPP@1002..1016
          PATH@1002..1009
            Ident@1002..1009 "Wrapper"
          TYPE_PARAM_LIST@1009..1016
            LBracket@1009..1010 "["
            TYPE_INT32@1010..1015
              Int32Keyword@1010..1015 "int32"
            RBracket@1015..1016 "]"
      RParen@1016..1017 ")"
      Whitespace@1017..1018 " "
    Arrow@1018..1020 "->"
    Whitespace@1020..1021 " "
    TYPE_STRING@1021..1028
      StringKeyword@1021..1027 "string"
      Whitespace@1027..1028 " "
    BLOCK@1028..1165
      LBrace@1028..1029 "{"
      Whitespace@1029..1034 "\n    "
      STMT_LET@1034..1078
        LetKeyword@1034..1037 "let"
        Whitespace@1037..1038 " "
        PATTERN_CONSTR@1038..1063
          PATH@1038..1046
            Ident@1038..1045 "Wrapper"
            Whitespace@1045..1046 " "
          STRUCT_PATTERN_FIELD_LIST@1046..1063
            LBrace@1046..1047 "{"
            Whitespace@1047..1048 " "
            STRUCT_PATTERN_FIELD@1048..1061
              Ident@1048..1053 "value"
              Colon@1053..1054 ":"
              Whitespace@1054..1055 " "
              PATTERN_VARIABLE@1055..1061
                Ident@1055..1060 "value"
                Whitespace@1060..1061 " "
            RBrace@1061..1062 "}"
            Whitespace@1062..1063 " "
        Eq@1063..1064 "="
        Whitespace@1064..1065 " "
        EXPR_IDENT@1065..1072
          PATH@1065..1072
            Ident@1065..1072 "wrapper"
        Semi@1072..1073 ";"
        Whitespace@1073..1078 "\n    "
      STMT_LET@1078..1148
        LetKeyword@1078..1081 "let"
        Whitespace@1081..1082 " "
        PATTERN_VARIABLE@1082..1089
          Ident@1082..1088 "prefix"
          Whitespace@1088..1089 " "
        Eq@1089..1090 "="
        Whitespace@1090..1091 " "
        EXPR_BINARY@1091..1142
          EXPR_STR@1091..1118
            Str@1091..1117 "\"Wrapper[int32] { val ..."
            Whitespace@1117..1118 " "
          Plus@1118..1119 "+"
          Whitespace@1119..1120 " "
          EXPR_CALL@1120..1142
            EXPR_IDENT@1120..1135
              PATH@1120..1135
                Ident@1120..1135 "int32_to_string"
            ARG_LIST@1135..1142
              LParen@1135..1136 "("
              ARG@1136..1141
                EXPR_IDENT@1136..1141
                  PATH@1136..1141
                    Ident@1136..1141 "value"
              RParen@1141..1142 ")"
        Semi@1142..1143 ";"
        Whitespace@1143..1148 "\n    "
      EXPR_BINARY@1148..1162
        EXPR_IDENT@1148..1155
          PATH@1148..1155
            Ident@1148..1154 "prefix"
            Whitespace@1154..1155 " "
        Plus@1155..1156 "+"
        Whitespace@1156..1157 " "
        EXPR_STR@1157..1162
          Str@1157..1161 "\" }\""
          Whitespace@1161..1162 "\n"
      RBrace@1162..1163 "}"
      Whitespace@1163..1165 "\n\n"
  FN@1165..1360
    FnKeyword@1165..1167 "fn"
    Whitespace@1167..1168 " "
    Ident@1168..1190 "wrapper_unit_to_string"
    PARAM_LIST@1190..1215
      LParen@1190..1191 "("
      PARAM@1191..1213
        Ident@1191..1198 "wrapper"
        Colon@1198..1199 ":"
        Whitespace@1199..1200 " "
        TYPE_TAPP@1200..1213
          PATH@1200..1207
            Ident@1200..1207 "Wrapper"
          TYPE_PARAM_LIST@1207..1213
            LBracket@1207..1208 "["
            TYPE_UNIT@1208..1212
              UnitKeyword@1208..1212 "unit"
            RBracket@1212..1213 "]"
      RParen@1213..1214 ")"
      Whitespace@1214..1215 " "
    Arrow@1215..1217 "->"
    Whitespace@1217..1218 " "
    TYPE_STRING@1218..1225
      StringKeyword@1218..1224 "string"
      Whitespace@1224..1225 " "
    BLOCK@1225..1360
      LBrace@1225..1226 "{"
      Whitespace@1226..1231 "\n    "
      STMT_LET@1231..1275
        LetKeyword@1231..1234 "let"
        Whitespace@1234..1235 " "
        PATTERN_CONSTR@1235..1260
          PATH@1235..1243
            Ident@1235..1242 "Wrapper"
            Whitespace@1242..1243 " "
          STRUCT_PATTERN_FIELD_LIST@1243..1260
            LBrace@1243..1244 "{"
            Whitespace@1244..1245 " "
            STRUCT_PATTERN_FIELD@1245..1258
              Ident@1245..1250 "value"
              Colon@1250..1251 ":"
              Whitespace@1251..1252 " "
              PATTERN_VARIABLE@1252..1258
                Ident@1252..1257 "value"
                Whitespace@1257..1258 " "
            RBrace@1258..1259 "}"
            Whitespace@1259..1260 " "
        Eq@1260..1261 "="
        Whitespace@1261..1262 " "
        EXPR_IDENT@1262..1269
          PATH@1262..1269
            Ident@1262..1269 "wrapper"
        Semi@1269..1270 ";"
        Whitespace@1270..1275 "\n    "
      STMT_LET@1275..1343
        LetKeyword@1275..1278 "let"
        Whitespace@1278..1279 " "
        PATTERN_VARIABLE@1279..1286
          Ident@1279..1285 "prefix"
          Whitespace@1285..1286 " "
        Eq@1286..1287 "="
        Whitespace@1287..1288 " "
        EXPR_BINARY@1288..1337
          EXPR_STR@1288..1314
            Str@1288..1313 "\"Wrapper[unit] { valu ..."
            Whitespace@1313..1314 " "
          Plus@1314..1315 "+"
          Whitespace@1315..1316 " "
          EXPR_CALL@1316..1337
            EXPR_IDENT@1316..1330
              PATH@1316..1330
                Ident@1316..1330 "unit_to_string"
            ARG_LIST@1330..1337
              LParen@1330..1331 "("
              ARG@1331..1336
                EXPR_IDENT@1331..1336
                  PATH@1331..1336
                    Ident@1331..1336 "value"
              RParen@1336..1337 ")"
        Semi@1337..1338 ";"
        Whitespace@1338..1343 "\n    "
      EXPR_BINARY@1343..1357
        EXPR_IDENT@1343..1350
          PATH@1343..1350
            Ident@1343..1349 "prefix"
            Whitespace@1349..1350 " "
        Plus@1350..1351 "+"
        Whitespace@1351..1352 " "
        EXPR_STR@1352..1357
          Str@1352..1356 "\" }\""
          Whitespace@1356..1357 "\n"
      RBrace@1357..1358 "}"
      Whitespace@1358..1360 "\n\n"
  FN@1360..1752
    FnKeyword@1360..1362 "fn"
    Whitespace@1362..1363 " "
    Ident@1363..1384 "shape_int32_to_string"
    PARAM_LIST@1384..1406
      LParen@1384..1385 "("
      PARAM@1385..1404
        Ident@1385..1390 "shape"
        Colon@1390..1391 ":"
        Whitespace@1391..1392 " "
        TYPE_TAPP@1392..1404
          PATH@1392..1397
            Ident@1392..1397 "Shape"
          TYPE_PARAM_LIST@1397..1404
            LBracket@1397..1398 "["
            TYPE_INT32@1398..1403
              Int32Keyword@1398..1403 "int32"
            RBracket@1403..1404 "]"
      RParen@1404..1405 ")"
      Whitespace@1405..1406 " "
    Arrow@1406..1408 "->"
    Whitespace@1408..1409 " "
    TYPE_STRING@1409..1416
      StringKeyword@1409..1415 "string"
      Whitespace@1415..1416 " "
    BLOCK@1416..1752
      LBrace@1416..1417 "{"
      Whitespace@1417..1422 "\n    "
      EXPR_MATCH@1422..1749
        MatchKeyword@1422..1427 "match"
        Whitespace@1427..1428 " "
        EXPR_IDENT@1428..1434
          PATH@1428..1434
            Ident@1428..1433 "shape"
            Whitespace@1433..1434 " "
        MATCH_ARM_LIST@1434..1749
          LBrace@1434..1435 "{"
          Whitespace@1435..1444 "\n        "
          MATCH_ARM@1444..1561
            PATTERN_CONSTR@1444..1455
              PATH@1444..1447
                Ident@1444..1447 "Dot"
              LParen@1447..1448 "("
              PATTERN_VARIABLE@1448..1453
                Ident@1448..1453 "point"
              RParen@1453..1454 ")"
              Whitespace@1454..1455 " "
            FatArrow@1455..1457 "=>"
            Whitespace@1457..1458 " "
            BLOCK@1458..1561
              LBrace@1458..1459 "{"
              Whitespace@1459..1472 "\n            "
              STMT_LET@1472..1539
                LetKeyword@1472..1475 "let"
                Whitespace@1475..1476 " "
                PATTERN_VARIABLE@1476..1483
                  Ident@1476..1482 "prefix"
                  Whitespace@1482..1483 " "
                Eq@1483..1484 "="
                Whitespace@1484..1485 " "
                EXPR_BINARY@1485..1525
                  EXPR_STR@1485..1499
                    Str@1485..1498 "\"Shape::Dot(\""
                    Whitespace@1498..1499 " "
                  Plus@1499..1500 "+"
                  Whitespace@1500..1501 " "
                  EXPR_CALL@1501..1525
                    EXPR_IDENT@1501..1518
                      PATH@1501..1518
                        Ident@1501..1518 "point32_to_string"
                    ARG_LIST@1518..1525
                      LParen@1518..1519 "("
                      ARG@1519..1524
                        EXPR_IDENT@1519..1524
                          PATH@1519..1524
                            Ident@1519..1524 "point"
                      RParen@1524..1525 ")"
                Semi@1525..1526 ";"
                Whitespace@1526..1539 "\n            "
              EXPR_BINARY@1539..1560
                EXPR_IDENT@1539..1546
                  PATH@1539..1546
                    Ident@1539..1545 "prefix"
                    Whitespace@1545..1546 " "
                Plus@1546..1547 "+"
                Whitespace@1547..1548 " "
                EXPR_STR@1548..1560
                  Str@1548..1551 "\")\""
                  Whitespace@1551..1560 "\n        "
              RBrace@1560..1561 "}"
          Comma@1561..1562 ","
          Whitespace@1562..1571 "\n        "
          MATCH_ARM@1571..1706
            PATTERN_CONSTR@1571..1588
              PATH@1571..1578
                Ident@1571..1578 "Wrapped"
              LParen@1578..1579 "("
              PATTERN_VARIABLE@1579..1586
                Ident@1579..1586 "wrapper"
              RParen@1586..1587 ")"
              Whitespace@1587..1588 " "
            FatArrow@1588..1590 "=>"
            Whitespace@1590..1591 " "
            BLOCK@1591..1706
              LBrace@1591..1592 "{"
              Whitespace@1592..1605 "\n            "
              STMT_LET@1605..1684
                LetKeyword@1605..1608 "let"
                Whitespace@1608..1609 " "
                PATTERN_VARIABLE@1609..1616
                  Ident@1609..1615 "prefix"
                  Whitespace@1615..1616 " "
                Eq@1616..1617 "="
                Whitespace@1617..1618 " "
                EXPR_BINARY@1618..1670
                  EXPR_STR@1618..1636
                    Str@1618..1635 "\"Shape::Wrapped(\""
                    Whitespace@1635..1636 " "
                  Plus@1636..1637 "+"
                  Whitespace@1637..1638 " "
                  EXPR_CALL@1638..1670
                    EXPR_IDENT@1638..1661
                      PATH@1638..1661
                        Ident@1638..1661 "wrapper_int32_to_string"
                    ARG_LIST@1661..1670
                      LParen@1661..1662 "("
                      ARG@1662..1669
                        EXPR_IDENT@1662..1669
                          PATH@1662..1669
                            Ident@1662..1669 "wrapper"
                      RParen@1669..1670 ")"
                Semi@1670..1671 ";"
                Whitespace@1671..1684 "\n            "
              EXPR_BINARY@1684..1705
                EXPR_IDENT@1684..1691
                  PATH@1684..1691
                    Ident@1684..1690 "prefix"
                    Whitespace@1690..1691 " "
                Plus@1691..1692 "+"
                Whitespace@1692..1693 " "
                EXPR_STR@1693..1705
                  Str@1693..1696 "\")\""
                  Whitespace@1696..1705 "\n        "
              RBrace@1705..1706 "}"
          Comma@1706..1707 ","
          Whitespace@1707..1716 "\n        "
          MATCH_ARM@1716..1741
            PATTERN_VARIABLE@1716..1723
              Ident@1716..1722 "Origin"
              Whitespace@1722..1723 " "
            FatArrow@1723..1725 "=>"
            Whitespace@1725..1726 " "
            EXPR_STR@1726..1741
              Str@1726..1741 "\"Shape::Origin\""
          Comma@1741..1742 ","
          Whitespace@1742..1747 "\n    "
          RBrace@1747..1748 "}"
          Whitespace@1748..1749 "\n"
      RBrace@1749..1750 "}"
      Whitespace@1750..1752 "\n\n"
  FN@1752..2141
    FnKeyword@1752..1754 "fn"
    Whitespace@1754..1755 " "
    Ident@1755..1775 "shape_unit_to_string"
    PARAM_LIST@1775..1796
      LParen@1775..1776 "("
      PARAM@1776..1794
        Ident@1776..1781 "shape"
        Colon@1781..1782 ":"
        Whitespace@1782..1783 " "
        TYPE_TAPP@1783..1794
          PATH@1783..1788
            Ident@1783..1788 "Shape"
          TYPE_PARAM_LIST@1788..1794
            LBracket@1788..1789 "["
            TYPE_UNIT@1789..1793
              UnitKeyword@1789..1793 "unit"
            RBracket@1793..1794 "]"
      RParen@1794..1795 ")"
      Whitespace@1795..1796 " "
    Arrow@1796..1798 "->"
    Whitespace@1798..1799 " "
    TYPE_STRING@1799..1806
      StringKeyword@1799..1805 "string"
      Whitespace@1805..1806 " "
    BLOCK@1806..2141
      LBrace@1806..1807 "{"
      Whitespace@1807..1812 "\n    "
      EXPR_MATCH@1812..2138
        MatchKeyword@1812..1817 "match"
        Whitespace@1817..1818 " "
        EXPR_IDENT@1818..1824
          PATH@1818..1824
            Ident@1818..1823 "shape"
            Whitespace@1823..1824 " "
        MATCH_ARM_LIST@1824..2138
          LBrace@1824..1825 "{"
          Whitespace@1825..1834 "\n        "
          MATCH_ARM@1834..1951
            PATTERN_CONSTR@1834..1845
              PATH@1834..1837
                Ident@1834..1837 "Dot"
              LParen@1837..1838 "("
              PATTERN_VARIABLE@1838..1843
                Ident@1838..1843 "point"
              RParen@1843..1844 ")"
              Whitespace@1844..1845 " "
            FatArrow@1845..1847 "=>"
            Whitespace@1847..1848 " "
            BLOCK@1848..1951
              LBrace@1848..1849 "{"
              Whitespace@1849..1862 "\n            "
              STMT_LET@1862..1929
                LetKeyword@1862..1865 "let"
                Whitespace@1865..1866 " "
                PATTERN_VARIABLE@1866..1873
                  Ident@1866..1872 "prefix"
                  Whitespace@1872..1873 " "
                Eq@1873..1874 "="
                Whitespace@1874..1875 " "
                EXPR_BINARY@1875..1915
                  EXPR_STR@1875..1889
                    Str@1875..1888 "\"Shape::Dot(\""
                    Whitespace@1888..1889 " "
                  Plus@1889..1890 "+"
                  Whitespace@1890..1891 " "
                  EXPR_CALL@1891..1915
                    EXPR_IDENT@1891..1908
                      PATH@1891..1908
                        Ident@1891..1908 "point32_to_string"
                    ARG_LIST@1908..1915
                      LParen@1908..1909 "("
                      ARG@1909..1914
                        EXPR_IDENT@1909..1914
                          PATH@1909..1914
                            Ident@1909..1914 "point"
                      RParen@1914..1915 ")"
                Semi@1915..1916 ";"
                Whitespace@1916..1929 "\n            "
              EXPR_BINARY@1929..1950
                EXPR_IDENT@1929..1936
                  PATH@1929..1936
                    Ident@1929..1935 "prefix"
                    Whitespace@1935..1936 " "
                Plus@1936..1937 "+"
                Whitespace@1937..1938 " "
                EXPR_STR@1938..1950
                  Str@1938..1941 "\")\""
                  Whitespace@1941..1950 "\n        "
              RBrace@1950..1951 "}"
          Comma@1951..1952 ","
          Whitespace@1952..1961 "\n        "
          MATCH_ARM@1961..2095
            PATTERN_CONSTR@1961..1978
              PATH@1961..1968
                Ident@1961..1968 "Wrapped"
              LParen@1968..1969 "("
              PATTERN_VARIABLE@1969..1976
                Ident@1969..1976 "wrapper"
              RParen@1976..1977 ")"
              Whitespace@1977..1978 " "
            FatArrow@1978..1980 "=>"
            Whitespace@1980..1981 " "
            BLOCK@1981..2095
              LBrace@1981..1982 "{"
              Whitespace@1982..1995 "\n            "
              STMT_LET@1995..2073
                LetKeyword@1995..1998 "let"
                Whitespace@1998..1999 " "
                PATTERN_VARIABLE@1999..2006
                  Ident@1999..2005 "prefix"
                  Whitespace@2005..2006 " "
                Eq@2006..2007 "="
                Whitespace@2007..2008 " "
                EXPR_BINARY@2008..2059
                  EXPR_STR@2008..2026
                    Str@2008..2025 "\"Shape::Wrapped(\""
                    Whitespace@2025..2026 " "
                  Plus@2026..2027 "+"
                  Whitespace@2027..2028 " "
                  EXPR_CALL@2028..2059
                    EXPR_IDENT@2028..2050
                      PATH@2028..2050
                        Ident@2028..2050 "wrapper_unit_to_string"
                    ARG_LIST@2050..2059
                      LParen@2050..2051 "("
                      ARG@2051..2058
                        EXPR_IDENT@2051..2058
                          PATH@2051..2058
                            Ident@2051..2058 "wrapper"
                      RParen@2058..2059 ")"
                Semi@2059..2060 ";"
                Whitespace@2060..2073 "\n            "
              EXPR_BINARY@2073..2094
                EXPR_IDENT@2073..2080
                  PATH@2073..2080
                    Ident@2073..2079 "prefix"
                    Whitespace@2079..2080 " "
                Plus@2080..2081 "+"
                Whitespace@2081..2082 " "
                EXPR_STR@2082..2094
                  Str@2082..2085 "\")\""
                  Whitespace@2085..2094 "\n        "
              RBrace@2094..2095 "}"
          Comma@2095..2096 ","
          Whitespace@2096..2105 "\n        "
          MATCH_ARM@2105..2130
            PATTERN_VARIABLE@2105..2112
              Ident@2105..2111 "Origin"
              Whitespace@2111..2112 " "
            FatArrow@2112..2114 "=>"
            Whitespace@2114..2115 " "
            EXPR_STR@2115..2130
              Str@2115..2130 "\"Shape::Origin\""
          Comma@2130..2131 ","
          Whitespace@2131..2136 "\n    "
          RBrace@2136..2137 "}"
          Whitespace@2137..2138 "\n"
      RBrace@2138..2139 "}"
      Whitespace@2139..2141 "\n\n"
  FN@2141..2806
    FnKeyword@2141..2143 "fn"
    Whitespace@2143..2144 " "
    Ident@2144..2148 "main"
    PARAM_LIST@2148..2151
      LParen@2148..2149 "("
      RParen@2149..2150 ")"
      Whitespace@2150..2151 " "
    BLOCK@2151..2806
      LBrace@2151..2152 "{"
      Whitespace@2152..2157 "\n    "
      STMT_LET@2157..2210
        LetKeyword@2157..2160 "let"
        Whitespace@2160..2161 " "
        PATTERN_WILDCARD@2161..2163
          WildcardKeyword@2161..2162 "_"
          Whitespace@2162..2163 " "
        Eq@2163..2164 "="
        Whitespace@2164..2165 " "
        EXPR_CALL@2165..2204
          EXPR_IDENT@2165..2172
            PATH@2165..2172
              Ident@2165..2172 "println"
          ARG_LIST@2172..2204
            LParen@2172..2173 "("
            ARG@2173..2203
              EXPR_CALL@2173..2203
                EXPR_IDENT@2173..2190
                  PATH@2173..2190
                    Ident@2173..2190 "point32_to_string"
                ARG_LIST@2190..2203
                  LParen@2190..2191 "("
                  ARG@2191..2202
                    EXPR_CALL@2191..2202
                      EXPR_IDENT@2191..2196
                        PATH@2191..2196
                          Ident@2191..2196 "Point"
                      ARG_LIST@2196..2202
                        LParen@2196..2197 "("
                        ARG@2197..2200
                          EXPR_INT@2197..2198
                            Int@2197..2198 "3"
                          Comma@2198..2199 ","
                          Whitespace@2199..2200 " "
                        ARG@2200..2201
                          EXPR_INT@2200..2201
                            Int@2200..2201 "4"
                        RParen@2201..2202 ")"
                  RParen@2202..2203 ")"
            RParen@2203..2204 ")"
        Semi@2204..2205 ";"
        Whitespace@2205..2210 "\n    "
      STMT_LET@2210..2268
        LetKeyword@2210..2213 "let"
        Whitespace@2213..2214 " "
        PATTERN_WILDCARD@2214..2216
          WildcardKeyword@2214..2215 "_"
          Whitespace@2215..2216 " "
        Eq@2216..2217 "="
        Whitespace@2217..2218 " "
        EXPR_CALL@2218..2262
          EXPR_IDENT@2218..2225
            PATH@2218..2225
              Ident@2218..2225 "println"
          ARG_LIST@2225..2262
            LParen@2225..2226 "("
            ARG@2226..2261
              EXPR_CALL@2226..2261
                EXPR_IDENT@2226..2249
                  PATH@2226..2249
                    Ident@2226..2249 "wrapper_int32_to_string"
                ARG_LIST@2249..2261
                  LParen@2249..2250 "("
                  ARG@2250..2260
                    EXPR_CALL@2250..2260
                      EXPR_IDENT@2250..2257
                        PATH@2250..2257
                          Ident@2250..2257 "Wrapper"
                      ARG_LIST@2257..2260
                        LParen@2257..2258 "("
                        ARG@2258..2259
                          EXPR_INT@2258..2259
                            Int@2258..2259 "7"
                        RParen@2259..2260 ")"
                  RParen@2260..2261 ")"
            RParen@2261..2262 ")"
        Semi@2262..2263 ";"
        Whitespace@2263..2268 "\n    "
      STMT_LET@2268..2327
        LetKeyword@2268..2271 "let"
        Whitespace@2271..2272 " "
        PATTERN_WILDCARD@2272..2274
          WildcardKeyword@2272..2273 "_"
          Whitespace@2273..2274 " "
        Eq@2274..2275 "="
        Whitespace@2275..2276 " "
        EXPR_CALL@2276..2320
          EXPR_IDENT@2276..2283
            PATH@2276..2283
              Ident@2276..2283 "println"
          ARG_LIST@2283..2320
            LParen@2283..2284 "("
            ARG@2284..2319
              EXPR_CALL@2284..2319
                EXPR_IDENT@2284..2306
                  PATH@2284..2306
                    Ident@2284..2306 "wrapper_unit_to_string"
                ARG_LIST@2306..2319
                  LParen@2306..2307 "("
                  ARG@2307..2318
                    EXPR_CALL@2307..2318
                      EXPR_IDENT@2307..2314
                        PATH@2307..2314
                          Ident@2307..2314 "Wrapper"
                      ARG_LIST@2314..2318
                        LParen@2314..2315 "("
                        ARG@2315..2317
                          EXPR_UNIT@2315..2317
                            LParen@2315..2316 "("
                            RParen@2316..2317 ")"
                        RParen@2317..2318 ")"
                  RParen@2318..2319 ")"
            RParen@2319..2320 ")"
        Semi@2320..2321 ";"
        Whitespace@2321..2327 "\n\n    "
      STMT_LET@2327..2372
        LetKeyword@2327..2330 "let"
        Whitespace@2330..2331 " "
        PATTERN_VARIABLE@2331..2346
          Ident@2331..2345 "bounced_origin"
          Whitespace@2345..2346 " "
        Eq@2346..2347 "="
        Whitespace@2347..2348 " "
        EXPR_CALL@2348..2366
          EXPR_IDENT@2348..2358
            PATH@2348..2358
              Ident@2348..2358 "bounce_int"
          ARG_LIST@2358..2366
            LParen@2358..2359 "("
            ARG@2359..2365
              EXPR_IDENT@2359..2365
                PATH@2359..2365
                  Ident@2359..2365 "Origin"
            RParen@2365..2366 ")"
        Semi@2366..2367 ";"
        Whitespace@2367..2372 "\n    "
      STMT_LET@2372..2434
        LetKeyword@2372..2375 "let"
        Whitespace@2375..2376 " "
        PATTERN_WILDCARD@2376..2378
          WildcardKeyword@2376..2377 "_"
          Whitespace@2377..2378 " "
        Eq@2378..2379 "="
        Whitespace@2379..2380 " "
        EXPR_CALL@2380..2428
          EXPR_IDENT@2380..2387
            PATH@2380..2387
              Ident@2380..2387 "println"
          ARG_LIST@2387..2428
            LParen@2387..2388 "("
            ARG@2388..2427
              EXPR_CALL@2388..2427
                EXPR_IDENT@2388..2409
                  PATH@2388..2409
                    Ident@2388..2409 "shape_int32_to_string"
                ARG_LIST@2409..2427
                  LParen@2409..2410 "("
                  ARG@2410..2426
                    EXPR_CALL@2410..2426
                      EXPR_IDENT@2410..2413
                        PATH@2410..2413
                          Ident@2410..2413 "Dot"
                      ARG_LIST@2413..2426
                        LParen@2413..2414 "("
                        ARG@2414..2425
                          EXPR_CALL@2414..2425
                            EXPR_IDENT@2414..2419
                              PATH@2414..2419
                                Ident@2414..2419 "Point"
                            ARG_LIST@2419..2425
                              LParen@2419..2420 "("
                              ARG@2420..2423
                                EXPR_INT@2420..2421
                                  Int@2420..2421 "3"
                                Comma@2421..2422 ","
                                Whitespace@2422..2423 " "
                              ARG@2423..2424
                                EXPR_INT@2423..2424
                                  Int@2423..2424 "4"
                              RParen@2424..2425 ")"
                        RParen@2425..2426 ")"
                  RParen@2426..2427 ")"
            RParen@2427..2428 ")"
        Semi@2428..2429 ";"
        Whitespace@2429..2434 "\n    "
      STMT_LET@2434..2499
        LetKeyword@2434..2437 "let"
        Whitespace@2437..2438 " "
        PATTERN_WILDCARD@2438..2440
          WildcardKeyword@2438..2439 "_"
          Whitespace@2439..2440 " "
        Eq@2440..2441 "="
        Whitespace@2441..2442 " "
        EXPR_CALL@2442..2493
          EXPR_IDENT@2442..2449
            PATH@2442..2449
              Ident@2442..2449 "println"
          ARG_LIST@2449..2493
            LParen@2449..2450 "("
            ARG@2450..2492
              EXPR_CALL@2450..2492
                EXPR_IDENT@2450..2471
                  PATH@2450..2471
                    Ident@2450..2471 "shape_int32_to_string"
                ARG_LIST@2471..2492
                  LParen@2471..2472 "("
                  ARG@2472..2491
                    EXPR_CALL@2472..2491
                      EXPR_IDENT@2472..2479
                        PATH@2472..2479
                          Ident@2472..2479 "Wrapped"
                      ARG_LIST@2479..2491
                        LParen@2479..2480 "("
                        ARG@2480..2490
                          EXPR_CALL@2480..2490
                            EXPR_IDENT@2480..2487
                              PATH@2480..2487
                                Ident@2480..2487 "Wrapper"
                            ARG_LIST@2487..2490
                              LParen@2487..2488 "("
                              ARG@2488..2489
                                EXPR_INT@2488..2489
                                  Int@2488..2489 "7"
                              RParen@2489..2490 ")"
                        RParen@2490..2491 ")"
                  RParen@2491..2492 ")"
            RParen@2492..2493 ")"
        Semi@2493..2494 ";"
        Whitespace@2494..2499 "\n    "
      STMT_LET@2499..2559
        LetKeyword@2499..2502 "let"
        Whitespace@2502..2503 " "
        PATTERN_WILDCARD@2503..2505
          WildcardKeyword@2503..2504 "_"
          Whitespace@2504..2505 " "
        Eq@2505..2506 "="
        Whitespace@2506..2507 " "
        EXPR_CALL@2507..2553
          EXPR_IDENT@2507..2514
            PATH@2507..2514
              Ident@2507..2514 "println"
          ARG_LIST@2514..2553
            LParen@2514..2515 "("
            ARG@2515..2552
              EXPR_CALL@2515..2552
                EXPR_IDENT@2515..2536
                  PATH@2515..2536
                    Ident@2515..2536 "shape_int32_to_string"
                ARG_LIST@2536..2552
                  LParen@2536..2537 "("
                  ARG@2537..2551
                    EXPR_IDENT@2537..2551
                      PATH@2537..2551
                        Ident@2537..2551 "bounced_origin"
                  RParen@2551..2552 ")"
            RParen@2552..2553 ")"
        Semi@2553..2554 ";"
        Whitespace@2554..2559 "\n    "
      STMT_LET@2559..2620
        LetKeyword@2559..2562 "let"
        Whitespace@2562..2563 " "
        PATTERN_WILDCARD@2563..2565
          WildcardKeyword@2563..2564 "_"
          Whitespace@2564..2565 " "
        Eq@2565..2566 "="
        Whitespace@2566..2567 " "
        EXPR_CALL@2567..2614
          EXPR_IDENT@2567..2574
            PATH@2567..2574
              Ident@2567..2574 "println"
          ARG_LIST@2574..2614
            LParen@2574..2575 "("
            ARG@2575..2613
              EXPR_CALL@2575..2613
                EXPR_IDENT@2575..2595
                  PATH@2575..2595
                    Ident@2575..2595 "shape_unit_to_string"
                ARG_LIST@2595..2613
                  LParen@2595..2596 "("
                  ARG@2596..2612
                    EXPR_CALL@2596..2612
                      EXPR_IDENT@2596..2599
                        PATH@2596..2599
                          Ident@2596..2599 "Dot"
                      ARG_LIST@2599..2612
                        LParen@2599..2600 "("
                        ARG@2600..2611
                          EXPR_CALL@2600..2611
                            EXPR_IDENT@2600..2605
                              PATH@2600..2605
                                Ident@2600..2605 "Point"
                            ARG_LIST@2605..2611
                              LParen@2605..2606 "("
                              ARG@2606..2609
                                EXPR_INT@2606..2607
                                  Int@2606..2607 "3"
                                Comma@2607..2608 ","
                                Whitespace@2608..2609 " "
                              ARG@2609..2610
                                EXPR_INT@2609..2610
                                  Int@2609..2610 "4"
                              RParen@2610..2611 ")"
                        RParen@2611..2612 ")"
                  RParen@2612..2613 ")"
            RParen@2613..2614 ")"
        Semi@2614..2615 ";"
        Whitespace@2615..2620 "\n    "
      STMT_LET@2620..2685
        LetKeyword@2620..2623 "let"
        Whitespace@2623..2624 " "
        PATTERN_WILDCARD@2624..2626
          WildcardKeyword@2624..2625 "_"
          Whitespace@2625..2626 " "
        Eq@2626..2627 "="
        Whitespace@2627..2628 " "
        EXPR_CALL@2628..2679
          EXPR_IDENT@2628..2635
            PATH@2628..2635
              Ident@2628..2635 "println"
          ARG_LIST@2635..2679
            LParen@2635..2636 "("
            ARG@2636..2678
              EXPR_CALL@2636..2678
                EXPR_IDENT@2636..2656
                  PATH@2636..2656
                    Ident@2636..2656 "shape_unit_to_string"
                ARG_LIST@2656..2678
                  LParen@2656..2657 "("
                  ARG@2657..2677
                    EXPR_CALL@2657..2677
                      EXPR_IDENT@2657..2664
                        PATH@2657..2664
                          Ident@2657..2664 "Wrapped"
                      ARG_LIST@2664..2677
                        LParen@2664..2665 "("
                        ARG@2665..2676
                          EXPR_CALL@2665..2676
                            EXPR_IDENT@2665..2672
                              PATH@2665..2672
                                Ident@2665..2672 "Wrapper"
                            ARG_LIST@2672..2676
                              LParen@2672..2673 "("
                              ARG@2673..2675
                                EXPR_UNIT@2673..2675
                                  LParen@2673..2674 "("
                                  RParen@2674..2675 ")"
                              RParen@2675..2676 ")"
                        RParen@2676..2677 ")"
                  RParen@2677..2678 ")"
            RParen@2678..2679 ")"
        Semi@2679..2680 ";"
        Whitespace@2680..2685 "\n    "
      STMT_LET@2685..2737
        LetKeyword@2685..2688 "let"
        Whitespace@2688..2689 " "
        PATTERN_WILDCARD@2689..2691
          WildcardKeyword@2689..2690 "_"
          Whitespace@2690..2691 " "
        Eq@2691..2692 "="
        Whitespace@2692..2693 " "
        EXPR_CALL@2693..2730
          EXPR_IDENT@2693..2700
            PATH@2693..2700
              Ident@2693..2700 "println"
          ARG_LIST@2700..2730
            LParen@2700..2701 "("
            ARG@2701..2729
              EXPR_CALL@2701..2729
                EXPR_IDENT@2701..2721
                  PATH@2701..2721
                    Ident@2701..2721 "shape_unit_to_string"
                ARG_LIST@2721..2729
                  LParen@2721..2722 "("
                  ARG@2722..2728
                    EXPR_IDENT@2722..2728
                      PATH@2722..2728
                        Ident@2722..2728 "Origin"
                  RParen@2728..2729 ")"
            RParen@2729..2730 ")"
        Semi@2730..2731 ";"
        Whitespace@2731..2737 "\n\n    "
      STMT_LET@2737..2779
        LetKeyword@2737..2740 "let"
        Whitespace@2740..2741 " "
        PATTERN_WILDCARD@2741..2743
          WildcardKeyword@2741..2742 "_"
          Whitespace@2742..2743 " "
        Eq@2743..2744 "="
        Whitespace@2744..2745 " "
        EXPR_CALL@2745..2773
          EXPR_IDENT@2745..2753
            PATH@2745..2753
              Ident@2745..2753 "describe"
          ARG_LIST@2753..2773
            LParen@2753..2754 "("
            ARG@2754..2772
              EXPR_CALL@2754..2772
                EXPR_IDENT@2754..2764
                  PATH@2754..2764
                    Ident@2754..2764 "bounce_int"
                ARG_LIST@2764..2772
                  LParen@2764..2765 "("
                  ARG@2765..2771
                    EXPR_IDENT@2765..2771
                      PATH@2765..2771
                        Ident@2765..2771 "Origin"
                  RParen@2771..2772 ")"
            RParen@2772..2773 ")"
        Semi@2773..2774 ";"
        Whitespace@2774..2779 "\n    "
      EXPR_CALL@2779..2804
        EXPR_IDENT@2779..2786
          PATH@2779..2786
            Ident@2779..2786 "println"
        ARG_LIST@2786..2804
          LParen@2786..2787 "("
          ARG@2787..2802
            EXPR_STR@2787..2802
              Str@2787..2802 "\"struct enums!\""
          RParen@2802..2803 ")"
          Whitespace@2803..2804 "\n"
      RBrace@2804..2805 "}"
      Whitespace@2805..2806 "\n"