FILE@0..1074
  FN@0..1074
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..1074
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..49
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..34
          Ident@28..34 "native"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT@36..40
          IntKeyword@36..39 "int"
          Whitespace@39..40 " "
        Eq@40..41 "="
        Whitespace@41..42 " "
        EXPR_INT@42..43
          Int@42..43 "7"
        Semi@43..44 ";"
        Whitespace@44..49 "\n    "
      STMT_LET@49..74
        LetKeyword@49..52 "let"
        Whitespace@52..53 " "
        PATTERN_VARIABLE@53..58
          Ident@53..58 "small"
        Colon@58..59 ":"
        Whitespace@59..60 " "
        TYPE_INT8@60..65
          Int8Keyword@60..64 "int8"
          Whitespace@64..65 " "
        Eq@65..66 "="
        Whitespace@66..67 " "
        EXPR_INT@67..68
          Int@67..68 "8"
        Semi@68..69 ";"
        Whitespace@69..74 "\n    "
      STMT_LET@74..103
        LetKeyword@74..77 "let"
        Whitespace@77..78 " "
        PATTERN_VARIABLE@78..86
          Ident@78..86 "unsigned"
        Colon@86..87 ":"
        Whitespace@87..88 " "
        TYPE_UINT8@88..94
          Uint8Keyword@88..93 "uint8"
          Whitespace@93..94 " "
        Eq@94..95 "="
        Whitespace@95..96 " "
        EXPR_INT@96..97
          Int@96..97 "9"
        Semi@97..98 ";"
        Whitespace@98..103 "\n    "
      STMT_LET@103..252
        LetKeyword@103..106 "let"
        Whitespace@106..107 " "
        PATTERN_VARIABLE@107..112
          Ident@107..111 "text"
          Whitespace@111..112 " "
        Eq@112..113 "="
        Whitespace@113..114 " "
        EXPR_BINARY@114..245
          EXPR_BINARY@114..212
            EXPR_BINARY@114..176
              EXPR_CALL@114..144
                EXPR_IDENT@114..127
                  PATH@114..127
                    Ident@114..127 "int_to_string"
                ARG_LIST@127..144
                  LParen@127..128 "("
                  ARG@128..134
                    EXPR_IDENT@128..134
                      PATH@128..134
                        Ident@128..134 "native"
                  RParen@134..135 ")"
                  Whitespace@135..144 "\n        "
              Plus@144..145 "+"
              Whitespace@145..146 " "
              EXPR_CALL@146..176
                EXPR_IDENT@146..160
                  PATH@146..160
                    Ident@146..160 "int8_to_string"
                ARG_LIST@160..176
                  LParen@160..161 "("
                  ARG@161..166
                    EXPR_IDENT@161..166
                      PATH@161..166
                        Ident@161..166 "small"
                  RParen@166..167 ")"
                  Whitespace@167..176 "\n        "
            Plus@176..177 "+"
            Whitespace@177..178 " "
            EXPR_CALL@178..212
              EXPR_IDENT@178..193
                PATH@178..193
                  Ident@178..193 "uint8_to_string"
              ARG_LIST@193..212
                LParen@193..194 "("
                ARG@194..202
                  EXPR_IDENT@194..202
                    PATH@194..202
                      Ident@194..202 "unsigned"
                RParen@202..203 ")"
                Whitespace@203..212 "\n        "
          Plus@212..213 "+"
          Whitespace@213..214 " "
          EXPR_CALL@214..245
            EXPR_IDENT@214..231
              PATH@214..231
                Ident@214..231 "string_byte_slice"
            ARG_LIST@231..245
              LParen@231..232 "("
              ARG@232..240
                EXPR_STR@232..238
                  Str@232..238 "\"abcd\""
                Comma@238..239 ","
                Whitespace@239..240 " "
              ARG@240..243
                EXPR_INT@240..241
                  Int@240..241 "1"
                Comma@241..242 ","
                Whitespace@242..243 " "
              ARG@243..244
                EXPR_INT@243..244
                  Int@243..244 "3"
              RParen@244..245 ")"
        Semi@245..246 ";"
        Whitespace@246..252 "\n\n    "
      STMT_LET@252..288
        LetKeyword@252..255 "let"
        Whitespace@255..256 " "
        PATTERN_VARIABLE@256..261
          Ident@256..261 "value"
        Colon@261..262 ":"
        Whitespace@262..263 " "
        TYPE_TAPP@263..274
          PATH@263..266
            Ident@263..266 "Ref"
          TYPE_PARAM_LIST@266..274
            LBracket@266..267 "["
            TYPE_INT32@267..272
              Int32Keyword@267..272 "int32"
            RBracket@272..273 "]"
            Whitespace@273..274 " "
        Eq@274..275 "="
        Whitespace@275..276 " "
        EXPR_CALL@276..282
          EXPR_IDENT@276..279
            PATH@276..279
              Ident@276..279 "ref"
          ARG_LIST@279..282
            LParen@279..280 "("
            ARG@280..281
              EXPR_INT@280..281
                Int@280..281 "1"
            RParen@281..282 ")"
        Semi@282..283 ";"
        Whitespace@283..288 "\n    "
      STMT_EXPR@288..311
        EXPR_CALL@288..305
          EXPR_IDENT@288..295
            PATH@288..295
              Ident@288..295 "ref_set"
          ARG_LIST@295..305
            LParen@295..296 "("
            ARG@296..303
              EXPR_IDENT@296..301
                PATH@296..301
                  Ident@296..301 "value"
              Comma@301..302 ","
              Whitespace@302..303 " "
            ARG@303..304
              EXPR_INT@303..304
                Int@303..304 "2"
            RParen@304..305 ")"
        Semi@305..306 ";"
        Whitespace@306..311 "\n    "
      STMT_LET@311..348
        LetKeyword@311..314 "let"
        Whitespace@314..315 " "
        PATTERN_VARIABLE@315..320
          Ident@315..319 "same"
          Whitespace@319..320 " "
        Eq@320..321 "="
        Whitespace@321..322 " "
        EXPR_CALL@322..342
          EXPR_IDENT@322..328
            PATH@322..328
              Ident@322..328 "ptr_eq"
          ARG_LIST@328..342
            LParen@328..329 "("
            ARG@329..336
              EXPR_IDENT@329..334
                PATH@329..334
                  Ident@329..334 "value"
              Comma@334..335 ","
              Whitespace@335..336 " "
            ARG@336..341
              EXPR_IDENT@336..341
                PATH@336..341
                  Ident@336..341 "value"
            RParen@341..342 ")"
        Semi@342..343 ";"
        Whitespace@343..348 "\n    "
      STMT_LET@348..378
        LetKeyword@348..351 "let"
        Whitespace@351..352 " "
        PATTERN_WILDCARD@352..354
          WildcardKeyword@352..353 "_"
          Whitespace@353..354 " "
        Eq@354..355 "="
        Whitespace@355..356 " "
        EXPR_CALL@356..371
          EXPR_IDENT@356..364
            PATH@356..364
              Ident@356..364 "ptr_hash"
          ARG_LIST@364..371
            LParen@364..365 "("
            ARG@365..370
              EXPR_IDENT@365..370
                PATH@365..370
                  Ident@365..370 "value"
            RParen@370..371 ")"
        Semi@371..372 ";"
        Whitespace@372..378 "\n\n    "
      STMT_LET@378..418
        LetKeyword@378..381 "let"
        Whitespace@381..382 " "
        PATTERN_VARIABLE@382..388
          Ident@382..388 "values"
        Colon@388..389 ":"
        Whitespace@389..390 " "
        TYPE_TAPP@390..401
          PATH@390..393
            Ident@390..393 "Vec"
          TYPE_PARAM_LIST@393..401
            LBracket@393..394 "["
            TYPE_INT32@394..399
              Int32Keyword@394..399 "int32"
            RBracket@399..400 "]"
            Whitespace@400..401 " "
        Eq@401..402 "="
        Whitespace@402..403 " "
        EXPR_CALL@403..412
          EXPR_IDENT@403..410
            PATH@403..410
              Ident@403..410 "vec_new"
          ARG_LIST@410..412
            LParen@410..411 "("
            RParen@411..412 ")"
        Semi@412..413 ";"
        Whitespace@413..418 "\n    "
      STMT_EXPR@418..456
        EXPR_CALL@418..450
          EXPR_IDENT@418..426
            PATH@418..426
              Ident@418..426 "vec_push"
          ARG_LIST@426..450
            LParen@426..427 "("
            ARG@427..435
              EXPR_IDENT@427..433
                PATH@427..433
                  Ident@427..433 "values"
              Comma@433..434 ","
              Whitespace@434..435 " "
            ARG@435..449
              EXPR_CALL@435..449
                EXPR_IDENT@435..442
                  PATH@435..442
                    Ident@435..442 "ref_get"
                ARG_LIST@442..449
                  LParen@442..443 "("
                  ARG@443..448
                    EXPR_IDENT@443..448
                      PATH@443..448
                        Ident@443..448 "value"
                  RParen@448..449 ")"
            RParen@449..450 ")"
        Semi@450..451 ";"
        Whitespace@451..456 "\n    "
      STMT_EXPR@456..481
        EXPR_CALL@456..475
          EXPR_IDENT@456..464
            PATH@456..464
              Ident@456..464 "vec_push"
          ARG_LIST@464..475
            LParen@464..465 "("
            ARG@465..473
              EXPR_IDENT@465..471
                PATH@465..471
                  Ident@465..471 "values"
              Comma@471..472 ","
              Whitespace@472..473 " "
            ARG@473..474
              EXPR_INT@473..474
                Int@473..474 "3"
            RParen@474..475 ")"
        Semi@475..476 ";"
        Whitespace@476..481 "\n    "
      STMT_EXPR@481..509
        EXPR_CALL@481..502
          EXPR_IDENT@481..488
            PATH@481..488
              Ident@481..488 "vec_set"
          ARG_LIST@488..502
            LParen@488..489 "("
            ARG@489..497
              EXPR_IDENT@489..495
                PATH@489..495
                  Ident@489..495 "values"
              Comma@495..496 ","
              Whitespace@496..497 " "
            ARG@497..500
              EXPR_INT@497..498
                Int@497..498 "1"
              Comma@498..499 ","
              Whitespace@499..500 " "
            ARG@500..501
              EXPR_INT@500..501
                Int@500..501 "4"
            RParen@501..502 ")"
        Semi@502..503 ";"
        Whitespace@503..509 "\n\n    "
      STMT_LET@509..567
        LetKeyword@509..512 "let"
        Whitespace@512..513 " "
        PATTERN_VARIABLE@513..526
          Ident@513..525 "values_slice"
          Whitespace@525..526 " "
        Eq@526..527 "="
        Whitespace@527..528 " "
        EXPR_CALL@528..561
          EXPR_IDENT@528..533
            PATH@528..533
              Ident@528..533 "slice"
          ARG_LIST@533..561
            LParen@533..534 "("
            ARG@534..542
              EXPR_IDENT@534..540
                PATH@534..540
                  Ident@534..540 "values"
              Comma@540..541 ","
              Whitespace@541..542 " "
            ARG@542..545
              EXPR_INT@542..543
                Int@542..543 "0"
              Comma@543..544 ","
              Whitespace@544..545 " "
            ARG@545..560
              EXPR_CALL@545..560
                EXPR_IDENT@545..552
                  PATH@545..552
                    Ident@545..552 "vec_len"
                ARG_LIST@552..560
                  LParen@552..553 "("
                  ARG@553..559
                    EXPR_IDENT@553..559
                      PATH@553..559
                        Ident@553..559 "values"
                  RParen@559..560 ")"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      STMT_LET@567..638
        LetKeyword@567..570 "let"
        Whitespace@570..571 " "
        PATTERN_VARIABLE@571..578
          Ident@571..577 "nested"
          Whitespace@577..578 " "
        Eq@578..579 "="
        Whitespace@579..580 " "
        EXPR_CALL@580..631
          EXPR_IDENT@580..589
            PATH@580..589
              Ident@580..589 "slice_sub"
          ARG_LIST@589..631
            LParen@589..590 "("
            ARG@590..604
              EXPR_IDENT@590..602
                PATH@590..602
                  Ident@590..602 "values_slice"
              Comma@602..603 ","
              Whitespace@603..604 " "
            ARG@604..607
              EXPR_INT@604..605
                Int@604..605 "0"
              Comma@605..606 ","
              Whitespace@606..607 " "
            ARG@607..630
              EXPR_CALL@607..630
                EXPR_IDENT@607..616
                  PATH@607..616
                    Ident@607..616 "slice_len"
                ARG_LIST@616..630
                  LParen@616..617 "("
                  ARG@617..629
                    EXPR_IDENT@617..629
                      PATH@617..629
                        Ident@617..629 "values_slice"
                  RParen@629..630 ")"
            RParen@630..631 ")"
        Semi@631..632 ";"
        Whitespace@632..638 "\n\n    "
      STMT_LET@638..688
        LetKeyword@638..641 "let"
        Whitespace@641..642 " "
        PATTERN_VARIABLE@642..649
          Ident@642..649 "channel"
        Colon@649..650 ":"
        Whitespace@650..651 " "
        TYPE_TAPP@651..666
          PATH@651..658
            Ident@651..658 "Channel"
          TYPE_PARAM_LIST@658..666
            LBracket@658..659 "["
            TYPE_INT32@659..664
              Int32Keyword@659..664 "int32"
            RBracket@664..665 "]"
            Whitespace@665..666 " "
        Eq@666..667 "="
        Whitespace@667..668 " "
        EXPR_CALL@668..682
          EXPR_IDENT@668..679
            PATH@668..679
              Ident@668..679 "channel_new"
          ARG_LIST@679..682
            LParen@679..680 "("
            ARG@680..681
              EXPR_INT@680..681
                Int@680..681 "1"
            RParen@681..682 ")"
        Semi@682..683 ";"
        Whitespace@683..688 "\n    "
      STMT_EXPR@688..737
        EXPR_CALL@688..731
          EXPR_IDENT@688..700
            PATH@688..700
              Ident@688..700 "channel_send"
          ARG_LIST@700..731
            LParen@700..701 "("
            ARG@701..710
              EXPR_IDENT@701..708
                PATH@701..708
                  Ident@701..708 "channel"
              Comma@708..709 ","
              Whitespace@709..710 " "
            ARG@710..730
              EXPR_CALL@710..730
                EXPR_IDENT@710..719
                  PATH@710..719
                    Ident@710..719 "slice_get"
                ARG_LIST@719..730
                  LParen@719..720 "("
                  ARG@720..728
                    EXPR_IDENT@720..726
                      PATH@720..726
                        Ident@720..726 "nested"
                    Comma@726..727 ","
                    Whitespace@727..728 " "
                  ARG@728..729
                    EXPR_INT@728..729
                      Int@728..729 "1"
                  RParen@729..730 ")"
            RParen@730..731 ")"
        Semi@731..732 ";"
        Whitespace@732..737 "\n    "
      STMT_LET@737..779
        LetKeyword@737..740 "let"
        Whitespace@740..741 " "
        PATTERN_VARIABLE@741..750
          Ident@741..749 "received"
          Whitespace@749..750 " "
        Eq@750..751 "="
        Whitespace@751..752 " "
        EXPR_CALL@752..773
          EXPR_IDENT@752..764
            PATH@752..764
              Ident@752..764 "channel_recv"
          ARG_LIST@764..773
            LParen@764..765 "("
            ARG@765..772
              EXPR_IDENT@765..772
                PATH@765..772
                  Ident@765..772 "channel"
            RParen@772..773 ")"
        Semi@773..774 ";"
        Whitespace@774..779 "\n    "
      STMT_EXPR@779..808
        EXPR_CALL@779..801
          EXPR_IDENT@779..792
            PATH@779..792
              Ident@779..792 "channel_close"
          ARG_LIST@792..801
            LParen@792..793 "("
            ARG@793..800
              EXPR_IDENT@793..800
                PATH@793..800
                  Ident@793..800 "channel"
            RParen@800..801 ")"
        Semi@801..802 ";"
        Whitespace@802..808 "\n\n    "
      STMT_LET@808..906
        LetKeyword@808..811 "let"
        Whitespace@811..812 " "
        PATTERN_VARIABLE@812..818
          Ident@812..817 "total"
          Whitespace@817..818 " "
        Eq@818..819 "="
        Whitespace@819..820 " "
        EXPR_CALL@820..899
          EXPR_IDENT@820..833
            PATH@820..833
              Ident@820..833 "iterator_fold"
          ARG_LIST@833..899
            LParen@833..834 "("
            ARG@834..847
              EXPR_CALL@834..845
                EXPR_IDENT@834..839
                  PATH@834..839
                    Ident@834..839 "range"
                ARG_LIST@839..845
                  LParen@839..840 "("
                  ARG@840..843
                    EXPR_INT@840..841
                      Int@840..841 "0"
                    Comma@841..842 ","
                    Whitespace@842..843 " "
                  ARG@843..844
                    EXPR_INT@843..844
                      Int@843..844 "3"
                  RParen@844..845 ")"
              Comma@845..846 ","
              Whitespace@846..847 " "
            ARG@847..850
              EXPR_INT@847..848
                Int@847..848 "0"
              Comma@848..849 ","
              Whitespace@849..850 " "
            ARG@850..898
              EXPR_CLOSURE@850..898
                CLOSURE_PARAM_LIST@850..872
                  Pipe@850..851 "|"
                  CLOSURE_PARAM@851..859
                    Ident@851..854 "sum"
                    Colon@854..855 ":"
                    Whitespace@855..856 " "
                    TYPE_INT@856..859
                      IntKeyword@856..859 "int"
                  Comma@859..860 ","
                  Whitespace@860..861 " "
                  CLOSURE_PARAM@861..870
                    Ident@861..865 "item"
                    Colon@865..866 ":"
                    Whitespace@866..867 " "
                    TYPE_INT@867..870
                      IntKeyword@867..870 "int"
                  Pipe@870..871 "|"
                  Whitespace@871..872 " "
                EXPR_CLOSURE_BODY@872..898
                  BLOCK@872..898
                    LBrace@872..873 "{"
                    Whitespace@873..882 "\n        "
                    EXPR_BINARY@882..897
                      EXPR_IDENT@882..886
                        PATH@882..886
                          Ident@882..885 "sum"
                          Whitespace@885..886 " "
                      Plus@886..887 "+"
                      Whitespace@887..888 " "
                      EXPR_IDENT@888..897
                        PATH@888..897
                          Ident@888..892 "item"
                          Whitespace@892..897 "\n    "
                    RBrace@897..898 "}"
            RParen@898..899 ")"
        Semi@899..900 ";"
        Whitespace@900..906 "\n\n    "
      EXPR_CALL@906..1072
        EXPR_IDENT@906..913
          PATH@906..913
            Ident@906..913 "println"
        ARG_LIST@913..1072
          LParen@913..914 "("
          Whitespace@914..923 "\n        "
          ARG@923..1070
            EXPR_BINARY@923..1064
              EXPR_BINARY@923..1045
                EXPR_BINARY@923..1008
                  EXPR_BINARY@923..971
                    EXPR_IDENT@923..940
                      PATH@923..940
                        Ident@923..927 "text"
                        Whitespace@927..940 "\n            "
                    Plus@940..941 "+"
                    Whitespace@941..942 " "
                    EXPR_CALL@942..971
                      EXPR_BINARY@942..956
                        EXPR_IDENT@942..946
                          PATH@942..946
                            Ident@942..946 "same"
                        Dot@946..947 "."
                        EXPR_IDENT@947..956
                          PATH@947..956
                            Ident@947..956 "to_string"
                      ARG_LIST@956..971
                        LParen@956..957 "("
                        RParen@957..958 ")"
                        Whitespace@958..971 "\n            "
                  Plus@971..972 "+"
                  Whitespace@972..973 " "
                  EXPR_CALL@973..1008
                    EXPR_BINARY@973..993
                      EXPR_BINARY@973..983
                        EXPR_IDENT@973..981
                          PATH@973..981
                            Ident@973..981 "received"
                        Dot@981..982 "."
                        EXPR_INT@982..983
                          Int@982..983 "0"
                      Dot@983..984 "."
                      EXPR_IDENT@984..993
                        PATH@984..993
                          Ident@984..993 "to_string"
                    ARG_LIST@993..1008
                      LParen@993..994 "("
                      RParen@994..995 ")"
                      Whitespace@995..1008 "\n            "
                Plus@1008..1009 "+"
                Whitespace@1009..1010 " "
                EXPR_CALL@1010..1045
                  EXPR_BINARY@1010..1030
                    EXPR_BINARY@1010..1020
                      EXPR_IDENT@1010..1018
                        PATH@1010..1018
                          Ident@1010..1018 "received"
                      Dot@1018..1019 "."
                      EXPR_INT@1019..1020
                        Int@1019..1020 "1"
                    Dot@1020..1021 "."
                    EXPR_IDENT@1021..1030
                      PATH@1021..1030
                        Ident@1021..1030 "to_string"
                  ARG_LIST@1030..1045
                    LParen@1030..1031 "("
                    RParen@1031..1032 ")"
                    Whitespace@1032..1045 "\n            "
              Plus@1045..1046 "+"
              Whitespace@1046..1047 " "
              EXPR_CALL@1047..1064
                EXPR_BINARY@1047..1062
                  EXPR_IDENT@1047..1052
                    PATH@1047..1052
                      Ident@1047..1052 "total"
                  Dot@1052..1053 "."
                  EXPR_IDENT@1053..1062
                    PATH@1053..1062
                      Ident@1053..1062 "to_string"
                ARG_LIST@1062..1064
                  LParen@1062..1063 "("
                  RParen@1063..1064 ")"
            Comma@1064..1065 ","
            Whitespace@1065..1070 "\n    "
          RParen@1070..1071 ")"
          Whitespace@1071..1072 "\n"
      RBrace@1072..1073 "}"
      Whitespace@1073..1074 "\n"