FILE@0..386
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..9 "Expr"
    Whitespace@9..10 " "
    LBrace@10..11 "{"
    Whitespace@11..16 "\n    "
    VARIANT_LIST@16..83
      VARIANT@16..20
        Ident@16..20 "Zero"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..36
        Ident@26..30 "Succ"
        TYPE_LIST@30..36
          LParen@30..31 "("
          TYPE_TAPP@31..35
            PATH@31..35
              Ident@31..35 "Expr"
          RParen@35..36 ")"
      Comma@36..37 ","
      Whitespace@37..42 "\n    "
      VARIANT@42..57
        Ident@42..45 "Add"
        TYPE_LIST@45..57
          LParen@45..46 "("
          TYPE_TAPP@46..50
            PATH@46..50
              Ident@46..50 "Expr"
          Comma@50..51 ","
          Whitespace@51..52 " "
          TYPE_TAPP@52..56
            PATH@52..56
              Ident@52..56 "Expr"
          RParen@56..57 ")"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      VARIANT@63..78
        Ident@63..66 "Mul"
        TYPE_LIST@66..78
          LParen@66..67 "("
          TYPE_TAPP@67..71
            PATH@67..71
              Ident@67..71 "Expr"
          Comma@71..72 ","
          Whitespace@72..73 " "
          TYPE_TAPP@73..77
            PATH@73..77
              Ident@73..77 "Expr"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..386
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..90 "main"
    PARAM_LIST@90..93
      LParen@90..91 "("
      RParen@91..92 ")"
      Whitespace@92..93 " "
    BLOCK@93..386
      LBrace@93..94 "{"
      Whitespace@94..99 "\n    "
      STMT_LET@99..137
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_VARIABLE@103..105
          Ident@103..104 "a"
          Whitespace@104..105 " "
        Eq@105..106 "="
        Whitespace@106..107 " "
        EXPR_CALL@107..131
          EXPR_IDENT@107..110
            PATH@107..110
              Ident@107..110 "Mul"
          ARG_LIST@110..131
            LParen@110..111 "("
            ARG@111..126
              EXPR_CALL@111..125
                EXPR_IDENT@111..114
                  PATH@111..114
                    Ident@111..114 "Add"
                ARG_LIST@114..125
                  LParen@114..115 "("
                  ARG@115..120
                    EXPR_IDENT@115..119
                      PATH@115..119
                        Ident@115..119 "Zero"
                    Comma@119..120 ","
                  ARG@120..124
                    EXPR_IDENT@120..124
                      PATH@120..124
                        Ident@120..124 "Zero"
                  RParen@124..125 ")"
              Comma@125..126 ","
            ARG@126..130
              EXPR_IDENT@126..130
                PATH@126..130
                  Ident@126..130 "Zero"
            RParen@130..131 ")"
        Semi@131..132 ";"
        Whitespace@132..137 "\n    "
      EXPR_MATCH@137..384
        MatchKeyword@137..142 "match"
        Whitespace@142..143 " "
        EXPR_IDENT@143..145
          PATH@143..145
            Ident@143..144 "a"
            Whitespace@144..145 " "
        MATCH_ARM_LIST@145..384
          LBrace@145..146 "{"
          Whitespace@146..155 "\n        "
          MATCH_ARM@155..181
            PATTERN_CONSTR@155..170
              PATH@155..158
                Ident@155..158 "Add"
              LParen@158..159 "("
              PATTERN_CONSTR@159..163
                PATH@159..163
                  Ident@159..163 "Zero"
              Comma@163..164 ","
              PATTERN_CONSTR@164..168
                PATH@164..168
                  Ident@164..168 "Zero"
              RParen@168..169 ")"
              Whitespace@169..170 " "
            FatArrow@170..172 "=>"
            Whitespace@172..173 " "
            EXPR_CALL@173..181
              EXPR_IDENT@173..178
                PATH@173..178
                  Ident@173..178 "print"
              ARG_LIST@178..181
                LParen@178..179 "("
                ARG@179..180
                  EXPR_INT@179..180
                    Int@179..180 "0"
                RParen@180..181 ")"
          Comma@181..182 ","
          Whitespace@182..191 "\n        "
          MATCH_ARM@191..214
            PATTERN_CONSTR@191..203
              PATH@191..194
                Ident@191..194 "Mul"
              LParen@194..195 "("
              PATTERN_CONSTR@195..199
                PATH@195..199
                  Ident@195..199 "Zero"
              Comma@199..200 ","
              PATTERN_VARIABLE@200..201
                Ident@200..201 "x"
              RParen@201..202 ")"
              Whitespace@202..203 " "
            FatArrow@203..205 "=>"
            Whitespace@205..206 " "
            EXPR_CALL@206..214
              EXPR_IDENT@206..211
                PATH@206..211
                  Ident@206..211 "print"
              ARG_LIST@211..214
                LParen@211..212 "("
                ARG@212..213
                  EXPR_INT@212..213
                    Int@212..213 "1"
                RParen@213..214 ")"
          Comma@214..215 ","
          Whitespace@215..224 "\n        "
          MATCH_ARM@224..250
            PATTERN_CONSTR@224..239
              PATH@224..227
                Ident@224..227 "Add"
              LParen@227..228 "("
              PATTERN_CONSTR@228..235
                PATH@228..232
                  Ident@228..232 "Succ"
                LParen@232..233 "("
                PATTERN_VARIABLE@233..234
                  Ident@233..234 "x"
                RParen@234..235 ")"
              Comma@235..236 ","
              PATTERN_VARIABLE@236..237
                Ident@236..237 "y"
              RParen@237..238 ")"
              Whitespace@238..239 " "
            FatArrow@239..241 "=>"
            Whitespace@241..242 " "
            EXPR_CALL@242..250
              EXPR_IDENT@242..247
                PATH@242..247
                  Ident@242..247 "print"
              ARG_LIST@247..250
                LParen@247..248 "("
                ARG@248..249
                  EXPR_INT@248..249
                    Int@248..249 "2"
                RParen@249..250 ")"
          Comma@250..251 ","
          Whitespace@251..260 "\n        "
          MATCH_ARM@260..283
            PATTERN_CONSTR@260..272
              PATH@260..263
                Ident@260..263 "Mul"
              LParen@263..264 "("
              PATTERN_VARIABLE@264..265
                Ident@264..265 "x"
              Comma@265..266 ","
              PATTERN_CONSTR@266..270
                PATH@266..270
                  Ident@266..270 "Zero"
              RParen@270..271 ")"
              Whitespace@271..272 " "
            FatArrow@272..274 "=>"
            Whitespace@274..275 " "
            EXPR_CALL@275..283
              EXPR_IDENT@275..280
                PATH@275..280
                  Ident@275..280 "print"
              ARG_LIST@280..283
                LParen@280..281 "("
                ARG@281..282
                  EXPR_INT@281..282
                    Int@281..282 "3"
                RParen@282..283 ")"
          Comma@283..284 ","
          Whitespace@284..293 "\n        "
          MATCH_ARM@293..320
            PATTERN_CONSTR@293..309
              PATH@293..296
                Ident@293..296 "Mul"
              LParen@296..297 "("
              PATTERN_CONSTR@297..305
                PATH@297..300
                  Ident@297..300 "Add"
                LParen@300..301 "("
                PATTERN_VARIABLE@301..302
                  Ident@301..302 "x"
                Comma@302..303 ","
                PATTERN_VARIABLE@303..304
                  Ident@303..304 "y"
                RParen@304..305 ")"
              Comma@305..306 ","
              PATTERN_VARIABLE@306..307
                Ident@306..307 "z"
              RParen@307..308 ")"
              Whitespace@308..309 " "
            FatArrow@309..311 "=>"
            Whitespace@311..312 " "
            EXPR_CALL@312..320
              EXPR_IDENT@312..317
                PATH@312..317
                  Ident@312..317 "print"
              ARG_LIST@317..320
                LParen@317..318 "("
                ARG@318..319
                  EXPR_INT@318..319
                    Int@318..319 "4"
                RParen@319..320 ")"
          Comma@320..321 ","
          Whitespace@321..330 "\n        "
          MATCH_ARM@330..353
            PATTERN_CONSTR@330..342
              PATH@330..333
                Ident@330..333 "Add"
              LParen@333..334 "("
              PATTERN_VARIABLE@334..335
                Ident@334..335 "x"
              Comma@335..336 ","
              PATTERN_CONSTR@336..340
                PATH@336..340
                  Ident@336..340 "Zero"
              RParen@340..341 ")"
              Whitespace@341..342 " "
            FatArrow@342..344 "=>"
            Whitespace@344..345 " "
            EXPR_CALL@345..353
              EXPR_IDENT@345..350
                PATH@345..350
                  Ident@345..350 "print"
              ARG_LIST@350..353
                LParen@350..351 "("
                ARG@351..352
                  EXPR_INT@351..352
                    Int@351..352 "5"
                RParen@352..353 ")"
          Comma@353..354 ","
          Whitespace@354..363 "\n        "
          MATCH_ARM@363..376
            PATTERN_VARIABLE@363..365
              Ident@363..364 "x"
              Whitespace@364..365 " "
            FatArrow@365..367 "=>"
            Whitespace@367..368 " "
            EXPR_CALL@368..376
              EXPR_IDENT@368..373
                PATH@368..373
                  Ident@368..373 "print"
              ARG_LIST@373..376
                LParen@373..374 "("
                ARG@374..375
                  EXPR_INT@374..375
                    Int@374..375 "6"
                RParen@375..376 ")"
          Comma@376..377 ","
          Whitespace@377..382 "\n    "
          RBrace@382..383 "}"
          Whitespace@383..384 "\n"
      RBrace@384..385 "}"
      Whitespace@385..386 "\n"