FILE@0..407
  ENUM@0..83
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..9 "Expr"
    Whitespace@9..10 " "
    LBrace@10..11 "{"
    Whitespace@11..16 "\n    "
    VARIANT_LIST@16..83
      VARIANT@16..20
        Ident@16..20 "Zero"
      Comma@20..21 ","
      Whitespace@21..26 "\n    "
      VARIANT@26..36
        Ident@26..30 "Succ"
        TYPE_LIST@30..36
          LParen@30..31 "("
          TYPE_TAPP@31..35
            PATH@31..35
              Ident@31..35 "Expr"
          RParen@35..36 ")"
      Comma@36..37 ","
      Whitespace@37..42 "\n    "
      VARIANT@42..57
        Ident@42..45 "Add"
        TYPE_LIST@45..57
          LParen@45..46 "("
          TYPE_TAPP@46..50
            PATH@46..50
              Ident@46..50 "Expr"
          Comma@50..51 ","
          Whitespace@51..52 " "
          TYPE_TAPP@52..56
            PATH@52..56
              Ident@52..56 "Expr"
          RParen@56..57 ")"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      VARIANT@63..78
        Ident@63..66 "Mul"
        TYPE_LIST@66..78
          LParen@66..67 "("
          TYPE_TAPP@67..71
            PATH@67..71
              Ident@67..71 "Expr"
          Comma@71..72 ","
          Whitespace@72..73 " "
          TYPE_TAPP@73..77
            PATH@73..77
              Ident@73..77 "Expr"
          RParen@77..78 ")"
      Comma@78..79 ","
      Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..407
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..90 "main"
    PARAM_LIST@90..93
      LParen@90..91 "("
      RParen@91..92 ")"
      Whitespace@92..93 " "
    BLOCK@93..407
      LBrace@93..94 "{"
      Whitespace@94..99 "\n    "
      STMT_LET@99..137
        LetKeyword@99..102 "let"
        Whitespace@102..103 " "
        PATTERN_VARIABLE@103..105
          Ident@103..104 "a"
          Whitespace@104..105 " "
        Eq@105..106 "="
        Whitespace@106..107 " "
        EXPR_CALL@107..131
          EXPR_IDENT@107..110
            PATH@107..110
              Ident@107..110 "Mul"
          ARG_LIST@110..131
            LParen@110..111 "("
            ARG@111..126
              EXPR_CALL@111..125
                EXPR_IDENT@111..114
                  PATH@111..114
                    Ident@111..114 "Add"
                ARG_LIST@114..125
                  LParen@114..115 "("
                  ARG@115..120
                    EXPR_IDENT@115..119
                      PATH@115..119
                        Ident@115..119 "Zero"
                    Comma@119..120 ","
                  ARG@120..124
                    EXPR_IDENT@120..124
                      PATH@120..124
                        Ident@120..124 "Zero"
                  RParen@124..125 ")"
              Comma@125..126 ","
            ARG@126..130
              EXPR_IDENT@126..130
                PATH@126..130
                  Ident@126..130 "Zero"
            RParen@130..131 ")"
        Semi@131..132 ";"
        Whitespace@132..137 "\n    "
      EXPR_MATCH@137..405
        MatchKeyword@137..142 "match"
        Whitespace@142..143 " "
        EXPR_IDENT@143..145
          PATH@143..145
            Ident@143..144 "a"
            Whitespace@144..145 " "
        MATCH_ARM_LIST@145..405
          LBrace@145..146 "{"
          Whitespace@146..155 "\n        "
          MATCH_ARM@155..184
            PATTERN_CONSTR@155..170
              PATH@155..158
                Ident@155..158 "Add"
              LParen@158..159 "("
              PATTERN_VARIABLE@159..163
                Ident@159..163 "Zero"
              Comma@163..164 ","
              PATTERN_VARIABLE@164..168
                Ident@164..168 "Zero"
              RParen@168..169 ")"
              Whitespace@169..170 " "
            FatArrow@170..172 "=>"
            Whitespace@172..173 " "
            EXPR_CALL@173..184
              EXPR_IDENT@173..178
                PATH@173..178
                  Ident@173..178 "print"
              ARG_LIST@178..184
                LParen@178..179 "("
                ARG@179..183
                  EXPR_INT32@179..183
                    Int32Lit@179..183 "0i32"
                RParen@183..184 ")"
          Comma@184..185 ","
          Whitespace@185..194 "\n        "
          MATCH_ARM@194..220
            PATTERN_CONSTR@194..206
              PATH@194..197
                Ident@194..197 "Mul"
              LParen@197..198 "("
              PATTERN_VARIABLE@198..202
                Ident@198..202 "Zero"
              Comma@202..203 ","
              PATTERN_VARIABLE@203..204
                Ident@203..204 "x"
              RParen@204..205 ")"
              Whitespace@205..206 " "
            FatArrow@206..208 "=>"
            Whitespace@208..209 " "
            EXPR_CALL@209..220
              EXPR_IDENT@209..214
                PATH@209..214
                  Ident@209..214 "print"
              ARG_LIST@214..220
                LParen@214..215 "("
                ARG@215..219
                  EXPR_INT32@215..219
                    Int32Lit@215..219 "1i32"
                RParen@219..220 ")"
          Comma@220..221 ","
          Whitespace@221..230 "\n        "
          MATCH_ARM@230..259
            PATTERN_CONSTR@230..245
              PATH@230..233
                Ident@230..233 "Add"
              LParen@233..234 "("
              PATTERN_CONSTR@234..241
                PATH@234..238
                  Ident@234..238 "Succ"
                LParen@238..239 "("
                PATTERN_VARIABLE@239..240
                  Ident@239..240 "x"
                RParen@240..241 ")"
              Comma@241..242 ","
              PATTERN_VARIABLE@242..243
                Ident@242..243 "y"
              RParen@243..244 ")"
              Whitespace@244..245 " "
            FatArrow@245..247 "=>"
            Whitespace@247..248 " "
            EXPR_CALL@248..259
              EXPR_IDENT@248..253
                PATH@248..253
                  Ident@248..253 "print"
              ARG_LIST@253..259
                LParen@253..254 "("
                ARG@254..258
                  EXPR_INT32@254..258
                    Int32Lit@254..258 "2i32"
                RParen@258..259 ")"
          Comma@259..260 ","
          Whitespace@260..269 "\n        "
          MATCH_ARM@269..295
            PATTERN_CONSTR@269..281
              PATH@269..272
                Ident@269..272 "Mul"
              LParen@272..273 "("
              PATTERN_VARIABLE@273..274
                Ident@273..274 "x"
              Comma@274..275 ","
              PATTERN_VARIABLE@275..279
                Ident@275..279 "Zero"
              RParen@279..280 ")"
              Whitespace@280..281 " "
            FatArrow@281..283 "=>"
            Whitespace@283..284 " "
            EXPR_CALL@284..295
              EXPR_IDENT@284..289
                PATH@284..289
                  Ident@284..289 "print"
              ARG_LIST@289..295
                LParen@289..290 "("
                ARG@290..294
                  EXPR_INT32@290..294
                    Int32Lit@290..294 "3i32"
                RParen@294..295 ")"
          Comma@295..296 ","
          Whitespace@296..305 "\n        "
          MATCH_ARM@305..335
            PATTERN_CONSTR@305..321
              PATH@305..308
                Ident@305..308 "Mul"
              LParen@308..309 "("
              PATTERN_CONSTR@309..317
                PATH@309..312
                  Ident@309..312 "Add"
                LParen@312..313 "("
                PATTERN_VARIABLE@313..314
                  Ident@313..314 "x"
                Comma@314..315 ","
                PATTERN_VARIABLE@315..316
                  Ident@315..316 "y"
                RParen@316..317 ")"
              Comma@317..318 ","
              PATTERN_VARIABLE@318..319
                Ident@318..319 "z"
              RParen@319..320 ")"
              Whitespace@320..321 " "
            FatArrow@321..323 "=>"
            Whitespace@323..324 " "
            EXPR_CALL@324..335
              EXPR_IDENT@324..329
                PATH@324..329
                  Ident@324..329 "print"
              ARG_LIST@329..335
                LParen@329..330 "("
                ARG@330..334
                  EXPR_INT32@330..334
                    Int32Lit@330..334 "4i32"
                RParen@334..335 ")"
          Comma@335..336 ","
          Whitespace@336..345 "\n        "
          MATCH_ARM@345..371
            PATTERN_CONSTR@345..357
              PATH@345..348
                Ident@345..348 "Add"
              LParen@348..349 "("
              PATTERN_VARIABLE@349..350
                Ident@349..350 "x"
              Comma@350..351 ","
              PATTERN_VARIABLE@351..355
                Ident@351..355 "Zero"
              RParen@355..356 ")"
              Whitespace@356..357 " "
            FatArrow@357..359 "=>"
            Whitespace@359..360 " "
            EXPR_CALL@360..371
              EXPR_IDENT@360..365
                PATH@360..365
                  Ident@360..365 "print"
              ARG_LIST@365..371
                LParen@365..366 "("
                ARG@366..370
                  EXPR_INT32@366..370
                    Int32Lit@366..370 "5i32"
                RParen@370..371 ")"
          Comma@371..372 ","
          Whitespace@372..381 "\n        "
          MATCH_ARM@381..397
            PATTERN_VARIABLE@381..383
              Ident@381..382 "x"
              Whitespace@382..383 " "
            FatArrow@383..385 "=>"
            Whitespace@385..386 " "
            EXPR_CALL@386..397
              EXPR_IDENT@386..391
                PATH@386..391
                  Ident@386..391 "print"
              ARG_LIST@391..397
                LParen@391..392 "("
                ARG@392..396
                  EXPR_INT32@392..396
                    Int32Lit@392..396 "6i32"
                RParen@396..397 ")"
          Comma@397..398 ","
          Whitespace@398..403 "\n    "
          RBrace@403..404 "}"
          Whitespace@404..405 "\n"
      RBrace@405..406 "}"
      Whitespace@406..407 "\n"