FILE@0..583
  ENUM@0..43
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..11 "option"
    GENERIC_LIST@11..15
      LBracket@11..12 "["
      GENERIC@12..13
        Ident@12..13 "T"
      RBracket@13..14 "]"
      Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    VARIANT_LIST@21..43
      VARIANT@21..28
        Ident@21..25 "some"
        TYPE_LIST@25..28
          LParen@25..26 "("
          TYPE_TAPP@26..27
            PATH@26..27
              Ident@26..27 "T"
          RParen@27..28 ")"
      Comma@28..29 ","
      Whitespace@29..34 "\n    "
      VARIANT@34..38
        Ident@34..38 "none"
      Comma@38..39 ","
      Whitespace@39..40 "\n"
      RBrace@40..41 "}"
      Whitespace@41..43 "\n\n"
  STRUCT@43..89
    StructKeyword@43..49 "struct"
    Whitespace@49..50 " "
    Ident@50..55 "point"
    Whitespace@55..56 " "
    LBrace@56..57 "{"
    Whitespace@57..62 "\n    "
    STRUCT_FIELD_LIST@62..89
      STRUCT_FIELD@62..70
        Ident@62..63 "x"
        Colon@63..64 ":"
        Whitespace@64..65 " "
        TYPE_INT32@65..70
          Int32Keyword@65..70 "int32"
      Comma@70..71 ","
      Whitespace@71..76 "\n    "
      STRUCT_FIELD@76..84
        Ident@76..77 "y"
        Colon@77..78 ":"
        Whitespace@78..79 " "
        TYPE_INT32@79..84
          Int32Keyword@79..84 "int32"
      Comma@84..85 ","
      Whitespace@85..86 "\n"
      RBrace@86..87 "}"
      Whitespace@87..89 "\n\n"
  FN@89..154
    FnKeyword@89..91 "fn"
    Whitespace@91..92 " "
    Ident@92..101 "make_some"
    PARAM_LIST@101..116
      LParen@101..102 "("
      PARAM@102..114
        Ident@102..107 "value"
        Colon@107..108 ":"
        Whitespace@108..109 " "
        TYPE_INT32@109..114
          Int32Keyword@109..114 "int32"
      RParen@114..115 ")"
      Whitespace@115..116 " "
    Arrow@116..118 "->"
    Whitespace@118..119 " "
    TYPE_TAPP@119..133
      PATH@119..125
        Ident@119..125 "option"
      TYPE_PARAM_LIST@125..133
        LBracket@125..126 "["
        TYPE_INT32@126..131
          Int32Keyword@126..131 "int32"
        RBracket@131..132 "]"
        Whitespace@132..133 " "
    BLOCK@133..154
      LBrace@133..134 "{"
      Whitespace@134..139 "\n    "
      EXPR_CALL@139..151
        EXPR_IDENT@139..143
          PATH@139..143
            Ident@139..143 "some"
        ARG_LIST@143..151
          LParen@143..144 "("
          ARG@144..149
            EXPR_IDENT@144..149
              PATH@144..149
                Ident@144..149 "value"
          RParen@149..150 ")"
          Whitespace@150..151 "\n"
      RBrace@151..152 "}"
      Whitespace@152..154 "\n\n"
  FN@154..228
    FnKeyword@154..156 "fn"
    Whitespace@156..157 " "
    Ident@157..168 "build_point"
    PARAM_LIST@168..189
      LParen@168..169 "("
      PARAM@169..179
        Ident@169..170 "x"
        Colon@170..171 ":"
        Whitespace@171..172 " "
        TYPE_INT32@172..177
          Int32Keyword@172..177 "int32"
        Comma@177..178 ","
        Whitespace@178..179 " "
      PARAM@179..187
        Ident@179..180 "y"
        Colon@180..181 ":"
        Whitespace@181..182 " "
        TYPE_INT32@182..187
          Int32Keyword@182..187 "int32"
      RParen@187..188 ")"
      Whitespace@188..189 " "
    Arrow@189..191 "->"
    Whitespace@191..192 " "
    TYPE_TAPP@192..198
      PATH@192..198
        Ident@192..197 "point"
        Whitespace@197..198 " "
    BLOCK@198..228
      LBrace@198..199 "{"
      Whitespace@199..204 "\n    "
      EXPR_STRUCT_LITERAL@204..225
        PATH@204..210
          Ident@204..209 "point"
          Whitespace@209..210 " "
        STRUCT_LITERAL_FIELD_LIST@210..225
          LBrace@210..211 "{"
          Whitespace@211..212 " "
          STRUCT_LITERAL_FIELD@212..216
            Ident@212..213 "x"
            Colon@213..214 ":"
            Whitespace@214..215 " "
            EXPR_IDENT@215..216
              PATH@215..216
                Ident@215..216 "x"
          Comma@216..217 ","
          Whitespace@217..218 " "
          STRUCT_LITERAL_FIELD@218..223
            Ident@218..219 "y"
            Colon@219..220 ":"
            Whitespace@220..221 " "
            EXPR_IDENT@221..223
              PATH@221..223
                Ident@221..222 "y"
                Whitespace@222..223 " "
          RBrace@223..224 "}"
          Whitespace@224..225 "\n"
      RBrace@225..226 "}"
      Whitespace@226..228 "\n\n"
  FN@228..303
    FnKeyword@228..230 "fn"
    Whitespace@230..231 " "
    Ident@231..240 "magnitude"
    PARAM_LIST@240..251
      LParen@240..241 "("
      PARAM@241..249
        Ident@241..242 "p"
        Colon@242..243 ":"
        Whitespace@243..244 " "
        TYPE_TAPP@244..249
          PATH@244..249
            Ident@244..249 "point"
      RParen@249..250 ")"
      Whitespace@250..251 " "
    Arrow@251..253 "->"
    Whitespace@253..254 " "
    TYPE_INT32@254..260
      Int32Keyword@254..259 "int32"
      Whitespace@259..260 " "
    BLOCK@260..303
      LBrace@260..261 "{"
      Whitespace@261..266 "\n    "
      STMT_LET@266..294
        LetKeyword@266..269 "let"
        Whitespace@269..270 " "
        PATTERN_CONSTR@270..285
          PATH@270..276
            Ident@270..275 "point"
            Whitespace@275..276 " "
          STRUCT_PATTERN_FIELD_LIST@276..285
            LBrace@276..277 "{"
            Whitespace@277..278 " "
            STRUCT_PATTERN_FIELD@278..279
              Ident@278..279 "x"
            Comma@279..280 ","
            Whitespace@280..281 " "
            STRUCT_PATTERN_FIELD@281..283
              Ident@281..282 "y"
              Whitespace@282..283 " "
            RBrace@283..284 "}"
            Whitespace@284..285 " "
        Eq@285..286 "="
        Whitespace@286..287 " "
        EXPR_IDENT@287..288
          PATH@287..288
            Ident@287..288 "p"
        Semi@288..289 ";"
        Whitespace@289..294 "\n    "
      EXPR_BINARY@294..300
        EXPR_IDENT@294..296
          PATH@294..296
            Ident@294..295 "x"
            Whitespace@295..296 " "
        Plus@296..297 "+"
        Whitespace@297..298 " "
        EXPR_IDENT@298..300
          PATH@298..300
            Ident@298..299 "y"
            Whitespace@299..300 "\n"
      RBrace@300..301 "}"
      Whitespace@301..303 "\n\n"
  FN@303..583
    FnKeyword@303..305 "fn"
    Whitespace@305..306 " "
    Ident@306..310 "main"
    PARAM_LIST@310..313
      LParen@310..311 "("
      RParen@311..312 ")"
      Whitespace@312..313 " "
    Arrow@313..315 "->"
    Whitespace@315..316 " "
    TYPE_INT32@316..322
      Int32Keyword@316..321 "int32"
      Whitespace@321..322 " "
    BLOCK@322..583
      LBrace@322..323 "{"
      Whitespace@323..328 "\n    "
      EXPR_MATCH@328..581
        MatchKeyword@328..333 "match"
        Whitespace@333..334 " "
        EXPR_CALL@334..347
          EXPR_IDENT@334..343
            PATH@334..343
              Ident@334..343 "make_some"
          ARG_LIST@343..347
            LParen@343..344 "("
            ARG@344..345
              EXPR_INT@344..345
                Int@344..345 "5"
            RParen@345..346 ")"
            Whitespace@346..347 " "
        MATCH_ARM_LIST@347..581
          LBrace@347..348 "{"
          Whitespace@348..357 "\n        "
          MATCH_ARM@357..564
            PATTERN_CONSTR@357..370
              PATH@357..361
                Ident@357..361 "some"
              LParen@361..362 "("
              PATTERN_VARIABLE@362..368
                Ident@362..368 "result"
              RParen@368..369 ")"
              Whitespace@369..370 " "
            FatArrow@370..372 "=>"
            Whitespace@372..373 " "
            BLOCK@373..564
              LBrace@373..374 "{"
              Whitespace@374..387 "\n            "
              STMT_LET@387..432
                LetKeyword@387..390 "let"
                Whitespace@390..391 " "
                PATTERN_VARIABLE@391..394
                  Ident@391..393 "pt"
                  Whitespace@393..394 " "
                Eq@394..395 "="
                Whitespace@395..396 " "
                EXPR_CALL@396..418
                  EXPR_IDENT@396..407
                    PATH@396..407
                      Ident@396..407 "build_point"
                  ARG_LIST@407..418
                    LParen@407..408 "("
                    ARG@408..416
                      EXPR_IDENT@408..414
                        PATH@408..414
                          Ident@408..414 "result"
                      Comma@414..415 ","
                      Whitespace@415..416 " "
                    ARG@416..417
                      EXPR_INT@416..417
                        Int@416..417 "7"
                    RParen@417..418 ")"
                Semi@418..419 ";"
                Whitespace@419..432 "\n            "
              EXPR_MATCH@432..554
                MatchKeyword@432..437 "match"
                Whitespace@437..438 " "
                EXPR_CALL@438..449
                  EXPR_IDENT@438..442
                    PATH@438..442
                      Ident@438..442 "some"
                  ARG_LIST@442..449
                    LParen@442..443 "("
                    ARG@443..447
                      EXPR_BINARY@443..447
                        EXPR_IDENT@443..445
                          PATH@443..445
                            Ident@443..445 "pt"
                        Dot@445..446 "."
                        EXPR_IDENT@446..447
                          PATH@446..447
                            Ident@446..447 "x"
                    RParen@447..448 ")"
                    Whitespace@448..449 " "
                MATCH_ARM_LIST@449..554
                  LBrace@449..450 "{"
                  Whitespace@450..467 "\n                "
                  MATCH_ARM@467..503
                    PATTERN_CONSTR@467..479
                      PATH@467..471
                        Ident@467..471 "some"
                      LParen@471..472 "("
                      PATTERN_VARIABLE@472..477
                        Ident@472..477 "value"
                      RParen@477..478 ")"
                      Whitespace@478..479 " "
                    FatArrow@479..481 "=>"
                    Whitespace@481..482 " "
                    EXPR_BINARY@482..503
                      EXPR_IDENT@482..488
                        PATH@482..488
                          Ident@482..487 "value"
                          Whitespace@487..488 " "
                      Plus@488..489 "+"
                      Whitespace@489..490 " "
                      EXPR_CALL@490..503
                        EXPR_IDENT@490..499
                          PATH@490..499
                            Ident@490..499 "magnitude"
                        ARG_LIST@499..503
                          LParen@499..500 "("
                          ARG@500..502
                            EXPR_IDENT@500..502
                              PATH@500..502
                                Ident@500..502 "pt"
                          RParen@502..503 ")"
                  Comma@503..504 ","
                  Whitespace@504..521 "\n                "
                  MATCH_ARM@521..530
                    PATTERN_VARIABLE@521..526
                      Ident@521..525 "none"
                      Whitespace@525..526 " "
                    FatArrow@526..528 "=>"
                    Whitespace@528..529 " "
                    EXPR_INT@529..530
                      Int@529..530 "0"
                  Comma@530..531 ","
                  Whitespace@531..544 "\n            "
                  RBrace@544..545 "}"
                  Whitespace@545..554 "\n        "
              RBrace@554..555 "}"
              Whitespace@555..564 "\n        "
          MATCH_ARM@564..573
            PATTERN_VARIABLE@564..569
              Ident@564..568 "none"
              Whitespace@568..569 " "
            FatArrow@569..571 "=>"
            Whitespace@571..572 " "
            EXPR_INT@572..573
              Int@572..573 "0"
          Comma@573..574 ","
          Whitespace@574..579 "\n    "
          RBrace@579..580 "}"
          Whitespace@580..581 "\n"
      RBrace@581..582 "}"
      Whitespace@582..583 "\n"