FILE@0..468
  TRAIT@0..48
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..48
      TRAIT_METHOD_SIG@20..43
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        TYPE_LIST@27..34
          LParen@27..28 "("
          TYPE_TAPP@28..32
            PATH@28..32
              Ident@28..32 "Self"
          RParen@32..33 ")"
          Whitespace@33..34 " "
        Arrow@34..36 "->"
        Whitespace@36..37 " "
        TYPE_STRING@37..43
          StringKeyword@37..43 "string"
      Semi@43..44 ";"
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  IMPL@48..144
    ImplKeyword@48..52 "impl"
    Whitespace@52..53 " "
    PATH@53..61
      Ident@53..60 "Display"
      Whitespace@60..61 " "
    ForKeyword@61..64 "for"
    Whitespace@64..65 " "
    TYPE_INT32@65..71
      Int32Keyword@65..70 "int32"
      Whitespace@70..71 " "
    LBrace@71..72 "{"
    Whitespace@72..77 "\n    "
    FN@77..141
      FnKeyword@77..79 "fn"
      Whitespace@79..80 " "
      Ident@80..84 "show"
      PARAM_LIST@84..98
        LParen@84..85 "("
        PARAM@85..96
          Ident@85..89 "self"
          Colon@89..90 ":"
          Whitespace@90..91 " "
          TYPE_INT32@91..96
            Int32Keyword@91..96 "int32"
        RParen@96..97 ")"
        Whitespace@97..98 " "
      Arrow@98..100 "->"
      Whitespace@100..101 " "
      TYPE_STRING@101..108
        StringKeyword@101..107 "string"
        Whitespace@107..108 " "
      BLOCK@108..141
        LBrace@108..109 "{"
        Whitespace@109..118 "\n        "
        EXPR_CALL@118..139
          EXPR_BINARY@118..132
            EXPR_IDENT@118..122
              PATH@118..122
                Ident@118..122 "self"
            Dot@122..123 "."
            EXPR_IDENT@123..132
              PATH@123..132
                Ident@123..132 "to_string"
          ARG_LIST@132..139
            LParen@132..133 "("
            RParen@133..134 ")"
            Whitespace@134..139 "\n    "
        RBrace@139..140 "}"
        Whitespace@140..141 "\n"
    RBrace@141..142 "}"
    Whitespace@142..144 "\n\n"
  FN@144..206
    FnKeyword@144..146 "fn"
    Whitespace@146..147 " "
    Ident@147..153 "render"
    PARAM_LIST@153..170
      LParen@153..154 "("
      PARAM@154..168
        Ident@154..155 "x"
        Colon@155..156 ":"
        Whitespace@156..157 " "
        TYPE_DYN@157..168
          DynKeyword@157..160 "dyn"
          Whitespace@160..161 " "
          PATH@161..168
            Ident@161..168 "Display"
      RParen@168..169 ")"
      Whitespace@169..170 " "
    Arrow@170..172 "->"
    Whitespace@172..173 " "
    TYPE_STRING@173..180
      StringKeyword@173..179 "string"
      Whitespace@179..180 " "
    BLOCK@180..206
      LBrace@180..181 "{"
      Whitespace@181..186 "\n    "
      EXPR_CALL@186..203
        EXPR_IDENT@186..199
          PATH@186..199
            Ident@186..193 "Display"
            ColonColon@193..195 "::"
            Ident@195..199 "show"
        ARG_LIST@199..203
          LParen@199..200 "("
          ARG@200..201
            EXPR_IDENT@200..201
              PATH@200..201
                Ident@200..201 "x"
          RParen@201..202 ")"
          Whitespace@202..203 "\n"
      RBrace@203..204 "}"
      Whitespace@204..206 "\n\n"
  FN@206..468
    FnKeyword@206..208 "fn"
    Whitespace@208..209 " "
    Ident@209..213 "main"
    PARAM_LIST@213..216
      LParen@213..214 "("
      RParen@214..215 ")"
      Whitespace@215..216 " "
    Arrow@216..218 "->"
    Whitespace@218..219 " "
    TYPE_UNIT@219..224
      UnitKeyword@219..223 "unit"
      Whitespace@223..224 " "
    BLOCK@224..468
      LBrace@224..225 "{"
      Whitespace@225..230 "\n    "
      STMT_LET@230..272
        LetKeyword@230..233 "let"
        Whitespace@233..234 " "
        PATTERN_VARIABLE@234..235
          Ident@234..235 "v"
        Colon@235..236 ":"
        Whitespace@236..237 " "
        TYPE_TAPP@237..254
          PATH@237..240
            Ident@237..240 "Vec"
          TYPE_PARAM_LIST@240..254
            LBracket@240..241 "["
            TYPE_DYN@241..252
              DynKeyword@241..244 "dyn"
              Whitespace@244..245 " "
              PATH@245..252
                Ident@245..252 "Display"
            RBracket@252..253 "]"
            Whitespace@253..254 " "
        Eq@254..255 "="
        Whitespace@255..256 " "
        EXPR_CALL@256..266
          EXPR_IDENT@256..264
            PATH@256..264
              Ident@256..259 "Vec"
              ColonColon@259..261 "::"
              Ident@261..264 "new"
          ARG_LIST@264..266
            LParen@264..265 "("
            RParen@265..266 ")"
        Semi@266..267 ";"
        Whitespace@267..272 "\n    "
      STMT_LET@272..299
        LetKeyword@272..275 "let"
        Whitespace@275..276 " "
        PATTERN_VARIABLE@276..278
          Ident@276..277 "v"
          Whitespace@277..278 " "
        Eq@278..279 "="
        Whitespace@279..280 " "
        EXPR_CALL@280..293
          EXPR_BINARY@280..286
            EXPR_IDENT@280..281
              PATH@280..281
                Ident@280..281 "v"
            Dot@281..282 "."
            EXPR_IDENT@282..286
              PATH@282..286
                Ident@282..286 "push"
          ARG_LIST@286..293
            LParen@286..287 "("
            ARG@287..292
              EXPR_INT32@287..292
                Int32Lit@287..292 "10i32"
            RParen@292..293 ")"
        Semi@293..294 ";"
        Whitespace@294..299 "\n    "
      STMT_LET@299..326
        LetKeyword@299..302 "let"
        Whitespace@302..303 " "
        PATTERN_VARIABLE@303..305
          Ident@303..304 "v"
          Whitespace@304..305 " "
        Eq@305..306 "="
        Whitespace@306..307 " "
        EXPR_CALL@307..320
          EXPR_BINARY@307..313
            EXPR_IDENT@307..308
              PATH@307..308
                Ident@307..308 "v"
            Dot@308..309 "."
            EXPR_IDENT@309..313
              PATH@309..313
                Ident@309..313 "push"
          ARG_LIST@313..320
            LParen@313..314 "("
            ARG@314..319
              EXPR_INT32@314..319
                Int32Lit@314..319 "20i32"
            RParen@319..320 ")"
        Semi@320..321 ";"
        Whitespace@321..326 "\n    "
      STMT_LET@326..379
        LetKeyword@326..329 "let"
        Whitespace@329..330 " "
        PATTERN_VARIABLE@330..331
          Ident@330..331 "s"
        Colon@331..332 ":"
        Whitespace@332..333 " "
        TYPE_TAPP@333..352
          PATH@333..338
            Ident@333..338 "Slice"
          TYPE_PARAM_LIST@338..352
            LBracket@338..339 "["
            TYPE_DYN@339..350
              DynKeyword@339..342 "dyn"
              Whitespace@342..343 " "
              PATH@343..350
                Ident@343..350 "Display"
            RBracket@350..351 "]"
            Whitespace@351..352 " "
        Eq@352..353 "="
        Whitespace@353..354 " "
        EXPR_CALL@354..373
          EXPR_BINARY@354..361
            EXPR_IDENT@354..355
              PATH@354..355
                Ident@354..355 "v"
            Dot@355..356 "."
            EXPR_IDENT@356..361
              PATH@356..361
                Ident@356..361 "slice"
          ARG_LIST@361..373
            LParen@361..362 "("
            ARG@362..368
              EXPR_INT32@362..366
                Int32Lit@362..366 "0i32"
              Comma@366..367 ","
              Whitespace@367..368 " "
            ARG@368..372
              EXPR_INT32@368..372
                Int32Lit@368..372 "2i32"
            RParen@372..373 ")"
        Semi@373..374 ";"
        Whitespace@374..379 "\n    "
      STMT_EXPR@379..409
        EXPR_CALL@379..403
          EXPR_IDENT@379..386
            PATH@379..386
              Ident@379..386 "println"
          ARG_LIST@386..403
            LParen@386..387 "("
            ARG@387..402
              EXPR_CALL@387..402
                EXPR_IDENT@387..393
                  PATH@387..393
                    Ident@387..393 "render"
                ARG_LIST@393..402
                  LParen@393..394 "("
                  ARG@394..401
                    EXPR_INDEX@394..401
                      EXPR_IDENT@394..395
                        PATH@394..395
                          Ident@394..395 "s"
                      LBracket@395..396 "["
                      EXPR_INT32@396..400
                        Int32Lit@396..400 "0i32"
                      RBracket@400..401 "]"
                  RParen@401..402 ")"
            RParen@402..403 ")"
        Semi@403..404 ";"
        Whitespace@404..409 "\n    "
      STMT_LET@409..440
        LetKeyword@409..412 "let"
        Whitespace@412..413 " "
        PATTERN_VARIABLE@413..415
          Ident@413..414 "t"
          Whitespace@414..415 " "
        Eq@415..416 "="
        Whitespace@416..417 " "
        EXPR_CALL@417..434
          EXPR_BINARY@417..422
            EXPR_IDENT@417..418
              PATH@417..418
                Ident@417..418 "s"
            Dot@418..419 "."
            EXPR_IDENT@419..422
              PATH@419..422
                Ident@419..422 "sub"
          ARG_LIST@422..434
            LParen@422..423 "("
            ARG@423..429
              EXPR_INT32@423..427
                Int32Lit@423..427 "1i32"
              Comma@427..428 ","
              Whitespace@428..429 " "
            ARG@429..433
              EXPR_INT32@429..433
                Int32Lit@429..433 "2i32"
            RParen@433..434 ")"
        Semi@434..435 ";"
        Whitespace@435..440 "\n    "
      STMT_EXPR@440..466
        EXPR_CALL@440..464
          EXPR_IDENT@440..447
            PATH@440..447
              Ident@440..447 "println"
          ARG_LIST@447..464
            LParen@447..448 "("
            ARG@448..463
              EXPR_CALL@448..463
                EXPR_IDENT@448..454
                  PATH@448..454
                    Ident@448..454 "render"
                ARG_LIST@454..463
                  LParen@454..455 "("
                  ARG@455..462
                    EXPR_INDEX@455..462
                      EXPR_IDENT@455..456
                        PATH@455..456
                          Ident@455..456 "t"
                      LBracket@456..457 "["
                      EXPR_INT32@457..461
                        Int32Lit@457..461 "0i32"
                      RBracket@461..462 "]"
                  RParen@462..463 ")"
            RParen@463..464 ")"
        Semi@464..465 ";"
        Whitespace@465..466 "\n"
      RBrace@466..467 "}"
      Whitespace@467..468 "\n"