FILE@0..452
  TRAIT@0..48
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..48
      TRAIT_METHOD_SIG@20..43
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        TYPE_LIST@27..34
          LParen@27..28 "("
          TYPE_TAPP@28..32
            PATH@28..32
              Ident@28..32 "Self"
          RParen@32..33 ")"
          Whitespace@33..34 " "
        Arrow@34..36 "->"
        Whitespace@36..37 " "
        TYPE_STRING@37..43
          StringKeyword@37..43 "string"
      Semi@43..44 ";"
      Whitespace@44..45 "\n"
      RBrace@45..46 "}"
      Whitespace@46..48 "\n\n"
  IMPL@48..144
    ImplKeyword@48..52 "impl"
    Whitespace@52..53 " "
    PATH@53..61
      Ident@53..60 "Display"
      Whitespace@60..61 " "
    ForKeyword@61..64 "for"
    Whitespace@64..65 " "
    TYPE_INT32@65..71
      Int32Keyword@65..70 "int32"
      Whitespace@70..71 " "
    LBrace@71..72 "{"
    Whitespace@72..77 "\n    "
    FN@77..141
      FnKeyword@77..79 "fn"
      Whitespace@79..80 " "
      Ident@80..84 "show"
      PARAM_LIST@84..98
        LParen@84..85 "("
        PARAM@85..96
          Ident@85..89 "self"
          Colon@89..90 ":"
          Whitespace@90..91 " "
          TYPE_INT32@91..96
            Int32Keyword@91..96 "int32"
        RParen@96..97 ")"
        Whitespace@97..98 " "
      Arrow@98..100 "->"
      Whitespace@100..101 " "
      TYPE_STRING@101..108
        StringKeyword@101..107 "string"
        Whitespace@107..108 " "
      BLOCK@108..141
        LBrace@108..109 "{"
        Whitespace@109..118 "\n        "
        EXPR_CALL@118..139
          EXPR_BINARY@118..132
            EXPR_IDENT@118..122
              PATH@118..122
                Ident@118..122 "self"
            Dot@122..123 "."
            EXPR_IDENT@123..132
              PATH@123..132
                Ident@123..132 "to_string"
          ARG_LIST@132..139
            LParen@132..133 "("
            RParen@133..134 ")"
            Whitespace@134..139 "\n    "
        RBrace@139..140 "}"
        Whitespace@140..141 "\n"
    RBrace@141..142 "}"
    Whitespace@142..144 "\n\n"
  FN@144..206
    FnKeyword@144..146 "fn"
    Whitespace@146..147 " "
    Ident@147..153 "render"
    PARAM_LIST@153..170
      LParen@153..154 "("
      PARAM@154..168
        Ident@154..155 "x"
        Colon@155..156 ":"
        Whitespace@156..157 " "
        TYPE_DYN@157..168
          DynKeyword@157..160 "dyn"
          Whitespace@160..161 " "
          PATH@161..168
            Ident@161..168 "Display"
      RParen@168..169 ")"
      Whitespace@169..170 " "
    Arrow@170..172 "->"
    Whitespace@172..173 " "
    TYPE_STRING@173..180
      StringKeyword@173..179 "string"
      Whitespace@179..180 " "
    BLOCK@180..206
      LBrace@180..181 "{"
      Whitespace@181..186 "\n    "
      EXPR_CALL@186..203
        EXPR_IDENT@186..199
          PATH@186..199
            Ident@186..193 "Display"
            ColonColon@193..195 "::"
            Ident@195..199 "show"
        ARG_LIST@199..203
          LParen@199..200 "("
          ARG@200..201
            EXPR_IDENT@200..201
              PATH@200..201
                Ident@200..201 "x"
          RParen@201..202 ")"
          Whitespace@202..203 "\n"
      RBrace@203..204 "}"
      Whitespace@204..206 "\n\n"
  FN@206..452
    FnKeyword@206..208 "fn"
    Whitespace@208..209 " "
    Ident@209..213 "main"
    PARAM_LIST@213..216
      LParen@213..214 "("
      RParen@214..215 ")"
      Whitespace@215..216 " "
    Arrow@216..218 "->"
    Whitespace@218..219 " "
    TYPE_UNIT@219..224
      UnitKeyword@219..223 "unit"
      Whitespace@223..224 " "
    BLOCK@224..452
      LBrace@224..225 "{"
      Whitespace@225..230 "\n    "
      STMT_LET@230..272
        LetKeyword@230..233 "let"
        Whitespace@233..234 " "
        PATTERN_VARIABLE@234..235
          Ident@234..235 "v"
        Colon@235..236 ":"
        Whitespace@236..237 " "
        TYPE_TAPP@237..254
          PATH@237..240
            Ident@237..240 "Vec"
          TYPE_PARAM_LIST@240..254
            LBracket@240..241 "["
            TYPE_DYN@241..252
              DynKeyword@241..244 "dyn"
              Whitespace@244..245 " "
              PATH@245..252
                Ident@245..252 "Display"
            RBracket@252..253 "]"
            Whitespace@253..254 " "
        Eq@254..255 "="
        Whitespace@255..256 " "
        EXPR_CALL@256..266
          EXPR_IDENT@256..264
            PATH@256..264
              Ident@256..259 "Vec"
              ColonColon@259..261 "::"
              Ident@261..264 "new"
          ARG_LIST@264..266
            LParen@264..265 "("
            RParen@265..266 ")"
        Semi@266..267 ";"
        Whitespace@267..272 "\n    "
      STMT_EXPR@272..291
        EXPR_CALL@272..285
          EXPR_BINARY@272..278
            EXPR_IDENT@272..273
              PATH@272..273
                Ident@272..273 "v"
            Dot@273..274 "."
            EXPR_IDENT@274..278
              PATH@274..278
                Ident@274..278 "push"
          ARG_LIST@278..285
            LParen@278..279 "("
            ARG@279..284
              EXPR_INT32@279..284
                Int32Lit@279..284 "10i32"
            RParen@284..285 ")"
        Semi@285..286 ";"
        Whitespace@286..291 "\n    "
      STMT_EXPR@291..310
        EXPR_CALL@291..304
          EXPR_BINARY@291..297
            EXPR_IDENT@291..292
              PATH@291..292
                Ident@291..292 "v"
            Dot@292..293 "."
            EXPR_IDENT@293..297
              PATH@293..297
                Ident@293..297 "push"
          ARG_LIST@297..304
            LParen@297..298 "("
            ARG@298..303
              EXPR_INT32@298..303
                Int32Lit@298..303 "20i32"
            RParen@303..304 ")"
        Semi@304..305 ";"
        Whitespace@305..310 "\n    "
      STMT_LET@310..363
        LetKeyword@310..313 "let"
        Whitespace@313..314 " "
        PATTERN_VARIABLE@314..315
          Ident@314..315 "s"
        Colon@315..316 ":"
        Whitespace@316..317 " "
        TYPE_TAPP@317..336
          PATH@317..322
            Ident@317..322 "Slice"
          TYPE_PARAM_LIST@322..336
            LBracket@322..323 "["
            TYPE_DYN@323..334
              DynKeyword@323..326 "dyn"
              Whitespace@326..327 " "
              PATH@327..334
                Ident@327..334 "Display"
            RBracket@334..335 "]"
            Whitespace@335..336 " "
        Eq@336..337 "="
        Whitespace@337..338 " "
        EXPR_CALL@338..357
          EXPR_BINARY@338..345
            EXPR_IDENT@338..339
              PATH@338..339
                Ident@338..339 "v"
            Dot@339..340 "."
            EXPR_IDENT@340..345
              PATH@340..345
                Ident@340..345 "slice"
          ARG_LIST@345..357
            LParen@345..346 "("
            ARG@346..352
              EXPR_INT32@346..350
                Int32Lit@346..350 "0i32"
              Comma@350..351 ","
              Whitespace@351..352 " "
            ARG@352..356
              EXPR_INT32@352..356
                Int32Lit@352..356 "2i32"
            RParen@356..357 ")"
        Semi@357..358 ";"
        Whitespace@358..363 "\n    "
      STMT_EXPR@363..393
        EXPR_CALL@363..387
          EXPR_IDENT@363..370
            PATH@363..370
              Ident@363..370 "println"
          ARG_LIST@370..387
            LParen@370..371 "("
            ARG@371..386
              EXPR_CALL@371..386
                EXPR_IDENT@371..377
                  PATH@371..377
                    Ident@371..377 "render"
                ARG_LIST@377..386
                  LParen@377..378 "("
                  ARG@378..385
                    EXPR_INDEX@378..385
                      EXPR_IDENT@378..379
                        PATH@378..379
                          Ident@378..379 "s"
                      LBracket@379..380 "["
                      EXPR_INT32@380..384
                        Int32Lit@380..384 "0i32"
                      RBracket@384..385 "]"
                  RParen@385..386 ")"
            RParen@386..387 ")"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      STMT_LET@393..424
        LetKeyword@393..396 "let"
        Whitespace@396..397 " "
        PATTERN_VARIABLE@397..399
          Ident@397..398 "t"
          Whitespace@398..399 " "
        Eq@399..400 "="
        Whitespace@400..401 " "
        EXPR_CALL@401..418
          EXPR_BINARY@401..406
            EXPR_IDENT@401..402
              PATH@401..402
                Ident@401..402 "s"
            Dot@402..403 "."
            EXPR_IDENT@403..406
              PATH@403..406
                Ident@403..406 "sub"
          ARG_LIST@406..418
            LParen@406..407 "("
            ARG@407..413
              EXPR_INT32@407..411
                Int32Lit@407..411 "1i32"
              Comma@411..412 ","
              Whitespace@412..413 " "
            ARG@413..417
              EXPR_INT32@413..417
                Int32Lit@413..417 "2i32"
            RParen@417..418 ")"
        Semi@418..419 ";"
        Whitespace@419..424 "\n    "
      STMT_EXPR@424..450
        EXPR_CALL@424..448
          EXPR_IDENT@424..431
            PATH@424..431
              Ident@424..431 "println"
          ARG_LIST@431..448
            LParen@431..432 "("
            ARG@432..447
              EXPR_CALL@432..447
                EXPR_IDENT@432..438
                  PATH@432..438
                    Ident@432..438 "render"
                ARG_LIST@438..447
                  LParen@438..439 "("
                  ARG@439..446
                    EXPR_INDEX@439..446
                      EXPR_IDENT@439..440
                        PATH@439..440
                          Ident@439..440 "t"
                      LBracket@440..441 "["
                      EXPR_INT32@441..445
                        Int32Lit@441..445 "0i32"
                      RBracket@445..446 "]"
                  RParen@446..447 ")"
            RParen@447..448 ")"
        Semi@448..449 ";"
        Whitespace@449..450 "\n"
      RBrace@450..451 "}"
      Whitespace@451..452 "\n"