FILE@0..517
  FN@0..40
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..9 "double"
    PARAM_LIST@9..18
      LParen@9..10 "("
      PARAM@10..16
        Ident@10..11 "x"
        Colon@11..12 ":"
        Whitespace@12..13 " "
        TYPE_INT32@13..16
          I32Keyword@13..16 "i32"
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_INT32@21..25
      I32Keyword@21..24 "i32"
      Whitespace@24..25 " "
    BLOCK@25..40
      LBrace@25..26 "{"
      Whitespace@26..31 "\n    "
      EXPR_BINARY@31..37
        EXPR_IDENT@31..33
          PATH@31..33
            Ident@31..32 "x"
            Whitespace@32..33 " "
        Star@33..34 "*"
        Whitespace@34..35 " "
        EXPR_INT@35..37
          Int@35..36 "2"
          Whitespace@36..37 "\n"
      RBrace@37..38 "}"
      Whitespace@38..40 "\n\n"
  FN@40..83
    FnKeyword@40..42 "fn"
    Whitespace@42..43 " "
    Ident@43..52 "increment"
    PARAM_LIST@52..61
      LParen@52..53 "("
      PARAM@53..59
        Ident@53..54 "x"
        Colon@54..55 ":"
        Whitespace@55..56 " "
        TYPE_INT32@56..59
          I32Keyword@56..59 "i32"
      RParen@59..60 ")"
      Whitespace@60..61 " "
    Arrow@61..63 "->"
    Whitespace@63..64 " "
    TYPE_INT32@64..68
      I32Keyword@64..67 "i32"
      Whitespace@67..68 " "
    BLOCK@68..83
      LBrace@68..69 "{"
      Whitespace@69..74 "\n    "
      EXPR_BINARY@74..80
        EXPR_IDENT@74..76
          PATH@74..76
            Ident@74..75 "x"
            Whitespace@75..76 " "
        Plus@76..77 "+"
        Whitespace@77..78 " "
        EXPR_INT@78..80
          Int@78..79 "1"
          Whitespace@79..80 "\n"
      RBrace@80..81 "}"
      Whitespace@81..83 "\n\n"
  FN@83..193
    FnKeyword@83..85 "fn"
    Whitespace@85..86 " "
    Ident@86..93 "chooser"
    PARAM_LIST@93..106
      LParen@93..94 "("
      PARAM@94..104
        Ident@94..98 "flag"
        Colon@98..99 ":"
        Whitespace@99..100 " "
        TYPE_BOOL@100..104
          BoolKeyword@100..104 "bool"
      RParen@104..105 ")"
      Whitespace@105..106 " "
    Arrow@106..108 "->"
    Whitespace@108..109 " "
    TYPE_FUNC@109..122
      TYPE_TUPLE@109..115
        TYPE_LIST@109..115
          LParen@109..110 "("
          TYPE_INT32@110..113
            I32Keyword@110..113 "i32"
          RParen@113..114 ")"
          Whitespace@114..115 " "
      Arrow@115..117 "->"
      Whitespace@117..118 " "
      TYPE_INT32@118..122
        I32Keyword@118..121 "i32"
        Whitespace@121..122 " "
    BLOCK@122..193
      LBrace@122..123 "{"
      Whitespace@123..128 "\n    "
      EXPR_IF@128..190
        IfKeyword@128..130 "if"
        Whitespace@130..131 " "
        EXPR_IF_COND@131..136
          EXPR_IDENT@131..136
            PATH@131..136
              Ident@131..135 "flag"
              Whitespace@135..136 " "
        EXPR_IF_THEN@136..159
          BLOCK@136..159
            LBrace@136..137 "{"
            Whitespace@137..146 "\n        "
            EXPR_IDENT@146..157
              PATH@146..157
                Ident@146..152 "double"
                Whitespace@152..157 "\n    "
            RBrace@157..158 "}"
            Whitespace@158..159 " "
        ElseKeyword@159..163 "else"
        Whitespace@163..164 " "
        EXPR_IF_ELSE@164..190
          BLOCK@164..190
            LBrace@164..165 "{"
            Whitespace@165..174 "\n        "
            EXPR_IDENT@174..188
              PATH@174..188
                Ident@174..183 "increment"
                Whitespace@183..188 "\n    "
            RBrace@188..189 "}"
            Whitespace@189..190 "\n"
      RBrace@190..191 "}"
      Whitespace@191..193 "\n\n"
  FN@193..517
    FnKeyword@193..195 "fn"
    Whitespace@195..196 " "
    Ident@196..200 "main"
    PARAM_LIST@200..203
      LParen@200..201 "("
      RParen@201..202 ")"
      Whitespace@202..203 " "
    BLOCK@203..517
      LBrace@203..204 "{"
      Whitespace@204..209 "\n    "
      STMT_LET@209..243
        LetKeyword@209..212 "let"
        Whitespace@212..213 " "
        PATTERN_VARIABLE@213..216
          Ident@213..215 "xs"
          Whitespace@215..216 " "
        Eq@216..217 "="
        Whitespace@217..218 " "
        EXPR_ARRAY_LITERAL@218..237
          LBracket@218..219 "["
          EXPR_IDENT@219..225
            PATH@219..225
              Ident@219..225 "double"
          Comma@225..226 ","
          Whitespace@226..227 " "
          EXPR_IDENT@227..236
            PATH@227..236
              Ident@227..236 "increment"
          RBracket@236..237 "]"
        Semi@237..238 ";"
        Whitespace@238..243 "\n    "
      STMT_LET@243..262
        LetKeyword@243..246 "let"
        Whitespace@246..247 " "
        PATTERN_VARIABLE@247..249
          Ident@247..248 "f"
          Whitespace@248..249 " "
        Eq@249..250 "="
        Whitespace@250..251 " "
        EXPR_INDEX@251..256
          EXPR_IDENT@251..253
            PATH@251..253
              Ident@251..253 "xs"
          LBracket@253..254 "["
          EXPR_INT@254..255
            Int@254..255 "0"
          RBracket@255..256 "]"
        Semi@256..257 ";"
        Whitespace@257..262 "\n    "
      STMT_LET@262..281
        LetKeyword@262..265 "let"
        Whitespace@265..266 " "
        PATTERN_VARIABLE@266..268
          Ident@266..267 "g"
          Whitespace@267..268 " "
        Eq@268..269 "="
        Whitespace@269..270 " "
        EXPR_INDEX@270..275
          EXPR_IDENT@270..272
            PATH@270..272
              Ident@270..272 "xs"
          LBracket@272..273 "["
          EXPR_INT@273..274
            Int@273..274 "1"
          RBracket@274..275 "]"
        Semi@275..276 ";"
        Whitespace@276..281 "\n    "
      STMT_LET@281..312
        LetKeyword@281..284 "let"
        Whitespace@284..285 " "
        PATTERN_WILDCARD@285..287
          WildcardKeyword@285..286 "_"
          Whitespace@286..287 " "
        Eq@287..288 "="
        Whitespace@288..289 " "
        EXPR_CALL@289..306
          EXPR_IDENT@289..296
            PATH@289..296
              Ident@289..296 "println"
          ARG_LIST@296..306
            LParen@296..297 "("
            ARG@297..305
              EXPR_CALL@297..305
                EXPR_IDENT@297..298
                  PATH@297..298
                    Ident@297..298 "g"
                ARG_LIST@298..305
                  LParen@298..299 "("
                  ARG@299..304
                    EXPR_CALL@299..304
                      EXPR_IDENT@299..300
                        PATH@299..300
                          Ident@299..300 "f"
                      ARG_LIST@300..304
                        LParen@300..301 "("
                        ARG@301..303
                          EXPR_INT@301..303
                            Int@301..303 "10"
                        RParen@303..304 ")"
                  RParen@304..305 ")"
            RParen@305..306 ")"
        Semi@306..307 ";"
        Whitespace@307..312 "\n    "
      STMT_LET@312..344
        LetKeyword@312..315 "let"
        Whitespace@315..316 " "
        PATTERN_VARIABLE@316..323
          Ident@316..322 "chosen"
          Whitespace@322..323 " "
        Eq@323..324 "="
        Whitespace@324..325 " "
        EXPR_CALL@325..338
          EXPR_IDENT@325..332
            PATH@325..332
              Ident@325..332 "chooser"
          ARG_LIST@332..338
            LParen@332..333 "("
            ARG@333..337
              EXPR_BOOL@333..337
                TrueKeyword@333..337 "true"
            RParen@337..338 ")"
        Semi@338..339 ";"
        Whitespace@339..344 "\n    "
      STMT_LET@344..373
        LetKeyword@344..347 "let"
        Whitespace@347..348 " "
        PATTERN_VARIABLE@348..356
          Ident@348..355 "applied"
          Whitespace@355..356 " "
        Eq@356..357 "="
        Whitespace@357..358 " "
        EXPR_CALL@358..367
          EXPR_IDENT@358..364
            PATH@358..364
              Ident@358..364 "chosen"
          ARG_LIST@364..367
            LParen@364..365 "("
            ARG@365..366
              EXPR_INT@365..366
                Int@365..366 "5"
            RParen@366..367 ")"
        Semi@367..368 ";"
        Whitespace@368..373 "\n    "
      STMT_LET@373..409
        LetKeyword@373..376 "let"
        Whitespace@376..377 " "
        PATTERN_VARIABLE@377..384
          Ident@377..383 "direct"
          Whitespace@383..384 " "
        Eq@384..385 "="
        Whitespace@385..386 " "
        EXPR_CALL@386..403
          EXPR_CALL@386..400
            EXPR_IDENT@386..393
              PATH@386..393
                Ident@386..393 "chooser"
            ARG_LIST@393..400
              LParen@393..394 "("
              ARG@394..399
                EXPR_BOOL@394..399
                  FalseKeyword@394..399 "false"
              RParen@399..400 ")"
          ARG_LIST@400..403
            LParen@400..401 "("
            ARG@401..402
              EXPR_INT@401..402
                Int@401..402 "5"
            RParen@402..403 ")"
        Semi@403..404 ";"
        Whitespace@404..409 "\n    "
      STMT_LET@409..436
        LetKeyword@409..412 "let"
        Whitespace@412..413 " "
        PATTERN_VARIABLE@413..421
          Ident@413..420 "printer"
          Whitespace@420..421 " "
        Eq@421..422 "="
        Whitespace@422..423 " "
        EXPR_IDENT@423..430
          PATH@423..430
            Ident@423..430 "println"
        Semi@430..431 ";"
        Whitespace@431..436 "\n    "
      STMT_LET@436..478
        LetKeyword@436..439 "let"
        Whitespace@439..440 " "
        PATTERN_WILDCARD@440..442
          WildcardKeyword@440..441 "_"
          Whitespace@441..442 " "
        Eq@442..443 "="
        Whitespace@443..444 " "
        EXPR_CALL@444..472
          EXPR_IDENT@444..451
            PATH@444..451
              Ident@444..451 "printer"
          ARG_LIST@451..472
            LParen@451..452 "("
            ARG@452..471
              EXPR_CALL@452..471
                EXPR_BINARY@452..469
                  EXPR_IDENT@452..459
                    PATH@452..459
                      Ident@452..459 "applied"
                  Dot@459..460 "."
                  EXPR_IDENT@460..469
                    PATH@460..469
                      Ident@460..469 "to_string"
                ARG_LIST@469..471
                  LParen@469..470 "("
                  RParen@470..471 ")"
            RParen@471..472 ")"
        Semi@472..473 ";"
        Whitespace@473..478 "\n    "
      STMT_LET@478..515
        LetKeyword@478..481 "let"
        Whitespace@481..482 " "
        PATTERN_WILDCARD@482..484
          WildcardKeyword@482..483 "_"
          Whitespace@483..484 " "
        Eq@484..485 "="
        Whitespace@485..486 " "
        EXPR_CALL@486..513
          EXPR_IDENT@486..493
            PATH@486..493
              Ident@486..493 "printer"
          ARG_LIST@493..513
            LParen@493..494 "("
            ARG@494..512
              EXPR_CALL@494..512
                EXPR_BINARY@494..510
                  EXPR_IDENT@494..500
                    PATH@494..500
                      Ident@494..500 "direct"
                  Dot@500..501 "."
                  EXPR_IDENT@501..510
                    PATH@501..510
                      Ident@501..510 "to_string"
                ARG_LIST@510..512
                  LParen@510..511 "("
                  RParen@511..512 ")"
            RParen@512..513 ")"
        Semi@513..514 ";"
        Whitespace@514..515 "\n"
      RBrace@515..516 "}"
      Whitespace@516..517 "\n"