FILE@0..1223
  FN@0..127
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..21 "unwrap_or_negative"
    PARAM_LIST@21..42
      LParen@21..22 "("
      PARAM@22..40
        Ident@22..27 "value"
        Colon@27..28 ":"
        Whitespace@28..29 " "
        TYPE_TAPP@29..40
          PATH@29..35
            Ident@29..35 "Option"
          TYPE_PARAM_LIST@35..40
            LBracket@35..36 "["
            TYPE_INT@36..39
              IntKeyword@36..39 "int"
            RBracket@39..40 "]"
      RParen@40..41 ")"
      Whitespace@41..42 " "
    Arrow@42..44 "->"
    Whitespace@44..45 " "
    TYPE_INT@45..49
      IntKeyword@45..48 "int"
      Whitespace@48..49 " "
    BLOCK@49..127
      LBrace@49..50 "{"
      Whitespace@50..55 "\n    "
      STMT_LET@55..117
        LetKeyword@55..58 "let"
        Whitespace@58..59 " "
        PATTERN_CONSTR@59..72
          PATH@59..63
            Ident@59..63 "Some"
          LParen@63..64 "("
          PATTERN_VARIABLE@64..70
            Ident@64..70 "result"
          RParen@70..71 ")"
          Whitespace@71..72 " "
        Eq@72..73 "="
        Whitespace@73..74 " "
        EXPR_IDENT@74..80
          PATH@74..80
            Ident@74..79 "value"
            Whitespace@79..80 " "
        ElseKeyword@80..84 "else"
        Whitespace@84..85 " "
        BLOCK@85..111
          LBrace@85..86 "{"
          Whitespace@86..95 "\n        "
          STMT_EXPR@95..110
            EXPR_RETURN@95..104
              ReturnKeyword@95..101 "return"
              Whitespace@101..102 " "
              EXPR_PREFIX@102..104
                Minus@102..103 "-"
                EXPR_INT@103..104
                  Int@103..104 "1"
            Semi@104..105 ";"
            Whitespace@105..110 "\n    "
          RBrace@110..111 "}"
        Semi@111..112 ";"
        Whitespace@112..117 "\n    "
      EXPR_IDENT@117..124
        PATH@117..124
          Ident@117..123 "result"
          Whitespace@123..124 "\n"
      RBrace@124..125 "}"
      Whitespace@125..127 "\n\n"
  FN@127..350
    FnKeyword@127..129 "fn"
    Whitespace@129..130 " "
    Ident@130..138 "count_to"
    PARAM_LIST@138..151
      LParen@138..139 "("
      PARAM@139..149
        Ident@139..144 "limit"
        Colon@144..145 ":"
        Whitespace@145..146 " "
        TYPE_INT@146..149
          IntKeyword@146..149 "int"
      RParen@149..150 ")"
      Whitespace@150..151 " "
    Arrow@151..153 "->"
    Whitespace@153..154 " "
    TYPE_INT@154..158
      IntKeyword@154..157 "int"
      Whitespace@157..158 " "
    BLOCK@158..350
      LBrace@158..159 "{"
      Whitespace@159..164 "\n    "
      STMT_LET@164..195
        LetKeyword@164..167 "let"
        Whitespace@167..168 " "
        PATTERN_VARIABLE@168..176
          Ident@168..175 "counter"
          Whitespace@175..176 " "
        Eq@176..177 "="
        Whitespace@177..178 " "
        EXPR_CALL@178..189
          EXPR_IDENT@178..186
            PATH@178..186
              Ident@178..181 "Ref"
              ColonColon@181..183 "::"
              Ident@183..186 "new"
          ARG_LIST@186..189
            LParen@186..187 "("
            ARG@187..188
              EXPR_INT@187..188
                Int@187..188 "0"
            RParen@188..189 ")"
        Semi@189..190 ";"
        Whitespace@190..195 "\n    "
      EXPR_LOOP@195..347
        LoopKeyword@195..199 "loop"
        Whitespace@199..200 " "
        BLOCK@200..347
          LBrace@200..201 "{"
          Whitespace@201..210 "\n        "
          STMT_LET@210..247
            LetKeyword@210..213 "let"
            Whitespace@213..214 " "
            PATTERN_VARIABLE@214..222
              Ident@214..221 "current"
              Whitespace@221..222 " "
            Eq@222..223 "="
            Whitespace@223..224 " "
            EXPR_CALL@224..237
              EXPR_BINARY@224..235
                EXPR_IDENT@224..231
                  PATH@224..231
                    Ident@224..231 "counter"
                Dot@231..232 "."
                EXPR_IDENT@232..235
                  PATH@232..235
                    Ident@232..235 "get"
              ARG_LIST@235..237
                LParen@235..236 "("
                RParen@236..237 ")"
            Semi@237..238 ";"
            Whitespace@238..247 "\n        "
          STMT_EXPR@247..315
            EXPR_IF@247..305
              IfKeyword@247..249 "if"
              Whitespace@249..250 " "
              EXPR_IF_COND@250..267
                EXPR_BINARY@250..267
                  EXPR_IDENT@250..258
                    PATH@250..258
                      Ident@250..257 "current"
                      Whitespace@257..258 " "
                  GreaterEq@258..260 ">="
                  Whitespace@260..261 " "
                  EXPR_IDENT@261..267
                    PATH@261..267
                      Ident@261..266 "limit"
                      Whitespace@266..267 " "
              EXPR_IF_THEN@267..305
                BLOCK@267..305
                  LBrace@267..268 "{"
                  Whitespace@268..281 "\n            "
                  STMT_EXPR@281..304
                    EXPR_BREAK@281..294
                      BreakKeyword@281..286 "break"
                      Whitespace@286..287 " "
                      EXPR_IDENT@287..294
                        PATH@287..294
                          Ident@287..294 "current"
                    Semi@294..295 ";"
                    Whitespace@295..304 "\n        "
                  RBrace@304..305 "}"
            Semi@305..306 ";"
            Whitespace@306..315 "\n        "
          STMT_EXPR@315..345
            EXPR_CALL@315..339
              EXPR_BINARY@315..326
                EXPR_IDENT@315..322
                  PATH@315..322
                    Ident@315..322 "counter"
                Dot@322..323 "."
                EXPR_IDENT@323..326
                  PATH@323..326
                    Ident@323..326 "set"
              ARG_LIST@326..339
                LParen@326..327 "("
                ARG@327..338
                  EXPR_BINARY@327..338
                    EXPR_IDENT@327..335
                      PATH@327..335
                        Ident@327..334 "current"
                        Whitespace@334..335 " "
                    Plus@335..336 "+"
                    Whitespace@336..337 " "
                    EXPR_INT@337..338
                      Int@337..338 "1"
                RParen@338..339 ")"
            Semi@339..340 ";"
            Whitespace@340..345 "\n    "
          RBrace@345..346 "}"
          Whitespace@346..347 "\n"
      RBrace@347..348 "}"
      Whitespace@348..350 "\n\n"
  FN@350..505
    FnKeyword@350..352 "fn"
    Whitespace@352..353 " "
    Ident@353..364 "loop_option"
    PARAM_LIST@364..385
      LParen@364..365 "("
      PARAM@365..383
        Ident@365..370 "value"
        Colon@370..371 ":"
        Whitespace@371..372 " "
        TYPE_TAPP@372..383
          PATH@372..378
            Ident@372..378 "Option"
          TYPE_PARAM_LIST@378..383
            LBracket@378..379 "["
            TYPE_INT@379..382
              IntKeyword@379..382 "int"
            RBracket@382..383 "]"
      RParen@383..384 ")"
      Whitespace@384..385 " "
    Arrow@385..387 "->"
    Whitespace@387..388 " "
    TYPE_INT@388..392
      IntKeyword@388..391 "int"
      Whitespace@391..392 " "
    BLOCK@392..505
      LBrace@392..393 "{"
      Whitespace@393..398 "\n    "
      EXPR_LOOP@398..502
        LoopKeyword@398..402 "loop"
        Whitespace@402..403 " "
        BLOCK@403..502
          LBrace@403..404 "{"
          Whitespace@404..413 "\n        "
          STMT_LET@413..484
            LetKeyword@413..416 "let"
            Whitespace@416..417 " "
            PATTERN_CONSTR@417..428
              PATH@417..421
                Ident@417..421 "Some"
              LParen@421..422 "("
              PATTERN_VARIABLE@422..426
                Ident@422..426 "item"
              RParen@426..427 ")"
              Whitespace@427..428 " "
            Eq@428..429 "="
            Whitespace@429..430 " "
            EXPR_IDENT@430..436
              PATH@430..436
                Ident@430..435 "value"
                Whitespace@435..436 " "
            ElseKeyword@436..440 "else"
            Whitespace@440..441 " "
            BLOCK@441..474
              LBrace@441..442 "{"
              Whitespace@442..455 "\n            "
              STMT_EXPR@455..473
                EXPR_BREAK@455..463
                  BreakKeyword@455..460 "break"
                  Whitespace@460..461 " "
                  EXPR_PREFIX@461..463
                    Minus@461..462 "-"
                    EXPR_INT@462..463
                      Int@462..463 "2"
                Semi@463..464 ";"
                Whitespace@464..473 "\n        "
              RBrace@473..474 "}"
            Semi@474..475 ";"
            Whitespace@475..484 "\n        "
          STMT_EXPR@484..500
            EXPR_BREAK@484..494
              BreakKeyword@484..489 "break"
              Whitespace@489..490 " "
              EXPR_IDENT@490..494
                PATH@490..494
                  Ident@490..494 "item"
            Semi@494..495 ";"
            Whitespace@495..500 "\n    "
          RBrace@500..501 "}"
          Whitespace@501..502 "\n"
      RBrace@502..503 "}"
      Whitespace@503..505 "\n\n"
  FN@505..618
    FnKeyword@505..507 "fn"
    Whitespace@507..508 " "
    Ident@508..525 "nested_loop_value"
    PARAM_LIST@525..528
      LParen@525..526 "("
      RParen@526..527 ")"
      Whitespace@527..528 " "
    Arrow@528..530 "->"
    Whitespace@530..531 " "
    TYPE_INT@531..535
      IntKeyword@531..534 "int"
      Whitespace@534..535 " "
    BLOCK@535..618
      LBrace@535..536 "{"
      Whitespace@536..541 "\n    "
      EXPR_LOOP@541..615
        LoopKeyword@541..545 "loop"
        Whitespace@545..546 " "
        BLOCK@546..615
          LBrace@546..547 "{"
          Whitespace@547..556 "\n        "
          STMT_EXPR@556..600
            EXPR_LOOP@556..600
              LoopKeyword@556..560 "loop"
              Whitespace@560..561 " "
              BLOCK@561..600
                LBrace@561..562 "{"
                Whitespace@562..575 "\n            "
                STMT_EXPR@575..590
                  EXPR_BREAK@575..580
                    BreakKeyword@575..580 "break"
                  Semi@580..581 ";"
                  Whitespace@581..590 "\n        "
                RBrace@590..591 "}"
                Whitespace@591..600 "\n        "
          STMT_EXPR@600..613
            EXPR_BREAK@600..607
              BreakKeyword@600..605 "break"
              Whitespace@605..606 " "
              EXPR_INT@606..607
                Int@606..607 "7"
            Semi@607..608 ";"
            Whitespace@608..613 "\n    "
          RBrace@613..614 "}"
          Whitespace@614..615 "\n"
      RBrace@615..616 "}"
      Whitespace@616..618 "\n\n"
  FN@618..661
    FnKeyword@618..620 "fn"
    Whitespace@620..621 " "
    Ident@621..634 "never_returns"
    PARAM_LIST@634..637
      LParen@634..635 "("
      RParen@635..636 ")"
      Whitespace@636..637 " "
    Arrow@637..639 "->"
    Whitespace@639..640 " "
    TYPE_INT@640..644
      IntKeyword@640..643 "int"
      Whitespace@643..644 " "
    BLOCK@644..661
      LBrace@644..645 "{"
      Whitespace@645..650 "\n    "
      EXPR_LOOP@650..658
        LoopKeyword@650..654 "loop"
        Whitespace@654..655 " "
        BLOCK@655..658
          LBrace@655..656 "{"
          RBrace@656..657 "}"
          Whitespace@657..658 "\n"
      RBrace@658..659 "}"
      Whitespace@659..661 "\n\n"
  FN@661..780
    FnKeyword@661..663 "fn"
    Whitespace@663..664 " "
    Ident@664..680 "matches_raw_path"
    PARAM_LIST@680..696
      LParen@680..681 "("
      PARAM@681..694
        Ident@681..686 "value"
        Colon@686..687 ":"
        Whitespace@687..688 " "
        TYPE_STRING@688..694
          StringKeyword@688..694 "string"
      RParen@694..695 ")"
      Whitespace@695..696 " "
    Arrow@696..698 "->"
    Whitespace@698..699 " "
    TYPE_BOOL@699..704
      BoolKeyword@699..703 "bool"
      Whitespace@703..704 " "
    BLOCK@704..780
      LBrace@704..705 "{"
      Whitespace@705..710 "\n    "
      EXPR_MATCH@710..777
        MatchKeyword@710..715 "match"
        Whitespace@715..716 " "
        EXPR_IDENT@716..722
          PATH@716..722
            Ident@716..721 "value"
            Whitespace@721..722 " "
        MATCH_ARM_LIST@722..777
          LBrace@722..723 "{"
          Whitespace@723..732 "\n        "
          MATCH_ARM@732..749
            PATTERN_STRING@732..742
              RawStr@732..741 "r\"C:\\tmp\""
              Whitespace@741..742 " "
            FatArrow@742..744 "=>"
            Whitespace@744..745 " "
            EXPR_BOOL@745..749
              TrueKeyword@745..749 "true"
          Comma@749..750 ","
          Whitespace@750..759 "\n        "
          MATCH_ARM@759..769
            PATTERN_WILDCARD@759..761
              WildcardKeyword@759..760 "_"
              Whitespace@760..761 " "
            FatArrow@761..763 "=>"
            Whitespace@763..764 " "
            EXPR_BOOL@764..769
              FalseKeyword@764..769 "false"
          Comma@769..770 ","
          Whitespace@770..775 "\n    "
          RBrace@775..776 "}"
          Whitespace@776..777 "\n"
      RBrace@777..778 "}"
      Whitespace@778..780 "\n\n"
  FN@780..1223
    FnKeyword@780..782 "fn"
    Whitespace@782..783 " "
    Ident@783..787 "main"
    PARAM_LIST@787..790
      LParen@787..788 "("
      RParen@788..789 ")"
      Whitespace@789..790 " "
    BLOCK@790..1223
      LBrace@790..791 "{"
      Whitespace@791..796 "\n    "
      STMT_EXPR@796..832
        EXPR_CALL@796..826
          EXPR_IDENT@796..803
            PATH@796..803
              Ident@796..803 "println"
          ARG_LIST@803..826
            LParen@803..804 "("
            ARG@804..825
              EXPR_RAW_STR@804..825
                RawStr@804..825 "r#\"C:\\tmp\\\"quoted\\\"\"#"
            RParen@825..826 ")"
        Semi@826..827 ";"
        Whitespace@827..832 "\n    "
      STMT_EXPR@832..858
        EXPR_CALL@832..852
          EXPR_IDENT@832..839
            PATH@832..839
              Ident@832..839 "println"
          ARG_LIST@839..852
            LParen@839..840 "("
            ARG@840..851
              EXPR_INTERPOLATED_STRING@840..851
                FStringStart@840..842 "f\""
                FStringExprStart@842..843 "{"
                INTERPOLATED_STRING_EXPR@843..850
                  EXPR_RAW_STR@843..849
                    RawStr@843..849 "r#\"}\"#"
                  FStringExprEnd@849..850 "}"
                FStringEnd@850..851 "\""
            RParen@851..852 ")"
        Semi@852..853 ";"
        Whitespace@853..858 "\n    "
      STMT_EXPR@858..921
        EXPR_CALL@858..915
          EXPR_IDENT@858..865
            PATH@858..865
              Ident@858..865 "println"
          ARG_LIST@865..915
            LParen@865..866 "("
            ARG@866..914
              EXPR_CALL@866..914
                EXPR_BINARY@866..912
                  EXPR_CALL@866..902
                    EXPR_IDENT@866..884
                      PATH@866..884
                        Ident@866..884 "unwrap_or_negative"
                    ARG_LIST@884..902
                      LParen@884..885 "("
                      ARG@885..901
                        EXPR_CALL@885..901
                          EXPR_IDENT@885..897
                            PATH@885..897
                              Ident@885..891 "Option"
                              ColonColon@891..893 "::"
                              Ident@893..897 "Some"
                          ARG_LIST@897..901
                            LParen@897..898 "("
                            ARG@898..900
                              EXPR_INT@898..900
                                Int@898..900 "11"
                            RParen@900..901 ")"
                      RParen@901..902 ")"
                  Dot@902..903 "."
                  EXPR_IDENT@903..912
                    PATH@903..912
                      Ident@903..912 "to_string"
                ARG_LIST@912..914
                  LParen@912..913 "("
                  RParen@913..914 ")"
            RParen@914..915 ")"
        Semi@915..916 ";"
        Whitespace@916..921 "\n    "
      STMT_EXPR@921..980
        EXPR_CALL@921..974
          EXPR_IDENT@921..928
            PATH@921..928
              Ident@921..928 "println"
          ARG_LIST@928..974
            LParen@928..929 "("
            ARG@929..973
              EXPR_CALL@929..973
                EXPR_BINARY@929..971
                  EXPR_CALL@929..961
                    EXPR_IDENT@929..947
                      PATH@929..947
                        Ident@929..947 "unwrap_or_negative"
                    ARG_LIST@947..961
                      LParen@947..948 "("
                      ARG@948..960
                        EXPR_IDENT@948..960
                          PATH@948..960
                            Ident@948..954 "Option"
                            ColonColon@954..956 "::"
                            Ident@956..960 "None"
                      RParen@960..961 ")"
                  Dot@961..962 "."
                  EXPR_IDENT@962..971
                    PATH@962..971
                      Ident@962..971 "to_string"
                ARG_LIST@971..973
                  LParen@971..972 "("
                  RParen@972..973 ")"
            RParen@973..974 ")"
        Semi@974..975 ";"
        Whitespace@975..980 "\n    "
      STMT_EXPR@980..1018
        EXPR_CALL@980..1012
          EXPR_IDENT@980..987
            PATH@980..987
              Ident@980..987 "println"
          ARG_LIST@987..1012
            LParen@987..988 "("
            ARG@988..1011
              EXPR_CALL@988..1011
                EXPR_BINARY@988..1009
                  EXPR_CALL@988..999
                    EXPR_IDENT@988..996
                      PATH@988..996
                        Ident@988..996 "count_to"
                    ARG_LIST@996..999
                      LParen@996..997 "("
                      ARG@997..998
                        EXPR_INT@997..998
                          Int@997..998 "4"
                      RParen@998..999 ")"
                  Dot@999..1000 "."
                  EXPR_IDENT@1000..1009
                    PATH@1000..1009
                      Ident@1000..1009 "to_string"
                ARG_LIST@1009..1011
                  LParen@1009..1010 "("
                  RParen@1010..1011 ")"
            RParen@1011..1012 ")"
        Semi@1012..1013 ";"
        Whitespace@1013..1018 "\n    "
      STMT_EXPR@1018..1073
        EXPR_CALL@1018..1067
          EXPR_IDENT@1018..1025
            PATH@1018..1025
              Ident@1018..1025 "println"
          ARG_LIST@1025..1067
            LParen@1025..1026 "("
            ARG@1026..1066
              EXPR_CALL@1026..1066
                EXPR_BINARY@1026..1064
                  EXPR_CALL@1026..1054
                    EXPR_IDENT@1026..1037
                      PATH@1026..1037
                        Ident@1026..1037 "loop_option"
                    ARG_LIST@1037..1054
                      LParen@1037..1038 "("
                      ARG@1038..1053
                        EXPR_CALL@1038..1053
                          EXPR_IDENT@1038..1050
                            PATH@1038..1050
                              Ident@1038..1044 "Option"
                              ColonColon@1044..1046 "::"
                              Ident@1046..1050 "Some"
                          ARG_LIST@1050..1053
                            LParen@1050..1051 "("
                            ARG@1051..1052
                              EXPR_INT@1051..1052
                                Int@1051..1052 "9"
                            RParen@1052..1053 ")"
                      RParen@1053..1054 ")"
                  Dot@1054..1055 "."
                  EXPR_IDENT@1055..1064
                    PATH@1055..1064
                      Ident@1055..1064 "to_string"
                ARG_LIST@1064..1066
                  LParen@1064..1065 "("
                  RParen@1065..1066 ")"
            RParen@1066..1067 ")"
        Semi@1067..1068 ";"
        Whitespace@1068..1073 "\n    "
      STMT_EXPR@1073..1125
        EXPR_CALL@1073..1119
          EXPR_IDENT@1073..1080
            PATH@1073..1080
              Ident@1073..1080 "println"
          ARG_LIST@1080..1119
            LParen@1080..1081 "("
            ARG@1081..1118
              EXPR_CALL@1081..1118
                EXPR_BINARY@1081..1116
                  EXPR_CALL@1081..1106
                    EXPR_IDENT@1081..1092
                      PATH@1081..1092
                        Ident@1081..1092 "loop_option"
                    ARG_LIST@1092..1106
                      LParen@1092..1093 "("
                      ARG@1093..1105
                        EXPR_IDENT@1093..1105
                          PATH@1093..1105
                            Ident@1093..1099 "Option"
                            ColonColon@1099..1101 "::"
                            Ident@1101..1105 "None"
                      RParen@1105..1106 ")"
                  Dot@1106..1107 "."
                  EXPR_IDENT@1107..1116
                    PATH@1107..1116
                      Ident@1107..1116 "to_string"
                ARG_LIST@1116..1118
                  LParen@1116..1117 "("
                  RParen@1117..1118 ")"
            RParen@1118..1119 ")"
        Semi@1119..1120 ";"
        Whitespace@1120..1125 "\n    "
      STMT_EXPR@1125..1171
        EXPR_CALL@1125..1165
          EXPR_IDENT@1125..1132
            PATH@1125..1132
              Ident@1125..1132 "println"
          ARG_LIST@1132..1165
            LParen@1132..1133 "("
            ARG@1133..1164
              EXPR_CALL@1133..1164
                EXPR_BINARY@1133..1162
                  EXPR_CALL@1133..1152
                    EXPR_IDENT@1133..1150
                      PATH@1133..1150
                        Ident@1133..1150 "nested_loop_value"
                    ARG_LIST@1150..1152
                      LParen@1150..1151 "("
                      RParen@1151..1152 ")"
                  Dot@1152..1153 "."
                  EXPR_IDENT@1153..1162
                    PATH@1153..1162
                      Ident@1153..1162 "to_string"
                ARG_LIST@1162..1164
                  LParen@1162..1163 "("
                  RParen@1163..1164 ")"
            RParen@1164..1165 ")"
        Semi@1165..1166 ";"
        Whitespace@1166..1171 "\n    "
      STMT_EXPR@1171..1221
        EXPR_CALL@1171..1219
          EXPR_IDENT@1171..1178
            PATH@1171..1178
              Ident@1171..1178 "println"
          ARG_LIST@1178..1219
            LParen@1178..1179 "("
            ARG@1179..1218
              EXPR_CALL@1179..1218
                EXPR_BINARY@1179..1216
                  EXPR_CALL@1179..1206
                    EXPR_IDENT@1179..1195
                      PATH@1179..1195
                        Ident@1179..1195 "matches_raw_path"
                    ARG_LIST@1195..1206
                      LParen@1195..1196 "("
                      ARG@1196..1205
                        EXPR_RAW_STR@1196..1205
                          RawStr@1196..1205 "r\"C:\\tmp\""
                      RParen@1205..1206 ")"
                  Dot@1206..1207 "."
                  EXPR_IDENT@1207..1216
                    PATH@1207..1216
                      Ident@1207..1216 "to_string"
                ARG_LIST@1216..1218
                  LParen@1216..1217 "("
                  RParen@1217..1218 ")"
            RParen@1218..1219 ")"
        Semi@1219..1220 ";"
        Whitespace@1220..1221 "\n"
      RBrace@1221..1222 "}"
      Whitespace@1222..1223 "\n"