FILE@0..784
  FN@0..144
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..11 "classify"
    PARAM_LIST@11..22
      LParen@11..12 "("
      PARAM@12..20
        Ident@12..13 "x"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_INT32@15..20
          Int32Keyword@15..20 "int32"
      RParen@20..21 ")"
      Whitespace@21..22 " "
    Arrow@22..24 "->"
    Whitespace@24..25 " "
    TYPE_STRING@25..32
      StringKeyword@25..31 "string"
      Whitespace@31..32 " "
    BLOCK@32..144
      LBrace@32..33 "{"
      Whitespace@33..36 "\n  "
      EXPR_IF@36..141
        IfKeyword@36..38 "if"
        Whitespace@38..39 " "
        EXPR_IF_COND@39..45
          EXPR_BINARY@39..45
            EXPR_IDENT@39..41
              PATH@39..41
                Ident@39..40 "x"
                Whitespace@40..41 " "
            Less@41..42 "<"
            Whitespace@42..43 " "
            EXPR_INT@43..45
              Int@43..44 "0"
              Whitespace@44..45 " "
        EXPR_IF_THEN@45..66
          BLOCK@45..66
            LBrace@45..46 "{"
            Whitespace@46..51 "\n    "
            EXPR_STR@51..64
              Str@51..61 "\"negative\""
              Whitespace@61..64 "\n  "
            RBrace@64..65 "}"
            Whitespace@65..66 " "
        ElseKeyword@66..70 "else"
        Whitespace@70..71 " "
        EXPR_IF_ELSE@71..141
          BLOCK@71..141
            LBrace@71..72 "{"
            Whitespace@72..77 "\n    "
            EXPR_IF@77..139
              IfKeyword@77..79 "if"
              Whitespace@79..80 " "
              EXPR_IF_COND@80..86
                EXPR_BINARY@80..86
                  EXPR_INT@80..82
                    Int@80..81 "0"
                    Whitespace@81..82 " "
                  Less@82..83 "<"
                  Whitespace@83..84 " "
                  EXPR_IDENT@84..86
                    PATH@84..86
                      Ident@84..85 "x"
                      Whitespace@85..86 " "
              EXPR_IF_THEN@86..111
                BLOCK@86..111
                  LBrace@86..87 "{"
                  Whitespace@87..94 "\n      "
                  EXPR_STR@94..109
                    Str@94..104 "\"positive\""
                    Whitespace@104..109 "\n    "
                  RBrace@109..110 "}"
                  Whitespace@110..111 " "
              ElseKeyword@111..115 "else"
              Whitespace@115..116 " "
              EXPR_IF_ELSE@116..139
                BLOCK@116..139
                  LBrace@116..117 "{"
                  Whitespace@117..124 "\n      "
                  EXPR_STR@124..135
                    Str@124..130 "\"zero\""
                    Whitespace@130..135 "\n    "
                  RBrace@135..136 "}"
                  Whitespace@136..139 "\n  "
            RBrace@139..140 "}"
            Whitespace@140..141 "\n"
      RBrace@141..142 "}"
      Whitespace@142..144 "\n\n"
  FN@144..361
    FnKeyword@144..146 "fn"
    Whitespace@146..147 " "
    Ident@147..160 "triangle_type"
    PARAM_LIST@160..191
      LParen@160..161 "("
      PARAM@161..171
        Ident@161..162 "a"
        Colon@162..163 ":"
        Whitespace@163..164 " "
        TYPE_INT32@164..169
          Int32Keyword@164..169 "int32"
        Comma@169..170 ","
        Whitespace@170..171 " "
      PARAM@171..181
        Ident@171..172 "b"
        Colon@172..173 ":"
        Whitespace@173..174 " "
        TYPE_INT32@174..179
          Int32Keyword@174..179 "int32"
        Comma@179..180 ","
        Whitespace@180..181 " "
      PARAM@181..189
        Ident@181..182 "c"
        Colon@182..183 ":"
        Whitespace@183..184 " "
        TYPE_INT32@184..189
          Int32Keyword@184..189 "int32"
      RParen@189..190 ")"
      Whitespace@190..191 " "
    Arrow@191..193 "->"
    Whitespace@193..194 " "
    TYPE_STRING@194..201
      StringKeyword@194..200 "string"
      Whitespace@200..201 " "
    BLOCK@201..361
      LBrace@201..202 "{"
      Whitespace@202..205 "\n  "
      EXPR_IF@205..358
        IfKeyword@205..207 "if"
        Whitespace@207..208 " "
        EXPR_IF_COND@208..214
          EXPR_BINARY@208..214
            EXPR_IDENT@208..210
              PATH@208..210
                Ident@208..209 "a"
                Whitespace@209..210 " "
            Less@210..211 "<"
            Whitespace@211..212 " "
            EXPR_IDENT@212..214
              PATH@212..214
                Ident@212..213 "b"
                Whitespace@213..214 " "
        EXPR_IF_THEN@214..285
          BLOCK@214..285
            LBrace@214..215 "{"
            Whitespace@215..220 "\n    "
            EXPR_IF@220..283
              IfKeyword@220..222 "if"
              Whitespace@222..223 " "
              EXPR_IF_COND@223..229
                EXPR_BINARY@223..229
                  EXPR_IDENT@223..225
                    PATH@223..225
                      Ident@223..224 "b"
                      Whitespace@224..225 " "
                  Less@225..226 "<"
                  Whitespace@226..227 " "
                  EXPR_IDENT@227..229
                    PATH@227..229
                      Ident@227..228 "c"
                      Whitespace@228..229 " "
              EXPR_IF_THEN@229..255
                BLOCK@229..255
                  LBrace@229..230 "{"
                  Whitespace@230..237 "\n      "
                  EXPR_STR@237..253
                    Str@237..248 "\"ascending\""
                    Whitespace@248..253 "\n    "
                  RBrace@253..254 "}"
                  Whitespace@254..255 " "
              ElseKeyword@255..259 "else"
              Whitespace@259..260 " "
              EXPR_IF_ELSE@260..283
                BLOCK@260..283
                  LBrace@260..261 "{"
                  Whitespace@261..268 "\n      "
                  EXPR_STR@268..279
                    Str@268..274 "\"peak\""
                    Whitespace@274..279 "\n    "
                  RBrace@279..280 "}"
                  Whitespace@280..283 "\n  "
            RBrace@283..284 "}"
            Whitespace@284..285 " "
        ElseKeyword@285..289 "else"
        Whitespace@289..290 " "
        EXPR_IF_ELSE@290..358
          BLOCK@290..358
            LBrace@290..291 "{"
            Whitespace@291..296 "\n    "
            EXPR_IF@296..356
              IfKeyword@296..298 "if"
              Whitespace@298..299 " "
              EXPR_IF_COND@299..305
                EXPR_BINARY@299..305
                  EXPR_IDENT@299..301
                    PATH@299..301
                      Ident@299..300 "a"
                      Whitespace@300..301 " "
                  Less@301..302 "<"
                  Whitespace@302..303 " "
                  EXPR_IDENT@303..305
                    PATH@303..305
                      Ident@303..304 "c"
                      Whitespace@304..305 " "
              EXPR_IF_THEN@305..328
                BLOCK@305..328
                  LBrace@305..306 "{"
                  Whitespace@306..313 "\n      "
                  EXPR_STR@313..326
                    Str@313..321 "\"valley\""
                    Whitespace@321..326 "\n    "
                  RBrace@326..327 "}"
                  Whitespace@327..328 " "
              ElseKeyword@328..332 "else"
              Whitespace@332..333 " "
              EXPR_IF_ELSE@333..356
                BLOCK@333..356
                  LBrace@333..334 "{"
                  Whitespace@334..341 "\n      "
                  EXPR_STR@341..352
                    Str@341..347 "\"flat\""
                    Whitespace@347..352 "\n    "
                  RBrace@352..353 "}"
                  Whitespace@353..356 "\n  "
            RBrace@356..357 "}"
            Whitespace@357..358 "\n"
      RBrace@358..359 "}"
      Whitespace@359..361 "\n\n"
  FN@361..784
    FnKeyword@361..363 "fn"
    Whitespace@363..364 " "
    Ident@364..368 "main"
    PARAM_LIST@368..371
      LParen@368..369 "("
      RParen@369..370 ")"
      Whitespace@370..371 " "
    BLOCK@371..784
      LBrace@371..372 "{"
      Whitespace@372..375 "\n  "
      STMT_LET@375..404
        LetKeyword@375..378 "let"
        Whitespace@378..379 " "
        PATTERN_VARIABLE@379..385
          Ident@379..384 "first"
          Whitespace@384..385 " "
        Eq@385..386 "="
        Whitespace@386..387 " "
        EXPR_CALL@387..400
          EXPR_IDENT@387..395
            PATH@387..395
              Ident@387..395 "classify"
          ARG_LIST@395..400
            LParen@395..396 "("
            ARG@396..399
              EXPR_PREFIX@396..399
                Minus@396..397 "-"
                EXPR_INT@397..399
                  Int@397..399 "42"
            RParen@399..400 ")"
        Semi@400..401 ";"
        Whitespace@401..404 "\n  "
      STMT_LET@404..432
        LetKeyword@404..407 "let"
        Whitespace@407..408 " "
        PATTERN_VARIABLE@408..415
          Ident@408..414 "second"
          Whitespace@414..415 " "
        Eq@415..416 "="
        Whitespace@416..417 " "
        EXPR_CALL@417..428
          EXPR_IDENT@417..425
            PATH@417..425
              Ident@417..425 "classify"
          ARG_LIST@425..428
            LParen@425..426 "("
            ARG@426..427
              EXPR_INT@426..427
                Int@426..427 "0"
            RParen@427..428 ")"
        Semi@428..429 ";"
        Whitespace@429..432 "\n  "
      STMT_LET@432..460
        LetKeyword@432..435 "let"
        Whitespace@435..436 " "
        PATTERN_VARIABLE@436..442
          Ident@436..441 "third"
          Whitespace@441..442 " "
        Eq@442..443 "="
        Whitespace@443..444 " "
        EXPR_CALL@444..456
          EXPR_IDENT@444..452
            PATH@444..452
              Ident@444..452 "classify"
          ARG_LIST@452..456
            LParen@452..453 "("
            ARG@453..455
              EXPR_INT@453..455
                Int@453..455 "17"
            RParen@455..456 ")"
        Semi@456..457 ";"
        Whitespace@457..460 "\n  "
      STMT_LET@460..499
        LetKeyword@460..463 "let"
        Whitespace@463..464 " "
        PATTERN_VARIABLE@464..471
          Ident@464..470 "shape1"
          Whitespace@470..471 " "
        Eq@471..472 "="
        Whitespace@472..473 " "
        EXPR_CALL@473..495
          EXPR_IDENT@473..486
            PATH@473..486
              Ident@473..486 "triangle_type"
          ARG_LIST@486..495
            LParen@486..487 "("
            ARG@487..490
              EXPR_INT@487..488
                Int@487..488 "1"
              Comma@488..489 ","
              Whitespace@489..490 " "
            ARG@490..493
              EXPR_INT@490..491
                Int@490..491 "2"
              Comma@491..492 ","
              Whitespace@492..493 " "
            ARG@493..494
              EXPR_INT@493..494
                Int@493..494 "3"
            RParen@494..495 ")"
        Semi@495..496 ";"
        Whitespace@496..499 "\n  "
      STMT_LET@499..538
        LetKeyword@499..502 "let"
        Whitespace@502..503 " "
        PATTERN_VARIABLE@503..510
          Ident@503..509 "shape2"
          Whitespace@509..510 " "
        Eq@510..511 "="
        Whitespace@511..512 " "
        EXPR_CALL@512..534
          EXPR_IDENT@512..525
            PATH@512..525
              Ident@512..525 "triangle_type"
          ARG_LIST@525..534
            LParen@525..526 "("
            ARG@526..529
              EXPR_INT@526..527
                Int@526..527 "3"
              Comma@527..528 ","
              Whitespace@528..529 " "
            ARG@529..532
              EXPR_INT@529..530
                Int@529..530 "2"
              Comma@530..531 ","
              Whitespace@531..532 " "
            ARG@532..533
              EXPR_INT@532..533
                Int@532..533 "1"
            RParen@533..534 ")"
        Semi@534..535 ";"
        Whitespace@535..538 "\n  "
      STMT_LET@538..577
        LetKeyword@538..541 "let"
        Whitespace@541..542 " "
        PATTERN_VARIABLE@542..549
          Ident@542..548 "shape3"
          Whitespace@548..549 " "
        Eq@549..550 "="
        Whitespace@550..551 " "
        EXPR_CALL@551..573
          EXPR_IDENT@551..564
            PATH@551..564
              Ident@551..564 "triangle_type"
          ARG_LIST@564..573
            LParen@564..565 "("
            ARG@565..568
              EXPR_INT@565..566
                Int@565..566 "2"
              Comma@566..567 ","
              Whitespace@567..568 " "
            ARG@568..571
              EXPR_INT@568..569
                Int@568..569 "3"
              Comma@569..570 ","
              Whitespace@570..571 " "
            ARG@571..572
              EXPR_INT@571..572
                Int@571..572 "2"
            RParen@572..573 ")"
        Semi@573..574 ";"
        Whitespace@574..577 "\n  "
      STMT_LET@577..610
        LetKeyword@577..580 "let"
        Whitespace@580..581 " "
        PATTERN_WILDCARD@581..583
          WildcardKeyword@581..582 "_"
          Whitespace@582..583 " "
        Eq@583..584 "="
        Whitespace@584..585 " "
        EXPR_CALL@585..606
          EXPR_IDENT@585..599
            PATH@585..599
              Ident@585..599 "string_println"
          ARG_LIST@599..606
            LParen@599..600 "("
            ARG@600..605
              EXPR_IDENT@600..605
                PATH@600..605
                  Ident@600..605 "first"
            RParen@605..606 ")"
        Semi@606..607 ";"
        Whitespace@607..610 "\n  "
      STMT_LET@610..644
        LetKeyword@610..613 "let"
        Whitespace@613..614 " "
        PATTERN_WILDCARD@614..616
          WildcardKeyword@614..615 "_"
          Whitespace@615..616 " "
        Eq@616..617 "="
        Whitespace@617..618 " "
        EXPR_CALL@618..640
          EXPR_IDENT@618..632
            PATH@618..632
              Ident@618..632 "string_println"
          ARG_LIST@632..640
            LParen@632..633 "("
            ARG@633..639
              EXPR_IDENT@633..639
                PATH@633..639
                  Ident@633..639 "second"
            RParen@639..640 ")"
        Semi@640..641 ";"
        Whitespace@641..644 "\n  "
      STMT_LET@644..677
        LetKeyword@644..647 "let"
        Whitespace@647..648 " "
        PATTERN_WILDCARD@648..650
          WildcardKeyword@648..649 "_"
          Whitespace@649..650 " "
        Eq@650..651 "="
        Whitespace@651..652 " "
        EXPR_CALL@652..673
          EXPR_IDENT@652..666
            PATH@652..666
              Ident@652..666 "string_println"
          ARG_LIST@666..673
            LParen@666..667 "("
            ARG@667..672
              EXPR_IDENT@667..672
                PATH@667..672
                  Ident@667..672 "third"
            RParen@672..673 ")"
        Semi@673..674 ";"
        Whitespace@674..677 "\n  "
      STMT_LET@677..711
        LetKeyword@677..680 "let"
        Whitespace@680..681 " "
        PATTERN_WILDCARD@681..683
          WildcardKeyword@681..682 "_"
          Whitespace@682..683 " "
        Eq@683..684 "="
        Whitespace@684..685 " "
        EXPR_CALL@685..707
          EXPR_IDENT@685..699
            PATH@685..699
              Ident@685..699 "string_println"
          ARG_LIST@699..707
            LParen@699..700 "("
            ARG@700..706
              EXPR_IDENT@700..706
                PATH@700..706
                  Ident@700..706 "shape1"
            RParen@706..707 ")"
        Semi@707..708 ";"
        Whitespace@708..711 "\n  "
      STMT_LET@711..745
        LetKeyword@711..714 "let"
        Whitespace@714..715 " "
        PATTERN_WILDCARD@715..717
          WildcardKeyword@715..716 "_"
          Whitespace@716..717 " "
        Eq@717..718 "="
        Whitespace@718..719 " "
        EXPR_CALL@719..741
          EXPR_IDENT@719..733
            PATH@719..733
              Ident@719..733 "string_println"
          ARG_LIST@733..741
            LParen@733..734 "("
            ARG@734..740
              EXPR_IDENT@734..740
                PATH@734..740
                  Ident@734..740 "shape2"
            RParen@740..741 ")"
        Semi@741..742 ";"
        Whitespace@742..745 "\n  "
      STMT_LET@745..779
        LetKeyword@745..748 "let"
        Whitespace@748..749 " "
        PATTERN_WILDCARD@749..751
          WildcardKeyword@749..750 "_"
          Whitespace@750..751 " "
        Eq@751..752 "="
        Whitespace@752..753 " "
        EXPR_CALL@753..775
          EXPR_IDENT@753..767
            PATH@753..767
              Ident@753..767 "string_println"
          ARG_LIST@767..775
            LParen@767..768 "("
            ARG@768..774
              EXPR_IDENT@768..774
                PATH@768..774
                  Ident@768..774 "shape3"
            RParen@774..775 ")"
        Semi@775..776 ";"
        Whitespace@776..779 "\n  "
      EXPR_UNIT@779..782
        LParen@779..780 "("
        RParen@780..781 ")"
        Whitespace@781..782 "\n"
      RBrace@782..783 "}"
      Whitespace@783..784 "\n"