FILE@0..460
  STRUCT@0..62
    ATTRIBUTE_LIST@0..20
      ATTRIBUTE@0..20
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "derive"
        LParen@8..9 "("
        Ident@9..17 "ToString"
        RParen@17..18 ")"
        RBracket@18..19 "]"
        Whitespace@19..20 "\n"
    StructKeyword@20..26 "struct"
    Whitespace@26..27 " "
    Ident@27..32 "Point"
    Whitespace@32..33 " "
    LBrace@33..34 "{"
    Whitespace@34..39 "\n    "
    STRUCT_FIELD_LIST@39..62
      STRUCT_FIELD@39..45
        Ident@39..40 "x"
        Colon@40..41 ":"
        Whitespace@41..42 " "
        TYPE_INT32@42..45
          I32Keyword@42..45 "i32"
      Comma@45..46 ","
      Whitespace@46..51 "\n    "
      STRUCT_FIELD@51..57
        Ident@51..52 "y"
        Colon@52..53 ":"
        Whitespace@53..54 " "
        TYPE_INT32@54..57
          I32Keyword@54..57 "i32"
      Comma@57..58 ","
      Whitespace@58..59 "\n"
      RBrace@59..60 "}"
      Whitespace@60..62 "\n\n"
  ENUM@62..149
    ATTRIBUTE_LIST@62..82
      ATTRIBUTE@62..82
        Pound@62..63 "#"
        LBracket@63..64 "["
        Ident@64..70 "derive"
        LParen@70..71 "("
        Ident@71..79 "ToString"
        RParen@79..80 ")"
        RBracket@80..81 "]"
        Whitespace@81..82 "\n"
    EnumKeyword@82..86 "enum"
    Whitespace@86..87 " "
    Ident@87..94 "Message"
    Whitespace@94..95 " "
    LBrace@95..96 "{"
    Whitespace@96..101 "\n    "
    VARIANT_LIST@101..149
      VARIANT@101..105
        Ident@101..105 "Quit"
      Comma@105..106 ","
      Whitespace@106..111 "\n    "
      VARIANT@111..125
        Ident@111..115 "Move"
        TYPE_LIST@115..125
          LParen@115..116 "("
          ENUM_TUPLE_FIELD@116..119
            TYPE_INT32@116..119
              I32Keyword@116..119 "i32"
          Comma@119..120 ","
          Whitespace@120..121 " "
          ENUM_TUPLE_FIELD@121..124
            TYPE_INT32@121..124
              I32Keyword@121..124 "i32"
          RParen@124..125 ")"
      Comma@125..126 ","
      Whitespace@126..131 "\n    "
      VARIANT@131..144
        Ident@131..136 "Write"
        TYPE_LIST@136..144
          LParen@136..137 "("
          ENUM_TUPLE_FIELD@137..143
            TYPE_STRING@137..143
              StringKeyword@137..143 "string"
          RParen@143..144 ")"
      Comma@144..145 ","
      Whitespace@145..146 "\n"
      RBrace@146..147 "}"
      Whitespace@147..149 "\n\n"
  FN@149..460
    FnKeyword@149..151 "fn"
    Whitespace@151..152 " "
    Ident@152..156 "main"
    PARAM_LIST@156..159
      LParen@156..157 "("
      RParen@157..158 ")"
      Whitespace@158..159 " "
    Arrow@159..161 "->"
    Whitespace@161..162 " "
    TYPE_TUPLE@162..165
      TYPE_LIST@162..165
        LParen@162..163 "("
        RParen@163..164 ")"
        Whitespace@164..165 " "
    BLOCK@165..460
      LBrace@165..166 "{"
      Whitespace@166..171 "\n    "
      STMT_LET@171..209
        LetKeyword@171..174 "let"
        Whitespace@174..175 " "
        PATTERN_VARIABLE@175..181
          Ident@175..180 "point"
          Whitespace@180..181 " "
        Eq@181..182 "="
        Whitespace@182..183 " "
        EXPR_STRUCT_LITERAL@183..203
          PATH@183..189
            Ident@183..188 "Point"
            Whitespace@188..189 " "
          STRUCT_LITERAL_FIELD_LIST@189..203
            LBrace@189..190 "{"
            Whitespace@190..191 " "
            STRUCT_LITERAL_FIELD@191..195
              Ident@191..192 "x"
              Colon@192..193 ":"
              Whitespace@193..194 " "
              EXPR_INT@194..195
                Int@194..195 "4"
            Comma@195..196 ","
            Whitespace@196..197 " "
            STRUCT_LITERAL_FIELD@197..202
              Ident@197..198 "y"
              Colon@198..199 ":"
              Whitespace@199..200 " "
              EXPR_INT@200..202
                Int@200..201 "7"
                Whitespace@201..202 " "
            RBrace@202..203 "}"
        Semi@203..204 ";"
        Whitespace@204..209 "\n    "
      STMT_LET@209..246
        LetKeyword@209..212 "let"
        Whitespace@212..213 " "
        PATTERN_VARIABLE@213..221
          Ident@213..220 "summary"
          Whitespace@220..221 " "
        Eq@221..222 "="
        Whitespace@222..223 " "
        EXPR_CALL@223..240
          EXPR_BINARY@223..238
            EXPR_IDENT@223..228
              PATH@223..228
                Ident@223..228 "point"
            Dot@228..229 "."
            EXPR_IDENT@229..238
              PATH@229..238
                Ident@229..238 "to_string"
          ARG_LIST@238..240
            LParen@238..239 "("
            RParen@239..240 ")"
        Semi@240..241 ";"
        Whitespace@241..246 "\n    "
      STMT_LET@246..292
        LetKeyword@246..249 "let"
        Whitespace@249..250 " "
        PATTERN_VARIABLE@250..253
          Ident@250..252 "mv"
          Whitespace@252..253 " "
        Eq@253..254 "="
        Whitespace@254..255 " "
        EXPR_CALL@255..286
          EXPR_BINARY@255..284
            EXPR_CALL@255..274
              EXPR_IDENT@255..268
                PATH@255..268
                  Ident@255..262 "Message"
                  ColonColon@262..264 "::"
                  Ident@264..268 "Move"
              ARG_LIST@268..274
                LParen@268..269 "("
                ARG@269..272
                  EXPR_INT@269..270
                    Int@269..270 "1"
                  Comma@270..271 ","
                  Whitespace@271..272 " "
                ARG@272..273
                  EXPR_INT@272..273
                    Int@272..273 "2"
                RParen@273..274 ")"
            Dot@274..275 "."
            EXPR_IDENT@275..284
              PATH@275..284
                Ident@275..284 "to_string"
          ARG_LIST@284..286
            LParen@284..285 "("
            RParen@285..286 ")"
        Semi@286..287 ";"
        Whitespace@287..292 "\n    "
      STMT_LET@292..343
        LetKeyword@292..295 "let"
        Whitespace@295..296 " "
        PATTERN_VARIABLE@296..301
          Ident@296..300 "text"
          Whitespace@300..301 " "
        Eq@301..302 "="
        Whitespace@302..303 " "
        EXPR_CALL@303..337
          EXPR_BINARY@303..335
            EXPR_CALL@303..325
              EXPR_IDENT@303..317
                PATH@303..317
                  Ident@303..310 "Message"
                  ColonColon@310..312 "::"
                  Ident@312..317 "Write"
              ARG_LIST@317..325
                LParen@317..318 "("
                ARG@318..324
                  EXPR_STR@318..324
                    Str@318..324 "\"done\""
                RParen@324..325 ")"
            Dot@325..326 "."
            EXPR_IDENT@326..335
              PATH@326..335
                Ident@326..335 "to_string"
          ARG_LIST@335..337
            LParen@335..336 "("
            RParen@336..337 ")"
        Semi@337..338 ";"
        Whitespace@338..343 "\n    "
      STMT_LET@343..385
        LetKeyword@343..346 "let"
        Whitespace@346..347 " "
        PATTERN_VARIABLE@347..352
          Ident@347..351 "exit"
          Whitespace@351..352 " "
        Eq@352..353 "="
        Whitespace@353..354 " "
        EXPR_CALL@354..379
          EXPR_BINARY@354..377
            EXPR_IDENT@354..367
              PATH@354..367
                Ident@354..361 "Message"
                ColonColon@361..363 "::"
                Ident@363..367 "Quit"
            Dot@367..368 "."
            EXPR_IDENT@368..377
              PATH@368..377
                Ident@368..377 "to_string"
          ARG_LIST@377..379
            LParen@377..378 "("
            RParen@378..379 ")"
        Semi@379..380 ";"
        Whitespace@380..385 "\n    "
      STMT_EXPR@385..407
        EXPR_CALL@385..401
          EXPR_IDENT@385..392
            PATH@385..392
              Ident@385..392 "println"
          ARG_LIST@392..401
            LParen@392..393 "("
            ARG@393..400
              EXPR_IDENT@393..400
                PATH@393..400
                  Ident@393..400 "summary"
            RParen@400..401 ")"
        Semi@401..402 ";"
        Whitespace@402..407 "\n    "
      STMT_EXPR@407..424
        EXPR_CALL@407..418
          EXPR_IDENT@407..414
            PATH@407..414
              Ident@407..414 "println"
          ARG_LIST@414..418
            LParen@414..415 "("
            ARG@415..417
              EXPR_IDENT@415..417
                PATH@415..417
                  Ident@415..417 "mv"
            RParen@417..418 ")"
        Semi@418..419 ";"
        Whitespace@419..424 "\n    "
      STMT_EXPR@424..443
        EXPR_CALL@424..437
          EXPR_IDENT@424..431
            PATH@424..431
              Ident@424..431 "println"
          ARG_LIST@431..437
            LParen@431..432 "("
            ARG@432..436
              EXPR_IDENT@432..436
                PATH@432..436
                  Ident@432..436 "text"
            RParen@436..437 ")"
        Semi@437..438 ";"
        Whitespace@438..443 "\n    "
      STMT_EXPR@443..458
        EXPR_CALL@443..456
          EXPR_IDENT@443..450
            PATH@443..450
              Ident@443..450 "println"
          ARG_LIST@450..456
            LParen@450..451 "("
            ARG@451..455
              EXPR_IDENT@451..455
                PATH@451..455
                  Ident@451..455 "exit"
            RParen@455..456 ")"
        Semi@456..457 ";"
        Whitespace@457..458 "\n"
      RBrace@458..459 "}"
      Whitespace@459..460 "\n"