FILE@0..492
  TRAIT@0..51
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Show"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..51
      TRAIT_METHOD_SIG@17..48
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..24 "show"
        PARAM_LIST@24..37
          LParen@24..25 "("
          PARAM@25..35
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Semi@46..47 ";"
        Whitespace@47..48 "\n"
      RBrace@48..49 "}"
      Whitespace@49..51 "\n\n"
  STRUCT@51..87
    StructKeyword@51..57 "struct"
    Whitespace@57..58 " "
    Ident@58..62 "Wrap"
    Whitespace@62..63 " "
    LBrace@63..64 "{"
    Whitespace@64..69 "\n    "
    STRUCT_FIELD_LIST@69..87
      STRUCT_FIELD@69..82
        Ident@69..74 "value"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_STRING@76..82
          StringKeyword@76..82 "string"
      Comma@82..83 ","
      Whitespace@83..84 "\n"
      RBrace@84..85 "}"
      Whitespace@85..87 "\n\n"
  IMPL@87..180
    ImplKeyword@87..91 "impl"
    Whitespace@91..92 " "
    TYPE_TAPP@92..97
      PATH@92..97
        Ident@92..96 "Show"
        Whitespace@96..97 " "
    ForKeyword@97..100 "for"
    Whitespace@100..101 " "
    TYPE_INT32@101..107
      Int32Keyword@101..106 "int32"
      Whitespace@106..107 " "
    LBrace@107..108 "{"
    Whitespace@108..113 "\n    "
    FN@113..177
      FnKeyword@113..115 "fn"
      Whitespace@115..116 " "
      Ident@116..120 "show"
      PARAM_LIST@120..134
        LParen@120..121 "("
        PARAM@121..132
          Ident@121..125 "self"
          Colon@125..126 ":"
          Whitespace@126..127 " "
          TYPE_INT32@127..132
            Int32Keyword@127..132 "int32"
        RParen@132..133 ")"
        Whitespace@133..134 " "
      Arrow@134..136 "->"
      Whitespace@136..137 " "
      TYPE_STRING@137..144
        StringKeyword@137..143 "string"
        Whitespace@143..144 " "
      BLOCK@144..177
        LBrace@144..145 "{"
        Whitespace@145..154 "\n        "
        EXPR_CALL@154..175
          EXPR_BINARY@154..168
            EXPR_IDENT@154..158
              PATH@154..158
                Ident@154..158 "self"
            Dot@158..159 "."
            EXPR_IDENT@159..168
              PATH@159..168
                Ident@159..168 "to_string"
          ARG_LIST@168..175
            LParen@168..169 "("
            RParen@169..170 ")"
            Whitespace@170..175 "\n    "
        RBrace@175..176 "}"
        Whitespace@176..177 "\n"
    RBrace@177..178 "}"
    Whitespace@178..180 "\n\n"
  IMPL@180..265
    ImplKeyword@180..184 "impl"
    Whitespace@184..185 " "
    TYPE_TAPP@185..190
      PATH@185..190
        Ident@185..189 "Show"
        Whitespace@189..190 " "
    ForKeyword@190..193 "for"
    Whitespace@193..194 " "
    TYPE_TAPP@194..199
      PATH@194..199
        Ident@194..198 "Wrap"
        Whitespace@198..199 " "
    LBrace@199..200 "{"
    Whitespace@200..205 "\n    "
    FN@205..262
      FnKeyword@205..207 "fn"
      Whitespace@207..208 " "
      Ident@208..212 "show"
      PARAM_LIST@212..225
        LParen@212..213 "("
        PARAM@213..223
          Ident@213..217 "self"
          Colon@217..218 ":"
          Whitespace@218..219 " "
          TYPE_TAPP@219..223
            PATH@219..223
              Ident@219..223 "Wrap"
        RParen@223..224 ")"
        Whitespace@224..225 " "
      Arrow@225..227 "->"
      Whitespace@227..228 " "
      TYPE_STRING@228..235
        StringKeyword@228..234 "string"
        Whitespace@234..235 " "
      BLOCK@235..262
        LBrace@235..236 "{"
        Whitespace@236..245 "\n        "
        EXPR_BINARY@245..260
          EXPR_IDENT@245..249
            PATH@245..249
              Ident@245..249 "self"
          Dot@249..250 "."
          EXPR_IDENT@250..260
            PATH@250..260
              Ident@250..255 "value"
              Whitespace@255..260 "\n    "
        RBrace@260..261 "}"
        Whitespace@261..262 "\n"
    RBrace@262..263 "}"
    Whitespace@263..265 "\n\n"
  FN@265..492
    FnKeyword@265..267 "fn"
    Whitespace@267..268 " "
    Ident@268..272 "main"
    PARAM_LIST@272..275
      LParen@272..273 "("
      RParen@273..274 ")"
      Whitespace@274..275 " "
    Arrow@275..277 "->"
    Whitespace@277..278 " "
    TYPE_UNIT@278..283
      UnitKeyword@278..282 "unit"
      Whitespace@282..283 " "
    BLOCK@283..492
      LBrace@283..284 "{"
      Whitespace@284..289 "\n    "
      STMT_LET@289..333
        LetKeyword@289..292 "let"
        Whitespace@292..293 " "
        PATTERN_VARIABLE@293..299
          Ident@293..299 "values"
        Colon@299..300 ":"
        Whitespace@300..301 " "
        TYPE_TAPP@301..315
          PATH@301..304
            Ident@301..304 "Vec"
          TYPE_PARAM_LIST@304..315
            LBracket@304..305 "["
            TYPE_DYN@305..313
              DynKeyword@305..308 "dyn"
              Whitespace@308..309 " "
              PATH@309..313
                Ident@309..313 "Show"
            RBracket@313..314 "]"
            Whitespace@314..315 " "
        Eq@315..316 "="
        Whitespace@316..317 " "
        EXPR_CALL@317..327
          EXPR_IDENT@317..325
            PATH@317..325
              Ident@317..320 "Vec"
              ColonColon@320..322 "::"
              Ident@322..325 "new"
          ARG_LIST@325..327
            LParen@325..326 "("
            RParen@326..327 ")"
        Semi@327..328 ";"
        Whitespace@328..333 "\n    "
      STMT_LET@333..360
        LetKeyword@333..336 "let"
        Whitespace@336..337 " "
        PATTERN_VARIABLE@337..342
          Ident@337..342 "value"
        Colon@342..343 ":"
        Whitespace@343..344 " "
        TYPE_INT32@344..350
          Int32Keyword@344..349 "int32"
          Whitespace@349..350 " "
        Eq@350..351 "="
        Whitespace@351..352 " "
        EXPR_INT@352..354
          Int@352..354 "10"
        Semi@354..355 ";"
        Whitespace@355..360 "\n    "
      STMT_EXPR@360..384
        EXPR_CALL@360..378
          EXPR_BINARY@360..371
            EXPR_IDENT@360..366
              PATH@360..366
                Ident@360..366 "values"
            Dot@366..367 "."
            EXPR_IDENT@367..371
              PATH@367..371
                Ident@367..371 "push"
          ARG_LIST@371..378
            LParen@371..372 "("
            ARG@372..377
              EXPR_IDENT@372..377
                PATH@372..377
                  Ident@372..377 "value"
            RParen@377..378 ")"
        Semi@378..379 ";"
        Whitespace@379..384 "\n    "
      STMT_EXPR@384..423
        EXPR_CALL@384..417
          EXPR_BINARY@384..395
            EXPR_IDENT@384..390
              PATH@384..390
                Ident@384..390 "values"
            Dot@390..391 "."
            EXPR_IDENT@391..395
              PATH@391..395
                Ident@391..395 "push"
          ARG_LIST@395..417
            LParen@395..396 "("
            ARG@396..416
              EXPR_STRUCT_LITERAL@396..416
                PATH@396..401
                  Ident@396..400 "Wrap"
                  Whitespace@400..401 " "
                STRUCT_LITERAL_FIELD_LIST@401..416
                  LBrace@401..402 "{"
                  Whitespace@402..403 " "
                  STRUCT_LITERAL_FIELD@403..415
                    Ident@403..408 "value"
                    Colon@408..409 ":"
                    Whitespace@409..410 " "
                    EXPR_STR@410..415
                      Str@410..414 "\"ok\""
                      Whitespace@414..415 " "
                  RBrace@415..416 "}"
            RParen@416..417 ")"
        Semi@417..418 ";"
        Whitespace@418..423 "\n    "
      STMT_EXPR@423..459
        EXPR_CALL@423..453
          EXPR_IDENT@423..430
            PATH@423..430
              Ident@423..430 "println"
          ARG_LIST@430..453
            LParen@430..431 "("
            ARG@431..452
              EXPR_CALL@431..452
                EXPR_IDENT@431..441
                  PATH@431..441
                    Ident@431..435 "Show"
                    ColonColon@435..437 "::"
                    Ident@437..441 "show"
                ARG_LIST@441..452
                  LParen@441..442 "("
                  ARG@442..451
                    EXPR_INDEX@442..451
                      EXPR_IDENT@442..448
                        PATH@442..448
                          Ident@442..448 "values"
                      LBracket@448..449 "["
                      EXPR_INT@449..450
                        Int@449..450 "0"
                      RBracket@450..451 "]"
                  RParen@451..452 ")"
            RParen@452..453 ")"
        Semi@453..454 ";"
        Whitespace@454..459 "\n    "
      EXPR_CALL@459..490
        EXPR_IDENT@459..466
          PATH@459..466
            Ident@459..466 "println"
        ARG_LIST@466..490
          LParen@466..467 "("
          ARG@467..488
            EXPR_CALL@467..488
              EXPR_IDENT@467..477
                PATH@467..477
                  Ident@467..471 "Show"
                  ColonColon@471..473 "::"
                  Ident@473..477 "show"
              ARG_LIST@477..488
                LParen@477..478 "("
                ARG@478..487
                  EXPR_INDEX@478..487
                    EXPR_IDENT@478..484
                      PATH@478..484
                        Ident@478..484 "values"
                    LBracket@484..485 "["
                    EXPR_INT@485..486
                      Int@485..486 "1"
                    RBracket@486..487 "]"
                RParen@487..488 ")"
          RParen@488..489 ")"
          Whitespace@489..490 "\n"
      RBrace@490..491 "}"
      Whitespace@491..492 "\n"