FILE@0..510
  TRAIT@0..51
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Show"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..51
      TRAIT_METHOD_SIG@17..48
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..24 "show"
        PARAM_LIST@24..37
          LParen@24..25 "("
          PARAM@25..35
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Semi@46..47 ";"
        Whitespace@47..48 "\n"
      RBrace@48..49 "}"
      Whitespace@49..51 "\n\n"
  STRUCT@51..87
    StructKeyword@51..57 "struct"
    Whitespace@57..58 " "
    Ident@58..62 "Wrap"
    Whitespace@62..63 " "
    LBrace@63..64 "{"
    Whitespace@64..69 "\n    "
    STRUCT_FIELD_LIST@69..87
      STRUCT_FIELD@69..82
        Ident@69..74 "value"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_STRING@76..82
          StringKeyword@76..82 "string"
      Comma@82..83 ","
      Whitespace@83..84 "\n"
      RBrace@84..85 "}"
      Whitespace@85..87 "\n\n"
  IMPL@87..176
    ImplKeyword@87..91 "impl"
    Whitespace@91..92 " "
    TYPE_TAPP@92..97
      PATH@92..97
        Ident@92..96 "Show"
        Whitespace@96..97 " "
    ForKeyword@97..100 "for"
    Whitespace@100..101 " "
    TYPE_INT32@101..105
      I32Keyword@101..104 "i32"
      Whitespace@104..105 " "
    LBrace@105..106 "{"
    Whitespace@106..111 "\n    "
    FN@111..173
      FnKeyword@111..113 "fn"
      Whitespace@113..114 " "
      Ident@114..118 "show"
      PARAM_LIST@118..130
        LParen@118..119 "("
        PARAM@119..128
          Ident@119..123 "self"
          Colon@123..124 ":"
          Whitespace@124..125 " "
          TYPE_INT32@125..128
            I32Keyword@125..128 "i32"
        RParen@128..129 ")"
        Whitespace@129..130 " "
      Arrow@130..132 "->"
      Whitespace@132..133 " "
      TYPE_STRING@133..140
        StringKeyword@133..139 "string"
        Whitespace@139..140 " "
      BLOCK@140..173
        LBrace@140..141 "{"
        Whitespace@141..150 "\n        "
        EXPR_CALL@150..171
          EXPR_BINARY@150..164
            EXPR_IDENT@150..154
              PATH@150..154
                Ident@150..154 "self"
            Dot@154..155 "."
            EXPR_IDENT@155..164
              PATH@155..164
                Ident@155..164 "to_string"
          ARG_LIST@164..171
            LParen@164..165 "("
            RParen@165..166 ")"
            Whitespace@166..171 "\n    "
        RBrace@171..172 "}"
        Whitespace@172..173 "\n"
    RBrace@173..174 "}"
    Whitespace@174..176 "\n\n"
  IMPL@176..261
    ImplKeyword@176..180 "impl"
    Whitespace@180..181 " "
    TYPE_TAPP@181..186
      PATH@181..186
        Ident@181..185 "Show"
        Whitespace@185..186 " "
    ForKeyword@186..189 "for"
    Whitespace@189..190 " "
    TYPE_TAPP@190..195
      PATH@190..195
        Ident@190..194 "Wrap"
        Whitespace@194..195 " "
    LBrace@195..196 "{"
    Whitespace@196..201 "\n    "
    FN@201..258
      FnKeyword@201..203 "fn"
      Whitespace@203..204 " "
      Ident@204..208 "show"
      PARAM_LIST@208..221
        LParen@208..209 "("
        PARAM@209..219
          Ident@209..213 "self"
          Colon@213..214 ":"
          Whitespace@214..215 " "
          TYPE_TAPP@215..219
            PATH@215..219
              Ident@215..219 "Wrap"
        RParen@219..220 ")"
        Whitespace@220..221 " "
      Arrow@221..223 "->"
      Whitespace@223..224 " "
      TYPE_STRING@224..231
        StringKeyword@224..230 "string"
        Whitespace@230..231 " "
      BLOCK@231..258
        LBrace@231..232 "{"
        Whitespace@232..241 "\n        "
        EXPR_BINARY@241..256
          EXPR_IDENT@241..245
            PATH@241..245
              Ident@241..245 "self"
          Dot@245..246 "."
          EXPR_IDENT@246..256
            PATH@246..256
              Ident@246..251 "value"
              Whitespace@251..256 "\n    "
        RBrace@256..257 "}"
        Whitespace@257..258 "\n"
    RBrace@258..259 "}"
    Whitespace@259..261 "\n\n"
  FN@261..510
    FnKeyword@261..263 "fn"
    Whitespace@263..264 " "
    Ident@264..268 "main"
    PARAM_LIST@268..271
      LParen@268..269 "("
      RParen@269..270 ")"
      Whitespace@270..271 " "
    Arrow@271..273 "->"
    Whitespace@273..274 " "
    TYPE_UNIT@274..279
      UnitKeyword@274..278 "unit"
      Whitespace@278..279 " "
    BLOCK@279..510
      LBrace@279..280 "{"
      Whitespace@280..285 "\n    "
      STMT_LET@285..329
        LetKeyword@285..288 "let"
        Whitespace@288..289 " "
        PATTERN_VARIABLE@289..295
          Ident@289..295 "values"
        Colon@295..296 ":"
        Whitespace@296..297 " "
        TYPE_TAPP@297..311
          PATH@297..300
            Ident@297..300 "Vec"
          TYPE_PARAM_LIST@300..311
            LBracket@300..301 "["
            TYPE_DYN@301..309
              DynKeyword@301..304 "dyn"
              Whitespace@304..305 " "
              DYN_BOUND@305..309
                PATH@305..309
                  Ident@305..309 "Show"
            RBracket@309..310 "]"
            Whitespace@310..311 " "
        Eq@311..312 "="
        Whitespace@312..313 " "
        EXPR_CALL@313..323
          EXPR_IDENT@313..321
            PATH@313..321
              Ident@313..316 "Vec"
              ColonColon@316..318 "::"
              Ident@318..321 "new"
          ARG_LIST@321..323
            LParen@321..322 "("
            RParen@322..323 ")"
        Semi@323..324 ";"
        Whitespace@324..329 "\n    "
      STMT_LET@329..354
        LetKeyword@329..332 "let"
        Whitespace@332..333 " "
        PATTERN_VARIABLE@333..338
          Ident@333..338 "value"
        Colon@338..339 ":"
        Whitespace@339..340 " "
        TYPE_INT32@340..344
          I32Keyword@340..343 "i32"
          Whitespace@343..344 " "
        Eq@344..345 "="
        Whitespace@345..346 " "
        EXPR_INT@346..348
          Int@346..348 "10"
        Semi@348..349 ";"
        Whitespace@349..354 "\n    "
      STMT_EXPR@354..390
        EXPR_CALL@354..384
          EXPR_BINARY@354..365
            EXPR_IDENT@354..360
              PATH@354..360
                Ident@354..360 "values"
            Dot@360..361 "."
            EXPR_IDENT@361..365
              PATH@361..365
                Ident@361..365 "push"
          ARG_LIST@365..384
            LParen@365..366 "("
            ARG@366..383
              EXPR_CAST@366..383
                EXPR_IDENT@366..372
                  PATH@366..372
                    Ident@366..371 "value"
                    Whitespace@371..372 " "
                AsKeyword@372..374 "as"
                Whitespace@374..375 " "
                TYPE_DYN@375..383
                  DynKeyword@375..378 "dyn"
                  Whitespace@378..379 " "
                  DYN_BOUND@379..383
                    PATH@379..383
                      Ident@379..383 "Show"
            RParen@383..384 ")"
        Semi@384..385 ";"
        Whitespace@385..390 "\n    "
      STMT_EXPR@390..441
        EXPR_CALL@390..435
          EXPR_BINARY@390..401
            EXPR_IDENT@390..396
              PATH@390..396
                Ident@390..396 "values"
            Dot@396..397 "."
            EXPR_IDENT@397..401
              PATH@397..401
                Ident@397..401 "push"
          ARG_LIST@401..435
            LParen@401..402 "("
            ARG@402..434
              EXPR_CAST@402..434
                EXPR_STRUCT_LITERAL@402..423
                  PATH@402..407
                    Ident@402..406 "Wrap"
                    Whitespace@406..407 " "
                  STRUCT_LITERAL_FIELD_LIST@407..423
                    LBrace@407..408 "{"
                    Whitespace@408..409 " "
                    STRUCT_LITERAL_FIELD@409..421
                      Ident@409..414 "value"
                      Colon@414..415 ":"
                      Whitespace@415..416 " "
                      EXPR_STR@416..421
                        Str@416..420 "\"ok\""
                        Whitespace@420..421 " "
                    RBrace@421..422 "}"
                    Whitespace@422..423 " "
                AsKeyword@423..425 "as"
                Whitespace@425..426 " "
                TYPE_DYN@426..434
                  DynKeyword@426..429 "dyn"
                  Whitespace@429..430 " "
                  DYN_BOUND@430..434
                    PATH@430..434
                      Ident@430..434 "Show"
            RParen@434..435 ")"
        Semi@435..436 ";"
        Whitespace@436..441 "\n    "
      STMT_EXPR@441..477
        EXPR_CALL@441..471
          EXPR_IDENT@441..448
            PATH@441..448
              Ident@441..448 "println"
          ARG_LIST@448..471
            LParen@448..449 "("
            ARG@449..470
              EXPR_CALL@449..470
                EXPR_IDENT@449..459
                  PATH@449..459
                    Ident@449..453 "Show"
                    ColonColon@453..455 "::"
                    Ident@455..459 "show"
                ARG_LIST@459..470
                  LParen@459..460 "("
                  ARG@460..469
                    EXPR_INDEX@460..469
                      EXPR_IDENT@460..466
                        PATH@460..466
                          Ident@460..466 "values"
                      LBracket@466..467 "["
                      EXPR_INT@467..468
                        Int@467..468 "0"
                      RBracket@468..469 "]"
                  RParen@469..470 ")"
            RParen@470..471 ")"
        Semi@471..472 ";"
        Whitespace@472..477 "\n    "
      EXPR_CALL@477..508
        EXPR_IDENT@477..484
          PATH@477..484
            Ident@477..484 "println"
        ARG_LIST@484..508
          LParen@484..485 "("
          ARG@485..506
            EXPR_CALL@485..506
              EXPR_IDENT@485..495
                PATH@485..495
                  Ident@485..489 "Show"
                  ColonColon@489..491 "::"
                  Ident@491..495 "show"
              ARG_LIST@495..506
                LParen@495..496 "("
                ARG@496..505
                  EXPR_INDEX@496..505
                    EXPR_IDENT@496..502
                      PATH@496..502
                        Ident@496..502 "values"
                    LBracket@502..503 "["
                    EXPR_INT@503..504
                      Int@503..504 "1"
                    RBracket@504..505 "]"
                RParen@505..506 ")"
          RParen@506..507 ")"
          Whitespace@507..508 "\n"
      RBrace@508..509 "}"
      Whitespace@509..510 "\n"