FILE@0..746
  FN@0..746
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..746
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..78
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..35
          Ident@28..35 "to_text"
        Colon@35..36 ":"
        Whitespace@36..37 " "
        TYPE_FUNC@37..55
          TYPE_TUPLE@37..45
            TYPE_LIST@37..45
              LParen@37..38 "("
              TYPE_INT32@38..43
                Int32Keyword@38..43 "int32"
              RParen@43..44 ")"
              Whitespace@44..45 " "
          Arrow@45..47 "->"
          Whitespace@47..48 " "
          TYPE_STRING@48..55
            StringKeyword@48..54 "string"
            Whitespace@54..55 " "
        Eq@55..56 "="
        Whitespace@56..57 " "
        EXPR_IDENT@57..72
          PATH@57..72
            Ident@57..72 "int32_to_string"
        Semi@72..73 ";"
        Whitespace@73..78 "\n    "
      STMT_EXPR@78..103
        EXPR_CALL@78..97
          EXPR_IDENT@78..85
            PATH@78..85
              Ident@78..85 "println"
          ARG_LIST@85..97
            LParen@85..86 "("
            ARG@86..96
              EXPR_CALL@86..96
                EXPR_IDENT@86..93
                  PATH@86..93
                    Ident@86..93 "to_text"
                ARG_LIST@93..96
                  LParen@93..94 "("
                  ARG@94..95
                    EXPR_INT@94..95
                      Int@94..95 "7"
                  RParen@95..96 ")"
            RParen@96..97 ")"
        Semi@97..98 ";"
        Whitespace@98..103 "\n    "
      STMT_LET@103..154
        LetKeyword@103..106 "let"
        Whitespace@106..107 " "
        PATTERN_VARIABLE@107..110
          Ident@107..110 "get"
        Colon@110..111 ":"
        Whitespace@111..112 " "
        TYPE_FUNC@112..139
          TYPE_TUPLE@112..130
            TYPE_LIST@112..130
              LParen@112..113 "("
              TYPE_TAPP@113..123
                PATH@113..116
                  Ident@113..116 "Vec"
                TYPE_PARAM_LIST@116..123
                  LBracket@116..117 "["
                  TYPE_INT32@117..122
                    Int32Keyword@117..122 "int32"
                  RBracket@122..123 "]"
              Comma@123..124 ","
              Whitespace@124..125 " "
              TYPE_INT@125..128
                IntKeyword@125..128 "int"
              RParen@128..129 ")"
              Whitespace@129..130 " "
          Arrow@130..132 "->"
          Whitespace@132..133 " "
          TYPE_INT32@133..139
            Int32Keyword@133..138 "int32"
            Whitespace@138..139 " "
        Eq@139..140 "="
        Whitespace@140..141 " "
        EXPR_IDENT@141..148
          PATH@141..148
            Ident@141..148 "vec_get"
        Semi@148..149 ";"
        Whitespace@149..154 "\n    "
      STMT_LET@154..208
        LetKeyword@154..157 "let"
        Whitespace@157..158 " "
        PATTERN_VARIABLE@158..162
          Ident@158..162 "push"
        Colon@162..163 ":"
        Whitespace@163..164 " "
        TYPE_FUNC@164..192
          TYPE_TUPLE@164..184
            TYPE_LIST@164..184
              LParen@164..165 "("
              TYPE_TAPP@165..175
                PATH@165..168
                  Ident@165..168 "Vec"
                TYPE_PARAM_LIST@168..175
                  LBracket@168..169 "["
                  TYPE_INT32@169..174
                    Int32Keyword@169..174 "int32"
                  RBracket@174..175 "]"
              Comma@175..176 ","
              Whitespace@176..177 " "
              TYPE_INT32@177..182
                Int32Keyword@177..182 "int32"
              RParen@182..183 ")"
              Whitespace@183..184 " "
          Arrow@184..186 "->"
          Whitespace@186..187 " "
          TYPE_UNIT@187..192
            UnitKeyword@187..191 "unit"
            Whitespace@191..192 " "
        Eq@192..193 "="
        Whitespace@193..194 " "
        EXPR_IDENT@194..202
          PATH@194..202
            Ident@194..202 "vec_push"
        Semi@202..203 ";"
        Whitespace@203..208 "\n    "
      STMT_LET@208..249
        LetKeyword@208..211 "let"
        Whitespace@211..212 " "
        PATTERN_VARIABLE@212..218
          Ident@212..218 "values"
        Colon@218..219 ":"
        Whitespace@219..220 " "
        TYPE_TAPP@220..231
          PATH@220..223
            Ident@220..223 "Vec"
          TYPE_PARAM_LIST@223..231
            LBracket@223..224 "["
            TYPE_INT32@224..229
              Int32Keyword@224..229 "int32"
            RBracket@229..230 "]"
            Whitespace@230..231 " "
        Eq@231..232 "="
        Whitespace@232..233 " "
        EXPR_CALL@233..243
          EXPR_IDENT@233..241
            PATH@233..241
              Ident@233..236 "Vec"
              ColonColon@236..238 "::"
              Ident@238..241 "new"
          ARG_LIST@241..243
            LParen@241..242 "("
            RParen@242..243 ")"
        Semi@243..244 ";"
        Whitespace@244..249 "\n    "
      STMT_EXPR@249..271
        EXPR_CALL@249..265
          EXPR_IDENT@249..253
            PATH@249..253
              Ident@249..253 "push"
          ARG_LIST@253..265
            LParen@253..254 "("
            ARG@254..262
              EXPR_IDENT@254..260
                PATH@254..260
                  Ident@254..260 "values"
              Comma@260..261 ","
              Whitespace@261..262 " "
            ARG@262..264
              EXPR_INT@262..264
                Int@262..264 "11"
            RParen@264..265 ")"
        Semi@265..266 ";"
        Whitespace@266..271 "\n    "
      STMT_EXPR@271..293
        EXPR_CALL@271..287
          EXPR_IDENT@271..275
            PATH@271..275
              Ident@271..275 "push"
          ARG_LIST@275..287
            LParen@275..276 "("
            ARG@276..284
              EXPR_IDENT@276..282
                PATH@276..282
                  Ident@276..282 "values"
              Comma@282..283 ","
              Whitespace@283..284 " "
            ARG@284..286
              EXPR_INT@284..286
                Int@284..286 "22"
            RParen@286..287 ")"
        Semi@287..288 ";"
        Whitespace@288..293 "\n    "
      STMT_EXPR@293..322
        EXPR_CALL@293..316
          EXPR_IDENT@293..300
            PATH@293..300
              Ident@293..300 "println"
          ARG_LIST@300..316
            LParen@300..301 "("
            ARG@301..315
              EXPR_CALL@301..315
                EXPR_IDENT@301..304
                  PATH@301..304
                    Ident@301..304 "get"
                ARG_LIST@304..315
                  LParen@304..305 "("
                  ARG@305..313
                    EXPR_IDENT@305..311
                      PATH@305..311
                        Ident@305..311 "values"
                    Comma@311..312 ","
                    Whitespace@312..313 " "
                  ARG@313..314
                    EXPR_INT@313..314
                      Int@313..314 "1"
                  RParen@314..315 ")"
            RParen@315..316 ")"
        Semi@316..317 ";"
        Whitespace@317..322 "\n    "
      STMT_LET@322..390
        LetKeyword@322..325 "let"
        Whitespace@325..326 " "
        PATTERN_VARIABLE@326..336
          Ident@326..336 "make_slice"
        Colon@336..337 ":"
        Whitespace@337..338 " "
        TYPE_FUNC@338..377
          TYPE_TUPLE@338..361
            TYPE_LIST@338..361
              LParen@338..339 "("
              TYPE_TAPP@339..349
                PATH@339..342
                  Ident@339..342 "Vec"
                TYPE_PARAM_LIST@342..349
                  LBracket@342..343 "["
                  TYPE_INT32@343..348
                    Int32Keyword@343..348 "int32"
                  RBracket@348..349 "]"
              Comma@349..350 ","
              Whitespace@350..351 " "
              TYPE_INT@351..354
                IntKeyword@351..354 "int"
              Comma@354..355 ","
              Whitespace@355..356 " "
              TYPE_INT@356..359
                IntKeyword@356..359 "int"
              RParen@359..360 ")"
              Whitespace@360..361 " "
          Arrow@361..363 "->"
          Whitespace@363..364 " "
          TYPE_TAPP@364..377
            PATH@364..369
              Ident@364..369 "Slice"
            TYPE_PARAM_LIST@369..377
              LBracket@369..370 "["
              TYPE_INT32@370..375
                Int32Keyword@370..375 "int32"
              RBracket@375..376 "]"
              Whitespace@376..377 " "
        Eq@377..378 "="
        Whitespace@378..379 " "
        EXPR_IDENT@379..384
          PATH@379..384
            Ident@379..384 "slice"
        Semi@384..385 ";"
        Whitespace@385..390 "\n    "
      STMT_LET@390..457
        LetKeyword@390..393 "let"
        Whitespace@393..394 " "
        PATTERN_VARIABLE@394..409
          Ident@394..409 "slice_get_value"
        Colon@409..410 ":"
        Whitespace@410..411 " "
        TYPE_FUNC@411..440
          TYPE_TUPLE@411..431
            TYPE_LIST@411..431
              LParen@411..412 "("
              TYPE_TAPP@412..424
                PATH@412..417
                  Ident@412..417 "Slice"
                TYPE_PARAM_LIST@417..424
                  LBracket@417..418 "["
                  TYPE_INT32@418..423
                    Int32Keyword@418..423 "int32"
                  RBracket@423..424 "]"
              Comma@424..425 ","
              Whitespace@425..426 " "
              TYPE_INT@426..429
                IntKeyword@426..429 "int"
              RParen@429..430 ")"
              Whitespace@430..431 " "
          Arrow@431..433 "->"
          Whitespace@433..434 " "
          TYPE_INT32@434..440
            Int32Keyword@434..439 "int32"
            Whitespace@439..440 " "
        Eq@440..441 "="
        Whitespace@441..442 " "
        EXPR_IDENT@442..451
          PATH@442..451
            Ident@442..451 "slice_get"
        Semi@451..452 ";"
        Whitespace@452..457 "\n    "
      STMT_LET@457..498
        LetKeyword@457..460 "let"
        Whitespace@460..461 " "
        PATTERN_VARIABLE@461..466
          Ident@461..465 "view"
          Whitespace@465..466 " "
        Eq@466..467 "="
        Whitespace@467..468 " "
        EXPR_CALL@468..492
          EXPR_IDENT@468..478
            PATH@468..478
              Ident@468..478 "make_slice"
          ARG_LIST@478..492
            LParen@478..479 "("
            ARG@479..487
              EXPR_IDENT@479..485
                PATH@479..485
                  Ident@479..485 "values"
              Comma@485..486 ","
              Whitespace@486..487 " "
            ARG@487..490
              EXPR_INT@487..488
                Int@487..488 "0"
              Comma@488..489 ","
              Whitespace@489..490 " "
            ARG@490..491
              EXPR_INT@490..491
                Int@490..491 "2"
            RParen@491..492 ")"
        Semi@492..493 ";"
        Whitespace@493..498 "\n    "
      STMT_EXPR@498..537
        EXPR_CALL@498..531
          EXPR_IDENT@498..505
            PATH@498..505
              Ident@498..505 "println"
          ARG_LIST@505..531
            LParen@505..506 "("
            ARG@506..530
              EXPR_CALL@506..530
                EXPR_IDENT@506..521
                  PATH@506..521
                    Ident@506..521 "slice_get_value"
                ARG_LIST@521..530
                  LParen@521..522 "("
                  ARG@522..528
                    EXPR_IDENT@522..526
                      PATH@522..526
                        Ident@522..526 "view"
                    Comma@526..527 ","
                    Whitespace@527..528 " "
                  ARG@528..529
                    EXPR_INT@528..529
                      Int@528..529 "0"
                  RParen@529..530 ")"
            RParen@530..531 ")"
        Semi@531..532 ";"
        Whitespace@532..537 "\n    "
      STMT_LET@537..561
        LetKeyword@537..540 "let"
        Whitespace@540..541 " "
        PATTERN_VARIABLE@541..547
          Ident@541..546 "alias"
          Whitespace@546..547 " "
        Eq@547..548 "="
        Whitespace@548..549 " "
        EXPR_IDENT@549..555
          PATH@549..555
            Ident@549..555 "values"
        Semi@555..556 ";"
        Whitespace@556..561 "\n    "
      STMT_EXPR@561..581
        EXPR_CALL@561..575
          EXPR_BINARY@561..571
            EXPR_IDENT@561..566
              PATH@561..566
                Ident@561..566 "alias"
            Dot@566..567 "."
            EXPR_IDENT@567..571
              PATH@567..571
                Ident@567..571 "push"
          ARG_LIST@571..575
            LParen@571..572 "("
            ARG@572..574
              EXPR_INT@572..574
                Int@572..574 "33"
            RParen@574..575 ")"
        Semi@575..576 ";"
        Whitespace@576..581 "\n    "
      STMT_EXPR@581..608
        EXPR_CALL@581..602
          EXPR_IDENT@581..588
            PATH@581..588
              Ident@581..588 "println"
          ARG_LIST@588..602
            LParen@588..589 "("
            ARG@589..601
              EXPR_CALL@589..601
                EXPR_BINARY@589..599
                  EXPR_IDENT@589..595
                    PATH@589..595
                      Ident@589..595 "values"
                  Dot@595..596 "."
                  EXPR_IDENT@596..599
                    PATH@596..599
                      Ident@596..599 "len"
                ARG_LIST@599..601
                  LParen@599..600 "("
                  RParen@600..601 ")"
            RParen@601..602 ")"
        Semi@602..603 ";"
        Whitespace@603..608 "\n    "
      STMT_EXPR@608..631
        EXPR_CALL@608..625
          EXPR_BINARY@608..618
            EXPR_IDENT@608..614
              PATH@608..614
                Ident@608..614 "values"
            Dot@614..615 "."
            EXPR_IDENT@615..618
              PATH@615..618
                Ident@615..618 "set"
          ARG_LIST@618..625
            LParen@618..619 "("
            ARG@619..622
              EXPR_INT@619..620
                Int@619..620 "0"
              Comma@620..621 ","
              Whitespace@621..622 " "
            ARG@622..624
              EXPR_INT@622..624
                Int@622..624 "44"
            RParen@624..625 ")"
        Semi@625..626 ";"
        Whitespace@626..631 "\n    "
      STMT_EXPR@631..658
        EXPR_CALL@631..652
          EXPR_IDENT@631..638
            PATH@631..638
              Ident@631..638 "println"
          ARG_LIST@638..652
            LParen@638..639 "("
            ARG@639..651
              EXPR_CALL@639..651
                EXPR_BINARY@639..648
                  EXPR_IDENT@639..644
                    PATH@639..644
                      Ident@639..644 "alias"
                  Dot@644..645 "."
                  EXPR_IDENT@645..648
                    PATH@645..648
                      Ident@645..648 "get"
                ARG_LIST@648..651
                  LParen@648..649 "("
                  ARG@649..650
                    EXPR_INT@649..650
                      Int@649..650 "0"
                  RParen@650..651 ")"
            RParen@651..652 ")"
        Semi@652..653 ";"
        Whitespace@653..658 "\n    "
      STMT_LET@658..694
        LetKeyword@658..661 "let"
        Whitespace@661..662 " "
        PATTERN_VARIABLE@662..669
          Ident@662..668 "copied"
          Whitespace@668..669 " "
        Eq@669..670 "="
        Whitespace@670..671 " "
        EXPR_CALL@671..688
          EXPR_BINARY@671..684
            EXPR_IDENT@671..677
              PATH@671..677
                Ident@671..677 "values"
            Dot@677..678 "."
            EXPR_IDENT@678..684
              PATH@678..684
                Ident@678..684 "pushed"
          ARG_LIST@684..688
            LParen@684..685 "("
            ARG@685..687
              EXPR_INT@685..687
                Int@685..687 "55"
            RParen@687..688 ")"
        Semi@688..689 ";"
        Whitespace@689..694 "\n    "
      STMT_EXPR@694..721
        EXPR_CALL@694..715
          EXPR_IDENT@694..701
            PATH@694..701
              Ident@694..701 "println"
          ARG_LIST@701..715
            LParen@701..702 "("
            ARG@702..714
              EXPR_CALL@702..714
                EXPR_BINARY@702..712
                  EXPR_IDENT@702..708
                    PATH@702..708
                      Ident@702..708 "values"
                  Dot@708..709 "."
                  EXPR_IDENT@709..712
                    PATH@709..712
                      Ident@709..712 "len"
                ARG_LIST@712..714
                  LParen@712..713 "("
                  RParen@713..714 ")"
            RParen@714..715 ")"
        Semi@715..716 ";"
        Whitespace@716..721 "\n    "
      STMT_EXPR@721..744
        EXPR_CALL@721..742
          EXPR_IDENT@721..728
            PATH@721..728
              Ident@721..728 "println"
          ARG_LIST@728..742
            LParen@728..729 "("
            ARG@729..741
              EXPR_CALL@729..741
                EXPR_BINARY@729..739
                  EXPR_IDENT@729..735
                    PATH@729..735
                      Ident@729..735 "copied"
                  Dot@735..736 "."
                  EXPR_IDENT@736..739
                    PATH@736..739
                      Ident@736..739 "len"
                ARG_LIST@739..741
                  LParen@739..740 "("
                  RParen@740..741 ")"
            RParen@741..742 ")"
        Semi@742..743 ";"
        Whitespace@743..744 "\n"
      RBrace@744..745 "}"
      Whitespace@745..746 "\n"