FILE@0..4615
  STRUCT@0..86
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..14 "Tracker"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    STRUCT_FIELD_LIST@21..86
      STRUCT_FIELD@21..34
        Ident@21..26 "label"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_STRING@28..34
          StringKeyword@28..34 "string"
      Comma@34..35 ","
      Whitespace@35..40 "\n    "
      STRUCT_FIELD@40..57
        Ident@40..45 "count"
        Colon@45..46 ":"
        Whitespace@46..47 " "
        TYPE_TAPP@47..57
          PATH@47..50
            Ident@47..50 "Ref"
          TYPE_PARAM_LIST@50..57
            LBracket@50..51 "["
            TYPE_INT32@51..56
              Int32Keyword@51..56 "int32"
            RBracket@56..57 "]"
      Comma@57..58 ","
      Whitespace@58..63 "\n    "
      STRUCT_FIELD@63..81
        Ident@63..70 "toggled"
        Colon@70..71 ":"
        Whitespace@71..72 " "
        TYPE_TAPP@72..81
          PATH@72..75
            Ident@72..75 "Ref"
          TYPE_PARAM_LIST@75..81
            LBracket@75..76 "["
            TYPE_BOOL@76..80
              BoolKeyword@76..80 "bool"
            RBracket@80..81 "]"
      Comma@81..82 ","
      Whitespace@82..83 "\n"
      RBrace@83..84 "}"
      Whitespace@84..86 "\n\n"
  ENUM@86..147
    EnumKeyword@86..90 "enum"
    Whitespace@90..91 " "
    Ident@91..97 "Record"
    GENERIC_LIST@97..101
      LBracket@97..98 "["
      GENERIC@98..99
        Ident@98..99 "T"
      RBracket@99..100 "]"
      Whitespace@100..101 " "
    LBrace@101..102 "{"
    Whitespace@102..107 "\n    "
    VARIANT_LIST@107..147
      VARIANT@107..115
        Ident@107..112 "Value"
        TYPE_LIST@112..115
          LParen@112..113 "("
          ENUM_TUPLE_FIELD@113..114
            TYPE_TAPP@113..114
              PATH@113..114
                Ident@113..114 "T"
          RParen@114..115 ")"
      Comma@115..116 ","
      Whitespace@116..121 "\n    "
      VARIANT@121..131
        Ident@121..125 "Pair"
        TYPE_LIST@125..131
          LParen@125..126 "("
          ENUM_TUPLE_FIELD@126..127
            TYPE_TAPP@126..127
              PATH@126..127
                Ident@126..127 "T"
          Comma@127..128 ","
          Whitespace@128..129 " "
          ENUM_TUPLE_FIELD@129..130
            TYPE_TAPP@129..130
              PATH@129..130
                Ident@129..130 "T"
          RParen@130..131 ")"
      Comma@131..132 ","
      Whitespace@132..137 "\n    "
      VARIANT@137..142
        Ident@137..142 "Empty"
      Comma@142..143 ","
      Whitespace@143..144 "\n"
      RBrace@144..145 "}"
      Whitespace@145..147 "\n\n"
  ENUM@147..189
    EnumKeyword@147..151 "enum"
    Whitespace@151..152 " "
    Ident@152..157 "Maybe"
    GENERIC_LIST@157..161
      LBracket@157..158 "["
      GENERIC@158..159
        Ident@158..159 "T"
      RBracket@159..160 "]"
      Whitespace@160..161 " "
    LBrace@161..162 "{"
    Whitespace@162..167 "\n    "
    VARIANT_LIST@167..189
      VARIANT@167..174
        Ident@167..171 "Some"
        TYPE_LIST@171..174
          LParen@171..172 "("
          ENUM_TUPLE_FIELD@172..173
            TYPE_TAPP@172..173
              PATH@172..173
                Ident@172..173 "T"
          RParen@173..174 ")"
      Comma@174..175 ","
      Whitespace@175..180 "\n    "
      VARIANT@180..184
        Ident@180..184 "None"
      Comma@184..185 ","
      Whitespace@185..186 "\n"
      RBrace@186..187 "}"
      Whitespace@187..189 "\n\n"
  TRAIT@189..248
    TraitKeyword@189..194 "trait"
    Whitespace@194..195 " "
    Ident@195..203 "Describe"
    Whitespace@203..204 " "
    LBrace@204..205 "{"
    Whitespace@205..210 "\n    "
    TRAIT_METHOD_SIG_LIST@210..248
      TRAIT_METHOD_SIG@210..245
        FnKeyword@210..212 "fn"
        Whitespace@212..213 " "
        Ident@213..221 "describe"
        PARAM_LIST@221..234
          LParen@221..222 "("
          PARAM@222..232
            Ident@222..226 "self"
            Colon@226..227 ":"
            Whitespace@227..228 " "
            TYPE_TAPP@228..232
              PATH@228..232
                Ident@228..232 "Self"
          RParen@232..233 ")"
          Whitespace@233..234 " "
        Arrow@234..236 "->"
        Whitespace@236..237 " "
        TYPE_STRING@237..243
          StringKeyword@237..243 "string"
        Semi@243..244 ";"
        Whitespace@244..245 "\n"
      RBrace@245..246 "}"
      Whitespace@246..248 "\n\n"
  IMPL@248..748
    ImplKeyword@248..252 "impl"
    Whitespace@252..253 " "
    TYPE_TAPP@253..262
      PATH@253..262
        Ident@253..261 "Describe"
        Whitespace@261..262 " "
    ForKeyword@262..265 "for"
    Whitespace@265..266 " "
    TYPE_TAPP@266..274
      PATH@266..274
        Ident@266..273 "Tracker"
        Whitespace@273..274 " "
    LBrace@274..275 "{"
    Whitespace@275..280 "\n    "
    FN@280..745
      FnKeyword@280..282 "fn"
      Whitespace@282..283 " "
      Ident@283..291 "describe"
      PARAM_LIST@291..307
        LParen@291..292 "("
        PARAM@292..305
          Ident@292..296 "self"
          Colon@296..297 ":"
          Whitespace@297..298 " "
          TYPE_TAPP@298..305
            PATH@298..305
              Ident@298..305 "Tracker"
        RParen@305..306 ")"
        Whitespace@306..307 " "
      Arrow@307..309 "->"
      Whitespace@309..310 " "
      TYPE_STRING@310..317
        StringKeyword@310..316 "string"
        Whitespace@316..317 " "
      BLOCK@317..745
        LBrace@317..318 "{"
        Whitespace@318..327 "\n        "
        STMT_LET@327..404
          LetKeyword@327..330 "let"
          Whitespace@330..331 " "
          PATTERN_CONSTR@331..388
            PATH@331..339
              Ident@331..338 "Tracker"
              Whitespace@338..339 " "
            STRUCT_PATTERN_FIELD_LIST@339..388
              LBrace@339..340 "{"
              Whitespace@340..341 " "
              STRUCT_PATTERN_FIELD@341..353
                Ident@341..346 "label"
                Colon@346..347 ":"
                Whitespace@347..348 " "
                PATTERN_VARIABLE@348..353
                  Ident@348..353 "label"
              Comma@353..354 ","
              Whitespace@354..355 " "
              STRUCT_PATTERN_FIELD@355..367
                Ident@355..360 "count"
                Colon@360..361 ":"
                Whitespace@361..362 " "
                PATTERN_VARIABLE@362..367
                  Ident@362..367 "count"
              Comma@367..368 ","
              Whitespace@368..369 " "
              STRUCT_PATTERN_FIELD@369..386
                Ident@369..376 "toggled"
                Colon@376..377 ":"
                Whitespace@377..378 " "
                PATTERN_VARIABLE@378..386
                  Ident@378..385 "toggled"
                  Whitespace@385..386 " "
              RBrace@386..387 "}"
              Whitespace@387..388 " "
          Eq@388..389 "="
          Whitespace@389..390 " "
          EXPR_IDENT@390..394
            PATH@390..394
              Ident@390..394 "self"
          Semi@394..395 ";"
          Whitespace@395..404 "\n        "
        STMT_LET@404..439
          LetKeyword@404..407 "let"
          Whitespace@407..408 " "
          PATTERN_VARIABLE@408..416
            Ident@408..415 "current"
            Whitespace@415..416 " "
          Eq@416..417 "="
          Whitespace@417..418 " "
          EXPR_CALL@418..429
            EXPR_BINARY@418..427
              EXPR_IDENT@418..423
                PATH@418..423
                  Ident@418..423 "count"
              Dot@423..424 "."
              EXPR_IDENT@424..427
                PATH@424..427
                  Ident@424..427 "get"
            ARG_LIST@427..429
              LParen@427..428 "("
              RParen@428..429 ")"
          Semi@429..430 ";"
          Whitespace@430..439 "\n        "
        STMT_LET@439..473
          LetKeyword@439..442 "let"
          Whitespace@442..443 " "
          PATTERN_VARIABLE@443..448
            Ident@443..447 "flag"
            Whitespace@447..448 " "
          Eq@448..449 "="
          Whitespace@449..450 " "
          EXPR_CALL@450..463
            EXPR_BINARY@450..461
              EXPR_IDENT@450..457
                PATH@450..457
                  Ident@450..457 "toggled"
              Dot@457..458 "."
              EXPR_IDENT@458..461
                PATH@458..461
                  Ident@458..461 "get"
            ARG_LIST@461..463
              LParen@461..462 "("
              RParen@462..463 ")"
          Semi@463..464 ";"
          Whitespace@464..473 "\n        "
        STMT_LET@473..518
          LetKeyword@473..476 "let"
          Whitespace@476..477 " "
          PATTERN_VARIABLE@477..488
            Ident@477..487 "with_label"
            Whitespace@487..488 " "
          Eq@488..489 "="
          Whitespace@489..490 " "
          EXPR_BINARY@490..508
            EXPR_STR@490..501
              Str@490..500 "\"Tracker(\""
              Whitespace@500..501 " "
            Plus@501..502 "+"
            Whitespace@502..503 " "
            EXPR_IDENT@503..508
              PATH@503..508
                Ident@503..508 "label"
          Semi@508..509 ";"
          Whitespace@509..518 "\n        "
        STMT_LET@518..575
          LetKeyword@518..521 "let"
          Whitespace@521..522 " "
          PATTERN_VARIABLE@522..539
            Ident@522..538 "with_count_label"
            Whitespace@538..539 " "
          Eq@539..540 "="
          Whitespace@540..541 " "
          EXPR_BINARY@541..565
            EXPR_IDENT@541..552
              PATH@541..552
                Ident@541..551 "with_label"
                Whitespace@551..552 " "
            Plus@552..553 "+"
            Whitespace@553..554 " "
            EXPR_STR@554..565
              Str@554..565 "\", count: \""
          Semi@565..566 ";"
          Whitespace@566..575 "\n        "
        STMT_LET@575..640
          LetKeyword@575..578 "let"
          Whitespace@578..579 " "
          PATTERN_VARIABLE@579..590
            Ident@579..589 "with_count"
            Whitespace@589..590 " "
          Eq@590..591 "="
          Whitespace@591..592 " "
          EXPR_BINARY@592..630
            EXPR_IDENT@592..609
              PATH@592..609
                Ident@592..608 "with_count_label"
                Whitespace@608..609 " "
            Plus@609..610 "+"
            Whitespace@610..611 " "
            EXPR_CALL@611..630
              EXPR_BINARY@611..628
                EXPR_IDENT@611..618
                  PATH@611..618
                    Ident@611..618 "current"
                Dot@618..619 "."
                EXPR_IDENT@619..628
                  PATH@619..628
                    Ident@619..628 "to_string"
              ARG_LIST@628..630
                LParen@628..629 "("
                RParen@629..630 ")"
          Semi@630..631 ";"
          Whitespace@631..640 "\n        "
        STMT_LET@640..698
          LetKeyword@640..643 "let"
          Whitespace@643..644 " "
          PATTERN_VARIABLE@644..660
            Ident@644..659 "with_flag_label"
            Whitespace@659..660 " "
          Eq@660..661 "="
          Whitespace@661..662 " "
          EXPR_BINARY@662..688
            EXPR_IDENT@662..673
              PATH@662..673
                Ident@662..672 "with_count"
                Whitespace@672..673 " "
            Plus@673..674 "+"
            Whitespace@674..675 " "
            EXPR_STR@675..688
              Str@675..688 "\", toggled: \""
          Semi@688..689 ";"
          Whitespace@689..698 "\n        "
        EXPR_BINARY@698..743
          EXPR_BINARY@698..733
            EXPR_IDENT@698..714
              PATH@698..714
                Ident@698..713 "with_flag_label"
                Whitespace@713..714 " "
            Plus@714..715 "+"
            Whitespace@715..716 " "
            EXPR_CALL@716..733
              EXPR_BINARY@716..730
                EXPR_IDENT@716..720
                  PATH@716..720
                    Ident@716..720 "flag"
                Dot@720..721 "."
                EXPR_IDENT@721..730
                  PATH@721..730
                    Ident@721..730 "to_string"
              ARG_LIST@730..733
                LParen@730..731 "("
                RParen@731..732 ")"
                Whitespace@732..733 " "
          Plus@733..734 "+"
          Whitespace@734..735 " "
          EXPR_STR@735..743
            Str@735..738 "\")\""
            Whitespace@738..743 "\n    "
        RBrace@743..744 "}"
        Whitespace@744..745 "\n"
    RBrace@745..746 "}"
    Whitespace@746..748 "\n\n"
  IMPL@748..1132
    ImplKeyword@748..752 "impl"
    Whitespace@752..753 " "
    TYPE_TAPP@753..762
      PATH@753..762
        Ident@753..761 "Describe"
        Whitespace@761..762 " "
    ForKeyword@762..765 "for"
    Whitespace@765..766 " "
    TYPE_TAPP@766..780
      PATH@766..772
        Ident@766..772 "Record"
      TYPE_PARAM_LIST@772..780
        LBracket@772..773 "["
        TYPE_INT32@773..778
          Int32Keyword@773..778 "int32"
        RBracket@778..779 "]"
        Whitespace@779..780 " "
    LBrace@780..781 "{"
    Whitespace@781..786 "\n    "
    FN@786..1129
      FnKeyword@786..788 "fn"
      Whitespace@788..789 " "
      Ident@789..797 "describe"
      PARAM_LIST@797..819
        LParen@797..798 "("
        PARAM@798..817
          Ident@798..802 "self"
          Colon@802..803 ":"
          Whitespace@803..804 " "
          TYPE_TAPP@804..817
            PATH@804..810
              Ident@804..810 "Record"
            TYPE_PARAM_LIST@810..817
              LBracket@810..811 "["
              TYPE_INT32@811..816
                Int32Keyword@811..816 "int32"
              RBracket@816..817 "]"
        RParen@817..818 ")"
        Whitespace@818..819 " "
      Arrow@819..821 "->"
      Whitespace@821..822 " "
      TYPE_STRING@822..829
        StringKeyword@822..828 "string"
        Whitespace@828..829 " "
      BLOCK@829..1129
        LBrace@829..830 "{"
        Whitespace@830..839 "\n        "
        EXPR_MATCH@839..1127
          MatchKeyword@839..844 "match"
          Whitespace@844..845 " "
          EXPR_IDENT@845..850
            PATH@845..850
              Ident@845..849 "self"
              Whitespace@849..850 " "
          MATCH_ARM_LIST@850..1127
            LBrace@850..851 "{"
            Whitespace@851..864 "\n            "
            MATCH_ARM@864..914
              PATTERN_CONSTR@864..877
                PATH@864..869
                  Ident@864..869 "Value"
                LParen@869..870 "("
                PATTERN_VARIABLE@870..875
                  Ident@870..875 "value"
                RParen@875..876 ")"
                Whitespace@876..877 " "
              FatArrow@877..879 "=>"
              Whitespace@879..880 " "
              EXPR_BINARY@880..914
                EXPR_BINARY@880..909
                  EXPR_STR@880..889
                    Str@880..888 "\"Value(\""
                    Whitespace@888..889 " "
                  Plus@889..890 "+"
                  Whitespace@890..891 " "
                  EXPR_CALL@891..909
                    EXPR_BINARY@891..906
                      EXPR_IDENT@891..896
                        PATH@891..896
                          Ident@891..896 "value"
                      Dot@896..897 "."
                      EXPR_IDENT@897..906
                        PATH@897..906
                          Ident@897..906 "to_string"
                    ARG_LIST@906..909
                      LParen@906..907 "("
                      RParen@907..908 ")"
                      Whitespace@908..909 " "
                Plus@909..910 "+"
                Whitespace@910..911 " "
                EXPR_STR@911..914
                  Str@911..914 "\")\""
            Comma@914..915 ","
            Whitespace@915..928 "\n            "
            MATCH_ARM@928..1081
              PATTERN_CONSTR@928..948
                PATH@928..932
                  Ident@928..932 "Pair"
                LParen@932..933 "("
                PATTERN_VARIABLE@933..939
                  Ident@933..939 "before"
                Comma@939..940 ","
                Whitespace@940..941 " "
                PATTERN_VARIABLE@941..946
                  Ident@941..946 "after"
                RParen@946..947 ")"
                Whitespace@947..948 " "
              FatArrow@948..950 "=>"
              Whitespace@950..951 " "
              BLOCK@951..1081
                LBrace@951..952 "{"
                Whitespace@952..969 "\n                "
                STMT_LET@969..1028
                  LetKeyword@969..972 "let"
                  Whitespace@972..973 " "
                  PATTERN_VARIABLE@973..980
                    Ident@973..979 "prefix"
                    Whitespace@979..980 " "
                  Eq@980..981 "="
                  Whitespace@981..982 " "
                  EXPR_BINARY@982..1010
                    EXPR_STR@982..990
                      Str@982..989 "\"Pair(\""
                      Whitespace@989..990 " "
                    Plus@990..991 "+"
                    Whitespace@991..992 " "
                    EXPR_CALL@992..1010
                      EXPR_BINARY@992..1008
                        EXPR_IDENT@992..998
                          PATH@992..998
                            Ident@992..998 "before"
                        Dot@998..999 "."
                        EXPR_IDENT@999..1008
                          PATH@999..1008
                            Ident@999..1008 "to_string"
                      ARG_LIST@1008..1010
                        LParen@1008..1009 "("
                        RParen@1009..1010 ")"
                  Semi@1010..1011 ";"
                  Whitespace@1011..1028 "\n                "
                EXPR_BINARY@1028..1080
                  EXPR_BINARY@1028..1062
                    EXPR_BINARY@1028..1042
                      EXPR_IDENT@1028..1035
                        PATH@1028..1035
                          Ident@1028..1034 "prefix"
                          Whitespace@1034..1035 " "
                      Plus@1035..1036 "+"
                      Whitespace@1036..1037 " "
                      EXPR_STR@1037..1042
                        Str@1037..1041 "\", \""
                        Whitespace@1041..1042 " "
                    Plus@1042..1043 "+"
                    Whitespace@1043..1044 " "
                    EXPR_CALL@1044..1062
                      EXPR_BINARY@1044..1059
                        EXPR_IDENT@1044..1049
                          PATH@1044..1049
                            Ident@1044..1049 "after"
                        Dot@1049..1050 "."
                        EXPR_IDENT@1050..1059
                          PATH@1050..1059
                            Ident@1050..1059 "to_string"
                      ARG_LIST@1059..1062
                        LParen@1059..1060 "("
                        RParen@1060..1061 ")"
                        Whitespace@1061..1062 " "
                  Plus@1062..1063 "+"
                  Whitespace@1063..1064 " "
                  EXPR_STR@1064..1080
                    Str@1064..1067 "\")\""
                    Whitespace@1067..1080 "\n            "
                RBrace@1080..1081 "}"
            Comma@1081..1082 ","
            Whitespace@1082..1095 "\n            "
            MATCH_ARM@1095..1111
              PATTERN_CONSTR@1095..1101
                PATH@1095..1101
                  Ident@1095..1100 "Empty"
                  Whitespace@1100..1101 " "
              FatArrow@1101..1103 "=>"
              Whitespace@1103..1104 " "
              EXPR_STR@1104..1111
                Str@1104..1111 "\"Empty\""
            Comma@1111..1112 ","
            Whitespace@1112..1121 "\n        "
            RBrace@1121..1122 "}"
            Whitespace@1122..1127 "\n    "
        RBrace@1127..1128 "}"
        Whitespace@1128..1129 "\n"
    RBrace@1129..1130 "}"
    Whitespace@1130..1132 "\n\n"
  IMPL@1132..1480
    ImplKeyword@1132..1136 "impl"
    Whitespace@1136..1137 " "
    TYPE_TAPP@1137..1146
      PATH@1137..1146
        Ident@1137..1145 "Describe"
        Whitespace@1145..1146 " "
    ForKeyword@1146..1149 "for"
    Whitespace@1149..1150 " "
    TYPE_TAPP@1150..1165
      PATH@1150..1156
        Ident@1150..1156 "Record"
      TYPE_PARAM_LIST@1156..1165
        LBracket@1156..1157 "["
        TYPE_STRING@1157..1163
          StringKeyword@1157..1163 "string"
        RBracket@1163..1164 "]"
        Whitespace@1164..1165 " "
    LBrace@1165..1166 "{"
    Whitespace@1166..1171 "\n    "
    FN@1171..1477
      FnKeyword@1171..1173 "fn"
      Whitespace@1173..1174 " "
      Ident@1174..1182 "describe"
      PARAM_LIST@1182..1205
        LParen@1182..1183 "("
        PARAM@1183..1203
          Ident@1183..1187 "self"
          Colon@1187..1188 ":"
          Whitespace@1188..1189 " "
          TYPE_TAPP@1189..1203
            PATH@1189..1195
              Ident@1189..1195 "Record"
            TYPE_PARAM_LIST@1195..1203
              LBracket@1195..1196 "["
              TYPE_STRING@1196..1202
                StringKeyword@1196..1202 "string"
              RBracket@1202..1203 "]"
        RParen@1203..1204 ")"
        Whitespace@1204..1205 " "
      Arrow@1205..1207 "->"
      Whitespace@1207..1208 " "
      TYPE_STRING@1208..1215
        StringKeyword@1208..1214 "string"
        Whitespace@1214..1215 " "
      BLOCK@1215..1477
        LBrace@1215..1216 "{"
        Whitespace@1216..1225 "\n        "
        EXPR_MATCH@1225..1475
          MatchKeyword@1225..1230 "match"
          Whitespace@1230..1231 " "
          EXPR_IDENT@1231..1236
            PATH@1231..1236
              Ident@1231..1235 "self"
              Whitespace@1235..1236 " "
          MATCH_ARM_LIST@1236..1475
            LBrace@1236..1237 "{"
            Whitespace@1237..1250 "\n            "
            MATCH_ARM@1250..1286
              PATTERN_CONSTR@1250..1262
                PATH@1250..1255
                  Ident@1250..1255 "Value"
                LParen@1255..1256 "("
                PATTERN_VARIABLE@1256..1260
                  Ident@1256..1260 "text"
                RParen@1260..1261 ")"
                Whitespace@1261..1262 " "
              FatArrow@1262..1264 "=>"
              Whitespace@1264..1265 " "
              EXPR_BINARY@1265..1286
                EXPR_BINARY@1265..1281
                  EXPR_STR@1265..1274
                    Str@1265..1273 "\"Value(\""
                    Whitespace@1273..1274 " "
                  Plus@1274..1275 "+"
                  Whitespace@1275..1276 " "
                  EXPR_IDENT@1276..1281
                    PATH@1276..1281
                      Ident@1276..1280 "text"
                      Whitespace@1280..1281 " "
                Plus@1281..1282 "+"
                Whitespace@1282..1283 " "
                EXPR_STR@1283..1286
                  Str@1283..1286 "\")\""
            Comma@1286..1287 ","
            Whitespace@1287..1300 "\n            "
            MATCH_ARM@1300..1429
              PATTERN_CONSTR@1300..1320
                PATH@1300..1304
                  Ident@1300..1304 "Pair"
                LParen@1304..1305 "("
                PATTERN_VARIABLE@1305..1311
                  Ident@1305..1311 "before"
                Comma@1311..1312 ","
                Whitespace@1312..1313 " "
                PATTERN_VARIABLE@1313..1318
                  Ident@1313..1318 "after"
                RParen@1318..1319 ")"
                Whitespace@1319..1320 " "
              FatArrow@1320..1322 "=>"
              Whitespace@1322..1323 " "
              BLOCK@1323..1429
                LBrace@1323..1324 "{"
                Whitespace@1324..1341 "\n                "
                STMT_LET@1341..1388
                  LetKeyword@1341..1344 "let"
                  Whitespace@1344..1345 " "
                  PATTERN_VARIABLE@1345..1352
                    Ident@1345..1351 "prefix"
                    Whitespace@1351..1352 " "
                  Eq@1352..1353 "="
                  Whitespace@1353..1354 " "
                  EXPR_BINARY@1354..1370
                    EXPR_STR@1354..1362
                      Str@1354..1361 "\"Pair(\""
                      Whitespace@1361..1362 " "
                    Plus@1362..1363 "+"
                    Whitespace@1363..1364 " "
                    EXPR_IDENT@1364..1370
                      PATH@1364..1370
                        Ident@1364..1370 "before"
                  Semi@1370..1371 ";"
                  Whitespace@1371..1388 "\n                "
                EXPR_BINARY@1388..1428
                  EXPR_BINARY@1388..1410
                    EXPR_BINARY@1388..1402
                      EXPR_IDENT@1388..1395
                        PATH@1388..1395
                          Ident@1388..1394 "prefix"
                          Whitespace@1394..1395 " "
                      Plus@1395..1396 "+"
                      Whitespace@1396..1397 " "
                      EXPR_STR@1397..1402
                        Str@1397..1401 "\", \""
                        Whitespace@1401..1402 " "
                    Plus@1402..1403 "+"
                    Whitespace@1403..1404 " "
                    EXPR_IDENT@1404..1410
                      PATH@1404..1410
                        Ident@1404..1409 "after"
                        Whitespace@1409..1410 " "
                  Plus@1410..1411 "+"
                  Whitespace@1411..1412 " "
                  EXPR_STR@1412..1428
                    Str@1412..1415 "\")\""
                    Whitespace@1415..1428 "\n            "
                RBrace@1428..1429 "}"
            Comma@1429..1430 ","
            Whitespace@1430..1443 "\n            "
            MATCH_ARM@1443..1459
              PATTERN_CONSTR@1443..1449
                PATH@1443..1449
                  Ident@1443..1448 "Empty"
                  Whitespace@1448..1449 " "
              FatArrow@1449..1451 "=>"
              Whitespace@1451..1452 " "
              EXPR_STR@1452..1459
                Str@1452..1459 "\"Empty\""
            Comma@1459..1460 ","
            Whitespace@1460..1469 "\n        "
            RBrace@1469..1470 "}"
            Whitespace@1470..1475 "\n    "
        RBrace@1475..1476 "}"
        Whitespace@1476..1477 "\n"
    RBrace@1477..1478 "}"
    Whitespace@1478..1480 "\n\n"
  FN@1480..1614
    FnKeyword@1480..1482 "fn"
    Whitespace@1482..1483 " "
    Ident@1483..1489 "choose"
    GENERIC_LIST@1489..1492
      LBracket@1489..1490 "["
      GENERIC@1490..1491
        Ident@1490..1491 "T"
      RBracket@1491..1492 "]"
    PARAM_LIST@1492..1534
      LParen@1492..1493 "("
      PARAM@1493..1505
        Ident@1493..1497 "flag"
        Colon@1497..1498 ":"
        Whitespace@1498..1499 " "
        TYPE_BOOL@1499..1503
          BoolKeyword@1499..1503 "bool"
        Comma@1503..1504 ","
        Whitespace@1504..1505 " "
      PARAM@1505..1519
        Ident@1505..1514 "when_true"
        Colon@1514..1515 ":"
        Whitespace@1515..1516 " "
        TYPE_TAPP@1516..1517
          PATH@1516..1517
            Ident@1516..1517 "T"
        Comma@1517..1518 ","
        Whitespace@1518..1519 " "
      PARAM@1519..1532
        Ident@1519..1529 "when_false"
        Colon@1529..1530 ":"
        Whitespace@1530..1531 " "
        TYPE_TAPP@1531..1532
          PATH@1531..1532
            Ident@1531..1532 "T"
      RParen@1532..1533 ")"
      Whitespace@1533..1534 " "
    Arrow@1534..1536 "->"
    Whitespace@1536..1537 " "
    TYPE_TAPP@1537..1539
      PATH@1537..1539
        Ident@1537..1538 "T"
        Whitespace@1538..1539 " "
    BLOCK@1539..1614
      LBrace@1539..1540 "{"
      Whitespace@1540..1545 "\n    "
      EXPR_IF@1545..1611
        IfKeyword@1545..1547 "if"
        Whitespace@1547..1548 " "
        EXPR_IF_COND@1548..1553
          EXPR_IDENT@1548..1553
            PATH@1548..1553
              Ident@1548..1552 "flag"
              Whitespace@1552..1553 " "
        EXPR_IF_THEN@1553..1579
          BLOCK@1553..1579
            LBrace@1553..1554 "{"
            Whitespace@1554..1563 "\n        "
            EXPR_IDENT@1563..1577
              PATH@1563..1577
                Ident@1563..1572 "when_true"
                Whitespace@1572..1577 "\n    "
            RBrace@1577..1578 "}"
            Whitespace@1578..1579 " "
        ElseKeyword@1579..1583 "else"
        Whitespace@1583..1584 " "
        EXPR_IF_ELSE@1584..1611
          BLOCK@1584..1611
            LBrace@1584..1585 "{"
            Whitespace@1585..1594 "\n        "
            EXPR_IDENT@1594..1609
              PATH@1594..1609
                Ident@1594..1604 "when_false"
                Whitespace@1604..1609 "\n    "
            RBrace@1609..1610 "}"
            Whitespace@1610..1611 "\n"
      RBrace@1611..1612 "}"
      Whitespace@1612..1614 "\n\n"
  FN@1614..1765
    FnKeyword@1614..1616 "fn"
    Whitespace@1616..1617 " "
    Ident@1617..1626 "map_maybe"
    GENERIC_LIST@1626..1632
      LBracket@1626..1627 "["
      GENERIC@1627..1628
        Ident@1627..1628 "T"
      Comma@1628..1629 ","
      Whitespace@1629..1630 " "
      GENERIC@1630..1631
        Ident@1630..1631 "U"
      RBracket@1631..1632 "]"
    PARAM_LIST@1632..1663
      LParen@1632..1633 "("
      PARAM@1633..1650
        Ident@1633..1638 "value"
        Colon@1638..1639 ":"
        Whitespace@1639..1640 " "
        TYPE_TAPP@1640..1648
          PATH@1640..1645
            Ident@1640..1645 "Maybe"
          TYPE_PARAM_LIST@1645..1648
            LBracket@1645..1646 "["
            TYPE_TAPP@1646..1647
              PATH@1646..1647
                Ident@1646..1647 "T"
            RBracket@1647..1648 "]"
        Comma@1648..1649 ","
        Whitespace@1649..1650 " "
      PARAM@1650..1661
        Ident@1650..1651 "f"
        Colon@1651..1652 ":"
        Whitespace@1652..1653 " "
        TYPE_FUNC@1653..1661
          TYPE_TUPLE@1653..1657
            TYPE_LIST@1653..1657
              LParen@1653..1654 "("
              TYPE_TAPP@1654..1655
                PATH@1654..1655
                  Ident@1654..1655 "T"
              RParen@1655..1656 ")"
              Whitespace@1656..1657 " "
          Arrow@1657..1659 "->"
          Whitespace@1659..1660 " "
          TYPE_TAPP@1660..1661
            PATH@1660..1661
              Ident@1660..1661 "U"
      RParen@1661..1662 ")"
      Whitespace@1662..1663 " "
    Arrow@1663..1665 "->"
    Whitespace@1665..1666 " "
    TYPE_TAPP@1666..1675
      PATH@1666..1671
        Ident@1666..1671 "Maybe"
      TYPE_PARAM_LIST@1671..1675
        LBracket@1671..1672 "["
        TYPE_TAPP@1672..1673
          PATH@1672..1673
            Ident@1672..1673 "U"
        RBracket@1673..1674 "]"
        Whitespace@1674..1675 " "
    BLOCK@1675..1765
      LBrace@1675..1676 "{"
      Whitespace@1676..1681 "\n    "
      EXPR_MATCH@1681..1762
        MatchKeyword@1681..1686 "match"
        Whitespace@1686..1687 " "
        EXPR_IDENT@1687..1693
          PATH@1687..1693
            Ident@1687..1692 "value"
            Whitespace@1692..1693 " "
        MATCH_ARM_LIST@1693..1762
          LBrace@1693..1694 "{"
          Whitespace@1694..1703 "\n        "
          MATCH_ARM@1703..1732
            PATTERN_CONSTR@1703..1715
              PATH@1703..1707
                Ident@1703..1707 "Some"
              LParen@1707..1708 "("
              PATTERN_VARIABLE@1708..1713
                Ident@1708..1713 "inner"
              RParen@1713..1714 ")"
              Whitespace@1714..1715 " "
            FatArrow@1715..1717 "=>"
            Whitespace@1717..1718 " "
            EXPR_CALL@1718..1732
              EXPR_IDENT@1718..1722
                PATH@1718..1722
                  Ident@1718..1722 "Some"
              ARG_LIST@1722..1732
                LParen@1722..1723 "("
                ARG@1723..1731
                  EXPR_CALL@1723..1731
                    EXPR_IDENT@1723..1724
                      PATH@1723..1724
                        Ident@1723..1724 "f"
                    ARG_LIST@1724..1731
                      LParen@1724..1725 "("
                      ARG@1725..1730
                        EXPR_IDENT@1725..1730
                          PATH@1725..1730
                            Ident@1725..1730 "inner"
                      RParen@1730..1731 ")"
                RParen@1731..1732 ")"
          Comma@1732..1733 ","
          Whitespace@1733..1742 "\n        "
          MATCH_ARM@1742..1754
            PATTERN_CONSTR@1742..1747
              PATH@1742..1747
                Ident@1742..1746 "None"
                Whitespace@1746..1747 " "
            FatArrow@1747..1749 "=>"
            Whitespace@1749..1750 " "
            EXPR_IDENT@1750..1754
              PATH@1750..1754
                Ident@1750..1754 "None"
          Comma@1754..1755 ","
          Whitespace@1755..1760 "\n    "
          RBrace@1760..1761 "}"
          Whitespace@1761..1762 "\n"
      RBrace@1762..1763 "}"
      Whitespace@1763..1765 "\n\n"
  FN@1765..1844
    FnKeyword@1765..1767 "fn"
    Whitespace@1767..1768 " "
    Ident@1768..1780 "format_total"
    PARAM_LIST@1780..1795
      LParen@1780..1781 "("
      PARAM@1781..1793
        Ident@1781..1786 "total"
        Colon@1786..1787 ":"
        Whitespace@1787..1788 " "
        TYPE_INT32@1788..1793
          Int32Keyword@1788..1793 "int32"
      RParen@1793..1794 ")"
      Whitespace@1794..1795 " "
    Arrow@1795..1797 "->"
    Whitespace@1797..1798 " "
    TYPE_STRING@1798..1805
      StringKeyword@1798..1804 "string"
      Whitespace@1804..1805 " "
    BLOCK@1805..1844
      LBrace@1805..1806 "{"
      Whitespace@1806..1811 "\n    "
      EXPR_BINARY@1811..1841
        EXPR_STR@1811..1821
          Str@1811..1820 "\"total: \""
          Whitespace@1820..1821 " "
        Plus@1821..1822 "+"
        Whitespace@1822..1823 " "
        EXPR_CALL@1823..1841
          EXPR_BINARY@1823..1838
            EXPR_IDENT@1823..1828
              PATH@1823..1828
                Ident@1823..1828 "total"
            Dot@1828..1829 "."
            EXPR_IDENT@1829..1838
              PATH@1829..1838
                Ident@1829..1838 "to_string"
          ARG_LIST@1838..1841
            LParen@1838..1839 "("
            RParen@1839..1840 ")"
            Whitespace@1840..1841 "\n"
      RBrace@1841..1842 "}"
      Whitespace@1842..1844 "\n\n"
  FN@1844..1899
    FnKeyword@1844..1846 "fn"
    Whitespace@1846..1847 " "
    Ident@1847..1856 "increment"
    PARAM_LIST@1856..1871
      LParen@1856..1857 "("
      PARAM@1857..1869
        Ident@1857..1862 "value"
        Colon@1862..1863 ":"
        Whitespace@1863..1864 " "
        TYPE_INT32@1864..1869
          Int32Keyword@1864..1869 "int32"
      RParen@1869..1870 ")"
      Whitespace@1870..1871 " "
    Arrow@1871..1873 "->"
    Whitespace@1873..1874 " "
    TYPE_INT32@1874..1880
      Int32Keyword@1874..1879 "int32"
      Whitespace@1879..1880 " "
    BLOCK@1880..1899
      LBrace@1880..1881 "{"
      Whitespace@1881..1886 "\n    "
      EXPR_BINARY@1886..1896
        EXPR_IDENT@1886..1892
          PATH@1886..1892
            Ident@1886..1891 "value"
            Whitespace@1891..1892 " "
        Plus@1892..1893 "+"
        Whitespace@1893..1894 " "
        EXPR_INT@1894..1896
          Int@1894..1895 "1"
          Whitespace@1895..1896 "\n"
      RBrace@1896..1897 "}"
      Whitespace@1897..1899 "\n\n"
  FN@1899..1951
    FnKeyword@1899..1901 "fn"
    Whitespace@1901..1902 " "
    Ident@1902..1908 "triple"
    PARAM_LIST@1908..1923
      LParen@1908..1909 "("
      PARAM@1909..1921
        Ident@1909..1914 "value"
        Colon@1914..1915 ":"
        Whitespace@1915..1916 " "
        TYPE_INT32@1916..1921
          Int32Keyword@1916..1921 "int32"
      RParen@1921..1922 ")"
      Whitespace@1922..1923 " "
    Arrow@1923..1925 "->"
    Whitespace@1925..1926 " "
    TYPE_INT32@1926..1932
      Int32Keyword@1926..1931 "int32"
      Whitespace@1931..1932 " "
    BLOCK@1932..1951
      LBrace@1932..1933 "{"
      Whitespace@1933..1938 "\n    "
      EXPR_BINARY@1938..1948
        EXPR_IDENT@1938..1944
          PATH@1938..1944
            Ident@1938..1943 "value"
            Whitespace@1943..1944 " "
        Star@1944..1945 "*"
        Whitespace@1945..1946 " "
        EXPR_INT@1946..1948
          Int@1946..1947 "3"
          Whitespace@1947..1948 "\n"
      RBrace@1948..1949 "}"
      Whitespace@1949..1951 "\n\n"
  FN@1951..2061
    FnKeyword@1951..1953 "fn"
    Whitespace@1953..1954 " "
    Ident@1954..1963 "pair_join"
    PARAM_LIST@1963..1989
      LParen@1963..1964 "("
      PARAM@1964..1987
        Ident@1964..1969 "parts"
        Colon@1969..1970 ":"
        Whitespace@1970..1971 " "
        TYPE_TUPLE@1971..1987
          TYPE_LIST@1971..1987
            LParen@1971..1972 "("
            TYPE_STRING@1972..1978
              StringKeyword@1972..1978 "string"
            Comma@1978..1979 ","
            Whitespace@1979..1980 " "
            TYPE_STRING@1980..1986
              StringKeyword@1980..1986 "string"
            RParen@1986..1987 ")"
      RParen@1987..1988 ")"
      Whitespace@1988..1989 " "
    Arrow@1989..1991 "->"
    Whitespace@1991..1992 " "
    TYPE_STRING@1992..1999
      StringKeyword@1992..1998 "string"
      Whitespace@1998..1999 " "
    BLOCK@1999..2061
      LBrace@1999..2000 "{"
      Whitespace@2000..2005 "\n    "
      STMT_LET@2005..2036
        LetKeyword@2005..2008 "let"
        Whitespace@2008..2009 " "
        PATTERN_TUPLE@2009..2023
          LParen@2009..2010 "("
          PATTERN_VARIABLE@2010..2014
            Ident@2010..2014 "left"
          Comma@2014..2015 ","
          Whitespace@2015..2016 " "
          PATTERN_VARIABLE@2016..2021
            Ident@2016..2021 "right"
          RParen@2021..2022 ")"
          Whitespace@2022..2023 " "
        Eq@2023..2024 "="
        Whitespace@2024..2025 " "
        EXPR_IDENT@2025..2030
          PATH@2025..2030
            Ident@2025..2030 "parts"
        Semi@2030..2031 ";"
        Whitespace@2031..2036 "\n    "
      EXPR_BINARY@2036..2058
        EXPR_BINARY@2036..2050
          EXPR_IDENT@2036..2041
            PATH@2036..2041
              Ident@2036..2040 "left"
              Whitespace@2040..2041 " "
          Plus@2041..2042 "+"
          Whitespace@2042..2043 " "
          EXPR_STR@2043..2050
            Str@2043..2049 "\" -> \""
            Whitespace@2049..2050 " "
        Plus@2050..2051 "+"
        Whitespace@2051..2052 " "
        EXPR_IDENT@2052..2058
          PATH@2052..2058
            Ident@2052..2057 "right"
            Whitespace@2057..2058 "\n"
      RBrace@2058..2059 "}"
      Whitespace@2059..2061 "\n\n"
  FN@2061..2382
    FnKeyword@2061..2063 "fn"
    Whitespace@2063..2064 " "
    Ident@2064..2078 "run_transforms"
    PARAM_LIST@2078..2128
      LParen@2078..2079 "("
      PARAM@2079..2093
        Ident@2079..2084 "value"
        Colon@2084..2085 ":"
        Whitespace@2085..2086 " "
        TYPE_INT32@2086..2091
          Int32Keyword@2086..2091 "int32"
        Comma@2091..2092 ","
        Whitespace@2092..2093 " "
      PARAM@2093..2126
        Ident@2093..2103 "transforms"
        Colon@2103..2104 ":"
        Whitespace@2104..2105 " "
        TYPE_ARRAY@2105..2126
          LBracket@2105..2106 "["
          TYPE_FUNC@2106..2122
            TYPE_TUPLE@2106..2114
              TYPE_LIST@2106..2114
                LParen@2106..2107 "("
                TYPE_INT32@2107..2112
                  Int32Keyword@2107..2112 "int32"
                RParen@2112..2113 ")"
                Whitespace@2113..2114 " "
            Arrow@2114..2116 "->"
            Whitespace@2116..2117 " "
            TYPE_INT32@2117..2122
              Int32Keyword@2117..2122 "int32"
          Semi@2122..2123 ";"
          Whitespace@2123..2124 " "
          Int@2124..2125 "2"
          RBracket@2125..2126 "]"
      RParen@2126..2127 ")"
      Whitespace@2127..2128 " "
    Arrow@2128..2130 "->"
    Whitespace@2130..2131 " "
    TYPE_ARRAY@2131..2142
      LBracket@2131..2132 "["
      TYPE_INT32@2132..2137
        Int32Keyword@2132..2137 "int32"
      Semi@2137..2138 ";"
      Whitespace@2138..2139 " "
      Int@2139..2140 "2"
      RBracket@2140..2141 "]"
      Whitespace@2141..2142 " "
    BLOCK@2142..2382
      LBrace@2142..2143 "{"
      Whitespace@2143..2148 "\n    "
      STMT_LET@2148..2179
        LetKeyword@2148..2151 "let"
        Whitespace@2151..2152 " "
        PATTERN_VARIABLE@2152..2158
          Ident@2152..2157 "first"
          Whitespace@2157..2158 " "
        Eq@2158..2159 "="
        Whitespace@2159..2160 " "
        EXPR_INDEX@2160..2173
          EXPR_IDENT@2160..2170
            PATH@2160..2170
              Ident@2160..2170 "transforms"
          LBracket@2170..2171 "["
          EXPR_INT@2171..2172
            Int@2171..2172 "0"
          RBracket@2172..2173 "]"
        Semi@2173..2174 ";"
        Whitespace@2174..2179 "\n    "
      STMT_LET@2179..2211
        LetKeyword@2179..2182 "let"
        Whitespace@2182..2183 " "
        PATTERN_VARIABLE@2183..2190
          Ident@2183..2189 "second"
          Whitespace@2189..2190 " "
        Eq@2190..2191 "="
        Whitespace@2191..2192 " "
        EXPR_INDEX@2192..2205
          EXPR_IDENT@2192..2202
            PATH@2192..2202
              Ident@2192..2202 "transforms"
          LBracket@2202..2203 "["
          EXPR_INT@2203..2204
            Int@2203..2204 "1"
          RBracket@2204..2205 "]"
        Semi@2205..2206 ";"
        Whitespace@2206..2211 "\n    "
      STMT_LET@2211..2248
        LetKeyword@2211..2214 "let"
        Whitespace@2214..2215 " "
        PATTERN_VARIABLE@2215..2228
          Ident@2215..2227 "first_result"
          Whitespace@2227..2228 " "
        Eq@2228..2229 "="
        Whitespace@2229..2230 " "
        EXPR_CALL@2230..2242
          EXPR_IDENT@2230..2235
            PATH@2230..2235
              Ident@2230..2235 "first"
          ARG_LIST@2235..2242
            LParen@2235..2236 "("
            ARG@2236..2241
              EXPR_IDENT@2236..2241
                PATH@2236..2241
                  Ident@2236..2241 "value"
            RParen@2241..2242 ")"
        Semi@2242..2243 ";"
        Whitespace@2243..2248 "\n    "
      STMT_LET@2248..2294
        LetKeyword@2248..2251 "let"
        Whitespace@2251..2252 " "
        PATTERN_VARIABLE@2252..2266
          Ident@2252..2265 "second_result"
          Whitespace@2265..2266 " "
        Eq@2266..2267 "="
        Whitespace@2267..2268 " "
        EXPR_CALL@2268..2288
          EXPR_IDENT@2268..2274
            PATH@2268..2274
              Ident@2268..2274 "second"
          ARG_LIST@2274..2288
            LParen@2274..2275 "("
            ARG@2275..2287
              EXPR_IDENT@2275..2287
                PATH@2275..2287
                  Ident@2275..2287 "first_result"
            RParen@2287..2288 ")"
        Semi@2288..2289 ";"
        Whitespace@2289..2294 "\n    "
      STMT_LET@2294..2339
        LetKeyword@2294..2297 "let"
        Whitespace@2297..2298 " "
        MutKeyword@2298..2301 "mut"
        Whitespace@2301..2302 " "
        PATTERN_VARIABLE@2302..2310
          Ident@2302..2309 "results"
          Whitespace@2309..2310 " "
        Eq@2310..2311 "="
        Whitespace@2311..2312 " "
        EXPR_ARRAY_LITERAL@2312..2333
          LBracket@2312..2313 "["
          EXPR_IDENT@2313..2325
            PATH@2313..2325
              Ident@2313..2325 "first_result"
          Comma@2325..2326 ","
          Whitespace@2326..2327 " "
          EXPR_IDENT@2327..2332
            PATH@2327..2332
              Ident@2327..2332 "value"
          RBracket@2332..2333 "]"
        Semi@2333..2334 ";"
        Whitespace@2334..2339 "\n    "
      STMT_ASSIGN@2339..2371
        EXPR_INDEX@2339..2350
          EXPR_IDENT@2339..2346
            PATH@2339..2346
              Ident@2339..2346 "results"
          LBracket@2346..2347 "["
          EXPR_INT@2347..2348
            Int@2347..2348 "1"
          RBracket@2348..2349 "]"
          Whitespace@2349..2350 " "
        Eq@2350..2351 "="
        Whitespace@2351..2352 " "
        EXPR_IDENT@2352..2365
          PATH@2352..2365
            Ident@2352..2365 "second_result"
        Semi@2365..2366 ";"
        Whitespace@2366..2371 "\n    "
      EXPR_IDENT@2371..2379
        PATH@2371..2379
          Ident@2371..2378 "results"
          Whitespace@2378..2379 "\n"
      RBrace@2379..2380 "}"
      Whitespace@2380..2382 "\n\n"
  FN@2382..2560
    FnKeyword@2382..2384 "fn"
    Whitespace@2384..2385 " "
    Ident@2385..2391 "gather"
    PARAM_LIST@2391..2415
      LParen@2391..2392 "("
      PARAM@2392..2413
        Ident@2392..2398 "record"
        Colon@2398..2399 ":"
        Whitespace@2399..2400 " "
        TYPE_TAPP@2400..2413
          PATH@2400..2406
            Ident@2400..2406 "Record"
          TYPE_PARAM_LIST@2406..2413
            LBracket@2406..2407 "["
            TYPE_INT32@2407..2412
              Int32Keyword@2407..2412 "int32"
            RBracket@2412..2413 "]"
      RParen@2413..2414 ")"
      Whitespace@2414..2415 " "
    Arrow@2415..2417 "->"
    Whitespace@2417..2418 " "
    TYPE_TAPP@2418..2431
      PATH@2418..2423
        Ident@2418..2423 "Maybe"
      TYPE_PARAM_LIST@2423..2431
        LBracket@2423..2424 "["
        TYPE_INT32@2424..2429
          Int32Keyword@2424..2429 "int32"
        RBracket@2429..2430 "]"
        Whitespace@2430..2431 " "
    BLOCK@2431..2560
      LBrace@2431..2432 "{"
      Whitespace@2432..2437 "\n    "
      EXPR_MATCH@2437..2557
        MatchKeyword@2437..2442 "match"
        Whitespace@2442..2443 " "
        EXPR_IDENT@2443..2450
          PATH@2443..2450
            Ident@2443..2449 "record"
            Whitespace@2449..2450 " "
        MATCH_ARM_LIST@2450..2557
          LBrace@2450..2451 "{"
          Whitespace@2451..2460 "\n        "
          MATCH_ARM@2460..2487
            PATTERN_CONSTR@2460..2473
              PATH@2460..2465
                Ident@2460..2465 "Value"
              LParen@2465..2466 "("
              PATTERN_VARIABLE@2466..2471
                Ident@2466..2471 "value"
              RParen@2471..2472 ")"
              Whitespace@2472..2473 " "
            FatArrow@2473..2475 "=>"
            Whitespace@2475..2476 " "
            EXPR_CALL@2476..2487
              EXPR_IDENT@2476..2480
                PATH@2476..2480
                  Ident@2476..2480 "Some"
              ARG_LIST@2480..2487
                LParen@2480..2481 "("
                ARG@2481..2486
                  EXPR_IDENT@2481..2486
                    PATH@2481..2486
                      Ident@2481..2486 "value"
                RParen@2486..2487 ")"
          Comma@2487..2488 ","
          Whitespace@2488..2497 "\n        "
          MATCH_ARM@2497..2526
            PATTERN_CONSTR@2497..2512
              PATH@2497..2501
                Ident@2497..2501 "Pair"
              LParen@2501..2502 "("
              PATTERN_WILDCARD@2502..2503
                WildcardKeyword@2502..2503 "_"
              Comma@2503..2504 ","
              Whitespace@2504..2505 " "
              PATTERN_VARIABLE@2505..2510
                Ident@2505..2510 "after"
              RParen@2510..2511 ")"
              Whitespace@2511..2512 " "
            FatArrow@2512..2514 "=>"
            Whitespace@2514..2515 " "
            EXPR_CALL@2515..2526
              EXPR_IDENT@2515..2519
                PATH@2515..2519
                  Ident@2515..2519 "Some"
              ARG_LIST@2519..2526
                LParen@2519..2520 "("
                ARG@2520..2525
                  EXPR_IDENT@2520..2525
                    PATH@2520..2525
                      Ident@2520..2525 "after"
                RParen@2525..2526 ")"
          Comma@2526..2527 ","
          Whitespace@2527..2536 "\n        "
          MATCH_ARM@2536..2549
            PATTERN_CONSTR@2536..2542
              PATH@2536..2542
                Ident@2536..2541 "Empty"
                Whitespace@2541..2542 " "
            FatArrow@2542..2544 "=>"
            Whitespace@2544..2545 " "
            EXPR_IDENT@2545..2549
              PATH@2545..2549
                Ident@2545..2549 "None"
          Comma@2549..2550 ","
          Whitespace@2550..2555 "\n    "
          RBrace@2555..2556 "}"
          Whitespace@2556..2557 "\n"
      RBrace@2557..2558 "}"
      Whitespace@2558..2560 "\n\n"
  FN@2560..3288
    FnKeyword@2560..2562 "fn"
    Whitespace@2562..2563 " "
    Ident@2563..2576 "build_counter"
    PARAM_LIST@2576..2606
      LParen@2576..2577 "("
      PARAM@2577..2592
        Ident@2577..2582 "label"
        Colon@2582..2583 ":"
        Whitespace@2583..2584 " "
        TYPE_STRING@2584..2590
          StringKeyword@2584..2590 "string"
        Comma@2590..2591 ","
        Whitespace@2591..2592 " "
      PARAM@2592..2604
        Ident@2592..2597 "start"
        Colon@2597..2598 ":"
        Whitespace@2598..2599 " "
        TYPE_INT32@2599..2604
          Int32Keyword@2599..2604 "int32"
      RParen@2604..2605 ")"
      Whitespace@2605..2606 " "
    Arrow@2606..2608 "->"
    Whitespace@2608..2609 " "
    TYPE_TUPLE@2609..2707
      TYPE_LIST@2609..2707
        LParen@2609..2610 "("
        Whitespace@2610..2615 "\n    "
        TYPE_TAPP@2615..2622
          PATH@2615..2622
            Ident@2615..2622 "Tracker"
        Comma@2622..2623 ","
        Whitespace@2623..2628 "\n    "
        TYPE_FUNC@2628..2647
          TYPE_TUPLE@2628..2631
            TYPE_LIST@2628..2631
              LParen@2628..2629 "("
              RParen@2629..2630 ")"
              Whitespace@2630..2631 " "
          Arrow@2631..2633 "->"
          Whitespace@2633..2634 " "
          TYPE_TAPP@2634..2647
            PATH@2634..2640
              Ident@2634..2640 "Record"
            TYPE_PARAM_LIST@2640..2647
              LBracket@2640..2641 "["
              TYPE_INT32@2641..2646
                Int32Keyword@2641..2646 "int32"
              RBracket@2646..2647 "]"
        Comma@2647..2648 ","
        Whitespace@2648..2653 "\n    "
        TYPE_FUNC@2653..2677
          TYPE_TUPLE@2653..2661
            TYPE_LIST@2653..2661
              LParen@2653..2654 "("
              TYPE_INT32@2654..2659
                Int32Keyword@2654..2659 "int32"
              RParen@2659..2660 ")"
              Whitespace@2660..2661 " "
          Arrow@2661..2663 "->"
          Whitespace@2663..2664 " "
          TYPE_TAPP@2664..2677
            PATH@2664..2670
              Ident@2664..2670 "Record"
            TYPE_PARAM_LIST@2670..2677
              LBracket@2670..2671 "["
              TYPE_INT32@2671..2676
                Int32Keyword@2671..2676 "int32"
              RBracket@2676..2677 "]"
        Comma@2677..2678 ","
        Whitespace@2678..2683 "\n    "
        TYPE_FUNC@2683..2703
          TYPE_TUPLE@2683..2686
            TYPE_LIST@2683..2686
              LParen@2683..2684 "("
              RParen@2684..2685 ")"
              Whitespace@2685..2686 " "
          Arrow@2686..2688 "->"
          Whitespace@2688..2689 " "
          TYPE_TAPP@2689..2703
            PATH@2689..2695
              Ident@2689..2695 "Record"
            TYPE_PARAM_LIST@2695..2703
              LBracket@2695..2696 "["
              TYPE_STRING@2696..2702
                StringKeyword@2696..2702 "string"
              RBracket@2702..2703 "]"
        Comma@2703..2704 ","
        Whitespace@2704..2705 "\n"
        RParen@2705..2706 ")"
        Whitespace@2706..2707 " "
    BLOCK@2707..3288
      LBrace@2707..2708 "{"
      Whitespace@2708..2713 "\n    "
      STMT_LET@2713..2746
        LetKeyword@2713..2716 "let"
        Whitespace@2716..2717 " "
        PATTERN_VARIABLE@2717..2723
          Ident@2717..2722 "count"
          Whitespace@2722..2723 " "
        Eq@2723..2724 "="
        Whitespace@2724..2725 " "
        EXPR_CALL@2725..2740
          EXPR_IDENT@2725..2733
            PATH@2725..2733
              Ident@2725..2728 "Ref"
              ColonColon@2728..2730 "::"
              Ident@2730..2733 "new"
          ARG_LIST@2733..2740
            LParen@2733..2734 "("
            ARG@2734..2739
              EXPR_IDENT@2734..2739
                PATH@2734..2739
                  Ident@2734..2739 "start"
            RParen@2739..2740 ")"
        Semi@2740..2741 ";"
        Whitespace@2741..2746 "\n    "
      STMT_LET@2746..2781
        LetKeyword@2746..2749 "let"
        Whitespace@2749..2750 " "
        PATTERN_VARIABLE@2750..2758
          Ident@2750..2757 "toggled"
          Whitespace@2757..2758 " "
        Eq@2758..2759 "="
        Whitespace@2759..2760 " "
        EXPR_CALL@2760..2775
          EXPR_IDENT@2760..2768
            PATH@2760..2768
              Ident@2760..2763 "Ref"
              ColonColon@2763..2765 "::"
              Ident@2765..2768 "new"
          ARG_LIST@2768..2775
            LParen@2768..2769 "("
            ARG@2769..2774
              EXPR_BOOL@2769..2774
                FalseKeyword@2769..2774 "false"
            RParen@2774..2775 ")"
        Semi@2775..2776 ";"
        Whitespace@2776..2781 "\n    "
      STMT_LET@2781..2857
        LetKeyword@2781..2784 "let"
        Whitespace@2784..2785 " "
        PATTERN_VARIABLE@2785..2793
          Ident@2785..2792 "tracker"
          Whitespace@2792..2793 " "
        Eq@2793..2794 "="
        Whitespace@2794..2795 " "
        EXPR_STRUCT_LITERAL@2795..2851
          PATH@2795..2803
            Ident@2795..2802 "Tracker"
            Whitespace@2802..2803 " "
          STRUCT_LITERAL_FIELD_LIST@2803..2851
            LBrace@2803..2804 "{"
            Whitespace@2804..2805 " "
            STRUCT_LITERAL_FIELD@2805..2817
              Ident@2805..2810 "label"
              Colon@2810..2811 ":"
              Whitespace@2811..2812 " "
              EXPR_IDENT@2812..2817
                PATH@2812..2817
                  Ident@2812..2817 "label"
            Comma@2817..2818 ","
            Whitespace@2818..2819 " "
            STRUCT_LITERAL_FIELD@2819..2831
              Ident@2819..2824 "count"
              Colon@2824..2825 ":"
              Whitespace@2825..2826 " "
              EXPR_IDENT@2826..2831
                PATH@2826..2831
                  Ident@2826..2831 "count"
            Comma@2831..2832 ","
            Whitespace@2832..2833 " "
            STRUCT_LITERAL_FIELD@2833..2850
              Ident@2833..2840 "toggled"
              Colon@2840..2841 ":"
              Whitespace@2841..2842 " "
              EXPR_IDENT@2842..2850
                PATH@2842..2850
                  Ident@2842..2849 "toggled"
                  Whitespace@2849..2850 " "
            RBrace@2850..2851 "}"
        Semi@2851..2852 ";"
        Whitespace@2852..2857 "\n    "
      STMT_LET@2857..2915
        LetKeyword@2857..2860 "let"
        Whitespace@2860..2861 " "
        PATTERN_VARIABLE@2861..2870
          Ident@2861..2869 "snapshot"
          Whitespace@2869..2870 " "
        Eq@2870..2871 "="
        Whitespace@2871..2872 " "
        EXPR_CLOSURE@2872..2909
          CLOSURE_PARAM_LIST@2872..2875
            OrOr@2872..2874 "||"
            Whitespace@2874..2875 " "
          EXPR_CLOSURE_BODY@2875..2909
            BLOCK@2875..2909
              LBrace@2875..2876 "{"
              Whitespace@2876..2885 "\n        "
              EXPR_CALL@2885..2908
                EXPR_IDENT@2885..2890
                  PATH@2885..2890
                    Ident@2885..2890 "Value"
                ARG_LIST@2890..2908
                  LParen@2890..2891 "("
                  ARG@2891..2902
                    EXPR_CALL@2891..2902
                      EXPR_BINARY@2891..2900
                        EXPR_IDENT@2891..2896
                          PATH@2891..2896
                            Ident@2891..2896 "count"
                        Dot@2896..2897 "."
                        EXPR_IDENT@2897..2900
                          PATH@2897..2900
                            Ident@2897..2900 "get"
                      ARG_LIST@2900..2902
                        LParen@2900..2901 "("
                        RParen@2901..2902 ")"
                  RParen@2902..2903 ")"
                  Whitespace@2903..2908 "\n    "
              RBrace@2908..2909 "}"
        Semi@2909..2910 ";"
        Whitespace@2910..2915 "\n    "
      STMT_LET@2915..3065
        LetKeyword@2915..2918 "let"
        Whitespace@2918..2919 " "
        PATTERN_VARIABLE@2919..2924
          Ident@2919..2923 "bump"
          Whitespace@2923..2924 " "
        Eq@2924..2925 "="
        Whitespace@2925..2926 " "
        EXPR_CLOSURE@2926..3059
          CLOSURE_PARAM_LIST@2926..2941
            Pipe@2926..2927 "|"
            CLOSURE_PARAM@2927..2939
              Ident@2927..2932 "delta"
              Colon@2932..2933 ":"
              Whitespace@2933..2934 " "
              TYPE_INT32@2934..2939
                Int32Keyword@2934..2939 "int32"
            Pipe@2939..2940 "|"
            Whitespace@2940..2941 " "
          EXPR_CLOSURE_BODY@2941..3059
            BLOCK@2941..3059
              LBrace@2941..2942 "{"
              Whitespace@2942..2951 "\n        "
              STMT_LET@2951..2985
                LetKeyword@2951..2954 "let"
                Whitespace@2954..2955 " "
                PATTERN_VARIABLE@2955..2962
                  Ident@2955..2961 "before"
                  Whitespace@2961..2962 " "
                Eq@2962..2963 "="
                Whitespace@2963..2964 " "
                EXPR_CALL@2964..2975
                  EXPR_BINARY@2964..2973
                    EXPR_IDENT@2964..2969
                      PATH@2964..2969
                        Ident@2964..2969 "count"
                    Dot@2969..2970 "."
                    EXPR_IDENT@2970..2973
                      PATH@2970..2973
                        Ident@2970..2973 "get"
                  ARG_LIST@2973..2975
                    LParen@2973..2974 "("
                    RParen@2974..2975 ")"
                Semi@2975..2976 ";"
                Whitespace@2976..2985 "\n        "
              STMT_LET@2985..3028
                LetKeyword@2985..2988 "let"
                Whitespace@2988..2989 " "
                PATTERN_WILDCARD@2989..2991
                  WildcardKeyword@2989..2990 "_"
                  Whitespace@2990..2991 " "
                Eq@2991..2992 "="
                Whitespace@2992..2993 " "
                EXPR_CALL@2993..3018
                  EXPR_BINARY@2993..3002
                    EXPR_IDENT@2993..2998
                      PATH@2993..2998
                        Ident@2993..2998 "count"
                    Dot@2998..2999 "."
                    EXPR_IDENT@2999..3002
                      PATH@2999..3002
                        Ident@2999..3002 "set"
                  ARG_LIST@3002..3018
                    LParen@3002..3003 "("
                    ARG@3003..3017
                      EXPR_BINARY@3003..3017
                        EXPR_IDENT@3003..3010
                          PATH@3003..3010
                            Ident@3003..3009 "before"
                            Whitespace@3009..3010 " "
                        Plus@3010..3011 "+"
                        Whitespace@3011..3012 " "
                        EXPR_IDENT@3012..3017
                          PATH@3012..3017
                            Ident@3012..3017 "delta"
                    RParen@3017..3018 ")"
                Semi@3018..3019 ";"
                Whitespace@3019..3028 "\n        "
              EXPR_CALL@3028..3058
                EXPR_IDENT@3028..3032
                  PATH@3028..3032
                    Ident@3028..3032 "Pair"
                ARG_LIST@3032..3058
                  LParen@3032..3033 "("
                  ARG@3033..3041
                    EXPR_IDENT@3033..3039
                      PATH@3033..3039
                        Ident@3033..3039 "before"
                    Comma@3039..3040 ","
                    Whitespace@3040..3041 " "
                  ARG@3041..3052
                    EXPR_CALL@3041..3052
                      EXPR_BINARY@3041..3050
                        EXPR_IDENT@3041..3046
                          PATH@3041..3046
                            Ident@3041..3046 "count"
                        Dot@3046..3047 "."
                        EXPR_IDENT@3047..3050
                          PATH@3047..3050
                            Ident@3047..3050 "get"
                      ARG_LIST@3050..3052
                        LParen@3050..3051 "("
                        RParen@3051..3052 ")"
                  RParen@3052..3053 ")"
                  Whitespace@3053..3058 "\n    "
              RBrace@3058..3059 "}"
        Semi@3059..3060 ";"
        Whitespace@3060..3065 "\n    "
      STMT_LET@3065..3253
        LetKeyword@3065..3068 "let"
        Whitespace@3068..3069 " "
        PATTERN_VARIABLE@3069..3074
          Ident@3069..3073 "flip"
          Whitespace@3073..3074 " "
        Eq@3074..3075 "="
        Whitespace@3075..3076 " "
        EXPR_CLOSURE@3076..3247
          CLOSURE_PARAM_LIST@3076..3079
            OrOr@3076..3078 "||"
            Whitespace@3078..3079 " "
          EXPR_CLOSURE_BODY@3079..3247
            BLOCK@3079..3247
              LBrace@3079..3080 "{"
              Whitespace@3080..3089 "\n        "
              STMT_LET@3089..3125
                LetKeyword@3089..3092 "let"
                Whitespace@3092..3093 " "
                PATTERN_VARIABLE@3093..3100
                  Ident@3093..3099 "before"
                  Whitespace@3099..3100 " "
                Eq@3100..3101 "="
                Whitespace@3101..3102 " "
                EXPR_CALL@3102..3115
                  EXPR_BINARY@3102..3113
                    EXPR_IDENT@3102..3109
                      PATH@3102..3109
                        Ident@3102..3109 "toggled"
                    Dot@3109..3110 "."
                    EXPR_IDENT@3110..3113
                      PATH@3110..3113
                        Ident@3110..3113 "get"
                  ARG_LIST@3113..3115
                    LParen@3113..3114 "("
                    RParen@3114..3115 ")"
                Semi@3115..3116 ";"
                Whitespace@3116..3125 "\n        "
              STMT_LET@3125..3163
                LetKeyword@3125..3128 "let"
                Whitespace@3128..3129 " "
                PATTERN_WILDCARD@3129..3131
                  WildcardKeyword@3129..3130 "_"
                  Whitespace@3130..3131 " "
                Eq@3131..3132 "="
                Whitespace@3132..3133 " "
                EXPR_CALL@3133..3153
                  EXPR_BINARY@3133..3144
                    EXPR_IDENT@3133..3140
                      PATH@3133..3140
                        Ident@3133..3140 "toggled"
                    Dot@3140..3141 "."
                    EXPR_IDENT@3141..3144
                      PATH@3141..3144
                        Ident@3141..3144 "set"
                  ARG_LIST@3144..3153
                    LParen@3144..3145 "("
                    ARG@3145..3152
                      EXPR_PREFIX@3145..3152
                        Bang@3145..3146 "!"
                        EXPR_IDENT@3146..3152
                          PATH@3146..3152
                            Ident@3146..3152 "before"
                    RParen@3152..3153 ")"
                Semi@3153..3154 ";"
                Whitespace@3154..3163 "\n        "
              STMT_LET@3163..3198
                LetKeyword@3163..3166 "let"
                Whitespace@3166..3167 " "
                PATTERN_VARIABLE@3167..3173
                  Ident@3167..3172 "after"
                  Whitespace@3172..3173 " "
                Eq@3173..3174 "="
                Whitespace@3174..3175 " "
                EXPR_CALL@3175..3188
                  EXPR_BINARY@3175..3186
                    EXPR_IDENT@3175..3182
                      PATH@3175..3182
                        Ident@3175..3182 "toggled"
                    Dot@3182..3183 "."
                    EXPR_IDENT@3183..3186
                      PATH@3183..3186
                        Ident@3183..3186 "get"
                  ARG_LIST@3186..3188
                    LParen@3186..3187 "("
                    RParen@3187..3188 ")"
                Semi@3188..3189 ";"
                Whitespace@3189..3198 "\n        "
              EXPR_CALL@3198..3246
                EXPR_IDENT@3198..3202
                  PATH@3198..3202
                    Ident@3198..3202 "Pair"
                ARG_LIST@3202..3246
                  LParen@3202..3203 "("
                  ARG@3203..3223
                    EXPR_CALL@3203..3221
                      EXPR_BINARY@3203..3219
                        EXPR_IDENT@3203..3209
                          PATH@3203..3209
                            Ident@3203..3209 "before"
                        Dot@3209..3210 "."
                        EXPR_IDENT@3210..3219
                          PATH@3210..3219
                            Ident@3210..3219 "to_string"
                      ARG_LIST@3219..3221
                        LParen@3219..3220 "("
                        RParen@3220..3221 ")"
                    Comma@3221..3222 ","
                    Whitespace@3222..3223 " "
                  ARG@3223..3240
                    EXPR_CALL@3223..3240
                      EXPR_BINARY@3223..3238
                        EXPR_IDENT@3223..3228
                          PATH@3223..3228
                            Ident@3223..3228 "after"
                        Dot@3228..3229 "."
                        EXPR_IDENT@3229..3238
                          PATH@3229..3238
                            Ident@3229..3238 "to_string"
                      ARG_LIST@3238..3240
                        LParen@3238..3239 "("
                        RParen@3239..3240 ")"
                  RParen@3240..3241 ")"
                  Whitespace@3241..3246 "\n    "
              RBrace@3246..3247 "}"
        Semi@3247..3248 ";"
        Whitespace@3248..3253 "\n    "
      EXPR_TUPLE@3253..3285
        LParen@3253..3254 "("
        EXPR_IDENT@3254..3261
          PATH@3254..3261
            Ident@3254..3261 "tracker"
        Comma@3261..3262 ","
        Whitespace@3262..3263 " "
        EXPR_IDENT@3263..3271
          PATH@3263..3271
            Ident@3263..3271 "snapshot"
        Comma@3271..3272 ","
        Whitespace@3272..3273 " "
        EXPR_IDENT@3273..3277
          PATH@3273..3277
            Ident@3273..3277 "bump"
        Comma@3277..3278 ","
        Whitespace@3278..3279 " "
        EXPR_IDENT@3279..3283
          PATH@3279..3283
            Ident@3279..3283 "flip"
        RParen@3283..3284 ")"
        Whitespace@3284..3285 "\n"
      RBrace@3285..3286 "}"
      Whitespace@3286..3288 "\n\n"
  FN@3288..4615
    FnKeyword@3288..3290 "fn"
    Whitespace@3290..3291 " "
    Ident@3291..3295 "main"
    PARAM_LIST@3295..3298
      LParen@3295..3296 "("
      RParen@3296..3297 ")"
      Whitespace@3297..3298 " "
    BLOCK@3298..4615
      LBrace@3298..3299 "{"
      Whitespace@3299..3304 "\n    "
      STMT_LET@3304..3372
        LetKeyword@3304..3307 "let"
        Whitespace@3307..3308 " "
        PATTERN_TUPLE@3308..3340
          LParen@3308..3309 "("
          PATTERN_VARIABLE@3309..3316
            Ident@3309..3316 "tracker"
          Comma@3316..3317 ","
          Whitespace@3317..3318 " "
          PATTERN_VARIABLE@3318..3326
            Ident@3318..3326 "snapshot"
          Comma@3326..3327 ","
          Whitespace@3327..3328 " "
          PATTERN_VARIABLE@3328..3332
            Ident@3328..3332 "bump"
          Comma@3332..3333 ","
          Whitespace@3333..3334 " "
          PATTERN_VARIABLE@3334..3338
            Ident@3334..3338 "flip"
          RParen@3338..3339 ")"
          Whitespace@3339..3340 " "
        Eq@3340..3341 "="
        Whitespace@3341..3342 " "
        EXPR_CALL@3342..3366
          EXPR_IDENT@3342..3355
            PATH@3342..3355
              Ident@3342..3355 "build_counter"
          ARG_LIST@3355..3366
            LParen@3355..3356 "("
            ARG@3356..3364
              EXPR_STR@3356..3362
                Str@3356..3362 "\"goml\""
              Comma@3362..3363 ","
              Whitespace@3363..3364 " "
            ARG@3364..3365
              EXPR_INT@3364..3365
                Int@3364..3365 "2"
            RParen@3365..3366 ")"
        Semi@3366..3367 ";"
        Whitespace@3367..3372 "\n    "
      STMT_LET@3372..3424
        LetKeyword@3372..3375 "let"
        Whitespace@3375..3376 " "
        PATTERN_VARIABLE@3376..3389
          Ident@3376..3388 "tracker_info"
          Whitespace@3388..3389 " "
        Eq@3389..3390 "="
        Whitespace@3390..3391 " "
        EXPR_CALL@3391..3418
          EXPR_IDENT@3391..3409
            PATH@3391..3409
              Ident@3391..3399 "Describe"
              ColonColon@3399..3401 "::"
              Ident@3401..3409 "describe"
          ARG_LIST@3409..3418
            LParen@3409..3410 "("
            ARG@3410..3417
              EXPR_IDENT@3410..3417
                PATH@3410..3417
                  Ident@3410..3417 "tracker"
            RParen@3417..3418 ")"
        Semi@3418..3419 ";"
        Whitespace@3419..3424 "\n    "
      STMT_LET@3424..3459
        LetKeyword@3424..3427 "let"
        Whitespace@3427..3428 " "
        PATTERN_VARIABLE@3428..3441
          Ident@3428..3440 "first_record"
          Whitespace@3440..3441 " "
        Eq@3441..3442 "="
        Whitespace@3442..3443 " "
        EXPR_CALL@3443..3453
          EXPR_IDENT@3443..3451
            PATH@3443..3451
              Ident@3443..3451 "snapshot"
          ARG_LIST@3451..3453
            LParen@3451..3452 "("
            RParen@3452..3453 ")"
        Semi@3453..3454 ";"
        Whitespace@3454..3459 "\n    "
      STMT_LET@3459..3492
        LetKeyword@3459..3462 "let"
        Whitespace@3462..3463 " "
        PATTERN_VARIABLE@3463..3477
          Ident@3463..3476 "bumped_record"
          Whitespace@3476..3477 " "
        Eq@3477..3478 "="
        Whitespace@3478..3479 " "
        EXPR_CALL@3479..3486
          EXPR_IDENT@3479..3483
            PATH@3479..3483
              Ident@3479..3483 "bump"
          ARG_LIST@3483..3486
            LParen@3483..3484 "("
            ARG@3484..3485
              EXPR_INT@3484..3485
                Int@3484..3485 "5"
            RParen@3485..3486 ")"
        Semi@3486..3487 ";"
        Whitespace@3487..3492 "\n    "
      STMT_LET@3492..3525
        LetKeyword@3492..3495 "let"
        Whitespace@3495..3496 " "
        PATTERN_VARIABLE@3496..3511
          Ident@3496..3510 "flipped_record"
          Whitespace@3510..3511 " "
        Eq@3511..3512 "="
        Whitespace@3512..3513 " "
        EXPR_CALL@3513..3519
          EXPR_IDENT@3513..3517
            PATH@3513..3517
              Ident@3513..3517 "flip"
          ARG_LIST@3517..3519
            LParen@3517..3518 "("
            RParen@3518..3519 ")"
        Semi@3519..3520 ";"
        Whitespace@3520..3525 "\n    "
      STMT_LET@3525..3569
        LetKeyword@3525..3528 "let"
        Whitespace@3528..3529 " "
        PATTERN_VARIABLE@3529..3541
          Ident@3529..3540 "maybe_first"
          Whitespace@3540..3541 " "
        Eq@3541..3542 "="
        Whitespace@3542..3543 " "
        EXPR_CALL@3543..3563
          EXPR_IDENT@3543..3549
            PATH@3543..3549
              Ident@3543..3549 "gather"
          ARG_LIST@3549..3563
            LParen@3549..3550 "("
            ARG@3550..3562
              EXPR_IDENT@3550..3562
                PATH@3550..3562
                  Ident@3550..3562 "first_record"
            RParen@3562..3563 ")"
        Semi@3563..3564 ";"
        Whitespace@3564..3569 "\n    "
      STMT_LET@3569..3615
        LetKeyword@3569..3572 "let"
        Whitespace@3572..3573 " "
        PATTERN_VARIABLE@3573..3586
          Ident@3573..3585 "maybe_second"
          Whitespace@3585..3586 " "
        Eq@3586..3587 "="
        Whitespace@3587..3588 " "
        EXPR_CALL@3588..3609
          EXPR_IDENT@3588..3594
            PATH@3588..3594
              Ident@3588..3594 "gather"
          ARG_LIST@3594..3609
            LParen@3594..3595 "("
            ARG@3595..3608
              EXPR_IDENT@3595..3608
                PATH@3595..3608
                  Ident@3595..3608 "bumped_record"
            RParen@3608..3609 ")"
        Semi@3609..3610 ";"
        Whitespace@3610..3615 "\n    "
      STMT_LET@3615..3673
        LetKeyword@3615..3618 "let"
        Whitespace@3618..3619 " "
        PATTERN_VARIABLE@3619..3626
          Ident@3619..3625 "chosen"
          Whitespace@3625..3626 " "
        Eq@3626..3627 "="
        Whitespace@3627..3628 " "
        EXPR_CALL@3628..3667
          EXPR_IDENT@3628..3634
            PATH@3628..3634
              Ident@3628..3634 "choose"
          ARG_LIST@3634..3667
            LParen@3634..3635 "("
            ARG@3635..3641
              EXPR_BOOL@3635..3639
                TrueKeyword@3635..3639 "true"
              Comma@3639..3640 ","
              Whitespace@3640..3641 " "
            ARG@3641..3655
              EXPR_IDENT@3641..3653
                PATH@3641..3653
                  Ident@3641..3653 "maybe_second"
              Comma@3653..3654 ","
              Whitespace@3654..3655 " "
            ARG@3655..3666
              EXPR_IDENT@3655..3666
                PATH@3655..3666
                  Ident@3655..3666 "maybe_first"
            RParen@3666..3667 ")"
        Semi@3667..3668 ";"
        Whitespace@3668..3673 "\n    "
      STMT_LET@3673..3728
        LetKeyword@3673..3676 "let"
        Whitespace@3676..3677 " "
        PATTERN_VARIABLE@3677..3689
          Ident@3677..3688 "stringified"
          Whitespace@3688..3689 " "
        Eq@3689..3690 "="
        Whitespace@3690..3691 " "
        EXPR_CALL@3691..3722
          EXPR_IDENT@3691..3700
            PATH@3691..3700
              Ident@3691..3700 "map_maybe"
          ARG_LIST@3700..3722
            LParen@3700..3701 "("
            ARG@3701..3709
              EXPR_IDENT@3701..3707
                PATH@3701..3707
                  Ident@3701..3707 "chosen"
              Comma@3707..3708 ","
              Whitespace@3708..3709 " "
            ARG@3709..3721
              EXPR_IDENT@3709..3721
                PATH@3709..3721
                  Ident@3709..3721 "format_total"
            RParen@3721..3722 ")"
        Semi@3722..3723 ";"
        Whitespace@3723..3728 "\n    "
      STMT_LET@3728..3770
        LetKeyword@3728..3731 "let"
        Whitespace@3731..3732 " "
        PATTERN_VARIABLE@3732..3743
          Ident@3732..3742 "transforms"
          Whitespace@3742..3743 " "
        Eq@3743..3744 "="
        Whitespace@3744..3745 " "
        EXPR_ARRAY_LITERAL@3745..3764
          LBracket@3745..3746 "["
          EXPR_IDENT@3746..3755
            PATH@3746..3755
              Ident@3746..3755 "increment"
          Comma@3755..3756 ","
          Whitespace@3756..3757 " "
          EXPR_IDENT@3757..3763
            PATH@3757..3763
              Ident@3757..3763 "triple"
          RBracket@3763..3764 "]"
        Semi@3764..3765 ";"
        Whitespace@3765..3770 "\n    "
      STMT_LET@3770..3831
        LetKeyword@3770..3773 "let"
        Whitespace@3773..3774 " "
        PATTERN_VARIABLE@3774..3781
          Ident@3774..3781 "results"
        Colon@3781..3782 ":"
        Whitespace@3782..3783 " "
        TYPE_ARRAY@3783..3794
          LBracket@3783..3784 "["
          TYPE_INT32@3784..3789
            Int32Keyword@3784..3789 "int32"
          Semi@3789..3790 ";"
          Whitespace@3790..3791 " "
          Int@3791..3792 "2"
          RBracket@3792..3793 "]"
          Whitespace@3793..3794 " "
        Eq@3794..3795 "="
        Whitespace@3795..3796 " "
        EXPR_CALL@3796..3825
          EXPR_IDENT@3796..3810
            PATH@3796..3810
              Ident@3796..3810 "run_transforms"
          ARG_LIST@3810..3825
            LParen@3810..3811 "("
            ARG@3811..3814
              EXPR_INT@3811..3812
                Int@3811..3812 "4"
              Comma@3812..3813 ","
              Whitespace@3813..3814 " "
            ARG@3814..3824
              EXPR_IDENT@3814..3824
                PATH@3814..3824
                  Ident@3814..3824 "transforms"
            RParen@3824..3825 ")"
        Semi@3825..3826 ";"
        Whitespace@3826..3831 "\n    "
      STMT_LET@3831..3866
        LetKeyword@3831..3834 "let"
        Whitespace@3834..3835 " "
        PATTERN_VARIABLE@3835..3848
          Ident@3835..3847 "first_result"
          Whitespace@3847..3848 " "
        Eq@3848..3849 "="
        Whitespace@3849..3850 " "
        EXPR_INDEX@3850..3860
          EXPR_IDENT@3850..3857
            PATH@3850..3857
              Ident@3850..3857 "results"
          LBracket@3857..3858 "["
          EXPR_INT@3858..3859
            Int@3858..3859 "0"
          RBracket@3859..3860 "]"
        Semi@3860..3861 ";"
        Whitespace@3861..3866 "\n    "
      STMT_LET@3866..3902
        LetKeyword@3866..3869 "let"
        Whitespace@3869..3870 " "
        PATTERN_VARIABLE@3870..3884
          Ident@3870..3883 "second_result"
          Whitespace@3883..3884 " "
        Eq@3884..3885 "="
        Whitespace@3885..3886 " "
        EXPR_INDEX@3886..3896
          EXPR_IDENT@3886..3893
            PATH@3886..3893
              Ident@3886..3893 "results"
          LBracket@3893..3894 "["
          EXPR_INT@3894..3895
            Int@3894..3895 "1"
          RBracket@3895..3896 "]"
        Semi@3896..3897 ";"
        Whitespace@3897..3902 "\n    "
      STMT_LET@3902..3962
        LetKeyword@3902..3905 "let"
        Whitespace@3905..3906 " "
        PATTERN_VARIABLE@3906..3918
          Ident@3906..3917 "order_check"
          Whitespace@3917..3918 " "
        Eq@3918..3919 "="
        Whitespace@3919..3920 " "
        EXPR_BINARY@3920..3956
          EXPR_BINARY@3920..3949
            EXPR_IDENT@3920..3933
              PATH@3920..3933
                Ident@3920..3932 "first_result"
                Whitespace@3932..3933 " "
            Less@3933..3934 "<"
            Whitespace@3934..3935 " "
            EXPR_IDENT@3935..3949
              PATH@3935..3949
                Ident@3935..3948 "second_result"
                Whitespace@3948..3949 " "
          AndAnd@3949..3951 "&&"
          Whitespace@3951..3952 " "
          EXPR_BOOL@3952..3956
            TrueKeyword@3952..3956 "true"
        Semi@3956..3957 ";"
        Whitespace@3957..3962 "\n    "
      STMT_LET@3962..4017
        LetKeyword@3962..3965 "let"
        Whitespace@3965..3966 " "
        PATTERN_VARIABLE@3966..3977
          Ident@3966..3976 "first_text"
          Whitespace@3976..3977 " "
        Eq@3977..3978 "="
        Whitespace@3978..3979 " "
        EXPR_CALL@3979..4011
          EXPR_IDENT@3979..3997
            PATH@3979..3997
              Ident@3979..3987 "Describe"
              ColonColon@3987..3989 "::"
              Ident@3989..3997 "describe"
          ARG_LIST@3997..4011
            LParen@3997..3998 "("
            ARG@3998..4010
              EXPR_IDENT@3998..4010
                PATH@3998..4010
                  Ident@3998..4010 "first_record"
            RParen@4010..4011 ")"
        Semi@4011..4012 ";"
        Whitespace@4012..4017 "\n    "
      STMT_LET@4017..4074
        LetKeyword@4017..4020 "let"
        Whitespace@4020..4021 " "
        PATTERN_VARIABLE@4021..4033
          Ident@4021..4032 "bumped_text"
          Whitespace@4032..4033 " "
        Eq@4033..4034 "="
        Whitespace@4034..4035 " "
        EXPR_CALL@4035..4068
          EXPR_IDENT@4035..4053
            PATH@4035..4053
              Ident@4035..4043 "Describe"
              ColonColon@4043..4045 "::"
              Ident@4045..4053 "describe"
          ARG_LIST@4053..4068
            LParen@4053..4054 "("
            ARG@4054..4067
              EXPR_IDENT@4054..4067
                PATH@4054..4067
                  Ident@4054..4067 "bumped_record"
            RParen@4067..4068 ")"
        Semi@4068..4069 ";"
        Whitespace@4069..4074 "\n    "
      STMT_LET@4074..4133
        LetKeyword@4074..4077 "let"
        Whitespace@4077..4078 " "
        PATTERN_VARIABLE@4078..4091
          Ident@4078..4090 "flipped_text"
          Whitespace@4090..4091 " "
        Eq@4091..4092 "="
        Whitespace@4092..4093 " "
        EXPR_CALL@4093..4127
          EXPR_IDENT@4093..4111
            PATH@4093..4111
              Ident@4093..4101 "Describe"
              ColonColon@4101..4103 "::"
              Ident@4103..4111 "describe"
          ARG_LIST@4111..4127
            LParen@4111..4112 "("
            ARG@4112..4126
              EXPR_IDENT@4112..4126
                PATH@4112..4126
                  Ident@4112..4126 "flipped_record"
            RParen@4126..4127 ")"
        Semi@4127..4128 ";"
        Whitespace@4128..4133 "\n    "
      STMT_LET@4133..4255
        LetKeyword@4133..4136 "let"
        Whitespace@4136..4137 " "
        PATTERN_VARIABLE@4137..4145
          Ident@4137..4144 "summary"
          Whitespace@4144..4145 " "
        Eq@4145..4146 "="
        Whitespace@4146..4147 " "
        EXPR_MATCH@4147..4249
          MatchKeyword@4147..4152 "match"
          Whitespace@4152..4153 " "
          EXPR_IDENT@4153..4165
            PATH@4153..4165
              Ident@4153..4164 "stringified"
              Whitespace@4164..4165 " "
          MATCH_ARM_LIST@4165..4249
            LBrace@4165..4166 "{"
            Whitespace@4166..4175 "\n        "
            MATCH_ARM@4175..4208
              PATTERN_CONSTR@4175..4186
                PATH@4175..4179
                  Ident@4175..4179 "Some"
                LParen@4179..4180 "("
                PATTERN_VARIABLE@4180..4184
                  Ident@4180..4184 "text"
                RParen@4184..4185 ")"
                Whitespace@4185..4186 " "
              FatArrow@4186..4188 "=>"
              Whitespace@4188..4189 " "
              EXPR_BINARY@4189..4208
                EXPR_STR@4189..4202
                  Str@4189..4201 "\"Snapshot: \""
                  Whitespace@4201..4202 " "
                Plus@4202..4203 "+"
                Whitespace@4203..4204 " "
                EXPR_IDENT@4204..4208
                  PATH@4204..4208
                    Ident@4204..4208 "text"
            Comma@4208..4209 ","
            Whitespace@4209..4218 "\n        "
            MATCH_ARM@4218..4242
              PATTERN_CONSTR@4218..4223
                PATH@4218..4223
                  Ident@4218..4222 "None"
                  Whitespace@4222..4223 " "
              FatArrow@4223..4225 "=>"
              Whitespace@4225..4226 " "
              EXPR_STR@4226..4242
                Str@4226..4242 "\"Snapshot: none\""
            Comma@4242..4243 ","
            Whitespace@4243..4248 "\n    "
            RBrace@4248..4249 "}"
        Semi@4249..4250 ";"
        Whitespace@4250..4255 "\n    "
      STMT_LET@4255..4341
        LetKeyword@4255..4258 "let"
        Whitespace@4258..4259 " "
        PATTERN_VARIABLE@4259..4269
          Ident@4259..4268 "pair_text"
          Whitespace@4268..4269 " "
        Eq@4269..4270 "="
        Whitespace@4270..4271 " "
        EXPR_CALL@4271..4335
          EXPR_IDENT@4271..4280
            PATH@4271..4280
              Ident@4271..4280 "pair_join"
          ARG_LIST@4280..4335
            LParen@4280..4281 "("
            ARG@4281..4334
              EXPR_TUPLE@4281..4334
                LParen@4281..4282 "("
                EXPR_CALL@4282..4306
                  EXPR_BINARY@4282..4304
                    EXPR_IDENT@4282..4294
                      PATH@4282..4294
                        Ident@4282..4294 "first_result"
                    Dot@4294..4295 "."
                    EXPR_IDENT@4295..4304
                      PATH@4295..4304
                        Ident@4295..4304 "to_string"
                  ARG_LIST@4304..4306
                    LParen@4304..4305 "("
                    RParen@4305..4306 ")"
                Comma@4306..4307 ","
                Whitespace@4307..4308 " "
                EXPR_CALL@4308..4333
                  EXPR_BINARY@4308..4331
                    EXPR_IDENT@4308..4321
                      PATH@4308..4321
                        Ident@4308..4321 "second_result"
                    Dot@4321..4322 "."
                    EXPR_IDENT@4322..4331
                      PATH@4322..4331
                        Ident@4322..4331 "to_string"
                  ARG_LIST@4331..4333
                    LParen@4331..4332 "("
                    RParen@4332..4333 ")"
                RParen@4333..4334 ")"
            RParen@4334..4335 ")"
        Semi@4335..4336 ";"
        Whitespace@4336..4341 "\n    "
      STMT_LET@4341..4386
        LetKeyword@4341..4344 "let"
        Whitespace@4344..4345 " "
        PATTERN_VARIABLE@4345..4355
          Ident@4345..4354 "bool_text"
          Whitespace@4354..4355 " "
        Eq@4355..4356 "="
        Whitespace@4356..4357 " "
        EXPR_CALL@4357..4380
          EXPR_BINARY@4357..4378
            EXPR_IDENT@4357..4368
              PATH@4357..4368
                Ident@4357..4368 "order_check"
            Dot@4368..4369 "."
            EXPR_IDENT@4369..4378
              PATH@4369..4378
                Ident@4369..4378 "to_string"
          ARG_LIST@4378..4380
            LParen@4378..4379 "("
            RParen@4379..4380 ")"
        Semi@4380..4381 ";"
        Whitespace@4381..4386 "\n    "
      STMT_LET@4386..4421
        LetKeyword@4386..4389 "let"
        Whitespace@4389..4390 " "
        PATTERN_WILDCARD@4390..4392
          WildcardKeyword@4390..4391 "_"
          Whitespace@4391..4392 " "
        Eq@4392..4393 "="
        Whitespace@4393..4394 " "
        EXPR_CALL@4394..4415
          EXPR_IDENT@4394..4401
            PATH@4394..4401
              Ident@4394..4401 "println"
          ARG_LIST@4401..4415
            LParen@4401..4402 "("
            ARG@4402..4414
              EXPR_IDENT@4402..4414
                PATH@4402..4414
                  Ident@4402..4414 "tracker_info"
            RParen@4414..4415 ")"
        Semi@4415..4416 ";"
        Whitespace@4416..4421 "\n    "
      STMT_LET@4421..4454
        LetKeyword@4421..4424 "let"
        Whitespace@4424..4425 " "
        PATTERN_WILDCARD@4425..4427
          WildcardKeyword@4425..4426 "_"
          Whitespace@4426..4427 " "
        Eq@4427..4428 "="
        Whitespace@4428..4429 " "
        EXPR_CALL@4429..4448
          EXPR_IDENT@4429..4436
            PATH@4429..4436
              Ident@4429..4436 "println"
          ARG_LIST@4436..4448
            LParen@4436..4437 "("
            ARG@4437..4447
              EXPR_IDENT@4437..4447
                PATH@4437..4447
                  Ident@4437..4447 "first_text"
            RParen@4447..4448 ")"
        Semi@4448..4449 ";"
        Whitespace@4449..4454 "\n    "
      STMT_LET@4454..4488
        LetKeyword@4454..4457 "let"
        Whitespace@4457..4458 " "
        PATTERN_WILDCARD@4458..4460
          WildcardKeyword@4458..4459 "_"
          Whitespace@4459..4460 " "
        Eq@4460..4461 "="
        Whitespace@4461..4462 " "
        EXPR_CALL@4462..4482
          EXPR_IDENT@4462..4469
            PATH@4462..4469
              Ident@4462..4469 "println"
          ARG_LIST@4469..4482
            LParen@4469..4470 "("
            ARG@4470..4481
              EXPR_IDENT@4470..4481
                PATH@4470..4481
                  Ident@4470..4481 "bumped_text"
            RParen@4481..4482 ")"
        Semi@4482..4483 ";"
        Whitespace@4483..4488 "\n    "
      STMT_LET@4488..4523
        LetKeyword@4488..4491 "let"
        Whitespace@4491..4492 " "
        PATTERN_WILDCARD@4492..4494
          WildcardKeyword@4492..4493 "_"
          Whitespace@4493..4494 " "
        Eq@4494..4495 "="
        Whitespace@4495..4496 " "
        EXPR_CALL@4496..4517
          EXPR_IDENT@4496..4503
            PATH@4496..4503
              Ident@4496..4503 "println"
          ARG_LIST@4503..4517
            LParen@4503..4504 "("
            ARG@4504..4516
              EXPR_IDENT@4504..4516
                PATH@4504..4516
                  Ident@4504..4516 "flipped_text"
            RParen@4516..4517 ")"
        Semi@4517..4518 ";"
        Whitespace@4518..4523 "\n    "
      STMT_LET@4523..4553
        LetKeyword@4523..4526 "let"
        Whitespace@4526..4527 " "
        PATTERN_WILDCARD@4527..4529
          WildcardKeyword@4527..4528 "_"
          Whitespace@4528..4529 " "
        Eq@4529..4530 "="
        Whitespace@4530..4531 " "
        EXPR_CALL@4531..4547
          EXPR_IDENT@4531..4538
            PATH@4531..4538
              Ident@4531..4538 "println"
          ARG_LIST@4538..4547
            LParen@4538..4539 "("
            ARG@4539..4546
              EXPR_IDENT@4539..4546
                PATH@4539..4546
                  Ident@4539..4546 "summary"
            RParen@4546..4547 ")"
        Semi@4547..4548 ";"
        Whitespace@4548..4553 "\n    "
      STMT_LET@4553..4585
        LetKeyword@4553..4556 "let"
        Whitespace@4556..4557 " "
        PATTERN_WILDCARD@4557..4559
          WildcardKeyword@4557..4558 "_"
          Whitespace@4558..4559 " "
        Eq@4559..4560 "="
        Whitespace@4560..4561 " "
        EXPR_CALL@4561..4579
          EXPR_IDENT@4561..4568
            PATH@4561..4568
              Ident@4561..4568 "println"
          ARG_LIST@4568..4579
            LParen@4568..4569 "("
            ARG@4569..4578
              EXPR_IDENT@4569..4578
                PATH@4569..4578
                  Ident@4569..4578 "pair_text"
            RParen@4578..4579 ")"
        Semi@4579..4580 ";"
        Whitespace@4580..4585 "\n    "
      STMT_LET@4585..4613
        LetKeyword@4585..4588 "let"
        Whitespace@4588..4589 " "
        PATTERN_WILDCARD@4589..4591
          WildcardKeyword@4589..4590 "_"
          Whitespace@4590..4591 " "
        Eq@4591..4592 "="
        Whitespace@4592..4593 " "
        EXPR_CALL@4593..4611
          EXPR_IDENT@4593..4600
            PATH@4593..4600
              Ident@4593..4600 "println"
          ARG_LIST@4600..4611
            LParen@4600..4601 "("
            ARG@4601..4610
              EXPR_IDENT@4601..4610
                PATH@4601..4610
                  Ident@4601..4610 "bool_text"
            RParen@4610..4611 ")"
        Semi@4611..4612 ";"
        Whitespace@4612..4613 "\n"
      RBrace@4613..4614 "}"
      Whitespace@4614..4615 "\n"