FILE@0..521
  TYPE_ALIAS@0..23
    TypeKeyword@0..4 "type"
    Whitespace@4..5 " "
    Ident@5..11 "UserId"
    Whitespace@11..12 " "
    Eq@12..13 "="
    Whitespace@13..14 " "
    TYPE_UINT64@14..20
      Uint64Keyword@14..20 "uint64"
    Semi@20..21 ";"
    Whitespace@21..23 "\n\n"
  TYPE_ALIAS@23..47
    TypeKeyword@23..27 "type"
    Whitespace@27..28 " "
    Ident@28..32 "Pair"
    GENERIC_LIST@32..36
      LBracket@32..33 "["
      GENERIC@33..34
        Ident@33..34 "T"
      RBracket@34..35 "]"
      Whitespace@35..36 " "
    Eq@36..37 "="
    Whitespace@37..38 " "
    TYPE_TUPLE@38..44
      TYPE_LIST@38..44
        LParen@38..39 "("
        TYPE_TAPP@39..40
          PATH@39..40
            Ident@39..40 "T"
        Comma@40..41 ","
        Whitespace@41..42 " "
        TYPE_TAPP@42..43
          PATH@42..43
            Ident@42..43 "T"
        RParen@43..44 ")"
    Semi@44..45 ";"
    Whitespace@45..47 "\n\n"
  FN@47..115
    FnKeyword@47..49 "fn"
    Whitespace@49..50 " "
    Ident@50..58 "sum_pair"
    PARAM_LIST@58..79
      LParen@58..59 "("
      PARAM@59..77
        Ident@59..64 "value"
        Colon@64..65 ":"
        Whitespace@65..66 " "
        TYPE_TAPP@66..77
          PATH@66..70
            Ident@66..70 "Pair"
          TYPE_PARAM_LIST@70..77
            LBracket@70..71 "["
            TYPE_INT32@71..76
              Int32Keyword@71..76 "int32"
            RBracket@76..77 "]"
      RParen@77..78 ")"
      Whitespace@78..79 " "
    Arrow@79..81 "->"
    Whitespace@81..82 " "
    TYPE_INT32@82..88
      Int32Keyword@82..87 "int32"
      Whitespace@87..88 " "
    BLOCK@88..115
      LBrace@88..89 "{"
      Whitespace@89..94 "\n    "
      EXPR_BINARY@94..112
        EXPR_BINARY@94..102
          EXPR_IDENT@94..99
            PATH@94..99
              Ident@94..99 "value"
          Dot@99..100 "."
          EXPR_INT@100..102
            Int@100..101 "0"
            Whitespace@101..102 " "
        Plus@102..103 "+"
        Whitespace@103..104 " "
        EXPR_BINARY@104..112
          EXPR_IDENT@104..109
            PATH@104..109
              Ident@104..109 "value"
          Dot@109..110 "."
          EXPR_INT@110..112
            Int@110..111 "1"
            Whitespace@111..112 "\n"
      RBrace@112..113 "}"
      Whitespace@113..115 "\n\n"
  FN@115..265
    FnKeyword@115..117 "fn"
    Whitespace@117..118 " "
    Ident@118..126 "classify"
    PARAM_LIST@126..140
      LParen@126..127 "("
      PARAM@127..138
        Ident@127..132 "value"
        Colon@132..133 ":"
        Whitespace@133..134 " "
        TYPE_TAPP@134..138
          PATH@134..138
            Ident@134..138 "byte"
      RParen@138..139 ")"
      Whitespace@139..140 " "
    Arrow@140..142 "->"
    Whitespace@142..143 " "
    TYPE_STRING@143..150
      StringKeyword@143..149 "string"
      Whitespace@149..150 " "
    BLOCK@150..265
      LBrace@150..151 "{"
      Whitespace@151..156 "\n    "
      EXPR_MATCH@156..262
        MatchKeyword@156..161 "match"
        Whitespace@161..162 " "
        EXPR_IDENT@162..168
          PATH@162..168
            Ident@162..167 "value"
            Whitespace@167..168 " "
        MATCH_ARM_LIST@168..262
          LBrace@168..169 "{"
          Whitespace@169..178 "\n        "
          MATCH_ARM@178..196
            PATTERN_BYTE@178..184
              ByteCharLit@178..183 "b'\\n'"
              Whitespace@183..184 " "
            FatArrow@184..186 "=>"
            Whitespace@186..187 " "
            EXPR_STR@187..196
              Str@187..196 "\"newline\""
          Comma@196..197 ","
          Whitespace@197..206 "\n        "
          MATCH_ARM@206..232
            PATTERN_RANGE@206..218
              PATTERN_BYTE@206..210
                ByteCharLit@206..210 "b'A'"
              DotDotEq@210..213 "..="
              PATTERN_BYTE@213..218
                ByteCharLit@213..217 "b'Z'"
                Whitespace@217..218 " "
            FatArrow@218..220 "=>"
            Whitespace@220..221 " "
            EXPR_STR@221..232
              Str@221..232 "\"uppercase\""
          Comma@232..233 ","
          Whitespace@233..242 "\n        "
          MATCH_ARM@242..254
            PATTERN_WILDCARD@242..244
              WildcardKeyword@242..243 "_"
              Whitespace@243..244 " "
            FatArrow@244..246 "=>"
            Whitespace@246..247 " "
            EXPR_STR@247..254
              Str@247..254 "\"other\""
          Comma@254..255 ","
          Whitespace@255..260 "\n    "
          RBrace@260..261 "}"
          Whitespace@261..262 "\n"
      RBrace@262..263 "}"
      Whitespace@263..265 "\n\n"
  FN@265..521
    FnKeyword@265..267 "fn"
    Whitespace@267..268 " "
    Ident@268..272 "main"
    PARAM_LIST@272..275
      LParen@272..273 "("
      RParen@273..274 ")"
      Whitespace@274..275 " "
    Arrow@275..277 "->"
    Whitespace@277..278 " "
    TYPE_UNIT@278..283
      UnitKeyword@278..282 "unit"
      Whitespace@282..283 " "
    BLOCK@283..521
      LBrace@283..284 "{"
      Whitespace@284..289 "\n    "
      STMT_LET@289..318
        LetKeyword@289..292 "let"
        Whitespace@292..293 " "
        PATTERN_VARIABLE@293..297
          Ident@293..297 "user"
        Colon@297..298 ":"
        Whitespace@298..299 " "
        TYPE_TAPP@299..306
          PATH@299..306
            Ident@299..305 "UserId"
            Whitespace@305..306 " "
        Eq@306..307 "="
        Whitespace@307..308 " "
        EXPR_INT@308..312
          Int@308..312 "0xff"
        Semi@312..313 ";"
        Whitespace@313..318 "\n    "
      STMT_LET@318..362
        LetKeyword@318..321 "let"
        Whitespace@321..322 " "
        PATTERN_VARIABLE@322..326
          Ident@322..326 "pair"
        Colon@326..327 ":"
        Whitespace@327..328 " "
        TYPE_TAPP@328..340
          PATH@328..332
            Ident@328..332 "Pair"
          TYPE_PARAM_LIST@332..340
            LBracket@332..333 "["
            TYPE_INT32@333..338
              Int32Keyword@333..338 "int32"
            RBracket@338..339 "]"
            Whitespace@339..340 " "
        Eq@340..341 "="
        Whitespace@341..342 " "
        EXPR_TUPLE@342..356
          LParen@342..343 "("
          EXPR_INT@343..349
            Int@343..349 "0b1010"
          Comma@349..350 ","
          Whitespace@350..351 " "
          EXPR_INT@351..355
            Int@351..355 "0o12"
          RParen@355..356 ")"
        Semi@356..357 ";"
        Whitespace@357..362 "\n    "
      STMT_LET@362..394
        LetKeyword@362..365 "let"
        Whitespace@365..366 " "
        PATTERN_VARIABLE@366..372
          Ident@366..372 "marker"
        Colon@372..373 ":"
        Whitespace@373..374 " "
        TYPE_TAPP@374..379
          PATH@374..379
            Ident@374..378 "byte"
            Whitespace@378..379 " "
        Eq@379..380 "="
        Whitespace@380..381 " "
        EXPR_BYTE@381..388
          ByteCharLit@381..388 "b'\\x41'"
        Semi@388..389 ";"
        Whitespace@389..394 "\n    "
      STMT_EXPR@394..413
        EXPR_CALL@394..407
          EXPR_IDENT@394..401
            PATH@394..401
              Ident@394..401 "println"
          ARG_LIST@401..407
            LParen@401..402 "("
            ARG@402..406
              EXPR_IDENT@402..406
                PATH@402..406
                  Ident@402..406 "user"
            RParen@406..407 ")"
        Semi@407..408 ";"
        Whitespace@408..413 "\n    "
      STMT_EXPR@413..442
        EXPR_CALL@413..436
          EXPR_IDENT@413..420
            PATH@413..420
              Ident@413..420 "println"
          ARG_LIST@420..436
            LParen@420..421 "("
            ARG@421..435
              EXPR_CALL@421..435
                EXPR_IDENT@421..429
                  PATH@421..429
                    Ident@421..429 "sum_pair"
                ARG_LIST@429..435
                  LParen@429..430 "("
                  ARG@430..434
                    EXPR_IDENT@430..434
                      PATH@430..434
                        Ident@430..434 "pair"
                  RParen@434..435 ")"
            RParen@435..436 ")"
        Semi@436..437 ";"
        Whitespace@437..442 "\n    "
      STMT_EXPR@442..463
        EXPR_CALL@442..457
          EXPR_IDENT@442..449
            PATH@442..449
              Ident@442..449 "println"
          ARG_LIST@449..457
            LParen@449..450 "("
            ARG@450..456
              EXPR_IDENT@450..456
                PATH@450..456
                  Ident@450..456 "marker"
            RParen@456..457 ")"
        Semi@457..458 ";"
        Whitespace@458..463 "\n    "
      STMT_EXPR@463..494
        EXPR_CALL@463..488
          EXPR_IDENT@463..470
            PATH@463..470
              Ident@463..470 "println"
          ARG_LIST@470..488
            LParen@470..471 "("
            ARG@471..487
              EXPR_CALL@471..487
                EXPR_IDENT@471..479
                  PATH@471..479
                    Ident@471..479 "classify"
                ARG_LIST@479..487
                  LParen@479..480 "("
                  ARG@480..486
                    EXPR_IDENT@480..486
                      PATH@480..486
                        Ident@480..486 "marker"
                  RParen@486..487 ")"
            RParen@487..488 ")"
        Semi@488..489 ";"
        Whitespace@489..494 "\n    "
      EXPR_CALL@494..519
        EXPR_IDENT@494..501
          PATH@494..501
            Ident@494..501 "println"
        ARG_LIST@501..519
          LParen@501..502 "("
          ARG@502..517
            EXPR_CALL@502..517
              EXPR_IDENT@502..510
                PATH@502..510
                  Ident@502..510 "classify"
              ARG_LIST@510..517
                LParen@510..511 "("
                ARG@511..516
                  EXPR_BYTE@511..516
                    ByteCharLit@511..516 "b'\\n'"
                RParen@516..517 ")"
          RParen@517..518 ")"
          Whitespace@518..519 "\n"
      RBrace@519..520 "}"
      Whitespace@520..521 "\n"