FILE@0..510
  TYPE_ALIAS@0..20
    TypeKeyword@0..4 "type"
    Whitespace@4..5 " "
    Ident@5..11 "UserId"
    Whitespace@11..12 " "
    Eq@12..13 "="
    Whitespace@13..14 " "
    TYPE_UINT64@14..17
      U64Keyword@14..17 "u64"
    Semi@17..18 ";"
    Whitespace@18..20 "\n\n"
  TYPE_ALIAS@20..44
    TypeKeyword@20..24 "type"
    Whitespace@24..25 " "
    Ident@25..29 "Pair"
    GENERIC_LIST@29..33
      LBracket@29..30 "["
      GENERIC@30..31
        Ident@30..31 "T"
      RBracket@31..32 "]"
      Whitespace@32..33 " "
    Eq@33..34 "="
    Whitespace@34..35 " "
    TYPE_TUPLE@35..41
      TYPE_LIST@35..41
        LParen@35..36 "("
        TYPE_TAPP@36..37
          PATH@36..37
            Ident@36..37 "T"
        Comma@37..38 ","
        Whitespace@38..39 " "
        TYPE_TAPP@39..40
          PATH@39..40
            Ident@39..40 "T"
        RParen@40..41 ")"
    Semi@41..42 ";"
    Whitespace@42..44 "\n\n"
  FN@44..108
    FnKeyword@44..46 "fn"
    Whitespace@46..47 " "
    Ident@47..55 "sum_pair"
    PARAM_LIST@55..74
      LParen@55..56 "("
      PARAM@56..72
        Ident@56..61 "value"
        Colon@61..62 ":"
        Whitespace@62..63 " "
        TYPE_TAPP@63..72
          PATH@63..67
            Ident@63..67 "Pair"
          TYPE_PARAM_LIST@67..72
            LBracket@67..68 "["
            TYPE_INT32@68..71
              I32Keyword@68..71 "i32"
            RBracket@71..72 "]"
      RParen@72..73 ")"
      Whitespace@73..74 " "
    Arrow@74..76 "->"
    Whitespace@76..77 " "
    TYPE_INT32@77..81
      I32Keyword@77..80 "i32"
      Whitespace@80..81 " "
    BLOCK@81..108
      LBrace@81..82 "{"
      Whitespace@82..87 "\n    "
      EXPR_BINARY@87..105
        EXPR_BINARY@87..95
          EXPR_IDENT@87..92
            PATH@87..92
              Ident@87..92 "value"
          Dot@92..93 "."
          EXPR_INT@93..95
            Int@93..94 "0"
            Whitespace@94..95 " "
        Plus@95..96 "+"
        Whitespace@96..97 " "
        EXPR_BINARY@97..105
          EXPR_IDENT@97..102
            PATH@97..102
              Ident@97..102 "value"
          Dot@102..103 "."
          EXPR_INT@103..105
            Int@103..104 "1"
            Whitespace@104..105 "\n"
      RBrace@105..106 "}"
      Whitespace@106..108 "\n\n"
  FN@108..258
    FnKeyword@108..110 "fn"
    Whitespace@110..111 " "
    Ident@111..119 "classify"
    PARAM_LIST@119..133
      LParen@119..120 "("
      PARAM@120..131
        Ident@120..125 "value"
        Colon@125..126 ":"
        Whitespace@126..127 " "
        TYPE_TAPP@127..131
          PATH@127..131
            Ident@127..131 "byte"
      RParen@131..132 ")"
      Whitespace@132..133 " "
    Arrow@133..135 "->"
    Whitespace@135..136 " "
    TYPE_STRING@136..143
      StringKeyword@136..142 "string"
      Whitespace@142..143 " "
    BLOCK@143..258
      LBrace@143..144 "{"
      Whitespace@144..149 "\n    "
      EXPR_MATCH@149..255
        MatchKeyword@149..154 "match"
        Whitespace@154..155 " "
        EXPR_IDENT@155..161
          PATH@155..161
            Ident@155..160 "value"
            Whitespace@160..161 " "
        MATCH_ARM_LIST@161..255
          LBrace@161..162 "{"
          Whitespace@162..171 "\n        "
          MATCH_ARM@171..189
            PATTERN_BYTE@171..177
              ByteCharLit@171..176 "b'\\n'"
              Whitespace@176..177 " "
            FatArrow@177..179 "=>"
            Whitespace@179..180 " "
            EXPR_STR@180..189
              Str@180..189 "\"newline\""
          Comma@189..190 ","
          Whitespace@190..199 "\n        "
          MATCH_ARM@199..225
            PATTERN_RANGE@199..211
              PATTERN_BYTE@199..203
                ByteCharLit@199..203 "b'A'"
              DotDotEq@203..206 "..="
              PATTERN_BYTE@206..211
                ByteCharLit@206..210 "b'Z'"
                Whitespace@210..211 " "
            FatArrow@211..213 "=>"
            Whitespace@213..214 " "
            EXPR_STR@214..225
              Str@214..225 "\"uppercase\""
          Comma@225..226 ","
          Whitespace@226..235 "\n        "
          MATCH_ARM@235..247
            PATTERN_WILDCARD@235..237
              WildcardKeyword@235..236 "_"
              Whitespace@236..237 " "
            FatArrow@237..239 "=>"
            Whitespace@239..240 " "
            EXPR_STR@240..247
              Str@240..247 "\"other\""
          Comma@247..248 ","
          Whitespace@248..253 "\n    "
          RBrace@253..254 "}"
          Whitespace@254..255 "\n"
      RBrace@255..256 "}"
      Whitespace@256..258 "\n\n"
  FN@258..510
    FnKeyword@258..260 "fn"
    Whitespace@260..261 " "
    Ident@261..265 "main"
    PARAM_LIST@265..268
      LParen@265..266 "("
      RParen@266..267 ")"
      Whitespace@267..268 " "
    Arrow@268..270 "->"
    Whitespace@270..271 " "
    TYPE_TUPLE@271..274
      TYPE_LIST@271..274
        LParen@271..272 "("
        RParen@272..273 ")"
        Whitespace@273..274 " "
    BLOCK@274..510
      LBrace@274..275 "{"
      Whitespace@275..280 "\n    "
      STMT_LET@280..309
        LetKeyword@280..283 "let"
        Whitespace@283..284 " "
        PATTERN_VARIABLE@284..288
          Ident@284..288 "user"
        Colon@288..289 ":"
        Whitespace@289..290 " "
        TYPE_TAPP@290..297
          PATH@290..297
            Ident@290..296 "UserId"
            Whitespace@296..297 " "
        Eq@297..298 "="
        Whitespace@298..299 " "
        EXPR_INT@299..303
          Int@299..303 "0xff"
        Semi@303..304 ";"
        Whitespace@304..309 "\n    "
      STMT_LET@309..351
        LetKeyword@309..312 "let"
        Whitespace@312..313 " "
        PATTERN_VARIABLE@313..317
          Ident@313..317 "pair"
        Colon@317..318 ":"
        Whitespace@318..319 " "
        TYPE_TAPP@319..329
          PATH@319..323
            Ident@319..323 "Pair"
          TYPE_PARAM_LIST@323..329
            LBracket@323..324 "["
            TYPE_INT32@324..327
              I32Keyword@324..327 "i32"
            RBracket@327..328 "]"
            Whitespace@328..329 " "
        Eq@329..330 "="
        Whitespace@330..331 " "
        EXPR_TUPLE@331..345
          LParen@331..332 "("
          EXPR_INT@332..338
            Int@332..338 "0b1010"
          Comma@338..339 ","
          Whitespace@339..340 " "
          EXPR_INT@340..344
            Int@340..344 "0o12"
          RParen@344..345 ")"
        Semi@345..346 ";"
        Whitespace@346..351 "\n    "
      STMT_LET@351..383
        LetKeyword@351..354 "let"
        Whitespace@354..355 " "
        PATTERN_VARIABLE@355..361
          Ident@355..361 "marker"
        Colon@361..362 ":"
        Whitespace@362..363 " "
        TYPE_TAPP@363..368
          PATH@363..368
            Ident@363..367 "byte"
            Whitespace@367..368 " "
        Eq@368..369 "="
        Whitespace@369..370 " "
        EXPR_BYTE@370..377
          ByteCharLit@370..377 "b'\\x41'"
        Semi@377..378 ";"
        Whitespace@378..383 "\n    "
      STMT_EXPR@383..402
        EXPR_CALL@383..396
          EXPR_IDENT@383..390
            PATH@383..390
              Ident@383..390 "println"
          ARG_LIST@390..396
            LParen@390..391 "("
            ARG@391..395
              EXPR_IDENT@391..395
                PATH@391..395
                  Ident@391..395 "user"
            RParen@395..396 ")"
        Semi@396..397 ";"
        Whitespace@397..402 "\n    "
      STMT_EXPR@402..431
        EXPR_CALL@402..425
          EXPR_IDENT@402..409
            PATH@402..409
              Ident@402..409 "println"
          ARG_LIST@409..425
            LParen@409..410 "("
            ARG@410..424
              EXPR_CALL@410..424
                EXPR_IDENT@410..418
                  PATH@410..418
                    Ident@410..418 "sum_pair"
                ARG_LIST@418..424
                  LParen@418..419 "("
                  ARG@419..423
                    EXPR_IDENT@419..423
                      PATH@419..423
                        Ident@419..423 "pair"
                  RParen@423..424 ")"
            RParen@424..425 ")"
        Semi@425..426 ";"
        Whitespace@426..431 "\n    "
      STMT_EXPR@431..452
        EXPR_CALL@431..446
          EXPR_IDENT@431..438
            PATH@431..438
              Ident@431..438 "println"
          ARG_LIST@438..446
            LParen@438..439 "("
            ARG@439..445
              EXPR_IDENT@439..445
                PATH@439..445
                  Ident@439..445 "marker"
            RParen@445..446 ")"
        Semi@446..447 ";"
        Whitespace@447..452 "\n    "
      STMT_EXPR@452..483
        EXPR_CALL@452..477
          EXPR_IDENT@452..459
            PATH@452..459
              Ident@452..459 "println"
          ARG_LIST@459..477
            LParen@459..460 "("
            ARG@460..476
              EXPR_CALL@460..476
                EXPR_IDENT@460..468
                  PATH@460..468
                    Ident@460..468 "classify"
                ARG_LIST@468..476
                  LParen@468..469 "("
                  ARG@469..475
                    EXPR_IDENT@469..475
                      PATH@469..475
                        Ident@469..475 "marker"
                  RParen@475..476 ")"
            RParen@476..477 ")"
        Semi@477..478 ";"
        Whitespace@478..483 "\n    "
      EXPR_CALL@483..508
        EXPR_IDENT@483..490
          PATH@483..490
            Ident@483..490 "println"
        ARG_LIST@490..508
          LParen@490..491 "("
          ARG@491..506
            EXPR_CALL@491..506
              EXPR_IDENT@491..499
                PATH@491..499
                  Ident@491..499 "classify"
              ARG_LIST@499..506
                LParen@499..500 "("
                ARG@500..505
                  EXPR_BYTE@500..505
                    ByteCharLit@500..505 "b'\\n'"
                RParen@505..506 ")"
          RParen@506..507 ")"
          Whitespace@507..508 "\n"
      RBrace@508..509 "}"
      Whitespace@509..510 "\n"