FILE@0..226
  FN@0..78
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "pair"
    PARAM_LIST@7..36
      LParen@7..8 "("
      PARAM@8..20
        Ident@8..13 "first"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_INT32@15..18
          I32Keyword@15..18 "i32"
        Comma@18..19 ","
        Whitespace@19..20 " "
      PARAM@20..34
        Ident@20..26 "second"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_STRING@28..34
          StringKeyword@28..34 "string"
      RParen@34..35 ")"
      Whitespace@35..36 " "
    Arrow@36..38 "->"
    Whitespace@38..39 " "
    TYPE_TUPLE@39..53
      TYPE_LIST@39..53
        LParen@39..40 "("
        TYPE_INT32@40..43
          I32Keyword@40..43 "i32"
        Comma@43..44 ","
        Whitespace@44..45 " "
        TYPE_STRING@45..51
          StringKeyword@45..51 "string"
        RParen@51..52 ")"
        Whitespace@52..53 " "
    BLOCK@53..78
      LBrace@53..54 "{"
      Whitespace@54..59 "\n    "
      EXPR_TUPLE@59..75
        LParen@59..60 "("
        EXPR_IDENT@60..65
          PATH@60..65
            Ident@60..65 "first"
        Comma@65..66 ","
        Whitespace@66..67 " "
        EXPR_IDENT@67..73
          PATH@67..73
            Ident@67..73 "second"
        RParen@73..74 ")"
        Whitespace@74..75 "\n"
      RBrace@75..76 "}"
      Whitespace@76..78 "\n\n"
  FN@78..226
    FnKeyword@78..80 "fn"
    Whitespace@80..81 " "
    Ident@81..85 "main"
    PARAM_LIST@85..88
      LParen@85..86 "("
      RParen@86..87 ")"
      Whitespace@87..88 " "
    Arrow@88..90 "->"
    Whitespace@90..91 " "
    TYPE_UNIT@91..96
      UnitKeyword@91..95 "unit"
      Whitespace@95..96 " "
    BLOCK@96..226
      LBrace@96..97 "{"
      Whitespace@97..102 "\n    "
      STMT_LET@102..155
        LetKeyword@102..105 "let"
        Whitespace@105..106 " "
        PATTERN_VARIABLE@106..110
          Ident@106..110 "make"
        Colon@110..111 ":"
        Whitespace@111..112 " "
        TYPE_FUNC@112..143
          TYPE_TUPLE@112..126
            TYPE_LIST@112..126
              LParen@112..113 "("
              TYPE_INT32@113..116
                I32Keyword@113..116 "i32"
              Comma@116..117 ","
              Whitespace@117..118 " "
              TYPE_STRING@118..124
                StringKeyword@118..124 "string"
              RParen@124..125 ")"
              Whitespace@125..126 " "
          Arrow@126..128 "->"
          Whitespace@128..129 " "
          TYPE_TUPLE@129..143
            TYPE_LIST@129..143
              LParen@129..130 "("
              TYPE_INT32@130..133
                I32Keyword@130..133 "i32"
              Comma@133..134 ","
              Whitespace@134..135 " "
              TYPE_STRING@135..141
                StringKeyword@135..141 "string"
              RParen@141..142 ")"
              Whitespace@142..143 " "
        Eq@143..144 "="
        Whitespace@144..145 " "
        EXPR_IDENT@145..149
          PATH@145..149
            Ident@145..149 "pair"
        Semi@149..150 ";"
        Whitespace@150..155 "\n    "
      STMT_LET@155..185
        LetKeyword@155..158 "let"
        Whitespace@158..159 " "
        PATTERN_VARIABLE@159..165
          Ident@159..164 "value"
          Whitespace@164..165 " "
        Eq@165..166 "="
        Whitespace@166..167 " "
        EXPR_CALL@167..179
          EXPR_IDENT@167..171
            PATH@167..171
              Ident@167..171 "make"
          ARG_LIST@171..179
            LParen@171..172 "("
            ARG@172..175
              EXPR_INT@172..173
                Int@172..173 "1"
              Comma@173..174 ","
              Whitespace@174..175 " "
            ARG@175..178
              EXPR_STR@175..178
                Str@175..178 "\"x\""
            RParen@178..179 ")"
        Semi@179..180 ";"
        Whitespace@180..185 "\n    "
      EXPR_CALL@185..224
        EXPR_IDENT@185..192
          PATH@185..192
            Ident@185..192 "println"
        ARG_LIST@192..224
          LParen@192..193 "("
          ARG@193..222
            EXPR_BINARY@193..222
              EXPR_CALL@193..213
                EXPR_BINARY@193..210
                  EXPR_BINARY@193..200
                    EXPR_IDENT@193..198
                      PATH@193..198
                        Ident@193..198 "value"
                    Dot@198..199 "."
                    EXPR_INT@199..200
                      Int@199..200 "0"
                  Dot@200..201 "."
                  EXPR_IDENT@201..210
                    PATH@201..210
                      Ident@201..210 "to_string"
                ARG_LIST@210..213
                  LParen@210..211 "("
                  RParen@211..212 ")"
                  Whitespace@212..213 " "
              Plus@213..214 "+"
              Whitespace@214..215 " "
              EXPR_BINARY@215..222
                EXPR_IDENT@215..220
                  PATH@215..220
                    Ident@215..220 "value"
                Dot@220..221 "."
                EXPR_INT@221..222
                  Int@221..222 "1"
          RParen@222..223 ")"
          Whitespace@223..224 "\n"
      RBrace@224..225 "}"
      Whitespace@225..226 "\n"