FILE@0..234
  FN@0..82
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "pair"
    PARAM_LIST@7..38
      LParen@7..8 "("
      PARAM@8..22
        Ident@8..13 "first"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_INT32@15..20
          Int32Keyword@15..20 "int32"
        Comma@20..21 ","
        Whitespace@21..22 " "
      PARAM@22..36
        Ident@22..28 "second"
        Colon@28..29 ":"
        Whitespace@29..30 " "
        TYPE_STRING@30..36
          StringKeyword@30..36 "string"
      RParen@36..37 ")"
      Whitespace@37..38 " "
    Arrow@38..40 "->"
    Whitespace@40..41 " "
    TYPE_TUPLE@41..57
      TYPE_LIST@41..57
        LParen@41..42 "("
        TYPE_INT32@42..47
          Int32Keyword@42..47 "int32"
        Comma@47..48 ","
        Whitespace@48..49 " "
        TYPE_STRING@49..55
          StringKeyword@49..55 "string"
        RParen@55..56 ")"
        Whitespace@56..57 " "
    BLOCK@57..82
      LBrace@57..58 "{"
      Whitespace@58..63 "\n    "
      EXPR_TUPLE@63..79
        LParen@63..64 "("
        EXPR_IDENT@64..69
          PATH@64..69
            Ident@64..69 "first"
        Comma@69..70 ","
        Whitespace@70..71 " "
        EXPR_IDENT@71..77
          PATH@71..77
            Ident@71..77 "second"
        RParen@77..78 ")"
        Whitespace@78..79 "\n"
      RBrace@79..80 "}"
      Whitespace@80..82 "\n\n"
  FN@82..234
    FnKeyword@82..84 "fn"
    Whitespace@84..85 " "
    Ident@85..89 "main"
    PARAM_LIST@89..92
      LParen@89..90 "("
      RParen@90..91 ")"
      Whitespace@91..92 " "
    Arrow@92..94 "->"
    Whitespace@94..95 " "
    TYPE_UNIT@95..100
      UnitKeyword@95..99 "unit"
      Whitespace@99..100 " "
    BLOCK@100..234
      LBrace@100..101 "{"
      Whitespace@101..106 "\n    "
      STMT_LET@106..163
        LetKeyword@106..109 "let"
        Whitespace@109..110 " "
        PATTERN_VARIABLE@110..114
          Ident@110..114 "make"
        Colon@114..115 ":"
        Whitespace@115..116 " "
        TYPE_FUNC@116..151
          TYPE_TUPLE@116..132
            TYPE_LIST@116..132
              LParen@116..117 "("
              TYPE_INT32@117..122
                Int32Keyword@117..122 "int32"
              Comma@122..123 ","
              Whitespace@123..124 " "
              TYPE_STRING@124..130
                StringKeyword@124..130 "string"
              RParen@130..131 ")"
              Whitespace@131..132 " "
          Arrow@132..134 "->"
          Whitespace@134..135 " "
          TYPE_TUPLE@135..151
            TYPE_LIST@135..151
              LParen@135..136 "("
              TYPE_INT32@136..141
                Int32Keyword@136..141 "int32"
              Comma@141..142 ","
              Whitespace@142..143 " "
              TYPE_STRING@143..149
                StringKeyword@143..149 "string"
              RParen@149..150 ")"
              Whitespace@150..151 " "
        Eq@151..152 "="
        Whitespace@152..153 " "
        EXPR_IDENT@153..157
          PATH@153..157
            Ident@153..157 "pair"
        Semi@157..158 ";"
        Whitespace@158..163 "\n    "
      STMT_LET@163..193
        LetKeyword@163..166 "let"
        Whitespace@166..167 " "
        PATTERN_VARIABLE@167..173
          Ident@167..172 "value"
          Whitespace@172..173 " "
        Eq@173..174 "="
        Whitespace@174..175 " "
        EXPR_CALL@175..187
          EXPR_IDENT@175..179
            PATH@175..179
              Ident@175..179 "make"
          ARG_LIST@179..187
            LParen@179..180 "("
            ARG@180..183
              EXPR_INT@180..181
                Int@180..181 "1"
              Comma@181..182 ","
              Whitespace@182..183 " "
            ARG@183..186
              EXPR_STR@183..186
                Str@183..186 "\"x\""
            RParen@186..187 ")"
        Semi@187..188 ";"
        Whitespace@188..193 "\n    "
      EXPR_CALL@193..232
        EXPR_IDENT@193..200
          PATH@193..200
            Ident@193..200 "println"
        ARG_LIST@200..232
          LParen@200..201 "("
          ARG@201..230
            EXPR_BINARY@201..230
              EXPR_CALL@201..221
                EXPR_BINARY@201..218
                  EXPR_BINARY@201..208
                    EXPR_IDENT@201..206
                      PATH@201..206
                        Ident@201..206 "value"
                    Dot@206..207 "."
                    EXPR_INT@207..208
                      Int@207..208 "0"
                  Dot@208..209 "."
                  EXPR_IDENT@209..218
                    PATH@209..218
                      Ident@209..218 "to_string"
                ARG_LIST@218..221
                  LParen@218..219 "("
                  RParen@219..220 ")"
                  Whitespace@220..221 " "
              Plus@221..222 "+"
              Whitespace@222..223 " "
              EXPR_BINARY@223..230
                EXPR_IDENT@223..228
                  PATH@223..228
                    Ident@223..228 "value"
                Dot@228..229 "."
                EXPR_INT@229..230
                  Int@229..230 "1"
          RParen@230..231 ")"
          Whitespace@231..232 "\n"
      RBrace@232..233 "}"
      Whitespace@233..234 "\n"