FILE@0..224
  FN@0..78
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "pair"
    PARAM_LIST@7..36
      LParen@7..8 "("
      PARAM@8..20
        Ident@8..13 "first"
        Colon@13..14 ":"
        Whitespace@14..15 " "
        TYPE_INT32@15..18
          I32Keyword@15..18 "i32"
        Comma@18..19 ","
        Whitespace@19..20 " "
      PARAM@20..34
        Ident@20..26 "second"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_STRING@28..34
          StringKeyword@28..34 "string"
      RParen@34..35 ")"
      Whitespace@35..36 " "
    Arrow@36..38 "->"
    Whitespace@38..39 " "
    TYPE_TUPLE@39..53
      TYPE_LIST@39..53
        LParen@39..40 "("
        TYPE_INT32@40..43
          I32Keyword@40..43 "i32"
        Comma@43..44 ","
        Whitespace@44..45 " "
        TYPE_STRING@45..51
          StringKeyword@45..51 "string"
        RParen@51..52 ")"
        Whitespace@52..53 " "
    BLOCK@53..78
      LBrace@53..54 "{"
      Whitespace@54..59 "\n    "
      EXPR_TUPLE@59..75
        LParen@59..60 "("
        EXPR_IDENT@60..65
          PATH@60..65
            Ident@60..65 "first"
        Comma@65..66 ","
        Whitespace@66..67 " "
        EXPR_IDENT@67..73
          PATH@67..73
            Ident@67..73 "second"
        RParen@73..74 ")"
        Whitespace@74..75 "\n"
      RBrace@75..76 "}"
      Whitespace@76..78 "\n\n"
  FN@78..224
    FnKeyword@78..80 "fn"
    Whitespace@80..81 " "
    Ident@81..85 "main"
    PARAM_LIST@85..88
      LParen@85..86 "("
      RParen@86..87 ")"
      Whitespace@87..88 " "
    Arrow@88..90 "->"
    Whitespace@90..91 " "
    TYPE_TUPLE@91..94
      TYPE_LIST@91..94
        LParen@91..92 "("
        RParen@92..93 ")"
        Whitespace@93..94 " "
    BLOCK@94..224
      LBrace@94..95 "{"
      Whitespace@95..100 "\n    "
      STMT_LET@100..153
        LetKeyword@100..103 "let"
        Whitespace@103..104 " "
        PATTERN_VARIABLE@104..108
          Ident@104..108 "make"
        Colon@108..109 ":"
        Whitespace@109..110 " "
        TYPE_FUNC@110..141
          TYPE_TUPLE@110..124
            TYPE_LIST@110..124
              LParen@110..111 "("
              TYPE_INT32@111..114
                I32Keyword@111..114 "i32"
              Comma@114..115 ","
              Whitespace@115..116 " "
              TYPE_STRING@116..122
                StringKeyword@116..122 "string"
              RParen@122..123 ")"
              Whitespace@123..124 " "
          Arrow@124..126 "->"
          Whitespace@126..127 " "
          TYPE_TUPLE@127..141
            TYPE_LIST@127..141
              LParen@127..128 "("
              TYPE_INT32@128..131
                I32Keyword@128..131 "i32"
              Comma@131..132 ","
              Whitespace@132..133 " "
              TYPE_STRING@133..139
                StringKeyword@133..139 "string"
              RParen@139..140 ")"
              Whitespace@140..141 " "
        Eq@141..142 "="
        Whitespace@142..143 " "
        EXPR_IDENT@143..147
          PATH@143..147
            Ident@143..147 "pair"
        Semi@147..148 ";"
        Whitespace@148..153 "\n    "
      STMT_LET@153..183
        LetKeyword@153..156 "let"
        Whitespace@156..157 " "
        PATTERN_VARIABLE@157..163
          Ident@157..162 "value"
          Whitespace@162..163 " "
        Eq@163..164 "="
        Whitespace@164..165 " "
        EXPR_CALL@165..177
          EXPR_IDENT@165..169
            PATH@165..169
              Ident@165..169 "make"
          ARG_LIST@169..177
            LParen@169..170 "("
            ARG@170..173
              EXPR_INT@170..171
                Int@170..171 "1"
              Comma@171..172 ","
              Whitespace@172..173 " "
            ARG@173..176
              EXPR_STR@173..176
                Str@173..176 "\"x\""
            RParen@176..177 ")"
        Semi@177..178 ";"
        Whitespace@178..183 "\n    "
      EXPR_CALL@183..222
        EXPR_IDENT@183..190
          PATH@183..190
            Ident@183..190 "println"
        ARG_LIST@190..222
          LParen@190..191 "("
          ARG@191..220
            EXPR_BINARY@191..220
              EXPR_CALL@191..211
                EXPR_BINARY@191..208
                  EXPR_BINARY@191..198
                    EXPR_IDENT@191..196
                      PATH@191..196
                        Ident@191..196 "value"
                    Dot@196..197 "."
                    EXPR_INT@197..198
                      Int@197..198 "0"
                  Dot@198..199 "."
                  EXPR_IDENT@199..208
                    PATH@199..208
                      Ident@199..208 "to_string"
                ARG_LIST@208..211
                  LParen@208..209 "("
                  RParen@209..210 ")"
                  Whitespace@210..211 " "
              Plus@211..212 "+"
              Whitespace@212..213 " "
              EXPR_BINARY@213..220
                EXPR_IDENT@213..218
                  PATH@213..218
                    Ident@213..218 "value"
                Dot@218..219 "."
                EXPR_INT@219..220
                  Int@219..220 "1"
          RParen@220..221 ")"
          Whitespace@221..222 "\n"
      RBrace@222..223 "}"
      Whitespace@223..224 "\n"