FILE@0..854
  TRAIT@0..53
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Mark"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..53
      TRAIT_METHOD_SIG@17..48
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..26 "marked"
        PARAM_LIST@26..39
          LParen@26..27 "("
          PARAM@27..37
            Ident@27..31 "self"
            Colon@31..32 ":"
            Whitespace@32..33 " "
            TYPE_TAPP@33..37
              PATH@33..37
                Ident@33..37 "Self"
          RParen@37..38 ")"
          Whitespace@38..39 " "
        Arrow@39..41 "->"
        Whitespace@41..42 " "
        TYPE_STRING@42..48
          StringKeyword@42..48 "string"
      Semi@48..49 ";"
      Whitespace@49..50 "\n"
      RBrace@50..51 "}"
      Whitespace@51..53 "\n\n"
  TRAIT@53..125
    TraitKeyword@53..58 "trait"
    Whitespace@58..59 " "
    Ident@59..65 "Source"
    Whitespace@65..66 " "
    LBrace@66..67 "{"
    Whitespace@67..72 "\n    "
    TRAIT_METHOD_SIG_LIST@72..125
      TRAIT_ASSOCIATED_TYPE@72..88
        TypeKeyword@72..76 "type"
        Whitespace@76..77 " "
        Ident@77..81 "Item"
        Semi@81..82 ";"
        Whitespace@82..88 "\n\n    "
      TRAIT_METHOD_SIG@88..120
        FnKeyword@88..90 "fn"
        Whitespace@90..91 " "
        Ident@91..94 "get"
        PARAM_LIST@94..107
          LParen@94..95 "("
          PARAM@95..105
            Ident@95..99 "self"
            Colon@99..100 ":"
            Whitespace@100..101 " "
            TYPE_TAPP@101..105
              PATH@101..105
                Ident@101..105 "Self"
          RParen@105..106 ")"
          Whitespace@106..107 " "
        Arrow@107..109 "->"
        Whitespace@109..110 " "
        TYPE_TAPP@110..120
          PATH@110..120
            Ident@110..114 "Self"
            ColonColon@114..116 "::"
            Ident@116..120 "Item"
      Semi@120..121 ";"
      Whitespace@121..122 "\n"
      RBrace@122..123 "}"
      Whitespace@123..125 "\n\n"
  STRUCT@125..166
    StructKeyword@125..131 "struct"
    Whitespace@131..132 " "
    Ident@132..142 "LeftSource"
    Whitespace@142..143 " "
    LBrace@143..144 "{"
    Whitespace@144..149 "\n    "
    STRUCT_FIELD_LIST@149..166
      STRUCT_FIELD@149..161
        Ident@149..154 "value"
        Colon@154..155 ":"
        Whitespace@155..156 " "
        TYPE_INT32@156..161
          Int32Keyword@156..161 "int32"
      Comma@161..162 ","
      Whitespace@162..163 "\n"
      RBrace@163..164 "}"
      Whitespace@164..166 "\n\n"
  STRUCT@166..208
    StructKeyword@166..172 "struct"
    Whitespace@172..173 " "
    Ident@173..184 "RightSource"
    Whitespace@184..185 " "
    LBrace@185..186 "{"
    Whitespace@186..191 "\n    "
    STRUCT_FIELD_LIST@191..208
      STRUCT_FIELD@191..203
        Ident@191..196 "value"
        Colon@196..197 ":"
        Whitespace@197..198 " "
        TYPE_INT32@198..203
          Int32Keyword@198..203 "int32"
      Comma@203..204 ","
      Whitespace@204..205 "\n"
      RBrace@205..206 "}"
      Whitespace@206..208 "\n\n"
  IMPL@208..309
    ImplKeyword@208..212 "impl"
    Whitespace@212..213 " "
    TYPE_TAPP@213..218
      PATH@213..218
        Ident@213..217 "Mark"
        Whitespace@217..218 " "
    ForKeyword@218..221 "for"
    Whitespace@221..222 " "
    TYPE_INT32@222..228
      Int32Keyword@222..227 "int32"
      Whitespace@227..228 " "
    LBrace@228..229 "{"
    Whitespace@229..234 "\n    "
    FN@234..306
      FnKeyword@234..236 "fn"
      Whitespace@236..237 " "
      Ident@237..243 "marked"
      PARAM_LIST@243..257
        LParen@243..244 "("
        PARAM@244..255
          Ident@244..248 "self"
          Colon@248..249 ":"
          Whitespace@249..250 " "
          TYPE_INT32@250..255
            Int32Keyword@250..255 "int32"
        RParen@255..256 ")"
        Whitespace@256..257 " "
      Arrow@257..259 "->"
      Whitespace@259..260 " "
      TYPE_STRING@260..267
        StringKeyword@260..266 "string"
        Whitespace@266..267 " "
      BLOCK@267..306
        LBrace@267..268 "{"
        Whitespace@268..277 "\n        "
        EXPR_BINARY@277..304
          EXPR_STR@277..281
            Str@277..280 "\"m\""
            Whitespace@280..281 " "
          Plus@281..282 "+"
          Whitespace@282..283 " "
          EXPR_CALL@283..304
            EXPR_BINARY@283..297
              EXPR_IDENT@283..287
                PATH@283..287
                  Ident@283..287 "self"
              Dot@287..288 "."
              EXPR_IDENT@288..297
                PATH@288..297
                  Ident@288..297 "to_string"
            ARG_LIST@297..304
              LParen@297..298 "("
              RParen@298..299 ")"
              Whitespace@299..304 "\n    "
        RBrace@304..305 "}"
        Whitespace@305..306 "\n"
    RBrace@306..307 "}"
    Whitespace@307..309 "\n\n"
  IMPL@309..430
    ImplKeyword@309..313 "impl"
    Whitespace@313..314 " "
    TYPE_TAPP@314..321
      PATH@314..321
        Ident@314..320 "Source"
        Whitespace@320..321 " "
    ForKeyword@321..324 "for"
    Whitespace@324..325 " "
    TYPE_TAPP@325..336
      PATH@325..336
        Ident@325..335 "LeftSource"
        Whitespace@335..336 " "
    LBrace@336..337 "{"
    Whitespace@337..342 "\n    "
    IMPL_ASSOCIATED_TYPE@342..366
      TypeKeyword@342..346 "type"
      Whitespace@346..347 " "
      Ident@347..351 "Item"
      Whitespace@351..352 " "
      Eq@352..353 "="
      Whitespace@353..354 " "
      TYPE_INT32@354..359
        Int32Keyword@354..359 "int32"
      Semi@359..360 ";"
      Whitespace@360..366 "\n\n    "
    FN@366..427
      FnKeyword@366..368 "fn"
      Whitespace@368..369 " "
      Ident@369..372 "get"
      PARAM_LIST@372..391
        LParen@372..373 "("
        PARAM@373..389
          Ident@373..377 "self"
          Colon@377..378 ":"
          Whitespace@378..379 " "
          TYPE_TAPP@379..389
            PATH@379..389
              Ident@379..389 "LeftSource"
        RParen@389..390 ")"
        Whitespace@390..391 " "
      Arrow@391..393 "->"
      Whitespace@393..394 " "
      TYPE_INT32@394..400
        Int32Keyword@394..399 "int32"
        Whitespace@399..400 " "
      BLOCK@400..427
        LBrace@400..401 "{"
        Whitespace@401..410 "\n        "
        EXPR_BINARY@410..425
          EXPR_IDENT@410..414
            PATH@410..414
              Ident@410..414 "self"
          Dot@414..415 "."
          EXPR_IDENT@415..425
            PATH@415..425
              Ident@415..420 "value"
              Whitespace@420..425 "\n    "
        RBrace@425..426 "}"
        Whitespace@426..427 "\n"
    RBrace@427..428 "}"
    Whitespace@428..430 "\n\n"
  IMPL@430..553
    ImplKeyword@430..434 "impl"
    Whitespace@434..435 " "
    TYPE_TAPP@435..442
      PATH@435..442
        Ident@435..441 "Source"
        Whitespace@441..442 " "
    ForKeyword@442..445 "for"
    Whitespace@445..446 " "
    TYPE_TAPP@446..458
      PATH@446..458
        Ident@446..457 "RightSource"
        Whitespace@457..458 " "
    LBrace@458..459 "{"
    Whitespace@459..464 "\n    "
    IMPL_ASSOCIATED_TYPE@464..488
      TypeKeyword@464..468 "type"
      Whitespace@468..469 " "
      Ident@469..473 "Item"
      Whitespace@473..474 " "
      Eq@474..475 "="
      Whitespace@475..476 " "
      TYPE_INT32@476..481
        Int32Keyword@476..481 "int32"
      Semi@481..482 ";"
      Whitespace@482..488 "\n\n    "
    FN@488..550
      FnKeyword@488..490 "fn"
      Whitespace@490..491 " "
      Ident@491..494 "get"
      PARAM_LIST@494..514
        LParen@494..495 "("
        PARAM@495..512
          Ident@495..499 "self"
          Colon@499..500 ":"
          Whitespace@500..501 " "
          TYPE_TAPP@501..512
            PATH@501..512
              Ident@501..512 "RightSource"
        RParen@512..513 ")"
        Whitespace@513..514 " "
      Arrow@514..516 "->"
      Whitespace@516..517 " "
      TYPE_INT32@517..523
        Int32Keyword@517..522 "int32"
        Whitespace@522..523 " "
      BLOCK@523..550
        LBrace@523..524 "{"
        Whitespace@524..533 "\n        "
        EXPR_BINARY@533..548
          EXPR_IDENT@533..537
            PATH@533..537
              Ident@533..537 "self"
          Dot@537..538 "."
          EXPR_IDENT@538..548
            PATH@538..548
              Ident@538..543 "value"
              Whitespace@543..548 "\n    "
        RBrace@548..549 "}"
        Whitespace@549..550 "\n"
    RBrace@550..551 "}"
    Whitespace@551..553 "\n\n"
  FN@553..736
    FnKeyword@553..555 "fn"
    Whitespace@555..556 " "
    Ident@556..563 "combine"
    GENERIC_LIST@563..585
      LBracket@563..564 "["
      GENERIC@564..573
        Ident@564..565 "A"
        Colon@565..566 ":"
        Whitespace@566..567 " "
        TRAIT_SET@567..573
          TYPE_TAPP@567..573
            PATH@567..573
              Ident@567..573 "Source"
      Comma@573..574 ","
      Whitespace@574..575 " "
      GENERIC@575..584
        Ident@575..576 "B"
        Colon@576..577 ":"
        Whitespace@577..578 " "
        TRAIT_SET@578..584
          TYPE_TAPP@578..584
            PATH@578..584
              Ident@578..584 "Source"
      RBracket@584..585 "]"
    PARAM_LIST@585..605
      LParen@585..586 "("
      PARAM@586..595
        Ident@586..590 "left"
        Colon@590..591 ":"
        Whitespace@591..592 " "
        TYPE_TAPP@592..593
          PATH@592..593
            Ident@592..593 "A"
        Comma@593..594 ","
        Whitespace@594..595 " "
      PARAM@595..603
        Ident@595..600 "right"
        Colon@600..601 ":"
        Whitespace@601..602 " "
        TYPE_TAPP@602..603
          PATH@602..603
            Ident@602..603 "B"
      RParen@603..604 ")"
      Whitespace@604..605 " "
    Arrow@605..607 "->"
    Whitespace@607..608 " "
    TYPE_STRING@608..615
      StringKeyword@608..614 "string"
      Whitespace@614..615 "\n"
    WHERE_CLAUSE@615..664
      WhereKeyword@615..620 "where"
      Whitespace@620..625 "\n    "
      WHERE_PREDICATE@625..643
        TYPE_TAPP@625..633
          PATH@625..633
            Ident@625..626 "A"
            ColonColon@626..628 "::"
            Ident@628..632 "Item"
            Whitespace@632..633 " "
        EqEq@633..635 "=="
        Whitespace@635..636 " "
        TYPE_TAPP@636..643
          PATH@636..643
            Ident@636..637 "B"
            ColonColon@637..639 "::"
            Ident@639..643 "Item"
      Comma@643..644 ","
      Whitespace@644..649 "\n    "
      WHERE_PREDICATE@649..662
        TYPE_TAPP@649..656
          PATH@649..656
            Ident@649..650 "B"
            ColonColon@650..652 "::"
            Ident@652..656 "Item"
        Colon@656..657 ":"
        Whitespace@657..658 " "
        TRAIT_SET@658..662
          TYPE_TAPP@658..662
            PATH@658..662
              Ident@658..662 "Mark"
      Comma@662..663 ","
      Whitespace@663..664 "\n"
    BLOCK@664..736
      LBrace@664..665 "{"
      Whitespace@665..670 "\n    "
      EXPR_BINARY@670..733
        EXPR_BINARY@670..703
          EXPR_CALL@670..697
            EXPR_BINARY@670..694
              EXPR_CALL@670..687
                EXPR_IDENT@670..681
                  PATH@670..681
                    Ident@670..676 "Source"
                    ColonColon@676..678 "::"
                    Ident@678..681 "get"
                ARG_LIST@681..687
                  LParen@681..682 "("
                  ARG@682..686
                    EXPR_IDENT@682..686
                      PATH@682..686
                        Ident@682..686 "left"
                  RParen@686..687 ")"
              Dot@687..688 "."
              EXPR_IDENT@688..694
                PATH@688..694
                  Ident@688..694 "marked"
            ARG_LIST@694..697
              LParen@694..695 "("
              RParen@695..696 ")"
              Whitespace@696..697 " "
          Plus@697..698 "+"
          Whitespace@698..699 " "
          EXPR_STR@699..703
            Str@699..702 "\":\""
            Whitespace@702..703 " "
        Plus@703..704 "+"
        Whitespace@704..705 " "
        EXPR_CALL@705..733
          EXPR_BINARY@705..730
            EXPR_CALL@705..723
              EXPR_IDENT@705..716
                PATH@705..716
                  Ident@705..711 "Source"
                  ColonColon@711..713 "::"
                  Ident@713..716 "get"
              ARG_LIST@716..723
                LParen@716..717 "("
                ARG@717..722
                  EXPR_IDENT@717..722
                    PATH@717..722
                      Ident@717..722 "right"
                RParen@722..723 ")"
            Dot@723..724 "."
            EXPR_IDENT@724..730
              PATH@724..730
                Ident@724..730 "marked"
          ARG_LIST@730..733
            LParen@730..731 "("
            RParen@731..732 ")"
            Whitespace@732..733 "\n"
      RBrace@733..734 "}"
      Whitespace@734..736 "\n\n"
  FN@736..854
    FnKeyword@736..738 "fn"
    Whitespace@738..739 " "
    Ident@739..743 "main"
    PARAM_LIST@743..746
      LParen@743..744 "("
      RParen@744..745 ")"
      Whitespace@745..746 " "
    Arrow@746..748 "->"
    Whitespace@748..749 " "
    TYPE_UNIT@749..754
      UnitKeyword@749..753 "unit"
      Whitespace@753..754 " "
    BLOCK@754..854
      LBrace@754..755 "{"
      Whitespace@755..760 "\n    "
      STMT_EXPR@760..852
        EXPR_CALL@760..850
          EXPR_IDENT@760..767
            PATH@760..767
              Ident@760..767 "println"
          ARG_LIST@767..850
            LParen@767..768 "("
            ARG@768..849
              EXPR_CALL@768..849
                EXPR_IDENT@768..775
                  PATH@768..775
                    Ident@768..775 "combine"
                ARG_LIST@775..849
                  LParen@775..776 "("
                  Whitespace@776..785 "\n        "
                  ARG@785..818
                    EXPR_STRUCT_LITERAL@785..808
                      PATH@785..796
                        Ident@785..795 "LeftSource"
                        Whitespace@795..796 " "
                      STRUCT_LITERAL_FIELD_LIST@796..808
                        LBrace@796..797 "{"
                        Whitespace@797..798 " "
                        STRUCT_LITERAL_FIELD@798..807
                          Ident@798..803 "value"
                          Colon@803..804 ":"
                          Whitespace@804..805 " "
                          EXPR_INT@805..807
                            Int@805..806 "3"
                            Whitespace@806..807 " "
                        RBrace@807..808 "}"
                    Comma@808..809 ","
                    Whitespace@809..818 "\n        "
                  ARG@818..848
                    EXPR_STRUCT_LITERAL@818..842
                      PATH@818..830
                        Ident@818..829 "RightSource"
                        Whitespace@829..830 " "
                      STRUCT_LITERAL_FIELD_LIST@830..842
                        LBrace@830..831 "{"
                        Whitespace@831..832 " "
                        STRUCT_LITERAL_FIELD@832..841
                          Ident@832..837 "value"
                          Colon@837..838 ":"
                          Whitespace@838..839 " "
                          EXPR_INT@839..841
                            Int@839..840 "4"
                            Whitespace@840..841 " "
                        RBrace@841..842 "}"
                    Comma@842..843 ","
                    Whitespace@843..848 "\n    "
                  RParen@848..849 ")"
            RParen@849..850 ")"
        Semi@850..851 ";"
        Whitespace@851..852 "\n"
      RBrace@852..853 "}"
      Whitespace@853..854 "\n"