FILE@0..853
  TRAIT@0..53
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Mark"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..53
      TRAIT_METHOD_SIG@17..48
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..26 "marked"
        PARAM_LIST@26..39
          LParen@26..27 "("
          PARAM@27..37
            Ident@27..31 "self"
            Colon@31..32 ":"
            Whitespace@32..33 " "
            TYPE_TAPP@33..37
              PATH@33..37
                Ident@33..37 "Self"
          RParen@37..38 ")"
          Whitespace@38..39 " "
        Arrow@39..41 "->"
        Whitespace@41..42 " "
        TYPE_STRING@42..48
          StringKeyword@42..48 "string"
      Semi@48..49 ";"
      Whitespace@49..50 "\n"
      RBrace@50..51 "}"
      Whitespace@51..53 "\n\n"
  TRAIT@53..125
    TraitKeyword@53..58 "trait"
    Whitespace@58..59 " "
    Ident@59..65 "Source"
    Whitespace@65..66 " "
    LBrace@66..67 "{"
    Whitespace@67..72 "\n    "
    TRAIT_METHOD_SIG_LIST@72..125
      TRAIT_ASSOCIATED_TYPE@72..88
        TypeKeyword@72..76 "type"
        Whitespace@76..77 " "
        Ident@77..81 "Item"
        Semi@81..82 ";"
        Whitespace@82..88 "\n\n    "
      TRAIT_METHOD_SIG@88..120
        FnKeyword@88..90 "fn"
        Whitespace@90..91 " "
        Ident@91..94 "get"
        PARAM_LIST@94..107
          LParen@94..95 "("
          PARAM@95..105
            Ident@95..99 "self"
            Colon@99..100 ":"
            Whitespace@100..101 " "
            TYPE_TAPP@101..105
              PATH@101..105
                Ident@101..105 "Self"
          RParen@105..106 ")"
          Whitespace@106..107 " "
        Arrow@107..109 "->"
        Whitespace@109..110 " "
        TYPE_TAPP@110..120
          PATH@110..120
            Ident@110..114 "Self"
            ColonColon@114..116 "::"
            Ident@116..120 "Item"
      Semi@120..121 ";"
      Whitespace@121..122 "\n"
      RBrace@122..123 "}"
      Whitespace@123..125 "\n\n"
  STRUCT@125..166
    StructKeyword@125..131 "struct"
    Whitespace@131..132 " "
    Ident@132..142 "LeftSource"
    Whitespace@142..143 " "
    LBrace@143..144 "{"
    Whitespace@144..149 "\n    "
    STRUCT_FIELD_LIST@149..166
      STRUCT_FIELD@149..161
        Ident@149..154 "value"
        Colon@154..155 ":"
        Whitespace@155..156 " "
        TYPE_INT32@156..161
          Int32Keyword@156..161 "int32"
      Comma@161..162 ","
      Whitespace@162..163 "\n"
      RBrace@163..164 "}"
      Whitespace@164..166 "\n\n"
  STRUCT@166..208
    StructKeyword@166..172 "struct"
    Whitespace@172..173 " "
    Ident@173..184 "RightSource"
    Whitespace@184..185 " "
    LBrace@185..186 "{"
    Whitespace@186..191 "\n    "
    STRUCT_FIELD_LIST@191..208
      STRUCT_FIELD@191..203
        Ident@191..196 "value"
        Colon@196..197 ":"
        Whitespace@197..198 " "
        TYPE_INT32@198..203
          Int32Keyword@198..203 "int32"
      Comma@203..204 ","
      Whitespace@204..205 "\n"
      RBrace@205..206 "}"
      Whitespace@206..208 "\n\n"
  IMPL@208..309
    ImplKeyword@208..212 "impl"
    Whitespace@212..213 " "
    TYPE_TAPP@213..218
      PATH@213..218
        Ident@213..217 "Mark"
        Whitespace@217..218 " "
    ForKeyword@218..221 "for"
    Whitespace@221..222 " "
    TYPE_INT32@222..228
      Int32Keyword@222..227 "int32"
      Whitespace@227..228 " "
    LBrace@228..229 "{"
    Whitespace@229..234 "\n    "
    FN@234..306
      FnKeyword@234..236 "fn"
      Whitespace@236..237 " "
      Ident@237..243 "marked"
      PARAM_LIST@243..257
        LParen@243..244 "("
        PARAM@244..255
          Ident@244..248 "self"
          Colon@248..249 ":"
          Whitespace@249..250 " "
          TYPE_INT32@250..255
            Int32Keyword@250..255 "int32"
        RParen@255..256 ")"
        Whitespace@256..257 " "
      Arrow@257..259 "->"
      Whitespace@259..260 " "
      TYPE_STRING@260..267
        StringKeyword@260..266 "string"
        Whitespace@266..267 " "
      BLOCK@267..306
        LBrace@267..268 "{"
        Whitespace@268..277 "\n        "
        EXPR_BINARY@277..304
          EXPR_STR@277..281
            Str@277..280 "\"m\""
            Whitespace@280..281 " "
          Plus@281..282 "+"
          Whitespace@282..283 " "
          EXPR_CALL@283..304
            EXPR_BINARY@283..297
              EXPR_IDENT@283..287
                PATH@283..287
                  Ident@283..287 "self"
              Dot@287..288 "."
              EXPR_IDENT@288..297
                PATH@288..297
                  Ident@288..297 "to_string"
            ARG_LIST@297..304
              LParen@297..298 "("
              RParen@298..299 ")"
              Whitespace@299..304 "\n    "
        RBrace@304..305 "}"
        Whitespace@305..306 "\n"
    RBrace@306..307 "}"
    Whitespace@307..309 "\n\n"
  IMPL@309..430
    ImplKeyword@309..313 "impl"
    Whitespace@313..314 " "
    TYPE_TAPP@314..321
      PATH@314..321
        Ident@314..320 "Source"
        Whitespace@320..321 " "
    ForKeyword@321..324 "for"
    Whitespace@324..325 " "
    TYPE_TAPP@325..336
      PATH@325..336
        Ident@325..335 "LeftSource"
        Whitespace@335..336 " "
    LBrace@336..337 "{"
    Whitespace@337..342 "\n    "
    IMPL_ASSOCIATED_TYPE@342..366
      TypeKeyword@342..346 "type"
      Whitespace@346..347 " "
      Ident@347..351 "Item"
      Whitespace@351..352 " "
      Eq@352..353 "="
      Whitespace@353..354 " "
      TYPE_INT32@354..359
        Int32Keyword@354..359 "int32"
      Semi@359..360 ";"
      Whitespace@360..366 "\n\n    "
    FN@366..427
      FnKeyword@366..368 "fn"
      Whitespace@368..369 " "
      Ident@369..372 "get"
      PARAM_LIST@372..391
        LParen@372..373 "("
        PARAM@373..389
          Ident@373..377 "self"
          Colon@377..378 ":"
          Whitespace@378..379 " "
          TYPE_TAPP@379..389
            PATH@379..389
              Ident@379..389 "LeftSource"
        RParen@389..390 ")"
        Whitespace@390..391 " "
      Arrow@391..393 "->"
      Whitespace@393..394 " "
      TYPE_INT32@394..400
        Int32Keyword@394..399 "int32"
        Whitespace@399..400 " "
      BLOCK@400..427
        LBrace@400..401 "{"
        Whitespace@401..410 "\n        "
        EXPR_BINARY@410..425
          EXPR_IDENT@410..414
            PATH@410..414
              Ident@410..414 "self"
          Dot@414..415 "."
          EXPR_IDENT@415..425
            PATH@415..425
              Ident@415..420 "value"
              Whitespace@420..425 "\n    "
        RBrace@425..426 "}"
        Whitespace@426..427 "\n"
    RBrace@427..428 "}"
    Whitespace@428..430 "\n\n"
  IMPL@430..553
    ImplKeyword@430..434 "impl"
    Whitespace@434..435 " "
    TYPE_TAPP@435..442
      PATH@435..442
        Ident@435..441 "Source"
        Whitespace@441..442 " "
    ForKeyword@442..445 "for"
    Whitespace@445..446 " "
    TYPE_TAPP@446..458
      PATH@446..458
        Ident@446..457 "RightSource"
        Whitespace@457..458 " "
    LBrace@458..459 "{"
    Whitespace@459..464 "\n    "
    IMPL_ASSOCIATED_TYPE@464..488
      TypeKeyword@464..468 "type"
      Whitespace@468..469 " "
      Ident@469..473 "Item"
      Whitespace@473..474 " "
      Eq@474..475 "="
      Whitespace@475..476 " "
      TYPE_INT32@476..481
        Int32Keyword@476..481 "int32"
      Semi@481..482 ";"
      Whitespace@482..488 "\n\n    "
    FN@488..550
      FnKeyword@488..490 "fn"
      Whitespace@490..491 " "
      Ident@491..494 "get"
      PARAM_LIST@494..514
        LParen@494..495 "("
        PARAM@495..512
          Ident@495..499 "self"
          Colon@499..500 ":"
          Whitespace@500..501 " "
          TYPE_TAPP@501..512
            PATH@501..512
              Ident@501..512 "RightSource"
        RParen@512..513 ")"
        Whitespace@513..514 " "
      Arrow@514..516 "->"
      Whitespace@516..517 " "
      TYPE_INT32@517..523
        Int32Keyword@517..522 "int32"
        Whitespace@522..523 " "
      BLOCK@523..550
        LBrace@523..524 "{"
        Whitespace@524..533 "\n        "
        EXPR_BINARY@533..548
          EXPR_IDENT@533..537
            PATH@533..537
              Ident@533..537 "self"
          Dot@537..538 "."
          EXPR_IDENT@538..548
            PATH@538..548
              Ident@538..543 "value"
              Whitespace@543..548 "\n    "
        RBrace@548..549 "}"
        Whitespace@549..550 "\n"
    RBrace@550..551 "}"
    Whitespace@551..553 "\n\n"
  FN@553..735
    FnKeyword@553..555 "fn"
    Whitespace@555..556 " "
    Ident@556..563 "combine"
    GENERIC_LIST@563..585
      LBracket@563..564 "["
      GENERIC@564..573
        Ident@564..565 "A"
        Colon@565..566 ":"
        Whitespace@566..567 " "
        TRAIT_SET@567..573
          TYPE_TAPP@567..573
            PATH@567..573
              Ident@567..573 "Source"
      Comma@573..574 ","
      Whitespace@574..575 " "
      GENERIC@575..584
        Ident@575..576 "B"
        Colon@576..577 ":"
        Whitespace@577..578 " "
        TRAIT_SET@578..584
          TYPE_TAPP@578..584
            PATH@578..584
              Ident@578..584 "Source"
      RBracket@584..585 "]"
    PARAM_LIST@585..605
      LParen@585..586 "("
      PARAM@586..595
        Ident@586..590 "left"
        Colon@590..591 ":"
        Whitespace@591..592 " "
        TYPE_TAPP@592..593
          PATH@592..593
            Ident@592..593 "A"
        Comma@593..594 ","
        Whitespace@594..595 " "
      PARAM@595..603
        Ident@595..600 "right"
        Colon@600..601 ":"
        Whitespace@601..602 " "
        TYPE_TAPP@602..603
          PATH@602..603
            Ident@602..603 "B"
      RParen@603..604 ")"
      Whitespace@604..605 " "
    Arrow@605..607 "->"
    Whitespace@607..608 " "
    TYPE_STRING@608..615
      StringKeyword@608..614 "string"
      Whitespace@614..615 "\n"
    WHERE_CLAUSE@615..663
      WhereKeyword@615..620 "where"
      Whitespace@620..625 "\n    "
      WHERE_PREDICATE@625..642
        TYPE_TAPP@625..633
          PATH@625..633
            Ident@625..626 "A"
            ColonColon@626..628 "::"
            Ident@628..632 "Item"
            Whitespace@632..633 " "
        Eq@633..634 "="
        Whitespace@634..635 " "
        TYPE_TAPP@635..642
          PATH@635..642
            Ident@635..636 "B"
            ColonColon@636..638 "::"
            Ident@638..642 "Item"
      Comma@642..643 ","
      Whitespace@643..648 "\n    "
      WHERE_PREDICATE@648..661
        TYPE_TAPP@648..655
          PATH@648..655
            Ident@648..649 "B"
            ColonColon@649..651 "::"
            Ident@651..655 "Item"
        Colon@655..656 ":"
        Whitespace@656..657 " "
        TRAIT_SET@657..661
          TYPE_TAPP@657..661
            PATH@657..661
              Ident@657..661 "Mark"
      Comma@661..662 ","
      Whitespace@662..663 "\n"
    BLOCK@663..735
      LBrace@663..664 "{"
      Whitespace@664..669 "\n    "
      EXPR_BINARY@669..732
        EXPR_BINARY@669..702
          EXPR_CALL@669..696
            EXPR_BINARY@669..693
              EXPR_CALL@669..686
                EXPR_IDENT@669..680
                  PATH@669..680
                    Ident@669..675 "Source"
                    ColonColon@675..677 "::"
                    Ident@677..680 "get"
                ARG_LIST@680..686
                  LParen@680..681 "("
                  ARG@681..685
                    EXPR_IDENT@681..685
                      PATH@681..685
                        Ident@681..685 "left"
                  RParen@685..686 ")"
              Dot@686..687 "."
              EXPR_IDENT@687..693
                PATH@687..693
                  Ident@687..693 "marked"
            ARG_LIST@693..696
              LParen@693..694 "("
              RParen@694..695 ")"
              Whitespace@695..696 " "
          Plus@696..697 "+"
          Whitespace@697..698 " "
          EXPR_STR@698..702
            Str@698..701 "\":\""
            Whitespace@701..702 " "
        Plus@702..703 "+"
        Whitespace@703..704 " "
        EXPR_CALL@704..732
          EXPR_BINARY@704..729
            EXPR_CALL@704..722
              EXPR_IDENT@704..715
                PATH@704..715
                  Ident@704..710 "Source"
                  ColonColon@710..712 "::"
                  Ident@712..715 "get"
              ARG_LIST@715..722
                LParen@715..716 "("
                ARG@716..721
                  EXPR_IDENT@716..721
                    PATH@716..721
                      Ident@716..721 "right"
                RParen@721..722 ")"
            Dot@722..723 "."
            EXPR_IDENT@723..729
              PATH@723..729
                Ident@723..729 "marked"
          ARG_LIST@729..732
            LParen@729..730 "("
            RParen@730..731 ")"
            Whitespace@731..732 "\n"
      RBrace@732..733 "}"
      Whitespace@733..735 "\n\n"
  FN@735..853
    FnKeyword@735..737 "fn"
    Whitespace@737..738 " "
    Ident@738..742 "main"
    PARAM_LIST@742..745
      LParen@742..743 "("
      RParen@743..744 ")"
      Whitespace@744..745 " "
    Arrow@745..747 "->"
    Whitespace@747..748 " "
    TYPE_UNIT@748..753
      UnitKeyword@748..752 "unit"
      Whitespace@752..753 " "
    BLOCK@753..853
      LBrace@753..754 "{"
      Whitespace@754..759 "\n    "
      STMT_EXPR@759..851
        EXPR_CALL@759..849
          EXPR_IDENT@759..766
            PATH@759..766
              Ident@759..766 "println"
          ARG_LIST@766..849
            LParen@766..767 "("
            ARG@767..848
              EXPR_CALL@767..848
                EXPR_IDENT@767..774
                  PATH@767..774
                    Ident@767..774 "combine"
                ARG_LIST@774..848
                  LParen@774..775 "("
                  Whitespace@775..784 "\n        "
                  ARG@784..817
                    EXPR_STRUCT_LITERAL@784..807
                      PATH@784..795
                        Ident@784..794 "LeftSource"
                        Whitespace@794..795 " "
                      STRUCT_LITERAL_FIELD_LIST@795..807
                        LBrace@795..796 "{"
                        Whitespace@796..797 " "
                        STRUCT_LITERAL_FIELD@797..806
                          Ident@797..802 "value"
                          Colon@802..803 ":"
                          Whitespace@803..804 " "
                          EXPR_INT@804..806
                            Int@804..805 "3"
                            Whitespace@805..806 " "
                        RBrace@806..807 "}"
                    Comma@807..808 ","
                    Whitespace@808..817 "\n        "
                  ARG@817..847
                    EXPR_STRUCT_LITERAL@817..841
                      PATH@817..829
                        Ident@817..828 "RightSource"
                        Whitespace@828..829 " "
                      STRUCT_LITERAL_FIELD_LIST@829..841
                        LBrace@829..830 "{"
                        Whitespace@830..831 " "
                        STRUCT_LITERAL_FIELD@831..840
                          Ident@831..836 "value"
                          Colon@836..837 ":"
                          Whitespace@837..838 " "
                          EXPR_INT@838..840
                            Int@838..839 "4"
                            Whitespace@839..840 " "
                        RBrace@840..841 "}"
                    Comma@841..842 ","
                    Whitespace@842..847 "\n    "
                  RParen@847..848 ")"
            RParen@848..849 ")"
        Semi@849..850 ";"
        Whitespace@850..851 "\n"
      RBrace@851..852 "}"
      Whitespace@852..853 "\n"