FILE@0..842
  TRAIT@0..47
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Mark"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..47
      TRAIT_METHOD_SIG@17..42
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..26 "marked"
        TYPE_LIST@26..33
          LParen@26..27 "("
          TYPE_TAPP@27..31
            PATH@27..31
              Ident@27..31 "Self"
          RParen@31..32 ")"
          Whitespace@32..33 " "
        Arrow@33..35 "->"
        Whitespace@35..36 " "
        TYPE_STRING@36..42
          StringKeyword@36..42 "string"
      Semi@42..43 ";"
      Whitespace@43..44 "\n"
      RBrace@44..45 "}"
      Whitespace@45..47 "\n\n"
  TRAIT@47..113
    TraitKeyword@47..52 "trait"
    Whitespace@52..53 " "
    Ident@53..59 "Source"
    Whitespace@59..60 " "
    LBrace@60..61 "{"
    Whitespace@61..66 "\n    "
    TRAIT_METHOD_SIG_LIST@66..113
      TRAIT_ASSOCIATED_TYPE@66..82
        TypeKeyword@66..70 "type"
        Whitespace@70..71 " "
        Ident@71..75 "Item"
        Semi@75..76 ";"
        Whitespace@76..82 "\n\n    "
      TRAIT_METHOD_SIG@82..108
        FnKeyword@82..84 "fn"
        Whitespace@84..85 " "
        Ident@85..88 "get"
        TYPE_LIST@88..95
          LParen@88..89 "("
          TYPE_TAPP@89..93
            PATH@89..93
              Ident@89..93 "Self"
          RParen@93..94 ")"
          Whitespace@94..95 " "
        Arrow@95..97 "->"
        Whitespace@97..98 " "
        TYPE_TAPP@98..108
          PATH@98..108
            Ident@98..102 "Self"
            ColonColon@102..104 "::"
            Ident@104..108 "Item"
      Semi@108..109 ";"
      Whitespace@109..110 "\n"
      RBrace@110..111 "}"
      Whitespace@111..113 "\n\n"
  STRUCT@113..154
    StructKeyword@113..119 "struct"
    Whitespace@119..120 " "
    Ident@120..130 "LeftSource"
    Whitespace@130..131 " "
    LBrace@131..132 "{"
    Whitespace@132..137 "\n    "
    STRUCT_FIELD_LIST@137..154
      STRUCT_FIELD@137..149
        Ident@137..142 "value"
        Colon@142..143 ":"
        Whitespace@143..144 " "
        TYPE_INT32@144..149
          Int32Keyword@144..149 "int32"
      Comma@149..150 ","
      Whitespace@150..151 "\n"
      RBrace@151..152 "}"
      Whitespace@152..154 "\n\n"
  STRUCT@154..196
    StructKeyword@154..160 "struct"
    Whitespace@160..161 " "
    Ident@161..172 "RightSource"
    Whitespace@172..173 " "
    LBrace@173..174 "{"
    Whitespace@174..179 "\n    "
    STRUCT_FIELD_LIST@179..196
      STRUCT_FIELD@179..191
        Ident@179..184 "value"
        Colon@184..185 ":"
        Whitespace@185..186 " "
        TYPE_INT32@186..191
          Int32Keyword@186..191 "int32"
      Comma@191..192 ","
      Whitespace@192..193 "\n"
      RBrace@193..194 "}"
      Whitespace@194..196 "\n\n"
  IMPL@196..297
    ImplKeyword@196..200 "impl"
    Whitespace@200..201 " "
    TYPE_TAPP@201..206
      PATH@201..206
        Ident@201..205 "Mark"
        Whitespace@205..206 " "
    ForKeyword@206..209 "for"
    Whitespace@209..210 " "
    TYPE_INT32@210..216
      Int32Keyword@210..215 "int32"
      Whitespace@215..216 " "
    LBrace@216..217 "{"
    Whitespace@217..222 "\n    "
    FN@222..294
      FnKeyword@222..224 "fn"
      Whitespace@224..225 " "
      Ident@225..231 "marked"
      PARAM_LIST@231..245
        LParen@231..232 "("
        PARAM@232..243
          Ident@232..236 "self"
          Colon@236..237 ":"
          Whitespace@237..238 " "
          TYPE_INT32@238..243
            Int32Keyword@238..243 "int32"
        RParen@243..244 ")"
        Whitespace@244..245 " "
      Arrow@245..247 "->"
      Whitespace@247..248 " "
      TYPE_STRING@248..255
        StringKeyword@248..254 "string"
        Whitespace@254..255 " "
      BLOCK@255..294
        LBrace@255..256 "{"
        Whitespace@256..265 "\n        "
        EXPR_BINARY@265..292
          EXPR_STR@265..269
            Str@265..268 "\"m\""
            Whitespace@268..269 " "
          Plus@269..270 "+"
          Whitespace@270..271 " "
          EXPR_CALL@271..292
            EXPR_BINARY@271..285
              EXPR_IDENT@271..275
                PATH@271..275
                  Ident@271..275 "self"
              Dot@275..276 "."
              EXPR_IDENT@276..285
                PATH@276..285
                  Ident@276..285 "to_string"
            ARG_LIST@285..292
              LParen@285..286 "("
              RParen@286..287 ")"
              Whitespace@287..292 "\n    "
        RBrace@292..293 "}"
        Whitespace@293..294 "\n"
    RBrace@294..295 "}"
    Whitespace@295..297 "\n\n"
  IMPL@297..418
    ImplKeyword@297..301 "impl"
    Whitespace@301..302 " "
    TYPE_TAPP@302..309
      PATH@302..309
        Ident@302..308 "Source"
        Whitespace@308..309 " "
    ForKeyword@309..312 "for"
    Whitespace@312..313 " "
    TYPE_TAPP@313..324
      PATH@313..324
        Ident@313..323 "LeftSource"
        Whitespace@323..324 " "
    LBrace@324..325 "{"
    Whitespace@325..330 "\n    "
    IMPL_ASSOCIATED_TYPE@330..354
      TypeKeyword@330..334 "type"
      Whitespace@334..335 " "
      Ident@335..339 "Item"
      Whitespace@339..340 " "
      Eq@340..341 "="
      Whitespace@341..342 " "
      TYPE_INT32@342..347
        Int32Keyword@342..347 "int32"
      Semi@347..348 ";"
      Whitespace@348..354 "\n\n    "
    FN@354..415
      FnKeyword@354..356 "fn"
      Whitespace@356..357 " "
      Ident@357..360 "get"
      PARAM_LIST@360..379
        LParen@360..361 "("
        PARAM@361..377
          Ident@361..365 "self"
          Colon@365..366 ":"
          Whitespace@366..367 " "
          TYPE_TAPP@367..377
            PATH@367..377
              Ident@367..377 "LeftSource"
        RParen@377..378 ")"
        Whitespace@378..379 " "
      Arrow@379..381 "->"
      Whitespace@381..382 " "
      TYPE_INT32@382..388
        Int32Keyword@382..387 "int32"
        Whitespace@387..388 " "
      BLOCK@388..415
        LBrace@388..389 "{"
        Whitespace@389..398 "\n        "
        EXPR_BINARY@398..413
          EXPR_IDENT@398..402
            PATH@398..402
              Ident@398..402 "self"
          Dot@402..403 "."
          EXPR_IDENT@403..413
            PATH@403..413
              Ident@403..408 "value"
              Whitespace@408..413 "\n    "
        RBrace@413..414 "}"
        Whitespace@414..415 "\n"
    RBrace@415..416 "}"
    Whitespace@416..418 "\n\n"
  IMPL@418..541
    ImplKeyword@418..422 "impl"
    Whitespace@422..423 " "
    TYPE_TAPP@423..430
      PATH@423..430
        Ident@423..429 "Source"
        Whitespace@429..430 " "
    ForKeyword@430..433 "for"
    Whitespace@433..434 " "
    TYPE_TAPP@434..446
      PATH@434..446
        Ident@434..445 "RightSource"
        Whitespace@445..446 " "
    LBrace@446..447 "{"
    Whitespace@447..452 "\n    "
    IMPL_ASSOCIATED_TYPE@452..476
      TypeKeyword@452..456 "type"
      Whitespace@456..457 " "
      Ident@457..461 "Item"
      Whitespace@461..462 " "
      Eq@462..463 "="
      Whitespace@463..464 " "
      TYPE_INT32@464..469
        Int32Keyword@464..469 "int32"
      Semi@469..470 ";"
      Whitespace@470..476 "\n\n    "
    FN@476..538
      FnKeyword@476..478 "fn"
      Whitespace@478..479 " "
      Ident@479..482 "get"
      PARAM_LIST@482..502
        LParen@482..483 "("
        PARAM@483..500
          Ident@483..487 "self"
          Colon@487..488 ":"
          Whitespace@488..489 " "
          TYPE_TAPP@489..500
            PATH@489..500
              Ident@489..500 "RightSource"
        RParen@500..501 ")"
        Whitespace@501..502 " "
      Arrow@502..504 "->"
      Whitespace@504..505 " "
      TYPE_INT32@505..511
        Int32Keyword@505..510 "int32"
        Whitespace@510..511 " "
      BLOCK@511..538
        LBrace@511..512 "{"
        Whitespace@512..521 "\n        "
        EXPR_BINARY@521..536
          EXPR_IDENT@521..525
            PATH@521..525
              Ident@521..525 "self"
          Dot@525..526 "."
          EXPR_IDENT@526..536
            PATH@526..536
              Ident@526..531 "value"
              Whitespace@531..536 "\n    "
        RBrace@536..537 "}"
        Whitespace@537..538 "\n"
    RBrace@538..539 "}"
    Whitespace@539..541 "\n\n"
  FN@541..724
    FnKeyword@541..543 "fn"
    Whitespace@543..544 " "
    Ident@544..551 "combine"
    GENERIC_LIST@551..573
      LBracket@551..552 "["
      GENERIC@552..561
        Ident@552..553 "A"
        Colon@553..554 ":"
        Whitespace@554..555 " "
        TRAIT_SET@555..561
          TYPE_TAPP@555..561
            PATH@555..561
              Ident@555..561 "Source"
      Comma@561..562 ","
      Whitespace@562..563 " "
      GENERIC@563..572
        Ident@563..564 "B"
        Colon@564..565 ":"
        Whitespace@565..566 " "
        TRAIT_SET@566..572
          TYPE_TAPP@566..572
            PATH@566..572
              Ident@566..572 "Source"
      RBracket@572..573 "]"
    PARAM_LIST@573..593
      LParen@573..574 "("
      PARAM@574..583
        Ident@574..578 "left"
        Colon@578..579 ":"
        Whitespace@579..580 " "
        TYPE_TAPP@580..581
          PATH@580..581
            Ident@580..581 "A"
        Comma@581..582 ","
        Whitespace@582..583 " "
      PARAM@583..591
        Ident@583..588 "right"
        Colon@588..589 ":"
        Whitespace@589..590 " "
        TYPE_TAPP@590..591
          PATH@590..591
            Ident@590..591 "B"
      RParen@591..592 ")"
      Whitespace@592..593 " "
    Arrow@593..595 "->"
    Whitespace@595..596 " "
    TYPE_STRING@596..603
      StringKeyword@596..602 "string"
      Whitespace@602..603 "\n"
    WHERE_CLAUSE@603..652
      WhereKeyword@603..608 "where"
      Whitespace@608..613 "\n    "
      WHERE_PREDICATE@613..631
        TYPE_TAPP@613..621
          PATH@613..621
            Ident@613..614 "A"
            ColonColon@614..616 "::"
            Ident@616..620 "Item"
            Whitespace@620..621 " "
        EqEq@621..623 "=="
        Whitespace@623..624 " "
        TYPE_TAPP@624..631
          PATH@624..631
            Ident@624..625 "B"
            ColonColon@625..627 "::"
            Ident@627..631 "Item"
      Comma@631..632 ","
      Whitespace@632..637 "\n    "
      WHERE_PREDICATE@637..650
        TYPE_TAPP@637..644
          PATH@637..644
            Ident@637..638 "B"
            ColonColon@638..640 "::"
            Ident@640..644 "Item"
        Colon@644..645 ":"
        Whitespace@645..646 " "
        TRAIT_SET@646..650
          TYPE_TAPP@646..650
            PATH@646..650
              Ident@646..650 "Mark"
      Comma@650..651 ","
      Whitespace@651..652 "\n"
    BLOCK@652..724
      LBrace@652..653 "{"
      Whitespace@653..658 "\n    "
      EXPR_BINARY@658..721
        EXPR_BINARY@658..691
          EXPR_CALL@658..685
            EXPR_BINARY@658..682
              EXPR_CALL@658..675
                EXPR_IDENT@658..669
                  PATH@658..669
                    Ident@658..664 "Source"
                    ColonColon@664..666 "::"
                    Ident@666..669 "get"
                ARG_LIST@669..675
                  LParen@669..670 "("
                  ARG@670..674
                    EXPR_IDENT@670..674
                      PATH@670..674
                        Ident@670..674 "left"
                  RParen@674..675 ")"
              Dot@675..676 "."
              EXPR_IDENT@676..682
                PATH@676..682
                  Ident@676..682 "marked"
            ARG_LIST@682..685
              LParen@682..683 "("
              RParen@683..684 ")"
              Whitespace@684..685 " "
          Plus@685..686 "+"
          Whitespace@686..687 " "
          EXPR_STR@687..691
            Str@687..690 "\":\""
            Whitespace@690..691 " "
        Plus@691..692 "+"
        Whitespace@692..693 " "
        EXPR_CALL@693..721
          EXPR_BINARY@693..718
            EXPR_CALL@693..711
              EXPR_IDENT@693..704
                PATH@693..704
                  Ident@693..699 "Source"
                  ColonColon@699..701 "::"
                  Ident@701..704 "get"
              ARG_LIST@704..711
                LParen@704..705 "("
                ARG@705..710
                  EXPR_IDENT@705..710
                    PATH@705..710
                      Ident@705..710 "right"
                RParen@710..711 ")"
            Dot@711..712 "."
            EXPR_IDENT@712..718
              PATH@712..718
                Ident@712..718 "marked"
          ARG_LIST@718..721
            LParen@718..719 "("
            RParen@719..720 ")"
            Whitespace@720..721 "\n"
      RBrace@721..722 "}"
      Whitespace@722..724 "\n\n"
  FN@724..842
    FnKeyword@724..726 "fn"
    Whitespace@726..727 " "
    Ident@727..731 "main"
    PARAM_LIST@731..734
      LParen@731..732 "("
      RParen@732..733 ")"
      Whitespace@733..734 " "
    Arrow@734..736 "->"
    Whitespace@736..737 " "
    TYPE_UNIT@737..742
      UnitKeyword@737..741 "unit"
      Whitespace@741..742 " "
    BLOCK@742..842
      LBrace@742..743 "{"
      Whitespace@743..748 "\n    "
      STMT_EXPR@748..840
        EXPR_CALL@748..838
          EXPR_IDENT@748..755
            PATH@748..755
              Ident@748..755 "println"
          ARG_LIST@755..838
            LParen@755..756 "("
            ARG@756..837
              EXPR_CALL@756..837
                EXPR_IDENT@756..763
                  PATH@756..763
                    Ident@756..763 "combine"
                ARG_LIST@763..837
                  LParen@763..764 "("
                  Whitespace@764..773 "\n        "
                  ARG@773..806
                    EXPR_STRUCT_LITERAL@773..796
                      PATH@773..784
                        Ident@773..783 "LeftSource"
                        Whitespace@783..784 " "
                      STRUCT_LITERAL_FIELD_LIST@784..796
                        LBrace@784..785 "{"
                        Whitespace@785..786 " "
                        STRUCT_LITERAL_FIELD@786..795
                          Ident@786..791 "value"
                          Colon@791..792 ":"
                          Whitespace@792..793 " "
                          EXPR_INT@793..795
                            Int@793..794 "3"
                            Whitespace@794..795 " "
                        RBrace@795..796 "}"
                    Comma@796..797 ","
                    Whitespace@797..806 "\n        "
                  ARG@806..836
                    EXPR_STRUCT_LITERAL@806..830
                      PATH@806..818
                        Ident@806..817 "RightSource"
                        Whitespace@817..818 " "
                      STRUCT_LITERAL_FIELD_LIST@818..830
                        LBrace@818..819 "{"
                        Whitespace@819..820 " "
                        STRUCT_LITERAL_FIELD@820..829
                          Ident@820..825 "value"
                          Colon@825..826 ":"
                          Whitespace@826..827 " "
                          EXPR_INT@827..829
                            Int@827..828 "4"
                            Whitespace@828..829 " "
                        RBrace@829..830 "}"
                    Comma@830..831 ","
                    Whitespace@831..836 "\n    "
                  RParen@836..837 ")"
            RParen@837..838 ")"
        Semi@838..839 ";"
        Whitespace@839..840 "\n"
      RBrace@840..841 "}"
      Whitespace@841..842 "\n"