FILE@0..1643
  STRUCT@0..56
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..14 "Counter"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    STRUCT_FIELD_LIST@21..56
      STRUCT_FIELD@21..34
        Ident@21..26 "start"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_UINT32@28..34
          Uint32Keyword@28..34 "uint32"
      Comma@34..35 ","
      Whitespace@35..40 "\n    "
      STRUCT_FIELD@40..51
        Ident@40..43 "end"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_UINT64@45..51
          Uint64Keyword@45..51 "uint64"
      Comma@51..52 ","
      Whitespace@52..53 "\n"
      RBrace@53..54 "}"
      Whitespace@54..56 "\n\n"
  FN@56..183
    FnKeyword@56..58 "fn"
    Whitespace@58..59 " "
    Ident@59..67 "is_flag8"
    PARAM_LIST@67..82
      LParen@67..68 "("
      PARAM@68..80
        Ident@68..73 "value"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_UINT8@75..80
          Uint8Keyword@75..80 "uint8"
      RParen@80..81 ")"
      Whitespace@81..82 " "
    Arrow@82..84 "->"
    Whitespace@84..85 " "
    TYPE_BOOL@85..90
      BoolKeyword@85..89 "bool"
      Whitespace@89..90 " "
    BLOCK@90..183
      LBrace@90..91 "{"
      Whitespace@91..96 "\n    "
      EXPR_MATCH@96..180
        MatchKeyword@96..101 "match"
        Whitespace@101..102 " "
        EXPR_IDENT@102..108
          PATH@102..108
            Ident@102..107 "value"
            Whitespace@107..108 " "
        MATCH_ARM_LIST@108..180
          LBrace@108..109 "{"
          Whitespace@109..118 "\n        "
          MATCH_ARM@118..129
            PATTERN_UINT8@118..122
              UInt8Lit@118..121 "0u8"
              Whitespace@121..122 " "
            FatArrow@122..124 "=>"
            Whitespace@124..125 " "
            EXPR_BOOL@125..129
              TrueKeyword@125..129 "true"
          Comma@129..130 ","
          Whitespace@130..139 "\n        "
          MATCH_ARM@139..152
            PATTERN_UINT8@139..145
              UInt8Lit@139..144 "200u8"
              Whitespace@144..145 " "
            FatArrow@145..147 "=>"
            Whitespace@147..148 " "
            EXPR_BOOL@148..152
              TrueKeyword@148..152 "true"
          Comma@152..153 ","
          Whitespace@153..162 "\n        "
          MATCH_ARM@162..172
            PATTERN_WILDCARD@162..164
              WildcardKeyword@162..163 "_"
              Whitespace@163..164 " "
            FatArrow@164..166 "=>"
            Whitespace@166..167 " "
            EXPR_BOOL@167..172
              FalseKeyword@167..172 "false"
          Comma@172..173 ","
          Whitespace@173..178 "\n    "
          RBrace@178..179 "}"
          Whitespace@179..180 "\n"
      RBrace@180..181 "}"
      Whitespace@181..183 "\n\n"
  FN@183..319
    FnKeyword@183..185 "fn"
    Whitespace@185..186 " "
    Ident@186..195 "is_flag16"
    PARAM_LIST@195..211
      LParen@195..196 "("
      PARAM@196..209
        Ident@196..201 "value"
        Colon@201..202 ":"
        Whitespace@202..203 " "
        TYPE_UINT16@203..209
          Uint16Keyword@203..209 "uint16"
      RParen@209..210 ")"
      Whitespace@210..211 " "
    Arrow@211..213 "->"
    Whitespace@213..214 " "
    TYPE_BOOL@214..219
      BoolKeyword@214..218 "bool"
      Whitespace@218..219 " "
    BLOCK@219..319
      LBrace@219..220 "{"
      Whitespace@220..225 "\n    "
      EXPR_MATCH@225..316
        MatchKeyword@225..230 "match"
        Whitespace@230..231 " "
        EXPR_IDENT@231..237
          PATH@231..237
            Ident@231..236 "value"
            Whitespace@236..237 " "
        MATCH_ARM_LIST@237..316
          LBrace@237..238 "{"
          Whitespace@238..247 "\n        "
          MATCH_ARM@247..262
            PATTERN_UINT16@247..255
              UInt16Lit@247..254 "1024u16"
              Whitespace@254..255 " "
            FatArrow@255..257 "=>"
            Whitespace@257..258 " "
            EXPR_BOOL@258..262
              TrueKeyword@258..262 "true"
          Comma@262..263 ","
          Whitespace@263..272 "\n        "
          MATCH_ARM@272..288
            PATTERN_UINT16@272..281
              UInt16Lit@272..280 "65000u16"
              Whitespace@280..281 " "
            FatArrow@281..283 "=>"
            Whitespace@283..284 " "
            EXPR_BOOL@284..288
              TrueKeyword@284..288 "true"
          Comma@288..289 ","
          Whitespace@289..298 "\n        "
          MATCH_ARM@298..308
            PATTERN_WILDCARD@298..300
              WildcardKeyword@298..299 "_"
              Whitespace@299..300 " "
            FatArrow@300..302 "=>"
            Whitespace@302..303 " "
            EXPR_BOOL@303..308
              FalseKeyword@303..308 "false"
          Comma@308..309 ","
          Whitespace@309..314 "\n    "
          RBrace@314..315 "}"
          Whitespace@315..316 "\n"
      RBrace@316..317 "}"
      Whitespace@317..319 "\n\n"
  FN@319..466
    FnKeyword@319..321 "fn"
    Whitespace@321..322 " "
    Ident@322..331 "is_flag32"
    PARAM_LIST@331..347
      LParen@331..332 "("
      PARAM@332..345
        Ident@332..337 "value"
        Colon@337..338 ":"
        Whitespace@338..339 " "
        TYPE_UINT32@339..345
          Uint32Keyword@339..345 "uint32"
      RParen@345..346 ")"
      Whitespace@346..347 " "
    Arrow@347..349 "->"
    Whitespace@349..350 " "
    TYPE_BOOL@350..355
      BoolKeyword@350..354 "bool"
      Whitespace@354..355 " "
    BLOCK@355..466
      LBrace@355..356 "{"
      Whitespace@356..361 "\n    "
      EXPR_MATCH@361..463
        MatchKeyword@361..366 "match"
        Whitespace@366..367 " "
        EXPR_IDENT@367..373
          PATH@367..373
            Ident@367..372 "value"
            Whitespace@372..373 " "
        MATCH_ARM_LIST@373..463
          LBrace@373..374 "{"
          Whitespace@374..383 "\n        "
          MATCH_ARM@383..404
            PATTERN_UINT32@383..397
              UInt32Lit@383..396 "4000000000u32"
              Whitespace@396..397 " "
            FatArrow@397..399 "=>"
            Whitespace@399..400 " "
            EXPR_BOOL@400..404
              TrueKeyword@400..404 "true"
          Comma@404..405 ","
          Whitespace@405..414 "\n        "
          MATCH_ARM@414..435
            PATTERN_UINT32@414..428
              UInt32Lit@414..427 "1234567890u32"
              Whitespace@427..428 " "
            FatArrow@428..430 "=>"
            Whitespace@430..431 " "
            EXPR_BOOL@431..435
              TrueKeyword@431..435 "true"
          Comma@435..436 ","
          Whitespace@436..445 "\n        "
          MATCH_ARM@445..455
            PATTERN_WILDCARD@445..447
              WildcardKeyword@445..446 "_"
              Whitespace@446..447 " "
            FatArrow@447..449 "=>"
            Whitespace@449..450 " "
            EXPR_BOOL@450..455
              FalseKeyword@450..455 "false"
          Comma@455..456 ","
          Whitespace@456..461 "\n    "
          RBrace@461..462 "}"
          Whitespace@462..463 "\n"
      RBrace@463..464 "}"
      Whitespace@464..466 "\n\n"
  FN@466..611
    FnKeyword@466..468 "fn"
    Whitespace@468..469 " "
    Ident@469..478 "is_flag64"
    PARAM_LIST@478..494
      LParen@478..479 "("
      PARAM@479..492
        Ident@479..484 "value"
        Colon@484..485 ":"
        Whitespace@485..486 " "
        TYPE_UINT64@486..492
          Uint64Keyword@486..492 "uint64"
      RParen@492..493 ")"
      Whitespace@493..494 " "
    Arrow@494..496 "->"
    Whitespace@496..497 " "
    TYPE_BOOL@497..502
      BoolKeyword@497..501 "bool"
      Whitespace@501..502 " "
    BLOCK@502..611
      LBrace@502..503 "{"
      Whitespace@503..508 "\n    "
      EXPR_MATCH@508..608
        MatchKeyword@508..513 "match"
        Whitespace@513..514 " "
        EXPR_IDENT@514..520
          PATH@514..520
            Ident@514..519 "value"
            Whitespace@519..520 " "
        MATCH_ARM_LIST@520..608
          LBrace@520..521 "{"
          Whitespace@521..530 "\n        "
          MATCH_ARM@530..550
            PATTERN_UINT64@530..543
              UInt64Lit@530..542 "900000000u64"
              Whitespace@542..543 " "
            FatArrow@543..545 "=>"
            Whitespace@545..546 " "
            EXPR_BOOL@546..550
              TrueKeyword@546..550 "true"
          Comma@550..551 ","
          Whitespace@551..560 "\n        "
          MATCH_ARM@560..580
            PATTERN_UINT64@560..573
              UInt64Lit@560..572 "600000000u64"
              Whitespace@572..573 " "
            FatArrow@573..575 "=>"
            Whitespace@575..576 " "
            EXPR_BOOL@576..580
              TrueKeyword@576..580 "true"
          Comma@580..581 ","
          Whitespace@581..590 "\n        "
          MATCH_ARM@590..600
            PATTERN_WILDCARD@590..592
              WildcardKeyword@590..591 "_"
              Whitespace@591..592 " "
            FatArrow@592..594 "=>"
            Whitespace@594..595 " "
            EXPR_BOOL@595..600
              FalseKeyword@595..600 "false"
          Comma@600..601 ","
          Whitespace@601..606 "\n    "
          RBrace@606..607 "}"
          Whitespace@607..608 "\n"
      RBrace@608..609 "}"
      Whitespace@609..611 "\n\n"
  FN@611..830
    FnKeyword@611..613 "fn"
    Whitespace@613..614 " "
    Ident@614..626 "match_struct"
    PARAM_LIST@626..645
      LParen@626..627 "("
      PARAM@627..643
        Ident@627..634 "counter"
        Colon@634..635 ":"
        Whitespace@635..636 " "
        TYPE_TAPP@636..643
          PATH@636..643
            Ident@636..643 "Counter"
      RParen@643..644 ")"
      Whitespace@644..645 " "
    Arrow@645..647 "->"
    Whitespace@647..648 " "
    TYPE_BOOL@648..653
      BoolKeyword@648..652 "bool"
      Whitespace@652..653 " "
    BLOCK@653..830
      LBrace@653..654 "{"
      Whitespace@654..659 "\n    "
      EXPR_MATCH@659..827
        MatchKeyword@659..664 "match"
        Whitespace@664..665 " "
        EXPR_IDENT@665..673
          PATH@665..673
            Ident@665..672 "counter"
            Whitespace@672..673 " "
        MATCH_ARM_LIST@673..827
          LBrace@673..674 "{"
          Whitespace@674..683 "\n        "
          MATCH_ARM@683..742
            PATTERN_CONSTR@683..735
              PATH@683..691
                Ident@683..690 "Counter"
                Whitespace@690..691 " "
              STRUCT_PATTERN_FIELD_LIST@691..735
                LBrace@691..692 "{"
                Whitespace@692..693 " "
                STRUCT_PATTERN_FIELD@693..713
                  Ident@693..698 "start"
                  Colon@698..699 ":"
                  Whitespace@699..700 " "
                  PATTERN_UINT32@700..713
                    UInt32Lit@700..713 "4000000000u32"
                Comma@713..714 ","
                Whitespace@714..715 " "
                STRUCT_PATTERN_FIELD@715..733
                  Ident@715..718 "end"
                  Colon@718..719 ":"
                  Whitespace@719..720 " "
                  PATTERN_UINT64@720..733
                    UInt64Lit@720..732 "900000000u64"
                    Whitespace@732..733 " "
                RBrace@733..734 "}"
                Whitespace@734..735 " "
            FatArrow@735..737 "=>"
            Whitespace@737..738 " "
            EXPR_BOOL@738..742
              TrueKeyword@738..742 "true"
          Comma@742..743 ","
          Whitespace@743..752 "\n        "
          MATCH_ARM@752..799
            PATTERN_CONSTR@752..792
              PATH@752..760
                Ident@752..759 "Counter"
                Whitespace@759..760 " "
              STRUCT_PATTERN_FIELD_LIST@760..792
                LBrace@760..761 "{"
                Whitespace@761..762 " "
                STRUCT_PATTERN_FIELD@762..770
                  Ident@762..767 "start"
                  Colon@767..768 ":"
                  Whitespace@768..769 " "
                  PATTERN_WILDCARD@769..770
                    WildcardKeyword@769..770 "_"
                Comma@770..771 ","
                Whitespace@771..772 " "
                STRUCT_PATTERN_FIELD@772..790
                  Ident@772..775 "end"
                  Colon@775..776 ":"
                  Whitespace@776..777 " "
                  PATTERN_UINT64@777..790
                    UInt64Lit@777..789 "600000000u64"
                    Whitespace@789..790 " "
                RBrace@790..791 "}"
                Whitespace@791..792 " "
            FatArrow@792..794 "=>"
            Whitespace@794..795 " "
            EXPR_BOOL@795..799
              TrueKeyword@795..799 "true"
          Comma@799..800 ","
          Whitespace@800..809 "\n        "
          MATCH_ARM@809..819
            PATTERN_WILDCARD@809..811
              WildcardKeyword@809..810 "_"
              Whitespace@810..811 " "
            FatArrow@811..813 "=>"
            Whitespace@813..814 " "
            EXPR_BOOL@814..819
              FalseKeyword@814..819 "false"
          Comma@819..820 ","
          Whitespace@820..825 "\n    "
          RBrace@825..826 "}"
          Whitespace@826..827 "\n"
      RBrace@827..828 "}"
      Whitespace@828..830 "\n\n"
  FN@830..915
    FnKeyword@830..832 "fn"
    Whitespace@832..833 " "
    Ident@833..839 "report"
    PARAM_LIST@839..868
      LParen@839..840 "("
      PARAM@840..855
        Ident@840..845 "label"
        Colon@845..846 ":"
        Whitespace@846..847 " "
        TYPE_STRING@847..853
          StringKeyword@847..853 "string"
        Comma@853..854 ","
        Whitespace@854..855 " "
      PARAM@855..866
        Ident@855..860 "value"
        Colon@860..861 ":"
        Whitespace@861..862 " "
        TYPE_BOOL@862..866
          BoolKeyword@862..866 "bool"
      RParen@866..867 ")"
      Whitespace@867..868 " "
    Arrow@868..870 "->"
    Whitespace@870..871 " "
    TYPE_STRING@871..878
      StringKeyword@871..877 "string"
      Whitespace@877..878 " "
    BLOCK@878..915
      LBrace@878..879 "{"
      Whitespace@879..884 "\n    "
      EXPR_BINARY@884..912
        EXPR_IDENT@884..890
          PATH@884..890
            Ident@884..889 "label"
            Whitespace@889..890 " "
        Plus@890..891 "+"
        Whitespace@891..892 " "
        EXPR_CALL@892..912
          EXPR_BINARY@892..909
            EXPR_PAREN@892..899
              LParen@892..893 "("
              EXPR_IDENT@893..898
                PATH@893..898
                  Ident@893..898 "value"
              RParen@898..899 ")"
            Dot@899..900 "."
            EXPR_IDENT@900..909
              PATH@900..909
                Ident@900..909 "to_string"
          ARG_LIST@909..912
            LParen@909..910 "("
            RParen@910..911 ")"
            Whitespace@911..912 "\n"
      RBrace@912..913 "}"
      Whitespace@913..915 "\n\n"
  FN@915..1643
    FnKeyword@915..917 "fn"
    Whitespace@917..918 " "
    Ident@918..922 "main"
    PARAM_LIST@922..925
      LParen@922..923 "("
      RParen@923..924 ")"
      Whitespace@924..925 " "
    BLOCK@925..1643
      LBrace@925..926 "{"
      Whitespace@926..931 "\n    "
      STMT_LET@931..1002
        LetKeyword@931..934 "let"
        Whitespace@934..935 " "
        PATTERN_VARIABLE@935..943
          Ident@935..942 "counter"
          Whitespace@942..943 " "
        Eq@943..944 "="
        Whitespace@944..945 " "
        EXPR_STRUCT_LITERAL@945..996
          PATH@945..953
            Ident@945..952 "Counter"
            Whitespace@952..953 " "
          STRUCT_LITERAL_FIELD_LIST@953..996
            LBrace@953..954 "{"
            Whitespace@954..955 " "
            STRUCT_LITERAL_FIELD@955..975
              Ident@955..960 "start"
              Colon@960..961 ":"
              Whitespace@961..962 " "
              EXPR_UINT32@962..975
                UInt32Lit@962..975 "4000000000u32"
            Comma@975..976 ","
            Whitespace@976..977 " "
            STRUCT_LITERAL_FIELD@977..995
              Ident@977..980 "end"
              Colon@980..981 ":"
              Whitespace@981..982 " "
              EXPR_UINT64@982..995
                UInt64Lit@982..994 "900000000u64"
                Whitespace@994..995 " "
            RBrace@995..996 "}"
        Semi@996..997 ";"
        Whitespace@997..1002 "\n    "
      STMT_LET@1002..1070
        LetKeyword@1002..1005 "let"
        Whitespace@1005..1006 " "
        PATTERN_VARIABLE@1006..1018
          Ident@1006..1017 "alt_counter"
          Whitespace@1017..1018 " "
        Eq@1018..1019 "="
        Whitespace@1019..1020 " "
        EXPR_STRUCT_LITERAL@1020..1063
          PATH@1020..1028
            Ident@1020..1027 "Counter"
            Whitespace@1027..1028 " "
          STRUCT_LITERAL_FIELD_LIST@1028..1063
            LBrace@1028..1029 "{"
            Whitespace@1029..1030 " "
            STRUCT_LITERAL_FIELD@1030..1042
              Ident@1030..1035 "start"
              Colon@1035..1036 ":"
              Whitespace@1036..1037 " "
              EXPR_UINT32@1037..1042
                UInt32Lit@1037..1042 "12u32"
            Comma@1042..1043 ","
            Whitespace@1043..1044 " "
            STRUCT_LITERAL_FIELD@1044..1062
              Ident@1044..1047 "end"
              Colon@1047..1048 ":"
              Whitespace@1048..1049 " "
              EXPR_UINT64@1049..1062
                UInt64Lit@1049..1061 "600000000u64"
                Whitespace@1061..1062 " "
            RBrace@1062..1063 "}"
        Semi@1063..1064 ";"
        Whitespace@1064..1070 "\n\n    "
      STMT_LET@1070..1608
        LetKeyword@1070..1073 "let"
        Whitespace@1073..1074 " "
        PATTERN_VARIABLE@1074..1082
          Ident@1074..1081 "message"
          Whitespace@1081..1082 " "
        Eq@1082..1083 "="
        Whitespace@1083..1084 " "
        EXPR_BINARY@1084..1601
          EXPR_BINARY@1084..1547
            EXPR_BINARY@1084..1489
              EXPR_BINARY@1084..1433
                EXPR_BINARY@1084..1378
                  EXPR_BINARY@1084..1329
                    EXPR_BINARY@1084..1273
                      EXPR_BINARY@1084..1224
                        EXPR_BINARY@1084..1173
                          EXPR_CALL@1084..1127
                            EXPR_IDENT@1084..1090
                              PATH@1084..1090
                                Ident@1084..1090 "report"
                            ARG_LIST@1090..1127
                              LParen@1090..1091 "("
                              ARG@1091..1102
                                EXPR_STR@1091..1100
                                  Str@1091..1100 "\"u8_hit=\""
                                Comma@1100..1101 ","
                                Whitespace@1101..1102 " "
                              ARG@1102..1117
                                EXPR_CALL@1102..1117
                                  EXPR_IDENT@1102..1110
                                    PATH@1102..1110
                                      Ident@1102..1110 "is_flag8"
                                  ARG_LIST@1110..1117
                                    LParen@1110..1111 "("
                                    ARG@1111..1116
                                      EXPR_UINT8@1111..1116
                                        UInt8Lit@1111..1116 "200u8"
                                    RParen@1116..1117 ")"
                              RParen@1117..1118 ")"
                              Whitespace@1118..1127 "\n        "
                          Plus@1127..1128 "+"
                          Whitespace@1128..1129 " "
                          EXPR_CALL@1129..1173
                            EXPR_IDENT@1129..1135
                              PATH@1129..1135
                                Ident@1129..1135 "report"
                            ARG_LIST@1135..1173
                              LParen@1135..1136 "("
                              ARG@1136..1149
                                EXPR_STR@1136..1147
                                  Str@1136..1147 "\",u8_miss=\""
                                Comma@1147..1148 ","
                                Whitespace@1148..1149 " "
                              ARG@1149..1163
                                EXPR_CALL@1149..1163
                                  EXPR_IDENT@1149..1157
                                    PATH@1149..1157
                                      Ident@1149..1157 "is_flag8"
                                  ARG_LIST@1157..1163
                                    LParen@1157..1158 "("
                                    ARG@1158..1162
                                      EXPR_UINT8@1158..1162
                                        UInt8Lit@1158..1162 "15u8"
                                    RParen@1162..1163 ")"
                              RParen@1163..1164 ")"
                              Whitespace@1164..1173 "\n        "
                        Plus@1173..1174 "+"
                        Whitespace@1174..1175 " "
                        EXPR_CALL@1175..1224
                          EXPR_IDENT@1175..1181
                            PATH@1175..1181
                              Ident@1175..1181 "report"
                          ARG_LIST@1181..1224
                            LParen@1181..1182 "("
                            ARG@1182..1195
                              EXPR_STR@1182..1193
                                Str@1182..1193 "\",u16_hit=\""
                              Comma@1193..1194 ","
                              Whitespace@1194..1195 " "
                            ARG@1195..1214
                              EXPR_CALL@1195..1214
                                EXPR_IDENT@1195..1204
                                  PATH@1195..1204
                                    Ident@1195..1204 "is_flag16"
                                ARG_LIST@1204..1214
                                  LParen@1204..1205 "("
                                  ARG@1205..1213
                                    EXPR_UINT16@1205..1213
                                      UInt16Lit@1205..1213 "65000u16"
                                  RParen@1213..1214 ")"
                            RParen@1214..1215 ")"
                            Whitespace@1215..1224 "\n        "
                      Plus@1224..1225 "+"
                      Whitespace@1225..1226 " "
                      EXPR_CALL@1226..1273
                        EXPR_IDENT@1226..1232
                          PATH@1226..1232
                            Ident@1226..1232 "report"
                        ARG_LIST@1232..1273
                          LParen@1232..1233 "("
                          ARG@1233..1247
                            EXPR_STR@1233..1245
                              Str@1233..1245 "\",u16_miss=\""
                            Comma@1245..1246 ","
                            Whitespace@1246..1247 " "
                          ARG@1247..1263
                            EXPR_CALL@1247..1263
                              EXPR_IDENT@1247..1256
                                PATH@1247..1256
                                  Ident@1247..1256 "is_flag16"
                              ARG_LIST@1256..1263
                                LParen@1256..1257 "("
                                ARG@1257..1262
                                  EXPR_UINT16@1257..1262
                                    UInt16Lit@1257..1262 "42u16"
                                RParen@1262..1263 ")"
                          RParen@1263..1264 ")"
                          Whitespace@1264..1273 "\n        "
                    Plus@1273..1274 "+"
                    Whitespace@1274..1275 " "
                    EXPR_CALL@1275..1329
                      EXPR_IDENT@1275..1281
                        PATH@1275..1281
                          Ident@1275..1281 "report"
                      ARG_LIST@1281..1329
                        LParen@1281..1282 "("
                        ARG@1282..1295
                          EXPR_STR@1282..1293
                            Str@1282..1293 "\",u32_hit=\""
                          Comma@1293..1294 ","
                          Whitespace@1294..1295 " "
                        ARG@1295..1319
                          EXPR_CALL@1295..1319
                            EXPR_IDENT@1295..1304
                              PATH@1295..1304
                                Ident@1295..1304 "is_flag32"
                            ARG_LIST@1304..1319
                              LParen@1304..1305 "("
                              ARG@1305..1318
                                EXPR_UINT32@1305..1318
                                  UInt32Lit@1305..1318 "1234567890u32"
                              RParen@1318..1319 ")"
                        RParen@1319..1320 ")"
                        Whitespace@1320..1329 "\n        "
                  Plus@1329..1330 "+"
                  Whitespace@1330..1331 " "
                  EXPR_CALL@1331..1378
                    EXPR_IDENT@1331..1337
                      PATH@1331..1337
                        Ident@1331..1337 "report"
                    ARG_LIST@1337..1378
                      LParen@1337..1338 "("
                      ARG@1338..1352
                        EXPR_STR@1338..1350
                          Str@1338..1350 "\",u32_miss=\""
                        Comma@1350..1351 ","
                        Whitespace@1351..1352 " "
                      ARG@1352..1368
                        EXPR_CALL@1352..1368
                          EXPR_IDENT@1352..1361
                            PATH@1352..1361
                              Ident@1352..1361 "is_flag32"
                          ARG_LIST@1361..1368
                            LParen@1361..1362 "("
                            ARG@1362..1367
                              EXPR_UINT32@1362..1367
                                UInt32Lit@1362..1367 "99u32"
                            RParen@1367..1368 ")"
                      RParen@1368..1369 ")"
                      Whitespace@1369..1378 "\n        "
                Plus@1378..1379 "+"
                Whitespace@1379..1380 " "
                EXPR_CALL@1380..1433
                  EXPR_IDENT@1380..1386
                    PATH@1380..1386
                      Ident@1380..1386 "report"
                  ARG_LIST@1386..1433
                    LParen@1386..1387 "("
                    ARG@1387..1400
                      EXPR_STR@1387..1398
                        Str@1387..1398 "\",u64_hit=\""
                      Comma@1398..1399 ","
                      Whitespace@1399..1400 " "
                    ARG@1400..1423
                      EXPR_CALL@1400..1423
                        EXPR_IDENT@1400..1409
                          PATH@1400..1409
                            Ident@1400..1409 "is_flag64"
                        ARG_LIST@1409..1423
                          LParen@1409..1410 "("
                          ARG@1410..1422
                            EXPR_UINT64@1410..1422
                              UInt64Lit@1410..1422 "900000000u64"
                          RParen@1422..1423 ")"
                    RParen@1423..1424 ")"
                    Whitespace@1424..1433 "\n        "
              Plus@1433..1434 "+"
              Whitespace@1434..1435 " "
              EXPR_CALL@1435..1489
                EXPR_IDENT@1435..1441
                  PATH@1435..1441
                    Ident@1435..1441 "report"
                ARG_LIST@1441..1489
                  LParen@1441..1442 "("
                  ARG@1442..1456
                    EXPR_STR@1442..1454
                      Str@1442..1454 "\",u64_miss=\""
                    Comma@1454..1455 ","
                    Whitespace@1455..1456 " "
                  ARG@1456..1479
                    EXPR_CALL@1456..1479
                      EXPR_IDENT@1456..1465
                        PATH@1456..1465
                          Ident@1456..1465 "is_flag64"
                      ARG_LIST@1465..1479
                        LParen@1465..1466 "("
                        ARG@1466..1478
                          EXPR_UINT64@1466..1478
                            UInt64Lit@1466..1478 "700000000u64"
                        RParen@1478..1479 ")"
                  RParen@1479..1480 ")"
                  Whitespace@1480..1489 "\n        "
            Plus@1489..1490 "+"
            Whitespace@1490..1491 " "
            EXPR_CALL@1491..1547
              EXPR_IDENT@1491..1497
                PATH@1491..1497
                  Ident@1491..1497 "report"
              ARG_LIST@1497..1547
                LParen@1497..1498 "("
                ARG@1498..1516
                  EXPR_STR@1498..1514
                    Str@1498..1514 "\",struct_first=\""
                  Comma@1514..1515 ","
                  Whitespace@1515..1516 " "
                ARG@1516..1537
                  EXPR_CALL@1516..1537
                    EXPR_IDENT@1516..1528
                      PATH@1516..1528
                        Ident@1516..1528 "match_struct"
                    ARG_LIST@1528..1537
                      LParen@1528..1529 "("
                      ARG@1529..1536
                        EXPR_IDENT@1529..1536
                          PATH@1529..1536
                            Ident@1529..1536 "counter"
                      RParen@1536..1537 ")"
                RParen@1537..1538 ")"
                Whitespace@1538..1547 "\n        "
          Plus@1547..1548 "+"
          Whitespace@1548..1549 " "
          EXPR_CALL@1549..1601
            EXPR_IDENT@1549..1555
              PATH@1549..1555
                Ident@1549..1555 "report"
            ARG_LIST@1555..1601
              LParen@1555..1556 "("
              ARG@1556..1575
                EXPR_STR@1556..1573
                  Str@1556..1573 "\",struct_second=\""
                Comma@1573..1574 ","
                Whitespace@1574..1575 " "
              ARG@1575..1600
                EXPR_CALL@1575..1600
                  EXPR_IDENT@1575..1587
                    PATH@1575..1587
                      Ident@1575..1587 "match_struct"
                  ARG_LIST@1587..1600
                    LParen@1587..1588 "("
                    ARG@1588..1599
                      EXPR_IDENT@1588..1599
                        PATH@1588..1599
                          Ident@1588..1599 "alt_counter"
                    RParen@1599..1600 ")"
              RParen@1600..1601 ")"
        Semi@1601..1602 ";"
        Whitespace@1602..1608 "\n\n    "
      STMT_LET@1608..1638
        LetKeyword@1608..1611 "let"
        Whitespace@1611..1612 " "
        PATTERN_WILDCARD@1612..1614
          WildcardKeyword@1612..1613 "_"
          Whitespace@1613..1614 " "
        Eq@1614..1615 "="
        Whitespace@1615..1616 " "
        EXPR_CALL@1616..1632
          EXPR_IDENT@1616..1623
            PATH@1616..1623
              Ident@1616..1623 "println"
          ARG_LIST@1623..1632
            LParen@1623..1624 "("
            ARG@1624..1631
              EXPR_IDENT@1624..1631
                PATH@1624..1631
                  Ident@1624..1631 "message"
            RParen@1631..1632 ")"
        Semi@1632..1633 ";"
        Whitespace@1633..1638 "\n    "
      EXPR_UNIT@1638..1641
        LParen@1638..1639 "("
        RParen@1639..1640 ")"
        Whitespace@1640..1641 "\n"
      RBrace@1641..1642 "}"
      Whitespace@1642..1643 "\n"