FILE@0..1576
  STRUCT@0..56
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..14 "Counter"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    STRUCT_FIELD_LIST@21..56
      STRUCT_FIELD@21..34
        Ident@21..26 "start"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_UINT32@28..34
          Uint32Keyword@28..34 "uint32"
      Comma@34..35 ","
      Whitespace@35..40 "\n    "
      STRUCT_FIELD@40..51
        Ident@40..43 "end"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_UINT64@45..51
          Uint64Keyword@45..51 "uint64"
      Comma@51..52 ","
      Whitespace@52..53 "\n"
      RBrace@53..54 "}"
      Whitespace@54..56 "\n\n"
  FN@56..179
    FnKeyword@56..58 "fn"
    Whitespace@58..59 " "
    Ident@59..67 "is_flag8"
    PARAM_LIST@67..82
      LParen@67..68 "("
      PARAM@68..80
        Ident@68..73 "value"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_UINT8@75..80
          Uint8Keyword@75..80 "uint8"
      RParen@80..81 ")"
      Whitespace@81..82 " "
    Arrow@82..84 "->"
    Whitespace@84..85 " "
    TYPE_BOOL@85..90
      BoolKeyword@85..89 "bool"
      Whitespace@89..90 " "
    BLOCK@90..179
      LBrace@90..91 "{"
      Whitespace@91..96 "\n    "
      EXPR_MATCH@96..176
        MatchKeyword@96..101 "match"
        Whitespace@101..102 " "
        EXPR_IDENT@102..108
          PATH@102..108
            Ident@102..107 "value"
            Whitespace@107..108 " "
        MATCH_ARM_LIST@108..176
          LBrace@108..109 "{"
          Whitespace@109..118 "\n        "
          MATCH_ARM@118..127
            PATTERN_INT@118..120
              Int@118..119 "0"
              Whitespace@119..120 " "
            FatArrow@120..122 "=>"
            Whitespace@122..123 " "
            EXPR_BOOL@123..127
              TrueKeyword@123..127 "true"
          Comma@127..128 ","
          Whitespace@128..137 "\n        "
          MATCH_ARM@137..148
            PATTERN_INT@137..141
              Int@137..140 "200"
              Whitespace@140..141 " "
            FatArrow@141..143 "=>"
            Whitespace@143..144 " "
            EXPR_BOOL@144..148
              TrueKeyword@144..148 "true"
          Comma@148..149 ","
          Whitespace@149..158 "\n        "
          MATCH_ARM@158..168
            PATTERN_WILDCARD@158..160
              WildcardKeyword@158..159 "_"
              Whitespace@159..160 " "
            FatArrow@160..162 "=>"
            Whitespace@162..163 " "
            EXPR_BOOL@163..168
              FalseKeyword@163..168 "false"
          Comma@168..169 ","
          Whitespace@169..174 "\n    "
          RBrace@174..175 "}"
          Whitespace@175..176 "\n"
      RBrace@176..177 "}"
      Whitespace@177..179 "\n\n"
  FN@179..309
    FnKeyword@179..181 "fn"
    Whitespace@181..182 " "
    Ident@182..191 "is_flag16"
    PARAM_LIST@191..207
      LParen@191..192 "("
      PARAM@192..205
        Ident@192..197 "value"
        Colon@197..198 ":"
        Whitespace@198..199 " "
        TYPE_UINT16@199..205
          Uint16Keyword@199..205 "uint16"
      RParen@205..206 ")"
      Whitespace@206..207 " "
    Arrow@207..209 "->"
    Whitespace@209..210 " "
    TYPE_BOOL@210..215
      BoolKeyword@210..214 "bool"
      Whitespace@214..215 " "
    BLOCK@215..309
      LBrace@215..216 "{"
      Whitespace@216..221 "\n    "
      EXPR_MATCH@221..306
        MatchKeyword@221..226 "match"
        Whitespace@226..227 " "
        EXPR_IDENT@227..233
          PATH@227..233
            Ident@227..232 "value"
            Whitespace@232..233 " "
        MATCH_ARM_LIST@233..306
          LBrace@233..234 "{"
          Whitespace@234..243 "\n        "
          MATCH_ARM@243..255
            PATTERN_INT@243..248
              Int@243..247 "1024"
              Whitespace@247..248 " "
            FatArrow@248..250 "=>"
            Whitespace@250..251 " "
            EXPR_BOOL@251..255
              TrueKeyword@251..255 "true"
          Comma@255..256 ","
          Whitespace@256..265 "\n        "
          MATCH_ARM@265..278
            PATTERN_INT@265..271
              Int@265..270 "65000"
              Whitespace@270..271 " "
            FatArrow@271..273 "=>"
            Whitespace@273..274 " "
            EXPR_BOOL@274..278
              TrueKeyword@274..278 "true"
          Comma@278..279 ","
          Whitespace@279..288 "\n        "
          MATCH_ARM@288..298
            PATTERN_WILDCARD@288..290
              WildcardKeyword@288..289 "_"
              Whitespace@289..290 " "
            FatArrow@290..292 "=>"
            Whitespace@292..293 " "
            EXPR_BOOL@293..298
              FalseKeyword@293..298 "false"
          Comma@298..299 ","
          Whitespace@299..304 "\n    "
          RBrace@304..305 "}"
          Whitespace@305..306 "\n"
      RBrace@306..307 "}"
      Whitespace@307..309 "\n\n"
  FN@309..450
    FnKeyword@309..311 "fn"
    Whitespace@311..312 " "
    Ident@312..321 "is_flag32"
    PARAM_LIST@321..337
      LParen@321..322 "("
      PARAM@322..335
        Ident@322..327 "value"
        Colon@327..328 ":"
        Whitespace@328..329 " "
        TYPE_UINT32@329..335
          Uint32Keyword@329..335 "uint32"
      RParen@335..336 ")"
      Whitespace@336..337 " "
    Arrow@337..339 "->"
    Whitespace@339..340 " "
    TYPE_BOOL@340..345
      BoolKeyword@340..344 "bool"
      Whitespace@344..345 " "
    BLOCK@345..450
      LBrace@345..346 "{"
      Whitespace@346..351 "\n    "
      EXPR_MATCH@351..447
        MatchKeyword@351..356 "match"
        Whitespace@356..357 " "
        EXPR_IDENT@357..363
          PATH@357..363
            Ident@357..362 "value"
            Whitespace@362..363 " "
        MATCH_ARM_LIST@363..447
          LBrace@363..364 "{"
          Whitespace@364..373 "\n        "
          MATCH_ARM@373..391
            PATTERN_INT@373..384
              Int@373..383 "4000000000"
              Whitespace@383..384 " "
            FatArrow@384..386 "=>"
            Whitespace@386..387 " "
            EXPR_BOOL@387..391
              TrueKeyword@387..391 "true"
          Comma@391..392 ","
          Whitespace@392..401 "\n        "
          MATCH_ARM@401..419
            PATTERN_INT@401..412
              Int@401..411 "1234567890"
              Whitespace@411..412 " "
            FatArrow@412..414 "=>"
            Whitespace@414..415 " "
            EXPR_BOOL@415..419
              TrueKeyword@415..419 "true"
          Comma@419..420 ","
          Whitespace@420..429 "\n        "
          MATCH_ARM@429..439
            PATTERN_WILDCARD@429..431
              WildcardKeyword@429..430 "_"
              Whitespace@430..431 " "
            FatArrow@431..433 "=>"
            Whitespace@433..434 " "
            EXPR_BOOL@434..439
              FalseKeyword@434..439 "false"
          Comma@439..440 ","
          Whitespace@440..445 "\n    "
          RBrace@445..446 "}"
          Whitespace@446..447 "\n"
      RBrace@447..448 "}"
      Whitespace@448..450 "\n\n"
  FN@450..589
    FnKeyword@450..452 "fn"
    Whitespace@452..453 " "
    Ident@453..462 "is_flag64"
    PARAM_LIST@462..478
      LParen@462..463 "("
      PARAM@463..476
        Ident@463..468 "value"
        Colon@468..469 ":"
        Whitespace@469..470 " "
        TYPE_UINT64@470..476
          Uint64Keyword@470..476 "uint64"
      RParen@476..477 ")"
      Whitespace@477..478 " "
    Arrow@478..480 "->"
    Whitespace@480..481 " "
    TYPE_BOOL@481..486
      BoolKeyword@481..485 "bool"
      Whitespace@485..486 " "
    BLOCK@486..589
      LBrace@486..487 "{"
      Whitespace@487..492 "\n    "
      EXPR_MATCH@492..586
        MatchKeyword@492..497 "match"
        Whitespace@497..498 " "
        EXPR_IDENT@498..504
          PATH@498..504
            Ident@498..503 "value"
            Whitespace@503..504 " "
        MATCH_ARM_LIST@504..586
          LBrace@504..505 "{"
          Whitespace@505..514 "\n        "
          MATCH_ARM@514..531
            PATTERN_INT@514..524
              Int@514..523 "900000000"
              Whitespace@523..524 " "
            FatArrow@524..526 "=>"
            Whitespace@526..527 " "
            EXPR_BOOL@527..531
              TrueKeyword@527..531 "true"
          Comma@531..532 ","
          Whitespace@532..541 "\n        "
          MATCH_ARM@541..558
            PATTERN_INT@541..551
              Int@541..550 "600000000"
              Whitespace@550..551 " "
            FatArrow@551..553 "=>"
            Whitespace@553..554 " "
            EXPR_BOOL@554..558
              TrueKeyword@554..558 "true"
          Comma@558..559 ","
          Whitespace@559..568 "\n        "
          MATCH_ARM@568..578
            PATTERN_WILDCARD@568..570
              WildcardKeyword@568..569 "_"
              Whitespace@569..570 " "
            FatArrow@570..572 "=>"
            Whitespace@572..573 " "
            EXPR_BOOL@573..578
              FalseKeyword@573..578 "false"
          Comma@578..579 ","
          Whitespace@579..584 "\n    "
          RBrace@584..585 "}"
          Whitespace@585..586 "\n"
      RBrace@586..587 "}"
      Whitespace@587..589 "\n\n"
  FN@589..799
    FnKeyword@589..591 "fn"
    Whitespace@591..592 " "
    Ident@592..604 "match_struct"
    PARAM_LIST@604..623
      LParen@604..605 "("
      PARAM@605..621
        Ident@605..612 "counter"
        Colon@612..613 ":"
        Whitespace@613..614 " "
        TYPE_TAPP@614..621
          PATH@614..621
            Ident@614..621 "Counter"
      RParen@621..622 ")"
      Whitespace@622..623 " "
    Arrow@623..625 "->"
    Whitespace@625..626 " "
    TYPE_BOOL@626..631
      BoolKeyword@626..630 "bool"
      Whitespace@630..631 " "
    BLOCK@631..799
      LBrace@631..632 "{"
      Whitespace@632..637 "\n    "
      EXPR_MATCH@637..796
        MatchKeyword@637..642 "match"
        Whitespace@642..643 " "
        EXPR_IDENT@643..651
          PATH@643..651
            Ident@643..650 "counter"
            Whitespace@650..651 " "
        MATCH_ARM_LIST@651..796
          LBrace@651..652 "{"
          Whitespace@652..661 "\n        "
          MATCH_ARM@661..714
            PATTERN_CONSTR@661..707
              PATH@661..669
                Ident@661..668 "Counter"
                Whitespace@668..669 " "
              STRUCT_PATTERN_FIELD_LIST@669..707
                LBrace@669..670 "{"
                Whitespace@670..671 " "
                STRUCT_PATTERN_FIELD@671..688
                  Ident@671..676 "start"
                  Colon@676..677 ":"
                  Whitespace@677..678 " "
                  PATTERN_INT@678..688
                    Int@678..688 "4000000000"
                Comma@688..689 ","
                Whitespace@689..690 " "
                STRUCT_PATTERN_FIELD@690..705
                  Ident@690..693 "end"
                  Colon@693..694 ":"
                  Whitespace@694..695 " "
                  PATTERN_INT@695..705
                    Int@695..704 "900000000"
                    Whitespace@704..705 " "
                RBrace@705..706 "}"
                Whitespace@706..707 " "
            FatArrow@707..709 "=>"
            Whitespace@709..710 " "
            EXPR_BOOL@710..714
              TrueKeyword@710..714 "true"
          Comma@714..715 ","
          Whitespace@715..724 "\n        "
          MATCH_ARM@724..768
            PATTERN_CONSTR@724..761
              PATH@724..732
                Ident@724..731 "Counter"
                Whitespace@731..732 " "
              STRUCT_PATTERN_FIELD_LIST@732..761
                LBrace@732..733 "{"
                Whitespace@733..734 " "
                STRUCT_PATTERN_FIELD@734..742
                  Ident@734..739 "start"
                  Colon@739..740 ":"
                  Whitespace@740..741 " "
                  PATTERN_WILDCARD@741..742
                    WildcardKeyword@741..742 "_"
                Comma@742..743 ","
                Whitespace@743..744 " "
                STRUCT_PATTERN_FIELD@744..759
                  Ident@744..747 "end"
                  Colon@747..748 ":"
                  Whitespace@748..749 " "
                  PATTERN_INT@749..759
                    Int@749..758 "600000000"
                    Whitespace@758..759 " "
                RBrace@759..760 "}"
                Whitespace@760..761 " "
            FatArrow@761..763 "=>"
            Whitespace@763..764 " "
            EXPR_BOOL@764..768
              TrueKeyword@764..768 "true"
          Comma@768..769 ","
          Whitespace@769..778 "\n        "
          MATCH_ARM@778..788
            PATTERN_WILDCARD@778..780
              WildcardKeyword@778..779 "_"
              Whitespace@779..780 " "
            FatArrow@780..782 "=>"
            Whitespace@782..783 " "
            EXPR_BOOL@783..788
              FalseKeyword@783..788 "false"
          Comma@788..789 ","
          Whitespace@789..794 "\n    "
          RBrace@794..795 "}"
          Whitespace@795..796 "\n"
      RBrace@796..797 "}"
      Whitespace@797..799 "\n\n"
  FN@799..882
    FnKeyword@799..801 "fn"
    Whitespace@801..802 " "
    Ident@802..808 "report"
    PARAM_LIST@808..837
      LParen@808..809 "("
      PARAM@809..824
        Ident@809..814 "label"
        Colon@814..815 ":"
        Whitespace@815..816 " "
        TYPE_STRING@816..822
          StringKeyword@816..822 "string"
        Comma@822..823 ","
        Whitespace@823..824 " "
      PARAM@824..835
        Ident@824..829 "value"
        Colon@829..830 ":"
        Whitespace@830..831 " "
        TYPE_BOOL@831..835
          BoolKeyword@831..835 "bool"
      RParen@835..836 ")"
      Whitespace@836..837 " "
    Arrow@837..839 "->"
    Whitespace@839..840 " "
    TYPE_STRING@840..847
      StringKeyword@840..846 "string"
      Whitespace@846..847 " "
    BLOCK@847..882
      LBrace@847..848 "{"
      Whitespace@848..853 "\n    "
      EXPR_BINARY@853..879
        EXPR_IDENT@853..859
          PATH@853..859
            Ident@853..858 "label"
            Whitespace@858..859 " "
        Plus@859..860 "+"
        Whitespace@860..861 " "
        EXPR_CALL@861..879
          EXPR_BINARY@861..876
            EXPR_IDENT@861..866
              PATH@861..866
                Ident@861..866 "value"
            Dot@866..867 "."
            EXPR_IDENT@867..876
              PATH@867..876
                Ident@867..876 "to_string"
          ARG_LIST@876..879
            LParen@876..877 "("
            RParen@877..878 ")"
            Whitespace@878..879 "\n"
      RBrace@879..880 "}"
      Whitespace@880..882 "\n\n"
  FN@882..1576
    FnKeyword@882..884 "fn"
    Whitespace@884..885 " "
    Ident@885..889 "main"
    PARAM_LIST@889..892
      LParen@889..890 "("
      RParen@890..891 ")"
      Whitespace@891..892 " "
    BLOCK@892..1576
      LBrace@892..893 "{"
      Whitespace@893..898 "\n    "
      STMT_LET@898..963
        LetKeyword@898..901 "let"
        Whitespace@901..902 " "
        PATTERN_VARIABLE@902..910
          Ident@902..909 "counter"
          Whitespace@909..910 " "
        Eq@910..911 "="
        Whitespace@911..912 " "
        EXPR_STRUCT_LITERAL@912..957
          PATH@912..920
            Ident@912..919 "Counter"
            Whitespace@919..920 " "
          STRUCT_LITERAL_FIELD_LIST@920..957
            LBrace@920..921 "{"
            Whitespace@921..922 " "
            STRUCT_LITERAL_FIELD@922..939
              Ident@922..927 "start"
              Colon@927..928 ":"
              Whitespace@928..929 " "
              EXPR_INT@929..939
                Int@929..939 "4000000000"
            Comma@939..940 ","
            Whitespace@940..941 " "
            STRUCT_LITERAL_FIELD@941..956
              Ident@941..944 "end"
              Colon@944..945 ":"
              Whitespace@945..946 " "
              EXPR_INT@946..956
                Int@946..955 "900000000"
                Whitespace@955..956 " "
            RBrace@956..957 "}"
        Semi@957..958 ";"
        Whitespace@958..963 "\n    "
      STMT_LET@963..1025
        LetKeyword@963..966 "let"
        Whitespace@966..967 " "
        PATTERN_VARIABLE@967..979
          Ident@967..978 "alt_counter"
          Whitespace@978..979 " "
        Eq@979..980 "="
        Whitespace@980..981 " "
        EXPR_STRUCT_LITERAL@981..1018
          PATH@981..989
            Ident@981..988 "Counter"
            Whitespace@988..989 " "
          STRUCT_LITERAL_FIELD_LIST@989..1018
            LBrace@989..990 "{"
            Whitespace@990..991 " "
            STRUCT_LITERAL_FIELD@991..1000
              Ident@991..996 "start"
              Colon@996..997 ":"
              Whitespace@997..998 " "
              EXPR_INT@998..1000
                Int@998..1000 "12"
            Comma@1000..1001 ","
            Whitespace@1001..1002 " "
            STRUCT_LITERAL_FIELD@1002..1017
              Ident@1002..1005 "end"
              Colon@1005..1006 ":"
              Whitespace@1006..1007 " "
              EXPR_INT@1007..1017
                Int@1007..1016 "600000000"
                Whitespace@1016..1017 " "
            RBrace@1017..1018 "}"
        Semi@1018..1019 ";"
        Whitespace@1019..1025 "\n\n    "
      STMT_LET@1025..1541
        LetKeyword@1025..1028 "let"
        Whitespace@1028..1029 " "
        PATTERN_VARIABLE@1029..1037
          Ident@1029..1036 "message"
          Whitespace@1036..1037 " "
        Eq@1037..1038 "="
        Whitespace@1038..1039 " "
        EXPR_BINARY@1039..1534
          EXPR_BINARY@1039..1480
            EXPR_BINARY@1039..1422
              EXPR_BINARY@1039..1369
                EXPR_BINARY@1039..1317
                  EXPR_BINARY@1039..1271
                    EXPR_BINARY@1039..1218
                      EXPR_BINARY@1039..1172
                        EXPR_BINARY@1039..1124
                          EXPR_CALL@1039..1080
                            EXPR_IDENT@1039..1045
                              PATH@1039..1045
                                Ident@1039..1045 "report"
                            ARG_LIST@1045..1080
                              LParen@1045..1046 "("
                              ARG@1046..1057
                                EXPR_STR@1046..1055
                                  Str@1046..1055 "\"u8_hit=\""
                                Comma@1055..1056 ","
                                Whitespace@1056..1057 " "
                              ARG@1057..1070
                                EXPR_CALL@1057..1070
                                  EXPR_IDENT@1057..1065
                                    PATH@1057..1065
                                      Ident@1057..1065 "is_flag8"
                                  ARG_LIST@1065..1070
                                    LParen@1065..1066 "("
                                    ARG@1066..1069
                                      EXPR_INT@1066..1069
                                        Int@1066..1069 "200"
                                    RParen@1069..1070 ")"
                              RParen@1070..1071 ")"
                              Whitespace@1071..1080 "\n        "
                          Plus@1080..1081 "+"
                          Whitespace@1081..1082 " "
                          EXPR_CALL@1082..1124
                            EXPR_IDENT@1082..1088
                              PATH@1082..1088
                                Ident@1082..1088 "report"
                            ARG_LIST@1088..1124
                              LParen@1088..1089 "("
                              ARG@1089..1102
                                EXPR_STR@1089..1100
                                  Str@1089..1100 "\",u8_miss=\""
                                Comma@1100..1101 ","
                                Whitespace@1101..1102 " "
                              ARG@1102..1114
                                EXPR_CALL@1102..1114
                                  EXPR_IDENT@1102..1110
                                    PATH@1102..1110
                                      Ident@1102..1110 "is_flag8"
                                  ARG_LIST@1110..1114
                                    LParen@1110..1111 "("
                                    ARG@1111..1113
                                      EXPR_INT@1111..1113
                                        Int@1111..1113 "15"
                                    RParen@1113..1114 ")"
                              RParen@1114..1115 ")"
                              Whitespace@1115..1124 "\n        "
                        Plus@1124..1125 "+"
                        Whitespace@1125..1126 " "
                        EXPR_CALL@1126..1172
                          EXPR_IDENT@1126..1132
                            PATH@1126..1132
                              Ident@1126..1132 "report"
                          ARG_LIST@1132..1172
                            LParen@1132..1133 "("
                            ARG@1133..1146
                              EXPR_STR@1133..1144
                                Str@1133..1144 "\",u16_hit=\""
                              Comma@1144..1145 ","
                              Whitespace@1145..1146 " "
                            ARG@1146..1162
                              EXPR_CALL@1146..1162
                                EXPR_IDENT@1146..1155
                                  PATH@1146..1155
                                    Ident@1146..1155 "is_flag16"
                                ARG_LIST@1155..1162
                                  LParen@1155..1156 "("
                                  ARG@1156..1161
                                    EXPR_INT@1156..1161
                                      Int@1156..1161 "65000"
                                  RParen@1161..1162 ")"
                            RParen@1162..1163 ")"
                            Whitespace@1163..1172 "\n        "
                      Plus@1172..1173 "+"
                      Whitespace@1173..1174 " "
                      EXPR_CALL@1174..1218
                        EXPR_IDENT@1174..1180
                          PATH@1174..1180
                            Ident@1174..1180 "report"
                        ARG_LIST@1180..1218
                          LParen@1180..1181 "("
                          ARG@1181..1195
                            EXPR_STR@1181..1193
                              Str@1181..1193 "\",u16_miss=\""
                            Comma@1193..1194 ","
                            Whitespace@1194..1195 " "
                          ARG@1195..1208
                            EXPR_CALL@1195..1208
                              EXPR_IDENT@1195..1204
                                PATH@1195..1204
                                  Ident@1195..1204 "is_flag16"
                              ARG_LIST@1204..1208
                                LParen@1204..1205 "("
                                ARG@1205..1207
                                  EXPR_INT@1205..1207
                                    Int@1205..1207 "42"
                                RParen@1207..1208 ")"
                          RParen@1208..1209 ")"
                          Whitespace@1209..1218 "\n        "
                    Plus@1218..1219 "+"
                    Whitespace@1219..1220 " "
                    EXPR_CALL@1220..1271
                      EXPR_IDENT@1220..1226
                        PATH@1220..1226
                          Ident@1220..1226 "report"
                      ARG_LIST@1226..1271
                        LParen@1226..1227 "("
                        ARG@1227..1240
                          EXPR_STR@1227..1238
                            Str@1227..1238 "\",u32_hit=\""
                          Comma@1238..1239 ","
                          Whitespace@1239..1240 " "
                        ARG@1240..1261
                          EXPR_CALL@1240..1261
                            EXPR_IDENT@1240..1249
                              PATH@1240..1249
                                Ident@1240..1249 "is_flag32"
                            ARG_LIST@1249..1261
                              LParen@1249..1250 "("
                              ARG@1250..1260
                                EXPR_INT@1250..1260
                                  Int@1250..1260 "1234567890"
                              RParen@1260..1261 ")"
                        RParen@1261..1262 ")"
                        Whitespace@1262..1271 "\n        "
                  Plus@1271..1272 "+"
                  Whitespace@1272..1273 " "
                  EXPR_CALL@1273..1317
                    EXPR_IDENT@1273..1279
                      PATH@1273..1279
                        Ident@1273..1279 "report"
                    ARG_LIST@1279..1317
                      LParen@1279..1280 "("
                      ARG@1280..1294
                        EXPR_STR@1280..1292
                          Str@1280..1292 "\",u32_miss=\""
                        Comma@1292..1293 ","
                        Whitespace@1293..1294 " "
                      ARG@1294..1307
                        EXPR_CALL@1294..1307
                          EXPR_IDENT@1294..1303
                            PATH@1294..1303
                              Ident@1294..1303 "is_flag32"
                          ARG_LIST@1303..1307
                            LParen@1303..1304 "("
                            ARG@1304..1306
                              EXPR_INT@1304..1306
                                Int@1304..1306 "99"
                            RParen@1306..1307 ")"
                      RParen@1307..1308 ")"
                      Whitespace@1308..1317 "\n        "
                Plus@1317..1318 "+"
                Whitespace@1318..1319 " "
                EXPR_CALL@1319..1369
                  EXPR_IDENT@1319..1325
                    PATH@1319..1325
                      Ident@1319..1325 "report"
                  ARG_LIST@1325..1369
                    LParen@1325..1326 "("
                    ARG@1326..1339
                      EXPR_STR@1326..1337
                        Str@1326..1337 "\",u64_hit=\""
                      Comma@1337..1338 ","
                      Whitespace@1338..1339 " "
                    ARG@1339..1359
                      EXPR_CALL@1339..1359
                        EXPR_IDENT@1339..1348
                          PATH@1339..1348
                            Ident@1339..1348 "is_flag64"
                        ARG_LIST@1348..1359
                          LParen@1348..1349 "("
                          ARG@1349..1358
                            EXPR_INT@1349..1358
                              Int@1349..1358 "900000000"
                          RParen@1358..1359 ")"
                    RParen@1359..1360 ")"
                    Whitespace@1360..1369 "\n        "
              Plus@1369..1370 "+"
              Whitespace@1370..1371 " "
              EXPR_CALL@1371..1422
                EXPR_IDENT@1371..1377
                  PATH@1371..1377
                    Ident@1371..1377 "report"
                ARG_LIST@1377..1422
                  LParen@1377..1378 "("
                  ARG@1378..1392
                    EXPR_STR@1378..1390
                      Str@1378..1390 "\",u64_miss=\""
                    Comma@1390..1391 ","
                    Whitespace@1391..1392 " "
                  ARG@1392..1412
                    EXPR_CALL@1392..1412
                      EXPR_IDENT@1392..1401
                        PATH@1392..1401
                          Ident@1392..1401 "is_flag64"
                      ARG_LIST@1401..1412
                        LParen@1401..1402 "("
                        ARG@1402..1411
                          EXPR_INT@1402..1411
                            Int@1402..1411 "700000000"
                        RParen@1411..1412 ")"
                  RParen@1412..1413 ")"
                  Whitespace@1413..1422 "\n        "
            Plus@1422..1423 "+"
            Whitespace@1423..1424 " "
            EXPR_CALL@1424..1480
              EXPR_IDENT@1424..1430
                PATH@1424..1430
                  Ident@1424..1430 "report"
              ARG_LIST@1430..1480
                LParen@1430..1431 "("
                ARG@1431..1449
                  EXPR_STR@1431..1447
                    Str@1431..1447 "\",struct_first=\""
                  Comma@1447..1448 ","
                  Whitespace@1448..1449 " "
                ARG@1449..1470
                  EXPR_CALL@1449..1470
                    EXPR_IDENT@1449..1461
                      PATH@1449..1461
                        Ident@1449..1461 "match_struct"
                    ARG_LIST@1461..1470
                      LParen@1461..1462 "("
                      ARG@1462..1469
                        EXPR_IDENT@1462..1469
                          PATH@1462..1469
                            Ident@1462..1469 "counter"
                      RParen@1469..1470 ")"
                RParen@1470..1471 ")"
                Whitespace@1471..1480 "\n        "
          Plus@1480..1481 "+"
          Whitespace@1481..1482 " "
          EXPR_CALL@1482..1534
            EXPR_IDENT@1482..1488
              PATH@1482..1488
                Ident@1482..1488 "report"
            ARG_LIST@1488..1534
              LParen@1488..1489 "("
              ARG@1489..1508
                EXPR_STR@1489..1506
                  Str@1489..1506 "\",struct_second=\""
                Comma@1506..1507 ","
                Whitespace@1507..1508 " "
              ARG@1508..1533
                EXPR_CALL@1508..1533
                  EXPR_IDENT@1508..1520
                    PATH@1508..1520
                      Ident@1508..1520 "match_struct"
                  ARG_LIST@1520..1533
                    LParen@1520..1521 "("
                    ARG@1521..1532
                      EXPR_IDENT@1521..1532
                        PATH@1521..1532
                          Ident@1521..1532 "alt_counter"
                    RParen@1532..1533 ")"
              RParen@1533..1534 ")"
        Semi@1534..1535 ";"
        Whitespace@1535..1541 "\n\n    "
      STMT_LET@1541..1571
        LetKeyword@1541..1544 "let"
        Whitespace@1544..1545 " "
        PATTERN_WILDCARD@1545..1547
          WildcardKeyword@1545..1546 "_"
          Whitespace@1546..1547 " "
        Eq@1547..1548 "="
        Whitespace@1548..1549 " "
        EXPR_CALL@1549..1565
          EXPR_IDENT@1549..1556
            PATH@1549..1556
              Ident@1549..1556 "println"
          ARG_LIST@1556..1565
            LParen@1556..1557 "("
            ARG@1557..1564
              EXPR_IDENT@1557..1564
                PATH@1557..1564
                  Ident@1557..1564 "message"
            RParen@1564..1565 ")"
        Semi@1565..1566 ";"
        Whitespace@1566..1571 "\n    "
      EXPR_UNIT@1571..1574
        LParen@1571..1572 "("
        RParen@1572..1573 ")"
        Whitespace@1573..1574 "\n"
      RBrace@1574..1575 "}"
      Whitespace@1575..1576 "\n"