FILE@0..1652
  STRUCT@0..56
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..14 "Counter"
    Whitespace@14..15 " "
    LBrace@15..16 "{"
    Whitespace@16..21 "\n    "
    STRUCT_FIELD_LIST@21..56
      STRUCT_FIELD@21..34
        Ident@21..26 "start"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_UINT32@28..34
          Uint32Keyword@28..34 "uint32"
      Comma@34..35 ","
      Whitespace@35..40 "\n    "
      STRUCT_FIELD@40..51
        Ident@40..43 "end"
        Colon@43..44 ":"
        Whitespace@44..45 " "
        TYPE_UINT64@45..51
          Uint64Keyword@45..51 "uint64"
      Comma@51..52 ","
      Whitespace@52..53 "\n"
      RBrace@53..54 "}"
      Whitespace@54..56 "\n\n"
  FN@56..183
    FnKeyword@56..58 "fn"
    Whitespace@58..59 " "
    Ident@59..67 "is_flag8"
    PARAM_LIST@67..82
      LParen@67..68 "("
      PARAM@68..80
        Ident@68..73 "value"
        Colon@73..74 ":"
        Whitespace@74..75 " "
        TYPE_UINT8@75..80
          Uint8Keyword@75..80 "uint8"
      RParen@80..81 ")"
      Whitespace@81..82 " "
    Arrow@82..84 "->"
    Whitespace@84..85 " "
    TYPE_BOOL@85..90
      BoolKeyword@85..89 "bool"
      Whitespace@89..90 " "
    BLOCK@90..183
      LBrace@90..91 "{"
      Whitespace@91..96 "\n    "
      EXPR_MATCH@96..180
        MatchKeyword@96..101 "match"
        Whitespace@101..102 " "
        EXPR_IDENT@102..108
          PATH@102..108
            Ident@102..107 "value"
            Whitespace@107..108 " "
        MATCH_ARM_LIST@108..180
          LBrace@108..109 "{"
          Whitespace@109..118 "\n        "
          MATCH_ARM@118..129
            PATTERN_UINT8@118..122
              UInt8Lit@118..121 "0u8"
              Whitespace@121..122 " "
            FatArrow@122..124 "=>"
            Whitespace@124..125 " "
            EXPR_BOOL@125..129
              TrueKeyword@125..129 "true"
          Comma@129..130 ","
          Whitespace@130..139 "\n        "
          MATCH_ARM@139..152
            PATTERN_UINT8@139..145
              UInt8Lit@139..144 "200u8"
              Whitespace@144..145 " "
            FatArrow@145..147 "=>"
            Whitespace@147..148 " "
            EXPR_BOOL@148..152
              TrueKeyword@148..152 "true"
          Comma@152..153 ","
          Whitespace@153..162 "\n        "
          MATCH_ARM@162..172
            PATTERN_WILDCARD@162..164
              WildcardKeyword@162..163 "_"
              Whitespace@163..164 " "
            FatArrow@164..166 "=>"
            Whitespace@166..167 " "
            EXPR_BOOL@167..172
              FalseKeyword@167..172 "false"
          Comma@172..173 ","
          Whitespace@173..178 "\n    "
          RBrace@178..179 "}"
          Whitespace@179..180 "\n"
      RBrace@180..181 "}"
      Whitespace@181..183 "\n\n"
  FN@183..319
    FnKeyword@183..185 "fn"
    Whitespace@185..186 " "
    Ident@186..195 "is_flag16"
    PARAM_LIST@195..211
      LParen@195..196 "("
      PARAM@196..209
        Ident@196..201 "value"
        Colon@201..202 ":"
        Whitespace@202..203 " "
        TYPE_UINT16@203..209
          Uint16Keyword@203..209 "uint16"
      RParen@209..210 ")"
      Whitespace@210..211 " "
    Arrow@211..213 "->"
    Whitespace@213..214 " "
    TYPE_BOOL@214..219
      BoolKeyword@214..218 "bool"
      Whitespace@218..219 " "
    BLOCK@219..319
      LBrace@219..220 "{"
      Whitespace@220..225 "\n    "
      EXPR_MATCH@225..316
        MatchKeyword@225..230 "match"
        Whitespace@230..231 " "
        EXPR_IDENT@231..237
          PATH@231..237
            Ident@231..236 "value"
            Whitespace@236..237 " "
        MATCH_ARM_LIST@237..316
          LBrace@237..238 "{"
          Whitespace@238..247 "\n        "
          MATCH_ARM@247..262
            PATTERN_UINT16@247..255
              UInt16Lit@247..254 "1024u16"
              Whitespace@254..255 " "
            FatArrow@255..257 "=>"
            Whitespace@257..258 " "
            EXPR_BOOL@258..262
              TrueKeyword@258..262 "true"
          Comma@262..263 ","
          Whitespace@263..272 "\n        "
          MATCH_ARM@272..288
            PATTERN_UINT16@272..281
              UInt16Lit@272..280 "65000u16"
              Whitespace@280..281 " "
            FatArrow@281..283 "=>"
            Whitespace@283..284 " "
            EXPR_BOOL@284..288
              TrueKeyword@284..288 "true"
          Comma@288..289 ","
          Whitespace@289..298 "\n        "
          MATCH_ARM@298..308
            PATTERN_WILDCARD@298..300
              WildcardKeyword@298..299 "_"
              Whitespace@299..300 " "
            FatArrow@300..302 "=>"
            Whitespace@302..303 " "
            EXPR_BOOL@303..308
              FalseKeyword@303..308 "false"
          Comma@308..309 ","
          Whitespace@309..314 "\n    "
          RBrace@314..315 "}"
          Whitespace@315..316 "\n"
      RBrace@316..317 "}"
      Whitespace@317..319 "\n\n"
  FN@319..466
    FnKeyword@319..321 "fn"
    Whitespace@321..322 " "
    Ident@322..331 "is_flag32"
    PARAM_LIST@331..347
      LParen@331..332 "("
      PARAM@332..345
        Ident@332..337 "value"
        Colon@337..338 ":"
        Whitespace@338..339 " "
        TYPE_UINT32@339..345
          Uint32Keyword@339..345 "uint32"
      RParen@345..346 ")"
      Whitespace@346..347 " "
    Arrow@347..349 "->"
    Whitespace@349..350 " "
    TYPE_BOOL@350..355
      BoolKeyword@350..354 "bool"
      Whitespace@354..355 " "
    BLOCK@355..466
      LBrace@355..356 "{"
      Whitespace@356..361 "\n    "
      EXPR_MATCH@361..463
        MatchKeyword@361..366 "match"
        Whitespace@366..367 " "
        EXPR_IDENT@367..373
          PATH@367..373
            Ident@367..372 "value"
            Whitespace@372..373 " "
        MATCH_ARM_LIST@373..463
          LBrace@373..374 "{"
          Whitespace@374..383 "\n        "
          MATCH_ARM@383..404
            PATTERN_UINT32@383..397
              UInt32Lit@383..396 "4000000000u32"
              Whitespace@396..397 " "
            FatArrow@397..399 "=>"
            Whitespace@399..400 " "
            EXPR_BOOL@400..404
              TrueKeyword@400..404 "true"
          Comma@404..405 ","
          Whitespace@405..414 "\n        "
          MATCH_ARM@414..435
            PATTERN_UINT32@414..428
              UInt32Lit@414..427 "1234567890u32"
              Whitespace@427..428 " "
            FatArrow@428..430 "=>"
            Whitespace@430..431 " "
            EXPR_BOOL@431..435
              TrueKeyword@431..435 "true"
          Comma@435..436 ","
          Whitespace@436..445 "\n        "
          MATCH_ARM@445..455
            PATTERN_WILDCARD@445..447
              WildcardKeyword@445..446 "_"
              Whitespace@446..447 " "
            FatArrow@447..449 "=>"
            Whitespace@449..450 " "
            EXPR_BOOL@450..455
              FalseKeyword@450..455 "false"
          Comma@455..456 ","
          Whitespace@456..461 "\n    "
          RBrace@461..462 "}"
          Whitespace@462..463 "\n"
      RBrace@463..464 "}"
      Whitespace@464..466 "\n\n"
  FN@466..611
    FnKeyword@466..468 "fn"
    Whitespace@468..469 " "
    Ident@469..478 "is_flag64"
    PARAM_LIST@478..494
      LParen@478..479 "("
      PARAM@479..492
        Ident@479..484 "value"
        Colon@484..485 ":"
        Whitespace@485..486 " "
        TYPE_UINT64@486..492
          Uint64Keyword@486..492 "uint64"
      RParen@492..493 ")"
      Whitespace@493..494 " "
    Arrow@494..496 "->"
    Whitespace@496..497 " "
    TYPE_BOOL@497..502
      BoolKeyword@497..501 "bool"
      Whitespace@501..502 " "
    BLOCK@502..611
      LBrace@502..503 "{"
      Whitespace@503..508 "\n    "
      EXPR_MATCH@508..608
        MatchKeyword@508..513 "match"
        Whitespace@513..514 " "
        EXPR_IDENT@514..520
          PATH@514..520
            Ident@514..519 "value"
            Whitespace@519..520 " "
        MATCH_ARM_LIST@520..608
          LBrace@520..521 "{"
          Whitespace@521..530 "\n        "
          MATCH_ARM@530..550
            PATTERN_UINT64@530..543
              UInt64Lit@530..542 "900000000u64"
              Whitespace@542..543 " "
            FatArrow@543..545 "=>"
            Whitespace@545..546 " "
            EXPR_BOOL@546..550
              TrueKeyword@546..550 "true"
          Comma@550..551 ","
          Whitespace@551..560 "\n        "
          MATCH_ARM@560..580
            PATTERN_UINT64@560..573
              UInt64Lit@560..572 "600000000u64"
              Whitespace@572..573 " "
            FatArrow@573..575 "=>"
            Whitespace@575..576 " "
            EXPR_BOOL@576..580
              TrueKeyword@576..580 "true"
          Comma@580..581 ","
          Whitespace@581..590 "\n        "
          MATCH_ARM@590..600
            PATTERN_WILDCARD@590..592
              WildcardKeyword@590..591 "_"
              Whitespace@591..592 " "
            FatArrow@592..594 "=>"
            Whitespace@594..595 " "
            EXPR_BOOL@595..600
              FalseKeyword@595..600 "false"
          Comma@600..601 ","
          Whitespace@601..606 "\n    "
          RBrace@606..607 "}"
          Whitespace@607..608 "\n"
      RBrace@608..609 "}"
      Whitespace@609..611 "\n\n"
  FN@611..830
    FnKeyword@611..613 "fn"
    Whitespace@613..614 " "
    Ident@614..626 "match_struct"
    PARAM_LIST@626..645
      LParen@626..627 "("
      PARAM@627..643
        Ident@627..634 "counter"
        Colon@634..635 ":"
        Whitespace@635..636 " "
        TYPE_TAPP@636..643
          PATH@636..643
            Ident@636..643 "Counter"
      RParen@643..644 ")"
      Whitespace@644..645 " "
    Arrow@645..647 "->"
    Whitespace@647..648 " "
    TYPE_BOOL@648..653
      BoolKeyword@648..652 "bool"
      Whitespace@652..653 " "
    BLOCK@653..830
      LBrace@653..654 "{"
      Whitespace@654..659 "\n    "
      EXPR_MATCH@659..827
        MatchKeyword@659..664 "match"
        Whitespace@664..665 " "
        EXPR_IDENT@665..673
          PATH@665..673
            Ident@665..672 "counter"
            Whitespace@672..673 " "
        MATCH_ARM_LIST@673..827
          LBrace@673..674 "{"
          Whitespace@674..683 "\n        "
          MATCH_ARM@683..742
            PATTERN_CONSTR@683..735
              PATH@683..691
                Ident@683..690 "Counter"
                Whitespace@690..691 " "
              STRUCT_PATTERN_FIELD_LIST@691..735
                LBrace@691..692 "{"
                Whitespace@692..693 " "
                STRUCT_PATTERN_FIELD@693..713
                  Ident@693..698 "start"
                  Colon@698..699 ":"
                  Whitespace@699..700 " "
                  PATTERN_UINT32@700..713
                    UInt32Lit@700..713 "4000000000u32"
                Comma@713..714 ","
                Whitespace@714..715 " "
                STRUCT_PATTERN_FIELD@715..733
                  Ident@715..718 "end"
                  Colon@718..719 ":"
                  Whitespace@719..720 " "
                  PATTERN_UINT64@720..733
                    UInt64Lit@720..732 "900000000u64"
                    Whitespace@732..733 " "
                RBrace@733..734 "}"
                Whitespace@734..735 " "
            FatArrow@735..737 "=>"
            Whitespace@737..738 " "
            EXPR_BOOL@738..742
              TrueKeyword@738..742 "true"
          Comma@742..743 ","
          Whitespace@743..752 "\n        "
          MATCH_ARM@752..799
            PATTERN_CONSTR@752..792
              PATH@752..760
                Ident@752..759 "Counter"
                Whitespace@759..760 " "
              STRUCT_PATTERN_FIELD_LIST@760..792
                LBrace@760..761 "{"
                Whitespace@761..762 " "
                STRUCT_PATTERN_FIELD@762..770
                  Ident@762..767 "start"
                  Colon@767..768 ":"
                  Whitespace@768..769 " "
                  PATTERN_WILDCARD@769..770
                    WildcardKeyword@769..770 "_"
                Comma@770..771 ","
                Whitespace@771..772 " "
                STRUCT_PATTERN_FIELD@772..790
                  Ident@772..775 "end"
                  Colon@775..776 ":"
                  Whitespace@776..777 " "
                  PATTERN_UINT64@777..790
                    UInt64Lit@777..789 "600000000u64"
                    Whitespace@789..790 " "
                RBrace@790..791 "}"
                Whitespace@791..792 " "
            FatArrow@792..794 "=>"
            Whitespace@794..795 " "
            EXPR_BOOL@795..799
              TrueKeyword@795..799 "true"
          Comma@799..800 ","
          Whitespace@800..809 "\n        "
          MATCH_ARM@809..819
            PATTERN_WILDCARD@809..811
              WildcardKeyword@809..810 "_"
              Whitespace@810..811 " "
            FatArrow@811..813 "=>"
            Whitespace@813..814 " "
            EXPR_BOOL@814..819
              FalseKeyword@814..819 "false"
          Comma@819..820 ","
          Whitespace@820..825 "\n    "
          RBrace@825..826 "}"
          Whitespace@826..827 "\n"
      RBrace@827..828 "}"
      Whitespace@828..830 "\n\n"
  FN@830..917
    FnKeyword@830..832 "fn"
    Whitespace@832..833 " "
    Ident@833..839 "report"
    PARAM_LIST@839..868
      LParen@839..840 "("
      PARAM@840..855
        Ident@840..845 "label"
        Colon@845..846 ":"
        Whitespace@846..847 " "
        TYPE_STRING@847..853
          StringKeyword@847..853 "string"
        Comma@853..854 ","
        Whitespace@854..855 " "
      PARAM@855..866
        Ident@855..860 "value"
        Colon@860..861 ":"
        Whitespace@861..862 " "
        TYPE_BOOL@862..866
          BoolKeyword@862..866 "bool"
      RParen@866..867 ")"
      Whitespace@867..868 " "
    Arrow@868..870 "->"
    Whitespace@870..871 " "
    TYPE_STRING@871..878
      StringKeyword@871..877 "string"
      Whitespace@877..878 " "
    BLOCK@878..917
      LBrace@878..879 "{"
      Whitespace@879..884 "\n    "
      EXPR_BINARY@884..914
        EXPR_IDENT@884..890
          PATH@884..890
            Ident@884..889 "label"
            Whitespace@889..890 " "
        Plus@890..891 "+"
        Whitespace@891..892 " "
        EXPR_CALL@892..914
          EXPR_IDENT@892..906
            PATH@892..906
              Ident@892..906 "bool_to_string"
          ARG_LIST@906..914
            LParen@906..907 "("
            ARG@907..912
              EXPR_IDENT@907..912
                PATH@907..912
                  Ident@907..912 "value"
            RParen@912..913 ")"
            Whitespace@913..914 "\n"
      RBrace@914..915 "}"
      Whitespace@915..917 "\n\n"
  FN@917..1652
    FnKeyword@917..919 "fn"
    Whitespace@919..920 " "
    Ident@920..924 "main"
    PARAM_LIST@924..927
      LParen@924..925 "("
      RParen@925..926 ")"
      Whitespace@926..927 " "
    BLOCK@927..1652
      LBrace@927..928 "{"
      Whitespace@928..933 "\n    "
      STMT_LET@933..1004
        LetKeyword@933..936 "let"
        Whitespace@936..937 " "
        PATTERN_VARIABLE@937..945
          Ident@937..944 "counter"
          Whitespace@944..945 " "
        Eq@945..946 "="
        Whitespace@946..947 " "
        EXPR_STRUCT_LITERAL@947..998
          PATH@947..955
            Ident@947..954 "Counter"
            Whitespace@954..955 " "
          STRUCT_LITERAL_FIELD_LIST@955..998
            LBrace@955..956 "{"
            Whitespace@956..957 " "
            STRUCT_LITERAL_FIELD@957..977
              Ident@957..962 "start"
              Colon@962..963 ":"
              Whitespace@963..964 " "
              EXPR_UINT32@964..977
                UInt32Lit@964..977 "4000000000u32"
            Comma@977..978 ","
            Whitespace@978..979 " "
            STRUCT_LITERAL_FIELD@979..997
              Ident@979..982 "end"
              Colon@982..983 ":"
              Whitespace@983..984 " "
              EXPR_UINT64@984..997
                UInt64Lit@984..996 "900000000u64"
                Whitespace@996..997 " "
            RBrace@997..998 "}"
        Semi@998..999 ";"
        Whitespace@999..1004 "\n    "
      STMT_LET@1004..1072
        LetKeyword@1004..1007 "let"
        Whitespace@1007..1008 " "
        PATTERN_VARIABLE@1008..1020
          Ident@1008..1019 "alt_counter"
          Whitespace@1019..1020 " "
        Eq@1020..1021 "="
        Whitespace@1021..1022 " "
        EXPR_STRUCT_LITERAL@1022..1065
          PATH@1022..1030
            Ident@1022..1029 "Counter"
            Whitespace@1029..1030 " "
          STRUCT_LITERAL_FIELD_LIST@1030..1065
            LBrace@1030..1031 "{"
            Whitespace@1031..1032 " "
            STRUCT_LITERAL_FIELD@1032..1044
              Ident@1032..1037 "start"
              Colon@1037..1038 ":"
              Whitespace@1038..1039 " "
              EXPR_UINT32@1039..1044
                UInt32Lit@1039..1044 "12u32"
            Comma@1044..1045 ","
            Whitespace@1045..1046 " "
            STRUCT_LITERAL_FIELD@1046..1064
              Ident@1046..1049 "end"
              Colon@1049..1050 ":"
              Whitespace@1050..1051 " "
              EXPR_UINT64@1051..1064
                UInt64Lit@1051..1063 "600000000u64"
                Whitespace@1063..1064 " "
            RBrace@1064..1065 "}"
        Semi@1065..1066 ";"
        Whitespace@1066..1072 "\n\n    "
      STMT_LET@1072..1610
        LetKeyword@1072..1075 "let"
        Whitespace@1075..1076 " "
        PATTERN_VARIABLE@1076..1084
          Ident@1076..1083 "message"
          Whitespace@1083..1084 " "
        Eq@1084..1085 "="
        Whitespace@1085..1086 " "
        EXPR_BINARY@1086..1603
          EXPR_BINARY@1086..1549
            EXPR_BINARY@1086..1491
              EXPR_BINARY@1086..1435
                EXPR_BINARY@1086..1380
                  EXPR_BINARY@1086..1331
                    EXPR_BINARY@1086..1275
                      EXPR_BINARY@1086..1226
                        EXPR_BINARY@1086..1175
                          EXPR_CALL@1086..1129
                            EXPR_IDENT@1086..1092
                              PATH@1086..1092
                                Ident@1086..1092 "report"
                            ARG_LIST@1092..1129
                              LParen@1092..1093 "("
                              ARG@1093..1104
                                EXPR_STR@1093..1102
                                  Str@1093..1102 "\"u8_hit=\""
                                Comma@1102..1103 ","
                                Whitespace@1103..1104 " "
                              ARG@1104..1119
                                EXPR_CALL@1104..1119
                                  EXPR_IDENT@1104..1112
                                    PATH@1104..1112
                                      Ident@1104..1112 "is_flag8"
                                  ARG_LIST@1112..1119
                                    LParen@1112..1113 "("
                                    ARG@1113..1118
                                      EXPR_UINT8@1113..1118
                                        UInt8Lit@1113..1118 "200u8"
                                    RParen@1118..1119 ")"
                              RParen@1119..1120 ")"
                              Whitespace@1120..1129 "\n        "
                          Plus@1129..1130 "+"
                          Whitespace@1130..1131 " "
                          EXPR_CALL@1131..1175
                            EXPR_IDENT@1131..1137
                              PATH@1131..1137
                                Ident@1131..1137 "report"
                            ARG_LIST@1137..1175
                              LParen@1137..1138 "("
                              ARG@1138..1151
                                EXPR_STR@1138..1149
                                  Str@1138..1149 "\",u8_miss=\""
                                Comma@1149..1150 ","
                                Whitespace@1150..1151 " "
                              ARG@1151..1165
                                EXPR_CALL@1151..1165
                                  EXPR_IDENT@1151..1159
                                    PATH@1151..1159
                                      Ident@1151..1159 "is_flag8"
                                  ARG_LIST@1159..1165
                                    LParen@1159..1160 "("
                                    ARG@1160..1164
                                      EXPR_UINT8@1160..1164
                                        UInt8Lit@1160..1164 "15u8"
                                    RParen@1164..1165 ")"
                              RParen@1165..1166 ")"
                              Whitespace@1166..1175 "\n        "
                        Plus@1175..1176 "+"
                        Whitespace@1176..1177 " "
                        EXPR_CALL@1177..1226
                          EXPR_IDENT@1177..1183
                            PATH@1177..1183
                              Ident@1177..1183 "report"
                          ARG_LIST@1183..1226
                            LParen@1183..1184 "("
                            ARG@1184..1197
                              EXPR_STR@1184..1195
                                Str@1184..1195 "\",u16_hit=\""
                              Comma@1195..1196 ","
                              Whitespace@1196..1197 " "
                            ARG@1197..1216
                              EXPR_CALL@1197..1216
                                EXPR_IDENT@1197..1206
                                  PATH@1197..1206
                                    Ident@1197..1206 "is_flag16"
                                ARG_LIST@1206..1216
                                  LParen@1206..1207 "("
                                  ARG@1207..1215
                                    EXPR_UINT16@1207..1215
                                      UInt16Lit@1207..1215 "65000u16"
                                  RParen@1215..1216 ")"
                            RParen@1216..1217 ")"
                            Whitespace@1217..1226 "\n        "
                      Plus@1226..1227 "+"
                      Whitespace@1227..1228 " "
                      EXPR_CALL@1228..1275
                        EXPR_IDENT@1228..1234
                          PATH@1228..1234
                            Ident@1228..1234 "report"
                        ARG_LIST@1234..1275
                          LParen@1234..1235 "("
                          ARG@1235..1249
                            EXPR_STR@1235..1247
                              Str@1235..1247 "\",u16_miss=\""
                            Comma@1247..1248 ","
                            Whitespace@1248..1249 " "
                          ARG@1249..1265
                            EXPR_CALL@1249..1265
                              EXPR_IDENT@1249..1258
                                PATH@1249..1258
                                  Ident@1249..1258 "is_flag16"
                              ARG_LIST@1258..1265
                                LParen@1258..1259 "("
                                ARG@1259..1264
                                  EXPR_UINT16@1259..1264
                                    UInt16Lit@1259..1264 "42u16"
                                RParen@1264..1265 ")"
                          RParen@1265..1266 ")"
                          Whitespace@1266..1275 "\n        "
                    Plus@1275..1276 "+"
                    Whitespace@1276..1277 " "
                    EXPR_CALL@1277..1331
                      EXPR_IDENT@1277..1283
                        PATH@1277..1283
                          Ident@1277..1283 "report"
                      ARG_LIST@1283..1331
                        LParen@1283..1284 "("
                        ARG@1284..1297
                          EXPR_STR@1284..1295
                            Str@1284..1295 "\",u32_hit=\""
                          Comma@1295..1296 ","
                          Whitespace@1296..1297 " "
                        ARG@1297..1321
                          EXPR_CALL@1297..1321
                            EXPR_IDENT@1297..1306
                              PATH@1297..1306
                                Ident@1297..1306 "is_flag32"
                            ARG_LIST@1306..1321
                              LParen@1306..1307 "("
                              ARG@1307..1320
                                EXPR_UINT32@1307..1320
                                  UInt32Lit@1307..1320 "1234567890u32"
                              RParen@1320..1321 ")"
                        RParen@1321..1322 ")"
                        Whitespace@1322..1331 "\n        "
                  Plus@1331..1332 "+"
                  Whitespace@1332..1333 " "
                  EXPR_CALL@1333..1380
                    EXPR_IDENT@1333..1339
                      PATH@1333..1339
                        Ident@1333..1339 "report"
                    ARG_LIST@1339..1380
                      LParen@1339..1340 "("
                      ARG@1340..1354
                        EXPR_STR@1340..1352
                          Str@1340..1352 "\",u32_miss=\""
                        Comma@1352..1353 ","
                        Whitespace@1353..1354 " "
                      ARG@1354..1370
                        EXPR_CALL@1354..1370
                          EXPR_IDENT@1354..1363
                            PATH@1354..1363
                              Ident@1354..1363 "is_flag32"
                          ARG_LIST@1363..1370
                            LParen@1363..1364 "("
                            ARG@1364..1369
                              EXPR_UINT32@1364..1369
                                UInt32Lit@1364..1369 "99u32"
                            RParen@1369..1370 ")"
                      RParen@1370..1371 ")"
                      Whitespace@1371..1380 "\n        "
                Plus@1380..1381 "+"
                Whitespace@1381..1382 " "
                EXPR_CALL@1382..1435
                  EXPR_IDENT@1382..1388
                    PATH@1382..1388
                      Ident@1382..1388 "report"
                  ARG_LIST@1388..1435
                    LParen@1388..1389 "("
                    ARG@1389..1402
                      EXPR_STR@1389..1400
                        Str@1389..1400 "\",u64_hit=\""
                      Comma@1400..1401 ","
                      Whitespace@1401..1402 " "
                    ARG@1402..1425
                      EXPR_CALL@1402..1425
                        EXPR_IDENT@1402..1411
                          PATH@1402..1411
                            Ident@1402..1411 "is_flag64"
                        ARG_LIST@1411..1425
                          LParen@1411..1412 "("
                          ARG@1412..1424
                            EXPR_UINT64@1412..1424
                              UInt64Lit@1412..1424 "900000000u64"
                          RParen@1424..1425 ")"
                    RParen@1425..1426 ")"
                    Whitespace@1426..1435 "\n        "
              Plus@1435..1436 "+"
              Whitespace@1436..1437 " "
              EXPR_CALL@1437..1491
                EXPR_IDENT@1437..1443
                  PATH@1437..1443
                    Ident@1437..1443 "report"
                ARG_LIST@1443..1491
                  LParen@1443..1444 "("
                  ARG@1444..1458
                    EXPR_STR@1444..1456
                      Str@1444..1456 "\",u64_miss=\""
                    Comma@1456..1457 ","
                    Whitespace@1457..1458 " "
                  ARG@1458..1481
                    EXPR_CALL@1458..1481
                      EXPR_IDENT@1458..1467
                        PATH@1458..1467
                          Ident@1458..1467 "is_flag64"
                      ARG_LIST@1467..1481
                        LParen@1467..1468 "("
                        ARG@1468..1480
                          EXPR_UINT64@1468..1480
                            UInt64Lit@1468..1480 "700000000u64"
                        RParen@1480..1481 ")"
                  RParen@1481..1482 ")"
                  Whitespace@1482..1491 "\n        "
            Plus@1491..1492 "+"
            Whitespace@1492..1493 " "
            EXPR_CALL@1493..1549
              EXPR_IDENT@1493..1499
                PATH@1493..1499
                  Ident@1493..1499 "report"
              ARG_LIST@1499..1549
                LParen@1499..1500 "("
                ARG@1500..1518
                  EXPR_STR@1500..1516
                    Str@1500..1516 "\",struct_first=\""
                  Comma@1516..1517 ","
                  Whitespace@1517..1518 " "
                ARG@1518..1539
                  EXPR_CALL@1518..1539
                    EXPR_IDENT@1518..1530
                      PATH@1518..1530
                        Ident@1518..1530 "match_struct"
                    ARG_LIST@1530..1539
                      LParen@1530..1531 "("
                      ARG@1531..1538
                        EXPR_IDENT@1531..1538
                          PATH@1531..1538
                            Ident@1531..1538 "counter"
                      RParen@1538..1539 ")"
                RParen@1539..1540 ")"
                Whitespace@1540..1549 "\n        "
          Plus@1549..1550 "+"
          Whitespace@1550..1551 " "
          EXPR_CALL@1551..1603
            EXPR_IDENT@1551..1557
              PATH@1551..1557
                Ident@1551..1557 "report"
            ARG_LIST@1557..1603
              LParen@1557..1558 "("
              ARG@1558..1577
                EXPR_STR@1558..1575
                  Str@1558..1575 "\",struct_second=\""
                Comma@1575..1576 ","
                Whitespace@1576..1577 " "
              ARG@1577..1602
                EXPR_CALL@1577..1602
                  EXPR_IDENT@1577..1589
                    PATH@1577..1589
                      Ident@1577..1589 "match_struct"
                  ARG_LIST@1589..1602
                    LParen@1589..1590 "("
                    ARG@1590..1601
                      EXPR_IDENT@1590..1601
                        PATH@1590..1601
                          Ident@1590..1601 "alt_counter"
                    RParen@1601..1602 ")"
              RParen@1602..1603 ")"
        Semi@1603..1604 ";"
        Whitespace@1604..1610 "\n\n    "
      STMT_LET@1610..1647
        LetKeyword@1610..1613 "let"
        Whitespace@1613..1614 " "
        PATTERN_WILDCARD@1614..1616
          WildcardKeyword@1614..1615 "_"
          Whitespace@1615..1616 " "
        Eq@1616..1617 "="
        Whitespace@1617..1618 " "
        EXPR_CALL@1618..1641
          EXPR_IDENT@1618..1632
            PATH@1618..1632
              Ident@1618..1632 "string_println"
          ARG_LIST@1632..1641
            LParen@1632..1633 "("
            ARG@1633..1640
              EXPR_IDENT@1633..1640
                PATH@1633..1640
                  Ident@1633..1640 "message"
            RParen@1640..1641 ")"
        Semi@1641..1642 ";"
        Whitespace@1642..1647 "\n    "
      EXPR_UNIT@1647..1650
        LParen@1647..1648 "("
        RParen@1648..1649 ")"
        Whitespace@1649..1650 "\n"
      RBrace@1650..1651 "}"
      Whitespace@1651..1652 "\n"