FILE@0..585
  FN@0..41
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "take_u8"
    PARAM_LIST@10..21
      LParen@10..11 "("
      PARAM@11..19
        Ident@11..12 "x"
        Colon@12..13 ":"
        Whitespace@13..14 " "
        TYPE_UINT8@14..19
          Uint8Keyword@14..19 "uint8"
      RParen@19..20 ")"
      Whitespace@20..21 " "
    Arrow@21..23 "->"
    Whitespace@23..24 " "
    TYPE_UINT8@24..30
      Uint8Keyword@24..29 "uint8"
      Whitespace@29..30 " "
    BLOCK@30..41
      LBrace@30..31 "{"
      Whitespace@31..36 "\n    "
      EXPR_IDENT@36..38
        PATH@36..38
          Ident@36..37 "x"
          Whitespace@37..38 "\n"
      RBrace@38..39 "}"
      Whitespace@39..41 "\n\n"
  FN@41..87
    FnKeyword@41..43 "fn"
    Whitespace@43..44 " "
    Ident@44..52 "take_f32"
    PARAM_LIST@52..65
      LParen@52..53 "("
      PARAM@53..63
        Ident@53..54 "x"
        Colon@54..55 ":"
        Whitespace@55..56 " "
        TYPE_FLOAT32@56..63
          Float32Keyword@56..63 "float32"
      RParen@63..64 ")"
      Whitespace@64..65 " "
    Arrow@65..67 "->"
    Whitespace@67..68 " "
    TYPE_FLOAT32@68..76
      Float32Keyword@68..75 "float32"
      Whitespace@75..76 " "
    BLOCK@76..87
      LBrace@76..77 "{"
      Whitespace@77..82 "\n    "
      EXPR_IDENT@82..84
        PATH@82..84
          Ident@82..83 "x"
          Whitespace@83..84 "\n"
      RBrace@84..85 "}"
      Whitespace@85..87 "\n\n"
  FN@87..585
    FnKeyword@87..89 "fn"
    Whitespace@89..90 " "
    Ident@90..94 "main"
    PARAM_LIST@94..97
      LParen@94..95 "("
      RParen@95..96 ")"
      Whitespace@96..97 " "
    BLOCK@97..585
      LBrace@97..98 "{"
      Whitespace@98..103 "\n    "
      STMT_LET@103..125
        LetKeyword@103..106 "let"
        Whitespace@106..107 " "
        PATTERN_VARIABLE@107..108
          Ident@107..108 "a"
        Colon@108..109 ":"
        Whitespace@109..110 " "
        TYPE_UINT8@110..116
          Uint8Keyword@110..115 "uint8"
          Whitespace@115..116 " "
        Eq@116..117 "="
        Whitespace@117..118 " "
        EXPR_INT@118..119
          Int@118..119 "1"
        Semi@119..120 ";"
        Whitespace@120..125 "\n    "
      STMT_LET@125..146
        LetKeyword@125..128 "let"
        Whitespace@128..129 " "
        PATTERN_VARIABLE@129..130
          Ident@129..130 "b"
        Colon@130..131 ":"
        Whitespace@131..132 " "
        TYPE_INT8@132..137
          Int8Keyword@132..136 "int8"
          Whitespace@136..137 " "
        Eq@137..138 "="
        Whitespace@138..139 " "
        EXPR_INT@139..140
          Int@139..140 "2"
        Semi@140..141 ";"
        Whitespace@141..146 "\n    "
      STMT_LET@146..168
        LetKeyword@146..149 "let"
        Whitespace@149..150 " "
        PATTERN_VARIABLE@150..151
          Ident@150..151 "c"
        Colon@151..152 ":"
        Whitespace@152..153 " "
        TYPE_INT16@153..159
          Int16Keyword@153..158 "int16"
          Whitespace@158..159 " "
        Eq@159..160 "="
        Whitespace@160..161 " "
        EXPR_INT@161..162
          Int@161..162 "3"
        Semi@162..163 ";"
        Whitespace@163..168 "\n    "
      STMT_LET@168..191
        LetKeyword@168..171 "let"
        Whitespace@171..172 " "
        PATTERN_VARIABLE@172..173
          Ident@172..173 "d"
        Colon@173..174 ":"
        Whitespace@174..175 " "
        TYPE_UINT16@175..182
          Uint16Keyword@175..181 "uint16"
          Whitespace@181..182 " "
        Eq@182..183 "="
        Whitespace@183..184 " "
        EXPR_INT@184..185
          Int@184..185 "4"
        Semi@185..186 ";"
        Whitespace@186..191 "\n    "
      STMT_LET@191..214
        LetKeyword@191..194 "let"
        Whitespace@194..195 " "
        PATTERN_VARIABLE@195..196
          Ident@195..196 "e"
        Colon@196..197 ":"
        Whitespace@197..198 " "
        TYPE_UINT32@198..205
          Uint32Keyword@198..204 "uint32"
          Whitespace@204..205 " "
        Eq@205..206 "="
        Whitespace@206..207 " "
        EXPR_INT@207..208
          Int@207..208 "5"
        Semi@208..209 ";"
        Whitespace@209..214 "\n    "
      STMT_LET@214..236
        LetKeyword@214..217 "let"
        Whitespace@217..218 " "
        PATTERN_VARIABLE@218..219
          Ident@218..219 "f"
        Colon@219..220 ":"
        Whitespace@220..221 " "
        TYPE_INT64@221..227
          Int64Keyword@221..226 "int64"
          Whitespace@226..227 " "
        Eq@227..228 "="
        Whitespace@228..229 " "
        EXPR_INT@229..230
          Int@229..230 "6"
        Semi@230..231 ";"
        Whitespace@231..236 "\n    "
      STMT_LET@236..259
        LetKeyword@236..239 "let"
        Whitespace@239..240 " "
        PATTERN_VARIABLE@240..241
          Ident@240..241 "g"
        Colon@241..242 ":"
        Whitespace@242..243 " "
        TYPE_UINT64@243..250
          Uint64Keyword@243..249 "uint64"
          Whitespace@249..250 " "
        Eq@250..251 "="
        Whitespace@251..252 " "
        EXPR_INT@252..253
          Int@252..253 "7"
        Semi@253..254 ";"
        Whitespace@254..259 "\n    "
      STMT_LET@259..285
        LetKeyword@259..262 "let"
        Whitespace@262..263 " "
        PATTERN_VARIABLE@263..264
          Ident@263..264 "h"
        Colon@264..265 ":"
        Whitespace@265..266 " "
        TYPE_FLOAT32@266..274
          Float32Keyword@266..273 "float32"
          Whitespace@273..274 " "
        Eq@274..275 "="
        Whitespace@275..276 " "
        EXPR_FLOAT@276..279
          Float@276..279 "1.0"
        Semi@279..280 ";"
        Whitespace@280..285 "\n    "
      STMT_EXPR@285..313
        EXPR_CALL@285..307
          EXPR_IDENT@285..292
            PATH@285..292
              Ident@285..292 "println"
          ARG_LIST@292..307
            LParen@292..293 "("
            ARG@293..306
              EXPR_CALL@293..306
                EXPR_BINARY@293..304
                  EXPR_IDENT@293..294
                    PATH@293..294
                      Ident@293..294 "a"
                  Dot@294..295 "."
                  EXPR_IDENT@295..304
                    PATH@295..304
                      Ident@295..304 "to_string"
                ARG_LIST@304..306
                  LParen@304..305 "("
                  RParen@305..306 ")"
            RParen@306..307 ")"
        Semi@307..308 ";"
        Whitespace@308..313 "\n    "
      STMT_EXPR@313..341
        EXPR_CALL@313..335
          EXPR_IDENT@313..320
            PATH@313..320
              Ident@313..320 "println"
          ARG_LIST@320..335
            LParen@320..321 "("
            ARG@321..334
              EXPR_CALL@321..334
                EXPR_BINARY@321..332
                  EXPR_IDENT@321..322
                    PATH@321..322
                      Ident@321..322 "b"
                  Dot@322..323 "."
                  EXPR_IDENT@323..332
                    PATH@323..332
                      Ident@323..332 "to_string"
                ARG_LIST@332..334
                  LParen@332..333 "("
                  RParen@333..334 ")"
            RParen@334..335 ")"
        Semi@335..336 ";"
        Whitespace@336..341 "\n    "
      STMT_EXPR@341..369
        EXPR_CALL@341..363
          EXPR_IDENT@341..348
            PATH@341..348
              Ident@341..348 "println"
          ARG_LIST@348..363
            LParen@348..349 "("
            ARG@349..362
              EXPR_CALL@349..362
                EXPR_BINARY@349..360
                  EXPR_IDENT@349..350
                    PATH@349..350
                      Ident@349..350 "c"
                  Dot@350..351 "."
                  EXPR_IDENT@351..360
                    PATH@351..360
                      Ident@351..360 "to_string"
                ARG_LIST@360..362
                  LParen@360..361 "("
                  RParen@361..362 ")"
            RParen@362..363 ")"
        Semi@363..364 ";"
        Whitespace@364..369 "\n    "
      STMT_EXPR@369..397
        EXPR_CALL@369..391
          EXPR_IDENT@369..376
            PATH@369..376
              Ident@369..376 "println"
          ARG_LIST@376..391
            LParen@376..377 "("
            ARG@377..390
              EXPR_CALL@377..390
                EXPR_BINARY@377..388
                  EXPR_IDENT@377..378
                    PATH@377..378
                      Ident@377..378 "d"
                  Dot@378..379 "."
                  EXPR_IDENT@379..388
                    PATH@379..388
                      Ident@379..388 "to_string"
                ARG_LIST@388..390
                  LParen@388..389 "("
                  RParen@389..390 ")"
            RParen@390..391 ")"
        Semi@391..392 ";"
        Whitespace@392..397 "\n    "
      STMT_EXPR@397..425
        EXPR_CALL@397..419
          EXPR_IDENT@397..404
            PATH@397..404
              Ident@397..404 "println"
          ARG_LIST@404..419
            LParen@404..405 "("
            ARG@405..418
              EXPR_CALL@405..418
                EXPR_BINARY@405..416
                  EXPR_IDENT@405..406
                    PATH@405..406
                      Ident@405..406 "e"
                  Dot@406..407 "."
                  EXPR_IDENT@407..416
                    PATH@407..416
                      Ident@407..416 "to_string"
                ARG_LIST@416..418
                  LParen@416..417 "("
                  RParen@417..418 ")"
            RParen@418..419 ")"
        Semi@419..420 ";"
        Whitespace@420..425 "\n    "
      STMT_EXPR@425..453
        EXPR_CALL@425..447
          EXPR_IDENT@425..432
            PATH@425..432
              Ident@425..432 "println"
          ARG_LIST@432..447
            LParen@432..433 "("
            ARG@433..446
              EXPR_CALL@433..446
                EXPR_BINARY@433..444
                  EXPR_IDENT@433..434
                    PATH@433..434
                      Ident@433..434 "f"
                  Dot@434..435 "."
                  EXPR_IDENT@435..444
                    PATH@435..444
                      Ident@435..444 "to_string"
                ARG_LIST@444..446
                  LParen@444..445 "("
                  RParen@445..446 ")"
            RParen@446..447 ")"
        Semi@447..448 ";"
        Whitespace@448..453 "\n    "
      STMT_EXPR@453..481
        EXPR_CALL@453..475
          EXPR_IDENT@453..460
            PATH@453..460
              Ident@453..460 "println"
          ARG_LIST@460..475
            LParen@460..461 "("
            ARG@461..474
              EXPR_CALL@461..474
                EXPR_BINARY@461..472
                  EXPR_IDENT@461..462
                    PATH@461..462
                      Ident@461..462 "g"
                  Dot@462..463 "."
                  EXPR_IDENT@463..472
                    PATH@463..472
                      Ident@463..472 "to_string"
                ARG_LIST@472..474
                  LParen@472..473 "("
                  RParen@473..474 ")"
            RParen@474..475 ")"
        Semi@475..476 ";"
        Whitespace@476..481 "\n    "
      STMT_EXPR@481..509
        EXPR_CALL@481..503
          EXPR_IDENT@481..488
            PATH@481..488
              Ident@481..488 "println"
          ARG_LIST@488..503
            LParen@488..489 "("
            ARG@489..502
              EXPR_CALL@489..502
                EXPR_BINARY@489..500
                  EXPR_IDENT@489..490
                    PATH@489..490
                      Ident@489..490 "h"
                  Dot@490..491 "."
                  EXPR_IDENT@491..500
                    PATH@491..500
                      Ident@491..500 "to_string"
                ARG_LIST@500..502
                  LParen@500..501 "("
                  RParen@501..502 ")"
            RParen@502..503 ")"
        Semi@503..504 ";"
        Whitespace@504..509 "\n    "
      STMT_EXPR@509..547
        EXPR_CALL@509..541
          EXPR_IDENT@509..516
            PATH@509..516
              Ident@509..516 "println"
          ARG_LIST@516..541
            LParen@516..517 "("
            ARG@517..540
              EXPR_CALL@517..540
                EXPR_BINARY@517..538
                  EXPR_CALL@517..528
                    EXPR_IDENT@517..524
                      PATH@517..524
                        Ident@517..524 "take_u8"
                    ARG_LIST@524..528
                      LParen@524..525 "("
                      ARG@525..527
                        EXPR_INT@525..527
                          Int@525..527 "10"
                      RParen@527..528 ")"
                  Dot@528..529 "."
                  EXPR_IDENT@529..538
                    PATH@529..538
                      Ident@529..538 "to_string"
                ARG_LIST@538..540
                  LParen@538..539 "("
                  RParen@539..540 ")"
            RParen@540..541 ")"
        Semi@541..542 ";"
        Whitespace@542..547 "\n    "
      STMT_EXPR@547..583
        EXPR_CALL@547..581
          EXPR_IDENT@547..554
            PATH@547..554
              Ident@547..554 "println"
          ARG_LIST@554..581
            LParen@554..555 "("
            ARG@555..580
              EXPR_CALL@555..580
                EXPR_BINARY@555..578
                  EXPR_CALL@555..568
                    EXPR_IDENT@555..563
                      PATH@555..563
                        Ident@555..563 "take_f32"
                    ARG_LIST@563..568
                      LParen@563..564 "("
                      ARG@564..567
                        EXPR_FLOAT@564..567
                          Float@564..567 "2.5"
                      RParen@567..568 ")"
                  Dot@568..569 "."
                  EXPR_IDENT@569..578
                    PATH@569..578
                      Ident@569..578 "to_string"
                ARG_LIST@578..580
                  LParen@578..579 "("
                  RParen@579..580 ")"
            RParen@580..581 ")"
        Semi@581..582 ";"
        Whitespace@582..583 "\n"
      RBrace@583..584 "}"
      Whitespace@584..585 "\n"