FILE@0..549
  FN@0..35
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..10 "take_u8"
    PARAM_LIST@10..18
      LParen@10..11 "("
      PARAM@11..16
        Ident@11..12 "x"
        Colon@12..13 ":"
        Whitespace@13..14 " "
        TYPE_UINT8@14..16
          U8Keyword@14..16 "u8"
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_UINT8@21..24
      U8Keyword@21..23 "u8"
      Whitespace@23..24 " "
    BLOCK@24..35
      LBrace@24..25 "{"
      Whitespace@25..30 "\n    "
      EXPR_IDENT@30..32
        PATH@30..32
          Ident@30..31 "x"
          Whitespace@31..32 "\n"
      RBrace@32..33 "}"
      Whitespace@33..35 "\n\n"
  FN@35..73
    FnKeyword@35..37 "fn"
    Whitespace@37..38 " "
    Ident@38..46 "take_f32"
    PARAM_LIST@46..55
      LParen@46..47 "("
      PARAM@47..53
        Ident@47..48 "x"
        Colon@48..49 ":"
        Whitespace@49..50 " "
        TYPE_FLOAT32@50..53
          F32Keyword@50..53 "f32"
      RParen@53..54 ")"
      Whitespace@54..55 " "
    Arrow@55..57 "->"
    Whitespace@57..58 " "
    TYPE_FLOAT32@58..62
      F32Keyword@58..61 "f32"
      Whitespace@61..62 " "
    BLOCK@62..73
      LBrace@62..63 "{"
      Whitespace@63..68 "\n    "
      EXPR_IDENT@68..70
        PATH@68..70
          Ident@68..69 "x"
          Whitespace@69..70 "\n"
      RBrace@70..71 "}"
      Whitespace@71..73 "\n\n"
  FN@73..549
    FnKeyword@73..75 "fn"
    Whitespace@75..76 " "
    Ident@76..80 "main"
    PARAM_LIST@80..83
      LParen@80..81 "("
      RParen@81..82 ")"
      Whitespace@82..83 " "
    BLOCK@83..549
      LBrace@83..84 "{"
      Whitespace@84..89 "\n    "
      STMT_LET@89..108
        LetKeyword@89..92 "let"
        Whitespace@92..93 " "
        PATTERN_VARIABLE@93..94
          Ident@93..94 "a"
        Colon@94..95 ":"
        Whitespace@95..96 " "
        TYPE_UINT8@96..99
          U8Keyword@96..98 "u8"
          Whitespace@98..99 " "
        Eq@99..100 "="
        Whitespace@100..101 " "
        EXPR_INT@101..102
          Int@101..102 "1"
        Semi@102..103 ";"
        Whitespace@103..108 "\n    "
      STMT_LET@108..127
        LetKeyword@108..111 "let"
        Whitespace@111..112 " "
        PATTERN_VARIABLE@112..113
          Ident@112..113 "b"
        Colon@113..114 ":"
        Whitespace@114..115 " "
        TYPE_INT8@115..118
          I8Keyword@115..117 "i8"
          Whitespace@117..118 " "
        Eq@118..119 "="
        Whitespace@119..120 " "
        EXPR_INT@120..121
          Int@120..121 "2"
        Semi@121..122 ";"
        Whitespace@122..127 "\n    "
      STMT_LET@127..147
        LetKeyword@127..130 "let"
        Whitespace@130..131 " "
        PATTERN_VARIABLE@131..132
          Ident@131..132 "c"
        Colon@132..133 ":"
        Whitespace@133..134 " "
        TYPE_INT16@134..138
          I16Keyword@134..137 "i16"
          Whitespace@137..138 " "
        Eq@138..139 "="
        Whitespace@139..140 " "
        EXPR_INT@140..141
          Int@140..141 "3"
        Semi@141..142 ";"
        Whitespace@142..147 "\n    "
      STMT_LET@147..167
        LetKeyword@147..150 "let"
        Whitespace@150..151 " "
        PATTERN_VARIABLE@151..152
          Ident@151..152 "d"
        Colon@152..153 ":"
        Whitespace@153..154 " "
        TYPE_UINT16@154..158
          U16Keyword@154..157 "u16"
          Whitespace@157..158 " "
        Eq@158..159 "="
        Whitespace@159..160 " "
        EXPR_INT@160..161
          Int@160..161 "4"
        Semi@161..162 ";"
        Whitespace@162..167 "\n    "
      STMT_LET@167..187
        LetKeyword@167..170 "let"
        Whitespace@170..171 " "
        PATTERN_VARIABLE@171..172
          Ident@171..172 "e"
        Colon@172..173 ":"
        Whitespace@173..174 " "
        TYPE_UINT32@174..178
          U32Keyword@174..177 "u32"
          Whitespace@177..178 " "
        Eq@178..179 "="
        Whitespace@179..180 " "
        EXPR_INT@180..181
          Int@180..181 "5"
        Semi@181..182 ";"
        Whitespace@182..187 "\n    "
      STMT_LET@187..207
        LetKeyword@187..190 "let"
        Whitespace@190..191 " "
        PATTERN_VARIABLE@191..192
          Ident@191..192 "f"
        Colon@192..193 ":"
        Whitespace@193..194 " "
        TYPE_INT64@194..198
          I64Keyword@194..197 "i64"
          Whitespace@197..198 " "
        Eq@198..199 "="
        Whitespace@199..200 " "
        EXPR_INT@200..201
          Int@200..201 "6"
        Semi@201..202 ";"
        Whitespace@202..207 "\n    "
      STMT_LET@207..227
        LetKeyword@207..210 "let"
        Whitespace@210..211 " "
        PATTERN_VARIABLE@211..212
          Ident@211..212 "g"
        Colon@212..213 ":"
        Whitespace@213..214 " "
        TYPE_UINT64@214..218
          U64Keyword@214..217 "u64"
          Whitespace@217..218 " "
        Eq@218..219 "="
        Whitespace@219..220 " "
        EXPR_INT@220..221
          Int@220..221 "7"
        Semi@221..222 ";"
        Whitespace@222..227 "\n    "
      STMT_LET@227..249
        LetKeyword@227..230 "let"
        Whitespace@230..231 " "
        PATTERN_VARIABLE@231..232
          Ident@231..232 "h"
        Colon@232..233 ":"
        Whitespace@233..234 " "
        TYPE_FLOAT32@234..238
          F32Keyword@234..237 "f32"
          Whitespace@237..238 " "
        Eq@238..239 "="
        Whitespace@239..240 " "
        EXPR_FLOAT@240..243
          Float@240..243 "1.0"
        Semi@243..244 ";"
        Whitespace@244..249 "\n    "
      STMT_EXPR@249..277
        EXPR_CALL@249..271
          EXPR_IDENT@249..256
            PATH@249..256
              Ident@249..256 "println"
          ARG_LIST@256..271
            LParen@256..257 "("
            ARG@257..270
              EXPR_CALL@257..270
                EXPR_BINARY@257..268
                  EXPR_IDENT@257..258
                    PATH@257..258
                      Ident@257..258 "a"
                  Dot@258..259 "."
                  EXPR_IDENT@259..268
                    PATH@259..268
                      Ident@259..268 "to_string"
                ARG_LIST@268..270
                  LParen@268..269 "("
                  RParen@269..270 ")"
            RParen@270..271 ")"
        Semi@271..272 ";"
        Whitespace@272..277 "\n    "
      STMT_EXPR@277..305
        EXPR_CALL@277..299
          EXPR_IDENT@277..284
            PATH@277..284
              Ident@277..284 "println"
          ARG_LIST@284..299
            LParen@284..285 "("
            ARG@285..298
              EXPR_CALL@285..298
                EXPR_BINARY@285..296
                  EXPR_IDENT@285..286
                    PATH@285..286
                      Ident@285..286 "b"
                  Dot@286..287 "."
                  EXPR_IDENT@287..296
                    PATH@287..296
                      Ident@287..296 "to_string"
                ARG_LIST@296..298
                  LParen@296..297 "("
                  RParen@297..298 ")"
            RParen@298..299 ")"
        Semi@299..300 ";"
        Whitespace@300..305 "\n    "
      STMT_EXPR@305..333
        EXPR_CALL@305..327
          EXPR_IDENT@305..312
            PATH@305..312
              Ident@305..312 "println"
          ARG_LIST@312..327
            LParen@312..313 "("
            ARG@313..326
              EXPR_CALL@313..326
                EXPR_BINARY@313..324
                  EXPR_IDENT@313..314
                    PATH@313..314
                      Ident@313..314 "c"
                  Dot@314..315 "."
                  EXPR_IDENT@315..324
                    PATH@315..324
                      Ident@315..324 "to_string"
                ARG_LIST@324..326
                  LParen@324..325 "("
                  RParen@325..326 ")"
            RParen@326..327 ")"
        Semi@327..328 ";"
        Whitespace@328..333 "\n    "
      STMT_EXPR@333..361
        EXPR_CALL@333..355
          EXPR_IDENT@333..340
            PATH@333..340
              Ident@333..340 "println"
          ARG_LIST@340..355
            LParen@340..341 "("
            ARG@341..354
              EXPR_CALL@341..354
                EXPR_BINARY@341..352
                  EXPR_IDENT@341..342
                    PATH@341..342
                      Ident@341..342 "d"
                  Dot@342..343 "."
                  EXPR_IDENT@343..352
                    PATH@343..352
                      Ident@343..352 "to_string"
                ARG_LIST@352..354
                  LParen@352..353 "("
                  RParen@353..354 ")"
            RParen@354..355 ")"
        Semi@355..356 ";"
        Whitespace@356..361 "\n    "
      STMT_EXPR@361..389
        EXPR_CALL@361..383
          EXPR_IDENT@361..368
            PATH@361..368
              Ident@361..368 "println"
          ARG_LIST@368..383
            LParen@368..369 "("
            ARG@369..382
              EXPR_CALL@369..382
                EXPR_BINARY@369..380
                  EXPR_IDENT@369..370
                    PATH@369..370
                      Ident@369..370 "e"
                  Dot@370..371 "."
                  EXPR_IDENT@371..380
                    PATH@371..380
                      Ident@371..380 "to_string"
                ARG_LIST@380..382
                  LParen@380..381 "("
                  RParen@381..382 ")"
            RParen@382..383 ")"
        Semi@383..384 ";"
        Whitespace@384..389 "\n    "
      STMT_EXPR@389..417
        EXPR_CALL@389..411
          EXPR_IDENT@389..396
            PATH@389..396
              Ident@389..396 "println"
          ARG_LIST@396..411
            LParen@396..397 "("
            ARG@397..410
              EXPR_CALL@397..410
                EXPR_BINARY@397..408
                  EXPR_IDENT@397..398
                    PATH@397..398
                      Ident@397..398 "f"
                  Dot@398..399 "."
                  EXPR_IDENT@399..408
                    PATH@399..408
                      Ident@399..408 "to_string"
                ARG_LIST@408..410
                  LParen@408..409 "("
                  RParen@409..410 ")"
            RParen@410..411 ")"
        Semi@411..412 ";"
        Whitespace@412..417 "\n    "
      STMT_EXPR@417..445
        EXPR_CALL@417..439
          EXPR_IDENT@417..424
            PATH@417..424
              Ident@417..424 "println"
          ARG_LIST@424..439
            LParen@424..425 "("
            ARG@425..438
              EXPR_CALL@425..438
                EXPR_BINARY@425..436
                  EXPR_IDENT@425..426
                    PATH@425..426
                      Ident@425..426 "g"
                  Dot@426..427 "."
                  EXPR_IDENT@427..436
                    PATH@427..436
                      Ident@427..436 "to_string"
                ARG_LIST@436..438
                  LParen@436..437 "("
                  RParen@437..438 ")"
            RParen@438..439 ")"
        Semi@439..440 ";"
        Whitespace@440..445 "\n    "
      STMT_EXPR@445..473
        EXPR_CALL@445..467
          EXPR_IDENT@445..452
            PATH@445..452
              Ident@445..452 "println"
          ARG_LIST@452..467
            LParen@452..453 "("
            ARG@453..466
              EXPR_CALL@453..466
                EXPR_BINARY@453..464
                  EXPR_IDENT@453..454
                    PATH@453..454
                      Ident@453..454 "h"
                  Dot@454..455 "."
                  EXPR_IDENT@455..464
                    PATH@455..464
                      Ident@455..464 "to_string"
                ARG_LIST@464..466
                  LParen@464..465 "("
                  RParen@465..466 ")"
            RParen@466..467 ")"
        Semi@467..468 ";"
        Whitespace@468..473 "\n    "
      STMT_EXPR@473..511
        EXPR_CALL@473..505
          EXPR_IDENT@473..480
            PATH@473..480
              Ident@473..480 "println"
          ARG_LIST@480..505
            LParen@480..481 "("
            ARG@481..504
              EXPR_CALL@481..504
                EXPR_BINARY@481..502
                  EXPR_CALL@481..492
                    EXPR_IDENT@481..488
                      PATH@481..488
                        Ident@481..488 "take_u8"
                    ARG_LIST@488..492
                      LParen@488..489 "("
                      ARG@489..491
                        EXPR_INT@489..491
                          Int@489..491 "10"
                      RParen@491..492 ")"
                  Dot@492..493 "."
                  EXPR_IDENT@493..502
                    PATH@493..502
                      Ident@493..502 "to_string"
                ARG_LIST@502..504
                  LParen@502..503 "("
                  RParen@503..504 ")"
            RParen@504..505 ")"
        Semi@505..506 ";"
        Whitespace@506..511 "\n    "
      STMT_EXPR@511..547
        EXPR_CALL@511..545
          EXPR_IDENT@511..518
            PATH@511..518
              Ident@511..518 "println"
          ARG_LIST@518..545
            LParen@518..519 "("
            ARG@519..544
              EXPR_CALL@519..544
                EXPR_BINARY@519..542
                  EXPR_CALL@519..532
                    EXPR_IDENT@519..527
                      PATH@519..527
                        Ident@519..527 "take_f32"
                    ARG_LIST@527..532
                      LParen@527..528 "("
                      ARG@528..531
                        EXPR_FLOAT@528..531
                          Float@528..531 "2.5"
                      RParen@531..532 ")"
                  Dot@532..533 "."
                  EXPR_IDENT@533..542
                    PATH@533..542
                      Ident@533..542 "to_string"
                ARG_LIST@542..544
                  LParen@542..543 "("
                  RParen@543..544 ")"
            RParen@544..545 ")"
        Semi@545..546 ";"
        Whitespace@546..547 "\n"
      RBrace@547..548 "}"
      Whitespace@548..549 "\n"