FILE@0..566
  ENUM@0..42
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Maybe"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    VARIANT_LIST@20..42
      VARIANT@20..27
        Ident@20..24 "Some"
        TYPE_LIST@24..27
          LParen@24..25 "("
          ENUM_TUPLE_FIELD@25..26
            TYPE_TAPP@25..26
              PATH@25..26
                Ident@25..26 "T"
          RParen@26..27 ")"
      Comma@27..28 ","
      Whitespace@28..33 "\n    "
      VARIANT@33..37
        Ident@33..37 "None"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  STRUCT@42..84
    StructKeyword@42..48 "struct"
    Whitespace@48..49 " "
    Ident@49..54 "Point"
    Whitespace@54..55 " "
    LBrace@55..56 "{"
    Whitespace@56..61 "\n    "
    STRUCT_FIELD_LIST@61..84
      STRUCT_FIELD@61..67
        Ident@61..62 "x"
        Colon@62..63 ":"
        Whitespace@63..64 " "
        TYPE_INT32@64..67
          I32Keyword@64..67 "i32"
      Comma@67..68 ","
      Whitespace@68..73 "\n    "
      STRUCT_FIELD@73..79
        Ident@73..74 "y"
        Colon@74..75 ":"
        Whitespace@75..76 " "
        TYPE_INT32@76..79
          I32Keyword@76..79 "i32"
      Comma@79..80 ","
      Whitespace@80..81 "\n"
      RBrace@81..82 "}"
      Whitespace@82..84 "\n\n"
  FN@84..144
    FnKeyword@84..86 "fn"
    Whitespace@86..87 " "
    Ident@87..96 "make_some"
    PARAM_LIST@96..109
      LParen@96..97 "("
      PARAM@97..107
        Ident@97..102 "value"
        Colon@102..103 ":"
        Whitespace@103..104 " "
        TYPE_INT32@104..107
          I32Keyword@104..107 "i32"
      RParen@107..108 ")"
      Whitespace@108..109 " "
    Arrow@109..111 "->"
    Whitespace@111..112 " "
    TYPE_TAPP@112..123
      PATH@112..117
        Ident@112..117 "Maybe"
      TYPE_PARAM_LIST@117..123
        LBracket@117..118 "["
        TYPE_INT32@118..121
          I32Keyword@118..121 "i32"
        RBracket@121..122 "]"
        Whitespace@122..123 " "
    BLOCK@123..144
      LBrace@123..124 "{"
      Whitespace@124..129 "\n    "
      EXPR_CALL@129..141
        EXPR_IDENT@129..133
          PATH@129..133
            Ident@129..133 "Some"
        ARG_LIST@133..141
          LParen@133..134 "("
          ARG@134..139
            EXPR_IDENT@134..139
              PATH@134..139
                Ident@134..139 "value"
          RParen@139..140 ")"
          Whitespace@140..141 "\n"
      RBrace@141..142 "}"
      Whitespace@142..144 "\n\n"
  FN@144..214
    FnKeyword@144..146 "fn"
    Whitespace@146..147 " "
    Ident@147..158 "build_point"
    PARAM_LIST@158..175
      LParen@158..159 "("
      PARAM@159..167
        Ident@159..160 "x"
        Colon@160..161 ":"
        Whitespace@161..162 " "
        TYPE_INT32@162..165
          I32Keyword@162..165 "i32"
        Comma@165..166 ","
        Whitespace@166..167 " "
      PARAM@167..173
        Ident@167..168 "y"
        Colon@168..169 ":"
        Whitespace@169..170 " "
        TYPE_INT32@170..173
          I32Keyword@170..173 "i32"
      RParen@173..174 ")"
      Whitespace@174..175 " "
    Arrow@175..177 "->"
    Whitespace@177..178 " "
    TYPE_TAPP@178..184
      PATH@178..184
        Ident@178..183 "Point"
        Whitespace@183..184 " "
    BLOCK@184..214
      LBrace@184..185 "{"
      Whitespace@185..190 "\n    "
      EXPR_STRUCT_LITERAL@190..211
        PATH@190..196
          Ident@190..195 "Point"
          Whitespace@195..196 " "
        STRUCT_LITERAL_FIELD_LIST@196..211
          LBrace@196..197 "{"
          Whitespace@197..198 " "
          STRUCT_LITERAL_FIELD@198..202
            Ident@198..199 "x"
            Colon@199..200 ":"
            Whitespace@200..201 " "
            EXPR_IDENT@201..202
              PATH@201..202
                Ident@201..202 "x"
          Comma@202..203 ","
          Whitespace@203..204 " "
          STRUCT_LITERAL_FIELD@204..209
            Ident@204..205 "y"
            Colon@205..206 ":"
            Whitespace@206..207 " "
            EXPR_IDENT@207..209
              PATH@207..209
                Ident@207..208 "y"
                Whitespace@208..209 " "
          RBrace@209..210 "}"
          Whitespace@210..211 "\n"
      RBrace@211..212 "}"
      Whitespace@212..214 "\n\n"
  FN@214..287
    FnKeyword@214..216 "fn"
    Whitespace@216..217 " "
    Ident@217..226 "magnitude"
    PARAM_LIST@226..237
      LParen@226..227 "("
      PARAM@227..235
        Ident@227..228 "p"
        Colon@228..229 ":"
        Whitespace@229..230 " "
        TYPE_TAPP@230..235
          PATH@230..235
            Ident@230..235 "Point"
      RParen@235..236 ")"
      Whitespace@236..237 " "
    Arrow@237..239 "->"
    Whitespace@239..240 " "
    TYPE_INT32@240..244
      I32Keyword@240..243 "i32"
      Whitespace@243..244 " "
    BLOCK@244..287
      LBrace@244..245 "{"
      Whitespace@245..250 "\n    "
      STMT_LET@250..278
        LetKeyword@250..253 "let"
        Whitespace@253..254 " "
        PATTERN_CONSTR@254..269
          PATH@254..260
            Ident@254..259 "Point"
            Whitespace@259..260 " "
          STRUCT_PATTERN_FIELD_LIST@260..269
            LBrace@260..261 "{"
            Whitespace@261..262 " "
            STRUCT_PATTERN_FIELD@262..263
              Ident@262..263 "x"
            Comma@263..264 ","
            Whitespace@264..265 " "
            STRUCT_PATTERN_FIELD@265..267
              Ident@265..266 "y"
              Whitespace@266..267 " "
            RBrace@267..268 "}"
            Whitespace@268..269 " "
        Eq@269..270 "="
        Whitespace@270..271 " "
        EXPR_IDENT@271..272
          PATH@271..272
            Ident@271..272 "p"
        Semi@272..273 ";"
        Whitespace@273..278 "\n    "
      EXPR_BINARY@278..284
        EXPR_IDENT@278..280
          PATH@278..280
            Ident@278..279 "x"
            Whitespace@279..280 " "
        Plus@280..281 "+"
        Whitespace@281..282 " "
        EXPR_IDENT@282..284
          PATH@282..284
            Ident@282..283 "y"
            Whitespace@283..284 "\n"
      RBrace@284..285 "}"
      Whitespace@285..287 "\n\n"
  FN@287..566
    FnKeyword@287..289 "fn"
    Whitespace@289..290 " "
    Ident@290..294 "main"
    PARAM_LIST@294..297
      LParen@294..295 "("
      RParen@295..296 ")"
      Whitespace@296..297 " "
    Arrow@297..299 "->"
    Whitespace@299..300 " "
    TYPE_INT32@300..304
      I32Keyword@300..303 "i32"
      Whitespace@303..304 " "
    BLOCK@304..566
      LBrace@304..305 "{"
      Whitespace@305..310 "\n    "
      EXPR_MATCH@310..564
        MatchKeyword@310..315 "match"
        Whitespace@315..316 " "
        EXPR_CALL@316..329
          EXPR_IDENT@316..325
            PATH@316..325
              Ident@316..325 "make_some"
          ARG_LIST@325..329
            LParen@325..326 "("
            ARG@326..327
              EXPR_INT@326..327
                Int@326..327 "5"
            RParen@327..328 ")"
            Whitespace@328..329 " "
        MATCH_ARM_LIST@329..564
          LBrace@329..330 "{"
          Whitespace@330..339 "\n        "
          MATCH_ARM@339..537
            PATTERN_CONSTR@339..352
              PATH@339..343
                Ident@339..343 "Some"
              LParen@343..344 "("
              PATTERN_VARIABLE@344..350
                Ident@344..350 "result"
              RParen@350..351 ")"
              Whitespace@351..352 " "
            FatArrow@352..354 "=>"
            Whitespace@354..355 " "
            BLOCK@355..537
              LBrace@355..356 "{"
              Whitespace@356..369 "\n            "
              STMT_LET@369..414
                LetKeyword@369..372 "let"
                Whitespace@372..373 " "
                PATTERN_VARIABLE@373..376
                  Ident@373..375 "pt"
                  Whitespace@375..376 " "
                Eq@376..377 "="
                Whitespace@377..378 " "
                EXPR_CALL@378..400
                  EXPR_IDENT@378..389
                    PATH@378..389
                      Ident@378..389 "build_point"
                  ARG_LIST@389..400
                    LParen@389..390 "("
                    ARG@390..398
                      EXPR_IDENT@390..396
                        PATH@390..396
                          Ident@390..396 "result"
                      Comma@396..397 ","
                      Whitespace@397..398 " "
                    ARG@398..399
                      EXPR_INT@398..399
                        Int@398..399 "7"
                    RParen@399..400 ")"
                Semi@400..401 ";"
                Whitespace@401..414 "\n            "
              EXPR_MATCH@414..536
                MatchKeyword@414..419 "match"
                Whitespace@419..420 " "
                EXPR_CALL@420..431
                  EXPR_IDENT@420..424
                    PATH@420..424
                      Ident@420..424 "Some"
                  ARG_LIST@424..431
                    LParen@424..425 "("
                    ARG@425..429
                      EXPR_BINARY@425..429
                        EXPR_IDENT@425..427
                          PATH@425..427
                            Ident@425..427 "pt"
                        Dot@427..428 "."
                        EXPR_IDENT@428..429
                          PATH@428..429
                            Ident@428..429 "x"
                    RParen@429..430 ")"
                    Whitespace@430..431 " "
                MATCH_ARM_LIST@431..536
                  LBrace@431..432 "{"
                  Whitespace@432..449 "\n                "
                  MATCH_ARM@449..485
                    PATTERN_CONSTR@449..461
                      PATH@449..453
                        Ident@449..453 "Some"
                      LParen@453..454 "("
                      PATTERN_VARIABLE@454..459
                        Ident@454..459 "value"
                      RParen@459..460 ")"
                      Whitespace@460..461 " "
                    FatArrow@461..463 "=>"
                    Whitespace@463..464 " "
                    EXPR_BINARY@464..485
                      EXPR_IDENT@464..470
                        PATH@464..470
                          Ident@464..469 "value"
                          Whitespace@469..470 " "
                      Plus@470..471 "+"
                      Whitespace@471..472 " "
                      EXPR_CALL@472..485
                        EXPR_IDENT@472..481
                          PATH@472..481
                            Ident@472..481 "magnitude"
                        ARG_LIST@481..485
                          LParen@481..482 "("
                          ARG@482..484
                            EXPR_IDENT@482..484
                              PATH@482..484
                                Ident@482..484 "pt"
                          RParen@484..485 ")"
                  Comma@485..486 ","
                  Whitespace@486..503 "\n                "
                  MATCH_ARM@503..512
                    PATTERN_CONSTR@503..508
                      PATH@503..508
                        Ident@503..507 "None"
                        Whitespace@507..508 " "
                    FatArrow@508..510 "=>"
                    Whitespace@510..511 " "
                    EXPR_INT@511..512
                      Int@511..512 "0"
                  Comma@512..513 ","
                  Whitespace@513..526 "\n            "
                  RBrace@526..527 "}"
                  Whitespace@527..536 "\n        "
              RBrace@536..537 "}"
          Comma@537..538 ","
          Whitespace@538..547 "\n        "
          MATCH_ARM@547..556
            PATTERN_CONSTR@547..552
              PATH@547..552
                Ident@547..551 "None"
                Whitespace@551..552 " "
            FatArrow@552..554 "=>"
            Whitespace@554..555 " "
            EXPR_INT@555..556
              Int@555..556 "0"
          Comma@556..557 ","
          Whitespace@557..562 "\n    "
          RBrace@562..563 "}"
          Whitespace@563..564 "\n"
      RBrace@564..565 "}"
      Whitespace@565..566 "\n"