FILE@0..868
  FN@0..185
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..8 "early"
    PARAM_LIST@8..19
      LParen@8..9 "("
      PARAM@9..17
        Ident@9..10 "x"
        Colon@10..11 ":"
        Whitespace@11..12 " "
        TYPE_INT32@12..17
          Int32Keyword@12..17 "int32"
      RParen@17..18 ")"
      Whitespace@18..19 " "
    Arrow@19..21 "->"
    Whitespace@21..22 " "
    TYPE_INT32@22..28
      Int32Keyword@22..27 "int32"
      Whitespace@27..28 " "
    BLOCK@28..185
      LBrace@28..29 "{"
      Whitespace@29..34 "\n    "
      STMT_EXPR@34..103
        EXPR_IF@34..97
          IfKeyword@34..36 "if"
          Whitespace@36..37 " "
          EXPR_IF_COND@37..46
            EXPR_BINARY@37..46
              EXPR_IDENT@37..39
                PATH@37..39
                  Ident@37..38 "x"
                  Whitespace@38..39 " "
              Less@39..40 "<"
              Whitespace@40..41 " "
              EXPR_INT32@41..46
                Int32Lit@41..45 "0i32"
                Whitespace@45..46 " "
          EXPR_IF_THEN@46..74
            BLOCK@46..74
              LBrace@46..47 "{"
              Whitespace@47..56 "\n        "
              EXPR_RETURN@56..72
                ReturnKeyword@56..62 "return"
                Whitespace@62..63 " "
                EXPR_INT32@63..72
                  Int32Lit@63..67 "0i32"
                  Whitespace@67..72 "\n    "
              RBrace@72..73 "}"
              Whitespace@73..74 " "
          ElseKeyword@74..78 "else"
          Whitespace@78..79 " "
          EXPR_IF_ELSE@79..97
            BLOCK@79..97
              LBrace@79..80 "{"
              Whitespace@80..89 "\n        "
              EXPR_UNIT@89..96
                LParen@89..90 "("
                RParen@90..91 ")"
                Whitespace@91..96 "\n    "
              RBrace@96..97 "}"
        Semi@97..98 ";"
        Whitespace@98..103 "\n    "
      STMT_EXPR@103..173
        EXPR_IF@103..167
          IfKeyword@103..105 "if"
          Whitespace@105..106 " "
          EXPR_IF_COND@106..116
            EXPR_BINARY@106..116
              EXPR_IDENT@106..108
                PATH@106..108
                  Ident@106..107 "x"
                  Whitespace@107..108 " "
              EqEq@108..110 "=="
              Whitespace@110..111 " "
              EXPR_INT32@111..116
                Int32Lit@111..115 "0i32"
                Whitespace@115..116 " "
          EXPR_IF_THEN@116..144
            BLOCK@116..144
              LBrace@116..117 "{"
              Whitespace@117..126 "\n        "
              EXPR_RETURN@126..142
                ReturnKeyword@126..132 "return"
                Whitespace@132..133 " "
                EXPR_INT32@133..142
                  Int32Lit@133..137 "1i32"
                  Whitespace@137..142 "\n    "
              RBrace@142..143 "}"
              Whitespace@143..144 " "
          ElseKeyword@144..148 "else"
          Whitespace@148..149 " "
          EXPR_IF_ELSE@149..167
            BLOCK@149..167
              LBrace@149..150 "{"
              Whitespace@150..159 "\n        "
              EXPR_UNIT@159..166
                LParen@159..160 "("
                RParen@160..161 ")"
                Whitespace@161..166 "\n    "
              RBrace@166..167 "}"
        Semi@167..168 ";"
        Whitespace@168..173 "\n    "
      EXPR_BINARY@173..182
        EXPR_IDENT@173..175
          PATH@173..175
            Ident@173..174 "x"
            Whitespace@174..175 " "
        Plus@175..176 "+"
        Whitespace@176..177 " "
        EXPR_INT32@177..182
          Int32Lit@177..181 "2i32"
          Whitespace@181..182 "\n"
      RBrace@182..183 "}"
      Whitespace@183..185 "\n\n"
  FN@185..371
    FnKeyword@185..187 "fn"
    Whitespace@187..188 " "
    Ident@188..201 "closure_early"
    PARAM_LIST@201..212
      LParen@201..202 "("
      PARAM@202..210
        Ident@202..203 "x"
        Colon@203..204 ":"
        Whitespace@204..205 " "
        TYPE_INT32@205..210
          Int32Keyword@205..210 "int32"
      RParen@210..211 ")"
      Whitespace@211..212 " "
    Arrow@212..214 "->"
    Whitespace@214..215 " "
    TYPE_INT32@215..221
      Int32Keyword@215..220 "int32"
      Whitespace@220..221 " "
    BLOCK@221..371
      LBrace@221..222 "{"
      Whitespace@222..227 "\n    "
      STMT_LET@227..363
        LetKeyword@227..230 "let"
        Whitespace@230..231 " "
        PATTERN_VARIABLE@231..233
          Ident@231..232 "f"
          Whitespace@232..233 " "
        Eq@233..234 "="
        Whitespace@234..235 " "
        EXPR_CLOSURE@235..357
          CLOSURE_PARAM_LIST@235..246
            Pipe@235..236 "|"
            CLOSURE_PARAM@236..244
              Ident@236..237 "y"
              Colon@237..238 ":"
              Whitespace@238..239 " "
              TYPE_INT32@239..244
                Int32Keyword@239..244 "int32"
            Pipe@244..245 "|"
            Whitespace@245..246 " "
          EXPR_CLOSURE_BODY@246..357
            BLOCK@246..357
              LBrace@246..247 "{"
              Whitespace@247..256 "\n        "
              STMT_EXPR@256..342
                EXPR_IF@256..332
                  IfKeyword@256..258 "if"
                  Whitespace@258..259 " "
                  EXPR_IF_COND@259..268
                    EXPR_BINARY@259..268
                      EXPR_IDENT@259..261
                        PATH@259..261
                          Ident@259..260 "y"
                          Whitespace@260..261 " "
                      Greater@261..262 ">"
                      Whitespace@262..263 " "
                      EXPR_INT32@263..268
                        Int32Lit@263..267 "5i32"
                        Whitespace@267..268 " "
                  EXPR_IF_THEN@268..301
                    BLOCK@268..301
                      LBrace@268..269 "{"
                      Whitespace@269..282 "\n            "
                      EXPR_RETURN@282..299
                        ReturnKeyword@282..288 "return"
                        Whitespace@288..289 " "
                        EXPR_IDENT@289..299
                          PATH@289..299
                            Ident@289..290 "y"
                            Whitespace@290..299 "\n        "
                      RBrace@299..300 "}"
                      Whitespace@300..301 " "
                  ElseKeyword@301..305 "else"
                  Whitespace@305..306 " "
                  EXPR_IF_ELSE@306..332
                    BLOCK@306..332
                      LBrace@306..307 "{"
                      Whitespace@307..320 "\n            "
                      EXPR_UNIT@320..331
                        LParen@320..321 "("
                        RParen@321..322 ")"
                        Whitespace@322..331 "\n        "
                      RBrace@331..332 "}"
                Semi@332..333 ";"
                Whitespace@333..342 "\n        "
              EXPR_BINARY@342..356
                EXPR_IDENT@342..344
                  PATH@342..344
                    Ident@342..343 "y"
                    Whitespace@343..344 " "
                Plus@344..345 "+"
                Whitespace@345..346 " "
                EXPR_INT32@346..356
                  Int32Lit@346..351 "10i32"
                  Whitespace@351..356 "\n    "
              RBrace@356..357 "}"
        Semi@357..358 ";"
        Whitespace@358..363 "\n    "
      EXPR_CALL@363..368
        EXPR_IDENT@363..364
          PATH@363..364
            Ident@363..364 "f"
        ARG_LIST@364..368
          LParen@364..365 "("
          ARG@365..366
            EXPR_IDENT@365..366
              PATH@365..366
                Ident@365..366 "x"
          RParen@366..367 ")"
          Whitespace@367..368 "\n"
      RBrace@368..369 "}"
      Whitespace@369..371 "\n\n"
  FN@371..490
    FnKeyword@371..373 "fn"
    Whitespace@373..374 " "
    Ident@374..382 "unit_ret"
    PARAM_LIST@382..395
      LParen@382..383 "("
      PARAM@383..393
        Ident@383..387 "flag"
        Colon@387..388 ":"
        Whitespace@388..389 " "
        TYPE_BOOL@389..393
          BoolKeyword@389..393 "bool"
      RParen@393..394 ")"
      Whitespace@394..395 " "
    BLOCK@395..490
      LBrace@395..396 "{"
      Whitespace@396..401 "\n    "
      STMT_EXPR@401..461
        EXPR_IF@401..455
          IfKeyword@401..403 "if"
          Whitespace@403..404 " "
          EXPR_IF_COND@404..409
            EXPR_IDENT@404..409
              PATH@404..409
                Ident@404..408 "flag"
                Whitespace@408..409 " "
          EXPR_IF_THEN@409..432
            BLOCK@409..432
              LBrace@409..410 "{"
              Whitespace@410..419 "\n        "
              EXPR_RETURN@419..430
                ReturnKeyword@419..425 "return"
                Whitespace@425..430 "\n    "
              RBrace@430..431 "}"
              Whitespace@431..432 " "
          ElseKeyword@432..436 "else"
          Whitespace@436..437 " "
          EXPR_IF_ELSE@437..455
            BLOCK@437..455
              LBrace@437..438 "{"
              Whitespace@438..447 "\n        "
              EXPR_UNIT@447..454
                LParen@447..448 "("
                RParen@448..449 ")"
                Whitespace@449..454 "\n    "
              RBrace@454..455 "}"
        Semi@455..456 ";"
        Whitespace@456..461 "\n    "
      STMT_LET@461..487
        LetKeyword@461..464 "let"
        Whitespace@464..465 " "
        PATTERN_WILDCARD@465..467
          WildcardKeyword@465..466 "_"
          Whitespace@466..467 " "
        Eq@467..468 "="
        Whitespace@468..469 " "
        EXPR_CALL@469..485
          EXPR_IDENT@469..476
            PATH@469..476
              Ident@469..476 "println"
          ARG_LIST@476..485
            LParen@476..477 "("
            ARG@477..484
              EXPR_STR@477..484
                Str@477..484 "\"after\""
            RParen@484..485 ")"
        Semi@485..486 ";"
        Whitespace@486..487 "\n"
      RBrace@487..488 "}"
      Whitespace@488..490 "\n\n"
  FN@490..868
    FnKeyword@490..492 "fn"
    Whitespace@492..493 " "
    Ident@493..497 "main"
    PARAM_LIST@497..500
      LParen@497..498 "("
      RParen@498..499 ")"
      Whitespace@499..500 " "
    BLOCK@500..868
      LBrace@500..501 "{"
      Whitespace@501..506 "\n    "
      STMT_LET@506..534
        LetKeyword@506..509 "let"
        Whitespace@509..510 " "
        PATTERN_WILDCARD@510..512
          WildcardKeyword@510..511 "_"
          Whitespace@511..512 " "
        Eq@512..513 "="
        Whitespace@513..514 " "
        EXPR_CALL@514..528
          EXPR_IDENT@514..519
            PATH@514..519
              Ident@514..519 "print"
          ARG_LIST@519..528
            LParen@519..520 "("
            ARG@520..527
              EXPR_STR@520..527
                Str@520..527 "\"e-1: \""
            RParen@527..528 ")"
        Semi@528..529 ";"
        Whitespace@529..534 "\n    "
      STMT_LET@534..569
        LetKeyword@534..537 "let"
        Whitespace@537..538 " "
        PATTERN_WILDCARD@538..540
          WildcardKeyword@538..539 "_"
          Whitespace@539..540 " "
        Eq@540..541 "="
        Whitespace@541..542 " "
        EXPR_CALL@542..563
          EXPR_IDENT@542..549
            PATH@542..549
              Ident@542..549 "println"
          ARG_LIST@549..563
            LParen@549..550 "("
            ARG@550..562
              EXPR_CALL@550..562
                EXPR_IDENT@550..555
                  PATH@550..555
                    Ident@550..555 "early"
                ARG_LIST@555..562
                  LParen@555..556 "("
                  ARG@556..561
                    EXPR_PREFIX@556..561
                      Minus@556..557 "-"
                      EXPR_INT32@557..561
                        Int32Lit@557..561 "1i32"
                  RParen@561..562 ")"
            RParen@562..563 ")"
        Semi@563..564 ";"
        Whitespace@564..569 "\n    "
      STMT_LET@569..596
        LetKeyword@569..572 "let"
        Whitespace@572..573 " "
        PATTERN_WILDCARD@573..575
          WildcardKeyword@573..574 "_"
          Whitespace@574..575 " "
        Eq@575..576 "="
        Whitespace@576..577 " "
        EXPR_CALL@577..590
          EXPR_IDENT@577..582
            PATH@577..582
              Ident@577..582 "print"
          ARG_LIST@582..590
            LParen@582..583 "("
            ARG@583..589
              EXPR_STR@583..589
                Str@583..589 "\"e0: \""
            RParen@589..590 ")"
        Semi@590..591 ";"
        Whitespace@591..596 "\n    "
      STMT_LET@596..630
        LetKeyword@596..599 "let"
        Whitespace@599..600 " "
        PATTERN_WILDCARD@600..602
          WildcardKeyword@600..601 "_"
          Whitespace@601..602 " "
        Eq@602..603 "="
        Whitespace@603..604 " "
        EXPR_CALL@604..624
          EXPR_IDENT@604..611
            PATH@604..611
              Ident@604..611 "println"
          ARG_LIST@611..624
            LParen@611..612 "("
            ARG@612..623
              EXPR_CALL@612..623
                EXPR_IDENT@612..617
                  PATH@612..617
                    Ident@612..617 "early"
                ARG_LIST@617..623
                  LParen@617..618 "("
                  ARG@618..622
                    EXPR_INT32@618..622
                      Int32Lit@618..622 "0i32"
                  RParen@622..623 ")"
            RParen@623..624 ")"
        Semi@624..625 ";"
        Whitespace@625..630 "\n    "
      STMT_LET@630..657
        LetKeyword@630..633 "let"
        Whitespace@633..634 " "
        PATTERN_WILDCARD@634..636
          WildcardKeyword@634..635 "_"
          Whitespace@635..636 " "
        Eq@636..637 "="
        Whitespace@637..638 " "
        EXPR_CALL@638..651
          EXPR_IDENT@638..643
            PATH@638..643
              Ident@638..643 "print"
          ARG_LIST@643..651
            LParen@643..644 "("
            ARG@644..650
              EXPR_STR@644..650
                Str@644..650 "\"e3: \""
            RParen@650..651 ")"
        Semi@651..652 ";"
        Whitespace@652..657 "\n    "
      STMT_LET@657..691
        LetKeyword@657..660 "let"
        Whitespace@660..661 " "
        PATTERN_WILDCARD@661..663
          WildcardKeyword@661..662 "_"
          Whitespace@662..663 " "
        Eq@663..664 "="
        Whitespace@664..665 " "
        EXPR_CALL@665..685
          EXPR_IDENT@665..672
            PATH@665..672
              Ident@665..672 "println"
          ARG_LIST@672..685
            LParen@672..673 "("
            ARG@673..684
              EXPR_CALL@673..684
                EXPR_IDENT@673..678
                  PATH@673..678
                    Ident@673..678 "early"
                ARG_LIST@678..684
                  LParen@678..679 "("
                  ARG@679..683
                    EXPR_INT32@679..683
                      Int32Lit@679..683 "3i32"
                  RParen@683..684 ")"
            RParen@684..685 ")"
        Semi@685..686 ";"
        Whitespace@686..691 "\n    "
      STMT_LET@691..718
        LetKeyword@691..694 "let"
        Whitespace@694..695 " "
        PATTERN_WILDCARD@695..697
          WildcardKeyword@695..696 "_"
          Whitespace@696..697 " "
        Eq@697..698 "="
        Whitespace@698..699 " "
        EXPR_CALL@699..712
          EXPR_IDENT@699..704
            PATH@699..704
              Ident@699..704 "print"
          ARG_LIST@704..712
            LParen@704..705 "("
            ARG@705..711
              EXPR_STR@705..711
                Str@705..711 "\"c7: \""
            RParen@711..712 ")"
        Semi@712..713 ";"
        Whitespace@713..718 "\n    "
      STMT_LET@718..760
        LetKeyword@718..721 "let"
        Whitespace@721..722 " "
        PATTERN_WILDCARD@722..724
          WildcardKeyword@722..723 "_"
          Whitespace@723..724 " "
        Eq@724..725 "="
        Whitespace@725..726 " "
        EXPR_CALL@726..754
          EXPR_IDENT@726..733
            PATH@726..733
              Ident@726..733 "println"
          ARG_LIST@733..754
            LParen@733..734 "("
            ARG@734..753
              EXPR_CALL@734..753
                EXPR_IDENT@734..747
                  PATH@734..747
                    Ident@734..747 "closure_early"
                ARG_LIST@747..753
                  LParen@747..748 "("
                  ARG@748..752
                    EXPR_INT32@748..752
                      Int32Lit@748..752 "7i32"
                  RParen@752..753 ")"
            RParen@753..754 ")"
        Semi@754..755 ";"
        Whitespace@755..760 "\n    "
      STMT_LET@760..787
        LetKeyword@760..763 "let"
        Whitespace@763..764 " "
        PATTERN_WILDCARD@764..766
          WildcardKeyword@764..765 "_"
          Whitespace@765..766 " "
        Eq@766..767 "="
        Whitespace@767..768 " "
        EXPR_CALL@768..781
          EXPR_IDENT@768..773
            PATH@768..773
              Ident@768..773 "print"
          ARG_LIST@773..781
            LParen@773..774 "("
            ARG@774..780
              EXPR_STR@774..780
                Str@774..780 "\"c2: \""
            RParen@780..781 ")"
        Semi@781..782 ";"
        Whitespace@782..787 "\n    "
      STMT_LET@787..829
        LetKeyword@787..790 "let"
        Whitespace@790..791 " "
        PATTERN_WILDCARD@791..793
          WildcardKeyword@791..792 "_"
          Whitespace@792..793 " "
        Eq@793..794 "="
        Whitespace@794..795 " "
        EXPR_CALL@795..823
          EXPR_IDENT@795..802
            PATH@795..802
              Ident@795..802 "println"
          ARG_LIST@802..823
            LParen@802..803 "("
            ARG@803..822
              EXPR_CALL@803..822
                EXPR_IDENT@803..816
                  PATH@803..816
                    Ident@803..816 "closure_early"
                ARG_LIST@816..822
                  LParen@816..817 "("
                  ARG@817..821
                    EXPR_INT32@817..821
                      Int32Lit@817..821 "2i32"
                  RParen@821..822 ")"
            RParen@822..823 ")"
        Semi@823..824 ";"
        Whitespace@824..829 "\n    "
      STMT_EXPR@829..849
        EXPR_CALL@829..843
          EXPR_IDENT@829..837
            PATH@829..837
              Ident@829..837 "unit_ret"
          ARG_LIST@837..843
            LParen@837..838 "("
            ARG@838..842
              EXPR_BOOL@838..842
                TrueKeyword@838..842 "true"
            RParen@842..843 ")"
        Semi@843..844 ";"
        Whitespace@844..849 "\n    "
      STMT_EXPR@849..866
        EXPR_CALL@849..864
          EXPR_IDENT@849..857
            PATH@849..857
              Ident@849..857 "unit_ret"
          ARG_LIST@857..864
            LParen@857..858 "("
            ARG@858..863
              EXPR_BOOL@858..863
                FalseKeyword@858..863 "false"
            RParen@863..864 ")"
        Semi@864..865 ";"
        Whitespace@865..866 "\n"
      RBrace@866..867 "}"
      Whitespace@867..868 "\n"