FILE@0..582
  ENUM@0..42
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..10 "Maybe"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    VARIANT_LIST@20..42
      VARIANT@20..27
        Ident@20..24 "Some"
        TYPE_LIST@24..27
          LParen@24..25 "("
          TYPE_TAPP@25..26
            PATH@25..26
              Ident@25..26 "T"
          RParen@26..27 ")"
      Comma@27..28 ","
      Whitespace@28..33 "\n    "
      VARIANT@33..37
        Ident@33..37 "None"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  STRUCT@42..88
    StructKeyword@42..48 "struct"
    Whitespace@48..49 " "
    Ident@49..54 "Point"
    Whitespace@54..55 " "
    LBrace@55..56 "{"
    Whitespace@56..61 "\n    "
    STRUCT_FIELD_LIST@61..88
      STRUCT_FIELD@61..69
        Ident@61..62 "x"
        Colon@62..63 ":"
        Whitespace@63..64 " "
        TYPE_INT32@64..69
          Int32Keyword@64..69 "int32"
      Comma@69..70 ","
      Whitespace@70..75 "\n    "
      STRUCT_FIELD@75..83
        Ident@75..76 "y"
        Colon@76..77 ":"
        Whitespace@77..78 " "
        TYPE_INT32@78..83
          Int32Keyword@78..83 "int32"
      Comma@83..84 ","
      Whitespace@84..85 "\n"
      RBrace@85..86 "}"
      Whitespace@86..88 "\n\n"
  FN@88..152
    FnKeyword@88..90 "fn"
    Whitespace@90..91 " "
    Ident@91..100 "make_some"
    PARAM_LIST@100..115
      LParen@100..101 "("
      PARAM@101..113
        Ident@101..106 "value"
        Colon@106..107 ":"
        Whitespace@107..108 " "
        TYPE_INT32@108..113
          Int32Keyword@108..113 "int32"
      RParen@113..114 ")"
      Whitespace@114..115 " "
    Arrow@115..117 "->"
    Whitespace@117..118 " "
    TYPE_TAPP@118..131
      PATH@118..123
        Ident@118..123 "Maybe"
      TYPE_PARAM_LIST@123..131
        LBracket@123..124 "["
        TYPE_INT32@124..129
          Int32Keyword@124..129 "int32"
        RBracket@129..130 "]"
        Whitespace@130..131 " "
    BLOCK@131..152
      LBrace@131..132 "{"
      Whitespace@132..137 "\n    "
      EXPR_CALL@137..149
        EXPR_IDENT@137..141
          PATH@137..141
            Ident@137..141 "Some"
        ARG_LIST@141..149
          LParen@141..142 "("
          ARG@142..147
            EXPR_IDENT@142..147
              PATH@142..147
                Ident@142..147 "value"
          RParen@147..148 ")"
          Whitespace@148..149 "\n"
      RBrace@149..150 "}"
      Whitespace@150..152 "\n\n"
  FN@152..226
    FnKeyword@152..154 "fn"
    Whitespace@154..155 " "
    Ident@155..166 "build_point"
    PARAM_LIST@166..187
      LParen@166..167 "("
      PARAM@167..177
        Ident@167..168 "x"
        Colon@168..169 ":"
        Whitespace@169..170 " "
        TYPE_INT32@170..175
          Int32Keyword@170..175 "int32"
        Comma@175..176 ","
        Whitespace@176..177 " "
      PARAM@177..185
        Ident@177..178 "y"
        Colon@178..179 ":"
        Whitespace@179..180 " "
        TYPE_INT32@180..185
          Int32Keyword@180..185 "int32"
      RParen@185..186 ")"
      Whitespace@186..187 " "
    Arrow@187..189 "->"
    Whitespace@189..190 " "
    TYPE_TAPP@190..196
      PATH@190..196
        Ident@190..195 "Point"
        Whitespace@195..196 " "
    BLOCK@196..226
      LBrace@196..197 "{"
      Whitespace@197..202 "\n    "
      EXPR_STRUCT_LITERAL@202..223
        PATH@202..208
          Ident@202..207 "Point"
          Whitespace@207..208 " "
        STRUCT_LITERAL_FIELD_LIST@208..223
          LBrace@208..209 "{"
          Whitespace@209..210 " "
          STRUCT_LITERAL_FIELD@210..214
            Ident@210..211 "x"
            Colon@211..212 ":"
            Whitespace@212..213 " "
            EXPR_IDENT@213..214
              PATH@213..214
                Ident@213..214 "x"
          Comma@214..215 ","
          Whitespace@215..216 " "
          STRUCT_LITERAL_FIELD@216..221
            Ident@216..217 "y"
            Colon@217..218 ":"
            Whitespace@218..219 " "
            EXPR_IDENT@219..221
              PATH@219..221
                Ident@219..220 "y"
                Whitespace@220..221 " "
          RBrace@221..222 "}"
          Whitespace@222..223 "\n"
      RBrace@223..224 "}"
      Whitespace@224..226 "\n\n"
  FN@226..301
    FnKeyword@226..228 "fn"
    Whitespace@228..229 " "
    Ident@229..238 "magnitude"
    PARAM_LIST@238..249
      LParen@238..239 "("
      PARAM@239..247
        Ident@239..240 "p"
        Colon@240..241 ":"
        Whitespace@241..242 " "
        TYPE_TAPP@242..247
          PATH@242..247
            Ident@242..247 "Point"
      RParen@247..248 ")"
      Whitespace@248..249 " "
    Arrow@249..251 "->"
    Whitespace@251..252 " "
    TYPE_INT32@252..258
      Int32Keyword@252..257 "int32"
      Whitespace@257..258 " "
    BLOCK@258..301
      LBrace@258..259 "{"
      Whitespace@259..264 "\n    "
      STMT_LET@264..292
        LetKeyword@264..267 "let"
        Whitespace@267..268 " "
        PATTERN_CONSTR@268..283
          PATH@268..274
            Ident@268..273 "Point"
            Whitespace@273..274 " "
          STRUCT_PATTERN_FIELD_LIST@274..283
            LBrace@274..275 "{"
            Whitespace@275..276 " "
            STRUCT_PATTERN_FIELD@276..277
              Ident@276..277 "x"
            Comma@277..278 ","
            Whitespace@278..279 " "
            STRUCT_PATTERN_FIELD@279..281
              Ident@279..280 "y"
              Whitespace@280..281 " "
            RBrace@281..282 "}"
            Whitespace@282..283 " "
        Eq@283..284 "="
        Whitespace@284..285 " "
        EXPR_IDENT@285..286
          PATH@285..286
            Ident@285..286 "p"
        Semi@286..287 ";"
        Whitespace@287..292 "\n    "
      EXPR_BINARY@292..298
        EXPR_IDENT@292..294
          PATH@292..294
            Ident@292..293 "x"
            Whitespace@293..294 " "
        Plus@294..295 "+"
        Whitespace@295..296 " "
        EXPR_IDENT@296..298
          PATH@296..298
            Ident@296..297 "y"
            Whitespace@297..298 "\n"
      RBrace@298..299 "}"
      Whitespace@299..301 "\n\n"
  FN@301..582
    FnKeyword@301..303 "fn"
    Whitespace@303..304 " "
    Ident@304..308 "main"
    PARAM_LIST@308..311
      LParen@308..309 "("
      RParen@309..310 ")"
      Whitespace@310..311 " "
    Arrow@311..313 "->"
    Whitespace@313..314 " "
    TYPE_INT32@314..320
      Int32Keyword@314..319 "int32"
      Whitespace@319..320 " "
    BLOCK@320..582
      LBrace@320..321 "{"
      Whitespace@321..326 "\n    "
      EXPR_MATCH@326..580
        MatchKeyword@326..331 "match"
        Whitespace@331..332 " "
        EXPR_CALL@332..345
          EXPR_IDENT@332..341
            PATH@332..341
              Ident@332..341 "make_some"
          ARG_LIST@341..345
            LParen@341..342 "("
            ARG@342..343
              EXPR_INT@342..343
                Int@342..343 "5"
            RParen@343..344 ")"
            Whitespace@344..345 " "
        MATCH_ARM_LIST@345..580
          LBrace@345..346 "{"
          Whitespace@346..355 "\n        "
          MATCH_ARM@355..553
            PATTERN_CONSTR@355..368
              PATH@355..359
                Ident@355..359 "Some"
              LParen@359..360 "("
              PATTERN_VARIABLE@360..366
                Ident@360..366 "result"
              RParen@366..367 ")"
              Whitespace@367..368 " "
            FatArrow@368..370 "=>"
            Whitespace@370..371 " "
            BLOCK@371..553
              LBrace@371..372 "{"
              Whitespace@372..385 "\n            "
              STMT_LET@385..430
                LetKeyword@385..388 "let"
                Whitespace@388..389 " "
                PATTERN_VARIABLE@389..392
                  Ident@389..391 "pt"
                  Whitespace@391..392 " "
                Eq@392..393 "="
                Whitespace@393..394 " "
                EXPR_CALL@394..416
                  EXPR_IDENT@394..405
                    PATH@394..405
                      Ident@394..405 "build_point"
                  ARG_LIST@405..416
                    LParen@405..406 "("
                    ARG@406..414
                      EXPR_IDENT@406..412
                        PATH@406..412
                          Ident@406..412 "result"
                      Comma@412..413 ","
                      Whitespace@413..414 " "
                    ARG@414..415
                      EXPR_INT@414..415
                        Int@414..415 "7"
                    RParen@415..416 ")"
                Semi@416..417 ";"
                Whitespace@417..430 "\n            "
              EXPR_MATCH@430..552
                MatchKeyword@430..435 "match"
                Whitespace@435..436 " "
                EXPR_CALL@436..447
                  EXPR_IDENT@436..440
                    PATH@436..440
                      Ident@436..440 "Some"
                  ARG_LIST@440..447
                    LParen@440..441 "("
                    ARG@441..445
                      EXPR_BINARY@441..445
                        EXPR_IDENT@441..443
                          PATH@441..443
                            Ident@441..443 "pt"
                        Dot@443..444 "."
                        EXPR_IDENT@444..445
                          PATH@444..445
                            Ident@444..445 "x"
                    RParen@445..446 ")"
                    Whitespace@446..447 " "
                MATCH_ARM_LIST@447..552
                  LBrace@447..448 "{"
                  Whitespace@448..465 "\n                "
                  MATCH_ARM@465..501
                    PATTERN_CONSTR@465..477
                      PATH@465..469
                        Ident@465..469 "Some"
                      LParen@469..470 "("
                      PATTERN_VARIABLE@470..475
                        Ident@470..475 "value"
                      RParen@475..476 ")"
                      Whitespace@476..477 " "
                    FatArrow@477..479 "=>"
                    Whitespace@479..480 " "
                    EXPR_BINARY@480..501
                      EXPR_IDENT@480..486
                        PATH@480..486
                          Ident@480..485 "value"
                          Whitespace@485..486 " "
                      Plus@486..487 "+"
                      Whitespace@487..488 " "
                      EXPR_CALL@488..501
                        EXPR_IDENT@488..497
                          PATH@488..497
                            Ident@488..497 "magnitude"
                        ARG_LIST@497..501
                          LParen@497..498 "("
                          ARG@498..500
                            EXPR_IDENT@498..500
                              PATH@498..500
                                Ident@498..500 "pt"
                          RParen@500..501 ")"
                  Comma@501..502 ","
                  Whitespace@502..519 "\n                "
                  MATCH_ARM@519..528
                    PATTERN_CONSTR@519..524
                      PATH@519..524
                        Ident@519..523 "None"
                        Whitespace@523..524 " "
                    FatArrow@524..526 "=>"
                    Whitespace@526..527 " "
                    EXPR_INT@527..528
                      Int@527..528 "0"
                  Comma@528..529 ","
                  Whitespace@529..542 "\n            "
                  RBrace@542..543 "}"
                  Whitespace@543..552 "\n        "
              RBrace@552..553 "}"
          Comma@553..554 ","
          Whitespace@554..563 "\n        "
          MATCH_ARM@563..572
            PATTERN_CONSTR@563..568
              PATH@563..568
                Ident@563..567 "None"
                Whitespace@567..568 " "
            FatArrow@568..570 "=>"
            Whitespace@570..571 " "
            EXPR_INT@571..572
              Int@571..572 "0"
          Comma@572..573 ","
          Whitespace@573..578 "\n    "
          RBrace@578..579 "}"
          Whitespace@579..580 "\n"
      RBrace@580..581 "}"
      Whitespace@581..582 "\n"