FILE@0..795
  STRUCT@0..33
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..10 "Box"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    STRUCT_FIELD_LIST@20..33
      STRUCT_FIELD@20..28
        Ident@20..25 "value"
        Colon@25..26 ":"
        Whitespace@26..27 " "
        TYPE_TAPP@27..28
          PATH@27..28
            Ident@27..28 "T"
      Comma@28..29 ","
      Whitespace@29..30 "\n"
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  IMPL@33..296
    ImplKeyword@33..37 "impl"
    GENERIC_LIST@37..41
      LBracket@37..38 "["
      GENERIC@38..39
        Ident@38..39 "T"
      RBracket@39..40 "]"
      Whitespace@40..41 " "
    TYPE_TAPP@41..48
      PATH@41..44
        Ident@41..44 "Box"
      TYPE_PARAM_LIST@44..48
        LBracket@44..45 "["
        TYPE_TAPP@45..46
          PATH@45..46
            Ident@45..46 "T"
        RBracket@46..47 "]"
        Whitespace@47..48 " "
    LBrace@48..49 "{"
    Whitespace@49..54 "\n    "
    FN@54..161
      FnKeyword@54..56 "fn"
      Whitespace@56..57 " "
      Ident@57..60 "map"
      GENERIC_LIST@60..63
        LBracket@60..61 "["
        GENERIC@61..62
          Ident@61..62 "U"
        RBracket@62..63 "]"
      PARAM_LIST@63..96
        LParen@63..64 "("
        PARAM@64..78
          Ident@64..68 "self"
          Colon@68..69 ":"
          Whitespace@69..70 " "
          TYPE_TAPP@70..76
            PATH@70..73
              Ident@70..73 "Box"
            TYPE_PARAM_LIST@73..76
              LBracket@73..74 "["
              TYPE_TAPP@74..75
                PATH@74..75
                  Ident@74..75 "T"
              RBracket@75..76 "]"
          Comma@76..77 ","
          Whitespace@77..78 " "
        PARAM@78..94
          Ident@78..84 "map_fn"
          Colon@84..85 ":"
          Whitespace@85..86 " "
          TYPE_FUNC@86..94
            TYPE_TUPLE@86..90
              TYPE_LIST@86..90
                LParen@86..87 "("
                TYPE_TAPP@87..88
                  PATH@87..88
                    Ident@87..88 "T"
                RParen@88..89 ")"
                Whitespace@89..90 " "
            Arrow@90..92 "->"
            Whitespace@92..93 " "
            TYPE_TAPP@93..94
              PATH@93..94
                Ident@93..94 "U"
        RParen@94..95 ")"
        Whitespace@95..96 " "
      Arrow@96..98 "->"
      Whitespace@98..99 " "
      TYPE_TAPP@99..106
        PATH@99..102
          Ident@99..102 "Box"
        TYPE_PARAM_LIST@102..106
          LBracket@102..103 "["
          TYPE_TAPP@103..104
            PATH@103..104
              Ident@103..104 "U"
          RBracket@104..105 "]"
          Whitespace@105..106 " "
      BLOCK@106..161
        LBrace@106..107 "{"
        Whitespace@107..116 "\n        "
        EXPR_STRUCT_LITERAL@116..154
          PATH@116..120
            Ident@116..119 "Box"
            Whitespace@119..120 " "
          STRUCT_LITERAL_FIELD_LIST@120..154
            LBrace@120..121 "{"
            Whitespace@121..122 " "
            STRUCT_LITERAL_FIELD@122..148
              Ident@122..127 "value"
              Colon@127..128 ":"
              Whitespace@128..129 " "
              EXPR_CALL@129..148
                EXPR_IDENT@129..135
                  PATH@129..135
                    Ident@129..135 "map_fn"
                ARG_LIST@135..148
                  LParen@135..136 "("
                  ARG@136..146
                    EXPR_BINARY@136..146
                      EXPR_IDENT@136..140
                        PATH@136..140
                          Ident@136..140 "self"
                      Dot@140..141 "."
                      EXPR_IDENT@141..146
                        PATH@141..146
                          Ident@141..146 "value"
                  RParen@146..147 ")"
                  Whitespace@147..148 " "
            RBrace@148..149 "}"
            Whitespace@149..154 "\n    "
        RBrace@154..155 "}"
        Whitespace@155..161 "\n\n    "
    FN@161..293
      FnKeyword@161..163 "fn"
      Whitespace@163..164 " "
      Ident@164..170 "render"
      GENERIC_LIST@170..173
        LBracket@170..171 "["
        GENERIC@171..172
          Ident@171..172 "U"
        RBracket@172..173 "]"
      PARAM_LIST@173..198
        LParen@173..174 "("
        PARAM@174..188
          Ident@174..178 "self"
          Colon@178..179 ":"
          Whitespace@179..180 " "
          TYPE_TAPP@180..186
            PATH@180..183
              Ident@180..183 "Box"
            TYPE_PARAM_LIST@183..186
              LBracket@183..184 "["
              TYPE_TAPP@184..185
                PATH@184..185
                  Ident@184..185 "T"
              RBracket@185..186 "]"
          Comma@186..187 ","
          Whitespace@187..188 " "
        PARAM@188..196
          Ident@188..193 "value"
          Colon@193..194 ":"
          Whitespace@194..195 " "
          TYPE_TAPP@195..196
            PATH@195..196
              Ident@195..196 "U"
        RParen@196..197 ")"
        Whitespace@197..198 " "
      Arrow@198..200 "->"
      Whitespace@200..201 " "
      TYPE_STRING@201..208
        StringKeyword@201..207 "string"
        Whitespace@207..208 " "
      WHERE_CLAUSE@208..226
        WhereKeyword@208..213 "where"
        Whitespace@213..214 " "
        WHERE_PREDICATE@214..226
          TYPE_TAPP@214..215
            PATH@214..215
              Ident@214..215 "U"
          Colon@215..216 ":"
          Whitespace@216..217 " "
          TRAIT_SET@217..226
            TYPE_TAPP@217..226
              PATH@217..226
                Ident@217..225 "ToString"
                Whitespace@225..226 " "
      BLOCK@226..293
        LBrace@226..227 "{"
        Whitespace@227..236 "\n        "
        STMT_LET@236..258
          LetKeyword@236..239 "let"
          Whitespace@239..240 " "
          PATTERN_WILDCARD@240..242
            WildcardKeyword@240..241 "_"
            Whitespace@241..242 " "
          Eq@242..243 "="
          Whitespace@243..244 " "
          EXPR_IDENT@244..248
            PATH@244..248
              Ident@244..248 "self"
          Semi@248..249 ";"
          Whitespace@249..258 "\n        "
        EXPR_BINARY@258..291
          EXPR_STR@258..267
            Str@258..266 "\"value:\""
            Whitespace@266..267 " "
          Plus@267..268 "+"
          Whitespace@268..269 " "
          EXPR_CALL@269..291
            EXPR_BINARY@269..284
              EXPR_IDENT@269..274
                PATH@269..274
                  Ident@269..274 "value"
              Dot@274..275 "."
              EXPR_IDENT@275..284
                PATH@275..284
                  Ident@275..284 "to_string"
            ARG_LIST@284..291
              LParen@284..285 "("
              RParen@285..286 ")"
              Whitespace@286..291 "\n    "
        RBrace@291..292 "}"
        Whitespace@292..293 "\n"
    RBrace@293..294 "}"
    Whitespace@294..296 "\n\n"
  FN@296..795
    FnKeyword@296..298 "fn"
    Whitespace@298..299 " "
    Ident@299..303 "main"
    PARAM_LIST@303..306
      LParen@303..304 "("
      RParen@304..305 ")"
      Whitespace@305..306 " "
    BLOCK@306..795
      LBrace@306..307 "{"
      Whitespace@307..312 "\n    "
      STMT_LET@312..347
        LetKeyword@312..315 "let"
        Whitespace@315..316 " "
        PATTERN_VARIABLE@316..322
          Ident@316..321 "first"
          Whitespace@321..322 " "
        Eq@322..323 "="
        Whitespace@323..324 " "
        EXPR_STRUCT_LITERAL@324..341
          PATH@324..328
            Ident@324..327 "Box"
            Whitespace@327..328 " "
          STRUCT_LITERAL_FIELD_LIST@328..341
            LBrace@328..329 "{"
            Whitespace@329..330 " "
            STRUCT_LITERAL_FIELD@330..340
              Ident@330..335 "value"
              Colon@335..336 ":"
              Whitespace@336..337 " "
              EXPR_INT@337..340
                Int@337..339 "42"
                Whitespace@339..340 " "
            RBrace@340..341 "}"
        Semi@341..342 ";"
        Whitespace@342..347 "\n    "
      STMT_LET@347..405
        LetKeyword@347..350 "let"
        Whitespace@350..351 " "
        PATTERN_VARIABLE@351..356
          Ident@351..355 "text"
          Whitespace@355..356 " "
        Eq@356..357 "="
        Whitespace@357..358 " "
        EXPR_CALL@358..399
          EXPR_BINARY@358..367
            EXPR_IDENT@358..363
              PATH@358..363
                Ident@358..363 "first"
            Dot@363..364 "."
            EXPR_IDENT@364..367
              PATH@364..367
                Ident@364..367 "map"
          ARG_LIST@367..399
            LParen@367..368 "("
            ARG@368..398
              EXPR_CLOSURE@368..398
                CLOSURE_PARAM_LIST@368..381
                  Pipe@368..369 "|"
                  CLOSURE_PARAM@369..379
                    Ident@369..374 "value"
                    Colon@374..375 ":"
                    Whitespace@375..376 " "
                    TYPE_INT@376..379
                      IntKeyword@376..379 "int"
                  Pipe@379..380 "|"
                  Whitespace@380..381 " "
                EXPR_CLOSURE_BODY@381..398
                  EXPR_CALL@381..398
                    EXPR_BINARY@381..396
                      EXPR_IDENT@381..386
                        PATH@381..386
                          Ident@381..386 "value"
                      Dot@386..387 "."
                      EXPR_IDENT@387..396
                        PATH@387..396
                          Ident@387..396 "to_string"
                    ARG_LIST@396..398
                      LParen@396..397 "("
                      RParen@397..398 ")"
            RParen@398..399 ")"
        Semi@399..400 ";"
        Whitespace@400..405 "\n    "
      STMT_EXPR@405..430
        EXPR_CALL@405..424
          EXPR_IDENT@405..412
            PATH@405..412
              Ident@405..412 "println"
          ARG_LIST@412..424
            LParen@412..413 "("
            ARG@413..423
              EXPR_BINARY@413..423
                EXPR_IDENT@413..417
                  PATH@413..417
                    Ident@413..417 "text"
                Dot@417..418 "."
                EXPR_IDENT@418..423
                  PATH@418..423
                    Ident@418..423 "value"
            RParen@423..424 ")"
        Semi@424..425 ";"
        Whitespace@425..430 "\n    "
      STMT_LET@430..465
        LetKeyword@430..433 "let"
        Whitespace@433..434 " "
        PATTERN_VARIABLE@434..441
          Ident@434..440 "second"
          Whitespace@440..441 " "
        Eq@441..442 "="
        Whitespace@442..443 " "
        EXPR_STRUCT_LITERAL@443..459
          PATH@443..447
            Ident@443..446 "Box"
            Whitespace@446..447 " "
          STRUCT_LITERAL_FIELD_LIST@447..459
            LBrace@447..448 "{"
            Whitespace@448..449 " "
            STRUCT_LITERAL_FIELD@449..458
              Ident@449..454 "value"
              Colon@454..455 ":"
              Whitespace@455..456 " "
              EXPR_INT@456..458
                Int@456..457 "7"
                Whitespace@457..458 " "
            RBrace@458..459 "}"
        Semi@459..460 ";"
        Whitespace@460..465 "\n    "
      STMT_LET@465..538
        LetKeyword@465..468 "let"
        Whitespace@468..469 " "
        PATTERN_VARIABLE@469..478
          Ident@469..477 "explicit"
          Whitespace@477..478 " "
        Eq@478..479 "="
        Whitespace@479..480 " "
        EXPR_CALL@480..532
          EXPR_BINARY@480..500
            EXPR_IDENT@480..486
              PATH@480..486
                Ident@480..486 "second"
            Dot@486..487 "."
            EXPR_IDENT@487..500
              TYPE_TAPP@487..500
                PATH@487..490
                  Ident@487..490 "map"
                ColonColon@490..492 "::"
                TYPE_PARAM_LIST@492..500
                  LBracket@492..493 "["
                  TYPE_STRING@493..499
                    StringKeyword@493..499 "string"
                  RBracket@499..500 "]"
          ARG_LIST@500..532
            LParen@500..501 "("
            ARG@501..531
              EXPR_CLOSURE@501..531
                CLOSURE_PARAM_LIST@501..514
                  Pipe@501..502 "|"
                  CLOSURE_PARAM@502..512
                    Ident@502..507 "value"
                    Colon@507..508 ":"
                    Whitespace@508..509 " "
                    TYPE_INT@509..512
                      IntKeyword@509..512 "int"
                  Pipe@512..513 "|"
                  Whitespace@513..514 " "
                EXPR_CLOSURE_BODY@514..531
                  EXPR_CALL@514..531
                    EXPR_BINARY@514..529
                      EXPR_IDENT@514..519
                        PATH@514..519
                          Ident@514..519 "value"
                      Dot@519..520 "."
                      EXPR_IDENT@520..529
                        PATH@520..529
                          Ident@520..529 "to_string"
                    ARG_LIST@529..531
                      LParen@529..530 "("
                      RParen@530..531 ")"
            RParen@531..532 ")"
        Semi@532..533 ";"
        Whitespace@533..538 "\n    "
      STMT_EXPR@538..567
        EXPR_CALL@538..561
          EXPR_IDENT@538..545
            PATH@538..545
              Ident@538..545 "println"
          ARG_LIST@545..561
            LParen@545..546 "("
            ARG@546..560
              EXPR_BINARY@546..560
                EXPR_IDENT@546..554
                  PATH@546..554
                    Ident@546..554 "explicit"
                Dot@554..555 "."
                EXPR_IDENT@555..560
                  PATH@555..560
                    Ident@555..560 "value"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      STMT_LET@567..601
        LetKeyword@567..570 "let"
        Whitespace@570..571 " "
        PATTERN_VARIABLE@571..577
          Ident@571..576 "third"
          Whitespace@576..577 " "
        Eq@577..578 "="
        Whitespace@578..579 " "
        EXPR_STRUCT_LITERAL@579..595
          PATH@579..583
            Ident@579..582 "Box"
            Whitespace@582..583 " "
          STRUCT_LITERAL_FIELD_LIST@583..595
            LBrace@583..584 "{"
            Whitespace@584..585 " "
            STRUCT_LITERAL_FIELD@585..594
              Ident@585..590 "value"
              Colon@590..591 ":"
              Whitespace@591..592 " "
              EXPR_INT@592..594
                Int@592..593 "9"
                Whitespace@593..594 " "
            RBrace@594..595 "}"
        Semi@595..596 ";"
        Whitespace@596..601 "\n    "
      STMT_LET@601..689
        LetKeyword@601..604 "let"
        Whitespace@604..605 " "
        PATTERN_VARIABLE@605..617
          Ident@605..616 "static_call"
          Whitespace@616..617 " "
        Eq@617..618 "="
        Whitespace@618..619 " "
        EXPR_CALL@619..683
          EXPR_IDENT@619..644
            TYPE_TAPP@619..629
              PATH@619..622
                Ident@619..622 "Box"
              ColonColon@622..624 "::"
              TYPE_PARAM_LIST@624..629
                LBracket@624..625 "["
                TYPE_INT@625..628
                  IntKeyword@625..628 "int"
                RBracket@628..629 "]"
            ColonColon@629..631 "::"
            TYPE_TAPP@631..644
              PATH@631..634
                Ident@631..634 "map"
              ColonColon@634..636 "::"
              TYPE_PARAM_LIST@636..644
                LBracket@636..637 "["
                TYPE_STRING@637..643
                  StringKeyword@637..643 "string"
                RBracket@643..644 "]"
          ARG_LIST@644..683
            LParen@644..645 "("
            ARG@645..652
              EXPR_IDENT@645..650
                PATH@645..650
                  Ident@645..650 "third"
              Comma@650..651 ","
              Whitespace@651..652 " "
            ARG@652..682
              EXPR_CLOSURE@652..682
                CLOSURE_PARAM_LIST@652..665
                  Pipe@652..653 "|"
                  CLOSURE_PARAM@653..663
                    Ident@653..658 "value"
                    Colon@658..659 ":"
                    Whitespace@659..660 " "
                    TYPE_INT@660..663
                      IntKeyword@660..663 "int"
                  Pipe@663..664 "|"
                  Whitespace@664..665 " "
                EXPR_CLOSURE_BODY@665..682
                  EXPR_CALL@665..682
                    EXPR_BINARY@665..680
                      EXPR_IDENT@665..670
                        PATH@665..670
                          Ident@665..670 "value"
                      Dot@670..671 "."
                      EXPR_IDENT@671..680
                        PATH@671..680
                          Ident@671..680 "to_string"
                    ARG_LIST@680..682
                      LParen@680..681 "("
                      RParen@681..682 ")"
            RParen@682..683 ")"
        Semi@683..684 ";"
        Whitespace@684..689 "\n    "
      STMT_EXPR@689..721
        EXPR_CALL@689..715
          EXPR_IDENT@689..696
            PATH@689..696
              Ident@689..696 "println"
          ARG_LIST@696..715
            LParen@696..697 "("
            ARG@697..714
              EXPR_BINARY@697..714
                EXPR_IDENT@697..708
                  PATH@697..708
                    Ident@697..708 "static_call"
                Dot@708..709 "."
                EXPR_IDENT@709..714
                  PATH@709..714
                    Ident@709..714 "value"
            RParen@714..715 ")"
        Semi@715..716 ";"
        Whitespace@716..721 "\n    "
      STMT_LET@721..774
        LetKeyword@721..724 "let"
        Whitespace@724..725 " "
        PATTERN_VARIABLE@725..734
          Ident@725..733 "rendered"
          Whitespace@733..734 " "
        Eq@734..735 "="
        Whitespace@735..736 " "
        EXPR_CALL@736..768
          EXPR_BINARY@736..765
            EXPR_STRUCT_LITERAL@736..758
              PATH@736..740
                Ident@736..739 "Box"
                Whitespace@739..740 " "
              STRUCT_LITERAL_FIELD_LIST@740..758
                LBrace@740..741 "{"
                Whitespace@741..742 " "
                STRUCT_LITERAL_FIELD@742..757
                  Ident@742..747 "value"
                  Colon@747..748 ":"
                  Whitespace@748..749 " "
                  EXPR_STR@749..757
                    Str@749..756 "\"value\""
                    Whitespace@756..757 " "
                RBrace@757..758 "}"
            Dot@758..759 "."
            EXPR_IDENT@759..765
              PATH@759..765
                Ident@759..765 "render"
          ARG_LIST@765..768
            LParen@765..766 "("
            ARG@766..767
              EXPR_INT@766..767
                Int@766..767 "5"
            RParen@767..768 ")"
        Semi@768..769 ";"
        Whitespace@769..774 "\n    "
      STMT_EXPR@774..793
        EXPR_CALL@774..791
          EXPR_IDENT@774..781
            PATH@774..781
              Ident@774..781 "println"
          ARG_LIST@781..791
            LParen@781..782 "("
            ARG@782..790
              EXPR_IDENT@782..790
                PATH@782..790
                  Ident@782..790 "rendered"
            RParen@790..791 ")"
        Semi@791..792 ";"
        Whitespace@792..793 "\n"
      RBrace@793..794 "}"
      Whitespace@794..795 "\n"