FILE@0..803
  STRUCT@0..33
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..10 "Box"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    STRUCT_FIELD_LIST@20..33
      STRUCT_FIELD@20..28
        Ident@20..25 "value"
        Colon@25..26 ":"
        Whitespace@26..27 " "
        TYPE_TAPP@27..28
          PATH@27..28
            Ident@27..28 "T"
      Comma@28..29 ","
      Whitespace@29..30 "\n"
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  IMPL@33..296
    ImplKeyword@33..37 "impl"
    GENERIC_LIST@37..41
      LBracket@37..38 "["
      GENERIC@38..39
        Ident@38..39 "T"
      RBracket@39..40 "]"
      Whitespace@40..41 " "
    TYPE_TAPP@41..48
      PATH@41..44
        Ident@41..44 "Box"
      TYPE_PARAM_LIST@44..48
        LBracket@44..45 "["
        TYPE_TAPP@45..46
          PATH@45..46
            Ident@45..46 "T"
        RBracket@46..47 "]"
        Whitespace@47..48 " "
    LBrace@48..49 "{"
    Whitespace@49..54 "\n    "
    FN@54..161
      FnKeyword@54..56 "fn"
      Whitespace@56..57 " "
      Ident@57..60 "map"
      GENERIC_LIST@60..63
        LBracket@60..61 "["
        GENERIC@61..62
          Ident@61..62 "U"
        RBracket@62..63 "]"
      PARAM_LIST@63..96
        LParen@63..64 "("
        PARAM@64..78
          Ident@64..68 "self"
          Colon@68..69 ":"
          Whitespace@69..70 " "
          TYPE_TAPP@70..76
            PATH@70..73
              Ident@70..73 "Box"
            TYPE_PARAM_LIST@73..76
              LBracket@73..74 "["
              TYPE_TAPP@74..75
                PATH@74..75
                  Ident@74..75 "T"
              RBracket@75..76 "]"
          Comma@76..77 ","
          Whitespace@77..78 " "
        PARAM@78..94
          Ident@78..84 "map_fn"
          Colon@84..85 ":"
          Whitespace@85..86 " "
          TYPE_FUNC@86..94
            TYPE_TUPLE@86..90
              TYPE_LIST@86..90
                LParen@86..87 "("
                TYPE_TAPP@87..88
                  PATH@87..88
                    Ident@87..88 "T"
                RParen@88..89 ")"
                Whitespace@89..90 " "
            Arrow@90..92 "->"
            Whitespace@92..93 " "
            TYPE_TAPP@93..94
              PATH@93..94
                Ident@93..94 "U"
        RParen@94..95 ")"
        Whitespace@95..96 " "
      Arrow@96..98 "->"
      Whitespace@98..99 " "
      TYPE_TAPP@99..106
        PATH@99..102
          Ident@99..102 "Box"
        TYPE_PARAM_LIST@102..106
          LBracket@102..103 "["
          TYPE_TAPP@103..104
            PATH@103..104
              Ident@103..104 "U"
          RBracket@104..105 "]"
          Whitespace@105..106 " "
      BLOCK@106..161
        LBrace@106..107 "{"
        Whitespace@107..116 "\n        "
        EXPR_STRUCT_LITERAL@116..154
          PATH@116..120
            Ident@116..119 "Box"
            Whitespace@119..120 " "
          STRUCT_LITERAL_FIELD_LIST@120..154
            LBrace@120..121 "{"
            Whitespace@121..122 " "
            STRUCT_LITERAL_FIELD@122..148
              Ident@122..127 "value"
              Colon@127..128 ":"
              Whitespace@128..129 " "
              EXPR_CALL@129..148
                EXPR_IDENT@129..135
                  PATH@129..135
                    Ident@129..135 "map_fn"
                ARG_LIST@135..148
                  LParen@135..136 "("
                  ARG@136..146
                    EXPR_BINARY@136..146
                      EXPR_IDENT@136..140
                        PATH@136..140
                          Ident@136..140 "self"
                      Dot@140..141 "."
                      EXPR_IDENT@141..146
                        PATH@141..146
                          Ident@141..146 "value"
                  RParen@146..147 ")"
                  Whitespace@147..148 " "
            RBrace@148..149 "}"
            Whitespace@149..154 "\n    "
        RBrace@154..155 "}"
        Whitespace@155..161 "\n\n    "
    FN@161..293
      FnKeyword@161..163 "fn"
      Whitespace@163..164 " "
      Ident@164..170 "render"
      GENERIC_LIST@170..173
        LBracket@170..171 "["
        GENERIC@171..172
          Ident@171..172 "U"
        RBracket@172..173 "]"
      PARAM_LIST@173..198
        LParen@173..174 "("
        PARAM@174..188
          Ident@174..178 "self"
          Colon@178..179 ":"
          Whitespace@179..180 " "
          TYPE_TAPP@180..186
            PATH@180..183
              Ident@180..183 "Box"
            TYPE_PARAM_LIST@183..186
              LBracket@183..184 "["
              TYPE_TAPP@184..185
                PATH@184..185
                  Ident@184..185 "T"
              RBracket@185..186 "]"
          Comma@186..187 ","
          Whitespace@187..188 " "
        PARAM@188..196
          Ident@188..193 "value"
          Colon@193..194 ":"
          Whitespace@194..195 " "
          TYPE_TAPP@195..196
            PATH@195..196
              Ident@195..196 "U"
        RParen@196..197 ")"
        Whitespace@197..198 " "
      Arrow@198..200 "->"
      Whitespace@200..201 " "
      TYPE_STRING@201..208
        StringKeyword@201..207 "string"
        Whitespace@207..208 " "
      WHERE_CLAUSE@208..226
        WhereKeyword@208..213 "where"
        Whitespace@213..214 " "
        WHERE_PREDICATE@214..226
          TYPE_TAPP@214..215
            PATH@214..215
              Ident@214..215 "U"
          Colon@215..216 ":"
          Whitespace@216..217 " "
          TRAIT_SET@217..226
            TYPE_TAPP@217..226
              PATH@217..226
                Ident@217..225 "ToString"
                Whitespace@225..226 " "
      BLOCK@226..293
        LBrace@226..227 "{"
        Whitespace@227..236 "\n        "
        STMT_LET@236..258
          LetKeyword@236..239 "let"
          Whitespace@239..240 " "
          PATTERN_WILDCARD@240..242
            WildcardKeyword@240..241 "_"
            Whitespace@241..242 " "
          Eq@242..243 "="
          Whitespace@243..244 " "
          EXPR_IDENT@244..248
            PATH@244..248
              Ident@244..248 "self"
          Semi@248..249 ";"
          Whitespace@249..258 "\n        "
        EXPR_BINARY@258..291
          EXPR_STR@258..267
            Str@258..266 "\"value:\""
            Whitespace@266..267 " "
          Plus@267..268 "+"
          Whitespace@268..269 " "
          EXPR_CALL@269..291
            EXPR_BINARY@269..284
              EXPR_IDENT@269..274
                PATH@269..274
                  Ident@269..274 "value"
              Dot@274..275 "."
              EXPR_IDENT@275..284
                PATH@275..284
                  Ident@275..284 "to_string"
            ARG_LIST@284..291
              LParen@284..285 "("
              RParen@285..286 ")"
              Whitespace@286..291 "\n    "
        RBrace@291..292 "}"
        Whitespace@292..293 "\n"
    RBrace@293..294 "}"
    Whitespace@294..296 "\n\n"
  FN@296..803
    FnKeyword@296..298 "fn"
    Whitespace@298..299 " "
    Ident@299..303 "main"
    PARAM_LIST@303..306
      LParen@303..304 "("
      RParen@304..305 ")"
      Whitespace@305..306 " "
    BLOCK@306..803
      LBrace@306..307 "{"
      Whitespace@307..312 "\n    "
      STMT_LET@312..347
        LetKeyword@312..315 "let"
        Whitespace@315..316 " "
        PATTERN_VARIABLE@316..322
          Ident@316..321 "first"
          Whitespace@321..322 " "
        Eq@322..323 "="
        Whitespace@323..324 " "
        EXPR_STRUCT_LITERAL@324..341
          PATH@324..328
            Ident@324..327 "Box"
            Whitespace@327..328 " "
          STRUCT_LITERAL_FIELD_LIST@328..341
            LBrace@328..329 "{"
            Whitespace@329..330 " "
            STRUCT_LITERAL_FIELD@330..340
              Ident@330..335 "value"
              Colon@335..336 ":"
              Whitespace@336..337 " "
              EXPR_INT@337..340
                Int@337..339 "42"
                Whitespace@339..340 " "
            RBrace@340..341 "}"
        Semi@341..342 ";"
        Whitespace@342..347 "\n    "
      STMT_LET@347..407
        LetKeyword@347..350 "let"
        Whitespace@350..351 " "
        PATTERN_VARIABLE@351..356
          Ident@351..355 "text"
          Whitespace@355..356 " "
        Eq@356..357 "="
        Whitespace@357..358 " "
        EXPR_CALL@358..401
          EXPR_BINARY@358..367
            EXPR_IDENT@358..363
              PATH@358..363
                Ident@358..363 "first"
            Dot@363..364 "."
            EXPR_IDENT@364..367
              PATH@364..367
                Ident@364..367 "map"
          ARG_LIST@367..401
            LParen@367..368 "("
            ARG@368..400
              EXPR_CLOSURE@368..400
                CLOSURE_PARAM_LIST@368..383
                  Pipe@368..369 "|"
                  CLOSURE_PARAM@369..381
                    Ident@369..374 "value"
                    Colon@374..375 ":"
                    Whitespace@375..376 " "
                    TYPE_INT@376..381
                      IsizeKeyword@376..381 "isize"
                  Pipe@381..382 "|"
                  Whitespace@382..383 " "
                EXPR_CLOSURE_BODY@383..400
                  EXPR_CALL@383..400
                    EXPR_BINARY@383..398
                      EXPR_IDENT@383..388
                        PATH@383..388
                          Ident@383..388 "value"
                      Dot@388..389 "."
                      EXPR_IDENT@389..398
                        PATH@389..398
                          Ident@389..398 "to_string"
                    ARG_LIST@398..400
                      LParen@398..399 "("
                      RParen@399..400 ")"
            RParen@400..401 ")"
        Semi@401..402 ";"
        Whitespace@402..407 "\n    "
      STMT_EXPR@407..432
        EXPR_CALL@407..426
          EXPR_IDENT@407..414
            PATH@407..414
              Ident@407..414 "println"
          ARG_LIST@414..426
            LParen@414..415 "("
            ARG@415..425
              EXPR_BINARY@415..425
                EXPR_IDENT@415..419
                  PATH@415..419
                    Ident@415..419 "text"
                Dot@419..420 "."
                EXPR_IDENT@420..425
                  PATH@420..425
                    Ident@420..425 "value"
            RParen@425..426 ")"
        Semi@426..427 ";"
        Whitespace@427..432 "\n    "
      STMT_LET@432..467
        LetKeyword@432..435 "let"
        Whitespace@435..436 " "
        PATTERN_VARIABLE@436..443
          Ident@436..442 "second"
          Whitespace@442..443 " "
        Eq@443..444 "="
        Whitespace@444..445 " "
        EXPR_STRUCT_LITERAL@445..461
          PATH@445..449
            Ident@445..448 "Box"
            Whitespace@448..449 " "
          STRUCT_LITERAL_FIELD_LIST@449..461
            LBrace@449..450 "{"
            Whitespace@450..451 " "
            STRUCT_LITERAL_FIELD@451..460
              Ident@451..456 "value"
              Colon@456..457 ":"
              Whitespace@457..458 " "
              EXPR_INT@458..460
                Int@458..459 "7"
                Whitespace@459..460 " "
            RBrace@460..461 "}"
        Semi@461..462 ";"
        Whitespace@462..467 "\n    "
      STMT_LET@467..542
        LetKeyword@467..470 "let"
        Whitespace@470..471 " "
        PATTERN_VARIABLE@471..480
          Ident@471..479 "explicit"
          Whitespace@479..480 " "
        Eq@480..481 "="
        Whitespace@481..482 " "
        EXPR_CALL@482..536
          EXPR_BINARY@482..502
            EXPR_IDENT@482..488
              PATH@482..488
                Ident@482..488 "second"
            Dot@488..489 "."
            EXPR_IDENT@489..502
              TYPE_TAPP@489..502
                PATH@489..492
                  Ident@489..492 "map"
                ColonColon@492..494 "::"
                TYPE_PARAM_LIST@494..502
                  LBracket@494..495 "["
                  TYPE_STRING@495..501
                    StringKeyword@495..501 "string"
                  RBracket@501..502 "]"
          ARG_LIST@502..536
            LParen@502..503 "("
            ARG@503..535
              EXPR_CLOSURE@503..535
                CLOSURE_PARAM_LIST@503..518
                  Pipe@503..504 "|"
                  CLOSURE_PARAM@504..516
                    Ident@504..509 "value"
                    Colon@509..510 ":"
                    Whitespace@510..511 " "
                    TYPE_INT@511..516
                      IsizeKeyword@511..516 "isize"
                  Pipe@516..517 "|"
                  Whitespace@517..518 " "
                EXPR_CLOSURE_BODY@518..535
                  EXPR_CALL@518..535
                    EXPR_BINARY@518..533
                      EXPR_IDENT@518..523
                        PATH@518..523
                          Ident@518..523 "value"
                      Dot@523..524 "."
                      EXPR_IDENT@524..533
                        PATH@524..533
                          Ident@524..533 "to_string"
                    ARG_LIST@533..535
                      LParen@533..534 "("
                      RParen@534..535 ")"
            RParen@535..536 ")"
        Semi@536..537 ";"
        Whitespace@537..542 "\n    "
      STMT_EXPR@542..571
        EXPR_CALL@542..565
          EXPR_IDENT@542..549
            PATH@542..549
              Ident@542..549 "println"
          ARG_LIST@549..565
            LParen@549..550 "("
            ARG@550..564
              EXPR_BINARY@550..564
                EXPR_IDENT@550..558
                  PATH@550..558
                    Ident@550..558 "explicit"
                Dot@558..559 "."
                EXPR_IDENT@559..564
                  PATH@559..564
                    Ident@559..564 "value"
            RParen@564..565 ")"
        Semi@565..566 ";"
        Whitespace@566..571 "\n    "
      STMT_LET@571..605
        LetKeyword@571..574 "let"
        Whitespace@574..575 " "
        PATTERN_VARIABLE@575..581
          Ident@575..580 "third"
          Whitespace@580..581 " "
        Eq@581..582 "="
        Whitespace@582..583 " "
        EXPR_STRUCT_LITERAL@583..599
          PATH@583..587
            Ident@583..586 "Box"
            Whitespace@586..587 " "
          STRUCT_LITERAL_FIELD_LIST@587..599
            LBrace@587..588 "{"
            Whitespace@588..589 " "
            STRUCT_LITERAL_FIELD@589..598
              Ident@589..594 "value"
              Colon@594..595 ":"
              Whitespace@595..596 " "
              EXPR_INT@596..598
                Int@596..597 "9"
                Whitespace@597..598 " "
            RBrace@598..599 "}"
        Semi@599..600 ";"
        Whitespace@600..605 "\n    "
      STMT_LET@605..697
        LetKeyword@605..608 "let"
        Whitespace@608..609 " "
        PATTERN_VARIABLE@609..621
          Ident@609..620 "static_call"
          Whitespace@620..621 " "
        Eq@621..622 "="
        Whitespace@622..623 " "
        EXPR_CALL@623..691
          EXPR_IDENT@623..650
            TYPE_TAPP@623..635
              PATH@623..626
                Ident@623..626 "Box"
              ColonColon@626..628 "::"
              TYPE_PARAM_LIST@628..635
                LBracket@628..629 "["
                TYPE_INT@629..634
                  IsizeKeyword@629..634 "isize"
                RBracket@634..635 "]"
            ColonColon@635..637 "::"
            TYPE_TAPP@637..650
              PATH@637..640
                Ident@637..640 "map"
              ColonColon@640..642 "::"
              TYPE_PARAM_LIST@642..650
                LBracket@642..643 "["
                TYPE_STRING@643..649
                  StringKeyword@643..649 "string"
                RBracket@649..650 "]"
          ARG_LIST@650..691
            LParen@650..651 "("
            ARG@651..658
              EXPR_IDENT@651..656
                PATH@651..656
                  Ident@651..656 "third"
              Comma@656..657 ","
              Whitespace@657..658 " "
            ARG@658..690
              EXPR_CLOSURE@658..690
                CLOSURE_PARAM_LIST@658..673
                  Pipe@658..659 "|"
                  CLOSURE_PARAM@659..671
                    Ident@659..664 "value"
                    Colon@664..665 ":"
                    Whitespace@665..666 " "
                    TYPE_INT@666..671
                      IsizeKeyword@666..671 "isize"
                  Pipe@671..672 "|"
                  Whitespace@672..673 " "
                EXPR_CLOSURE_BODY@673..690
                  EXPR_CALL@673..690
                    EXPR_BINARY@673..688
                      EXPR_IDENT@673..678
                        PATH@673..678
                          Ident@673..678 "value"
                      Dot@678..679 "."
                      EXPR_IDENT@679..688
                        PATH@679..688
                          Ident@679..688 "to_string"
                    ARG_LIST@688..690
                      LParen@688..689 "("
                      RParen@689..690 ")"
            RParen@690..691 ")"
        Semi@691..692 ";"
        Whitespace@692..697 "\n    "
      STMT_EXPR@697..729
        EXPR_CALL@697..723
          EXPR_IDENT@697..704
            PATH@697..704
              Ident@697..704 "println"
          ARG_LIST@704..723
            LParen@704..705 "("
            ARG@705..722
              EXPR_BINARY@705..722
                EXPR_IDENT@705..716
                  PATH@705..716
                    Ident@705..716 "static_call"
                Dot@716..717 "."
                EXPR_IDENT@717..722
                  PATH@717..722
                    Ident@717..722 "value"
            RParen@722..723 ")"
        Semi@723..724 ";"
        Whitespace@724..729 "\n    "
      STMT_LET@729..782
        LetKeyword@729..732 "let"
        Whitespace@732..733 " "
        PATTERN_VARIABLE@733..742
          Ident@733..741 "rendered"
          Whitespace@741..742 " "
        Eq@742..743 "="
        Whitespace@743..744 " "
        EXPR_CALL@744..776
          EXPR_BINARY@744..773
            EXPR_STRUCT_LITERAL@744..766
              PATH@744..748
                Ident@744..747 "Box"
                Whitespace@747..748 " "
              STRUCT_LITERAL_FIELD_LIST@748..766
                LBrace@748..749 "{"
                Whitespace@749..750 " "
                STRUCT_LITERAL_FIELD@750..765
                  Ident@750..755 "value"
                  Colon@755..756 ":"
                  Whitespace@756..757 " "
                  EXPR_STR@757..765
                    Str@757..764 "\"value\""
                    Whitespace@764..765 " "
                RBrace@765..766 "}"
            Dot@766..767 "."
            EXPR_IDENT@767..773
              PATH@767..773
                Ident@767..773 "render"
          ARG_LIST@773..776
            LParen@773..774 "("
            ARG@774..775
              EXPR_INT@774..775
                Int@774..775 "5"
            RParen@775..776 ")"
        Semi@776..777 ";"
        Whitespace@777..782 "\n    "
      STMT_EXPR@782..801
        EXPR_CALL@782..799
          EXPR_IDENT@782..789
            PATH@782..789
              Ident@782..789 "println"
          ARG_LIST@789..799
            LParen@789..790 "("
            ARG@790..798
              EXPR_IDENT@790..798
                PATH@790..798
                  Ident@790..798 "rendered"
            RParen@798..799 ")"
        Semi@799..800 ";"
        Whitespace@800..801 "\n"
      RBrace@801..802 "}"
      Whitespace@802..803 "\n"