FILE@0..744
  EXTERN@0..33
    ExternKeyword@0..6 "extern"
    Whitespace@6..7 " "
    Str@7..11 "\"go\""
    Whitespace@11..12 " "
    Str@12..19 "\"io/fs\""
    Whitespace@19..20 " "
    Str@20..24 "\"FS\""
    Whitespace@24..25 " "
    TypeKeyword@25..29 "type"
    Whitespace@29..30 " "
    Ident@30..32 "FS"
    Whitespace@32..33 "\n"
  EXTERN@33..79
    ExternKeyword@33..39 "extern"
    Whitespace@39..40 " "
    Str@40..44 "\"go\""
    Whitespace@44..45 " "
    Str@45..52 "\"io/fs\""
    Whitespace@52..53 " "
    Str@53..63 "\"DirEntry\""
    Whitespace@63..64 " "
    TypeKeyword@64..68 "type"
    Whitespace@68..69 " "
    Ident@69..77 "DirEntry"
    Whitespace@77..79 "\n\n"
  EXTERN@79..132
    ExternKeyword@79..85 "extern"
    Whitespace@85..86 " "
    Str@86..90 "\"go\""
    Whitespace@90..91 " "
    Str@91..95 "\"os\""
    Whitespace@95..96 " "
    Str@96..103 "\"DirFS\""
    Whitespace@103..104 " "
    Ident@104..110 "dir_fs"
    PARAM_LIST@110..125
      LParen@110..111 "("
      PARAM@111..123
        Ident@111..115 "path"
        Colon@115..116 ":"
        Whitespace@116..117 " "
        TYPE_STRING@117..123
          StringKeyword@117..123 "string"
      RParen@123..124 ")"
      Whitespace@124..125 " "
    Arrow@125..127 "->"
    Whitespace@127..128 " "
    TYPE_TAPP@128..132
      PATH@128..132
        Ident@128..130 "FS"
        Whitespace@130..132 "\n\n"
  EXTERN@132..185
    ATTRIBUTE_LIST@132..144
      ATTRIBUTE@132..144
        Pound@132..133 "#"
        LBracket@133..134 "["
        Ident@134..142 "go_value"
        RBracket@142..143 "]"
        Whitespace@143..144 "\n"
    ExternKeyword@144..150 "extern"
    Whitespace@150..151 " "
    Str@151..155 "\"go\""
    Whitespace@155..156 " "
    Str@156..160 "\"io\""
    Whitespace@160..161 " "
    Str@161..166 "\"EOF\""
    Whitespace@166..167 " "
    Ident@167..170 "eof"
    PARAM_LIST@170..173
      LParen@170..171 "("
      RParen@171..172 ")"
      Whitespace@172..173 " "
    Arrow@173..175 "->"
    Whitespace@175..176 " "
    TYPE_TAPP@176..185
      PATH@176..185
        Ident@176..183 "GoError"
        Whitespace@183..185 "\n\n"
  EXTERN@185..360
    ATTRIBUTE_LIST@185..197
      ATTRIBUTE@185..197
        Pound@185..186 "#"
        LBracket@186..187 "["
        Ident@187..195 "go_error"
        RBracket@195..196 "]"
        Whitespace@196..197 "\n"
    ExternKeyword@197..203 "extern"
    Whitespace@203..204 " "
    Str@204..208 "\"go\""
    Whitespace@208..209 " "
    Str@209..216 "\"io/fs\""
    Whitespace@216..217 " "
    Str@217..226 "\"WalkDir\""
    Whitespace@226..227 " "
    Ident@227..235 "walk_dir"
    PARAM_LIST@235..334
      LParen@235..236 "("
      Whitespace@236..241 "\n    "
      PARAM@241..253
        Ident@241..243 "fs"
        Colon@243..244 ":"
        Whitespace@244..245 " "
        TYPE_TAPP@245..247
          PATH@245..247
            Ident@245..247 "FS"
        Comma@247..248 ","
        Whitespace@248..253 "\n    "
      PARAM@253..271
        Ident@253..257 "root"
        Colon@257..258 ":"
        Whitespace@258..259 " "
        TYPE_STRING@259..265
          StringKeyword@259..265 "string"
        Comma@265..266 ","
        Whitespace@266..271 "\n    "
      PARAM@271..332
        Ident@271..276 "visit"
        Colon@276..277 ":"
        Whitespace@277..278 " "
        TYPE_FUNC@278..330
          TYPE_TUPLE@278..306
            TYPE_LIST@278..306
              LParen@278..279 "("
              TYPE_STRING@279..285
                StringKeyword@279..285 "string"
              Comma@285..286 ","
              Whitespace@286..287 " "
              TYPE_TAPP@287..295
                PATH@287..295
                  Ident@287..295 "DirEntry"
              Comma@295..296 ","
              Whitespace@296..297 " "
              TYPE_TAPP@297..304
                PATH@297..304
                  Ident@297..304 "GoError"
              RParen@304..305 ")"
              Whitespace@305..306 " "
          Arrow@306..308 "->"
          Whitespace@308..309 " "
          TYPE_TAPP@309..330
            PATH@309..315
              Ident@309..315 "Result"
            TYPE_PARAM_LIST@315..330
              LBracket@315..316 "["
              TYPE_UNIT@316..320
                UnitKeyword@316..320 "unit"
              Comma@320..321 ","
              Whitespace@321..322 " "
              TYPE_TAPP@322..329
                PATH@322..329
                  Ident@322..329 "GoError"
              RBracket@329..330 "]"
        Comma@330..331 ","
        Whitespace@331..332 "\n"
      RParen@332..333 ")"
      Whitespace@333..334 " "
    Arrow@334..336 "->"
    Whitespace@336..337 " "
    TYPE_TAPP@337..360
      PATH@337..343
        Ident@337..343 "Result"
      TYPE_PARAM_LIST@343..360
        LBracket@343..344 "["
        TYPE_UNIT@344..348
          UnitKeyword@344..348 "unit"
        Comma@348..349 ","
        Whitespace@349..350 " "
        TYPE_TAPP@350..357
          PATH@350..357
            Ident@350..357 "GoError"
        RBracket@357..358 "]"
        Whitespace@358..360 "\n\n"
  FN@360..520
    FnKeyword@360..362 "fn"
    Whitespace@362..363 " "
    Ident@363..367 "stop"
    PARAM_LIST@367..413
      LParen@367..368 "("
      PARAM@368..382
        Ident@368..372 "path"
        Colon@372..373 ":"
        Whitespace@373..374 " "
        TYPE_STRING@374..380
          StringKeyword@374..380 "string"
        Comma@380..381 ","
        Whitespace@381..382 " "
      PARAM@382..399
        Ident@382..387 "entry"
        Colon@387..388 ":"
        Whitespace@388..389 " "
        TYPE_TAPP@389..397
          PATH@389..397
            Ident@389..397 "DirEntry"
        Comma@397..398 ","
        Whitespace@398..399 " "
      PARAM@399..411
        Ident@399..402 "err"
        Colon@402..403 ":"
        Whitespace@403..404 " "
        TYPE_TAPP@404..411
          PATH@404..411
            Ident@404..411 "GoError"
      RParen@411..412 ")"
      Whitespace@412..413 " "
    Arrow@413..415 "->"
    Whitespace@415..416 " "
    TYPE_TAPP@416..438
      PATH@416..422
        Ident@416..422 "Result"
      TYPE_PARAM_LIST@422..438
        LBracket@422..423 "["
        TYPE_UNIT@423..427
          UnitKeyword@423..427 "unit"
        Comma@427..428 ","
        Whitespace@428..429 " "
        TYPE_TAPP@429..436
          PATH@429..436
            Ident@429..436 "GoError"
        RBracket@436..437 "]"
        Whitespace@437..438 " "
    BLOCK@438..520
      LBrace@438..439 "{"
      Whitespace@439..444 "\n    "
      STMT_LET@444..462
        LetKeyword@444..447 "let"
        Whitespace@447..448 " "
        PATTERN_WILDCARD@448..450
          WildcardKeyword@448..449 "_"
          Whitespace@449..450 " "
        Eq@450..451 "="
        Whitespace@451..452 " "
        EXPR_IDENT@452..456
          PATH@452..456
            Ident@452..456 "path"
        Semi@456..457 ";"
        Whitespace@457..462 "\n    "
      STMT_LET@462..481
        LetKeyword@462..465 "let"
        Whitespace@465..466 " "
        PATTERN_WILDCARD@466..468
          WildcardKeyword@466..467 "_"
          Whitespace@467..468 " "
        Eq@468..469 "="
        Whitespace@469..470 " "
        EXPR_IDENT@470..475
          PATH@470..475
            Ident@470..475 "entry"
        Semi@475..476 ";"
        Whitespace@476..481 "\n    "
      STMT_LET@481..498
        LetKeyword@481..484 "let"
        Whitespace@484..485 " "
        PATTERN_WILDCARD@485..487
          WildcardKeyword@485..486 "_"
          Whitespace@486..487 " "
        Eq@487..488 "="
        Whitespace@488..489 " "
        EXPR_IDENT@489..492
          PATH@489..492
            Ident@489..492 "err"
        Semi@492..493 ";"
        Whitespace@493..498 "\n    "
      EXPR_CALL@498..517
        EXPR_IDENT@498..509
          PATH@498..509
            Ident@498..504 "Result"
            ColonColon@504..506 "::"
            Ident@506..509 "Err"
        ARG_LIST@509..517
          LParen@509..510 "("
          ARG@510..515
            EXPR_CALL@510..515
              EXPR_IDENT@510..513
                PATH@510..513
                  Ident@510..513 "eof"
              ARG_LIST@513..515
                LParen@513..514 "("
                RParen@514..515 ")"
          RParen@515..516 ")"
          Whitespace@516..517 "\n"
      RBrace@517..518 "}"
      Whitespace@518..520 "\n\n"
  FN@520..669
    FnKeyword@520..522 "fn"
    Whitespace@522..523 " "
    Ident@523..527 "show"
    PARAM_LIST@527..556
      LParen@527..528 "("
      PARAM@528..554
        Ident@528..531 "res"
        Colon@531..532 ":"
        Whitespace@532..533 " "
        TYPE_TAPP@533..554
          PATH@533..539
            Ident@533..539 "Result"
          TYPE_PARAM_LIST@539..554
            LBracket@539..540 "["
            TYPE_UNIT@540..544
              UnitKeyword@540..544 "unit"
            Comma@544..545 ","
            Whitespace@545..546 " "
            TYPE_TAPP@546..553
              PATH@546..553
                Ident@546..553 "GoError"
            RBracket@553..554 "]"
      RParen@554..555 ")"
      Whitespace@555..556 " "
    Arrow@556..558 "->"
    Whitespace@558..559 " "
    TYPE_STRING@559..566
      StringKeyword@559..565 "string"
      Whitespace@565..566 " "
    BLOCK@566..669
      LBrace@566..567 "{"
      Whitespace@567..572 "\n    "
      EXPR_MATCH@572..666
        MatchKeyword@572..577 "match"
        Whitespace@577..578 " "
        EXPR_IDENT@578..582
          PATH@578..582
            Ident@578..581 "res"
            Whitespace@581..582 " "
        MATCH_ARM_LIST@582..666
          LBrace@582..583 "{"
          Whitespace@583..592 "\n        "
          MATCH_ARM@592..613
            PATTERN_CONSTR@592..606
              PATH@592..602
                Ident@592..598 "Result"
                ColonColon@598..600 "::"
                Ident@600..602 "Ok"
              LParen@602..603 "("
              PATTERN_WILDCARD@603..604
                WildcardKeyword@603..604 "_"
              RParen@604..605 ")"
              Whitespace@605..606 " "
            FatArrow@606..608 "=>"
            Whitespace@608..609 " "
            EXPR_STR@609..613
              Str@609..613 "\"ok\""
          Comma@613..614 ","
          Whitespace@614..623 "\n        "
          MATCH_ARM@623..658
            PATTERN_CONSTR@623..640
              PATH@623..634
                Ident@623..629 "Result"
                ColonColon@629..631 "::"
                Ident@631..634 "Err"
              LParen@634..635 "("
              PATTERN_VARIABLE@635..638
                Ident@635..638 "err"
              RParen@638..639 ")"
              Whitespace@639..640 " "
            FatArrow@640..642 "=>"
            Whitespace@642..643 " "
            EXPR_CALL@643..658
              EXPR_BINARY@643..656
                EXPR_IDENT@643..646
                  PATH@643..646
                    Ident@643..646 "err"
                Dot@646..647 "."
                EXPR_IDENT@647..656
                  PATH@647..656
                    Ident@647..656 "to_string"
              ARG_LIST@656..658
                LParen@656..657 "("
                RParen@657..658 ")"
          Comma@658..659 ","
          Whitespace@659..664 "\n    "
          RBrace@664..665 "}"
          Whitespace@665..666 "\n"
      RBrace@666..667 "}"
      Whitespace@667..669 "\n\n"
  FN@669..744
    FnKeyword@669..671 "fn"
    Whitespace@671..672 " "
    Ident@672..676 "main"
    PARAM_LIST@676..679
      LParen@676..677 "("
      RParen@677..678 ")"
      Whitespace@678..679 " "
    Arrow@679..681 "->"
    Whitespace@681..682 " "
    TYPE_UNIT@682..687
      UnitKeyword@682..686 "unit"
      Whitespace@686..687 " "
    BLOCK@687..744
      LBrace@687..688 "{"
      Whitespace@688..693 "\n    "
      STMT_EXPR@693..742
        EXPR_CALL@693..740
          EXPR_IDENT@693..700
            PATH@693..700
              Ident@693..700 "println"
          ARG_LIST@700..740
            LParen@700..701 "("
            ARG@701..739
              EXPR_CALL@701..739
                EXPR_IDENT@701..705
                  PATH@701..705
                    Ident@701..705 "show"
                ARG_LIST@705..739
                  LParen@705..706 "("
                  ARG@706..738
                    EXPR_CALL@706..738
                      EXPR_IDENT@706..714
                        PATH@706..714
                          Ident@706..714 "walk_dir"
                      ARG_LIST@714..738
                        LParen@714..715 "("
                        ARG@715..728
                          EXPR_CALL@715..726
                            EXPR_IDENT@715..721
                              PATH@715..721
                                Ident@715..721 "dir_fs"
                            ARG_LIST@721..726
                              LParen@721..722 "("
                              ARG@722..725
                                EXPR_STR@722..725
                                  Str@722..725 "\".\""
                              RParen@725..726 ")"
                          Comma@726..727 ","
                          Whitespace@727..728 " "
                        ARG@728..733
                          EXPR_STR@728..731
                            Str@728..731 "\".\""
                          Comma@731..732 ","
                          Whitespace@732..733 " "
                        ARG@733..737
                          EXPR_IDENT@733..737
                            PATH@733..737
                              Ident@733..737 "stop"
                        RParen@737..738 ")"
                  RParen@738..739 ")"
            RParen@739..740 ")"
        Semi@740..741 ";"
        Whitespace@741..742 "\n"
      RBrace@742..743 "}"
      Whitespace@743..744 "\n"