FILE@0..271
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Display"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..51
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..27 "show"
        PARAM_LIST@27..40
          LParen@27..28 "("
          PARAM@28..38
            Ident@28..32 "self"
            Colon@32..33 ":"
            Whitespace@33..34 " "
            TYPE_TAPP@34..38
              PATH@34..38
                Ident@34..38 "Self"
          RParen@38..39 ")"
          Whitespace@39..40 " "
        Arrow@40..42 "->"
        Whitespace@42..43 " "
        TYPE_STRING@43..49
          StringKeyword@43..49 "string"
        Semi@49..50 ";"
        Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  STRUCT@54..67
    StructKeyword@54..60 "struct"
    Whitespace@60..61 " "
    Ident@61..62 "S"
    Whitespace@62..63 " "
    LBrace@63..64 "{"
    STRUCT_FIELD_LIST@64..67
      RBrace@64..65 "}"
      Whitespace@65..67 "\n\n"
  IMPL@67..143
    ImplKeyword@67..71 "impl"
    Whitespace@71..72 " "
    TYPE_TAPP@72..80
      PATH@72..80
        Ident@72..79 "Display"
        Whitespace@79..80 " "
    ForKeyword@80..83 "for"
    Whitespace@83..84 " "
    TYPE_TAPP@84..86
      PATH@84..86
        Ident@84..85 "S"
        Whitespace@85..86 " "
    LBrace@86..87 "{"
    Whitespace@87..92 "\n    "
    FN@92..140
      FnKeyword@92..94 "fn"
      Whitespace@94..95 " "
      Ident@95..99 "show"
      PARAM_LIST@99..109
        LParen@99..100 "("
        PARAM@100..107
          Ident@100..104 "self"
          Colon@104..105 ":"
          Whitespace@105..106 " "
          TYPE_TAPP@106..107
            PATH@106..107
              Ident@106..107 "S"
        RParen@107..108 ")"
        Whitespace@108..109 " "
      Arrow@109..111 "->"
      Whitespace@111..112 " "
      TYPE_STRING@112..119
        StringKeyword@112..118 "string"
        Whitespace@118..119 " "
      BLOCK@119..140
        LBrace@119..120 "{"
        Whitespace@120..129 "\n        "
        EXPR_STR@129..138
          Str@129..133 "\"ok\""
          Whitespace@133..138 "\n    "
        RBrace@138..139 "}"
        Whitespace@139..140 "\n"
    RBrace@140..141 "}"
    Whitespace@141..143 "\n\n"
  FN@143..212
    FnKeyword@143..145 "fn"
    Whitespace@145..146 " "
    Ident@146..152 "to_dyn"
    GENERIC_LIST@152..164
      LBracket@152..153 "["
      GENERIC@153..163
        Ident@153..154 "T"
        Colon@154..155 ":"
        Whitespace@155..156 " "
        TRAIT_SET@156..163
          TYPE_TAPP@156..163
            PATH@156..163
              Ident@156..163 "Display"
      RBracket@163..164 "]"
    PARAM_LIST@164..171
      LParen@164..165 "("
      PARAM@165..169
        Ident@165..166 "x"
        Colon@166..167 ":"
        Whitespace@167..168 " "
        TYPE_TAPP@168..169
          PATH@168..169
            Ident@168..169 "T"
      RParen@169..170 ")"
      Whitespace@170..171 " "
    Arrow@171..173 "->"
    Whitespace@173..174 " "
    TYPE_DYN@174..186
      DynKeyword@174..177 "dyn"
      Whitespace@177..178 " "
      DYN_BOUND@178..186
        PATH@178..186
          Ident@178..185 "Display"
          Whitespace@185..186 " "
    BLOCK@186..212
      LBrace@186..187 "{"
      Whitespace@187..192 "\n    "
      EXPR_CAST@192..209
        EXPR_IDENT@192..194
          PATH@192..194
            Ident@192..193 "x"
            Whitespace@193..194 " "
        AsKeyword@194..196 "as"
        Whitespace@196..197 " "
        TYPE_DYN@197..209
          DynKeyword@197..200 "dyn"
          Whitespace@200..201 " "
          DYN_BOUND@201..209
            PATH@201..209
              Ident@201..208 "Display"
              Whitespace@208..209 "\n"
      RBrace@209..210 "}"
      Whitespace@210..212 "\n\n"
  FN@212..271
    FnKeyword@212..214 "fn"
    Whitespace@214..215 " "
    Ident@215..219 "main"
    PARAM_LIST@219..222
      LParen@219..220 "("
      RParen@220..221 ")"
      Whitespace@221..222 " "
    BLOCK@222..271
      LBrace@222..223 "{"
      Whitespace@223..228 "\n    "
      STMT_LET@228..254
        LetKeyword@228..231 "let"
        Whitespace@231..232 " "
        PATTERN_WILDCARD@232..234
          WildcardKeyword@232..233 "_"
          Whitespace@233..234 " "
        Eq@234..235 "="
        Whitespace@235..236 " "
        EXPR_CALL@236..248
          EXPR_IDENT@236..242
            PATH@236..242
              Ident@236..242 "to_dyn"
          ARG_LIST@242..248
            LParen@242..243 "("
            ARG@243..247
              EXPR_STRUCT_LITERAL@243..247
                PATH@243..245
                  Ident@243..244 "S"
                  Whitespace@244..245 " "
                STRUCT_LITERAL_FIELD_LIST@245..247
                  LBrace@245..246 "{"
                  RBrace@246..247 "}"
            RParen@247..248 ")"
        Semi@248..249 ";"
        Whitespace@249..254 "\n    "
      STMT_EXPR@254..269
        EXPR_CALL@254..267
          EXPR_IDENT@254..261
            PATH@254..261
              Ident@254..261 "println"
          ARG_LIST@261..267
            LParen@261..262 "("
            ARG@262..266
              EXPR_STR@262..266
                Str@262..266 "\"ok\""
            RParen@266..267 ")"
        Semi@267..268 ";"
        Whitespace@268..269 "\n"
      RBrace@269..270 "}"
      Whitespace@270..271 "\n"