FILE@0..693
  STRUCT@0..42
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..42
      STRUCT_FIELD@19..25
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..31 "\n    "
      STRUCT_FIELD@31..37
        Ident@31..32 "y"
        Colon@32..33 ":"
        Whitespace@33..34 " "
        TYPE_INT32@34..37
          I32Keyword@34..37 "i32"
      Comma@37..38 ","
      Whitespace@38..39 "\n"
      RBrace@39..40 "}"
      Whitespace@40..42 "\n\n"
  STRUCT@42..76
    StructKeyword@42..48 "struct"
    Whitespace@48..49 " "
    Ident@49..53 "Flag"
    Whitespace@53..54 " "
    LBrace@54..55 "{"
    Whitespace@55..60 "\n    "
    STRUCT_FIELD_LIST@60..76
      STRUCT_FIELD@60..71
        Ident@60..65 "value"
        Colon@65..66 ":"
        Whitespace@66..67 " "
        TYPE_BOOL@67..71
          BoolKeyword@67..71 "bool"
      Comma@71..72 ","
      Whitespace@72..73 "\n"
      RBrace@73..74 "}"
      Whitespace@74..76 "\n\n"
  TRAIT@76..130
    TraitKeyword@76..81 "trait"
    Whitespace@81..82 " "
    Ident@82..89 "Display"
    Whitespace@89..90 " "
    LBrace@90..91 "{"
    Whitespace@91..96 "\n    "
    TRAIT_METHOD_SIG_LIST@96..130
      TRAIT_METHOD_SIG@96..127
        FnKeyword@96..98 "fn"
        Whitespace@98..99 " "
        Ident@99..103 "show"
        PARAM_LIST@103..116
          LParen@103..104 "("
          PARAM@104..114
            Ident@104..108 "self"
            Colon@108..109 ":"
            Whitespace@109..110 " "
            TYPE_TAPP@110..114
              PATH@110..114
                Ident@110..114 "Self"
          RParen@114..115 ")"
          Whitespace@115..116 " "
        Arrow@116..118 "->"
        Whitespace@118..119 " "
        TYPE_STRING@119..125
          StringKeyword@119..125 "string"
        Semi@125..126 ";"
        Whitespace@126..127 "\n"
      RBrace@127..128 "}"
      Whitespace@128..130 "\n\n"
  IMPL@130..272
    ImplKeyword@130..134 "impl"
    Whitespace@134..135 " "
    TYPE_TAPP@135..143
      PATH@135..143
        Ident@135..142 "Display"
        Whitespace@142..143 " "
    ForKeyword@143..146 "for"
    Whitespace@146..147 " "
    TYPE_TAPP@147..153
      PATH@147..153
        Ident@147..152 "Point"
        Whitespace@152..153 " "
    LBrace@153..154 "{"
    Whitespace@154..159 "\n    "
    FN@159..269
      FnKeyword@159..161 "fn"
      Whitespace@161..162 " "
      Ident@162..166 "show"
      PARAM_LIST@166..180
        LParen@166..167 "("
        PARAM@167..178
          Ident@167..171 "self"
          Colon@171..172 ":"
          Whitespace@172..173 " "
          TYPE_TAPP@173..178
            PATH@173..178
              Ident@173..178 "Point"
        RParen@178..179 ")"
        Whitespace@179..180 " "
      Arrow@180..182 "->"
      Whitespace@182..183 " "
      TYPE_STRING@183..190
        StringKeyword@183..189 "string"
        Whitespace@189..190 " "
      BLOCK@190..269
        LBrace@190..191 "{"
        Whitespace@191..200 "\n        "
        EXPR_BINARY@200..267
          EXPR_BINARY@200..257
            EXPR_BINARY@200..236
              EXPR_BINARY@200..230
                EXPR_STR@200..209
                  Str@200..208 "\"Point(\""
                  Whitespace@208..209 " "
                Plus@209..210 "+"
                Whitespace@210..211 " "
                EXPR_CALL@211..230
                  EXPR_BINARY@211..227
                    EXPR_BINARY@211..217
                      EXPR_IDENT@211..215
                        PATH@211..215
                          Ident@211..215 "self"
                      Dot@215..216 "."
                      EXPR_IDENT@216..217
                        PATH@216..217
                          Ident@216..217 "x"
                    Dot@217..218 "."
                    EXPR_IDENT@218..227
                      PATH@218..227
                        Ident@218..227 "to_string"
                  ARG_LIST@227..230
                    LParen@227..228 "("
                    RParen@228..229 ")"
                    Whitespace@229..230 " "
              Plus@230..231 "+"
              Whitespace@231..232 " "
              EXPR_STR@232..236
                Str@232..235 "\",\""
                Whitespace@235..236 " "
            Plus@236..237 "+"
            Whitespace@237..238 " "
            EXPR_CALL@238..257
              EXPR_BINARY@238..254
                EXPR_BINARY@238..244
                  EXPR_IDENT@238..242
                    PATH@238..242
                      Ident@238..242 "self"
                  Dot@242..243 "."
                  EXPR_IDENT@243..244
                    PATH@243..244
                      Ident@243..244 "y"
                Dot@244..245 "."
                EXPR_IDENT@245..254
                  PATH@245..254
                    Ident@245..254 "to_string"
              ARG_LIST@254..257
                LParen@254..255 "("
                RParen@255..256 ")"
                Whitespace@256..257 " "
          Plus@257..258 "+"
          Whitespace@258..259 " "
          EXPR_STR@259..267
            Str@259..262 "\")\""
            Whitespace@262..267 "\n    "
        RBrace@267..268 "}"
        Whitespace@268..269 "\n"
    RBrace@269..270 "}"
    Whitespace@270..272 "\n\n"
  IMPL@272..443
    ImplKeyword@272..276 "impl"
    Whitespace@276..277 " "
    TYPE_TAPP@277..285
      PATH@277..285
        Ident@277..284 "Display"
        Whitespace@284..285 " "
    ForKeyword@285..288 "for"
    Whitespace@288..289 " "
    TYPE_TAPP@289..294
      PATH@289..294
        Ident@289..293 "Flag"
        Whitespace@293..294 " "
    LBrace@294..295 "{"
    Whitespace@295..300 "\n    "
    FN@300..440
      FnKeyword@300..302 "fn"
      Whitespace@302..303 " "
      Ident@303..307 "show"
      PARAM_LIST@307..320
        LParen@307..308 "("
        PARAM@308..318
          Ident@308..312 "self"
          Colon@312..313 ":"
          Whitespace@313..314 " "
          TYPE_TAPP@314..318
            PATH@314..318
              Ident@314..318 "Flag"
        RParen@318..319 ")"
        Whitespace@319..320 " "
      Arrow@320..322 "->"
      Whitespace@322..323 " "
      TYPE_STRING@323..330
        StringKeyword@323..329 "string"
        Whitespace@329..330 " "
      BLOCK@330..440
        LBrace@330..331 "{"
        Whitespace@331..340 "\n        "
        EXPR_IF@340..438
          IfKeyword@340..342 "if"
          Whitespace@342..343 " "
          EXPR_IF_COND@343..354
            EXPR_BINARY@343..354
              EXPR_IDENT@343..347
                PATH@343..347
                  Ident@343..347 "self"
              Dot@347..348 "."
              EXPR_IDENT@348..354
                PATH@348..354
                  Ident@348..353 "value"
                  Whitespace@353..354 " "
          EXPR_IF_THEN@354..391
            BLOCK@354..391
              LBrace@354..355 "{"
              Whitespace@355..368 "\n            "
              EXPR_STR@368..389
                Str@368..380 "\"Flag(true)\""
                Whitespace@380..389 "\n        "
              RBrace@389..390 "}"
              Whitespace@390..391 " "
          ElseKeyword@391..395 "else"
          Whitespace@395..396 " "
          EXPR_IF_ELSE@396..438
            BLOCK@396..438
              LBrace@396..397 "{"
              Whitespace@397..410 "\n            "
              EXPR_STR@410..432
                Str@410..423 "\"Flag(false)\""
                Whitespace@423..432 "\n        "
              RBrace@432..433 "}"
              Whitespace@433..438 "\n    "
        RBrace@438..439 "}"
        Whitespace@439..440 "\n"
    RBrace@440..441 "}"
    Whitespace@441..443 "\n\n"
  FN@443..693
    FnKeyword@443..445 "fn"
    Whitespace@445..446 " "
    Ident@446..450 "main"
    PARAM_LIST@450..453
      LParen@450..451 "("
      RParen@451..452 ")"
      Whitespace@452..453 " "
    BLOCK@453..693
      LBrace@453..454 "{"
      Whitespace@454..459 "\n    "
      STMT_LET@459..493
        LetKeyword@459..462 "let"
        Whitespace@462..463 " "
        PATTERN_VARIABLE@463..465
          Ident@463..464 "p"
          Whitespace@464..465 " "
        Eq@465..466 "="
        Whitespace@466..467 " "
        EXPR_STRUCT_LITERAL@467..487
          PATH@467..473
            Ident@467..472 "Point"
            Whitespace@472..473 " "
          STRUCT_LITERAL_FIELD_LIST@473..487
            LBrace@473..474 "{"
            Whitespace@474..475 " "
            STRUCT_LITERAL_FIELD@475..479
              Ident@475..476 "x"
              Colon@476..477 ":"
              Whitespace@477..478 " "
              EXPR_INT@478..479
                Int@478..479 "1"
            Comma@479..480 ","
            Whitespace@480..481 " "
            STRUCT_LITERAL_FIELD@481..486
              Ident@481..482 "y"
              Colon@482..483 ":"
              Whitespace@483..484 " "
              EXPR_INT@484..486
                Int@484..485 "2"
                Whitespace@485..486 " "
            RBrace@486..487 "}"
        Semi@487..488 ";"
        Whitespace@488..493 "\n    "
      STMT_LET@493..527
        LetKeyword@493..496 "let"
        Whitespace@496..497 " "
        PATTERN_VARIABLE@497..499
          Ident@497..498 "t"
          Whitespace@498..499 " "
        Eq@499..500 "="
        Whitespace@500..501 " "
        EXPR_STRUCT_LITERAL@501..521
          PATH@501..506
            Ident@501..505 "Flag"
            Whitespace@505..506 " "
          STRUCT_LITERAL_FIELD_LIST@506..521
            LBrace@506..507 "{"
            Whitespace@507..508 " "
            STRUCT_LITERAL_FIELD@508..520
              Ident@508..513 "value"
              Colon@513..514 ":"
              Whitespace@514..515 " "
              EXPR_BOOL@515..520
                TrueKeyword@515..519 "true"
                Whitespace@519..520 " "
            RBrace@520..521 "}"
        Semi@521..522 ";"
        Whitespace@522..527 "\n    "
      STMT_LET@527..571
        LetKeyword@527..530 "let"
        Whitespace@530..531 " "
        PATTERN_VARIABLE@531..533
          Ident@531..533 "dp"
        Colon@533..534 ":"
        Whitespace@534..535 " "
        TYPE_DYN@535..547
          DynKeyword@535..538 "dyn"
          Whitespace@538..539 " "
          DYN_BOUND@539..547
            PATH@539..547
              Ident@539..546 "Display"
              Whitespace@546..547 " "
        Eq@547..548 "="
        Whitespace@548..549 " "
        EXPR_CAST@549..565
          EXPR_IDENT@549..551
            PATH@549..551
              Ident@549..550 "p"
              Whitespace@550..551 " "
          AsKeyword@551..553 "as"
          Whitespace@553..554 " "
          TYPE_DYN@554..565
            DynKeyword@554..557 "dyn"
            Whitespace@557..558 " "
            DYN_BOUND@558..565
              PATH@558..565
                Ident@558..565 "Display"
        Semi@565..566 ";"
        Whitespace@566..571 "\n    "
      STMT_LET@571..615
        LetKeyword@571..574 "let"
        Whitespace@574..575 " "
        PATTERN_VARIABLE@575..577
          Ident@575..577 "dt"
        Colon@577..578 ":"
        Whitespace@578..579 " "
        TYPE_DYN@579..591
          DynKeyword@579..582 "dyn"
          Whitespace@582..583 " "
          DYN_BOUND@583..591
            PATH@583..591
              Ident@583..590 "Display"
              Whitespace@590..591 " "
        Eq@591..592 "="
        Whitespace@592..593 " "
        EXPR_CAST@593..609
          EXPR_IDENT@593..595
            PATH@593..595
              Ident@593..594 "t"
              Whitespace@594..595 " "
          AsKeyword@595..597 "as"
          Whitespace@597..598 " "
          TYPE_DYN@598..609
            DynKeyword@598..601 "dyn"
            Whitespace@601..602 " "
            DYN_BOUND@602..609
              PATH@602..609
                Ident@602..609 "Display"
        Semi@609..610 ";"
        Whitespace@610..615 "\n    "
      STMT_LET@615..655
        LetKeyword@615..618 "let"
        Whitespace@618..619 " "
        PATTERN_WILDCARD@619..621
          WildcardKeyword@619..620 "_"
          Whitespace@620..621 " "
        Eq@621..622 "="
        Whitespace@622..623 " "
        EXPR_CALL@623..649
          EXPR_IDENT@623..630
            PATH@623..630
              Ident@623..630 "println"
          ARG_LIST@630..649
            LParen@630..631 "("
            ARG@631..648
              EXPR_CALL@631..648
                EXPR_IDENT@631..644
                  PATH@631..644
                    Ident@631..638 "Display"
                    ColonColon@638..640 "::"
                    Ident@640..644 "show"
                ARG_LIST@644..648
                  LParen@644..645 "("
                  ARG@645..647
                    EXPR_IDENT@645..647
                      PATH@645..647
                        Ident@645..647 "dp"
                  RParen@647..648 ")"
            RParen@648..649 ")"
        Semi@649..650 ";"
        Whitespace@650..655 "\n    "
      STMT_LET@655..691
        LetKeyword@655..658 "let"
        Whitespace@658..659 " "
        PATTERN_WILDCARD@659..661
          WildcardKeyword@659..660 "_"
          Whitespace@660..661 " "
        Eq@661..662 "="
        Whitespace@662..663 " "
        EXPR_CALL@663..689
          EXPR_IDENT@663..670
            PATH@663..670
              Ident@663..670 "println"
          ARG_LIST@670..689
            LParen@670..671 "("
            ARG@671..688
              EXPR_CALL@671..688
                EXPR_IDENT@671..684
                  PATH@671..684
                    Ident@671..678 "Display"
                    ColonColon@678..680 "::"
                    Ident@680..684 "show"
                ARG_LIST@684..688
                  LParen@684..685 "("
                  ARG@685..687
                    EXPR_IDENT@685..687
                      PATH@685..687
                        Ident@685..687 "dt"
                  RParen@687..688 ")"
            RParen@688..689 ")"
        Semi@689..690 ";"
        Whitespace@690..691 "\n"
      RBrace@691..692 "}"
      Whitespace@692..693 "\n"