FILE@0..621
  STRUCT@0..37
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..15 " "
    STRUCT_FIELD_LIST@15..37
      STRUCT_FIELD@15..23
        Ident@15..16 "x"
        Colon@16..17 ":"
        Whitespace@17..18 " "
        TYPE_INT32@18..23
          Int32Keyword@18..23 "int32"
      Comma@23..24 ","
      Whitespace@24..25 " "
      STRUCT_FIELD@25..34
        Ident@25..26 "y"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_INT32@28..34
          Int32Keyword@28..33 "int32"
          Whitespace@33..34 " "
      RBrace@34..35 "}"
      Whitespace@35..37 "\n\n"
  STRUCT@37..66
    StructKeyword@37..43 "struct"
    Whitespace@43..44 " "
    Ident@44..48 "Flag"
    Whitespace@48..49 " "
    LBrace@49..50 "{"
    Whitespace@50..51 " "
    STRUCT_FIELD_LIST@51..66
      STRUCT_FIELD@51..63
        Ident@51..56 "value"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_BOOL@58..63
          BoolKeyword@58..62 "bool"
          Whitespace@62..63 " "
      RBrace@63..64 "}"
      Whitespace@64..66 "\n\n"
  TRAIT@66..120
    TraitKeyword@66..71 "trait"
    Whitespace@71..72 " "
    Ident@72..79 "Display"
    Whitespace@79..80 " "
    LBrace@80..81 "{"
    Whitespace@81..86 "\n    "
    TRAIT_METHOD_SIG_LIST@86..120
      TRAIT_METHOD_SIG@86..117
        FnKeyword@86..88 "fn"
        Whitespace@88..89 " "
        Ident@89..93 "show"
        PARAM_LIST@93..106
          LParen@93..94 "("
          PARAM@94..104
            Ident@94..98 "self"
            Colon@98..99 ":"
            Whitespace@99..100 " "
            TYPE_TAPP@100..104
              PATH@100..104
                Ident@100..104 "Self"
          RParen@104..105 ")"
          Whitespace@105..106 " "
        Arrow@106..108 "->"
        Whitespace@108..109 " "
        TYPE_STRING@109..115
          StringKeyword@109..115 "string"
        Semi@115..116 ";"
        Whitespace@116..117 "\n"
      RBrace@117..118 "}"
      Whitespace@118..120 "\n\n"
  IMPL@120..262
    ImplKeyword@120..124 "impl"
    Whitespace@124..125 " "
    TYPE_TAPP@125..133
      PATH@125..133
        Ident@125..132 "Display"
        Whitespace@132..133 " "
    ForKeyword@133..136 "for"
    Whitespace@136..137 " "
    TYPE_TAPP@137..143
      PATH@137..143
        Ident@137..142 "Point"
        Whitespace@142..143 " "
    LBrace@143..144 "{"
    Whitespace@144..149 "\n    "
    FN@149..259
      FnKeyword@149..151 "fn"
      Whitespace@151..152 " "
      Ident@152..156 "show"
      PARAM_LIST@156..170
        LParen@156..157 "("
        PARAM@157..168
          Ident@157..161 "self"
          Colon@161..162 ":"
          Whitespace@162..163 " "
          TYPE_TAPP@163..168
            PATH@163..168
              Ident@163..168 "Point"
        RParen@168..169 ")"
        Whitespace@169..170 " "
      Arrow@170..172 "->"
      Whitespace@172..173 " "
      TYPE_STRING@173..180
        StringKeyword@173..179 "string"
        Whitespace@179..180 " "
      BLOCK@180..259
        LBrace@180..181 "{"
        Whitespace@181..190 "\n        "
        EXPR_BINARY@190..257
          EXPR_BINARY@190..247
            EXPR_BINARY@190..226
              EXPR_BINARY@190..220
                EXPR_STR@190..199
                  Str@190..198 "\"Point(\""
                  Whitespace@198..199 " "
                Plus@199..200 "+"
                Whitespace@200..201 " "
                EXPR_CALL@201..220
                  EXPR_BINARY@201..217
                    EXPR_BINARY@201..207
                      EXPR_IDENT@201..205
                        PATH@201..205
                          Ident@201..205 "self"
                      Dot@205..206 "."
                      EXPR_IDENT@206..207
                        PATH@206..207
                          Ident@206..207 "x"
                    Dot@207..208 "."
                    EXPR_IDENT@208..217
                      PATH@208..217
                        Ident@208..217 "to_string"
                  ARG_LIST@217..220
                    LParen@217..218 "("
                    RParen@218..219 ")"
                    Whitespace@219..220 " "
              Plus@220..221 "+"
              Whitespace@221..222 " "
              EXPR_STR@222..226
                Str@222..225 "\",\""
                Whitespace@225..226 " "
            Plus@226..227 "+"
            Whitespace@227..228 " "
            EXPR_CALL@228..247
              EXPR_BINARY@228..244
                EXPR_BINARY@228..234
                  EXPR_IDENT@228..232
                    PATH@228..232
                      Ident@228..232 "self"
                  Dot@232..233 "."
                  EXPR_IDENT@233..234
                    PATH@233..234
                      Ident@233..234 "y"
                Dot@234..235 "."
                EXPR_IDENT@235..244
                  PATH@235..244
                    Ident@235..244 "to_string"
              ARG_LIST@244..247
                LParen@244..245 "("
                RParen@245..246 ")"
                Whitespace@246..247 " "
          Plus@247..248 "+"
          Whitespace@248..249 " "
          EXPR_STR@249..257
            Str@249..252 "\")\""
            Whitespace@252..257 "\n    "
        RBrace@257..258 "}"
        Whitespace@258..259 "\n"
    RBrace@259..260 "}"
    Whitespace@260..262 "\n\n"
  IMPL@262..393
    ImplKeyword@262..266 "impl"
    Whitespace@266..267 " "
    TYPE_TAPP@267..275
      PATH@267..275
        Ident@267..274 "Display"
        Whitespace@274..275 " "
    ForKeyword@275..278 "for"
    Whitespace@278..279 " "
    TYPE_TAPP@279..284
      PATH@279..284
        Ident@279..283 "Flag"
        Whitespace@283..284 " "
    LBrace@284..285 "{"
    Whitespace@285..290 "\n    "
    FN@290..390
      FnKeyword@290..292 "fn"
      Whitespace@292..293 " "
      Ident@293..297 "show"
      PARAM_LIST@297..310
        LParen@297..298 "("
        PARAM@298..308
          Ident@298..302 "self"
          Colon@302..303 ":"
          Whitespace@303..304 " "
          TYPE_TAPP@304..308
            PATH@304..308
              Ident@304..308 "Flag"
        RParen@308..309 ")"
        Whitespace@309..310 " "
      Arrow@310..312 "->"
      Whitespace@312..313 " "
      TYPE_STRING@313..320
        StringKeyword@313..319 "string"
        Whitespace@319..320 " "
      BLOCK@320..390
        LBrace@320..321 "{"
        Whitespace@321..330 "\n        "
        EXPR_IF@330..388
          IfKeyword@330..332 "if"
          Whitespace@332..333 " "
          EXPR_IF_COND@333..344
            EXPR_BINARY@333..344
              EXPR_IDENT@333..337
                PATH@333..337
                  Ident@333..337 "self"
              Dot@337..338 "."
              EXPR_IDENT@338..344
                PATH@338..344
                  Ident@338..343 "value"
                  Whitespace@343..344 " "
          EXPR_IF_THEN@344..361
            BLOCK@344..361
              LBrace@344..345 "{"
              Whitespace@345..346 " "
              EXPR_STR@346..359
                Str@346..358 "\"Flag(true)\""
                Whitespace@358..359 " "
              RBrace@359..360 "}"
              Whitespace@360..361 " "
          ElseKeyword@361..365 "else"
          Whitespace@365..366 " "
          EXPR_IF_ELSE@366..388
            BLOCK@366..388
              LBrace@366..367 "{"
              Whitespace@367..368 " "
              EXPR_STR@368..382
                Str@368..381 "\"Flag(false)\""
                Whitespace@381..382 " "
              RBrace@382..383 "}"
              Whitespace@383..388 "\n    "
        RBrace@388..389 "}"
        Whitespace@389..390 "\n"
    RBrace@390..391 "}"
    Whitespace@391..393 "\n\n"
  FN@393..621
    FnKeyword@393..395 "fn"
    Whitespace@395..396 " "
    Ident@396..400 "main"
    PARAM_LIST@400..403
      LParen@400..401 "("
      RParen@401..402 ")"
      Whitespace@402..403 " "
    BLOCK@403..621
      LBrace@403..404 "{"
      Whitespace@404..409 "\n    "
      STMT_LET@409..443
        LetKeyword@409..412 "let"
        Whitespace@412..413 " "
        PATTERN_VARIABLE@413..415
          Ident@413..414 "p"
          Whitespace@414..415 " "
        Eq@415..416 "="
        Whitespace@416..417 " "
        EXPR_STRUCT_LITERAL@417..437
          PATH@417..423
            Ident@417..422 "Point"
            Whitespace@422..423 " "
          STRUCT_LITERAL_FIELD_LIST@423..437
            LBrace@423..424 "{"
            Whitespace@424..425 " "
            STRUCT_LITERAL_FIELD@425..429
              Ident@425..426 "x"
              Colon@426..427 ":"
              Whitespace@427..428 " "
              EXPR_INT@428..429
                Int@428..429 "1"
            Comma@429..430 ","
            Whitespace@430..431 " "
            STRUCT_LITERAL_FIELD@431..436
              Ident@431..432 "y"
              Colon@432..433 ":"
              Whitespace@433..434 " "
              EXPR_INT@434..436
                Int@434..435 "2"
                Whitespace@435..436 " "
            RBrace@436..437 "}"
        Semi@437..438 ";"
        Whitespace@438..443 "\n    "
      STMT_LET@443..477
        LetKeyword@443..446 "let"
        Whitespace@446..447 " "
        PATTERN_VARIABLE@447..449
          Ident@447..448 "t"
          Whitespace@448..449 " "
        Eq@449..450 "="
        Whitespace@450..451 " "
        EXPR_STRUCT_LITERAL@451..471
          PATH@451..456
            Ident@451..455 "Flag"
            Whitespace@455..456 " "
          STRUCT_LITERAL_FIELD_LIST@456..471
            LBrace@456..457 "{"
            Whitespace@457..458 " "
            STRUCT_LITERAL_FIELD@458..470
              Ident@458..463 "value"
              Colon@463..464 ":"
              Whitespace@464..465 " "
              EXPR_BOOL@465..470
                TrueKeyword@465..469 "true"
                Whitespace@469..470 " "
            RBrace@470..471 "}"
        Semi@471..472 ";"
        Whitespace@472..477 "\n    "
      STMT_LET@477..506
        LetKeyword@477..480 "let"
        Whitespace@480..481 " "
        PATTERN_VARIABLE@481..483
          Ident@481..483 "dp"
        Colon@483..484 ":"
        Whitespace@484..485 " "
        TYPE_DYN@485..497
          DynKeyword@485..488 "dyn"
          Whitespace@488..489 " "
          DYN_BOUND@489..497
            PATH@489..497
              Ident@489..496 "Display"
              Whitespace@496..497 " "
        Eq@497..498 "="
        Whitespace@498..499 " "
        EXPR_IDENT@499..500
          PATH@499..500
            Ident@499..500 "p"
        Semi@500..501 ";"
        Whitespace@501..506 "\n    "
      STMT_LET@506..535
        LetKeyword@506..509 "let"
        Whitespace@509..510 " "
        PATTERN_VARIABLE@510..512
          Ident@510..512 "dt"
        Colon@512..513 ":"
        Whitespace@513..514 " "
        TYPE_DYN@514..526
          DynKeyword@514..517 "dyn"
          Whitespace@517..518 " "
          DYN_BOUND@518..526
            PATH@518..526
              Ident@518..525 "Display"
              Whitespace@525..526 " "
        Eq@526..527 "="
        Whitespace@527..528 " "
        EXPR_IDENT@528..529
          PATH@528..529
            Ident@528..529 "t"
        Semi@529..530 ";"
        Whitespace@530..535 "\n    "
      STMT_LET@535..575
        LetKeyword@535..538 "let"
        Whitespace@538..539 " "
        PATTERN_WILDCARD@539..541
          WildcardKeyword@539..540 "_"
          Whitespace@540..541 " "
        Eq@541..542 "="
        Whitespace@542..543 " "
        EXPR_CALL@543..569
          EXPR_IDENT@543..550
            PATH@543..550
              Ident@543..550 "println"
          ARG_LIST@550..569
            LParen@550..551 "("
            ARG@551..568
              EXPR_CALL@551..568
                EXPR_IDENT@551..564
                  PATH@551..564
                    Ident@551..558 "Display"
                    ColonColon@558..560 "::"
                    Ident@560..564 "show"
                ARG_LIST@564..568
                  LParen@564..565 "("
                  ARG@565..567
                    EXPR_IDENT@565..567
                      PATH@565..567
                        Ident@565..567 "dp"
                  RParen@567..568 ")"
            RParen@568..569 ")"
        Semi@569..570 ";"
        Whitespace@570..575 "\n    "
      STMT_LET@575..615
        LetKeyword@575..578 "let"
        Whitespace@578..579 " "
        PATTERN_WILDCARD@579..581
          WildcardKeyword@579..580 "_"
          Whitespace@580..581 " "
        Eq@581..582 "="
        Whitespace@582..583 " "
        EXPR_CALL@583..609
          EXPR_IDENT@583..590
            PATH@583..590
              Ident@583..590 "println"
          ARG_LIST@590..609
            LParen@590..591 "("
            ARG@591..608
              EXPR_CALL@591..608
                EXPR_IDENT@591..604
                  PATH@591..604
                    Ident@591..598 "Display"
                    ColonColon@598..600 "::"
                    Ident@600..604 "show"
                ARG_LIST@604..608
                  LParen@604..605 "("
                  ARG@605..607
                    EXPR_IDENT@605..607
                      PATH@605..607
                        Ident@605..607 "dt"
                  RParen@607..608 ")"
            RParen@608..609 ")"
        Semi@609..610 ";"
        Whitespace@610..615 "\n    "
      EXPR_UNIT@615..618
        LParen@615..616 "("
        RParen@616..617 ")"
        Whitespace@617..618 "\n"
      RBrace@618..619 "}"
      Whitespace@619..621 "\n\n"