FILE@0..697
  STRUCT@0..46
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    STRUCT_FIELD_LIST@19..46
      STRUCT_FIELD@19..27
        Ident@19..20 "x"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..27
          Int32Keyword@22..27 "int32"
      Comma@27..28 ","
      Whitespace@28..33 "\n    "
      STRUCT_FIELD@33..41
        Ident@33..34 "y"
        Colon@34..35 ":"
        Whitespace@35..36 " "
        TYPE_INT32@36..41
          Int32Keyword@36..41 "int32"
      Comma@41..42 ","
      Whitespace@42..43 "\n"
      RBrace@43..44 "}"
      Whitespace@44..46 "\n\n"
  STRUCT@46..80
    StructKeyword@46..52 "struct"
    Whitespace@52..53 " "
    Ident@53..57 "Flag"
    Whitespace@57..58 " "
    LBrace@58..59 "{"
    Whitespace@59..64 "\n    "
    STRUCT_FIELD_LIST@64..80
      STRUCT_FIELD@64..75
        Ident@64..69 "value"
        Colon@69..70 ":"
        Whitespace@70..71 " "
        TYPE_BOOL@71..75
          BoolKeyword@71..75 "bool"
      Comma@75..76 ","
      Whitespace@76..77 "\n"
      RBrace@77..78 "}"
      Whitespace@78..80 "\n\n"
  TRAIT@80..134
    TraitKeyword@80..85 "trait"
    Whitespace@85..86 " "
    Ident@86..93 "Display"
    Whitespace@93..94 " "
    LBrace@94..95 "{"
    Whitespace@95..100 "\n    "
    TRAIT_METHOD_SIG_LIST@100..134
      TRAIT_METHOD_SIG@100..131
        FnKeyword@100..102 "fn"
        Whitespace@102..103 " "
        Ident@103..107 "show"
        PARAM_LIST@107..120
          LParen@107..108 "("
          PARAM@108..118
            Ident@108..112 "self"
            Colon@112..113 ":"
            Whitespace@113..114 " "
            TYPE_TAPP@114..118
              PATH@114..118
                Ident@114..118 "Self"
          RParen@118..119 ")"
          Whitespace@119..120 " "
        Arrow@120..122 "->"
        Whitespace@122..123 " "
        TYPE_STRING@123..129
          StringKeyword@123..129 "string"
        Semi@129..130 ";"
        Whitespace@130..131 "\n"
      RBrace@131..132 "}"
      Whitespace@132..134 "\n\n"
  IMPL@134..276
    ImplKeyword@134..138 "impl"
    Whitespace@138..139 " "
    TYPE_TAPP@139..147
      PATH@139..147
        Ident@139..146 "Display"
        Whitespace@146..147 " "
    ForKeyword@147..150 "for"
    Whitespace@150..151 " "
    TYPE_TAPP@151..157
      PATH@151..157
        Ident@151..156 "Point"
        Whitespace@156..157 " "
    LBrace@157..158 "{"
    Whitespace@158..163 "\n    "
    FN@163..273
      FnKeyword@163..165 "fn"
      Whitespace@165..166 " "
      Ident@166..170 "show"
      PARAM_LIST@170..184
        LParen@170..171 "("
        PARAM@171..182
          Ident@171..175 "self"
          Colon@175..176 ":"
          Whitespace@176..177 " "
          TYPE_TAPP@177..182
            PATH@177..182
              Ident@177..182 "Point"
        RParen@182..183 ")"
        Whitespace@183..184 " "
      Arrow@184..186 "->"
      Whitespace@186..187 " "
      TYPE_STRING@187..194
        StringKeyword@187..193 "string"
        Whitespace@193..194 " "
      BLOCK@194..273
        LBrace@194..195 "{"
        Whitespace@195..204 "\n        "
        EXPR_BINARY@204..271
          EXPR_BINARY@204..261
            EXPR_BINARY@204..240
              EXPR_BINARY@204..234
                EXPR_STR@204..213
                  Str@204..212 "\"Point(\""
                  Whitespace@212..213 " "
                Plus@213..214 "+"
                Whitespace@214..215 " "
                EXPR_CALL@215..234
                  EXPR_BINARY@215..231
                    EXPR_BINARY@215..221
                      EXPR_IDENT@215..219
                        PATH@215..219
                          Ident@215..219 "self"
                      Dot@219..220 "."
                      EXPR_IDENT@220..221
                        PATH@220..221
                          Ident@220..221 "x"
                    Dot@221..222 "."
                    EXPR_IDENT@222..231
                      PATH@222..231
                        Ident@222..231 "to_string"
                  ARG_LIST@231..234
                    LParen@231..232 "("
                    RParen@232..233 ")"
                    Whitespace@233..234 " "
              Plus@234..235 "+"
              Whitespace@235..236 " "
              EXPR_STR@236..240
                Str@236..239 "\",\""
                Whitespace@239..240 " "
            Plus@240..241 "+"
            Whitespace@241..242 " "
            EXPR_CALL@242..261
              EXPR_BINARY@242..258
                EXPR_BINARY@242..248
                  EXPR_IDENT@242..246
                    PATH@242..246
                      Ident@242..246 "self"
                  Dot@246..247 "."
                  EXPR_IDENT@247..248
                    PATH@247..248
                      Ident@247..248 "y"
                Dot@248..249 "."
                EXPR_IDENT@249..258
                  PATH@249..258
                    Ident@249..258 "to_string"
              ARG_LIST@258..261
                LParen@258..259 "("
                RParen@259..260 ")"
                Whitespace@260..261 " "
          Plus@261..262 "+"
          Whitespace@262..263 " "
          EXPR_STR@263..271
            Str@263..266 "\")\""
            Whitespace@266..271 "\n    "
        RBrace@271..272 "}"
        Whitespace@272..273 "\n"
    RBrace@273..274 "}"
    Whitespace@274..276 "\n\n"
  IMPL@276..447
    ImplKeyword@276..280 "impl"
    Whitespace@280..281 " "
    TYPE_TAPP@281..289
      PATH@281..289
        Ident@281..288 "Display"
        Whitespace@288..289 " "
    ForKeyword@289..292 "for"
    Whitespace@292..293 " "
    TYPE_TAPP@293..298
      PATH@293..298
        Ident@293..297 "Flag"
        Whitespace@297..298 " "
    LBrace@298..299 "{"
    Whitespace@299..304 "\n    "
    FN@304..444
      FnKeyword@304..306 "fn"
      Whitespace@306..307 " "
      Ident@307..311 "show"
      PARAM_LIST@311..324
        LParen@311..312 "("
        PARAM@312..322
          Ident@312..316 "self"
          Colon@316..317 ":"
          Whitespace@317..318 " "
          TYPE_TAPP@318..322
            PATH@318..322
              Ident@318..322 "Flag"
        RParen@322..323 ")"
        Whitespace@323..324 " "
      Arrow@324..326 "->"
      Whitespace@326..327 " "
      TYPE_STRING@327..334
        StringKeyword@327..333 "string"
        Whitespace@333..334 " "
      BLOCK@334..444
        LBrace@334..335 "{"
        Whitespace@335..344 "\n        "
        EXPR_IF@344..442
          IfKeyword@344..346 "if"
          Whitespace@346..347 " "
          EXPR_IF_COND@347..358
            EXPR_BINARY@347..358
              EXPR_IDENT@347..351
                PATH@347..351
                  Ident@347..351 "self"
              Dot@351..352 "."
              EXPR_IDENT@352..358
                PATH@352..358
                  Ident@352..357 "value"
                  Whitespace@357..358 " "
          EXPR_IF_THEN@358..395
            BLOCK@358..395
              LBrace@358..359 "{"
              Whitespace@359..372 "\n            "
              EXPR_STR@372..393
                Str@372..384 "\"Flag(true)\""
                Whitespace@384..393 "\n        "
              RBrace@393..394 "}"
              Whitespace@394..395 " "
          ElseKeyword@395..399 "else"
          Whitespace@399..400 " "
          EXPR_IF_ELSE@400..442
            BLOCK@400..442
              LBrace@400..401 "{"
              Whitespace@401..414 "\n            "
              EXPR_STR@414..436
                Str@414..427 "\"Flag(false)\""
                Whitespace@427..436 "\n        "
              RBrace@436..437 "}"
              Whitespace@437..442 "\n    "
        RBrace@442..443 "}"
        Whitespace@443..444 "\n"
    RBrace@444..445 "}"
    Whitespace@445..447 "\n\n"
  FN@447..697
    FnKeyword@447..449 "fn"
    Whitespace@449..450 " "
    Ident@450..454 "main"
    PARAM_LIST@454..457
      LParen@454..455 "("
      RParen@455..456 ")"
      Whitespace@456..457 " "
    BLOCK@457..697
      LBrace@457..458 "{"
      Whitespace@458..463 "\n    "
      STMT_LET@463..497
        LetKeyword@463..466 "let"
        Whitespace@466..467 " "
        PATTERN_VARIABLE@467..469
          Ident@467..468 "p"
          Whitespace@468..469 " "
        Eq@469..470 "="
        Whitespace@470..471 " "
        EXPR_STRUCT_LITERAL@471..491
          PATH@471..477
            Ident@471..476 "Point"
            Whitespace@476..477 " "
          STRUCT_LITERAL_FIELD_LIST@477..491
            LBrace@477..478 "{"
            Whitespace@478..479 " "
            STRUCT_LITERAL_FIELD@479..483
              Ident@479..480 "x"
              Colon@480..481 ":"
              Whitespace@481..482 " "
              EXPR_INT@482..483
                Int@482..483 "1"
            Comma@483..484 ","
            Whitespace@484..485 " "
            STRUCT_LITERAL_FIELD@485..490
              Ident@485..486 "y"
              Colon@486..487 ":"
              Whitespace@487..488 " "
              EXPR_INT@488..490
                Int@488..489 "2"
                Whitespace@489..490 " "
            RBrace@490..491 "}"
        Semi@491..492 ";"
        Whitespace@492..497 "\n    "
      STMT_LET@497..531
        LetKeyword@497..500 "let"
        Whitespace@500..501 " "
        PATTERN_VARIABLE@501..503
          Ident@501..502 "t"
          Whitespace@502..503 " "
        Eq@503..504 "="
        Whitespace@504..505 " "
        EXPR_STRUCT_LITERAL@505..525
          PATH@505..510
            Ident@505..509 "Flag"
            Whitespace@509..510 " "
          STRUCT_LITERAL_FIELD_LIST@510..525
            LBrace@510..511 "{"
            Whitespace@511..512 " "
            STRUCT_LITERAL_FIELD@512..524
              Ident@512..517 "value"
              Colon@517..518 ":"
              Whitespace@518..519 " "
              EXPR_BOOL@519..524
                TrueKeyword@519..523 "true"
                Whitespace@523..524 " "
            RBrace@524..525 "}"
        Semi@525..526 ";"
        Whitespace@526..531 "\n    "
      STMT_LET@531..575
        LetKeyword@531..534 "let"
        Whitespace@534..535 " "
        PATTERN_VARIABLE@535..537
          Ident@535..537 "dp"
        Colon@537..538 ":"
        Whitespace@538..539 " "
        TYPE_DYN@539..551
          DynKeyword@539..542 "dyn"
          Whitespace@542..543 " "
          DYN_BOUND@543..551
            PATH@543..551
              Ident@543..550 "Display"
              Whitespace@550..551 " "
        Eq@551..552 "="
        Whitespace@552..553 " "
        EXPR_CAST@553..569
          EXPR_IDENT@553..555
            PATH@553..555
              Ident@553..554 "p"
              Whitespace@554..555 " "
          AsKeyword@555..557 "as"
          Whitespace@557..558 " "
          TYPE_DYN@558..569
            DynKeyword@558..561 "dyn"
            Whitespace@561..562 " "
            DYN_BOUND@562..569
              PATH@562..569
                Ident@562..569 "Display"
        Semi@569..570 ";"
        Whitespace@570..575 "\n    "
      STMT_LET@575..619
        LetKeyword@575..578 "let"
        Whitespace@578..579 " "
        PATTERN_VARIABLE@579..581
          Ident@579..581 "dt"
        Colon@581..582 ":"
        Whitespace@582..583 " "
        TYPE_DYN@583..595
          DynKeyword@583..586 "dyn"
          Whitespace@586..587 " "
          DYN_BOUND@587..595
            PATH@587..595
              Ident@587..594 "Display"
              Whitespace@594..595 " "
        Eq@595..596 "="
        Whitespace@596..597 " "
        EXPR_CAST@597..613
          EXPR_IDENT@597..599
            PATH@597..599
              Ident@597..598 "t"
              Whitespace@598..599 " "
          AsKeyword@599..601 "as"
          Whitespace@601..602 " "
          TYPE_DYN@602..613
            DynKeyword@602..605 "dyn"
            Whitespace@605..606 " "
            DYN_BOUND@606..613
              PATH@606..613
                Ident@606..613 "Display"
        Semi@613..614 ";"
        Whitespace@614..619 "\n    "
      STMT_LET@619..659
        LetKeyword@619..622 "let"
        Whitespace@622..623 " "
        PATTERN_WILDCARD@623..625
          WildcardKeyword@623..624 "_"
          Whitespace@624..625 " "
        Eq@625..626 "="
        Whitespace@626..627 " "
        EXPR_CALL@627..653
          EXPR_IDENT@627..634
            PATH@627..634
              Ident@627..634 "println"
          ARG_LIST@634..653
            LParen@634..635 "("
            ARG@635..652
              EXPR_CALL@635..652
                EXPR_IDENT@635..648
                  PATH@635..648
                    Ident@635..642 "Display"
                    ColonColon@642..644 "::"
                    Ident@644..648 "show"
                ARG_LIST@648..652
                  LParen@648..649 "("
                  ARG@649..651
                    EXPR_IDENT@649..651
                      PATH@649..651
                        Ident@649..651 "dp"
                  RParen@651..652 ")"
            RParen@652..653 ")"
        Semi@653..654 ";"
        Whitespace@654..659 "\n    "
      STMT_LET@659..695
        LetKeyword@659..662 "let"
        Whitespace@662..663 " "
        PATTERN_WILDCARD@663..665
          WildcardKeyword@663..664 "_"
          Whitespace@664..665 " "
        Eq@665..666 "="
        Whitespace@666..667 " "
        EXPR_CALL@667..693
          EXPR_IDENT@667..674
            PATH@667..674
              Ident@667..674 "println"
          ARG_LIST@674..693
            LParen@674..675 "("
            ARG@675..692
              EXPR_CALL@675..692
                EXPR_IDENT@675..688
                  PATH@675..688
                    Ident@675..682 "Display"
                    ColonColon@682..684 "::"
                    Ident@684..688 "show"
                ARG_LIST@688..692
                  LParen@688..689 "("
                  ARG@689..691
                    EXPR_IDENT@689..691
                      PATH@689..691
                        Ident@689..691 "dt"
                  RParen@691..692 ")"
            RParen@692..693 ")"
        Semi@693..694 ";"
        Whitespace@694..695 "\n"
      RBrace@695..696 "}"
      Whitespace@696..697 "\n"