FILE@0..429
  EXTERN@0..78
    ATTRIBUTE_LIST@0..32
      ATTRIBUTE@0..32
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "go_ffi"
        LParen@8..9 "("
        Str@9..18 "\"strings\""
        Comma@18..19 ","
        Whitespace@19..20 " "
        Str@20..29 "\"ToUpper\""
        RParen@29..30 ")"
        RBracket@30..31 "]"
        Whitespace@31..32 "\n"
    ExternKeyword@32..38 "extern"
    Whitespace@38..39 " "
    FnKeyword@39..41 "fn"
    Whitespace@41..42 " "
    Ident@42..50 "to_upper"
    PARAM_LIST@50..66
      LParen@50..51 "("
      PARAM@51..64
        Ident@51..56 "value"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_STRING@58..64
          StringKeyword@58..64 "string"
      RParen@64..65 ")"
      Whitespace@65..66 " "
    Arrow@66..68 "->"
    Whitespace@68..69 " "
    TYPE_STRING@69..75
      StringKeyword@69..75 "string"
    Semi@75..76 ";"
    Whitespace@76..78 "\n\n"
  EXTERN@78..182
    ATTRIBUTE_LIST@78..106
      ATTRIBUTE@78..106
        Pound@78..79 "#"
        LBracket@79..80 "["
        Ident@80..86 "go_ffi"
        LParen@86..87 "("
        Str@87..96 "\"strings\""
        Comma@96..97 ","
        Whitespace@97..98 " "
        Str@98..103 "\"Cut\""
        RParen@103..104 ")"
        RBracket@104..105 "]"
        Whitespace@105..106 "\n"
    ExternKeyword@106..112 "extern"
    Whitespace@112..113 " "
    FnKeyword@113..115 "fn"
    Whitespace@115..116 " "
    Ident@116..119 "cut"
    PARAM_LIST@119..154
      LParen@119..120 "("
      PARAM@120..135
        Ident@120..125 "value"
        Colon@125..126 ":"
        Whitespace@126..127 " "
        TYPE_STRING@127..133
          StringKeyword@127..133 "string"
        Comma@133..134 ","
        Whitespace@134..135 " "
      PARAM@135..152
        Ident@135..144 "separator"
        Colon@144..145 ":"
        Whitespace@145..146 " "
        TYPE_STRING@146..152
          StringKeyword@146..152 "string"
      RParen@152..153 ")"
      Whitespace@153..154 " "
    Arrow@154..156 "->"
    Whitespace@156..157 " "
    TYPE_TUPLE@157..179
      TYPE_LIST@157..179
        LParen@157..158 "("
        TYPE_STRING@158..164
          StringKeyword@158..164 "string"
        Comma@164..165 ","
        Whitespace@165..166 " "
        TYPE_STRING@166..172
          StringKeyword@166..172 "string"
        Comma@172..173 ","
        Whitespace@173..174 " "
        TYPE_BOOL@174..178
          BoolKeyword@174..178 "bool"
        RParen@178..179 ")"
    Semi@179..180 ";"
    Whitespace@180..182 "\n\n"
  EXTERN@182..244
    ATTRIBUTE_LIST@182..214
      ATTRIBUTE@182..214
        Pound@182..183 "#"
        LBracket@183..184 "["
        Ident@184..190 "go_ffi"
        LParen@190..191 "("
        Str@191..200 "\"runtime\""
        Comma@200..201 ","
        Whitespace@201..202 " "
        Str@202..211 "\"Gosched\""
        RParen@211..212 ")"
        RBracket@212..213 "]"
        Whitespace@213..214 "\n"
    ExternKeyword@214..220 "extern"
    Whitespace@220..221 " "
    FnKeyword@221..223 "fn"
    Whitespace@223..224 " "
    Ident@224..231 "gosched"
    PARAM_LIST@231..234
      LParen@231..232 "("
      RParen@232..233 ")"
      Whitespace@233..234 " "
    Arrow@234..236 "->"
    Whitespace@236..237 " "
    TYPE_UNIT@237..241
      UnitKeyword@237..241 "unit"
    Semi@241..242 ";"
    Whitespace@242..244 "\n\n"
  FN@244..429
    FnKeyword@244..246 "fn"
    Whitespace@246..247 " "
    Ident@247..251 "main"
    PARAM_LIST@251..254
      LParen@251..252 "("
      RParen@252..253 ")"
      Whitespace@253..254 " "
    Arrow@254..256 "->"
    Whitespace@256..257 " "
    TYPE_UNIT@257..262
      UnitKeyword@257..261 "unit"
      Whitespace@261..262 " "
    BLOCK@262..429
      LBrace@262..263 "{"
      Whitespace@263..268 "\n    "
      STMT_EXPR@268..299
        EXPR_CALL@268..293
          EXPR_IDENT@268..275
            PATH@268..275
              Ident@268..275 "println"
          ARG_LIST@275..293
            LParen@275..276 "("
            ARG@276..292
              EXPR_CALL@276..292
                EXPR_IDENT@276..284
                  PATH@276..284
                    Ident@276..284 "to_upper"
                ARG_LIST@284..292
                  LParen@284..285 "("
                  ARG@285..291
                    EXPR_STR@285..291
                      Str@285..291 "\"goml\""
                  RParen@291..292 ")"
            RParen@292..293 ")"
        Semi@293..294 ";"
        Whitespace@294..299 "\n    "
      STMT_LET@299..356
        LetKeyword@299..302 "let"
        Whitespace@302..303 " "
        PATTERN_TUPLE@303..326
          LParen@303..304 "("
          PATTERN_VARIABLE@304..310
            Ident@304..310 "before"
          Comma@310..311 ","
          Whitespace@311..312 " "
          PATTERN_VARIABLE@312..317
            Ident@312..317 "after"
          Comma@317..318 ","
          Whitespace@318..319 " "
          PATTERN_VARIABLE@319..324
            Ident@319..324 "found"
          RParen@324..325 ")"
          Whitespace@325..326 " "
        Eq@326..327 "="
        Whitespace@327..328 " "
        EXPR_CALL@328..350
          EXPR_IDENT@328..331
            PATH@328..331
              Ident@328..331 "cut"
          ARG_LIST@331..350
            LParen@331..332 "("
            ARG@332..346
              EXPR_STR@332..344
                Str@332..344 "\"left:right\""
              Comma@344..345 ","
              Whitespace@345..346 " "
            ARG@346..349
              EXPR_STR@346..349
                Str@346..349 "\":\""
            RParen@349..350 ")"
        Semi@350..351 ";"
        Whitespace@351..356 "\n    "
      STMT_EXPR@356..377
        EXPR_CALL@356..371
          EXPR_IDENT@356..363
            PATH@356..363
              Ident@356..363 "println"
          ARG_LIST@363..371
            LParen@363..364 "("
            ARG@364..370
              EXPR_IDENT@364..370
                PATH@364..370
                  Ident@364..370 "before"
            RParen@370..371 ")"
        Semi@371..372 ";"
        Whitespace@372..377 "\n    "
      STMT_EXPR@377..397
        EXPR_CALL@377..391
          EXPR_IDENT@377..384
            PATH@377..384
              Ident@377..384 "println"
          ARG_LIST@384..391
            LParen@384..385 "("
            ARG@385..390
              EXPR_IDENT@385..390
                PATH@385..390
                  Ident@385..390 "after"
            RParen@390..391 ")"
        Semi@391..392 ";"
        Whitespace@392..397 "\n    "
      STMT_EXPR@397..417
        EXPR_CALL@397..411
          EXPR_IDENT@397..404
            PATH@397..404
              Ident@397..404 "println"
          ARG_LIST@404..411
            LParen@404..405 "("
            ARG@405..410
              EXPR_IDENT@405..410
                PATH@405..410
                  Ident@405..410 "found"
            RParen@410..411 ")"
        Semi@411..412 ";"
        Whitespace@412..417 "\n    "
      EXPR_CALL@417..427
        EXPR_IDENT@417..424
          PATH@417..424
            Ident@417..424 "gosched"
        ARG_LIST@424..427
          LParen@424..425 "("
          RParen@425..426 ")"
          Whitespace@426..427 "\n"
      RBrace@427..428 "}"
      Whitespace@428..429 "\n"