FILE@0..425
  EXTERN@0..78
    ATTRIBUTE_LIST@0..32
      ATTRIBUTE@0..32
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "go_ffi"
        LParen@8..9 "("
        Str@9..18 "\"strings\""
        Comma@18..19 ","
        Whitespace@19..20 " "
        Str@20..29 "\"ToUpper\""
        RParen@29..30 ")"
        RBracket@30..31 "]"
        Whitespace@31..32 "\n"
    ExternKeyword@32..38 "extern"
    Whitespace@38..39 " "
    FnKeyword@39..41 "fn"
    Whitespace@41..42 " "
    Ident@42..50 "to_upper"
    PARAM_LIST@50..66
      LParen@50..51 "("
      PARAM@51..64
        Ident@51..56 "value"
        Colon@56..57 ":"
        Whitespace@57..58 " "
        TYPE_STRING@58..64
          StringKeyword@58..64 "string"
      RParen@64..65 ")"
      Whitespace@65..66 " "
    Arrow@66..68 "->"
    Whitespace@68..69 " "
    TYPE_STRING@69..75
      StringKeyword@69..75 "string"
    Semi@75..76 ";"
    Whitespace@76..78 "\n\n"
  EXTERN@78..182
    ATTRIBUTE_LIST@78..106
      ATTRIBUTE@78..106
        Pound@78..79 "#"
        LBracket@79..80 "["
        Ident@80..86 "go_ffi"
        LParen@86..87 "("
        Str@87..96 "\"strings\""
        Comma@96..97 ","
        Whitespace@97..98 " "
        Str@98..103 "\"Cut\""
        RParen@103..104 ")"
        RBracket@104..105 "]"
        Whitespace@105..106 "\n"
    ExternKeyword@106..112 "extern"
    Whitespace@112..113 " "
    FnKeyword@113..115 "fn"
    Whitespace@115..116 " "
    Ident@116..119 "cut"
    PARAM_LIST@119..154
      LParen@119..120 "("
      PARAM@120..135
        Ident@120..125 "value"
        Colon@125..126 ":"
        Whitespace@126..127 " "
        TYPE_STRING@127..133
          StringKeyword@127..133 "string"
        Comma@133..134 ","
        Whitespace@134..135 " "
      PARAM@135..152
        Ident@135..144 "separator"
        Colon@144..145 ":"
        Whitespace@145..146 " "
        TYPE_STRING@146..152
          StringKeyword@146..152 "string"
      RParen@152..153 ")"
      Whitespace@153..154 " "
    Arrow@154..156 "->"
    Whitespace@156..157 " "
    TYPE_TUPLE@157..179
      TYPE_LIST@157..179
        LParen@157..158 "("
        TYPE_STRING@158..164
          StringKeyword@158..164 "string"
        Comma@164..165 ","
        Whitespace@165..166 " "
        TYPE_STRING@166..172
          StringKeyword@166..172 "string"
        Comma@172..173 ","
        Whitespace@173..174 " "
        TYPE_BOOL@174..178
          BoolKeyword@174..178 "bool"
        RParen@178..179 ")"
    Semi@179..180 ";"
    Whitespace@180..182 "\n\n"
  EXTERN@182..242
    ATTRIBUTE_LIST@182..214
      ATTRIBUTE@182..214
        Pound@182..183 "#"
        LBracket@183..184 "["
        Ident@184..190 "go_ffi"
        LParen@190..191 "("
        Str@191..200 "\"runtime\""
        Comma@200..201 ","
        Whitespace@201..202 " "
        Str@202..211 "\"Gosched\""
        RParen@211..212 ")"
        RBracket@212..213 "]"
        Whitespace@213..214 "\n"
    ExternKeyword@214..220 "extern"
    Whitespace@220..221 " "
    FnKeyword@221..223 "fn"
    Whitespace@223..224 " "
    Ident@224..231 "gosched"
    PARAM_LIST@231..234
      LParen@231..232 "("
      RParen@232..233 ")"
      Whitespace@233..234 " "
    Arrow@234..236 "->"
    Whitespace@236..237 " "
    TYPE_TUPLE@237..239
      TYPE_LIST@237..239
        LParen@237..238 "("
        RParen@238..239 ")"
    Semi@239..240 ";"
    Whitespace@240..242 "\n\n"
  FN@242..425
    FnKeyword@242..244 "fn"
    Whitespace@244..245 " "
    Ident@245..249 "main"
    PARAM_LIST@249..252
      LParen@249..250 "("
      RParen@250..251 ")"
      Whitespace@251..252 " "
    Arrow@252..254 "->"
    Whitespace@254..255 " "
    TYPE_TUPLE@255..258
      TYPE_LIST@255..258
        LParen@255..256 "("
        RParen@256..257 ")"
        Whitespace@257..258 " "
    BLOCK@258..425
      LBrace@258..259 "{"
      Whitespace@259..264 "\n    "
      STMT_EXPR@264..295
        EXPR_CALL@264..289
          EXPR_IDENT@264..271
            PATH@264..271
              Ident@264..271 "println"
          ARG_LIST@271..289
            LParen@271..272 "("
            ARG@272..288
              EXPR_CALL@272..288
                EXPR_IDENT@272..280
                  PATH@272..280
                    Ident@272..280 "to_upper"
                ARG_LIST@280..288
                  LParen@280..281 "("
                  ARG@281..287
                    EXPR_STR@281..287
                      Str@281..287 "\"goml\""
                  RParen@287..288 ")"
            RParen@288..289 ")"
        Semi@289..290 ";"
        Whitespace@290..295 "\n    "
      STMT_LET@295..352
        LetKeyword@295..298 "let"
        Whitespace@298..299 " "
        PATTERN_TUPLE@299..322
          LParen@299..300 "("
          PATTERN_VARIABLE@300..306
            Ident@300..306 "before"
          Comma@306..307 ","
          Whitespace@307..308 " "
          PATTERN_VARIABLE@308..313
            Ident@308..313 "after"
          Comma@313..314 ","
          Whitespace@314..315 " "
          PATTERN_VARIABLE@315..320
            Ident@315..320 "found"
          RParen@320..321 ")"
          Whitespace@321..322 " "
        Eq@322..323 "="
        Whitespace@323..324 " "
        EXPR_CALL@324..346
          EXPR_IDENT@324..327
            PATH@324..327
              Ident@324..327 "cut"
          ARG_LIST@327..346
            LParen@327..328 "("
            ARG@328..342
              EXPR_STR@328..340
                Str@328..340 "\"left:right\""
              Comma@340..341 ","
              Whitespace@341..342 " "
            ARG@342..345
              EXPR_STR@342..345
                Str@342..345 "\":\""
            RParen@345..346 ")"
        Semi@346..347 ";"
        Whitespace@347..352 "\n    "
      STMT_EXPR@352..373
        EXPR_CALL@352..367
          EXPR_IDENT@352..359
            PATH@352..359
              Ident@352..359 "println"
          ARG_LIST@359..367
            LParen@359..360 "("
            ARG@360..366
              EXPR_IDENT@360..366
                PATH@360..366
                  Ident@360..366 "before"
            RParen@366..367 ")"
        Semi@367..368 ";"
        Whitespace@368..373 "\n    "
      STMT_EXPR@373..393
        EXPR_CALL@373..387
          EXPR_IDENT@373..380
            PATH@373..380
              Ident@373..380 "println"
          ARG_LIST@380..387
            LParen@380..381 "("
            ARG@381..386
              EXPR_IDENT@381..386
                PATH@381..386
                  Ident@381..386 "after"
            RParen@386..387 ")"
        Semi@387..388 ";"
        Whitespace@388..393 "\n    "
      STMT_EXPR@393..413
        EXPR_CALL@393..407
          EXPR_IDENT@393..400
            PATH@393..400
              Ident@393..400 "println"
          ARG_LIST@400..407
            LParen@400..401 "("
            ARG@401..406
              EXPR_IDENT@401..406
                PATH@401..406
                  Ident@401..406 "found"
            RParen@406..407 ")"
        Semi@407..408 ";"
        Whitespace@408..413 "\n    "
      EXPR_CALL@413..423
        EXPR_IDENT@413..420
          PATH@413..420
            Ident@413..420 "gosched"
        ARG_LIST@420..423
          LParen@420..421 "("
          RParen@421..422 ")"
          Whitespace@422..423 "\n"
      RBrace@423..424 "}"
      Whitespace@424..425 "\n"