FILE@0..328
  TRAIT@0..54
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Measure"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..54
      TRAIT_METHOD_SIG@20..49
        FnKeyword@20..22 "fn"
        Whitespace@22..23 " "
        Ident@23..30 "measure"
        PARAM_LIST@30..43
          LParen@30..31 "("
          PARAM@31..41
            Ident@31..35 "self"
            Colon@35..36 ":"
            Whitespace@36..37 " "
            TYPE_TAPP@37..41
              PATH@37..41
                Ident@37..41 "Self"
          RParen@41..42 ")"
          Whitespace@42..43 " "
        Arrow@43..45 "->"
        Whitespace@45..46 " "
        TYPE_INT@46..49
          IntKeyword@46..49 "int"
      Semi@49..50 ";"
      Whitespace@50..51 "\n"
      RBrace@51..52 "}"
      Whitespace@52..54 "\n\n"
  IMPL@54..154
    ImplKeyword@54..58 "impl"
    Whitespace@58..59 " "
    TYPE_TAPP@59..67
      PATH@59..67
        Ident@59..66 "Measure"
        Whitespace@66..67 " "
    ForKeyword@67..70 "for"
    Whitespace@70..71 " "
    TYPE_TAPP@71..82
      PATH@71..74
        Ident@71..74 "Vec"
      TYPE_PARAM_LIST@74..82
        LBracket@74..75 "["
        TYPE_INT32@75..80
          Int32Keyword@75..80 "int32"
        RBracket@80..81 "]"
        Whitespace@81..82 " "
    LBrace@82..83 "{"
    Whitespace@83..88 "\n    "
    FN@88..151
      FnKeyword@88..90 "fn"
      Whitespace@90..91 " "
      Ident@91..98 "measure"
      PARAM_LIST@98..117
        LParen@98..99 "("
        PARAM@99..115
          Ident@99..103 "self"
          Colon@103..104 ":"
          Whitespace@104..105 " "
          TYPE_TAPP@105..115
            PATH@105..108
              Ident@105..108 "Vec"
            TYPE_PARAM_LIST@108..115
              LBracket@108..109 "["
              TYPE_INT32@109..114
                Int32Keyword@109..114 "int32"
              RBracket@114..115 "]"
        RParen@115..116 ")"
        Whitespace@116..117 " "
      Arrow@117..119 "->"
      Whitespace@119..120 " "
      TYPE_INT@120..124
        IntKeyword@120..123 "int"
        Whitespace@123..124 " "
      BLOCK@124..151
        LBrace@124..125 "{"
        Whitespace@125..134 "\n        "
        EXPR_CALL@134..149
          EXPR_BINARY@134..142
            EXPR_IDENT@134..138
              PATH@134..138
                Ident@134..138 "self"
            Dot@138..139 "."
            EXPR_IDENT@139..142
              PATH@139..142
                Ident@139..142 "len"
          ARG_LIST@142..149
            LParen@142..143 "("
            RParen@143..144 ")"
            Whitespace@144..149 "\n    "
        RBrace@149..150 "}"
        Whitespace@150..151 "\n"
    RBrace@151..152 "}"
    Whitespace@152..154 "\n\n"
  FN@154..232
    FnKeyword@154..156 "fn"
    Whitespace@156..157 " "
    Ident@157..169 "read_measure"
    GENERIC_LIST@169..181
      LBracket@169..170 "["
      GENERIC@170..180
        Ident@170..171 "T"
        Colon@171..172 ":"
        Whitespace@172..173 " "
        TRAIT_SET@173..180
          TYPE_TAPP@173..180
            PATH@173..180
              Ident@173..180 "Measure"
      RBracket@180..181 "]"
    PARAM_LIST@181..192
      LParen@181..182 "("
      PARAM@182..190
        Ident@182..187 "value"
        Colon@187..188 ":"
        Whitespace@188..189 " "
        TYPE_TAPP@189..190
          PATH@189..190
            Ident@189..190 "T"
      RParen@190..191 ")"
      Whitespace@191..192 " "
    Arrow@192..194 "->"
    Whitespace@194..195 " "
    TYPE_INT@195..199
      IntKeyword@195..198 "int"
      Whitespace@198..199 " "
    BLOCK@199..232
      LBrace@199..200 "{"
      Whitespace@200..205 "\n    "
      EXPR_CALL@205..229
        EXPR_IDENT@205..221
          PATH@205..221
            Ident@205..212 "Measure"
            ColonColon@212..214 "::"
            Ident@214..221 "measure"
        ARG_LIST@221..229
          LParen@221..222 "("
          ARG@222..227
            EXPR_IDENT@222..227
              PATH@222..227
                Ident@222..227 "value"
          RParen@227..228 ")"
          Whitespace@228..229 "\n"
      RBrace@229..230 "}"
      Whitespace@230..232 "\n\n"
  FN@232..328
    FnKeyword@232..234 "fn"
    Whitespace@234..235 " "
    Ident@235..239 "main"
    PARAM_LIST@239..242
      LParen@239..240 "("
      RParen@240..241 ")"
      Whitespace@241..242 " "
    Arrow@242..244 "->"
    Whitespace@244..245 " "
    TYPE_UNIT@245..250
      UnitKeyword@245..249 "unit"
      Whitespace@249..250 " "
    BLOCK@250..328
      LBrace@250..251 "{"
      Whitespace@251..256 "\n    "
      STMT_LET@256..284
        LetKeyword@256..259 "let"
        Whitespace@259..260 " "
        PATTERN_VARIABLE@260..267
          Ident@260..266 "values"
          Whitespace@266..267 " "
        Eq@267..268 "="
        Whitespace@268..269 " "
        EXPR_CALL@269..278
          EXPR_IDENT@269..276
            PATH@269..276
              Ident@269..276 "vec_new"
          ARG_LIST@276..278
            LParen@276..277 "("
            RParen@277..278 ")"
        Semi@278..279 ";"
        Whitespace@279..284 "\n    "
      EXPR_CALL@284..326
        EXPR_IDENT@284..291
          PATH@284..291
            Ident@284..291 "println"
        ARG_LIST@291..326
          LParen@291..292 "("
          ARG@292..324
            EXPR_CALL@292..324
              EXPR_BINARY@292..322
                EXPR_CALL@292..312
                  EXPR_IDENT@292..304
                    PATH@292..304
                      Ident@292..304 "read_measure"
                  ARG_LIST@304..312
                    LParen@304..305 "("
                    ARG@305..311
                      EXPR_IDENT@305..311
                        PATH@305..311
                          Ident@305..311 "values"
                    RParen@311..312 ")"
                Dot@312..313 "."
                EXPR_IDENT@313..322
                  PATH@313..322
                    Ident@313..322 "to_string"
              ARG_LIST@322..324
                LParen@322..323 "("
                RParen@323..324 ")"
          RParen@324..325 ")"
          Whitespace@325..326 "\n"
      RBrace@326..327 "}"
      Whitespace@327..328 "\n"