FILE@0..574
  FN@0..574
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..574
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..75
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..35
          Ident@28..34 "values"
          Whitespace@34..35 " "
        Eq@35..36 "="
        Whitespace@36..37 " "
        EXPR_CALL@37..69
          EXPR_IDENT@37..52
            PATH@37..52
              Ident@37..40 "Vec"
              ColonColon@40..42 "::"
              Ident@42..52 "from_array"
          ARG_LIST@52..69
            LParen@52..53 "("
            ARG@53..68
              EXPR_ARRAY_LITERAL@53..68
                LBracket@53..54 "["
                EXPR_INT@54..55
                  Int@54..55 "1"
                Comma@55..56 ","
                Whitespace@56..57 " "
                EXPR_INT@57..58
                  Int@57..58 "2"
                Comma@58..59 ","
                Whitespace@59..60 " "
                EXPR_INT@60..61
                  Int@60..61 "3"
                Comma@61..62 ","
                Whitespace@62..63 " "
                EXPR_INT@63..64
                  Int@63..64 "4"
                Comma@64..65 ","
                Whitespace@65..66 " "
                EXPR_INT@66..67
                  Int@66..67 "5"
                RBracket@67..68 "]"
            RParen@68..69 ")"
        Semi@69..70 ";"
        Whitespace@70..75 "\n    "
      STMT_LET@75..114
        LetKeyword@75..78 "let"
        Whitespace@78..79 " "
        PATTERN_VARIABLE@79..84
          Ident@79..83 "view"
          Whitespace@83..84 " "
        Eq@84..85 "="
        Whitespace@85..86 " "
        EXPR_CALL@86..108
          EXPR_BINARY@86..102
            EXPR_IDENT@86..92
              PATH@86..92
                Ident@86..92 "values"
            Dot@92..93 "."
            EXPR_IDENT@93..102
              PATH@93..102
                Ident@93..102 "slice_mut"
          ARG_LIST@102..108
            LParen@102..103 "("
            ARG@103..106
              EXPR_INT@103..104
                Int@103..104 "1"
              Comma@104..105 ","
              Whitespace@105..106 " "
            ARG@106..107
              EXPR_INT@106..107
                Int@106..107 "5"
            RParen@107..108 ")"
        Semi@108..109 ";"
        Whitespace@109..114 "\n    "
      STMT_ASSIGN@114..132
        EXPR_INDEX@114..122
          EXPR_IDENT@114..118
            PATH@114..118
              Ident@114..118 "view"
          LBracket@118..119 "["
          EXPR_INT@119..120
            Int@119..120 "0"
          RBracket@120..121 "]"
          Whitespace@121..122 " "
        Eq@122..123 "="
        Whitespace@123..124 " "
        EXPR_INT@124..126
          Int@124..126 "20"
        Semi@126..127 ";"
        Whitespace@127..132 "\n    "
      STMT_EXPR@132..170
        EXPR_CALL@132..164
          EXPR_IDENT@132..139
            PATH@132..139
              Ident@132..139 "println"
          ARG_LIST@139..164
            LParen@139..140 "("
            ARG@140..163
              EXPR_CALL@140..163
                EXPR_BINARY@140..156
                  EXPR_IDENT@140..144
                    PATH@140..144
                      Ident@140..144 "view"
                  Dot@144..145 "."
                  EXPR_IDENT@145..156
                    PATH@145..156
                      Ident@145..156 "set_checked"
                ARG_LIST@156..163
                  LParen@156..157 "("
                  ARG@157..160
                    EXPR_INT@157..158
                      Int@157..158 "9"
                    Comma@158..159 ","
                    Whitespace@159..160 " "
                  ARG@160..162
                    EXPR_INT@160..162
                      Int@160..162 "30"
                  RParen@162..163 ")"
            RParen@163..164 ")"
        Semi@164..165 ";"
        Whitespace@165..170 "\n    "
      STMT_EXPR@170..208
        EXPR_CALL@170..202
          EXPR_IDENT@170..177
            PATH@170..177
              Ident@170..177 "println"
          ARG_LIST@177..202
            LParen@177..178 "("
            ARG@178..201
              EXPR_CALL@178..201
                EXPR_BINARY@178..194
                  EXPR_IDENT@178..182
                    PATH@178..182
                      Ident@178..182 "view"
                  Dot@182..183 "."
                  EXPR_IDENT@183..194
                    PATH@183..194
                      Ident@183..194 "set_checked"
                ARG_LIST@194..201
                  LParen@194..195 "("
                  ARG@195..198
                    EXPR_INT@195..196
                      Int@195..196 "1"
                    Comma@196..197 ","
                    Whitespace@197..198 " "
                  ARG@198..200
                    EXPR_INT@198..200
                      Int@198..200 "30"
                  RParen@200..201 ")"
            RParen@201..202 ")"
        Semi@202..203 ";"
        Whitespace@203..208 "\n    "
      STMT_EXPR@208..248
        EXPR_CALL@208..242
          EXPR_IDENT@208..215
            PATH@208..215
              Ident@208..215 "println"
          ARG_LIST@215..242
            LParen@215..216 "("
            ARG@216..241
              EXPR_CALL@216..241
                EXPR_BINARY@216..232
                  EXPR_IDENT@216..220
                    PATH@216..220
                      Ident@216..220 "view"
                  Dot@220..221 "."
                  EXPR_IDENT@221..232
                    PATH@221..232
                      Ident@221..232 "copy_within"
                ARG_LIST@232..241
                  LParen@232..233 "("
                  ARG@233..236
                    EXPR_INT@233..234
                      Int@233..234 "0"
                    Comma@234..235 ","
                    Whitespace@235..236 " "
                  ARG@236..239
                    EXPR_INT@236..237
                      Int@236..237 "3"
                    Comma@237..238 ","
                    Whitespace@238..239 " "
                  ARG@239..240
                    EXPR_INT@239..240
                      Int@239..240 "1"
                  RParen@240..241 ")"
            RParen@241..242 ")"
        Semi@242..243 ";"
        Whitespace@243..248 "\n    "
      STMT_EXPR@248..316
        EXPR_CALL@248..310
          EXPR_IDENT@248..255
            PATH@248..255
              Ident@248..255 "println"
          ARG_LIST@255..310
            LParen@255..256 "("
            ARG@256..309
              EXPR_CALL@256..309
                EXPR_BINARY@256..270
                  EXPR_IDENT@256..260
                    PATH@256..260
                      Ident@256..260 "view"
                  Dot@260..261 "."
                  EXPR_IDENT@261..270
                    PATH@261..270
                      Ident@261..270 "copy_from"
                ARG_LIST@270..309
                  LParen@270..271 "("
                  ARG@271..274
                    EXPR_INT@271..272
                      Int@271..272 "0"
                    Comma@272..273 ","
                    Whitespace@273..274 " "
                  ARG@274..308
                    EXPR_CALL@274..308
                      EXPR_BINARY@274..306
                        EXPR_CALL@274..297
                          EXPR_IDENT@274..289
                            PATH@274..289
                              Ident@274..277 "Vec"
                              ColonColon@277..279 "::"
                              Ident@279..289 "from_array"
                          ARG_LIST@289..297
                            LParen@289..290 "("
                            ARG@290..296
                              EXPR_ARRAY_LITERAL@290..296
                                LBracket@290..291 "["
                                EXPR_INT@291..292
                                  Int@291..292 "7"
                                Comma@292..293 ","
                                Whitespace@293..294 " "
                                EXPR_INT@294..295
                                  Int@294..295 "8"
                                RBracket@295..296 "]"
                            RParen@296..297 ")"
                        Dot@297..298 "."
                        EXPR_IDENT@298..306
                          PATH@298..306
                            Ident@298..306 "as_slice"
                      ARG_LIST@306..308
                        LParen@306..307 "("
                        RParen@307..308 ")"
                  RParen@308..309 ")"
            RParen@309..310 ")"
        Semi@310..311 ";"
        Whitespace@311..316 "\n    "
      STMT_EXPR@316..414
        EXPR_MATCH@316..408
          MatchKeyword@316..321 "match"
          Whitespace@321..322 " "
          EXPR_CALL@322..345
            EXPR_BINARY@322..338
              EXPR_IDENT@322..326
                PATH@322..326
                  Ident@322..326 "view"
              Dot@326..327 "."
              EXPR_IDENT@327..338
                PATH@327..338
                  Ident@327..338 "sub_checked"
            ARG_LIST@338..345
              LParen@338..339 "("
              ARG@339..342
                EXPR_INT@339..340
                  Int@339..340 "1"
                Comma@340..341 ","
                Whitespace@341..342 " "
              ARG@342..343
                EXPR_INT@342..343
                  Int@342..343 "3"
              RParen@343..344 ")"
              Whitespace@344..345 " "
          MATCH_ARM_LIST@345..408
            LBrace@345..346 "{"
            Whitespace@346..355 "\n        "
            MATCH_ARM@355..381
              PATTERN_CONSTR@355..366
                PATH@355..359
                  Ident@355..359 "Some"
                LParen@359..360 "("
                PATTERN_VARIABLE@360..364
                  Ident@360..364 "part"
                RParen@364..365 ")"
                Whitespace@365..366 " "
              FatArrow@366..368 "=>"
              Whitespace@368..369 " "
              EXPR_CALL@369..381
                EXPR_BINARY@369..378
                  EXPR_IDENT@369..373
                    PATH@369..373
                      Ident@369..373 "part"
                  Dot@373..374 "."
                  EXPR_IDENT@374..378
                    PATH@374..378
                      Ident@374..378 "fill"
                ARG_LIST@378..381
                  LParen@378..379 "("
                  ARG@379..380
                    EXPR_INT@379..380
                      Int@379..380 "6"
                  RParen@380..381 ")"
            Comma@381..382 ","
            Whitespace@382..391 "\n        "
            MATCH_ARM@391..401
              PATTERN_CONSTR@391..396
                PATH@391..396
                  Ident@391..395 "None"
                  Whitespace@395..396 " "
              FatArrow@396..398 "=>"
              Whitespace@398..399 " "
              EXPR_UNIT@399..401
                LParen@399..400 "("
                RParen@400..401 ")"
            Comma@401..402 ","
            Whitespace@402..407 "\n    "
            RBrace@407..408 "}"
        Semi@408..409 ";"
        Whitespace@409..414 "\n    "
      STMT_EXPR@414..469
        EXPR_FOR@414..469
          ForKeyword@414..417 "for"
          Whitespace@417..418 " "
          PATTERN_VARIABLE@418..424
            Ident@418..423 "value"
            Whitespace@423..424 " "
          InKeyword@424..426 "in"
          Whitespace@426..427 " "
          EXPR_IDENT@427..434
            PATH@427..434
              Ident@427..433 "values"
              Whitespace@433..434 " "
          BLOCK@434..469
            LBrace@434..435 "{"
            Whitespace@435..444 "\n        "
            EXPR_CALL@444..463
              EXPR_IDENT@444..451
                PATH@444..451
                  Ident@444..451 "println"
              ARG_LIST@451..463
                LParen@451..452 "("
                ARG@452..457
                  EXPR_IDENT@452..457
                    PATH@452..457
                      Ident@452..457 "value"
                RParen@457..458 ")"
                Whitespace@458..463 "\n    "
            RBrace@463..464 "}"
            Whitespace@464..469 "\n    "
      STMT_EXPR@469..521
        EXPR_CALL@469..515
          EXPR_IDENT@469..476
            PATH@469..476
              Ident@469..476 "println"
          ARG_LIST@476..515
            LParen@476..477 "("
            ARG@477..514
              EXPR_CALL@477..514
                EXPR_BINARY@477..512
                  EXPR_CALL@477..504
                    EXPR_BINARY@477..497
                      EXPR_IDENT@477..483
                        PATH@477..483
                          Ident@477..483 "values"
                      Dot@483..484 "."
                      EXPR_IDENT@484..497
                        PATH@484..497
                          Ident@484..497 "slice_checked"
                    ARG_LIST@497..504
                      LParen@497..498 "("
                      ARG@498..502
                        EXPR_PREFIX@498..500
                          Minus@498..499 "-"
                          EXPR_INT@499..500
                            Int@499..500 "1"
                        Comma@500..501 ","
                        Whitespace@501..502 " "
                      ARG@502..503
                        EXPR_INT@502..503
                          Int@502..503 "2"
                      RParen@503..504 ")"
                  Dot@504..505 "."
                  EXPR_IDENT@505..512
                    PATH@505..512
                      Ident@505..512 "is_none"
                ARG_LIST@512..514
                  LParen@512..513 "("
                  RParen@513..514 ")"
            RParen@514..515 ")"
        Semi@515..516 ";"
        Whitespace@516..521 "\n    "
      EXPR_CALL@521..572
        EXPR_IDENT@521..528
          PATH@521..528
            Ident@521..528 "println"
        ARG_LIST@528..572
          LParen@528..529 "("
          ARG@529..570
            EXPR_CALL@529..570
              EXPR_BINARY@529..568
                EXPR_CALL@529..560
                  EXPR_BINARY@529..556
                    EXPR_CALL@529..544
                      EXPR_BINARY@529..542
                        EXPR_IDENT@529..533
                          PATH@529..533
                            Ident@529..533 "view"
                        Dot@533..534 "."
                        EXPR_IDENT@534..542
                          PATH@534..542
                            Ident@534..542 "as_slice"
                      ARG_LIST@542..544
                        LParen@542..543 "("
                        RParen@543..544 ")"
                    Dot@544..545 "."
                    EXPR_IDENT@545..556
                      PATH@545..556
                        Ident@545..556 "get_checked"
                  ARG_LIST@556..560
                    LParen@556..557 "("
                    ARG@557..559
                      EXPR_INT@557..559
                        Int@557..559 "10"
                    RParen@559..560 ")"
                Dot@560..561 "."
                EXPR_IDENT@561..568
                  PATH@561..568
                    Ident@561..568 "is_none"
              ARG_LIST@568..570
                LParen@568..569 "("
                RParen@569..570 ")"
          RParen@570..571 ")"
          Whitespace@571..572 "\n"
      RBrace@572..573 "}"
      Whitespace@573..574 "\n"