FILE@0..572
  FN@0..572
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_TUPLE@13..16
      TYPE_LIST@13..16
        LParen@13..14 "("
        RParen@14..15 ")"
        Whitespace@15..16 " "
    BLOCK@16..572
      LBrace@16..17 "{"
      Whitespace@17..22 "\n    "
      STMT_LET@22..73
        LetKeyword@22..25 "let"
        Whitespace@25..26 " "
        PATTERN_VARIABLE@26..33
          Ident@26..32 "values"
          Whitespace@32..33 " "
        Eq@33..34 "="
        Whitespace@34..35 " "
        EXPR_CALL@35..67
          EXPR_IDENT@35..50
            PATH@35..50
              Ident@35..38 "Vec"
              ColonColon@38..40 "::"
              Ident@40..50 "from_array"
          ARG_LIST@50..67
            LParen@50..51 "("
            ARG@51..66
              EXPR_ARRAY_LITERAL@51..66
                LBracket@51..52 "["
                EXPR_INT@52..53
                  Int@52..53 "1"
                Comma@53..54 ","
                Whitespace@54..55 " "
                EXPR_INT@55..56
                  Int@55..56 "2"
                Comma@56..57 ","
                Whitespace@57..58 " "
                EXPR_INT@58..59
                  Int@58..59 "3"
                Comma@59..60 ","
                Whitespace@60..61 " "
                EXPR_INT@61..62
                  Int@61..62 "4"
                Comma@62..63 ","
                Whitespace@63..64 " "
                EXPR_INT@64..65
                  Int@64..65 "5"
                RBracket@65..66 "]"
            RParen@66..67 ")"
        Semi@67..68 ";"
        Whitespace@68..73 "\n    "
      STMT_LET@73..112
        LetKeyword@73..76 "let"
        Whitespace@76..77 " "
        PATTERN_VARIABLE@77..82
          Ident@77..81 "view"
          Whitespace@81..82 " "
        Eq@82..83 "="
        Whitespace@83..84 " "
        EXPR_CALL@84..106
          EXPR_BINARY@84..100
            EXPR_IDENT@84..90
              PATH@84..90
                Ident@84..90 "values"
            Dot@90..91 "."
            EXPR_IDENT@91..100
              PATH@91..100
                Ident@91..100 "slice_mut"
          ARG_LIST@100..106
            LParen@100..101 "("
            ARG@101..104
              EXPR_INT@101..102
                Int@101..102 "1"
              Comma@102..103 ","
              Whitespace@103..104 " "
            ARG@104..105
              EXPR_INT@104..105
                Int@104..105 "5"
            RParen@105..106 ")"
        Semi@106..107 ";"
        Whitespace@107..112 "\n    "
      STMT_ASSIGN@112..130
        EXPR_INDEX@112..120
          EXPR_IDENT@112..116
            PATH@112..116
              Ident@112..116 "view"
          LBracket@116..117 "["
          EXPR_INT@117..118
            Int@117..118 "0"
          RBracket@118..119 "]"
          Whitespace@119..120 " "
        Eq@120..121 "="
        Whitespace@121..122 " "
        EXPR_INT@122..124
          Int@122..124 "20"
        Semi@124..125 ";"
        Whitespace@125..130 "\n    "
      STMT_EXPR@130..168
        EXPR_CALL@130..162
          EXPR_IDENT@130..137
            PATH@130..137
              Ident@130..137 "println"
          ARG_LIST@137..162
            LParen@137..138 "("
            ARG@138..161
              EXPR_CALL@138..161
                EXPR_BINARY@138..154
                  EXPR_IDENT@138..142
                    PATH@138..142
                      Ident@138..142 "view"
                  Dot@142..143 "."
                  EXPR_IDENT@143..154
                    PATH@143..154
                      Ident@143..154 "set_checked"
                ARG_LIST@154..161
                  LParen@154..155 "("
                  ARG@155..158
                    EXPR_INT@155..156
                      Int@155..156 "9"
                    Comma@156..157 ","
                    Whitespace@157..158 " "
                  ARG@158..160
                    EXPR_INT@158..160
                      Int@158..160 "30"
                  RParen@160..161 ")"
            RParen@161..162 ")"
        Semi@162..163 ";"
        Whitespace@163..168 "\n    "
      STMT_EXPR@168..206
        EXPR_CALL@168..200
          EXPR_IDENT@168..175
            PATH@168..175
              Ident@168..175 "println"
          ARG_LIST@175..200
            LParen@175..176 "("
            ARG@176..199
              EXPR_CALL@176..199
                EXPR_BINARY@176..192
                  EXPR_IDENT@176..180
                    PATH@176..180
                      Ident@176..180 "view"
                  Dot@180..181 "."
                  EXPR_IDENT@181..192
                    PATH@181..192
                      Ident@181..192 "set_checked"
                ARG_LIST@192..199
                  LParen@192..193 "("
                  ARG@193..196
                    EXPR_INT@193..194
                      Int@193..194 "1"
                    Comma@194..195 ","
                    Whitespace@195..196 " "
                  ARG@196..198
                    EXPR_INT@196..198
                      Int@196..198 "30"
                  RParen@198..199 ")"
            RParen@199..200 ")"
        Semi@200..201 ";"
        Whitespace@201..206 "\n    "
      STMT_EXPR@206..246
        EXPR_CALL@206..240
          EXPR_IDENT@206..213
            PATH@206..213
              Ident@206..213 "println"
          ARG_LIST@213..240
            LParen@213..214 "("
            ARG@214..239
              EXPR_CALL@214..239
                EXPR_BINARY@214..230
                  EXPR_IDENT@214..218
                    PATH@214..218
                      Ident@214..218 "view"
                  Dot@218..219 "."
                  EXPR_IDENT@219..230
                    PATH@219..230
                      Ident@219..230 "copy_within"
                ARG_LIST@230..239
                  LParen@230..231 "("
                  ARG@231..234
                    EXPR_INT@231..232
                      Int@231..232 "0"
                    Comma@232..233 ","
                    Whitespace@233..234 " "
                  ARG@234..237
                    EXPR_INT@234..235
                      Int@234..235 "3"
                    Comma@235..236 ","
                    Whitespace@236..237 " "
                  ARG@237..238
                    EXPR_INT@237..238
                      Int@237..238 "1"
                  RParen@238..239 ")"
            RParen@239..240 ")"
        Semi@240..241 ";"
        Whitespace@241..246 "\n    "
      STMT_EXPR@246..314
        EXPR_CALL@246..308
          EXPR_IDENT@246..253
            PATH@246..253
              Ident@246..253 "println"
          ARG_LIST@253..308
            LParen@253..254 "("
            ARG@254..307
              EXPR_CALL@254..307
                EXPR_BINARY@254..268
                  EXPR_IDENT@254..258
                    PATH@254..258
                      Ident@254..258 "view"
                  Dot@258..259 "."
                  EXPR_IDENT@259..268
                    PATH@259..268
                      Ident@259..268 "copy_from"
                ARG_LIST@268..307
                  LParen@268..269 "("
                  ARG@269..272
                    EXPR_INT@269..270
                      Int@269..270 "0"
                    Comma@270..271 ","
                    Whitespace@271..272 " "
                  ARG@272..306
                    EXPR_CALL@272..306
                      EXPR_BINARY@272..304
                        EXPR_CALL@272..295
                          EXPR_IDENT@272..287
                            PATH@272..287
                              Ident@272..275 "Vec"
                              ColonColon@275..277 "::"
                              Ident@277..287 "from_array"
                          ARG_LIST@287..295
                            LParen@287..288 "("
                            ARG@288..294
                              EXPR_ARRAY_LITERAL@288..294
                                LBracket@288..289 "["
                                EXPR_INT@289..290
                                  Int@289..290 "7"
                                Comma@290..291 ","
                                Whitespace@291..292 " "
                                EXPR_INT@292..293
                                  Int@292..293 "8"
                                RBracket@293..294 "]"
                            RParen@294..295 ")"
                        Dot@295..296 "."
                        EXPR_IDENT@296..304
                          PATH@296..304
                            Ident@296..304 "as_slice"
                      ARG_LIST@304..306
                        LParen@304..305 "("
                        RParen@305..306 ")"
                  RParen@306..307 ")"
            RParen@307..308 ")"
        Semi@308..309 ";"
        Whitespace@309..314 "\n    "
      STMT_EXPR@314..412
        EXPR_MATCH@314..406
          MatchKeyword@314..319 "match"
          Whitespace@319..320 " "
          EXPR_CALL@320..343
            EXPR_BINARY@320..336
              EXPR_IDENT@320..324
                PATH@320..324
                  Ident@320..324 "view"
              Dot@324..325 "."
              EXPR_IDENT@325..336
                PATH@325..336
                  Ident@325..336 "sub_checked"
            ARG_LIST@336..343
              LParen@336..337 "("
              ARG@337..340
                EXPR_INT@337..338
                  Int@337..338 "1"
                Comma@338..339 ","
                Whitespace@339..340 " "
              ARG@340..341
                EXPR_INT@340..341
                  Int@340..341 "3"
              RParen@341..342 ")"
              Whitespace@342..343 " "
          MATCH_ARM_LIST@343..406
            LBrace@343..344 "{"
            Whitespace@344..353 "\n        "
            MATCH_ARM@353..379
              PATTERN_CONSTR@353..364
                PATH@353..357
                  Ident@353..357 "Some"
                LParen@357..358 "("
                PATTERN_VARIABLE@358..362
                  Ident@358..362 "part"
                RParen@362..363 ")"
                Whitespace@363..364 " "
              FatArrow@364..366 "=>"
              Whitespace@366..367 " "
              EXPR_CALL@367..379
                EXPR_BINARY@367..376
                  EXPR_IDENT@367..371
                    PATH@367..371
                      Ident@367..371 "part"
                  Dot@371..372 "."
                  EXPR_IDENT@372..376
                    PATH@372..376
                      Ident@372..376 "fill"
                ARG_LIST@376..379
                  LParen@376..377 "("
                  ARG@377..378
                    EXPR_INT@377..378
                      Int@377..378 "6"
                  RParen@378..379 ")"
            Comma@379..380 ","
            Whitespace@380..389 "\n        "
            MATCH_ARM@389..399
              PATTERN_CONSTR@389..394
                PATH@389..394
                  Ident@389..393 "None"
                  Whitespace@393..394 " "
              FatArrow@394..396 "=>"
              Whitespace@396..397 " "
              EXPR_UNIT@397..399
                LParen@397..398 "("
                RParen@398..399 ")"
            Comma@399..400 ","
            Whitespace@400..405 "\n    "
            RBrace@405..406 "}"
        Semi@406..407 ";"
        Whitespace@407..412 "\n    "
      STMT_EXPR@412..467
        EXPR_FOR@412..467
          ForKeyword@412..415 "for"
          Whitespace@415..416 " "
          PATTERN_VARIABLE@416..422
            Ident@416..421 "value"
            Whitespace@421..422 " "
          InKeyword@422..424 "in"
          Whitespace@424..425 " "
          EXPR_IDENT@425..432
            PATH@425..432
              Ident@425..431 "values"
              Whitespace@431..432 " "
          BLOCK@432..467
            LBrace@432..433 "{"
            Whitespace@433..442 "\n        "
            EXPR_CALL@442..461
              EXPR_IDENT@442..449
                PATH@442..449
                  Ident@442..449 "println"
              ARG_LIST@449..461
                LParen@449..450 "("
                ARG@450..455
                  EXPR_IDENT@450..455
                    PATH@450..455
                      Ident@450..455 "value"
                RParen@455..456 ")"
                Whitespace@456..461 "\n    "
            RBrace@461..462 "}"
            Whitespace@462..467 "\n    "
      STMT_EXPR@467..519
        EXPR_CALL@467..513
          EXPR_IDENT@467..474
            PATH@467..474
              Ident@467..474 "println"
          ARG_LIST@474..513
            LParen@474..475 "("
            ARG@475..512
              EXPR_CALL@475..512
                EXPR_BINARY@475..510
                  EXPR_CALL@475..502
                    EXPR_BINARY@475..495
                      EXPR_IDENT@475..481
                        PATH@475..481
                          Ident@475..481 "values"
                      Dot@481..482 "."
                      EXPR_IDENT@482..495
                        PATH@482..495
                          Ident@482..495 "slice_checked"
                    ARG_LIST@495..502
                      LParen@495..496 "("
                      ARG@496..500
                        EXPR_PREFIX@496..498
                          Minus@496..497 "-"
                          EXPR_INT@497..498
                            Int@497..498 "1"
                        Comma@498..499 ","
                        Whitespace@499..500 " "
                      ARG@500..501
                        EXPR_INT@500..501
                          Int@500..501 "2"
                      RParen@501..502 ")"
                  Dot@502..503 "."
                  EXPR_IDENT@503..510
                    PATH@503..510
                      Ident@503..510 "is_none"
                ARG_LIST@510..512
                  LParen@510..511 "("
                  RParen@511..512 ")"
            RParen@512..513 ")"
        Semi@513..514 ";"
        Whitespace@514..519 "\n    "
      EXPR_CALL@519..570
        EXPR_IDENT@519..526
          PATH@519..526
            Ident@519..526 "println"
        ARG_LIST@526..570
          LParen@526..527 "("
          ARG@527..568
            EXPR_CALL@527..568
              EXPR_BINARY@527..566
                EXPR_CALL@527..558
                  EXPR_BINARY@527..554
                    EXPR_CALL@527..542
                      EXPR_BINARY@527..540
                        EXPR_IDENT@527..531
                          PATH@527..531
                            Ident@527..531 "view"
                        Dot@531..532 "."
                        EXPR_IDENT@532..540
                          PATH@532..540
                            Ident@532..540 "as_slice"
                      ARG_LIST@540..542
                        LParen@540..541 "("
                        RParen@541..542 ")"
                    Dot@542..543 "."
                    EXPR_IDENT@543..554
                      PATH@543..554
                        Ident@543..554 "get_checked"
                  ARG_LIST@554..558
                    LParen@554..555 "("
                    ARG@555..557
                      EXPR_INT@555..557
                        Int@555..557 "10"
                    RParen@557..558 ")"
                Dot@558..559 "."
                EXPR_IDENT@559..566
                  PATH@559..566
                    Ident@559..566 "is_none"
              ARG_LIST@566..568
                LParen@566..567 "("
                RParen@567..568 ")"
          RParen@568..569 ")"
          Whitespace@569..570 "\n"
      RBrace@570..571 "}"
      Whitespace@571..572 "\n"