FILE@0..1007
  ENUM@0..117
    EnumKeyword@0..4 "enum"
    Whitespace@4..5 " "
    Ident@5..12 "Message"
    GENERIC_LIST@12..16
      LBracket@12..13 "["
      GENERIC@13..14
        Ident@13..14 "T"
      RBracket@14..15 "]"
      Whitespace@15..16 " "
    LBrace@16..17 "{"
    Whitespace@17..22 "\n    "
    VARIANT_LIST@22..117
      VARIANT@22..26
        Ident@22..26 "Quit"
      Comma@26..27 ","
      Whitespace@27..32 "\n    "
      VARIANT@32..40
        Ident@32..37 "Write"
        TYPE_LIST@37..40
          LParen@37..38 "("
          ENUM_TUPLE_FIELD@38..39
            TYPE_TAPP@38..39
              PATH@38..39
                Ident@38..39 "T"
          RParen@39..40 ")"
      Comma@40..41 ","
      Whitespace@41..46 "\n    "
      VARIANT@46..112
        Ident@46..50 "Move"
        Whitespace@50..51 " "
        LBrace@51..52 "{"
        Whitespace@52..61 "\n        "
        STRUCT_FIELD_LIST@61..112
          STRUCT_FIELD@61..69
            Ident@61..62 "x"
            Colon@62..63 ":"
            Whitespace@63..64 " "
            TYPE_INT32@64..69
              Int32Keyword@64..69 "int32"
          Comma@69..70 ","
          Whitespace@70..79 "\n        "
          STRUCT_FIELD@79..87
            Ident@79..80 "y"
            Colon@80..81 ":"
            Whitespace@81..82 " "
            TYPE_INT32@82..87
              Int32Keyword@82..87 "int32"
          Comma@87..88 ","
          Whitespace@88..97 "\n        "
          STRUCT_FIELD@97..105
            Ident@97..102 "label"
            Colon@102..103 ":"
            Whitespace@103..104 " "
            TYPE_TAPP@104..105
              PATH@104..105
                Ident@104..105 "T"
          Comma@105..106 ","
          Whitespace@106..111 "\n    "
          RBrace@111..112 "}"
      Comma@112..113 ","
      Whitespace@113..114 "\n"
      RBrace@114..115 "}"
      Whitespace@115..117 "\n\n"
  ENUM@117..238
    ATTRIBUTE_LIST@117..158
      ATTRIBUTE@117..158
        Pound@117..118 "#"
        LBracket@118..119 "["
        Ident@119..125 "derive"
        LParen@125..126 "("
        Ident@126..134 "ToString"
        Comma@134..135 ","
        Whitespace@135..136 " "
        Ident@136..140 "Hash"
        Comma@140..141 ","
        Whitespace@141..142 " "
        Ident@142..151 "PartialEq"
        Comma@151..152 ","
        Whitespace@152..153 " "
        Ident@153..155 "Eq"
        RParen@155..156 ")"
        RBracket@156..157 "]"
        Whitespace@157..158 "\n"
    EnumKeyword@158..162 "enum"
    Whitespace@162..163 " "
    Ident@163..166 "Key"
    Whitespace@166..167 " "
    LBrace@167..168 "{"
    Whitespace@168..173 "\n    "
    VARIANT_LIST@173..238
      VARIANT@173..178
        Ident@173..178 "Empty"
      Comma@178..179 ","
      Whitespace@179..184 "\n    "
      VARIANT@184..233
        Ident@184..189 "Point"
        Whitespace@189..190 " "
        LBrace@190..191 "{"
        Whitespace@191..200 "\n        "
        STRUCT_FIELD_LIST@200..233
          STRUCT_FIELD@200..208
            Ident@200..201 "x"
            Colon@201..202 ":"
            Whitespace@202..203 " "
            TYPE_INT32@203..208
              Int32Keyword@203..208 "int32"
          Comma@208..209 ","
          Whitespace@209..218 "\n        "
          STRUCT_FIELD@218..226
            Ident@218..219 "y"
            Colon@219..220 ":"
            Whitespace@220..221 " "
            TYPE_INT32@221..226
              Int32Keyword@221..226 "int32"
          Comma@226..227 ","
          Whitespace@227..232 "\n    "
          RBrace@232..233 "}"
      Comma@233..234 ","
      Whitespace@234..235 "\n"
      RBrace@235..236 "}"
      Whitespace@236..238 "\n\n"
  FN@238..431
    FnKeyword@238..240 "fn"
    Whitespace@240..241 " "
    Ident@241..246 "score"
    PARAM_LIST@246..271
      LParen@246..247 "("
      PARAM@247..269
        Ident@247..252 "value"
        Colon@252..253 ":"
        Whitespace@253..254 " "
        TYPE_TAPP@254..269
          PATH@254..261
            Ident@254..261 "Message"
          TYPE_PARAM_LIST@261..269
            LBracket@261..262 "["
            TYPE_STRING@262..268
              StringKeyword@262..268 "string"
            RBracket@268..269 "]"
      RParen@269..270 ")"
      Whitespace@270..271 " "
    Arrow@271..273 "->"
    Whitespace@273..274 " "
    TYPE_INT32@274..280
      Int32Keyword@274..279 "int32"
      Whitespace@279..280 " "
    BLOCK@280..431
      LBrace@280..281 "{"
      Whitespace@281..286 "\n    "
      EXPR_MATCH@286..428
        MatchKeyword@286..291 "match"
        Whitespace@291..292 " "
        EXPR_IDENT@292..298
          PATH@292..298
            Ident@292..297 "value"
            Whitespace@297..298 " "
        MATCH_ARM_LIST@298..428
          LBrace@298..299 "{"
          Whitespace@299..308 "\n        "
          MATCH_ARM@308..326
            PATTERN_CONSTR@308..322
              PATH@308..322
                Ident@308..315 "Message"
                ColonColon@315..317 "::"
                Ident@317..321 "Quit"
                Whitespace@321..322 " "
            FatArrow@322..324 "=>"
            Whitespace@324..325 " "
            EXPR_INT@325..326
              Int@325..326 "0"
          Comma@326..327 ","
          Whitespace@327..336 "\n        "
          MATCH_ARM@336..358
            PATTERN_CONSTR@336..354
              PATH@336..350
                Ident@336..343 "Message"
                ColonColon@343..345 "::"
                Ident@345..350 "Write"
              LParen@350..351 "("
              PATTERN_WILDCARD@351..352
                WildcardKeyword@351..352 "_"
              RParen@352..353 ")"
              Whitespace@353..354 " "
            FatArrow@354..356 "=>"
            Whitespace@356..357 " "
            EXPR_INT@357..358
              Int@357..358 "1"
          Comma@358..359 ","
          Whitespace@359..368 "\n        "
          MATCH_ARM@368..420
            PATTERN_CONSTR@368..405
              PATH@368..382
                Ident@368..375 "Message"
                ColonColon@375..377 "::"
                Ident@377..381 "Move"
                Whitespace@381..382 " "
              STRUCT_PATTERN_FIELD_LIST@382..405
                LBrace@382..383 "{"
                Whitespace@383..384 " "
                STRUCT_PATTERN_FIELD@384..385
                  Ident@384..385 "x"
                Comma@385..386 ","
                Whitespace@386..387 " "
                STRUCT_PATTERN_FIELD@387..398
                  Ident@387..388 "y"
                  Colon@388..389 ":"
                  Whitespace@389..390 " "
                  PATTERN_VARIABLE@390..398
                    Ident@390..398 "vertical"
                Comma@398..399 ","
                Whitespace@399..400 " "
                PATTERN_REST@400..403
                  DotDot@400..402 ".."
                  Whitespace@402..403 " "
                RBrace@403..404 "}"
                Whitespace@404..405 " "
            FatArrow@405..407 "=>"
            Whitespace@407..408 " "
            EXPR_BINARY@408..420
              EXPR_IDENT@408..410
                PATH@408..410
                  Ident@408..409 "x"
                  Whitespace@409..410 " "
              Plus@410..411 "+"
              Whitespace@411..412 " "
              EXPR_IDENT@412..420
                PATH@412..420
                  Ident@412..420 "vertical"
          Comma@420..421 ","
          Whitespace@421..426 "\n    "
          RBrace@426..427 "}"
          Whitespace@427..428 "\n"
      RBrace@428..429 "}"
      Whitespace@429..431 "\n\n"
  FN@431..628
    FnKeyword@431..433 "fn"
    Whitespace@433..434 " "
    Ident@434..439 "label"
    PARAM_LIST@439..464
      LParen@439..440 "("
      PARAM@440..462
        Ident@440..445 "value"
        Colon@445..446 ":"
        Whitespace@446..447 " "
        TYPE_TAPP@447..462
          PATH@447..454
            Ident@447..454 "Message"
          TYPE_PARAM_LIST@454..462
            LBracket@454..455 "["
            TYPE_STRING@455..461
              StringKeyword@455..461 "string"
            RBracket@461..462 "]"
      RParen@462..463 ")"
      Whitespace@463..464 " "
    Arrow@464..466 "->"
    Whitespace@466..467 " "
    TYPE_STRING@467..474
      StringKeyword@467..473 "string"
      Whitespace@473..474 " "
    BLOCK@474..628
      LBrace@474..475 "{"
      Whitespace@475..480 "\n    "
      EXPR_MATCH@480..625
        MatchKeyword@480..485 "match"
        Whitespace@485..486 " "
        EXPR_IDENT@486..492
          PATH@486..492
            Ident@486..491 "value"
            Whitespace@491..492 " "
        MATCH_ARM_LIST@492..625
          LBrace@492..493 "{"
          Whitespace@493..502 "\n        "
          MATCH_ARM@502..546
            PATTERN_CONSTR@502..538
              PATH@502..516
                Ident@502..509 "Message"
                ColonColon@509..511 "::"
                Ident@511..515 "Move"
                Whitespace@515..516 " "
              STRUCT_PATTERN_FIELD_LIST@516..538
                LBrace@516..517 "{"
                Whitespace@517..518 " "
                STRUCT_PATTERN_FIELD@518..523
                  Ident@518..523 "label"
                Comma@523..524 ","
                Whitespace@524..525 " "
                STRUCT_PATTERN_FIELD@525..529
                  Ident@525..526 "x"
                  Colon@526..527 ":"
                  Whitespace@527..528 " "
                  PATTERN_WILDCARD@528..529
                    WildcardKeyword@528..529 "_"
                Comma@529..530 ","
                Whitespace@530..531 " "
                STRUCT_PATTERN_FIELD@531..536
                  Ident@531..532 "y"
                  Colon@532..533 ":"
                  Whitespace@533..534 " "
                  PATTERN_WILDCARD@534..536
                    WildcardKeyword@534..535 "_"
                    Whitespace@535..536 " "
                RBrace@536..537 "}"
                Whitespace@537..538 " "
            FatArrow@538..540 "=>"
            Whitespace@540..541 " "
            EXPR_IDENT@541..546
              PATH@541..546
                Ident@541..546 "label"
          Comma@546..547 ","
          Whitespace@547..556 "\n        "
          MATCH_ARM@556..584
            PATTERN_CONSTR@556..577
              PATH@556..570
                Ident@556..563 "Message"
                ColonColon@563..565 "::"
                Ident@565..570 "Write"
              LParen@570..571 "("
              PATTERN_VARIABLE@571..575
                Ident@571..575 "text"
              RParen@575..576 ")"
              Whitespace@576..577 " "
            FatArrow@577..579 "=>"
            Whitespace@579..580 " "
            EXPR_IDENT@580..584
              PATH@580..584
                Ident@580..584 "text"
          Comma@584..585 ","
          Whitespace@585..594 "\n        "
          MATCH_ARM@594..617
            PATTERN_CONSTR@594..608
              PATH@594..608
                Ident@594..601 "Message"
                ColonColon@601..603 "::"
                Ident@603..607 "Quit"
                Whitespace@607..608 " "
            FatArrow@608..610 "=>"
            Whitespace@610..611 " "
            EXPR_STR@611..617
              Str@611..617 "\"quit\""
          Comma@617..618 ","
          Whitespace@618..623 "\n    "
          RBrace@623..624 "}"
          Whitespace@624..625 "\n"
      RBrace@625..626 "}"
      Whitespace@626..628 "\n\n"
  FN@628..1007
    FnKeyword@628..630 "fn"
    Whitespace@630..631 " "
    Ident@631..635 "main"
    PARAM_LIST@635..638
      LParen@635..636 "("
      RParen@636..637 ")"
      Whitespace@637..638 " "
    Arrow@638..640 "->"
    Whitespace@640..641 " "
    TYPE_UNIT@641..646
      UnitKeyword@641..645 "unit"
      Whitespace@645..646 " "
    BLOCK@646..1007
      LBrace@646..647 "{"
      Whitespace@647..652 "\n    "
      STMT_LET@652..667
        LetKeyword@652..655 "let"
        Whitespace@655..656 " "
        PATTERN_VARIABLE@656..658
          Ident@656..657 "x"
          Whitespace@657..658 " "
        Eq@658..659 "="
        Whitespace@659..660 " "
        EXPR_INT@660..661
          Int@660..661 "3"
        Semi@661..662 ";"
        Whitespace@662..667 "\n    "
      STMT_LET@667..696
        LetKeyword@667..670 "let"
        Whitespace@670..671 " "
        PATTERN_VARIABLE@671..681
          Ident@671..680 "direction"
          Whitespace@680..681 " "
        Eq@681..682 "="
        Whitespace@682..683 " "
        EXPR_STR@683..690
          Str@683..690 "\"north\""
        Semi@690..691 ";"
        Whitespace@691..696 "\n    "
      STMT_LET@696..757
        LetKeyword@696..699 "let"
        Whitespace@699..700 " "
        PATTERN_VARIABLE@700..706
          Ident@700..705 "first"
          Whitespace@705..706 " "
        Eq@706..707 "="
        Whitespace@707..708 " "
        EXPR_STRUCT_LITERAL@708..751
          PATH@708..722
            Ident@708..715 "Message"
            ColonColon@715..717 "::"
            Ident@717..721 "Move"
            Whitespace@721..722 " "
          STRUCT_LITERAL_FIELD_LIST@722..751
            LBrace@722..723 "{"
            Whitespace@723..724 " "
            STRUCT_LITERAL_FIELD@724..740
              Ident@724..729 "label"
              Colon@729..730 ":"
              Whitespace@730..731 " "
              EXPR_IDENT@731..740
                PATH@731..740
                  Ident@731..740 "direction"
            Comma@740..741 ","
            Whitespace@741..742 " "
            STRUCT_LITERAL_FIELD@742..746
              Ident@742..743 "y"
              Colon@743..744 ":"
              Whitespace@744..745 " "
              EXPR_INT@745..746
                Int@745..746 "4"
            Comma@746..747 ","
            Whitespace@747..748 " "
            STRUCT_LITERAL_FIELD@748..750
              Ident@748..749 "x"
              Whitespace@749..750 " "
            RBrace@750..751 "}"
        Semi@751..752 ";"
        Whitespace@752..757 "\n    "
      STMT_LET@757..820
        LetKeyword@757..760 "let"
        Whitespace@760..761 " "
        PATTERN_VARIABLE@761..768
          Ident@761..767 "second"
          Whitespace@767..768 " "
        Eq@768..769 "="
        Whitespace@769..770 " "
        EXPR_STRUCT_LITERAL@770..814
          PATH@770..784
            Ident@770..777 "Message"
            ColonColon@777..779 "::"
            Ident@779..783 "Move"
            Whitespace@783..784 " "
          STRUCT_LITERAL_FIELD_LIST@784..814
            LBrace@784..785 "{"
            Whitespace@785..786 " "
            STRUCT_LITERAL_FIELD@786..790
              Ident@786..787 "x"
              Colon@787..788 ":"
              Whitespace@788..789 " "
              EXPR_INT@789..790
                Int@789..790 "3"
            Comma@790..791 ","
            Whitespace@791..792 " "
            STRUCT_LITERAL_FIELD@792..796
              Ident@792..793 "y"
              Colon@793..794 ":"
              Whitespace@794..795 " "
              EXPR_INT@795..796
                Int@795..796 "4"
            Comma@796..797 ","
            Whitespace@797..798 " "
            STRUCT_LITERAL_FIELD@798..813
              Ident@798..803 "label"
              Colon@803..804 ":"
              Whitespace@804..805 " "
              EXPR_STR@805..813
                Str@805..812 "\"north\""
                Whitespace@812..813 " "
            RBrace@813..814 "}"
        Semi@814..815 ";"
        Whitespace@815..820 "\n    "
      STMT_EXPR@820..847
        EXPR_CALL@820..841
          EXPR_IDENT@820..827
            PATH@820..827
              Ident@820..827 "println"
          ARG_LIST@827..841
            LParen@827..828 "("
            ARG@828..840
              EXPR_CALL@828..840
                EXPR_IDENT@828..833
                  PATH@828..833
                    Ident@828..833 "score"
                ARG_LIST@833..840
                  LParen@833..834 "("
                  ARG@834..839
                    EXPR_IDENT@834..839
                      PATH@834..839
                        Ident@834..839 "first"
                  RParen@839..840 ")"
            RParen@840..841 ")"
        Semi@841..842 ";"
        Whitespace@842..847 "\n    "
      STMT_EXPR@847..875
        EXPR_CALL@847..869
          EXPR_IDENT@847..854
            PATH@847..854
              Ident@847..854 "println"
          ARG_LIST@854..869
            LParen@854..855 "("
            ARG@855..868
              EXPR_CALL@855..868
                EXPR_IDENT@855..860
                  PATH@855..860
                    Ident@855..860 "label"
                ARG_LIST@860..868
                  LParen@860..861 "("
                  ARG@861..867
                    EXPR_IDENT@861..867
                      PATH@861..867
                        Ident@861..867 "second"
                  RParen@867..868 ")"
            RParen@868..869 ")"
        Semi@869..870 ";"
        Whitespace@870..875 "\n    "
      STMT_EXPR@875..927
        EXPR_CALL@875..921
          EXPR_IDENT@875..882
            PATH@875..882
              Ident@875..882 "println"
          ARG_LIST@882..921
            LParen@882..883 "("
            ARG@883..920
              EXPR_CALL@883..920
                EXPR_BINARY@883..918
                  EXPR_STRUCT_LITERAL@883..908
                    PATH@883..894
                      Ident@883..886 "Key"
                      ColonColon@886..888 "::"
                      Ident@888..893 "Point"
                      Whitespace@893..894 " "
                    STRUCT_LITERAL_FIELD_LIST@894..908
                      LBrace@894..895 "{"
                      Whitespace@895..896 " "
                      STRUCT_LITERAL_FIELD@896..900
                        Ident@896..897 "x"
                        Colon@897..898 ":"
                        Whitespace@898..899 " "
                        EXPR_INT@899..900
                          Int@899..900 "1"
                      Comma@900..901 ","
                      Whitespace@901..902 " "
                      STRUCT_LITERAL_FIELD@902..907
                        Ident@902..903 "y"
                        Colon@903..904 ":"
                        Whitespace@904..905 " "
                        EXPR_INT@905..907
                          Int@905..906 "2"
                          Whitespace@906..907 " "
                      RBrace@907..908 "}"
                  Dot@908..909 "."
                  EXPR_IDENT@909..918
                    PATH@909..918
                      Ident@909..918 "to_string"
                ARG_LIST@918..920
                  LParen@918..919 "("
                  RParen@919..920 ")"
            RParen@920..921 ")"
        Semi@921..922 ";"
        Whitespace@922..927 "\n    "
      STMT_EXPR@927..1005
        EXPR_CALL@927..1003
          EXPR_IDENT@927..934
            PATH@927..934
              Ident@927..934 "println"
          ARG_LIST@934..1003
            LParen@934..935 "("
            ARG@935..1002
              EXPR_CALL@935..1002
                EXPR_IDENT@935..948
                  PATH@935..948
                    Ident@935..944 "PartialEq"
                    ColonColon@944..946 "::"
                    Ident@946..948 "eq"
                ARG_LIST@948..1002
                  LParen@948..949 "("
                  ARG@949..976
                    EXPR_STRUCT_LITERAL@949..974
                      PATH@949..960
                        Ident@949..952 "Key"
                        ColonColon@952..954 "::"
                        Ident@954..959 "Point"
                        Whitespace@959..960 " "
                      STRUCT_LITERAL_FIELD_LIST@960..974
                        LBrace@960..961 "{"
                        Whitespace@961..962 " "
                        STRUCT_LITERAL_FIELD@962..966
                          Ident@962..963 "x"
                          Colon@963..964 ":"
                          Whitespace@964..965 " "
                          EXPR_INT@965..966
                            Int@965..966 "1"
                        Comma@966..967 ","
                        Whitespace@967..968 " "
                        STRUCT_LITERAL_FIELD@968..973
                          Ident@968..969 "y"
                          Colon@969..970 ":"
                          Whitespace@970..971 " "
                          EXPR_INT@971..973
                            Int@971..972 "2"
                            Whitespace@972..973 " "
                        RBrace@973..974 "}"
                    Comma@974..975 ","
                    Whitespace@975..976 " "
                  ARG@976..1001
                    EXPR_STRUCT_LITERAL@976..1001
                      PATH@976..987
                        Ident@976..979 "Key"
                        ColonColon@979..981 "::"
                        Ident@981..986 "Point"
                        Whitespace@986..987 " "
                      STRUCT_LITERAL_FIELD_LIST@987..1001
                        LBrace@987..988 "{"
                        Whitespace@988..989 " "
                        STRUCT_LITERAL_FIELD@989..993
                          Ident@989..990 "y"
                          Colon@990..991 ":"
                          Whitespace@991..992 " "
                          EXPR_INT@992..993
                            Int@992..993 "2"
                        Comma@993..994 ","
                        Whitespace@994..995 " "
                        STRUCT_LITERAL_FIELD@995..1000
                          Ident@995..996 "x"
                          Colon@996..997 ":"
                          Whitespace@997..998 " "
                          EXPR_INT@998..1000
                            Int@998..999 "1"
                            Whitespace@999..1000 " "
                        RBrace@1000..1001 "}"
                  RParen@1001..1002 ")"
            RParen@1002..1003 ")"
        Semi@1003..1004 ";"
        Whitespace@1004..1005 "\n"
      RBrace@1005..1006 "}"
      Whitespace@1006..1007 "\n"