FILE@0..1028
  TRAIT@0..81
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Uident@6..11 "Arith"
    Whitespace@11..12 " "
    LBrace@12..13 "{"
    Whitespace@13..18 "\n    "
    TRAIT_METHOD_SIG_LIST@18..81
      TRAIT_METHOD_SIG@18..43
        FnKeyword@18..20 "fn"
        Whitespace@20..21 " "
        Lident@21..24 "add"
        TYPE_LIST@24..37
          LParen@24..25 "("
          TYPE_TAPP@25..29
            Uident@25..29 "Self"
          Comma@29..30 ","
          Whitespace@30..31 " "
          TYPE_TAPP@31..35
            Uident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_INT@40..43
          IntKeyword@40..43 "int"
      Semi@43..44 ";"
      Whitespace@44..49 "\n    "
      TRAIT_METHOD_SIG@49..76
        FnKeyword@49..51 "fn"
        Whitespace@51..52 " "
        Lident@52..56 "less"
        TYPE_LIST@56..69
          LParen@56..57 "("
          TYPE_TAPP@57..61
            Uident@57..61 "Self"
          Comma@61..62 ","
          Whitespace@62..63 " "
          TYPE_TAPP@63..67
            Uident@63..67 "Self"
          RParen@67..68 ")"
          Whitespace@68..69 " "
        Arrow@69..71 "->"
        Whitespace@71..72 " "
        TYPE_BOOL@72..76
          BoolKeyword@72..76 "bool"
      Semi@76..77 ";"
      Whitespace@77..78 "\n"
      RBrace@78..79 "}"
      Whitespace@79..81 "\n\n"
  IMPL@81..265
    ImplKeyword@81..85 "impl"
    Whitespace@85..86 " "
    Uident@86..91 "Arith"
    Whitespace@91..92 " "
    ForKeyword@92..95 "for"
    Whitespace@95..96 " "
    TYPE_INT@96..100
      IntKeyword@96..99 "int"
      Whitespace@99..100 " "
    LBrace@100..101 "{"
    Whitespace@101..106 "\n    "
    FN@106..185
      FnKeyword@106..108 "fn"
      Whitespace@108..109 " "
      Lident@109..112 "add"
      PARAM_LIST@112..136
        LParen@112..113 "("
        PARAM@113..124
          Lident@113..117 "self"
          Colon@117..118 ":"
          Whitespace@118..119 " "
          TYPE_INT@119..122
            IntKeyword@119..122 "int"
          Comma@122..123 ","
          Whitespace@123..124 " "
        PARAM@124..134
          Lident@124..129 "other"
          Colon@129..130 ":"
          Whitespace@130..131 " "
          TYPE_INT@131..134
            IntKeyword@131..134 "int"
        RParen@134..135 ")"
        Whitespace@135..136 " "
      Arrow@136..138 "->"
      Whitespace@138..139 " "
      TYPE_INT@139..143
        IntKeyword@139..142 "int"
        Whitespace@142..143 " "
      BLOCK@143..185
        LBrace@143..144 "{"
        Whitespace@144..153 "\n        "
        EXPR_CALL@153..178
          EXPR_LIDENT@153..160
            Lident@153..160 "int_add"
          ARG_LIST@160..178
            LParen@160..161 "("
            ARG@161..167
              EXPR_LIDENT@161..165
                Lident@161..165 "self"
              Comma@165..166 ","
              Whitespace@166..167 " "
            ARG@167..172
              EXPR_LIDENT@167..172
                Lident@167..172 "other"
            RParen@172..173 ")"
            Whitespace@173..178 "\n    "
        RBrace@178..179 "}"
        Whitespace@179..185 "\n\n    "
    FN@185..262
      FnKeyword@185..187 "fn"
      Whitespace@187..188 " "
      Lident@188..192 "less"
      PARAM_LIST@192..216
        LParen@192..193 "("
        PARAM@193..204
          Lident@193..197 "self"
          Colon@197..198 ":"
          Whitespace@198..199 " "
          TYPE_INT@199..202
            IntKeyword@199..202 "int"
          Comma@202..203 ","
          Whitespace@203..204 " "
        PARAM@204..214
          Lident@204..209 "other"
          Colon@209..210 ":"
          Whitespace@210..211 " "
          TYPE_INT@211..214
            IntKeyword@211..214 "int"
        RParen@214..215 ")"
        Whitespace@215..216 " "
      Arrow@216..218 "->"
      Whitespace@218..219 " "
      TYPE_BOOL@219..224
        BoolKeyword@219..223 "bool"
        Whitespace@223..224 " "
      BLOCK@224..262
        LBrace@224..225 "{"
        Whitespace@225..234 "\n        "
        EXPR_CALL@234..260
          EXPR_LIDENT@234..242
            Lident@234..242 "int_less"
          ARG_LIST@242..260
            LParen@242..243 "("
            ARG@243..249
              EXPR_LIDENT@243..247
                Lident@243..247 "self"
              Comma@247..248 ","
              Whitespace@248..249 " "
            ARG@249..254
              EXPR_LIDENT@249..254
                Lident@249..254 "other"
            RParen@254..255 ")"
            Whitespace@255..260 "\n    "
        RBrace@260..261 "}"
        Whitespace@261..262 "\n"
    RBrace@262..263 "}"
    Whitespace@263..265 "\n\n"
  TRAIT@265..319
    TraitKeyword@265..270 "trait"
    Whitespace@270..271 " "
    Uident@271..279 "ToString"
    Whitespace@279..280 " "
    LBrace@280..281 "{"
    Whitespace@281..286 "\n    "
    TRAIT_METHOD_SIG_LIST@286..319
      TRAIT_METHOD_SIG@286..314
        FnKeyword@286..288 "fn"
        Whitespace@288..289 " "
        Lident@289..298 "to_string"
        TYPE_LIST@298..305
          LParen@298..299 "("
          TYPE_TAPP@299..303
            Uident@299..303 "Self"
          RParen@303..304 ")"
          Whitespace@304..305 " "
        Arrow@305..307 "->"
        Whitespace@307..308 " "
        TYPE_STRING@308..314
          StringKeyword@308..314 "string"
      Semi@314..315 ";"
      Whitespace@315..316 "\n"
      RBrace@316..317 "}"
      Whitespace@317..319 "\n\n"
  IMPL@319..420
    ImplKeyword@319..323 "impl"
    Whitespace@323..324 " "
    Uident@324..332 "ToString"
    Whitespace@332..333 " "
    ForKeyword@333..336 "for"
    Whitespace@336..337 " "
    TYPE_INT@337..341
      IntKeyword@337..340 "int"
      Whitespace@340..341 " "
    LBrace@341..342 "{"
    Whitespace@342..347 "\n    "
    FN@347..417
      FnKeyword@347..349 "fn"
      Whitespace@349..350 " "
      Lident@350..359 "to_string"
      PARAM_LIST@359..371
        LParen@359..360 "("
        PARAM@360..369
          Lident@360..364 "self"
          Colon@364..365 ":"
          Whitespace@365..366 " "
          TYPE_INT@366..369
            IntKeyword@366..369 "int"
        RParen@369..370 ")"
        Whitespace@370..371 " "
      Arrow@371..373 "->"
      Whitespace@373..374 " "
      TYPE_STRING@374..381
        StringKeyword@374..380 "string"
        Whitespace@380..381 " "
      BLOCK@381..417
        LBrace@381..382 "{"
        Whitespace@382..391 "\n        "
        EXPR_CALL@391..415
          EXPR_LIDENT@391..404
            Lident@391..404 "int_to_string"
          ARG_LIST@404..415
            LParen@404..405 "("
            ARG@405..409
              EXPR_LIDENT@405..409
                Lident@405..409 "self"
            RParen@409..410 ")"
            Whitespace@410..415 "\n    "
        RBrace@415..416 "}"
        Whitespace@416..417 "\n"
    RBrace@417..418 "}"
    Whitespace@418..420 "\n\n"
  IMPL@420..524
    ImplKeyword@420..424 "impl"
    Whitespace@424..425 " "
    Uident@425..433 "ToString"
    Whitespace@433..434 " "
    ForKeyword@434..437 "for"
    Whitespace@437..438 " "
    TYPE_BOOL@438..443
      BoolKeyword@438..442 "bool"
      Whitespace@442..443 " "
    LBrace@443..444 "{"
    Whitespace@444..449 "\n    "
    FN@449..521
      FnKeyword@449..451 "fn"
      Whitespace@451..452 " "
      Lident@452..461 "to_string"
      PARAM_LIST@461..474
        LParen@461..462 "("
        PARAM@462..472
          Lident@462..466 "self"
          Colon@466..467 ":"
          Whitespace@467..468 " "
          TYPE_BOOL@468..472
            BoolKeyword@468..472 "bool"
        RParen@472..473 ")"
        Whitespace@473..474 " "
      Arrow@474..476 "->"
      Whitespace@476..477 " "
      TYPE_STRING@477..484
        StringKeyword@477..483 "string"
        Whitespace@483..484 " "
      BLOCK@484..521
        LBrace@484..485 "{"
        Whitespace@485..494 "\n        "
        EXPR_CALL@494..519
          EXPR_LIDENT@494..508
            Lident@494..508 "bool_to_string"
          ARG_LIST@508..519
            LParen@508..509 "("
            ARG@509..513
              EXPR_LIDENT@509..513
                Lident@509..513 "self"
            RParen@513..514 ")"
            Whitespace@514..519 "\n    "
        RBrace@519..520 "}"
        Whitespace@520..521 "\n"
    RBrace@521..522 "}"
    Whitespace@522..524 "\n\n"
  TRAIT@524..571
    TraitKeyword@524..529 "trait"
    Whitespace@529..530 " "
    Uident@530..536 "Output"
    Whitespace@536..537 " "
    LBrace@537..538 "{"
    Whitespace@538..543 "\n    "
    TRAIT_METHOD_SIG_LIST@543..571
      TRAIT_METHOD_SIG@543..566
        FnKeyword@543..545 "fn"
        Whitespace@545..546 " "
        Lident@546..552 "output"
        TYPE_LIST@552..559
          LParen@552..553 "("
          TYPE_TAPP@553..557
            Uident@553..557 "Self"
          RParen@557..558 ")"
          Whitespace@558..559 " "
        Arrow@559..561 "->"
        Whitespace@561..562 " "
        TYPE_UNIT@562..566
          UnitKeyword@562..566 "unit"
      Semi@566..567 ";"
      Whitespace@567..568 "\n"
      RBrace@568..569 "}"
      Whitespace@569..571 "\n\n"
  IMPL@571..677
    ImplKeyword@571..575 "impl"
    Whitespace@575..576 " "
    Uident@576..582 "Output"
    Whitespace@582..583 " "
    ForKeyword@583..586 "for"
    Whitespace@586..587 " "
    TYPE_INT@587..591
      IntKeyword@587..590 "int"
      Whitespace@590..591 " "
    LBrace@591..592 "{"
    Whitespace@592..597 "\n    "
    FN@597..674
      FnKeyword@597..599 "fn"
      Whitespace@599..600 " "
      Lident@600..606 "output"
      PARAM_LIST@606..618
        LParen@606..607 "("
        PARAM@607..616
          Lident@607..611 "self"
          Colon@611..612 ":"
          Whitespace@612..613 " "
          TYPE_INT@613..616
            IntKeyword@613..616 "int"
        RParen@616..617 ")"
        Whitespace@617..618 " "
      Arrow@618..620 "->"
      Whitespace@620..621 " "
      TYPE_UNIT@621..626
        UnitKeyword@621..625 "unit"
        Whitespace@625..626 " "
      BLOCK@626..674
        LBrace@626..627 "{"
        Whitespace@627..636 "\n        "
        EXPR_CALL@636..672
          EXPR_LIDENT@636..650
            Lident@636..650 "string_println"
          ARG_LIST@650..672
            LParen@650..651 "("
            ARG@651..666
              EXPR_CALL@651..666
                EXPR_LIDENT@651..660
                  Lident@651..660 "to_string"
                ARG_LIST@660..666
                  LParen@660..661 "("
                  ARG@661..665
                    EXPR_LIDENT@661..665
                      Lident@661..665 "self"
                  RParen@665..666 ")"
            RParen@666..667 ")"
            Whitespace@667..672 "\n    "
        RBrace@672..673 "}"
        Whitespace@673..674 "\n"
    RBrace@674..675 "}"
    Whitespace@675..677 "\n\n"
  IMPL@677..785
    ImplKeyword@677..681 "impl"
    Whitespace@681..682 " "
    Uident@682..688 "Output"
    Whitespace@688..689 " "
    ForKeyword@689..692 "for"
    Whitespace@692..693 " "
    TYPE_BOOL@693..698
      BoolKeyword@693..697 "bool"
      Whitespace@697..698 " "
    LBrace@698..699 "{"
    Whitespace@699..704 "\n    "
    FN@704..782
      FnKeyword@704..706 "fn"
      Whitespace@706..707 " "
      Lident@707..713 "output"
      PARAM_LIST@713..726
        LParen@713..714 "("
        PARAM@714..724
          Lident@714..718 "self"
          Colon@718..719 ":"
          Whitespace@719..720 " "
          TYPE_BOOL@720..724
            BoolKeyword@720..724 "bool"
        RParen@724..725 ")"
        Whitespace@725..726 " "
      Arrow@726..728 "->"
      Whitespace@728..729 " "
      TYPE_UNIT@729..734
        UnitKeyword@729..733 "unit"
        Whitespace@733..734 " "
      BLOCK@734..782
        LBrace@734..735 "{"
        Whitespace@735..744 "\n        "
        EXPR_CALL@744..780
          EXPR_LIDENT@744..758
            Lident@744..758 "string_println"
          ARG_LIST@758..780
            LParen@758..759 "("
            ARG@759..774
              EXPR_CALL@759..774
                EXPR_LIDENT@759..768
                  Lident@759..768 "to_string"
                ARG_LIST@768..774
                  LParen@768..769 "("
                  ARG@769..773
                    EXPR_LIDENT@769..773
                      Lident@769..773 "self"
                  RParen@773..774 ")"
            RParen@774..775 ")"
            Whitespace@775..780 "\n    "
        RBrace@780..781 "}"
        Whitespace@781..782 "\n"
    RBrace@782..783 "}"
    Whitespace@783..785 "\n\n"
  FN@785..816
    FnKeyword@785..787 "fn"
    Whitespace@787..788 " "
    Lident@788..790 "id"
    GENERIC_LIST@790..793
      LBracket@790..791 "["
      GENERIC@791..792
        Uident@791..792 "T"
      RBracket@792..793 "]"
    PARAM_LIST@793..800
      LParen@793..794 "("
      PARAM@794..798
        Lident@794..795 "x"
        Colon@795..796 ":"
        Whitespace@796..797 " "
        TYPE_TAPP@797..798
          Uident@797..798 "T"
      RParen@798..799 ")"
      Whitespace@799..800 " "
    Arrow@800..802 "->"
    Whitespace@802..803 " "
    TYPE_TAPP@803..805
      Uident@803..804 "T"
      Whitespace@804..805 " "
    BLOCK@805..816
      LBrace@805..806 "{"
      Whitespace@806..811 "\n    "
      EXPR_LIDENT@811..813
        Lident@811..812 "x"
        Whitespace@812..813 "\n"
      RBrace@813..814 "}"
      Whitespace@814..816 "\n\n"
  FN@816..1028
    FnKeyword@816..818 "fn"
    Whitespace@818..819 " "
    Lident@819..823 "main"
    PARAM_LIST@823..826
      LParen@823..824 "("
      RParen@824..825 ")"
      Whitespace@825..826 " "
    BLOCK@826..1028
      LBrace@826..827 "{"
      Whitespace@827..832 "\n    "
      EXPR_LET@832..1026
        LetKeyword@832..835 "let"
        Whitespace@835..836 " "
        PATTERN_VARIABLE@836..838
          Lident@836..837 "a"
          Whitespace@837..838 " "
        Eq@838..839 "="
        Whitespace@839..840 " "
        EXPR_LET_VALUE@840..846
          EXPR_CALL@840..846
            EXPR_LIDENT@840..842
              Lident@840..842 "id"
            ARG_LIST@842..846
              LParen@842..843 "("
              ARG@843..844
                EXPR_INT@843..844
                  Int@843..844 "1"
              RParen@844..845 ")"
              Whitespace@845..846 " "
        InKeyword@846..848 "in"
        Whitespace@848..853 "\n    "
        EXPR_LET_BODY@853..1026
          EXPR_LET@853..1026
            LetKeyword@853..856 "let"
            Whitespace@856..857 " "
            PATTERN_VARIABLE@857..859
              Lident@857..858 "b"
              Whitespace@858..859 " "
            Eq@859..860 "="
            Whitespace@860..861 " "
            EXPR_LET_VALUE@861..867
              EXPR_CALL@861..867
                EXPR_LIDENT@861..863
                  Lident@861..863 "id"
                ARG_LIST@863..867
                  LParen@863..864 "("
                  ARG@864..865
                    EXPR_INT@864..865
                      Int@864..865 "2"
                  RParen@865..866 ")"
                  Whitespace@866..867 " "
            InKeyword@867..869 "in"
            Whitespace@869..874 "\n    "
            EXPR_LET_BODY@874..1026
              EXPR_LET@874..1026
                LetKeyword@874..877 "let"
                Whitespace@877..878 " "
                PATTERN_VARIABLE@878..880
                  Lident@878..879 "c"
                  Whitespace@879..880 " "
                Eq@880..881 "="
                Whitespace@881..882 " "
                EXPR_LET_VALUE@882..892
                  EXPR_CALL@882..892
                    EXPR_LIDENT@882..885
                      Lident@882..885 "add"
                    ARG_LIST@885..892
                      LParen@885..886 "("
                      ARG@886..889
                        EXPR_LIDENT@886..887
                          Lident@886..887 "a"
                        Comma@887..888 ","
                        Whitespace@888..889 " "
                      ARG@889..890
                        EXPR_LIDENT@889..890
                          Lident@889..890 "b"
                      RParen@890..891 ")"
                      Whitespace@891..892 " "
                InKeyword@892..894 "in"
                Whitespace@894..899 "\n    "
                EXPR_LET_BODY@899..1026
                  EXPR_LET@899..1026
                    LetKeyword@899..902 "let"
                    Whitespace@902..903 " "
                    PATTERN_WILDCARD@903..905
                      WildcardKeyword@903..904 "_"
                      Whitespace@904..905 " "
                    Eq@905..906 "="
                    Whitespace@906..907 " "
                    EXPR_LET_VALUE@907..917
                      EXPR_CALL@907..917
                        EXPR_LIDENT@907..913
                          Lident@907..913 "output"
                        ARG_LIST@913..917
                          LParen@913..914 "("
                          ARG@914..915
                            EXPR_LIDENT@914..915
                              Lident@914..915 "c"
                          RParen@915..916 ")"
                          Whitespace@916..917 " "
                    InKeyword@917..919 "in"
                    Whitespace@919..925 "\n\n    "
                    EXPR_LET_BODY@925..1026
                      EXPR_LET@925..1026
                        LetKeyword@925..928 "let"
                        Whitespace@928..929 " "
                        PATTERN_VARIABLE@929..931
                          Lident@929..930 "a"
                          Whitespace@930..931 " "
                        Eq@931..932 "="
                        Whitespace@932..933 " "
                        EXPR_LET_VALUE@933..939
                          EXPR_CALL@933..939
                            EXPR_LIDENT@933..935
                              Lident@933..935 "id"
                            ARG_LIST@935..939
                              LParen@935..936 "("
                              ARG@936..937
                                EXPR_INT@936..937
                                  Int@936..937 "3"
                              RParen@937..938 ")"
                              Whitespace@938..939 " "
                        InKeyword@939..941 "in"
                        Whitespace@941..946 "\n    "
                        EXPR_LET_BODY@946..1026
                          EXPR_LET@946..1026
                            LetKeyword@946..949 "let"
                            Whitespace@949..950 " "
                            PATTERN_VARIABLE@950..952
                              Lident@950..951 "b"
                              Whitespace@951..952 " "
                            Eq@952..953 "="
                            Whitespace@953..954 " "
                            EXPR_LET_VALUE@954..960
                              EXPR_CALL@954..960
                                EXPR_LIDENT@954..956
                                  Lident@954..956 "id"
                                ARG_LIST@956..960
                                  LParen@956..957 "("
                                  ARG@957..958
                                    EXPR_INT@957..958
                                      Int@957..958 "4"
                                  RParen@958..959 ")"
                                  Whitespace@959..960 " "
                            InKeyword@960..962 "in"
                            Whitespace@962..967 "\n    "
                            EXPR_LET_BODY@967..1026
                              EXPR_LET@967..1026
                                LetKeyword@967..970 "let"
                                Whitespace@970..971 " "
                                PATTERN_VARIABLE@971..973
                                  Lident@971..972 "c"
                                  Whitespace@972..973 " "
                                Eq@973..974 "="
                                Whitespace@974..975 " "
                                EXPR_LET_VALUE@975..986
                                  EXPR_CALL@975..986
                                    EXPR_LIDENT@975..979
                                      Lident@975..979 "less"
                                    ARG_LIST@979..986
                                      LParen@979..980 "("
                                      ARG@980..983
                                        EXPR_LIDENT@980..981
                                          Lident@980..981 "a"
                                        Comma@981..982 ","
                                        Whitespace@982..983 " "
                                      ARG@983..984
                                        EXPR_LIDENT@983..984
                                          Lident@983..984 "b"
                                      RParen@984..985 ")"
                                      Whitespace@985..986 " "
                                InKeyword@986..988 "in"
                                Whitespace@988..993 "\n    "
                                EXPR_LET_BODY@993..1026
                                  EXPR_LET@993..1026
                                    LetKeyword@993..996 "let"
                                    Whitespace@996..997 " "
                                    PATTERN_WILDCARD@997..999
                                      WildcardKeyword@997..998 "_"
                                      Whitespace@998..999 " "
                                    Eq@999..1000 "="
                                    Whitespace@1000..1001 " "
                                    EXPR_LET_VALUE@1001..1011
                                      EXPR_CALL@1001..1011
                                        EXPR_LIDENT@1001..1007
                                          Lident@1001..1007 "output"
                                        ARG_LIST@1007..1011
                                          LParen@1007..1008 "("
                                          ARG@1008..1009
                                            EXPR_LIDENT@1008..1009
                                              Lident@1008..1009 "c"
                                          RParen@1009..1010 ")"
                                          Whitespace@1010..1011 " "
                                    InKeyword@1011..1013 "in"
                                    Whitespace@1013..1023 "\n    \n    "
                                    EXPR_LET_BODY@1023..1026
                                      EXPR_UNIT@1023..1026
                                        LParen@1023..1024 "("
                                        RParen@1024..1025 ")"
                                        Whitespace@1025..1026 "\n"
      RBrace@1026..1027 "}"
      Whitespace@1027..1028 "\n"