FILE@0..597
  TRAIT@0..51
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..10 "Mark"
    Whitespace@10..11 " "
    LBrace@11..12 "{"
    Whitespace@12..17 "\n    "
    TRAIT_METHOD_SIG_LIST@17..51
      TRAIT_METHOD_SIG@17..48
        FnKeyword@17..19 "fn"
        Whitespace@19..20 " "
        Ident@20..24 "mark"
        PARAM_LIST@24..37
          LParen@24..25 "("
          PARAM@25..35
            Ident@25..29 "self"
            Colon@29..30 ":"
            Whitespace@30..31 " "
            TYPE_TAPP@31..35
              PATH@31..35
                Ident@31..35 "Self"
          RParen@35..36 ")"
          Whitespace@36..37 " "
        Arrow@37..39 "->"
        Whitespace@39..40 " "
        TYPE_STRING@40..46
          StringKeyword@40..46 "string"
        Semi@46..47 ";"
        Whitespace@47..48 "\n"
      RBrace@48..49 "}"
      Whitespace@49..51 "\n\n"
  TRAIT@51..104
    TraitKeyword@51..56 "trait"
    Whitespace@56..57 " "
    Ident@57..62 "Label"
    Whitespace@62..63 " "
    LBrace@63..64 "{"
    Whitespace@64..69 "\n    "
    TRAIT_METHOD_SIG_LIST@69..104
      TRAIT_METHOD_SIG@69..101
        FnKeyword@69..71 "fn"
        Whitespace@71..72 " "
        Ident@72..77 "label"
        PARAM_LIST@77..90
          LParen@77..78 "("
          PARAM@78..88
            Ident@78..82 "self"
            Colon@82..83 ":"
            Whitespace@83..84 " "
            TYPE_TAPP@84..88
              PATH@84..88
                Ident@84..88 "Self"
          RParen@88..89 ")"
          Whitespace@89..90 " "
        Arrow@90..92 "->"
        Whitespace@92..93 " "
        TYPE_STRING@93..99
          StringKeyword@93..99 "string"
        Semi@99..100 ";"
        Whitespace@100..101 "\n"
      RBrace@101..102 "}"
      Whitespace@102..104 "\n\n"
  STRUCT@104..137
    StructKeyword@104..110 "struct"
    Whitespace@110..111 " "
    Ident@111..114 "Box"
    GENERIC_LIST@114..118
      LBracket@114..115 "["
      GENERIC@115..116
        Ident@115..116 "T"
      RBracket@116..117 "]"
      Whitespace@117..118 " "
    LBrace@118..119 "{"
    Whitespace@119..124 "\n    "
    STRUCT_FIELD_LIST@124..137
      STRUCT_FIELD@124..132
        Ident@124..129 "value"
        Colon@129..130 ":"
        Whitespace@130..131 " "
        TYPE_TAPP@131..132
          PATH@131..132
            Ident@131..132 "T"
      Comma@132..133 ","
      Whitespace@133..134 "\n"
      RBrace@134..135 "}"
      Whitespace@135..137 "\n\n"
  IMPL@137..226
    ImplKeyword@137..141 "impl"
    Whitespace@141..142 " "
    TYPE_TAPP@142..147
      PATH@142..147
        Ident@142..146 "Mark"
        Whitespace@146..147 " "
    ForKeyword@147..150 "for"
    Whitespace@150..151 " "
    TYPE_INT32@151..155
      I32Keyword@151..154 "i32"
      Whitespace@154..155 " "
    LBrace@155..156 "{"
    Whitespace@156..161 "\n    "
    FN@161..223
      FnKeyword@161..163 "fn"
      Whitespace@163..164 " "
      Ident@164..168 "mark"
      PARAM_LIST@168..180
        LParen@168..169 "("
        PARAM@169..178
          Ident@169..173 "self"
          Colon@173..174 ":"
          Whitespace@174..175 " "
          TYPE_INT32@175..178
            I32Keyword@175..178 "i32"
        RParen@178..179 ")"
        Whitespace@179..180 " "
      Arrow@180..182 "->"
      Whitespace@182..183 " "
      TYPE_STRING@183..190
        StringKeyword@183..189 "string"
        Whitespace@189..190 " "
      BLOCK@190..223
        LBrace@190..191 "{"
        Whitespace@191..200 "\n        "
        EXPR_CALL@200..221
          EXPR_BINARY@200..214
            EXPR_IDENT@200..204
              PATH@200..204
                Ident@200..204 "self"
            Dot@204..205 "."
            EXPR_IDENT@205..214
              PATH@205..214
                Ident@205..214 "to_string"
          ARG_LIST@214..221
            LParen@214..215 "("
            RParen@215..216 ")"
            Whitespace@216..221 "\n    "
        RBrace@221..222 "}"
        Whitespace@222..223 "\n"
    RBrace@223..224 "}"
    Whitespace@224..226 "\n\n"
  IMPL@226..346
    ImplKeyword@226..230 "impl"
    GENERIC_LIST@230..240
      LBracket@230..231 "["
      GENERIC@231..238
        Ident@231..232 "T"
        Colon@232..233 ":"
        Whitespace@233..234 " "
        TRAIT_SET@234..238
          TYPE_TAPP@234..238
            PATH@234..238
              Ident@234..238 "Mark"
      RBracket@238..239 "]"
      Whitespace@239..240 " "
    TYPE_TAPP@240..246
      PATH@240..246
        Ident@240..245 "Label"
        Whitespace@245..246 " "
    ForKeyword@246..249 "for"
    Whitespace@249..250 " "
    TYPE_TAPP@250..257
      PATH@250..253
        Ident@250..253 "Box"
      TYPE_PARAM_LIST@253..257
        LBracket@253..254 "["
        TYPE_TAPP@254..255
          PATH@254..255
            Ident@254..255 "T"
        RBracket@255..256 "]"
        Whitespace@256..257 " "
    LBrace@257..258 "{"
    Whitespace@258..263 "\n    "
    FN@263..343
      FnKeyword@263..265 "fn"
      Whitespace@265..266 " "
      Ident@266..271 "label"
      PARAM_LIST@271..286
        LParen@271..272 "("
        PARAM@272..284
          Ident@272..276 "self"
          Colon@276..277 ":"
          Whitespace@277..278 " "
          TYPE_TAPP@278..284
            PATH@278..281
              Ident@278..281 "Box"
            TYPE_PARAM_LIST@281..284
              LBracket@281..282 "["
              TYPE_TAPP@282..283
                PATH@282..283
                  Ident@282..283 "T"
              RBracket@283..284 "]"
        RParen@284..285 ")"
        Whitespace@285..286 " "
      Arrow@286..288 "->"
      Whitespace@288..289 " "
      TYPE_STRING@289..296
        StringKeyword@289..295 "string"
        Whitespace@295..296 " "
      BLOCK@296..343
        LBrace@296..297 "{"
        Whitespace@297..306 "\n        "
        EXPR_BINARY@306..341
          EXPR_STR@306..317
            Str@306..316 "\"blanket:\""
            Whitespace@316..317 " "
          Plus@317..318 "+"
          Whitespace@318..319 " "
          EXPR_CALL@319..341
            EXPR_BINARY@319..334
              EXPR_BINARY@319..329
                EXPR_IDENT@319..323
                  PATH@319..323
                    Ident@319..323 "self"
                Dot@323..324 "."
                EXPR_IDENT@324..329
                  PATH@324..329
                    Ident@324..329 "value"
              Dot@329..330 "."
              EXPR_IDENT@330..334
                PATH@330..334
                  Ident@330..334 "mark"
            ARG_LIST@334..341
              LParen@334..335 "("
              RParen@335..336 ")"
              Whitespace@336..341 "\n    "
        RBrace@341..342 "}"
        Whitespace@342..343 "\n"
    RBrace@343..344 "}"
    Whitespace@344..346 "\n\n"
  IMPL@346..459
    ImplKeyword@346..350 "impl"
    Whitespace@350..351 " "
    TYPE_TAPP@351..357
      PATH@351..357
        Ident@351..356 "Label"
        Whitespace@356..357 " "
    ForKeyword@357..360 "for"
    Whitespace@360..361 " "
    TYPE_TAPP@361..373
      PATH@361..364
        Ident@361..364 "Box"
      TYPE_PARAM_LIST@364..373
        LBracket@364..365 "["
        TYPE_STRING@365..371
          StringKeyword@365..371 "string"
        RBracket@371..372 "]"
        Whitespace@372..373 " "
    LBrace@373..374 "{"
    Whitespace@374..379 "\n    "
    FN@379..456
      FnKeyword@379..381 "fn"
      Whitespace@381..382 " "
      Ident@382..387 "label"
      PARAM_LIST@387..407
        LParen@387..388 "("
        PARAM@388..405
          Ident@388..392 "self"
          Colon@392..393 ":"
          Whitespace@393..394 " "
          TYPE_TAPP@394..405
            PATH@394..397
              Ident@394..397 "Box"
            TYPE_PARAM_LIST@397..405
              LBracket@397..398 "["
              TYPE_STRING@398..404
                StringKeyword@398..404 "string"
              RBracket@404..405 "]"
        RParen@405..406 ")"
        Whitespace@406..407 " "
      Arrow@407..409 "->"
      Whitespace@409..410 " "
      TYPE_STRING@410..417
        StringKeyword@410..416 "string"
        Whitespace@416..417 " "
      BLOCK@417..456
        LBrace@417..418 "{"
        Whitespace@418..427 "\n        "
        EXPR_BINARY@427..454
          EXPR_STR@427..437
            Str@427..436 "\"string:\""
            Whitespace@436..437 " "
          Plus@437..438 "+"
          Whitespace@438..439 " "
          EXPR_BINARY@439..454
            EXPR_IDENT@439..443
              PATH@439..443
                Ident@439..443 "self"
            Dot@443..444 "."
            EXPR_IDENT@444..454
              PATH@444..454
                Ident@444..449 "value"
                Whitespace@449..454 "\n    "
        RBrace@454..455 "}"
        Whitespace@455..456 "\n"
    RBrace@456..457 "}"
    Whitespace@457..459 "\n\n"
  FN@459..597
    FnKeyword@459..461 "fn"
    Whitespace@461..462 " "
    Ident@462..466 "main"
    PARAM_LIST@466..469
      LParen@466..467 "("
      RParen@467..468 ")"
      Whitespace@468..469 " "
    Arrow@469..471 "->"
    Whitespace@471..472 " "
    TYPE_TUPLE@472..475
      TYPE_LIST@472..475
        LParen@472..473 "("
        RParen@473..474 ")"
        Whitespace@474..475 " "
    BLOCK@475..597
      LBrace@475..476 "{"
      Whitespace@476..481 "\n    "
      STMT_EXPR@481..527
        EXPR_CALL@481..521
          EXPR_IDENT@481..488
            PATH@481..488
              Ident@481..488 "println"
          ARG_LIST@488..521
            LParen@488..489 "("
            ARG@489..520
              EXPR_CALL@489..520
                EXPR_BINARY@489..518
                  EXPR_PAREN@489..512
                    LParen@489..490 "("
                    EXPR_STRUCT_LITERAL@490..511
                      PATH@490..494
                        Ident@490..493 "Box"
                        Whitespace@493..494 " "
                      STRUCT_LITERAL_FIELD_LIST@494..511
                        LBrace@494..495 "{"
                        Whitespace@495..496 " "
                        STRUCT_LITERAL_FIELD@496..510
                          Ident@496..501 "value"
                          Colon@501..502 ":"
                          Whitespace@502..503 " "
                          EXPR_STR@503..510
                            Str@503..509 "\"text\""
                            Whitespace@509..510 " "
                        RBrace@510..511 "}"
                    RParen@511..512 ")"
                  Dot@512..513 "."
                  EXPR_IDENT@513..518
                    PATH@513..518
                      Ident@513..518 "label"
                ARG_LIST@518..520
                  LParen@518..519 "("
                  RParen@519..520 ")"
            RParen@520..521 ")"
        Semi@521..522 ";"
        Whitespace@522..527 "\n    "
      STMT_LET@527..571
        LetKeyword@527..530 "let"
        Whitespace@530..531 " "
        PATTERN_VARIABLE@531..536
          Ident@531..536 "value"
        Colon@536..537 ":"
        Whitespace@537..538 " "
        TYPE_TAPP@538..547
          PATH@538..541
            Ident@538..541 "Box"
          TYPE_PARAM_LIST@541..547
            LBracket@541..542 "["
            TYPE_INT32@542..545
              I32Keyword@542..545 "i32"
            RBracket@545..546 "]"
            Whitespace@546..547 " "
        Eq@547..548 "="
        Whitespace@548..549 " "
        EXPR_STRUCT_LITERAL@549..565
          PATH@549..553
            Ident@549..552 "Box"
            Whitespace@552..553 " "
          STRUCT_LITERAL_FIELD_LIST@553..565
            LBrace@553..554 "{"
            Whitespace@554..555 " "
            STRUCT_LITERAL_FIELD@555..564
              Ident@555..560 "value"
              Colon@560..561 ":"
              Whitespace@561..562 " "
              EXPR_INT@562..564
                Int@562..563 "7"
                Whitespace@563..564 " "
            RBrace@564..565 "}"
        Semi@565..566 ";"
        Whitespace@566..571 "\n    "
      STMT_EXPR@571..595
        EXPR_CALL@571..593
          EXPR_IDENT@571..578
            PATH@571..578
              Ident@571..578 "println"
          ARG_LIST@578..593
            LParen@578..579 "("
            ARG@579..592
              EXPR_CALL@579..592
                EXPR_BINARY@579..590
                  EXPR_IDENT@579..584
                    PATH@579..584
                      Ident@579..584 "value"
                  Dot@584..585 "."
                  EXPR_IDENT@585..590
                    PATH@585..590
                      Ident@585..590 "label"
                ARG_LIST@590..592
                  LParen@590..591 "("
                  RParen@591..592 ")"
            RParen@592..593 ")"
        Semi@593..594 ";"
        Whitespace@594..595 "\n"
      RBrace@595..596 "}"
      Whitespace@596..597 "\n"