FILE@0..1580
  FN@0..141
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "early_return"
    PARAM_LIST@15..18
      LParen@15..16 "("
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_INT@21..25
      IntKeyword@21..24 "int"
      Whitespace@24..25 " "
    BLOCK@25..141
      LBrace@25..26 "{"
      Whitespace@26..31 "\n    "
      STMT_DEFER@31..66
        DeferKeyword@31..36 "defer"
        Whitespace@36..37 " "
        EXPR_CALL@37..60
          EXPR_IDENT@37..44
            PATH@37..44
              Ident@37..44 "println"
          ARG_LIST@44..60
            LParen@44..45 "("
            ARG@45..59
              EXPR_STR@45..59
                Str@45..59 "\"return:outer\""
            RParen@59..60 ")"
        Semi@60..61 ";"
        Whitespace@61..66 "\n    "
      STMT_EXPR@66..136
        EXPR_BLOCK@66..130
          BLOCK@66..130
            LBrace@66..67 "{"
            Whitespace@67..76 "\n        "
            STMT_DEFER@76..115
              DeferKeyword@76..81 "defer"
              Whitespace@81..82 " "
              EXPR_CALL@82..105
                EXPR_IDENT@82..89
                  PATH@82..89
                    Ident@82..89 "println"
                ARG_LIST@89..105
                  LParen@89..90 "("
                  ARG@90..104
                    EXPR_STR@90..104
                      Str@90..104 "\"return:inner\""
                  RParen@104..105 ")"
              Semi@105..106 ";"
              Whitespace@106..115 "\n        "
            STMT_EXPR@115..129
              EXPR_RETURN@115..123
                ReturnKeyword@115..121 "return"
                Whitespace@121..122 " "
                EXPR_INT@122..123
                  Int@122..123 "7"
              Semi@123..124 ";"
              Whitespace@124..129 "\n    "
            RBrace@129..130 "}"
        Semi@130..131 ";"
        Whitespace@131..136 "\n    "
      EXPR_INT@136..138
        Int@136..137 "0"
        Whitespace@137..138 "\n"
      RBrace@138..139 "}"
      Whitespace@139..141 "\n\n"
  FN@141..274
    FnKeyword@141..143 "fn"
    Whitespace@143..144 " "
    Ident@144..149 "maybe"
    PARAM_LIST@149..170
      LParen@149..150 "("
      PARAM@150..168
        Ident@150..155 "value"
        Colon@155..156 ":"
        Whitespace@156..157 " "
        TYPE_TAPP@157..168
          PATH@157..163
            Ident@157..163 "Option"
          TYPE_PARAM_LIST@163..168
            LBracket@163..164 "["
            TYPE_INT@164..167
              IntKeyword@164..167 "int"
            RBracket@167..168 "]"
      RParen@168..169 ")"
      Whitespace@169..170 " "
    Arrow@170..172 "->"
    Whitespace@172..173 " "
    TYPE_TAPP@173..185
      PATH@173..179
        Ident@173..179 "Option"
      TYPE_PARAM_LIST@179..185
        LBracket@179..180 "["
        TYPE_INT@180..183
          IntKeyword@180..183 "int"
        RBracket@183..184 "]"
        Whitespace@184..185 " "
    BLOCK@185..274
      LBrace@185..186 "{"
      Whitespace@186..191 "\n    "
      STMT_DEFER@191..225
        DeferKeyword@191..196 "defer"
        Whitespace@196..197 " "
        EXPR_CALL@197..219
          EXPR_IDENT@197..204
            PATH@197..204
              Ident@197..204 "println"
          ARG_LIST@204..219
            LParen@204..205 "("
            ARG@205..218
              EXPR_STR@205..218
                Str@205..218 "\"try:cleanup\""
            RParen@218..219 ")"
        Semi@219..220 ";"
        Whitespace@220..225 "\n    "
      STMT_LET@225..250
        LetKeyword@225..228 "let"
        Whitespace@228..229 " "
        PATTERN_VARIABLE@229..236
          Ident@229..235 "number"
          Whitespace@235..236 " "
        Eq@236..237 "="
        Whitespace@237..238 " "
        EXPR_TRY@238..244
          EXPR_IDENT@238..243
            PATH@238..243
              Ident@238..243 "value"
          Question@243..244 "?"
        Semi@244..245 ";"
        Whitespace@245..250 "\n    "
      EXPR_CALL@250..271
        EXPR_IDENT@250..262
          PATH@250..262
            Ident@250..256 "Option"
            ColonColon@256..258 "::"
            Ident@258..262 "Some"
        ARG_LIST@262..271
          LParen@262..263 "("
          ARG@263..269
            EXPR_IDENT@263..269
              PATH@263..269
                Ident@263..269 "number"
          RParen@269..270 ")"
          Whitespace@270..271 "\n"
      RBrace@271..272 "}"
      Whitespace@272..274 "\n\n"
  FN@274..607
    FnKeyword@274..276 "fn"
    Whitespace@276..277 " "
    Ident@277..289 "loop_cleanup"
    PARAM_LIST@289..292
      LParen@289..290 "("
      RParen@290..291 ")"
      Whitespace@291..292 " "
    Arrow@292..294 "->"
    Whitespace@294..295 " "
    TYPE_UNIT@295..300
      UnitKeyword@295..299 "unit"
      Whitespace@299..300 " "
    BLOCK@300..607
      LBrace@300..301 "{"
      Whitespace@301..306 "\n    "
      STMT_LET@306..335
        LetKeyword@306..309 "let"
        Whitespace@309..310 " "
        PATTERN_VARIABLE@310..316
          Ident@310..315 "index"
          Whitespace@315..316 " "
        Eq@316..317 "="
        Whitespace@317..318 " "
        EXPR_CALL@318..329
          EXPR_IDENT@318..326
            PATH@318..326
              Ident@318..321 "Ref"
              ColonColon@321..323 "::"
              Ident@323..326 "new"
          ARG_LIST@326..329
            LParen@326..327 "("
            ARG@327..328
              EXPR_INT@327..328
                Int@327..328 "0"
            RParen@328..329 ")"
        Semi@329..330 ";"
        Whitespace@330..335 "\n    "
      EXPR_WHILE@335..604
        WhileKeyword@335..340 "while"
        Whitespace@340..341 " "
        EXPR_WHILE_COND@341..357
          EXPR_BINARY@341..357
            EXPR_CALL@341..353
              EXPR_BINARY@341..350
                EXPR_IDENT@341..346
                  PATH@341..346
                    Ident@341..346 "index"
                Dot@346..347 "."
                EXPR_IDENT@347..350
                  PATH@347..350
                    Ident@347..350 "get"
              ARG_LIST@350..353
                LParen@350..351 "("
                RParen@351..352 ")"
                Whitespace@352..353 " "
            Less@353..354 "<"
            Whitespace@354..355 " "
            EXPR_INT@355..357
              Int@355..356 "3"
              Whitespace@356..357 " "
        EXPR_WHILE_BODY@357..604
          BLOCK@357..604
            LBrace@357..358 "{"
            Whitespace@358..367 "\n        "
            STMT_LET@367..402
              LetKeyword@367..370 "let"
              Whitespace@370..371 " "
              PATTERN_VARIABLE@371..379
                Ident@371..378 "current"
                Whitespace@378..379 " "
              Eq@379..380 "="
              Whitespace@380..381 " "
              EXPR_CALL@381..392
                EXPR_BINARY@381..390
                  EXPR_IDENT@381..386
                    PATH@381..386
                      Ident@381..386 "index"
                  Dot@386..387 "."
                  EXPR_IDENT@387..390
                    PATH@387..390
                      Ident@387..390 "get"
                ARG_LIST@390..392
                  LParen@390..391 "("
                  RParen@391..392 ")"
              Semi@392..393 ";"
              Whitespace@393..402 "\n        "
            STMT_DEFER@402..456
              DeferKeyword@402..407 "defer"
              Whitespace@407..408 " "
              EXPR_CALL@408..446
                EXPR_IDENT@408..415
                  PATH@408..415
                    Ident@408..415 "println"
                ARG_LIST@415..446
                  LParen@415..416 "("
                  ARG@416..445
                    EXPR_BINARY@416..445
                      EXPR_STR@416..424
                        Str@416..423 "\"loop:\""
                        Whitespace@423..424 " "
                      Plus@424..425 "+"
                      Whitespace@425..426 " "
                      EXPR_CALL@426..445
                        EXPR_BINARY@426..443
                          EXPR_IDENT@426..433
                            PATH@426..433
                              Ident@426..433 "current"
                          Dot@433..434 "."
                          EXPR_IDENT@434..443
                            PATH@434..443
                              Ident@434..443 "to_string"
                        ARG_LIST@443..445
                          LParen@443..444 "("
                          RParen@444..445 ")"
                  RParen@445..446 ")"
              Semi@446..447 ";"
              Whitespace@447..456 "\n        "
            STMT_EXPR@456..488
              EXPR_CALL@456..478
                EXPR_BINARY@456..465
                  EXPR_IDENT@456..461
                    PATH@456..461
                      Ident@456..461 "index"
                  Dot@461..462 "."
                  EXPR_IDENT@462..465
                    PATH@462..465
                      Ident@462..465 "set"
                ARG_LIST@465..478
                  LParen@465..466 "("
                  ARG@466..477
                    EXPR_BINARY@466..477
                      EXPR_IDENT@466..474
                        PATH@466..474
                          Ident@466..473 "current"
                          Whitespace@473..474 " "
                      Plus@474..475 "+"
                      Whitespace@475..476 " "
                      EXPR_INT@476..477
                        Int@476..477 "1"
                  RParen@477..478 ")"
              Semi@478..479 ";"
              Whitespace@479..488 "\n        "
            EXPR_IF@488..602
              IfKeyword@488..490 "if"
              Whitespace@490..491 " "
              EXPR_IF_COND@491..504
                EXPR_BINARY@491..504
                  EXPR_IDENT@491..499
                    PATH@491..499
                      Ident@491..498 "current"
                      Whitespace@498..499 " "
                  EqEq@499..501 "=="
                  Whitespace@501..502 " "
                  EXPR_INT@502..504
                    Int@502..503 "0"
                    Whitespace@503..504 " "
              EXPR_IF_THEN@504..538
                BLOCK@504..538
                  LBrace@504..505 "{"
                  Whitespace@505..518 "\n            "
                  STMT_EXPR@518..536
                    EXPR_CONTINUE@518..526
                      ContinueKeyword@518..526 "continue"
                    Semi@526..527 ";"
                    Whitespace@527..536 "\n        "
                  RBrace@536..537 "}"
                  Whitespace@537..538 " "
              ElseKeyword@538..542 "else"
              Whitespace@542..543 " "
              EXPR_IF_ELSE@543..602
                EXPR_IF@543..602
                  IfKeyword@543..545 "if"
                  Whitespace@545..546 " "
                  EXPR_IF_COND@546..559
                    EXPR_BINARY@546..559
                      EXPR_IDENT@546..554
                        PATH@546..554
                          Ident@546..553 "current"
                          Whitespace@553..554 " "
                      EqEq@554..556 "=="
                      Whitespace@556..557 " "
                      EXPR_INT@557..559
                        Int@557..558 "1"
                        Whitespace@558..559 " "
                  EXPR_IF_THEN@559..590
                    BLOCK@559..590
                      LBrace@559..560 "{"
                      Whitespace@560..573 "\n            "
                      STMT_EXPR@573..588
                        EXPR_BREAK@573..578
                          BreakKeyword@573..578 "break"
                        Semi@578..579 ";"
                        Whitespace@579..588 "\n        "
                      RBrace@588..589 "}"
                      Whitespace@589..590 " "
                  ElseKeyword@590..594 "else"
                  Whitespace@594..595 " "
                  EXPR_IF_ELSE@595..602
                    BLOCK@595..602
                      LBrace@595..596 "{"
                      RBrace@596..597 "}"
                      Whitespace@597..602 "\n    "
            RBrace@602..603 "}"
            Whitespace@603..604 "\n"
      RBrace@604..605 "}"
      Whitespace@605..607 "\n\n"
  FN@607..747
    FnKeyword@607..609 "fn"
    Whitespace@609..610 " "
    Ident@610..626 "observed_at_exit"
    PARAM_LIST@626..629
      LParen@626..627 "("
      RParen@627..628 ")"
      Whitespace@628..629 " "
    Arrow@629..631 "->"
    Whitespace@631..632 " "
    TYPE_UNIT@632..637
      UnitKeyword@632..636 "unit"
      Whitespace@636..637 " "
    BLOCK@637..747
      LBrace@637..638 "{"
      Whitespace@638..643 "\n    "
      STMT_LET@643..679
        LetKeyword@643..646 "let"
        Whitespace@646..647 " "
        PATTERN_VARIABLE@647..653
          Ident@647..652 "value"
          Whitespace@652..653 " "
        Eq@653..654 "="
        Whitespace@654..655 " "
        EXPR_CALL@655..673
          EXPR_IDENT@655..663
            PATH@655..663
              Ident@655..658 "Ref"
              ColonColon@658..660 "::"
              Ident@660..663 "new"
          ARG_LIST@663..673
            LParen@663..664 "("
            ARG@664..672
              EXPR_STR@664..672
                Str@664..672 "\"before\""
            RParen@672..673 ")"
        Semi@673..674 ";"
        Whitespace@674..679 "\n    "
      STMT_DEFER@679..725
        DeferKeyword@679..684 "defer"
        Whitespace@684..685 " "
        EXPR_CALL@685..719
          EXPR_IDENT@685..692
            PATH@685..692
              Ident@685..692 "println"
          ARG_LIST@692..719
            LParen@692..693 "("
            ARG@693..718
              EXPR_BINARY@693..718
                EXPR_STR@693..705
                  Str@693..704 "\"observed:\""
                  Whitespace@704..705 " "
                Plus@705..706 "+"
                Whitespace@706..707 " "
                EXPR_CALL@707..718
                  EXPR_BINARY@707..716
                    EXPR_IDENT@707..712
                      PATH@707..712
                        Ident@707..712 "value"
                    Dot@712..713 "."
                    EXPR_IDENT@713..716
                      PATH@713..716
                        Ident@713..716 "get"
                  ARG_LIST@716..718
                    LParen@716..717 "("
                    RParen@717..718 ")"
            RParen@718..719 ")"
        Semi@719..720 ";"
        Whitespace@720..725 "\n    "
      EXPR_CALL@725..744
        EXPR_BINARY@725..734
          EXPR_IDENT@725..730
            PATH@725..730
              Ident@725..730 "value"
          Dot@730..731 "."
          EXPR_IDENT@731..734
            PATH@731..734
              Ident@731..734 "set"
        ARG_LIST@734..744
          LParen@734..735 "("
          ARG@735..742
            EXPR_STR@735..742
              Str@735..742 "\"after\""
          RParen@742..743 ")"
          Whitespace@743..744 "\n"
      RBrace@744..745 "}"
      Whitespace@745..747 "\n\n"
  FN@747..959
    FnKeyword@747..749 "fn"
    Whitespace@749..750 " "
    Ident@750..765 "pattern_cleanup"
    PARAM_LIST@765..786
      LParen@765..766 "("
      PARAM@766..784
        Ident@766..771 "value"
        Colon@771..772 ":"
        Whitespace@772..773 " "
        TYPE_TAPP@773..784
          PATH@773..779
            Ident@773..779 "Option"
          TYPE_PARAM_LIST@779..784
            LBracket@779..780 "["
            TYPE_INT@780..783
              IntKeyword@780..783 "int"
            RBracket@783..784 "]"
      RParen@784..785 ")"
      Whitespace@785..786 " "
    Arrow@786..788 "->"
    Whitespace@788..789 " "
    TYPE_INT@789..793
      IntKeyword@789..792 "int"
      Whitespace@792..793 " "
    BLOCK@793..959
      LBrace@793..794 "{"
      Whitespace@794..799 "\n    "
      STMT_DEFER@799..837
        DeferKeyword@799..804 "defer"
        Whitespace@804..805 " "
        EXPR_CALL@805..831
          EXPR_IDENT@805..812
            PATH@805..812
              Ident@805..812 "println"
          ARG_LIST@812..831
            LParen@812..813 "("
            ARG@813..830
              EXPR_STR@813..830
                Str@813..830 "\"pattern:cleanup\""
            RParen@830..831 ")"
        Semi@831..832 ";"
        Whitespace@832..837 "\n    "
      STMT_LET@837..906
        LetKeyword@837..840 "let"
        Whitespace@840..841 " "
        PATTERN_CONSTR@841..862
          PATH@841..853
            Ident@841..847 "Option"
            ColonColon@847..849 "::"
            Ident@849..853 "Some"
          LParen@853..854 "("
          PATTERN_VARIABLE@854..860
            Ident@854..860 "number"
          RParen@860..861 ")"
          Whitespace@861..862 " "
        Eq@862..863 "="
        Whitespace@863..864 " "
        EXPR_IDENT@864..870
          PATH@864..870
            Ident@864..869 "value"
            Whitespace@869..870 " "
        ElseKeyword@870..874 "else"
        Whitespace@874..875 " "
        BLOCK@875..900
          LBrace@875..876 "{"
          Whitespace@876..885 "\n        "
          STMT_EXPR@885..899
            EXPR_RETURN@885..893
              ReturnKeyword@885..891 "return"
              Whitespace@891..892 " "
              EXPR_INT@892..893
                Int@892..893 "0"
            Semi@893..894 ";"
            Whitespace@894..899 "\n    "
          RBrace@899..900 "}"
        Semi@900..901 ";"
        Whitespace@901..906 "\n    "
      STMT_LET@906..943
        LetKeyword@906..909 "let"
        Whitespace@909..910 " "
        PATTERN_TUPLE@910..924
          LParen@910..911 "("
          PATTERN_VARIABLE@911..915
            Ident@911..915 "left"
          Comma@915..916 ","
          Whitespace@916..917 " "
          PATTERN_VARIABLE@917..922
            Ident@917..922 "right"
          RParen@922..923 ")"
          Whitespace@923..924 " "
        Eq@924..925 "="
        Whitespace@925..926 " "
        EXPR_TUPLE@926..937
          LParen@926..927 "("
          EXPR_IDENT@927..933
            PATH@927..933
              Ident@927..933 "number"
          Comma@933..934 ","
          Whitespace@934..935 " "
          EXPR_INT@935..936
            Int@935..936 "2"
          RParen@936..937 ")"
        Semi@937..938 ";"
        Whitespace@938..943 "\n    "
      EXPR_BINARY@943..956
        EXPR_IDENT@943..948
          PATH@943..948
            Ident@943..947 "left"
            Whitespace@947..948 " "
        Plus@948..949 "+"
        Whitespace@949..950 " "
        EXPR_IDENT@950..956
          PATH@950..956
            Ident@950..955 "right"
            Whitespace@955..956 "\n"
      RBrace@956..957 "}"
      Whitespace@957..959 "\n\n"
  FN@959..1167
    FnKeyword@959..961 "fn"
    Whitespace@961..962 " "
    Ident@962..977 "closure_cleanup"
    PARAM_LIST@977..980
      LParen@977..978 "("
      RParen@978..979 ")"
      Whitespace@979..980 " "
    Arrow@980..982 "->"
    Whitespace@982..983 " "
    TYPE_UNIT@983..988
      UnitKeyword@983..987 "unit"
      Whitespace@987..988 " "
    BLOCK@988..1167
      LBrace@988..989 "{"
      Whitespace@989..994 "\n    "
      STMT_DEFER@994..1030
        DeferKeyword@994..999 "defer"
        Whitespace@999..1000 " "
        EXPR_CALL@1000..1024
          EXPR_IDENT@1000..1007
            PATH@1000..1007
              Ident@1000..1007 "println"
          ARG_LIST@1007..1024
            LParen@1007..1008 "("
            ARG@1008..1023
              EXPR_STR@1008..1023
                Str@1008..1023 "\"closure:outer\""
            RParen@1023..1024 ")"
        Semi@1024..1025 ";"
        Whitespace@1025..1030 "\n    "
      STMT_LET@1030..1128
        LetKeyword@1030..1033 "let"
        Whitespace@1033..1034 " "
        PATTERN_VARIABLE@1034..1038
          Ident@1034..1037 "run"
          Whitespace@1037..1038 " "
        Eq@1038..1039 "="
        Whitespace@1039..1040 " "
        EXPR_CLOSURE@1040..1122
          CLOSURE_PARAM_LIST@1040..1043
            OrOr@1040..1042 "||"
            Whitespace@1042..1043 " "
          EXPR_CLOSURE_BODY@1043..1122
            BLOCK@1043..1122
              LBrace@1043..1044 "{"
              Whitespace@1044..1053 "\n        "
              STMT_DEFER@1053..1093
                DeferKeyword@1053..1058 "defer"
                Whitespace@1058..1059 " "
                EXPR_CALL@1059..1083
                  EXPR_IDENT@1059..1066
                    PATH@1059..1066
                      Ident@1059..1066 "println"
                  ARG_LIST@1066..1083
                    LParen@1066..1067 "("
                    ARG@1067..1082
                      EXPR_STR@1067..1082
                        Str@1067..1082 "\"closure:inner\""
                    RParen@1082..1083 ")"
                Semi@1083..1084 ";"
                Whitespace@1084..1093 "\n        "
              EXPR_CALL@1093..1121
                EXPR_IDENT@1093..1100
                  PATH@1093..1100
                    Ident@1093..1100 "println"
                ARG_LIST@1100..1121
                  LParen@1100..1101 "("
                  ARG@1101..1115
                    EXPR_STR@1101..1115
                      Str@1101..1115 "\"closure:body\""
                  RParen@1115..1116 ")"
                  Whitespace@1116..1121 "\n    "
              RBrace@1121..1122 "}"
        Semi@1122..1123 ";"
        Whitespace@1123..1128 "\n    "
      STMT_EXPR@1128..1139
        EXPR_CALL@1128..1133
          EXPR_IDENT@1128..1131
            PATH@1128..1131
              Ident@1128..1131 "run"
          ARG_LIST@1131..1133
            LParen@1131..1132 "("
            RParen@1132..1133 ")"
        Semi@1133..1134 ";"
        Whitespace@1134..1139 "\n    "
      EXPR_CALL@1139..1164
        EXPR_IDENT@1139..1146
          PATH@1139..1146
            Ident@1139..1146 "println"
        ARG_LIST@1146..1164
          LParen@1146..1147 "("
          ARG@1147..1162
            EXPR_STR@1147..1162
              Str@1147..1162 "\"closure:after\""
          RParen@1162..1163 ")"
          Whitespace@1163..1164 "\n"
      RBrace@1164..1165 "}"
      Whitespace@1165..1167 "\n\n"
  FN@1167..1580
    FnKeyword@1167..1169 "fn"
    Whitespace@1169..1170 " "
    Ident@1170..1174 "main"
    PARAM_LIST@1174..1177
      LParen@1174..1175 "("
      RParen@1175..1176 ")"
      Whitespace@1176..1177 " "
    Arrow@1177..1179 "->"
    Whitespace@1179..1180 " "
    TYPE_UNIT@1180..1185
      UnitKeyword@1180..1184 "unit"
      Whitespace@1184..1185 " "
    BLOCK@1185..1580
      LBrace@1185..1186 "{"
      Whitespace@1186..1191 "\n    "
      STMT_DEFER@1191..1224
        DeferKeyword@1191..1196 "defer"
        Whitespace@1196..1197 " "
        EXPR_CALL@1197..1218
          EXPR_IDENT@1197..1204
            PATH@1197..1204
              Ident@1197..1204 "println"
          ARG_LIST@1204..1218
            LParen@1204..1205 "("
            ARG@1205..1217
              EXPR_STR@1205..1217
                Str@1205..1217 "\"main:first\""
            RParen@1217..1218 ")"
        Semi@1218..1219 ";"
        Whitespace@1219..1224 "\n    "
      STMT_DEFER@1224..1258
        DeferKeyword@1224..1229 "defer"
        Whitespace@1229..1230 " "
        EXPR_CALL@1230..1252
          EXPR_IDENT@1230..1237
            PATH@1230..1237
              Ident@1230..1237 "println"
          ARG_LIST@1237..1252
            LParen@1237..1238 "("
            ARG@1238..1251
              EXPR_STR@1238..1251
                Str@1238..1251 "\"main:second\""
            RParen@1251..1252 ")"
        Semi@1252..1253 ";"
        Whitespace@1253..1258 "\n    "
      STMT_EXPR@1258..1327
        EXPR_BLOCK@1258..1321
          BLOCK@1258..1321
            LBrace@1258..1259 "{"
            Whitespace@1259..1268 "\n        "
            STMT_DEFER@1268..1300
              DeferKeyword@1268..1273 "defer"
              Whitespace@1273..1274 " "
              EXPR_CALL@1274..1290
                EXPR_IDENT@1274..1281
                  PATH@1274..1281
                    Ident@1274..1281 "println"
                ARG_LIST@1281..1290
                  LParen@1281..1282 "("
                  ARG@1282..1289
                    EXPR_STR@1282..1289
                      Str@1282..1289 "\"block\""
                  RParen@1289..1290 ")"
              Semi@1290..1291 ";"
              Whitespace@1291..1300 "\n        "
            EXPR_CALL@1300..1320
              EXPR_IDENT@1300..1307
                PATH@1300..1307
                  Ident@1300..1307 "println"
              ARG_LIST@1307..1320
                LParen@1307..1308 "("
                ARG@1308..1314
                  EXPR_STR@1308..1314
                    Str@1308..1314 "\"body\""
                RParen@1314..1315 ")"
                Whitespace@1315..1320 "\n    "
            RBrace@1320..1321 "}"
        Semi@1321..1322 ";"
        Whitespace@1322..1327 "\n    "
      STMT_EXPR@1327..1368
        EXPR_CALL@1327..1362
          EXPR_IDENT@1327..1334
            PATH@1327..1334
              Ident@1327..1334 "println"
          ARG_LIST@1334..1362
            LParen@1334..1335 "("
            ARG@1335..1361
              EXPR_CALL@1335..1361
                EXPR_BINARY@1335..1359
                  EXPR_CALL@1335..1349
                    EXPR_IDENT@1335..1347
                      PATH@1335..1347
                        Ident@1335..1347 "early_return"
                    ARG_LIST@1347..1349
                      LParen@1347..1348 "("
                      RParen@1348..1349 ")"
                  Dot@1349..1350 "."
                  EXPR_IDENT@1350..1359
                    PATH@1350..1359
                      Ident@1350..1359 "to_string"
                ARG_LIST@1359..1361
                  LParen@1359..1360 "("
                  RParen@1360..1361 ")"
            RParen@1361..1362 ")"
        Semi@1362..1363 ";"
        Whitespace@1363..1368 "\n    "
      STMT_LET@1368..1401
        LetKeyword@1368..1371 "let"
        Whitespace@1371..1372 " "
        PATTERN_WILDCARD@1372..1374
          WildcardKeyword@1372..1373 "_"
          Whitespace@1373..1374 " "
        Eq@1374..1375 "="
        Whitespace@1375..1376 " "
        EXPR_CALL@1376..1395
          EXPR_IDENT@1376..1381
            PATH@1376..1381
              Ident@1376..1381 "maybe"
          ARG_LIST@1381..1395
            LParen@1381..1382 "("
            ARG@1382..1394
              EXPR_IDENT@1382..1394
                PATH@1382..1394
                  Ident@1382..1388 "Option"
                  ColonColon@1388..1390 "::"
                  Ident@1390..1394 "None"
            RParen@1394..1395 ")"
        Semi@1395..1396 ";"
        Whitespace@1396..1401 "\n    "
      STMT_EXPR@1401..1421
        EXPR_CALL@1401..1415
          EXPR_IDENT@1401..1413
            PATH@1401..1413
              Ident@1401..1413 "loop_cleanup"
          ARG_LIST@1413..1415
            LParen@1413..1414 "("
            RParen@1414..1415 ")"
        Semi@1415..1416 ";"
        Whitespace@1416..1421 "\n    "
      STMT_EXPR@1421..1445
        EXPR_CALL@1421..1439
          EXPR_IDENT@1421..1437
            PATH@1421..1437
              Ident@1421..1437 "observed_at_exit"
          ARG_LIST@1437..1439
            LParen@1437..1438 "("
            RParen@1438..1439 ")"
        Semi@1439..1440 ";"
        Whitespace@1440..1445 "\n    "
      STMT_EXPR@1445..1504
        EXPR_CALL@1445..1498
          EXPR_IDENT@1445..1452
            PATH@1445..1452
              Ident@1445..1452 "println"
          ARG_LIST@1452..1498
            LParen@1452..1453 "("
            ARG@1453..1497
              EXPR_CALL@1453..1497
                EXPR_BINARY@1453..1495
                  EXPR_CALL@1453..1485
                    EXPR_IDENT@1453..1468
                      PATH@1453..1468
                        Ident@1453..1468 "pattern_cleanup"
                    ARG_LIST@1468..1485
                      LParen@1468..1469 "("
                      ARG@1469..1484
                        EXPR_CALL@1469..1484
                          EXPR_IDENT@1469..1481
                            PATH@1469..1481
                              Ident@1469..1475 "Option"
                              ColonColon@1475..1477 "::"
                              Ident@1477..1481 "Some"
                          ARG_LIST@1481..1484
                            LParen@1481..1482 "("
                            ARG@1482..1483
                              EXPR_INT@1482..1483
                                Int@1482..1483 "3"
                            RParen@1483..1484 ")"
                      RParen@1484..1485 ")"
                  Dot@1485..1486 "."
                  EXPR_IDENT@1486..1495
                    PATH@1486..1495
                      Ident@1486..1495 "to_string"
                ARG_LIST@1495..1497
                  LParen@1495..1496 "("
                  RParen@1496..1497 ")"
            RParen@1497..1498 ")"
        Semi@1498..1499 ";"
        Whitespace@1499..1504 "\n    "
      STMT_EXPR@1504..1560
        EXPR_CALL@1504..1554
          EXPR_IDENT@1504..1511
            PATH@1504..1511
              Ident@1504..1511 "println"
          ARG_LIST@1511..1554
            LParen@1511..1512 "("
            ARG@1512..1553
              EXPR_CALL@1512..1553
                EXPR_BINARY@1512..1551
                  EXPR_CALL@1512..1541
                    EXPR_IDENT@1512..1527
                      PATH@1512..1527
                        Ident@1512..1527 "pattern_cleanup"
                    ARG_LIST@1527..1541
                      LParen@1527..1528 "("
                      ARG@1528..1540
                        EXPR_IDENT@1528..1540
                          PATH@1528..1540
                            Ident@1528..1534 "Option"
                            ColonColon@1534..1536 "::"
                            Ident@1536..1540 "None"
                      RParen@1540..1541 ")"
                  Dot@1541..1542 "."
                  EXPR_IDENT@1542..1551
                    PATH@1542..1551
                      Ident@1542..1551 "to_string"
                ARG_LIST@1551..1553
                  LParen@1551..1552 "("
                  RParen@1552..1553 ")"
            RParen@1553..1554 ")"
        Semi@1554..1555 ";"
        Whitespace@1555..1560 "\n    "
      EXPR_CALL@1560..1578
        EXPR_IDENT@1560..1575
          PATH@1560..1575
            Ident@1560..1575 "closure_cleanup"
        ARG_LIST@1575..1578
          LParen@1575..1576 "("
          RParen@1576..1577 ")"
          Whitespace@1577..1578 "\n"
      RBrace@1578..1579 "}"
      Whitespace@1579..1580 "\n"