FILE@0..1582
  FN@0..143
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..15 "early_return"
    PARAM_LIST@15..18
      LParen@15..16 "("
      RParen@16..17 ")"
      Whitespace@17..18 " "
    Arrow@18..20 "->"
    Whitespace@20..21 " "
    TYPE_INT@21..27
      IsizeKeyword@21..26 "isize"
      Whitespace@26..27 " "
    BLOCK@27..143
      LBrace@27..28 "{"
      Whitespace@28..33 "\n    "
      STMT_DEFER@33..68
        DeferKeyword@33..38 "defer"
        Whitespace@38..39 " "
        EXPR_CALL@39..62
          EXPR_IDENT@39..46
            PATH@39..46
              Ident@39..46 "println"
          ARG_LIST@46..62
            LParen@46..47 "("
            ARG@47..61
              EXPR_STR@47..61
                Str@47..61 "\"return:outer\""
            RParen@61..62 ")"
        Semi@62..63 ";"
        Whitespace@63..68 "\n    "
      STMT_EXPR@68..138
        EXPR_BLOCK@68..132
          BLOCK@68..132
            LBrace@68..69 "{"
            Whitespace@69..78 "\n        "
            STMT_DEFER@78..117
              DeferKeyword@78..83 "defer"
              Whitespace@83..84 " "
              EXPR_CALL@84..107
                EXPR_IDENT@84..91
                  PATH@84..91
                    Ident@84..91 "println"
                ARG_LIST@91..107
                  LParen@91..92 "("
                  ARG@92..106
                    EXPR_STR@92..106
                      Str@92..106 "\"return:inner\""
                  RParen@106..107 ")"
              Semi@107..108 ";"
              Whitespace@108..117 "\n        "
            STMT_EXPR@117..131
              EXPR_RETURN@117..125
                ReturnKeyword@117..123 "return"
                Whitespace@123..124 " "
                EXPR_INT@124..125
                  Int@124..125 "7"
              Semi@125..126 ";"
              Whitespace@126..131 "\n    "
            RBrace@131..132 "}"
        Semi@132..133 ";"
        Whitespace@133..138 "\n    "
      EXPR_INT@138..140
        Int@138..139 "0"
        Whitespace@139..140 "\n"
      RBrace@140..141 "}"
      Whitespace@141..143 "\n\n"
  FN@143..280
    FnKeyword@143..145 "fn"
    Whitespace@145..146 " "
    Ident@146..151 "maybe"
    PARAM_LIST@151..174
      LParen@151..152 "("
      PARAM@152..172
        Ident@152..157 "value"
        Colon@157..158 ":"
        Whitespace@158..159 " "
        TYPE_TAPP@159..172
          PATH@159..165
            Ident@159..165 "Option"
          TYPE_PARAM_LIST@165..172
            LBracket@165..166 "["
            TYPE_INT@166..171
              IsizeKeyword@166..171 "isize"
            RBracket@171..172 "]"
      RParen@172..173 ")"
      Whitespace@173..174 " "
    Arrow@174..176 "->"
    Whitespace@176..177 " "
    TYPE_TAPP@177..191
      PATH@177..183
        Ident@177..183 "Option"
      TYPE_PARAM_LIST@183..191
        LBracket@183..184 "["
        TYPE_INT@184..189
          IsizeKeyword@184..189 "isize"
        RBracket@189..190 "]"
        Whitespace@190..191 " "
    BLOCK@191..280
      LBrace@191..192 "{"
      Whitespace@192..197 "\n    "
      STMT_DEFER@197..231
        DeferKeyword@197..202 "defer"
        Whitespace@202..203 " "
        EXPR_CALL@203..225
          EXPR_IDENT@203..210
            PATH@203..210
              Ident@203..210 "println"
          ARG_LIST@210..225
            LParen@210..211 "("
            ARG@211..224
              EXPR_STR@211..224
                Str@211..224 "\"try:cleanup\""
            RParen@224..225 ")"
        Semi@225..226 ";"
        Whitespace@226..231 "\n    "
      STMT_LET@231..256
        LetKeyword@231..234 "let"
        Whitespace@234..235 " "
        PATTERN_VARIABLE@235..242
          Ident@235..241 "number"
          Whitespace@241..242 " "
        Eq@242..243 "="
        Whitespace@243..244 " "
        EXPR_TRY@244..250
          EXPR_IDENT@244..249
            PATH@244..249
              Ident@244..249 "value"
          Question@249..250 "?"
        Semi@250..251 ";"
        Whitespace@251..256 "\n    "
      EXPR_CALL@256..277
        EXPR_IDENT@256..268
          PATH@256..268
            Ident@256..262 "Option"
            ColonColon@262..264 "::"
            Ident@264..268 "Some"
        ARG_LIST@268..277
          LParen@268..269 "("
          ARG@269..275
            EXPR_IDENT@269..275
              PATH@269..275
                Ident@269..275 "number"
          RParen@275..276 ")"
          Whitespace@276..277 "\n"
      RBrace@277..278 "}"
      Whitespace@278..280 "\n\n"
  FN@280..611
    FnKeyword@280..282 "fn"
    Whitespace@282..283 " "
    Ident@283..295 "loop_cleanup"
    PARAM_LIST@295..298
      LParen@295..296 "("
      RParen@296..297 ")"
      Whitespace@297..298 " "
    Arrow@298..300 "->"
    Whitespace@300..301 " "
    TYPE_TUPLE@301..304
      TYPE_LIST@301..304
        LParen@301..302 "("
        RParen@302..303 ")"
        Whitespace@303..304 " "
    BLOCK@304..611
      LBrace@304..305 "{"
      Whitespace@305..310 "\n    "
      STMT_LET@310..339
        LetKeyword@310..313 "let"
        Whitespace@313..314 " "
        PATTERN_VARIABLE@314..320
          Ident@314..319 "index"
          Whitespace@319..320 " "
        Eq@320..321 "="
        Whitespace@321..322 " "
        EXPR_CALL@322..333
          EXPR_IDENT@322..330
            PATH@322..330
              Ident@322..325 "Ref"
              ColonColon@325..327 "::"
              Ident@327..330 "new"
          ARG_LIST@330..333
            LParen@330..331 "("
            ARG@331..332
              EXPR_INT@331..332
                Int@331..332 "0"
            RParen@332..333 ")"
        Semi@333..334 ";"
        Whitespace@334..339 "\n    "
      EXPR_WHILE@339..608
        WhileKeyword@339..344 "while"
        Whitespace@344..345 " "
        EXPR_WHILE_COND@345..361
          EXPR_BINARY@345..361
            EXPR_CALL@345..357
              EXPR_BINARY@345..354
                EXPR_IDENT@345..350
                  PATH@345..350
                    Ident@345..350 "index"
                Dot@350..351 "."
                EXPR_IDENT@351..354
                  PATH@351..354
                    Ident@351..354 "get"
              ARG_LIST@354..357
                LParen@354..355 "("
                RParen@355..356 ")"
                Whitespace@356..357 " "
            Less@357..358 "<"
            Whitespace@358..359 " "
            EXPR_INT@359..361
              Int@359..360 "3"
              Whitespace@360..361 " "
        EXPR_WHILE_BODY@361..608
          BLOCK@361..608
            LBrace@361..362 "{"
            Whitespace@362..371 "\n        "
            STMT_LET@371..406
              LetKeyword@371..374 "let"
              Whitespace@374..375 " "
              PATTERN_VARIABLE@375..383
                Ident@375..382 "current"
                Whitespace@382..383 " "
              Eq@383..384 "="
              Whitespace@384..385 " "
              EXPR_CALL@385..396
                EXPR_BINARY@385..394
                  EXPR_IDENT@385..390
                    PATH@385..390
                      Ident@385..390 "index"
                  Dot@390..391 "."
                  EXPR_IDENT@391..394
                    PATH@391..394
                      Ident@391..394 "get"
                ARG_LIST@394..396
                  LParen@394..395 "("
                  RParen@395..396 ")"
              Semi@396..397 ";"
              Whitespace@397..406 "\n        "
            STMT_DEFER@406..460
              DeferKeyword@406..411 "defer"
              Whitespace@411..412 " "
              EXPR_CALL@412..450
                EXPR_IDENT@412..419
                  PATH@412..419
                    Ident@412..419 "println"
                ARG_LIST@419..450
                  LParen@419..420 "("
                  ARG@420..449
                    EXPR_BINARY@420..449
                      EXPR_STR@420..428
                        Str@420..427 "\"loop:\""
                        Whitespace@427..428 " "
                      Plus@428..429 "+"
                      Whitespace@429..430 " "
                      EXPR_CALL@430..449
                        EXPR_BINARY@430..447
                          EXPR_IDENT@430..437
                            PATH@430..437
                              Ident@430..437 "current"
                          Dot@437..438 "."
                          EXPR_IDENT@438..447
                            PATH@438..447
                              Ident@438..447 "to_string"
                        ARG_LIST@447..449
                          LParen@447..448 "("
                          RParen@448..449 ")"
                  RParen@449..450 ")"
              Semi@450..451 ";"
              Whitespace@451..460 "\n        "
            STMT_EXPR@460..492
              EXPR_CALL@460..482
                EXPR_BINARY@460..469
                  EXPR_IDENT@460..465
                    PATH@460..465
                      Ident@460..465 "index"
                  Dot@465..466 "."
                  EXPR_IDENT@466..469
                    PATH@466..469
                      Ident@466..469 "set"
                ARG_LIST@469..482
                  LParen@469..470 "("
                  ARG@470..481
                    EXPR_BINARY@470..481
                      EXPR_IDENT@470..478
                        PATH@470..478
                          Ident@470..477 "current"
                          Whitespace@477..478 " "
                      Plus@478..479 "+"
                      Whitespace@479..480 " "
                      EXPR_INT@480..481
                        Int@480..481 "1"
                  RParen@481..482 ")"
              Semi@482..483 ";"
              Whitespace@483..492 "\n        "
            EXPR_IF@492..606
              IfKeyword@492..494 "if"
              Whitespace@494..495 " "
              EXPR_IF_COND@495..508
                EXPR_BINARY@495..508
                  EXPR_IDENT@495..503
                    PATH@495..503
                      Ident@495..502 "current"
                      Whitespace@502..503 " "
                  EqEq@503..505 "=="
                  Whitespace@505..506 " "
                  EXPR_INT@506..508
                    Int@506..507 "0"
                    Whitespace@507..508 " "
              EXPR_IF_THEN@508..542
                BLOCK@508..542
                  LBrace@508..509 "{"
                  Whitespace@509..522 "\n            "
                  STMT_EXPR@522..540
                    EXPR_CONTINUE@522..530
                      ContinueKeyword@522..530 "continue"
                    Semi@530..531 ";"
                    Whitespace@531..540 "\n        "
                  RBrace@540..541 "}"
                  Whitespace@541..542 " "
              ElseKeyword@542..546 "else"
              Whitespace@546..547 " "
              EXPR_IF_ELSE@547..606
                EXPR_IF@547..606
                  IfKeyword@547..549 "if"
                  Whitespace@549..550 " "
                  EXPR_IF_COND@550..563
                    EXPR_BINARY@550..563
                      EXPR_IDENT@550..558
                        PATH@550..558
                          Ident@550..557 "current"
                          Whitespace@557..558 " "
                      EqEq@558..560 "=="
                      Whitespace@560..561 " "
                      EXPR_INT@561..563
                        Int@561..562 "1"
                        Whitespace@562..563 " "
                  EXPR_IF_THEN@563..594
                    BLOCK@563..594
                      LBrace@563..564 "{"
                      Whitespace@564..577 "\n            "
                      STMT_EXPR@577..592
                        EXPR_BREAK@577..582
                          BreakKeyword@577..582 "break"
                        Semi@582..583 ";"
                        Whitespace@583..592 "\n        "
                      RBrace@592..593 "}"
                      Whitespace@593..594 " "
                  ElseKeyword@594..598 "else"
                  Whitespace@598..599 " "
                  EXPR_IF_ELSE@599..606
                    BLOCK@599..606
                      LBrace@599..600 "{"
                      RBrace@600..601 "}"
                      Whitespace@601..606 "\n    "
            RBrace@606..607 "}"
            Whitespace@607..608 "\n"
      RBrace@608..609 "}"
      Whitespace@609..611 "\n\n"
  FN@611..749
    FnKeyword@611..613 "fn"
    Whitespace@613..614 " "
    Ident@614..630 "observed_at_exit"
    PARAM_LIST@630..633
      LParen@630..631 "("
      RParen@631..632 ")"
      Whitespace@632..633 " "
    Arrow@633..635 "->"
    Whitespace@635..636 " "
    TYPE_TUPLE@636..639
      TYPE_LIST@636..639
        LParen@636..637 "("
        RParen@637..638 ")"
        Whitespace@638..639 " "
    BLOCK@639..749
      LBrace@639..640 "{"
      Whitespace@640..645 "\n    "
      STMT_LET@645..681
        LetKeyword@645..648 "let"
        Whitespace@648..649 " "
        PATTERN_VARIABLE@649..655
          Ident@649..654 "value"
          Whitespace@654..655 " "
        Eq@655..656 "="
        Whitespace@656..657 " "
        EXPR_CALL@657..675
          EXPR_IDENT@657..665
            PATH@657..665
              Ident@657..660 "Ref"
              ColonColon@660..662 "::"
              Ident@662..665 "new"
          ARG_LIST@665..675
            LParen@665..666 "("
            ARG@666..674
              EXPR_STR@666..674
                Str@666..674 "\"before\""
            RParen@674..675 ")"
        Semi@675..676 ";"
        Whitespace@676..681 "\n    "
      STMT_DEFER@681..727
        DeferKeyword@681..686 "defer"
        Whitespace@686..687 " "
        EXPR_CALL@687..721
          EXPR_IDENT@687..694
            PATH@687..694
              Ident@687..694 "println"
          ARG_LIST@694..721
            LParen@694..695 "("
            ARG@695..720
              EXPR_BINARY@695..720
                EXPR_STR@695..707
                  Str@695..706 "\"observed:\""
                  Whitespace@706..707 " "
                Plus@707..708 "+"
                Whitespace@708..709 " "
                EXPR_CALL@709..720
                  EXPR_BINARY@709..718
                    EXPR_IDENT@709..714
                      PATH@709..714
                        Ident@709..714 "value"
                    Dot@714..715 "."
                    EXPR_IDENT@715..718
                      PATH@715..718
                        Ident@715..718 "get"
                  ARG_LIST@718..720
                    LParen@718..719 "("
                    RParen@719..720 ")"
            RParen@720..721 ")"
        Semi@721..722 ";"
        Whitespace@722..727 "\n    "
      EXPR_CALL@727..746
        EXPR_BINARY@727..736
          EXPR_IDENT@727..732
            PATH@727..732
              Ident@727..732 "value"
          Dot@732..733 "."
          EXPR_IDENT@733..736
            PATH@733..736
              Ident@733..736 "set"
        ARG_LIST@736..746
          LParen@736..737 "("
          ARG@737..744
            EXPR_STR@737..744
              Str@737..744 "\"after\""
          RParen@744..745 ")"
          Whitespace@745..746 "\n"
      RBrace@746..747 "}"
      Whitespace@747..749 "\n\n"
  FN@749..965
    FnKeyword@749..751 "fn"
    Whitespace@751..752 " "
    Ident@752..767 "pattern_cleanup"
    PARAM_LIST@767..790
      LParen@767..768 "("
      PARAM@768..788
        Ident@768..773 "value"
        Colon@773..774 ":"
        Whitespace@774..775 " "
        TYPE_TAPP@775..788
          PATH@775..781
            Ident@775..781 "Option"
          TYPE_PARAM_LIST@781..788
            LBracket@781..782 "["
            TYPE_INT@782..787
              IsizeKeyword@782..787 "isize"
            RBracket@787..788 "]"
      RParen@788..789 ")"
      Whitespace@789..790 " "
    Arrow@790..792 "->"
    Whitespace@792..793 " "
    TYPE_INT@793..799
      IsizeKeyword@793..798 "isize"
      Whitespace@798..799 " "
    BLOCK@799..965
      LBrace@799..800 "{"
      Whitespace@800..805 "\n    "
      STMT_DEFER@805..843
        DeferKeyword@805..810 "defer"
        Whitespace@810..811 " "
        EXPR_CALL@811..837
          EXPR_IDENT@811..818
            PATH@811..818
              Ident@811..818 "println"
          ARG_LIST@818..837
            LParen@818..819 "("
            ARG@819..836
              EXPR_STR@819..836
                Str@819..836 "\"pattern:cleanup\""
            RParen@836..837 ")"
        Semi@837..838 ";"
        Whitespace@838..843 "\n    "
      STMT_LET@843..912
        LetKeyword@843..846 "let"
        Whitespace@846..847 " "
        PATTERN_CONSTR@847..868
          PATH@847..859
            Ident@847..853 "Option"
            ColonColon@853..855 "::"
            Ident@855..859 "Some"
          LParen@859..860 "("
          PATTERN_VARIABLE@860..866
            Ident@860..866 "number"
          RParen@866..867 ")"
          Whitespace@867..868 " "
        Eq@868..869 "="
        Whitespace@869..870 " "
        EXPR_IDENT@870..876
          PATH@870..876
            Ident@870..875 "value"
            Whitespace@875..876 " "
        ElseKeyword@876..880 "else"
        Whitespace@880..881 " "
        BLOCK@881..906
          LBrace@881..882 "{"
          Whitespace@882..891 "\n        "
          STMT_EXPR@891..905
            EXPR_RETURN@891..899
              ReturnKeyword@891..897 "return"
              Whitespace@897..898 " "
              EXPR_INT@898..899
                Int@898..899 "0"
            Semi@899..900 ";"
            Whitespace@900..905 "\n    "
          RBrace@905..906 "}"
        Semi@906..907 ";"
        Whitespace@907..912 "\n    "
      STMT_LET@912..949
        LetKeyword@912..915 "let"
        Whitespace@915..916 " "
        PATTERN_TUPLE@916..930
          LParen@916..917 "("
          PATTERN_VARIABLE@917..921
            Ident@917..921 "left"
          Comma@921..922 ","
          Whitespace@922..923 " "
          PATTERN_VARIABLE@923..928
            Ident@923..928 "right"
          RParen@928..929 ")"
          Whitespace@929..930 " "
        Eq@930..931 "="
        Whitespace@931..932 " "
        EXPR_TUPLE@932..943
          LParen@932..933 "("
          EXPR_IDENT@933..939
            PATH@933..939
              Ident@933..939 "number"
          Comma@939..940 ","
          Whitespace@940..941 " "
          EXPR_INT@941..942
            Int@941..942 "2"
          RParen@942..943 ")"
        Semi@943..944 ";"
        Whitespace@944..949 "\n    "
      EXPR_BINARY@949..962
        EXPR_IDENT@949..954
          PATH@949..954
            Ident@949..953 "left"
            Whitespace@953..954 " "
        Plus@954..955 "+"
        Whitespace@955..956 " "
        EXPR_IDENT@956..962
          PATH@956..962
            Ident@956..961 "right"
            Whitespace@961..962 "\n"
      RBrace@962..963 "}"
      Whitespace@963..965 "\n\n"
  FN@965..1171
    FnKeyword@965..967 "fn"
    Whitespace@967..968 " "
    Ident@968..983 "closure_cleanup"
    PARAM_LIST@983..986
      LParen@983..984 "("
      RParen@984..985 ")"
      Whitespace@985..986 " "
    Arrow@986..988 "->"
    Whitespace@988..989 " "
    TYPE_TUPLE@989..992
      TYPE_LIST@989..992
        LParen@989..990 "("
        RParen@990..991 ")"
        Whitespace@991..992 " "
    BLOCK@992..1171
      LBrace@992..993 "{"
      Whitespace@993..998 "\n    "
      STMT_DEFER@998..1034
        DeferKeyword@998..1003 "defer"
        Whitespace@1003..1004 " "
        EXPR_CALL@1004..1028
          EXPR_IDENT@1004..1011
            PATH@1004..1011
              Ident@1004..1011 "println"
          ARG_LIST@1011..1028
            LParen@1011..1012 "("
            ARG@1012..1027
              EXPR_STR@1012..1027
                Str@1012..1027 "\"closure:outer\""
            RParen@1027..1028 ")"
        Semi@1028..1029 ";"
        Whitespace@1029..1034 "\n    "
      STMT_LET@1034..1132
        LetKeyword@1034..1037 "let"
        Whitespace@1037..1038 " "
        PATTERN_VARIABLE@1038..1042
          Ident@1038..1041 "run"
          Whitespace@1041..1042 " "
        Eq@1042..1043 "="
        Whitespace@1043..1044 " "
        EXPR_CLOSURE@1044..1126
          CLOSURE_PARAM_LIST@1044..1047
            OrOr@1044..1046 "||"
            Whitespace@1046..1047 " "
          EXPR_CLOSURE_BODY@1047..1126
            BLOCK@1047..1126
              LBrace@1047..1048 "{"
              Whitespace@1048..1057 "\n        "
              STMT_DEFER@1057..1097
                DeferKeyword@1057..1062 "defer"
                Whitespace@1062..1063 " "
                EXPR_CALL@1063..1087
                  EXPR_IDENT@1063..1070
                    PATH@1063..1070
                      Ident@1063..1070 "println"
                  ARG_LIST@1070..1087
                    LParen@1070..1071 "("
                    ARG@1071..1086
                      EXPR_STR@1071..1086
                        Str@1071..1086 "\"closure:inner\""
                    RParen@1086..1087 ")"
                Semi@1087..1088 ";"
                Whitespace@1088..1097 "\n        "
              EXPR_CALL@1097..1125
                EXPR_IDENT@1097..1104
                  PATH@1097..1104
                    Ident@1097..1104 "println"
                ARG_LIST@1104..1125
                  LParen@1104..1105 "("
                  ARG@1105..1119
                    EXPR_STR@1105..1119
                      Str@1105..1119 "\"closure:body\""
                  RParen@1119..1120 ")"
                  Whitespace@1120..1125 "\n    "
              RBrace@1125..1126 "}"
        Semi@1126..1127 ";"
        Whitespace@1127..1132 "\n    "
      STMT_EXPR@1132..1143
        EXPR_CALL@1132..1137
          EXPR_IDENT@1132..1135
            PATH@1132..1135
              Ident@1132..1135 "run"
          ARG_LIST@1135..1137
            LParen@1135..1136 "("
            RParen@1136..1137 ")"
        Semi@1137..1138 ";"
        Whitespace@1138..1143 "\n    "
      EXPR_CALL@1143..1168
        EXPR_IDENT@1143..1150
          PATH@1143..1150
            Ident@1143..1150 "println"
        ARG_LIST@1150..1168
          LParen@1150..1151 "("
          ARG@1151..1166
            EXPR_STR@1151..1166
              Str@1151..1166 "\"closure:after\""
          RParen@1166..1167 ")"
          Whitespace@1167..1168 "\n"
      RBrace@1168..1169 "}"
      Whitespace@1169..1171 "\n\n"
  FN@1171..1582
    FnKeyword@1171..1173 "fn"
    Whitespace@1173..1174 " "
    Ident@1174..1178 "main"
    PARAM_LIST@1178..1181
      LParen@1178..1179 "("
      RParen@1179..1180 ")"
      Whitespace@1180..1181 " "
    Arrow@1181..1183 "->"
    Whitespace@1183..1184 " "
    TYPE_TUPLE@1184..1187
      TYPE_LIST@1184..1187
        LParen@1184..1185 "("
        RParen@1185..1186 ")"
        Whitespace@1186..1187 " "
    BLOCK@1187..1582
      LBrace@1187..1188 "{"
      Whitespace@1188..1193 "\n    "
      STMT_DEFER@1193..1226
        DeferKeyword@1193..1198 "defer"
        Whitespace@1198..1199 " "
        EXPR_CALL@1199..1220
          EXPR_IDENT@1199..1206
            PATH@1199..1206
              Ident@1199..1206 "println"
          ARG_LIST@1206..1220
            LParen@1206..1207 "("
            ARG@1207..1219
              EXPR_STR@1207..1219
                Str@1207..1219 "\"main:first\""
            RParen@1219..1220 ")"
        Semi@1220..1221 ";"
        Whitespace@1221..1226 "\n    "
      STMT_DEFER@1226..1260
        DeferKeyword@1226..1231 "defer"
        Whitespace@1231..1232 " "
        EXPR_CALL@1232..1254
          EXPR_IDENT@1232..1239
            PATH@1232..1239
              Ident@1232..1239 "println"
          ARG_LIST@1239..1254
            LParen@1239..1240 "("
            ARG@1240..1253
              EXPR_STR@1240..1253
                Str@1240..1253 "\"main:second\""
            RParen@1253..1254 ")"
        Semi@1254..1255 ";"
        Whitespace@1255..1260 "\n    "
      STMT_EXPR@1260..1329
        EXPR_BLOCK@1260..1323
          BLOCK@1260..1323
            LBrace@1260..1261 "{"
            Whitespace@1261..1270 "\n        "
            STMT_DEFER@1270..1302
              DeferKeyword@1270..1275 "defer"
              Whitespace@1275..1276 " "
              EXPR_CALL@1276..1292
                EXPR_IDENT@1276..1283
                  PATH@1276..1283
                    Ident@1276..1283 "println"
                ARG_LIST@1283..1292
                  LParen@1283..1284 "("
                  ARG@1284..1291
                    EXPR_STR@1284..1291
                      Str@1284..1291 "\"block\""
                  RParen@1291..1292 ")"
              Semi@1292..1293 ";"
              Whitespace@1293..1302 "\n        "
            EXPR_CALL@1302..1322
              EXPR_IDENT@1302..1309
                PATH@1302..1309
                  Ident@1302..1309 "println"
              ARG_LIST@1309..1322
                LParen@1309..1310 "("
                ARG@1310..1316
                  EXPR_STR@1310..1316
                    Str@1310..1316 "\"body\""
                RParen@1316..1317 ")"
                Whitespace@1317..1322 "\n    "
            RBrace@1322..1323 "}"
        Semi@1323..1324 ";"
        Whitespace@1324..1329 "\n    "
      STMT_EXPR@1329..1370
        EXPR_CALL@1329..1364
          EXPR_IDENT@1329..1336
            PATH@1329..1336
              Ident@1329..1336 "println"
          ARG_LIST@1336..1364
            LParen@1336..1337 "("
            ARG@1337..1363
              EXPR_CALL@1337..1363
                EXPR_BINARY@1337..1361
                  EXPR_CALL@1337..1351
                    EXPR_IDENT@1337..1349
                      PATH@1337..1349
                        Ident@1337..1349 "early_return"
                    ARG_LIST@1349..1351
                      LParen@1349..1350 "("
                      RParen@1350..1351 ")"
                  Dot@1351..1352 "."
                  EXPR_IDENT@1352..1361
                    PATH@1352..1361
                      Ident@1352..1361 "to_string"
                ARG_LIST@1361..1363
                  LParen@1361..1362 "("
                  RParen@1362..1363 ")"
            RParen@1363..1364 ")"
        Semi@1364..1365 ";"
        Whitespace@1365..1370 "\n    "
      STMT_LET@1370..1403
        LetKeyword@1370..1373 "let"
        Whitespace@1373..1374 " "
        PATTERN_WILDCARD@1374..1376
          WildcardKeyword@1374..1375 "_"
          Whitespace@1375..1376 " "
        Eq@1376..1377 "="
        Whitespace@1377..1378 " "
        EXPR_CALL@1378..1397
          EXPR_IDENT@1378..1383
            PATH@1378..1383
              Ident@1378..1383 "maybe"
          ARG_LIST@1383..1397
            LParen@1383..1384 "("
            ARG@1384..1396
              EXPR_IDENT@1384..1396
                PATH@1384..1396
                  Ident@1384..1390 "Option"
                  ColonColon@1390..1392 "::"
                  Ident@1392..1396 "None"
            RParen@1396..1397 ")"
        Semi@1397..1398 ";"
        Whitespace@1398..1403 "\n    "
      STMT_EXPR@1403..1423
        EXPR_CALL@1403..1417
          EXPR_IDENT@1403..1415
            PATH@1403..1415
              Ident@1403..1415 "loop_cleanup"
          ARG_LIST@1415..1417
            LParen@1415..1416 "("
            RParen@1416..1417 ")"
        Semi@1417..1418 ";"
        Whitespace@1418..1423 "\n    "
      STMT_EXPR@1423..1447
        EXPR_CALL@1423..1441
          EXPR_IDENT@1423..1439
            PATH@1423..1439
              Ident@1423..1439 "observed_at_exit"
          ARG_LIST@1439..1441
            LParen@1439..1440 "("
            RParen@1440..1441 ")"
        Semi@1441..1442 ";"
        Whitespace@1442..1447 "\n    "
      STMT_EXPR@1447..1506
        EXPR_CALL@1447..1500
          EXPR_IDENT@1447..1454
            PATH@1447..1454
              Ident@1447..1454 "println"
          ARG_LIST@1454..1500
            LParen@1454..1455 "("
            ARG@1455..1499
              EXPR_CALL@1455..1499
                EXPR_BINARY@1455..1497
                  EXPR_CALL@1455..1487
                    EXPR_IDENT@1455..1470
                      PATH@1455..1470
                        Ident@1455..1470 "pattern_cleanup"
                    ARG_LIST@1470..1487
                      LParen@1470..1471 "("
                      ARG@1471..1486
                        EXPR_CALL@1471..1486
                          EXPR_IDENT@1471..1483
                            PATH@1471..1483
                              Ident@1471..1477 "Option"
                              ColonColon@1477..1479 "::"
                              Ident@1479..1483 "Some"
                          ARG_LIST@1483..1486
                            LParen@1483..1484 "("
                            ARG@1484..1485
                              EXPR_INT@1484..1485
                                Int@1484..1485 "3"
                            RParen@1485..1486 ")"
                      RParen@1486..1487 ")"
                  Dot@1487..1488 "."
                  EXPR_IDENT@1488..1497
                    PATH@1488..1497
                      Ident@1488..1497 "to_string"
                ARG_LIST@1497..1499
                  LParen@1497..1498 "("
                  RParen@1498..1499 ")"
            RParen@1499..1500 ")"
        Semi@1500..1501 ";"
        Whitespace@1501..1506 "\n    "
      STMT_EXPR@1506..1562
        EXPR_CALL@1506..1556
          EXPR_IDENT@1506..1513
            PATH@1506..1513
              Ident@1506..1513 "println"
          ARG_LIST@1513..1556
            LParen@1513..1514 "("
            ARG@1514..1555
              EXPR_CALL@1514..1555
                EXPR_BINARY@1514..1553
                  EXPR_CALL@1514..1543
                    EXPR_IDENT@1514..1529
                      PATH@1514..1529
                        Ident@1514..1529 "pattern_cleanup"
                    ARG_LIST@1529..1543
                      LParen@1529..1530 "("
                      ARG@1530..1542
                        EXPR_IDENT@1530..1542
                          PATH@1530..1542
                            Ident@1530..1536 "Option"
                            ColonColon@1536..1538 "::"
                            Ident@1538..1542 "None"
                      RParen@1542..1543 ")"
                  Dot@1543..1544 "."
                  EXPR_IDENT@1544..1553
                    PATH@1544..1553
                      Ident@1544..1553 "to_string"
                ARG_LIST@1553..1555
                  LParen@1553..1554 "("
                  RParen@1554..1555 ")"
            RParen@1555..1556 ")"
        Semi@1556..1557 ";"
        Whitespace@1557..1562 "\n    "
      EXPR_CALL@1562..1580
        EXPR_IDENT@1562..1577
          PATH@1562..1577
            Ident@1562..1577 "closure_cleanup"
        ARG_LIST@1577..1580
          LParen@1577..1578 "("
          RParen@1578..1579 ")"
          Whitespace@1579..1580 "\n"
      RBrace@1580..1581 "}"
      Whitespace@1581..1582 "\n"