FILE@0..382
  TRAIT@0..55
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..12 "Render"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    Whitespace@14..19 "\n    "
    TRAIT_METHOD_SIG_LIST@19..55
      TRAIT_METHOD_SIG@19..52
        FnKeyword@19..21 "fn"
        Whitespace@21..22 " "
        Ident@22..28 "format"
        PARAM_LIST@28..41
          LParen@28..29 "("
          PARAM@29..39
            Ident@29..33 "self"
            Colon@33..34 ":"
            Whitespace@34..35 " "
            TYPE_TAPP@35..39
              PATH@35..39
                Ident@35..39 "Self"
          RParen@39..40 ")"
          Whitespace@40..41 " "
        Arrow@41..43 "->"
        Whitespace@43..44 " "
        TYPE_STRING@44..50
          StringKeyword@44..50 "string"
        Semi@50..51 ";"
        Whitespace@51..52 "\n"
      RBrace@52..53 "}"
      Whitespace@53..55 "\n\n"
  STRUCT@55..89
    StructKeyword@55..61 "struct"
    Whitespace@61..62 " "
    Ident@62..67 "Boxed"
    Whitespace@67..68 " "
    LBrace@68..69 "{"
    Whitespace@69..74 "\n    "
    STRUCT_FIELD_LIST@74..89
      STRUCT_FIELD@74..84
        Ident@74..79 "value"
        Colon@79..80 ":"
        Whitespace@80..81 " "
        TYPE_INT32@81..84
          I32Keyword@81..84 "i32"
      Comma@84..85 ","
      Whitespace@85..86 "\n"
      RBrace@86..87 "}"
      Whitespace@87..89 "\n\n"
  IMPL@89..168
    ImplKeyword@89..93 "impl"
    Whitespace@93..94 " "
    TYPE_TAPP@94..100
      PATH@94..100
        Ident@94..99 "Boxed"
        Whitespace@99..100 " "
    LBrace@100..101 "{"
    Whitespace@101..106 "\n    "
    FN@106..165
      FnKeyword@106..108 "fn"
      Whitespace@108..109 " "
      Ident@109..115 "format"
      PARAM_LIST@115..128
        LParen@115..116 "("
        PARAM@116..126
          Ident@116..120 "self"
          Colon@120..121 ":"
          Whitespace@121..122 " "
          TYPE_TAPP@122..126
            PATH@122..126
              Ident@122..126 "Self"
        RParen@126..127 ")"
        Whitespace@127..128 " "
      Arrow@128..130 "->"
      Whitespace@130..131 " "
      TYPE_STRING@131..138
        StringKeyword@131..137 "string"
        Whitespace@137..138 " "
      BLOCK@138..165
        LBrace@138..139 "{"
        Whitespace@139..148 "\n        "
        EXPR_STR@148..163
          Str@148..158 "\"inherent\""
          Whitespace@158..163 "\n    "
        RBrace@163..164 "}"
        Whitespace@164..165 "\n"
    RBrace@165..166 "}"
    Whitespace@166..168 "\n\n"
  IMPL@168..271
    ImplKeyword@168..172 "impl"
    Whitespace@172..173 " "
    TYPE_TAPP@173..180
      PATH@173..180
        Ident@173..179 "Render"
        Whitespace@179..180 " "
    ForKeyword@180..183 "for"
    Whitespace@183..184 " "
    TYPE_TAPP@184..190
      PATH@184..190
        Ident@184..189 "Boxed"
        Whitespace@189..190 " "
    LBrace@190..191 "{"
    Whitespace@191..196 "\n    "
    FN@196..268
      FnKeyword@196..198 "fn"
      Whitespace@198..199 " "
      Ident@199..205 "format"
      PARAM_LIST@205..219
        LParen@205..206 "("
        PARAM@206..217
          Ident@206..210 "self"
          Colon@210..211 ":"
          Whitespace@211..212 " "
          TYPE_TAPP@212..217
            PATH@212..217
              Ident@212..217 "Boxed"
        RParen@217..218 ")"
        Whitespace@218..219 " "
      Arrow@219..221 "->"
      Whitespace@221..222 " "
      TYPE_STRING@222..229
        StringKeyword@222..228 "string"
        Whitespace@228..229 " "
      BLOCK@229..268
        LBrace@229..230 "{"
        Whitespace@230..239 "\n        "
        EXPR_CALL@239..266
          EXPR_BINARY@239..259
            EXPR_BINARY@239..249
              EXPR_IDENT@239..243
                PATH@239..243
                  Ident@239..243 "self"
              Dot@243..244 "."
              EXPR_IDENT@244..249
                PATH@244..249
                  Ident@244..249 "value"
            Dot@249..250 "."
            EXPR_IDENT@250..259
              PATH@250..259
                Ident@250..259 "to_string"
          ARG_LIST@259..266
            LParen@259..260 "("
            RParen@260..261 ")"
            Whitespace@261..266 "\n    "
        RBrace@266..267 "}"
        Whitespace@267..268 "\n"
    RBrace@268..269 "}"
    Whitespace@269..271 "\n\n"
  FN@271..382
    FnKeyword@271..273 "fn"
    Whitespace@273..274 " "
    Ident@274..278 "main"
    PARAM_LIST@278..281
      LParen@278..279 "("
      RParen@279..280 ")"
      Whitespace@280..281 " "
    BLOCK@281..382
      LBrace@281..282 "{"
      Whitespace@282..287 "\n    "
      STMT_EXPR@287..335
        EXPR_CALL@287..329
          EXPR_IDENT@287..294
            PATH@287..294
              Ident@287..294 "println"
          ARG_LIST@294..329
            LParen@294..295 "("
            ARG@295..328
              EXPR_CALL@295..328
                EXPR_IDENT@295..308
                  PATH@295..308
                    Ident@295..300 "Boxed"
                    ColonColon@300..302 "::"
                    Ident@302..308 "format"
                ARG_LIST@308..328
                  LParen@308..309 "("
                  ARG@309..327
                    EXPR_STRUCT_LITERAL@309..327
                      PATH@309..315
                        Ident@309..314 "Boxed"
                        Whitespace@314..315 " "
                      STRUCT_LITERAL_FIELD_LIST@315..327
                        LBrace@315..316 "{"
                        Whitespace@316..317 " "
                        STRUCT_LITERAL_FIELD@317..326
                          Ident@317..322 "value"
                          Colon@322..323 ":"
                          Whitespace@323..324 " "
                          EXPR_INT@324..326
                            Int@324..325 "9"
                            Whitespace@325..326 " "
                        RBrace@326..327 "}"
                  RParen@327..328 ")"
            RParen@328..329 ")"
        Semi@329..330 ";"
        Whitespace@330..335 "\n    "
      STMT_EXPR@335..380
        EXPR_CALL@335..378
          EXPR_IDENT@335..342
            PATH@335..342
              Ident@335..342 "println"
          ARG_LIST@342..378
            LParen@342..343 "("
            ARG@343..377
              EXPR_CALL@343..377
                EXPR_IDENT@343..357
                  PATH@343..357
                    Ident@343..349 "Render"
                    ColonColon@349..351 "::"
                    Ident@351..357 "format"
                ARG_LIST@357..377
                  LParen@357..358 "("
                  ARG@358..376
                    EXPR_STRUCT_LITERAL@358..376
                      PATH@358..364
                        Ident@358..363 "Boxed"
                        Whitespace@363..364 " "
                      STRUCT_LITERAL_FIELD_LIST@364..376
                        LBrace@364..365 "{"
                        Whitespace@365..366 " "
                        STRUCT_LITERAL_FIELD@366..375
                          Ident@366..371 "value"
                          Colon@371..372 ":"
                          Whitespace@372..373 " "
                          EXPR_INT@373..375
                            Int@373..374 "9"
                            Whitespace@374..375 " "
                        RBrace@375..376 "}"
                  RParen@376..377 ")"
            RParen@377..378 ")"
        Semi@378..379 ";"
        Whitespace@379..380 "\n"
      RBrace@380..381 "}"
      Whitespace@381..382 "\n"