FILE@0..582
  STRUCT@0..44
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    GENERIC_LIST@12..19
      LBracket@12..13 "["
      GENERIC@13..14
        Ident@13..14 "U"
      Comma@14..15 ","
      Whitespace@15..16 " "
      GENERIC@16..17
        Ident@16..17 "V"
      RBracket@17..18 "]"
      Whitespace@18..19 " "
    LBrace@19..20 "{"
    Whitespace@20..25 "\n    "
    STRUCT_FIELD_LIST@25..44
      STRUCT_FIELD@25..29
        Ident@25..26 "x"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_TAPP@28..29
          PATH@28..29
            Ident@28..29 "U"
      Comma@29..30 ","
      Whitespace@30..35 "\n    "
      STRUCT_FIELD@35..39
        Ident@35..36 "y"
        Colon@36..37 ":"
        Whitespace@37..38 " "
        TYPE_TAPP@38..39
          PATH@38..39
            Ident@38..39 "V"
      Comma@39..40 ","
      Whitespace@40..41 "\n"
      RBrace@41..42 "}"
      Whitespace@42..44 "\n\n"
  IMPL@44..296
    ImplKeyword@44..48 "impl"
    GENERIC_LIST@48..55
      LBracket@48..49 "["
      GENERIC@49..50
        Ident@49..50 "U"
      Comma@50..51 ","
      Whitespace@51..52 " "
      GENERIC@52..53
        Ident@52..53 "V"
      RBracket@53..54 "]"
      Whitespace@54..55 " "
    TYPE_TAPP@55..67
      PATH@55..60
        Ident@55..60 "Point"
      TYPE_PARAM_LIST@60..67
        LBracket@60..61 "["
        TYPE_TAPP@61..62
          PATH@61..62
            Ident@61..62 "U"
        Comma@62..63 ","
        Whitespace@63..64 " "
        TYPE_TAPP@64..65
          PATH@64..65
            Ident@64..65 "V"
        RBracket@65..66 "]"
        Whitespace@66..67 " "
    LBrace@67..68 "{"
    Whitespace@68..73 "\n    "
    FN@73..143
      FnKeyword@73..75 "fn"
      Whitespace@75..76 " "
      Ident@76..79 "new"
      PARAM_LIST@79..92
        LParen@79..80 "("
        PARAM@80..86
          Ident@80..81 "x"
          Colon@81..82 ":"
          Whitespace@82..83 " "
          TYPE_TAPP@83..84
            PATH@83..84
              Ident@83..84 "U"
          Comma@84..85 ","
          Whitespace@85..86 " "
        PARAM@86..90
          Ident@86..87 "y"
          Colon@87..88 ":"
          Whitespace@88..89 " "
          TYPE_TAPP@89..90
            PATH@89..90
              Ident@89..90 "V"
        RParen@90..91 ")"
        Whitespace@91..92 " "
      Arrow@92..94 "->"
      Whitespace@94..95 " "
      TYPE_TAPP@95..107
        PATH@95..100
          Ident@95..100 "Point"
        TYPE_PARAM_LIST@100..107
          LBracket@100..101 "["
          TYPE_TAPP@101..102
            PATH@101..102
              Ident@101..102 "U"
          Comma@102..103 ","
          Whitespace@103..104 " "
          TYPE_TAPP@104..105
            PATH@104..105
              Ident@104..105 "V"
          RBracket@105..106 "]"
          Whitespace@106..107 " "
      BLOCK@107..143
        LBrace@107..108 "{"
        Whitespace@108..117 "\n        "
        EXPR_STRUCT_LITERAL@117..136
          PATH@117..123
            Ident@117..122 "Point"
            Whitespace@122..123 " "
          STRUCT_LITERAL_FIELD_LIST@123..136
            LBrace@123..124 "{"
            Whitespace@124..125 " "
            STRUCT_LITERAL_FIELD@125..126
              Ident@125..126 "x"
            Comma@126..127 ","
            Whitespace@127..128 " "
            STRUCT_LITERAL_FIELD@128..130
              Ident@128..129 "y"
              Whitespace@129..130 " "
            RBrace@130..131 "}"
            Whitespace@131..136 "\n    "
        RBrace@136..137 "}"
        Whitespace@137..143 "\n\n    "
    FN@143..237
      FnKeyword@143..145 "fn"
      Whitespace@145..146 " "
      Ident@146..150 "swap"
      PARAM_LIST@150..170
        LParen@150..151 "("
        PARAM@151..168
          Ident@151..155 "self"
          Colon@155..156 ":"
          Whitespace@156..157 " "
          TYPE_TAPP@157..168
            PATH@157..162
              Ident@157..162 "Point"
            TYPE_PARAM_LIST@162..168
              LBracket@162..163 "["
              TYPE_TAPP@163..164
                PATH@163..164
                  Ident@163..164 "U"
              Comma@164..165 ","
              Whitespace@165..166 " "
              TYPE_TAPP@166..167
                PATH@166..167
                  Ident@166..167 "V"
              RBracket@167..168 "]"
        RParen@168..169 ")"
        Whitespace@169..170 " "
      Arrow@170..172 "->"
      Whitespace@172..173 " "
      TYPE_TAPP@173..185
        PATH@173..178
          Ident@173..178 "Point"
        TYPE_PARAM_LIST@178..185
          LBracket@178..179 "["
          TYPE_TAPP@179..180
            PATH@179..180
              Ident@179..180 "V"
          Comma@180..181 ","
          Whitespace@181..182 " "
          TYPE_TAPP@182..183
            PATH@182..183
              Ident@182..183 "U"
          RBracket@183..184 "]"
          Whitespace@184..185 " "
      BLOCK@185..237
        LBrace@185..186 "{"
        Whitespace@186..195 "\n        "
        EXPR_STRUCT_LITERAL@195..230
          PATH@195..201
            Ident@195..200 "Point"
            Whitespace@200..201 " "
          STRUCT_LITERAL_FIELD_LIST@201..230
            LBrace@201..202 "{"
            Whitespace@202..203 " "
            STRUCT_LITERAL_FIELD@203..212
              Ident@203..204 "x"
              Colon@204..205 ":"
              Whitespace@205..206 " "
              EXPR_BINARY@206..212
                EXPR_IDENT@206..210
                  PATH@206..210
                    Ident@206..210 "self"
                Dot@210..211 "."
                EXPR_IDENT@211..212
                  PATH@211..212
                    Ident@211..212 "y"
            Comma@212..213 ","
            Whitespace@213..214 " "
            STRUCT_LITERAL_FIELD@214..224
              Ident@214..215 "y"
              Colon@215..216 ":"
              Whitespace@216..217 " "
              EXPR_BINARY@217..224
                EXPR_IDENT@217..221
                  PATH@217..221
                    Ident@217..221 "self"
                Dot@221..222 "."
                EXPR_IDENT@222..224
                  PATH@222..224
                    Ident@222..223 "x"
                    Whitespace@223..224 " "
            RBrace@224..225 "}"
            Whitespace@225..230 "\n    "
        RBrace@230..231 "}"
        Whitespace@231..237 "\n\n    "
    FN@237..293
      FnKeyword@237..239 "fn"
      Whitespace@239..240 " "
      Ident@240..245 "get_x"
      PARAM_LIST@245..265
        LParen@245..246 "("
        PARAM@246..263
          Ident@246..250 "self"
          Colon@250..251 ":"
          Whitespace@251..252 " "
          TYPE_TAPP@252..263
            PATH@252..257
              Ident@252..257 "Point"
            TYPE_PARAM_LIST@257..263
              LBracket@257..258 "["
              TYPE_TAPP@258..259
                PATH@258..259
                  Ident@258..259 "U"
              Comma@259..260 ","
              Whitespace@260..261 " "
              TYPE_TAPP@261..262
                PATH@261..262
                  Ident@261..262 "V"
              RBracket@262..263 "]"
        RParen@263..264 ")"
        Whitespace@264..265 " "
      Arrow@265..267 "->"
      Whitespace@267..268 " "
      TYPE_TAPP@268..270
        PATH@268..270
          Ident@268..269 "U"
          Whitespace@269..270 " "
      BLOCK@270..293
        LBrace@270..271 "{"
        Whitespace@271..280 "\n        "
        EXPR_BINARY@280..291
          EXPR_IDENT@280..284
            PATH@280..284
              Ident@280..284 "self"
          Dot@284..285 "."
          EXPR_IDENT@285..291
            PATH@285..291
              Ident@285..286 "x"
              Whitespace@286..291 "\n    "
        RBrace@291..292 "}"
        Whitespace@292..293 "\n"
    RBrace@293..294 "}"
    Whitespace@294..296 "\n\n"
  FN@296..582
    FnKeyword@296..298 "fn"
    Whitespace@298..299 " "
    Ident@299..303 "main"
    PARAM_LIST@303..306
      LParen@303..304 "("
      RParen@304..305 ")"
      Whitespace@305..306 " "
    Arrow@306..308 "->"
    Whitespace@308..309 " "
    TYPE_TUPLE@309..312
      TYPE_LIST@309..312
        LParen@309..310 "("
        RParen@310..311 ")"
        Whitespace@311..312 " "
    BLOCK@312..582
      LBrace@312..313 "{"
      Whitespace@313..318 "\n    "
      STMT_LET@318..376
        LetKeyword@318..321 "let"
        Whitespace@321..322 " "
        PATTERN_VARIABLE@322..324
          Ident@322..324 "p1"
        Colon@324..325 ":"
        Whitespace@325..326 " "
        TYPE_TAPP@326..345
          PATH@326..331
            Ident@326..331 "Point"
          TYPE_PARAM_LIST@331..345
            LBracket@331..332 "["
            TYPE_INT32@332..335
              I32Keyword@332..335 "i32"
            Comma@335..336 ","
            Whitespace@336..337 " "
            TYPE_STRING@337..343
              StringKeyword@337..343 "string"
            RBracket@343..344 "]"
            Whitespace@344..345 " "
        Eq@345..346 "="
        Whitespace@346..347 " "
        EXPR_CALL@347..370
          EXPR_IDENT@347..357
            PATH@347..357
              Ident@347..352 "Point"
              ColonColon@352..354 "::"
              Ident@354..357 "new"
          ARG_LIST@357..370
            LParen@357..358 "("
            ARG@358..362
              EXPR_INT@358..360
                Int@358..360 "10"
              Comma@360..361 ","
              Whitespace@361..362 " "
            ARG@362..369
              EXPR_STR@362..369
                Str@362..369 "\"hello\""
            RParen@369..370 ")"
        Semi@370..371 ";"
        Whitespace@371..376 "\n    "
      STMT_LET@376..440
        LetKeyword@376..379 "let"
        Whitespace@379..380 " "
        PATTERN_VARIABLE@380..382
          Ident@380..382 "p2"
        Colon@382..383 ":"
        Whitespace@383..384 " "
        TYPE_TAPP@384..406
          PATH@384..389
            Ident@384..389 "Point"
          TYPE_PARAM_LIST@389..406
            LBracket@389..390 "["
            TYPE_STRING@390..396
              StringKeyword@390..396 "string"
            Comma@396..397 ","
            Whitespace@397..398 " "
            TYPE_STRING@398..404
              StringKeyword@398..404 "string"
            RBracket@404..405 "]"
            Whitespace@405..406 " "
        Eq@406..407 "="
        Whitespace@407..408 " "
        EXPR_CALL@408..434
          EXPR_IDENT@408..418
            PATH@408..418
              Ident@408..413 "Point"
              ColonColon@413..415 "::"
              Ident@415..418 "new"
          ARG_LIST@418..434
            LParen@418..419 "("
            ARG@419..427
              EXPR_STR@419..425
                Str@419..425 "\"goml\""
              Comma@425..426 ","
              Whitespace@426..427 " "
            ARG@427..433
              EXPR_STR@427..433
                Str@427..433 "\"lang\""
            RParen@433..434 ")"
        Semi@434..435 ";"
        Whitespace@435..440 "\n    "
      STMT_LET@440..484
        LetKeyword@440..443 "let"
        Whitespace@443..444 " "
        PATTERN_VARIABLE@444..446
          Ident@444..446 "p3"
        Colon@446..447 ":"
        Whitespace@447..448 " "
        TYPE_TAPP@448..467
          PATH@448..453
            Ident@448..453 "Point"
          TYPE_PARAM_LIST@453..467
            LBracket@453..454 "["
            TYPE_STRING@454..460
              StringKeyword@454..460 "string"
            Comma@460..461 ","
            Whitespace@461..462 " "
            TYPE_INT32@462..465
              I32Keyword@462..465 "i32"
            RBracket@465..466 "]"
            Whitespace@466..467 " "
        Eq@467..468 "="
        Whitespace@468..469 " "
        EXPR_CALL@469..478
          EXPR_BINARY@469..476
            EXPR_IDENT@469..471
              PATH@469..471
                Ident@469..471 "p1"
            Dot@471..472 "."
            EXPR_IDENT@472..476
              PATH@472..476
                Ident@472..476 "swap"
          ARG_LIST@476..478
            LParen@476..477 "("
            RParen@477..478 ")"
        Semi@478..479 ";"
        Whitespace@479..484 "\n    "
      STMT_LET@484..507
        LetKeyword@484..487 "let"
        Whitespace@487..488 " "
        PATTERN_VARIABLE@488..489
          Ident@488..489 "x"
        Colon@489..490 ":"
        Whitespace@490..491 " "
        TYPE_INT32@491..495
          I32Keyword@491..494 "i32"
          Whitespace@494..495 " "
        Eq@495..496 "="
        Whitespace@496..497 " "
        EXPR_BINARY@497..501
          EXPR_IDENT@497..499
            PATH@497..499
              Ident@497..499 "p3"
          Dot@499..500 "."
          EXPR_IDENT@500..501
            PATH@500..501
              Ident@500..501 "y"
        Semi@501..502 ";"
        Whitespace@502..507 "\n    "
      STMT_EXPR@507..535
        EXPR_CALL@507..529
          EXPR_IDENT@507..514
            PATH@507..514
              Ident@507..514 "println"
          ARG_LIST@514..529
            LParen@514..515 "("
            ARG@515..528
              EXPR_CALL@515..528
                EXPR_BINARY@515..526
                  EXPR_IDENT@515..516
                    PATH@515..516
                      Ident@515..516 "x"
                  Dot@516..517 "."
                  EXPR_IDENT@517..526
                    PATH@517..526
                      Ident@517..526 "to_string"
                ARG_LIST@526..528
                  LParen@526..527 "("
                  RParen@527..528 ")"
            RParen@528..529 ")"
        Semi@529..530 ";"
        Whitespace@530..535 "\n    "
      STMT_LET@535..568
        LetKeyword@535..538 "let"
        Whitespace@538..539 " "
        PATTERN_VARIABLE@539..541
          Ident@539..541 "x2"
        Colon@541..542 ":"
        Whitespace@542..543 " "
        TYPE_STRING@543..550
          StringKeyword@543..549 "string"
          Whitespace@549..550 " "
        Eq@550..551 "="
        Whitespace@551..552 " "
        EXPR_CALL@552..562
          EXPR_BINARY@552..560
            EXPR_IDENT@552..554
              PATH@552..554
                Ident@552..554 "p2"
            Dot@554..555 "."
            EXPR_IDENT@555..560
              PATH@555..560
                Ident@555..560 "get_x"
          ARG_LIST@560..562
            LParen@560..561 "("
            RParen@561..562 ")"
        Semi@562..563 ";"
        Whitespace@563..568 "\n    "
      EXPR_CALL@568..580
        EXPR_IDENT@568..575
          PATH@568..575
            Ident@568..575 "println"
        ARG_LIST@575..580
          LParen@575..576 "("
          ARG@576..578
            EXPR_IDENT@576..578
              PATH@576..578
                Ident@576..578 "x2"
          RParen@578..579 ")"
          Whitespace@579..580 "\n"
      RBrace@580..581 "}"
      Whitespace@581..582 "\n"