FILE@0..590
  STRUCT@0..44
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Point"
    GENERIC_LIST@12..19
      LBracket@12..13 "["
      GENERIC@13..14
        Ident@13..14 "U"
      Comma@14..15 ","
      Whitespace@15..16 " "
      GENERIC@16..17
        Ident@16..17 "V"
      RBracket@17..18 "]"
      Whitespace@18..19 " "
    LBrace@19..20 "{"
    Whitespace@20..25 "\n    "
    STRUCT_FIELD_LIST@25..44
      STRUCT_FIELD@25..29
        Ident@25..26 "x"
        Colon@26..27 ":"
        Whitespace@27..28 " "
        TYPE_TAPP@28..29
          PATH@28..29
            Ident@28..29 "U"
      Comma@29..30 ","
      Whitespace@30..35 "\n    "
      STRUCT_FIELD@35..39
        Ident@35..36 "y"
        Colon@36..37 ":"
        Whitespace@37..38 " "
        TYPE_TAPP@38..39
          PATH@38..39
            Ident@38..39 "V"
      Comma@39..40 ","
      Whitespace@40..41 "\n"
      RBrace@41..42 "}"
      Whitespace@42..44 "\n\n"
  IMPL@44..296
    ImplKeyword@44..48 "impl"
    GENERIC_LIST@48..55
      LBracket@48..49 "["
      GENERIC@49..50
        Ident@49..50 "U"
      Comma@50..51 ","
      Whitespace@51..52 " "
      GENERIC@52..53
        Ident@52..53 "V"
      RBracket@53..54 "]"
      Whitespace@54..55 " "
    TYPE_TAPP@55..67
      PATH@55..60
        Ident@55..60 "Point"
      TYPE_PARAM_LIST@60..67
        LBracket@60..61 "["
        TYPE_TAPP@61..62
          PATH@61..62
            Ident@61..62 "U"
        Comma@62..63 ","
        Whitespace@63..64 " "
        TYPE_TAPP@64..65
          PATH@64..65
            Ident@64..65 "V"
        RBracket@65..66 "]"
        Whitespace@66..67 " "
    LBrace@67..68 "{"
    Whitespace@68..73 "\n    "
    FN@73..143
      FnKeyword@73..75 "fn"
      Whitespace@75..76 " "
      Ident@76..79 "new"
      PARAM_LIST@79..92
        LParen@79..80 "("
        PARAM@80..86
          Ident@80..81 "x"
          Colon@81..82 ":"
          Whitespace@82..83 " "
          TYPE_TAPP@83..84
            PATH@83..84
              Ident@83..84 "U"
          Comma@84..85 ","
          Whitespace@85..86 " "
        PARAM@86..90
          Ident@86..87 "y"
          Colon@87..88 ":"
          Whitespace@88..89 " "
          TYPE_TAPP@89..90
            PATH@89..90
              Ident@89..90 "V"
        RParen@90..91 ")"
        Whitespace@91..92 " "
      Arrow@92..94 "->"
      Whitespace@94..95 " "
      TYPE_TAPP@95..107
        PATH@95..100
          Ident@95..100 "Point"
        TYPE_PARAM_LIST@100..107
          LBracket@100..101 "["
          TYPE_TAPP@101..102
            PATH@101..102
              Ident@101..102 "U"
          Comma@102..103 ","
          Whitespace@103..104 " "
          TYPE_TAPP@104..105
            PATH@104..105
              Ident@104..105 "V"
          RBracket@105..106 "]"
          Whitespace@106..107 " "
      BLOCK@107..143
        LBrace@107..108 "{"
        Whitespace@108..117 "\n        "
        EXPR_STRUCT_LITERAL@117..136
          PATH@117..123
            Ident@117..122 "Point"
            Whitespace@122..123 " "
          STRUCT_LITERAL_FIELD_LIST@123..136
            LBrace@123..124 "{"
            Whitespace@124..125 " "
            STRUCT_LITERAL_FIELD@125..126
              Ident@125..126 "x"
            Comma@126..127 ","
            Whitespace@127..128 " "
            STRUCT_LITERAL_FIELD@128..130
              Ident@128..129 "y"
              Whitespace@129..130 " "
            RBrace@130..131 "}"
            Whitespace@131..136 "\n    "
        RBrace@136..137 "}"
        Whitespace@137..143 "\n\n    "
    FN@143..237
      FnKeyword@143..145 "fn"
      Whitespace@145..146 " "
      Ident@146..150 "swap"
      PARAM_LIST@150..170
        LParen@150..151 "("
        PARAM@151..168
          Ident@151..155 "self"
          Colon@155..156 ":"
          Whitespace@156..157 " "
          TYPE_TAPP@157..168
            PATH@157..162
              Ident@157..162 "Point"
            TYPE_PARAM_LIST@162..168
              LBracket@162..163 "["
              TYPE_TAPP@163..164
                PATH@163..164
                  Ident@163..164 "U"
              Comma@164..165 ","
              Whitespace@165..166 " "
              TYPE_TAPP@166..167
                PATH@166..167
                  Ident@166..167 "V"
              RBracket@167..168 "]"
        RParen@168..169 ")"
        Whitespace@169..170 " "
      Arrow@170..172 "->"
      Whitespace@172..173 " "
      TYPE_TAPP@173..185
        PATH@173..178
          Ident@173..178 "Point"
        TYPE_PARAM_LIST@178..185
          LBracket@178..179 "["
          TYPE_TAPP@179..180
            PATH@179..180
              Ident@179..180 "V"
          Comma@180..181 ","
          Whitespace@181..182 " "
          TYPE_TAPP@182..183
            PATH@182..183
              Ident@182..183 "U"
          RBracket@183..184 "]"
          Whitespace@184..185 " "
      BLOCK@185..237
        LBrace@185..186 "{"
        Whitespace@186..195 "\n        "
        EXPR_STRUCT_LITERAL@195..230
          PATH@195..201
            Ident@195..200 "Point"
            Whitespace@200..201 " "
          STRUCT_LITERAL_FIELD_LIST@201..230
            LBrace@201..202 "{"
            Whitespace@202..203 " "
            STRUCT_LITERAL_FIELD@203..212
              Ident@203..204 "x"
              Colon@204..205 ":"
              Whitespace@205..206 " "
              EXPR_BINARY@206..212
                EXPR_IDENT@206..210
                  PATH@206..210
                    Ident@206..210 "self"
                Dot@210..211 "."
                EXPR_IDENT@211..212
                  PATH@211..212
                    Ident@211..212 "y"
            Comma@212..213 ","
            Whitespace@213..214 " "
            STRUCT_LITERAL_FIELD@214..224
              Ident@214..215 "y"
              Colon@215..216 ":"
              Whitespace@216..217 " "
              EXPR_BINARY@217..224
                EXPR_IDENT@217..221
                  PATH@217..221
                    Ident@217..221 "self"
                Dot@221..222 "."
                EXPR_IDENT@222..224
                  PATH@222..224
                    Ident@222..223 "x"
                    Whitespace@223..224 " "
            RBrace@224..225 "}"
            Whitespace@225..230 "\n    "
        RBrace@230..231 "}"
        Whitespace@231..237 "\n\n    "
    FN@237..293
      FnKeyword@237..239 "fn"
      Whitespace@239..240 " "
      Ident@240..245 "get_x"
      PARAM_LIST@245..265
        LParen@245..246 "("
        PARAM@246..263
          Ident@246..250 "self"
          Colon@250..251 ":"
          Whitespace@251..252 " "
          TYPE_TAPP@252..263
            PATH@252..257
              Ident@252..257 "Point"
            TYPE_PARAM_LIST@257..263
              LBracket@257..258 "["
              TYPE_TAPP@258..259
                PATH@258..259
                  Ident@258..259 "U"
              Comma@259..260 ","
              Whitespace@260..261 " "
              TYPE_TAPP@261..262
                PATH@261..262
                  Ident@261..262 "V"
              RBracket@262..263 "]"
        RParen@263..264 ")"
        Whitespace@264..265 " "
      Arrow@265..267 "->"
      Whitespace@267..268 " "
      TYPE_TAPP@268..270
        PATH@268..270
          Ident@268..269 "U"
          Whitespace@269..270 " "
      BLOCK@270..293
        LBrace@270..271 "{"
        Whitespace@271..280 "\n        "
        EXPR_BINARY@280..291
          EXPR_IDENT@280..284
            PATH@280..284
              Ident@280..284 "self"
          Dot@284..285 "."
          EXPR_IDENT@285..291
            PATH@285..291
              Ident@285..286 "x"
              Whitespace@286..291 "\n    "
        RBrace@291..292 "}"
        Whitespace@292..293 "\n"
    RBrace@293..294 "}"
    Whitespace@294..296 "\n\n"
  FN@296..590
    FnKeyword@296..298 "fn"
    Whitespace@298..299 " "
    Ident@299..303 "main"
    PARAM_LIST@303..306
      LParen@303..304 "("
      RParen@304..305 ")"
      Whitespace@305..306 " "
    Arrow@306..308 "->"
    Whitespace@308..309 " "
    TYPE_UNIT@309..314
      UnitKeyword@309..313 "unit"
      Whitespace@313..314 " "
    BLOCK@314..590
      LBrace@314..315 "{"
      Whitespace@315..320 "\n    "
      STMT_LET@320..380
        LetKeyword@320..323 "let"
        Whitespace@323..324 " "
        PATTERN_VARIABLE@324..326
          Ident@324..326 "p1"
        Colon@326..327 ":"
        Whitespace@327..328 " "
        TYPE_TAPP@328..349
          PATH@328..333
            Ident@328..333 "Point"
          TYPE_PARAM_LIST@333..349
            LBracket@333..334 "["
            TYPE_INT32@334..339
              Int32Keyword@334..339 "int32"
            Comma@339..340 ","
            Whitespace@340..341 " "
            TYPE_STRING@341..347
              StringKeyword@341..347 "string"
            RBracket@347..348 "]"
            Whitespace@348..349 " "
        Eq@349..350 "="
        Whitespace@350..351 " "
        EXPR_CALL@351..374
          EXPR_IDENT@351..361
            PATH@351..361
              Ident@351..356 "Point"
              ColonColon@356..358 "::"
              Ident@358..361 "new"
          ARG_LIST@361..374
            LParen@361..362 "("
            ARG@362..366
              EXPR_INT@362..364
                Int@362..364 "10"
              Comma@364..365 ","
              Whitespace@365..366 " "
            ARG@366..373
              EXPR_STR@366..373
                Str@366..373 "\"hello\""
            RParen@373..374 ")"
        Semi@374..375 ";"
        Whitespace@375..380 "\n    "
      STMT_LET@380..444
        LetKeyword@380..383 "let"
        Whitespace@383..384 " "
        PATTERN_VARIABLE@384..386
          Ident@384..386 "p2"
        Colon@386..387 ":"
        Whitespace@387..388 " "
        TYPE_TAPP@388..410
          PATH@388..393
            Ident@388..393 "Point"
          TYPE_PARAM_LIST@393..410
            LBracket@393..394 "["
            TYPE_STRING@394..400
              StringKeyword@394..400 "string"
            Comma@400..401 ","
            Whitespace@401..402 " "
            TYPE_STRING@402..408
              StringKeyword@402..408 "string"
            RBracket@408..409 "]"
            Whitespace@409..410 " "
        Eq@410..411 "="
        Whitespace@411..412 " "
        EXPR_CALL@412..438
          EXPR_IDENT@412..422
            PATH@412..422
              Ident@412..417 "Point"
              ColonColon@417..419 "::"
              Ident@419..422 "new"
          ARG_LIST@422..438
            LParen@422..423 "("
            ARG@423..431
              EXPR_STR@423..429
                Str@423..429 "\"goml\""
              Comma@429..430 ","
              Whitespace@430..431 " "
            ARG@431..437
              EXPR_STR@431..437
                Str@431..437 "\"lang\""
            RParen@437..438 ")"
        Semi@438..439 ";"
        Whitespace@439..444 "\n    "
      STMT_LET@444..490
        LetKeyword@444..447 "let"
        Whitespace@447..448 " "
        PATTERN_VARIABLE@448..450
          Ident@448..450 "p3"
        Colon@450..451 ":"
        Whitespace@451..452 " "
        TYPE_TAPP@452..473
          PATH@452..457
            Ident@452..457 "Point"
          TYPE_PARAM_LIST@457..473
            LBracket@457..458 "["
            TYPE_STRING@458..464
              StringKeyword@458..464 "string"
            Comma@464..465 ","
            Whitespace@465..466 " "
            TYPE_INT32@466..471
              Int32Keyword@466..471 "int32"
            RBracket@471..472 "]"
            Whitespace@472..473 " "
        Eq@473..474 "="
        Whitespace@474..475 " "
        EXPR_CALL@475..484
          EXPR_BINARY@475..482
            EXPR_IDENT@475..477
              PATH@475..477
                Ident@475..477 "p1"
            Dot@477..478 "."
            EXPR_IDENT@478..482
              PATH@478..482
                Ident@478..482 "swap"
          ARG_LIST@482..484
            LParen@482..483 "("
            RParen@483..484 ")"
        Semi@484..485 ";"
        Whitespace@485..490 "\n    "
      STMT_LET@490..515
        LetKeyword@490..493 "let"
        Whitespace@493..494 " "
        PATTERN_VARIABLE@494..495
          Ident@494..495 "x"
        Colon@495..496 ":"
        Whitespace@496..497 " "
        TYPE_INT32@497..503
          Int32Keyword@497..502 "int32"
          Whitespace@502..503 " "
        Eq@503..504 "="
        Whitespace@504..505 " "
        EXPR_BINARY@505..509
          EXPR_IDENT@505..507
            PATH@505..507
              Ident@505..507 "p3"
          Dot@507..508 "."
          EXPR_IDENT@508..509
            PATH@508..509
              Ident@508..509 "y"
        Semi@509..510 ";"
        Whitespace@510..515 "\n    "
      STMT_EXPR@515..543
        EXPR_CALL@515..537
          EXPR_IDENT@515..522
            PATH@515..522
              Ident@515..522 "println"
          ARG_LIST@522..537
            LParen@522..523 "("
            ARG@523..536
              EXPR_CALL@523..536
                EXPR_BINARY@523..534
                  EXPR_IDENT@523..524
                    PATH@523..524
                      Ident@523..524 "x"
                  Dot@524..525 "."
                  EXPR_IDENT@525..534
                    PATH@525..534
                      Ident@525..534 "to_string"
                ARG_LIST@534..536
                  LParen@534..535 "("
                  RParen@535..536 ")"
            RParen@536..537 ")"
        Semi@537..538 ";"
        Whitespace@538..543 "\n    "
      STMT_LET@543..576
        LetKeyword@543..546 "let"
        Whitespace@546..547 " "
        PATTERN_VARIABLE@547..549
          Ident@547..549 "x2"
        Colon@549..550 ":"
        Whitespace@550..551 " "
        TYPE_STRING@551..558
          StringKeyword@551..557 "string"
          Whitespace@557..558 " "
        Eq@558..559 "="
        Whitespace@559..560 " "
        EXPR_CALL@560..570
          EXPR_BINARY@560..568
            EXPR_IDENT@560..562
              PATH@560..562
                Ident@560..562 "p2"
            Dot@562..563 "."
            EXPR_IDENT@563..568
              PATH@563..568
                Ident@563..568 "get_x"
          ARG_LIST@568..570
            LParen@568..569 "("
            RParen@569..570 ")"
        Semi@570..571 ";"
        Whitespace@571..576 "\n    "
      EXPR_CALL@576..588
        EXPR_IDENT@576..583
          PATH@576..583
            Ident@576..583 "println"
        ARG_LIST@583..588
          LParen@583..584 "("
          ARG@584..586
            EXPR_IDENT@584..586
              PATH@584..586
                Ident@584..586 "x2"
          RParen@586..587 ")"
          Whitespace@587..588 "\n"
      RBrace@588..589 "}"
      Whitespace@589..590 "\n"