FILE@0..1402
  FN@0..470
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..23 "grandparent_continue"
    PARAM_LIST@23..26
      LParen@23..24 "("
      RParen@24..25 ")"
      Whitespace@25..26 " "
    Arrow@26..28 "->"
    Whitespace@28..29 " "
    TYPE_INT@29..35
      IsizeKeyword@29..34 "isize"
      Whitespace@34..35 " "
    BLOCK@35..470
      LBrace@35..36 "{"
      Whitespace@36..41 "\n    "
      STMT_LET@41..71
        LetKeyword@41..44 "let"
        Whitespace@44..45 " "
        PATTERN_VARIABLE@45..52
          Ident@45..51 "rounds"
          Whitespace@51..52 " "
        Eq@52..53 "="
        Whitespace@53..54 " "
        EXPR_CALL@54..65
          EXPR_IDENT@54..62
            PATH@54..62
              Ident@54..57 "Ref"
              ColonColon@57..59 "::"
              Ident@59..62 "new"
          ARG_LIST@62..65
            LParen@62..63 "("
            ARG@63..64
              EXPR_INT@63..64
                Int@63..64 "0"
            RParen@64..65 ")"
        Semi@65..66 ";"
        Whitespace@66..71 "\n    "
      EXPR_LOOP@71..467
        Label@71..77 "'outer"
        Colon@77..78 ":"
        Whitespace@78..79 " "
        LoopKeyword@79..83 "loop"
        Whitespace@83..84 " "
        BLOCK@84..467
          LBrace@84..85 "{"
          Whitespace@85..94 "\n        "
          STMT_EXPR@94..132
            EXPR_CALL@94..122
              EXPR_BINARY@94..104
                EXPR_IDENT@94..100
                  PATH@94..100
                    Ident@94..100 "rounds"
                Dot@100..101 "."
                EXPR_IDENT@101..104
                  PATH@101..104
                    Ident@101..104 "set"
              ARG_LIST@104..122
                LParen@104..105 "("
                ARG@105..121
                  EXPR_BINARY@105..121
                    EXPR_CALL@105..118
                      EXPR_BINARY@105..115
                        EXPR_IDENT@105..111
                          PATH@105..111
                            Ident@105..111 "rounds"
                        Dot@111..112 "."
                        EXPR_IDENT@112..115
                          PATH@112..115
                            Ident@112..115 "get"
                      ARG_LIST@115..118
                        LParen@115..116 "("
                        RParen@116..117 ")"
                        Whitespace@117..118 " "
                    Plus@118..119 "+"
                    Whitespace@119..120 " "
                    EXPR_INT@120..121
                      Int@120..121 "1"
                RParen@121..122 ")"
            Semi@122..123 ";"
            Whitespace@123..132 "\n        "
          EXPR_IF@132..465
            IfKeyword@132..134 "if"
            Whitespace@134..135 " "
            EXPR_IF_COND@135..153
              EXPR_BINARY@135..153
                EXPR_CALL@135..148
                  EXPR_BINARY@135..145
                    EXPR_IDENT@135..141
                      PATH@135..141
                        Ident@135..141 "rounds"
                    Dot@141..142 "."
                    EXPR_IDENT@142..145
                      PATH@142..145
                        Ident@142..145 "get"
                  ARG_LIST@145..148
                    LParen@145..146 "("
                    RParen@146..147 ")"
                    Whitespace@147..148 " "
                EqEq@148..150 "=="
                Whitespace@150..151 " "
                EXPR_INT@151..153
                  Int@151..152 "2"
                  Whitespace@152..153 " "
            EXPR_IF_THEN@153..203
              BLOCK@153..203
                LBrace@153..154 "{"
                Whitespace@154..167 "\n            "
                EXPR_BREAK@167..201
                  BreakKeyword@167..172 "break"
                  Whitespace@172..173 " "
                  Label@173..179 "'outer"
                  Whitespace@179..180 " "
                  EXPR_CALL@180..201
                    EXPR_BINARY@180..190
                      EXPR_IDENT@180..186
                        PATH@180..186
                          Ident@180..186 "rounds"
                      Dot@186..187 "."
                      EXPR_IDENT@187..190
                        PATH@187..190
                          Ident@187..190 "get"
                    ARG_LIST@190..201
                      LParen@190..191 "("
                      RParen@191..192 ")"
                      Whitespace@192..201 "\n        "
                RBrace@201..202 "}"
                Whitespace@202..203 " "
            ElseKeyword@203..207 "else"
            Whitespace@207..208 " "
            EXPR_IF_ELSE@208..465
              BLOCK@208..465
                LBrace@208..209 "{"
                Whitespace@209..222 "\n            "
                EXPR_LOOP@222..459
                  LoopKeyword@222..226 "loop"
                  Whitespace@226..227 " "
                  BLOCK@227..459
                    LBrace@227..228 "{"
                    Whitespace@228..245 "\n                "
                    EXPR_LOOP@245..449
                      LoopKeyword@245..249 "loop"
                      Whitespace@249..250 " "
                      BLOCK@250..449
                        LBrace@250..251 "{"
                        Whitespace@251..272 "\n                    "
                        EXPR_IF@272..435
                          IfKeyword@272..274 "if"
                          Whitespace@274..275 " "
                          EXPR_IF_COND@275..293
                            EXPR_BINARY@275..293
                              EXPR_CALL@275..288
                                EXPR_BINARY@275..285
                                  EXPR_IDENT@275..281
                                    PATH@275..281
                                      Ident@275..281 "rounds"
                                  Dot@281..282 "."
                                  EXPR_IDENT@282..285
                                    PATH@282..285
                                      Ident@282..285 "get"
                                ARG_LIST@285..288
                                  LParen@285..286 "("
                                  RParen@286..287 ")"
                                  Whitespace@287..288 " "
                              EqEq@288..290 "=="
                              Whitespace@290..291 " "
                              EXPR_INT@291..293
                                Int@291..292 "1"
                                Whitespace@292..293 " "
                          EXPR_IF_THEN@293..357
                            BLOCK@293..357
                              LBrace@293..294 "{"
                              Whitespace@294..319 "\n                     ..."
                              EXPR_CONTINUE@319..355
                                ContinueKeyword@319..327 "continue"
                                Whitespace@327..328 " "
                                Label@328..334 "'outer"
                                Whitespace@334..355 "\n                    "
                              RBrace@355..356 "}"
                              Whitespace@356..357 " "
                          ElseKeyword@357..361 "else"
                          Whitespace@361..362 " "
                          EXPR_IF_ELSE@362..435
                            BLOCK@362..435
                              LBrace@362..363 "{"
                              Whitespace@363..388 "\n                     ..."
                              EXPR_CONTINUE@388..417
                                ContinueKeyword@388..396 "continue"
                                Whitespace@396..417 "\n                    "
                              RBrace@417..418 "}"
                              Whitespace@418..435 "\n                "
                        RBrace@435..436 "}"
                        Whitespace@436..449 "\n            "
                    RBrace@449..450 "}"
                    Whitespace@450..459 "\n        "
                RBrace@459..460 "}"
                Whitespace@460..465 "\n    "
          RBrace@465..466 "}"
          Whitespace@466..467 "\n"
      RBrace@467..468 "}"
      Whitespace@468..470 "\n\n"
  FN@470..992
    FnKeyword@470..472 "fn"
    Whitespace@472..473 " "
    Ident@473..502 "mixed_self_local_and_ ..."
    PARAM_LIST@502..505
      LParen@502..503 "("
      RParen@503..504 ")"
      Whitespace@504..505 " "
    Arrow@505..507 "->"
    Whitespace@507..508 " "
    TYPE_INT@508..514
      IsizeKeyword@508..513 "isize"
      Whitespace@513..514 " "
    BLOCK@514..992
      LBrace@514..515 "{"
      Whitespace@515..520 "\n    "
      STMT_LET@520..550
        LetKeyword@520..523 "let"
        Whitespace@523..524 " "
        PATTERN_VARIABLE@524..531
          Ident@524..530 "rounds"
          Whitespace@530..531 " "
        Eq@531..532 "="
        Whitespace@532..533 " "
        EXPR_CALL@533..544
          EXPR_IDENT@533..541
            PATH@533..541
              Ident@533..536 "Ref"
              ColonColon@536..538 "::"
              Ident@538..541 "new"
          ARG_LIST@541..544
            LParen@541..542 "("
            ARG@542..543
              EXPR_INT@542..543
                Int@542..543 "0"
            RParen@543..544 ")"
        Semi@544..545 ";"
        Whitespace@545..550 "\n    "
      STMT_LET@550..579
        LetKeyword@550..553 "let"
        Whitespace@553..554 " "
        PATTERN_VARIABLE@554..560
          Ident@554..559 "steps"
          Whitespace@559..560 " "
        Eq@560..561 "="
        Whitespace@561..562 " "
        EXPR_CALL@562..573
          EXPR_IDENT@562..570
            PATH@562..570
              Ident@562..565 "Ref"
              ColonColon@565..567 "::"
              Ident@567..570 "new"
          ARG_LIST@570..573
            LParen@570..571 "("
            ARG@571..572
              EXPR_INT@571..572
                Int@571..572 "0"
            RParen@572..573 ")"
        Semi@573..574 ";"
        Whitespace@574..579 "\n    "
      EXPR_LOOP@579..989
        Label@579..585 "'outer"
        Colon@585..586 ":"
        Whitespace@586..587 " "
        LoopKeyword@587..591 "loop"
        Whitespace@591..592 " "
        BLOCK@592..989
          LBrace@592..593 "{"
          Whitespace@593..602 "\n        "
          STMT_EXPR@602..640
            EXPR_CALL@602..630
              EXPR_BINARY@602..612
                EXPR_IDENT@602..608
                  PATH@602..608
                    Ident@602..608 "rounds"
                Dot@608..609 "."
                EXPR_IDENT@609..612
                  PATH@609..612
                    Ident@609..612 "set"
              ARG_LIST@612..630
                LParen@612..613 "("
                ARG@613..629
                  EXPR_BINARY@613..629
                    EXPR_CALL@613..626
                      EXPR_BINARY@613..623
                        EXPR_IDENT@613..619
                          PATH@613..619
                            Ident@613..619 "rounds"
                        Dot@619..620 "."
                        EXPR_IDENT@620..623
                          PATH@620..623
                            Ident@620..623 "get"
                      ARG_LIST@623..626
                        LParen@623..624 "("
                        RParen@624..625 ")"
                        Whitespace@625..626 " "
                    Plus@626..627 "+"
                    Whitespace@627..628 " "
                    EXPR_INT@628..629
                      Int@628..629 "1"
                RParen@629..630 ")"
            Semi@630..631 ";"
            Whitespace@631..640 "\n        "
          STMT_EXPR@640..662
            EXPR_CALL@640..652
              EXPR_BINARY@640..649
                EXPR_IDENT@640..645
                  PATH@640..645
                    Ident@640..645 "steps"
                Dot@645..646 "."
                EXPR_IDENT@646..649
                  PATH@646..649
                    Ident@646..649 "set"
              ARG_LIST@649..652
                LParen@649..650 "("
                ARG@650..651
                  EXPR_INT@650..651
                    Int@650..651 "0"
                RParen@651..652 ")"
            Semi@652..653 ";"
            Whitespace@653..662 "\n        "
          STMT_EXPR@662..938
            EXPR_LOOP@662..938
              LoopKeyword@662..666 "loop"
              Whitespace@666..667 " "
              BLOCK@667..938
                LBrace@667..668 "{"
                Whitespace@668..681 "\n            "
                STMT_EXPR@681..721
                  EXPR_CALL@681..707
                    EXPR_BINARY@681..690
                      EXPR_IDENT@681..686
                        PATH@681..686
                          Ident@681..686 "steps"
                      Dot@686..687 "."
                      EXPR_IDENT@687..690
                        PATH@687..690
                          Ident@687..690 "set"
                    ARG_LIST@690..707
                      LParen@690..691 "("
                      ARG@691..706
                        EXPR_BINARY@691..706
                          EXPR_CALL@691..703
                            EXPR_BINARY@691..700
                              EXPR_IDENT@691..696
                                PATH@691..696
                                  Ident@691..696 "steps"
                              Dot@696..697 "."
                              EXPR_IDENT@697..700
                                PATH@697..700
                                  Ident@697..700 "get"
                            ARG_LIST@700..703
                              LParen@700..701 "("
                              RParen@701..702 ")"
                              Whitespace@702..703 " "
                          Plus@703..704 "+"
                          Whitespace@704..705 " "
                          EXPR_INT@705..706
                            Int@705..706 "1"
                      RParen@706..707 ")"
                  Semi@707..708 ";"
                  Whitespace@708..721 "\n            "
                EXPR_IF@721..928
                  IfKeyword@721..723 "if"
                  Whitespace@723..724 " "
                  EXPR_IF_COND@724..762
                    EXPR_BINARY@724..762
                      EXPR_BINARY@724..742
                        EXPR_CALL@724..737
                          EXPR_BINARY@724..734
                            EXPR_IDENT@724..730
                              PATH@724..730
                                Ident@724..730 "rounds"
                            Dot@730..731 "."
                            EXPR_IDENT@731..734
                              PATH@731..734
                                Ident@731..734 "get"
                          ARG_LIST@734..737
                            LParen@734..735 "("
                            RParen@735..736 ")"
                            Whitespace@736..737 " "
                        EqEq@737..739 "=="
                        Whitespace@739..740 " "
                        EXPR_INT@740..742
                          Int@740..741 "1"
                          Whitespace@741..742 " "
                      AndAnd@742..744 "&&"
                      Whitespace@744..745 " "
                      EXPR_BINARY@745..762
                        EXPR_CALL@745..757
                          EXPR_BINARY@745..754
                            EXPR_IDENT@745..750
                              PATH@745..750
                                Ident@745..750 "steps"
                            Dot@750..751 "."
                            EXPR_IDENT@751..754
                              PATH@751..754
                                Ident@751..754 "get"
                          ARG_LIST@754..757
                            LParen@754..755 "("
                            RParen@755..756 ")"
                            Whitespace@756..757 " "
                        EqEq@757..759 "=="
                        Whitespace@759..760 " "
                        EXPR_INT@760..762
                          Int@760..761 "1"
                          Whitespace@761..762 " "
                  EXPR_IF_THEN@762..803
                    BLOCK@762..803
                      LBrace@762..763 "{"
                      Whitespace@763..780 "\n                "
                      EXPR_CONTINUE@780..801
                        ContinueKeyword@780..788 "continue"
                        Whitespace@788..801 "\n            "
                      RBrace@801..802 "}"
                      Whitespace@802..803 " "
                  ElseKeyword@803..807 "else"
                  Whitespace@807..808 " "
                  EXPR_IF_ELSE@808..928
                    EXPR_IF@808..928
                      IfKeyword@808..810 "if"
                      Whitespace@810..811 " "
                      EXPR_IF_COND@811..829
                        EXPR_BINARY@811..829
                          EXPR_CALL@811..824
                            EXPR_BINARY@811..821
                              EXPR_IDENT@811..817
                                PATH@811..817
                                  Ident@811..817 "rounds"
                              Dot@817..818 "."
                              EXPR_IDENT@818..821
                                PATH@818..821
                                  Ident@818..821 "get"
                            ARG_LIST@821..824
                              LParen@821..822 "("
                              RParen@822..823 ")"
                              Whitespace@823..824 " "
                          EqEq@824..826 "=="
                          Whitespace@826..827 " "
                          EXPR_INT@827..829
                            Int@827..828 "1"
                            Whitespace@828..829 " "
                      EXPR_IF_THEN@829..877
                        BLOCK@829..877
                          LBrace@829..830 "{"
                          Whitespace@830..847 "\n                "
                          EXPR_CONTINUE@847..875
                            ContinueKeyword@847..855 "continue"
                            Whitespace@855..856 " "
                            Label@856..862 "'outer"
                            Whitespace@862..875 "\n            "
                          RBrace@875..876 "}"
                          Whitespace@876..877 " "
                      ElseKeyword@877..881 "else"
                      Whitespace@881..882 " "
                      EXPR_IF_ELSE@882..928
                        BLOCK@882..928
                          LBrace@882..883 "{"
                          Whitespace@883..900 "\n                "
                          EXPR_BREAK@900..918
                            BreakKeyword@900..905 "break"
                            Whitespace@905..918 "\n            "
                          RBrace@918..919 "}"
                          Whitespace@919..928 "\n        "
                RBrace@928..929 "}"
                Whitespace@929..938 "\n        "
          EXPR_BREAK@938..987
            BreakKeyword@938..943 "break"
            Whitespace@943..944 " "
            Label@944..950 "'outer"
            Whitespace@950..951 " "
            EXPR_BINARY@951..987
              EXPR_BINARY@951..969
                EXPR_CALL@951..964
                  EXPR_BINARY@951..961
                    EXPR_IDENT@951..957
                      PATH@951..957
                        Ident@951..957 "rounds"
                    Dot@957..958 "."
                    EXPR_IDENT@958..961
                      PATH@958..961
                        Ident@958..961 "get"
                  ARG_LIST@961..964
                    LParen@961..962 "("
                    RParen@962..963 ")"
                    Whitespace@963..964 " "
                Star@964..965 "*"
                Whitespace@965..966 " "
                EXPR_INT@966..969
                  Int@966..968 "10"
                  Whitespace@968..969 " "
              Plus@969..970 "+"
              Whitespace@970..971 " "
              EXPR_CALL@971..987
                EXPR_BINARY@971..980
                  EXPR_IDENT@971..976
                    PATH@971..976
                      Ident@971..976 "steps"
                  Dot@976..977 "."
                  EXPR_IDENT@977..980
                    PATH@977..980
                      Ident@977..980 "get"
                ARG_LIST@980..987
                  LParen@980..981 "("
                  RParen@981..982 ")"
                  Whitespace@982..987 "\n    "
          RBrace@987..988 "}"
          Whitespace@988..989 "\n"
      RBrace@989..990 "}"
      Whitespace@990..992 "\n\n"
  FN@992..1257
    FnKeyword@992..994 "fn"
    Whitespace@994..995 " "
    Ident@995..1021 "grandparent_while_con ..."
    PARAM_LIST@1021..1024
      LParen@1021..1022 "("
      RParen@1022..1023 ")"
      Whitespace@1023..1024 " "
    Arrow@1024..1026 "->"
    Whitespace@1026..1027 " "
    TYPE_INT@1027..1033
      IsizeKeyword@1027..1032 "isize"
      Whitespace@1032..1033 " "
    BLOCK@1033..1257
      LBrace@1033..1034 "{"
      Whitespace@1034..1039 "\n    "
      STMT_LET@1039..1069
        LetKeyword@1039..1042 "let"
        Whitespace@1042..1043 " "
        PATTERN_VARIABLE@1043..1050
          Ident@1043..1049 "rounds"
          Whitespace@1049..1050 " "
        Eq@1050..1051 "="
        Whitespace@1051..1052 " "
        EXPR_CALL@1052..1063
          EXPR_IDENT@1052..1060
            PATH@1052..1060
              Ident@1052..1055 "Ref"
              ColonColon@1055..1057 "::"
              Ident@1057..1060 "new"
          ARG_LIST@1060..1063
            LParen@1060..1061 "("
            ARG@1061..1062
              EXPR_INT@1061..1062
                Int@1061..1062 "0"
            RParen@1062..1063 ")"
        Semi@1063..1064 ";"
        Whitespace@1064..1069 "\n    "
      STMT_EXPR@1069..1241
        EXPR_WHILE@1069..1235
          Label@1069..1075 "'outer"
          Colon@1075..1076 ":"
          Whitespace@1076..1077 " "
          WhileKeyword@1077..1082 "while"
          Whitespace@1082..1083 " "
          EXPR_WHILE_COND@1083..1100
            EXPR_BINARY@1083..1100
              EXPR_CALL@1083..1096
                EXPR_BINARY@1083..1093
                  EXPR_IDENT@1083..1089
                    PATH@1083..1089
                      Ident@1083..1089 "rounds"
                  Dot@1089..1090 "."
                  EXPR_IDENT@1090..1093
                    PATH@1090..1093
                      Ident@1090..1093 "get"
                ARG_LIST@1093..1096
                  LParen@1093..1094 "("
                  RParen@1094..1095 ")"
                  Whitespace@1095..1096 " "
              Less@1096..1097 "<"
              Whitespace@1097..1098 " "
              EXPR_INT@1098..1100
                Int@1098..1099 "3"
                Whitespace@1099..1100 " "
          EXPR_WHILE_BODY@1100..1235
            BLOCK@1100..1235
              LBrace@1100..1101 "{"
              Whitespace@1101..1110 "\n        "
              STMT_EXPR@1110..1148
                EXPR_CALL@1110..1138
                  EXPR_BINARY@1110..1120
                    EXPR_IDENT@1110..1116
                      PATH@1110..1116
                        Ident@1110..1116 "rounds"
                    Dot@1116..1117 "."
                    EXPR_IDENT@1117..1120
                      PATH@1117..1120
                        Ident@1117..1120 "set"
                  ARG_LIST@1120..1138
                    LParen@1120..1121 "("
                    ARG@1121..1137
                      EXPR_BINARY@1121..1137
                        EXPR_CALL@1121..1134
                          EXPR_BINARY@1121..1131
                            EXPR_IDENT@1121..1127
                              PATH@1121..1127
                                Ident@1121..1127 "rounds"
                            Dot@1127..1128 "."
                            EXPR_IDENT@1128..1131
                              PATH@1128..1131
                                Ident@1128..1131 "get"
                          ARG_LIST@1131..1134
                            LParen@1131..1132 "("
                            RParen@1132..1133 ")"
                            Whitespace@1133..1134 " "
                        Plus@1134..1135 "+"
                        Whitespace@1135..1136 " "
                        EXPR_INT@1136..1137
                          Int@1136..1137 "1"
                    RParen@1137..1138 ")"
                Semi@1138..1139 ";"
                Whitespace@1139..1148 "\n        "
              EXPR_LOOP@1148..1234
                LoopKeyword@1148..1152 "loop"
                Whitespace@1152..1153 " "
                BLOCK@1153..1234
                  LBrace@1153..1154 "{"
                  Whitespace@1154..1167 "\n            "
                  EXPR_LOOP@1167..1228
                    LoopKeyword@1167..1171 "loop"
                    Whitespace@1171..1172 " "
                    BLOCK@1172..1228
                      LBrace@1172..1173 "{"
                      Whitespace@1173..1190 "\n                "
                      EXPR_CONTINUE@1190..1218
                        ContinueKeyword@1190..1198 "continue"
                        Whitespace@1198..1199 " "
                        Label@1199..1205 "'outer"
                        Whitespace@1205..1218 "\n            "
                      RBrace@1218..1219 "}"
                      Whitespace@1219..1228 "\n        "
                  RBrace@1228..1229 "}"
                  Whitespace@1229..1234 "\n    "
              RBrace@1234..1235 "}"
        Semi@1235..1236 ";"
        Whitespace@1236..1241 "\n    "
      EXPR_CALL@1241..1254
        EXPR_BINARY@1241..1251
          EXPR_IDENT@1241..1247
            PATH@1241..1247
              Ident@1241..1247 "rounds"
          Dot@1247..1248 "."
          EXPR_IDENT@1248..1251
            PATH@1248..1251
              Ident@1248..1251 "get"
        ARG_LIST@1251..1254
          LParen@1251..1252 "("
          RParen@1252..1253 ")"
          Whitespace@1253..1254 "\n"
      RBrace@1254..1255 "}"
      Whitespace@1255..1257 "\n\n"
  FN@1257..1402
    FnKeyword@1257..1259 "fn"
    Whitespace@1259..1260 " "
    Ident@1260..1264 "main"
    PARAM_LIST@1264..1267
      LParen@1264..1265 "("
      RParen@1265..1266 ")"
      Whitespace@1266..1267 " "
    Arrow@1267..1269 "->"
    Whitespace@1269..1270 " "
    TYPE_TUPLE@1270..1273
      TYPE_LIST@1270..1273
        LParen@1270..1271 "("
        RParen@1271..1272 ")"
        Whitespace@1272..1273 " "
    BLOCK@1273..1402
      LBrace@1273..1274 "{"
      Whitespace@1274..1279 "\n    "
      STMT_EXPR@1279..1316
        EXPR_CALL@1279..1310
          EXPR_IDENT@1279..1286
            PATH@1279..1286
              Ident@1279..1286 "println"
          ARG_LIST@1286..1310
            LParen@1286..1287 "("
            ARG@1287..1309
              EXPR_CALL@1287..1309
                EXPR_IDENT@1287..1307
                  PATH@1287..1307
                    Ident@1287..1307 "grandparent_continue"
                ARG_LIST@1307..1309
                  LParen@1307..1308 "("
                  RParen@1308..1309 ")"
            RParen@1309..1310 ")"
        Semi@1310..1311 ";"
        Whitespace@1311..1316 "\n    "
      STMT_EXPR@1316..1362
        EXPR_CALL@1316..1356
          EXPR_IDENT@1316..1323
            PATH@1316..1323
              Ident@1316..1323 "println"
          ARG_LIST@1323..1356
            LParen@1323..1324 "("
            ARG@1324..1355
              EXPR_CALL@1324..1355
                EXPR_IDENT@1324..1353
                  PATH@1324..1353
                    Ident@1324..1353 "mixed_self_local_and_ ..."
                ARG_LIST@1353..1355
                  LParen@1353..1354 "("
                  RParen@1354..1355 ")"
            RParen@1355..1356 ")"
        Semi@1356..1357 ";"
        Whitespace@1357..1362 "\n    "
      EXPR_CALL@1362..1400
        EXPR_IDENT@1362..1369
          PATH@1362..1369
            Ident@1362..1369 "println"
        ARG_LIST@1369..1400
          LParen@1369..1370 "("
          ARG@1370..1398
            EXPR_CALL@1370..1398
              EXPR_IDENT@1370..1396
                PATH@1370..1396
                  Ident@1370..1396 "grandparent_while_con ..."
              ARG_LIST@1396..1398
                LParen@1396..1397 "("
                RParen@1397..1398 ")"
          RParen@1398..1399 ")"
          Whitespace@1399..1400 "\n"
      RBrace@1400..1401 "}"
      Whitespace@1401..1402 "\n"