FILE@0..2233
  FN@0..298
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..13 "check_utf8"
    PARAM_LIST@13..48
      LParen@13..14 "("
      PARAM@14..32
        Ident@14..19 "bytes"
        Colon@19..20 ":"
        Whitespace@20..21 " "
        TYPE_TAPP@21..30
          PATH@21..24
            Ident@21..24 "Vec"
          TYPE_PARAM_LIST@24..30
            LBracket@24..25 "["
            TYPE_TAPP@25..29
              PATH@25..29
                Ident@25..29 "byte"
            RBracket@29..30 "]"
        Comma@30..31 ","
        Whitespace@31..32 " "
      PARAM@32..46
        Ident@32..40 "expected"
        Colon@40..41 ":"
        Whitespace@41..42 " "
        TYPE_BOOL@42..46
          BoolKeyword@42..46 "bool"
      RParen@46..47 ")"
      Whitespace@47..48 " "
    Arrow@48..50 "->"
    Whitespace@50..51 " "
    TYPE_UNIT@51..56
      UnitKeyword@51..55 "unit"
      Whitespace@55..56 " "
    BLOCK@56..298
      LBrace@56..57 "{"
      Whitespace@57..62 "\n    "
      STMT_LET@62..101
        LetKeyword@62..65 "let"
        Whitespace@65..66 " "
        PATTERN_VARIABLE@66..82
          Ident@66..81 "expected_length"
          Whitespace@81..82 " "
        Eq@82..83 "="
        Whitespace@83..84 " "
        EXPR_CALL@84..95
          EXPR_BINARY@84..93
            EXPR_IDENT@84..89
              PATH@84..89
                Ident@84..89 "bytes"
            Dot@89..90 "."
            EXPR_IDENT@90..93
              PATH@90..93
                Ident@90..93 "len"
          ARG_LIST@93..95
            LParen@93..94 "("
            RParen@94..95 ")"
        Semi@95..96 ";"
        Whitespace@96..101 "\n    "
      STMT_LET@101..151
        LetKeyword@101..104 "let"
        Whitespace@104..105 " "
        PATTERN_TUPLE@105..120
          LParen@105..106 "("
          PATTERN_VARIABLE@106..111
            Ident@106..111 "valid"
          Comma@111..112 ","
          Whitespace@112..113 " "
          PATTERN_VARIABLE@113..118
            Ident@113..118 "value"
          RParen@118..119 ")"
          Whitespace@119..120 " "
        Eq@120..121 "="
        Whitespace@121..122 " "
        EXPR_CALL@122..145
          EXPR_IDENT@122..138
            PATH@122..138
              Ident@122..138 "string_from_utf8"
          ARG_LIST@138..145
            LParen@138..139 "("
            ARG@139..144
              EXPR_IDENT@139..144
                PATH@139..144
                  Ident@139..144 "bytes"
            RParen@144..145 ")"
        Semi@145..146 ";"
        Whitespace@146..151 "\n    "
      STMT_EXPR@151..183
        EXPR_CALL@151..177
          EXPR_IDENT@151..158
            PATH@151..158
              Ident@151..158 "println"
          ARG_LIST@158..177
            LParen@158..159 "("
            ARG@159..176
              EXPR_BINARY@159..176
                EXPR_IDENT@159..165
                  PATH@159..165
                    Ident@159..164 "valid"
                    Whitespace@164..165 " "
                EqEq@165..167 "=="
                Whitespace@167..168 " "
                EXPR_IDENT@168..176
                  PATH@168..176
                    Ident@168..176 "expected"
            RParen@176..177 ")"
        Semi@177..178 ";"
        Whitespace@178..183 "\n    "
      EXPR_IF@183..295
        IfKeyword@183..185 "if"
        Whitespace@185..186 " "
        EXPR_IF_COND@186..192
          EXPR_IDENT@186..192
            PATH@186..192
              Ident@186..191 "valid"
              Whitespace@191..192 " "
        EXPR_IF_THEN@192..253
          BLOCK@192..253
            LBrace@192..193 "{"
            Whitespace@193..202 "\n        "
            EXPR_CALL@202..251
              EXPR_IDENT@202..209
                PATH@202..209
                  Ident@202..209 "println"
              ARG_LIST@209..251
                LParen@209..210 "("
                ARG@210..245
                  EXPR_BINARY@210..245
                    EXPR_CALL@210..227
                      EXPR_BINARY@210..224
                        EXPR_IDENT@210..215
                          PATH@210..215
                            Ident@210..215 "value"
                        Dot@215..216 "."
                        EXPR_IDENT@216..224
                          PATH@216..224
                            Ident@216..224 "byte_len"
                      ARG_LIST@224..227
                        LParen@224..225 "("
                        RParen@225..226 ")"
                        Whitespace@226..227 " "
                    EqEq@227..229 "=="
                    Whitespace@229..230 " "
                    EXPR_IDENT@230..245
                      PATH@230..245
                        Ident@230..245 "expected_length"
                RParen@245..246 ")"
                Whitespace@246..251 "\n    "
            RBrace@251..252 "}"
            Whitespace@252..253 " "
        ElseKeyword@253..257 "else"
        Whitespace@257..258 " "
        EXPR_IF_ELSE@258..295
          BLOCK@258..295
            LBrace@258..259 "{"
            Whitespace@259..268 "\n        "
            EXPR_CALL@268..293
              EXPR_IDENT@268..275
                PATH@268..275
                  Ident@268..275 "println"
              ARG_LIST@275..293
                LParen@275..276 "("
                ARG@276..287
                  EXPR_BINARY@276..287
                    EXPR_IDENT@276..282
                      PATH@276..282
                        Ident@276..281 "value"
                        Whitespace@281..282 " "
                    EqEq@282..284 "=="
                    Whitespace@284..285 " "
                    EXPR_STR@285..287
                      Str@285..287 "\"\""
                RParen@287..288 ")"
                Whitespace@288..293 "\n    "
            RBrace@293..294 "}"
            Whitespace@294..295 "\n"
      RBrace@295..296 "}"
      Whitespace@296..298 "\n\n"
  FN@298..760
    FnKeyword@298..300 "fn"
    Whitespace@300..301 " "
    Ident@301..313 "check_scalar"
    PARAM_LIST@313..371
      LParen@313..314 "("
      PARAM@314..332
        Ident@314..319 "bytes"
        Colon@319..320 ":"
        Whitespace@320..321 " "
        TYPE_TAPP@321..330
          PATH@321..324
            Ident@321..324 "Vec"
          TYPE_PARAM_LIST@324..330
            LBracket@324..325 "["
            TYPE_TAPP@325..329
              PATH@325..329
                Ident@325..329 "byte"
            RBracket@329..330 "]"
        Comma@330..331 ","
        Whitespace@331..332 " "
      PARAM@332..350
        Ident@332..340 "expected"
        Colon@340..341 ":"
        Whitespace@341..342 " "
        TYPE_UINT32@342..348
          Uint32Keyword@342..348 "uint32"
        Comma@348..349 ","
        Whitespace@349..350 " "
      PARAM@350..369
        Ident@350..364 "expected_width"
        Colon@364..365 ":"
        Whitespace@365..366 " "
        TYPE_INT@366..369
          IntKeyword@366..369 "int"
      RParen@369..370 ")"
      Whitespace@370..371 " "
    Arrow@371..373 "->"
    Whitespace@373..374 " "
    TYPE_UNIT@374..379
      UnitKeyword@374..378 "unit"
      Whitespace@378..379 " "
    BLOCK@379..760
      LBrace@379..380 "{"
      Whitespace@380..385 "\n    "
      STMT_LET@385..435
        LetKeyword@385..388 "let"
        Whitespace@388..389 " "
        PATTERN_TUPLE@389..404
          LParen@389..390 "("
          PATTERN_VARIABLE@390..395
            Ident@390..395 "valid"
          Comma@395..396 ","
          Whitespace@396..397 " "
          PATTERN_VARIABLE@397..402
            Ident@397..402 "value"
          RParen@402..403 ")"
          Whitespace@403..404 " "
        Eq@404..405 "="
        Whitespace@405..406 " "
        EXPR_CALL@406..429
          EXPR_IDENT@406..422
            PATH@406..422
              Ident@406..422 "string_from_utf8"
          ARG_LIST@422..429
            LParen@422..423 "("
            ARG@423..428
              EXPR_IDENT@423..428
                PATH@423..428
                  Ident@423..428 "bytes"
            RParen@428..429 ")"
        Semi@429..430 ";"
        Whitespace@430..435 "\n    "
      STMT_EXPR@435..455
        EXPR_CALL@435..449
          EXPR_IDENT@435..442
            PATH@435..442
              Ident@435..442 "println"
          ARG_LIST@442..449
            LParen@442..443 "("
            ARG@443..448
              EXPR_IDENT@443..448
                PATH@443..448
                  Ident@443..448 "valid"
            RParen@448..449 ")"
        Semi@449..450 ";"
        Whitespace@450..455 "\n    "
      EXPR_MATCH@455..757
        MatchKeyword@455..460 "match"
        Whitespace@460..461 " "
        EXPR_CALL@461..480
          EXPR_BINARY@461..476
            EXPR_IDENT@461..466
              PATH@461..466
                Ident@461..466 "value"
            Dot@466..467 "."
            EXPR_IDENT@467..476
              PATH@467..476
                Ident@467..476 "decode_at"
          ARG_LIST@476..480
            LParen@476..477 "("
            ARG@477..478
              EXPR_INT@477..478
                Int@477..478 "0"
            RParen@478..479 ")"
            Whitespace@479..480 " "
        MATCH_ARM_LIST@480..757
          LBrace@480..481 "{"
          Whitespace@481..490 "\n        "
          MATCH_ARM@490..665
            PATTERN_CONSTR@490..504
              PATH@490..494
                Ident@490..494 "Some"
              LParen@494..495 "("
              PATTERN_VARIABLE@495..502
                Ident@495..502 "decoded"
              RParen@502..503 ")"
              Whitespace@503..504 " "
            FatArrow@504..506 "=>"
            Whitespace@506..507 " "
            BLOCK@507..665
              LBrace@507..508 "{"
              Whitespace@508..521 "\n            "
              STMT_LET@521..567
                LetKeyword@521..524 "let"
                Whitespace@524..525 " "
                PATTERN_TUPLE@525..544
                  LParen@525..526 "("
                  PATTERN_VARIABLE@526..535
                    Ident@526..535 "character"
                  Comma@535..536 ","
                  Whitespace@536..537 " "
                  PATTERN_VARIABLE@537..542
                    Ident@537..542 "width"
                  RParen@542..543 ")"
                  Whitespace@543..544 " "
                Eq@544..545 "="
                Whitespace@545..546 " "
                EXPR_IDENT@546..553
                  PATH@546..553
                    Ident@546..553 "decoded"
                Semi@553..554 ";"
                Whitespace@554..567 "\n            "
              STMT_EXPR@567..623
                EXPR_CALL@567..609
                  EXPR_IDENT@567..574
                    PATH@567..574
                      Ident@567..574 "println"
                  ARG_LIST@574..609
                    LParen@574..575 "("
                    ARG@575..608
                      EXPR_BINARY@575..608
                        EXPR_CALL@575..597
                          EXPR_BINARY@575..594
                            EXPR_IDENT@575..584
                              PATH@575..584
                                Ident@575..584 "character"
                            Dot@584..585 "."
                            EXPR_IDENT@585..594
                              PATH@585..594
                                Ident@585..594 "to_uint32"
                          ARG_LIST@594..597
                            LParen@594..595 "("
                            RParen@595..596 ")"
                            Whitespace@596..597 " "
                        EqEq@597..599 "=="
                        Whitespace@599..600 " "
                        EXPR_IDENT@600..608
                          PATH@600..608
                            Ident@600..608 "expected"
                    RParen@608..609 ")"
                Semi@609..610 ";"
                Whitespace@610..623 "\n            "
              EXPR_CALL@623..664
                EXPR_IDENT@623..630
                  PATH@623..630
                    Ident@623..630 "println"
                ARG_LIST@630..664
                  LParen@630..631 "("
                  ARG@631..654
                    EXPR_BINARY@631..654
                      EXPR_IDENT@631..637
                        PATH@631..637
                          Ident@631..636 "width"
                          Whitespace@636..637 " "
                      EqEq@637..639 "=="
                      Whitespace@639..640 " "
                      EXPR_IDENT@640..654
                        PATH@640..654
                          Ident@640..654 "expected_width"
                  RParen@654..655 ")"
                  Whitespace@655..664 "\n        "
              RBrace@664..665 "}"
          Comma@665..666 ","
          Whitespace@666..675 "\n        "
          MATCH_ARM@675..749
            PATTERN_CONSTR@675..680
              PATH@675..680
                Ident@675..679 "None"
                Whitespace@679..680 " "
            FatArrow@680..682 "=>"
            Whitespace@682..683 " "
            BLOCK@683..749
              LBrace@683..684 "{"
              Whitespace@684..697 "\n            "
              STMT_EXPR@697..725
                EXPR_CALL@697..711
                  EXPR_IDENT@697..704
                    PATH@697..704
                      Ident@697..704 "println"
                  ARG_LIST@704..711
                    LParen@704..705 "("
                    ARG@705..710
                      EXPR_BOOL@705..710
                        FalseKeyword@705..710 "false"
                    RParen@710..711 ")"
                Semi@711..712 ";"
                Whitespace@712..725 "\n            "
              EXPR_CALL@725..748
                EXPR_IDENT@725..732
                  PATH@725..732
                    Ident@725..732 "println"
                ARG_LIST@732..748
                  LParen@732..733 "("
                  ARG@733..738
                    EXPR_BOOL@733..738
                      FalseKeyword@733..738 "false"
                  RParen@738..739 ")"
                  Whitespace@739..748 "\n        "
              RBrace@748..749 "}"
          Comma@749..750 ","
          Whitespace@750..755 "\n    "
          RBrace@755..756 "}"
          Whitespace@756..757 "\n"
      RBrace@757..758 "}"
      Whitespace@758..760 "\n\n"
  FN@760..2233
    FnKeyword@760..762 "fn"
    Whitespace@762..763 " "
    Ident@763..767 "main"
    PARAM_LIST@767..770
      LParen@767..768 "("
      RParen@768..769 ")"
      Whitespace@769..770 " "
    Arrow@770..772 "->"
    Whitespace@772..773 " "
    TYPE_UNIT@773..778
      UnitKeyword@773..777 "unit"
      Whitespace@777..778 " "
    BLOCK@778..2233
      LBrace@778..779 "{"
      Whitespace@779..784 "\n    "
      STMT_EXPR@784..827
        EXPR_CALL@784..821
          EXPR_IDENT@784..794
            PATH@784..794
              Ident@784..794 "check_utf8"
          ARG_LIST@794..821
            LParen@794..795 "("
            ARG@795..816
              EXPR_CALL@795..814
                EXPR_IDENT@795..810
                  PATH@795..810
                    Ident@795..798 "Vec"
                    ColonColon@798..800 "::"
                    Ident@800..810 "from_array"
                ARG_LIST@810..814
                  LParen@810..811 "("
                  ARG@811..813
                    EXPR_ARRAY_LITERAL@811..813
                      LBracket@811..812 "["
                      RBracket@812..813 "]"
                  RParen@813..814 ")"
              Comma@814..815 ","
              Whitespace@815..816 " "
            ARG@816..820
              EXPR_BOOL@816..820
                TrueKeyword@816..820 "true"
            RParen@820..821 ")"
        Semi@821..822 ";"
        Whitespace@822..827 "\n    "
      STMT_EXPR@827..871
        EXPR_CALL@827..865
          EXPR_IDENT@827..837
            PATH@827..837
              Ident@827..837 "check_utf8"
          ARG_LIST@837..865
            LParen@837..838 "("
            ARG@838..860
              EXPR_CALL@838..858
                EXPR_IDENT@838..853
                  PATH@838..853
                    Ident@838..841 "Vec"
                    ColonColon@841..843 "::"
                    Ident@843..853 "from_array"
                ARG_LIST@853..858
                  LParen@853..854 "("
                  ARG@854..857
                    EXPR_ARRAY_LITERAL@854..857
                      LBracket@854..855 "["
                      EXPR_INT@855..856
                        Int@855..856 "0"
                      RBracket@856..857 "]"
                  RParen@857..858 ")"
              Comma@858..859 ","
              Whitespace@859..860 " "
            ARG@860..864
              EXPR_BOOL@860..864
                TrueKeyword@860..864 "true"
            RParen@864..865 ")"
        Semi@865..866 ";"
        Whitespace@866..871 "\n    "
      STMT_EXPR@871..917
        EXPR_CALL@871..911
          EXPR_IDENT@871..881
            PATH@871..881
              Ident@871..881 "check_utf8"
          ARG_LIST@881..911
            LParen@881..882 "("
            ARG@882..906
              EXPR_CALL@882..904
                EXPR_IDENT@882..897
                  PATH@882..897
                    Ident@882..885 "Vec"
                    ColonColon@885..887 "::"
                    Ident@887..897 "from_array"
                ARG_LIST@897..904
                  LParen@897..898 "("
                  ARG@898..903
                    EXPR_ARRAY_LITERAL@898..903
                      LBracket@898..899 "["
                      EXPR_INT@899..902
                        Int@899..902 "127"
                      RBracket@902..903 "]"
                  RParen@903..904 ")"
              Comma@904..905 ","
              Whitespace@905..906 " "
            ARG@906..910
              EXPR_BOOL@906..910
                TrueKeyword@906..910 "true"
            RParen@910..911 ")"
        Semi@911..912 ";"
        Whitespace@912..917 "\n    "
      STMT_EXPR@917..972
        EXPR_CALL@917..966
          EXPR_IDENT@917..929
            PATH@917..929
              Ident@917..929 "check_scalar"
          ARG_LIST@929..966
            LParen@929..930 "("
            ARG@930..959
              EXPR_CALL@930..957
                EXPR_IDENT@930..945
                  PATH@930..945
                    Ident@930..933 "Vec"
                    ColonColon@933..935 "::"
                    Ident@935..945 "from_array"
                ARG_LIST@945..957
                  LParen@945..946 "("
                  ARG@946..956
                    EXPR_ARRAY_LITERAL@946..956
                      LBracket@946..947 "["
                      EXPR_INT@947..950
                        Int@947..950 "194"
                      Comma@950..951 ","
                      Whitespace@951..952 " "
                      EXPR_INT@952..955
                        Int@952..955 "128"
                      RBracket@955..956 "]"
                  RParen@956..957 ")"
              Comma@957..958 ","
              Whitespace@958..959 " "
            ARG@959..964
              EXPR_INT@959..962
                Int@959..962 "128"
              Comma@962..963 ","
              Whitespace@963..964 " "
            ARG@964..965
              EXPR_INT@964..965
                Int@964..965 "2"
            RParen@965..966 ")"
        Semi@966..967 ";"
        Whitespace@967..972 "\n    "
      STMT_EXPR@972..1028
        EXPR_CALL@972..1022
          EXPR_IDENT@972..984
            PATH@972..984
              Ident@972..984 "check_scalar"
          ARG_LIST@984..1022
            LParen@984..985 "("
            ARG@985..1014
              EXPR_CALL@985..1012
                EXPR_IDENT@985..1000
                  PATH@985..1000
                    Ident@985..988 "Vec"
                    ColonColon@988..990 "::"
                    Ident@990..1000 "from_array"
                ARG_LIST@1000..1012
                  LParen@1000..1001 "("
                  ARG@1001..1011
                    EXPR_ARRAY_LITERAL@1001..1011
                      LBracket@1001..1002 "["
                      EXPR_INT@1002..1005
                        Int@1002..1005 "223"
                      Comma@1005..1006 ","
                      Whitespace@1006..1007 " "
                      EXPR_INT@1007..1010
                        Int@1007..1010 "191"
                      RBracket@1010..1011 "]"
                  RParen@1011..1012 ")"
              Comma@1012..1013 ","
              Whitespace@1013..1014 " "
            ARG@1014..1020
              EXPR_INT@1014..1018
                Int@1014..1018 "2047"
              Comma@1018..1019 ","
              Whitespace@1019..1020 " "
            ARG@1020..1021
              EXPR_INT@1020..1021
                Int@1020..1021 "2"
            RParen@1021..1022 ")"
        Semi@1022..1023 ";"
        Whitespace@1023..1028 "\n    "
      STMT_EXPR@1028..1089
        EXPR_CALL@1028..1083
          EXPR_IDENT@1028..1040
            PATH@1028..1040
              Ident@1028..1040 "check_scalar"
          ARG_LIST@1040..1083
            LParen@1040..1041 "("
            ARG@1041..1075
              EXPR_CALL@1041..1073
                EXPR_IDENT@1041..1056
                  PATH@1041..1056
                    Ident@1041..1044 "Vec"
                    ColonColon@1044..1046 "::"
                    Ident@1046..1056 "from_array"
                ARG_LIST@1056..1073
                  LParen@1056..1057 "("
                  ARG@1057..1072
                    EXPR_ARRAY_LITERAL@1057..1072
                      LBracket@1057..1058 "["
                      EXPR_INT@1058..1061
                        Int@1058..1061 "224"
                      Comma@1061..1062 ","
                      Whitespace@1062..1063 " "
                      EXPR_INT@1063..1066
                        Int@1063..1066 "160"
                      Comma@1066..1067 ","
                      Whitespace@1067..1068 " "
                      EXPR_INT@1068..1071
                        Int@1068..1071 "128"
                      RBracket@1071..1072 "]"
                  RParen@1072..1073 ")"
              Comma@1073..1074 ","
              Whitespace@1074..1075 " "
            ARG@1075..1081
              EXPR_INT@1075..1079
                Int@1075..1079 "2048"
              Comma@1079..1080 ","
              Whitespace@1080..1081 " "
            ARG@1081..1082
              EXPR_INT@1081..1082
                Int@1081..1082 "3"
            RParen@1082..1083 ")"
        Semi@1083..1084 ";"
        Whitespace@1084..1089 "\n    "
      STMT_EXPR@1089..1151
        EXPR_CALL@1089..1145
          EXPR_IDENT@1089..1101
            PATH@1089..1101
              Ident@1089..1101 "check_scalar"
          ARG_LIST@1101..1145
            LParen@1101..1102 "("
            ARG@1102..1136
              EXPR_CALL@1102..1134
                EXPR_IDENT@1102..1117
                  PATH@1102..1117
                    Ident@1102..1105 "Vec"
                    ColonColon@1105..1107 "::"
                    Ident@1107..1117 "from_array"
                ARG_LIST@1117..1134
                  LParen@1117..1118 "("
                  ARG@1118..1133
                    EXPR_ARRAY_LITERAL@1118..1133
                      LBracket@1118..1119 "["
                      EXPR_INT@1119..1122
                        Int@1119..1122 "237"
                      Comma@1122..1123 ","
                      Whitespace@1123..1124 " "
                      EXPR_INT@1124..1127
                        Int@1124..1127 "159"
                      Comma@1127..1128 ","
                      Whitespace@1128..1129 " "
                      EXPR_INT@1129..1132
                        Int@1129..1132 "191"
                      RBracket@1132..1133 "]"
                  RParen@1133..1134 ")"
              Comma@1134..1135 ","
              Whitespace@1135..1136 " "
            ARG@1136..1143
              EXPR_INT@1136..1141
                Int@1136..1141 "55295"
              Comma@1141..1142 ","
              Whitespace@1142..1143 " "
            ARG@1143..1144
              EXPR_INT@1143..1144
                Int@1143..1144 "3"
            RParen@1144..1145 ")"
        Semi@1145..1146 ";"
        Whitespace@1146..1151 "\n    "
      STMT_EXPR@1151..1213
        EXPR_CALL@1151..1207
          EXPR_IDENT@1151..1163
            PATH@1151..1163
              Ident@1151..1163 "check_scalar"
          ARG_LIST@1163..1207
            LParen@1163..1164 "("
            ARG@1164..1198
              EXPR_CALL@1164..1196
                EXPR_IDENT@1164..1179
                  PATH@1164..1179
                    Ident@1164..1167 "Vec"
                    ColonColon@1167..1169 "::"
                    Ident@1169..1179 "from_array"
                ARG_LIST@1179..1196
                  LParen@1179..1180 "("
                  ARG@1180..1195
                    EXPR_ARRAY_LITERAL@1180..1195
                      LBracket@1180..1181 "["
                      EXPR_INT@1181..1184
                        Int@1181..1184 "238"
                      Comma@1184..1185 ","
                      Whitespace@1185..1186 " "
                      EXPR_INT@1186..1189
                        Int@1186..1189 "128"
                      Comma@1189..1190 ","
                      Whitespace@1190..1191 " "
                      EXPR_INT@1191..1194
                        Int@1191..1194 "128"
                      RBracket@1194..1195 "]"
                  RParen@1195..1196 ")"
              Comma@1196..1197 ","
              Whitespace@1197..1198 " "
            ARG@1198..1205
              EXPR_INT@1198..1203
                Int@1198..1203 "57344"
              Comma@1203..1204 ","
              Whitespace@1204..1205 " "
            ARG@1205..1206
              EXPR_INT@1205..1206
                Int@1205..1206 "3"
            RParen@1206..1207 ")"
        Semi@1207..1208 ";"
        Whitespace@1208..1213 "\n    "
      STMT_EXPR@1213..1275
        EXPR_CALL@1213..1269
          EXPR_IDENT@1213..1225
            PATH@1213..1225
              Ident@1213..1225 "check_scalar"
          ARG_LIST@1225..1269
            LParen@1225..1226 "("
            ARG@1226..1260
              EXPR_CALL@1226..1258
                EXPR_IDENT@1226..1241
                  PATH@1226..1241
                    Ident@1226..1229 "Vec"
                    ColonColon@1229..1231 "::"
                    Ident@1231..1241 "from_array"
                ARG_LIST@1241..1258
                  LParen@1241..1242 "("
                  ARG@1242..1257
                    EXPR_ARRAY_LITERAL@1242..1257
                      LBracket@1242..1243 "["
                      EXPR_INT@1243..1246
                        Int@1243..1246 "239"
                      Comma@1246..1247 ","
                      Whitespace@1247..1248 " "
                      EXPR_INT@1248..1251
                        Int@1248..1251 "191"
                      Comma@1251..1252 ","
                      Whitespace@1252..1253 " "
                      EXPR_INT@1253..1256
                        Int@1253..1256 "189"
                      RBracket@1256..1257 "]"
                  RParen@1257..1258 ")"
              Comma@1258..1259 ","
              Whitespace@1259..1260 " "
            ARG@1260..1267
              EXPR_INT@1260..1265
                Int@1260..1265 "65533"
              Comma@1265..1266 ","
              Whitespace@1266..1267 " "
            ARG@1267..1268
              EXPR_INT@1267..1268
                Int@1267..1268 "3"
            RParen@1268..1269 ")"
        Semi@1269..1270 ";"
        Whitespace@1270..1275 "\n    "
      STMT_EXPR@1275..1337
        EXPR_CALL@1275..1331
          EXPR_IDENT@1275..1287
            PATH@1275..1287
              Ident@1275..1287 "check_scalar"
          ARG_LIST@1287..1331
            LParen@1287..1288 "("
            ARG@1288..1322
              EXPR_CALL@1288..1320
                EXPR_IDENT@1288..1303
                  PATH@1288..1303
                    Ident@1288..1291 "Vec"
                    ColonColon@1291..1293 "::"
                    Ident@1293..1303 "from_array"
                ARG_LIST@1303..1320
                  LParen@1303..1304 "("
                  ARG@1304..1319
                    EXPR_ARRAY_LITERAL@1304..1319
                      LBracket@1304..1305 "["
                      EXPR_INT@1305..1308
                        Int@1305..1308 "239"
                      Comma@1308..1309 ","
                      Whitespace@1309..1310 " "
                      EXPR_INT@1310..1313
                        Int@1310..1313 "191"
                      Comma@1313..1314 ","
                      Whitespace@1314..1315 " "
                      EXPR_INT@1315..1318
                        Int@1315..1318 "191"
                      RBracket@1318..1319 "]"
                  RParen@1319..1320 ")"
              Comma@1320..1321 ","
              Whitespace@1321..1322 " "
            ARG@1322..1329
              EXPR_INT@1322..1327
                Int@1322..1327 "65535"
              Comma@1327..1328 ","
              Whitespace@1328..1329 " "
            ARG@1329..1330
              EXPR_INT@1329..1330
                Int@1329..1330 "3"
            RParen@1330..1331 ")"
        Semi@1331..1332 ";"
        Whitespace@1332..1337 "\n    "
      STMT_EXPR@1337..1404
        EXPR_CALL@1337..1398
          EXPR_IDENT@1337..1349
            PATH@1337..1349
              Ident@1337..1349 "check_scalar"
          ARG_LIST@1349..1398
            LParen@1349..1350 "("
            ARG@1350..1389
              EXPR_CALL@1350..1387
                EXPR_IDENT@1350..1365
                  PATH@1350..1365
                    Ident@1350..1353 "Vec"
                    ColonColon@1353..1355 "::"
                    Ident@1355..1365 "from_array"
                ARG_LIST@1365..1387
                  LParen@1365..1366 "("
                  ARG@1366..1386
                    EXPR_ARRAY_LITERAL@1366..1386
                      LBracket@1366..1367 "["
                      EXPR_INT@1367..1370
                        Int@1367..1370 "240"
                      Comma@1370..1371 ","
                      Whitespace@1371..1372 " "
                      EXPR_INT@1372..1375
                        Int@1372..1375 "144"
                      Comma@1375..1376 ","
                      Whitespace@1376..1377 " "
                      EXPR_INT@1377..1380
                        Int@1377..1380 "128"
                      Comma@1380..1381 ","
                      Whitespace@1381..1382 " "
                      EXPR_INT@1382..1385
                        Int@1382..1385 "128"
                      RBracket@1385..1386 "]"
                  RParen@1386..1387 ")"
              Comma@1387..1388 ","
              Whitespace@1388..1389 " "
            ARG@1389..1396
              EXPR_INT@1389..1394
                Int@1389..1394 "65536"
              Comma@1394..1395 ","
              Whitespace@1395..1396 " "
            ARG@1396..1397
              EXPR_INT@1396..1397
                Int@1396..1397 "4"
            RParen@1397..1398 ")"
        Semi@1398..1399 ";"
        Whitespace@1399..1404 "\n    "
      STMT_EXPR@1404..1473
        EXPR_CALL@1404..1467
          EXPR_IDENT@1404..1416
            PATH@1404..1416
              Ident@1404..1416 "check_scalar"
          ARG_LIST@1416..1467
            LParen@1416..1417 "("
            ARG@1417..1456
              EXPR_CALL@1417..1454
                EXPR_IDENT@1417..1432
                  PATH@1417..1432
                    Ident@1417..1420 "Vec"
                    ColonColon@1420..1422 "::"
                    Ident@1422..1432 "from_array"
                ARG_LIST@1432..1454
                  LParen@1432..1433 "("
                  ARG@1433..1453
                    EXPR_ARRAY_LITERAL@1433..1453
                      LBracket@1433..1434 "["
                      EXPR_INT@1434..1437
                        Int@1434..1437 "244"
                      Comma@1437..1438 ","
                      Whitespace@1438..1439 " "
                      EXPR_INT@1439..1442
                        Int@1439..1442 "143"
                      Comma@1442..1443 ","
                      Whitespace@1443..1444 " "
                      EXPR_INT@1444..1447
                        Int@1444..1447 "191"
                      Comma@1447..1448 ","
                      Whitespace@1448..1449 " "
                      EXPR_INT@1449..1452
                        Int@1449..1452 "191"
                      RBracket@1452..1453 "]"
                  RParen@1453..1454 ")"
              Comma@1454..1455 ","
              Whitespace@1455..1456 " "
            ARG@1456..1465
              EXPR_INT@1456..1463
                Int@1456..1463 "1114111"
              Comma@1463..1464 ","
              Whitespace@1464..1465 " "
            ARG@1465..1466
              EXPR_INT@1465..1466
                Int@1465..1466 "4"
            RParen@1466..1467 ")"
        Semi@1467..1468 ";"
        Whitespace@1468..1473 "\n    "
      STMT_EXPR@1473..1520
        EXPR_CALL@1473..1514
          EXPR_IDENT@1473..1483
            PATH@1473..1483
              Ident@1473..1483 "check_utf8"
          ARG_LIST@1483..1514
            LParen@1483..1484 "("
            ARG@1484..1508
              EXPR_CALL@1484..1506
                EXPR_IDENT@1484..1499
                  PATH@1484..1499
                    Ident@1484..1487 "Vec"
                    ColonColon@1487..1489 "::"
                    Ident@1489..1499 "from_array"
                ARG_LIST@1499..1506
                  LParen@1499..1500 "("
                  ARG@1500..1505
                    EXPR_ARRAY_LITERAL@1500..1505
                      LBracket@1500..1501 "["
                      EXPR_INT@1501..1504
                        Int@1501..1504 "128"
                      RBracket@1504..1505 "]"
                  RParen@1505..1506 ")"
              Comma@1506..1507 ","
              Whitespace@1507..1508 " "
            ARG@1508..1513
              EXPR_BOOL@1508..1513
                FalseKeyword@1508..1513 "false"
            RParen@1513..1514 ")"
        Semi@1514..1515 ";"
        Whitespace@1515..1520 "\n    "
      STMT_EXPR@1520..1567
        EXPR_CALL@1520..1561
          EXPR_IDENT@1520..1530
            PATH@1520..1530
              Ident@1520..1530 "check_utf8"
          ARG_LIST@1530..1561
            LParen@1530..1531 "("
            ARG@1531..1555
              EXPR_CALL@1531..1553
                EXPR_IDENT@1531..1546
                  PATH@1531..1546
                    Ident@1531..1534 "Vec"
                    ColonColon@1534..1536 "::"
                    Ident@1536..1546 "from_array"
                ARG_LIST@1546..1553
                  LParen@1546..1547 "("
                  ARG@1547..1552
                    EXPR_ARRAY_LITERAL@1547..1552
                      LBracket@1547..1548 "["
                      EXPR_INT@1548..1551
                        Int@1548..1551 "191"
                      RBracket@1551..1552 "]"
                  RParen@1552..1553 ")"
              Comma@1553..1554 ","
              Whitespace@1554..1555 " "
            ARG@1555..1560
              EXPR_BOOL@1555..1560
                FalseKeyword@1555..1560 "false"
            RParen@1560..1561 ")"
        Semi@1561..1562 ";"
        Whitespace@1562..1567 "\n    "
      STMT_EXPR@1567..1619
        EXPR_CALL@1567..1613
          EXPR_IDENT@1567..1577
            PATH@1567..1577
              Ident@1567..1577 "check_utf8"
          ARG_LIST@1577..1613
            LParen@1577..1578 "("
            ARG@1578..1607
              EXPR_CALL@1578..1605
                EXPR_IDENT@1578..1593
                  PATH@1578..1593
                    Ident@1578..1581 "Vec"
                    ColonColon@1581..1583 "::"
                    Ident@1583..1593 "from_array"
                ARG_LIST@1593..1605
                  LParen@1593..1594 "("
                  ARG@1594..1604
                    EXPR_ARRAY_LITERAL@1594..1604
                      LBracket@1594..1595 "["
                      EXPR_INT@1595..1598
                        Int@1595..1598 "192"
                      Comma@1598..1599 ","
                      Whitespace@1599..1600 " "
                      EXPR_INT@1600..1603
                        Int@1600..1603 "128"
                      RBracket@1603..1604 "]"
                  RParen@1604..1605 ")"
              Comma@1605..1606 ","
              Whitespace@1606..1607 " "
            ARG@1607..1612
              EXPR_BOOL@1607..1612
                FalseKeyword@1607..1612 "false"
            RParen@1612..1613 ")"
        Semi@1613..1614 ";"
        Whitespace@1614..1619 "\n    "
      STMT_EXPR@1619..1671
        EXPR_CALL@1619..1665
          EXPR_IDENT@1619..1629
            PATH@1619..1629
              Ident@1619..1629 "check_utf8"
          ARG_LIST@1629..1665
            LParen@1629..1630 "("
            ARG@1630..1659
              EXPR_CALL@1630..1657
                EXPR_IDENT@1630..1645
                  PATH@1630..1645
                    Ident@1630..1633 "Vec"
                    ColonColon@1633..1635 "::"
                    Ident@1635..1645 "from_array"
                ARG_LIST@1645..1657
                  LParen@1645..1646 "("
                  ARG@1646..1656
                    EXPR_ARRAY_LITERAL@1646..1656
                      LBracket@1646..1647 "["
                      EXPR_INT@1647..1650
                        Int@1647..1650 "193"
                      Comma@1650..1651 ","
                      Whitespace@1651..1652 " "
                      EXPR_INT@1652..1655
                        Int@1652..1655 "191"
                      RBracket@1655..1656 "]"
                  RParen@1656..1657 ")"
              Comma@1657..1658 ","
              Whitespace@1658..1659 " "
            ARG@1659..1664
              EXPR_BOOL@1659..1664
                FalseKeyword@1659..1664 "false"
            RParen@1664..1665 ")"
        Semi@1665..1666 ";"
        Whitespace@1666..1671 "\n    "
      STMT_EXPR@1671..1718
        EXPR_CALL@1671..1712
          EXPR_IDENT@1671..1681
            PATH@1671..1681
              Ident@1671..1681 "check_utf8"
          ARG_LIST@1681..1712
            LParen@1681..1682 "("
            ARG@1682..1706
              EXPR_CALL@1682..1704
                EXPR_IDENT@1682..1697
                  PATH@1682..1697
                    Ident@1682..1685 "Vec"
                    ColonColon@1685..1687 "::"
                    Ident@1687..1697 "from_array"
                ARG_LIST@1697..1704
                  LParen@1697..1698 "("
                  ARG@1698..1703
                    EXPR_ARRAY_LITERAL@1698..1703
                      LBracket@1698..1699 "["
                      EXPR_INT@1699..1702
                        Int@1699..1702 "194"
                      RBracket@1702..1703 "]"
                  RParen@1703..1704 ")"
              Comma@1704..1705 ","
              Whitespace@1705..1706 " "
            ARG@1706..1711
              EXPR_BOOL@1706..1711
                FalseKeyword@1706..1711 "false"
            RParen@1711..1712 ")"
        Semi@1712..1713 ";"
        Whitespace@1713..1718 "\n    "
      STMT_EXPR@1718..1770
        EXPR_CALL@1718..1764
          EXPR_IDENT@1718..1728
            PATH@1718..1728
              Ident@1718..1728 "check_utf8"
          ARG_LIST@1728..1764
            LParen@1728..1729 "("
            ARG@1729..1758
              EXPR_CALL@1729..1756
                EXPR_IDENT@1729..1744
                  PATH@1729..1744
                    Ident@1729..1732 "Vec"
                    ColonColon@1732..1734 "::"
                    Ident@1734..1744 "from_array"
                ARG_LIST@1744..1756
                  LParen@1744..1745 "("
                  ARG@1745..1755
                    EXPR_ARRAY_LITERAL@1745..1755
                      LBracket@1745..1746 "["
                      EXPR_INT@1746..1749
                        Int@1746..1749 "194"
                      Comma@1749..1750 ","
                      Whitespace@1750..1751 " "
                      EXPR_INT@1751..1754
                        Int@1751..1754 "127"
                      RBracket@1754..1755 "]"
                  RParen@1755..1756 ")"
              Comma@1756..1757 ","
              Whitespace@1757..1758 " "
            ARG@1758..1763
              EXPR_BOOL@1758..1763
                FalseKeyword@1758..1763 "false"
            RParen@1763..1764 ")"
        Semi@1764..1765 ";"
        Whitespace@1765..1770 "\n    "
      STMT_EXPR@1770..1827
        EXPR_CALL@1770..1821
          EXPR_IDENT@1770..1780
            PATH@1770..1780
              Ident@1770..1780 "check_utf8"
          ARG_LIST@1780..1821
            LParen@1780..1781 "("
            ARG@1781..1815
              EXPR_CALL@1781..1813
                EXPR_IDENT@1781..1796
                  PATH@1781..1796
                    Ident@1781..1784 "Vec"
                    ColonColon@1784..1786 "::"
                    Ident@1786..1796 "from_array"
                ARG_LIST@1796..1813
                  LParen@1796..1797 "("
                  ARG@1797..1812
                    EXPR_ARRAY_LITERAL@1797..1812
                      LBracket@1797..1798 "["
                      EXPR_INT@1798..1801
                        Int@1798..1801 "224"
                      Comma@1801..1802 ","
                      Whitespace@1802..1803 " "
                      EXPR_INT@1803..1806
                        Int@1803..1806 "159"
                      Comma@1806..1807 ","
                      Whitespace@1807..1808 " "
                      EXPR_INT@1808..1811
                        Int@1808..1811 "191"
                      RBracket@1811..1812 "]"
                  RParen@1812..1813 ")"
              Comma@1813..1814 ","
              Whitespace@1814..1815 " "
            ARG@1815..1820
              EXPR_BOOL@1815..1820
                FalseKeyword@1815..1820 "false"
            RParen@1820..1821 ")"
        Semi@1821..1822 ";"
        Whitespace@1822..1827 "\n    "
      STMT_EXPR@1827..1879
        EXPR_CALL@1827..1873
          EXPR_IDENT@1827..1837
            PATH@1827..1837
              Ident@1827..1837 "check_utf8"
          ARG_LIST@1837..1873
            LParen@1837..1838 "("
            ARG@1838..1867
              EXPR_CALL@1838..1865
                EXPR_IDENT@1838..1853
                  PATH@1838..1853
                    Ident@1838..1841 "Vec"
                    ColonColon@1841..1843 "::"
                    Ident@1843..1853 "from_array"
                ARG_LIST@1853..1865
                  LParen@1853..1854 "("
                  ARG@1854..1864
                    EXPR_ARRAY_LITERAL@1854..1864
                      LBracket@1854..1855 "["
                      EXPR_INT@1855..1858
                        Int@1855..1858 "225"
                      Comma@1858..1859 ","
                      Whitespace@1859..1860 " "
                      EXPR_INT@1860..1863
                        Int@1860..1863 "128"
                      RBracket@1863..1864 "]"
                  RParen@1864..1865 ")"
              Comma@1865..1866 ","
              Whitespace@1866..1867 " "
            ARG@1867..1872
              EXPR_BOOL@1867..1872
                FalseKeyword@1867..1872 "false"
            RParen@1872..1873 ")"
        Semi@1873..1874 ";"
        Whitespace@1874..1879 "\n    "
      STMT_EXPR@1879..1936
        EXPR_CALL@1879..1930
          EXPR_IDENT@1879..1889
            PATH@1879..1889
              Ident@1879..1889 "check_utf8"
          ARG_LIST@1889..1930
            LParen@1889..1890 "("
            ARG@1890..1924
              EXPR_CALL@1890..1922
                EXPR_IDENT@1890..1905
                  PATH@1890..1905
                    Ident@1890..1893 "Vec"
                    ColonColon@1893..1895 "::"
                    Ident@1895..1905 "from_array"
                ARG_LIST@1905..1922
                  LParen@1905..1906 "("
                  ARG@1906..1921
                    EXPR_ARRAY_LITERAL@1906..1921
                      LBracket@1906..1907 "["
                      EXPR_INT@1907..1910
                        Int@1907..1910 "225"
                      Comma@1910..1911 ","
                      Whitespace@1911..1912 " "
                      EXPR_INT@1912..1915
                        Int@1912..1915 "128"
                      Comma@1915..1916 ","
                      Whitespace@1916..1917 " "
                      EXPR_INT@1917..1920
                        Int@1917..1920 "127"
                      RBracket@1920..1921 "]"
                  RParen@1921..1922 ")"
              Comma@1922..1923 ","
              Whitespace@1923..1924 " "
            ARG@1924..1929
              EXPR_BOOL@1924..1929
                FalseKeyword@1924..1929 "false"
            RParen@1929..1930 ")"
        Semi@1930..1931 ";"
        Whitespace@1931..1936 "\n    "
      STMT_EXPR@1936..1993
        EXPR_CALL@1936..1987
          EXPR_IDENT@1936..1946
            PATH@1936..1946
              Ident@1936..1946 "check_utf8"
          ARG_LIST@1946..1987
            LParen@1946..1947 "("
            ARG@1947..1981
              EXPR_CALL@1947..1979
                EXPR_IDENT@1947..1962
                  PATH@1947..1962
                    Ident@1947..1950 "Vec"
                    ColonColon@1950..1952 "::"
                    Ident@1952..1962 "from_array"
                ARG_LIST@1962..1979
                  LParen@1962..1963 "("
                  ARG@1963..1978
                    EXPR_ARRAY_LITERAL@1963..1978
                      LBracket@1963..1964 "["
                      EXPR_INT@1964..1967
                        Int@1964..1967 "237"
                      Comma@1967..1968 ","
                      Whitespace@1968..1969 " "
                      EXPR_INT@1969..1972
                        Int@1969..1972 "160"
                      Comma@1972..1973 ","
                      Whitespace@1973..1974 " "
                      EXPR_INT@1974..1977
                        Int@1974..1977 "128"
                      RBracket@1977..1978 "]"
                  RParen@1978..1979 ")"
              Comma@1979..1980 ","
              Whitespace@1980..1981 " "
            ARG@1981..1986
              EXPR_BOOL@1981..1986
                FalseKeyword@1981..1986 "false"
            RParen@1986..1987 ")"
        Semi@1987..1988 ";"
        Whitespace@1988..1993 "\n    "
      STMT_EXPR@1993..2055
        EXPR_CALL@1993..2049
          EXPR_IDENT@1993..2003
            PATH@1993..2003
              Ident@1993..2003 "check_utf8"
          ARG_LIST@2003..2049
            LParen@2003..2004 "("
            ARG@2004..2043
              EXPR_CALL@2004..2041
                EXPR_IDENT@2004..2019
                  PATH@2004..2019
                    Ident@2004..2007 "Vec"
                    ColonColon@2007..2009 "::"
                    Ident@2009..2019 "from_array"
                ARG_LIST@2019..2041
                  LParen@2019..2020 "("
                  ARG@2020..2040
                    EXPR_ARRAY_LITERAL@2020..2040
                      LBracket@2020..2021 "["
                      EXPR_INT@2021..2024
                        Int@2021..2024 "240"
                      Comma@2024..2025 ","
                      Whitespace@2025..2026 " "
                      EXPR_INT@2026..2029
                        Int@2026..2029 "143"
                      Comma@2029..2030 ","
                      Whitespace@2030..2031 " "
                      EXPR_INT@2031..2034
                        Int@2031..2034 "191"
                      Comma@2034..2035 ","
                      Whitespace@2035..2036 " "
                      EXPR_INT@2036..2039
                        Int@2036..2039 "191"
                      RBracket@2039..2040 "]"
                  RParen@2040..2041 ")"
              Comma@2041..2042 ","
              Whitespace@2042..2043 " "
            ARG@2043..2048
              EXPR_BOOL@2043..2048
                FalseKeyword@2043..2048 "false"
            RParen@2048..2049 ")"
        Semi@2049..2050 ";"
        Whitespace@2050..2055 "\n    "
      STMT_EXPR@2055..2112
        EXPR_CALL@2055..2106
          EXPR_IDENT@2055..2065
            PATH@2055..2065
              Ident@2055..2065 "check_utf8"
          ARG_LIST@2065..2106
            LParen@2065..2066 "("
            ARG@2066..2100
              EXPR_CALL@2066..2098
                EXPR_IDENT@2066..2081
                  PATH@2066..2081
                    Ident@2066..2069 "Vec"
                    ColonColon@2069..2071 "::"
                    Ident@2071..2081 "from_array"
                ARG_LIST@2081..2098
                  LParen@2081..2082 "("
                  ARG@2082..2097
                    EXPR_ARRAY_LITERAL@2082..2097
                      LBracket@2082..2083 "["
                      EXPR_INT@2083..2086
                        Int@2083..2086 "240"
                      Comma@2086..2087 ","
                      Whitespace@2087..2088 " "
                      EXPR_INT@2088..2091
                        Int@2088..2091 "144"
                      Comma@2091..2092 ","
                      Whitespace@2092..2093 " "
                      EXPR_INT@2093..2096
                        Int@2093..2096 "128"
                      RBracket@2096..2097 "]"
                  RParen@2097..2098 ")"
              Comma@2098..2099 ","
              Whitespace@2099..2100 " "
            ARG@2100..2105
              EXPR_BOOL@2100..2105
                FalseKeyword@2100..2105 "false"
            RParen@2105..2106 ")"
        Semi@2106..2107 ";"
        Whitespace@2107..2112 "\n    "
      STMT_EXPR@2112..2174
        EXPR_CALL@2112..2168
          EXPR_IDENT@2112..2122
            PATH@2112..2122
              Ident@2112..2122 "check_utf8"
          ARG_LIST@2122..2168
            LParen@2122..2123 "("
            ARG@2123..2162
              EXPR_CALL@2123..2160
                EXPR_IDENT@2123..2138
                  PATH@2123..2138
                    Ident@2123..2126 "Vec"
                    ColonColon@2126..2128 "::"
                    Ident@2128..2138 "from_array"
                ARG_LIST@2138..2160
                  LParen@2138..2139 "("
                  ARG@2139..2159
                    EXPR_ARRAY_LITERAL@2139..2159
                      LBracket@2139..2140 "["
                      EXPR_INT@2140..2143
                        Int@2140..2143 "244"
                      Comma@2143..2144 ","
                      Whitespace@2144..2145 " "
                      EXPR_INT@2145..2148
                        Int@2145..2148 "144"
                      Comma@2148..2149 ","
                      Whitespace@2149..2150 " "
                      EXPR_INT@2150..2153
                        Int@2150..2153 "128"
                      Comma@2153..2154 ","
                      Whitespace@2154..2155 " "
                      EXPR_INT@2155..2158
                        Int@2155..2158 "128"
                      RBracket@2158..2159 "]"
                  RParen@2159..2160 ")"
              Comma@2160..2161 ","
              Whitespace@2161..2162 " "
            ARG@2162..2167
              EXPR_BOOL@2162..2167
                FalseKeyword@2162..2167 "false"
            RParen@2167..2168 ")"
        Semi@2168..2169 ";"
        Whitespace@2169..2174 "\n    "
      EXPR_CALL@2174..2231
        EXPR_IDENT@2174..2184
          PATH@2174..2184
            Ident@2174..2184 "check_utf8"
        ARG_LIST@2184..2231
          LParen@2184..2185 "("
          ARG@2185..2224
            EXPR_CALL@2185..2222
              EXPR_IDENT@2185..2200
                PATH@2185..2200
                  Ident@2185..2188 "Vec"
                  ColonColon@2188..2190 "::"
                  Ident@2190..2200 "from_array"
              ARG_LIST@2200..2222
                LParen@2200..2201 "("
                ARG@2201..2221
                  EXPR_ARRAY_LITERAL@2201..2221
                    LBracket@2201..2202 "["
                    EXPR_INT@2202..2205
                      Int@2202..2205 "245"
                    Comma@2205..2206 ","
                    Whitespace@2206..2207 " "
                    EXPR_INT@2207..2210
                      Int@2207..2210 "128"
                    Comma@2210..2211 ","
                    Whitespace@2211..2212 " "
                    EXPR_INT@2212..2215
                      Int@2212..2215 "128"
                    Comma@2215..2216 ","
                    Whitespace@2216..2217 " "
                    EXPR_INT@2217..2220
                      Int@2217..2220 "128"
                    RBracket@2220..2221 "]"
                RParen@2221..2222 ")"
            Comma@2222..2223 ","
            Whitespace@2223..2224 " "
          ARG@2224..2229
            EXPR_BOOL@2224..2229
              FalseKeyword@2224..2229 "false"
          RParen@2229..2230 ")"
          Whitespace@2230..2231 "\n"
      RBrace@2231..2232 "}"
      Whitespace@2232..2233 "\n"