FILE@0..3065
  FN@0..113
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..14 "print_chars"
    PARAM_LIST@14..30
      LParen@14..15 "("
      PARAM@15..28
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_STRING@22..28
          StringKeyword@22..28 "string"
      RParen@28..29 ")"
      Whitespace@29..30 " "
    Arrow@30..32 "->"
    Whitespace@32..33 " "
    TYPE_UNIT@33..38
      UnitKeyword@33..37 "unit"
      Whitespace@37..38 " "
    BLOCK@38..113
      LBrace@38..39 "{"
      Whitespace@39..44 "\n    "
      EXPR_FOR@44..110
        ForKeyword@44..47 "for"
        Whitespace@47..48 " "
        PATTERN_VARIABLE@48..58
          Ident@48..57 "character"
          Whitespace@57..58 " "
        InKeyword@58..60 "in"
        Whitespace@60..61 " "
        EXPR_CALL@61..75
          EXPR_BINARY@61..72
            EXPR_IDENT@61..66
              PATH@61..66
                Ident@61..66 "value"
            Dot@66..67 "."
            EXPR_IDENT@67..72
              PATH@67..72
                Ident@67..72 "chars"
          ARG_LIST@72..75
            LParen@72..73 "("
            RParen@73..74 ")"
            Whitespace@74..75 " "
        BLOCK@75..110
          LBrace@75..76 "{"
          Whitespace@76..85 "\n        "
          EXPR_CALL@85..108
            EXPR_IDENT@85..92
              PATH@85..92
                Ident@85..92 "println"
            ARG_LIST@92..108
              LParen@92..93 "("
              ARG@93..102
                EXPR_IDENT@93..102
                  PATH@93..102
                    Ident@93..102 "character"
              RParen@102..103 ")"
              Whitespace@103..108 "\n    "
          RBrace@108..109 "}"
          Whitespace@109..110 "\n"
      RBrace@110..111 "}"
      Whitespace@111..113 "\n\n"
  FN@113..312
    FnKeyword@113..115 "fn"
    Whitespace@115..116 " "
    Ident@116..134 "print_char_indices"
    PARAM_LIST@134..150
      LParen@134..135 "("
      PARAM@135..148
        Ident@135..140 "value"
        Colon@140..141 ":"
        Whitespace@141..142 " "
        TYPE_STRING@142..148
          StringKeyword@142..148 "string"
      RParen@148..149 ")"
      Whitespace@149..150 " "
    Arrow@150..152 "->"
    Whitespace@152..153 " "
    TYPE_UNIT@153..158
      UnitKeyword@153..157 "unit"
      Whitespace@157..158 " "
    BLOCK@158..312
      LBrace@158..159 "{"
      Whitespace@159..164 "\n    "
      EXPR_FOR@164..309
        ForKeyword@164..167 "for"
        Whitespace@167..168 " "
        PATTERN_VARIABLE@168..173
          Ident@168..172 "item"
          Whitespace@172..173 " "
        InKeyword@173..175 "in"
        Whitespace@175..176 " "
        EXPR_CALL@176..197
          EXPR_BINARY@176..194
            EXPR_IDENT@176..181
              PATH@176..181
                Ident@176..181 "value"
            Dot@181..182 "."
            EXPR_IDENT@182..194
              PATH@182..194
                Ident@182..194 "char_indices"
          ARG_LIST@194..197
            LParen@194..195 "("
            RParen@195..196 ")"
            Whitespace@196..197 " "
        BLOCK@197..309
          LBrace@197..198 "{"
          Whitespace@198..207 "\n        "
          STMT_LET@207..246
            LetKeyword@207..210 "let"
            Whitespace@210..211 " "
            PATTERN_TUPLE@211..230
              LParen@211..212 "("
              PATTERN_VARIABLE@212..217
                Ident@212..217 "index"
              Comma@217..218 ","
              Whitespace@218..219 " "
              PATTERN_VARIABLE@219..228
                Ident@219..228 "character"
              RParen@228..229 ")"
              Whitespace@229..230 " "
            Eq@230..231 "="
            Whitespace@231..232 " "
            EXPR_IDENT@232..236
              PATH@232..236
                Ident@232..236 "item"
            Semi@236..237 ";"
            Whitespace@237..246 "\n        "
          EXPR_CALL@246..307
            EXPR_IDENT@246..253
              PATH@246..253
                Ident@246..253 "println"
            ARG_LIST@253..307
              LParen@253..254 "("
              ARG@254..301
                EXPR_BINARY@254..301
                  EXPR_BINARY@254..278
                    EXPR_CALL@254..272
                      EXPR_BINARY@254..269
                        EXPR_IDENT@254..259
                          PATH@254..259
                            Ident@254..259 "index"
                        Dot@259..260 "."
                        EXPR_IDENT@260..269
                          PATH@260..269
                            Ident@260..269 "to_string"
                      ARG_LIST@269..272
                        LParen@269..270 "("
                        RParen@270..271 ")"
                        Whitespace@271..272 " "
                    Plus@272..273 "+"
                    Whitespace@273..274 " "
                    EXPR_STR@274..278
                      Str@274..277 "\":\""
                      Whitespace@277..278 " "
                  Plus@278..279 "+"
                  Whitespace@279..280 " "
                  EXPR_CALL@280..301
                    EXPR_BINARY@280..299
                      EXPR_IDENT@280..289
                        PATH@280..289
                          Ident@280..289 "character"
                      Dot@289..290 "."
                      EXPR_IDENT@290..299
                        PATH@290..299
                          Ident@290..299 "to_string"
                    ARG_LIST@299..301
                      LParen@299..300 "("
                      RParen@300..301 ")"
              RParen@301..302 ")"
              Whitespace@302..307 "\n    "
          RBrace@307..308 "}"
          Whitespace@308..309 "\n"
      RBrace@309..310 "}"
      Whitespace@310..312 "\n\n"
  FN@312..3065
    FnKeyword@312..314 "fn"
    Whitespace@314..315 " "
    Ident@315..319 "main"
    PARAM_LIST@319..322
      LParen@319..320 "("
      RParen@320..321 ")"
      Whitespace@321..322 " "
    BLOCK@322..3065
      LBrace@322..323 "{"
      Whitespace@323..328 "\n    "
      STMT_LET@328..360
        LetKeyword@328..331 "let"
        Whitespace@331..332 " "
        PATTERN_VARIABLE@332..338
          Ident@332..337 "value"
          Whitespace@337..338 " "
        Eq@338..339 "="
        Whitespace@339..340 " "
        EXPR_STR@340..354
          Str@340..354 "\"a你好😀z\""
        Semi@354..355 ";"
        Whitespace@355..360 "\n    "
      STMT_EXPR@360..391
        EXPR_CALL@360..385
          EXPR_IDENT@360..367
            PATH@360..367
              Ident@360..367 "println"
          ARG_LIST@367..385
            LParen@367..368 "("
            ARG@368..384
              EXPR_CALL@368..384
                EXPR_BINARY@368..382
                  EXPR_IDENT@368..373
                    PATH@368..373
                      Ident@368..373 "value"
                  Dot@373..374 "."
                  EXPR_IDENT@374..382
                    PATH@374..382
                      Ident@374..382 "byte_len"
                ARG_LIST@382..384
                  LParen@382..383 "("
                  RParen@383..384 ")"
            RParen@384..385 ")"
        Semi@385..386 ";"
        Whitespace@386..391 "\n    "
      STMT_EXPR@391..417
        EXPR_CALL@391..411
          EXPR_IDENT@391..398
            PATH@391..398
              Ident@391..398 "println"
          ARG_LIST@398..411
            LParen@398..399 "("
            ARG@399..410
              EXPR_CALL@399..410
                EXPR_BINARY@399..408
                  EXPR_IDENT@399..404
                    PATH@399..404
                      Ident@399..404 "value"
                  Dot@404..405 "."
                  EXPR_IDENT@405..408
                    PATH@405..408
                      Ident@405..408 "len"
                ARG_LIST@408..410
                  LParen@408..409 "("
                  RParen@409..410 ")"
            RParen@410..411 ")"
        Semi@411..412 ";"
        Whitespace@412..417 "\n    "
      STMT_EXPR@417..444
        EXPR_CALL@417..438
          EXPR_IDENT@417..424
            PATH@417..424
              Ident@417..424 "println"
          ARG_LIST@424..438
            LParen@424..425 "("
            ARG@425..437
              EXPR_CALL@425..437
                EXPR_BINARY@425..434
                  EXPR_IDENT@425..430
                    PATH@425..430
                      Ident@425..430 "value"
                  Dot@430..431 "."
                  EXPR_IDENT@431..434
                    PATH@431..434
                      Ident@431..434 "get"
                ARG_LIST@434..437
                  LParen@434..435 "("
                  ARG@435..436
                    EXPR_INT@435..436
                      Int@435..436 "0"
                  RParen@436..437 ")"
            RParen@437..438 ")"
        Semi@438..439 ";"
        Whitespace@439..444 "\n    "
      STMT_EXPR@444..471
        EXPR_CALL@444..465
          EXPR_IDENT@444..451
            PATH@444..451
              Ident@444..451 "println"
          ARG_LIST@451..465
            LParen@451..452 "("
            ARG@452..464
              EXPR_CALL@452..464
                EXPR_BINARY@452..461
                  EXPR_IDENT@452..457
                    PATH@452..457
                      Ident@452..457 "value"
                  Dot@457..458 "."
                  EXPR_IDENT@458..461
                    PATH@458..461
                      Ident@458..461 "get"
                ARG_LIST@461..464
                  LParen@461..462 "("
                  ARG@462..463
                    EXPR_INT@462..463
                      Int@462..463 "1"
                  RParen@463..464 ")"
            RParen@464..465 ")"
        Semi@465..466 ";"
        Whitespace@466..471 "\n    "
      STMT_EXPR@471..498
        EXPR_CALL@471..492
          EXPR_IDENT@471..478
            PATH@471..478
              Ident@471..478 "println"
          ARG_LIST@478..492
            LParen@478..479 "("
            ARG@479..491
              EXPR_CALL@479..491
                EXPR_BINARY@479..488
                  EXPR_IDENT@479..484
                    PATH@479..484
                      Ident@479..484 "value"
                  Dot@484..485 "."
                  EXPR_IDENT@485..488
                    PATH@485..488
                      Ident@485..488 "get"
                ARG_LIST@488..491
                  LParen@488..489 "("
                  ARG@489..490
                    EXPR_INT@489..490
                      Int@489..490 "4"
                  RParen@490..491 ")"
            RParen@491..492 ")"
        Semi@492..493 ";"
        Whitespace@493..498 "\n    "
      STMT_EXPR@498..525
        EXPR_CALL@498..519
          EXPR_IDENT@498..505
            PATH@498..505
              Ident@498..505 "println"
          ARG_LIST@505..519
            LParen@505..506 "("
            ARG@506..518
              EXPR_CALL@506..518
                EXPR_BINARY@506..515
                  EXPR_IDENT@506..511
                    PATH@506..511
                      Ident@506..511 "value"
                  Dot@511..512 "."
                  EXPR_IDENT@512..515
                    PATH@512..515
                      Ident@512..515 "get"
                ARG_LIST@515..518
                  LParen@515..516 "("
                  ARG@516..517
                    EXPR_INT@516..517
                      Int@516..517 "7"
                  RParen@517..518 ")"
            RParen@518..519 ")"
        Semi@519..520 ";"
        Whitespace@520..525 "\n    "
      STMT_EXPR@525..553
        EXPR_CALL@525..547
          EXPR_IDENT@525..532
            PATH@525..532
              Ident@525..532 "println"
          ARG_LIST@532..547
            LParen@532..533 "("
            ARG@533..546
              EXPR_CALL@533..546
                EXPR_BINARY@533..542
                  EXPR_IDENT@533..538
                    PATH@533..538
                      Ident@533..538 "value"
                  Dot@538..539 "."
                  EXPR_IDENT@539..542
                    PATH@539..542
                      Ident@539..542 "get"
                ARG_LIST@542..546
                  LParen@542..543 "("
                  ARG@543..545
                    EXPR_INT@543..545
                      Int@543..545 "11"
                  RParen@545..546 ")"
            RParen@546..547 ")"
        Semi@547..548 ";"
        Whitespace@548..553 "\n    "
      STMT_EXPR@553..593
        EXPR_CALL@553..587
          EXPR_IDENT@553..560
            PATH@553..560
              Ident@553..560 "println"
          ARG_LIST@560..587
            LParen@560..561 "("
            ARG@561..586
              EXPR_CALL@561..586
                EXPR_BINARY@561..583
                  EXPR_IDENT@561..566
                    PATH@561..566
                      Ident@561..566 "value"
                  Dot@566..567 "."
                  EXPR_IDENT@567..583
                    PATH@567..583
                      Ident@567..583 "is_char_boundary"
                ARG_LIST@583..586
                  LParen@583..584 "("
                  ARG@584..585
                    EXPR_INT@584..585
                      Int@584..585 "0"
                  RParen@585..586 ")"
            RParen@586..587 ")"
        Semi@587..588 ";"
        Whitespace@588..593 "\n    "
      STMT_EXPR@593..633
        EXPR_CALL@593..627
          EXPR_IDENT@593..600
            PATH@593..600
              Ident@593..600 "println"
          ARG_LIST@600..627
            LParen@600..601 "("
            ARG@601..626
              EXPR_CALL@601..626
                EXPR_BINARY@601..623
                  EXPR_IDENT@601..606
                    PATH@601..606
                      Ident@601..606 "value"
                  Dot@606..607 "."
                  EXPR_IDENT@607..623
                    PATH@607..623
                      Ident@607..623 "is_char_boundary"
                ARG_LIST@623..626
                  LParen@623..624 "("
                  ARG@624..625
                    EXPR_INT@624..625
                      Int@624..625 "2"
                  RParen@625..626 ")"
            RParen@626..627 ")"
        Semi@627..628 ";"
        Whitespace@628..633 "\n    "
      STMT_EXPR@633..673
        EXPR_CALL@633..667
          EXPR_IDENT@633..640
            PATH@633..640
              Ident@633..640 "println"
          ARG_LIST@640..667
            LParen@640..641 "("
            ARG@641..666
              EXPR_CALL@641..666
                EXPR_BINARY@641..663
                  EXPR_IDENT@641..646
                    PATH@641..646
                      Ident@641..646 "value"
                  Dot@646..647 "."
                  EXPR_IDENT@647..663
                    PATH@647..663
                      Ident@647..663 "is_char_boundary"
                ARG_LIST@663..666
                  LParen@663..664 "("
                  ARG@664..665
                    EXPR_INT@664..665
                      Int@664..665 "7"
                  RParen@665..666 ")"
            RParen@666..667 ")"
        Semi@667..668 ";"
        Whitespace@668..673 "\n    "
      STMT_EXPR@673..714
        EXPR_CALL@673..708
          EXPR_IDENT@673..680
            PATH@673..680
              Ident@673..680 "println"
          ARG_LIST@680..708
            LParen@680..681 "("
            ARG@681..707
              EXPR_CALL@681..707
                EXPR_BINARY@681..703
                  EXPR_IDENT@681..686
                    PATH@681..686
                      Ident@681..686 "value"
                  Dot@686..687 "."
                  EXPR_IDENT@687..703
                    PATH@687..703
                      Ident@687..703 "is_char_boundary"
                ARG_LIST@703..707
                  LParen@703..704 "("
                  ARG@704..706
                    EXPR_INT@704..706
                      Int@704..706 "12"
                  RParen@706..707 ")"
            RParen@707..708 ")"
        Semi@708..709 ";"
        Whitespace@709..714 "\n    "
      STMT_EXPR@714..751
        EXPR_CALL@714..745
          EXPR_IDENT@714..721
            PATH@714..721
              Ident@714..721 "println"
          ARG_LIST@721..745
            LParen@721..722 "("
            ARG@722..744
              EXPR_CALL@722..744
                EXPR_BINARY@722..738
                  EXPR_IDENT@722..727
                    PATH@722..727
                      Ident@722..727 "value"
                  Dot@727..728 "."
                  EXPR_IDENT@728..738
                    PATH@728..738
                      Ident@728..738 "byte_slice"
                ARG_LIST@738..744
                  LParen@738..739 "("
                  ARG@739..742
                    EXPR_INT@739..740
                      Int@739..740 "1"
                    Comma@740..741 ","
                    Whitespace@741..742 " "
                  ARG@742..743
                    EXPR_INT@742..743
                      Int@742..743 "7"
                  RParen@743..744 ")"
            RParen@744..745 ")"
        Semi@745..746 ";"
        Whitespace@746..751 "\n    "
      STMT_EXPR@751..984
        EXPR_MATCH@751..978
          MatchKeyword@751..756 "match"
          Whitespace@756..757 " "
          EXPR_CALL@757..776
            EXPR_BINARY@757..772
              EXPR_IDENT@757..762
                PATH@757..762
                  Ident@757..762 "value"
              Dot@762..763 "."
              EXPR_IDENT@763..772
                PATH@763..772
                  Ident@763..772 "decode_at"
            ARG_LIST@772..776
              LParen@772..773 "("
              ARG@773..774
                EXPR_INT@773..774
                  Int@773..774 "7"
              RParen@774..775 ")"
              Whitespace@775..776 " "
          MATCH_ARM_LIST@776..978
            LBrace@776..777 "{"
            Whitespace@777..786 "\n        "
            MATCH_ARM@786..927
              PATTERN_CONSTR@786..808
                PATH@786..798
                  Ident@786..792 "Option"
                  ColonColon@792..794 "::"
                  Ident@794..798 "Some"
                LParen@798..799 "("
                PATTERN_VARIABLE@799..806
                  Ident@799..806 "decoded"
                RParen@806..807 ")"
                Whitespace@807..808 " "
              FatArrow@808..810 "=>"
              Whitespace@810..811 " "
              BLOCK@811..927
                LBrace@811..812 "{"
                Whitespace@812..825 "\n            "
                STMT_LET@825..871
                  LetKeyword@825..828 "let"
                  Whitespace@828..829 " "
                  PATTERN_TUPLE@829..848
                    LParen@829..830 "("
                    PATTERN_VARIABLE@830..839
                      Ident@830..839 "character"
                    Comma@839..840 ","
                    Whitespace@840..841 " "
                    PATTERN_VARIABLE@841..846
                      Ident@841..846 "width"
                    RParen@846..847 ")"
                    Whitespace@847..848 " "
                  Eq@848..849 "="
                  Whitespace@849..850 " "
                  EXPR_IDENT@850..857
                    PATH@850..857
                      Ident@850..857 "decoded"
                  Semi@857..858 ";"
                  Whitespace@858..871 "\n            "
                STMT_EXPR@871..903
                  EXPR_CALL@871..889
                    EXPR_IDENT@871..878
                      PATH@871..878
                        Ident@871..878 "println"
                    ARG_LIST@878..889
                      LParen@878..879 "("
                      ARG@879..888
                        EXPR_IDENT@879..888
                          PATH@879..888
                            Ident@879..888 "character"
                      RParen@888..889 ")"
                  Semi@889..890 ";"
                  Whitespace@890..903 "\n            "
                EXPR_CALL@903..926
                  EXPR_IDENT@903..910
                    PATH@903..910
                      Ident@903..910 "println"
                  ARG_LIST@910..926
                    LParen@910..911 "("
                    ARG@911..916
                      EXPR_IDENT@911..916
                        PATH@911..916
                          Ident@911..916 "width"
                    RParen@916..917 ")"
                    Whitespace@917..926 "\n        "
                RBrace@926..927 "}"
            Comma@927..928 ","
            Whitespace@928..937 "\n        "
            MATCH_ARM@937..971
              PATTERN_CONSTR@937..950
                PATH@937..950
                  Ident@937..943 "Option"
                  ColonColon@943..945 "::"
                  Ident@945..949 "None"
                  Whitespace@949..950 " "
              FatArrow@950..952 "=>"
              Whitespace@952..953 " "
              EXPR_CALL@953..971
                EXPR_IDENT@953..960
                  PATH@953..960
                    Ident@953..960 "println"
                ARG_LIST@960..971
                  LParen@960..961 "("
                  ARG@961..970
                    EXPR_STR@961..970
                      Str@961..970 "\"missing\""
                  RParen@970..971 ")"
            Comma@971..972 ","
            Whitespace@972..977 "\n    "
            RBrace@977..978 "}"
        Semi@978..979 ";"
        Whitespace@979..984 "\n    "
      STMT_EXPR@984..1008
        EXPR_CALL@984..1002
          EXPR_IDENT@984..995
            PATH@984..995
              Ident@984..995 "print_chars"
          ARG_LIST@995..1002
            LParen@995..996 "("
            ARG@996..1001
              EXPR_IDENT@996..1001
                PATH@996..1001
                  Ident@996..1001 "value"
            RParen@1001..1002 ")"
        Semi@1002..1003 ";"
        Whitespace@1003..1008 "\n    "
      STMT_EXPR@1008..1039
        EXPR_CALL@1008..1033
          EXPR_IDENT@1008..1026
            PATH@1008..1026
              Ident@1008..1026 "print_char_indices"
          ARG_LIST@1026..1033
            LParen@1026..1027 "("
            ARG@1027..1032
              EXPR_IDENT@1027..1032
                PATH@1027..1032
                  Ident@1027..1032 "value"
            RParen@1032..1033 ")"
        Semi@1033..1034 ";"
        Whitespace@1034..1039 "\n    "
      STMT_LET@1039..1073
        LetKeyword@1039..1042 "let"
        Whitespace@1042..1043 " "
        PATTERN_VARIABLE@1043..1049
          Ident@1043..1048 "bytes"
          Whitespace@1048..1049 " "
        Eq@1049..1050 "="
        Whitespace@1050..1051 " "
        EXPR_CALL@1051..1067
          EXPR_BINARY@1051..1065
            EXPR_IDENT@1051..1056
              PATH@1051..1056
                Ident@1051..1056 "value"
            Dot@1056..1057 "."
            EXPR_IDENT@1057..1065
              PATH@1057..1065
                Ident@1057..1065 "to_bytes"
          ARG_LIST@1065..1067
            LParen@1065..1066 "("
            RParen@1066..1067 ")"
        Semi@1067..1068 ";"
        Whitespace@1068..1073 "\n    "
      STMT_EXPR@1073..1099
        EXPR_CALL@1073..1093
          EXPR_IDENT@1073..1080
            PATH@1073..1080
              Ident@1073..1080 "println"
          ARG_LIST@1080..1093
            LParen@1080..1081 "("
            ARG@1081..1092
              EXPR_CALL@1081..1092
                EXPR_BINARY@1081..1090
                  EXPR_IDENT@1081..1086
                    PATH@1081..1086
                      Ident@1081..1086 "bytes"
                  Dot@1086..1087 "."
                  EXPR_IDENT@1087..1090
                    PATH@1087..1090
                      Ident@1087..1090 "len"
                ARG_LIST@1090..1092
                  LParen@1090..1091 "("
                  RParen@1091..1092 ")"
            RParen@1092..1093 ")"
        Semi@1093..1094 ";"
        Whitespace@1094..1099 "\n    "
      STMT_EXPR@1099..1126
        EXPR_CALL@1099..1120
          EXPR_IDENT@1099..1106
            PATH@1099..1106
              Ident@1099..1106 "println"
          ARG_LIST@1106..1120
            LParen@1106..1107 "("
            ARG@1107..1119
              EXPR_CALL@1107..1119
                EXPR_BINARY@1107..1116
                  EXPR_IDENT@1107..1112
                    PATH@1107..1112
                      Ident@1107..1112 "bytes"
                  Dot@1112..1113 "."
                  EXPR_IDENT@1113..1116
                    PATH@1113..1116
                      Ident@1113..1116 "get"
                ARG_LIST@1116..1119
                  LParen@1116..1117 "("
                  ARG@1117..1118
                    EXPR_INT@1117..1118
                      Int@1117..1118 "0"
                  RParen@1118..1119 ")"
            RParen@1119..1120 ")"
        Semi@1120..1121 ";"
        Whitespace@1121..1126 "\n    "
      STMT_EXPR@1126..1153
        EXPR_CALL@1126..1147
          EXPR_IDENT@1126..1133
            PATH@1126..1133
              Ident@1126..1133 "println"
          ARG_LIST@1133..1147
            LParen@1133..1134 "("
            ARG@1134..1146
              EXPR_CALL@1134..1146
                EXPR_BINARY@1134..1143
                  EXPR_IDENT@1134..1139
                    PATH@1134..1139
                      Ident@1134..1139 "bytes"
                  Dot@1139..1140 "."
                  EXPR_IDENT@1140..1143
                    PATH@1140..1143
                      Ident@1140..1143 "get"
                ARG_LIST@1143..1146
                  LParen@1143..1144 "("
                  ARG@1144..1145
                    EXPR_INT@1144..1145
                      Int@1144..1145 "1"
                  RParen@1145..1146 ")"
            RParen@1146..1147 ")"
        Semi@1147..1148 ";"
        Whitespace@1148..1153 "\n    "
      STMT_LET@1153..1217
        LetKeyword@1153..1156 "let"
        Whitespace@1156..1157 " "
        PATTERN_TUPLE@1157..1186
          LParen@1157..1158 "("
          PATTERN_VARIABLE@1158..1173
            Ident@1158..1173 "roundtrip_valid"
          Comma@1173..1174 ","
          Whitespace@1174..1175 " "
          PATTERN_VARIABLE@1175..1184
            Ident@1175..1184 "roundtrip"
          RParen@1184..1185 ")"
          Whitespace@1185..1186 " "
        Eq@1186..1187 "="
        Whitespace@1187..1188 " "
        EXPR_CALL@1188..1211
          EXPR_IDENT@1188..1204
            PATH@1188..1204
              Ident@1188..1204 "string_from_utf8"
          ARG_LIST@1204..1211
            LParen@1204..1205 "("
            ARG@1205..1210
              EXPR_IDENT@1205..1210
                PATH@1205..1210
                  Ident@1205..1210 "bytes"
            RParen@1210..1211 ")"
        Semi@1211..1212 ";"
        Whitespace@1212..1217 "\n    "
      STMT_EXPR@1217..1247
        EXPR_CALL@1217..1241
          EXPR_IDENT@1217..1224
            PATH@1217..1224
              Ident@1217..1224 "println"
          ARG_LIST@1224..1241
            LParen@1224..1225 "("
            ARG@1225..1240
              EXPR_IDENT@1225..1240
                PATH@1225..1240
                  Ident@1225..1240 "roundtrip_valid"
            RParen@1240..1241 ")"
        Semi@1241..1242 ";"
        Whitespace@1242..1247 "\n    "
      STMT_EXPR@1247..1271
        EXPR_CALL@1247..1265
          EXPR_IDENT@1247..1254
            PATH@1247..1254
              Ident@1247..1254 "println"
          ARG_LIST@1254..1265
            LParen@1254..1255 "("
            ARG@1255..1264
              EXPR_IDENT@1255..1264
                PATH@1255..1264
                  Ident@1255..1264 "roundtrip"
            RParen@1264..1265 ")"
        Semi@1265..1266 ";"
        Whitespace@1266..1271 "\n    "
      STMT_LET@1271..1313
        LetKeyword@1271..1274 "let"
        Whitespace@1274..1275 " "
        PATTERN_VARIABLE@1275..1282
          Ident@1275..1282 "invalid"
        Colon@1282..1283 ":"
        Whitespace@1283..1284 " "
        TYPE_TAPP@1284..1295
          PATH@1284..1287
            Ident@1284..1287 "Vec"
          TYPE_PARAM_LIST@1287..1295
            LBracket@1287..1288 "["
            TYPE_UINT8@1288..1293
              Uint8Keyword@1288..1293 "uint8"
            RBracket@1293..1294 "]"
            Whitespace@1294..1295 " "
        Eq@1295..1296 "="
        Whitespace@1296..1297 " "
        EXPR_CALL@1297..1307
          EXPR_IDENT@1297..1305
            PATH@1297..1305
              Ident@1297..1300 "Vec"
              ColonColon@1300..1302 "::"
              Ident@1302..1305 "new"
          ARG_LIST@1305..1307
            LParen@1305..1306 "("
            RParen@1306..1307 ")"
        Semi@1307..1308 ";"
        Whitespace@1308..1313 "\n    "
      STMT_EXPR@1313..1336
        EXPR_CALL@1313..1330
          EXPR_BINARY@1313..1325
            EXPR_IDENT@1313..1320
              PATH@1313..1320
                Ident@1313..1320 "invalid"
            Dot@1320..1321 "."
            EXPR_IDENT@1321..1325
              PATH@1321..1325
                Ident@1321..1325 "push"
          ARG_LIST@1325..1330
            LParen@1325..1326 "("
            ARG@1326..1329
              EXPR_INT@1326..1329
                Int@1326..1329 "255"
            RParen@1329..1330 ")"
        Semi@1330..1331 ";"
        Whitespace@1331..1336 "\n    "
      STMT_EXPR@1336..1359
        EXPR_CALL@1336..1353
          EXPR_BINARY@1336..1348
            EXPR_IDENT@1336..1343
              PATH@1336..1343
                Ident@1336..1343 "invalid"
            Dot@1343..1344 "."
            EXPR_IDENT@1344..1348
              PATH@1344..1348
                Ident@1344..1348 "push"
          ARG_LIST@1348..1353
            LParen@1348..1349 "("
            ARG@1349..1352
              EXPR_INT@1349..1352
                Int@1349..1352 "254"
            RParen@1352..1353 ")"
        Semi@1353..1354 ";"
        Whitespace@1354..1359 "\n    "
      STMT_LET@1359..1426
        LetKeyword@1359..1362 "let"
        Whitespace@1362..1363 " "
        PATTERN_TUPLE@1363..1393
          LParen@1363..1364 "("
          PATTERN_VARIABLE@1364..1377
            Ident@1364..1377 "invalid_valid"
          Comma@1377..1378 ","
          Whitespace@1378..1379 " "
          PATTERN_VARIABLE@1379..1391
            Ident@1379..1391 "invalid_text"
          RParen@1391..1392 ")"
          Whitespace@1392..1393 " "
        Eq@1393..1394 "="
        Whitespace@1394..1395 " "
        EXPR_CALL@1395..1420
          EXPR_IDENT@1395..1411
            PATH@1395..1411
              Ident@1395..1411 "string_from_utf8"
          ARG_LIST@1411..1420
            LParen@1411..1412 "("
            ARG@1412..1419
              EXPR_IDENT@1412..1419
                PATH@1412..1419
                  Ident@1412..1419 "invalid"
            RParen@1419..1420 ")"
        Semi@1420..1421 ";"
        Whitespace@1421..1426 "\n    "
      STMT_EXPR@1426..1454
        EXPR_CALL@1426..1448
          EXPR_IDENT@1426..1433
            PATH@1426..1433
              Ident@1426..1433 "println"
          ARG_LIST@1433..1448
            LParen@1433..1434 "("
            ARG@1434..1447
              EXPR_IDENT@1434..1447
                PATH@1434..1447
                  Ident@1434..1447 "invalid_valid"
            RParen@1447..1448 ")"
        Semi@1448..1449 ";"
        Whitespace@1449..1454 "\n    "
      STMT_EXPR@1454..1487
        EXPR_CALL@1454..1481
          EXPR_IDENT@1454..1461
            PATH@1454..1461
              Ident@1454..1461 "println"
          ARG_LIST@1461..1481
            LParen@1461..1462 "("
            ARG@1462..1480
              EXPR_BINARY@1462..1480
                EXPR_IDENT@1462..1475
                  PATH@1462..1475
                    Ident@1462..1474 "invalid_text"
                    Whitespace@1474..1475 " "
                EqEq@1475..1477 "=="
                Whitespace@1477..1478 " "
                EXPR_STR@1478..1480
                  Str@1478..1480 "\"\""
            RParen@1480..1481 ")"
        Semi@1481..1482 ";"
        Whitespace@1482..1487 "\n    "
      STMT_LET@1487..1539
        LetKeyword@1487..1490 "let"
        Whitespace@1490..1491 " "
        PATTERN_VARIABLE@1491..1496
          Ident@1491..1496 "parts"
        Colon@1496..1497 ":"
        Whitespace@1497..1498 " "
        TYPE_TAPP@1498..1510
          PATH@1498..1501
            Ident@1498..1501 "Vec"
          TYPE_PARAM_LIST@1501..1510
            LBracket@1501..1502 "["
            TYPE_STRING@1502..1508
              StringKeyword@1502..1508 "string"
            RBracket@1508..1509 "]"
            Whitespace@1509..1510 " "
        Eq@1510..1511 "="
        Whitespace@1511..1512 " "
        EXPR_CALL@1512..1533
          EXPR_IDENT@1512..1530
            PATH@1512..1530
              Ident@1512..1515 "Vec"
              ColonColon@1515..1517 "::"
              Ident@1517..1530 "with_capacity"
          ARG_LIST@1530..1533
            LParen@1530..1531 "("
            ARG@1531..1532
              EXPR_INT@1531..1532
                Int@1531..1532 "3"
            RParen@1532..1533 ")"
        Semi@1533..1534 ";"
        Whitespace@1534..1539 "\n    "
      STMT_EXPR@1539..1564
        EXPR_CALL@1539..1558
          EXPR_BINARY@1539..1549
            EXPR_IDENT@1539..1544
              PATH@1539..1544
                Ident@1539..1544 "parts"
            Dot@1544..1545 "."
            EXPR_IDENT@1545..1549
              PATH@1545..1549
                Ident@1545..1549 "push"
          ARG_LIST@1549..1558
            LParen@1549..1550 "("
            ARG@1550..1557
              EXPR_STR@1550..1557
                Str@1550..1557 "\"hello\""
            RParen@1557..1558 ")"
        Semi@1558..1559 ";"
        Whitespace@1559..1564 "\n    "
      STMT_EXPR@1564..1587
        EXPR_CALL@1564..1581
          EXPR_BINARY@1564..1574
            EXPR_IDENT@1564..1569
              PATH@1564..1569
                Ident@1564..1569 "parts"
            Dot@1569..1570 "."
            EXPR_IDENT@1570..1574
              PATH@1570..1574
                Ident@1570..1574 "push"
          ARG_LIST@1574..1581
            LParen@1574..1575 "("
            ARG@1575..1580
              EXPR_STR@1575..1580
                Str@1575..1580 "\"，\""
            RParen@1580..1581 ")"
        Semi@1581..1582 ";"
        Whitespace@1582..1587 "\n    "
      STMT_EXPR@1587..1613
        EXPR_CALL@1587..1607
          EXPR_BINARY@1587..1597
            EXPR_IDENT@1587..1592
              PATH@1587..1592
                Ident@1587..1592 "parts"
            Dot@1592..1593 "."
            EXPR_IDENT@1593..1597
              PATH@1593..1597
                Ident@1593..1597 "push"
          ARG_LIST@1597..1607
            LParen@1597..1598 "("
            ARG@1598..1606
              EXPR_STR@1598..1606
                Str@1598..1606 "\"世界\""
            RParen@1606..1607 ")"
        Semi@1607..1608 ";"
        Whitespace@1608..1613 "\n    "
      STMT_EXPR@1613..1649
        EXPR_CALL@1613..1643
          EXPR_IDENT@1613..1620
            PATH@1613..1620
              Ident@1613..1620 "println"
          ARG_LIST@1620..1643
            LParen@1620..1621 "("
            ARG@1621..1642
              EXPR_BINARY@1621..1642
                EXPR_CALL@1621..1638
                  EXPR_BINARY@1621..1635
                    EXPR_IDENT@1621..1626
                      PATH@1621..1626
                        Ident@1621..1626 "parts"
                    Dot@1626..1627 "."
                    EXPR_IDENT@1627..1635
                      PATH@1627..1635
                        Ident@1627..1635 "capacity"
                  ARG_LIST@1635..1638
                    LParen@1635..1636 "("
                    RParen@1636..1637 ")"
                    Whitespace@1637..1638 " "
                GreaterEq@1638..1640 ">="
                Whitespace@1640..1641 " "
                EXPR_INT@1641..1642
                  Int@1641..1642 "3"
            RParen@1642..1643 ")"
        Semi@1643..1644 ";"
        Whitespace@1644..1649 "\n    "
      STMT_EXPR@1649..1684
        EXPR_CALL@1649..1678
          EXPR_IDENT@1649..1656
            PATH@1649..1656
              Ident@1649..1656 "println"
          ARG_LIST@1656..1678
            LParen@1656..1657 "("
            ARG@1657..1677
              EXPR_CALL@1657..1677
                EXPR_IDENT@1657..1670
                  PATH@1657..1670
                    Ident@1657..1670 "string_concat"
                ARG_LIST@1670..1677
                  LParen@1670..1671 "("
                  ARG@1671..1676
                    EXPR_IDENT@1671..1676
                      PATH@1671..1676
                        Ident@1671..1676 "parts"
                  RParen@1676..1677 ")"
            RParen@1677..1678 ")"
        Semi@1678..1679 ";"
        Whitespace@1679..1684 "\n    "
      STMT_LET@1684..1736
        LetKeyword@1684..1687 "let"
        Whitespace@1687..1688 " "
        PATTERN_VARIABLE@1688..1694
          Ident@1688..1694 "values"
        Colon@1694..1695 ":"
        Whitespace@1695..1696 " "
        TYPE_TAPP@1696..1707
          PATH@1696..1699
            Ident@1696..1699 "Vec"
          TYPE_PARAM_LIST@1699..1707
            LBracket@1699..1700 "["
            TYPE_INT32@1700..1705
              Int32Keyword@1700..1705 "int32"
            RBracket@1705..1706 "]"
            Whitespace@1706..1707 " "
        Eq@1707..1708 "="
        Whitespace@1708..1709 " "
        EXPR_CALL@1709..1730
          EXPR_IDENT@1709..1727
            PATH@1709..1727
              Ident@1709..1712 "Vec"
              ColonColon@1712..1714 "::"
              Ident@1714..1727 "with_capacity"
          ARG_LIST@1727..1730
            LParen@1727..1728 "("
            ARG@1728..1729
              EXPR_INT@1728..1729
                Int@1728..1729 "1"
            RParen@1729..1730 ")"
        Semi@1730..1731 ";"
        Whitespace@1731..1736 "\n    "
      STMT_EXPR@1736..1763
        EXPR_CALL@1736..1757
          EXPR_IDENT@1736..1743
            PATH@1736..1743
              Ident@1736..1743 "println"
          ARG_LIST@1743..1757
            LParen@1743..1744 "("
            ARG@1744..1756
              EXPR_CALL@1744..1756
                EXPR_BINARY@1744..1754
                  EXPR_IDENT@1744..1750
                    PATH@1744..1750
                      Ident@1744..1750 "values"
                  Dot@1750..1751 "."
                  EXPR_IDENT@1751..1754
                    PATH@1751..1754
                      Ident@1751..1754 "len"
                ARG_LIST@1754..1756
                  LParen@1754..1755 "("
                  RParen@1755..1756 ")"
            RParen@1756..1757 ")"
        Semi@1757..1758 ";"
        Whitespace@1758..1763 "\n    "
      STMT_EXPR@1763..1800
        EXPR_CALL@1763..1794
          EXPR_IDENT@1763..1770
            PATH@1763..1770
              Ident@1763..1770 "println"
          ARG_LIST@1770..1794
            LParen@1770..1771 "("
            ARG@1771..1793
              EXPR_BINARY@1771..1793
                EXPR_CALL@1771..1789
                  EXPR_BINARY@1771..1786
                    EXPR_IDENT@1771..1777
                      PATH@1771..1777
                        Ident@1771..1777 "values"
                    Dot@1777..1778 "."
                    EXPR_IDENT@1778..1786
                      PATH@1778..1786
                        Ident@1778..1786 "capacity"
                  ARG_LIST@1786..1789
                    LParen@1786..1787 "("
                    RParen@1787..1788 ")"
                    Whitespace@1788..1789 " "
                GreaterEq@1789..1791 ">="
                Whitespace@1791..1792 " "
                EXPR_INT@1792..1793
                  Int@1792..1793 "1"
            RParen@1793..1794 ")"
        Semi@1794..1795 ";"
        Whitespace@1795..1800 "\n    "
      STMT_EXPR@1800..1825
        EXPR_CALL@1800..1819
          EXPR_BINARY@1800..1814
            EXPR_IDENT@1800..1806
              PATH@1800..1806
                Ident@1800..1806 "values"
            Dot@1806..1807 "."
            EXPR_IDENT@1807..1814
              PATH@1807..1814
                Ident@1807..1814 "reserve"
          ARG_LIST@1814..1819
            LParen@1814..1815 "("
            ARG@1815..1818
              EXPR_INT@1815..1818
                Int@1815..1818 "100"
            RParen@1818..1819 ")"
        Semi@1819..1820 ";"
        Whitespace@1820..1825 "\n    "
      STMT_EXPR@1825..1864
        EXPR_CALL@1825..1858
          EXPR_IDENT@1825..1832
            PATH@1825..1832
              Ident@1825..1832 "println"
          ARG_LIST@1832..1858
            LParen@1832..1833 "("
            ARG@1833..1857
              EXPR_BINARY@1833..1857
                EXPR_CALL@1833..1851
                  EXPR_BINARY@1833..1848
                    EXPR_IDENT@1833..1839
                      PATH@1833..1839
                        Ident@1833..1839 "values"
                    Dot@1839..1840 "."
                    EXPR_IDENT@1840..1848
                      PATH@1840..1848
                        Ident@1840..1848 "capacity"
                  ARG_LIST@1848..1851
                    LParen@1848..1849 "("
                    RParen@1849..1850 ")"
                    Whitespace@1850..1851 " "
                GreaterEq@1851..1853 ">="
                Whitespace@1853..1854 " "
                EXPR_INT@1854..1857
                  Int@1854..1857 "100"
            RParen@1857..1858 ")"
        Semi@1858..1859 ";"
        Whitespace@1859..1864 "\n    "
      STMT_EXPR@1864..1884
        EXPR_CALL@1864..1878
          EXPR_BINARY@1864..1875
            EXPR_IDENT@1864..1870
              PATH@1864..1870
                Ident@1864..1870 "values"
            Dot@1870..1871 "."
            EXPR_IDENT@1871..1875
              PATH@1871..1875
                Ident@1871..1875 "push"
          ARG_LIST@1875..1878
            LParen@1875..1876 "("
            ARG@1876..1877
              EXPR_INT@1876..1877
                Int@1876..1877 "1"
            RParen@1877..1878 ")"
        Semi@1878..1879 ";"
        Whitespace@1879..1884 "\n    "
      STMT_EXPR@1884..1904
        EXPR_CALL@1884..1898
          EXPR_BINARY@1884..1895
            EXPR_IDENT@1884..1890
              PATH@1884..1890
                Ident@1884..1890 "values"
            Dot@1890..1891 "."
            EXPR_IDENT@1891..1895
              PATH@1891..1895
                Ident@1891..1895 "push"
          ARG_LIST@1895..1898
            LParen@1895..1896 "("
            ARG@1896..1897
              EXPR_INT@1896..1897
                Int@1896..1897 "2"
            RParen@1897..1898 ")"
        Semi@1898..1899 ";"
        Whitespace@1899..1904 "\n    "
      STMT_EXPR@1904..1924
        EXPR_CALL@1904..1918
          EXPR_BINARY@1904..1915
            EXPR_IDENT@1904..1910
              PATH@1904..1910
                Ident@1904..1910 "values"
            Dot@1910..1911 "."
            EXPR_IDENT@1911..1915
              PATH@1911..1915
                Ident@1911..1915 "push"
          ARG_LIST@1915..1918
            LParen@1915..1916 "("
            ARG@1916..1917
              EXPR_INT@1916..1917
                Int@1916..1917 "3"
            RParen@1917..1918 ")"
        Semi@1918..1919 ";"
        Whitespace@1919..1924 "\n    "
      STMT_EXPR@1924..1949
        EXPR_CALL@1924..1943
          EXPR_BINARY@1924..1937
            EXPR_IDENT@1924..1930
              PATH@1924..1930
                Ident@1924..1930 "values"
            Dot@1930..1931 "."
            EXPR_IDENT@1931..1937
              PATH@1931..1937
                Ident@1931..1937 "insert"
          ARG_LIST@1937..1943
            LParen@1937..1938 "("
            ARG@1938..1941
              EXPR_INT@1938..1939
                Int@1938..1939 "1"
              Comma@1939..1940 ","
              Whitespace@1940..1941 " "
            ARG@1941..1942
              EXPR_INT@1941..1942
                Int@1941..1942 "9"
            RParen@1942..1943 ")"
        Semi@1943..1944 ";"
        Whitespace@1944..1949 "\n    "
      STMT_EXPR@1949..1976
        EXPR_CALL@1949..1970
          EXPR_IDENT@1949..1956
            PATH@1949..1956
              Ident@1949..1956 "println"
          ARG_LIST@1956..1970
            LParen@1956..1957 "("
            ARG@1957..1969
              EXPR_CALL@1957..1969
                EXPR_BINARY@1957..1967
                  EXPR_IDENT@1957..1963
                    PATH@1957..1963
                      Ident@1957..1963 "values"
                  Dot@1963..1964 "."
                  EXPR_IDENT@1964..1967
                    PATH@1964..1967
                      Ident@1964..1967 "len"
                ARG_LIST@1967..1969
                  LParen@1967..1968 "("
                  RParen@1968..1969 ")"
            RParen@1969..1970 ")"
        Semi@1970..1971 ";"
        Whitespace@1971..1976 "\n    "
      STMT_EXPR@1976..2007
        EXPR_CALL@1976..2001
          EXPR_IDENT@1976..1983
            PATH@1976..1983
              Ident@1976..1983 "println"
          ARG_LIST@1983..2001
            LParen@1983..1984 "("
            ARG@1984..2000
              EXPR_CALL@1984..2000
                EXPR_BINARY@1984..1997
                  EXPR_IDENT@1984..1990
                    PATH@1984..1990
                      Ident@1984..1990 "values"
                  Dot@1990..1991 "."
                  EXPR_IDENT@1991..1997
                    PATH@1991..1997
                      Ident@1991..1997 "remove"
                ARG_LIST@1997..2000
                  LParen@1997..1998 "("
                  ARG@1998..1999
                    EXPR_INT@1998..1999
                      Int@1998..1999 "2"
                  RParen@1999..2000 ")"
            RParen@2000..2001 ")"
        Semi@2001..2002 ";"
        Whitespace@2002..2007 "\n    "
      STMT_EXPR@2007..2043
        EXPR_CALL@2007..2037
          EXPR_IDENT@2007..2014
            PATH@2007..2014
              Ident@2007..2014 "println"
          ARG_LIST@2014..2037
            LParen@2014..2015 "("
            ARG@2015..2036
              EXPR_CALL@2015..2036
                EXPR_BINARY@2015..2033
                  EXPR_IDENT@2015..2021
                    PATH@2015..2021
                      Ident@2015..2021 "values"
                  Dot@2021..2022 "."
                  EXPR_IDENT@2022..2033
                    PATH@2022..2033
                      Ident@2022..2033 "swap_remove"
                ARG_LIST@2033..2036
                  LParen@2033..2034 "("
                  ARG@2034..2035
                    EXPR_INT@2034..2035
                      Int@2034..2035 "0"
                  RParen@2035..2036 ")"
            RParen@2036..2037 ")"
        Semi@2037..2038 ";"
        Whitespace@2038..2043 "\n    "
      STMT_EXPR@2043..2065
        EXPR_CALL@2043..2059
          EXPR_BINARY@2043..2057
            EXPR_IDENT@2043..2049
              PATH@2043..2049
                Ident@2043..2049 "values"
            Dot@2049..2050 "."
            EXPR_IDENT@2050..2057
              PATH@2050..2057
                Ident@2050..2057 "reverse"
          ARG_LIST@2057..2059
            LParen@2057..2058 "("
            RParen@2058..2059 ")"
        Semi@2059..2060 ";"
        Whitespace@2060..2065 "\n    "
      STMT_EXPR@2065..2093
        EXPR_CALL@2065..2087
          EXPR_IDENT@2065..2072
            PATH@2065..2072
              Ident@2065..2072 "println"
          ARG_LIST@2072..2087
            LParen@2072..2073 "("
            ARG@2073..2086
              EXPR_CALL@2073..2086
                EXPR_BINARY@2073..2083
                  EXPR_IDENT@2073..2079
                    PATH@2073..2079
                      Ident@2073..2079 "values"
                  Dot@2079..2080 "."
                  EXPR_IDENT@2080..2083
                    PATH@2080..2083
                      Ident@2080..2083 "get"
                ARG_LIST@2083..2086
                  LParen@2083..2084 "("
                  ARG@2084..2085
                    EXPR_INT@2084..2085
                      Int@2084..2085 "0"
                  RParen@2085..2086 ")"
            RParen@2086..2087 ")"
        Semi@2087..2088 ";"
        Whitespace@2088..2093 "\n    "
      STMT_EXPR@2093..2121
        EXPR_CALL@2093..2115
          EXPR_IDENT@2093..2100
            PATH@2093..2100
              Ident@2093..2100 "println"
          ARG_LIST@2100..2115
            LParen@2100..2101 "("
            ARG@2101..2114
              EXPR_CALL@2101..2114
                EXPR_BINARY@2101..2111
                  EXPR_IDENT@2101..2107
                    PATH@2101..2107
                      Ident@2101..2107 "values"
                  Dot@2107..2108 "."
                  EXPR_IDENT@2108..2111
                    PATH@2108..2111
                      Ident@2108..2111 "get"
                ARG_LIST@2111..2114
                  LParen@2111..2112 "("
                  ARG@2112..2113
                    EXPR_INT@2112..2113
                      Int@2112..2113 "1"
                  RParen@2113..2114 ")"
            RParen@2114..2115 ")"
        Semi@2115..2116 ";"
        Whitespace@2116..2121 "\n    "
      STMT_EXPR@2121..2238
        EXPR_MATCH@2121..2232
          MatchKeyword@2121..2126 "match"
          Whitespace@2126..2127 " "
          EXPR_CALL@2127..2141
            EXPR_BINARY@2127..2138
              EXPR_IDENT@2127..2133
                PATH@2127..2133
                  Ident@2127..2133 "values"
              Dot@2133..2134 "."
              EXPR_IDENT@2134..2138
                PATH@2134..2138
                  Ident@2134..2138 "last"
            ARG_LIST@2138..2141
              LParen@2138..2139 "("
              RParen@2139..2140 ")"
              Whitespace@2140..2141 " "
          MATCH_ARM_LIST@2141..2232
            LBrace@2141..2142 "{"
            Whitespace@2142..2151 "\n        "
            MATCH_ARM@2151..2188
              PATTERN_CONSTR@2151..2171
                PATH@2151..2163
                  Ident@2151..2157 "Option"
                  ColonColon@2157..2159 "::"
                  Ident@2159..2163 "Some"
                LParen@2163..2164 "("
                PATTERN_VARIABLE@2164..2169
                  Ident@2164..2169 "value"
                RParen@2169..2170 ")"
                Whitespace@2170..2171 " "
              FatArrow@2171..2173 "=>"
              Whitespace@2173..2174 " "
              EXPR_CALL@2174..2188
                EXPR_IDENT@2174..2181
                  PATH@2174..2181
                    Ident@2174..2181 "println"
                ARG_LIST@2181..2188
                  LParen@2181..2182 "("
                  ARG@2182..2187
                    EXPR_IDENT@2182..2187
                      PATH@2182..2187
                        Ident@2182..2187 "value"
                  RParen@2187..2188 ")"
            Comma@2188..2189 ","
            Whitespace@2189..2198 "\n        "
            MATCH_ARM@2198..2225
              PATTERN_CONSTR@2198..2211
                PATH@2198..2211
                  Ident@2198..2204 "Option"
                  ColonColon@2204..2206 "::"
                  Ident@2206..2210 "None"
                  Whitespace@2210..2211 " "
              FatArrow@2211..2213 "=>"
              Whitespace@2213..2214 " "
              EXPR_CALL@2214..2225
                EXPR_IDENT@2214..2221
                  PATH@2214..2221
                    Ident@2214..2221 "println"
                ARG_LIST@2221..2225
                  LParen@2221..2222 "("
                  ARG@2222..2224
                    EXPR_PREFIX@2222..2224
                      Minus@2222..2223 "-"
                      EXPR_INT@2223..2224
                        Int@2223..2224 "1"
                  RParen@2224..2225 ")"
            Comma@2225..2226 ","
            Whitespace@2226..2231 "\n    "
            RBrace@2231..2232 "}"
        Semi@2232..2233 ";"
        Whitespace@2233..2238 "\n    "
      STMT_EXPR@2238..2354
        EXPR_MATCH@2238..2348
          MatchKeyword@2238..2243 "match"
          Whitespace@2243..2244 " "
          EXPR_CALL@2244..2257
            EXPR_BINARY@2244..2254
              EXPR_IDENT@2244..2250
                PATH@2244..2250
                  Ident@2244..2250 "values"
              Dot@2250..2251 "."
              EXPR_IDENT@2251..2254
                PATH@2251..2254
                  Ident@2251..2254 "pop"
            ARG_LIST@2254..2257
              LParen@2254..2255 "("
              RParen@2255..2256 ")"
              Whitespace@2256..2257 " "
          MATCH_ARM_LIST@2257..2348
            LBrace@2257..2258 "{"
            Whitespace@2258..2267 "\n        "
            MATCH_ARM@2267..2304
              PATTERN_CONSTR@2267..2287
                PATH@2267..2279
                  Ident@2267..2273 "Option"
                  ColonColon@2273..2275 "::"
                  Ident@2275..2279 "Some"
                LParen@2279..2280 "("
                PATTERN_VARIABLE@2280..2285
                  Ident@2280..2285 "value"
                RParen@2285..2286 ")"
                Whitespace@2286..2287 " "
              FatArrow@2287..2289 "=>"
              Whitespace@2289..2290 " "
              EXPR_CALL@2290..2304
                EXPR_IDENT@2290..2297
                  PATH@2290..2297
                    Ident@2290..2297 "println"
                ARG_LIST@2297..2304
                  LParen@2297..2298 "("
                  ARG@2298..2303
                    EXPR_IDENT@2298..2303
                      PATH@2298..2303
                        Ident@2298..2303 "value"
                  RParen@2303..2304 ")"
            Comma@2304..2305 ","
            Whitespace@2305..2314 "\n        "
            MATCH_ARM@2314..2341
              PATTERN_CONSTR@2314..2327
                PATH@2314..2327
                  Ident@2314..2320 "Option"
                  ColonColon@2320..2322 "::"
                  Ident@2322..2326 "None"
                  Whitespace@2326..2327 " "
              FatArrow@2327..2329 "=>"
              Whitespace@2329..2330 " "
              EXPR_CALL@2330..2341
                EXPR_IDENT@2330..2337
                  PATH@2330..2337
                    Ident@2330..2337 "println"
                ARG_LIST@2337..2341
                  LParen@2337..2338 "("
                  ARG@2338..2340
                    EXPR_PREFIX@2338..2340
                      Minus@2338..2339 "-"
                      EXPR_INT@2339..2340
                        Int@2339..2340 "1"
                  RParen@2340..2341 ")"
            Comma@2341..2342 ","
            Whitespace@2342..2347 "\n    "
            RBrace@2347..2348 "}"
        Semi@2348..2349 ";"
        Whitespace@2349..2354 "\n    "
      STMT_EXPR@2354..2378
        EXPR_CALL@2354..2372
          EXPR_BINARY@2354..2369
            EXPR_IDENT@2354..2360
              PATH@2354..2360
                Ident@2354..2360 "values"
            Dot@2360..2361 "."
            EXPR_IDENT@2361..2369
              PATH@2361..2369
                Ident@2361..2369 "truncate"
          ARG_LIST@2369..2372
            LParen@2369..2370 "("
            ARG@2370..2371
              EXPR_INT@2370..2371
                Int@2370..2371 "0"
            RParen@2371..2372 ")"
        Semi@2372..2373 ";"
        Whitespace@2373..2378 "\n    "
      STMT_EXPR@2378..2410
        EXPR_CALL@2378..2404
          EXPR_IDENT@2378..2385
            PATH@2378..2385
              Ident@2378..2385 "println"
          ARG_LIST@2385..2404
            LParen@2385..2386 "("
            ARG@2386..2403
              EXPR_CALL@2386..2403
                EXPR_BINARY@2386..2401
                  EXPR_IDENT@2386..2392
                    PATH@2386..2392
                      Ident@2386..2392 "values"
                  Dot@2392..2393 "."
                  EXPR_IDENT@2393..2401
                    PATH@2393..2401
                      Ident@2393..2401 "is_empty"
                ARG_LIST@2401..2403
                  LParen@2401..2402 "("
                  RParen@2402..2403 ")"
            RParen@2403..2404 ")"
        Semi@2404..2405 ";"
        Whitespace@2405..2410 "\n    "
      STMT_EXPR@2410..2431
        EXPR_CALL@2410..2425
          EXPR_BINARY@2410..2421
            EXPR_IDENT@2410..2416
              PATH@2410..2416
                Ident@2410..2416 "values"
            Dot@2416..2417 "."
            EXPR_IDENT@2417..2421
              PATH@2417..2421
                Ident@2417..2421 "push"
          ARG_LIST@2421..2425
            LParen@2421..2422 "("
            ARG@2422..2424
              EXPR_INT@2422..2424
                Int@2422..2424 "42"
            RParen@2424..2425 ")"
        Semi@2425..2426 ";"
        Whitespace@2426..2431 "\n    "
      STMT_EXPR@2431..2451
        EXPR_CALL@2431..2445
          EXPR_BINARY@2431..2443
            EXPR_IDENT@2431..2437
              PATH@2431..2437
                Ident@2431..2437 "values"
            Dot@2437..2438 "."
            EXPR_IDENT@2438..2443
              PATH@2438..2443
                Ident@2438..2443 "clear"
          ARG_LIST@2443..2445
            LParen@2443..2444 "("
            RParen@2444..2445 ")"
        Semi@2445..2446 ";"
        Whitespace@2446..2451 "\n    "
      STMT_EXPR@2451..2478
        EXPR_CALL@2451..2472
          EXPR_IDENT@2451..2458
            PATH@2451..2458
              Ident@2451..2458 "println"
          ARG_LIST@2458..2472
            LParen@2458..2459 "("
            ARG@2459..2471
              EXPR_CALL@2459..2471
                EXPR_BINARY@2459..2469
                  EXPR_IDENT@2459..2465
                    PATH@2459..2465
                      Ident@2459..2465 "values"
                  Dot@2465..2466 "."
                  EXPR_IDENT@2466..2469
                    PATH@2466..2469
                      Ident@2466..2469 "len"
                ARG_LIST@2469..2471
                  LParen@2469..2470 "("
                  RParen@2470..2471 ")"
            RParen@2471..2472 ")"
        Semi@2472..2473 ";"
        Whitespace@2473..2478 "\n    "
      STMT_LET@2478..2532
        LetKeyword@2478..2481 "let"
        Whitespace@2481..2482 " "
        PATTERN_VARIABLE@2482..2485
          Ident@2482..2485 "map"
        Colon@2485..2486 ":"
        Whitespace@2486..2487 " "
        TYPE_TAPP@2487..2510
          PATH@2487..2494
            Ident@2487..2494 "HashMap"
          TYPE_PARAM_LIST@2494..2510
            LBracket@2494..2495 "["
            TYPE_STRING@2495..2501
              StringKeyword@2495..2501 "string"
            Comma@2501..2502 ","
            Whitespace@2502..2503 " "
            TYPE_INT32@2503..2508
              Int32Keyword@2503..2508 "int32"
            RBracket@2508..2509 "]"
            Whitespace@2509..2510 " "
        Eq@2510..2511 "="
        Whitespace@2511..2512 " "
        EXPR_CALL@2512..2526
          EXPR_IDENT@2512..2524
            PATH@2512..2524
              Ident@2512..2519 "HashMap"
              ColonColon@2519..2521 "::"
              Ident@2521..2524 "new"
          ARG_LIST@2524..2526
            LParen@2524..2525 "("
            RParen@2525..2526 ")"
        Semi@2526..2527 ";"
        Whitespace@2527..2532 "\n    "
      STMT_EXPR@2532..2553
        EXPR_CALL@2532..2547
          EXPR_BINARY@2532..2539
            EXPR_IDENT@2532..2535
              PATH@2532..2535
                Ident@2532..2535 "map"
            Dot@2535..2536 "."
            EXPR_IDENT@2536..2539
              PATH@2536..2539
                Ident@2536..2539 "set"
          ARG_LIST@2539..2547
            LParen@2539..2540 "("
            ARG@2540..2545
              EXPR_STR@2540..2543
                Str@2540..2543 "\"a\""
              Comma@2543..2544 ","
              Whitespace@2544..2545 " "
            ARG@2545..2546
              EXPR_INT@2545..2546
                Int@2545..2546 "1"
            RParen@2546..2547 ")"
        Semi@2547..2548 ";"
        Whitespace@2548..2553 "\n    "
      STMT_EXPR@2553..2574
        EXPR_CALL@2553..2568
          EXPR_BINARY@2553..2560
            EXPR_IDENT@2553..2556
              PATH@2553..2556
                Ident@2553..2556 "map"
            Dot@2556..2557 "."
            EXPR_IDENT@2557..2560
              PATH@2557..2560
                Ident@2557..2560 "set"
          ARG_LIST@2560..2568
            LParen@2560..2561 "("
            ARG@2561..2566
              EXPR_STR@2561..2564
                Str@2561..2564 "\"b\""
              Comma@2564..2565 ","
              Whitespace@2565..2566 " "
            ARG@2566..2567
              EXPR_INT@2566..2567
                Int@2566..2567 "2"
            RParen@2567..2568 ")"
        Semi@2568..2569 ";"
        Whitespace@2569..2574 "\n    "
      STMT_LET@2574..2607
        LetKeyword@2574..2577 "let"
        Whitespace@2577..2578 " "
        PATTERN_VARIABLE@2578..2586
          Ident@2578..2585 "entries"
          Whitespace@2585..2586 " "
        Eq@2586..2587 "="
        Whitespace@2587..2588 " "
        EXPR_CALL@2588..2601
          EXPR_BINARY@2588..2599
            EXPR_IDENT@2588..2591
              PATH@2588..2591
                Ident@2588..2591 "map"
            Dot@2591..2592 "."
            EXPR_IDENT@2592..2599
              PATH@2592..2599
                Ident@2592..2599 "entries"
          ARG_LIST@2599..2601
            LParen@2599..2600 "("
            RParen@2600..2601 ")"
        Semi@2601..2602 ";"
        Whitespace@2602..2607 "\n    "
      STMT_EXPR@2607..2635
        EXPR_CALL@2607..2629
          EXPR_IDENT@2607..2614
            PATH@2607..2614
              Ident@2607..2614 "println"
          ARG_LIST@2614..2629
            LParen@2614..2615 "("
            ARG@2615..2628
              EXPR_CALL@2615..2628
                EXPR_BINARY@2615..2626
                  EXPR_IDENT@2615..2622
                    PATH@2615..2622
                      Ident@2615..2622 "entries"
                  Dot@2622..2623 "."
                  EXPR_IDENT@2623..2626
                    PATH@2623..2626
                      Ident@2623..2626 "len"
                ARG_LIST@2626..2628
                  LParen@2626..2627 "("
                  RParen@2627..2628 ")"
            RParen@2628..2629 ")"
        Semi@2629..2630 ";"
        Whitespace@2630..2635 "\n    "
      STMT_EXPR@2635..2656
        EXPR_CALL@2635..2650
          EXPR_BINARY@2635..2642
            EXPR_IDENT@2635..2638
              PATH@2635..2638
                Ident@2635..2638 "map"
            Dot@2638..2639 "."
            EXPR_IDENT@2639..2642
              PATH@2639..2642
                Ident@2639..2642 "set"
          ARG_LIST@2642..2650
            LParen@2642..2643 "("
            ARG@2643..2648
              EXPR_STR@2643..2646
                Str@2643..2646 "\"c\""
              Comma@2646..2647 ","
              Whitespace@2647..2648 " "
            ARG@2648..2649
              EXPR_INT@2648..2649
                Int@2648..2649 "3"
            RParen@2649..2650 ")"
        Semi@2650..2651 ";"
        Whitespace@2651..2656 "\n    "
      STMT_EXPR@2656..2677
        EXPR_CALL@2656..2671
          EXPR_BINARY@2656..2666
            EXPR_IDENT@2656..2659
              PATH@2656..2659
                Ident@2656..2659 "map"
            Dot@2659..2660 "."
            EXPR_IDENT@2660..2666
              PATH@2660..2666
                Ident@2660..2666 "remove"
          ARG_LIST@2666..2671
            LParen@2666..2667 "("
            ARG@2667..2670
              EXPR_STR@2667..2670
                Str@2667..2670 "\"a\""
            RParen@2670..2671 ")"
        Semi@2671..2672 ";"
        Whitespace@2672..2677 "\n    "
      STMT_EXPR@2677..2705
        EXPR_CALL@2677..2699
          EXPR_IDENT@2677..2684
            PATH@2677..2684
              Ident@2677..2684 "println"
          ARG_LIST@2684..2699
            LParen@2684..2685 "("
            ARG@2685..2698
              EXPR_CALL@2685..2698
                EXPR_BINARY@2685..2696
                  EXPR_IDENT@2685..2692
                    PATH@2685..2692
                      Ident@2685..2692 "entries"
                  Dot@2692..2693 "."
                  EXPR_IDENT@2693..2696
                    PATH@2693..2696
                      Ident@2693..2696 "len"
                ARG_LIST@2696..2698
                  LParen@2696..2697 "("
                  RParen@2697..2698 ")"
            RParen@2698..2699 ")"
        Semi@2699..2700 ";"
        Whitespace@2700..2705 "\n    "
      STMT_LET@2705..2739
        LetKeyword@2705..2708 "let"
        Whitespace@2708..2709 " "
        PATTERN_VARIABLE@2709..2716
          Ident@2709..2715 "seen_a"
          Whitespace@2715..2716 " "
        Eq@2716..2717 "="
        Whitespace@2717..2718 " "
        EXPR_CALL@2718..2733
          EXPR_IDENT@2718..2726
            PATH@2718..2726
              Ident@2718..2721 "Ref"
              ColonColon@2721..2723 "::"
              Ident@2723..2726 "new"
          ARG_LIST@2726..2733
            LParen@2726..2727 "("
            ARG@2727..2732
              EXPR_BOOL@2727..2732
                FalseKeyword@2727..2732 "false"
            RParen@2732..2733 ")"
        Semi@2733..2734 ";"
        Whitespace@2734..2739 "\n    "
      STMT_LET@2739..2773
        LetKeyword@2739..2742 "let"
        Whitespace@2742..2743 " "
        PATTERN_VARIABLE@2743..2750
          Ident@2743..2749 "seen_b"
          Whitespace@2749..2750 " "
        Eq@2750..2751 "="
        Whitespace@2751..2752 " "
        EXPR_CALL@2752..2767
          EXPR_IDENT@2752..2760
            PATH@2752..2760
              Ident@2752..2755 "Ref"
              ColonColon@2755..2757 "::"
              Ident@2757..2760 "new"
          ARG_LIST@2760..2767
            LParen@2760..2761 "("
            ARG@2761..2766
              EXPR_BOOL@2761..2766
                FalseKeyword@2761..2766 "false"
            RParen@2766..2767 ")"
        Semi@2767..2768 ";"
        Whitespace@2768..2773 "\n    "
      STMT_EXPR@2773..3014
        EXPR_FOR@2773..3014
          ForKeyword@2773..2776 "for"
          Whitespace@2776..2777 " "
          PATTERN_VARIABLE@2777..2783
            Ident@2777..2782 "entry"
            Whitespace@2782..2783 " "
          InKeyword@2783..2785 "in"
          Whitespace@2785..2786 " "
          EXPR_IDENT@2786..2794
            PATH@2786..2794
              Ident@2786..2793 "entries"
              Whitespace@2793..2794 " "
          BLOCK@2794..3014
            LBrace@2794..2795 "{"
            Whitespace@2795..2804 "\n        "
            STMT_LET@2804..2843
              LetKeyword@2804..2807 "let"
              Whitespace@2807..2808 " "
              PATTERN_TUPLE@2808..2826
                LParen@2808..2809 "("
                PATTERN_VARIABLE@2809..2812
                  Ident@2809..2812 "key"
                Comma@2812..2813 ","
                Whitespace@2813..2814 " "
                PATTERN_VARIABLE@2814..2824
                  Ident@2814..2824 "item_value"
                RParen@2824..2825 ")"
                Whitespace@2825..2826 " "
              Eq@2826..2827 "="
              Whitespace@2827..2828 " "
              EXPR_IDENT@2828..2833
                PATH@2828..2833
                  Ident@2828..2833 "entry"
              Semi@2833..2834 ";"
              Whitespace@2834..2843 "\n        "
            EXPR_IF@2843..3008
              IfKeyword@2843..2845 "if"
              Whitespace@2845..2846 " "
              EXPR_IF_COND@2846..2876
                EXPR_BINARY@2846..2876
                  EXPR_BINARY@2846..2857
                    EXPR_IDENT@2846..2850
                      PATH@2846..2850
                        Ident@2846..2849 "key"
                        Whitespace@2849..2850 " "
                    EqEq@2850..2852 "=="
                    Whitespace@2852..2853 " "
                    EXPR_STR@2853..2857
                      Str@2853..2856 "\"a\""
                      Whitespace@2856..2857 " "
                  AndAnd@2857..2859 "&&"
                  Whitespace@2859..2860 " "
                  EXPR_BINARY@2860..2876
                    EXPR_IDENT@2860..2871
                      PATH@2860..2871
                        Ident@2860..2870 "item_value"
                        Whitespace@2870..2871 " "
                    EqEq@2871..2873 "=="
                    Whitespace@2873..2874 " "
                    EXPR_INT@2874..2876
                      Int@2874..2875 "1"
                      Whitespace@2875..2876 " "
              EXPR_IF_THEN@2876..2917
                BLOCK@2876..2917
                  LBrace@2876..2877 "{"
                  Whitespace@2877..2890 "\n            "
                  EXPR_CALL@2890..2915
                    EXPR_BINARY@2890..2900
                      EXPR_IDENT@2890..2896
                        PATH@2890..2896
                          Ident@2890..2896 "seen_a"
                      Dot@2896..2897 "."
                      EXPR_IDENT@2897..2900
                        PATH@2897..2900
                          Ident@2897..2900 "set"
                    ARG_LIST@2900..2915
                      LParen@2900..2901 "("
                      ARG@2901..2905
                        EXPR_BOOL@2901..2905
                          TrueKeyword@2901..2905 "true"
                      RParen@2905..2906 ")"
                      Whitespace@2906..2915 "\n        "
                  RBrace@2915..2916 "}"
                  Whitespace@2916..2917 " "
              ElseKeyword@2917..2921 "else"
              Whitespace@2921..2922 " "
              EXPR_IF_ELSE@2922..3008
                EXPR_IF@2922..3008
                  IfKeyword@2922..2924 "if"
                  Whitespace@2924..2925 " "
                  EXPR_IF_COND@2925..2955
                    EXPR_BINARY@2925..2955
                      EXPR_BINARY@2925..2936
                        EXPR_IDENT@2925..2929
                          PATH@2925..2929
                            Ident@2925..2928 "key"
                            Whitespace@2928..2929 " "
                        EqEq@2929..2931 "=="
                        Whitespace@2931..2932 " "
                        EXPR_STR@2932..2936
                          Str@2932..2935 "\"b\""
                          Whitespace@2935..2936 " "
                      AndAnd@2936..2938 "&&"
                      Whitespace@2938..2939 " "
                      EXPR_BINARY@2939..2955
                        EXPR_IDENT@2939..2950
                          PATH@2939..2950
                            Ident@2939..2949 "item_value"
                            Whitespace@2949..2950 " "
                        EqEq@2950..2952 "=="
                        Whitespace@2952..2953 " "
                        EXPR_INT@2953..2955
                          Int@2953..2954 "2"
                          Whitespace@2954..2955 " "
                  EXPR_IF_THEN@2955..2996
                    BLOCK@2955..2996
                      LBrace@2955..2956 "{"
                      Whitespace@2956..2969 "\n            "
                      EXPR_CALL@2969..2994
                        EXPR_BINARY@2969..2979
                          EXPR_IDENT@2969..2975
                            PATH@2969..2975
                              Ident@2969..2975 "seen_b"
                          Dot@2975..2976 "."
                          EXPR_IDENT@2976..2979
                            PATH@2976..2979
                              Ident@2976..2979 "set"
                        ARG_LIST@2979..2994
                          LParen@2979..2980 "("
                          ARG@2980..2984
                            EXPR_BOOL@2980..2984
                              TrueKeyword@2980..2984 "true"
                          RParen@2984..2985 ")"
                          Whitespace@2985..2994 "\n        "
                      RBrace@2994..2995 "}"
                      Whitespace@2995..2996 " "
                  ElseKeyword@2996..3000 "else"
                  Whitespace@3000..3001 " "
                  EXPR_IF_ELSE@3001..3008
                    BLOCK@3001..3008
                      LBrace@3001..3002 "{"
                      RBrace@3002..3003 "}"
                      Whitespace@3003..3008 "\n    "
            RBrace@3008..3009 "}"
            Whitespace@3009..3014 "\n    "
      STMT_EXPR@3014..3041
        EXPR_CALL@3014..3035
          EXPR_IDENT@3014..3021
            PATH@3014..3021
              Ident@3014..3021 "println"
          ARG_LIST@3021..3035
            LParen@3021..3022 "("
            ARG@3022..3034
              EXPR_CALL@3022..3034
                EXPR_BINARY@3022..3032
                  EXPR_IDENT@3022..3028
                    PATH@3022..3028
                      Ident@3022..3028 "seen_a"
                  Dot@3028..3029 "."
                  EXPR_IDENT@3029..3032
                    PATH@3029..3032
                      Ident@3029..3032 "get"
                ARG_LIST@3032..3034
                  LParen@3032..3033 "("
                  RParen@3033..3034 ")"
            RParen@3034..3035 ")"
        Semi@3035..3036 ";"
        Whitespace@3036..3041 "\n    "
      EXPR_CALL@3041..3063
        EXPR_IDENT@3041..3048
          PATH@3041..3048
            Ident@3041..3048 "println"
        ARG_LIST@3048..3063
          LParen@3048..3049 "("
          ARG@3049..3061
            EXPR_CALL@3049..3061
              EXPR_BINARY@3049..3059
                EXPR_IDENT@3049..3055
                  PATH@3049..3055
                    Ident@3049..3055 "seen_b"
                Dot@3055..3056 "."
                EXPR_IDENT@3056..3059
                  PATH@3056..3059
                    Ident@3056..3059 "get"
              ARG_LIST@3059..3061
                LParen@3059..3060 "("
                RParen@3060..3061 ")"
          RParen@3061..3062 ")"
          Whitespace@3062..3063 "\n"
      RBrace@3063..3064 "}"
      Whitespace@3064..3065 "\n"