FILE@0..221
  STRUCT@0..30
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..8 "S"
    Whitespace@8..9 " "
    LBrace@9..10 "{"
    Whitespace@10..15 "\n    "
    STRUCT_FIELD_LIST@15..30
      STRUCT_FIELD@15..25
        Ident@15..20 "value"
        Colon@20..21 ":"
        Whitespace@21..22 " "
        TYPE_INT32@22..25
          I32Keyword@22..25 "i32"
      Comma@25..26 ","
      Whitespace@26..27 "\n"
      RBrace@27..28 "}"
      Whitespace@28..30 "\n\n"
  IMPL@30..143
    ImplKeyword@30..34 "impl"
    Whitespace@34..35 " "
    TYPE_TAPP@35..44
      PATH@35..44
        Ident@35..43 "ToString"
        Whitespace@43..44 " "
    ForKeyword@44..47 "for"
    Whitespace@47..48 " "
    TYPE_TAPP@48..50
      PATH@48..50
        Ident@48..49 "S"
        Whitespace@49..50 " "
    LBrace@50..51 "{"
    Whitespace@51..56 "\n    "
    FN@56..140
      FnKeyword@56..58 "fn"
      Whitespace@58..59 " "
      Ident@59..68 "to_string"
      PARAM_LIST@68..78
        LParen@68..69 "("
        PARAM@69..76
          Ident@69..73 "self"
          Colon@73..74 ":"
          Whitespace@74..75 " "
          TYPE_TAPP@75..76
            PATH@75..76
              Ident@75..76 "S"
        RParen@76..77 ")"
        Whitespace@77..78 " "
      Arrow@78..80 "->"
      Whitespace@80..81 " "
      TYPE_STRING@81..88
        StringKeyword@81..87 "string"
        Whitespace@87..88 " "
      BLOCK@88..140
        LBrace@88..89 "{"
        Whitespace@89..98 "\n        "
        EXPR_BINARY@98..138
          EXPR_BINARY@98..128
            EXPR_STR@98..103
              Str@98..102 "\"S(\""
              Whitespace@102..103 " "
            Plus@103..104 "+"
            Whitespace@104..105 " "
            EXPR_CALL@105..128
              EXPR_BINARY@105..125
                EXPR_BINARY@105..115
                  EXPR_IDENT@105..109
                    PATH@105..109
                      Ident@105..109 "self"
                  Dot@109..110 "."
                  EXPR_IDENT@110..115
                    PATH@110..115
                      Ident@110..115 "value"
                Dot@115..116 "."
                EXPR_IDENT@116..125
                  PATH@116..125
                    Ident@116..125 "to_string"
              ARG_LIST@125..128
                LParen@125..126 "("
                RParen@126..127 ")"
                Whitespace@127..128 " "
          Plus@128..129 "+"
          Whitespace@129..130 " "
          EXPR_STR@130..138
            Str@130..133 "\")\""
            Whitespace@133..138 "\n    "
        RBrace@138..139 "}"
        Whitespace@139..140 "\n"
    RBrace@140..141 "}"
    Whitespace@141..143 "\n\n"
  FN@143..221
    FnKeyword@143..145 "fn"
    Whitespace@145..146 " "
    Ident@146..150 "main"
    PARAM_LIST@150..153
      LParen@150..151 "("
      RParen@151..152 ")"
      Whitespace@152..153 " "
    Arrow@153..155 "->"
    Whitespace@155..156 " "
    TYPE_UNIT@156..161
      UnitKeyword@156..160 "unit"
      Whitespace@160..161 " "
    BLOCK@161..221
      LBrace@161..162 "{"
      Whitespace@162..167 "\n    "
      STMT_LET@167..195
        LetKeyword@167..170 "let"
        Whitespace@170..171 " "
        PATTERN_VARIABLE@171..173
          Ident@171..172 "s"
          Whitespace@172..173 " "
        Eq@173..174 "="
        Whitespace@174..175 " "
        EXPR_STRUCT_LITERAL@175..189
          PATH@175..177
            Ident@175..176 "S"
            Whitespace@176..177 " "
          STRUCT_LITERAL_FIELD_LIST@177..189
            LBrace@177..178 "{"
            Whitespace@178..179 " "
            STRUCT_LITERAL_FIELD@179..188
              Ident@179..184 "value"
              Colon@184..185 ":"
              Whitespace@185..186 " "
              EXPR_INT@186..188
                Int@186..187 "7"
                Whitespace@187..188 " "
            RBrace@188..189 "}"
        Semi@189..190 ";"
        Whitespace@190..195 "\n    "
      STMT_EXPR@195..219
        EXPR_CALL@195..217
          EXPR_IDENT@195..202
            PATH@195..202
              Ident@195..202 "println"
          ARG_LIST@202..217
            LParen@202..203 "("
            ARG@203..216
              EXPR_CALL@203..216
                EXPR_BINARY@203..214
                  EXPR_IDENT@203..204
                    PATH@203..204
                      Ident@203..204 "s"
                  Dot@204..205 "."
                  EXPR_IDENT@205..214
                    PATH@205..214
                      Ident@205..214 "to_string"
                ARG_LIST@214..216
                  LParen@214..215 "("
                  RParen@215..216 ")"
            RParen@216..217 ")"
        Semi@217..218 ";"
        Whitespace@218..219 "\n"
      RBrace@219..220 "}"
      Whitespace@220..221 "\n"