FILE@0..142
  FN@0..142
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..7 "main"
    PARAM_LIST@7..10
      LParen@7..8 "("
      RParen@8..9 ")"
      Whitespace@9..10 " "
    Arrow@10..12 "->"
    Whitespace@12..13 " "
    TYPE_UNIT@13..18
      UnitKeyword@13..17 "unit"
      Whitespace@17..18 " "
    BLOCK@18..142
      LBrace@18..19 "{"
      Whitespace@19..24 "\n    "
      STMT_LET@24..49
        LetKeyword@24..27 "let"
        Whitespace@27..28 " "
        PATTERN_VARIABLE@28..30
          Ident@28..29 "a"
          Whitespace@29..30 " "
        Eq@30..31 "="
        Whitespace@31..32 " "
        EXPR_CALL@32..43
          EXPR_IDENT@32..40
            PATH@32..40
              Ident@32..35 "Ref"
              ColonColon@35..37 "::"
              Ident@37..40 "new"
          ARG_LIST@40..43
            LParen@40..41 "("
            ARG@41..42
              EXPR_INT@41..42
                Int@41..42 "1"
            RParen@42..43 ")"
        Semi@43..44 ";"
        Whitespace@44..49 "\n    "
      STMT_LET@49..64
        LetKeyword@49..52 "let"
        Whitespace@52..53 " "
        PATTERN_VARIABLE@53..55
          Ident@53..54 "b"
          Whitespace@54..55 " "
        Eq@55..56 "="
        Whitespace@56..57 " "
        EXPR_IDENT@57..58
          PATH@57..58
            Ident@57..58 "a"
        Semi@58..59 ";"
        Whitespace@59..64 "\n    "
      STMT_LET@64..90
        LetKeyword@64..67 "let"
        Whitespace@67..68 " "
        PATTERN_VARIABLE@68..70
          Ident@68..69 "c"
          Whitespace@69..70 " "
        Eq@70..71 "="
        Whitespace@71..72 " "
        EXPR_CALL@72..83
          EXPR_IDENT@72..80
            PATH@72..80
              Ident@72..75 "Ref"
              ColonColon@75..77 "::"
              Ident@77..80 "new"
          ARG_LIST@80..83
            LParen@80..81 "("
            ARG@81..82
              EXPR_INT@81..82
                Int@81..82 "1"
            RParen@82..83 ")"
        Semi@83..84 ";"
        Whitespace@84..90 "\n\n    "
      STMT_EXPR@90..117
        EXPR_CALL@90..111
          EXPR_IDENT@90..97
            PATH@90..97
              Ident@90..97 "println"
          ARG_LIST@97..111
            LParen@97..98 "("
            ARG@98..110
              EXPR_CALL@98..110
                EXPR_IDENT@98..104
                  PATH@98..104
                    Ident@98..104 "ptr_eq"
                ARG_LIST@104..110
                  LParen@104..105 "("
                  ARG@105..108
                    EXPR_IDENT@105..106
                      PATH@105..106
                        Ident@105..106 "a"
                    Comma@106..107 ","
                    Whitespace@107..108 " "
                  ARG@108..109
                    EXPR_IDENT@108..109
                      PATH@108..109
                        Ident@108..109 "b"
                  RParen@109..110 ")"
            RParen@110..111 ")"
        Semi@111..112 ";"
        Whitespace@112..117 "\n    "
      STMT_EXPR@117..140
        EXPR_CALL@117..138
          EXPR_IDENT@117..124
            PATH@117..124
              Ident@117..124 "println"
          ARG_LIST@124..138
            LParen@124..125 "("
            ARG@125..137
              EXPR_CALL@125..137
                EXPR_IDENT@125..131
                  PATH@125..131
                    Ident@125..131 "ptr_eq"
                ARG_LIST@131..137
                  LParen@131..132 "("
                  ARG@132..135
                    EXPR_IDENT@132..133
                      PATH@132..133
                        Ident@132..133 "a"
                    Comma@133..134 ","
                    Whitespace@134..135 " "
                  ARG@135..136
                    EXPR_IDENT@135..136
                      PATH@135..136
                        Ident@135..136 "c"
                  RParen@136..137 ")"
            RParen@137..138 ")"
        Semi@138..139 ";"
        Whitespace@139..140 "\n"
      RBrace@140..141 "}"
      Whitespace@141..142 "\n"