FILE@0..1024
  STRUCT@0..77
    ATTRIBUTE_LIST@0..31
      ATTRIBUTE@0..31
        Pound@0..1 "#"
        LBracket@1..2 "["
        Ident@2..8 "derive"
        LParen@8..9 "("
        Ident@9..13 "Hash"
        Comma@13..14 ","
        Whitespace@14..15 " "
        Ident@15..24 "PartialEq"
        Comma@24..25 ","
        Whitespace@25..26 " "
        Ident@26..28 "Eq"
        RParen@28..29 ")"
        RBracket@29..30 "]"
        Whitespace@30..31 "\n"
    StructKeyword@31..37 "struct"
    Whitespace@37..38 " "
    Ident@38..43 "Point"
    Whitespace@43..44 " "
    LBrace@44..45 "{"
    Whitespace@45..50 "\n    "
    STRUCT_FIELD_LIST@50..77
      STRUCT_FIELD@50..58
        Ident@50..51 "x"
        Colon@51..52 ":"
        Whitespace@52..53 " "
        TYPE_INT32@53..58
          Int32Keyword@53..58 "int32"
      Comma@58..59 ","
      Whitespace@59..64 "\n    "
      STRUCT_FIELD@64..72
        Ident@64..65 "y"
        Colon@65..66 ":"
        Whitespace@66..67 " "
        TYPE_INT32@67..72
          Int32Keyword@67..72 "int32"
      Comma@72..73 ","
      Whitespace@73..74 "\n"
      RBrace@74..75 "}"
      Whitespace@75..77 "\n\n"
  ENUM@77..157
    ATTRIBUTE_LIST@77..108
      ATTRIBUTE@77..108
        Pound@77..78 "#"
        LBracket@78..79 "["
        Ident@79..85 "derive"
        LParen@85..86 "("
        Ident@86..90 "Hash"
        Comma@90..91 ","
        Whitespace@91..92 " "
        Ident@92..101 "PartialEq"
        Comma@101..102 ","
        Whitespace@102..103 " "
        Ident@103..105 "Eq"
        RParen@105..106 ")"
        RBracket@106..107 "]"
        Whitespace@107..108 "\n"
    EnumKeyword@108..112 "enum"
    Whitespace@112..113 " "
    Ident@113..116 "Key"
    Whitespace@116..117 " "
    LBrace@117..118 "{"
    Whitespace@118..123 "\n    "
    VARIANT_LIST@123..157
      VARIANT@123..124
        Ident@123..124 "A"
      Comma@124..125 ","
      Whitespace@125..130 "\n    "
      VARIANT@130..138
        Ident@130..131 "B"
        TYPE_LIST@131..138
          LParen@131..132 "("
          ENUM_TUPLE_FIELD@132..137
            TYPE_INT32@132..137
              Int32Keyword@132..137 "int32"
          RParen@137..138 ")"
      Comma@138..139 ","
      Whitespace@139..144 "\n    "
      VARIANT@144..152
        Ident@144..145 "P"
        TYPE_LIST@145..152
          LParen@145..146 "("
          ENUM_TUPLE_FIELD@146..151
            TYPE_TAPP@146..151
              PATH@146..151
                Ident@146..151 "Point"
          RParen@151..152 ")"
      Comma@152..153 ","
      Whitespace@153..154 "\n"
      RBrace@154..155 "}"
      Whitespace@155..157 "\n\n"
  FN@157..305
    FnKeyword@157..159 "fn"
    Whitespace@159..160 " "
    Ident@160..173 "print_opt_int"
    PARAM_LIST@173..192
      LParen@173..174 "("
      PARAM@174..190
        Ident@174..175 "x"
        Colon@175..176 ":"
        Whitespace@176..177 " "
        TYPE_TAPP@177..190
          PATH@177..183
            Ident@177..183 "Option"
          TYPE_PARAM_LIST@183..190
            LBracket@183..184 "["
            TYPE_INT32@184..189
              Int32Keyword@184..189 "int32"
            RBracket@189..190 "]"
      RParen@190..191 ")"
      Whitespace@191..192 " "
    Arrow@192..194 "->"
    Whitespace@194..195 " "
    TYPE_UNIT@195..200
      UnitKeyword@195..199 "unit"
      Whitespace@199..200 " "
    BLOCK@200..305
      LBrace@200..201 "{"
      Whitespace@201..206 "\n    "
      EXPR_MATCH@206..302
        MatchKeyword@206..211 "match"
        Whitespace@211..212 " "
        EXPR_IDENT@212..214
          PATH@212..214
            Ident@212..213 "x"
            Whitespace@213..214 " "
        MATCH_ARM_LIST@214..302
          LBrace@214..215 "{"
          Whitespace@215..224 "\n        "
          MATCH_ARM@224..253
            PATTERN_CONSTR@224..240
              PATH@224..236
                Ident@224..230 "Option"
                ColonColon@230..232 "::"
                Ident@232..236 "Some"
              LParen@236..237 "("
              PATTERN_VARIABLE@237..238
                Ident@237..238 "v"
              RParen@238..239 ")"
              Whitespace@239..240 " "
            FatArrow@240..242 "=>"
            Whitespace@242..243 " "
            EXPR_CALL@243..253
              EXPR_IDENT@243..250
                PATH@243..250
                  Ident@243..250 "println"
              ARG_LIST@250..253
                LParen@250..251 "("
                ARG@251..252
                  EXPR_IDENT@251..252
                    PATH@251..252
                      Ident@251..252 "v"
                RParen@252..253 ")"
          Comma@253..254 ","
          Whitespace@254..263 "\n        "
          MATCH_ARM@263..294
            PATTERN_CONSTR@263..276
              PATH@263..276
                Ident@263..269 "Option"
                ColonColon@269..271 "::"
                Ident@271..275 "None"
                Whitespace@275..276 " "
            FatArrow@276..278 "=>"
            Whitespace@278..279 " "
            EXPR_CALL@279..294
              EXPR_IDENT@279..286
                PATH@279..286
                  Ident@279..286 "println"
              ARG_LIST@286..294
                LParen@286..287 "("
                ARG@287..293
                  EXPR_STR@287..293
                    Str@287..293 "\"none\""
                RParen@293..294 ")"
          Comma@294..295 ","
          Whitespace@295..300 "\n    "
          RBrace@300..301 "}"
          Whitespace@301..302 "\n"
      RBrace@302..303 "}"
      Whitespace@303..305 "\n\n"
  FN@305..1024
    FnKeyword@305..307 "fn"
    Whitespace@307..308 " "
    Ident@308..312 "main"
    PARAM_LIST@312..315
      LParen@312..313 "("
      RParen@313..314 ")"
      Whitespace@314..315 " "
    Arrow@315..317 "->"
    Whitespace@317..318 " "
    TYPE_UNIT@318..323
      UnitKeyword@318..322 "unit"
      Whitespace@322..323 " "
    BLOCK@323..1024
      LBrace@323..324 "{"
      Whitespace@324..329 "\n    "
      STMT_LET@329..358
        LetKeyword@329..332 "let"
        Whitespace@332..333 " "
        PATTERN_VARIABLE@333..336
          Ident@333..335 "m1"
          Whitespace@335..336 " "
        Eq@336..337 "="
        Whitespace@337..338 " "
        EXPR_CALL@338..352
          EXPR_IDENT@338..350
            PATH@338..350
              Ident@338..345 "HashMap"
              ColonColon@345..347 "::"
              Ident@347..350 "new"
          ARG_LIST@350..352
            LParen@350..351 "("
            RParen@351..352 ")"
        Semi@352..353 ";"
        Whitespace@353..358 "\n    "
      STMT_EXPR@358..382
        EXPR_CALL@358..376
          EXPR_BINARY@358..364
            EXPR_IDENT@358..360
              PATH@358..360
                Ident@358..360 "m1"
            Dot@360..361 "."
            EXPR_IDENT@361..364
              PATH@361..364
                Ident@361..364 "set"
          ARG_LIST@364..376
            LParen@364..365 "("
            ARG@365..373
              EXPR_IDENT@365..371
                PATH@365..371
                  Ident@365..368 "Key"
                  ColonColon@368..370 "::"
                  Ident@370..371 "A"
              Comma@371..372 ","
              Whitespace@372..373 " "
            ARG@373..375
              EXPR_INT@373..375
                Int@373..375 "10"
            RParen@375..376 ")"
        Semi@376..377 ";"
        Whitespace@377..382 "\n    "
      STMT_EXPR@382..409
        EXPR_CALL@382..403
          EXPR_BINARY@382..388
            EXPR_IDENT@382..384
              PATH@382..384
                Ident@382..384 "m1"
            Dot@384..385 "."
            EXPR_IDENT@385..388
              PATH@385..388
                Ident@385..388 "set"
          ARG_LIST@388..403
            LParen@388..389 "("
            ARG@389..400
              EXPR_CALL@389..398
                EXPR_IDENT@389..395
                  PATH@389..395
                    Ident@389..392 "Key"
                    ColonColon@392..394 "::"
                    Ident@394..395 "B"
                ARG_LIST@395..398
                  LParen@395..396 "("
                  ARG@396..397
                    EXPR_INT@396..397
                      Int@396..397 "1"
                  RParen@397..398 ")"
              Comma@398..399 ","
              Whitespace@399..400 " "
            ARG@400..402
              EXPR_INT@400..402
                Int@400..402 "20"
            RParen@402..403 ")"
        Semi@403..404 ";"
        Whitespace@404..409 "\n    "
      STMT_EXPR@409..432
        EXPR_CALL@409..426
          EXPR_IDENT@409..416
            PATH@409..416
              Ident@409..416 "println"
          ARG_LIST@416..426
            LParen@416..417 "("
            ARG@417..425
              EXPR_CALL@417..425
                EXPR_BINARY@417..423
                  EXPR_IDENT@417..419
                    PATH@417..419
                      Ident@417..419 "m1"
                  Dot@419..420 "."
                  EXPR_IDENT@420..423
                    PATH@420..423
                      Ident@420..423 "len"
                ARG_LIST@423..425
                  LParen@423..424 "("
                  RParen@424..425 ")"
            RParen@425..426 ")"
        Semi@426..427 ";"
        Whitespace@427..432 "\n    "
      STMT_EXPR@432..467
        EXPR_CALL@432..461
          EXPR_IDENT@432..445
            PATH@432..445
              Ident@432..445 "print_opt_int"
          ARG_LIST@445..461
            LParen@445..446 "("
            ARG@446..460
              EXPR_CALL@446..460
                EXPR_BINARY@446..452
                  EXPR_IDENT@446..448
                    PATH@446..448
                      Ident@446..448 "m1"
                  Dot@448..449 "."
                  EXPR_IDENT@449..452
                    PATH@449..452
                      Ident@449..452 "get"
                ARG_LIST@452..460
                  LParen@452..453 "("
                  ARG@453..459
                    EXPR_IDENT@453..459
                      PATH@453..459
                        Ident@453..456 "Key"
                        ColonColon@456..458 "::"
                        Ident@458..459 "A"
                  RParen@459..460 ")"
            RParen@460..461 ")"
        Semi@461..462 ";"
        Whitespace@462..467 "\n    "
      STMT_EXPR@467..504
        EXPR_CALL@467..498
          EXPR_IDENT@467..474
            PATH@467..474
              Ident@467..474 "println"
          ARG_LIST@474..498
            LParen@474..475 "("
            ARG@475..497
              EXPR_CALL@475..497
                EXPR_BINARY@475..486
                  EXPR_IDENT@475..477
                    PATH@475..477
                      Ident@475..477 "m1"
                  Dot@477..478 "."
                  EXPR_IDENT@478..486
                    PATH@478..486
                      Ident@478..486 "contains"
                ARG_LIST@486..497
                  LParen@486..487 "("
                  ARG@487..496
                    EXPR_CALL@487..496
                      EXPR_IDENT@487..493
                        PATH@487..493
                          Ident@487..490 "Key"
                          ColonColon@490..492 "::"
                          Ident@492..493 "B"
                      ARG_LIST@493..496
                        LParen@493..494 "("
                        ARG@494..495
                          EXPR_INT@494..495
                            Int@494..495 "1"
                        RParen@495..496 ")"
                  RParen@496..497 ")"
            RParen@497..498 ")"
        Semi@498..499 ";"
        Whitespace@499..504 "\n    "
      STMT_EXPR@504..530
        EXPR_CALL@504..524
          EXPR_BINARY@504..513
            EXPR_IDENT@504..506
              PATH@504..506
                Ident@504..506 "m1"
            Dot@506..507 "."
            EXPR_IDENT@507..513
              PATH@507..513
                Ident@507..513 "remove"
          ARG_LIST@513..524
            LParen@513..514 "("
            ARG@514..523
              EXPR_CALL@514..523
                EXPR_IDENT@514..520
                  PATH@514..520
                    Ident@514..517 "Key"
                    ColonColon@517..519 "::"
                    Ident@519..520 "B"
                ARG_LIST@520..523
                  LParen@520..521 "("
                  ARG@521..522
                    EXPR_INT@521..522
                      Int@521..522 "1"
                  RParen@522..523 ")"
            RParen@523..524 ")"
        Semi@524..525 ";"
        Whitespace@525..530 "\n    "
      STMT_EXPR@530..567
        EXPR_CALL@530..561
          EXPR_IDENT@530..537
            PATH@530..537
              Ident@530..537 "println"
          ARG_LIST@537..561
            LParen@537..538 "("
            ARG@538..560
              EXPR_CALL@538..560
                EXPR_BINARY@538..549
                  EXPR_IDENT@538..540
                    PATH@538..540
                      Ident@538..540 "m1"
                  Dot@540..541 "."
                  EXPR_IDENT@541..549
                    PATH@541..549
                      Ident@541..549 "contains"
                ARG_LIST@549..560
                  LParen@549..550 "("
                  ARG@550..559
                    EXPR_CALL@550..559
                      EXPR_IDENT@550..556
                        PATH@550..556
                          Ident@550..553 "Key"
                          ColonColon@553..555 "::"
                          Ident@555..556 "B"
                      ARG_LIST@556..559
                        LParen@556..557 "("
                        ARG@557..558
                          EXPR_INT@557..558
                            Int@557..558 "1"
                        RParen@558..559 ")"
                  RParen@559..560 ")"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      STMT_EXPR@567..591
        EXPR_CALL@567..584
          EXPR_IDENT@567..574
            PATH@567..574
              Ident@567..574 "println"
          ARG_LIST@574..584
            LParen@574..575 "("
            ARG@575..583
              EXPR_CALL@575..583
                EXPR_BINARY@575..581
                  EXPR_IDENT@575..577
                    PATH@575..577
                      Ident@575..577 "m1"
                  Dot@577..578 "."
                  EXPR_IDENT@578..581
                    PATH@578..581
                      Ident@578..581 "len"
                ARG_LIST@581..583
                  LParen@581..582 "("
                  RParen@582..583 ")"
            RParen@583..584 ")"
        Semi@584..585 ";"
        Whitespace@585..591 "\n\n    "
      STMT_LET@591..620
        LetKeyword@591..594 "let"
        Whitespace@594..595 " "
        PATTERN_VARIABLE@595..598
          Ident@595..597 "m2"
          Whitespace@597..598 " "
        Eq@598..599 "="
        Whitespace@599..600 " "
        EXPR_CALL@600..614
          EXPR_IDENT@600..612
            PATH@600..612
              Ident@600..607 "HashMap"
              ColonColon@607..609 "::"
              Ident@609..612 "new"
          ARG_LIST@612..614
            LParen@612..613 "("
            RParen@613..614 ")"
        Semi@614..615 ";"
        Whitespace@615..620 "\n    "
      STMT_LET@620..665
        LetKeyword@620..623 "let"
        Whitespace@623..624 " "
        PATTERN_VARIABLE@624..627
          Ident@624..626 "p1"
          Whitespace@626..627 " "
        Eq@627..628 "="
        Whitespace@628..629 " "
        EXPR_CALL@629..659
          EXPR_IDENT@629..637
            PATH@629..637
              Ident@629..632 "Ref"
              ColonColon@632..634 "::"
              Ident@634..637 "new"
          ARG_LIST@637..659
            LParen@637..638 "("
            ARG@638..658
              EXPR_STRUCT_LITERAL@638..658
                PATH@638..644
                  Ident@638..643 "Point"
                  Whitespace@643..644 " "
                STRUCT_LITERAL_FIELD_LIST@644..658
                  LBrace@644..645 "{"
                  Whitespace@645..646 " "
                  STRUCT_LITERAL_FIELD@646..650
                    Ident@646..647 "x"
                    Colon@647..648 ":"
                    Whitespace@648..649 " "
                    EXPR_INT@649..650
                      Int@649..650 "1"
                  Comma@650..651 ","
                  Whitespace@651..652 " "
                  STRUCT_LITERAL_FIELD@652..657
                    Ident@652..653 "y"
                    Colon@653..654 ":"
                    Whitespace@654..655 " "
                    EXPR_INT@655..657
                      Int@655..656 "2"
                      Whitespace@656..657 " "
                  RBrace@657..658 "}"
            RParen@658..659 ")"
        Semi@659..660 ";"
        Whitespace@660..665 "\n    "
      STMT_LET@665..710
        LetKeyword@665..668 "let"
        Whitespace@668..669 " "
        PATTERN_VARIABLE@669..672
          Ident@669..671 "p2"
          Whitespace@671..672 " "
        Eq@672..673 "="
        Whitespace@673..674 " "
        EXPR_CALL@674..704
          EXPR_IDENT@674..682
            PATH@674..682
              Ident@674..677 "Ref"
              ColonColon@677..679 "::"
              Ident@679..682 "new"
          ARG_LIST@682..704
            LParen@682..683 "("
            ARG@683..703
              EXPR_STRUCT_LITERAL@683..703
                PATH@683..689
                  Ident@683..688 "Point"
                  Whitespace@688..689 " "
                STRUCT_LITERAL_FIELD_LIST@689..703
                  LBrace@689..690 "{"
                  Whitespace@690..691 " "
                  STRUCT_LITERAL_FIELD@691..695
                    Ident@691..692 "x"
                    Colon@692..693 ":"
                    Whitespace@693..694 " "
                    EXPR_INT@694..695
                      Int@694..695 "1"
                  Comma@695..696 ","
                  Whitespace@696..697 " "
                  STRUCT_LITERAL_FIELD@697..702
                    Ident@697..698 "y"
                    Colon@698..699 ":"
                    Whitespace@699..700 " "
                    EXPR_INT@700..702
                      Int@700..701 "2"
                      Whitespace@701..702 " "
                  RBrace@702..703 "}"
            RParen@703..704 ")"
        Semi@704..705 ";"
        Whitespace@705..710 "\n    "
      STMT_EXPR@710..730
        EXPR_CALL@710..724
          EXPR_BINARY@710..716
            EXPR_IDENT@710..712
              PATH@710..712
                Ident@710..712 "m2"
            Dot@712..713 "."
            EXPR_IDENT@713..716
              PATH@713..716
                Ident@713..716 "set"
          ARG_LIST@716..724
            LParen@716..717 "("
            ARG@717..721
              EXPR_IDENT@717..719
                PATH@717..719
                  Ident@717..719 "p1"
              Comma@719..720 ","
              Whitespace@720..721 " "
            ARG@721..723
              EXPR_INT@721..723
                Int@721..723 "99"
            RParen@723..724 ")"
        Semi@724..725 ";"
        Whitespace@725..730 "\n    "
      STMT_EXPR@730..761
        EXPR_CALL@730..755
          EXPR_IDENT@730..743
            PATH@730..743
              Ident@730..743 "print_opt_int"
          ARG_LIST@743..755
            LParen@743..744 "("
            ARG@744..754
              EXPR_CALL@744..754
                EXPR_BINARY@744..750
                  EXPR_IDENT@744..746
                    PATH@744..746
                      Ident@744..746 "m2"
                  Dot@746..747 "."
                  EXPR_IDENT@747..750
                    PATH@747..750
                      Ident@747..750 "get"
                ARG_LIST@750..754
                  LParen@750..751 "("
                  ARG@751..753
                    EXPR_IDENT@751..753
                      PATH@751..753
                        Ident@751..753 "p1"
                  RParen@753..754 ")"
            RParen@754..755 ")"
        Semi@755..756 ";"
        Whitespace@756..761 "\n    "
      STMT_EXPR@761..792
        EXPR_CALL@761..786
          EXPR_IDENT@761..774
            PATH@761..774
              Ident@761..774 "print_opt_int"
          ARG_LIST@774..786
            LParen@774..775 "("
            ARG@775..785
              EXPR_CALL@775..785
                EXPR_BINARY@775..781
                  EXPR_IDENT@775..777
                    PATH@775..777
                      Ident@775..777 "m2"
                  Dot@777..778 "."
                  EXPR_IDENT@778..781
                    PATH@778..781
                      Ident@778..781 "get"
                ARG_LIST@781..785
                  LParen@781..782 "("
                  ARG@782..784
                    EXPR_IDENT@782..784
                      PATH@782..784
                        Ident@782..784 "p2"
                  RParen@784..785 ")"
            RParen@785..786 ")"
        Semi@786..787 ";"
        Whitespace@787..792 "\n    "
      STMT_EXPR@792..826
        EXPR_CALL@792..820
          EXPR_BINARY@792..798
            EXPR_IDENT@792..794
              PATH@792..794
                Ident@792..794 "p1"
            Dot@794..795 "."
            EXPR_IDENT@795..798
              PATH@795..798
                Ident@795..798 "set"
          ARG_LIST@798..820
            LParen@798..799 "("
            ARG@799..819
              EXPR_STRUCT_LITERAL@799..819
                PATH@799..805
                  Ident@799..804 "Point"
                  Whitespace@804..805 " "
                STRUCT_LITERAL_FIELD_LIST@805..819
                  LBrace@805..806 "{"
                  Whitespace@806..807 " "
                  STRUCT_LITERAL_FIELD@807..811
                    Ident@807..808 "x"
                    Colon@808..809 ":"
                    Whitespace@809..810 " "
                    EXPR_INT@810..811
                      Int@810..811 "9"
                  Comma@811..812 ","
                  Whitespace@812..813 " "
                  STRUCT_LITERAL_FIELD@813..818
                    Ident@813..814 "y"
                    Colon@814..815 ":"
                    Whitespace@815..816 " "
                    EXPR_INT@816..818
                      Int@816..817 "8"
                      Whitespace@817..818 " "
                  RBrace@818..819 "}"
            RParen@819..820 ")"
        Semi@820..821 ";"
        Whitespace@821..826 "\n    "
      STMT_EXPR@826..857
        EXPR_CALL@826..851
          EXPR_IDENT@826..839
            PATH@826..839
              Ident@826..839 "print_opt_int"
          ARG_LIST@839..851
            LParen@839..840 "("
            ARG@840..850
              EXPR_CALL@840..850
                EXPR_BINARY@840..846
                  EXPR_IDENT@840..842
                    PATH@840..842
                      Ident@840..842 "m2"
                  Dot@842..843 "."
                  EXPR_IDENT@843..846
                    PATH@843..846
                      Ident@843..846 "get"
                ARG_LIST@846..850
                  LParen@846..847 "("
                  ARG@847..849
                    EXPR_IDENT@847..849
                      PATH@847..849
                        Ident@847..849 "p1"
                  RParen@849..850 ")"
            RParen@850..851 ")"
        Semi@851..852 ";"
        Whitespace@852..857 "\n    "
      STMT_EXPR@857..894
        EXPR_CALL@857..887
          EXPR_IDENT@857..864
            PATH@857..864
              Ident@857..864 "println"
          ARG_LIST@864..887
            LParen@864..865 "("
            ARG@865..886
              EXPR_CALL@865..886
                EXPR_IDENT@865..878
                  PATH@865..878
                    Ident@865..874 "PartialEq"
                    ColonColon@874..876 "::"
                    Ident@876..878 "eq"
                ARG_LIST@878..886
                  LParen@878..879 "("
                  ARG@879..883
                    EXPR_IDENT@879..881
                      PATH@879..881
                        Ident@879..881 "p1"
                    Comma@881..882 ","
                    Whitespace@882..883 " "
                  ARG@883..885
                    EXPR_IDENT@883..885
                      PATH@883..885
                        Ident@883..885 "p2"
                  RParen@885..886 ")"
            RParen@886..887 ")"
        Semi@887..888 ";"
        Whitespace@888..894 "\n\n    "
      STMT_LET@894..923
        LetKeyword@894..897 "let"
        Whitespace@897..898 " "
        PATTERN_VARIABLE@898..901
          Ident@898..900 "m3"
          Whitespace@900..901 " "
        Eq@901..902 "="
        Whitespace@902..903 " "
        EXPR_CALL@903..917
          EXPR_IDENT@903..915
            PATH@903..915
              Ident@903..910 "HashMap"
              ColonColon@910..912 "::"
              Ident@912..915 "new"
          ARG_LIST@915..917
            LParen@915..916 "("
            RParen@916..917 ")"
        Semi@917..918 ";"
        Whitespace@918..923 "\n    "
      STMT_LET@923..957
        LetKeyword@923..926 "let"
        Whitespace@926..927 " "
        PATTERN_VARIABLE@927..930
          Ident@927..929 "k1"
          Whitespace@929..930 " "
        Eq@930..931 "="
        Whitespace@931..932 " "
        EXPR_CALL@932..951
          EXPR_IDENT@932..940
            PATH@932..940
              Ident@932..935 "Ref"
              ColonColon@935..937 "::"
              Ident@937..940 "new"
          ARG_LIST@940..951
            LParen@940..941 "("
            ARG@941..950
              EXPR_CALL@941..950
                EXPR_IDENT@941..947
                  PATH@941..947
                    Ident@941..944 "Key"
                    ColonColon@944..946 "::"
                    Ident@946..947 "B"
                ARG_LIST@947..950
                  LParen@947..948 "("
                  ARG@948..949
                    EXPR_INT@948..949
                      Int@948..949 "7"
                  RParen@949..950 ")"
            RParen@950..951 ")"
        Semi@951..952 ";"
        Whitespace@952..957 "\n    "
      STMT_LET@957..974
        LetKeyword@957..960 "let"
        Whitespace@960..961 " "
        PATTERN_VARIABLE@961..964
          Ident@961..963 "k2"
          Whitespace@963..964 " "
        Eq@964..965 "="
        Whitespace@965..966 " "
        EXPR_IDENT@966..968
          PATH@966..968
            Ident@966..968 "k1"
        Semi@968..969 ";"
        Whitespace@969..974 "\n    "
      STMT_EXPR@974..995
        EXPR_CALL@974..989
          EXPR_BINARY@974..980
            EXPR_IDENT@974..976
              PATH@974..976
                Ident@974..976 "m3"
            Dot@976..977 "."
            EXPR_IDENT@977..980
              PATH@977..980
                Ident@977..980 "set"
          ARG_LIST@980..989
            LParen@980..981 "("
            ARG@981..985
              EXPR_IDENT@981..983
                PATH@981..983
                  Ident@981..983 "k1"
              Comma@983..984 ","
              Whitespace@984..985 " "
            ARG@985..988
              EXPR_INT@985..988
                Int@985..988 "123"
            RParen@988..989 ")"
        Semi@989..990 ";"
        Whitespace@990..995 "\n    "
      STMT_EXPR@995..1022
        EXPR_CALL@995..1020
          EXPR_IDENT@995..1008
            PATH@995..1008
              Ident@995..1008 "print_opt_int"
          ARG_LIST@1008..1020
            LParen@1008..1009 "("
            ARG@1009..1019
              EXPR_CALL@1009..1019
                EXPR_BINARY@1009..1015
                  EXPR_IDENT@1009..1011
                    PATH@1009..1011
                      Ident@1009..1011 "m3"
                  Dot@1011..1012 "."
                  EXPR_IDENT@1012..1015
                    PATH@1012..1015
                      Ident@1012..1015 "get"
                ARG_LIST@1015..1019
                  LParen@1015..1016 "("
                  ARG@1016..1018
                    EXPR_IDENT@1016..1018
                      PATH@1016..1018
                        Ident@1016..1018 "k2"
                  RParen@1018..1019 ")"
            RParen@1019..1020 ")"
        Semi@1020..1021 ";"
        Whitespace@1021..1022 "\n"
      RBrace@1022..1023 "}"
      Whitespace@1023..1024 "\n"