FILE@0..659
  FN@0..126
    FnKeyword@0..2 "fn"
    Whitespace@2..3 " "
    Ident@3..13 "maybe_seed"
    PARAM_LIST@13..26
      LParen@13..14 "("
      PARAM@14..24
        Ident@14..18 "flag"
        Colon@18..19 ":"
        Whitespace@19..20 " "
        TYPE_BOOL@20..24
          BoolKeyword@20..24 "bool"
      RParen@24..25 ")"
      Whitespace@25..26 " "
    Arrow@26..28 "->"
    Whitespace@28..29 " "
    TYPE_TAPP@29..43
      PATH@29..35
        Ident@29..35 "Option"
      TYPE_PARAM_LIST@35..43
        LBracket@35..36 "["
        TYPE_INT32@36..41
          Int32Keyword@36..41 "int32"
        RBracket@41..42 "]"
        Whitespace@42..43 " "
    BLOCK@43..126
      LBrace@43..44 "{"
      Whitespace@44..49 "\n    "
      EXPR_IF@49..123
        IfKeyword@49..51 "if"
        Whitespace@51..52 " "
        EXPR_IF_COND@52..57
          EXPR_IDENT@52..57
            PATH@52..57
              Ident@52..56 "flag"
              Whitespace@56..57 " "
        EXPR_IF_THEN@57..89
          BLOCK@57..89
            LBrace@57..58 "{"
            Whitespace@58..67 "\n        "
            EXPR_CALL@67..87
              EXPR_IDENT@67..79
                PATH@67..79
                  Ident@67..73 "Option"
                  ColonColon@73..75 "::"
                  Ident@75..79 "Some"
              ARG_LIST@79..87
                LParen@79..80 "("
                ARG@80..81
                  EXPR_INT@80..81
                    Int@80..81 "3"
                RParen@81..82 ")"
                Whitespace@82..87 "\n    "
            RBrace@87..88 "}"
            Whitespace@88..89 " "
        ElseKeyword@89..93 "else"
        Whitespace@93..94 " "
        EXPR_IF_ELSE@94..123
          BLOCK@94..123
            LBrace@94..95 "{"
            Whitespace@95..104 "\n        "
            EXPR_IDENT@104..121
              PATH@104..121
                Ident@104..110 "Option"
                ColonColon@110..112 "::"
                Ident@112..116 "None"
                Whitespace@116..121 "\n    "
            RBrace@121..122 "}"
            Whitespace@122..123 "\n"
      RBrace@123..124 "}"
      Whitespace@124..126 "\n\n"
  FN@126..269
    FnKeyword@126..128 "fn"
    Whitespace@128..129 " "
    Ident@129..141 "maybe_double"
    PARAM_LIST@141..156
      LParen@141..142 "("
      PARAM@142..154
        Ident@142..147 "value"
        Colon@147..148 ":"
        Whitespace@148..149 " "
        TYPE_INT32@149..154
          Int32Keyword@149..154 "int32"
      RParen@154..155 ")"
      Whitespace@155..156 " "
    Arrow@156..158 "->"
    Whitespace@158..159 " "
    TYPE_TAPP@159..173
      PATH@159..165
        Ident@159..165 "Option"
      TYPE_PARAM_LIST@165..173
        LBracket@165..166 "["
        TYPE_INT32@166..171
          Int32Keyword@166..171 "int32"
        RBracket@171..172 "]"
        Whitespace@172..173 " "
    BLOCK@173..269
      LBrace@173..174 "{"
      Whitespace@174..179 "\n    "
      EXPR_IF@179..266
        IfKeyword@179..181 "if"
        Whitespace@181..182 " "
        EXPR_IF_COND@182..192
          EXPR_BINARY@182..192
            EXPR_IDENT@182..188
              PATH@182..188
                Ident@182..187 "value"
                Whitespace@187..188 " "
            Greater@188..189 ">"
            Whitespace@189..190 " "
            EXPR_INT@190..192
              Int@190..191 "0"
              Whitespace@191..192 " "
        EXPR_IF_THEN@192..232
          BLOCK@192..232
            LBrace@192..193 "{"
            Whitespace@193..202 "\n        "
            EXPR_CALL@202..230
              EXPR_IDENT@202..214
                PATH@202..214
                  Ident@202..208 "Option"
                  ColonColon@208..210 "::"
                  Ident@210..214 "Some"
              ARG_LIST@214..230
                LParen@214..215 "("
                ARG@215..224
                  EXPR_BINARY@215..224
                    EXPR_IDENT@215..221
                      PATH@215..221
                        Ident@215..220 "value"
                        Whitespace@220..221 " "
                    Star@221..222 "*"
                    Whitespace@222..223 " "
                    EXPR_INT@223..224
                      Int@223..224 "2"
                RParen@224..225 ")"
                Whitespace@225..230 "\n    "
            RBrace@230..231 "}"
            Whitespace@231..232 " "
        ElseKeyword@232..236 "else"
        Whitespace@236..237 " "
        EXPR_IF_ELSE@237..266
          BLOCK@237..266
            LBrace@237..238 "{"
            Whitespace@238..247 "\n        "
            EXPR_IDENT@247..264
              PATH@247..264
                Ident@247..253 "Option"
                ColonColon@253..255 "::"
                Ident@255..259 "None"
                Whitespace@259..264 "\n    "
            RBrace@264..265 "}"
            Whitespace@265..266 "\n"
      RBrace@266..267 "}"
      Whitespace@267..269 "\n\n"
  FN@269..403
    FnKeyword@269..271 "fn"
    Whitespace@271..272 " "
    Ident@272..283 "maybe_total"
    PARAM_LIST@283..296
      LParen@283..284 "("
      PARAM@284..294
        Ident@284..288 "flag"
        Colon@288..289 ":"
        Whitespace@289..290 " "
        TYPE_BOOL@290..294
          BoolKeyword@290..294 "bool"
      RParen@294..295 ")"
      Whitespace@295..296 " "
    Arrow@296..298 "->"
    Whitespace@298..299 " "
    TYPE_TAPP@299..313
      PATH@299..305
        Ident@299..305 "Option"
      TYPE_PARAM_LIST@305..313
        LBracket@305..306 "["
        TYPE_INT32@306..311
          Int32Keyword@306..311 "int32"
        RBracket@311..312 "]"
        Whitespace@312..313 " "
    BLOCK@313..403
      LBrace@313..314 "{"
      Whitespace@314..319 "\n    "
      STMT_LET@319..350
        LetKeyword@319..322 "let"
        Whitespace@322..323 " "
        PATTERN_VARIABLE@323..325
          Ident@323..324 "a"
          Whitespace@324..325 " "
        Eq@325..326 "="
        Whitespace@326..327 " "
        EXPR_TRY@327..344
          EXPR_CALL@327..343
            EXPR_IDENT@327..337
              PATH@327..337
                Ident@327..337 "maybe_seed"
            ARG_LIST@337..343
              LParen@337..338 "("
              ARG@338..342
                EXPR_IDENT@338..342
                  PATH@338..342
                    Ident@338..342 "flag"
              RParen@342..343 ")"
          Question@343..344 "?"
        Semi@344..345 ";"
        Whitespace@345..350 "\n    "
      STMT_LET@350..380
        LetKeyword@350..353 "let"
        Whitespace@353..354 " "
        PATTERN_VARIABLE@354..356
          Ident@354..355 "b"
          Whitespace@355..356 " "
        Eq@356..357 "="
        Whitespace@357..358 " "
        EXPR_TRY@358..374
          EXPR_CALL@358..373
            EXPR_IDENT@358..370
              PATH@358..370
                Ident@358..370 "maybe_double"
            ARG_LIST@370..373
              LParen@370..371 "("
              ARG@371..372
                EXPR_IDENT@371..372
                  PATH@371..372
                    Ident@371..372 "a"
              RParen@372..373 ")"
          Question@373..374 "?"
        Semi@374..375 ";"
        Whitespace@375..380 "\n    "
      EXPR_CALL@380..400
        EXPR_IDENT@380..392
          PATH@380..392
            Ident@380..386 "Option"
            ColonColon@386..388 "::"
            Ident@388..392 "Some"
        ARG_LIST@392..400
          LParen@392..393 "("
          ARG@393..398
            EXPR_BINARY@393..398
              EXPR_IDENT@393..395
                PATH@393..395
                  Ident@393..394 "a"
                  Whitespace@394..395 " "
              Plus@395..396 "+"
              Whitespace@396..397 " "
              EXPR_IDENT@397..398
                PATH@397..398
                  Ident@397..398 "b"
          RParen@398..399 ")"
          Whitespace@399..400 "\n"
      RBrace@400..401 "}"
      Whitespace@401..403 "\n\n"
  FN@403..560
    FnKeyword@403..405 "fn"
    Whitespace@405..406 " "
    Ident@406..410 "show"
    PARAM_LIST@410..431
      LParen@410..411 "("
      PARAM@411..429
        Ident@411..414 "opt"
        Colon@414..415 ":"
        Whitespace@415..416 " "
        TYPE_TAPP@416..429
          PATH@416..422
            Ident@416..422 "Option"
          TYPE_PARAM_LIST@422..429
            LBracket@422..423 "["
            TYPE_INT32@423..428
              Int32Keyword@423..428 "int32"
            RBracket@428..429 "]"
      RParen@429..430 ")"
      Whitespace@430..431 " "
    Arrow@431..433 "->"
    Whitespace@433..434 " "
    TYPE_STRING@434..441
      StringKeyword@434..440 "string"
      Whitespace@440..441 " "
    BLOCK@441..560
      LBrace@441..442 "{"
      Whitespace@442..447 "\n    "
      EXPR_MATCH@447..557
        MatchKeyword@447..452 "match"
        Whitespace@452..453 " "
        EXPR_IDENT@453..457
          PATH@453..457
            Ident@453..456 "opt"
            Whitespace@456..457 " "
        MATCH_ARM_LIST@457..557
          LBrace@457..458 "{"
          Whitespace@458..467 "\n        "
          MATCH_ARM@467..517
            PATTERN_CONSTR@467..487
              PATH@467..479
                Ident@467..473 "Option"
                ColonColon@473..475 "::"
                Ident@475..479 "Some"
              LParen@479..480 "("
              PATTERN_VARIABLE@480..485
                Ident@480..485 "value"
              RParen@485..486 ")"
              Whitespace@486..487 " "
            FatArrow@487..489 "=>"
            Whitespace@489..490 " "
            EXPR_BINARY@490..517
              EXPR_STR@490..498
                Str@490..497 "\"some=\""
                Whitespace@497..498 " "
              Plus@498..499 "+"
              Whitespace@499..500 " "
              EXPR_CALL@500..517
                EXPR_BINARY@500..515
                  EXPR_IDENT@500..505
                    PATH@500..505
                      Ident@500..505 "value"
                  Dot@505..506 "."
                  EXPR_IDENT@506..515
                    PATH@506..515
                      Ident@506..515 "to_string"
                ARG_LIST@515..517
                  LParen@515..516 "("
                  RParen@516..517 ")"
          Comma@517..518 ","
          Whitespace@518..527 "\n        "
          MATCH_ARM@527..549
            PATTERN_CONSTR@527..540
              PATH@527..540
                Ident@527..533 "Option"
                ColonColon@533..535 "::"
                Ident@535..539 "None"
                Whitespace@539..540 " "
            FatArrow@540..542 "=>"
            Whitespace@542..543 " "
            EXPR_STR@543..549
              Str@543..549 "\"none\""
          Comma@549..550 ","
          Whitespace@550..555 "\n    "
          RBrace@555..556 "}"
          Whitespace@556..557 "\n"
      RBrace@557..558 "}"
      Whitespace@558..560 "\n\n"
  FN@560..659
    FnKeyword@560..562 "fn"
    Whitespace@562..563 " "
    Ident@563..567 "main"
    PARAM_LIST@567..570
      LParen@567..568 "("
      RParen@568..569 ")"
      Whitespace@569..570 " "
    Arrow@570..572 "->"
    Whitespace@572..573 " "
    TYPE_UNIT@573..578
      UnitKeyword@573..577 "unit"
      Whitespace@577..578 " "
    BLOCK@578..659
      LBrace@578..579 "{"
      Whitespace@579..584 "\n    "
      STMT_EXPR@584..622
        EXPR_CALL@584..616
          EXPR_IDENT@584..591
            PATH@584..591
              Ident@584..591 "println"
          ARG_LIST@591..616
            LParen@591..592 "("
            ARG@592..615
              EXPR_CALL@592..615
                EXPR_IDENT@592..596
                  PATH@592..596
                    Ident@592..596 "show"
                ARG_LIST@596..615
                  LParen@596..597 "("
                  ARG@597..614
                    EXPR_CALL@597..614
                      EXPR_IDENT@597..608
                        PATH@597..608
                          Ident@597..608 "maybe_total"
                      ARG_LIST@608..614
                        LParen@608..609 "("
                        ARG@609..613
                          EXPR_BOOL@609..613
                            TrueKeyword@609..613 "true"
                        RParen@613..614 ")"
                  RParen@614..615 ")"
            RParen@615..616 ")"
        Semi@616..617 ";"
        Whitespace@617..622 "\n    "
      STMT_EXPR@622..657
        EXPR_CALL@622..655
          EXPR_IDENT@622..629
            PATH@622..629
              Ident@622..629 "println"
          ARG_LIST@629..655
            LParen@629..630 "("
            ARG@630..654
              EXPR_CALL@630..654
                EXPR_IDENT@630..634
                  PATH@630..634
                    Ident@630..634 "show"
                ARG_LIST@634..654
                  LParen@634..635 "("
                  ARG@635..653
                    EXPR_CALL@635..653
                      EXPR_IDENT@635..646
                        PATH@635..646
                          Ident@635..646 "maybe_total"
                      ARG_LIST@646..653
                        LParen@646..647 "("
                        ARG@647..652
                          EXPR_BOOL@647..652
                            FalseKeyword@647..652 "false"
                        RParen@652..653 ")"
                  RParen@653..654 ")"
            RParen@654..655 ")"
        Semi@655..656 ";"
        Whitespace@656..657 "\n"
      RBrace@657..658 "}"
      Whitespace@658..659 "\n"