FILE@0..262
  PACKAGE@0..15
    PackageKeyword@0..7 "package"
    Whitespace@7..8 " "
    Ident@8..12 "main"
    Semi@12..13 ";"
    Whitespace@13..15 "\n\n"
  STRUCT@15..33
    StructKeyword@15..21 "struct"
    Whitespace@21..22 " "
    Ident@22..28 "Values"
    Whitespace@28..29 " "
    LBrace@29..30 "{"
    STRUCT_FIELD_LIST@30..33
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  IMPL@33..159
    ImplKeyword@33..37 "impl"
    Whitespace@37..38 " "
    TYPE_TAPP@38..47
      PATH@38..47
        Ident@38..46 "Iterator"
        Whitespace@46..47 " "
    ForKeyword@47..50 "for"
    Whitespace@50..51 " "
    TYPE_TAPP@51..58
      PATH@51..58
        Ident@51..57 "Values"
        Whitespace@57..58 " "
    LBrace@58..59 "{"
    Whitespace@59..64 "\n    "
    IMPL_ASSOCIATED_TYPE@64..88
      TypeKeyword@64..68 "type"
      Whitespace@68..69 " "
      Ident@69..73 "Item"
      Whitespace@73..74 " "
      Eq@74..75 "="
      Whitespace@75..76 " "
      TYPE_INT32@76..81
        Int32Keyword@76..81 "int32"
      Semi@81..82 ";"
      Whitespace@82..88 "\n\n    "
    FN@88..156
      FnKeyword@88..90 "fn"
      Whitespace@90..91 " "
      Ident@91..95 "next"
      PARAM_LIST@95..110
        LParen@95..96 "("
        PARAM@96..108
          Ident@96..100 "self"
          Colon@100..101 ":"
          Whitespace@101..102 " "
          TYPE_TAPP@102..108
            PATH@102..108
              Ident@102..108 "Values"
        RParen@108..109 ")"
        Whitespace@109..110 " "
      Arrow@110..112 "->"
      Whitespace@112..113 " "
      TYPE_TAPP@113..127
        PATH@113..119
          Ident@113..119 "Option"
        TYPE_PARAM_LIST@119..127
          LBracket@119..120 "["
          TYPE_INT32@120..125
            Int32Keyword@120..125 "int32"
          RBracket@125..126 "]"
          Whitespace@126..127 " "
      BLOCK@127..156
        LBrace@127..128 "{"
        Whitespace@128..137 "\n        "
        EXPR_IDENT@137..154
          PATH@137..154
            Ident@137..143 "Option"
            ColonColon@143..145 "::"
            Ident@145..149 "None"
            Whitespace@149..154 "\n    "
        RBrace@154..155 "}"
        Whitespace@155..156 "\n"
    RBrace@156..157 "}"
    Whitespace@157..159 "\n\n"
  FN@159..262
    FnKeyword@159..161 "fn"
    Whitespace@161..162 " "
    Ident@162..166 "main"
    PARAM_LIST@166..169
      LParen@166..167 "("
      RParen@167..168 ")"
      Whitespace@168..169 " "
    Arrow@169..171 "->"
    Whitespace@171..172 " "
    TYPE_UNIT@172..177
      UnitKeyword@172..176 "unit"
      Whitespace@176..177 " "
    BLOCK@177..262
      LBrace@177..178 "{"
      Whitespace@178..183 "\n    "
      STMT_EXPR@183..260
        EXPR_FOR@183..258
          ForKeyword@183..186 "for"
          Whitespace@186..187 " "
          PATTERN_VARIABLE@187..193
            Ident@187..192 "value"
            Whitespace@192..193 " "
          InKeyword@193..195 "in"
          Whitespace@195..196 " "
          EXPR_PAREN@196..208
            LParen@196..197 "("
            EXPR_STRUCT_LITERAL@197..206
              PATH@197..204
                Ident@197..203 "Values"
                Whitespace@203..204 " "
              STRUCT_LITERAL_FIELD_LIST@204..206
                LBrace@204..205 "{"
                RBrace@205..206 "}"
            RParen@206..207 ")"
            Whitespace@207..208 " "
          BLOCK@208..258
            LBrace@208..209 "{"
            Whitespace@209..218 "\n        "
            STMT_EXPR@218..257
              EXPR_CALL@218..251
                EXPR_IDENT@218..232
                  PATH@218..232
                    Ident@218..232 "string_println"
                ARG_LIST@232..251
                  LParen@232..233 "("
                  ARG@233..250
                    EXPR_CALL@233..250
                      EXPR_BINARY@233..248
                        EXPR_IDENT@233..238
                          PATH@233..238
                            Ident@233..238 "value"
                        Dot@238..239 "."
                        EXPR_IDENT@239..248
                          PATH@239..248
                            Ident@239..248 "to_string"
                      ARG_LIST@248..250
                        LParen@248..249 "("
                        RParen@249..250 ")"
                  RParen@250..251 ")"
              Semi@251..252 ";"
              Whitespace@252..257 "\n    "
            RBrace@257..258 "}"
        Semi@258..259 ";"
        Whitespace@259..260 "\n"
      RBrace@260..261 "}"
      Whitespace@261..262 "\n"